[2016-10-01 08:59] pires commented on #33729
In the same VM you're running `kubeadm init`, and without killing `kubeadm` process, can you run `netstat -atnp tcp |grep 443` and print the results here?

[2016-10-01 09:10] pires opened #33875 "Reload component without restarting process"
Is it possible or is it not recommended at all?

For example, in scenarios where TLS certificates are rotated periodically, it seems to me it would be preferred for the API server to reload them without restarting the process. Thoughts?

[2016-10-01 09:13] pires commented on #27698
Related to https://github.com/kubernetes/kubernetes/pull/30707 and https://github.com/kubernetes/kubernetes/issues/30395.

[2016-10-01 09:51] #23568 closed

[2016-10-01 10:00] moravit commented on #33666
I would like to take a peek at this.

[2016-10-01 10:12] k8s-merge-robot opened #33876 "[k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2253/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching {Kubernetes e2e suite}

[code]

Previous issues for this test: #27655

[2016-10-01 11:29] wojtek-t commented on #33858
Fixed by https://github.com/kubernetes/kubernetes/pull/33848

[2016-10-01 11:29] #33858 closed

[2016-10-01 11:30] wojtek-t commented on #33712
Fixed by https://github.com/kubernetes/kubernetes/pull/33848

[2016-10-01 11:30] #33712 closed

[2016-10-01 11:43] fgrzadkowski commented on #33776
Upgrading HPA to GA was done by @piosz. Can you please fix the doc?

@tonglil It'd be great if you could send a PR with a fix. It's explained in the linked issue what has to be fixed.

[2016-10-01 12:16] errordeveloper opened #33877 "kubectl produces a very cryptic message on DNS failure"
I am seeing this and it's very cryptic. I'm using GKE and it makes feel like GKE is `accounts.google.com` flaky and then I catch the `write udp` part, and I am very confused thinking about why there is anything to do with UDP?

[code]

I think a much more useful message, would be:

[code]

Additionally, I think it may be good idea to retry lookup a couple of times, particularly in the case of UDP

[2016-10-01 12:19] #18386 closed

[2016-10-01 12:42] edevil commented on #33789
I also have the same problem. I have a 1.3.8 cluster that starts up fine with these kubelet flags:

[code]

However if I switch to kubelet 1.4.0 I never see the cbr0 bridge being brought up, so docker can't start, and kubelet also exits:

[code]

[2016-10-01 12:43] k8s-merge-robot opened #33878 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod/30/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #28657 #30519

[2016-10-01 12:48] edevil commented on #33789
FTR, I tried using the kubenet plugin instead of configure-cbr0 but I still don't see the cbr0 bridge online before kubelet exits...

I used these flags:
[code]

The log output was:
[code]

[2016-10-01 14:16] k8s-merge-robot opened #33880 "TestSecretController {secret}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17610/

Failed: TestSecretController {secret}

[code]

[2016-10-01 14:59] mingfang commented on #21317
Is this in v1.4?
I'm getting this error

[code]

my version
[code]

[2016-10-01 15:17] Bregor commented on #27607
BTW, running scheduler with `--address=127.0.0.1` is impossible too.
Is there any other way to hide ports `1025*` from outside world?

[2016-10-01 15:27] vishh commented on #33222
I suspect we can run kubedns in the `Guaranteed` class by running [pod
nanny](https://github.com/kubernetes/contrib/tree/master/addon-resizer)
alongside it. Pod nanny can resize the kubedns pod as and when required.
Given that it will be a guaranteed pod, it will most-likely never get
evicted.

[2016-10-01 15:42] #28180 closed

[2016-10-01 16:09] intellix commented on #14987
I'm going to start looking into K8S and need to learn what I need to write in my Manifest files to create services, pods etc. JSON Schema coupled with an autocomplete plugin that reads from such a schema would be the easiest way to write manifest files, as you generally have an idea of what information you need to provide for Services, Pods, Replication Controllers etc as you type.

This would be

[2016-10-01 16:52] erikgrinaker commented on #33830
This is already possible by creating a service with a static endpoint. For example, we use the following to create a `rabbitmq01` service which points to an internal Google Cloud load balancer with IP `10.132.0.15` in front of our RabbitMQ cluster:

[code]

[2016-10-01 16:53] sweeks-imvu commented on #32336
Is there any update on this?

[2016-10-01 16:58] thockin commented on #33222
I really do not think eviction should be tied to compressible-resource
overages, or at least that is the VERY LOWEST factor

On Sat, Oct 1, 2016 at 8:28 AM, Vish Kannan <notifications@github.com>
wrote:

[2016-10-01 17:04] thockin commented on #33110
fixed

[2016-10-01 17:04] #33110 closed

[2016-10-01 17:16] owenhaynes commented on #33830
That's the other way round, there your pointing to a internal load balancer
which already exists.

Want to put a internal load balancer in front a  k8 cluster service.

On 1 Oct 2016 5:53 pm, "Erik Grinaker" <notifications@github.com> wrote:

[2016-10-01 17:16] zhang8473 commented on #33689
However, the kubeadm blocks. No error message and no status report, which is not proper for a product.

[2016-10-01 17:25] luxas commented on #33689
Well, I hope you calm down and realize that we actively chose to not "support" Wily now in the first release, but we are going to increase our scope as we have resources to test it, and develop further

We have worked very hard on this "product" as you call it, and dealing with every possible configuration the user may have clearly is impossible. You're welcome to help contributing if you want to

[2016-10-01 17:26] erikgrinaker commented on #33830
Ah, my mistake.

[2016-10-01 17:35] smarterclayton commented on #14987
The openapi spec docs in Kube 1.4 and 1.5-alpha (master) *should* be
jsonschema.

https://github.com/kubernetes/kubernetes/tree/master/api/openapi-spec

On Oct 1, 2016, at 12:09 PM, Dominic Watson <notifications@github.com>
wrote:

I'm going to start looking into K8S and need to learn what I need to write
in my Manifest files to create services, pods etc. JSON Schema coupled with
an autocomplete p

[2016-10-01 17:38] smarterclayton commented on #31762
Thanks - I think your second point accurately captures the need.  We
probably don't need mutability immediately, but we should explore the
design space around communication between a babysitter and the forgiveness
policy more.

[2016-10-01 17:50] kfox1111 opened #33881 "kubeadm cluster dns"
kubeadm version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.1534+cf7301f16c0363-dirty", GitCommit:"cf7301f16c036363c4fdcb5d4d0c867720214598", GitTreeState:"dirty", BuildDate:"2016-09-27T18:10:39Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}

**What happened**:

I ran:
sudo kubeadm init --service-cidr 172.16.128.0/24

The kube-dns service picks 172.16.128.10 and

[2016-10-01 18:01] k8s-merge-robot opened #33882 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/356/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]

[2016-10-01 18:01] k8s-merge-robot opened #33883 "[k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2253/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected {Kubernetes e2e suite}

[code]

[2016-10-01 18:31] #33642 closed

[2016-10-01 18:41] jonathan-kosgei commented on #33798
@kcichon-fsc hi, appreciate copying the chat over, however, it's not immediately clear what steps to take to fix the issue. Having the same issue on ubuntu xenial

[2016-10-01 18:45] madhusudancs commented on #31071
@owenhaynes Could you please tell a little bit more about why it did not work for you on AWS? Once you have a Kubernetes cluster created (by whichever method you prefer, `kube-up`, [`kubeadm`](http://kubernetes.io/docs/getting-started-guides/kubeadm/) or `kops`), the steps described in the federation admin guide should work irrespective of where the cluster is. If it isn't then there is a bug that

[2016-10-01 18:55] thockin commented on #32803
It's a little draconian, but not a terrible idea.  But is this not covered
by API versioning?  Kubelet says "I want API v1.5" and runtime says "I
don't support that".  == fail.  It's a nefarious failure mode for end-users
though.

On Fri, Sep 30, 2016 at 5:37 PM, Euan Kemp <notifications@github.com> wrote:

[2016-10-01 18:57] hongchaodeng commented on #33653
Serializable read will be slightly faster.

[2016-10-01 19:04] dvohra commented on #19235
Same issue "etcd cluster is unavailable or misconfigured"
[code]

[2016-10-01 19:18] justinsb opened #33884 "Master is added to NodePort / AWS ELBs"
I noticed that the master node is now added to NodePort and to AWS ELBs, now that the master is registered as a Node.

I think we probably don't want to do this, as we don't want to be bouncing traffic through the master, for performance reasons.  Also the master doesn't always run kube-proxy.

[2016-10-01 19:19] justinsb commented on #33884
cc @girishkalele @thockin

[2016-10-01 19:22] justinsb commented on #33884
Another reason this is a bad idea: this also means we're likely to open up a port on the master

[2016-10-01 19:45] owenhaynes commented on #31071
Get the following error when running the deploy script from the new deployment way

Supported providers: gce, gke

Using the google prebuilt images and just the following command

federation/deploy/deploy.sh deploy_federation with KUBERNETES_PROVIDER=aws set

The error looks to come from here

https://github.com/kubernetes/kubernetes/blob/master/federation/deploy/deploy.sh
[code]
 I think #31908 i

[2016-10-01 19:46] marun commented on #33689
@zhang8473 Are there any errors in the kubelet logs?

[2016-10-01 19:47] madhusudancs commented on #33865
@bprashanth #33880 is a duplicate of this issue, but I am closing this in favor of the bot filed one because the bot is probably going to reopen otherwise. But thanks though.

[2016-10-01 19:47] #33865 closed

[2016-10-01 19:50] madhusudancs commented on #33880
@kshafiee could you please take a look? Github doesn't allow me to assign this to you, so assigning it to @nikhiljindal to shepherd this. He knows more about this code to review the fix than I do.

[2016-10-01 20:13] madhusudancs commented on #31071
@owenhaynes oops, my fault. I will fix that and hopefully we can push that out with 1.4.1.

For now, a workaround is to replace the `exit 1` in that block with `return`. You can manually modify that script and try it.

The right fix is it branch out to https://github.com/kubernetes/kubernetes/blob/master/federation/deploy/deploy.sh#L66 in the case of non-GCE/GKE clusters.

[2016-10-01 20:16] madhusudancs opened #33886 "New federation deployment mechanism exits with an error for non-GCP clusters."
As described here - https://github.com/kubernetes/kubernetes/issues/31071#issuecomment-250933234

[code]

exits because the provider isn't gce/gke. However, the deployment mechanism itself should work on all the providers. We shouldn't exit, but just branch out to kubeconfig check instead.

cc @owenhaynes @kubernetes/sig-cluster-federation

[2016-10-01 20:17] madhusudancs commented on #31071
@owenhaynes filed Issue #33886 to track this and assigned it to myself.

[2016-10-01 20:17] madhusudancs commented on #33886
Fix to this should also be cherry-picked into the next 1.4.x patch release.

[2016-10-01 21:36] tonglil commented on #33776
Looks like someone already beat me to the punch: https://github.com/kubernetes/kubernetes.github.io/pull/1356.

[2016-10-01 21:52] monaka commented on #30769
Like this. https://github.com/monami-ya/kubernetes/commit/5e1404f71d3b16af2c7ce4ae32ed6893f5f56a2a

[2016-10-01 21:53] thockin commented on #22698
I lost this email and just found it again.  Have you (hopefully) figured
this out?

On May 5, 2016 12:33 AM, "Marc Lough" <notifications@github.com> wrote:

[2016-10-02 00:43] kcichon-fsc commented on #33798
Sorry.

All we did was follow the kubeadm instructions and then we just had to do the following step and everything worked like we expected.

We set these 2 properties

net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1

and restarted the master.

[2016-10-02 00:45] kcichon-fsc commented on #33798
Sorry... we just followed the kubeadm instructions and then had to flip these to properties to be set like this:

net.bridge.bridge-nf-call-iptables = 1
net.bridge.bridge-nf-call-ip6tables = 1

After setting those and rebooting the master we were able to access our other pods by their service DNS names.

[2016-10-02 01:04] davidopp commented on #20064
@jayunit100 I assume you'll implement https://github.com/kubernetes/kubernetes/issues/20064#issuecomment-212070819 ?

[2016-10-02 01:05] davidopp commented on #32535
reassigned to @kevin-wangzefeng

[2016-10-02 01:08] bprashanth commented on #33222
Increasing requests for kube-dns has the awful downside of evicting user pods (the last time this happened we had an epic disaster: https://github.com/kubernetes/kubernetes/issues/23556). My first reaction coming from a "process management" world is: I just want cpulimits+nice.

[2016-10-02 01:34] davidopp commented on #33772
@wojtek-t @kevin-wangzefeng @xiang90

[2016-10-02 01:35] davidopp commented on #31968
@wojtek-t @xiang90

[2016-10-02 01:35] k8s-merge-robot opened #33887 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-slow/346/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update endpoints: http {Kubernetes e2e suite}

[code]

[2016-10-02 01:39] xiang90 commented on #33772
@davidopp Self assigned. Will try to resolve.

[2016-10-02 02:23] euank commented on #33873
:+1:

They're only useful for logging/informational-metadata, and I don't think that's a good enough argument for keeping them.

I also don't think the docker integration makes them visible as information, just in logging, so we're not removing information from the user in that case.

In the rkt case, we did preserve those names (e.g. you could find them in the rkt pod manifest), but we have no qu

[2016-10-02 03:11] cmcconomy opened #33888 "Intro URL in readme leads to 404 Not Found"
The URL http://kubernetes.io/docs/getting-started-guides/docker/ in the readme leads to a 404 Not Found

[2016-10-02 05:10] thockin commented on #33222
We should dynamically increase request to what we think is a realistic
value - this is not a free ride.  But I don't think we need quota.

On Sat, Oct 1, 2016 at 6:08 PM, Prashanth B <notifications@github.com>
wrote:

[2016-10-02 06:12] bprashanth commented on #33222
yeah but what's to prevent everyone else from doing the same? at which point someone gets kicked out. do we have a priority level setting that says never kick dns out?

[2016-10-02 08:44] edsiper commented on #33729
I've faced the same issue here in my Ubuntu 16.04, in my case the problem was:

- kubelet service was __not__ running
- I had a previous service (personal web server) running in TCP port 8080 (discovery use the same port but there is no error!)

fixed with:

- sudo service kubelet stop
- # stop my personal web server on 8080
- sudo service kubelet start
- kubeadm init

after that kubeadm worked pr

[2016-10-02 09:35] jonathan-kosgei commented on #33798
Thanks.

I've tried that; these are the exact steps I've taken:
[code]
Trying `nslookup kubernetes.default` returns:
[code]

[2016-10-02 11:01] jonathan-kosgei commented on #33798
@bboreham
[code]

My requests don't seem to reflect.

[2016-10-02 11:03] jonathan-kosgei commented on #33798
Trying to hit the kube-dns pod directly:
[code]

[2016-10-02 12:40] #32564 closed

[2016-10-02 12:47] k8s-merge-robot opened #33891 "[k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed [Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/125/

Failed: [k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed [Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}

[code]

[2016-10-02 13:06] johscheuer commented on #33790
@bboreham awesome! Thanks this fixed it also for calico we should probably document this step anywhere?

btw. if you like `sysctl` more :)

[code]

[2016-10-02 13:06] #33790 closed

[2016-10-02 14:07] justinsb opened #33892 "We should automatically capture a CPU dump and/or heapdump during e2e"
In order to diagnose things like #32214, we need to know where CPU & memory is being used.

I propose we have an e2e run that captures heap & memory profiling information.  Likely the overhead of this will mean we can't trigger on it directly, but rather when we have a heap or memory issue we would refer to it, or to the history of those profiles.

[2016-10-02 14:08] justinsb commented on #32214
So I'm not entirely sure that I am the right owner for this

But we should probably have a test run that captures a heapdump & a CPU profile.  Likely the overhead of that will at least trigger the CPU limits, but it's probably a reasonable guide to understanding where the CPU/memory is going.  For example, we know there's a pathological regex affecting CPU usage, but I don't think fixing things pe

[2016-10-02 14:35] bboreham commented on #33790
We will add the setting to the install of weave-kube; users should not have to apply it themselves.

And I think this setting is not required for Calico because it works differently.

[2016-10-02 15:50] thockin commented on #33222
DNS is marked as critical, but no, nobody should be kicked out for using
spare cycles.  We schedule on requests, and we don't overcommit.  If
everyone runs full tilt and eats as much CPU as they can, everyone gets
their request.  99.999% of the time this is not the case and there are
spare cycles.

Ideally, tooling would automatically adjust DNS to have more CPU request
when it needs more on a con

[2016-10-02 16:15] bprashanth commented on #33222
It is easy to write a feedback loop that scrapes heapster data (I think the nanny Vish mentioned does some form of this). My previous question was in this context. If everyone kept bumping up requests when they observed their pod hitting request, what happens? Do we try to reschedule dns, leave it running with too little cpu, or kick something else out and scale dns? I want to kick things out base

[2016-10-02 16:21] allannaim opened #33893 "Deleting Federated Ingress object doesn't DELETE associated load balancers and external IP address [On GCP]"
**Kubernetes version** (use `kubectl version`): 1.4

**Environment**:
- **Cloud provider or hardware configuration**: GCP

Deleting Federated Ingress object doesn't remove associated load balancers and external IP address [On GCP]

[2016-10-02 16:55] yolkov opened #33894 "kubedns doesn't start because of label kubernetes.io/cluster-service: "true""
BUG REPORT:

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f9

[2016-10-02 17:24] k8s-merge-robot opened #33895 "[k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-alpha-features-release-1.4/262/

Failed: [k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working mysql cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-10-02 17:26] smarterclayton commented on #30819
2.7. optionally add a conversion from annotations

[2016-10-02 19:52] k8s-merge-robot opened #33896 "[k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-release-1.4/753/

Failed: [k8s.io] Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite}

[code]

Previous issues for this test: #31498

[2016-10-02 21:05] arpat commented on #33729
I cured my hung kubeadm init on debian stretch, docker 1.10.3 by enabling  `cgroup_enable=memory` on the kernel boot cmdline.

The `Following Cgroup subsystem not mounted: [memory]` logs were hard to notice.

[code]

[2016-10-02 21:18] kargakis commented on #33845
@kubernetes/deployment

[2016-10-02 21:18] TerraTech commented on #32869
Just to make sure that I don't have a misconfiguration with my _rktnetes_ cluster, is this issue the reason why the following doesn't work?
[code]
Is there something I'm misunderstanding or doing incorrectly with ```kubectl run -it```?

_I'm posting this here so that others search for a reason why a documented feature isn't working correctly.  I'll delete my post if this issue isn't related._

Rig

[2016-10-02 21:35] arpat commented on #33689
Try adding `cgroup_enable=memory` on the kernel boot cmdline. The memory controller may not be default enabled by default in debian/ubuntu.

[2016-10-02 21:38] kargakis commented on #33844
This is not a bug but it's working as intended. A Kubernetes Deployment adopts a replica set foo if it finds out that its pod template already exist in foo. Personally I regard this behavior as an improvement over the downstream behavior of DeploymentConfigs (rollbacks for DCs are broken in the face of exceeded RC quota). Not sure if and how do we want to fix `rollout history`, losing history has

[2016-10-02 21:56] jwforres commented on #33844
Yeah the issue here is only about the loss of history.  You could keep
previous revisions that a replica set was used for as a second
field/annotation.

On Oct 2, 2016 5:39 PM, "Michail Kargakis" <notifications@github.com> wrote:

[2016-10-02 22:00] kargakis commented on #33844
Keep a track of all the revisions that a replica set has served is not unreasonable.

[2016-10-02 22:20] k8s-merge-robot opened #33897 "[k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/131/

Failed: [k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

[2016-10-02 23:40] thockin commented on #33222
DNS is critical, so it will kill other things.  In theory.  I have not
tested this myself :)

On Oct 2, 2016 9:16 AM, "Prashanth B" <notifications@github.com> wrote:

[2016-10-03 01:12] ConnorDoyle commented on #28312
@erikstmartin, regarding your SCHED_RT use cases, are you open to the idea of dedicated nodes that are brought up in a special mode optimized for low latency tasks? Mainly folding you into the convo cc @jeremyeder (maybe you can suggest a more relevant issue to discuss it).

[2016-10-03 01:33] thockin commented on #33884
@kubernetes/sig-network

[2016-10-03 01:35] MrHohn commented on #33784
I reproduced the bug and figured out why.

The CREATE inotify event [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file_linux_test.go#L275) is triggered by os.OpenFile(), however the content would be written by the following f.Write(). It will fail if the program try to process the event in between.

Will send a PR soon.
cc @Random-Liu

[2016-10-03 01:42] rata commented on #4789
This can be closed, as the first one is implemented via "items" in the volume and the second via the "defaultMode" on the volume or "mode" in items. And both present in a released k8s version (in 1.4 is the first version with both).

Thanks!

[2016-10-03 01:50] justinsb opened #33898 "Federation DNS should not require a unique identically named hosted zone"
The federations DNS zone code currently assumes that we specify the HostedZone as our zone-name (ignoring the fact that both GCE & Route53 can host subdomains in a zone).  So for example I probably want to run federation in `federation.justinsb.com`, but I can do this in the hosted zone `justinsb.com`  (as an aside, we should make sure that federation does not assume it owns all the records in the

[2016-10-03 02:37] bprashanth commented on #32551
Correct my understand if it's off:

metadata server is in FIN_WAIT_1

metadata server is in FIN_WAIT_2, client is in CLOSE_WAIT.

Client now needs to send a FIN by calling close() and entering LAST_ACK, this would put metadataserver in TIME_WAIT which will naturally close on timeout.

The problems are:
* both FIN_WAIT_2 and CLOSE_WAIT depend on app calling close()
* netfilter drops close_wait to p

[2016-10-03 02:47] sjenning commented on #33838
@apelisse I have a fix for this in https://github.com/kubernetes/kubernetes/pull/33866

[2016-10-03 03:31] thockin commented on #32551
I think we simply don't know why the client waited several minutes to close their end, but it's valid TCP.

[2016-10-03 03:31] #4789 closed

[2016-10-03 03:40] bprashanth commented on #32551
Yeah it's valid to leave the socket in CLOSE_WAIT indefinitely. I think our defaults should guard against this, not encourage it, unless I'm wrong in assuming that most clients call close() pretty quickly.

[2016-10-03 03:53] thockin commented on #32551
Clearly not all, and we have seen long CLOSE_WAIT before.  It seems easy to
accidentally have  socket open for an HTTP API or something and not be
using it for a while, so not notice that it was closed until the next time
you try to use it.  I think this timeout should be fairly long, actually,
since it's valid indefinitely.  Or maybe there's a tunable that lets us
force send the last FIN after a

[2016-10-03 03:57] thockin commented on #30819
Why not JSON-serialize beta fields as `betaInitContainers` ?

We need a story for simultaneously supporting alpha and beta, for
transition.  I feel pretty strongly that we can and should o that most of
the time.

On Sun, Oct 2, 2016 at 10:27 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-03 05:15] smarterclayton commented on #30819
The point of beta would be that we expect the field to be "correct".  The
least impactful option is to put the field in its expected form.  Agree
it's less obvious to all consumers, but it mitigates transitions much more
effectively.

My concern is that the gyrations we're doing around annotations and forcing
changes is increasing the complexity of the alpha - beta - ready transition
for ourselves

[2016-10-03 06:38] wojtek-t commented on #26637
So the only other object that seems appropriate might be component-status.

I definitely think that ComponentStatus is better than Endpoints.

[2016-10-03 07:00] wojtek-t commented on #33867
IIUC, this was about kubemark in PR builder right?

@gmarek - did you remove leaked resources? Which ones/how many of them?

[2016-10-03 07:19] gmarek commented on #33867
I did not - I was going to sleep at that point. I wanted to deal with it today.

[2016-10-03 07:26] wojtek-t commented on #33867
It seems that we are leaking at least:
- firewall rules
- static IP addresses

[2016-10-03 07:30] wojtek-t commented on #33653
@hongchaodeng - in order to test PrevKV, we need to change the code in Kubernetes right? Could you please do it?

[2016-10-03 08:16] kargakis commented on #33727
cc: @smarterclayton @bprashanth

[2016-10-03 08:56] wojtek-t commented on #22448
So let me put an update of it what our plan for it is.

- we are currently running with 2.2.1 version
- we are targetting 3.0.x with v3 protocol (or maybe even 3.1.x)
- the caveat is that we shouldn't skip any version between upgrades.
- so our plan to upgrade from 2.2.1:
    - backup 2.2.1 data
    - start 2.3.7 version for a moment
    - once it is healthy, kill it
    - start 3.0.x version for

[2016-10-03 09:00] sandys commented on #33881
is this interrelated to bug#33798 ?

[2016-10-03 09:34] errordeveloper commented on #33618
Missed this at first... The answer is - no, it doesn't need to go down to this level, in fact it's completely unaware of systemd as such.

[2016-10-03 09:37] errordeveloper commented on #33881
@kfox1111 thanks for reporting this!

This is really a documentation issue. You are right that `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` set `--cluster-dns=100.64.0.10`, but it's not set by `kubeadm init`, it's really the layer below. This file is part of kubelet package.

So what we need to document is that whenever one wants to set `--service-cird`, they need to also do the followi

[2016-10-03 09:38] pigmej commented on #30716
@michelleN @andrewstuart @jberkus @smarterclayton @thockin could we organize a short discussion in sig-apps about that?

[2016-10-03 09:53] sandys commented on #33881
@errordeveloper just want to know ... can KUBELET_DNS_ARGS be prepended to every kubectl/kubelet/kubeadm command , rather than changing it at the systemd level ?

i have seen that changing systemd files always causes some merge issues while updating packages, so im a little hesitant. i would rather take care of it at a configuration file or individual command level

[2016-10-03 09:56] sandys commented on #33173
this is important for us as well. we will be trying to set up different clusters (staging, production, testing, etc) and we want each cluster to act as if the other doesnt exist.

it is not good if one cluster leaks to the other .. whether DNS or otherwise.

[2016-10-03 10:08] jonathan-kosgei commented on #33881
@errordeveloper

the default file seems to have everything setup okay, I'm I missing something?

[code]

[2016-10-03 10:15] errordeveloper commented on #33881
@sandys perhaps, but the plan is that we should be able to update the kubelet setting via the API, so we won't have to handle this once we have a better abstraction. This is just what we have to do at the moment. Hopefully we should be able to implement dynamic kulbelet settings in 1.5.
@jonathan-kosge are you also trying to set `--service-cidr`? If you are happy with the fault, you shouldn't have

[2016-10-03 10:26] jonathan-kosgei commented on #33881
@errordeveloper right, came here from another issue, kube-dns is returning nxdomain errors for me , set up via kubeadm

[2016-10-03 10:27] jonathan-kosgei commented on #33881
[code]
right after a fresh install

[2016-10-03 10:32] k8s-merge-robot opened #33904 "[k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working redis cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-petset/540/

Failed: [k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working redis cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-10-03 10:49] errordeveloper commented on #33881
@jonathan-kosgei, you are welcome to join Slack and send me a DM... let's not go off-topic here. If you prefer to use Github, please open another issue describing your problem.

[2016-10-03 10:50] edevil opened #33906 "Azure cloudprovider does not set podcidr on master's kubelet"
**Is this a request for help?**:
No

**What keywords did you search in Kubernetes issues before filing this one?**:
Azure kubelet kubenet podcidr

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

BUG REPORT

**Kubernetes version** (use `kubectl version`):

1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: Azure
- **OS** (e.g. from /etc/os-release): CoreOS Stab

[2016-10-03 10:51] gmarek commented on #30819
TL;DR; - please prioritize this discussion, as we don't have much development time left for this release.

I'll be moving multiple schedulers to beta, so I'd like to have some clear decision sooner rather than later, as it seems that it's going to be rather long process...

Also it'd be good to have some common decision on whether we want to have one minor release of having both alpha and beta (al

[2016-10-03 10:51] errordeveloper commented on #33798
@jonathan-kosgei please open another issue, or find myself and others on Slack to debug this.

[2016-10-03 10:53] jonathan-kosgei commented on #33798
#https://github.com/kubernetes/kubernetes/issues/33173

[2016-10-03 10:55] errordeveloper opened #33907 "kubeadm shouldn't have to run as root"
Right now kubeadm requires root access, but it shouldn't need, once we have APIs for creating pods and PKI secrets in local kubelet.

[2016-10-03 10:58] errordeveloper opened #33908 "kubeadm should produce a user-friednly error when ran not as root"
Right now kubeadm will fail with a "permission denied" error for whatever files it happens to write first. We should improve the UX by telling the user that they aren't root.

[2016-10-03 11:00] errordeveloper opened #33909 "kubeadm init and join should allow usage without JWS"
We should allow users to manage discover out of band, by copying CA cert or providing a local config file.

[2016-10-03 11:01] errordeveloper opened #33910 "kubeadm and kube-discovery should use kubeconfig instead of a custom type"

[2016-10-03 11:02] errordeveloper opened #33911 "kubeadm refactor token handling"
As discussed in #33262:
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80333662
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80336374
- https://github.com/kubernetes/kubernetes/pull/33262/files#r80333982

[2016-10-03 11:03] errordeveloper opened #33912 "kubeadm shouldn't use embedded structs in KubeadmConfig"

[2016-10-03 11:06] errordeveloper opened #33913 "kubeadm UpdateMasterRoleLabelsAndTaints should not use recursion"

[2016-10-03 11:08] errordeveloper opened #33914 "kubeadm should use k8s.io/client-go where possible"

[2016-10-03 11:09] sandys commented on #33881
@errordeveloper continuing from comment https://github.com/kubernetes/kubernetes/issues/33881#issuecomment-251072229

updating the configuration using API is interesting .. but from a bootstrapping perspective, will you allow this to be baked into config files also ?

[2016-10-03 11:10] errordeveloper opened #33915 "kubeadm doesn't handle --cloud-config properly"
Right now we try to pass `--cloud-config` if `DefaultCloudConfigPath` exists, but we don't bother about the fact whether it's mounted into the container or now, it basically won't work. We need to do it properly.

[2016-10-03 11:17] errordeveloper opened #33916 "kubeadm deploys kube-proxy daemonsets for different architectures, but it doesn't work"
Right now we create 3 daemonsets for `kube-proxy` in `app/master/addons.go`, but `images.GetCoreImage()` will only give use image names for `runtime.GOARCH`, so this feature is broken. We should only deploy one daemon set for the native architecture, but ensure it has the right label selectors, so we don't try to run `amd64` pods on nodes of different architecture. We should also make sure all add

[2016-10-03 11:19] errordeveloper opened #33917 "kubeadm should use multi-architecture images when GCR supports Docker distribution API v2 schema 2"
cc https://github.com/kubernetes/kubernetes/issues/33916

[2016-10-03 11:31] errordeveloper opened #33918 "discuss CA checksum flag for kubeadm join"
It could prevent MITM, where attacker has guessed the JWS token, yet hasn't provided the same CA certificate.

[2016-10-03 11:35] errordeveloper opened #33919 "kubeadm join should allow hostname"
Right now it only accepts IP address, but any resolvable names should be allow. It probably should keep retrying on lookup failures, as long as given name is valid.

[2016-10-03 11:36] errordeveloper opened #33920 "kubeadm join usage summary is missing master args"

[2016-10-03 11:38] errordeveloper opened #33921 "kubeadm should have custom flags for net.IP slice"
Right now we do it an ad-host fashion, but should do it properly instead, may be we just need to make a PR to cobra.

[2016-10-03 11:39] zhouhaibing089 commented on #33173
@sandys IIUC, different clusters will have different dns, so they won't leak to each other?

[2016-10-03 11:40] errordeveloper opened #33922 "discuss adding hiding advanced flags in kubeadm"
We are planning to use componentconfig for very advance option, but there may still be a need to have some flags hidden under `--help-advance`.

[2016-10-03 11:43] jeremyeder commented on #28312
@erikstmartin cpuset design proposal will be submitted this week, includes RT in design.

[2016-10-03 11:43] sandys commented on #33173
@zhouhaibing089 but if a request from another cluster reaches this cluster. will it refuse to resolve (ideally) or will it attempt to resolve.

let's say my cluster has a service named "cat" and so do you ... what happens if i send u a dns request erroneously due to a misconfiguration/maliciousness

[2016-10-03 11:45] errordeveloper commented on #33638
Also, we should consider allowing interface names as values...

[2016-10-03 11:48] errordeveloper opened #33923 "kubeadm should have a custom flag parser for --cloud-provider"

[2016-10-03 11:52] errordeveloper opened #33924 "running kubeadm init the second time doesn't do the right thing"
I've have `kubeadmutil.WriteKubeconfigIfNotExists()`, which is supposed to bail if kubeconfig exists... however, we have overwritten a static pod manifests and the PKI assets by the time we get there. We should figure out something better, it should probably be idempotent.

[2016-10-03 11:55] errordeveloper opened #33925 "discuss how should kubeadm init treat file that already exits"
For example, we do need to allow importing PKI assets... having an asset abstraction could help with this and an dry-run mode etc, however let's discuss this from user's perspective. Some users said they'd like to `kubeadm init` and `kubeadm join` to be idempotent.

[2016-10-03 11:56] errordeveloper commented on #33924
xref https://github.com/kubernetes/kubernetes/issues/33925

[2016-10-03 11:57] errordeveloper commented on #33924
We should certain avoid accidental breakage, which is currently the case.

[2016-10-03 12:00] errordeveloper opened #33926 "should kubeadm have an assets abstraction?"
It'd help to implement dry-run mode, tarball export or other things.

[2016-10-03 12:04] errordeveloper opened #33928 "review kubeadm return codes"
Right now it returns either 0 or 1, there is no way to tell other errors... For example not being able to init due to permission errors should probably return something else, and not being able to join due to bad args vs potential network issue vs already joined... etc.

[2016-10-03 12:05] errordeveloper opened #33929 "improve kubeadm progress log and success summary messages"
We should use templates instead of format strings, we also shouldn't print multi-line summary message in non-interactive mode. Colours would a great addition too. We should probably also provide a quite mode, default no-too-verbose mode, and a verbose mode.

[2016-10-03 12:06] errordeveloper commented on #33929
xref https://github.com/kubernetes/kubernetes/pull/33831#issuecomment-250985320

[2016-10-03 12:10] errordeveloper opened #33930 "kubeadm init --token isn't exactly user-friednly"
We should probably print more specific message on validation errors, or relax validation... Also, printing desired format could be a good idea, or we may wish to have `kubeadm util generate-token` that would print a pretty strong toke user can copy into their config management code.

xref https://github.com/kubernetes/kubernetes/issues/33911

[2016-10-03 12:14] errordeveloper opened #33931 "discuss kubeadm reset and/or kubeadm init --reset"
We quite likely need to provide a reset command that cleans up files, and perhaps stops kubelet and containers it started, remove etcd's data other pieces of state.

[2016-10-03 12:18] gmarek commented on #33867
This particular issue is solved (for now), but the problem of leaking resources needs to be addressed.

[2016-10-03 12:21] errordeveloper commented on #33926
We currently write files from every other function, and it's not exactly consistent how it happens and what helper funcs are used for doing it. However, in some cases this provides us with an ability to have more user-friendly error message, which is something we will need to ensure assets abstraction would be capable of. We shouldn't have to document files we write, if we have dry-run mode, or go

[2016-10-03 12:23] errordeveloper commented on #33926
We could add validation of existing files could also come into this, and even warn about deprecated files.

[2016-10-03 12:39] angadn commented on #33765
Sorry if this sounds stupid, but as expected, `gcloud docker -- push gcr.io/kubernetes-scale/kubemark` won't show this warning - what needs to be fixed here?

[2016-10-03 12:41] timbunce commented on #25383
For the record, here's a way to list contexts in v1.3: `kubectl config view -o jsonpath='{.contexts[*].name}'`

[2016-10-03 12:47] e-nDrju commented on #23864
+1 to this idea. Specifying port ranges in services declarations is mandatory for any VoIP-related application. It would be great to have this done. Does anyone figured out a temporary workaround for this? Thanks in advance.

[2016-10-03 13:01] zhouhaibing089 commented on #33173
I do not know the detail of your deployment model, but in my case, it is:

Each cluster will have a kubedns deployed in `kube-system`, and it will have a cluster ip: `192.168.0.10`, it is a private ip inside cluster, and when we configured like so, the kubelet will inject all the pod an entry which tells that `192.168.0.10` is the name server.

If like you said, then it could be that you also crea

[2016-10-03 13:01] avkonst opened #33933 "kubeadm init with predefined token"
It is a feature request to address kubeadm usability issue. When I provision new nodes (eg. with vagrant), it is hard to capture the generated token on init and pass it to slaves to join. It would be much easier, if I could specify a predefined token for init and for join.
Also, I have not found a way to get the token with kube utilities, when init is done and I missed the output from init. As a t

[2016-10-03 13:07] zhouhaibing089 commented on #33173
If you have more than one k8s cluster, then most probably, you will need to have different domain for each cluster, for example, `staging.k8s.io`(for staging), `testing.k8s.io`(for testing), `k8s.io`(for production), etc..

[2016-10-03 13:11] tyranron commented on #33894
Accordingly to [cluster add-ons description](https://github.com/kubernetes/kubernetes/tree/master/cluster/addons) it seems that only Services and Replication Controllers can be add-ons. I think there is a conflict in naming conventions applied to cluster add-ons and Replication Controllers created by your Deployment.

[2016-10-03 13:15] wojtek-t commented on #33472
@smarterclayton - sorry for late response, I was on sick leave last week.

Yes - I already have something. I'm seeing 10s of thousand of go-routines of these 3 types:
[code]

[code]

[code]

@smarterclayton @lavalamp - any thoughts on these?

[2016-10-03 13:19] pmorie commented on #33526
For the record, I would also like `makeMounts` to make the mountpoints for container termination logs.

[2016-10-03 13:19] soltysh commented on #33896
This looks like a GKE problem being already tackled in #32345. Nothing wrong with job, so closing in favor of the other one.

[2016-10-03 13:19] #33896 closed

[2016-10-03 13:29] timothysc opened #33935 "Find and fix hot loop logging"
**Problem Statement:**
There are stressed conditions in the system where we have seen degenerative logging.  This typically happens before a panic or failure scenario.  Meanwhile, logging facilities will often rate limit those logs, and we can sometimes miss the panic, see: https://bugzilla.redhat.com/show_bug.cgi?id=1380458 .

**Proposed Solutions:**
This issue is a **_catch all_** for an auditin

[2016-10-03 13:43] nhlfr opened #33936 "New fields in tls.Config in golang 1.7"
When using go 1.7, `pkg/util/net/http_test.go` is failing with the following error:

[code]

[2016-10-03 13:56] holser opened #33938 "PetSet container config is not regenerated in case of Failure"
**BUG REPORT**

**Kubernetes version** (use `kubectl version`):

`Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-beta.11.1+26dbde542d8a7d-dirty", GitCommit:"26dbde542d8a7df3b0eac1c4094762ae5b82c1f9", GitTreeState:"dirty", BuildDate:"2016-09-28T10:08:15Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"4+", GitVersi

[2016-10-03 14:03] soltysh commented on #30688
Fixed in #32850

[2016-10-03 14:03] #30688 closed

[2016-10-03 14:24] jonathan-kosgei commented on #33173
Maybe to clarify on @sss . The issue is dns leaking between namespaces in
the SAME cluster.

On Oct 3, 2016 4:08 PM, "zhouhaibing089" <notifications@github.com> wrote:

[2016-10-03 14:32] czerwina commented on #33729
@arpat has fixed the initial hang on ubuntu build that were using. This enables the docker images to be downloaded. The next issue is that the api-server cant be connected to, with the following error repeating:

After stopping kubeadm, docker ps listed the pods downloaded from gcr. I tried the following to see if everything was running:

I get:

1 step at a time :)

[2016-10-03 14:33] arekkas commented on #28612
Same issue here as @zeg-io - Did you solve that yet?

[2016-10-03 14:33] luispabon commented on #33583
Thank you @yujuhong . Will test and report back and close if all is good :+1:

[2016-10-03 14:36] zeg-io commented on #28612
Nope.  I have an open issue with Google as well, been emailing back and forth oh-so-slowly.  Nothing resolved.

Latest from Google: "Well, hmm, that _should_ work..."

Me: "Gee, thanks"

[2016-10-03 14:38] arekkas commented on #28612
That's unfortunate, thanks for the heads up

[2016-10-03 14:39] zeg-io commented on #28612
If I get it resolved will try to remember to post resolution here.

[2016-10-03 14:51] k8s-merge-robot opened #33941 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/481/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28565 #29072 #29390 #29659 #30072

[2016-10-03 14:55] bboreham commented on #33798
that appears to be yet another issue, so continuing here for now:

Following some more conversation on Slack, I set up a cluster on fresh Ubuntu VMs, installed kubeadm and weave, and I got this matching symptom:

[code]

However, if I make the request more fully-qualified, I get:

[code]

so I conclude this issue was one of search path.

@jonathan-kosgei do you think we need to fix something?  Or

[2016-10-03 14:58] mtaufen commented on #33904
The test failed because it read nothing back from the key `foo` for the "member with index 2".

Looking at `test/e2e/petset.go`, I notice that it's writing `"foo": "bar"` to the "member with index 0" and expecting to read it back from the "member with index 2". I'm curious, is each index supposed to represent a separate redis instance? What is the consistency model here?

[code]

[2016-10-03 14:58] mtaufen commented on #33904
/cc @bprashanth

[2016-10-03 15:23] timothysc commented on #26637
k, making change..

[2016-10-03 15:36] Sushant opened #33943 "Failed to get ConfigMap "kube-system/ingress-uid" error from federation controller manager on non-GCE/GKE cloud."
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Private cloud (Openstack)
- **OS** (e.g. from /etc/os-release):

[code]
- **Kernel** (e.g. `uname -a`):
  `
    Linux 3.10.0-327.4.5.el7.x86_64 #1 SMP Mon Jan 25 22:07:14 UTC 2016 x86_64 GNU/Linux
  `
- **Install tools**:
- **Others**:
  - Hyperkube version: `hyperkube-amd64:v1

[2016-10-03 15:45] jianhuiz commented on #33312
not specifying weight would implies 0 for all clusters which results in no replicaset would be created in the underlying clusters.

[2016-10-03 15:56] bgrant0607 commented on #30819
Using the final field name once a feature goes to beta SGTM.

[2016-10-03 16:03] bgrant0607 commented on #30819
Note, however, that representing the same information in 2 fields doesn't work.

[2016-10-03 16:09] mtaufen commented on #33537
I'm seeing `Build timed out` at the end of the two most recent runs, are these tests just taking too long?

[2016-10-03 16:35] mwielgus commented on #33312
Yep, i can take it.

[2016-10-03 16:39] mtaufen commented on #33398
[code]
Most recent failed build (https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-scalability-release-1.4/38/build-log.txt)

Looks like at the 10 minute mark there were 4 pods in "kube-system" that had failed, each an `e2e-image-puller-*`.

[2016-10-03 16:44] fvigotti opened #33945 "connection to services gets dropped for 60 seconds after an apache benchmark to it"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-03 16:46] mtaufen commented on #33398
Associated logs:
**9n08:**
[code]
**ds9x:**
[code]
**k9x0:**
[code]
**ksmq:**
[code]

[2016-10-03 16:47] mtaufen commented on #33398
Log from a healthy pod for comparison:
[code]

[2016-10-03 16:51] balajismaniam commented on #25321
@davidopp Is there any progress on the unit tests and e2e tests for https://github.com/kubernetes/kubernetes/pull/31033? Is any help needed?

[2016-10-03 16:56] mtaufen commented on #33398
`Oct  2 19:47:22.884: INFO: At 2016-10-02 19:33:38 -0700 PDT - event for e2e-image-puller-e2e-scalability-1-4-minion-group-9n08: {kubelet e2e-scalability-1-4-minion-group-9n08} FailedSync: Error syncing pod, skipping: failed to "KillContainer" for "image-puller" with KillContainerError: "An error occurred trying to connect: Post http://%2Fvar%2Frun%2Fdocker.sock/containers/924f67756ace5c3f8c442d90

[2016-10-03 16:56] JustinAzoff commented on #33798
@jonathan-kosgei fyi, as far as I know, this:

[code]

doesn't actually do anything.  sysctl -w does not actually make that change persistent and it reverts to the default after the reboot.  You need to add those settings to /etc/sysctl.conf or something in /etc/sysctl.d/

[2016-10-03 16:59] bprashanth commented on #32551
I don't think there's a CLOSE_WAIT timeout. There is:
* net.ipv4.tcp_fin_timeout: A FIN_WAIT_2 timeout to force the initiator (server in this case) into TIME_WAIT
* net.ipv4.netfilter.ip_conntrack_tcp_timeout_time_wait: TIME_WAIT timeout, usually 2msl

Increasing the netfilter timeout souns totally fine, but we need to balance that with other conntrack tunables like `/proc/sys/net/ipv4/netfilter/i

[2016-10-03 16:59] JustinAzoff commented on #33798
@bboreham what did the resolv.conf on the container show?

Mine contains:

[code]

What container image where you using to test the name resolution?  I believe alpine based containers do not support 'search':

https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md#dns

If you're using alpine does it work if you try the busybox container?

[2016-10-03 17:01] timothysc commented on #20504
Ideally I think we should have this planned out asap to avoid a 1.4 repeat.

[2016-10-03 17:02] MrHohn commented on #33554
Why would resolving SRV records fail?

Suppose a hostname with X dot is queried and X < ndots threshhold, it will have tje search paths appended before it is sent to the name server?

For the SRV record `_my-port-name._my-port-protocol.my-svc.my-namespace.svc.cluster.local`, I think below inputs will act properly:
- `_my-port-name._my-port-protocol.my-svc.my-namespace`
- `_my-port-name._my-port-pr

[2016-10-03 17:04] bboreham commented on #33798
@JustinAzoff I was running `nslookup` on the Ubuntu host, not in any container.  I believe that matches what @jonathan-kosgei was doing.

[2016-10-03 17:09] bprashanth commented on #33884
Can you clarify "get added to nodeport"? If the master is running kube-proxy, it will open up the nodeport on the master and proxy requests to endpoints. If you're not, the master nodePort is left closed. If you're listing all nodes and adding external-ip:nodePort to an lb, you should instead list only schedulable nodes. If the master is not marked unschedulable, that's a bug.

[2016-10-03 17:10] JustinAzoff commented on #33798
Ah, I don't think kubeadm makes any attempt to change the dns configuration of the host.

[2016-10-03 17:12] MrHohn commented on #33790
Seems like the kube-dns pod were not acting properly and it restarted a few times.
[code]
Have you tried to retrieve logs from the kube-dns pod? And do you know which container in this pod kept restarting (I guess `kubedns` or `dnsmasq`)?

[2016-10-03 17:21] smarterclayton commented on #30819
The old field moving from alpha to beta is only to support being able to
read the value.  I would propose when we move to beta that we do not
automatically read that alpha field, but instead instruct users how to
switch.  I think it's a reasonable burden for alpha consumers to have.

On Mon, Oct 3, 2016 at 12:04 PM, Brian Grant <notifications@github.com>
wrote:

[2016-10-03 17:22] smarterclayton commented on #33472
This sounds like the TLS deadlock.

On Mon, Oct 3, 2016 at 9:15 AM, Wojciech Tyczynski <notifications@github.com

[2016-10-03 17:23] smarterclayton commented on #33472
Is this related to
https://groups.google.com/forum/#!topic/golang-checkins/V_MARoQ1TVY?

On Mon, Oct 3, 2016 at 1:22 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-10-03 17:29] fvigotti commented on #33945
because "pc2 doesn't work" seems a problem of pc2, I'm testing with a virtualbox inside pc1, and the same problems happens: if i run TESTNGINX on pc1, the virtualbox instance in pc1 cannot run CURLNGINX but pc1 can run CURLNGINX without problems, then , after 60 seconds.. everything works again also from the virtualbox

I'm not very expert in networks.. tomorrow I'll try further with tcpdump and I

[2016-10-03 17:30] edevil commented on #32900
I have just found this issue, after spending the last hours trying to setup a 1.4 cluster using a similar configuration that worked with 1.3.

"classic" networking was [broken](https://github.com/kubernetes/kubernetes/issues/33789) in 1.4. I used "--configure-cbr0" in 1.3 so I changed to the kubenet plugin in 1.4, otherwise docker and kubelet were both waiting for each other and never start. I'm u

[2016-10-03 17:30] ixdy commented on #33765
@angadn we have a bunch of scripts and Makefiles which are omitting the `--` currently. We need to fix these by adding the missing `--`s.

[2016-10-03 17:32] lavalamp commented on #30819
@smarterclayton What do you propose be done with the proto tag? I guess it makes sense to keep using the same value if no changes were actually made to the field? But that will make conversion weird.

[2016-10-03 17:33] mtaufen commented on #33398
We can tell that `4d69f4274148` is the `image-puller` because:
`I1003 02:33:15.679843    1250 docker_manager.go:1955] pod "e2e-image-puller-e2e-scalability-1-4-minion-group-k9x0_kube-system(188ff65a5a5e521be0b4686b5923a96e)" container "image-puller" exists as 4d69f4274148b9311bbf51e731faad3cc552931af4edbb2c28aefd5798081d05`

[2016-10-03 17:42] mtaufen commented on #33398
`I1003 02:33:27.601589    1250 status_manager.go:312] Ignoring same status for pod "e2e-image-puller-e2e-scalability-1-4-minion-group-k9x0_kube-system(188ff65a5a5e521be0b4686b5923a96e)", status: {Phase:Running Conditions:[{Type:Initialized Status:True LastProbeTime:0001-01-01 00:00:00 +0000 UTC LastTransitionTime:2016-10-03 02:33:11 +0000 UTC Reason: Message:} {Type:Ready Status:False LastProbeTim

[2016-10-03 17:47] roopahc opened #33950 "l get svc"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-03 17:56] smarterclayton commented on #30819
I think with the proto tag this will require us to assign and then retire a
tag and validate no one comes along and claims it.  I.e. alpha gets 9, beta
gets a new tag, if we change beta before GA the new one for GA gets a new
tag.

The "assign new fields the highest possible tag" should be the case today
but I'll have to double check.

On Mon, Oct 3, 2016 at 1:32 PM, Daniel Smith <notifications@gi

[2016-10-03 18:01] thockin commented on #30819
On Sun, Oct 2, 2016 at 10:15 PM, Clayton Coleman
<notifications@github.com> wrote:

Part of beta to GA is that we can/must support the Beta API while also
running GA, to allow transition.  Any changes made when going GA can't
be reflected in the beta API.

Because we love our users and don't want to punish them for trying things out.

[2016-10-03 18:02] thockin commented on #30819
If we do that, we can't make any changes between beta and GA, or we break
the idea that there's an overlap window.

On Mon, Oct 3, 2016 at 8:57 AM, Brian Grant <notifications@github.com>
wrote:

[2016-10-03 18:03] thockin commented on #30819
Tag assignment should be done from a comment or something, lest we never
get rid of anything

On Mon, Oct 3, 2016 at 10:57 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-10-03 18:04] thockin commented on #30819
Should we have a hangout to fight about this, I feel like we're drifting
quite a lot into "impose pain on users" territory.  I'm fine with imposing
pain on you Clayton.  I know you can bear it.

On Mon, Oct 3, 2016 at 11:03 AM, Tim Hockin <thockin@google.com> wrote:

[2016-10-03 18:18] yujuhong commented on #33838
/cc OWNERS of `pkg/federation-controller`: @quinton-hoole @nikhiljindal @madhusudancs

[2016-10-03 18:19] robotad opened #33953 "Update documentation for docs/design/access.md"
The following line appears in the "K8s Identity and Access Management Sketch" document:

[code]

Since the release is past version 1.00, can we have an update on which features actually made it into version 1.00 (and which features are implemented in 1.3, 1.4, etc.). It would be helpful in attempting to evaluate this product between versions (1.3 vs. 1.4) and versus other solutions.

[2016-10-03 18:24] thockin commented on #30716
I don't usually attend sig-apps, please let me know if/when this is on the
agenda

On Mon, Oct 3, 2016 at 2:39 AM, Jędrzej Nowak <notifications@github.com>
wrote:

[2016-10-03 18:26] dims commented on #33950
@roopahc Not sure how we can help with just 3 words in the title. If this was created in error, please add close this or please consider filling up the template/questions with details.

[2016-10-03 18:27] andrewstuart commented on #30716
@pigmej Ditto @thockin, and also that nobody's paying me to do k8s work (yet) but I can definitely try to attend, depending on the time.

[2016-10-03 18:30] lavalamp opened #33954 "kubelet: document in release notes if in-place upgrade should work"
In talking with a user, I've realized that we should say in release notes if it's safe to do an in-place kubelet upgrade, or if users should do a drain/upgrade/undrain cycle for each node. We should include a table, actually, in case users are trailing by more than one version.

(In the past we have change the hashing function that kubelet uses to name docker containers, causing all containers on

[2016-10-03 18:32] smarterclayton commented on #30819
Part of the impose pain on ourselves is that it can lead to security lapses
(we have multiple fields meaning multiple things, and it becomes
increasingly hard to reason about which ones to secure).  The user base is
large enough that the risk of adding a compromise hole should start to
outweigh some convenience of using alpha features, in my opinion.

Agree on a hangout, we need more bandwidth.

O

[2016-10-03 18:32] uruddarraju commented on #33954
cc @ashw7n

[2016-10-03 18:37] andrewstuart commented on #30716
Also, you may want to comment on #23896 and/or kubernetes/features#35 if there's going to be a generalized discussion as they will almost certainly have either made progress already or have opinions and suggestions of their own to add.

[2016-10-03 18:38] sbezverk opened #33956 "error: <master/discovery> failed to create "kube-discovery" deployment [deployments.extensions "kube-discovery" already exists]"
Even after complete clean up of all leftover from previous installation, new kubeadm init constantly generates:

error: <master/discovery> failed to create "kube-discovery" deployment [deployments.extensions "kube-discovery" already exists]

kubeadm init
<master/tokens> generated token: "18d804.3a337b34b4311cab"
<master/pki> created keys and certificates in "/etc/kubernetes/pki"
<util/kubeconfig>

[2016-10-03 18:47] mgoodness commented on #33192
Interestingly, reverting to v1.3.5 through a complete replacement of controllers & workers didn't resolve the issue. Prometheus will scrape pod metrics from the kubelets for almost exactly 12 hours, at which time the pod metrics disappear. Restarting kubelets makes the pods visible for another 12 hours.

I'm not yet seeing the issue on a pilot cluster running v1.4.0.

[2016-10-03 18:50] caesarxuchao commented on #33598
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-updown/908/

[code]

[2016-10-03 18:52] uruddarraju commented on #33954
Related issue: https://github.com/kubernetes/kubernetes/issues/23104

[2016-10-03 18:57] hubt commented on #32304
I believe I am encountering this in kubernetes 1.4 as well using debian/jessie and docker 1.11.2. It seems like updating to docker 1.12.1 helped. This is a significant problem for us because it means Heapster is reporting 0% cpu usage all the time and so hpas are broken.

[2016-10-03 18:59] fraenkel commented on #32880
Got a version I am happy with.  Please go ahead and review it.
We noticed that the websocket receive error handling is a bit chatty.
We always get the following:
[code]

[2016-10-03 18:59] yujuhong commented on #33873
Since runtime doesn't refer to the volumes by names, I am fine with getting rid of the `name` fields.

[2016-10-03 19:01] ixdy commented on #33598
@caesarxuchao there was a known issue with GKE last Friday. we can probably close this.

[2016-10-03 19:01] #33598 closed

[2016-10-03 19:02] erictune commented on #30819
@smarterclayton why do you suggest adding the "proper" field to the internal representation rather than a prefixed-one?  It is quite hard to reason about the behavior of a field if its conversion changes from one version to another, especially with skewed versions.  This was annoying with InitContainer.

Would rather the behavior and name of field is stable over releases, and alpha/beta just mean

[2016-10-03 19:07] erictune commented on #30819
If it turns out that alpha, beta, and GA all behave the same, then there is actually very little harm in keeping the alpha and beta fields around for many versions. We can mark them deprecated in the swagger, and round trip them to the same place in the internal after GA.  But, we can keep them around for a while so people don't have to edit their config.

However, if there is a behavior change fr

[2016-10-03 19:15] thockin commented on #30819
We always have the issue of existing objects.

On Mon, Oct 3, 2016 at 12:07 PM, Eric Tune <notifications@github.com> wrote:

[2016-10-03 19:17] adityakali commented on #33871
Please assign this to me. We are working on this.

[2016-10-03 19:22] madhusudancs commented on #33838
I think this is also related to Issue #33880.

[2016-10-03 19:23] smarterclayton commented on #30819
The internal confusion about which field to reference and check (which one
is "in play") was my primary concern about renaming internal fields.  The
advantage of using the same internal field name is that it forces the
serialization support statement to the edge (where data enters and leaves)
and keeps the internal code stable.  That reduces the possibility of:

* A security admission controller c

[2016-10-03 19:26] jayunit100 commented on #33772
no idea if this is related but i also see
[code]
is tripped by the networking_perf tests .  i wonder why?

[2016-10-03 19:28] caesarxuchao commented on #33598
Thanks @ixdy!

[2016-10-03 19:28] luxas commented on #33956
cc @errordeveloper
This issue occurs since you have stale data in `/var/lib/etcd`.
You should clean your env as described in the kubeadm doc before rerunning init

[2016-10-03 19:29] quinton-hoole opened #33960 "Re-enable "Feature" e2e tests to avoid regressions like Gluster not working on GCI"
Gluster volumes don't work on GCI (issue?), which is an unintended regression in v1.4.

We _do_ have a [working e2e test for gluster](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/volumes.go#L402) that should have picked up that regression, but it has been (i.m.o. incorrectly) [disabled](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/volumes.go#L349) as a ["Feature"]

[2016-10-03 19:36] mikedanese opened #33961 "Discuss how kubeadm should deploy critical addons"
It's important for kubeadm to deploy critical addons because we want users to have a functioning cluster after the process completes. The current implementation is an new addon management solution which does not align with the larger goals for the addon manager.

cc @kubernetes/sig-cluster-lifecycle

[2016-10-03 19:37] lavalamp commented on #33954
(And I think the thing we should do here is set up a test job that does an in-place upgrade and fails if any pods restart.)

[2016-10-03 19:39] xiang90 commented on #33772
I will fix this today

[2016-10-03 19:40] luxas commented on #33961
Which addons except dns belongs to this group?
dashboard and heapster?

Should the process be to opt in (`kubeadm init --addons=dashboard,heapster`) or opt-out (`kubeadm init --exclude-addon heapster`) in your mind?

[2016-10-03 19:41] luxas opened #33962 "Add a kubeadm verify command"
We probably want `kubeadm verify` command that users may run easily in order to check if their node satisfies the requirements kubelet has on the node.

Something like this, but maybe bundled into kubeadm for ease of use: https://github.com/kubernetes/kubernetes/pull/32427

[2016-10-03 19:42] luxas commented on #33962
cc @kubernetes/sig-cluster-lifecycle

[2016-10-03 19:43] bprashanth commented on #33961
I think the problem is broader than just deployment. I want priority on pods (nice) that kicks in even when they get vertically autoscaled. If there're finite resources on nodes, I want them allocated to the most important pods, even if this means evicting lower priority pods. Does the deployment problem solve itself with such a system?

[2016-10-03 19:44] yifan-gu commented on #33526
@pmorie Exactly!

[2016-10-03 19:46] yujuhong commented on #33526
I have no objection to that.

[2016-10-03 19:49] lavalamp commented on #33472
@cjcullen We have seen something similar in the past, haven't we? What was the resolution of that?

[2016-10-03 20:08] sjenning commented on #33880
fix is pending https://github.com/kubernetes/kubernetes/pull/33866

[2016-10-03 20:11] mikedanese commented on #33961
kube-proxy, heapster, maybe dashboard

We should fix addon deployment in general and use that solution rather than inventing yet another.

[2016-10-03 20:11] ConradIrwin commented on #29407
I had the same problem, then I noticed the note in the docs about setting the LoadBalancer type to `NodePort`.

I've now done that, and instances are being added to the group, though now they're all failing the health-check :(

[2016-10-03 20:14] colemickens commented on #33961
Sorry to rehash this since I've had this conversation a couple times in ephemeral Slack contexts... but what are the arguments against `kube-cert-manager`? It was suggested as an option for our use, but I hesitated because I knew there were reservations... but I don't recall them well enough to argue for/against it's use.

[2016-10-03 20:15] dchen1107 commented on #33954
Good idea, especially since 1.4 release, we start to break the bundle release (kubelet & docker) at the node.

On the test side, once we automated upgrade test suite, we can add the test to check pods / container.

[2016-10-03 20:15] mikedanese commented on #33962
Can you explain what this should do in the issue description?

[2016-10-03 20:16] luxas commented on #33961
xref my proposal earlier: kubernetes/kubernetes#23233 (comment)

[2016-10-03 20:23] luxas commented on #33962
Updated the description.
I converted it from a note in the kubeadm project, seems like I couldn't add a description when doing that.
Now fixed.

[2016-10-03 20:30] #33888 closed

[2016-10-03 20:31] mikedanese commented on #33962
Thanks. How is this going to ineract with the nodespec verification that @kubernetes/sig-node has been working on? We should make sure this work is aligned. cc @Random-Liu

[2016-10-03 20:31] zhang8473 commented on #33689
@marun Yes, I do see some errors in the kubelet logs:
systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: active (running) since Fri 2016-09-30 14:12:31 PDT; 2 days ago
     Docs: http://kuberne

[2016-10-03 20:32] hubt opened #33968 "kubectl 1.4 cannot edit 1.2 cluster deployment using DownwardAPI mount because defaultMode is invalid"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
kubectl defaultMode

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2016-10-03 20:33] erictune commented on #30819
Init containers did behave the same across versions, but when two fields needed to merge to one field, there had to be a tiebreaker.  The conversion library is not in a good position to decide what to do in a tie-breaker case.  The client which acts in response to the fields (kubelet in the case of init container) is in a good position to handle the tie breaker.

Counter-proposal for 1.5. We switc

[2016-10-03 20:34] luxas commented on #33962
I thought about if we could just include it in the binary in order to get a consistent experience :)
Or if we could kubeadm just spawn the node e2e test the right way...

[2016-10-03 20:35] zhang8473 commented on #33689
@luxas I was in peace but your statement "We have worked very hard" makes me feel uncomfortable. This statement sounds like that Google hired someones who can only do leetcode problems but not be able to make real product bug free by "working very hard". I do not have to work hard but my work is bug free.

[2016-10-03 20:36] mikedanese commented on #33962
Linking what they've been doing and exposing it as a subcommand in kubeadm sounds good to me.

[2016-10-03 20:36] yifan-gu commented on #33526
@pmorie @yujuhong Actually the `makeMounts()` in [kuberuntime_container.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L245) already makes the mount point for the termination log. What we need to do is removing  the `makeMounts()` in [kubelet_pods.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_pods.go#L78).

I

[2016-10-03 20:44] d-stern opened #33969 "no hyperkube 1.3.8 in gcr.io/google_containers/hyperkube registry"
**Kubernetes version** (use `kubectl version`): v.1.3.8

**Environment**:
- **Cloud provider or hardware configuration**: n/a
- **OS** (e.g. from /etc/os-release): n/a
- **Kernel** (e.g. `uname -a`): n/a
- **Install tools**: n/a
- **Others**: n/a

**What happened**:
Trying to build kubernetes 1.3.8 to upgrade our cluster but there's no 1.3.8 hyperkube image in the `gcr.io/google_containers/hyperku

[2016-10-03 20:57] NelsonBurton commented on #28045
I just encountered this same issue - I found that after going onto AWS and deleting my existing VPC and re-running the script it worked.

[2016-10-03 20:57] sbezverk commented on #33956
Thank you very much for such prompt reply.

[2016-10-03 20:57] #33956 closed

[2016-10-03 20:57] lukemarsden commented on #33689
@zhang8473 neither @luxas nor I are google employees, we are both
volunteers on kubernetes. And we did work hard on kubeadm, and released it
in alpha to get early feedback. Please be kind, and we will work together
to solve your problem. Thanks!

On Mon, 3 Oct 2016, 22:36 zhang8473, <notifications@github.com> wrote:

[2016-10-03 21:16] timothysc commented on #25320
@aveshagarwal things to keep in mind re(alpha-beta) : https://github.com/kubernetes/kubernetes/issues/30819#issuecomment-249877334

[2016-10-03 21:16] freehan commented on #33789
Looks like docker got restarted before cbr0 was created, then kubelet and docker deadlocks.

Something changed in bootstrapping where it restarts docker.

[2016-10-03 21:16] timothysc commented on #25319
@rrati things to keep in mind re(alpha-beta) : #30819 (comment)

[2016-10-03 21:16] yifan-gu commented on #32803
by API versioning?  Kubelet says "I want API v1.5" and runtime says "I
don't support that".  == fail.  It's a nefarious failure mode for end-users
though.

So seems we need to achieve:
1, Don't just drop support when versions are different.
2, Acknowledge users that some features are not supported.

So it sounds like a BIG WARNING is the way to go...

[2016-10-03 21:19] nikhiljindal commented on #33622
Sure as discussed, its fine to log that at federation level for now with the aim of eventually delegating it to the underlying cluster.

I have had some initial discussions, filed this issue to make a decision.
Using cluster selectors does seem more generic.

If we add them to genericapiserver, we will get them for federation apiserver at the same time :)

Yes. We use the same {List,Delete}Options

[2016-10-03 21:22] ymqytw commented on #33727
I can reproduce it.

[2016-10-03 21:25] lavalamp commented on #33138
The main problem here is just that we don't rebuild all our containers from the branch we're trying to test. We don't need a special test for this, we just need to use fresh containers in our tests instead of static ones.

[2016-10-03 21:26] lavalamp commented on #33849
I think the problem here isn't the lack of testing, but that we test stale artifacts.

[2016-10-03 21:32] lavalamp commented on #20504
Status on etcd3 from my perspective:

1. We should get *something* testing etcd 3 on both a presubmit and postsubmit to prevent regressions. @ixdy or @spxtr, can one of you work with (or find someone to work with) @timothysc to make sure that happens ~soon?
2. We shouldn't *stop* testing etcd 2 until we have a migration path that we're confident in.
3. The current plan is to build the migration pa

[2016-10-03 21:35] freehan commented on #33789
Are you guys running GCI or Debian?

[2016-10-03 21:36] bprashanth commented on #33727
Drain is just not implemented for petset, you can cordon the node (kubectl cordon) and delete pets on it. Simply draining the node is risky because you might end up deleting all your quorum members at once, for example. Pets require extra care, if you're running something in a petset that doesn't require such care, perhaps you can get by with a replica set.

To implement drain on petset with *redu

[2016-10-03 21:38] fotinakis commented on #8791
If you're talking about the GCE HTTP(S) load balancer (not sure about the network load balancer), you can create a firewall rule that opens up only to 130.211.0.0/22. From the [docs](https://cloud.google.com/compute/docs/load-balancing/http/): "Traffic from the load balancer to your instances has an IP address in the range of 130.211.0.0/22"

[2016-10-03 21:42] lavalamp commented on #22448
I think we need to document an emergency dump-and-restore method to get back to an older etcd in the worst case.

Note that such a thing would be very unfortunate and require a full cluster reset, as ResourceVersions going backwards violates our locking guarantees.

We can extensively test the rollforward procedure, but it's harder to be sure we'll never find a bug in etcd that requires rolling ba

[2016-10-03 21:55] zhang8473 commented on #33689
@lukemarsden @luxas I am sorry that I do not know you are volunteers. "kubernetes members" shows up next to @luxas on github. Google employers should be blamed if they say "working hard" but cannot get the work done. They even need volunteers to help them?! You are using your rest time to improve this alpha version. I appreciate that.

Now let's focus on the error report from kubelet, do you have

[2016-10-03 22:01] edevil commented on #33789
I'm running CoreOS.

[2016-10-03 22:08] ahakanbaba commented on #33800
I was wondering whether this is related to getting the correct DOCKER_* environment set up.

I tried the update-all.sh script with and without the DOCKER_* env variables.
The permission errors were still persisting.
I wanted to update this thread if anyone was wondering about the impact of the DOCKER_* env vars.

[code]

[2016-10-03 22:09] matalo33 commented on #23155
I feel like this is an issue. Calling the API so frequently to determine if there is a public IP will adversely impact the API rate limit imposed by AWS on clusters with a large number of minions.

[2016-10-03 22:11] nikhiljindal commented on #33622
# Options for API

## Different group version

### Pros:
* Easier for admins to disable if they dont want to allow this feature.

### Cons:
*  Supports fetching resources from all k8s clusters or a particular k8s cluster, but not from a subset of k8s clusters.
* Cannot fetch resources from all k8s clusters and federation-apiserver in a single call (this is not an important Con because there is no

[2016-10-03 22:11] k8s-merge-robot opened #33974 "[k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2376/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Previous issues for this test: #29816 #30018

[2016-10-03 22:13] timstclair commented on #33935
Is it worth considering a programmatic solution as well? Even if we fix all the current logging hotspots (and we should), more will eventually be introduced.  We could throttle the writes-per-seccond based on log statement location, along with some new functions for requesting higher rate limits for special cases. This would require building a logging wrapper, something we've been discussing anywa

[2016-10-03 22:17] ymqytw commented on #33727
2. Update this annotation on both of them: http://kubernetes.io/docs/user-guide/petset/#troubleshooting (kind of a hack, but the point is we need to freeze the petset controller).
3. Delete pet-3, wait for it to disappear
4. Petset controller is blocked on pet-4.initialized=false
5. Delete pet-4, wait for it to disappear
6. Petset controller is blocked on pet-4.initialized=false
7. pet-4 disappear

[2016-10-03 22:24] nvnobelen opened #33975 "Feature request: emptyDir using dynamically created volumes"
FEATURE REQUEST:

emptyDir/hostPath defaults to local disk (/var/lib/kubectl), which due to the dynamic behaviour of kubernetes is not really working in a production environment: Multiple pods with conflicting volume size requirements could end up on the same node with as result disk space issues & crashes.

My proposal is to be able to auto create a GCE/AWS/Azure/Other cloud provider/flocker/dock

[2016-10-03 22:24] bprashanth commented on #33727
It's preferable to have at most 1 pod unavailabe at one time.
That pod will have a procedure the leave the cluster, eg nodetool decom. Most docs will be written in a way that describes this process for a single node (eg: https://docs.datastax.com/en/cassandra/2.1/cassandra/operations/ops_replace_live_node.html). You will also probably find docs on how to recover the cluster, should other nodes end

[2016-10-03 22:50] tonglil commented on #6545
Is using the daemonset the recommended/only way to move forward with this?

[2016-10-03 22:54] freehan commented on #33789
I am looking at Debian bootstrap with salt. Looks like a smoking gun here:
In `/var/log/startupscript.log`:
[code]

Looking at here: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/docker/init.sls#L23

My guess is that it depends on the execution sequence of configuring /etc/default/docker and the docker state. If docker state got executed before `/etc/default/docker`, t

[2016-10-03 22:57] freehan commented on #33789
The fix could be adding a condition that "if configure-cbr=true AND network-plugin=none or noop", then do not check `/etc/default/docker` to decide whether to restart docker

[2016-10-03 22:59] jessfraz commented on #33033
@freehan @thockin can this be closed now?

[2016-10-03 23:00] kzwang commented on #33727
@bprashanth I can understand that delete pets in more complicated than delete other pods. But currently, the [getController()](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/drain.go#L245) function returns an error so that the kubectl will exit with an error without delete any pods. I think at least the command should delete all other pods and maybe have a flag to force delet

[2016-10-03 23:08] freehan commented on #33033
Nope. The root cause is not fixed yet.

[2016-10-03 23:22] quinton-hoole opened #33979 "test flake: file_linux_test.go:387: Simple pod: Expected update, timeout instead"
Seen in https://github.com/kubernetes/kubernetes/pull/33866#issuecomment-251252401

[2016-10-03 23:23] quinton-hoole commented on #33979
Logs at:

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/33866/kubernetes-pull-test-unit-integration/47574

[2016-10-03 23:24] yujuhong opened #33980 "CRI: Ensure that container runtime runs in a known cgroup"
Currently, it's kubelet's responsibility to [move the docker daemon (and associated processes)](https://github.com/kubernetes/kubernetes/blob/v1.4.0/pkg/kubelet/cm/container_manager_linux.go#L328) to a cgroup. With CRI, such actions would require knowledge about the runtime that's beyond what the API currently provides. One option is to ask runtime to return a list of PIDs which kubelet can manage

[2016-10-03 23:25] quinton-hoole commented on #33882
Duplicate of #33874

[2016-10-03 23:26] quinton-hoole commented on #33838
fix is pending #33866

[2016-10-03 23:27] quinton-hoole commented on #33703
Duplicate of #33874

[2016-10-03 23:29] quinton-hoole commented on #33388
GCE qouta exhaustion problems.  @madhusudancs is busy addressing.

[2016-10-03 23:30] smarterclayton commented on #33727
I don't want petset pods to be special.  I think we may need to be using
disruption budget if you want to guarantee petsets don't take downtime
during drain (other than a manual drain impl).  Disruption budget should be
responsible for this.

On Oct 3, 2016, at 7:01 PM, Kevin Wang <notifications@github.com> wrote:

@bprashanth <https://github.com/bprashanth> I can understand that delete
pets in mo

[2016-10-03 23:30] quinton-hoole commented on #33388
Potential fix in #33869

[2016-10-03 23:31] bprashanth commented on #33727
Yes my proposal was if you want to drive the drain from kubectl

[2016-10-03 23:32] quinton-hoole commented on #32912
Has not re-occurred.  Closing.

[2016-10-03 23:32] #32912 closed

[2016-10-03 23:33] quinton-hoole commented on #32732
I'm looking into it.

[2016-10-03 23:41] dchen1107 commented on #33980
In one of our sig-node meetings, @derekwaynecarr and I touched this very topic a little bit when we discussed NodeSpec and Node conformance tests. The top level cgroup / resource provisioning should be defined at NodeSpec, and system_config_validation_test in Node Conformance Test should check this, and throw the error / warning if the config doesn't meet the specification.

Then the issue is how

[2016-10-03 23:49] scottstensland commented on #28045
when I get these AWS  timing related issues I insert lines like

    sleep 5

before / after offending AWS commands which properly should be driven by a Promise async call  .... and yes this issue continues even in the most alpha/beta release of kubernetes

SOLUTION -

cd ~/kubernetes
grep -r 'Adding tag to' *

cluster/aws/util.sh:  echo "Adding tag to ${1}: ${2}=${3}"

so edit file

vi cluster/aw

[2016-10-03 23:50] #27137 closed

[2016-10-04 00:01] NelsonBurton commented on #28045
Interesting, thanks for the insight.

[2016-10-04 00:23] yujuhong commented on #33979
[code]

The test expects two updates caused by two separate inotify events: CREATE, and MODIFY
[code]
It's my understanding that kubelet may send out only one update:
1. test creates a file.
2. inotify send a CREATE event.
3. kubelet tries to read the file, but the content is empty. kubelet reports `Object 'Kind' is missing in 'null'` error and does *not* generate an update.
4. test writes the ful

[2016-10-04 00:34] thockin commented on #6545
There's a flag that controls what single range gets not-masqueraded, but in
GKE flags don't persist well.  A DS is your best bet

On Mon, Oct 3, 2016 at 3:51 PM, Tony Li <notifications@github.com> wrote:

[2016-10-04 00:38] tonglil commented on #6545
Ok thank you. How do recommend a way to get the cluster IP programmatically to pass to the `iptables` command in the DS?

To be clear, for the container address range 10.68.0.0/14, I am running `sudo iptables -t nat -A POSTROUTING ! -d 10.68.0.0/14 -o eth0 -j MASQUERADE`, which then gives me connectivity.

[2016-10-04 00:41] yujuhong commented on #33950
@roopahc please open a new issue with more information. Thanks!

[2016-10-04 00:41] #33950 closed

[2016-10-04 00:45] smarterclayton commented on #33727
Should kubectl look at disruption budgets too?

On Oct 3, 2016, at 7:32 PM, Prashanth B <notifications@github.com> wrote:

Yes my proposal was if you want to drive the drain from kubectl

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/33727#issuecomment-251256686>,
or mute the thread
<https://git

[2016-10-04 01:03] yifan-gu commented on #33980
cc @kubernetes/sig-rktnetes

[2016-10-04 01:04] bprashanth commented on #33727
don't see why not, I think @pwittrock and @ymqytw are working on getting kubectl to respect disruption budget in general. This might mean the petset controller needs to create a default budget.

[2016-10-04 01:10] feiskyer opened #33984 "CRI: garbage collection may remove just-created sandbox"
Currently, kuberuntime removes a sandbox only when there are no containers belonging to it. But this introduces a potential problem of removing just-created sandbox, which means a sandbox may be removed if:

- It has been created and hasn't become ready yet (which means `RunPodSandbox` has been requested and has no response, but the sandbox is already shown in `ListPodSandbox`)
- garbage collectio

[2016-10-04 01:26] Random-Liu commented on #33984
Remove older than X will cause 2 problems:
1) If RunPodSandbox is too slow, this could still happen.
2) If RunPodSandbox is too fast (crashloop), this may leave a lot of garbage.

[2016-10-04 01:36] therc commented on #32863
Another condition worth watching for is an healthy->unhealthy transition during a rollout -- or at least while canarying. Ideally, the number of pod deaths before the condition triggers should be configurable. (And they should be actual deaths, because you can and you will get unlucky if you have enough nodes or users: a machine will reboot for a kernel upgrade or your pod will be preempted by a h

[2016-10-04 01:37] timothysc commented on #33935
I think this issue serves as a additional requirement towards the long term objective of refactoring logging.

[2016-10-04 01:37] roberthbailey commented on #6545
The GKE API will provide you the cluster CIDR. You can use gcloud or a raw API call to get it. I'd recommend making it a parameter on your DS and fetching/configuring it once rather than letting each pod do it dynamically for a couple of reasons:

1. The value never changes over the life of the cluster so it's unnecessary to keep asking for it (and then implement proper retry / failure handling)
1

[2016-10-04 01:57] k82cn commented on #25891
@jdef , @deads2k , should we close all those issues and trace them in https://github.com/kubernetes-incubator/kube-mesos-framework/ ?

[2016-10-04 02:01] yifan-gu commented on #33984
Wonder if we can solve this by not killing the sandbox when it's just created.

Apparently, these two cases are different:
- 1, No containers have ever launched yet.
- 2, Containers have all exited.

Although there is a chance that exited containers are gc'd, so we can't tell (2) from (1), but the chances is very low, so we could ignore IMO.

I will try to take this into account in my refactoring

[2016-10-04 02:06] k8s-merge-robot opened #33985 "[k8s.io] Pods should contain environment variables for services [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/499/

Failed: [k8s.io] Pods should contain environment variables for services [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-04 02:20] #33838 closed

[2016-10-04 02:30] joemiller opened #33986 "f"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-04 02:30] #33986 closed

[2016-10-04 02:34] bulletRush commented on #33689
@zhang8473 ,  you have no idea about how to debug. You should learn it first by google. It't not @lukemarsden @luxas or any other k8s members' problem. No body have same environment as you.
You even did not give any useful information. I had advised you run kubelet directly already, have you done it? You say you got a "connection refused", but have you seen your kube-apiserver is running and why?

[2016-10-04 03:27] madhusudancs commented on #33880
PR #33866 merged.

[2016-10-04 03:27] #33880 closed

[2016-10-04 03:40] k8s-merge-robot opened #33987 "[k8s.io] EmptyDir volumes volume on tmpfs should have the correct mode [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/508/

Failed: [k8s.io] EmptyDir volumes volume on tmpfs should have the correct mode [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-04 03:56] zhang8473 commented on #33689
@bulletRush You do not know how to discuss problems. Please do not speak. I saw your blog and you are very basic. The product is supposed to run any env and fits for all. If it does not, an error msg should show up.

No mature product blocks without warning/errors. No body knows the "old way" if the document of kubenetes does not say.

[2016-10-04 04:01] freshfishyu commented on #33689
`kubeadm init` would run etcd and kube-api-server in  container.
` Post https://192.168.252.104:443/api/v1/nodes: dial tcp 192.168.252.104:443: getsockopt: connection refused` show that your kube-api-server was not running succ.
I used kubeadm init to start the cluster but it failed. After inspection, I found that the etcd port was occupied by other processes, resulting in the failure to start the

[2016-10-04 04:23] saad-ali commented on #33782
Resolved with PR https://github.com/kubernetes/kubernetes/pull/33807

[2016-10-04 04:23] #33782 closed

[2016-10-04 04:23] k8s-merge-robot opened #33989 "kubernetes-e2e-gci-gke-slow: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow/421/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update nodePort: udp [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33285

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Se

[2016-10-04 04:23] saad-ali commented on #33725
Resolved with PR https://github.com/kubernetes/kubernetes/pull/33807

[2016-10-04 04:23] #33725 closed

[2016-10-04 05:23] justinsb commented on #22448
I agree with @lavalamp that we need a dump-and-restore procedure given the complexity of the upgrade procedure.

But then I'm wondering if we should just do a full logical data-dump (maybe even in our own code, if the etcd dump/restore utilities are tied to a particular version or we didn't want to assume they will always work), upgrade to the new version and then do a restore into etcd3.

I'd act

[2016-10-04 05:24] #33784 closed

[2016-10-04 05:34] justinsb commented on #33961
Check out channels, which is how I've avoided the problems of kube-addons: https://github.com/kubernetes/kops/tree/master/channels

It depends on your work on getting prune to work in `kubectl apply` @mikedanese (or will do!), but it also adds a few things for a better UX:

1) a meta-manifest for an addon, listing the various available versions (https://github.com/kubernetes/kops/blob/master/addon

[2016-10-04 05:40] mikedanese commented on #26637
SGTM.

[2016-10-04 05:41] mikedanese commented on #26637
But IIRC, component status is not backed by etcd?

[2016-10-04 06:27] k8s-merge-robot opened #33991 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17719/

Run so broken it didn't make JUnit output!

[2016-10-04 06:27] k8s-merge-robot opened #33992 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4646/

Run so broken it didn't make JUnit output!

[2016-10-04 06:27] k8s-merge-robot opened #33993 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-federation/4908/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377

[2016-10-04 06:27] k8s-merge-robot opened #33994 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/71/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982

[2016-10-04 06:27] k8s-merge-robot opened #33995 "[k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-multizone/636/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Pods should function for node-pod communication: http [Conformance] {Kubernetes e2e suite}

[code]

[2016-10-04 06:27] k8s-merge-robot opened #33996 "kubernetes-e2e-gci-gke-flaky: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-flaky/351/

Multiple broken tests:

Failed: [k8s.io] PersistentVolumes should create a non-pre-bound PV and PVC: test write access [Flaky] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] PersistentVolumes create a PV and a pre-bound PVC: test write access [Flaky] {Kubernetes e2e suite}

[code]

Failed: [k8s.io

[2016-10-04 06:27] k8s-merge-robot opened #33997 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/600/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28010

[2016-10-04 06:27] k8s-merge-robot opened #33998 "[k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/9498/

Failed: [k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26164

[2016-10-04 06:29] wojtek-t commented on #33935
@piosz - FYI

[2016-10-04 06:31] wojtek-t commented on #20504
I will start working on the migration (described here: https://github.com/kubernetes/kubernetes/issues/22448#issuecomment-251057363 ) today/tomorrow

[2016-10-04 06:47] #33993 closed

[2016-10-04 06:47] davidopp commented on #25321
If you're talking about what's described in #33454 -- it would be great if you are volunteering to do it. If you are referring to something else, let me know.

[2016-10-04 07:03] davidopp commented on #28312
@jeremyeder please cc @kubernetes/sig-scheduling when you submit the cpuset design proposal

[2016-10-04 07:07] #33996 closed

[2016-10-04 07:21] wojtek-t commented on #22448
I definitely agree that we need to document dump-restore procedure, but this in my mind is a next step, and above I was just describing what to do with the container to enable "rollforward" testing.

@justinsb Regarding online backups - internally in GKE we are doing this (using standard etcd tools). Restore procedure is a bit more complicated, but we will try to work on it and create some script

[2016-10-04 07:27] #33991 closed

[2016-10-04 07:37] #33994 closed

[2016-10-04 08:03] guybrush commented on #33638
Making `6443` the default (and nothing else for now) would be a very low hanging fruit and simplifies running a load-balancer in a local developer-environment (single-node, schedulable master) a lot.

[2016-10-04 08:32] #31098 closed

[2016-10-04 08:46] jeffery9 commented on #33729
face the same problem.
ubuntu  16

[2016-10-04 09:13] gmarek opened #34003 "e2e flake: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
This happens in ~50% of gce-serial runs (data from checking last 6 runs). It seems pretty serious, but I can't find a automated issue for this. @kubernetes/test-infra-maintainers Previous issue: #32960

Last failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2272

This looks like a Node issue. @kubernetes/goog-node @dchen1107 please reassign.

cc @d

[2016-10-04 09:17] lcrisci commented on #32227
Hey,

A quick feedback from us since we had the same issue and it was caused by not properly tagging all the resources ( especially the kubenode's SG in this case ) as mentioned in the following documentation:

https://github.com/kubernetes/kubernetes/blob/master/docs/design/aws_under_the_hood.md#tagging

Once we tagged the resources properly, this issue resolved itself on our side.

[2016-10-04 09:27] dshulyak commented on #30272
@davidopp does it make sense to open feature request in https://github.com/kubernetes/features? Or we can continue to track progress and feedback under this issue?

[2016-10-04 09:29] wojtek-t commented on #20504
The new mechanism for building an image is already out for review.

The necessary changes to migrate-if-needed.sh script will come probably tomorrow.

[2016-10-04 10:37] fvigotti opened #34006 "kube-proxy call iptables-restore every seconds"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT
**Kubernetes version** (use `kubectl version`): 1.4.0

**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Install tools**: ansible ( custom )
- **Others**: used hyperkube image for kube-proxy 1.4.0 `gcr.io/google_conta

[2016-10-04 10:43] #33992 closed

[2016-10-04 10:45] jonboulle commented on #33139
Yes, that's what I was saying; my confusion remains.

[2016-10-04 10:51] xiang90 commented on #33653
@wojtek-t Sure. We will start working on that.

[2016-10-04 10:58] kdima opened #34007 "Pods getting lost during deployment creation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-10-04 11:08] kargakis commented on #32863
I have already added an `Available` condition in https://github.com/kubernetes/kubernetes/pull/19343 for Deployments.

[2016-10-04 11:14] jsafrane commented on #33960
I am in favor of enabling the tests, however they were disabled exactly because GCE test platforms did not have necessary binaries. In this case, GCI needs `/usr/sbin/mount.gluster`. On Fedora, it's `glusterfs-fuse` package.

And all the other volume tests need similar utilities - `/usr/bin/rbd`,  `mount.ceph`, `iscsiadm` and such.

[2016-10-04 11:19] xiang90 commented on #34007
You run multiple schedulers, right?

[2016-10-04 11:20] kdima commented on #34007
yeap three of them

[2016-10-04 11:21] xiang90 commented on #34007
Can you provide more detailed information of your setup? Then we can reproduce this more easily. Thanks!

[2016-10-04 11:25] KarolisL opened #34008 "I would like kubernetes to support logging only warnings/errors"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): logging, logging level

---

I am using `--logtostderr=true` and I would like to be able to see only WARN/ERROR level messages in my log of Kubernetes components.

I am especially interested in being able to dismiss INFO level messages from kubelet.

Ac

[2016-10-04 11:40] kargakis commented on #32567
@smarterclayton that's mostly a guarantee we want for Deployments. At the very least, by providing TerminatingReplicas at the replica set level, we handle a big part of what's needed here (the namespace controller is not a problem I think and I would expect that nodes are not restarted more often than not). If we want to handle nodes going down or being partitioned then we could have the replica s

[2016-10-04 11:42] kdima commented on #34007
We have three master nodes that are running apiserver, controller-manager and scheduler each. All of those are running inside the docker container. Kubeletes are running as binaries i.e. not inside docker.
We have two static worker nodes and one that is scaled by GCE scaler group.
Here are the parameters with which we start those components.
All of those services are scheduled via fleet.
[code]

H

[2016-10-04 11:55] bboreham commented on #31307
@djosborne can I ask how your work is coming along?

Also can I ask whether you are targeting a generic CNI plugin that could be used with any network implementation?

[2016-10-04 12:10] wojtek-t commented on #20504
We should get something testing etcd 3 on both a presubmit and postsubmit to prevent regressions. @ixdy or @spxtr, can one of you work with (or find someone to work with) @timothysc to make sure that happens ~soon?

As for post-submit, I think we should just promote the etcd3 suite that we already have to be blocking:
https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kuberne

[2016-10-04 12:20] wojtek-t commented on #20504
In kubernetes/contrib#1831 I'm adding this job to submit-queue list of jobs. But we should probably also add it to blockers - do you agree @lavalamp ?

[2016-10-04 12:22] deads2k commented on #25891
Yes.

[2016-10-04 12:22] #25891 closed

[2016-10-04 12:45] wojtek-t commented on #33653
@xiang90 - thanks; let me know if I can somehow help with it.

[2016-10-04 13:43] justinsb commented on #33884
Ah, I think this is the problem:

The master is not marked unschedulable.  But that is correct, because we are supposed to use taints and tolerations instead.  We mark it schedulable with a taint so that we can use deployments for our system components.

kops does today where we're (likely) going now that we include the master: it runs kube-proxy, it gets a PodCIDR, it has a taint but is not marke

[2016-10-04 14:05] wojtek-t commented on #33472
@bradfitz - can the stacktraces from above (https://github.com/kubernetes/kubernetes/issues/33472#issuecomment-251102678) be the reason of what @smarterclayton mentioned: https://groups.google.com/forum/#!topic/golang-checkins/V_MARoQ1TVY

[2016-10-04 14:15] wojtek-t commented on #33723
There are two failures in this issue:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6280/
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/6281/

Those are two consecutive runs.

The first one is reported as still running (which seems really like an infrastructure failure).

The second one is in my opini

[2016-10-04 14:16] ashmere opened #34012 "tls bootstrap for kubelet incorrectly still using self-signed certs after generating fresh certs"
Bug Report
**Kubernetes version** (use `kubectl version`): v1.4.0

**Environment**: CoreOS on GCE using custom clustering
- **Cloud provider or hardware configuration**: gce
- **OS** (e.g. from /etc/os-release):  CoreOS 1122.2.0
- **Kernel** (e.g. `uname -a`): 4.7.0
- **Install tools**:
- **Others**:

**What happened**:
I started a the kube-controller-manager with flags --cluster-signing-cert-file

[2016-10-04 14:26] k8s-merge-robot opened #34014 "[k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/9514/

Failed: [k8s.io] Downward API volume should update annotations on modification [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28462 #33782

[2016-10-04 14:35] fvigotti opened #34015 "services exposed on externalIp ( bare metal ) unexpected behaviour"
Is this a BUG REPORT or FEATURE REQUEST? (choose one): BUG REPORT
Kubernetes version (use kubectl version): 1.4.0

Environment:

Cloud provider or hardware configuration: *dedicated servers* 5 node cluster, 3 master
OS (e.g. from /etc/os-release): ubuntu 16.04
Kernel (e.g. uname -a):
Install tools: ansible ( custom )
Others: used hyperkube image for kube-proxy 1.4.0 gcr.io/google_containers/hyperk

[2016-10-04 14:38] wmz7year opened #34016 "kubeadm create kubernetes cluster apiserver listener addr error"
Hi  I'm create kubernetes cluster with kubeadm.

[code]

"--insecure-bind-address=127.0.0.1"   is this right?
I think it should be a public address or 0.0.0.0

[2016-10-04 14:41] allannaim opened #34017 "[Cluster Federation] Unable to create Federated Ingress"
I've gone through the process of setting up a federated control plane several time and each time I've successfully been able to deploy federated replicasets and services. Where things feel like they're breaking is on federated Ingress. The controller manager seems to create a global forwarding rule, and backend proxies, with only one backend proxy configured to an instance group in the target clus

[2016-10-04 14:55] jacek-marchwicki commented on #33638
Making 6443 default it would be enough at starting point -in most situations users would like to deploy some webserver on 443

[2016-10-04 14:57] kargakis commented on #33968
@kubernetes/kubectl

Related:
https://github.com/kubernetes/kubernetes/issues/3955
https://github.com/kubernetes/kubernetes/issues/20587

[2016-10-04 15:12] quinton-hoole commented on #28580
Will be covered by https://github.com/kubernetes/features/issues/102 . Closing this one.

[2016-10-04 15:12] #28580 closed

[2016-10-04 15:14] fvigotti commented on #33945
is this related to [https://github.com/kubernetes/kubernetes/issues/34015]
and maybe to [https://github.com/kubernetes/kubernetes/issues/34006]
I've found those two more-easy-to-reproduce networking issues while investigating..

[2016-10-04 15:37] timothysc commented on #26637
@mikedanese I just found that out a second ago :-(

[2016-10-04 15:38] yujuhong commented on #33984
The current sandbox GC behavior is that we'll remove a sandbox if none of the containers are currently associated with it. I am afraid that if removing sandbox depends on the containers, the logic will grown even more complex.

One fundamental problem is that we can't tell if a sandbox is "created" or "exited". What If we add a new "created" state in the api, the garbage collector can avoid removi

[2016-10-04 15:45] spiddy commented on #23920
same issue here, I stumbled on that when creating a cluster using kube-aws with `v1.4.0_coreos.1` (AWS environment). The problem is the Ingress controller (the nginx one) cannot be used since it uses `hostPort` as mentioned before.

[2016-10-04 15:59] guybrush commented on #33931
In this context i think it is important to also think about how *resetting* works for every installed cluster-addon, e.g. storage and especially cni-addons (clean up the ip-routes).

[2016-10-04 16:01] kargakis commented on #33256
A table with all the tests so far in this thread:

Test failure time - Deletion timestamp = diff
Sep 21 23:56:13 - 23:55:12 = 01:02
Sep 22 15:05:53 - 15:05:40 = 00:13
Sep 28 19:09:10 - 19:08:57 = 00:13
Sep 29 00:09:34 - 00:09:21 = 00:13
Sep 29 05:08:15 - 05:08:02 = 00:13
Sep 29 11:08:39 - 11:08:26 = 00:13
Sep 29 18:53:56 - 18:53:15 = 00:41
Sep 29 19:08:37 - 19:07:56 = 00:41
Sep 30 00:52:24 - 00:51

[2016-10-04 16:03] ymqytw commented on #33968
I think the problem here is that `v1.DownwardAPIVolumeSource` in the 1.2 cluster doesn't have `defaultMode` field.
Ref: [this line](https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/api/v1/types.go#L2889) and [this line](https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/api/types.go#L669) in 1.2 release.

[2016-10-04 16:04] edevil commented on #33906
Disregard, this is also a problem with kubenet that is related to https://github.com/kubernetes/kubernetes/issues/32900. Kubenet does not start with no controller manager (and thus with no podcidr), but if we specify one at startup then when the controller manager starts it is not reconciled.

[2016-10-04 16:04] #33906 closed

[2016-10-04 16:21] jswoods commented on #26670
Have either of you tried out the setting DisableSecurityGroupIngress? From https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L379-L386

[2016-10-04 16:21] Hokutosei commented on #29903
I am experiencing this very irritating problem again. just upgraded a GKE from 1.3.7 to 1.4. i have a working cluster mongodb, and all are stuck in `ContainerCreating` I tried deleting some pods, and it wont spin up new mongodb pods.

[code]

[2016-10-04 16:22] #33997 closed

[2016-10-04 16:49] Hokutosei commented on #29903
it seems to be trying to mount a wrong pvc name? `5d120abb-66e9-11e6-942f-42010af00048`. there is no pvc like that name if that's the case

[code]

[2016-10-04 17:00] errordeveloper opened #34022 "kubeadm should not need to depnend on kubelet dns flags"
We currently have to start kubelet with 10th address from the default service CIDR, we should be able to set this flag via the API.

[2016-10-04 17:05] marun commented on #33689
@zhang8473 This is open-source, and as indicated is 'alpha' quality.  So no, it's not mature yet.  User feedback such as yours is essential to evolve the software towards maturity, but such feedback needs to be supplied in a respectful manner.  Personal attacks are not acceptable, as per the Kubernetes Code of Conduct:

https://github.com/kubernetes/kubernetes/blob/master/code-of-conduct.md

[2016-10-04 17:09] yujuhong commented on #33413
/cc @mtaufen

[2016-10-04 17:14] errordeveloper opened #34025 "kubeadm could store a configmap with some of it's flags"
Things like service CIDR and pod network CIDR, cluster DNS domain are useful for network and other similar type of add-ons, also there has been some ideas around general accessibility of key parameters. Other example may include cloud provider name, CNI config path and other bits of information that are scatered in kubelet, kube-apiserver and kube-controller-manager flags. Let's discussed this mor

[2016-10-04 17:22] lavalamp opened #34027 "godep verify script often fails downloading a dependency"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4665/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4656/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/4649/

Three recent failures, three different dependency load fails.

[2016-10-04 17:27] smarterclayton commented on #33472
It could also be a hang in crypto.ssh, but I ask because I believe we're
doing the SSH tunnel specifically to tunnel TLS underneath it.

On Tue, Oct 4, 2016 at 10:05 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-10-04 17:28] ixdy commented on #34027
First was a failure while downloading godeps. I'm really not sure what to do about that - by its very nature, the test needs to download the dependencies.

Second was a failure cloning from GitHub; this happens occasionally for unclear reasons.

Third was a failure downloading etcd, which we've run into many times, and for which we've discussed either caching or embedding etcd in the test containe

[2016-10-04 17:29] smarterclayton commented on #33139
I was saying that the selinux context matters to the sidecar with the host path - it needs to write files to the host in the host's selinux context.  The web containers selinux context, on the other hand, should be restrictive to minimize breakouts.  The web container and side car might connect over a shared filesystem or over local networking on a unix domain socket.

[2016-10-04 17:29] jingxu97 commented on #29903
@Hokutosei, 5d120abb-66e9-11e6-942f-42010af00048 is the pod uid, not a pvc name. Could you please share your kebelet log and your GKE cluster's project id, zone information?

Right now, there is one bug fix #32807 has not yet checked in the release which might cause your problem. I can double check and also try to push the fix out asap. Sorry for the inconvenience.

[2016-10-04 17:32] lavalamp commented on #34027
We could potentially cache all the things that godep verify downloads. It's pretty ridiculous to actually download everything every run.

My point making an issue here is actually that a caching layer could solve all of these problems.

[2016-10-04 17:35] jingxu97 commented on #28081
Checked this test and another related flaky test #28427, both tried to write some data to container's file and then read it. But sometimes, the read returns with empty content.

I set up a cluster GCI cluster and run the same test, it failed once after about 90 runs. The log indicates that the although reading returns empty content, the next command to check the file size is NOT 0. It looks like r

[2016-10-04 17:38] zhang8473 commented on #33689
@marun I acknowledged this is alpha after I saw @luxas replies, but the purpose is not always alpha. Nobody wants employers who says "working hard" but cannot fix problems. However, I did not know they are just from community. I said I am sorry for this misunderstanding. I may personally attack bulletRush because this person thinks github is a chat room in Tencent and keep on using those unprofess

[2016-10-04 17:41] miry opened #34031 "kubeadm join specify advertise ip"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): kubeadm

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

  - I would like to specify advertisement ip or hostname for node during the join process. Currently it uses hostname, but kb master could not find the host by it(

[2016-10-04 17:46] jessfraz commented on #33623
this is failing for the upgrade tests for 1.4 see: https://k8s-testgrid.appspot.com/release-1.4-all#gce-reboot-release-1.4

[2016-10-04 17:46] dims commented on #34012
I believe the kubelet-client.crt / kubelet-client.key is for securing the API Server <-> Kubelet communication. I don't think it was meant to replace --tls-cert-file/--tls-private-key-file/--cert-dir for TLS listener.
( cc @liggitt @yifan-gu )

[2016-10-04 17:47] jessfraz commented on #33623
and also here: https://k8s-testgrid.appspot.com/release-1.4-all#gke-reboot-release-1.4

[2016-10-04 17:49] zmerlynn opened #34032 "DisruptionController tests are extremely noisy on AWS"
**Kubernetes version** (use `kubectl version`): Found in CI

**Environment**:
- **Cloud provider or hardware configuration**: AWS `e2e.go` defaults

**What happened**: https://k8s-testgrid.appspot.com/google-aws is red, mostly because of the `DisruptionController` suite. It's probably a timing difference on AWS, but I'm trying to get AWS stable enough for the SQ, and this just isn't. c.f. #32646,

[2016-10-04 17:50] jingxu97 commented on #29324
Hi @argusua @spacepluk @svanderbijl and all other AWS users, the fix #32242 is already merged. I would really appreciate if you could test against the master version (or the head of the tree) to see whether the problem is fixed or not on your cluster.

There is still a chance of failure if you reboot the node instead of terminating the node and replace the node with new name. I am working this whi

[2016-10-04 17:57] lavalamp commented on #22448
Justin, it's not desirable to do the dump/restore pattern for upgrades if
we can possibly avoid it, since it loses ResourceVersion metadata. Since
components depend on RV being a logical clock that only ever increments,
we'd have to restart everything after doing anything that causes them to go
backwards.

kubectl has an export command.

dump/restore doesn't make a whole lot of sense at the kubect

[2016-10-04 17:57] Amey-D commented on #33745
@JorritSalverda Could you please elaborate on "I couldn't get overlay nor overlay2 to work with GCI"?  As adityakali pointed out, Docker-in-Docker works on GCI with overlayfs storage driver.  Also note that GCI ships with Docker 1.11.2, whereas your manifest appears to base 1.12.  I'm not sure if that's the problem though.

[2016-10-04 17:59] k8s-merge-robot opened #34033 "Up {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-pre-release/518/

Failed: Up {e2e.go}

[code]

Previous issues for this test: #33357 #33377 #33993

[2016-10-04 17:59] k8s-merge-robot opened #34034 "kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/43/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support inline execution and attach {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26324 #27715

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracki

[2016-10-04 17:59] k8s-merge-robot opened #34035 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-serial-release-1.4/97/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982 #33994

[2016-10-04 17:59] k8s-merge-robot opened #34036 "[k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/530/

Failed: [k8s.io] Services should be able to create a functioning NodePort service {Kubernetes e2e suite}

[code]

Previous issues for this test: #28064

[2016-10-04 18:01] nicolasbelanger opened #34037 "Missing IP address in kubenet"
When trying to deploy fluentd with DS, the master is missing available IP address...

[code]

There is no apparent reason to limit these resources, and DeamonSets on master are much needed to monitor and log stuff from those nodes.  Please advise.

[2016-10-04 18:09] ashmere commented on #34012
It looks like it should do both and regardless of if the bootstrap is right for that the kubelet should surely be taking the values in the kubeconfig

[2016-10-04 18:09] #34033 closed

[2016-10-04 18:09] argusua commented on #29324
Thank you, @jingxu97
Unfortunately I have a vacation and I'll come back only after 2 weeks. I hope somebody can help with testing also.

[2016-10-04 18:16] jessfraz commented on #32699
@davidopp is there something different about the way those tests are setup that are why it's failing?

[2016-10-04 18:17] freehan commented on #34037
Can you take a look and see if this is a dup of https://github.com/kubernetes/kubernetes/issues/32844 ?

[2016-10-04 18:19] liggitt commented on #34012
serving certs aren't part of the bootstrap flow yet

this is the intended flow, currently:
1. the bootstrap kubeconfig has an API token
2. the kubelet uses that to obtain a client cert, which it writes to /var/run/kubernetes, and generates kubeconfig referencing the new client cert
3. the kubelet generates a self-signed serving cert

the kubeconfig is used for kubelet->api communications, nothing

[2016-10-04 18:23] #34035 closed

[2016-10-04 18:31] ecordell commented on #31524
Just to clarify the case being discussed: I really want to say "the infrastructure doesn't have the power to read _all_ of your images", and furthermore the credentials in question would not necessarily be the same; they could be time-restricted and read-only, for example.

In any case: the solutions presented here are essentially service-to-service authentication, which could be fine in many case

[2016-10-04 18:35] moserke opened #34039 "vsphere volume does not honor fsGroup"
When the vsphere volume is mounted, it fails to set the ownership to the fsGroup.

Right before the end of the SetUpAt method at https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/vsphere_volume/vsphere_volume.go#L231 the volume should have it's ownership changed by running
`if !b.readOnly {
        volume.SetVolumeOwnership(b, fsGroup)
    }`

[2016-10-04 18:39] yujuhong opened #34040 "CRI validation test"
This was brought in the @kubernetes/sig-node meeting previously. I think having a CRI validation test is necessary eventually to qualify a new CRI shim and help CRI shim developers. It would be good to have such a test sooner than later.

Basically, we want a test framework and a set of tests to validate a CRI (grpc) server alone. For starters, we can just run tests locally on a machine where the

[2016-10-04 18:51] erictune commented on #29708
Auto-generating a random root password for databases is good.
Here is an example of how it is done in a Helm Chart:
https://github.com/kubernetes/charts/blob/882aa5db0e8f8946997936a8cb6fd8c3db04af1f/stable/mysql/templates/secrets.yaml#L15

Server-side secret generation could be useful.  I'd do that after we make progress on vault/HSM integration.

In the case of a "general purpose DB", where users

[2016-10-04 18:58] nicolasbelanger commented on #34037
@freehan Good catch, it looks exactly the same...  I'm closing this one then...

[2016-10-04 18:58] #34037 closed

[2016-10-04 19:04] yujuhong commented on #33980
@derekwaynecarr @vishh @yifan-gu @euank @feiskyer thoughts?

I'd like to move the relevant code down to the docker packages if we decide to go with the second option.

[2016-10-04 19:06] bprashanth commented on #29708
I'll add that most dbs allow non-source-ip based auth (password/username@hostname). The client takes a hostname (eg: `mysql -u foo -ptest -h hostname`) and even if the ip is used, the db will perform a reverse lookup. So that's preferable, since we don't offer stable ips.

[2016-10-04 19:10] yifan-gu commented on #33984
@yujuhong But even the sandbox has 0 containers, it will be in the state of `Ready` until it's been stopped, right?
What I was saying is we don't stop the sandbox until we really needs to, e.g. when the pod should be killed, but not when there is no containers running.

[2016-10-04 19:15] colhom opened #34043 "apiservers should be able to advertise a DNS name"
As of now, `--advertise-address` only accepts IP addresses. An apiserver should have an option to advertise a DNS name, in the case no IP address is permanently associated with the interface. A common situation where this is necessary is API servers behind an AWS ELB, which has no permanent IP address associated with it.

This could be implemented either by:
- modifying `--advertise-address` and a

[2016-10-04 19:15] yujuhong commented on #33984
Yes, but the sandbox will only be removed if it was stopped ("exited", not "created"). This will change the current "ready", "not ready" states that the sandbox has.

I remember we had a similar discussion last time and you rejected the idea of keeping the sandbox running since it'd be a waste of resource ;)

[2016-10-04 19:18] luxas commented on #33689
Okay, let's focus on the issue and forget about above off-topic discussion.
Apoligies if I hurt somebody with what I said.

No, there isn't a built-in way to customize the etcd port.
Why should there be? etcd officially supports one port only for client communication, 2379, and we're using that.
But you mean that you have some etcd instance already listening to 2379?
Then there's no doubt at all w

[2016-10-04 19:20] luxas opened #34044 "Add a kubeadm reset command"
This would reset everything that kubeadm init and kubeadm join has done

Roughly this in bash:
[code]

[2016-10-04 19:21] rrati commented on #25319
@davidopp @wojtek-t Do you know the state of the items listed above?  Some of the issues appear to have been either resolved or have had work done on them.

"Before allowing users to use it, be sure we won't need to roll back to binary version that doesn't support it* - Does this have a defined work item?  Is it just a confidence level?

Better solution for "first pod problem" - Has anyone started

[2016-10-04 19:21] erictune commented on #28761
How would this work?  Would the peers use this number to calculate the size of a quorum?  If so, wouldn't it be necessary to restart all the pods so that they all agree on the new quorum size?  Seems complex.  Or is there another use for this number?

[2016-10-04 19:23] luxas commented on #34044
@kubernetes/sig-cluster-lifecycle
This is some of the most important enhancements we should do asap

[2016-10-04 19:25] yifan-gu commented on #33984
@yujuhong It's different. As I said above, there are two cases a pod sandbox will have 0 containers:
- No containers have been started yet.
- All containers are exited.

Obviously, when no containers are started, the sandbox should not be stopped.
When all containers are exited, it depends whether those containers will restart or not.

Two states for sandbox are enough, and we need to fix the sync

[2016-10-04 19:30] luxas opened #34046 "add some pre-flight checks to kubeadm init and join"
from the top of my head:
 - check for free ports: 8080, (6)443, 2379, 10250, 10251, 10252, ...
 - check if docker is running (yes, this is one of the most common failures)
 - check if systemctl is present and if kubelet is crashlooping
 - check that `/etc/kubernetes`, `/var/lib/etcd`, `/var/lib/kubelet` is empty
 - check for root and warn that it might fail
 - check for kubelet dependencies in PAT

[2016-10-04 19:41] yujuhong commented on #34003
The mirror pod of the e2e-image-puller pod has been deleted in the network partition test by the node controller. kubelet currently doesn't try to recreate the mirror pod (or even sync it) if the pod has already terminated. In the restart test, kubelet got restarted, and the in-memory status cache was cleared. kubelet then decides to sync the pod once to generate the status, which leads to creatin

[2016-10-04 19:44] yujuhong commented on #16627
@bgrant0607 @dchen1107 is setting mirror pod read-only still a viable option?

[2016-10-04 20:10] quinton-hoole commented on #34017
Reassigning to @madhusudancs on the basis of our discussion.  He's already helping you with this.  Thanks Madhu!

[2016-10-04 20:13] danwinship commented on #32401
@thockin any opinions on this?

[2016-10-04 20:23] Random-Liu commented on #33984
If so, we don't we just extend the current logic?
If a sandbox 1) has containers in it or 2) is the latest sandbox for an existing pod, we keep it.

[2016-10-04 20:30] duglin commented on #33360
Is this still an issue?

[2016-10-04 20:32] Random-Liu commented on #34046
This looks a little similar with https://github.com/kubernetes/kubernetes/issues/28408.

[2016-10-04 20:34] sebgoa opened #34048 "RBAC setup in 1.4"
Hi,

I am trying to test RBAC.

I have started a k8s cluster with the 1.4 release binaries from https://storage.googleapis.com/kubernetes-release/release/v1.4.0/bin/linux/amd64/kube-apiserver

my api server config contains this:

[code]

the basicauth.csv file has a `foobar` user defined with a password.

With a 1.3.7 client I get this error:

[code]

And with a 1.4.0 client I get this:

[code]

T

[2016-10-04 20:44] yifan-gu commented on #33984
@Random-Liu It's a choice whether you put the logic in gc or in sync pod.
What I am proposing is GC does dumb job, just clean up what is marked as stopped.
And kubelet be more careful about stopping a sandbox.

[2016-10-04 20:46] marun commented on #34040
I'd like to work on this.

[2016-10-04 20:47] jingxu97 commented on #28081
Have more tests to prove that during the test, the data is already written to the file successfully. All mounts are fine. But the read command with "cat" sometimes returns with stdout being empty string. In my local tests, I can reproduce the error very easily. I also add read command for multiple times. It shows that during these reads, sometimes it just returns empty, and the rest of reads are j

[2016-10-04 20:52] mrunalp commented on #34040
We have added a testing framework to cri-o using bats that is working quite well for us so far. We would be glad to share those tests. PTAL https://github.com/kubernetes-incubator/cri-o/blob/master/test/ctr.bats as an example.

[2016-10-04 20:57] ymqytw commented on #33968
#3955
#20587

@hubt This issue links to known issue mentioned above. To work around, I'd recommend using the `kubectl` matching the cluster version.

The defaulting function is called during object conversion. See the stack trace below.

**_k8s.io/kubernetes/pkg/api/v1.SetDefaults_DownwardAPIVolumeSource(0xc82064ce40)_**
    k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/pkg/api/v1/defau

[2016-10-04 20:57] bradfitz commented on #33472
I see no TLS in the stack traces above, so this doesn't seem related to TLS at all.

[2016-10-04 21:00] jingxu97 commented on #28081
The same issue has occured in all similar PD tests including #33827, #30689, #28283, #29752, #28297, #28081, #28427,

[2016-10-04 21:02] bprashanth commented on #33279
closed via https://github.com/kubernetes/kubernetes/issues/33949

[2016-10-04 21:02] #33279 closed

[2016-10-04 21:09] erictune commented on #27299
@bprashanth If this hasn't been seen in 3 months, okay to close?

[2016-10-04 21:10] bprashanth commented on #27299
Yes we fixed it with https://github.com/kubernetes/kubernetes/issues/27058

[2016-10-04 21:10] #27299 closed

[2016-10-04 21:13] koubas commented on #33933
I've discovered that you can get the token this way:
`kubectl --namespace=kube-system get -o json secret/clusterinfo | sed -nr 's/^.*token-map.json": "(.*)".*$/\1/p' | base64 -d
`
Example output: {"56fa9a":"705a6001db6a6756"}
The token for kubeadm join is: 56fa9a.705a6001db6a6756

[2016-10-04 21:14] jonathan-kosgei opened #34052 "Deleting a deployment does not delete replicaset"
The following is a standard deployment
[code]

According to the docs at http://kubernetes.io/docs/user-guide/deployments/ , creating the above with create a replicaset with a redis pod under it. In this sense creating the above deployment will create a replicaset. However deleting the above with , via api will not delete the replicaset created. The pods will stay up and continue running.

[2016-10-04 21:20] sebgoa commented on #34048
ok user error (did not restart the api server, only did a start...)

the config is good, I can create Roles.

[2016-10-04 21:20] #34048 closed

[2016-10-04 21:32] smarterclayton commented on #33472
@wojtek-t I would add a debug wrapper around the tls stream we proxy over ssh.  It's either a hang in the tunnel or a hang in the thing we send through the tunnel.  Go version?

Any hung goroutines on the nodes?  And other similar goroutines?

[2016-10-04 21:33] smarterclayton commented on #33472
*Any* other similar goroutines

[2016-10-04 21:33] apelisse commented on #33416
Failing because of https://github.com/kubernetes/kubernetes/pull/33094, this is expected to happen!

[2016-10-04 21:33] #33416 closed

[2016-10-04 21:53] #33309 closed

[2016-10-04 21:56] Random-Liu commented on #34003
Offline discussed with @yujuhong, I can't think of a better short-term solution, either.
To make sure the mirror pod to be there, we could
1) Prevent other components from deleting it (read-only mirror pod is still under discussion at #16627)
2) Let kubelet recreate the mirror pod even though it terminates, which needs to change kubelet SyncPod logic or separate mirror pod logic out of SyncPod. (t

[2016-10-04 21:58] guoshimin opened #34056 "Pod in status "Failed" doesn't release volumes"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): pod status failed volume

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose o

[2016-10-04 22:00] bradfitz commented on #33472
The problem is the net.Conn under the ssh connection went away and there are no TCP keep-alives and no deadlines on the read, so it's waiting forever for a reply that will never arrive.

Are you setting the ClientConfig.Timeout? https://godoc.org/golang.org/x/crypto/ssh#ClientConfig

Or find the thing that's making ssh connections and make sure that connection (TCP connection I assume?) has keep-a

[2016-10-04 22:10] Random-Liu commented on #33962
Sorry for the delay, just saw this issue. :) This is related to https://github.com/kubernetes/kubernetes/issues/28408.

The system verification will be a simple package which should be able to integrate into kubeadm easily. Just import and call [`system.Validate()`](https://github.com/kubernetes/kubernetes/pull/32427/files#diff-1797fd733920de6906be5e6850afeba8R41). Currently, we are working on def

[2016-10-04 22:16] bprashanth commented on #33884
I guess the point of making the master just another node that you can now run master components on just any other node. If we need to treat it specially, we need some stigma, right? saying every unschedulable node (be it through taint or explicity field) doesn't get nodePort seems wrong.

[2016-10-04 22:34] quinton-hoole commented on #31184
The Federated Ingress controller generates a sensible log message, but this need to be promoted to a Federation Event to be better exposed via the API.  Leaving open until that's done.

[2016-10-04 22:34] ixdy commented on #33867
We used to [try to bring the cluster down when turnup failed](https://github.com/fejta/kubernetes/blob/ffe611569dbd645a7d5c9428828ece1404e7e396/hack/jenkins/e2e-runner.sh#L169-L181), but that logic was apparently lost in #28575.

[2016-10-04 22:34] euank commented on #33962
Could `kubeadm verify` exist as a superset of `kubelet verify`; e.g. we could implement `kubelet verify` and test it on the node side, but we could document for users to use `kubeadm verify`.

`kubeadm verify` could then follow the flow of
1. Validate kubelet binary exists
2. Run `kubelet verify` and make sure it's happy
3. Run any other validation tools

I think that sort of separation of concern

[2016-10-04 22:35] quinton-hoole commented on #32943
@madhusudancs is already busy working on this. Reassigning accordingly.

[2016-10-04 22:37] ixdy commented on #33771
All 4 runs were timeouts. Hasn't happened in a while, so I'm going to close.

[2016-10-04 22:37] #33771 closed

[2016-10-04 22:38] ixdy commented on #33742
GKE was broken late last week. Fixed now.

[2016-10-04 22:38] #33742 closed

[2016-10-04 22:38] ixdy commented on #33739
Jenkins agent restarting, most likely.

[2016-10-04 22:38] #33739 closed

[2016-10-04 22:39] #33740 closed

[2016-10-04 22:39] ixdy commented on #33738
Jenkins agent restarted, most likely.

[2016-10-04 22:39] #33738 closed

[2016-10-04 22:39] ixdy commented on #33737
Jenkins agent restarted.

[2016-10-04 22:39] #33737 closed

[2016-10-04 22:41] ixdy commented on #33743
GKE was pretty broken late last week.

[2016-10-04 22:41] #33743 closed

[2016-10-04 22:41] ixdy commented on #33741
Jenkins agents restarted.

[2016-10-04 22:41] #33741 closed

[2016-10-04 22:42] ixdy commented on #33723
I think all of the Jenkins agents were restarted at that time, which caused a lot of orphaned jobs.

[2016-10-04 22:42] #33723 closed

[2016-10-04 22:43] #33721 closed

[2016-10-04 22:50] #34034 closed

[2016-10-04 22:54] ixdy opened #34059 "destroy the "Expect(err).NotTo(HaveOccurred())" anti-pattern in e2e tests"
I'm getting tired of seeing flake issues like https://github.com/kubernetes/kubernetes/issues/33647 where every single failure is of the form

[code]

This is about as unhelpful an error message as you can get.

The problem is that we have

[code]

peppered throughout the code everywhere, and in this form, you can only figure out what failed if you read the Ginkgo error, remember which line has th

[2016-10-04 22:55] quinton-hoole commented on #32732
Hasn't flaked in 12 days.  Closing.  Will be automatically re-opened if it re-occurs.

[2016-10-04 22:55] #32732 closed

[2016-10-04 22:57] ixdy commented on #33624
Every failure was a timeout waiting for cluster initialization. Not sure if there's anything actionable here.

[2016-10-04 22:58] ixdy commented on #33603
All timeouts.

[2016-10-04 22:58] ixdy commented on #33596
GKE was broken late last week.

[2016-10-04 22:58] #33596 closed

[2016-10-04 22:59] ixdy commented on #33560
Timeouts and other things.

[2016-10-04 22:59] ixdy commented on #33537
Most recent failure was a timeout.

[2016-10-04 22:59] #33521 closed

[2016-10-04 23:00] ixdy commented on #33514
timeouts and other mysterious failures.

[2016-10-04 23:00] ixdy commented on #33507
timeout.

[2016-10-04 23:00] #33507 closed

[2016-10-04 23:01] #33456 closed

[2016-10-04 23:02] ixdy commented on #33421
#33874

[2016-10-04 23:02] #33421 closed

[2016-10-04 23:02] ixdy commented on #33415
Doesn't look like a test-infra bug.

[2016-10-04 23:02] #33415 closed

[2016-10-04 23:03] jeremywadsack commented on #33766
I just tested this again, completely outside an application and reproduced the issue. My guess is that `apply` doesn't really support removing the load balancer, but I expected it to.

Again, using GKE

[code]

I created a service description, `t1.yml`:

[code]

I then created the service:

[code]

Next I created t2.yml as follows (i.e. the same thing without a load balancer):

[code]

And once th

[2016-10-04 23:03] #33406 closed

[2016-10-04 23:04] ixdy commented on #33406
fyi @quinton-hoole - reboot stuff looks really broken.

[2016-10-04 23:04] #33404 closed

[2016-10-04 23:05] #33403 closed

[2016-10-04 23:05] #33402 closed

[2016-10-04 23:05] ixdy commented on #33401
seriously? this job is named -flaky.

[2016-10-04 23:05] #33401 closed

[2016-10-04 23:06] #33399 closed

[2016-10-04 23:06] #33400 closed

[2016-10-04 23:08] #31771 closed

[2016-10-04 23:09] #32343 closed

[2016-10-04 23:09] k8s-merge-robot opened #34060 "DiffResources {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/551/

Failed: DiffResources {e2e.go}

[code]

Previous issues for this test: #33373 #33416

[2016-10-04 23:11] ixdy commented on #32440
That's new and exciting:
[code]

[2016-10-04 23:11] #32440 closed

[2016-10-04 23:11] #32540 closed

[2016-10-04 23:12] #32566 closed

[2016-10-04 23:13] bprashanth commented on #32436
@ixdy I think this was initially triaged as infra because https://github.com/kubernetes/kubernetes/issues/32436#issuecomment-246832225 (kubectl exits running on the builder, though I'm not sure if it is in fact the endpoint existing with 28, meaning node disk is full).

[2016-10-04 23:14] spxtr commented on #34059
[code]
:cry:

[2016-10-04 23:15] ixdy commented on #32683
This is basically many examples of #34027.

[2016-10-04 23:15] #32683 closed

[2016-10-04 23:15] ixdy commented on #32828
The build was legitimately broken.

[2016-10-04 23:15] #32828 closed

[2016-10-04 23:15] ixdy commented on #32932
GKE was broken late last week.

[2016-10-04 23:15] #32932 closed

[2016-10-04 23:16] ixdy commented on #33381
GKE was broken late last week.

[2016-10-04 23:16] #33381 closed

[2016-10-04 23:16] ixdy commented on #33514
Collecting timeouts: https://github.com/kubernetes/kubernetes/issues/31776

[2016-10-04 23:17] ixdy commented on #33537
Collecting timeouts: https://github.com/kubernetes/kubernetes/issues/31776

[2016-10-04 23:17] ixdy commented on #33560
Collecting timeouts: https://github.com/kubernetes/kubernetes/issues/31776

[2016-10-04 23:18] ixdy commented on #33603
https://github.com/kubernetes/kubernetes/issues/31776

[2016-10-04 23:18] #33603 closed

[2016-10-04 23:19] ixdy commented on #31776
I've been seeing a fair number of job timeouts lately. I'm not sure if there's a pattern.

@kubernetes/test-infra-maintainers

[2016-10-04 23:19] k8s-merge-robot opened #34061 "kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/162/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should increase cluster size if pending pods are small [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:

[2016-10-04 23:19] k8s-merge-robot opened #34062 "kubernetes-e2e-gci-gke-flaky: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-flaky/375/

Multiple broken tests:

Failed: [k8s.io] PersistentVolumes should create a non-pre-bound PV and PVC: test write access [Flaky] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] PersistentVolumes create a PV and a pre-bound PVC: test write access [Flaky] {Kubernetes e2e suite}

[code]

Failed: [k8s.io

[2016-10-04 23:20] ixdy commented on #34059
The github flake issues don't have that link. Maybe they should?

[2016-10-04 23:26] ixdy commented on #34059
Also, it's even worse:
[code]

[2016-10-04 23:29] ixdy commented on #32436
ah, the munger commenting is noisy enough that it's basically impossible to find any actual discussion.

anyway, I highly doubt that our Jenkins agents are running out of disk, as I'd expected to see a whole bunch of other failures, too (and I don't).

[2016-10-04 23:30] #31269 closed

[2016-10-04 23:42] k8s-merge-robot opened #34063 "kubernetes-e2e-gci-gke-slow-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-slow-release-1.4/626/

Multiple broken tests:

Failed: [k8s.io] KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26490 #33669

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both ungracefully. [Slow] {Kubern

[2016-10-04 23:45] ixdy commented on #34061
I suspect this is the relevant failure:
[code]

[2016-10-04 23:45] Hokutosei commented on #29903
@jingxu97 would love to share it in private instead?  I'd get a permission first. Hopefully you can fix this, I still have a pending upgrades to our gke production environment. Thanks for the response

[2016-10-04 23:52] k8s-merge-robot opened #34064 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: udp {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9522/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: udp {Kubernetes e2e suite}

[code]

[2016-10-05 00:01] MrHohn commented on #31085
Have a fix for this, I'm now keeping running tests on my own cluster. Will send out PR once verify the fix works.

[2016-10-05 00:08] #33873 closed

[2016-10-05 00:08] #33526 closed

[2016-10-05 00:14] k8s-merge-robot opened #34065 "kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging/44/

Multiple broken tests:

Failed: [k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26164 #26210 #33998

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource track

[2016-10-05 00:16] bulletRush commented on #33689
i leave my qq account because i want to help you solve your issue as soon as possisble.
discussing  was supposed to be relaxed and happy. we aren't talking about politics, terrorism, why so serious?  i write my steps and wish you can find out more useful information, but not 'why i get a connection refused?'.

in your situation, edit /etc/kubernetes/manifests manaual after kubeadm startup may solv

[2016-10-05 00:26] ravilr opened #34066 "noisy kubelet error log"
version: kubernetes-v1.4.0
OS: RHEL 7.1
cloud-provider: baremetal/''
docker version: 1.12.1

noticing below error log in kubelet logs every 5 mins:
 E1004 23:56:49.188958    8353 container_manager_linux.go:567] error opening pid file /run/docker/libcontainerd/docker-containerd.pid: open /run/docker/libcontainerd/docker-containerd.pid: no such file or directory

in our setup, docker-containerd pid

[2016-10-05 00:27] bulletRush commented on #33689
midify kubeadm source code directly may be more easy and reuseable.

[2016-10-05 00:32] ZhangBanger opened #34067 "1.4.0 tarball missing vendor dependency jteeuwen/go-bindata"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): gobindata

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

[2016-10-05 00:57] #33995 closed

[2016-10-05 01:02] ZhangBanger commented on #34067
Just realized what needs to be done - need to check this dep into vendor? Correct me if I'm wrong - otherwise I'll give it a shot and submit a PR.

[2016-10-05 01:06] k8s-merge-robot opened #34069 "kubernetes-e2e-gci-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-subnet/58/

Multiple broken tests:

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #33373 #33416 #34060

Failed: [k8s.io] SchedulerPredicates [Serial] validates that required NodeAffinity setting is respected if matching {Kubernetes e2e suite}

[code]
Issues about this test specific

[2016-10-05 01:13] jingxu97 commented on #29903
@jeanepaul Sure. you can reach me through slack @jinxu or email
jinxu@google.com.

On Tue, Oct 4, 2016 at 4:46 PM, jeanepaul <notifications@github.com> wrote:

--
- Jing

[2016-10-05 01:43] erikstmartin commented on #28312
@ConnorDoyle @jeremyeder Excellent! Looking forward to seeing the proposal. For my specific use case, dedicated nodes for RT tasks would be fine.

[2016-10-05 02:14] timothysc commented on #26637
So were kind of in a bit of a conundrum.  3rd party doesn't work, and component status isn't stored in etcd.  So I see 2 options:

1. Push the logic for querying componentstatus into something like the node controller and reflect that data etcd.

2. Start to revisit a scaled down version of component registration to address add-ons in the kubeadm world?

Thoughts?

/cc @jbeda

[2016-10-05 02:25] neotusca commented on #33775
thx.. vladi.
Samething me too in Baremetal.
Just modifty influxdb-grafana-controller.yaml and going on right.

I don't know why "grafana-influxdb queries without semi-colon".

[2016-10-05 02:28] krmayankk commented on #34052
If you use the kubectl delete it will work due to the implicit --cascade flag. The API doesn't support it yet and there is some work ongoing to garbage collect it @kubernetes/deployment @kargakis

[2016-10-05 02:41] k8s-merge-robot opened #34070 "kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot/277/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot]

[2016-10-05 03:19] liggitt opened #34072 "TestWatch panic: test timed out after 5m0s"
seen in
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/34071/kubernetes-pull-test-unit-integration/47777/

from test stderr:

[code]

from junit summary:

[code]

[2016-10-05 03:20] liggitt commented on #34072
might be related to https://github.com/kubernetes/kubernetes/issues/32772 and https://github.com/kubernetes/kubernetes/issues/31262

[2016-10-05 03:20] liggitt commented on #34072
cc @hongchaodeng

[2016-10-05 04:12] ahakanbaba opened #34073 "Add a currentPodRequests field to NodeStatus"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Search for these keywords did not find anything
is:issue is:open  node status resources

[2016-10-05 04:13] ahakanbaba commented on #34073
@ghodss

[2016-10-05 04:39] #17795 closed

[2016-10-05 04:49] davidopp commented on #34007
cc/ @wojtek-t

[2016-10-05 05:00] jedipunkz commented on #28612
I have same issue as @zeg-io .

[2016-10-05 05:12] k8s-merge-robot opened #34075 "kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce/811/

Run so broken it didn't make JUnit output!

[2016-10-05 05:16] #27753 closed

[2016-10-05 05:22] gmarek commented on #34003
Or we can make a Daemon from image-puller, assuming that we correctly handle Daemons that finish.

[2016-10-05 06:13] Random-Liu commented on #33189
FYI, here is a cri e2e test flake: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-cri/259

[2016-10-05 06:14] Random-Liu commented on #33189
@yujuhong kubelet-cri-gce-e2e-ci is green now. :)

[2016-10-05 06:16] k8s-merge-robot opened #34077 "kubernetes-e2e-gci-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-test/47/

Run so broken it didn't make JUnit output!

[2016-10-05 06:23] wojtek-t commented on #33723
@ixdy - thanks; That explains it.

[2016-10-05 06:26] k8s-merge-robot opened #34078 "kubernetes-e2e-gci-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-federation/598/

Run so broken it didn't make JUnit output!

[2016-10-05 06:31] bprashanth commented on #17795
Thanks!

[2016-10-05 06:41] colemickens opened #34079 "cluster/addons/fluentd-elasticsearch/kibana-image is stale"
This: https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch/kibana-image installs version 4.0.2 of Kibana. Something like 4.6 (current stable) might be more appropriate.

[2016-10-05 06:42] colemickens commented on #34079
In fact, I'm not sure why it needs to be a custom container instead of using the default library image with a custom command to do the things in `run.sh`.

[2016-10-05 07:21] jonathan-kosgei commented on #34052
I can only create/delete via api. On the other hand is it possible to
explicitly set the name of the repliacset in a deployment template such as
the one above? At least this way I'd know the name of the resource and I
could delete it from the api.

On Oct 5, 2016 5:29 AM, "krmayankk" <notifications@github.com> wrote:

[2016-10-05 07:45] davidopp commented on #25319
@rrati :

* Change annotation key from `scheduler.alpha.kubernetes.io/affinity` to `scheduler.beta.kubernetes.io/affinity`: There's ongoing discussion about whether to use fields or annotations in beta, in general (if you want me to look up the issue number and kubernetes-dev thread I can, but you probably know what I'm talking about)

* Better solution for "first pod problem": I don't think we re

[2016-10-05 07:58] gmarek commented on #33617
Ping @cjcullen

[2016-10-05 08:05] sebgoa commented on #5164
Can we observe thirdpartyresources resource ?

Example:

I created a third-party resource called pinguin.

[code]

that's good, but now I would like to observe my _pinguins_:

[code]

even though:

[code]

[2016-10-05 08:07] sunfaces opened #34080 "Any plan for re-implementing a spark/storm with go language which is supported by k8s?"
A lot  of developers are looking forward to such framework ：D

[2016-10-05 08:15] gmarek opened #34081 "HTTP2 imposes limits on number of connections from single client causing some tests to fail"
It results with test failure with error `http2: no cached connection was available`, e.g. in https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2278/build-log.txt

We saw this in our scalability tests (#33557) and fixed it there (#33733) with a hope, that only scalability tests have this problem. It turns out that not only, so we probably need some more general soluti

[2016-10-05 08:19] #33056 closed

[2016-10-05 08:45] jonathan-kosgei commented on #34052
I've tried quite a few different placements of name: {{name}} but no dice

[2016-10-05 08:46] Crassirostris commented on #34079
I'm going to update ES version soon, as well as kibana's, because they're quite tied together. Related issue: #19149

And while solving the related issue, I will figure out if it's possible to use official es/kibana images instead of custom.

Feel free to close this issue, if related one covers what you mentioned.

[2016-10-05 08:51] nebril commented on #33029
I will take that if that's ok.

[2016-10-05 08:56] colemickens commented on #34079
Thanks!

[2016-10-05 08:56] #34079 closed

[2016-10-05 09:00] Crassirostris commented on #32762
Hi @edsiper

I'm providing you with an update:

I run some load tests and encountered sudden problem. While memory buffering fails with oom, file buffering also doesn't work very well. It keeps writing those lines

[code]

The configuration I run on:

* 1 node
* 10 pods
* 200 lines/sec/pod, each line ~100 bytes for a minute

200 * 10 * 60 * 100 ~ 12 MB, it shouldn't have even met buffer capacity,

[2016-10-05 09:12] wojtek-t commented on #34007
@kdima - sorry I don't understand the logs you pasted at the beginning.
In particular, the recreated deployment has this:
[code]

And the logs from kubelet scheduler and kubelet you pasted are from ~Oct 04 10:25:44

Looking into "seconds" part of timestamps, it seems that those logs from kubelet and scheduler simply come from before the new deployment was created. So I think we are missing some lo

[2016-10-05 09:26] fvigotti commented on #34006
HI,
I've also tested on a single brand new ubuntu 16.06 vps , 1 node only , using the commands that are here [http://kubernetes.io/docs/getting-started-guides/kubeadm/] and I see that kube-proxy have the same behaviour.. refresh iptables every seconds ..  It is normal?

[code]

[2016-10-05 09:32] #32684 closed

[2016-10-05 09:34] k8s-merge-robot opened #34085 "TestServiceAccountAutoCreate {serviceaccount}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/17764/

Failed: TestServiceAccountAutoCreate {serviceaccount}

[code]

Previous issues for this test: #28729

[2016-10-05 09:34] mwitkow commented on #34007
Hi @wojtek-t. Is there a slack channel where we can discuss this and pair up on this (Slack maybe)? we have time this week to help troubleshoot the issue. It's kind of blocking us from rolling out k8s 1.4 on our clusters.

[2016-10-05 09:37] wojtek-t commented on #34007
e.g. https://kubernetes.slack.com/messages/kubernetes-dev/

[2016-10-05 09:48] kdima commented on #34007
@wojtek-t Sorry for the confusion. These are the correct logs but time on my local box has drifted significantly that's why the creation time does not match the  seconds in the logs.

[2016-10-05 09:58] pires commented on #34025
1. What would be the use for the ConfigMap after it's stored?
2. Store it where, disk or API?

[2016-10-05 09:59] pires commented on #31711
Was this even looked at during yesterday's meeting?

[2016-10-05 10:06] gmarek commented on #30819
@thockin @smarterclayton - are you OK with what @erictune proposed?

[2016-10-05 10:10] bboreham commented on #27796
I tried to "sign up as an employee", and got as far as "Please contact somebody within your organization who is responsible for overseeing authorized employee contributors for this project".

That would be me; what next?

[2016-10-05 10:17] lukemarsden commented on #34046
This sounds great. Any volunteers to get started? :)

[2016-10-05 10:22] owenhaynes opened #34086 "Feature Federated StatefulSet"
Could not find anything about this, but would be nice to use petsets across clusters, for example database replication for read only databases to another cluster.

A possible first pass could be to make the DNS entries of each pet resolve in the other clusters.

[2016-10-05 10:22] pires commented on #33638
I agree with the proposed flags but would avoid the _higher-level_ ones for now.

[2016-10-05 10:27] miry commented on #34016
@wmz7year try to run

[code]

[2016-10-05 10:27] pires commented on #33641
Since #34031 is biting us here as well, we should have join flags for advertising a specific IP and/or hostname.

[2016-10-05 10:30] Crassirostris commented on #32762
Another thing I don't understand is why fluentd creates more buffer files than indicated in config. Right now

[code]

[code]

What am I doing wrong?

[2016-10-05 10:31] kargakis commented on #34052
@jonathan-kosgei it's not possible to delete all objects (replica sets, pods) related to a deployment currently from the API - the logic is baked in kubectl (https://github.com/kubernetes/kubernetes/issues/12143). Once we start using owner references in replica sets (https://github.com/kubernetes/kubernetes/issues/33845) and the garbage collector supports replica sets, you will be able to see what

[2016-10-05 10:33] pires commented on #33909
While I'm in favor of configuration files instead of flags (the latter are harder to manage as the number grows), our approach so far has been to provide flags.

[2016-10-05 10:35] jonathan-kosgei commented on #34052
@ kargakis Is it at least possible to explicitly set the name of the replicaset created?

[2016-10-05 10:37] kargakis commented on #34052
Set the name of the replica set where?

[2016-10-05 10:38] kargakis commented on #34052
You mean that you want to pick the name of the replica set that will be created?

[2016-10-05 10:41] jonathan-kosgei commented on #34052
@kargakis  yes that way I know it beforehand and I can call HTTP DELETE on it
[code]
Atm they get a random name.

[2016-10-05 10:48] pires commented on #28408
Is anyone owning this for 1.5?

[2016-10-05 10:52] pires commented on #33962
I agree with @euank, add the logic to `kubelet` and have `kubeadm` feed from there.

I also don't think it's premature but I am concerned with the ETA for `kubelet verify`.

[2016-10-05 10:58] kargakis commented on #34052
No, you can't. The name isn't random, it appends the hash of the pod template used by that replica set to the deployment name. You could pass a unique annotation in the deployment, that annotation gets inherited by the children replica sets, then GET all replica sets in the namespace, filter out all but those with that annotation, and DELETE.

I believe we will get to fix replica set garbage colle

[2016-10-05 11:00] jonathan-kosgei commented on #34052
I was hoping to not have to do that but okay, thanks! Really looking forward to that.

[2016-10-05 11:00] #34052 closed

[2016-10-05 11:01] pires commented on #33928
A lot of users will want to automate `kubeadm` usage. Returning error codes instead of parsing error logs makes a lot of sense!

[2016-10-05 11:05] k8s-merge-robot opened #34087 "kubernetes-e2e-gci-gke-serial: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-serial/78/

Run so broken it didn't make JUnit output!

[2016-10-05 11:05] pires commented on #33919
@luxas can you assign this over to @dmmcquay?

[2016-10-05 11:09] luxas commented on #33919
I can't. He's not a) in the kubernetes org or b) in the kubernetes-collaborators team

[2016-10-05 11:09] pires commented on #28138
I'd like to pick on this if @aaronlevy is up for a joint-effort.

[2016-10-05 11:10] pires commented on #33908
@luxas can you assign this over to @dmmcquay?

[2016-10-05 11:12] pires commented on #33907
@errordeveloper this could also be part of the proposal for a kubelet pod API (#28138). Thoughts?

[2016-10-05 11:13] ajohnstone opened #34088 "kubectl/kubernetes 1.4 validation not handling incomplete annotations on a service for s3 logging."
BUG:

kubectl/kubernetes 1.4 validation not handling incomplete s3 logging on a service.

**Kubernetes version** (use `kubectl version`):

kubectl version
Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.0", GitCommit:"a16c0a7f71a6f93c7e0f222d961f4675cd97a46b", GitTreeState:"clean", BuildDate:"2016-09-26T18:16:57Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}
Ser

[2016-10-05 11:14] pires commented on #33919
Neither am I so what's the process here, if any?

[2016-10-05 11:15] caniszczyk commented on #27796
@bboreham have your company/organization sign up here https://identity.linuxfoundation.org/node/285/organization-signup

[2016-10-05 11:24] pires commented on #33912
I remember us having this discussion because I too didn't want to go the embed way. What made you change your mind?

[2016-10-05 11:35] pires commented on #34025
Also, I just realized #33728 got merged so I believe we'll already have this info stored in the API as soon as we get assigned an apigroup?

[2016-10-05 11:39] sebgoa opened #34091 "RBAC settings best practice for service accounts."
Hi,

I am on k8s 1.4.0, I have successfully configured RBAC with:

[code]

Without having any roles and clusterroles and associated bindings, are service accounts supposed to work ?

It seems that my DNS and Dashboard are now failing in a crash loop, and I am guessing it is because I need to create a clusterRole for serviceaccounts to be able to access the resources in the API.

What is the best p

[2016-10-05 11:39] bboreham commented on #27796
@caniszczyk what I did:
* Visit your URL.
* Login via Google.
* Look for any way to declare my organisation and its personnel.
* Came back here.

Can you say exactly where I click to have the organisation (Weaveworks, Inc) sign up?

[2016-10-05 11:42] gmarek commented on #30819
Let me gather all that was proposed here to make sure I'm not missing anything.
1. There's an agreement that we should start using fields for both alpha and beta features
2. There's no agreement on how to name that field. Options are following:
  - use the name `feature` for go-types and `alpha\betaFeature` for JSON names @smarterclayton
  - use the name `feature` in the internal go-type and `alph

[2016-10-05 11:42] caniszczyk commented on #27796
@bboreham with that link, there's a way to sign up your organization and e-sign the corporate CLA, once you do that, you'll be able to do everything else

[2016-10-05 11:57] k8s-merge-robot opened #34092 "[k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-ingress-release-1.4/534/

Failed: [k8s.io] Loadbalancing: L7 [Feature:Ingress] [k8s.io] Nginx [Slow] [Feature: Ingress] should conform to Ingress spec {Kubernetes e2e suite}

[code]

[2016-10-05 12:15] jacek-marchwicki commented on #33638
There are some plans and ETA to change default port to `6443`?

[2016-10-05 12:17] #33772 closed

[2016-10-05 12:21] sebgoa commented on #34091
I created a cluster role and cluster role binding list this:

[code]

Just to give all service accounts access to everything in all namespaces (for now, can be more restrictive once this works).

I am unsure about the wildcard use in resources and verbs in the ClusterRole.

[2016-10-05 12:26] stvnwrgs commented on #32185
@jlowdermilk I came into this issue by creating an alpha cluster on GKE. Looks like the new endpoint is not available right now. If it gets enabled, can you say if this will only be enabled on alpha clusters or also on normal clusters as well?
If not on a normal cluster, do you might know something about the roadmap for dynamic provisioning on GKE?

[2016-10-05 12:34] discostur commented on #33798
Had exactly the same problem as @dcfsc on CentOS 7.2. Writing the following to

[code]

and rebooting the master / node fixed the problem for me. DNS is now working as expected:

[2016-10-05 12:42] dgoodwin commented on #34046
I can get the ball rolling with the kubelet and docker systemctl service check.

[2016-10-05 12:45] bboreham commented on #27796
For me, the way was to open an "incognito" browser window, then after logging in again the form was presented.  No amount of logging out or clicking in the original window would bring this form up.

[2016-10-05 12:57] hekike opened #34095 "After upgrade service is unavailable from external IP"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

`no`

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

`upgrade dns`
`upgrade external ip`

---

**Is this a BUG REPORT or FEATURE REQUE

[2016-10-05 13:10] k8s-merge-robot opened #34096 "kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-reboot-release-1.4/458/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33407 #33623

Failed: [k8s.io] Reboot [Disruptive]

[2016-10-05 13:28] dcbw commented on #31307
@thockin I keep trying to think of ways to spin hostports/shaping/etc out to CNI plugins, and there are certainly ways to do this, but every single thing we spin out now requires information that only Kubernetes has.  Even if we go with a 2-halves hostport model the CNI plugin side still needs HostPort/ContainerPort/Protocol.  Shaping still needs the bandwidth annotations.

The problem is that the

[2016-10-05 13:54] zeg-io commented on #28612
Gentlemen,  Here is more information from Google rep, read ALL of it, because the first interaction didn't resolve it as I had no idea where my "keyfile.json" file was.

I asked where the keyfile.json file was...

So this time when I ran that I no longer got an error... BUT...

Now when I run kubectl proxy it returns:

`Starting to serve on 127.0.0.1:8001`

But when I use a browser to access that

[2016-10-05 13:57] justinsb opened #34099 "1.3.9 images not published on gcr.io?"
I can't pull e.g. kube-scheduler 1.3.8, but I can pull 1.3.7:

[code]

[code]

[2016-10-05 14:01] sebgoa opened #34100 "[SUGGESTION] Add NodePort value in output"
When developing apps I often create a nodePort or switch to NodePort temporarily.

It would be great if the output of `kubectl get svc` could show the value of the NodePort.

That would save me/us from having to do a --format or -o ...

Something like:

[code]

[2016-10-05 14:12] avkonst opened #34101 "weave-net CrashLoopBackOff for the second node"
**Is this a request for help?**

I think it is an issue either with software or documentation, but I am not quite sure. I have started with a question on stackoverflow: http://stackoverflow.com/questions/39872332/how-to-fix-weave-net-crashloopbackoff-for-the-second-node

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

I think it is a bug or request to improve documentation

**Kubernete

[2016-10-05 14:14] avkonst commented on #34101
Please, let me know if it needs to be reported on weave-net project.

[2016-10-05 14:15] k8s-merge-robot opened #34102 "[k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed when there is non autoscaled pool[Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-autoscaling/171/

Failed: [k8s.io] Cluster size autoscaling [Slow] should correctly scale down after a node is not needed when there is non autoscaled pool[Feature:ClusterSizeAutoscalingScaleDown] {Kubernetes e2e suite}

[code]

[2016-10-05 14:30] tagomoris commented on #32762
As far as I checked the Fluentd v0.12.29 behavior for `buffer_queue_limit 2` and `buffer_queue_full_action block` with `in_tail` and `out_forward`(destination unreachable: `#write` always fails), Fluentd created 2 queued buffer chunk file and 1 buffer chunk file (to be queued - blocked).
@Crassirostris Yours might be a bug of any specific situation... Could you show me the log of Fluentd just afte

[2016-10-05 14:38] Crassirostris commented on #32762
@tagomoris These 3 lines repeat over and over again, nothing else in container's log

[code]

There're several input plugins, maybe that's the issue?

The file buffer plugin is the only thing I changed in these files
* https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/google-fluentd.conf
* https://github.com/kubernetes/kubernetes/blob/master/cluster/

[2016-10-05 14:39] mingfang commented on #21317
nvm the node name is available like this
[code]

[2016-10-05 15:06] DongyiYang commented on #9125
![k8sconntrack proxy integration - v2](https://cloud.githubusercontent.com/assets/7660489/19118662/1dd3b276-8aeb-11e6-86ef-e409857ab63c.png)
I’ve come up with an integration plan and implemented it in my forked version kubernetes([here](https://github.com/DongyiYang/kubernetes/tree/IntegrateK8sConntrack)). The components in green are added to current code base. Basically, both **connection counter

[2016-10-05 15:18] aronchick commented on #31222
Had another customer report this issue today.

[2016-10-05 15:30] smarterclayton commented on #5164
I believe you'd have to say pinguins.k8s.linuxcon.com

If that doesn't work let me know and I'll push a fix.

On Wed, Oct 5, 2016 at 4:05 AM, sebgoa <notifications@github.com> wrote:

[2016-10-05 15:32] jonboulle commented on #33139
@smarterclayton OK, why does it need to be unconfined? Can't it run in a confined context with that particular access to that particular directory on the host? Also, do you have any response to mjg's points above?

[2016-10-05 15:40] k8s-merge-robot opened #34104 "[k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: http {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/9547/

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for endpoint-Service: http {Kubernetes e2e suite}

[code]

[2016-10-05 15:49] timothysc opened #34105 "Add [Conformance:Variant] to some tests that change from deployment to deployment"
**Problem Statement:**
Providers that absorb the upstream tests would like to give their customers a standard mechanism to validate their clusters, post setup.  As of today **[Conformance]** works for most things, but there are a known set of tests that vary due to opinionated differences around networking, security, etc...   and providing a complete skip list can be cumbersome.

**Proposed Soluti

[2016-10-05 15:52] tagomoris commented on #32762
Oh, really? It should be executed as quiet mode...
@Crassirostris do you know the actual `$FLUENTD_ARGS` or can you modify the options (it should include `-q`) to remove `-q` or to use `-v` instead?
INFO logs should have many information to identify the root cause.

[2016-10-05 15:54] tagomoris commented on #32762
Anyway, I don't recommend `buffer_queue_full_action block` for most cases, because:
* for `in_tail`, we cannot detect 2 times log rotation while blocking
* for other plugins (e.g., `in_forward`), it causes denial of services, and other issues will occur in data source side

[2016-10-05 15:55] maltebb commented on #31222
That was me @aronchick ;)

[2016-10-05 15:59] bprashanth commented on #31222
From the previous debug session, you're not allowed to modify the health check. This is usually the case with any Kube controller, if it creates resources on your behalf, doing stuff behind its back will lead to fun and joy. If you set it to the *readiness* probe it will be adopted (see examples in https://github.com/kubernetes/kubernetes/issues/31222#issuecomment-249283356, https://github.com/kub

[2016-10-05 16:00] spiffxp commented on #34105
https://github.com/kubernetes/kubernetes/pull/33706 is trying to tackle this in another way, I'd really like to make this simpler and reduce surface area

more broadly it'd be awesome if e2e could introspect which capabilities/features have been enabled, but I think work to allow that on a per-component basis is still well in-flight

[2016-10-05 16:00] dmmcquay commented on #33908
I'll work on this one.

[2016-10-05 16:00] dmmcquay commented on #33928
I'll work on this one.

[2016-10-05 16:01] dmmcquay commented on #33919
Well, if I can't be assigned on it, I'll just work on it anyways :)

[2016-10-05 16:03] luxas commented on #33919
Great!

[2016-10-05 16:07] luxas commented on #33908
It's very straightforward, and FYI here's one PR already #33902 for that.
But we probably want it in a separate package though, here's a more comprehensive list of tasks that should be done:  #34046

please sync with @dgoodwin that also is working on this

[2016-10-05 16:07] dchen1107 commented on #11816
@liggitt @deads2k Are you guys working on this? This one is targeted for 1.5 release. @philips

[2016-10-05 16:12] sebgoa commented on #5164
nope.

here is more info:

[code]

and the oc tries:

[code]

[2016-10-05 16:12] bach1 commented on #34101
I reported a similar issue here:
http://stackoverflow.com/questions/39869583/how-to-get-kube-dns-working-in-vagrant-cluster-using-kubeadm-and-weave

[2016-10-05 16:15] luxas commented on #33933
You can set the token in beforehand just by passing `--token` to `kubeadm init` so that should fix your issue.

Reopen if not necessary

[2016-10-05 16:15] #33933 closed

[2016-10-05 16:19] luxas commented on #33912
I think this is fixed with @mikedanese's PR https://github.com/kubernetes/kubernetes/pull/33728

Correct me if I'm wrong

[2016-10-05 16:19] #33912 closed

[2016-10-05 16:25] liggitt commented on #11816
Yes. See https://github.com/kubernetes/kubernetes/issues/32518 and https://github.com/kubernetes/features/issues/89

[2016-10-05 16:30] smarterclayton commented on #30819
I still don't think internal type field names should change as we mature.  I understand the argument in their favor, I just think that the churn in the codebase isn't worth it and causes problems.  Instead, the legacy fields (previous alpha or beta) would exist that could be checked during conversion.

2.ii. seems wrong - that defeats the purpose of the internal field

4.ii. i strongly disagree wi

[2016-10-05 16:30] luxas commented on #33931
I think we should go for `kubeadm reset` as it isn't specific to `init`; it cleans up from join as well.

Opened #34044 for that along with a bash script that describes what to be done.
Sorry, but closing this in favor for #34044 which is more specific in order to minimize dupes, hope you don't mind :)

[2016-10-05 16:30] #33931 closed

[2016-10-05 16:31] smarterclayton commented on #5164
Thanks, will try to push a fix.

On Wed, Oct 5, 2016 at 12:12 PM, sebgoa <notifications@github.com> wrote:

[2016-10-05 16:34] kevinkirkup opened #34108 "ZSH Completion breaks zsh vi style history search"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): `is:issue is:open zsh completion`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2016-10-05 16:40] dcbw commented on #32900
@edevil the way kubenet is supposed to work, if you want to get whatever podCIDR the master will allocate, you don't specify one at startup, but you do pass --reconcile-cidr to kubelet.  Then when the master allocates the CIDR, kubelet will pick that up and pass to kubenet, and kubenet will create the netConfig and allow pods to start.  You need --reconcile-cidr on kubelet to make this happen thou

[2016-10-05 16:41] markine commented on #23142
FYI, jessie image installed by kube-up.sh for 1.4.0 does not yet have CONFIG_CFS_BANDWIDTH set.

[code]

[2016-10-05 16:55] mikedanese commented on #34046
Which of these aren't covered by kubelet verify? kubeadm verify should not fail after kubeadm init is run. Some of these checks look like that would be the case.

[2016-10-05 16:57] mikedanese commented on #34046
Oops got this mixed up with https://github.com/kubernetes/kubernetes/issues/33962. Why is this different?

[2016-10-05 16:59] calebamiles commented on #27796
There seem to be some issues with the CNCF corporate CLA. `@euank` should be covered under the corporate CLA for CoreOS, however

- https://github.com/kubernetes/kubernetes/pull/34058
- https://github.com/kubernetes/kubernetes/pull/33965

do not reflect this.

[2016-10-05 17:04] edevil commented on #32900
@dcbw I had that flag.

The whole cmd line was:
kubelet --cloud-provider=azure --cloud-config=/etc/kubernetes/azure.json --reconcile-cidr=true --api-servers=http://127.0.0.1:8080 --network-plugin-dir=/etc/kubernetes/cni/net.d --network-plugin=kubenet --register-schedulable=false --allow-privileged=true --config=/etc/kubernetes/manifests --cluster-dns=10.3.0.10 --cluster-domain=cluster.local --v 4

[2016-10-05 17:05] foxish commented on #27796
@caniszczyk could you please take a look at the issue that @calebamiles mentioned above?

[2016-10-05 17:09] jbeda commented on #26637
When last I looked at it, the component stuff was heading in a direction to be a convention on top of services/endpoints.  That seems right to me -- it is a way to move away from a special type of endpoint that was rushed in a while ago.

That doesn't solve the problem of updating leader information.  My initial read (without studying this deeply) is that spamming updates to the endpoints object i

[2016-10-05 17:10] timothysc commented on #34105
Well the reason for the variance is due to a opinion on the deployment.  #33706 explicitly states that too much introspection is bad, and I'm in congruence with my google twin ;-).  Otherwise you get into the space where you need tests for your tests.

I think making it explicit, is simple and easy to filter for downstream.

[2016-10-05 17:16] timothysc commented on #26637
Only for integrated components, or add-ons, of kubernetes.  If we're going to self host the control plane, it's now an implicit requirement if you want HA, otherwise you're adding another etcd which would need it's own setup+config.

[2016-10-05 17:23] k8s-merge-robot opened #34111 "AfterSuite {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gke-gci/177/

Failed: AfterSuite {Kubernetes e2e suite}

[code]

Previous issues for this test: #29933

[2016-10-05 17:24] k8s-merge-robot opened #34112 "kuberentes-e2e-gce-enormous-deploy: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kuberentes-e2e-gce-enormous-deploy/-1/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] k8s-merge-robot opened #34113 "kuberentes-e2e-gce-enormous-teardown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kuberentes-e2e-gce-enormous-teardown/-1/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] k8s-merge-robot opened #34114 "kubernetes-e2e-gce-enormous-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/151/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] k8s-merge-robot opened #34115 "kubernetes-e2e-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-etcd3/3249/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] k8s-merge-robot opened #34116 "kubernetes-e2e-gci-gce-autoscaling: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-autoscaling/741/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] bboreham commented on #33798
We have released [Weave Net 1.7.1](https://github.com/weaveworks/weave/releases/tag/v1.7.1) which will apply the `bridge-nf-call-iptables` setting by itself.

I think this issue can be closed.

[2016-10-05 17:24] k8s-merge-robot opened #34117 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13760/

Run so broken it didn't make JUnit output!

[2016-10-05 17:24] k8s-merge-robot opened #34118 "TearDown {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws-updown/485/

Failed: TearDown {e2e.go}

[code]

[2016-10-05 17:25] k8s-merge-robot opened #34119 "[k8s.io] DisruptionController should update PodDisruptionBudget status {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-aws/5471/

Failed: [k8s.io] DisruptionController should update PodDisruptionBudget status {Kubernetes e2e suite}

[code]

[2016-10-05 17:25] k8s-merge-robot opened #34120 "[k8s.io] Garbage collector [Feature:GarbageCollector] should delete pods created by rc when not orphaning {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-garbagecollector-gci-feature/27/

Failed: [k8s.io] Garbage collector [Feature:GarbageCollector] should delete pods created by rc when not orphaning {Kubernetes e2e suite}

[code]

[2016-10-05 17:25] bboreham commented on #33790
We have released [Weave Net 1.7.1](https://github.com/weaveworks/weave/releases/tag/v1.7.1) which will apply the `bridge-nf-call-iptables` setting by itself.

[2016-10-05 17:25] k8s-merge-robot opened #34121 "kubernetes-soak-continuous-e2e-gci-gce-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gci-gce-1.4/188/

Multiple broken tests:

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26982 #32214 #33994 #34035

Failed: [k8s.io] Kubelet [Serial] [Slow] [k

[2016-10-05 17:26] k8s-merge-robot opened #34122 "[k8s.io] Multi-AZ Clusters should spread the pods of a service across zones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-multizone/3987/

Failed: [k8s.io] Multi-AZ Clusters should spread the pods of a service across zones {Kubernetes e2e suite}

[code]

[2016-10-05 17:27] jingxu97 commented on #32467
Checked a few logs from the failed tests, and found the following error. The git repo connection was refused for a little while, and then mount operation seems begin to work after about 3 mins. Strange thing is from util.go, the test should wait for 5 mins until pod in running state.

Two questions here
1) Is this normal that after git-repo service is created, the connection might not work immedia

[2016-10-05 17:27] k8s-merge-robot opened #34123 "[k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gce-reboot/340/

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by triggering kernel panic and ensure they function upon restart {Kubernetes e2e suite}

[code]

[2016-10-05 17:27] k8s-merge-robot opened #34124 "[k8s.io] Services should be able to create services of type LoadBalancer and externalTraffic=localOnly [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-alpha-features/272/

Failed: [k8s.io] Services should be able to create services of type LoadBalancer and externalTraffic=localOnly [Slow][Feature:ExternalTrafficLocalOnly] {Kubernetes e2e suite}

[code]

[2016-10-05 17:28] bprashanth opened #34125 "Daemons on nodes need to export metrics to heapster"
We need to export node and pod level metrics from kube-system daemons to heapster, so they eventually get ingested into the clouds. This is required for debugging systems in production.

We seem to have more than 1 metrics pipeline today. The one that seems immediately usable is:
Heapster -> kubelet  -> cadvisor -> custom-metrics config-map -> pods

Where "custom-metrics config-map" is a bridge fr

[2016-10-05 17:29] bprashanth commented on #9125
You should probably try to plug into a generic node <-> heapster bridge in the long run: https://github.com/kubernetes/kubernetes/issues/34125
(your current plan sounds pretty good for a first cut, and gives us something usable).

[2016-10-05 17:30] bprashanth commented on #9125
To clarify: I haven't read through your code, a proposal stil makes sense :)

[2016-10-05 17:31] bboreham commented on #33671
We have released [Weave Net 1.7.1](https://github.com/weaveworks/weave/releases/tag/v1.7.1) which will apply the `bridge-nf-call-iptables` setting by itself.

This won't change anything related to `KUBE-MARK-MASQ`, but I think that trail went cold.  Suggest this issue can be closed.

[2016-10-05 17:33] yujuhong commented on #34003
I thought daemons have restart policy == Always, and that's why the image puller was a static pod to begin with...

[2016-10-05 17:34] caesarxuchao commented on #30698
/sub

[2016-10-05 17:35] nvnobelen opened #34126 "Autoscaling cluster causes havoc on HPA by not starting heapster"
BUG REPORT:

Severity: Cluster becomes unusable unless an administrator intervenes and removes pods.

In an autoscaling scenario with the HPA and an instance autoscaler like GCE instance groups, scaling down the cluster causes trouble due to two issues:
1) Pending pods are not being terminated by the HPA due to (seemingly) incorrect usage calculations
2) Removing nodes from the cluster leads to a

[2016-10-05 17:40] pires commented on #34046
@mikedanese i believe this is mostly prior to have `kubelet` running, e.g. checking if a port is available for API server or that we're running as root.

[2016-10-05 17:41] luxas commented on #33671
Okay, closing this.

@Mandy27 and others; please open a new issue referencing this if the issue does persist with Weave 1.7.1

[2016-10-05 17:41] #33671 closed

[2016-10-05 17:43] dgoodwin commented on #34046
In my mind the difference was pre-flight kubeadm vs post-install e2e and conformance. However looking through what's there, it does appear to be pretty similar and intended to run *before* e2e tests, and doesn't seem to currently do anything we wouldn't want. Tricky as our needs are going to deviate but there might be enough overlap to find something that will work here. I will see if I can meld t

[2016-10-05 17:46] vishh opened #34127 "Identify missing storage drivers & tooling in GCI"
GCI base image is missing a few storage drivers and tooling. Given that GCI is currently only available on GCP, it doesn't have to include support for all storage backends in k8s.
Known list of missing storage drivers and tooling include,
1. NFS (kernel support exists, missing tools)
2. Glusterfs
3. ??

@kubernetes/sig-storage @saad-ali @Amey-D

[2016-10-05 17:47] vishh commented on #34127
@Amey-D & @saad-ali are already working on adding support for glusterfs and nfs. Help from the community to identify what other storage drivers are important with k8s on GCP will be helpful.

[2016-10-05 17:50] yujuhong commented on #33189
Great! Let's close this one and start looking at serial/soak tests.

[2016-10-05 17:51] vishh commented on #34127
In addition to identifying plugins, we need to add simple node e2e tests for these storage backends.

[2016-10-05 17:55] ravilr commented on #31362
@derekwaynecarr @vishh  in regards to imagefs garbage collection, if i want to set a lower threshold of  say '<50%', would the node status condition be updated as 'under disk pressure', thereby rejecting new pods ? I think disk cleanup configured at lower threshold shouldn't lead to scheduler disregarding the node as schedulable or kubelet admission controlling the pods.
what i'm saying is people

[2016-10-05 17:55] jayunit100 commented on #34105
to introspect or not to introsepct -> agenda item for sig-test this wk will add .  i think ive heard both arguments from various folks.  this also touches on difference between Feature and Quirk *remember that* haha

[2016-10-05 17:58] Calpicow commented on #23217
I'd like to see PSPs bindable as default and to namespaces. I think it would cover a common use-case where kube-system could run with elevated privileges while all other namespaces are homogeneous in their permissions.

[2016-10-05 18:00] adam-power commented on #33820
I am having this issue as well, is there a fix?  Environment is:

`export KUBERNETES_PROVIDER=ubuntu
export nodes="ubuntu@10.236.2.42 ubuntu@10.236.2.192 ubuntu@10.236.2.224"
export roles="ai i i"
export NUM_NODES=3
export SERVICE_CLUSTER_IP_RANGE=192.168.3.0/24
export FLANNEL_NET=172.16.0.0/16
`
I also have some proxy settings set using the PROXY_SETTING variable

[2016-10-05 18:01] yujuhong commented on #33189
Last I checked it was all green?... https://k8s-testgrid.appspot.com/google-gce#gci-gce-cri

[2016-10-05 18:01] vishh commented on #34125
We can update cAdvisor to not require host ports and instead use the
container's IP.

On Wed, Oct 5, 2016 at 10:29 AM, Prashanth B <notifications@github.com>
wrote:

[2016-10-05 18:02] #31085 closed

[2016-10-05 18:05] jsindy commented on #34127
It would make sense to run through the list of supported volumes located here http://kubernetes.io/docs/user-guide/volumes/

[2016-10-05 18:07] bprashanth commented on #34125
SG. It would also be nice to not have the monitoring component compiled into the kubelet, so we can see what's going on if the kubelet crashes, but I think that's a secondary goal to getting something that work across the board.

Can you clarify the cases:
* If I want to track some random dns metric for the entier cluster, we need a kubedns config map
* If I want to track a per node custom metric,

[2016-10-05 18:11] Random-Liu commented on #34046
IIUC, there are several levels of validation:

1. kubeadm pre-flight check (this issue): Some basic check to make sure `kubeadm` itself can work properly, e.g. whether all dependencies are installed.
2. system validation (kubeadm/kubelet verify, #28408, #32427): Check whether the system meets the minimum requirement of a Kube-node, e.g. kernel configuration, runtime configuration, cgroup hierarchy

[2016-10-05 18:12] ixdy commented on #34112
@lavalamp @apelisse build number is "-1". wat.

[2016-10-05 18:14] dcbw commented on #32900
@edevil any chance you can --v 5 and then get some kubelet logs that I can look at to figure out why it's not getting the podcidr update from the master?  What arguments is the master-controller being run with?

[2016-10-05 18:14] Crassirostris commented on #32762
@tagomoris So I enabled verbose debugging, do you see something suspicious?

[code]

[2016-10-05 18:16] macb commented on #33554
Though SRV records may not fail, the `ndots` configuration should be exposed somewhere. The current 5 is a pretty rough default to expect everyone to adhere to. It results in something like 10+ dns queries per non-cluster domain attempted.

https://github.com/kubernetes/kubernetes/issues/14051#issuecomment-140813186 describes some scenarios where lowering it "won't work". That doesn't actually see

[2016-10-05 18:18] ravilr commented on #31362
my thinking is around the scenario that i would like to avoid, where most of the nodes in the cluster reached the disk based eviction threshold at the same time and become unschedulable till the usage falls below the threshold. I understand that existing pods wouldn't be evicted before running the cleanup, but new pods wouldn't be admitted for the eviction pressure transition period.
Also, certain

[2016-10-05 18:19] mwielgus opened #34130 "Use owner ref to calculate pod statistics in federated replicaset controller"
Right now the controller list all pods to calculate the stats.

[2016-10-05 18:20] dgoodwin commented on #34046
As it stands now with the kubelet verify PR #28408 there's not a whole lot of overlap, I don't think that suite would want many of the checks we do, however I don't see any reason we wouldn't run the checks they have there.

We could try to use their framework, it's not quite what I would want but I can leave a review if folks think we should go this path. I'd like a little more nuance and the abi

[2016-10-05 18:24] foxish commented on #16517
Working on a detailed proposal for running spark natively. I'll be detailing our steps shortly in a new issue, but this rubric is helpful in evaluating what we need.

[2016-10-05 18:27] yujuhong commented on #33984
The problem is not only about when to stop a sandbox though. For docker, the sandbox container goes through the state of created (not ready) -> running (ready).

The current GC logic cleans up all exited containers before attempting to remove sandboxes. It'd be hard to tell (1) from (2) if you don't change the dumb GC logic, and I actually like the dumbness of the logic :-|

[2016-10-05 18:28] Crassirostris commented on #32762
Yeah, sure, but in this case, when we have only in_tail and want robustness and some delivery guarantees, I don't see any other choice. If you can offer us something instead, it will be really great! :)

[2016-10-05 18:30] luxas commented on #34127
Everything will be easier with containerized volumes I think.
That's proposed in #32550 and would remove the need for gluster and nfs binaries on host.

GCI, CoreOS and RancherOS are environments which may not have such tools on host and that's where containerized volume drivers would shine.

Maybe it's worth focusing on that for the general case instead of hacking it by adding those specific tool