[2016-07-16 17:35] jlowdermilk commented on #29058
KCM was restarted multiple times during cluster turnup for master resizing.

[2016-07-16 17:38] justinsb commented on #29058
The smoking gun would be if nodes with duplicate cidrs started soon after KCM restart.  We can probably guess that within (say) 2 minutes of KCM start, the map would be fully populated, even with 800 nodes.

[2016-07-16 18:02] justinsb commented on #29058
Suggested repro steps also if so:

- Bring up 3 nodes (say)
- Stop KCM (but leave API running)
- Bring up 3 more nodes - they will be created in the API but KCM won't allocate them CIDRs
- Restart KCM
- Unless KCM is lucky and sees the first 3 nodes and then the next 3 nodes, you will get a collision because we're using first-fit

[2016-07-16 18:15] bprashanth commented on #29058
yeah that makes sense, you're basically saying the list of nodes isn't ordered so the new nodes without cidrs might show up before the ones with and the cidr map is empty at the time. If you have a minute testing that theory in a unitest would help.

[2016-07-16 18:16] arjunm183 commented on #27442
Hi @ahuffman Any update on this issue. Even myself facing the same error which you have faced.

kubectl get nodes actually shows

Unable to connect to the server: x509: cannot validate certificate for 52.111.69.161 because it doesn't contain any IP SANs

[2016-07-16 18:21] justinsb commented on #29058
I can probably have a look this evening.  I'll try to verify "real-world" first, just in case I'm missing a trick.

BTW why does GCE allow duplicate routes?  Our route controller isn't going to like that, I don't think...

[2016-07-16 18:23] jlowdermilk commented on #29058
Nice call @justinsb. Your repro worked. I created a 3 node cluster, resized it to 6 and killed KCM while resize was in progress. Got duplicate cidr allocations for 2 different nodes.

[2016-07-16 18:23] bprashanth commented on #29058
Cool! so maybe we just need to list all nodes on restart and populate the map. Might still be racy, lets see.

[2016-07-16 18:24] chrislovecnm commented on #27754
So we need multiple issues here:

1. This issue: increase disk size and rotate logs more often
2. Tuning logging at scale
3. Disk layout of master (LVM or multiple disks)
4. If the installer should include recommendations for sizing masters if we are doing disk sizing, then why are we not doing compute and ram sizing.

Did I miss anything?  Do you want me to open the other issues?

[2016-07-16 18:25] chrislovecnm commented on #27161
Can someone reopen this please :)

[2016-07-16 18:28] bgrant0607 commented on #29058
#26531 also added a call to nc.cidrAllocator.Release in the case of an API call failure. That's unsafe. The CIDR could have actually have been written to the node.

[2016-07-16 18:33] bgrant0607 commented on #29058
Unless we cherrypick or rollback #28604, we'll need to fix this directly in the release branch, as well as in head.

[2016-07-16 18:37] davidopp commented on #29058
And #19242 which IIUC @bprashanth mentioned https://github.com/kubernetes/kubernetes/issues/29058#issuecomment-233140475 is the real culprit.

[2016-07-16 18:41] justinsb commented on #29061
e2e with something like ChaosMonkey going in the background would also probably find more race-condition bugs like this one.

[2016-07-16 18:43] davidopp commented on #29058
@bprashanth are you working on implementing list all nodes on NC restart?

[2016-07-16 18:44] bprashanth commented on #29058
I plan to have a hack pr up so jeff can test shortly.

[2016-07-16 18:51] justinsb commented on #29058
Hooray I get my evening back -  thanks @jlowdermilk for confirming!

[2016-07-16 18:55] bprashanth commented on #29058
@jlowdermilk fyi https://github.com/kubernetes/kubernetes/pull/29062, plan to iterate

[2016-07-16 18:55] thockin commented on #29058
Nice sleuthing, everyone!

On Jul 16, 2016 11:52 AM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2016-07-16 19:00] chrislovecnm commented on #26708
@justinsb also there is an elastic plugin for k8s, do you need petset?  Storage??

[2016-07-16 19:03] chrislovecnm commented on #21817
@bgrant0607 does this work into 1.4 timeline?  At least for improvement of e2e tests?

[2016-07-16 19:39] arjunm183 commented on #27442
I fixed this by generating cert and key with easyrsa tool documented in k8s website.

[2016-07-16 20:04] vtd125 commented on #28920
@djsly Hello - Do you still work at Nuance in Mtl? I've been trying to contact you, but cannot find your email anywhere. Please let me know if you'd be willing to correspond? I'm a student at Brown university and would like to inquire about working at Nuance to a real person instead of the FAQ section of the website

[2016-07-16 20:11] bprashanth commented on #29058
I'm going to try this on a larger gce cluster restarting things https://github.com/kubernetes/kubernetes/pull/29062. A similare GKE test would be great, and eyes on review.

[2016-07-16 20:15] therc commented on #28315
This sounds good. Is 1.4 a realistic target?

We have a very real use case. We train machine learning models, then make predictions from them. The former is a batch workload that can and probably always should use a GPU device exclusively, so it's not super interesting for oversubscription. The latter is demand-driven, depending on two main variables: model size and customers' access patterns. We

[2016-07-16 20:19] fabioy commented on #29058
@jlowdermilk found a reasonable work around for GKE, which should work for now: detect the dup route, pick one of the two VM instances and tell the IGM to delete it. A new one gets created and all is ok.

[2016-07-16 20:28] therc commented on #28316
Should something like "A standard way to collect SLI data (e.g. [custom metrics](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/custom-metrics.md))" be an explicit requirement? It's implied somehow in the background: "An external QoS controller can continuously monitor the cluster utilization and _application performance_". Even if the controller is replaceable, I'd prefer a c

[2016-07-16 20:52] davidopp commented on #28311
I think we should avoid making label values be CSV or other structured data. We can perhaps figure out a way to do the namespacing so that users can hide labels from namespaces they don't care about.

[2016-07-16 21:02] bprashanth commented on #29058
And of course you don want to restart the controller manager during turnup if you can avoid it

[2016-07-16 21:06] bprashanth commented on #29058
Overlapping routes should always work because longest prefix wins. Apparently duplicate routes is "undefined behavior", as our debugging shows.

[2016-07-16 21:06] davidopp commented on #29033
minimum grace period anyway (2s) because just SIGKILL in practice is
always worse than SIGTERM + small wait + SIGKILL

I think this doesn't address @vishh 's concern though. He doesn't want the pod to be deleted from etcd before Kubelet has cleaned up the resources, which can take an arbitrary amount of time. Any deletion initiated from the master instead of the kublet has the problem.

[2016-07-16 21:15] justinsb commented on #29058
@fabioy  I've been meaning to write something like that for AWS for a while now.  My use case is that sometimes AWS nodes don't show up (particularly with 1.1 where we used master/slave salt), but you can always just get a bad instance.  We could kill:

* Instances that haven't registered as nodes within 1 hour
* Instances that remain in NotReady for 2 hours
* Instances after some number of days (

[2016-07-16 21:40] dims commented on #29059
Could it be as simple as that RequiresRemount method in configmap.go, secret.go and downwardapi.go are `return true` while all the other plugins `return false`?

https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=%22RequiresRemount%28%29+bool%22&type=Code

[2016-07-16 22:06] dims commented on #29014
@thockin ack. i started with a PR to fix existing doc.go's

[2016-07-16 22:17] bgrant0607 opened #29064 "updateCIDRAllocation bugs"
Forked from #29058

updateCIDRAllocation has 2 issues:
1. The PodCIDR is assigned without confirming that it is still empty.
2. The CIDR is released on any kind of Update failure (e.g., request timeout), without confirming whether or not the CIDR value were actually written.

cc @gmarek @mqliang @cjcullen

[2016-07-16 22:19] bgrant0607 commented on #29058
Filed #29064 for the bugs in updateCIDRAllocation

[2016-07-16 22:24] bgrant0607 commented on #29058
@justinsb Please file a separate issue for your node auto-healing ideas. Note that there's a big difference between killing functioning and broken nodes, however. Functioning nodes need to be drained gracefully and in a fashion that takes application disruption budgets into account.

[2016-07-16 22:27] k8s-merge-robot opened #29065 "TestAdoption {integration}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/14460/

Failed: TestAdoption {integration}

[code]

[2016-07-16 22:49] #29058 closed

[2016-07-16 23:54] bgrant0607 commented on #29058
Cherrypick PR is #29063

[2016-07-16 23:58] bgrant0607 commented on #29064
See also #28879

[2016-07-17 00:22] k8s-merge-robot opened #29066 "[k8s.io] Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11336/

Failed: [k8s.io] Job should scale a job down {Kubernetes e2e suite}

[code]

[2016-07-17 00:40] Random-Liu commented on #28997
FYI, I've sent a PR to fix cadvisor side https://github.com/google/cadvisor/pull/1381. Once that PR is included in kubernetes, we can close this issue. :)

[2016-07-17 01:44] chrislovecnm commented on #27444
👍 currently watching paint dry ...  Working on e2e tests is a tad painful 😦

[2016-07-17 04:35] chrislovecnm opened #29070 "kubectl says that PetSet is alpha in master"
I assume that PetSet will not be alpha in 1.4.

[code]

Petsets should not be listed as alpha in master.

Obligatory version
[code]

[2016-07-17 04:56] #29013 closed

[2016-07-17 04:58] chrislovecnm commented on #28969
I have confirmed that Cassandra does need this.  The Datastax team has toyed with the idea of using DNS, but at this time it is not support to use pure DNS with Cassandra.

[2016-07-17 05:00] bprashanth commented on #28969
Great! do you have a bug / doc for context

[2016-07-17 05:11] chrislovecnm commented on #28969
@bprashanth nope email from Datastax folks.  They asked me to file a Jira if I wanted to recommend a change.

[2016-07-17 05:39] krmayankk commented on #28940
@pwittrock @davidopp  it seems this is already present in 1.3/1.2.4 in both api and describe  as the field Allocatable, although i dont see any difference even through i have one pod running on this node.
Capacity:
 cpu:		48
 memory:	132046156Ki
 pods:		110
Allocatable:
 cpu:		48
 memory:	132046156Ki
 pods:		110
System Info:
 Machine ID:			0b8fbd019df1373ceab720dd00000015
 System UUID:			44454C4C-

[2016-07-17 09:42] jeffersongirao commented on #18785
@saad-ali nevermind, I tried to get more data on the issue and in end it was a problem on the AWS side, I had a few borked volumes (perhaps because my "force" detach tentatives), their support helped me. But the case looked like what you described, pod scheduled to node x, pod terminated, pod re-scheduled to node y, ebs volume dettached properly from node x, volume stays in "attaching" state to no

[2016-07-17 09:55] wojtek-t commented on #28997
Awesome - thanks @Random-Liu

[2016-07-17 10:02] santanu-dey commented on #23111
As of now it is a general no secrets getting mounted issue.
My problem has been solved with a workaround suggested in an already existing bug  #26943
So hopefully I do not need to open a new one.

[2016-07-17 10:04] santanu-dey commented on #8042
Have a look at  #26943
There is a genuine bug that the service accounts being empty and that creates skydns to crash.
The workaround suggested on that issue worked for me. FYI.

[2016-07-17 13:59] gmarek commented on #28456
cc @wojtek-t

[2016-07-17 14:01] gmarek commented on #27655
Thank @hongchaodeng, I think taints were added by @kevin-wangzefeng, so he probably is the best person to look at it.

[2016-07-17 15:20] bhujangr commented on #29012
Well yes it cannot get the status - known fact. But beyond a certain timeout should it not should take some course of action ??

No the node controller does not take any action if there is only 1 minion in the cluster i.e. the state of the system on the whole is correct but the presentation of the state of the system is not accurate. Extrapolating to a N minion cluster, when the controller cannot

[2016-07-17 15:23] bhujangr commented on #29023
Yes this would be a very useful feature i.e. to set priorities for pods.

[2016-07-17 15:37] k8s-merge-robot opened #29072 "[k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11380/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should create and stop a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28565

[2016-07-17 15:57] xynova commented on #27497
I was facing the exact same issue where kubedns container was looking for the api on localhost:8080 on a worker node. Using the following flags to tell the container where the api was solved my problem

--kube-master-url
--kubecfg-file

https://github.com/kubernetes/kubernetes/blob/0881419e48c542c9c95237b937445008c0f6fe29/cmd/kube-dns/app/server.go#L82

[2016-07-17 16:10] gg7 commented on #19570
`componentstatus` will fail even if components are running on the same host as the apiserver, but not listening on the loopback interface.

Exact error so this is easier to google:

[code]

[2016-07-17 16:32] rata commented on #13748
Hi,

I've just seen this email about choosing a deadline (quite close, probably this week. Proposal is to close on Friday) for proposals to go in to make it for 1.4.

Does this bug need one?

I've been working in another PR and about to start working on this. But if a proper proposal needs to be written, maybe it's best for me to do that and then work on the code.

[2016-07-17 17:23] wojtek-t commented on #29023
We are not going to do the "full pod priority" feature at least for 1.4. The plan is just to have a group of "high priority pods" (probably defined as those with some special label) that would be "critical pods" as defined by @davidopp above.

[2016-07-17 17:33] therc commented on #29023
For our use case (DaemonSets + heapster + DNS + dashboard + GPU pods), a special label is a good start. We'd be happy to provide early testing and feedback.

[2016-07-17 18:02] rata commented on #13748
I will start working (slowly, have tons of exams at university) this week. I've seen the timeline here: https://github.com/kubernetes/community/wiki/Release-1.4 so will let you know with time if for some reason I think I won't make it or need more help. Thanks a lot! :)

[2016-07-17 18:41] aronchick commented on #831
While that is copying, it's not (really) manual, is it?

Crazy idea - since containers share memory space, would a symlink be available between containers?

[2016-07-17 18:42] aronchick commented on #28647
This is great - can you put a (short) proposal in the features repo?

https://github.com/kubernetes/features

[2016-07-17 18:44] aronchick commented on #10921
@pires I know - we've wanted to get to this for a long time. The issue is that because there was a very clear solution (skipping the k8s load balancer and using your own that had XFF), and there a bunch of other features that had no work around, we couldn't get to this in time. Hopefully will land for 1.4!

[2016-07-17 18:55] ae6rt commented on #831
I'm following this issue for over a year now.

In @aronchick's recent example

https://github.com/kubernetes/kubernetes/issues/831#issuecomment-23300722

I read a comment about copying but cannot see any executable code that does copying.  So I don't fully understand how his workaround works.  Maybe there is an order of operations in the consecutive mounts, under the covers, that affects copying?

[2016-07-17 20:14] damoon commented on #28718
i have 2 working ceph setups.
one uses manually configured kubernetes external containers via weave with static ips for the monitors. this was/is production for quite some time.
the 2nd uses a daemonset for the datanodes (osd) and one deployment + service per monitor with static ips for the services. each services points to a single monitor and each pod is fixed to a kubelet-node. telling the ceph

[2016-07-17 20:48] girishkalele commented on #28647
Closed this after moving to feature repo - https://github.com/kubernetes/features/issues/27

[2016-07-17 20:48] #28647 closed

[2016-07-17 20:59] adityakali commented on #27754
We should consider fixing this in next 1.3.x release.

[2016-07-17 21:00] Kamshak commented on #27430
+1 for StatefulSet, @erictune when reading your comment i was already confused by this, thinking it was already changed to ReplicaSet. Please do not pick a name that is too similar as it would be very easy to confuse the two (ReplicationController vs ReplicaSet vs ReplicaSequence ??? Very confusing to a beginner).

[2016-07-17 21:03] thockin opened #29074 "Lots of "does not conform to prefix" in controller-manager logs"
Looking at node names and prefixes.  Scary message.

[2016-07-17 21:13] bprashanth commented on #29074
this is from the "gce rejects long filters" fix we put in. the node instance prefix is in /etc/gce.conf, if the service controller finds a node that doesn't match this prefix, it should fallback to listing all nodes.
@zmerlynn

[2016-07-17 21:15] adityakali commented on #27754
Also, looking closely at the logrotate configs,
/var/log/kube-apiserver.log {
    rotate 5
    copytruncate
    missingok
    notifempty
    compress
    maxsize 100M
    daily
    create 0644 root root
}

it seems we use "maxsize" to limit the log size. According to manpage (https://github.com/logrotate/logrotate/blob/master/logrotate.8#L324):

i.e., Once the log rotates after first 100Mb in a da

[2016-07-17 21:27] thockin opened #29075 "GCE cloud provider logging should have mile-markers for things like LB creation"
Default logging does not have much information.  Trying to comprehend an LB Service, I'd really like to see

Time-0: loadbalancer needed
Time-1: targetpool requested
time-2: targetpool confirmed
time-3: firewall requested
time-4: firewall confirmed
time-5: forwardingrule requested

etc.

@arob FYI

[2016-07-17 21:40] tazjin opened #29076 "[GKE, 1.3 upgrade] Persistent volumes reformatted"
Hey,

I upgraded a small (3 node) GKE cluster to 1.3 yesterday. After about 30-50 minutes everything had settled down and was running fine.

Within about an hour after that (I'm unsure about the correct timestamp) something caused two pods that were using `gcePersistentDisk` volumes to restart and upon mounting the disks again, something (presumably k8s) reformatted the file system on those disks,

[2016-07-17 21:44] bprashanth commented on #29075
Simply sending the right events will also log them. Another way to do this is to write k/v pairs to annotations and have kubectl describe deserializes it (because events expire).

[2016-07-17 21:49] thockin commented on #29075
events are a fine way to surface to users for a while, but in this case I
wanted log-lines.

On Sun, Jul 17, 2016 at 2:45 PM, Prashanth B <notifications@github.com>
wrote:

[2016-07-17 22:10] chrislovecnm commented on #29076
@thockin @bgrant0607 which group handles GKE upgrade issues?

cc @kubernetes/sig-storage @saad-ali

@tazjin which version did you upgrade from?  What version is your master at now?  Do you have logs on the nodes where the disks were reformatted?  Can you give us a gist with your deployments? RC, Services, PV, PCS etc

[2016-07-17 22:19] tazjin commented on #29076
@chrislovecnm You can find all k8s config for this project in the repository that I linked to for the two affected deployments.

I upgraded from either 1.2.4 or 1.2.5, unfortunately I'm not sure because this setup is for a hobby project and I didn't follow a strict process. Will see if any logs can shed light on that.

The master is now running 1.3.0, same as the nodes.

I should still have all lo

[2016-07-17 22:28] tazjin commented on #29076
Also just wanted to note that we're not using the `PersistentVolume` and `PersistentVolumeClaim` resources here, just `gcePersistentDisk`s mounted directly in pod specs.

[2016-07-17 22:30] saad-ali commented on #18785
@jeffersongirao No problem! Glad the issue is resolved.

[2016-07-17 23:29] saad-ali commented on #29076
@tazjin Could you grab the `/var/log/kubelet.log` files from your nodes and and look for any output from `mount_linux.go`

[2016-07-17 23:56] saad-ali commented on #24199
I'm not a big fan of a proliferation of one-off volumes. Rather, I prefer having a set of volume primitives like secrets, emptydir, etc that can be customized for many uses. Instead of adding a new volume, the solution here might be to make secrets more customizable.

In this case, it may be useful to modify secrets to be able to set mode (https://groups.google.com/forum/#!topic/google-containers/

[2016-07-18 00:04] Random-Liu opened #29078 "Kubelet: Cleanup returns early when there is busy orphaned pod directory."
Today, I found that [mirror pod node e2e test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/mirror_pod_test.go) could never pass on my desktop. When the static pod file is removed, the mirror pod on apiserver is expected to be removed, but that didn't happen.

It turns out that on my machine, there is an orphaned pod directory maybe left from previous running:
[code]
The pod

[2016-07-18 00:10] Random-Liu commented on #29078
Offline discussed with @saad-ali, the volume part is a known issue https://github.com/kubernetes/kubernetes/issues/27653.

However, we should still fix kubelet to make it continue the other cleanup stuff when this happens.

[2016-07-18 00:11] tazjin commented on #29076
@saad-ali I grabbed those and the rotated ones from yesterday (actual incident happened around 15:00 UTC on the 2016-07-16), no occurences of `mount_linux.go`.

Tried grepping for a bunch of stuff, such as `ext4`, `filesystem` etc. but found nothing relevant. Looking for the disk names yields messages from right after the pods were first scheduled on those nodes, with the nodes waiting for the dis

[2016-07-18 00:29] tazjin commented on #29076
Cloud Logging has no output from `mount_linux.go` during the last days either

[2016-07-18 00:31] bprashanth opened #29079 "Don't recrete forwarding rule/target pool on master restart"
Restarting master causes a recreation of fwrule and target pool for type=loadbalancer services. We are saved in the non restart case because we compare a cached verson of the service to decided if we should even call into the cloudprovider and update resources.

This is happening because our reconciliation routines are confused about session affintiy and lbip, leading them to recreate, since inpla

[2016-07-18 00:35] dims commented on #29059
I can recreate this problem on master with the following sample:
http://kubernetes.io/docs/user-guide/configmap/#real-world-example-configuring-redis

Leave it running for 10 mins or so and `grep redis-config /tmp/kubelet.log` shows:
http://paste.openstack.org/show/536036/

[2016-07-18 00:35] bprashanth commented on #29079
the session affinity fix is trivial. The easiest change for the lb ip fix is to not actually check the ip, but simply backoff as long as the forwarding rule exists. This is "bad" because of the way we allocate a static-ip, assign it to the fwd rule, then de-allocate it. The alternative is to use status.lbip to reconcile, but that's racy.

[2016-07-18 00:43] dims commented on #29059
Looks like this is by design :
https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L86

The plugin(s) are telling the system to keep remounting to update the contents of the volume. Patching the following to `return false` stops the repeated re-mount.
pkg/volume/configmap/configmap.go
pkg/volume/downwardapi/downwardapi.go
pkg/volume/secret/secret.go

Folks are probably using

[2016-07-18 01:26] Random-Liu opened #29081 "Node E2E: Prep for node conformance test."
For https://github.com/kubernetes/kubernetes/issues/30122.

In 1.4, we plan to provide part of the node e2e test to the user as the node conformance test.

Later, we'll have a comprehensive roadmap about this, after finalizing with the team @kubernetes/goog-node @kubernetes/sig-node

But before that, to prepare for the node conformance test, there are several working items we should do to improve

[2016-07-18 02:46] thockin commented on #24199
There's a PR in progress to add modes (@rata) and a separate PR to allow
more characters in keys.  No need for a custom volume.

On Sun, Jul 17, 2016 at 4:56 PM, Saad Ali <notifications@github.com> wrote:

[2016-07-18 02:49] mqliang commented on #24199
@saad-ali

I agree! Is there anyone work for that? BTW, it seems that ConfigMap could not set mode either.

[2016-07-18 02:56] AdoHe commented on #25106
@ivan4th I am just a little bit confused, could you please explain what's the root cause here?

[2016-07-18 03:04] AdoHe commented on #19589
@childsb I am just a little bit busy with my company staff, so if you have bandwidth, please take it.

[2016-07-18 03:13] mqliang commented on #24199
@thockin fine. Feel free to close this when https://github.com/kubernetes/kubernetes/pull/28936 are merged.

cc/ @ddysher

[2016-07-18 03:13] thockin commented on #24199
https://github.com/kubernetes/kubernetes/pull/28733

https://github.com/kubernetes/kubernetes/issues/26663

On Sun, Jul 17, 2016 at 7:50 PM, Liang Mingqiang <notifications@github.com>
wrote:

[2016-07-18 03:15] danielqsj commented on #13241
Hi all, has this feature been completed already? Or still in progress?

[2016-07-18 03:15] #24199 closed

[2016-07-18 03:18] rata commented on #24199
@mqliang If you have some time, please check the proposal (or implementation too! :)) and see if your use case is addressed. If you have any comment/sugguestion/something, please post in the appropriate issue/PR :)

[2016-07-18 03:34] whereisaaron commented on #27110
The ingress controller itself doesn't seem itself to get the right IP using k8s 1.2.4. Using hostPost and going direct to the node the ingress controller blocks based on a cluster internal IP (e.g. 10.20.40.1) for a whitelist annotation. Renders the whitelist support useless. I'll try again with 1.3.

`2016/07/18 02:46:09 [error] 92#92: *87 access forbidden by rule, client: 10.20.40.1 , server: ww

[2016-07-18 04:34] thockin commented on #831
@aronchick symlinks demand shared mount space, which we do not have.

@ae6rt What David proposed was:

Yes it works, and init-containers are even more elegant.  It's still a little clunky for my taste.  The real problem is, as much as I like to solve the design, it's significantly complex and only a handful of users have asked for it.

[2016-07-18 04:42] alph486 commented on #831
Am I understanding from this that using a side car that contains data and
shares it by writing a symlink
to a directory on its file system will not work when accessed from the
"main" (other) container in the pod?

On Sun, Jul 17, 2016 at 11:35 PM Tim Hockin <notifications@github.com>
wrote:

[2016-07-18 04:49] thockin commented on #831
Correct.  A symlink will be resolved relative to the reader.

On Sun, Jul 17, 2016 at 9:43 PM, Kevin Kuhl <notifications@github.com>
wrote:

[2016-07-18 04:57] k8s-merge-robot opened #29084 "[k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11418/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28437

[2016-07-18 05:33] #29079 closed

[2016-07-18 05:42] bprashanth commented on #29079
cherry pick https://github.com/kubernetes/kubernetes/pull/29083

[2016-07-18 05:43] #28885 closed

[2016-07-18 06:12] thockin commented on #27161
@ashmere Can you share the static routes you set up?

[2016-07-18 06:32] thockin commented on #26009
Are you looking at the resolv.conf for `pause` containers or real app
containers?  Pause will use the default docker form of resolv.conf.  Are
the apps using hostNetwork?

I can not repro this *at all*.  Help wanted to repro...

On Fri, Jul 15, 2016 at 11:37 AM, Tim Bunce <notifications@github.com>
wrote:

[2016-07-18 06:34] thockin commented on #17406
We do a lot of DNS processing, so it may be that docker's fix does not
"just work" for us.  I have been worn down on this.  I'm happy to entertain
patches :)

On Fri, Jul 15, 2016 at 11:06 AM, Yifan Gu <notifications@github.com> wrote:

[2016-07-18 06:38] thockin commented on #28789
I think wrappers would be possible, but as this is almost certainly a
daemon interface rather than exec, wrapping is a bit trickier.

There is a 1:1 relationship between kubelet and the runtime.  Maybe,
instead of a UNIX socket or TCP we could make kubelet fork and exec the
runtime binary and use a pipe on stdin/stdout.  This would make chaining
very easy.  Bad for isolation, perhaps.  Maybe we ca

[2016-07-18 06:46] #28527 closed

[2016-07-18 06:59] jianzhangbjz commented on #6612
Hi @HaiyangDING Seems based on the latest k8s version, using "kube-scheduler --help" command, still show the only "DefaultProvider" algorithm, not included others, as "ImageLocalityPriority", "NewNodeLabelPriority", etc... How can I add myself algorithm into the "--help" show list?
[code]

[2016-07-18 07:07] thockin commented on #23098
docuemnt

On Wed, Jul 13, 2016 at 8:21 AM, bradley childs <notifications@github.com>
wrote:

[2016-07-18 07:17] krmayankk commented on #29023
```sufficient resources for them in an "empty" cluster, even if the cluster is non-empty ```
i am confused by this line, it would help to provide a slightly better description of this issue .

[2016-07-18 07:45] #26546 closed

[2016-07-18 07:48] wojtek-t opened #29090 "Scheduler crash"
In my last test run, scheduler crashed with the following error:
[code]

I think my previous fix in #28886 wasn't fully correct. I will try to fix it later today.

@xiang90 @hongchaodeng @davidopp

[2016-07-18 07:50] GavinSong123 opened #29091 "after modifying the --graph of docker, make release for kubernetes has always failed"
The output messages as follow:
build/release.sh
+++ [0718 15:42:06] Verifying Prerequisites....
+++ [0718 15:42:11] Building Docker image kube-build:build-41a795c3c3.
+++ Docker build command failed for kube-build:build-41a795c3c3

Sending build context to Docker daemon 42.05 MB
Step 1 : FROM gcr.io/google_containers/kube-cross:v1.6.2-2
 ---> 608ac17ba91b
Step 2 : RUN touch /kube-build-image
 --->

[2016-07-18 07:50] pires commented on #10921
@aronchick yes, there are solutions out there but I'm glad you guys are looking into it as well. As a user, seeing how powerful Kubernetes is to scale my app but not _serve_ it seems a huge paradox. Can't wait for 1.4 👍

[2016-07-18 08:01] wojtek-t commented on #29090
I already have a unit test that reproduces it.

[2016-07-18 08:09] sttts commented on #29072
Duplicate of #28608. Closing.

[2016-07-18 08:09] #29072 closed

[2016-07-18 08:27] sttts commented on #29084
Duplicate of #28608. Closing.

[2016-07-18 08:27] #29084 closed

[2016-07-18 08:44] #29090 closed

[2016-07-18 09:15] ApsOps opened #29097 "Feature request: Option to update just the image tag in a deployment"
Currently, to update the container image running in a deployment, we do something like this:

[code]

or perhaps using `patch` to update the `image` field.

While this works fine, I think container image names are rarely changed, and we just update the image tag. So it might be a good idea to keep `tag` as a separate field. Then we can do, "set image-tag for this deployment name" without fetching

[2016-07-18 09:17] soltysh commented on #25442
@caesarxuchao we've discussed this in https://github.com/kubernetes/kubernetes/pull/27157#issuecomment-233067071 As promised, I'll start working on it, once ScheduledJobs will be in mergable state.

[2016-07-18 09:34] wojtek-t opened #29098 "Scheduler can drop unscheduled pods and never scheduler them"
If the first scheduling failed (whatever the reason is), the Error() func is called. However, the default Error function is wrong and in case of some errors may drop the pod and never requeue it for scheduling again.
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/factory/factory.go#L539

The problem is that if the Get() function:
https://github.com/kubernetes/kubernetes/

[2016-07-18 09:44] soltysh commented on #29066
Looks like a gke problem, already handled in #28656.

[2016-07-18 09:44] #29066 closed

[2016-07-18 09:47] ashmere commented on #27161
We are using coreos (stable) and v1.3.0 in gce with a custom cluster setup (i.e. not saltstack) with flannel networking (using gce backend).
I've configured a static route using gce api for the service ip range with a next hop of the one of the kube-masters (which is running the kube-proxy) priority 100.

[2016-07-18 09:47] AdoHe commented on #29025
@girishkalele IIUC, you mean we should add a better `User-Agent` when kubernetes daemon request a readiness check to identify this request comes from kubernetes daemon?

[2016-07-18 10:08] leseb commented on #28718
@bprashanth basically when it comes to ceph monitor nodes, once they get deployed their IP address can not be changed. That's why we need sticky IP addresses. Other components can have their IP changed.

[2016-07-18 10:24] soltysh commented on #28977
Thanks, I'll try to investigate what might be causing this.

[2016-07-18 10:39] onlyjob commented on #28740
Ping, @yifan-gu, @dcbw.

[2016-07-18 10:41] wu8685 commented on #27454
@mmontagna
It happens because cmd flag parser expects the from-literal (or from-file) value is in the form key=value (where the value doesn't contain comma) or key1=value1,key2=value2...

@pwittrock
I find the [k8s doc](http://kubernetes.io/docs/user-guide/configmap/) doesn't mention the second form. So how about we just disable the second form? I think it is a convenient solution.

[2016-07-18 11:42] #26704 closed

[2016-07-18 11:53] jeffchanjunwei opened #29106 "kubedns container failed to be created with skydns-rc.yaml.base file"
Use the skydns-rc.yaml.base(/kubernetes-release-1.3/cluster/addons/dns/sky..) file to create the k8s dns service. but the kubedns container is always failed to created.

************The edited element info and the whole file are showed bellow:************

namespace : kube-system    replaced by ‘’default”
__PILLAR__DNS__REPLICAS__     replaced by   “1”
--domain=__PILLAR__DNS__DOMAIN__.   replaced

[2016-07-18 12:14] jszczepkowski commented on #28986
Auto-scaling base on memory usually does not work correctly. Memory consumption of pods usually never shrinks, so, adding a new pod will not decrease memory consumption by old pods. This is the reason why there was no autoscaling base on memory in the initial version of HPA.

It is possible that in future scaling based on memory will be possible by explicitly specifying one of embedded hepster met

[2016-07-18 12:52] halr9000 commented on #24677
Journald has built-in handling of log rotation. If you read more on the
referenced URL and also
https://www.freedesktop.org/software/systemd/man/journald.conf.html (search
for "SystemMaxFileSize"), you'll see it defaults to on, so I'm not sure log
rotation is a concern for this issue.

On Fri, Jul 15, 2016, 3:15 PM Michael S. Fischer <notifications@github.com>
wrote:

[2016-07-18 13:00] bboreham opened #29107 "healthCheckCommand.String() is slightly confusing"
E.g. I get a message like this:

[code]

it looks like it would run the command `/home/vagrant/bin/etcd etcd`.  But this is misleading: the second `etcd` is just the `argv[0]` that it passes on invocation.

[2016-07-18 13:03] noose opened #29108 "Daemonset is trying to schedule on master"
For example:

[code]

[code]

[2016-07-18 13:10] timothysc commented on #29001
@gmarek post #29032 , could you let me know if you are still seeing an issue.

[2016-07-18 13:27] zefciu commented on #28969
I have an idea to implement this feature in calico-containers. I believe that a thing like sticky IPs is not something k8s is responsible for. I still however need a confirmation that this is a requirement for galera to get a blessing for this feature.

[2016-07-18 13:38] piosz commented on #11382
Further improvements

suggested by @deads2k:
1. sorting on columns, top style
1. support for additional rollup resource types:  services, replicasets/rcs, deployments, jobs, daemonsets, ingress?
1. dynamically updating
1. pasteable output for `kubectl describe`

suggested by @vishh:
1. watch
1. sort by mem usage

[2016-07-18 13:48] timothysc commented on #28537
Curious if #29001 is related here.  /cc @gmarek

[2016-07-18 13:56] wojtek-t commented on #28537
@timothysc The panic is not related to this one (I mean I checked for panics in those runs and there weren't any). However, the godep update that you did may potentially help (it was just merged, so we don't have data for it - it was flaking ~1 per day or two).

[2016-07-18 14:04] piosz commented on #9125
Basic resource usage metrics (cpu, mem, fs, network) are being collected by Heapster out of the box.

cc @mwielgus

[2016-07-18 14:09] slaskawi commented on #28986
I think it depends on application type. Data Grids for an instance usually do a rebalance after adding a new node, so you might expect that the total amount of memory used in all pods will slightly drop. Of course it needs proper configuration, in case of JVM it requires setting at least `Xms` (as described [here](https://developerblog.redhat.com/2014/07/15/dude-wheres-my-paas-memory-tuning-javas-

[2016-07-18 14:09] AdoHe commented on #27454
@pwittrock @kubernetes/kubectl Actually what @wu8685 suggested sounds reasonable to me. Multiple from-literal should be used to support multiple key,value pairs, we should have no constraint on value format. I think @wu8685 has extra bandwidth to do this, but first we should make a decision.

[2016-07-18 14:31] gmarek commented on #29001
I didn't have time to run tests today, as I was fixing NodeController. I'm OOO for the rest of the week, but maybe @wojtek-t will run the test?

[2016-07-18 14:37] DirectXMan12 commented on #28986
@slaskawi my hope for #28628 is to have it work that way, eventually.  Please do chime in on that issue if you have any feedback.

[2016-07-18 14:37] wojtek-t commented on #29001
I will try to confirm that the fix works later this week. (Though the single run may not be enough, as this seemed to be a race). Anyway - I will keep this updated after running some tests later this week.

[2016-07-18 14:39] rhcarvalho opened #29115 "`kubectl get pods --show-all=false -o name` doesn't work"
The `--show-all=false` flag is documented as:

[code]

However, when used together with `--output name`, all pods are listed, terminated pods are **not** omitted.

##### Version

[code]

##### Steps To Reproduce
1. Create namespace with terminated and running pods
2. Use `kubectl get pods` with/without `--show-all=false` and `-o name` and compare results.

##### Current Result

Now, the `--show-al

[2016-07-18 14:40] smarterclayton commented on #27454
Supporting commas in arguments was an unintentional mistake - we did
it for the etcdservers argument but never corrected the pattern

We need to fix this, because we have blocked users from using certain
values.  There has to be some consideration for back compat.

We can make stringslice *not* split on comma when more than one flag
arg is provided (so --foo=a,b works the same).  That still blocks

[2016-07-18 14:43] rhcarvalho commented on #29115
@kubernetes/kubectl

[2016-07-18 14:44] ncdc commented on #29115
cc @kubernetes/kubectl @kubernetes/rh-ux

[2016-07-18 14:48] timothysc commented on #27154
Is there a reason not to invoke separation of concerns here?  Operators will typically have their own federated logging system, and hook in their own log drivers.  Be it journal, syslog, whatever, and they are typically far more complete then any adaptation we would provide.

My concern is that we may venture to close to a yet another opinionated event horizon.

Do we have an exact finite set of u

[2016-07-18 14:49] rhcarvalho commented on #29115
BTW, it's the same problem if `--output json`, and perhaps other values too (jsonpath, go-template, etc).

[2016-07-18 14:52] wojtek-t commented on #22448
During designing more native support of HA in kubernetes, we came up with a completely different procedure, that can save us a lot of testing & coding time.

Basically, I would like to benefit from the fact, that it's possible to create an etcd cluster that consists from etcd2 and etcd3 instances. What is more, you can do rolling update from etcd2 to etcd3. And this is exactly what we need.

So th

[2016-07-18 15:14] HaiyangDING commented on #6612
@jianzhangbjz

Hi, a 'algorithm provider' is essentially a 'set' of scheduling rules (i.e. a set of predicates and prioritizers). Here are my thought based on my understanding of your question.

1. To include other predicates and/or priorities that already exist in the library, you need to add them as part of the default scheduler's scheduling policy, namely, edit `./plugin/pkg/scheduler/algorithm

[2016-07-18 15:18] timothysc commented on #22448
@wojtek-t That's not going to work... I'll let @xiang90 and @hongchaodeng explain.

[2016-07-18 15:20] AdoHe commented on #27454
@smarterclayton As with consideration for back compat, the original behavior is that if we use this: `--from-literal=key=a,b`, `b` would be parsed as a key but not the value of `key` which  is not what user expect. So typically there are two formats we need to think about: `--from-literal=key=a,b` and `--from-literal=key1=a,b,key2=c`. IMO the second format is not a "correct" usage, we should avoid

[2016-07-18 15:23] AdoHe commented on #29115
I think I must made some mistake in the original implementation, I will fix this asap. pls assign this to me. @kubernetes/kubectl

[2016-07-18 15:42] bboreham opened #29117 "test-e2e-node broken by etcd port change from 4001 to 2379"
etcd previously listened on 2379 and 4001, but in https://github.com/coreos/etcd/pull/5322 changed to just 4001.

Repro:

[code]

I can submit a PR to change every 4001 to 2379.

[2016-07-18 15:49] pwittrock commented on #28940
@davidopp No you cannot get the same information from `get` as `describe`.  `describe` manually calculates the usage by aggregating the Pod usage.  It is more heavy weight than `kubectl get`.

[2016-07-18 15:55] timothysc commented on #28311
Just for clarity, I'm ok with the 1st iteration being pure vendor.scoped.labels, then over time, refining where needed.  I just wanted to make certain we talked about it, b/c when taken to an extreme,  as @therc points out, we could reach a point of "label bankruptcy".

This will become a broader discussion over time in the on-prem use cases.  /cc @derekwaynecarr @jeremyeder

[2016-07-18 16:14] dstynchula commented on #28977
I was working with @justinsb looking from the kubernetes-users Slack channel. He had a couple of ideas, and said it would be ok if I posted them here:
[code]

[9:52]
It took 11 minutes to set the DeletionTimestamp (I think that is what it is saying)

[9:53]
I bet the jobs are in Phase=PodSucceeded but DeletionTimestamp=nil

[9:53]
That is considered active

[9:53]
But also success (!)

[2016-07-18 16:15] dstynchula commented on #28977
Restarting the controller had no apparent effect on the bug.

[2016-07-18 16:27] pwittrock commented on #28940
@krmayankk Allocable isn't actually (Capacity - Used), it is (Capacity - (System Reserved + Kube Reserved)).

[2016-07-18 16:32] pwittrock commented on #28940
@krmayankk `kubectl describe` is manually summing up all of the Pod reservations for the Node.  Adding the fields you suggested to `describe` seems reasonable, but I recommend against using describe programmatically since it isn't meant to be used in this manner, and the output format maybe changed.  I would instead manually calculate the per-node usage in a similar way to how describe does it.

[2016-07-18 16:32] bgrant0607 commented on #21817
cc @erictune @viglesiasce @jeffmendoza @pwittrock

[2016-07-18 16:34] yujuhong commented on #28992
kubelet.containerRuntime can't be nil, or kubelet [should just exit at startup](https://github.com/kubernetes/kubernetes/blob/18df45103152a0a186134019a0902eb98a60a31a/pkg/kubelet/kubelet.go#L467).

[2016-07-18 16:36] pwittrock commented on #26317
@chrislovecnm Both your suggestions make sense.  Would you be willing to file PRs to add a comment to the reclaim policy and update the example to not use recycle?

[2016-07-18 16:37] hongchaodeng commented on #22448
If you just want to upgrade the cluster without using any V3 API, the rolling upgrade will still work.

Basically etcd3 has two separate data store under the hood: one for v2, and one for v3. In order to use V3 API, users have to do both client migration and data migration.
- Client migration is to use v3 API in application. We can't access v3 data without using v3 API.
- Data migration is to conv

[2016-07-18 16:43] pwittrock commented on #27454
I agree that we do not want to support the second format since it adds more complexity and is harder to read than using multiple --from-literal args.  My only concern is changing the behavior for folks who depend on the second form.  We can put in a release note to notify users, but I wonder if there is anything else we can do.

[2016-07-18 16:45] DenisIzmaylov opened #29120 "kubectl: `create secret` does not work without `https`"
Dear,
Thank you for this project. Really awesome. But I got the issue while trying to create and use a secret for private docker registry.

When I run it as:

[code]

And create new pod:

[code]

It doesn't work and when I run `kubectl describe pods`:

[code]

But when I add `https://` prefix to `docker-server`:

[code]

So in this case everything is working.

[2016-07-18 16:46] lavalamp commented on #29002
Hm, I'd have to look at the code, I thought it should be synchronous, but maybe not? @brendandburns might know.

[2016-07-18 16:55] zmerlynn commented on #29074
@thockin: What was your cluster name? Why was the prefix wrong?

[2016-07-18 17:02] apelisse commented on #29108
@davidopp PTAL

[2016-07-18 17:03] orenye opened #29121 "Docker Multi Node documentation broken"
Hello,
Using CentOS7 and Docker 1.10.2 I'm trying to follow Kubernetes 'Docker Multi Node' setup guide with no success.
Either the page http://kubernetes.io/docs/getting-started-guides/docker-multinode/ is fundamentally out of date, or I'm doing something totally wrong.
According to the doc the master.sh script should reside here:
`$ cd kubernetes/docs/getting-started-guides/docker-multinode/`
`$

[2016-07-18 17:10] apelisse commented on #29121
cc @johndmulhausen @jimmyjones2 @jamesdefabia

[2016-07-18 17:12] apelisse commented on #29120
cc @dchen1107 @matchstick

[2016-07-18 17:20] alex-mohr commented on #27754
Thanks @adityakali.

@thockin It's not clear to me there's a "safe" amount to overprovision disk by vs. fixing the configs so rotations keep log usage within expected ranges.  Could you (or someone you find) please address the root cause and get logrotates configured to work as expected?

Given this is affecting 1.3 and we should fix, I switched milestone and increased priority to P0.

[2016-07-18 17:28] yujuhong commented on #29012
I think the node controller doesn't react if *all* nodes in the cluster are not ready because it could be a network issue and evicting pods doesn't help. However, it could still mark the pods as not ready. I am not sure if this is the case or not. The control plane team will know more.

How do you start docker on your node? If you used GKE or kube-up.sh to start a cluster, I believe in most cases,

[2016-07-18 17:30] apelisse commented on #29107
cc @pwittrock @timothysc

[2016-07-18 17:30] girishkalele commented on #29025
@AdoHe Yes, we should override the default net/http user-agent with our own.
Better usability for  users and we have no future upgrade hazards if users start hardcoding and expecting this default User-Agent string in their analytic tools.

[2016-07-18 17:32] noose commented on #29108
Ok, dns was bad example:
[code]

[code]

[2016-07-18 17:34] spxtr commented on #29117
I don't really know anything about how the node tests work. @pwittrock might be a better assignee.

[2016-07-18 17:35] thockin commented on #29074
This was a customer GKE cluster.  Investigating other issues, saw that.

On Jul 18, 2016 9:55 AM, "Zach Loafman" <notifications@github.com> wrote:

[2016-07-18 17:47] #17238 closed

[2016-07-18 18:01] pwittrock opened #29126 "Munge Github should auto assign docs prs to owners"
kubernetes.github.io PRs should be auto assigned to owners.

- Add OWNERS to each doc in structured yaml at top
- Munge github should assign PRs based on the structured yaml

[2016-07-18 18:06] yujuhong commented on #29078
We should aggregate the errors of independent cleanup tasks and return at the end.

[2016-07-18 18:07] yujuhong commented on #29078
Removing the storage related labels since they are covered by #27653 already.

[2016-07-18 18:07] caesarxuchao commented on #29065
The problem is that the rc manager hasn't observed pod1, so it creates another pod and scales down, pod1 might get deleted. I'm working on the fix.

[2016-07-18 18:09] caesarxuchao commented on #25442
Thank you @soltysh!

[2016-07-18 18:11] pwittrock commented on #28695
@ardnaxelarak should I assign this to you?

[2016-07-18 18:12] zmerlynn commented on #29074
Well, let's just say I'm glad I made the filter advisory. :)

[2016-07-18 18:14] apelisse commented on #29106
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-18 18:18] yujuhong commented on #28868
[code]

Looks like a GCE networking/metdata server problem. /cc @girishkalele

@Random-Liu, I thought we prepulled all images in the node e2e tests, is that not true?

[2016-07-18 18:24] #29106 closed

[2016-07-18 18:25] bprashanth commented on #27754
The suggested logroate fix sounds simple enough https://github.com/kubernetes/kubernetes/pull/29128

[2016-07-18 18:25] Random-Liu commented on #28868
Yeah, we prepulled image. But I checked the code and found that this test was added later after that, and is not using the "prepull framework".

[2016-07-18 18:28] dims commented on #28864
@erictune - i just tried this and got

[code]

[2016-07-18 18:28] mikekap opened #29129 "panic when pulling images fails"
[code]

This happens right after an image pull fails (in my case, due to failed auth):
[code]

This causes the pod to be forever stuck in "creating container" state.

[2016-07-18 18:29] euank commented on #28740
That is a build error, correct?

Because Kubernetes vendors all dependencies, including appc, the build should be independent of the rkt version you have on your system or in your gopath.

It builds on master for me (and the build-bot should ensure this error doesn't happen on a release branch), so a bit more information on how you encountered that and how to reproduce would be helpful.

[2016-07-18 18:31] wojtek-t commented on #22448
If you just want to upgrade the cluster without using any V3 API, the rolling upgrade will still work.

Yeah - but that would be enough for us in the first step. We can start using V3 API in the next step (release after), right? And that would probably simplify a lot...

[2016-07-18 18:31] lavalamp commented on #29091
I can't tell from this what you're doing. What are the reproduction steps?

[2016-07-18 18:33] mikedanese commented on #29121
@luxas

[2016-07-18 18:33] thockin commented on #27754
I am OOO right now.  Please assign back to Lantao, maybe?

On Jul 18, 2016 10:21 AM, "Alex Mohr" <notifications@github.com> wrote:

[2016-07-18 18:35] jingxu97 commented on #29059
Yes, current design keep remounting to update the contents because currently there is no direct way of informing the changes  to kubelet. The remounting normally happens every 10~30 seconds from my observation. In case this behavior cause performance issue, we can consider optimize it.

[2016-07-18 18:36] yujuhong commented on #28868
Thanks!

[2016-07-18 18:39] bprashanth commented on #27754
Yeah I got the cheap fix in. That should make the rest P1 and probably not cherrypick worthy (because we'd doc recommended disk size).

[2016-07-18 18:40] yujuhong commented on #29129
@mikekap what version of kubelet is this?

@ronnielai do you mind taking a look since you are looking at cleaning up the image puller code? Thanks! Feel free to unassign yourself for whatever reason.

[2016-07-18 18:42] yujuhong commented on #9085
If a user deletes the node object by mistake, kubelet should register itself.

[2016-07-18 18:43] apelisse commented on #29041
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-18 18:43] #29041 closed

[2016-07-18 18:46] apelisse commented on #28983
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-18 18:46] #28983 closed

[2016-07-18 18:47] Random-Liu commented on #29129
This is because we never use and set the ["privilege function"](https://github.com/docker/engine-api/blob/master/client/image_pull.go#L36).
When the authentication failed, docker client tried to call the privilege function, but panic because it is `nil`.

[2016-07-18 18:48] xiang90 commented on #22448
@wojtek-t Upgrading etcd, migrating etcd data from v2 to v3, using etcd v3 API are separate issues. Yes, you can do it step by step. And I suggest you to do it step by step.

[2016-07-18 19:10] wojtek-t commented on #22448
@xiang90 - so I think I'm missing one bit of data; so is etcd3 able to work on both:
- data in the old format
- data in the new format
?
If that's true, that would explain a lot (and then my proposal is useless, because that would mean I misundersood things).

[2016-07-18 19:12] xiang90 commented on #22448
@wojtek-t etcd v2 and v3 API manipulate on totally diffrent data set. They are different storage engine under the hood. Existing v2 data will not be accessible through v3 API.

[2016-07-18 19:12] saad-ali commented on #29076
CC @matchstick

[2016-07-18 19:14] saad-ali commented on #28992
CC @kubernetes/sig-storage

[2016-07-18 19:15] yujuhong commented on #29129
IMO, this affects kubelet's reliability and should be patched to 1.3.

[2016-07-18 19:16] aveshagarwal commented on #29129
@kubernetes/rh-cluster-infra

[2016-07-18 19:17] wojtek-t commented on #22448
Sorry - I wasn't clear.

I understand that etcdv3 operates on different set of data.

But etcd 3.0 binary exposes also v2 API. So my question is whether data exposed via v2 API is different that those exposed via v3 API.

So assume that I start etcd3.0 binary from the old data (coming from etcd2.2 binary). This will work right? And this data will be accessible via v2 API of etcd3.0 binary, but no

[2016-07-18 19:17] saad-ali commented on #28992
Spoke with @yujuhong offline. She'll look in to if `kubelet.containerRuntime` is written after it is constructed. I'm going to see if I can get a repro.

[2016-07-18 19:18] xiang90 commented on #22448
Yes. Right.

[2016-07-18 19:19] wojtek-t commented on #22448
OK - so that's the bit I was missing. Thanks a lot for clarifications!

[2016-07-18 19:23] mikekap commented on #29129
@yujuhong I tried with 1.3.0 and 1.3.2

[2016-07-18 19:26] erictune commented on #28864
Did you do the create step first?  It only happens if you do the create step first.

[2016-07-18 19:27] davidopp commented on #29108
This is working as intended, see #28356

Regular pods will not schedule on master but DaemonSet pods do. We'll make this behavior selectable at the pod level soon (probably not for 1.4 though). For now, you need to not have the master node's kubelet register with the master if you don't want pods to schedule there. See the issue I mentioned for more details.

cc/ @mikedanese

[2016-07-18 19:28] dhawal55 commented on #28643
@justinsb Thanks for the pull request. I like the change but i'm still not clear how this will fix the issue. From what i understand, the change is mostly replacing the type for nodeName from `string` to `types.NodeName`.

We are assigning the hostname to nodeName right here [https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L636]. In my case, hostname (uname -n) is `i

[2016-07-18 19:32] dims commented on #28864
yep. i did. I do see a possible typo in your instruction, the create uses "petset.yml" and the apply uses "petset.yaml". i just used "petset.yaml" for both create and apply.

[code]

[2016-07-18 19:33] timothysc opened #29132 "update gcr.io/google_containers/etcd to 3.0.3"
No one outside of google can update these images and prior to other PRs to change scripts and what-not we need the latest etcd in the google registry.

@hongchaodeng @xiang90 should direct the exact version to start validation.

/cc @kubernetes/sig-scalability

[2016-07-18 19:35] wojtek-t commented on #29132
@lavalamp

I'm happy to help with building the image.

[2016-07-18 19:35] #28864 closed

[2016-07-18 19:36] erictune commented on #28864
Thanks for investigating.

On Mon, Jul 18, 2016 at 12:33 PM, Davanum Srinivas <notifications@github.com

[2016-07-18 19:40] davidopp commented on #28940
Is there a reason why we can't put this information in "kubectl get node -o yaml"? Then it could be used programatically. @smarterclayton mentioned to me the other day that he has seen operators using the output of "kubectl describe node" programatically also, to analyze resource usage.

[2016-07-18 19:46] aveshagarwal commented on #29117
Yes if etcd by default starts listening to only 2379, then it will require updating startEtcd() and startApiServer() in test/e2e_node/e2e_service.go .

[2016-07-18 20:02] pwittrock commented on #27296
@vishh Do you have bandwidth for this, or should I find someone else?

[2016-07-18 20:06] dstynchula commented on #28977
closed on accident. :")

[2016-07-18 20:08] pwittrock commented on #28293
@ixdy Any idea what the ` could not find default credentials. See https://developers.google.com/accounts/docs/application-default-credentials for more information.` issues are?

[2016-07-18 20:13] ahuffman commented on #27442
This issue was opened specifically for openssl certificate generation not
easyrsa patched version.  I'm still working on the solution and we can
hopefully get the documentation corrected.

-Andrew

On Sat, Jul 16, 2016 at 3:39 PM, arjunm183 <notifications@github.com> wrote:

--
Regards,

Andrew

[2016-07-18 20:17] smarterclayton commented on #27454
I think we just made a mistake here, we introduced a bug, and we are
really, really sorry that we didn't do it right.  Commas are not so
uncommon in both config maps and secrets that we aren't going to keep
hitting this.

I think we need to err on the side of ensuring that users can exactly
specify the values they need, over the convenience of the multi/value/key
setup.

On Mon, Jul 18, 2016 at 12

[2016-07-18 20:20] andrejvanderzee commented on #29027
Note: After digging more in the sources, I found that between GET and PUT the kubelet reads the images from Docker in the same go routine with go-dockerclient. When I start probing the Docket socket every second with the same call:

echo -e "GET /images/json HTTP/1.0\r\n" | nc -U /var/run/docker.sock

Then we see many "write: Broken pipe" with occasional long delays. This makes it seem more like a

[2016-07-18 20:23] pwittrock commented on #29097
Are you suggesting something like:

`kubectl set imagetag deployment/nginx-deployment nginx=1.91`

[2016-07-18 20:27] aronchick commented on #11975
I would suspect this is hideously out of date. Please reopen if it's still an issue.

[2016-07-18 20:27] #11975 closed

[2016-07-18 20:28] dcbw commented on #28407
I'm working on ways to get the network interface that CNI plugins use back to kubelet here https://github.com/containernetworking/cni/pull/145.  That obviously doesn't help 'exec' plugins though, but exec is deprecated.  So:

At this time yes.  In the near future, no.  But kubelet shouldn't care what the name is, it should simply use the name passed back from CNI.

Yes, it should be the interface

[2016-07-18 20:29] pwittrock commented on #28260
@cjcullen Are you planning on working on this or does it need an owner?

[2016-07-18 20:29] aronchick commented on #29070
FYI, we actually aren't committed to anything yet. We hope to get enough miles on it to bring PetSet to beta, but it's a huge feature, so we want to be deliberate.

[2016-07-18 20:31] ApsOps commented on #29097
Not necessarily the subcommand, but yeah something like that. I currently
send a PATCH request with the full image name and tag to the api. It would
be nice if I can send just the tag. So I guess it would need to add another
field in the PodSpec?

On Tue, 19 Jul 2016 at 1:53 AM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-07-18 20:36] bprashanth commented on #29070
It's going to say alpha at HEAD, till it's beta at HEAD, regardless of release

[2016-07-18 20:39] yifan-gu commented on #12533
Jul 01 12:50:49 ip-10-66-10-211.eu-west-1.compute.internal kubelet-wrapper[831]: W0701 12:50:49.367911     831 handler.go:562] Error while processing event ("/sys/fs/cgroup/cpu,cpuacct/system.slice/install-kube-system.service": 0x40000100 == IN_CREATE|IN_ISDIR): inotify_add_watch /sys/fs/cgroup/cpu,cpuacct/system.slice/install-kube-system.service: no such file or directory

@Zapadlo Such error mes

[2016-07-18 20:40] pwittrock commented on #29121
@orenye Thanks for the issue.  In general if you are trouble shooting an issue, the slack channel and stack overflow are more responsive channels.

[2016-07-18 20:42] pwittrock commented on #28175
@kwilliams057 If you need help troubleshooting this, slack and stackoverflow are more responsive channels.

[2016-07-18 20:51] pwittrock commented on #28190
@osterman You should be able to get this for human-informational purposes from `kubectl describe` in the pods events.  Do you want this for programmatic access or just human visibility?

We shouldn't change the value of the existing column.  Adding a column seems reasonable if this is available from the Node.

@timstclair Do you know if this is easily available, or would it have to be calculated f

[2016-07-18 20:54] luxas commented on #27857
ping @fejta @ixdy see PR #28916

[2016-07-18 20:54] #29065 closed

[2016-07-18 20:56] timothysc commented on #29107
/cc @timstclair

[2016-07-18 20:59] cjcullen commented on #28260
I have no immediate plans to work on this.

[2016-07-18 21:12] pwittrock commented on #28940
@davidopp Do we need this to be calculated on the fly, or can we read it from a periodically updated source?  I think the best way to export this would be to update the node code to export this to the stored node object.

@dchen1107 Thoughts on having the node export its usage so it is available to `kubectl get node`?

[2016-07-18 21:13] pwittrock commented on #28940
If this needs to be calculated on the fly, perhaps it is better suited to writing a tool to calculate it.

[2016-07-18 21:18] pwittrock commented on #29107
Will be fixed in #29110

[2016-07-18 21:19] pwittrock commented on #28523
Root cause: #28612

[2016-07-18 21:19] #28523 closed

[2016-07-18 21:19] pwittrock commented on #28493
Root cause: #28612

[2016-07-18 21:19] #28493 closed

[2016-07-18 21:20] pwittrock commented on #28420
Root cause #28612

[2016-07-18 21:20] #28420 closed

[2016-07-18 21:21] pwittrock commented on #28293
Never mind, looks like it is #28612

[2016-07-18 21:22] #28293 closed

[2016-07-18 21:31] zmerlynn commented on #29074
The problem here is that GKE isn't filling in a valid `NODE_INSTANCE_PREFIX` - it's still the metadata we use for the node tags, so I'm going to have to tease those apart, but we have a different naming scheme for nodes. This works fine on OSS, though - unless you modify `config-default.sh` and change the `NODE_TAG` naming scheme to e.g. `"${INSTANCE_PREFIX}-node"` (which will make it different th

[2016-07-18 21:32] smarterclayton commented on #28940
I kind of prefer this being something easily gathered and calculated than
built in to the API, to start.  In the long run, yes, it may make sense to
merge the data from multiple sources in the API server (like the proposed
spec and status), but we've tried to be much "dumber" for now.

On Mon, Jul 18, 2016 at 5:14 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-07-18 21:40] DirectXMan12 opened #29143 "Need a way to distinguish the source of different scales"
While working on idling, we discovered that we need a way to determine (in a object-agnostic way) to determine the source of the last scale event.  To this end, it would be useful to have some sort of annotation (or something of the sort) that can be read and set via the the `Scale` object.  Any scale done without explicitly setting this field/annotation/etc would clear it.  Otherwise, the autosca

[2016-07-18 21:41] smarterclayton commented on #29033
We went through this argument a bunch in the graceful deletion proposal
(although I'm not sure all of it was reflected in the proposal).  We
decided to enable both cases, because both reflect reality.

The current design has both - grace-period=0 says "kubelet is broken",
every other value says "kubelet, I trust that you work".  We've already had
lots of cases where admins / users had to use the "

[2016-07-18 21:42] smarterclayton commented on #28559
@caesarxuchao yes, although there are non-apiserver bits of code that may need to do conversions / defaulting / validation, like admin config commands.  So it's more about separating clients that should know about conversions (admin) from those that shouldn't (most others, including web uis and kubectl).

[2016-07-18 21:46] smarterclayton commented on #29143
As a straw man:

1. Add a boolean / string field to `Scale` that indicates `machine scaling / source of scaling`
2. That value would be reflected on an annotation on the underlying object.
3. All human initiated scale actions would not set that field, which would cause it to be reset
4. Autoscaler or Idler would set the appropriate value, and could use that to determine whether they are "fighting"

[2016-07-18 21:47] smarterclayton commented on #29143
Alternative - have this be a machine-readable field (similar to `Reason`) that users can set about why something was scaled.  Machines can expect / test a specific value.

[2016-07-18 21:51] janetkuo commented on #26834
In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/20127/, the pod `test-rollover-deployment-3104088211-1bwfp` (created by new RS) is seen as available in controller log, but seen as unavailable in e2e test log. Investigating.

[2016-07-18 22:02] imsky commented on #28418
+1 had to look through various shell scripts to figure this out

[2016-07-18 22:03] smarterclayton commented on #29143
Legacy clients would potentially still be limited (in that they can't make the correct determination), so we may have to rely on looking at an annotation for correctness in the short run.

[2016-07-18 22:05] smarterclayton commented on #29143
@DirectXMan12 for the near term we can do the following:

1. set the annotation on the target object directly at the same time we scale for a set of known "important" API objects (deployments, rcs, petsets, jobs), bypassing scale API
2. use the scale API for anything else (anything we don't recognize) until something like this gets added, and say end users can get weird unidling.

[2016-07-18 22:23] foxish opened #29146 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11468/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26175 #26846 #27334 #28293

[2016-07-18 22:23] onlyjob commented on #28740
@euank, on Debian we build from reusable external libraries, not vendored ones. Anyway eventually obsolete libraries need to be updated for one reason or another. Now would be a good time. :)

[2016-07-18 22:29] #29146 closed

[2016-07-18 22:34] alena1108 opened #29148 "Pod state is "ready" when CNI plugin fails to fetch the ip"
We are working on developing Rancher CNI plugin for Kubernetes, and ran into an issue when CNI plugin reported an error, yet the POD was launched successfully (only with container missing ip address). Just wanted to understand what is the reason for this behavior:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L347

I would expect the failure in con

[2016-07-18 22:36] k8s-merge-robot opened #29149 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11468/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26175 #26846 #27334 #28293

[2016-07-18 22:57] from-nibly opened #29151 "Kubernetes to allow DNS wildcards (RFC 4592) in ingress resource host names"
Proxy backends used in typical infrastructure support the use of asterisk wildcards for hostname based routing. For some reason the ingress resources validation uses the IsDNS1123Subdomain function which does not allow for wild cards. This proposal would be for an additional method, isDNS4592WildcardSubdomain, that would allow a wildcard to be used at the beginning of the dns name when validating

[2016-07-18 22:58] yujuhong commented on #26982
There have been multiple namespace deletions above and in all of them, there were no pods left in the namespace. This means that kubelet had finished terminating all the containers and deleting all the pods in the namespace, but the namespace was still not deleted in time.

For example, from the latest failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-seri

[2016-07-18 22:58] yujuhong commented on #26982
Assigning to @davidopp to triage.

[2016-07-18 23:00] vishh commented on #29033
@smarterclayton

If kubelet is broken, can we rely on an external controller to delete pod objects based on a policy, similar to what the node controller does today? I don't deny that we need a break glass option, but the default path, even with `0s` grace period should rely on the kubelet to delete the pod object.

As @davidopp mentioned, there is a necessity today for all pods to be deleted by t

[2016-07-18 23:11] euank commented on #28740
@onlyjob since the rkt runtime for kubernetes was only properly released/supported as of v1.3.0 I'm not sure if a cherry-pick of such a vendor update would/should end up in a v1.2.x branch (though I s'pose you can cherry pick it yourself).

Agreed that the vendored rkt/appc version on master should be updated. Is that enough for your packaging?

[2016-07-18 23:14] krmayankk commented on #28940
@pwittrock

@krmayankk Allocatable isn't actually (Capacity - Used), it is (Capacity - (System Reserved + Kube Reserved)).`

Thats what we need Allocatable, because we want to know the actual free resources remaining on the node, which means not including system reserved  or did you mean the opposite ?

[2016-07-18 23:35] lavalamp commented on #29132
SGTM, but (obviously) just make sure the tag is sufficiently distinct that it won't be confused for an etcd 2 build.

[2016-07-18 23:36] euank commented on #28407
This issue manifests for `hostNetwork: true` containers as well, yeah. Verified on a non-coreos systemd machine, so I'm updating the title.

[2016-07-18 23:40] osterman commented on #28190
@pwittrock thanks! I would be satisfied by an additional column. The primary motivation is for human ease-of-use. I want to see how long pods have been in the current state without manual inspection (e.g. `kubectl describe`). Since pods are constructed automatically by deployments, it's easy to have hundreds or thousands of them.

[2016-07-18 23:42] osterman commented on #28063
We haven't seen this happen again since upgrading to 1.3.

[2016-07-18 23:45] AdoHe commented on #28063
@kubernetes/kubectl I think we could close this now.

[2016-07-18 23:47] osterman commented on #26673
We've not seen a repeat of this since upgrading to 1.3. It's been about 10 days so far...

[2016-07-18 23:48] AdoHe commented on #27454
[code]
Yes. @wu8685 could you please fix this?

[2016-07-18 23:53] yujuhong commented on #29033
As long as we provide a feature to forcibly deletes an object from etcd, there will always be the case where kubelet hasn't cleaned up the pod completely. Is the intention of this issue to disallow users from using such a feature? If so, I don't know how this is possible today...

On the other hand, I agree with adding a separate flag (e.g., --force) to convey the outcome of the command more clear

[2016-07-18 23:57] samuraisam commented on #23880
Can it be accomplished on GCE?

[2016-07-19 00:11] AdoHe commented on #29143
/cc

[2016-07-19 00:12] smarterclayton commented on #29033
The easy way is to make --force be the equivalent of --grace-period=0, add
a --now (equal to grace period 1), and prevent --grace-period=0 from being
specified.  0s, 1s, and 2s are all indistinguishable.  That'll take the
bulk of end users doing direct deletes out, while still preserving break
glass.

Maybe I missed the discussion about kubelet admission, but the kubelet has
all the info it needs

[2016-07-19 00:13] yujuhong commented on #28106
I haven't seen another similar failure and couldn't dig further due to the low logging verbosity. Closing this issue.

[2016-07-19 00:13] #28106 closed

[2016-07-19 00:14] jlowdermilk commented on #28826
I just saw this on GCI. I think it's a docker bug, not specific to coreos. Reopening for node team to decide on priority/fixes. This may be something that the node problems api can detect/report at least.

[2016-07-19 00:21] jlowdermilk commented on #28826
Details for the occurrence I saw

docker version
[code]

kubectl version
[code]

internal bug 30174649

cc @adityakali

[2016-07-19 00:29] osterman commented on #27169
Not able to reproduce after upgrading to 1.3.0. I think this fixed it!

`Disk usage on "/dev/xvdf" (/vol/docker) is at 90% which is over the high threshold (90%). Trying to free 9836734054 bytes`

This happened within a minute or so of reaching the threshold.

[2016-07-19 00:44] vishh commented on #27169
Awesome! Thanks for verifying!

On Mon, Jul 18, 2016 at 5:30 PM, Erik Osterman <notifications@github.com>
wrote:

[2016-07-19 00:45] #28252 closed

[2016-07-19 00:54] osterman commented on #27169
@vishh : bad news.

Unfortunately, it appears that although GC kicks in almost immediately (which it didn't prior to the fix), it's not deleting a sufficient number of images. It does indicate some activity, but there are tons more eligible.

In my test, for example, I'm simply downloading tons of images with `docker pull`, but *never* instantiating them. Therefore, there are no dead/running conta

[2016-07-19 00:58] onlyjob commented on #28740
Yes, updating master will do as then I would be able to either backport fix for 1.2 or upload 1.3.

At the moment the problem is that supported rkt API is too old...

Thanks.

[2016-07-19 01:06] osterman commented on #27169
Not sure if this is related: https://github.com/kubernetes/kubernetes/issues/28491

Our images often will have multiple tags. E.g. since we build them in a CI context, we tag them with the CircleCI build number, branch and git hash.

[2016-07-19 01:06] chrislovecnm commented on #27754
Does anyone have a comment in regards to breaking this issue apart as I recommended above?

[2016-07-19 01:07] chrislovecnm commented on #26317
@pwitrock I am in the middle of writing docs for PetSet Cassandra, if it can wait, I can update

[2016-07-19 01:08] chrislovecnm commented on #26317
@pwittrock sorry about the typo on your username. Github on mobile sucks

[2016-07-19 01:09] Random-Liu opened #29155 "E2E & Node E2E: Add image white list"
For https://github.com/kubernetes/kubernetes/issues/29081.

With https://github.com/kubernetes/kubernetes/pull/28807, we are going to share some tests between e2e and node e2e.
However, one problem is that e2e and node e2e have different image prepulling. When adding a test which needs an new image, it's pain to add the image in both of them.
And both of them are hard to maintain. Mostly, people j

[2016-07-19 01:10] chrislovecnm commented on #28969
@zefciu with calico would this be able to work with internal IPs / DNS that PetSet uses? We need a pet to have a sticky IP address. Also I understand using calico, but this may want to be self contained in k8s.

[2016-07-19 01:12] chrislovecnm commented on #28969
To add more color stick IP address that is in the internal private subnet the cluster and minions use. This is not a sticky public ip.

[2016-07-19 01:13] ronnielai commented on #27169
@osterman, image GC doesn't delete all unused images. It only deletes enough to drive down the usage as shown in the log like "Trying to free....  bytes".

Multiple tags on an image may be the culprit. Do you see logs like "failed to garbage collect required amount of images. Wanted to free...."?

[2016-07-19 01:18] osterman commented on #27169
@ronnielai:
I forgot to mention that usage is still above 90%, so GC should be still trying to delete images.
Grepping the logs (as well as checking sumologic) for `required amount of images` produces no results. The only related errors I can find are `image is being used by running container`, which are to be expected.

[2016-07-19 01:34] GavinSong123 commented on #29091
@lavalamp Sorry...It's the problem of my docker service. I restart my docker service and it has been solved. Thank you.

[2016-07-19 01:34] #29091 closed

[2016-07-19 01:37] wu8685 commented on #27454
OK, I will fix it ASAP.

[2016-07-19 01:52] osterman commented on #27169
Some other observations.... It appears GC runs every 5 minutes.

In this output: `Disk usage on "/dev/xvdf" (/vol/docker) is at 94% which is over the high threshold (90%). Trying to free 14006699622 bytes`

It says it's trying to free `14006699622 bytes`, but it actually only selects images equal to `5006335884 bytes`.

Relevant logs:
[code]
(using `bc`, I added them up `817282446 + 416244985 + 18

[2016-07-19 01:54] lixiaobing10051267 opened #29158 "Jenkins GCE e2e test fail, Build timed out"
modify cidr to CIDR, the test fails:

PR #28814 kubernetes-pull-build-test-e2e-gce #48808

Started on 2016-07-13 13:54 CST and took 1h2m

v1.4.0-alpha.1.109+73a8b8bfa204f1

Build Result: FAILURE

artifacts build-log.txt

No Test Failures!

Error lines from build-log.txt
... skipping 453 lines ...
2016/07/12 23:02:01 e2e.go:212: Running: teardown
Project: k8s-jkns-pr-gce
Zone: us-central1-f
Shuttin

[2016-07-19 02:23] bgrant0607 commented on #24844
Closing in favor of the contrib issue.

[2016-07-19 02:23] #24844 closed

[2016-07-19 02:28] bgrant0607 commented on #23875
cc @kubernetes/contributor-experience

[2016-07-19 02:38] k8s-merge-robot opened #29159 "[k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6156/

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28257

[2016-07-19 02:56] vklonghml opened #29161 "k8s-1.2.5 code is correct with method determineContainerIP?"
Hi all,
Recently, i have been reading the k8s code(version 1.2.5), and i found a method definition:
func (dm *DockerManager) determineContainerIP(podNamespace, podName string, container *docker.Container) string,
in directory pkg/kubelet/dockertools/manager.go, line 299. It's called by two different ways in line 366 (ip = dm.determineContainerIP(podNamespace, podName, iResult), the order of the ar

[2016-07-19 03:06] AdoHe commented on #28873
@smarterclayton I looked at this error handling again, this [InterpretUpdateError](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/errors/storage/storage.go#L66) will not interpret invalid JSON error, so basically we will call this [errToAPIStatus](https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/errors.go#L35) to convert this error an unversioned.Status object, now

[2016-07-19 03:08] AdoHe commented on #29161
@kubernetes/sig-node seems like small mistake.

[2016-07-19 03:20] wu8685 commented on #27454
hi @eparis ,
I think the `FlagSet.GetStringSlice()` method hasn't considered the case that some of the `stringSliceValue.value`s contain `,`.
[code]

`stringSliceValue.String()` just joins slice values with `,`, as a result, it is unable to differ the comma in values.

[2016-07-19 03:28] jianzhangbjz commented on #6612
@HaiyangDING Thanks! I will have a try according to your advise.

[2016-07-19 03:34] AdoHe commented on #29115
I take a look at this, the root cause is that `--show-all` flag is not respected when `--output` is specified. That's because skip not running pod(kind of filter logical) is a client side behavior currently, we are always retrieving the whole pod list. If we want to use `--show-all` with other output format, we need to re-consider this skip behavior, put this filter logical in client side make thi

[2016-07-19 03:38] AdoHe commented on #28753
SGTM, I would like to do this.

[2016-07-19 03:42] HaiyangDING commented on #6612
BTW, I think it is OK to close it. Closing now.

[2016-07-19 03:42] #6612 closed

[2016-07-19 03:47] atombender opened #29165 "Pod with hostNetwork=true lacks listening socket on one node"
This is odd. Here's my daemonset:

[code]

It runs fine. Says it's listening. on port 9100. On node A:

[code]

On node B:

[code]

`docker inspect` shows both containers being utterly identical. Both nodes are running the same version of Docker and Kubernetes.

How do I debug this?

---

**Environment**

[code]

[2016-07-19 03:53] nambrot opened #29166 "Kubernetes keeps failing at mounting a volume"
Hey guys,

I have been trying out k8s over the weekend and liking it very much. However, I have one big issue. Very regularly, my nodes on GKE decide to die on me, which wouldn't be the end of the world since k8s is great at bringing up a new node and shuffling around nodes. However, I'm using postgres with persistent volumes. Every so often, that will fail as presumably an unmount/detach of the d

[2016-07-19 03:54] nambrot commented on #29166
What I forgot to mention is that removing the persistent volume, and re-adding it doesnt work. What does work (but only temporarily) is to create a snapshot of the disk, create a new disk, and then use that as my "new" volume?

[2016-07-19 03:58] bgrant0607 commented on #24759
See also https://github.com/kubernetes/contrib/issues/1029

[2016-07-19 04:29] smarterclayton commented on #27454
Yeah, we should clone StringSlice into two classes - one that handles
splits, and one that doesn't.  Starting with these types, we need to go
through all StringSlice use in the code and find whether they should
support splits or not.

On Mon, Jul 18, 2016 at 11:20 PM, Kan Wu <notifications@github.com> wrote:

[2016-07-19 04:30] smarterclayton commented on #27454
We can start with this one in particular and then do the rest in a
follow-up.

On Tue, Jul 19, 2016 at 12:29 AM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-07-19 04:40] #27974 closed

[2016-07-19 05:12] #21454 closed

[2016-07-19 05:17] atombender commented on #29165
Restarted machine, and it now listens correctly. However, what could be the logical explanation for this behaviour?

[2016-07-19 05:18] xynova commented on #27497
I am guessing the previous flags are not present in the new dns config files because minions are talking to the masters through ssh tunnels?

[2016-07-19 06:12] wojtek-t commented on #29132
Sure (We already have meaningful tags, e.g. etcd:2.2.1 - I will still be following this convention).

[2016-07-19 06:17] jimmycuadra commented on #26909
Apologies for the noise. I figured out what the problem was. The common name in my client certificate was not "jimmy"—it had a prefix on the name from the PKI tooling I'm using. I corrected the tooling and regenerated my certificate and now it works.

Perhaps the only takeaway for a possible UX improvement on the Kubernetes side is that this would have been immediately obvious to me if the name of

[2016-07-19 06:27] zefciu commented on #28969
The solution is to use annotations, that sent by CNI would make calico either use dynamic or static IPs. I don't know how can we solve the static IP logic in k8s itself if its outsourcing all the job of setting up network interfaces to plugins.

[2016-07-19 06:32] zefciu commented on #23828
I am running on a ubuntu machine with ./hack/local-up-cluster.sh
These are all the events:
[code]

[2016-07-19 06:50] Random-Liu commented on #29166
/cc @saad-ali

[2016-07-19 07:03] #28981 closed

[2016-07-19 07:04] saad-ali commented on #29166
@nambrot Can you verify you are running on v1.3.

If so, after the GKE node that the PD is attached to goes down, how long do you wait for automatic detach?

The automatic volume detach process does not kick in until kubernetes marks the node as down (5 min 40 sec), once this happens and the original pod is deleted then the attach/detach controller waits 6 minutes to ensure the node is not back be

[2016-07-19 07:09] jimmycuadra commented on #25379
I just had to go through this process more or less manually, and learned that restarting the kubelet does *not* restart any k8s master components that were launched by static manifests the kubelet is observing. In order to get kube-apiserver to restart and pickup the new TLS credentials, I had to move the kube-apiserver manifest out of the directory kubelet was watching, restart kubelet, then move

[2016-07-19 07:17] mpj commented on #24669
A proper writeup of this would be grand. Setting up an ingress with an SSL certificate has been one of the most difficult things I've ever done, and it was JUST because of lack of a good example.

[2016-07-19 07:21] bprashanth commented on #24669
@mpj did you try: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/gce#redirecting-http-to-https by any chance? please recommend how/where you landed and what tripped you

[2016-07-19 07:33] gudeyang1 opened #29174 "will the users get two versions of the pod during the rolling update ?"
if an application have 100 pods ,and i want to update the image from v1 to v2 ,so during the rolling update ,kubernetes will scale the v2 image from 0 to 100 ,and sacle v1 image for 100 to 0 , just during the rolling update period ,some users access the pods ,will the users get two versions ?

[2016-07-19 07:34] #28857 closed

[2016-07-19 07:51] #28063 closed

[2016-07-19 08:08] feiskyer commented on #29029
+1

[2016-07-19 08:20] jeffchanjunwei commented on #27497
@xynova , I add '--kube-master-url=master_node_ip' as the args section of skydns-rc.yaml.base file. but it doesn't work. Is there any wrong?

[2016-07-19 08:30] lukaszo commented on #22205
Ups, I'm not sure if it should be closed.  anti-affinity is still not supported.
cc @bgrant0607

[2016-07-19 08:36] ascheman opened #29176 "kubernetes local via docker dns/dashboard problems"
I tried to set up kubernetes locally via Docker according to http://kubernetes.io/docs/getting-started-guides/docker/

I ran into the following problems:

1. kubedns was not running (only 2 of the three containers in the DNS pod were coming up)
1. Dashboard was not running

## kubedns problem

The kubedns container in the kubedns pod wrote the following logs
[code]

and it was repeatedly restarted

[2016-07-19 08:37] ApsOps commented on #19825
I'm facing the same issue here. `Kube: v1.3.0` `docker: 1.10.3`. The upstream @therc mentioned has been fixed, so I thought this shouldn't happen :/

[code]

Could this be the case when kubelet killed the pod for some reason?

[2016-07-19 08:38] jimmycuadra opened #29177 "Document how RBAC interacts with kube-system components"
In getting my cluster set up with RBAC, I discovered that Kubernetes system components need to be explicitly allowed to access the API just like any other client. I had to add a ClusterRole and ClusterRoleBinding for the kubelet (i.e. the common name in the k8s nodes' client certificate.) Without them, the nodes could not register themselves and begin handling work.

It's also not clear how RBAC a

[2016-07-19 08:39] so0k commented on #13313
I'm also hitting this issue, on Kubernetes 1.3 - just used the `kube-up.sh` to create  cluster on AWS with `KUBE_ENABLE_NODE_LOGGING=true` and `KUBE_LOGGING_DESTINATION=elasticsearch`

@1gnition - currently `kube-up.sh` deploys fluentd agent on each node [by dropping the yaml definition under `/etc/kubernetes/manifests/`](https://github.com/kubernetes/kubernetes/tree/v1.3.2/cluster/saltbase/salt/f

[2016-07-19 08:41] davidopp commented on #28497
cc/ @matchstick @thockin

[2016-07-19 08:51] AdoHe commented on #29165
[code]
This output looks quite strategy.

[2016-07-19 08:57] lukaszo opened #29178 "Make NodeSpec.unschedulable a Taint"
This is a fork from this [comment](https://github.com/kubernetes/kubernetes/pull/18263#issuecomment-169220144) NodeSpec.unschedulable was introduced before Taints/Tolerations. Now it's time to deprecate it.

Here are work items from @bgrant0607:
- we should "deprecate" the existing NodeSpec.unschedulable field and represent that as a taint
- we should automatically apply taints for node conditions

[2016-07-19 08:57] lukaszo commented on #29178
I have two questions here:
1. Is it required to be a backward compatible? User can manually change node state using kubectl: `kubectl patch nodes kubernetes-node-1 -p '{"spec": {"unschedulable": true}}'` After moving to a Taint this will not work.
2. Does this change require a spec or this issue is enough? For example what should be the taint Key here? Are there some well defined prefixes for syst

[2016-07-19 08:58] 1gnition commented on #13313
@so0k

Thanks for the info. I did not find the yamls at `/etc/kubernetes/manifests/...`. In the end we just created a new cluster with `KUBE_ENABLE_NODE_LOGGING=false` and created out own Fluentd yamls as a daemon set, and added a volume mount for `/mnt/ephemeral/docker` ourselves.

This issue is really nasty, I hope a fix will arrive soon

[2016-07-19 09:02] xynova commented on #27497
@jeffchanjunwei, I had to go for the kubecfg-file approach because I was using ssl. I also had to mount some volumes to allow the CA to be picked up by the kube-config file.

https://github.com/xynova/kubernetes-on-coreos/blob/master/ansible/roles/kube-master-extras/templates/dns-rc.yml.j2#L60

https://github.com/xynova/kubernetes-on-coreos/blob/master/ansible/roles/pre-kube/templates/cluster-kube

[2016-07-19 09:02] so0k commented on #13313
agreed, better not to enable node_logging and manually deploy the logging as daemon sets - `kube-up` is being deprecated, but the alternatives (kops?) don't seem to be there yet..

[2016-07-19 09:08] #25807 closed

[2016-07-19 09:13] wu8685 commented on #27454
I have send a [PR](https://github.com/spf13/pflag/pull/82) to fix the issue I mentioned before in pflag.
Then we can go on to fix this one.

[2016-07-19 09:19] #29078 closed

[2016-07-19 09:23] mwielgus commented on #29007
This is P0. Any updates?

[2016-07-19 09:24] mwielgus commented on #29007
cc: @dchen1107 @vishh @davidopp

[2016-07-19 09:31] luxas commented on #29121
Yes, that's horrible.
Seems that the old docker-multinode stuff that was written years ago by Brendan was copied over to kubernetes.github.io.
I removed it from the main repo, 'cause it was outdated, refactored it and made it working in kube-deploy.

I made a PR against kubernetes.github.io now: https://github.com/kubernetes/kubernetes.github.io/pull/876, in order to clean it up.

Thanks for the i

[2016-07-19 09:33] luxas commented on #29132
I can update the image in  `cluster/images/etcd`, just ping me with the version you want.

[2016-07-19 09:35] Zapadlo commented on #12533
Btw @yifan-gu I've switched to the alpha on my master where I don't see that issue for now.

[2016-07-19 09:36] luxas commented on #28960
cc @luxas

[2016-07-19 09:41] luxas commented on #23233
cc @kubernetes/sig-cluster-lifecycle ^

[2016-07-19 09:42] luxas commented on #28138
cc @luxas

Is this issue for v1.4?

[2016-07-19 10:05] vvbogdanov87 commented on #28727
I had the same error.
Run kube-down.sh to clean up you AWS from previous installation of kubernetes and then rerun kube-up.sh.
This works for me.

[2016-07-19 10:18] bharaththiruveedula commented on #28007
I want to work on this issue, can anyone assign this to me?

[2016-07-19 10:26] #29098 closed

[2016-07-19 11:22] devonbarrett commented on #13892
Similar use case with Meteor+websockets, would be super useful to have this.

@justinsb can't see anything in the examples directory, did anything happen with that?

[2016-07-19 11:27] bryk commented on #28007
@bharaththiruveedula I guess you can work on this without assigning the issue. Just claim it and provide your plan.

[2016-07-19 11:28] wojtek-t opened #29189 "Services should be able to change the type and ports of a service [Slow] times out in 2000-node clusters"
Example failure:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gke-large-cluster/58/consoleText

I started looking into it and it may be because too short timeouts.

I'm going to extend logging a bit to get some confirmation.

@zmerlynn @gmarek

[2016-07-19 11:35] wojtek-t commented on #29189
My feeling is that it may be related to forwarding rules.
In particular some logs from that run are:
[code]

@fgrzadkowski

[2016-07-19 11:35] #28879 closed

[2016-07-19 11:35] wojtek-t commented on #29189
The time differences are what is interesting in those logs

[2016-07-19 11:35] pskrzyns opened #29190 "SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] - should run limited number of pods"
When running this test number of pods is calculated basing on cpu capabilities.
Pods cpu limit should be generated in tests so i.e. 10 pods per node is spawned, currently its hardcoded(500)
At this moment when runned on bare metal in my case this tests spawns 100 pods per node which hits current kubernetes performance limitations

[2016-07-19 11:44] pskrzyns commented on #29190
cc @kubernetes/sig-testing

[2016-07-19 11:46] ssharifi02 commented on #15839
so when i got the tls oversized issue i did try many things such as increasing the disk size, but at the end i did use the $docker-machine regenerate-certs default. and it worked this time

[2016-07-19 11:54] hach-que opened #29192 "Directly connecting a container to an external IP for UDP connections"
I have a service which receives UDP packets from clients.  It's essential to the operation of this service that it's able to read the IPv4 address and port that the packet is coming from (essentially this service exists for NAT punchthrough in games).

The `LoadBalancer` option in Kubernetes doesn't work because the Google Cloud Load Balancer rewrites the source address, and apparently `NodePort`

[2016-07-19 11:55] liubog2008 opened #29193 "Pod created by DamonSet is always in running phase"
When a node is not ready, the pod created by daemonset is still in running phase which is in this node.

![image](https://cloud.githubusercontent.com/assets/7920667/16948936/3a54fe20-4dea-11e6-893c-b2cdc3059a09.png)
![image](https://cloud.githubusercontent.com/assets/7920667/16948939/45bfcbe6-4dea-11e6-856e-e7c5180d0230.png)
![image](https://cloud.githubusercontent.com/assets/7920667/16948950/59cf

[2016-07-19 12:08] jszczepkowski commented on #19144
@arjenvanderende
HPA is failing because some pod metrics are missing. Are you sure that all 25 pods are running? In future releases #29125 will be helpful.

[2016-07-19 12:08] #29107 closed

[2016-07-19 12:37] lukaszo commented on #29193
This is expected behavior. See description in documentation http://kubernetes.io/docs/admin/daemons/#how-daemon-pods-are-scheduled

[2016-07-19 12:40] cyphar commented on #24036
I'm very interested in working on this, I would want to do this all without needing `containerd` personally -- IMO you don't need containerd to deal with containers.

[2016-07-19 12:59] wojtek-t commented on #28537
This has just happened in 100-node cluster.

[2016-07-19 13:12] k8s-merge-robot opened #29197 "[k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11510/

Failed: [k8s.io] Deployment RecreateDeployment should delete old pods and create new ones {Kubernetes e2e suite}

[code]

[2016-07-19 13:22] runcom commented on #24036
/cc @mrunalp

[2016-07-19 13:32] erikstmartin commented on #28312
I have an additional use case:

When `CONFIG_RT_GROUP_SCHED` is enabled in the kernel it requires `cpu.rt_runtime_us` to be given to each container's cgroup. I have a PR with docker to add support to set the container runtime when it's created https://github.com/docker/docker/pull/23430. This will require updates to the scheduler.

From a generic perspective the amount of runtime can be retrieved

[2016-07-19 13:38] nambrot commented on #29166
Thank you for your quick response. I'm waiting indeed way beyond hours (since its just my personal website). I would find such downtime unacceptable for any production workload however.

I have also tried re-attaching disks from a couple days ago, and those don't work either. According to the `gcloud compute disk describe` the disks seems unused.

[2016-07-19 13:38] nambrot commented on #29166
I updated to 1.3 a couple days ago

[2016-07-19 13:40] wojtek-t commented on #29189
I'm 90% sure that we are simply not able to create or update forwarding rule in those 20 minutes for such large clusters, but the logs that I added, should confirm this hypothesis.

If that would be the case, I will increase the timeout for load balancer creation in this test to be dependent on the number of nodes.

[2016-07-19 13:43] TimothyKlim commented on #29166
The same issue after upgrading to 1.3.0.

[2016-07-19 13:46] Quentin-M commented on #28962
+1

[2016-07-19 13:47] Quentin-M commented on #29166
https://github.com/kubernetes/kubernetes/issues/28962

[2016-07-19 13:53] Quentin-M commented on #29166
Without even talking about dying nodes, it happens to me on bare-metal when deploying pods. It is always related to the default-tokens.

[code]

[2016-07-19 14:04] rdgacarvalho commented on #18190
please execute the follow commands and share.

sudo systemctl status etcd2
sudo systemctl status flanneld (if you are using)
sudo systemctl status kubelet
etcdctl member list
etcdctl cluster-health

worker nodes
sudo systemctl status calico-nodes
sudo systemctl status kubelet
sudo systemctl status etcd2
sudo systemctl status flanneld (if you are using)
etcdctl member list
etcdctl cluster-health

L

[2016-07-19 14:16] JorritSalverda opened #29198 "Failed to negotiate api version after upgrading to 1.3.0 with non-default username"
I upgraded the master version of 2 GKE clusters from 1.2.4 to 1.3.0.

Unfortunately  kubectl no longer wants to connect and gives the following error

[code]

The apis also no longer work when connecting to them directly, they return messages like

[code]

The issue seems to be related to a non-default username - k8s_admin instead of admin - because all my other clusters with default name didn't h

[2016-07-19 14:17] jacobgmathew opened #29199 "kubectl apply -f of a DaemonSet with an updated container image does not update the pods of the DaemonSet"
I have a DaemonSet configured as follows:

`daemonset.yaml`
[code]

When I run `kubectl apply -f daemonset.yaml` i can see the pods running on each node.

But if I change the image to `gcr.io/bug-project/testcontainer:tag1` and then run `kubectl apply -f daemonset.yaml` again, the pods are never updated with the new container image.

[2016-07-19 14:21] timothysc commented on #29132
Latest tag is https://github.com/coreos/etcd/tree/v3.0.3 .  I would consult @xiang90 on best release to target.

[2016-07-19 14:25] wojtek-t commented on #28537
@kubernetes/sig-api-machinery

[2016-07-19 14:37] lukaszo commented on #29199
It's missing feature. It's on the roadmap. For more details see here #22543 and here #15310.

I think you can close it as a duplicate of #22543

[2016-07-19 14:42] orenye commented on #29121
Great, thanks!
I followed the new page,  I had to update etcd ports in common.sh from 4001 to 2379 and it seem to work.

But now I'm trying to test if DNS works using the suggested link [https://releases.k8s.io/release-1.2/cluster/addons/dns#how-do-i-test-if-it-is-working](url) but it fails with:
` 47 golf ~/kuber-test > kubectl create -f busybox.yaml`
`The connection to the server localhost:8080

[2016-07-19 14:54] JorritSalverda opened #29202 "Deploying with recreate strategy fails to move a mounted PD to new pod on GKE"
I'm running a single pod application with strategy Recreate, because it uses mounted PDs which can only be attached to a single pod at a time.

When I first deploy the application mounting the PDs works fine, but when deploying it again with command `cat ./kubernetes.yaml | envsubst | kubectl apply -f -` I get the following error:

[code]

The manifest for the deployment looks as follows:

[code]

[2016-07-19 15:03] atombender commented on #29165
Quite!

[2016-07-19 15:04] antbreton opened #29203 "PreStop NOT WORKING"
I am trying the "preStop hook on container" feature and it doesn't work. It would be very useful for me. I see on an old issue (#7091) that in 2015 it wasn't implemented. Is it still the case ?

If you want to see the context you can check this link :
http://stackoverflow.com/questions/38310976/openshift-v3-issue-with-prestop-container-hook-with-a-basical-example

[2016-07-19 15:08] JorritSalverda commented on #29202
The same issue also occurs when upgrading the version of the nodes in a cluster.

[2016-07-19 15:30] #29199 closed

[2016-07-19 15:36] aristidesfl opened #29206 "kubectl set image deployment not able to --record history"
According to the user guide it should be possible to [update a deployment's image](http://kubernetes.io/docs/user-guide/deployments/#updating-a-deployment) with `kubectl set/edit` and still get a meaningful [history](http://kubernetes.io/docs/user-guide/deployments/#checking-rollout-history-of-a-deployment).

However i'm getting some errors instead, and no meaningful history, could this be a bug?

[2016-07-19 15:42] yujuhong commented on #29161
Assigned to @euank since he already has a PR up.

[2016-07-19 15:45] liubog2008 commented on #29193
I'm sorry that I cannot understand what you means... I think if node is not ready, pod phase should jump to Pending or another phase. This issue is not related to NodeSepc.unschedulable.

[2016-07-19 15:57] apelisse commented on #29174
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-19 15:57] #29174 closed

[2016-07-19 15:57] apelisse commented on #29192
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-19 15:57] #29192 closed

[2016-07-19 15:58] matchstick commented on #28497
So my current belief is that we are going to address this in 1.4 I believe this may be a duplicate of #28648.

[2016-07-19 16:01] apelisse commented on #29176
cc @erictune

[2016-07-19 16:03] matchstick commented on #29007
@yujuhong

[2016-07-19 16:06] timothysc commented on #28537
k, I'll look into the test iteself soon.

[2016-07-19 16:11] apelisse commented on #29206
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-19 16:11] #29206 closed

[2016-07-19 16:11] yujuhong commented on #29007
@mwielgus, how often does this happen and what's your cluster setup (e.g., docker version, os distro, cloud provider, etc)?
Could you share the kubelet.log?

[2016-07-19 16:13] apelisse commented on #29203
Thank you for posting your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly se

[2016-07-19 16:13] #29203 closed

[2016-07-19 16:33] ConnorDoyle commented on #28312
cc/ @nqn

[2016-07-19 16:39] bboreham opened #29211 "e2e_node tests leak kube-apiserver processes"
The code in #26735 doesn't work for me: `sudo` does not pass on SIGTERM when the caller is in the same process group.

Then the `kill -KILL` knocks out the `sudo` process without giving it a chance to kill its child.

The `Pdeathsig` bit doesn't help: either the `sudo` process has already been killed as above, or it gets killed now with SIGKILL; either way the `kube-apiserver` process is still run

[2016-07-19 16:41] chrislovecnm commented on #23828
Did you create the volumes?

[2016-07-19 16:49] euank opened #29213 "kube-up gce/coreos for recent CoreOS results in a cluster without port-forward working"
ref #19765 and https://github.com/coreos/bugs/issues/1114

CoreOS intentionally does not provide a socat command on the host. The recommended way of running kubelet is to use the `kubelet-wrapper` script which correctly bundles dependencies like socat.

The `kube-up` using gce+CoreOS should result in a working cluster. The possible resolutions to this are:
1. `kube-up` uses `kubelet-wrapper` inter

[2016-07-19 16:51] jeffmendoza commented on #21817
I think examples which are educational should be moved to kubernetes/kubernetes.github.io and surfaced as a section of the docs on the website.

Examples that are "blueprints" should be moved to a separate existing or new repo.

Example .yaml files that are used in existing kubernetes tests should be saved in this repo and moved to a test artifacts directory.

[2016-07-19 16:52] smarterclayton commented on #28873
I think invalid JSON error from the patch parsing code (in rest handler) needs to explicitly set an error type, probably BadRequest, with a message that is appropriate (that's probably getPatchedJS, which needs to return correctly typed errors)

[2016-07-19 17:11] atombender commented on #29165
Doesn't look like it's related to `hostNetwork`. I just experienced it with another pod. Turns out it's listening just fine... except on IPv6. Here's `netstat` in a sidecar container:

[code]

Presumably this is a weird Docker issue.

[2016-07-19 17:14] yujuhong commented on #29193
@davidopp I think there are a couple of issues all related to how pod status should reflect the fact that the node is NotReady/Deleted/Unresponsive. Should we consolidate all the issues and discuss this in one place?

[2016-07-19 17:17] timstclair commented on #29007
We've seen this before, and Kubernetes 1.3 includes a partial fix: https://github.com/kubernetes/kubernetes/pull/25933

I'm not sure if we ever uncovered the underlying issue, but I'm digging into it now.

[2016-07-19 17:17] girishkalele commented on #28497
@crunchie84

The current short term proposal is to simply scale the number of DNS pods by size of the cluster (disregarding whether they are 1 vCPU or 32 vCPU instances) but it is a start.

I have done some dns benchmarking to measure max QPS supported by a dns pod, so long term, we plan a load sensitive feedback loop to scale more precisely than the proposal above.

[2016-07-19 17:17] apelisse commented on #29176
cc @brendandburns Not sure who is supporting this now?

[2016-07-19 17:18] mwielgus commented on #29007
This issue was discovered on a client GKE cluster during a hangout debugging session. We asked for kubelet.log but AFAIK it has not been provided yet. We also asked them about the docker version and it was relatively old - something along 1.9 but unfortunately I didn't write it down and can be wrong - definitely not the current one.  I don't know the os version. I will add you to Google internal t

[2016-07-19 17:22] yujuhong commented on #29007
@mwielgus if it's GKE, the node should be running on the containerVM image with docker 1.9. Let's continue the discussion in the internal thread and see if we can uncover more information. Thanks!

[2016-07-19 17:25] vishh commented on #12533
IIUC, the issue here seems to be a transient service. I feel that cAdvisor
is WAI. We can may be lower the logging level since it doesn't affect
functionality.

On Tue, Jul 19, 2016 at 2:35 AM, George Angel <notifications@github.com>
wrote:

[2016-07-19 17:27] brendandburns commented on #29176
I think these instructions are largely deprecated in favor of minikube:

https://github.com/kubernetes/minikube

[2016-07-19 17:31] MikeSpreitzer commented on #28789
@thockin are you talking about chaining where my added functionality is in a daemon of mine that, in turn, invokes the regular daemon?  If so, is there a big difference between chaining through a UNIX socket vs. chaining through a TCP socket?

[2016-07-19 17:35] thockin commented on #28789
Not really.  UNIX seems saner overall, wrt simple auth.

On Jul 19, 2016 10:32 AM, "Mike Spreitzer" <notifications@github.com> wrote:

[2016-07-19 17:41] #29004 closed

[2016-07-19 17:45] atombender commented on #29165
Edit: Ignore that, different problem this time. However — the fact that stuff is listening on IPv6 seems very odd to me.

[2016-07-19 17:49] atombender commented on #29165
That last `netstat` output may just be a case of [IPv6-mapped IPv4-addresses](https://blog.codecentric.de/en/2014/04/note-netstat/). Doesn't explain my original problem, though. Sorry for muddying the waters.

[2016-07-19 17:52] bgrant0607 commented on #11492
Ref #23896, #25293, #25622

[2016-07-19 17:53] atombender commented on #29165
Might be [this nearly 3-year-old Docker issue](https://github.com/docker/docker/issues/2174).

[2016-07-19 17:53] bgrant0607 commented on #11492
And: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/templates.md

[2016-07-19 17:55] chrislovecnm commented on #21817
we have kubernetes/charts in the works as well...  Who can may a preliminary call??

[2016-07-19 18:00] bgrant0607 commented on #11492
Closing this issue in favor of #23896, which is the direction we've decided to go.

[2016-07-19 18:00] #11492 closed

[2016-07-19 18:01] bgrant0607 commented on #23896
ref #25293, #25622

[2016-07-19 18:12] timothysc commented on #27154
/cc @richm @sosiouxme

[2016-07-19 18:18] Salakar opened #29218 "Node labels disappear after upgrade to 1.3.2 - breaks deployments using nodeSelector"
---

**Provider:** GCP
**Previous Version:** 1.2.4
**Current Version:** 1.3.2
**Region:** europe-*

---

After upgrading the default node pool via the GCP cloud console UI all the nodes in the pool lost their custom labels I had added previously, this subsequently broke all my deployments after the upgrade, bringing everything down 😭

Had to go through all my nodes and re-label them and re-deploy

[2016-07-19 18:21] luxas commented on #29121
Nothing should listen on worker hosts, it's assumed you set `KUBERNETES_MASTER=http://{master-ip}:8080` or run the command on the master.
This is the case for whichever deployment you have, kubectl must know how to talk to the apiserver.

You may also see the help text for `kubectl config`

[2016-07-19 18:21] screeley44 commented on #27788
@dchen1107 - I see this is closed but is it completely fixed?  I seem to be still be getting this error as referenced below in my PR and not sure why (but in full disclosuer, I'm not quite up to speed on how exactly these flakes work and associated processes)

[code]

[2016-07-19 18:22] saad-ali commented on #28962
@Zapadlo Take a look at the `/var/log/kube-controller-manager.log` on your master for events related to your volume `prometheus`. That will show you when the volume was attached/detached. It appears that your volume attached without issue so there should be nothing unusual here.

Then take a look at `/var/log/kubelet.go` on the node that the volume is supposed to be attached to. Looks for the UID

[2016-07-19 18:29] saad-ali commented on #29166
@Quentin-M Looks like you are running into a different issue (likely https://github.com/kubernetes/kubernetes/issues/28750). Please follow up on that issue.

@nambrot Are you referencing the GCE PD directly or through a PVC/PV?

Is this something that you have been able to repro?

[2016-07-19 18:30] uruddarraju commented on #29002
@lavalamp @duglin It is not synchronous. It is picked up by the thirdparty controller. It can take a little while.

[2016-07-19 18:32] duglin commented on #29002
@uruddarraju is something that can be changed or does it need to be this way?

[2016-07-19 18:34] Random-Liu commented on #27788
@screeley44 Looks like the test failed again on that PR. And this test is good for the other PRs.

[2016-07-19 18:39] uruddarraju commented on #29002
@duglin That would take a lot more effort I'd say. Cannot comment about the feasibility, as I have not looked into that option yet.

[2016-07-19 18:52] nambrot commented on #29166
I'm referencing it through a PVC/PV similarly to
https://blog.oestrich.org/2015/08/running-postgres-inside-kubernetes/

It's been happening very arbitrary, so no concrete repro steps yet

On Tue, Jul 19, 2016 at 2:30 PM, Saad Ali <notifications@github.com> wrote:

[2016-07-19 18:56] bgrant0607 commented on #13241
@danielqsj @deads2k

kubectl and its ecosystem have evolved since this issue was originally filed.

History:
#14993, #13606, #11492
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/templates.md
http://queue.acm.org/detail.cfm?id=2898444
https://github.com/kubernetes/helm

kubectl takes input from stdin and HTTP as well as from files. We only use file extensions to determine whic

[2016-07-19 18:59] dhawal55 commented on #28643
@justinsb I think i found the root cause for the error. When the kubelet (on worker node) creates the volume manager, it passes the hostName to it instead of the nodeName [https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L525]. The Volume manager when attempting to mount the volume, calls the API server to lookup the node (using hostName instead of nodeName) to verify th

[2016-07-19 19:06] pwittrock commented on #29198
@lavalamp Does this look like it might be related to CSI or auth?

[2016-07-19 19:07] pwittrock commented on #29198
cc @erictune for potential auth issue

[2016-07-19 19:34] k8s-merge-robot opened #29221 "[k8s.io] Secrets should be consumable from pods in volume [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28701/kubernetes-pull-build-test-e2e-gce/49653/

Failed: [k8s.io] Secrets should be consumable from pods in volume [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #28701.

[2016-07-19 19:44] k8s-merge-robot opened #29222 "kubernetes-pull-build-test-e2e-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27911/kubernetes-pull-build-test-e2e-gce/49655/

Multiple broken tests:

Failed: [k8s.io] Downward API should provide default limits.cpu/memory from node capacity {Kubernetes e2e suite}

[code]
Issues about this test specifically: #28065

Failed: [k8s.io] Port forwarding [k8s.io] With a server that expects a client request sh

[2016-07-19 19:45] vishh commented on #13313
cc @matchstick

[2016-07-19 19:46] runseb commented on #28929
maybe @pwittrock has a clue ;)

[2016-07-19 20:09] davidopp commented on #29193
Yeah, this is Working As Intended but I agree with @yujuhong that it's confusing to say the pod is "running." At least we should document it. @yujuhong, I'm not sure which other issues you have in mind, but please feel free to consolidate them.

[2016-07-19 20:26] erictune commented on #29198
@cjcullen for GKE auth issue.

[2016-07-19 20:27] vishh commented on #29033
Will the `--force` option be restricted to privileged users? The `--force` option should not be used ideally unless a node stops responding for a while.

I'm not sure if we should go with this hack. What is the issue with having kubelet delete all pod objects, even ones with g(0)? As long as we provide either a controller or humans an interface to explicitly delete pod objects from the apiserver,

[2016-07-19 20:28] vishh commented on #29033
BTW another use case for this feature is to help with testing. As of now it is not easy to test kubelet cleanup logic.

[2016-07-19 20:29] timstclair commented on #29007
Digging into this more, if any of the subsystems in the libcontainer cgroup manager fail to collect stats, then stats collection is aborted for the container. Without looking at the logs I can't say which system is failing, but my guess is that something is causing collection to fail on that container. Previously cAdvisor was not robust to these types of failures, but the latest version included i

[2016-07-19 20:30] k8s-merge-robot opened #29224 "[k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29119/kubernetes-pull-build-test-e2e-gce/49667/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0644,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29119.

[2016-07-19 20:30] k8s-merge-robot opened #29225 "[k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13091/

Failed: [k8s.io] [Feature:Example] [k8s.io] Storm should create and stop Zookeeper, Nimbus and Storm worker servers {Kubernetes e2e suite}

[code]

[2016-07-19 20:31] smarterclayton commented on #29033
I want to be clear - kubelet does own the responsibility for deleting pod
objects today, except in one special case.  I don't think we're going to
remove that special case, so it's really just about communicating /
restricting it.

I don't think we need to make --force privileged, but I don't see any
reason not to clearly separate it for users from the other setups.

On Tue, Jul 19, 2016 at 4:27 P

[2016-07-19 20:32] cjcullen commented on #29198
This is a bug in our abac file: See #28869.

[2016-07-19 20:32] matchstick commented on #29007
@yujuhong @mwielgus This does not feel like a P0 to me, can we move it to P2 if we decide to not close it?

[2016-07-19 20:33] cjcullen commented on #29198
I've got a PR out to fix it: #29164

[2016-07-19 20:39] saad-ali commented on #29166
Did you delete the PV/PVC objects before the volume is detached?

[2016-07-19 20:42] nambrot commented on #29166
I tried to both wait for hours, as well as create and re-create the PV/PVC
on different occasions

On Tue, Jul 19, 2016 at 4:39 PM, Saad Ali <notifications@github.com> wrote:

[2016-07-19 20:46] ivan4th commented on #25106
@AdoHe The behaviour described in this issue is caused by [this line](https://github.com/kubernetes/kubernetes/blob/700fbd0543e38c610c124ae55e49039b2b34cca9/test/e2e/kubectl.go#L1316) in an e2e test. That's why I was unable to reproduce the problem at first (I tried to use `kubectl apply` on some yaml files). There's also another ["trojan" line](https://github.com/kubernetes/kubernetes/blob/ef0c9f

[2016-07-19 20:48] spxtr commented on #29224
@lavalamp I don't know how to respond to this. A volume test flaked in a PR that touches the volume manager logic. The test hasn't flaked at all on master branch for [a long time](https://k8s-testgrid.appspot.com/google-gce#gce&include-filter-by-regex=EmptyDir).

It seems like the proper thing to do is to block the PR and close this issue.

[2016-07-19 20:48] mikekap commented on #28643
On a sort-of related note, I noticed that `volumeManager` is initialized twice:
 - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L409
 - https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L517

That doesn't look intentional, though I'm not very familiar with the code.

[2016-07-19 20:49] saad-ali commented on #29166
There is a bug https://github.com/kubernetes/kubernetes/issues/29051 that will prevent a volume from being detached if the PV/PVC objects are deleted before the pod that is referencing them. I wonder if you ran in to that.

[2016-07-19 20:52] nambrot commented on #29166
Is there any diagnosis steps I can do to investigate that? I'm confident
that I'm not deleting the objects prior to the detach timeout however

On Tue, Jul 19, 2016 at 4:50 PM, Saad Ali <notifications@github.com> wrote:

[2016-07-19 20:53] bgrant0607 commented on #22205
@lukaszo Could you please file a more specific issue for pod anti-affinity (assuming that's the only missing feature)? Once it exists, we can close this one.

[2016-07-19 20:57] mwielgus commented on #29007
For me a customer calling GKE support because an important K8S feature (HPA) is not working at all due to this bug is an indication of a P0 issue.

The main problem is not that some stack trace is written to some log but that no metrics are available for a running pod causing various hard to debug disruptions across the system (HPA, dashboards, metrics store, upcoming kubectl top, any usage base s

[2016-07-19 20:58] pwittrock commented on #29198
Closing as a dup

[2016-07-19 20:58] #29198 closed

[2016-07-19 21:00] janetkuo commented on #26834
It's likely due to clock skew.

The controller manager uses master's clock (`time.Now()`) to determine if the pod is available (now > `LastTransitionTime` + `minReadySeconds`) and the pod's `LastTransitionTime` comes from its node. E2e test is using another clock (Jenkin's) (`time.Now()`) to check if the pod is available.

Will add a log to verify this.

[2016-07-19 21:01] euank commented on #12533
Unless there's any evidence of more impact than error-level logs, I think we can remove the P1 prioritization and resolve this via reducing loglevel there or applying better heuristics about whether we care about a given cgroup.

[2016-07-19 21:01] pwittrock commented on #29198
@JorritSalverda Thanks for reporting.  We will publish steps to work around this until it is resolved for anyone else who encounters it.

[2016-07-19 21:02] timothysc commented on #29132
@luxas I think 3.0.3 is fine and we can re-update as needed.

[2016-07-19 21:03] cjcullen commented on #29198
To workaround until it is fixed, you can add a line to the master's abac-authz-policy.jsonl file:
[code]

 and then restart the kube-apiserver (docker kill it, and let it restart).

[2016-07-19 21:03] cjcullen commented on #28869
To workaround until it is fixed, you can add a line to the master's abac-authz-policy.jsonl file:
[code]

 and then restart the kube-apiserver (docker kill it, and let it restart).

[2016-07-19 21:04] pwittrock commented on #28175
@mikedanese Is this related to cluster setup.  Do you know who is the best person to handle it?

[2016-07-19 21:06] k8s-merge-robot opened #29227 "[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11533/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26209

[2016-07-19 21:08] xiang90 commented on #29132
@timothysc Yes. etcd 3.0.3 is fine.

[2016-07-19 21:09] kwilliams057 commented on #28175
This issue can be closed. It started working with v1.3.0

Thanks

[2016-07-19 21:17] janetkuo opened #29229 "Master/node clock skew will affect deployment's pod availability check"
Found this in: https://github.com/kubernetes/kubernetes/issues/26834#issuecomment-233764007

When a deployment controller checks [if a pod is available](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/util/deployment_util.go#L616-L636), it compares master's time (`time.Now()`) against node's time (`pod.Status.Conditions[].LastTransitionTime` + `deployment.spec.minRea

[2016-07-19 21:20] mikedanese commented on #18174
@justinsb good find. @kelseyhightower does this satisfy your simple case?

[2016-07-19 21:23] k8s-merge-robot opened #29231 "[k8s.io] hostPath should support subPath [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27520/kubernetes-pull-build-test-e2e-gce/49674/

Failed: [k8s.io] hostPath should support subPath [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #27520.

[2016-07-19 21:26] mikedanese commented on #28175
I think your kubeconfig probably needed the ca.crt data

[2016-07-19 21:26] #28175 closed

[2016-07-19 21:29] mikedanese commented on #28175
e.g. if your are using client tls for auth, this is pseudo code for what a kubeconfig needs to look like
[code]

[2016-07-19 21:29] sosiouxme commented on #27154
IMHO we want log lines decorated with consistent timestamps even if `kubectl logs` is not the mechanism for retrieving them - say, if fluentd reads in the logs and sends them off to ElasticSearch or Splunk; it would face the same problem of figuring out what time to associate each line with after the fact.

This conflicts with the idea of letting apps write arbitrary log formats in their logging v

[2016-07-19 21:38] janetkuo commented on #27524
Saw this `Couldn't delete ns` error in many other test flakes also.

[2016-07-19 21:44] mtaufen opened #29233 "Strange code duplication in NewMainKubelet function in pkg/kubelet/kubelet.go"
This block of code:
[code]

Appears twice in `NewMainKubelet`, in `pkg/kubelet/kubelet.go`. This seems wrong.
Most-likely, the duplicate before `switch containerRuntime` is the one that should be removed, because that switch statement is where `klet.containerRuntime` is set.

[2016-07-19 21:53] w0mbat commented on #29166
I also tried this one [here](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/mysql-cinder-pd/mysql.yaml) on Rackspace with a clean K8s 1.3 and also get the same error (of course I changed the volumeID) and also added the correct Rackspace credentials in the cloud-config

[2016-07-19 21:54] w0mbat commented on #28643
I also tried this one [here](https://github.com/kubernetes/kubernetes/blob/release-1.2/examples/mysql-cinder-pd/mysql.yaml) on Rackspace with a clean K8s 1.3 and also get the same error (of course I changed the volumeID) and also added the correct Rackspace credentials in the cloud-config

[2016-07-19 22:14] matchstick commented on #29007
@piosz @jszczepkowski @fgrzadkowski @yujuhong @mwielgus @timstclair

@mwielgus and I communicated offline.

The larger issue of what the customer needs is the P0 problem that has to be addressed. It is not captured well in this issue.

The more narrow focus in this issue of the fact the metrics is not being collected is addressed by Tim's comments.

We are not going to drop the customer issue and

[2016-07-19 22:53] justinsb commented on #28643
@mikekap I agree that doesn't look right - can you open a separate issue for it please (because I think we'll close this one soon!)

[2016-07-19 22:58] justinsb commented on #28643
@dhawal55 that is the fix, yes: https://github.com/kubernetes/kubernetes/pull/29048/files#diff-bf28da68f62a8df6e99e447c4351122dL507

If you want to do a PR with just that fix, please go ahead - it should get it faster & will be easier to cherry-pick.  If you CC me I can LGTM it.

[2016-07-19 23:14] mikekap opened #29239 "volumeManager is initialized twice in kubelet"
Offshoot of #28643: I noticed that volumeManager is initialized twice:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L409
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L517

I don't think that's intentional

[2016-07-19 23:52] dhawal55 commented on #28643
@justinsb I see that along with type changes, you have actually fixed `NewVolumeManager` initialization to pass nodeName. I tested the fix and it works. Here's the pull request: https://github.com/kubernetes/kubernetes/pull/29240

How do i merge this fix for v1.3.3-beta.0? I don't see a branch for 1.3.3.

[2016-07-19 23:53] lavalamp commented on #29002
Also note that if you're in a HA system, you may need to wait until it
shows up on all apiserver replicas before using it...

On Tue, Jul 19, 2016 at 11:40 AM, Uday Ruddarraju <notifications@github.com>
wrote:

[2016-07-20 00:06] AdoHe commented on #25106
@ivan4th thanks for detailed explanation.

[2016-07-20 00:09] lavalamp commented on #27920
@fejta can you investigate the "invalid_grant" in the soak cluster that's spamming this issue with occurances?

[2016-07-20 00:16] janetkuo commented on #26834
Added log in #29228

[2016-07-20 00:21] AdoHe commented on #29229
Real clocks or physical time are not perfectly accurate even time synchronization is on. Some kind of virtual time could be better.

[2016-07-20 00:25] Random-Liu commented on #29239
Ref https://github.com/kubernetes/kubernetes/issues/29233.

You guys found the same issue almost at the same time. :)

[2016-07-20 00:26] Random-Liu commented on #29239
Close this one, since dup to https://github.com/kubernetes/kubernetes/issues/29233.

And thanks a lot for reporting this. @mikekap

[2016-07-20 00:26] #29239 closed

[2016-07-20 00:26] bprashanth commented on #28718
Summoning @erictune for views on the "make distributed systems easier through petset and kube" agenda

[2016-07-20 00:26] alena1108 commented on #29148
Forgot to mention k8s version: 1.3

[2016-07-20 01:03] smarterclayton commented on #28718
I'm ok with the list in general.  I'd like to get to a point where we identify all the "common needs".  I'll update the proposal this week with the current state and this list, as well as other unresolved questions.

[2016-07-20 01:07] onlyjob opened #29243 "1.3.2: FTBFS: ".../google/clouddns/internal: use of internal package not allowed""
With Golang 1.6 I'm getting the following FTBFS when I try to build Kubernetes:

[code]

[2016-07-20 01:13] yujuhong opened #29244 "kubelet's RSS memory usage increased (?)"
See #28399 for various soak cluster failures where kubelet's memory usage exceeds the preset threshold.

I don't think there is a memory leak (as I've randomly checked the kubelet heap profile from the soak cluster a couple of times over last week), but I am not 100% sure. It may be that kubelet simply consumes more memory than before. Before jumping to conclusions, it'd be good to validate this.

[2016-07-20 01:35] justinsb commented on #28643
There's a 1.3 branch, once the PR is approved you can propose it for a cherry-pick: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/cherry-picks.md

Periodically (whenever there's something important enough on the 1.3 branch) a revision tag & release is made (i.e. 1.3.3)

[2016-07-20 01:53] eparis commented on #22448
$MOSTLY_USELESS_COMMENT

Does that mean maybe a good approach will be

- Stop all etcd clients (api-server, scheduler, et al)
- Add etcd3 member to cluster
- remove all etcd2 memebers
- Tell etcd3 member to upgrade all data to etcd3 (`etcd-migrate`)
- restart etcd clients

So it's the same as @wojtek-t but includes the `upgrade` component mentioned? Is that `upgrade` part hard?

[2016-07-20 01:59] portante commented on #27154
@philips, are we saying here that Kubelet has to modify the payload of a log line to add a timestamp?  Why can't we always provide the log line as a JSON record, "{ message: 'asdf', timestamp: YYYY.MM.DDTHH:mm:ss.SSSZ }"?

Maybe this is a naive question, but it seems like we have the opportunity to provide a reasonable behavior this way to accommodate various needs of consumers.

[2016-07-20 02:12] eparis commented on #27454
the only bug i'm seeing is that in pflag `Set` is (correctly) using `csv` but `stringSliceConv` is incorrectly not using `csv` to parse the `,`'s...   That is the bug which should be fixed...

[2016-07-20 02:21] #20971 closed

[2016-07-20 02:34] mfanjie opened #29247 "kubernetes build on master branch failed on osx"
make quick-release
Go version: go version go1.6.2 darwin/amd64
+++ [0720 10:21:36] Building the toolchain targets:
    k8s.io/kubernetes/hack/cmd/teststale
+++ [0720 10:21:37] Building go targets for darwin/amd64:
    cmd/libs/go2idl/deepcopy-gen
+++ [0720 10:21:40] Placing binaries
.....
+++ [0720 10:21:51] Verifying Prerequisites....
+++ [0720 10:21:57] Building Docker image kube-build:build-817

[2016-07-20 02:36] mfanjie commented on #29247
I believe recent changes in build/build-image/Dockerfile breaks it, the build for 1.3 release still works.
when I echo whoami in Dockerfile, it showed `whoami: cannot find name for user ID 110261235` but the owner of _out folder is root.

[2016-07-20 02:45] lparam opened #29248 "kube-down doesn't delete deployments"
The function 'tear_down_alive_resources' on cluster/common.sh doesn't delete deployments.
It's used by:
[code]
I want to submit a PR, how to sign a individual CLA?

[2016-07-20 03:04] ddysher commented on #29193
An unschedulable node doesn't necessarily mean pods on that nodes are not running; it's just new pods can't land on it.

With taints, pod (created from daemonset) is able to specify its tolerance; however, I don't think there is an essential difference between unschedulable node and node with taints where pod can't tolerate the taints. In current model, pod will show up as running in both cases.

[2016-07-20 03:04] feiskyer opened #29252 "Integrate Docker with new runtime interface"
This issue tracks the considerations of integrating Docker with new runtime interface. This is also one TODO of Milestone 3 in #28789.

- Docker will remain in the kubelet codebase.
- The `image.Image` may not have tag, so for docker we've to apply default tag ":latest" here, or else docker will pull all tags of the image.
- Potential issue for docker #16580.
- Docker version requirement, e.g. min

[2016-07-20 03:10] MHBauer commented on #29002
Is there a way we can tell if that has happened? It seems like we need some better way to check than "hit it until it works, and even then, maybe it does not".

[2016-07-20 03:11] Random-Liu commented on #29252
@feiskyer Thanks a lot! This would help us avoid losing some old fixes during refactoring.

[2016-07-20 03:23] jimmycuadra commented on #29177
Some progress on this:

I discovered that the default service account tokens were invalid because the private key for the master components had changed. I had to manually remove the default service accounts and let the system recreate them based on the new private key. This should really be handled better. (Ref #24928)

Now that the service account's token is itself valid, the errors in kube-dns's

[2016-07-20 03:29] jimmycuadra commented on #29177
cc @ericchiang

[2016-07-20 03:34] jimmycuadra commented on #29177
@apelisse This issue probably needs an area/auth label.

[2016-07-20 03:51] wu8685 commented on #27454
I think `csv` has correctly parsed the `,` and store flag value in `stringSliceValue.value` in correct form. But the `value` is incorrectly joined and split by `,`.
@eparis I have sent a PR to fix this bug. After that we can support `,` by `--from-literal="A,B"`
could you please take a look at this [PR](https://github.com/spf13/pflag/pull/82) ?

[2016-07-20 04:01] ericchiang commented on #29177
cc @kubernetes/sig-auth

Hey @jimmycuadra thanks for opening this issue.

Couple initial points:
* There's currently a pretty big bug in the handling of RBAC rules for service accounts that mixes "name" and "namespace". Please see #29071 and try

[code]

* These issues are general to authorization, not just RBAC. You'd see the same issues if you had similarly restrictive ABAC file.
* There could p

[2016-07-20 04:03] #28380 closed

[2016-07-20 04:04] ericchiang commented on #29177
Also note that you can generally find people in #sig-auth or #kubernetes-users channels in the [kubernetes slack](https://github.com/kubernetes/community/blob/master/README.md#slack-chat) who might be able to provide more real time feedback.

[2016-07-20 04:21] davidopp commented on #29193
@ddysher The scenario @liubog2008 described isn't an unschedulable node, it's a node that is NotReady, for example possibly down. Although PodStatus will have more specific Condition information, I can understand why people would be confused to see the pod's Phase is Running, at least without better documentation.

[2016-07-20 04:27] AdoHe opened #29255 "kube-scheduler can remove the healthz.DefaultHealthz()"
@davidopp IIUC, the [init](https://github.com/kubernetes/kubernetes/blob/master/plugin/cmd/kube-scheduler/scheduler.go#L30) could be removed, `healthz.DefaultHealthz()` is useless here actually.

[2016-07-20 04:30] jimmycuadra commented on #29177
Thanks, Eric! That is very helpful. I was asking on #sig-auth, but I've been working at night the last couple days so there isn't much activity in there when I'm working. Thanks again for the reply.

[2016-07-20 04:35] jeffchanjunwei commented on #27497
@xynova,thx.

[2016-07-20 04:45] k8s-merge-robot opened #29256 "[k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11555/

Failed: [k8s.io] Kubectl client [k8s.io] Update Demo should scale a replication controller [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28437 #29084

[2016-07-20 04:52] bprashanth commented on #28969
The way I would *like* to solve it is by defining a staitc-ip-subnet (just like podCIDR assigned to nodes), from which we'd draw these limited ips and assign them to pods. If a pod with the limited edition ip dies, we reprogram the routes so traffic flows to whichever node it lands, just like we setup routes today to route podCIDR to specific nodes.

The easier way to solve static ip is through a

[2016-07-20 04:53] bprashanth commented on #29159
This is the old flake where the master needs to be whitelisted, I'm assuming

[2016-07-20 04:53] #29159 closed

[2016-07-20 05:01] bgrant0607 commented on #28943
Closing as a dupe of #13241

[2016-07-20 05:01] #28943 closed

[2016-07-20 05:08] devx commented on #6962
I would be willing to support the Rackspace deployment target, if there is interest to keep it alive.

[2016-07-20 05:37] cdpb commented on #28350
also affects me with quay.io/coreos/hyperkube:v1.3.0_coreos.1

[2016-07-20 05:46] olalonde opened #29257 "Forgot to set KUBE_ENABLE_INSECURE_REGISTRY before running kube-up.sh, is it too late?"
I forgot to set `export KUBE_ENABLE_INSECURE_REGISTRY=true` when running `kube-up.sh` (AWS provider). I was wondering if there was anyway to do whatever that does manually (3 node cluster) or if the only option is to tear down the cluster and start from scratch.

[2016-07-20 05:56] ddysher commented on #29193
@davidopp Agreed.   I understand @liubog2008's description.  My previous comment was meant to @lukaszo as @lukaszo mentioned NodeSpec.unschedulable.

[2016-07-20 06:03] lixiaobing10051267 opened #29258 "Jenkins GCE Node e2e:Connection timed out,Network is unreachable"
Resolving storage.googleapis.com (storage.googleapis.com)... 209.85.200.128, 2607:f8b0:4001:c08::80
Connecting to storage.googleapis.com (storage.googleapis.com)|209.85.200.128|:443... failed: Connection timed out.
Connecting to storage.googleapis.com (storage.googleapis.com)|2607:f8b0:4001:c08::80|:443... failed: Network is unreachable.

gzip: stdin: unexpected end of file
tar: Child returned sta

[2016-07-20 06:04] olalonde commented on #8373
Also ran into this bug after recklessly running `mv ./platforms/darwin/amd64/kubectl ~/bin/` :)

[2016-07-20 06:05] wojtek-t commented on #29001
I have run an experiment over night, and this happened again (with the fix).

So this is still a problem.

[2016-07-20 06:06] #21464 closed

[2016-07-20 06:47] k8s-merge-robot opened #29259 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull from private registry with secret {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/6831/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull from private registry with secret {E2eNode Suite}

[code]

Previous issues for this test: #28142

[2016-07-20 07:16] iazarny commented on #28709
The same behavior when ConfigMap is mounted as volume to read some config. K8s creating service-account-token, which appear in  list of unattached/unmounted volumes after restarting the pods

[2016-07-20 07:57] w0mbat commented on #6962
@devx There would be definitely an interest from our side - sad to see that Rackspace has no interest in maintaining it

[2016-07-20 08:07] saad-ali opened #29262 "Make Attach/Detach controller robust against pre-mature PVC/PV deletion"
This is a follow up to Issue https://github.com/kubernetes/kubernetes/issues/29051 and PR https://github.com/kubernetes/kubernetes/pull/29077

We should:
- Modify attach/detach controller to cache PVC/PV for each volume so even if these objects are deleted, pod deletion events can be processed without error, resulting in even faster detaches.
- Add a test to verify this scenario (PVC volumes are d

[2016-07-20 08:15] kargakis commented on #29229
cc @smarterclayton

[2016-07-20 08:21] lukaszo commented on #29193
Yeah, sorry for confusion. I've misread the nodes statuses.

[2016-07-20 08:23] sttts commented on #29256
Duplicate of #28608. Closing.

[2016-07-20 08:23] #29256 closed

[2016-07-20 08:27] krmayankk opened #29265 "PetSet doesnt get deleted with kubectl delete all -lapp=nginx"
[code]

Note that all resources got deleted above except petsets

Now again i delete petsets specifically and its gets deleted see below.

[code]

Not sure why delete all should behave differentely for just PetSets.

[2016-07-20 08:32] krmayankk commented on #29265
Here is the example i tried
[code]

[2016-07-20 08:33] zefciu commented on #28969
@bprashanth: and how would your solution work with plugins? Would it simply sent this desired IP to the plugin, or will it take some of the plugin's responsibilities?

[2016-07-20 08:34] zefciu commented on #23828
The volumes and volume claims are created and bound using the dynamic provisioner.

[2016-07-20 08:49] aristidesfl commented on #29206
https://stackoverflow.com/questions/38476531/kubernetes-kubectl-set-image-deployment-not-able-to-record-history

[2016-07-20 09:09] bboreham commented on #29117
Across the whole of Kubernetes, there are a bunch of places that use 2379 and a bunch that use 4001.  Also some using 4002.

On reflection, and after discussing the potential complications for rolling upgrades with @justinsb, I have submitted a PR specifically for the e2e_node tests that tells etcd to listen on both 2379 and 4001.

[2016-07-20 09:25] mattymo opened #29270 "kubelet /etc/resolv.conf should drop duplicate search domains"
Kubernetes version v1.3.0

Kubelet concatenates host /etc/resolv.conf and cluster domain entries for my pod, resulting in an invalid config (too many entries with duplicates). The max is only 6 search domains. Any more and DNS resolution breaks when trying to leverage search domains.

The example below has only cluster DNS entries, but illustrates the issue:

Host /etc/resolv.conf:
search default.

[2016-07-20 09:29] Oloremo commented on #29270
I think some sane checks needs to be added too. libc limits search field to 6 records and 255(?) characters. This limitation should be checked before resolv.conf creation.

[2016-07-20 09:33] rhcarvalho opened #29271 "kubectl -n should support both `-n namespace/yournamespace` and `-n yournamespace`"
## Summary

Because `kubectl get ns -o name` always return names with a prefix like `namespace/default`, it cannot be directly used to iterate over all namespaces to execute other commands.
## Version

I've compiled from source:

[code]
## Details

Reviewing some scripts, I came across a usage of `kubectl` like this:

[code]

That line fetches namespace names to later run in a `for` loop:

[code]

[2016-07-20 09:35] rhcarvalho commented on #29271
@ncdc could you help me ping the appropriate team to triage this? Thanks!

[2016-07-20 09:48] vefimova commented on #29270
Hey guys, I'm working on it.

[2016-07-20 09:49] dalanlan commented on #18174
@elsonrodriguez This sounds promissing. Just wanna confirm, this only works for both `kubelet` and `kube-proxy`, right?
@mikedanese Also I'm curious how a  *daemonSet*ed kube-proxy is influenced its behavior here. Thanks folks!

[2016-07-20 09:53] shenshouer commented on #25194
kubernetes version 1.3.2 logs pod issue:

[code]

[2016-07-20 09:59] shenshouer commented on #25194
[code]

[2016-07-20 10:22] NaveenKumarV1 opened #29274 "How can I take the backup of the whole kubernetes configuration"
Hello,

I want to take the backup of the kubernetes or all its  containers data into my local machine.
Can Anyone tell me how to backup/restore the data inside the kubernetes containers?

regards
Naveen

[2016-07-20 10:34] lukaszo opened #29276 "DaemonSet should respect Pod Affinity and Pod AntiAffinity"
This is a split from #22205 where only node affinity  was added to DaemonSets. Pod Affinity and Pod AntiAffinity are still missing in DaemonSets.

It can be implemented in two ways:
1. Add `InterPodAffinityMatches` predicate check to `nodeShouldRunDaemonPod` in `daemoncontroller.go`
2. Add `InterPodAffinityMatches` predicate  to `GeneralPredicates` which is used by daemon set.

cc @bgrant0607

[2016-07-20 10:35] lukaszo commented on #22205
@bgrant0607  done: #29276

[2016-07-20 10:38] discordianfish commented on #13598
I'm surprised that this doesn't get address with higher priority.

For the sake of a safer world, can you please at least require token or basic auth on http endpoints?

Currently this behavior by default opens what is effectively a root shell to anyone who can reach 127.0.0.1. That could be containers if the apiserver runs on systems with regular workloads but also local, unprivileged users or re

[2016-07-20 10:52] orenye commented on #29121
Even on the master machine nothing is listenning on port 8080.
I understand that the apiserver should listen to it, but aparently it is not running.
Also I see in k8s_controller-manager logs:
`I0720 10:09:26.678973       1 plugins.go:71] No cloud provider specified.`
`W0720 10:09:26.679284       1 controllermanager.go:235] Unsuccessful parsing of cluster CIDR : invalid CIDR address: `
`W0720 10:09

[2016-07-20 10:54] lukaszo commented on #15310
Is anyone working on Update orchestration? If not, me(or someone from team kubernetes/mirantis) can work on it. Does it require creating a spec?

[2016-07-20 10:58] dshulyak commented on #19764
Shouldn't this be closed by https://github.com/kubernetes/kubernetes/pull/22575?

[2016-07-20 11:09] siddharthist commented on #24612
Looks like this issue can be closed.

[2016-07-20 11:09] dims commented on #29247
@mfanjie : seems to work for me. http://paste.openstack.org/show/538800/

[2016-07-20 11:12] wangyumi opened #29277 "k8s 1.5, apiserver does not honor change #max open files8"
My env:
[code]

And I changed /etc/security/limits.conf Sn, but kube-apiserver do not honor it even after I reboot machine.
[code]

any clue?

/Wangyumi

[2016-07-20 11:17] wangyumi commented on #29277
Maybe it is not an issue of k8s since I found its father process init has the same -n values:
[code]

[2016-07-20 11:19] wangyumi commented on #29277
I guess I should do this. I will try...

http://stackoverflow.com/questions/21515463/how-to-increase-maximum-file-open-limit-ulimit-in-ubuntu

[2016-07-20 11:53] wangyumi commented on #29277
It is very weird,  I found api-server , kubelet, kube-proxy has different  "Max open files "

Ans kue-apiserver always has:
Max open files            1024                 4096                 files

How it works? Does it work as design?

/wangyumi

[2016-07-20 12:11] wangyumi commented on #29277
I found this line:
[code]

I am not familiar with kubernetes source code yet so that I am not sure if it is relevant...

[2016-07-20 12:30] wangyumi commented on #29277
Eventually I found how to make it works... close this issue

[2016-07-20 12:30] #29277 closed

[2016-07-20 12:35] RandyAbernethy commented on #12289
If this is true:
"We don't, in general support changes to the --service-cluster-ip-range"
then it should be possible to run kube-apiserver without the switch. Presently if you leave it off the process errors and complains (which sort of makes you think you can set it to the range you like).

Perhaps the switch should be made optional and default to 10.0.0.0/16.

[2016-07-20 13:13] soltysh commented on #23896
Can we have a template feature in https://github.com/kubernetes/features as an umbrella for the ongoing implementations?

[2016-07-20 13:24] dims commented on #29265
@krmayankk - I believe it's because of the current definition of "all":
https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/api/install/install.go#L92-L92

I have a PR to add more resource types to "all" here:
https://github.com/kubernetes/kubernetes/pull/28955

Can you please try that?

[2016-07-20 13:35] dims commented on #29129
@Random-Liu @mikekap @ronnielai This issue can be closed now right? (Since the #29144 is merged already)

[2016-07-20 13:41] timothysc commented on #29001
k, given that you're still seeing a server race condition I'm inclined to default off again and perhaps try again in the 1.5 w/ golang 1.7 timeframe.

[2016-07-20 13:59] wojtek-t commented on #22448
@xiang90 - in the above scenario described by @eparis , can we (instead of adding etcd3 member to the cluster), simply:
- stop all clients [actually apiserver is only component talking to etcd]
- shut down etcd2
- start etcd3 (from the old data) [IUC, this would mean that etcd3 will not support v3 API, but all the data would be there using v2 API]
- then do the migration
- then start all the clien

[2016-07-20 14:17] smarterclayton commented on #23896
I'll create one.

[2016-07-20 14:22] smarterclayton commented on #23896
https://github.com/kubernetes/features/issues/35

[2016-07-20 14:35] derekwaynecarr commented on #27980
Is it possible we can get a high-level proposal doc written so we can comment on particular areas?  Right now, the issue is kind of a blended set of proposals, and it would be good if we can have a PR that iterates to capture agreement on things.

[2016-07-20 14:40] moolitayer opened #29289 "Node.metadata.uid != Event.involvedObject.uid for event of the same Node"
event.involvedObject.uid seems incorrect as it contains  Node.metadata.name. other times  it is missing entirely.

Based on an [issue](https://github.com/ManageIQ/manageiq/issues/9600) reported in ManageIQ. (see [comment](https://github.com/ManageIQ/manageiq/issues/9600#issuecomment-233879235) for rest output)

[2016-07-20 14:53] yissachar commented on #22368
Is this now targeted for 1.4?

[2016-07-20 14:59] derekwaynecarr commented on #29040
It's possible this is improved via the performance change here:
https://github.com/kubernetes/kubernetes/pull/29134

I think I can also restructure the quota that e2e tests to reduce the amount of flakes by quota-ing a subset of resources.

[2016-07-20 15:09] #29129 closed

[2016-07-20 15:10] moolitayer commented on #29289
@deads2k @smarterclayton Could you confirm if this is indeed an issue?

[2016-07-20 15:12] cben commented on #29289
We also found this code:
https://github.com/kubernetes/kubernetes/blob/0f1a3587a2cc72279973cb5a4bf361d263dc0a4d/pkg/controller/node/controller_utils.go#L245-L259
which explicitly uses node name as uid in events.

[2016-07-20 15:19] yujuhong opened #29292 "Ensure container prestop hooks are run before a machine shuts down"
This is a GKE user request. They want the prestop hooks to be run before the machine shutdown.

For planned machine shutdowns, one can simply drain the pods from the nodes. In which case, kubelet will execute prestop hooks. The only exception is the DaemonSet pods, but this will be resolved after #1574 is implemented.

For unexpected shutdowns, things are more complicated. @roberthbailey mentioned

[2016-07-20 15:22] yujuhong commented on #29244
Thanks @coufon for volunteering to help!

[2016-07-20 15:23] smarterclayton commented on #29289
Yes that looks like a bug to me.

[2016-07-20 15:24] smarterclayton commented on #29289
Bumping this to p1 to start since it means events can't be associated with the correct node instance (which may be an issue for audit)

[2016-07-20 15:32] timothysc commented on #29001
closed via #29283

[2016-07-20 15:32] timothysc commented on #28537
closed via #29283

[2016-07-20 15:32] #28537 closed

[2016-07-20 15:33] devx commented on #6962
No problem, I will take over the maintenance. It will take me a bit of time to get caught up, but I will get it done as soon as possible.

[2016-07-20 15:35] danielqsj commented on #13241
@bgrant0607
Sounds great. Wish to use templates and more tools ASAP.
If needs help, I am very interested in.

[2016-07-20 15:50] yujuhong commented on #28992
#29233 :-(

[2016-07-20 16:04] dims commented on #14022
@mikedanese @bprashanth @nirving-versent : we can close this issue as this was fixed a while ago in
https://github.com/kubernetes/kubernetes/commit/3c2a7611bf9c2c9baed018a7198f03a7bd29ac5b

[2016-07-20 16:21] mtaufen commented on #27980
@derekwaynecarr I think that's a good idea. It will be a good opportunity to go through and organize everything that has been said so far as well. I will start working on something this afternoon.

[2016-07-20 16:24] #28320 closed

[2016-07-20 16:35] timothysc commented on #29132
done?

sudo docker pull gcr.io/google_containers/etcd:3.0.3
Trying to pull repository gcr.io/google_containers/etcd ...
Pulling repository gcr.io/google_containers/etcd
Tag 3.0.3 not found in repository gcr.io/google_containers/etcd

[2016-07-20 16:35] grivescorbett opened #29297 "Mounting configmap as volume sometimes causes FailedMount error"
For some reason, while trying to create a deployment with a configmap mounted as a volume, I will _sometimes_ have a pod stuck in ContainerCreating and describing the pod gives an error like so:

    FirstSeen	LastSeen	Count	From							SubobjectPath	Type		Reason		Message
      ---------	--------	-----	----							-------------	--------	------		-------
      3m		3m		1	{default-scheduler }							Norm

[2016-07-20 16:35] dims commented on #13987
https://github.com/docker/docker/pull/15648 points to https://github.com/docker/docker/pull/16773 which points to https://github.com/docker/docker/pull/17034 which has already been merged.

I have a PR against docs:
https://github.com/kubernetes/kubernetes.github.io/pull/493 on using
`--volume=/var/lib/kubelet/:/var/lib/kubelet:rw,shared`

Guess we can close this issue now.

[2016-07-20 16:38] matchstick commented on #29297
@saad-ali Can you take a look?

[2016-07-20 16:50] sdouche opened #29298 "Explain why not subnets are found for creating an ELB on AWS"
Hi,
I created a Kubernetes cluster from coreos-aws (with existing VPC and subnets). I can't create an ELB on it.

The file:

[code]

The command:

[code]

I added manually the missing tag KubernetesCluster on the subnet w/o result. Can you add an clear message about what is missing?

[2016-07-20 17:09] ardnaxelarak commented on #28695
@pwittrock yes, #dibs

[2016-07-20 17:12] apelisse commented on #29298
cc @pwittrock Not sure if this is support or an actual issue?

[2016-07-20 17:19] #14022 closed

[2016-07-20 17:19] jingxu97 commented on #28992
I am removing this duplicated code in my PR. But it may take some time to
get in.

On Wed, Jul 20, 2016 at 8:51 AM, Yu-Ju Hong <notifications@github.com>
wrote:

--
- Jing

[2016-07-20 17:25] mikedanese commented on #15310
@lukaszo yes a proposal would be a good place to start as the feature is pretty involved. There have been a couple attempts to implement this that have not succeeded.

[2016-07-20 17:28] apelisse commented on #29274
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-20 17:28] #29274 closed

[2016-07-20 17:30] connec commented on #24167
I've just been digging through code/issues along this path too, it seems quite bad to me that revoking service accounts is so difficult (impossible?) with the default deployment options (we're using AWS).

A reasonable middle ground between security and performance could be to cache successful authorisation with a configurable length, with some sane default to prevent bursts of requests from being

[2016-07-20 17:31] apelisse commented on #29271
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-20 17:32] apelisse commented on #29257
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-07-20 17:32] #29257 closed

[2016-07-20 17:34] apelisse commented on #29248
Please refer to: https://github.com/kubernetes/kubernetes/blob/master/CONTRIBUTING.md#how-to-become-a-contributor-and-submit-your-own-code

[2016-07-20 17:38] wojtek-t commented on #29132
@timothysc - will do it tomorrow

[2016-07-20 17:43] Random-Liu commented on #29259
[code]
Looks like a registry issue.

[2016-07-20 17:50] bgrant0607 commented on #23896
@danielqsj offered to help.

cc @pwittrock @smarterclayton @bparees

[2016-07-20 17:54] FlavioF commented on #25828
@saad-ali, @pnovotnak any new about it? Same problem here.

[2016-07-20 17:56] matchstick commented on #29076
@kubernetes/sig-storage @saad-ali We need to take any report of anyone losing data very seriously. We do know that kubernetes has a mechanism to mkfs the volume. Though it is normally logs when it does so quite a bit. As of now we have not heard of any other reports of this after doing a lot of upgrades. @maisem Can you poke around on some of the internal GKE logs to see if you find anything? I do

[2016-07-20 17:57] lavalamp commented on #29001
If you can crash apiserver with an HTTP 2 connection, then we should:
a) file a bug against the appropriate package
b) prevent HTTP 2 connections server-side.

b) is because otherwise it's super easy to dos apiserver.

On Wed, Jul 20, 2016 at 8:32 AM, Timothy St. Clair <notifications@github.com

[2016-07-20 18:00] wojtek-t commented on #29001
@lavalamp - I agree that we should prevent http 2 connections server-side, but can you clarify why it makes easier to dos apiserver? Is it because it will be crashlooping or something else?

[2016-07-20 18:03] smarterclayton commented on #29229
The node should have access to the clock skew of the master via the date header returned on responses.  It's likely that in the future we'd want a story to deal with node/master clock skew consistently. We have ve said you must run your cluster with low time skew.

I think in the short term the deployment controller should create a virtual clock (like the node controller and namespace controller d

[2016-07-20 18:05] olalonde commented on #29257
Oops, sorry. http://stackoverflow.com/questions/38487736/how-to-set-i-forgot-to-set-kube-enable-insecure-registry-true-on-a-running-kuber

[2016-07-20 18:10] adityakali commented on #28826
cc @kubernetes/goog-image

[2016-07-20 18:11] #12716 closed

[2016-07-20 18:11] #27085 closed

[2016-07-20 18:11] jingxu97 commented on #29076
Hi Vincent

"Within about an hour after that (I'm unsure about the correct timestamp)
something caused two pods that were using gcePersistentDisk volumes to
restart and upon mounting the disks again, something (presumably k8s)
reformatted the file system on those disks, leading to data loss."

restarted? Are those pods under replication control? From my understanding,
we don't have restart pod mec

[2016-07-20 18:14] apelisse commented on #29257
Thank you!

[2016-07-20 18:14] fvigotti opened #29303 "image pull from private registry is broken"
with kubernetes 1.3.0

Docker version 1.10.3, build 20f81dd
ubuntu 16.04 lts
registry v2 ( with auth and tls, not certified ) on a public domain accessed though a public ip
I've spent two days trying to pull image from my private registry , the only solution that worked is this : [https://github.com/coreos/coreos-kubernetes/issues/498](https://github.com/coreos/coreos-kubernetes/issues/498) ( whic

[2016-07-20 18:15] maisem commented on #29076
@tazjin Can you also provide the cluster details (emailing me directly should be fine)?

[2016-07-20 18:23] quinton-hoole opened #29305 "Improve unit tests for federated service controller"
In particular test that equivalent record sets do not cause churn against cloud DNS.

See https://github.com/kubernetes/kubernetes/pull/28182#issuecomment-234034681

[2016-07-20 18:28] aronchick opened #29307 "Failure in creating service & deployment still creates deployment"
While testing out kubectl run, I ran into a non-obvious behavior:

[code]

It appears that the first deployment was actually created, though I wasn't given any indication and, when the service deployment failed, it wasn't rolled back. Either would be acceptable.

[2016-07-20 18:28] bprashanth commented on #28969
network plugins are responsible for allocating ips from a given range today, not between nodes. This range is the pod cidr. Something assigns podCIDRs and setups up routing (whatever that may be, it isn't a plugin yet. It could be CP specific route controller or something like flannel). The plugin will only be responsible for eg: creating a veth with the allocated ip and shoving in the netns. IPAM

[2016-07-20 18:30] ncdc opened #29308 "e2e test flake: namespace xyz was not deleted within limit: timed out waiting for the condition, pods remaining: []"
I've noticed at least 10 separate test flake issues open in which at least one failure looks like this:

[code]

Current list: https://github.com/kubernetes/kubernetes/issues?utf8=✓&q=is%3Aissue%20label%3Akind%2Fflake%20is%3Aopen%20%22was%20not%20deleted%20within%20limit%22

The 10 current issues (note that some are 'broken test run' issues and might have multiple failure causes):

#28827
#28722
#

[2016-07-20 18:31] xiang90 commented on #22448
@wojtek-t Your approach is what I would suggest! I would even suggest you to separate the migration and upgrade phase on the schedule... They do not have to be tightly coupled.

[2016-07-20 18:37] wojtek-t commented on #22448
@xiang90 - I think the main point to this discussion is whether we would like to do online migration or offline migration. If the former, I'm fine with separating it. If the later, it probably should be done when we already have components down.

[2016-07-20 18:37] jingxu97 commented on #29076
On Wed, Jul 20, 2016 at 11:11 AM, Jing Xu <jinxu@google.com> wrote:

Want to add a point here, before triggering mkfs, it uses "lsblk" command
to indicate disk is already formatted or not.

--
- Jing

[2016-07-20 18:44] xiang90 commented on #22448
@wojtek-t

It does not really matter. Separating them can reduce risk + cost in my opinion.

Phase 1 will always be online. For phase 2, you can either choose online or offline based on your requirement and schedule.

Online phase1

- shut down etcd2
- start etcd3 (from the old data) [IUC, this would mean that etcd3 will not support v3 API, but all the data would be there using v2 API]

Offline ph

[2016-07-20 18:51] #15952 closed

[2016-07-20 18:55] saad-ali opened #29311 "Simplify desired_state_of_world_populator code for attach/detach controller"
This is a follow up to https://github.com/kubernetes/kubernetes/pull/29077

The code in `volume/attachdetach/populator/desired_state_of_world_populator.go` is hard to follow. We can simplify it if we fetch the pod by UID from `podInformer`.

[2016-07-20 19:04] ericchiang opened #29312 ""kubectl config set" hangs and panics when trying to set user fields"
Trying to set some values in a kubeconfig related to the client auth provider added in #23066.

Here's my current attempt.

[code]

[2016-07-20 19:05] ericchiang commented on #29312
@kubernetes/kubectl

[2016-07-20 19:10] philips commented on #18174
I think that relying on the Go resolver is OK to achieve this feature in a minimal manner.

But, ideally, if we document this then we should introspect the connection and tell users via a log line that you are connecting to "api-server.example [172.18.5.1]" vs "api-server.example [172.18.5.2]". Otherwise, we are going to get into supportability issues and confusion on this one.

Aside: We hit stuf

[2016-07-20 19:12] alexraju commented on #15546
I had to use ELB "TCP:443" as "ping target" for it to work.

[2016-07-20 19:13] wongma7 commented on #29224
@spxtr @lavalamp I see in #28656 this specific test has been flaking in the same way, and I can't replicate it on my own gce instance, do you still suspect it is the PR?

[2016-07-20 19:16] dims commented on #25900
Looks like we have something to start with here:
https://github.com/kubernetes/kubernetes/tree/master/examples/kubectl-container

[2016-07-20 19:18] rhcarvalho commented on #29271
@apelisse perhaps I didn't do a good job at explaining the problem, but this is not a question of how to do something, but a report on a problem with the CLI design.

[2016-07-20 19:22] dims commented on #22405
Over at OpenStack, we are maintaining a python client generated from swagger:
http://git.openstack.org/cgit/openstack/python-k8sclient/

[2016-07-20 19:26] #29161 closed

[2016-07-20 19:31] apelisse commented on #29271
Sorry about that :-/. I'll try to route to the proper team.

[2016-07-20 19:39] lavalamp commented on #29001
Yeah, a malicious client can just keep making http2 requests...

On Wed, Jul 20, 2016 at 11:00 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-07-20 19:47] Kashomon opened #29314 "Move mungedocs"
Now that the docs are in kubernetes.github.io, I think it makes sense to move the mungedocs program and fix it up: (found here: https://github.com/kubernetes/kubernetes/tree/master/cmd/mungedocs)

Thoughts about where it should go?
- New repo (kubernetes/mungedocs)
- Into kubernetes.github.io directly
- Into kubernetes/contrib. This is my least favorite of the options since contrib is currently a

[2016-07-20 19:48] k8s-merge-robot opened #29315 "[k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/11586/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run rc should create an rc from an image [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28507

[2016-07-20 20:09] mml opened #29317 "Monitor all components for recovered panics and emit stats on those during the e2e test"
The idea here is to make debugging of, e.g., runtime type issues easier.  For example @madhusudancs fixed #28615 in #29123, but finding the cause in the sea of e2e debug output was harder than it should be.

There are motivations for monitoring panics in production, too.

Pointers to starting points (via @davidopp)

[2016-07-20 20:12] k8s-merge-robot opened #29318 "[k8s.io] Services should serve a basic endpoint from pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29246/kubernetes-pull-build-test-e2e-gce/49885/

Failed: [k8s.io] Services should serve a basic endpoint from pods [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29246.

Previous issues for this test: #26678

[2016-07-20 20:31] olalonde commented on #3920
fleetctl has this command and is quite useful for debugging:

![screenshot 2016-07-20 13 29 44](https://cloud.githubusercontent.com/assets/416585/17001957/1458963e-4e7e-11e6-961c-a88cf5559044.png)

Would be handy to have even if it's not documented in `kubectl --help`

[2016-07-20 20:34] roberthbailey commented on #29076
We haven't done a lot of live upgrades (yet).

[2016-07-20 20:35] dims commented on #24649
@AdoHe @bgrant0607 @smarterclayton - How about using "@" to indicate that the stream is a list of files (`javac` command line supports that syntax). Example

[code]

When we see the "@" symbol we parse the stream/file/url to get a list of file paths (relative or full paths) and then process those as though they were passed in using multiple `-f` on the command line.

[2016-07-20 20:36] timothysc commented on #22448
I'd lean towards offline migration for safety.

[2016-07-20 20:39] xiang90 commented on #22448
@timothysc Yes. I prefer that one too.

[2016-07-20 20:43] mml commented on #28713
[code]

see https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/25921/kubernetes-pull-test-unit-integration/35812/

[2016-07-20 20:44] mml commented on #28713
@kubernetes/sig-api-machinery

[2016-07-20 20:45] thockin commented on #28971
Does `make test WHAT=pkg/controller/disruption GOFLAGS="-v -run=Foo"` do what you want?

[2016-07-20 20:46] bprashanth commented on #28709
I think these are 2 different bugs, the former is  a bug in the pv provisioner that we fixed in later stages of 1.3 (I believe Chris was running with a beta build). @iazarny can you give me a petset yaml to repro?

[2016-07-20 20:47] ncdc commented on #29315
@cjcullen @krousey

[2016-07-20 20:48] euank commented on #29161
To close the loop on communication, it's a real bug but afaict the impact is tiny (since only the exec network plugin cares about those arguments being ordered right, and some of those might not actually care either).

Good catch and thanks for reporting what you saw there @vklonghml  :smile:

[2016-07-20 20:49] caesarxuchao commented on #28713
Duplication of https://github.com/kubernetes/kubernetes/issues/27460. I'll close that one.

[2016-07-20 20:49] #27460 closed

[2016-07-20 20:50] caesarxuchao commented on #27460
Closed in favor to #28713.

[2016-07-20 21:08] spxtr commented on #29224
It looks like it only fails along with other failures. Have you seen it fail in isolation before?

[2016-07-20 21:16] therc commented on #28156
You can't even get the desired size of a RC/RS/Deployment from Prometheus.

[2016-07-20 21:17] #28619 closed

[2016-07-20 21:25] yissachar opened #29322 "Kubectl bash completion doesn't properly handle namespace flag"
The kubectl bash completion doesn't take into account the namespace flag, and instead completes as if the flag wasn't passed.

Without namespace works correctly:

[code]

With namespace, ignores it and completes as in the first case:

[code]

It should instead complete using the services I have in that namespace:

[code]

[2016-07-20 21:27] osterman commented on #27169
@ronnielai should I file this as a separate issue?

[2016-07-20 21:28] therc opened #29323 "Expose metrics for desired replica counts"
There's currently no way for Prometheus to learn the expected number of replicas for a replication controller, a replica set or a deployment. It has some Kubernetes logic to discover pods, nodes, etc., but apparently, if it doesn't return a target to monitor, it doesn't belong in their current service discovery code.

This would be equivalent to BNS' Shardinfo data.

Maybe covered by these issues,

[2016-07-20 21:29] atombender opened #29324 "Wrong AWS volume can be mounted"
Background: K8s often has problems attaching/detaching AWS volumes: If I do a `kubectl replace` on a deployment, I frequently observe K8s not correctly detaching the volume, and the new deployment will be forever stuck in a crash loop because it times out getting the new volume. Seems like a race condition. The steps I always do when this happens is to delete the deployment, manually force-detach

[2016-07-20 21:30] ronnielai commented on #27169
@osterman please do

[2016-07-20 21:33] tazjin commented on #29076
Hey everyone,

@jingxu97
We noticed the problem through application level monitoring initially. It affected three disks on two single-replica pods, managed by `Deployment` resources:

[phpbb-storage](https://github.com/Goonswarm/infrastructure/blob/304464c1a47c348959f098e44941187c15d0cf10/forum/forum.yaml#L37): This disk contains forum software data and is served by an Apache container. After this

[2016-07-20 21:53] thockin commented on #12289
You can set it to any range you like, you just can't CHANGE it very easily.  You can change it, but ONLY if all Services have been removed, so none of them are determined to be in conflict.  This was decided to be safer than automatically re-allocating all Service IPs in the case of an accidental change.  If you are down to JUST the master Service, you can change the flag and delete the master Ser

[2016-07-20 21:53] osterman opened #29325 "Image Garbage Collection [GC] Non-Exhaustive"
## what
Image GC works, but very slowly, deleting only a handful of images every 5 minutes.

## observations

*  GC queries API for a subset of images. This subset may contain images that are associated with dead/running containers, so they cannot be deleted. This means that the number of images actually deleted per execution may not be very many.
* GC runs every 5 minutes, so it can take a really

[2016-07-20 21:56] #28616 closed

[2016-07-20 21:58] mfischer-zd opened #29326 "Pods should not be able to mount arbitrary host volumes"
Kubernetes administrators should be able to constrain through policies which (if any) host volumes are mountable by a pod.  Otherwise, pods can obtain access to sensitive data on the host (certificates and so forth) that an administrator might not want them to have access to.

[2016-07-20 22:02] thockin commented on #19764
I am not sure this is going to be fixed any better than it is (it does work, now, but no updates) in the near term, so yeah, i'm gonna close this.

Thanks!

[2016-07-20 22:02] #19764 closed

[2016-07-20 22:04] k8s-merge-robot opened #29327 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/11136/

Run so broken it didn't make JUnit output!

[2016-07-20 22:07] timstclair commented on #23411
PR: https://github.com/kubernetes/kubernetes/pull/28195

[2016-07-20 22:10] #26357 closed

[2016-07-20 22:11] tazjin commented on #29076
Some important followup:
I checked the filesystem UUIDs on the disks pre and post incident and they are identical:

[code]

This looks like no *new* filesystem was created, but something wiped the data on the existing disks.

[2016-07-20 22:22] yujuhong commented on #29325
@osterman It'd be nice if you can provide the kubelet/docker version you use. Thanks!

[2016-07-20 22:24] yissachar commented on #29322
The above was with 1.2.x kubectl and completions. I upgraded to 1.3.0 and now it errors out on completions with namespace:

[code]

[2016-07-20 22:36] xgerman opened #29330 "kube-apiserver and TLS etc: kubectl reports unhealthy cluster"
I am running v1.3.0-beta.1 and have set up etc, k8 with TLS. Here is the relevant part for the kube-apiserver:
--etcd_servers=https://192.168.200.2:2379 \
--etcd-cafile=/srv/kubernetes/ca.crt \
--etcd-certfile=/srv/kubernetes/kubecfg.crt \
--etcd-keyfile=/srv/kubernetes/kubecfg.key \

I tried it running without those parameters and kube-apiserver didn't start but failed with (from the logs):
etcd

[2016-07-20 22:38] caesarxuchao commented on #26120
@deads2k FYI

[2016-07-20 22:44] colhom commented on #29298
@sdouche are you perhaps running out of free IP addresses in your subnet? Each ELB will also need to a separate network interface on (each) target subnet, and I believe the rule is either 5 or 8 free addresses in the subnet for ELB creation to be allowed.

@cgag ran into this recently during some operational work here at coreos and told me about it.

[2016-07-20 22:47] sdouche commented on #29298
Hi @colhom,
I've 240 free IPs on the subnet.

[2016-07-20 22:48] bacongobbler commented on #3920
That is because fleet must be running directly on the host with systemd running, and it makes assumptions that there is a `core` user on the host. Essentially the equivalent to `fleetctl ssh my-machine-id` using SSH is

[code]

Since a kubelet could be running in a container, a `kubectl ssh` may land you in a container (as @thockin mentioned above) which would be useless other than to inspect the

[2016-07-20 22:49] colhom commented on #29298
@sdouche could I see your diff that allows you to deploy to an existing subnet? I've been curious to see how folks are doing this- we use route tables and vpc peering heavily, so in our case we have no need to deploy to the same subnet.

[2016-07-20 22:49] colhom commented on #29298
Or are you just modifying the `stack-template.json` after `render` but prior to `up`?

[2016-07-20 22:56] sdouche commented on #29298
Just modified the stack-template,sjon to remove the creation of network items (more details here: https://github.com/coreos/coreos-kubernetes/issues/340)

[2016-07-20 22:59] bacongobbler commented on #3920
To be clear, I'm not saying that implementing tooling to manage the kubelets/nodes/cluster would be foolish. I'm just proposing that `kubectl` is not the right place to do it. :)

[2016-07-20 23:00] quinton-hoole opened #29331 "Federation: e2e test missing: Intermittently uncontactable clusters"
We need to add an e2e test to cover the case of clusters disconnecting and reconnecting.  Cluster status should be correctly reflected in API, and controllers should respond appropriately.

[2016-07-20 23:11] minjs opened #29334 "proxy-mode=iptables is not working"
enable in /etc/kubernetes/proxy configure file

kubernete version 1.2
kernel 3.10.0
iptables 1.4.21

seeing this error

Jul 20 15:20:10 min-server002.pdlab.local kube-proxy[10420]: E0720 15:20:10.217390   10420 server.go:324] Not trying iptables proxy: can't get Node "min-server002.pdlab.local": nodes "min-server002.pdlab.local" not found
Jul 20 15:20:10 min-server002.pdlab.local kube-proxy[10420]

[2016-07-20 23:16] quinton-hoole opened #29335 "Federation: Cloud resources (DNS records) need to be cleaned up in CI environments."
1. We don't generally want to delete the DNS records created by the Federated Service Controller when it terminates, as this might break the clients of those federated services in real-world scenarios (e.g. upgrades of the federation control plane).
2. But we do need an easy way to delete all of the records created in some cases (e.g. after a CI test run).

Currently there are over 4,000 DNS recor

[2016-07-20 23:18] quinton-hoole opened #29336 "Federation: Write e2e tests for Federated Namespaces"

[2016-07-20 23:19] quinton-hoole opened #29337 "Federation: write e2e tests for Federated Secrets"

[2016-07-20 23:20] quinton-hoole opened #29338 "Federation: Write e2e tests for Federated Ingress"

[2016-07-20 23:21] quinton-hoole opened #29339 "Federation: Write e2e tests for Federated ReplicaSets"

[2016-07-20 23:23] quinton-hoole opened #29340 "Federation: Write a brief developer guide for adding a new Federated API object"

[2016-07-20 23:25] mattfarina commented on #10439
Might I suggest that this be a pluggable API and Vault being the first (or one of the first) implementations. Then you could integrate with other things such as a hardware security module or some other service.

[2016-07-20 23:26] osterman commented on #29325
@yujuhong thanks - forgot to add that. updated description with version.

[2016-07-20 23:28] quinton-hoole opened #29341 "Federation: Manually test an Ingress object created in multiple GCE clusters, and write up the results"
Desired outcome:

1. Single GCE L7 LB IP
2. Correct geotargeting
3. Correct overflow behavior

How do we expose service load to the L7 load balancer? (rather than VM load)

[2016-07-20 23:29] tazjin commented on #29076
Some more info, I discovered messages about invalid partition tables in syslog and noted the most important timestamps.

Timestamps: https://git.tazj.in/tazjin/incidents/raw/k8s-disks/timestamps.org
Syslog entries: https://git.tazj.in/tazjin/incidents/raw/k8s-disks/logs/syslog.md

[2016-07-20 23:44] quinton-hoole opened #29342 "Federated Ingress: Implement API"

[2016-07-20 23:48] quinton-hoole opened #29343 "Federated Ingress for GCE: Design and Implement Controller"
Mostly it just propagates an Ingress to each underlying cluster - or alternative design of lifting the existing Google Load Balancer Controller (GLBC) up into the Federation.

Handle health check failures (e.g. no backend pods in a cluster), and ensure that LB does target that cluster.

[2016-07-20 23:52] bgrant0607 commented on #29314
Yes, both kubernetes and contrib repos are dumping grounds.

I was thinking we should create a "github-tools" repo for mungedocs, mungegithub, etc.

The process @philips proposed [on kubernetes-dev](https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-dev/o6E1u-orDK8/SAqal_CeCgAJ) suggested emailing the proposal to kubernetes-dev.

cc @kubernetes/docs @kubernetes/con

[2016-07-20 23:53] quinton-hoole opened #29344 "Ingress: Add DNSName to non-Federated Ingress status"
As discussed with @bprashanth.  Can be reassigned if necessary.
We need this for Federation in v1.4.

Do we use the same format as services (servicename.namespacename.scv.cluster.local) replacing 'svc' with something else (e.g. 'ing')?  If not, what?

This will also require changes to KubeDNS, to ensure that the name gets published via DNS.  Separate issue for that.

[2016-07-20 23:54] quinton-hoole opened #29345 "Federated Ingress: Make KubeDNS publish Ingress DNS records."
See #29344

[2016-07-20 23:55] timstclair opened #29346 "Mechanism for running node e2e tests with specific host requirements"
As an example, AppArmor will only be enabled on some host images, so to provide AppArmor e2e tests we will need to prevent the tests from running against non-AppArmor hosts.

I suggest we come up with a convention for labeling the tests (e.g. "[node:apparmor]"), and then list the labels in the jenkins properties for each host. Finally, we split the ginkgo command to filter the test based on the la

[2016-07-20 23:55] timstclair commented on #29346
@kubernetes/sig-node

[2016-07-20 23:59] bgrant0607 commented on #29314
Note that the docs in kubernetes.github.io have different formatting rules/needs than docs in other repos. The reason is that the kubernetes.github.io docs are converted to html and rendered with CSS+JS, whereas the other docs are viewed directly as markdown. One example is TOC generation, which is done dynamically for kubernetes.io and statically for markdown.  Link-checking rules are different,

[2016-07-20 23:59] quinton-hoole opened #29347 "Federation: Common Controller Libraries"
As discussed, similar patterns occur in many of the controller for federated objects.  Lift this into a common library that can be used by all of the controllers.

1. Design
2. Implement
3. Test
4. Document

Open separate issues for each of the above, and track there.  This can be the tracking issue over those.

[2016-07-21 00:01] bgrant0607 commented on #29314
Proposed kubernetes.github.io checks:
https://github.com/kubernetes/kubernetes.github.io/issues/731
https://github.com/kubernetes/kubernetes.github.io/issues/732
https://github.com/kubernetes/kubernetes.github.io/issues/733
https://github.com/kubernetes/kubernetes.github.io/issues/734
https://github.com/kubernetes/kubernetes.github.io/issues/735
https://github.com/kubernetes/kubernetes.github.io/i

[2016-07-21 00:04] quinton-hoole opened #29348 "Federation: Services: Plan for going GA"
Enumerate blockers for taking Federated Services to General Availability.

Resolve the highest priority items as soon as is practical.

[2016-07-21 00:16] bgrant0607 commented on #2971
We should engage with OpenAPI to get extensions we need.

[2016-07-21 00:29] therealplato commented on #22427
I am seeing this issue while trying to use `govendor` to add kubernetes to my vendor folder.

Are there specific git hashes I can vendor to have kubernetes 1.2 alongside docker?

Duplicate https://github.com/kubernetes/kubernetes/issues/18774

[2016-07-21 00:32] vishh commented on #29346
Why not run multiple jenkins jobs instead? Or have the test skip itself if
Apparmor is not available? Or pass a distro cookie to the test and have it
run on whitelisted distros?

On Wed, Jul 20, 2016 at 4:56 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-07-21 00:38] jingxu97 commented on #29076
Hi Vincent,

Just want to check whether you still have the k8s node kubelet.log during
this upgrade. It might also give us some information. Thanks a lot!

Best,
Jing

On Sun, Jul 17, 2016 at 3:20 PM, Vincent Ambo <notifications@github.com>
wrote:

--
- Jing

[2016-07-21 00:50] smarterclayton commented on #26120
As discussed today on sig meeting, we need this for the "migrate client" to touch every object at least once as well.

[2016-07-21 00:51] qqshfox commented on #29298
@sdouche Are those subnets private? A public ELB can't be created in private subnets. K8s will get all subnets tagged with correct KubernetesCluster, then ignore private subnets for public ELB.

You can try to tag a public subnet with correct KubernetesCluster, then wait k8s to retry to create the ELB in that subnet.

[2016-07-21 00:53] smarterclayton commented on #24649
Why not add a new flag "--filenames " which supports "-" or any file like construct?  That works just as well as a new @ syntax and is easier to describe in man and help pages

[2016-07-21 00:56] k8s-merge-robot opened #29352 "[k8s.io] Pods should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6166/

Failed: [k8s.io] Pods should have monotonically increasing restart count [Conformance] [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27847

[2016-07-21 01:18] yujuhong opened #29354 "e2e tests should surface more meaningful error messages"
One of the most common failure signature from e2e tests is

[code]

E.g., https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6166/artifacts/junit_01.xml

This provides almost no information to the developer. Our infra tools also can't provide intelligent information for this.
Most of the tests just call functions in [e2e/framework/util](https://github.com/kubernetes/

[2016-07-21 01:21] detiber commented on #26093
nfs-utils is needed by the nfs volume plugin.

[2016-07-21 01:22] detiber commented on #26093
ceph-common (at least on Fedora/Red Hat/CentOS based systems) is needed for the ceph volume plugin

[2016-07-21 01:23] detiber commented on #26093
glusterfs-fuse should be all that is needed for using the gluster storage plugin (at least on Fedora/Red Hat/CentOS based systems).

[2016-07-21 01:24] detiber commented on #26093
iscsi-initiator-utils (Fedora/Red Hat/CentOS based systems) is needed by the iscsi volume plugin

[2016-07-21 01:25] detiber commented on #26093
@timstclair I'm not sure you would want a fatal error if a storage plugin dependency isn't available, I would expect them to just not be loaded (and an obvious event and log message generated) if that is the case.

[2016-07-21 01:32] yujuhong commented on #29354
/cc @mnshaw just FYI :-)

[2016-07-21 01:32] ixdy commented on #28638
Probably want it to run only if the cadvisor Jenkins job is passing, too.

[2016-07-21 02:20] dims commented on #24649
@smarterclayton right. definitely that would work too

[2016-07-21 02:36] AdoHe commented on #24649
`--filenames` is fine, but I am thinking whether it has right meaning here.

[2016-07-21 02:46] mikekap commented on #29303
One thing I noticed when recently setting up a kube cluster on Ubuntu is that systemd strips environment variables when starting kubelet. To get /root/.docker to work I had to launch kubelet with $HOME set to /root.

[2016-07-21 02:46] dims commented on #24649
@AdoHe how about `--file-list`?

[2016-07-21 02:50] pwittrock opened #29357 "Determine correct Deployment scaling behavior during rollout"
In 1.4 we are changing the scaling behavior for Deployments during a rollout from
Scale the newest ReplicaSet
to
Scale all active ReplicaSets proportionally by their current number of replicas.

This issue is to discuss the desired behavior when the deployment controller-manager observes both rolling-out and scaling are required in the same controller sync loop.

# Example of proportional scaling:

[2016-07-21 02:51] pwittrock commented on #29357
@erictune WDYT?

[2016-07-21 02:51] pwittrock commented on #29357
@kargakis Moving the issue here for further discussion

[2016-07-21 03:01] AdoHe commented on #29357
For the second question, I think it's better to make scaling strategy configurable, also we should document different scaling strategy very well as users may get confused about how to pick a suitable strategy for their own use cases.

[2016-07-21 03:04] AdoHe commented on #29002
An option is that we can wait until that really happen.

[2016-07-21 03:10] duglin commented on #29002
Yes I would prefer for certain operations to wait until they're really done before they return but as @MHBauer asked, how can we know for sure in this case?

[2016-07-21 03:14] MHBauer commented on #29002
I see some options:

1. We wait to return until it's ready to be called.
2. We return some value on where to check for it to be ready.
3. The resource is stubbed out immediately, and returns some 'not yet ready' status until it is.
4. Kubectl knows enough to 'keep trying' until some timeout.

I'm not sure what the intention is going forward if in fact core k8s APIs are going to be switched to usin

[2016-07-21 03:21] AdoHe commented on #29289
@smarterclayton I just get a little bit confused, I think not only here even in kubelet, the `nodeRef.UID` would be nodeName, is this right?

[2016-07-21 03:24] AdoHe commented on #29002
IMO, kubectl can try to check some condition until some timeout, but we still need to make sure what's the condition, I would hava to take a look at the thirdparty resource code and see what we can do.

[2016-07-21 03:28] ShengjieLuo commented on #28709
Hi, I meet similar problems after I had deleted a pod and restarted it again.
See kubectl information here
[code]

See debug information here.
[code]
How can it be solved? Thanks.

[2016-07-21 03:31] duglin commented on #29002
I think doing it on the kubectl side would be a mistake because then the REST API clients would need to replicate that logic. If there are certain operations (like, IMO, creating a new 3rd party resource) that should be blocked then I'd prefer if the POST itself blocked until it was done.

[2016-07-21 03:40] jingxu97 commented on #29076
Hi Vinent,

Sorry that I missed this email. I don't have GPG tool. Is there any other
way that we can look the kubelet logs? Thanks a lot!

Best,
Jing

On Sun, Jul 17, 2016 at 5:12 PM, Vincent Ambo <notifications@github.com>
wrote:

--
- Jing

[2016-07-21 03:40] #29051 closed

[2016-07-21 03:42] saad-ali opened #29358 "GCE PD Detach fails if node no longer exists"
**Problem:**

If a node with a GCE PD attached is deleted (before the volume is detached), subsequent attempts by the attach/detach controller to detach it continuously fail, and prevent the controller from attaching the volume to another node.

**Repro steps:**

1. Create a pod referencing a GCE PD
2. Wait for pod to get scheduled and running.
3. Delete the node VM (using gcloud) that the pod is

[2016-07-21 03:51] saad-ali commented on #28709
@ShengjieLuo You are likely hitting https://github.com/kubernetes/kubernetes/issues/28750. PR https://github.com/kubernetes/kubernetes/pull/28939 should help (patch will be in k8s v1.3.4).

[2016-07-21 03:55] saad-ali commented on #28750
Now that the fix for 2 has been merged the bite of this bug should be greatly reduced (won't prevent other pods from mounting the same secret). However, we still need to understand 1, what causes secret mounts to sometimes fail with `device or resource busy`. @jingxu97 can you please take a look this?

[2016-07-21 04:05] huangyuqi commented on #29347
Hi, @quinton-hoole , we have been starting develop work about cluster-controller and RS controller, so would you like to share me the plan about this work? Thanks.

[2016-07-21 04:06] AdoHe commented on #29002
@duglin @lavalamp The logical here is that when you create a new ThirdPartyResource resource, it will return just after the resource is stored in etcd, but the process to register a new RESTful resource path and add a new api group is asynchronous, this is what thirdparty_controller will do. Basically put this wait in kubectl is wrong, this makes kubectl create complicate. As for real use case, us

[2016-07-21 04:11] erictune commented on #29357
I need some background.  Is this problem as evident when the change in scale is not so large (1.1x vs 2x)?  Is the large change in scale due to coincidence (traffic surge at same moment as rollout) or is there a well known case where the two events correlated?

[2016-07-21 04:14] smarterclayton commented on #28750
Since we can reproduce this reliably, any info we can dump on unmount we're happy to do in our runs and gather info if we know what to add.

[2016-07-21 04:15] smarterclayton commented on #29289
I think the nodeRef.UID should be whatever value is assigned by the API server when the node is created, which is not directly settable by the node.

[2016-07-21 04:31] saad-ali commented on #28750
I'm thinking this maybe the same or similar to https://github.com/kubernetes/kubernetes/issues/22911#issuecomment-224117290

Which would mean the underlying medium is being detected incorrectly, which causes the wrong tear down routine to be used.

So to debug this I would start with extra logging around `GetMountMedium()` in `empty_dir/empty_dir_linux.go` logic to see what's happening.

[2016-07-21 05:56] #26840 closed

[2016-07-21 06:09] wojtek-t commented on #22448
+1 for offline

[2016-07-21 06:16] wojtek-t commented on #29132
Should work now.

[2016-07-21 06:16] #29132 closed

[2016-07-21 06:27] rhcarvalho commented on #29271
update: added console examples to the description.

[2016-07-21 06:30] davidopp commented on #29292
I'm not convinced this is a good thing to put into Kubelet. It seems that for "expected shutdowns" you should be able to do a normal drain, while for "unexpected shutdowns" you don't have time to drain since it is unexpected?

[2016-07-21 06:40] jianzhangbjz opened #29360 "Setup Kubernetes cluster on Mesos on Docker failed"
Hi guys,

I try to setup a **k8s cluster on Mesos on Docker** on Ubuntu according to the reference [Kubernetes on Mesos on Docker](http://kubernetes.io/docs/getting-started-guides/mesos-docker/#build-locally), but when I exec `./cluster/kube-up.sh` command with sudo privileges, it pop error, details as below:
[code]
the docker_mesosslave_2.log as below:
[code]
the docker_apiserver_1.log as below:

[2016-07-21 06:55] bgrant0607 commented on #23233
Thanks for the detailed proposal @luxas.

If one could update ConfigMap objects, then one could update the addon objects. Perhaps the argument is that the latter types of updates would be more complex. However, the desired state of the addons should be represented by their API objects themselves. The source for the updated configurations just needs to come from somewhere.

If there were an update