[2020-02-25 03:57] #88449 closed

[2020-02-25 03:58] liggitt commented on #88406
/remove-sig api-machinery
/sig node

[2020-02-25 03:59] bg-chun commented on #81009
/reopen

[2020-02-25 04:02] bg-chun commented on #81009
@cy-zheng
For memory, I(me and my team) will do
1) New CPU policy for NUMA-aware cpu sharing & cpu pinning
[2) Memory Manager(new component of kubelet)](https://github.com/kubernetes/enhancements/pull/1203)

For another, i(me and another contributor) will do
1) enhance scheduler
2) add new policy to topology mnager to refer crd to consider desired resource topology of Pod

[2020-02-25 04:10] NickrenREN commented on #82067
@cmluciano Nope, we met that error because we reordered the api handler chains registration. It is our own problem.

[2020-02-25 04:44] jpbetz commented on #81508
Thanks for the detailed report @matte21. I've cross posted it to https://github.com/coreos/etcd-operator/issues/2163. Let's discuss it further there.

[2020-02-25 05:19] howardjohn opened #88508 "client-go fake seems to be dropping writes"
**What happened**:

I am seeing some weird issues where writes are seemingly being dropped with the fake client. I am not sure if I am doing something wrong here or if this is unexpected. Basically doing `write(x); read(x)` and the read fails.

**What you expected to happen**:

I can read some item after I have written it

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2020-02-25 05:23] howardjohn commented on #88508
/sig api-machinery

[2020-02-25 05:23] howardjohn commented on #88508
Seems like if I replace the create with

[code]

this runs fine, so its more about the informer missing an update than the write not persisting?

[2020-02-25 05:32] AndrewSav commented on #8876
/remove-lifecycle stale

[2020-02-25 05:53] boddumanohar commented on #87988
I dont think theres a way to make this test pass on testgrid.

[2020-02-25 06:05] azalio commented on #69699
/remove-lifecycle

[2020-02-25 06:17] boddumanohar commented on #88456
Is there a way to update/replace service account token of a running pod?

[2020-02-25 07:03] joakimr-axis commented on #72956
Created a stab at cluster/gce/config-test.sh in https://github.com/kubernetes/kubernetes/pull/88459.

[2020-02-25 07:05] hrishin commented on #88478
Thank you @hasheddan :hugs:

[2020-02-25 07:38] fenghejingchi commented on #69276
any update on this topic?

[2020-02-25 09:20] Raffo commented on #81101
/remove-lifecycle stale

[2020-02-25 10:33] aojea commented on #82067
/close
per last comment.
Also, to avoid this is becoming a placeholder for different unrelated issues with a similar symptom
Thanks

[2020-02-25 10:33] #82067 closed

[2020-02-25 10:37] pancernik commented on #87784
/assign

[2020-02-25 10:38] boddumanohar commented on #87447
Created a PR to use these new functions in Service-controllers.

[2020-02-25 11:22] hrishin commented on #88475
/close

[2020-02-25 11:22] #88475 closed

[2020-02-25 12:00] marqc commented on #86485
@tedyu No, logs look the same when problem occurs and when it does not.
These were all logs for this container with relatively low log level (which my company uses on production systems).
When I increased log level, just for debug purposes, there was no difference between "healthy" and "not-healthy" pods.

[2020-02-25 12:03] MarcelMue commented on #86485
We do not see those error logs at all. The only _slightly_ notable thing in logs are these warning logs:
[code]

Which seem to be more common for us when the problem occurs on a node.

[2020-02-25 12:06] ingvagabund commented on #84306
/remove-lifecycle stale

[2020-02-25 12:09] ingvagabund commented on #84306
New test suite [1] no longer changes or relies on `b.N`. Once
https://github.com/kubernetes/kubernetes/issues/86972 is resolved, the new test suite will be run automatically.

[1] https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/scheduler_perf_test.go#L112-L166

[2020-02-25 12:34] Nittarab commented on #51096
I have the same issue... Is not a resources problem.

I can see the correct response in the pods logs:
[code]

But if I describe the pod:
[code]

[code]
`Server Version: version.Info{Major:"1", Minor:"15+", GitVersion:"v1.15.9-gke.8", GitCommit:"a9973cbb2722793e2ea08d20880633ca61d3e669", GitTreeState:"clean", BuildDate:"2020-02-07T00:50:57Z", GoVersion:"go1.12.12b4", Compiler:"gc", Platform:"linux

[2020-02-25 12:43] hakman commented on #56306
Not sure if this is the right place to ask, but the issue seems related to one of the e2e tests failing in a Multi-AZ setup: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/e2e-kops-aws-misc-ha-uswest2/1232000858179244033.

Any thoughts about the `[sig-scheduling] Multi-AZ Clusters should spread the pods of a replication controller across zones`?

[2020-02-25 12:44] mm4tt commented on #88367
Ping, any updates?

[2020-02-25 13:47] DiCanio opened #88522 "Improve documentation on POD behavior during OOM event with child processes"
**What would you like to be added**:
A section within the documentation regarding a POD's behavior during an OOM event - _especially when running child-processes._

This could be added here:
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#how-pods-with-resource-limits-are-run

The following key points should be documented:
* resource limits of a pod are enforc

[2020-02-25 13:48] maxstr commented on #81675
For our use case we would indeed be covered by the KEP.

[2020-02-25 13:49] DiCanio commented on #88522
/sig node
/sig docs

[2020-02-25 13:51] OlivierMary commented on #88410
No more problem after re-apply kubeadm conf.

If need:

[code]

[2020-02-25 13:51] #88410 closed

[2020-02-25 13:54] cwdsuzhou opened #88523 "Preemption: should not return directly when removePod failed"
**What happened**:

see
https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L986

return when `removePod` error, but we may still can remove other pods on the node

**What you expected to happen**:

continue to remove other pods on the node if remove a pod failed.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2020-02-25 13:54] cwdsuzhou commented on #88523
/sig scheduling

[2020-02-25 13:54] cwdsuzhou commented on #88523
/assign

[2020-02-25 13:55] cwdsuzhou commented on #88523
/cc @ahg-g

[2020-02-25 13:56] #83264 closed

[2020-02-25 14:07] Raffo opened #88524 "Kubectl config unset behaviour changed (setting value to null)"
**What happened**:

In kubernetes 1.14, `kubectl config unset "users.${user}"` sets the users field in the `kubeconfig` to `[]` in case there is only one user, but in more recent versions of kubernetes it sets the value to `null`.
It's unclear to me in which version the change was made, but it can potentially break tooling that relies on this feature. For example https://github.com/aws/aws-cli/iss

[2020-02-25 14:18] damemi commented on #87429
Hi @sethmccombs, Jan just opened a PR here to reflect this change in the docs: https://github.com/kubernetes/website/pull/19302 could you please provide review to make sure we've properly listed this as GA?

[2020-02-25 14:28] markyjackson-taulia commented on #82296
/milestone v1.19

[2020-02-25 14:31] markyjackson-taulia commented on #87574
/close

[2020-02-25 14:31] #87574 closed

[2020-02-25 15:09] gianarb commented on #65200
Hello @liggitt !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-25 15:09] gianarb commented on #82158
Hello @verb !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-02-25 15:28] tnozicka commented on #78904
Yes, I intend to work on those tests this week so we have it for 1.18

[2020-02-25 15:42] cynepco3hahue commented on #49964
/remove-lifecycle rotten

[2020-02-25 16:03] matthyx commented on #78679
/remove-lifecycle rotten

[2020-02-25 16:13] alculquicondor opened #88529 "Add Extenders to v1alpha2 Component Config"
As `AlgorithmSource` is going away from the scheduler component config #87999, there will be no way for users to specify Extenders in this version.

Now that we have scheduling profiles #88087, we have some options:

1. Add `Extenders []Extender` to `KubeSchedulerConfiguration`. This implies that all profiles will share extenders. Let's recall that extenders are linked to custom resources. Request

[2020-02-25 16:19] ahg-g commented on #88529
I discussed this with Aldo offline, my opinion is that we should go with option 1. Extenders already have an api to express whether or not it is interested in a pod, so we don't really need to have them in each profile. Also, moving from option 1 to 2 is easy in the future even after v1 since conversion is simple.

Framework and extender serve slightly different use cases, so I think they will coe

[2020-02-25 16:50] venkatsc commented on #85647
/remove-lifecycle stale

[2020-02-25 16:51] kfox1111 commented on #69608
/remove-lifecycle stale

It looks like when going to apps/v1, this actually did become a required feature:
error: error validating "test.yaml": error validating data: ValidationError(StatefulSet.spec): missing required field "serviceName" in io.k8s.api.apps.v1.StatefulSetSpec; if you choose to ignore these errors, turn validation off with --validate=false

This should be made less restrictive if p

[2020-02-25 16:54] yogarajrafay commented on #70411
I am seeing this issue. Can anybody share, how was this resolved.

[2020-02-25 16:57] alculquicondor commented on #87784
I'm trying to wrap my head around conversion and defaults once we move this types.

In particular, I'm thinking of building an scheme in `pkg/scheduler/framework/v1alpha1` that has all the in-tree plugin args registered. My hope is that with this scheme we can make [`DecodeInto`](https://github.com/kubernetes/kubernetes/blob/fe9073b8c14bbf6bbe42a2259f01d3d3a853a6a3/pkg/scheduler/framework/v1alpha1

[2020-02-25 17:16] jerem991 commented on #45779
You can resolve this issue specifying in your configuration a **dnsConfig** with a **search** entry:
rabbit-service.your_namespace.svc.cluster.local

[2020-02-25 17:17] jdumars commented on #81508
thank you all for looking into this

[2020-02-25 17:24] rikatz commented on #85395
Hi @sergey-safarov

Do you need any help filling a KEP into this? I think this would be a nice feature, and want to help you make this happen.

If you cannot move forward with this right now, please let me know and I can start writing the KEP and verifying with SIG members if we can move forward with this.

Tks

[2020-02-25 17:24] rikatz commented on #85395
/assign @rikatz

[2020-02-25 17:25] rikatz commented on #85395
/assign @rikatz

[2020-02-25 17:33] rikatz commented on #87277
@372046933 Sorry but I cannot figure out how putting the Pod IP in something outside the cluster could be something. Can you explain me.

Just let me clarify how kube-proxy works:

When you create a ClusterIP, each node running kube-proxy will map that ClusterIP with the Pods related to them. So each node 'becames' a Load Balancer only for the cluster.

As an example, imagine you have a ClusterIP

[2020-02-25 17:35] smourapina commented on #75564
Hello again @kwiesmueller!
Just leaving another friendly ping to remind you that code freeze is coming in about 1 week (5 March), so please take this into account.

[2020-02-25 17:35] mateuszlitwin commented on #88469
Hmmm I think test `PermitPlugin` plugin is no longer correct:

After my change `Permit()` is executed at the end of the scheduling cycle, this means there can be only one `Permit()` happening at any given moment. If there is a race where "signaling-pod" is scheduled before "waiting-pod", then "signaling-pod" will wait 30s in `wait.Poll(...)` in `PermitPlugin` for the "waiting-pod" to become waitin

[2020-02-25 17:38] alculquicondor commented on #87784
I'm trying to wrap my head around conversion and defaults once we move this types.

In particular, I'm thinking of building an scheme in `pkg/scheduler/framework/v1alpha1` that has all the in-tree plugin args registered. My hope is that with this scheme we can make [`DecodeInto`](https://github.com/kubernetes/kubernetes/blob/fe9073b8c14bbf6bbe42a2259f01d3d3a853a6a3/pkg/scheduler/framework/v1alpha1

[2020-02-25 17:44] smourapina commented on #87766
Hello @alenkacz,
Just checking in once more with a friendly ping to remind you that code freeze is in about 1 week (5 March)!

[2020-02-25 17:46] smourapina commented on #87617
Hello again @alculquicondor,
Just leaving a reminder that code freeze is coming in about 1 week (5 March)!

[2020-02-25 18:12] sethp-nr opened #88535 "Zero-disruption PDB with custom controller emits confusing status/errors"
**What happened**:

We created a PDB targeting Pods managed by a custom controller that looked like this:

[code]

The Pods matching `app=custom` don't surface an "expected" count (they're not managed by one of the well-known resources, nor does their controlling Kind expose a `scale` sub-resource). When we went to describe the PDB, however, it appeared to not have taken effect:

[code]

Additiona

[2020-02-25 18:15] alculquicondor commented on #88469
Can you first confirm that this is what is happening? you could increase the log level to 3 to see the log lines in `Scheduler.addPodToSchedulingQueue` and `Scheduler.scheduleOne`. I feel like if that's the case, we have a separate bug with the event handlers or sorting.

Other than that, I agree that the implementation of the test's `PermitPlugin.Permit` shouldn't have waits. cc @ahg-g

[2020-02-25 18:16] sethp-nr commented on #88535
/sig apps

[2020-02-25 18:17] kwiesmueller commented on #75564
Thanks @smourapina .
We won't make it this release.

/milestone v1.19

[2020-02-25 18:22] smourapina commented on #75564
Thanks for the update @kwiesmueller, I will go ahead and change the milestone
/milestone v1.19

[2020-02-25 18:27] alculquicondor commented on #88469
My hope would be that the pod is temporarily unschedulable due to nodes still being synced.

[2020-02-25 18:31] ahg-g opened #88536 "Move Scheduler Extender API to staging"
The types for sending/receiving requests between the scheduler and the extenders currently exist in pkg/scheduler/apis/v1/extender, and so extender developers have to import the kubernetes package to access those types, which brings with it many unneeded dependencies.

To be consistent with the way we handle component config, and simplify importing those types, we should have the extender types mo

[2020-02-25 18:37] alculquicondor commented on #87617
Other than documentation, we only have one PR left in review :)

[2020-02-25 18:39] liggitt commented on #75564
is it reasonable to ship 1.18 with server-side apply on for all created objects by default if this isn't resolved?

[2020-02-25 18:46] andrewsykim commented on #81172
/assign
/unassign @yastij

[2020-02-25 18:53] BenTheElder commented on #88367
@spiffxp filed a number of cherry picks for the script

[2020-02-25 19:01] #83221 closed

[2020-02-25 19:05] davidz627 commented on #74553
/remove-lifecycle rotten
need to verify

[2020-02-25 19:20] droslean commented on #88367
Closing... The issue has been resolved. Thanks, @BenTheElder @spiffxp @mm4tt
/close

[2020-02-25 19:20] #88367 closed

[2020-02-25 19:25] roycaihw commented on #87988
I had some in progress work to bump the machine side to n1-standard-16 in test-infra, which should fit the workload. Are you suggesting that it won't help, or people won't allow tests using such a big machine? I think the latter is more likely to be true for cost reason.

On the other hand, if we couldn't make these tests pass, IMO we should stop running them in testgrid to save some cost.

[2020-02-25 19:34] jingxu97 commented on #86884
fixed by  #86886

[2020-02-25 19:34] #86884 closed

[2020-02-25 19:36] sergey-safarov commented on #85395
Hi Ricardo @rikatz
Yes, I cannot deep into KEP writing (no experience and busy on other task).

[2020-02-25 19:45] apelisse commented on #75564
This bug won't have impact on operations on objects that are only updated (i.e. never applied): since updates are always forced, no conflicts are reported nor failing operations. The only impact for these objects is that they might have invalid information in their managed fields (which is *mostly fine*). The fact that we're enabling server-side apply for all created objects should only affect thi

[2020-02-25 19:46] dashpole commented on #85966
@spikecurtis I talked with @yujuhong after sig-node today.  The pod creation process can be difficult to make changes to correctly, as it is a fairly complex part of the code-base.  But we think we can eventually work out the details in a code review.

I plan to take a pass at @tedyu's PR, but we have one other option that may work, and may have other benefits as well that we would like you to con

[2020-02-25 19:47] marqc commented on #86485
Errors from log I posted (about pod condition) are not related to issue. That is standard behavior od kubelet when pods use readiness gates. They probably should not be logged as errors or logged at all.

[2020-02-25 19:58] saikrishna7586 commented on #50295
The connection to the server localhost:8080 was refused - did you specify the right host or port?
This command I have to use in Master or Node because I'm getting error in Node
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config

[2020-02-25 19:59] #86370 closed

[2020-02-25 20:10] cedricve commented on #73957
same issue, using docker desktop

[2020-02-25 20:15] spikecurtis commented on #85966
@dashpole thanks for the suggestion. It was mentioned on one of the calls before, and I would say it's definitely not our preferred solution.

One issue is that we need the pod IP everywhere in the cluster, not just the node the pod is sitting on. This is because remote nodes are enforcing network policy. Imagine that a postStart hook needs to talk to some other service in the K8s cluster, and we

[2020-02-25 20:18] tedyu commented on #86485
I agree with @marqc 's comment above since after logging the error, SetPodStatus continues with calling m.updateStatusInternal().

[2020-02-25 20:31] tedyu commented on #85966
There is another PR #88170 which also tries to solve this issue.

It seems only #88169 shows up as linked to this.

[2020-02-25 20:38] kmala opened #88543 "Kubelet deletes the pod before cleaning the CNI resources"
**What would you like to be added**: I would like to make kubelet wait for CNI resources to be completely cleaned before deleting the pod from the apiserver. Currently it just waits for containers to be deleted and volumes to be unmounted.

**Why is this needed**:
There are couple of reason why this would make sense:
1) This will make sure that apiserver would provide the true view of the system.

[2020-02-25 20:41] diegom626 commented on #44165
any update on this?
/reopen

[2020-02-25 20:42] hh commented on #88302
Deployment replaced ReplicationController a while back.
It should be part of conformance.

We need to check more than the data-aspect (beyond crud), we need to verify the data-plane. In this case we need to check the pods as well and not just the ReplicationController status.

Moved to backlog by conformance subgroup.

[2020-02-25 20:46] kmala commented on #88543
/sig network

[2020-02-25 20:48] kmala commented on #88543
/sig node

[2020-02-25 20:50] hh commented on #88358
We would need to tag [Serial] and have nodes that can be targeted for destructive.
Serial implies Disruptive.

Deterministic... kubelet would over-written the status.

This test may not be possible with current constraints.

We need to work across all platforms (systemd vs windows vs... others).

Conformance is missing a framework for disruptive cross-cloud tests.

This isn't conformance groups jo

[2020-02-25 20:58] hh commented on #87762
When you create a selector, race conditions can occur between controllers and our test code.

We have services that test endpoint code, we could do these as explicit tests that are NOT handled by the endpoints controller.

Let's try this with are managed by the endpoints controller w/ a selector.

Endpoints normally go along with services: we want to create a service sans selector.
This keeps it o

[2020-02-25 21:17] dashpole commented on #85966
Makes sense.  We weren't sure if just the local node needed it, or if other nodes did as well.  Thanks for the clarification.

[2020-02-25 21:18] fedebongio commented on #88472
KEP is here: https://github.com/kubernetes/enhancements/pull/1503

/assign @mikedanese

[2020-02-25 21:19] fedebongio commented on #88473
/assign @jpbetz

[2020-02-25 21:20] fedebongio commented on #88494
/remove-sig api-machinery

[2020-02-25 21:23] fedebongio commented on #88508
/cc @deads2k
(we discussed this one during our Bug Triage)

[2020-02-25 21:39] nagstaku commented on #68211
Also getting this error -- deleting and redeploying fixed

geocoding.yml being a subpath mounted configmap:

Message:      OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:430: container init caused \"rootfs_linux.go:58: mounting \\\"/var/lib/kubelet/pods/8e69d0fe-28ab-4c18-b1c3-1fbe26d5b71c/volume-subpaths/places-config/master/0\\\" to rootfs

[2020-02-25 21:44] verult commented on #88355
One of the failed runs (at Wed, 29 Jan 2020 18:28:59 GMT): https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1222575922826186752/

[2020-02-25 21:48] justaugustus commented on #87993
https://github.com/kubernetes/website/pull/19089 has merged. Closing this out.
/close

[2020-02-25 21:48] #87993 closed

[2020-02-25 22:04] sethp-nr commented on #88535
Oh, it looks like that "The disruption budget pdb needs 0 healthy pods and has 0 currently" message is an artifact of me trying various minAvailable settings. A brand new one has this "is still being processed by the server" message:

[code]

[2020-02-25 22:41] BobyMCbobs opened #88545 "Write CoreV1Pod and CoreV1PodStatus lifecycle test+promote - +4 coverage"
- [x] [APISnoop PR](https://github.com/cncf/apisnoop/pull/290)
- [ ] [PR](https://github.com/kubernetes/kubernetes/pull/89453)

# Identify an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining Pod endpoints which are untested.

[code]

[code]

# Use API Reference to Lightly Document the Feature

-   [Kubernetes API Reference Docs](https://kubernetes.i

[2020-02-25 22:43] jennybuckley opened #88546 "[FR] Rate limited logging util"
It would be very useful to have a library or util function that can cap the number of times per second a log message is printed. Something like [this](https://github.com/kubernetes/kubernetes/blob/b5e95fc73dafc92b8e94f5f5a53e5fea7b15ee6f/staging/src/k8s.io/client-go/rest/request.go#L565-L590) but more general.

/sig instrumentation
/priority backlog
/assign @logicalhan

[2020-02-25 22:43] liggitt opened #88547 "Switch to go1.14 tls cipher suite helper methods"
Once we upgrade to go1.14, we can use the new CipherSuites and InsecureCipherSuites functions and CipherSuiteName function to build the supported cipher suite flags.

- https://golang.org/pkg/crypto/tls/#CipherSuites
- https://golang.org/pkg/crypto/tls/#InsecureCipherSuites
- https://golang.org/pkg/crypto/tls/#CipherSuiteName

/sig api-machinery

[2020-02-25 22:47] TC-robV opened #88548 "ebs pvc connection times out or takes forever to connect"
**What happened**:
created a stateful set with 5 replicas. it takes 30 mins for all 5 to come up with each one taking forever to connect to the ebs volumes. most of the time it times out and never recovers and i have to delete the pod. sometimes it timesout and then recovers and starts. i've checked log files on the nodes and they report the same error as the client side.
`
  Warning  FailedMount

[2020-02-25 23:10] Huang-Wei opened #88550 "ReplicaSet controller incorrectly claim a plain Pod as its orphans"
**What happened**:

In one recent e2e [flake](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1231581843564793859), it turns out a plain Pod was updated to set its `ownerReference` to a ReplicaSet, whose labelSelector happens to match the Pod's labels. Afterwards, plain Pod gets garbage collected b/c it's actually not owned by the ReplicaSet.

Here is the slac

[2020-02-25 23:12] liggitt commented on #88550
isn't this exactly [controller adoption](https://kubernetes.io/docs/concepts/workloads/controllers/#pod-template)? e2e tests creating pods whose labels place them within a controller selector seems like a test bug

[2020-02-25 23:27] Huang-Wei commented on #88550
It seems to be the case. I rechecked the manifest I created using kubeclt, it doesn't have `metadata.labels`. Let me close this issue.

[2020-02-25 23:27] #88550 closed

[2020-02-25 23:42] Huang-Wei commented on #88441
This issue consists of 3 different symptoms:

- [ ] [sig-scheduling] SchedulerPriorities [Serial] PodTopologySpread Scoring validates pod should be preferably scheduled to node which makes the matching pods more evenly distributed - will be resolved by #88552
- [ ] [sig-scheduling] SchedulerPreemption [Serial]
- [ ] [sig-scheduling] SchedulerPredicates [Serial] validates pod overhead is considered

[2020-02-25 23:52] dims opened #88553 "Please remove bazel based build infrastructure"
- it's tough to maintain 2 things in parallel and keep them in sync
- with the switch to go modules/cache, most of the reasons why bazel was used (speed up compilations) are gone
- gets in the way in multiple ways (example, update of golang versions)
- etc...

[2020-02-25 23:53] cblecker commented on #88553
/sig release

+1 from me

[2020-02-25 23:53] justaugustus commented on #88553
area: everyone
/area build-infra release-eng
/sig release testing
cc: @kubernetes/release-engineering

[2020-02-25 23:56] ddebroy opened #88554 "Add e2e tests for Windows Device Manager"
**What happened**:
This to track there is a followup PR to https://github.com/kubernetes/kubernetes/pull/80917 to introduce e2e tests for Windows.

**What you expected to happen**:
e2e tests get written (fine if it exercises a fake plugin).

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2020-02-25 23:56] ddebroy commented on #88554
/sig windows

[2020-02-26 00:02] liggitt commented on #88553
Bazel-related/specific issues:

* https://github.com/kubernetes/kubernetes/issues/88190
* https://github.com/kubernetes/kubernetes/issues/87441
* https://github.com/kubernetes/kubernetes/issues/78982

[2020-02-26 00:02] justaugustus commented on #88553
+1000000000
We've had a bunch of Slack threads about this, so thank you @dims for actually turning this into an issue.

Here's the latest thread: https://kubernetes.slack.com/archives/C2C40FMNF/p1582673341098700?thread_ts=1582668769.091500&cid=C2C40FMNF

The [#bazel channel](https://kubernetes.slack.com/archives/C5NV3MT97) is filled with questions like, "How do I do this thing that should be moder

[2020-02-26 00:16] egernst commented on #88441
For #3, @Huang-Wei, I believe we need to check the feature gate status, and skip the test if not enabled.

[2020-02-26 00:18] bhagwat070919 commented on #77557
Yes,  I also verified it with EKS cluster with 1.14.

And I don't see any issues in updating.

[code]

So if we see the last statement if successfully updated:
[code]

[2020-02-26 00:21] bhagwat070919 commented on #77557
I believe we should close this issue if we don't see this happen.

[2020-02-26 00:21] Huang-Wei commented on #88441
@egernst Ah, I _thought_ you have already enabled in `kube_features.go`, can you open a PR enable that?

[2020-02-26 00:33] egernst commented on #88441
I will for 1.18, but waiting on e2e_node test to merge first.

Adding a check is probably a good idea either way -- testing PR now.

[2020-02-26 00:43] davidz627 commented on #85623
/remove-lifecycle stale

[2020-02-26 00:47] annajung commented on #78904
Hey @tnozicka checking in again as this issue is marked as `priority/important-soon`. Are you close to completing this for v1.18 release? Another reminder that code freeze is just around the corner! (March 5th).

[2020-02-26 00:48] annajung commented on #43214
Hey @robscott @cmluciano checking in again as this issue is marked as `priority/important-soon`. Are you close to completing this for v1.18 release? Another reminder that code freeze is just around the corner! (March 5th).

[2020-02-26 00:49] annajung commented on #76064
Hey @cadmuxe @hantaowang @dcbw Checking in again as this issue is marked as `priority/important-soon`. Are you close to completing this for v1.18 release? Another reminder that code freeze is just around the corner! (March 5th).

[2020-02-26 00:50] Nittarab opened #88555 "Readiness probe failed: net/http: request canceled (Client.Timeout exceeded while awaiting headers)"
**What happened**:
[code]
My pod configuration:
[code]
It is an helm cart based on stable/wordpress
If I run `kubectl destribe pod [pod-name]`

[code]
This [issue](https://github.com/kubernetes/kubernetes/issues/51096) suggest to increse the `timeoutSeconds`, I tried to increase it to 40 without sucess.

This is a good way to debug the error:
https://stackoverflow.com/questions/53067308/readiness-

[2020-02-26 00:54] egernst commented on #88441
If easier: here's PR to enable the featuregate: https://github.com/kubernetes/kubernetes/pull/88338

[2020-02-26 01:02] robscott commented on #43214
Hey @annajung, we are continuing to make progress on this through this enhancement issue: https://github.com/kubernetes/enhancements/issues/1453. I don't think that progress needs to be tracked separately here though, so feel free to take this issue out the v1.18 milestone.

[2020-02-26 01:47] annajung commented on #43214
That sounds great, I will remove this from bug triage tracking sheet. Thank you!

/milestone clear

[2020-02-26 01:50] saad-ali commented on #69831
I have no objection to removing the check for waiting state `isPodTerminated`. It's a safe change in my head, because at worst it will slow down unmount. The only concern would be if a container is stuck forever in waiting state would that prevent unmount? And it sounds like @Random-Liu will double check that.

[2020-02-26 01:53] msau42 commented on #69831
When @Random-Liu investigated previously, he said removing the check could cause other races and result in unmount never happening.

[2020-02-26 01:54] msau42 commented on #69831
Fixing this may require adding a new state to the container

[2020-02-26 02:32] #88470 closed

[2020-02-26 02:45] verult commented on #88355
Discovered that `getOperation()` and `deleteOperation()` aren't checking `nodeName`.

https://github.com/verult/kubernetes/blob/c6a03fa5be5a3a8eaf1d3953918390230d8115ef/pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go#L225-L230

https://github.com/verult/kubernetes/blob/c6a03fa5be5a3a8eaf1d3953918390230d8115ef/pkg/volume/util/nestedpendingoperations/nestedpendingoperations.go#L23

[2020-02-26 03:34] SataQiu commented on #88553
+1 👍

[2020-02-26 04:01] gnufied opened #88560 "vsphere insufficient permission problems"
It appears that if a k8s cluster has been provisioned with vcenter credentials that has insufficient permissions, storage features of cluster breaks in weird ways and kinda hard to debug.

There are various problems with how vsphere cloudprovider handles this:

1. Outgoing calls to vcenter are issued with a context without any timeout and hence if any of volume plugin calls fail, they are stuck fo

[2020-02-26 04:01] gnufied commented on #88560
/area vmware
/sig storage

[2020-02-26 04:12] gongguan commented on #88357
Seems it makes little sense.

[2020-02-26 04:16] markyjackson-taulia commented on #74379
@nckturner can you let me know what this is depends on? I would like to track that as we get closer to code freeze

[2020-02-26 04:28] ryancastle commented on #62153
This would be very good, but hard to imagine how it would work.

[2020-02-26 05:02] #84724 closed

[2020-02-26 05:06] raccoonback opened #88561 "Turn/Stun protocol support"
Hi.
I'm trying to cluster the required Turn servers with WebRTC using the [Coturn](https://github.com/coturn/coturn) project.

Turn server supports TCP / UDP based turn protocol. Therefore, we want to provide Service Entrypoint by opening TCP / UDP based port as Loadbalancer type in kubernetes.

I thought it would be possible to distribute TCP / UDP traffic with Service (L4) alone without Ingress

[2020-02-26 05:19] raccoonback commented on #88561
/sig network
/sig service-catalog
/area network
/area service-catalog

[2020-02-26 05:35] hh commented on #85782
/assign @BobyMCbobs

[2020-02-26 05:36] hh commented on #85876
/assign @BobyMCbobs
Be sure and link the resulting PRs and promotions to these tickets.

[2020-02-26 06:07] hase1128 commented on #88362
@fengzixu
Thanks your ideas (use initContainer). It looks good for me.
So, I close this feature request. If I come up other requirement, I will reopen the issue. thanks.

[2020-02-26 06:10] TomaszKlosinski commented on #62153
Why? There are many cluster-wide resources in K8s.

[2020-02-26 06:23] ggriffiths opened #88564 "kubectl silently fails parsing annotations when passing numeric value"
**What happened**:
Kubectl/Kubernetes API server silently fails parsing numeric annotation values. If one field value is invalid, all annotations are skipped.

For example, given the following my-pod.yaml, `invalid: 123` is an invalid field (or causes the problem, at least)
[code]

When this yaml is applied, the pod starts, but with missing annotations:
[code]

To compare, I changed the "invalid"

[2020-02-26 06:24] ggriffiths commented on #88564
/sig CLI

[2020-02-26 06:39] Adithya-copart commented on #88555
@Nittarab I may have ran into this issue as well.
Is this happening frequently on your end?

Thanks!

[2020-02-26 06:54] #88362 closed

[2020-02-26 06:56] zedtux commented on #59343
/remove-lifecycle stale

[2020-02-26 07:02] bartsmykla commented on #88553
Big +1 from me

[2020-02-26 07:09] ivan-cai opened #88565 "If detaching failed while deleting statefulset, we re-create the statefulset and the pods are schedulerd on the same node, pod will be "ContainerCreating" because of attach failed"
**What happened**:
I have the same problem as issue [#72181](https://github.com/kubernetes/kubernetes/issues/72181).
When I use 1 node cluster. I create a statefulset with some pvcs，then delete the sts, and fail to detach volume because of some reasons，then we re-create the sts in ExponentialBackoff duration, the pods will be "ContainerCreating".

Then, I try the pr [#72914](https://github.com/kub

[2020-02-26 07:39] zhouya0 commented on #88564
/assign

[2020-02-26 08:22] andyzhangx commented on #70013
I worked out a PR(https://github.com/kubernetes/kubernetes/pull/88569) to mitigate this issue when fuse driver on the node is restarted(mount point is corrupted), could someone take a look? Thanks.

[2020-02-26 08:23] Madhu-1 commented on #79355
/remove-lifecycle stale

[2020-02-26 08:30] boddumanohar commented on #81020
@berk-can are you able to find a solution for this?

@patoarvizu 's explanation is correct. `nodeAffinity` of the PVC doesnt match with the pod. If you are using AWS make sure that you have enough nodes in the availability zone where the EBS volumes are present.

Thanks.

[2020-02-26 08:30] bertinatto commented on #88560
xref: https://github.com/vmware-archive/kubernetes/issues/476

[2020-02-26 08:47] gavinfish commented on #72956
@joakimr-axis
Can I take some of them?
./cluster/gce/gci/master-helper.sh
./cluster/gce/upgrade.sh

[2020-02-26 08:52] Nittarab commented on #88555
@Adithya-copart At the moment I am unable to start one of the most important in my system. It happens all the time...

[2020-02-26 08:59] joakimr-axis commented on #72956
That would be a question for the admins, I guess, but as for me, I am not working on those.

[2020-02-26 09:02] ivan-cai commented on #88565
/sig storage

[2020-02-26 09:15] #82213 closed

[2020-02-26 09:20] philleonard commented on #50375
+1

[2020-02-26 09:23] JGergely commented on #50375
+1

[2020-02-26 09:23] pablomusumeci commented on #50375
+1 🙏

[2020-02-26 09:40] saschagrunert commented on #88553
:+1: from me as well, happy to help with the transition

[2020-02-26 10:03] nimmichele commented on #29298
I would like only to add that in pivotal container service (pks) you have to tag the elb subnet this way:
`kubernetes.io/cluster/service-instance_UUID`
where UUID is something like 7as7dcc6-d46c-48b4-8e33-364f795a88e3
and leave the value empty
Hope this helps!

[2020-02-26 10:27] karan-wahie03 commented on #77557
I am facing the same issue with eks version 1.14, though when I describe the service it says the loadbalancer is ensured but the same is not reflected on the node security groups.

`Events:
  Type    Reason                    Age                From                Message
  ----    ------                    ----               ----                -------
  Normal  EnsuringLoadBalancer      11m (x2

[2020-02-26 11:09] kidlj commented on #73062
For ingresses, you can show its yaml with different apiversions like:

[code]

[2020-02-26 11:36] bart0sh commented on #85938
@AlxSmith11 Is this issue solved? If so, please close it. Thanks.

[2020-02-26 11:54] #87251 closed

[2020-02-26 11:55] hasheddan commented on #88553
👍 happy to help as well :)

[2020-02-26 11:55] serathius commented on #85270
@RainbowMango Flag was added to kubelet.
All tasks for this Issue have been finished.

[2020-02-26 11:57] RainbowMango commented on #85270
Yeah, I see it. And thanks for your help!
I'll close this now.

[2020-02-26 11:57] #85270 closed

[2020-02-26 12:02] cpanato commented on #88553
+1 count with me

[2020-02-26 12:19] liggitt commented on #88564
This is resolved in 1.17 in https://github.com/kubernetes/kubernetes/pull/83552

[2020-02-26 12:19] #88564 closed

[2020-02-26 12:38] bart0sh commented on #80452
@DeepLJH0001 I think this is already fixed by https://github.com/kubernetes/kubernetes/pull/82820.
@odinuge can you confirm?

[2020-02-26 12:47] mcajkovs opened #88574 "etcd and kube-apiserver does not start after incorrect machine shutdown"
I was told that this is correct issue tracker for my problem. Previously I've post this issue [here ](https://github.com/kubernetes/kubeadm/issues/2041)

## Environment

[code]

## Installation and setup
I've installed k8s on my virtual machine (VM) VMware Workstation using following steps:

[code]

## Problem
k8s does not start after boot. As a a result I cannot use kubectl to communicate with k8

[2020-02-26 12:54] mcajkovs commented on #88574
sorry but how?
I have no gear icon on right side next to labels

[2020-02-26 12:55] mm4tt opened #88575 "[kubemark] Hollow-node logs are not collected on kubelet panic"
Here is an example PR (https://github.com/kubernetes/kubernetes/pull/87650) where kubemark presubmit was failing with strange symptoms. Hollow-nodes weren't registering and the hollow-node logs were almost empty, e.g.
[code]

From the logs (and other logs like kubelet logs on the real nodes) it was clear that the hollow-nodes were crashlooping, but the exact reason wasn't clear.
After manually inv

[2020-02-26 12:59] owenliang commented on #76699
no final solutions？

[2020-02-26 13:05] dajianderichang commented on #66892
I encountered the same problem, can you describe in detail the resolution process. thank you very much

[2020-02-26 13:28] liggitt commented on #88574
What is the content of the etcd container logs?

/cc @jpbetz

[2020-02-26 13:35] neolit123 commented on #88574
/sig api-machinery

[2020-02-26 13:36] neolit123 commented on #88548
/sig storage

[2020-02-26 13:39] neolit123 commented on #88524
/sig cli

[2020-02-26 14:00] neolit123 commented on #88524
testing locally the change was introduced with kubectl version 1.17.0.

unless i'm mistaken it originated from here:
https://github.com/kubernetes/kubernetes/pull/84503

[2020-02-26 14:04] mcajkovs commented on #88574
Is this what you want?

[code]

[2020-02-26 14:08] rifelpet commented on #65613
/remove-lifecycle stale

[2020-02-26 14:47] neolit123 commented on #88574
is the `/var/lib/etcd/member` directory present after you have rebooted?
is there a side-process that cleans it up?

[2020-02-26 14:53] mcajkovs commented on #88574
Yes it is presented. No there is no side-process job that cleans it up. Should I clean it now?

[code]

[2020-02-26 14:58] neolit123 commented on #88574
no.

does this cluster have more etcd instances / control-plane Nodes?

[2020-02-26 15:00] mcajkovs commented on #88574
no it is a single node cluster

[2020-02-26 15:00] shufanhao opened #88580 "Doesn't distributed send traffic to pod when using ipvs"
**What happened**:
We have one vip, e.g: `test.com`, there are 8 ip behind this vip, these 8 ips are k8s node ip. When access `test.com` will forward traffic to these 8 ips with round robin. It means that 1 by 1.
[code]
I have deployed 30 nginx pods. And curl vip. Request is as below, looks the number of sending to every pod request is not same. So want to know why ?
[code]

**What you expected to

[2020-02-26 15:05] shufanhao commented on #88580
/sig Network

[2020-02-26 15:07] johnbatty commented on #86647
I have a similar issue - a daily cronjob that fails to get scheduled around 1 in 5 days.
Server version is 1.17.1

[code]
Here you can see that it failed to get scheduled last night and 4 days ago:
[code]

[2020-02-26 15:10] warmchang commented on #82531
/remove-lifecycle stale

[2020-02-26 15:13] johnbatty commented on #86647
After a bit of digging, I think that the problem might be the value of "Starting Deadline Seconds".  In my case this is 10 secs, in the original problem report it is 6 secs.

It turns out that the k8s cronjob controller runs every 10s...
https://github.com/kubernetes/kubernetes/blob/392bf0adef478175b9cf0226b02820eb1820f797/pkg/controller/cronjob/cronjob_controller.go#L95-L96

If the scheduler is t

[2020-02-26 15:16] Raffo commented on #88524
@neolit123 thank you for answering and adding the sig. #84503 looks like a genuine refactor to me, but maybe there is a part that I am missing.

Maybe @wojtek-t can shed a light on the behaviour of the conversion and how we changed the serialization of an empty map into `null` instead of `[]``?

[2020-02-26 15:18] johnbatty commented on #86647
I have changed my value of "Starting Deadline Seconds", but will take a week to confirm whether this fixes the issue.

Note that if the schedule is skipped, then the cronjob controller does trigger a warning event. However it turns out that events time out and disappear after only an hour(!) by default which could explain why I haven't seen these.
https://github.com/kubernetes/kubernetes/issues/52

[2020-02-26 15:43] shikanon opened #88581 "Implementation of merge in `scheduler/framework/v1alpha1/interface` should be more concise？"
I find method `Merge` in `pkg/scheduler/framework/v1alpha1/interface.go` implementation has a problem that the variable `finalStatus.code`  is assigned repeatedly. Why to design it in this way? Can we remove duplicate?

[code]

finalStatus.code was assigned two times.

[2020-02-26 15:47] shikanon commented on #88581
/sig scheduling

[2020-02-26 15:54] alculquicondor commented on #88529
cc @Huang-Wei

[2020-02-26 16:03] alculquicondor commented on #88469
Where you able to confirm the reason of the flake?

[2020-02-26 16:04] wallrj commented on #79606
In https://github.com/kubernetes/kubernetes/issues/51594#issuecomment-334646068 @kow3ns wrote:

It looks like statefulset API supports conditions, but the statefulset controller doesn't set them...at least it didn't at time of writing: https://github.com/kubernetes/kubernetes/blob/v1.19.0-alpha.0/staging/src/k8s.io/api/apps/v1/types.go#L219

[2020-02-26 16:10] renukamanavalan opened #88583 "Applying a daemonset to thousands of controllers"
Request for info:

**Goal:** To manage 50K to 100K nodes using kubernetes for applying daemonsets

A possibility:
- To manage this scale, we need around 5K to 10K of controllers/masters.

- Nodes can add labels that describe self as static & dynamic data
  Static data: e.g. clustername, platform, HWSKU, ...
  Dynamic Data: e.g. Status, ...

- Apply daemonset with appropriate node-selectors at a ce

[2020-02-26 16:13] renukamanavalan commented on #88583
I require #sig-scalability. Not sure, how to add this.

[2020-02-26 16:19] hasheddan commented on #86876
/cc @kubernetes/sig-scheduling-bugs

[2020-02-26 16:25] adamdougal commented on #77058
Is there anything I can do to move this along? I'm surprised I've not had anything back given this can potentially (and has) cause production incidents.

[2020-02-26 16:51] Nittarab commented on #88555
I tried to use a simple docker container: https://hub.docker.com/r/jmalloc/echo-server/ and the readiness Probe do not fail anymore. So is not a Kubernetes bug...

[2020-02-26 16:51] #88555 closed

[2020-02-26 17:14] tedyu commented on #88574
From etcd log:
[code]
It seems the panic is by design if the recovery fails (from server.go):
[code]

[2020-02-26 17:24] jayunit100 commented on #87857
@addada We have a revamp of the testing suite in flight , which lives here https://github.com/jayunit100/k8sprototypes/tree/master/netpol, which we will be merging into antrea (temporarily, as we wait for its home upstream) ... any thoughts on it ? collecting feedback, overall proposal is here https://github.com/vmware-tanzu/antrea/blob/community-network-policy-tests/docs/design/cni-testing-initia

[2020-02-26 17:26] odinuge commented on #80452
Hi @bart0sh

WIth #82820 this would not cause a crash, but https://github.com/kubernetes/kubernetes/pull/80831 is still required in order to fix this properly.

[2020-02-26 17:31] mateuszlitwin commented on #88469
@alculquicondor not yet, what is the easiest way to run this test multiple times? Should I try to reproduce this locally or create some temporary PR just for this purpose?

I wrote PR for the test fix to remove sleep from the PermitPlugin, it had to be done sooner than later regardless of the cause of flakiness.

[2020-02-26 17:39] andrewsykim commented on #72236
/reopen
/remove-lifecycle rotten

[2020-02-26 18:23] alculquicondor commented on #88469
Understanding the reason of the flake is important to make sure we are fixing the right thing and that we won't have future flakes.

Please try to run the tests locally about 10 times.

[2020-02-26 18:25] alculquicondor commented on #88469
It should be something like:

```make test-integration WHAT=./test/integration/scheduler GOFLAGS="-v" KUBE_TEST_ARGS="-run ^TestCoSchedulingWithPermitPlugin$"```

If that doesn't work, run `./hack/install-etcd.sh` first

[2020-02-26 18:26] dvaldivia commented on #60845
@nikhita but when in the life-cycle of the CR can the status be updated? Inside an informer `AddFunc` state, if `UpdateStatus` is attempted, an error is produced by the API server that the resource doesn't exist yet, hinting that the informer thinks the object already exist and it's not ready for updates yet, however `Update` succeeds if called, but any changes to `Status` get rolled back

[2020-02-26 18:41] bertinatto commented on #88560
/vc @andrewsykim

[2020-02-26 18:45] shivasuri commented on #4476
Hi, I am trying to get the default storage class programatically. I see here that I can't index by the `storageclass.kubernetes.io/is-default-class` annotation; is there some other way to get the default one?

[2020-02-26 18:58] sftim commented on #88561
I think this is
/triage support

[2020-02-26 18:58] sftim commented on #88561
/remove-triage unresolved

[2020-02-26 19:07] sftim commented on #88522
@DiCanio you can suggest a documentation improvement via https://github.com/kubernetes/website/issues/new/

Would you like to do that?

Aside: Kubernetes doesn't itself run containers; that's delegated to a container runtime.

[2020-02-26 19:19] BobyMCbobs commented on #85876
WIP mock test write: https://github.com/cncf/apisnoop/pull/298

[2020-02-26 19:28] BobyMCbobs commented on #85782
Superseded by https://github.com/kubernetes/kubernetes/issues/88545

[2020-02-26 19:52] deads2k commented on #88508
To my knowledge, the usage of fake clients to drive informers has never worked and has been a consistent limitation of the fake client. We don't consider it a bug, because the mock is a limited view into the interface.  If you find the problem and fixed it, I'd be happy to review an addition to the mock that supports this if it is reasonably sized, but I don't see this being prioritized by the usu

[2020-02-26 19:53] #84330 closed

[2020-02-26 20:15] tedyu commented on #84508
@davidq2q
Do you still observe this problem ?

[2020-02-26 20:47] DiCanio commented on #88522
@sftim thanks for pointing me to the right repository and sorry for messing this up.

Will file an issue in the other repo tomorrow and ensure this one right here being referenced.
Closing this one as soon as the new issue is filed.

[2020-02-26 20:53] julianvmodesto commented on #86935
For (1):

Maybe we could add another git checkout ref to `.extra_refs` that has a `.base_ref = master` so we have both the PR + master checked out, then run tests on master in the same job for the `benchstat` comparison.

[2020-02-26 21:28] jennybuckley commented on #73723
Closing, not because this is done, but because this is now being tracked in https://github.com/orgs/kubernetes/projects/38

[2020-02-26 21:28] #73723 closed

[2020-02-26 21:33] #85737 closed

[2020-02-26 21:43] apelisse commented on #86935
Let's forget about that for now? If we could see a graph of the benchmarks like the example that you showed me before, that'd probably be a massive step forward already, thanks Julian!

[2020-02-26 22:01] julianvmodesto commented on #86935
This is now working as a periodic + presubmit for smd:
https://testgrid.k8s.io/sig-api-machinery-structured-merge-diff#ci-benchmark&graph-metrics=allocs%2Fop&graph-metrics=op%20count&graph-metrics=alloced%20B%2Fop&width=20

https://testgrid.k8s.io/sig-api-machinery-structured-merge-diff#pr-benchmark&graph-metrics=allocs%2Fop&graph-metrics=op%20count&graph-metrics=alloced%20B%2Fop&width=90

Still n

[2020-02-26 22:09] apelisse commented on #86935
That's awesome Julian, thank you!

[2020-02-26 22:20] davidz627 commented on #79043
/open
no current released versions of Kubernetes or External-provisioner where this is fixed. Likely to be `k8s 1.17.4+` and `external-provisioner 1.6+`

[2020-02-26 22:21] davidz627 commented on #79043
/reopen

[2020-02-26 22:44] xinzhang commented on #42649
I still have this issue in GKE running 1.13.12. Tried to update concurrencyPolicy and startingDeadlineSeconds (30), but no luck. Have you guys been able to add those and it worked?

[2020-02-27 00:41] lorenz commented on #82494
We just hit this because of a small time period of network instability and it took down a zone. I think it's related to the issue mentioned in https://github.com/kubernetes/kubernetes/pull/17741#issuecomment-161129024 when the feature to mark pods
 as not ready when the node is no longer ready was introduced .

Basically Kubelet expects conditions to be managed by itself, but the NodeController fr

[2020-02-27 00:56] annajung commented on #77019
Hey @nckturner Checking in again as code freeze is coming up in a few days. Do you think this will be completed for the release?

[2020-02-27 00:57] annajung commented on #80916
Hey @apelisse Code freeze is coming up in a few days. How does this look for the release?

[2020-02-27 01:08] shufanhao commented on #88580
/area ipvs

[2020-02-27 01:38] gongguan commented on #88583
/sig scalability

[2020-02-27 01:46] bhagwat070919 commented on #77557
@karan-wahie03 ,

Could you share your yaml ?

I can try with eks 1.14.

[2020-02-27 01:47] BobyMCbobs commented on #88302
PR: https://github.com/kubernetes/kubernetes/pull/88588

[2020-02-27 02:31] #83210 closed

[2020-02-27 02:50] 372046933 commented on #87277
Thanks for your kindly help. To exclude iptable problems. We have put an Nginx in the cluster, and manually  write the pod's IP in Nginx's conf. So there is not iptable required. Right? We also
tried using JMeter and even writing client HTTP code to redo the benchmark. The result is confusing. Both JMeter and `ab` have significant delays. While our own code don't. I will continue to report the lat

[2020-02-27 03:04] julianvmodesto commented on #88274
Okay after looking at this, the change I referenced was for generated clientsets. However, there are non-generated clients in client-go, including the scale client.

Other clients include the dynamic client, metadata client, and event client.

The dynamic client interface is probably the next most interesting one.

[2020-02-27 03:21] julianvmodesto commented on #68514
I don't think `kubectl scale --dry-run` is blocking GA, so we seem covered here for addressing features, bugs, and testing before code freeze and only have the docs left.

[2020-02-27 03:24] julianvmodesto commented on #68526
Looks like we're good for everything except for https://github.com/kubernetes/kubernetes/issues/87600 before code freeze. I'm going to also check integration tests again, but I feel that there is sufficient overlap with integration tests for dry-run verbs at least for the dry-run specific behavior. Otherwise, we only have a little docs left!

[2020-02-27 03:34] julianvmodesto commented on #68514
Actually one last change to merge: https://github.com/kubernetes/kubernetes/pull/88133

[2020-02-27 03:39] #82889 closed

[2020-02-27 03:39] #87447 closed

[2020-02-27 03:47] bhagwat070919 commented on #77019
I am taking a look at this one

[2020-02-27 03:49] jfbai opened #88604 "[kubemark] kubemark hollow nodes panic on starts"
**What happened**:

hollow nodes were running with no errors, but all nodes suddenly run into `CrashLoopBack` status for several minutes (maybe 10min+), and then recover. From the logs, I observed a panic

[code]

Seems exec command was called, but I didn't find any exec call from the apiserver side.

**What you expected to happen**:

kubemark nodes run without panic

**How to reproduce it (as min

[2020-02-27 04:15] saiyam1814 commented on #15478
I feel this issue should be reopened as there is still enough use cases for this feature.
/reopen

[2020-02-27 05:32] BenTheElder commented on #87197
It's not obvious what needs to be done here, I do not have s390x machines to work with nor does the community / CI / CNCF as far as I know ... we have to cross build and there's nothing obviously wrong with the cross build.

Someone will need to identify what is wrong with the cross build and then we can build new images with whatever the fix is.

[2020-02-27 05:35] BenTheElder commented on #87197
results noted here building on an s390x machine are a nice confirmation but building in that way not an approach we can actually take to build the real images, we need to know if re-cross building works (implying some failure during the "official" image build) or if there's some deeper problem with the cross built image approach and what the fix is.

[2020-02-27 06:25] BenTheElder commented on #72956
anyone is free to work on anything, PRs welcome 😅

the question will just be getting them in. I apologize for my own review
latency these days, have a bit too much going on.

On Wed, Feb 26, 2020 at 12:59 AM Joakim Roubert <notifications@github.com>
wrote:

[2020-02-27 06:28] ashleydavis commented on #15478
Personally, I still think Kubernetes should support Docker log drivers or some other simple built-in way to configure logging.

I've been told many times that setting up logging is easy on Kubernetes, but now having been through the process of setting up my own logging aggregation system I can say that it truly is not simple.

I've written a blog post on the simplest way to hand-roll your own log

[2020-02-27 06:30] karan-wahie03 commented on #77557
@bhagwat070919 Thanks for the prompt reply.

I was deploying my application using helm charts and I updated the IP source ranges in the resource file and used helm upgrade --install command, the ips in service object were updated but security groups were not updated. I am attaching the yaml for your reference.

TIA

`apiVersion: v1
kind: Service
metadata:
  annotations:
    service.beta.kubernetes

[2020-02-27 06:47] #79723 closed

[2020-02-27 06:49] connatix-cradulescu commented on #22024
I am facing same warring too, on my Nginx controller on AWS EKS cluster

[code]

[2020-02-27 06:53] BenTheElder commented on #80228
It shouldn't be too involved to mention it in a slack channel or mailinglist, versus this issue tracker being stuffed with >2000 open issues 🙃
I've just brought this up, but in general if nobody has even been up for doing that much it seems unlikely to get resolved...

[2020-02-27 07:00] BenTheElder commented on #88335
this doesn't appear to be get-kube issues currently at least.
[code]
what a great error :/
/remove-sig testing
/sig cli
@kubernetes/sig-cli-test-failures

[2020-02-27 07:00] antoineco commented on #22024
@connatix-cradulescu this is perfectly expected, no worries. The messages are several hours apart.

When nothing happens in your cluster, the watches established by the Kubernetes client don't get a chance to get refreshed naturally, and eventually time out. These messages simply indicate that these watches are being re-created.

[2020-02-27 07:11] bhagwat070919 commented on #77557
Just one quick question and thought:

NLBs do not have Security Groups. The current NLB controller opens up the nodePort on the nodes' security group to 0.0.0.0/0 in order to allow traffic. When a user defines loadBalancerSourceRanges, it should respect the IP CIDRs they specify.

You can look at #57212 for reference.

If you are saying its not updating the SG of nodes then we need to look .

[2020-02-27 07:19] bhagwat070919 commented on #85669
This issue has been fixed with this PR : https://github.com/kubernetes/kubernetes/pull/83446

Can we close this issue ?

[2020-02-27 07:21] karan-wahie03 commented on #77557
@bhagwat070919 yes the node security groups were not updated.

[2020-02-27 07:30] bhagwat070919 commented on #77557
ohk , I will take a look and update.

BTW we would welcome any PR's solving this if you have already identified the bug in the code.

[2020-02-27 07:45] thdrnsdk opened #88606 "Incorrect warning message output when using apiserver extra options (authorization-mode)"
**What happened**:

when i installed k8s using kubeadm and my custom config like
[code]

then output is

[code]

It is a bug that the default value(Node,RBAC) is entered but a warning message is displayed.

https://github.com/kubernetes/kubernetes/blob/4e79344501bfc5d3bc48caa12c41b9246d90850d/cmd/kubeadm/app/phases/controlplane/manifests.go#L207

A function must be added to compare two string slic

[2020-02-27 08:04] mcajkovs commented on #88574
I've tried to rename` /var/lib/etcd/member` to `/var/lib/etcd/member.bak` and then isssue `sudo systemctl restart kubelet` but after those steps I get only one service running in cluster

[code]

If I understand correct the issue is due to broken etcd database. Are there any best practices for periodically backing up etcd database during cluster operation? Or is this type of issue normal when clus

[2020-02-27 08:15] #88280 closed

[2020-02-27 08:32] mailjunze commented on #57249
/reopen

[2020-02-27 08:37] #83200 closed

[2020-02-27 09:07] gongguan commented on #88604
It looks like actions such as `kubectl exec` triggered this panic, because fake docker client hasn't inject an `inspect_exec` error.

[2020-02-27 09:08] rjeberhard commented on #54579
While migrating from CRD v1beta1 to v1, this issue comes back up...  We used the same technique as described above by the maintainer of the Prometheus operator to generate and inline the schema for the built-in types that we reference; however, this makes for very large schema sections.  This was acceptable when all versions had to share a single, backward compatible schema, but since CRD v1 wants

[2020-02-27 09:08] gongguan commented on #88604
/assign

[2020-02-27 09:39] RainbowMango commented on #88426
/assign @yue9944882
In favor of #88609

[2020-02-27 09:54] gongguan commented on #88604
I'm not sure it should be fixed, because kubemark doesn't use fake docker now.

[2020-02-27 10:14] Nik-Novak commented on #62872
This seems like a must have for any kind of consistent CRD development. For example, reusing existing validation schemas in your CRD allows for resources to have standardized specifications, that also stay up-to-date at all times.

[2020-02-27 10:22] yuskul commented on #62283
@janetkuo
If

then please, explain, why `hpa` (HorizontalPodAutoscaler) does not work with newer features, from the newer API, like scaling on non CPU-metrics (RAM-, custom-metrics)?

As you mentioned above, by default it shows (or provides) older API, for backward compatibility.
How to set to use the newer one for `hpa`? In the output is shows different spec (with out any metrics), then I provide

[2020-02-27 10:31] ialidzhikov opened #88611 "Container status is shown as running for SIGKILL-ed container"
**What happened**:
Container status in the Pod status is shown as running for a SIGKILL-ed container.

**What you expected to happen**:
Pod status to properly reflect that the container is terminated.

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply the following Pod

[code]

2. Ensure that after 30s (.spec.activeDeadlineSeconds) the Pod will be with `.status.phase=Faile

[2020-02-27 10:33] ialidzhikov commented on #88611
/sig api-machinery

[2020-02-27 11:06] The-Fonz commented on #69696
Having this same problem on 1.15.9. The taint workaround does work, the PodDisruptionBudget does not. This is really a pity as autoscaling is one of the best features of GKE, and this getting broken by *sytem* pods is horrible and costing us a lot of money + effort to manually drain pools.

Is there any other workaround or fix on the way?

[2020-02-27 11:37] ivan-sukhomlyn commented on #85669
@bhagwat070919 Seems like yes as the fix is already merged to the Kubernetes **master** branch and will be realized in the **1.18 version**

[2020-02-27 11:51] neolit123 commented on #88574
the folder contains the data of your existing cluster. deleting it would mean data loss.

this seems more like a bug in the etcd server where it cannot restore it's previous state.

these docs provide some guidelines:
https://docs.openshift.com/container-platform/4.1/backup_and_restore/backing-up-etcd.html
https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/

if you had mult

[2020-02-27 11:52] neolit123 commented on #88574
if you have used `kubeadm upgrade apply` on that Node you should have an etcd backup under `/etc/kubernetes/`.

[2020-02-27 12:20] ialidzhikov opened #88613 "Pod is removed from store but the containers are not terminated"
**What happened**:
Pod is removed from store but the associated containers can run on the Node for a very long time.

**What you expected to happen**:
I would expect to have a consistent behaviour and when a Pod is removed from the store, the associated containers to be terminated.

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply the following Pod:
[code]

2. Ensure that

[2020-02-27 12:21] ialidzhikov commented on #88613
/sig api-machinery

[2020-02-27 12:29] jfbai commented on #88604
Thanks a lot, but I didn't find any logs about `exec` call and almost all the nodes are paniced.

[2020-02-27 12:38] ninja- commented on #69696
@The-Fonz idk, I had the same issues but now it works just fine out of the bx on 1.14-ish

[2020-02-27 12:47] claudiubelu commented on #76827
/lifecycle stale

[2020-02-27 12:51] vincent-pli opened #88614 "Preemption: set "Status.Reason" for victim pod"
**What would you like to be added**:
Set the `Status.Reason` as `Preempted ` or whatever

**Why is this needed**:
When a `Pod` is preempted by a Preemptor, the `Pod` will be delete directly, the `PodPhase` is `Failed` but the `Reason` is nil.

A controller which create `pod` will hit issue.
Sometimes it found the `pod` is disappear, that's ok, it will create another `pod`
sometimes it found the `p

[2020-02-27 13:05] notpad commented on #88458
For the `BindAddress` flag in kube-proxy, `127.0.0.1` is used if the address is not specified and can't be resolved by hostname, so I suggest to remove this comment: `set to `0.0.0.0` for all IPv4 interfaces and `::` for all IPv6 interfaces'

https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/server_others.go#L149-L155

[2020-02-27 13:08] ingvagabund commented on #86972
Will wait for a day or two to collect more artifacts in https://k8s-testgrid.appspot.com/sig-scalability-benchmarks#scheduler-perf so the plots looks more shiny with more data.

[2020-02-27 13:10] vincent-pli commented on #88614
/sig Scheduling

[2020-02-27 13:18] danwinship commented on #87197
Are there logs somewhere of the build that produced the current image?

[2020-02-27 13:18] danwinship commented on #87197
(and if not then can we kick off a new build?)

[2020-02-27 13:38] skilxn-go commented on #88027
@alculquicondor One more question, the `Configurator.buildFramework` is under package `scheduler`, and the compatibility test is under package `testing`. So for mocking `Configurator.buildFramework`, we need to change `Configurator.buildFramework` to a function variable in `Configurator`, and add a `NewConfigurator` method for it, right？
It will look like:

[code]

Maybe we can add something like

[2020-02-27 13:43] davidq2q commented on #84508
@tedyu yes I still observe the problem in our current production cluster. However I am in the process of migrating everything to a new kubernetes cluster that has a entirely different setup.

Our old production cluster which has this problem is running on 5 bare metal machines running on Debian 9 stretch. Provisioned with kubespray and using metallb in vrrp mode to assign ip's to kubernetes servic

[2020-02-27 13:46] davidq2q commented on #84508
/remove-lifecycle rotten

[2020-02-27 13:50] smirnov-mi commented on #53059
I have the same issue on k8s 1.17.2, rook-ceph as storage. One worker node getting turned off, pod is trying to be evicted after 5 minutes, but can not start because "Volume is exclusively used ...by the old pod". Old pod is getiing stuck in "Terminating". Workaround: kill the old pod, kill the new pod, wait until the new pod is still unable to start, kill the new pod again. Pretty weak for a clus

[2020-02-27 14:05] mailjunze commented on #81469
NLB currently support only TCP health checks.

[2020-02-27 14:19] liggitt commented on #86666
frozen keeps the bot from auto-closing it if there's no activity

[2020-02-27 15:27] Madhu-1 opened #88622 "Cannot patch PV.spec.csi object to add csi secrets"
**What happened**:
currently, we have existing PV created by the csi driver having 2 issues

* We have existing PV created by the external-provisioner without reference to expand secret details, recently we have deployed resizer containers to resize the PVC. but as the original PV doesn't contain the expand secrets, all PV's created before are failing to resize.

even we tried to patch the pv.spec

[2020-02-27 15:30] Madhu-1 commented on #88622
cc @gnufied @msau42 @jsafrane @saad-ali

[2020-02-27 15:31] alculquicondor commented on #88027
Or rather, you could add something like: `WithFrameworkBuilderCapturer`, so that you don't have to mock the whole thing.

[2020-02-27 15:31] Madhu-1 commented on #88622
/sig storage

[2020-02-27 15:32] alculquicondor commented on #87617
We are done with the initial implementation items. However, we will be discussing #88529 in today's SIG meeting.

[2020-02-27 15:32] jiangxiaoqiang commented on #70732
/reopen

[2020-02-27 15:33] Madhu-1 commented on #88622
/sig storage

[2020-02-27 15:45] xmudrii commented on #88553
👍 💯 I’d be happy to help as well. :)

[2020-02-27 15:47] skilxn-go commented on #88027
Got your message in slack, let me reply here. 😄
`WithFrameworkBuilderCapturer ` sounds good, and do I need to revert the change in #88030? I think `BuildArgs` is not necessary now.

[2020-02-27 15:50] alculquicondor commented on #88027
I think they will still be useful for the other test:

[2020-02-27 15:50] zanetworker commented on #88613
/sig node

[2020-02-27 15:59] baurmatt commented on #72635
We're running into the same issue with OpenStack security groups and would love to see this fixed!

/reopen
/remove-lifecycle rotten

[2020-02-27 16:13] tedyu commented on #84508
[code]
Probably you can periodically use pprof to capture the memory uage of kubelet, etc so that you can have idea what might have caused the (potential) leak.

[2020-02-27 16:23] tedyu commented on #88614
[code]
I think you meant preempted.
Accordingly the Status.Reason should be set 'Preempted'

[2020-02-27 16:30] hazzyeer commented on #40224
Scale up your deployment and apply your deployment and service files, then back to your desired state.

[2020-02-27 16:53] apelisse commented on #68526
Do you know specifically what needs to be updated for the tests?

[2020-02-27 16:58] leonj1 commented on #57291
For routine restarts have you tried: https://github.com/ptagr/pod-reaper ?

[2020-02-27 17:01] tnozicka commented on #78904
@liggitt

I agree with UIDs, revisions and dummy annotation.

I am not yet convinced about the value of checking pod level properties on restart counts as upgrade is pretty much expected to restart the node or container runtimes. I am not sure the test can reliably determine which one of these changed.

The only reason I see to test it at workloads level is because we allowed a limited subset of P

[2020-02-27 17:03] liggitt commented on #78904
An upgrade of the API server is emphatically not expected to restart workloads. That's an important dimension to represent in our upgrade tests, and is what this issue is tracking.

[2020-02-27 17:21] apelisse commented on #80916
It's partially improved, we might send a PR to improve the error.

 (sorry, I don't know what else to say?)

[2020-02-27 17:28] apelisse commented on #80916
@julianvmodesto I was talking with @seans3 yesterday, and we were talking about the defautl manager in kubectl.

We realized that:
1. We don't specify a manager for most update operations in kubectl, and rely on the user-agent to be detected as "kubectl"
2. We don't have a way to configure this beside server-side apply
3. The default for server-side apply is "kubectl"

Wouldn't it improve the expe

[2020-02-27 17:32] tnozicka commented on #78904
the issue is tracking:

a) pod recreations
I think this is the majority of failures, at least those I've encountered with defaulting. Usually manifested as hotloops.

b) container restarts
Sounds more like a Pod level check. I could hook it there as well but I am unsure on

I haven't dig deep enough yet for what the upgrade actually does but real cluster upgrade procedure include upgrading runtime

[2020-02-27 17:32] davesargrad opened #88627 "Svc Performance for NodePort degrades significantly when addressing cluster master"
**What happened**:
We have a very structured test for testing the throughput to a service running on k8s.
The test is expected to drive a sustained message rate of 10,000 msg/sec (100 byte msg) to/from the service.

A successful run of the test is shown below.
![image](https://user-images.githubusercontent.com/48793689/75468576-6d5e1600-595b-11ea-9a4a-37a353fd5e29.png)

Here we see that a message

[2020-02-27 17:39] mikedanese commented on #88472
Transitively depending on mixed versions of client-go are not supported in general. We should help major transitive dependencies update to 1.18 client-go levels as soon as possible after release. What dependencies are important to you?

[2020-02-27 18:00] aaronbbrown commented on #76699
If it's helpful https://github.blog/2019-11-21-debugging-network-stalls-on-kubernetes/ describes the approach we took  at GitHub to finding and mitigating most of these network stalls.

[2020-02-27 18:12] apelisse commented on #86935
Looking at these two benchmarks, it's actually pretty hard to see how a pull-request (pr-benchmark) is diverging from the master branch (ci-benchmark). I'd be really nice if we could just compare the pull-requests results with the latest ci results.

[2020-02-27 18:15] smarterclayton commented on #78904
Great catch, this will make everything better.

[2020-02-27 18:32] tallclair commented on #29346
This is still a pain point when writing E2E tests.

[2020-02-27 18:55] alculquicondor commented on #88529
From the SIG meeting, we shared the following thoughts on the options:

1. The downside is that users can't directly make some extenders optional from profiles. However, pods will preserve the ability to opt-out from an extender by not using their managed resources . In other words, this is no worst than 1.17 scheduler, which has no profiles support. Also, it is easier to move to option 2 in a fut

[2020-02-27 18:59] Huang-Wei commented on #88529
Thanks @alculquicondor for the neat summarization.

BTW: let's also try to get feedback from end-users - I think @yqwang-ms, @everpeace and @cheyang are using extenders in their prod env. Can you please share your options?

[2020-02-27 19:43] graham-web opened #88630 "kubectl cp chokes on files with square brackets"
**What happened**:

Attempting to `kubectl cp` a directory of files from local machine to remote pod. One of the files inside the directory contains square brackets in the name (e.g. `broken[.txt`)

**What you expected to happen**:

File should appear in remote pod at `/tmp/test/broken[.txt`

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes ve

[2020-02-27 19:48] #83329 closed

[2020-02-27 20:34] graham-web commented on #88630
/sig cli

[2020-02-27 20:37] damemi opened #88634 "Update scheduler extender API to be better defined"
As noted in https://github.com/kubernetes/kubernetes/pull/88540, currently the `extender/v1` API in the scheduler is missing a couple things:
* internal version or conversion methods
* typemeta on objects
* json tags on types

Since we can't make these changes to the current version of the type without potentially breaking expectations for existing consumers, this may require bumping to a new api

[2020-02-27 20:37] damemi commented on #88634
/sig scheduling

[2020-02-27 20:41] #83401 closed

[2020-02-27 20:41] #85685 closed

[2020-02-27 21:17] fedebongio commented on #88547
/sig auth

[2020-02-27 21:18] fedebongio commented on #88574
/assign @jingyih

[2020-02-27 21:19] fedebongio commented on #88611
/assign @Jefftree

[2020-02-27 21:20] anderseknert commented on #82236
/remove-lifecycle rotten

[2020-02-27 21:21] fedebongio commented on #88613
/remove-sig api-machinery

[2020-02-27 21:36] bswartz opened #88635 "Allow generic data sources"
**What would you like to be added**:

Allow any custom resource to be the data source of a PVC.

**Why is this needed**:

See this KEP:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20200120-generic-data-populators.md

[2020-02-27 21:39] Michael-Sinz commented on #49343
/reopen

This is a rather concerning issue as we ran into an issue where kubectl hung due to one of the masters not responding and thus we did not get some other operation to continue after the fact.  We started to add --request-timeout but that does not work on nodes (as per above)

The current only work-around is to wrapper everything with yet another process to timeout the kubectl commands.

[2020-02-27 21:43] bswartz commented on #88635
/sig storage

[2020-02-27 21:43] kardianos commented on #88472
@mikedanese (I'm author of govendor tool and I now use go modules.) Honest question, why doesn't client-go issue a v2, v3 on obviously breaking changes? I understand you want to keep it in line with k8s releases, but still, there must be a way to do both at some level. Then clients could incrementally adopt versions.

[2020-02-27 22:21] nckturner commented on #85669
/close

[2020-02-27 22:21] #85669 closed

[2020-02-27 22:59] odinuge commented on #49343
/reopen

[2020-02-27 22:59] odinuge commented on #49343
/remove-lifecycle rotten

[2020-02-27 23:32] neolit123 commented on #88604
/sig scalability

[2020-02-28 00:10] vincent-pli commented on #88614
@tedyu
Thanks, corrected.

[2020-02-28 00:47] antoninbas opened #88640 "defaultFocus and serialTestsRegexp when building ginkgo command for conformance tests are incorrect"
**What happened**:
When using sonobuoy to run some community tests, I realized that ginkgo was not invoked properly. More precisely, when invoking sonobuoy like this:
[code]
I saw the following in the sonobuoy logs:
[code]

Because I am running the tests in parallel, and sonobuoy does not set `E2E_SKIP`, the code defaults to `serialTestsRegexp` (see https://github.com/kubernetes/kubernetes/blob/ma

[2020-02-28 00:56] antoninbas commented on #88640
I opened a PR for this https://github.com/kubernetes/kubernetes/pull/88641

[2020-02-28 00:57] antoninbas commented on #88640
/sig testing

[2020-02-28 01:16] erictune commented on #54579
I acknowledge this is an issue and will look into it.

@rjeberhard
Can you point at an example of your types.go files that ends up being too large?

[2020-02-28 02:02] starbassma commented on #88630
Hello,
I'm working on it..

[2020-02-28 02:45] halfvector commented on #72782
Running into this same issue. This output is needed to identify the configuration change introduced by a deployment.

If the `-o{yaml|json|...}` flag is not going to be supported on the `rollout history` command, then `kubectl get deployment/my-deployment --revision 40 -o yaml` could be an intuitive alternative to support this use-case.

[2020-02-28 02:50] #88239 closed

[2020-02-28 02:52] Huang-Wei commented on #88634
One note: if we want to incorporate TypeMeta into the serialized extender APIs, we should ensure "serialized extender API objects" to be passed onto extenders, and also guide users to use newly generated utilities to covert the received objects into v1, or v2 at their extender programs.

To minimize the impact on user side, I'd suggest we only start the refactoring when the fields really need upda

[2020-02-28 03:50] huchengze opened #88643 "Use intree-rbd to expand pvc failed"
**What happened**:

When I use intree-rbd to expand a pvc from 20Gi to 30Gi, it has been in the Resizing state for a long time.

[code]

And kube-controller-manager reported this error：

[code]

The most important msg is:

[code]

I found this err:
https://github.com/kubernetes/kubernetes/blob/79377454e8dfa4c9c96f786c2f34e2a6230f7139/pkg/volume/rbd/rbd_util.go#L735

After I read this part of the c

[2020-02-28 03:51] huchengze commented on #88643
/sig storage

[2020-02-28 03:55] yqwang-ms commented on #88529
Thanks @Huang-Wei  for the notification :)

Take the Motivation of Multi Scheduling Profiles:

I see there are still gaps between multiple profiles and multiple schedulers, (I just know multiple profiles today, pls correct me if I am wrong)
1. If we using option 1, different profiles will share the same extender for the same interest resource name (such as abc.com/gpu). However, for multiple sched

[2020-02-28 04:17] mikedanese commented on #88472
Last time I checked, we bumped the major version of client-go every minor release of Kubernetes:

[code]

However, it looks like that might no longer be the case after kubernetes/enhancements#1350, kubernetes/publishing-bot#210 where we moved to v0.x.y. Semver does allow breaking changes on these upgrades:

From https://semver.org/

It seems like the old tags would break `go get` though? cc @nikhi

[2020-02-28 04:20] #88536 closed

[2020-02-28 04:54] kardianos commented on #88472
@mikedanese Go modules does use semver as a guide, but "go mod" only puts major versions in their own package, thus only major versions can be gracefully upgraded. Due to that, breaking changes should bump the major versions so dependencies can gracefully upgrade on their own timeline.

You can see what tags go modules recognize: https://pkg.go.dev/k8s.io/client-go/kubernetes?tab=versions

Note th

[2020-02-28 05:11] tedyu commented on #88643
[code]

[2020-02-28 05:19] lpabon commented on #88208
Hi guys, thank you for pointing this out. We are fixing that now. https://github.com/libopenstorage/openstorage/pull/1445 . Do we need to update Kubernetes in any way to resolve this?

[2020-02-28 05:51] d-kuro opened #88645 "Wrong ownerReferences.apiversion created by using kubectl create job --from=cronjob command"
**What happened**:

`ownerReferences.apiVersion` of Job created by using `kubectl create job --from=cronjob` command will be `apps/v1`.
This apiVersion is wrong.
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#cronjob-v1beta1-batch

[code]

**What you expected to happen**:

Set the `batch/v1beta1` to `ownerReferences.apiversion`

**How to reproduce it (as minimally and precise

[2020-02-28 05:52] d-kuro commented on #88645
/sig cli

[2020-02-28 06:38] tamalsaha commented on #88208
@lpabon , I suppose you can cut a new release for openstorage repo and update k/k's gomod?

[2020-02-28 07:05] ukreddy-erwin commented on #56476
The IP address of the k8s master should be updated as we moved to a different network.How to update that instead of completely resetting the kubeadm. As there are many nodes, it is pathetic to join them again.

[2020-02-28 07:05] ukreddy-erwin opened #88648 "How to update k8s server IP address"
The IP address of the k8s master should be updated as we moved to a different network.How to update that instead of completely resetting the kubeadm. As there are many nodes, it is pathetic to join them again.

[2020-02-28 08:12] yqwang-ms commented on #81285
/remove-lifecycle rotten

[2020-02-28 08:53] xuxiaowei0512 commented on #87224
+1

[2020-02-28 09:01] #83347 closed

[2020-02-28 09:32] dilipdesing commented on #29540
Thanks for your suggestion. This works for me as well.

[2020-02-28 09:46] #83300 closed

[2020-02-28 09:47] joakimr-axis commented on #72956
...where now all tests have passed.

[2020-02-28 10:05] dionysius opened #88651 "Documentation: Explain Quality of Service classes"
**What would you like to be added**:

The current documention explains what to do to define a pod to one of these classes: https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/. But nowhere is written what these classes exactly mean, when they're good for. Explain at what circumstances eviction of a class happens (or never) and maybe how it is achieved (e.g. through taintin

[2020-02-28 10:06] dionysius commented on #88651
/sig docs

[2020-02-28 10:10] clamoriniere commented on #77259
/remove-lifecycle rotten

[2020-02-28 10:14] denismoret commented on #73297
I've tried to have this feature working using a NLB without success. However it does work using a Classic Load Balancer

I am using a EKS cluster, K8s version 1.14

I followed the following steps : [AWS doc](https://aws.amazon.com/premiumsupport/knowledge-center/terminate-https-traffic-eks-acm/)

As soon as I add the annotation : `service.beta.kubernetes.io/aws-load-balancer-type: "nlb"`
The NLB l

[2020-02-28 10:16] mariusmitrofan commented on #73297
@denismoret wait for EKS to release version 1.15

After that happens, upgrade it and it will. For now, we're stuck with manual change in AWS console or some workaround bash scripts :)

[2020-02-28 10:58] matthyx commented on #8116
ok, let me know if I can help anyhow :+1:

[2020-02-28 11:04] chendotjs opened #88656 "kube-proxy doesn't validate IPVS tcp, tcpfin and udp timeouts"
**What happened**:

kube-proxy doesn't validate the configurable IPVS tcp, tcpfin and udp timeouts.
For example, when kube-proxy starts with `--ipvs-tcp-timeout=900s --ipvs-udp-timeout=-1s`, it will always log a warning: `failed to configure IPVS timeouts: invalid argument` .

**What you expected to happen**:

kube-proxy should validate --ipvs-tcp-timeout, --ipvs-tcpfin-timeout, --ipvs-udp-timeout

[2020-02-28 11:05] chendotjs commented on #88656
/sig network
/area ipvs

[2020-02-28 12:02] jianzzha commented on #85764
@subrnath @ipuustin --reserved-cpus option is meant to be used with either isolcpu kargs or systemd CPUAffinity control. Using systemd CPUAffinity as an example, in /etc/systemd/system.conf, specify CPUAffinity=0 1 2 3; reboot the machine to make sure systemd take it; then for kubelet specify --reserved-cpus=0-3. see if this works for you, at least as a workaround.

As @ipuustin mentioned, enable

[2020-02-28 12:27] neolit123 commented on #88648
kubernetes is not tolerant to "master IP" changes as there are certificates at play which are aware of your server IP.

there was a long discussion here https://github.com/kubernetes/kubeadm/issues/338
where users have proposed workarounds and guides on how to change the IP, but take those with a grain of salt.

kubeadm does not have a way to change the IP for you and there are no plans to support

[2020-02-28 12:27] #88648 closed

[2020-02-28 13:10] droslean opened #88659 "[Failing Test] gce-windows-2019-master (ci-kubernetes-e2e-windows-gce-2019)"
**Which jobs are failing**:
`gce-windows-2019-master (ci-kubernetes-e2e-windows-gce-2019)`

**Which test(s) are failing**:
[code]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-2019-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18
/sig cli

[2020-02-28 13:29] droslean commented on #87848
/close

The job is green for many runs now. No repeating failure has been occurred.

[2020-02-28 13:29] #87848 closed

[2020-02-28 13:36] dims commented on #88208
@tamalsaha we are using a really old 1.0.0 of the openstorage repo, i see no need to touch that. please cross check.

[2020-02-28 14:30] markyjackson-taulia commented on #76342
Hello, @claudiubelu

Code freeze is 3/5, do you think we are going to complete #88248 and #88249 in time?

[2020-02-28 14:32] markyjackson-taulia commented on #74379
@nckturner Circling back on this. Can you provide the details on what this depends on so I can ensure those items are tracked as we move closer to the 3/5 code freeze?

cc @dims  @cheftako

[2020-02-28 14:34] D1abloRUS opened #88662 "Pulling/Extracting docker image continues after removing the pod"
**What happened**:
If you create pod with a large docker image and delete it without waiting for it to start, then kubelet will continue to download and unpack the image for the deleted pod

**What you expected to happen**:
abort pulling/extracting docker image if pod will be deleted

**How to reproduce it (as minimally and precisely as possible)**:
Create pod with a large docker image and delete

[2020-02-28 14:41] D1abloRUS commented on #88662
/sig architecture

[2020-02-28 14:45] smourapina commented on #81134
C/O @kubernetes/sig-node-pr-reviews @kubernetes/sig-api-machinery-pr-reviews:
Code freeze for release 1.18 is starting in 5 March (less than 1 week from now) and we want to ensure that each issue has a chance to be finished on time. Is this still on track for this deadline?

[2020-02-28 14:51] smourapina commented on #85892
Thanks fo the reply @BenTheElder. Would it make sense to move this to the next milestone, as there has been no recent activity and considering that code freeze is in less than 1 week (5 March)?

[2020-02-28 14:55] smourapina commented on #58012
Hello @tallclair!
Code freeze for 1.18 is starting in 5 March (less than 1 week from now) and while there is still some time, we want to ensure that each issue that is part of the milestone has a chance to be finished.
Is this still intended for milestone 1.18, or would it make sense to move it to 1.19?

[2020-02-28 14:59] smourapina commented on #71719
Thanks for following up on my question @BenTheElder. Would it make sense in that case to move this issue to milestone 1.19 to allow for more time?
Just want to make sure that everything included in milestone 1.18 is on track and has a chance to be finished before code freeze, which is in less than 1 week (5 March).

[2020-02-28 15:26] smourapina commented on #58034
C/O @kubernetes/sig-node-pr-reviews:
Code freeze for release 1.18 is starting in 5 March (less than 1 week from now) and we want to ensure that each issue has a chance to be finished on time. Is this still on track for this deadline?

[2020-02-28 15:29] chrisob commented on #69362
Also hitting this on v1.14.10-gke.24.

[2020-02-28 15:29] smourapina commented on #79523
C/O @kubernetes/sig-cloud-provider-bugs:
Code freeze for release 1.18 is starting in 5 March (less than 1 week from now) and we want to ensure that each issue has a chance to be finished on time. Is this still on track for this deadline?

[2020-02-28 15:32] alculquicondor commented on #88529
It sounds like option 1.5 would work for you best. But as I said, that can be introduced in the next release without many complications.

Let's wait for others to comment. My only concern with 1.5 or 2 is that we are too close to code freeze.

Re 2:

Changing to a one-queue-per-profile model is something I thought about but it would have changed the architecture too much. Note that, because of tha

[2020-02-28 15:36] smourapina commented on #79523
/remove-kind bug

[2020-02-28 15:47] yqwang-ms commented on #88529
@alculquicondor, agree, I understand current situation, and all options are fine for me :)
For 2, we do not have to be one-queue-per-profile to fix the original issue #86373, and it is another topic which has less relation to current issue. Anyway, thanks for thinking about our requirements :)

[2020-02-28 16:03] starbassma commented on #88630
Hello,
Actually there is a pending PR about this issue (check #https://github.com/kubernetes/kubernetes/pull/78928)
Regards,

[2020-02-28 16:10] mkimuram opened #88668 "E2E storage: SnapshotClass needs FromFile to pass parameters"
**What would you like to be added**:
This issue is to add a feature to pass parameters to SnapshotClass in e2e test via `FromFile` option.
[Similar feature for StorageClass](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/external/external.go#L64) already exists, and this feature is described as a [TODO](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/ex

[2020-02-28 16:51] dims commented on #88662
/sig node
/remove-sig architecture

[2020-02-28 16:58] jtslear commented on #86417
Hello @kubernetes/sig-api-machinery-bugs
This issue appears frozen.  No movement since December.  Should we push this to the next milestone?

[2020-02-28 17:01] jtslear commented on #80546
Hello @kubernetes/sig-architecture-feature-requests and @kubernetes/kubernetes-release-managers

This is tied to the 1.18 milestone, however, there's been no movement this year.  Should this be tied to any milestone?  I suspect it is non-blocking based solely on the history.

[2020-02-28 17:05] jtslear commented on #81052
Hello @kubernetes/sig-architecture-bugs
There's been no movement on this issue this year.  Should this get pushed to the next milestone?

[2020-02-28 17:07] jtslear commented on #77095
@MorrisLaw how are we looking towards getting work completed prior to code freeze on the 5th of March.  And should we bring in anyone else to take a look at this issue?

[2020-02-28 17:12] jingyih commented on #88574
No this is not normal. etcd is designed to be recoverable from unexpected shut down.

While I am trying to reproduce this issue, on your side could you add "--logger=zap" to etcd starting command (in etcd.yaml). It will print more info such as exactly which snapshot file it fails to find.

[2020-02-28 17:19] starbassma opened #88670 "delete wildcards support from kubectl cp (buggy and not neccesary)"
Hello,
I suggest deleting wildcards support from `kubectl cp`, recursion should suffice.

This functionality is not very well implemented, we are facing many bugs because of it (#88630 and #78854) .

Attempts to correct / reimplement it require major changes and can introduces security issues (path traversal, etc), reminds me of _CVE-2019-11246_ .

check this PR for example : #78928 (137+ primarly

[2020-02-28 17:20] starbassma commented on #88670
/sig cli

[2020-02-28 17:21] starbassma commented on #88670
/kind bug

[2020-02-28 17:26] #88330 closed

[2020-02-28 17:27] olefemmy commented on #88330
The issue is due to the fact that the latest rancher release broke the parallel release.

[2020-02-28 17:38] porrascarlos802018 commented on #87127
The fix
helm install helm-nginx-ingress stable/nginx-ingress \
    --namespace ingress-nginx-ns \
    --set controller.replicaCount=2 \
    --set controller.nodeSelector."beta\.kubernetes\.io/os"=linux \
    --set controller.service.annotations."service\.beta\.kubernetes\.io\/azure-dns-label-name"=MY-AZURE-DNS \
    --set defaultBackend.nodeSelector."beta\.kubernetes\.io/os"=linux

[2020-02-28 18:07] johnbelamaric commented on #81052
yes, please

On Fri, Feb 28, 2020 at 9:05 AM John T Skarbek <notifications@github.com>
wrote:

[2020-02-28 18:09] jtslear commented on #81052
/milestone v1.19

[2020-02-28 18:09] apelisse commented on #68514
Only thing left now is updating the documentation.

[2020-02-28 18:49] Huang-Wei commented on #88529
Thanks @yqwang-ms for the feedback.

Along with multi-sched-profiles, the intuitive **N:1** situation comes to **N:M** (N = objects of such as extenders, and M = number of profiles), and we have to make reasonable decisions on the mapping. As @alculquicondor mentioned, I think the best bit for your case is to define top-level extenders, and then let each profile to choose which extender(s) to use.

[2020-02-28 18:55] alculquicondor commented on #84936
/remove-lifecycle stale

[2020-02-28 18:58] CalamariAce commented on #88627
At a glance I see that you are using a 1024k size for your baremetal speed test, whereas you say your test that performs badly has 100 byte packet sizes. Your packet size in the former case is four orders of magnitude larger than the latter. My guess is that you will see similar performance once you have adjusted your test scenario to more closely match your application. I suggest using `iperf` fo

[2020-02-28 19:10] yliaog commented on #86788
@Random-Liu is this release blocking?

[2020-02-28 19:21] listx commented on #87785
I tried running this but got:

[code]

I looked into the `authenticated-image-pulling` project and noticed @ixdy and @Random-Liu as owners. Are you able to assist?

[2020-02-28 19:24] yliaog commented on #87785
/assign @Random-Liu

[2020-02-28 19:33] Jimmol-Singh opened #88672 "How do I change the default api-server ip address?"
I want to change the default IP address from 10.96.0.1 to another IP address. Where and exactly would I be able to do this?

Every help is appreciated.

sig/network

[2020-02-28 19:42] julianvmodesto commented on #87343
This is done! https://github.com/kubernetes/kubernetes/pull/87805 https://github.com/kubernetes/kubernetes/pull/87344

/close

[2020-02-28 19:42] #87343 closed

[2020-02-28 19:43] Random-Liu commented on #86788
Nope. It only affects GCE. And we still have Azure coverage for the windows test.

[2020-02-28 19:43] julianvmodesto commented on #82863
cc @apelisse

[2020-02-28 19:44] julianvmodesto commented on #82863
x-ref https://github.com/kubernetes/kubernetes/issues/68514

[2020-02-28 19:46] julianvmodesto commented on #76971
/sig cli

[2020-02-28 19:48] julianvmodesto commented on #76971
We are covered for pods/eviction now that `kubectl drain --dry-run=server` is in the kubectl integration tests, but we don't have coverage for the `/scale` subresource yet – `kubectl scale` doesn't have `--dry-run=server`.

Besides kubectl integration tests, I'm not sure what the apiserver integration tests look like, if there is already coverage there maybe.

[2020-02-28 19:48] julianvmodesto commented on #76971
x-ref https://github.com/kubernetes/kubernetes/issues/68514

[2020-02-28 19:57] julianvmodesto commented on #85652
I'm going to close this one for now as done and file a follow up for `kubectl scale` since it's kind of blocked on https://github.com/kubernetes/kubernetes/issues/88274

Next is docs!

/close

[2020-02-28 19:57] #85652 closed

[2020-02-28 20:10] yliaog commented on #87785
docker manifest push  gcr.io/authenticated-image-pulling/windows-nanoserver:v1
Pushed ref gcr.io/authenticated-image-pulling/windows-nanoserver@sha256:ec76696da5a660a02bbfd304549d6e09d8c9fe48f2d4efe642f26cb1e46a6bde with digest: sha256:ec76696da5a660a02bbfd304549d6e09d8c9fe48f2d4efe642f26cb1e46a6bde
Pushed ref gcr.io/authenticated-image-pulling/windows-nanoserver@sha256:7c4ee446a647fdf8988672ae5e6

[2020-02-28 20:12] yliaog commented on #87785
this is fixed. the image manifest is available in gcr.io/authenticated-image-pulling/windows-nanoserver:v1

[2020-02-28 20:12] yliaog commented on #87785
/close

[2020-02-28 20:12] #87785 closed

[2020-02-28 20:16] alculquicondor commented on #87784
@Huang-Wei and I were brainstorming a couple of ideas offline:

1. We store the GVK of the component config in the scheduler and it's frameworks. Then we use that GVK for building a decoder and getting parsing into the internal types during plugin instantiation.
1. in `pkg/scheduler/apis/config/{version}/conversion.go` we parse the in-tree PluginConfig, convert them to the internal types and marsh

[2020-02-28 20:17] julianvmodesto commented on #82863
This is fixed with https://github.com/kubernetes/kubernetes/pull/85035

/close

[2020-02-28 20:17] #82863 closed

[2020-02-28 20:18] yliaog commented on #86788
in that case, @droslean, could you remove this test from release blocking list. thanks

[2020-02-28 20:18] lzang commented on #87709
/assign @thockin

[2020-02-28 20:19] hasheddan commented on #86788
@yliaog PR already open to remove it :) https://github.com/kubernetes/test-infra/pull/16549

[2020-02-28 20:26] yliaog commented on #86788
sounds good, thanks. any other release blocking issue related to 'windows'?

[2020-02-28 20:38] huffmanca commented on #82507
/remove-lifecycle stale

[2020-02-28 21:00] Jeffwan commented on #87917
/assign

[2020-02-28 21:27] saad-ali commented on #82507
Agreed, in retrospect, the `CSIDriver.VolumeLifecycleModes` field protects Kubernetes from doing "non-standard" CSI behavior against an unsuspecting CSI Driver which is very important. I withdraw this suggestion.

Tangentially related, before moving to GA we should consider if we want to make ephemeral volumes more first class in the CSI spec or not.

[2020-02-28 21:27] #82507 closed

[2020-02-28 21:44] starbassma commented on #88257
Hello @1wpro2

`OnFailiure` and `Never` are only supported if you are dealing with Controllers of type _Pod_ (kind: Pod), for _Deployment_ only `Always` is supported.
For more informations check the [official documentation](https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template).
Regards,

[2020-02-28 22:02] BenTheElder commented on #85892
if nobody else is replying maybe we should just remove the milestone :+)

[2020-02-28 22:06] justaugustus commented on #85892
Thanks for checking in. We're not working on this for 1.18, so:
/milestone clear

[2020-02-28 22:06] justaugustus commented on #80546
Thanks for checking in. We're not working on this for 1.18, so:
/milestone clear

[2020-02-28 22:14] #83374 closed

[2020-02-28 22:24] mrrandrade commented on #36222
Cant' say about the 'like this', but aws-auth you can use eksctl to do the hard work for you:

[code]

[2020-02-28 22:27] oomichi commented on #88668
/cc @oomichi

[2020-02-28 22:34] BenTheElder commented on #71719
definitely let's move it, I'm somewhat unconvinced that this is a priority to track at all, lacking evidence of actual impact and knowing that hyperkube has limited usage.

I'm somewhat inclined to suggest that we stop having the project officially ship hyperkube in the main repo, users could always build a custom image with the upstream binaries or it could be a kubernetes-sigs project.

[2020-02-28 22:35] BenTheElder commented on #71719
the old hyperkube was at least some sort of optimization with all the commands linked together, but IIRC we no longer do that anyhow.

[2020-02-28 22:40] justaugustus commented on #71719
We're discussing removing the debian base images in https://github.com/kubernetes/kubernetes/pull/80909#issuecomment-564317233 and https://github.com/kubernetes/kubernetes/pull/88603, but I'm not sure this work will land for 1.18, so:
/milestone clear

[2020-02-28 22:54] justaugustus commented on #58012
Thanks for checking in. It looks like it's going to take a little work to think about removing the images altogether, so:
/milestone clear

[2020-02-28 23:27] justaugustus commented on #86267
@smourapina -- I'm pretty sure I can get to this before the cycle is out.

[2020-02-28 23:31] craiglpeters commented on #58034
/milestone v1.19
The work on the KEP hasn't started yet, so moving this to 1.19

[2020-02-28 23:47] apelisse commented on #87600
@hatotaka I'll send a PR on Monday if you haven't! Thanks.

[2020-02-28 23:55] apelisse commented on #79830
pod templates are generally much less useful than other types of resources. It's generally accepted that people wouldn't maintain pod yaml configurations but higher level abstractions to create these pods (deployment, statefulset, jobs).

Also, I think we're moving away from the general `kubectl create` pattern in general, so I don't think the sig would accept such a change, but I might be wrong s

[2020-02-29 00:04] apelisse commented on #88645
This was introduced by #73737.

/assign @soltysh @odino

[2020-02-29 00:06] apelisse commented on #83851
The container name is mostly irrelevant, especially in that case. I don't think there's anything to fix here. I'm closing this issue, please re-open if you disagree. Thanks.
/close

[2020-02-29 00:06] #83851 closed

[2020-02-29 00:12] apelisse commented on #83562
This is a very hard problem, and while I'd really really like to be able to fix it, we still don't know exactly what is the best approach.

[2020-02-29 00:12] angelofdeauth opened #88677 "RFE: Pod Topology Spread Constraints enhancement (advanced scheduling)"
**What would you like to be added**:
## Proposal
Kubernetes scheduler component provides enhanced advanced scheduling configuration of required relationships between numbers of scheduled pods of different types within a given topologyKey through existing TopologySpreadConstraints object.
* [currently a field in podSpec](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#topologys

[2020-02-29 00:13] tallclair commented on #82295
/remove-lifecycle rotten
/assign @immutableT

Alex, would you be interested in tackling this as part of adding monitoring for the authentication method?

xref: https://github.com/kubernetes/kubernetes/pull/85113

[2020-02-29 00:14] angelofdeauth commented on #88677
/sig scheduling

[2020-02-29 00:16] apelisse commented on #86026
This doesn't have much to do with dry-run, apply. It's mostly about how we print the name of the resources for operations performed by kubeclt. That seems fairly simple to fix, but I'm curious if we care about the compatibility if we change that text? @kubernetes/sig-cli-maintainers

[2020-02-29 00:16] micahhausler commented on #69579
/reopen
/remove-lifecycle rotten

Its baaaaaack.

K8s version: v1.14.9
[code]

The difference between `v1` and `r1` is one bit:
[code]

I don't know that there is a good root cause here since we don't have a reliable repro, but we should discuss a mitigation when there is a data corruption and all List calls to that type start failing.

[2020-02-29 00:35] verult commented on #88355
Fixed PR: #88678

I was able to repro the failure in a test cluster and confirmed the leak is fixed across 10 runs. The PR also includes a unit test that captures a scenario that likely has caused the failure, and also captures the fix.

To increase test coverage, I considered building a fuzzer for `NestedPendingOperations`, introducing many operations with different timing to capture races, but w

[2020-02-29 00:36] liggitt commented on #69579
/lifecycle frozen

[2020-02-29 00:43] Huang-Wei commented on #88677
We've considered similar req when crafting the PodTopologySpread feature (a.k.a EvenPodsSpread), but the reality is: a concrete number would be hard to set and tune, along with the cluster/app changes. So we changed to a relative number which is called "maxSkew" in PodTopologySpread to describe the evenness of distribution of your Pods, please check out the [doc](https://kubernetes.io/docs/concept

[2020-02-29 00:48] ahg-g commented on #87784
I don't like option 1, seems strange to pass around version and kind around in the scheduler. When I proposed moving plugin Args to ```apis/config``` my initial thought was that we will do something like option 2.

I like option 2.i as well since we will do the conversion once, and we will do it in the proper place, however we need to understand better how we plan to handle out-of-tree plugins.

H

[2020-02-29 01:08] davesargrad commented on #88627
@CalamariAce Ty for the response.

It's appreciated, however it confuses me a bit.  I dont think any of the points that I read address the underlying problem that I am seeing.

To be clear BOTH tests use the 100 byte messages.

I'll recheck my wording, but I dont think I said that the successful test uses 1024 byte messagess, whereas the unsuccessful test uses 100 byte messages. I'd not be able to

[2020-02-29 01:33] Huang-Wei opened #88680 "[sig-scheduling] SchedulerPreemption [Serial] PodTopologySpread Preemption validates proper pods are preempted"
**Which jobs are flaking**:

[sig-scheduling] SchedulerPreemption [Serial] PodTopologySpread Preemption validates proper pods are preempted

**Which test(s) are flaking**:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1233012032534482949
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/1232952638320939008
- https://p

[2020-02-29 01:33] Huang-Wei commented on #88680
/sig scheduling
/assign

[2020-02-29 01:59] CalamariAce commented on #88627
If you have ruled out the hardware, I suggest inquiring in the Github Issues page for Flannel:
https://github.com/coreos/flannel/issues/

They should be able to advise you what kinds of packet rates they expect their virtual switch to handle, and what other optimizations you may be able to make there.

[2020-02-29 02:22] davesargrad commented on #88627
@CalamariAce I think you may be right. I need to further understand how the k8s network plugin fits into the packet flow architecture. At this point, I do think that the issue may be in flannel.

[2020-02-29 02:38] angelofdeauth commented on #88677
Even pod distribution could potentially fulfill this proposal if every application were evenly distributed across the cluster, however this is not always the case.
The ask:
* Pod set (Deployment, etc) is able to specify to the scheduler a desired deployed pod ratio of x appa instances per y appb instances within a given topologyKey.

This ask came up in a discussion regarding the architecture of a

[2020-02-29 02:46] xing-yang opened #88683 "Filesystem resize skipped if original PVC is deleted when FilesystemResizePending but PV is retained"
**What happened**:
- Create a PVC using a StorageClass with Retain policy and allowVolumeExpansion.
- Create a Pod to use the PVC. Check the filesystem size.
- Start volume expansion by modifying the PVC size. After PV and the associated volume is expanded to the new size, PVC size is unchanged and it is in FilesystemResizePending condition.
- Delete the Pod.
- Delete the PVC.  PV and the associat

[2020-02-29 02:46] xing-yang commented on #88683
/sig storage

[2020-02-29 02:46] xing-yang commented on #88683
/assign @gnufied

[2020-02-29 02:52] #88333 closed

[2020-02-29 06:31] Huang-Wei commented on #88677
Well, the original description is not clear to me, esp. which kind of proposal you want to raise.
When you say "scheduler provides ... not only, but ..." in the **Proposal** section, I thought that is the proposal you are raising. Could you revise the original description?

[2020-02-29 06:32] Huang-Wei commented on #88469
Flake point: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88685/pull-kubernetes-integration/1233632412991229953

[2020-02-29 06:44] angelofdeauth commented on #88677
I agree, the initial description is unclear in that it seems conflicting wrt the proposed changes.
Apologies for the miscommunication, I'll update the description to closer reflect the desired goal here.

[2020-02-29 06:49] zouyee commented on #88547
/cc

[2020-02-29 07:27] zhujintao opened #88688 "admin.conf compromise, how to generate a new admin.conf to replace the old admin.conf"

[2020-02-29 08:24] #83315 closed

[2020-02-29 09:26] angelofdeauth commented on #88677
/sig api-machinery

[2020-02-29 09:28] angelofdeauth commented on #88677
/sig architecture

[2020-02-29 10:14] angelofdeauth opened #88692 "Pod set resources provide replica count constraints"
**What would you like to be added**:
Constraints for scaling for pod set resources
**Why is this needed**:
Prevent pods set resources from being horizontally scaled to configurations which either do not make sense, are unsupported by the application, or are undesirable by some other metric (degraded performance/reliability, etc).

[2020-02-29 11:27] #83392 closed

[2020-02-29 12:28] #83130 closed

[2020-02-29 12:28] #83150 closed

[2020-02-29 12:28] #83151 closed

[2020-02-29 12:28] #83152 closed

[2020-02-29 12:28] #83153 closed

[2020-02-29 12:28] #83154 closed

[2020-02-29 12:28] #83155 closed

[2020-02-29 12:28] #83156 closed

[2020-02-29 12:28] #83157 closed

[2020-02-29 12:28] #83167 closed

[2020-02-29 13:08] aojea commented on #88627
indeed it seems flannel, let's try to analyze the traffic flow so you can verify it

The traffic goes to chile, it does the NAT thing from Service to Pod, goes to the pod and returns back.
The performance penalty is mainly on the conntrack processing and the internal forwarding to the Pod, all the connection is processed in the same node.

The packet goes to malta, it does the NAT thing from Servi

[2020-02-29 13:26] DiCanio commented on #88522
Closing in favor of https://github.com/kubernetes/website/issues/19401.

[2020-02-29 13:26] #88522 closed

[2020-02-29 13:29] #83161 closed

[2020-02-29 13:29] #83162 closed

[2020-02-29 13:29] #83163 closed

[2020-02-29 13:29] #83160 closed

[2020-02-29 13:29] #83164 closed

[2020-02-29 13:39] WoodProgrammer opened #88694 "Custom CNI RTNETLINK answers: File exists Issue"
Hello everyone,
I'm writing my custom cni plugin with bash . I successfully updated my configs and my nodes are on Ready state .

But I'm getting issue while connecting pod network namespace veth to the device interface with those commands :

[code]
When kubernetes want to apply `ADD`verb to CNI plugin it returning this error to the logs :

[code]
How Can I resolve that ?

[2020-02-29 13:52] serathius commented on #88546
Hey,

Is rate limited logs something commonly used in k8s code? or more pattern that we want to adapt?
Can you specify examples of use cases for it?

[2020-02-29 14:06] gavinfish commented on #81134
It seems that this thread has no update for a long time. I will pick some items.
[code]

[2020-02-29 14:29] SaravanakumarSivasankaran opened #88696 "1.17.0: Pod sometime intermittently not connect to the external reachable system"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

- Kernel (e.g. `uname -a`):

- Install tools:

# rpm -qa | grep kube

- Network plugin and version (if this is a network-related bug):
- Others:

[2020-02-29 14:54] jingyih commented on #69579
To mitigate:

If the cluster has 3 (or more) etcd members and 1 of them is corrupted, please follow [1] to remove the corrupted member and add a new member to cluster.

If the cluster has lost quorum (e.g. cluster has 1 member and that member is corrupted), follow [2] to create a new cluster from the backup db file.

Ref:
[1] https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/runti

[2020-02-29 15:24] Raman-Kumar commented on #68026
I have problem running `hack/verify-golint.sh` in step 2
$ hack/verify-golint.sh

[code]

what should I do?

[2020-02-29 15:33] davidkarlsen commented on #27732
/remove-lifecycle stale

[2020-02-29 15:58] tedyu commented on #88696
Have you looked at kueblet log during the period without connectivity ?

Thanks

[2020-02-29 16:08] neolit123 commented on #88606
/lifecycle active

[2020-02-29 16:09] neolit123 commented on #88696
/triage support
/remove-kind bug

please try the latest 1.17.3.

[2020-02-29 16:32] wesleyw72 commented on #63126
/reopen

[2020-02-29 16:32] wesleyw72 commented on #63126
/remove-lifecycle rotten

[2020-02-29 17:26] SaravanakumarSivasankaran commented on #88696
Tedyu: I could not found logs /var/log directory. You mean "journalctl -u kubelet" logs. I could found the following in errors in journalctl, can exactly the issue seen.

Neolit123: Seems not able to install 1.17.3 rpms

Able to install "yum install -y kubelet-1.17.0 kubeadm-1.17.0 kubectl-1.17.0" but not 1.17.3 even though the rpm showing in repo
"https://packages.cloud.google.com/yum/repos/kuber

[2020-02-29 18:22] jlegrone commented on #30427
/remove-lifecycle rotten

[2020-02-29 18:33] liggitt commented on #86417
/milestone clear

[2020-02-29 19:00] liggitt commented on #69579
It's unclear that the corruption is happening on the etcd side. It is just as likely to have occurred in the API server during serialization prior to sending the data to etcd.

[2020-02-29 20:36] #81781 closed

[2020-02-29 21:05] neolit123 commented on #88692
/sig apps

[2020-02-29 21:08] neolit123 commented on #88688
if this is using kubeadm try `kubeadm alpha kubeconfig user --help`.
but if your `/etc/kubernetes/pki/ca.*` files are compromised too, i'd say it's better to recreate this cluster.

/area kubeadm
/close

[2020-02-29 21:08] #88688 closed

[2020-02-29 21:08] neolit123 commented on #88688
/sig cluster-lifecycle

[2020-02-29 21:18] edobry commented on #79523
Is there any work remaining to be done on this? Willing to contribute if so, would really love to see this make it into 1.18!

[2020-02-29 23:17] neolit123 commented on #88672
please try asking on slack or stackoverflow:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-02-29 23:17] #88672 closed

[2020-02-29 23:53] xmath279 opened #88698 "loadBalancerSourceRanges not properly applied using IPVS"
**What happened**:

When applying a loadBalancerSourceRanges directive to a service of type LoadBalancer, the service is not properly filtered. Using `watch` with `nmap` shows that the port goes back and forth from filtered to open which is a major issue as the service is momentarily exposed when it should not be.

**What you expected to happen**:

The port should be filtered at all time.

**How t

[2020-02-29 23:54] xmath279 commented on #88698
/sig network

[2020-03-01 00:07] alejandrox1 commented on #34059
Leaving a question for the community here...
A lot of the work in testing commons has ended up being enforcing that tests spew out meaningful messages.
At this point in time, plain `Expect(err).NotTo(HaveOccurred())`  that output generic error messages on failure are not happening a whole lot and in many instances the error itself has plenty of information about the test.

Thus the issue raised he

[2020-03-01 01:01] neolit123 commented on #34059
+1

[2020-03-01 01:41] #83039 closed

[2020-03-01 04:00] iy116 commented on #82523
Not sure if I'm misunderstanding this, but does this issue mean that changing the image name does not restart the pod? Because it works for me.

[2020-03-01 04:02] underflow00 commented on #82523
Not sure if I'm misunderstanding this, but does this issue mean that changing the image _name_ of the init container does not restart the pod? Because it works for me?

[2020-03-01 04:15] jingyih commented on #69579
Right. If the corruption can be identified early, we could dump the raft log (WAL log) and look for the corresponding log entry before it is compacted.

[2020-03-01 10:43] barucoh opened #88701 "ELB SecurityGroup of Kubernetes Service does not get delete after `kubectl delete -f service.yaml`"
**What happened**:
 - Created an EKS cluster with Terraform
 - Created a service with type `LoadBalancer`
 - Deleted the created service
 - Trying to delete the EKS cluster with Terraform failed due to an existing Security Group that had to be deleted manually

**What you expected to happen**:
When deleting the service its related Security Group should be delete as well

**How to reproduce it (as

[2020-03-01 13:40] d-kuro commented on #88645
I created fix pull request: https://github.com/kubernetes/kubernetes/pull/88646

[2020-03-01 14:54] cpuguy83 commented on #82522
The reason for the slowness is the stats endpoint in Docker does 2 collections with a 1s sleep in between... and the sleep happens at the beginning of the loop.

Docker 19.03.7 has been changed such that the sleep now occurs at the end of the loop, which gives a pretty significant speed up.

In Docker 20.03 (version not finalized), we should have a new query param, "one-shot=true", which will do a

[2020-03-01 14:56] cpuguy83 commented on #82522
Fix sleep:
https://github.com/moby/moby/pull/40549

New param:
https://github.com/moby/moby/pull/40478

[2020-03-01 15:12] tanjunchen commented on #88483
/cc @rifelpet
I guess that you can help him, right？

[2020-03-01 15:19] sshishov commented on #61333
What to do with helm charts, community charts which generates containers dynamically and we would like to set default container in the pod to do operations like `exec`, `log` and not specify container. It would be very handy and not difficult to implement. If flag is not set `default: true` or `default-container:...` then we just can safely fall back to the approach which is currently in place. Ju

[2020-03-01 15:40] davesargrad commented on #88627
@aojea
Thanks much for your analysis. This was exactly the kind of thing I was looking for to better understand what I'm seeing.

I wasnt aware that you could actually use a non-overlay CNI. It seems like an attractive option.
Question 1: Can you point me to the "non-overlay CNI options", and a description of how to use them?

Question 2: What are the pros/cons of a non-overlay CNI?

Question 3: I

[2020-03-01 15:47] #88627 closed

[2020-03-01 17:24] aojea commented on #88627
Let me point you to this page https://kubernetes.io/docs/concepts/cluster-administration/networking/
You can find most of the CNI plugins that works with Kubernetes with a brief summary of their capabilities.

You'll find a lot of articles addressing your questions in Internet, I prefer to not raise any opinion in this issue to keep it agnostic, but I think that is worth that you do the exercise s

[2020-03-01 17:57] #83453 closed

[2020-03-01 19:09] droslean opened #88707 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
`gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)`

**Which test(s) are failing**:
[code]
[code]

**Since when has it been failing**:
`28th Feb 13:53 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-sign

[2020-03-01 20:03] msau42 commented on #88707
/assign @jsafrane
@kubernetes/sig-storage-test-failures

[2020-03-01 20:09] toonsevrin opened #88709 "New API Resource: File (or BinaryData)"
**What would you like to be added**:
A new API resource to reference files, something like:
[code]
Types: http, s3, git, ipfs...

Potential extensions:
* Encryption
* Optional writing to backends that allow it
* Signature and digest checking

**Why is this needed**:
1.  API resources have a limited size (1MB). This is because masters have to store this data. Sometimes, you may want to store resour

[2020-03-01 20:10] toonsevrin commented on #88709
/sig architecture

[2020-03-01 20:25] toonsevrin commented on #88709
Another use case for kubernetes native applications are Serverless frameworks. Kubeless implemented this functionality themselves in their Function CRD (types  base64, url or text): https://github.com/kubeless/kubeless/blob/master/docs/advanced-function-deployment.md

[2020-03-01 20:29] toonsevrin commented on #19781
I've proposed an extension to Kubernetes for this. Please take a look at #88709.

With this extension, you upload your configuration to s3 (or simply git) and reference it in a File resource. Finally the configmap references this file resource.

Feel free to upvote that proposal to raise awareness.

[2020-03-01 20:57] toonsevrin commented on #88709
I may also implement a Proof of Concept for this for [Kuberty](https://github.com/kuberty/kuberty), a kubernetes-native microservice testing platform.

Files will be used in Kuberty to share test scripts with the server.

[2020-03-01 21:00] #83462 closed

[2020-03-01 21:29] gopal-snps commented on #87857
@jayunit100 Yes, is it possible to move these tests into upstream, and use this library to build our own tests for the future?

[2020-03-01 21:47] sethvargo commented on #81127
/remove-lifecycle stale

[2020-03-01 22:01] #83391 closed

[2020-03-01 22:55] cep21 commented on #57094
@skyhills13 I have the same question.  Did you ever figure it out?

[2020-03-01 23:02] #83186 closed

[2020-03-02 00:25] hatotaka commented on #87600
Sorry, I haven't started working on this test. Thanks.

[2020-03-02 00:34] carlosalberto commented on #26895
Still seeing this.

[2020-03-02 01:13] jayunit100 commented on #87857
Hey! Yeah, actually we finished writing this up here https://github.com/kubernetes/enhancements/pull/1568 ....

[2020-03-02 01:18] skyhills13 commented on #57094
@cep21 Nope. I could only know the host of allocated GPU. But I found out that allocated GPU Ids are always same in sequential order. If you request one GPU, GPU Id is always 0 and if you request 2, Ids are 0 and 1. You can use this if you need Id for using them somewhere in the code.

[2020-03-02 01:39] dnoland1 commented on #57534
/remove-lifecycle stale

[2020-03-02 02:05] #64522 closed

[2020-03-02 02:58] tedyu commented on #50375
I read through the comments.
There was one -1 from @brackendawson
I don’t know if he still holds the same vote.

I wonder if lack of action was due to compatibility issues. If that is the case, would a new counter which does reset be useful ?

[2020-03-02 03:39] howardjohn commented on #88508
I am a bit confused that you say it "doesn't work", as the test pass 99.99% of the time, which gives an impression it's supposed to work. Is there an alternative for testing code with informers?

[2020-03-02 05:55] kong62 commented on #57187
What is the current？

[2020-03-02 06:04] kong62 opened #88711 "Set the time dynamically for the initialDelaySeconds parameter of the health check"
**What would you like to be added**:

Set the time dynamically for the initialDelaySeconds parameter of the health check.

**Why is this needed**:

1. Different types of apps have different startup times;
2. Same type of apps have different startup times
3. One app have  different startup times when each release of a new version

We have difficulty setting reasonable values.

[2020-03-02 07:38] KielChan commented on #68522
@dashpole If I want to enable `subcontainer` options in kubelet api to collect more metrics about sidecar container, is that conflict with this proposal ?

[2020-03-02 07:47] vsxen commented on #88694
this command is err , you should not use HOST_INTERFACE.
`ip link add $CNI_IFNAME type veth peer name vethcni`

/close

[2020-03-02 08:11] invidian commented on #76774
I also hit this issue, but I have no idea how to that happened..

[2020-03-02 08:18] Tetragramato commented on #15478
Sure we need a way to consume Docker logs directly from stdout and stderr, instead of use log files. There are some security issues to use the Docker path to log files, because you can access to other logs in the host system.

Can we implement the Docker log-driver ? 👍

[2020-03-02 08:37] jmyung opened #88718 "MaxJobBackOff value in job_controller.go should be redefined when needed."
**What would you like to be added**:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go#L61
In this code, I think `MaxJobBackOff` value in job_controller.go should be redefined when needed.

**Why is this needed**:
When job fails creating pods, it recreates by the Job controller with an exponential back-off delay (10s, 20s, 40s …) capped at six minutes.

BTW,

[2020-03-02 09:04] alenkacz commented on #87766
/milestone v1.19

[2020-03-02 09:30] lawrencegripper commented on #88265
I've run some tests here with a mini test harness to demonstrate the improvement the changes have on startup times: https://github.com/lawrencegripper/hack-testingasyncpull

Looking to add more test coverage to the changes and share as a PR shortly unless there are any concerns or thoughts I should address first?

[2020-03-02 09:36] luisdavim commented on #68397
/remove-lifecycle stale

[2020-03-02 10:02] pohly commented on #34059
I'd rather err on the side of caution and always add an explanation, because how can the test author be sure that *all* errors will be informative enough?

Can we document somewhere how to use `Expect(err).NotTo(HaveOccurred())` and `framework.ExpectNoError()` properly, i.e. "add an explanation unless it is certain that the error itself is informative"?

In the past, I've used this issue as refere

[2020-03-02 10:13] ukreddy-erwin opened #88720 "Kubernetes service not accessible"
Kubernetes dashboard not accessible

I have changed Dashboard service from CLusterIP to NodePort. Because of the thsis, I am able to access Dashboard using url: <masternode_IP>:<Node_Port_assigned>

But this is working only in the master node.

When I try to access outside from a machine in the same LAN, I am getting "Page not found"

This is not the case with other services like databases, web ap

[2020-03-02 10:19] The-Fonz commented on #69696
@ninja- Thanks for the reply. Did you re-create the cluster or just upgrade? I'm doing the upgrade, maybe that makes a difference?

[2020-03-02 11:14] #61185 closed

[2020-03-02 11:28] #80410 closed

[2020-03-02 11:29] markyjackson-taulia commented on #76342
@claudiubelu do you think this is going to make the v1.18 code freeze date? 3/5 is rapidly approaching. If you don’t think so, let me know so I can move this in to the next milestone

[2020-03-02 11:30] markyjackson-taulia commented on #74379
@nckturner do you think this is going to make the v1.18 code freeze date? 3/5 is rapidly approaching. If you don’t think so, let me know so I can move this in to the next milestone

[2020-03-02 11:32] andyzhangx commented on #70013
/open
keep the issue open since PR(#88569) is only a mitigation

[2020-03-02 11:33] markyjackson-taulia commented on #74379
@nckturner do you think this is going to make the v1.18 code freeze date? 3/5 is rapidly approaching. If you don’t think so, let me know so I can move this in to the next milestone

[2020-03-02 11:51] claudiubelu commented on #76342
^ The above PRs have received some comments and one lgtm. They're not very big, nor complicated.

[2020-03-02 11:52] neolit123 commented on #88720
/remove-kind bug
/triage support

[2020-03-02 11:53] neolit123 commented on #88718
/sig apps

[2020-03-02 11:53] neolit123 commented on #88711
/sig network

[2020-03-02 12:44] mohitsharma1750 opened #88724 "Kubectl using OC commands"
**Feature where kubectl and oc (or any other distribution) commands can be used alternatively. Users can configure the kubectl in such way that it can accept other commands and automatically convert it.**

Each time we move from one orchestration service to another we have to learn the distribution-specific commands. In my case some of our environments don't have Open shift installed, So I have to

[2020-03-02 13:03] tedyu commented on #88265
I think with your second commit, the results are good.

Please open a PR.

Thanks

[2020-03-02 13:16] #77646 closed

[2020-03-02 13:21] smirnov-mi commented on #60987
anyone has sorted this out? My logs are still flooded by "orphan pod, but volume.. mimimi"

[2020-03-02 13:34] shikanon commented on #68026
@dims  PTAL for my pr to this issue, thx
https://github.com/kubernetes/kubernetes/pull/88450

[2020-03-02 13:34] anttitapio opened #88725 "Coredns fails to start if Corefile migration fails"
**What happened**:
Coredns failed to start in 1.17 deployment when it tried to retain a backed up Corefile with error message: Caddyfile via flag: open /etc/coredns/Corefile: no such file or directory

**What you expected to happen**:
Coredns starts normally with the backed-up Corefile

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a k8s 1.17 cluster and trigger coredns

[2020-03-02 13:43] anttitapio commented on #88725
/sig cluster-lifecycle

[2020-03-02 13:44] jsafrane opened #88726 "Snapshot tests fail with block volumes"
**What happened**:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-alpha-features

These tests failed consistently:
[code]

**Anything else we need to know?**:
Volume snapshot tests need to be reworked to use `InjectContent` / `TestVolumeClient` helper functions that support block volume mode. In addition, csi-driver-host-path fails when restoring block volume snapshots.

/assign
/sig

[2020-03-02 13:46] jsafrane commented on #88726
hostpath driver fix: https://github.com/kubernetes-csi/csi-driver-host-path/pull/162

[2020-03-02 13:50] jsafrane commented on #88726
E2e test fix: https://github.com/kubernetes/kubernetes/pull/88727 (needs hostpath driver release first).

[2020-03-02 14:02] notpad commented on #88458
/remove-triage unresolved

[2020-03-02 14:25] pclalv commented on #27308
i also wrote my own solution to this problem, which i call [kckn](https://github.com/pclalv/kckn). it's two small, out-of-the-way shell scripts which enable you to use per-shell kube contexts, while letting you manage your users and contexts in your base kubeconfig. kckn doesn't ever modify your base kubeconfig, and it should be compatible with any tool that supports the `KUBECONFIG`. env var.

[2020-03-02 14:25] jcassee commented on #66607
/remove-lifecycle stale

[2020-03-02 14:43] JoshuaDeanEssium commented on #60987
just reinstalled everything for kubernetes and it was happy...

[2020-03-02 14:50] smirnov-mi commented on #60987
reinstalled rook ?

[2020-03-02 14:53] njgibbon commented on #77557
Hello,

@clalbus  Your [comment](https://github.com/kubernetes/kubernetes/issues/77557#issuecomment-557786174)) was very useful! And is indeed a good workaround to avoid the deletion and re-creation of an NLB resulting in new static IPs or manually adding the rules that are required.

I can confirm that I am experiencing the same issue on AWS EKS (v1.14.9-eks-502bfb).

When applied at the point of

[2020-03-02 14:55] alculquicondor commented on #87784
We would already have the structs in`types.go`, so I don't see any harm on having a private map (or event a `switch` statement) that is keyed by the plugin name to the type. Or we can have this slice in `pkg/scheduler/framework/plugins/registry.go`, except that we build the registry at init time.

[2020-03-02 15:25] rajansandeep commented on #88725
/assign

[2020-03-02 15:27] lewismarshall commented on #68717
When following the kubernetes docs for [testing a service (network policy)](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/#test-the-service-by-accessing-it-from-another-pod) we see exactly the same issue on GKE after using the command:

[code]

Versions:
Calico node: `gcr.io/projectcalico-org/cni:v3.2.7`
GKE: `1.14.10-gke.17`

[2020-03-02 15:30] betinro commented on #68190
The same happens if you also specify memory limits too low. I tried starting with a 10Mi memory limits and i got the same errors.

[2020-03-02 15:31] pohly commented on #83913
https://github.com/kubernetes/kubernetes/pull/84042 was merged. As far as I know, this is resolved.

/close

[2020-03-02 15:31] #83913 closed

[2020-03-02 15:45] gianarb commented on #82158
Hello @verb @liggitt  !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-03-02 15:46] gianarb commented on #75482
Hello @kubernetes/sig-node-bugs @kubernetes/sig-apps-bugs  !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-03-02 15:47] gianarb commented on #87466
Hello @jennybuckley @kubernetes/sig-api-machinery-bugs !
Bug Triage team here for the 1.18 release. This is a friendly reminder that code freeze is scheduled for 5 March. Is this issue still intended for milestone 1.18, or should it extend to the next one? Thanks in advance!

[2020-03-02 16:18] gavinfish commented on #88581
@shikanon The second assign is only triggered by special cases. Normally it should only use the first assign.

[2020-03-02 16:44] kfox1111 commented on #75482
Still a bug. No one is working on it. Should probably be bumped to 1.19.

[2020-03-02 17:14] gianarb commented on #75482
Ok @kfox1111 I am moving it now.   Thanks

/milestone 1.19

[2020-03-02 17:14] gianarb commented on #75482
/milestone v1.19

[2020-03-02 17:27] #87466 closed

[2020-03-02 17:37] alculquicondor commented on #88529
@everpeace @cheyang any thoughts?

[2020-03-02 17:42] alculquicondor commented on #88093
I'll defer this to the next release

[2020-03-02 17:45] grumvalski commented on #85395
Hi @rikatz, I have no experience in KEP writing but I'm quite interested in this feature and willing to help in any way.
Thx

[2020-03-02 17:50] rikatz commented on #85395
@grumvalski let's make this happen. I've just sent an email to sig-network just to check if there are some caveats I couldn't identify in doing this, and then I'll open a PR for the KEP and we can work on that.

[2020-03-02 18:14] MorrisLaw commented on #77095
Not sure I can have the rest of the `kubectl` stuff moved out before that date. Circular dependencies are making it tricky "/. Any help or pairing would be appreciated (: , otherwise I'll continue trying to work on it when I can (usually nights or weekends).

I also think we should remove the `wrappers` task out of this issue. Based on the following comment: https://github.com/kubernetes/kubernete

[2020-03-02 18:14] MorrisLaw commented on #77095
@jtslear ^

[2020-03-02 18:17] neolit123 commented on #88725
/area kubeadm

[2020-03-02 18:18] andrewsykim commented on #74352
/milestone v1.19
/priority important-soon

[2020-03-02 18:19] andrewsykim commented on #76206
Lowering the priority for this one. For v1.19 we want to prioritize https://github.com/kubernetes/kubernetes/issues/74352.

/priority backlog

[2020-03-02 18:20] andrewsykim commented on #77095
Lowering the priority for this one. For v1.19 we want to prioritize https://github.com/kubernetes/kubernetes/issues/74352. Contributions still welcomed.

/priority backlog

[2020-03-02 18:32] alejandrox1 commented on #77095
/milestone clear

Will cleanup this thing as well to better direct what has yet to be done

[2020-03-02 18:33] alejandrox1 commented on #76206
/milestone clear

Will cleanup this thing as well to better direct what has yet to be done

[2020-03-02 18:34] justgotthis commented on #80577
*bump*, would love to have some assistance with this if anyone has ran into this behavior.

[2020-03-02 18:55] PatrickLang commented on #74991
Fixed in https://github.com/kubernetes/kubernetes/pull/87730

If you have another case where this is slow on 1.18, please open up a new issue and let us know which api calls are slowing down.

/close

[2020-03-02 18:55] #74991 closed

[2020-03-02 18:56] PatrickLang commented on #82522
Fixed in https://github.com/kubernetes/kubernetes/pull/87730

If you have another case where this is slow on 1.18, please open up a new issue and let us know which api calls are slowing down.

/close

[2020-03-02 18:56] #82522 closed

[2020-03-02 19:02] PatrickLang commented on #75296
Fixed in https://github.com/kubernetes/kubernetes/pull/86101

[2020-03-02 19:03] PatrickLang commented on #85379
Fixed in https://github.com/kubernetes/kubernetes/pull/86101
/close

[2020-03-02 19:03] #85379 closed

[2020-03-02 19:03] PatrickLang commented on #75296
/close

[2020-03-02 19:03] #75296 closed

[2020-03-02 19:08] shyamjvs opened #88738 "Missing validation for HPA annotation"
Recently, I tried to create an HPA object with an empty value for the `autoscaling.alpha.kubernetes.io/conditions` annotation and even though the response from apiserver is a 500, the object itself still got created (I verified this by querying for the key from the etcd). And since then `kubectl get/list hpa` calls are failing because apiserver seems to be unable to parse that particular object. E

[2020-03-02 19:17] droslean commented on #86355
@liggitt This test seems to stop flake. Can you check if we can close this issue?

[2020-03-02 19:18] julianvmodesto opened #88740 "Add --dry-run=server|client to kubectl scale"
**What would you like to be added**:
Support `kubectl scale --dry-run=server|client`.

**Why is this needed**:
Dry-running a `kubectl scale` command is helpful for validating that a scale request will succeed or fail.

The values `--dry-run` and `--dry-run=true|false` have been deprecated and replaced by `--dry-run=client`, and `--dry-run=server` is now possible. This issue is a follow up to https

[2020-03-02 19:18] julianvmodesto commented on #88740
/sig cli

[2020-03-02 19:32] gnufied opened #88742 "make bazel-test throws version error"
I have been using `make bazel-test` locally for awhile now but recently it has started throwing:

[code]

Bazel version:

[code]

Which does not make sense because my current bazel version is 2.x. Deleting .bazelversion file fixes that error and build proceeds as usual.

[2020-03-02 19:32] gnufied commented on #88742
/sig testing

[2020-03-02 19:33] julianvmodesto commented on #68526
Hm I want to say we're covered, particularly after you added tests for https://github.com/kubernetes/kubernetes/pull/87437.

[2020-03-02 19:35] liggitt commented on #88738
/remove-sig api-machinery

This is a bug in the autoscaling conversion. There are several annotations that are used to round-trip v2beta1 and v2beta2 data into v1 types, but those are not cleared/verified when persisting versions other than v1

[2020-03-02 19:36] gnufied commented on #88553
This may be just my local k8s install but I am seeing an error I have not seen before while using bazel - https://github.com/kubernetes/kubernetes/issues/88742 . I mainly run `make bazel-test` locally just to ensure my PR does not fail in CI with bazel. So +1 for removing bazel from build infra (including CI)

[2020-03-02 19:36] micahhausler commented on #69579
I agree, and this is something we're taking steps to implement for root cause and recovery, but a single failure of an individual object on a node can cause all scheduling to begin failing. From the node example above, the difference between `b` and `"` was one bit:

[code]

I don't think we should block discussing and implementing API serialization error mitigation on finding the root cause for t

[2020-03-02 19:38] liggitt commented on #88738
/assign @mwielgus

[2020-03-02 19:38] liggitt commented on #88738
cc @kubernetes/sig-autoscaling-bugs

[2020-03-02 19:40] liggitt commented on #88738
The server converted the object the user sent to the internal version, then to v1, then persisted the object to etcd, which succeeded. It then tried to convert that v1 object back to internal and back to v1beta2 to return to the user. That conversion step failed because the conversions are not symmetric.

[2020-03-02 19:43] #88086 closed

[2020-03-02 19:43] julianvmodesto commented on #86526
This issue is unblocked and could use some help! There are many places in kubernetes.io that we need to identify then update and we need to add deprecation warnings for the old values.

[2020-03-02 19:43] #88726 closed

[2020-03-02 19:43] bhagwat070919 commented on #77557
Hi @njgibbon ,

When I am verifying the same , I was able to see the worker SG rules updated the same range when I updated the source ranges in service yaml.
I would be happy to verify the same for your cluster.

[2020-03-02 19:46] damemi commented on #87427
/reopen
#88685 was just part of this issue

[2020-03-02 19:47] MrHohn commented on #85155
Sorry for the late response, this is still relevant. Previously service control relies on the cache layer to know what services were there. When service is deleted, it checks against the cache to see if it needs to cleanup. Now with finalizer this is no longer needed.

/remove-lifecycle stale

[2020-03-02 20:11] verb commented on #82158
@gianarb This is still intended for 1.18. #87865 resolves this issue and has lgtm.

/cc @tedyu

[2020-03-02 20:53] shyamjvs commented on #88738
@liggitt Thanks for the above explanation. But if we could successfully persist the object in etcd as `v1`, I'm not sure why we would fail even when trying to get that object using the `v1` api:

[code]

[2020-03-02 20:54] liggitt commented on #88738
It's a bug in the conversion. The conversion from internal -> v1 (for persistence) completes without error. The conversion from v1 -> internal (part of serving the objects) fails.

[2020-03-02 20:56] shyamjvs commented on #88738
Then keeping the sig-autoscaling part of the bug aside, why is it not an apimachinery issue too? Because iiuc we're essentially allowing to persist an object that we're sure to fail converting back to internal.

[2020-03-02 21:00] liggitt commented on #88738
manually written conversions are owned by the sig that owns those APIs, in this case sig-autoscaling

[2020-03-02 21:07] anderseknert commented on #87369
As a colleague just made me aware of, certain tools like kubetail seem to have kubectl call the exec plugin so many times that eventually the `onRotateListWarningLength` threshold of 1000 is reached and warn logs (exec:201) start spewing - even though no certificate (and hence no rotation) should be involved. This has me more convinced that the first option is the right one, skipping the client TL

[2020-03-02 21:09] shyamjvs commented on #88738
Thanks.

In more general sense, isn't expecting that conversions are written properly by author of an API more like a "good will" rather than enforcement currently? (Sorry for any ignorance in asking this question..) I'm wondering if we can have apiserver itself check for (v1 -> internal) conversion before persisting an object? Or you think it's too expensive for it to do that?

[2020-03-02 21:11] liggitt commented on #88738
That's a very expensive check to run on all conversions of all objects to guard against a programming error.

[2020-03-02 21:13] shyamjvs commented on #88738
Now I have my answer, thanks! :)

[2020-03-02 21:43] ztasre commented on #51835
`kubectl delete pods <pod> --grace-period=0 --force`  is a temporary fix, I don't want to run a manual fix every time there is failover for one of the affected pods. My zookeeper pods aren't terminating in minikube and on Azure AKS.

[2020-03-02 21:55] droslean commented on #88707
Job is green after #88727 . Closing...
/close

[2020-03-02 21:57] timfallmk commented on #88183
Blog post for new proto tools release related to fix https://blog.golang.org/a-new-go-api-for-protocol-buffers

[2020-03-02 21:57] droslean commented on #88245
/remove-kind failing-test
/kind flake

[2020-03-02 22:11] Nowaker commented on #57601
@BenTheElder Creating a new namespace auto-creates a new service token that is set to automount so it's not a viable solution. Any other suggestions how we can ensure `automountServiceAccountToken: false` is a default?

[2020-03-02 22:16] Nowaker commented on #57601
Note: my coworker just found https://github.com/karydia/karydia.

While I'm happy with the workaround, the idea that one has to use a third party service to revert some insecure default settings is still pretty mind boggling.

[2020-03-02 22:19] schollii opened #88748 "kubectl get events does not show how long events are kept"
**What happened**:
`kubectl get events --all-namespaces` showed no events whatsoever, without indicating the period this covers... an hour, a day, a week?

**What you expected to happen**:

I expected to see a line saying "In the last PERIOD, these are the events that were logged:", where PERIOD would reflect the value used for event TTL (`kube-apiserver --event-ttl PERIOD` or default if that arg

[2020-03-02 22:49] #88443 closed

[2020-03-02 22:50] #88656 closed

[2020-03-02 23:00] BenTheElder commented on #83913
thank you!

On Mon, Mar 2, 2020 at 7:31 AM Kubernetes Prow Robot <
notifications@github.com> wrote:

[2020-03-02 23:05] Vorian-Atreides commented on #45509
I have been quickly through the past 3 years messages, it seems like there is one pattern standing out from most of the use-cases. We are actually not looking to downscale specific Pods, but rather to rank each Pods with a "likeness to be downscaled" index.
Ideally any application should be able to rank itself and the ranking must be application-gnostic. With every Pods running the same ranking al

[2020-03-02 23:26] #82808 closed

[2020-03-03 00:15] #4672 closed

[2020-03-03 00:16] #88481 closed

[2020-03-03 00:16] #88494 closed

[2020-03-03 00:29] sethp-nr commented on #86509
I was able to reproduce this issue with the core Secret type as well:

[code]

and then arrange the child's owner references in the way @justinsb described:

[code]

and then `kubectl delete secret parent` does _not_ delete `child` but the "blocking" owner reference is removed:

[code]

via `kubectl proxy &` and `curl localhost:8001/api/v1/namespaces/default/secrets?watch=1` we can get a "play by

[2020-03-03 00:38] BenTheElder commented on #86935
The prowjob pod should probably set guaranteed CPU if we're comparing
results btw...

On Thu, Feb 27, 2020, 10:12 Antoine Pelisse <notifications@github.com>
wrote:

[2020-03-03 01:01] mateuszlitwin commented on #88469
From the logs provided by @Huang-Wei you can tell that the problem is a race between "signalling-pod" and "waiting-pod" and waiting inside the Permit(), as I mentioned in this issue.

BLUF: In the first case of the TestCoSchedulingWithPermitPlugin "waiting-pod" and "signalling-pod" pods are being retried many times, most of the time "signalling-pod" is rejecting already waiting "waiting-pod", but

[2020-03-03 01:15] subaduba commented on #80897
I had the same issue on EKS 1.14 and nginx ingress 0.29.0, and this suggestion fixed it for me. Once I changed to cluster, my health checks succeeded. Thanks!

[2020-03-03 01:28] #83515 closed

[2020-03-03 01:32] #88426 closed

[2020-03-03 01:40] jberkus commented on #30427
/remove-lifecycle rotten

This issue has an active PR

[2020-03-03 01:53] tedyu commented on #86509
I am on mobile device.
From what I read from above, the presence of secret ‘uncle’ was the cause for child not being deleted.

[2020-03-03 01:59] vryzhenkin opened #88752 "Resource consumer controller does not respect configured dns domain"
**What happened**:
During execution of HPA e2e part on kubespray deployment environment with non-default domain 7 of 8 HPA tests failed. One passed by accident due it require only downscale.

**What you expected to happen**:
All 8 tests passed

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a Kubernetes cluster using any desired tool with any domain setting that differ

[2020-03-03 02:00] vryzhenkin commented on #88752
/sig testing

[2020-03-03 03:14] HayTran94 commented on #71869
Thank you very much. It worked with me

[2020-03-03 03:22] Huang-Wei commented on #88469
I feel like we should avoid sharing the scheduler & permitPlugin instances among the 2 subtests, which can then solve the flake?

[2020-03-03 03:27] mateuszlitwin commented on #88469
I think this flake (in different variations) can happen as long as test depends on the order in which signalling and waiting pod enter the permit plugin.

[2020-03-03 03:57] alculquicondor commented on #88469
I believe the PR might fix the issue. But since the reason for the flake is that one subtest is corrupting the other, it's possible that we might surface other flakes. That's why it's important that you run the test several times to check for other flakes.

If not, let's proceed with this PR and leave a TODO to remove the dependency between the subtests.

[2020-03-03 04:18] liggitt commented on #86355
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=sends%20DATA still looks flaky to me

[2020-03-03 04:43] markyjackson-taulia commented on #74379
I had a chat today with @nckturner and he is optimistic this will land in 1.18. I will follow up again on Wednesday

[2020-03-03 05:02] tedyu commented on #88709
The digest parameter helps with reading the file. But defining writing across protocols would not be easy since different protocols require different ways of authentication/ authorization.

[2020-03-03 05:42] shikanon commented on #88581
Okay, how to remove it?

[2020-03-03 06:02] vijay-v6 commented on #60987
kubelet logs in one of the worker still outputs the orphaned pod xxxxx found error.

[2020-03-03 06:02] qqshfox commented on #81636
We didn't have this issue since we were running a patched 1.13 cluster in production env for more than 2 months.
Two weeks ago, we upgraded the cluster to vanilla 1.14 and have been running for two whole weeks. We still have not encountered this issue yet.

Just want to share the results with you guys here.

[2020-03-03 06:22] smourapina commented on #79523
Thanks for the reply @edobry! This has been a long running issue, and given that there has not been any recent activity, would it make more sense to once again move the milestone? We are 2 days away from code freeze (5 March).

[2020-03-03 06:29] smourapina commented on #87617
Thanks for getting back on this @alculquicondor. We are now 2 days away from code freeze (5 March), so please keep this in mind.

[2020-03-03 06:44] Nitesh-vaidyanath commented on #24725
+1 Our application is designed in such a way if container crash it will fail to start again.  We need option "spec.template.spec.restartPolicy" : "Never".

[2020-03-03 07:01] dano0b commented on #80897
Sadly we can't `externalTrafficPolicy: "Cluster"` since we need the client ip address forwarded to our application, for now we work-around this issue by using nginx-ingress as daemonset and static `healthCheckNodePort` for each of the nginx-ingresses.
At some point nginx-ingress on AWS does stop updating the ec2 nlb targetgroup.

[2020-03-03 07:16] mariusmarais commented on #80897
Another option is to expose the ingress as a NodePort service:

[code]

Which will expose HTTP and HTTPS on the EC2 node's port 32766 & 32767, but ONLY where the ingress controller is actually running.  Then hook up an NLB target group for each of those, using a TCP healthcheck to the traffic port.  Remember to open up those ports on the nodes' security groups and perhaps lower the healthcheck thr

[2020-03-03 08:14] akhilerm commented on #85624
This issue has been fixed in docker in PR [#40291](https://github.com/moby/moby/pull/40291)

[2020-03-03 08:16] brancz commented on #58638
/remove-lifecycle stale

[2020-03-03 08:17] #88680 closed

[2020-03-03 08:29] kyle29 opened #88755 "Seccomp custom profile no such file or directory"
**What happened**:
custom seccomp profile is not working. ( Also tried using runtime/default but the same "no such file or directory" error logs)
full describe Messages are

**What you expected to happen**:
use a custom seccomp profile when creating pods & containers
**How to reproduce it (as minimally and precisely as possible)**:
Used kubeadm with config.yaml, option enable-admission-plugins: Po

[2020-03-03 08:42] dmvolod opened #88756 "Add 'display' filed to the CRD's 'spec.names' to be able advanced display capabilities"
**What would you like to be added**:
It would be nice to have a advanced 'display' filed in the  CRD's 'spec.names'
**Why is this needed**:
Often, the CRD 'kind' or 'singular' names are not enough to deeply display and describe a Custom Resource Definition entity. For some reasons, developers give a very short names for CRD usability in the operator/controller code itself, but would like to displa

[2020-03-03 08:49] dmvolod commented on #88756
/sig api-machinery

[2020-03-03 08:49] kevinresol commented on #79523
I wonder what "activity" you are expecting.

[2020-03-03 08:49] dmvolod commented on #88756
/area custom-resources

[2020-03-03 08:50] kyle29 commented on #88755
/sig Node /area kubelet

[2020-03-03 08:51] dmvolod commented on #88756
/sig usability

[2020-03-03 09:05] gavinfish commented on #81134
@smourapina Thanks for tracking the issue. I think this issue has to be moved to milestone 1.19 for two reasons:
1. There is no response from assignee @zouyee who also owns an active PR.
1. There should be more similar issues left.

/milestone v1.19

[2020-03-03 09:29] gavinfish commented on #88581
@shikanon I do not think we need to remove anything here.

[2020-03-03 11:07] benceszikora commented on #83900
Activity!

[2020-03-03 11:15] NorekZ opened #88757 "[v1.7.3/linux/amd64] kubectl set uses API apps/v1beta1 even if its not present"
**What happened**:
After upgrading kubernetes cluster to v1.17.3 (from 1.14.6) my `kubectl set image xxx --v=9` command throws error `Error from server (NotFound): the server could not find the requested resource` because `apps` in `v1beta1` version does not exist and so request to ***xxx/apps/v1beta1/xxx*** returns 404:
![image](https://user-images.githubusercontent.com/22442049/75769236-1f278900

[2020-03-03 11:20] NorekZ commented on #88757
/sig cli

[2020-03-03 11:46] dims commented on #85624
@akhilerm is this just a docker only issue? what happens when someone uses containerd as the CRI directly?

[2020-03-03 12:15] zhujintao commented on #88688
tks! how to disable old versions, or reject old version

[2020-03-03 12:30] mrbobbytables commented on #88553
+1 from me. I honestly haven't had to deal with bazel too much but each time has been a less than positive experience. :|

These days it feels more like a vestigial part of the project. 😬

[2020-03-03 12:38] cristiklein commented on #88553
Sorry for the +1-ish-style comment, but I felt that the Bazel-based infrastructure also increases the  barrier to entry for newcomers.

[2020-03-03 12:42] droslean commented on #88553
Huge +1. Also, it is worth mentioning that the upstream bazel configuration is not working in all workstations. I found myself many times to try to hack the config to make it work.

[2020-03-03 12:55] frittentheke commented on #69699
/remove-lifecycle stale

[2020-03-03 13:06] matthyx commented on #88553
I can say I find it really useful in the `test-infra` repo where we can blend with other languages (python, ...) and not bother with writing Makefiles. It's also super useful with the tests...

Maybe we should use only one build tool across all main K8S projects, stick to it and provide resources to educate people.

[2020-03-03 13:11] saschagrunert commented on #88553
I think we have to use at least two build systems: The standard golang toolchain and supporting `make` should be enough to handle the project.

My question would be: Which functionality are we missing from them that bazel provides?

[2020-03-03 13:20] matthyx commented on #88553
At least for python, the way to provide a virtual env is pretty cool, see here:
https://github.com/kubernetes/test-infra/blob/master/hack/verify-pylint.sh

Another point for bazel, hermetic and reproducible builds: it does not rely on the local version of `go` or nothing on the host computer, making sure we can always generate the artifacts from the sources. All you need is the correct version of

[2020-03-03 13:22] saschagrunert commented on #88553
I see that point and I think we could achieve the same with the standard container images we build and use today as well. :)

[2020-03-03 13:24] vielmetti commented on #88553
Full support for this decision from the arm64 side of the house. Bazel has been a tough dependency to keep on top of for building for Arm servers, as that project does not ship a Bazel binary in its default release, and so Kubernetes full integration on arm64 is just that much more of a hassle to bootstrap.

[2020-03-03 13:28] jaypipes commented on #88553
This ^

Remove this obstacle to contribution to Kubernetes and you'll see an increase in contribution, IMHO.

[2020-03-03 13:29] mkumatag commented on #88553
+1 👍

[2020-03-03 13:34] RiadVargas commented on #79224
As previously mentioned by @gabriel-samfira, there's a bunch of possible useful scenarios where having access to Secrets inside a ConfigMap would avoid having configuration file interpolation during runtime or exposing the sensitive information wide-open directly into ConfigMap.

[2020-03-03 13:34] vryzhenkin commented on #88752
/sig autoscaling

[2020-03-03 13:42] mbelchin commented on #83900
still suffering the issue !

[2020-03-03 13:55] jsafrane opened #88762 "GCE PD snapshot tests are flaky"
**Which jobs are flaking**:
gce-cos-master-alpha-features

**Which test(s) are flaking**:
[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (default fs)] provisioning should provision storage with snapshot data source [Feature:VolumeSnapshotDataSource]

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**R

[2020-03-03 13:58] liggitt commented on #88553
fwiw, the bazel/gazelle toolchain we have in place is making it significantly more complicated to  pick up a CVE fix on the 1.15 branch - see https://github.com/kubernetes/kubernetes/pull/88416#issuecomment-591970042

[2020-03-03 14:01] hlubek commented on #69082
Same here, we currently use `hyperkube` images to make RBD image resizing work. How should this be handled without RBD binaries in controller manager? Shouldn't the resizing be delegated to the external tree provisioner (which has the `rbd` binary)?

[2020-03-03 14:08] jsafrane commented on #88762
/sig storage

[2020-03-03 14:11] dims commented on #88553
from slack @matthyx https://kubernetes.slack.com/archives/C09QZ4DQB/p1583244228107400

[code]

[2020-03-03 14:11] dims commented on #88553
cc @fejta

[2020-03-03 14:15] bradmat opened #88764 "Kubelet build fails with local golang installation"
**What happened**:
I've been able to successfully install using yum, however I’m now trying to build the Kubelet using a local golang installation but I’ve hit the following error on the first build attempt with ‘make WHAT=cmd/kubelet’
[code]
If I run the same command again however, the error disappears and I get a kubelet binary in the _output/bin directory.

However due to the error on first att

[2020-03-03 14:19] bradmat commented on #88764
/sig node /sig cluster-lifecycle

[2020-03-03 14:25] mattjmcnaughton commented on #88553
One potentially interesting angle through which to frame this conversation: if we didn't already have Bazel support, would we invest $X resources to add it? And what would be the predominant motivation points to add it?

(Where $X is the amount of resources its costing us to maintain Bazel...)

[2020-03-03 14:29] Pensu commented on #88553
+1

[2020-03-03 14:38] alculquicondor commented on #88529
/assign @damemi
We need to do this ASAP

[2020-03-03 14:45] kensipe commented on #88553
+1

[2020-03-03 14:46] fengzixu commented on #88529
@damemi If you need my help, let me know. I am willing to do some work on this issue.

[2020-03-03 14:46] bitsofinfo commented on #51835
same issue, super annoying

[2020-03-03 14:56] NorekZ commented on #88757
My bad, I misspelled kubectl version, instead of 1.17.3 I used 1.7.3. Sorry..

[2020-03-03 14:56] #88757 closed

[2020-03-03 14:56] damemi commented on #88529
@alculquicondor working on it, I was just waiting to see if there was any more input

[2020-03-03 15:00] bbgobie commented on #53023
Just hit this on 1.15.7
don't even know which pods its complaining about

[2020-03-03 15:03] liggitt commented on #88553
There are ongoing costs to the current bazel tooling, which are born in small ways by all k8s contributors, and in large ways by a handful of maintainers responsible for releases, dependencies, and go version management. To justify that, there needs to be compelling evidence that it also provides significant and widespread benefits over the standard go toolchain. I don't see that evidence, but wou

[2020-03-03 15:05] yashsaini77 commented on #57393
what is exactly the cronjobmetadataname here

[2020-03-03 15:17] TJM commented on #53023
@bbgobie I know, right!? It would be nice if it would tell us which pod is "not ready" in its mind. (even though they all report as ready). We just ended up restarting all the pods as per my message a few posts up. I have not seen any problems (with that) on our 1.16.3 cluster.

[2020-03-03 15:32] cwdsuzhou commented on #88738
/cc

[2020-03-03 15:50] smarterclayton opened #88766 "Volume teardown and container start can race while a pod is being deleted and report an error"
If a pod is created and then deleted quickly, volume teardown and the container runtime can race in a way that causes the container runtime to fail to start the container and then report an error.  This is because the teardown and container start happen in parallel and cannot synchronize (container start is a call to the container runtime), so by the time the container runtime begins standing up t

[2020-03-03 16:05] smarterclayton commented on #88766
/sig node

[2020-03-03 16:06] php-coder commented on #88182
For history: #88600 should fix that.

[2020-03-03 16:06] briankmatheson opened #88767 "Kublet calls to du can hang indefinitely"
**What happened**:

kubelet pod grew in size as it spawned an ever-increasing number of du child procs.

**What you expected to happen**:

This check should maybe timeout after a while.  Preferably before we spawn another du.

**How to reproduce it (as minimally and precisely as possible)**:

I'm not quite sure unfortunately, I haven't seen this behavior first-hand.  I did get a report from a 3rd

[2020-03-03 16:09] alculquicondor commented on #88529
Yeah, I was awaiting for more input too. But now we are way too close to code freeze.

According to the previous discussions, we should proceed with option 1 in 1.18, because:

- It doesn't require extensive api-review
- It is no worst than the existing functionality in 1.17
- It makes it easy to upgrade to other options in the next releases, once we have more input

[2020-03-03 16:11] briankmatheson commented on #88767
I came across potentially related PR https://github.com/kubernetes/kubernetes/pull/74675

/sig node

[2020-03-03 16:21] dariuszbz commented on #79365
I have the same issue: Invalid metrics (1 invalid out of 1), last error was: failed to get cpu utilization: did not receive metrics for any ready pods

I use aks with windows nodes.
aks 1.15.5

only one id three pod is active.

warnings:
 Warning   FailedGetResourceMetric        horizontalpodautoscaler/kcglob1-hpa         did not receive metrics for any ready pods
60m         Warning   FailedCompu

[2020-03-03 16:23] thockin commented on #88553
The goal with Bazel was to get it to the place where 99% of developers never interact with it, and the only time BUILD files were part of a PR was when something really special was happening.  I think we never got there and the fire that was fueling use of Bazel has died down for other reasons.

Alas, poor bazel.  I wanted to like you.

The "make and go" build could ALSO be simplified in light of

[2020-03-03 16:25] danielgblanco commented on #84142
We may be running into the same or a problem that may be connected to this. We run a deployment with

[code]
The HPA, which targets the deployment, is set to scale on a custom metric which is scraped every 30 seconds (as the value is a calculated as a `rate` it takes 60 seconds for the first value to appear).

When the rolling update runs, even with completely idle deployment at 1 replicas, the HP

[2020-03-03 16:43] Katharine commented on #88553
+1 in principle

That said - one key place we actually benefit from bazel is in our CI infrastructure. In particular, we run all k/k unit tests via bazel and it takes about 12 minutes on average. This speed is a feature of our use of bazel - because we cache all the targets (via either greenhouse or RBE), we usually do not actually run most of the tests, in PRs or otherwise.

If we run the tests v

[2020-03-03 16:51] saschagrunert commented on #88553
Caching is a good point. I think we could solve that by being able to pass around the `$GOCACHE` contents from one build to another, based on the changes (maybe a SHA) of `go.sum` files.

[2020-03-03 17:25] adelina-t commented on #82876
Works now
/close

[2020-03-03 17:25] #82876 closed

[2020-03-03 17:28] liggitt commented on #88756
the description field in the top-level schema allows adding a description used by `kubectl describe <type>`:

[code]

[code]
[code]

[2020-03-03 17:29] #88756 closed

[2020-03-03 17:31] lavalamp commented on #88553
I'm in favor of converging on a single system. I currently despise both of our build systems. So, I'm in favor of removing which ever one there's critical mass to remove.

[2020-03-03 17:35] msau42 commented on #88762
Generally, cutting a snapshot is quick, but uploading can take longer. Does provisioner wait until the snapshot is "ready" before returning success?

[2020-03-03 17:36] msau42 commented on #88762
@kubernetes/sig-storage-test-failures
cc @xing-yang  @yuxiangqian

[2020-03-03 17:38] msau42 commented on #88762
(But yes, we should increase the timeout because overall time will still be longer no matter which order we take)

[2020-03-03 17:40] msau42 commented on #85624
/remove-lifecycle stale
That's great news! And yes, we should make sure it gets fixed in containerd too.

[2020-03-03 17:49] vielmetti commented on #88553
As an example of Bazel issues that have an impact on building multiple architectures on Kubernetes:

https://github.com/bazelbuild/bazel/issues/10746#issuecomment-594077062

[2020-03-03 17:57] julianvmodesto commented on #80916
/sig cli
/area kubectl

[2020-03-03 18:01] midnightconman commented on #88553
Bazel offers much more than just go builds... for instance if using it with Go applications that require embedded data, you can use bazel to convert arbitrary files into go files and store each file as a variable (we would have to invent this is make, or use an external binary for go [like paker]).

https://github.com/bazelbuild/rules_go/blob/master/go/extras.rst#go_embed_data

Bazel is also good

[2020-03-03 18:04] Katharine commented on #88553
Since people keep bringing up test-infra: it is worth noting that that is not the topic of discussion here.

[2020-03-03 18:16] Huang-Wei commented on #88441
@droslean This issue can be marked as resovled as [4 sub-issues](https://github.com/kubernetes/kubernetes/issues/88441#issuecomment-591141004) have all been fixed.

/close

Feel free to reopen or open a new issue if you spot a new flake.

[2020-03-03 18:16] #88441 closed

[2020-03-03 18:30] neolit123 commented on #88688
i don't think there is a way to do that.
the old admin.conf is for a user that is part of a valid group and has valid client certificates.

you can still try asking in #kubernetes-users or #sig-auth of k8s slack.

[2020-03-03 18:45] PatrickLang commented on #88553
Building with Bazel requires about 16GB of RAM from my testing. That's not cheap if you don't have cloud sponsorship, and definitely not cheap in laptops where soldered down RAM is becoming more typical. Make can succeed with 6-8GB.

[2020-03-03 18:55] xing-yang commented on #88762
The provisioner does not wait.  If snapshot is not readyToUse, creating a volume from it will fail. I'll have to check to see if there's logic to wait in the e2e test.

Regarding GCE PD, at restore time, do we need to download the snapshot from object store?  If that's the case, it could take a while to download as well.

[2020-03-03 18:56] jingxu97 commented on #88762
Prevision does wait until snapshot is ready.
https://github.com/kubernetes-csi/external-provisioner/blob/efcaee79e47446e38910a3c1a024824387fcf235/pkg/controller/controller.go#L894

Looks like attacher tried to attach while disk is not ready. It is strange because I think attach only happen after volume is successfully provisioned.

[2020-03-03 18:58] fejta commented on #88553
* We are underestimating the cost involved in replacing our bazel usage in CI
  - effort we could otherwise spend improving things.
* We should reach out to the #bazel community to see if there is a critical mass of people willing to improve and maintain these rules
  - a primary problem is that no one has been doing this for some time now.

[2020-03-03 19:08] ixdy commented on #88553
I was going to make a comment that another useful feature from Bazel was JUnit XML output of test results for unit and integration test runs, which is then consumed by Prow. We had a hacky set of scripts which used to provide this without Bazel using `go-junit-report`, but it was pretty fragile.

It appears now that there's a much less fragile way of doing this, implemented by @liggitt in https://

[2020-03-03 19:14] mateuszlitwin commented on #88469
@alculquicondor I ran `make test-integration WHAT=./test/integration/scheduler GOFLAGS="-v" KUBE_TEST_ARGS="-test.run='^TestCoSchedulingWithPermitPlugin'"` 10+ times on my branch with the fix and had no issues.

[2020-03-03 19:16] dmvolod commented on #88756
Thanks for response @liggitt
But I was mean about a display field for every CRDs which will be possible to display in the Kubernetes Dashboard Custom Resource Definition instances list if needed.

[2020-03-03 19:17] djsly commented on #68211
Can we get this issue reopened ?

[2020-03-03 19:23] yuxiangqian commented on #88762
@xing-yang AFAIK, most cloud providers' snapshot ATM will be uploaded to some remote when taking, and will be downloaded when restoring. GCE PD is one of them.

[2020-03-03 19:24] classic70s opened #88772 "E0303: API Server unable to authenticate requests"
**What happened**:
Have been using this cluster for 6+ months for internal application development and performance testing. Yesterday I began noticing kubectl command failures and would return this message:

The connection to the server (HOSTNAME):6443 was refused - did you specify the right host or port?

I discovered the Docker API server container continuously restarting :

[root@com-kube-maste

[2020-03-03 19:33] ixdy commented on #88553
I think it'd probably be better to spend engineering time on things like figuring out how to make the Go build cache work effectively in CI and simplifying the non-Bazel build than trying to update the [supported Bazel version](https://github.com/kubernetes/kubernetes/blob/master/build/root/.bazelversion) from one that is nearly a [year old](https://github.com/bazelbuild/bazel/issues/7667). Even i

[2020-03-03 19:36] lavalamp commented on #88553
Right, it's bash with a few helper .go files.

[2020-03-03 19:49] bhagwat070919 commented on #77019
Not sure if it would be possible to make it in first 1.18 release.

[2020-03-03 20:16] #69314 closed

[2020-03-03 20:30] shyamjvs commented on #88738
fyi - @MaciekPytel :)

[2020-03-03 20:37] juliantaylor commented on #68211
/reopen
/remove-lifecycle rotten

[2020-03-03 20:46] neolit123 commented on #88764
/remove-sig node cluster-lifecycle
/sig release

please try:
[code]

[2020-03-03 20:46] neolit123 commented on #88764
/triage awaiting-information

[2020-03-03 20:47] neolit123 commented on #88764
/triage needs-information

[2020-03-03 21:15] fedebongio commented on #88677
/remove-sig api-machinery

[2020-03-03 21:33] bbgobie commented on #53023
It actually could be related to this.
https://github.com/kubernetes/kubernetes/issues/84931

Strangely at the same time we had regular pods as part of a deployment exhibit the same issue.
The containers are ready, but the pods are listed as not ready, and in the deployment unavailable.

[2020-03-03 21:46] asauber commented on #60535
I have a need for this as well.

What if we made it optional for kubelet using an annotation similar to the following?

[code]

[2020-03-03 21:52] angelofdeauth commented on #88677
Why? This RFE would require additional functionality in the kube-controller-manager, which is in scope of the sig api-machinery charter, per [the charter][1]

/sig api-machinery

[1]: https://github.com/kubernetes/community/blob/master/sig-api-machinery/charter.md

[2020-03-03 22:01] toonsevrin commented on #88709
Hm, I know this is not what you mean but that's actually another good argument for a File resource. It abstracts all this protocol specific stuff away from the client applications.

Sidenote with regards to the digest/checksum. Obviously that breaks down once the resource can change over time. A nice extension would be to also allow some kind of signature verification for resources that change ove

[2020-03-03 22:15] jaypipes commented on #88553
Is there a "just snarfed coffee over my keyboard" emoticon?

[2020-03-03 22:25] smarterclayton opened #88779 "Panic in kubelet Run does not exit, creates multiple parallel Run goroutines"
If the kubelet Run method panics (e.g. https://github.com/kubernetes/kubernetes/pull/88915)  Run gets called multiple times:

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6c286c8/cmd/kubelet/app/server.go#L1131-L1134

That would start multiple goroutines calling relist() concurrently

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6

[2020-03-03 22:25] smarterclayton commented on #88779
/sig node
/priority important-soon

[2020-03-03 22:28] smarterclayton commented on #88779
Could be related to #88440 but not seeing how yet

[2020-03-03 22:31] PeterQiao opened #88780 "IPv6 dual stack: Failed to execute iptables-restore when using iptables mode with kube-proxy"
**What happened**:
When configure ipv6 dual stack, kube-proxy cannot work under "iptables" proxy mode. Here is the log,
E0303 22:19:54.261094       1 proxier.go:1507] Failed to execute iptables-restore: exit status 2 (iptables-restore v1.8.3 (legacy): invalid mask `112' specified

I know from k8s document, I should use ipvs mode, but I see iptables ipv6 support has already been merged.

**What you

[2020-03-03 22:32] PeterQiao commented on #88780
/sig network

[2020-03-03 22:35] neolit123 commented on #88772
/remove-kind bug
/triage support
/sig network

[2020-03-03 22:35] neolit123 commented on #88772
/remove-sig network

[2020-03-03 22:36] neolit123 commented on #88748
/sig cli

[2020-03-03 22:37] smarterclayton commented on #88779
I don't see how this map could have escaped the PLEG unless it was started twice.  I see no signs of that.  This appears to be code that should never fail this way if the go runtime is correct (I don't see the pod record object escaping this type, and I see no public interface that touches a field outside of an atomic accessor).

[2020-03-03 22:39] smarterclayton commented on #88779
Note nothing in this package has changed since last year in July (all the metrics stuff should already be thread safe)

[2020-03-03 22:50] smarterclayton commented on #88779
So far 88440 appears to be able to consistently reproduce it (because we improve the efficiency of some failure modes and change some loops), but I don't see many other kind jobs failing on it.  So this PR exacerbates (but does not cause?) the issue, potentially.

[2020-03-03 23:09] ibuildthecloud opened #88782 "Proxying websocket to http2 capable server failed with malformed response"
**What happened**:

We are using the UpgradeAwareHandler from apimachery to proxy HTTP requests. If our target server is HTTP2 capable websockets will fail with a message like "malformed HTTP response "\x00\x00\x18\x04\x00\x00\x00\x00\x00\x00\x05\x00\x04\x00\x00\x00\x03\x00\x00\x00\xfa\x00\x06\x00\x10\x01@\x00\x04\x00\x04\x00\x00"

The reason for this is the proxy does a raw dial and the TLS conne

[2020-03-03 23:14] aojea commented on #88780
@PeterQiao can you check  that you have a line ,close to the beginning in your kube-proxy logs, like this?

[code]

also you should have several lines logging with `metaproxier.go` like this
[code]

[2020-03-03 23:17] george-angel commented on #60665
/remove-lifecycle rotten

[2020-03-03 23:26] ibuildthecloud commented on #88782
/sig apimachinery

[2020-03-03 23:33] #80534 closed

[2020-03-03 23:40] wstian commented on #71704
same error message in kubelet log
[code]

we solve it by downgrading the linux kernel, a customized internal kernel based on 3.0.x

[2020-03-03 23:42] PeterQiao opened #88784 "IPv6 dual stack: error log flooding when using "ipvs" mode in kube-proxy"
**What happened**:
Setup a kubernetes cluster with dual stack enabled, set kube-proxy to "ipvs" proxy mode, many warnings are flooding in kube-proxy pod log,
W0303 22:11:22.027597       1 meta_proxier.go:121] failed to update endpoints kube-system/kube-scheduler with error failed to identify ipfamily for endpoints (no subsets)
W0303 22:11:22.697358       1 meta_proxier.go:121] failed to update end

[2020-03-03 23:42] PeterQiao commented on #88784
/sig network

[2020-03-03 23:49] PeterQiao commented on #88780
Here is the log of my kube-proxy from line 1,
I0303 23:44:45.868415       1 node.go:135] Successfully retrieved node IP: 10.210.149.61
I0303 23:44:45.868460       1 server_others.go:145] Using iptables Proxier.
I0303 23:44:45.868706       1 server.go:571] Version: v1.17.3
I0303 23:44:45.869064       1 conntrack.go:52] Setting nf_conntrack_max to 131072
I0303 23:44:45.869304       1 config.go:131]

[2020-03-03 23:54] invidian opened #88785 "Make kube-apiserver use SO_REUSEPORT to enable graceful bootstrapping and upgrades of self-hosted kube-apiserver"
**What would you like to be added**:
Add `SO_REUSEPORT` Linux socket option, when binding ports in `kube-apiserver`.

**Why is this needed**:
That will allow to run multiple instances of `kube-apiserver` on a single host, which makes bootstrapping and upgrading self-hosted `kube-apiserver` much more graceful, as it allows to wait until new self-hosted pod is up and running before shutting down old

[2020-03-03 23:55] invidian commented on #88785
/sig api-machinery

[2020-03-04 00:01] jodavis-suse commented on #87867
I was hoping this and the change in apimachinery would be a good step toward addressing 1.
I am a bit confused by 2.  Are you saying the guidelines are recommending putting log messages for common operations (live http requests) at too low of a log level, or that you are already using a high level of logging (5 or more?) in production that can't take any more messages?  I hope that doesn't sound l

[2020-03-04 00:06] smarterclayton commented on #87867
The rules in that doc apply to server code, not client libraries, library packages, or cli code

[2020-03-04 00:12] allisonis commented on #88553
+1

[2020-03-04 00:18] jodavis-suse commented on #87867
Ah, that makes some sense.  Can we make a clarification to that in the logging convention?  The guideline doesn't have any stated restrictions.  It would be simple to add a line stating "The guideline is for server code to use log levels up to V(5), though client libraries, library packages, and CLI code may find levels up to V(10) are needed for tracing."

[2020-03-04 00:22] liggitt commented on #88772
Do you have the panic stack?

[2020-03-04 00:48] annajung commented on #77019
Hey @bhagwat070919 @nckturner Code freeze is happening in 2 days. If you dont think it will make it, should I defer the milestone to 1.19 release?

[2020-03-04 00:54] xiaods commented on #88553
anyone can share which another tools better than bazel? use github action?

[2020-03-04 00:55] annajung commented on #76064
@kubernetes/sig-network-bugs @cadmuxe @hantaowang @dcbw Friendly reminder that code freeze is in 2 days and this issue is marked as `priority/important-soon`

[2020-03-04 00:58] annajung commented on #78904
Hey @tnozicka Just friendly reminder that code freeze for 1.18 release is in 2 days.

[2020-03-04 01:00] annajung commented on #80916
Hey @apelisse Just friendly reminder that code freeze is in 2 days for 1.18 release.

[2020-03-04 01:06] liggitt commented on #88748
This isn't really a CLI issue. The events API does not provide the information you are wanting

[2020-03-04 01:50] felix0080 opened #88791 "How to get the command of interaction between user and pod after kubectl Exec"
How to get the command of interaction between user and pod after kubectl Exec？We want to monitor the interaction instructions between users and pod to prevent users from entering unsafe instructions, which will have a bad impact on the host. Is there any way to do this? Thank you for your help.

[2020-03-04 01:57] felix0080 commented on #88791
/sig cli

[2020-03-04 01:58] felix0080 commented on #88791
/sig apps

[2020-03-04 02:08] xmapst commented on #77192
@Swetad90  We are running into similar issue in out environment, did you find the root cause / any workarounds?

[2020-03-04 02:22] jayapalreddy18 opened #88793 "The connection to the server 10.190.67.31:6443 was refused - did you specify the right host or port?"

[2020-03-04 02:29] jayapalreddy18 commented on #88793
/sig api
/wg <group-name>
/committee <group-name>

[2020-03-04 03:28] dims commented on #88709
@toonsevrin you can do this using CRD(s) and controllers without needing this resource to be part of core kubernetes itself. right?

[2020-03-04 03:29] draveness commented on #82375
/remove-lifecycle stale

[2020-03-04 03:29] draveness commented on #82375
/lifecycle frozen

[2020-03-04 03:43] toonsevrin commented on #88709
@dims definitely and that's my plan! Anyways, I don't have the resources to create it of the quality and modularity that might be desired so hence this issue.

[2020-03-04 04:45] BenTheElder commented on #76506
cc @mattjmcnaughton

[2020-03-04 05:13] MikeSpreitzer opened #88795 ""NonResourceURLs" is a misnomer, it holds path prefixes"
**What happened**:
While fixing the implementation, I realized that the NonResourceURLs field of a NonResourcePolicyRule does not hold URLs.  The scheme and hostname parts of a URL are not allowed there.  What this field actually holds are path prefixes.  See the examples at https://github.com/kubernetes/api/blob/master/flowcontrol/v1alpha1/types.go#L281-L286

**What you expected to happen**:
I ex

[2020-03-04 05:14] MikeSpreitzer commented on #88795
@kubernetes/sig-api-machinery-bugs

[2020-03-04 05:14] BenTheElder commented on #87197
for the base image build there is not.
for the release images, I think so?

we're moving forward with flipping k8s.gcr.io to wg-k8s-infra O(this month), I think we should look for someone to automate the build on public CI there...

I don't think that invoking the build again on the same machine will produce different results.

you can see here that the manifest list (built by the make target) has

[2020-03-04 05:15] MikeSpreitzer commented on #88795
@yue9944882
@lavalamp
@deads2k
@MikeSpreitzer

[2020-03-04 05:16] BenTheElder commented on #87197
(the fact that they match means ~we~ I did not screw up the manual process to select the image : tag => digest mappings for promotion, the s390x image tag is whatever the cross built image produced for the s390x entry in the manifest list)

[2020-03-04 05:16] akhilerm commented on #85624
@dims the issue was with how docker builds the container spec from docker daemon. I will check with containerd to see how it is handled.

[2020-03-04 05:24] chetanyachopra commented on #26275
+1

[2020-03-04 05:33] aramase commented on #88780
@PeterQiao `iptables` proxier support for dual-stack was added only in 1.18.

[2020-03-04 06:15] celambert commented on #79365
Running AKS 1.15.7
HPA on stable/nginx-ingress is unable to get cpu or mem metrics. This deployment has only one container and all resources are defined
[code]

` Warning  FailedComputeMetricsReplicas  15s (x10 over 2m33s)  horizontal-pod-autoscaler  Invalid metrics (1 invalid out of 1), last error was: failed to get cpu utilization: missing request for cpu`

I tried with both and had the same res

[2020-03-04 06:34] futianshi1314 commented on #43916
sync && echo 1 > /proc/sys/vm/drop_caches   or  clear the disk data

[2020-03-04 06:52] smourapina commented on #81134
Thanks for the update @gavinfish!
/milestone v1.19

[2020-03-04 06:55] burdiyan commented on #88553
Honestly speaking, I’m a big fun of Bazel in general, or better said of the properties that Bazel gives you. It’s true that Go now has many of them. And I understand how Bazel can be a barrier for newer contributors. But I *really can’t* believe that the old build system (a huge pile of bash scripts and Makefiles and hacks with Docker) are any clearer than a Bazel build file. I, personally only st

[2020-03-04 07:07] thockin commented on #88553
The Makefiles may be a tangle but almost nobody ever has to touch them.

I see BUILD file chages in 50% of PRs I review, and I promise that every
single one of them is just autogenerated noise.

On Tue, Mar 3, 2020 at 10:55 PM Alexandr Burdiyan <notifications@github.com>
wrote:

[2020-03-04 07:18] #80596 closed

[2020-03-04 07:20] burdiyan commented on #88553
@thockin I see. That's a good point! Therese are indeed probably autogenerated. I believe there's a way to hide them from the review with some GitHub configuration. It will display them collapsed by default. But yeah, you have to remember to generate them before every commit. That's a bit painful I agree. I got used to it pretty easily though.

As an option, we could ignore BUILD files and not che

[2020-03-04 07:28] warmchang commented on #78208
Is 16 a magic number or an experience value?
https://github.com/kubernetes/kubernetes/blob/23eb2180c65472f5c25fdec551b594f0b2db427d/pkg/scheduler/algorithm/predicates/metadata.go#L488

[2020-03-04 08:07] Huang-Wei commented on #88614
@vincent-pli It seems `status.reason` is now only used by kubelet:

https://github.com/kubernetes/kubernetes/blob/af9e0be163a89a4cca8f602ed7ff60353ef866bb/pkg/kubelet/eviction/eviction_manager.go#L573-L577

And I seldom see non-kubelet components set `status.reason` or `status.conditions[*].reason` as kubelet is the only component know exactly the status of the Pod. If other components decide to d

[2020-03-04 08:22] oke-py opened #88797 "heapster has not been completely removed from codebase"
**What would you like to be added**:
heapster should be completely removed from codebase.

**Why is this needed**:
heapster was deprecated in v1.11 and remove in v1.13.
https://github.com/kubernetes-retired/heapster/blob/master/docs/deprecation.md

We cannot get any more bug/security fix for heapster.
It should be removed before some issues are discovered.

ref: https://github.com/kubernetes/kubec

[2020-03-04 08:59] #48245 closed

[2020-03-04 09:10] #88668 closed

[2020-03-04 09:10] jsafrane commented on #88762
It's not taking snapshots what slows the test, it's restoring it - `CreateVolume(... from snapshot XYZ...)` returns quickly, but the returned volume is not really usable and attach fails for ~4 minutes until the snapshot is fully restored somewhere in GCE.

Now that I am thinking about it, maybe it's better if the driver returns the volume early, so it does not end up orphaned when user deletes co

[2020-03-04 09:10] markyjackson-taulia commented on #76342
@claudiubelu we are 24 hours out from code freeze. Our options are:
1: move to the the next milestone
2: request an exception

Given the 2 items that still are in progress above what is your confidence level these will be complete without an exception?

[2020-03-04 09:13] markyjackson-taulia commented on #76342
I have sent a slack dm and will wait till mid day pst time for a response.

[2020-03-04 09:16] markyjackson-taulia commented on #74379
@nickchase we are 24 hours out from code freeze. Can I get a temperature on this?

[2020-03-04 09:17] markyjackson-taulia commented on #74379
I will wait till mid day pst. If there is no exception I will move to the next version milestone

[2020-03-04 09:17] pyaillet commented on #85725
I can confirm we faced exactly the same issue with rancher and kubernetes 1.15.5
[This comment](https://github.com/kubernetes/kubernetes/issues/82494#issuecomment-591717606) seems to point the underlying cause of the problem.

[2020-03-04 09:18] deshui123 commented on #74340
The same issue with:
[code]
The CNI is calico and i enabled IPv6DualStack.
**kube-controller-manager, kube-scheduler, openstack-cloud-controller restart many times.**
[code]
It looks like it is taking toooooooo much time to process anything:
[code]
I also mentioned this error in https://github.com/kubernetes/kubeadm/issues/2045
Following are the new logs. At this step, CNI is already enabled
[code

[2020-03-04 09:44] vincent-pli commented on #88614
@Huang-Wei
Thanks for your comments.
I talk about preempted Pod by scheduler not evicted.
I agree with you that should be 2 request.
The solution of `eviction_manager` is what exactly I expect to:
Update `Reason` `Message` then do the delete(deletionTimestamp)
oppose to this:
https://github.com/kubernetes/kubernetes/blob/af9e0be163a89a4cca8f602ed7ff60353ef866bb/pkg/scheduler/scheduler.go#L434
and

[2020-03-04 09:53] jakethedogg opened #88800 "k8s job success, even script inside is failed"
**What happened**:
I am creating k8s jobs in GKE cluster from python script.
[code]
And checking their status with API calls.
` api_response = api_instance.read_namespaced_job_status(job_name, namespace, pretty=pretty)`

Inside of k8s job a python script is running, and when it finish, job go to status success

**What you expected to happen**:
In case if python script inside of k8s job will fail o

[2020-03-04 10:00] #78854 closed

[2020-03-04 10:08] gastzars commented on #50375
I also need this +1

[2020-03-04 10:31] #87506 closed

[2020-03-04 10:46] skilxn-go commented on #88427
/meow

[2020-03-04 11:02] msiddharthareddy commented on #53881
Windows10
--------------

Step 1 :
I have installed kubectl in directory
C:\Users\msiddhartha\play\kubernetes\vagrant-provisioning>curl -LO https://storage.googleapis.com/kubernetes-release/release/v1.17.0/bin/windows/amd64/kubectl.exe

Step 2 :
Came back to home directory
C:\Users\msiddhartha>C:\Users\msiddhartha\play\kubernetes\vagrant-provisioning\kubectl
It gives options to run Kubectl

Step 3

[2020-03-04 11:12] briankmatheson commented on #88767
That's certainly a way to get around du proc proliferation.  I'm afraid that stat call might block indefinitely leaving us with the same ultimate problem though.  IMO using `du` is convenient for a bunch of reasons.  Would it be acceptable to just invoke du under timeout?  Is there a good way to set that timeout dynamically (i.e. is there some time interval constant that we can base our timeout va

[2020-03-04 11:18] Nhat002 commented on #69608
@kfox1111 if you turn validation on in apps/v1beta2, you will still face this issue
[code]

[2020-03-04 11:21] skilxn-go commented on #87749
/meow

[2020-03-04 11:44] tnozicka commented on #88553
+1000 for removing bazel

I think some time back someone made stats and BUILD files being the `#1` (or `#2`) source of conflicts on PRs.

Their generation is not idempotent which you will hit when rebasing and restructuring your commits. Sometime you just need to delete all the changes to BUILD files and generate from clean state. Same was hit with backports.

Keeping duplicate dependency informat

[2020-03-04 11:50] jakethedogg commented on #88800
/sig cloud-provider
triage/support

[2020-03-04 12:09] jsafrane commented on #88762
Which brings me to idea: what about other storage backends? Some of them may take even longer that 10 minutes to restore a snapshot. Or more than 5 minutes to provision an empty volume and run a pod. There should be some configuration of timeouts (timeout multiplier?) for https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external

[2020-03-04 12:25] neolit123 commented on #74340
we don't have this issue in our CI:

kube-controller-manager, kube-scheduler, openstack-cloud-controller restart many times.

try narrowing down the cause for the problem:
- disable dual-stack
- try a local cluster without the openstack controller
...

[2020-03-04 12:25] davelosert commented on #79606
Can confirm what @wallrj wrote: According to the docs, `conditions` are supported:

[code]

But the condition field is never actually set.

Version:
[code]

[2020-03-04 12:26] droslean opened #88802 "[Failing Test] ci-k8sio-backup (ci-k8sio-backup)"
**Which jobs are failing**:
`ci-k8sio-backup (ci-k8sio-backup)`

**Since when has it been failing**:
`3rd March 18:30 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-misc#ci-k8sio-backup

**Reason for failure**:
[code]

**Anything else we need to know**:
/sig testing
/assign @listx
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18

[2020-03-04 12:27] droslean commented on #86788
the job has been removed. Closing
/close

[2020-03-04 12:27] #86788 closed

[2020-03-04 12:44] angelbarrera92 opened #88803 "Missing etcd_helper_* metrics >=1.16"
**What happened**:

kube-apiserver is not exposing etcd_helper_* metrics since Kubernetes version 1.16.

**What you expected to happen**:

Two options:
1. Annotate the metric deprecation in the right CHANGELOG.md file.
2. Get working these metrics again.

**How to reproduce it (as minimally and precisely as possible)**:

Create a kind/kubeadm cluster 1.15 and 1.16, then query kube api-server stati

[2020-03-04 12:47] angelbarrera92 commented on #88803
/sig docs
/sig node
/sig testing

[2020-03-04 12:49] droslean opened #88804 "[Failing Test] ci-release-anago-stage (ci-release-anago-stage)"
**Which jobs are failing**:
`ci-release-anago-stage (ci-release-anago-stage)`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-releng-informing#ci-release-anago-stage

**Reason for failure**:
[code]

**Anything else we need to know**:
/priority important-soon
/milestone v1.18
/assign @justaugustus
/sig release
/cc @kubernetes/ci-signal

[2020-03-04 13:03] #83542 closed

[2020-03-04 13:04] droslean commented on #88707
/reopen

[2020-03-04 13:05] droslean commented on #88707
@jsafrane Those tests started failing again. Can you check?

[2020-03-04 13:09] droslean commented on #88707
related to #88762

[2020-03-04 13:16] jsafrane commented on #88707
Indeed, I am looking at it.

[2020-03-04 13:30] fredsted commented on #53288
In case anyone else is facing similar issues on an older kubeadm cluster.

I fixed this by doing `kubeadm reset` on the node, then making a new token on a master using `kubeadm token create` and re-joining the node using

[code]

[2020-03-04 13:32] bradmat commented on #88764
I deleted the go/src/ directory created, and started again from go get on k8s.io/kubernetes.

Running git status returns:
[code]

git checkout tags/v1.17.3 then returns:
[code]

Unfortunately, the same error still gets thrown when running make all WHAT=cmd/kubelet:
[code]

[2020-03-04 13:39] gongguan commented on #88767
@dims WDYT?

[2020-03-04 13:53] neolit123 commented on #88764
odd, i cannot reproduce the issue:
[code]

my go version is:
[code]

what is yours?

[2020-03-04 14:11] oxddr commented on #88583
At the moment Kubernetes supports [5000 nodes in cluster](https://github.com/kubernetes/community/blob/master/sig-scalability/configs-and-limits/thresholds.md). 50-100k is way above this.

[2020-03-04 14:13] danwinship commented on #87197
No, I meant "if we don't have the logs of the old build then can we do a new build so I can see the logs of that". Because it seems like maybe the `apt-get install` step is failing partially but not causing the build to fail, or something?

[2020-03-04 14:14] mattjmcnaughton commented on #76506
Cool, thanks @BenTheElder !

For those following along, @dims and I have been chatting about how this KEP to [Build Kubelet without Docker](https://github.com/kubernetes/enhancements/pull/1546) could be a useful way to reduce Kubelet binary sizes (along with a couple of other benefits).

[2020-03-04 14:25] LorrieS commented on #43916
I don't consider this a workaround as that will have negative impact on all other applications running on the same workstation, especially those that are heavy on IO and get better performance due to the buffer cache.

[2020-03-04 14:28] droslean opened #88807 "[Failing Test] release-test (pull-release-test)"
**Which jobs are failing**:
`release-test (pull-release-test)`

**Since when has it been failing**:
`4th Match 03:30 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-misc#release-test

**Reason for failure**:
[code]

**Anything else we need to know**:

/cc @kubernetes/release-managers
/sig release
/milestone v1.18
/cc @kubernetes/ci-signal
/priority critical-urgent

[2020-03-04 14:31] saschagrunert commented on #88807
Okay, looks like we broke something on the master branch. Let me check…

[2020-03-04 14:35] saschagrunert commented on #88807
I think this was just my PR (https://github.com/kubernetes/release/pull/1149). Is there any way to limit the report for those failures to the master branch? Does not make sense?

/cc @justaugustus

[2020-03-04 14:35] HtcOrange opened #88808 "Makefile:1: *** missing separator. Stop."
I want to use kubemark to test the cluster. But when I wanna to install it by source code, in the step of compiling, the error occured as follows:
[code]
And the Makefile is only one line:
[code]
Could someone tell me what is the problem? I am so eager to know what was wrong with me? Thank you very much!!!

[2020-03-04 14:35] barucoh opened #88809 "preferredDuringSchedulingIgnoredDuringExecution Anti-Affinity rule Doesn't fully distribute pods after `kubectl uncordon <NODE>`"
**What happened**:
I have 3 nodes on EKS across 3 different AZs in a single region, each coming for a different ASG.
I have a deployment with a single pod and 3 replicas with `podAntiAffinity` configured to prefer pods be scheduled on nodes with different zones:
[code]
I drained 2 nodes causing all 3 replicas to run on a single node.
I uncordoned the 2 nodes all 3 replicas kept running on the same