[2016-11-18 04:08] saad-ali commented on #31272
Yes it sucks we didn't get this fixed in 1.5 and it should be a very high pri to fix in 1.6. But to be clear @jingxu97 didn't "just break it", she made a change that allowed gracefully recovering from unexpected kubelet crashes without accidently deleting data from still mounted directories (i.e. prevent data loss). And while kubelet hanging due to NFS is terrible, and should be fixed ASAP, I thin

[2016-11-18 04:12] saad-ali commented on #34127
@jsindy There are a number of changes that went in to make NFS and gluster work on GCI. It required changing the fundamental way that mount is executed: instead of calling mount on the host machine, a containerized mount is called, and the container contains the files required for mounting NFS and GlusterFS. You can see the Dockerfile for that container here: https://github.com/kubernetes/kubernet

[2016-11-18 04:24] saad-ali commented on #32727
Non-blocker for 1.5

[2016-11-18 04:39] foxish commented on #37026
cc @bprashanth @kubernetes/sig-network

[2016-11-18 04:40] foxish commented on #37026
@grodrigues3 Any idea why the issue-categorizer did not act on this one?

[2016-11-18 04:42] thockin commented on #37026
This is already alpha in 1.4, beta in 1.5.

See "Annotation to modify the LoadBalancer behavior for preservation of Source IP" in http://kubernetes.io/docs/user-guide/load-balancer/

[2016-11-18 04:42] #37026 closed

[2016-11-18 04:43] bowei commented on #34571
this should not block the release -- but I don't have perms to label

[2016-11-18 04:43] saad-ali commented on #27680
Thanks @dchen1107! @bprashanth can you take a look and retriage if needed.

[2016-11-18 04:49] saad-ali commented on #31402
Ack. Closing issue

[2016-11-18 04:49] #31402 closed

[2016-11-18 04:54] saad-ali commented on #36708
@kubernetes/sig-node Any idea if these (infrastructure?) issues with node E2E tests are 1.5 release blocking or not?

[2016-11-18 04:56] #30667 closed

[2016-11-18 04:57] saad-ali commented on #34207
Ack. Closing issue.

[2016-11-18 04:57] #34207 closed

[2016-11-18 04:58] saad-ali commented on #28337
CC @kubernetes/sig-aws @justinsb as FYI

[2016-11-18 05:21] xiang90 commented on #37035
@mml Do you still have the data before you preformed the rollback?

[2016-11-18 05:27] hongchaodeng commented on #37035
How to repro?

[2016-11-18 05:31] humblec opened #37060 "ROX volumes should have a READONLY flag set in Gluster Volume Spec"
Issue:

Create a PVC with AccessMode ROX, then describe the PV.
[code]

Eventhough the claim accessmode has set to `ROX`,  the vol spec has `ReadOnly` flag set 'false', It should be `true`

[2016-11-18 06:05] #36991 closed

[2016-11-18 06:12] liggitt commented on #37023
I don't see any ABAC rules related to the kube-dashboard... what service account were you running it as?

[2016-11-18 06:23] k8s-merge-robot opened #37062 "ci-kubernetes-e2e-gci-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/65/

Run so broken it didn't make JUnit output!

[2016-11-18 06:24] liggitt commented on #36856
when running with API authorization, a malicious pod doesn't inherently have API access (to read other data or to mount secrets to itself)

Are you concerned about a malicious user with the ability to create a pod in the API, or a malicious process running inside a pod? Wouldn't a user with the ability to create pods in the namespace also have the ability to read deployments and label pods as need

[2016-11-18 06:33] pmorie commented on #36589
Agree that this is a blocker.

[2016-11-18 06:36] gmarek commented on #36985
We use it for development, and we need a way to switch off particular parts.

[2016-11-18 06:36] mars00772 commented on #10564
still not implemented after one year @bgrant0607 ,also delete deployment by restful api won't delete the rs and pod ..

[2016-11-18 06:47] bgrant0607 commented on #10564
@sputnick @mars00772 Underway.
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/garbage-collection.md
#26120

[2016-11-18 06:49] gmarek commented on #19188
IIUC this will reduce the load on API server twice. I think it may not be enough for 5k Node cluster. Quick math: 150k Pods, each getting at least one secret every 60 s, which means 2.5k QPS on master, which is a lot. If we'll have one get every 60s for every Kubelet it's 80 QPS, but I don't know how to do this kind of get in the system currently.

[2016-11-18 06:52] pmorie commented on #31272
1.  Why not check the mount table instead of running `stat` against the mountpoint?
2.  We need to look at how this issue got into a state where effort was expended fixing an issue, and should have resulted in a 'do not change these semantics' condition in the code, and then the semantics were changed a few days after.  It seems like we are back into the same state we were in before any code chang

[2016-11-18 06:53] andrewmclagan commented on #26299
@bgrant0607 What is the new ETA on this landing? `1.6` ?

[2016-11-18 07:03] humblec commented on #24985
@rootfs Thanks, this outline looks great!. I have one small suggestion here, we should clarify some more on `set the file share to be writable`.  As per me, we should mention exactly what are the the user/group permission bits  on this share.
[code]

[2016-11-18 07:11] oikomi commented on #36575
What is the solution to this issue?

[2016-11-18 07:12] pmorie commented on #31272
I have a question here; just looking for data, no judgement:  was the tradeoff intentional, ie, an act of volition?  Unintentional breaks are the realm of my last comment on this issue.

If the break was intentional, in a vaccum, that is totally fine.  It is okay to break a p1 to fix a p0 if the p0 is really a p0.  However, I think this is a situation where communication is warrented, and it's not

[2016-11-18 07:19] sttts commented on #27680
We have two flakes here:
1. ```Pod did not stop running: timed out waiting for the condition``` -- that's what https://github.com/kubernetes/kubernetes/issues/27680#issuecomment-242736980 and https://github.com/kubernetes/kubernetes/issues/27680#issuecomment-261401530 is about, i.e. Teardown logic. **happened 3 times in last 8 days, much less the days before**. IMO this is not a blocker.
2. ```Nov

[2016-11-18 07:25] kolisko commented on #36575
I had both flannel and weave-net in cni folder. So I removed /etc/cni/net.d/*flannel* and kept only weave-net and it helped.

[2016-11-18 07:32] rajivm commented on #30518
I don't think ELBv2/ALB could implement all the rules of an Ingress controller since it (still) does not support Header / Host based routing. ELBv2 only supports path based routing.

Currently, I am manually using ELBv2 in front of an Nginx Ingress controller to get the full functionality I need (HTTP 2 + Host routing to different services). It would be great to have direct support for ELBv2 as a

[2016-11-18 07:44] bronger opened #37063 "kubeadm doesn't start due to /var/lib/kubelet"
Amongst the pre-flight checks of `kubeadm` is a check that `/var/lib/kubelet` does not exist.  However, when I follow the instructions on http://kubernetes.io/docs/getting-started-guides/kubeadm/ for CentOS 7, using RHEL 7, right after the commands

    # setenforce 0
    # yum install -y docker kubelet kubeadm kubectl kubernetes-cni
    # systemctl enable docker && systemctl start docker
    # sy

[2016-11-18 07:47] F21 commented on #36856
My concern is actually neither. Access to the cluster can be easily controlled with RBAC. However, without having control over the secrets, it is possible for anyone with cluster access to deploy pods to read the secrets (intentionally or unintentionally) and cause damage both accidentally and maliciously.

[2016-11-18 07:55] wojtek-t commented on #37040
#36814 is about the same - see my comments about that failure in: https://github.com/kubernetes/kubernetes/issues/36814#issuecomment-260671120 and the next post

[2016-11-18 08:00] wojtek-t commented on #36954
I think that those pods are not able to pull all the images, maybe due to some networking issues. @bprashanth - any thoughts?

[2016-11-18 08:09] gmarek commented on #19188
@liggitt - if you're worried about compromised Kubelet I don't think that default Kubelet's behavior is an issue at all. One with an access to Kubelet can just get (or list) any Secret he wants (currently). Once you introduce additional constraints on which secrets Kubelets can get, maybe we can just apply this policy to lists as well (i.e. when Kubelet is listing all Secretes it'll get only ones

[2016-11-18 08:10] wojtek-t commented on #19188
@liggitt - if a node (kubelet) is compromised, you can send any requests to apiserver anyway, so I don't fully understand this.

Anyway - my current proposal is that we have in kubelet a cache of secrets that only pods from that node are using and we are not listing/watching any other secrets in my current proposal. We are just avoiding issuing gets for the same secret multiple times, which should

[2016-11-18 08:12] wojtek-t commented on #36985
@liggitt - it's just a short term fix that would allow to fix/debug different problems at the same time (we already know that secrets are causing problems and we will be fixing it).

[2016-11-18 08:13] wojtek-t commented on #36985
To clarify - I'm not going to leave that forever - as soon as we will have some fix for secrets in, we will enable it back in 5000-node kubemark. Currently because of secrets those tests doesn't bring any value.

[2016-11-18 08:19] gmarek commented on #33380
@dchen1107 - I agree with 'non-release-blocker' decision. Scalability failures are quite strange, as we were doing exactly the same check during the test run (inside Density and Load tests). I'll check if it's not some timeout problem.

[2016-11-18 08:48] bryk commented on #35534
UI rename done.

[2016-11-18 09:03] wojtek-t commented on #36985
Also - this one is already done.

[2016-11-18 09:03] #36985 closed

[2016-11-18 09:39] Tha-Robert commented on #36992
And if you change the name to be the hostname to satisfy the API then the provider cant find the instance in a later step.
So there is a clear missmatch between the API and the provider.
/R

[2016-11-18 10:03] fgrzadkowski commented on #30471
For pending pods you add some constraint where pods can run (e.g. only on a specific node) and how many on each node (e.g. only one). With it should be pretty simple to create pending pods.

For non-existent metrics, maybe we can have somehow break one of the kubelets such that heapster would not be able to read metrics from there?

[2016-11-18 10:13] k8s-merge-robot opened #37071 "[k8s.io] EmptyDir volumes should support (non-root,0644,default) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-parallel/2715/

Failed: [k8s.io] EmptyDir volumes should support (non-root,0644,default) [Conformance] {Kubernetes e2e suite}

[code]

[2016-11-18 10:24] k8s-merge-robot opened #37073 "kubernetes-e2e-gke-staging-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/11696/

Multiple broken tests:

Failed: [k8s.io] Job should run a job to completion when tasks sometimes fail and are locally restarted {Kubernetes e2e suite}

[code]

Failed: [k8s.io] V1Job should run a job to completion when tasks sometimes fail and are not locally restarted {Kubernetes e2e suite

[2016-11-18 10:28] steve-wolter commented on #34363
(Note: @lavalamp and I will take this discussion into a VC after Thanksgiving to gain mutual understanding.)

[2016-11-18 10:37] fgrzadkowski commented on #33891
Marking as release blocker as we don't understand the root cause and it's happens pretty often.

[2016-11-18 10:40] fgrzadkowski commented on #33897
Marking as release blocker as we don't understand the root cause and it's happens pretty often.

[2016-11-18 10:40] fgrzadkowski commented on #33754
Marking as release blocker as we don't understand the root cause and it's happens pretty often.

[2016-11-18 10:41] fgrzadkowski commented on #33804
Marking as release blocker as we don't understand the root cause and it's happens pretty often.

[2016-11-18 10:58] sebgoa commented on #36655
Could we add targets in the root makefile to run the docker builds.

This [page](https://github.com/kubernetes/kubernetes/blob/3b43ce8e5cfbf53d3d7dc84d2e2ffadf752cbe2c/build-tools/README.md) calls to run build_tools/run.sh make.

but the root makefile only calls `make release`

[2016-11-18 11:01] sebgoa opened #37076 "`make release` fails on OSX 10.10.5"
---

**this is a BUG REPORT **

When running `make release` on HEAD, OSX 10.10.5 with Docker 1.12 , the build fails:

[code]
**Kubernetes version** (use `kubectl version`):

source at HEAD

**Environment**:
- **OS** (e.g. from /etc/os-release):

OSX 10.10.5

- **Install tools**:

Docker 1.12

**What happened**:

errors with `# runtime/cgo
aarch64-linux-gnu-gcc: error: unrecognized command line opt

[2016-11-18 11:02] sebgoa commented on #37076
this is a follow up of #36655

[2016-11-18 11:06] Quentin-M commented on #30272
We have an use-case where, from an app managed by a DaemonSet, we'd like to detect when the node has been cordoned or is being drained and take some actions. It has importance to us because in the case the node is drained, it shows the operator's intent to shutdown/restart the node, in which case we want to actively migrate our workload/tasks/resources to another workable app. In the other hand, i

[2016-11-18 11:07] Quentin-M commented on #34235
https://github.com/kubernetes/kubernetes/issues/30272#issuecomment-261506704

[2016-11-18 11:10] Crassirostris commented on #37030
@xcompass Actually, [turns out there is `chown` in the Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-image/Dockerfile#L47)

Problem is it's executed before the volume is mounted, which works for some reason on GCI and container-vm. Will follow-up with a PR

[2016-11-18 11:16] Crassirostris commented on #37030
Related discussion in docker repo: https://github.com/docker/docker/issues/2259

[2016-11-18 11:17] sirhopcount commented on #32775
@justinsb It was just an example, as I said there are better ways to configure it.

My main point is code reuse, in our entire stack (terraform, fleet, etc) the region and the availability zone are two separate entities. If we want to deploy the same stack in a different region (with the same specifications) we just have to change one variable, the region.

Except for the k8s manifests, we need to

[2016-11-18 11:18] kargakis commented on #35269
@janetkuo do we document anywhere that users shouldn't run with terminationGracePeriodSeconds=0 in StatefulSets?

[2016-11-18 11:22] kargakis commented on #36851
Can't reproduce in master (works as expected). I suspect this was fixed in https://github.com/kubernetes/kubernetes/pull/35522.

[2016-11-18 11:22] sachincab commented on #31891
We seen this issue when delete pod and create again then it unable to attached volume sometimes as it tried to use same device name which has been used on node by other EBS volume attached.

In our case, we have two EBS volumes created through PVC and three EBS volumes created outside PVC.
We have two nodes where containers gets deployed where noticed this issue of same device name used on node to

[2016-11-18 11:27] kargakis commented on #36601
cc: @soltysh

[2016-11-18 11:35] sachincab commented on #35508
@soltysh I could not able to reproduce this issue anymore however it might be docker restart pointed by @DaanOlbrechts help in my scenario as well.

@DaanOlbrechts , is it restart of docker on master or worker node solve the problem for you?

In my case if I remembered correctly, I did rollout our nodes in the cluster which solve the problem.

[2016-11-18 11:37] sachincab commented on #34337
@vasu1124 Yes, I created configMap to override values.
However it would be good to override some generic values using environment variables like node_env

[2016-11-18 11:38] fabxc commented on #36544
Metrics exported by cAdvisor today have a `pod_name` label attached already. This allows us to perform joins with info level metrics at query time. Those are just metrics with constant value 1 and information encoded into labels, e.g. [`kube_pod_info`](https://github.com/kubernetes/kube-state-metrics#pod-metrics).

So from the monitoring side, this generally works today. The only question I have i

[2016-11-18 11:39] sebgoa opened #37079 "`make release` fails on ubuntu 16.04"
Similar to #37076
this is to test the first contributor experience #36655

`make release` fails on ubuntu 16.04, docker version 1.12.3:

[code]

[2016-11-18 12:05] andyxning commented on #5617
@vishh and updates on this issue?

[2016-11-18 12:07] chbatey commented on #26000
Getting this running kuberntes v1.4.6, Ubuntu with AUFS

[2016-11-18 12:28] dims commented on #32536
No activity since the day it was filed, so moving this to 1.6.

[2016-11-18 12:28] dims commented on #32536
cc @kubernetes/sig-node

[2016-11-18 12:31] dims commented on #29887
Moving this to milestone v1.6 ( cc @kubernetes/sig-cluster-federation ) Based on Nikhil's last comment ("Yes. Thats a good point. Need to think more on it" from Sep 22)

[2016-11-18 12:31] k8s-merge-robot opened #37082 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13921/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479 #27675 #28097 #32950 #34301

[2016-11-18 12:34] dims commented on #32826
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:34] dims commented on #33292
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:34] dims commented on #36540
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:34] dims commented on #33622
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:35] dims commented on #31283
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (please add the appropriate label or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:35] dims commented on #33591
@quinton-hoole cool. i'll close this out.

[2016-11-18 12:35] #33591 closed

[2016-11-18 12:36] dims commented on #36194
@nikhiljindal all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (please add the appropriate label or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:36] dims commented on #36665
@mwielgus all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (please add the appropriate label or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 12:40] DaanOlbrechts commented on #35508
@sachincab Just restarting Docker on the master node was enough.

[2016-11-18 12:50] luksa opened #37083 "Incorrect documentation of rollingUpdate.maxUnavailable rounding"
API documentation says deployment.spec.strategy.rollingUpdate.maxUnavailable is rounded up, but it is actually rounded down:

[code]

The code shows it is rounded down, not up:

https://github.com/kubernetes/kubernetes/blob/fbe29f43eaf2f561d2f1f61542381ae53894efd4/pkg/controller/deployment/util/deployment_util.go#L925

and

https://github.com/kubernetes/kubernetes/blob/fbe29f43eaf2f561d2f1f6154238

[2016-11-18 12:58] dims commented on #35078
@matchstick all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 13:00] dims commented on #24321
@davidopp @mml all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/goog-control-plane

[2016-11-18 13:01] dims commented on #32466
@davidopp all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-lifecycle (?)

[2016-11-18 13:01] sttts commented on #27680
Here is a debug PR running the flaking test 100 times: https://github.com/kubernetes/kubernetes/pull/37075. None failed until now. Moreover, 200 runs locally do not fail.

[2016-11-18 13:01] dims commented on #34130
@mwielgus @matchstick all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-cluster-federation

[2016-11-18 13:02] dims commented on #33843
thanks @eparis

[2016-11-18 13:03] dims commented on #33717
@jsafrane sounds like we punt it to v1.6 marking as such

[2016-11-18 13:03] kiich commented on #20625
I'm also seeing/curious of this issue.
I can see PODs are put in kube-system but the service always seems to get created in default name space and i can't seem to track how that is being done.

[2016-11-18 13:04] dims commented on #34965
@euank ack thanks for the detail. Does not sound like something we need for 1.5, moving to 1.6. please switch it right back if i misunderstood.

[2016-11-18 13:05] dims commented on #28082
@aveshagarwal ack. moving this to 1.6

[2016-11-18 13:05] dims commented on #25889
@chrislovecnm Cool. Let me close this out then.

[2016-11-18 13:05] #25889 closed

[2016-11-18 13:06] dims commented on #31858
@justinsb all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-aws

[2016-11-18 13:06] dims commented on #36902
@justinsb all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-aws

[2016-11-18 13:06] andrewmclagan commented on #34401
"By default, pods run with unbounded CPU and memory limits."

In GKE that is incorrect.

@bgrant0607

[2016-11-18 13:07] dims commented on #23587
@justinsb all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-aws

[2016-11-18 13:07] dims commented on #27828
@justinsb all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-aws

[2016-11-18 13:07] AdoHe commented on #35993
@pwittrock IIRC, I have already fixed this on my local, I need to get it back.

[2016-11-18 13:08] dims commented on #33884
@justinsb all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-aws

[2016-11-18 13:08] dims commented on #35935
@vishh @jingxu97  all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-node

[2016-11-18 13:09] dims commented on #36264
@yujuhong all issues must be labeled either release blocker or non release blocking by end of day 18 November 2016 PST. (or please move it to 1.6) cc @kubernetes/sig-node

[2016-11-18 13:10] #36067 closed

[2016-11-18 13:11] dims commented on #33189
@yujuhong based on your last comment, i'll mark as non-release-blocker

[2016-11-18 13:13] sttts commented on #28188
the many occurrences 16-11 days ago were all on GKE and as @dims writes due to DNS problems. Looks like that was a temporary problem on GKE.

Since then the flake showed up 3 more times, again with DNS issues on GKE **and** on AWS, and once on GCE with a wget timeout.

I think it's save to ignore this for 1.5.

[2016-11-18 13:16] dims commented on #30939
@justinsb is non-release-blocker tag ok? if not please switch it.

[2016-11-18 13:18] dims commented on #11816
@cjcullen ack. does not sound like something that would stop us from making a release. marking as such.

[2016-11-18 13:19] kargakis commented on #36897
@bgrant0607 agreed that this should be similar to /scale, not sure about making it generic.

[2016-11-18 13:23] kargakis commented on #36897
Use-case: Easier Blue-Green deployments: https://github.com/openshift/origin/issues/11954

[2016-11-18 13:25] MarkRx opened #37086 "Ability to enable/disable replication controller"
At present there isn't any way to temporarily disable a replication controller. As a result attempting to manage pod counts outside of a replication controller can be infeasible. Adding the ability to enable/disable a replication controller would pause / unpause the auto scale feature to the replication count. When paused pods can be manually created / deleted / moved around without interference f

[2016-11-18 13:26] dims commented on #31481
The PR is marked as a release-blocker, so marking the issue the same

[2016-11-18 13:27] dims commented on #30471
per comments, this needs tests. so marking as non-release-blocker and leaving 1.5 milestone on. please holler if you disagree :)

[2016-11-18 13:29] dims commented on #36997
@yujuhong are we blocking releases for CRI in 1.5? i was not sure, so marking this as non-release-blocker and leaving 1.5 milestone. please correct if i am mistaken.

[2016-11-18 13:33] kargakis commented on #37086
@kubernetes/sig-apps @kubernetes/deployment pausing a Deployment foo does not stop the deployment controller from managing replicas for foo. Not sure if we can have pausing for a ReplicationController foo-1 that would make the RC manager not manage replicas.

[2016-11-18 13:34] dims commented on #36007
@deads2k @pwittrock : let's treat this as release-blocker until we agree otherwise

[2016-11-18 13:34] wojtek-t commented on #19188
@yujuhong @liggitt - https://github.com/kubernetes/kubernetes/pull/36984 is the implementation that I would like to submit as soon as code-freeze is finished. If you could take a quick look if the approach is ok for you, I will add unit tests for it sometime next week probably.

[2016-11-18 13:35] deads2k commented on #19188
Fixing the authorizer to more tightly protect individual resources is something we're interested in.  We shaped node identities to enable us to do it, but its an after RBAC objective.  We just don't want to have features in the kubelet that we know will violate eventual rules and watching all secrets runs afoul of that.

[2016-11-18 13:35] deads2k commented on #36007
Ok, I'll queue the fix (it's already lgtm'ed)

[2016-11-18 13:36] dims commented on #34746
@pwittrock - "non-release-blocker" seems appropriate. I don't find any appropriate tag for "we gotta do this to get the release out" :)

[2016-11-18 13:37] wojtek-t commented on #19188
@deads2k - what I did in #36984 is NOT watching all secrets; in fact it's not watching anything - it just avoids issuing the same gets all the time for multiple pods.

[2016-11-18 13:37] gmarek commented on #19188
@deads2k - what do you think about Wojtek's proposal of making a single request per Xsec per Secret instance (not Secret reference)

[2016-11-18 13:38] dims commented on #36034
@saad-ali : do we have a "doc blocker" tag? let me throw in a "non-release-blocker" as this does not stop us from getting the release out as such

[2016-11-18 13:39] dims commented on #35534
@janetkuo : would you mark this as non-release-blocker or release-blocker as appropriate please? (by end of day today - Nov 18)

[2016-11-18 13:40] deads2k commented on #19188
That sounds fine from an API authorization perspective.

[2016-11-18 13:43] dims commented on #28188
Awesome. thanks for digging in @sttts

[2016-11-18 13:43] CaoShuFeng opened #37087 "host port is not hold by kubelet when using kubenet"
I deploy an environment with kubenet according to this guide:
http://kubernetes.io/docs/admin/network-plugins/

Then I create a deployment with host port mapping:
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: nginx
    spec:
      containers:
      - name: nginx
        image: nginx
        ports:

[2016-11-18 13:46] kargakis commented on #37083
Yes, the documentation is obsolete. We changed maxUnavailable to round down so that we wouldn't accidentally infer 100% unavailability for non-100 percentages. For example, maxSurge=25% and maxUanavailable=25% with a Deployment of 1 replica meant that we could scale down 1 before thus leading in 100% maxUnavailable (implicit).

[2016-11-18 13:52] dims commented on #33472
@cjcullen - was it this? https://github.com/kubernetes/kubernetes/issues/35207 (fixed by https://github.com/kubernetes/kubernetes/pull/36451)?

[2016-11-18 13:59] AdoHe commented on #20625
@fuliangliu @kiich @RickyCook @patrikbeno Actually the `master-service-namespace` is a deprecated flag, and apiserver will not respect this when create `kubernetes` service, the namespace of `kubernetes` service will always be `default`

[2016-11-18 13:59] rmohr commented on #36885
If it would be done with admission controllers it might be best to first limit it to third party resources. I am thinking about things like intercepting `pods` creations with a webhook which references a services which will deployed with kubernetes.

A webhook would really improve the usefulness of ThirdPartyResources immensely but I guess it does not need to be a webhook and/or an admission contr

[2016-11-18 14:02] dims commented on #36814
@wojtek-t : throwing in the milestone v1.5

[2016-11-18 14:03] AdoHe commented on #36081
@pwittrock IIUC, you mean this #33588, actually this has already been fixed, but this fix is not include in 1.4 release, I was supposed to create a cherry-pick, but just forget. :(

[2016-11-18 14:04] gajus opened #37089 "kubelet v1.4.4 fails to install on CentOS v7 because of iproute and mount dependencies"
**Kubernetes version** (use `kubectl version`):

v1.4.4

**Environment**:
- **Cloud provider or hardware configuration**:

Dedicated hardware.

- **OS** (e.g. from /etc/os-release):

[code]

- **Kernel** (e.g. `uname -a`):

[code]

**What happened**:

Installation fails because of `iproute` and `mount` dependencies.

[code]

**What you expected to happen**:

To install `kubelet`.

**How to reprodu

[2016-11-18 14:04] liggitt commented on #36885
We want to be careful how we expand/extend hooks in this area to make sure it matches the long-term direction... we're actively trying to reduce the amount of special-case handling of ThirdPartyResources so that from the outside, they work similarly to federated API groups.

[2016-11-18 14:06] dims commented on #37089
@gajus what's the implication here..that kubelet should not depend on these? ( cc @ixdy )

[2016-11-18 14:07] sttts commented on #27680
Another observation: the number of `x` returned is always a multiple of 10. The test container sleep for 100ms after each 10 `x`. So, this might be a hint that there is some kind of race closing the connection.

[2016-11-18 14:11] gajus commented on #37089
That depends on how iproute is being used. If its being used in a way thats breaking between iproute v2 and v3, then this will require to update how kubelet is using iproute and redeclare dependency on v3.

[2016-11-18 14:12] AdoHe commented on #36081
@morissette @ymqytw YAML decoder is just used to split one full YAML document from the config file, in you case after the first service definition split, kubectl will validate it, and it just failed, we will not continue to parse the config file, just return validation error.

[2016-11-18 14:14] AdoHe commented on #36081
@pwittrock @ymqytw what do you think whether we should allow continue parsing on validation error?

[2016-11-18 14:20] dims commented on #37089
cc @dshulyak based on previous work - https://github.com/kubernetes/kubernetes/pull/30225, https://github.com/kubernetes/kubernetes/pull/30346 which was reverted https://github.com/kubernetes/kubernetes/pull/31096

[2016-11-18 14:27] #36007 closed

[2016-11-18 14:30] AdoHe commented on #37011
[code]
Compared with this, I would like to add `--flatten`.

[2016-11-18 14:32] Thermi commented on #32075
@justinsb Thank you for bringing this up.
We need to control our inbound IP addresses, because only a set of 5 IPs is allowed to be used as destination IP address of the traffic of our clients. So we need to make sure all our kubernetes nodes have an IP of that set.

I looked at your software, but it's not clear to me how it works. Do you mind explaining what it does exactly and how it works?

[2016-11-18 14:38] wojtek-t commented on #37040
Copying from #36814 to deduplicate:

I spent some time looking into this one, and to be honest I have no idea what this could happen after recent changes from https://github.com/kubernetes/kubernetes/pull/36581

I added few logs in my local branch to confirm that I'm not missing anything and now indeed it looks like it should:
- creating "kubernetes" service correctly allocates "serviceIP" in etcd

[2016-11-18 14:39] wojtek-t commented on #36814
Closing in favor of #37040

[2016-11-18 14:39] #36814 closed

[2016-11-18 14:47] Quentin-M commented on #25320
We have an use-case where, we'd like a pod managed by a DaemonSet to detect when the underlying node is being put in maintenance mode. Currently, this means _kubectl cordon_ or _kubectl drain_ are ran and set the _NodeStatus.NodeSpec.Unschedulable_ field. But because the pod is part of a DaemonSet, it is not destroyed and there is no way to differentiate between the two operations using the API. H

[2016-11-18 14:55] jsafrane commented on #30864
All volume plugins we have in 1.5 are already fixed and use StorageClass during deletion.

[2016-11-18 14:55] #30864 closed

[2016-11-18 15:28] dcbw commented on #36843
This seems to be failing Jenkins now, can we get a test/flake label on this?

[2016-11-18 15:32] xiaoping378 commented on #13331
i met the same issue, i find the reason is that i using HA active-active
change the mode of ha to be active-backup, will be OK.

[2016-11-18 15:34] joshm1 commented on #36589
This has been a big issue for me as well, happens almost daily since I upgraded to 1.4.3 (then to 1.4.6). Originally the following worked for me to recover, but not always.

When that doesn't work, the only way I've been able to recover is manual unmount/detach/pod delete, then create an EBS snapshot to a new EBS volume, change the volumeID, and scale the pod back up.

[2016-11-18 15:35] k8s-merge-robot opened #37097 "[k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-staging-parallel/2726/

Failed: [k8s.io] Services should preserve source pod IP for traffic thru service cluster IP {Kubernetes e2e suite}

[code]

Previous issues for this test: #31085 #34207

[2016-11-18 15:41] aveshagarwal commented on #29503
@calebamiles my understanding is that if https://github.com/kubernetes/kubernetes/issues/32535 is non-release-blocker then this should be non-release-blocker too as they are related.

[2016-11-18 15:46] wojtek-t commented on #37000
kubemark-scale is running some very large experiments and it is expected that those runs will be failing (this particular one was timeout and we understand why). But that's not a bug - that was an experiment.

We already switched of kubemark-scale from generating issues yesterday.

[2016-11-18 15:46] #37000 closed

[2016-11-18 15:48] wojtek-t commented on #36954
Anyway - I think there are two different issues here:
- the one that @fejta mentioned. But those were actually reported in  #33380
- the ones reported here in this bug - those were quota/configuration issues that I fixed yesterday.

Since the other ones are reported as #33380, I'm closing this one.

[2016-11-18 15:48] #36954 closed

[2016-11-18 15:52] sachincab commented on #35508
@DaanOlbrechts that explain as I did rollout master instances as well and jobs were created properly.

[2016-11-18 15:55] wojtek-t commented on #36547
Actually all of those are kubemark-scale or gce-enormous. These were expected failures.

We (temporarily) removed kubemark-scale for generating issue reports, so it shouldn't happen in the future (until we make it stable enough to move it back).

[2016-11-18 15:55] #36547 closed

[2016-11-18 16:07] derekwaynecarr commented on #10782
If we pursue a vertical autosizer that requires kicking a deployment, how hard is it to take that requirement back?  For example, I would think many of our users would prefer a solution that did not require a re-deploy and instead could re-size existing pods.

[2016-11-18 16:08] quinton-hoole commented on #32580
I'm unlikely to get to this.  Closing.

[2016-11-18 16:08] #32580 closed

[2016-11-18 16:10] quinton-hoole commented on #26921
Reassigning to @nikhiljindal in case he wants to address this in future.  @mfanjie would also be a suitable candidate.

[2016-11-18 16:12] #26668 closed

[2016-11-18 16:12] derekwaynecarr commented on #28986
@fgrzadkowski -- i am confused on what is meant by "we".  It's the application responsibility to force reclaim not the platform in this case.

[2016-11-18 16:13] aveshagarwal commented on #25320
@Quentin-M yes the current plan for NoScheduleNoAdmit and NoExecute implementation is 1.6. Here are related PRs: https://github.com/kubernetes/kubernetes/pull/34825 , https://github.com/kubernetes/kubernetes/pull/34400 .

[2016-11-18 16:15] quinton-hoole commented on #36923
cc @jianhuiz

[2016-11-18 16:17] piosz commented on #37030
FYI @yifan-gu

[2016-11-18 16:21] quinton-hoole commented on #36665
Ping @mwielgus ?  We really need this in 1.5 in order to release federated daemonsets.

[2016-11-18 16:21] quinton-hoole commented on #36665
cc @matchstick @nikhiljindal

[2016-11-18 16:24] quinton-hoole commented on #35667
@mfanjie I think that this can be closed now?

[2016-11-18 16:26] quinton-hoole commented on #24978
@kubernetes/sig-cluster-federation

[2016-11-18 16:28] #35966 closed

[2016-11-18 16:28] piosz commented on #37010
cc @dchen1107 @kubernetes/sig-node

[2016-11-18 16:29] piosz commented on #36893
@Crassirostris please fill an issue for Docker with the problem

[2016-11-18 16:34] Crassirostris commented on #37030
@xcompass As far as I understand from https://github.com/docker/docker/issues/28041 everything should work

Could you please also attach docker version, run the following command manually on the node and copy the output?

[code]

[2016-11-18 16:36] piosz commented on #5617
This is out of the scope of the current Heapster. Some relevant resources:
https://github.com/kubernetes/kube-state-metrics
https://github.com/kubernetes/kubernetes/blob/master/docs/design/monitoring_architecture.md

Closing as obsolete.

[2016-11-18 16:36] #5617 closed

[2016-11-18 16:39] fejta commented on #37062
Need more timeout samples to figure out what is going on.

[2016-11-18 16:39] fejta commented on #37062
https://k8s-testgrid.appspot.com/google-gci#gci&width=20&graph-metrics=test-duration-minutes

[2016-11-18 16:39] #37050 closed

[2016-11-18 16:40] #37057 closed

[2016-11-18 16:41] #35780 closed

[2016-11-18 16:41] #37045 closed

[2016-11-18 16:41] #37073 closed

[2016-11-18 16:41] #37043 closed

[2016-11-18 16:41] #37053 closed

[2016-11-18 16:47] whitlockjc commented on #31364
I guess from that perspective I dislike the naming less.  While I do still think it could be nice to have something without `ingress` in the name, I'm not sure I care enough anymore to push back.

As for services vs. pods, any reason we couldn't support both?  One reason we're not using services is that you're bound by the `kube-proxy` and its round-robin loadbalancing.  Our ingress controller han

[2016-11-18 16:51] erikstmartin commented on #28312
@jeremyeder did the cpuset proposal make it in? Where can I find it, i'm interested in taking a peek at the RT design

[2016-11-18 16:52] piosz commented on #36558
Currently fluentd is being created as a manifest pod. You can find it configuration in https://github.com/kubernetes/kubernetes/tree/master/cluster/saltbase/salt. There is also an effort to migrate it to DaemonSet #23224.

[2016-11-18 16:52] #36558 closed

[2016-11-18 16:58] kiich commented on #20625
@AdoHe Good to know - thanks for the clarification. Didn't/Couldn't tell it was deprecated.

[2016-11-18 17:05] mtaufen commented on #34500
Closed wrt https://github.com/kubernetes/kubernetes/pull/36822

[2016-11-18 17:05] #34500 closed

[2016-11-18 17:06] k8s-merge-robot opened #37101 "[k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/158/

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #28297

[2016-11-18 17:07] dchen1107 commented on #37010
@Crassirostris Do you have examples? What are the logging level? --v 2 or --v 4? I know the developer might dump a lot of information for debugging if the log level is set to be verbose. But in the production, is that still very common?

[2016-11-18 17:08] pwittrock commented on #36081
@AdoHe What is the error that is provided in this case?  This is definitely user error, so I am a little less concerned, but it would be nice to identify it.  We could probably identify the issue if there are 2 versions/kinds in a give block.  This would indicate a syntax error.  I am less concerned with this than I am about our non-user-error bugs.

[2016-11-18 17:19] piosz opened #37104 "Review Kubernetes components logs for noise"
Some components produce a lot of useless logs, for example pod nanny prints the following messages every 10 second:
[code]

We should make sure that with the default logging verbosity only the relevant informations are being printed. The list of components to review:
- [ ] api server
- [x] scheduler
- [ ] controller manager
- [ ] glbc
- [ ] etcd
- [ ] autoscaler
- [ ] rescheduler
- [ ] kubelet #37

[2016-11-18 17:27] k8s-merge-robot opened #37105 "ci-kubernetes-e2e-gce-federation: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/18/

Multiple broken tests:

Failed: ListResources Before {e2e.go}

[code]
Issues about this test specifically: #34755

Failed: ListResources After {e2e.go}

[code]

Failed: [k8s.io] Federation deployments [Feature:Federation] Federated Deployment should create and update matching deployments in under

[2016-11-18 17:28] k8s-merge-robot opened #37106 "ci-kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/72/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering clean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33874

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each

[2016-11-18 17:29] piosz opened #37107 "kube-proxy logs are not collected by fluentd"
cc @thockin @bprashanth

[2016-11-18 17:36] cjcullen commented on #33472
This one is fixed by #34302.

[2016-11-18 17:37] Crassirostris commented on #37107
Currently logs from kube-proxy are written to the kube-proxy.log file in the /var/log directory on the node [(link)](https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-proxy/kube-proxy.manifest#L55)

At the same fluentd configuration (for example, [this one](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-image/google-fluentd

[2016-11-18 17:49] dims commented on #33472
@cjcullen : let's talk on that PR.

[2016-11-18 17:50] yujuhong commented on #9822
@umiyosh what version of docker and kubernetes are you using? This should've been fixed in docker 1.10 already (https://github.com/docker/docker/issues/14203).
If you don't want to upgrade your node, you could add some extra padding (e.g., environment variable) in your pod spec to work around it. See #24830 as an example.

[2016-11-18 17:57] jingxu97 commented on #36589
@joshm1 There are two issues mentioned in this thread.
1. An issue related to kubelet restarts which is reported by @jsravn first, this is fixed by PR  #36616 (merged and also cherrypicked to release 1.4)
2. Issue reported in PR #36269, and the fix is #36840 (will be merged soon and I will also cherrypick this to 1.4)
Sorry for the inconvenience. If possible, please try the master branch and let u

[2016-11-18 17:59] jingxu97 commented on #37022
@BaluDontu The fix for umounting issue is in PR #36840, could you please cherrypick this fix and let me know if it works? Thank you!

[2016-11-18 18:00] euank commented on #34965
This one seems a bit worrisome as bugs go. The fix I suggest above is a bit drastic of a change for post-freeze, but leaking processes isn't great.

If we think this should be part of 1.5 (cc @vishh) I can definitely prioritize getting my fix into cadvisor monday or tuesday

[2016-11-18 18:03] smarterclayton commented on #36885
At some point it's probably easier to make a generic api server that loads
3rd party resources and can apply custom admission code than increasingly
complex externalization hooks.

On Fri, Nov 18, 2016 at 6:04 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-11-18 18:12] jpoon commented on #30769
Thanks @colemickens https://github.com/kubernetes/kubernetes/commit/3aaf0a86e3bc80da39d348db0f6d675132f71fbb

[2016-11-18 18:13] Random-Liu commented on #37097
Discussed with @MrHohn. Reassign.

[2016-11-18 18:14] mikedanese commented on #30769
Seems fixed.

[2016-11-18 18:14] #30769 closed

[2016-11-18 18:26] spxtr commented on #37106
#33874

[2016-11-18 18:26] #37106 closed

[2016-11-18 18:31] DSTOLF commented on #29972
Hi,

Nevermind, I got the zookeeper example working. It was a problem with a miss configuration on kube-controller.

[2016-11-18 18:31] jcderr commented on #22004
@justinsb what version did this better logic arrive in?

[2016-11-18 18:38] lavalamp opened #37108 "Error returns should sanitize URIs"
The error reporting functions here all repeat a URI without sanitizing it. An XSS attacker could use this to get the server to embed a reference to a malicious script.

https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/filters/errors.go

(As always, please note that kubernetes apiserver is NOT xss hardened and we do NOT recommend using the api directly from a browser.)

[2016-11-18 18:39] deads2k commented on #36885
I would like to run all TPRs from a separate API server because I think it would be easier to write that way.  To do that, we'd need a good API summarizer/proxy.

[2016-11-18 18:40] Random-Liu commented on #33636
This is a issue in the test itself. I've sent a fix for this https://github.com/kubernetes/kubernetes/pull/37109.

[2016-11-18 18:43] calebamiles commented on #29503
thanks for the update @aveshagarwal, adding a non release blocker label to this issue following the recommendation from https://github.com/kubernetes/kubernetes/issues/32535#issuecomment-252765917

**cc: @saad-ali, @dims**

[2016-11-18 18:50] euank commented on #36997
I don't get why this is a 1.5 targetted thing myself.

Yes we want CRI to be in a good state in 1.5, but afaik we have zero intention of anyone actually using (at the very least because of the lack of exec auth regressing kubelet security).

@yujuhong why should this be part of 1.5?

[2016-11-18 18:54] timstclair commented on #37108
The error correctly sets the content type to `text/plain`, so this is only an issue using a browser that does content sniffing. Would it be sufficient to just add the `X-Content-Type-Options: nosniff` header here?

[2016-11-18 18:55] andronat commented on #26202
@pwittrock I would be very interested in putting together a formal proposal. I'm not very sure though what that includes :/ Do you think you will have some time to chat about this?

[2016-11-18 18:58] grodrigues3 commented on #37026
@foxish yup, i do.  It's currently off, while we work on establishing new labels.

[2016-11-18 18:58] fabianofranz commented on #27308
SGTM. Needs to be well documented and clear about the precedence in case both env vars were specified.

[2016-11-18 18:59] ixdy commented on #37089
I'm not sure if this is related to https://github.com/kubernetes/release/tree/master/rpm or not.
cc @luxas @errordeveloper @mikedanese @dgoodwin

[2016-11-18 19:04] dgoodwin commented on #37089
What was the history of this system?

Installed: iptables-1.4.7-16.el6.x86_64 (@anaconda-CentOS-201605220104.x86_64/6.8)

Is that 6.8 indicating a CentOS 6 package?

[2016-11-18 19:09] MarkRx commented on #37086
This relates to my thread here: https://github.com/openshift/origin/issues/11954.

The setup is as follows using a blue/green deployment strategy with an additional abstraction of stage/active.

Before (dc = deployment config / deployment):

Stage Y

Promote Y (delete dc X)

At the "promote Y" stage the pods created by dc Y will still have the label of status:stage. We were investigating how we co

[2016-11-18 19:11] yujuhong commented on #36997
First, this is a small enough change that allows non-docker integrations to properly support seccomp. Second, if "we have zero intention of anyone actually using" is a valid reason, we should never fix any bugs in CRI. We do want people to try using it (perhaps not in production yet). However, given that seccomp is only in alpha, I am ok with dropping this and just continue the docker support for

[2016-11-18 19:13] k8s-merge-robot opened #37110 "kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke/4175/

Run so broken it didn't make JUnit output!

[2016-11-18 19:13] k8s-merge-robot opened #37111 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/55/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981 #32257 #33711 #33839 #36547

[2016-11-18 19:13] k8s-merge-robot opened #37112 "ci-kubernetes-e2e-gci-gce-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot-release-1.4/74/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by ordering unclean reboot and ensure they function upon restart {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33882 #35316

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reb

[2016-11-18 19:13] yujuhong commented on #36401
/cc @Crassirostris @piosz for suggestions.

[2016-11-18 19:17] lavalamp commented on #37108
Yes, that will work for browsers that honor the header. It's probably sufficient-- we could do that globally, we set Content-Type correctly everywhere, I think.

[2016-11-18 19:23] erictune commented on #10782
How would a vertical autosizer that did restarts work with a Deployment, exactly?  Can resizing  happen concurrently with new image rollout?  If the user wants to roll back the image change, and there was an intervening resource change, what happens?  Can I end up with four replicaSets (cross product of two image version and old/new resource advice)?  Are these competing for `revisionHistoryLimit`

[2016-11-18 19:24] dgoodwin commented on #37089
Disgregard previous, I missed that the bug transitions from CentOS 7 to 6.

Yes these are related to the release repo. @luxas it looks like the recent sync between deb and rpm was somewhat mistaken, the package names do not sync up.

- iproute2 does not exist in Centos7, but it does have: iproute.x86_64 0:3.10.0-54.el7 and presumably this is fine, it should probably just be a dep on "iproute".
- I

[2016-11-18 19:25] k8s-merge-robot opened #37115 "ci-kubernetes-e2e-gci-gce-kubenet: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/149/

Run so broken it didn't make JUnit output!

[2016-11-18 19:31] bprashanth commented on #31364
The nginx controller goes straight to pods by pulling the selector out of
the Service:
https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx.
We're in the process of splitting this  controller into a generic interface
+ nginx backend(s), we need people with experience to help with the
interface. If you have the bandwidth, see:
https://github.com/kubernetes/ingress/issues/18,

[2016-11-18 19:31] dgoodwin commented on #37089
Docs only say 7: http://kubernetes.io/docs/getting-started-guides/kubeadm/

[2016-11-18 19:34] ixdy commented on #37089
Oh, I just noticed https://github.com/kubernetes/release/issues/204 and https://github.com/kubernetes/release/pull/212. We can probably just close this as a dupe of https://github.com/kubernetes/release/issues/204.

[2016-11-18 19:35] whitlockjc commented on #31364
Yes, and that too me is an extra step that doesn't have to be necessary.  Making me create a `Service` just to get a label selector when I could just as easily had provided you one, doesn't make as much sense to me.

[2016-11-18 19:36] luxas commented on #37089
Yes, we should ditch CentOS 6, it's simply too old.

Well, it is probably my PR, I'm not too familiar with which rpm packages exist, but I assumed it would have been impossible to build the rpm package if they didn't. Seems like I was wrong then.

@dgoodwin Will you fix or should I?

[2016-11-18 19:36] yujuhong commented on #32214
I don't know how `kubernetes-e2e-gci-gke-pre-release` is configured, but apparently it's running older version of tests. Not sure what I can do to fix that.

[2016-11-18 19:36] dgoodwin commented on #37089
https://github.com/kubernetes/release/pull/212 has beaten us all.

[2016-11-18 19:37] k8s-merge-robot opened #37116 "ci-kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/56/

Run so broken it didn't make JUnit output!

[2016-11-18 19:39] Crassirostris commented on #36401
Let me make one step back to talk about the whole picture

We had some discussions and planned to work on refactoring the whole logging process in the next iteration, will it wait until then (I'm not sure whether you're talking about long-distance planning or something that will be changed next week)?

We have some really kubelet-dependent ideas, for example, strictly specified and documented inte

[2016-11-18 19:40] krousey opened #37117 "kubectl --force deletion is breaking upgrade tests"
In 1.5, kubectl now requires --force when --grace-period=0 for deletion. This is causing 1.3 e2e tests to fail when running with a 1.5 kubectl in the upgrade tests. This was added in #35484. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-container_vm-1.3-container_vm-1.5-upgrade-cluster/143?log

[code]

[2016-11-18 19:41] bprashanth commented on #31364
Right it is unnecessary in your case, and in the case of a lot of off the shelf loadbalancers, but Kube is all about cross platform portability adn there's no way to manufacture a nodeport from inline label selectors (but there's a way to dereference the label selectors from a nodeport service)

[2016-11-18 19:41] krousey commented on #37117
cc @saad-ali

[2016-11-18 19:43] yujuhong commented on #32214
@fejta (test-infra oncall), do you have any suggestions on how to fix this? Thanks! I had a PR that fixed the test, and got cherry-picked to 1.4 a couple of days ago (#36789), but this build is still running the older tests.

[2016-11-18 19:46] saad-ali commented on #37117
The new kubectl behavior introduced in PR https://github.com/kubernetes/kubernetes/pull/35484 is causing automated upgrade tests to fail.

[2016-11-18 19:47] mml commented on #37035
Whoops.  To reproduce expand this tarfile and run `rollback --data-dir $(pwd)/etcd/data`

[etcd-data.tar.gz](https://github.com/kubernetes/kubernetes/files/600791/etcd-data.tar.gz)

[2016-11-18 19:47] krousey commented on #37117
@foxish I wish it was as easy as just back-porting the addition of `--force` to the 1.4 and 1.3 e2e tests, but as far as I can tell, the 1.3 kubectl delete didn't have a `--force` option, so that would just break all the normal 1.3 e2es.

[2016-11-18 19:49] whitlockjc commented on #31364
I get it.  :)  But that's why I'm suggesting an enhancement _(to support the non-Service case)_ and not a replacement.

[2016-11-18 19:52] calebamiles commented on #36895
I've added a non release blocker label to this issue optimistically thinking that the error lies in kops. @zmerlynn, @spxtr could you please update the issue by end of day 18 November 2016 PST if this should actually be a release blocker. Thanks!

**cc: @saad-ali, @dims**

[2016-11-18 19:54] bprashanth commented on #31364
But what's the value in that? it's literally 5 lines of extra code to grab
the selectors out of a Service and people tend to think in terms of service
names anyway, at that level. It's easier to tell looking at an ingress,
that /login leads users to the same login service that intra cluster pods
are using to lookup usernames than to keep checking that selectors on
ingress match selectors on each c

[2016-11-18 19:57] pwittrock commented on #26202
@andronat I am out next week, but we can chat this afternoon on hangouts or something.  why don't you PM me on slack with your email and I will create a calendar event.

[2016-11-18 20:00] yujuhong commented on #36401
@Crassirostris this issue focuses on the smaller scope of supporting yet another format/location for container logs. I agree that in general we should have a better defined log interface, but that demands a broader discussion and design, and maybe even longer rollout timeline. Could we resolve this issue before that happen?

[2016-11-18 20:02] fejta commented on #32214
If you click a gubernator link and then click the `Load build-log` button and expand lines you'll find something like this:
[code]

(btw this info is also up at the top under the version field: `Version	v1.6.0-alpha.0`)

It finds this version by reading release/latest.txt file from gcs.

If you want to read a different file (maybe release/latest-1.4.txt? options defined [here](https://pantheon.cor

[2016-11-18 20:08] Crassirostris commented on #36401
I didn't want to address this issue directly, because it has also a problem besides logging format

Fluentd right now _heavily_ relies on the metadata from the filename, you can't just remove pod name, namespace name and so on without completely breaking current logging pipeline.

Regarding the original problem, there is a plugin for this: https://github.com/repeatedly/fluent-plugin-multi-format-p

[2016-11-18 20:09] lavalamp commented on #22024
Looks like this message is now a warning only. It really is not a problem unless you see it continuously (like, multiple times per second). If we make it informational only will that make you all feel better? :) :)

[2016-11-18 20:09] bprashanth commented on #28188
That wget timeout is a kicker. I agree with leaving it non blocking but I'll try to find some cycles to repro.

[2016-11-18 20:11] Crassirostris commented on #36401
But again, I think making such changes before the logging pipeline rework might not be a best solution.

[2016-11-18 20:12] lavalamp commented on #24988
@bogdando: Right, I mean there should be zero network connectivity between etcd and anything other than apiserver.

immediate term solution: look at /api/v1/componentstatuses/ (IIRC) for etcd health.

longer term solution: the system should be self-hosted, etcd should be running in pods, and you can look at those pod objects to see if it is healthy (kubelet does health checks).

[2016-11-18 20:15] whitlockjc commented on #31364
The issue I bring up isn't just from an ingress controller author perspective.  The issue is that if you want to use an `IngressResource` object, you are also forced to use the `Service` object.

So to me, as a user, I see Kubernetes making me jump through extra hoops because I'm being forced to create a `Service` object I might not need/use otherwise.  Why?  Well, I don't do any intra-cluster com

[2016-11-18 20:21] smarterclayton commented on #10782
An autosizer blowing out my deployment revision budget is not ok :)

On Nov 18, 2016, at 11:08 AM, Derek Carr <notifications@github.com> wrote:

If we pursue a vertical autosizer that requires kicking a deployment, how
hard is it to take that requirement back? For example, I would think many
of our users would prefer a solution that did not require a re-deploy and
instead could re-size existing po

[2016-11-18 20:22] yujuhong commented on #36401
@Crassirostris thanks for the input!

Does the fluentd itself rely on the metdata, or the downstream components (e.g., elasticsearch) does this? I didn't see any relevant information in the fluentd configuration files.

[2016-11-18 20:23] bprashanth commented on #37097
This is a failure to delete the ns, presumably because it was blocked by an RC, @MrHohn why do you care? (just making sure it isn't a hidden networking issue)

[2016-11-18 20:24] bprashanth commented on #36278
https://github.com/kubernetes/kubernetes/pull/36332

[2016-11-18 20:24] #36278 closed

[2016-11-18 20:24] bprashanth commented on #36271
https://github.com/kubernetes/kubernetes/pull/36332

[2016-11-18 20:24] #36271 closed

[2016-11-18 20:27] yujuhong commented on #32214
@fejta thanks for the explanation. I guess this build just can't be fixed until a new release is cut.

/cc @saad-ali, I don't think we should care about failures in the v1.6.0-alpha.0 suite.

[2016-11-18 20:37] Crassirostris commented on #36401
Not fluentd per se, but of the plugins from the configuration. By default, this plugin for ingesting read logs to the GCL: https://github.com/GoogleCloudPlatform/fluent-plugin-google-cloud

It's even harder to change than fluentd configuration per se, because guys from Stackdriver team has their own release cycle.

[2016-11-18 20:38] bgrant0607 commented on #37117
@krousey Why are we running 1.3 upgrade tests on 1.5? kubectl officially only supports 1 minor release of version skew.

[2016-11-18 20:38] calebamiles commented on #36230
I believe that Federation may have been inappropriately assigned by the bot on this test. Could someone from @kubernetes/sig-node please let us know whether this issue should block the 1.5 release or not. This seems like pretty critical functionality but I'm not sure why the tests are failing. I'll assign you @dchen1107 as a placeholder until you can find someone to take a look. Please add a label

[2016-11-18 20:47] calebamiles commented on #35872
@rmmh, @mwielgus, @nikhiljindal all issues need to have a release blocker or non blocker label by end of day 18 November 2016 PST. Could one of you or someone in @kubernetes/sig-cluster-federation please add an appropriate label? Thanks!

**cc: @saad-ali, @dims**

[2016-11-18 20:54] dims commented on #35872
@calebamiles the bunch of failures from 3 days ago...was already fixed by test infra folks https://github.com/kubernetes/test-infra/pull/1076

[2016-11-18 20:54] #35872 closed

[2016-11-18 20:55] derekwaynecarr commented on #10782
That said, I think most java apps would need to restart to take advantage,
but ideally that restart would not result in a reschedule.

On Fri, Nov 18, 2016 at 3:21 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-11-18 20:55] saad-ali commented on #37056
@jingxu97 Can you figure out if this is a blocking issue for 1.5 or not

[2016-11-18 20:56] saad-ali commented on #37056
CC @kubernetes/sig-storage

[2016-11-18 20:56] DreadPirateShawn commented on #22024
It'll most certainly make our QA dept and error-monitoring tools feel better. ;-) :-D

[2016-11-18 21:05] justinsb commented on #34060
Without information as to this _not_ being a blocker, marking it as a blocker for now

[2016-11-18 21:05] justinsb commented on #33884
A lot of discomfort around this; marking as a release-blocker for now.

[2016-11-18 21:09] MrHohn commented on #37097
It is weird, there should be no RC created by this test.

[2016-11-18 21:09] dchen1107 commented on #33322
Marked this as the dup of #36230

[2016-11-18 21:11] #33322 closed

[2016-11-18 21:13] #36784 closed

[2016-11-18 21:20] euank commented on #36997
Perhaps I misunderstood the meaning of code freeze, but I thought it was only bug-fixes regardless of size of change (or exceptions that have gone through some process)

What I meant is we don't intend this to be used generally as part of the 1.5 release. Because of that, I don't think we should consider bugs in CRI bugs for the purpose of the 1.5 release freeze. My statement is just that we shoul

[2016-11-18 21:23] dashpole opened #37118 "Kubelet Status Manager should store Status in the Pod Manager instead of its own cache."
There is a general issue in the kubelet, where we keep separate copies of the status in different components.  This idea originally arose because of #29033. It is difficult to make the volume manager respond to deletions because volume garbage collection relies on the pod manager to determine when a pod is deleted, while status updates for deletions are triggered using the status manager.  However

[2016-11-18 21:31] mikedanese opened #37121 "build test/e2e/e2e.test with bazel"

[2016-11-18 21:42] Crassirostris commented on #37012
Probably previous issue was prematurely closed.

The test mentioned does not include https://github.com/kubernetes/kubernetes/pull/36993 which closed previous flakiness issue.

[2016-11-18 21:42] Crassirostris commented on #37012
If test doesn't flake for a couple of days, the issue can be closed.

[2016-11-18 21:49] MrHohn commented on #37097
Found meta issue for `Couldn't delete ns` in #36054.

[2016-11-18 21:49] Crassirostris commented on #37107
Unfortunately, it not possible to use default container logging mechanism, because `kube-proxy.log` has multiline log entries (mainly with iptables rules).

Currently docker json driver wraps every line into the separate entry, which is later picked up by fluentd as separate entries. I will create a PR with config change for `kube-proxy.log`.

[2016-11-18 21:56] lavalamp commented on #991
I agree we're not going to solve this as listed in the OP.

[2016-11-18 21:56] #991 closed

[2016-11-18 22:01] krousey commented on #37117
@bgrant0607 My understanding from the test description

Is that this is 1.3 e2e tests shelling out to a 1.5 kubectl communicating with a 1.5 master. There shouldn't be a version skew between kubectl and master.

[2016-11-18 22:02] chrislovecnm commented on #33884
Do we have a PR in to address this?

[2016-11-18 22:04] chrislovecnm commented on #35534
@dims this is a release blocker ... Ping @janetkuo ;)

[2016-11-18 22:08] dims commented on #37040
@lavalamp @smarterclayton could use your experience on this one. PTAL to see if this is a blocker for 1.5 release.

[2016-11-18 22:16] xiang90 commented on #8625
/cc @hongchaodeng @wojtek-t @gmarek

[2016-11-18 22:16] dashpole commented on #33874
@Random-Liu  and I believe this error is what is causing the test to fail.  I am looking into it...
`E1117 04:32:27.904764    1311 pod_workers.go:184] Error syncing pod d80fb8aa36d238ab5c6990d354d39176, skipping: failed to "StartContainer" for "fluentd-cloud-logging" with ErrImagePull: "failed to register layer: rename /var/lib/docker/image/overlay/layerdb/tmp/layer-989997535 /var/lib/docker/image

[2016-11-18 22:17] bprashanth commented on #36230
This is the 1.4 counter part for https://github.com/kubernetes/kubernetes/issues/33405, I'm going to guess it's flaking for the same reasons. We don't need more than 1 blocking.

[2016-11-18 22:18] bprashanth commented on #33405
Flaking for similar reasons in 1.4 probably indicative of issues with how the test is written/ what it's testing (https://github.com/kubernetes/kubernetes/issues/36230)

[2016-11-18 22:26] dashpole commented on #33874
Related issue with docker: https://github.com/docker/docker/issues/23184
PR that fixes the issue in docker 1.13: https://github.com/docker/docker/pull/25523

[2016-11-18 22:27] gnufied commented on #36450
@justinsb or @saad-ali I will take a stab at this.  Do assign this to me, if it is not a problem.

[2016-11-18 22:30] smarterclayton commented on #37117
So the new behavior was intentional because the old behavior can result in data loss in stateful sets (or data loss in any component like a DB running on Kube).  The problem with continuing to allow the behavior of existing scripts is because they are doing something very dangerous, and that's not ok.

[2016-11-18 22:32] Brian-McM commented on #36589
@jingxu97 do you think you'll get the second one into 1.4 today?

[2016-11-18 22:33] smarterclayton commented on #37117
The alternatives discussed are:

1. No change - let hard coded scripts with grace-period 0 continue to lead to split brain and data loss on the cluster
2. Have `--grace-period=0` actually set grace period 1, which would break any script that assumes that they can call delete and the resource is immediately gone (so also breaking, but more subtly).

Grace-period=0 is not something people should be

[2016-11-18 22:36] smarterclayton commented on #37117
1.3 kubectl with 1.5 server would continue to behave without change.

[2016-11-18 22:37] AndyMoore111 opened #37126 "swagger 2.0 spec has incorrect type for v1.secret"
swagger spec 2.0 (taken from 1.4.5)

As discussed with @mbohlool the data types v1.secret properties are incorrectly setup:

`   "v1.Secret": {
    "properties": {
     "data": {
      "type": "object",
      "additionalProperties": {
       "type": "array",
       "items": {
        "type": "integer",
        "format": "byte"
       }
      }
     },`

This should be

type: string
format: byte

[2016-11-18 22:38] jingxu97 commented on #36589
@Brian-McM I think so, it is on the top of submit queue, it should be merged after the tests pass. I will let you know when it is merged.

[2016-11-18 22:39] smarterclayton commented on #37040
If integration tests are not exiting between individual tests, there can be multiple goroutines running repair from previous runs.  Not sure whether that's in play here, but it's an option.

[2016-11-18 22:39] k8s-merge-robot opened #37127 "kubernetes-e2e-gci-gke-prod-smoke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gci-gke-prod-smoke/2765/

Run so broken it didn't make JUnit output!

[2016-11-18 22:40] mtaufen commented on #34911
@wojtek-t Hope it's not a classic "printf fixed it" kind of issue. Those are the worst :(. We could try lowering the verbosity to see if the flake comes back, just to be sure (in any event we should probably lower the verbosity since it's not happening anymore).

[2016-11-18 22:40] Brian-McM commented on #36589
Thanks @jingxu97

[2016-11-18 22:41] krousey commented on #37117
@smarterclayton I'm fine with this breaking change if it's preventing bad behavior. This broke a script (in the form of 1.3 e2e tests). This somehow needs to be fixed so that it can work with a 1.3, 1.4, and 1.5 kubectl.

[2016-11-18 22:43] smarterclayton commented on #37117
One option is grep "--force" on the help text as an if block (I think we did that somewhere else).

I really believe that we have to consciously break this one scripting experience because it has such dramatic impact on clusters.

[2016-11-18 22:47] yujuhong commented on #36997
@euank the only thing we don't seem to agree on is whether seccomp support was considered to be supported for CRI in 1.5. My interpretation is that we assumed seccomp would be supported until we found out that it wouldn't for other runtimes due to the lack of profile path. That's the only reason why I considered this a bug. Of course we could say that this is not really an important feature in CRI

[2016-11-18 22:48] mikedanese opened #37128 "kubectl get pods --show-all is broken on master"
--show-all says it defaults to false in help but still kubectl shows all pods
[code]

@kubernetes/kubectl

[2016-11-18 22:49] lavalamp commented on #27581
I guess I will downgrade this since no one is doing anything about it :(

[2016-11-18 22:53] smarterclayton commented on #37117
[code]

[2016-11-18 22:55] pwittrock commented on #37117
The release notes typically have a "Known behavior changes" section where we can add this.

[2016-11-18 22:55] euank commented on #36997
If there's a bug in a feature no one uses, does fixing it make a sound?

I think what we're not agreeing on is the role of CRI in 1.5.

I understood it as something that is not generally usable. We can't recommend a customer use it, even as an experimental feature, due to security aspects and incompleteness in general.

It's a developer integration point, and developers integrating with it are doi

[2016-11-18 22:56] smarterclayton commented on #37086
Independent of the merits of pause on the RC, I did want to mention the
comment from the other thread that in general, doing a blue green swap is
about minimizing the number of changes in either direction.  Ideally a
single atomic operation can do the flip.  Re-labelling of pods is not
atomic like that, so I would generally suggest for this specific case that
we try to find a way to make service /

[2016-11-18 22:57] pwittrock commented on #37128
@saad-ali This is a regression discovered by @mikedanese

[2016-11-18 22:58] pwittrock commented on #37128
cc @kubernetes/sig-cli

[2016-11-18 22:59] pwittrock commented on #37128
@AdoHe @fabianofranz Would either of you be able to take a look at this next week?

[2016-11-18 23:08] feiskyer commented on #36997
@euank  This is not true. cri-o is depending on this fix for apparmor support.

[2016-11-18 23:09] smarterclayton commented on #37117
The release note from the mentioned PR definitely addresses the change - agree it would be in the behavior change section.

[2016-11-18 23:14] dims commented on #27581
@lavalamp unfortunately... thanks!

[2016-11-18 23:17] #36269 closed

[2016-11-18 23:19] euank commented on #36997
@feiskyer is it depending on the 1.5 release branch directly, or on master?

[2016-11-18 23:19] jingxu97 commented on #36589
#36840 is merged. Please give a try and let me know if any issue.

[2016-11-18 23:20] Brian-McM commented on #36589
That's only in master though, right?

[2016-11-18 23:34] jingxu97 commented on #36589
that's right. I will try to cherrypick to release 1.4 and it should be
available later next week.

On Fri, Nov 18, 2016 at 3:20 PM, Brian McMahon <notifications@github.com>
wrote:

--
- Jing

[2016-11-18 23:34] saad-ali commented on #37128
Ack. Can you put a priority on this as well.

[2016-11-18 23:36] krousey commented on #37117
@smarterclayton or @foxish could one of you take the time to implement a fix for the e2es?

[2016-11-18 23:38] xcompass commented on #37030
Here you go:
[code]
[code]

[2016-11-18 23:40] feiskyer commented on #36997
@euank I think it's better to make this in 1.5, so cri-o could work with first release with experimental CRI. It helps to encourage people to use CRI and find features misses or bugs.

[2016-11-18 23:40] yujuhong commented on #37042
/cc @jingxu97 based on #36848

[2016-11-18 23:42] feiskyer commented on #16456
+1.

@pmorie @kubernetes/sig-node  is there any updates for this?

[2016-11-18 23:46] smarterclayton commented on #37117
I will.  Want Brian's agreement or disagreement on the statement that data
integrity overrides back compat.

On Nov 18, 2016, at 6:36 PM, krousey <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> or @foxish
<https://github.com/foxish> could one of you take the time to implement a
fix for the e2es?

—
You are receiving this because you were mentioned.
Reply to t

[2016-11-18 23:46] foxish commented on #37117
ping @bgrant0607

[2016-11-18 23:57] yujuhong commented on #36997
Modifying the user-specified annotation is a little bit unsettling. I think adding a new annotation explicitly for the path would be better. Or, we should just add an explicit field for this.

I spoke to @euank and @timstclair separately. I still think this is a bug fix, but we may want to be more careful about the fix. Given the time constraint, let's just list this as a known issue and work on i

[2016-11-18 23:59] foxish commented on #36034
Added a warning against `terminationGracePeriod` setting to 0 in https://github.com/kubernetes/kubernetes.github.io/pull/1731

[2016-11-19 00:01] mtaufen commented on #33882
This should be a release blocker until we have a better idea of what is going on.

[2016-11-19 00:03] mml opened #37131 "etcd rollback tool panics when the initial data comes from "etcdctl backup""
I have been performing some tests using a tarball taken from an apiserver filesystem and some tests using the output of `etcdctl-2.2.1 backup`.  In the latter case, the `rollback` tool will crash.

[data-crash.tar.gz](https://github.com/kubernetes/kubernetes/files/601123/data-crash.tar.gz) contains data that will crash `rollback`.  It is the data after having upgraded from 2.2.1 -> 2.3.7 -> 3.0.14

[2016-11-19 00:06] xcompass commented on #37030
@Crassirostris I did some more digging. Here is what I found:

* When running directly with docker, the data directory is set to correct user elasticsearch:elasticsearch.

* When running in kube with emptyDir: {} for /data volume, the data directory has root:root, but permission on the directory is 775. So elasticsearch is able to create the sub dir.

* When running in kube with hostPath for /data

[2016-11-19 00:07] lavalamp commented on #36493
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-11-19 00:07] #36493 closed

[2016-11-19 00:09] mml commented on #37131
And here's the stack trace.

[code]

[2016-11-19 00:18] foxish opened #37132 "e2e test for kubectl drain involving Stateful Sets with a defined PDB"
We should have an e2e test which uses PDBs and Stateful Sets together to ensure that node drains occur as expected.
We expect drains to not affect the functioning of a Stateful Set, and should capture this.

cc @erictune @smarterclayton @janetkuo @enisoc

[2016-11-19 00:20] jeffvance commented on #24985
Would like to see a priority label on this issue. @rootfs do you think it's a p1 now?

[2016-11-19 00:21] foxish commented on #37132
Do we also need one for anti-affinity and ensure that the pods do get spread? It's not a Stateful Set property but is certainly going to be important to users.

[2016-11-19 00:22] caesarxuchao opened #37133 "test-cmd.sh deployment test shouldn't hard code replicaset name with hash value"
https://github.com/kubernetes/kubernetes/blob/v1.5.0-beta.1/hack/make-rules/test-cmd.sh#L2317

The hash value changes when we change the yaml file or change schema of podtemplate, so we should avoid hard coding the name.

@kargakis @janetkuo

[2016-11-19 00:26] dchen1107 commented on #33874
xref: Docker 1.11 known issue: https://github.com/kubernetes/kubernetes/issues/23397

Based on what @dashpole's comment above, this is known issue of docker 1.11.x. It is non-release blocker.

But on another side, I think Kubelet has clear error message from docker: ErrImagePull with the detail reason on why. In this case, can Kubelet add error handling to recover from this? For example, remove th

[2016-11-19 00:26] davidopp commented on #10782
@derekwaynecarr I don't think anyone is proposing "a vertical autosizer that requires kicking a deployment" in the long run -- instead I think @fgrzadkowski is saying that the first version would work that way because it's simpler and isn't blocked on in-place resource update in kubelet. Our plan for the next step of PodDisruptionBudget is to allow it to specify a disruption rate, not just a max-n

[2016-11-19 00:32] spiffxp opened #37134 "v1.5.0 known issues / FAQ accumulator"
Please link to this issue or comment on this issue with known errata for the 1.5.0 release.  This follows what we have done for prior releases (see #32332, https://github.com/kubernetes/kubernetes/issues/10760#issue-93324758)

We will be populating the "Known Issues" section of 1.5.0 release notes based on this issue

/cc @saad-ali

[2016-11-19 00:37] nisargam commented on #24533
I have started a pod with

# kubectl run busybox --image=busybox --restart=Never --tty -i generator=run-pod/v1

I tried to delete this pod, but it never gets deleted. How can I delete this pod ?

# kubectl delete pods  busybox-na3tm
pod "busybox-na3tm" deleted
# kubectl get pods
NAME                                     READY     STATUS              RESTARTS   AGE
busybox-vlzh3

[2016-11-19 00:38] caesarxuchao commented on #37133
I made a fix in #36673.

[2016-11-19 00:40] bgrant0607 commented on #37117
@smarterclayton The proposal was #34160?

A better solution would be to only enforce this requirement upon pods that really need this behavior, so that existing acceptable uses wouldn't break.

Somewhat related: #10179.

I don't really like the proposed alternatives, but it's too late to implement a proper solution in the API.

Assuming that we have no choice but to go forward with --force, in add

[2016-11-19 00:44] yamnicz3k opened #37136 "Not as in documentation"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-19 00:44] feiskyer commented on #36997
@yujuhong OK, let's move this to next release and think carefully about seccomp feature besides this:

- kubelet may just pass the profile as string via CRI; may assume the profile locate in a file in a known format and pass path to the runtime; or maybe some other solutions. We need to clearly define it.
- define profile format clearly

[2016-11-19 00:52] lavalamp commented on #37040
Does the service IP allocation code not use the etcd prefix??? That's the only way I can see this happening.

[2016-11-19 00:54] lavalamp commented on #37040
@thockin may have some idea

[2016-11-19 00:59] ixdy commented on #37110
Timed out.

@fejta are you trying to collect these?

[2016-11-19 00:59] saad-ali commented on #37117
1.5 known issues are being tracked here: https://github.com/kubernetes/kubernetes/issues/37134

[2016-11-19 01:00] lavalamp commented on #36885
Yeah, I like the direction Clayton and David are headed in.

On Fri, Nov 18, 2016 at 10:39 AM, David Eads <notifications@github.com>
wrote:

[2016-11-19 01:04] ixdy commented on #37116
[code]

Maybe we need to check whether the firewall actually got created between each of the retries.

[2016-11-19 01:12] mengqiy opened #37138 "Strategic patch forgets a edge case"
Strategic patch doesn't work on an edge case:
[code]
The expected state is:
[code]
But we get:
[code]
The cause is we send a patch looks like this which will delete the whole list.
[code]
The patch we should send is
[code]
This case is not covered in #35647. We should add a test case in `strategicpatch`.

Similar issue has been found in list of maps.

cc @pwittrock

[2016-11-19 01:12] ymqytw commented on #37138
@pwittrock please assign to me.

[2016-11-19 01:17] pwittrock commented on #37138
@saad-ali Found another one.  I need to think more about whether this is a release blocker or not, so I added the label.  It has been around a while, but never mattered until we started merging lists of primitives

[2016-11-19 01:23] thockin commented on #24533
We also have a --rm flag ...

[code]

On Fri, Nov 18, 2016 at 4:38 PM, nisargam <notifications@github.com> wrote:

[2016-11-19 01:30] smarterclayton commented on #37117
I don't think we should leave it up to the user to opt out of split brain
and data loss.

Another alternative is to make --grace-period=0 send grace period 1 but
wait until the pod is deleted to continue.  If you think forcing users to
understand that grace-period=0 is dangerous is too far (even given safety
first), that would potentially reduce the impact.

On Nov 18, 2016, at 7:41 PM, Brian Gran

[2016-11-19 01:32] saad-ali commented on #37138
Ack, thanks for the heads up

[2016-11-19 01:43] ymqytw commented on #37138
@pwittrock I found similar issue for list of maps. I guess this issue exist even before 1.4.

[2016-11-19 02:01] AdoHe commented on #36081
@pwittrock error in this case is validation error, you can see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/visitor.go#L536)

[2016-11-19 02:03] AdoHe commented on #37128
@pwittrock I will fix this today.

[2016-11-19 02:05] philips commented on #35462
@jessfraz Is there something I can help with externally? @ethernetdan or @calebamiles might be able to pitch in.

[2016-11-19 02:33] smarterclayton commented on #37117
Proposal was #34160 but discussion in #29033 covers the guarantees for users.

[2016-11-19 02:33] AdoHe commented on #36876
@AlexMioMio anything I can help?

[2016-11-19 02:43] jessfraz commented on #35462
ping @alex-mohr I was told to get your approval :)

[2016-11-19 03:34] tnextday commented on #36988
It is already fixed by https://github.com/kubernetes/kubernetes/pull/34139.

[2016-11-19 04:16] foxish commented on #27796
The rollout is now complete and the **kubernetes** and **kubernetes-incubator** organizations are using the CNCF CLA.

[2016-11-19 04:42] bprashanth commented on #20379
I don't think we can set an expectation that delete will every be invoked exactly once without snapshotting actions, and given the other 2 options, I'd prefer at least once over at most once. The plugin should make sure that subsequent delete calls no-op.

If the kubelet calls delete with the *wrong* container id, that's something we should definitely fix.

[2016-11-19 05:04] thockin commented on #37040
I am afraid I know almost nothing about the repair mode here - that
happened when I wasn't looking.  I'll see if I can figure anything out, but
don't wait for me :)

On Fri, Nov 18, 2016 at 4:54 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-11-19 06:19] bgrant0607 commented on #37117
@smarterclayton I like your latest suggestion: "Another alternative is to make --grace-period=0 send grace period 1 but wait until the pod is deleted to continue."

[2016-11-19 06:21] smarterclayton commented on #37117
I'll look at what that takes.  We could wait forever, which is surprising
(and still a behavior change), so it's not a perfect fix.

On Nov 19, 2016, at 1:19 AM, Brian Grant <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> I like your latest
suggestion: "Another alternative is to make --grace-period=0 send grace
period 1 but wait until the pod is deleted to co

[2016-11-19 06:22] bgrant0607 commented on #37117
@smarterclayton If the command timed out and failed in the "forever" case, it would be less surprising to the user when they tried to create another resource with the same name and failed.

[2016-11-19 07:07] saad-ali commented on #36997
Please document known issues for 1.5 in https://github.com/kubernetes/kubernetes/issues/37134

[2016-11-19 07:22] k8s-merge-robot opened #37143 "ci-kubernetes-e2e-gci-gce-federation: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-federation/22/

Run so broken it didn't make JUnit output!

[2016-11-19 07:44] #37126 closed

[2016-11-19 07:59] k8s-merge-robot opened #37144 "[k8s.io] DNS config map should be able to change configuration {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/175/

Failed: [k8s.io] DNS config map should be able to change configuration {Kubernetes e2e suite}

[code]

[2016-11-19 08:21] #32537 closed

[2016-11-19 08:43] cyberroadie commented on #29298
I have the same problem. I've got Kubernetes running in a private subnet. To explain it a bit further (this is AWS specific). Our infrastructure team has created specific requirements regarding security. We need to have three layers (subnets) in one VPC zone. Diagram:

| type          | connection  |  components      |
|-----------|-------------|-----------------|
| public subnet | internet gatewa

[2016-11-19 09:02] #36916 closed

[2016-11-19 09:45] sandys opened #37146 "Loadbalancer setup needed for metal deployments"
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L28

https://github.com/kubernetes/kubernetes/tree/master/pkg/cloudprovider/providers

There are already load balancer setups built for all major cloud providers... however there is no built in option for metal deployments.
I have already looked at https://github.com/kubernetes/contrib/tree/master/service-loadbalancer

[2016-11-19 09:59] wojtek-t commented on #37111
It seems that #37125 fixed it. So closing this.

We will try to understand why it broke things on Monday.

[2016-11-19 09:59] #37111 closed

[2016-11-19 12:55] k8s-merge-robot opened #37147 "ci-kubernetes-e2e-gci-gce-petset: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-petset/101/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working zookeeper cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] D

[2016-11-19 14:01] miracle2k commented on #34401
I had changed the default limitrange on GKE, but it seems that after a cluster upgrade, it was reset to the default.

[2016-11-19 16:25] dims commented on #37132
@foxish : can you please throw a non-release-blocker or release-blocker label as appropriate?

[2016-11-19 16:27] dims commented on #37107
@piosz @Crassirostris : can you please add a release-blocker or non-release-blocker tag as appropriate?

[2016-11-19 17:30] dims commented on #32248
Apparently fixed by https://github.com/kubernetes/kubernetes/pull/35581, please reopen if necessary

[2016-11-19 17:30] #32248 closed

[2016-11-19 17:35] dims commented on #32988
Looks like the tests in question were commented out with a TODO
https://github.com/kubernetes/kubernetes/commit/6b5375b32c07b445aa61953f12c585258a6c0a4d

[2016-11-19 17:36] dims commented on #26191
no activity since sep13, one flake since then, though more than 2 weeks ago. let's close this now and let bot reopen if it happens again

[2016-11-19 17:36] #26191 closed

[2016-11-19 17:38] dims commented on #26172
no activity since sep18, one flake since then, though more than 2 weeks ago. let's close this now and let bot reopen if it happens again

[2016-11-19 17:38] #26172 closed

[2016-11-19 17:38] #27465 closed

[2016-11-19 18:30] #37127 closed

[2016-11-19 18:31] AndyMoore111 opened #37149 "v1beta1.deploymentspec incorrectly marks progressDeadlineSeconds as required"
as discussed with @mbohlool in kubernetes 1.4.5 the swagger 2.0 spec has  progressDeadlineSeconds as 'required', when it should be optional

"v1beta1.DeploymentSpec": {
    "description": "DeploymentSpec is the specification of the desired behavior of the Deployment.",
    "required": [
     "template",
     "progressDeadlineSeconds"
    ],

[2016-11-19 19:22] madhusudancs commented on #32826
Not a v1.5 release blocker.

[2016-11-19 19:23] madhusudancs commented on #33292
This is not a release blocker for v1.5 either.

[2016-11-19 19:24] madhusudancs commented on #36540
Not a v1.5 release blocker.

[2016-11-19 19:25] madhusudancs commented on #33622
This is a feature. Moving it to v1.6.

[2016-11-19 19:26] madhusudancs commented on #31283
We would love some help here. But it is not a v1.5 release blocker.

[2016-11-19 19:27] madhusudancs commented on #34130
Not a v1.5 release blocker.

[2016-11-19 19:29] madhusudancs commented on #36665
This is a release blocker in the sense that we can't ship Federated DaemonSets without this. It is not a release blocker in the sense that we can ship v1.5 without Federated DaemonSets. So leaving the v1.5 milestone as is and adding a `release-blocker` label for further discussion.

[2016-11-19 19:30] madhusudancs commented on #35078
Not a release blocker for v1.5.

[2016-11-19 19:32] madhusudancs commented on #36194
This is a release blocker. The main PR that implemented this feature/fix was merged last night (PR #36775). The PR also has good test coverage. I will let @bowei to close this.

[2016-11-19 19:34] madhusudancs commented on #36088
There are many issues tracking this same problem, nevertheless it is a release blocker.

[2016-11-19 19:52] scottmf opened #37150 "kube-up for vsphere nat postrouting rules issue"
I posted this on stackoverflow -> http://stackoverflow.com/questions/40569659/kubernetes-default-gateway-not-routing-to-local-network - I go into detail on what the issue is.

To sum it up the nat postrouting rules don't transform any traffic on a 10.x.x.x network.  Unfortunately for me that affects my network.

Eventually I was able to find the issue (see my answer on the post).

[2016-11-19 19:56] soltysh commented on #34261
Sorry for the timing, I'm a bit behind with my backlog. The proposal seems reasonable, thought the first and most important question Eric stated at the beginning is use-case justifying the need for such controller. I don't have access to the federate ReplicaSet doc, so I can't compare with the other. I'd like to learn more about it, though :)

[2016-11-19 19:58] justinsb opened #37151 "Optimize DB usage"
With the etcd3 upgrade procedure remaining hard for the immediate future, we should optimize our usage of the database.  Even once we upgrade to etcd3, this work will serve us well.  The watch traffic that is generated produces unnecessary load on etcd, but also apiserver and kube-proxy etc.

I believe the following are the low hanging fruit:

* Leader election pings the endpoints #34627, which ar

[2016-11-19 19:59] soltysh commented on #36859
Then there's the approach implemented in Jobs, where we have auto-generated selectors, which can still be combined with user created ones. That with controller ref, should make the pods distinguishable enough.

[2016-11-19 20:00] #36194 closed

[2016-11-19 20:06] k8s-merge-robot opened #37152 "ci-kubernetes-e2e-gci-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-staging/1/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and PodAntiAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Failed: DiffResources {e2e.go}

[code]
Issues about this test specifically: #333

[2016-11-19 20:06] k8s-merge-robot opened #37153 "ci-kubernetes-e2e-gke-large-cluster: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-large-cluster/-1/

Run so broken it didn't make JUnit output!

[2016-11-19 20:06] k8s-merge-robot opened #37154 "ci-kubernetes-soak-gci-gce-deploy: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-deploy/-1/

Run so broken it didn't make JUnit output!

[2016-11-19 20:06] k8s-merge-robot opened #37155 "ci-kubernetes-soak-gci-gce-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gci-gce-test/-1/

Run so broken it didn't make JUnit output!

[2016-11-19 20:06] k8s-merge-robot opened #37156 "kubernetes-e2e-gce-enormous-deploy: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-deploy/-1/

Run so broken it didn't make JUnit output!

[2016-11-19 20:06] k8s-merge-robot opened #37157 "kubernetes-e2e-gce-enormous-teardown: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-teardown/-1/

Run so broken it didn't make JUnit output!

[2016-11-19 20:07] k8s-merge-robot opened #37158 "[k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-smoke/71/

Failed: [k8s.io] Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26164 #26210 #33998

[2016-11-19 20:07] k8s-merge-robot opened #37159 "ci-kubernetes-e2e-gci-gke-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/36/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all outbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33703 #36230

Failed: [k8s.io] Reboot [Disruptive] [Feature

[2016-11-19 20:07] k8s-merge-robot opened #37160 "ci-kubernetes-e2e-gci-gke-reboot-release-1.4: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot-release-1.4/36/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33405

Failed: [k8s.io] Reboot [Disruptive] [Fea

[2016-11-19 20:07] k8s-merge-robot opened #37161 "ci-kubernetes-e2e-gci-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/6/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that Inter-pod-Affinity is respected if not matching {Kubernetes e2e suite}

[code]
Issues about this test specifically: #31918

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if

[2016-11-19 20:07] k8s-merge-robot opened #37162 "ci-kubernetes-e2e-gke-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/50/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that InterPodAntiAffinity is respected if matching 2 {Kubernetes e2e suite}

[code]
Issues about this test specifically: #30078 #30142

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAf

[2016-11-19 20:07] k8s-merge-robot opened #37163 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-test/2/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]

Previous issues for this test: #30317 #31591

[2016-11-19 20:08] soltysh commented on #36311
@peay sorry for the long delay in response, there were a few issues solved in later versions of ScheduledJob, can you verify this against latest 1.4.x? I've tried cherry-picking all of the crucial ones, like: https://github.com/kubernetes/kubernetes/pull/30451 and https://github.com/kubernetes/kubernetes/pull/35420 I'll try to verify this on my own as well.

[2016-11-19 20:43] #34585 closed

[2016-11-19 20:55] k8s-merge-robot opened #37165 "ci-kubernetes-e2e-gci-gke-multizone: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-multizone/111/

Multiple broken tests:

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26175 #26846 #27334 #28293 #29149 #31884 #33672 #34774

Failed: [k8s.io] DNS s

[2016-11-19 20:59] davidopp commented on #34776
PDB was envisioned to constrain disruptions caused by cluster-level agents like node upgrade, rescheduler, cluster auto-scale-down, etc. Disruptions from other causes are reflected in its computation of how many pods are up/down, but disruptions from other causes are not themselves limited by PDB.

We should consider how/whether to integrate Deployment's rolling update maxUnavailable with PDB maxU

[2016-11-19 21:08] soltysh opened #37166 "Remove everything that is not new from batch/v2alpha1"
Mentioned [in this comment](https://github.com/kubernetes/kubernetes/pull/36673#issuecomment-261375309), the general takeaway is we should get rid of all objects that are not new in `batch/v2alpha1`. That leave us only with CronJobs being part of that API GroupVersion.

[2016-11-19 21:10] soltysh commented on #35999
@pwittrock not sure what you're talking about

[2016-11-19 21:16] foxish commented on #34776
Someone who created the deployment should have better knowledge of the disruption that they can tolerate for it, so, it does sound like that should supersede a PDB specified. If `.spec.strategy.rollingUpdate.maxUnavailable` is not specified, having rolling update respect the PDB makes sense. So perhaps we should have the PDB be used when any controller for pods is unable to specify how eviction sh

[2016-11-19 21:28] davidopp commented on #34776
The conservative approach would be to use whichever of the two settings is more restrictive. I guess we would get that today for free if we just have Deployment use /eviction subresource. My concern is just that the user experience could be confusing in the case where PDB is more restrictive -- they explicitly set maxUnavailable but then some other value is what is being enforced.

(There is one o

[2016-11-19 23:13] k8s-merge-robot opened #37168 "ci-kubernetes-e2e-gci-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/204/

Run so broken it didn't make JUnit output!

[2016-11-20 00:24] k8s-merge-robot opened #37170 "ci-kubernetes-e2e-gke-staging-parallel: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging-parallel/64/

Run so broken it didn't make JUnit output!

[2016-11-20 01:52] davidopp commented on #25320
Each pod in a DaemonSet is supposed to be tied to the node it is running on. There shouldn't be any need to migrate anything when the machine goes down. So it sounds like you are using DaemonSet in an unexpected way.

But anyway, what you and @aveshagarwal is indeed the plan; we will switch cordon/uncordon/drain to use taints, and then DaemonSet pods can decide for themselves whether they want to

[2016-11-20 02:07] davidopp commented on #25320
Actually I don't think we can use taints for kubectl drain, because we want to respect PodDisruptionBudget when doing the evictions for a drain, and eviction due to NoExecute taint presumably won't. I could imagine some scheme where the NoExecute taint could specify whether the eviction should respect PDB (go through pod /eviction subresource) or not, but this seems complicated. So I don't think e

[2016-11-20 02:43] davidopp commented on #32466
not

[2016-11-20 02:45] davidopp commented on #24321
This was implemented in #31033, closing.

[2016-11-20 02:45] #24321 closed

[2016-11-20 02:55] davidopp commented on #30272
@dshulyak I'm fine either way. I don't know exactly how big a feature needs to be to merit going into the features repo.

[2016-11-20 02:56] dims commented on #32466
thanks @davidopp

[2016-11-20 03:06] davidopp commented on #34363
It occurred to me that observedGeneration is vaguely related, if you think of each generation as a request/operation.

[2016-11-20 03:25] k8s-merge-robot opened #37172 "ci-kubernetes-e2e-gci-gke-alpha-features: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features/36/

Multiple broken tests:

Failed: [k8s.io] StatefulSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working CockroachDB cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #37051

Failed: [k

[2016-11-20 06:26] k8s-merge-robot opened #37173 "ci-kubernetes-e2e-gci-gke-prod-parallel: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/82/

Multiple broken tests:

Failed: [k8s.io] EmptyDir volumes should support (non-root,0666,tmpfs) [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34658

Failed: [k8s.io] EmptyDir wrapper volumes should becomes running {Kubernetes e2e suite}

[code]
Issues ab

[2016-11-20 07:55] mbohlool commented on #34641
@danwinship the +optional is not used for all fields with omitempty. I guess that is partly my fault as I didn't update documentation. I've found all missing ones and fixed them. Will send a PR to fix them in 1.5. Meanwhile I am also updating the documentation and will have a proposal to move forward (e.g. force +optional and +required on all fields or force +optional on fields with omitempty tag)

[2016-11-20 07:58] AdoHe commented on #32676
I took a look at this, the problem exist not only with kubeconfig flag, but all other flags. It happens when you use `kubectl --flag= [command]`, I think the root cause is associate array usage in `__handle_flag` function. @flah00 would you mind give a try with the latest kubectl binary?

[2016-11-20 07:58] uschtwill commented on #30751
@LordGaav: Have you tried [kubeadm](http://kubernetes.io/docs/getting-started-guides/kubeadm/) yet? This simplifies things A LOT!

[2016-11-20 10:37] k8s-merge-robot opened #37175 "[k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working zookeeper cluster [Feature:PetSet] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features-release-1.4/93/

Failed: [k8s.io] PetSet [Slow] [Feature:PetSet] [k8s.io] Deploy clustered applications [Slow] [Feature:PetSet] should creating a working zookeeper cluster [Feature:PetSet] {Kubernetes e2e suite}

[code]

[2016-11-20 13:57] jgeraerts commented on #36611
Can confirm kubelet doesn't crash anymore on 1.5.0-beta.1. However is it still normal i see the same mounts 4 times:

`azureuser@k8s-agent-EE097672-1:~$ mount
sysfs on /sys type sysfs (rw,nosuid,nodev,noexec,relatime)
proc on /proc type proc (rw,nosuid,nodev,noexec,relatime)
udev on /dev type devtmpfs (rw,nosuid,relatime,size=14385964k,nr_inodes=3596491,mode=755)
devpts on /dev/pts type devpts (rw

[2016-11-20 14:42] joshk0 commented on #7562
[GKE Local SSD Doc](https://cloud.google.com/container-engine/docs/local-ssd) -- Short version, when you provision a local SSD on a GKE node, you magically get a /mnt/disks/ssd0 formatted ext4 volume. The Kubernetes Node gets the annotation `cloud.google.com/gke-local-ssd=true`. Whether it is actually present on the machine or not is not something I am privy to, but I assume it is and it is very f

[2016-11-20 15:27] k8s-merge-robot opened #37176 "[k8s.io] DisruptionController should update PodDisruptionBudget status {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1705/

Failed: [k8s.io] DisruptionController should update PodDisruptionBudget status {Kubernetes e2e suite}

[code]

Previous issues for this test: #34119

[2016-11-20 15:44] mcapuccini commented on #31711
Hello! Is the HA support for kubeadm under development? Will it be in K8s 1.5?

[2016-11-20 16:36] k8s-merge-robot opened #37177 "[k8s.io] Job should fail a job {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/443/

Failed: [k8s.io] Job should fail a job {Kubernetes e2e suite}

[code]

Previous issues for this test: #28773 #29506 #30699 #32734 #34585

[2016-11-20 16:59] k8s-merge-robot opened #37178 "ci-kubernetes-e2e-gci-gke-release-1.4: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-release-1.4/164/

Run so broken it didn't make JUnit output!

[2016-11-20 17:07] john-delivuk commented on #37023
It was running as default. I haven't provisioned any additional service accounts.

[2016-11-20 17:25] adiri commented on #33798
Same here, I don't have any communication with the DNS service.

[code]

CentOS 7.

[2016-11-20 18:00] k8s-merge-robot opened #37179 "ci-kubernetes-e2e-gci-gce-reboot: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/200/

Multiple broken tests:

Failed: [k8s.io] Reboot [Disruptive] [Feature:Reboot] each node by switching off the network interface and ensure they function upon switch on {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33407 #33623

Failed: [k8s.io] Reboot [Disruptive] [Feature:

[2016-11-20 18:18] dims commented on #37149
@AndyMoore111 Is this a blocker for the 1.5 release please mark with label release-blocker (if not, please add non-release-blocker)

[2016-11-20 18:23] AndyMoore111 commented on #37149
@dims I believe so - @mbohlool can you confirm?

[2016-11-20 18:28] smarterclayton commented on #34363
This has already manifested in 20 or 30 places in Kubernetes with adhoc
support in each.  I don't think there is any disagreement that a general
API concept should exist for "has this intent been realized", but there is
a gap in terms of implementing it.

As Dan notes the pattern of "intent" and "intent realized" is imperfectly
manifest via spec and status.  In places we have confused this with sp

[2016-11-20 18:35] smarterclayton commented on #7562
I'm somewhat hesitant to name emptyDir more flexible (we have to deal
with security implications) but I do think your use case combines two
parts:

1. Gain access to faster storage - this is a "resource request" and
would need to be modeled this way (you request something special)
2. Have some persistence of data outside of pod lifetime.

The latter was proposed a while back - an emptyDir with a u

[2016-11-20 18:35] jzhoucliqr opened #37180 "e2e.go --up for GCE failed when try to create minion-template"
**Kubernetes version** (use `kubectl version`):

**Environment**:
- **Cloud provider or hardware configuration**:  GCE
- **OS** (e.g. from /etc/os-release):   MacOS
- **Kernel** (e.g. `uname -a`):
- **Install tools**:
- **Others**:

**What happened**:
When try to bring up a cluster on GCE for testing, go run hack/e2e.go -v --up failed at trying to create minion instance template with error message

[2016-11-20 18:42] luxas commented on #31711
HA for everyone is an extremely complicated task given Kubernetes' current architecture without having a cloud provider, central loadbalancer or something like that you can rely on, but eventually we'd like to have HA support for kubeadm, yes.

See the v1.6 objectives which includes steps to get closer to bare-metal HA: https://docs.google.com/document/d/1v4k7eN-eetHbbpTAG7WuioRAMsK_FVGi1yC3VIn4In

[2016-11-20 18:43] ranhsd opened #37181 "Question about secrets and how to consume them in pods"
Hi,
I am using GCP Container Engine in my project and now i am facing some issue that i don't know if it can be solved via secrets.

One of my deployments is node-js app server, there i use some npm modules which require my GCP service account key (.json file) as an input.
The input is the path where this json file is located. Currently i managed to make it work by providing this file as part of m

[2016-11-20 18:50] k8s-merge-robot opened #37182 "ci-kubernetes-e2e-gke-staging: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-staging/7/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON NodeAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]
Issues about this test specifically: #29816 #30018 #33974

Failed: [k8s.io] SchedulerPredicates [Serial]

[2016-11-20 18:51] metal3d opened #37183 "sysfs not mounted, but it's mounted"
On kubernetes 1.4.6 taken from releases. Using CentOS 7.2

Kubernetes worked with a 1.2 version. I just uninstalled and redo installation with 1.4.6.

[code]

**SELinux is disabled**

[code]

Everyhting seems to works (controller-manager, kubelet, and so on...) excepting kube-proxy that returns an error: "sysfs not mounted".

API is responding (internally and externally), and I can see nodes

[cod

[2016-11-20 19:09] metal3d commented on #37183
Note: I can now confirm that the problem comes from the "label".
I did this:

[code]

Then kube-proxy successfully started.

[2016-11-20 19:30] k8s-merge-robot opened #37184 "ci-kubernetes-e2e-gci-gke: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke/67/

Run so broken it didn't make JUnit output!

[2016-11-20 20:06] bowei commented on #34571
I pushed a new image last night, let see if has any effect

[2016-11-20 20:14] joshk0 commented on #7562
One thing that is important that I forgot about in my previous post is that the hostPath workaround has an important caveat. If the Pod should be deleted, its storage is not automatically reclaimed by the Node. The responsibility would be on the Pod to clean up after itself (unlikely in bad scenarios) or having some externalized process on the Node or a kubelet pod which reaps old temp files.

In

[2016-11-20 20:36] davidopp commented on #36733
describe is so verbose as to be useless when looking at multiple nodes. `-o wide` would be fine.

I was thinking of just conditions that block scheduling for all pods and are expected to be respected by all schedulers. But now that I think about it, probably the better thing to do is to wait until we have converted the node conditions that block scheduling into taints, and then just show taints in

[2016-11-20 20:43] davidopp commented on #9044
Yeah I guess this issue is too vague to be useful at this point, we can close it.

[2016-11-20 20:43] #9044 closed

[2016-11-20 20:49] dims commented on #33405
Note that the https://github.com/kubernetes/kubernetes/issues/36230 ("outbound packets") if flaky as well.

[2016-11-20 20:50] dims commented on #36230
See the other PR which is marked release-blocker as well https://github.com/kubernetes/kubernetes/issues/33405 ("inbound packets")

[2016-11-20 21:01] k8s-merge-robot opened #37185 "ci-kubernetes-e2e-gci-gke-pre-release: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-pre-release/6/

Multiple broken tests:

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should function for pod-Service: udp {Kubernetes e2e suite}

[code]
Issues about this test specifically: #34317

Failed: [k8s.io] Networking [k8s.io] Granular Checks: Services [Slow] should update no

[2016-11-20 21:05] dims commented on #37121
@mikedanese looks like referenced PR is merged. ok to close?

[2016-11-20 21:11] gmarek commented on #33380
@dchen1107 - it seems that my fix for image-puller worked, but other problems persist.

[2016-11-20 21:30] nikhiljindal commented on #36665
I had fixed this in https://github.com/kubernetes/kubernetes/pull/36630. Daemonset tests should now be running. I cant verify right now because of https://github.com/kubernetes/test-infra/pull/1129.
Will close this once that is merged and we have had a successful run: https://k8s-testgrid.appspot.com/google-federation

[2016-11-20 22:10] broady commented on #35536
This page also needs updating:
http://kubernetes.io/docs/user-guide/ui/#dashboard-access

[2016-11-20 23:40] mikedanese commented on #37121
No this is not complete.

[2016-11-20 23:49] davidopp commented on #31362
Eviction for overloaded CPU would probably be good

[2016-11-21 00:00] danielwhatmuff commented on #26703
I have the same behaviour - how can I enable the CHANGE-CAUSE to be recorded?

[2016-11-21 01:00] thockin commented on #37107
What is the proposed config change?  The assumption that every output line
is a distinct log record is broken, but I an SURE that affects many pieces
of many systems...

On Sat, Nov 19, 2016 at 8:27 AM, Davanum Srinivas <notifications@github.com>
wrote:

[2016-11-21 01:17] tsvenkat commented on #34101
@tedstirm
In my case, my apiserver's advertise-address was correct, but I still had the crashloop issue with the weave pods. Adding "--proxy-mode=userspace" using @errordeveloper 's neat jq trick solved the issue for me.

@errordeveloper
Though the issue is solved, I don't have a good understanding of why it solved. I looked at the kube-proxy documentation(http://kubernetes.io/docs/admin/kube-prox

[2016-11-21 01:50] k8s-merge-robot opened #37187 "[k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/59/

Failed: [k8s.io] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27115 #28070 #30747 #31341 #35513

[2016-11-21 02:33] jianzhangbjz commented on #22024
Sure, certainly.

[2016-11-21 03:09] peay commented on #36311
I am still getting the same issue with `Server Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.6+coreos.0", GitCommit:"ec2b52fabadf824a42b66b6729fe4cff2c62af8c", GitTreeState:"clean", BuildDate:"2016-11-14T19:42:00Z", GoVersion:"go1.6.3", Compiler:"gc", Platform:"linux/amd64"}`

[2016-11-21 04:53] thockin commented on #31364
A few thoughts.

1) Renaming Ingress at this point would be very impactful on many people for very little benefit.  For that reason alone, I think we should not do this.  we have talked about and rejected alias-names for resources, but I forget why.

2) Yeah, internal ingress is a little weird, but not terribly so.  Better than "router" imo :)

3) re; Services vs Selectors - NB that we're not 100%

[2016-11-21 04:57] brendandburns commented on #35744
Reassigning to Warsaw AutoScaling folks.

[2016-11-21 04:57] whitlockjc commented on #31364
Seems fair.  After talking with @bprashanth, the rename didn't carry as much weight so I'm cool not doing that.  Extending the `IngressResource`  to allow label selectors still seems useful, and is rather light on the risk meter so I leave it up to you.  If you scrap that too, I'll figure it out.  Either way, thanks for taking the time.

[2016-11-21 05:38] thockin commented on #31983
It's not clear to me why there would be a conntrack rule for your service port before we add any rules?

[2016-11-21 05:54] #11684 closed

[2016-11-21 06:00] thockin commented on #23474
DNS forwarding is end-to-end tested, so it is not systematically broken.  KubeDNS forwards to whatevcer is in your host's /etc/resolv.conf - is that configured properly?

@bowei

[2016-11-21 06:02] thockin commented on #36744
Please take support questions like this to StackOverflow where they can be found by more users.  In this case, I ssuspect you have not set up pod-to-pod networking properly.  Make sure all pods have unique IPs and that they can reach each other on those IPs across machines.

[2016-11-21 06:02] #36744 closed

[2016-11-21 06:12] njuicsgz commented on #13892
+1 to enabling PROXY protocol on the ELBs.

[2016-11-21 06:19] mootezbessifi commented on #36744
@thockin this is what was the problem
https://bugzilla.redhat.com/show_bug.cgi?id=1342940
any clean fix ??

[2016-11-21 06:26] brendandburns commented on #36222
Hrm, this seems to me like the right answer is to special case 'kubectl edit' for configmaps, rather than try to hack around with the YAML decoder.

I suppose we could use block quotes (e.g. `|`) if we see newlines but that seems error prone...

[2016-11-21 06:39] resouer commented on #36731
ping @mikedanese any idea to solve/workaround this problem?

[2016-11-21 06:48] brendandburns opened #37191 "Github 'Required' and submit-queue.k8s.io 'required' are out of sync"
There are tests (e,g. gce-etcd3) which are required by submit-queue, but not marked as such on Github.

This causes confusion and should be eliminated.

@fejta @kubernetes/test-infra-maintainers

[2016-11-21 07:02] roberthbailey commented on #6545
Hi @tonglil - sorry for the slow response, I've been out of the office this past week.

You'd need to add the cloud platform scope to your VM for it to have permissions to access the GKE API (or a service account with the clusters.read IAM permission). Alternatively, you could fetch the `kube-env` metadata entry and grep for `CLUSTER_IP_RANGE` to find the CIDR (although this isn't a stable API and

[2016-11-21 07:23] rhuss commented on #34702
For v1.5.0-beta.1 I get the following stacktrace when running hyperkube on arm:

[code]

[2016-11-21 07:25] rhuss commented on #34702
the kubelet works btw.

[2016-11-21 07:34] wojtek-t commented on #37040
@smarterclayton @lavalamp - serviceips are stored in etcd __with__ etcd prefix - see e.g. logs from etcd that I paster above:
[code]

That said, different tests should not compete at the etcd level. I also had that hypothesis at some point, but it doesn't seem to be true. I think it's something different...

[2016-11-21 07:39] wojtek-t commented on #34911
@mtaufen - maybe we should try...

[2016-11-21 07:47] davidopp commented on #35166
As @bgrant0607 alludes to, the downside of using a taint instead is that then users would have to  add tolerations to use these nodes (either manually or using some kind of defaulter/admission controller that they create or add rules to). It would be bad to default to adding taints for spot/preemptible nodes because then a user who isn't aware of this behavior might spin up a cluster and find none

[2016-11-21 07:49] gmarek commented on #37187
Caused by the problem is services test: https://github.com/kubernetes/kubernetes/issues/37161#issuecomment-261855032

[2016-11-21 07:49] #37187 closed

[2016-11-21 07:50] gmarek commented on #37191
+100

[2016-11-21 07:51] gmarek commented on #33380
It seems I was too quick, but at least it's a failure caused by the fact that it's running, not failed...

[2016-11-21 08:06] brancz commented on #36544
Agreed @fabxc. Some metrics regarding Deployments, ReplicaSets, etc. could also move closer to its origin. (`kube-controller-manager`) I think almost all metrics that are part of `kube-state-metrics` today can move into kubernetes/kubernetes, we just need to figure out the best place for them to live, which is typically the origin of the information.

[2016-11-21 08:15] Random-Liu commented on #37183
[Kubeproxy checks whether sysfs is writable](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/conntrack.go#L89-L115) before setting `/sys/module/nf_conntrack/parameters/hashsize`. This logic was introduced in v1.3 by https://github.com/kubernetes/kubernetes/pull/28697 to work around a known docker issue https://github.com/docker/docker/issues/24000. That's why "1.2.6 version

[2016-11-21 08:23] metal3d commented on #37183
I installed kubernetes on a "scaleway" (a very nice cloud provider) VPS cluster. Their VPS uses a init file that mounts fs like that. I opened an issue on their github. But anyway you may mount "none" for tmpfs or any ramfs, sysfs, bugfs.

What I think is that the mount listing function that is used in kube-proxy code tries to list the mount "source" but not the "type".
For that kind of mountpoint

[2016-11-21 08:24] soltysh commented on #36601
Yup, I don't see any problems with CJ creating any type of resources available in the cluster.

First I'd like to address the most important issues, so that we could graduate CJ to beta (maybe in 1.6) and then while in beta add features as this, @erictune agreed?

[2016-11-21 08:28] fabxc commented on #36544
All previous concerns around load that would generate and authentication still hold.
But in the pod info from kubelets case, they are addressed anyway if we want to have an API exposing all the information there.

[2016-11-21 08:40] Random-Liu opened #37194 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/19

The test failed with the reason:
[code]

When check the test log, I found that before restart there are actually 32 pods:
[code]
However, after restart, there are only 29 pods:
[code]

2 kube-dns pods went away after the node restart. This seems related to the new kube-dns autoscaler. I haven't di

[2016-11-21 09:04] bizhao commented on #27673
Hit this error when running end2end locally.
Is there anyone looking into this?

[2016-11-21 09:11] Crassirostris commented on #37107
The proposed change is to add `kube-proxy.log` with the possibility of having multiple line records, in the exactly same way kubelet and api-server's logs are working.

[2016-11-21 09:13] Zjianglin opened #37199 "kubdeadm v1.5: Can not access service by curl <ClusterIP>:<Port>, curl hang or "Connection refused""
###

This is a request for help.
searched keywords: can not access service, clusterIP
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
`Client Version: version.Info{Major:"1", Minor:"4", GitVersion:"v1.4.4", GitCommit:"3b417cc4ccd1b8f38ff9ec96bb50a81ca0ea9d56", GitTreeState:"clean", BuildDate:"2016-10-21T02:48:38Z", GoVersi

[2016-11-21 09:19] soltysh commented on #35508
@sachincab are you ok with closing this issue in that case?

[2016-11-21 09:23] kargakis commented on #36859
@bgrant0607 argued somewhere that the autogenerated selector is more appropriate for Jobs than for long-running controllers (users will care more about labels on the latter vs the former) and I agree with that statement.

[2016-11-21 09:25] Draiken commented on #26703
I should not here that this issue has been resolved for me for some time now.
Change-cause is set to whatever command was used to introduce the change as it should.

[2016-11-21 09:26] sttts commented on #27673
Might be fixed with https://github.com/kubernetes/kubernetes/pull/37103

[2016-11-21 09:30] kargakis commented on #34776
Exactly, we can't use PDB with Deployments unless we move minReadySeconds in pods (I hope to get at this soon-ish).

[2016-11-21 09:37] gyliu513 opened #37201 "Failed to start kubelet due to `cAdvisor is unsupported in this build` in MAC OS"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-11-21 09:40] gyliu513 commented on #37201
I saw that this was fixed in https://github.com/kubernetes/kubernetes/issues/8424 , why happen again in master branch again? @dalanlan

[2016-11-21 09:41] Random-Liu opened #37202 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
The restart test is broke by https://github.com/kubernetes/kubernetes/pull/37070.

[code]

The original issue is https://github.com/kubernetes/kubernetes/issues/34003. The reason is https://github.com/kubernetes/kubernetes/issues/34003#issuecomment-251491143:

We fixed this by filtering out `RestartNever` mirror pod in the test. However https://github.com/kubernetes/kubernetes/pull/37070 changed `

[2016-11-21 09:48] gmarek commented on #37202
Yeah... I see there's a number of problems here. I looked at the history of the image puller config and it looked to me that it was 'Never' from the beginning...

Thanks for the fix though.

[2016-11-21 09:48] Random-Liu commented on #37201
@gyliu513

I believe cadvisor and kubelet only supports linux now.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_unsupported.go

[2016-11-21 09:50] jszczepkowski commented on #19144
Fixed by #33593.

[2016-11-21 09:50] #19144 closed

[2016-11-21 09:55] gyliu513 commented on #37201
So it is not recommended to run kubernetes on macos? and I must run this on linux, right?

[2016-11-21 09:55] soltysh commented on #24533
From the name `busybox-xxxx` it looks like your command did not create a pod but rather a ReplicationController or a Deployment, otherwise the pod name would be just busybox. Looking further at your command you're missing `--` before generator flag:
[code]
Now, when executing it pay attention what the generator says it created, if it says replication controller/set or a deployment you need to dele

[2016-11-21 09:57] k8s-merge-robot opened #37204 "ci-kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-test-go/263/

Run so broken it didn't make JUnit output!

[2016-11-21 09:59] Crassirostris commented on #37030
@xcompass Could you please try to use crassirostris/elasticsearch:v2.4.1 to see if it's fixed? Because I cannot reproduce it :)

[2016-11-21 10:09] ndtreviv opened #37205 "kubeadm init with aws cloud provider hangs on creating test deployment"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubern

[2016-11-21 10:10] jszczepkowski commented on #34679
WRT https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/2525/

This is a completely different issue than 2411. Build fails with the following error:
[code]

[2016-11-21 10:18] jszczepkowski commented on #32512
WRT https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/11631/

There was a problem w/removing namespace. This is a duplicate of #37184 and is not related to HPA.

[2016-11-21 10:19] resouer commented on #37201
@gyliu513  You are right, otherwise you will have a lot trouble :) I will close this issue since it's not a bug.

[2016-11-21 10:19] #37201 closed

[2016-11-21 10:21] kargakis opened #37207 "Handle test owners better than currently"
Test owners are assigned by the bot using a csv that is manually updated with a python script. Some problems I have identified:

1. Nothing requires the script to run when new tests are added or old tests are removed from the repo.
2. ~~I see verification failures in irrelevant (to test changes eg. https://github.com/kubernetes/kubernetes/pull/37091 + https://storage.googleapis.com/kubernetes-jenk

[2016-11-21 10:23] rkamudhan commented on #30681
I think @hanikesn solution is the only possible solution to make cni work with Kubernetes v1.3.6

[2016-11-21 10:28] resouer commented on #37199
Thanks for report. Why are you trying to curl `10.106.156.167` while I can see your clusterIP is actually `10.96.234.18`?

I believe your kube-proxy is working. Since you can already visit Service by `NodePort ` mode.

[2016-11-21 10:34] dinkarthakur commented on #32480
Hi

I did like @sporokh said below is my  dns-addon.yml file

`apiVersion: v1
kind: Service
metadata:
  name: kube-dns
  namespace: kube-system
  labels:
    k8s-app: kube-dns
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "KubeDNS"
spec:
  selector:
    k8s-app: kube-dns
  clusterIP: 10.3.0.10
  ports:
  - name: dns
    port: 53
    protocol: UDP
  - name: dns-tcp
    port: 53

[2016-11-21 10:40] resouer commented on #37181
Hi @ranhsd ,  you can use `kubectl create secret generic my-secret --from-file=path/to/bar`

Please check for more details: http://kubernetes.io/docs/user-guide/kubectl/kubectl_create_secret_generic/

[2016-11-21 10:43] fgrzadkowski commented on #28986
"we" = "HPA controller"

What I'm trying to say is that in this particular example just adding support for scaling based on memory wouldn't work. We would either need vertical pod autoscaler or change the app to reclaim memory.

[2016-11-21 10:51] nasry commented on #11924
Hello guys,
I am installing kubernetes (master + 3 nodes) and I have kube-dns problem, the `nslookup kubernetes` works only in containers  that are installed on the same node in which kube-dns is installed, in the other nodes I get `** server can't find kubernetes: NXDOMAIN`
ps : I can ping nodes from each others

[2016-11-21 10:53] gyliu513 commented on #37201
Good to know, thanks @resouer

[2016-11-21 10:55] slaskawi commented on #28986
Yes, reclaiming memory from JVM is very tricky.

Perhaps using HPA here is not the best approach here and I should look into [Custom Metrics](https://github.com/kubernetes/kubernetes/blob/release-1.5/docs/proposals/resource-metrics-api.md#custom-metrics-in-hpa)? Since an app (a Data Grid in my case) can estimate the data size and observe how much it dropped after adding additional node, scaling ba

[2016-11-21 10:55] darktall commented on #37004
guys i have reset  every service including kubernetes services etc. After resetting the whole cluster the load average comes to normal  but still observed timeout issues in kubelet.

below is my kubelet.service configuration

[Service]
ExecStartPre=/usr/bin/mkdir -p /etc/kubernetes/manifests
Environment="RKT_OPTS=--volume resolv,kind=host,source=/etc/resolv.conf --mount volume=resolv,target=/etc/r

[2016-11-21 11:07] fgrzadkowski commented on #10782
@davidopp I didn't suggest creating new deployment. I only suggested to change requirements via existing deployment.

@erictune I think those are great questions! I don't have concrete answers - it should be covered in a proposal/design doc. However I recall a conversation with @bgrant0607  some time ago, that Deployment could potentially have multiple rollouts in-flight on different vertices. Wit

[2016-11-21 11:27] nasry commented on #30210
@Ladicle  I have the same problem as you
can you explain more the configurations you have made to solve this problem ?
thanks

[2016-11-21 11:32] bogdando commented on #28138
This looks like a hack to make kubelet mimic apiserver, which is wrong from the design of microservices pov - components to do only their tasks and do it well, being kept designed in minimalist fashion. Therefore, I would vote against the proposal.

[2016-11-21 11:37] sachincab commented on #35508
@soltysh yeah sure, I am ok to close this issue.

[2016-11-21 11:58] hectorj2f commented on #22770
We also have a similar problem. We defined a specific hostname (not resolvable) to get a customized node name. We also specify the node-ip to a resolvable IP address in the kubelet parameters. So we expected the master api to use that `node-ip` instead of the hostname or node name.

Surprisingly for us, kubernetes master uses the hostname to communicate with the kubelet instead of the node ip. So

[2016-11-21 12:29] wojtek-t commented on #33472
@dims @cjcullen - since the PR fixing it was moved to 1.6, should we remove release-blocker from it?

[2016-11-21 12:33] wojtek-t commented on #28569
@bprashanth - regarding https://github.com/kubernetes/kubernetes/issues/28569#issuecomment-261385150 comment

Debugging #28569 (comment), it looks like we somhow ended up with 2 services with the same nodeport.

This may be related to https://github.com/kubernetes/kubernetes/issues/37040 - in this we are observing 2 services with the same clusterIP. My hypothesis is that this is related to the rep

[2016-11-21 12:37] gladiatr72 opened #37210 "loadBalancerSourceRange immutability"
**Note**

Greetings @freehan, et. al:

ba45a3f7 explicitly sets the immutability of the field in question with a `TODO` marker indicating (perhaps) a rethinking of this restriction as of 9/22/16; however, the only bits committed since then make the clamp more explicit.

That being said, I was wondering if you might take a moment to shed some light on the origins of this clamp.  Are there missing p

[2016-11-21 12:37] PiotrProkop opened #37211 "Logs of init-containers are not accessible via kubectl."
**BUG REPORT**:

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**:
```Bare-metal```
- **OS**:
[code]
- **Kernel** (e.g. `uname -a`):
```4.7.3-coreos-r2```

**What happened**:

Logs of init-containers are not accessible via ```kubectl```.

**What you expected to happen**:

I expect to print logs of init-containers by using:
```

[2016-11-21 12:38] PiotrProkop commented on #37211
@pskrzyns

[2016-11-21 12:40] dims commented on #33472
yes thanks @wojtek-t doing it now

[2016-11-21 13:01] wojtek-t commented on #28569
In fact, the race may be the one that I described in https://github.com/kubernetes/kubernetes/issues/37040#issuecomment-261546769 :
[code]

[you need to replace serviceIP with portIP in the above, but then it remains true...]

[2016-11-21 13:03] #35508 closed

[2016-11-21 13:05] wojtek-t commented on #28569
[Obviously there can also be a different race too, but that's just one my hypothesis]

[2016-11-21 13:11] jeremyeder commented on #28312
@erikstmartin No, there needs to be a discussion (project-wide) about what sophisticated resource management looks like in Kubernetes.  Issues like this one have become a forcing-factor to do that design and planning.

[2016-11-21 13:14] soltysh commented on #36311
@peay thanks for the info, will dig deeper into this one.

[2016-11-21 13:22] soltysh commented on #36859
That make sense, thx for bringing that up.

[2016-11-21 13:32] metal3d commented on #37183
@Random-Liu the problem is here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app/conntrack.go#L101

You should check .Type and not .Device. "Device" is what I named "label" or "source" because I didn't remember the name ;)

Sysfs can mount a "none" device as type "sysfs", so maybe you can change.
See: https://sourcegraph.com/github.com/kubernetes/kubernetes@master/-/blob/pk

[2016-11-21 13:35] metal3d commented on #37183
I'll do a PR

[2016-11-21 13:40] k8s-merge-robot opened #37213 "ci-kubernetes-e2e-gce-etcd3: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-etcd3/1638/

Run so broken it didn't make JUnit output!

[2016-11-21 13:40] danwinship commented on #34641
@mbohlool I was referring specifically to:

which I assumed meant I can't use +optional in NetworkPolicy until those bugs are fixed. Is that not the case? If I add +optional to the optional NetworkPolicy fields in kubernetes git master, do we expect codegen to work completely?

[2016-11-21 13:50] ncdc commented on #28695
I'm not sure if it's mentioned elsewhere, but when we switched from go-dockerclient to engine-api, we lost the ability to retrieve logs generated by the container prior to the time the attaching occurs. I added this functionality back to docker's api, but we'll need to bump the godep (and switch back from engine-api to docker, as the code was reintegrated into the main repo) and then add back supp

[2016-11-21 13:53] kramarz opened #37216 "Can't apply existing secret with new key with empty value."
**Is this a request for help?**: no

**What keywords did you search in Kubernetes issues before filing this one?**: empty secret

---

**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**Kubernetes version**:v1.4.3

**Environment**:
- **Cloud provider or hardware configuration**: minikube with virtualbox driver
- **OS** (e.g. from /etc/os-release): `Boot2Docker 1.11.1 (TCL 7.1); master : 9

[2016-11-21 13:57] pskrzyns commented on #37211
cc @kubernetes/sig-apps  @smarterclayton @euank

[2016-11-21 14:00] duglin commented on #28695
@ncdc when was that change made?

[2016-11-21 14:02] ncdc commented on #28695
@duglin we switched to engine-api back around kube 1.3 I think. This is the docker change we'll need: https://github.com/docker/docker/pull/26718.

[2016-11-21 14:06] plwhite opened #37218 "Multiple liveness checks (feature request)"
# Statement of issue

I have an application that listens on multiple ports, say 1234 and 4321. I would like to have a liveness check (and readiness check) that tests that the application is listening on both ports, and terminate it if it is not.

I know of a number of ways to do this.

- I can change the application code so that any failure leads to termination. Unfortunately, some of this applica

[2016-11-21 14:11] Ladicle commented on #30210
Hi @nasry.
My reason why can not resolve domain is because `docker0` was not in the subnet range of `flannel.1`. Therefore, it couldn't get out from container network to the internet.

[2016-11-21 14:15] dims commented on #28695
@ncdc, @duglin : i believe there's some chatter over engine-api -> docker over at https://github.com/kubernetes/kubernetes/issues/36011

[2016-11-21 14:18] chrislovecnm commented on #37211
Does this work:

kubectl logs pdoname -c init-container-name

[2016-11-21 14:18] kargakis commented on #31306
Owner references should fix this. Closing in favor of https://github.com/kubernetes/kubernetes/issues/33845 (in-flight fix: https://github.com/kubernetes/kubernetes/pull/35676).

[2016-11-21 14:18] #31306 closed

[2016-11-21 14:19] PiotrProkop commented on #37211
It works :+1: . Thanks.

[2016-11-21 14:19] #37211 closed

[2016-11-21 14:20] #36340 closed

[2016-11-21 14:21] kargakis commented on #18568
@smarterclayton mentioned somewhere else that ImagePull errors may be transient.

[2016-11-21 14:30] duglin commented on #35979
Just wondering, if you do the manual deletes in the same order as the yml file does it still work?

[2016-11-21 14:31] rootfs commented on #37056
add @rkouj

does gcp node have /sbin/mount.glusterfs?

[2016-11-21 14:33] rootfs commented on #36611
@jgeraerts this is interesting, i haven't seen multiple mounts so far, how did you get there? please open a new issue to track this.

[2016-11-21 14:40] jsafrane commented on #37056
@rootfs, in the logs I can see the client pod was running, i.e. kubelet was able to mount everything. On the other hand, in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-proto/411/ simple `cat index.html` was `Running` for 40 seconds and it did not return expected text.

[2016-11-21 14:46] Crassirostris commented on #37012
@piosz I think it can be closed

[2016-11-21 14:48] ranhsd commented on #37181
Hi @resouer , thank for your  answer. I am familiar with this command and i also execute it and created the secret my question is if i can consume it inside my nodejs pod. The requirement is to provide a path to this file. Do you know if it is possible?
Thanks!

[2016-11-21 14:48] #37012 closed

[2016-11-21 14:48] fgrzadkowski commented on #34772
@gmarek @wojtek-t

[2016-11-21 14:53] Crassirostris commented on #37012
@piosz Thanks!

[2016-11-21 14:57] bluecmd commented on #7433
@thockin If I want this for NodePort and ClusterIPs today, am I looking at complex surgery in the internals of kube-proxy or a flag flip to enable it?

Background:

Our setup right now is that we have all pods IPs routed and accessible from everywhere within our network (i.e. far outside of Kubernetes' area of control) via BGP. We're also exporting Cluster IPs ("A.B.C.D via pod-abcef") from the Se

[2016-11-21 15:02] kargakis commented on #29735
Tested [fnv](https://golang.org/pkg/hash/fnv/#New32a) with the unit test provided by @jsravn above and it didn't break for 10^3 up to 10^5 (10^6 was timing out the test and I didn't bother to test more).

[2016-11-21 15:12] mtaufen commented on #37191
Where on GitHub are these tests marked?

[2016-11-21 15:15] wojtek-t commented on #34772
@davidopp  - it seems that we are able to reproduce this problem in kubemark, where we don't have any mirror pods etc. So seems like a problem with scheduler...

[2016-11-21 15:47] nick19860328 commented on #34134
@waynebrantley wow, you guys are really cool.

[2016-11-21 15:52] #32306 closed

[2016-11-21 16:12] jsafrane commented on #37056
On related note, I am not able to run the test on GCE installed by `kube-up.sh`. Gluster server container needs Docker storage driver that supports extended attributes, not aufs (Debian default). devicemapper does not work in Docker binary there at all, it needs to be compiled with dynamic linking support.

It can be seen in Gluster server logs as :
[code]

@saad-ali, @jingxu97, how do you actuall

[2016-11-21 16:18] bprashanth commented on #37194
We should confirm that the autoscaler is responsive to nodes flapping. This is not a latency sensitive operation, but it needs to happen in bounded time. We should also develop a sense for how long it takes to notice new nodes, from when a new node is added to the cluster -> pods on the node start sending dns queries is ~2m (1m for node provisioning, 20s for kubelet hearbeat, 5-30s for new pods).

[2016-11-21 16:21] rootfs commented on #37056
@jsafrane yes, overlayfs has trouble to support glusterfs (need to get glusterfs-server container log for confirmation).

@wongma7 has a fix for nfs server container
https://github.com/kubernetes/kubernetes/pull/35469/files#diff-c83ebba11ffd12bd594ac8aa2f9301ffR375

[2016-11-21 16:28] #37128 closed

[2016-11-21 16:41] smarterclayton commented on #34641
No, you have to follow the same pattern authorization does for providing
the empty protobuf object, and then remote omitempty.

See authorization/v1beta1/types.go

// ExtraValue masks the value so protobuf can generate
// +protobuf.nullable=true
// +protobuf.options.(gogoproto.goproto_stringer)=false
type ExtraValue []string

func (t ExtraValue) String() string {
return fmt.Sprintf("%v", []string(

[2016-11-21 16:44] smarterclayton commented on #37040
So you're positive that multiple repair controllers aren't running at the
point where we see the flake?

On Mon, Nov 21, 2016 at 2:34 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-11-21 16:56] luxas commented on #34134
@sandys Yes, as long as you set the right cgroups manually

[2016-11-21 16:57] dhoer commented on #8800
I created a script https://github.com/dhoer/k8s-env-gen to make docker env files compatible with k8s.

[2016-11-21 17:25] drewr commented on #17657
I'm not sure if I'm having exactly this issue, but I definitely cannot pull images from our private registry.  I've set up image pull secrets.  GCE doesn't send any credentials with the request.  I've verified this in our actual logs.

Here is an authenticated request from the docker command line:

[code]

Here is the request from GCE.  It doesn't include a username.

[code]

Is this a bug, or am

[2016-11-21 17:27] ymqytw commented on #36962
This test is gone and not happening any more. I think we can close this issue.

[2016-11-21 17:27] MrHohn commented on #37194
This test is only run with 3 nodes. It is not possible for it to have 3 kube-dns pods.

Checked the log and found this "restart" test started right after the "DNS horizontal autoscaling" test. The problem is the latter test tuned the scaling parameter for testing, and in the end it recovered the original parameter but did not wait for the additional pods to be terminated.

Will send a PR to fix th

[2016-11-21 17:28] #36962 closed

[2016-11-21 17:28] apelisse commented on #36962
Thanks!

[2016-11-21 17:29] Random-Liu commented on #37194
@MrHohn Make sense to me. :)

[2016-11-21 17:30] mariano-dim commented on #36301
you have to delete the content of /etc/kubernetes and try again

[2016-11-21 17:34] thockin commented on #7433
@bprashanth added NodePort support for v1.5.  ClusterIP is more
complicated.  See, with NodePort and LBVIP, we can assume (or do assume)
that some frontend already made a choice of which node to target, so
staying node-local is legit.  With ClusterIP, traffic is mostly assumed to
be originating locally, so there WILL be clients on nodes that don't have
backends for the services they are requesting

[2016-11-21 17:40] dims commented on #37144
@bowei Looks  like these are exit codes from dig. 9 means "No reply from server" and 10 means "Internal error" according to https://linux.die.net/man/1/dig. Any idea how to reduce the flake?

[2016-11-21 17:51] piosz opened #37226 "Setup liveness probe for fluentd"
Fluentd tends to hang and not recover forever. Restarting it helps and no logs are being lost. We should add liveness probe which will cause restart of fluentd in case of such problem.

[2016-11-21 17:52] piosz commented on #37226
cc @Crassirostris @aleksandra-malinowska

[2016-11-21 17:52] bluecmd commented on #7433
@thockin I see - it makes sense. We're running the latest and greatest 1.5 so I guess we could use NodePort. It seems a bit less "clean" as there is another resource (the node port) mixed into the game, but for now that will work for us.

FWIW, for Cluster IPs we're doing /32 announces.

[2016-11-21 18:05] calebamiles commented on #37202
@Random-Liu @yujuhong, @gmarek  is this a release blocker for 1.5? Please update the issue ASAP, thanks!

**cc: @kubernetes/sig-node, @saad-ali, @dims**

[2016-11-21 18:09] flah00 commented on #32676
@AdoHe I downloaded 1.4.6, from releases, and it generated the same bash completion as the previous version. I also tried 1.5 beta, and found the same results. In fact, it didn't seem like the `__handle_flag` function changed between any of the releases...

Should I download kubectl from a location other than kubernetes/kubernetes/releases?

[2016-11-21 18:17] calebamiles commented on #37132
@erictune, @smarterclayton, @janetkuo, @enisoc @kow3ns we need an update as to whether this issue is a 1.5 release blocker. This seems like a non release blocker but I'd like someone to comment before I add the label. Please respond by end of day 21 November 2016 PST, thanks!

**cc: @saad-ali, @dims**

[2016-11-21 18:17] leslie-wang commented on #13748
Can anyone please tell me which release is going to include this feature?

[2016-11-21 18:19] bgrant0607 commented on #36859
The original discussion started in #2210.

We should document this (hint hint).

This is a tradeoff between ease of creation (1st operation) and ease of management (subsequent operations).

Labels are like names in most respects.

It is desirable for a collection of labels to be unique for a given set so that there is a way to unambiguously refer to that set, in management operations (e.g., `kubec

[2016-11-21 18:21] smarterclayton commented on #13748
This was in Kube 1.4.

On Mon, Nov 21, 2016 at 1:17 PM, leslie-wang <notifications@github.com>
wrote:

[2016-11-21 18:23] foxish commented on #37132
Not a release blocker.

[2016-11-21 18:23] wojtek-t commented on #37040
@smarterclayton - unless I'm not completely missing something, each test has a different "etcd-prefix" for its data. That means, that even there are multiple repair controllers (from different tests), they are touching different sets of data and are working on a different "serviceip" objects. If that wouldn't be the case, I'm pretty sure we would have more problems in multiple different tests.

[2016-11-21 18:24] calebamiles commented on #37056
@jingxu97, @rkouj, @rootfs, @jsafrane this issue *needs* to be updated as to whether this issue is a release blocker or not. Please update this issue by end of day 21 November 2016 PST, thank you.

**cc: @saad-ali, @dims, @kubernetes/sig-storage**

[2016-11-21 18:24] smarterclayton commented on #37040
I assume so, just want to be sure (since that's the obvious problem).

On Mon, Nov 21, 2016 at 1:24 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-11-21 18:29] bgrant0607 commented on #34401
cc @fabioy @devin-donnelly

[2016-11-21 18:32] wojtek-t commented on #37040
And looking into etcd logs, different tests indeed have different "etcd prefixes", so they shouldn't fight with each other.

[2016-11-21 18:32] liggitt commented on #25773
fyi, https://github.com/kubernetes/kubernetes/pull/36210 just updated scheduler to gate on all conditions

does that mean the node has to be aware of and responsible for setting initial state on all conditions? https://github.com/kubernetes/kubernetes/pull/36209 is wanting to set additional custom conditions at Node creation time

[2016-11-21 18:35] calebamiles commented on #37040
@wojtek-t, @smarterclayton, @lavalamp, @deads2k can we please get an update as to whether this is a 1.5 release blocker by end of day 21 November 2016, thanks!

**cc: @saad-ali, @dims**

[2016-11-21 18:40] jingxu97 commented on #37042
Checked the log and the container for gluster client failed to start. Will to investigate more and also monitor whether this happen again.

[2016-11-21 18:42] mtaufen commented on #37191
Ah, do you mean in the "checks" list that shows per-pr?

[2016-11-21 18:42] spxtr commented on #37191
I updated them. We don't really have any sort of process in place to set these automatically right now.

[2016-11-21 18:45] k8s-merge-robot opened #37229 "ci-kubernetes-e2e-gci-gke-autoscaling: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-autoscaling/54/

Multiple broken tests:

Failed: [k8s.io] Cluster size autoscaling [Slow] should scale up correct target pool [Feature:ClusterSizeAutoscalingScaleUp] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #33897

Failed: [k8s.io] Cluster size autoscaling [Slow] should correctly s

[2016-11-21 18:46] peterochodo commented on #36835
closing this issue.

When --proxy-mode=userspace, there is some off-cluster bridging happening. When --proxy-mode=iptables, there is no off-cluster bridging. To enable off-cluster bridging when --proxy-mode=iptables, also set --cluster-cidr.

[2016-11-21 18:46] #36835 closed

[2016-11-21 18:48] Random-Liu commented on #37183
SGTM.

[2016-11-21 18:49] liggitt commented on #29178
do we expect all node condition types and statuses to be pre-defined? how does that intersect with unknown/custom conditions (c.f. https://github.com/kubernetes/kubernetes/pull/36209, https://github.com/kubernetes/kubernetes/pull/36210)?

having the scheduler only pay attention to taints works if conditions can be converted to taints before persisting the node, but if that conversion is done exter

[2016-11-21 18:52] eparis commented on #37191
https://developer.github.com/v3/repos/branches/#update-required-status-checks-of-protected-branch

Seems like the bot 'could' automatically sync these lists.  The one quirk is that the CLA status is "required" by the bot. The bot requires either the CLA status or the "cla: human-approved" label...  So if we started automatically syncing the bot and the github branch protection we'd need to figure

[2016-11-21 18:52] thockin commented on #33894
Can we close this now?

[2016-11-21 18:57] #37149 closed

[2016-11-21 18:58] #37202 closed

[2016-11-21 19:01] calebamiles commented on #36895
Any updates on this issue @zmerlynn @spxtr? Should the label be update to release blocking?

**cc: @saad-ali, @dims, @kubernetes/sig-cluster-lifecycle**

[2016-11-21 19:02] ixdy commented on #37207
I believe we disabled the verification check for test owners (which required the script to be run when tests were added or removed) because there were too many merge conflicts on the test owners file.

In the log you linked, the test owners check didn't fail, but the `verify-federation-openapi-spec.sh` check did:

[code]

[2016-11-21 19:02] ixdy commented on #37207
cc @rmmh

[2016-11-21 19:03] dvohra commented on #34134
kubeadm init --skip-preflight-checks runs fine to create a single master node cluster.

But the command to join the cluster on another node does not.

`  sudo kubeadm join --skip-preflight-checks --token=124af8.3210db576caf25c5 10.0.0.191`

The` kubectl get nodes` does not list the nodes added.

kubeadm join generates the following output.
[code]

[2016-11-21 19:03] xiang90 commented on #37035
This is a dup with https://github.com/kubernetes/kubernetes/issues/37035. I am going to comment there.

[2016-11-21 19:05] mml commented on #37035
@xiang90 *this* is #37035

[2016-11-21 19:05] dchen1107 commented on #25773
re: https://github.com/kubernetes/kubernetes/issues/25773#issuecomment-262025672

For Core Conditions pre-defined in the API, I think the change made in #36210 should be fine for 1.5.  But obviously the user can update the node object with new condition, #36210 changed the semantics and behavior of the scheduler upon these logic. I think we should revert that pr avoid a regression.

Again, we shou

[2016-11-21 19:06] xiang90 commented on #37035
sorry i wanted to close #37131. but i think that one actually has more context. so how about closing this one and keep #37131?

[2016-11-21 19:07] jingxu97 commented on #37056
Over the last week, for Gluster test, there are total four failures, two of them caused by container fail to start. Other two failed because the return file content is empty.

Last month, we identified a docker issue that "docker exec" might return empty file content although file exists. Retry to read the file seems fix this problem. But checking the code here, LookForString() function already re

[2016-11-21 19:07] xiang90 commented on #37131
@wojtek-t @mml It is a dependency problem. We built rollback tool with etcd 3.0.x wal pkg (which is vendored by k8s), which generates wal files that cannot be opened by 2.3.7. Are we OK to ship a rollback binary which is built against 2.3.7 WAL pkg?

[2016-11-21 19:07] thockin commented on #7433
I am open to proposals of how to design this wrt clusterIPs, for cases such
as yours.

On Mon, Nov 21, 2016 at 9:53 AM, Christian Svensson <
notifications@github.com> wrote:

[2016-11-21 19:09] Random-Liu commented on #36821
Another occurrence https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-cri/112.

[2016-11-21 19:10] mml commented on #37131
@xiang90 I don't understand.  The `rollback` tool here is the thing that is crashing.  It is working using data that was generated by etcd 3.0.14 and it was also built against the 3.0.x tree.

#37035 is different.  That is etcd 2.3.7 crashing, and the explanation you give here makes sense for that bug.

[2016-11-21 19:11] xiang90 commented on #37131
@mml

As I said, the root cause is the same we use wrong WAL pkg. Either that WAL pkg fails or it generates bad output.

[2016-11-21 19:12] liggitt commented on #25773
That seems reasonable, though I'm wondering which component is responsible for setting taints on new Node objects (sort of the equivalent of "Unknown" state of custom conditions)? If we wanted new nodes to show up as unschedulable until some outside controller removed a taint, how do we ensure the taints are present as soon as the node is created to avoid the node being briefly schedulable?

[2016-11-21 19:12] mml commented on #37131
@xiang90 have you confirmed this by re-building the rollback tool against 2.3.7?  If not, I will build the binary to verify it fixes the problem.

[2016-11-21 19:15] xiang90 commented on #37131
@mml You can give it a try by pulling in 2.3.7 WAL pkg.

[2016-11-21 19:18] mikedanese commented on #36895
There are a lot of issues here rolled up into one, probably too many for one person to look into. @zmerlynn @justinsb for kops flakes. @madhusudancs for federation flakes. We proabably need someone to look into GCE/GKE flakes as well.

[2016-11-21 19:25] mwielgus opened #37232 "Kubernetes scheduler fails to schedule pods on nodes with enough resources."
A follow up of: https://github.com/kubernetes/kubernetes/issues/34772

I have a node with:
[code]

On the other hand
[code]

The pod should be able to schedule on the node but it fails for unknown reason.

Reseting the scheduler helps, another pod is scheduled on the node and the resource usage jumps from 2930 to 3480. So it seems that the bug is somewhere around caching or retries.

cc: @wojtek-t

[2016-11-21 19:26] wojtek-t commented on #37131
Sorry - I'm lost in this bug. Let me clarify few thing and we will see what I'm missing.

The experiment Matt did are:
- he started 2.2.1 cluster
- then he migrated to 2.3.7
- then to 3.0.14
- then to 3.0.14 with v3 api
- then he tried to rollback and this crashed
@mml - please correct me if I'm wrong.

So the rollback tool was run on the 3.0.14 data. So @xiang90 - why are you saying that rollback

[2016-11-21 19:30] dchen1107 commented on #35935
Based on node-e2e stats, it only failed once on gci node without clear signal related to gci-mounter. I am closing this issue for now.

[2016-11-21 19:30] #35935 closed

[2016-11-21 19:30] wojtek-t commented on #37232
@mwielgus - after thinking about it, I have one more idea to check - were there any pods that were finished (i.e. in a success or failure state)?

[I guess the problem is around caching, but not yet any idea what exactly.]

[2016-11-21 19:31] bowei commented on #37144
@dims -- taking a look

[2016-11-21 19:31] dvohra commented on #34134
Also Pods are not getting scheduled even after 5 minutes.

[code]

[2016-11-21 19:32] zmerlynn commented on #36895
Agree with @mikedanese. This bug is unactionable. We need an SLA for `Up` / `Down`, and then a bug opened when a particular run drops below that - this current form, for the deployment stages, is unactionable.

[2016-11-21 19:33] zmerlynn commented on #36895
(Translation: It's not a release block and I've been ignoring it.)

[2016-11-21 19:34] luxas commented on #34134
Well, the output of the script says that you should do
[code]
and most importantly
[code]

I guess kubelet isn't just running. The container can't start it for you, and when you skipped the preflight checks, kubeadm wasn't able to inform you that the service wasn't running

[2016-11-21 19:36] dims commented on #36895
@zmerlynn @mikedanese thanks for the confirmation

[2016-11-21 19:36] xiang90 commented on #37131
Rollback tools does two thing:

1. read out existing data
2. write out old data

The WAL pkg has to be able to read out existing data. So if you use a old WAL pkg, then panics can happen. If you use a new WAL pkg, then etcd can be confused. At somepoint in etcd3 release WAL can write/read both 2.3.7 and that version. Now it cannot. We need to ping the write out WAL to 2.3.7 WAL and read in WAL to

[2016-11-21 19:38] madhusudancs commented on #36895
On federation failures.

[2016-11-21 19:39] mwielgus commented on #37232
No, all pods are either pending or running.

[2016-11-21 19:40] dvohra commented on #34134
Those were started before kubeadm init could be run.

[code]

Also added the master ip as A record on external DNS  nosqlsearch.com

[2016-11-21 19:40] xiang90 commented on #37131
Basically one issue is about not able to read in WAL due to WAL version too low, one issue is about not able to read out the rollbacked data since WAL version is too high.

Once I use 2.3.7 WAL to write out data and 3.0.14 WAL to read in the data, both of the issues go away.

[2016-11-21 19:41] wojtek-t commented on #37131
OK - I think I roughly got the explanation. However I don't understand this:
[code]

Also - can you please clarify exactly what the rollback procedure is in that case?
1. We have 3.0.14 in v3 api data.
2. Then we run "rollback tool" (how should we build it)?
3. Then we would like to start 2.3.7 from the rollbacked data.

[2016-11-21 19:42] colemickens commented on #36611
I already have one: https://github.com/kubernetes/kubernetes/issues/30258

[2016-11-21 19:44] xiang90 commented on #37131
[code]

Then use wal237 to do all writes, and use whatever we vendor to do read. I am not sure how we should do this in k8s repo. Probably we can change pull in wal237 as:

[code]

[2016-11-21 19:46] bowei commented on #33302
/close

[2016-11-21 19:46] dchen1107 commented on #36708
It happen rare, and is related to node e2e test infrastructure. We are looking into it, but definitely non-blocker for 1.5 release.

[2016-11-21 19:50] medhedifour opened #37233 "How can I scale up of down replication controller with kubernetes api"
Can scale up or down rc from a pod using kubernetes api without updating the file source of the replication controller.

[2016-11-21 19:51] wojtek-t commented on #37131
@xiang90 - thanks.
@mml So it seems that we need to change this code:
https://github.com/kubernetes/kubernetes/blob/master/cluster/images/etcd/rollback/rollback.go

To what @xiang90 suggested (not yet sure how exactly to do it).

[2016-11-21 19:52] dvohra commented on #34134
The master being dedicated is not schedulable.

[2016-11-21 19:52] bowei commented on #37144
@ixdy can you assign to me

[2016-11-21 19:55] gmarek commented on #37232
It looks like we are missing some additions, for some reason.

[2016-11-21 19:58] xiang90 commented on #37131
@wojtek-t @mml

Also note that the data presented here [data-crash.tar.gz](https://github.com/kubernetes/kubernetes/files/601123/data-crash.tar.gz)  is problematic itself.

@mml mentioned it is generated by etcd 3.0.14, but I cannot use 3.0.14 etcd to open it. So it becomes bad even before sending to the rollback tool somehow. But I cannot reproduce it by upgrading etcd with the same workflow desc

[2016-11-21 19:59] dims commented on #36708
thanks @dchen1107 !

[2016-11-21 20:04] kargakis commented on #37207
@ixdy thanks, one point down.

[2016-11-21 20:11] nikhiljindal commented on #34060
I see this affects almost all areas. federation, autoscaling, etcd. Adding labels for all of them.
Is this a generic @kubernetes/test-infra-maintainers issue?

[2016-11-21 20:19] Brian-McM commented on #36589
@jingxu97 we're using kops to bring up our clusters and it doesn't allow us to specify master, as it looks for a release branch. I don't think I can test this out with our infrastructure until it's in one of the release branch in this case.

[2016-11-21 20:20] mml commented on #37131
@wojtek-t thanks for pushing the discussion along.  I can hack together a build on my workstation to verify that I can fix the problem.  If I can get the tool to work, then we can discuss how to pull the frozen 2.3.7 code into our repo.

[2016-11-21 20:21] Crassirostris commented on #37107
@piosz Forgot to fix in pr, please close

[2016-11-21 20:23] #33894 closed

[2016-11-21 20:34] dvohra commented on #34134
On new CoreOS nodes installed Master and additional nodes. All nodes get listed. The output of kubeadm join is:
[code]

[2016-11-21 20:35] bgrant0607 commented on #25773
@liggitt Re. how to apply taints

The obvious options are:
1. Initializers
2. New node policy resource
3. Kubelet

@davidopp, what mechanism do we plan to use to add custom node labels and custom compute resources?

[2016-11-21 20:38] bgrant0607 commented on #25773
Flag / config field for an admission controller as in #36209 could be another approach, but I'm not keen to hide that kind of policy in component configuration.

[2016-11-21 20:55] piosz commented on #37107
We also need to bump the version.

[2016-11-21 20:56] Crassirostris commented on #37107
Oh, yeah, thanks

[2016-11-21 20:57] bgrant0607 commented on #36897
See also comments here:
https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

Note that one pattern that's safe and doesn't require complex orchestration when one wants to introduce a new attribute is to modify selectors of existing workload controllers to select pods without the new label key, and then just add the key to new pod templates. This isn't possible with RCs, ho

[2016-11-21 20:57] dvohra commented on #34134
Cluster with a Master node gets created.
Additional nodes get joined.

But Pods do not get started.

[code]

[2016-11-21 20:57] foxish opened #37239 "Dynamic volume provisioning in examples: volume.(alpha|beta).kubernetes.io/storage-class"
The behavior has changed between the alpha and beta annotations (.kubernetes.io/storage-class), and using the beta annotation.
* Using the alpha annotation, a PV is provisioned irrespective of the "value" supplied.
* Using the beta annotation, a PV is not provisioned unless a StorageClass of that name exists on the server.

http://blog.kubernetes.io/2016/10/dynamic-provisioning-and-storage-in-kube

[2016-11-21 20:59] calebamiles commented on #37239
@foxish, I am assuming this is a non release blocker and if you could add a label signifying as such that would be greatly appreciated. Thanks!

**cc: @saad-ali, @dims**

[2016-11-21 21:02] dvohra commented on #34134
The one difference during the retest is that the external DNS was not set with `--api-external-dns-names`.
`kubeadm init --skip-preflight-checks`

[2016-11-21 21:05] ixdy commented on #37144
@bowei gladly. :)

[2016-11-21 21:05] medhedifour opened #37240 "can I scale up rc from a pod using kubernetes api without recreating the rc file"
can I scale up or down rc  from a pod using kubernetes api without recreating/updating the rc file.

[2016-11-21 21:08] ixdy commented on #34060
The `bootstrap-e2e` leaks are all probably due to the bootstrap test-infra migration. Not sure if expected or not. @fejta @krzyzacy

[2016-11-21 21:08] bgrant0607 commented on #12298
Some discussion of this here:
https://github.com/kubernetes/kubernetes/issues/36859#issuecomment-262022027

[2016-11-21 21:20] janosi commented on #28272
@vishh you can close the PR is you think so.

[2016-11-21 21:24] davidopp commented on #25773
Yes, I agree this is the plan.

#31647

[2016-11-21 21:28] bgrant0607 commented on #26967
cc @pmorie

[2016-11-21 21:29] bgrant0607 commented on #17324
Also related: #31571

[2016-11-21 21:30] timstclair commented on #37071
Image pull failure

[code]

[2016-11-21 21:33] k8s-merge-robot opened #37241 "[k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/247/

Failed: [k8s.io] Cluster level logging using GCL should check that logs from containers are ingested in GCL {Kubernetes e2e suite}

[code]

Previous issues for this test: #34623 #34713 #36890 #37012

[2016-11-21 21:33] bgrant0607 commented on #35166
Ref #17151, #17190, #21566, #30302

[2016-11-21 21:40] smarterclayton commented on #33702
The GKE problem and the GCE problem are different.  GKE needs to be split and triaged separately.

[2016-11-21 21:40] bgrant0607 commented on #17324
Aborted draft writeup by thockin: #14095

[2016-11-21 21:42] pshirshov commented on #25126
Hi guys, it so funny that this issue is still unresolved.

[2016-11-21 21:43] mancubus77 opened #37242 "Installation issue"
A deployment with kube-up.sh can not be completed with following error:
[code]
Any ideas where to dig, because there I can not find any debug or logging to figure out a cause of issue

[2016-11-21 22:00] paul-symphony commented on #29166
same issue on v1.4.6 -- totally blocked

* kubectl describe pod shows FailedMount followed by FailedSync
* gcloud compute disks describe shows that the disk did actually mount to the node
* was able to ssh into the node, mount the disk, and write a file to it -- after this was able to unmount, delete the pod causing an automatic detach, recreate the pod causing another automatic attach to differen

[2016-11-21 22:07] mikedanese commented on #36895
Most recent error from https://github.com/kubernetes/kubernetes/issues/36895#issuecomment-262080246

[code]

[2016-11-21 22:08] k8s-merge-robot opened #37245 "kubernetes-e2e-kops-aws: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-kops-aws/1783/

Multiple broken tests:

Failed: [k8s.io] EmptyDir wrapper volumes should not conflict {Kubernetes e2e suite}

[code]
Issues about this test specifically: #32467 #36276

Failed: [k8s.io] DNS should provide DNS for ExternalName services {Kubernetes e2e suite}

[code]
Issues about this test specifically: #

[2016-11-21 22:19] bgrant0607 commented on #36859
Also note that the /scale subresource requires a selector.

I'd be on board with preventing changes that would break the StatefulSet. For instance, for now we could prevent the user from setting the selector and from removing the `name` label.

[2016-11-21 22:24] yujuhong opened #37247 "CRI: clarify what log stream types should a container created tty have"
Forked from https://github.com/kubernetes/kubernetes/pull/34376#discussion_r86272573

Containers created with a tty do not have separate stdout, stderr streams. We can either assume a single "stdout" stream (as docker does today), or define a new "tty" stream type for it (suggested by @euank).

/cc @kubernetes/sig-node

[2016-11-21 22:26] bgrant0607 commented on #36885
See also #36721

[2016-11-21 22:33] yujuhong commented on #25113
This is subsumed by #29579

[2016-11-21 22:33] #25113 closed

[2016-11-21 22:35] calebamiles commented on #31858
@justinsb, how would you feel about moving this out of the 1.5 milestone. I doubt anything will get done on this issue in the next week or so.

**cc: @kubernetes/sig-aws, @saad-ali, @dims

[2016-11-21 22:38] yujuhong commented on #28667
To summarize, pod/container networking is delegated to the container runtime completely in CRI as of v1alpha1. Closing this issue.

[2016-11-21 22:38] #28667 closed

[2016-11-21 22:38] dchen1107 commented on #36895
I am not sure why this issue is demote to P1 from P0. It failed pretty frequently, and blocked the submit-queue a lot.

[2016-11-21 22:43] dchen1107 commented on #36895
The most recent failure related gke-e2e at: https://github.com/kubernetes/kubernetes/issues/36895#issuecomment-262085941

W1121 14:13:15.225] Created [https://test-container.sandbox.googleapis.com/v1/projects/k8s-jkns-e2e-gci-gke-alpha/zones/us-central1-f/clusters/bootstrap-e2e].
W1121 14:13:15.232] kubeconfig entry generated for bootstrap-e2e.
I1121 14:13:15.244] NAME           ZONE           MAS

[2016-11-21 22:49] tonglil commented on #6545
@roberthbailey no worries, I appreciate your response!

I was able to get the docker image method to run `gcloud` commands!

[code]

I avoided the [apt-get method](https://cloud.google.com/sdk/downloads#apt-get), in case apt-get becomes no longer available.

Thank you for providing details on the config steps to get `kubectl` running, I was able to use `kubectl` via the described method in case so

[2016-11-21 22:50] dchen1107 commented on #33702
xref: https://github.com/kubernetes/kubernetes/issues/36895

Agreed with @smarterclayton GCE and GKE problem are different and this one should be gke specific one.

[2016-11-21 22:55] mancubus77 commented on #23241
Folks,
Any ideas about
`Unit etcd.service not found `
Can not find a solution for a long time

[2016-11-21 23:00] buchireddy opened #37250 "[Feature] Support restarting a pod on the same node when it goes down"
**Is this a request for help?**:

No.

**What keywords did you search in Kubernetes issues before filing this one?**

_restart pod on the same node_

**Is this a BUG REPORT or FEATURE REQUEST?**

Feature Request.

**Use Case**:
When running stateful applications like Kafka using PetSets and local storage (host volumes), it's preferable to restart a pod on the same node if it goes down (assuming th

[2016-11-21 23:02] calebamiles commented on #23587
@justinsb, how do you feel about closing this issue or moving it out of the 1.5 milestone because there have been no updates to this issue in quite some time.

**cc: @saad-ali, @dims**

[2016-11-21 23:05] calebamiles commented on #23481
@justinsb how would you feel about moving this out of the 1.5 milestone since we're past code freeze; if this feature isn't already done than it has already missed the release train.

**cc: @saad-ali, @dims**

[2016-11-21 23:10] calebamiles commented on #22417
@justinsb how would you feel about moving this out of the 1.5 milestone? This issue sounds like an improvement that wouldn't land in 1.5 unless the work is already complete.

**cc: @saad-ali, @dims**

[2016-11-21 23:12] jbeda commented on #35314
@luxas -- we should answer these questions for for other potential broken out binaries -- including `kubectl`.  I think we need to have coordinated release branches, probably some integration testing and coordinated versioning.  The result is that we can package matched binaries into OS pkgs/container images/tarballs.

@bogdando -- I'm assuming that you mean `hyperkube` instead of `kube`.  I'd rat

[2016-11-21 23:14] dchen1107 opened #37251 "automated node-e2e image building process"
Currently node-e2e test framework test 5 different images: debian 7 based containervm, gci, ubuntu trusty with docker 9, ubuntu trusty with docker 10, and coreos. The Google node team keep update both containervm and gci images regularly. There is no manual or automate process updating the rest images. They are only updated when the problem occurs. For example, the recent one we saw on ubuntu is h

[2016-11-21 23:17] mml commented on #37131
@xiang90 and I spoke offline.  He suggested a modification like so:

[code]

That builds and runs correctly, but as I mentioned in https://github.com/kubernetes/kubernetes/issues/37131#issuecomment-262036084, the crash is happening before this.  It's happening when `rollback` tries to read the files.

[etcd.log.txt](https://github.com/kubernetes/kubernetes/files/605040/etcd.log.txt) is the concate

[2016-11-21 23:20] #31481 closed

[2016-11-21 23:21] yujuhong commented on #22964
Closing this in favor of #28789 for tracking.

[2016-11-21 23:21] #22964 closed

[2016-11-21 23:27] dchen1107 commented on #30174
All work items listed in this issue were addressed. There are several enhancement related to the node conformance test being tracked through #30122.

[2016-11-21 23:27] #30174 closed

[2016-11-21 23:33] paul-symphony commented on #37232
I am seeing a similar issue.  I have a cluster of 4 nodes, each with 4cpu.  There are no pods scheduled.  The first pod I attempt to schedule specifies 4 cpu.  However:
[code]

[2016-11-21 23:34] xiang90 commented on #37131
@mml mentioned it is generated by etcd 3.0.14, but I cannot use 3.0.14 etcd to open it. So ibecomes bad even before sending to the rollback tool somehow. But I cannot reproduce it by upgrading etcd with the same workflow described above.

@mml As I said, the data you provided is bad. I have no reason why it is bad.

I tried to use  [etcdctl-backup.tar.gz](https://github.com/kubernetes/kubernetes/f

[2016-11-21 23:37] erictune commented on #35534
Filenames can move to 1.6.

[2016-11-21 23:37] xiang90 commented on #37131
Not only rollback tool cannot open this file. etcd 3.0.14 cannot even open this file. So I do not think this file is generated by etcd 3.0.14 or it is broken somehow. Try to do all the stuff again with your original data `etcdctl-backup.tar.gz`, then everything should be fine. I have tried, and it works.

[2016-11-21 23:39] dchen1107 opened #37252 "Integrate node conformance test with CI and release process"
Forked https://github.com/kubernetes/kubernetes/issues/30122

- [x] (#38153, https://github.com/kubernetes/test-infra/pull/1375) **Add node conformance CI test.** We should add CI test to avoid new features or tests breaking node conformance test.
- [ ] [Optional] Add node conformance test into Kubernetes release process. Ideally, each Kubernetes release should have corresponding node conformance

[2016-11-21 23:41] dchen1107 commented on #30122
I filed an separate issue #37252 to track the rest of integration of node conformance test with our ci and release process. But I think as node conformance test framework itself, we can close this issue.

[2016-11-21 23:41] #30122 closed

[2016-11-21 23:42] dchen1107 commented on #30122
@Random-Liu is going to update kubernetes/features#84 with the latest updates for 1.5 release including the documentation.

[2016-11-21 23:49] bgrant0607 commented on #15244
cc @devin-donnelly

[2016-11-22 00:00] paul-symphony opened #37253 "K8s claims GCE Persistent Disk FailedMount Despite Successful Mount - Pod Stuck"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernete

[2016-11-22 00:23] bgrant0607 commented on #10782
Some quick comments:
* We should think about how this would interact with LimitRange, esp. if we add a label selector to it (#17097).
* Updates to some applications, such as Java ones, would also require configuration changes, such as heap size and thread-pool size. We should think about how we'll handle that.
* In-place rolling update is #9043. Multiple independent updates would require deep chan

[2016-11-22 00:33] saad-ali commented on #36574
@kubernetes/deployment @smarterclayton @kargakis Can you please triage this for 1.5? The flake causes submit queue to block on failure.

[2016-11-22 00:34] saad-ali commented on #36574
To be clear, triage means mark this issue as blocker or non-blocker for 1.5 release.

[2016-11-22 00:40] mikedanese commented on #36895
@dchen1107 this issue was never a P0. There are also many different issues rolled up into 1 here. ref https://github.com/kubernetes/kubernetes/issues/31273

[2016-11-22 00:52] Dm3Ch commented on #37242
I'm not completely sure, but when i was using kube-up.sh last time it haven't got systemctl services, it only had got plain init files. I got same error on ubuntu 16.04. I fixed it by adding required systemd .system files on each node manually.

For flanneld you could use https://github.com/coreos/coreos-overlay/blob/master/app-admin/flannel/files/flanneld.service
For other parts of kubernetes you

[2016-11-22 00:52] ixdy opened #37254 "version or vendor golint for verification checks?"
In our test-infra we [`go get github.com/golang/lint/golint`](https://github.com/kubernetes/test-infra/blob/master/jenkins/test-image/Dockerfile-1.4#L53-L54) in the kubekins-test image to use in the various \*-verify-\* jobs.

Recently, we updated the `kubekins-test` image, which ended up pulling in a newer version of `golint` with [a new check](https://github.com/golang/lint/commit/3390df4df27879

[2016-11-22 00:52] jlowdermilk commented on #33702
I'll see if I can get a repro. I suspect this may be a test-infra bug, as the cluster comes up and passes health checks, but then returns connection refused.

[2016-11-22 00:54] ixdy commented on #37254
cc @jessfraz

[2016-11-22 00:58] ixdy commented on #37254
Prior discussion (which didn't really get resolved): #35985

This particular error was fixed in master in #35703, and is small enough that we could just cherry-pick back to release-1.4.

[2016-11-22 00:59] ixdy commented on #37254
also, from https://github.com/golang/lint/pull/148#issuecomment-130847557:

[2016-11-22 01:00] ixdy commented on #37254
https://github.com/golang/lint/blob/master/README.md

emphasis mine:

[2016-11-22 01:14] davidopp commented on #5774
ref/ #9043

[2016-11-22 01:18] AdoHe commented on #32676
@flah00 Thanks for testing, the root cause is clear, I will fix this asap.

[2016-11-22 01:22] AdoHe commented on #37216
@ymqytw ptal.

[2016-11-22 01:22] caesarxuchao commented on #35015
@wojtek-t @lavalamp this looks like a real issue. Could be related to https://github.com/kubernetes/kubernetes/issues/33472.

https://github.com/kubernetes/kubernetes/pull/35672 looks like a proper fix.

[2016-11-22 01:26] k8s-merge-robot opened #37256 "ci-kubernetes-e2e-aws: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-aws/503/

Run so broken it didn't make JUnit output!

[2016-11-22 01:32] Zjianglin commented on #37199
@resouer  Firstly I start the service at 10.106.156.167, and then I tried to curl 10.106.156.167.How ever, my computer is dead for some reasons and i restarted it. Then the pod running before restarting was dead. So I recreate the pv,pvc,pod,service , the new service's clusterIP is 10.96.234.18.Also, I tried to ```curl 10.96.234.18 ```, but it hanged for a long time and out put below in the end:

[2016-11-22 01:50] rkouj opened #37257 "cluster/gce/upgrade.sh taking a long time to run"
This is for manual upgrade testing:

I am running the upgrade.sh script on the release-1.5 branch and the script has been running for a long time now (>40mins) with no sign of completion.
Has anyone experienced a similar issue or has been successfully able to run the upgrade script ?

Command I ran: cluster/gce/upgrade.sh -M v1.5.0-beta.1

`Output`

rkouj@rkouj0:~/go/src/k8s.io/kubernetes$ cluster

[2016-11-22 01:52] k8s-merge-robot opened #37259 "[k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should recreate pods scheduled on the unreachable node AND allow scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-serial/65/

Failed: [k8s.io] Network Partition [Disruptive] [Slow] [k8s.io] [ReplicationController] should recreate pods scheduled on the unreachable node AND allow scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}

[code]

[2016-11-22 01:56] mfanjie commented on #35667
yep, close this issue.

[2016-11-22 01:56] #35667 closed

[2016-11-22 01:58] ymqytw commented on #37216
The first `kubectl apply` is actually using `POST`, since this resource doesn't exist.
The second `kubectl apply` is using `PATCH`, which doesn't support a `null` as value. Because `y: null` in `PATCH` means delete the field whose key is `y`.

As a work around, you can use `kubectl create secret generic test --dry-run --from-literal=x= --from-literal=y= -o yaml | kubectl replace -f - `, where `kub

[2016-11-22 02:49] andyxning commented on #11935
@erictune @sstarcher Does monitor the `Pending` pods means that we can use the `InsufficientCPU` or `InsufficientMemory` event to get the same result and based on these events we can add new nodes to the cluster.

These two type events will be emit when pods can not be scheduled when the required resource(CPU/Memory) can not be fulfilled.

[2016-11-22 03:12] MichaelJCole commented on #13892
@justinsb

Do you have an example for that?  I got the [impression it wasn't implemented in Ingress](http://kubernetes.io/docs/user-guide/ingress/#loadbalancing)

[2016-11-22 03:14] LiTao2016 commented on #35414
I'm sorry to reply so late.When the layers that are not yet available in the Apiserver, the layer information is not considered when scheduling and the whole image will be download to the node.After that the Apiserver will get this image layers information by image layer info collection module ,and this information will be used in the next scheduling.

[2016-11-22 03:24] tuananh commented on #32522
I got the same issue as well.

[2016-11-22 03:31] smarterclayton commented on #37117
https://github.com/kubernetes/kubernetes/pull/37263 contains the second proposal.  I didn't realize what bad shape delete was in (we don't respect grace-period when cascade is false), so the low risk fix doesn't cover all the possible scenarios.  Also, we don't have access to the existing object so we can't do UID checks (which means we may end up waiting forever if someone recreates the same reso

[2016-11-22 03:40] scottstensland commented on #36685
who knew ... looks like I'll migrate off kube-up.sh / kube-down.sh  and onto kops

[2016-11-22 03:40] #36685 closed

[2016-11-22 04:33] splix commented on #29166
Have same issue with v1.4.5 on GCE

Pods stuck with:
[code]

That's happens very often, I have at least one pod every day stuck with this. Of course Volume are here, already attached to this Node, it even shouldn't remount it (maybe that's the problem?).

To fix this I usually kill the pod with `kubectl delete pod ...` and in most cases it restarts on same node without this problem. Sometimes I ne

[2016-11-22 04:38] #36806 closed

[2016-11-22 04:44] typhoonzero opened #37265 "Datacenter components auto installation and management tool"
We are currently working on https://github.com/k8sp/sextant to solve:
* install Linux(currently CoreOS and CentOS) through PXE with kubernetes
* host DHCP and DNS
* templating cloud-config files in order to install different roles of kubernetes
* put kubernetes, ceph, tensorflow together
* a small bootstrapper container providing all above

This tool is already used on our production evironment. W

[2016-11-22 05:01] tonylambiris opened #37266 "Incorrect selfLink path when querying resources via REST apiserver"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): api namespace path slash missing

---

**Is this a BUG REPORT or FEATURE REQUEST?** (

[2016-11-22 05:10] saad-ali commented on #29166
@jingxu97 or someone from @kubernetes/sig-storage can you please help investigate these reports.

CC @matchstick

[2016-11-22 05:19] saad-ali commented on #32214
@yujuhong All the non-"pre-release" instances of this failure (e.g. [ci-kubernetes-soak-gce-test/16](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-soak-gce-test/16/) and [ci-kubernetes-e2e-gci-gce-serial-release-1.4/34/](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial-release-1.4/34/)) are against head not alpha rel

[2016-11-22 05:34] k82cn commented on #37232
@mwielgus / @paul-symphony , would you share scheduler's log?

[2016-11-22 05:35] k8s-merge-robot opened #37267 "[k8s.io] Networking should check kube-proxy urls {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-etcd3/325/

Failed: [k8s.io] Networking should check kube-proxy urls {Kubernetes e2e suite}

[code]

Previous issues for this test: #32436

[2016-11-22 05:37] paul-symphony commented on #37232
how do i retrieve it?

[2016-11-22 05:40] sysit opened #37268 "kubectl delete rc cloudn't release rbd volumn."
kubernetes version :  hyperkube:v1.4.6_coreos.0
OS: coreos stable  1185.3.0
ceph version:  10.2.3

I  want create elasticsearch service, and use rbd storage data.  the rc yaml:
[code]

I use `kubectl create -f  es-rc.yaml `create  it successful,   and  enter the pod can see the rbd volume mount sucessful.

but when I use `kubectl delete rc elasticsearch-logging-v1 ` , the rc and the pod is deleted

[2016-11-22 05:43] saad-ali commented on #34102
@fgrzadkowski Could you please help us get this flake triaged for 1.5 as blocking or non-blocking

[2016-11-22 05:44] jgeraerts commented on #36611
thank you @colemickens , didn't get into collecting all the information yet.

[2016-11-22 05:45] sysit commented on #37268
If  diectly create pod , not rc,  it working properly on create and delete.

the yaml file :
[code]

[2016-11-22 05:46] jgeraerts commented on #30258
Interesting to mention is then when the kubelet crashed due to ##36611 and then recovered the number of mounts it increased. I also had the feeling it went up exponentially. The kubelet crashed every 3-4 minutes and within a few hours i had 2 000 000 + mounts.

[2016-11-22 05:48] davidopp commented on #37232
If you're running open-source Kubernetes, look in /var/log/kube-scheduler.log on the master
If you're running on GKE, unfortunately you can't see it.

[2016-11-22 05:57] saad-ali commented on #30258
@rootfs Looks like azure_dd is doing something funky here. Can you take a look and triage this bug as a blocker or non-blocker for the 1.5 release please.

[2016-11-22 06:10] foxish commented on #29542
@AdoHe Any updates on this one? or has this been punted to 1.6?

[2016-11-22 06:14] AdoHe commented on #29542
@foxish yes, I think we can put this on 1.6, we are going to remove `ThirdPartyResourceData`

[2016-11-22 06:26] saad-ali commented on #37239
My recommendation would be to have no annotation on PVC in examples. Put a blurb indicating that if a default `StorageClass` exists, it will be used to automatically provision a PV to fulfill the PVC. If no `StorageClass` is specified the user should either create one or manually create a PV to fulfill the PVC.

Once https://github.com/kubernetes/kubernetes/pull/31617 is merged in v1.6 common clou

[2016-11-22 06:32] jingxu97 commented on #29166
@paul-symphony @splix  could you please share your kubelet log with us so that I can debug? If you prefer, you could email me at jinxu@google.com or find me in slack @jinxu

Thanks!

[2016-11-22 06:33] Jeremysoft commented on #19235
Thanks @expz

[2016-11-22 06:39] luxas commented on #34134
You still need to install a pod network with `kubectl apply -f <addon-yaml>`, like always.
And just to be sure, have you started kubelet on the node also?

[2016-11-22 06:49] davidopp commented on #29178
There shouldn't be any explicit conversion of conditions to taints.

At startup we can use #31647 to ensure the node does not register before the desired taints are applied.

Things that are today conditions that block scheduling, will have taints created for them by NodeController or Kubelet. (If we keep all of the conditions, then we can just have NodeController create all the taints based on th

[2016-11-22 06:49] xiangfeiz commented on #31232
Just met the same issue with etcd version 3.0.15

[2016-11-22 06:56] errordeveloper commented on #34379
@kking124 did you manage to get it working on CentOS at the end? We have made a few fixes to CentOS specific things, which have definitely made it into latest snapshot release of kubeadm.

[2016-11-22 07:05] brendandburns commented on #14468
Closing as obsolete.

[2016-11-22 07:05] #14468 closed

[2016-11-22 07:07] xiang90 commented on #29542
@foxish @AdoHe

This is going to affect anyone using TPR (we develop etcd operator for example) pretty hard. This is a bug, and I feel we should fix this in 1.5.

/cc @brendandburns

[2016-11-22 07:24] jingxu97 commented on #29166
Just talked with @splix over slack, it looks like his cluster is hitting PR #36616. Will try to confirm with @paul-symphony about his problem.

[2016-11-22 07:46] k8s-merge-robot opened #37274 "[k8s.io] Services should release NodePorts on delete {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-kubenet/337/

Failed: [k8s.io] Services should release NodePorts on delete {Kubernetes e2e suite}

[code]

[2016-11-22 08:23] resouer commented on #37181
Secret can be consumed by Pod thru ENV or volume file, so is http://kubernetes.io/docs/user-guide/secrets/#using-secrets-as-files-from-a-pod covering your request?

It will mount a file contains your Secret data to your Pod.

[2016-11-22 08:25] #37183 closed

[2016-11-22 08:33] foxish commented on #29542
@xiang90 I agree, but I don't think we have enough bandwidth to fix this properly in 1.5.
We have a similar use case, and we're going to use PATCH, which is a little more convenient than the "PUT" that the etcd-operator example uses in documentation.

[2016-11-22 08:36] resouer commented on #37199
@Zjianglin According to your post (which is actually error report from nginx), k8s Service has already redirected your traffic to the backend Pod (it's `mypod` I guess).

Could you please figure out why your `mypod` is out of service (and it's status is RUNNING, it's wired).

I can see the last part of the guide suggest you to do this:

Have you disabled SELinux? (otherwise nginx will refuse to re

[2016-11-22 08:38] bluecmd commented on #7433
I've been giving this a thought, and for us we would like:
[code]

I'll write together a bigger document with our setup and the different cases (node going down, pod becoming unhealthy, etc.) later, but the above should be enough to get the basic discussion started I hope.

[2016-11-22 08:46] roberthbailey commented on #6545
Yes. I filed an internal feature request about this the first time I had to jump through the hoops that you just documented. :)

You could do this in your own shell by adding a curl to the metadata server when the shell starts.
If this is just for gcloud it's also conceivable that gcloud could be smart enough to default to the zone in the local metadata server if another zone isn't specified. This

[2016-11-22 09:00] resouer commented on #37265
`kubeadm` is designed to make `k8s` deployment less painful (e.g. bringing up k8s cluster with 4 commands). And the first of all principle to achieve this is: keep kubeadm simple.

So I don't think we have intent to expand it or integrate it with anything else unless our original goal is to make `kubeadm` simpler than today. That also implies one of the right directions could be `sextant` use `kub

[2016-11-22 09:00] resouer commented on #37265
And cc @luxas for some thoughts :)

[2016-11-22 09:01] wojtek-t commented on #35015
I agree - this looks like a real issue. And indeed #35672 LGTM as a fix for it.

[2016-11-22 09:05] #36285 closed

[2016-11-22 09:07] roberthbailey commented on #37265
We'd like for `kubeadm` to be a building block that can be used by any cluster creation solution. It explicitly does not do things like provision machines or install the base OS, so we would not want to merge those features of sextant into it. What would be great is if you could think about some of the steps in your current install that you could "shell out" to `kubeadm` and stop having to worry a