[2015-08-05 22:16] smarterclayton commented on #11908
I'm not sure every component needs heartbeating - isn't that what the node
is supposed to be doing with ready checks today?  And endpoint lists are
already the available backends.  If you wanted to health check a component
running on the cluster, the endpoints list is our best representation

On Aug 5, 2015, at 6:06 PM, Karl Isenberg <notifications@github.com> wrote:

I've actually moved my experi

[2015-08-05 22:27] #11757 closed

[2015-08-05 22:43] ramr commented on #11570
/sub

[2015-08-05 22:45] #12287 closed

[2015-08-05 22:46] crawford opened #12311 "Build: Linker flags cannot be specified from the invocation of make"
I need to be able to build binaries with PIC disabled. There is no way to override the ldflags passed to `go build`. They should be plumbed through in the same manner as `GOFLAGS`.

[2015-08-05 22:56] dchen1107 opened #12312 "TestUnschedulableNodes is flaky"
I observed that TestUnschedulableNodes failed a couple of times today at shippable:

[code]

[2015-08-05 22:58] dchen1107 commented on #12312
cc/ @davidopp

[2015-08-05 22:59] dchen1107 commented on #12312
You can access the latest failure at: https://app.shippable.com/builds/55c25e6145d4c50b00fe18b0

[2015-08-05 23:07] coleca commented on #12132
Upgraded to 1.0.2 and the issue seems to be gone now.

Still see this error however:

./../cluster/gce/util.sh: line 504: @: unbound variable

This is from running kube-up.sh on a fresh download of 1.0.2 after changing config-default.sh like this:

#!/bin/bash

# Copyright 2014 The Kubernetes Authors All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may

[2015-08-05 23:24] a-robinson opened #12315 "Reduce heapster's memory usage/leaks"
As experienced while validating #12243, heapster is OOM'ing way too quickly, and using a surprising amount of memory in general. In that particular case, it OOM'ed after 15 minutes on a 5 node cluster with only a handful of pods running. We need to get it under control so that it can run reliably on larger clusters.

You're free to close this if you feel that it should only be tracked in heapster'

[2015-08-05 23:36] vishh commented on #12315
I am working on this now.

[2015-08-05 23:42] karlkfi commented on #11908
I'm mildly confused by your comment, @smarterclayton.

By "component" I mean "core component" (e.g. apiserver, scheduler, and controller-manager).

The ready-check (aka probe) that I know of is just the nodes (aka kubelets) probing the pods running on their machine.

I assume there's also some sort of ready-check for the nodes, as `kubectl get nodes` reveals them as "ready", but I don't know if/ho

[2015-08-05 23:44] dchen1107 commented on #12256
What is your cloud environment?

For several cloud providers, such as gce, aws, etc. yes, we create token automatically.

[2015-08-05 23:48] alex-mohr commented on #12258
Leaving this open -- we shouldn't hardcode, but plumb through the config value instead.

[2015-08-05 23:49] erictune opened #12316 "Union authenticator may send credentials to all authentication providers"
In `plugin/pkg/auth/authenticator/request/union/union.go` it tries each of the authentication methods in order.  This means that if you pass the admin token using basic auth, then it sends the basic auth information to all configured auth providers.  So, for example, if the admin is authorizing with the cluster's csv-file-based admin token, that password might also be sent to a configured OpenID i

[2015-08-06 00:01] erictune commented on #11070
@deads2k wrote in response to my question about his item 2: *If I have a set of different tokens for the same service account to perform various maintenance and monitoring tasks on my cluster, then I'm able to revoke particular tokens in the case of compromise.*

If the tasks are different, should each thing have its own service account (ideally with only the permissions it needs?)

[2015-08-06 00:02] erictune commented on #11070
Re: item 1: I think you are saying that you have some process that runs on its own box - not a pod - and it needs a service account to access the apiserver.  Okay, I buy that use case.

[2015-08-06 00:35] bgrant0607 commented on #11797
We may also need to fix initial readiness behavior. For instance, I don't know whether we have fixed the problem that readiness is delayed for pods with liveness probes with initial delays.

[2015-08-06 00:42] rroopreddy commented on #12184
Ok, do I need to anything to set this or it is automatically knows where to reach after "kube-up.sh"

My startup sequence is

    cd kubernetes

    export KUBERNETES_PROVIDER=vagrant
    export NUM_MINIONS=3
    ./cluster/kube-up.sh

Then execute the following to see the status of cluster

./cluster/kubectl.sh get nodes

This is when I see error

error: couldn't read version from server: Get http

[2015-08-06 00:49] hurf commented on #12280
@erictune - sure, I'll working on it.

[2015-08-06 01:20] WIZARD-CXY commented on #12266
Ubuntu 15.04 do not use upstart jobs.So I recommend you use docker approach, you know, it can run where docker can run, and it is good also.

https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/docker-multinode.md

[2015-08-06 01:27] fzu-huang commented on #12256
@dchen1107
i know what's  wrong

when  i start apiserver   i should add flag:
--service_account_key_file=/var/run/kubernetes/apiserver.key --service_account_lookup=false --admission_control=NamespaceLifecycle,NamespaceAutoProvision,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota

and  then copy a key file to the file location.

all these are done in the shell script "/hack/local-up-cl

[2015-08-06 01:34] smarterclayton commented on #11908
On Aug 5, 2015, at 7:43 PM, Karl Isenberg <notifications@github.com> wrote:

I'm mildly confused by your comment, @smarterclayton
<https://github.com/smarterclayton>.

By "component" I mean "core component" (e.g. apiserver, scheduler, and
controller-manager).

The ready-check (aka probe) that I know of is just the nodes (aka kubelets)
probing the pods running on their machine.

I assume there's al

[2015-08-06 01:35] smarterclayton commented on #11797
I don't believe so.

On Aug 5, 2015, at 8:36 PM, Brian Grant <notifications@github.com> wrote:

We may also need to fix initial readiness behavior. For instance, I don't
know whether we have fixed the problem that readiness is delayed for pods
with liveness probes with initial delays.

—
Reply to this email directly or view it on GitHub
<https://github.com/GoogleCloudPlatform/kubernetes/issues/117

[2015-08-06 01:41] bgrant0607 opened #12322 "Update api-conventions.md and api_changes.md, and add documentation about how to do API change reviews"
I need other people to be able to do API reviews, so I need to improve the API convention documentation.

Placeholder for me to collect doc changes before I have to think about wordsmithing.

Conventions to document:
* Subresources: /binding, /status, ...
* Watch URL query parameter
* Deprecated conventions
  * Phase #7856
  * FooController
  * Minion
* FooTime vs. FooTimestamp
* Durations: FooSec

[2015-08-06 01:41] jackgr opened #12323 "Collecting and publishing cluster configuration"
This issue captures the results of a conversation between @satnam6502 , @vishh and @jackgr regarding the use of [cluster-insight](https://github.com/google/cluster-insight) to collect and publish cluster configuration for the [graph tab](https://github.com/kubernetes-ui/graph) developed for the Kubernetes UI. See also the related discussion in #8716.

cc: @vasbala, @EranGabber, @supriyagarg, @rime

[2015-08-06 01:42] karlkfi commented on #11908
Even if you run all the components in a kubelet as a static pod, that kubelet isn't reporting those pods back to the apiserver. That kubelet isn't even part of the cluster, it's a special bootstrap node that doesn't have anyone monitoring it. So the core components (running in containers on that bootstrap kubelet) are probed for health and resurrected, but they're not reporting their health to the

[2015-08-06 01:45] karlkfi commented on #11908
Is there a way to query the pod status directly on the bootstrap kubelet?

Even if their were, there's no bootstrap kubelet for some providers, namely Mesos, where the core components are either external or run in Marathon.

[2015-08-06 01:51] bprashanth commented on #561
In openshift you have a kubernetes service, a set of routes, and an admin created router. The router hooks up the service to its routes.

The way we currently handle L3 spins this model around because the service declares that it wants a loadbalancer up front, and each service gets a different lb.

I initially entertained the idea of extending our model for its simplicity, but it breaks down for m

[2015-08-06 02:03] dalanlan commented on #12256
hack/local-up-cluster.sh is aimed to start a local one.
Yet i do believe `--service_account_key_file` & `--service_account_lookup` are optional. k8s would create a token automatically even without cloud provider, ubuntu for example.

[2015-08-06 02:37] asdfsx commented on #12266
I want to setup it on bare-metal ubuntu machines!
And thx WIZARD-CXY, I'll try that

[2015-08-06 02:45] karlkfi commented on #11908
Proof of Concept PR: #12324

[2015-08-06 03:09] smarterclayton commented on #11908
On Aug 5, 2015, at 9:43 PM, Karl Isenberg <notifications@github.com> wrote:

Even if you run all the components in a kubelet as a static pod, that
kubelet isn't reporting those pods back to the apiserver.

Yes it is - they go to kube-system.  Unless you mean something else.

That kubelet isn't even part of the cluster, it's a special bootstrap node
that doesn't have anyone monitoring it. So the co

[2015-08-06 03:11] smarterclayton commented on #11908
On Aug 5, 2015, at 9:45 PM, Karl Isenberg <notifications@github.com> wrote:

Is there a way to query the pod status directly on the bootstrap kubelet?

There are status Apis yes, although they don't closely mirror their
apiserver counterparts yet.

Even if their were, there's no bootstrap kubelet for some providers, namely
Mesos, where the core components are either external or run in Marathon.

L

[2015-08-06 03:16] dalanlan opened #12327 "Should return an error message when creating a secret consumed by a non-existing SA"
I believe it's better to return an error message when one attempts to create a secret consumed by a non-existing SA.

[code]
 No errors for now.

Corresponding `build-robot-secret.yaml`.  Just in case.

[code]

[2015-08-06 03:22] smarterclayton commented on #561
On Aug 5, 2015, at 9:51 PM, Prashanth B <notifications@github.com> wrote:

In openshift you have a kubernetes service, a set of routes, and an admin
created router. The router hooks up the service to its routes.

The way we currently handle L3 spins this model around because the service
declares that it wants a loadbalancer up front, and each service gets a
different lb.

I initially entertained t

[2015-08-06 03:22] smarterclayton commented on #561
@liggitt @ramr

On Aug 5, 2015, at 9:51 PM, Prashanth B <notifications@github.com> wrote:

In openshift you have a kubernetes service, a set of routes, and an admin
created router. The router hooks up the service to its routes.

The way we currently handle L3 spins this model around because the service
declares that it wants a loadbalancer up front, and each service gets a
different lb.

I initial

[2015-08-06 03:30] pmorie commented on #11070
@deads2k @erictune @liggitt

I have been wondering to myself whether we have enough things we want to do
that we should have 'round 2' (electric boogaloo) proposals for secrets and
service accounts.

Thoughts?

On Wed, Aug 5, 2015 at 8:02 PM, Eric Tune <notifications@github.com> wrote:

[2015-08-06 03:41] kgrvamsi commented on #12269
Yes Docker is running Properly on the Minions and as i said when i restarted the kubelet and kube-proxy it changed to ready state.

[2015-08-06 03:50] fzu-huang commented on #11000
@devurandom  I run ./make-ca-cert.sh script  but nothing happened..  /srv/kubernetes/  is a empty directory. do you know  why

[2015-08-06 04:13] satnam6502 commented on #12323
/cc @satnam6502

[2015-08-06 04:38] dalanlan commented on #11000
@fzu-huang
I believe It's a network issue.  You can run this to confirm
[code]

[2015-08-06 04:42] WIZARD-CXY commented on #11000
better run without `> /dev/null 2>&1` , just let the stdout and stderr print for your debug

[2015-08-06 04:59] fzu-huang commented on #11000
@dalanlan
you are right    : (
Is there any other way to create crt and key?

[2015-08-06 05:04] piosz commented on #12149
There will be data source interface with 2 implementations:
- InfluxDB, which will query InfluxDB
- GCM, which will query GCM and make some aggregation

The interface will be simple like get n-th percentile of the specified metric from specified window with given limit of samples.

I'm not familiar with Hawkular but you probably may add another implementation here.

[2015-08-06 05:08] fzu-huang commented on #10159
@wangzhezhe   Can you teach me  how to create .crt and key?  what should '-subj' be ??

[2015-08-06 05:22] kgrvamsi commented on #12255
@erictune  Thanks for your reply and yes may be i can create two different redis cluster which can manage the browser cookies and for some other app requirement another redis cluster and which i will be using the kubernetes cluster point to the second redis cluster.

And i see a point about the state changes of Api server but how different does it impact in case of performance or scalability when

[2015-08-06 05:26] HaiyangDING opened #12329 "Move EqualPriority to package ./plugin/pkg/scheduler/algorithm/priorities"
EqualPriority() is one of the many prioritizer functions in Kubernetes scheduler algorithm. It is now located at package ./plugin/pkg/scheduler while all the other priority functions are in package ./plugin/pkg/scheduler/algorithm/priorities.

I think this is a little confusing and maybe we should move it to package priorities. I would be happy to send a relevant PR.

[2015-08-06 05:32] adyanthaya17 commented on #12066
@gmarek Ye, I'm still facing this issue.

[2015-08-06 05:42] dalanlan commented on #11000
Not have been there.
Finding your own way to access that might  be a easy solution. VPN spreads anywhere after all.

[2015-08-06 06:24] satnam6502 opened #12330 "Still having issues building Kubernetes on Mac OSX"
Although I can do `hack/build-go.sh` (does not build Docker images) I find that `build/release.sh` fails.
This was after changing my boot2docker VM settings as shown in #11852 to use 3GB
@cjcullen

Satnam

[code]

[2015-08-06 06:25] ArtfulCoder commented on #12242
@qq690388648 thank you for filing the bug. Your analysis and reason for the spike seems reasonable.
We might fix this or wait for a newer implementation that is in the pipeline #9210

[2015-08-06 06:29] Naresht-vedams commented on #12250
Where is docker bridge in your screenshots . That is eth0 bridge.

[2015-08-06 06:31] qq690388648 commented on #12242
Thanks a lot..
@ArtfulCoder

[2015-08-06 06:31] #12242 closed

[2015-08-06 06:31] #12311 closed

[2015-08-06 06:34] kgrvamsi commented on #12250
if you use flannel then docker bridge interface will replace with the flanneld bridge on the host and docker bridge is the underlaying networking for the containers to take over the ip's released from the base machine bridge interface.

[2015-08-06 06:34] dchen1107 commented on #12066
I think the issue is closed accidentally by @adyanthaya17 based the comment above.

[2015-08-06 06:54] xiejunan commented on #11994
@hurf  SQL like query .

[2015-08-06 06:57] erictune commented on #11570
Network ingress and egress being added.
On Aug 5, 2015 3:44 PM, "ramr" <notifications@github.com> wrote:

[2015-08-06 06:58] bgrant0607 commented on #11965
Earlier request: #2856

You're planning to use this for apiserver?

[2015-08-06 07:01] erictune commented on #11994
Will jsonpath templates help?
On Aug 5, 2015 11:55 PM, "xiejunan" <notifications@github.com> wrote:

[2015-08-06 07:07] gmarek commented on #12066
@adyanthaya17 - Can you paste the new output of `kubectl describe node` of the removed node? I want to be sure that the node is actually dead (i.e. that 'LastProbeTime' was long time ago). Note that timestamp is in UTC.

[2015-08-06 07:27] farcaller commented on #11710
Self deployed cluster, the kubelet is started via

[code]

[2015-08-06 07:39] nikhiljindal commented on #12258
Assuming this is regarding pkg/kubectl/rolling_updater_test.go.
cc @ironcladlou who is touching that file in one of his PR

[2015-08-06 07:59] nikhiljindal commented on #12298
This is relevant for Deployment as well: https://github.com/GoogleCloudPlatform/kubernetes/pull/12236

Why do we want users to care about system labels?

FWIW, rolling-update also adds some labels such as ```kubectl.kubernetes.io/next-controller-id```
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubectl/rolling_updater.go#L171

I see that openshift adds labels of the form ```o

[2015-08-06 09:02] wangzhezhe commented on #10159
@fzu-huang maybe this will help you: http://localhost:4000/blog/2015/08/05/httpsandgolang/

[2015-08-06 09:30] rupsee commented on #12285
Once there's a fix, downloading the latest source from MASTER or using the curl script again should both work @BenTheElder ?

[2015-08-06 09:56] piosz commented on #11570
@erictune could you explain what do you mean?

[2015-08-06 09:59] AnanyaKumar commented on #11570
@piosz I think he's referring to PR 12187

[2015-08-06 10:02] bjlee72 commented on #11684
I'm having the same issue in Ubuntu cluster installation.

[code]

[code]

[code]

[code]

[2015-08-06 10:07] fzu-huang opened #12337 "what should i do if i want to change container's hosts file before it start"
etc. I want to start an Nginx pod. and i want to do edit the hosts file of the pod  when it  is created  ,but before Nginx is running.

[2015-08-06 10:37] accelazh opened #12338 "Need fencing in HA recovery process"
Some apps, usually those need access to shared data or legacy apps, need to make sure that there are at least one (HA) and only one (fencing) instance running. Otherwise, if one instance is detected to be down, but still accessing data (e.g. network issue or responsiveless); the second instance is boot up, accessing data too. Data will be corrupted.

The fencing, in above case, need to make sure t

[2015-08-06 11:00] bjlee72 opened #12339 "No endpoints available for "kube-ui""
Hello. I created ubuntu 14.04 cluster, and having the following issue:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2015-08-06 13:08] deads2k commented on #11070
I'm not adverse to revisiting service accounts, but I think I'd still like to see some incremental improvement.  1 (easier to get a token) and 5 (non-restrictive default, but options for secret restriction) are both relatively straightforward for big gains in usability based on what we've learned so far.

The others involve more surgery, so I could see putting them off if we want to redesign.  I'd

[2015-08-06 13:18] ironcladlou commented on #12258
Just FYI: this shouldn't conflict with #11942; the update code in question is actually just a helper used exclusively by `UpdateExistingReplicationController` which is part of the CLI command setup for rolling updates. It won't affect the main update loop, but it would affect the setup of a rolling update initiated via the CLI.

[2015-08-06 13:19] ironcladlou commented on #12258
And thanks @nikhiljindal for the heads up!

[2015-08-06 13:53] ironcladlou commented on #12298
Openshift uses `openshift.io/deployment.name` to solve the exact problem described in this issue. Users can still add their own selector entries, but we always add a unique one for the deployment to force disambiguation.

[2015-08-06 14:15] derekwaynecarr commented on #12285
Latest source from MASTER should work fine.  Please confirm.

On Thu, Aug 6, 2015 at 5:31 AM, rupsee <notifications@github.com> wrote:

[2015-08-06 14:20] timothysc commented on #12140
@davidopp

So long as we have the ability to plug in our own policy engines I like it.  Other systems often referred to them as the defragmentation process, and typically employ analogous algorithms as well along with customization policies.

Ideally I would like an engine where I can plug in a cloud provider and spin down resources as they are offloaded.  (inverse of bursting).

[2015-08-06 14:29] swagiaal commented on #12278
Neat!

[2015-08-06 14:33] DmitriyLyalyuev opened #12345 "Disable limit checking for scheduler"
Hi.

I have some troubles with resource limitations for pods in namespace.
I want to limit minimum and maximum of CPU and memory usage for each pod in my namespace.
But I do not want the scheduler to check how many resources are already used on the node.

How I can resolve this?

[2015-08-06 14:40] timothysc commented on #12307
We can publish this data through the prom-gateway to record across * tests.  In general, having a set of metrics that we can gather and record across all the tests is useful.  Each test may wish to publish their own, but we can probably denote that as well.

cc @wojtek-t

[2015-08-06 14:41] runningwild commented on #11824
I ran into this error as well, [posted about it on the mailing list](https://groups.google.com/forum/#!topic/google-containers/awwDwCNF3ps).

To summarize the post, I believe that KUBE_CERT exceeds systemd's ARG_MAX limit, which I'm guessing is ~4k.  Obviously things won't work if it's ignoring one of the environment variables we expect to have, segfault or not.

[2015-08-06 14:51] liggitt commented on #561
I'd want to be a little more explicit about the desired tls mode of the route:

1. passthrough
2. terminate (optional cert/key if needed for the requested host)
3. re-encrypt (optional cert/key if needed for the requested host, optional CA bundle for establishing the re-encrypt)

[2015-08-06 15:16] pmorie commented on #12345
@derekwaynecarr

On Thu, Aug 6, 2015 at 10:33 AM, Dmitriy Lyalyuev <notifications@github.com>
wrote:

[2015-08-06 15:32] smarterclayton commented on #12149
@mwringe can you weigh in here - ideally anything we do in the default Kube
setup we can back with heapster/hawkular

On Aug 6, 2015, at 1:04 AM, Piotr Szczesniak <notifications@github.com>
wrote:

There will be data source interface with 2 implementations:

   - InfluxDB, which will query InfluxDB
   - GCM, which will query GCM and make some aggregation

The interface will be simple like get n-th

[2015-08-06 15:49] erictune commented on #12345
@wojtek-t @gmarek you both are closer to the OP's time zone and know a bit about the scheduler.  Can one of you help him?  As a short term fix, maybe suggest a way to disable the PodFitsResources check.  Also figure out exactly what the user needs (overcommitment?)

[2015-08-06 15:49] erictune commented on #12345
randomly assigning to @gmarek but feel free to move.

[2015-08-06 15:51] zmsp commented on #12278
Hi, I was able to resolve my issue of sharing a NFS volume using the commands you provided. However hostPath volume still doesn't work. Debugging the code doesn't seem to throw any error but I don't see shared volume files that are on container on my host volume. Here is my code.

[code]

[2015-08-06 15:53] DmitriyLyalyuev commented on #12345
Yes, I need overcommitment to each nodes.

[2015-08-06 15:59] thockin commented on #12339
kubectl get pods --namespace=kube-system

On Thu, Aug 6, 2015 at 4:01 AM, Byungjoon Lee <notifications@github.com>
wrote:

[2015-08-06 16:01] thockin commented on #11684
kubectl get pods --namespace=kube-system

[2015-08-06 16:03] thockin commented on #12337
What are you actually trying to achieve?  We don't currently expose that
feature

On Thu, Aug 6, 2015 at 3:07 AM, fzu-huang <notifications@github.com> wrote:

[2015-08-06 16:20] sarath commented on #12273
surprisingly this is not voted too much? I think this would be considered a blocker/ Is there a workaround?

[2015-08-06 16:34] chuckbutler commented on #8313
cusspvz - this sounds like a great contribution. Do you have a PR to add this functionality?

[2015-08-06 16:40] dchen1107 commented on #12273
cc/ @yifan-gu, @kelseyhightower for coreos on aws. Thanks!

[2015-08-06 16:50] dchen1107 commented on #12339
Looks like kube-ui containers are not started properly. Can you run:

kubectl describe pods kube-ui-v1-omr76 --namespace=kube-system

and post the output here? Thanks!

[2015-08-06 17:00] BenTheElder commented on #12285
@derekwaynecarr @rupsee Confirmed that latest master is again working, sorry it took so long to get back to you.

[2015-08-06 17:14] dchen1107 commented on #12329
cc/ @davidopp

[2015-08-06 17:18] smarterclayton commented on #12298
We don't let the user choose the label key but that's only historical.  I suspect there are clever use cases out there that a customizable label key would allow.  Changing it would trigger a redeployment and lose the old deployments (which might be useful for orphan or cutover) or it should be prevented from changing (not as flexible)

[2015-08-06 17:32] liggitt commented on #12316
For now, I'm ok with documentation. This is really only an issue when the supplied user credentials are passed to a remote system for authentication. None of the authenticators in k8s currently do that... even the proposed OpenID token verification is done locally using signature verification (though it's certainly possible future authenticators, like an LDAP authenticator could send a username/pa

[2015-08-06 17:37] erictune commented on #12316
I thought about this because #11798 appears to send a password to a backend.

[2015-08-06 17:44] rupsee commented on #12285
I'll try it and post here tomorrow, it's  the end of my day here now. Thanks a bunch for the quick turnaround.

[2015-08-06 17:44] liggitt commented on #12316
Yup, that one would send remotely.

[2015-08-06 17:46] yujuhong commented on #10623
@antoineco, thanks for the update! Please keep us posted on the reproduction attempt.

[2015-08-06 17:50] #10494 closed

[2015-08-06 17:54] bprashanth commented on #561
of both worlds  - choose to bind routes to new lbs if a flag on controller
manager says so, or similar.

SG.

routers claim routes.  A route is a claim (effectively) though so I don't
think it's conflicting.

Who creates the routers? This sounds like a more admin centric approach. How do we detect route overload (or more realistically, decryption saturating cpu)? I was trying to give users the res

[2015-08-06 18:15] jlowdermilk opened #12352 "kubectl replace requires --force to be useful?"
[code]

Is this intended? If `kubectl replace` will only work when `--force` is passed, why is it even an option?

[2015-08-06 18:19] mingfang commented on #6120
+1

[2015-08-06 18:28] AnanyaKumar opened #12353 "Local Travis"
Is there a way to run the continuous-integration tests locally? If not, we should create "hack/continuous-integration.sh" and run all the scripts that Travis does! :)

The last couple of days, I've submitted a few PRs that fail on some of the continuous integration checks, so I think having a meta-script that does this would be useful.

[2015-08-06 18:32] mwringe commented on #12149
The problem with Heapster is that I am not sure if it will return the right values for the type of CPU usage you are wanting here. Currently Heapster only returns the total nanoseconds of CPU usage since the container was started (which doesn't really help). So someone might have to work with Heapster to expose more meaningful data.

If we have the right data going into Hawkular Metrics, we should

[2015-08-06 18:43] piosz commented on #12149
Heapster exports cumulative cpu usage per container. There are two possibilities: export also [cpu/usage_rate](https://github.com/GoogleCloudPlatform/heapster/blob/master/sinks/gcm/rate_metrics.go#L29) metric as it is done for GCM or assume the data source can convert cumulative -> gauge (not sure but I think InfluxDB can do it). Which of this is an option for Hawkular?

The component will directl

[2015-08-06 18:50] smarterclayton commented on #12149
On Aug 6, 2015, at 2:41 PM, mwringe <notifications@github.com> wrote:

The problem with Heapster is that I am not sure if it will return the right
values for the type of CPU usage you are wanting here. Currently Heapster
only returns the total nanoseconds of CPU usage since the container was
started (which doesn't really help). So someone might have to work with
Heapster to expose more meaningful

[2015-08-06 18:51] pmorie commented on #12322
@bgrant0607 Corollary on abbreviation: how to correctly handle things that make sense to refer to by acronyms

[2015-08-06 18:51] pmorie commented on #12322
And when to use acronyms

[2015-08-06 18:54] pmorie commented on #12327
Agree, this seems like it should be the appropriate behavior.  @liggitt @deads2k any thoughts?

[2015-08-06 18:56] liggitt commented on #561
I think mode should be explicit. There are actually four modes:

1. non-tls
2. passthrough
3. terminate
4. re-encrypt

deriving the mode from the presence or absence of a provided secret isn't straightforward

[2015-08-06 19:00] karlkfi commented on #11908
Looking at giving the Component api a Status filed, similar to Node.Status. Can anyone explain why NodeStatus.Conditions is an array of NodeCondition and not just the last known condition? Does it store all historical conditions?

[2015-08-06 19:01] pmorie commented on #12323
/cc @jwforres

[2015-08-06 19:06] pweil- commented on #561
I think there is benefit to this model, particularly in the scenario where a route is requesting or being forced to join an existing lb.  If for any reason the lb decides that it cannot support the route (duplication, it's an l4 only lb when l7 options are requested, etc) the route can easily be described to see why it wasn't deployed.

When a single lb is being used to support many types of route

[2015-08-06 19:11] smarterclayton commented on #561
The problem is that it depends on whether the router supports that.  So in
a claims model you might ask for passthrough and get it because it's a
singleton TCP loadbalancer, or get it because the router is HAProxy and can
do it via SNI.  Terminate might not be supported by the load balancer - but
it may not be enough to know that the user wanted termination for its own
sake.

Need to think through

[2015-08-06 19:18] mwringe commented on #12149
InfluxDB uses a derivative aggregation function to convert the cumulative value.

For hawkular, since we don't have something like a derivative function, we will probably have to do the same thing that GCM does and expose the usage_rate

Ok

[2015-08-06 19:33] bgrant0607 commented on #12280
We have a more concise printer we use for the AGE column.

[2015-08-06 19:35] bgrant0607 commented on #12323
cc @erictune

[2015-08-06 19:40] derekwaynecarr commented on #12345
There is work underway to support basic overcommit of cpu and memory.

The plan is to do the following:

A container can specify a request for cpu / memory and a limit for cpu and memory.  The scheduler will schedule on the requesting value, but of course the container will be allowed to burst to their limit if the request != limit.

I think this basic support should be in the code base soon, it's

[2015-08-06 20:03] nikhiljindal commented on #12352
cc @caesarxuchao

[2015-08-06 20:09] gmarek commented on #12345
@derekwaynecarr wrote pretty much everything I wanted to:) If you need this right now @erictune is right - you can build your own Kubernetes binary with disabled PodFitsResources check. It's not that easy though, as you'll need to disable it both in scheduler and in Kubelet. When the check is disabled everything else (like spreading) should work correctly.

If you need it quickly please let me kno

[2015-08-06 20:11] satnam6502 opened #12357 "Broken link on kubernetes.io to http://kubernetes.io/v1.0/DESIGN.html"
On the page http://kubernetes.io/v1.0/docs/user-guide/walkthrough/README.html the link http://kubernetes.io/v1.0/DESIGN.html is broken. Reported by @ivant

@RichieEscarez

[2015-08-06 20:45] bgrant0607 commented on #12226
cc @brendandburns

[2015-08-06 20:48] davidopp commented on #12329
Please feel free to send a PR.

[2015-08-06 20:52] jmccarty3 commented on #11819
@thatarchguy The issues appears to be that the network is not in a valid states for the salt-api to create the socket binding. Running "systemctl restart network" resolves the problem.

I updated my cluster/vagrant/provision-network.sh to call "systemctl restart network" after all the ip routes are added.

[2015-08-06 20:54] screeley44 opened #12361 "typo error in volume name section of pod json causes default of 'emptyDir' by default - should only accept approved values"
[code]

if the value specified is not in the list then an error should be thrown back to the user stating that "volume type of XXXXXX is not a valid type"

currently any value is accepted but if not recognized defaults to emptyDir type

[2015-08-06 21:00] jmccarty3 commented on #11813
I was able to resolve the issue by commenting out lines 267-269 274-276 in cluster/vagrant/util.sh

I believe those lines are left over from before kubectrl was being used. The vagrant ssh commands exit due to error. You will also run into error described in #11819  after its set up.

[2015-08-06 21:06] erulabs commented on #12337
You can roll your own Docker image, eg:

[code]

But most likely you're go about your actual goal in the wrong way. If you're trying to be able to do something like "ping mydatabase", you should look at Kubernetes Services: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/user-guide/services.md

[2015-08-06 21:09] bprashanth commented on #561
Updated the proposed resource https://github.com/GoogleCloudPlatform/kubernetes/issues/561#issuecomment-128207917

What's the motivation behind Openshift's RoutePort, can't a route just target a servcie:targetPort directly and abstract everything else? Is there a reason to include it in the initial route resource?

[2015-08-06 21:14] jimmidyson commented on #8379
@liggitt Any more thoughts on this? Need a way for static pods to talk securely to cluster services, secrets seem the natural way to do this but being unusable in static pods would mean finding another way to distribute them, e.g. ansible.

[2015-08-06 21:20] jimmidyson commented on #12143
@smarterclayton So are you saying this shouldn't be in the api server? Where should it live? Deployment config if merged? Being in the client is pretty horrible right now.

[2015-08-06 21:20] satnam6502 commented on #8379
Can we get rid of static pods when we have a daemon controller?

[2015-08-06 21:24] satnam6502 commented on #8379
@AnanyaKumar

[2015-08-06 21:25] smarterclayton commented on #12143
Not that I don't agree that more of this should be simple API operations - just that the design when we move it to the API server has to be carefully considered as well.

We lack the API endpoint that represents kill this rc and stop its pods together today.  I don't disagree things like that should exist - but when we do them, we should be careful to keep our current behavior of having dumb actio

[2015-08-06 21:29] smarterclayton commented on #11631
The fix doesn't fully close this issue - if the node controller crashes before delete node completes pods will be left behind.  We still have to have something to maintain the invariant

[2015-08-06 21:32] mbforbes commented on #9486
Maybe a silly question, but is this fixed? Do we still have problems with the test environment and procedure? Do we need more help here?

[2015-08-06 21:34] caesarxuchao commented on #12352
It is the intended behavior. The error message is `may not update fields other than container.image`, this means the config doesn't pass the validation, so the `kubectl replace` failed. I think in the future we will allow user to update other fields, but not now.

`--force` is very different from `kubectl replace`. Under the hood, `kubectl replace` calls etcd's `compareAndSwap` to update a resourc

[2015-08-06 21:45] davidopp commented on #11631
That's a great point.

I guess possible solutions are
* delete the pods from the "delete node" REST handler, instead of in node controller
* periodically scan all pods in the system an delete the ones whose node does not exist

[2015-08-06 21:47] AnanyaKumar commented on #8379
I'm not entirely familiar with the functionality of static pods. But if the pods don't need to run in a special privileged mode, then we can use the upcoming Daemon API object. #11801

[2015-08-06 21:50] LiranCohen commented on #11852
This just killed my entire workflow, have been battling this all day. Anyone get around it?

[2015-08-06 21:51] vishh commented on #12195
We are working on plumbing resource usage into the scheduler.
We have monit that attempts to reach out to docker periodically and restart
it if it fails to respond.

On Wed, Aug 5, 2015 at 11:36 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-06 21:53] jimmidyson commented on #8379
@AnanyaKumar Looks great! Probably would need to be privileged containers though, as they are now iirc for logging. Probably no reason to be if selinux contexts are configured properly on the hosts log files I guess.

[2015-08-06 21:55] AnanyaKumar commented on #8379
I think eventually we hope to support privileged containers in Daemon as well :)

[2015-08-06 22:14] bprashanth commented on #11852
This is a p1 based on the number of people who've complained

[2015-08-06 22:28] satnam6502 commented on #9486
Looking at Jenkins I see:
[code]

[2015-08-06 22:35] satnam6502 commented on #9486
I think the last failure occurred on 1 August and I blame something other than the test for that :-)

[code]

[2015-08-06 22:46] vishh commented on #12323
What information is required from the nodes?
The idea of separating out collection, storage and processing of config data seems very appealing to me.

[2015-08-06 22:52] jlowdermilk commented on #12352
It's literally the same config tho; nothing is being changed, so the command should be a no-op, not an invalid update.

And yes, I am running from head. Running with kubectl `1.0.1` the output is
[code]
So that's likely a regression.

[2015-08-06 22:56] dchen1107 commented on #8379
We definitely can get rid of fluentd static pod soon through daemon controller, but not sure about all master pods, especially kube-apiserver and etcd.

[2015-08-06 23:06] BenTheElder commented on #12330
I've since slightly increased my memory by another 256mb to 3328mb boot2docker base memory for building, and after building I kill the boot2docker vm with `boot2docker stop` before spinning up the vagrant cluster for e2e so I have some memory, alternately running one or the other. It's somewhat painful but it does work.

I also tend to interrupt release after the package tests and stick to `quick-

[2015-08-06 23:12] satnam6502 commented on #12330
Thanks for the tip @BenTheElder and yes I can of course increase the memory limit. I am more worried about the experience our users have when they try to build for Mac OS X because our documentation has instructions which do not work (an issue saying use 3GB). We should update that limit... but probably not to 4G but to just what is required to build successfully.

[2015-08-06 23:18] BenTheElder commented on #12330
Yeah, that's why i worded it "at least 3gb" when i updated the mac docs last, it seems to have been going up with time.

I definitely would prefer to have less memory usage when building on mac. We could try to pin down exactly how much is needed and update the docs but it will probably just go up again unless we choose an excessive amount like 4GB, so we probably need to find a way to decrease th

[2015-08-06 23:22] satnam6502 commented on #12330
@cjcullen @zmerlynn who can we get to help point @BenTheElder in a promising direction for reducing memory consumption for Mac OS X builds (or builds in general)? Thanks.

[2015-08-06 23:25] bgrant0607 commented on #5774
FYI @jszczepkowski

[2015-08-06 23:26] bgrant0607 commented on #12226
cc @lavalamp

[2015-08-06 23:28] bgrant0607 commented on #12226
@alexhersh I do think this is worthwhile, if you'd like to give it a try. The main requirement that needs to be satisfied is backward compatibility -- strings needs to continue to work.

[2015-08-06 23:49] caesarxuchao commented on #12352
I don't quite follow. What do you mean by "should be a no-op"?

[2015-08-06 23:58] jlowdermilk commented on #12352
I have `pod.yaml` file which defines the resource I want running in kubernetes. I create it with
[code]
I now want to update kubernetes to reflect changes I've made to `pod.yaml`. Now, I haven't actually made any changes, so I would expect the command to print "no changes to make" or something similar. I run
[code]
and get a message saying I can only change the image... but I haven't changed *anyt

[2015-08-07 00:02] caesarxuchao commented on #12352
Oh, I see, that is a bug. Thank you for the explanation. I'll take a look.

About the error message, what I got on my cluster is:
[code]
which is what I would expect.

[2015-08-07 00:13] cjcullen commented on #11852
@nikhiljindal Are we pretty confident that the swagger UI change is what caused this? Is there an easy way to exclude that from dev builds?

[2015-08-07 00:14] cjcullen commented on #12330
#11852 just got bumped up to a P1, but doesn't have an owner yet.

[2015-08-07 00:48] bprashanth commented on #11852
https://github.com/GoogleCloudPlatform/kubernetes/issues/11852#issuecomment-125986517 seems to indicate that that is at least a part of the problem

[2015-08-07 00:53] bgrant0607 commented on #12143
I agree with @smarterclayton. It's not about whether we should do this, but how.

[2015-08-07 00:54] nikhiljindal commented on #11852
Does removing "-nocompress" while building the datafile help: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/build-ui.sh#L44?

As per https://github.com/GoogleCloudPlatform/kubernetes/pull/2760#issuecomment-65753657, it seems we added it due to memory issues!

cc @liggitt @brendandburns

[2015-08-07 00:55] bgrant0607 commented on #12143
@jimmidyson Do you have specific features in mind?

[2015-08-07 00:58] dchen1107 commented on #12338
cc/ @thockin

[2015-08-07 00:58] bgrant0607 commented on #1629
In progress: #12217

[2015-08-07 01:34] nikhiljindal commented on #11852
Re: not building swagger-UI. Whether to expose swagger-ui or not is a runtime flag, so we always build and import pkg/ui/data/swagger:

[2015-08-07 01:46] fzu-huang commented on #12337
@thockin @erulabs
well ,  i am not good at english..    : (
I am going to start a heapster, it will do some https requests to a hostname(my  kubenetes master's hostname, not IP) because my certification is build by hostname but not hostIP, so when heapster is running, I have to add a column to the container's  /etc/hosts, or it will find no route for the host.

[2015-08-07 01:47] lucmult opened #12375 "Document master <-> node communication"
Document what ports and protocols are needed to have master <-> node communication fully working.

The scenario is:
- User wants to harden the node and master network configuration by having the minimal network ports exposed to public.
- Specially having master and node running with public/external IPs on cloud providers

I personally would expect this documentation on "Cluster Administration" sec

[2015-08-07 02:13] liggitt commented on #12327
I don't think so... I don't want object validations that look up other objects. We should either tolerate the annotation or delete the secret in the controller reconciliation (which is what currently happens)

[2015-08-07 02:15] liggitt commented on #8379
I still don't think static pods can ever assume an API connection exists, which is needed for secrets. I also think the daemon controller will be the "right" way to run something on every node, but I have no idea on the eta of that

[2015-08-07 02:22] liggitt commented on #11852
`-nocompress` makes things far better, don't remove it

[2015-08-07 02:26] fzu-huang commented on #10159
@wangzhezhe 谢谢！
so  what i need to do is  just edit a conf and load it when i create key and crt  by openssl~?
i'll try it !

[2015-08-07 02:33] dalanlan commented on #12327
Any particular reason to avoid cross validation (too much overhead or sth)? 'cause it could be confusing to the user without any error messages.

[2015-08-07 02:34] smarterclayton commented on #11631
The latter is being discussed in a similar issue - I hit most of this while
testing graceful deletion and the decision to not use TTL means we need to
watch pods as well anyway for some edge cases.

On Aug 6, 2015, at 10:31 PM, David Oppenheimer <notifications@github.com>
wrote:

That's a great point.

I guess possible solutions are

   - delete the pods from the "delete node" REST handler, instea

[2015-08-07 02:34] brendandburns opened #12377 "TestReflector_resyncChan is flaky"
[code]

[2015-08-07 02:46] smarterclayton commented on #561
On Aug 6, 2015, at 10:28 PM, Prashanth B <notifications@github.com> wrote:

I think this should be an easily configured admin choice - that's the best
of both worlds - choose to bind routes to new lbs if a flag on controller
manager says so, or similar.

SG.

I'd potentially suggest we not have claims for routes, but instead let
routers claim routes. A route is a claim (effectively) though so I do

[2015-08-07 02:47] smarterclayton commented on #561
On Aug 6, 2015, at 10:37 PM, Jordan Liggitt <notifications@github.com>
wrote:

I'd want to be a little more explicit about the desired tls mode of the
route:

   1. passthrough
   2. terminate (optional cert/key if needed for the requested host)
   3. re-encrypt (optional cert/key if needed for the requested host,
   optional CA bundle for establishing the re-encrypt)

That's right, the router can

[2015-08-07 02:50] dalanlan commented on #12337
IIUC, what @erulabs tells you is exactly the right thing to do.
You can build your own docker image and try it out.

[2015-08-07 03:46] sandish2222 commented on #11222
i got the same issue , and removing ServiceAccount of admission_controll works.

Thanks.

[2015-08-07 03:51] thockin commented on #11965
Does this produce a per-flow limit or global?  Global seems like DoS waiting to happen

[2015-08-07 04:04] jdef commented on #12281
/cc @sttts

[2015-08-07 04:34] pfremm commented on #11222
If you configure your cluster to use certs in kube-apiserver you can leave the ServiceAccount setting.

[2015-08-07 04:53] karlkfi commented on #11852
I ran into this several times today on my boot2docker with 4gb ram allocated, even just building the linux binaries without updating the swagger spec. `boot2docker stop && boot2docker start` (rebooting the vm) usually cleared up enough memory to build again, for a while.

[2015-08-07 04:54] MrFishFinger opened #12379 "kube-apiserver 1.0.2 - "Unable to perform initial IP allocation check""
Kubernetes release 1.0.2 on a couple of DigitialOcean CoreOS stable 723.3.0 machines with a cloud-config.yaml.

I am having lots of issues with kube-apiserver crashing on the master machine:

**kube-apiserver errors:**

[code]

**kube-controller-manager and kube-scheduler:**
_(which are likely caused by kube-apiserver being unavailable on port 8080)_

[code]

[code]

**Cloud-config file for master

[2015-08-07 04:56] thockin opened #12380 "Kubelet blows away manual changes to mirror pods"
I found my fluentd pods (mirror pods) that were created by kubelet.  I made a manual change to one of them (changed the image).  I updated the pod successfully.  Kubelet immediately destroyed my changes.

As per conversation with @dchen1107, we should probably respect the changes made through the apiserver or else maybe block them?  Proposal was to save the hash of the file into an annotation.  Up

[2015-08-07 04:59] mariomarin opened #12381 "AWS elb creation fails when there are multiple subnets in one AZ"
I am trying to launch an ELB with kubernetes from cloudformation. I created the VPC, named it *kubernetes-vpc*, then,  I created the subnets.

I need the RDS instance for a CI environment, so finally, I launched the RDS instance and the RDS wizard, with my consent, created a new subnet in an availability zone used by another subnet inside *kubernetes-vpc*.

This is the error message I get when the

[2015-08-07 05:00] karlkfi commented on #11795
Not all of the examples have been tested on Kubernetes-Mesos.
It looks like you're missing a requires port name (a mesos-specific requirement). I don't know the exact reason for that, but it's documented on the mesos/contrib known issues page: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/contrib/mesos/docs/issues.md

@jdef may have more details on why.

Let us know if that solves

[2015-08-07 05:09] karlkfi commented on #11744
IIRC Mesos defaults to keeping it's state in `/tmp`, which doesn't survive restarts on some OSes. You may need to configure that location to be somewhere else. It should auto-reschedule running tasks after a restart. Tho it also kinda depends on how you're starting up the k8s core components. They'll either need to be in Marathon or set up in upstart (or similar) to come up on boot.

[2015-08-07 05:10] thockin commented on #12338
This is the phantom jobs problem.  It's real and it's tricky.  In Borg we
could tell people to link a library to voluntarily self-terminate when they
detected they were a phantom, but that's not tenable in OSS.

I'm not an expert in all the solutions here, though

On Thu, Aug 6, 2015 at 5:58 PM, Dawn Chen <notifications@github.com> wrote:

[2015-08-07 05:13] karlkfi commented on #10943
The coreos/etcd in dockerhub is ancient. The quay.io registry is the canonical repo updated by CoreOS. Did you specify `-p 4001:4001`?

[2015-08-07 05:15] jdef commented on #11795
@loky9000 which endpoint-controller are you using?

k8s-mesos implements some workarounds for people that have default docker networking (non-cluster-routable IPs for containers). as part of these workarounds, for each pod instance we allocate a host port for each pod port and create endpoints such that they map to the hostIP:hostPort of the pod, instead of the k8s default (podIP:podPort). connect

[2015-08-07 05:18] karlkfi commented on #10943
I think the latest version listens on 127.0.0.1 by default, which is limited to local access. You'll probably need to append `-listen-client-urls http://0.0.0.0:4001` to your docker command.

[2015-08-07 05:22] karlkfi commented on #10795
xref: #10775

[2015-08-07 05:22] karlkfi commented on #10776
xref: #10775

[2015-08-07 05:22] karlkfi commented on #9119
xref: #10775

[2015-08-07 05:22] karlkfi commented on #10773
xref: #10775

[2015-08-07 05:22] karlkfi commented on #9843
xref: #10775

[2015-08-07 05:26] karlkfi commented on #10662
Duplicate of #11852 (which has more conversation.

[2015-08-07 05:26] #10662 closed

[2015-08-07 05:28] karlkfi commented on #10043
/cc @jdef

[2015-08-07 05:32] karlkfi commented on #9852
/cc @sttts Can you verify this?

[2015-08-07 05:38] karlkfi commented on #6828
/cc @jdef This is a little old.
I think this was resolved by https://github.com/GoogleCloudPlatform/kubernetes/pull/11230
Can you confirm?

[2015-08-07 05:44] karlkfi commented on #823
I'm assuming this doesn't need to still be open since #2439 was added last November... Feel free to reopen or recreate if you feel otherwise.

[2015-08-07 05:44] #823 closed

[2015-08-07 05:54] karlkfi commented on #11455
We're concentrating on [DCOS](https://mesosphere.com/learn/) as our cluster package-manager of choice at this time.

[2015-08-07 06:15] roberthbailey commented on #12380
My preference would be to just block changes to mirror pods. The kubelet isn't going to rewrite the manifest file on the node (or from the manifest URL) and it seems like that is the canonical source for the pod. If you want to have mutable pod definitions, you should create them through the apiserver in the first place. For the fluentd pods, we should move them out of the manifest and into a daem

[2015-08-07 06:15] rupsee commented on #12285
I still see a similar  issue with a somewhat different error message, "connection refused" instead of "no route to host".

Here's what I did:
 git clone https://github.com/GoogleCloudPlatform/kubernetes.git
cd kubernetes
make quick-release
export KUBERNETES_PROVIDER=vagrant
./cluster/kube-up.sh

At the bottom of the master and minion updates I see this:

xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

[2015-08-07 06:17] #10235 closed

[2015-08-07 06:18] jimmidyson commented on #12143
@bgrant0607 Rolling update is the big one really, but also replace.

[2015-08-07 06:18] mcadam commented on #11975
I tried to access it using address like https://xx.xx.xx.xx/api/v1/proxy/namespaces/kube-system/services/kube-ui on the IP of the master, which used to work when not using coreos as kube distribution.

Also I cant ping from one container to another.

[2015-08-07 06:24] rupsee commented on #12285
here's part of what I get from ifconfig from the master:
--------------------------------------------------------------------------------------------------------
cbr0: flags=4163<UP,BROADCAST,RUNNING,MULTICAST>  mtu 1500
 inet 10.246.0.1  netmask 255.255.255.0  broadcast 10.246.0.255
---------------------------------------------------------------------------------------------------------
eth0: fla

[2015-08-07 06:31] rupsee commented on #12285
Here's what "kubectl.sh config view" returns:

apiVersion: v1
clusters:
- cluster:
    insecure-skip-tls-verify: true
    server: http://127.0.0.1:8080
  name: local
- cluster:
    certificate-authority-data: REDACTED
    server: https://10.245.1.2
  name: vagrant
contexts:
- context:
    cluster: local
    user: ""
    name: local
- context:
    cluster: vagrant
    user: vagrant
  name: vagrant

[2015-08-07 06:40] rupsee commented on #12285
And finally,I'm on a RHEL 7 box - don't know if that matters.
# lsb_release -i -r
Distributor ID:	RedHatEnterpriseServer
Release:	7.0

[2015-08-07 06:52] bgrant0607 commented on #12143
Replace or scale? Your PR description mentioned replace, but you described scale ("waiting for RC to scale pods down").

[2015-08-07 06:52] mariomarin commented on #11889
@jboelter I've just finished #12346. It enables ELB creation from a cluster created with cloudformation.

If merged it will cover:

- Add IAM role for master
- Add IAM role for node
- Add --cloud-provider=aws to cmdline params

However, there is still plenty to do in order to match kube-up.sh

- Add VPC
- Create raid with ephemeral storage
- Pick docker storage (btrfs vs aufs vs others)
- Logging

[2015-08-07 06:53] bgrant0607 commented on #12143
And do you care about waiting? Because scaling doesn't actually require waiting.

[2015-08-07 06:59] davidopp commented on #11631
Ah, I guess you're talking about #12055 and #9165 (and related to #7660).

I wonder if we should revert #12277 to keep the system simpler, since the daemon you're talking about could handle this fully anyway.

[2015-08-07 07:00] jimmidyson commented on #12143
Replace with cascade scales down first iirc before delete.

I'm not too bothered about waiting but I would like to be able to possibly get the progress of the request.

[2015-08-07 08:15] nikhiljindal commented on #7660
Summarizing discussion spread across various issues and PRs (#11631, #12055 and #9165).

* We do not want to use TTL as it is not terribly efficient in etcd - it causes latency spikes under
write load and also ties us to etcd more strongly. (https://github.com/GoogleCloudPlatform/kubernetes/pull/12055#issuecomment-126718014)
* Instead, having a controller that garbage collects pods seems better.
*

[2015-08-07 08:16] bgrant0607 commented on #12298
I need to add this to the API conventions -- #12322.

Labels are the domain of users. They are intended to facilitate organization and management of API resources using attributes that are meaningful to users, as opposed to meaningful to the system. Think of them as user-created mp3 or email inbox labels, as opposed to the directory structure used by a program to store its data. The former is enab

[2015-08-07 08:21] nikhiljindal commented on #7660
@smarterclayton What about pods corresponding to deleted RCs? And pods in deleted namespaces?
Should this controller delete them as well?

And should this controller be pod specific? For ex: should we reuse the same controller to delete RCs in deleted namespaces?

[2015-08-07 08:24] hurf commented on #12280
@bgrant0607 I also noticed the function we used to format time. And I mentioned this in the PR for ideas.  In latest patch I have made the output same with the old style.

[2015-08-07 08:32] bgrant0607 commented on #12298
Well, it's probably safer to slap a prefix on the uniqueLabelKey by default (so `kubernetes.io/job`) and let the user override that with their own non-conflicting key.

[2015-08-07 08:50] dalanlan opened #12386 "Flaky usage for `--resource-container` flag of kubelet"
I was wondering what the scenario of `--resource-container` flag for kubelet fits.
The only usage provided in the src code i found locates [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/hack/local-up-cluster.sh#L271) -- to run a containerized kubelet.
[code]
Yet we have [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L696) as follow

[2015-08-07 09:17] mbilko opened #12389 "GCE machine unresponsive"
After deploying a pod without memory limit and running in this pod a program which allocates a lot of memory (more than machine has) a machine becomes completely unresponsive. It is impossible to ssh into it or check cAdvisor status.
Machine type: g1-small

[2015-08-07 09:23] MrFishFinger commented on #12379
ok looks like I was able to resolve this particular error by modifying the argument to kube-apiserver to use 127.0.0.1 instead of localhost....

        ExecStart=/opt/bin/kube-apiserver \
        --insecure-bind-address=0.0.0.0 \
        --service-cluster-ip-range=10.100.0.0/16 \
        --etcd-servers=http://localhost:2379 \

        ExecStart=/opt/bin/kube-apiserver \
        --insecure-bind-ad

[2015-08-07 09:29] wojtek-t commented on #12377
This is really strange. This test is extremely simple:
- it returns time.NewTimer(time.Millisecond)
- it creates a second channel: time.After(100*time.Millisecond)
- waits for the first element in any channel
It seems to be a problem with the testing infrastructure.

@brendandburns - where does this failure come from? I wasn't able to reproduce it locally.

[2015-08-07 09:31] wojtek-t commented on #12315
cc @piosz

[2015-08-07 09:38] piosz commented on #12315
@vishh could you please update what is your plan to reduce mem usage once you'll figured it out?

[2015-08-07 09:43] MrFishFinger opened #12390 "Unhealthy machine warning - new 1.0.2 cluster on CoreOS"
running `curl http://178.62.117.xxx:10255/healthz` from master to node returns:
[code]
.
and `kube-register` is also complaining on the master:
[code]
.
on the node itself, it was initially giving this error:
[code]
but after modifying the `/etc/hosts` file to include `127.0.0.1	node1` it seemed to progress further:
[code]

Any ideas on what is going on here?

[2015-08-07 09:55] sgotti commented on #12338
@accelazh thanks for starting this. My proposal in the related discussion started from the idea to avoid self fencing (an app trying to isolate itself by killing, or by locking) as it's not the most reliable way and can fail for multiple reason. Instead I tried to learn from cluster managers like pacemaker that does node fencing.

The simple idea/proposal that I have in mind is:
Assuming that kube

[2015-08-07 10:19] azr opened #12391 "Cluster all cranky after load testing"
Hello kubiez !

I have a golang written web service runing on kubes+gce and I blitzed it completely with blitz.io .

The app went over machine's memory which caused lots of harm. Here I believe I should have set a mem limit for the pod.

First, the cluster was unavailable for ~30 minutes ( could not kubectl anything, and nothing was restarting)

Then it started working again but weirdly, the logs

[2015-08-07 10:42] kgrvamsi commented on #12269
@brendanburns  @dchen1107  this is happening today as well all of a sudden the minions go to Not Ready state

[2015-08-07 11:10] mfrinnstrom commented on #11684
I'm having the same problem and I get no pods when running the above command.

I have installed everything manually on a couple of Ubuntu boxes following a mix of guides.

[2015-08-07 11:13] brianlund opened #12392 "[contrib] ansible playbook fails on Copy master binaries"
using both fedora 22 on AWS and RHEL7 I get the following:

TASK: [master | Copy master binaries] *****************************************
<172.31.234.22> ESTABLISH CONNECTION FOR USER: fedora
fatal: [172.31.234.22] => input file not found at /home/fedora/kubernetes/contrib/ansible/roles/_output/local/go/bin/kube-apiserver or /home/fedora/kubernetes/_output/local/go/bin/kube-apiserver

FATAL: all

[2015-08-07 11:50] bnprss commented on #3760
I'm giving a try to the black magic from your PR, but it doesn't generate anything for me, it seems the rules began to be genereted with calls to iptables then a iptables-restore file is produced.

There is miss a part in the file produced, typically the ones that have been populate with iptables call, There is the relevant part of the log :

I0807 11:41:24.560063    8369 iptables.go:327] running

[2015-08-07 12:01] gmarek commented on #8669
Closed per #11308

[2015-08-07 12:01] #8669 closed

[2015-08-07 12:35] MrFishFinger commented on #12390
by including the `--hostname_override` flag I was able to get a little further:
[code]
.
curl healthcheck from master:
[code]
.
However `kube-register` is now showing strange behaviour:
[code]

any ideas?

[2015-08-07 13:04] deads2k commented on #12327
I think that validation methods should be static check of an object.  Having individual static methods will allow them to be added to the scheme, allow client side validation,  and eliminates stateful checks.

[2015-08-07 13:12] jmferrer opened #12395 "Remember to create kube-system namespace"
In ubuntu getting started guide remember to create kube-system namespace before install addons:
https://github.com/GoogleCloudPlatform/kubernetes/compare/master...jmferrer:master

[2015-08-07 13:29] liggitt commented on #12327
In general, I'm unhappy with this indirect method of manually creating tokens (create a secret with a magic annotation and wait for "a little while"). I have a WIP pull request to move token generation to an API (https://github.com/GoogleCloudPlatform/kubernetes/pull/8866). The final shape will probably change, but I envision an API to request/create a service account token which would fail if the

[2015-08-07 14:05] BenTheElder commented on #3760
@bnprss thanks for the report, there was a recent untested change to using the "-T table" flag for `iptables-restore` during some rewrites for the review process where I removed the "*table" header. I'll put in a fix.

There may have been other regressions from yesterday that I'm unaware of but I'll be running a load of testing on it now.

[2015-08-07 14:08] perljedi opened #12398 "Node maintenance documentation out of date"
The documentation for in docs/admin/cluster-management.md suggest using:

[code]

Before bringing down a node, however kubectl says that `--patch` is not a supported option.

Is there a way at this point to mark a node as unschedulable?

BTW:
[code]

[2015-08-07 14:14] markturansky opened #12399 "Consider "attach controller" to secure cloud provider credentials"
Currently, each node in the cluster requires cloud provider credentials so that the node can attach a GCE/EBS volume.  A compromised node can lead to the exposure of those credentials.

An alternative approach would be to limit cloud provider credentials to Master and perform the attachment in a control loop that watches for newly scheduled pods.

@smarterclayton any additional thoughts or require

[2015-08-07 14:26] sttts commented on #12281
I can reproduce the problem with a multi-master docker-compose setup, compare https://github.com/mesosphere/kubernetes/blob/multi-master-mesos-docker-compose/cluster/mesos/docker/docker-compose.yml.

The following happens after I shutdown the original master (docker_mesosmaster2_1 in my case). The Mesos failover works fine (to docker_mesosmaster3_1 in my case), but the scheduler does not succeed t

[2015-08-07 14:26] sttts commented on #12281
@jdef can you test the master switch over with mesos-go? It might be broken.

[2015-08-07 14:48] BenTheElder commented on #3760
@bnprss Like you said the table header is missing ("*nat" should be the first line), it was mistakenly removed and after putting that back in everything seems to be working fine again with seemingly no other bugs (excluding: https://github.com/BenTheElder/kubernetes/issues/3). Thanks again, sorry about that. I've pushed the fix.

[2015-08-07 14:55] smarterclayton commented on #7660
On Aug 7, 2015, at 4:21 AM, Nikhil Jindal <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> What about pods
corresponding to deleted RCs?

That I think is not necessary yet, although in the future I could imagine
it happening.  It might be better to support graceful deletion of RCs via
the existing replication controller.

And pods in deleted namespaces?

Alrea

[2015-08-07 14:58] timothysc commented on #12322
cc @rrati - fyi per recent changes.

[2015-08-07 15:19] moander opened #12400 "kubectl -bash: _init_completion: command not found"
I'm having trouble with kubectl bash completion.

[code]

Error message when pressing tab:

[code]

I'm using bash_completion v1.3 from brew and kubectl v1.1.0-alpha.0.1417+c8177399965a6b

[2015-08-07 15:43] jdef commented on #6828
@karlkfi #11230 does not implement an e2e test that confirms resource accounting is working as advertised, which is the subject of this issue.

[2015-08-07 16:04] #12392 closed

[2015-08-07 16:38] satnam6502 commented on #12379
@dchen1107

[2015-08-07 16:39] satnam6502 commented on #12381
@justinsb

[2015-08-07 16:41] satnam6502 commented on #12389
Please can you provide a bit more information to allow a repo? Thank you kindly.

[2015-08-07 16:52] bgrant0607 commented on #12090
I don't want the scheduler, admission control, and other parts of the system to need to reason about what API features work with what Docker version. We'd need to be able to consolidate the logic into something akin to a feature map evaluated in a single place, such as admission control.

I'm not saying it's the best thing to do, but internally we push this problem onto users. Not all kernel and c

[2015-08-07 16:53] runningwild commented on #11824
Ok I think ARG_MAX is not the problem, I think that error was shown because those base64 values happened to have a '=' in them and systemd actually expects the kube-env file to be in KEY=VALUE format, not yaml format like it is now.  The '=' made it look like it might be a KEY=VALUE pair, but it's not the right format for that so it throws that error, which I mistakenly interpreted as an ARG_MAX p

[2015-08-07 17:01] bgrant0607 opened #12402 "kubectl flag to sort by specified column(s)"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/pull/11951/files#r35729814

cc @brendandburns @mvdan

[2015-08-07 17:07] satnam6502 commented on #12391
@a-robinson

[2015-08-07 17:18] accelazh commented on #12338
If I didn't got it wrong, k8s use etcd to do its leader selection, locking and consensus staff for itself. Does the phantom jobs problem also exists in k8s itself?

If so, when k8s is doing the fencing for us, would there be phantom fencings too, urmm ...?

[2015-08-07 17:28] bnprss commented on #3760
Nice job, rules are loading and seems to work from the inside but no luck with externalloadbalancer no communication from the outside give answer.

[2015-08-07 17:33] BenTheElder commented on #3760
Huh. Could you move over to the PR and provide some more details? So far
it's been working well but I don't deploy myself beyond local testing and I
don't think any of the other testers were using an external load balancer.
On Aug 7, 2015 1:29 PM, "bnprss" <notifications@github.com> wrote:

[2015-08-07 17:37] vishh commented on #12214
@yujuhong: Are you planning on working on this? If not, I can pick it up.

[2015-08-07 17:38] smarterclayton commented on #12399
In the future, this might also impact fencing for other storage solutions
as well - where the "attach" controller is doing something like taking a
lock for volume source.

On Fri, Aug 7, 2015 at 10:14 AM, Mark Turansky <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-07 17:40] yujuhong commented on #12214
I'll take a shot at this. @vishh, are either you or @dchen1107 planning to write down some basic guidelines for this? It doesn't have to be a polished, comprehensive doc, but I'd like to have something to start with. Thanks! :-)

[2015-08-07 17:51] countspongebob opened #12409 "1.1 roadmap update - Docker 1.7/1.8 target"
https://github.com/GoogleCloudPlatform/kubernetes/milestones

Per contributor meeting today, could we update doc to specify Docker 1.7.1 as minimum, and 1.8.x as aspirational?

[2015-08-07 17:51] bnprss commented on #3760
Yep, for the details I'll conduct further inquiries and will produce some logs or leads on PR, but not before tomorrow, I'd like to have some good backup job to run before potentially breaking something.

Can you compute the token of the rules without separators "-_" ?

[2015-08-07 17:57] smarterclayton commented on #12298
No disagreement on the above.

On Fri, Aug 7, 2015 at 4:17 AM, Brian Grant <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-07 18:01] smarterclayton commented on #12143
Scaling an RC down to zero gracefully sounds like graceful termination of
an RC to me.  I don't think however graceful termination is flexible enough
to do that today because we just don't have the experience in using it.

On Fri, Aug 7, 2015 at 3:00 AM, Jimmi Dyson <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-07 18:01] BenTheElder commented on #3760
@bnprss, great.
The generated rule chains for services are a hash of the service port / endpoint and then base64 url encoded and truncated. KUBE-SVC-<hash>. The code is here: https://github.com/GoogleCloudPlatform/kubernetes/pull/9210/files#diff-d51765b83fe795b469e8a86276b12dc9R321
We chose this as a way to generate valid chain names that will meet the character limit in iptables while still being

[2015-08-07 18:07] #8929 closed

[2015-08-07 18:15] bnprss commented on #3760
I'm ok with that, and this is really cosmetic! :)
But this differ from the things I saw before :
gce lb rules : a07f76b3b2ec311e59e2642010af0479
gce fw rules : k8s-fw-a7ecad94f3ba511e59e2642010af0479
gce routing rules : default-route-6973e029b504a0e8
gce routing to node : obfuscated_cluster_node-43506797-2eb2-11e5-9e26-42010af04793

this one is nice:
KUBE-SVC-6ADi2TVfn7mFPvBjC56
those ones are fun

[2015-08-07 18:16] dchen1107 commented on #12409
This is a reasonable request, and I marked https://github.com/GoogleCloudPlatform/kubernetes/issues/8918 for 1.1 and will send pr shortly.

[2015-08-07 18:20] BenTheElder commented on #3760
Yeah I'm not exactly a fan of them either, we could perhaps change the hash
encoding.

On Fri, Aug 7, 2015 at 2:16 PM, bnprss <notifications@github.com> wrote:

[2015-08-07 18:25] bgrant0607 commented on #12409
Done

[2015-08-07 18:25] #12409 closed

[2015-08-07 18:27] bgrant0607 commented on #12143
I'd really like to move to the exist-dependency model and rely on the garbage collector to clean up the pods.

Whether or not there's a way to wait for them to be cleaned up, which certainly needs graceful termination, is a separate issue.

[2015-08-07 18:28] bnprss commented on #3760
Yes, it can be possible only use the truncated part of SHA, git is ok with that, docker too, and seems to be the way the other reference to kube entities are made. In case of collision in the generated hash base64 won't help. ;)
I guess @thockin could advise on that point.

[2015-08-07 18:31] BenTheElder commented on #3760
I was more-so concerned with valid characters in iptables, which I had
difficulty finding a good reference for. I'll look into this further
shortly.

On Fri, Aug 7, 2015 at 2:29 PM, bnprss <notifications@github.com> wrote:

[2015-08-07 18:39] bharbhi opened #12412 "Bringup of Kubernetes Cluster on Ubuntu fails"
Image used: Ubuntu Cloud image: trusty64.
Created using Vagrant
URL followed: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

Issue:

1) Cluster does not comeup when following the instructions in the URL.

2) The issue is when validating minion. The script gets stuck in a loop. Pls note that i have ssh-keygen on all the servers and have copied t

[2015-08-07 18:46] philips commented on #12338
@sgotti Instead of relying on killing the host running the kublet could we deny/kill service connections coming from the "dead kubelet" to other services through the service proxy?

[2015-08-07 18:48] bgrant0607 commented on #7660
If we're going to have a general-purpose GC component, which I agree would be useful, I'd like it eventually to handle existence dependencies of other objects, as described https://github.com/GoogleCloudPlatform/kubernetes/issues/1535#issuecomment-91413501

[2015-08-07 18:51] smarterclayton commented on #11631
I merged Dawns changes into mine - it doesn't make the system worse I don't
think (but I agree we should reduce the complexity of node controller when
we introduce the other controller).

On Fri, Aug 7, 2015 at 2:59 AM, David Oppenheimer <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-07 18:52] yuvipanda commented on #11172
What exactly are the 'correct options'?

[2015-08-07 18:53] yuvipanda commented on #11172
Can someone either modify the docs to match reality or point out how to do a hand rolled setup without needing to use salt / ansible? (mostly because I'm trying to setup a puppet version)

[2015-08-07 18:54] smarterclayton commented on #11908
It does.  Conditions is a general convention api-conventions.md
<https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/api-conventions.md#typical-status-properties>
-
rather than rely on an enumeration, we prefer to represent possible
conditions.  Allows future conditions to be added in a backwards compatible
way without breaking clients.

On Thu, Aug 6, 2015 at 3:00 PM, Karl Is

[2015-08-07 18:55] yujuhong commented on #12380
I agree with @roberthbailey. Allowing changes to mirror pods through the apiserver can certainly become a source of confusion. For example, if user made different changes to the manifest file and the pod through apiserver, kubelet would be left to resolve the conflicts, which should really be apiserver's job. It'd also be hard for user to debug which pod is running on the node given that apiserver

[2015-08-07 18:57] smarterclayton commented on #561
RoutePort is currently kind of broken - it was done before multiport
services.  The behavior should be to target one or more ports by
identifying what port to target from the route (because you could have 3
ports on your service, or have a headless service).  @liggitt or @pweil-
could say more.

On Thu, Aug 6, 2015 at 5:10 PM, Prashanth B <notifications@github.com>
wrote:

--
Clayton Coleman | Lea

[2015-08-07 19:07] caesarxuchao opened #12413 "[WIP] Make expapi an API group"
#12001 introduce the experimental api prefix, but it's not introduced as an API group and it thus has to share the version with the official API (i.e., v1).

As suggested in https://github.com/GoogleCloudPlatform/kubernetes/issues/10009#issuecomment-122135884, we can make API group part of the API version to expedite its prototyping.

Here is a laundry list of works required to refactor expapi as

[2015-08-07 19:12] pweil- commented on #561
RoutePort was originally intended to offer the ability to open a custom frontends that routed to your service.  That said, we do need to account for multi-port services.

Custom frontends defined by routes could open up  a can of worms.  While they're possible to implement I think it has the potential to conflict with scheduling unless you can define a rule that only one host networked container c

[2015-08-07 19:32] bgrant0607 commented on #12226
This would also make it easier to use annotations to represent experimental fields exposed through new API versions when we serialize the resources using v1 in etcd.

I think we should be able to retain backward compatibility, but might need our own polymorphic type, similar to IntOrString.

cc @caesarxuchao

[2015-08-07 19:54] vishh commented on #11710
We are working on improving the kubelet APIs which will subsume cadvisor APIs. Until then setting cadvisor port to '0' is probably the way to go.

[2015-08-07 20:01] davidopp commented on #12298
Why "in a new namespace, in a new cluster"? I thought labels are scoped to namespace (and certainly to cluster).

How would you recommend to set the suffix for the case in this issue (job)? You mentioned timestamp earlier, since that's what we use internally for job, which seems reasonable.

[2015-08-07 20:15] nikhiljindal commented on #11852
Reverting the swagger-ui update in https://github.com/GoogleCloudPlatform/kubernetes/pull/12415 as people report that that fixes the issue.

[2015-08-07 20:54] satnam6502 commented on #12412
@zmerlynn @derekwaynecarr can either of you help or is there someone else we can ask?

[2015-08-07 21:14] satnam6502 opened #12417 "Etcd failure should recover from SIGKILL end to end test flaky"
This test seems to be flaky of late. Please can someone investigate.
[code]
@ixdy

[2015-08-07 21:36] dchen1107 commented on #4121
Kubelet should also back off when pulling a bad image too.

[2015-08-07 21:38] dchen1107 commented on #4121
#9452 might cause pulling images events generated by kubelet upon a bad image name.

[2015-08-07 21:43] bgrant0607 commented on #11814
cc @brendandburns @RichieEscarez

[2015-08-07 21:54] bcwaldon opened #12418 "Read flags from environment variables"
In order to simplify configuration of the Kubernetes components, each component should parse its own flags from the constructed environment, setting its flags based on the variables it finds. This will simplify configuration of Kubernetes components under complex init systems such as systemd, where it is a common pattern to overlay several files on one another to allow both the operating system ve

[2015-08-07 22:01] ecnahc515 commented on #12418
This would really be as easy as using one of the following options in spf13/cobra:

https://github.com/spf13/viper#working-with-environment-variables

[2015-08-07 22:07] bgrant0607 commented on #12352
http://kubernetes.io/v1.0/docs/user-guide/managing-deployments.html#in-place-updates-of-resources

[2015-08-07 22:09] bgrant0607 commented on #12352
It's not a bug.

[2015-08-07 22:10] jdef commented on #9852
it looks like this was filed against a buggy version of the getting started guide. it has since been corrected so I'm closing this out.

[2015-08-07 22:10] #9852 closed

[2015-08-07 22:11] bgrant0607 commented on #12352
Dupe of #11157

[2015-08-07 22:11] #12352 closed

[2015-08-07 22:12] jlowdermilk commented on #12352
If it's not a bug, then my original questions stands: why is `--force` not the default or simply absorbed/removed (i.e. `kubectl replace` always means `kubectl replace --force`) if the command will always fail without it?

[2015-08-07 22:12] bgrant0607 commented on #12352
It doesn't always fail. You have invalid expectations. Do a get, modify, replace.

[2015-08-07 22:15] jlowdermilk commented on #12352
Ah I see. That warrants a mention in help text, as I incorrectly assumed replace would work with partial schema files. I'll make that change and divert other questions about usefulness of replace to #11157.

[2015-08-07 22:16] bgrant0607 commented on #12352
Thanks. If you'd like to help with #1702 or #8263, which will improve user experience in this area, that would be welcome. I'd like to get those into 1.1.

[2015-08-07 22:19] bgrant0607 commented on #9329
This issue is old, but I believe the high-level problem is still valid. Users need to pull the ingress IP out of the json/yaml:
http://kubernetes.io/v1.0/docs/user-guide/connecting-applications.html#exposing-the-service

[2015-08-07 22:24] caesarxuchao commented on #12352
Oh, I forgot that you need to fill in all the fields. Sorry @jlowdermilk.

[2015-08-07 22:26] smarterclayton opened #12420 "Event text for failed volume mount is bad"
Event generated for a missing mount is bad - the debug gorp makes the message difficult to read.

[code]

should be

[code]

[2015-08-07 22:26] smarterclayton commented on #12420
@markturansky

[2015-08-07 22:53] thockin commented on #12226
This would be a cute trick, but it might wreak havoc on client libraries.  I know we can trick Go into doing things, I don't know about other languages...

[2015-08-07 22:55] erictune opened #12422 "Improved memory usage measurements"
A container's memory limit is implemented by setting `/sys/fs/cgroup/memory/$CGROUP_PATH/memory.limit_in_bytes`.

In order for a vertical pod autoscaler (#10782) or a human to set a memory limit accurately, an accurate measurement of memory usage is needed.

"Needed" is not the same as "usage".  We want to use "Needed" so that, for example, we don't count pages that were read at startup but aren't

[2015-08-07 22:56] bgrant0607 commented on #12226
cc @abonas @jimmidyson for input on clients in at least one other language

An alternative would be a new `extensions` field, perhaps parallel to metadata rather than a child of it. That was proposed last December IIRC.

[2015-08-07 23:05] erictune commented on #12422
One problem is that the kernel only moves pages between inactive and active state when there is memory pressure.

So, you may see bumpy time series of memory usage, with bumps when there is a memory pressure event.

Also if you have container A on machine 1 and container B on machine 2, which are from the same replication controller, and actually have very similar memory usage patterns, you could

[2015-08-07 23:05] ixdy commented on #6605
@justinsb any update on the possibility of open-sourcing the dashboard you wrote? We'd love to start aggregating test results from GCE, AWS, RedHat, etc somewhere.

[2015-08-07 23:14] erictune commented on #12422
So, what you want is something that applies gentle, steady, consistent pressure to memory, so that you can discover the actual memory needs of a container.

About 4 years ago, Linux kernel patches were proposed which did this.  They are called [idle page tracking / working set estimation](https://lwn.net/Articles/459269/).  I think they work great.  Upstream did not take the patch.

Now, a differe

[2015-08-07 23:15] erictune commented on #12422
FYI interested people:
@andreslagarcavilla
@rjnagal
@vmarmol
@dchen1107
@thockin

[2015-08-07 23:17] jdef commented on #11455
as @karlkfi indicated, this isn't on our roadmap. if someone in the community wants to take this up we'll be happy to review PR's.

[2015-08-07 23:18] erictune commented on #12422
Not sure there is anything to do with this issue until something happens with the kernel patch, and kernels start to pick it up.

[2015-08-07 23:18] brendandburns commented on #12219
fixed by https://github.com/GoogleCloudPlatform/kubernetes/pull/12247

[2015-08-07 23:18] #12219 closed

[2015-08-07 23:19] erictune commented on #12422
@bgrant0607

[2015-08-07 23:21] jdef commented on #11744
The k8s-mesos cluster state is stored in etcd, just as in stock k8s. The mesos state that's stored in /tmp by default is for the mesos task sandbox. Cluster deployment state is not saved there.

[2015-08-07 23:22] erictune commented on #12422
Also, if we decide to do overcommitment separate from vertical autosizing, this will help the scheduler make better decisions.

[2015-08-07 23:28] brendandburns commented on #9329
This is no longer true (looks like it hasn't been true since https://github.com/GoogleCloudPlatform/kubernetes/pull/8707)

I will update the docs.

[2015-08-07 23:33] dchen1107 commented on #7294
I don't want to support memory-swap by default, at least for a near future

1) It won't work well with our qos proposal: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/proposals/resource-qos.md

2) The workloads asking for Guaranteed resource will not use it. They need repeatable latency to memory. They want predictability on performance too.

3) Adding swap slows down jobs and

[2015-08-07 23:39] bgrant0607 commented on #2585
This issue is largely obsolete. Service/LB changes continue to be discussed in other issues, such as #561.

[2015-08-07 23:39] #2585 closed

[2015-08-07 23:42] bgrant0607 commented on #9329
Thanks for the doc update. However, I think it would be useful to distinguish between internal and public IPs explicitly, by using different columns.

[2015-08-07 23:48] brendandburns commented on #9329
ok, sg.

[2015-08-07 23:52] smarterclayton opened #12424 "Describe volumes in rc and pod"
Volumes should be described (including mount points) and their types

[2015-08-08 00:02] BenTheElder commented on #3760
@bnprss fyi the PR is pretty unstable and being redone, per thockin, we're trimming out NodePort etc for now and focusing on getting a simpler, cleaner version with support for portals, then working back up to full parity.

I would *not* try to run this right now, but it'll be back soon hopefully. Breaking the PR up into some smaller related ones then pushing a clean one with the iptables-proxy st

[2015-08-08 00:15] philips commented on #11710
@vishh Is there an issue and target date for doing this?

[2015-08-08 00:16] bgrant0607 commented on #9329
Summarizing side conversation...

Current output looks like:
[code]

Output conventions were discussed in the get pods issue:
https://github.com/GoogleCloudPlatform/kubernetes/issues/7843#issuecomment-101365459

I'd like get output to be one line per resource.

In this case, I'd eliminate the labels column, since `-L` supports specifying labels as columns.

I'd move selector to be the rightmost fi

[2015-08-08 00:17] bgrant0607 commented on #9329
We could call the public IP/name column "INGRESS", to match the API.

[2015-08-08 00:22] bgrant0607 commented on #8476
I see the utility, but it doesn't seem viable without abbreviation for long kind names, like REPLICATION_CONTROLLER.

[2015-08-08 00:27] smarterclayton commented on #8476
We can expose our existing abbreviations - not having them makes the core
operations suck for users anyway.  Would users recognize "svc", "rc",
"pvc", etc?  Some of the abbreviations are harder "limitquota" and
"serviceaccount"

On Aug 7, 2015, at 8:22 PM, Brian Grant <notifications@github.com> wrote:

I see the utility, but it doesn't seem viable without abbreviation for long
kind names, like REP

[2015-08-08 00:33] bgrant0607 commented on #8476
What do you mean by "expose"? Just in kubectl output, or api paths, or...?

LimitQuota: `lq`
ServiceAccount: `svcacct`

Some of the abbreviations are obscure, though (e.g., `po`).

[2015-08-08 00:51] smarterclayton commented on #8476
Expose via restmapper or the command factory for convenience.  They're
almost abstracted today.

"po" is pointless since "pod" works.  But HorizontalPodAutoScalar might be
a mouthful - hpodas?

On Aug 7, 2015, at 8:34 PM, Brian Grant <notifications@github.com> wrote:

What do you mean by "expose"? Just in kubectl output, or api paths, or...?

LimitQuota: lq
ServiceAccount: svcacct

Some of the abb

[2015-08-08 00:53] bprashanth commented on #561
Another idea we discussed was to move from a service-per-route model, to a service-per-path model. Eg:

[code]

That seems to fit better with my mental model of a website with multiple endpoints serviced by different groups of pods, all sharing a common security policy.

The openshift model is to have a route for /prod and another for /test, and since they all join the same router things work out.

[2015-08-08 01:11] bgrant0607 opened #12426 "Comments in kubectl examples should use bash comments, not Go comments"
For example:
[code]

It should be:
[code]

[2015-08-08 01:15] smarterclayton commented on #561
It seems like a different concern - the ability to request a specific
custom edge endpoint can definitely fail in a lot of environments, so we'd
make it a request.  I don't think it's wrong to be able to specify a
constraint.

On Aug 7, 2015, at 3:12 PM, Paul Weil <notifications@github.com> wrote:

RoutePort was originally intended to offer the ability to open a custom
frontends that routed to you

[2015-08-08 01:19] smarterclayton commented on #561
I don't think joining is terrible.  The route is an atomic unit of change,
in some cases I'd prefer to change one route from a blue to green
deployment than two.  I think we could make the argument paths together is
strictly better than paths separate.

On Aug 7, 2015, at 8:54 PM, Prashanth B <notifications@github.com> wrote:

Another idea we discussed was to move from a service-per-route model, t

[2015-08-08 01:55] bgrant0607 commented on #12422
Yep. We've discussed creating memory pressure by continuously changing limit.

In lieu of userspace OOM delegation, we've discussed using "canary" containers with higher OOM scores.

cc @vishh

[2015-08-08 01:56] bgrant0607 commented on #12422
cc @jszczepkowski @fgrzadkowski

[2015-08-08 01:57] bgrant0607 commented on #12422
cc @ncdc @eparis @smarterclayton

[2015-08-08 02:33] bprashanth commented on #561
Ok, so it sounds like the main reason is that a single-service-per-route keeps it hermetic. I mostly buy that. I also like small resources because they're easier to update, watch, display etc, and I can invalidate a single path<->service map (eg: because the service doesn't have nodeport, which is currently required for gce l7).

So the model we're assuming is: a hostname + multiple url endpoints,

[2015-08-08 02:49] bgrant0607 opened #12428 "Optional image validation in kubectl"
Users find out late if they specify an invalid image, which contributes to a poor experience and is expensive for the system. #4121

We could add an option to kubectl to verify the image exists. It won't necessarily work for all images (e.g., private images).

Podex has some code to get image metadata, but it targets the old registry API:
https://github.com/GoogleCloudPlatform/kubernetes/blob/mast

[2015-08-08 02:51] bgrant0607 commented on #425
This is obsolete.

[2015-08-08 02:51] #425 closed

[2015-08-08 03:25] thockin commented on #561
I'm having a hard time seeing the whole picture from this thread.  I want
to be the voice of "do the simplest thing we can get away with", here.  I
argued with Prashanth that the multitude of tiny route objects feels
awkward to me.  Admittedly, I am not the webbiest guy, but my mental model
is really: Some set of inputs arrive at a mux which decides based on path
which backend Service:Port to send

[2015-08-08 03:47] thockin commented on #12226
Whether we use the same field or another, I'd like some input on how
hostile (or not) this is to clients.  Trying to imagine doing it in C++,
for example...

On Fri, Aug 7, 2015 at 3:57 PM, Brian Grant <notifications@github.com>
wrote:

[2015-08-08 03:57] bgrant0607 commented on #12226
I don't see a problem. It's generic json: maps, lists, strings, etc. A schema isn't necessary to parse it.

[2015-08-08 04:04] thockin commented on #12226
no, no schema required, just non-obvious marshalling/unmarshalling.  Or
maybe this is de rigeur and I'm just a whiner.

On Fri, Aug 7, 2015 at 8:58 PM, Brian Grant <notifications@github.com>
wrote:

[2015-08-08 04:11] smarterclayton commented on #561
I may not have expressed it clearly, but having multiple paths and services per route doesn't seem so bad (nor multiple hosts) because you can change them atomically (which when doing a blue-green cutover has some advantages).  We did not start with that due to caution, but in practice folks have asked for it.

[2015-08-08 04:12] brendandburns commented on #9329
Ok, I updated #12423

Example output:
[code]

I adopted `<none>` (and fixed the `<n/a>` to be `<none>` too) since I think that looks better than empty string.

Also, note that your spec didn't mention age, but all of the other things have age last, so I kept it for consistency.

ptal.
--brendan

[2015-08-08 04:13] thockin commented on #12338
There's more at stake than the service proxy.  Storage, in particular.
Killing a node is probably the most certain way to go about this, but it
does impose some difficult requirements on bare-metal installations.

On Fri, Aug 7, 2015 at 11:47 AM, Brandon Philips <notifications@github.com>
wrote:

[2015-08-08 04:15] thockin commented on #561
Gotcha.  That sort of approximates GCE's API, too.  We do need to think
about what is possible in AWS and others before we design something
unimplementable.

@justinsb (should have looped him in sooner, sorry).

On Fri, Aug 7, 2015 at 9:12 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-08-08 04:27] pmorie commented on #12090
@bgrant0607 Interesting.  Here's a semi-related problem: which nodes have SELinux enabled?

[2015-08-08 04:32] bgrant0607 commented on #9329
Thanks. Looks great. Yes, AGE was added very recently. It makes sense for it to be last.

In order for cut, etc. to work, we need a uniform number of columns, so please use CLUSTER_IP and EXTERNAL_IP.

[2015-08-08 04:33] pmorie commented on #10956
It would be good to have this to fix stuff like: http://kubernetes.io/v1.0/docs/user-guide/annotations.html

Completely reasonable looking JSON fragment in markdown renders with nasty red error flag

[2015-08-08 04:34] BenTheElder commented on #3760
From @thockin  on an old soon to be squashed commit, talking about `syncProxyRules()`:

I feel like this is more complex that it needs to be. If we set up the chains right it should be a simple case of asserting what we want and then cleaning up after.

Something like:
[code]
The layout this makes is :

OUTPUT & PREROUTING jump to KUBE-SERVICES
KUBE-SERVICES checks for accesses to portals and jump

[2015-08-08 04:35] BenTheElder commented on #3760
My reply to above comment, also soon to be squashed away:

Discussed in IRC:

 - will still need to handle counters, but want to keep parsing of state in util/iptables package.
 - still need hashing or similar to handle chain length limits

Otherwise seems like a very clean simplification, will implement after some more discussion.

[2015-08-08 04:36] thockin commented on #11684
kubectl get events ?

On Fri, Aug 7, 2015 at 4:10 AM, Mattias Frinnström <notifications@github.com

[2015-08-08 04:39] thockin commented on #3760
For those of you playing at home, I am confident we can get it up to full
parity, but it will be vastly easier to review in stages :)

On Fri, Aug 7, 2015 at 9:35 PM, Benjamin Elder <notifications@github.com>
wrote:

[2015-08-08 04:42] smarterclayton commented on #561
If we do have multiples we have to consider partial rejection on shared
routers for duplicate hosts or paths.

On Aug 8, 2015, at 12:15 AM, Tim Hockin <notifications@github.com> wrote:

Gotcha. That sort of approximates GCE's API, too. We do need to think
about what is possible in AWS and others before we design something
unimplementable.

@justinsb (should have looped him in sooner, sorry).

On F

[2015-08-08 04:44] satnam6502 opened #12429 "e2e test failing on ResourceUsage should not exceed expected amount."
Since 4:25PM the e2e test `ResourceUsage should not exceed expected amount` has been failing.
Looking at the last batch of merged PRs I can't tell if any of them are responsible, either individually or in combination. Please can the PR authors @eparis @BenTheElder @nikhiljindal @gmarek @feihujiang @yifan-gu have a think about whether their change could have caused:
[code]
@ixdy @quinton-hoole @dch

[2015-08-08 04:56] BenTheElder commented on #12429
Looking. I don't _think_ anything I did would have.

[2015-08-08 05:13] bgrant0607 commented on #12090
Notes from today's hangout:
* Conditionalize only inside Kubelet if possible
* Export feature attributes and runtime kind (Docker, Rocket) and version as node labels
* Potentially add constraints (nodeSelector) in admission control
* Users should always be able to add constraints as an escape hatch

I think the alternatives are:
1. represent all attributes as labels
2. represent semantically meani

[2015-08-08 05:27] pmorie opened #12430 "Add mtime to ObjectMeta"
`ObjectMeta` already stores the creation and deletion timestamps; it should store last modified time as well.  Splitting off from #12324.

[2015-08-08 05:27] pmorie commented on #12430
@ncdc @derekwaynecarr

[2015-08-08 05:32] smarterclayton commented on #12430
What defines last modification time?  spec?  status?  If you set modification time you'll need to handle ensuring the content on GuaranteedUpdate and other CAS operations either updates the body to match the time or not check based on contents for CAS which is a weaker guarantee (in the event the db is rolled back you can accidentally overwrite others changes).

We should ask whether etcd could se

[2015-08-08 05:34] pmorie commented on #12430
@smarterclayton I would expect modification time to be the last modification time of the spec.  I would definitely prefer to have the underlying datastore give us this than have to maintain it in the code.

[2015-08-08 05:36] #11924 closed

[2015-08-08 05:39] satnam6502 commented on #12429
So I suspect it might be #11374
@gmarek please can you take a look?
I will have a think about reverting... not sure if that is the best thing to do.

[2015-08-08 05:41] smarterclayton commented on #12338
@timstclair

[2015-08-08 05:41] mfrinnstrom commented on #11684
This is what I get then:

[code]

[2015-08-08 05:43] satnam6502 commented on #12429
I reverted... let's see what happens.

[2015-08-08 07:06] resouer commented on #9053
#dibs

[2015-08-08 07:06] resouer commented on #9053
Well, as there's no progress on this, I'll give it a shoot.

[2015-08-08 07:19] davidopp commented on #12140
@timothysc I think the architecture is TBD. (Even the feature set is TBD. :-) Would love to get your input on how to make the policy pluggable, once we get to the design stage. Probably something along the lines of how the scheduler policy is pluggable would work. (Though I think we'd like to refactor the scheduler to make customization a bit simpler.)

Defragmentation is definitely part of this,

[2015-08-08 08:12] jimmidyson commented on #12226
No big deal for the Java client. We would probably hold it as a string & allow registration of custom (un)marshalers.

Is there any concern on starting to use annotations for larger objects like this? Potentially hitting the resource limit? I could see this functionality having a lot of uses but what kind of impact could this have on storage, etc?

[2015-08-08 09:20] gmarek commented on #12429
I'm 99% sure it's just tuning. I put there numbers that were good (+ some padding) on my e2e cluster. We just need to change constants.

The idea behind this test, after it's tuned to our testing environment, is to run in on our soak cluster, to make sure we don't bleed resources.

[2015-08-08 09:41] gmarek commented on #12429
`/` probably should be removed all together - it makes no sense:/

FWICT we need to increase CPU:
* `/docker-daemon` to 0.07
* `/kubelet` seems OK
* `/kube-proxy` seems OK
* `/system` seems OK

MemoryUsageInBytes:
* `/docker-daemon` to 4500000000
* `/kubelet` to 150000000
* `/kube-proxy` seems OK
* `/system` to 100000000

MemoryWorkingSetInBytes:
* `/docker-daemon` seems OK
* `/kubelet` seems OK
*

[2015-08-08 09:43] abonas commented on #12226
cc @simon3z

[2015-08-08 09:48] gmarek commented on #12429
I'll do this on Monday:/

[2015-08-08 11:18] abonas commented on #12226
@bgrant0607 @thockin thanks for doing this discussion.
It shouldn't be a problem for the Ruby [kubeclient](https://github.com/abonas/kubeclient) client library itself, it's pretty flexible. (I'll reverify this in tests and report back if I find any issue)
However such a change will present certain problems to the projects/products which consume the ruby client - they might have made assumptions re

[2015-08-08 11:34] hw-qiaolei commented on #12412
Hi bharbhi,
From your description I suspect the failure is due to docker does not installed or started properly, so the validation of nodes failed. Please verify your docker installation using 'dpkg-query -l lxc-docker'.  if it is not installed please use 'apt-get install lxc-docker' to install it (Note it is 'lxc-docker' here not 'docker'). The tutorial requires a docker version 1.2+. On my testb

[2015-08-08 12:15] sgotti commented on #12338
@philips @thockin yeah. Data corruption is the main concern.

About baremetal, the RedHat cluster fencing agents supports a big number of fencing devices. Some of these are very specialized (for example SCSI fencing with SCSI persistent reservation) and also requires node cooperation to do the unfencing. But just using the ones that do node fencing with on board server management consoles or power

[2015-08-08 13:47] satnam6502 commented on #12429
Indeed e2e turned green after reverting #11374

[2015-08-08 13:48] satnam6502 commented on #12429
@gmarek : thank you. Sorry if I should not have merged this -- maybe you still needed some time to work out some constants? I'll leave this issue open until the test can be merged with e2e green afterwards.

[2015-08-08 13:52] satnam6502 commented on #12429
@gmarek going forward might this be a worrying source of future instability in our e2e tests as our system evolves?

[2015-08-08 14:30] gmarek commented on #12429
It's good that you merged it, as otherwise I wouldn't know what constants to put there.

This is supposed to be regression test. Yes, it'll probably cause test failures, but only when we make our system less efficient. Node that this test is supposed to be run on an empty cluster (non-parallel etc.).

[2015-08-08 15:24] runningwild opened #12435 "node.yaml files can't use environment variables when naming a command to execute"
From [some reference I found](http://www.freedesktop.org/software/systemd/man/systemd.service.html),

Currently, on coreos, rkt is downloaded and installed to /opt/rkt/rkt-${RKT_VERSION}.  It either needs to be installed somewhere literal or the binary needs to be symlinked to something literal.

[2015-08-08 15:31] runningwild commented on #12435
Created [PR 12436](https://github.com/GoogleCloudPlatform/kubernetes/pull/12436) to address this.  This only fixes gce, so someone else that uses aws might want to take care of that one.

Also if anyone has any issues with how I'm fixing this I'm happy to change it, seems simple enough though.

[2015-08-08 18:07] smarterclayton opened #12439 "PersistentVolumeClaim get output is not useful"
Related to #12424, the output for `get pvc` could be improved

[code]

Labels is incorrect, should be using formatLabels.  The claim size for storage should be printed as a column since that is almost always used, and if bound should probably be the actual capacity.

[2015-08-08 18:07] smarterclayton commented on #12439
@markturansky

[2015-08-08 20:08] karlkfi commented on #12430
In the case on #12324 we need the last modified time of the status. So I added it as a field of Status. But I could see wanting to know the last time the spec was changed too. However, I would expect that to be under Spec. For a LastUpdatedTime in the ObjectMeta I assume it would mean the last object write, regardless of what changed.

[2015-08-08 20:19] #12151 closed

[2015-08-08 23:13] smarterclayton commented on #12226
We have folks using about 20k per resource for builds to store metadata.
It makes lists slower (enough that we are probably going to look at
selective field retrieval) but we haven't hit storage issues yet (etcd
limit is 1M but big objects will have a cost as they move through the raft
log).  Having the schema be native json for a few of them instead of
strings would reduce some of the overhead (5

[2015-08-09 01:57] bharbhi commented on #12412
Thanks HangZhou. Yes. It is issue with docker. After correcting the docker issue, things work.

Sorry for the confusion. Closing this case.

[2015-08-09 01:57] #12412 closed

[2015-08-09 01:57] bharbhi commented on #12412
It was issue with docker. Probably the install script can check the version and installation of docker on all nodes.

[2015-08-09 02:03] dalanlan commented on #12395
Done [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/ubuntu/deployAddons.sh#L29) automatically and could save your trouble.

[2015-08-09 02:44] dalanlan opened #12442 "`build-go.sh cmd/gendocs cmd/genman cmd/genbashcomp cmd/mungedocs` failed"
Verify-gendocs failed.
[code]
I run the cmd (from master/HEAD) then
[code]

Any ideas?

[2015-08-09 02:46] joshm1 commented on #12273
This is a duplicate of #11975 which has a "potential" workaround of just removing the lines, but I'm not sure if that causes other issues. I did this myself but had issues with multi-minion service discovery/DNS not working and none of the kube-system services working from the master public IP nor `kubectl proxy`

[2015-08-09 03:26] thockin commented on #12442
Sigh.  Yay go.  Make clean.

On Sat, Aug 8, 2015 at 7:45 PM, Emma He <notifications@github.com> wrote:

[2015-08-09 03:30] dalanlan commented on #12442
Did `./build/make-clean.sh`.
Still the same output.

[2015-08-09 03:31] dalanlan commented on #12442
Oh.. `make clean` seems fine. Thx a lot.
Closing it.

[2015-08-09 03:31] #12442 closed

[2015-08-09 04:12] eramus commented on #12381
Personally, I think we should just harden the AWS cloudprovider for creating (or selecting) a valid ELB regardless of subnet configuration. Since we can only select one subnet per AWS's requirements, I see a few different ways that we could do this:
* Attach a tag to the subnet in which we want to associate ELBs. This would create an easy method for selecting subnets.
* Parse the route tables to s

[2015-08-09 04:59] apeeyush commented on #12426
Hi! I would love to work on this one and send a PR as I am still working on getting familiar with the codebase (and hoping to make more meaningful contribution later).

Other than `pkg/kubectl`, the bash comments are also present in docs (`docs/user-guide/kubectl` and `docs/man/man1`). I was wondering if we need to change the comment style from `//` to `#` at all 3 locations or if we are using som

[2015-08-09 05:15] thesamet opened #12445 "Kubernetes keeps attempting to create an ELB even after service is removed"
When kubernetes fails to create an ELB for a service, it will keep attempting to create one every few seconds, even if the services that triggered the ELB creation has been deleted.

[2015-08-09 07:38] onorua commented on #12107
well, there is issue in example:
https://github.com/GoogleCloudPlatform/kubernetes/blob/372508cfbbad721242e8efa918663e50f6a62ddd/docs/admin/authorization.md

example json file and example part mentioning `ns` while Policy Format part mentioning `namespace`

BTW, new version of kubernetes doesn't work with the mentioned example at all, because kubelet has no sufficient rights with proposed policy f

[2015-08-09 09:16] abonas opened #12446 "namespace creation is broken or not documented correctly"
I've tried to create a namespace on the latest master.
Used the example from the below link as is:
https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/design/namespaces.md

I get :
"status": "Failure",
  "message": "the object provided is unrecognized (must be of type Namespace): couldn't get version/kind; json parse error: invalid character '}' looking for beginning of object

[2015-08-09 09:27] hw-qiaolei commented on #11355
@liggitt thanks for your answer, I encountered the same issue and get solved by following your steps.

[2015-08-09 15:17] sivi commented on #7581
release v.1.0.3 has the very same problem, as well as master at the moment

[2015-08-09 15:24] smarterclayton opened #12447 "Proposal: Make pod log endpoint more useful"
The Pod log endpoint on the apiserver and Kubelet was implemented as a simple wrapper around Docker logs.  It's intended to provide easy access for users and administrators to the logs of the currently running execution of a container in a pod.  If there is no running execution, it will show the last execution.  There are two flags supported:

* `?follow=true/false` instructs docker to leave the c

[2015-08-09 15:27] smarterclayton commented on #12447
@jwforres @jcantril @sosiouxme as per discussions, @satnam6502 fyi

[2015-08-09 15:50] satnam6502 commented on #12445
@justinsb

[2015-08-09 16:52] joshm1 opened #12449 "Service DNS not working across pods from different minions on AWS from kube-up install"
Simply using the following environment variables I'm able to get a master and 2 minions up and running on AWS. The problem is that service DNS only resolves if a pod is on the same minion as kube-dns.

To demonstrate, I launch the cluster from release 1.0.1 using the following command, which creates the VPC, subnet, master instance, ec2 launch group, scaling group, etc.

[code]

Here we see dns wo

[2015-08-09 17:39] ghost opened #12450 "Proposal: Allow anonymous inline claim in pod definition"
If you have a replicationcontroller with a pod that uses claims for persistent storage you currently have a hard time to scale them up. The name of the claim is part of the pod definition, so if you try to scale up every pod will try to use the same claim. If you have a scalable application where each pod needs its own storage this is not what you want.

If you can add an anonymous claim as part o

[2015-08-09 18:08] nikhiljindal commented on #12446
I cant seem to find this in our documentation but does passing yaml instead of json help?
I think API server only support yaml input.

[2015-08-09 18:26] arun-gupta commented on #12104
Getting back on the grid after vacation, will try out something similar and send a PR for the docs,

Stay tuned :)

[2015-08-09 18:28] arun-gupta commented on #11477
@erictune thanks, will go through the comments on PR and update it.

[2015-08-09 19:44] altvnk opened #12451 "Container labels"
Does it possible to specify docker container label via pod definition? [docs](https://docs.docker.com/userguide/labels-custom-metadata/)

[2015-08-09 20:41] a-robinson commented on #12449
It looks like something's wrong with service routing in your cluster in general. @justinsb, have you seen anything like this before?

[2015-08-09 20:42] a-robinson commented on #12450
cc @markturansky

[2015-08-09 20:44] a-robinson commented on #12451
We don't currently do anything with Docker labels, but have had some discussions about it in #3764. If you have specific use cases for them, we'd love to hear about it on that issue!

[2015-08-09 20:44] #12451 closed

[2015-08-09 21:15] thockin commented on #12446
I think we ts the opposite.  We support jsonyaml is converted to jso
client-side
On Aug 9, 2015 11:08 AM, "Nikhil Jindal" <notifications@github.com> wrote:

[2015-08-09 21:16] a-robinson commented on #12445
Which version are you hitting this on? The repeated attempting should at least stop after a few minutes if you're on 1.0.2 or later, which pulled in #11891.

Sorry for the issue!

[2015-08-09 21:17] a-robinson commented on #12445
Also, closing this in favor of #9382. Let's try to keep the discussion there unless this seems to be something different.

[2015-08-09 21:17] #12445 closed

[2015-08-09 21:17] asridharan opened #12452 "kubernetes v1.0.0 failing test cases"
I am trying to build docker images with kubernetes v1.0.0 . I pulled the git repository and created a branch for v1.0.0. The ./run.sh hack/build-go.sh goes through fine, and I can see that the binaries have been built under:
[code]

However, when I run
[code]
It fails with this cryptic error:
[code]
I am trying to build a dockerized image to try and run a local docker-based installation.

[2015-08-09 22:46] shanemikel commented on #12392
What did you to to fix this?

[2015-08-09 23:03] shanemikel opened #12454 "build for specific platform"
How do I build the client for only amd64 on linux?

[2015-08-09 23:15] #12454 closed

[2015-08-09 23:29] hardikdr opened #12455 "Scheduler should consider the current status of cpu/memory of hosts while scheduling."
Hi all..
I have recently started looking into kubernetes project and strongly willing to contribute to the project. I have environment set up of Kubernetes on CoreOS baremetal servers.
It seems to me that scheduler is not considering the current state of resources(cpu/memory) of hosts while taking decisions.

I performed following steps:
1. There are 2 hosts(slaves), host1 and host2. And one host0

[2015-08-10 00:16] justinsb commented on #12449
I have seen this, I believe this happens when we fail to set up routes in the routing table.  This is done on the master now, I believe by kube-controller-manager.

@joshm1 can you please check the logs on the master, in particular /var/log/kube-controller-manager.log (I think that is the right log).

And also ideally check your routing table in the AWS console: the routing table for the cluster V

[2015-08-10 00:17] nikhiljindal commented on #12446
aah yes you are right.
APIServer supports json. It does not support yaml: https://github.com/GoogleCloudPlatform/kubernetes/issues/1004

[2015-08-10 00:22] bjlee72 commented on #12339
Thank you for the quick responses. Please see the below output:

[code]

[2015-08-10 00:25] bjlee72 commented on #12339
FYI:
Becasue of the problem that the UI is not deployed by deployAddons.sh under `kubernetes/cluster/ubuntu`, I have changed the script as follows:

[code]

[2015-08-10 00:58] caesarxuchao commented on #12413
I have refactored expapi to use groupVersion="expapi/v1alpha1". I didn't change the field name "apiVersion" in TypeMeta, so in a JSON config file, one would write "apiVersion": "expapi/v1alpha1".

I didn't change anything for api/v1, so people would still write "apiVersion": "v1" for a api/v1 object.

Moving forward, we need to test the groupVersion design on api/v1 objects (where I expect we will

[2015-08-10 01:24] dalanlan commented on #12339
Did you notice that
`Message:            Query container info failed with error (json: cannot unmarshal number 5.24288e+07 into Go value of type int64)`
That's the evil you're looking for.

[2015-08-10 02:33] bjlee72 commented on #12339
Good point. Do you have any suggestion about the location that I can find the stacktrace of the error? I'm new to the Kubernetes system.

[2015-08-10 02:34] shanemikel opened #12457 "vagrant salt provisioning time improvement"
I'm wondering if there's a way to get around the salt provisioning taking a long time (sometimes forever).  If I'm using vagrant to spin up kubernetes cluster, It's a generally viable assumption that I'm running locally for test purposes.

Assuming I'm right in that the problem with salt provisioning is the generation of random data (I haven't checked that assumption), would it be possible to prov

[2015-08-10 04:18] beef9999 opened #12458 "confusing document"
I'm trying to run Kubernetes locally.

Here is what your doc says:

    cd kubernetes
    hack/local-up-cluster.sh

But where is the hack directory?
v1.0.1
Don't make it too hard for a noob to continue, please.

[2015-08-10 04:31] #12458 closed

[2015-08-10 05:06] bjlee72 commented on #12339
After upgrading docker in all minion nodes to 1.7.1, the above symtom has gone, but instead now I'm seeing the following msg at the UI page.

[code]

Below is my config-default.sh file content.

[code]

[2015-08-10 05:45] asridharan opened #12459 "kube-proxy should modprobe iptables modules it needs"
```Description of problem```
I am trying to run kubernetes on a docker-based local setup using the following instructions:
http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html

NOTE: I initially filed the issue with docker [#15406](https://github.com/docker/docker/issues/15406). But, after analyses by the docker developers looks like all the errors are contained with the kubernetes co

[2015-08-10 05:46] asridharan commented on #12452
Looks like this is fixed v1.0.1 . I created a branch of the v1.0.1 tag and the ./release.sh build script was able to pass all the test cases. There closing this.

[2015-08-10 05:47] #12452 closed

[2015-08-10 06:29] a-robinson commented on #12455
Yes, this is very good feedback! There's a proposal under review right now in #11951 for how to take this into account. I'm going to close this in favor of that proposal, but feel free to reopen if you think there are separate things to be discussed here.

[2015-08-10 06:55] brianlund commented on #12392
It was user error. I hadn't actually build kubernetes so there was nothing to copy.

Running "make all" in the kubernetes top dir, ensured there was something in _output for ansible to work on.

[2015-08-10 06:58] abonas commented on #12446
@nikhiljindal @thockin this is using json and passing it to the REST api via http (or https)
REST api typically (and here as well) doesn't accept yaml afaik.

[2015-08-10 07:55] stormltf commented on #1629
when atuoscaling can be done? do you need our team help to do this?

[2015-08-10 08:20] davidopp commented on #12455
This isn't exactly the same issue; #11951 is about exposing the metrics to the API server, while I think @HardikDR is talking about using those metrics when scheduling.

Our initial thought was to use it for scheduling best-effort pods only (schedule to machine with lowest recent load). But it won't be possible to implement this until the node metrics are surfaced to the API server, so that the sc

[2015-08-10 08:26] dalanlan commented on #12455
The related doc says as following,

Let's say the so-called **load**  does not take cpu/mem into account, what exactly does it refer to (if i may ask)?

[2015-08-10 08:40] Icedroid commented on #12136
I want to create a mongodb replica set, But I don't how to init it  with three pods when the rc created.

[2015-08-10 09:10] srcspider opened #12463 "The 24 character Service limit"
Can this be removed? It's really annoying limit.

**Description of problem**

*If you type any service name that's more then 25 characters (and I assume other naming rules also apply) you will get something like the following error:*

[code]
RFC 952: https://tools.ietf.org/html/rfc952

So why is 24 characters long a problem? Let's say you have a cluster, and you have many projects on that cluster

[2015-08-10 09:33] adyanthaya17 opened #12465 "Error for Update-demo example"
Hi this is my pods:

$ curl http://master:8080/api/v1/proxy/namespaces/default/pods/update-demo-nautilus-z7x57/data.json
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "pods \"update-demo-nautilus-z7x57\" not found",
  "reason": "NotFound",
  "details": {
    "name": "update-demo-nautilus-z7x57",
    "kind": "pods"
  },
  "code": 404

My /etc/host

[2015-08-10 09:58] maklemenz commented on #12463
Sorry for going a bit offtopic, but you might consider using namespaces to bypass the limit:
`www.project1-testing.cluster.local`
Here the service ist just called `www` and the namespace is `project1-testing`. This bypasses the limit and also allows for project/namespace related resource quotas. If you use the optional dns addon you can then use a database in your namespace by simply using `db` as

[2015-08-10 10:32] gmarek opened #12467 "Build and e2e failures caused by AWS S3 issues."
It turns out that we depend on AWS to build and run e2e tests (which I find rather amusing).

I saw two problems:
When building a binary we do
[code]
which ended up with
[code]
It's rather bad that we don't emit more helpful messages, but
[code]
does print:
[code]

Workaround is to download the tar by hand from somewhere and put it into workdir.

Smaller one is the fact that our `kubectl` and `exa

[2015-08-10 10:34] srcspider commented on #12463
@maklemenz doesn't seem to work for me,

[code]
[code]
[code]
[code]

If I'm doing something wrong let me know. Using google container engine for cluster.

[2015-08-10 10:39] dalanlan opened #12468 "kube-ui does not work properly"
####Steps to reproduce
- create a rc & svc as in cluster/addons/kube-ui
- visit the web page( by which i mean 10.10.102.98:37974), click the buttons (to list resources) and get nothing

When clicking the button "Nodes" in the "Views" list, the corresponding request sent was like
[code]
whose response was 404 not found. ( normal response without doubt, 'cause the request url is the trouble maker AF

[2015-08-10 10:41] dalanlan commented on #12468
10.10.102.98 is the node ip that kube-ui pod is scheduled.
[code]

[2015-08-10 10:42] maklemenz commented on #12463
@srcspider  Try something more like this:

project1-testing-namespace.yml:

	apiVersion: v1
	kind: Namespace
	metadata:
	  name: project1-testing

project1-testing-www-svc.yml:

	apiVersion: v1
	kind: Service
	metadata:
	  name: www
	  namespace: project1-testing
	  labels:
	    type: deleteme
	spec:
	  ports:
	  - port: 1234
	    targetPort: 1234
	  selector:
	    type: nothing

`$ kubectl create

[2015-08-10 10:54] dalanlan commented on #12107
Quite confused. What do you mean by this, if I may ask?

[2015-08-10 11:15] srcspider commented on #12463
Right, that works to some extent, but...

The point of having "what it is" in the name was to easily see what the service is meant for, but if you're using namespaces you essentially do not have the ability to see more then the service in the namespace or the global namespace (at least I see no pattern that works with `--namespace` or alternative flag for showing everything; if I dont specify the

[2015-08-10 11:52] beef9999 commented on #4019
Are you kidding me? A 2GB mem machine is not able to build a software? What kind of software do you think you are writing? Human gene analysis?

[2015-08-10 12:01] gmarek commented on #12467
cc @fgrzadkowski

[2015-08-10 12:06] piosz commented on #12149
Moved proposal to a doc. See #12472.

[2015-08-10 12:23] ae6rt opened #12473 "Fix minor typo in docs/admin/authentication.md"
Change

Basic BASE64ENCODEDUSER:PASSWORD

to

Basic BASE64ENCODED(USER:PASSWORD)

to make it clearer that base64 is performed over the user:pass string, rather than just the user string.

[2015-08-10 12:27] mwielgus opened #12476 "InsufficientFreeCPU in default kube_up.sh cluster."
GCP, cluster started with ./cluster/kube-up.sh with no extra options:

[code]

[2015-08-10 12:28] gmarek commented on #12390
Discussed on IRC. Node self-registration wasn't turned on (--api-server Kubelet flag was not set). Please reopen if it turns out to be something different.

[2015-08-10 12:28] #12390 closed

[2015-08-10 12:44] mwielgus commented on #12476
Heapster pods(rc) were created BEFORE some of the nodes became available:

[code]

[code]

[2015-08-10 12:54] #4366 closed

[2015-08-10 13:10] #9475 closed

[2015-08-10 13:15] markturansky commented on #12450
Thanks for filing the issue.  Scaling storage is difficult today through an RC, for the reasons you mention.

This is a feature we (I) fully intend to revisit and implement.  Our go-to use case is "How do you scale MongoDB?"

[2015-08-10 13:32] resouer commented on #5640
What's the status of this issue? Any PR for this?

[2015-08-10 13:42] joshm1 commented on #12449
Thanks @a-robinson @justinsb! Looks like routing tables were the issue. There were 2 routing tables for my VPC, which was throwing the error "found multiple matching AWS route tables for AWS cluster". https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/aws/aws_routes.go#L43

![image](https://cloud.githubusercontent.com/assets/182629/9171648/67d9e0d6-3f3b-11e5-81f2-22555

[2015-08-10 13:45] markturansky commented on #12136
@Icedroid currently, the RC's pod template can use PersistentVolumeClaims but all replicas would share the same claim (good for ReadWriteMany apps and providers like NFS).  But that's a limitation for scaling something like mongo where each pod requires its own volume.

You would have to create N claims in advance and create an RC for each claim and use Replicas=1.   This manual process is clunky

[2015-08-10 13:59] sosiouxme commented on #12447
+1 captures what was discussed.

[2015-08-10 14:00] joshm1 commented on #12449
@a-robinson @justinsb

So even though I got this working with Ubuntu Vivid minions, I created a cluster with coreos minions and I'm getting the same problem. Except this time the Route Table was updated, but loading the UI in my browser responds:

[code]

This is different, because before it was trying to read `10.244.0.10` which was added to the route table. I don't see any reference to 172.17.0.

[2015-08-10 14:02] timothysc commented on #12465
side note - Our update-demo e2e's are running fine on our cluster.

[2015-08-10 14:03] smarterclayton commented on #12087
For reference here is the idling proposal that describes the 0->1 scale - where an RC has been scaled to 0 based on a platform policy, and a service needs to hold incoming connections until at least one endpoint is available (subject to rate limiting and constraints): https://github.com/GoogleCloudPlatform/kubernetes/pull/3247

[2015-08-10 14:06] timothysc commented on #12467
@gmarek @fgrzadkowski - FWIW we build and run e2e's against the tip of all of the stack to vet & catch earlier where possible.

Currently we are running tip of:
etcd, k8's, flannel on latest Atomic, nightly.

[2015-08-10 14:16] emacias commented on #12323
Data regarding operation that is needed:
* timestamp
* username
* id
* operation type
* status
* any error messages
* commandline used to run the operation (if applicable)
* client (UI, commandline etc)
* the new configuration

I expect not all the data is possible to get from node, but these are requirements from the UI point of view.

[2015-08-10 14:19] vishh commented on #12455
#11951

[2015-08-10 14:31] mwielgus opened #12479 "Previously failed pods are visible in kubectl get pods"
See the log below. A pod (created by a RC) failed to schedule several times. All of the failed attempts are visible along with the one that succeeded. RC's replicas is set to 1.

[code]
ref: #12476

[2015-08-10 15:01] timothysc commented on #12422
@erictune do you have data which shows the results of of the change set(s) across a diversified group of workloads.

e.g. what's the net gain on memory utilization for what appears to be a modification for better packing.

[2015-08-10 15:08] gambol99 opened #12481 "RBD defencing issue"
Appear to have an issue when tearing down a RBD volume, a stack trace below; The rbd unmap works fine, the volume is removed successfully, but the unlocking throws an exception

    Aug 10 14:07:20 core101 hyperkube[3665]: W0810 14:07:20.383951    3665 kubelet.go:1355] Orphaned volume "cad31130-3f67-11e5-a5bb-06baeabbce11/data" found, tearing down volume
    Aug 10 14:07:20 core101 hyperkube[3665]

[2015-08-10 15:11] fgrzadkowski commented on #12418
/cc

[2015-08-10 15:13] timothysc commented on #5640
This seems like a one of many good topics for the monitoring working group.

[2015-08-10 15:22] fgrzadkowski commented on #1629
Several issues here:
* /scale subresource is already done. See #12217
* Horizontal pod autoscaling is tracked in #12087
* Vertical pod autoscaling is tracked in #10782; currently we work on #12149 which is a first step
* Cluster autoscaling (adding/removing nodes) is tracked in #11748 (almost done; just wrapping up last things like documentation)

I think we should close this particular issue as i

[2015-08-10 15:22] #1629 closed

[2015-08-10 15:30] yujuhong commented on #12479
Thanks for reporting the issue. It is a known issue that terminated pods need to be manually deleted. Related open issues are:
 - #7660: Reap terminated pods
 - #9979: kubectl delete rc does not delete terminated pods

There is also an open PR to hide failed pods in the output of `kubectl get pods` for clarity: #12102
Closing this bug as a duplicate.

[2015-08-10 15:55] RichieEscarez commented on #12156
Closing -> fixed in #12437

[2015-08-10 15:55] #12156 closed

[2015-08-10 15:56] RichieEscarez commented on #12154
Closing -> fixed in #12437

[2015-08-10 15:56] #12154 closed

[2015-08-10 15:58] vishh commented on #5640
There is an [open PR](https://github.com/GoogleCloudPlatform/heapster/pull/379) to add Reimann support in heapster.
+1 for discussing this in a monitoring work group.

[2015-08-10 16:12] thockin commented on #12463
@srcspider I am not against increasing the length of namesapces (in fact it's on my TODO list for months, just have to do it carefully).  If we increase it to 63 characters (DNS1123_LABEL) we just delay the problem.  We can't expand beyond 63 characters or we can't use it in DNS.  I'd really like to change it to DNS1123_SUBSDOMAIN (255, dots allowed, same as pods) but that has implications for thi

[2015-08-10 16:25] vishh opened #12483 "Improve kubelet metrics APIs"
Currently, kubelet exposes container stats provided by cAdvisor via `/stats/` REST endpoint. This API provides per container stats only. It does not provide stats for the pod network container and does not expose system and daemon containers on the node. This API is also not versioned.

This API needs to be replaced with versioned Pod and Node stats APIs, that exposes all the node and pod metrics

[2015-08-10 16:25] vishh commented on #12483
cc @mvdan who had started looking into this issue.

[2015-08-10 16:27] vishh commented on #12483
Once this issue is resolved, cAdvisor REST endpoint can be blocked by default, to prevent access to potentially sensitive user data.

[2015-08-10 16:30] vishh commented on #11710
Filed #12483. The current plan is to complete this for v1.1. cc @dchen1107

[2015-08-10 16:34] vishh commented on #12214
@yujuhong: I would start with setting up a cluster with v1.8 rc3 and running all our stable e2e tests against that cluster. After that, I'd recommend restarting the daemon to ensure that everything is stable.
There is a node restart e2e test, which is also critical.
@dchen1107: Are there any other things to test? Can you share your scripts to deploy a new version of docker?

[2015-08-10 16:38] dchen1107 commented on #12422
@erictune Thanks for reporting the issue. I mentioned in Resource Management Summit and several other meetings, to have QoS support ready, there are tons of work required at node level, either in kernel, or the userland. This is one of them.

Way before we had that kernel patch [idle page tracking / working set estimation](https://lwn.net/Articles/459269/) internally, internal kubelet-ish agent ha

[2015-08-10 16:42] timothysc commented on #12483
cc @derekwaynecarr

[2015-08-10 16:49] bgrant0607 commented on #11908
The Conditions array doesn't store "all historical conditions" in the sense of a time series of conditions. It stores the last-known observation of each of a variety of types of conditions, with limited historical information (e.g., time of last status change of each condition).

[2015-08-10 16:55] erictune commented on #12422
@timothysc Define memory utilization.

[2015-08-10 16:56] timothysc commented on #12455
/cc

[2015-08-10 16:57] vishh commented on #12315
The current plan is as follows:
1. Store recent history (~5 mins) of stats per container in memory. We can consider reducing this cache duration further.
2. We will use a rolling window to make it resource estimation friendly.
3. To calculate percentiles, we will perform some approximations. For every minute, max and mean will be stored. For every hour, only the max and mean of minute samples will

[2015-08-10 16:59] timothysc commented on #12446
cc @derekwaynecarr

[2015-08-10 17:00] timothysc commented on #12439
cc @childsb

[2015-08-10 17:01] timothysc commented on #12429
cc @rrati jayunit100

[2015-08-10 17:01] erictune commented on #12422
@dchen1107 upstream has [`drop_caches`](http://unix.stackexchange.com/questions/17936/setting-proc-sys-vm-drop-caches-to-clear-cache).
I don't see anything to try to free pages.

[2015-08-10 17:10] erictune commented on #2211
One of the main cases for this is that services should only use backends they trust.  If service load balancer used TLS to talk to service backends, then it would also be able to detect a rogue backend.   This seems like a good way to do things.

If the other use cases for label/selector policy are more nuisances, then maybe we don't bother to implement this.

[2015-08-10 17:14] jiangyaoguo opened #12485 "RESTARTS count error when "get pods --watch""
I use /hack/local-up-cluster to start a local k8s. And operate like below:
[code]
[code]
Then I use "docker kill " to kill one container of rc for thrice. Here is result:
[code]
The "RESTARTS" is supposed to be 3. But it will be changed to 2 at last . Is there reason which will cause RESTARTS reduce?

[2015-08-10 17:16] thockin commented on #12450
Agree this is a facet we need to handle, I'll probably argue that we need
something like this MORE than we need auto-provisioning

@saad-ali

On Mon, Aug 10, 2015 at 6:15 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-08-10 17:19] thockin commented on #12449
172 addresses typically indicate that Docker is using node-private IPs
rather than the subnets we want assigned to each node (though some installs
do use 172, most do not).

On Mon, Aug 10, 2015 at 7:00 AM, Josh McDade <notifications@github.com>
wrote:

[2015-08-10 17:22] thockin commented on #12284
@artfulcoder as discussed last week

On Wed, Aug 5, 2015 at 10:08 AM, Joshua Griffiths <notifications@github.com>
wrote:

[2015-08-10 17:24] markturansky commented on #12450
@thockin I think they may be related.  Imagine if an RC could lay claim to a PersistentVolumeController (instead of a single volume) that can make N replicas of a volume from Min up to Max.    The entire pool (however large or small) managed by one PVCtrl can be used as a resource by an RC.

The part I don't grok yet is how we'll pin the same volume to the same or similar pod in the future.  In th

[2015-08-10 17:25] markturansky commented on #12450
@smarterclayton design suggestions welcome :)

[2015-08-10 17:27] vishh commented on #3595
@bgrant0607: Is this something that we can consider for v1.1?

[2015-08-10 17:32] vishh commented on #9473
@pmorie: Have we considered exposing a versioned, read-only file, inside the container that exposes resource limits?

[2015-08-10 17:41] vishh commented on #12476
Only one instance of heapster is expected to exist in the cluster by
default. It looks like the previous attempts to create a heapster pod
failed and those failed pods have not been removed from the system
automatically.

On Mon, Aug 10, 2015 at 5:44 AM, Marcin Wielgus <notifications@github.com>
wrote:

[2015-08-10 17:41] thockin commented on #12155
Something is fishy.  Volume cleanup should be happening against the volume dirs, which is totally separate from pod dirs.  Pod teardown should un-bind-mount the NFS from th epod dir, so pod cleanup can happen, even if the volume can't umount...

@yujuhong @saad-ali

[2015-08-10 17:43] piosz commented on #12315
cc @mwielgus

[2015-08-10 17:44] dchen1107 commented on #12422
@erictune You are right, drop_caches is the "equivalent" interface at upstream kernel, but with a lot of performance penalty. We don't use it internal because:

1) It is not efficiently triggering reclaim pages
2) It simply drop caches without any information related to QoS class, thus downgrade the performances of workloads on the node without bias.
3) No way to specify how many pages required to

[2015-08-10 18:02] #12479 closed

[2015-08-10 18:09] yujuhong commented on #12155
@thockin, I didn't touch much of the volume code, but think the directory structure is `/var/lib/pods/<pod_UID>/volumes/`. Removing pod directories would remove the volumes as well. We can delay the pod directory cleanup until all volumes in it are properly unmounted.

Another user reported a similar case in #12210

[2015-08-10 18:13] yujuhong commented on #12485
Thanks for reporting the issue. There has been a regression of restart count recently. We are planning to fix this shortly.

Closing this as a duplicate of #11948

[2015-08-10 18:13] #12485 closed

[2015-08-10 18:17] rootfs commented on #12155
@yujuhong in this particular case, the mountpoint cannot be properly unmounted (because it was deleted), and  I believe the current NFS mount is [hard mount](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/5/html/Deployment_Guide/s1-nfs-client-config-options.html), so it won't be easy to unmount even after delay.

[2015-08-10 18:21] smarterclayton commented on #12450
This is overlapping with nominal services https://github.com/GoogleCloudPlatform/kubernetes/issues/260

I don't think we want to have anonymous allocation because we want them to be reused, and there really has to be some object that maps that ownership.  There's discussion in #260 about the current design points.  The concern is making the RC own them.

[2015-08-10 18:22] timstclair commented on #12338
@smarterclayton I think you meant @timothysc

[2015-08-10 18:23] thockin commented on #12155
Ahh yes, it was only GCE PD that was doing something tricker here

On Mon, Aug 10, 2015 at 11:09 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-10 18:26] a-robinson commented on #12459
Handing off to @brendandburns because hyperkube, feel free to pass on

[2015-08-10 18:26] smarterclayton commented on #12338
I did, my apologies.

[2015-08-10 18:32] derekwaynecarr commented on #12446
@abonas - can you paste what you are passing to create so I know which part of the design document you are trying to use?  I suspect the design doc is out of synch because its using hanging commas in the JSON, so I can take a pass to fix that.

Either way, you should look to follow the examples here:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/admin/namespaces

[2015-08-10 18:36] a-robinson commented on #12473
Looks like this was fixed by #12475. Thanks @ae6rt!

[2015-08-10 18:36] #12473 closed

[2015-08-10 18:52] #12280 closed

[2015-08-10 18:58] nikhiljindal commented on #12446
I just tried creating a namespace using the json in that guide (https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/docs/design/namespaces.md#example-openshift-origin-managing-a-kubernetes-namespace) and it worked fine after removing the hanging commas.

Here is my json:
[code]
And this is the command I ran:
[code]

[2015-08-10 19:02] a-robinson commented on #12465
So what behavior are you expecting here that you're not seeing? It looks like two nautilus pods are running just fine, they just happen to have different names than the one you looked for.

[2015-08-10 19:02] caesarxuchao commented on #12413
Some open questions:
1. What should the server URL look like after we support multiple groups? I assume it will be provider/group/resource, e.g., for kubernetes native objects, the URL looks like:
api/group/resource/...
for openshift objects, the URL looks like:
osapi/group/resource/...

2. Shall the experimental api be a group, or shall it be a prefix, i.e., shall its URL be:
expapi/group/resourc

[2015-08-10 19:03] mwielgus commented on #12476
@vishh Yes you are correct (#12479) + we should probably not start any pods until more than 1/all nodes are ready as we cannot fit all of the system stuff into one node.

[2015-08-10 19:10] yujuhong commented on #12155
I see. Thanks for the explanation. I didn't read the original post carefully.

If we let `cleanupOrphanedVolumes` propagate the error upstream, kubelet may always skip pod directory cleanup because of one failed teardown. That seems undesirable. I agree that the NFS stale handle error alone should be enough for us to skip waiting. In short,
- `vol.TearDown()` should distinguish the NFS error and r

[2015-08-10 19:11] uluyol commented on #12413
We use "experimental" not "expapi" for exposing the experimental api, so it should be "experimental/v1alpha1".

I believe that we had decided on provider/group/version/kind scoping (where everything following provider can differ completely depending on the provider—there were no immediate plans for dealing with multiple providers). So api, osapi, experimental are all categorized as groups. There i

[2015-08-10 19:18] rootfs commented on #12155
cool, thanks.  When a patch is available, I'll give it a test on other volumes too.

[2015-08-10 19:33] bgrant0607 commented on #12402
PR in progress: #12432

[2015-08-10 19:34] HardikDR commented on #12455
@dalanlan
Load does take cpu/mem into account .
But that cpu/mem is something that we provide as resource limits in pod template. The resource limits specifies the max resource that might be requested by the container.

[2015-08-10 19:40] smarterclayton opened #12493 "Test flake in TestBroadcasterDropIfChannelFull"
Seen extremely rarely.

[code]

[2015-08-10 20:01] bgrant0607 commented on #3595
We can, but I'll have 0 bandwidth to think about it for the next month, probably.

cc @erictune

[2015-08-10 20:02] caesarxuchao commented on #12413
Thanks. If api, osapi, experimental are all categorized as groups, then we have to deal with conflicting kind names in different groups, and user would need to specify group name in JSON config file.

[2015-08-10 20:05] derekwaynecarr commented on #11813
The issue with the network not being in a valid state was because of an error in the NetworkManager configuration for eth1.

Can you verify you are running with the following (which was cherry picked):
https://github.com/GoogleCloudPlatform/kubernetes/pull/12237

[2015-08-10 20:08] davidopp commented on #12422
@mikedanese was asking me some details about this today that I didn't know, so might be interested in this issue.

[2015-08-10 20:11] vishh commented on #12455
cc @mvdan who is planning to work on this, once the metrics API is completed.

[2015-08-10 20:19] vishh commented on #12476
cc @bgrant0607

[2015-08-10 20:30] a-robinson commented on #12435
Fixed by #12436

[2015-08-10 20:37] runningwild commented on #12435
This is still an issue on aws, right?
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/aws/coreos/node.yaml#L127

[2015-08-10 20:40] a-robinson commented on #12435
Ah, sorry! I didn't read your second comment.

[2015-08-10 20:41] rjnagal commented on #12422
I think what we have now should be sufficient for auto-scaling if we implement update and allow tasks limit to be updated. The current mechanism will give us a good starting point, and as the load on the machine increases, we can re-calibrate based on newer working-sets. Instead of trying to induce pressure on the nodes locally and affecting performance, we can simply make auto-scalers more aggres

[2015-08-10 20:42] amygdala commented on #9593
After discussion w/ Brendan, we're going to punt on doing this, at least for now.

[2015-08-10 20:42] #9593 closed

[2015-08-10 20:51] dchen1107 commented on #12269
cc/ @vishh and @yujuhong

[2015-08-10 20:54] vishh commented on #12269
Can you post the output of `kubectl get events` ?

[2015-08-10 21:07] timothysc commented on #12493
/cc @jayunit100

[2015-08-10 21:16] hrishimantri commented on #12281
@sttts @jdef any ETA on when can we expect a fix for this ?

[2015-08-10 21:27] yujuhong commented on #12269
@kgrvamsi, could you also post kubelet.log and kube-proxy.log to somewhere we have access to (e.g. http://gist.github.com)? They should include the time frame where the node went to the NotReady state.

[2015-08-10 21:29] sttts commented on #12281
As we don't understand the actual problem it's hard to give estimates. I will take a deeper look tomorrow. Maybe we know more then.

[2015-08-10 21:29] timothysc commented on #12338
We already enable fencing using RHEL-HA on our end using pacemaker (ref: https://access.redhat.com/articles/1528853)

In our upstream proposal we sited the long term need indirectly in our design discussions: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/proposals/high-availability.md

[2015-08-10 21:42] yujuhong commented on #12214
FYI, here is the [patch](https://github.com/yujuhong/kubernetes/commit/04ce1a94dd6131d7b444f9c7cac6882239187c87) I used to upgrade docker on the GCE nodes.
The docker v1.8.0rc3 change log is [here](https://github.com/docker/docker/blob/v1.8.0-rc3/CHANGELOG.md).

I am still running e2e, but have already seen some failures. Will investigate further once the tests are completed.

[2015-08-10 21:53] dchen1107 commented on #12214
@yujuhong We don't need scripts now. Several fixes were merged to fix salt already. Now you can simply follow what I did with #12499 to start a cluster with new docker version.

I will start a doc for dev on how to validate a docker version.

[2015-08-10 22:07] a-robinson commented on #12481
@rootfs @markturansky

[2015-08-10 22:08] a-robinson commented on #12476
@zmerlynn

[2015-08-10 22:14] hrishimantri commented on #12281
Thanks @sttts ... Will wait for your update.

[2015-08-10 22:23] yujuhong commented on #12214
I followed the instructions from the comments, but https://get.docker.com/ubuntu/dists/docker/main/binary-amd64/Packages does not provide a package for 1.8 yet.

[2015-08-10 22:23] sgotti commented on #12338
@timothysc Sorry if I missed something, but doesn't this just covers different ways to achieve master components HA?

The issue/my proposal is instead related on enforcing some types of app/pod (for example apps accessing shared data) to run "at most once" to avoid data corruption.

Actually, when the master thinks that a kubelet is dead it will schedule the pods on another node. In different scen

[2015-08-10 22:30] vishh commented on #12214
https://github.com/docker/docker/releases/tag/v1.8.0-rc3

On Mon, Aug 10, 2015 at 3:23 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-10 22:32] yujuhong commented on #12214
Yep, I saw that. I was just wondering if there is any specific reason to download from https://get.docker.com/ubuntu/dists/docker/main/binary-amd64/Packages  :-)

[2015-08-10 22:36] vishh commented on #12214
These are release candidates. The final release is not done yet. The intent
is to report any bugs before they make the final release.

On Mon, Aug 10, 2015 at 3:33 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-10 22:40] jonmoter commented on #10439
+1 for this.

Given that secrets are currently stored unencrypted in etcd, I can't use kubernetes secrets for storing sensitive app information. I can role my own integration with Vault as a sidecar container, but it would be nice to leverage the built-in features that k8s offers, and have Vault be a swappable implementation detail.

[2015-08-10 22:51] dchen1107 commented on #12422
@rjnagal I agreed with you on priority and roadmap. There are many must-have features at node level to make sure overcommiting a node but still provide QoS in a reliable way. For example, using --parent-cgroup for pod, introducing best-effort cgroup, preventing the node from a real sys oom, prevent a batch job from resource starvation forever, etc. I listed all those options above as workarounds a

[2015-08-10 22:53] dchen1107 commented on #12389
@mbilko based on what described above, this is expected behavior since you overcommit your node with memory, and trigger sys oom. With incoming 1.1 kubernetes release, we are going to do better work on resource management. The start point is the latest QoS proposal: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/proposals/resource-qos.md

[2015-08-10 22:54] bgrant0607 commented on #12426
Thanks, @apeeyush. If you modify pkg/kubectl and then run hack/run-gendocs.sh, that should update the documentation appropriately.

[2015-08-10 22:55] dchen1107 commented on #12389
In your current use case, can you specify memory limit for your application, so that it could be oom-killed by memory-exceeded? Or you have some special use case?

[2015-08-10 23:02] caesarxuchao commented on #12413
Here is a summary of the meeting with @nikhiljindal and @bgrant0607.
1. api, osapi, experimental are all categorized as groups. Their URLs will be:
/api/v1/...
/osapi/vX/...
/experimental/v1alpha1/...
and there is no prefix before them.

2. We will not divide v1 objects into multiple groups, they will be in a monolithic group called "api", so the URL for v1 objects will remain unchanged. We will c

[2015-08-10 23:15] rootfs commented on #12481
@a-robinson yes, the wrong struct is the problem. LGTM, thanks!

[2015-08-10 23:16] bgrant0607 commented on #7294
What is the use case for swap? If swap is enabled for any containers on a host, then no latency guarantees can be provided for other containers.

[2015-08-10 23:44] JanetKuo commented on #12081
If you wish to see client version only, use `kubectl version -c`.

[2015-08-10 23:47] derekwaynecarr commented on #12446
Will update doc tomorrow.  Thanks

On Monday, August 10, 2015, Nikhil Jindal <notifications@github.com> wrote:

[2015-08-11 00:07] bgrant0607 commented on #12226
We will need size limits at some point, not just for annotations, but also for command lines, env, and anywhere else people could cram extra data. Some sort of resource-size LimitRange and/or ResourceQuota would make sense.

I agree with the backward-compatibility concerns. If we were to do this, it would need to be a new field.

I propose the field be called `extensions`. I'd make it a sibling of

[2015-08-11 00:27] yujuhong opened #12506 "test/e2e/rc.go fails to pull the image when running with Docker v1.8.0rc3"
The failed test: "ReplicationController should serve a basic image on each replica with a private image"

[code]

Seems like docker does not accept any component starting with an underscore (```_b_k8s_```...).

[2015-08-11 00:31] yujuhong commented on #12214
Update: Still running stable tests. Non-stable tests are pretty much meaningless since they fail at head.

Discovered issues so far: #12506

[2015-08-11 00:43] dalanlan commented on #12455
Hmm.. Let me try to make myself clear.
What concerns me much is the second step of ranking nodes with "priority function", not the first step(which as you pointed out, does the jobs to filter out improper nodes).
So again, what does load refer to when ranking nodes?

[2015-08-11 00:49] davidopp commented on #12455
Sum of the Limits as specified here
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/types.go#L717

This is in the process o changing to sum of Requests, but same idea.

In other words: load is a currently a *static* concept defined by what people specified when they created their Pods/containers.

In the future it will also have a *dynamic* component based on looking at actua

[2015-08-11 00:53] dalanlan commented on #12455
Many thanks. Looking fwd to then.

[2015-08-11 01:01] yujuhong commented on #12214
Update: all but two stable tests passed.
The two failed tests are #12506 and monitoring.go: verify monitoring pods and all cluster nodes are available on influxdb using heapster

[code]

Both expected pods, `monitoring-heapster-v7-3o7cc` and `monitoring-influx-grafana-v1-w0sf6`, were running fine through manual check. The test couldn't find them from influxdb. Note that I ran the test twice and bo

[2015-08-11 01:08] #11238 closed

[2015-08-11 01:15] timothysc commented on #4871
cc @pmorie

[2015-08-11 01:44] timothysc commented on #12338
The proposal provides an api such that introspective applications can also do their own lock/leasing, but there currently doesn't exist an internal construct to ensure that there is at most only one under * conditions.

However, with some of the api changes + containerized pacemaker we could create the construct, but I would almost consider it an anti-pattern to how kubernetes operates.

[2015-08-11 01:54] hurf commented on #12439
I can work on it.

[2015-08-11 02:04] vishh commented on #12214
Were you able to retrieve any heapster logs?

On Mon, Aug 10, 2015 at 6:01 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-08-11 02:14] timothysc commented on #12506
/cc @derekwaynecarr

[2015-08-11 02:25] feihujiang commented on #11718
/cc

[2015-08-11 02:46] mikedanese opened #12509 "unit tests require over 3G of memory"
And thus cannot be reenabled in travis. Steps to reproduce:

[code]

which appears to start a lot of processes

[code]

[2015-08-11 03:25] Icedroid commented on #12136
@markturansky Now I created a RC with Replicas=3,  I use kubectl describe pods/mongodb-xxxx get three pods IP. Then I exec into one of the pods to get into mongodb shell for running rs.initiate(conf) to init a mongodb replica set. Now I want to fine a method to do these automanually.

[2015-08-11 03:52] feihujiang commented on #10305
Sorry, I made a mistake, "get command" PR ref a wrong issue.

[2015-08-11 03:56] markturansky commented on #12439
@hurf thanks but i got it.

[2015-08-11 05:10] karlkfi commented on #12509
It's not just unit tests. Building has a similar problem: #11852
Obviously some auditing needs to be performed.

[2015-08-11 05:42] bgrant0607 commented on #9502
We believe this to be resolved.

[2015-08-11 05:42] #9502 closed

[2015-08-11 06:10] hurf commented on #12439
OK, I though it has been opened for 3 days, but I forgot the weekend:-)

[2015-08-11 07:01] adyanthaya17 commented on #12465
@a-robinson When I ran the first command i.e. curl the status reads as failure and reason being not found. Can someone tell as to which IP's are to be specified in the ubuntu/config-default.sh in the fields for:

export SERVICE_CLUSTER_IP_RANGE=${SERVICE_CLUSTER_IP_RANGE:-x.x.x.x}

export FLANNEL_NET=${FLANNEL_NET:-x.x.x.x}

I'm not sure if the private network or the public network of the node has

[2015-08-11 07:14] hurf commented on #8190
/sub

[2015-08-11 07:15] Niyakiy commented on #1957
+1
It would be nice to completely move from etcd to consul.

[2015-08-11 08:14] srcspider commented on #12463
@thockin

Ah it's in the `--help` for `get` command and not global like the normal `--namespace` command.

My problem with labels is that I can't really stick into them information that's "identification" information since the names (at least for services) have to be unique. So this,

[code]
...just doesn't work due to name conflict. I would have to, as mentioned earlier in this thread, generate a

[2015-08-11 08:29] #9329 closed

[2015-08-11 08:33] abonas commented on #12446
thanks guys! sorry for missing some of your questions, timezone difference...

[2015-08-11 08:59] #12131 closed

[2015-08-11 09:04] kgrvamsi opened #12520 "ETCD Authentication model in Kubernetes"
Does Kubernetes support the Authentication model of ETCD to Connect the Components .

ETCD authentication module
https://github.com/coreos/etcd/blob/master/Documentation/authentication.md

[2015-08-11 09:44] gmarek opened #12524 "Jenkins build failure in any suite should send an email to the current oncall."
E.g. #12522 was ignored for over a week.

@roberthbailey @ixdy @quinton-hoole

[2015-08-11 09:53] resouer commented on #9053
no need anymore, give up socketplane, it sucks

[2015-08-11 10:35] #12420 closed

[2015-08-11 10:47] resouer opened #12526 "Container dependencies & volumes-from support within Pod"
I'd like to propose one use case and two issues, which I think are a little different from https://github.com/GoogleCloudPlatform/kubernetes/issues/831.
#### use case: a java dev workflow

[code]

Deploy:

A pod.yaml with two containers,:

[code]

It works OK, tomcat can load war from /work dir, but the **only concern** is that we need to make tomcat container starts after app finish `cp`.

So, th

[2015-08-11 11:39] dalanlan commented on #12468
Not accessible via https://10.10.102.97:6443/ui (where 10.10.102.97 is the master ip) - - Unauthorized.

/cc @timstclair

[2015-08-11 12:21] stevekuznetsov commented on #11869
@derekwaynecarr PTAL - thoughts?

[2015-08-11 13:15] naelyn commented on #1957
Following the comment by @erictune, I mostly have a POC of the background garbage collector written. It's not in a completed state yet, but the branch is here: https://github.com/naelyn/kubernetes/commits/no-ttl-events

Probably the order of operations is:

1. switch from TTL to background GC
2. figure out if anything else is still using TTL and deal with it
3. create dual support abstractions for

[2015-08-11 13:54] bgrant0607 commented on #1957
There's also discussion of a garbage collector (for pods) on #7660. cc @nikhiljindal

[2015-08-11 14:00] cjcullen commented on #11964
Fixed by #12042

[2015-08-11 14:00] #11964 closed

[2015-08-11 14:22] eramus commented on #12381
@justinsb @satnam6502  Do you mind weighing in on what should be a proposed/acceptable solution for selecting an appropriate subnet and/or load balancer when creating a service? I have some free time to work on the fix, but I think a consensus on a method for and priority of selection should be made first.

[2015-08-11 15:24] lleszczu commented on #12082
@yujuhong is there any public place where we can track progress on that ?

[2015-08-11 15:24] RichieEscarez opened #12531 "Pages corrupted: Titles in front matter with a colon ( : ) are causing Jekyll build errors"
Can we wrap all auto-generated front matter titles in quotation marks during pre-publishing processing?

**Issue:**
Colons are causing this build error:
[code]
Pages that have build errors do not display correctly out on the site, for example: http://kubernetes.io/v1.0/docs/admin/cluster-components.html
Here is that page's current frontmatter:
[code]

**Proposed Solution:**
If we wrap all titles i

[2015-08-11 15:27] kayrus opened #12533 "Strange kubelet behavior in CoreOS"
I've configured CoreOS cluster using Kubernetes v1.0 binaries.

Once kubelet is running on worker node it seems it watches for events inside `/sys/fs/cgroup/cpu,cpuacct/system.slice/` directory.

Steps to reproduce:

[code]

It will generate following logs:

[code]

If I stop kubelet - such error messages doesn't appear.

/cc @kelseyhightower

[2015-08-11 15:44] jamiehannaford opened #12534 "kube2sky failing with "Failed to list *api.Service: couldn't get version/kind; json parse error: invalid character '<' looking for beginning of value""
I'm trying to setup SkyDNS according to [these docs](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/cluster/addons/dns), but it's not working when I use these [skydns-rc.yaml](https://gist.github.com/jamiehannaford/268a2f48d3a750fbd2a8) and [skydns-svc.yaml](https://gist.github.com/jamiehannaford/033a93a50e3a4ec68d24) files.

I read in [various](https://github.com/GoogleCloudPlatfor

[2015-08-11 15:46] satnam6502 commented on #12381
We are trying to form working groups to discuss various aspects of Kubernetes and there will be a group which has external access as one of its main focus items. I would propose that folk on this thread consider joining that group and help discuss/drive a design going forward which has wider consensus. I think improving the situation is a non-trivial work item. @thockin

[2015-08-11 16:10] markturansky commented on #9331
@jayunit100 can this issue be closed?

[2015-08-11 16:34] multilinear commented on #5640
I'm no longer poking at this anymore by the way, I had planned to try and do something but got pulled elsewhere.

[2015-08-11 16:37] a-robinson commented on #12465
It looks like the IP address is working just fine for you. You got a valid response, it was just one telling you that the particular pod you were looking for doesn't exist. Kubectl worked just fine, which means your cluster is working fine.

What exactly are you trying to do?

[2015-08-11 16:42] bgrant0607 commented on #8676
Kubectl should not be watching pods, for multiple reasons. First, I don't want to proliferate the logic for deciding which pods count and which ones don't. Also, we should be pushing more of the logic server-side, as discussed in #12143.

[2015-08-11 16:47] bprashanth commented on #8676
We already did https://github.com/GoogleCloudPlatform/kubernetes/issues/9147 to fix the problem described in my previous comment. We should push stop to the rc manage before optimizing its performance further.

[2015-08-11 16:48] bprashanth commented on #9147
Fixed via https://github.com/GoogleCloudPlatform/kubernetes/pull/9739

[2015-08-11 16:48] #9147 closed

[2015-08-11 16:51] yujuhong commented on #12214
https://gist.github.com/yujuhong/f233d8c9b6dd18d1608b

[2015-08-11 17:03] a-robinson commented on #12391
The logging system works by proxying your request to the node that the pod is running on. @cjcullen, think that this sort of load testing might mess with the SSH tunnel used to reach the nodes from the master?

[2015-08-11 17:09] bgrant0607 commented on #11470
Sorry, @ravigadde. Still digging out of the pre-1.0 backlog.

I have a few quick comments:
1. Scheduler extensions should not be tied to cloudprovider in any way. There are many reasons why people might want to extend the scheduler.
2. We have existing mechanisms for adding new filtering and prioritization passes. Why not just use/improve them? Then you'd just need to add bind/unbind hooks.
3. FYI

[2015-08-11 17:18] yujuhong opened #12540 "Improve kubelet's scalability and performance"
Kubelet incurs high pod management overhead due to constant polling container states and sub-optimal implementation details (relevant issues reported by users:  #10451, #12099, #12082). This is an umbrella issue to improve Kubelet's scalability and performance by lowering such an overhead.

I will update this issue with more progress soon.

[2015-08-11 17:18] yujuhong commented on #12082
@lleszczu, I just created an issue for this, and will update later.

[2015-08-11 17:25] yujuhong commented on #12214
@vishh, I think it might just be a fluke. I created a new cluster and it passed the same test :\
I am rerunning all stable tests to confirm that the old cluster wasn't in the bad state due to other tests.

[2015-08-11 17:25] guybrush commented on #12534
maybe this helps: https://gist.github.com/guybrush/47bcd5f4e41a3be102b2#gistcomment-1491790

[2015-08-11 17:30] bgrant0607 commented on #11797
See also #11234.

cc @yujuhong

[2015-08-11 17:31] bgrant0607 commented on #11007
@yaoguo: I'd appreciate a fix to this, also, if you're hunting for useful things to do.

[2015-08-11 17:33] bgrant0607 commented on #11797
Graceful termination is in progress: #9165.

[2015-08-11 17:46] yifan-gu commented on #12540
/cc @yifan-gu

[2015-08-11 17:52] vishh commented on #12214
@yujuhong: From heapster logs it looks like there were many issues - API server watches failing, InfluxDB has no memory, etc. FWIW it might not be worth exploring.

[2015-08-11 18:03] liggitt opened #12542 "Scheduler algorithm rename breaks backwards compatibility"
1.0.0 shipped with `ServiceSpreadingPriority` (https://github.com/GoogleCloudPlatform/kubernetes/blob/release-1.0/plugin/pkg/scheduler/algorithmprovider/defaults/defaults.go#L70). The rename at https://github.com/GoogleCloudPlatform/kubernetes/pull/10667/files#r36776577 breaks backwards compatibility with serialized scheduler config files.

We should:
1. Add a test for backwards compatibility with

[2015-08-11 18:05] liggitt commented on #12542
Looks like it was more than just a rename, but a change in function as well...

[2015-08-11 18:07] #12531 closed

[2015-08-11 18:07] liggitt commented on #12542
cc @abhgupta

[2015-08-11 18:10] abhgupta commented on #12542
Pasting my comment from https://github.com/openshift/origin/issues/4112#issuecomment-129996433

The previous priority function (ServiceSpreadingPriority) ONLY considered services and the new priority function (SelectorSpreadPriority) considers both services and replication controllers for spreading.

Do we need to ensure backward compatibility in functionality as well? As in, do we create a Servic

[2015-08-11 18:11] jwforres commented on #10628
/cc @fabianofranz

[2015-08-11 18:16] bgrant0607 commented on #12542
cc @davidopp

[2015-08-11 18:24] justinsb commented on #12381
Hi @eramus - thank you for figuring out the problem and being willing to work on a fix.

The approach I was taking was that we should match by tags, in particular the "KubernetesCluster" tag.  I have a WIP "under-the-hood" document here: https://github.com/GoogleCloudPlatform/kubernetes/pull/11938/files

So we should be tagging the subnets with a KubernetesCluster tag, and we should be filtering o

[2015-08-11 18:31] jamiehannaford commented on #12534
@guybrush I also read your gist! :smile: But I had trouble extrapolating to my scenario.

Is it [these lines](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/kubectl-container/pod.json#L37-L44) I need to add (obviously in YAML) to the RC file?

Where do I specify the `--cluster-dns` IP? In a config file? If so, what path? Can it be any arbitrary IP on the subnet?

Why did yo

[2015-08-11 18:37] cjcullen commented on #12391
Hmmm. That is definitely an error in the SSH tunneling. I think we have seen problems with the proxy tunnels with pegged instances before. The tunnels should eventually heal. @azr is logging still broken?

[2015-08-11 18:58] yujuhong commented on #12214
FWIW, most tests passed in that run :-|

The new run passed all stable tests except for #12506. I will try killing/restarting daemons to see if the cluster would break.

[2015-08-11 19:05] liggitt commented on #12542
Opened #12544 with deserialize test and empty ControllerLister implementation, per @abhgupta's suggestion

[2015-08-11 19:32] brendandburns opened #12545 "Node Controller deletes the node before it deletes the pods on that node"
This is bad b/c it leads to a race condition where a node may have disappeared, but it's pods won't, and the pods will be stuck in pending forever.

We should delete pods first, and _then_ delete nodes.

[2015-08-11 19:42] davidopp commented on #12542
Sorry for the trouble.

Yeah, the reason we changed the name was because we changed the behavior.

My proposal wold be that we take what we have now and add back ServiceSpreadingPriority with the same behavior as the old ServiceSpreadingPriority. (That is, SelectorSpreadPriority would be strictly an addition.)

WDYT?

[2015-08-11 19:44] HardikDR commented on #12455
I am really interested in working on this !!
Please guide.
@vishh

[2015-08-11 19:50] HardikDR commented on #12455
I am interested in working on this !!
Please guide.
@vishh

[2015-08-11 19:52] vishh commented on #12455
@HardikDR: #11951 has to be completed first. I can update this thread once that is done.

[2015-08-11 19:55] liggitt commented on #12542
works for me. I think that's what my PR does, eyes welcome

[2015-08-11 19:56] nikhiljindal commented on #11852
Missed updating swagger/datafile.go while reverting swagger-ui. Doing that in https://github.com/GoogleCloudPlatform/kubernetes/pull/12547

[2015-08-11 19:58] stts commented on #11852
NAVER - http://www.naver.com/
--------------------------------------------

keliong@naver.com 님께 보내신 메일 <Re: [kubernetes] Building takes TOO much memory and fails (#11852)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-08-11 19:58] HardikDR commented on #12455
@vishh  Okay.. Thanks.

[2015-08-11 20:14] dchen1107 commented on #12533
cc/ @crawford @yifan-gu too

[2015-08-11 20:21] jdef commented on #11894
is there a change that we need to make to the guide? not sure what ".. update ... to HEAD link .." means.

/cc @karlkfi

[2015-08-11 20:31] bgrant0607 commented on #12545
cc @smarterclayton @gmarek @nikhiljindal

[2015-08-11 20:39] liggitt opened #12552 "StatusCause "field" should not contain multiple field names"
https://github.com/GoogleCloudPlatform/kubernetes/pull/9594/files#diff-e77d382a51b51741c1c2b9803fb68fa2R159 introduced the ability to let a single field contain multiple names separated by a literal " or ".

Any client or UI that uses the name of a field in a returned error to correlate errors with inputs will be unable to parse that.

If the data structure is insufficient to express a type of err

[2015-08-11 20:39] liggitt commented on #12552
cc @bgrant0607 for API compatibility

[2015-08-11 20:40] liggitt commented on #12552
cc @deads2k

[2015-08-11 20:40] guybrush commented on #12534
sorry the gist (and comment) are not complete, I pushed my working branch here: https://github.com/guybrush/kubernetes/commit/e6070a7179e7ef69387e4f9851b9648aa23f1518

you can test it with

[code]

[2015-08-11 20:42] abrutus commented on #12545
This prevented my pod to go from Starting to Running, since it was scheduled on a node that was deleted. Which led the DNS service to not be able to come back

[2015-08-11 20:42] nikhiljindal commented on #12545
Right.

There is also the case when user directly deletes the node, in which case, we will need a GC controller to clear the pods: https://github.com/GoogleCloudPlatform/kubernetes/issues/7660#issuecomment-128636044

[2015-08-11 20:46] bgrant0607 commented on #12545
@abrutus Fixing this won't solve that problem.

[2015-08-11 20:53] davidopp commented on #12545
Oh, so the problem is the following race condition?

1) NodeController deletes node
2) Before scheduler sees the deletion, it assigns the Pod to a Node
3) NodeController doesn't know the Pod was assigned to a node, so when it deletes the Pods on the node it doesn't delete that Pod

As @roberthbailey pointed out in the PR, this PR just seems to trade one race for another, namely

1) NodeController

[2015-08-11 20:55] gmarek commented on #12545
Currently there's a cache of 'known' Nodes, and NodeController periodically deletes Pods from Nodes it doesn't know about (#12277). It does not solve this problem fully, as if the NodeController dies the cache is cleared, and it doesn't know which Nodes do not exist. @davidopp suggested two alternatives https://github.com/GoogleCloudPlatform/kubernetes/issues/11631#issuecomment-128518659, while @s

[2015-08-11 20:57] nikhiljindal commented on #7660
@smarterclayton Does https://github.com/GoogleCloudPlatform/kubernetes/pull/9165 take care of this controller or do you want me to send a proposal/PR for it?

[2015-08-11 21:01] nikhiljindal commented on #11631
Its clear that NodeController cant ensure that all pods assigned to deleted nodes are deleted.
We are discussing the GC controller in https://github.com/GoogleCloudPlatform/kubernetes/issues/7660 which will clear such pods.

Should we close this issue?

[2015-08-11 21:10] brendandburns commented on #12545
No, I'm pretty sure that the problem that @abrutus saw was due to Node controller.  In the process of debugging that cluster we scaled down to zero and then back up, the cluster was pretty grumpy due to something like 100k failed pods.

So while there are other races out there, I'm pretty sure that this is the root cause of the one that he saw.

[2015-08-11 21:12] brendandburns commented on #12545
fwiw, the problem is way simpler than the race that @davidopp mentioned, it goes like this:

1) node controller deletes node
2) node controller is killed for some reason (e.g. reboot)
3) pods that should have been deleted, aren't, because the node controller is out of the loop, since the node no longer exists.

Note that this also can happen as follows:

1) Node is deleted
2) Requests to delete po

[2015-08-11 21:13] RichieEscarez commented on #9205
@davidopp Ive created a "Media" page (still in review, see #12501) that can be used as a repository for links to useful videos, presentations, and other documents

[2015-08-11 21:15] timothysc commented on #7566
Now that 1.0 is out, we should really re-evaluate this, the issue will be maintaining the abstractions that have been created around "storage" vs. raw helper utils.  So the helper per context would get a bit weird, and may not apply to other storage back-ends.

cc @wojtek-t

[2015-08-11 21:20] gmarek commented on #12545
Yup, but #12546 doesn't solve this problem AFAICT.

[2015-08-11 21:31] smarterclayton commented on #7660
Going to be separate - I just stemmed the bleeding and ensured we retried
where appropriate (but permanent fails can still cause problems).

On Aug 11, 2015, at 4:57 PM, Nikhil Jindal <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Does #9165
<https://github.com/GoogleCloudPlatform/kubernetes/pull/9165> take care of
this controller or do you want me to send a

[2015-08-11 21:34] davidopp commented on #12545
@brendanburns Ah, I was confused because your description of the issue says "the pods will be stuck in pending forever" but actually this does not have anything to do with Pods in Pending state. You're just talking about Pods that were oprhaned when their node was deleted.

I don't have a problem with your PR (and I see it is already merged :) ) but since there are still race conditions all over t

[2015-08-11 21:35] smarterclayton commented on #12545
Quick question.  Why do we delete nodes from the node controller?

Why not mark them dead and gc them after a few hours?  Does deletion help
us provide a better experience?

On Aug 11, 2015, at 5:12 PM, Brendan Burns <notifications@github.com> wrote:

fwiw, the problem is way simpler than the race that @davidopp
<https://github.com/davidopp> mentioned, it goes like this:

1) node controller delete

[2015-08-11 21:35] nikhiljindal commented on #7660
ok. Will send a separate PR for it then. Thanks!

[2015-08-11 21:35] sttts commented on #12281
I have debugged the problem: https://gist.github.com/sttts/fd66462513f6630aeeb7

The scheduler's http client is blocked by a message sent to the master after the master failed, but before the scheduler knew about that. You see those ReregisterFrameworkMessage which are never sent to the master because the previous message hasn't timed out.

Eventually the timeout happens. Unfortunately the schedul

[2015-08-11 21:42] davidopp commented on #12545
Synchronous is a simpler model but if we're going to do background GC of stuff it might be better to be consistent and clean up everything in the background. There can still be race conditions even with a GC controller, but at least if it keeps sweeping you would expect it will eventually get rid of all the garbage or at least keep it at a low level.

[2015-08-11 21:44] smarterclayton commented on #12545
And a node that is already not ready and not being scheduled can be
evacuated without a problem.  Deletion is a nice signal to other
components, but we could signal using conditions or a status update.

On Aug 11, 2015, at 5:42 PM, David Oppenheimer <notifications@github.com>
wrote:

Synchronous is a simpler model but if we're going to do background GC of
stuff it might be better to be consistent

[2015-08-11 21:45] bgrant0607 commented on #12552
cc @manansaraf @ghodss

[2015-08-11 21:52] bgrant0607 commented on #12552
So this depends on whether we feel this field should be directed at humans, programs, or both. A more structured form is more convenient for programs, but less convenient for humans.

Until we figure out a better approach, I'm fine with reverting that PR.

[2015-08-11 21:53] bgrant0607 commented on #12552
BTW, how did you catch this?

[2015-08-11 21:58] liggitt commented on #12552
we have unit tests to make sure all OpenShift API objects pass through sufficiently strict validators on the way to storage. The latest rebase changed the field on the error returned when missing a name from "name" to "name or generateName", which raised eyebrows

[2015-08-11 22:00] yifan-gu commented on #12533
@kayrus Could you paste what configure is the kubelet?

[2015-08-11 22:04] bkeroackdsc commented on #12468
+1 kube-ui assumes that base URL is also the k8s API endpoint, which may not be the case

[2015-08-11 22:32] hrishimantri commented on #12281
@sttts yeah we can go ahead and restart the scheduler. But I'm a little confused about your comment on the 'previous orphaned tasks showing up again in the UI'. These should not show in the UI unless the RC brings them up , right ?

[2015-08-11 22:33] ghodss commented on #12552
Yeah, we didn't like the idea of cramming a sentence into the field but after a thorough overview the conclusion was that any other solution would require a tremendous amount of refactoring (likely at least one or two weeks) because of how many places the struct was used directly. No problem if it gets reverted, though we'd lose the usability win we have in the current implementation.

[2015-08-11 22:36] sttts commented on #12281
The pods are still running. But the master does not see the framework. Also the executors should still be running.

[2015-08-11 22:45] JanetKuo commented on #11089
Solved with #11138.

[2015-08-11 22:45] #11089 closed

[2015-08-11 22:48] liggitt commented on #12552
As far as I can tell, the only place using it currently is the "name or generateName" validation. I think it would make more sense to keep the required field limited to "name", and populate the detail message with info about alternately providing the generateName field

[2015-08-11 22:50] JanetKuo commented on #10861
Solved with #11919.

[2015-08-11 22:50] #10861 closed

[2015-08-11 23:01] hrishimantri commented on #12281
@sttts got it.. is there a timeout value we can configure for the scheduler talking to the mesos-master ?

[2015-08-11 23:03] brendandburns commented on #12545
Right now, if we don't at least delete the Pods, then a replication controller will never get a signal that it should recreate the pod.  We could move the pods into "Host Failed" state or something like that and make the replication controller respect that.

The problem with background GC in this case is that you can't differentiate between a Pod that a user explicitly asked to be placed on a mach

[2015-08-11 23:04] countspongebob commented on #7566
This one has come up in the scaling working group as something we need to fix. Target 1.1 perhaps?

cc @timstclair

[2015-08-11 23:07] vishh commented on #12214
https://github.com/docker/docker/releases/tag/v1.8.0

[2015-08-11 23:11] mattma commented on #499
Following the documentation, I have successfully added a `secret`

[code]

My question, all example of using `imagePullSecrets` is in the `POD`, how can i use it in the `RC`? E.G: this is my `xxx-rc.yaml`

[code]

[2015-08-11 23:15] smarterclayton commented on #12545
Why wouldn't we delete a pod a user explicitly placed on the node?  If
scheduler input is different from user input we shouldn't be using
spec.nodeName, but we chose to use that because targeted pods aren't any
more special than any other (you can create an RC for a targeted pod as
well).

On Aug 11, 2015, at 7:04 PM, Brendan Burns <notifications@github.com> wrote:

Right now, if we don't at least

[2015-08-11 23:24] brendandburns commented on #12459
Will try to reproduce.

[2015-08-11 23:24] smarterclayton commented on #499
It works in the RC the same way - just make sure it's in the right place in
the pod template.

On Aug 11, 2015, at 7:12 PM, Matt Ma <notifications@github.com> wrote:

Following the documentation, I have successfully added a secret

 ➜ kubectl get secrets

                                        ✹
NAME            TYPE                      DATA
myregistrykey   kubernetes.io/dockercfg   1

My questio

[2015-08-12 00:02] mattma commented on #499
@smarterclayton With my setting above, it did not work.

[code]

Could you help me what is the right place in `rc`?

[2015-08-12 00:21] dalanlan commented on #12540
/cc @dalanlan

[2015-08-12 00:54] adyanthaya17 commented on #12465
I'm unable to get the GUI for the images on the web page, therefore I'm not sure if I used the right IP's in the configuration file.

How do I assign the containers with external IP so that it's accessible in the GUI?

[2015-08-12 01:10] caesarxuchao commented on #12413
Update: after discussion with @nikhiljindal, we changed our idea about point 1:
the old design is using "/api" as the group name of the native k8s kinds, and leave the prefix (for all APIs) null, but such a design prevents us from adding a prefix afterwards, because it will change the URL for v1 objects and we lose backward compatibility.
In the new design, we regard the group name of the native k

[2015-08-12 01:35] timothysc commented on #7566
@countspongebob sadly your hitting my alter ego... my handle is timothysc

[2015-08-12 01:50] derekwaynecarr opened #12562 "LimitRange and ResourceQuota support for bandwidth resources"
As a follow-on to

https://github.com/GoogleCloudPlatform/kubernetes/pull/12187

We should be able to constrain bandwidth requests for a pod similar to other resources (memory, cpu, etc).

Prerequisite to add request vs limit support in both LimitRange and ResourceQuota needs to happen first.

FYI @ncdc

[2015-08-12 02:13] dalanlan opened #12563 "FailedSync events of infra container when starting a pod"
Recently every time i tried to start a new pod, there exists a failedsync events of infra pod, which complains `Error syncing pod, skipping: DNS ResolvConfPath specified but does not exist. It could not be updated: /var/lib/docker/containers/a5e2efe6a35a00ff07094cf34a9c8dcf8bbdfe5808f0cb0bdef7137b0f038549/resolv.conf`.

The pod is properly running eventually, and I was wondering whether it's a tim

[2015-08-12 02:17] dalanlan commented on #12563
Or is it about the read-write permission of `/var/lib/docker`?
[code]

[2015-08-12 02:35] smarterclayton commented on #499
It's possible it also needs to be added to the service account, @deads2k?

On Aug 11, 2015, at 8:02 PM, Matt Ma <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> With my setting above,
it did not work.

 ➜ kubectl get po

                                        ✹
NAME             READY     STATUS
RESTARTS   AGE
kube-dns-5ny1k   3/3       Running
0          1h
x

[2015-08-12 02:37] dalanlan commented on #12563
Hmm.. make some progress here. It would break domain name resolution.
Yet this didnt happen before when i set up dns.
And the settings for docker are never changed.

[2015-08-12 03:00] wulonghui opened #12567 "Collect logfiles inside the container"
## Logs to stdout/stderr
Currently, it's ok to collect container's logs which are printed to `stdout/stderr`.
According to [kubernetes/fluentd-eslasticsearch](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/pkg/volume) addon, kubelet links the docker containers' log to  `/var/log/containers`,
[code]
then fluentd tails the logfiles in `/var/log/containers`, and add the tag `<pod_full_

[2015-08-12 03:09] lvlv commented on #12563
Yes, kubelet tries to modify /var/lib/docker/.../resolv.conf to change the
dns settings of the pod.
Are u using containerized version of k8s deployment? I met the same issue
that time. My issue was resolved by using "slave" mount option in kubelet
container.

On Wed, Aug 12, 2015 at 10:37 AM, Emma He <notifications@github.com> wrote:

[2015-08-12 03:17] dalanlan commented on #12563
Yep, a containerized kubelet. What confused me most is that it didnt happen before and shows up untraceably.
What's a "slave" mount option of kubelet, if i may ask? Sorry but i didnt quite catch you:-)

[2015-08-12 03:44] lvlv commented on #12563
That's a vfs mount flag.
For details see https://lwn.net/Articles/159077/
Also a docker PR: https://github.com/docker/docker/pull/14097

I patched that PR in 1.7.1 and made /var shared before mounting that (with
--rootmount=slave) into kubelet container.

On Wed, Aug 12, 2015 at 11:18 AM, Emma He <notifications@github.com> wrote:

[2015-08-12 04:21] mattma commented on #499
[docs](http://kubernetes.io/v1.0/docs/user-guide/service-accounts.html) is not clear what to do to fix this use case.

On the other hand, [docs](http://kubernetes.io/v1.0/docs/user-guide/images.html) explains very clearly to address the issue of Use a hosted private Docker registry. Is this a bug?

[2015-08-12 04:46] bgrant0607 commented on #12430
In the next-gen APIs (#8190), we should consider splitting spec and status into entirely separate resources.

However, as for modification time of the spec: Using actual time is usually the wrong approach. See generation/observedGeneration as implemented for ReplicationController.

[2015-08-12 04:49] bgrant0607 commented on #246
An alternate to a bootstrap URL could be a local pre-initialized cache of bootstrap data, which would be overwritten once the kube-proxy was able to talk to the apiserver.

[2015-08-12 05:06] dalanlan commented on #12563
Ic. Maybe i'll try later.
Yet I used `--privileged` flag for kubelet, and it's kinda odd for kubelet what happened here.

[2015-08-12 05:07] bgrant0607 commented on #12545
We absolutely should delete pods that users placed. They should just have a scheduler that selected nodes prior to pod creation. Once we add a mechanism to disable the default scheduler, they'll even be able to invoke /binding.

If there are situations where we want to avoid deleting pods, that's forgiveness #1574. The only case I think we could get away without an explicit notion of forgiveness f

[2015-08-12 05:12] AlexeyKupershtokh opened #12569 "Flanneld and etcd open too many connections"
I'm not sure Kubernetes github is the right place for posting my issue, but I found it during kubernetes usage.

Environment
=========
I have a vm with ubuntu 14.04.1 with kubernetes (with only one master-minion node) installed to it using the following script which installs kubernetes 1.0.3, etcd 2.0.12 and flanneld 0.4.0:
[code]

Problem
=======
And I've run into trouble that the etcd process re

[2015-08-12 05:17] #8918 closed

[2015-08-12 05:29] AlexeyKupershtokh commented on #12569
Solution
======
I've finally found another related issue https://github.com/GoogleCloudPlatform/kubernetes/issues/8176 which is resolved by installing dns addons.
Not sure if this would help alone but I have also installed `sudo apt-get install bridge-utils` and run `sudo /opt/kubernetes/cluster/ubuntu/reconfDocker.sh`.
Now descriptors number stabilized on about 10k and grow slowly. I'll monitor i

[2015-08-12 05:29] #12569 closed

[2015-08-12 05:39] davidopp commented on #12545
@brendandburns If we find a Pod whose spec.nodeName field references a node that does not exist, that is always an error and the Pod should be immediately deleted. (So I think I am agreeing with Brian.) Thus I don't think the following is actually a problem: "The problem with background GC in this case is that you can't differentiate between a Pod that a user explicitly asked to be placed on a mac

[2015-08-12 05:44] davidopp commented on #12545
(But as a separate issue, I think that if we ever get fine-grained ACLs, we don't want to let users set nodeName directly. They should use node label selectors to constrain where something gets scheduled, and we should publish the node name as a label on every node.)

[2015-08-12 05:49] a-robinson commented on #12465
What happens when you run the commands actually shown in the [update-demo README](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/user-guide/update-demo)?

Also note that there are some stale paths in that doc that I've just sent out #12570 to fix.

[2015-08-12 06:25] dalanlan commented on #12526
/cc @dalanlan

[2015-08-12 06:40] kayrus commented on #12533
[code]

[2015-08-12 06:41] kayrus commented on #12533
Here is my libvirt demo config:
https://github.com/endocode/coreos-docs/tree/kubernetes/kubernetes

[2015-08-12 06:44] caesarxuchao commented on #12413
Todo:

1. define what URL to expose sub-resource which doesn't belong to the parent-resource's group.
https://github.com/GoogleCloudPlatform/kubernetes/pull/12217#issuecomment-129968733

2. VersionAndKindForResource() only takes `resource` as input, this prevent us from defining conflicting kind names in different groups. see [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg

[2015-08-12 06:45] decker502 commented on #12468
+1

[2015-08-12 06:52] adyanthaya17 commented on #12465
This is what I've done:
$kubectl proxy --www=examples/update-demo/local/ &
Starting to serve on localhost:8001

I'm able to run all the commands successfully except that I'm unable to  use the IP assigned to it in the browser as it's a clustered environment IP:
http://localhost:8001/static

My /etc/hosts:
root@master:/home/ubuntu/kubernetes# cat /etc/hosts
127.0.0.1 localhost
10.x.x.x master

and

[2015-08-12 07:10] resouer commented on #831
ping @thockin , what do you think if we support `volumes-from` within the Pod as I mentioned in #12526 ?

Good:
It will not change the behavior of Pod
It will release me of doing `cp` things to empty_dir
It solves 90% of what people want in this issue and bring a new way to deploy apps

Bad:
Some kind of a docker way, seems some owners don't like it ...

Otherwise: we can make empty_dir do not cle

[2015-08-12 07:11] davidopp commented on #9205
I'll just close this issue, though I still wonder if we should have some kind of slideshow right on the kubernetes.io page to give people a high level overview of the reasons they should want to use Kubernetes and define the basic abstractions. (In other words, basically the talk we've been using publicly, maybe a little condensed.) But Julia makes a good point about having to keep it very up to d

[2015-08-12 07:11] #9205 closed

[2015-08-12 07:16] gouyang opened #12572 "Improve flag validate output"
It print the error line and then the whole usage currently, the usage is usually too long which cause the exact error message is one screen above.

[code]

How about to short it like this:

[code]

If it's acceptable, I'd like to sent a PR.

[2015-08-12 07:27] lvlv commented on #12468
+1
btw, can you try http://apiserver:8080/ui? Works from my env.

On Wed, Aug 12, 2015 at 2:46 PM, decker502 <notifications@github.com> wrote:

[2015-08-12 07:33] dalanlan commented on #12468
I'll bet you mean http://<master-ip>:8080/ui?
8080 is binded to 127.0.0.1 in my case, so I (and basically no one else too) can access that via url ;-)

[2015-08-12 07:36] eivantsov opened #12573 "kubectl kubectl: command not found"
Just followed the tutorial on settng up master and worker nodes on Ubuntu 15.04 with Docker 1.8

However, I keep getting the following:

Master done!
root@master:~/kubernetes/docs/getting-started-guides/docker-multinode# kubectl
kubectl: command not found

[2015-08-12 07:48] wojtek-t commented on #7566
@timothysc
There is a plan to start using the new etcd client - see #11962 - IIUC we would like to do it relatively soon.
So we should first check whether the new client has the same problems (I didn't have chance to do that so far).

[2015-08-12 07:52] HaiyangDING opened #12574 "Use request instead of limit in prioritizer function LeastRequestedPriority()"
In https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/proposals/resource-qos.md, we have defined the QoS of CPU/Memory resources. Based on the description, I think it would make more sense to use requested resource instead of resource limit when prioritizing the node with respect to free resources. That is, free resource on a node should be measured by `capacity - sum_of_requested_

[2015-08-12 08:07] moink635 opened #12575 "Unable to mount volumes for pod "glusterfs_default": exit status 1"
Much appreciated if some helps
Unble to mount volumes for pod
Giving this error
1)    failedMount     Unable to mount volumes for pod "glusterfs_default": exit status 1
2) failedSync      Error syncing pod, skipping: exit status 1

mounting with glusterfs code is below

gluster_endpoints.json

[code]

gluster_pod.json

[code]

if any thing i need to update in code?
Thanks waiting for reply

[2015-08-12 08:41] dalanlan commented on #12386
Solved by [google container group](https://groups.google.com/forum/#!topic/google-containers/QiAaDDn_JoI)
Closing it.

[2015-08-12 08:41] #12386 closed

[2015-08-12 08:43] jamiehannaford commented on #12534
@guybrush Didn't work. I'm running CoreOS in a multi-node cluster (1 master, 3 minion hosts), so I couldn't compile a custom kubectl binary. Instead I recreated your steps with the `kubectl` already installed (the version info is in original post above).

I copied your [two DNS files](https://github.com/guybrush/kubernetes/tree/e6070a7179e7ef69387e4f9851b9648aa23f1518/dns) and created them. Intere

[2015-08-12 08:51] dalanlan commented on #12563
Solved the dns pb already. Turns out it suffers due to missing params, which is my own fault.

Yet i assume it's a *bug*, 'cause kubelet should *not* attempt to update the resolv.conf of infra container.

[2015-08-12 08:59] dalanlan commented on #12574
/cc@dalanlan

[2015-08-12 09:04] dalanlan commented on #12573
You should at least scp the kubectl binary to the master node manually and make it available via PATH ENV.

[2015-08-12 09:11] jamiehannaford commented on #12534
If I add `; echo ok` to the healthz liveness probe, the skydns logs change to:

[code]

The kube2sky logs are still the same as above.

[2015-08-12 09:24] adyanthaya17 opened #12579 "Service cluster IP range"
Hi,

I've been follwoing the document https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md

I have a question when it comes to the ubuntu/config-default.sh file in the field:

export SERVICE_CLUSTER_IP_RANGE=192.168.3.0/24
export FLANNEL_NET=172.16.0.0/16

Do we need to specify the machine's internal private IP here or is a virtual network that is cre

[2015-08-12 09:28] bq-xiao commented on #12573
You can download the kubectl binary from https://storage.googleapis.com/kubernetes-release/release/v1.0.1/bin/linux/amd64/kubectl (linux), or download from https://storage.googleapis.com/kubernetes-release/release/v1.0.1/bin/darwin/amd64/kubectl (OS X) and make it available in your machine PATH ENV.

[2015-08-12 09:32] adyanthaya17 commented on #12579
The 192.168.3.x is neither my external or internal IP range. To make use of the UI feature doesn't the node require it?

[2015-08-12 09:46] gmarek commented on #12545
There's a corner case when user have a RC with a template that has a NodeName set. If the Node goes down and we delete Pods that were running on it (in one way or another - it doesn't really matter), RC will recreate those pods which will stay pending forever (and probably take some percentage of schedulers time).

This case is rather silly pet-like behavior, so I don't know if we care about it.

[2015-08-12 09:52] adyanthaya17 opened #12580 "Deploy addons"
I'm facing the below error when I look for the --namespace

root@master:/home/ubuntu/kubernetes/cluster/ubuntu#
KUBERNETES_PROVIDER=ubuntu ./deployAddons.sh
Deploying DNS on kubernetes
replicationcontrollers/kube-dns-v8
services/kube-dns

root@master:/home/ubuntu/kubernetes/cluster/ubuntu# kubectl get pods --namespace=kube-system
NAME                READY     STATUS    RESTARTS   AGE
kube-dns-v8-k

[2015-08-12 09:56] bq-xiao commented on #12468
I think you should launch kube-ui manually with:

Seeing the same problem here https://github.com/GoogleCloudPlatform/kubernetes/issues/10697

[2015-08-12 10:00] jjfiguep commented on #9673
Hi,

First of all, this is my first comment in GitHub and sorry if this is not the correct place.

In previous comments it is discussed the possibility to use Kubernetes and HAProxy. Also it is commented the option to periodically detect new services and update haproxy config file.
This is just my problem, I´m using NodePort to expose the services to internet but I would like replace the assigned

[2015-08-12 10:29] mwielgus opened #12581 "Incorrect age in kubectl expose output"
[code]

[2015-08-12 10:31] piosz commented on #12575
The problem is with https://github.com/GoogleCloudPlatform/kubernetes/tree/8813c955182e3c9daae68a8257365e02cd871c65/examples/glusterfs

@caesarxuchao  could you please take a look?

[2015-08-12 10:36] dalanlan commented on #12468
I did that already, and the pod works properly.

[2015-08-12 10:41] #12481 closed

[2015-08-12 10:44] moink635 commented on #12575
Yes, i have already gone through  with that, but getting same issue?

[2015-08-12 11:28] onorua opened #12582 "yaml parser fails with "bufio.Scanner: token too long""
While creating secrets, I've got an error:
[code]
while when I created json from the same data my secret created without any issues. So far I've changed "default" format to use json instead of yaml. But as far as I can see, yaml parser is the only module using bufio.Scanner while package docs states:
[code]
bufio filed on the folder with following files encoded:
[code]

[2015-08-12 11:40] moink635 commented on #12575
Mounting arguments: 192.168.1.63:192.168.1.63:/gvol0 /tmp/mesos/slaves/20150812-121915-1057073344-5050-2582-S0/frameworks/20150812-121915-1057073344-5050-2582-0000/executors/8afd73d6c887f893_k8sm-executor/runs/42646d7e-1c3d-4d2b-9df3-4e8b3186ffb5/pods/ae9912e4-40ce-11e5-a709-080027beea41/volumes/kubernetes.io~glusterfs/glusterfsvol glusterfs [ro]
Output: ERROR: failed to create logfile "/var/log/g

[2015-08-12 11:41] moink635 commented on #12575
Output: ERROR: failed to create logfile "/var/log/glusterfs/tmp-mesos-slaves-20150812-121915-1057073344-5050-2582-S0-frameworks-20150812-121915-1057073344-5050-2582-0000-executors-8afd73d6c887f893_k8sm-executor-runs-42646d7e-1c3d-4d2b-9df3-4e8b3186ffb5-pods-ae9912e4-40ce-11e5-a709-080027beea41-volumes-kubernetes.io~glusterfs-glusterfsvol.log" (File name too long)

[2015-08-12 12:00] jamiehannaford commented on #12534
Pretty sure this is fixed now. I used [the azure files](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides/coreos/azure/addons) and made sure the skydns pointed to their latest version (`skynetservices/skydns:latest`).

[2015-08-12 12:00] #12534 closed

[2015-08-12 12:04] kgrvamsi commented on #12580
Give it a Try again, seems like a problem with the connectivity.

[2015-08-12 13:14] deads2k commented on #499
`ImagePullSecrets` in a podspec are not gated by the list of secrets on the service account.  What you specify is what gets used.  I don't think we have good logging around exactly which secret is attempted from the keyring, but that might be the next step.

[2015-08-12 14:15] smarterclayton commented on #12545
Maybe the rescheduler (proposed as looking at pods that are in pending)
should apply back pressure somehow.  Or maybe the idler (proposed as part
of general resource usage and horizontal autoscaling) should look at any
replication controller that is pending for a long time and simply set them
back to 0.

On Wed, Aug 12, 2015 at 5:47 AM, Marek Grabowski <notifications@github.com>
wrote:

--
Clayton