[2018-11-08 06:20] krzyzacy commented on #70708
we can make a GIANT dedicated node for scalability jobs...

[2018-11-08 06:47] AishSundar commented on #70760
/reopen

[2018-11-08 07:01] Huang-Wei commented on #70627
Latest running of ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new is green (after #70681 got merged).

[2018-11-08 07:06] AishSundar commented on #70627
cool.. lets watch for a few more runs and close this issue.

[2018-11-08 07:34] seunghunee opened #70788 "e2e conformance test about websocket failed only with log level 8"
**What happened**:
When I did e2e conformance test with log level 5, it completely passed!
When I did e2e conformance test with log level 8, it just failed.

The only thing I did is just leveling up from log level 5 to 8.
But, I've got this error message.
[code]

**What you expected to happen**:
test would be completely passed and just get more verbose log

**Environment**:
local cluster

/kind bu

[2018-11-08 07:36] seunghunee commented on #70788
/sig testing

[2018-11-08 08:06] hoangcao commented on #69776
+1 from new folk here. It provides us a valuable hand on task to understand more deeply about development processes, CI system ...

[2018-11-08 09:28] jimmiebtlr commented on #64002
How do we find what's blocking the deletion?

[2018-11-08 09:47] cwdsuzhou opened #70790 "Replicaset . can not use ActiveDeadlineSeconds in pod spec"
**What happened**: kubectl create apply -f test.yaml.
The ReplicaSet "replicaset-example" is invalid: spec.template.spec.activeDeadlineSeconds: Invalid value: 10: must not be specified

test.yaml is as below:

[code]
**What you expected to happen**:
Successfully create a rs and 3 pod.

**How to reproduce it (as minimally and precisely as possible)**:
set up a k8s cluster and use my test.yaml to se

[2018-11-08 09:51] cwdsuzhou commented on #70790
@kubernetes/sig-node
@lifecycle/rotten

[2018-11-08 09:53] lifubang commented on #15478
Is there still no plan to support these features?
--log-driver= Logging driver for container
--log-opt=[] Log driver options

[2018-11-08 10:48] dims commented on #67720
/close

[2018-11-08 10:48] #67720 closed

[2018-11-08 10:51] #70723 closed

[2018-11-08 10:53] pohly opened #70791 "local-up-cluster.sh: install CSI CRDs"
**What would you like to be added**:

https://github.com/kubernetes/kubernetes/pull/70193/ added a new addon to addon manager "that automatically installs CSI CRDs if CSIDriverRegistry or CSINodeInfo feature gates are true". But this is either broken or this addon manager isn't active in a cluster brough up with:
[code]

This should work automatically also for such local clusters.

**Why is this n

[2018-11-08 10:54] redbaron commented on #67206
/remove-lifecycle stale

[2018-11-08 11:01] #51742 closed

[2018-11-08 11:17] zhangmingld commented on #70790
why using "activeDeadlineSeconds: 10" ?
it means the pod can only active for 10s
than the rs will start a new one ,and do it over and over

[2018-11-08 12:10] dims commented on #35557
We still have files that are just `LGPLv3` OR `GPLv2` in the code we pull in from heketi:
https://cs.k8s.io/?q=or%20the%20GNU%20General%20Public%20License%2C%20version%202&i=nope&files=&repos=kubernetes/kubernetes

We had a couple of attempts from our side in https://github.com/kubernetes/kubernetes/pull/67448 and https://github.com/kubernetes/kubernetes/pull/66305, but we cannot fix it in k/k rep

[2018-11-08 12:11] dims commented on #35557
FWIW, the intent in the https://github.com/heketi/heketi/blob/master/LICENSE is very clear, However it does not match the files we need for GlusterFS in-tree plugin to work in k/k

[2018-11-08 12:14] sta-szek commented on #60140
I have the same issue, files ~400-900mb
[code]

It copies only 5-10mb and then EOF error

[2018-11-08 12:14] dims commented on #35557
cc @jsafrane @childsb @obnoxxx @humblec @saad-ali

[2018-11-08 12:15] dims commented on #35557
/remove-lifecycle stale

[2018-11-08 12:15] dims commented on #35557
/sig release
/sig architecture

cc @kubernetes/steering-committee

[2018-11-08 13:57] rajansandeep commented on #70748
@AishSundar https://github.com/kubernetes/kubernetes/pull/70799 and https://github.com/kubernetes/kubernetes/pull/70796 updates the CoreDNS version to 1.2.6.

[2018-11-08 14:10] rkttu-devsisters commented on #65163
@daschott To recapture this problem recently, I wrote about the unusual aspect of the event log that appeared after I reproduced the problem.

When I collected the logs of kubelet's info level and looked at them, I got an error message saying that the status of the pod was different from the one stored in the following way.

[code]

And when I looked at the event log of the Windows Server side nod

[2018-11-08 14:33] timothysc commented on #35557
/assign @childsb
/cc @erinboyd

[2018-11-08 14:40] timothysc commented on #35557
@dims do we have a tracking issue on the steering board that we can cross ref?

[2018-11-08 14:42] dims commented on #35557
@timothysc xref https://github.com/kubernetes/steering/issues/57

[2018-11-08 14:45] AishSundar commented on #35557
Is it something we think will land in 1.13 with Code freeze on 11/16? I am adding the 1.13 milestone anyway to keep this in our radar

/milestone v1.13

[2018-11-08 14:46] AishSundar commented on #35557
/priority important-soon

[2018-11-08 15:05] dims opened #70802 "Update heketi dependency after licensing issues are fixed"
Please see discussion in:
- https://github.com/heketi/heketi/issues/1279
- https://github.com/kubernetes/kubernetes/issues/35557#issuecomment-436973405

Once things are fixed we need to update k/k with latest from heketi repo

Alternative : Drop GlusterFS in-tree plugin

[2018-11-08 15:05] dims commented on #70802
/sig release
/priority important-soon

[2018-11-08 15:06] dims commented on #70802
cc @AishSundar

[2018-11-08 15:12] AishSundar commented on #35557
if we are targeting this for 1.13, the Code freeze date is 11/16.

[2018-11-08 15:14] gnufied commented on #69799
@anguslees It would be good to write some POCs around this area if you really want to pursue this. I see couple of problems which needs technical solution:

1. Typically if User does not specify a SELinux label then container runtime(docker et.el) will assign a unique MCS label to it and when mounting a volume with ":z" option, the volume also gets same MCS label. Have you considered how will this

[2018-11-08 15:32] zmsp commented on #70513
@Twister915 thanks for your reply
* I can confirm that I am on the user context because the error message for something the user doesn't have access prints to:
```kubectl get sa unaccessible-namespace Error from server (Forbidden): serviceaccounts is forbidden: User "system:serviceaccount:support:k8s-test" cannot list serviceaccounts in the namespace "unaccessible-namespace"```
* I am not clear yo

[2018-11-08 15:34] justaugustus commented on #70802
/remove-priority important-soon

[2018-11-08 15:35] yeahydq commented on #58822
@sergey-vin  I hit the same issue too, have u find any solution now? Thanks.

[2018-11-08 15:51] aniket-s-kulkarni commented on #70774
@mortent thanks I'm looking at the logs to see what is going wrong.

[2018-11-08 15:54] RRAlex opened #70806 "K8s kube-apiserver 1.12.2 nil pointer crash"
**What happened**:
The cluster started giving a lot of NODE DENY error in the log corresponding to
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/node/node_authorizer.go#L198
restarting kube-apiserver make another one crash in a 3 apiserver setup.
(say systemctl restart kube-apiserver on controller-1 will crash controller 2 or 3)

It's as if node were show as `Read

[2018-11-08 15:59] neolit123 commented on #70721
@gitplyx

please translate the issue description in english if possible.

[2018-11-08 16:04] thockin commented on #69776
I don't buy those arguments.

#27543 was a hostile thread which didn't actually make any arguments other than "you should update because there are updates".

The specific cases of needing to update seem to be working-as-intended to me.  We didn't update for a long time because we had no real need to.

 #69976 actually presented a reason to update.

I don't accept that giving new folks busywork is

[2018-11-08 16:14] humblec commented on #35557
@dims apologies for the lack of updates in heketi issue. We are on it :)

[2018-11-08 16:15] davidedal commented on #60807
@slassh Thanks a million, your solution works well!
I have the same problem in my cluster with ark, tiller and kubed. I suspect the issues might be the api of kubed that is giving an error, although not sure why it impacts the deletion of another namespace.

[2018-11-08 16:22] whereisaaron commented on #15478
Hi @lifubang I can't speak to anyone's plans, but the daemon that supported those features, `dockerd` is no longer part of Kubernetes (see discussion above covering that).

You can still optionally install it if you want to, so you might be able to do that in order use the old `dockerd` log drivers. That option is discussed here:
https://kubernetes.io/blog/2018/05/24/kubernetes-containerd-integrat

[2018-11-08 16:23] andrewsykim commented on #70526
@aoxn maybe I'm missing something, I still see that code [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cloud/node_controller.go#L340-L351) and [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet_node_status.go#L262-L271). It's only for GCE still though

[2018-11-08 16:23] andrewsykim commented on #70526
I agree though that this should be addressed in a more generic way, I'm not sure what that would look like yet.

[2018-11-08 16:30] andrewsykim commented on #70526
Maybe the condition should always be applied when `--configure-cloud-routes` is enabled 🤔. Alternatively we can add "Node Readiness Gate" similar to Pod Readiness Gates, see [this commet by Tim Hocken](https://github.com/kubernetes/kubernetes/pull/33573#issuecomment-415524319).

[2018-11-08 16:38] miry commented on #69686
I have similar issue. I think it is related to Dynamic Configuration. The structure from config map is not correct. It would great to recover from this panic and to write to logs the broken value.

[2018-11-08 16:38] andrewsykim commented on #60646
/remove-lifecycle stale

[2018-11-08 17:11] AishSundar commented on #70802
/kind cleanup

/assign @childsb
/cc @erinboyd @humblec

[2018-11-08 17:12] AishSundar commented on #35557
Looks like we now have https://github.com/kubernetes/kubernetes/issues/70802 issue to track this work in k/k. So I will remove this from the 1.13 milestone. Please post all progress to https://github.com/kubernetes/kubernetes/issues/70802. Thanks

/remove milestone

[2018-11-08 17:12] taylorshaulis commented on #15478
I highly recommend fluentd as described by @whereisaaron

As far as this feature request being worked on...  the kubernetes architectural roadmap has logging under the "Ecosystem" section of things that are not really "part of" kubernetes so I doubt such a feature is going to ever be natively supported.
https://github.com/kubernetes/community/blob/master/contributors/devel/architectural-roadmap.md

[2018-11-08 17:13] AishSundar commented on #35557
/milestone none

[2018-11-08 17:14] AishSundar commented on #70802
/cc @nikopen

@nikopen this is a critical issue we are tracking for 1.13.

[2018-11-08 17:14] AishSundar commented on #35557
/milestone clear

[2018-11-08 17:17] msau42 commented on #70791
@kubernetes/sig-storage-bugs
/assign @saad-ali

[2018-11-08 17:22] msau42 opened #70810 "Serial suite is timing out"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial

**Which test(s) are failing**:
should unmount if pod is force deleted while kubelet is down [Disruptive][Slow]

**Since when has it been failing**:
11/07/18 15:02

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial

**Reason for failure*

[2018-11-08 17:28] AishSundar commented on #70810
Thanks for opening this @msau42

Looking at [commits from yesterday](https://github.com/kubernetes/kubernetes/compare/465d578d9...1f56cd801?), looks like [PR#70713](https://github.com/kubernetes/kubernetes/pull/70713) could be the cause?

/assign @deads2k

@deads2k can you please look into this as priority. This is failing critical release blocking tests.

/cc @jberkus @maria @mortent

/sig cli
/p

[2018-11-08 17:33] msau42 commented on #70810
[code]

[2018-11-08 17:35] AishSundar commented on #69600
We got a new large scale run for 11/7 - https://testgrid.k8s.io/sig-release-master-blocking#gce-master-scale-performance

@wojtek-t can you look it is ok from performance and CPU consumption and then close this issue? Thanks

[2018-11-08 17:37] AishSundar commented on #70708
@wojtek-t #70776 reverting the problematic feature merged yesterday and we have some new runs https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

We also got a new large scale run for 11/7 - https://testgrid.k8s.io/sig-release-master-blocking#gce-master-scale-performance

 can you look it is ok from performance and CPU consumption and then close this issue? Thanks

[2018-11-08 17:39] nikopen commented on #70802
ack, I've read the background.

Should expect the new version to go in by early next week so there's some days between it and code freeze for CI.

[2018-11-08 17:41] AishSundar commented on #70774
/cc @gnufied

[2018-11-08 17:59] msau42 commented on #70810
It looks like kubelet keeps restarting.  The error right before restarting is:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4323/artifacts/bootstrap-e2e-minion-group-tjh1/kubelet.log
[code]

[2018-11-08 18:00] msau42 commented on #70810
@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs
/assign @RenaudWasTaken @vladimirvivien

[2018-11-08 18:02] msau42 commented on #70810
This bug could have been exposed by the newly added tests in https://github.com/kubernetes/kubernetes/pull/68025

[2018-11-08 18:14] hartsock commented on #31424
/remove-lifecycle stale

Hi folks. I have to work around this class of issue almost _daily_ and at the moment I use a sophisticated system to predict disk utilization and set dummy jobs into nodes to force CPU free to mimic the disk free situation. It's a hack but it works. It'd be nice to not have to run this hack!

Alternatively, if you have a _different_ way to solve this class of issue. Please

[2018-11-08 18:31] RenaudWasTaken commented on #70810
Hmm, so I see two errors:

Which is a Fatal error and would prevent Kubelet from starting anyways. In which case this error is handled correctly by the pluginwatcher, but I'm not sure preventing Kubelet from starting is the desired behavior.

Should we log this error and skip it? There also seem to be a cleanup issue here on that file is this expected?

This one is clearly a bug and not really han

[2018-11-08 18:35] daschott commented on #66947
Contingent on passing regression tests, this issue will be fixed officially in mid-late January 2019 for Windows Server 2019. For Windows Server, version 1803 the official fix date remains the same as in my above comment.

Should you need this fix sooner, we can continue distributing private hotfixes in the meanwhile for both Windows Server, version 1803 and Windows Server 2019 through the regular

[2018-11-08 18:41] yujuhong commented on #70810
This was mentioned in #70460 as well.
/cc @davidz627

[2018-11-08 18:41] msau42 commented on #70810
Is this related to the issue where plugin watcher is recursively scanning for sockets?

[2018-11-08 18:43] msau42 commented on #70810
Also, it should be noted that the path it's erroring on is not a socket type.

[2018-11-08 18:53] linericyang commented on #69658
@aalubin Good to know you root caused this issue. Fixing the hardcode path in cri-o might be the proper solution to resolve this issue. They already put a TODO item there.

[2018-11-08 18:54] RenaudWasTaken commented on #70810
That's a bit different, as it is intended to scan recursively. Also note that the error here is produced by [`filepath.Walk`](https://golang.org/pkg/path/filepath/#Walk) as can be seen by the error log ["error accessing path"](https://github.com/kubernetes/kubernetes/blob/040cc281f4849dee05d35e4f2fa2ee36729dea22/pkg/kubelet/util/pluginwatcher/plugin_watcher.go#L181)

[2018-11-08 18:57] aniket-s-kulkarni commented on #70774
It looks like, the the problem is the e2e test wasn't installing the dummy flex driver on the master when the flex driver was _attachable_. I will submit a fix for it.

[2018-11-08 18:57] #68811 closed

[2018-11-08 19:03] Huang-Wei commented on #56787
Thanks a lot @justinsb!

[2018-11-08 19:03] pbarker opened #70814 "Scalability testing for dynamic audit configuration"
/kind feature

When dynamic audit configuration is enabled it currently causes the apiserver to generate the full event for every request. This needs to be tested with different policies to understand the implications it has on cpu/memory usage as well as request time.

[2018-11-08 19:06] pbarker opened #70815 "Dynamic audit webhook authentication"
Webhooks for the dynamic audit feature need a way of authenticating the apiserver. This should involve a method of provisioning credentials through the api object.

/kind feature

[2018-11-08 19:06] pbarker opened #70816 "Umbrella: dynamic audit configuration to beta"
This holds a list of issues to be completed before dynamic audit configuration moves to beta.

- [ ] scalability tests https://github.com/kubernetes/kubernetes/issues/70814
- [ ] webhook authentication https://github.com/kubernetes/kubernetes/issues/70815
- [ ] complete policy https://github.com/kubernetes/kubernetes/issues/70818 (nice to have, not required)
- [ ] cheap buffers https://github.com/

[2018-11-08 19:07] benmoss opened #70817 "Kubelet ResolverConfig can't be empty in kubeletconfig file"
**What happened**:
When moving from the deprecated kubelet `--resolv-conf` flag to the kubeletconfig `resolverConfig` parameter, the empty string value is treated differently. When passed as a command line argument, the value is recognized as not wanting to use a resolver config file. When specified in a config file, an empty string is taken as wanting to use the default value for the resolver con

[2018-11-08 19:07] pbarker commented on #70815
/sig auth

[2018-11-08 19:08] pbarker commented on #70816
/sig auth

[2018-11-08 19:08] msau42 commented on #70810
I'm not sure if we want to be recursively scanning.  The volume directories are mount points, which means there could be lots of files/directories existing in those volumes.

[2018-11-08 19:08] pbarker commented on #70814
/sig auth

[2018-11-08 19:08] benmoss commented on #70817
/sig node

[2018-11-08 19:11] pbarker opened #70818 "Complete policy for dynamic audit"
The dynamic audit configuration policy was scoped down as we entered alpha to potentially rework it to server more api use cases. The direction we wish to peruse is a more additive policy in which app developers can recommend rules for their application and package up those rules with their application. This should be composed of AuditClass objects that can be enforced at stages and levels in the

[2018-11-08 19:11] pbarker commented on #70818
/sig auth

[2018-11-08 19:12] msau42 commented on #70774
In your fix, make sure to skip environments where master install is not possible, like gke

[2018-11-08 19:32] saad-ali commented on #70810
Ideally the directory that the plugin sockets are dropped in should be different from the directory where mounts happens.

Currently the plugin socket directory is: `/var/lib/kubelet/plugins/`)
The mounts directory is `/var/lib/kubelet/pods/[poduid]/volumes/...` (so far so good).
Problem is the "global mount" directory is also `/var/lib/kubelet/plugins/...` :(

So options are:

1. Drop recursively

[2018-11-08 19:36] wyaeld commented on #67538
@x13n ok, that's clear, thanks.

[2018-11-08 19:39] bowei commented on #51668
/lifecycle frozen

[2018-11-08 19:40] RenaudWasTaken commented on #70810
This conversation is completely different from the bug surfaced by this issue. Let's move that to the corresponding issue: https://github.com/kubernetes/kubernetes/issues/69015

I have a fix ready to go out for the panic, we should figure out what behavior we expect Kubelet to have when encountering this error from filepath.Walk:

Should we ignore it?

[2018-11-08 19:46] jpbetz opened #70819 "kube-controller-manager becomes deadlocked but still passes healthcheck"
**What happened**:

All three controller managers "wedged" in a high availability cluster--zero network traffic between any of the controller managers and the api server--due to a deadlock.  All three controller manager processes running and passing healthcheck, but none performing any controller manager duties.

pprof stackdump surfaced a deadlock in the golang.org/x/net/http2 library on all mast

[2018-11-08 19:46] jpbetz commented on #70819
We have both a fix and mitigation planned and will send out PRs shortly.

[2018-11-08 19:49] msau42 commented on #70810
Ignoring the error (with a warning maybe) instead of failing all of kubelet seems reasonable to me.  If the plugin did not setup their registration socket correctly, then the end result should be that the plugin fails to register, but all other plugins should continue to work correctly.

[2018-11-08 19:55] astrieanna commented on #66439
I was confused by the same thing today. It would be helpful if the `--help` output could list the possible conditions to check for on different resource types.

[2018-11-08 20:01] dims commented on #69776
/close

let's wrap this up since we are so close to 1.13 code freeze. for 1.14, we will have more guidance on what criteria folks should use to update the dependencies too ( cc @deads2k )

[2018-11-08 20:01] #69776 closed

[2018-11-08 20:05] vladimirvivien commented on #69015
@figo @RenaudWasTaken I like `$PLUGIN_DIR/vendor_name.io/plugin_type/socket_name-version.sock`. However, why not put plugin_type one level up as `$PLUGIN_DIR/plugin_type/vendor/socket_name-version.sock`. For instance `$PLUGIN_DIR/csi/kubernetes/hostpath.sock`

[2018-11-08 20:09] saad-ali commented on #69015
Is the suggestion to hard code the number of levels that the recursion algorithm will search to 3? Or just expect a socket only at a hard coded level (e.g. socket must be nested 3 deep)?

Copying my comment from https://github.com/kubernetes/kubernetes/issues/70810#issuecomment-437126907 for consistency:

Another option I can think of:

4. Keep recursively scanning but before scanning a directory

[2018-11-08 20:14] CecileRobertMichon commented on #65305
@PaulCharlton @y325A is it possible that you have `AlwaysPullImages` set in your admission controller? https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#alwayspullimages

[2018-11-08 20:16] figo commented on #69015
i like this idea better if it is always the case that: volume data is mounted, we can modify the watcher code to not watch the mounted directory in the first place.

[2018-11-08 20:39] RRAlex commented on #70806
/sig api-machinery

[2018-11-08 20:42] vladimirvivien commented on #69015
Skipping mounted dir along with restructuring search path to known (shallow) dir sounds like a good plan.  Though with the new suggested paths, sockets will be placed at a location where mounts should not exist.

[2018-11-08 20:43] saad-ali commented on #69015
I think that would be a safe assumption. The plugin directory is only used as a target path for global mounts.

[2018-11-08 20:52] msau42 commented on #69015
Ephemeral volume types may not need to mount, it could just be a symlink or plain directory.  Can we assume any ephemeral volume CSI driver won't implement global mount?

[2018-11-08 21:03] mkimuram opened #70822 "Volumes e2e test should check fsType"
**What happened**:
Volumes test doesn't check fsType, as a result, e2e test which requires particular fsType could pass even when driver doesn't provide the right fsType

**What you expected to happen**:
Volumes test should fail if driver doesn't provide the right fsType properly, and should pass it provides proper fsType.

**How to reproduce it (as minimally and precisely as possible)**:
Run ```[

[2018-11-08 21:12] saad-ali commented on #69015
Yes, in-tree ephemeral volumes today don't do a global mount so the mounts directory is `/var/lib/kubelet/pods/[poduid]/volumes/...` which is not the plugin dir. So no issue there.

For CSI the `NodeStageVolume` `staging_target_path` will be the global mount path (this plugin dir).
Emphermal volumes *shouldn't* implement `NodeStageVolume` call -- but nothing prevents them from doing so.

Maybe let

[2018-11-08 21:55] mkimuram commented on #66388
@msau42 @davidz627 @pohly

[This patch](https://github.com/mkimuram/kubernetes/commit/5390ac71df912e596bcfd5e13fcf0db7724442b2) will make csi rbd driver works with latest e2e test code.
I'm sharing it:
  - to discuss if it would be worth merging this to k/k until we make e2e test library for each driver
  - to make this a start point for developing e2e library for each driver

[2018-11-08 22:12] vladimirvivien commented on #69015
That sounds good. Also, putting the socket files in a specific location that does not clash with mounts will also help (i.e. `$PLUGIN_DIR/csi/kubernetes/hostpath.sock`)

[2018-11-08 22:20] bizzelicious commented on #64251
/reopen

[2018-11-08 22:49] mtaufen commented on #69686
Oh jeez, there is a method on that interface to produce the concrete API value behind it but we aren't calling it (`NodeConfigSource()`).

[2018-11-08 22:49] mtaufen commented on #69686
I'll send a fix.

[2018-11-08 22:51] mtaufen commented on #69686
I'm surprised the tests didn't catch this, tbh.

[2018-11-08 22:55] DirectXMan12 commented on #69510
ok, I thank we can close this, then

/close

[2018-11-08 22:56] #69510 closed

[2018-11-08 22:57] dbason commented on #65933
Is there any update for @ReSearchITEng 's comment?  Is this fixed in 1.12 or a version later that 1.11.3?  The work around is not really ideal.

[2018-11-08 23:47] wgliang commented on #70817
/assign

[2018-11-08 23:48] wgliang commented on #70817
/unassign

[2018-11-08 23:52] krmayankk commented on #37962
/reopen

[2018-11-08 23:52] krmayankk commented on #37962
/remove-lifecycle rotten

[2018-11-09 00:06] AishSundar commented on #70810
@msau42 @saad-ali @RenaudWasTaken the latest runs of this job no longer timesout - https://testgrid.k8s.io/sig-release-master-blocking#gce-acos-master-serial

Instead I am seeing a new CSI related failure ```[sig-storage] CSI Volumes [Driver: com.google.csi.gcepd][Serial] [Testpattern: Dynamic PV (default fs)] volumes should be mountable```

Is this expected. Do we want to track that failure in th

[2018-11-09 00:17] msau42 commented on #70810
@AishSundar the latest test logs indicate some test-infra issue: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4325/build-log.txt

[2018-11-09 00:19] krmayankk commented on #70790
/sig apps

[2018-11-09 00:20] oomichi commented on #67685
According to https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/ the example shows 0.0.0.0 as --address option.
Is that generic/valid value for the option?

[2018-11-09 00:31] oomichi commented on #67685
That seems intentional.

https://github.com/kubernetes/kubeadm/blob/master/docs/design/design_v1.8.md#generate-static-pod-manifest-for-control-plane
[code]

[2018-11-09 00:35] #67685 closed

[2018-11-09 00:38] thockin commented on #27114
Hi!  I really appreciate the PR, but I'm not sure I buy it.

TL;DR: I think the current API is the right balance of simple and correct.  A more complex API could be possible, but it's not the proposed one and probably not worthwhile.

Details:

If we make this change, there's literally NOTHING that will fix a pod that fails to starts up.  It will hang forever.  That's bad.

These probes are distin

[2018-11-09 00:51] liggitt commented on #70817
Xref
https://github.com/kubernetes/kubernetes/pull/65679

[2018-11-09 01:04] AishSundar commented on #70810
@msau the same [testrun #4325](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4325) shows up as a timeout on that particular test. Lets wait for the next run.

but somehow the timeout seems to have gone. Are we still planning to merge #69015 and #70821 associated with this issue?

[2018-11-09 01:07] mtaufen commented on #69686
https://github.com/kubernetes/kubernetes/pull/70830

[2018-11-09 01:15] #64944 closed

[2018-11-09 01:17] rkttu-devsisters commented on #65163
@daschott I'm still testing, and I've taken the contents of https://raw.githubusercontent.com/Microsoft/SDN/master/Kubernetes/WebServer.yaml and deployed pod instead of IIS. Then, the problem described in this issue does not occur. (Container is running for at least 10 hours.)

This is interpreted as if IIS's application pool recycle causes problems associated with HNS endpoints, and I would like

[2018-11-09 01:28] jberkus opened #70832 "[sig-storage] [Serial] CSI Volumes CSI plugin test using CSI driver: gcePD [Serial] should provision storage"
**Which jobs are failing**: gce-new-master-upgrade-cluster

**Which test(s) are failing**: [sig-storage] [Serial] CSI Volumes CSI plugin test using CSI driver: gcePD [Serial] should provision storage

**Since when has it been failing**: Today (Nov. 8)

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster

**Reason for failure**:

Test is timing out

[2018-11-09 01:33] jberkus commented on #70708
Not solved, we're getting some GCE-100 failures because of this now, for example this one:

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/19500

[2018-11-09 01:34] jberkus commented on #70708
/remove-priority important-soon
/milestone v1.13

[2018-11-09 01:34] davidz627 commented on #70832
/cc @msau42

seem to recall you mentioning this in a separate issue as due to a test-infra failure. Not sure if this is the same thing

[2018-11-09 01:36] #58983 closed

[2018-11-09 01:36] WanLinghao commented on #70818
/cc

[2018-11-09 01:37] msau42 commented on #70832
No that was in the serial suite where the test-log showed some boskos error.  I don't see the same kubelet restart test being run in the upgrade suite, so I suspect it's a different issue.

https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2612?log#log

[2018-11-09 01:39] aoxn commented on #70526
@andrewsykim  Thanks for point it out. My mistake to miss that part.

Apply condition when `--configure-cloud-routes` is enabled LGTM.  Also, `Node Readiness Gate ` is reasonable for long term, but it is a plenty of work thing, we might need a way to workaround it for now.

@thockin Do you have any comments?

[2018-11-09 01:42] jberkus commented on #70708
It looks like this flake started getting a lot more frequent on either 10/4 or 10/5: https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-10-10&text=kube-scheduler%20is%20using

[2018-11-09 01:56] davidz627 commented on #68570
/close

[2018-11-09 01:56] #68570 closed

[2018-11-09 02:18] liqlin2015 opened #70835 "Pods stay in Pending for a long time"
**What happened**:

Pods stay in Pending status for a long time.

Here is my pod

[code]

And from kubelet log
[code]

As you seen from kubelet log, kubelet get the pods at `Nov  8 11:20:11`, but start the sync loop at `Nov  9 06:25:32`. Why takes so long for kubelet to take action? Sounds like the `configCh` https://github.com/kubernetes/kubernetes/blob/v1.10.0/pkg/kubelet/kubelet.go#L1846 is han

[2018-11-09 02:20] liqlin2015 commented on #70835
/sig node

[2018-11-09 02:29] bsalamat commented on #70708
I am reverting the other suspicious PR as well.

[2018-11-09 02:29] cwdsuzhou commented on #70790
I think it is better to add an optional flag in rs spec to enable activeDeadlineSeconds.

[2018-11-09 03:17] toothbrush opened #70843 "Kubectl diff ignores namespace"
**What happened**:

I have a file `myfile.yml` which contains something like this – minimal working example: (note the namespace)

[code]

After successfully deploying this to a cluster, running

[code]

Shows the entire file as a diff, as if i had never deployed the Deployment:

[code]

However, if i specify the namespace on the CLI things are different (and closer to what i expect):

[code]
[cod

[2018-11-09 03:17] toothbrush commented on #70843
/sig cli

[2018-11-09 03:17] #60018 closed

[2018-11-09 03:18] xiak commented on #61500
I met the same problem on v1.11

[2018-11-09 04:06] AishSundar commented on #70774
@aniket-s-kulkarni @gnufied is there an ETA for this to be fixed?

[2018-11-09 04:10] gnufied commented on #70774
@aniket-s-kulkarni is working on a fix. I was hoping if it gets done today but it doesn't tomorrow,  we will revert PR that introduced e2e for now.

[2018-11-09 05:03] dhiraj commented on #8876
I use fish shell, and this function works well enough for me, inspired by cristi-d's post above. I can type any disambiguating combination from the pod name and it gives me bash directly. Suggestions, improvements welcome!

[code]

Invocation on command line looks like this:
[code]

[2018-11-09 05:50] justinsb opened #70851 "CoreDNS configured to run on masters"
For some reason the coredns configuration has a master toleration, where kube-dns did not.  Is there some reason for the discrepancy?

kube-dns: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kube-dns/kube-dns.yaml.base#L90
coredns: https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/coredns/coredns.yaml.in#L111

Spotted by @bhegazy in https://github.co

[2018-11-09 05:51] justinsb commented on #70851
/sig network

[2018-11-09 05:53] knyttl commented on #27114
You are not describing the situation when the pod take a long and variable time to start. Imagine it starts something between 30-180s. Of course you can set initialDelay to 180s, but the pod might start way sooner and then the liveness probe will be inefficient for two minutes.

[2018-11-09 06:06] leakingtapan opened #70852 "CSI Driver plugin attach method should return device path"
**What happened**:
In-tree CSI driver [returns attachment ID](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L123) for `Attach` method (similarly for `WaitForAttach` method)

**What you expected to happen**:
It should return device path per [volume interface definition](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L123)

*

[2018-11-09 06:06] leakingtapan commented on #70852
/sig storage

[2018-11-09 06:08] leakingtapan commented on #70852
/cc @davidz627 @saad-ali

[2018-11-09 06:10] gitplyx commented on #70721
查看describe 日志都很少，基本上看不出问题出现在那

[2018-11-09 06:14] WanLinghao commented on #70721
你至少把pod的配置信息以及describe的信息贴出来吧，你这就两句话怎么debug啊．

[2018-11-09 06:24] vperson opened #70853 "修改configmap后apply daemonset配置没有生效"
在一个已经运行的集群中，保证服务不中断的情况下，对traefik 的configmap做了修改，修改后马上对其进行了更新：
[code]

查看到了配置已经更新到了最新：
[code]

并且执行了如下命令：
[code]

[2018-11-09 06:30] thockin commented on #27114
I did consider that in my examples.  I didn't talk about variability, but I
set the intialDelay to 60.

What is the real impact of the liveness probe having an overly-long initial
delay?  The pod won't have an actual liveness probe for that period of
time, so if the pod hangs or deadlocks, it won't be immediately restarted.
That's JUST at the startup time, and never again thereafter.  Readiness
wi

[2018-11-09 06:50] prafull01 commented on #69101
I am experiencing the same issue on one of our clusters. Could anyone please help?

[2018-11-09 06:58] szymonpk commented on #69576
Looks like [it is 'normal' in EKS.](https://forums.aws.amazon.com/thread.jspa?threadID=291297)

[2018-11-09 07:34] pohly commented on #66388
I think the criteria for testing more CSI drivers directly in k/k should be:
- does it increase code coverage for Kubernetes code, for example by exercising additional code paths because the CSI driver is different from others
- is the CSI driver an open source project that Kubernetes wants to support
- does the driver depend on external resources
- is it stable and are developers willing to inves

[2018-11-09 07:40] matthyx commented on #27114
I kinda like this idea of a `StartupProbe` because it clarifies the purpose of `LivenessProbe` and `ReadinessProbe`.
I guess if we want to go further in this direction we will need a KEP... who's in?

[2018-11-09 07:46] thdrnsdk commented on #70853
Will i introduce you to a fantastic site?

[translate.google.com](url)

[2018-11-09 08:22] vboctor opened #70855 "VisitPodSecretNames has cloud provider specific code"
**What would you like to be added**:

The visitor function in the pod API highlights that there is no way to get the collection of secrets in a cloud provider agnostic way.

See the switch statement at:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/pod/util.go#L52

**Why is this needed**:

Cloud provider specific code should be abstracted via the cloud provider implementations and n

[2018-11-09 08:39] ejc3 commented on #27114
Can’t you simulate StartupProbe with a postStart command that doesn’t return until the container / pod has fully started? The liveness and readiness probes won’t run until that command returns.

[2018-11-09 09:28] fcantournet commented on #55807
I might be counter-intuitive but I do not see a way for kubernetes to trigger the execution of a preStop hook "just before" the program in the container exits "on its own".

Essentially it is the same reason why you cannot have the preStop hook execute if you crash.

The preStop and postStart hook are hook on the state transition which are triggered by kubernetes.

[2018-11-09 09:50] csis0247 commented on #53533
I would like to point out that zram works by piggybacking on swaps. If there is no swaps on k8, then there is no memory compression, which is something most non-Linux OS has enabled by default (cue Windows, MacOS).

We have a Ubuntu instance on k8 that runs a large batch job every night which consumes a lot of memory. As the workload is not predetermined, we are forced to (expensively) allocate 16

[2018-11-09 09:55] sercanacar commented on #67457
Same issue here

[2018-11-09 09:57] 1e100 commented on #53533
I think the main concern here is probably isolation. A typical machine can host a ton of pods, and if memory gets tight, they could start swapping and completely destroy performance for each other. If there's no swap, isolation is much easier.

[2018-11-09 10:01] sys-ops commented on #24229
- OLD MASTER NODE

kubectl get all --all-namespaces -o yaml > kubernetes_all_objects_exported.yaml

- NEW MASTER NODE

kubectl create -f ./kubernetes_all_objects_exported.yaml

[2018-11-09 10:09] junsionzhang commented on #67702
It also works for me

[2018-11-09 11:28] mgcrea commented on #65976
@liucimin any update on this? Did you ever find out the root cause?

/remove-lifecycle rotten

[2018-11-09 11:37] Suhas-Git opened #70864 "ValidationWebhookConfiguration causes deployments to maintain two underlying RS at the same time"
**What happened**:
I have ValidationWebhookConfiguration that checks the deployments for the availability of `spec.template.spec.tolerations` and throws an error if it does not have `tolerations`. Thus enforcing deployments to have `tolerations`. I enforce `tolerations` on staging namespaces only in order to enforce deployments to run on pre-emptive nodes.

After I add the `tolerations` because of

[2018-11-09 11:50] Suhas-Git commented on #70864
@kubernetes/sig-scheduling-bug
@kubernetes/sig-apps-bug

[2018-11-09 12:34] feiskyer opened #70865 "Azure cloud provider is retrying too aggressive"
**What happened**:

When something unexpected happened (e.g. hitting Azure API throttling) , Azure cloud provider would retry with a configurable exponential backoff.  While this seems work for processing various unexpected errors, it's actually sending too much requests to Azure API.

The reason is Azure Go SDK also includes an internal backoff, e.g. [here](https://github.com/Azure/go-autorest/bl

[2018-11-09 12:42] ricktbaker commented on #69576
Was just going to come here and post that @szymonpk   Going to go ahead and close this out.

[2018-11-09 12:42] #69576 closed

[2018-11-09 13:20] runcom commented on #26275
This has never landed as a feature even post CRI - there are use cases out there that would benefit from having this. The previous attempt is here https://github.com/kubernetes/kubernetes/pull/27964 but it was closed because of the CRI introduction. Should this be reopened and make another proposal?

@Random-Liu @feiskyer @MikeSpreitzer @mrunalp PTAL

[2018-11-09 13:37] txomon commented on #28167
/remove-lifecycle stale

[2018-11-09 13:38] txomon commented on #28167
Is there any update or progress on this?

[2018-11-09 13:50] chrisohaver commented on #70851
I believe this was replicated from kubeadm's default kube-dns configuration.

https://github.com/kubernetes/kubernetes/blob/52de5c55e37c6b50cf640470752d9c9a56441705/cmd/kubeadm/app/phases/addons/dns/manifests.go#L175

[2018-11-09 14:13] mariantalla opened #70867 "[flake] kops-aws CI job is flaking"
**Which jobs are failing**:
The `kops-aws` job is flaking heavily on both 1.13 and master.

**Which test(s) are failing**:

**Since when has it been failing**:
Started flaking Nov 1st, 2018.

**Testgrid link**:
- [1.13](https://testgrid.k8s.io/sig-release-1.13-blocking#kops-aws-1.13) (57 fails in 165 runs in the past week)
- [master](https://testgrid.k8s.io/sig-release-master-blocking#kops-aws-mas

[2018-11-09 14:19] Baughn commented on #53533
But as explained previously, disabling swap doesn't buy us anything here. In fact, since it increases memory pressure overall, it may force the kernel to drop parts of the working set when it could otherwise have swapped out unused data -- so it makes the situation *worse*.

Enabling swap, on its own, should actually improve isolation.

[2018-11-09 14:21] mariantalla commented on #70867
Prioritizing as `critical-urgent` because of:
- proximity to code slush/freeze
- it's flaking on and off for a while
- it's in a blocking test suite

/priority critical-urgent

[2018-11-09 14:38] aniket-s-kulkarni commented on #70774
@msau42 yes. The test skips everything except `aws`, `gce` and `local`. I've made the change and I am trying out one run after which I will raise the PR.

[2018-11-09 14:42] #70504 closed

[2018-11-09 14:49] aniket-s-kulkarni commented on #70774
@AishSundar @gnufied I have raised the PR for this. https://github.com/kubernetes/kubernetes/pull/70869

[2018-11-09 15:02] wangzhen127 commented on #70760
I don't think this is fully resolved. There are still failures on
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features
https://k8s-testgrid.appspot.com/google-gce#gci-gce-alpha-features

/reopen

[2018-11-09 15:02] AishSundar commented on #70802
https://github.com/heketi/heketi/issues/1279 is now closed. @childsb we should be good to pull the changes into k/k right?

[2018-11-09 15:03] AishSundar commented on #70802
ah I see https://github.com/kubernetes/kubernetes/pull/70811 in progress. Thanks @humblec

[2018-11-09 15:10] snobu commented on #33664
^ This guy.

[code]
![](https://media.giphy.com/media/OVtqvymKkkcTu/giphy.gif)

[2018-11-09 15:15] cnelson commented on #17144
+1

[2018-11-09 15:15] msau42 commented on #70760
@mkimuram can you help take a look at these failures? It's testing CSI filesystem volume mode.

I think it is unrelated to the crd installation issue that Saad fixed.

[2018-11-09 15:29] #64962 closed

[2018-11-09 15:30] vsxen commented on #70853
你等5分钟在左右就自动更新了
you must wait for about 5 min ,and then the configmap will update automatically.

[code]

Close the issue plaese.

[2018-11-09 15:37] mariantalla opened #70871 "[sig-scheduling] ResourceQuota should create a ResourceQuota and capture the life of a configMap"
**Which jobs are failing**:
[sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-parallel)

**Which test(s) are failing**:
[sig-scheduling] ResourceQuota should create a ResourceQuota and capture the life of a configMap

**Since when has it been failing**:
November 8th, 2018

**Testgrid link**:
- [tes

[2018-11-09 15:38] mariantalla commented on #70871
/sig scheduling
/assign @bsalamat

[2018-11-09 15:38] mariantalla commented on #70871
Hey, assigning `critical-urgent` priority to this one as we're close to code freeze and it's in a blocking test suite.

/priority critical-urgent

[2018-11-09 15:39] nikopen commented on #69843
@msau42 as https://github.com/kubernetes/kubernetes/issues/70505 has been moved to v1.14, I suppose this goes as well?

[2018-11-09 15:52] f-ld commented on #57673
For information (because I got a similar issue), here is the solution for a kubernetes cluster created using `kops`:
- for cpu or memory metrics: s3prd get s3://logs-voxeet/session-manager/us-east-1/ (!! Do not forget to install the metrics server addon (aka RTFM) !!)
- for custom metrics: https://github.com/kubernetes/kops/blob/master/docs/horizontal_pod_autoscaling.md#support-for-custom-metrics

[2018-11-09 15:53] pieterlange commented on #24229
Note that `get all` doesn't necessarily gets ALL resources: https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

[2018-11-09 15:53] f-ld commented on #57673
For information (because I got a similar issue), here is the solution for a kubernetes cluster created using `kops`:
- for cpu or memory metrics: https://github.com/kubernetes/kops/blob/master/docs/horizontal_pod_autoscaling.md#support-for-multiple-metrics (!! Do not forget to install the metrics server addon (aka RTFM) !!)
- for custom metrics: https://github.com/kubernetes/kops/blob/master/docs/

[2018-11-09 15:56] AishSundar commented on #70871
/milestone v.113

[2018-11-09 15:56] AishSundar commented on #70871
/milestone v1.13

[2018-11-09 15:57] mkimuram commented on #70760
@msau42

I tested with AllAlpha flag and manually created csi crds and confirmed that filesystem volume mode test passed in my environment and also other tests passed there. If I delete csi crds, other tests also fail, so I agree that the issue that Saad fixed is not related.

However, above also means that this issue can't be reproduced in my environment.

[2018-11-09 16:07] RRAlex commented on #70806
If you tell me what more info you need, I'll be glad to provide you with it, maybe the apiserver flags used?
[code]

Also, I restart the one crash-dumping, one of the other two will start outputting the same dump.

Looking back at the logs, this seems to have started when I moved from 1.10.3 to 1.12.1 (now 1.12.2), I just hadn't realized it until recently as we had a big cluster wide problem yeste

[2018-11-09 16:11] msau42 commented on #70760
I1109 14:56:01.141] Nov  9 14:56:01.131: INFO: At 2018-11-09 14:50:54 +0000 UTC - event for security-context-dc2399cc-e42e-11e8-9b95-0a580a3c2a84: {attachdetach-controller } FailedAttachVolume: AttachVolume.Attach failed for volume "pvc-d6000e8b-e42e-11e8-880b-42010a800002" : node "bootstrap-e2e-minion-group-3wtg" has no NodeID annotation

[2018-11-09 16:13] msau42 commented on #69843
Correct

[2018-11-09 16:14] msau42 commented on #70760
Hostpath also seems to be failing because of driver registration issues? Not sure why other alpha tests are passing if that's the case

[2018-11-09 16:20] mariantalla opened #70873 "Downgrade cluster tests are failing with connection refused errors"
**Which jobs are failing**:
[sig-release-master-upgrade#gce-master-new-downgrade-cluster](https://testgrid.k8s.io/sig-release-master-upgrade#gce-master-new-downgrade-cluster)

**Which test(s) are failing**:
- [UpgradeTest](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1077)
- [[sig-cluster-lifecycle] Downgrade [Feature:Downgrade] cluster

[2018-11-09 16:30] thockin commented on #27114
@ejc3 - That's a awesome idea - I'd have to dig around to verify, but I think you're right.

It would be great if someone would write up a "recipe" for pods that have long startup times, based on this conversation.  Would make a good kubernetes.io blog post....

[2018-11-09 16:42] dklesev commented on #64924
for me it doesn't work even with `ndots:1`

[2018-11-09 16:47] wendorf commented on #65732
Finally have an update! We upgraded to etcd 3.2 and have seen a huge improvement. On etcd 2, we used to hit ~18 GB on an API server every hour or so and have to terminate it. Very spikey memory usage. On etcd3, our memory usage has so far totally smoothed out. Now all three of our API servers are running consistently at ~ 0.75 GB, and have done that for 16 hours. I'm ready to declare success here.

[2018-11-09 16:57] sbueringer commented on #69856
Same problem here. I have less resources but more contexts in my kubeconfig file. With 90 pods and ~300 contexts in the kubeconfig it also takes ~10 seconds for a simple kubectl get pods

[2018-11-09 17:29] nikopen commented on #68464
@AishSundar @shubheksha this is a cleanup/techdebt item, which might not fully make it to v1.13 as it's a collection of workitems but it's fine anyway.

thus I'm pushing it to the future

/milestone next-candidate

[2018-11-09 17:30] wangzhen127 commented on #70760
Those 2 failing tests are newly introduced in https://github.com/kubernetes/kubernetes/commit/b89b367247039f4a46a1ca2f0e4e906d723d79d2 and started to fail from the beginning. Is that PR blocking 1.13? If not, can we revert and fix later? I have recently set up optional presubmit tests for alpha features at [pull-kubernetes-e2e-gce-alpha-features](https://k8s-testgrid.appspot.com/presubmits-kuberne

[2018-11-09 17:33] nikopen commented on #68244
Code slush is today, and this is a cleanup item thus not so important for the release itself

@stewart-yu what's the status on it? It can be pushed for the future, no problem.

[2018-11-09 17:35] nikopen commented on #38637
/priority important-longterm

[2018-11-09 17:40] AishSundar commented on #70760
@msau42 @mkimuram  apart from the 2 failing tests, I see ```[sig-storage] CSI Volumes [Driver: com.google.csi.gcepd][Serial] [Testpattern: Dynamic PV (filesystem volmode)] volumeMode[Feature:BlockVolume] should create sc, pod, pv, and pvc, read/write to the pv, and delete all created resources``` which @saad-ali addressed with #70780 is also flaky.

These failures are now blocking PRs as mentioned

[2018-11-09 17:41] nikopen commented on #32727
PR is approved, but needs an extra review.

Pinged the reviewer @davidz627

[2018-11-09 17:46] AishSundar commented on #70873
/milestone v1.13
/priority critical-urgent

[2018-11-09 17:47] AishSundar commented on #70873
/assign @justinsb @roberthbailey @zmerlynn

This seems like a new issue that started manifested in this morning's run, Its concerning since downgrade jobs were stable before then. @justinsb would you plz be able to investigate and triage as priority? Thanks !

[2018-11-09 17:51] AishSundar commented on #69015
/milestone v1.13
/priority important-soon

[2018-11-09 18:14] msau42 commented on #70760
I prefer disabling the specific tests instead of reverting the entire pr. We will lose important signal for csi

[2018-11-09 18:14] leakingtapan commented on #70852
Investigated the issue. This is because `VolumeAttachmentStatus` doesn't contain any information related to device path. It only has `AttachmentMetadata` which might contain device path (in the case of EBS CSI driver, I use `devicePath` key for it) if the driver choose to report it otherwise this information will be missing. Is this intentional?

[2018-11-09 18:14] yujuhong opened #70879 "Windows e2e test image redis: "/bin/bash /run.sh" not found"
CI tests for windows in GCE: https://testgrid.k8s.io/google-windows#windows-prototype
The tests use the repo-list: https://raw.githubusercontent.com/e2e-win/e2e-win-prow-deployment/master/repo-list.txt

Quite a few kubectl and deployment tests consistently fail because `/bin/bash run.sh`cannot be found in the windows redis test image.
[code]

@kubernetes/sig-windows-bugs
@PatrickLang @adelina-t

I

[2018-11-09 18:15] yujuhong commented on #70879
/cc @pjh

[2018-11-09 18:16] shubheksha commented on #69892
@PatrickLang - any update on this?

[2018-11-09 18:19] wangzhen127 commented on #70760
That works for me. Can you cc me on the PR that disables those tests?

When you re-enable the tests, remember to try them out on [pull-kubernetes-e2e-gce-alpha-features](https://k8s-testgrid.appspot.com/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-alpha-features). :)

[2018-11-09 18:20] #69588 closed

[2018-11-09 18:28] ibuildthecloud opened #70881 "Allow Indexers to be added to started SharedIndexInformers"
**What would you like to be added**:

I would like to be able to call AddIndexers() on SharedIndexInformers after they have been started.  Already you can add a ResourceEventHandlers after start, but indexers are not allowed.

**Why is this needed**:

I have controllers that run are deployed in a master/slave configuration.  Masters run a set of controllers and all slaves also run a set of control

[2018-11-09 18:37] logicalhan commented on #27114
@ejc3, but if the liveness probe doesn't run until the postStart command returns, then what would you do in the situation where the container could not achieve proper state during the boot sequence (i.e. the postStart command hangs)?

I agree with @thockin's earlier statement that the current liveness and readiness concepts probably covers most cases already. That said, if you expect variable star

[2018-11-09 18:39] anfernee commented on #70785
I've noticed that your calico node isn't fully healthy: Only 1 container among 2 is running. Most likely it's install-cni.

[code]

[2018-11-09 18:50] yujuhong opened #70882 "Windows e2e in GCE: secrets tests failing due to unexpected output"
CI tests for windows in GCE: https://testgrid.k8s.io/google-windows#windows-prototype
The tests use the repo-list: https://raw.githubusercontent.com/e2e-win/e2e-win-prow-deployment/master/repo-list.txt

Failure message:
[code]

The output differs from the expected string with an additional "Windows" string as well as different file permissions.

Related events:
[code]

According to @PatrickLang, "

[2018-11-09 19:04] PatrickLang commented on #70882
/assign @bclau
cc @adelina-t

I'm seeing this as well on my latest runs. It doesn't seem to matter which Docker version is used - both 17.06 and 18.03 show this behavior.

Claudiu - when you rebuilt busybox to change the environment variable behavior, do you think it changed how it was reporting the permission masks?

[2018-11-09 19:04] PatrickLang commented on #70882
cc @jsturtevant - this is what I mentioned on Slack

[2018-11-09 19:14] davidz627 commented on #66388
/cc @BenTheElder @krzyzacy
I believe we wouldn't want to add them as pre-submits, AFAIK we're trying to get the GCE ones as presubmits as well

[2018-11-09 19:15] ericchiang commented on #70601
I don't think this is an issue with Kubernetes https://github.com/dexidp/dex/issues/1336#issuecomment-437465175

[2018-11-09 19:36] mkimuram commented on #70760
@AishSundar

Let me consider if we can just skip these test for CSI, instead of reverting the entire patch.

[2018-11-09 19:39] Lentil1016 commented on #70785
Thanks for reminding😄. But I also noticed that, And I'm not sure that is the cause of my issue. If I boot the `v1.12.1` cluster with my calico manifest version down-graded from 3.2.3 to 3.1.3, calico-node ds will be fully healthy, but this IP issue will remain the same. The unhealthy container is `calico-node`. That's another issue I'm looking at.

And I found a new phenomena. When I join and mark

[2018-11-09 19:44] ReSearchITEng commented on #65933
@dbason 1.12 looks fine to me.

[2018-11-09 19:51] davidz627 opened #70888 "Failing to get test logs and very noisy error/retry for GCE PD CSI Driver tests"
When running some GCE PD CSI Driver E2E tests this warning gets printed out repeatedly. Looks like it's in a tight retry loop.
1) What needs to be fixed so that this error doesn't happen?
2) If it does error out, can it retry a couple times then give up. Right now it just continuously prints these warning statements drowning out any other log signals.
[code]

/cc @msau42 @pohly @mkimuram
not sure

[2018-11-09 19:51] davidz627 commented on #70888
/sig storage

[2018-11-09 20:01] Lentil1016 commented on #70785
I just rebuild my cluster with calico 3.1.3, and all containers are healthy now.
[code]

[2018-11-09 20:01] PatrickLang commented on #69996
Docker EE 18.09.0 is out for Windows. https://docs.docker.com/engine/release-notes/

Once I get a test done, I'll probably close this out

[2018-11-09 20:05] gnufied commented on #70760
@mkimuram you mean just skipping them in Alpha cluster right?

[2018-11-09 20:07] PatrickLang commented on #70879
Dockerfile is at https://github.com/e2e-win/k8s_images/tree/master/redis

[2018-11-09 20:07] michmike commented on #70879
@yujuhong the easiest way to check is to simply deploy the redis image locally and see if bash is in it

[2018-11-09 20:09] bsalamat commented on #70871
/assign @WanLinghao
Could you please take a look. The only recent change in this test is made by you.

[2018-11-09 20:09] ObviousDWest commented on #67473
For those considering upgrades, I did a little digging. As of today:
- "latest" kops version is 1.10.0, would upgrade k8s to 1.10.6, and uses the image:
    k8s-1.10-debian-jessie-amd64-hvm-ebs-2018-08-17 image (not stretch).
- kops 1.11.0-alpha.1 version upgrades k8s to 1.11.2 and uses the image:
    kope.io/k8s-1.11-debian-stretch-amd64-hvm-ebs-2018-08-17

[2018-11-09 20:10] bsalamat commented on #70871
cc/ @derekwaynecarr

I still don't understand why resource quota tests are among of the scheduler tests.

[2018-11-09 20:12] PatrickLang commented on #70879
@yujuhong can you share the specific case(s) that are failing?

[2018-11-09 20:19] mkimuram commented on #70760
@gnufied

I was thinking about skipping the below test with the combination of below drivers:

[Test]
 -  [Testpattern: Dynamic PV (filesystem volmode)] volumeMode[Feature:BlockVolume] should create sc, pod, pv, and pvc, read/write to the pv, and delete all created resources

[Driver]
 - csi-hostpath
 - com.google.csi.gcepd

Won't it enough? Or, do we need to skip it only with alpha cluster?

[2018-11-09 20:19] andres-carrilloAdapt2 commented on #58308
referencing this issue: https://github.com/Azure/AKS/issues/716

I am attempting to use azure file share for mongo db but i am getting above error.
I previously tried with azure-disk but am getting the error in referenced issue. Please check and let me know if you find anything

[2018-11-09 20:29] justinsb commented on #70873
I suspect this is another blip when the apiserver is restarting because of the overly aggressive health check (https://github.com/kubernetes/kubernetes/issues/70305), but haven't been able to find the log to prove it yet

[2018-11-09 20:31] alanbover opened #70890 "Kubelet inmediatelly eats all node's memory when livenessProbe command outputs infinite stdout"
**What happened**:
If a pod configures a livenessProbe command that just outputs infinitelly through stdout, kubelet quickly ends up eating all node's memory, possibly ending up with OOM kills and the node going to unhealthy state.

**What you expected to happen**:
Kubelet increases memory to store a certain amount of logs. The rest are just  dropped.

**How to reproduce it (as minimally and preci

[2018-11-09 20:38] alanbover commented on #70890
/sig node

[2018-11-09 20:50] gnufied commented on #61137
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2018-11-09 20:50] gnufied commented on #61137
This is still a valid bug.

[2018-11-09 20:55] michmike commented on #70879
i installed/deployed the redis image that @PatrickLang referenced above and there is no bash installed in it.

[2018-11-09 20:56] pohly commented on #70888
I wrote that code. The error message comes from this API here:
https://github.com/kubernetes/kubernetes/blob/c3d05c816d315383b861ca2330c18e3211324864/test/e2e/framework/podlogs/podlogs.go#L48-L51

And gets printed here:
https://github.com/kubernetes/kubernetes/blob/c3d05c816d315383b861ca2330c18e3211324864/test/e2e/framework/podlogs/podlogs.go#L107-L120

The code gets triggered by pod events. At le

[2018-11-09 21:11] tammersaleh commented on #63225
More info:  This seems to happen from my local environment running MacOS behind a home router, but not from my cloud development environment running on a GCE VM.

[2018-11-09 21:17] PaulCharlton commented on #65305
@CecileRobertMichon thanks for writing -- yep -- that's what we found a few days ago and already patched the acs confit -- apologies for not updating my comment

[2018-11-09 21:34] AishSundar commented on #70810
@RenaudWasTaken are you missing the right PR# in the comment above?

[2018-11-09 21:35] wadeholler commented on #54482
This is a problem for my customer as well.  VPC is not public facing and is required to use customer DNS targets only.

[2018-11-09 21:35] #63486 closed

[2018-11-09 21:36] yujuhong commented on #70879
@PatrickLang , am I pulling the wrong image?

I got the same error when trying to run the container using Docker on a Windows VM.
[code]

[2018-11-09 21:42] vladimirvivien commented on #70810
@AishSundar  this is the correct PR - https://github.com/kubernetes/kubernetes/pull/70821

[2018-11-09 21:48] michmike commented on #70879
@yujuhong  that's what i got as well. i tried exactly what you did. i wonder if the test case was updated. can you share the context of the test case in terms of why it needs to run the bash command?

[2018-11-09 21:50] yujuhong commented on #70879
A couple of Deployment and kubectl tests using this image all failed, e.g., "Kubectl logs should be able to retrieve and filter logs"

@michmike I don't think the test itself was the problem. They didn't override the entrypoint in the container image. The redis image itself couldn't start up because it was looking for `/bin/bash`

[2018-11-09 21:59] mkimuram commented on #70760
@AishSundar

Actually, there is no feature added in either of culprit commits. It added tests or intended to improve the way it is tested.

Therefore, it must be a test issue or another issue which is found by the test added, not an issue introduced by the commits themselves.

In the code, there is a clear comment that the test is skipped due to this issue with the reference to this issue#, so thi

[2018-11-09 22:12] benmoss commented on #68189
/close

[2018-11-09 22:12] #68189 closed

[2018-11-09 22:13] benmoss commented on #69450
Since this is already fixed in 1.12, closing!

/close

[2018-11-09 22:13] #69450 closed

[2018-11-09 22:31] #70752 closed

[2018-11-09 22:44] AishSundar commented on #70760
@mkimuram IIUC the test that were failing (and are being reverted) were added for the new CSI festures going to Alpha in 1.13, right? so even these 2 culprit commits do not contain feature work, it is testing some new code additions to 1.13 and now those will be untested until we re-enable these tests.

Is there an ETA to re-enable them, preferably sometime early next week? Yes +1 to keeping this

[2018-11-09 22:56] dims commented on #70802
https://github.com/kubernetes/kubernetes/pull/70811 has merged.

/close

[2018-11-09 22:56] #70802 closed

[2018-11-09 23:00] michmike commented on #70879
@yujuhong in my case, the redis image started just fine. there was not issue in the image starting up and serving content. the /bash command is extra i believe and not needed by the image itself.
somewhere in the test is a command to execute something inside the container using bash ...can you please see what that is and paste it in this thread?

[2018-11-09 23:04] yujuhong commented on #70879
@michmike but in my case, I couldn't even run the container using docker directly (as pasted in my previous https://github.com/kubernetes/kubernetes/issues/70879#issuecomment-437502707). The container wouldn't come up at all.

I used `e2eteam/redis:1.0`. Was this the one you tested?

[2018-11-09 23:14] wking commented on #61006
Also in this space is `https://github.com/go-log/log`, which aims for the simpler printf-style approach from [Dave's blog][1].  I'm definitely in favor of having a pluggable interface of some sort for this to enable client-go (and other library) consumers to plug in their own implementation, which may not be glog or a fork of glog).

[1]: https://dave.cheney.net/2015/11/05/lets-talk-about-logging

[2018-11-09 23:30] 1ein commented on #54482
We have the similar issue with AWS VPC EC2 instances.

[2018-11-09 23:46] RenaudWasTaken commented on #69015
I just want to point out that one of the issue we have with recursively watching all directories is that it will significantly increase the amount of fd consumed.

Given that plugins actually store data there and in a dynamic way my fear is that it will exhaust the available fds for no real good reasons.

Limiting the depth sounds like a reasonable solution to that issue.

[2018-11-09 23:47] michmike commented on #70879
@yujuhong i used the dockerfile from https://github.com/e2e-win/k8s_images/tree/master/redis that Patrick sent and i created my own image. everything was successful and i was able to run...of course no bash was present.
![image](https://user-images.githubusercontent.com/6655749/48293967-30f56680-e447-11e8-9437-a0d05111093e.png)
![image](https://user-images.githubusercontent.com/6655749/48294017-75

[2018-11-09 23:49] yujuhong commented on #70879
That's the difference. I am using the `e2eteam` repository from https://github.com/e2e-win/e2e-win-prow-deployment
I believe this hosts images used to run tests on Azure.
@PatrickLang is this still the case, or is the recommendation for us to build and maintain our own image repositories?

[2018-11-09 23:52] michmike commented on #62038
@Vacant0mens  not lately. we will revisit this after we go stable (likely with v1.13). thanks

[2018-11-10 00:00] wongma7 commented on #69539
Just want to make sure that for 1.13 moving the object versions as @bertinatto has done in https://github.com/kubernetes/kubernetes/pull/70367 to beta is all we are going to do, the feature has to stay alpha and disabled by default. Because this and https://github.com/kubernetes/kubernetes/issues/69538 are blocked by CRD Installation Mechanism https://github.com/kubernetes/enhancements/issues/615?

[2018-11-10 00:23] yifan-gu opened #70897 "Cloud Controller Manger doesn't query cloud provider for node name, causing the node to be removed"
**What happened**:

- Launch a node with container linux `CoreOS-stable-1911.3.0` on aws, with customized ignition configs.
- The hostname turns to be `ip-10-3-18-1`, instead of the full private dns `ip-10-3-18-1.us-west-1.compute.internal` because `/etc/hostname` is not set.
- kubelet starts with `--cloud-provider=external` and skips [this code path](https://github.com/kubernetes/kubernetes/blob/

[2018-11-10 00:36] sudeshsh opened #70899 "Out of order delivery of Pods in Default Scheduler"
**What would you like to be added**:
The priority queue in default scheduler consider the priority of pod in the LessFunc(),
but when the priorities are equal the assignment is random i.e. any pod could be scheduled first.
https://github.com/kubernetes/kubernetes/blob/06e737367d0b53b59e64e464f4a3a2393a40b7d7/pkg/scheduler/util/utils.go#L74

**Why is this needed**:
This allows the scheduler to look

[2018-11-10 01:56] Amos-85 commented on #64002
It's not a k8s issue,
rook ceph project use this mechanism in order to save the cluster state.
for cleaning the cluster,
follow there article about cleaning up a cluster:
[https://rook.io/docs/rook/v0.8/ceph-teardown.html](url)

Anyway,
If you still struggle with the rook namespace deletion,

Check what resources is stuck in rook namespace.
`kubectl --namespace=<rook-namespace>  get all` ,

then r

[2018-11-10 01:58] aniket-s-kulkarni commented on #70774
/close

[2018-11-10 02:12] AishSundar commented on #70774
/reopen
Keeping this open until we see the test pass in the dashboards

[2018-11-10 02:14] aniket-s-kulkarni commented on #70774
OK sounds good.

[2018-11-10 03:12] wongma7 commented on #69539
@verult right, failing nicely is probably better. In fact I took a more thorough look at a code and I think https://github.com/kubernetes/kubernetes/blob/e133ab274d17c65efab05852eec50c511428b6a4/pkg/volume/csi/nodeinfomanager/nodeinfomanager.go#L97 where we try to update a CSINodeInfo anytime a driver is installed is the only problem. CSIDriverRegistry should already be tolerant because it has som

[2018-11-10 03:19] wongma7 commented on #69539
Also, I suppose that while wrangling all the different kubernetes installation methods to install the CRDs is "basically impossible" we can make a good effort and at least ensure our CI's gce/aws clusters install them. There's also local-up-cluster https://github.com/kubernetes/kubernetes/issues/70791. I think something to this effect was mentioned in the meeting today but it went over my head at

[2018-11-10 04:05] mkimuram commented on #70760
@AishSundar

The two failing tests themselves are not for new alpha features that are added in v1.13.
Instead, they are just to test csi driver works well as it works in existing in-tree driver.
(And failed because they might be affected by some other alpha features added or some of specific configurations in gce.)

In addition, #68025 added ~50 tests for csi driver, so it would be better not to r

[2018-11-10 04:49] annProg commented on #70747
I try to change some kernel param and found `conn_reuse_mode` is related to this issue
`net.ipv4.vs.conn_reuse_mode` , default `1`. change to `0`，then complte about 3000k request, pretty good performance.

So, should I change the param in production?  Does it have any side effects？

[2018-11-10 04:59] annProg commented on #70747
@m1093782566 Can you look at it?

[2018-11-10 05:06] m1093782566 commented on #70747
net.ipv4.vs.conn_reuse_mode , default 1. change to 0，then complte about 3000k request, pretty good performance.

Yes, seems you find the key to the problem - it's set to 0 in my environment and I have not found any issue so far(it's about IPVS module behavior and we will not find net.ipv4.vs.conn_reuse_mode parameter in old kernels ).

BTW, you can also set the ipvs conntrack(https://github.com/ku

[2018-11-10 05:10] m1093782566 commented on #68975
I am going to close this issue as it's already fixed.

[2018-11-10 05:10] m1093782566 commented on #68975
/close

[2018-11-10 05:10] #68975 closed

[2018-11-10 05:11] m1093782566 commented on #65820
please check #70747

[2018-11-10 05:33] lth2015 commented on #62246
/close

[2018-11-10 05:33] #62246 closed

[2018-11-10 05:34] annProg commented on #70747
Thanks for reply.

I am using kubernetes `1.11.1` , and after set `sysctl -w net.ipv4.vs.conntrack=0`, clusterIP can not be reachable.  Which version do I need ?

[2018-11-10 06:30] annProg commented on #70747
Got it, thanks!

[2018-11-10 07:01] m1093782566 commented on #70747
cc @Lion-Wei

Should we tune the kernel parameter in kube-proxy?

[2018-11-10 09:47] #52577 closed

[2018-11-10 09:47] #60742 closed

[2018-11-10 10:14] dawidmalina commented on #70747
There is a nice article describing even more kernel parameters to tune ipvs: https://jsravn.com/2017/12/24/ipvs-with-kubernetes-ingress/

[2018-11-10 12:50] #64940 closed

[2018-11-10 12:50] #41850 closed

[2018-11-10 12:50] #64926 closed

[2018-11-10 13:11] adrianchifor commented on #52434
/remove-lifecycle stale

[2018-11-10 14:39] nikopen commented on #67900
https://github.com/kubernetes/kubernetes/pull/70291 got merged for 1.11, and says it fixes this one. should #70291 be cherrypicked for 1.10 too? @gnufied

[2018-11-10 14:57] annProg commented on #70747
Side effect  like this comment: https://github.com/cloudnativelabs/kube-router/issues/544#issuecomment-431553463

<img width="790" alt="hpa_prize" src="https://user-images.githubusercontent.com/4145852/48302647-118b3600-e53a-11e8-9ac6-ff96c66f8e82.png">

Note: time in picture below is UTC+8.
![hpa_price](https://user-images.githubusercontent.com/4145852/48302771-d0942100-e53b-11e8-9edb-bc4097cae47

[2018-11-10 14:58] shubheksha commented on #70864
/sig scheduling
/sig apps

[2018-11-10 14:59] shubheksha commented on #70853
/close

[2018-11-10 14:59] #70853 closed

[2018-11-10 15:08] #70264 closed

[2018-11-10 15:35] ravishankarsrrav opened #70906 "Is it possible to update the pod spec like priority class Name ?"
`/priorityClassName` `/Container` `/spec`

[2018-11-10 16:54] #61179 closed

[2018-11-10 17:17] Pradip-Khakurel commented on #70198
@riya-17 Are you still struggling with test cases in general? @tallclair Please tell me if I am wrong, but I think here a test case is just testing that a particular call to the api logs specific information (represented by the struct AuditEvent). If I am correct, we don't need to create a complete new test case, but rather edit the exiting ones by checking one more info.

Additionally, I am not s

[2018-11-10 17:52] sakarikl commented on #63570
/remove-lifecycle stale

[2018-11-10 18:56] #64790 closed

[2018-11-10 19:32] AishSundar commented on #70810
/reopen

Keeping it open until we can see the job pass a couple of rounds

[2018-11-10 19:36] AishSundar commented on #70760
/reopen

@mkimuram Thanks for the detailed explanation. I think the revert is fine in this case then. I am keeping this issue open however to track and fix the failures in these 2 tests

@msau @cjwagner @BenTheElder can any of you help answer [the ques above](https://github.com/kubernetes/kubernetes/issues/70760#issuecomment-437556455) w.r.t alpha features on gce environment. thanks

[2018-11-10 20:11] shubheksha commented on #70906
Hi, the GitHub issue tracker isn't the best place to ask for support regarding the operation of Kubernetes. Please try one of the [support channels](https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#support-structures) listed instead.

[2018-11-10 20:47] AishSundar commented on #70708
Looks like the latest revert  #70837 worked ! The [gce-cos-master-scalability-100](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100) job has been stable that last day.

@wojtek-t can you chk and close this issue if you deem it fixed.

[2018-11-10 20:49] AishSundar commented on #70867
Seems like #10116 workaround helped the job. The Kops job is passing in both master and 1.13. Close this issue now.

/close

[2018-11-10 20:49] #70867 closed

[2018-11-10 20:52] liggitt commented on #70881
/sig api-machinery

[2018-11-10 20:55] liggitt commented on #70864
cc @janetkuo for fragile detection of current revision based on template comparisons

[2018-11-10 20:58] AishSundar opened #70907 "[Failing Test] Kubeadm jobs failing cluster Up in release master-blocking and 1.13-blocking jobs"
**Which jobs are failing**:
* [kubeadm-gce-master](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-master)
* [kubeadm-gce-stable-on-master](https://testgrid.k8s.io/sig-release-master-blocking#kubeadm-gce-stable-on-master)
* [kubeadm-gce-1.12-on-1.13](https://testgrid.k8s.io/sig-release-1.13-blocking#kubeadm-gce-1.12-on-1.13)
* [kubeadm-gce-1.13](https://testgrid.k8s.io/sig-release-

[2018-11-10 21:08] liggitt commented on #70855
That method is returning all the secrets referenced from a pod spec. The ability to specify CSI volume sources in a pod spec is being implemented (
https://github.com/kubernetes/kubernetes/pull/68232). When that is added, secrets referenced from CSI volume sources will be added to that method, and allow arbitrary volume extensions.

/close

[2018-11-10 21:08] #70855 closed

[2018-11-10 21:10] liggitt commented on #70906
only very limited portions of pod specs are mutable (image, adding tolerations, and shortening the activeDeadlineSeconds)

/close

[2018-11-10 21:10] #70906 closed

[2018-11-10 21:59] #64975 closed

[2018-11-10 21:59] #65067 closed

[2018-11-10 22:25] davidz627 opened #70911 "Kubelet node status based on CRD Installation"
As we move to using CRD's more we have use cases for not letting the Kubelet be schedulable until certain CRD's have been installed or certain initialization actions have been performed with them. It would be nice to have a generic feature that hooks into Kubelet Node Status Ready Condition that can check whether certain CRD's are installed or not and post an error (and make Kubelet NotReady) if t

[2018-11-10 22:29] davidz627 commented on #70911
/cc @caesarxuchao

[2018-11-10 22:37] davidz627 commented on #70911
/cc @dbsmith

[2018-11-10 22:37] davidz627 commented on #70911
/cc @lavalamp

[2018-11-10 22:45] AishSundar commented on #70832
this test super flaky i.e., passes just 50% of the time. @davidz627 any update?

[2018-11-10 22:45] AishSundar commented on #70871
@WanLinghao this job is continuously failing. any updates on this?

[2018-11-10 22:46] AishSundar commented on #70774
/close

[2018-11-10 22:46] #70774 closed

[2018-11-10 22:55] AishSundar opened #70912 "[Failing Test] gce-new-master-upgrade-master job timing out in Release master-upgrade dashboard"
**Which jobs are failing**:
https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-master

**Which test(s) are failing**:
The job has been [Timing out](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1874)

**Since when has it been failing**:
11/7.  [Changelist with possible culprit](https://github.com/kubernetes/kubernetes

[2018-11-10 23:04] AishSundar opened #70913 "[sig-apps] "DaemonRestart [Disruptive] Kubelet should not restart containers across restart " fails in Release master-upgrade dashboard"
**Which jobs are failing**:
[gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new) in Release upgrade dashboard

**Which test(s) are failing**:
[[sig-apps] DaemonRestart [Disruptive] Kubelet should not restart containers across restart](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgra

[2018-11-10 23:08] AishSundar commented on #70873
True to what @justinsb pointed out, this seems to be a transient issue, the job is passing. Will close this issue now and reopen if need be.

/close

[2018-11-10 23:08] #70873 closed

[2018-11-10 23:09] AishSundar commented on #70913
@kubernetes/sig-apps-bugs

[2018-11-10 23:16] justinsb commented on #70912
@AishSundar  when you said "changelist with possible culprit" - was there one you had in mind, or that's just the list?

[2018-11-10 23:52] 1e100 commented on #53533
But it does buy you a lot, if you run things the way you're supposed to (and the way Google runs things on Borg): all containers should specify the upper memory limit. Borg takes advantage of Google infra and learns the limits if you want it to (from past resource usage and OOM behavior), but there are limits nonetheless.

I'm actually kind of baffled that K8S folks allowed the memory limit to be

[2018-11-11 01:31] liggitt commented on #70790
activeDeadlineSeconds is for containers that are intended to complete. a replicaset perpetually keeps its pod's containers running, so activeDeadlineSeconds doesn't make sense for that use case.

/close

[2018-11-11 01:31] #70790 closed

[2018-11-11 01:35] liggitt commented on #70563
quota increase occurs prior to the pod being persisted in etcd. if that persistence fails, the quota will be over-reserved until the reconciling controller releases it in the background.

prior to 1.9, a validation error in a pod would reserve quota for every attempt made to create the pod

in 1.9 and after, only validated pods that are about to be persisted reserve quota

/close

[2018-11-11 01:35] #70563 closed

[2018-11-11 01:49] AishSundar commented on #70907
/close

[2018-11-11 01:49] #70907 closed

[2018-11-11 01:56] AishSundar commented on #70810
I see just one CSI test timing out in serial job https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-serial

@RenaudWasTaken Is that something the fixes here attempted to resolve? if not I can open a new issue if it persists and close this one out. Thanks.

[2018-11-11 01:58] AishSundar commented on #70627
Closing this issue now since latest run was green. Thanks much @justinsb  and @Huang-Wei for quick turnaorunds

[2018-11-11 01:58] AishSundar commented on #70627
/close

[2018-11-11 01:58] #70627 closed

[2018-11-11 02:03] #64484 closed

[2018-11-11 02:32] pigletfly commented on #70721
/close

[2018-11-11 02:32] #70721 closed

[2018-11-11 02:57] AishSundar commented on #70912
@justinsb I didnt have any specific CL in mind and yes the list is long (we should have caught this issue earlier). We cut our Beta and 1.13 branch  on 11/7 (5pm pST) and that's why you see the switch from 1.11 to 1.12. Coincidentally the job started timing out from the run post the branch switch. Briefly glancing at the logs it looks like the actual upgrade passed fine. but i see a lot of connect

[2018-11-11 02:57] AishSundar commented on #70912
FWIW here's an healthy run log to compare with https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1869?log#log

[2018-11-11 02:58] lavalamp opened #70916 "Make it clear why a namespace is still in Terminating"
Users need to know why a namespace is not being deleted when it has been in the Terminating state for a sufficiently long amount of time (see #64002). We should have a status condition or set of events that make it clear which objects the namespace deleter is trying / failing to delete.

/kind feature
/sig api-machinery

[2018-11-11 02:58] lavalamp commented on #64002
It should be easier to figure out what's going wrong-- I filed #70916

[2018-11-11 04:56] WanLinghao commented on #70871
@AishSundar sorry for the delay，I am working on it

[2018-11-11 05:34] zjj2wry commented on #51820
I think the reason that the quota state can't be recovered immediately is because there is no enqueue when the state of resourcequota changes.
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/resourcequota/resource_quota_controller.go#L136%EF%BD%9EL138
Can we enqueue after 30s to solve this problem #70563?

[2018-11-11 07:53] davidkazuhiro opened #70920 "Incorrect kubectl auth can-i result"
**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a user without permission to create pods/portforward (but with permission to create pods)
1. Execute the above commands

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or har

[2018-11-11 07:56] davidkazuhiro commented on #70920
@kubernetes/sig-auth-bugs

[2018-11-11 08:11] davidkazuhiro commented on #70920
sorry just realized this issue is invalid.

`kubectl auth can-i create pods/portforward` should indeed return `yes` because the syntax is

```kubectl auth can-i VERB [TYPE | TYPE/NAME | NONRESOURCEURL] [options]```

What I should have used was the `subresource` option

```--subresource='': SubResource such as pod/log or deployment/scale```

So the command I should have used was as follows, which g

[2018-11-11 08:11] #70920 closed

[2018-11-11 08:45] pohly commented on #70888
/assign

[2018-11-11 09:04] Amos-85 commented on #64002
Agree @lavalamp ,
I have also spent many time about figure out what's going wrong when facing terminating issue.

[2018-11-11 09:31] hyunsik opened #70921 "EBS volume is attached, but node actually doesn't mount the volume device."
**What happened**:

There seems to be a bug. A node failed to mount a volume to a container because a node didn't mount a volume to a host first.
[code]

I checked the mount point for the EBS volue, but there wasn't any directory under /var/lib/kubelet/plugins/. So, the volume couldn't be mounted.
[code]

When I checked the volume, the volume (/dev/xvdcn) was fine.
[code]

So, I tried to mount the

[2018-11-11 09:32] hyunsik commented on #70921
/sig storage

[2018-11-11 09:33] hyunsik commented on #70921
/sig aws

[2018-11-11 10:11] #62361 closed

[2018-11-11 10:11] Multiply commented on #69754
I have exactly the same issue with dns, for almost all my go programs. :(

[2018-11-11 10:48] alex-slynko opened #70922 "httpGet hooks do not respect NO_PROXY with CIDRs"
**What happened**:
I have an environment that has proxy settings including NO_PROXY for Pod and Services CIDRS.
I have deployed Pod with the postStart hook that points to another pod.
The Pod has stuck in ContainerCreating state.
I saw the entry in my proxy that request was sent through it.

**What you expected to happen**:
Everything just works.

**How to reproduce it (as minimally and precisely

[2018-11-11 11:12] #64117 closed

[2018-11-11 11:12] #11000 closed

[2018-11-11 11:12] #65081 closed

[2018-11-11 13:46] jberkus commented on #70912
Hey, a bunch of other tests have been timing out too, looks like the same issue:

* https://k8s-testgrid.appspot.com/sig-release-1.13-all#gce-1.12-1.13-upgrade-cluster
* https://k8s-testgrid.appspot.com/sig-release-1.13-all#gce-1.12-1.13-upgrade-cluster-new
* https://k8s-testgrid.appspot.com/sig-release-1.13-all#gce-1.12-1.13-upgrade-master
* https://k8s-testgrid.appspot.com/sig-release-1.13-all#g

[2018-11-11 14:01] andyzhangx commented on #58308
@andres-carrilloAdapt2 I have verified that azurefile plugin(cifs protocol) does not support mongodb now due to file permission could not be changed after azure file mount, instead, you could use azuredisk, it would work. Let's address the azure disk issue in https://github.com/Azure/AKS/issues/716

[2018-11-11 14:03] nikhita commented on #47668
/remove-lifecycle stale

[2018-11-11 14:07] nikhita commented on #46107
/reopen
/remove-lifecycle rotten

There is a PR open: https://github.com/kubernetes/kubernetes/pull/53185

[2018-11-11 14:19] msau42 commented on #70888
These particular logs might be from the daemonset pod that is trying to run on the master node

[2018-11-11 14:33] wouterhund commented on #62112
/remove-lifecycle stale

This bot is a bit over-eager...

[2018-11-11 14:34] wouterhund commented on #62112
@dims @feiskyer @saiyan86 Can you look at the PR with the fix? https://github.com/kubernetes/kubernetes/pull/66228

[2018-11-11 14:40] nikhita commented on #67305
Closing this issue based on comments in https://github.com/kubernetes/kubernetes/pull/67336#discussion_r209601608. Please reopen if needed.

If we decide to support aliases for subcommands later, IMO it should go in as a dedicated issue.

/close

[2018-11-11 14:40] #67305 closed

[2018-11-11 14:47] msau42 commented on #70760
I can help debug when I'm back on Tuesday. In the meantime, I would suggest looking through the failing test logs to try to triage what's going on

[2018-11-11 14:47] nikhita commented on #58310
/remove-lifecycle stale

[2018-11-11 14:49] nikhita commented on #56770
/remove-lifecycle stale

[2018-11-11 14:49] msau42 commented on #70760
Here's one failing run: https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/26000

[2018-11-11 15:04] zegl commented on #70843
This bug seems to have been fixed as of the current master.

[code]

[2018-11-11 15:09] wking commented on #25625
Use [my library][1]?  I'll file a PR adding it to client-go, in case that helps move that along.

[1]: https://github.com/kubernetes/kubernetes/issues/25625#issuecomment-430347355

[2018-11-11 15:15] deitch commented on #25625
That is exactly what I did, and saved lots of headache. Thank you for publishing it!

[2018-11-11 15:30] riya-17 commented on #70198
@Pradip-Khakurel  yes, I am struggling for writing test case as well as this was in my concious as well that how I am gonna test this test case

[2018-11-11 15:52] nikhita commented on #63173
/remove-lifecycle stale

[2018-11-11 15:56] dczombera commented on #70198
OK, I think I got what the issue is about. @riya-17  Please let me know if you are still struggling and prefer to hand it over. I'd like to give it a shot but don't want to steal the opportunity to make a first contribution to the project from you.

[2018-11-11 16:39] AishSundar commented on #70810
The test mentioned in my comment above was a flake.. closing this issue now. will open a new issue for the flake

[2018-11-11 16:39] #70810 closed

[2018-11-11 16:40] AishSundar commented on #70832
This test passed for a 3 runs now. will watch a bit more before we close this out.

[2018-11-11 16:48] AishSundar commented on #70912
ahh those jobs are in the 1.13-all dashboard.. good catch @jberkus. So basically any upgrade (master or cluster) from 1.12 to 1.13 seems to timeout. The symptoms are the same, the upgrade itself seems to have happened fine ([from gubenator logs](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster/756)) but the jobs timeouts at 15hr

[2018-11-11 17:06] stephan2012 opened #70924 "Multi-homed AWS node: There are multiple interfaces attached to instance… Please specify an interface ID for the operation instead"
**What happened**:
Pod network does not setup correctly when AWS cloud provider is enabled and the system is multi-homed (i.e., multiple network interfaces connected to the instance).

Error message:

[code]

Setup:

* eth0: Admin network
* eth1: etcd traffic
* eth2: Pod traffic

**What you expected to happen**:
AWS Cloud Provider should handle multiple network interfaces (ENIs) so that different

[2018-11-11 17:08] stephan2012 commented on #70924
@kubernetes/sig-aws-bugs

[2018-11-11 17:31] jethrogb commented on #59119
/remove-lifecycle stale

[2018-11-11 17:39] kfox1111 commented on #29582
/reopen
/remove-lifecycle rotten

[2018-11-11 17:40] kfox1111 commented on #29582
This will be enabled with the plumbing in podinline / ephemeral csi driver support in pr 68232. A driver can then be written out of tree for this.

[2018-11-11 17:52] robinsondan87 commented on #57354
Sorry if this is the incorrect thread but will dropping support for etcd2 also include dropping support for the v2 API as v2 can be run whilst on the etcd 3.x releases and is by default if the ENV isn't specified.

[2018-11-11 18:01] liggitt commented on #57354
Yes, support for the v2 API is what is being dropped.

[2018-11-11 19:42] mikedanese opened #70925 "Consider replacing k8s.io/apimachinery/pkg/util/diff with github.com/google/go-cmp/cmp"
`k8s.io/apimachinery/pkg/util/diff` is a test only package. `cmp` package has a superset of functionality and better error ourput. We do a lot of manual iterations like

https://godoc.org/github.com/google/go-cmp/cmp

Various tests can be simplified e.g.:

https://github.com/kubernetes/kubernetes/blob/8307fb2fb3ddd48cd8447e54978166f0c1123583/pkg/controller/certificates/rootcacertpublisher/publishe

[2018-11-11 20:04] riya-17 commented on #70198
@dczombera yaa sure you can give it a shot

[2018-11-11 20:16] zegl commented on #69856
I'm unable to reproduce this as of the latest master. My kubeconfig is only loaded 4 times, no matter how many resources are loaded.

[code]

[2018-11-11 20:58] hyunsik commented on #65942
I also have the same issue with kubernetes.io/aws-ebs provisioner.

[2018-11-11 21:16] toothbrush commented on #70843
Oh alright, sorry for the bother! Will close this now and reopen if there's still an issue after upgrading.

On 12 November 2018 2:05:01 am AEDT, Gustav Westling <notifications@github.com> wrote:

[2018-11-11 21:30] mtaufen commented on #69686
1.12 cherry-pick PR: https://github.com/kubernetes/kubernetes/pull/70927
1.11 cherry-pick PR: https://github.com/kubernetes/kubernetes/pull/70928

[2018-11-11 22:14] runcom commented on #58102
I know I'm super late, but I do also prefer going Option 1 with an array of array. That's pretty standard as well for ordered heterogeneous informations. An example of that is the additional information Docker outputs as part of the Storage driver used which is indeed using a `[][]string`. As for the sub arrays, I also agree a Key/Value struct would be better to further abstract it out the right w

[2018-11-11 22:14] runcom commented on #58102
/remove-lifecycle stale

[2018-11-11 23:45] yudiandreanp commented on #70601
Got the same problem, this time with Google's OAuth2 as Identity Provider

[2018-11-11 23:51] yudiandreanp commented on #70601
In my case, it turned out that I have to change "id-token" into "id_token".
Got the clues from here:
https://groups.google.com/forum/#!topic/kubernetes-sig-auth/6JjBeliY4-I

[2018-11-11 23:51] AishSundar commented on #70913
With Code freeze coming up this Friday 11/16,  this is a blocker for Beta.1 due to cut this Friday as well.

[2018-11-12 00:29] #70921 closed

[2018-11-12 00:30] hyunsik commented on #70921
It's my bad. I didn't know that I had to '--cloud-provider' to all nodes too.

[2018-11-12 02:33] Lentil1016 commented on #70785
@anfernee  Hi, sorry for bothering. Any chance to provide me some feed back? Thanks. These days I also tried to create my cluster manually following the official guide [Creating Highly Available Clusters with kubeadm](https://kubernetes.io/docs/setup/independent/high-availability/). And I got a broken cluster almost same as the one I created with my script: Right after I run `kubeadm alpha phase k

[2018-11-12 02:53] soggiest commented on #65942
I completely forgot to post the resolution to my issue: the pod that is trying to mount the volume created by the aws-ebs provisioner needs to be in the same AZ as the EBS volume. Volumes are not guaranteed to be scheduled in the same AZ as the pod that is trying to mount it. This is resolved in 12.2 with topology aware volume provisioning: https://kubernetes.io/blog/2018/10/11/topology-aware-volu

[2018-11-12 03:18] soggiest commented on #70897
+1 I've also observed this happening if the hostname isn't set properly.

[2018-11-12 03:33] anguslees commented on #69799
Right.  I don't understand how this works currently given that a volume may be shared between multiple containers within a pod.  Afaics, we _need_ to allocate the label in the default case at *pod-level* (ie: somewhere in kubernetes/kubelet, not CRI/docker) in order to match expected k8s pod semantics.

This is based on a theoretical understanding though, since I've never actually used a system th

[2018-11-12 04:29] pontiyaraja opened #70937 "Creating pod without volume configurations (Secret or configMap), with non-optional, the pod creation returns timeout exception after 5 minutes."
**@kubernetes/sig-storage-feature-requests**

**What happened:**

From the reference of PR _https://github.com/kubernetes/kubernetes/pull/70299_
While adding new e2e test cases for secret and configMap

Creating pod without volume configurations (Secret or configMap), by setting optional value as false, the pod creation returns timeout exception after 5 minutes, because of failing to mount volume

[2018-11-12 04:36] pontiyaraja commented on #70937
/sig scalability

[2018-11-12 04:44] junsionzhang opened #70938 "kubectl cannot execute port forward"
kubectl  port-forward   tiller-deploy-65fcff7ff6-7kjbb  -n kube-system 44134
error: error upgrading connection: unable to upgrade connection: Unauthorized

does anyone have advice to solve it? thanks a lot
/sig testing

[2018-11-12 05:17] #70697 closed

[2018-11-12 05:45] sbueringer commented on #69856
When I try a kubectl v1.13.0-alpha.3 against unfortunately a 1.9.11 Kubernetes Cluster I still have the problem:

[code]

[2018-11-12 06:03] mortent commented on #70913
This seems to have passed the last five runs, but I will take a look at it first thing tomorrow.

[2018-11-12 06:32] glbyers opened #70942 "API server should handle duplicate '/' in URL"
**What happened**:
In k8s 1.12.2, requests to API server for //version result in 404, whilst /version responds as expected.

**What you expected to happen**:
Duplicate URL path separators should be squashed. ie. //version and /version are equivalent. Same for other paths (//metrics, //healthz, etc.)

**How to reproduce it (as minimally and precisely as possible)**:
```curl http://127.0.0.1:8080//v

[2018-11-12 06:32] jethrogb commented on #63906
/remove-lifecycle stale

[2018-11-12 06:33] liucimin commented on #65976
@mgcrea
Yes,I have push a pr in k8s.

[2018-11-12 06:38] liggitt commented on #70942
is there a good reason to tolerate incorrect paths like that?

[2018-11-12 06:41] liggitt commented on #70937
Can you clarify the scenario? Is this creating a pod with a non-optional secret or configmap volume, where the actual secret or config map does not exist?

[2018-11-12 06:58] vainu-arto commented on #25625
Alternatively you could also use a taint, those are much more flexible anyway.

[2018-11-12 07:01] glbyers commented on #70942
It seems to be a widely held convention that // is equivalent to / in a path. This is certainly true wrt Unix/Linux filesystem hierarchy and holds with web servers like Apache and Nginx.

As far as reasoning goes, consider that a client may take a configurable/user defined API server URL (let's call it k8s_api_url) which may or may not have been defined with a trailing slash. Sanitisation issues a

[2018-11-12 07:11] pontiyaraja commented on #70937
@liggitt yes, that's the exact scenario.

[2018-11-12 08:42] fabiand commented on #46191
/remove-lifecycle rotten

The use-case iss till very limited, as neither the selector nor namespace can be configured.

[2018-11-12 08:43] fabiand commented on #46191
Side note, yes `-l` is present but does not work:

[code]

[2018-11-12 08:57] matthyx commented on #27114
Well, if the application is properly designed for k8s, it should already be able to crash cleanly (and fast) and there is no need to rely on a `LivenessProbe` to kill it.
However, when dealing with legacy applications (J2EE anyone?) I think it would be valuable to have a correct and elegant way to handle that situation using a `StartupProbe`.

[2018-11-12 09:06] Rogary opened #70945 "I want to use service in pod to connect Externel Mysql but not use"
Hello ,I want to use service in pod to connect   Externel Mysql but  not use

in kubernetes i use calico  i want to use service and endpoint  to connect a externel mysql like this
[code]

now i have a Service like this
[code]

## Expected Behavior
In hope that i can use clusterIp + port to connect Externel mysql  in pod

## Current Behavior
in  cluster  node  i can telnet  clusterIp port  this Ser

[2018-11-12 09:10] wojtek-t commented on #69600
@AishSundar - please don't mix different suites in the same issues.
This issue was opened for problems with 5k-node clusters, and those flakes were not yet fully addressed.

[2018-11-12 09:30] Adirio opened #70946 "[scheduler] NodeTree thread-safety"
**Description:**
`NodeTree`, part of the `pkg/scheduler/internal/cache` is exporting a `NumNodes` field which allows to modify its value externally. This also means that this field is not thread-safe.

**Solution:**
Expose a method that returns this value in a thread-safe way and do not export the field.

/kind bug
/sig scheduling

[2018-11-12 09:40] alex-slynko commented on #70922
/sig node

[2018-11-12 09:50] drigz commented on #69856
@zegl Maybe the bug is Linux-only? Presumably the kubeconfig location is different on different platforms, so maybe it has a different code path.

I can repro on latest master:

[code]

[2018-11-12 10:04] ju-la-berger commented on #52444
@crassirostris Could you please reopen this issue?

The concurrency is the problem here: Let your container simultaneously produce two log messages of >16KB (let's say 20 KB). Then fluentd will concatenate all four messages to one large (16+16+4+4 KB = 40 KB) message. The fluentd (or whatever you use) needs to know the ID of the partial log metadata to concatenate only those messages with identica

[2018-11-12 10:45] desaintmartin commented on #52444
Problem is that ID comes with Docker 18.06 if I'm not wrong, this is why I didn't use it: do we want to require a docker version which is 2 months old?

[2018-11-12 10:54] raine commented on #58139
Have a `kubeadm` set up on a Ubuntu VPS with the following manifest

[code]

[code]

Still, nginx is not logging the actual IP request originates from:

[code]

Quite new to kubernetes so there's probably something I'm missing but would've expected adding `externalTrafficPolicy: Local` to the service to start forwarding the real IP to nginx.

Any ideas if this should even work, and if not what to

[2018-11-12 11:14] #68517 closed

[2018-11-12 11:20] nikopen commented on #70319
Pinged @gnufied via PM, leaving this here for visibility.
Tracking closely due to priority

[2018-11-12 11:42] nikopen commented on #38637
can be moved to next release

/milestone v1.14

[2018-11-12 11:44] axistwelve commented on #57673
Could you let me know how you can update that in a running cluster ? (Tectonic 1.9.7)

[2018-11-12 12:00] nikopen commented on #69892
Based on https://groups.google.com/d/msg/kubernetes-sig-architecture/JN6njCzcVYU/Ma4RizDjAgAJ it will likely be moved to v1.14, as this is not directly impacting the release, but there's some more discussions to be made.

Will return some days later or next week.

[2018-11-12 12:06] nikopen commented on #69379
@AishSundar The three PRs mentioned above have been merged outside k/k, so this has been done for tracking purposes. Closing this.

/close

@pohly I suppose kubernetes-csi/docs can be updated now ^^

@marpaia re:release notes, see above post and https://github.com/kubernetes/kubernetes/pull/69868 just to be sure

[2018-11-12 12:06] #69379 closed

[2018-11-12 12:10] tom932 opened #70949 "Loadbalancer targetPort not forwarding to daemonset hostPort if port not same as hostPort"
**What happened**:

A loadbalancer with 2 open ports should  point to an ingress controller as daemonset, running in a gcp-kubernetes-cluster. The forwarding via using a named `targetPort` to the ports of the ingresscontroller only works when `port` matches the `hostPort`, otherwise not. Please see the example below, which I tried to make as easy and short as possible.

**What you expected to happ

[2018-11-12 13:56] irvifa commented on #11505
will this included on the roadmap? currently i'm thinking about using istio, however sometimes istio seems to be `overly sensitive`

[2018-11-12 13:56] jberkus commented on #70655
Unable to verify that the fix worked, because the test is failing for unrelated reasons.

[2018-11-12 14:00] jberkus commented on #69600
I'm removing this from the blocker list, given.

/remove-milestone

[2018-11-12 14:07] jberkus commented on #70557
I think we may have too many issues open about the 5k node flakiness.

Wojekt, please feel free to close this one if the flakes are covered by other open issues

[2018-11-12 14:20] jberkus commented on #70913
This has been passing for two days, I'm going to call it resolved.

/close

[2018-11-12 14:20] #70913 closed

[2018-11-12 14:32] dklesev commented on #64924
@tesharp, well, even with blank I get the same issue. Strange thing is that it works for some time and suddenly breaks...

[2018-11-12 15:09] encodeflush opened #70952 "Failed creating a mirror pod for kube-proxy after enabling pod security policy"
I'm trying to assign Pod Security Policies with RBAC, so I have enabled PSP in admission controller and  created a default (restricted) policy and a privileged policy for kube-system pods.

default-policy:
[code]
privileged-policy:

[code]
### Expected behavior
That all kube-system pods get required privileges.

### Current Behavior

journalctl -u kubelet

`worker00 kubelet-wrapper[11489]: E1112 1

[2018-11-12 15:12] encodeflush commented on #70952
/sig policy

[2018-11-12 15:42] sfitts commented on #27114
This, in a nutshell, is the problem.  You can argue all you want about decomposing startup functions into init containers and having applications that start fast and die faster, but... then there is reality.  The system we are migrating to K8s has containers that can take anywhere from 10s to 5m to start, depending on the state of the system, what startup work is needed at a given time, and the ha

[2018-11-12 15:50] AishSundar commented on #70912
/cc @jbartosik @MaciekPytel

@justinsb @jbartosik considering the tests started timing out from 11/7, I was looking at the changes that went in on 11/7 and I found the following 2 PRs

* CP of HPA test fixes onto 1.12 branch - [PR#0739](https://github.com/kubernetes/kubernetes/pull/70739)
* Overflow issue on renewal - [PR#70768](https://github.com/kubernetes/kubernetes/pull/70768)

I am thinking i

[2018-11-12 16:41] #65142 closed

[2018-11-12 16:49] RobertDiebels commented on #45726
/remove-lifecycle rotten

[2018-11-12 17:35] coffeepac commented on #52444
@crassirostris is no longer much involved with the project.  if you would like to open this back up to alter the implementation, please file a new issue @ju-la-berger.

[2018-11-12 17:41] opme commented on #70732
Let me know if you need any information to reproduce.   We can upgrade to 1.8.15.  I have heard it is working ok in v1.10.3.

[2018-11-12 17:44] yujuhong commented on #55725
@piosz could you confirm whether this is fixed or not? Thanks

[2018-11-12 17:49] ryanmcnamara commented on #70506
Hey @caesarxuchao mind taking a look at this?

[2018-11-12 17:49] desaintmartin commented on #52444
If you do so, please ping me as well.

[2018-11-12 17:50] AishSundar commented on #70912
Also I see all the upgrade tests actually passing on the runs. its timing out post that on some test.. So I am assuming Upgrade itself isnt broken.. @justinsb please confirm if this is right.

[2018-11-12 17:51] Huang-Wei commented on #69533
All issues have been resolved. Closing this.

[2018-11-12 17:51] #69533 closed

[2018-11-12 18:34] roycaihw commented on #70942
Agree that invalid url like this should be handled on client side. Fix for tolerating host url with trailing slash in python client has been merged.

[2018-11-12 18:41] marpaia opened #70955 "1.13 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.13 Release Notes. If you know of issues or API changes that are going out in 1.13, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @marpaia

/sig release
/milestone v1.13

[2018-11-12 18:58] davidz627 commented on #70832
looked into the test flake a bit more, the error message i'm seeing:
[code]
This looks like the same issue described here: https://github.com/kubernetes/kubernetes/issues/65246
that @pohly is looking into

[2018-11-12 19:14] AishSundar commented on #70912
/cc @roberthbailey @zmerlynn

[2018-11-12 19:44] yastij opened #70957 "Changing node-cidr-mask-size confuse range allocator; leads to PodCIDR overlapping"
When having an existing cluster integrating with a cloud-provider and having under-sized nodes, changing max-pods and ultimately the `node-cidr-mask-size` leads the `RangeAllocatorType` to allocate overlapping using the newly constructed `CidrSet`

FYI @lledru @kubernetes/sig-cloud-provider

/assign
/kind bug
/sig network
/sig cloud-provider

[2018-11-12 19:44] #65149 closed

[2018-11-12 19:49] mikedanese opened #70958 "Clients using kubeconfigs that load certificates from disk should reload credentials on rotation"
This will happen more and more now and we need to not break clients that use the node credential.

/kind bug
/sig auth

@kubernetes/sig-auth-bugs

[2018-11-12 20:08] AishSundar commented on #70871
@WanLinghao as @bsalamat mentioned [your commit](https://github.com/kubernetes/kubernetes/commit/efac533f9269ca1687d084a7360f87f7b4ace1fc) seems to be the last thing that touched the test and it started failing post that (NOv 7th).  For starters can we try reverting your PR and see if that helps?

[2018-11-12 20:10] saad-ali commented on #70911
CC @gnufied

[2018-11-12 20:16] saad-ali commented on #70911
Proposed logic:
[code]

[2018-11-12 20:18] mgoodness commented on #50898
We (Ticketmaster) have a controller that watches PVCs and reconciles EBS tags from a `volume.beta.kubernetes.io/aws-ebs-additional-resource-tags` annotation. We'd love to get it into the AWS cloud-provider if there's interest.

[2018-11-12 20:46] mikedanese opened #70961 "Unify validation of TokenRequest related flags to the API server"
They are a mess...

/kind bug
/sig auth

[2018-11-12 21:04] davidovich commented on #61946
/remove-lifecycle stale

[2018-11-12 21:06] lavalamp commented on #70911
Please tolerate failures and make actionable events (or other status notifications) rather than impose requirements on the startup process. This makes the system much more reliable and failure tolerant, and teaches users how the system works while letting them fix their own problems.

[2018-11-12 21:10] gnufied commented on #70911
May be we should resort to warning users with an event on node object in 1.13 before making node NotReady in 1.14.  We document the add-on/requirement in release notes, so as cluster installation tools have a chance to catch up before it becomes mandatory.

[2018-11-12 21:21] fedebongio commented on #70591
/assign @logicalhan

[2018-11-12 21:37] hulu1522 opened #70962 "Annotations broken with 'kubectl apply -f'"
**What happened**:
We applied an ingress with annotations that had integers as values but no annotations were applied in Kubernetes and no failure was thrown.

**What you expected to happen**:
We would expect an error to be thrown similar to this one:
`error: services "your-service" could not be patched: cannot convert int64 to string`

**How to reproduce it (as minimally and precisely as possible

[2018-11-12 21:39] hulu1522 commented on #70962
/sig cli

[2018-11-12 21:39] hulu1522 commented on #70962
/kind bug

[2018-11-12 21:40] hulu1522 commented on #70962
possible relation to #59113

[2018-11-12 21:40] BenTheElder commented on #47862
/lifecycle frozen
this will not rot now, and I think this is clearly a long-term issue that needs to be taken up eventually.

regarding unrot via reaction: please file a bug with [kubernetes/test-infra](https://github.com/kubernetes/test-infra) to discuss, IIRC it's due to the github API not considering reactions as a last-updated time.

[2018-11-12 21:46] #46172 closed

[2018-11-12 21:46] #49881 closed

[2018-11-12 22:01] hulu1522 commented on #59113
👍 +1

There needs to be a way for `kubectl apply` to return an error and not apply the descriptors without any annotations.  I just spent a week diagnosing an issue only to find out it was because my annotations all go removed from a simple `int64` error.  It could have been prevented if it erred out like normal.  :)

[2018-11-12 22:35] fharding1 commented on #68578
It looks like there still hasn't been any progress on this yet. @Pothulapati are you taking this on? If not, I'd be happy to.

[2018-11-12 22:40] davidz627 commented on #70911
Discussed with @mbohlool @saad-ali @gnufied online (feel free to correct + add info if i'm misrepresenting here):

1.13:
    -CSINodeInfo CRD goes Beta, any features depending on CSINodeInfo have soft failure or default to "old" behavior if the CRD is not installed.

1.14
    -CSINodeInfo CRD goes GA, Kubelet is NotReady if CRD is not installed - there will have to be documentation for cluster up

[2018-11-12 22:55] saad-ali commented on #70911
For context:

We definitely want to handle the non-existance of CRDs as gracefully as possible. But at v1.15, we want to enable migration of in-tree volume plugins to CSI, and at some point afterwards the in-tree plugin code will be deprecated (deleted). Migration will depend on these CRDs. We don't want to surprises users who do not install the CRD suddenly with the deletion of the in-tree plugin

[2018-11-12 23:43] lavalamp commented on #70911
Don't forget that nodes may lag the control plane by 2 releases. Are the versions you give control plane or node versions?

[2018-11-12 23:45] davidz627 commented on #70911
node versions.
Requiring CRDs to be installed in 1.14 allows master components to start depending on the CRD existence at 1.16 IIUC.

[2018-11-13 00:06] xuhz commented on #70350
Anyone is looking at the bug?
I built a prototype and verified it worked. The prototype is just a POC and not targeted for integration since the changes are in v1betal/api.pb.go (but this file seems produced automatically by a tool)

diffs:

diff --git a/vendor/google.golang.org/grpc/clientconn.go b/vendor/google.golang.org/grpc/clientconn.go
index f542d8bd..8e5070a2 100644
--- a/vendor/google.gol

[2018-11-13 00:34] bsalamat commented on #48041
/remove-lifecycle stale

[2018-11-13 00:36] bsalamat commented on #48041
Just to let others know, we currently have PodTolerationRestrictions and we are also working on designing Pod Scheduling Policies to address the problem of adding tolerations or other specifications that affect scheduling of a pod or other pods in the cluster.

[2018-11-13 00:37] AishSundar commented on #70912
Post [PR#10134](https://github.com/kubernetes/test-infra/pull/10134) splitting the [gce-new-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master) into [parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel) and [non-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade

[2018-11-13 00:40] AishSundar commented on #70871
This test seems to be passing in the latest runs based on a new test-infra commit. Lets watch for a couple more runs before closing this issue out.

[2018-11-13 01:10] #66674 closed

[2018-11-13 03:05] AishSundar opened #70972 "[Failing Test] [sig-cluster-lifecycle] Upgrade and Downgrade jobs are failing"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster-parallel

**Which test(s) are failing**:
3 tests related to cluster downgrade are failing - https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/4889

Error:
[code]

**Since when has it been failing**:
Have been seei

[2018-11-13 03:10] AishSundar commented on #70972
I see this is now failing https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel

[2018-11-13 03:28] jberkus commented on #70832
@davidz627 should I close this in favor of the other issue, then?

[2018-11-13 04:00] MicroIdea commented on #56038
@zerda thanks for your tips.
I'm curious about who maintains this registry: registry.aliyuncs.com/google_containers, is it official by Aliyun?

[2018-11-13 04:35] AishSundar commented on #70871
this passed for 4 runs now.  @mariantalla plz close this as you see fit. Thanks

[2018-11-13 04:42] xiaoxi1989 commented on #44894
@sicklife  sorry，it just current-context configuration error.
This is just a test cluster. It has been uninstalled.

sorry...

[2018-11-13 05:09] AishSundar commented on #70972
Both the upgrade and downgrade jobs passed in the latest runs
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master-parallel
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-new-downgrade-cluster-parallel

So probably it was a blip with handshake errors. But as pointed out in the comment above, these are happening very frequently post 1

[2018-11-13 05:36] MicroIdea commented on #56038
Found this: https://github.com/AliyunContainerService/sync-repo, so I think it's maintained by Aliyun container service.

[2018-11-13 05:42] ticpu commented on #37450
Thanks for clarifying.  After some tests I was able to confirm that behaviour.

The part of the documentation that mislead me was;

since it ends by "during startup". But this is only one common example.

[2018-11-13 05:48] fharding1 commented on #68578
You could probably just do it in the `init()` of all the packages that use `jsonpatch`.

[code]

[2018-11-13 05:48] mdianjun commented on #63390
/remove-label bug

[2018-11-13 06:34] gitplyx opened #70976 "Calico 无法正常启动"
Readiness probe failed: Get http://172.16.5.118:9099/readiness: dial tcp 172.16.5.118:9099: connect: connection refused

使用caclio 官网的配置文件 version 3.1.3
netstat -lntp | grep 9099
9099 端口并没有监听起来

[2018-11-13 06:37] khteh opened #70977 "DNS entries not exposed for StatefulSet and headless service in Kubernetes 1.12.2"
**What happened**:
I followed https://kubernetes.io/docs/tutorials/stateful-application/basic-stateful-set/ However, dns lookup doesn't work at all.
**What you expected to happen**:
nslookup of web-0.nginx-service should resolve the IP
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2018-11-13 07:14] atulabhi commented on #44273
I encounter this issue n1-standard-4 on GKE 1.8.7-gke.1, too. It happened on one of nodes.
PS. the cluster has run for  185d+ days. it didn't happen till yesterday.

[2018-11-13 07:35] tomkerkhove opened #70979 "Downward API does not provide value for spec.nodeName"
**What happened**: Downward API does not provide value for `spec.nodeName` & `metadata.labels['<label>']` for a Deployment.

**What you expected to happen**: Values to be passed as environment values

**How to reproduce it (as minimally and precisely as possible)**:
- Deploy the following manifest

<details>
<summary>Manifest</summary>

[code]
</details>

<br />

**Anything else we need to know?**

[2018-11-13 07:42] tomkerkhove commented on #70979
/sig docs
/sig scheduling

[2018-11-13 07:59] waldauf commented on #68818
@fabiand I checked docker images and everything was prefetched (at least I think).

@kaizhaokover unfortunately no. I had to reset K8s cluster and create new one. After new initialization was flannel alright.

[2018-11-13 08:04] jberkus commented on #65246
@saad-ali

The RT considers this a blocker now, because flakes are happening often enough to interfere with getting clear signal on several jobs.  Even if the underlying problem isn't that serious.

[2018-11-13 08:09] mikedanese commented on #70972
Policy bootstrapping is taking way too long. I think the TLS failures really early in vm networking programming might be a red herring. We had a few additions to the policy since 11/7 which might have put us over the edge:

https://github.com/kubernetes/kubernetes/commits/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy

I can speed it up tomorrow.

[2018-11-13 08:29] onitake commented on #21613
@nelsonfassis Does it stick if you put it into /etc/sysctl.conf ?

[2018-11-13 08:41] khteh opened #70984 "kubernetes 1.12.2 failed to load Kubelet config file /var/lib/kubelet/config.yaml"
**What happened**:
missing /var/lib/kubelet/config.yaml
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.12.2
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release): Ubuntu 18.10
- Kernel (e.g. `uname -a`):
- Install tools:

[2018-11-13 09:17] #66154 closed

[2018-11-13 09:29] DariusG4 opened #70986 "Does k8s service increase cookie-based load balancing?"

[2018-11-13 09:30] coveritytest commented on #61474
Still a problem on Fedora 29 (Server Edition), Kubelet won't start on node with this error:

`Nov 13 10:29:35 fed-node1 kubelet[4597]: I1113 10:29:35.241311    4597 volume_manager.go:247] Starting Kubelet Volume Manager
Nov 13 10:29:35 fed-node1 kubelet[4597]: I1113 10:29:35.243027    4597 server.go:945] Started kubelet
Nov 13 10:29:35 fed-node1 kubelet[4597]: I1113 10:29:35.243167    4597 desired

[2018-11-13 09:35] nikopen commented on #64952
/remove-lifecycle stale

/milestone v1.14

adding it to next milestone as per https://github.com/kubernetes/enhancements/issues/626#issuecomment-438042176

if it doesn't make it then it can be further moved

[2018-11-13 09:37] #70986 closed

[2018-11-13 09:41] MrD2 opened #70988 "Better error message when noderestriction admission controller blocks a request"
**What would you like to be added**:
The error message should be more specific on the error when making a call to API  to update Node object from self.

The current error: "cannot update configSource to a new non-nil configSource" is not specific that the node is not allowed to do this operation for security reasons but instead it seems that data is missing from the request

**Why is this needed**

[2018-11-13 09:49] mgdevstack opened #70990 "Inconsistent termination message output"
**Which jobs are failing**:
https://gubernator.k8s.io/build/kubernetes-jenkins/pr-logs/pull/70492/pull-kubernetes-node-e2e/110020/

**Which test(s) are failing**:
[k8s.io] Container Runtime blackbox test on terminated container should report termination message from log output if TerminationMessagePolicy FallbackToLogsOnError is set [NodeConformance]

**Since when has it been failing**:
Failing un

[2018-11-13 09:49] mgdevstack commented on #70990
/sig testing
/area conformance

[2018-11-13 09:54] MrD2 commented on #70988
/sig auth
/sig node

[2018-11-13 10:00] fabiand commented on #68818
Sorry for the noise. For me it was an overlap in IP ranges between my undercloud and Kube overlay.
This caused connection issues (aka DNS resolution failed) and this caused this bug for me. Thus for me it was myself who did it.

[2018-11-13 10:47] hoegaarden commented on #70890
/assign

[2018-11-13 10:55] gree-gorey commented on #69015
btw, because of this verbosity `kubelet` in my cluster writes 5G logs every day and filled up my rootfs (which is small). Is there any way to decrease this verbosity?

[2018-11-13 11:10] adelton commented on #61474
Interesting, on my Fedora 29 with `systemd-239-6.git9f3aed1.fc29.x86_64`

[code]

works fine, as it did on Fedora 28. In `/tmp/kubelet.log`, I see

[code]

On the other hand, Kubernetes installed from `kubernetes-node-1.10.3-1.fc29.x86_64` fails for me with
[code]

and I've got
[code]

@coveritytest, is your situation with `local-up-cluster.sh` from master or with packaged Kubernetes?

[2018-11-13 11:14] coveritytest commented on #61474
It's the packaged Kubernetes, I was following [this guide](https://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/).

[2018-11-13 12:08] JCMais commented on #34401
It's still important and not documented anywhere else. Changing the default one does not work, because gke seems to reset it after some time.

What I recommend is to explicitly set the limit on the pod/deployment spec to `0` or to another, more correct, value (recommended).

`100m` was too big for one of our dev clusters, so I've updated our CI to set it to `40m` for every dev pod.

[2018-11-13 12:12] yastij commented on #70957
/priority important-soon

[2018-11-13 12:34] djsd123 commented on #62594
@njgibbon, Your suggestion to modify the `initialDelaySeconds`, `periodSeconds` and `timeoutSeconds` to bigger values (30,30,10) respectfully worked for me.  Our problem pod contains an authenticationProxy and a Jupyter-Lab deployment. After applying liveness probes we saw intermittent `connection refused` errors.  Ideally, we'd like to play with these values to see what can be reduced but In any

[2018-11-13 12:58] ltupin commented on #70257
@leosunmo I've just rebuild the fluentd container from source here:
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image
So it seems that the container available in the registry is sort of "old" one... No sure about the relation with concat really.

[2018-11-13 13:48] mariantalla commented on #70871
Closing as the job is passing consistently.

/close

[2018-11-13 13:48] #70871 closed

[2018-11-13 13:49] vsxen commented on #70976
用什么安装的？calico 具体日志？怎么重现？

请不要发这些没有任何有用信息的issue    提问前请按照issue模板
尽量翻译为英文https://translate.google.com/

I can not find any useful information, close it first.

/close

[2018-11-13 14:14] xrow commented on #66530
Had the same issue. Don`t know how it happend. redeploy-certificates.yml as not help.

[2018-11-13 14:18] gitplyx commented on #70976
kubectl logs calico-kube-controllers-6f6d7d7c94-mkj4r -n kube-system
2018-11-13 14:05:19.934 [INFO][1] main.go 69: Loaded configuration from environment config=&config.Config{LogLevel:"info", ReconcilerPeriod:"5m", CompactionPeriod:"10m", EnabledControllers:"policy,profile,workloadendpoint,node", WorkloadEndpointWorkers:1, ProfileWorkers:1, PolicyWorkers:1, NodeWorkers:1, Kubeconfig:""} 2018-11-13

[2018-11-13 14:18] #70976 closed

[2018-11-13 14:37] mariantalla commented on #70661
Hey just a heads up that these are failing/flaking again. The diff is [here](https://github.com/kubernetes/kubernetes/compare/468c99ea2...bcef72bf0?); it seems the reason is that the reboot is not completed in time.

@yagonobre  tagging you as a commit you added shows up in the diff so you may have helpful context.

cc @AishSundar @jberkus

[2018-11-13 14:49] vsxen commented on #70976
看起来是 Kubeconfig的问题
the reason may be kubeconfig file？

https://github.com/projectcalico/kube-controllers/blob/release-v3.1/main.go#L79

[2018-11-13 14:52] mikebryant opened #70996 "scheduler fails to schedule pods with antiAffinity"
**What happened**: Pod failing to be scheduled due to antiAffinity. There's 3 pods, 2 currently scheduled. There's a free AZ (prior to doing a deployment rollout 3 pods had been scheduled successfully within the same antiAffinity rules)

On restarting the scheduler, the pod is scheduled correctly.

**What you expected to happen**: The pod to be scheduled

**How to reproduce it (as minimally and pr

[2018-11-13 14:53] mikebryant commented on #70996
@kubernetes/sig-scheduling-bugs

[2018-11-13 15:00] mfranczy commented on #7452
Please ignore my reference, it has nothing to do with that issue, if I could I would remove it.

[2018-11-13 15:02] dczombera commented on #70198
FYI I'm working on this issue. I'm trying to get audit logging activated in minikube so I can manually test impersonation and see the log output (in order to see what the test has to cover). However, trying to get it activated in minikube is more difficult than I thought.  :grimacing:

[2018-11-13 15:13] marucjmar commented on #69101
@prafull01 My app  had memory leak

[2018-11-13 15:20] annProg opened #70997 "IPVS: rs delete failed after scaledown"
**What happened**:
After a HPA scaledown, Failed to delete rs, this is the logs:
[code]

**What you expected to happen**:
delete rs successfully after scaledown

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It seems that only on node the vip is using will failed to delete rs. other node delete rs successfully.

node that vip was not using:

[2018-11-13 15:21] danielezer commented on #68083
@chrissnell This happened to me too. It is because the idle timeout has the wrong type. You need to quote it and it will work as expected.
So instead of:
service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: 10
Use:
service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: "10"

[2018-11-13 15:31] annProg commented on #70747
@m1093782566  yes, I had test these parameters
- `net.ipv4.vs.sloppy_tcp` not found in centos 7.2(kernel 3.10)
- `net.ipv4.vs.expire_nodest_conn`  will not affect the test
- `net.ipv4.vs.conn_reuse_mode=2` is similar with `1`, will be low throughput

According to this issue https://github.com/kubernetes/kubernetes/issues/57841 ,I guess it may be the root cause, so I upgrade my setup from 1.11.1 to

[2018-11-13 15:32] annProg commented on #70997
@kubernetes/sig-network-bugs

[2018-11-13 15:32] annProg commented on #70997
/area ipvs

[2018-11-13 15:32] Hades32 commented on #48819
@csarora same for me... :(

[2018-11-13 15:41] Codesleuth commented on #30961
Useful to try it out with
[code]
Then at least you can visually see the line and the issue (it prints the YAML).

See also: https://docs.helm.sh/chart_template_guide/#debugging-templates

[2018-11-13 15:44] janetkuo commented on #1462
/remove-lifecycle stale

[2018-11-13 15:46] squeed commented on #59368
@JacobTanenbaum has been working on a fix for this, FWIW.

[2018-11-13 15:52] dstockton commented on #68684
Keep in mind that not all AWS accounts have 50 as their limit - ```rules-per-group * groups-per-interface < 250``` is the limit where ```rules-per-group``` and ```groups-per-interface``` can be defined per account.
Either looking these values up via the API or at least making ```maximum-rules-per-group``` a configurable option would be amazing!

[2018-11-13 16:15] annProg commented on #70997
Found only few node did not update rs, may need more test

[2018-11-13 16:44] rlagutinhub commented on #70601
i changed "id-token" into "id_token" in kubeconfig file , but it doesn't work for me

[2018-11-13 17:05] #65044 closed

[2018-11-13 18:16] Huang-Wei commented on #70996
I'm not sure if we still support 1.9. @k82cn @bsalamat can comment.

Considering that there are certain amount of performance improvement on Pod{Anti}Affinity since 1.9, esp. in 1.12, I would recommend to upgrade the whole cluster to 1.12 - if it's an option for you.

[2018-11-13 18:32] msau42 commented on #70760
The hostpath plugin should be deployed as a DaemonSet, so it's strange that it's only getting registered on only one node.

[2018-11-13 19:12] awly opened #71004 "Re-organize certificate and key helper libraries"
The libraries with helper funcs in client-go and kubeadm are very dis-organized and have a lot of overlap. There's also many very specialized funcs that are not reusable.

List of current libraries:
- https://godoc.org/k8s.io/client-go/util/cert
- https://godoc.org/k8s.io/client-go/util/cert/triple
- https://godoc.org/k8s.io/client-go/util/certificate
- https://godoc.org/k8s.io/client-go/util/cert

[2018-11-13 19:12] awly commented on #71004
/sig auth
/assign awly
CC @mikedanese @liggitt

[2018-11-13 19:58] msau42 commented on #65246
/assign
I will help triage as well.

[2018-11-13 20:05] davidz627 commented on #70760
/assign

[2018-11-13 20:08] AishSundar commented on #70972
While @mikedanese is trying fixes, we confirmed offline that this is a test setup issue vs an actual problem that could manifest in user clusters.

[2018-11-13 20:12] adelton commented on #61474
For Kubernetes installed from Fedora packages, I've filed https://bugzilla.redhat.com/show_bug.cgi?id=1649330.

[2018-11-13 20:14] liggitt commented on #70180
TestVolumeProvision is still flaking badly. @lichuqiang, any additional insight?

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestVolumeProvision

[2018-11-13 21:05] davidz627 commented on #70760
@msau42 could you link the PR for skipping [external-gcepd] tests into this issue when you do that as well

[2018-11-13 21:11] davidz627 commented on #70832
yes, lets keep the context in one issue. I believe this is the same

[2018-11-13 21:34] saad-ali commented on #65246
Ack @jberkus. Thanks @msau42

[2018-11-13 21:36] dims commented on #35557
heketi license issue has been taken care of

/close

[2018-11-13 21:36] #35557 closed

[2018-11-13 21:38] dims commented on #68478
@sigma now that we have `https://github.com/sigma/go-inotify` do we still need this issue open?

[2018-11-13 21:42] sigma commented on #68478
@dims we still use golang.org/x/exp/inotify in kubernetes. Let me open a PR to fix that, after which we should be good on that front

[2018-11-13 21:45] silentbang commented on #30961
For me, it's because of an unset environment variable which caused empty string for docker image tag. When validating yml against an online tool, it complained about no value after the colon.

[2018-11-13 21:45] #70788 closed

[2018-11-13 22:03] jbartosik commented on #70912
I took a look and tests are going overtime. Before they took about 13h to run, now they timeout after 15h. This may be caused by fixing HPA tests. Those tests have 3 phases: scale 1, stabilization wait, scale 2. Before they flaked during stabilization phase. If they pass it now they will take longer (remaining stabilization + time for the second scale).

[2018-11-13 22:08] saad-ali commented on #69015
We can do both. Don't search mounted dirs, and max depth of search. Who is working on this?

[2018-11-13 22:08] saad-ali commented on #69015
@gree-gorey That's pretty bad, can you open another issue to track that.

[2018-11-13 22:30] msau42 commented on #70760
skipping gcePD-external is here: https://github.com/kubernetes/test-infra/pull/10142

[2018-11-13 22:42] wongma7 commented on #69539
How should we determine if the CRD is installed or not? Discovery client? Try to create a CR (doesn't seem foolproof, depends on auth things)? I was wrong about CSIDriverRegistry, the check at https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_plugin.go#L177 is not sufficient. There needs to be a way to check if the CRD is installed or not for both features.

[2018-11-13 22:45] wongma7 commented on #69539
I will try plumbing a discovery client through volume host (ew :))

[2018-11-13 22:53] walterdolce commented on #66380
I'm not sure I'm on the same boat here. But since I upgraded a cluster to `1.11.2-gke.15` in `europe-west1-b` (because for some reason Google tells me there's not enough resources to create a new cluster in `europe-west2-a`...), when I launch `kubectl` to create my service of type `LoadBalancer` with `loadBalancerIP` pointing to an External IP nothing happens in GCP.

I get a service pointing to n

[2018-11-13 22:53] AishSundar commented on #70832
/close

We are tracking progress of this in #65246

[2018-11-13 22:53] #70832 closed

[2018-11-13 22:56] AishSundar commented on #70708
@wojtek-t are we ok to close this issue for 1.13? We had newer runs of scale-correctness, scale-performance and scalability-100 in the past few days. From looking at the overall timing, there seems to be no regression. But can you look at the perf dashboards and advise accordingly?

[2018-11-13 23:05] msau42 commented on #69539
@wongma7 I discussed with @saad-ali and we agree that CSI plugin registration can fail if the CRD is not installed.  What we want to make sure is that kubelet still works (minus CSI drivers) if the CRD is not installed.

[2018-11-13 23:32] ehmm opened #71012 "DiskUsage measurement doesn't ignore sub-mounts"
I'm using K8S 1.10 and have a specific use case where I'm trying to use an emptyDir to share mounts between two containers in a pod.
I'm using the MountPropagation feature successfully, but while debugging another issue I noticed that the node was running a very long running du command.
Looking into the source I noted:
https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f1d

[2018-11-13 23:33] PatrickLang commented on #70879
/assign @bclau
cc @adelina-t

[2018-11-13 23:37] ehmm commented on #71012
@kubernetes/sig-storage-bugs

[2018-11-13 23:53] BenTheElder commented on #66388
Yeah, I think we'd want to run presubmits in the driver's repos, not k/k presubmits. It is of course to the driver maintainers on their own presubmits on their own repos, but k/k should minimize external dependencies in presubmit... which is something we need to improve. It sounds like run time is also a concern.

We can also add CI (not PR) testing that uses various drivers to help drive kubernet

[2018-11-13 23:56] neolit123 commented on #71004
cc @luxas

[2018-11-13 23:58] neolit123 commented on #70984
please try our support channels like stackoverflow instead:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

also please provide detailed instructions on how you create the cluster.
thanks.

/close

[2018-11-13 23:58] #70984 closed

[2018-11-13 23:59] neolit123 commented on #70952
/sig network
/sig auth
/kind bug

[2018-11-14 00:01] neolit123 commented on #70977
/sig network
/triage support

[2018-11-14 00:04] RenaudWasTaken commented on #69015
@saad-ali we have a PR in flight discussing this issue (recursive scanning) here: https://github.com/kubernetes/kubernetes/pull/70494

I can fix that logs bug too

[2018-11-14 00:04] liggitt commented on #70988
/assign

[2018-11-14 00:05] liggitt commented on #70979
Do you have the running pod that is produced from this deployment's replicaset as retrieved from the API?

[2018-11-14 00:07] bsalamat opened #71013 "Remove equivalence cache from the scheduler code base"
**What would you like to be added**:
Remove equivalence cache from the scheduler code base.

**Why is this needed**:
The equivalence cache (eCache) was added to the scheduler as a mechanism to improve performance of running predicate functions. The equivalence cache stores the results of predicates for pods and as long as conditions of a node are not changed, it uses the cached results for pods wh

[2018-11-14 00:09] bsalamat commented on #71013
@resouer do you have cycles to work on this issue?

[2018-11-14 00:12] Huang-Wei commented on #71013
I suppose cleaning up current eCache codebase is a prerequisite of @resouer's new eCache implementation.

(but if I misunderstand, I have buffers to work on the cleanup)

[2018-11-14 00:13] roycaihw commented on #62931
/remove-lifecycle stale

Sent a PR to fix: https://github.com/kubernetes/kubernetes/pull/71014

[2018-11-14 00:19] AishSundar commented on #70912
The latest runs are now passing. I see thw HPA tests pass too

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

@jberkus @justinsb

[2018-11-14 00:34] iobond commented on #21546
still have the same issue... any resolution?

[2018-11-14 00:39] msau42 commented on #69539
Sorry we discussed again.  There's the challenge that all the tests will fail once we move to beta because the CRD is not installed in all the deployers yet.  So we may need to fallback to old behavior if the CRD doesn't exist, and only fail if a plugin needs to use a feature that requires the CRDs, like topology, pod information, skip attach etc.  We will also have to keep all the tests feature g

[2018-11-14 00:39] sjgiri commented on #54492
Hi,
I'm seeing the same issue with version 1.11.3 and keepalived 0.11.

10.172.142.171 - virtual IP
10.172.142.38 - node IP

Nov 13 19:21:13 govmomi-worker-1-giri kubelet[3190]: E1113 19:21:13.759645    3190 kubelet_node_status.go:391] Error updating node status, will retry: failed to patch status "{\"status\":{\"$setElementOrder/addresses\":[{\"type\":\"ExternalIP\"},{\"type\":\"InternalIP\"},{\"

[2018-11-14 00:48] AishSundar commented on #70655
I see these 2 pass in the latest run of https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master (after we split out the parallel and non-parallel runs).

Over to @jberkus to close when he sees fit

[2018-11-14 00:51] kfox1111 commented on #69539
Should the apiserver create crd's for system things if they don't exist rather then have every deployment tool do it? Doesn't it do something like this for other objects?

[2018-11-14 00:52] AishSundar commented on #69444
I see these 2 pass in the latest run of https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial
Over to @jberkus to close when he sees fit

[2018-11-14 00:56] msau42 commented on #69539
The addon manager is the one responsible for creating the CRDs.  However, we need to update all the deployment tools to enable the CSI CRD addon when the CSI CRD feature gates are set.

[2018-11-14 01:03] dims opened #71016 "Update golang.org/x/net/http2 vendored files"
It is too late to do this in 1.13, so when 1.14 opens up, we should update `golang.org/x/net/http2`

Please see https://github.com/kubernetes/kubernetes/pull/70971

[2018-11-14 01:04] dims commented on #71016
/sig api-machinery

[2018-11-14 01:07] PatrickLang commented on #69996
This is working fine with Docker EE 18.09.0
For older versions set DOCKER_API_VERSION

[2018-11-14 01:07] #69996 closed

[2018-11-14 01:46] AishSundar commented on #70319
@gnufied @saad-ali @msau42
Is there any progress on this issue? Its a critical-urgent one. Thanks

[2018-11-14 01:50] jasongerard commented on #3595
@tobymiller1 If you want to be able to run the image as a non root user in kubernetes, you can use `setcap` directly on the executable. ```RUN setcap cap_ipc_lock=+ep ./your_exe && setcap cap_sys_resource=+ep ./your_exe```

You will need the `libcap` package installed in alpine to get that command. Add that line before you switch down to your limited user.

In LInux, capabilities are lost when the

[2018-11-14 02:30] roycaihw opened #71017 "Port-forward failureMode can be overridden based on input addresses' order"
https://github.com/kubernetes/kubernetes/pull/46517 enables kubectl listening on a list of user-specified addresses. The feature also defines failure modes on address binding:

- For localhost addresses (ipv4 and ipv6), silently fail if one of the two addresses fails
- For other input addresses, fail the command if any of the addresses fails

**What happened**:

It turns out that the failureMode c

[2018-11-14 02:31] PatrickLang commented on #70882
Test cases affected:

[code]

[2018-11-14 02:43] knife-yc commented on #16863
hello,i use the same param form,but i got an error,
my config is ：
env:
- name: "INSTANCE_MEMORY_MB"
  value: "512"
the error is ：invalid type for io.k8s.api.core.v1.EnvVar: got "string", expected "map"
i'd like to  know that weather you meet the same error and how do you solve it

[2018-11-14 03:45] #67863 closed

[2018-11-14 03:45] #64590 closed

[2018-11-14 03:54] yifan-gu opened #71018 "kubelet can't mount the volume with `--cloud-provider=external` which is required by CCM"
**What happened**:
- Running CCM with `--cloud-provider=aws`.
- According to the [doc](https://kubernetes.io/docs/tasks/administer-cluster/running-cloud-controller/), the kubelet needs to run with `--cloud-provider=external`.

However then kubelet failed to mount the EBS volumes:
[code]

**What you expected to happen**:
kubelet should still be able to mount volumes.

**How to reproduce it (as mini

[2018-11-14 03:56] yifan-gu commented on #71018
Kinda related to #70921 , but in my case the `--cloud-provider` flag needs to be set to `external` according to the doc.

[2018-11-14 03:58] iggy opened #71019 "'kubeadm init --dry-run --feature-gates=DynamicKubeletConfig=true' doesn't work together"
**What happened**:

`--dry-run` and  `--feature-gates=DynamicKubeletConfig=true` don't work together

[code]

**What you expected to happen**:

I know this is a very new and not well-tested feature, but just reporting in case it's a corner case nobody has tested yet.

**How to reproduce it (as minimally and precisely as possible)**:

See above

**Anything else we need to know?**:

**Environment**:

[2018-11-14 04:02] ginigangadharan commented on #65581
Facing same, any update ?

oc version
oc v3.6.173.0.129
kubernetes v1.6.1+5115d708d7
features: Basic-Auth GSSAPI Kerberos SPNEGO

Server https://lbint-example.com:443
openshift v3.6.173.0.129
kubernetes v1.6.1+5115d708d7

[2018-11-14 04:05] liggitt commented on #69376
/reopen

the root issue is not fixed, and I hate to lose @ncdc's investigative comments

[2018-11-14 04:08] liggitt commented on #69376
took a guess at the priority

[2018-11-14 06:06] bsalamat commented on #71013
@Huang-Wei if you have the bandwidth, I will happily assign it to you, but let's wait a bit for Harry to respond as well.

[2018-11-14 06:45] jberkus commented on #70972
Should we remove this from blocking then?

[2018-11-14 06:48] jberkus commented on #70912
I'll close this as soon as we address porting the fix to the 1.13-uprade tests.

[2018-11-14 06:51] jberkus commented on #70655
/close

Thanks @jbartosik for the long slog!

[2018-11-14 06:51] #70655 closed

[2018-11-14 06:56] jberkus commented on #70305
Is this still broken?  Trying to figure out if it should be a blocker still, or not.  I'm not seeing these test failures.

[2018-11-14 06:57] jberkus commented on #70445
I'd rather close it and open an new issue for deflaking, since this is not a blocking issue anymore.

/close

[2018-11-14 06:57] #70445 closed

[2018-11-14 07:00] jberkus opened #71023 "Deflake GKE Upgrade/Downgrade tests"
Per #70445, the GKE upgrade/downgrade tests have been chronically flaky, and prone to blanket failures for internal-to-GKE-reasons.

Per @aleksandra-malinowska, this is a long-term cleanup issue to make these tests less flaky.

/kind flake
/sig gcp
/assign @aleksandra-malinowska
/priority important-longterm

[2018-11-14 07:19] andig opened #71024 "kubectl patch servicemonitor fails with UnsupportedMediaType"
**What happened**:

Trying to patch a `servicemonitor` after deploying `prometheus-operator`, I'm unable to patch the monitor:

    Error from server (UnsupportedMediaType): the body of the request was in an unknown format - accepted media types include: application/json-patch+json, application/merge-patch+json

**What you expected to happen**:

Monitor patched via `kubectl` similar to how deploym

[2018-11-14 07:28] thockin commented on #27114
I am trying to wrap my head around the actual impact of the current situation.  I am not convinced that the "my pod crashed in the first 5 minutes and didn't restart" gap has significant enough impact to warrant a new, specialized probe which mutates the pod lifecycle, especially when postStart hooks exist.  If postStart can timeout, it is effectively the same thing, I think?

Our ever-expanding A

[2018-11-14 07:37] zjj2wry commented on #70732
I saw the code of 1.8 and didn't see any difference in processing imagePullSecret

[2018-11-14 07:51] zjj2wry commented on #70674
read the code https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/strategy.go, seems crd does not have a GuaranteedUpdate mechanism

[2018-11-14 07:57] omerlh commented on #60469
I'm experiencing a similar issue, having a cluster running on Azure using ACS engine. After creating the cluster, I restore a back using [Ark](https://github.com/heptio/ark), which deploy all our production workload into the new cluster. Cluster autoscale scale the cluster from 2 to 5 nodes to handle the load. After the new nodes provisioned, all pods scheduled - but we have 5 pods that are failin

[2018-11-14 07:58] jberkus commented on #70760
Since gce-cos-alphafeatures is now passing, do we need to keep this issue open?  Should it morph into a non-blocking issue for longterm work on a better test?

[2018-11-14 08:08] andig commented on #71024
/sig api-machinery

[2018-11-14 08:36] iammrchetan commented on #40969
Hi Guys,
I'm new to docker/k8s; facing the same error; kubelet is not running by "systemctl status kubelet". Could you please share how did you fix this issue?

Installed k8s following this --> https://www.howtoforge.com/tutorial/centos-kubernetes-docker-cluster/

[root@kekecentest04 system]# rpm -aq | grep -i kube
kubelet-1.12.2-0.x86_64
kubeadm-1.12.2-0.x86_64
kubernetes-cni-0.6.0-0.x86_64
kubec

[2018-11-14 09:00] redbaron commented on #65816
/remove-lifecycle stale

[2018-11-14 09:01] redbaron commented on #65816
/remove-lifecycle rotten

[2018-11-14 09:08] wojtek-t opened #71028 "Suspicious breakdown in pod startup time in scalability tests"
I've already observed a number cases in scalability tests, where for pod startup-time, the breakdown looks suspicious.
As an example, in this run:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/255/build-log.txt

from looking into 10% worst times, we see that:
[code]

The time for "schedule-to-watch" and "e2e latencies" for different pods are exactly

[2018-11-14 09:29] #70030 closed

[2018-11-14 09:57] gree-gorey opened #71031 "Excessive log generation by kubelet v1.12.2"
**What happened**:
Because of the bug #69015 `kubelet` writes too many logs to syslog, producing ~5G of them per day which is filling up the rootfs very fast (and makes the whole cluster unhealthy; e.g. I have 10G of rootfs).

**What you expected to happen**:
`kubelet` produces reasonable amount of logs by default, or at least having a way to decrease this verbosity.

**How to reproduce it (as min

[2018-11-14 09:59] gree-gorey commented on #71031
/sig node

[2018-11-14 10:18] princerachit opened #71032 "kubectl --namespace flag should support multiple values"
the `--namespace` flag only supports one value.
[code]
where `<oneval>` is the namespace name.
It should be possible to pass multiple comma separated values in this argument, something like:
[code]

[2018-11-14 10:21] princerachit commented on #71032
/sig area/kubectl

[2018-11-14 10:34] nikhita commented on #58414
@cben Thanks for pointing it out. Created https://github.com/kubernetes/website/pull/10994 to say "No".

[2018-11-14 10:53] nikhita commented on #58603
/remove-lifecycle stale

[2018-11-14 10:54] adelina-t commented on #70879
cc @bclau

[2018-11-14 10:56] nikhita commented on #62872
/remove-lifecycle stale

Will need to investigate if/how we want to do this.

[2018-11-14 10:59] adelina-t commented on #70882
Some of these test cases would not work on windows: for example:

( Projected ) configMap / Secret should be consumable from pods in volume with mappings ( and Item Mode)
( Projected ) configMap / Secret should be consumable from pods in volume with defaultMode set
[sig-storage] Projected downwardAPI should set DefaultMode on files [NodeConformance] [Conformance]
[sig-storage] Projected downwardAP

[2018-11-14 10:59] nikhita commented on #65551
Closing this issue because we probably won't get to this anytime soon. If this is ever decided to get done, let's reopen/open a new issue with the approach in mind.

/close

[2018-11-14 10:59] #65551 closed

[2018-11-14 11:02] nikhita commented on #65517
/remove-lifecycle stale

[2018-11-14 11:13] nikhita commented on #68466
/assign

will fix it upstream and report back here after that's done

[2018-11-14 11:30] iammrchetan opened #71034 "Clean new install on CentOS7x kubelet fails to start with error: kubelet: error: failed to run Kubelet: invalid kubeconfig"
@kubernetes/sig-contributor-experience-bugs

**What happened**: kubelet is not running; so can't run kubeadm init. Pulling config image fail.
[root@kekecentest04 run]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─

[2018-11-14 11:41] adelina-t commented on #70879
@yujuhong The images in the e2eteam repository are built from the docker files that @PatrickLang indicated. We're checking to see if there is any change we pushed a broken image by mistake on one of the builds.

[2018-11-14 12:08] lanoxx commented on #61170
I have the same issue on my cluster.

I have two adapters `vEthernet (nat)` (first) and `Ethernet 3` (second). Kubelet picks the first adapter and thus uses the wrong IP.

[2018-11-14 12:50] croomes commented on #65969
This definitely looks like a mount propagation issue.  Please ping me directly if still an issue (sorry I missed this before)

[2018-11-14 13:06] ajit-hybris commented on #59200
I have the same issue with k8s 1.12.1

[2018-11-14 13:13] bclau commented on #70879
Hi. Can you specify which test does this? Because There's also no /run.sh included, so there might also be some other issues than the image itself.

The e2eteam/redis:1.0 [1] image is based on the kubernetes one [2], but with a Windows approach. As you can see in [2], there's no run.sh added.

[1] https://github.com/e2e-win/k8s_images/tree/master/redis
[2] https://github.com/kubernetes/kubernetes/

[2018-11-14 13:42] StevenACoffman commented on #70539
I will just make up whatever seems to work. There's no documentation more than what I found.

[2018-11-14 13:42] #70539 closed

[2018-11-14 13:55] bclau commented on #70882
Hello.

Hm, 705 permissions? That is a bit strange when "others" have more permissions than the user's group. As far as I know, the typical Windows permissions are 775:

    kubectl exec -n ns1 win-busybox -- stat.exe -c "%a" busybox.exe
    775

Can you also try this command in a Windows busybox container?

And as far as permissions checking goes, it seems that there's a commit missing [1]. Will

[2018-11-14 14:32] AishSundar commented on #70972
I think so since it’s not failing anymore and since Mike confirmed it’s a
test setup issue. I will follow up with him offline the test fix ups he was
trying to make job better.

On Tue, Nov 13, 2018 at 10:46 PM Josh Berkus <notifications@github.com>
wrote:

--
*Aishwarya Sundar*

[2018-11-14 14:54] rifaterdemsahin commented on #60869
is this normal ?
![image](https://user-images.githubusercontent.com/5270036/48490383-32df7100-e81d-11e8-8bee-8151cd4da198.png)

[2018-11-14 15:07] AishSundar commented on #70912
Yes we will need to apply the same resolution to  1.13 jobs as noted https://github.com/kubernetes/test-infra/pull/10134#issuecomment-438087120

[2018-11-14 15:19] sfitts commented on #27114
You've clearly made up your mind, so I doubt I can convince you (figured I lend one more voice to try though).  It is import to us, but ultimately that's not what matters here.  IME purity of API is a subjective argument that is hard to win against.

BTW -- what postStart hook would I write?  If it involves adding API surface to a system I don't have access to, how is that going to work?  Not bein

[2018-11-14 15:21] msau42 commented on #70760
We have root caused 2 of the 3 failures, which were problems in the test and test conifg. Fixes will be out soon. Still triaging the 3rd failure, which could be a real bug in alpha clusters

[2018-11-14 15:33] abergmeier commented on #48912
We are struggling to get `noexec` removed from our `emptyDir` mounts. Is there any progress with this!?

[2018-11-14 15:37] tomkerkhove commented on #70979
So it's just going to be PEBKAC then I think but I was not seeing a value in the portal:
![image](https://user-images.githubusercontent.com/4345663/48493113-8c4e9c80-e82b-11e8-84d5-459960939dd3.png)

Nor via describe where it only had the pointer.

Will close for now and re-open if there is a need. Thank you!

[2018-11-14 15:37] #70979 closed

[2018-11-14 15:40] liggitt commented on #70979
yeah, values are resolved at runtime, not reflected in the pod yaml

[2018-11-14 15:43] yue9944882 commented on #70806
from the stack trace, sadly we can't find out which exact line trigger that nil pointer panic. the behavior of apiserver could be unstable on the fresh start (due to rbac authz, crd-apiservice registration, etc). are we planing a graceful start mechanism for the server? @kubernetes/sig-api-machinery-misc

[2018-11-14 15:44] mariantalla commented on #70708
Hey @wojtek-t and @bsalamat , just a heads up that this recently failed. Here's [testgrid](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-scalability-100) and [kubernator](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/19687).

It's probably a flake (I think that because [the diff](https://github.com/kubernetes/kubernetes/

[2018-11-14 15:51] yue9944882 commented on #71024
/triage support

thats not the correct patch format. we need standard json patch format w/ that command. i'd suggest u to use apply or edit command

Additionally, iiuc, `servicemonitor` is a custom resource and the strategy merge patch is not supported for custom resource for now.

[2018-11-14 15:51] yue9944882 commented on #71024
/close

[2018-11-14 15:52] #71024 closed

[2018-11-14 15:52] mkimuram commented on #70760
@msau42

I've root caused csi-hostpath failure issue. It just failed to set the node properly in test code side.
I will make a PR to fix it.

[2018-11-14 15:57] mkimuram commented on #70760
@msau42

Or should it be done in your PR too, to avoid modifying ```skipTestUntilBugfix``` twice in the separate PR?

Actually, the fix are as below:
(Failing to set node before pod creation)

[code]

[2018-11-14 16:13] liggitt commented on #71032
previously proposed and discussed in https://github.com/kubernetes/kubernetes/issues/52326

making the --namespace flag behave inconsistently across multiple commands is not desired.

making the current single value plural would fundamentally change most operations, and greatly increase the complexity of propagating success/error status through the command structure.

/close

[2018-11-14 16:13] #71032 closed

[2018-11-14 16:16] RRAlex commented on #70806
/healthz does respond `ok` (200), while still crash-dump-looping.

[2018-11-14 16:19] #70997 closed

[2018-11-14 16:20] mkimuram commented on #70760
Created https://github.com/kubernetes/kubernetes/pull/71039 for csi-hostpath fix, to prepare for the case that we need a separate PR. We can discuss more on this there, if needed.

[2018-11-14 16:26] dims commented on #71031
/milestone v1.13

Hoping https://github.com/kubernetes/kubernetes/pull/70494 for https://github.com/kubernetes/kubernetes/issues/69015 will fix this issue too!

[2018-11-14 16:29] andig commented on #71024
Thank you, I wasn't aware of that. If there's any tracking issue I'd be happy to subscribe to that as its quite useful.

Thats confusing- I can successfully do a `kubectl patch deployment` with yaml?

[2018-11-14 16:38] Benjamin-Dobell commented on #51835
I'm still seeing this in a 100% reproducible fashion (same resource defintions) with the kubectl 1.13 alpha and Docker for Desktop on macOS. By reproducible I mean that the only way to fix it seems to be to factory reset Docker for Mac, and when I setup my cluster again using the same resources (deployment script), the same clean-up script fails.

I'm not sure why it would be relevant but my clean

[2018-11-14 16:38] liggitt commented on #70806
right, I was saying that is the mechanism for graceful startup.

unfortunately, the way golang works, if you recover a panic ([as we do in the timeout handler](https://github.com/kubernetes/kubernetes/blob/v1.12.2/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L94-L111)), you lose all stack information from it.

we can see the request that errored, though:

can you see if the same reso

[2018-11-14 16:46] dcbw commented on #61006
klog PR is https://github.com/kubernetes/kubernetes/issues/70264

[2018-11-14 16:49] goblain commented on #71017
I agree this should not happen, I've already discussed further work on this wth @lavalamp a bit which would also solve this issue. The idea is to actually make use of function detecting the existing loopback IPs and drop failureMode as such in favor of always failing as we would be sure we attempt to bind only to what should exist and yield success.

[2018-11-14 16:57] logTom commented on #44273
Same here on gke Master-Version 1.11.2-gke.15:
network is not ready: [runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: Kubenet does not have netConfig. This is most likely due to lack of PodCIDR]

[2018-11-14 17:03] yue9944882 commented on #71024
@andig patch support for custom resource will be done via server-side-apply in future releases. it's tracked via a KEP iirc. @apelisse

not sure about that. but this seems not the documented usage.

[2018-11-14 17:10] daschott commented on #70604
Need to possibly add workaround on Windows Server, version 1803 to set DNS SearchList RegKey (instead of Domain). To achieve this, one can copy the registry key over using the following script:
[SearchListRegKeyEdit.zip](https://github.com/kubernetes/kubernetes/files/2581791/SearchListRegKeyEdit.zip)

you can then query if SearchList is set using:
`reg query HKLM\System\CurrentControlSet\Services\

[2018-11-14 17:12] dims commented on #61006
Please see https://groups.google.com/d/msg/kubernetes-dev/7vnijOMhLS0/1oRiNtigBgAJ

I'd love to see follow ups on what can be done better now that we have `klog`

/close

[2018-11-14 17:12] #61006 closed

[2018-11-14 17:16] apelisse commented on #71024
@andig Can you try: `kubectl patch servicemonitor prometheus-prometheus-oper-kubelet --patch "$(cat kubelet-cadvisor-patch.yaml)" --type=merge`? The default type is strategic which is indeed unsupported for CRs

[2018-11-14 17:30] AishSundar commented on #68424
/milestone v1.13
/priority important-soon

@nikopen

This is important for 1.13 as mentioned in  #68635

[2018-11-14 17:30] nikopen commented on #71031
/priority important-soon

[2018-11-14 17:32] shinebayar-g commented on #51835
Just happened to me once again, guess I'm calling good old `kubectl delete pods <podname> --force --grace-period=0` once again. But question is how do I know where this pod is living on?

[2018-11-14 17:36] nrvnrvn commented on #48912
I am going to put my hands on it next week. But taking the release schedule I would not expect it to ship until 1.14

[2018-11-14 18:02] andig commented on #71024
Great:

	❯ kubectl patch servicemonitor prometheus-prometheus-oper-kubelet --patch "$(cat prometheus/kubelet-cadvisor-patch.yaml)" --type=merge
	servicemonitor.monitoring.coreos.com/prometheus-prometheus-oper-kubelet patched

I now understand what a "json" merge patch is and why that is what need be done for CRDs. Much appreciated!

[2018-11-14 18:03] apelisse commented on #71024
Yeah, be careful because there is [JSon patch](https://tools.ietf.org/html/rfc6902) and [JSon merge patch](https://tools.ietf.org/html/rfc7386) :-)

[2018-11-14 18:10] harshal-dhumal commented on #22950
Even I'm facing same issue. I want to run kubelet on node but I can't cause I don't have config file for kubelet. I was able to run etcd and api server as they don't require any config file.

I searched on internet for sample config file and documentation for kubelet config file but no success. :(

[2018-11-14 18:33] lavalamp commented on #70806
Still reading, but:

Did you skip 1.11? Skipping releases isn't actually supported.

[2018-11-14 18:35] RRAlex commented on #70806
Right now, having been up for a while, it alternates almost perfectly (E114 sometime coming twice in a row) between E114 and I114, basically once per second.
These two errors correspond to the one you quoted (HPA) & the other to the HTTP2 panic.
The cluster was upgraded from 1.10.3 to 1.12.1 (to 1.12.2) and from what I could gather last week, this started after the upgrade to 1.12.x branch but we

[2018-11-14 18:37] RRAlex commented on #70806
Yes, I did, I didn't know that...
should I roll back to 1.11 and than back again to 1.12?
Or what are the effects and what can be done?

[2018-11-14 18:47] nikopen commented on #68244
Moving this to v1.14 as PRs seem a bit big and we're near code freeze

/milestone v1.14

[2018-11-14 18:51] lavalamp commented on #70806
There's at least two things going wrong, one is: https://github.com/kubernetes/kubernetes/commit/eec1b521117aa7271be3a3f0919c88caf5b73c54

...and the other is whatever is actually crashing.

At this point I'm not sure if rolling back to 1.11 would make things worse or better, if your cluster is functioning I probably wouldn't do; if your cluster is nonfunctional and you need it fixed then I might

[2018-11-14 18:53] alewitt opened #71042 "Unable to --force apply using kubectl 1.10/1.11"
**What happened**:
When trying to update a roleRef in a clusterrolebinding, i tried running `kubectl apply--force -f myFile.yaml`. Kubectl came back with `invalid`

**What you expected to happen**:
When using `--force`, kubectl should delete and recreate the resource if it runs into an immutable resource

**How to reproduce it (as minimally and precisely as possible)**:
create a clusterRoleBinding

[2018-11-14 18:55] nikopen commented on #69892
/milestone v1.14

[2018-11-14 18:56] alewitt commented on #71042
@kubernetes/sig-CLI-bugs

[2018-11-14 19:16] G-Harmon commented on #20572
cc me. I would also like delete-by-uid.

[2018-11-14 19:30] saad-ali commented on #65246
@pohly Instead of https://github.com/kubernetes/kubernetes/pull/70746 which may have negative side effects for non-CSI volumes, let's do this instead:

* Modify the CSI `WaitForAttach(...)` method in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/csi/csi_attacher.go#L126 to ignore the passed in `attachID string` (which is populated from devicePath. Instead let's have that method g

[2018-11-14 19:32] Huang-Wei commented on #71013
/assign @resouer

for commenting.

[2018-11-14 19:37] #70591 closed

[2018-11-14 19:39] bsalamat commented on #70708
There has not been any notable changes recently and the test has passed after the failure. I looked at error message, it was about longer startup time than expected. Given that the tests have passed after, I guess it was a flake.

[2018-11-14 19:41] shinebayar-g commented on #51835
Well it wasn't there.. I have few VMs , so I asked how to find out which one is the right one. :)

[2018-11-14 19:47] dims commented on #69676
related discussion in sig-schedling slack https://kubernetes.slack.com/messages/C09TP78DV/

[2018-11-14 19:50] yujuhong commented on #70879
@bclau the problem seems to have been resolved after the repush. The error no longer appears in our CI test. Thank you!

[2018-11-14 19:50] #70879 closed

[2018-11-14 21:04] gsf commented on #37518
This is now documented in the following section, prefaced by "Specifying multiple secrets...":

https://github.com/kubernetes/ingress-gce/blob/63bd8b9e8a7e0013a50ef728aabf9e5076d5ae65/README.md#secret

[2018-11-14 21:29] timothysc commented on #70249
/assign @ixdy

This is not sig-cluster-lifecycle typically.

[2018-11-14 21:29] dims commented on #70249
@kfox1111  is https://github.com/kubernetes/kubernetes/pull/70245 not enough?

[2018-11-14 21:34] kfox1111 commented on #69195
I just got bit by this.

[2018-11-14 21:36] RRAlex commented on #70806
So, any way to diagnose what should have been updated in, I guess, etcd?
I mean, is this similar to a schema change that is missing some steps?
Thanks!

[2018-11-14 21:37] kfox1111 commented on #69195
This issue will bite anyone deploying a statically linked go binary, not just the api server.

Can we get kubelet to slide in a default nsswitch.conf that is sane so it wont keep biting people? Similar to resolv.conf.

[2018-11-14 21:43] sylr commented on #69676
https://kubernetes.slack.com/archives/C09TP78DV/p1539255149000100 to be exact but it might fall outside the slack allowed history for free tier pretty soon.

[2018-11-14 21:43] davidz627 commented on #70760
/unassign
found possible root cause, @verult has the most context for the fix
/assign @verult

[2018-11-14 21:50] KptnKMan commented on #66067
Hi, is anyone managed to figure a workaround for this?

[2018-11-14 21:54] ixdy commented on #70249
before #70245 there was #69238, though that didn't make it into 1.12. cc @BenTheElder

[2018-11-14 22:02] BenTheElder commented on #70249
Yeah, I added an nsswitch.conf as a small stopgap in https://github.com/kubernetes/kubernetes/pull/69238, but I'd like to see a standard base image as well which should simplify the build and patching a bit.

We could backport https://github.com/kubernetes/kubernetes/pull/70245 or https://github.com/kubernetes/kubernetes/pull/69238 to 1.12, I'm not sure what the best choice is. https://github.com/

[2018-11-14 22:07] bsalamat commented on #70996
We no longer support 1.9, but from the error logs, it appears that the scheduler didn't find any nodes that could run your pod: `0/60 nodes are available: 2 Insufficient cpu, 5 Insufficient memory, 60 ExistingPodsAntiAffinityRulesNotMatch, 60 MatchInterPodAffinity.`
Are you sure that your cluster spans multiple zones?

[2018-11-14 22:10] mikebryant commented on #70996
Yes, absolutely. If the scheduler is restarted it then immediately schedules those pods, spreading them across all 3 zones.

Can appreciate 1.9 isn't supported though, we're attempting to upgrade further but it's currently blocked by internal factors.

I can reopen this if we can reproduce with a later version

[2018-11-14 22:10] #70996 closed

[2018-11-14 22:12] BenTheElder commented on #69195
We'd need a feature request to sig-node and probably sig-network.

I do like this idea, but, nsswitch.conf is used for things other than networking so injecting one might be slightly problematic. In this case it was fine because we control the images and the binaries.

People deploying go images need to make sure they have a sane nsswitch.conf for now, or not deploy staticly linked binaries, unfor

[2018-11-14 22:15] bill-warshaw opened #71044 "Make HostAliases write aliases for an IP on the same line in /etc/hosts"
**What would you like to be added**:

* Currently, specifying multiple aliases for a single host using `HostAliases` results in a line for each alias in `/etc/hosts`.
* Example:

[code]

leads to an `/etc/hosts` file containing something like

[code]

**Why is this needed**:

* Having multiple entries for the same IP address in `/etc/hosts` can break DNS resolution for some software.  See https://

[2018-11-14 22:15] dims commented on #69195
For 1.13, we should just document the problem

[2018-11-14 22:16] bill-warshaw commented on #71044
/sig node

[2018-11-14 22:20] BenTheElder commented on #70249
Note that go's defaults actually match the documentation for not having an `/etc/nsswitch.conf`:
https://golang.org/src/net/conf.go#L197
http://man7.org/linux/man-pages/man5/nsswitch.conf.5.html (`hosts: dns [!UNAVAIL=return] files`), it's just that they don't match the default most distros seem to ship of `hosts: files dns` which is probably what most of us want ...

[2018-11-14 22:31] kow3ns commented on #69376
/assign janetkuo

[2018-11-14 22:31] kow3ns commented on #69376
We should get a fix in for the next release

[2018-11-14 22:32] sandeepbhojwani commented on #70502
Root cause is a bug in these 2 functions introduced in https://github.com/kubernetes/kubernetes/commit/af5379485411214d0a1f90c7974621b0f809afb3

/cc @aveshagarwal

[code]
The ConvertTolerationToAMap function uses toleration's key and effect only to generate the map key. So if i have 2 tolerations(as in my example in earlier comment) with the same key and effect but different values then the Conver

[2018-11-14 23:02] kfox1111 commented on #69195
would it be difficult to add the file only if it doesn't exist in the image?

[2018-11-14 23:30] BenTheElder commented on #69195
Yeah that work around [will work](https://github.com/kubernetes-sigs/kind/pull/45) for now, I'm not sure how difficult / expensive it would be for the kubelet to conditionally add this, and it might be a surprising behavior change for arbitrary containers / pods.

[2018-11-14 23:35] patrickshan commented on #70450
@Huang-Wei we just had a similar issue this morning and our cluster is running kube 1.11.4:

`Server Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.4", GitCommit:"bf9a868e8ea3d3a8fa53cbb22f566771b3f8068b", GitTreeState:"clean", BuildDate:"2018-10-25T19:06:30Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}`

and these are the error logs :

`E1114 18:58:19.944359

[2018-11-14 23:39] #69911 closed

[2018-11-14 23:39] patrickshan commented on #70450
@jacobstr could you re-open this issue ? or I can raise a new issue for it.

[2018-11-14 23:41] Huang-Wei commented on #70450
/reopen

I will take a look.

[2018-11-14 23:45] patrickshan commented on #70450
@Huang-Wei thanks

[2018-11-14 23:47] kfox1111 commented on #69195
it may be surprising, but its very surprising now too, that dns takes precident to hosts file unexpectedly. :(
I'd rather it be secure by default and surprise them that its safe. I didn't even know glibc had this backwards behavior when nsswitch.conf was missing. I haven't run up against a glibc based system that didn't have an nsswitch file. All distro's add one.

[2018-11-14 23:51] Huang-Wei commented on #70450
@patrickshan are the worker nodes auto scaling out/in? e.g. by an auto-scaler component?

[2018-11-14 23:51] msau42 commented on #70319
If we addressed https://github.com/kubernetes/kubernetes/issues/69831, would this first event not happen?

[2018-11-14 23:54] patrickshan commented on #70450
@Huang-Wei yes, we do have an autoscaler to auto scale our worker nodes and we are using https://github.com/atlassian/escalator since most of our workloads are job based.

[2018-11-14 23:55] verult commented on #70760
The symptom of the remaining test failure is the test pod fails to create because it fails to attach with the error: `Attach failed for volume <volumename>: node <nodename> has no NodeID annotation`. The test succeeds the first time it's run in a cluster, and always fails after that.

Two issues caused this error message.
1. When the CSI external-attacher tries to fetch the `CSINodeInfo` object to

[2018-11-14 23:58] Huang-Wei commented on #70450
I see. It's likely an internal cache inconsistency. (not related with the hostPort issue I fixed earlier)

/assign

[2018-11-15 00:31] verult opened #71052 "CSINodeInfo lister not syncing existing objects"
**What happened**: The CSINodeInfo lister here:
https://github.com/kubernetes/kubernetes/blob/12402742041386b82c89b1c64cb855bdc1691928/staging/src/k8s.io/csi-api/pkg/client/informers/externalversions/csi/v1alpha1/csinodeinfo.go#L38
is used in the external-attacher to get NodeID. If `CSINodeInfo` already exists before external-attacher is started, the object corresponding to the target node is miss

[2018-11-15 00:31] verult commented on #70760
Opened #71052 to track the informer issue

[2018-11-15 00:35] KJTsanaktsidis commented on #58065
This is affecting me as well. I did a packet capture, and what I found with `kubectl exec` was that:

* It made an initial GET request for the Pod over the SOCKS proxy just fine
* Then opens up a second TCP connection to the SOCKS proxy (so far so good)
* Then tries to do a TLS handshake on this socket, without first sending a SOCKS connect request through it

At a guess, it's forgotten that the p

[2018-11-15 00:37] kfox1111 commented on #69195
hmm... etcd is crashing too.... I hope there is an equiv of etcdExtraVolumes....

[2018-11-15 01:00] logicalhan commented on #70305
I discussed this last week with @justinsb, we should increase the livenessProbe delay to avoid the premature kubelet restarts.

/assign @logicalhan

[2018-11-15 01:14] shraderdm commented on #69521
I'm running into this issue as well. Has this already been resolved?

[2018-11-15 01:49] yanghaichao12 opened #71055 "TerminationGracePeriodSeconds"
/triage support

[2018-11-15 01:50] #71055 closed

[2018-11-15 02:07] gnufied opened #71056 "Extract common label/annotation reset functions while setting status into a common utility"
This came up as a follow up to https://github.com/kubernetes/kubernetes/pull/69929

Also rather than opening 5 different issues - we are going to use this github issue to track all follow up items mentioned here - https://github.com/kubernetes/kubernetes/pull/69929#issuecomment-438897594

[2018-11-15 02:07] gnufied commented on #71056
/sig storage

[2018-11-15 02:10] yanghaichao12 opened #71057 "pods will not migrate when a Node is unreachable."
if ‘prestop’  hook is set and ‘TerminationGracePeriodSeconds’ are not null，assuming a node is unreachable，i wonder how a pod in this node can be deleted gracefully and migrant to other healthy nodes？ i check some doc and get this:
‘’‘
Kubernetes (versions 1.5 or newer) will not delete Pods just because a Node is unreachable. The Pods running on an unreachable Node enter the ‘Terminating’ or ‘Unkno

[2018-11-15 02:11] yanghaichao12 commented on #71057
/sig scheduler

[2018-11-15 02:18] jejer commented on #60869
kube-proxy container based on a debian image, which don't support compressed module.
debian enabled compressed module support in kmod 25-1 at 21 Jan 2018.
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=772628

[2018-11-15 02:35] jberkus opened #71060 "Flaking Test: 100 nodes: [sig-scalability] Load capacity [Feature:Performance] should be able to handle 30 pods per node ReplicationController with 0 secrets, 0 configmaps and 0 daemons"
**Which jobs are failing**:  gce-cos-master-scalability-100

**Which test(s) are failing**:  [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using ReplicationController with 0 secrets, 0 configmaps, 0 token projections, and 0 daemons

**Since when has it been failing**: Pretty much forever

**Testgrid link**: https://testgrid.k8s.io/sig-release-master-blockin

[2018-11-15 02:36] jberkus commented on #70708
We are still seeing this flake in gce-cos-scalability-100, but at this point I'm going to close this issue in favor of a new issue focused only on the current flake: #71760

/close

[2018-11-15 02:36] #70708 closed

[2018-11-15 02:47] AceHack commented on #20227
Any update or workaround?  I would really like this feature.

[2018-11-15 02:49] dims commented on #64742
@hzxuzhonghu looks like this won't make it to 1.13, can we please move this out?

[2018-11-15 03:04] gnufied commented on #71056
/assign @jsafrane
/assign @gnufied

[2018-11-15 03:34] zhangyan1022wo commented on #70785
I had the same problem,

i reset the node3 ,when i runinng “kubeadm alpha phase kubelet write-env-file --config kubeadm-master.config ”,dispaly "didn't recognize types with GroupVersionKind: [kubeadm.k8s.io/v1alpha3, Kind=ClusterConfiguration]".
I find the kubelet'process is not about network of parameter.And missing file"/var/lib/kubelet/kubeadm-flags.env".

[2018-11-15 03:58] AishSundar commented on #71052
@verult I assume you are planning to get this fixed in time for Code freeze (11/16)? I am adding the 1.13 milestone to this issue. Let me know otherwise.

/milestone v1.13

[2018-11-15 04:34] #68630 closed

[2018-11-15 04:34] AishSundar commented on #70760
@msau @verult Are #71058 and potential PR for #71052 the only 2 fixes being actively worked on for this issue?

[2018-11-15 04:35] #70484 closed

[2018-11-15 04:40] msau42 commented on #70760
Only #71058 is needed.  We have a workaround for #71052

[2018-11-15 04:59] techdragon commented on #28610
Can anyone familiar with the work, give an update on how far off we are from having this fixed? The arbitrary topology stuff seems cool, but its also giving me a growing feeling that a case of _architecture astronautics_ is taking place. Has anyone built a node local proxy or something else to fix this? LinkerD looks interesting my primary use for this needs UDP support. (Metrics/StatsD, etc)

[2018-11-15 05:05] Sankara11Varma opened #71062 "I am getting a issue with running kubernetes version with issue--Unable to connect to the server: dial tcp [::1]:8080:"
I am getting one error message while accessing Kubectl version.please help to understand and resolve the issue.

Kubectl application we posted in the system 32 folder from there, we are calling through power shell admin mode.While calling kubectl version, i am getting below error message.

Error Message:Unable to connect to the server: dial tcp [::1]:8080:

Below are the details provided.

Server

[2018-11-15 05:09] johnbelamaric commented on #28610
We cut out the complicated stuff and are trying to make it as simple as
possible. See https://github.com/kubernetes/community/pull/2846 - we hope
to have this KEP accepted this cycle (meaning really soon). Then
implementation would happen in 1.14 timeframe (for alpha).

On Wed, Nov 14, 2018 at 9:01 PM Samuel Bishop <notifications@github.com>
wrote:

[2018-11-15 05:11] Sankara11Varma commented on #71062
Hi All,

Below are the details provided further please help me on this.

Server : Windows server  -OS Name	Microsoft Windows Server 2016 Datacenter
Version	10.0.14393 Build 14393
System Type	x64-based PC
Docker version :   17.06.2-ee-17
API version:  1.30

Kubectl application we posted in the system 32 folder from there, we are calling through power shell admin mode.While calling kubectl version,

[2018-11-15 05:15] #70961 closed

[2018-11-15 06:14] AishSundar commented on #70955
/milestone v1.13

[2018-11-15 06:16] AishSundar commented on #70955
@saad-ali @msau42 This is an umbrella issue to gather list of known issues and workaound in 1.13. Can you please add the note and workaround for https://github.com/kubernetes/kubernetes/pull/70716 (promoting GCE RePD support to GA in Kubernetes) discussed in the email thread offline. Thanks

[2018-11-15 06:47] hzxuzhonghu commented on #64742
@dims Seems etcd folks (@xiang90, @jpbetz, @gyuho, etc) have no interest in this. It may destroy etcd members behind a LB.

[2018-11-15 06:48] Ehekatl commented on #63858
run into this issue as well, gc not removed dead container, this functionality seems deprecated in recent k8s release,  no sure why.

[2018-11-15 06:49] hzxuzhonghu commented on #64742
But as I did, provide a flag for users would not destroy compatibility

[2018-11-15 07:48] gyuho commented on #64742
etcd client natively supports auto-sync https://godoc.org/go.etcd.io/etcd/clientv3#Config. We just need to enable the sync duration in API server. I am happy to review the code, as long as it's configurable.

[2018-11-15 08:18] jberkus opened #71065 "The return of [sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator fails on "pull-kubernetes-e2e-gce" and "ci-kubernetes-e2e-gci-gce""
**Which jobs are failing**: gke-1.12-1.13-downgrade-cluster-parallel

**Which test(s) are failing**: [sig-api-machinery] Aggregator Should be able to support the 1.7 Sample API Server using the current Aggregator fails on "pull-kubernetes-e2e-gce" and "ci-kubernetes-e2e-gci-gce"

**Since when has it been failing**: 11/14

**Testgrid link**: https://testgrid.k8s.io/sig-release-1.13-all#gke-1.13-1.1

[2018-11-15 08:55] jberkus commented on #71065
This is not a blocker for 1.13

[2018-11-15 09:38] nikopen commented on #69676
FYI there is a related Prometheus metric that is able to grep this:
it's `kube_pod_container_status_terminated_reason` and `kube_pod_container_status_last_terminated_reason`

https://github.com/kubernetes/kube-state-metrics/blob/master/Documentation/pod-metrics.md

`reason=<OOMKilled|Error|Completed|ContainerCannotRun>`

It might be a bit tricky to implement as an alert, thus `kube_pod_container_s

[2018-11-15 09:53] ReDim42 commented on #62504
Maybe see #56996

[2018-11-15 10:09] adelina-t commented on #70882
PR: https://github.com/kubernetes/kubernetes/pull/71036

[2018-11-15 10:30] GhostComputing commented on #70014
@m1093782566

[2018-11-15 10:38] GhostComputing commented on #70014
Why ingress/egress value need to divide 1000 to get the rate ?
[code]
I think it is the same unit ( bps, bit per second).

@m1093782566

[2018-11-15 10:42] shenshouer commented on #68734
?

[2018-11-15 10:50] bclau commented on #60487
/remove-lifecycle rotten

[2018-11-15 10:55] nikopen commented on #69676
`kube_pod_container_status_last_terminated_reason` is not yet released in a version, I'll ping to see if they're able to cut a release

[2018-11-15 11:00] naevtamarkus commented on #38337
Does anybody know if this is still an issue?

[2018-11-15 11:17] Lentil1016 commented on #70785
OK, I've confirm that too. @zhangyan1022wo Thank you so much for spotting that. It seems this is a duplicated issue of https://github.com/kubernetes/kubeadm/issues/1171. Closed.

[2018-11-15 11:17] #70785 closed

[2018-11-15 12:00] jsafrane commented on #65246
I am trying to twist my head around the code. IMO it affects also AWS that uses devicePath stored in node.status and it should be reproducible there too. So far I was unsuccessful.

In the logs it's clearly visible that UnmountDevice succeeded. So why kubelet continues with MountVolume instead of MountDevice? That's wrong. A workaround in CSI volume plugin won't really help here, it will work only

[2018-11-15 12:02] consideRatio opened #71070 "Conflicting scale up events on pods scheduled with secondary scheduler"
**What happened**:
I got different and conflicting events from cluster-autoscaler when using a custom configuration on a secondary kube-scheduler running in another namespace than the default one. The cluster-autoscaler shows an event coupled with the pod that it triggered a scale up no matter what, but with the custom scheduler, I got a bunch of additional events (`Normal   NotTriggerScaleUp

[2018-11-15 12:11] gjcarneiro opened #71071 "kube-proxy ipvs mode hangs after a few hours, needs manual restart"
**What happened**: upgraded from v1.11.0 to v1.12.2, now kube-proxy hangs, usually in less than a day

**What you expected to happen**: it should continue working

**How to reproduce it (as minimally and precisely as possible)**:  just have a normal kube-proxy running in ipvs mode.  It gets stuck usually in less than a day.

**Anything else we need to know?**:

I've sent SIGABRT to the kube-proxy

[2018-11-15 12:14] consideRatio commented on #71070
/sig scheduling
/sig autoscaling

[2018-11-15 12:18] ericjee commented on #65097
hey guys, any update on this user case?

[2018-11-15 12:37] gjcarneiro commented on #71071
/sig network

[2018-11-15 12:40] f84anton opened #71073 "Nodes hangs when cpu manager policy set to static with soft lockup - CPU stuck for 22s after scheduling multiple pods"
**What happened**:
Nodes hangs: watchdog: BUG: soft lockup - CPU# stuck for 22s!

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
kubelet options:
--cgroup-driver=cgroupfs
--cgroups-per-qos=True
--enforce-node-allocatable=pods
--kube-reserved cpu=200m,memory=512M
--eviction-hard=memory.available<100Mi,nodefs.available<200Mi,imagefs.available<200M

[2018-11-15 12:42] f84anton commented on #71073
@kubernetes/sig-node-bugs

[2018-11-15 12:43] jsafrane commented on #65246
I finally reproduced it on AWS with a long sleep in `awsElasticBlockStoreDetacher.UnmountDevice`:

[code]

Steps to reproduce (with the hack above):

1. Start a pod with a volume
2. Delete the pod. Wait until `UnmountDevice` is called.
3. Start a new pod with the same volume.

-> [reconciler](https://github.com/kubernetes/kubernetes/blob/db680631df67c1d2592fba2edd2823522f105b12/pkg/kubelet/volumem

[2018-11-15 13:09] michaelgeorgeattard commented on #56795
In the meantime, I added ALL hosts for ALL environments. Hacky but it does the job till we have a proper fix.

[2018-11-15 13:11] george-angel commented on #13136
/remove-lifecycle rotten

[2018-11-15 13:18] lanoxx commented on #19077
With Windows image sizes can be in the Gigabytes, combine that with a low bandwidth line to a public registry and you get pull durations of hours. That makes some good progress indicator even more important.

[2018-11-15 13:20] neolit123 commented on #67937
it would be best to get a response by sig-node on this one.
you can try slack #sig-node , their mailing list...but also stack-overflow is a good option that gets questions answered.

[2018-11-15 13:30] jsafrane commented on #65246
Fix: https://github.com/kubernetes/kubernetes/pull/71074

Any idea how to test it for real? Fake CSI plugin with slow NodeUnstage would be the best, however we don't have one.

[2018-11-15 13:51] nikopen commented on #70319
@AishSundar It's a storage bug affecting all recent k8s versions which can be patched, it doesn't have to do anything in particular with features of the next release. If it doesn't make it it will likely be included in patch v1.13.1

@jingxu97 Indeed it's not affected by code freeze since it's a bug. I think last merge window before v1.13 is around end of November IIRC.

[2018-11-15 14:08] MaciekPytel commented on #71070
Cluster autoscaler only works with default scheduler, any form of custom scheduling is not supported.

The reason for this is CA works by importing kubernetes scheduler code, running it internally and expecting that the result will be exactly what scheduler will do. Anything that changes the behavior of scheduler predicate functions breaks CA.

[2018-11-15 14:10] MaciekPytel commented on #71070
A side note: https://github.com/kubernetes/autoscaler is probably a better for opening issues related to CA, it's easy for an issue to drown in main k/k repo.

[2018-11-15 14:16] rochaporto commented on #61747
Would monitoring of GPU resource usage be related to this issue? We rely on the nvidia device plugin and it works fine, but can't find a way to monitor GPU usage once the workloads are deployed.

Something like having those metrics showing in kubectl top, or exposed for prometheus collection.

[2018-11-15 14:22] consideRatio commented on #71070
Thanks for the quick insight @MaciekPytel !

Opened the following issue: https://github.com/kubernetes/autoscaler/issues/1406

[2018-11-15 14:22] #71070 closed

[2018-11-15 14:29] vhosakot commented on #56032
I'm scaling pods in k8s and see a lot of pods in `UnexpectedAdmissionError` state too.

[code]
Would be nice if pods in `UnexpectedAdmissionError` state are retried gracefully so that they come up.

Related: https://github.com/kubernetes/kubernetes/issues/70010

[2018-11-15 15:10] MartinEmrich commented on #56990
Is this supposed to be in Kubernetes 1.12.2?

[code]

but

[code]

[2018-11-15 15:31] pvanderlinden commented on #67126
/remote-lifecycle stale

[2018-11-15 15:31] pvanderlinden commented on #67126
/remove-lifecycle stale

[2018-11-15 15:32] pvanderlinden commented on #67126
Would be good to have

[2018-11-15 15:35] cliffburdick commented on #35238
/reopen
/remove-lifecycle rotten

I'm hitting this as well. It's happened very frequently

[2018-11-15 15:38] cliffburdick opened #71078 "Get NodeInfo failure stalls kubelet startup"
**What happened**:
Nodes lose connectivity from master temporarily and never recover.

**What you expected to happen**:
Nodes recover as soon as connectivity is restored

**How to reproduce it (as minimally and precisely as possible)**:
Bare metal kubespray, disconnect master. kubectl get nodes will show no nodes.

**Anything else we need to know?**:
Restarting kubelet fixes it. It seems to be ver

[2018-11-15 15:38] cliffburdick commented on #71078
/sig node

[2018-11-15 15:52] turbobuick commented on #62038
Looks like it got pushed to 1.14:  https://trello.com/c/wmZ2j67q

[2018-11-15 16:08] michmike commented on #62038
we will definitely not visit this before 1.13 is complete. So this feature may land with 1.14 or possibly later.

[2018-11-15 16:16] liurd commented on #70349
Is it possible to enhance the function to let POD restart more times or wait more time? Otherwise the pod can't up due the PV can't mount. it's a common issue in all persistent storage case.
Kubernetes move the pod, it can do more to improve pod robust.

[2018-11-15 16:19] jeff-knurek commented on #57049
/remove-lifecycle stale

the manual workaround is fine, but would be better if `drain` at least provided an option to force delete the operator controlled pods

[2018-11-15 16:21] MoBT commented on #52715
Hi @apolegoshko @xinjt
how you fixed the problem please ? because I have the same problem.

[2018-11-15 16:52] #65017 closed

[2018-11-15 16:58] liggitt commented on #71065
that test no longer exists in master or the release-1.13 branch. that means any failure lives in 1.12 test code. should https://github.com/kubernetes/kubernetes/pull/68300 be backported to the release-1.12 branch? that seems odd.

[2018-11-15 17:00] kfox1111 commented on #69195
never mind on the etcd thing that was something else. The above yaml tweaks did solve the issue.

[2018-11-15 17:06] kfox1111 opened #71082 "nsswitch.conf adding"
**What would you like to be added**:
I would like kubernetes to add in an nsswitch.conf file if it is missing in the container. It should contain:
hosts: files dns myhostname

**Why is this needed**:
golang/glibc has an undesirable behavior that can lead to security issues, if nsswitch.conf is missing from the container. it can cause resolving in odd ways, such as 'localhost' being resolved to a r

[2018-11-15 17:09] kfox1111 commented on #71082
Other k8s issues are trying to one off work around this problem, but I think its bigger then that. Lets solve it all at once. Some related issues:
https://github.com/kubernetes/kubernetes/issues/48124
https://github.com/kubernetes/kubernetes/issues/69195
https://github.com/kubernetes/kubernetes/issues/70249

golang's issue:
https://github.com/golang/go/issues/22846

some tangential stuff.
Alpine's

[2018-11-15 17:11] kfox1111 commented on #71082
/sig release
/sig network

[2018-11-15 17:41] goutamtadi1 commented on #28658
Yes, this seems unresolved. We are also looking for solution to similar problem. Anyone able to solve this?

[2018-11-15 17:43] liggitt commented on #70806
callstack logging fixed in https://github.com/kubernetes/kubernetes/pull/71067 and https://github.com/kubernetes/kubernetes/pull/71076

[2018-11-15 17:48] AishSundar opened #71083 "Update master to etcd 3.3.x"
**What happened**:
@timothysc noticed that when checking etcd versions, it doesn’t look like to be properly updated in master. client is 3.3 but the images don’t appear to be updated. docker pull k8s.gcr.io/etcd-amd64:3.3.10 - doesn’t exist.

**What you expected to happen**:
For the 1.13 cycle we need to pickup etcd 3.3 which following changelog - https://github.com/etcd-io/etcd/blob/master/CHANGE

[2018-11-15 17:51] AishSundar commented on #71083
/sig release

[2018-11-15 17:52] timothysc commented on #71083
During the 1.12 cycle we made a compromise to upgrade etcd to 3.2.latest at the time, but agreed to upgrade to 3.3.10 in the 1.13 cycle.  Currently, we have a 1/2 upgraded master branch where the client is 3.3.10 but none of the images have been pushed and /cluster and kubeadm are not updated.

/cc @wojtek-t @gyuho

[2018-11-15 17:53] timothysc commented on #71083
The changelog for 3.3.10 contains a number of important fixes imo : https://github.com/etcd-io/etcd/blob/master/CHANGELOG-3.3.md#v3310-2018-10-10

[2018-11-15 17:54] AishSundar commented on #71083
/cc @ixdy

[2018-11-15 17:55] timothysc commented on #71083
/cc @kubernetes/sig-cluster-lifecycle

[2018-11-15 17:56] AishSundar commented on #71083
Code freeze for 1.13 is tomorrow 11/16. It will be great to get this updated before that to watch CI signal for Beta.1

[2018-11-15 18:06] gyuho commented on #71083
Regarding release image,

https://github.com/etcd-io/etcd/releases/tag/v3.3.10 was released but etcd upstream uses different registry:

- https://console.cloud.google.com/gcr/images/etcd-development/GLOBAL/etcd
- https://quay.io/repository/coreos/etcd?tag=latest&tab=tags

I do not have access to `k8s.gcr.io`.

[2018-11-15 18:13] AishSundar commented on #71083
/cc @calebamiles

[2018-11-15 18:19] RenaudWasTaken commented on #61747
Hello @rochaporto !

Is this what you are looking for: https://github.com/NVIDIA/gpu-monitoring-tools/tree/master/exporters/prometheus-dcgm ?

[2018-11-15 18:28] verult commented on #71052
@AishSundar this is likely not getting fixed completely for 1.13, but we already have a mitigation in place to avoid the problem temporarily.

[2018-11-15 18:29] AishSundar commented on #70972
@mikedanese do you think https://github.com/kubernetes/kubernetes/pull/71054 addresses this issue as well?

[2018-11-15 18:46] lavalamp commented on #71083
I'm not sure that we intended to update the installed etcd version?

[2018-11-15 18:54] lavalamp commented on #71083
Can someone point me at an issue saying we intended to upgrade the etcd server version?

[2018-11-15 18:56] msau42 commented on #65246
I'm going to work on a targeted fix for CSI.  We can continue to pursue fixing aws in-tree separately.

[2018-11-15 18:56] AishSundar commented on #70955
1 more item to followup for release notes and/or known issue - https://github.com/kubernetes/kubernetes/pull/71020#pullrequestreview-175296511

[2018-11-15 19:01] gyuho commented on #71083
Yeah, @jpbetz only upgraded client here https://github.com/kubernetes/kubernetes/pull/69322.

3.3 upgrade issue was created here https://github.com/kubernetes/kubernetes/issues/61326, but nobody upgraded etcd server, it seems.

[2018-11-15 19:02] msau42 commented on #70955
cc @verult for documenting known repd naming issue

[2018-11-15 19:03] lavalamp commented on #71083
Thanks.

At this point in the release I don't think it is a good idea to change the default etcd version as typically that needs to soak in the performance tests for a while. Also it's a data migration, which needs some vetting.

Still investigating but that's my initial impression.

[2018-11-15 19:08] Evesy opened #71086 "Daemonset Pod Misscheduled on Tainted Node"
**What happened**:
- Daemonset without any node tolerations scheduled on suitable nodes. Specifically _not_ scheduled on nodes with the below taint:
[code]
- GKE node upgrade was triggered
- Pod ended up scheduled on a node with the above taint
- Daemonset status:
[code]

Possibly related: The node that the pod was incorrectly scheduled on was a brand new GCE instance running `1.11.2` (Previous no

[2018-11-15 19:08] Evesy commented on #71086
/sig scheduling

[2018-11-15 19:09] mattfysh commented on #65400
@lukeweber did you end up finding a solution for this? I've just upgraded to 1.11 and noticed this behaviour (which I believe didn't happen back in 1.9)

context here is I'm trying to get an uninterrupted terraform provisioning script, right now after provisioning the GKE cluster I need to stop the terraform script and manually bind `client` User to the `cluster-admin` role

[2018-11-15 19:11] chunyenlin opened #71087 "ValidatingWebhookConfiguration/MutatingWebhookConfiguration using URL requires match including port for client authentication"
**What happened**:
When configure Admission Webhook to use (external) url, if client authentication is enabled & configured, ValidatingWebhook requests to external AdmissionWebhook server fails because of client authentication.

**How to reproduce it (as minimally and precisely as possible)**:
1. Configure /etc/kubernetes/manifests/kube-apiserver.yaml
    Add --admission-control-config-file={path

[2018-11-15 19:13] bpziegler commented on #59477
I also see this problem

[2018-11-15 19:31] gyuho commented on #71083
In feature-wise, v3.2 (latest) and v3.3 client use the same balancer and gRPC version.

Agree, in general we need more performance testing (which me and @jpbetz are planning to improve next year). v3.3 disabled freelist sync in backend storage to address database size issue https://github.com/etcd-io/etcd/issues/8009 which should not affect the compatibility, but we should give more time for testi

[2018-11-15 19:36] timothysc commented on #71083
/assign @timothysc @wojtek-t

[2018-11-15 19:38] lavalamp commented on #71083
I think we should either file a new issue to track this or edit the description of this issue. Specifically:
1. It's 100% OK for etcd client and server to not be at the same version.
2. We'll plan to update to etcd 3.3.x for 1.14 and not 1.13 since this needs to come at the beginning of a release.