[2018-10-24 08:06] nikopen commented on #67903
DaemonSet tests passed on run 1842, seems to have been fixed: https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master

if it doesn't pop up again -

/close

[2018-10-24 08:06] #67903 closed

[2018-10-24 08:07] k82cn commented on #68987
/close

Let's close this one, if any other issue, please feel free to ping me :)

[2018-10-24 08:07] #68987 closed

[2018-10-24 08:11] bragonznx commented on #69503
Hi
I have the same issue.
It would be really nice to know how to disable this error message that floods the logs for no reason.

[2018-10-24 08:27] bholagabbar-mt opened #70178 "Kubernetes Pod reporting more memory usage than actual process consumption"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a Kubernetes Pod that has

* Requested Memory of 1500Mb
* Memory Limit of 2048Mb

I have 2 containers running inside this pod, one is the actual application (heavy Java app) and a lightweight log shipper.

The pod consistently reports a usage of 1.9-2Gb of memory usage. Because of this, the deployment is scaled (an autoscalin

[2018-10-24 08:32] feiskyer commented on #69352
Reproduced the issue locally:

[code]

 This is a known isue #53451:

#54569 is trying to fix this issue, but there're no active updates recently.

Meanwhile, I think we add a workaround to fix this for old releases: also delete the bounded frontendIPConfiguration and loadBalancerRule when such error occured.

/assign

[2018-10-24 08:35] bholagabbar-mt commented on #70178
Just realised i opened this with my company account. I'll close the issue and recreate it with my personal github account...

[2018-10-24 08:35] #70178 closed

[2018-10-24 08:36] bholagabbar opened #70179 "Kubernetes pod resource utilization metrics need better documentation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I have a Kubernetes Pod that has

* Requested Memory of 1500Mb
* Memory Limit of 2048Mb

I have 2 containers running inside this pod, one is the actual application (heavy Java app) and a lightweight log shipper.

The pod consistently reports a usage of 1.9-2Gb of memory usage. Because of this, the deployment is scaled (an autoscalin

[2018-10-24 08:39] fejta-bot opened #70180 "pr:pull-kubernetes-integration flaked 77 times in the past week"
### Flaky Job: pr:pull-kubernetes-integration
 Flakes in the past week: **77**
 Consistency: **87.50%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| k8s.io/kubernetes/test/integration/scheduler TestVolumeProvision | 31 |
| k8s.io/kubernetes/test/integration/evictions TestTerminalPodEviction | 23 |
| test-cmd run_rs_tests | 16 |

#### Previously closed issues for this

[2018-10-24 08:42] emedina commented on #45419
Just facing this issue right now:
[code]

[2018-10-24 08:50] ankon commented on #29838
As far as I know nothing has changed here -- neither on Kubernetes side, nor on my user experience :)

[2018-10-24 08:52] JerryChaox opened #70181 "Node frequently be NotReady for short period."
There's a problem in my cluster that it will always got node be NotReady for short period periodically.

The kube-controller logs  --v=4 :
[code]

And the kubelet at node logs --v=4 when node status is NotReady:

[code]

[2018-10-24 08:56] JerryChaox commented on #70181
/sign node-lifecycle

[2018-10-24 09:16] #67799 closed

[2018-10-24 09:51] jbartosik commented on #69444
But it doesn't work on test grid, the test now fails with:

[code]

I'll look into this.

[2018-10-24 11:11] dims commented on #29838
long-term-issue (note to self)

[2018-10-24 11:30] KomorkinMikhail commented on #70020
@MaximProshin agree on this statement. @janosi what do you think?

[2018-10-24 12:04] nikopen commented on #65743
https://github.com/containernetworking/cni/pull/568 got merged, this is resolved I presume? @liucimin

/close

[2018-10-24 12:10] nikopen commented on #45419
https://github.com/containernetworking/cni/pull/568 got merged in CNI.

IIUC a new release of CNI containing the above fix should be able to fix this in k8s.

Coordination is needed - @bboreham @liucimin . Posting in sig-network as well

[2018-10-24 12:18] nikopen commented on #65743
Just saw that a fix is needed in kubelet as well, can you confirm @liucimin ?

/reopen

[2018-10-24 12:33] juanjoDiaz commented on #48719
/remove-lifecycle rotten

[2018-10-24 12:34] juanjoDiaz commented on #48719
/remove-lifecycle stale

[2018-10-24 12:39] bowei commented on #48719
/lifecycle frozen

[2018-10-24 12:43] ygqygq2 commented on #70175
Delete `spec.claimRef`, then PV become to `Available`, so can be used for PVC to mount to POD.

[2018-10-24 12:43] #70175 closed

[2018-10-24 12:45] andrewsykim commented on #70159
/sig network cloud-provider apimachinery

[2018-10-24 12:53] bowei commented on #48719
It does seems to be a better experience to do an active reject rather than a passive "eat the packet". (RST for TCP, ICMP for UDP) as it matches the typical situation (there is no server) which for a single server would result in a RST if the client connects too early.

@thockin
Are there other motivations for not NACKing the connection? The TCP SYN retry window is typically small, so the the curr

[2018-10-24 12:56] janosi commented on #70020
Indeed, it can be lost on the network, though my understanding is, that the conntrack entries in question are on the same host with the client that sends the ABORT.
If ABORT comes later than a 2nd INIT (i.e. with a new tag) then the ABORT is ignored in conntrack, but if I understand the code right, the ABORT is let through (i.e. not dropped).

What I think: I think the SCTP situation is the same o

[2018-10-24 12:59] liqlin2015 opened #70184 "Pod of DaemonSet was no evicted when node was down"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Pod of DaemonSet was not evicted when node was down.

**What you expected to happen**:

Pod should be evicted when node was down.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create DaemonSet to run on some of cluster nodes.

2. Create Service and set pod selector to point to pods of the DaemonSet.

3. Shu

[2018-10-24 12:59] pohly opened #70185 "e2e: hostPath CSI test being skipped"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I tried to run the hostPath CSI test with:
[code]

I suspect that https://github.com/kubernetes/kubernetes/pull/69441 broke this.

**What you expected to happen**:

The test should run, like it did before.

**Environment**:
- Kubernetes version (use `kubectl version`): current master
- Cloud provider or hardware configur

[2018-10-24 13:02] liqlin2015 commented on #70184
sig/node

[2018-10-24 13:05] liqlin2015 commented on #70184
Should the user decide whether tolerate taint `node.kubernetes.io/not-ready:NoExcute` and `node.kubernetes.io/unreachable:NoExcute`?

[2018-10-24 13:39] chrisohaver commented on #69098
@fabriziopandini , CoreDNS images are already multi-arch.

[2018-10-24 13:44] MaximProshin commented on #70020
@janosi not sure I follow your argumentation about ABORT. Imagine you have SCTP pod in a k8s cluster and some other SCTP on the peer side, e.g. LKSCTP. When an association is established between the pod and LKSCTP, conntrack in the k8s cluster will have the entry in the table. Then SCTP pod can be lost, e.g. it's ungracefully killed. Today conntrack will not detect it and will still have the same

[2018-10-24 13:45] rcsavage commented on #69221
I am seeing this issue as well, but all of my versions match: v1.12.1

(master):
# rpm -qa|grep -i kube
kubeadm-1.12.1-0.x86_64
kubernetes-cni-0.6.0-0.x86_64
kubelet-1.12.1-0.x86_64
kubectl-1.12.1-0.x86_64

(worker):
rpm -qa|grep -i kube
kubernetes-cni-0.6.0-0.x86_64
kubeadm-1.12.1-0.x86_64
kubelet-1.12.1-0.x86_64
kubectl-1.12.1-0.x86_64

[2018-10-24 13:51] janosi commented on #70020
@MaximProshin I mean, the conntrack entry in relation with the nat rule is created on the node where the client app resides. kube-proxy configures the same nat rules on every nodes in the cluster, and when a client sends a request to the ClusterIP of the service the nat rule is evaluated on the node of the client and DNAT changes the dst IP of the packet to the IP of the selected server pod. The c

[2018-10-24 13:51] code-sleuth commented on #70079
/triage needs-information

[2018-10-24 14:00] MaximProshin commented on #70020
@janosi Yes, loosing ABORT originated locally has very low probability but I'm talking about ABORT originated remotely. When the pod is lost ungracefully, it doesn't have a chance to send ABORT to update conntrack.

[2018-10-24 14:01] KomorkinMikhail commented on #70020
@janosi Maxim describes the scenario when client resides outside the cluster (when ABORT is lost somewhere in the network or not sent at all)

[2018-10-24 14:05] janosi commented on #70020
@MaximProshin Yes, I know that when a pod is lost ungracefully it cannot send ABORT. On the other hand so far we talked about losing a pod behind a ClusterIP :)
But OK, I understand, yes, ABORT from remote clients may be lost.

[2018-10-24 14:13] nikopen commented on #68857
As I can see this has been passing since then.

/close

sidenote -

daemonset-upgrade is currently only failing on
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster

since yesterday, together with
[code]

but it seems that it's a different issue:

[code]

[2018-10-24 14:13] #68857 closed

[2018-10-24 14:18] MaximProshin commented on #70020
Sorry for any confusion! I had in mind the general case.

[2018-10-24 14:32] andyzhangx commented on #69503
disable `AttachVolumeLimit` in controller plane should work:
"--feature-gates=AttachVolumeLimit=false"

[2018-10-24 14:43] adampl commented on #66560
+1

[2018-10-24 14:46] claudiubelu opened #70189 "Windows containers do not have entries in the hosts file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig windows

**What happened**:

When deploying Kubernetes pods, the Linux containers will contain the following entries in the ``/etc/hosts`` file:

    # Kubernetes-managed hosts file.
    127.0.0.1       localhost
    ::1     localhost ip6-localhost ip6-loopback
    fe00::0 ip6-localnet
    fe00::0 ip6-mcastprefix
    fe00::1 ip6-allnod

[2018-10-24 14:46] bclau commented on #65016
@PatrickLang - indeed, there are basically 2 separate issues here with different solutions. Will do.

Here's the Issue 2's bug report: https://github.com/kubernetes/kubernetes/issues/70189

[2018-10-24 14:47] marc-sensenich commented on #70126
The fix in #70135 resolved the issue that was seen in this issue, closing

[2018-10-24 14:47] #70126 closed

[2018-10-24 14:55] fxposter commented on #60469
We have a kops-generated cluster with 1.10.9 and we observed OutOfcpu while load-testing without using any custom schedulers. We have 3 schedulers (on 3 masters) with leader-elect=true.

[2018-10-24 14:57] fxposter commented on #60469
@bsalamat We have a 1.10.9 kops-generated cluster, which has #63003 merged, but still observed OutOfcpu while doing load testing. We don't use any custom schedulers. We have a 3 node master nodes, each have scheduler deployed with leader-elect=true.

[2018-10-24 15:07] ltupin commented on #26202
Why do we want this immutable ?

[2018-10-24 15:12] #62817 closed

[2018-10-24 15:14] AishSundar commented on #70058
@neolit123 I see https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-stable-on-master job failing as well. Will the 2 open PRs address this failure as well?

[2018-10-24 15:19] #66362 closed

[2018-10-24 15:20] neolit123 commented on #70058
@AishSundar all the kubeadm-gce-x tests are broken at the moment due to the e2e refactor.
we will hopefully decide on how to approach the issue today.

[2018-10-24 15:32] jkohen commented on #52162
Our current approach is to introduce an operator that sets up the environment correctly. @fabxc has a PoC for OpenCensus. I don't believe we are blocked on this request anymore.

[2018-10-24 15:39] emmekappa commented on #64002
got same problem

[2018-10-24 15:49] rmb938 commented on #60164
I have also ran into this issue and cannot find a way to recover the statefulset without loosing the pv to pod mapping. This is very unfortunate and going to cause data loss trying to fix.

[2018-10-24 15:54] neolit123 commented on #69221
i don't see what may cause the issue if all versions match.
i would try setting up a separate cluster, on separate VMs to see if the same issue exists for you.

[2018-10-24 15:56] chrisohaver commented on #69098
Ah, excluding Windows ...

[2018-10-24 15:59] neolit123 commented on #69098
multi-arch != multi-platform

[2018-10-24 16:02] chrisohaver commented on #69098
OK, CoreDNS image manifests lists currently include amd64, arm, arm64, ppc64le, and s390x.

[2018-10-24 16:17] gucki commented on #66757
@shubb30 I assume the keyring and the username you specified don't match. And so ceph will try to load another keyring. What does your keyring and storageclass look like?

[2018-10-24 16:22] jberkus opened #70191 "Multiple test job failures in diffResources"
Testgrid:

*    https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-default
*    https://k8s-testgrid.appspot.com/sig-release-master-blocking#gke-cos-master-default
*    https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new-parallel
*    https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluste

[2018-10-24 16:31] chrisohaver commented on #69098
cc @daschott

[2018-10-24 16:35] AishSundar commented on #70191
/milestone v1.13

[2018-10-24 16:35] AishSundar commented on #70191
/assign @mkimuram

[2018-10-24 16:36] rcsavage commented on #69221
What I ended up having to do is to completely reconfigure my K8S cluster.   I ran kubeadm reset on all my nodes, and on the master.  Then I ran kubeadm init on the master, then re-joined all of the worker nodes, and that seemed to fix the problem.

Once piece of history.  This was a K8s 1.11.3 upgraded to 1.12.1 originally -- perhaps that's why the kubelet-config-1.12 is non-existant?  I did still

[2018-10-24 16:43] yue9944882 opened #70192 "Unexpectedly broken test in OwnerReferencesPermissionEnforcement admission controller"
/kind flake
/sig testing
/sig auth

we are injecting a restMapper into this admisson controller while in its test, the restMapper somehow become empty when we remove internal clientset/informer dependency from it (#70167). now we come up with a walkaround in which we manually init the legacy schema via a dry import so that the built-in resources can be installed. this failing test suggests that th

[2018-10-24 16:50] msau42 commented on #70191
@mkimuram I think `cleanupResource` should delete the PVC and wait for it to be deleted.

[2018-10-24 16:59] code-sleuth commented on #65272
This is a duplicate of issue no. [#68369](https://github.com/kubernetes/kubernetes/issues/68369) and it was resolved.

cc: @liggitt
/close

[2018-10-24 16:59] #65272 closed

[2018-10-24 17:05] mkimuram commented on #70191
@msau42

Thank you for your comment.
I haven't yet catching up, but as for the PVC deletion code in provisioning.go, which is changed in the PR, PVC deletion is done inside [```TestDynamicProvisioning```](https://github.com/kubernetes/kubernetes/pull/69441/commits/4fcb36e205b0a589806debf9ea20d873d8657f7d#diff-6dc833c65b9c544adfb2d654d2f7cbd3R301). Also, waiting for PV deletion is done in [here](ht

[2018-10-24 17:06] pascalgn commented on #57916
@RochesterinNYC We are also storing our resources in git, but we're using [autoapply](https://github.com/autoapply/autoapply) with a custom script _per namespace_, which works fine.

However, I had a look at your issue and could not reproduce your first point:

[code]

Apply works fine:
[code]

And so does delete:
[code]
(those last errors being due to #40653, as you already pointed out)

Maybe it

[2018-10-24 17:09] carsonoid commented on #57073
+1 This is a huge issue. It opens up a very easy dos attack from anyone that has create or update access to any objects in a cluster.

[2018-10-24 17:41] nsidhaye commented on #70179
Which java version you are using? Are you using `-XX:+UseCGroupMemoryLimitForHeap` parameter so JVM is aware of your request & limits parameters ?

Possibly you need to use UnlockExperimentalVMOptions depend on which JDK version you are using.   `-XX:+UnlockExperimentalVMOptions -XX:+UseCGroupMemoryLimitForHeap`

[2018-10-24 17:41] lavalamp commented on #58682
Should we support export for CRDs somehow? It's mentioned above but the link doesn't seem to relate in an obvious way?

[2018-10-24 17:43] shubb30 commented on #66757
CEPH client auth

[code]

Kubernetes secret

[code]

StorageClass

[code]

The Admin secret works fine because it can create the CEPH volumes.  It's just the client that is not working.

[2018-10-24 17:52] pohly commented on #70185
The CI runs seem to have results for hostPath, so I am not sure whether I ran the right test. Needs to be checked.

[2018-10-24 17:53] #69262 closed

[2018-10-24 17:54] bsalamat commented on #60469
@fxposter I am not sure if you are observing the same issue discussed here. If you see that the scheduler does not schedule some pods and indicates that they cannot be scheduled due to OutOfCpu problems, it is a different issue.

[2018-10-24 17:59] veeramarni commented on #67659
I'm using Kubectl client version 1.12.2 on a cluster with 1.10.7 version. And I still see the kubectl connection leaks.

[2018-10-24 18:07] deads2k commented on #70192
/assign @yue9944882

Are you up for trying to figure out how to avoid requiring the internal types?

[2018-10-24 18:09] fxposter commented on #60469
We see that pods are scheduled and assigned to nodes, but afterwards
kubelet does not start them and their state is marked as OutOfcpu

ср, 24 окт. 2018 г., 20:56 bsalamat <notifications@github.com>:

[2018-10-24 18:19] mtaufen commented on #61676
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:30 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:19] mtaufen commented on #61679
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:30 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:19] mtaufen commented on #61677
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:30 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61675
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:30 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61681
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:29 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61680
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:29 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61678
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 9:29 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61662
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 8:28 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:20] mtaufen commented on #61661
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 8:28 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:21] mtaufen commented on #61669
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 8:28 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:21] mtaufen commented on #61670
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 8:27 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:21] mtaufen commented on #61672
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 8:27 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:31] timothysc opened #70194 "RFE: Remove Provider Specific details from e2e tests"
**Is this a FEATURE REQUEST?**:
The e2e tests have details baked in that have existed since the early days around providers.  Recent refactoring has exposed brittleness in how we invoke the tests and TBH provider specific behavioral tests that depend on non-standard APIs should be moved outside of tree.

/kind feature
/sig testing
/cc @neolit123 @pohly @BenTheElder @kubernetes/cncf-conformance-wg

[2018-10-24 18:31] jberkus commented on #70192
What test does this break?  Links?

[2018-10-24 18:32] mtaufen commented on #61651
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 6:25 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:32] mtaufen commented on #61659
/remove-lifecycle rotten
/lifecycle frozen

On Mon, Oct 22, 2018 at 6:24 AM fejta-bot <notifications@github.com> wrote:

--
Michael Taufen
Google SWE

[2018-10-24 18:37] mkimuram commented on #70191
@msau42

Is my understanding right that the purpose of ```diffResources``` is to check whether resource is leaking by checking the diff of resource between the test?

If so, is it correct that the sample output above means that one pd is leaking, not the leak of pv or pvc itself?

I found that [deleting pd logic](https://github.com/kubernetes/kubernetes/compare/327a2bb87...83d3f7033?#diff-921d6855

[2018-10-24 18:43] ixdy opened #70196 "gcr.io/kubernetes-e2e-test-images/pets/zookeeper-installer can't be built"
/kind bug

**What happened**:
The test image pets/zookeeper-installer references an old alpha version of zookeeper:
https://github.com/kubernetes/kubernetes/blob/3abb9f0ad7fd27a52679e395e73a62bebefea6fe/test/images/pets/zookeeper-installer/Dockerfile#L28-L29

This can't be built anymore, as it no longer exists on the server:
[code]

Sure enough, http://apache.mirrors.pair.com/zookeeper/ now lists

[2018-10-24 18:53] tallclair opened #70198 "Add an impersonation test case to the audit E2E test"
We don't currently have any test coverage of impersonation for audit logging. I think the audit e2e test (https://github.com/kubernetes/kubernetes/blob/master/test/e2e/auth/audit.go) would be a good place to do so.

/area audit
/area test
/sig auth
/help
/good-first-issue

[2018-10-24 19:03] P1ng-W1n commented on #67659
Right.. Those connections are kept alive by kubelet, and not by kubectl - that's why you're still affected. In my case upgrading the whole cluster (including kubelet) to 1.12 was the solution (my cluster is used for CI purposes, and we had roughly ~50k "orphan" connections after one or two weeks - since the upgrade the number of connections are bellow 150-200 after a few weeks)
In case you can't u

[2018-10-24 19:06] wojtek-t commented on #66239
/remove-lifecycle stale

/assign @mborsz

[2018-10-24 19:14] bsalamat commented on #60469
If the problem is reproducible, could you please give us your cluster spec (number of nodes, their sizes, your pods' requests). Alternatively, could you please give us some logs (particularly kube-scheduler logs) and status of your nodes?

[2018-10-24 19:18] hogepodge commented on #65618
@smarterclayton @jhorwit2 has any progress been made on some design work related to this issue?

[2018-10-24 19:42] dims commented on #67249
/area etcd

[2018-10-24 19:43] dims commented on #67249
/sig api-machinery

[2018-10-24 19:51] wangzhen127 commented on #70133
The tests are still having some failure. But I think that's not related to my change now?

[2018-10-24 19:52] 2PacIsAlive commented on #22723
/remove-lifecycle stale

[2018-10-24 19:54] pohly opened #70200 "e2e: strict --provider checking"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind cleanup

**What happened**:

In PR #68483 we tightened the --provider parameter checking of the e2e.test binary such that it only accepted known providers. This turned out to be problematic (https://github.com/kubernetes/kubernetes/issues/70058) because people had started to depend on the previous behavior, which was to accept anything and merel

[2018-10-24 19:56] dims commented on #69850
/close

does not seem related to kubernetes

[2018-10-24 19:57] #69850 closed

[2018-10-24 19:57] dims commented on #70179
/sig node

[2018-10-24 19:57] bgrant0607 commented on #69836
@klizhentas please start a discussion on the kubernetes-sig-architecture mailing list.

[2018-10-24 20:01] dims commented on #70160
/sig api-machinery

[2018-10-24 20:04] dims commented on #70153
[code]
from https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.11.md

[2018-10-24 20:13] dilyevsky opened #70201 "Master should schedule Pod on a different node after N failed runs"
/kind feature

**What happened**:

Some of our nodes got into inconsistent state which prevented them from running any new workload (docker login got broken) and master attempted to re-launch Pods on the same node over and over.

**What you expected to happen**:

Master (scheduler?) should give up on node after numerous failed attempts to launch a Pod and try a different node. Wouldn't really do a

[2018-10-24 20:15] dilyevsky commented on #70201
/sig scheduling

[2018-10-24 20:16] msau42 commented on #52242
@qinzhao168 what version did you see the panic on?

[2018-10-24 20:29] shubheksha commented on #60712
ping @juanvallejo, @soltysh - is this WIP for 1.13?

[2018-10-24 20:30] andrewsykim commented on #70159
/assign @thockin

[2018-10-24 20:31] hogepodge commented on #62295
I'm going to close this and invite you to open a new issue in the kubernetes/cloud-provider-openstack repository if it's still impacting you.

/close

[2018-10-24 20:31] #62295 closed

[2018-10-24 20:35] verult commented on #69374
One idea to improve the abstraction and get rid of the type assertion in kubelet.go is to have a PluginHandler interface shared between the CSI and device plugin handlers, something like this:

[code]

then have `csiPlugin` implement this method, and also include a factory method:

[code]

and add something equivalent to the device plugin handler.

[2018-10-24 20:36] billanotheraccount opened #70202 "Flannel (NetworkPlugin cni) error: /run/flannel/subnet.env: no such file or directory"
/kind bug

@kubernetes/sig-contributor-experience-bugs

**What happened**:
Installed a single-node kubernetes cluster on centos 7 (VM running on virtual box); my application pod (created via k8s deployment) won’t go into Ready state

Pod Event:  Warning  FailedCreatePodSandBox . . . Kubelet . . . Failed create pod sandbox: rpc error: code = Unknown desc = failed to set up sandbox . . . network for

[2018-10-24 20:58] dims commented on #70202
/sig network

[2018-10-24 20:59] dims commented on #70153
/close

[2018-10-24 20:59] #70153 closed

[2018-10-24 20:59] dims commented on #69923
/sig cli

[2018-10-24 21:00] dims commented on #70180
/sig testing

[2018-10-24 21:00] dims commented on #69915
/area etcd
/sig api-machinery

[2018-10-24 21:00] jberkus commented on #69444
Yes, and it's now causing another test to fail as well:

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new

Escalating to critical-urgent.  This test has been failing for 3 weeks now, and is potentially blocking visibility into other failures.

/priority critical-urgent
/remove-priority important-soon

[2018-10-24 21:00] dims commented on #69873
/sig cli

[2018-10-24 21:02] dims commented on #69847
/close

there isn't enough information to help here.

[2018-10-24 21:02] #69847 closed

[2018-10-24 21:02] dims commented on #69672
/close

please reopen with info requested above

[2018-10-24 21:02] #69672 closed

[2018-10-24 21:03] dims commented on #69661
please move this issue to https://github.com/kubernetes/kubeadm

/close

[2018-10-24 21:03] #69661 closed

[2018-10-24 21:03] dims commented on #68934
/sig api-machinery

[2018-10-24 21:03] dims commented on #68871
/sig node

[2018-10-24 21:04] timothysc commented on #70194
/cc @kubernetes/sig-cloud-provider-feature-requests

[2018-10-24 21:05] dims commented on #68733
/close

please reopen with more info requested

[2018-10-24 21:05] #68733 closed

[2018-10-24 21:05] dims commented on #68542
/sig node

[2018-10-24 21:06] dims commented on #62577
/sig release

[2018-10-24 21:15] hogepodge commented on #70194
sig-cloud-provider can notify individual providers and help assign work on this enhancement

[2018-10-24 21:33] keyosk commented on #69264
Is anyone actively working on a patch for this? It should be fairly straightforward to add another trimmed hash of the cluster name into the target group name. There's a 32 character limit on the target group name that we'll need to stay under.

[2018-10-24 21:39] PatrickLang commented on #70189
This requires single-file mapping, which won't work in Windows Server version 1803. It should be possible with Windows Server 2019 along with ContainerD

[2018-10-24 21:47] #66680 closed

[2018-10-24 21:47] #70196 closed

[2018-10-24 21:54] andrewsykim commented on #70194
/assign

[2018-10-24 21:59] andrewsykim commented on #70194
@timothysc do we have any details on what tests specifically need changing or are there too many to list?

[2018-10-24 22:06] juanvallejo commented on #60712
@shubheksha I believe we're tracking any remaining client-side work for this feature in https://github.com/kubernetes/enhancements/issues/515.

@smarterclayton Do we have any plans to work on any of the server-side items for 1.13?

[2018-10-24 22:29] schleyfox opened #70207 "Memory and goroutine leak in apiserver when watching events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

At any given time, one of our apiservers will have rapidly increasing memory (and goroutine counts) until OOM.  At that time a new apiserver will start leaking memory.  This is on etcd2.  It seems very similar to https://github.com/kubernetes/kubernetes/issues/65732 .

We believe we have identified the trigger for this as the datad

[2018-10-24 22:31] ixdy commented on #57869
@mkumatag did you have a issue open tracking other images? I noticed today that kube-addon-manager (cluster/addons/addon-manager) is multi-arch but not using a manifest list yet.

[2018-10-24 22:32] schleyfox commented on #70207
@kubernetes/sig-api-machinery-bugs

[2018-10-24 22:38] andrewsykim commented on #70194
nvm, I did a quick scan and it's everywhere 😬

[2018-10-24 23:00] lavalamp commented on #60164
/reopen
/lifecycle-frozen

I personally have experienced this issue and agree it's super annoying.

[2018-10-24 23:03] stpabhi commented on #69503
@andyzhangx I have tried "--feature-gates=AttachVolumeLimit=false" and it's not working. I still see messages

kubelet[39526]: E1024 22:51:02.459065   39526 azure_dd.go:147] failed to get azure cloud in GetVolumeLimits, plugin.host:

[2018-10-24 23:03] rlljorge commented on #69503
I have the same problem here..,  azure_dd.go:147] failed to get azure cloud in GetVolumeLimits, plugin.host:

[2018-10-24 23:15] smarterclayton commented on #60712
No, there’s no urgency either.

On Oct 24, 2018, at 6:07 PM, Juan Vallejo <notifications@github.com> wrote:

@shubheksha <https://github.com/shubheksha> I believe we're tracking any
remaining client-side work for this feature in kubernetes/enhancements#515
<https://github.com/kubernetes/enhancements/issues/515>.

@smarterclayton <https://github.com/smarterclayton> Do we have any plans to
work on a

[2018-10-24 23:21] shubheksha commented on #60712
Thank you for the clarification!
Can we remove the milestone from this issue?

[2018-10-24 23:34] rbtcollins commented on #47893
/remove-lifecycle stale

[2018-10-24 23:39] jberkus commented on #70133
@wangzhen127 I think that's correct.  However, the other failure is blocking getting a green run, so I'd like to hold this open for a day or so in hopes of getting one.

[2018-10-24 23:40] jberkus commented on #70133
On second thought, we have enough passing GKE tests to call this one closed.  Thanks.

/close

[2018-10-24 23:40] #70133 closed

[2018-10-24 23:58] #70191 closed

[2018-10-25 00:02] rbtcollins commented on #62720
@nevola I'm very interested in the DSR story (just technically / future proofing, we haven't hit a performance point where the distinction would be important to us today). What encap are you using to forward to nonlocal pods? How are you telling k8s that the pod is allowed to send from the destination address etc?

FWIW IPVS supports DSR too, so though I'm totally pro nftables the DSR feature shou

[2018-10-25 00:04] lpabon commented on #70013
@jsafrane I think that is the responsibility of the driver, in my opinion. Although we could definitely provide guidelines, we shouldn't provide a solution, since we cannot control their release or update processes.

[2018-10-25 00:28] neolit123 commented on #70139
latest efforts
https://github.com/kubernetes/test-infra/pull/9915

[2018-10-25 00:29] neolit123 commented on #70058
latest efforts:
https://github.com/kubernetes/test-infra/pull/9915

[2018-10-25 00:36] wgliang commented on #70207
The problematic code has been deprecated. This problem existed before version 1.12. The solution that can be thought of is to break function returned()(staging/src/k8s.io/apiserver/pkg/storage/etcd/etcd_watcher.go#178) and return the lock via the context at Stop()(staging/src/k8s.io/apiserver/pkg/storage/etcd/etcd_watcher.go#485).

This seems to be a serious problem.
/priority important-soon
@kube

[2018-10-25 00:56] timoreimann commented on #25251
/remove-lifecycle stale

[2018-10-25 01:04] openstacker commented on #68270
Thanks for the feedback. So far, we know almost all cloud provider(AWS, Azure, OpenStack and vsphere) affected by this bug.

[2018-10-25 01:31] jayunit100 opened #70212 "kubectl cluster-info hangs if cluster is messed up"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

kubectl cluster-info hangs if cluster is unreachable or dead.

**What you expected to happen**:

kubectl cluster-info should timeout after 10 seconds.

**How to reproduce it (as minimally and precisely as possible)**:

- setup kubeconfig to talk to a cluster (i.e create a GKE cluster)
- make the endpoint for the cluster unreachable

[2018-10-25 01:32] jayunit100 commented on #70212
@kubernetes/kubectl-admins

[2018-10-25 01:33] jayunit100 commented on #70212
Minkube reproduces this also...
[code]

[2018-10-25 01:39] jayunit100 commented on #70212
Wait nevermind.  Actually it times out at 26 seconds or so...

[code]

closing :)

[2018-10-25 01:39] #70212 closed

[2018-10-25 03:31] zhangxiaoyu-zidif commented on #55045
"cascade" operation should be apply to this situation. @msau42
should we have do something for it?

[2018-10-25 03:34] chestack commented on #24913
v1.9.8

kubectl edit deploy ****, then update resources works on my env

[2018-10-25 03:34] zhangxiaoyu-zidif commented on #70079
@code-sleuth  there are still bounded PVC, so it is terminating. en, maybe we should add some information to express it. Thanks

[2018-10-25 03:34] #70079 closed

[2018-10-25 04:11] wfwf1990 opened #70218 "kube-dns.yaml , why i/o timeout"
I1025 04:07:14.182379       1 dns.go:48] version: 1.14.6-3-gc36cb11
I1025 04:07:14.182824       1 server.go:73] ConfigMap and ConfigDir not configured, using values from command line flags
I1025 04:07:14.182862       1 server.go:112] FLAG: --alsologtostderr="false"
I1025 04:07:14.182882       1 server.go:112] FLAG: --config-dir=""
I1025 04:07:14.182885       1 server.go:112] FLAG: --config-map=""

[2018-10-25 04:12] wfwf1990 commented on #70218
I am already stop firewalld and selinux!

[2018-10-25 04:14] wfwf1990 commented on #70218
[root@master ~]# kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.11", GitCommit:"1bfeeb6f212135a22dc787b73e1980e5bccef13d", GitTreeState:"clean", BuildDate:"2018-09-28T21:47:08Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.11", GitCommit:"1bfeeb6f212135a22dc787b73e1980e5bccef13d

[2018-10-25 04:35] #68527 closed

[2018-10-25 04:35] #69471 closed

[2018-10-25 05:03] yue9944882 commented on #68871
@kubernetes/sig-auth-misc question: now we allow unregistered node to read pods thru authz. can we  preserve "create" permission at first and allow "read/delete" only after the node's successfully registered

[2018-10-25 05:09] liggitt commented on #68871
can you clarify what information loss you are referring to?

I'm not sure I understand the question. If a node named `foo` is not registered with the API, and does a list of pods with a field selector of `spec.nodeName=foo`, and there are no such pods, returning an empty pod list is correct.

we could, but if writes are permitted, blocking read doesn't seem very useful

[2018-10-25 05:53] andyzhangx opened #70220 "add azure UltraSSD disk support"
**What would you like to be added**:
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-ultra-ssd

**Why is this needed**:
Need to upgrade SDK support to `2018-10-01/compute` (current is `2018-04-01/compute`)

/kind feature

/assign
/sig azure

[2018-10-25 06:05] sfitts opened #70222 "NodePort only responding on node where pod is running"
**What happened**:
I deployed a cluster using kubeadm and Calico.  The command line for the cluster creation was:

[code]

I then followed the Calico instructions and ran:

[code]

Lastly I joined 4 worker to the cluster using the join command generated by the first step.

I then installed the Nginx controller configuring it to use NodePort.  The resulting service definition is:

[code]

This serv

[2018-10-25 06:08] sfitts commented on #70222
/sig network

[2018-10-25 07:04] yue9944882 commented on #68871
@liggitt tricked. i mean "node-create" permission only at the start (before register), then grant the registered node all other permissions. this might make it hard to debug node runtime otoh.

[2018-10-25 07:18] styk-tv commented on #70147
Having a secure way to share a secret like LetsEncrypt Wildcard Cert with cluster or selected namespaces is a long awaited step in right direction. In combination with RBAC deployment mentioned above, I'm sure it will support very many use cases.

[2018-10-25 07:20] LiuQIu7 opened #70229 "kube-proxy call iptables-save or iptables-restore cause kernel panic periodly"
**What happened**:
I have several machines happen kernel panic，and these machine have same dump trace like below:
      KERNEL: /usr/lib/debug/boot/vmlinux-4.4.0-104-generic
    DUMPFILE: dump.201810191633  [PARTIAL DUMP]
        CPUS: 40
        DATE: Fri Oct 19 16:32:38 2018
      UPTIME: 26 days, 05:11:35
LOAD AVERAGE: 8.26, 7.76, 7.45
       TASKS: 1474
     RELEASE: 4.4.0-104-generic
     VER

[2018-10-25 07:35] LiuQIu7 commented on #70229
/sig node

[2018-10-25 07:35] tomasaschan opened #70231 "Emit event when live/readiness probe transitions to success"
When a container in a pod has a readiness probe defined, and that probe has a too short `initialDelaySeconds` value, the events list (from `kubectl describe pod`) can look like this:

[code]
However, as no new event is emitted when the probe state transitions to success, the last event in the list is of type/reason `Warning`/`Unhealthy`, even though the pod is no longer unhealthy.

It would be nic

[2018-10-25 08:02] riya-17 commented on #70198
\assign
@tallclair I would like to work on this issue.
Please give me some tips and instructions which i should take into consideration and will help me accomplishing this task successfully.

[2018-10-25 08:51] pohly commented on #70194
Is the goal to not have any dependency (whether it is direct or indirect) on provider-specific functionality in Kubernetes? The idea behind the `vendor` interface was that tests can still be developed in-tree and different cloud providers can share the same test logic. That doesn't have to be in Kubernetes itself, though; "shared tests" could also be its own repo.

Another concern was raised in th

[2018-10-25 08:59] fxposter commented on #60469
@bsalamat Reproducible with our setup and our application deployments.
Another clarification - we use AWS (with AWS CNI plugin) and cluster autoscaler.
Basically, what I think is happening:
1. new deployment triggers cluster autoscaler to create new nodes
2. node is created
3. deployments' + daemonsets' pods are scheduled on the node in parallel.
4. Deployment pods are stuck forever on the node wi

[2018-10-25 09:09] turowicz opened #70232 "Colon character in environment variable name yields "invalid value""
Similar to #2707

We have .NET Core applications which require `:` in the env names, such as `ApplicationInsights:InstrumentationKey`.

[2018-10-25 09:09] turowicz commented on #70232
/sig node

[2018-10-25 09:11] #68035 closed

[2018-10-25 09:11] #68197 closed

[2018-10-25 09:17] pohly commented on #70185
Indeed, false alarm - sorry guys!

I had missed that the focus pattern now matches two tests, and as @msau42 said, the second one is the internal one and it gets skipped.

[2018-10-25 09:17] #70185 closed

[2018-10-25 10:07] CMADHANKUMAR opened #70235 "Unable to enter into kubernetes pod"
The below one is the pod that i need to login and check out the mount points.

[root@kube-master-0-prodes-1539172764 centos]# kubectl get pod
sNAME                                                      READY   STATUS    RESTARTS   AGE
good-deer-minio-795c9b457d-sbnjg                          1/1     Running   0          31m

But,when i try to login i got the error like below.

[root@kube-master-0-p

[2018-10-25 10:31] neolit123 commented on #70194
my vote would go for no provider implementations in k/k, only interfaces or a framework that can be implemented in third party repos.
in terms of CI, test jobs can always pull code from third party repos and build + run tests so that k8s has good coverage.

[2018-10-25 10:31] #41286 closed

[2018-10-25 10:48] daviddyball commented on #45234
/reopen

[2018-10-25 10:50] daviddyball commented on #45234
I think this is still important.  In heterogeneous clusters with different node types and workloads, I don't want my ELB traffic passed back to a node that might have a higher than normal workload and isn't even hosting the service that the ELB fronts.

[2018-10-25 10:51] nevola commented on #62720
Hi @rbtcollins the first milestone with this project is to integrate nftlb with the same features that kube-proxy provides. Currently, we're implementing a go client separated from the nftlb daemon in order to manage the "translation" layer between k8s and the nftlb API.

The forwarding to non-local pods has not been faced yet, but if you've any concern in that regards please let us know to have i

[2018-10-25 10:55] dbazhal opened #70238 "Node gc can't prune multi-repo images"
**What happened**:
Image cleanup saves orphaned layers referenced in multiple repositories, which leads to node disk pressure.

**What you expected to happen**:
I expect that cleanup removes all untagged, unused images/layers making nodes healthy.

**How to reproduce it (as minimally and precisely as possible)**:
Tag image twice in two different repositories in docker resigtry, use both images on

[2018-10-25 11:02] dbazhal commented on #70238
/sig node

[2018-10-25 11:35] neolit123 commented on #70139
the tests are working on the cluster up/down side, except that they fail when dumping the node logs. looking into it.

[2018-10-25 11:35] neolit123 commented on #70058
the tests are working on the cluster up/down side, except that they fail when dumping the node logs. looking into it.

[2018-10-25 11:51] vadimAnte commented on #45234
AWS EKS.
2 nodes group trough 2 different CloudFormation stacks. One stack in private subnets, second in public. All nodes in private subnets stack automatically labelled as "subnets: private".  All nodes in public subnets stack automatically labelled as "subnets: public".
Private subnets nodes stack: 2-10 nodes for application.
Public subnets nodes stack: 2-3 nodes for LB (Traefik) only.

Would b

[2018-10-25 12:00] benjah1 commented on #40653
@pizzarabe can you provide more details on how it related to VMware?

I am experiencing the same issues. The k8s 1.7 + weave is running in AWS. Tested with one service pod. It responses "fast" from most of the nodes, but about 10% are very "slow".

I also tested the bandwidth between ec2 instances, and they are pretty much the same. I don't know what else to look at.

[2018-10-25 12:43] aalubin commented on #69658
@linericyang thanks for checking.
Can it be related to cgroups? what can prevent from the kubelet to report pods stats?

[2018-10-25 12:47] reiroldan commented on #69503
+1 same case here

[2018-10-25 12:51] max-lobur commented on #27000
Having same issue with own k8s distro here. Would like to see this feature

[2018-10-25 12:51] runcom opened #70239 "[sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] provisioning should provision storage with mount options failing on Fedora/RHEL and CRI-O"
**Which jobs are failing**:

CRI-O job in our CI using kubernetes master tests

**Which test(s) are failing**:

[sig-storage] In-tree Volumes [Driver: nfs] [Testpattern: Dynamic PV (default fs)] provisioning should provision storage with mount options

**Since when has it been failing**:

since this PR has been merged: https://github.com/kubernetes/kubernetes/pull/69441

**Testgrid link**:

link t

[2018-10-25 12:52] runcom commented on #70239
/sig node
/sig storage

[2018-10-25 12:54] runcom commented on #70239
/cc @mrunalp

[2018-10-25 12:56] craftyc0der commented on #3595
It is critically important for me to set the ulimit -n for all the containers on specific nodes in my cluster. Is there any documentation on how to do this?

[2018-10-25 13:05] pizzarabe commented on #40653
@benjah1 this particular problem was related to the used Cisco 1000v switch used by our vmware esxi cluster. It seems to be related to the flannel network we used (vxlan) and the specific 1000v esxi driver (don't know what version it was).
Updating the 1000v drivers on the esxi host fixed the issue. The main problem was, that some of the host used a newer version of the driver and they responded f

[2018-10-25 13:34] #64268 closed

[2018-10-25 13:40] turowicz commented on #70232
solved by using double `_` instead of `:`

[2018-10-25 13:40] #70232 closed

[2018-10-25 13:59] yastij commented on #59848
any news on this @jpbetz

[2018-10-25 14:04] liggitt commented on #64136
/lifecycle frozen

[2018-10-25 14:20] nikhita commented on #70160
/cc @liggitt

[2018-10-25 14:22] ewilansky commented on #24903
I'm also using kubernetes in docker for mac and encountered the same issue. Deleting all replicas, deployments, services and pods didn't help. Eventually, all resources would be recreated. The solution I found was to open Docker for Mac > Preferences > Reset tab and then click Reset Kubernetes cluster.

[2018-10-25 14:31] liggitt commented on #70160
are you running through a proxy? I observe this response from the apiserver:

[code]

that is correctly setting `content-type: application/json`, and encoding the parameter

[2018-10-25 14:33] timothysc commented on #61322
Closing here (WRT) StoreCertsInSecrets I have ideas on how to better approach this for to encrypt the secret on init and only give the shared secret on output of init.

Also self-hosting is going to remain as an unsupported feature due to the security implications around check pointing certain data.

[2018-10-25 14:33] #61322 closed

[2018-10-25 14:34] liggitt commented on #70160
also xref https://github.com/kubernetes/kubernetes/pull/69013 which merged recently

[2018-10-25 14:36] liggitt commented on #68871
whether the node is registered or not doesn't change the fact that no pods for that node existed in the apiserver storage, so it is correct for the apiserver to return an empty set of pods. can you describe a particular misconfiguration you are concerned about?

[2018-10-25 14:41] mysunshine92 commented on #70235
you can try this command
kubectl exec -it good-deer-minio-795c9b457d-sbnjg -- /bin/sh

[2018-10-25 14:44] mwhipple commented on #62489
/remove-lifecycle stale

[2018-10-25 14:53] runcom commented on #70239
I'm still looking at it on our side

[2018-10-25 14:53] rewt commented on #3595
I've documented my experiences here -
https://github.com/helm/charts/issues/8348 and have since moved from Pires
to Helm chart as there were some issues with plugins installing on master
nodes.

On Thu, Oct 25, 2018 at 8:58 AM Joshua Oster-Morris <
notifications@github.com> wrote:

[2018-10-25 14:57] mkimuram commented on #70239
@runcom

This test is newly added in this commit. It tests that nfs external dynamic provisioner can provision a volume with specific mount options and the volume is properly mounted in the pod. The mount options specified in this test are "vers=4.1", "proto=tcp", and "nosuid". (https://github.com/kubernetes/kubernetes/pull/69441/commits/4fcb36e205b0a589806debf9ea20d873d8657f7d#diff-d1a5ece2215eb3

[2018-10-25 14:58] george-angel commented on #60665
/remove-lifecycle stale

[2018-10-25 15:04] runcom commented on #70239
yes, I have a box where I can change them and re-test, do you have suggestions on what to use to test?

[2018-10-25 15:04] runcom commented on #70239
(sorry fat fingers)

[2018-10-25 15:09] runcom commented on #70239
yes, it's failing every time for us

[2018-10-25 15:12] msau42 commented on #70239
Are there kubelet node logs we can look at?

[2018-10-25 15:12] runcom commented on #70239
yes, we have artifacts for each job at https://gcsweb-ci.svc.ci.openshift.org/gcs/origin-federated-results/pr-logs/pull/kubernetes-sigs_cri-o/1870/test_pull_request_crio_e2e_fedora/1368/

[2018-10-25 15:15] msau42 commented on #55045
@kubernetes/sig-apps-feature-requests what do you think about adding a flag to statefulsets to also delete the pvcs during scaledown/deletion?

[2018-10-25 15:19] nikopen commented on #60712
as this is an umbrella issue with various non-urgent fixes/improvements, this can be tagged for v1.14

/priority important-longterm
/milestone v1.14

[2018-10-25 15:19] nikopen commented on #60712
/remove-priority important-soon

[2018-10-25 15:20] AndriiOmelianenko opened #70241 "config map vs secret to store credentials for Postgres deployment"
**What happened**:
When I tried to reference credentials stored in a secret's values to Postgres - it didn't worked properly.

1. create a secret
[code]

2. Reference those secrets as environment variables in Postgres deployment:
[code]

3. try to connect to DB from container:
[code]
As you can see - the user weren't created.

**What you expected to happen**:
Please take a look at the same flow, b

[2018-10-25 15:32] msau42 commented on #70239
@mkimuram do you think we could make the test easier to debug and figure out which mount option doesn't work?

[2018-10-25 15:34] runcom commented on #70239
yes, I'm trying to add something to that command to at least have some logs if that fails cause right now, if you do kubectl get logs on the failing pod you don't get anything

[2018-10-25 15:36] runcom commented on #70239
@mkimuram looks like removing `nosuid` makes the container happy and test as well. I'm not sure why it fails on rhel and fedora though, I'll dig into that, but yeah, we could use something different if possible

[2018-10-25 15:45] runcom commented on #70239
confirmed that if I remove nosuid the test works fine, I"m modifying the test code to output something useful in case it fails

[2018-10-25 15:46] mkimuram commented on #70239
@runcom

Thank you for your quick investigation and improvement!

[2018-10-25 15:46] andrewsykim commented on #70194
There's a muddled boundary between what is "provider specific" and what tests are "generic" but only pass on certain providers (like [this test](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/rc.go#L51-L57)). The latter becomes harder to reason with because we need to decouple the provider specific parts in Kubernetes itself (an effort we are working on now) before we we can de

[2018-10-25 15:47] runcom commented on #70239
I'm going to open a PR for the test output to have something useful (`|| mount | grep 'on /mnt/test'`) and understand why it fails with `nosuid`

[2018-10-25 15:48] wongma7 commented on #70239
sorry, I am the one who wrote that hideous bash one-liner. TY for any patches

[2018-10-25 15:49] ddebroy commented on #69996
As discussed on Slack, best way forward would be to move to Docker 18.09 beta: https://download.docker.com/components/engine/windows-server/18.09/docker-18.09.0-beta3.zip . 18.09 version of Docker EE will be out shortly in November and aligns well with the Kube 1.13 release in December.

[2018-10-25 15:51] andrewsykim commented on #70194
@pohly to answer your question directly, yes the goal is the get rid of all cloud provider depenencies in `k8s.io/kubernetes`. Though there will be a transitional period where we'll vendor `k8s.io/cloud-provider-<provider>` instead of `k8s.io/kubernetes/pkg/cloudprovider/providers/<provider>` so all the dependencies of a cloud provider can be easily added/removed from k/k.

[2018-10-25 15:59] runcom commented on #70239
so, `nosuid` isn't shown:
[code]
is that required for the test? can we have another option checked instead? @mkimuram

[2018-10-25 16:00] runcom commented on #70239
maybe we can use `relatime`? who is setting `nosuid` and where?

[2018-10-25 16:05] runcom commented on #70239
PTAL at #70243 @msau42 @mkimuram @wongma7

[2018-10-25 16:10] AishSundar commented on #70151
@jberkus do we want to route this to anyone specific in cluster-lifecycle for deflaking?

[2018-10-25 16:11] bgrant0607 commented on #53201
I agree with double underscores:
https://stackoverflow.com/questions/40094998/asp-net-core-environment-variable-colon-in-linux

[2018-10-25 16:14] tobymiller1 commented on #3595
@rewt I can't get your solution to work, because ulimit can't do this as a non-root user, and elastic won't run as root. K8s doesn't seem to respect the /etc/security/limits.conf file of the host (or the image - which makes sense) so I can't find a way to get this right for elastic. We have swap on, which is why it's a problem at all.

[2018-10-25 16:17] runcom commented on #70239
do you guys have any insight on this? @msau42 @mkimuram @wongma7

[2018-10-25 16:19] spiffxp commented on #69601
Should we tag this test with a `[MultiNode]` tag or something to signify this can't work on a single node cluster?

[2018-10-25 16:21] rewt commented on #3595
You need to:

1.  Create new dockerfile
2.  Add code to container definition to allow execution of ulimit

https://github.com/rewt/elasticsearch-mlock

On Thu, Oct 25, 2018 at 12:16 PM tobymiller1 <notifications@github.com>
wrote:

[2018-10-25 16:31] rewt commented on #3595
I found the placement of securityContext code was very specific and
described placement in link above.  I placed as follows:

        - name: ES_JAVA_OPTS
          value: "-Djava.net.preferIPv4Stack=true -Xms{{
.Values.data.heapSize }} -Xmx{{ .Values.data.heapSize }}"
        {{- range $key, $value :=  .Values.cluster.env }}
        - name: {{ $key }}
          value: {{ $value | quote }}

[2018-10-25 16:50] tobymiller1 commented on #3595
@rewt Thanks for your help. That is the configuration that I have, but it doesn't seem to allow ulimit to act as non-root in this way, and I don't understand why it should. I don't want to take over this thread though - I think we'll look for an alternative solution.

[2018-10-25 16:58] mkimuram commented on #70239
@runcom

As for this e2e test, we will be able to use any options which are valid for nfs e2e test, because the purpose of the test is to check that the volume mount options work well for provisioning and the options are properly reflected to the mount options inside the pod.

(Actually, I chose ```nosuid``` for nfs test just because I found it first.)

As for ```nosuid``` issue for nfs dynamic pr

[2018-10-25 17:35] foxish commented on #70139
@neolit123 @feiskyer, this is still blocking the release.
cc @krzyzacy @BenTheElder, can you help investigate this further?

[2018-10-25 17:41] neolit123 commented on #70139
@foxish
still waiting on some test jobs to finish.

[2018-10-25 17:45] runcom commented on #70239
exactly, thanks, I'm going to investigate it _not_ as part of this PR

[2018-10-25 17:53] khenidak opened #70246 "Azure: Instance metadata fixes and improvement"
- Azure cloud provider does not correctly handle failed calls to instance metadata endpoint. We currently handle transport errors but we don't handle response errors. Ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_instance_metadata.go#L113

we should handle `resp.statusCode != 200`-- This currently yields into empty ip address assigned to node obj

[2018-10-25 17:54] khenidak commented on #70246
@kubernetes/sig-azure

[2018-10-25 18:01] ixdy commented on #40248
One issue with using scratch: during cluster startup, DNS may not be functional, and so we may need an `/etc/nsswitch.conf` and `/etc/hosts` to resolve localhost in this situation. (x-ref #69195)

[2018-10-25 18:10] jpbetz commented on #64002
Anyone able to construct steps to reproduce the issue?  Details will be a huge help here.

[2018-10-25 18:12] tallclair commented on #40248
Yeah, we may want a base image that is basically scratch + some configuration files. Other candidates for inclusion would be ca-certificates (although I think I prefer the solution in https://github.com/kubernetes/kubernetes/pull/67620), `resolve.conf`. I'd be surprised if something like this doesn't already exist somewhere?

[2018-10-25 18:15] mbohlool commented on #38637
According to https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior
we need to wait 1 year before deprecating a feature. Kubernetes 1.8 was the last version using swagger 1.2 and kubernetes 1.12 marks the one year waiting period. This can be now removed from 1.13.

[2018-10-25 18:20] ixdy commented on #40248
I've heard distroless tossed around a few times as a good option. https://github.com/GoogleContainerTools/distroless/tree/master

It even includes nsswitch.conf and friends.

[2018-10-25 18:36] MrHohn commented on #70222
@sfitts Set `externalTrafficPolicy: Cluster` should achieve what you need?

Ref https://kubernetes.io/docs/tutorials/services/source-ip/.

[2018-10-25 18:37] tallclair commented on #40248
The [distroless base image](https://github.com/GoogleContainerTools/distroless/tree/master/base) is probably a good source of inspiration, but it still includes glibc, openssl & libssl, meaning we still need to manage CVEs (not techincally, because they wouldn't be used, but it's easier to ensure they're not being used when they're not there.

BTW, here is a list of `/etc/*` files referenced from

[2018-10-25 18:37] neolit123 commented on #70139
1.11 should be unblocked now.

[2018-10-25 18:42] hhoover opened #70248 "IPv6-only cluster e2e Testing Issues"
**Which test(s) are failing**:

### Test regex is looking for an IPv4 address

[Fail] [sig-api-machinery] Downward API [It] should provide pod name, namespace and IP address as env vars [NodeConformance] [Conformance]
/workspace/anago-v1.11.3-beta.0.71+a4529464e4629c/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/util.go:2325

[Fail] [sig-api-machinery] Downwa

[2018-10-25 18:45] sfitts commented on #70222
@MrHohn thanks -- that caused me to take a closer look at this -- https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#over-a-nodeport-service.  If I want to use Local (to preserve the client IP) then I'll need to run the Nginx controller on all nodes (or at least all nodes in the balancing set).  Or I can get the routing, but lose the IP preservation.

Thanks -- closing.

[2018-10-25 18:45] #70222 closed

[2018-10-25 18:49] tallclair opened #70249 "Rebase most docker images on gcr.io/distroless/static"
EDIT (from @justaugustus - 5/8/20):

### `go-runner` (distroless++) (@dims)

- [x] (https://github.com/kubernetes/kubernetes/pull/90804) New go-runner image for distroless scenarios
- [x] (https://github.com/kubernetes/k8s.io/pull/849) Promote the new `go-runner` image - `v0.1.0`
- [x] (https://github.com/kubernetes/kubernetes/pull/90852) Bump `go-runner` to `v0.1.1`
- [x] (https://github.com/kube

[2018-10-25 18:50] tallclair commented on #40248
I think this deserves it's own issue, rather than commenting on a closed one :) Filed https://github.com/kubernetes/kubernetes/issues/70249

[2018-10-25 18:50] BenTheElder commented on #69601
I'm not sure if we should have a profile, that sort of thing seems like it will lead to fragmentation but ...
I do think it would be sad if we can't call EG minikube conformant, and I think development clusters are quite important.

[2018-10-25 18:51] tallclair commented on #70249
/sig cluster-lifecycle

[2018-10-25 18:57] janetkuo opened #70251 "Job's backoffLimit needs to take number of failed pods into account"
Job controller uses [`NumRequeues`](https://github.com/kubernetes/kubernetes/blob/b6fd5d93b2048ae19cbcf21bafdd5cd7249d1f33/pkg/controller/job/job_controller.go#L465-L466) of the Job workqueue to calculate backoffLimit. This makes backoffLimit unpredictable especially when a job with parallelism larger than 1 and when its restartPolicy is `Never`.

Take this job for example:
[code]

The job will ev

[2018-10-25 19:02] BenTheElder commented on #70194
+1 to what @neolit123 said, though I will add that presumably these tests are necessarily coupled to the provider implementations, and imo should be versioned with them, so I think probably they should move out together, provider and provider tests.

I don't think this is acceptable. The CSI interface should be fully test-able without vendor specific details in the tests and vendor specific testin

[2018-10-25 19:13] pohly commented on #70194
Benjamin Elder <notifications@github.com> writes:

Some tests aren't specific to *one* provider, but depend on
functionality provided only by *some* providers via provider-specific
APIs. If those kind of tests aren't welcome in Kubernetes itself
anymore, then we'll need this extra "shared tests repo", because they
can't (or rather, shouldn't) be moved into the repos of each vendor
either.

Somethi

[2018-10-25 19:17] antoineco commented on #66735
I'm facing the same issue in Kubernetes 1.10.9 with a fresh namespace.

[code]

Few minutes after the deletion, the controller-manager shows absolutely nothing (`-v=2`).

Some objects are apparently still around:
[code]

As suggested elsewhere, the only way to delete my namespaces is to send the following payload to `https://apiserver:port/api/v1/namespaces/myns/finalize` (**notice the empty final

[2018-10-25 19:33] timothysc commented on #70248
/sig testing
/sig networking
/king bug
/cc @kubernetes/sig-testing @kubernetes/sig-network-misc

[2018-10-25 19:40] BenTheElder commented on #70248
So far kubeadm-dind-cluster is the only thing offered up for CI to test this, there's some ongoing work from @leblancd to do this.

[2018-10-25 19:44] timothysc commented on #70248
@BenTheElder When can we put kind on the hot-seat?  We could pilot with a sig-cluster-lifecycle periodic job?

/cc @neolit123

[2018-10-25 19:50] BenTheElder commented on #70194
anymore, then we'll need this extra "shared tests repo", because they
can't (or rather, shouldn't) be moved into the repos of each vendor
either.

That seems unfortunate, ideally that should still be behind a k8s style API / interface. I'm not sure that those are necessarily unwelcome so much as something we should avoid. I'd hope we aim for tests to generally be of high enough quality to move tow

[2018-10-25 19:54] BenTheElder commented on #70248
`kind` has some conformance test CI [here](http://testgrid.k8s.io/conformance-providerless) for now (I am to split that dashboard into one for kind and one for local-up-cluster). Normal / serial conformance testing is quite stable, pretty much the only failures in the past month have been a build/network flake or two and the e2e test provider breakage.

We could put it in the hot seat nowish, it's

[2018-10-25 19:56] timothysc commented on #66826
Closing, please follow https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#14-installing-kubeadm-on-your-hosts for .rpm and .deb distros.

If you have issues, please open them here - https://github.com/kubernetes/kubeadm

[2018-10-25 19:56] #66826 closed

[2018-10-25 19:59] neolit123 commented on #70194
functionality provided only by *some* providers via provider-specific
APIs. If those kind of tests aren't welcome in Kubernetes itself
anymore, then we'll need this extra "shared tests repo", because they
can't (or rather, shouldn't) be moved into the repos of each vendor
either.

could you provide an example of such a test?
if a single test is importing bits from different c-provider SDK/API it f

[2018-10-25 20:01] enisoc commented on #55045
Scale-down is a different enough scenario that I think we could focus on just deciding whether or not to support deleting PVCs on StatefulSet deletion. StatefulSet intentionally leaves PVCs around after scale-down so that scale-up will be faster, and I haven't heard feedback from users saying this creates unexpected waste. By contrast, we have heard (as in this thread) that leaving the PVCs behind

[2018-10-25 20:15] timothysc commented on #66852
You need to apply your CNI.  If you are still having issues when following these instructions - https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#14-installing-kubeadm-on-your-hosts

Please open an issue here - https://github.com/kubernetes/kubeadm

[2018-10-25 20:15] #66852 closed

[2018-10-25 20:18] GregSilverman commented on #63900
I rebuilt my cluster, and now this works on 2-nodes (master and a worker), but cannot get it to work on the other 2-nodes. This is nuts.

[2018-10-25 20:19] jennybuckley commented on #69776
cc @mbohlool

[2018-10-25 20:29] jennybuckley commented on #70207
cc @caesarxuchao

[2018-10-25 20:29] jennybuckley commented on #70160
cc @jennybuckley

[2018-10-25 20:35] BenTheElder commented on #70248
Maybe? We also have ipv6 loopback etc though, and an """External IP address""" for the node container. It depends on what exactly we need to test. Here it looks like just tolerating ipv6 addresses in places, which shouldn't actually require multi-node afaict. Not sure about other tests though..

Nope, see the dashboard above. All of the tests listed here are conformance, and `kind` is passing thos

[2018-10-25 20:41] jberkus commented on #64450
Hey, now that there is debugging, is anyone looking at deflaking this test?

[2018-10-25 20:41] neolit123 commented on #70248
ok, sounds good.

is it passing them for 1.11 too btw?

for conformance in particular, since kind is already passing conformance tests, what extra coverage would we need under a sig-cluster-lifecycle job?

[2018-10-25 20:46] tallclair commented on #70198
Take a look at the existing audit tests (linked in description), and the documentation on [impersonation](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#user-impersonation). I recommended doing a manual test first, so you understand how it works. The audit test actually already uses impersonation (https://github.com/kubernetes/kubernetes/blob/12cf5451952c8425a47334465f3e03

[2018-10-25 20:47] jberkus commented on #69475
OK, we're down to a couple known issues causing these tests to fail, so there's no real value in a tracking issue.

/close

[2018-10-25 20:47] #69475 closed

[2018-10-25 20:47] tallclair commented on #70198
Also, if you need help with the e2e framework, https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md is the place to start.

[2018-10-25 20:48] mrogers950 commented on #63732
@mikedanese OpenShift has a controller for issuing serving certs, that creates TLS secrets (with certs issued for internal DNS names) for services that have a specific annotation.  This results in a lot of inter-dependency between the services, secrets and pods that becomes difficult to manage, especially as we look into CA renewal and shorter-lived certs. So I think that enabling the CSR API for

[2018-10-25 20:51] davidz627 commented on #70194
/cc @saad-ali @msau42 @mkimuram

For storage:
This is already on our radar. That being said, this would be a huge change and I believe we have a multi-stage plan to address this.
In the near term @mkimuram is doing some refactoring of the tests which helps clarify the distinction between providers (drivers) and test suites (run for each provider).
In the slightly longer term I believe @pohly and @

[2018-10-25 20:53] jberkus commented on #70248
this test failure looks to be non-blocking from the description.  setting priority appropriately.

/priority important-longterm

[2018-10-25 20:55] jberkus commented on #70239
Since this test failure is non-blocking for release, setting priority approprately.

/priority important-longterm

[2018-10-25 21:04] andrewsykim commented on #70194
cc @d-nishi

[2018-10-25 21:08] rpothier commented on #70248
/area ipv6

[2018-10-25 21:30] BenTheElder commented on #70248
yes :-)

not sure. I plan to move those to their own conformance dashboard (as well as the -all) and then discuss further if we want to depend on these more soon.
Getting a last end-user (not ci!!) breaking change out the door then getting a stable release w/ binaries etc. currently, then a kubetest deployer before I bring that up myself.

[2018-10-25 21:50] jberkus commented on #69600
It's still green, so I'm going to lower the priority of the fix.

/priority important-longterm
/remove-priority important-soon

[2018-10-25 21:51] riya-17 commented on #70198
Ok, thank you :)

[2018-10-25 21:56] jberkus commented on #70192
OK, setting priority so that I know this isn't a 1.13 blocker.

/priority important-longterm

[2018-10-25 21:58] BenTheElder commented on #70194
Not suggesting just "mock" drivers, though those would be great too, but "actual" drivers for say, NFS, which we can run using only what is in tree, or even using other "actual" drivers but making _the test logic_ (IE e2e.test) only depend on EG the CSI, w/o vendor details in the tests.

We can also have other tests block releases (EG some CI job integrating k/k and a vendor driver..), but we real

[2018-10-25 22:09] pmahalwar-intertrust commented on #15478
It would be nice to be able to customized docker logopts. In my case, I would like to set a tag such as '--log-opt tag="{{.ImageName}}/{{.Name}}/{{.ID}}"' to emit ImageName to the logs so that I know which version are they coming from. (Reference : https://docs.docker.com/config/containers/logging/log_tags/)

[2018-10-25 22:11] pmahalwar-intertrust commented on #15478
/remove-lifecycle stale

[2018-10-25 22:32] hulu1522 opened #70257 "ConfigError error=Unknown filter plugin 'concat'"
**What happened**:
fluentd-es-v2.2.1 seems to be missing a gem when starting up.

**What you expected to happen**:
The pod starts up

**How to reproduce it (as minimally and precisely as possible)**:
Deploy `fluentd-es-ds.yaml` with corresponding configmap

**Anything else we need to know?**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- OS (e.g. from /etc/os-rele

[2018-10-25 22:34] msau42 commented on #70194
No single driver, except maybe a mock driver, can test the full functionality of the CSI interface.  For example, NFS can test mount/unmount, but in order to test attach/detach, you need a cloud-provider volume plugin.  Same goes for other storage features like snapshots and topology.  For storage, at least, we'll need a combination of "common" drivers like nfs along with cloud provider specific p

[2018-10-25 22:36] hulu1522 commented on #70257
/sig fluentd

[2018-10-25 22:36] caesarxuchao commented on #70207
Thanks for the detailed investigation.

etcd2 is deprecated, @jpbetz do we plan to maintain etcd2 code in previous releases?

/assign @jpbetz

[2018-10-25 22:45] jberkus commented on #70151
@timothysc, can you get someone to look into this?

[2018-10-25 22:49] johnbelamaric commented on #63900
Did you take a look at the link above - https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

you can probably jump to the section:

https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/#does-the-service-work-by-ip

and proceed from there

[2018-10-25 22:51] BenTheElder commented on #70194
:+1: Also discussed this offline with @davidz627, I think mostly we had some terminology mismatch. All of the work coming out of storage for this looks great :100:
I think we'll be in a much better place within a few releases.. we (David and I) at least plan to follow up ~beginning of the next cycle about getting specifically some more testing targeting CSI into release-blocking.

[2018-10-25 22:58] tallclair commented on #63732
@mrogers950 I don't think anyone is working on this at the moment. We've had some casual conversations about it, but that's it. If you're interested, we'd definitely welcome a KEP. If you're interested, I'd be happy to chat or help validate preliminary designs before writing up a full KEP. It would also be a good topic for a sig-auth meeting.

[2018-10-25 23:04] jingyih commented on #70082
Are you using SSD or HDD?  (I think t2 and t3 instances could come with either SSD or HDD?)  Do you see 'wal: sync duration of' warning message with etcd v3.2.18?

[2018-10-25 23:30] andyzhangx commented on #70246
/sig azure
/kind bug

[2018-10-25 23:35] msau42 opened #70258 "Remove out of tree pd test config"
**What happened**:
Remove out of tree plugin config introduced in https://github.com/kubernetes/kubernetes/pull/70254 once we can refactor the e2e tests enough to be able to vendor them as a library in external repos according to https://github.com/kubernetes/kubernetes/issues/69819

/assign

/king bug

[2018-10-25 23:37] msau42 commented on #70258
@kubernetes/sig-storage-bugs

[2018-10-25 23:40] msau42 opened #70259 "CSI tests are explicitly setting pod node name, which bypasses the scheduler"
**What happened**:
CSI tests are setting node name in the test pods [here](https://sourcegraph.com/github.com/kubernetes/kubernetes/-/blob/test/e2e/storage/csi_volumes.go#L83).  This is only needed for hostpath tests, but not for most other drivers.  This requirement should be pulled out into some sort of plugin config.

@sig-storage-bugs

/king bug

[2018-10-25 23:40] msau42 commented on #70259
@mkimuram does your PR to merge in-tree + csi tests address this?

@kubernetes/sig-storage-bugs

[2018-10-25 23:46] feiskyer commented on #70246
Let me start adding the cache next week.

[2018-10-25 23:48] feiskyer commented on #70189
Will it work with Docker on Windows Server 2019?

[2018-10-25 23:53] jpb opened #70261 "kubectl apply from STDIN does not work with ExecCredential providers that require input"
ExecCredential providers, such as [aws-iam-authenticator](https://github.com/kubernetes-sigs/aws-iam-authenticator), that interactively prompt for user input, such as when using [MFA](https://aws.amazon.com/iam/details/mfa/), do not work properly when calling `kubectl apply -f -` to apply from STDIN.

I chose to open this ticket here instead of in kubernetes-sigs/aws-iam-authenticator because it a

[2018-10-25 23:54] jpb commented on #70261
/sig cli

[2018-10-25 23:56] PatrickLang commented on #70189
Not in 18.09 or earlier. I'm not sure what release it will be in because it will require migrating to containerd.

[2018-10-26 00:06] jpbetz commented on #70207
the etcd community supports etcd 3.1+.  So if a issue would require changes to the etcd2 codebase and a subsequent backport to a supported k8s branch to be fixed, I recommend instead upgrading etcd to resolve the issue.

[2018-10-26 00:14] leblancd commented on #70248
Some triaging on these failures:

- **Test is looking for an A record, vs an AAAA record:**
These failures look like K/K issue [#62883](https://github.com/kubernetes/kubernetes/issues/62883).
This was deemed to be a kube-dns issue (inability to handle PTR probes), but works with coreDNS. Since coreDNS is expected to be the default DNS server soon, this was closed.

- **Test regex is looking for an

[2018-10-26 00:18] PaulFurtado opened #70262 "Support m5/c5/etc ebs-nvme volumes directly via ioctl, without udev symlink tricks"
For background, all ec2 instances on the nitro platform (c5/m5/i3.metal/etc) use a hardware controller to attach ebs volumes and present the volumes to the instance as nvme devices.

Currently, Kubernetes supports these, but does so via symlinks in `/dev/disk/by-id` which are created by special udev rules. Unfortunately, that means users on linux distros without these udev rules must take them fro

[2018-10-26 00:41] PaulFurtado commented on #70262
/sig storage

[2018-10-26 00:52] andrewsykim commented on #70159
Did you mean to ping @erictune?

Can you clarify this a little bit? Do you mean that some providers can have multiple types of LBs so a single provider ID format is not sufficient to cover those types or did you mean there are implementations that create multiple LBs so more than 1 provider ID is associated with a Service?

To add more to the issue description, this is in relation to https://githu

[2018-10-26 01:06] dims opened #70264 "Use a forked version of glog in kubernetes"
Based on the discussion in SIG-Arch on Oct 25 and previous experiment in https://github.com/kubernetes/kubernetes/pull/69333, we should start by forking glog, cleanup the code to suit our use cases and switch over to it. Also see issue https://github.com/kubernetes/kubernetes/issues/61006

Tasks:
- [x] Request a new repository for the forked code in https://github.com/dims/klog in the kubernetes o

[2018-10-26 01:06] dims commented on #70264
/sig architecture

[2018-10-26 01:16] foxish commented on #70139
This appears to be fixed now. Thanks all!
/close

[2018-10-26 01:16] #70139 closed

[2018-10-26 01:55] hmtai commented on #70160
This is the injected JavaScript response:
![18971540518649_ pic](https://user-images.githubusercontent.com/37067719/47539823-d4e9f880-d904-11e8-8317-68069950b9bd.jpg)
@liggitt and I use kubernetes 1.11.3 ,from this response to see,it is a high risk if attackers injecte other script.

[2018-10-26 02:00] liggitt commented on #70160
What component is openresty? That appears to be turning escaped json content into unescaped html content.

[2018-10-26 02:15] hmtai commented on #70160
My openresty version is 1.13.6.2.

[2018-10-26 02:19] Pingan2017 opened #70267 "display EphemeralStorage usage with 'kubectl describe node'"
**What would you like to be added**:
display EphemeralStorage usage with 'kubectl describe node' , like;
[code]

**Why is this needed**:
ephemeral-storage is a standard ContainerResources like CPU and Mem now. but now we don't display it in the node state.
[code]

/kind feature
/sig cli
cc @soltysh

[2018-10-26 02:32] ashi009 commented on #66401
/remove-lifecycle stale

[2018-10-26 03:19] qinzhao168 commented on #52242
@msau42

 kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.2", GitCommit:"bb9ffb1654d4a729bb4cec18ff088eacc153c239", GitTreeState:"clean", BuildDate:"2018-09-19T07:01:43Z", GoVersion:"go1.10.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"11+", GitVersion:"v1.11.0-168+f47446a730ca03", GitCommit:"f47446a730ca037473fb3bf0

[2018-10-26 03:28] celamb4 commented on #25908
Following this issue. Also using cloud_sql_proxy container as side car in cronjob

[2018-10-26 03:30] wenlxie opened #70270 "Pod can't be deleted because of feature disabled"
**What happened**:
1. We used to run k8s1.9, which has volume subpath feature enabled.
 https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath

Then user create pods with volume subpath.
User's pods have finalizers.

2. Since we met many issues with this feature at k8s 1.9.
related link: https://github.com/kubernetes/kubernetes/issues/61563
We decide to disable this feature when we upg

[2018-10-26 03:30] wenlxie commented on #70270
/sig api

[2018-10-26 03:32] liggitt commented on #70270
/assign
/sig api-machinery

[2018-10-26 04:31] CMADHANKUMAR commented on #70235
It works well,thank you !

[2018-10-26 04:31] #70235 closed

[2018-10-26 04:49] #32803 closed

[2018-10-26 05:47] DylanBLE commented on #65257
/close

[2018-10-26 05:47] #65257 closed

[2018-10-26 05:47] thockin commented on #70159
yes, I meant @erictune because he was doing some thinking in this area

What I meant is that there's no requirement than an external load-balancer be represented as a single resource.  E.g. in GCP it's actually 3 resources (FwdRule, HealthCheck, TargetPool).  An Ingress is more like 5 resources.  Which backend thing would this carry, and what about the rest?  Comparatively, I can define as many gc

[2018-10-26 05:50] Khaja514 commented on #62511
I am also facing same issue when i am trying to connect my pod using eks kubectl.

$ kubectl exec -it delegate-portal-5f669855f9-82drh bash
Error from server: error dialing backend: dial tcp XXXXXXX:10250: getsockopt: connection refused

$kubectl logs delegate-portal-5f669855f9-82drh
Error from server: Get https://1XXXXXX:10250/containerLogs/default/delegate-portal-5f669855f9-82drh/delegate-portal

[2018-10-26 06:35] nrobert13 commented on #15478
@pmahalwar-intertrust you can pass the same --log-opt to the docker daemon, which will affect all your containers ...

[2018-10-26 06:51] #60471 closed

[2018-10-26 07:08] whereisaaron commented on #15478
@pmahalwar-intertrust the logs collected from `containerd` by kubernetes already includes extensive metadata, include any labels you have applied to the container. If you collect it with `fluentd` you'll get all the metadata e.g. as in the log entry below.

[code]

[2018-10-26 07:30] cohadar commented on #69620
Max 3-4.

On Fri, Oct 26, 2018 at 1:23 AM Alexey Dubkov <notifications@github.com>
wrote:

[2018-10-26 07:52] kernelsky opened #70275 "About pods dns parsing problem"
my pod namespace is kube-test，But the service name is this default
[code]
Use defaulc to parse （ business-org.default.svc.cluster.local）
[code]
Cannot be parsed using kube-test（business-org.kube-test.svc.cluster.local）
[code]

cat business-org.yaml
[code]
/ sig network
/ sig node

[2018-10-26 08:05] kernelsky commented on #70275
kubernetes version
[code]
coredns version
`coredns:v1.2.2`

[2018-10-26 08:17] kernelsky commented on #70275
/ sig coredns

[2018-10-26 08:30] pohly commented on #70194
"Lubomir I. Ivanov" <notifications@github.com> writes:

You can have a look at
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/provider.go
and its ProviderInterface. It has methods that are typically
implemented differently by at least two cloud providers and used by
shared tests.

Let's pick something that isn't for storage, because we've already
discussed that and I want

[2018-10-26 08:32] apodkutin commented on #47264
@linse, @clhodapp Actually, there is a way to avoid `Deployment in version "v1beta1" cannot be handled as a Deployment: unexpected end of JSON input)`
If there is no deployment created yet, you can remove:
[code]
and left only `initContainers:`, deployment will have been created without errors and init container will be there.
And if you already have deployment in your namespace you can left:
[cod

[2018-10-26 08:41] qdrop17 commented on #66735
Hi everyone.

I face the same issue. But my `kubectl get apiservices v1beta1.metrics.k8s.io -o yaml` shows up no errors:

[code]

Yet I'm only able to remove the namespaces doing the following API-request (kubectl proxy):

`curl -k -H "Content-Type: application/json" -X PUT --data-binary @tmp.json 127.0.0.1:8001/k8s/clusters/c-ckzdb/api/v1/namespaces/non-deletable-namespace/finalize`

(removing th

[2018-10-26 08:46] D-PENG commented on #70275
I found that the Service in your yaml file does not specify a namespace, run `kubelet get svc -n kube-test` to see if there is a Service created.

[2018-10-26 08:51] nrvnrvn commented on #60099
@bradhoekstra Is there a chance this could be reported back as a bug and the change backported as a bug fix to previous releases?
It is actually easy to backport but other than a mere PR what steps should be made?

[2018-10-26 08:58] kernelsky commented on #70275
[code]
[code]

Namespace created with the command
`kubectl create namespace kube-apabi`

Also create svc separately?

[2018-10-26 09:00] D-PENG commented on #70202
I am using a binary running flannel.
After starting flanneld with the `systemctl` command, `mk-docker-opts.sh -i` is automatically executed to generate the following two file environment variable files.

flanneld.service add `ExecStartPost=/usr/libexec/flannel/mk-docker-opts.sh -k DOCKER_NETWORK_OPTIONS -d /run/flannel/docker`

[2018-10-26 09:01] lovejoy commented on #27000
We made some modification to  k8s to add storage limit option to pod's resource ,and it use the blkio cgroup to control device read-write bandwidth. Although we now that the blkio can't control all the io bandwidth ,It works well now.

[2018-10-26 09:08] D-PENG commented on #70275
`ping business-org.kube-test.svc.cluster.local` the premise is that namespace kube-test exists business-org.so,service needs to add namespace: kube-test

[2018-10-26 09:18] D-PENG commented on #70181
I have encountered this situation before, caused by the low value of `net.ipv4.tcp_mem` ，can adjust the kernel parameters,If this is the reason, `messages `will print the relevant logs.

[2018-10-26 09:36] alexandersauerbier commented on #30656
+1
(I run into the same issue as @SimenB - I'd like to install stuff for debugging purposes. Bye the way, thanks for the "use docker directly" hint )

[2018-10-26 09:49] jessinrodenburg commented on #60140
I still have this issue, does anybody know a workaround?

[2018-10-26 09:52] dbluxo commented on #52172
+1

[2018-10-26 10:32] jaceq commented on #45779
I had same issue, in my case selector on headless service was wrong. Do you guys see all pods in headless service?

[2018-10-26 10:46] fasaxc opened #70279 "Windows GotPodNetworkStatus assumes addToNetwork is idempotent, it's not"
**What happened**:

On Windows, CNI plugins always get called twice (or more) with command ADD when a pod is created.

The issue is that `cni_windows.go:GetPodNetworkStatus()` calls `plugin.addToNetwork` to check the status, but this triggers a new add.

**What you expected to happen**:

Only a single ADD since ADD is not idempotent.

As per the (current, at least) CNI spec:

**How to reproduce it

[2018-10-26 10:47] fasaxc commented on #70279
@kubernetes/sig-windows-bugs

[2018-10-26 11:00] max-lobur commented on #27000
@lovejoy what k8s release? can you share doc link pls, it it's published already
Thank you

[2018-10-26 11:01] justinsb opened #70280 "Failing test: should reconcile LB health check interval [Slow][Serial]"
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new/2394#sig-network-services-should-reconcile-lb-health-check-interval-slowserial

`should reconcile LB health check interval [Slow][Serial]`

is failing with "framework.RestartControllerManager() = unsupported provider: gke; want nil"

/kind failing-test

[2018-10-26 11:06] jnummelin opened #70281 "null vs. empty array issues in json patch"
**What happened**:
[code]

**What you expected to happen**:
The last patch to work. If the first patch is a success, I'd expect I can run the the later too.

Yes, I know that running the latter does not really make any sense functionality wise.

I'd expect that the client should not need to know about `null` and an empty array (and possibly many other things) being the same thing on the API side a

[2018-10-26 11:14] justinsb commented on #70280
/sig network

[2018-10-26 12:13] uablrek commented on #68437
This issue is used as an example here; https://github.com/Nordix/xcluster/tree/master/ovl/kube-proxy-ipv6

[2018-10-26 12:23] curu opened #70284 "make default container network interface name configurable"
**What would you like to be added**:
make the default container network interface name configurable, so that one can change it to sth. like 'eth1'

**Why is this needed**:
we have many legacy services which get their listen ip from "eth1"  interface,  it's boring and time consuming to change all the code and recompile.
our quick and dirty solution was to change the value of DefaultInterfaceName in

[2018-10-26 12:30] dims commented on #70264
/assign @thockin
/assign @tallclair

[2018-10-26 12:44] splnanthakumar commented on #69934
issue found. issue was when circus has creating new process it is not being copied all the parent process env variable to the child process.
we have to provide a circus flag "copy_env = True" in all configuration files. to copy env variables from parent to child process. then it will be available

[2018-10-26 12:52] erictune commented on #70264
Thank you for doing this, @dims!

Also:
- [ ] Update k8s.io/klog README.md to explain it is a permanent fork.

[2018-10-26 12:57] saurav-malani commented on #69767
Hello @wgliang @misterikkit @k8s-ci-robot @k82cn I am an Outreachy applicant. I am looking for a "good first issue". So, if this issue is not taken up by anyone. I would like to work on it. If not taken, can you provide all the relevant details, that will be helpful to me? TIA.

[2018-10-26 12:57] #57074 closed

[2018-10-26 13:06] joberget commented on #65991
Any update on this bug? We are not using kubeadm. Only solution is to manually remove the certs.

[2018-10-26 13:08] Pupix commented on #68078
Hello!

I stumbled upon this issue while trying to find out how to block the metadata server myself. Your policy worked just fine for me. As soon as I enabled it both the IP and the `http://metadata.google.internal` endpoint became unaccessible. The connection just hangs and eventually times out while trying to `cURL` those.

I am on GKE with master version 1.10.6-gke.6

Cheers,
Pupix

[2018-10-26 13:08] liggitt commented on #70264
I think we would also need to add verify scripts to prevent adding any new vendor dependencies that use glog. I'm actually very surprised we don't have more already:

[code]

[2018-10-26 13:10] dims commented on #70264
+1 @erictune @liggitt updating task list above

[2018-10-26 13:28] mborsz opened #70287 "AvailableConditionController doesn't implement proper backoff/retry strategy"
**What happened**:
When AvailableConditionController is unable to contact a api service it keeps retrying with high number of attempts per seconds (like 80 attempts per seconds) creating significant cpu usage.
https://gist.github.com/mborsz/c6094ae23f84db10593f1e0a0fd5d38d contains kube-apiserver's logs from one of the attempts.

**What you expected to happen**:
AvailableConditionController should

[2018-10-26 13:29] mborsz commented on #70287
/sig api-machinery

[2018-10-26 13:31] sylr commented on #36222
Got this also. I had to remove **tabs** from my config file to get the yaml multiline display.

[2018-10-26 13:32] mborsz commented on #70287
@kubernetes/sig-api-machinery-bugs

[2018-10-26 13:33] soltysh commented on #70251
@janetkuo wouldn't it be better to rewrite the backoff as it is today (that's why #64787 was created) instead of adding more hacks to the current implementation? How about we try to design the new implementation and fix that for 1.14?

[2018-10-26 13:35] deads2k commented on #70264
I think that's because this project uses godep, not something like `glide` which pulls in entire trees.  `github.com/coreos/etcd` vendors `github.com/grpc-ecosystem` which vendors glog.

[2018-10-26 13:35] jsravn commented on #58334
/remove-lifecycle stale

[2018-10-26 13:37] liggitt commented on #70264
given the prevalence of glog usage in the go ecosystem, we also have to consider the impact of `k8s.io/*` components using a logging library that cannot be built into a binary that also includes glog. If a downstream consumer imports `k8s.io/apimachinery` or `k8s.io/client-go` (and therefore "klog"), and also has another dependency that uses glog, this change will break them without much recourse.

[2018-10-26 13:39] deads2k commented on #70264
@dims I've had a look at your fork.  Is there a list of specific objectives beyond flags and output?  I think I'd be looking for something more pluggable overall if we commit to this pain.

[2018-10-26 13:40] liggitt commented on #70160
Can you provide more details about your environment? How is kubernetes deployed, what is openresty, how are you accessing kubernetes via openresty? It appears that openresty is proxying to the the API and echoing raw API responses back to the browser as HTML, which doesn't seem proper.

[2018-10-26 13:44] Pingan2017 commented on #70284
@derekwaynecarr @yujuhong take a look? if it is needed, I can work on it.

[2018-10-26 13:47] dims commented on #70264
@liggitt to allow klog and glog to co-exist
- We have to drop the flags registration from "init" and require an explicit `Init` for klog
- end users can use klog's setOutput and redirect the logs from klog to glog

[2018-10-26 13:49] wojtek-t commented on #70287
@cheftako @mml

[2018-10-26 13:50] dims commented on #70264
@deads2k, there are a lot of discussions in many of the previous issues about things that can be done. I am deliberately trying to start simple here and unblock folks who want to do more things.

For example, i would like to:
- allow components to switch to https://github.com/go-logr/logr
- allow redirection of logs to syslog, opentracing etc.

-- Dims

[2018-10-26 13:54] zhangxiaoyu-zidif commented on #55045
@enisoc  I and @jian-he will try to work on it and modify some statefulset code. If possible, I send a PR then.

[2018-10-26 13:54] liggitt commented on #70264
I think allowing co-existence is a requirement if klog is part of our published repos.

[2018-10-26 13:56] dims commented on #70264
@liggitt agree. we should document what someone has to do if they are using glog today and want to import our stuff.

[2018-10-26 13:58] deads2k commented on #70264
It's not just about code directly owned by the vendorer.  I vendor kube libraries and I vendor libraries from other authors that I do not own.  Anything that requires me to change code to import and run with kube libraries can make that impossible.

@dims do you have a specific roadmap in mind?  This feels like a switch from A to B, where B is more or less equivalent and any future direction chang

[2018-10-26 14:00] liggitt commented on #70287
cc @deads2k

[2018-10-26 14:05] ArchiFleKs commented on #70082
@jingyih you might be right, turns out my launch template are using HDD (standard and not GP2).

I'll retry with etcd 3.2.24 and report here.

To answer your question I have no such error with etcd 3.2.18

[2018-10-26 14:09] neolit123 commented on #69990
always run `sudo kubeadm reset` before `sudo kubeadm init...`

the error explains the situation. it's recommended to match the versions.
also pre-release  versions are not recommended for production clusters.

please use the `kubernetes/kubeadm` issue tracker for further issues. thanks.
/close

[2018-10-26 14:09] liggitt commented on #70264
Right. klog should allow co-existence by default with no action taken by importers. The types of things required to do this are good practices anyway (don't register global flags in init blocks, etc).

[2018-10-26 14:10] dims commented on #70264
@deads2k regarding ` same roadblocks` this time, we have a place where we can make changes :) klog repo! we did not have the luxury of modifying glog before :)

[2018-10-26 14:14] neolit123 commented on #69805
this seems to be an user issue on your side.

tokens expire after 24 hours. call again `kubeadm init` and the command at the end should be used for `kubeadm join` for other nodes.
this works perfectly fine for other users.

for questions you can also try our support channels:
e.g. stackoverflow or #kubeadm on slack:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triag

[2018-10-26 14:14] #69805 closed

[2018-10-26 14:34] neolit123 commented on #68924
in 1.13 kubeadm will support the command `kubeadm certs renew` (still a subject to change). the command is currently under `kubeadm alpha phase certs renew`. this command can be used for certificate rotation and that will update your certificates.

an kubeadm upgrade itself will also do that.

duplicate of:
https://github.com/kubernetes/kubeadm/issues/708

/close

[2018-10-26 14:34] #68924 closed

[2018-10-26 14:44] spommerening commented on #50375
Would love to see this too. Are there any arguments against realizing this - apart from the effort?

[2018-10-26 14:44] neolit123 commented on #68580
/sig node

there seems to be another issue at play here.
are pods of the worker nodes healthy ? are the worker nodes staying at 100% cpu all the time?

what do you expect it to "report" and what is an even balance?
my assumption here is that you don't want the worker nodes to be stuck at 100%.

1.10 is soon going outside of the support skew.
please try the latest version.

[2018-10-26 14:44] GregSilverman commented on #63900
Thanks @johnbelamaric, before trying this, I tried @mritd's solution. So far, it appears to be working across all nodes. I'll do some heavy testing later to verify this, but so far, so good.

[2018-10-26 14:46] neolit123 commented on #68178
is there are difference for that particular node compared to the other nodes.
there is no reason for this extra node to fail...

have you tried 1.12.x?

[2018-10-26 14:59] neolit123 commented on #68580
/priority awaiting-more-evidence

[2018-10-26 14:59] neolit123 commented on #68178
/priority awaiting-more-evidence

[2018-10-26 15:01] neolit123 commented on #67879
this is not a critical issue.
also the reset behavior was changed in 1.12 for docker vs other CRI.

/close

[2018-10-26 15:01] #67879 closed

[2018-10-26 15:03] zcalusic commented on #50375
I suspect, as pods are by definition mortal in Kubernetes model, this feature is unfortunately just low prio.

But, yes, considering how many of us deliberately kill pods in order just to reset useful restart counter, some good soul might eventually stup up and implement this much wanted feature. In the meantime we can continue wasting electricity and polute Mother Earth with needless CPU cycles,

[2018-10-26 15:08] neolit123 commented on #66951
i'm having trouble understanding the issue, but i don't think this is a bug.

the joining node configuration for v1alpha2 should use this:
https://github.com/kubernetes/kubernetes/blob/release-1.11/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go#L234

[code]

for further questions please try our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md

[2018-10-26 15:08] #66951 closed

[2018-10-26 15:12] neolit123 commented on #66768
i agree.

in the k8s e2e tests we always wait for the master to be ready and we don't fail if it doesn't become ready until a certain timeout e.g. 5 minutes.

in kubeadm 1.13 we are adding a custom timeout for the control plane node's api server.
based on that expected timeout you can make your setup tolerate the delay.
this change cannot be backported to < 1.13.

for further kubeadm related issue

[2018-10-26 15:12] #66768 closed

[2018-10-26 15:15] neolit123 commented on #64450
these tests were nuked with agreement between sig-cluster-lifecycle and sig-network a month ago or so.
this issue is out of date.

/close

[2018-10-26 15:15] #64450 closed

[2018-10-26 15:16] neolit123 commented on #64448
issue seems resolved as indicated by user comments.

/close

[2018-10-26 15:16] #64448 closed

[2018-10-26 15:19] MorrisLaw commented on #39090
I will take this issue

[2018-10-26 15:28] andrewsykim commented on #70159
This is not something I have considered yet 🤔 which definitely changes my perspective on this problem.

This makes sense. I'm 👍 for annotations given there is _some_ consistent best practices shared amongst providers. Will wait for @erictune and @aoxn to comment.

[2018-10-26 15:33] rajansandeep commented on #70248
There are 2 PRs https://github.com/kubernetes/kubernetes/pull/59894 and https://github.com/kubernetes/kubernetes/pull/70188 open to help adapt the DNS tests for IPv6. Both these PRs have been tested in a local IPv6 dind cluster and have been passing the tests for CoreDNS.

[2018-10-26 15:44] neolit123 commented on #26205
https://github.com/kubernetes/kubernetes/pull/70052

/lifecycle active

[2018-10-26 15:52] alexvanbelle commented on #50898
Same here. Would be appreciated to get consolidated billing on AWS.

[2018-10-26 16:02] timothysc commented on #69197
Closing.

If folks are still having issues please open an issue here:  https://github.com/kubernetes/kubeadm

[2018-10-26 16:02] #69197 closed

[2018-10-26 16:04] wgliang commented on #69767
@saurav-malani Cool, currently only #69840 is not claimed, I would appreciate if you are willing to work on it.

[2018-10-26 16:12] saurav-malani commented on #69767
@wgliang I would love to work on it! Can you please assign it to me. Also, can you share other relevant details, that I should refer to get my task done.

[2018-10-26 16:15] johnbelamaric commented on #63900
Ok, good. If you are using the add on manager, and have kube-dns instead of coredns enabled, then it will revert the service and deployment resources, which may result in something like this (depending on the labels on your coredns deployment).

[2018-10-26 16:15] fritzstauff commented on #58145
@ishaniGupta27 I ran into the same issue. It seems to be related to how k8's openstack driver deals with adding floating ips to the LB. For now I set the lb to internal in the service metadata then manually associate a floating ip . This could also be a queens magnum issue not providing all required cloud config info. I am not sure yet.

[code]

[2018-10-26 16:34] ianseyer commented on #59867
Was also hitting this problem. Upgraded my kubectl version to 1.12 and it worked. Was on 1.8 with cluster on 1.10

[2018-10-26 16:34] sjgllghr commented on #69776
The following are covered in #70292:
[code]

[2018-10-26 16:35] yue9944882 commented on #70287
@liggitt yeah.. was just surprised.. so the error might be nil in this case?

[2018-10-26 16:44] Adirio commented on #69767
Read the contributing guides @saurav-malani, they can not assign them to you as github only allows to assign organization members or contributors IIRC. Comment on it saying you want to take it to let others know you are going to be working on it.

[2018-10-26 16:45] jsafrane opened #70293 "Add e2e test for CSI driver update"
**What would you like to be added**:

We need an e2e test that updates a CSI driver in running cluster. HostPath driver seems to be the best candidate, mock driver can't be restarted.

**Why is this needed**:
We want to exercise driver un-registration and registration in kubelet. @msau42 hit some issue there and we want to make sure it's fine.

/kind feature
/sig storage
/assign

[2018-10-26 16:49] misterikkit commented on #69767
@saurav-malani Yeah, we can do a "soft assign" which is just a comment on that issue stating you will work on it. Unfortunately, github doesn't let us put you in the assignee field.

In my view, the five issues linked from here are medium-sized documentation efforts. And since we're writing English instead of Golang, it's easier for multiple contributors to collaborate on a single document.

[2018-10-26 16:51] timothysc commented on #66985
Closing here.

If desired, please reopen here: https://github.com/kubernetes/kubeadm

[2018-10-26 16:51] #66985 closed

[2018-10-26 16:56] antoineco commented on #66735
@liggitt I blocked TCP traffic between the API server and the metrics server again via NetworkPolicies and can consistently reproduce the issue.

`kubectl api-resources` just returns:
[code]

If I re-enable communications the namespace magically disappears.

[2018-10-26 16:58] liggitt commented on #70287
noticed this was reported against 1.9:

https://github.com/kubernetes/kubernetes/blob/b5ec061c7ab9995a801206ea74f614ced04206d2/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go#L91

https://github.com/kubernetes/kubernetes/blob/b5ec061c7ab9995a801206ea74f614ced04206d2/staging/src/k8s.io/kube-aggregator/pkg/controllers/status/available_controller.go#L295-L296

the wa

[2018-10-26 17:00] mkimuram commented on #70259
Yes. Once https://github.com/kubernetes/kubernetes/pull/68025 is merged, drivers will be able to choose to set or not to set node name.

[2018-10-26 17:02] saurav-malani commented on #69840
@wgliang @wenlxie I would like to work on this issue.

[2018-10-26 17:04] liggitt commented on #66735
That is what I would expect. when a namespace is removed, the namespace controller must ensure that all resources that exist within it are removed. To do that, it discovers all available resources, which requires being able to contact all extension apiservers. If one of them is unavailable, the namespace controller will wait and retry until it is available, but will not release the namespace in th

[2018-10-26 17:06] antoineco commented on #66735
Was the metrics server already a mandatory component in 1.10?

[2018-10-26 17:21] Adirio commented on #69767
I do agree with misterikkit, but that requires a deep understanding on the scheduler as a whole, while each part may be done just understanding some parts. For example you do not need to know how the `Lister`s and `Informer`s work if you are witting about the configuration of schedulers.

[2018-10-26 17:46] timothysc commented on #66943
The root issue log'd can occur from a couple of conditions which are typically ordering of startup.  If you are having issues with - https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#14-installing-kubeadm-on-your-hosts  please feel free to open an issue here https://github.com/kubernetes/kubeadm with a canonical reproducer.

[2018-10-26 17:46] #66943 closed

[2018-10-26 17:46] ermajn commented on #70257
+1

[2018-10-26 18:02] #64407 closed

[2018-10-26 18:04] tallclair commented on #70264
copying here for visibility:

[2018-10-26 18:12] BenTheElder commented on #70264
Noting that one of the examples:

Is actually a dev-time dependency rather than being built into any k8s components. I don't think we need to worry too much about that (though we might as well migrate it too) cc @ixdy

/cc

[2018-10-26 18:19] cheftako commented on #70287
/assign

[2018-10-26 18:20] dims commented on #70264
@tallclair ack.

One more data point for folks here. thanks @aledbf for showing me how Istio does this. based on his pointers here's a repo - https://github.com/dims/glog-minimal that redirects glog calls to klog

[2018-10-26 18:32] mariantalla commented on #69444
This test had a couple of successful runs yesterday but is now flaking/failing in master-blocking:

https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-cos-master-serial

It seems to be passing in master-upgrade.

Any chance we could prioritize work on it? It's preventing us from seeing whether fixes for other test failures are working.

[2018-10-26 18:44] mikedanese commented on #70104
Thinking about this more, I think we should continue to allow it to be configured and default the service account issuer to `https://kubernetes.default.svc` in the kube-apiserver. And default the audiences to the service account issuer. This solves the TokenReview issue, gives us a path to turn on TokenRequest by default without breaking api servers on upgrades, and allows users to isolate kube-ap

[2018-10-26 18:47] mariantalla commented on #70058
Looks good, thanks! One flake in the last run - let's keep an eye on it but it should be fine.

/cc @jberkus @AishSundar @mortent

/close

[2018-10-26 18:47] #70058 closed

[2018-10-26 18:47] msau42 commented on #52242
What flex driver are you using? It looks like it's not returning any capabilities.

Here's the panic line:
https://sourcegraph.com/github.com/kubernetes/kubernetes@release-1.11/-/blob/pkg/volume/flexvolume/plugin.go#L85

cc @chakri-nelluri should we fallback to default capabilities if the driver doesn't return any?

[2018-10-26 18:48] janetkuo commented on #70251
I'm not trying to add hack to backoff but want to remove the use of `NumRequeues` completely.

Based on original design doc of backoffLimit https://github.com/kubernetes/community/blob/master/contributors/design-proposals/apps/job.md#backoff-policy-and-failed-pod-limit:

`RestartPolicy: OnFailure` jobs are implemented as described above, but `RestartPolicy: Never` jobs don't count actual pod failu

[2018-10-26 18:48] msau42 commented on #52242
This stacktrace is unrelated to the original failure. Can you open a new issue for this?

[2018-10-26 18:54] samdamana commented on #66460
It looks like 1.9 and 1.10 are still using `coredns/coredns` which we cannot vuln scan. Any chance of someone changing those references in 1.9/10 to `k8s.gcr.io/coredns` as it appears in 1.11+?

[2018-10-26 19:08] fturib commented on #70248
How do we expect to name the tests that are for IPv4 only (I means that will be successful only on a cluster that support IPv4), and the tests that are for IPv6 only ?

in the PR mentioned above by @rajansandeep , we labeled:

[Feature:Networking-IPv4] and [Feature:Networking-IPv6] . .. but, because of the "Feature:" none of these tests will run in most of e2e tests.

if I specify [IPv4], maybe th

[2018-10-26 19:08] mikedanese commented on #70104
If we force users to set a new flag(s) on the 1.13 upgrade, we can skip the default. I think the property we want is that we can validate the --api-audiences is always greater than zero.

[2018-10-26 19:09] johnbelamaric commented on #69773
I suppose this is fine if there are always linux nodes in the cluster.

I don't know how Kubernetes or docker manifests work for windows, but CoreDNS does build and run on windows:

https://github.com/coredns/coredns/blob/master/Makefile.release#L114

That is not included in the manifest, is it possible to get that working? I guess you would probably also have to change the way the mounted config

[2018-10-26 19:30] chrisohaver commented on #69773
Have not looked into it in detail yet, but one complication would be configuration. AFAIK Windows systems don't have an `/etc/resolv.conf`... and the default CoreDNS configuration makes specific reference to the file (to get upstream servers).

[2018-10-26 19:32] chakri-nelluri commented on #52242
@msau42 We already default it, unless the plugin overrides it with nil: https://sourcegraph.com/github.com/kubernetes/kubernetes@release-1.11/-/blob/pkg/volume/flexvolume/driver-call.go#L248:1

[2018-10-26 19:34] johnbelamaric commented on #69773
Yeah, good point. I was thinking about the -conf /etc/coredns/Corefile
which I think we pass to coredns IIRC. But resolv.conf is a bigger issue.

On Fri, Oct 26, 2018 at 12:31 PM chrisohaver <notifications@github.com>
wrote:

[2018-10-26 19:41] leblancd commented on #70248
@fturib - Yes, I agree. Looking at the documentation for [Kinds of tests](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md#kinds-of-tests), the Feature tag should be used "If a test has non-default requirements to run or targets some non-core functionality, and thus should not be run as part of the standard suite". So we probably should be using [IPv4] and not [F

[2018-10-26 19:53] codeasashu opened #70300 "Kubelet service unable to start"
I am trying to get kubernetes up and running. I've installed kubernetes and its ran command `kubeadm init` which failed due to `kubelet` not being able to start up.

Used `journalctl -u kubelet.service` which output a massive log, ending up with

[code]

here is contents of `/etc/kubernetes` dir:
[code]

so `kubelet.kubeconfig` exists

I've installed kubernetes via https://aur.archlinux.org/kubern

[2018-10-26 20:04] #64460 closed

[2018-10-26 20:53] geekofalltrades commented on #61006
Prometheus is also infected:
https://github.com/coreos/prometheus-operator/issues/1932
https://github.com/prometheus/prometheus/issues/4795

[2018-10-26 20:53] msau42 opened #70303 "CSI fsgroup does not work"
**What happened**:
When trying to add fsgroup tests to the CSI drivers, the [test is failing](https://github.com/kubernetes/kubernetes/pull/68025#issuecomment-433536769)

**What you expected to happen**:
fsgroup should be set for supported drivers

@kubernetes/sig-storage-bugs

/kind bug

[2018-10-26 20:57] mikedanese commented on #23720
cc @jboeuf

[2018-10-26 20:57] ijl opened #70304 "kube-proxy cannot use ipvs mode on Linux 4.19"
kube-proxy cannot use ipvs mode on Linux 4.19 due to a check for the `nf_conntrack_ipv4` module, which was changed to `nf_conntrack` (https://github.com/torvalds/linux/commit/a0ae2562c6c4b2721d9fddba63b7286c13517d9f).

`RequiredIPVSKernelModulesAvailableCheck.Check()` uses `ipvsModules` to check for `nf_conntrack_ipv4`:

https://github.com/kubernetes/kubernetes/blob/7f23a743e8c23ac6489340bbb34fa6f

[2018-10-26 21:00] ijl commented on #70304
/sig network

[2018-10-26 21:00] justinsb opened #70305 "kube-apiserver restarted on boot, caused flake"
For https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster/2572?log#log the cluster upgrade failed.

Looking at the failure, it seems to be an inopportune restart of apiserver.  The new master comes up, apiserver starts, but then it restarts.  The upgrade test hits it during the restart, it looks like.  Logs: https://storage.googleapis.com/kubernet

[2018-10-26 21:14] janetkuo commented on #26202
@ltupin because it's not safe to mutate a controller's selector. For example, deployment finds its children resources (replicasets) by label/selector. Changing a deployment's selector is dangerous. It could cause the deployment to be unable to find its existing children and therefore cause disruptions to your running workloads. We don't want to encourage that.

[2018-10-26 21:28] dims commented on #70264
We have 2 ways of co-existing with glog. the glog-minimal repo above or see the example in klog. So i believe we can move on to the steps listed above.

@thockin @tallclair i am looking to you both to approve the org request as well :)

https://github.com/kubernetes/org/issues/195

Yes, please decide on the name as well. (klog vs glog)

[2018-10-26 21:44] #70280 closed

[2018-10-26 21:47] neolit123 commented on #70249
not sure if sig cluster lifecycle is the best owner for this.
adding sig release and sig architecture.
/sig release
/sig architecture

[2018-10-26 21:49] neolit123 commented on #70151
cc @roberthbailey @justinsb

[2018-10-26 21:51] neolit123 commented on #69610
thanks for the update
/close

[2018-10-26 21:51] #69610 closed

[2018-10-26 21:53] neolit123 commented on #69530
closing the issue.
/close

[2018-10-26 21:53] #69530 closed

[2018-10-26 21:57] justinsb commented on #70151
Aha - I looked at 2572, and tracked it down.  That is #70305

It's a bug where apiserver does not start in time to meet its healthcheck.

I'll pull down some of the others and check they look like the same root cause

[2018-10-26 22:03] juandiegopalomino commented on #40651
+1

[2018-10-26 22:05] msau42 commented on #70303
/assign @gnufied

[2018-10-26 22:05] AishSundar commented on #70305
/milestone v1.13

[2018-10-26 22:06] #64110 closed

[2018-10-26 22:06] justinsb commented on #70151
Good news - it is rare that apiserver _does_ start on time (looks like 72 / 92 restarted).  The failures happen when we get unlucky and query it during a restart.

[2018-10-26 22:09] cheftako commented on #70037
@ashleyschuett Please feel free to contact me. I had a POC a few months ago for what it would take for CCM to work with GCE (https://github.com/kubernetes/kubernetes/pull/50811). I am working on getting GCE in line with the appropriate sig cloudprovider KEPs (2 & 13). If you interested in helping with that project I would be happy for the assistance.

[2018-10-26 22:12] neolit123 commented on #69307
/sig api-machinery
/remove sig-cluster-lifecycle

[2018-10-26 22:15] neolit123 commented on #68946
any updates here?

[2018-10-26 22:17] neolit123 commented on #68940
/remove-sig cluster-lifecycle
/sig node

[2018-10-26 22:18] neolit123 commented on #68671
/close
please re-open the ticket in the kubernetes/kubeadm if you are still having problems.
thanks.

[2018-10-26 22:18] #68671 closed

[2018-10-26 22:19] 2rs2ts commented on #45746
Hey folks, I've created a PR for this. Please take a look. https://github.com/kubernetes/kubernetes/pull/70309

[2018-10-26 22:20] neolit123 commented on #69487
duplicate of https://github.com/kubernetes/kubeadm/issues/1074
/close

[2018-10-26 22:20] #69487 closed

[2018-10-26 22:32] neolit123 commented on #67640
hi, you might get better result if you post such questions on stack overflow or slack:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example
this is bug / feature tracker.

it seems like the kubeadm commands completed successfully.
please make sure that you install flannel right after the master has started.

if you think you have foun

[2018-10-26 22:32] #67640 closed

[2018-10-26 22:35] neolit123 commented on #67082
you should try the support channels like stackoverflow for questions:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

if you feel like this is a minikube bug you can try creating an issue here:
https://github.com/kubernetes/minikube

thanks
/close

[2018-10-26 22:35] #67082 closed

[2018-10-26 22:38] neolit123 commented on #66748
please reopen an issue in kubernetes/kubeadm if you think there is a kubeadm bug at play here.

for questions please use our support channels like stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-26 22:38] #66748 closed

[2018-10-26 22:43] neolit123 commented on #61224
closing this one.
if you have a specific bug or a feature to report against kubeadm use the kubernetes/kubeadm repo.

for questions and support try our support channels:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

thanks
/close

[2018-10-26 22:43] #61224 closed

[2018-10-26 22:45] tallclair commented on #70264
That's awesome that istio has already done this - that's exactly the route I was picturing us going.

[2018-10-26 22:45] neolit123 commented on #61277
some notes:
- 1.9.x is now outside of the supported versions and we don't have the bandwidth to help users that have issues with it
- make sure that you have a dual core CPU + 2GB of ram for the control plane node (master)

if you find a bug in kubeadm please report at the kubernetest/kubeadm repo or please use our support channels for help and questions:
https://github.com/kubernetes/community/bl

[2018-10-26 22:45] #61277 closed

[2018-10-26 22:48] bkruger99 opened #70312 "PDB maxUnavailable doesn't work on pods without controllers. minAvailable does."
Referencing here as it points more things out:
https://github.com/mikkeloscar/pdb-controller/issues/17

PDB maxUnavailable doesn't work with standalone pods.  This would be extremely useful for when you have jobs that shouldn't be evicted if they don't need to be until they finish.   CronJobs, Jenkins slaves, etc.  Things that can have a finite life that should probably complete otherwise.

minAva

[2018-10-26 22:57] neolit123 commented on #60884
it feels to me that there is a variety of reported issues here.

i'm going to respond to the kubeadm case as per the first post:
- make sure you have internet connection; if you don't have one pre-pull the kubeadm images using `kubeadm config images pull` requires k8s 1.11+
- if you are on a version before 1.11 consider upgrading as support for 1.10 is going to be dropped this december.

try the s

[2018-10-26 22:57] #60884 closed

[2018-10-26 22:59] neolit123 commented on #60066
/sig node

[2018-10-26 23:01] neolit123 commented on #66335
1.9.x is outside of the supported versions and it no longer receives patches.
please consider upgrading to 1.12 or 1.13 in december.

if you have bug reports against 1.11+ please open new tickets. thanks.

/close

[2018-10-26 23:01] #66335 closed

[2018-10-26 23:07] #58891 closed

[2018-10-26 23:07] neolit123 commented on #46822
/lifecycle frozen

[2018-10-26 23:11] neolit123 commented on #50295
please try tools like kops or kubeadm that will handle all the setup for you.
they also print instructions in the terminal on how to setup admin.conf or pod-network-plugins.

closing this issue.
for similar questions try stackoverflow:
https://github.com/kubernetes/community/blob/master/contributors/guide/issue-triage.md#user-support-response-example

/close

[2018-10-26 23:11] #50295 closed

[2018-10-26 23:28] bsalamat opened #70316 "Process unschedulable pods on node updates more efficiently"
**What would you like to be added**:
Today, the scheduler re-processes unschedulable nodes [by moving them to the active queue every time a node is updated in the cluster](https://github.com/kubernetes/kubernetes/blob/1df4f8eaf6721d9f52fed35020c044c986755014/pkg/scheduler/factory/factory.go#L986). Node updates are sent by Kubelet frequently (every 10 seconds) and often times they don't change any

[2018-10-26 23:52] mikesparr commented on #40651
+1 ;-)

Sent from my iPhone

[2018-10-26 23:52] yliaog commented on #70017
i think @munnerz is right

[2018-10-27 00:00] linericyang commented on #69932
I also cannot produce this issue on v1.10.4.

[2018-10-27 00:32] saad-ali opened #70319 "Kubelet VolumeManager incorrectly marks volume as not "in use" (i.e. safe to detach) while a mount or format is pending"
**What happened**:
While debugging an issue with a volume getting detached prematurely, @jingxu97 discovered an issue: the Kubelet VolumeManager incorrectly marks volume as not "in use" (i.e. safe to detach) while a mount or format is pending.

For context, attach/detach controller will not proceed with a detach (after pod referencing a volume is deleted) while the volume is still marked as "in us

[2018-10-27 00:33] saad-ali commented on #70319
Fix for this should be cherry picked back to all recent supported versions.

[2018-10-27 00:55] wufsmail commented on #69503
how to resole?

[2018-10-27 00:55] wufsmail commented on #69503
how to resolve?

[2018-10-27 00:58] #70115 closed

[2018-10-27 01:01] wgliang commented on #69840
@saurav-malani Thank you very much for your help, you can feel free to leave comments here if you have any questions.

[2018-10-27 01:01] wgliang commented on #69840
/remove-help

[2018-10-27 01:02] wgliang commented on #69768
/remove-help

[2018-10-27 01:02] wgliang commented on #69770
/remove-help

[2018-10-27 01:02] wgliang commented on #69771
/remove-help

[2018-10-27 01:09] #55980 closed

[2018-10-27 01:47] hzxuzhonghu commented on #70305
I see so many api calls getting clusterroles and clusterrolebingdings.
should we run `rbac/bootstrap-roles` in parallel to accelerate the bootstrap?

[2018-10-27 02:14] hzxuzhonghu commented on #70305
I open #70320 trying to fix it.

[2018-10-27 02:17] daixiang0 opened #70321 "--cluster-dns do check invalid network"
I use Kubernetes v1.10.5, when i do below config:
[code]
The kube-dns auto change to
[code]
While i still use 10.53.0.* to config the clusterIP for my service.

Obviously, it can not intercommunicate.

The kube-dns can auto change to valid network is a great feature, but it do not make any warning which make me spend too much time debug why my service do not work.

Maybe check and add a waning her

[2018-10-27 02:29] islinwb commented on #70304
/area ipvs
/assign
/cc @Lion-Wei @m1093782566

[2018-10-27 02:34] m1093782566 commented on #70304
Okay, so should check {nf_conntrack_ipv4 | nf_conntrack} and expect load at least one module?

[2018-10-27 02:38] hzxuzhonghu commented on #70231
/sig node

[2018-10-27 02:41] islinwb commented on #70304
@m1093782566 I think so

[2018-10-27 02:58] m1093782566 commented on #70304
Please just go ahead :)

[2018-10-27 03:01] Pingan2017 commented on #70284
Also /cc @tallclair

[2018-10-27 04:04] shinebayar-g commented on #51835
`kubectl delete pods <podname> --force --grace-period=0` worked for me!

[2018-10-27 04:44] mysunshine92 commented on #70184
as for Pod of DaemonSet，  if we evict the pod when node is down，daemonset will create one. so in the function of doEvictionPass, if the pod is managed by a daemonset, ignore it.

[2018-10-27 05:59] c-nuro opened #70324 "Cgroup leaking, no space left on /sys/fs/cgroup"
**What happened**:
CGroup leaking, and out of kernel memory.

[code]

[code]

There are many CGroups under pattern system.slice/run-r${SOMEID}.scope for different categories, and this seems never get cleaned.

Eventually, this leaking cgroup cause all types of instabilities, including but not limit to:

- `kubectl logs -f` report no space left
- pod network interrupt/unaccessible

**What you expec

[2018-10-27 06:02] saurav-malani commented on #69840
Hello @wgliang, can you help me by pointing any relevant doc related to the scheduling algorithm, where I can get to know what scheduling algo's exist and how they work?

[2018-10-27 06:04] c-nuro commented on #70324
@kubernetes/sig-node-bugs

[2018-10-27 06:33] wgliang commented on #69840
@saurav-malani
In addition to the source code, we currently lack detailed official documentation, which is where we need to work hard.

In fact, some of the best kube-scheduler documentation was not written by us!

e.g.
https://jvns.ca/blog/2017/07/27/how-does-the-kubernetes-scheduler-work/
http://alexandrutopliceanu.ro/post/scheduling-in-kubernetes/
https://searchitoperations.techtarget.com/defin

[2018-10-27 07:29] warmchang commented on #55045
@zhangxiaoyu-zidif Need to add a field in the statufulset resource definition? And does this change cause compatibility to the api interface?

[2018-10-27 07:34] nak3 commented on #70017
No, ResourceQuota forces users to set limit, but setting `limits.{memory,cpu} 0` is kind of loophole for it. Any ResourceQuota does not effect `limits.{memory,cpu} 0`.

Only default or minimum of _limitrange_ settings can forbid users from setting `limits.{memory,cpu} 0` for now.

[2018-10-27 08:43] lixianyang commented on #70082
kubernetes version: 1.12.1
etcd version: 3.2.24
os: CentOS Linux release 7.5.1804
kernel: 3.10.0-862.2.3.el7.x86_64
vm on openstack, ceph rbd as storage, 16 core, 32G memory
load average: 0.45, 0.36, 0.41
[code]
[code]

[2018-10-27 09:09] matti commented on #43329
GKE default version is still 1.9.7

[2018-10-27 09:18] mlmhl commented on #70319
It seems that we need to mark all attached volumes in `ActualStateOfWorld` as `in-use`, not only globally mounted volumes.

We can add a `GetInUseVolumes` method to ASW and return all volumes exist in `ActualStateOfWorld.attachedVolumes`.

[2018-10-27 10:02] qdrop17 commented on #66735
Unfortunately I already delete the namespaces using the method I mentioned. In the meantime, I discovered some bug with the metrics-server's key and certificate deployment (see here: https://github.com/rancher/rke/issues/866#issuecomment-420019920) which I fixed. This removed the issue: We can now create and remove namespaces without any problems.

Yet I'm interested if there are any dangling / or

[2018-10-27 11:11] Tabrizian commented on #69503
Will this be disabled by default in the next release?

[2018-10-27 11:19] #64490 closed

[2018-10-27 11:19] #64492 closed

[2018-10-27 11:38] andyzhangx commented on #69503
It's already fixed in v1.12.2 and v1.13.0.
@gnufied do you know how to disable `AttachVolumeLimit` in kubelet in v1.12? Would add `--feature-gates=AttachVolumeLimit=false` in kubelet command arguments work?

[2018-10-27 12:00] warmchang commented on #484
ref: https://github.com/openshift/service-idler

[2018-10-27 12:34] lesomnus commented on #47928
I had a similar symptom and arrived here.
As @weaseal said, it was caused by the lack of memory capacity of the master, and the problem was solved by increasing the memory size.
The solution was too obvious, but I overlooked it.

[2018-10-27 14:10] liggitt commented on #66735
You can check for dangling resources for a particular namespace with the command I showed earlier

[2018-10-27 15:42] kvaps commented on #26718
Hi @sr00373954 I've tried to load `nf_nat_tftp`and `nf_conntrack_tftp` modules, it wasn't help to me. I've tried both modes for proxy `ipvs` and `iptables`.
For now I just use pipework for passthrough ip address directly into pod - this is working fine.

@thockin, if you have any solution please describe it. This issue very interesting for me.

[2018-10-27 15:49] rmsutton commented on #45418
Having the same exact issue here

[2018-10-27 16:40] gamename opened #70328 "Getting "node not found" for master after init on cluster of RPi3s"
**What happened**:
This is a configuration built using the instructions from Appendix A of "Kubernetes Up & Running" by Kelsey Hightower, Brendan Burns, and Joe Beda.

As per the book, I tried to install 1.12.1 on a pristine, 4 node cluster (1 master and 3 workers) on Hypriot 1.9 (on Raspberry Pi 3s).The `kubeadm init` fails and the error message in the log is `node "k8s" not found`. That is, the

[2018-10-27 16:40] c-nuro commented on #70324
Have both docker 17.03.2ce and 18.03, and happened on both.
And my pod process runs under cgroup

[2018-10-27 16:47] gamename commented on #70328
@kelseyhightower
@brendanburns
@jbeda

 FYI. I think the instructions in Appendix A are out-of-date.  As of 1.12.1 the instructions simply do not work. Will use this issue as a basis for an errata update for you guys.

[2018-10-27 17:06] bukzor commented on #53777
Is there any workaround that I can use for this issue, today?

Or, is there any facility for me, as a mere developer-user, to write sufficient extensions to accomplish something equivalent or at least analogous to custom-resource quotas?

[2018-10-27 18:31] danopia commented on #69656
I'm running Ubuntu Bionic like the original poster, but I'm not sure what the environment error was. Commenting the line fixes the problem for me as well.

[2018-10-27 19:18] ArchiFleKs commented on #70082
Hi, I tested with with gp2 ssd on AWS I have the same issue. I don’t have the same wal fsync duration error though.

Some colleague of mine  has the same issue with rancher and the same etcd version on ssd also.

[2018-10-27 23:25] prudhvigodithi opened #70330 "Kubernetes automated rollbacks"
Hey so automated rollbacks through kubernetes is done currently with only "undo" command with kubectl.

Is there is way kubernetes identifies the failed deployment and rollbacks automatically to previous running deployment by itself rather than passing the command kubectl rollout undo deploy/

Also with the command "kubectl patch deployment/nginx-deployment -p '{"spec":{"progressDeadlineSeconds":1

[2018-10-28 03:35] #64529 closed

[2018-10-28 06:14] TinySong commented on #69776
The following are covered in #70332:

`github.com/container-storage-interface/spec`

[2018-10-28 09:47] mattshma opened #70334 "kubelet can't get node"
When I Use `kubeadm init --config /etc/kubernetes/kubeadm.yml` to install kubernetes, it hangs and  reports:
[code]
kubelet logs as follows:
[code]

But in my /etc/hosts, it has the record:
[code]
and i can ping k8s-master-001 successful, the `uname -n` is also k8s-master-001.

`docker ps -a | grep kube` get nothing.

Why kubelet can't recognize my host, but apiserver and etcd can recognize it. it

[2018-10-28 10:04] sgmiller opened #70335 "Kubeadm fails to add all volume mounts intermittently"
**What happened**:
We have an autoscaling group of K8S masters which when coming up use kubeadm init to initialize.  The kube-apiserver.yaml manifest intermittently (but quite often) comes up with all the correct volumes defined, but some mounts missing.  Hand editing the mounts back in fixes the issue.

**What you expected to happen**:

All volumes defined _and_ mounted.

**Environment**:

K8S 1.

[2018-10-28 11:43] #19515 closed

[2018-10-28 12:54] zhangxiaoyu-zidif commented on #55045
@warmchang currently I do not intend to add any spec field to broke the existed api. as Anthony said, when delete statefulset, just delete PVC which was created by PVC template. And I will consider if there is some byproduct.

[2018-10-28 13:38] sgmiller commented on #70335
/sig cluster-lifecycle

[2018-10-28 14:58] tossmilestone commented on #70334
/sig clustercycle
/sig node

[2018-10-28 15:02] tossmilestone commented on #70330
/sig apps

[2018-10-28 15:19] TYsewyn commented on #70009
It looks like this is being triggered by `bash_completion` when calling `/usr/local/etc/bash_completion.d/kubectl`.

[2018-10-28 15:38] prudhvigodithi commented on #70330
Hey, is this you are mentioning https://github.com/kubernetes/community/tree/master/sig-apps?

[2018-10-28 15:47] #62153 closed

[2018-10-28 15:58] tossmilestone commented on #70330
@prudhvigodithi I just labeled your issue with a correct sig, to make it clearer to be noticed.

[2018-10-28 16:48] #61381 closed

[2018-10-28 16:53] saravanakumarrajendran opened #70337 "Code Issues 520 Pull requests 44 Projects 2 Wiki Insights Unable to mount volumes for pod "nginx-flex-smb_default(0f5a661e-da24-11e8-95ec-42010a8e0 008)": timeout expired waiting for volumes to attach or mount for pod "default"/"nginx-flex-smb". list of unmounted volumes=[flexvol-mount]. list of unattached volu mes=[flexvol-mount default-token-ktz22]"
we are using the Windows SMB as a PV backend and kubernetes is running on linux, which is working if i mount the smb on linux machine and take that as a local mount point pv but not working if create pv directly using smb share.

getting below error

Events:
Type Reason Age From Message

Warning FailedMount 3m32s (x540 over 20h) kubelet, release-server-01 Unable to mount volumes for pod "nginx-fle

[2018-10-28 17:00] nrshrivatsan opened #70338 "[API-Server] HTTP Compression - Brottli + ZSTD"
**HTTP : Request + Response : Enable Brottli/ZSTD**:

- `kubectl` list Pods/Secrets seem to take a little time
- [`Brottli`](https://github.com/google/brotli/tree/master/go) & [`ZSTD`](https://godoc.org/github.com/DataDog/zstd) for Golang is available
- Impact of enabling compression would be magnificent for Site-Operations / Bot-Operations

**Control-Plane Latencies**:
- When performing routine h

[2018-10-28 17:01] nrshrivatsan commented on #70338
@freeformz @brosner

[2018-10-28 17:49] #61952 closed

[2018-10-28 17:55] crunchtime-ali opened #70339 "PersistentVolume uses Docker volumes instead of mounted local host path"
I want to (temporarily) use local host bound directories to persist application state of SonarQube. Below I describe how I achieved this in a self-hosted Kubernetes (1.11.3) cluster.

The problem I encounter is that despite everything working Kubernetes does not use the host path to persist the data (`/opt/sonarqube/postgresql`). Upon `docker inspect` of the SonarQube containers it uses the binds

[2018-10-28 17:57] dj-hedgehog commented on #70339
/sig storage

[2018-10-28 17:58] sylus commented on #65890
Looks like the subpath issue is now fixed as of https://github.com/golang/go/issues/23444

[2018-10-28 18:19] mhellsten commented on #54601
I got past it by setting userid and groupid to 999 on the container (the IDs of the mysql user and groups inside the container).

[2018-10-28 18:55] saravanakumarrajendran commented on #70337
/sig Storage

[2018-10-28 19:30] wazirsoft commented on #59680
/reopen

[2018-10-28 19:51] #56796 closed

[2018-10-28 20:31] marfenij commented on #67538
1.10.7-gke.6  still have such issue, any workaround to fix that ?

[2018-10-28 21:01] george-angel commented on #66762
/remove-lifecycle stale

[2018-10-28 21:32] prudhvigodithi commented on #70330
cool thanks, was juts wondering, if kubernetes could identify the failed deployments and automatically rollback to previous running deployments without undo api.

[2018-10-28 22:11] rbtcollins opened #70342 "Support instance action notification in AWS"
**What would you like to be added**:

Have kubelet react to instance action notifications from the EC2 metadata API. This is documented https://docs.aws.amazon.com/AWSEC2/latest/WindowsGuide/spot-interruptions.html but in short

`http://169.254.169.254/latest/meta-data/spot/instance-action` will either be 404, or  from 2 minutes in advance of an action happening, a JSON hash - `{"action": "stop",

[2018-10-29 00:32] AishSundar commented on #68613
@chrisohaver @fturib can this issue be closed now? or do you have pending PRs for 1.13 timeframe?

[2018-10-29 00:35] AishSundar commented on #70189
@PatrickLang should this issue be tracked for 1.13 in addition to https://github.com/kubernetes/kubernetes/issues/65016? If so please apply the appropriate priority and milestone labels please.

@nikopen

[2018-10-29 00:56] #64572 closed

[2018-10-29 01:17] PatrickLang commented on #70189
This one needs to be in v1.14. We need to get cri-containerd working first to fix this.

[2018-10-29 01:34] tossmilestone commented on #70330
@prudhvigodithi So it's a bug or feature request?

[2018-10-29 02:08] lubinsz commented on #67720
@dims @BenTheElder
Hi all,
Can you check the result? https://k8s-testgrid.appspot.com/sig-node-arm64#conformance

Currently, I ran the test script  in a virtual machine daily.
The k8s community publishes several new versions per day, I try to test each versions with my script.
And now, the result has been labeled as "PASSING".

[2018-10-29 02:12] feiskyer commented on #66449
The issue is not active for a long time. Let's close it.

@helgifeiti Feel free to reopen it if you still have issues.

/close

[2018-10-29 02:12] #66449 closed

[2018-10-29 02:29] moonek commented on #68981
This feature is highly needed for operational grade.
I'm aware that there is currently no way to guarantee the availability zone in situations where frequent rolling updates and HPA are mixed.
I don't want to recreate service in the operating situation.

[2018-10-29 03:13] rajansandeep commented on #68613
@AishSundar Yes, this issue can be closed as https://github.com/kubernetes/kubernetes/pull/69883 for CoreDNS default has been merged and there are no problems seen in the scale tests.

[2018-10-29 03:34] asishbose opened #70349 "multi attach error with Kubernetes resources from cinder"
**What happened**:
There was issue with a node on openstack dnt he pods were shifting to another node where the resources were not able to attach with a prohibited multi attach error.

K8S pod description::
f6d248bed48b path /dev/vds is attached to a different instance (f08443bf-6eae-4664-95f2-cd67f7d47287)
  Warning  FailedAttachVolume      7m               attachdetach-controller  Multi-Attach e

[2018-10-29 03:51] AishSundar commented on #70189
Thanks
/milestone v1.14

[2018-10-29 03:58] xuhz opened #70350 "A device plugin can't register multiple services"
I developed a xilinx fpga device plugin for k8s, and it worked fine for the cases when a worker node has only one type of fgpa(no matter the quantities of that type). But when a work node has multiple types of fpga, the plugin doesn't work correctly (please note, for fpga even with same type, if the shells flashed on them are different, they are considered as different types. To end user, they are

[2018-10-29 04:08] asishbose commented on #70349
/sig openstack

[2018-10-29 05:29] hidekazuna opened #70352 "sudo -E minikube start --vm-driver=none ends with an error"
**What happened**:
sudo -E minikube start --vm-driver=none ends with an error.

[code]

$HOME/.kube and $HOME/.minikube owner are not changed even if CHANGE_MINIKUBE_NONE_USER=true.

**What you expected to happen**:
sudo -E minikube start --vm-driver=none ends successfully.

**How to reproduce it (as minimally and precisely as possible)**:
Follow the following URL:
https://github.com/kubernetes/mi

[2018-10-29 05:30] hidekazuna commented on #70352
/sig cluster-lifecycle

[2018-10-29 05:38] feiskyer commented on #70246
Filed #70353 to fix this.

[2018-10-29 05:46] GhostComputing commented on #70014
@liuxu623 You can check https://github.com/kubernetes/kubernetes/pull/67438.

[2018-10-29 06:06] hidekazuna commented on #70352
This report should be filed in https://github.com/kubernetes/minikube/issues.

[2018-10-29 06:06] #70352 closed

[2018-10-29 06:07] hmtai commented on #70160
Yes,openrestry is like nginx,openresty is proxying to the the API and echoing raw API responses back to the browser as HTML.

[2018-10-29 06:32] nikhita commented on #66531
Going to add `lifecycle/frozen` because this won't be handled until v1.

/lifecycle frozen

[2018-10-29 06:40] warmchang commented on #55045
@zhangxiaoyu-zidif I think there are two ways to identify whether the action is automatically deleted:

1. Add startup parameters to kube-scheduler
2. Add an identifier to the statufule template

The first method will change all statefule features, so I prefer the second way.
In order to keep the api definition compatibility of statefuleset, it can be identified in the annotations field.

[2018-10-29 06:50] EricBatty opened #70356 "Unauthorized issues in building kubernetes clusters using kubeadm"
Please see the following console output
[root@node2 ~]# kubeadm join 192.168.0.112:6443 --token oq9l8k.dxw47f2f1w2lrkix  --discovery-token-ca-cert-hash sha256:b33963fc744e484df6198a88fa5c4a0ecc370ecb3aa07acc31aa43030a5b2465 --ignore-preflight-errors=Swap
[preflight] running pre-flight checks
	[WARNING RequiredIPVSKernelModulesAvailable]: the IPVS proxier will not be used, because the following req

[2018-10-29 06:59] loburm commented on #61277
@neolit123 Why we can't just increase default failureThreshold from 8 to some more reasonable value? There is a lot of articles online how to install kubernetes cluster on Raspberry PI and with current configuration non of them actually work, due to limited amount of resources.

[2018-10-29 07:14] damozhiying commented on #70257
+1

[2018-10-29 07:17] wojtek-t commented on #68613
Yes - this can be closed.

[2018-10-29 07:17] #68613 closed

[2018-10-29 07:20] zhangxiaoyu-zidif commented on #55045
yes @warmchang adding some annotations to help identify the pod is a good choice as many temporary features did.

[2018-10-29 07:20] bboreham commented on #65743
Yes kubelet needs to be changed.
And add a test for this case.

[2018-10-29 07:32] qiujian16 commented on #68211
We meet this error also when using secret subpath. We use kubernetes v1.11.0 and docker 18.03.

[2018-10-29 07:58] qdrop17 commented on #66735
Yeah, I did that. But how can I find those dangling ressources if the namespace is no longer existing?

[2018-10-29 08:01] cedricroijakkers commented on #69503
I haven't updated to 1.12.2 yet (still on 1.12.1) but just to confirm, disabling that feature works.

For those that are also running on CentOS and/or RHEL, just to the following:

Edit file `/etc/sysconfig/kubelet` on your master server (control plane), and add the following:

`KUBELET_EXTRA_ARGS=--feature-gates=AttachVolumeLimit=false`

If you already have extra arguments in there, just add this

[2018-10-29 08:03] #64413 closed

[2018-10-29 08:05] liucimin commented on #65743
@nikopen
Yes,kubelet should update the cni version.
I will change the kubelet when the cni  project release a new version

[2018-10-29 08:06] antoineco commented on #66735
You can't. Please create another namespace and try to reproduce the issue.

[2018-10-29 08:17] mlmhl commented on #70316
I can help to fix it.
/assign mlmhl

[2018-10-29 08:25] mborsz opened #70357 "Kubelet failing with SIGILL"
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/242 shows that one of kubelets crashed multiple times with the same error

[code]

Full kubelet logs are available here: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/242/artifacts/gce-scale-cluster-minion-group-3-d7s6/kubelet.log

@kubernetes/sig-node-bu

[2018-10-29 08:29] wojtek-t commented on #70357
/assign @yujuhong

YuJu - can you please delegate?

[2018-10-29 08:47] #69748 closed

[2018-10-29 09:16] nikopen commented on #65743
@bboreham what are the plans for cutting a new CNI release and bumping it in k8s? Does it need a new major k8s release to be bumped, v1.13?

[Here](https://github.com/containernetworking/plugins/releases) I can see the latest  is v0.7.3, seen as plain 'cni' in [fedora](https://release-monitoring.org/project/15246/),  but in [the official page](https://github.com/containernetworking/cni/releases) t

[2018-10-29 09:18] nikopen commented on #65743
/remove-lifecycle stale

[2018-10-29 09:50] zhanjiaping commented on #70229
anyone reply?  the same problem occured many times and annoying me for a long time.

[2018-10-29 09:51] daemon027 opened #70363 "How can I re-schedule a running pod to another worker node"
Hi, is there a way I can re-schedule a running pod to another worker node?
Currently I get "Conflict" when I try to binding a running pod to another node:

[code]
re-create the pod during the re-schedule process is accepted, how can I work around it? Thanks.

/triage support

[2018-10-29 10:03] daemon027 commented on #70363
@kubernetes/sig-scheduling-bugs
/sig scheduling
/sig scalability

[2018-10-29 10:03] jbartosik commented on #69444
There was only 1 flake since [PR changing CPU requests in HPA tests back to 500 mCPU](https://github.com/kubernetes/kubernetes/pull/70233) merged on Thursday (and ~15 green runs). [The flake](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/4266) was an unexpected scale up happening during stabilization.

I'll check if lowering CPU utilization a bit lower de

[2018-10-29 10:29] Avanpourm opened #70364 "Limiting blkio with cgroups by annotation"
**What would you like to be added**:
We hope that kubernetes support limiting blkio resources.
We use the annotation of kubernetes to pass the parameters of the cgroup to control the container blkio. The current features apply only to the Linux devmapper environment.

**Why is this needed**:
In my production environment, multi-tenancy shares a storage device, we must isolate the io of each tenant

[2018-10-29 10:32] D-PENG commented on #70300
Can you post the contents of kubelet.service.

[2018-10-29 10:35] D-PENG commented on #70300
Swap closed no

[2018-10-29 10:40] D-PENG commented on #70284
I usually configure the value of IP to 0.0.0.0 ：~

[2018-10-29 10:58] neolit123 commented on #61277
@loburm
we are adding a user controllable timeout for the API server in 1.13.

[2018-10-29 11:00] neolit123 commented on #61277
PTAL at this commit:
https://github.com/kubernetes/kubernetes/pull/70025/files#diff-95a6e6a6262007b93c9d28c5d1fe392fR400

[2018-10-29 11:06] #57705 closed

[2018-10-29 11:06] #64602 closed

[2018-10-29 11:06] #57983 closed

[2018-10-29 11:08] mattshma commented on #70334
After I downgrade to 1.11.4, It's ok.

[2018-10-29 11:09] tiwalter opened #70365 "Cadvisor exposes redundant metrics with different labels"
**What happened**:
I scraped metrics from cadvisor with a Prometheus scrape job and stored them.

**What you expected to happen**:
Every metric for a single pod is stored once.

**How to reproduce it (as minimally and precisely as possible)**:
Add a scrape job in Prometheus with the following config:
[code]
Then monitor "container_cpu_usage_seconds_total" on the Prometheus UI especially for a runn

[2018-10-29 11:37] P1ng-W1n commented on #54967
Since I upgraded my cluster to 1.12.1 I can't see those errors in the syslog / journal. However, as far as I can see the default cgroup structure (and thus the location of the devices.allow files) did not change.
The default CM still refers to 'resourceContainer: /kube-proxy', so I'm not sure what has changed to solve (?) this issue:

# kubectl describe cm kube-proxy -n kube-system  |grep -i resou

[2018-10-29 11:59] liggitt commented on #70160
Then this issue should be reported as a bug against openresty

/close

[2018-10-29 11:59] #70160 closed

[2018-10-29 12:19] codeasashu commented on #70300
yes swap is off. Unfortunately, I can not post the contents as I have uninstalled and reinstalled using http://blog.programmableproduction.com/2018/03/08/Archlinux-Setup-Minikube-using-KVM/  and it worked.

The only difference I feel that worked for me is the installation of `docker-machine` and `docker-machine-driver-kvm` and the use of `kvm2` as the driver instead of virtualbox, which I was usin

[2018-10-29 12:22] neolit123 commented on #70335
/close

@sgmiller
please file the same issue in the kubernetes/kubeadm repo, so that we can keep track.
thanks.

[2018-10-29 12:22] #70335 closed

[2018-10-29 12:31] neolit123 commented on #66273
can someone confirm if the same happens for 1.12?

please mind that the kubadm team does not provide user support for external cloud provider issues.
/sig cloud-provider

[2018-10-29 12:32] dims commented on #67720
@lubinsz cross checking with https://gubernator.k8s.io/build/ppc64le-kubernetes/logs/ci-conformance-kubernetes/2041 looks good!

[2018-10-29 12:36] qdrop17 commented on #66735
Alright. I recreated the respective namespaces. After this I was able to find the dangling ressources. Deleting them also cleaned the dangling ressources properly. Everything fine now.

[2018-10-29 12:43] gogovan-vincentngai commented on #69689
am i missing something not yet provide ?

[2018-10-29 12:43] jsafrane commented on #69367
@pohly, thanks for for heads up. Indeed, #69868 seems to help. I hope it gets merged soon.

/hold
In favor of #69868

[2018-10-29 12:50] prudhvigodithi commented on #70330
Hey I have seen few articles related to k8s in regards to automated rollbacks, but the rollback is only possible with api using "kubectl rollout undo deploy/<name>", just want to know if kubernetes have any heath check or any other related checks to identify the failed deployment and rollback by itself.
its somewhat closely related to feature request.

[2018-10-29 13:04] kobozo commented on #68070
I had the same problem and restarting the kubelet was the solution. Thank you @wpf710

[2018-10-29 13:04] bhavin192 commented on #68522
@dashpole I think there is a small typo in the first point of description of this issue. Shouldn't that be `/metrics/cadvisor` https://github.com/kubernetes/kubernetes/blob/v1.12.0/pkg/kubelet/server/server.go#L71

[2018-10-29 13:08] neolit123 commented on #64018
@randomvariable yep, better not include references in commits.

is this resolved?

[2018-10-29 13:12] neolit123 commented on #38399
@jarrpa what error codes do you mean?
kubeadm is doing Exit(1) in case of a fatal error, so the only error code is 1?
have you seen others?

also, i'm closing this issue.
if you feel it needs discussion - open it in the kubernetest/kubeadm tracker.

/close

[2018-10-29 13:12] #38399 closed

[2018-10-29 13:15] randomvariable commented on #64018
Yes, https://github.com/kubernetes/repo-infra/pull/88 fixed this.

[2018-10-29 13:15] #64018 closed

[2018-10-29 13:21] mborsz commented on #70287
I was able to reproduce this issue using relatively fresh (v1.13.0-alpha.0) version. The retry rate was lower (like 8 retries per second), but the CPU was still high (like ~80%).
When firewall rule used to block ssh tunnel creation was removed, the cpu usage has dropped to nearly 0%.

Logs from v1.13.0-alpha.0 version: https://gist.github.com/mborsz/0590e07ee7d12bdcc369aa3f8637fcb5

[2018-10-29 13:22] andrewsykim commented on #66273
Sorry this fell off my radar. This seems like a configuration issue on the cluster and not an issue with the out-of-tree provider. This is usually because the CCM can't talk to the apiserver via the `kubernetes` service until calico starts, but calico can't start until the CCM starts. For the DigitalOcean provider specifically, you can work around this by:
* [tolerations on the DO CCM](https://git

[2018-10-29 13:22] #66273 closed

[2018-10-29 13:40] KevinWang15 commented on #66742
/remove-lifecycle stale

[2018-10-29 13:40] CalvinHartwell commented on #65089
Hi @sebastiansirch, @MarkusTeufelberger, @dims @haraldschilly,

I've just noticed this is an issue and I've let our developers know (I work for Canonical), though they may already be aware of this. @tvansteenburgh @kwmonroe @ktsakalozos.

Cheers,

- Calvin

[2018-10-29 14:12] clns commented on #43924
This actually worked for me.

[2018-10-29 14:54] wenjiaswe commented on #64227
/reopen
/assign @wenjiaswe

[2018-10-29 14:57] jarrpa commented on #38399
@neolit123 https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/error.go#L27-L33

I will re-open this issue elsewhere, accordingly.

[2018-10-29 15:02] neolit123 commented on #38399
ok, these are definitely not documented on --help
try logging an issue in k/kubeadm.

[2018-10-29 15:18] justinsb commented on #70305
That's great - thank you @hzxuzhonghu

I do think we should also think about why each call is slow though - running in parallel or just boosting the timeout feels a little bit like cheating, at least until we have justified that this is an intrinsically slow operation.

cc @liggitt (as you know both apimachinery & auth)

[2018-10-29 15:25] jbartosik commented on #69444
Lowering CPU utilization didn't help.

[2018-10-29 15:31] pmichali commented on #70248
For this failure:
[code]

It looks like redis master/slave pods are created and they are not responding to requests.  The app listens on a bind address, which by default is 0.0.0.0 (IPv4 only). Told, on slack, that if don't specify "::", it will not listen for IPv6 addresses.  Unfortunately, this appears to only be configurable via a config file, and not by the redis YAML files used for testing.

[2018-10-29 15:31] liggitt commented on #70305
I'm seeing a total of 2 seconds to perform initialization on initial cluster bring-up, and a total of .25 seconds to verify initialization on cluster restart. There's nothing inherently slow about the operation.

If many many API calls are being made using the internal client on bring-up, it could exhaust the assigned QPS and artificially slow down all calls made using it.

The apiserver log of ca

[2018-10-29 15:42] justinsb opened #70372 "Unobvious failed test message"
https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster-parallel/4893

[code]

Very unclear what happened there.

[2018-10-29 15:44] sfitts commented on #56038
We're running into this as well (attempting to support our customers in China).  FWIW the Aliyun mirrors are great, but they only work from inside of AliCloud.  The Azure mirror doesn't seem to include a container registry.  So I guess right now the answer is a per-environment mirror for "gcr.io"?  Does anyone know if China Unicom maintains a mirror for their cloud?

[2018-10-29 15:46] curu commented on #70284
@D-PENG.  Our bare-metal servers usually configured with too nic: eth0 as public and eth1 as private, service should normally listen only private ip for safe. It would be dangerous to listen on 0.0.0.0 if firewall was not properly configured.

[2018-10-29 15:53] gnufied commented on #69503
@andyzhangx  Yes that will work.

[2018-10-29 15:54] PrasadG193 commented on #68946
Hi @neolit123, I am not able to reproduce this issue on master branch. I think it's already fixed

[2018-10-29 16:11] #64617 closed

[2018-10-29 16:12] AishSundar commented on #70305
/priority important-soon

[2018-10-29 16:19] neolit123 commented on #68946
@PrasadG193 thanks for testing.
hm, it's either that or setup specific.

@vladimirvivien does the latest master work for you?

[2018-10-29 16:20] mariantalla opened #70375 "Failing kubeadm test: kubeadm-gce-stable-on-master/4929"
**Which jobs are failing**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-stable-on-master

**Which test(s) are failing**:
[`Up`](https://gubernator.k8s.io/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-stable-on-master/4929)

**Since when has it been failing**:
October 27th, 2018

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocki

[2018-10-29 16:30] mariantalla commented on #70375
/priority important-soon

[2018-10-29 16:36] dims commented on #56038
long-term-issue (note-to-self)

[2018-10-29 16:47] neolit123 commented on #70375
possible fix: https://github.com/kubernetes/kubernetes-anywhere/pull/572

[2018-10-29 16:48] xuhz commented on #70350
/sig Resource Management

[2018-10-29 16:55] justinsb commented on #70305
Chatted with @liggitt directly, and found that while RBAC isn't fast (probably rate-limiting), the're a much bigger delay which is probably more significant:

[code]

Note the ~ 15 second gap.

And this was with other tests as well, e.g. the example above is actually from https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/31371/artifacts/bootstrap-e2e-master/kube-apis

[2018-10-29 17:04] spiffxp commented on #62908
/remove-sig testing
/area conformance
/priority important-longterm
Lower priority because conformance should be focused more on pod behavior less on workload api behavior

[2018-10-29 17:04] spiffxp commented on #62908
/remove-lifecycle stale

[2018-10-29 17:08] thockin commented on #70264
I'm not sure I see how this fixes conflicts with imports on "real" glog?

If I have an app that uses `github.com/golang/glog` pervasively, and I decide to use client-go, I will have glog and klog loaded, and the logs will not be merged.

What am I missing?

[2018-10-29 17:13] jberkus commented on #70375
Adding sig:

/sig cluster-lifecycle

[2018-10-29 17:17] jpbetz commented on #59848
@yastij See the above linked design doc. Our main discussion/activity has been there. We'll be sending out PRs for the initial set of changes shortly.

[2018-10-29 17:19] nmousavi commented on #66828
/remove-lifecycle stale

[2018-10-29 17:21] khenidak commented on #25625
I whole heartedly support this.

[2018-10-29 17:34] bertinatto commented on #69538
/assign

[2018-10-29 17:52] pmichali commented on #70248
For this failure:
[code]

The test starts up NGINX, and, like the previous issue, it is listening on 0.0.0.0 port 80 by default. The configuration file needs to be changed to listen for IPv6 as well. A config sample shows using the "listen" config setting "[::]:80" to listen for both IPv6 and IPv4.  This could be placed in the Dockerfile for the image, as was done by Dane here: https://github.com/

[2018-10-29 17:53] #70246 closed

[2018-10-29 18:10] spiffxp commented on #69602
/area conformance

[2018-10-29 18:24] mjaow opened #70382 "Failed to delete pod volume because of directory not empty"
**What happened**:

When then  init  process of pod is blocking in requesting remote url,I delete the pod.But the init process is still blocking and the umonter is umounting pod volume.At the same time,the process wakes up and writes something to volume,leading to something left in pod volume path(Mine is /var/lib/kubelet/pods/ea23394f-db52-11e8-ad88-6c92bf6f20b2/volumes/hulk~lvm/hulklvm).Then the

[2018-10-29 18:34] jberkus commented on #69444
Test jobs where this test has flaked or failed:

* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-master (today)
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new (last 3 days ago)
* https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-new-gci-master-upgrade-cluster (yesterday)
* https://k8s-testgrid.

[2018-10-29 18:37] jberkus commented on #69444
SIG-Autoscaling's boards are also showing flakiness: https://k8s-testgrid.appspot.com/sig-autoscaling-hpa, although that looks better than the sig-release test boards.  Any idea why?

[2018-10-29 18:38] rpothier commented on #70248
The same failure as described above is also causing the below tests to fail
[StatefulSetBasic] [It] should perform rolling updates and roll backs of template modifications [Conformance]
[StatefulSetBasic] [It] Scaling should happen in predictable order and halt if any stateful pod is unhealthy [Conformance]
[StatefulSetBasic] [It] Burst scaling should run to completion even with unhealthy pods [Co

[2018-10-29 18:48] ixdy commented on #64018
we still need to bump the kubernetes/repo-infra dependency in WORKSPACE though. I'll open a PR to do that for kubernetes/kubernetes.

[2018-10-29 18:49] markyjackson-taulia commented on #34583
Is this still in progress? I just ran in to issue as well

[2018-10-29 18:52] MarkusTeufelberger commented on #65089
The location of the docker version checks have changed since this bug was filed btw. - but it might be as "simple" as adding a few lines or editing a regex in the test suites. I'm not deep enough into k8s internals and testing procedures to know for sure, but I hope that someone who is will update the versions of Docker that k8s is being run and tested against.

[2018-10-29 18:52] pmichali commented on #70248
For this failure:
[code]
The test starts up a pod, using the nginxslim image. I suspect that this has the same problem with the pod ignoring IPv6 requests, and that the same solution (customizing the image to list to "[::]:80") would allow it to listen to both IPv4 and IPv6 requests.

[2018-10-29 18:53] tallclair commented on #63732
xref: https://github.com/kubernetes/kubernetes/issues/54960

[2018-10-29 18:57] chandresh-pancholi commented on #34583
we moved it to GCP with 1.10 version and didn't face the issue

[2018-10-29 18:58] jinghzhu commented on #53459
Do we support arbitrary field selectors for CRD now?

[2018-10-29 18:58] jinghzhu commented on #51046
@ncdc

I am sorry to comment on this closed thread.

Currently, I am working on a CRD and needs to support arbitrary field selectors. I've tried to do it by learning from what you do for [pods](https://github.com/kubernetes/kubernetes/blob/c16ff84e925ea56a8753bb0cd2650c8e9a71ff1c/pkg/api/v1/conversion.go#L156-L180). But it always throws error: `field label not supported: status.state`.

So, I am w

[2018-10-29 19:02] pmichali commented on #70248
I think my last issue is the same problem…nginx used. For grins, I substituted the image with ngnx_v6 from Dane’s repo, and the test failed with image pull error. I changed the version to “latest” (was 0.20 and there are serval images with different versions used for different tests I guess). Unfortunately, it is trying to pull that image from the upstream repo:

Oct 29 18:57:25.511: INFO: At 2018

[2018-10-29 19:06] dcgloe commented on #47142
I was experiencing a similar problem to this, with intermittent DNS issues and dnsmasq set up on the host system (for responding to queries for hostnames in /etc/hosts). We had both the local dnsmasq and upstream DNS servers in resolv.conf.

dnsmasq in the kube-dns pod sends the first query for a name out to all of the servers in resolv.conf, but then chooses a single server for further queries. I

[2018-10-29 19:07] ncdc commented on #51046
CRDs still only support namespace and name for field selectors

[2018-10-29 19:08] ncdc commented on #53459
No, still just namespace and name

[2018-10-29 19:08] #70304 closed

[2018-10-29 19:08] yujuhong commented on #70357
AFAIK, SIGILL could happen because of go compile issue, or corrupted binary/memory.

In this case (running on the most common architecture), I'd suspect the latter. If the node is still there, we can check the hash of the kubelet binary to see if it's corrupted, but I think it's already gone.

BTW, from the kube-node-installation log:
[code]

I downloaded `https://storage.googleapis.com/kubernetes

[2018-10-29 19:13] chouhan commented on #32227
Can you please give an example of how to tag it?
Is there a way that I run a command and purges the non referenced / non active SG's?
The URL you've provided doesn't work anymore.
Is there a way to purge the orphaned SG's that exists out there?
Can we automate this process to clean up using commands, if so, what would that be like?
Also, can we automate this as part of a terraform script?

Thanks,

[2018-10-29 19:32] hutchgrant commented on #69314
Is the standard tier available in your region?

https://cloud.google.com/network-tiers/docs/using-network-service-tiers

[2018-10-29 20:00] zetaab commented on #70349
multi-attach error means that controller starts detaching the volume as well. The problem is now that kubernetes assumes that openstack works correctly. If volume is attached to node x when pod tries to start in node y, the controller raises volume danglingerror https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_volumes.go#L348 which means that it

[2018-10-29 20:16] roycaihw commented on #70270
cc @lavalamp @jpbetz

[2018-10-29 20:17] roycaihw commented on #70281
cc @lavalamp

[2018-10-29 20:18] roycaihw commented on #70305
/assign @logicalhan

[2018-10-29 20:22] justinsb commented on #70305
I dug into it - the reason for the long delay is that we're waiting for etcd to start.  We don't log anything, even at `--v=8`.

So maybe we do just increase the wait time :-(  An alternative would be to do an initializerPod that waits for etcd, which would be more correct.

[2018-10-29 20:23] thequailman commented on #65471
Is this issue still being worked on?

[2018-10-29 20:26] dims commented on #70264
@thockin if you are using `github.com/golang/glog` pervasively and want to use `client-go`, then you have 2 choices.

Choice #1 - Keep `github.com/golang/glog` in charge of actual file operations using example/pattern in:
- https://github.com/dims/klog/blob/master/examples/coexist_glog/coexist_glog.go#L19-L22

Choice #2 - I don't care much about github.com/golang/glog` in charge of writing to disk

[2018-10-29 20:46] vishh commented on #27000
@pinkencryption why does this feature *need* to happen? Have you thought of how this feature (IOPS isolation) will function in a coherent way across diverse environments (spinning/solid/network storage media)?
Is using local (NVMe) SSDs an option whenever IO is a constraint, especially for workloads like ML? Can databases be dedicated physical spinning disks especially when I/O is a constraint?

[2018-10-29 20:56] daschott commented on #70189
By default, hosts file are not being used in Windows, it is all registry based. What features is this blocking?

CC @madhanrm

[2018-10-29 21:05] mml commented on #70287
@liggitt your code snippets makes it seem like we should quickly (well, not sure how quickly really) decay to a rate of 2/min, not 8/sec.

Also, do we have way of creating a test that simulates this condition?  I.e. many nodes (they don't have to be real) and a blackhole firewall rule that causes ssh connection attempts to time out.

[2018-10-29 21:07] lavalamp commented on #70281
We (should) implement JSON patch exactly as specified.

http://jsonpatch.com/#replace is "... a remove followed by an add ...", so it makes sense to me that it wouldn't work on an absent field.

At any rate, we can only change this behavior if it doesn't match the JSON patch spec. (Please reopen if you think that is the case!)

If you use kubectl apply (especially the new version we're hoping will

[2018-10-29 21:07] #70281 closed

[2018-10-29 21:08] raravena80 opened #70387 "Support set subtraction or complement for Cluster Aggregated Roles"
**What would you like to be added**:

Currently, [Cluster Aggregated Roles](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles) represents a [set union](https://en.wikipedia.org/wiki/Union_(set_theory)) of all the roles that have been labeled. But what if somebody would like to use a 'Master' role and would but just subtract some permissions from that role and as

[2018-10-29 21:09] lavalamp commented on #70281
(Just to be clear: in our system at least, there's no different between being absent and being null; there's a difference in the yaml file in the OP but once it is encoded, the difference is gone.)

[2018-10-29 21:12] liggitt commented on #70287
agree

as far as I can tell, no nodes are required, and anything that makes the service connection attempt fail fast would suffice (e.g. reference a service with no endpoints)

[2018-10-29 21:13] msau42 commented on #55045
I think in general we're not recommending annotations anymore, and instead, add an alpha API field following this [process](https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#adding-unstable-features-to-stable-versions).

[2018-10-29 21:31] jnummelin commented on #70281
I do get that this currently "works as expected", I'm mainly looking this purely from client development POV.

(an empty array goes to the same list of things interpreted the same way)

I guess my main point was to raise some discussion why the JSON patch could not be interpreted too with similar logic than missing vs. null vs. empty array is currently on the API. I.e. the remove part on a non-exi

[2018-10-29 21:35] lavalamp commented on #70281
Yeah, I hear you, unfortunately the spec is pretty explicit:

-- https://tools.ietf.org/html/rfc6902#section-4.3

[2018-10-29 21:37] cheftako commented on #70287
On Mon, Oct 29, 2018 at 2:14 PM Jordan Liggitt <notifications@github.com>
wrote:

When I was working on the https tunnel patch I on several occasions pointed
the KAS at invalid IP addresses (or valid IP addresses with bad certs) and
did not see the a CPU usage problem.

[2018-10-29 21:49] neolit123 commented on #70365
/sig instrumentation

[2018-10-29 21:50] neolit123 commented on #70356
closing as duplicate of:
https://github.com/kubernetes/kubeadm/issues/1192

[2018-10-29 21:50] neolit123 commented on #70356
/close

[2018-10-29 21:50] #70356 closed

[2018-10-29 21:51] neolit123 commented on #70350
/sig node
/kind bug

[2018-10-29 21:52] neolit123 commented on #70342
/sig aws
/sig node

[2018-10-29 21:52] neolit123 commented on #70338
/sig api-machinery

[2018-10-29 21:56] adubkov commented on #52141
Then there is a bug in documentation, since it says:

"If you specify multiple matchExpressions associated with nodeSelectorTerms, then the pod can be scheduled onto a node **only if all** matchExpressions can be satisfied."

[2018-10-29 22:13] bsalamat commented on #70363
There is no way you can move a running pod from one node to another on the fly. Kubernetes does not support live migration of pods from one host to another.

[2018-10-29 22:38] runk commented on #69314
Hi Grant, I can see “Standard” tier in dropdown  in UI. Also can manually
create lb with standard type.

On Tue, 30 Oct 2018 at 06:33, Grant Hutchinson <notifications@github.com>
wrote:

--
Cheers,
Dmitry

[2018-10-29 22:41] jberkus commented on #65246
@pohly @saad-ali

Hey, this issue is considered a blocker for 1.13beta.  Is there anything we can do to get it resolved sooner, so that it doesn't delay beta next week?

[2018-10-29 22:58] thockin commented on #70264
Ahh, I see - some hackery is required.

On Mon, Oct 29, 2018 at 1:27 PM Davanum Srinivas <notifications@github.com>
wrote:

[2018-10-29 23:03] jberkus commented on #70375
First test since the merge passed.  If we get a few more greens, we can close.  Thanks for fast work!

[2018-10-29 23:06] mansi-a opened #70391 "Incorrect error reported when VM.Reconfigure fails in vSphere cloud provider"
**What happened**:
VM.Reconfigure failed when the VC user has insufficient privileges. Instead of an error related to authorization, a null pointer exception is thrown.

` 1 goroutinemap.go:150] Operation for \"provision-us1-dev-web-1/pvc[6271aab0-bd22-11e8-b4b3-005056bb78a9]\" failed. No retries permitted until 2018-09-20 23:05:45.833842201 +0000 UTC m=+1187.474157154 (durationBeforeRetry 2m2s).

[2018-10-29 23:08] msau42 commented on #65246
@pohly is trying to instrument the e2e tests to get logs from the csi driver containers so that we can debug.  He has tried running the test locally ~100 times and didn't see it flake.

[2018-10-29 23:08] mansi-a commented on #70391
@kubernetes/sig-cloud-provider-bugs

[2018-10-29 23:12] andrewsykim commented on #70391
/cc @frapposelli

[2018-10-29 23:15] mansi-a commented on #70391
After the call to VM.Reconfigure, returned task is used without making a null check and that is where is NPE is coming from.
https://github.com/kubernetes/kubernetes/blob/release-1.11/pkg/cloudprovider/providers/vsphere/vclib/diskmanagers/vmdm.go#L130

https://github.com/kubernetes/kubernetes/blob/release-1.11/vendor/github.com/vmware/govmomi/object/virtual_machine.go#L195
This returns nil here wh

[2018-10-29 23:34] mengqiy commented on #62830
/remove-lifecycle stale
/lifecycle freeze

[2018-10-30 00:13] wgliang commented on #70391
ref:https://github.com/kubernetes/kubernetes/pull/66304
This issue had been fixed.

[2018-10-30 01:39] zyf0330 commented on #66751
No one need this feature?

[2018-10-30 01:42] boxuan666 commented on #66530
did u resolve this problem?

[2018-10-30 02:06] aoxn commented on #70159
Annotation seems OK.

For annotation,  Since CloudProvider implementation(aws, alibaba etc.) does not allowed to modify `service` object directly, this would require CloudProvider framework doing the `provider id annotation` writing back on service object.

And method signature might need to modified to contain the required providerid info. Something like below.
`
func (c *Cloud) EnsureLoadBalance

[2018-10-30 02:07] hutchgrant commented on #69314
Reproduced issue with us-east1 region.

With network tier default set to Standard the annotation setting it to premium does not work.
With network tier default set to Premium the annotation setting it to standard does not work.

You can still edit or create a load balancer and set it to standard within the supported regions.

+1

[2018-10-30 02:49] tossmilestone commented on #70330
@prudhvigodithi Emm... I think it should be a feature request.
/kind feature

[2018-10-30 03:02] zhangxiaoyu-zidif commented on #55045
/reopen

[2018-10-30 03:03] zhangxiaoyu-zidif commented on #55045
/assign

[2018-10-30 03:06] daemon027 commented on #70363
It's reasonable that "we can't move a running pod from one node to another on the fly".
The "re-schedule" I mean is some situation likes when a node is down, we need to migrate the pods on the "dead node" to another "live node".
When I need to re-schedule a pod from node A to node B, I call a API, then the pod on node A is terminated and a new pod is created on node B, is there a way to do that?

[2018-10-30 03:23] romeotheriault opened #70403 "Master failing to joining cluster"
**What happened**:
Using kops 1.9.3 in AWS with Gossip based DNS.

I was doing a rolling-update of the master IG's to enable a some additional admission controllers. (PodNodeSelector and PodTolerationRestriction) I did this in two other clusters with no problems. When the cluster got to rolling the third master (we run our cluster in a 3 master setup) it brought down the instance and tried to brin

[2018-10-30 03:33] ravisantoshgudimetla commented on #70363
@daemon027 - Can you please elaborate on what you mean by "dead node" here? Usually, the pods on node which is `NotReady` are evicted after `--pod-eviction-timeout` on node. Also, look at the issue https://github.com/kubernetes/kubernetes/issues/55713, if you have volumes attached to pods.

On a high-level, if you are interesting in writing code to evict the pod, you can always use kube eviction a

[2018-10-30 03:51] chenchun commented on #57073
Behaviour of kube-controller-manager changed after the original issue report of #57073 .
Here is the test against latest upstream.

First I created a 1.4M job just like the yaml described at the top comment with little differences of total numbers of envs. Kube-controller-manager watched the creation of this obj and its length is larger than the maximum limit 1Mib. So Kube-controller-manager keepe

[2018-10-30 05:07] #68962 closed

[2018-10-30 05:08] #70104 closed

[2018-10-30 06:42] tossmilestone commented on #70363
@daemon027 I think you could first `cordon` the node A, then delete the pod to trigger `re-schedule` of the pod. Hope this can help you.

[2018-10-30 06:46] tossmilestone commented on #70403
/sig cluster-lifecycle

[2018-10-30 06:54] boxuan666 opened #70411 "kube-apiserver log always has TLS handshake error"
/triage support

In my cluster, kube-apiserver log always has TLS handshake error like this:
[code]

10.15.4.118 & 10.15.4.119 is LB server by using Haproxy.

10.15.4.253~255 is my master server, the same error is reported on all three machines. Kube-controller-manager & Kube-scheduler is no error log appears.

Guys please help me to resolve this !

[2018-10-30 06:57] ptemmer commented on #57187
Such feature would be very welcome. I'm used to temnporarily disabling checks for debugging purposes in Docker Swarm:

docker service update SERVICE --no-healthcheck

[2018-10-30 06:59] boxuan666 commented on #70411
/sig network
/sig node
/sig cluster-ops

[2018-10-30 08:14] ltupin commented on #70257
+1

[2018-10-30 09:04] denis111 commented on #63022
+1 here. We would like to have different autoscaling groups for dev and prod environments and use some labels for node affinity or node selector or taints to make production pods only run in production nodes. For now the only way to differentiate these nodes seems to use, for example, different instance type and use beta.kubernetes.io/instance-type label...

[2018-10-30 09:13] xiaoxubeii commented on #68871
@Tutotu

What operation will cause this to happen? In normal, the apiserver will be the only one module that can access the storage.

[2018-10-30 09:34] jsafrane commented on #70382
That should not happen. Kubelet should unmount volumes **after** all containers are dead. Can you  reproduce it reliably and share the reproducer? A mock flex driver that e.g. mounts tmpfs should be fine, right?

/sig storage

@msau42 @jingxu97 @gnufied, does it ring a bell?

[2018-10-30 09:38] gacopl commented on #63022
I found solution. In Launch configuration, in user data you can add kubelet arguments (provided your flavour of AMI has proper bootstrap.sh) just add --node-labels=role=prod for example. It worked for me on EKS flavour ami

[2018-10-30 09:39] xfye opened #70417 "[Kubernetes 1.9.2] Node becomes NotReady because docker ps hangs"
**What happened**:

It causes `docker ps` hangs and k8s node becomes NotReady.

I have logged an issue here as well:
https://github.com/containerd/containerd/issues/2750

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

It sometimes happens. Can not find the step to reproduce it.

**Anything else we need to know?**:

From `docker-containerd`'s du

[2018-10-30 09:50] philicious commented on #66563
/remove-lifecycle stale

[2018-10-30 10:09] AndriiOmelianenko commented on #70241
I have found where the issue was. It is actually my fault. When I have created secret, i have run
[code]

the problem is that this encoded value contains newline character.
To get same value without newline character, I should have run
[code]

This way it works. I was able to start Postgres with secrets.

[2018-10-30 10:09] #70241 closed

[2018-10-30 10:14] bclau commented on #70189
The hosts file entries are still taken into account on Windows when it has to resolve a DNS name. This is blocking DNS conformance tests, like ``[sig-network] DNS  should provide DNS for the cluster  [Conformance]``.

[2018-10-30 10:16] D-PENG commented on #70321
To modify the DNS address, you must delete the service of the default NAMESPACE kubernetes.

Component

[2018-10-30 10:17] Nebulazhang commented on #70417
I met this problem sometimes. And only to `restart dcokerd` can solve it.

[2018-10-30 10:38] Pingan2017 commented on #70417
if `docker ps ` hang, the healthcheck of PLEG will fail. the fail of hc will cause the node NotReady, it is normal

[2018-10-30 10:39] Pingan2017 commented on #70417
/sig node

[2018-10-30 10:39] xfye commented on #70417
Yes, neet to restart dockerd.

[2018-10-30 10:50] xfye commented on #70417
From Kuberntes's release notes, thre latest verified docker version is 17.03.x. But we dot not want to upgrade our Kubernetes components so far.
Can someone resolved this issue before ?

[2018-10-30 11:24] April-Q opened #70421 "change service port with aws nlb ，old security group rules not deleted"
**What happened**:
I deployed a cluster on aws and created a loadbalance type service. When I modify the port of this service, the value of nodeport, loadbalance on aws will only add a new port in the security group, and will not delete the port that was originally opened.

**What you expected to happen**:
Delete the original opened port, only keep the new port

**How to reproduce it (as minimally

[2018-10-30 11:30] RockyFu267 opened #70423 "Can't get kubeadm-config -o jsonpath={.data.MasterConfiguration}"
**What happened**:
when upgraded from 1.11.3 to 1.12.1, the order cannot show any result, and it's an empty file.

`kubectl get configmap -n kube-system kubeadm-config -o jsonpath={.data.MasterConfiguration} > kubeadm-config.yaml`

How can I fix it？
PS: when upgraded from 10.5 to 11.3, the order can be used normally.

**What you expected to happen**:
I am unale to export cluster info-{.data.Master

[2018-10-30 11:42] RockyFu267 commented on #70423
/sig config
/sig upgrade

[2018-10-30 12:15] idealhack commented on #63267
/remove-lifecycle stale
/lifecycle fronzen

[2018-10-30 12:47] mborsz commented on #70357
The sha1 from the kube-node-installation logs matches the one from build log:

[code]
I see right now that the last modification time for https://storage.googleapis.com/kubernetes-staging-a5dbc9bafa/gce-scale-cluster-devel/kubernetes-server-linux-amd64.tar.gz is 'Tue, 30 Oct 2018 08:03:32 GMT' where the test is from '2018-10-25 10:02 CEST' so we must be reusing buckets for some reason.

In kubelet

[2018-10-30 12:47] mborsz commented on #70357
/assign @yujuhong

[2018-10-30 12:51] Sharma-Rajat commented on #70387
I agree, I am currently going through this. my roles are getting ridiculously long because I can't have cluster administrators look into tenant namespace secrets.

see example below of one of my roles.

[code]

[2018-10-30 13:00] rajansandeep opened #70425 "Push the CoreDNS 1.2.5 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.2.5 image is available in docker coredns/coredns:1.2.5

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/cc @BenTheElder
/cc @timothysc
/cc @AishSundar
/cc @dims
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle
/sig release

[2018-10-30 13:14] Cynerva commented on #54482
/remove-lifecycle stale

[2018-10-30 13:31] ncdc commented on #64227
/reopen
/assign @wenjiaswe

[2018-10-30 13:31] ncdc commented on #64227
@wenjiaswe are you planning on working on this?

[2018-10-30 13:33] sumanmanuel opened #70427 "kernel: unregister_netdevice: waiting for eth0 to become free. Usage count = 1"
A query related to similar errors.

I understand that there are multiple discussions related to the same error like:
https://github.com/kubernetes/kubernetes/issues/64743#issuecomment-404160205
referring to https://github.com/torvalds/linux/commit/4ee806d51176ba7b8ff1efd81f271d7252e03a1d

But my doubt is couldnt this trigger a similar flow making kernel to report it:
https://github.com/kubernetes/

[2018-10-30 13:54] ncdc commented on #64227
/lifecycle frozen

setting to frozen for now. will remove if there are plans to proceed with this

[2018-10-30 14:24] pbarker commented on #64227
@wenjiaswe just a heads up we started a bit of work on this over in the proto issue https://github.com/golang/protobuf/issues/617#issuecomment-433492430 @amy was heading that up. Definitely open to collaborate though if you see a better way of handling this

[2018-10-30 14:28] yue9944882 opened #70429 "Should external name service have spec.port(s) field?"
/triage support
/sig network
/sig api-machinery

if not, can we add restrcitive validation for external name service?

@kubernetes/sig-network-misc

[2018-10-30 14:31] liggitt commented on #63022
be aware that that is an alpha feature currently in the process of being scoped down. see https://github.com/kubernetes/community/pull/911

[2018-10-30 14:31] sdlarsen commented on #65436
I'll close this as I'm setting up clusters differently, haven't had the time to try this again, and k8s is evolving very fast.

[2018-10-30 14:31] #65436 closed

[2018-10-30 14:50] jaysonwor commented on #55427
Running into the same issue while running a CronJob resource:
GenericPLEG: Unable to retrieve pods: rpc error: code = ResourceExhausted desc = grpc: received message larger than max (4209056 vs. 4194304)

I know we hit the wall on the GRPC but would really like to know how we can prevent this from occurring -- without having to manually prune docker?

[2018-10-30 15:20] danwinship commented on #70429
I guess the question is "Given that you can connect to any port on the IP of an ExternalName service, does that mean that ExternalName services shouldn't have specific ports defined? (And so should we prevent people from creating such Services?)"

I'd say "no". The port can still serve as documentation/clarification of what the intended use for the service is. (I suppose it could also serve as mis

[2018-10-30 15:26] denis111 commented on #63022
@liggitt But reading the proposal https://github.com/mikedanese/community/blob/limit-node/keps/sig-auth/0000-20170814-bounding-self-labeling-kubelets.md I guess if I use, for example --node-labels=kubelet.kubernetes.io/role=prod then it would work?
If not then I think this proposal must not be merged until there's an alternative or workaround.

[2018-10-30 15:31] pmichali commented on #70248
To summarize, each of the test failures are either due to a known issue for kube-dns that was judged not to be handled, test case changes to support checking IPv6 values, or test apps that need IPv6 support enabled (redis, nginx).  None of the issues point to IPv6 Kubernetes functionality.

[2018-10-30 15:36] liggitt commented on #63022
yes.

[2018-10-30 15:57] yue9944882 commented on #70429
thats exactly my question. or further, can an external name service associated w/ ingress? the ingress reference a service by its name and its port. if we dont allow ports field on external name, then it also forbids references from any ingress object.

for sure its fine if the ports fields are kept as a clarification. while that would not prevent developers from constructing facilities on this do

[2018-10-30 15:58] carsonoid commented on #57073
It's good to see that the controller partially works. The big issue here is consistency, I would rather have the initial API request be rejected then experience inconsistent performance. Anything that uses client-go for watches will experience similar issues that may go undetected for a long time. Thank you for making the PR to fix this at the api layer!

[2018-10-30 15:58] nikhita commented on #15863
Yes, they should be remain as-is and be considered legal.

@sunho Thanks for your PR, that's a big change! :D

[2018-10-30 16:00] wenjiaswe commented on #64227
@pbarker Thanks for letting me know, please go ahead and work on it. I assigned myself just because I want to keep this open and eventually fix this, but it will take me a while before I can actually get back to this.

/assign @amy

[2018-10-30 16:34] steebchen commented on #7433
We currently build a traditional CDN, using anycast to route our users automatically to the nearest node (we have PoPs all around the world). However, with the current services, Kubernetes just load balances through all pods which basically makes them unusable for our use case, since a given node should also serve content and not proxy the request to a node on the other side of the world. That's p

[2018-10-30 16:40] jingxu97 commented on #32727
I already have a PR open to fix this issue Handle failed attach operation leave uncertain volume attach state #69432, waiting for review. I will ping the reviewers.

[2018-10-30 16:42] gnufied commented on #64590
/reopen
/remove-lifecycle-rotten

[2018-10-30 16:43] gnufied commented on #64590
/lifecycle frozen

[2018-10-30 16:44] msau42 commented on #64590
@kubernetes/sig-storage-feature-requests

[2018-10-30 16:45] mjaow commented on #70382
The case happens occational,I tried and could not reproduce this case till now（But i will pay attention to this case and try more）.

why RemoveAll can accidentally remove precious user data? I think this will only clean the deleted pod volume, and every pod has unique pod id as identifier of volume.It wont clean others

[2018-10-30 16:46] shubheksha commented on #61599
ping @php-coder, is this on track for 1.13?

[2018-10-30 16:49] mjaow commented on #70382
List more logs about the case:
`I1029 16:16:21.995246  191557 kubelet.go:1890] SyncLoop (ADD, "api"): "l-hotelapi-detailpoi-test-436e0c2010958ee29a121e2bac43c226j6cn7_default(ea23394f-db52-11e8-ad88-6c92bf6f20b2)"
I1029 16:16:21.996013  191557 kubelet_pods.go:1176] Generating status for "l-hotelapi-detailpoi-test-436e0c2010958ee29a121e2bac43c226j6cn7_default(ea23394f-db52-11e8-ad88-6c92bf6f20b2)"

[2018-10-30 16:53] steven-sheehy commented on #7433
@steebchen You can try swapping kube-proxy with [kube-router](https://kube-router.io/) as it supports other [load-balancing algorithms](https://github.com/cloudnativelabs/kube-router/blob/master/docs/user-guide.md#load-balancing-scheduling-algorithms) besides round-robin.

[2018-10-30 17:05] jingxu97 commented on #70382
Checking the logic during volume mount/unmount and container start, there might be race condition like @mjaow discovered.
1. Volume manager tries to mount the volume, container is about to start (but not yet).
2. Delete the Pod (set the deletion timestamp), volume manager checks the pod and container status and believes it is ok to remove the pod/volume from the desired the state. At the same time

[2018-10-30 17:07] jbartosik commented on #69444
Thanks for the links I've been looking only at one of those dashboards. I've sent [another PR](https://github.com/kubernetes/kubernetes/pull/70441) that should reduce flakiness of our tests.

[2018-10-30 17:11] skbly7 opened #70442 "StateFulSets: Pod deletion hitting race condition with ongoing RollingUpdate"
**What happened**:
Inconsistent state of 0th pod of StateFulSets, running with older revision (`controller-revision-hash` and other values)

**What you expected to happen**:
All the pods to be in same state and running with newer StateFulSets config

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a StateFulSets with `n` replicas and `updateStrategy=rollingUpdate`.
2. A

[2018-10-30 17:13] caesarxuchao commented on #54709
/remove-lifecycle rotten
/lifecycle froze

[2018-10-30 17:16] steebchen commented on #7433
I checked that but I'm not sure if this is the right approach. First of all, this requires us to switch to kube-router (we use kube-proxy), but if I understood correctly we would have to get rid of weave net, which we need because of the encryption between nodes. Additionally, the only algorithm which is probably correct is the "[Locality-Based Least-Connection Scheduling](http://kb.linuxvirtualse

[2018-10-30 17:29] shubheksha commented on #68524
ping @saad-ali / @lavalamp - is this still planned for 1.13?

[2018-10-30 17:32] shubheksha commented on #64742
ping @timothysc - is this on track for 1.13?

[2018-10-30 17:32] shubheksha commented on #69122
ping @saad-ali - is this on track for 1.13? Is anyone working on it?

[2018-10-30 17:32] shubheksha commented on #64742
/remove-lifecycle frozen

[2018-10-30 17:33] shubheksha commented on #64742
oops, sorry - didn't notice you added the label explicitly - adding it back
/lifecycle frozen

[2018-10-30 17:36] jberkus opened #70445 "All GKE upgrade tests failing since 10/29"
Starting last night (Pacific time), all GKE upgrade tests started failing.  Many of them were very flaky before that, but even the non-flaky ones have been consistently failing since 13:00 on Oct. 29th.  Since this does not line up with any particular commit (or infra commit), I strongly suspect that it's due to a change in GKE.

**Which jobs are failing**:

* https://k8s-testgrid.appspot.com/sig-

[2018-10-30 17:38] shubheksha commented on #14733
ping @wojtek-t / @wangzhen127 - is this on track for 1.13?

[2018-10-30 17:51] logicalhan commented on #70305
I agree with @justinsb about increasing the wait time for our liveness check (especially considering the fact that we are apparently hitting our liveness failure threshold 75% of the time during out e2e tests).

[2018-10-30 17:52] logicalhan commented on #70305
@justinsb, how did you gather those metrics, by the way?

[2018-10-30 17:56] wangzhen127 commented on #14733
Yes

[2018-10-30 18:00] AishSundar commented on #70445
/assign @aleksandra-malinowska
/cc @mengqiy

[2018-10-30 18:03] #68973 closed

[2018-10-30 18:05] AishSundar commented on #70445
Here's are all the chnages in this timeframe https://github.com/kubernetes/kubernetes/compare/1f3ef2909...3293f02d0?

[2018-10-30 18:06] php-coder commented on #61599
I don't know.

/unassign
/assign @stlaz

[2018-10-30 18:19] brancz commented on #66790
/remove-lifecycle stale

[2018-10-30 18:21] mariantalla opened #70446 "Failing tests: vsphere cloud provider conformance tests"
**Which jobs are failing**:
[master-blocking/Conformance vSphere-cloud-provider](https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20vSphere-cloud-provider)

**Which test(s) are failing**:
[On gubernator](https://gubernator.k8s.io/build/k8s-conformance-cloud-provider-vsphere/head/ci/latest/1540913495)

Test-specific links:
[[sig-api-machinery] ConfigMap should be consuma

[2018-10-30 18:22] mariantalla commented on #70446
/kind failing-test
/sig vmware
/sig api-machinery
/sig apps

[2018-10-30 18:30] gertcuykens opened #70447 "go get -u github.com/kubernetes/kubernetes/cmd/kubectl"
Now that we are in the age of go modules I think it is't fair to make this work
[code]
It does install but as soon as you run it you get
[code]

/kind bug
/sig cli

[2018-10-30 18:34] jpbetz commented on #70082
Please check the ` backend_commit_duration_seconds` metric and report back (per https://github.com/etcd-io/etcd/blob/master/Documentation/metrics.md#disk). If the value is high we can attribute the issue to disk latency and if it's low we know we should investigate further.

[2018-10-30 18:35] mariantalla commented on #70446
/milestone 1.13

[2018-10-30 18:37] gnufied opened #70448 "Test output of installing rbac policies is too noisy"
Looks like after https://github.com/kubernetes/kubernetes/pull/69868 got merged, our test output has become too noisy and we are printing entire globs of RBAC policies.

[code]

I do not think, this is necessary.

/sig storage

cc @pohly

[2018-10-30 18:40] justinsb commented on #70305
@logicalhan I'm sure there's a better way, but I `gsutil cp`ed the logs down with some bash, and then grepped against them.  Specifically the kubelet.log file: `grep -l  kube-apiserver.message.Container.failed.liveness.probe */artifacts/bootstrap-e2e-master/kubelet.log` (`| wc -l` for a count) and `-L` to list files without matches

[2018-10-30 18:43] jberkus commented on #69444
Thanks!

[2018-10-30 19:08] agladboy commented on #65481
I hit the same issue with 8GB RAM and Ubuntu LTS 18.04 also.
/remove-lifecycle rotten

[2018-10-30 19:20] skbly7 commented on #70442
/sig apps

[2018-10-30 19:22] #63366 closed

[2018-10-30 19:53] pohly commented on #70448
It was useful while we started with loading .yaml and patching it and it might be useful again for some other developer who starts to do the same. But I agree, for continuous usage in CI it's less useful.

How about we remove the"patching original content" message (because it mostly represents what's in the .yaml file, except when it uses deprecated aliases) and keep the "creating ..." message? Sh

[2018-10-30 19:59] PatrickLang commented on #51540
I do see
https://k8s-testgrid.appspot.com/sig-release-misc has cross-build results published: https://github.com/kubernetes/test-infra/blob/27957efc6e3859d58dceaac9e7cb7ada63410e2f/testgrid/config.yaml#L687

But nothing blocking

[2018-10-30 20:02] amy commented on #64227
Thanks!

[2018-10-30 20:11] gnufied commented on #70303
I do not think this is a valid bug. I ran same e2e test in linked PR on GCE and it works:

[code]

As you can see the fsGroup is correctly setup. So fsGroup at least works for CSI. May be something else happened in e2e.

[2018-10-30 20:13] bgrant0607 commented on #69601
Will elevate visibility to the mailing list. We should update the criteria doc with the decision.

[2018-10-30 20:14] pohly commented on #70448
/assign

[2018-10-30 20:19] jacobstr opened #70450 "kube-scheduler panic"
**What happened**: kube-scheduler crashes (panics) in rare circumstances. Stack trace:

[code]

**What you expected to happen**: flawless operation ;)

**How to reproduce it (as minimally and precisely as possible)**: Unclear. The error above looks like it was associated with some cloning of node metadata. Perhaps due to a race during node scale-up/scale-down and cache interactions.

**Anything el

[2018-10-30 20:20] jacobstr commented on #70450
/sig scheduling

[2018-10-30 20:25] p53 opened #70451 "Connection closed by foreign host to user pods"
I have kube cluster running in lxd containers 3.0.2, bridged setup installed with kubespray, what is my problem is that when trying to connect to service/pod, after 5 s it closes connections:
I tried from lxd host to pod/services (mysql, nextcloud) also between pods

[code]
interesting is that when i try to connect to dashboard or ingress controller it doesn't have this problem

[code]

[2018-10-30 20:37] PatrickLang commented on #51540
I just went through this with @spiffxp, @BenTheElder and others in the SIG-Testing meeting today, and we agree we can move this to v1.14. Today, these tests are run in pods within a GKE cluster, which has no Windows capability. We would need to either bring up another cluster and prow deployment to handle non-Linux tests (Mac & Windows). Unit testing is currently a **should** not a **must**. SIG-W

[2018-10-30 20:39] #62772 closed

[2018-10-30 20:40] romeotheriault commented on #70403
My co-worker found that the fix was restarting the kube-dns and kube-dns-autoscaler pods. Though we're still not sure why they were failing to update dns with the new master ip.

[2018-10-30 20:40] #70403 closed

[2018-10-30 20:44] alexellis commented on #69647
I'm also getting this error for the [OpenFaaS helm chart](https://github.com/openfaas/faas-netes/tree/master/chart/openfaas) with K8s 1.12. It's not clear from this thread what I need to do to fix this. Can anyone make a suggestion? cc @lucasroesler @stefanprodan