[2018-06-13 21:47] davidz627 commented on #65058
/assign

[2018-06-13 21:57] jingweno opened #65071 "kubeadm upgrade apply failure"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I have a running cluster at v1.10.3 and I'm trying to upgrade to the latest v1.10.4. I did the followings:

1. Downloaded kubeadm 1.10.3, ran `kubeadm upgrade apply v1.10.3` and it failed at upgrading control plane:

[code]

2. Downloaded kubeadm 1.10.4, ran `kubeadm upgrade apply v1.10.3` and it also failed for the same

[2018-06-13 22:00] jingweno commented on #65071
/sig area/kubeadm

[2018-06-13 22:01] jingweno commented on #65071
/sig kubeadm

[2018-06-13 22:02] jingweno commented on #65071
/sig aws
/area kubeadm

[2018-06-13 22:03] jingweno commented on #65071
/area upgrade

[2018-06-13 22:10] phspagiari commented on #45419
+1
Kubernetes: 1.7.16
Docker: 17.12.1-ce
OS: CoreOS 1688.5.3
Kernel: 4.14.32-coreos
CNI: Calico (v2.6.7)
Kops v1.9.1

[2018-06-13 22:34] jessicayuen commented on #55807
Any updates on this?

[2018-06-13 22:37] liggitt commented on #65066
does `kubectl apply` do what you want?

[2018-06-13 23:04] sebasmannem commented on #57923
/remove-lifecycle rotten

[2018-06-13 23:05] sebasmannem commented on #57923
@liggitt , @pnovotnak , can you answer the question of @jrnt30 ?

[2018-06-13 23:21] lavalamp commented on #65012
This has come up several times and I still haven't seen evidence that we still have a problem if the TCP keepalive is configured and working as expected?

[2018-06-13 23:34] lavalamp commented on #59478
/assign @mbohlool

[2018-06-13 23:54] wenjiaswe commented on #64484
Wait for PR #65002 to merge.

[2018-06-13 23:57] davidz627 opened #65076 "cluster/kube-up.sh on gce fails cluster initialization (timeout)"
This is on HEAD of k8s/k8s/master.

cluster/kube-up.sh on GCE is failing cluster initialization with a timeout on the step:
[code]

/kind bug
/sig cluster-lifecycle
/cc @msau42 also having the same issue

[2018-06-13 23:58] davidz627 commented on #65076
/assign @mikedanese

[2018-06-14 01:03] bgrant0607 commented on #26234
cc @apelisse

[2018-06-14 01:17] hzxuzhonghu commented on #65012
Yes, can force reconnect only by closing the previous tcp connection explicitly.

[2018-06-14 02:27] yoshihingis opened #65078 "kubectl exec -it <pod_name> /bin/bash made error "http: server gave HTTP response to HTTPS client""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/sig api-machinery

**What happened**:

I made kubernetes-cluster with kubeadm and flannel.

It seemed like that kubernetes cluster wa made successfully.
and Gpu pod was build  up   successfully.

but I commnded
$kubect l exec -it GPU_pod name /bin/bash,I got erroe message as below;

error: error sending request: Post https://10.21.XX.YY:6443/api/v1/na

[2018-06-14 02:28] lavalamp commented on #65012
It seems like this doesn't really solve the problem if a second step is
required? Am I missing something?

On Wed, Jun 13, 2018, 6:18 PM Zhonghu Xu <notifications@github.com> wrote:

[2018-06-14 02:38] MikeSpreitzer commented on #65062
I have done some more trials.  One (https://docs.google.com/document/d/1jxx-0YHc3YQvW7dIInRD8SBv0DgtJ_F-YvfoM_pRRCI) at 500 kube API writes/sec; that got 2 errors on update operations.  Another (https://docs.google.com/document/d/1SF_e6rEcnmlfIUkZ6DtgZ_vl5YX7yvj5-qX1m5Y4xVg) at 2000 kube API writes/sec; that got 17 errors on create operations.

[2018-06-14 02:46] hzxuzhonghu commented on #65012
No, we can close connections when keepalive timeout. Then a newer request, no matter `watch/get/list`, will lead to http client to get a connection, and since no connection can use now. It has to dial again to establish a new connection. The new connection is possibly with a new healthy apiserver.

[2018-06-14 02:56] wuzhihui1123 commented on #61543
i have upgraded to 1.10.4 , the error still .
i only upgrade kubernetes node ,
==== my env:
kube-api:  1.8.7
kubelet:   1.10.4
docker: 18.03.1-ce
ceph: 12.0.3
=======

[2018-06-14 03:14] ggaaooppeenngg opened #65079 "Latter gofmt behaviors changed, and will influence the whole repo"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I am using devel go, and my formatter formats the files I edited, I found the latest gofmt changed it's behavior, which will influence the whole repo's formatting.
**What you expected to happen**:
After the k8s builder upgrade go, format the whole repo.
**How to reproduce it (as minimally and precisely as possible)**:

[2018-06-14 03:29] liggitt commented on #65079
the version of gofmt used by the go version being used to build (currently 1.10.1, I think) is verified by CI. gofmt is rerun as part of updating go versions. see https://github.com/kubernetes/kubernetes/pull/60599

/close

[2018-06-14 03:29] #65079 closed

[2018-06-14 03:55] wuzhihui1123 commented on #61543
my current k8s version is 1.8.7 。 when  i only upgrade k8s-node to 1.9.x or 1.10.x , this problem will occur. but when i upgrade k8s-master  to the same version as k8s-node.  The problem does not exist， anything is ok。
I want people who have problems to know this：）

[2018-06-14 04:39] liggitt commented on #61043
resolved by #58647

/close

[2018-06-14 04:39] #61043 closed

[2018-06-14 05:38] ffledgling commented on #23880
/remove-lifecycle stale

[2018-06-14 05:40] #55610 closed

[2018-06-14 06:38] liggitt commented on #65066
you can use `kubectl create configmap` in combination with apply like this:

`kubectl create configmap my-config ... --dry-run -o yaml | kubectl apply -f -`

[2018-06-14 06:41] #53854 closed

[2018-06-14 07:15] kongsys opened #65080 "kubelet high and memory useage"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubelet high and memory useage
below text from command top

  PID USER      PR  NI    VIRT    RES    SHR S   %CPU  %MEM     TIME+ COMMAND
 2691 root      20   0 16.668g 0.012t  19808 D 1421.7 31.13  20798:20 /opt/k8s/bin/kubelet --logtostderr=false --v=0 --log-dir=/opt/k8s/log --port=10250 --hostname-overri+

**What you e

[2018-06-14 07:50] pawelprazak commented on #39593
We are seeing this issue in 1.9.7, is there any work being done to fix it?

[2018-06-14 08:10] TristanMeng opened #65081 "Failed to ensure that filter chain INPUT jumps to KUBE-EXTERNAL-SERVICES: error appending rule: exit status 1: iptables: No chain/target/match by that name"
I meet the question.

I build k8s by kubeadm.
Then I use kubectl logs kube-proxy -n kube-system.
I get the failed message.

Failed to ensure that filter chain INPUT jumps to KUBE-EXTERNAL-SERVICES: error appending rule: exit status 1: iptables: No chain/target/match by that name.

**Environment**:
- kubectl kubeadm kubelet  version is v1.10.4
- hardware configuration:
- OS

NAME="CentOS Linux"
VER

[2018-06-14 08:19] maheshmadpathi opened #65082 "Kubelet unable to load client CA file"
@wg-kubeadm-adoption

**Is this a BUG REPORT or FEATURE REQUEST?**:

 bug

**What happened**:
when we try to initialize kubeadm the kubelet status becomes "failed" as a result of this we get below errors

`kubeadm init --pod-network-cidr *.*.*.*/24 --kubernetes-version=v1.10.4 --skip-preflight-checks --apiserver-advertise-address=*.*.*.*`

[code]

[2018-06-14 08:32] ensonic commented on #62361
I got a similar error:
[code]
The error message is confusing
1) is the user (service acct.) missing or is the user lacking permissions
2) what are the components in the fully-qualified user name? Looks like
   ???:<account-type>:<namespace>:<name>, is this documented anywhere? Ideally 'kubectl describe serviceaccount helm' would show the fully qualified name to aid debugging. Will file extra bug r

[2018-06-14 08:35] aliouba commented on #45727
/Close

[2018-06-14 08:35] #45727 closed

[2018-06-14 08:37] asatsi commented on #58876
@sahildavawala localhost should never be set to any IP other than 127.0.0.1 However you can point 127.0.0.1 to any other string/hostname as an IP to resolve to.

[2018-06-14 08:49] ensonic opened #65085 "fully qualified account names are undocumented"
/kind bug

**What happened**:
See #62361

**What you expected to happen**:
If using fully qualified account names in messages such as
[code]
document somehwere what each component means, e.g. `???:<account-type>:<namespace>:<name>`.

**How to reproduce it (as minimally and precisely as possible)**:
I am trying to make helm work with rbac (according to https://github.com/kubernetes/helm/blob/master

[2018-06-14 08:50] andyzhangx commented on #65060
k8s on windows now only supports smb mount(azure file) and disk mount, nfs mount is not supported, you could find details about why nfs mount is not supported on windows here: https://github.com/kubernetes/kubernetes/issues/56188

[2018-06-14 08:53] hjacobs commented on #30518
I think it does not make sense to keep the ALB/ELBv2 open here as the existing Ingress controllers such as https://github.com/zalando-incubator/kube-ingress-aws-controller/ solve it.

/close

[2018-06-14 08:53] yamt opened #65086 "An option to exclude kube-proxy for kubeadm init"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Our network backend (https://github.com/midonet/midonet-kubernetes) has a replacement
of kube-proxy. After "kubeadm init", we need to disable kube-proxy and clean up its iptables rules manually.  See step 3. and 4. in https://github.com/midonet/midonet-kubernetes/tree/7f0ef03a2b1bcedd4a3e760a6f4beafe25e0da5d#how-to-de

[2018-06-14 08:53] andyzhangx commented on #65060
You could find azure file & azure disk mount examples here:
https://github.com/andyzhangx/demo/tree/master/windows
Just let me know if you have any question.

[2018-06-14 08:59] andyzhangx commented on #56188
Hi @PatrickLang Someone is asking whether nfs mount will be supported on Windows, so according to below conclusion, we will **never** support nfs mount on Windows, right?

Currently NFS volume is not supportd for windows. There is built-in client for NFS, but it’s limited to v2 and v3 (whereas, majority of the market has moved on to v4). So as long as there is no support for NFS v4, we could **not

[2018-06-14 09:03] kasterma commented on #43168
@john-bakker I tried the command mentioned by @WolfgangMau  above

    kubectl delete job kafka-test-job-7gsd9 --cascade=false

and that deleted the job.  Still seems like this should not be needed; but my immediate problem of having to special case this job in my scripts is resolved.

[2018-06-14 09:06] warmchang commented on #64117
Add the "--fail-swap-on=false" para to enable kubelet run when the swap is enabled on the node.

[2018-06-14 09:13] yamt commented on #65086
@kubernetes/sig-cluster-lifecycle-feature-requests

[2018-06-14 09:19] dixudx commented on #65086
@luxas Are we going to support this?

[2018-06-14 09:40] islinwb commented on #65081
/sig network

[2018-06-14 09:44] hzxuzhonghu commented on #65012
opened a pr #65087,  and have tested it simply.

[2018-06-14 09:47] soltysh commented on #25382
@ercliou sure go ahead.

[2018-06-14 09:54] MarkusTeufelberger opened #65089 "Kubernetes is not yet tested with Docker 17.12.1 (default in Ubuntu 18.04 LTS "Bionic")"
/kind feature

**What happened**:

Kubernetes is not tested with current Docker versions, specifically the one in Ubuntu 18.04 LTS (17.12.1, see https://packages.ubuntu.com/bionic/docker.io)

**What you expected to happen**:

e2e tests being run for Docker 17.12.1 at least, ideally also for 18.03

**How to reproduce it (as minimally and precisely as possible)**:

Check https://github.com/kubernete

[2018-06-14 09:58] MarkusTeufelberger commented on #65089
I'm not 100% sure which sig this should go to (node? testing?), so I'm letting someone else tag this...

[2018-06-14 10:06] hzxuzhonghu opened #65090 "leader election client should set timeout"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

kube-cm kube-scheduler does not exit when kube-apiserver suspended

**What you expected to happen**:

kube-cm kube-scheduler should exit after LeaderElector stops leading

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `k

[2018-06-14 10:07] hzxuzhonghu commented on #65090
/sig api-machinery

/kind bug

[2018-06-14 10:07] hzxuzhonghu commented on #65090
/assign

[2018-06-14 10:08] bboreham commented on #46508
/remove-lifecycle rotten

this is still an issue for users of Weave Net.

[2018-06-14 10:13] bboreham commented on #64924
This looks interesting:

[code]

is your DNS answering that request with something that is not NXDOMAIN?

[2018-06-14 10:14] Alados opened #65091 "Pod infinitely occupie node after OOM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I created job with processing big data, because of it I used plenty of RAM, when RAM is ended, I got "Out of memory" and my pod stay unreachable and got status unknown. After 10 min he is marked for deleted, but it will never delete. Also node where located pod, stay NotReady.

After that was created two another pods. Fi

[2018-06-14 10:20] ant31 commented on #45509
@antoinne85
Not only the code, but also the task of every pod of a **replica**set should be same.
If they are, even slightly, different it should not be grouped under the same Deployment/RS.
Your workers/pods are processing multiple kinds of tasks, then they are not identical. Statefulsets, jobs may fit better. Also, I would just consider creating a deployment per worker and then get a fine grain

[2018-06-14 10:34] nilebox commented on #54430
@caesarxuchao @liggitt should this issue be reopened?

[2018-06-14 10:34] mweichert opened #65093 "Upgrade GlusterFS client to 4.0 in hypercube"
I cannot mount volumes from a Gluster server running the latest stable release of Gluster, 4.0 as I get the following error:

`Server is operating at an op-version which is not supported`

It appears that glusterfs-client and glusterfs-common are out-of-date by 5 minor versions, and one major version in hypercube.

**Kubernetes version** (use kubectl version):
Client Version: version.Info{Major:"1

[2018-06-14 10:35] mweichert commented on #65093
/sig storage

[2018-06-14 10:36] mweichert commented on #65093
Related: #43069

[2018-06-14 10:37] sttts commented on #59478
Fixed in https://github.com/kubernetes/kubernetes/pull/65092

[2018-06-14 10:45] #56451 closed

[2018-06-14 10:45] #56963 closed

[2018-06-14 10:45] #58011 closed

[2018-06-14 10:54] opsnull commented on #64193
same issue here

[2018-06-14 11:08] Alados commented on #65091
/sig bugs

[2018-06-14 11:30] anupam4881 opened #65096 "kubeadm : Pods on new cluster nodes are not able to communicate any external ip or port"
**Environment**:
- Kubernetes version (use `kubectl version`):  Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.4", GitCommit:"5ca598b4ba5abb89bb773071ce452e33fb66339d", GitTreeState:"clean", BuildDate:"2018-06-06T08:13:03Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

- Cloud provider or hardware configuration:  Intel
- OS (e.g. from /etc/os-release): CentOS

[2018-06-14 11:36] opsnull commented on #61005
same issus here。

curl pod_ip:port OK, but not ok where curl service_ip:port.

Failed to execute iptables-restore for nat: exit status 1 (iptables-restore: line  7

[2018-06-14 11:45] frankh opened #65097 "HorizontalPodAutoscaler: Possible to limit scale down?"
HPA seems to have a pretty big problem with spiky loads. In my case, I want to use it for a service which has large bursts of traffic in quick succession. The problem is that after it scales up (correctly), it will scale down to the minimum if there's low load for just 5 minutes.

I want to control it to only scale down by a maximum of 1 or 2 containers every scale event, is that possible?

[2018-06-14 11:49] discordianfish commented on #63018
@balajismaniam / @ConnorDoyle: Is there some way I can help you debug/fix this? Seems unrelated to anything special in our setup from what I can tell. We had to disable this for all our deployments because it was causing severe issues.

[2018-06-14 11:52] hzxuzhonghu commented on #65091
/sig app

[2018-06-14 11:53] frankh commented on #65097
/sig autoscaling

[2018-06-14 12:09] #65058 closed

[2018-06-14 12:11] BrianChristie commented on #30518
FYI for reference:
SIG-AWS has taken over the CoreOS aws-alb-ingress-controller as an official SIG-AWS Subproject as of June 1st.
- Subproject Proposal: https://docs.google.com/document/d/1h6nfuE2DWTLsnJCHdJ7jq5lYVLW_tWOlDtUVNL5OGs8/view
- Subproject Repo: https://github.com/kubernetes-sigs/aws-alb-ingress-controller

[2018-06-14 12:21] grobie opened #65098 "Support MinReadySeconds on StatefulSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Using a StatefulSet for memcached clusters would be a good choice, as stable hostnames will avoid unnecessary data reassignment during a deploy. In order to let cache hit rate stabilize before updating the next pod, I was looking for the `MinReadySeconds` option as available in Deployment, DaemonSet, and ReplicaSet.

[2018-06-14 12:32] grobie commented on #65098
@kubernetes/sig-apps-feature-requests

[2018-06-14 13:10] LukeDefeo commented on #62594
I am also having this issue, its very intermittent

This is my config.
[code]

[2018-06-14 13:10] Sn0rt commented on #29972
Any update on this issue?

we encounted with this issus with Qcloud

[code]

and the container confirmed running from docker view.

[code]

[2018-06-14 13:11] detiber commented on #65086
@dixudx @luxas I think it is a valid feature request

[2018-06-14 14:12] liggitt commented on #54430
/remove-lifecycle rotten
/lifecycle frozen

[2018-06-14 14:15] luxas commented on #65086
Yes, it's a valid feature request and I think we should do it, but the issue is in the wrong repo.
Please reopen in kubernetes/kubeadm, thanks!

[2018-06-14 14:15] #65086 closed

[2018-06-14 14:54] nivedhan-murugavel commented on #65005
@rfranzke Did you find solution for the above issue?

[2018-06-14 14:59] pxlphile commented on #37471
I can reproduce this behavior in Windows 7 Professional 64 bit in both
- Git bash
- Windows cmd

The minikube is a fresh v0.28.0 install
[code]

I use a command as seen in this [kubernetesbyexample.com, part "Pods"](http://kubernetesbyexample.com/pods/)

[code]

[2018-06-14 15:04] ianseyer commented on #40651
It'd be great to have this index available from _within_ the statefulset config; certain applications require, for example, special behaviors to be executed by the first member of a network, to "bootstrap" the network. I don't see an elegant solution to this, even  with the downwards API.

[2018-06-14 15:14] mattmb commented on #24725
Does anyone know *why* deployments only support restartPolicy == Always? It's not clear from the documentation and I can't spot the reason easily in the code.

I think there are legitimate use cases for "Never". For example, I have a pod running on a node and it has a liveness probe. That node then fails in someway that makes it remain up but perform slowly. The liveness probe fails and the kubele

[2018-06-14 15:17] kfox1111 commented on #31824
/remove-lifecycle stale

[2018-06-14 15:18] kfox1111 commented on #29582
/remove-lifecycle stale

[2018-06-14 15:18] kfox1111 commented on #29582
once csi can do pod volumes I think this should be implementable as a csi driver.

[2018-06-14 15:50] MikeSpreitzer commented on #31824
Another issue to add to the original list: performance isolation in the control plane.  We would want to provide some sort of fairness in the way the control plane does control work.

[2018-06-14 16:04] mikenorgate commented on #59033
I am currently experience this exact issue. I have upgraded my cluster to v1.10.3 which should contain the fix but I can't get it to work. What am I missing?

[2018-06-14 16:11] jsafrane commented on #64984
I'll create a proposal for in-tree CSI volumes then.

[2018-06-14 16:28] redbaron opened #65106 "strategic patch doesn't keep order of duplicated elements in the list"
/kind bug

**What happened**:
 given list with duplicated keys D1

[code]

and a patch updating non-duplicated key A:
[code]

it reorders keys:
[code]

**What you expected to happen**:

Order of duplicated keys stays the same
[code]

**How to reproduce it (as minimally and precisely as possible)**:

I created test-case which fails on release-1.10 and master: https://github.com/redbaron/kubernetes/

[2018-06-14 16:32] davidkarlsen commented on #64924
@bboreham
[code]

[2018-06-14 16:43] redbaron commented on #49926
@u2mejc it looks suspiciously similar to what we see on bare-metal,  it looks like attach-detach controller can take minutes to update node status. See details in https://github.com/kubernetes/kubernetes/issues/64549  looks like it see new value only after some internal timeout, it then relists resources and sees update.

[2018-06-14 16:50] rbubnis opened #65107 "ResourceQuota object count ignores deletes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
With resource quota defined in the namespace, scaling a deployment down sometimes does not decrement the Pod count on the resourceQuota.  This is seen on pods in deployment or statefulsets, and on service objects. The count will increment in sync with resources, but can skip count updates when deleting resources. In this s

[2018-06-14 16:51] #58194 closed

[2018-06-14 17:11] rbubnis commented on #65107
a guess...
/sig api-machinery

[2018-06-14 17:12] bboreham commented on #64924
I strongly suspect that is what your problem is - the response is `NOERROR` so the resolver accepts it, and empty so your client fails.  [RFC2308](https://tools.ietf.org/html/rfc2308#section-2.2) has some words of wisdom.

If your DNS returned `NXDOMAIN` the query would continue to the next possibility.

Or, just change the request to `google.com.` and it won't try the search list.

[2018-06-14 17:25] thephred opened #65109 "Dynamic Auth Webhook"
/kind feature
/sig auth
/sig api-machinery

# Overview
The kubernetes authentication and authorization webhooks rely on a config file for which a path is passed to the apiserver as a flag on startup. I would like the ability to dynamically configure authentication and authorization webhooks by creating, updating and deleting kubernetes resources through the kubernetes API.

With this a privileged

[2018-06-14 17:51] gurvindersingh commented on #59629
@jiayingz I got finally around testing the GKE nvidia device plugin and it works nicely. I have now k8s setup with gpu quotas working as expected. Also with GKE plugin, I don't have he env var issue as the [code](https://github.com/GoogleCloudPlatform/container-engine-accelerators/blob/master/pkg/gpu/nvidia/beta_plugin.go#L63-L91) does its job well and simply to make it work.

I would suggest thou

[2018-06-14 17:52] #51133 closed

[2018-06-14 17:58] apsega opened #65110 "Pods stuck in Terminating status due to UnmountVolume.TearDown failed for volume"
**Is this a BUG REPORT or FEATURE REQUEST?:**
/kind bug

**What happened**:

Pods stuck in `Terminating` status due to:
[code]

This affects secrets and ConfigMaps:
[code]

**What you expected to happen**:
Pods should be deleted upon instructing to delete deployment or pod.

**How to reproduce it (as minimally and precisely as possible)**:
`kube-apiserver.service`:
[code]

`kube-controller-manager

[2018-06-14 17:58] apsega commented on #65110
/sig storage

[2018-06-14 17:58] leblancd commented on #27398
Here is an IPv4/IPv6 Dual Stack design proposal that implements some of the multiple-IP-per-pod concepts described above:
https://github.com/kubernetes/community/pull/2254/

[2018-06-14 18:01] msau42 commented on #65110
Can you post your pod spec?

[2018-06-14 18:04] apsega commented on #65110
Simple demo pod looks like this:
[code]

[2018-06-14 18:15] flx42 commented on #59629
I think the GKE plugin does not support device isolation for OpenGL EGL, not sure if that matters for your use case.

[2018-06-14 18:17] rfranzke commented on #65005
@nivedhan-murugavel One way to fix this was to temporarily delete the `APIService` object registering the service-catalog extension, restart the kube-controller-manager, and then re-create the `APIService` object.

[2018-06-14 18:18] jpbetz commented on #59848
Quick status update.  Current plan is:

- Reproduce cleanly, ideally with a test case
 - Attempt to make all RV=0 requests consistent by first doing a quorum read against etcd for global index, then checking watch cache for index (introducing a watch progress op to etcd like Xiang suggested to check global index)
 - Sort out what the performance impact of this change would be (how often RV=0 reque

[2018-06-14 18:21] enisoc commented on #42627
@davidghiurco If you still have some orphaned Jobs, can you show the `metadata` section from `kubectl get job <job> -o yaml`?

In particular, I'm interested in seeing the state of the `finalizers`, `deletionTimestamp`, and `ownerReferences` fields in `metadata` to determine if it could be related to https://github.com/kubernetes/kubernetes/issues/59676.

[2018-06-14 18:36] davidz627 commented on #65076
On the node:
[code]

On the master:
[code]

[2018-06-14 18:40] gurvindersingh commented on #59629
Can you explain what you mean by device isolation. Is it like sharing of same GPU among multiple pods or having individual gpu device attach to separate pods will have issue with GKE plugin.

[2018-06-14 18:47] ensonic commented on #65085
/sig docs

[2018-06-14 18:51] jiayingz commented on #59629
@gurvindersingh thanks a lot for the update! This is very helpful. Please also feel free to send us any PR to improve/enable https://github.com/GoogleCloudPlatform/container-engine-accelerators for other OS.

@flx42 can you elaborate a bit more on the device isolation for OpenGL EGL? What is its special device isolation requirement?

[2018-06-14 18:53] davidz627 commented on #65076
Nevermind I was being dumb and passing in an unrecognised flag to Kubelet.

[2018-06-14 18:53] #65076 closed

[2018-06-14 18:53] #58299 closed

[2018-06-14 18:58] PureWhiteWu opened #65112 "Auto convert int to string"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I want to run a command like this:
[code]
It will fail with this information:
[code]
If I use this instead, it works well:
[code]

**What you expected to happen**:

Kubernetes should auto convert the int to string

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to

[2018-06-14 19:02] bboreham commented on #56903
Just joining some dots:
https://github.com/weaveworks/weave/issues/3287
https://github.com/kubernetes/kubernetes/issues/45976

and while I'm talking about dots let me recommend using fully-qualified names where possible, e.g. `google.com.` - the dot at the end stops the resolver from following the search path, so you don't get lookups for `google.com.svc.cluster.local.` and so on.

[2018-06-14 19:03] msau42 opened #65113 "volume plugins use of keymutex never cleans up"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
The keymutex library in many volume plugins (azure, cinder, local, scalio, vsphere) creates new mutexes for new keys, but never cleans them up, so the memory will slowly increase as new volumes are created.

**What you expected to happen**:
 Either keymutex should be fixed to do some cleanup, or an alter

[2018-06-14 19:04] nachimehta commented on #61224
Copy paste from my stackoverflow [answer](https://stackoverflow.com/a/50864198/2097898):

I had this problem and it was solved by ensuring that cgroup driver on the _worker_ nodes also were set properly.

check with:

    docker info | grep -i cgroup
    cat /etc/systemd/system/kubelet.service.d/10-kubeadm.conf

set it with:

    sed -i "s/cgroup-driver=systemd/cgroup-driver=cgroupfs/g"
    /etc/s

[2018-06-14 19:08] jansmets commented on #57280
same issue here. resetting the node and clearing out /etc/cni/... worked, for now.

[2018-06-14 19:12] PureWhiteWu commented on #65112
Need help here, I don't know which sig this belongs to.

[2018-06-14 19:15] PureWhiteWu commented on #65112
/help

[2018-06-14 19:30] nikhita commented on #64612
/reopen

[2018-06-14 19:39] davidkarlsen commented on #64924
Not entirely sure about that: https://serverfault.com/questions/545325/named-returns-empty-noerror-instead-of-nxdomain
NOERROR is returned if the domain exists but not the type, and the resolver library should try the next in the list - don't give up mid-way - also see fix by @zq-david-wang

[2018-06-14 19:44] MrHohn opened #65114 "Fix kube-proxy static pods to daemonset migration path"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network

From https://github.com/kubernetes/kubernetes/issues/64899, it seems like kubelets is intended made to not be able to self-label anymore (kubernetes/community#911). Current kube-proxy migration path depends on kubelets being able to self-label upon node upgrade, hence https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-late

[2018-06-14 19:45] cheftako commented on #65051
I agree this is a bug. As a matter of interest though, how are you exercising this bug? It seems specific to cloud controller on gce. However that controller isn't actually enabled on gce. It would be good for me to understand your use case, to make sure we don't break it later.

[2018-06-14 20:01] liggitt commented on #57923
I'll have to defer to @kubernetes/sig-storage-misc for that question

[2018-06-14 20:05] leblancd commented on #1443
This issue has been used to follow support for IPv6-only clusters (Alpha support in Kubernetes 1.9)
For dual-stack support, new issues have been filed and a design document has been proposed:
    https://github.com/kubernetes/kubernetes/issues/62822
    https://github.com/kubernetes/features/issues/563
    https://github.com/kubernetes/community/pull/2254

[2018-06-14 20:09] flx42 commented on #59629
If you have a N GPU machine and want to run N separate containers with 1 GPU each, you need to write a NVIDIA driver application profile for EGL otherwise context initialization will fail.

[2018-06-14 21:10] nikhita commented on #65112
/remove-help
/sig api-machinery

I think it's just general yaml syntax to have quotes around. I'm not sure if we autoconvert at any other places/objects as well.

I think it should fail validation if a wrong type is provided.

[2018-06-14 21:11] #64712 closed

[2018-06-14 21:11] #64858 closed

[2018-06-14 21:11] nikhita commented on #65112
/cc @liggitt for json and yaml fun

[2018-06-14 21:12] nikhita commented on #65107
/remove-sig api-machinery
/sig scheduling

[2018-06-14 21:14] nikhita commented on #65066
/sig cli

[2018-06-14 21:15] wsong opened #65118 "Cannot disable healthz port on kube-proxy when using config file"
**What happened**:

If I use a `KubeProxyConfiguration` file with `kube-proxy` an pass in the `--config` flag, I can't disable the healthz port. My `KubeProxyConfiguration` looks like this:

[code]

Even though `healthzBindAddress` is set to an empty string, `kube-proxy` still starts a healthz server on port 10256.

**What you expected to happen**:
The kube-proxy binary would not expose a healthz

[2018-06-14 21:40] mike-marcacci commented on #32273
See https://github.com/kubernetes/ingress-gce/issues/28

[2018-06-14 21:45] bsalamat commented on #25319
/remove-lifecycle stale

/lifecycle frozen

[2018-06-14 21:45] liggitt commented on #65107
Recovery of quota after delete is done in the background with a reconciling controller, it is not instantaneous

[2018-06-14 21:47] liggitt commented on #65085
That string is actually at the user name as seen by the authorization layer. Service accounts happen to follow a particular format, but external authentication sources can put arbitrary content in that user name string

[2018-06-14 22:18] liggitt commented on #65109
xref #52511 https://github.com/kubernetes/community/pull/1458

@kubernetes/sig-auth-feature-requests

I think the use case for dynamic admission is much clearer than for this. In many hosted environments, control over authn/authz is reserved for the cluster operator

[2018-06-14 22:32] benperez opened #65121 "Deleting a Namespaced Job returns different response types depending on the options in the request"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I submitted a `DELETE` request for a namespaced job resource to the kubernetes API. It returned a response of `"kind": "Job"`

**What you expected to happen**:
I expected a `"kind":"Status"` response per the [API docs for the delete resource](https://v1-8.docs.kubernetes.io/docs/api-reference/v1.8/#delete-41)
**How to rep

[2018-06-14 22:36] benperez commented on #65121
/sig api-machinery

[2018-06-14 22:48] caseydavenport commented on #46508
The ComponentConfig work looks promising and is probably enough to close this issue once it's beta/GA, though it's still somewhat awkward that this value would need to be configured in two locations (both for the controller manager and the kube-proxy).

[2018-06-14 22:52] benperez commented on #65121
One more piece of info:

specifying `orphanDependents: True` causes the `Job` to be returned, specifying `orphanDependants: False` causes the `Status` to be returned.

[2018-06-14 23:04] liggitt commented on #65114
Self labeling only ever happened when the kubelet deleted/recreated it's node object.

That only happened in cloud provider specific situations, it was not a general mechanism things deployed on kubelets should depend on happening on upgrade.

The self-deletion behavior was an artifact of the external ID being immutable and required for cloud provider identification. That field has been deprecated

[2018-06-14 23:14] raliste commented on #16856
Is this something that can be implemented on a StatefulSet ?

[2018-06-14 23:28] dims commented on #65118
/sig network

[2018-06-14 23:30] dims commented on #65118
@wsong the command line seems to say `0` to disable, would that work in the config? https://kubernetes.io/docs/reference/command-line-tools-reference/kube-proxy/

[2018-06-14 23:54] MrHohn commented on #65114
Thanks for the explanation, that is informative. Relevant conversions on https://github.com/kubernetes/kubernetes/issues/59314 as well.

Don't rely on the self-delete logic seems to be the right thing to do.

[2018-06-14 23:57] liggitt commented on #65106
If name is the key, it is invalid to have the item twice in the list

[2018-06-15 00:00] msau42 opened #65122 "CSI volume source fstype incompatible with CSI spec"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
CSI spec allows for an empty fstype string.  This is intended for non-block plugins like nfs and gluster where filesystems are not separately created on the volume.
[code]

The Kubernetes CSI volume source API defaults fstype to "ext4" and doesn't allow an empty string:
[code]

This makes it impossible f

[2018-06-15 00:05] liggitt commented on #65085
The unknown user message is coming from GKE's authorizer, which authorizes based on IAM permissions and isn't aware of kubernetes service accounts.

Improving the forbidden message when multiple authorizers are configured is tracked in https://github.com/kubernetes/kubernetes/issues/52279

/close

[2018-06-15 00:05] #65085 closed

[2018-06-15 00:10] saad-ali commented on #65122
We should change the default `FSType` value for `CSIPersistentVolumeSource` empty string. And plugins will be responsible for setting a sane default.

[2018-06-15 00:19] davinchia commented on #63560
I want to add I'd be happy to contribute on this since its something we want. As someone new to the Kubernetes project, it'll be great if someone else is willing to point me in the right direction with design docs/approaches, if my help is needed on this.

[2018-06-15 00:19] msau42 commented on #65122
From the CSI side though, it is unclear from the spec what the plugin should do if fsType is empty and it requires one

[2018-06-15 01:17] redbaron commented on #65106
there is a testcase which explicitly allows it https://github.com/redbaron/kubernetes/blob/971c1b20e51dd2090a9fd585bafa18282c2984f5/staging/src/k8s.io/apimachinery/pkg/util/strategicpatch/patch_test.go#L4155-L4226

in our case duplicates where in a list of environment variables in container definition. I'll check tomorrow,  but  I think that pod  was running with duplicates in env list just fine.

[2018-06-15 01:48] strangelyhuman commented on #41025
I was running into the same issue on a CentOS machine running kernel 4.8.7
I realized that the /boot folder was missing a config file for that kernel (the very same config
file that is generated during a kernel configuration)

I was able to solve it by copying the .config file from the kernel source tree and renaming it in
this format- /boot/config-$(uname -r)

[2018-06-15 01:54] anguslees commented on #62822
Agreed: given that a (wildcard) IPv6 listening socket can also serve IPv4 connections, I suggest we only need the one probe.  In other words: the probe is checking *application health*, and the application probably only has a single socket, whereas the specific IPv4/IPv6 pod addresses are CNI's problem and out of scope.  (Also out of scope are routing, firewalling, and all those other reasons why

[2018-06-15 02:05] dims commented on #65096
/sig node

[2018-06-15 02:06] dims commented on #65089
/sig node

[2018-06-15 02:07] dims commented on #65082
can you please log this in https://github.com/kubernetes/kubeadm/issues please?

[2018-06-15 02:07] dims commented on #65082
/close

[2018-06-15 02:07] #65082 closed

[2018-06-15 02:15] verult opened #65126 "GCE PD: Disk name collisions"
/kind bug

Today in the GCE PD plugin, disks are only identified by name. However, disk names are only unique per zone, so we run into problems when two disks with the same name but different zones are pre-provisioned and used. Furthermore, a regional disk and a regular, zonal disk could have the same name, and they could be both attached to the same node, causing various issues.

[2018-06-15 02:15] verult commented on #65126
/assign

/sig storage
/sig gcp

[2018-06-15 02:19] bgrant0607 commented on #30558
cc @monopole @janetkuo @kow3ns

[2018-06-15 03:00] dbdd4us commented on #65051
I built my kubernetes cluster with external cloudprovider, but I found if I stop the route controller, pod will be scheduled on node even if the route is not added for that node. I read the code and found that the node condition would not be add when using other cloudproviders.
At first, I change "gce" in that line code to the name of my cloudprovider, but the problem also exists. Then I found tha

[2018-06-15 03:01] #46664 closed

[2018-06-15 03:08] bgrant0607 commented on #34292
Another apply-related issue
cc @apelisse

[2018-06-15 03:08] bgrant0607 commented on #25550
Another apply-related issue
@apelisse

[2018-06-15 04:04] brendandburns commented on #64199
I don't think this is a real issue.

You are trying to copy from

`/tmp/testResults`

The error message is saying:

Can't read from `/tmp/testResults/lost+found` inside the container.

Which is consistent with the directory you tried to copy from.

So you need to adjust the permissions on `/tmp/testResults/lost+found` to make this work correctly

I tried to reproduce this locally, and I can't.

[2018-06-15 04:05] #64199 closed

[2018-06-15 04:29] brendandburns commented on #63247
@marco-jantke it's tricky to know what the right thing to do here is...

The patch you specified parses as:

[code]
Note the extra `"` in that path.

We could try to detect "unusual" characters or some-such and print a better message, but I worry that introduces other problems.

From what I see this error message is correct (if hard to understand) perhaps if we put quotes around the bad path it wo

[2018-06-15 04:32] brendandburns commented on #63247
This error actually comes out of the json patch library:

https://github.com/evanphx/json-patch/blob/master/patch.go#L477

So we need to make a fix there and then re-vendor.

[2018-06-15 04:44] yamt commented on #65086
@luxas filed on the repo. thank you.
https://github.com/kubernetes/kubeadm/issues/919

[2018-06-15 05:08] AishSundar opened #65129 "Multiple failing tests in downgrade-cluster-parallel jobs in release-master-upgrade"
## Failing Jobs
* [gce-master-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel&show-stale-tests=)
* [gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel&show-stale-tests=)

## Failing Test
Multiple fail

[2018-06-15 05:09] AishSundar commented on #65129
Failure seems to have started since [this run](https://github.com/kubernetes/kubernetes/commit/eac9c4ff571115)

[2018-06-15 05:12] AishSundar commented on #65129
@davidz627 @liggitt @msau42 was this caused by [#65070](https://github.com/kubernetes/kubernetes/pull/65070)?

[2018-06-15 05:36] anupam4881 commented on #65096
Kindly let me know if some information or commond output  is required from my end.

Regards
Anupam Narayan

[2018-06-15 05:50] apsega commented on #65110
I can manually delete pods with the following command:
[code]

But having hundreds of redeployments per day it can be a headache. Is there some kind a setting for `kubelet` to force pod deletion?

[2018-06-15 06:45] apsega commented on #65110
Doing further investigation, I found that the issue persists only if ConfigMaps are being attached to pods as volumes.

[2018-06-15 07:02] berniechiu opened #65130 "Weird Environmental Port Being Set"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I have redis or postgres service setup, the environmental variable in the pod has a port mapping with the value like

[code]

Since I have a script depends on it and it fails unexpectedly.

**What you expected to happen**:

Suppose the port should be what it meant exactly like

[code]

**How to reproduce it (as mini

[2018-06-15 07:04] berniechiu commented on #65130
/sig network

[2018-06-15 07:15] wojtek-t commented on #59848
If you pass RV to watch cache it already waits for that...
.. though there is one problem with it, which is that the internal RV is updated based on watch events that are delivered to it from etcd. So if there wasn't any change of object of a given type after provided RV, watch cache will never reach that RV.
That is something where, in my opinion, we need some etcd extension to handle it better.

[2018-06-15 07:16] wojtek-t commented on #59848
This is a long-standing bug (we have that in k8s for year+).

Would it be possible to e.g. patch previous etcd versions (e.g. 3.1 and 3.2) and say that you should update your etcd to get that?

[2018-06-15 07:39] wenlxie opened #65131 "Pod use local volume pvc stuck at pending"
/kind bug

**What happened**:
We have 3 rack at the cluster, and then I create 3 pods, which have anti-affinity rules by rack.
I create these 3 pods without interval.
Then I found there is just 1 pod is `running` and other 2 pods are stuck at `pending`
**But all the pod's pvc had been bound.**
The bound pv has the same node affinity rule.
[code]

**What you expected to happen**:
All these three po

[2018-06-15 07:40] wenlxie commented on #65131
@msau42  PTAL

[2018-06-15 07:42] wenlxie commented on #65131
/sig scheduling

[2018-06-15 07:46] #59631 closed

[2018-06-15 07:56] ysde commented on #55807
Have the same problem on GCP, version: 1.8.10-gke.0, preStop not triggered when I issue a ```kubectl delete <a pod>``` command.

[2018-06-15 08:00] lowang-bh commented on #33714
change
KUBE_ADMISSION_CONTROL="--admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"
to KUBE_ADMISSION_CONTROL=""
not KUBE_ADMISSION_CONTROL="

[2018-06-15 08:02] jsafrane commented on #32336
Ceph RBD with mount propagation (i.e. mounts appear twice in /proc/mounts) should be fixed by #63579.

Canonical way how to run containerized kubelet, esp. what volumes it needs with what propagation is now here: https://github.com/kubernetes/kubernetes/blob/3abba25160590921fec61236ba012a8bbd757d6c/hack/local-up-cluster.sh#L822

At least that's what being tested in e2e tests.

/close

[2018-06-15 08:02] #32336 closed

[2018-06-15 08:23] bboreham commented on #64924
That answer is describing correct DNS behaviour, yes.
If your DNS server does have a record for `google.com.davidkarlsen.com.` that is not of type `A` then that is truly an unfortunate situation.

At least it seems there are no further arguments that this is a bug in Kubernetes.

[2018-06-15 08:38] davidkarlsen commented on #64924
I agree it is not a kubernetes bug - it is a musl resolver api bug. And I see the reasoning for having ndots:5 by default. It is a valid question to be able to configure this with parameters - but it is a workaround and not a fix - and a new issue - so closing.

Thanks for all valuable input.

@zq-david-wang will your fix go in upstream anywhere?

[2018-06-15 08:45] miaoshixuan commented on #65110
Can you post your mount info about this configmap?   I found that a symbolic link for kubelet root-dir may cause it

[2018-06-15 09:01] digglife commented on #44528
@mtricolici  Tried. Didn't work.

[2018-06-15 09:23] Franselbaer commented on #23404
I sorted it by putting the multiline pem file uuencoded into the secret.... and when i pull it out, i pipe it through uudecode... works fine 👍

[2018-06-15 09:28] redbaron commented on #65106
confirmed,  there are pods with duplicated env variable names, kubernetes is happy to run them, so I'd guess strategic patch should support this case

[2018-06-15 09:46] kongsys commented on #65080
kubelet log, many like below:
 kubelet[23048]: E0614 12:07:19.724015   23048 remote_runtime.go:262] ListContainers with filter &ContainerFilter{Id:,State:nil,PodSandboxId:,LabelSelector:map[string]string{},} from runtime service failed: rpc error: code = DeadlineExceeded desc = context deadline exceeded

but docker daemon status is good. docker info can get result

[2018-06-15 09:59] marco-jantke commented on #63247
Thanks for picking up the issue @brendanburns!

I'm really not into the details but given the patch is "parsed" as JSON, it just shouldn't get parsed as it's invalid JSON and therefore provide an error. IMO producing an error as early as possible, when providing invalid JSON to a JSON patch, is the most reasonable behavior. But I sense things might not be that easy. So making the error messages mo

[2018-06-15 10:13] apsega commented on #65110
The one mounted on `/dev/sda3` is ConfigMap:
[code]

[code]

[2018-06-15 10:33] liggitt commented on #65106
They run, but are currently undefined with respect to ordering of the duplicate items on patch.

[2018-06-15 10:39] redbaron commented on #65106
hence this issue :) If k8s allows pod template to be accepted it should allow pod template to be updated on `kubectl apply`, for that strategic merge should support duplicated entries.

[2018-06-15 10:59] rbubnis commented on #65107
I monitored logs during testing. The reconciliation seems to run, but not update (I will upload additional logs from a normal vs. stuck cluster). In one instance, I left it in this state for almost 24 hours.

[2018-06-15 11:02] mduft commented on #7815
we had issues restarting a kubeadm-created cluster; we hit the no space left on device. I increased max_user_watches as per the last comment - the cluster now magically starts again... However when investigating with the suggested command, we see nearly no watches...:

[code]

Any ideas?

[2018-06-15 11:06] sp-joseluis-ledesma commented on #31272
today I realized we are having the same behavior with the EFS provider (https://github.com/kubernetes-incubator/external-storage/tree/master/aws/efs). EFS is the Amazon NFS implementation, the efs-provider basically creates a directory for each volume you need, and internally is handled as an NFS pv. The problem is the efs-provider is deleting the volume(it means remove a directory in the NFS) bef

[2018-06-15 11:07] mduft commented on #7815
Once resetting the value back to the original 8192 for testing, we're again receiving:

[code]

[2018-06-15 11:10] mgdevstack opened #65133 "Ambiguity to find pod specific watch api endpoints in e2e test suite"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
1. In order to watch individual changes to a list of Pod, [Kubernetes api reference v1.10](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#watch-list-65) says that HTTP request should be made to endpoint `GET /api/v1/watch/namespaces/{namespace}/pods` but while executing e2e tests it is found that **Wa

[2018-06-15 11:38] drigz opened #65136 "Generic error message when POSTing invalid custom resource with DoRaw()"
/kind bug
/sig api-machinery

**What happened**:

Using client-go, I tried to create a custom resource, but got a generic error:

[code]

**What you expected to happen**:

I would expect a more specific error, eg:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Apply this CRD with `kubectl apply -f `

[code]

Then start `kubectl proxy -p 8080` and run the code below:

[

[2018-06-15 11:53] wgliang commented on #65136
/assign

[2018-06-15 12:10] #58328 closed

[2018-06-15 12:32] detiber commented on #65071
/sig cluster-lifecycle

It looks like we are failing to validate and fail to run the upgrade when the current version and Target version are the same in kubeadm.

[2018-06-15 12:37] ldelossa opened #65137 "Native gRPC Support"
kind feature

**What happened**:
With the increasing popularity of gRPC as a communication method between micro services I expect sooner or later Kubernetes will get gRPC native load-balancing and fail over abilities.

**What you expected to happen**:
Expecting to just do some information gathering on if this is in the roadmap at all for the current Kubernetes features. I myself am architecting ne

[2018-06-15 12:44] redbaron commented on #58477
This is most likely due to strategic merge patch not handling duplicated keys correctly, see https://github.com/kubernetes/kubernetes/issues/65106

[2018-06-15 12:53] php-coder commented on #56173
@parlakisik There is a PR for that feature already: https://github.com/kubernetes/kubernetes/pull/65135 JFYI.

[2018-06-15 12:53] rbubnis commented on #65107
Full logs at this or a lower level can be uploaded, but here are partial logs (--v=6) for a delete event where the count did not get updated.

Thanks for reviewing
[code]
and after 30 minutes:
[code]

After restarting kube-controller-manager, those logs look like:
[code]

[2018-06-15 13:00] vikaschoudhary16 commented on #61185
@vikaschoudhary16

[2018-06-15 13:12] bboreham commented on #48563
Today I find I have a similar question.  @gg7 did you find a resolution?

[2018-06-15 13:21] liggitt commented on #65129
this could also have been changes in the 1.10 release branch

the last green run used 1.10 release v1.10.5-beta.0.37+ff6ac4e6cde76c
the next red run used 1.10 release v1.10.5-beta.0.41+b44fb756698467

changes in release-1.10 between those versions: https://github.com/kubernetes/kubernetes/compare/ff6ac4e6cde76c...b44fb756698467

[2018-06-15 13:22] liggitt commented on #65129
@kubernetes/sig-testing-test-failures it looks like the failing tests weren't running prior to run 3089

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster-parallel&show-stale-tests=

what changed that started including those tests in the run?

[2018-06-15 13:27] msau42 commented on #65131
/assign

@kubernetes/sig-storage-bugs

[2018-06-15 13:30] wknapik commented on #57909
Yes! Don't force me to store secrets on disk, when there's no reason to.

[2018-06-15 13:36] liggitt commented on #65107
it looks like you could be hitting https://github.com/kubernetes/kubernetes/pull/58107, fixed in 1.9.2

https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v191

[2018-06-15 13:56] liggitt commented on #65107
looking at your log output, that appears to be the deadlock it was hitting. closing this as resolved in #58107 in 1.9.2+

/close

[2018-06-15 13:56] #65107 closed

[2018-06-15 13:58] timothysc commented on #65129
Downgrade...?  That's all google...

/assign @roberthbailey
/unassign @timothysc

[2018-06-15 13:59] jingweno commented on #65071
I'm happy to help out with the fix if given some guidance.

[2018-06-15 14:19] richardjharding opened #65141 "Failed to authenticate using azure ad rbac"
kind bug

**What happened**:

I folllowed the guidance to create a new aks cluster configured for advanced networking (existing vnet) and rabc with Azure AD integration I was able to fetch the admin credentials and create the cluster role binding , query the cluster via kubectl , browse the dashboard etc

But when I fetch the normal credentials I am unable to run any commands - I get the prompt to

[2018-06-15 14:20] richardjharding commented on #65141
wrong repo!

[2018-06-15 14:20] #65141 closed

[2018-06-15 14:30] sppavilion opened #65142 "soft lockup on k8s node during pod creation - smp_call_function_many+0x20a/0x270"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug
/sig Node
/sig Cluster Lifecycle
/sig Cluster Ops

**What happened**:
soft lockup on kubenetes node

[root@node2 ~]# [12032.818764] NMI watchdog: BUG: soft lockup - CPU#6 stuck for 22s! [kubelet:1663]
[12032.825804] Modules linked in: nvme_tcp(OE) nvme_fabrics(OE) nvme_core(OE) xt_nat xt_recent xt_conntrack ip_set nfnetlink xt_add

[2018-06-15 14:31] msau42 commented on #65131
Thanks for finding the issue! This will be tricky to solve, I'll need to think about it.  Our tests have not hit this issue because they were only testing pod anti affinity within the same statefulset. If you don't use Statefulsets or have pod anti affinity to another statefulset, then you may hit this issue

[2018-06-15 14:42] sppavilion commented on #65142
/sig Cluster Lifecycle

[2018-06-15 14:42] sppavilion commented on #65142
/sig Cluster Ops

[2018-06-15 14:44] hrdymchl commented on #33777
Also seeing this issue. We're on GKE.

[2018-06-15 14:52] weisjohn commented on #19077
/remove-lifecycle stale

[2018-06-15 14:54] sppavilion commented on #65142
/assign
@kubernetes/sig-cluster-lifecycle-bug

[2018-06-15 14:54] weisjohn commented on #19077
If there isn't a way to get the progress into the pod description, is there a way that someone could articulate how to work around. In my scenario, I'm using `minikube` on a terrible downlink and am wanting to know whether or not I should give up waiting, move on to another task, or to let the progress continue.

[2018-06-15 14:56] sppavilion commented on #65142
/unassign

[2018-06-15 15:04] liggitt commented on #65129
copied from https://github.com/kubernetes/test-infra/pull/8358#issuecomment-397649955:

weirdly, the failed test runs show (almost) the same tests running twice

[2018-06-15 15:05] detiber commented on #65071
@jingweno Here is where the kubeadm handles the version validation for upgrades: https://github.com/kubernetes/kubernetes/blob/3abba25160590921fec61236ba012a8bbd757d6c/cmd/kubeadm/app/cmd/upgrade/apply.go#L163-L185

Without digging to deep into the existing code, I suspect it could be handled in one of these ways:

- A new check will need to be added there for current version == requested version

[2018-06-15 15:06] liggitt commented on #65129
adding to the milestone until triaged

[2018-06-15 15:13] #21402 closed

[2018-06-15 15:13] #58335 closed

[2018-06-15 15:13] #58336 closed

[2018-06-15 15:16] liggitt commented on #65133
the /watch prefix is marked deprecated in code, but I don't see that documented/announced:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L385-L386

passing a `watch` query parameter to the list operation is the preferred way to establish a watch:

from https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.10/#list-62:

[2018-06-15 15:33] alvaroaleman opened #65145 "Vshere cloud provider on the controller-manager fails to start on non-vmware hosts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently the vsphere cloud provider blocks the controller-manager from running if its running on a non-vmware host, because it reads `/sys/class/dmi/id/product_serial` and checks if its content starts with `VMWARE-`.

**What you expected to happen**:

The controller manager to start

**How to reproduce it (as minimally

[2018-06-15 15:33] alvaroaleman commented on #65145
/sig vmware

[2018-06-15 15:36] liggitt commented on #65133
all client uses were switched to the ?watch parameter in https://github.com/kubernetes/kubernetes/pull/41722

I'll open a pull to update the docs and get a deprecation notice for the /watch prefix in the release notes for 1.11

[2018-06-15 15:53] j2eegis opened #65146 "Why host access and IP access are different certificates?"
**Why host access and IP access are different certificatesT?**:
/kind bug
/sig ingress
/cc @aledbf
nginx-ingress.yaml file
[code]
**The IP of a.b.com is 192.168.1.12, when a.b.com is accessed, the certificate returned is "ingress-secret" correct.  when 192.168.1.12 is accessed, the certificate returned is default incorrect. why ? How to set it to the same?**
this is a.b.com access
![domain](https:

[2018-06-15 16:08] liggitt commented on #65133
https://github.com/kubernetes/kubernetes/pull/65147

[2018-06-15 16:09] j2eegis commented on #65146
/sig ingress

[2018-06-15 16:12] j2eegis commented on #65146
/sig ingress-nginx

[2018-06-15 16:12] Raffo commented on #64259
A possible solution to that would be to be able to use a Security Group instead. There is a PR open here https://github.com/kubernetes/kubernetes/pull/62774 which would allow to do that. The pre-existing annotation on the ELB allows only to setup an *extra* Security Group via an annotation but does not remove the `0.0.0.0/0` from the LoadBalancer.

[2018-06-15 16:20] marcoskichel commented on #62594
Same here!

[2018-06-15 16:41] AishSundar commented on #65129
/cc @krzyzacy @justinsb to chime in on the discussion to identify rootcause

[2018-06-15 16:43] sgmiller commented on #58217
Same, Kubernetes 1.9.5, ubuntu 16.04, docker 18.03.1-ce

[2018-06-15 16:50] zq-david-wang commented on #64924
@davidkarlsen  musl seems to be a very quiet project now.... I tried to make contact, via mailing list or authors' mail,  no luck yet....
For now, you can build your own alpine abase image like I did:
Stage1: build git://git.musl-libc.org/musl with code changes I suggested in alpine container (apt --update add gcc make)
Stage2: copy the dynamic library to /lib/ld-musl-x86_64.so.1

[2018-06-15 17:04] liggitt commented on #65129
/status approved-for-milestone

[2018-06-15 17:06] apelisse commented on #26234
I don't necessarily agree that the first statement should lead to the second. I'll keep in mind that we want solid unit-testing for diff/patch. I think "determining correctness" would indeed be an unnecessary challenge.

[2018-06-15 17:07] tpepper commented on #65133
/sig api-machinery

[2018-06-15 17:09] xarses commented on #47131
We've recently updated to etcd 3.1.13 and have kube on 1.6.13, as we got onto the v3 etcd store we appear to have been hit hard by this, we are working our way towards 1.10.x but are a few months from getting there especially since the lockups of api-server are distracting from moving forward. I see #56114 should Improve the problem, I was wondering if we would get most of the behavior if we intro

[2018-06-15 17:12] aledbf commented on #65146
@j2eegis this works as expected. You cannot just use the IP address because NGINX uses Server Name Indication (SNI) to route HTTPS traffic. If you use the IP address NGINX will redirect the traffic to a "catch all" server. Please check http://nginx.org/en/docs/http/configuring_https_servers.html#sni
You can use a custom SSL certificate instead of the self-generated. Please check https://kubernetes

[2018-06-15 17:12] aledbf commented on #65146
/close

[2018-06-15 17:12] #65146 closed

[2018-06-15 17:15] #57681 closed

[2018-06-15 17:29] jpbetz commented on #59848
Agreed. The progress op @xiang90 suggested we consider adding to the watch API should do the trick. If I understand the idea right, it would allow the client, at any time, to send a "what's my progress" request on the bi-directional watch stream and then wait for a "latest revision of this watch stream is X" by response back from the server.  I'll work on details.

Thanks for summarizing where RV=

[2018-06-15 17:30] msau42 commented on #65044
@napat1412 once the PV has been resized, you need to restart your Pod in order to get the filesystem to resize, and PVC size to be updated

[2018-06-15 18:02] jpbetz commented on #59848
API additions should be backward/compatible and safe. Once I have details I confirm if we can backport.

Oh, and not knowing which server version of etcd the client is connecting to is a problem. I'll look into that.

[2018-06-15 18:03] bassam commented on #65109
Thanks for the cross reference -- we did not see it previously.

We'd be happy to share use cases as part of the design proposal.

Are you that if dynamic authn/authz existed today, cluster operators would generally want to disable it?

[2018-06-15 18:10] gtseres opened #65149 "Event messages do not include the container name for container-specific events"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:  Events shown in `kubectl describe pods <pod_name>` or `kubectl get events` do not mention the container name in the "Created container", "Started container", etc messages:

[code]
Could not find any related issue using [this](https://github.com/kubernetes/kubernetes/issues?page=1&q=is%3Aissue+is%3Aopen+%22Created+con

[2018-06-15 18:12] gtseres commented on #65149
/sig node

[2018-06-15 18:16] xiang90 commented on #59848
It is OK to introduce the new feature I proposed to etcd. But we should not introduce it to an old version of etcd. It is not really a patch but a new feature...

[2018-06-15 18:22] terry90 commented on #62594
Same, with a basic config:

[code]

[2018-06-15 18:34] liggitt commented on #65109
Specifically with respect to "being able to configure authentication and authorization on hosted kubernetes environments like GKE or EKS where without being able to configure dynamically one is unable to configure them at all", yes, I would not expect most providers to allow/enable this

[2018-06-15 18:39] #59478 closed

[2018-06-15 18:42] u2mejc commented on #49926
thank you for touching this issue @redbaron, and I have to admit that since I have posted the above, I've found the behavior to be extremely unreliable and hard to reproduce a successful binding. 😨 My success rate of getting this to work is all over.

[2018-06-15 18:42] bassam commented on #65109
Can you please elaborate as to why? Is there a technical/security concern here, lack of interest from customers in the feature, does it conflict with business model for GKE/EKS, or something else?

[2018-06-15 19:09] krzyzacy commented on #65129
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel/3101 is green, and I've found the actual issue with a fix in https://github.com/kubernetes/test-infra/pull/8376

[2018-06-15 19:58] BorisDr commented on #17088
Hi, @cesartl
Thanks for awesome job. Anyway, I finally made it, but outside of rancher.

[2018-06-15 20:18] #12826 closed

[2018-06-15 20:18] #25829 closed

[2018-06-15 20:18] #26464 closed

[2018-06-15 20:23] chrisaj opened #65153 "Pod Checkpoint files with a nodeSelector entry cannot be used to restore a pod"
@kubernetes/sig-node-bugs
/sig node
/kind bug

**What happened**:
nodeSelector information is saved into the Pod checkpoint files but if kubelet is restarted without a connection to an api-server the checkpoint files are read but the pods do not get deployed because the node doesn't have the correct labels. This is what I see for daemonset pods.

In the kubelet log there is a message of the form:

[2018-06-15 20:34] davidkarlsen commented on #64924
@zq-david-wang thanks a lot - unfortunately it is a weave/flux image which I do not control myself.

[2018-06-15 21:14] josephspurrier commented on #60112
Closing since we can use the 1.9 version now.

[2018-06-15 21:14] #60112 closed

[2018-06-15 21:19] #14393 closed

[2018-06-15 22:20] #49325 closed

[2018-06-15 22:27] paulgmiller commented on #54932
Sorry for my slowness. We do run kubectl rollout status after the appy but we don't know what --revision to give it (if we give it no revision we might return success because a previous rollout that was not caused by our apply finished). So we try and use rollout history to figure out what the new revision in but that is subject to racing with a another rollout too.

[2018-06-15 22:49] tamalsaha commented on #56586
/reopen

[2018-06-15 22:50] tamalsaha commented on #56586
/remove-lifecycle rotten

[2018-06-15 22:52] roberthbailey commented on #65129
Thanks @krzyzacy!

[2018-06-15 23:03] prashima commented on #65145
@alvaroaleman can you please share some more context- Why do you want vSphere cloud provider to work with non-vmware host (I believe you mean ESXi)? Where is this requirement coming from.

[2018-06-15 23:08] prashima commented on #65113
/sig vmware

[2018-06-15 23:09] lbernail opened #65158 "ClusterIPs are not accessible from the host when kube-proxy runs in IPVS mode"
/kind bug
/sig network

(I'm not sure this is actually a bug but it is definitely a behavior that is different from iptables and some applications rely on this)

**What happened**:
From the host network namespace accessing a ClusterIP when using IPVS does not work (it only works when traffic is sent to a local pod)

**What you expected to happen**:
To be able to use ClusterIPs from the host networ

[2018-06-15 23:21] #15564 closed

[2018-06-15 23:28] ryanmcnamara opened #65159 "Volume downward api sorts lines of rendered files"
/kind bug

**What happened**:

When using the downward api to render a file via a volume mount from and annotation that has newlines in it, it appears that the file is rendered with the content sorted by line. A concrete example:

[code]

Expected is that `configmount/b` would contain
[code]
But it does not

The above is obviously contrived, this is creating a problem for my team when we are tryin

[2018-06-15 23:32] ryanmcnamara commented on #65159
/sig apps
Not sure about the sig here

[2018-06-16 00:04] bgrant0607 commented on #25241
Another apply issue
cc @apelisse

[2018-06-16 00:09] prashima commented on #65113
cc @abrarshivani

[2018-06-16 00:13] destijl opened #65160 "Istio shouldn't use :latest"
This commit and another subsequent one:
https://github.com/kubernetes/kubernetes/commit/30714148c894a8daf539138c67a9be77a6fb6fc8#diff-ff2c2410a27bca372a9d79aacb8ac837R2593

introduced some istio containers that depend on the :latest tag.

We can't depend on latest tags and have a stable production infrastructure. It needs to be a specific version tag. Please tag a specific version.

/kind bug

[2018-06-16 00:14] destijl commented on #65160
/assign ostromart
/sig auth

[2018-06-16 00:14] destijl commented on #65160
@ostromart

[2018-06-16 00:14] wenlxie commented on #65131
@ashw7n

[2018-06-16 00:15] destijl commented on #65160
Code is here:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/istio/noauth/istio.yaml

[2018-06-16 00:19] cheftako commented on #58635
@mtaufen and I noticed that the actual cloud provider InstanceShutdownByProviderID() method is not yet implemented by any in tree cloud provider. As such it seems like the taint will never be set for any in tree provider. Is this issue really resolved?

[2018-06-16 00:56] liggitt commented on #65159
/sig node
/sig storage

[2018-06-16 02:20] parlakisik commented on #56173
@php-coder  agh , i forgot to send merge request. thanks for information. i will be more quicker next time.

[2018-06-16 03:47] islinwb commented on #65158
/area ipvs

[2018-06-16 04:04] wenlxie commented on #65131
@msau42

I checked the code, and find there maybe another issues.

1. At the function: (b *volumeBinder) AssumePodVolumes
    It assumes the pv by https://github.com/kubernetes/kubernetes/blob/f1bfde49002ed3e44d3b47b6737536b35dca8f55/pkg/controller/volume/persistentvolume/scheduler_binder.go#L220 , it updates the pv.latestObj in the pv cache.
   But the assumed pvCache maybe flushed by pv add/upda

[2018-06-16 06:27] #58371 closed

[2018-06-16 08:15] alvaroaleman commented on #65145
@prashima We are building a Kubernetes cluster management solution which does Kubernetes in Kubernetes and works by creating the control planes in one cluster, then creating worker instances on one of the supported platforms, among them vsphere.

Currently the cluster hosting the control planes (We call it seed cluster) has to run on ESXi, otherwise the controller-manager crashes.

Having the chec

[2018-06-16 08:17] ApsOps commented on #62594
I'm also seeing this. New pods get stuck in `ContainerCreating` as well.

[2018-06-16 08:48] rkttu-devsisters opened #65163 "vNIC in Windows container suddenly disappears"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-windows-bugs

**What happened**:
- I first deployed the Microsoft IIS Pod (server version 1803) via a YAML file.
- Immediately after the distribution, I checked the remote shell via kubectl exec command to normally send and receive HTTP requests between Linux Pod and Windows Pod.
- I do not know what happens after a certain a

[2018-06-16 15:45] jeremyjh commented on #36847
Hi, just a note in case anyone finds this discussion in the future, Okta *does* include id_token in the refresh response, if you include "openid" in the scope. In my application I have a refresh flow working with id_token using scopes "openid offline_access" and grant_type "refresh_token".

[2018-06-16 15:46] napat1412 commented on #65044
@msau42  I delete my pod & start my pod but my PVC size still is not update.
Could you give me the example of kube-controller-manager.yaml and storageclass.yaml.

[2018-06-16 15:59] zq-david-wang commented on #65158
Don't you have MASQUERADE rule somewhere? My clusters use flannel to create MASQUERADE rule and I guess it could also be done in kube-proxy with --masquerade-all=true option.

[2018-06-16 16:12] rkttu-devsisters commented on #65163
I checked the event log on the host computer and found that there were some repeated messages since joining the Kubernetes cluster and running the IIS pod.

- "The operation \u0027Get Stats\u0027 failed on nic 569AF199-B204-4C5D-B930-6D150E99187A (Friendly Name: ). Status = {Buffer Too Small}\r\nThe buffer is too small to contain the entry. No information has been written to the buffer.."
- "Faile

[2018-06-16 16:37] rkttu-devsisters commented on #65163
I suspect that the version of the node binaries might be out of date, so I'm testing whether the problem can be reproduced by upgrading only the Windows node to 1.10.4, apart from the version 1.9.3 of the existing cluster.

The same situation is relatively easy to reproduce, so I will review the same symptoms after the upgrade and comment on this issue.

[2018-06-16 16:37] #29480 closed

[2018-06-16 19:19] fabiand commented on #55708
/remove-lifecycle stale

[2018-06-16 21:45] gtaylor commented on #36847
@jeremyjh any ideas if this is a recent addition? I think even Okta customer service said the id_token wasn't in the refresh the last time we got in touch (granted, six months ago).

[2018-06-16 21:56] bsalamat commented on #56721
/remove-lifecycle stale

[2018-06-16 23:43] alexellis commented on #61006
@obeattie wdyt?

[2018-06-16 23:44] alexellis commented on #61006
/remove-lifecycle stale

[2018-06-16 23:45] alexellis commented on #61006
Pinging some people who we've spoken to about this - @bboreham  @munnerz - @thockin had some ideas in the hallway at KubeCon CPH about how to approach this as a piecemeal solution gradually replacing glog with an interface implemented by glog for a non-harm change.

[2018-06-16 23:51] jeremyjh commented on #36847
@gtaylor I don't know, I just started using the refresh grant today.

[2018-06-17 02:54] rkttu-devsisters commented on #65163
After the upgrade, I get the same symptoms. :-(

[2018-06-17 05:48] bjethwan commented on #60134
It's still failing while I was trying to install kubectl on ec2 with amazon linux

[2018-06-17 07:41] amitvashist7 commented on #45459
It seems like issue still persists with the latest version of kuberneters.

root@master:~# kubectl get nodes
NAME       STATUS    ROLES     AGE       VERSION
master     Ready     master    1h        v1.10.4
worker01   Ready     <none>    1h        v1.10.4
worker02   Ready     <none>    1h        v1.10.4
root@master:~#

root@master:~# kubectl get pods --all-namespaces
NAMESPACE     NAME

[2018-06-17 08:02] amitvashist7 commented on #64448
I think it becomes a generic problem now because I've setup cluster couple of time but all the time same issue.

root@master:~# kubectl get nodes
NAME       STATUS    ROLES     AGE       VERSION
master     Ready     master    1h        v1.10.4
worker01   Ready     <none>    1h        v1.10.4
worker02   Ready     <none>    1h        v1.10.4
root@master:~#

[2018-06-17 10:53] yastij commented on #58635
@cheftako - currently none of the in-tree provider implements it. Also notes that the volume controller do not currently implements the logic of dettaching volumes when nodeShutdown taint is applied.

[2018-06-17 11:35] rkttu-devsisters commented on #65163
While examining kubelet's log file, I think I found the cause of the problem, so I leave an additional post.

Looking at the contents of the log file, WinCNI attempted to delete the HNS endpoint as shown below.

[code]

So I followed the contents of this log. When I removed the HNS Endpoint from the host that I associated with my IIS Deployed Pod, I experienced the same symptoms as this issue.

ip

[2018-06-17 12:05] JeanMertz commented on #32457
/remove-lifecycle stale
/lifecycle freeze

[2018-06-17 13:13] joejulian commented on #57061
/remove-lifecycle stale

[2018-06-17 13:14] joejulian commented on #57061
/close

[2018-06-17 13:16] joejulian commented on #57061
Note to self: do not interact with github before coffee.

/lifecycle stale

[2018-06-17 13:58] #58450 closed

[2018-06-17 14:03] sysexcontrol commented on #64234
Same on Odroid HC1: `kubelet --version` crashed for Ubuntu 16.04.
Downgrading with `sudo apt-get install kubelet=1.10.2-00` helped here as well.

[2018-06-17 16:03] ravisantoshgudimetla commented on #64843
I agree with @k82cn and @bsalamat. While the order of eviction is important, it will be difficult to manage. I remember reading in borg paper that there are `defined bands` for example anything in production band cannot preempt other there by eliminating cascading eviction so as @k82cn suggested you can define all the production workloads with the same priorityClass and use an extender or at a hig

[2018-06-17 16:36] mlushpenko opened #65165 "kubeadm reset leaves kubelet in failing state"
/kind bug

**What happened**:
kubelet fails after `kubeadm reset`

**What you expected to happen**:
I expect to be able to run `kubeadm init` again after `kubeadm reset`, but got failing kubelet healthcheck during `kubeadm init`

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubeadm init`, then `kubectl drain master0 --delete-local-data=true --force --ignore-daemonsets`, t

[2018-06-17 17:09] psaini79 opened #65166 "iSCSI disk does not appear as Block Device inside the pod"
I am using volumeMode: Block to access iscsi block device inside the pod but it is throwing following error:

Jun 17 06:53:35 k8worker1 kubelet: E0617 06:53:35.041066   11617 reconciler.go:258] operationExecutor.MountVolume failed (controllerAttachDetachEnabled true) for volume "block-pv" (UniqueName: "kubernetes.io/iscsi/192.168.16.3:3260:iqn.2015-12.com.oracleiaas:bf104865-8dba-4f99-b63e-2c701b0

[2018-06-17 17:13] psaini79 commented on #65166
I followed the steps given under following link:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#raw-block-volume-support

[2018-06-17 17:16] psaini79 commented on #65166
@kubernetes/sig-storage-bugs

[2018-06-17 18:04] xiang90 commented on #64843
@ravisantoshgudimetla

I do not quite understand your reply and what you agreed with... If you agree with that the eviction priority is important but hard to manage, we should find a way to make it easier for all Kubernetes users with a consistent concept. Extending Kubernetes with whatever mechanism you or I came up with will defect goal since it only benefits you, me or my/your organization.

[2018-06-17 18:11] craigbox commented on #15675
/remove-lifecycle stale

[2018-06-17 19:01] dElogics commented on #45419
Do you think increasing --runtime-request-timeout will help?

[2018-06-17 21:42] AishSundar commented on #63612
/reopen

these tests are flaky again, against both [master-blocking](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-reboot&show-stale-tests=) and [release-1.11-blocking](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gke-reboot-1.11&show-stale-tests=)

With 1.11 branch cut this Tuesday 6/19, its critical to assess if there's a real product issue vs a flaky test.

[2018-06-17 23:03] sunnygoel8 opened #65167 "Unable to connect to the server: dial tcp [::1]:8080: connectex: An attempt was made to access a socket in a way forbidden by its access permissions."
Hi Team,

I installed minikube on Windows 10 machine. But while checking the version and cluster-info of Kubernetes, noticed following error. can anyone help me to resolve this issue? Thanks.

**Unable to connect to the server: dial tcp [::1]:8080: connectex: An attempt was made to access a socket in a way forbidden by its access permissions.**

[2018-06-17 23:10] #65167 closed

[2018-06-17 23:13] minhlongdo commented on #15636
@thockin I am new to this project, could I pick this one up or is someone already working on it?

[2018-06-18 01:05] sipian commented on #39420
Has there been any update to this issue?
I am also using GKE cluster for CI/CD but load balancers don't get deleted automatically.
After some trials, I run out of global IP addresses.

[2018-06-18 02:29] andersjanmyr opened #65168 "Propagate Labels to Events"
/kind feature

I think it would be very useful for the labels of resources to propagate to the events.
If I create a `Deployment`, the labels propagate to the `ReplicaSet` and to the `Pods`, but not to the `Events` created by any of those resources.
It would be very nice to list events by labels and get everything related to my deployment.

[2018-06-18 02:29] andersjanmyr commented on #65168
/sig api-machinery

[2018-06-18 04:07] jberkus commented on #63612
/remove-priority failing-test
/remove-priority important-soon
/status approved-for-milestone

[2018-06-18 05:34] tnozicka commented on #56341
/lifecycle frozen

[2018-06-18 06:28] t-matsuo commented on #65110
I have same issue.

[code]

I unmounted "/var/lib/kubelet/pods/3ce1891d-7070-11e8-8f14-6c3be55xxxxx/volume-subpaths/ui-config/ui/0" manually. After that stcucked pod was deleted.

My environment

* Cloud provider or hardware configuration: baremetal
* OS (e.g. from /etc/os-release): CentOS 7.5.1804
* Kernel : 3.10.0-862.3.2.el7.x86_64
* Docker: docker-ce-17.03.2.ce-1.el7.centos.x86_64
* Kubernetes

[2018-06-18 06:34] stewart-yu commented on #65165
Could you paste errors/output more detail? I think you should clean some generated file after `ubeadm reset`.
/area kubeadm
/sig cluster-lifecycle

[2018-06-18 06:42] stewart-yu commented on #65160
/cc

[2018-06-18 06:50] mbutan commented on #33777
My problem was caused by CPU limits at IAM & admin -> Quotas -> Compute Engine API (CPU), had to requests for more resources available for my environment since upgraded limits my pods scale up easily.

[2018-06-18 08:03] fengerzh commented on #50295
I don't understand, why this command must be run by normal user but not root user?

[2018-06-18 08:04] moonek commented on #62845
I confirmed in k8s v1.10.3 that this problem has not been solved yet.
#60648 was not relevant.

[2018-06-18 08:33] roberthbailey commented on #39420
@sipian - I believe this was recently fixed. Are you currently seeing repeated creation / deletion leak load balancers?

@k4leung4 fyi

[2018-06-18 08:41] jsafrane commented on #65166
@psaini79, what Kubernetes version do you use?

[2018-06-18 09:54] lbernail commented on #65158
I don't have any specific masquerade configuration:
- kubelet is run without `non-masquerade-cidr` so it uses the default `10.0.0.0/8` (both my pod and service CIDRs are in this range)
- kube-proxy is run without `cluster-cidr`

So I have the following masquerading rules:
- `MASQUERADE  all  --  anywhere            !10.0.0.0/8           /* kubenet: SNAT for outbound traffic from cluster */ ADDRTYP

[2018-06-18 10:03] MasayaAoyama opened #65171 "ClusterRole aggregation ignore own rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:
for example, we cannot get "pods" rule at sample-aggregated-role.

[code]

after that,
[code]

**What you expected to happen**:
I think we need pods rules.

[code]

**How to reproduce it (as minimally and precisely as possible)**:
any

**Anything else we need to know?**:
This is specification?
I think this i

[2018-06-18 10:18] #56046 closed

[2018-06-18 10:32] nikhita commented on #57098
/remove-lifecycle stale

[2018-06-18 10:53] mgdevstack opened #65173 "[Candidate for Conformance] discussion for [sig-apps] DisruptionController evictions"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
After analyzing conformance and non-conformance e2e tests execution, it is observed that -
1. Pod specific evict API endpoints are covered by non-conformance e2e tests and have no coverage under conformance test.

Pod Evict e2e tests (non-conformance)| GitHub Links
-- | --
[sig-apps] DisruptionController evictions: eno

[2018-06-18 11:04] shyamjvs commented on #48107
So I just remembered this issue today and re-looked into our 5k-node scalability tests (where we're creating 150k backends). The problem with iptables-restore is still seen. From one of the [kube-proxy log](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/167/artifacts/gce-scale-cluster-minion-group-0hlj/):

[code]

I looked into couple other kube-proxies an

[2018-06-18 11:17] julienvincent commented on #47990
Also still having the same issue.

[code]

[2018-06-18 12:13] ayushs089 opened #65174 "Kubernetes Error"
![redhat docker-2018-06-16-17-04-05](https://user-images.githubusercontent.com/22883163/41535098-b5edb558-731e-11e8-95c4-5566b27c9dc6.png)
![redhat docker-2018-06-16-17-05-28](https://user-images.githubusercontent.com/22883163/41535101-b7aadd26-731e-11e8-91f3-f9a486d83684.png)
![redhat docker-2018-06-16-17-05-37](https://user-images.githubusercontent.com/22883163/41535104-bb738cfa-731e-11e8-9ed4-8

[2018-06-18 12:13] lvicentesanchez opened #65175 "fluentd-elastichsearch: unexpected error error_class=TypeError error="no implicit conversion of Symbol into Integer""
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: One of the fluentd pods keeps crashing with `unexpected error error_class=TypeError error="no implicit conversion of Symbol into Integer"`

**What you expected to happen**: The pod should start normally.

**How to reproduce it (as minimally and precisely as possible)**: I'm not sure how to easily reproduce it b

[2018-06-18 12:33] ayushs089 commented on #53333
![redhat docker-2018-06-16-17-04-05](https://user-images.githubusercontent.com/22883163/41535961-ca7082d2-7321-11e8-9372-6f86c76aeb04.png)
![redhat docker-2018-06-16-17-05-28](https://user-images.githubusercontent.com/22883163/41535963-cad4376e-7321-11e8-8ae9-ab75d1571937.png)
![redhat docker-2018-06-16-17-05-37](https://user-images.githubusercontent.com/22883163/41535964-cb156f4a-7321-11e8-8b7f-0

[2018-06-18 13:02] kad commented on #53333
@ayushs089 you seems to have different issue compared to that one. Please don't mix it with old close issue and open your own. On practicality side, from you screenshots I see that Kubelet is not able to connect to docker. it might be because docker not running, not supported version docker or some other misconfiguration of container runtime.

[2018-06-18 13:06] zq-david-wang commented on #65158
Is it possible to have pod ip and service ip configured in same range?  Guess I am just familiar with my own cluster setup which use cluster-cidr.... Hope others can help you.

[2018-06-18 13:11] jsafrane commented on #62171
@randomvariable, thanks a lot for detailed investigation. I'll try to get some time to implement 2. even before CSI. Users are very innovative in setting up their cluster permissions wrong and the messaging to user is very confusing in this particular issue.

[2018-06-18 13:11] jsafrane commented on #62171
/assign

[2018-06-18 13:12] liggitt commented on #65171
This is working as designed. The rules of an aggregated cluster role are determined from the union of all selected roles.

From the documentation at https://kubernetes.io/docs/reference/access-authn-authz/rbac/#aggregated-clusterroles:

And from the API documentation:

The reason for this is so that removal of one of the selected roles results in removal of the rules contributed by that role.

[2018-06-18 13:12] #65171 closed

[2018-06-18 13:19] shyamjvs opened #65180 "Add a 'kind/test' category for release milestone PRs"
I've created/reviewed multiple changes around code freeze that purely touch test code or testing framework. The convention fmu is that we need `kind/X` label as a precondition for milestone PRs to be merged, where allowed X values are bug/feature/cleanup. IMO there should be another category for 'test' (which often doesn't fall into any of earlier categories). It'll make flagging/explaining such c

[2018-06-18 13:23] ayushs089 commented on #53333
#65174 new issue number

[2018-06-18 13:26] stlaz opened #65181 "Make `kubectl describe psp` describe the new `sysctl` field"
/kind bug

**What happened**:
`kubectl describe psp` does not show the description for the new `sysctl` field added in https://github.com/kubernetes/kubernetes/pull/63717

**What you expected to happen**:
`kubectl describe psp` should describe the new field.

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl describe psp`

**Environment**:
- Kubernetes version (use `kubect

[2018-06-18 13:29] php-coder commented on #65181
/sig auth

[2018-06-18 13:31] lbernail commented on #65158
Sorry, I meant both are in `10.0.0.0/8` but they are different (`10.100.0.0/16` and `10.200.0.0/16`)

[2018-06-18 13:31] jsravn commented on #57841
I think it will break a lot of people's expectations if IPVS doesn't support graceful termination with at least TCP - this is the current behavior with iptables and userspace mode.

[2018-06-18 13:31] kad commented on #65174
what `docker info` says ?

[2018-06-18 13:43] ayushs089 commented on #65174
![redhat docker-2018-06-18-19-13-14](https://user-images.githubusercontent.com/22883163/41539575-b4ef42fe-732b-11e8-95c8-26759cc20531.png)
![redhat docker-2018-06-18-19-12-57](https://user-images.githubusercontent.com/22883163/41539577-b5503cee-732b-11e8-9fed-84dad24e21f1.png)

[2018-06-18 13:53] danwinship commented on #58956
@gjtempleton as above, if you run with (eg, `kube-proxy -v 5 ...`), it should log the data that its sending to iptables, so that you can see what the bad "line 7" is. (The comment above on April 23 does not include that information... I'm not sure if @kumudt failed to set the log level correctly, or if he just didn't include the relevant portion of the logs.) If setting the log level doesn't seem

[2018-06-18 13:56] AishSundar commented on #63612
/status in-progress

[2018-06-18 14:07] Cherishty commented on #65060
I will try , great thanks for your contribution and kindly help! 👍

[2018-06-18 14:27] gnufied commented on #57185
/remove-lifecycle stale

[2018-06-18 14:30] mariantalla opened #65183 "Provide an update-boilerplate script"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Part of the tests that run once a PR is submitted is `pull-kubernetes-verify`. Right now, contributors have to manually copy and paste boilerplate headers so that any new files they add as part of a PR pass the `hack/verify-boilerplate.sh` validation.

**What you expected to happen**:
Offer a way to update the boilerpl

[2018-06-18 14:33] psaini79 commented on #65166
bash-4.2# kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1+2.1.5.el7", GitCommit:"ea4c95b07dd46d5563e4f6851ede13157bf04266", GitTreeState:"archive", BuildDate:"2018-03-23T02:54:15Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1+2.1.5.el7", GitCommit:"ea4c95b07dd46d5563e4f6851ed

[2018-06-18 14:42] CorentinDy commented on #65017
Maybe this can help [#63128](https://github.com/kubernetes/kubernetes/issues/63128)?

[2018-06-18 14:43] kojiDev commented on #50086
I got this error. I was using private registry. I added secret as [k8s docs](https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/) says, and referenced it in `imagePullSecrets`.

I solved it by specifying server address as a prefix to an image:

from:
[code]
to:
[code]

[2018-06-18 14:44] hoegaarden commented on #65183
/sig contributor-experience

I am not sure if this kind of things are handled by contrib-exp? Is there a better SIG for this?

[2018-06-18 14:50] matinats opened #65184 "fsGroup field for volumeMounts"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
There is no way to specify the ownership of the mounted volumes per volume. There is only the PodSecurityContext filed fsGroup, however this is applied to all the containers and volume mounts of the pod.

**What you expected to happen**:
It would be nice to have a more fine grained solution for the volume mounts. Than

[2018-06-18 14:52] danwinship commented on #48107
There were kernel problems with large iptables tables at some point... I don't know when the slowness was first introduced, other than that a year ago or so the current mainline kernel exhibited the problem but the current Ubuntu LTS kernel didn't. It's fixed in 4.15.

[2018-06-18 14:59] matinats commented on #65184
/sig storage

[2018-06-18 15:08] gjtempleton commented on #58956
@danwinship Thanks we've already got a test cluster running with `-v=5` now, we were just hoping to shortcut the debugging if the root cause had already been found.

Will update once we get the relevant output and chase down the cause and open a fresh issue if it's unrelated.

[2018-06-18 15:43] tpepper commented on #65175
/sig instrumentation

[2018-06-18 15:50] MasayaAoyama commented on #65171
Thank you for your response, and I read your comment at issue.
I think, if we use both .aggregationRule and .rules, controller inform or forbid “.aggregationRule is used, .rules is ignored” via kubectl to us.

[2018-06-18 16:59] nikhita commented on #15636
@minhlongdo Noone is working on it. Go for it! :tada:

[2018-06-18 17:08] zloo commented on #64137
Alright, so we tested this further and it seems that a dangling cgroup is created whenever a pod with a volume referencing a secret is present in the pod spec. It doesn't even have to be mounted anywhere (i.e. "volumeMounts" is not present at all)

Cronjobs only accentuate this problem because they create a lot of pods.

[2018-06-18 17:11] k4leung4 commented on #63612
I took a look at the issue and as previously noted, the test is indeed flaky.
Eyeballing the history from the test dashboard, it passes around 50%.

The error we are seeing is "readlink /var/lib/docker/overlay2: invalid argument,"
which seems to imply some data were corrupted.
This has been reports with Docker since Mar 2017 and people are still encountering it as recently 2 days ago.
https://gith

[2018-06-18 17:45] FKatenbrink commented on #61182
How to solve the two Errors:

**SystemVerification**: Update to a more recent version of Docker. I had trouble installing it with the official repository via `apt-get install -y docker.io` and simply installed it manually with a Debian package.

**FileContent**: Run `modprobe br_netfilter`.

[2018-06-18 17:45] AishSundar commented on #63612
Thanks @k4leung4 for looking into this. So its safe to assume its a docker only issue and is not a product issue we should worry about in 1.11? Also in the release meeting today, we got some questions about if we have history of this in containerd as well or is it just a Docker issue. Any insights?

I will keep this issue open to track a resolution for this test issue.

[2018-06-18 17:48] n-rook commented on #33193
/remove-lifecycle stale

[2018-06-18 17:58] AishSundar opened #65190 "Failing Test : gce-1.10-master-upgrade-cluster-new jobs failing in Release blocking tests"
## Failing Job
* [gce-1.10-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-new&show-stale-tests=)

Gubernator Logs
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1502#beforesuite

From initial investigation with @bsalamat and @krousey it looks like kube-dns

[2018-06-18 18:05] MrHohn commented on #65190
I'm on the master on the current running jobs (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1503). Didn't see any unready kube-dns yet:
[code]

[2018-06-18 18:28] AishSundar opened #65192 "Before Suite running and failing occasionally on gci-gce-alpha-features job in master-blocking and release-1.11-blocking tests"
## Failing Jobs
* [sig-release-master-blocking#gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features&show-stale-tests=)
* [sig-release-1.11-blocking#gce-alpha-features-1.11](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-alpha-features-1.11&show-stale-tests=)

## Failing Test
* [BeforeSuite](https://k8s-gubernator.appspot.com/bu

[2018-06-18 18:31] AishSundar commented on #65192
/sig gcp

[2018-06-18 18:38] yguo0905 commented on #65192
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures/3364?log#log:

Looks like the node does not have enough resource to run the addon pods.

[code]

[2018-06-18 19:57] AishSundar commented on #65192
@yguo0905 it looks like a test setup issue which has prolonged for a while and no product issues of concern. Correct me otherwise.

From offline discussion, looks like BeforeSuite always runs and does NOT report back if it passes. Hence the test seems to fail intermittently due to resource issues. as per @krzyzacy all the cluster has the same shape (3 nodes,  n1-standard-2), so we are not very onl

[2018-06-18 20:22] fabiand commented on #62325
Any progress on this matter?

[2018-06-18 20:24] soltysh opened #65196 "Printing CRDs with priority set will hide columns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Create a CRD:
[code]
and then its instance:
[code]

Invoking `kubectl get foos.samplecontroller.k8s.io` will return only the `NAME` column omitting the `additionalPrinterColumns` that have `priority` set to a value > 0.

Invoking `kubectl get foos.samplecontroller.k8s.io -o wide` will return all the columns properly.

Th

[2018-06-18 20:42] thockin commented on #64193
same request: Try running kube-proxy with --v=4 and it will dump the full command it is executing

[2018-06-18 20:48] thockin commented on #64448
https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

[2018-06-18 20:50] jpbetz commented on #61326
/remove-lifecycle stale

We'll do this bump once 1.12 opens for PRs.

[2018-06-18 20:53] sttts commented on #62325
Elsewhere @bgrant0607 had a comment that enums are an API anti-pattern because we cannot extend the set without breaking clients (which will be unprepared for new values).

Technically, we can express enums via `AnyOf` + regexes in OpenAPI v3. But adding it to openapi-gen promotes the idea of enums in the API.

Here are some pointers:
- https://github.com/kubernetes/community/blob/master/contribut

[2018-06-18 20:53] yastij commented on #58635
Yes this targets 1.12

[2018-06-18 21:01] cheftako commented on #58635
Part of this is adding cloud-provider specific code to pkg/controller/nodelifecycle/node_lifecycle_controller.go. We are trying to remove all such cloud provider dependencies from core K8s/K8s code in 1.12. Can we work out a way to do this without changing node_lifecycle_controller? Making the changes in pkg/controller/cloud or equivalent CCM controller seems preferable.

[2018-06-18 21:54] caesarxuchao opened #65200 "Garbage collector behavior on invalid ownerReferences for existing uids across namespaces and across kinds is non-deterministic"
If an object with a given uid is already in the garbage collector uid map, a child object created with an ownerReference pointing to that uid is not treated as having a non-existent parent, even if:
1. the ownerReference refers to a cluster-scoped kind and no cluster-scoped kind with that name exists
2. the child is namespaced, and the ownerReference refers to a namespaced kind and no namespace-sc

[2018-06-18 22:06] XericZephyr commented on #62382
Having the same issue.  Waiting for update.

[2018-06-18 22:45] smarterclayton commented on #65196
This was deliberate.  Priority > 0 is the same as wide.  The door was left open to automatically show columns.  However, keep in mind that users who expect to script interactions with get (grep, etc) or who have varying terminal windows may be annoyed at you for hiding or showing data based on width (inconsistent output is frustrating to users).  So we need to be careful before we get too clever h

[2018-06-18 23:02] smarterclayton commented on #65196
In general this problem is a subset of "kubectl doesn't react well to differing terminal widths" - it might make sense to have a couple of high level principles about how we solve that (wrapping, better help layouts, reactive tables) before we make specific changes to just this code.  When we did this in `rhc` it was very expensive to get to "good", so some of kubectl reflects the "good enough" mi

[2018-06-18 23:08] krmayankk commented on #40869
/remove-lifecycle rotten

[2018-06-18 23:15] cblecker commented on #62382
This fix has been cherry picked back to 1.10, and should show up in the next patch release (1.10.5).

[2018-06-18 23:21] MikeSpreitzer commented on #65062
Here are two examples from the api-server stderr:
[code]

[2018-06-18 23:21] bsalamat commented on #64843
@ravisantoshgudimetla
The cascading problem mentioned in the Borg paper is less likely to happen in Kubernetes because K8s implementation of preemption prefers victims with the lowest priority among all possible victims. It is, however, still possible to happen due to varying sizes of pods. I don't want to give the details and scenarios as we might get side tracked from the original topic of the c

[2018-06-19 00:06] liggitt commented on #65160
/assign @ostromart @mikedanese

does this need to be resolved before 1.11 release?

[2018-06-19 00:09] fanzhangio commented on #65181
/assign

[2018-06-19 00:10] fanzhangio commented on #65181
If nobody has started yet, I wanna to pick it up.

[2018-06-19 00:43] BenTheElder commented on #65180
@jberkus @cblecker

On Mon, Jun 18, 2018, 06:21 Shyam JVS <notifications@github.com> wrote:

[2018-06-19 00:57] MrHohn commented on #65190
A quick update, the same symptom (kube-dns didn't come back after upgrade) doesn't occur on the latest run (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1503, which hasn't finished yet).

I will see if I can reproduce the issue locally.

[2018-06-19 01:37] rljohnsn commented on #62204
Another solution could be while [assembling the list of security groups](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L4047) to "delete" subtract the set from the annotation aws-load-balancer-extra-security-groups

[2018-06-19 01:37] keslerm commented on #64234
Ran into the same issue on HypriotOS and a PI 3. Downgrading Kubelet to 1.10.2 worked fine for me.

[2018-06-19 01:40] cblecker commented on #65180
@shyamjvs Do you have an example of such a PR that would not be considered a feature, cleanup, design, documentation, or bug?

[2018-06-19 01:43] msau42 opened #65201 "Integration of volume attach limits and delayed volume binding"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-feature-requests

**What happened**:
This is a followup to the 1.11 design discussions regarding volume attach limits and how it will work with delayed volume binding.  Here's a rough sketch of how we can integrate the two, based off of previous discussions.  I'm also trying to consider how this could be extended to work for arb

[2018-06-19 02:12] andyzhangx commented on #65060
/close

[2018-06-19 02:12] #65060 closed

[2018-06-19 02:54] agasbzj commented on #42306
Resturl with service dns name is still not working, is there any progress?

[2018-06-19 04:05] tpepper commented on #63612
@k4leung4 do you have links to the docker reports you were reviewing?

If this is a docker or is an overlay2 issue it should be expected more broadly than just the GCP/GKE context.  I'm suspicious this is a problem in the Google hosting platforms having changed something for OS deps, and/or in the test case not actively managing some OS deps upon which the test has specific requirements.

[2018-06-19 05:31] php-coder commented on #65181
@fanzhangio @stlaz was working on it AFAIR.

[2018-06-19 05:45] lichuqiang commented on #65201
/cc

[2018-06-19 05:51] anupam4881 commented on #65096
is there any update ?

[2018-06-19 06:01] AishSundar commented on #65173
/sig node
/cc @wangzhen127 @selfmanagingresource @hh @rohfle

@wangzhen127 would it be possible to guide Mayank with the questions above, esp around
* If any of the existing eviction e2e tests can be promoted to Conformance
* Do you think there is a need to update/write new tests which cover the PodSpec better?

[2018-06-19 06:10] AishSundar commented on #65133
Thanks for catching this @mgdevstack and thanks @liggitt for the explanation and the PR to fix documentation ^

[2018-06-19 06:25] MaximilianMeister opened #65204 "[followup of #47046] kubelet and btrfs snapshots: failed to get device for dir "/var/lib/kubelet""
**What happened**:
`/var/lib/kubelet` is a subdirectory of the btrfs subvolume `/var`. kubelet fails to start with the following error:

[code]

**What you expected to happen**:
kubelet starts normally and doesn't fail with an error message

**How to reproduce it (as minimally and precisely as possible)**:
* Install a system using btrfs as file system for /
* Create a sub-volume for /var
* Start k

[2018-06-19 06:27] stlaz commented on #65181
Indeed. @fanzhangio if you don't mind, I'd take over.

[2018-06-19 06:58] MaximilianMeister commented on #65204
/sig storage

[2018-06-19 06:58] andyxning commented on #34704
/remove-lifecycle stale

[2018-06-19 07:06] dotanga commented on #40244
+1

[2018-06-19 07:30] shyamjvs commented on #65180
Yes. Couple e.gs I could recollect from recent past (I'm sure there are more):

- https://github.com/kubernetes/kubernetes/pull/64768
- https://github.com/kubernetes/kubernetes/pull/64521

[2018-06-19 07:35] rkttu-devsisters commented on #65163
Since I first posted the issue, I have been thinking about various troubleshooting methods. However, there is a way to solve the problem that is really absurd. Fixed issue where vNIC suddenly disappears from container after adding Liveness Check to Pod. It seems to be independent of the way of liveness check (eg HTTP, TCP, Exec). It usually took 4 hours, but now it will not run for more than 1 day

[2018-06-19 08:15] pmoncadaisla opened #65207 "Wrong requested CPU count when node has finished jobs"
/kind bug

**What happened**:
In nodes where there are only 2 CPU I can see requested values higher than 2.
It seems to be because of successful jobs that are kept (jobs managed by a cronjob).
This is making autoscaler scale more and more nodes, as those where job have been scheduled remain "full".

This is happening in GKE, but its likely to happen in any k8s cluster:

![image](https://user-image

[2018-06-19 08:22] pmoncadaisla commented on #65207
@kubernetes/sig-scheduling-bugs

[2018-06-19 08:34] vsliouniaev commented on #64234
+1, downgrade to 1.10.2 works

[2018-06-19 08:41] lichuqiang commented on #65201
It's a little different from it in my mind.

1. You mean the `quantity` is the resource a volume consumed, but not total capacity? then how should the predicate make use of it, can you give more details?
2. Has the issue something to do with `memory` resource and PodFitsResources predicate? Or it's just a case of "arbitrary resources"?
3. For local volume capacity, I think we need node-specific va

[2018-06-19 08:46] wgliang commented on #65207
/assign

[2018-06-19 08:47] zhangjianweibj opened #65208 "volume stats no metrics"
hello!
Kubernetes version :1.9.5

I used prometheus to monitor kubernetes cluster.Finding no metric about volume.Then i checked the k8s project,finding VolumeStats not used.why?and how to monitor pv&pvc resource usage.very thanks

![image](https://user-images.githubusercontent.com/18585129/41586766-230ee384-73e0-11e8-865f-61de58e8879a.png)

[2018-06-19 08:50] jangrewe commented on #62382
Any ETA for 1.10.5 yet? Even a ballpark date would be fine.

[2018-06-19 08:51] zhangjianweibj commented on #65208
@kubernetes/sig-storage-feature-requests

[2018-06-19 09:07] jsafrane commented on #62171
@randomvariable, 2. does not work.

Kubernetes does not need to have GenerateDataKey and Decrypt permissions to create encrypted volume. My AWS account is severely limited (I am using shared company account) and I can't call GenerateDataKey on a key:

[code]

But I can create encrypted EBS using the same key:

[code]
The volume gets created successfully. It's not the user who runs Kubernetes who n

[2018-06-19 09:08] wgliang commented on #65208
gauge vector. It's better use a collector to collector metrics from internal
stats.

You can see #59170.

[2018-06-19 09:59] jeroenjacobs1205 commented on #64027
The only fix I found so far, is editing the heapster cluster-role, and adding "nodes/stats" to the allowed resources.

Probably duplicate of this one: https://github.com/kubernetes/heapster/issues/1936

[2018-06-19 10:03] jiuchongxiao opened #65210 "the addon fluentd-elasticsearch could not collect log data"
the addon fluentd-elasticsearch could collect log,why?
![image](https://user-images.githubusercontent.com/13093730/41590913-cde78e78-73ea-11e8-9ca9-dab19818ee5d.png)

the Index Patterns (logstash-* and *) all no have result show  after i run myowner test kubernetes example.

**version**
Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548b

[2018-06-19 10:07] jiuchongxiao commented on #65210
/sig fluentd-elasticsearch

[2018-06-19 10:20] kevtaylor opened #65212 "kubectl get namespace inconsistent error messages"
/kind bug

**What happened**:

Using kubectl without supplying a valid KUBECONFIG for a namespace gives inconsistent
error conditions when using short form and long form

**What you expected to happen**:
Consistent messages

**How to reproduce it (as minimally and precisely as possible)**:
[code]
[code]

**Anything else we need to know?**:
tried on 1.9.3 / 1.10.0 and 1.10.1 and all appear to behav

[2018-06-19 10:32] jsafrane commented on #65166
AFAIK iSCSI in 1.9 does not support block volumes, only FC was supported at that time. It should be much better in 1.10.

[2018-06-19 10:41] samikhawaja commented on #11578
/reopen

[2018-06-19 10:50] fananchong opened #65213 "How get stateful ordinal index when work in hostNetwork ?"
for example:

[code]

run shell:
[code]
it show node‘s name, not stateful pod's name: service-b-0

[2018-06-19 11:01] kargakis commented on #11578
@samikhawaja if you want, please open a new issue in https://github.com/kubernetes/website

[2018-06-19 11:13] MaciekPytel commented on #62382
I'm planning to cut 1.10.5 tomorrow, assuming all tests will be green. In case of any last minute problems it may slip by a day or two, but so far everything looks good for tomorrow.

[2018-06-19 11:14] shyamjvs commented on #48107
@danwinship Could you provide some node image version which has the fix?

Also, could you elaborate on what was fixed? Do you mean larger iptables operations are supported / better iptables performance / bugfix / ...?

[2018-06-19 11:17] randomvariable commented on #62171
And the volume stayed created and didn't get reaped after a few seconds?

I was confused about this part, it didn't seem to follow how the APIs should work. Has anyone ever created a volume with that key, or is it a new one? I'll try what I did previously in a bit across a few regions.

[2018-06-19 11:18] soltysh commented on #56586
I agree with @tallclair here, so this should not be re-opened.
/close

[2018-06-19 11:18] #56586 closed

[2018-06-19 11:19] anupam4881 commented on #65096
Issue resolved , this is happening with machines which was previously updated via yum update.

when below error comes than only pods on below nodes did n't work
[preflight] Some fatal errors occurred:
	[ERROR FileContent--proc-sys-net-bridge-bridge-nf-call-iptables]: /proc/sys/net/bridge/bridge-nf-call-iptables contents are not set to 1

even after set value to 1 , there is no impact.

Thanks
Anup

[2018-06-19 11:19] #65096 closed

[2018-06-19 11:29] dkirrane commented on #47163
Any update on this?

[2018-06-19 11:37] #62478 closed

[2018-06-19 11:43] #5625 closed

[2018-06-19 11:46] wojtek-t commented on #48107
@shyamjvs - about your comment with logs - I looked into the code and those errors are basically coming from these file:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/iptables/iptables_linux.go#L84

In particular, that means that we have an artificial 2s timeout here, which may or may not be justified at scale. We need to check what exactly it does and why it fails?

Maybe the prob

[2018-06-19 12:04] wojtek-t commented on #48107
BTW - looking into those logs, I think it's not the case that we stopped being able to acquire the lock - it's just that *some* attempts to acquire it were failing. Otherwise this would have happen much more frequently.

[2018-06-19 12:09] wojtek-t commented on #48107
May be worth adding a log here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/iptables/iptables_linux.go#L87
to see why we're failing to acquire that lock.

[2018-06-19 12:09] jsafrane commented on #62171
Yes, the volume stayed around for several minutes, then I deleted it manually. The key is our default encryption key, so when I create an encrypted volume with no key, I get this one. No zones, no regions involved.

[2018-06-19 12:18] jsafrane commented on #62171
I got an idea, the volume is "creating" and then it gets "available". I could `DescribeVolumes` in a loop until newly created volume either gets "Available" or deleted. This will abuse the API quota (`Describe*` is cheap, right?) + it will slow down provisioning a bit - all volumes I tried were Available in a second or two. Will it work reliably enough?

[2018-06-19 12:21] shyamjvs commented on #48107
I'll take a look later today/tomorrow when I find time. Thanks for those leads.

[2018-06-19 12:28] wojtek-t commented on #48107
I looked a bit into that, and my personal guess is that during that times Kubelet is actually altering with iptables (hostport manager in Kubelet).

If my hypothesis is correct, problem the easiest way to fix that is to bump this timeout (I guess with that big iptables, iptables-restore may take more than 2s).

One useful thing to do might be to start tracking how long iptables updating takes (i.e

[2018-06-19 12:43] randomvariable commented on #62171
Might be the difference then, as I don't think the same perms as I described above are needed for the default key as I assume that it gets automatically delegated to the EC2 service. I only tested & documented the explicit, alternate key path above.

Your approach should work, but I don't know when EC2 API limits will kick in and how soon users would see that happen. Worth a shot though?

[2018-06-19 13:05] danwinship commented on #48107
@shyamjvs sorry, I meant it's fixed in the Linux kernel, not in kubernetes. There was a problem where if a process tried to do a very large iptables-restore, and other processes on the system were also doing iptables-related things, the iptables-restore might get restarted multiple times (inside the kernel) before completing, which could then cause another iptables operation running in another gor

[2018-06-19 13:05] soltysh commented on #65196
Sounds like a reasonable topic for one of our next sig-cli calls. I'll add a note to the agenda, but since tomorrow's already full it'll overflow into the next one on July 4th.

[2018-06-19 13:13] mward29 commented on #45398
This is still open and its still causing us headaches through our CI pipeline

[2018-06-19 13:20] jsafrane commented on #62171
It takes ~4 seconds for a volume to reach "available", it's quite a long time. This will affect encrypted volumes with explicit keys only.

[2018-06-19 13:34] jamsyoung commented on #64913
I had this exact same problem. I ran across https://github.com/Homebrew/brew/pull/4334#issuecomment-396852061 which resolved the problem.

tl;dr:
[code]

[2018-06-19 13:39] shyamjvs commented on #48107
@danwinship Thanks for the explanation - makes it much clearer now. And smells like the same problem we're seeing here.

@kubernetes/sig-node-bugs @yujuhong - Do we have any node image with kernel version >= 4.15 available for testing (so we can try verifying if the fix works)?

[2018-06-19 14:09] NeilW opened #65221 "kubectl cluster-info dump doesn't appear to work after kubeadm install"
/kind bug

**What happened**:
Installed k8s using kubeadm, and added the admin config as described. When asking for a `kubectl cluster-info dump` I get

[code]

**What you expected to happen**:

To get a cluster info dump

**How to reproduce it (as minimally and precisely as possible)**:
With the following kubeadm.conf
[code]

run

[code]

**Anything else we need to know?**:
Running containerd

**

[2018-06-19 14:16] k4leung4 commented on #63612
@tpepper linked are some of the top issues that I found
https://github.com/moby/moby/issues/35747
https://github.com/moby/moby/issues/10294
https://github.com/docker/for-mac/issues/1667
https://github.com/docker/for-win/issues/1766

The historical data only shows up to 05/22/2018, https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-05-22
and have been flaky since then.
Due to

[2018-06-19 14:22] jsafrane commented on #62171
Fix: https://github.com/kubernetes/kubernetes/pull/65223

[2018-06-19 14:27] RickNEP opened #65224 "create shortname for --serviceaccount when creating rolebindings"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

Currently we can only create rolebindings with the full name --serviceaccount, as I'm lazy I'd like to use --sa.

**Environment**:
- Kubernetes version (use `kubectl version`): 1.10.3
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-06-19 14:29] RickNEP commented on #65224
/sig cli

[2018-06-19 14:37] sttts commented on #47668
@nikhita #61010 is indeed only the test, but a good starting point to fix it. I think it is still a good issue for newcomers to the apimachinery area. So let's keep that open and tagged. `etcdserver: request is too large` is actually not too bad. But of course we can do better.

[2018-06-19 14:39] andyzhangx opened #65225 "kubelet needs restart after granting sp access to azure acr"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
after granting sp access to azure ACR , pull image from ACR would fail, and after wait about 15-30min, pull image would success. Root cause is that `servicePrincipalToken` needs to be refreshed when doing `registryClient.List`, otherwise it will always return empty registry list.

Related issue:
https://github.com/Azure/AK

[2018-06-19 14:48] george-angel commented on #30656
/remove-lifecycle stale

[2018-06-19 15:12] b43646 opened #65227 "Support disk io speed requests and limits for contaner"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind feature

Kubernetes should support disk io speed（Write/Read） requests and limits.

/cc @kubernetes/sig-node-feature-requests

[2018-06-19 15:16] devent commented on #65130
I just stumbled upon that, too. I try to deploy Keycloak and I get the logs:

[code]

I did not set the env POSTGRES_PORT anywhere.

[2018-06-19 15:19] AishSundar commented on #63612
This seem to have been around since April of last year - https://github.com/kubernetes/kubernetes/issues/45146

[2018-06-19 15:23] vantuvt commented on #61384
The TestNodePIDPressure test recently failed for me. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65186/pull-kubernetes-integration/16445/ for logs.

[2018-06-19 15:23] shyamjvs commented on #65180
Another example - https://github.com/kubernetes/kubernetes/pull/65179

[2018-06-19 15:36] MrHohn commented on #65190
Turned out for that particular run where kube-dns failed to come back after upgrade (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1503). It was because kube-proxy failed to run on that specific node, hence the communication between pods and apiserver's service IP just didn't work.
[code]

Found some relevant error messages fr

[2018-06-19 15:41] MrHohn commented on #65190
/assign @bsalamat

[2018-06-19 15:53] berniechiu commented on #65130
Weird, let me check with the sample app again

[2018-06-19 15:54] shyamjvs commented on #48107
Sorry - I was intending to mention sig-node-misc.

[2018-06-19 15:59] cadeniyi commented on #65153
What appears to be easy what to achieve option 2:

diff --git a/pkg/kubelet/checkpoint/checkpoint.go b/pkg/kubelet/checkpoint/checkpoint.go
index e580131..6cfb0b4 100644
--- a/pkg/kubelet/checkpoint/checkpoint.go
+++ b/pkg/kubelet/checkpoint/checkpoint.go
@@ -103,7 +103,9 @@ func LoadPods(cpm checkpointmanager.CheckpointManager) ([]*v1.Pod, error) {
                        glog.Errorf("Failed to r

[2018-06-19 16:17] geekofalltrades commented on #51891
Thank you.

[2018-06-19 16:29] ostromart commented on #65160
No it doesn't. We would like to mirror OSS Istio behavior as much as possible, this issue will be addressed in the next release (1.0).

[2018-06-19 16:38] hiep-huynh opened #65228 "Delete stale UDP conntrack entries with external ip usage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
Fix #59286 doesn't remove the stale udp conntrack session when an external ip is involved. The stale session lingers and continues to misdirect traffic to endpoints that are removed and it prevents sessions to new endpoints from being created.

**What you expected to happen**:
Fix #59286 removes stale udp conntrack sessio

[2018-06-19 16:48] tallclair commented on #60392
Closing as we're passed the 1.11 milestone. 1.12 tracking issue coming soon...

[2018-06-19 16:48] #60392 closed

[2018-06-19 16:53] ddebroy commented on #65201
Looks good. One question regarding:
[code]
Will the `quantity` setting for `attachable-volumes-*`  ever be something other than 1?

[2018-06-19 17:08] gnufied commented on #65201
What is the use case of supporting arbitrary resources within PV or storageClasses? Before we go there - I think we should gather some real world data and how those resources will be applied and how scheduler has to be modified to take that into account.  What happens when individual PVs can share the memory? (like a shared fuse mount). Are memory limits applicable to PVs very much storage impleme

[2018-06-19 17:42] k4leung4 commented on #63612
I found part of the reason why it is flaky, and it is due to the ordering of the tests.
Looking at the last 20 runs, 11 passes, 9 failures, of the 9 failures, the first test is either "unclean reboot" or "kernel panic". None of the successful runs start with either of those tests.
To confirm the ordering is part of the cause of the failures, I was able to reproduce the failure by running the "kern

[2018-06-19 17:47] khenidak commented on #65225
Thanks @andyzhangx -- can we add a milestone label?

[2018-06-19 17:49] AishSundar commented on #63612
FWIW, the reboot job and specifically the cluster-lifecycle tests have been failing for the same reason even before 1.10 RC cut timeframe

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-03-19&job=ci-kubernetes-e2e-gci-gke-reboot&test=%5C%5Bsig%5C-cluster%5C-lifecycle%5C%5D%5C%20Reboot%5C%20%5C%5BDisruptive%5C%5D%5C%20%5C%5BFeature%3AReboot%5C%5D

[2018-06-19 17:50] msau42 commented on #65201
Sorry I wasn't clear. The total capacity is reported in the Node resources, and the consumption of a to-be-provisioned-PV is reported in the StorageClass.  Something like capacity would need to be special cased with a prefix since the capacity is inferred by PVC request.

@liggitt had a hypothetical example of a driver raiding two ebs volumes together.

Volume drivers like NFS or Ceph have kernel

[2018-06-19 17:51] shyamjvs commented on #48107
Doesn't need to be GKE, we can even do it on GCE (which is where most of our tests are run). However, we need an image with version >= 4.15 (which is where the fix seems to be present).

[2018-06-19 17:56] yujuhong commented on #48107
@shyamjvs if you can override the node OS images for the test. You can pick up a newer COS image, e.g., cos-stable-66-10452-74-0

[2018-06-19 17:58] AishSundar commented on #65192
FWIW, the alpha-features job and specifically the BeforeSuite started failing this way only since 3/8/2018 and has been during 1.10 RC cut timeframe as well

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-03-15&job=e2e-gci-gce-alpha-features&test=BeforeSuite

So some feature introduced in alpha / test infra changes around that time is causing resource constraints. @krzyz

[2018-06-19 18:02] dims commented on #63612
@k4leung4 Kenny,

The GCE test seems to be way more stable than the GKE one (please see https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/)

So can you please compare the OS images used in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/25158 and https://k8s-gubernator.appspot.com/build/kubernetes-je

[2018-06-19 18:07] AishSundar commented on #65190
First instance of this kind of failure started happening since 4/26/2018

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-05-01&job=e2e-gce-new-master-upgrade-cluster-new&test=BeforeSuite

The failures are few and far between, but seems to be introduced only this release cycle. So this seems to be a critical issue to evaluate for 1.11 RC cut tomorrow

[2018-06-19 18:10] krzyzacy commented on #65192
hummm we can... compare junit entries and see what features are newly added?

[2018-06-19 18:11] roberthbailey commented on #63612
@abgworrall - @dims points out in the above comment that different COS versions seem to affect our test flakiness. Could you see if anyone from the node team could look in to why that might be the case?

[2018-06-19 18:18] bsalamat commented on #65190
Thanks, @MrHohn for investigating the issue. The kubelet preemption is unrelated to the scheduler preemption. Scheduler is out of the loop for these preemptions. We have tried to call it kubelet "eviction" instead of "preemption" to remove the confusion, but not all of our logs are updated.
Anyway SIG node (@kubernetes/sig-node-test-failures) folks can tell us how serious this problem is, but from

[2018-06-19 18:27] mkimuram opened #65232 "Disruptive tests using KubeletCommand() fail in k8s environmnets which have no external IP"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Disruptive tests using KubeletCommand() fail in k8s environmnets which have no external IP.

**What you expected to happen**:
Disruptive tests using KubeletCommand() succeed in k8s environmnets which have no external IP.

**How to reproduce it (as minimally and precisely as possible)**:

1. Deploy k8s by using kubeadm with

[2018-06-19 18:34] AishSundar commented on #65190
@abgworrall can someone from Node team help looking into this failure to assess if this could be potentially release blocking?

[2018-06-19 18:37] faun commented on #41125
/remove-lifecycle rotten

[2018-06-19 18:39] mkimuram commented on #65232
/sig storage

[2018-06-19 18:50] dsalamancaMS opened #65233 "Display which Pods have the PVC in use."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I need to know to which Pod(s) a PVC is being mounted to, without having to go through each Pod one by one checking the Volume mounts and the PersistentVolumeClaim.
The kubectl describe pvc and get pvc, only tell you to which Persistent Volume the PVC is bound to, but not if is being used by a Pod(s)

**What you expe

[2018-06-19 19:03] liggitt commented on #48638
this issue is resolved for the kubelet in #63492

https://github.com/kubernetes/kubernetes/issues/65012 is open for the broader client-go issue

/close

[2018-06-19 19:03] #48638 closed

[2018-06-19 19:06] liggitt commented on #65012
hoisting conversation from the kubelet-specific issue https://github.com/kubernetes/kubernetes/issues/48638#issuecomment-388541434 to here

@obeattie:

@liggitt:

@redbaron:

@obeattie:

[2018-06-19 19:07] AishSundar commented on #65190
/cc @dashpole

[2018-06-19 19:08] AishSundar commented on #63612
/cc @dashpole

[2018-06-19 19:11] liggitt commented on #65224
a long flag named "sa" isn't very descriptive. autocompletion is your friend :)

`--servi<tab>`

/close

[2018-06-19 19:12] #65224 closed

[2018-06-19 19:12] DirectXMan12 commented on #61007
/remove-lifecycle stale

[2018-06-19 19:14] liggitt commented on #65212
thanks for the report. this is resolved in master and will be fixed in 1.11:

[code]

/close

[2018-06-19 19:14] #65212 closed

[2018-06-19 19:42] bmwiedemann commented on #48710
More testing showed that kubernetes builds reproducibly when replacing /dev/random and urandom with /dev/zero so something is explicitly putting randomness in the go-buildid section. Not just a hash of something that happens to change for other reasons.

[2018-06-19 19:55] wojtek-t commented on #48107
But that still seems to have kernel 4.14. In fact everything up to 69 version (which is current devel) seem to be on 4.14: https://cloud.google.com/container-optimized-os/docs/release-notes

[2018-06-19 20:02] yujuhong commented on #48107
I misread the number. Sorry :-(
All COS images are on 4.14 or less, AFAIK. Our ubuntu image is using 4.13.

[2018-06-19 20:09] yujuhong commented on #48107
We are expecting a new ubuntu image with a 4.15 kernel soon-ish. How urgent/serious is this issue?

[2018-06-19 20:10] dangarthwaite commented on #64103
I'm using busybox:glibc and not seeing environment variables.

[2018-06-19 20:11] BenTheElder commented on #61490
/remove-lifecycle stale
#64731

[2018-06-19 20:14] wojtek-t commented on #48107
We live in that state for long months, so not very urgent.
Do you have any estimation on what "soon-ish" means here? Q3?

[2018-06-19 20:16] yujuhong commented on #48107
By end of next week, according to @yguo0905

[2018-06-19 20:17] dashpole commented on #65190
Yeah, this is related to kubelet preemption, which allows critical pods to remove other pods from the node in order to schedule them.  Without kubelet preemption, the kube-proxy pod would simply be rejected.  In this case, the kubelet tried to remove a pod in order to run kube-proxy, but failed to evict it.
 So the underlying issue is that there are more pods scheduled to the node than the kubelet

[2018-06-19 20:17] filbranden commented on #48107
COS will not move on from 4.14 for ~months (maybe ~year), so if there's something you need from 4.15, maybe you should start discussing with COS team about backporting this feature to their kernel?

[2018-06-19 20:22] wojtek-t commented on #48107
That is great - once this is available we will be able to run some tests.

@filbranden - we don't know yet if we need something or not - there are couple things to debug and understand before that. Once we know that it really helps (and we can't workaround that on our side) we may start those discussions - that's a good point. But we're not at that point yet.

[2018-06-19 20:23] bsalamat commented on #65192
I cannot completely rule out that this is related to "schedule DS pods by default scheduler", but given that the test has been flaky in older releases, I doubt if the new alpha feature is causing it.
It looks like the node does not have enough resources to run the addon. Whether the scheduler schedules these addons or DaemonSet Controller does it, when a node is out of resources the daemons cannot

[2018-06-19 20:28] cheftako opened #65239 "Intermittently long start up times for sample-apiserver."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Related to issue #63622 and fix #64994.
Looking https://k8s-testgrid.appspot.com/sig-api-machinery#gce we seem some long start up times for sample-apiserver in the e2e test.
Looking at the last 20 runs I see -
Test Time | Sample API-Server Startup Time | Result
2018-06-18 00:18 PDT | 9s  |
2018-06-18 00:55 PDT | 21s |
2018

[2018-06-19 20:29] cheftako commented on #65239
/sig-api-machinery

[2018-06-19 20:29] mfojtik opened #65240 "Daemon sets should throttle pod recreation when the pod failed because of eviction"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In case the the daemon set controller observe "failed" pod on particular node it will immediately try to delete it and then recreate it. In case the pod failed with "Evicted" reason, this means the daemon set might race with kubelet evicting pods from the node (eg. DiskPressure).

**What you expected to happen**:

Deamon

[2018-06-19 20:29] mfojtik commented on #65240
/sig apps
/cc @smarterclayton
/cc @tnozicka
/cc @janetkuo

[2018-06-19 20:30] cheftako commented on #65239
/sig api-machinery

[2018-06-19 20:33] dashpole commented on #65190
These are all the pods on the node.
fluentd-gcp-v3.0.0-n529z
fluentd-gcp-v3.0.0-xlfbl
kubernetes-dashboard-db894757f-4mvkj
kube-dns-autoscaler-67c97c87fb-z2bc8
kube-dns-7b479ccbc6-kkbvz
res-cons-upgrade-5m9rn
foo-86jjr
kube-dns-7b479ccbc6-ld59m
fluentd-gcp-scaler-5d85d4b48b-p2mfp
service-test-lk7j7
res-cons-upgrade-nlqnl
event-exporter-v0.2.1-7c9486678b-vfmns
foo-74rnh
echoheaders-https-759k4
ss-1

[2018-06-19 20:46] gnufied commented on #65233
/sig storage

[2018-06-19 20:48] davidkarlsen commented on #64924
@bboreham also when consulting cloudflare, their conclusion is:
[code]
hence I still think DNS is responding with the correct error-codes, but the musl resolver implementation is not acting correctly.

[2018-06-19 20:50] AishSundar commented on #65192
"but given that the test has been flaky in older releases, I doubt if the new alpha feature is causing it"
@bsalamat mining for [historic health of this test from bigquery](https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-03-15&job=e2e-gci-gce-alpha-features&test=BeforeSuite), I see the Beforesuite started failing this way only since 3/8/2018

[2018-06-19 20:53] smarterclayton commented on #65240
Yeah, backoff for nodes that are evicting (like "CrashLoopBackoff", "EvictionLoopBackoff")

[2018-06-19 20:55] AishSundar commented on #65190
"Is it possible to figure out which pods were assigned to the node at that time?"

@krzyzacy @BenTheElder is there any way we can find how each of those remanent pods got scheduled on the node?

@dashpole the reason you think this is NOT a release blocker is because this seems like a test setup issue? and/or you are unable to repro this manually?

[2018-06-19 21:03] k4leung4 commented on #63612
@dims
At your suggestion, I ran the same test that previously failed for me with the node image "gke-1810-gke0-cos-beta-65-10323-12-0-p-v180322-pre", and it passes.

I had to run the test without the --extract flag, which uses a prebuilt k8s. Trying to determine how is the node image is determined when running with deployment=gke

Failing test command
go run hack/e2e.go --up --down --test --check-

[2018-06-19 21:08] bboreham commented on #64924
Problem is that your DNS did _not_ respond NXDOMAIN when asked about `google.com.davidkarlsen.com.`

[2018-06-19 21:10] msau42 commented on #65131
Regarding the informer update issue, it has been fixed by https://github.com/kubernetes/kubernetes/pull/63692 in 1.11 and 1.10.

Regarding the partial binding failure, it was explicitly called out in the design document that partial binding failure can cause issues and may need to be manually recovered.  We could potentially say we never revert once assumed, but that could cause other scenarios to

[2018-06-19 21:11] nikhita opened #65243 "Fix openapi spec for CRD validation schema constructs"
The CRD validation schema constructs have some structs without json tags: https://github.com/kubernetes/kubernetes/pull/65234. These structs are exposed in the openapi schema:

[code]

With this schema:
- the fields are exposed with uppercase names
- they are marked as required

This should be fixed to mark them as optional.

Maybe relevant, we could do something like:

https://github.com/kubernet

[2018-06-19 21:12] krzyzacy commented on #65190
what are those foo-* pods...

@dashpole so sounds like the node is not expect to run that many things at the same time? Which means the testing deployment logic need to be improved, or we need to use larger nodes?

[2018-06-19 21:13] msau42 commented on #65131
This is intentional.  If someone else changed/bound the PV before the scheduler did, we don't want to override the changes.  We could arguably use patch, but I think we still need to include the object version so that it fails if the object changed in the meantime.

[2018-06-19 21:17] AishSundar commented on #63612
@BenTheElder can probably help shed some light on how the node image is determined when running e2e tests with deployment=gke

[2018-06-19 21:23] nikhita opened #65244 "Add a JSON tag linter for API types"
We should add a linter to make sure that API types contain json tags, and with the correct case, etc.

See https://github.com/kubernetes/kubernetes/pull/65234#discussion_r196556344 for more context.

/sig api-machinery
/kind feature

/cc @liggitt @sttts @caesarxuchao @lavalamp @roycaihw

[2018-06-19 21:27] roycaihw commented on #65244
Added code in API linter WIP PR to make sure we catch missing JSON tag https://github.com/kubernetes/kube-openapi/pull/83

[2018-06-19 21:30] liggitt commented on #65243
the openapi schema was wrong in 1.10 and 1.9, but in 1.11 https://github.com/kubernetes/kubernetes/pull/64174 fixed the association with group-version-kind, so kubectl actually uses it in 1.11.

[2018-06-19 21:51] krzyzacy commented on #63612
@yguo0905 ^^

[2018-06-19 21:52] BenTheElder commented on #63612
@yguo0905 would be the one for node images here I think, but basically it's just using the default COS when `--gcp-node-image=gci ` is used. (GCI is an old name).

[2018-06-19 21:54] BenTheElder commented on #63612
Dims also [has a good comment](https://github.com/kubernetes/kubernetes/issues/63612#issuecomment-398491216) on this above (sorry I missed that).

[2018-06-19 21:56] k4leung4 commented on #63612
Like others have mentioned, `cos-stable-66-10452-101-0` is the default image used by the GKE with 1.10 kubernetes.

[2018-06-19 22:02] dims commented on #63612
@k4leung4 you mean the node image has to be `cos-stable-66-10452-101-0`? we don't care about the master image, just the node image if we can try the older one in the CI job.

[2018-06-19 22:10] AishSundar commented on #63612
I see test runs pass and fail with the same node image cos-stable-66-10452-101-0

Passing run : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/15409
Failing run : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-reboot/15407

So may be its a flaky node image or may be the image is not the issue?

[2018-06-19 22:11] AishSundar commented on #65190
@BenTheElder incase he has some thoughts

[2018-06-19 22:12] k4leung4 commented on #63612
@dims the mapping is configured on the server side (GKE). There are flags with kubetest that will allow us to test with a specific cos image. I will be trying to verify with that.

@AishSundar like I mentioned before, I believe the flakiness is due to the ordering of the reboot tests when running with the cos image `cos-stable-66-10452-101-0`

[2018-06-19 22:14] samolds opened #65245 ""kubectl get pods -o name" shows evicted pods"
/kind bug
/sig cli

**What happened**:
I use the `kubectl get pods -o name` command in a number of scripts to get the names of my active pods. Recently I noticed that it started failing sometimes. Upon further investigation, I noticed that the `-o name` output format will include pods that have been evicted. But `kubectl get pods` and even `kubectl get pods -o wide` do not include these pods. This

[2018-06-19 22:18] msau42 commented on #31272
Now with the StorageProtection beta in 1.10, we won't allow deleting the PVC (and PV) until all Pods using it are terminated.

[2018-06-19 22:22] davidz627 opened #65246 "Second Pod Using Same PVC Fails WaitForAttach Flakily"
The test `[sig-storage] CSI Volumes CSI plugin test using CSI driver: hostPath should provision storage` flakes very occasionally. Below are the findings of the circumstances of the flake.

During `testDynamicProvisioning` two pods are created in quick succession. The test flakes when the second Pod fails to come up.

The second pod fails to come up with error:
`MountVolume.WaitForAttach failed fo

[2018-06-19 22:27] BenTheElder commented on #65190
@AishSundar most of our jobs create and throw away entire clusters for every run, so individual runs should not be affected by other runs.

[2018-06-19 22:42] AishSundar commented on #65190
hmm thought so, thanks @BenTheElder for clarifying. So looks like once in a while too many pods are being scheduled by the exact same test deployment?

[2018-06-19 22:42] dashpole commented on #65190
Normally, kubelet preemption should work, and kick another pod off the node to schedule kube-proxy.  Evictions can fail occasionally.  The underlying issue though is that there are too many pods.

[2018-06-19 22:42] davidkarlsen commented on #64924
@bboreham I believe your interpretation of the spec is erroneous. The domain exist, the specific record does not exist, NOERROR with no-entries is a correct answer (and it additionally returns the NS records for the domain...)

[2018-06-19 22:44] dashpole commented on #65190
It looks like all of the other pods for the run are scheduled before kube-proxy is read from a file, which may be why the scheduler still places them on the node.

[2018-06-19 22:45] liggitt commented on #65243
actually, if those JSON fields never appear in JSON output, they shouldn't be included in the schema at all.

adding to the milestone for triage since `kubectl create -f ...` will complain about files that are actually valid and previously worked.

/milestone v1.11

[2018-06-19 22:45] AishSundar commented on #65190
Will it be useful to look at the logs of a successfull run to see if even those schedule so many pods (and in that order) on the node?

[2018-06-19 22:52] lavalamp commented on #65243
It sounds like we urgently need to explain to the OpenAPI generation
process when fields are serialized in a non-standard way. I am pretty sure
Mehdy included a way to do that, look at how IntOrString is handled.

On Tue, Jun 19, 2018 at 3:47 PM Kubernetes Submit Queue <
notifications@github.com> wrote:

[2018-06-19 22:57] liggitt commented on #65243
yeah, just like this

[code]

thing is, it's not actually accurate... int-or-string can also be an int. not sure how kubectl validation is skipping that type... might be special-cased

[2018-06-19 22:59] johngmyers commented on #60535
/remove-lifecycle stale

[2018-06-19 23:02] bboreham commented on #64924
Seriously, you have a domain `google.com.davidkarlsen.com.` ?

[2018-06-19 23:06] liggitt commented on #65245
completed pods were previously filtered from the human-readable printer view, but as part of making kubectl more agnostic to the contents of the API objects it fetches/prints, that special-case was removed in https://github.com/kubernetes/kubernetes/pull/60793

as of 1.11, `kubectl get pods` will show all pods.

/close

[2018-06-19 23:06] #65245 closed

[2018-06-19 23:07] liggitt commented on #65239
anything interesting in the log of the long startups?

[2018-06-19 23:08] liggitt commented on #65239
I don't think it would affect anything, but https://github.com/kubernetes/kubernetes/pull/64993 should resolve the one error we were seeing in the extension apiserver startup path

[2018-06-19 23:24] balajismaniam opened #65249 "Node Performance Testing."
# Background
1. We have some low level node performance optimization features already implemented in the Kubelet (e.g., CPU manager).
2. We don't have a way to objectively measure how well certain performance-sensitive applications run on k8s across versions.
3. We don’t have performance data on how performance-sensitive applications benefit from the already implemented features.
4. We don't have

[2018-06-19 23:27] bsalamat commented on #63784
Today, I ran scheduler benchmarks with the HEAD and I also noticed significant performance degradation when eCache is enabled. It looks like a lot of our threads are stuck at looking up eCache. Since we run predicates in 16 parallel threads and eCache has single global lock, this may be expected.
I tried running the benchmarks with 5000 nodes and 10000 pods. In order to do, I had to change [here](

[2018-06-19 23:42] yujuhong commented on #63612
This is not a new issue and has been there ever since we switched to overlay2 in GKE. The reboot tests does some pretty aggressive things -- triggering kernel panic, etc. This gets the overlay filesystem to be in a bad state sometimes, requiring nuking `/var/lib/docker`.

The same test flakes in 1.9, 1.10, and 1.11. I don't think this should block the release.

[2018-06-19 23:43] ravisantoshgudimetla commented on #64725
/help

[2018-06-19 23:45] ravisantoshgudimetla commented on #58242
/close

Closing this in favour of cluster-capacity analysis.

[2018-06-19 23:45] #58242 closed

[2018-06-19 23:50] ravisantoshgudimetla commented on #64802
/sig node
cc @dashpole

[2018-06-20 00:05] Random-Liu opened #65253 "k8s.gcr.io/coredns:1.1.3 is not built correctly."
We see this issue in containerd https://github.com/containerd/containerd/issues/2401.

It seems that the size in manifest of `k8s.gcr.io/coredns:1.1.3` is wrong.

In the manifest list, the manifest size is `756`:
[code]

However, the actual manifest size is `950`:
[code]

Docker doesn't fail because it is not doing validation. However, containerd does validate it, and fails.

What tools did we use

[2018-06-20 00:08] dashpole commented on #64802
critical pods can be evicted.  Only static critical pods are never evicted.  The critical pod annotation is only designed to prevent **permanent** eviction, not evictions in general.  In the case of non-static critical pods, they will be rescheduled, so they can be evicted.

[2018-06-20 00:20] cheftako commented on #65239
Sadly the sample-apiserver logs are essentially deleted from the CI machines once the test completes. I did not see anything obviously wrong in kube-apiserver logs.

[2018-06-20 00:29] feiskyer commented on #51540
/assign @PatrickLang

[2018-06-20 00:37] berniechiu commented on #65130
Oh thx for the PR, I'm still diving into the source code ha!

[2018-06-20 00:40] feiskyer commented on #65225
+1. We should fix this within v1.12 release and cherry pick to old releases.

/priority critical-urgent
/milestone v1.12

[2018-06-20 00:48] feiskyer commented on #65225
/status approved-for-milestone

[2018-06-20 01:00] saad-ali commented on #65122
The plugin can decide what makes sense for it, since the spec does not dictate.

[2018-06-20 01:08] msau42 commented on #56100
/remove-lifecycle stale

[2018-06-20 01:09] msau42 commented on #56101
/close

[2018-06-20 01:09] #56101 closed

[2018-06-20 01:29] sipian commented on #39420
@roberthbailey @k4leung4
My cluster has 3 load-balancer services
I used GKE API [DeleteCluster](https://godoc.org/cloud.google.com/go/container/apiv1#ClusterManagerClient.DeleteCluster) function to delete the cluster.
After the cluster gets deleted, a few instances of the following things still remain
- In-use IP addresses global
- Forwarding Rules
- Target Pools
- Health Checks
- Firewall Rules

[2018-06-20 01:34] k82cn commented on #65192
@AishSundar / @dims , for the time window, it should not relate to it; the major PR (https://github.com/kubernetes/kubernetes/pull/63223) was merged at early this month (Jun 2018) :)

But if no one working on this, I'd like to help to unblock release :)

[2018-06-20 01:38] dims commented on #63612
@k4leung4 gotcha, thanks for confirming that there's no way to test the theory out.

@yujuhong so, you mean cos 66 has the overlay2 and can't deal with the same tests as cos 65?  that's fair. the only other thing we talked about in the call was trying to use `sync` in the reboot tests. not sure if that will help or not.

Anyway thanks for confirming that we don't have to worry about this. we shoul

[2018-06-20 01:41] Jacky2 commented on #63279
@m1093782566   Yes

[2018-06-20 01:41] dims commented on #65192
@k82cn one of the first PRs for the feature (https://github.com/kubernetes/kubernetes/pull/59862) was merged on 3/11/2018 :)

[2018-06-20 01:44] m1093782566 commented on #63279
So, if you have some troubles in using kube-router, you can create an issue in https://github.com/cloudnativelabs/kube-router and ping the project owner.

I am going to close this issue since your problems have nothing to do with kube-proxy.

[2018-06-20 01:46] m1093782566 commented on #63279
/close

Please feel free do create a new issue if you have problems on kube-proxy.

[2018-06-20 01:46] #63279 closed

[2018-06-20 01:51] dims commented on #65253
cc @mkumatag

[2018-06-20 02:06] dims commented on #63612
@jberkus @AishSundar we should clear the milestone, priority etc per last comments from @yujuhong and @k4leung4

[2018-06-20 02:11] k82cn commented on #59194
All related tasks were done, refer to the issue description for the detail :)

[2018-06-20 02:11] #59194 closed

[2018-06-20 02:45] mkumatag commented on #65253
I don't think it's source is in kubernetes.. where is the source for this image? Need to look into manifest script they are using to build it..

[2018-06-20 02:49] cofyc commented on #56100
/assign

[2018-06-20 02:49] cofyc commented on #64853
/assign

[2018-06-20 03:14] chanjarster opened #65255 "Cannot http request a resource of large size from inside cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I got a 3 nodes k8s cluster. Created a zipkin pod on node-2. Trying to `wget` zipkin server from another pod which is on node-3.
If the resource I request is small, `wget` can get the resonpse. If the resource I request is large, `wget` will be stalled and timeout.

**What you expected to happen**:

`wget` will got respo

[2018-06-20 03:18] chanjarster commented on #65255
/sig network

[2018-06-20 03:34] AishSundar commented on #63612
@dims thats so much for guiding the investigation and staying on top of this. As part of closing out this release, I will document the tests that have historically been failing, so future RTs are aware of them, and open any followup AI and assign sig's/ownership (i) de-flaking tests, (ii) removing them from release-blocking dashboard, (iii) updating logic etc

[2018-06-20 03:40] fananchong commented on #65213
now, i can ged pod name by https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/user-guide/downward-api.md. then get ordinal index.

[2018-06-20 03:40] #65213 closed

[2018-06-20 03:45] DylanBLE opened #65257 "Antiaffinity pods scheduled to the same node during scheduler leader-election"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Two pods with AntiAffinity label are scheduled to the same node.

**What you expected to happen**:
Two pods with AntiAffinity label are scheduled to different nodes.

**How to reproduce it (as minimally and precisely as possible)**:
na

**Anything else we need to know?**:
The bug is caused by scheduler during leader switc

[2018-06-20 03:47] DylanBLE commented on #65257
/sig api-machinery

[2018-06-20 03:49] DylanBLE commented on #65257
I would like to add Antifinity Predict to Kubelet Admit to fix this issue.

[2018-06-20 04:14] thockin commented on #65253
@johnbelamaric

This image was built and pushed to docker hub.  I used the following script to mirror it into GCR.

[code]

This was then promoted from staging to "real" via a different internal tool (will be published as we get GCR into public hands).

Lantao, can you test against gcr.io/k8s-image-staging ?

[2018-06-20 05:40] gowthampatil commented on #34137
I have one requirement that is,
with out port number(10255) I need to run. that port is blocked we dont have access to open that port. is there any way without using port number.

[2018-06-20 05:43] shenlanse commented on #60834
/remove-lifecycle stale

[2018-06-20 05:46] rkttu-devsisters commented on #65163
I think the issue is not covered, do I have to more information to provide? Or is this not a bug?

[2018-06-20 05:48] kevin-wangzefeng commented on #49472
/remove-lifecycle rotten

[2018-06-20 06:02] hzxuzhonghu commented on #65257
This can happen when the original leader takes too long(eg. longer than `LeaseDuration` ) to `tryAcquireOrRenew`, but in the meantime the  leadership has been acquired by another candidate.

[2018-06-20 06:11] AmazingTurtle commented on #32929
Running into this on 1.8.10-gke.0. The issue occured when adding a new user in a gitlab/gitlab-omnibus setup. In my case gitlab crashes in the moment of writing to `/gitlab-data/ssh`. More specifically when restarting, it tries to reconfigure which looks like this:

[code]

[2018-06-20 06:16] hzxuzhonghu commented on #65257
#65094 This can reduce this probability at some degree. But can not eliminate more than one schedulers working concurrently during some transition time.

[2018-06-20 06:17] AmazingTurtle commented on #53059
I'm experiencing the same issue on GKE 1.8.10-gke.0

[2018-06-20 06:34] hzxuzhonghu commented on #65257
To solve this completely, we have to prevent overlap of two leaders:

1.  add a filed in `LeaderElector` to record the renew time of leader.

1. candidate does not call [Create](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection.go#L237) until at least LeaseDuration time have passed since last renew time.

1. limit `tryAcquireOrRen

[2018-06-20 06:35] hzxuzhonghu commented on #65257
cc @k8s-mirror-api-machinery-bugs

[2018-06-20 07:05] #61502 closed

[2018-06-20 07:28] jiuchongxiao commented on #65042
@tubzby  did you solved it ? i have the same issue.

[2018-06-20 07:36] DylanBLE commented on #65257
@hzxuzhonghu  Thanks for the information.
I'm wondering if I can add scheduler's antiaffinity predict to kubelet's Admit function.
It will evict the pod with existing antiaffinity.

[2018-06-20 07:49] krmayankk commented on #65233
/sig-cli

[2018-06-20 07:51] krmayankk commented on #65233
I think the kubectl describe can just construct this on the fly. Another angle is should we add this information to PVC object itself

[2018-06-20 07:55] krmayankk commented on #65184
i guess the sig will also need to know what use case you have for this feature request ? That will help prioritize this.

[2018-06-20 08:17] anaelChardan commented on #54918
Hi @KeithTt did you find out a solution? I have the same problem than yours by following both "KubeAdm install" and "Setup a HA clusters with kubeadm", I tried the proxy trick mentionned in the above post but it still does not work :/

[2018-06-20 08:19] soltysh commented on #65240
/cc @kow3ns

[2018-06-20 08:20] qiyongxiao opened #65261 "Big Bug"
In docker, there is some containers for kubernetes, I create some service, it doesn't to work.For this:
kubernetes-dashboard.yaml and dashboard service.
[code]
[code]

Then show the pods status----------dashboard always display ContainerCreating
[code]
And I see the docker log:
[code]

How did Why?

[2018-06-20 09:05] xujieasd opened #65263 "kube-proxy IPVS: wrongly unbind addr when update a multi-port service"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In kube-proxy IPVS mode, for every round of sync, kube-proxy will clean legacy service, and unbind legacy address from kube-ipvs0.
But if there is a multi-port service, e.g
[code]
and we update this service to a single-port service, e.g
[code]

we will see address `10.103.82.170` unbind from kube-ipvs0, because in functio

[2018-06-20 09:10] xujieasd commented on #65263
I've submitted a PR #65264 to fix the issue

[2018-06-20 09:28] x13n opened #65266 "Advanced Auditing 1.12 umbrella bug"
This is a continuation of https://github.com/kubernetes/kubernetes/issues/60392

## API-related changes
- [x] Graduate API to stable #65891
- [x] Integration with admission
    - [x] Annotate audit logs in remote admission webhooks
@CaoShuFeng is working on this in #58679
- [x] Add user-agent to audit events #64791

## Bugfixes and improvements
- [x] Completely remove legacy audit logging https://

[2018-06-20 09:37] CaoShuFeng commented on #65266
Maybe add this: https://github.com/kubernetes/kubernetes/issues/64791

[2018-06-20 09:55] alnikyur opened #65267 "StatefulSet: how to set Pod from Statefulset to node."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:r
Hello to everyone! I tried to found solution how to point on concrete `Pod` from `StatefulSet` to concrete `Node`. For example,  we have 3 nodes, each node has labels node-0, node-1, node-2 and StatefulSet has 3 Pods with labels app-0, app-1, app-2 (this is just for example). My question is - how to select concrete P

[2018-06-20 09:57] soltysh commented on #64164
/status approved-for-milestone

[2018-06-20 10:00] gurvindersingh commented on #54967
any update on this as logs are swamping with this message.

[2018-06-20 10:35] nambrot commented on #59358
I'm not sure if this is right but I do think this is still an issue

/remove-lifecycle rotten

[2018-06-20 10:36] zloo commented on #64137
I have just confirmed that downgrading kernel to distribution supplied (ubuntu xenial) 4.4 kernel seems to solve the cgroup issue. We'll try to bisect what exactly causes this. The original reporter also seems to use a custom kernel, it might be related to a specific kernel option.

[2018-06-20 10:39] nikhita commented on #65243
/priority critical-urgent

will need to be cherry-picked to 1.11 now that code freeze is lifted.

[2018-06-20 10:43] alnikyur commented on #65267
/sig multiclaster

[2018-06-20 11:20] #64854 closed

[2018-06-20 11:21] fturib commented on #65253
cc @chrisohaver @rajansandeep

[2018-06-20 11:43] k82cn commented on #63420
@liqlin2015 , we did not catch 1.11 release, so this issue will be handled in 1.12 :)

[2018-06-20 11:45] chrisohaver commented on #65253
The original images were built and pushed to dockerhub using Makefile.release in github.com/coredns/coredns.  Those images were later pulled and re-pushed to the k8s repositories.

Need to check to see if the size discrepancy was created in the initial images, or introduced later when they were pulled/pushed to the k8s repo...

[2018-06-20 12:09] danwinship commented on #48107
FTR, the relevant patches are [here](http://patchwork.ozlabs.org/project/netfilter-devel/list/?series=7707&state=*&order=name).

[2018-06-20 12:11] lbguilherme commented on #62382
Given that the fix is already on 1.11 and on 1.10 branches, this issue should be closed.

Thanks for fixing this!

[2018-06-20 12:26] jiuchongxiao opened #65268 "how to communicate with daemon pods by service"
how to communicate with daemon pods by service,not endpoint method.
as offical said
`Create a service with the same Pod selector, and use the service to reach a daemon on a random node. (No way to reach specific node.)`

i test as below,but it did not work.

[code]

[code]

[2018-06-20 12:48] #43409 closed

[2018-06-20 14:00] dsalamancaMS commented on #65233
That will be great, as right now the only way to correlate a PVC to a Pod is via a "describe" on the Pod.

[2018-06-20 14:15] piosz commented on #65266
cc @destijl

[2018-06-20 14:21] miekg commented on #65253
What are the equivalent commands to check this on hub.docker.com?

[2018-06-20 14:37] johnbelamaric commented on #65253
Just figured that out, it looks ok there:

[code]

then

[code]

result:

[code]

[2018-06-20 14:42] krisdock opened #65271 "Azure cluster failing conformance tests due to DenyEscalatingExec Admission Controller"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Sonobuoy results (run via scanner.heptio.com) show 5 failed tests:

[sig-network] Networking Granular Checks: Pods should function for intra-pod communication: udp [Conformance]
[sig-network] Networking Granular Checks: Pods should function for node-pod communication: http [Conformance]
[sig-network] Networking Granular

[2018-06-20 14:44] timothysc commented on #65271
Hey folks, this is part of the conformance suite, so I'm not certain what folks want todo here.

/cc @brendanburns @kubernetes/sig-azure-misc @kubernetes/sig-architecture-bugs

[2018-06-20 14:44] johnbelamaric commented on #65253
Or simpler, you can enable the `manifest` command in the docker CLI by setting `"experimental": "enabled"` in your docker config.json, then run:

[code]

[2018-06-20 14:50] johnbelamaric commented on #65253
It also looks correct in staging-k8s.gcr.io:

[code]
*and* in k8s.gcr.io when you pull using the coredns:1.1.3 tag and the docker manifest command:

[code]

So is this not a valid way to check?

[2018-06-20 14:52] johnbelamaric commented on #65253
Oh, nevermind, I see I am checking the manifests themselves. New to this manifest business...

[2018-06-20 14:55] chrisohaver commented on #65253
The test should be to check the size of each downloaded images vs the sizes listed in the manifest list...

[2018-06-20 14:58] johnbelamaric commented on #65253
Ok. Well, when I use `docker manifest` I get the right sizes. When I do:

[code]

I get sizes in the 700s instead of the 900s.

[2018-06-20 14:59] chrisohaver commented on #65253
yeah - assuming the amd64 images size really 950 (as it is in k8s.gcr.io), they they do match.

I wonder how container.d is inspecting the manifest list and getting an expected size of 756?  Perhaps with manifest-tool?

[2018-06-20 14:59] deitch opened #65272 "kubectl apply with blank clusterIP leads to "spec.clusterIP: Invalid value: "": field is immutable" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Bug Report

/kind bug

**What happened**:

`kubectl apply -f svc,yml` when it is of type `clusterIP` but clusterIP isn't set can lead to an error of

[code]

I cannot fully reproduce, but it appears that when setting a (default) `clusterIP` type service, sometimes the `last-applied-configuration` annotation, rather than having no `clusterIP` setting, h

[2018-06-20 15:00] johnbelamaric commented on #65253
It's the manifest that is supposed to be 950 not the image itself.

[2018-06-20 15:03] souravsekhar commented on #33777
I had similar issue, where pods failed scheduling due to insufficient CPU where all nodes are available. I found the issue with resource allocation. Resources were allocated in a manner that was exceeding the actual resources available. Reallocated, resources properly and things worked fine.

[2018-06-20 15:03] zloo commented on #64137
We tested these upstream ubuntu kernels:
linux-image-4.15.0-23-generic
linux-image-4.10.0-42-generic
linux-image-4.8.0-58-generic
And vanilla kernels with our kconfig:
4.4.138
4.4.0

All of the above caused the dangling cgroups to appear. The most likely culprit seems to be some incompatibility between systemd and kernel versions - it might be the issue that @CallMeFoxie mentioned.

As a hotfix, w

[2018-06-20 15:05] dims commented on #65271
well, this is a similar situation to the `--privileged` flag. you cannot switch that off if you want to be conformant https://github.com/kubernetes/kubernetes/issues/59978

[2018-06-20 15:06] johnbelamaric commented on #65253
This command gives the actual manifest for the amd64 version:

[code]
which is 950 in size, but the list above says 752.

[2018-06-20 15:09] fabianvf commented on #39188
This issue doesn't seem related to the CLI, the issue is in the API server. Should we change the sig to api-machinery or something like that?

[2018-06-20 15:20] mcanevet opened #65274 "It should be possible to set tags to volumes when using a storageclass"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

My cloud provider (Huawei's OpenStack) allows to create encrypted Cinder volumes by settings 2 metadata properties: `__system__encrypted` and `__system__cmkid = <cmkid>`. Currently it looks like there is no way to create a storageclass that would create a volume with this metadata set. Therefore there is no way to cr

[2018-06-20 15:22] mcanevet commented on #65274
/sig cloud-provider

[2018-06-20 15:23] mcanevet commented on #65274
/sig openstack

[2018-06-20 15:23] mcanevet commented on #65274
/sig storage

[2018-06-20 15:24] johnbelamaric commented on #65253
In summary:

Using direct `curl` returns the wrong size, but using `docker manifest inspect` gives the correct values:

[code]
WTF?

[2018-06-20 15:29] gjtempleton commented on #58956
Took a bit longer than expected. Managed to grab the output and more confused than when I started.

We ended up adding debug lines for `-v=5` ( https://github.com/gjtempleton/kubernetes/commit/15072ee901b6d5e419153bace7e8cb481687538d#diff-97649d13432b01b4e7669d728a2e2e82 ) to get the data being passed to iptables-restore. However this looks sane to me.

[code]

Additionally, this seems like it wou

[2018-06-20 15:29] johnbelamaric commented on #65253
I guess that means that the manifest file itself probably contains the wrong values, and that the docker manifest inspect tool is re-calculating the sizes based on the actual manifests. That said, I do not see the incorrect sizes when I pull the manifest file directly via curl from Docker (unless docker registry is reconstructing this not really storing the file):

[code]

This suggests it's in mo

[2018-06-20 15:31] #64119 closed

[2018-06-20 15:33] miekg commented on #65253
The gcr.io has duplicates, docker hub lists 4 archs, gcr.io has duplicates, if you grep for the sha1 values you'll see them. Is that correct?

[code]

[2018-06-20 15:36] miekg commented on #65253
What json does `docker manifest inspect ${SRC_REG}/${IMG}:${TAG} > ${JSON}` actually pull down?

[2018-06-20 15:45] johnbelamaric commented on #65253
`docker manifest inspect ${SRC_REG}/${IMG}:${TAG} > ${JSON}` should have the correct sizes.

[2018-06-20 16:08] yastij commented on #65271
this is a dup of #64387

[2018-06-20 16:19] relaxdiego commented on #22342
Hi, it seems like this bug is still present. I'm using:

[code]

Running `kubectl get deploy XXXXX -o go-template='{{index .metadata.annotations "kubectl.kubernetes.io/last-applied-configuration"}}'` shows the applied config as:

(snipped to just the relevant parts)

[code]

However, running `kubectl describe` on the same deployment yields:

[code]

I can't reproduce it all the time, however. I've

[2018-06-20 16:19] zhucebuliaolongchuan opened #65278 "Time clock issue when deployed the new services"
@kubernetes/sig-network-bugs

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
It is a time clock issue. I used helm to deploy the kubernetes services. Once I deployed it, the age of the newly deployed services said my services have been deployed 15 mins ago.

**What you expected to happen**:
The age of them should be in a few seconds for newly deployed services.

**How to reprodu

[2018-06-20 16:20] guineveresaenger commented on #63612
for tracking purposes:
/priority failing-test

[2018-06-20 16:26] guineveresaenger commented on #64806
/milestone needs-attention

(Not sure why the label got removed.)

[2018-06-20 16:27] tpepper commented on #64806
/milestone needs-attention

[2018-06-20 16:28] tpepper commented on #64806
/milestone needs-attention v1.11

[2018-06-20 16:29] tpepper commented on #64806
/label milestone/needs-attention

[2018-06-20 16:30] tpepper commented on #64806
Feels like the bot incorrectly stopped caring about this issue, and only the bot can add that label?  It's not listed in https://prow.k8s.io/command-help

[2018-06-20 16:34] tpepper commented on #64806
/milestone needs-attention-v1.11

[2018-06-20 16:37] msau42 commented on #53059
@AmazingTurtle can you describe in more detail what happened to the old node to cause your pod to be rescheduled?  Did the node become NotReady, or was it upgraded, terminated or repaired?

[2018-06-20 16:40] dashpole commented on #65204
fixed by https://github.com/google/cadvisor/pull/1971.
/close

[2018-06-20 16:40] #65204 closed

[2018-06-20 16:54] krmayankk commented on #64500
/sig apps

[2018-06-20 16:59] #63827 closed

[2018-06-20 17:00] yastij commented on #65207
cc @soltysh

[2018-06-20 17:03] luxas commented on #64806
The /milestone command only works for the actual milestone, which can only be `v1.11` or similar: `/milestone v1.11`.
I don't think it's a problem with this issue not having `milestone/needs-attention`. In fact, I think it's a good sign that this label isn't applied, means (AFAIU) everything's good for now.

[2018-06-20 17:03] #63986 closed

[2018-06-20 17:03] #53503 closed

[2018-06-20 17:07] yujuhong commented on #63612
No, I have never seen GKE reboot tests been not flaky for a long time. We've seen the same issue when testing m63 with overlay2 in GKE and GCE. See https://k8s-testgrid.appspot.com/sig-release-1.10-all#gci-gce-reboot-1.10 as an example (m63). That's why I said this issue should not be release-blocking.

On the other hand, I have no idea why the 1.11 gce-reboot test has been so green.

[2018-06-20 17:15] timothysc commented on #65271
/cc @dankohn @jagosan @WilliamDenniss

[2018-06-20 17:19] tpepper commented on #64806
Yes on the /milestone command args based on prow docs.

But from a sig-release perspective I believe the needs-attention label was, and remains desirable here as a reminder to sig-release and the release team heading in to the release.  The release hasn't yet happened just because the branch is created and master is thawed, so the release team needs to continue checking whether any cherry picks no

[2018-06-20 17:19] tallclair commented on #65266
We already have that per-backend with `Blocking` mode. Is the idea that it would be nice to require blocking for only some highly-sensitive requests?

[2018-06-20 17:22] deitch commented on #65272
@kubernetes/sig-cli-bugs

[2018-06-20 18:00] liggitt commented on #64571
still seeing flakes like https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65256/pull-kubernetes-integration/16674/

the loop that ensures the watch cache is primed goes version-by-version, and creates and observes the delete event for that version. it does not ensure the delete event is drained from the watch caches for the other versions.

[2018-06-20 18:01] liggitt commented on #64571
a better approach would be probably be to:

Poll(
  create object
  delete object
  for v := range version {
    observe delete event or fail
  }
)

[2018-06-20 18:28] #64754 closed

[2018-06-20 19:05] timbunce commented on #48948
This is still a problem with the minikube v0.28.0.
For example, on my macOS 10.13.5, VBoxHeadless uses ~50% cpu with nothing running.
That's still far about the 10% as it was when running 1.6.4.

Could someone change the title to remove the reference to 1.7?

/remove-lifecycle stale

[2018-06-20 19:29] liggitt commented on #64571
Moves the version loop inside the poll

Today we loop over versions and poll per version, which can leave unconsumed delete events in prior versions

[2018-06-20 19:41] sttts commented on #64571
Cannot follow. Now we have the following without a poll:

[code]

[2018-06-20 19:45] liggitt commented on #64571
https://github.com/kubernetes/kubernetes/blob/debc5387fe1f038c28903bf68996222fbe218182/staging/src/k8s.io/apiextensions-apiserver/test/integration/testserver/resources.go#L261-268

[2018-06-20 20:05] davidghiurco commented on #42627
Note that after figuring out how to properly set the successfulJobsHistoryLimit and failedJobsHistoryLimit properties on the CronJob spec, I was able to get this a bit more under control. But I still would expect that when I delete a cronJob, (which, in production terms means undeploying my application), that the job resources associated would be cleaned up. Since the pods get cleaned up anyways,

[2018-06-20 20:13] mikejoh opened #65282 "Strange behavior running kubectl create with --template and --dry-run flags"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

_Possible bug!_

**What happened**:
When running some simple `kubectl create deployment` tests with the `--template` and `--dry-run` flags i've seen some strange behavior. I ran the following commands:
[code]

In the fourth attempt, the deployment gets created although the usage of the `--template` flag is wrong (no argument) _and_ the `--dr

[2018-06-20 20:17] mikejoh commented on #65282
@kubernetes/sig-cli-bugs

[2018-06-20 20:20] chinuy commented on #64802
In my case, I was running with single node (minikube), so the evicted pods are not rescheduled somewhere else. Because the kube-apiserver was the victim, then the system was crashed.

I guess this might only be a case in single node environment.

[2018-06-20 20:28] AishSundar commented on #63024
Thanks to some low hanging fix ([#8164](https://github.com/kubernetes/test-infra/pull/8164)) we see some improvement in the flake rate. But this one still seems to be the top flake affecting [17 jobs](http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1) last week alone.

@justinsb I know you were looking into some experiments to get more insights into the quota strains across diff region

[2018-06-20 20:30] khenidak opened #65284 "Change Azure ARM Rate limiting error message"
/kind bug

**What happened**:
Kubernetes v1.10 introduced a better rate limiting (when calling ARM), however the error message here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/azure/azure_client.go#L41 is misleading. The error is not `ARM` but `cloud provider` rate limiter.

**What you expected to happen**:
Correct error message that clearly states `cloud prov

[2018-06-20 20:30] khenidak commented on #65284
/assign @kkmsft

[2018-06-20 20:30] dashpole commented on #64802
Does the scheduler not reschedule the pod back to the node?

[2018-06-20 20:31] khenidak commented on #65284
@jdumars I am a member of `kubernetes` yet i unable to `assign` -- Is this something you can help with?

[2018-06-20 20:35] AishSundar commented on #63622
I am re-opening this issue since I still see intermittent failure of this test

https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-06-15&sig=api-machinery&job=ci-kubernetes-e2e-gci-gce&test=Aggregator%20Should%20be%20able%20to%20support%20the%201.7%20Sample%20AP

@cheftako @liggitt are your pending PRs ([#65239](https://github.com/kubernetes/kubernetes/issues/65239) and [#64

[2018-06-20 20:38] msau42 opened #65285 "GCE PD actually rounds to GiB"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Bug https://github.com/kubernetes/kubernetes/issues/56081 thought that PD allocates in GB, perhaps based on the API definition which says GB, but didn't define what GB actually is.  But actually, PD allocates in GiB.

I manually created a PD in GB, and manually attached it to a node:
[code]

Ran lsblk on

[2018-06-20 21:05] sttts commented on #64571
Ok, so we were talking about different code. good.

To understand:

- we do a `isPrimed` call per version, each creating and deleting an object, and waiting for the delete event with a `rv=createdResourceVersion` watch call.
- a following `rc=0` watch will not see the events of the `isPrimed` calls of itself (because they use the same versioned watch cache) and of any version in front of it in the

[2018-06-20 21:07] sttts commented on #64571
Where do we have the official watch axioms?

[2018-06-20 21:17] AishSundar opened #65286 "[Flaky Test] : [sig-api-machinery] Garbage collector should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan [Conformance]"
## Flaky Jobs:
* [presubmits-kubernetes-blocking#pull-kubernetes-integration](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&show-stale-tests=)
* [ci-kubernetes-e2e-gci-gce](https://k8s-testgrid.appspot.com/sig-api-machinery#gce&width=5)

## Consistency: [91%](http://storage.googleapis.com/k8s-metrics/job-flakes-latest.json)
## Flakiest test :
* [[sig-api-m

[2018-06-20 21:21] liggitt commented on #65286
@jennybuckley did the additional logging added reveal anything helpful?

[2018-06-20 21:31] khenidak commented on #65271
+1 on @feiskyer

@yastij has raised #64387 specifically for that.

[2018-06-20 21:34] tpepper commented on #65221
/sig cluster-lifecycle

[2018-06-20 21:47] marciogarcianubeliu commented on #62204
A "workaround" for this issue is to add the SG as a source in the nodes SG

[2018-06-20 21:51] gnufied commented on #65285
In addition to revert and e2e, the resizing code should be fixed to accommodate as well.

[2018-06-20 21:52] janetkuo commented on #42627
@davidghiurco based on your comment here https://github.com/kubernetes/kubernetes/pull/42177#issuecomment-397073837

`helm delete --purge <helm_release_name>`

It's likely that `helm delete` uses orphan deletion option. v1beta1 CronJobs API will orphan depedents by default if deletionOptions.propagationPolicy isn't specified.

For more details on deletion options: https://kubernetes.io/docs/concep

[2018-06-20 22:00] ostromart commented on #65160
The config is used only for Istio on GKE (https://sites.google.com/corp/google.com/istio/programs/istio-for-gke) which is going to be label controlled in GKE to be for alpha customers.
Issue is being tracked here and should make it into the next release (1.0): https://github.com/istio/istio/issues/6400.
Is it reasonable to keep this here until new addon manager is in place?

[2018-06-20 22:05] tallclair commented on #65160
As far as the scanner is concerned, latest is just another tag that can be scanned. Typically latest will also correspond with a versioned tag that gets scanned. However, we don't expect tags to change a lot, so tracking whether the issue is patched is harder. Similarly, it is very hard to tell whether the version running in a cluster is patched when tagged with latest, since even if ":latest" is

[2018-06-20 22:07] mbohlool commented on #64571
I think I know what is the problem here. We make sure the watch is primed for `v1`. then we move on to `v2` and make sure the watch is primed by creating another object in `v2`. The watch cache is drained for `v2` but the watch cache for `v1` is not and that is the problem here. will send a fix.

[2018-06-20 22:08] tpepper commented on #65284
/sig azure

[2018-06-20 22:15] madhanrm commented on #64901
VMCompute gets the stats from HNS, when asked for container stats. So separate call into HNS is not required and Get Container Stats should get your the endpoint (network) stats.

[2018-06-20 22:43] contra commented on #23211
/reopen

[2018-06-20 22:50] msau42 commented on #65285
Resizing logic is [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce_disks.go#L751)

[2018-06-20 22:54] misterikkit commented on #65036
Hi, it also seems like there is no documentation on how to use https://godoc.org/k8s.io/client-go/testing#Fake. (What is a reactor and what is an action?) Should I file a separate issue?

[2018-06-20 22:58] mikedanese commented on #65160
:latest also makes rolling updates of deployments and daemonsets with the addon manager difficult because a hash of the podspec needs to change. Usually that's the image tag. I'll defer to @destijl to make a decision.

[2018-06-20 23:12] msau42 commented on #65201
One more use case to further complicate all of this:

In addition to attach limits per node, GCE PD also has maximum capacity per node of 64TB on most instances.  To handle this, I think we need to count the capacity of PVCs on the node (and inline volumes won't work).

[2018-06-20 23:17] tpepper commented on #65263
This looks like a relatively minor bug, but @Lion-Wei do you think it is a candidate for 1.11 milestone inclusion (ie: cherrypick)?  If so, can you update the labels and milestone?

[2018-06-20 23:19] tpepper commented on #65249
Will this target the 1.12 milestone?

[2018-06-20 23:21] tpepper commented on #65243
As the PR #65256 is already so marked, noting here in the issue that it is:

/status approved-for-milestone

[2018-06-20 23:36] tpepper commented on #65210
/sig instrumentation

[2018-06-20 23:44] tallclair commented on #64003
If the random ID is long enough, you can all but guarantee you won't have a collision.

[2018-06-20 23:58] tpepper commented on #65200
The discussion in #63386 is unclear to me.  While that is 1.11 milestone material, is the content of this issue here a lower priority and deferred to the next milestone and perhaps later cherry-picking?  Given the delay, I'd like to assume it is not critical-urgent, but rather than assume...

@kubernetes/sig-api-machinery-bugs can folks comment?

[2018-06-21 00:17] liggitt commented on #65200
This is longstanding and not a 1.11 blocker.

[2018-06-21 00:33] k82cn commented on #65192
wow, that PR was so powerful, making the CI failed (3/8) before it merged (3/11) :)

[2018-06-21 00:46] lucperkins commented on #15128
Please note that this issue is being addressed in this PR: https://github.com/kubernetes/website/pull/9174

[2018-06-21 00:50] zouyee commented on #37777
/reopen

[2018-06-21 01:13] jiuchongxiao commented on #65268
/daemonset

[2018-06-21 01:19] Noah-Huppert commented on #47264
I am still encountering this issue with Kubernetes version:

[code]

I have tried setting the alpha and beta annotations to null.

[2018-06-21 01:20] #65268 closed

[2018-06-21 01:29] chanjarster commented on #65255
I fix this problem by change the calico mtu setting following this [guide][1]

[1]: https://docs.projectcalico.org/v2.2/usage/configuration/mtu

[2018-06-21 01:29] #65255 closed

[2018-06-21 01:38] feiskyer commented on #64901
@madhanrm Could you elaborate on `Get Container Stats`? Any documentation about it?

[2018-06-21 01:42] k82cn commented on #65192
No clue right now, but something interesting:

According to the following log, there's no sufficient cpu for `fluentd-gcp-v3.0.0-kwbqj`; but `fluentd-gcp-v3.0.0-kwbqj` is `BestEffort` according to its [yaml](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-ds.yaml) : in scheduler, `PodFitResource` predicate will not check resource for `BestEffort` Pods.

[2018-06-21 01:57] liggitt commented on #65243
Keeping open to track until the 1.11 pick merges

[2018-06-21 01:57] dims commented on #65192
LOL. look at the graph in https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-03-15&job=e2e-gci-gce-alpha-features&test=BeforeSuite there are 2 flakes before 3/8 and a bunch after 3/11 :)

[2018-06-21 02:01] jiaxuanzhou commented on #65267
this is an interesting scenario, but currently k8s does not support it, but we could implement it by configure the nodeSelector key and value from podName(like envFrom) and target nodeName, but this could change the core api.

[2018-06-21 02:02] gregkeys commented on #63959
eip's for white listing are really important in the enterprise, we need this feature now, as a result we have to manually create nlb's, would really like to see this added

[2018-06-21 02:04] bfarayev commented on #46915
It can be because of client and server version mismatch @MilenkoM
Please check the output of
[code]
and I also noticed this issue while using GKE 1.10.4 and 1.10.2. As for now switched back to GKE 1.9.7

[2018-06-21 02:12] jiaxuanzhou commented on #65227
we have implemented this feature in our internal prod by set annotations of the requests and limits of read/write bps, but if make it an official one, we need support it by adding this value in spec/[]container area, and there is another issue, how to set the correct value, as it could cause some performance degradation.

[2018-06-21 02:16] 372046933 commented on #41727
error: flag docker-email is required.
On kubenetes 1.10.3, the above error message still exists

[2018-06-21 02:17] jiaxuanzhou commented on #65227
/area docker
/area api

[2018-06-21 02:17] Lion-Wei commented on #65263
@tpepper Thanks for reminding. As you said, this is a minor bug, I don't think this have to be in 1.11.

[2018-06-21 02:27] RenaudWasTaken commented on #64637
[From @saad-ali:](https://github.com/kubernetes/kubernetes/pull/64660#issuecomment-398941617)

The connection here is on a unix socket backed by the gRPC retry mechanism. At least in the device plugin case it is usually pretty safe to adequate a gRPC close to an un-registration.

Though I do agree that removing the socket is a more explicit and consistent signal for un-registration. And we could a

[2018-06-21 02:31] J-Ibarra commented on #11355
@liggitt thaks, I encountered the same issue and get solved by following your steps. but now the

`kubectl logs busybox-9b9f89599-w5ln4`

`error: You must be logged in to the server (the server has asked for the client to provide credentials ( pods/log busybox-9b9f89599-w5ln4))`

[2018-06-21 02:42] yanbingwei86 commented on #65227
Qos controlling is needed, waiting this feature

[2018-06-21 02:51] mingregister commented on #60884
same issue with 1.10.4 on CentOS Linux release 7.4.1708 (Core)

[2018-06-21 03:07] liggitt commented on #65243
cherrypick to 1.11 merged
/close

[2018-06-21 03:07] #65243 closed

[2018-06-21 03:12] liggitt commented on #65282
[code]

in that invocation, you specified `--template`, which requires a value. you can either specify a value with `--template=<value>` or `--template <value>`. Your invocation was interpreted as: "create the deployment, and set --template to "--dry-run", but don't actually make use of that template because my output type is not set to -o=go-template"

[2018-06-21 03:55] liggitt commented on #65286
duplicate of https://github.com/kubernetes/kubernetes/issues/60463
/close

[2018-06-21 03:55] #65286 closed

[2018-06-21 04:13] wgliang commented on #65284
If there was no one working on this, I can help fix it.
/assign

[2018-06-21 04:18] nikhita commented on #65036
Yes, please create a separate issue for now. :+1:

Though in the future, we should probably create an umbrella issue for all such client-go topics which are in dire need of docs. :)

[2018-06-21 04:32] nikhita opened #65293 "Re-evaluate fields at root of the CRD schema when status subresource is enabled"
Currently, we allow only `properties`, `required` and `description` at the root of the CRD schema when the status subresource is enabled. We can probably include other fields as well - like `type` (but restricted to `object`), etc.

Even if other fields are supported at the root, they should be such that, if status is extracted as `properties["status"]`, it's validation should not be lost i.e. con

[2018-06-21 04:38] vikaschoudhary16 commented on #64637
Will it be ok to assume that socket removal is always done by plugin intentionally and is not result of some unexpected action?

[2018-06-21 04:49] greenkiwi commented on #61228
This looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/49926

[2018-06-21 04:50] greenkiwi commented on #49926
We're having the same problems.  It was certainly a non-obvious problem to track down.  I found it by seeing the description of the problem in a stackoverflow issue:
https://stackoverflow.com/questions/49661306/timeout-mounting-pvc-volume-to-pod

Is there anything else that we can do to help tack down the issue?

[2018-06-21 04:51] RakeshNagarajan commented on #56303
Facing the same issue

[2018-06-21 05:03] feiskyer commented on #65284
This is because kkmsft is not a member.

[2018-06-21 05:06] khenidak commented on #65284
Oh ok - thanks.

Let kk take care of it. We are trying on ramp more folks on upstream

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Pengfei Ni <notifications@github.com>
Sent: Wednesday, June 20, 2018 10:04:52 PM
To: kubernetes/kubernetes
Cc: Khaled Henidak (Kal); Mention
Subject: Re: [kubernetes/kubernetes] Change Azure ARM Rate limiting error message (#65284)

[2018-06-21 06:04] kkmsft commented on #65284
@wgliang I am working on this...,

[2018-06-21 06:06] chaiyuxiao commented on #56006
same issue.

[root@localhost ~]# kubectl get po -n=kube-system | grep kube-dns
kube-dns-2425271678-bz097                       2/3       CrashLoopBackOff   5          49m

When I disabled firewalld and reboot system (centos release).

[root@localhost ~]# kubectl get po -n=kube-system | grep kube-dns
kube-dns-2425271678-bz097                       3/3       Running   0          54m

kube-dns is run

[2018-06-21 06:41] lichuqiang opened #65295 "Should add volume topology-aware dynamic provisioning related integration case"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

Since topology-aware dynamic provisioning changes are in.
Related integration cases should be added to ensure it works well.

/sig storage
/assign

[2018-06-21 06:51] zjj2wry commented on #61580
[code]
already have this feature
/close

[2018-06-21 06:51] #61580 closed

[2018-06-21 06:58] karataliu commented on #64435
Could you please point out the source for 'FloatingIP should disabled when front port is deffrent from backend port' ?

Besides, backend and frontend port are always same here:
https://github.com/kubernetes/kubernetes/blob/5d8f6ed4524abac65357e0095395c25634f83cea/pkg/cloudprovider/providers/azure/azure_loadbalancer.go#L647-L648

Floating IP is required here for enabling both public and internal lo

[2018-06-21 06:58] nikhita commented on #64612
cherry-pick for 1.9: https://github.com/kubernetes/kubernetes/pull/65298

[2018-06-21 06:59] harishsingh77 commented on #37922
inside the your repo file disable mirror list and uncomment  basurl. it will work

[2018-06-21 07:08] karataliu commented on #62452
'~' is interpreted by your shell, and it works well on bash 4.4

Can this issue be closed?

[2018-06-21 07:31] zjj2wry commented on #62452
@ffd2subroutine
I think it should be closed. If there is a problem, you can turn it back on. thanks
/close

[2018-06-21 07:31] #62452 closed

[2018-06-21 07:36] zjj2wry commented on #57909
/unassign
failed while add more e2e test. Who is interested in continuing to repair it?

[2018-06-21 07:38] DylanBLE opened #65300 "eviction manager ignore pods created by daemonset, kubelet manifest and statefulset."
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**:
For pods created by daemonset, kubelet manifest and statefulset, if they are evicted due to node resource pressure, they will scheduled back  which leaves a lot of "dead pod bodies",

**What you expected to happen**:
Eviction manager ignore these kinds of pods.

**How to reproduce it (as minimally and precisely as poss

[2018-06-21 07:39] DylanBLE commented on #65300
/sig node

[2018-06-21 08:05] tnozicka commented on #65240
/assign

[2018-06-21 08:07] amitvashist7 commented on #64448
Thank you very much for update @thockin

Kubernetes: v1.10.4

I manage to fix the problem by replacing fannel with calico.

kubectl apply -f https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/hosted/rbac-kdd.yaml
kubectl apply -f https://docs.projectcalico.org/v3.1/getting-started/kubernetes/installation/hosted/kubernetes-datastore/calico-networking/1.7/calico.yaml

Thank

[2018-06-21 08:07] x13n commented on #65266
@CaoShuFeng I see Tim already added this.
@tallclair As far as I can tell, blocking will wait for audit event to be written, but upon a write failure (say, the webhook goes down, or the disk used for log backend is full) the request to API server will be processed anyway. The audit failure will only be written to the logs. I think that either:
- 'blocking' should mean that the request to API serve

[2018-06-21 08:33] zjj2wry commented on #61580
new version kubectl have this feature 😑
[code]

[2018-06-21 08:55] jiaxuanzhou commented on #65300
/area controller-manager
/area kubelet

[2018-06-21 09:20] sttts commented on #65293
Add the exhaustive list of fields with `XXX = must not be used` and `x = does not really make sense, but does not harm`. Please comment whether my characterizations are correct and complete.

[2018-06-21 09:28] #54425 closed

[2018-06-21 09:40] mbohlool commented on #64571
I didn't see your comment when I commented. Your description is accurate.

[2018-06-21 10:45] Kanshiroron opened #65304 "OpenStack Cloud Provider doesn't support special characters in password"
Kubernetes: v10.0.4

I had an issue trying to configure Kubernetes with the OpenStack cloud provider, the controller-manager continue crashing saying that Keystone rejected authentication (403). I finally got it fixed when I changed my password. So I'm wondering whether Kubernetes doesn't have an issue with special characters in password.

In my cloud provider configuration file I had:
[code]
I tr

[2018-06-21 10:50] soltysh commented on #62382
/close

[2018-06-21 10:50] #62382 closed

[2018-06-21 10:56] y325A opened #65305 "Pod not using Deployment imagePullPolicy setting"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Pod created from a Deployment has the imagePullPolicy property set to "Always" - whereas the Deployment has the property set to "IfNotPresent"

When pods are started from these deployments, there is a spike of network traffic and disk activity on the host - I'm running on Windows so this makes the situation worse as the i

[2018-06-21 10:57] ProProgrammer commented on #17088
For Google Kubernetes Engine (GKE) specifically, I have written a step by step guide here for setting up nginx ingress controller to route traffic across cross namespace ingress resources:
https://github.com/ProProgrammer/cross-namespace-nginx-ingress-kubernetes

Thanks @cesartl for your post, it was very helpful in getting somethings off ground for me.

[2018-06-21 11:15] #64894 closed

[2018-06-21 11:15] #64956 closed

[2018-06-21 11:40] tombh commented on #34982
There appears to be a recent and more significant reason why you can't change the permissions of a `secret` mount - a recent CVE issue required that all `secret`, `configMap`, `downwardAPI` and projected volumes mounts be read-only: https://github.com/kubernetes/kubernetes/pull/58720

So one approach to workaround this is to introduce yet another intermediate volume. You can then use an `initConta

[2018-06-21 11:48] nikhita commented on #59151
Defaulting and pruning feature issue on k/features: https://github.com/kubernetes/features/issues/575

[2018-06-21 11:49] Kanshiroron commented on #65304
/sig cloud-provider

[2018-06-21 12:07] lazywhite commented on #59680
same here
CentOS Linux release 7.4.1708 (Core)
docker Server Version: 1.13.1

kubeadm init \
--kubernetes-version=1.10.4 \
--pod-network-cidr=10.244.0.0/16 \
--apiserver-advertise-address=192.168.122.50 \
--ignore-preflight-errors=all

I'v tried 1.10.4, 1.9.6, 1.9.0  , all stuck at this place

[2018-06-21 12:33] munnerz commented on #60082
FWIW, I have updated cert-manager with a real world example of this in action. It sets up an APIService (and then later a ValidatingWebhook which points at this APIService), using cert-manager itself to manage all the PKI required.

You can see an example of the required cert-manager manifests for this, here: https://github.com/munnerz/cert-manager/blob/e95e2327f2720aa45ed3f48ef2ecf6595972d380/con

[2018-06-21 12:40] #65045 closed

[2018-06-21 12:40] #64909 closed

[2018-06-21 13:21] AishSundar commented on #63612
"On the other hand, I have no idea why the 1.11 gce-reboot test has been so green."
@yujuhong do you suspect something else must be exacerbating the issue on GKE? or we should look into what made gce tests stable and do the same for GKE. Either way do you still feel its not release blocking?

[2018-06-21 13:32] dims commented on #65192
@BenTheElder is it possible to bump up the available cpu for nodes in this job?

[2018-06-21 13:34] AishSundar opened #65311 "configmaps "ingress-uid" not found failing 1.11 gke-ingress and gke- master-cluster upgrade and downgrade tests"
## Failing Jobs and Tests
* [gke-ingress-1.11](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gke-ingress-1.11)
* [gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)
* [gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrad

[2018-06-21 13:36] arsalans commented on #54610
@andyzhangx Hi, I was wondering, what does this size mean in kubernetes?

[code]

I created a 5TB file share on Azure, should this need to match and it should be 5TB or 5Ti?

[2018-06-21 13:40] MaciekPytel commented on #65311
This also happens on non-upgrade 1.10 jobs: https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gci-gke-ingress-1.10. It doesn't seem caused by change in the kubernetes/kubernetes, because there was a passing run on the same commit.

[2018-06-21 13:43] timbunce commented on #48948
/remove-lifecycle rotten

[2018-06-21 13:47] k82cn commented on #65192
Still not sure why fluentd-gcp-v3.0.0-kwbqj asked cpu resource, and the cpu gap is 37 (MillValue); @piosz @x13n . BTW, also check some other logs of flaky test, the cpu gap is always 37 (MillValue); maybe we can try to enlarge the allocatable of node.

Here's another issue: in scheduler, it found `fluentd-gcp-v3.0.0-kwbqj` can not be scheduled because of insufficient cpu and trigger
preemption (no

[2018-06-21 13:49] liggitt commented on #65311
I don't have visibility to gke jobs... will need to be a googler.

/unassign
/assign @MaciekPytel
for investigation or reassignment

[2018-06-21 13:54] casusbelli opened #65312 "Missing parameter in Quobyte volume plugin"
/kind bug

**What happened**:
Dynamically provisioned volumes are not deleted from the backend with Quobyte due to the tenant_id parameter not being set in the plugins Deleter object. Log excerpt:
Error: "INVALID_ARGUMENTS/POSIX_ERROR_NONE: No valid tenant id given and no default tenant configuration available. / "

**What you expected to happen**:
Deletion of the volume in the backend

**How to r

[2018-06-21 13:56] MaciekPytel commented on #65311
/assign @nicksardo
cc: @bowei

Can you take a look or reassign?

[2018-06-21 13:58] casusbelli commented on #65312
/sig storage

[2018-06-21 14:19] pjanuario commented on #65245
@liggitt I also upgrade kubectl and got surprise about this and even by looking in to changelog didnt seem to see any thing related, at least for me is more common to just want to get all running pods than all of them, of course I can create custom alias on my shell to filter them out, but that seems not very pleasent to ask users to do that. Is there any plan of a flag or something that would all

[2018-06-21 14:23] danwinship commented on #58956
Oh, huh, that's in IPVS-specific code. And failing in a way that really doesn't seem to make much sense...

So actually, that code has been rewritten in 1.10 (#55606). The PR doesn't mention this problem (it just talks about simplifying the code), but I'm not sure it's worth trying to debug the old version of the code further. Someone should see if the problem still exists in 1.10. If not maybe th

[2018-06-21 14:23] liggitt commented on #65245
not currently. if filtering is reintroduced, it will be done in a way that works with resources generically, not specific to pods.

[2018-06-21 14:35] sylr opened #65314 "Init container security context extended to containers"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Created a deployment with an `initContainer` which has a privileged security context and this privileged context extended to the container of the deployment.

**What you expected to happen**:

That the security context defined for initContainers does not extend to containers.

**How to reproduce it (as minimally and prec

[2018-06-21 14:40] dkoshkin opened #65315 "kubeadm init hangs when there is no internet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When there is no internet on the node and `--kubernetes-version` is not specified running `kubeadm init` hangs with no text output.

**What you expected to happen**:
The command should timeout and fail.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Enviro

[2018-06-21 14:49] dkoshkin commented on #65315
/sig cluster-lifecycle

[2018-06-21 14:49] Sn0rt opened #65316 "why add public ip to kube-proxy rules ?"
1.10.3 qcloud

![image](https://user-images.githubusercontent.com/2706161/41726405-a475b072-75a4-11e8-993b-5276561852fd.png)

1.10.4 gke

![image](https://user-images.githubusercontent.com/2706161/41726437-ba6af266-75a4-11e8-87c2-a92254b444d4.png)

and it's not found in k8s v1.7

commit id 1acaa1db09e96d297255270ecb1cf29791615fdf