[2015-10-27 17:03] wojtek-t commented on #16376
From the main two options I definitely vote for "2" - if we have the same struct in 10 different places, adding a new field for example would be a pain.

From the second three options - I definitely don't like 3.

However, I'm not sure if I understand how 2.1/2.2 will work. We definitely want to support "ListOptions" in "extensions" client - I assume that we are leaving ListOptions in "v1" api.
So

[2015-10-27 17:07] quinton-hoole opened #16377 "All PD e2e tests are being skipped in parallel runs. That's bad."
https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L177

This means that any PR that breaks PD's in any way does not get automatically prevented from merging.  We need to promote at least 1 (ideally more) of the 4 PD e2e tests to run reliably in parallel.

[2015-10-27 17:13] huang195 commented on #16296
![kubelet-page-0](https://cloud.githubusercontent.com/assets/8008677/10766174/8c823754-7cac-11e5-97a4-41c8d216fd38.jpg)

[2015-10-27 17:26] caesarxuchao commented on #16376
From the code you pasted, I don't see where the query parameter is serialized, it's just converted to a versioned object and then to set to request's parameters? Did I miss something?

[2015-10-27 17:26] quinton-hoole commented on #16377
Excluding known, subsequently fixed regressions, the duration and reliability stats for these 4 tests, when run in parallel are as follows:

* Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession: [run time ~5 minutes, Failed 1 of 54 most recent runs](http://kubekins.dls.corp.google.com/job/kubernete

[2015-10-27 17:40] krousey commented on #16376
I like being able to reuse the Options classes. I think maybe everything the RESTClient needs to know about an API group should just be one interface.

[code]

Similar to 2.2, but wrapped up into one interface.

[2015-10-27 17:41] smarterclayton commented on #16376
It's likely that ListOptions and DeleteOptions are going to evolve over
time to have more fields.  At some point in the far future, we may want to
rename a field.  If we move them to unversioned we're giving up on that.
While having a versioned ListOptions per API group seems ugly, saying "we
give up, it's too hard to version this" also seems wrong.

On Tue, Oct 27, 2015 at 1:26 PM, Chao Xu <notif

[2015-10-27 17:44] smarterclayton commented on #16376
There are three types of query objects today:

1. Structured objects which are specific to a REST endpoint that definitely
need API stability over time - PodLogOptions, PodExecOptions, etc
2. Structured objects which are tied to our generic API methods (List,
Delete) which probably need API stability over time - ListOptions,
DeleteOptions
3. Structured objects returned by the API for which we prob

[2015-10-27 17:46] waprin commented on #16333
Yes, I expected client-side validation. The problem is that my whole cluster seems to be in a broken state, given that I am creating RCs that are not correctly spinning up pods, even after I delete and re-create all my RCs. It works in a brand new cluster. Unfortunately I am having trouble reproducing the issue, so I am having trouble tying it to a specific problem. But it started after I made thi

[2015-10-27 17:49] ashcrow commented on #16374
I'll defer more to @vishh as I'm not that familiar with the event code. However, keep in mind [this caveat](https://github.com/kubernetes/kubernetes/issues/14111#issuecomment-141253380).

[2015-10-27 17:57] mikedanese commented on #16333
No overlap validation is #2210, and it's a bit tricky which is why it has not been implemented yet.

[2015-10-27 18:00] mikedanese commented on #16361
cc @lavalamp

[2015-10-27 18:00] caseydavenport commented on #10638
Merged a while back and looks to be in the v1.1-beta.

[2015-10-27 18:00] #10638 closed

[2015-10-27 18:05] caseydavenport commented on #14940
The network plugin isn't necessarily going to have the state necessary to make that decision, since it is only informed of the ID for the new pod, and has no way to connect that to the old pod that is no longer running.

[2015-10-27 18:05] Random-Liu commented on #15089
@vishh Thank you, I'll keep working! :)

[2015-10-27 18:08] wojtek-t commented on #16376
Thanks for a detailed context Clayton.

 So what I'm trying to say is that we need possibly a different codec for 1. than for 2., which means that we need some mechanism to detect which one we should use.
 In other words, if we replace "PodLogOptions" which sth like "Deployment****Options", the we will need:
- "extensions <-> internal" codec for Deployment****Options
- "v1 <-> internal" codec for

[2015-10-27 18:09] mikedanese commented on #16361
Currently the client is not go gettable. We want to make it easy to use the go client in other projects (#5660 and more generally #8190) but we are not there yet. Until then, you need to checkout all required dependencies to the ref specified in Godeps/Godeps.json.

[2015-10-27 18:10] vishh commented on #16296
Hmm. It looks like cadvisor is taking about 33% of the cpu time occupied by
the kubelet overall. And nearly 75 % of the time occupied by cadvisor is in
parsing network stats. cAdvisor [PR 870](
https://github.com/google/cadvisor/pull/870/) introduced some changes
around handling network stats. The 're' handling seems to be expensive.

On Tue, Oct 27, 2015 at 10:14 AM, Hai Huang <notifications@gith

[2015-10-27 18:13] tleyden commented on #16244
I'm no longer able to reproduce the issue (using the steps in the original comment, after several tries)  Unfortunately my original broken environment is now lost, so I can't provide any more debugging details.

I'm just going to close the ticket for now, but will re-open if I manage to see it again.

[2015-10-27 18:13] #16244 closed

[2015-10-27 18:14] tleyden commented on #16243
This was something screwy in my environment.  Closing this ticket for the same reason as mentioned in https://github.com/kubernetes/kubernetes/issues/16244#issuecomment-151594571

@liqinghua188 if you are still seeing reliably reproducible problems, I'd encourage you to open a fresh ticket and provide exact steps to repro.

[2015-10-27 18:14] #16243 closed

[2015-10-27 18:16] huang195 commented on #16296
@vishh if you look at my earlier comment, 33% cpu is already an improvement of what I had earlier. It was 50%+ previously.

[2015-10-27 18:17] ncdc commented on #12179
@cjcullen is this GCE/GKE specific, or are you referring to the proxies in the apiserver?

[2015-10-27 18:17] vishh commented on #16296
Yeah. We have been identifying old and new issues and fixing them. Thanks
for reporting this issue.

On Tue, Oct 27, 2015 at 11:16 AM, Hai Huang <notifications@github.com>
wrote:

[2015-10-27 18:22] saad-ali commented on #15382
Closing. As @wojtek-t pointed out the flakiness was introduced in https://github.com/kubernetes/kubernetes/pull/16266 and fixed by https://github.com/kubernetes/kubernetes/pull/16369.

[2015-10-27 18:31] yujuhong commented on #16296
@jimmidyson FYI

[2015-10-27 18:37] caesarxuchao commented on #16376
If we make those options unversioned, why do we need a codec? We can just pass the option Object to `queryparams.Convert`.
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request.go#L419

I still don't see where we need to *serialize* the options.

[2015-10-27 18:42] luxas commented on #13424
@resouer Yes, I have [master-multi.json](https://github.com/luxas/kubernetes-on-arm/blob/master/images/kubernetesonarm/hyperkube/master-multi.json) in my custom built ARM hyperkube.
And everything is working, except for secrets in  `seviceAccounts`.

@fgrzadkowski Could you point our the commit where you fixed it? Is it coming in the v1.1 release?

Thanks for your time.

[2015-10-27 18:45] yujuhong commented on #15554
@jimmidyson, this looks great, thanks!

We should consider running a prometheus server pod to scrape the data for e2e tests. We should also find a long-running cluster to host the dashboard.

/cc @dchen1107

[2015-10-27 19:01] jimmidyson commented on #16296
There is probably no need to do the expensive regexp here & can rely on `Sscanf` alone. Btw the current way was an improvement over the old way... I'll get a fix in quickly for this. Do we want this in 1.1?

[2015-10-27 19:02] caesarxuchao commented on #15416
#15420 add the tests. Closing this issue.

[2015-10-27 19:02] #15416 closed

[2015-10-27 19:03] caesarxuchao commented on #15262
Close this issue as the timestamp accuracy hasn't caused any problem.

[2015-10-27 19:03] #15262 closed

[2015-10-27 19:05] caesarxuchao commented on #14886
#16173 has a better summay. Close this one.

[2015-10-27 19:05] #14886 closed

[2015-10-27 19:06] huang195 commented on #16296
I'm just curious of this behavior that I was seeing: when I was looking at cadvisor web ui, I keep seeing spikes every 10 seconds or so. However, cadvisor has 2 housekeeping options, and the global one is 1m, and the per-container one is 1s, by default. This is independent of how many pods I have. Even I lowered the number of pods on the host to 30 pods, I still see this clear 10-sec cpu spike.

[2015-10-27 19:10] #14076 closed

[2015-10-27 19:30] roberthbailey commented on #12179
@ncdc This is for the SSH tunnels.

[2015-10-27 19:31] ncdc commented on #12179
@roberthbailey I'm not familiar with SSH tunnels in the context of Kubernetes. Where are they being used?

[2015-10-27 19:40] bronger commented on #11453
@prehensile Thank you, it was very helpful for me!

[2015-10-27 19:44] erictune commented on #15985
- Delete pods when delete (#16255)

[2015-10-27 19:46] liggitt commented on #12179
Alternate method of master->kubelet communication. See server.go for tunneling setup

[2015-10-27 19:47] erictune commented on #15985
- Excessive 409s. Self-conflict in controller manager. #16134

[2015-10-27 19:47] erictune commented on #15985
* task queue example (#15982)

[2015-10-27 19:48] four43 commented on #11453
Hey all, having an issue with the scheduler, sounds like the same as this:

Kubernetes v1.0.6 Release

[code]

The total usage (thanks for the above script, @prehensile!) found no memory and no cpu limits as I had hoped:
[code]

I specifically set the pod to not have any resource limits but creation still fails. I deployed many other pods that are similar to this (same image and settings) but thes

[2015-10-27 19:50] erictune commented on #1624
We now have this as a beta feature, in head and to appear in 1.1.  Closing.

[2015-10-27 20:19] jimmidyson commented on #16296
Pushed perf improvement to cadvisor. We'll need to tag & bump cadvisor - I already have an open PR to do that so I'll update that.

[2015-10-27 20:19] jimmidyson commented on #16296
Do we want this in 1.1?

[2015-10-27 20:20] yujuhong commented on #16296
I don't think we need this in 1.1, given that @huang195 runs 100 pods per node, which is well beyond our limit of 40 pods :)

[2015-10-27 20:21] yujuhong commented on #16296
kubelet syncs all pods (i.e., running a bunch of docker list/inspect commands) every 10 seconds by default, which'd cause cpu spikes.

[2015-10-27 20:30] bgrant0607 commented on #15893
cc @janetkuo

[2015-10-27 20:38] vishh commented on #16296
This sounds like a bug fix. So I'd vote for cherry-picking this and
possibly including in a patch release.

On Tue, Oct 27, 2015 at 1:22 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-10-27 20:51] lavalamp opened #16385 "e2e flake: failed to initialize within 300 seconds"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9151/console

Will raise priority if it happens again. It's very not obvious what went wrong:

[code]

[2015-10-27 20:54] ihmccreery commented on #15806
Works for me.  Thanks to @gmarek again for your work on this.

[2015-10-27 20:54] #15806 closed

[2015-10-27 21:07] lavalamp commented on #16177
OK, yeah, we have no solution for that at the moment. I think we have to
fix it in apiserver first.

@nikhiljindal This is a case we need to handle when registering 3rd party
API sources.

On Tue, Oct 27, 2015 at 4:44 AM, David Eads <notifications@github.com>
wrote:

[2015-10-27 21:09] lavalamp commented on #16093
Yes, I think so.

On Mon, Oct 26, 2015 at 9:43 PM, Chao Xu <notifications@github.com> wrote:

[2015-10-27 21:10] davidopp commented on #15978
Cherrypick was submitted, so closing.

[2015-10-27 21:10] #15978 closed

[2015-10-27 21:11] lavalamp commented on #12041
I think time-based check is not harmful but also won't fix the problem--
the cycles are triggered by something being scheduled on the node, so
adding a delay just makes the cycles longer, it doesn't prevent them.

On Tue, Oct 27, 2015 at 1:08 AM, David Oppenheimer <notifications@github.com

[2015-10-27 21:13] davidopp commented on #14500
LGTM

[2015-10-27 21:13] davidopp commented on #14500
Oops, comemnted in wrong issue. :)

[2015-10-27 21:23] davidopp commented on #12041
@lavalamp Maybe I didn't understand your suggestion.

You suggested "detect nodes that are oscillating between ready and not ready" -- I interpreted this to mean the server should avoid scheduling onto nodes that are oscillating, until they have not oscillated for some period of time.

My suggestion was to do the same thing, but mask the oscillation in the Kubelet rather than have the master detec

[2015-10-27 21:29] ihmccreery commented on #14674
Ping @mikedanese on this.

Looks like the tests are all borked due to a `flock` problem, because they're building off of your branch.

@jlowdermilk says you need to update that branch to get the latest version which doesn't use sudo on `flock`, or, if the config for the job is already at HEAD, curl e2e.sh from there.

[2015-10-27 21:34] mikedanese commented on #14674
Broken regardless until #15960 is fixed. Clusters don't pass validation. I will fixup jenkins upgrade when #15960 is resolved

[2015-10-27 21:36] lavalamp commented on #12041
So this issue is in the "solve the general class of problem" category, and
the point is to catch nodes for which kubelet's own status reporting is
faulty, so fixing it in kubelet is not my first choice.

I wasn't wanting to go so far as checking <node, pod> pairs, rather an
intermediate check for "every time I put something on this it goes
unhealthy" is what I was thinking.

I think this is actual

[2015-10-27 21:44] paralin opened #16387 "Duplicate swagger param name "path""
In the swagger api spec, in the proxy methods:

https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L6670

There are many such entries like this:

[code]

As you can see, the name "path" is used twice here. Despite the `paramType` being different, this causes `swagger-codegen` to create invalid code:

[code]

As the name is there twice, path is a duplicate variable, causi

[2015-10-27 21:52] bgrant0607 commented on #15893
We need to cherrypick whatever docs we need into 1.1.

[2015-10-27 21:54] lavalamp commented on #16373
5 * 50 = 250 frames before you get stuck? Or did I misunderstand?

[2015-10-27 21:55] lavalamp commented on #16373
Oh, I guess all the frames go to the same worker for some reason?

[2015-10-27 21:56] lavalamp commented on #16373
anyway, I'm fine with taking this and cherry picking it. Order doesn't matter; someone has to rebase either way, right?

[2015-10-27 22:04] #15389 closed

[2015-10-27 22:08] lavalamp commented on #16361
Is updating the ugorji dependency sufficient to solve this problem? @wojtek-t, can you do this? Is there any reason not to?

(In the future we'd like to drastically reduce the import dependency tree)

[2015-10-27 22:17] caesarxuchao commented on #16121
I'm still having issue with the file permission. I will revisit this later.

[2015-10-27 22:21] yujuhong commented on #16353
Hi @Pensu, the question has been posted on [stackoverflow](http://stackoverflow.com/questions/33362726/error-running-kubelet-node-not-ready) and are a couple of suggestions in the comments. Please continue the discussion there. Thanks!

[2015-10-27 22:21] #16353 closed

[2015-10-27 22:33] #15758 closed

[2015-10-27 22:35] janetkuo opened #16391 "gh-pages shows red rectangles in code"
http://kubernetes.io/v1.1/docs/user-guide/compute-resources.html#resource-requests-and-limits-of-pod-and-container contains weird red rectangles.

![screenshot from 2015-10-27 15 30 25](https://cloud.githubusercontent.com/assets/4876867/10774636/b1747bcc-7cbf-11e5-870f-4d812328b604.png)

Source code of those red rectangles: `<span class="err">  </span>`

cc @bgrant0607 @RichieEscarez @krousey @cae

[2015-10-27 22:36] janetkuo commented on #16391
In https://github.com/kubernetes/kubernetes/blame/master/docs/user-guide/compute-resources.md those rectangles are generated from `<tab>` (see raw file).

[2015-10-27 22:37] #15917 closed

[2015-10-27 22:40] #14500 closed

[2015-10-27 22:47] davidopp commented on #15960
This issue will be considered fixed for 1.1 once #16080 is submitted. (I didn't read this thread carefully enough yet to know whether additional work is necessary before considering this whole issue closed.)

[2015-10-27 22:52] janetkuo opened #16393 "Download link doesn't display well in gh-pages"
For example, in http://kubernetes.io/v1.1/docs/user-guide/simple-yaml.html, if you click on [Download example](http://kubernetes.io/v1.1/docs/user-guide/pod.yaml?raw=true), it opens a blank kubernetes page instead of showing the file content.

cc @bgrant0607 @RichieEscarez @krousey @caesarxuchao

[2015-10-27 22:52] ixdy commented on #15656
The test `Networking should function for intra-pod communication [Conformance]` is still occasionally failing in the `e2e-gce-parallel-flaky` build, though that may just be an issue with GCE (as was the case with a number of tests in #15854). I'm willing to re-enable this test in parallel tests and see if it is still too flaky.

[2015-10-27 22:52] ixdy commented on #15656
cc @kubernetes/goog-testing

[2015-10-27 22:53] thockin opened #16394 "flaky unit test in pkg/client/unversioned/portforward"
[code]

[2015-10-27 22:54] janetkuo commented on #15893
Found and filed 2 gh-pages issues:
- gh-pages shows red rectangles in code #16391
- Download link doesn't display well in gh-pages #16393

[2015-10-27 22:55] yujuhong commented on #16310
Update: I decided not to remove the defaulting in #16080 and took a different route.

As @thockin mentioned, eventually we may want to decouple defaulting and conversion. In addition, it's hard to enforce calling defaulting functions in *every* custom conversion function.

[2015-10-27 22:56] yujuhong commented on #15960
Update: #16080 has just been merged. Closing the issue.

[2015-10-27 23:00] lavalamp opened #16395 "Unversioned API types should show in swagger"
...and when we fix this, we should make sure swagger doesn't show an "apiVersion" field for them. See the discussion in #16364.

[2015-10-27 23:01] saad-ali commented on #15524
@rootfs That would be an interesting dimension for scheduling. However, this proposed attachment/detachment controller is not be responsible for scheduling pods. It is only responsible for making sure that volumes are attached to the correct node once pods are already scheduled and detached upon completion.

[2015-10-27 23:01] davidopp commented on #15960
Probably we should not close this issue until we do a cherrypick?

[2015-10-27 23:07] thockin commented on #16371
@ArtfulCoder small things to clean up

[2015-10-27 23:11] davidopp commented on #12041
Sorry, I was just thinking of this in the context of OutOfDisk. We don't evict pods for OutOfDisk=true, only for NodeReady=false. If we also wanted to apply this to NodeReady=false, then you're right, waiting 5 minutes would evict everything (though if it has been flapping for a while, maybe that's actually what you'd want to do?).

Anyway, I'd really like to wait and see if people run into this p

[2015-10-27 23:14] ArtfulCoder commented on #16285
the test is actually still running
" Services should serve identically named services in different namespaces on different load-balancers"
is running green.. http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/test_results_analyzer/

Saad's fix where we correctly wait for GCE operations to complete, is checked in.

Closing this issue.

[2015-10-27 23:27] lavalamp commented on #16248
Happened again, blocking merges.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10392

[code]

[2015-10-27 23:28] mikedanese commented on #14674
#15690 is fixed on head, reenabling jenkins. Local run of step 3:

[code]

[2015-10-27 23:41] bgrant0607 commented on #16393
I think we need to do something special with the query parameter.

[2015-10-27 23:42] bgrant0607 commented on #16393
Someone please take this issue. Probably the munger in gh-pages needs to deal with this.

[2015-10-27 23:48] RichieEscarez commented on #16393
The javascript only looks for .yaml and .json at the end of these downloadable files, i think it needs to be updated to handle trailing attributes (?raw=true): http://kubernetes.io/v1.1/docs/user-guide/pod.yaml?raw=true

[2015-10-27 23:49] RichieEscarez commented on #15893
FYI: ill work on #3 in this list later tonight.

[2015-10-27 23:53] lavalamp commented on #16093
...Yeah, while talking to @caesarxuchao I realized that the Accept-Encoding is about the downstream server's response, but this issue is about the client's request, so I don't actually think there's a problem here.

But testing the three encodings @liggitt mentioned still sounds like a good idea.

[2015-10-28 00:06] DazWilkin opened #16397 "Seemingly random ordering of JSON properties between the log entry and Cloud Logging"
Following along with this example:

https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/getting-started-guides/logging.md

Everything works as expected:

[code]

Until viewing the logs in Cloud Logging. I appreciate that the ordering of JSON properties is not significant but it's curious why the ordering of the properties would vary (seemingly randomly) between entries. In log entry "0"

[2015-10-28 00:06] bgrant0607 commented on #15893
Thanks, @RichieEscarez

[2015-10-28 00:08] bgrant0607 commented on #16391
That's something else that one of the mungers should do. It's fine to convert tabs to spaces in head, I think.

[2015-10-28 00:09] lavalamp commented on #12041
As long as we fix the object-level problem, I'm OK with sitting on the meta
problem for a while.

On Tue, Oct 27, 2015 at 4:11 PM, David Oppenheimer <notifications@github.com

[2015-10-28 00:11] bgrant0607 commented on #16391
Also see this here:
http://kubernetes.io/v1.1/docs/user-guide/production-pods.html

But actually I don't see it in too many places. It would be good to fix this, but I wouldn't block on it.

[2015-10-28 00:14] thockin commented on #15634
Are there any other rate or flow-control related util packages?
 pkg/util/throttle.go looks like a fit. util.RateLimiter too.   I'm not
super-keen on backoff's API, but it's OK.

Why not lump these all together into pkg/util/flow (or something short like
that).

While in there, move the fakes (e.g. `util.NewFakeRateLimiter()`) to a
testing/ subdir, and make sure comments are good Godoc-style comme

[2015-10-28 00:18] thockin commented on #15634
pkg/util/flag/tristate.go, type Tristate - BoolFlag is a bad name for it.

On Tue, Oct 27, 2015 at 12:53 AM, Harry Zhang <notifications@github.com>
wrote:

[2015-10-28 00:51] davidopp commented on #12041
What do you mean "the object-level problem" ?

[2015-10-28 01:53] #14737 closed

[2015-10-28 02:11] Kaffa-MY opened #16403 "Unable to mount flocker volume"
I'm attempting to use flocker volume with ZFS. However, I find it cannot work well.
<pre>$ kubectl get po
NAME                 READY     STATUS              RESTARTS   AGE
frontend-5zpsj       1/1       Running             0          15h
frontend-ekk7a       1/1       Running             0          15h
frontend-mjv5q       1/1       Running             0          15h
kube-dns-vwh4p       3/3

[2015-10-28 02:30] lavalamp commented on #12041
"object-level problem" = nodes flapping due to out of disk

On Tue, Oct 27, 2015 at 5:51 PM, David Oppenheimer <notifications@github.com

[2015-10-28 02:36] lavalamp commented on #16403
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-28 02:36] #16403 closed

[2015-10-28 02:41] lavalamp commented on #16387
@nikhiljindal or maybe @caesarxuchao -- can one of you take this?

[2015-10-28 02:41] lavalamp commented on #16377
@quinton-hoole, this can be closed now, right?

[2015-10-28 02:41] #16377 closed

[2015-10-28 02:46] bprashanth commented on #12041
https://github.com/kubernetes/kubernetes/issues/13492

[2015-10-28 02:50] x1022as opened #16405 "Question: Will k8s support docker volume scheme?"
Newbie to k8s~

As I know Docker has volume plugin, and k8s gets its own too. Is it possible that k8s will support docker volume scheme to inherit its volume plugin?

What is k8s plan for volume (docker related volume plan, more specifically)? I tried to search issues and got nothing, maybe I had missed something? Any issues or discussion related to this will help.

Not sure whom to ping, maybe @t

[2015-10-28 03:07] paralin commented on #16387
I think it's more of a bug with codegen than with Kubernetes, but it's a good idea to have a look at making the name fields unique. I'm not too experienced with Swagger but I'm pretty sure they are supposed to be unique.

[2015-10-28 03:27] brendandburns opened #16407 "Shouldn't run SSH should SSH to all nodes and run commands e2e in GKE"
It doesn't work...

Sending to @roberthbailey for triage

[2015-10-28 03:29] #16166 closed

[2015-10-28 03:29] vially commented on #11453
:+1: I'm having the same issue on kubernetes v1.0.6

[2015-10-28 03:36] lavalamp commented on #16405
P1 for answering the question, I think.

[2015-10-28 03:41] lavalamp commented on #14111
@alex-mohr the problem with centralized reasons is that it is a recipe for brittle clients: the act of *adding* a reason becomes an api-breaking change. Event reasons are very explicitly not centralized for this reason.

[2015-10-28 03:44] lavalamp commented on #16374
I take the "centralized event reason declaration" to just mean all of the event reasons that *kubelet* exports should be declared in one place. I'm ambivalent about that.

Validating the form of the event reason sounds like an OK thing as long as it's not by looking it up in an explict list; (matching a regexp would be OK, I guess). But no need to limit it to kubelet events.

I'm not really sure a

[2015-10-28 03:47] lavalamp commented on #16355
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-28 03:47] #16355 closed

[2015-10-28 03:50] lavalamp commented on #16352
Are you asking for better validation on pod creation? I'm not really sure what you mean when you say "tip".

[2015-10-28 04:09] lavalamp commented on #16278
This surprises me. Another fix would be to make the kube-proxy function correctly on the master. Is it possible the node port was consumed on the master?

[2015-10-28 04:12] lavalamp commented on #16257
The service controller makes the load balancers, IIRC. It needs to monitor the nodes and refresh the forwarding rule, similarly to how endpoints controller watches pods for liveness and updates the endpoint list.

[2015-10-28 04:18] mdshuai commented on #16352
@lavalamp Yes, I mean it's better validate the pod when create. The tip mean the validation info response from server and show by client.

[2015-10-28 04:19] lavalamp commented on #16229
It will also fail a number of unit tests. I don't think we're obligated to update 1.0 for go1.5.1, personally.

[2015-10-28 04:21] smarterclayton commented on #13306
Ok - for OpenShift we'll probably try an annotation admission controller that enforces this value on everything (add, remove, update) and prevents edits.  Once I have something working I'll open a PR to kube.

[2015-10-28 04:22] lavalamp commented on #16173
I agree with everything but 4-- why not make the storage version the preferred version? We can be more efficient if clients speak that version (in theory).

[2015-10-28 04:34] roberthbailey commented on #13382
@paralin -- sorry, I was out of the office last week. Are you still having this issue? If so, I can dig into it tomorrow.

[2015-10-28 04:46] quinton-hoole commented on #16377
Yup. It should have been auto-closed by my PR, but I must have got the
gihub "fixes" syntax wrong.
On Oct 27, 2015 7:42 PM, "Daniel Smith" <notifications@github.com> wrote:

[2015-10-28 04:50] davidopp commented on #16201
#16268 has been closed and the cherrypick here (#16288) has been merged so I'm closing this issue. Thanks everyone for the debugging.

[2015-10-28 04:50] #16201 closed

[2015-10-28 04:51] davidopp commented on #15652
Is #16350 the last PR for this issue, or is there anything else left?

[2015-10-28 04:58] davidopp commented on #15652
Oh, I guess there's also #16366. Anything else besides those two?

[2015-10-28 06:27] ghost opened #16410 "Failed to start controller-manager with Mesos"
Hi team when I start controller-manager with following command

[code]

I got following error message:

[code]

Kubernetes v1.0.6
OS: Ubuntu 14.04 amd64
Mesos: 0.26.0

api-cloud.conf:

[code]

[2015-10-28 06:33] feihujiang commented on #15355
I'd like to fix this.

[2015-10-28 06:37] bgrant0607 commented on #16393
We should strip the query parameter. It's only meaningful to github.

[2015-10-28 07:13] MaxDaten opened #16412 "Probe and lifecycle hook (postStart & preStop) logs should be inlined in the container logs"
Hi,

I'm currently testing kubernetes locally with coreos (https://github.com/pires/kubernetes-vagrant-coreos-cluster) and I want to utilize the `postStart` and `preStop` hooks to implement autodiscovery of a riak cluster. My written scripts (in the container) are running as expected via `kubectl exec`. But setting them in the hook the pods can't start (`STATUS ExitCode:2`). My script utilize the

[2015-10-28 07:17] thockin commented on #16278
@artfulcoder - I am oncall tomorrow, can you peek at this?

On Mon, Oct 26, 2015 at 8:41 AM, runningwild <notifications@github.com>
wrote:

[2015-10-28 08:23] wojtek-t commented on #16376
We don't need to serialize them. But I think the problem is that we don't want to make them unversioned, so we need some conversion tools for them.

[2015-10-28 08:32] wojtek-t commented on #16361
Sure - I will try to update that dependency (if it will not break us).

[2015-10-28 08:38] wojtek-t commented on #16361
OK - I see where the problem is :(
The issue is that we need to update this dependency in go-etcd and etcd itself first (because we need all of those to use the same version of ugorji).
The WIP PR updating our code is here:
https://github.com/kubernetes/kubernetes/compare/master...wojtek-t:update_ugorji
but unfortunately it cannot be submitted now.

[2015-10-28 08:46] hurf commented on #16365
Which kubectl version are you using? It's already supported now.

# Display only the most recent 20 lines of output in pod nginx
$ kubectl logs --tail=20 nginx

# Show all logs from pod nginx written in the last hour
$ kubectl logs --since=1h nginx

[2015-10-28 08:52] piosz commented on #15960
The change was cherrypicked, so closing this issue

[2015-10-28 08:52] #15960 closed

[2015-10-28 08:55] RichieEscarez commented on #16393
#15121 is what added the code sample preview changes (shows the javascript).

[2015-10-28 09:00] #16239 closed

[2015-10-28 09:01] #16188 closed

[2015-10-28 09:06] davidopp commented on #16105
@erictune Can you look into this?

[2015-10-28 10:02] jszczepkowski commented on #15652
After merging #16350, #16366 and cherry-picking #16366 to 1.1 this issue should be closed.

[2015-10-28 10:03] fgrzadkowski commented on #13424
@luxas Please see https://github.com/kubernetes/kubernetes/issues/13557. Apart from the PR listed there you'll also need to use ```--containerized``` flag (it's explained in the issue)

[2015-10-28 11:03] rvrignaud commented on #14642
@saad-ali im my case the node come back up and kubelet did not detach the PD even if the pod was rescheduled in an other node. I had to detach it manually.

[2015-10-28 11:29] wojtek-t opened #16421 ""apiserver_request_count" metric doesn't handle correctly http codes"
When looking into those metrics, the code is always 200.

I explicitly send a bad request:
wojtekt@wojtekt-work:~/go/src/k8s.io/kubernetes/pkg/labels$ curl localhost:8080/api/v1/pods?timeoutSeconds=xxx
{
  "kind": "Status",
  "apiVersion": "v1",
  "metadata": {},
  "status": "Failure",
  "message": "strconv.ParseInt: parsing \"xxx\": invalid syntax",
  "reason": "BadRequest",
  "code": 400
}

and

[2015-10-28 11:36] dalanlan commented on #13424
I built one from HEAD on Oct 16th, yet i got following
[code]
No secret ref by SA `default`. Is this expected then?
I was completely fine with that earlier since i was thinking secrets won't be generated w/o proper params for api-server.

[2015-10-28 11:51] deads2k commented on #16173
It makes an rolling update more painful.  If I want to roll an update that disables the old REST API, but keep addition API servers running that don't have the more recent codecs during the process, the current code forces me to expose a REST API version that I don't want to use.

I don't object to the current mode as a default, but I do object to it being the only valid combination.

[2015-10-28 11:52] willmore opened #16424 "Only bring up events etcd server in "large" clusters, and update docs to mention events etcd server"
Etcd events were moved to a separate instance with
https://github.com/kubernetes/kubernetes/commit/a4581c7cd56c84df269970ed554bbea1e5dc58d0

I believe the HA docs should be updated to cluster etcd-events too:
https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/docs/admin/high-availability.md

[2015-10-28 12:10] jszczepkowski opened #16425 "Resource consumer is flaky"
Instead of consuming 250 milli-cores, recourse consumer consumes nearly 400 milli-cores. This causes flakiness of autoscaling e2e tests:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/1521/

**Horizontal pod autoscaling [Skipped][Autoscaling Suite] should scale from 1 pod to 3 pods and from 3 to 5 (scale resource: CPU)**
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k

[2015-10-28 12:33] jszczepkowski commented on #15652
HPA documentation is done (all PRs are merged and chery-picked to 1.1).

[2015-10-28 12:33] #15652 closed

[2015-10-28 12:40] deads2k commented on #16177
Found another wrinkle.  Our `APIInstaller` infrastructure forces all requests for a particular version of a REST endpoint to use an exactly matching version (POSTs to `api/v1/namespace/foo/resource` must send a `v1` object).  This breaks the HPAController client because it cannot generically include every codec for every (group, kind) that it might want to scale.

We can try to fix this by allowin

[2015-10-28 13:02] piosz commented on #14674
According to test:
[code]
this is known problem. After applying #13747 the test passed.

[2015-10-28 13:06] gmarek commented on #14674
Few updates:
- [Fail] Restart [It] should restart all nodes and ensure all nodes and pods recover happens on v1.0 cluster as well, so I doubt it's update related
- The tests we're running on Jenkins do not update cluster from 1.0 to 1.1, but from 1.0 to 1.2.alpha-something (line from Jenkins):
[code]
- Running v1.1 tests after upgrade locally is working (everything's green)
- Tests from v1.0 conta

[2015-10-28 13:27] jszczepkowski commented on #15498
This problem occurred again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/6868/

This time the following tests are failing:
**Reboot each node by dropping all inbound packets for a while and ensure they function afterwards**
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/reboot.go:91
Oct 28 06:01:59.706: Node e2e-reboot-mi

[2015-10-28 13:35] markturansky commented on #15458
This issue will be resolved downstream with the introduction of a security account dedicated to the PV Recycler.

[2015-10-28 14:05] piosz commented on #14674
Regarding to:
[code]
The test is failing because of terminationGracePeriod was introduced. One of possible solution is to wait in [cleanup](https://github.com/kubernetes/kubernetes/blob/release-1.0/test/e2e/util.go#L748) for resources to be terminated.

[2015-10-28 14:07] gmarek commented on #14674
Both Services errors are caused by the change in logging in tests. I'm writing adapters to allow both versions.

[2015-10-28 14:29] fgrzadkowski commented on #14674
Regarding to:
[code]
This test is also failing because of terminationGracePeriod.

[Here](https://github.com/kubernetes/kubernetes/blob/release-1.0/test/e2e/pods.go#L249) we delete the pod and immediately expect it to not exist. It's not obvious how this should be done because in 1.0 it was expected that pod will immediately disappear. In 1.1 we are introducing a breaking semantic change in pod de

[2015-10-28 14:30] timothysc commented on #11492
jsonnet, hjson, etc.  superset pseduo config langs.
iirc terraform also has their own thing as well.

[2015-10-28 14:34] piosz commented on #14674
@bgrant0607 there are two broken tests by introducing terminationGracePeriod: ```Kubectl client Guestbook application...``` and ```Pods [It] should be submitted and removed``` due to the behavior described by @fgrzadkowski. How should we fix it?

[2015-10-28 14:41] piosz commented on #14674
Regarding to:
[code]
and
[code]
those tests require [LOGGING_DESTINATION](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L65) set to ```elasticsearch```.

[2015-10-28 14:46] fgrzadkowski commented on #14674
Regarding:
[code]
I think (I was not able to reproduce it locally) this is again a flakiness due to graceful termination. [Here](https://github.com/kubernetes/kubernetes/blob/release-1.0/test/e2e/pd.go#L224) in 1.0 release we are deleting pod and recreating it right after it. With graceful termination this will fail. In 1.1 we just set grace period 0 ([here](https://github.com/kubernetes/kubernete

[2015-10-28 14:47] paralin commented on #13382
@roberthbailey I haven't been looking for it but I haven't seen it either. I've also upgraded the cluster to HEAD multiple times.

I think the issue is caused by the master running out of memory and no longer responding to requests. That has been fixed in my cluster.

[2015-10-28 14:52] ssergiienko opened #16429 "Fix and/or document watch window constraint"
Kubernetes 1.0.3
Watch api is not clear and almost useless. Also it does not comply documentation. Will try to explain by examples:

[code]

Returns only one latest object for each pod with:
...
"resourceVersion":"41195"
...
"resourceVersion":"43383"
...
Then:

[code]

[code]

At the same time for nodes(which is updated every few seconds) same approach is works:

[code]

[code]

Why whis happens?

[2015-10-28 14:53] bgrant0607 commented on #14674
These are 1.0 tests against a 1.1 master? With 1.0 or 1.1 Kubelets? And what version of kubectl?

cc @smarterclayton

[2015-10-28 14:59] fgrzadkowski commented on #14674
@bgrant0607 We run 1.0 tests against 1.1 master and 1.0 nodes/kubelets.

[2015-10-28 15:00] fgrzadkowski commented on #14674
kubectl is also in 1.0 version

[2015-10-28 15:00] bgrant0607 commented on #14674
Can we patch the tests in the 1.0 branch?

1.0 had `deletionTimestamp`. If any resource left has non-empty deletionTimestamp, that should be acceptable, also.

https://github.com/kubernetes/kubernetes/blob/release-1.0/pkg/api/v1/types.go#L142

[2015-10-28 15:01] ssergiienko commented on #16429
This propose https://github.com/kubernetes/kubernetes/issues/7018#issuecomment-101079247 is also suitable in our case, hope it will be implemented even in api v1 (adding new field breaks nothing)

[2015-10-28 15:02] bgrant0607 commented on #14674
To make deletion and re-create work, yes, we'd need to wait for these resources to disappear.

[2015-10-28 15:03] xinzhangcmu opened #16431 "apiserver: CORS only works in insecure mode?"
I am writing a client-side AngularJS app that uses XMLHttpRequest trying to talk to the apiserver. The apiserver was brought up with the following flags, especially with `cors-allowed-origins` hoping to allow CORS.

[code]

and I configured apiserver to support basic auth with https.

However, the pre-flight OPTIONS request failed with 401. Below is my rationale:

- For CORS to work, the client wi

[2015-10-28 15:08] huang195 commented on #16296
@yujuhong I checked the 10-sec cpu spikes, and it just puzzles me more now :(
cadvisor has an option "housekeeping_interval" that by default is set to 1 second, after I changed this value to 30 seconds, I see the cpu spikes were about once 30 seconds. I then set it to 15 seconds, and the cpu spikes went to every 15 seconds or so. Is PodUpdate impact by "housekeeping_interval" in some way? I didn't

[2015-10-28 15:09] four43 commented on #14162
+1, running Kubernetes v1.0.6 production release on AWS, provisioning Vivid instances.

[2015-10-28 15:21] paralin commented on #14162
@four43 fixed in the PR, or install linux-image-virtual on all nodes

[2015-10-28 15:22] fgrzadkowski commented on #14674
During the course of the day we had multiple updates so here is the summary:

Bugs failing due to graceful teramination:
[code]
Proposed fix https://github.com/kubernetes/kubernetes/pull/16430

Fails caused not enabling elasticsearch in the cluster:
[code]
Fixed by setting [LOGGING_DESTINATION](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh#L65) set to ```elasti

[2015-10-28 15:23] four43 commented on #14162
Yup, I commented over there too :) Thanks @paralin

[2015-10-28 15:26] wojtek-t commented on #14674
Test:

    [Fail] Shell [It] should pass tests for services.sh
    /usr/local/google/home/mikedanese/go/src/k8s.io/kubernetes/_output/local/go/src/k8s.io/kubernetes/test/e2e/shell.go:44

We didn't have time to look into it.

This test was flaky, so we rewrote it in go - https://github.com/kubernetes/kubernetes/pull/11056
maybe it's the same problem why it was rewritten? Maybe we can just disable i

[2015-10-28 15:27] smarterclayton commented on #16177
Can you describe exactly what is getting posted?

[2015-10-28 15:27] smarterclayton commented on #16177
HPAController is posting to `<thirdpartygroup>/<thirdpartyapiversion>/namespace/foo/resource`?

[2015-10-28 15:28] gmarek commented on #14674
I'm all for disabling it and cherry-picking relevant parts of services.go. We had enough problems with this test already.

[2015-10-28 15:30] rvrignaud opened #16435 "Uneven kubelet memory usage in same cluster"
I'm running a GKE cluster (master / nodes 1.0.6).
I'm seeing large memory usage variation between nodes from 60MiB to 340 MiB.
See following graph:

![screen shot 2015-10-28 at 15 27 39](https://cloud.githubusercontent.com/assets/525763/10793214/2664f7e2-7d90-11e5-9d85-c908964c5f38.png)

Here is the heap profiling of the kubelet using the more memory (gke-stg-b9e96ddd-node-9wfj):
![gke-stg-b9e96dd

[2015-10-28 15:31] deads2k commented on #16177
I propose posting an object of (extensions, latest-version, scale).  If the remote `thirdpartygroup` does not have that version, it replies back indicating which versions it does support and the HPA controller/client re-encodes and sends an object of  (extensions, specified-version, scale).

[2015-10-28 15:32] gmarek commented on #14674
There's one thing to do left (except deciding what to do with `services.sh`) - we need to fix `cluster_upgrade.go` e2e-test, so that it'll be able to upgrade to v1.1, not only to the head-ish.

[2015-10-28 15:35] thockin commented on #16435
60 MiB is plausible, 340 seems out of line.

@vishh

On Wed, Oct 28, 2015 at 8:31 AM, Romain Vrignaud <notifications@github.com>
wrote:

[2015-10-28 15:43] smarterclayton commented on #16177
Ok, so to further articulate the problem here, and why this is critically important:

1. HPA is a central component that should be able to reach out to generic endpoints
2. HPA can only know about a limited number of versions and conversions internally (anything compiled with kube)
3. We want HPA to be able to scale anything that results in pods generically, by virtue of invoking a generic Scale s

[2015-10-28 16:25] mhausenblas commented on #4710
+1 indeed!

[2015-10-28 16:31] thockin opened #16436 "hyperkube should support running as kubectl"
This would make demos easier.

[2015-10-28 16:32] thockin opened #16437 "We should publish a kubectl container for every release"
being able to `docker run --net=host gcr.io/google_containers/kubectl get pods` would be nice.

[2015-10-28 16:35] krousey commented on #16431
cc @lavalamp

[2015-10-28 16:38] brendandburns opened #16438 "Master may be added to GCE Target Pools"
User reports:

I am running my web service behind an SSL proxy on my Kubernetes cluster as described in this tutorial. It works 90% of the time, but from time to time my browsers (Chrome/Firefox) get SSL errors when accessing my web service. Firefox says this:

api.[mydomain.com] uses an invalid security certificate.

The certificate is not trusted because the issuer certificate is unknown.
The se

[2015-10-28 16:53] bgrant0607 commented on #2057
Resolved by api groups discovery API.

cc @caesarxuchao @lavalamp

[2015-10-28 16:53] #2057 closed

[2015-10-28 17:05] liggitt opened #16439 "Use consistent order of (new, old) in update validation functions"
Interfaces like RESTUpdateStrategy and common implementations like ValidateObjectMetaUpdate specify `new,old` object order.

Most update validation functions follow this convention, but there are several update validation functions that take objects in the opposite order (`old, new`). These should be fixed and callers checked to verify the order isn't mixed up.

Examples:
[code]

[2015-10-28 17:06] lavalamp commented on #16376
@krousey I think the interface has to be this if we go that route-- it should work for all option type structs not just ListOptions. (and the server needs the decode, and we share code at the moment)

[code]

I agree with Clayton's classification, and I think the above interface should handle the first two cases. The third is already handled.

@wojtek-t we currently make a codec per version, so we

[2015-10-28 17:07] bgrant0607 commented on #16177
One of the main purposes of many proposed subresources is polymorphism: support the same narrow API to apply the same semantic operation to multiple REST resources. Given that, I agree that, for polymorphic subresources, the apiserver should accept groups/versions that differ from the primary resource. We may eventually need a way to bound the set of supported groups/versions accepted at a particu

[2015-10-28 17:08] lavalamp commented on #16376
@caesarxuchao we can't hard code the type because it has to work for ListOptions, DeleteOptions, FooOptions, etc. @krousey and I are talking about compressing the conversion and serialization (to url.Values) into one interface for RESTClient simplicity, and because conversion could be a superfluous step here, so it makes sense to let the codec decide whether or not it's necessary.

[2015-10-28 17:10] ihmccreery commented on #15806
@davidopp I actually still see failures of the same kind in `kubernetes-upgrade-1.0-1.1-gke-step3-e2e-old` (master 1.1, nodes 1.0) and `kubernetes-upgrade-1.0-1.1-gke-step5-e2e-old` (master 1.1, nodes 1.1).  I assume this is because we haven't cherrypicked @gmarek's test fix into `release-1.0`.  So this is now a duplicate of #15116.

[2015-10-28 17:12] zmerlynn opened #16444 "examples_test.go tension with config best practices"
[Config best practices](../tree/fe6b15ba/docs/user-guide/config-best-practices.md) is at odds with [how we test examples currently](../tree/fe6b15ba/examples/examples_test.go): the best
practices expresses a desire to put multiple resources in a file, which makes
sense, but `examples_test.go` expects each file to represent a single API type. This has a perverse effect on the examples (see #16320,

[2015-10-28 17:12] #13343 closed

[2015-10-28 17:13] deads2k commented on #16177
I'll start taking a look this afternoon.

[2015-10-28 17:18] pmorie commented on #6596
Resolved by #15510

[2015-10-28 17:20] yujuhong commented on #16435
The 340MB is the working set memory, which includes active anonymous and file-back pages. Because kubelet has a very high cgroup memory limit and kernel only moves pages from active to inactive under memory pressure, the working memory set can appear falsely high. See #12422 for more discussions. `/sys/fs/cgroup/memory/kubelet/memory.stat` would show you that most working set memory is from *activ

[2015-10-28 17:27] yujuhong commented on #16296
@huang195, if you changed the housekeeping interval to 30s, it effectively changed the frequency that cadvisor gathers the stats (memory usage). Since cadvisor would only gather data once every 30 seconds, it's natural you'd only see the spike ever 30 seconds :)

I think the majority of cpu usage should be from kubelet and docker for the periodic syncs. I'd be surprised if it's not. A better exper

[2015-10-28 17:31] bgrant0607 commented on #16177
Hmm. GET would be a problem. There would need to be a way to specify the version.

[2015-10-28 17:31] brendandburns commented on #16438
PR in flight, ETA 10/28

[2015-10-28 17:32] deads2k commented on #16177
Request header and the server can choose a default if its not specified?

[2015-10-28 17:33] smarterclayton commented on #16177
It's possible the discovery API should provide an equivalence statement
(this object in this version maps to this object in the Kube base version)
for subresources that must be polymorphic

On Wed, Oct 28, 2015 at 1:31 PM, Brian Grant <notifications@github.com>
wrote:

[2015-10-28 17:35] jetole opened #16446 "Add SAN to certificate"
I would like to be able to add SAN's to certificate so that I can access the cluster either via a different CNAME / A record or if the master uses a different IP.

[2015-10-28 17:36] zmerlynn commented on #16444
cc @bgrant0607 @linzichang

[2015-10-28 17:37] ihmccreery opened #16447 "1.0 Kubectl e2e's leave pods in Error state lying around (against a 1.1 head & 1.1 nodes)"
Perhaps a re-opening of #15123, (which we thought was a duplicate of #15895,) but also may be a new issue.

Worth noting this is only happening when nodes are at 1.1; when nodes are at 1.0, these tests pass.

See `kubernetes-upgrade-1.0-1.1-gke-step5-e2e-old` Jenkins job:

[code]

cc @mikedanese

[2015-10-28 17:37] lavalamp commented on #15864
Anything left to do here?

[2015-10-28 17:40] zmerlynn opened #16448 "kubectl create -f <directory> doesn't create services first, violating config best practice"
[Config best practices](../tree/fe6b15ba/docs/user-guide/config-best-practices.md) says:

[code]

It also says:

[code]

It looks like `kubectl` just creates things in sorted order:

[code]

cc @gmarek @mikedanese

[2015-10-28 17:41] ihmccreery commented on #16447
cc @davidopp @mikedanese @lavalamp

[2015-10-28 17:41] jetole opened #16449 "Specify own certificate for cluster"
I would like to be able to provide my own certificate for the cluster. In this case I would like to be able to provide a wildcard cert assigned to the DevOps subdomain. Additionally, I know someone else who would like to use a normal root CA signed cert for their cluster and I can imagine this would apply equally to anyone using private CA's for their internal domains such as Active Directory sign

[2015-10-28 17:42] lavalamp commented on #16041
@brendandburns said he could do this.

[2015-10-28 17:44] bgrant0607 commented on #16177
@deads2k We so far haven't used request header in that way, and using 2 different methods (header and path) to choose api version seems confusing.

[2015-10-28 17:46] bgrant0607 commented on #16177
I don't know that we can get a proper fix into 1.1. By when do you need a solution?

[2015-10-28 17:46] lavalamp commented on #16177
IMO, the group/version in the path must refer to the thing that you're writing or reading, or it shouldn't be in the path.

[2015-10-28 17:53] bgrant0607 commented on #16177
Could you register paths at /apis/extensions/v1beta1/namespaces/{ns}/.../scale?

[2015-10-28 17:56] nikhiljindal commented on #15864
https://github.com/kubernetes/kubernetes/pull/16335 fixed this.
Closing

[2015-10-28 17:56] #15864 closed

[2015-10-28 17:59] ihmccreery commented on #13602
Update: there is one outstanding issue: 1.0 Kubectl e2e's leave pods in Error state lying around (against a 1.1 head & 1.1 nodes) #16447.

Then, there are a few test fixes (see #15116).

[2015-10-28 18:01] ihmccreery commented on #15116
Relevant stuff:

- [ ] Tests are failing because they don't take into account Graceful termination ([comment](https://github.com/kubernetes/kubernetes/issues/14674#issuecomment-151868744)).
- [ ] Tests are failing because of a test change in how we have BYO images (see #16427).
- [ ] API change (see #15948).
- [ ] Error message change (see #16434).

[2015-10-28 18:06] deads2k commented on #16177
That would mean that the list of resources under a given group could end up having resources from other API groups.  For example ` /apis/extensions/v1beta1/namespaces/{ns}/originresource/{name}/scale` would have an openshift resource.  That's not how I would expect to describe "I'm a resource that is a `Scaler`".  I would expect that determination to be made based on a discovery doc that indicated

[2015-10-28 18:08] smarterclayton commented on #16376
@deads2k and @liggitt if you haven't already been following this

On Wed, Oct 28, 2015 at 1:08 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-28 18:09] lavalamp commented on #16429
You should list first to get the complete state and a resource version. Then you watch with that resource version, and you are guaranteed not to miss changes.

This happens to be no longer true, it is an implementation detail that you should not rely on.

There's no guarantees about watching without first listing. It's useful only in certain circumstances.

[2015-10-28 18:09] wojtek-t commented on #16376
@lavalamp - so do we want to add "unversioned.ListOptions" and leave existing "v1.ListOptions" as is?

Regarding your interface - I think, creating that interface is just a matter of refactoring (we don't need to create almost any code). The EncodeParameters is already here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/conversion/queryparams/convert.go#L99
and DecodeParametersInto is m

[2015-10-28 18:11] Random-Liu commented on #15089
I put pod full name into docker label and add label filter in GetPodStatus() in #16414.
Again, just update my progress, :)

[2015-10-28 18:18] ihmccreery commented on #11751
We should also update docs accordingly; see #16442.

[2015-10-28 18:33] DirectXMan12 commented on #16177
I think part of the issue is that scale acts less like a concrete resource, and more like a Go interface -- it's a promise that an object can be accessed using a common method -- in the case of a Go interface, that's methods, but in this case it's an API "object" that's calculated on demand, and propagates its changes back to the underlying object.

This strikes me as different from most of the re

[2015-10-28 18:36] bgrant0607 commented on #15893
We need to audit the docs that are in the 1.1 branch to ensure that all the docs we need have been cherrypicked.

[2015-10-28 18:37] bgrant0607 commented on #15893
cc @caesarxuchao @nikhiljindal @thockin

[2015-10-28 18:46] lavalamp commented on #16177
HPA can just GET `/apis/extensions/v1beta1/namespaces/{ns}/originresource/{name}/scale` to see if it's supported or not. Longer term we should just include a URL, e.g.:

[code]

I'm not sure how you're going to get HPA to know it should point at OpenShift instead of k8s apiserver.

[2015-10-28 18:48] davidopp commented on #16177
@kubernetes/autoscaling

[2015-10-28 18:49] davidopp commented on #14674
Thanks for all the work and the excellent summary!

[2015-10-28 19:02] sgoings commented on #15560
I'm interested to know what your ideas are here - I'm willing to help as we have had similar problems maintaining the build system around deis/deis#4038 and I think there is a need for some sort of lightweight release management tool here but I don't want to reinvent a wheel that already exists and I'm just unaware of it.

I've spent quite a bit of time in the [Gradle](http://gradle.org/) ecosyste

[2015-10-28 19:18] ssergiienko commented on #16429
@lavalamp

I list objects with `curl localhost:8080/api/v1/pods?watch=true` and see that `"resourceVersion":"43383"` is greater than my last processed... for example 43000... Then i call:
[code]
and instead of objects listing starting from 43300 i get:
[code]
What am i doing wrong? Or what do you mean by `You should list first to get the complete state and a resource version`  ?

If i try to start

[2015-10-28 19:30] vishh commented on #16435
@yujuhong: IIUC, you are suggesting that the values in the graphs is the total usage, not `working set`, which will include cold pages which can be swapped out by the kernel when there is memory pressure.
`working set` on the other hand only includes pages that the kernel things is necessary to continue running a process.
AFAIK, the memory profile `inuse_space` corresponds to `working set` and cur

[2015-10-28 19:43] bgrant0607 commented on #14674
Has anyone looked at why services.sh is failing?

[2015-10-28 19:53] jdoliner commented on #16361
What's blocking the PRs submission?
We're currently running in to this as well :(

[2015-10-28 19:58] huang195 commented on #16296
@yujuhong I think I found the reason for this. As mentioned in the beginning, I'm trying to scale up the number of pods per node well beyond the recommended 40, so I was trying to see if I can get 100 or even 200 pods on a single node (not practical but just for the sake of trying it out). At 100-200 pods per node, the UpdatePod part of the kubelet code that runs every 10 seconds will run continuo

[2015-10-28 20:00] thockin commented on #11751
we might want to carry something like a "latest" tag so that docs don't need to be updated.  Maybe "HEAD_latest" and make sure that HEAD is replaced with "v1.0" in release branches

[2015-10-28 20:03] esecules opened #16454 "version 1 coreos install documentation has old cloudconfig file"
in the version 1 coreos install guide here:
 http://kubernetes.io/v1.0/docs/getting-started-guides/coreos/coreos_multinode_cluster.html
there are cloudconfig files (master.yaml and node.yaml) that are written to pull the kubernetes 0.19.3 release. Could these be updated to use version 1? I got a cluster set up only to realize at the very end that it was the wrong version and I had wasted all my ti

[2015-10-28 20:05] davidopp commented on #14674
I wasn't claiming the issue is fixed, just thanking the Warsaw guys for all the work they did overnight.

@mikedanese said he would look into the remaining problems.

[2015-10-28 20:08] lavalamp commented on #16431
That seems kinda broken, how can we implement this without leaking
information about whether a resource exists or not?
http://www.w3.org/TR/cors/#cross-origin-request-with-preflight-0

BTW, our apiserver is not currently safe against XSS attacks, so we do
intend to make a proxy layer that handles this stuff. See
https://github.com/kubernetes/kubernetes/issues/10351#issuecomment-135200873.
If you w

[2015-10-28 20:10] yujuhong commented on #16296
@huang195, my 100 pod node actually still shows the 10 second kubelet/docker cpu spikes (+1.5 core difference on a n1-standard-2 gce machine), which I believe are from the periodic pod syncs. If you saw smaller cpu spikes, your explanations would make sense.

Might be #3338.

[2015-10-28 20:12] lavalamp commented on #16429
First `curl localhost:8080/api/v1/pods`. Find the ResourceVersion in the
list meta.

Then `curl localhost:8080/api/v1/pods?watch=true&resourceVersion=xxxx`.

On Wed, Oct 28, 2015 at 12:18 PM, ssergiienko <notifications@github.com>
wrote:

[2015-10-28 20:14] piosz commented on #14674
services.sh seems to be the last problem to fix (+ #16427 is in flight)

[2015-10-28 20:14] yujuhong commented on #16435
@vishh, no, I meant the working set. The active file-backed pages are not transitioned to inactive pages under no memory pressure. You can easily verify that by looking at kubelet/docker working set memory from cadvisor or heapster. The working set is usually hundreds of megabytes, but could easily be lowered by setting a tighter memory limit.

[2015-10-28 20:23] davidopp commented on #16177
Assigning to @lavalamp and marking 1.1

[2015-10-28 20:28] bgrant0607 commented on #16177
Can we please split this into separate github issues for each distinct technical issue?

[2015-10-28 20:33] pmorie opened #16456 "Enable security context in clusters by default"
We have E2E tests for the new security context features, but the `SCDeny` admission controller is used by default in most cluster types.  We should enable it in GCE in order to get coverage in CI on that stack.

[2015-10-28 20:33] pmorie commented on #16456
@bgrant0607 @thockin Any issue with this?  Of course, we'll have to continue skipping the SELinux-specific tests.

[2015-10-28 20:34] davidopp commented on #16177
+1

at the very least, need to separate "hits anyone using out-of-the-box k8s" vs. "hits anyone using systems built on top of k8s that add resources"

@lavalamp said the first category is empty -- I had put this in 1.1 because I thought it was non-empty, but apparently I misunderstood.

[2015-10-28 20:36] pmorie commented on #16456
@kubernetes/rh-cluster-infra

[2015-10-28 20:51] ihmccreery commented on #16447
Re #16457 is there consensus that this isn't a breaking change, and thus we should just fix the tests?  Sounded like, @mikedanese, you weren't confident that this wasn't a problem worth fixing on 1.1.

[2015-10-28 20:57] mikedanese commented on #16447
Iffy because kubectl output may or may not be under contract. In 1.1 we started hiding terminal, and terminated pods form output(unless you add `--all` command). A combination of this change and GracefulTermination cause these tests to pass in HEAD but not with 1.0 `kubectl`.

[2015-10-28 20:57] lavalamp commented on #16447
Sounds like old clients don't understand the graceful deletion state. Just waiting as in #16457 seems reasonable.

[2015-10-28 20:58] lavalamp commented on #16447
Perhaps one of @davidopp or @bgrant0607 can confirm

[2015-10-28 21:01] DirectXMan12 commented on #16177
One could argue that having all kube objects with a scale subresource have a corresponding url in 'extensions/v1beta1' is a bit strange, since the rest of the object is not accessible at that URL.  It's doesn't *prevent* core Kube from working, but perhaps it's something to consider for the future.

[2015-10-28 21:01] Random-Liu commented on #15089
docker/docker#15496

[2015-10-28 21:02] bgrant0607 commented on #15893
user-guide/kubectl-overview.md needs to be copied to release-1.1

[2015-10-28 21:04] lavalamp commented on #16177
I think the specific CSI issues here are bigger than we can reasonably get fixed for 1.1.

[2015-10-28 21:07] davidopp commented on #16447
Yeah this seems reasonable to me.

[2015-10-28 21:11] lavalamp commented on #16447
If people have built tooling that this feature breaks, they can fix their tooling by upgrading to a new kubectl OR adding a wait, so I'm not too worried.

[2015-10-28 21:12] bgrant0607 commented on #15893
#15339 needs to be cherrypicked

[2015-10-28 21:13] sanjana-bhat commented on #14533
@ArtfulCoder, I landed on this issue while looking into coreos/flannel#327
The side effect of pulling the above flannel fix is, I lose the source IP of any external request (i.e. any request that lands on the container from outside of the cluster). The source IP gets masqueraded to the docker bridge interface. Can you please help me understand on why this masquerade rule is needed?

[2015-10-28 21:15] davidopp commented on #16437
Would this also make it easier to run kubectl from a container that's running on k8s?

[2015-10-28 21:15] davidopp commented on #16437
Also what is the relationship to autoscaling?

[2015-10-28 21:18] ssergiienko commented on #16429
Yap, that was it! Thank you very match! I thought that i must use resourceVersion of objects but it turns out that i must use resourceVersion of list itself instead... Maybe some clarification/example in docs about this things is needed?

Please, correct me: For now(v1.0.3), if i have more than 1000 change events for `nodes`
since my last `GET /pods` than i CAN'T see all changes for pods after rec

[2015-10-28 21:21] bgrant0607 commented on #15893
#15587 would be nice to have

[2015-10-28 21:25] bgrant0607 commented on #15893
docs/user-guide/jobs.md is not up to date in release-1.1 (multiple PRs)

[2015-10-28 21:30] bgrant0607 commented on #15893
It looks like we need to run hack/update-generated-docs.sh on the release branch

[2015-10-28 21:32] bgrant0607 commented on #15893
#15453 needs to be cherrypicked

[2015-10-28 21:35] bgrant0607 commented on #15893
And #14632

[2015-10-28 21:39] bgrant0607 commented on #15893
And #15693

[2015-10-28 21:40] bgrant0607 commented on #15893
#16043

[2015-10-28 21:43] bgrant0607 commented on #15893
#15522

[2015-10-28 21:45] bgrant0607 commented on #15893
#15790

[2015-10-28 21:45] thockin commented on #16437
I did not intend for this to be tagged autoscaling, sorry

[2015-10-28 21:46] bgrant0607 commented on #15893
and docs/getting-started-guides/vagrant.md (multiple PRs)

[2015-10-28 21:50] bgrant0607 commented on #15893
#13724

[2015-10-28 21:51] brendandburns commented on #16041
ETA middle of day tomorrow (10/29).

[2015-10-28 21:56] bgrant0607 commented on #15893
The other differences are either insignificant, developer-oriented (so I'd expect them to read from github), misc getting-started guides, or changes that might not be in 1.1.

[2015-10-28 21:59] lavalamp commented on #16376
@wojtek-t Yes to everything you said.

[2015-10-28 21:59] bgrant0607 commented on #15893
There are some examples differences, including a few new examples, also, but none look critical.

[2015-10-28 22:01] #16447 closed

[2015-10-28 22:01] lavalamp commented on #16447
Reducing to P1 since it's just a test problem. Also closing since the fix is merged.

[2015-10-28 22:05] mikedanese commented on #16361
This is blocked because the change needs to be made upstream in https://github.com/coreos/go-etcd

There is a workaround which is to checkout the version gorji that we currently have pinned with godeps.

[2015-10-28 22:10] jetole commented on #12273
Also just ran into this issue still on 1.0.7 "production".

[2015-10-28 22:12] bgrant0607 commented on #15893
One more cherrypick: #16138

We need to:
1. Cherrypick/copy the PRs/docs mentioned above into release-1.1
2. Fix #16393
3. Run hack/update-generated-docs.sh in release-1-1
4. Do step (2) above (sitemap)
5. Run versionize docs again
6. Copy/munge release-1.1 docs to gh-pages

When we're ready to release 1.1:
Merge #16388 and #16416

[2015-10-28 22:13] bgrant0607 commented on #15893
ETA - tomorrow (Thursday)

[2015-10-28 22:14] ArtfulCoder commented on #14118
svc count | alloc  | total alloc
--------| ------------ | ---------
1 svc | takes 5 mb |
 500 svc | takes 15 mb |
 1000 svc | takes 22 mb |

I see a footprint of 20 kb per service (Based on Alloc, not TotalAlloc)

--------- 1 svc below --------------

 runtime.MemStats
 Alloc = 5,210,368
 TotalAlloc = 72468549768
 Sys = 59623672
 Lookups = 177768
 Mallocs = 898458525
 Frees = 898386359
 HeapAlloc

[2015-10-28 22:21] Random-Liu commented on #15089
Progress Update:
Current now, we can only add labels to newly created containers, but for containers started already, we can do nothing. So we can't do filter list or naming cleanup etc. which must ensure that all containers' label have been set properly.

At least till now, the best solution is to add labels on running containers, but docker doesn't support that yet. I submitted an issue in docke

[2015-10-28 22:22] davidopp commented on #16278
This is the same as #16438, yes?

[2015-10-28 22:22] lavalamp commented on #16438
Is this the same as #16278?

[2015-10-28 22:23] lavalamp commented on #16438
heh-- I'm 10 seconds behind @davidopp...

[2015-10-28 22:24] davidopp commented on #16438
Yeah that was hilarious timing.

[2015-10-28 22:25] #16124 closed

[2015-10-28 22:33] davidopp commented on #16255
@erictune I think we need to either fix the behavior or the documentation for 1.1, do you agree?

[2015-10-28 22:34] lavalamp commented on #16321
Reducing to p1 since the cherry pick has already merged.

[2015-10-28 22:35] bgrant0607 commented on #15893
PR #16461 includes all the cherrypicks except #15790, which had merge conflicts, #16138, which hasn't merged yet, and the files that are easier to copy than cherrypick: kubectl-overview, jobs.

[2015-10-28 22:40] soltysh commented on #16255
@davidopp @erictune I'm back with jobs (sorry for long absence). I'll start tackling all job related issues starting tomorrow morning.

[2015-10-28 22:41] lavalamp opened #16462 "Make sure 1.1 API resource discovery tolerates 1.0 and 1.2+ apiservers."
@caesarxuchao has a fix in #16082, but we're waiting for a dependency to merge, a squash, and then we need to cherrypick it.

[2015-10-28 22:41] lavalamp commented on #16462
ETA the 30th

[2015-10-28 22:43] lavalamp commented on #16310
Yeah, I suspect it's doubled because not all paths call it twice, but we should really figure that out.

[2015-10-28 22:48] bgrant0607 commented on #15893
PR #16463 includes kubectl-overview, jobs.

[2015-10-28 22:48] lavalamp commented on #15726
Reducing to P1 as we're just waiting for the cherrypick to merge.

[2015-10-28 23:09] bgrant0607 commented on #16039
Waiting on cherrypick of #16054

[2015-10-28 23:11] bgrant0607 commented on #15878
Waiting on cherrypick of #16207 @janetkuo

[2015-10-28 23:13] bgrant0607 commented on #16391
Not a blocker for 1.1

[2015-10-28 23:23] davidopp commented on #15929
@justinsb

[2015-10-28 23:28] davidopp commented on #15817
@zmerlynn

[2015-10-28 23:31] davidopp commented on #15692
@derekwaynecarr

[2015-10-28 23:36] bgrant0607 opened #16466 "Faster use of images"
It would be nice to go from scheduled to running in less than a second.

Possible ideas:
- Prefetching
- Mount common storage containing images
- Peer-to-peer copying (not instantaneous, but could combine with prefetching)

cc @davidopp @brendandburns

[2015-10-28 23:43] davidopp commented on #15545
@robszumski

[2015-10-28 23:45] #15411 closed

[2015-10-28 23:48] brendandburns commented on #16438
Yep, this is a dup.  Closing in favor of #16278

[2015-10-28 23:48] #16438 closed

[2015-10-28 23:51] krousey opened #16467 "port forwarding e2e test doesn't properly handle panics"
#15445 introduced `runKubectlWithTimeout` which launches a goroutine that can call ginkgo's `Fail` and cause a panic that ginkgo cannot recover.

[code]

[2015-10-28 23:51] krousey commented on #16467
@sttts do you mind looking at this?

[2015-10-28 23:51] derekwaynecarr commented on #15692
This should all work fine from the master branch

$ make quick-release
$ export KUBERNETES_PROVIDER=vagrant
$ cluster/kube-up.sh

I had run this from master yesterday without issue, but can verify again tomorrow.  Vagrant uses flannel and fedora, OVS got dropped awhile back.

I suspect your problems are related to your inability to build a release so please confirm the output of the above.

[2015-10-28 23:51] #16039 closed

[2015-10-28 23:53] davidopp commented on #16255
I don't think we'll be able to fix this in the 1.1 timeframe. Let's just fix the documentation.

ETA: 10/29

[2015-10-28 23:55] davidopp commented on #16105
@mikedanese said he'd take a look.

I'll leave this in 1.1 milestone until he renders a verdict.

[2015-10-28 23:59] lavalamp commented on #15726
#16406 has merged.

[2015-10-28 23:59] #15726 closed

[2015-10-29 00:00] mikedanese commented on #16105
I thing we _want_ daemonset to place daemon pods onto nodes that are not ready. See #1574. Daemon pods should have the highest level of forgiveness.

[2015-10-29 00:02] davidopp commented on #15116
@ihmccreery I believe all four issues you mentioned above have had fixes merged.

[2015-10-29 00:02] evanphx opened #16469 "AWS: Use an Elastic IP by default: MASTER_RESERVE_IP=auto"
By default, a cluster will use the ephemeral IP of the master as the IP of the cluster. This IP is embedded deeply in things like the CA certs, and thus it's impossible to even stop the master instance because it's IP will change and break all the certs.

Please consider using an Elastic IP by default. New users don't know to set MASTER_RESERVE_IP=auto to get this functionality and discovering the

[2015-10-29 00:04] paralin commented on #16105
@mikedanese If you do this, they instantly terminate. So the pods are constantly in a loop of being created -> terminate -> create -> terminate... doesn't make much sense.

[2015-10-29 00:04] davidopp commented on #16105
I think this is debatable -- definitely we want daemon pods to keep running on nodes when they become NotReady, but it's not obvious to me that we want to schedule new pods onto nodes that are NotReady.

[2015-10-29 00:11] davidopp commented on #15222
ping?

[2015-10-29 00:13] davidopp commented on #15088
@justinsb

[2015-10-29 00:18] davidopp commented on #15116
Sorry, I misunderstood, your list wasn't a list of stuff to fix, it was examples of where we cherrypicked into 1.0. Never mind. :)

[2015-10-29 00:22] smarterclayton commented on #16376
I'm still a little cautious about our headlong plunge to making lots of
things unversioned. I really don't want to give up the ability to solve
versioning options and status in the future.

In fact, I'd almost prefer we invent an API version name to represent *all*
unversioned objects and set it "v1".  Returning / using unversioned things
from a versioned API isn't any better than returning two di

[2015-10-29 00:24] smarterclayton commented on #16177
That's not a composition pattern - that's an inheritance pattern, which
means it's inherently limiting clients.

Hpa is a client just like kubectl, it reads discovery doc, finds a scale
subresource, and targets it.

On Oct 28, 2015, at 2:47 PM, Daniel Smith <notifications@github.com> wrote:

HPA can just GET
/apis/extensions/v1beta1/namespaces/{ns}/originresource/{name}/scale to see
if it's suppor

[2015-10-29 00:24] linzichang commented on #16444
In https://github.com/kubernetes/kubernetes/pull/14256, I have add a TODO. I will try to make `examples_test.go` can validate multiple resources file.

[2015-10-29 00:27] davidopp commented on #16105
@bgrant0607

[2015-10-29 00:28] davidopp commented on #13602
@ihmccreery Is there anything left to fix here (other than the one remaining GCE upgrade test issue)?

[2015-10-29 00:30] smarterclayton commented on #16177
I agree, but I also think we are not succeeding at some of our core goals
for Kube in this space w.r.t building a system that is suitable for
extension.  We need to spend a bit more time coming to design agreement on
some of these patterns in 1.2 - I'd like to ensure we can learn from the
pain points in 1.1 and apply those lessons for future work.  Having
everyone on the same page about some of th

[2015-10-29 00:31] dchen1107 commented on #15222
I don't think this is an issue at node. I believe kubectl proxy is broken for this.

[2015-10-29 00:35] bgrant0607 commented on #16105
We want daemons on nodes before anything else can schedule, and we want daemons to stay on nodes that become NotReady.

In general, we need to evolve the node lifecycle more. We don't currently have a handshake that would enable daemons to be placed before anything else. Scheduling on NotReady nodes is one way to make that happen. In any case, Kubelet and DaemonSet should handle this gracefully.

[2015-10-29 00:36] janetkuo commented on #15725
I'll document `kubectl edit` too.

[2015-10-29 00:37] mikedanese commented on #16105
@paralin I would argue that that bug is better fixed by making nodecontroller not evict daemon pods, not by making daemonset not place pods on NotReady nodes.

[2015-10-29 00:37] bgrant0607 commented on #16393
ETA today/tomorrow

[2015-10-29 00:38] bgrant0607 commented on #15893
#16471 versionized docs.

[2015-10-29 00:38] mikedanese commented on #16105
Which is part of #15310

[2015-10-29 00:39] davidopp commented on #16105
I guess, but I think you'd agree this is a pretty bad way to do it.

Anyway, I'll remove this from 1.1

[2015-10-29 00:42] nikhiljindal commented on #16393
https://github.com/kubernetes/kubernetes/pull/16475 fixes this

[2015-10-29 00:44] bgrant0607 commented on #15893
#16475 to fix #16393

[2015-10-29 00:45] mikedanese commented on #16105
We can do this for v1.1 to fix the create delete loop, and implement the real solution after?

[2015-10-29 00:50] davidopp commented on #16105
Yeah I guess the question is, for 1.1, which is worse: the create-delete loop, or having a daemon be unable to schedule onto the node because other pods got there first.

Since the second thing can happen even with the current behavior (for example, the node transitions to Ready and gets regular pods scheduled onto it before the DaemonSet controller schedules the daemons), I'd favor doing what the

[2015-10-29 00:59] janetkuo opened #16477 "A document for how to write documents"
We should have a document telling people how to write documents.

For example:
- Use auto-generated munge TOC
- Use auto-synced munge example
- How to write links (use relative links when possible, style as `[Description](link)`)
- etc

cc @bgrant0607

[2015-10-29 01:00] jbeda commented on #11492
I think that some of the confusion is *when* the template processing (and environment variables) are set up.  Right now, I think we are all thinking about doing template evaluation "client" side.  Or at least not built into the kube API server in a fundamental way.  That means that if we do end up picking a "favorite" templating scheme, users can always substitute their own.

In the case where the

[2015-10-29 01:06] nikhiljindal commented on #15893
Found one that you missed :)

Sent https://github.com/kubernetes/kubernetes/pull/16479 for #15832

[2015-10-29 01:07] lavalamp commented on #16376
I think the ship has sailed for 1.1, but going forward I'm open to putting
these things in e.g. "common/v1" or something.

On Wed, Oct 28, 2015 at 5:22 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-29 01:09] lavalamp commented on #15222
@gmarek can you still reproduce this?

[2015-10-29 01:35] mikedanese commented on #16105
fix in #16478

[2015-10-29 01:49] bgrant0607 commented on #15893
We should cherrypick #15981

[2015-10-29 02:04] mikedanese commented on #16477
+1 this is unreasonably hard if you are unfamiliar with the tooling.

[2015-10-29 02:47] nikhiljindal commented on #15893
Sent https://github.com/kubernetes/kubernetes/pull/16483 for #15981

[2015-10-29 03:04] ArtfulCoder commented on #14118
Top allocated objects are:
(pprof) unit=alloc_objects
(pprof)
(pprof)
(pprof)
(pprof) top 10
64484alloc_objects of 64645alloc_objects total (99.75%)
Dropped 170 nodes (cum <= 323alloc_objects)
Showing top 10 nodes out of 51 (cum >= 16397alloc_objects)
      flat  flat%   sum%        cum   cum%
32768alloc_objects 50.69% 50.69% 32768alloc_objects 50.69%  k8s.io/kubernetes/pkg/api/v1.(*ObjectMeta).co

[2015-10-29 03:10] mikedanese commented on #14674
Just ran step step 3 (1.0 e2e with 1.1 master and 1.0 nodes) and got:

[code]

Kibana and Cluster level logging aren't running as addons after the upgrade. The other two are flakes (they've passed before). `service.sh` passed so it's also a flake. I'm going to run step 5 now and report back.

[2015-10-29 03:20] x1022as commented on #16405
As docker now support :
    docker volume create vol --volume-driver=vd1 --opt=foo=bar
    docker run -v vol:/foo busybox sh

Maybe we can add a new volume plugin called docker-volome to k8s, This plugin will call docker volume create/rm with specific info like volume-driver and opts to operate volumes. maybe it works like this:
[code]

just an immature thought, any suggestion and criticism are we

[2015-10-29 03:30] thockin commented on #16405
I think your proposal is on the right track.  It's unfortunate how opaque it is, but I don't have an immediately better answer.

[2015-10-29 04:04] x1022as commented on #16405
Yes, I agree. This will make k8s blind to volume as docker lies between them. And users should care about both k8s and that 'unknown' docker volume driver.

Well, it do solve some problems and will fit in some scene. As for these drawbacks, maybe we can get some workaround. I am still not familiar with how k8s manage its volumes, so giving a specific resolution is beyond my ability for now : (. I

[2015-10-29 04:09] thockin commented on #14533
The masquerade rule is needed particularly when there are DNATs involved
(as there are for Services in Kubernetes).  It is unfortunate that this
obscures the client IP.  As load-balancers learn to talk to containers
directly, this might get better and we might revisit the need for this.

On Wed, Oct 28, 2015 at 2:14 PM, Sanjana J Bhat <notifications@github.com>
wrote:

[2015-10-29 04:11] thockin commented on #16405
From an implementation point of view, this is a very different sort of
volume plugin for kubernetes.  If someone started in on it we could see
just how complex it is (or isn't, maybe?)

On Wed, Oct 28, 2015 at 9:05 PM, x1022as <notifications@github.com> wrote:

[2015-10-29 04:12] roberthbailey commented on #16446
Where are you deploying your cluster? If you don't mind modifying code and running from head, you can easily customize your SANs.

For GCE, the SANs are set [here](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L540) but there isn't a variable in [config-default.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh) that allows you to appe

[2015-10-29 04:14] roberthbailey commented on #16448
/cc @bgrant0607 @jlowdermilk

[2015-10-29 04:15] erictune commented on #16255
Not able to repro this.

[2015-10-29 04:15] brendandburns commented on #16041
Ok, the following tests are broken:

KubeletManagedEtcHosts should test kubelet managed /etc/hosts file
[code]

Services should check NodePort out-of-range
[code]

Services should prevent NodePort collisions
[code]

Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]
[code]

Kubectl client Kubectl describe should check if kubectl describe prints relevant informatio

[2015-10-29 04:16] erictune commented on #16255
Example file needs fix though.

[2015-10-29 04:17] roberthbailey commented on #16449
For GCE, we currently unconditionally call [create-certs](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L534) to generate custom certificates for the cluster. It wouldn't be difficult to only call this function if certificates don't already exist (that function just sets a bunch of environment variables) and use provided certificates instead.

[2015-10-29 04:18] erictune commented on #16255
Oh, example file is fixed at head.  Will try to repro with newer build

[2015-10-29 04:19] erictune commented on #16255
actually I will leave for @soltysh to repro.

[2015-10-29 04:19] thockin commented on #16446
It seems like adding a variable that gets added to the SAN list might be
reasonable?  as an alternative, what if kube-apiserver could generate its
own cert (with our CA)?  Could we just do `kube-apiserver
--generate-master-cert --cert-sans=...` or something?

On Wed, Oct 28, 2015 at 9:13 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-10-29 04:21] brendandburns commented on #16041
Of these several are non-errors:

   * Services should check NodePort out-of-range - slight variation in error text
   * Services should prevent NodePort collisions - slight variation in error text
   * EmptyDir * - changes in behavior between 1.0 and 1.1
   * Priviliged containers - disabled in 1.0
   * Downward API volume - doesn't exist in 1.0

That's ~8 out of 15 failures.  I will investigate

[2015-10-29 04:23] bgrant0607 commented on #16448
Yes, known issue. Thanks for filing.

[2015-10-29 04:23] x1022as commented on #16405
hmm, you're right. Anyway, reading kubernetes code and docs will be my primary job, otherwise any thought would be immature : (

and to ALL: any suggestion about this problem is appreciated!

[2015-10-29 04:26] bgrant0607 commented on #16448
Also relevant: #1768

[2015-10-29 04:26] roberthbailey commented on #16446
Yes, that what I'm suggesting, but since this is done in a different place for each provider to actual help @jetole we'd need to do it for the provider he's actually using.

[2015-10-29 04:29] thockin commented on #16446
IIRC from IRC this was AWS in particular.

On Wed, Oct 28, 2015 at 9:26 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-10-29 04:32] thockin commented on #16405
What makes it interesting is that all current volume plugins produce a dir
in the host namespace that can be volume-mounted into a docker run.  This
has to produce very particular arguments to docker.

I don't know the docker API structures around this feature, but I'll offer
that we're certainly willing to alter the way volume plugins work to make
this more general, if needed.

On Wed, Oct 28, 20

[2015-10-29 04:33] roberthbailey commented on #16446
AWS using salt / CoreOS / Ansible / something else?

[2015-10-29 04:35] thockin commented on #16446
CoreOS I think, but now we're at the edge of my ability to remember things.

On Wed, Oct 28, 2015 at 9:33 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-10-29 05:01] bgrant0607 commented on #16456
I'm fine with this. It's in line with our current direction.

[2015-10-29 05:02] bgrant0607 commented on #16456
cc @ArtfulCoder

[2015-10-29 05:08] #14162 closed

[2015-10-29 05:17] x1022as commented on #16405
Great! let's work this out!

[2015-10-29 05:19] caesarxuchao commented on #16462
Thanks. I'll do these once #16343 is merged.

[2015-10-29 05:28] jacobstr opened #16488 "Guestbook-go example frontend not accessible in Vagrant"
I've bootstrapped Kubernetes locally using the guestbook-go example.

[code]

I'm expecting to be able to visit `10.247.25.102:3000` to see the running application. No luck.

`https://10.245.1.2` Does yield some kind of HTTP response. This corresponds to the eth1 interface of the `master` vm.

[code]

[code]

Using Virtualbox 5.0.8, Vagrant 1.7.4,

[2015-10-29 06:46] gmarek commented on #15222
Yup - every single time.

[2015-10-29 06:47] #16238 closed

[2015-10-29 07:12] wojtek-t commented on #16310
Yeah, I suspect it's doubled because not all paths call it twice, but we should really figure that out.

I think that's true. We should pay attention to it when we will be rewriting code-generator of conversions to the new framework.

[2015-10-29 07:13] apeeyush commented on #15692
I forgot to update the status here! I was able to setup the vagrant on master branch after doing a `make clean`.

However, it is not mentioned anywhere in the docs that it might be required. I guess we should document it or improve the Makefile to detect it.

Also, `make quick-release` works fine for me but `make release` seems to fail during the testing phase. I can try that again today and post

[2015-10-29 08:00] resouer commented on #15634
Em .. roughly summarize it here, what do you think?

[code]

[2015-10-29 08:12] bgrant0607 commented on #3024
@karlkfi More history about the separation of DaemonSet and ReplicationController is in #3058, if you're interested.

[2015-10-29 08:16] bgrant0607 commented on #16337
Re. pods deleted last: Another use case for finalizers. #3585

[2015-10-29 08:32] #16235 closed

[2015-10-29 08:46] bgrant0607 commented on #16255
Deleting the job via the API is expected to orphan the pods.

Deleting the job via kubectl is expected to do cascading deletes on the pods by default.

What it looks like to me is that the parallelism is merely reduced to 0, which causes active pods to be killed, but doesn't clean up dead ones, as shown in the example:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go#L241
h

[2015-10-29 08:48] soltysh commented on #16255
On it, thanks @bgrant0607 for pointers.

[2015-10-29 09:09] soltysh commented on #16255
I was again influenced by the RC controller, which deals only with alive pods, but doesn't have to clean up the dead ones. I'm adding pods removal logic before removing a job. PR should be shortly.

[2015-10-29 09:59] piosz commented on #14674
I created cluster with master from HEAD, nodes from release-1.0 branch and ran tests from release-1.0 against it.

Kibana and Cluster level logging are enabled by default in HEAD, release-1.1 and release-1.0 in [config-test.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L75) thought the default option in [config-default.sh](https://github.com/kubernetes/kuberne

[2015-10-29 10:03] JunejaTung opened #16493 "create snapshot directory error: mkdir /home/data/etcd/member: permission denied"
when i try to launch kube-dns in 'kubernetes/cluster/addons/dns', then etcd pods have to restart because failed to mkdir */member
i have try etcd:2.0.9 and etcd:2.0.12, and already mkdir for member. the same error encounter:

## container logs
[root@wlan-cloudserver34 etcd]# docker ps -a | grep dns
38edaf47d1db        gcr.io/google_containers/etcd:2.0.12             "/usr/local/bin/etcd   5 second

[2015-10-29 10:18] rvrignaud commented on #13346
@brendandburns Does https://github.com/kubernetes/kubernetes/pull/16443 remove nodes from load balancers if they become NodeNotReady after service creation ?

[2015-10-29 10:34] gmarek commented on #14674
Thanks @piosz for checking it!

[2015-10-29 10:56] soltysh commented on #15985
/sub

[2015-10-29 12:56] #16321 closed

[2015-10-29 13:17] kargakis opened #16499 "Fix serialization of objects to query params"
[queryparams.Convert](https://github.com/kubernetes/kubernetes/blob/809f4e1bc39c795dfbb67fa99e8e1e663d03a0e9/pkg/conversion/queryparams/convert.go#L99) is for serializing versioned objects to parameters but we need this to happen in the request.

See https://github.com/openshift/origin/pull/5396/files#r43377104

cc: @deads2k

[2015-10-29 13:36] rvrignaud commented on #16435
Thank you for the clarification. Closing this one.

[2015-10-29 13:36] #16435 closed

[2015-10-29 13:43] #16254 closed

[2015-10-29 13:43] deads2k opened #16500 "HPA controller needs more flexibility from APIInstaller"
Spawned from https://github.com/kubernetes/kubernetes/issues/16177

 Our `APIInstaller` infrastructure forces all requests for a particular version of a REST endpoint to use an exactly matching version (POSTs to api/v1/namespace/foo/resource must send a v1 object). This breaks the `HPAController` client because it cannot generically include every codec for every (group, kind) that it might want to

[2015-10-29 13:43] jcderr commented on #16365
$  kubectl version
    Client Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}
    Server Version: version.Info{Major:"1", Minor:"0", GitVersion:"v1.0.6", GitCommit:"388061f00f0d9e4d641f9ed4971c775e1654579d", GitTreeState:"clean"}

[2015-10-29 13:51] deads2k commented on #16177
Spawned https://github.com/kubernetes/kubernetes/issues/16500 for item 4, which we all seem to agree on

[2015-10-29 13:53] ncdc commented on #16500
@kubernetes/rh-cluster-infra

[2015-10-29 13:56] wojtek-t commented on #16133
I took last scalability run and the results are:

    wojtekt@wojtekt-work:~/Downloads$ cat apiserver.txt | grep "handlers.go" | wc -l
    444821
    wojtekt@wojtekt-work:~/Downloads$ cat apiserver.txt | grep "handlers.go" | grep " 409 " | wc -l
    1174

So conflicts are ~0.26% of all requests.
It is visible, but not very dangerous (in my opinion).

I'm closing it now, because we have #16134 open

[2015-10-29 13:56] #16133 closed

[2015-10-29 14:02] liggitt opened #16501 "Missing field selector conversions"
kubernetes/kubernetes#15766 added field selectors for namespace to several objects, but did not add conversions for those field selectors to api/v1/conversion.go#AddFieldLabelConversionFunc.

I'm pretty sure that means the new selectors aren't usable. Please add those conversions, and add tests for using the selectors.

[2015-10-29 14:04] timothysc commented on #11492
+1, Typical (expr/template) evaluations are done on client, scheduling, and in some cases node.

Sadly cluster management is typically a special case where non-turing-complete typically needs to be enforced if evaluation is to occur on any master component, otherwise there is the potential of a bad evaluation wedging a component.  perhaps jsonnet-- or some time based gaurds on evaluation.

[2015-10-29 14:23] jcderr opened #16503 "Rolling update should support scale-out first"
I have a few processes where I use a replication controller to keep a single pod up and running, and which are completely intolerant of having multiple instances running simultaneously. For instance, JetBrains TeamCity fails if it detects another copy of itself accessing the database.

My current workflow is to:

* update the container
* update my rc.yaml
* kubectl scale rc/teamcity --replicas=0
*

[2015-10-29 14:53] huang195 commented on #16296
@yujuhong that was my initial impression as well that the 10-sec was due to pod syncs as its default time is every 10 seconds. However, after some testing, it seems to be not the case when we're in the 100-200 pods per node range. If you still have your 100-pod node, try to restart your kubelet with housekeeping_interval set to 30 seconds, you will see your 10-sec cpu spikes will be replaced by 30

[2015-10-29 14:58] csrwng opened #16504 "CLI: convert port-forward command to new CLI command structure and expose Stop and Ready Channels"
To make it easier to consume from other commands, the port-forward command should implement the Complete/Validate/Run pattern implemented in newer commands. Its options structure should expose a Ready and Stop channel.

Also messages about the forward should be output to the command's stdout instead of glog, making it possible to redirect the command output to a different output stream.

[2015-10-29 14:58] csrwng commented on #16504
@ncdc

[2015-10-29 15:10] soltysh commented on #1624
@erictune are you going to close it?

[2015-10-29 15:17] soltysh commented on #14384
/sub

[2015-10-29 15:18] #1624 closed

[2015-10-29 15:31] resouer commented on #2563
/sub

[2015-10-29 16:03] thockin opened #16506 "Doc needed: pod command[] vs args[]"
It's not easy for people to figure out the difference between the two fields.  We should have a simple article that illustrates the interactions with Docker CMD and ENTRYPOINT.

This raises a question for me  - is this an "example" or do we have a new kind of doc: "article" or should it be buried in a pod-doc somewhere?

[2015-10-29 16:23] kargakis opened #16507 "Can't get logs for a crashlooping pod"
Reported in Origin: https://github.com/openshift/origin/issues/5417

I think the problem is that when a pod hits `CrashLoopBackOff` it stays Pending and as @sosiouxme mentions in the issue above "it would be better if CrashLoopBackOff state were counted the same as Failed for log access purposes."

[2015-10-29 16:28] markturansky commented on #12084
I'm going to close this issue due to inactivity.  Existing error reporting tells the user when the PV has gone missing.  Admins can purposefully delete PVs.  With the ability to "pre-bind" a volume to a claim, admins can even create PVs deleted by accident that will match to an orphaned claim.

[2015-10-29 16:28] #12084 closed

[2015-10-29 16:30] brendandburns commented on #16041
The kubectl guestbook ones are because of a missing nodePort field which looks like incorrect validation in 1.0...

[2015-10-29 16:32] brendandburns commented on #16041
Pod update is a behavior change from 1.0 to 1.1

[2015-10-29 16:33] dchen1107 commented on #16507
Have you tried it with https://github.com/kubernetes/kubernetes/pull/15799 which fixed wrong PodPhase issue (https://github.com/kubernetes/kubernetes/issues/15671)?

[2015-10-29 16:35] brendandburns commented on #16041
Submitted and removed looks to be due to graceful termination not being implemented in 1.0

[2015-10-29 16:36] kargakis commented on #16507
Hm, we have to cherry-pick that commit and test. Will report back after

[2015-10-29 16:36] jbeda opened #16508 "Finish hyperkube transition"
`hyperkube` offers significant advantages in terms of reducing our distribution size and simplifying the number of things that need to be juggled.  But some deployment scenarios are using separate binaries while others are using `hyperkube`.  We should switch everything over to `hyperkube` and deprecate/remove the individual binaries.

Issues that need to be addressed before we can get there: #164

[2015-10-29 16:38] brendandburns commented on #16041
Retrieve and filter logs appears to not be implemented in 1.0 (will validate)

[2015-10-29 16:40] dchen1107 commented on #16507
I just started a crashloop pod, and here is my result:

[code]
So I tested with kubectl logs with & without --previous
[code]
[code]

Looks like everything works fine with patch #15799

[2015-10-29 16:41] brendandburns commented on #16041
And kubelet managed etc hosts doesn't apply to 1.0.

So that's all tests.  I don't think any of the failures are unexpected.  I will disable the tests that I don't think are relevant, and I will talk with others to see if we want to adapt some of the other tests.

[2015-10-29 16:46] jetole commented on #16446
@roberthbailey: I'm running in AWS. I modified aws/util.sh and added the line ```MASTER_EXTRA_SANS+=",DNS:blah.blah,IP:x.x.x.x"```

[2015-10-29 16:50] jetole commented on #16446
I agree with @thockin that it would be nice to be able to define this in a var. It would also be nice to have a override var or option to say use _this_ cert instead of creating one (#16449). I understand that it's done in a different location per provider but it would be nice to have a front end method that would be pushed to the provider specific functions.

[2015-10-29 16:52] bgrant0607 commented on #13424
I think @pmorie did some work on making Kubelet run in a Docker container a while back.

[2015-10-29 16:52] bgrant0607 commented on #13424
#4869

[2015-10-29 16:56] janetkuo commented on #16393
Closing with the fix #16475

[2015-10-29 16:56] #16393 closed

[2015-10-29 16:59] lavalamp commented on #16500
I'm not sure we're on the same page here.

No: (extensions/v1beta1/scale)

Let's be very explicit. I'm saying the (resource, resource scale) path pairs must be the below, at least at the moment.

For: `https://my-kube-apiserver/api/v1/replicationcontrollers/myrc`
Scale is at: `https://my-kube-apiserver/apis/extensions/v1beta1/replicationcontrollers/myrc/scale`

For: `https://my-kube-apiserver/apis

[2015-10-29 17:07] Fizzadar opened #16512 "Minions IP does not follow --hostname-override when set to a hostname"
According to #9267, the Kubelet should register a node with the `--hostname-override` (cluster from scratch). This does not work if set to an actual hostname (even one that resolves correctly). Working with the IP:

[code]

And when the override is set to a hostname (which resolves to the 172 IP):

[code]

[2015-10-29 17:08] roberthbailey commented on #16446
Definitely. This is something that we are trying to address as part of [Simpler Cluster Setup](https://docs.google.com/document/d/1v68yStV2O6aHuRuT3AlWnbe6vkUCtzyC5I7Elhgik3o/edit).

[2015-10-29 17:08] roberthbailey commented on #16446
/cc @fgrzadkowski @mikedanese

[2015-10-29 17:16] yujuhong commented on #15222
I don't think it's kube proxy that's broken because I got the same 404 error when accessing the endpoint directly on the node...

[2015-10-29 17:18] pmorie opened #16514 "Add a way to distinguish between volumes that are synthesized by the kubelet and 'real' volumes"
Currently in the ownership and SELinux label management code, we do not alter volumes whose builder reports `true` from `IsReadOnly()`.  This doesn't give us quite the right decision plane; we need a new method that tells the kubelet where a volume is synthesized by the system or not.  I suggest:

[code]

`secrets` and `downwardApi` would return 'true' from this method.

Then the decision plane fo

[2015-10-29 17:21] deads2k commented on #16500
Not copying is what I was thinking. I see a distinction between the group,version of the resource and the group,version of the kind.  It seems reasonable to me that I'd have:

`group,version,resource,subresource = origin,v1,scalablething,scale`
that accepts and returns
`group,version,kind = extensions,v1beta1,Scale`

That structure makes it clear that you're scaling an (origin,v1) thing.  Given a

[2015-10-29 17:24] caesarxuchao commented on #16462
#16516 is the CP.

[2015-10-29 17:26] brendandburns commented on #16041
Ok, consensus is that we should probably fix up these tests to be skipped if the server is 1.0.x, but that this isn't a blocker for 1.1 release.

I will keep this issue assigned to me but remove from the 1.1 milestone.

[2015-10-29 17:26] zmerlynn opened #16517 "Focus on Spark"
I have #16320/#16498 out to bring Spark up to existing standards for our examples. This bug is both a friction log of things I ran into while working on that PR, and a set of anticipated issues with Spark.

I organized this into two sections, Spark-specific-ish and Kubernetes-general. Some of these bullets have open issues and I'm documenting them as part of the vertical slice involved.

**Please*

[2015-10-29 17:29] smarterclayton commented on #16500
Yeah API groups I think are very much a single server problem.  And we definitely don't want to copy the scale type into groups... however, we need to support (in another API) a version of scale that is tied to one of the kube versions.

We can solve the client side polymorphism today (we just run the HPA ourselves, until the necessary upstream work is complete).  If that takes a few months I thin

[2015-10-29 17:33] krousey commented on #16488
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-29 17:33] #16488 closed

[2015-10-29 17:35] krousey commented on #16493
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-10-29 17:35] #16493 closed

[2015-10-29 17:37] gmarek commented on #15222
OK, changing title of the issue - I didn't check kubelet directly.

[2015-10-29 17:41] krousey commented on #16499
Not looking too carefully, but is [`func (r *Request) VersionedParams(obj runtime.Object, convertor runtime.ObjectConvertor) *Request`](https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/request.go#L410) what you're looking for?

[2015-10-29 17:48] pmorie commented on #16514
@kubernetes/rh-cluster-infra @kubernetes/rh-storage

[2015-10-29 17:50] DirectXMan12 commented on #16500
Is there any reason we couldn't somehow extend the API to indicate what version we want for the subresource?  In my mind, `/scale` is somewhat unique, because it's acting like a contract between HPA and the scalable objects, and so the version really "belongs" to the HPA, and is just implemented by the objects.  Perhaps we could have something like "/api/v1/namespace/{ns}/replicationcontroller/ext

[2015-10-29 17:50] kargakis commented on #16499
@krousey, yes that would do the trick! Thanks!

[2015-10-29 17:50] #16499 closed

[2015-10-29 17:53] janetkuo opened #16519 "Brokwn download link in gh-pages"
Similar to #16393, in http://kubernetes.io/v1.1/docs/getting-started-guides/docker-multinode/deployDNS.html, the download links doesn't work:
- [skydns-rc template](http://kubernetes.io/v1.1/docs/getting-started-guides/docker-multinode/skydns-rc.yaml.in)
- [skydns-svc template](http://kubernetes.io/v1.1/docs/getting-started-guides/docker-multinode/skydns-svc.yaml.in)

cc @bgrant0607 @caesarxuchao

[2015-10-29 17:53] #16467 closed

[2015-10-29 17:53] ncdc commented on #16514
The issue at hand is that the only user that can currently access downward api files is root, because the timestamped directory in which they're created is made via ioutil.Tempdir, which creates 0700.

[2015-10-29 17:54] nikhiljindal commented on #13149
Fixed by https://github.com/kubernetes/kubernetes/pull/15979

[2015-10-29 17:54] #13149 closed

[2015-10-29 17:55] swagiaal commented on #16514
So the motivation for this is to have secrets and downwardapi be read-only but still chown'ed chcon'ed by the kubelet ? If so then we should revisit the decision of IsReadOnly at the chcon chown point and move it to the individual plugins. It might be more code, but adding another predicate confuses matters IMO

[2015-10-29 17:55] bgrant0607 commented on #15893
#16486 deleted the v1.1 docs from gh-pages and re-copied and munged them. That fixed the titles.

2 additional problems to fix here:
https://github.com/kubernetes/kubernetes/pull/16486#issuecomment-152082539

And, the download link doesn't work for files ending in `.in`.

[2015-10-29 17:56] krousey commented on #16501
@feihujiang Do you want this one?

[2015-10-29 17:57] yujuhong commented on #14768
@philk, we are actually going to do a docker label overhaul in kubelet. See #15089 for the details. This would give every container proper name and namespace labels, along with other new labels (restart count, etc). I think that should meet your needs.

`io.kubernetes.pod.data` is kind of an odd label since I don't think we should dump the entire pod spec into the label. @brendandburns, you added

[2015-10-29 17:57] nikhiljindal commented on #16391
Since we have found only 2 cases, @janetkuo is going to manually fix the yaml files for now.

[2015-10-29 17:59] janetkuo commented on #16519
It's because gh-pages doesn't recognize `.yaml.in` file extension. I'll change all the `xxx.yaml.in` files to `xxx-template.yaml` (and change the related docs)

[2015-10-29 17:59] bgrant0607 commented on #15893
One (hopefully last) cherrypick: #16518

[2015-10-29 18:02] bgrant0607 commented on #16519
How hard would it be to make the download link work for .yaml.in?

[2015-10-29 18:06] krousey commented on #16506
Any suggestion for a team label?

[2015-10-29 18:06] erictune commented on #12686
In order for this to work, the container has to write all of its files with the supplementary GID as the file's GID.  I don't think we can make it do that (as opposed to using another GID).  Also, even if it could, it would probably not be what people expect when accessing networked storage.  If there were some way to make it use the supplementary GID while in the emptyDir, but the primary GID whe

[2015-10-29 18:07] bgrant0607 commented on #16519
_layouts/docwithnav.html
[code]

[2015-10-29 18:07] lavalamp commented on #16500
This breaks as soon as we promote scale to v1. How does HPA know whether you take v1 or v1beta1 scale objects? You'd be forcing a client to deal with an arbitrary type. We lose the ability to make promises about what clients can deal with your objects.

It's in my client proposal, hopefully finished by v1.2.

"/api/v1/namespace/{ns}/replicationcontroller/apis/extensions/v1beta1/scale" is gross, es

[2015-10-29 18:08] markturansky commented on #16514
What about typing with an interface?  As some but not all plugins are PersistentVolumes, some but not all are SyntheticVolumes?

That applies even after the new provisioning interfaces are refactored out of the plugin proper.

[2015-10-29 18:09] pmorie commented on #16514
@markturansky It doesn't warrant that at all, I don't think.  Only a couple of volume types will report true.

[2015-10-29 18:12] pmorie commented on #16514
@swagiaal I would prefer to add predicates instead of folding things into methods that should be getters for simple predicates, especially since the business logic is generalizable to such a great degree.

[2015-10-29 18:18] janetkuo commented on #16519
That's better. I'll make the download link work for `.yaml.in` instead.

[2015-10-29 18:23] jetole commented on #16446
@roberthbailey the link to simple cluster setup says I need permission to view it.

[2015-10-29 18:24] caesarxuchao opened #16522 "links in release branch should point to release branch, rather than version tags"
For example, in this .md file in the release-1.1 branch, https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/configuring-containers.md,
the "Pod API object" link links to https://htmlpreview.github.io/?https://github.com/kubernetes/kubernetes/blob/v1.1.0/docs/api-reference/definitions.html#_v1_pod,
it should rather points to
https://htmlpreview.github.io/?https://github.com/k

[2015-10-29 18:28] yifan-gu commented on #16289
@yujuhong How about this one?
https://console.developers.google.com/storage/browser/kubernetes-coreos-jenkin/pr-log/kubernetes-pull-build-test-e2e-gce/75/

But seeing more failures now...

[2015-10-29 18:29] vishh commented on #12686
FYI: I'm working on a proposal for disk accounting and eventually disk
scheduling.

On Thu, Oct 29, 2015 at 11:18 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-10-29 18:35] DirectXMan12 commented on #16500
I certainly agree that that particular form is long (which is why I suggested perhaps a header with a default version).  I don't think it needs to scale out to all subresources -- only ones that act like Scale (which is why I suggested the subpath of `/ext` to differentiate).  AFAICT, the other subresources aren't directly used by a different controller and don't have the same "interface between c

[2015-10-29 18:35] bgrant0607 commented on #16391
Tabs in quoted regions:
[code]

[2015-10-29 18:42] roberthbailey commented on #16446
Yeah, there isn't a way for me to make a document that is visible to everyone by default. I shared it with the [kubernetes-dev](https://groups.google.com/forum/#!forum/kubernetes-dev) mailing list, so if you join that list then you can see it without needing to request access (but I've granted you access as well).

[2015-10-29 18:42] bgrant0607 commented on #16391
Hmm. Most of those don't show red rectangles, though.

[2015-10-29 18:42] Random-Liu commented on #14768
If possible, I'm very happy to take on this, :)

[2015-10-29 18:49] erictune commented on #13306
Sorry for late response.  I don't think we should store creator in metadata.
I commented on #13925 just now.

[2015-10-29 18:54] Fizzadar commented on #16512
Update: the behaviour is exactly the same with IPv6 disabled, so isn't a problem with that.

[2015-10-29 19:01] bgrant0607 commented on #16519
It doesn't seem to provide the same pretty view, but at least the yaml displays.

[2015-10-29 19:01] jetole commented on #16446
@roberthbailey: When click on share, at the top right in Google Docs, there is a button that says "Get shareable link". This will give you a link and it will allow you to set permissions on it such as "Anyone with the link can view", "Anyone with the link can comment" and "Anyone with the link can edit". You can also set it to "Off" which means the link will no longer work after you set it to off.

[2015-10-29 19:01] #16519 closed

[2015-10-29 19:23] yujuhong commented on #16289
@yifan-gu, I can see the artifacts now but the logs don't match....

The build log shows
[code]

Node names from the kubelet.log files:
[code]

Are they from different builds?

[2015-10-29 19:26] davidopp commented on #15222
Does this mean 'kubectl get logs' is also broken?

[2015-10-29 19:26] davidopp commented on #15222
Sorry I mean 'kubectl logs'

[2015-10-29 19:29] #14781 closed

[2015-10-29 19:32] scrisenbery commented on #13276
@amygdala I believe this was changed in version 3 of the UI which is now in the master branch, but has not been included in any recent release as far as I can tell.

[2015-10-29 19:35] liggitt commented on #15222
`kubectl log` doesn't hit `/logs/*` on the kubelet, it plumbs to `/containerLogs/...`

[2015-10-29 19:42] zmerlynn commented on #16517
cc @aronchick

[2015-10-29 19:51] davidopp commented on #14674
Update from @mikedanese : He says he doesn't think there's anything remaining to fix here. He said there is still some flakiness but it is probably due to the fact that the stuff we were cherrypicking into 1.0 to fix the upgrade tests' flakiness was actually not being used in the upgrade test. He said @ihmccreery is working on that now.

[2015-10-29 19:55] mikedanese commented on #14674
The test failures on jenkins are related to not running ci/latest-1.0 so we aren't seeing all the test fixes on jenkins, but there is some independent flakiness. #16521 (just merged) should provide infrastructure to start testing with ci/latest-1.0

[2015-10-29 19:56] rootfs opened #16528 "wrong options passed to mkfs if fstype != ext4"
[here](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount.go#L86) the option is for ext4. If `fstype != 'ext4'` then `mkfs` will fail.

[2015-10-29 19:57] ihmccreery commented on #14674
I'll take this over the finish-line, fixing infra and getting it into critical builds.

[2015-10-29 20:01] #16195 closed

[2015-10-29 20:01] janetkuo commented on #16391
Guess it only happens on ```yaml

[2015-10-29 20:02] wattsteve commented on #16517
@zmerlynn nice write up! WRT the separate glusterfs example, I agree and I like the suggestion of just moving to a single example that uses a ReadWriteMany PV claim. We only created the glusterfs example so that the community would have an example of how to connect the spark example with the volume plugins, but using the a ReadWriteMany PV claim achieves the same goals in a more widely applicable

[2015-10-29 20:08] ihmccreery opened #16529 "Separate out release infra from build infra"
To avoid this kind of thing: #16521.  This was an issue in which our test/release infra needed to change, and we had to cherrypick a bunch of stuff back into the `release-1.0` branch, because we rely on release infra inside that branch.

Instead, we should have separate release infra (probably in contrib) that drives the release process, and relies on a clearly-defined interface with the build inf

[2015-10-29 20:13] ihmccreery commented on #15560
One of the first steps I'm working on is splitting out release tooling from build tooling.  Looks like in deis/deis#4038, you're just talking about release.  I think a shell script is reasonable for that case.  See #16529 for work I'm doing and progress, (not much yet).

[2015-10-29 20:15] bparees commented on #16517
With respect to injecting configuration, we've taken the following approach for other images that need config that goes beyond something a user could provide via a few environment variables:

Use the source-to-image project (https://github.com/openshift/source-to-image) to author a "builder" image which takes configuration as source and produces a customized image.  The user can then run that imag

[2015-10-29 20:17] mikedanese commented on #15893
Also #16530

[2015-10-29 20:19] thockin commented on #16514
The distinction here is whether a volume is writeable by the host vs by users, right?  Can we just extend the IsReadOnly() to be an enum?  GetReadWriteMode() -> VolumeWritable, VolumeManaged, VolumeReadOnly.  Something like that?  Rather than having two axes..

[2015-10-29 20:20] timothysc commented on #15349
Per discussion on the sig, fan out on replacement can now take place the main changes are in and others who wish to jump in, it would be helpful.  Care should be taken to only use the storage layer and eliminate any dependencies on

- [ ] pkg/storage/cacher_test.go
- [ ] pkg/registry/node/etcd/etcd_test.go
- [ ] pkg/registry/namespace/etcd/etcd_test.go
- [ ] pkg/registry/limitrange/etcd/etcd_test.

[2015-10-29 20:21] bgrant0607 commented on #15893
And, now none of the navigation sidebar submenus expand, in either 1.1 or 1.0. :-(

[2015-10-29 20:24] janetkuo commented on #16391
I verified all the files listed above (contain tabs in quoted regions), only the two docs we already pointed out have red rectangles.

[2015-10-29 20:25] thockin commented on #16508
I was against it before I was for it.  But now I am for it.  The Hyperkube
sub-app framework stuff could be cleaned up - it's a little hard to
follow.  If we are not building individual binaries, it's a simpler
problem.  It should actually speed up the build, too, I think.  The same
code gets compiled incrementally but less to link.  It should probably
support argv[0] swithcing too.

On Thu, Oct 2

[2015-10-29 20:25] liggitt opened #16532 "Add support for tailLines with follow=true for pods/log"
Currently, if follow=true, tailLines is ignored by the kubelet in dockertools

[code]

"Show me the last 100 lines of the log and follow" is a very natural thing to want to do. Is there an underlying reason not to support this?

[2015-10-29 20:25] verb opened #16534 "KubeDNS incompatible with musl"
KubeDNS relies on libc resolvers querying nameservers in-order, but musl queries nameservers in parallel:

http://wiki.musl-libc.org/wiki/Functional_differences_from_glibc#Name_Resolver_.2F_DNS

This means that distributions built on musl such as Alpine Linux cannot use KubeDNS. I've included some debugging information from my test cluster running 1.0.6 on GKE.

Querying the nameservers in my reso

[2015-10-29 20:25] ihmccreery opened #16535 "Remove E2E_SET_CLUSTER_API_VERSION; it's confusing and unnecessary"
For a while, we were running tests against GKE at versions we didn't realize, because we weren't properly setting `E2E_SET_CLUSTER_API_VERSION`.  See #16533.

[2015-10-29 20:26] pmorie commented on #16514
@thockin We can do that, yeah.

[2015-10-29 20:26] pmorie commented on #16514
@thockin I'll start coding up a PR

[2015-10-29 20:28] wojtek-t commented on #15349
@timothysc : I will look into cacher_test.go (since I wrote this test).

[2015-10-29 20:29] thockin commented on #16534
This is a known issue, but deeper than you document.  On top of this, they ignore search paths entirely.  I have been conversing with their devs to get a plan to support search paths, and we will switch to a more compatible mode of `nameserver` lines.   We have another bug for that (#15592), so I am going to close this.

[2015-10-29 20:29] #16534 closed

[2015-10-29 20:31] thockin commented on #16514
Before you get too deep into it, make sure that the current callers of
IsReadOnly can be satisfied cleanly.  Maybe we want a helper like
volume.IsReadOnlyToHost(builder) and volume.IsReadOnlyToContainerUsers() or
something

On Thu, Oct 29, 2015 at 1:27 PM, Paul Morie <notifications@github.com>
wrote:

[2015-10-29 20:35] pmorie commented on #16514
Yep, I am going to analyze all the call sites before changing anything since I need to refresh my memory about how the PV code uses this.

[2015-10-29 20:36] bgrant0607 opened #16538 "examples/high-availability needs a README.md"

[2015-10-29 20:36] ihmccreery commented on #13602
Just watch the tests go green (with #16533) and put them in critical builds.

[2015-10-29 20:39] smarterclayton commented on #16532
I'm thinking back to this... and I really can't remember why we did this *except* in our original "let's not be too aggressive about exposing logging".  However, in practice both Docker and journald (as well as others, likely) support follow and tail at the same time, and it's a very common use case.

I'd like to remove this.

[2015-10-29 20:41] janetkuo commented on #16391
Looks like Jekyll doesn't recognize tabs used in `{% highlight yaml %}`. https://raw.githubusercontent.com/kubernetes/kubernetes/gh-pages/_v1.1/docs/user-guide/compute-resources.md

[2015-10-29 20:41] smarterclayton commented on #16532
@thockin @brendandburns because you were involved in reviewing the original https://github.com/kubernetes/kubernetes/pull/1318

[2015-10-29 20:47] erictune commented on #14140
Is a flag sufficient, rather than a new condition?

[2015-10-29 20:47] bgrant0607 commented on #16391
Ok, that does appear to be it.

[code]

Please file an issue to write a munger to replace the tabs with spaces.

[2015-10-29 20:51] erictune commented on #14913
In https://github.com/kubernetes/kubernetes/issues/13896#issuecomment-144591846 @karlkfi argues that we should run from head.  I'm fine with that.  In that case, the branch should be deleted and the script updated.

[2015-10-29 20:52] thockin commented on #16532
Remove what?

On Thu, Oct 29, 2015 at 1:42 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-10-29 20:52] mikedanese commented on #14140
See https://github.com/kubernetes/kubernetes/pull/14054#issuecomment-144229094

[2015-10-29 20:53] janetkuo opened #16541 "Write a munger to replace the tabs with spaces in ```yaml of *md"
Follow up https://github.com/kubernetes/kubernetes/issues/16391#issuecomment-152316646

Tabs in ```yaml causes problem in gh-pages. Write a munger to replace `<tab>` with `<space>`.

[2015-10-29 20:53] janetkuo commented on #16391
Filed #16541

[2015-10-29 20:53] nikhiljindal commented on #15893
https://github.com/kubernetes/kubernetes/pull/16540 to fix the navigation sidebar issue

[2015-10-29 20:57] liggitt commented on #16532
Explicitly disallowing specifying tailLines while following:
[code]

[2015-10-29 20:58] smarterclayton commented on #16532
The if check which prevents tail and follow being specified (which docker
and journalctl allow)

On Thu, Oct 29, 2015 at 4:52 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-10-29 21:00] liggitt commented on #16532
cc @spadgett

[2015-10-29 21:03] bgrant0607 commented on #12611
cc @mml

[2015-10-29 21:04] thockin commented on #16532
Oh.  SGTM

On Thu, Oct 29, 2015 at 2:00 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-10-29 21:04] bgrant0607 commented on #1574
cc @mml

[2015-10-29 21:04] bgrant0607 commented on #7351
cc @mml

[2015-10-29 21:04] bgrant0607 commented on #3885
cc @mml

[2015-10-29 21:04] jackgr opened #16543 "Determine how apply annotation should be serialized"
Forked from #16441, starting at [this comment](https://github.com/kubernetes/kubernetes/pull/16441#issuecomment-151935611).

To summarize, when creating the apply annotation in [pkg/kubectl/cmd/apply.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/apply.go), we are serializing the object client side using the mapping codec. We are also deserializing it client side in [pkg/

[2015-10-29 21:07] erictune commented on #15985
- [Delete a Job can't cleanup the completed pods it created #16255

[2015-10-29 21:16] erictune commented on #16105
Someone
9maybe @mikedanese) should create a new issue to do the behavior @bgrant0607 mentioned before DaemonSet goes beta, and then mention that issue as a graduation-to-beta requirement on #15310, and then close this issue.

[2015-10-29 21:19] mikedanese commented on #16105
is already part of #15310 but is a gradutation for v1, no beta. Should that be bumped to beta graduation requirements? Anything that isn't covered by the bullet?

[2015-10-29 21:21] jbeda commented on #16508
Sounds good -- note that it actually *does* support argv switching.  We can get by with just symlinks to emulate the old binaries.

[2015-10-29 21:27] erictune commented on #16105
Ok, fine as is.

[2015-10-29 21:37] yifan-gu commented on #16289
It's wired, the artifacts are not updated... Let me check..

[2015-10-29 21:38] roberthbailey commented on #16446
That works from consumer accounts, but not from accounts that are tied to a domain with domain restrictions. Instead I can share it with anyone within the domain that has the link rather than anyone that has the link.

[2015-10-29 21:47] thockin commented on #16508
And we should get kubectl in there

On Thu, Oct 29, 2015 at 2:22 PM, Joe Beda <notifications@github.com> wrote:

[2015-10-29 21:48] bgrant0607 commented on #16391
Fixed.

[2015-10-29 21:48] #16391 closed

[2015-10-29 21:53] bgrant0607 commented on #15893
All of the issues mentioned above have been fixed and merged.

#16542 to change links to point to release branch instead of patch version tag.

[2015-10-29 21:56] erictune commented on #14384
It turned out this was not causing job e2e flakes.  Just sending 500s that were confusing.  So lowering priority.

[2015-10-29 21:57] yujuhong commented on #16296
@huang195, how did you set the housekeeping_interval for cadvisor and also how did you collect the cpu usage? It'd be nice to know the details to make sure we are on the same page.

To provide more reference points, I collected cpu usage for kubelet and docker with and without cadvisor (using a complete mock).

**CPU USAGE WITH CADVISOR MOCKED OUT, kubelet sync interval: 10s**
![cpu_w_cadvisor_moc

[2015-10-29 21:59] jetole commented on #16446
@roberthbailey: Sort of. I just checked on my Google Apps docs instead of my personal one and there is and from the choice of who you want to share with, click "More" at the bottom of the drop down. This will allow you to select from "Public to the web", "Anyone with a link", two other options specific to domain members as well as disabling it entirely. Below that you can choose the level of acces

[2015-10-29 22:03] dchen1107 commented on #16367
cc/ @saad-ali

[2015-10-29 22:04] #11852 closed

[2015-10-29 22:05] janetkuo opened #16550 "swagger ui link doesn't work well in gh-pages"
In http://kubernetes.io/v1.1/docs/api.html, clicking on the link **statically generated UI** (http://kubernetes.io/third_party/swagger-ui/) returns you a blank page.

cc @bgrant0607 @nikhiljindal @caesarxuchao

[2015-10-29 22:05] stts commented on #11852
NAVER - http://www.naver.com/
--------------------------------------------

keliong@naver.com 님께 보내신 메일 <Re: [kubernetes] Building takes TOO much memory and fails (#11852)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-10-29 22:07] bgrant0607 commented on #15893
After we fix the links, we need to delete and re-copy the docs from release-1.1 to gh-pages again.

[2015-10-29 22:10] roberthbailey commented on #16446
From what I understand, domain admins can apply restrictions on what sharing options are available. There aren't "Public to web" or "Anyone with a link" options on my sharing dialog; only the domain specific ones.

[2015-10-29 22:15] bgrant0607 commented on #10797
#15915 filed to delete the swagger UI

[2015-10-29 22:15] zmerlynn commented on #16517
@bparees That project looks really neat. One of my biggest concerns about doing something like that, though, is that it's pretty heavy to build/push a new image. It may be naive, but I would really like to be able to ship composable units that can be configured so an end-user doesn't have to re-build the container.

The place I definitely see `source-to-image` working is actually the package manag

[2015-10-29 22:15] bgrant0607 commented on #16550
We plan to delete the swagger UI. #15915

[2015-10-29 22:16] janetkuo opened #16552 "Broken link api-groups in gh-pages"
In http://kubernetes.io/v1.1/docs/api.html#api-groups, the link to **API groups** http://kubernetes.io/v1.1/docs/proposals/api-groups.md is incorrect. Shouldn't it be .html?

cc @bgrant0607 @caesarxuchao @nikhiljindal

[2015-10-29 22:19] nikhiljindal commented on #16550
Nice catch.
gh-pages should treat that as an external link. Right now it does not : https://github.com/kubernetes/kubernetes/blob/gh-pages/_layouts/docwithnav.html#L151

[2015-10-29 22:23] bgrant0607 commented on #16552
That file doesn't exist. Should be http://kubernetes.io/v1.1/docs/proposals/api-group.html

[2015-10-29 22:25] bgrant0607 commented on #16552
Link needs to be fixed in master.

[2015-10-29 22:25] janetkuo commented on #16552
Fixing it

[2015-10-29 22:26] bgrant0607 commented on #16552
But it also demonstrates that some munger is confused.

[2015-10-29 22:26] lavalamp commented on #16500
Using headers to encode version info would be interesting, but we've never done it so far.

If we did it consistently, we could omit the version from the path. I think we'd want to keep the group? But that's a much bigger can of worms.

[2015-10-29 22:27] bparees commented on #16517
building new/custom images is definitely a trade-off.  The cost is out of the box time/effort, the pay off is you end up with an immutable image you can move between environments without risking losing configuration details.  At a minimum maybe it's something to consider enabling even if it's not the only way to allow config injection.  (ie allow both a lightweight runtime way to inject config, an

[2015-10-29 22:27] caesarxuchao opened #16555 "Need to cherry-pick #16553"
#16553 fixes versionize-docs.sh and mark-new-version.sh to rewrite links to release branch rather than to the tag.

[2015-10-29 22:32] janetkuo commented on #16552
Yes, and it'd be useful if munger can verify if the link referenced in .md works

[2015-10-29 22:32] roberthbailey commented on #16407
For reference, this is failed in kubernetes-e2e-gke-test

[2015-10-29 22:34] zmerlynn commented on #16517
@bparees: Agreed. And it loops back on the config parameterization, because you (obviously) need to override the entire set of image names in the resources for Spark if you end up re-baking the configs as you suggest. I think the next level of something like `source-to-image` is one that's a little more k8s aware: if we had a concept of "package source" where the docker images were built with `sou

[2015-10-29 22:36] zmerlynn commented on #16517
@bparees: (And to be fair, that could be done with a minor amount of, say, Jinja templating right now if someone wanted to do a one-off solution until we could settle on something better. So I might be letting perfect get in the way of good enough. I'll think about it s'more.)

[2015-10-29 22:37] bgrant0607 commented on #16552
There are no .md docs on kubernetes.io, so no such links should exist. The munger should direct to the release branch in the case the doc isn't present in gh-pages, or to HEAD if the doc isn't present in the release branch. Obviously if the doc doesn't exist anywhere, the link isn't going to work, so it would be useful to print a warning in that case.

[2015-10-29 22:38] roberthbailey commented on #16407
@ixdy recently moved that job into a new cloud project (for isolation) and I'm guessing we didn't quite finish all of the steps (in particular, adding ssh keys into the new project).

[2015-10-29 22:39] lavalamp opened #16558 "Problem statement: interact with 3rd party API sources"
For 1.2, we want to make API groups into a feature that enables people to build kubernetes APIs outside of our repository. The biggest missing piece of that is some mechanism by which kube-apiserver can find and report these resources for use by clients.

There's at least three mechanisms we can use to solve this:
* 3rd party storage (@brendandburns' system, partially implemented).
* Webhooks (I s

[2015-10-29 22:39] roberthbailey commented on #16407
This test is also failing consistently on the kubernetes-e2e-gke-ci-reboot job, which was also recently moved into a new project.

[2015-10-29 22:41] caesarxuchao commented on #16552
Our munger should caught this relative link is invalid:
https://github.com/kubernetes/kubernetes/blob/master/cmd/mungedocs/links.go#L120

[2015-10-29 22:44] caesarxuchao commented on #16522
#16553 needs to be merged and cherry-picked, otherwise the bug will relapse once someone run versionized-docs.sh or mark-new-version.sh again.

[2015-10-29 22:44] ihmccreery commented on #16522
FYI I have #16102 which will supplant `mark-new-version.sh`.  We should coordinate efforts.  As it stands right now, I have it running `mark-new-version.sh` on a beta release, which will link docs to the `vX.Y.Z-beta` tag, but, that still isn't really right.

[2015-10-29 22:44] wernight commented on #12680
+1 I love the idea of simpler deployment (while maintaining more advanced manual deployment why not).

[2015-10-29 22:46] roberthbailey commented on #16407
I've added ssh keys and I'll keep an eye on the next Jenkins run to see if the tests start passing.

[2015-10-29 22:47] caesarxuchao commented on #16522
@ihmccreery
Discussed with @nikhiljindal @bgrant0607 @lavalamp etc, we thought link URLs in a tag or link URLs in a release branch should all point to the release branch.

Could you point us to the discussion that leads to "links should point to a tag"? Thanks.

[2015-10-29 22:49] ihmccreery commented on #16522
Hm.  What you propose means that, if I think I'm looking at docs for `v1.1.1`, I'll actually be looking at docs for `release-1.1`/HEAD.  That basically abandons the idea of versionizing docs.  Is that really what we want?

Ideally, I think, we'd like to have docs on the release branch pointing to the release branch, as @caesarxuchao describes, but we also need to have docs in a release point to th

[2015-10-29 22:50] ihmccreery commented on #16522
(I don't have a particular discussion I'm thinking of, but not having a canonical set of `v1.1.1` docs seems weird to me.)

[2015-10-29 22:51] bgrant0607 commented on #16522
Yes, we really want docs to point at release-1.1/HEAD.

[2015-10-29 22:51] bgrant0607 commented on #16522
Where "we" is at least me, @thockin, @lavalamp

[2015-10-29 22:53] ihmccreery commented on #16522
Haha.  K, you win.  :smile:  Happy to be overruled.

Will update #16102 accordingly.

[2015-10-29 22:56] bgrant0607 commented on #16522
Note that on kubernetes.io we also only have docs per minor version, not per patch version.

[2015-10-29 22:57] ihmccreery commented on #16522
Cool.  Just so we're all on the same page, this means that we'll no longer rev docs at patch bumps, (e.g. `v1.1.1` -> `v1.1.2`,) just at major cycle bumps, (when we cut the `release-1.2` branch).

[2015-10-29 22:59] #16552 closed

[2015-10-29 23:00] #16507 closed

[2015-10-29 23:01] ihmccreery commented on #16522
(So this change doesn't actually need to be cherrypicked; I just need to update #16102.)

[2015-10-29 23:01] bgrant0607 commented on #16522
There's no reason we can't copy docs over to gh-pages from the release branch even more often than patch releases.

[2015-10-29 23:02] bgrant0607 commented on #16522
@ihmccreery We need #16553 merged in O(minutes).

[2015-10-29 23:04] lavalamp opened #16560 "Problem statement: Generate clients and rest setup code from... what?"
Background: Client proposal in #15730, api type structure proposal in #16062

At first I was thinking we'd generate based on tags in the comments, e.g. something like:

[code]

And the result would be something like our current PodsNamespacer client. But then I got to thinking that it'd be super nice to have type information in the methods, to handle the case where e.g. the Binding() method takes

[2015-10-29 23:24] saad-ali commented on #16367
Volumes remaining attached to downed nodes, is a known issue. See https://github.com/kubernetes/kubernetes/issues/14642. We're working on a fix. See https://github.com/kubernetes/kubernetes/issues/15524. We've made some changes recently to make GCE PD attach/detach more robust. See https://github.com/kubernetes/kubernetes/pull/16053. But the best way to fix all the issues you mentioned will be to

[2015-10-29 23:24] #16367 closed

[2015-10-29 23:25] ihmccreery commented on #16555
That's #16553, not #16533, I believe.

[2015-10-29 23:28] lavalamp commented on #16558
Will link previous issues as I find them, starting with #3201

[2015-10-29 23:32] lavalamp commented on #16429
Yes, that's correct. You can't take too long between the LIST and WATCH calls. I think in the future, the watch window will be 1000 changes per resource.

[2015-10-29 23:34] lavalamp commented on #16429
This is actually documented:

https://github.com/kubernetes/kubernetes/blob/c28ddf9ff8632bf5d545a0de7d84509214f45ea0/docs/devel/api-conventions.md#L469

We're willing to take PRs to improve this, though.

[2015-10-29 23:35] smarterclayton commented on #16500
Classically in rest when you want to change the version you get, you send
the http Accept header with a list of the types you accept, something like:
 Accept: application/json;apiversion=v2,kind=Bar.  The default is always
applied by the server.

You always want the version in the URL so you can change names and path
structures across versions.

On Oct 29, 2015, at 6:26 PM, Daniel Smith <notificat

[2015-10-29 23:36] lavalamp commented on #16361
Marking P1 due to all the complaints.

[2015-10-29 23:36] GeneticGenesis commented on #14404
Hey guys,

Any more thoughts on this? We have a cluster exhibiting the same symptoms at the moment. Happy to grab logs etc. if needed.

Cheers,

[2015-10-29 23:37] lavalamp commented on #16128
This sounds awful :/

@mikedanese - does this explain what you were seeing?

[2015-10-29 23:37] bgrant0607 opened #16561 "Document doc release process"
Forked from #15893 and #16102.

After we publish 1.1 docs, we should document a process that would make sense for 1.2.

cc @nikhiljindal @caesarxuchao @janetkuo @krousey @ihmccreery @thockin @lavalamp

[2015-10-29 23:39] lavalamp commented on #16139
Do you want to advertise the external loadbalancer's port? Why?

[2015-10-29 23:40] lavalamp commented on #15056
I can't find it now, but long ago I filed an issue with golang about the way time.Duration marshals in json by default.

[2015-10-29 23:40] brandoncole commented on #16361
Thank you @lavalamp

[2015-10-29 23:41] bgrant0607 commented on #15893
Note that we found that the gh-pages munger (_tools/release_docs/main.go) is not idempotent. It expects the docs to be deleted from gh-pages and re-copied from the release branch.

[2015-10-29 23:43] lavalamp commented on #16076
P1 to figure out if it's a regression.

[2015-10-29 23:43] mikedanese commented on #16555
Wrong PR Number

[2015-10-29 23:48] mikedanese commented on #16128
It explains why it was so big, not why it was happening in the first place. I have a fresh master so I would expect no changes.

[2015-10-29 23:48] lavalamp commented on #16051
Can you post your Kubernetes version? Complete pod spec?

[2015-10-29 23:49] lavalamp commented on #16036
Harder than it sounds, because events may reference 3rd party objects for which we don't know this piece of information...

[2015-10-29 23:50] krousey commented on #15893
@bgrant0607 _tools/import.sh should be doing this.

[2015-10-29 23:52] lavalamp commented on #15859
It's a really big change. I wasn't planning on tackling this for 1.2.

[2015-10-29 23:53] lavalamp commented on #15829
Yeah, this seems like a good cleanup.

[2015-10-29 23:55] lavalamp commented on #15683
@wojtek-t, is there anything left to do on this, or did your changes take care of it?

[2015-10-29 23:56] lavalamp commented on #15672
I plan on doing this for 1.2.

[2015-10-30 00:02] lavalamp opened #16562 "Test failure information no longer shows in shippable?"
e.g., see: https://app.shippable.com/builds/56324fc9d15e2a0c007008ef

A test fails, but I can't figure out how to see the actual failure messages. @ixdy am I missing something or did this break?

[2015-10-30 00:02] lavalamp commented on #16462
We're just waiting for merges at this point.

[2015-10-30 00:04] #16522 closed

[2015-10-30 00:06] vishh opened #16563 "Clarify Garbage Collection semantics in Kubelet"
Kubelet can manage only one storage partition as of today.
Kubelet uses cadvisor to identify and track the overall usage of the partition where docker's storage directory is located.
If the docker daemon's storage directory is different from that of the root filesystem, kubelet will not realize this.
Depending on how the node is setup, kubelet's garbage collection behavior will change.

Single par

[2015-10-30 00:20] caesarxuchao commented on #16555
#16564 is the CP.

[2015-10-30 00:20] #16555 closed

[2015-10-30 00:25] bgrant0607 commented on #15893
_tools/import.sh doesn't work for me.
a) It doesn't actually work with /bin/sh. It needs bash.
b) I can't build the go tool due to lack of godeps

[2015-10-30 00:30] yujuhong commented on #16296
Update: I realized we had many fixes in cadvisor which were merged yesterday to release-1.1, so I reran the test using the latest commit in the branch (cadvisor rev aa6f80814bc6fdb43a0ed12719658225420ffb7d).

Using the new version, running ~100 pods with kubelet periodic sync almost completely turned off (once every hour). In other words, kubelet's cpu usage is mainly from cadvisor, serving states

[2015-10-30 00:30] mikedanese commented on #16555
Ops never mind.

[2015-10-30 00:36] bgrant0607 commented on #15893
#16567 to re-import

[2015-10-30 00:37] yujuhong commented on #16296
@huang195, I would suggest you getting the latest release-1.1, as from my experiment, the cadvisor cpu usage changed significantly. If you still run into issues, feel free to ping me.

By the way, I filed https://github.com/google/cadvisor/issues/945 to detect performance regression.

I also find disabling/faking cadvsior in kubelet useful for debugging and tracking resource usage, but I am afraid

[2015-10-30 00:40] davidopp commented on #16255
We shouldn't close this until we do the cherrypick. (I mean Kubernetes cherrypick, not the OpenShift cherrypicked mentioned elsewhere.)

[2015-10-30 00:40] bgrant0607 commented on #15893
Someone needs to regenerate the sitemap (step 2 in the PR description) after #16567 merges

[2015-10-30 01:19] bgrant0607 commented on #15893
#16567 is merged

[2015-10-30 01:19] bgrant0607 commented on #15893
Confirmed that red rectangles are gone

[2015-10-30 01:43] huang195 commented on #16296
@yujuhong thanks for that detailed analysis of the problem. To answer your questions:
1) I was using cadvisor's web ui to look at resource usage, just so that I don't introduce additional load to the system I'm trying to figure out where the overheads are
2) I was specifying housekeeping_interval as a cmdline option when starting kubelet process

What you have shown is similar to what I was seeing

[2015-10-30 01:46] huang195 commented on #16296
@yujuhong one other question: is there an easy way to mock out the cadvisor? It'd be nice to have a flag to specify what monitoring tool to use, e.g., default cadvisor, fake cadvisor, and other monitoring tools. Makes kubelet a bit more modular.

[2015-10-30 01:52] bgrant0607 commented on #15893
The sitemap generator didn't pick up the v1.1 docs. It crawls links, and there aren't any yet.

Also, with just the 1.0 docs, it crawled 256 docs and has a max of 500, so we may not be able to crawl all the 1.1 docs, unless we omit the 1.0 docs, which apparently is what would happen once we merge the robots.txt change, since legacy wasn't crawled.

[2015-10-30 01:55] bgrant0607 commented on #15893
Or it could just be that there are no links to legacy, I guess.

[2015-10-30 02:24] feihujiang commented on #16501
@krousey thanks for reminding me. And @miminar started to work on this, I'll work with him to fix this.

[2015-10-30 02:31] bgrant0607 opened #16569 "kubectl apply --force"
Similar to kubectl replace --force, we should support kubectl apply --force, but it should only delete and re-create the resource if the patch fails.

cc @jackgr

[2015-10-30 02:41] smarterclayton commented on #16076
This line:
https://github.com/kubernetes/kubernetes/blob/848fed8f4b811d7343d2b012708820817826837e/pkg/storage/etcd/etcd_helper.go#L474

used to defend against the same resource being written multiple times with
no content change.

On Thu, Oct 29, 2015 at 7:43 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-10-30 02:42] smarterclayton commented on #16076
Before, maps had deterministic order from encoding/json.  Is it true that
they still do under ugorji?

On Thu, Oct 29, 2015 at 10:41 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2015-10-30 02:50] bgrant0607 commented on #15878
Done

[2015-10-30 02:50] #15878 closed

[2015-10-30 02:53] bgrant0607 commented on #16105
Waiting on merge and cherrypick

[2015-10-30 02:54] bgrant0607 commented on #15805
Needs cherrypick, also

[2015-10-30 03:34] roberthbailey commented on #16407
The SSH-based tests are now passing on both kubernetes-e2e-gke-test and kubernetes-e2e-gke-ci-reboot.

[2015-10-30 03:34] #16407 closed

[2015-10-30 04:40] caesarxuchao commented on #16462
Closed by #16516

[2015-10-30 07:03] wojtek-t commented on #15672
Yes - we should do the same with ListOptions which I'm planning to do too.
However, this is blocked on #16376

[2015-10-30 07:05] wojtek-t commented on #15683
IIUC what Clayton wants is to solve it at the framework level. What is currently done is (in most cases), we just randomize the resync period when passing it as parameter to reflector.
So I would treat this is issue as "technical debt".

[2015-10-30 08:07] #16105 closed

[2015-10-30 09:15] willmore commented on #16188
Will this patch be applied to the 1.1 release branch?

[2015-10-30 09:34] soltysh commented on #16255
Just for the record, we're waiting for #16572 to close this.

[2015-10-30 10:14] ntquyen opened #16585 "ISCSI Volume: can't use volume plugins - no volume plugin matched"
This is my simple pod, taken from the example:
[code]

I already setup and format the iscsi target successfully, but below is the error I got:
[code]

I'm using kubernetes 1.0.1. Any help would be appreciated !

[2015-10-30 10:40] justingrayston commented on #12534
@thockin I reran this from my office network, and it reverted to a 'could not resolve' error rather than this strange look up. The iptables-save resulted in an empty save.

Anyway, I think there is something fundamentally going wrong with the way I have it set up.

I resolved the "Failed to list *api.Service: couldn't get version/kind; json parse error: invalid character '<' looking for beginning

[2015-10-30 11:14] Kaffa-MY commented on #16403
In fact, it's a bug in the flocker client which has out of date, it may fetch a deleted dataset and this dataset is not available.

[2015-10-30 11:55] 2opremio opened #16586 "Can't mount secret volumes"
When I try to create a pod which mounts secret volumes I get a `Unable to mount volumes for pod: exit status 1 ` error. For instance, when trying to create the example pod from https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/secrets :

[code]

[code]

This is a single node containerized k8s cluster for local development (based on https://github.com/kubernetes/kubernetes/blob/m

[2015-10-30 11:56] willmore commented on #15160
We too hit the restart failure on 1.1 with m3.medium.
M3.large fails as well.
M4.large works.

[2015-10-30 12:03] #16532 closed

[2015-10-30 12:10] 2opremio commented on #16055
Is this a duplicate of #16586 ? I get a different error.

@mikedanese @fgrzadkowski If it is, can you point me to the changeset which circumvents the problem?

[2015-10-30 12:35] 2opremio commented on #16586
When running kubelet `v1.0.7` I get the same error as in #16055 `Unable to mount volumes for pod "secret-test-pod_default": exec: "nsenter": executable file not found in $PATH`

Closing, since it seems to be a duplicate.

[2015-10-30 12:35] #16586 closed

[2015-10-30 12:39] 2opremio commented on #16055
OK, it seems to be a duplicate (I get almost the same error when running `hyperkube:v1.0.7`)

I'm still interested in the specific changeset which works it around in HEAD though.

[2015-10-30 13:18] wojtek-t commented on #16376
@lavalamp

Let me ask two more questions, because I'm not sure I understand everything correctly.

1. When we add unversioned ListOptions (and Delete*), we want to register this type in all apis, right?
Does it mean that in v1 API we will have both "v1.ListOptions" and "unversioned.ListOptions"? Is it possible (and is it going to work to have two types with the same name)? I'm afraid methods like

[2015-10-30 13:32] wojtek-t commented on #16076
@smarterclayton
As I mentioned before, we are still NOT using ugorji for encoding - we just use it for decoding.
So I strongly believer this is not the reason here.

[2015-10-30 13:37] huang195 commented on #16296
@yujuhong I see you pointed me to cadvisor.mock previously. I guess you used this one so cadvisor essentially is disabled?

[2015-10-30 13:58] swagiaal commented on #16514
nice

[2015-10-30 14:13] plamer opened #16588 "Namespaces not created but visible in kubectl"
Hello,

It seems my namespaces are not being created automatically when some object is created in that namespace. Here is my k8s version:

    {
      "major": "1",
      "minor": "0",
      "gitVersion": "v1.0.6",
      "gitCommit": "388061f00f0d9e4d641f9ed4971c775e1654579d",
      "gitTreeState": "clean"
    }

From the cli:

    kubectl get namespaces
    NAME      LABELS    STATUS
    default

[2015-10-30 14:18] ncdc commented on #16373
@lavalamp frames are assigned to each queue based on stream id, so if you sent > 50 frames to the stdin stream, that queue fills up and the loop that processes incoming frames is blocked until something starts reading from the stream. Working on a PR now.

[2015-10-30 14:44] pmorie commented on #16514
@thockin @markturansky I think I can keep this completely internal and maintain the existing ReadOnly notions in the API.

[2015-10-30 15:20] pmorie commented on #16514
@thockin @markturansky @swagiaal How do you like this for the API:

[code]

[2015-10-30 15:33] yujuhong commented on #16296
This would not work once you disable cadvisor, and it would give you inconsistent stats when you adjust the housekeeping interval in cadvisor. Basically you would be monitoring the stats while changing how you collect stats :)

kubelet doesn't expose this flag. Did you modify kubelet to do that?

I think you meant 10250, 10248 is a healthz port :-)

I think the difference came from different cadvi

[2015-10-30 15:39] yujuhong commented on #16296
Yes, I used the mock to return some valid machine and version info. FYI, the code is https://github.com/kubernetes/kubernetes/compare/master...yujuhong:cadvisor_mock

There is also [fake cadvisor](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_fake.go) that is being used in [kubemark](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubemark/hollow-node.

[2015-10-30 15:42] vishh commented on #16296
Kubelet is using cadvisor for some of its internal operations like garbage collection and so it is not recommended to mock out cadvisor.

[2015-10-30 15:44] yujuhong commented on #16296
This is mostly for benchmarking/debuging, etc, and I'd advocate that we should split cadvisor interface into a few, so it's clear what's needed for each component in kubelet.

[2015-10-30 15:46] yujuhong commented on #16296
Please also see https://github.com/kubernetes/kubernetes/issues/16296#issuecomment-152368025 for the use cases.

[2015-10-30 15:52] swagiaal commented on #16514
That looks good!

[2015-10-30 15:55] mikedanese commented on #16225
Need to evalute if #15791 fixes this

[2015-10-30 16:13] ihmccreery commented on #13602
Thanks to everyone for their hard work on this.  GKE upgrade tests for 1.0 to 1.1 are now in the 1.1 CI builds.

[2015-10-30 16:13] #13602 closed

[2015-10-30 16:19] a-robinson opened #16592 "e2e flake: horizontal pod autoscaling should scale from 1 pod to 3 pods and from 3 to 5 (scale resource: CPU)"
This test has failed twice in the last couple days, both times with the same issue ("Number of replicas has changed: expected 3, got 4"). I've copied the logs from today's failure below:

[code]

[2015-10-30 16:20] a-robinson commented on #16592
cc @jszczepkowski

[2015-10-30 16:33] antoineco opened #16593 "[AWS] all nodes marked "unhealthy" while EC2 API down"
We had a quite serious case today which caused all our pods to terminate because AWS had trouble with their EC2 service in Ireland (6:00 AM PDT)

Basically after 40s (corresponding to [`node-monitor-grace-period`](https://github.com/kubernetes/kubernetes/blob/master/docs/admin/kube-controller-manager.md)) of API downtime during which kubelet couldn't list EC2 instances, it hit the maximum node sta

[2015-10-30 16:36] erictune commented on #15859
What about at least making new types follow the rule?
DeploymentSpec and DaemonSetSpec  say:
[code]
even though it is required.  Only Job does this right.

[2015-10-30 16:45] lavalamp commented on #16376
This would be the plan, and we should be able to do it without breaking wire-format compatibility.

Maybe. I'd need to review that code again. It might be that we just need to register it once. We only need the double registrations if there's some conversion we want to happen, I think.

Presumably only one ListOptions at a time in any given group/version?

I think we'll have some plumbing to do to

[2015-10-30 16:46] lavalamp commented on #16373
Gotcha, thanks.

On Fri, Oct 30, 2015 at 7:19 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-10-30 16:48] ihmccreery commented on #15330
Closing as obsolete due to #16102.

[2015-10-30 16:48] #15330 closed

[2015-10-30 17:03] a-robinson commented on #16593
Thanks for the report @antoineco - that sounds terrible. Mind specifying which version of kubernetes you're on?

cc @justinsb @davidopp

[2015-10-30 17:07] fwalker opened #16596 "[User-guide] Minor issue with persistent-volumes walkthrough"
The [pod description](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/persistent-volumes/simpletest/pod.yaml#L15) of the persistent-volumes walkthrough contains the volume mount ``/var/www/html`` which seems to be outdated for the used nginx conatiner which is by default serving from the ``/usr/share/nginx/html`` folder.

As a result, the data wrtitten in ``/var/www/html`` in

[2015-10-30 17:18] rhvgoyal commented on #16563
Case of overlay I think should be very similar to aufs.

For device mapper, just looking at thin pool free space might not be sufficient in all the configurations. We have the capability to grow pool dynamically automatically if usage crosses user configured thresholds. Right now on fedora, by default when pool is 60% full, we grow it by 20% (If there is free space in volume group).

https://githu

[2015-10-30 17:20] #15805 closed

[2015-10-30 17:25] erictune commented on #15985
@bgrant0607 is Controllers-v2 really a graduation-to-stable requirement for jobs?  Seems pretty ambitious.

[2015-10-30 17:26] lavalamp opened #16598 "--runtime-config: very confusing"
This is a grab-bag of issues.
1. api/all=true doesn't change defaults for individual resources; people will expect it to e.g. enable daemonset, but it doesn't.
2. The help text on the CLI is confusing. I suggest just making it explicitly list _all_ of the various strings accepted. I suggest further constructing the string representing the default explicitly, and showing it as the default in the CL

[2015-10-30 17:29] lavalamp commented on #16462
everything merged.

[2015-10-30 17:29] #16462 closed

[2015-10-30 17:32] antoineco commented on #16593
Both 1.0.6 and 1.1.0-beta.

There are definitely workarounds, especially in this case I'm wondering if the cloud provider based health check is really necessary since all kubelets "ping" the master regularly (maybe it's just me who missed the real benefit of listing actual instances by querying the EC2 API)

[2015-10-30 17:33] bgrant0607 commented on #15985
@erictune The v2 features are not. I just wanted to think a little bit about any would result in breaking changes that couldn't be handled by API versioning. If I can't find time, I wouldn't block on it.

[2015-10-30 17:35] erictune commented on #9717
I am not going to personally validate all the getting-started-guides.  Conformance test is available for self-validation, and some people are using it.  Closing.

[2015-10-30 17:35] #9717 closed

[2015-10-30 17:36] erictune commented on #1053
Hoping someone from node team will pick this up.

[2015-10-30 17:39] a-robinson commented on #16596
Thanks for bringing up this issue, @fwalker! Would you be up for sending a pull request with the fix?

[2015-10-30 17:49] ihmccreery commented on #15801
I'm closing this, since `v1.0.7` was likely the last release for `1.0`, and this didn't make it in.  #13836 is in `1.1`.

[2015-10-30 17:49] #15801 closed

[2015-10-30 17:57] derekwaynecarr opened #16600 "Event recorder is too strict in counting cached events, can OOM a server"
Example scenario:

1. Create a replication controller A
2. Set A.Replicas to N+diff
3. A attempts to create diff pods, and is failed for each
4. For each failure in diff, A records an event with the failure

Problem:
If the error message across each failure is unique, the number of events produced can unexpectedly induce an OOM on the master by overloading etcd.  Common reasons for error messages

[2015-10-30 17:57] ihmccreery commented on #15734
@jlowdermilk Does your work to containerize tests take care of this?

[2015-10-30 17:57] tdeheurles commented on #12534
hi,

Following [that similar post](https://gist.github.com/guybrush/47bcd5f4e41a3be102b2), I fix the same issue by adding `kube_master_url` argument to the kube2sky.

[code]

If it can help some others ...

[2015-10-30 17:58] janetkuo commented on #15893
We should add `SITEMAP: http://kubernetes.io/sitemap.xml` to robot.txt (see http://www.advancedhtml.co.uk/robots-sitemaps.htm)

Tried some experiments on sitemap generator, here are the results:
- kubernetes.io returns 256 links
- kubernetes.io/v1.1 returns 286 links
- kubernetes.io/legacy returns 0 links

Conclusion: What's disallowed in robot.txt wouldn't be crawled by sitemap generator. We can

[2015-10-30 17:59] davidopp commented on #16593
@brendandburns

[2015-10-30 18:02] a-robinson opened #16601 "Docker stuck in a bad state on of our soak test cluster's nodes"
This has been causing all the soak test runs on the cluster to fail overnight.

General summary of what I see on the node:
* Docker is busted on one of the nodes.
* Trying to talk to it gets the error: dial unix /var/run/docker.sock: resource temporarily unavailable
* Supervisor's logs indicate that its checks of docker are failing, but it fails to restart docker:
Docker failed!
Stopping Docker: d

[2015-10-30 18:02] davidopp commented on #16593
ref/ #13398
ref/ #13412

(Brendan says the second one is a better description of the issue, but they are both basically the same as this one.)

[2015-10-30 18:03] ihmccreery commented on #13167
I maybe makes sense to do this as part of kubernetes/contrib#156, and just have the release merge-bot ignore/warn on non-cherry-pick PRs.

[2015-10-30 18:06] davidopp commented on #16593
#13417 purported to fix this and was merged before 1.1.0-beta IIUC; needs additional investigation.

[2015-10-30 18:07] roberthbailey opened #16602 "ServiceLoadBalancer should support simple GET on Ingress ips is failing on kubernetes-e2e-gke-ci-reboot"
This looks like it might be a configuration error on the jenkins machine:

[code]

[2015-10-30 18:12] antoineco commented on #16593
Sorry, I missed these ones, my search was too narrowed on EC2 specifically. Feel free to close my issue if it's a duplicate, and thank you very much for the quick answer!

[2015-10-30 18:14] ihmccreery commented on #3562
As we approach `v1.2`, the question of how far back version skew between internal components is allowed becomes more important.

Do we expect `v1.2` masters to work with `v1.0` `etcd`?  Our versioning design says we should be able to upgrade/downgrade between any minor version difference.  Do we expect that to hold, especially considering the graceful deletion snafu with `v1.1`?

[2015-10-30 18:15] jlowdermilk commented on #15734
Nope. The fact that tests run containerized means they have to run `godep go install ./...` on each run. We can't cache dependencies across builds otherwise we'll get into inconsistent states when testing prs that add/bump dependencies. We could mirror dependencies but that defeats the entire purpose of using godeps. I think this is just something we live with.

[2015-10-30 18:16] davidopp commented on #16593
I'll leave it open for now because we still need to investigate why you hit this problem running 1.1.0-beta, since the PR I mentioned was in that release.

[2015-10-30 18:21] antoineco commented on #16593
On 1.1.0-beta (Kubernetes v1.1.0-beta.266+65656cdbd89e08) the log messages were very similar, but the whole cluster went down in the same manner:

[code]

[2015-10-30 18:25] lavalamp commented on #16600
Proposal sounds reasonable to me.

How long did it take RC to make that many attempts? Perhaps it should retry slower. @davidopp

[2015-10-30 18:31] dchen1107 commented on #16601
which version of kubernetes?

[2015-10-30 18:32] ihmccreery commented on #15848
@fabioy Is there more to do here?  Do we need to put checks in place to prevent this from happening again?  And/or can we knock it down from `P0`?

[2015-10-30 18:34] janetkuo commented on #15893
Tried adding a link to v1.1 docs in my http://janetkuo.github.io/kubernetes/, and sitemap generator can find those links now. It didn't pick up v1.1 docs in http://kubernetes.io because it's not referenced anywhere.

[2015-10-30 18:34] vishh commented on #16601
I'm looking at the node.

[2015-10-30 18:34] dchen1107 commented on #16601
@vishh is going to take a look. Thanks!

[2015-10-30 18:39] jlowdermilk commented on #15848
I think we can close this. The reason #15787 got merged and broke e2e is that it added a test that made assumptions about the test environment that only hold when running from a kubernetes git repo (pr builder runs test from checked out repo, the continuous e2e tests download and extract release tars). We'll avoid doing that in the future.

[2015-10-30 18:40] erictune commented on #16600
SGTM as a quick fix if you are seeing this as a serious problem.

That said, I find it useful to be able to look at the log of a job and see what pods were created over the lifetime of the job, and this change would eliminate that.  Similarly, I think I want to see when container restarts happened, if they are infrequent (say I wanted to correlate with things happening in other parts of the system

[2015-10-30 18:50] #15848 closed

[2015-10-30 18:51] ihmccreery commented on #15734
@erictune Do you agree?  Can we close this?

[2015-10-30 18:51] bprashanth commented on #16600
Maybe we should just get a flavor of workqueue that understands util.backoff?

[2015-10-30 18:53] ihmccreery commented on #16041
@lavalamp How do you want to proceed with this?

[2015-10-30 18:54] nikhiljindal commented on #15893
Next steps:

* @caesarxuchao is adding version selector from Richie's PR (the default will still be 1.0). With that we will start linking to v1.1 docs from kubernetes.io and hence 1.1 docs will start being indexed by crawlers.
* To launch 1.1 (whenever we are ready to do that):
   * Submit rest of Richie's PR to flip all links to point to 1.1 docs instead of 1.0 (@caesarxuchao )
   * Update robots

[2015-10-30 18:58] janetkuo commented on #15893
Just in case sitemap generator failed to pick up the v1.1 link, create a hidden link to enable it. #16606

[2015-10-30 19:02] vishh commented on #16601
There seems to a kernel bug that is being triggered
[code]

I'm checking if the bug has been resolved upstream. A node restart should most likely fix it. I'm still debugging.

[2015-10-30 19:05] vishh commented on #16601
xref: https://github.com/docker/docker/issues/9605

[2015-10-30 19:09] chrislovecnm commented on #15524
@saad-ali do we have a final design on this?

[2015-10-30 19:12] huang195 commented on #16296
@yujuhong housekeeping_interval was an available option in `kubelet --help`, but I guess the option is passed to cadvisor eventually. I didn't modify any code.

[2015-10-30 19:14] lavalamp commented on #16041
@ihmccreery I think we should either conditionally disable the tests, or have the tests tolerate the old behavior.

[2015-10-30 19:15] vishh commented on #16563
SGTM. Should we be concerned about a race between auto-resizing and the kubelet GC thresholds?

IIUC, there are at-least two storage devices that kubernetes will have to manage from scheduling perspective.

[2015-10-30 19:17] huang195 commented on #16296
@vishh Can you explain what do you mean by "kubelet is using cadvisor for internal operations like garbage collection"? I briefly looked at that part of the kubelet code, and it looks like kubelet is using cadvisor to collect information about file system, disk, local machine, images, orphaned containers, etc. When you say garbage collection, you mean things like removing dead containers and remov

[2015-10-30 19:23] vishh commented on #16296
Kubelet uses cadvisor to export machine capacity, track filesystem usage, perform garbage collection of old containers and images, monitoring resource usage, etc. I might be missing other use cases.
Without cadvisor, scheduling will be broken.

Keep in mind that kubelet uses dead containers as a tombstone. So it is not advised to perform image or container GC behind kubelet.

[2015-10-30 19:28] yujuhong commented on #12540
UPDATE: I was distracted by release-1.1 issues and general kubelet debugging and resource usage issues. I plan to return and finish my WIP PRs.

Here is a TODO list (which may be updated from time to time to include more details and progress):

**[P1] Pod lifecycle event generator (PLEG)**
*Proposal #12802*: Leverage the container runtime event stream to replace existing periodic polling of contai

[2015-10-30 19:29] yujuhong commented on #12540
@dchen1107, @Random-Liu, FYI, I updated the TODO list in the comment above.

[2015-10-30 19:35] yujuhong commented on #16296
Ah..that's pulled directly from cadvisor. I didn't check the code there. Sorry for the confusion.

Also, I forgot to mention that when using cadvisor mock, you'll have to gather the stats yourself since cadvisor no longer does that for you. An easy approach is to run a small script to check `/sys/fs` periodically. If you do it every second and only for kubelet and docker, the overhead should be ne

[2015-10-30 19:46] yujuhong commented on #16296
Clarification: scheduler only looks at the "capacity" of the node as of now; it does not take into account of the actual resource usage. This may change in the future, but for now as long as your mock provides the correct cpu, memory info and disk capacity, scheduler would be fine.

As for garbage collection, only image GC asks cadvisor for docker image FS usage.
Kubelet does use cadvisor to detec

[2015-10-30 19:49] rhvgoyal commented on #16563
One race could be that we checked thin pool's free space, and before we checked volume group's free space, pool got extended. That will give us wrong impression about available free space. May be we recheck in a loop to make sure pool did not grow in between reading two values and if it did, redo the operation.

[2015-10-30 19:54] piosz commented on #16592
Duplicate of #16425. I'll take a look early next week.

[2015-10-30 19:54] #16592 closed

[2015-10-30 20:00] bgrant0607 commented on #16600
cc @vishh

[2015-10-30 20:28] derekwaynecarr commented on #16600
The error was related to validation, and the response included the generated pod name, which made it unique.  The data is fixed in our case so the immediate bleeding stopped, but I am concerned that there are other control loops that record events that may produce similar problems if the ```Event.Reason``` is fundamentally the same from the actor (controller tried to create a instance of X), but t

[2015-10-30 20:32] huang195 commented on #16296
@vishh @yujuhong thank you for the detailed explanation on the pros and cons on this unusual way of running cadvisor in kubelet

[2015-10-30 20:35] Random-Liu commented on #12540
Wow! Nice~

[2015-10-30 20:37] derekwaynecarr commented on #16600
The fix discussed here is really only addressing the problem for controllers that use our event recorder interface and do client-side event compaction, we may want to think about doing event compaction on the server.

@erictune - I like your suggestion, and agree you should not lose fidelity in well-behaved scenarios.

[2015-10-30 20:37] yifan-gu commented on #12540
@yujuhong Thanks :)

[2015-10-30 20:38] derekwaynecarr commented on #16600
I will submit a code change Monday.

[2015-10-30 20:40] bgrant0607 commented on #15844
We haven't yet developed a way to reference other resources in the downward API, AFAIK.

Also, the downward API syntax is generic. We might want something more concise for config keys.

[2015-10-30 20:47] bgrant0607 commented on #15627
ConfigData proposal: #6477
Config template parameterization: #11492
Env file request: #8800

[2015-10-30 21:05] dchen1107 commented on #12540
Very nice. Both p1 items listed in https://github.com/kubernetes/kubernetes/issues/12540#issuecomment-152625606 in our 1.2 roadmap already. Thanks!

[2015-10-30 21:11] bgrant0607 commented on #15226
+1 to multiple MIGs. We need to support heterogeneous clusters, anyway.

Let's try to keep most of the code entirely oblivious to MIGs.

Somewhat relevant: #16199

[2015-10-30 21:17] jbeda opened #16618 "Update default etcd version"
Right now we have 2.0.12 set in quite a few places.  This is from June.  Probably time to update to something newer.  Now is a good time to do it as we can flush out any issues before v1.2 is released.

[2015-10-30 21:18] jbeda commented on #16618
I'm happy to get a PR together and do some initial testing.  However, I need someone with write access for gcr.io/google_containers to do the following:

1. `cd cluster/images/etcd`
2. edit the `Dockerfile` to update the tag and version to `2.2.1`
3. Run `make`

As this won't update the current image that lots of folks are using, this should be 100% non-breaking.

[2015-10-30 21:22] joshk0 commented on #16229
Would be nice to at least update the docs to indicate that you can't use go>1.4.

[2015-10-30 21:29] caesarxuchao commented on #14384
@lavalamp How about a NewBadRequest error? https://github.com/kubernetes/kubernetes/blob/master/pkg/api/errors/errors.go#L187

[2015-10-30 21:30] dchen1107 commented on #15222
Yes, it only affects daemon's log, not container logs.

I verified it after syncing to HEAD, and it is indeed broken at Kubelet level. Re-assign it back me.

[2015-10-30 21:34] bgrant0607 commented on #16500
It would be great to have someone who really knows REST to take a look at our API and provide feedback #4187 (not that we'd implement all of it).

[2015-10-30 21:40] janetkuo commented on #15893
Sitemap generator now finds v1.1 links after #16606 is merged.

[2015-10-30 21:49] smarterclayton commented on #16500
We're all hostages now.

I have to say, I saw the GCE type encoding scheme today and I like it
better than apiVersion and kind :)

On Oct 30, 2015, at 5:34 PM, Brian Grant <notifications@github.com> wrote:

It would be great to have someone who really knows REST to take a look at
our API and provide feedback #4187
<https://github.com/kubernetes/kubernetes/issues/4187> (not that we'd
implement all

[2015-10-30 21:49] lavalamp commented on #14384
@caesarxuchao that certainly sounds like an improvement.

[2015-10-30 21:55] a-robinson opened #16623 "e2e flake: Daemon set should run and stop complex daemon"
This has been flaking pretty often lately - in 5 out of the last 11 runs of kubernetes-e2e-gce-flaky, to be specific. I've copied the output of one such failure run below.

Sorry if there's already an issue tracking this, I couldn't find anything other than #14072, which is for a different test.

@mikedanese

[code]

[2015-10-30 22:01] mikedanese commented on #16623
Thanks for filing! I'll look into it.

[2015-10-30 22:05] ixdy commented on #16602
This test is broken and has never worked on Jenkins. It's skipped for GCE but not GKE (https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L108).

The issue is that the test depends on files in `test/e2e/testing-manifests`, but these are not included in the kubernetes-test tarball. Most likely `hack/lib/golang.sh` needs to be updated to include these files.

The test will work

[2015-10-30 22:18] bprashanth commented on #16602
sorry I thought I'd disabled it: https://github.com/kubernetes/kubernetes/pull/16625

This test pulls an image from /contrib and is meant so people from the community can run ad-hoc tests against a kube cluster with the haproxy loadbalancer. Running it on our internal jenkins builder was never the goal (we eventually will, but we're not there yet with the Ingress api). However since all the kube-u

[2015-10-30 22:22] bprashanth commented on #16602
But it is also really confusing that it worked locally and not in production. I'll fix one way or another anyway when I have some time (either modify golang.sh or embed the manifests in the test).

[2015-10-30 22:26] caesarxuchao opened #16626 "Document how to add a new API group"
AFAIK, we don't have a documentation on how to add a new API group. Currently we have #16621 and #13146 that try to add a new API group. I will draft a guide to ease the future endeavor of adding groups. And probably by writing this guide, I will see how can we make the API group machinery easier to use.

cc @mikedanese @timstclair @lavalamp

[2015-10-30 22:27] ixdy commented on #16602
Yeah, you're not the first to run into issues with the tarballs not including all test dependencies.

[2015-10-30 22:28] smarterclayton commented on #1768
Regarding disabling the default service env vars, I would like to specify a way for a pod to enable injection (have it default to true for now).  And then eventually remove it.  So either a generator or env option which is *bool and defaults to true for v1.

[2015-10-30 22:30] yujuhong opened #16627 "Determine the fate of mirror pods"
I would like to open a discussion on how and whether we should continue support mirror pods, given that 1) mirror pods need to be treated differently in multiple places in kubelet, making them brittle, and 2) there are some limitations about mirror pods that may cause confusion (e.g., what to expect if user modifies mirror pods)?

*Background*
kubelet watches a few sources for pods: apiserver, htt

[2015-10-30 22:31] a-robinson commented on #16194
Closing as a dupe of #16308

[2015-10-30 22:31] #16194 closed

[2015-10-30 22:33] a-robinson commented on #16308
This happened again today in kubernetes-e2e-gce build 9197, leaking two disks. Bumping to P1 as a test flakiness issue now that we fail tests if any resources leak.

There's also a pretty large backlog of leaked disks laying around in the various projects (at least in that one and the parallel-flaky test) that should be deleted. I'll leave them though since I don't know whether there's anything yo

[2015-10-30 22:33] smarterclayton commented on #1768
Also actually allow you to generate their equivalent via downward API

[2015-10-30 22:33] vishh commented on #16600
IIUC, client side event cache is tied to the processes lifetime? We need server side compaction.

[2015-10-30 22:35] esecules commented on #16454
ping?

[2015-10-30 22:37] vially commented on #14234
I'm having the same issue (also with an image built by wercker) but I can pull and run the image manually using docker without any problems so I'm not sure the problem is in the image itself.

@fd Can you please provide more details about this issue. Thanks!

[2015-10-30 22:39] timstclair commented on #16627
It option 4, what happens if the static pod source is updated? Is there a way to delete a running static pod?

[2015-10-30 22:49] yifan-gu commented on #14234
@vially Have you tried to inspect the image using the go docker client library? What does that return?

[2015-10-30 22:49] yujuhong commented on #16627
If the static pod source is updated, kubelet should detect that and recreate the mirror pod. This would destroy the containers though.
Another option is to only allow kubelet to update the mirror pod.

[2015-10-30 22:50] fd commented on #14234
My guess is that wercker builds the image from a tar which might be missing some metadata used by go-dockerclient. 

—
Simon Menke

On Fri, Oct 30, 2015 at 11:38 PM, Valentin Hăloiu
<notifications@github.com> wrote:

[2015-10-30 22:51] a-robinson commented on #16308
And in this case, the leak coincided with a failure of `Pod Disks should schedule a pod w/two RW PDs both mounted to one container, write to PD, verify contents, delete pod, recreate pod, verify contents, and repeat in rapid succession`

[2015-10-30 22:51] vially commented on #14234
@yifan-gu I did not try that. In the meantime I've noticed that logging in through ssh into the nodes and manually removing the image `docker rmi image` fixed the issue for me. But obviously, this is only a workaround. I'll post here after I'll inspect the image using the go docker client library.

[2015-10-30 22:52] smarterclayton commented on #16444
Oops - I forgot to back port this from Openshift.

[2015-10-30 22:55] timstclair commented on #16627
Ok, thanks for the nice write up. Do you want to a note about what we do now? I believe from our discussion on Tuesday that we currently do something like option 5, but update inconsistently and don't address the 2 issues you raised.

[2015-10-30 22:57] saad-ali commented on #16308
The issue is understood, just need to make sure the tests first detach the
disk. So feel free to delete the existing leaked disks.

On Fri, Oct 30, 2015 at 3:52 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-10-30 23:01] dchen1107 commented on #16627
If we want to continue supporting static pods, we have to support mirror pods. But I prefer to mark it read-only in APIserver.

[2015-10-30 23:08] vially commented on #14234
Update: inspecting the image using the [go docker client library](https://github.com/fsouza/go-dockerclient) works fine.

[2015-10-30 23:13] brendandburns commented on #16593
I actually don't see that PR in the 1.1 release branch.  That PR covers node_manager.go and that file doesn't exist in the release branch as far as I can tell...

We should fix this in the release branch too (I don't think it will cherry-pick in cleanly)

[2015-10-30 23:14] brendandburns commented on #16593
I will get a PR out for this sometime this evening.

[2015-10-30 23:19] yujuhong commented on #16627
Added Option 6, which is what we use now.

[2015-10-30 23:21] yujuhong commented on #16627
If we go with option 2 and support static pods only on standalone kubelets, we wouldn't need mirror pods :-)

[2015-10-30 23:34] yifan-gu commented on #14234
@vially Thanks, are you using the master branch? I saw the go docker has made some change to the function.

[the version we used](https://github.com/fsouza/go-dockerclient/blob/76fd6c68cf24c48ee6a2b25def997182a29f940e/image.go#L189)
[current master](https://github.com/fsouza/go-dockerclient/blob/master/image.go#L198)

Can you try the go-docker client commit 76fd6c68cf24c48ee6a2b25def997182a29f940e

[2015-10-30 23:38] yujuhong commented on #16296
No problem. I am happy to discuss 100 pods scalability issues.

[2015-10-30 23:39] brendandburns commented on #16593
https://github.com/kubernetes/kubernetes/pull/16633 has a partial fix that will pick cleanly.

I'll think about if/how we can draw in the other fix as well...

[2015-10-30 23:46] vially commented on #14234
I just tried with the go-docker client commit `76fd6c68cf24c48ee6a2b25def997182a29f940e` and it also works without issues.

I'm still investigating this and I'll post here if I find anything else.

[2015-10-30 23:51] smarterclayton commented on #16517
There's definitely a local iteration flow that could be amped up.  Build from a repo, push, test.  Rapid rebuild of one of the images is the most painful part of a lot of these flows.

[2015-10-31 00:13] zmerlynn commented on #16517
Yeah, and I suspect in a lot of cases you want to build/test in a private project and publish in a real project. At least, larger organizations probably want this option available (`google-containers`, I presume OpenShift).

There's also a sub-bullet here I didn't blow out yet: We need a separate repo for "official" images, because we probably need to start doing "central" build on them that actua

[2015-10-31 00:19] Random-Liu commented on #15089
To figure out whether docker list with label filter could improve the efficiency, I did a small experiment to test.

**Benchmark**
Call client.ListContainers() of go-dockerclient for 100 Times.
* Total Container Number: 6101
* Container Number (with label "test=1"): 100
* Container Number (with label "single=1": 1

**Result**
* ListContainers()
  * each call time: 260.82 (ms)
  * total cpu time: 6

[2015-10-31 00:26] bprashanth opened #16636 "Verify all external resources in Ingress E2E"
Currently the E2E only verifies the top level resources (forwarding rules and backends) are cleaned up by the controller. In theory we shouldn't be allowed to delete the top level resources while something has a pointer to them, but the GCE api might change. The test needs to also dig into the other L7 resources and make sure the delete wasn't shallow (i.e health checks, instance groups, target pr

[2015-10-31 00:31] vishh commented on #15089
I guess this was what we were assuming is true with labels. Is there an issue filed against docker to improve label based queries?

[2015-10-31 00:48] Random-Liu commented on #15089
In the [original proposal of docker label](https://github.com/docker/docker/pull/9882), they proposed indexing and performance. I just check the code to make sure whether they have done that, haha

[2015-10-31 01:49] ashcrow commented on #16598
I started looking at the second and third items above in https://github.com/ashcrow/kubernetes/commit/10cd924465a71a5e0a6a3aa28c553d5008ddb6b3. I have a feeling I'm missing some valid inputs to ```--runtime-config``` though. Am I right in thinking it should be all of the non list items in https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/v1beta1/register.go#L35-L52?

[2015-10-31 03:36] brendandburns commented on #13398
Closing this since it was addressed by 313417

[2015-10-31 03:36] #13398 closed

[2015-10-31 03:56] brendandburns commented on #16593
Ok, the backport of #13417 is here:

https://github.com/kubernetes/kubernetes/pull/16641

[2015-10-31 04:03] vially commented on #14234
I think I've found the problem. I've been experiencing this issue on Google Container Registry which currently runs kubernetes version `1.0.6` and docker version `1.6.2`.

When running `docker inspect` on the wercker image, the `DockerVersion` field is an integer with a value of `1` instead of being a string (missing the double quotes). However, this only seems to happen on version `1.6.2` of dock

[2015-10-31 05:26] davidopp commented on #16627
Once we have DaemonSet, what are the use cases for static pods on non-standalone kubelets?

[2015-10-31 05:53] davidopp commented on #16600
+1 for @erictune 's solution

I agree we also need some kind of server-side protection from this; it's not good if a buggy client can cause the master to OOM.

We also should have some kind of backoff for the rate at which RC tries to re-create failed pods, as @lavalamp alluded to in his first comment.

[2015-10-31 06:11] davidopp commented on #16255
Fixed by #16611 (which replaced #16572)

[2015-10-31 06:11] #16255 closed

[2015-10-31 06:13] davidopp commented on #14674
@mikedanese said he's comfortable with moving this out of the 1.1 milestone, so I'm going to do that now. Not closing, as it's still pretty flaky.

[2015-10-31 06:14] davidopp commented on #16593
We've merged #16641 which I believe makes #16633 unnecessary. Once @brendandburns confirms that, we can close this issue.

[2015-10-31 06:14] davidopp commented on #16593
And thanks very much @antoineco for reporting this problem.

[2015-10-31 06:30] dalanlan commented on #16055
secrets thing ref #13791

[2015-10-31 06:35] dalanlan commented on #16055
and nsenter - - my guess is the following line would do. https://github.com/kubernetes/kubernetes/blob/master/cluster/images/hyperkube/Dockerfile#L13

[2015-10-31 09:47] antoineco commented on #16593
Thank *you* guys for the quick reaction 👍

[2015-10-31 10:17] ngtuna opened #16643 "go get k8s.io/kubernetes/pkg/api too many errors"
I'm playing with k8s by writing a go client to contact k8s api. However, when doing "go get k8s.io/kubernetes/pkg/api", there are too many errors:

$ go get k8s.io/kubernetes/pkg/api
# k8s.io/kubernetes/pkg/api
../../../k8s.io/kubernetes/pkg/api/types.generated.go:439: r.EncodeEnd undefined (type codec.encDriver has no field or method EncodeEnd)
../../../k8s.io/kubernetes/pkg/api/types.generated.g

[2015-10-31 10:58] 2opremio commented on #16055
@dalanlan Thanks for the pointers! It seems to be fixed in v1.1.0. I will build an image from master and give it a try.

BTW, is there somebody building hyperkube Docker images from master? (gcr.io/google_containers/hyperkube:v1.1.0 nor gcr.io/google_containers/hyperkube:latest exist)

[2015-10-31 11:15] dalanlan commented on #16055
hyperkube does not release quite often. That said, no `latest` tag to my best knowledge. You could always follow https://github.com/kubernetes/kubernetes/releases anyway.
Moreover, #13791 has not been cherry-picked into a formal release yet.

[2015-10-31 11:19] zmerlynn commented on #16517
cc @kubernetes/sig-big-data

[2015-10-31 11:47] 2opremio commented on #16055
OK, I confirm it works on master.

In case it's useful for someone else, I built my own hyperkube image from master 2opremio/hyperkube                    :664d2ef (see https://github.com/2opremio/kubernetes/tree/kubelet-HEAD-img/cluster/images/hyperkube)

[2015-10-31 17:09] mikedanese commented on #16643
You need to check out `github.com/ugorji/go/codec` to the revision listed in https://github.com/kubernetes/kubernetes/blob/master/Godeps/Godeps.json . Duplicare of #16361

[2015-10-31 17:09] mikedanese commented on #16643
Lets move discussion to #16361

[2015-10-31 17:09] #16643 closed

[2015-10-31 17:55] #15222 closed

[2015-10-31 18:07] ngtuna commented on #16643
Thanks @mikedanese

[2015-10-31 18:29] excpt0 opened #16644 "Interaction of multiple clusters"
Is there a solution/article/tool about interaction of multiple clusters on Kubernetes?

[2015-10-31 20:28] pikeas commented on #11764
Would love to see links to some of those presentations (here or in docs)!

[2015-10-31 22:06] dhart-alldigital commented on #12273
+1 blocker

[2015-10-31 23:39] evanphx commented on #16429
I'm seeing the same behavior using the API as documented. Namely fetching `/api/v1/namespaces/endpoints/metrics`, the object returned has `"ResourceVersion": "1694561"`. If I turn around and issue a watch with `/api/v1/watch/namespaces/endpoints/metrics?resourceVersion= 1694561` I get the error:

[code]

I presume the issue is that this particular endpoint has not been changed in a while (thats tr

[2015-10-31 23:40] imesh opened #16645 "Autoscaling Kubernetes Nodes"
Horizontal pod autoscaling [1] allows to optimize the resource usage based on the actual resource requirement. It is designed to scale the number of pods required to serve a given workload. However if the number of nodes in the Kubernetes cluster is fixed it will consume some amount of resources even though the number of pods running is minimal.

I would like to suggest to implement a feature to a

[2015-10-31 23:40] evanphx commented on #16429
One more quick comment: This isn't a documentation issue. It's a bug in the interaction between the client, apiServer, and etcd.

[2015-11-01 09:28] harai commented on #13997
I have the same problem on my AWS cluster, which consists of t2.micro EC2 instances.

The master and nodes often get unresponsive.  When it happens, over 90% of the CPU time is spent on IO wait and no idle time remains.

The version is 1.0.7.

[2015-11-01 19:12] caesarxuchao opened #16648 "[feature request] adding a script that adds nodes to k8s cluster on the fly"
AFAIK, we don't have such a script yet. Such a script will make it convenient for users who want to experiment k8s with more worker.

(this is forwarded for a user request during my user-support rotation)

[2015-11-01 19:16] babusatasiya commented on #16648
Thank you @caesarxuchao  Sure, I was looking forward to add more worker nodes to test scaling up pods and it run-out of resources. It would be good to have the automation to add/remove additional worker nodes.

These were failing due to resources, but was not clear from log messages.

Get gcloud eval account and try:
-----
curl -sS https://get.k8s.io | bash
kubectl run my-nginx --image=nginx --rep

[2015-11-01 19:21] babusatasiya commented on #16648
After installing four nodes, if I want to scale, it fails due to It can not find tarball.

bash-3.2$ ./kube-up.sh
... Starting cluster using provider: gce
... calling verify-prereqs

All components are up to date.

All components are up to date.

All components are up to date.
... calling kube-up
Project: bb8-101
Zone: us-central1-b
!!! Cannot find kubernetes-server-linux-amd64.tar.gz

[2015-11-01 22:31] mikedanese commented on #16627
Static pods are required for cluster bootstrapping. This may fall under the purview of "standalone" mode though.

[2015-11-01 22:47] bgrant0607 commented on #15982
Sort of related (I think it can execute tasks in parallel):

It might be useful to add Job/K8s support to Luigi, a workflow / batch DAG system:
https://github.com/spotify/luigi/tree/master/luigi/contrib

[2015-11-02 00:13] paralin commented on #13997
@dchen1107 So would that be a file descriptor limit?

[2015-11-02 00:43] paralin opened #16650 "Clean up failed docker containers"
At the moment, if a particular pod is in a CrashBackOff state, it will create and never delete a very large number of docker containers. If this is left running for any amount of time, I've found it can actually fill up the entire storage volume used for docker. This assumes, of course, that the app has some time to write some data before crashing, causing additional storage space to be used for e

[2015-11-02 01:43] paralin opened #16651 "Failed to collect filesystem stats, no such file or directory"
Running into this on my AWS cluster. Seems to happen every ~10 seconds.

[code]

Perhaps it's trying to check something that was deleted? It should probably handle this and stop trying to check after it discovers the diff has been deleted.

[2015-11-02 01:51] babusatasiya opened #16652 "Limit retries to schedule new pods, if resources are not available with error " 'failedScheduling' Failed for reason PodFitsResources and possibly others""
While using trial account on gcloud, I setup 100 pods, 55 were successfully started but 45 could not and were in Pending stats, Kuebernetes scheduler was trying to restart container end-less, It would rather hold in pending state and wait for resources available would be good. Kubernetes should have big picture of cluster and if resources gets available, pods in queue will get started rather tryin

[2015-11-02 02:15] resouer commented on #15634
@thockin Any suggestion about the refactoring above?

[2015-11-02 03:04] resouer commented on #16436
I'm also expecting this.

What's the preferred behavior in this case? Just run as a container? Or use a hyperkube container to install kubectl to $PATH?

[2015-11-02 03:16] resouer commented on #16506
I am thinking about can we generate full `pod.yml rc.yml` example based on `api/types`? Then we can add these things in comments.

[2015-11-02 03:25] feihujiang commented on #16588
Yes，as I know, namespaces are not being created automatically, you should create namespace firstly, then create resource in the namespace you created.

[2015-11-02 04:16] mikedanese commented on #16651
cc @vishh

[2015-11-02 04:21] mikedanese commented on #16644
Check out https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/federation.md
and https://github.com/kubernetes/kubernetes/blob/master/docs/admin/multi-cluster.md

cc @quinton-hoole

[2015-11-02 05:01] thockin opened #16654 "kubectl describe quota doesn't always format quantities"
[code]

268435456 should be 256 Mi?

[2015-11-02 05:08] paralin commented on #16650
My solution to this was to write a cleanup DaemonSet:

https://github.com/paralin/KubeCleanup

It's really rough but works. In the repo readme I discuss some ideas on how Kubernetes could address this issue.

[2015-11-02 05:26] paralin commented on #15968
@nikhiljindal Can this be closed now that the newer doc improvements around this have been merged?

[2015-11-02 05:41] resouer commented on #16627
+1 for static pods value in cluster bootstrapping.
I also know use cases that some companies integrate standalone kubelet into their own platform. I can see this is a value of kubernetes as you don't have to buy the whole idea.

[2015-11-02 05:47] feihujiang commented on #16588
Now it returns an error message  "Error from server: error when creating "./examples/blog-logging/counter-pod.yaml": namespaces "notexistent" not found". Server Version: version.Info{Major:"1", Minor:"2+", ...}

[2015-11-02 06:07] resouer commented on #16466
Option 2 sounds interesting: in this case, do we have to run a separate "storage machine" and then mount its image storage to every node?

[2015-11-02 06:59] davidopp commented on #12041
@lavalamp so you'd be OK with suppressing this on the Kubelet? (given that it won't cause pods to be evicted since OOD does not cause pod eviction)

[2015-11-02 07:21] dalanlan commented on #16650
kubelet has its own GC policy already. Ref [GC doc](https://github.com/kubernetes/kubernetes/blob/master/docs/admin/garbage-collection.md)
You might want to track #15564 for more detail

[2015-11-02 07:38] paralin commented on #16650
@dalanlan Thanks. Appreciated.

[2015-11-02 07:38] #16650 closed

[2015-11-02 08:25] jhou1 opened #16657 "Pod does not mount volumes with the given SELinux context"
Create a pod with nfs volume, in the pod template, define the SELinux options, when the pod is created, the nfs mount does not have the desired SELinux context.

Pod: https://raw.githubusercontent.com/openshift-qe/v3-testfiles/master/persistent-volumes/security/pod.json

Expected context: `system_u:object_r:svirt_sandbox_file_t:s0`

Actual context: `system_u:object_r:nfs_t:s0`

Result:
[code]

Vol

[2015-11-02 09:28] feihujiang opened #16658 "Creating a rootscoped resource with namespace doesn't return an error or a warning"
When I create a PersistentVolume  using the following config file:
[code]
We know PersistentVolume is not namespaced. But it doesn't return  an error or a warning.
Do we need to validate to return an error or a warning?

and the same handler to ``` ./cluster/kubectl.sh get persistentvolume --namespace=default```

[2015-11-02 09:42] resouer commented on #16538
How's this going? @jayunit100

I can not vagrant up this example, just need some clues to bring me out.

[2015-11-02 09:43] pikeas commented on #13056
+1 for either multi-AZ Kubernetes or Ubernetes. As an end-user in ops, my preference is for multi-AZ, because some AWS primitives (eg, elastic load balancer) are already multi-AZ aware, and this is a closer setup to existing production deployments.

Ubernetes may well be a better long-term, but it sounds like the work needed to bring that to look puts it off easily 6+ months. I'd rather see a good

[2015-11-02 11:11] wojtek-t commented on #16361
An update:
- go-etcd has already been update in https://github.com/coreos/go-etcd/pull/247
- I've send https://github.com/coreos/etcd/pull/3792 out for review to update etcd

Once this is merged, we should update ugorji, go-etcd and etcd in a single PR to fix that.

[2015-11-02 12:40] gmarek opened #16659 "Figure out why in e2e tests we sometimes see non-capitalized verb 'proxy', even though it's not registered in the API server"
cc @davidopp @lavalamp @wojtek-t

see https://github.com/kubernetes/kubernetes/pull/16505/files#diff-1e89bcf0907383889eec45f6713cb049R113

[2015-11-02 12:50] piosz commented on #16645
cc @fgrzadkowski @mwielgus

[2015-11-02 12:51] piosz commented on #16645
proposal #15304

[2015-11-02 12:55] piosz commented on #16648
cc @mwielgus

proposal is here #15304

[2015-11-02 13:00] tmrts commented on #15844
@bgrant0607 I was having issues while trying to generalize the downward API for referencing arbitrary objects. What do you have in mind for config key references? For example, a field like ``configDataRef`` that contains an object ID and a fieldPath for selection?

[2015-11-02 13:50] deads2k opened #16661 "Cross-namespace privilege escalation attack allowed by HPA"
An HPA request is submitted against namespaceA, but contains a reference to namespaceB (https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L75).  The request is accepted because I have rights to create on in namespaceA, but no checking is done to see if I can scale what I'm asking.

The HPA request has a namespace, but it also duplicated a namespace field instead of

[2015-11-02 13:50] deads2k commented on #16661
@liggitt happy monday.

[2015-11-02 13:53] jayunit100 commented on #16538
Hi! Let me make one.
Iirc it should work fine as is , possibly paste the error meanwhile?

[2015-11-02 14:04] liggitt commented on #16661
@kubernetes/kube-api @bgrant0607 can you weigh in on this approach to cross-API-group object references:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L70-L82

In my opinion, we should only have `ObjectReference` and `LocalObjectReference`, and make them work correctly with API groups and subresources. This is a third type of object reference thing, which concer

[2015-11-02 14:07] deads2k commented on #16661
@smarterclayton We'll need a fix on our side for 3.1

[2015-11-02 14:16] huang195 opened #16663 "mesos kubernetes is not honoring --max-pods parameter"
Using head of release-1.1 with default --max-pods=40. I was creating 100 pods on 2 slave nodes, which should have stopped creating once 80 pods were created, but it kept going and all 100 pods were created.

The pod spec I was using is (where container name is varied from 1 to 100)
[code]

`kubectl describe node` correctly stated that max pods is 40

Capacity:
 memory:        8209620Ki
 pods: