[2018-04-12 19:55] mwhipple commented on #62489
From what I can tell this is a result of the simple selection what to consider the LB security group here: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L3733

I'd think a simple solution would be to prefer a kube owned SG if one is present (which there should always be if one is created for the LB as expected). I should be able to get a PR together if

[2018-04-12 19:56] MrHohn opened #62490 "DNS configMap tests are failing in serial CI"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind e2e-test-failure
/priority failing-test
/sig network

**What happened**:
From http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial&width=20,  DNS configMap tests are failing since https://github.com/kubernetes/kubernetes/pull/62042 was merged with below error:
[code]

@grayluck

[2018-04-12 19:57] mwhipple commented on #62489
This may also be related to #62204

[2018-04-12 19:59] mwhipple commented on #62489
/sig aws

[2018-04-12 20:08] grayluck commented on #62490
Working on it.

[2018-04-12 20:18] #61919 closed

[2018-04-12 20:24] liggitt commented on #61510
As a first step, I would adjust the documentation. As noted in https://github.com/kubernetes/kubernetes/issues/61510#comment-375316023, if we want to support ports other than 443, that information needs to be added to the webhook config object

[2018-04-12 20:24] wenjiaswe commented on #62098
cc @mbohlool

[2018-04-12 20:25] wenjiaswe commented on #62120
cc @mikedanese

[2018-04-12 20:25] wenjiaswe commented on #62130
cc @cheftako

[2018-04-12 20:27] wenjiaswe commented on #62153
/remove-sig api-machinery

[2018-04-12 20:28] wenjiaswe commented on #62185
cc @mbohlool

[2018-04-12 20:30] wenjiaswe commented on #62277
cc @mbohlool

[2018-04-12 20:31] wenjiaswe commented on #62299
cc @cheftako

[2018-04-12 20:32] wenjiaswe commented on #62323
cc @mbohlool

[2018-04-12 20:33] wenjiaswe commented on #62366
cc @jennybuckley

[2018-04-12 20:33] wenjiaswe commented on #62376
cc @cheftako

[2018-04-12 20:34] wenjiaswe commented on #62404
cc  @wenjiaswe @roycaihw @cheftako

[2018-04-12 20:35] wenjiaswe commented on #62408
cc @jpbetz

[2018-04-12 20:35] wenjiaswe commented on #62410
cc @jennybuckley

[2018-04-12 20:35] wenjiaswe commented on #62410
cc @mbohlool

[2018-04-12 20:36] wenjiaswe commented on #62415
cc @jennybuckley @janetkuo

[2018-04-12 20:49] yujuhong commented on #62456
We actually used to rigorously update the images used in theses scripts, but in the end, the versions in OSS scripts fell behind what are actually in use in GKE due to various reasons (e.g., security patches and COS EOL problems). Given that cos m65 has already been in use in GKE for a while, it should be be safe to update these scripts to match it.

@shyamjvs would it be possible to keep the VM f

[2018-04-12 20:56] jlewi opened #62492 "Archival log of K8s resources"
FEATURE REQUEST?

/kind feature

Opening this issue to see if there is any work or thought about emitting a log of K8s jobs to some durable storage system for archival purposes.

The use case is you submit a bunch of batch workloads (K8s Jobs, Argo Workflows, Spark jobs, TF Jobs). There is a lot of valuable information the K8s job spec (e.g. Docker image used, command line arguments, resource spec

[2018-04-12 21:28] 2rs2ts commented on #53347
/remove-lifecycle stale

[2018-04-12 21:31] MrHohn commented on #62440
In endpoints controller we have explicit logic allowing headless service not to have ports:
https://github.com/kubernetes/kubernetes/blob/48388fec7eaad4ac8d84fbe20673ffacf41964a1/pkg/controller/endpoint/endpoints_controller.go#L454-L460

Though confirmed creating a headless service with no ports defined hit the exact same error:
[code]

Will investigate more to see if this is a recent regression o

[2018-04-12 21:39] MrHohn commented on #62440
Ref #55158, which reported the same bug.

[2018-04-12 22:00] venilnoronha commented on #62480
@afong94 could you please provide us the following information for investigating the issue further?

1. The `Capacity` (`cpu` and `memory`) configuration of `kube-controller-manager`.
2. The `resources` configuration in the `manifests` file (typically under `/etc/kubernetes/`) on the k8s master.
4. The output from `kubectl describe nodes`.
3. Are you running any pods alongside the k8s master compo

[2018-04-12 22:07] ConnorDoyle commented on #54967
/reopen
/remove-lifecycle rotten

[2018-04-12 22:07] crimsonfaith91 commented on #62440
@MrHohn Thanks for looking at the issue! Tell me if I can be of any help. :)

[2018-04-12 22:13] jennybuckley commented on #62366
This is a general issue with the current implementation of apply. If a list is allowed to have multiple entries with the same value for their patchMergeKey, then this behavior is expected. We are working on changing the apply implementation so the merging is done on the server side, rather than by kubectl.

In this specific case, [containerPort is the patchMergeKey](https://github.com/kubernetes/k

[2018-04-12 22:14] nckturner commented on #52241
Some relevant notes:

For those that are interested in using instance ID, I found [this comment](https://github.com/kubernetes/apimachinery/blob/master/pkg/types/nodename.go#L40-L42) stating that:

but it doesn't go into any reason why, I'm curious to understand the reasoning.

All the code related to mapping the node to node name [just forces private DNS name](https://github.com/kubernetes/kubern

[2018-04-12 22:14] filbranden commented on #61474
Hi @adelton , so PR #61926 should close the loop here bringing all the changes to libcontainer into our vendored copy... Once we merge that into head, I'll take a look at doing the same on 1.10 and 1.9 release branches.

Cheers!
Filipe

[2018-04-12 22:31] abrarshivani commented on #62480
/assign @venilnoronha

[2018-04-12 22:35] Q-Lee commented on #62342
@fejta initially I tried to run the kubelet as a containerized process. Unfortunately, I found it to be very unstable, probably because it wasn't strongly tested in CI.

[2018-04-12 22:38] fejta commented on #62342
Isn't the dind whole cluster in a container, thus also kubelet?

[2018-04-12 22:55] janetkuo commented on #62283
`kubectl get` uses server-preferred order, which will prefer the `extensions` API group for backward compatibility, until `extensions` is removed. That is to say, `kubectl get deployment` uses extenions/v1beta1 endpoint by default.

To get deployments under `apps` API group, you can use `kubectl get deployment.apps`, which returns you `apps/v1` deployments.

Note that the API version used to creat

[2018-04-12 22:55] #62283 closed

[2018-04-12 22:55] MrHohn commented on #55158
Open https://github.com/kubernetes/kubernetes/pull/62497 for fixing.

[2018-04-12 22:56] janetkuo commented on #62477
What are `vms`, `vmrs`, and `ovms`? I believe they're not Kubernetes resources.

[2018-04-12 22:58] MrHohn commented on #55158
/assign

[2018-04-12 22:59] MrHohn commented on #62440
@crimsonfaith91 Sure thing :) I have a fix opened #62497.
/assign

[2018-04-12 23:09] erstaples commented on #45419
When my node starts flapping between Ready/NotReady due to PLEG issues it is invariably one of the exited gcr.io/google_containers/pause that `docker inspect` hangs on. Restarting the docker daemon fixes the issue.

[2018-04-12 23:13] #55452 closed

[2018-04-12 23:13] #55539 closed

[2018-04-12 23:23] ash2k opened #62500 "Constructor for Unstructured[List]"
Follow up on https://github.com/kubernetes/kubernetes/pull/62063 - add a constructor that optionally validates that the contents of unstructured are only valid JSON types. See https://github.com/kubernetes/kubernetes/pull/62063#issuecomment-378430512.

/kind feature
/sig api-machinery
/assign

FYI @sttts

[2018-04-12 23:26] andyzhangx commented on #59755
@raphaelquati here is the example how to set file_mode & dir_mode in azure file mountOptions:
https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mountoptions.md

[2018-04-12 23:36] stevvooe opened #62501 "scheduler crash looping"
/kind bug

**What happened**:

When upgrading to 1.10.1 scheduler, it crashes continuously with the following trace:

[code]

Pods shows that it is in crash loop:

[code]

**What you expected to happen**:

Should not crash.

**How to reproduce it (as minimally and precisely as possible)**:

Use kubeadm to upgrade scheduler kubelet to 1.10.1.

You can also edit /etc/kubernetes/manifests/kube-schedu

[2018-04-13 00:01] dims commented on #62501
/sig scheduling

[2018-04-13 00:01] dims commented on #62478
/sig auth
/sig node

[2018-04-13 00:01] dims commented on #62463
/sig network

[2018-04-13 00:02] dims commented on #62454
/sig node

[2018-04-13 00:02] dims commented on #62451
/sig network

[2018-04-13 00:02] dims commented on #62401
/sig testing

[2018-04-13 00:03] dims commented on #62391
/sig apps

[2018-04-13 00:03] dims commented on #62389
/sig node

[2018-04-13 00:04] dims commented on #62373
/sig storage

[2018-04-13 00:04] dims commented on #62357
/sig node
/sig network

[2018-04-13 00:04] dims commented on #62332
/sig node

[2018-04-13 00:04] dims commented on #62327
/sig storage

[2018-04-13 00:05] dims commented on #62320
/sig api-machinery

[2018-04-13 00:05] dims commented on #62316
/sig cli

[2018-04-13 00:05] dims commented on #62270
/sig node

[2018-04-13 00:05] dims commented on #62262
/sig network

[2018-04-13 00:14] #55508 closed

[2018-04-13 00:21] krmayankk opened #62504 "kubectl describe shows SandboxChanged which is not a helpful user message"
I see the following kubectl describe message on a pod

[code]

Further digging into the kubelet logs, i see the following
[code]
It will be so much more awesome if we can actually display this helpful message in the events for that pod.  SandBoxChanged to a cluster administrator has no meaning

[code]

[2018-04-13 00:49] mtaufen commented on #62009
https://github.com/kubernetes/kubernetes/pull/62505

[2018-04-13 01:04] mwhipple commented on #62489
Also #62091

[2018-04-13 01:24] janetkuo opened #62506 "In a local cluster running HEAD, `kubectl version` shows 1.10 instead of 1.11"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Using a local cluster (`hack/local-up-cluster.sh`) from HEAD, `kubectl version` showed `1.10+`.

[code]

**What you expected to happen**:

It should show `1.11+`.

[2018-04-13 01:30] janetkuo opened #62507 "`kubectl get --all-namespaces` doesn't show namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Running a local cluster (`hack/local-up-cluster.sh`) from HEAD (daca510a4818e31f8e3678185a4f7af7c9b8319e) (both kubectl and server are from HEAD):

[code]

**What you expected to happen**:

Namespace should be shown like this:

[code]

/sig cli

[2018-04-13 01:32] janetkuo commented on #62506
I don't think it's a cli bug, because `kubectl version` just grab information from `/version` endpoint. Not sure where "version" is populated from, though.

[2018-04-13 01:59] xiangpengzhao commented on #55158
@MrHohn I had been missing this issue for a long time. Just found it again a couple days ago but haven't found a solution yet. Thanks for the fixing!

[2018-04-13 02:18] raphaelquati commented on #59755
Yes. I know. But with kubernetes volume (not using persistent volume) (https://docs.microsoft.com/en-us/azure/aks/azure-files-volume), it doesn't work

[2018-04-13 02:31] m1093782566 commented on #2856
Traffic shaping works with kubenet regardless of what platform you are running.

We are working on support traffic shaping for CNI network driver, xref: https://github.com/kubernetes/community/pull/1893

[2018-04-13 02:35] xinjt opened #62511 "Error from server: error dialing backend: dial tcp 192.168.1.14:10250: getsockopt: no route to host"
here is my situation,
[root@k8s-master kube]# kubectl get pod nginx-6bcd55cfd6-5n5rf -o wide
NAME                     READY     STATUS    RESTARTS   AGE       IP           NODE
nginx-6bcd55cfd6-5n5rf   1/1       Running   0          46m       10.244.7.7   k8s-node2
[root@k8s-master kube]# kubectl exec -it nginx-6bcd55cfd6-5n5rf /bin/bash
Error from server: error dialing backend: dial tcp 192.168.1

[2018-04-13 02:46] YuxiJin-tobeyjin commented on #52757
+1

[2018-04-13 03:02] Lion-Wei commented on #59976
I think it is necessary, I didn't found any `externalIP` related case in our e2e test.

@uablrek Sorry, but I'm not quiet understand your concern, I think specific user case would be better.  : )

[2018-04-13 03:02] dixudx commented on #62410
@sofuture PTAL #62512. It is a kubectl bug.

[2018-04-13 03:32] like-inspur commented on #61937
I don't find there is a config named disable-kmem-limit for k8s. How to add this flag? @wzhx78

[2018-04-13 03:36] wuhanlin007 commented on #62511
it is error of your docker

[2018-04-13 03:44] zhangtbj commented on #51907
Hi, I also have another case for this issue.

We deploy Cloud Foundry on Kubernetes, and we set cloud-controller as statefulset, the first cloud-controller will be the leader to do the ccdb migration in the beginning.

Right now, we can only use OnDelete policy then restart the first one to last one orderly and manually.

But if you can have a new policy to upgrade in order, I think it is better.

[2018-04-13 05:09] feiskyer commented on #62022
@DmitriyProkhorov Same with https://github.com/apprenda/kismatic/issues/1200. I'm not familiar with KET tools. Could you share the manifests for apiserver pod?

[2018-04-13 05:21] feiskyer opened #62514 "Add support of multiple subnets in Azure cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Azure cloud provider won't able to create LB for multiple subnets. Refer https://github.com/Azure/acs-engine/issues/2476.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`)

[2018-04-13 05:50] gyliu513 opened #62517 "6 conformance test cases failed with 1.10.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]

e2e.log
[e2e.log](https://github.com/kubernetes/kubernetes/files/1905943/e2e.log)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware c

[2018-04-13 05:52] gyliu513 commented on #62517
/sig testing

[2018-04-13 05:54] gyliu513 commented on #62517
/sig scheduling
/sig network

[2018-04-13 06:12] jamie-liu commented on #53754
Thanks for reopening the issue.
I want to bind metrics to 0.0.0.0:10249 as well. With address 127.0.0.1:10249, Prometheus cannot pull metrics from this address unless they are on the same node.

[2018-04-13 06:18] janetkuo opened #62518 "Add default RBAC to workloads integration test framework"
Ref #62146

Without this, integration test loses the coverage for RBAC related permission errors.

/sig apps
/kind cleanup

[2018-04-13 06:21] janetkuo opened #62519 "Add DaemonSet integration test for hash collision avoidance"
/sig apps

Ref #62145, #62146

[2018-04-13 06:54] xlgao-zju opened #62521 "[kubeadm] Kubeadm init failed sometimes on alibaba cloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Kubeadm init failed sometimes, because it got timeout from other component.

**What you expected to happen**:
Kubeadm init succeeded.

**How to reproduce it (as minimally and precisely as possible)**:
Run `kubeadm init` on alibaba cloud, and it fails sometimes.

**Anything else we need to know?**:
Here are some logs.
[code

[2018-04-13 06:58] wojtek-t commented on #62468
Anyway - I think that we should start with changing configs for our tests to avoid loosing our ability for debugging tests, and we can discuss config for prod clusters in the meantime.

[2018-04-13 07:01] mcfedr commented on #57291
@eroldan I have been using init containers to make sure that backend services are running/updated before launching frontends. Of course this wont prevent issues if the backend is going down during work, but maybe you can change the frontend livelyness check to report healthy even when backend is not working.

[2018-04-13 07:05] xlgao-zju commented on #62521
@kubernetes/sig-cluster-lifecycle

[2018-04-13 07:27] #62145 closed

[2018-04-13 07:41] alexvicegrab commented on #51835
I'm still having this problem on 1.9.6 on Azure AKS managed cluster.

Using this workaround at the moment to select all stuck pods and delete them:
[code]

[2018-04-13 07:52] #62449 closed

[2018-04-13 07:57] abel-von commented on #62238
Yes，it's exactly what we want to do, to skip the filesystem operations of the volumes by kubelet, because in the runv, the pods are running in a light weight VM, if we mount the block device to host and pass the filesystem directory to the vm, the io performance will degrade a lot in the host VFS layer.

our container runtime in Huawei has implemented this feature, that when we pass the mounts wit

[2018-04-13 07:58] xiangpengzhao commented on #62479
Tried `--metrics-bind-address=0.0.0.0`, the error is:
`error: KubeProxyConfiguration.MetricsBindAddress: Invalid value: "0.0.0.0": must be IP:port`

and `--metrics-bind-address=0.0.0.0:10249`, the error is:
`error: invalid argument "0.0.0.0:10249" for "--metrics-bind-address" flag: "0.0.0.0:10249" is not a valid IP address`

@MrHohn So maybe we need to loosen `kubernetes/pkg/proxy/apis/kubeproxyco

[2018-04-13 08:07] wuhanlin007 commented on #62477
are vms, vmrs, and ovms kubernetes resources？？ i don't think so

[2018-04-13 08:12] alexxa commented on #62477
@janetkuo VirtualMachine (vms), Offline VirtualMachine (ovms) and VirtualMachine ReplicaSet (vmrs).

Hm, sorry guys. Those belong to KubeVirt. I will move the issue.

[2018-04-13 08:12] #62477 closed

[2018-04-13 08:34] sttts commented on #62500
Wished we had a language with a type system powerful enough to express the types, e.g. via union types.

[2018-04-13 08:39] jief123 opened #62525 "aws cloud provider need add ZHY reigon. endpoint is "cn-northwest-1""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Don't support AWS ZHY region in China. endpoint is "cn-northwest-1"
**What you expected to happen**:
Add support
**How to reproduce it (as minimally and precisely as possible)**:
Deploy K8S in ZHY region.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):v1.9.3
- Cloud

[2018-04-13 08:44] jief123 commented on #62525
@kubernetes/sig-aws-misc

[2018-04-13 08:51] fejta commented on #8830
/remove-lifecycle frozen
/assign

[2018-04-13 08:58] ckeyer opened #62527 "kube-router start failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `

[2018-04-13 09:08] sttts commented on #8830
@fejta for the publishing bot, I would need a simple and fast entry point to run code generation in each staging repo. This would be called at least on each merge commit. It should have reasonably few dependencies (bazel with half of the Java and Python universe is far too much, a simple bash script or simple Makefile would be much better).

[2018-04-13 09:16] brancz commented on #62399
/assign @crassirostris

[2018-04-13 09:19] fejta commented on #8830
Do you need something that `make genereate_files` doesn't already give you?

https://github.com/kubernetes/kubernetes/blob/4b26d70dafeb6ed046fc07e6e223600fc7e55e7e/build/root/Makefile#L482

[2018-04-13 09:25] sttts commented on #8830
`make generated_files` does all the dependency analysis to allow incremental code generation. We don't need (and probably also don't want) that in published repos.

[2018-04-13 09:48] shyamjvs commented on #62456
@yujuhong Currently I've changed our tests to run with older one (i.e cos-63) in https://github.com/kubernetes/test-infra/pull/7668. So I expect such failure to not happen. After that's confirmed, we can manually experiment with beta-66 again and it should be possible to keep it alive.

[2018-04-13 09:50] kirsazlid opened #62532 "A question about the automatic update of deployment with kubernetes 1.9"
**What happened**:
Two servers, one master, one node. I get a deployment or pod named 'system' running on the node, whose image comes from my personnal docker repository and name is  '192.168.10.1:10001/microservice/test/system'. The default tag of this image is 'latest', if the repository has a newer version of image and I pull it into the node, then the former image's tag becomes '<none>' and th

[2018-04-13 09:56] chenfanlinux opened #62533 "Ask kubelet authentication certificate deadline problem?"
Hello,everybody!
Encounter the following problem, kubelet generated two certificates, one certificate kubelet.crt certificate for a period of one year, how do you configure, modify the certificate period。

[2018-04-13 10:03] chenfanlinux commented on #62533
/sig auth

[2018-04-13 10:03] chenfanlinux commented on #62533
/sig node

[2018-04-13 10:24] #55678 closed

[2018-04-13 10:30] uablrek commented on #59976
Please forget my GCE/kube-proxy comments I think I got it wrong. Sorry.

[2018-04-13 10:38] bboreham commented on #39812
/reopen

We have seen this on two clusters in recent weeks, running k8s v1.9.3.

It appears that kubelet's view of the universe has diverged significantly from Docker's hence it does not have the metadata to tag container metrics.  Lots of these in kubelet logs:

[code]

kubelet is running as a systemd service, not in a container.

Restarting kubelet fixed the issue for today's instance.  I'm told

[2018-04-13 10:50] timchenxiaoyu commented on #18418
/reopen

[2018-04-13 10:51] uablrek commented on #59976
I tried to patch false->true in `ipvs/proxier.go:879` and re-built 1.10.0. It makes externalIPs work but I get open listen-port in main netns for the container ports;

[code]

My external address is 10.0.0.1 and it is assigned to `kube-ipvs0` which is `DOWN`(!).
And I get conflicts if the port is used in main netns (e.g open with `any` address);
[code]
The problem does not be so simple to fix as I

[2018-04-13 12:06] andreyshamray commented on #61716
@feiskyer it is clear enough that Windows does not support cgroups). Unfortunately, it's not specified in the documentation.
So to disable CgroupsPerQOS you should need to add this flags to kubelet:
`--cgroups-per-qos=false --enforce-node-allocatable=""`
Maybe it will help someone...

Thank you all for discussion!

[2018-04-13 12:06] #61716 closed

[2018-04-13 12:26] dims commented on #62521
Can you please move this to https://github.com/kubernetes/kubeadm/issues ?

thanks!

/close

[2018-04-13 12:26] #62521 closed

[2018-04-13 12:27] dims commented on #62527
please open the issue at https://github.com/cloudnativelabs/kube-router/issues

thanks!

/close

[2018-04-13 12:27] #62527 closed

[2018-04-13 12:29] dims commented on #62511
/close

Please post your question to stackoverflow (https://stackoverflow.com/questions/tagged/kubernetes)

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will

[2018-04-13 12:29] #62511 closed

[2018-04-13 12:34] zuzzas opened #62536 "Pause container gets OOM killed"
/kind bug
@kubernetes/sig-node-bugs

**What happened**:
Pause container got OOM killed and all hell broke loose. For example, I can't exec into container anymore after that.

**What you expected to happen**:
Pause container shouldn't get OOM killed at all.

**How to reproduce it (as minimally and precisely as possible)**:
[Here](https://pastebin.com/raw/F8tKhDJ6) is a Deployment that exhibits this

[2018-04-13 12:43] dims commented on #62260
Can you please open a bug with kubespray? https://github.com/kubernetes-incubator/kubespray/issues

/close

[2018-04-13 12:43] #62260 closed

[2018-04-13 12:44] dims commented on #62200
/close

[2018-04-13 12:44] #62200 closed

[2018-04-13 12:47] uablrek opened #62537 "Source-IP is not preserved with externalTrafficPolicy:Local if externalIPs are used"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig network
/area ipvs

**What happened**:

The source address is NATed even when `externalTrafficPolicy: Local` is set in the service when accessed via  `externalIPs`.

**What you expected to happen**:

The source address should be preserved.

**How to reproduce it (as minimally and precisely as possible)**:

- Define a service with `exter

[2018-04-13 12:51] dims commented on #60070
@cblecker any update on vendoring pattern we'd prefer?

[2018-04-13 12:53] uablrek commented on #62537
The traffic is not re-distributed to another node but is passed to a local pod so that part works as expected.

[2018-04-13 12:54] george-angel opened #62538 "1.10.x upgrade causes api-server to consume a lot of resources and eventually oom"
/kind bug
/sig api-machinery

**What happened**:

Upgrade from 1.9 (either 1.9.3 or 1.9.6) to 1.10 (either 1.10.0 or 1.10.1) - after a few hours of running, api server, starts throttling cpu at 100% and consuming more and more memory. Only error logs:

[code]

Other symptoms are:
 - slow api server responses
 - nodes becoming `NotReady`

**What you expected to happen**:

Things to work.

**How to

[2018-04-13 13:00] uablrek commented on #59976
To be able to use `externalIPs` in `proxy-mode=ipvs` I set a local route to the externalIP on all nodes, e.g;
[code]
By using `dummy0` (which is always there if the dummy module is loaded) the kube-proxy does not "sync" it away. If the address is added manually to `kube-ipvs0` it will be removed after a short while.

With this work-around `externalIPs` and `proxy-mode=ipvs` works for me.

[2018-04-13 13:02] uablrek commented on #62537
To get `externalIPs` working with `proxy-mode=ipvs` use the work-around proposed in #59976

[2018-04-13 13:03] dims commented on #62506
@janetkuo the build harness figures out the version from git info. looks like something has not yet been updated

[code]

[2018-04-13 13:07] dims commented on #62506
/sig testing
/unsig cli

[2018-04-13 13:18] andyzhangx opened #62540 "WaitForAttach failed for azure disk: parsing "/dev/disk/azure/scsi1/lun1": invalid syntax"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
This was introduced by following code change introduced in v1.10.0:
https://github.com/kubernetes/kubernetes/blob/568afb4ecca99bc3b54fddc20927b3713369d357/pkg/volume/util/operati

[2018-04-13 13:27] #44528 closed

[2018-04-13 13:33] dims commented on #62507
kubectl from 1.10 seems to work fine. So we regressed after 1.10.0 got released

[2018-04-13 13:33] dims commented on #62507
/priority important-soon

[2018-04-13 13:38] mcqj commented on #43567
@luxas What and where is the official setup guide? Thanks

[2018-04-13 13:57] msau42 commented on #62238
Sorry I still am not being clear.  In Kubernetes, we support the following features:
- format the block device the first time it's being mounted
- resize the filesystem if it was requested by PVC

These two operations require going through the global mount routine.  But since your container runtime would skip this step, that means it would have to be reimplemented in the container runtime.

[2018-04-13 13:57] timothysc commented on #61915
This is intended behavior and documented.  Prior to init the kubelet enters into a crashloop cycle which is eventually rectified by init and it has always been the behavior for bootstrapping.

If you would like to reopen this issue, please open here: https://github.com/kubernetes/kubeadm

[2018-04-13 13:57] #61915 closed

[2018-04-13 14:16] lainekendall commented on #62283
Thanks for the response! Very interesting behavior. Is there documentation for this?

[2018-04-13 14:18] nitram2k opened #62542 "vSphere volume class/pvc: no volume plugin matched"
/kind bug

**What happened**:

When trying to deploy a storage class, with the 'Vmware Vsphere Volume' provisioner, I can't seem to add a PVC to it, it fails with the following message:

`Type     Reason              Age                 From                         Message
  ----     ------              ----                ----                         -------
  Warning  ProvisioningFailed  1m (x10

[2018-04-13 14:19] timothysc commented on #35314
I'm actually going to close this.

There is no intent to be 1st mover and we will wait until other tools have vetted the process.
When the process is well defined and stable, we will move.  Until that is done, this issue doesn't need to remain open.

[2018-04-13 14:19] #35314 closed

[2018-04-13 14:25] #62282 closed

[2018-04-13 14:28] timothysc commented on #56303
Closing as stale.

If you can repro on later versions e.g. 1.9+ please feel free to repo under https://github.com/kubernetes/kubeadm repo.

[2018-04-13 14:28] #56303 closed

[2018-04-13 14:30] msau42 commented on #48677
We didn't have time in yesterday's sig meeting to discuss this unfortunately.

Are you not able to use the workaround of hard links or relative symlinks in the init container?

Given that we just had a huge vulnerability in the subpath feature, and this feature is also touching the same area, I want to be more conservative and at the very minimum, have this feature go through alpha/beta/ga feature

[2018-04-13 14:45] timothysc commented on #58587
Closing b/c #60428 addresses.

If you feel otherwise please open issues under the https://github.com/kubernetes/kubeadm repo.

[2018-04-13 14:45] #58587 closed

[2018-04-13 14:48] sofuture commented on #62410
@dixudx Thanks! Fix works for me

[2018-04-13 14:48] #58609 closed

[2018-04-13 14:50] timothysc commented on #58921
This appears to be a configuration problem and is stale.  If you are still having issues please reopen in the https://github.com/kubernetes/kubeadm repo.

[2018-04-13 14:50] #58921 closed

[2018-04-13 15:07] ieugen commented on #56005
I would like to have such a feature as well. Any progress?

[2018-04-13 15:11] chirangaalwis commented on #62421
@dims +1, IMO, this could be adapted as a temporary solution for this use case. Just to note, I managed to successfully try out the support binary data in ConfigMaps.

Yet IMO, requesting users to zip the configuration files which they need to pass on to the containers (in order to preserve the folder structure) is not an ideal solution.
For example, it would force us to add an extra step or two w

[2018-04-13 15:13] andyzhangx commented on #56005
There is already a [cifs flexvolume plugin on Linux](https://github.com/andyzhangx/kubernetes-drivers/tree/master/flexvolume/cifs), and I will write a cifs CSI driver on windows

[2018-04-13 15:14] dims commented on #62421
@chirangaalwis cool. if you can prototype the changes ... that will help push things along.

[2018-04-13 15:19] andyzhangx commented on #56005
And before writing a new cifs CSI driver for windows, we need to make sure CSI driver works on windows well first, it depends on https://github.com/kubernetes-csi/drivers/issues/79

[2018-04-13 15:29] liggitt commented on #62421
It involves kubelet changes for unpacking the configmap, API changes to validation, and kubectl changes for creation

[2018-04-13 15:31] Blasterdick commented on #62343
Closed as [not a bug](https://stackoverflow.com/a/49818788/3906452) (but pretty much confusing as it displayed by the `kubectl` output).

[2018-04-13 15:31] #62343 closed

[2018-04-13 15:34] andyzhangx commented on #46421
@DonMartin76 the bug you mentioned is this issue, it only happens on v1.9.6 for all nodes using containerized kubelet, e.g. Azure, I have just fixed it and are doing the code back port to v1.9.x:

### 5. Azure disk PVC `Multi-Attach error`, makes disk mount very slow or mount failure forever
**Issue details**:
When schedule a pod with azure disk volume from one node to another, total time cost of

[2018-04-13 15:45] kevtaylor commented on #48677
@msau42 I do not want to use links or otherwise as this is an entire bodge. We have 100s of apps and I do not want to start redeploying our entire product base by changing our init containers especially as they took us a lifetime to make work in the first place

[2018-04-13 15:47] eroldan commented on #60099
I came here after hours of debugging why a node app using Swagger library was generating his own URI as mydomain.tld:tcp://10.97.1.1:8082
These environment variables can clash with variables of own program or libraries, mainly SERVICENAME_PORT kind, generating unexpected problems and wasting operator time.
Being a broke (because ordering) discovery mechanism, my opinion is that this feature should

[2018-04-13 15:47] DonMartin76 commented on #46421
@andyzhangx Sounds good! This was concerning me a little today, I hadn't seen it on 1.9.3, but there we hadn't been working that much with dynamically created volumes - we have just started to migrate most persistent data to these, and thus I was a little worried. Happy to hear it will possibly land in 1.9.7 already.

[2018-04-13 16:15] timothysc commented on #60169
/cc @chuckha @detiber

[2018-04-13 16:15] serngawy opened #62549 "Kubernetes e2e suite.[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Scaling should happen in predictable order and halt if any stateful pod is unhealthy [Conformance]"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 kind bug

**What happened**:
Since I update my local k8s cluster deployment to v1.10 the following Conformance test keep failing

Kubernetes e2e suite.[sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] Scaling should happen in predictable order and halt if any stateful pod is unhealthy [Conformance]

**What you expecte

[2018-04-13 16:16] timothysc commented on #60169
@dgabrysch  could you please open an issue in the https://github.com/kubernetes/kubeadm/issues repo.  Tracking and execution of kubeadm occurs there.

[2018-04-13 16:16] serngawy commented on #62549
sig-testing

[2018-04-13 16:25] MrHohn commented on #62490
https://k8s-testgrid.appspot.com/sig-network-gke#gci-gke-serial&width=20
Seems like it is now passing on gce but failing on gke :/
/reopen

[2018-04-13 16:28] #62345 closed

[2018-04-13 16:28] timothysc commented on #60374
So, the document explicitly states that a remote etcd cluster.

We are probably going to stick with that constraint for a period of time.

In the mean time please feel free to open and RFE: in the https://github.com/kubernetes/kubeadm/issues

[2018-04-13 16:28] #60374 closed

[2018-04-13 16:30] MrHohn commented on #62479
Loosen the validation sounds good. #54191 was meant for loosen the validation as well (allowing not just ip, but also ip:port), but for some reason it doesn't work as intended. Would be great to fix that instead of revert :)

[2018-04-13 16:36] dashpole commented on #39812
@bboreham can you open an issue with cAdvisor?  We can debug it there.

[2018-04-13 16:37] azillion commented on #52096
/reopen

[2018-04-13 16:42] caesarxuchao commented on #62404
FWIW, I ruled out two possible causes:
1. I suspected that kubectl visited the `extensions/v1beta1` endpoint even though the config file said `apps/v1`. `kubectl create -v=9" printed that kubectl did visited `apps/v1`.
2. I suspected that the apiserver would interpret the resource as of `extensions/v1beta1` [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pk

[2018-04-13 16:51] foxish commented on #62549
The release blocking tests under https://k8s-testgrid.appspot.com/sig-release-1.10-all#gci-gce-1.10 have this passing, so, it could just be the cluster you're running. These tests were recently moved into conformance.
Can you explain your local cluster setup in more detail?

[2018-04-13 16:59] timothysc commented on #60844
@msnelling - We generally discourage ABAC enablement, but it does look like an over-ride issue.

Where possible please open issues against the https://github.com/kubernetes/kubeadm repo.

[2018-04-13 16:59] #60844 closed

[2018-04-13 17:01] xlgao-zju commented on #62521
Ok, will do.

[2018-04-13 17:05] webwurst commented on #29307
I bet the versions of your `kubectl` and the `kube-apiserver` differ too much. And just as a heads-up, http://slack.k8s.io/, https://groups.google.com/forum/#!forum/kubernetes-users or http://stackoverflow.com/questions/tagged/kubernetes would be better places to ask these kind of questions.

[2018-04-13 17:16] msau42 opened #62551 "VolumeNodeAffinity nodeSelectorTerms should be ORed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
The terms are ANDed, which is not correct: https://github.com/kubernetes/kubernetes/blob/HEAD/pkg/volume/util/util.go#L281-L289

[2018-04-13 17:17] BenTheElder commented on #62405
this should be fixed in all supported branches

[2018-04-13 17:17] msau42 commented on #62551
cc @liggitt

[2018-04-13 17:18] foxish commented on #62492
[Ark](https://github.com/heptio/ark) does part of this - backing up all the config for the purpose of restoration; part of that could be leveraged to build this. I think right now, applications solve this in different ways - for example, Spark has the [History Server](https://spark.apache.org/docs/latest/monitoring.html#viewing-after-the-fact). I think that's because these applications represent h

[2018-04-13 17:19] ixdy commented on #8830
I think what @fejta was suggesting was running `make generated_files` before publishing.

At least for Bazel, I was thinking of a similar approach. There's a [`go_path`](https://github.com/bazelbuild/rules_go/blob/27b444a6025b8d0eddff27b2fa170fdc9c93b1af/go/core.rst#go-path) rule which produces a go path of all dependencies of a target, including generating code. It needs more fleshing out, but it

[2018-04-13 17:25] serngawy commented on #62549
okay, so I'm deploying k8s using MAAS and Juju in bare-metal. I have  3 master nodes in HA and 5 worker nodes. Memory is about 32G/node and CPU is 24core/node. Would you be more specific for what info you want to know ?

[2018-04-13 17:32] #62405 closed

[2018-04-13 17:33] timothysc commented on #61629
So I'm going to close this issue, as it's not actually a bug or problem.

The validated stack elements are their associated configs are well defined.  If you have further support-esk questions I recommend joining the sig-cluster-lifecycle and kubeadm slack channels.

[2018-04-13 17:33] #61629 closed

[2018-04-13 18:15] yguo0905 opened #62558 "[test failed] [sig-ui] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive"
Failed consistently both for COS on GKE
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sstable1-default/1779

and for Ubuntu on GKE
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-ubuntu2-k8sstable1-default/160

/sig sig-ui
/priority failing-test
/kind bug

[2018-04-13 18:27] mbohlool commented on #62277
Only one part of this (kube-control-manager) is api-machinery. I suggest you divide this issue into more specific issues and assign them to the right sig.

[2018-04-13 18:29] mbohlool commented on #62185
Thanks for reporting this, would you please file issues in the client repos. You can keep this issue as an umbrella issue if you like.

Also client libraries are under-staffed thus we welcome any contribution (small ones to owning client libraries).

[2018-04-13 18:30] stu-gott opened #62560 "devicePath for block volumes is not honored"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Specified `devicePath: /dev/pvcname` for a volumeDevice, but it was not present in container.

**What you expected to happen**:
/dev/pvcname should exist inside container.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
This is quite possibly related to https:

[2018-04-13 18:31] mbohlool commented on #62098
swagger 1.2 and all related features (e.g. swagger-ui) is deprecated and will be removed in 1.11. Do you have strong reason to use swagger-ui? I suggest you download Openapi spec (from $API_SERVER/openapi/v2) and use an official swagger-ui to parse it.

[2018-04-13 18:31] lavalamp commented on #62277
You can't send patches in proto format. So NPD is likely correct. Only if it is *reading* in json is it incorrect.

[2018-04-13 18:34] lavalamp commented on #62277
Ah, the OP lists the methods used. Please file issues for the below:

* GC "get pods" in JSON is wrong. (this is ours)
* event-exporter watch events in JSON is wrong.
* glbc - don't actually know what that is, but likely those things should be in proto :)

[2018-04-13 18:35] stu-gott commented on #62560
/cc @erinboyd

[2018-04-13 18:35] stu-gott commented on #62560
/sig storage

[2018-04-13 18:46] davidz627 opened #62561 "GCE PD CSI Driver E2E test should automatically inject driver GCP credentials"
Currently there is no way for the GCE P driver to automatically get GCP credentials in the E2E test framework so that it has the permissions to Create/Delete/Attach/Detach volumes on GCP.

The workaround to run the test currently is to manually create a service account for the project, then expose it as a secret in the namespace the test is running in.

Might be able to solve with TokenRequest API

[2018-04-13 18:46] fabiand commented on #62560
Maybe related to #58251

[2018-04-13 18:47] mbohlool commented on #62329
We can start by adding support for some of OpenAPI v3 features in kube-openapi definition generator. These features should be flag protected (or there should be a backward compatible way to convert them back to v2). Would you please file an issue with kube-openapi repo?

[2018-04-13 18:47] stu-gott commented on #62560
Not sure if it helps, but here's the PV and PVC manifests we used:

[code]

[2018-04-13 18:49] mbohlool commented on #62325
Looked through your demo briefly. Looks reasonable. Can you add this to kube-openapi? (also an issue in that repo would be nice).

[2018-04-13 18:54] foxish commented on #62549
I think the cluster setup in itself is interesting. At a high level, the issues could be:

1. Pods are created in the wrong order?
2. HA masters and interactions with the events received by the watch API (I don't think we test with HA masters)?

I think the best way to rule out one of the above is to get some print debugging within the same e2e test, to see what happens before the watch times out.

[2018-04-13 18:59] erinboyd commented on #62560
@mkimura Can you please take a look

[2018-04-13 19:00] screeley44 commented on #62560
also make sure the feature gate is set, if you don't see volumeMode: Block in your pvc object, maybe it wasn't set??  `kubectl get pvc disk-cirros-block -o yaml`  or `kubectl describe pvc disk-cirros-block`

[2018-04-13 19:06] stu-gott commented on #62560
Thank you @screeley44 I forgot to mention that. Yes it is definitely set.

[code]
[code]

I noticed above that I had requested 1Gi storage size. I altered the claims as reflected here (no change).

[2018-04-13 19:12] #61180 closed

[2018-04-13 19:33] erinboyd commented on #58251
@mtanino @mkimura

[2018-04-13 19:38] erinboyd commented on #58251
@wenlxie what plugin are you using? Can you please provide your pv/pvc definitions?

[2018-04-13 19:47] stevvooe commented on #62501
After some investigation, I've found that this might a problem with corruption, via the disk or at pull time. The actual image used here was `k8s.gcr.io/kube-scheduler-amd64:v1.10.1@sha256:34e37ff17af97c27afe12ed2e82fa3c9656d3bed12692e88b605f43b98145d14`. I've pulled this image with docker and in another containerd namespace, isolated from the CRI driven containers and it works fine, so the image

[2018-04-13 20:28] msau42 commented on #48677
@kevtaylor can you create an issue in the features repo for this, and add it to the SIG-storage planning [spreadsheet](https://docs.google.com/spreadsheets/d/1t4z5DYKjX2ZDlkTpCnp18icRAQqOE85C1T1r2gqJVck/edit#gid=1308589045) so that we can track it for this quarter?

[2018-04-13 20:33] msau42 commented on #48677
You can put me and @jsafrane (sorry I'm volunteering you) as the reviewers.

[2018-04-13 20:53] micahhausler commented on #61921
Unless anyone has some strong objections, what we'd like to do is go back to using the `local-ipv4` from the ec2-metadata, but still let users specify a secondary ip for the `--node-ip` flag (as #44686 asked for). I'll create a PR next week

[2018-04-13 20:59] bykvaadm commented on #60884
same with 1.10.1

[2018-04-13 21:03] stevvooe commented on #62501
Closing in favor of https://github.com/containerd/cri/issues/733.

[2018-04-13 21:03] #62501 closed

[2018-04-13 21:26] Quentin-M commented on #58805
Deprecating all flags, prompting folks to use config files in advance is great, except when there's no documentation nor example anywhere. That means that we can't actually migrate to the new settings, and I can't seem to find clear alpha/beta/stable status for the new config file spec, nor timeline for the removal.

It is also pretty confusing that the scheduler expects us to use a config file, b

[2018-04-13 21:27] dasjestyr commented on #24606
I seem to have the same error but only if I run it from powershell like `iex "kubectl set env -n $n deploy/deployment-name DEPLOY_DATE=$(Get-Date)"`

If i run the exact same command outside of the script, it works fine. Any suggestions?

[2018-04-13 21:35] pavel-citymaps opened #62564 "read-only RBD images can't be mounted multiple times"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I created a deployment with 2 replicas mounting an rbd backed PVC. The PVC was ReadOnlyMany with proper "readOnly: true" settings specified. Only 1 pod in the deployment ran. The other received a "timeout expired waiting for volumes to attach/mount" message.
**What you expected to happen**:
I expect the rbd volume to be m

[2018-04-13 21:35] pavel-citymaps commented on #62564
/sig ceph

[2018-04-13 21:36] resouer commented on #58805
@Quentin-M This issue indeed applies to kube-controller-manager. And there should already had deprecation policy.

[2018-04-13 21:36] rithujohn191 commented on #49397
@yguo0905 was this issue closed on purpose? It would be very valuable to add support for testing using `--image-family` in node e2e tests

[2018-04-13 21:51] Q-Lee commented on #62342
Yes, but within the container the kubelet appears as, more or less, a bare process. The containerized flag has slightly different behavior.

@dchen1107 what's the status of the containerized kubelet, and who should I talk to?

[2018-04-13 21:57] kevtaylor commented on #48677
@msau42 I think I did this correctly but I have created a request and added into Q2 2018. Thanks

[2018-04-13 22:03] #61510 closed

[2018-04-13 22:35] iponnam opened #62566 "Kubernetes system pods are not showing up but containers are in health state"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
Enabled --client-cert-auth=true in etcd yaml to communicate over TLS and restarted the kubelet for the changes to effect. kube-apiserver, controller, scheduler and etd containers along with pause container came up. however when we do kubectl -n kube-system get pods or anything else for that matter results are coming up e

[2018-04-13 22:42] iponnam commented on #62566
@kubernetes/sig-auth-bug

[2018-04-13 22:44] iponnam commented on #62566
/sig auth-bug

[2018-04-13 22:45] miramar-labs commented on #61915
hmm .. must have missed that documentation ... it's a tad scrappy no? I mean... initializing off the back of an error condition?

[2018-04-13 22:46] iponnam commented on #62566
@kubernetes/sig-auth-bugs

[2018-04-13 23:01] #62413 closed

[2018-04-13 23:05] krzyzacy commented on #61141
fixed by https://github.com/kubernetes/test-infra/pull/7267

[2018-04-13 23:05] #61141 closed

[2018-04-13 23:06] krzyzacy commented on #54238
cherrypick is done, closing
/close

[2018-04-13 23:06] #54238 closed

[2018-04-13 23:17] janetkuo commented on #41442
I drafted a KEP for topology-aware workload controllers:
https://github.com/kubernetes/community/pull/2045

[2018-04-13 23:37] #53824 closed

[2018-04-13 23:58] bsalamat opened #62567 "Scheduler incorrectly considers a Pod a match for inter Pod Anti-affinity terms if any of the terms matches"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[Scheduler incorrectly considers a Pod a match for inter Pod Anti-affinity terms if any of the terms matches](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/algorithm/predicates/predicates.go#L1499) while it should consider a Pod a match when [**all** of terms match the Pod](https://kubernetes.io/docs/

[2018-04-14 00:30] wenlxie commented on #58251
@erinboyd  I am using local volume.
PVC/PV spec  is a usual definition.

This is a bug at docker, you can check the issue that I created for docker (moby/moby#35991)
If you run the command  at your host (as I mentioned at this issue description)

[code]
The /dev/vda is also not exists.

I had a PR for this but not get merged yet
PR: https://github.com/moby/moby/pull/36258

[2018-04-14 00:30] wenlxie commented on #62560
This is a bug at docker, you can check the issue that I created for docker (moby/moby#35991)
If you run the command  at your host

[code]
The /dev/vda is also not exists.

I had a PR for this but not get merged yet
PR: https://github.com/moby/moby/pull/36258

[2018-04-14 00:46] andyrhee commented on #55278
/remove-lifecycle rotten

[2018-04-14 00:53] mkimura commented on #58251
@erinboyd @screeley44 @wenlxie I have no affiliation with this project. Please stop using my handle.

[2018-04-14 00:56] grantbow commented on #58834
@nbaztec @evandigby and others, thanks for the good analysis and breaking out the different parts and different kubectl subcommands. From my outsider's perspective, perhaps further breaking apart the input and output could help.

As reported, this is about a proper YAML input **file** containing --- giving proper YAML output. The original request was for a list output, however if the --- is just s

[2018-04-14 01:27] andyrhee commented on #55278
I think cji is right.  This is more of a kops (undocumented) feature than a k8s'.  In fact, minikube doesn't have the same feature.  Also, this feature affects only the **default** namespace created by kops:
[code]

[2018-04-14 02:25] xxlaila commented on #9521
I also encountered such a problem, when prompted to create a ui can not find resources, this should be so?
[root@linux1 ~]# kubectl create -f dashboard-controller.yaml
Error from server (NotFound): the server could not find the requested resource
[root@linux1 ~]# kubectl create -f https://raw.githubusercontent.com/kubernetes/dashboard/master/src/deploy/recommended/kubernetes-dashboard.yaml
Error f

[2018-04-14 03:15] inetkiller commented on #62098
@mbohlool get it. thx

[2018-04-14 03:16] #62098 closed

[2018-04-14 03:25] saj commented on #53023
I have encountered the same problem.

Symptoms presented when the last `readinessProbe` was removed from a `DaemonSet`.  Like in the opening message, the `DaemonSet` was still configured with a `minReadySeconds`.  Deleting the `DaemonSet` and creating it again (with the same configuration -- without any `readinessProbe`s but with a `minReadySeconds`) resulted in the same problem.

Removing `minRea

[2018-04-14 03:26] joelsmith opened #62571 "Volume controller eventually pegs at 100% CPU when using NFS PVs and recycler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

On a cluster with NFS PVs and a recycler pod, occasionally a recycle operation causes the volume controller to start using 100% CPU. It never seems to recover until the controller is restarted.

**What you expected to happen**:

Recycles should happen or the controller should handle any related errors gracefully.

**How

[2018-04-14 03:27] joelsmith commented on #62571
/sig storage

This is fixed by #62572

[2018-04-14 05:13] m1093782566 opened #62574 "Move the network setup back into kubelet using a gRPC-style interface"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

CNI APIs are understood by a kubelet built-in module,  the Kubernetes network driver, which is is linked, compiled, built, and shipped with kubelet. Third party network plugins have to provide executable CNI plugin binaries and a network configuration file. This is undesirable for many reasons:

* CNI is coupled with

[2018-04-14 05:29] lizcly opened #62575 "kubeadm init v1.10.0 hangs dial tcp 192.168.0.7:6443: getsockopt: connection refused"
Apr 14 13:24:01 k8scluster-master kubelet[21772]: E0414 13:24:01.019782   21772 certificate_manager.go:231] Reached backoff limit, still unable to rotate certs: timed out waiting for the condition
Apr 14 13:24:01 k8scluster-master kubelet[21772]: E0414 13:24:01.022122   21772 event.go:209] Unable to write event: 'Post https://192.168.0.7:6443/api/v1/namespaces/default/events: dial tcp 192.168.0.7:

[2018-04-14 05:42] abel-von commented on #62238
@msau42  Yes, our container runtime has implemented  it, it will do the format and mount if we define a block device file(like /dev/sda) in HostPath of the Mounts in the request to docker. we just have to let k8s to support defining a block mode pv(or pvc)  in volumeMounts  of pod, and pass the device file path to docker if the volume is a block mode volume, instead of reporting an error, which is

[2018-04-14 05:54] smarterclayton opened #62576 "Generated openapi file is pathologically large, contributes to significant size of Kube binaries"
The generated OpenAPI definition results in relatively pathological binary size for the Kube API and for extension api servers that also leverage it.

The 1.10 / Go 1.19 `.a` file for `k8.io/kubernetes/pkg/generated/openapi.a` is around 65M, and compiling that into a trivial binary results in a ~70M binary (5M for the size of the Go runtime).  The actual OpenAPI data that results when gzipped is m

[2018-04-14 05:54] smarterclayton commented on #62576
@kubernetes/sig-api-machinery-bugs

[2018-04-14 06:01] smarterclayton commented on #62576
For reference, here are the largest `.a` files generated by Kube in 1.10:

[code]

[2018-04-14 06:17] chenyangguang opened #62577 "_output/bin/deepcopy-gen: Permission denied"
1. I follow the readme.md  method like this

(1) $ go get -d k8s.io/kubernetes
(2) $ cd $GOPATH/src/k8s.io/kubernetes
(3) $ make

2. But third step appear wrong like:

[code]

3. My env  is  in the latest docker archlinux image.

(1) sys:
`
Linux 88295ee782e0 4.13.0-38-generic #43~16.04.1-Ubuntu SMP Wed Mar 14 17:48:43 UTC 2018 x86_64 GNU/Linux`

(2)  docker version

[code]

[2018-04-14 06:40] chenyangguang commented on #62577
it was because Permission, I have fix it by add permission. i will close this issue.

[2018-04-14 06:46] chenyangguang commented on #62577
I had fix it by

[code]

[2018-04-14 07:38] mlmhl commented on #62577
/close

[2018-04-14 09:48] chavacava commented on #45509
In my company we have the exact same case of that of @antoinne85: workers that pick tasks from a queue. When queue is (momentarily) empty we need to downscale workers but only those that are idle.

For example, for scaling down from 5 to 3, we need/dream something like:

``
kubectl scale --replicas=3 deployment/hello-server --pods=hello-server-66cb56b679-dkvfj,hello-server-66cb56b679-xc22k
``

[2018-04-14 09:51] mtanino commented on #62560
@wenlxie
Hi, Thank you for the info.

Great!

[2018-04-14 09:53] LmangoLemon opened #62578 "how can I set the source IP of the traffice to be the service cluster-IP when sending snmp trap in kubernetes pods？"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
I  run a snmp trap sender in kubernetes pods, And i have capture the snmp trap package from the pods in the trap receiver, but the source ip of the packages is the host ip which the pod running in,

but I want the source ip is  the service cluster-ip ,not the host ip.  How can I  make it？Thank you very much.

[2018-04-14 10:41] #58176 closed

[2018-04-14 11:40] tangblue opened #62579 "Feature request: Support adding HostAliases from ConfigMap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
According to the following kubernetes document, the host entries can be added to Pod /etc/hosts with HostAliases.
https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

With ConfigMap, the configuration artifacts can be decoupled from image content. But the HostAliases

[2018-04-14 11:49] #55785 closed

[2018-04-14 12:27] wojtek-t commented on #62277
@lavalamp - as I wrote before, I think this is because GC is using dynamic client, which from what I know (at least few months ago) didn't even support protobufs. Was it fixed in the meantime?

[2018-04-14 12:45] javapapo commented on #45419
Hello to everyone, I can see that the issue is being reported through different combinations of CoreOS/Docker/Kubernetes binaries. In our case, we are still on the same kubernetes stack - (1.7.10 / CoreOS/kops/AWS), i dont think that the issue is resolved BUt we managed to reduce the effect to almost zero, when eventually we introduced 'tini' as part of our docker images deployed on kubernetes.  W

[2018-04-14 13:07] liggitt commented on #62277
Not all APIs support protobuf, so no

[2018-04-14 13:12] wojtek-t commented on #62277
Can't we solve that by passing accept header set to: "application/kubernetes.protobuf.vnd, */*" which would result in negotiation code choosing:
- protobuf it is supported for a given API
- json otherwise

In the client we already decode data based on ContentType header value IIRC, so assuming it will be set correctly, it should work.

What am I missing?

[2018-04-14 13:14] nikhita commented on #49734
/remove-lifecycle stale

[2018-04-14 13:17] nikhita commented on #62323
/cc @sttts @munnerz

[2018-04-14 13:36] nikhita commented on #34255
https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md :tada:

/close

[2018-04-14 13:36] #34255 closed

[2018-04-14 13:52] xikunyang opened #62580 "Unable to delete ContainerCreating pod?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Unable to delete ContainerCreating pod

**What you expected to happen**:

Delete ContainerCreating pod

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware configuration:
- OS (e.g

[2018-04-14 14:06] wenlxie commented on #62580
The namespace not specificed?
`kubectl delete pod **** -n kube-system` ?

[2018-04-14 14:12] tamalsaha commented on #62325
Thanks @mbohlool . I don't have the bandwidth necessary to push it through the Kubernetes review process. Anyone interested in this is welcome to take it from here.

Thanks @nikhita for filing opening issue in kube-openapi repo.

[2018-04-14 14:25] dims commented on #62580
yep specifying the namespace should work. please reopen if it does not

/close

[2018-04-14 14:25] #62580 closed

[2018-04-14 14:26] dims commented on #62574
@m1093782566 this is clearly a lot of work cutting across at least 2 sigs. probably better to start in the features repo i think ( cc @idvoretskyi @justaugustus )

[2018-04-14 14:35] dims commented on #62579
/sig node
/sig network

[2018-04-14 14:35] dims commented on #62578
/sig node

[2018-04-14 14:35] dims commented on #62575
Can you please move this issue to https://github.com/kubernetes/kubeadm/issues?

/close

[2018-04-14 14:35] #62575 closed

[2018-04-14 14:37] dims commented on #62532
/sig node

[2018-04-14 14:41] xikunyang commented on #62580
Thanks for quickly reply.
I can delete the pod with namespace. But the pod will auto restart immediately. How can I stop it?

[2018-04-14 14:52] #55613 closed

[2018-04-14 15:04] xiangpengzhao commented on #62479
@MrHohn find the root cause of #54191 not working as expected. https://github.com/kubernetes/kubernetes/pull/57672 introduced the regression:
[code]

I send a PR https://github.com/kubernetes/kubernetes/pull/62582 to fix the two issues we mentioned in this thread.

[2018-04-14 15:35] rajatjindal commented on #56903
@thockin @bowei

requesting your feedback therefore tagging you.

can this be of any interest here: https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02

there are multiple issues reported for this issue in kubernetes project, and will be great to have it resolved for everyone.

[2018-04-14 15:47] smarterclayton commented on #62579
Can’t you mount a configmap at /etc/hosts with a subpath?  That’s more in line with the customization to control this that I would expect.

[2018-04-14 15:58] liggitt commented on #61643
that seems like a reasonable starting point to me

[2018-04-14 16:32] nikhita commented on #46822
/remove-lifecycle rotten

[2018-04-14 16:52] nikhita commented on #57485
/remove-lifecycle stale

[2018-04-14 16:53] nikhita commented on #39434
/remove-lifecycle rotten

[2018-04-14 16:58] seanknox opened #62585 "kube-apiserver denying CSRs with empty reason on v1.10.1"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: The bootstrap token is validated but kube-apiserver is denying CSRs with an empty reason:

[code]

On the kubelet:
[code]

**What you expected to happen**: I'm using [bootstrap tokens](https://kubernetes.io/docs/admin/bootstrap-tokens/) to join nodes to a cluster. RBAC roles and bootstrap secret are configured

[2018-04-14 16:59] seanknox commented on #62585
/sig auth

[2018-04-14 17:11] seanknox commented on #62585
/sig api-machinery

[2018-04-14 17:14] seanknox commented on #62585
cc @kubernetes/sig-auth-bugs @kubernetes/sig-api-machinery-bugs

[2018-04-14 17:15] liggitt commented on #62585
Your rolebinding grants to the group system:bootstrappers:kubeadm:default-node-token but that group is not part of your bootstrap token

[2018-04-14 17:17] seanknox commented on #62585
Thanks @liggitt, totally missed that despite staring at it for hours.

[2018-04-14 17:17] #62585 closed

[2018-04-14 17:27] seanknox commented on #62585
For posterity, the fix was updating the `auth-extra-groups` field in the secret to include the `system:node-bootstrapper` group referenced in the ClusterRoleBinding. Changed:

[code]

to:
[code]

Thanks again @liggitt.

[2018-04-14 17:27] toolboc commented on #61277
@geoffgarside ,

The issue may lie in the fact that the etcd version is not supported by the installed version of kubeadm.

Using kubeadm  v1.10.1 with etcd v2.3.7 (latest available on Raspbian Stretch) and following the suggestion by @ChristianCandelaria to run an external etc instance, I get the following:
[code]

[2018-04-14 17:53] liggitt commented on #62533
The period of the self-generated certificate is not configurable.

If you are using the self-generated certificates, you can simply delete them and they will be regenerated on next start.

 If you are using client cert rotation, the kubelet will re-request new CSRs prior to expiration.

If your cluster setup created the certificates, it is responsible for updating/refreshing them

/kind support
/c

[2018-04-14 17:53] #62533 closed

[2018-04-14 17:55] #37625 closed

[2018-04-14 18:08] liggitt commented on #62488
Service accounts are not treated as special users... they can be given permissions to make API requests just like any other user.

If you don't want tiller users to be able to request pod creation in the tiller namespace, or using the tiller serviceaccount, that needs to be enforced within tiller itself.

There are broader issues with enforcing permissions and avoiding escalation issues with Helm

[2018-04-14 18:08] #62488 closed

[2018-04-14 18:14] liggitt commented on #62566
it sounds like the etcd client credentials given to the apiserver are not correct

can you capture the apiserver logs (from the very beginning of startup with etcd client credentials) and the output of these URLs:
[code]

[2018-04-14 18:56] #55808 closed

[2018-04-14 19:40] iponnam commented on #62566
When passed the certs to curl, healthz passed
[code]
healthz/etcd - output
[code]

[2018-04-14 19:43] nikhita commented on #62507
Dupe of https://github.com/kubernetes/kubernetes/issues/62059.

[2018-04-14 19:57] #55433 closed

[2018-04-14 20:48] geoffgarside commented on #61277
I'm running the etcd-arm64 3.1.12 container, so its the accepted version of etcd. The issue seems to be the livenessProbe on the etcd pod, though I'm not sure how. The kubelet logs show it thinking the container is dead and so restarting it. I've been trying the following

[code]

and get the following output

[code]

so I'm still not sure why its thinking the container is dead. If I run the etcd

[2018-04-14 21:12] liggitt commented on #62566
Do you have the API server yaml for the reverted mode that is working? Was the etcd TLS settings the only difference between the two setups? Based on the logs, it looks like you enabled the PodSecurityPolicy admission plugin without creating a privileged policy and granting access to the kubelet (which it needs to report on the static apiserver pod)

As an example, this is the policy GCE sets up t

[2018-04-14 21:15] ccanuel opened #62587 "BUG: Kubectl: the server doesn't have a resource type "ingesses""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[cmd]
kubectl get deployments,configmaps,services,ingesses
the server doesn't have a resource type "ingesses"

[/cmd]

cmd windows is now locked up. "Ctrl+C" does not break free.
Have tested for 8 hours and still no return to cmd prompt.

**What you expected to happen**:
Return to the prompt after error.

**How to reprodu

[2018-04-14 21:57] smarterclayton commented on #62277
It would not be able to today, not without enforcing some extra constraints
that we haven’t dealt with.  So not possible without a lot more work.

If the generic client wants to get only objectmeta, we should be doing that
via the generic conversion support, in which case you can get a
PartialObjectMetadata as protobuf but you won’t be able to do anything
generic.

On Apr 14, 2018, at 9:18 AM, Jor

[2018-04-14 22:01] smarterclayton commented on #62277
Accept: application/vnd.kubernetes.protobuf;as=PartialObjectMetadataList;g=meta.k8s.io;v=v1beta1

Should result in a list you can decode from any compatible apiserver.  If you add the fallback to raw json you can then fallback for older extension apiservers.

[2018-04-14 22:06] iponnam commented on #62566
Yes, etcd TLS is the only setting different.
[etcd-yaml-without-tls.txt](https://github.com/kubernetes/kubernetes/files/1911199/etcd-yaml-without-tls.txt)

[kube-apiserver-yaml-without-tls.txt](https://github.com/kubernetes/kubernetes/files/1911197/kube-apiserver-yaml-without-tls.txt)

[2018-04-14 22:08] iponnam commented on #62566
We have followed the same document to enable PSP.

[2018-04-14 22:22] hochuenw opened #62588 "Bug: `Kubectl get pod` - Pod is running and has two Containers. Container 1 exits with success."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When one pod is running and has two Containers. Container 1 exits with success and container 2 is running.
`kubectl get test -o=json` gives correct info -  the pod status is `Running`.
However, `kubectl get pod test -o=wide`, the pod status is `Completed`.

**What you expected to happen**:
`kubectl get pod test -o=wide`,

[2018-04-14 23:00] #55799 closed

[2018-04-14 23:28] dbenhur commented on #62185
@mbohlool Thanks for your suggestion; I've opened issues on each of the four official client repos.

Knowing the client work is understaffed is useful -- Amazon EKS team is working with [Heptio's AWS Authenticator](https://github.com/heptio/authenticator) using this new feature to enable more seamless AWS IAM auth experience with K8s, so we have an interest in seeing the client auth plugin feature

[2018-04-14 23:47] mbohlool commented on #62185
That would be great. Thanks Devin.

[2018-04-15 00:02] #55768 closed

[2018-04-15 00:02] #17028 closed

[2018-04-15 00:02] #23276 closed

[2018-04-15 00:02] #25601 closed

[2018-04-15 00:02] #35007 closed

[2018-04-15 00:02] #35076 closed

[2018-04-15 00:02] #21558 closed

[2018-04-15 00:02] #32522 closed

[2018-04-15 00:10] kargakis commented on #41394
A proposal for this is out: https://github.com/kubernetes/community/pull/2045

[2018-04-15 00:30] m1093782566 commented on #62574
@dims

It's a big feature and I think we should discuss it a bit before starting it in the feature repo.

[2018-04-15 01:02] #27710 closed

[2018-04-15 01:02] #16741 closed

[2018-04-15 01:02] #17080 closed

[2018-04-15 01:02] #28366 closed

[2018-04-15 01:02] #35758 closed

[2018-04-15 01:02] #31018 closed

[2018-04-15 01:02] #36535 closed

[2018-04-15 01:48] tangblue commented on #62579
/etc/hosts is created by kubernetes runtime. It seems like mounting ConfigMap at /etc/hosts is not a safe way.

[2018-04-15 02:13] elyscape commented on #28272
/remove-lifecycle rotten

[2018-04-15 02:28] liggitt commented on #62587
there's a typo in the command... the resource is "ingresses" with an "r"

/close

[2018-04-15 02:38] andyzhangx commented on #62540
Update: above fix does not on Windows, I am still investigating a better solution.
This issue is caused by  `devicePath` updated after `WaitForAttach`, related code is here:
https://github.com/kubernetes/kubernetes/blob/ee4d90aaa61150139cdcd67a73e22da8cb226dc6/pkg/volume/util/operationexecutor/operation_generator.go#L517-L518

`devicePath` could not be changed in azure_dd since
 - AttachDisk happe

[2018-04-15 03:51] Davidrjx commented on #62588
@hochuenw, i can not see your pod named nginx in your above code

[2018-04-15 04:14] Davidrjx commented on #62532
@kirsazlid , as k8s's deployment rolling update, set image should be invalid. if useless, an cause may be lie in two images'tag setup where one is none and the other is latest in your case. you can make a try to assign individual tag respectively, then set image

[2018-04-15 04:15] Davidrjx commented on #62532
@kirsazlid , as k8s's deployment rolling update, set image should be valid. if useless, an cause may be lie in two images'tag setup where one is none and the other is latest in your case. you can make a try to assign individual tag respectively, then set image

[2018-04-15 04:26] Davidrjx commented on #62504
@krmayankk, in which tool did you deploy your cluster? your problem also seems much like network problem and you may be have a try to change cluster net solution, like version downgrade or the other net plugin.

[2018-04-15 04:31] chrislovecnm commented on #54511
/lifecycle frozen
/remove-lifecycle stale

[2018-04-15 04:41] Davidrjx commented on #62451
@ckeyer maybe downgrading calico to 2.6 is valid. if not, try to update net plugin like canal

[2018-04-15 05:37] fejta-bot opened #62592 "pr:pull-kubernetes-e2e-gce-100-performance flaked 72 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **72**
 Consistency: **88.80%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Up | 89 |
| Stage | 17 |
| [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons | 6 |

[Flakiest Job

[2018-04-15 05:38] rmt commented on #30792
@bambrozio, https://aws.amazon.com/blogs/aws/new-encryption-of-data-in-transit-for-amazon-efs/ was just released, allowing TLS when mounting an (existing) EFS volume on AWS.  I guess that both at-rest encryption and in-transit encryption would have to be added as an option to any EFS provisioner (currently there's one in kubernetes-incubator/external-storage).

It may be possible to use in-transit

[2018-04-15 06:35] rakshazi commented on #21582
Bump.

PS: Sorry, but is really must-have feature

[2018-04-15 07:03] #62321 closed

[2018-04-15 07:10] anubhakushwaha commented on #62325
@tamalsaha @nikhita @sttts I would like to research and work on it.

[2018-04-15 07:36] phanindra48 opened #62594 "Liveness/Readiness probes are failing with getsockopt: connection refused"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: Liveness/Readiness probes are failing so frequently and the failures are also inconsistent. Some of the pods in the same deployment are getting stuck in the crashLoopBackOff

[code]

And few more errors from other pods!
[code]

Here is how my livenessProbe config
[code]
**What you expected to happen**:
Health checks to p

[2018-04-15 07:44] Phanindra48 commented on #62594
/sig network
/sig aws

[2018-04-15 08:17] ckeyer commented on #62451
@Davidrjx 2.6 is ok.

[2018-04-15 08:54] racyber commented on #26670
Hi, does anyone knows how to workaround this issue on AWS? we have a lot of TCP based apps and no HTTP and we can't use ingress.

[2018-04-15 09:33] RainingNight commented on #56038
Any official news?

[2018-04-15 10:11] #37546 closed

[2018-04-15 10:47] occia opened #62595 "A question about customresourcedefinition.Generation in k8s v1.9.2"
**What happened**:
I'm using k8s v1.9.2 and trying to develop a CustomResourceDefinition Controller. And I found that the crd's Generation field, which is defined in CRD.ObjectMeta.Generation, consistently be 0 regardless of the changes of CRD.Spec.SOMEFIELD.

**What you expected to happen**:
When CRD.Spec.SOMEFIELD changed, the CRD.Generation should be incremented.

**Anything else we need to kno

[2018-04-15 11:16] nikhita commented on #62595
Do you mean the CRD here or the instance of the CRD i.e. custom resource here?

The `metadata.generation` for the CRD is incremented as the spec changes.

For 1.9.2, the `metadata.generation` for the custom resource will _not_ change as the spec changes. It is available only from 1.10.

See https://kubernetes.io/docs/tasks/access-kubernetes-api/extend-api-custom-resource-definitions/#subresources

[2018-04-15 11:16] nikhita commented on #62595
/sig api-machinery
/area custom-resources

[2018-04-15 11:16] nikhita commented on #62595
/assign

[2018-04-15 11:24] nikhita commented on #62507
Closing in favour of https://github.com/kubernetes/kubernetes/issues/62059.
/close

[2018-04-15 11:24] #62507 closed

[2018-04-15 12:15] warmchang commented on #51017
/remove-lifecycle stale

[2018-04-15 12:33] liggitt commented on #62587
Ah, I see. You're correct, it should not lock up.

I'm unable to reproduce this on Linux. Can you see if this is resolved in the latest release?

[2018-04-15 12:41] hsingh6764 commented on #26670
@racyber if you are using kops then you can apply this setting:
{code}
spec
  cloudConfig:
    disableSecurityGroupIngress: true
{code}
Kubernetes will still create security group per ELB but won't add that to Node security group.
You will have to add rule to your Node Security Group to allow all ELB to have access. (mostly adding your VPC CIDR)

[2018-04-15 12:56] idvoretskyi commented on #62574
@dims definitely! Please, negotiate the discussion and if you are planning this feature to land in 1.11 release, don't forget about the features freeze coming on April 24th https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md

[2018-04-15 13:04] occia commented on #62595
Well, your answer really helps me, thanks :)

[2018-04-15 13:04] #62595 closed

[2018-04-15 13:35] mmeliani opened #62596 "Kubernetes federation - unable to init the federation control plane"
I am working on creating a federation with three clusters. The host cluster spin up but I am not able to init the federation successfully.

[code]
The "creating federation control place service step takes a lot of time and didn't stop loading unless i forced it"

The host cluster has 3 controllers and 2 workers and some egdes;

I'm using coredns as DNS provider : I followed exactly the instruction

[2018-04-15 13:58] mmeliani commented on #62596
/sig api-machinery
/assign

[2018-04-15 14:15] #55852 closed

[2018-04-15 16:09] racyber commented on #26670
@hsingh6764 just found the documentation today! thanks!

https://github.com/kubernetes/kops/blob/release-1.9/docs/cluster_spec.md#cloudconfig

[2018-04-15 16:33] ghoben commented on #54918
I have the same issue. Can someone give a hint on what might be wrong?

[2018-04-15 17:00] praseodym commented on #44485
[Docker 18.03 supports exposing SCTP ports](https://github.com/moby/moby/issues/9689); it would be great if Kubernetes would too.

[2018-04-15 18:03] vishh opened #62598 "[Umbrella issue] Improve compute resource APIs"
This issue is meant to track all feature requests that fall into the category of improving existing compute resource APIs.
Some of the initial reasons for improving compute APIs are:
1. Providing per-device quota while not-compromising workload portability across compatible devices.
2. Enabling per-device billing while not-compromising workload portability across compatible devices.
3. Enabling co

[2018-04-15 18:05] vishh commented on #62598
https://github.com/kubernetes/kubernetes/pull/61775 is another use case that could in theory be satisfied by compute resources. If a vendor wants to pass additional metadata to device plugins, they could do that by adding annotations to concrete compute resources which the plugins can have access to. Cluster admins can restrict who can update concrete compute resources via RBAC (assuming concrete

[2018-04-15 18:07] MPJHorner commented on #47334
This get resolved?

[2018-04-15 18:56] AshleyByeUK opened #62599 "kube-controller-manager address flag deprecated but defaults still being applied"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kube-controller-manager.service` fails to start due to an address already being bound to port 10252.
`--address` and `--port` flags not being used as shown as deprecated, using `--bind-address` and `--secure-port` flags. However, it is binding to `0.0.0.0:10252` - terminal copy of `journalctl -xe`:

[code]

**What you ex

[2018-04-15 18:57] seanknox opened #62600 "Kubelet fails to bootstrap when `--hostname-override` is set."
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: Kubelet fails to bootstrap when  `--hostname-override` is set.

[code]

**What you expected to happen**: I'm using [bootstrap tokens](https://kubernetes.io/docs/admin/bootstrap-tokens/) to join nodes to a cluster. I expected the nodes to generate CSRs using the hostname specified in ` --hostname-override`.

**H

[2018-04-15 18:58] seanknox commented on #62600
@kubernetes/sig-auth-bugs

[2018-04-15 19:03] joelsmith opened #62601 "TestGetLoadBalancer race detected during execution of test"
Since #62565 merged on Friday night, my PR (#62572) has failed several retests of pull-kubernetes-bazel-test. My PR is unrelated to the load balancer so I suspect that #62565 introduced a flake. I see several runs of that test against master that aren't failing, so clearly the test works sometimes (and the original PR passed it several times to before it merged). Perhaps the test harness sometimes

[2018-04-15 19:08] joelsmith commented on #62601
/cc @nicksardo
/cc @agau4779
/sig gcp

[2018-04-15 19:13] liggitt commented on #62600
Does the --kubeconfig file exist from a previous invocation where hostname was not overridden?

[2018-04-15 20:03] seanknox commented on #62600
No, I confirmed this happens on newly provisioned nodes and controllers.

[2018-04-15 20:38] liggitt commented on #62600
Before the kubelet starts syncing status, it creates the node object if needed. Do you see a message early in the kubelet log related to what happened with that?

[2018-04-15 20:58] MichaelScript commented on #34982
@richmondwang @leopoldodonnell @schasse @rainder @thockin There was no bug It seems like it was an issue with how the key was being generated by the post everyone is referencing.

https://github.com/MichaelScript/kubernetes-mongodb

If you run the example I created and `kubectl logs mongod-0` you can see that the file now has the correct permissions and is mounted correctly.

[2018-04-15 21:24] jharrington22 commented on #45746
Hi we would also be interested in an annotation that allowed us to modify the TCP health check to a HTTP health check with a different "ping path". Currently these TCP checks generate a lot of log spam which we could modify the application to omit however are also hitting a "ping path" that ensures the application is responding and not just listing on the configured port would be preferred. Is the

[2018-04-15 21:45] ThomasGsp opened #62603 "Message crictl 404"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Bad URL for crictl

**What you expected to happen**:
Download crictl

**How to reproduce it (as minimally and precisely as possible)**:
root:~ #  kubeadm init --config=config.yaml
[init] Using Kubernetes version: v1.10.1
[init] Using Authorization modes: [Node RBAC]
[preflight] Running pre-flight checks.
	[WARNING FileExis

[2018-04-15 21:46] MichaelScript commented on #34982
@thockin I think there might be an issue where if the secret has no data then it mounts it anyways (not sure if this is the specified behavior but it might be okay)

If this is the specified behavior then there is a bug where the file permissions aren't modified of the mounted file that has no data. Which is what was causing everyone here issues because it isn't obvious that the generated secret h

[2018-04-15 21:49] seanknox commented on #62600
The node appears to register itself initially:

[code]

but fails on node update as it can't find a record of the node:
[code]

Full logs of a new kubelet here: https://gist.github.com/seanknox/c0308f8e510a6e3743c00824852ccb6e

[2018-04-15 21:58] liggitt commented on #62600
What do logs for the apiserver and controller manager show at the same time? Are either of those being invoked with a cloud-provider argument?

[2018-04-16 00:00] hochuenw opened #62604 "statefulSet: Cannot ping pods in init container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
for a statefulset using headless service, though the hostname is indexed, it can not ping the other pod through the dns name.

**What you expected to happen**:
Init container can ping each other through hostname.

**How to reproduce it (as minimally and precisely as possible)**:
1. create one statefulset with one init con

[2018-04-16 00:00] hochuenw commented on #62604
/sig network

[2018-04-16 00:03] hochuenw commented on #62588
/sig kubectl

[2018-04-16 00:11] hochuenw opened #62605 "statefulSet: check external dns entry is created before running command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

given this yaml:

[code]

log is:
[code]
The first ping failed. but after 3 seconds, it works. My guess is that pod is addressable through the headless service, and the external dns entry just need some time to be created..
So in order to ping the other with success, I have to add `sleep 3` before all commands.
Can a

[2018-04-16 00:12] hochuenw commented on #62605
/sig network

[2018-04-16 02:14] seanknox commented on #62600
Yes, both the apiserver and controller manager are using the Azure cloud provider. This stood out in the logs:

[code]

The node was named "node1" in Azure but being referred to as "node1.bootstrapo.acs" in Kubernetes. Renaming the node to its FQDN fixed the issue. Thanks @liggitt.

[2018-04-16 02:14] #62600 closed

[2018-04-16 03:01] #59656 closed

[2018-04-16 03:04] m1093782566 commented on #59656
Fix goes in now, please check the head. Thanks!

[2018-04-16 03:44] gyliu513 commented on #61937
Not only 1.9, but also 1.10 and master have same issue. This is a very serious issue for production, I think providing a parameter to disable kmem limit is good.

/cc @dchen1107 @thockin any comments for this? Thanks.

[2018-04-16 04:59] dannolan commented on #47928
Any updates on this?

[2018-04-16 05:00] zeroasterisk commented on #58736
I ended up having to supply a zone vs. a region, but that did get it working:
[code]

[2018-04-16 05:08] weaseal commented on #47928
We mostly found this was a symptom of memory pressure on the host systems.  See here for resolutions https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/

[2018-04-16 05:21] feiskyer opened #62610 "Azure master nodes not able to register itself as vmss type"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When instancemetadata is for Kubelet on master nodes , kubelet is not able to register itself with errors:

[code]

**What you expected to happen**:

Kubelet registers itself successfully.

**How to reproduce it (as minimally and precisely as possible)**:

Deploy a vmss cluster with vmas master and vmss nodes, set instan

[2018-04-16 05:30] #55617 closed

[2018-04-16 06:12] jingxu97 commented on #62540
@andyzhangx thanks for issuing this problem. Could you submit a PR with your fix so that we can review it? Thanks!

[2018-04-16 06:25] andyzhangx opened #62613 "WaitForAttach may fail for aws_ebs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
When I am fixing [WaitForAttach failure](https://github.com/kubernetes/kubernetes/pull/62612) in azure_dd, I also find there could be same issue for aws_ebs, below are the context:
From v1.10, `devicePath` will be updated due to following code change:
https://github.com/kubernetes/kubernetes/blob/568afb4ecca99bc3b54fddc209

[2018-04-16 06:28] andyzhangx commented on #62540
@jingxu97 finally I realized `devicePath` should not be used in `WaitForAttach` func any more by referencing the gce_pd code, PTAL #62612, aws_ebs code should has same issue, I filed a aws_ebs issue here: https://github.com/kubernetes/kubernetes/issues/62613

[2018-04-16 06:39] wojtek-t commented on #62277
@liggitt @smarterclayton - thanks for clarification.

That said, I have a follow-up question. If I would imagine a situation, that I'm using a dynamic client just for convenient implementation, but I know what exact types I'm using and I know I have their proto schemas linked in, the what I proposed with accept header, should work, right?

[2018-04-16 07:03] johnzheng1975 commented on #41469
I also met this issue, how to resolve? thanks.

[2018-04-16 07:09] hzxuzhonghu opened #62617 "Show help for deprecated Kube-apiserver flags"
After #62505 merged, we should also show deprecated kube-apiserver flags.

[2018-04-16 07:10] hzxuzhonghu commented on #62617
/sig api-machinery

[2018-04-16 07:12] johnzheng1975 opened #62618 "fluentd-es warning: already initialized constant JSON::UnparserError"
kubernetes:  v1.9.3+coreos.0
Istio: 0.5.1

Deploy file:
https://raw.githubusercontent.com/johnzheng1975/kops/master/addons/logging-elasticsearch/v1.6.0.yaml

**:~/tools/v21prepare$ kubectl logs fluentd-es-6mv5k -n kube-system -f**
/opt/td-agent/embedded/lib/ruby/gems/2.1.0/gems/json-1.8.1/lib/json/version.rb:3: warning: already initialized constant JSON::VERSION
/opt/td-agent/embedded/lib/ruby/2.1

[2018-04-16 07:31] m1093782566 commented on #61938
/assign @Lion-Wei

[2018-04-16 07:31] Lion-Wei commented on #61938
/assign

[2018-04-16 07:50] vinrar commented on #18755
Since this issue is closed, May I know how to hit all pods at once to clear cache. I don't see documentation anywhere to implement as such.

https://stackoverflow.com/questions/49612412/kubenetes-is-it-possible-to-hit-multiple-pods-with-a-single-request-in-kubernet

[2018-04-16 07:58] #62571 closed

[2018-04-16 08:02] fabiand opened #62626 "List CRDs in `kubectl --help`"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**: `kubectl --help` does not list crds.
But OTOH `kubectl get $CRD` works

**What you expected to happen**: `kubectl --help` includes a list of crds and eventuall descriptive informations.

**How to reproduce it (as minimally and precisely as possible)**:
Call `kubectl --help`

[2018-04-16 08:04] fabiand commented on #62626
/sig cli

[2018-04-16 08:08] cccdemon commented on #62157
Report from our Firewall Guys: cause the connection was made with a self signed Certificate to an IP Adress the request was blocked. (TLS1.0 to IP is blocked via Webfilter)

[2018-04-16 08:28] xiaoxubeii opened #62628 "DNS latency of 5s when uses iptables forward in pods network traffic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The DNS will get a 5s latency of AAAA when uses iptables forward in network traffic between pods.

**What you expected to happen**:
No latency.

**How to reproduce it (as minimally and precisely as possible)**:
- CNI configuration
[code]
-   Network Architecture
The cluster cidr is 172.20.80.0/24, gw is current node. Clus

[2018-04-16 08:31] CaoShuFeng commented on #60108
No one is working on this?
Mind if I assign it?

[2018-04-16 08:31] sttts commented on #62329
Do we have an versioned openapi endpoint?

[2018-04-16 08:33] jsafrane opened #62630 "CSI: data race in csi_attacher_test.go"
/kind bug
/sig storage

**What happened**:
CSI unit tests occasionally end up with data race:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

1. Follow https://github.com/kubernetes/community/blob/master/contributors/devel/flaky-tests.md#reproducing-unit-test-flakes to get `$GOPATH/bin/stress`

2. Compile CSI unit tests into a binary: `cd pkg/volume/csi; go test -c -rac

[2018-04-16 08:33] xiaoxubeii commented on #62628
/sig netowrk
/assign

[2018-04-16 08:51] jsafrane commented on #62630
/assign @vladimirvivien

[2018-04-16 08:57] #62551 closed

[2018-04-16 09:04] komljen commented on #62099
My approach is to copy the config map to `emptyDir` volume if I need rw capabilities https://github.com/kubernetes/charts/pull/3591/commits/e4b7d0b8740cd81e10a9ead3d89ee50328ca596a

[2018-04-16 09:08] chenqiangzhishen commented on #51924
also I meet the same issue
I tried @mattjmcnaughton 's suggestion, but failed as @yangyangliu9412

[2018-04-16 09:13] shyamjvs commented on #62456
So the latest runs of our 5k and 2k-node performance tests are green and I can't find any master restarts. Ref:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/139
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/81
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/

[2018-04-16 09:13] chenqiangzhishen commented on #51924
Please reopen it if you didn't get the solution of the issue @vklonghml , thanks.

[2018-04-16 09:17] Evil4Fish commented on #8642
Although this closed, it still appears in my environment：
`Apr 16 05:16:23 ubuntu kubelet[1847]: W0416 05:16:23.196969    1847 kubelet.go:1602] Deleting mirror pod "kube-controller-manager-ubuntu_kube-system(d4746eba-4156-11e8-84f4-0050569b7580)" because it is outdated
Apr 16 05:16:25 ubuntu kubelet[1847]: W0416 05:16:25.210714    1847 kubelet.go:1602] Deleting mirror pod "etcd-ubuntu_kube-system(

[2018-04-16 09:21] pkdetlefsen opened #62637 "GlusterFS volume always mounts first endpoint instead of random endpoint"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When mounting dynamically provisioned GlusterFS volumes in your deployments the first IP in the Endpoints object will always be used.

**What you expected to happen**:

According to [this example](https://github.com/kubernetes/examples/blob/master/staging/volumes/glusterfs/README.md) a random endpoint should be picked.

[2018-04-16 09:21] Lion-Wei opened #62638 "IPVS incorrectly create kube-firewall rule"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
If we create a loadbalancer type service with `loadBalancerSourceRanges` specified, ipvs type kube-proxy will create incorrect kube-firewall rules, may result in other loadbalancer type service can't be access.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
1. build a cluster with ipvs proxy mode

[2018-04-16 09:26] Fizzadar commented on #47893
/reopen

[2018-04-16 09:28] shyamjvs commented on #62456
To clarify - the way I confirmed the above was by checking from docker logs that it wasn't killed/restarted and from the serial port logs that no kernel panic had occurred.

[2018-04-16 09:34] #51454 closed

[2018-04-16 09:44] sttts commented on #8830
Forseeing another 134 bash line PR against https://github.com/kubernetes/publishing-bot/blob/master/artifacts/scripts/util.sh. It's certainly possible, just ugly.

[2018-04-16 09:47] mritd commented on #42158
Same here.(1.10.0 when reboot controller manager)

[2018-04-16 09:56] mmeliani commented on #62596
/sig federation

[2018-04-16 10:08] shyamjvs commented on #62064
Ran once more against 116 and have the following values - 9.66ms (50%), 414.091ms (90%), 877.327ms (99%)
I believe we can now try to confirm that 118 is the right end.

[2018-04-16 10:25] pkdetlefsen commented on #62637
/sig storage

[2018-04-16 10:32] minherz opened #62640 "Feature request: Customize prefix for LB provisioned in cloud infrastructure"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
When Kubernetes provisioning Load Balancer (LB) instance in one of supported Cloud infrastructures, it generates name for LB using [hardcoded template](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L67). Sometimes it is required to limit scope of permissions for LB related actions. For

[2018-04-16 10:35] #55932 closed

[2018-04-16 10:47] minherz commented on #62640
@kubernetes/sig-Cloud Provider-feature-requests

[2018-04-16 10:51] hsafe opened #62641 "Kubernetes fails at cmd/gke-certificates-controller stage with dir: _output left with no space"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind bug

**What happened**:
Kubernetes installation from source on Archlinux installation fails on to the stage:
     cmd/gke-certificates-controller
With error:
rsync: write failed on "/home/hsafe/Downloads/apps/kubernetes/new_dir/kubernetes/src/kubernetes-1.9.3/_output/local/bin/linux/amd64/e2e.test": No space left on device (28)
rsync error: error

[2018-04-16 10:51] #58239 closed

[2018-04-16 11:02] minherz commented on #62640
@kubernetes/sig-cluster-ops-feature-requests

[2018-04-16 12:17] zetaab opened #62644 "How to get kubelet_volume* metrics working?"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**: I am trying to get `kubelet_volume_*` metrics working. According this https://github.com/google/cadvisor/issues/1702#issuecomment-344324219 there should be support after 1.8 kube. However, I am now using kube 1.10.1 and still I cannot see anything in `/metrics`? Should these be there or not?

[code]

**What you expect

[2018-04-16 12:36] ash2k commented on #62601
My PR started failing recently too. See https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/61976/pull-kubernetes-bazel-test/40524/

[2018-04-16 12:36] renan commented on #17199
/remove-lifecycle stale

[2018-04-16 12:37] renan commented on #17199
/lifecycle frozen

[2018-04-16 12:37] CaoShuFeng opened #62645 "[cli]some deprecated flags disappeared from help message"
After the merge of this [pull request](https://github.com/kubernetes/kubernetes/pull/62505)

Some deprecated flags are hidden from help message.
This issue is addressed to trace what options should we take back.

One related change to kube-apiserver:  https://github.com/kubernetes/kubernetes/pull/62621

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig cli

/assign

[2018-04-16 12:43] rrati commented on #46442
@thockin I'm not married to the state idea, but I think whatever solution we decided upon needs to leave the decision making for what to do with the nodes in kubernetes vs in the cloud provider.  The states make sense to me because effectively it separates the nodes into 3 groups: Running, offline but could come back, gone and won't return.   We would need the cloud provider to "sort" the nodes in

[2018-04-16 12:56] #62610 closed

[2018-04-16 13:34] dims commented on #62603
please move this to https://github.com/kubernetes/kubeadm/issues. thanks!

/close

[2018-04-16 13:35] #62603 closed

[2018-04-16 13:38] dims commented on #62641
/sig gcp

[2018-04-16 13:39] dims commented on #62618
Can you please move this to https://github.com/kubernetes/kops/issues ?

Thanks

/close

[2018-04-16 13:39] #62618 closed

[2018-04-16 13:43] dims commented on #62592
/sig scalability

[2018-04-16 14:12] ncdc commented on #42158
Sorry, just noticed the updates on this issue.

The history on this issue is a little confusing. It was opened because a test failed in CI. While it **looks** like the failure was this:
[code]
it was actually this:
[code]

The test that failed was a `kubectl replace` call to replace a `node`. It failed because there was a conflict, and the apiserver was using stale data from its watch cache (filed

[2018-04-16 14:25] poeyashi commented on #57897
Looking on master logs (Stackdriver, GKE), I can find that on namespace delete there's cascade of deletes of many namespace resources like deamonsets, deployments, ingresses, replicasets, jobs, pods, secrets and so on... including endpoints. Then, at the end, namespace itself is removed.
But the interesting part is that I can't find services in this list.
Coincidence or bug?

[2018-04-16 14:31] mmeliani opened #62653 "[Federation] `kubefed init` doesn't work with coredns provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`kubefed init marfedcluster --host-cluster-context=default-context --dns-provider="coredns" --dns-zone-name="example.com." --dns-provider-config="/coredns-provider.conf"`
kubefed init is no response.
=> no response and logging about over 30 minutes..
=> after ctrl-c that status, i found only "federation-system" namespace and
"marfed

[2018-04-16 14:34] mmeliani commented on #62653
@madhusudancs kubefed init hangs with coredns, could help please with that ?

[2018-04-16 14:35] shahidhk commented on #62334
@cizixs I think it should. Do you know any other parameters which can cause a network failure/degradation, but easy to detect?

[2018-04-16 14:42] gnufied commented on #62644
Prometheus metrics should be available on default port of Kubelet. Can you try `curl http://localhost:10255/metrics` ? If you are on a RBAC enabled cluster (such as openshift) you may have to use token or key to authenticate for fetching metrics.

[2018-04-16 14:45] mmeliani commented on #62653
I ran  `kubefed --v=99  init marfedcluster --host-cluster-context=default-context --dns-provider=coredns  --dns-provider-config=coredns-provider.conf`

and get :
[code]

[2018-04-16 14:45] nikhita commented on #53777
/remove-lifecycle stale

[2018-04-16 14:48] liggitt commented on #62626
--help output does not require an active server connection

`kubectl api-resources` will contact the server and display all available resources

/close

[2018-04-16 14:48] #62626 closed

[2018-04-16 14:49] nikhita commented on #48211
/remove-lifecycle stale

[2018-04-16 14:52] jolson490 commented on #32987
Can this issue please be re-opened? And until this issue is fixed, is there a command I can do to check whether a given port has truly been deleted?

----

More info:

On K8s v1.8.4 I'm using [kube-prometheus](https://github.com/coreos/prometheus-operator/tree/master/contrib/kube-prometheus), which has:
 * a [deploy](https://github.com/coreos/prometheus-operator/blob/master/contrib/kube-prometheus

[2018-04-16 14:57] mmeliani commented on #62653
@moonek @ligc  could u take a look

[2018-04-16 15:13] rramkumar1 commented on #59976
@m1093782566 Will this issue be fixed by the fix for #59656 as well?

[2018-04-16 15:22] wrstlrlp13 commented on #13892
/reopen

Is there anything indicating that support for sessionAffinity: clientIP is coming to load balancers for aws anytime soon?

Or is the nginx approach just what I should be going with?

[2018-04-16 15:22] zetaab commented on #62644
[code]

[2018-04-16 15:31] jlucktay commented on #55229
I'm having trouble with this at the moment, and may have devised a way out of it.

- macOS 10.13.4
- Kubernetes 1.10.1
- openssl 1.0.2o (installed via [Homebrew](https://brew.sh))

[This open issue](https://github.com/OpenVPN/easy-rsa/issues/74) with easy-rsa seems to be the root cause, and [this specific comment re: exporting EASYRSA_OPENSSL](https://github.com/OpenVPN/easy-rsa/issues/74#issuecom

[2018-04-16 15:40] #54469 closed

[2018-04-16 15:41] artefactop commented on #54022
To fix it, in the first join use the option `--discovery-token-unsafe-skip-ca-verification`

[2018-04-16 16:00] stu-gott commented on #62560
After closer inspection, it appears I am incorrect about `/dev/vda`. That appears to be the disk of the host node. The requested device does not show up in the container at all.

[2018-04-16 16:02] filbranden commented on #44873
What's the status here? I'm very interested in this issue (in fact, I was looking for one because I'd file one if this wasn't here yet... Been quite frustrated with godep lately.)

I saw that https://github.com/kubernetes/test-infra/issues/4868#issuecomment-356370380 from January says "We are using dep now" but https://github.com/kubernetes/kubernetes/issues/44873#issuecomment-362984677 from Febru

[2018-04-16 16:09] MichaelInfoworks commented on #13892
LOL, google has time to automate crappy bots, but not fix bugs.  You got played @wrstlrlp13.  Do it again robot!

/reopen

Sucka!

[2018-04-16 16:13] yujuhong commented on #62456
@shyamjvs, looks like the COS team were able to reproduce this issue. Will let you know otherwise. Thanks!

[2018-04-16 16:26] bgrant0607 commented on #24855
I agree that other flavors of export might be desirable. For instance, I could imagine someone just wanting to export the applied configuration rather than the full desired state.

One thing that would be useful for export and also for dry run and client-side generation would be to make fields like metadata.creationTimespamp and status omitempty in the json tags.

[2018-04-16 16:28] bgrant0607 commented on #24855
Another question is whether we should version export functionality if we're going to make changes to it, much as we're discussing for strategic merge patch formats.

[2018-04-16 16:32] bgrant0607 commented on #489
/remove-lifecycle rotten

[2018-04-16 16:38] MrHohn commented on #53754
https://github.com/kubernetes/kubernetes/pull/62582 is fixing this.

[2018-04-16 17:06] tallclair commented on #12968
/lifecycle frozen

[2018-04-16 17:09] cblecker commented on #44873
@filbranden The discrepancy you note there is test-infra has moved to dep, but kubernetes/kubernetes has not yet. The goal is still to move towards dep, but some of the work stalled out due to other priorities (specifically the near the end of the 1.10 release).

[2018-04-16 17:11] erstaples commented on #45419
Since this issue is still unresolved and is affecting my clusters on a semi-regular basis, I'd like to be "part of the solution" and get to work developing a custom operator that can automatically repair nodes affected by the node flapping, `PLEG is not healthy` issue. My inspiration for this comes from [this open issue in the Node Problem Detector repo]( https://github.com/kubernetes/node-problem

[2018-04-16 17:28] komljen commented on #45419
This is my environment, deployed on AWS with kops:

Kubernetes: 1.8.7
Docker: 1.13.1
OS: Debian Stretch
CNI: Calico
Kernel: 4.9.0-5-amd64

After two weeks of troubleshooting, disabling IPv6 in kernel solved the issue it seems.
To disable IPv6 in kernel on Debian modify this file `/etc/default/grub`:

    GRUB_CMDLINE_LINUX="ipv6.disable=1"

Update grub and reboot:

    sudo update-grub
    sudo re

[2018-04-16 17:29] yujuhong commented on #62574
I'd like to clarify a few things. The built-in network plugin code, though technically is compiled as pat of kubelet, belongs to the sub-package "dockershim" (I recently cleaned up the code to make it clear in #62212). Dockershim is just one CRI implementation, and we keep it in tree for backward compatibility reasons. With CRI, kubelet does *not* interact with network plugins at all -- these are

[2018-04-16 17:33] agau4779 commented on #62601
Hey, thanks for identifying the issue. #62565 contains tests for `gce_loadbalancer.go` - but the race condition was caused when tests with `t.Parallel()` modified a singleton variable in a mock. The short-term fix is removing the `t.Parallel()` calls, but the long-term fix is to not use a singleton. Fix is #62656 .

[2018-04-16 17:55] shyamjvs commented on #62064
I've ran against 118 and seems like it indeed is a bad one:

[code]

[2018-04-16 18:00] wojtek-t commented on #62064
it's only 1.00s, so it would be good to have one more run.

[2018-04-16 18:39] msau42 commented on #62238
The main downside I can see with specifying a block PVC in volumeMounts is that the user needs to understand the specific behavior of which container runtime they are running on.  I think we can improve on this by adding new interfaces at the lower level, instead of at the user level.

One way I think we could do this is if we explicitly support a FS on block volumes capability.  Today this is all

[2018-04-16 18:47] chrisohaver commented on #62653
The error might mean that the `federation-namespace` is still in the process of being deleted from a prior install/un-install attempt.  I believe namespace deletions issued by `kubectl` are executed asynchronously (as are deletions of pods, service, deployments, etc).

[2018-04-16 18:51] BenTheElder commented on #1806
It's probably worth mentioning that kubernetes [test-infra](https://github.com/kubernetes/test-infra) uses a lot of privileged pods running docker-in-docker to do CI for k8s on k8s. This works pretty well for us, though isn't quite ideal.

[2018-04-16 19:44] deads2k commented on #24855
We've considered this a few times since then and ended up coming back around to avoiding export and instead just getting the resource as it exists today.  The transformations could then be done client-side and at some later date.  Doing it this way allows a single retrieval to be used for different purposes and allows an "export" to be done before deciding how you may later use it.

[2018-04-16 19:47] garethgreenaway commented on #53333
I ran into this issue as well.  I've tried almost every fix that is out there and none of them worked for me.  So far the only thing that has worked was to ensure that version 1.9.3 of Kubelet, Kudeadm and Kubectl were installed and when initializing the cluster to ensure that it's using Kubernetes version 1.9.3:
`kubeadm init --kubernetes-version v1.9.3`

I had previously tried to upgrade all the

[2018-04-16 19:58] #62617 closed

[2018-04-16 19:58] #62601 closed

[2018-04-16 20:06] cheftako opened #62666 "Bad interaction between finalizer, limit range and mutating web-hook prevents pod termination"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: Pod stuck in terminating state.

**What you expected to happen**: Pod successfully cleaned up.

**How to reproduce it (as minimally and precisely as possible)**:
1. Set up a LimitRange. (Say "limits:
    - defaultRequest:
        cpu: 100m
      type: Container")
2. Install a mutating webhook on pod which creates an additi

[2018-04-16 20:11] gnufied commented on #62644
It appears that Cinder volume plugin does not implement metric interface necessary for getting those stat metrics - https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/cinder/cinder.go#L306

This seems like an oversight and is fairly easy to fix. I can help getting the PR merged if you can open it.

[2018-04-16 20:11] jennybuckley commented on #62538
cc @yliaog

[2018-04-16 20:15] jennybuckley commented on #62588
/sig node
/remove-sig api-machinery

[2018-04-16 20:16] OluAgunloye commented on #49440
I have the following problem:
` 7s            7s              2       default-scheduler                       Warning         FailedScheduling        No nodes are available that match all of the following predicates:: Insufficient memory (2), PodToleratesNodeTaints (2).`

[2018-04-16 20:19] josdotso commented on #58145
@FengyunPan Any updates on this?

[2018-04-16 20:49] iponnam commented on #62566
PSP Applied:
[code]
RoleBinding :

[code]

Role:
[code]

[2018-04-16 20:51] janetkuo commented on #29698
/remove-lifecycle stale

[2018-04-16 20:53] janetkuo commented on #29698
This is fixed.

[2018-04-16 20:53] #29698 closed

[2018-04-16 20:56] #62293 closed

[2018-04-16 20:56] #62338 closed

[2018-04-16 21:09] dims commented on #62644
/sig openstack

[2018-04-16 21:57] janetkuo commented on #49391
/remove-lifecycle stale
/lifecycle frozen

[2018-04-16 21:59] bsalamat commented on #22212
/remove-lifecycle stale

[2018-04-16 22:00] arunkumar9050 commented on #50309
I am running 3 kafka pods in statefulsets. if i give metadata.name in the place of fieldpath,  then i will get kafka-0,kafka-1,kafka-2 for three pods.. How can i get just the ID instead of whole name? (i.e. 0,1,2)
env:
    - name: ID
      valueFrom:
        fieldRef:
          fieldPath: ????

[2018-04-16 22:10] krmayankk commented on #62504
@Davidrjx i am not concerned about the specific problem in hand. We know why we are seeing the network issue which is basically because we have only limited ip per host. What i am  suggesting here if instead of displaying `SandboxChanged` event for the pod, we can actually show the real error coming out from the docker which would be super helpful. SandboxChanged doesnt mean anything to the cluste

[2018-04-16 22:13] ghostsquad opened #62675 "Version 10+? What happened to semantic versioning?"
**What happened**:

[code]

**What you expected to happen**:

To get just a number in `minor` version. This broke some tooling we have to validate versions.

**How to reproduce it (as minimally and precisely as possible)**:

I'm unsure. This was reported to me by someone else, but I can try to get more information.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `k

[2018-04-16 22:16] ghostsquad commented on #62675
/sig cli

[2018-04-16 23:26] geoffgarside commented on #61277
I've turned up the logging verbosity on kubelet, seeing these probe messages now

[code]

It looks like this might be related to the `healthcheck-client.crt` not having a SAN field for IP `127.0.0.1`, but I'm not sure. Need to create a similar certificate to the existing one and try that, will check that in the morning.

[2018-04-17 00:04] bgrant0607 commented on #1806
Yes, there are solutions such as docker-in-docker and accessing the host docker socket, but in a world where we would like most containers to run with narrower privileges and where there are multiple container runtimes, those solutions are less than ideal.

The trend is towards standalone unprivileged build tools. Somewhere we should document alternatives, but that would be a website issue at this

[2018-04-17 00:04] #1806 closed

[2018-04-17 00:05] yifan-gu commented on #43292
Hitting the issue again in 1.9.3

[2018-04-17 00:37] zuzzas commented on #62536
Only kubelet restart helps after the aforementioned OOM chain.

[2018-04-17 00:43] msau42 commented on #62238
Another downside of the runtime performing the mount is also that only standard Linux block devices would be supported.

If you wanted to support any arbitrary volume, then it would be worth looking into some mechanism to run CSI drivers inside the runtime, which is definitely a huge change.
/cc @saad-ali

[2018-04-17 00:44] mritd commented on #42158
On my 1.10.0 cluster (the three master nodes), when I try to restart the controller-manager component of a node, the controller-manager of other nodes will try to re-election. The controller-manager component logs after successful election will There is this warning message.

[code]

[2018-04-17 00:49] #52996 closed

[2018-04-17 00:55] janetkuo commented on #62415
To the Job controller and other workload controllers, a pod is active if it's:
1. Not completed, i.e. not `Succeeded` or `Failed`
2. Not terminating, i.e. `.metadata.deletionTimestamp == nil`

Therefore, a `Pending` pod is active.

However, the job status API document is misleading.
[code]

We can fix this by updating API docs.
cc @soltysh

[2018-04-17 00:58] mritd commented on #42158
I'm not sure about the cause of this problem, but it looks similar to the #49549 issue, this issue is mentioned through the #49567 PR fix; currently #49567 PR nobody is concerned about being closed.

[2018-04-17 01:08] brentpearson commented on #62415
So then should a pod be "pending" if it's container fails to be created?

I'm not sure what the fix is, but it seems like something's clearly missing if there's no way to tell that a job isn't running as expected when a container spec has a typo and therefore can't even be created.

[2018-04-17 01:10] Quentin-M commented on #58010
Unfortunately, it seems that kubelet still refuses to schedule privileged pods, that were allowed by the PSP, when the flag is omitted.

[2018-04-17 01:29] #61910 closed

[2018-04-17 01:30] brentpearson commented on #62415
Shouldn't there be something in place to change the container state from "Waiting" to "Failed" when the "MountVolume.SetUp failed for volume 'some-volume' : configmaps 'some-missing-config-map' not found"
error is produced?

[2018-04-17 01:31] tengqm commented on #52741
/remove-lifecycle stale

I believe this is still an issue.

[2018-04-17 01:45] DeNgKee opened #62687 "Unable to create a deployment with NGC's images"
/kind bug

**What happened**:
I succeed to deploy a deployment when i used the image of  gcr.io/tensorflow/tensorflow:latest-gpu, but i failed with the image of nvcr.io/nvidia/tensorflow:18.03-py3.
For the second condition ,my pod created the container and started the container when i created a deployment, but it back-off restarting failed conatiner after  a few sec.

[code]
the YAML file:
[code]

[2018-04-17 01:55] DeNgKee commented on #62687
/sig cli

[2018-04-17 02:16] CaoShuFeng commented on #53455
/assign

[2018-04-17 02:34] jyparketc commented on #60742
@hochuenw do you enable  --cadvisor-port in kubelet?
Ref: https://kubernetes.io/docs/reference/generated/kubelet/

[2018-04-17 02:43] keimoon commented on #62382
/sig job
/sig lifecycle
/sig apps

[2018-04-17 03:11] fejta commented on #57667
/remove-lifecycle stale

Admins can still merge. We can also whitelist oncall/buildcops.

Although note that since early 2017 we only block on presubmit. If your PR has all green status checks against the latest commit and the right labels the bot will merge it.

We still need tooling for milestone management...

[2018-04-17 03:27] mritd commented on #58217
Same issue on 1.10.1(ubuntu 16.04)

[2018-04-17 03:46] m1093782566 commented on #62574
@yujuhong

Thanks for your clarification.

My opinion is that we should discuss whether network should be in kubelet or in CRI implementation(e.g. dockershim) although the network plugin codes live in dockershim now.

Because network is remote, pluggable and more opaque, it might be possible to move the network setup back into kubelet using a gRPC-style interface, which would make ALL runtimes eas

[2018-04-17 03:47] nikhita commented on #46895
/remove-lifecycle stale
/lifecycle frozen

[2018-04-17 03:50] nikhita commented on #49038
/remove-lifecycle stale

[2018-04-17 03:50] nikhita commented on #44620
/remove-lifecycle stale

[2018-04-17 03:51] nikhita commented on #46107
/remove-lifecycle stale

[2018-04-17 03:55] AishSundar opened #62696 "Failing test : [sig-testing] verify.godeps failing in sig-release-master-blocking"
## Failing Job
### [sig-release-master-blocking: verify](https://k8s-testgrid.appspot.com/sig-release-master-blocking#verify)

## Failing Test
### [verify.godeps](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/19960)

## Triage results
### https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=verify%20godeps

This seems to have started f

[2018-04-17 03:58] andyzhangx commented on #46421
/close

[2018-04-17 03:58] #46421 closed

[2018-04-17 04:00] AishSundar commented on #62696
/cc @jberkus

[2018-04-17 04:02] AishSundar commented on #62696
@jberkus @tpepper as FYI.

[2018-04-17 04:03] AishSundar commented on #62696
cc @jberkus @tpepper

[2018-04-17 04:17] mikkeloscar commented on #58010
Like @Quentin-M I also see this. I also don't see any PSP related code in the kubelet when it's checking whether it is allowed to run the container or not:

https://github.com/kubernetes/kubernetes/blob/v1.10.1/pkg/kubelet/util.go#L31-L42

It's purely based on the flag AFAICT.

[2018-04-17 04:24] AishSundar opened #62697 "Test Failure : [sig-storage] Subpath [Volume type: gcePDPVC] should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]"
## Failing Job
### [sig-release-master-blocking : gci-gce-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-serial)

## Failing Test
### [Subpath [Volume type: gcePDPVC] should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3306)

## Triage re

[2018-04-17 04:27] msau42 commented on #62697
/assign

[2018-04-17 04:30] msau42 commented on #62697
https://github.com/kubernetes/kubernetes/pull/62303 should hopefully fix this

[2018-04-17 04:50] AishSundar opened #62698 "Failing Test: [sig-network] DNS configMap nameserver Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial]"
## Failing Job
### [sig-release-master-blocking: gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

## Failing Test
### [DNS configMap nameserver Forward PTR lookup should forward PTR records lookup to upstream nameserver [Slow][Serial]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/5631)

## Triage resu

[2018-04-17 04:56] #62540 closed

[2018-04-17 04:56] wangzhen127 commented on #39845
Will add runtime/default to addons as the first step to see how it works.

[2018-04-17 04:57] AishSundar opened #62699 "Flaky test : [sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability"
## Failing Job
### [sig-release-master-blocking: gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

## Failing Test
### [[sig-autoscaling] [HPA] Horizontal pod autoscaling (scale resource: CPU) [sig-autoscaling] [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability](https://k8s-gubernator.ap

[2018-04-17 05:08] AishSundar opened #62700 "Failing Test : [sig-testing] ci-kubernetes-e2e-gci-gce-alpha-features:BeforeSuite"
## Failing Job
### [sig-release-master-blocking : gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features)

## Failing Test
### [BeforSuite](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/20663)

## Triage results
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-0

[2018-04-17 05:18] AishSundar opened #62701 "Failing Test: [sig-testing] kubeadm-gce and kubeadm-gce-selfhosting jobs failing to Up the cluster"
## Failing Job
### [sig-release-master-blocking#kubeadm-gce](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce)
### [sig-release-master-blocking#kubeadm-gce-selfhosting](https://k8s-testgrid.appspot.com/sig-release-master-blocking#kubeadm-gce-selfhosting)

## Failing Test
### [Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/

[2018-04-17 05:26] AishSundar opened #62702 "Failing Test : [sig-network] Upgrade [Feature:Upgrade] master upgrade should maintain a functioning cluster [Feature:MasterUpgrade]"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

## Failing Test
### [[sig-cluster-lifecycle] Upgrade [Feature:Upgrade] master upgrade should maintain a functioning cluster [Feature:MasterUpgrade]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-

[2018-04-17 05:30] AishSundar opened #62703 "Failing Test : [sig-apps] Deployment RollingUpdateDeployment should delete old pods and create new ones"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

## Failing Test
### [[sig-apps] Deployment RollingUpdateDeployment should delete old pods and create new ones](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-master/1484

[2018-04-17 05:32] AishSundar opened #62704 "Failing Test : [sig-scheduling] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

## Failing Test
### [[sig-scheduling] SchedulerPredicates [Serial] validates that taints-tolerations is respected if not matching](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master

[2018-04-17 05:34] AishSundar opened #62705 "Failing Test : [sig-storage] PersistentVolumes-local Local volume provisioner [Serial] should create and recreate local persistent volume"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

## Failing Test
### [[sig-storage] PersistentVolumes-local Local volume provisioner [Serial] should create and recreate local persistent volume](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-

[2018-04-17 05:35] AishSundar opened #62706 "Failing Test : [sig-storage] PersistentVolumes-local Stress with local volume provisioner [Serial] should use be able to process many pods and reuse local volumes"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

## Failing Test
### [[sig-storage] PersistentVolumes-local Stress with local volume provisioner [Serial] should use be able to process many pods and reuse local volumes](https://k8s-gubernator.appspot.com/build/kubernetes-jenkin

[2018-04-17 05:40] AishSundar opened #62709 "Failing Test: [sig-ui] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive"
## Failing Job
### [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master]https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-master)

## Failing Test
### [[sig-ui] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-m

[2018-04-17 05:44] AishSundar commented on #62698
The same test also fails as part of
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new

## Triage
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-04-16&sig=network&job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new&test=DNS%20configMap%20nameserver%20Forward%20PTR%20lookup%20should%20forward%20PTR%20record

[2018-04-17 05:47] AishSundar commented on #62697
The same test also fails as part of
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new

Triage
https://storage.googleapis.com/k8s-gubernator/triage/index.html?date=2018-04-16&sig=storage&job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-new&test=%20should%20unmount%20if%20pod%20is%20gracefully%20deleted%20while%20kubelet%20is%20down

[2018-04-17 05:55] miljank commented on #28272
There was no update for a long time. Was there any progress done on this issue?

[2018-04-17 05:55] AishSundar opened #62710 "Failing Test: [sig-cluster-lifecycle] Upgrade [Feature:Upgrade] cluster upgrade should maintain a functioning cluster [Feature:ClusterUpgrade]"
## Failing Job
### [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-new)
### [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

## Failing

[2018-04-17 05:59] AishSundar commented on #62709
This test also failed in [sig-release-master-upgrade#gke-gci-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel&test=%20Dashboard%20should%20check%20that%20the%20kubern

[2018-04-17 06:05] AishSundar opened #62711 "Failing Test : [sig-apps] Deployment RollingUpdateDeployment should delete old pods and create new ones"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
### [sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster-parallel)

## Failing Test

[2018-04-17 06:06] justaugustus commented on #40684
@djsly @khenidak -- is this still an active issue?

[2018-04-17 06:10] AishSundar commented on #62709
This is also failing in
[sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gke-gci-master-gci-new-downgrade-cluster-parallel&test=%20Dashboard%20should%20check%20that%20the

[2018-04-17 06:20] AishSundar opened #62713 "Failing Tests : Timeout and UpgradeTest in gce-1.10-master-upgrade-cluster, gce-1.10-master-upgrade-cluster-new and gce-1.10-master-upgrade-cluster-parallel"
## Failing Job
### [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster-parallel)
### [sig-release-master-upgrade#gce-1.10-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-cluster)
### [sig-release-master-upgrade#gce-1.10-master-upg

[2018-04-17 06:30] AishSundar commented on #62704
This test also fails in
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster&test=Timeout

[2018-04-17 06:32] AishSundar commented on #62702
This test also fails in
[sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster)

[2018-04-17 06:33] jingxu97 commented on #62613
@gnufied I think aws should be ok since it verify devicePath. But there is some confusion about the devicePath, maybe we should add more comments about it.

[2018-04-17 06:34] AishSundar commented on #62705
This test also fails in
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster&test=should%20create%20and%20recreate%20local%20persistent%20volum

[2018-04-17 06:37] AishSundar commented on #62706
This bug also repros in
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster

https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster&test=Stress%20with%20local%20volume%20provisioner

[2018-04-17 06:54] andyzhangx commented on #62613
Paste my code analysis here:
@jingxu97 @gnufied
 - In the beginning, `devicePath` is a LUN number(e.g. 0, 1, 2...) returned by azure_dd.Attach func, then `WaitForAttach` will use `findDiskByLun` to return real device path(e.g. in Linux, it could be `/dev/disk/azure/scsi1/lun0`):
https://github.com/kubernetes/kubernetes/blob/bf3cda66c3664dd874c8f2e41a99cbab96e74b89/pkg/volume/azure_dd/attacher.go#L

[2018-04-17 07:06] mmeliani commented on #62653
yes @chrisohaver thaks ur fo rur reply, i solved it and i get this rbac error

[code]

any hints how to solve it ?

[2018-04-17 07:11] mmeliani commented on #62653
It created federation-apiserver successful, but failed create federation-controller-manager due to rbac issues, i don't think that i have rbac enabled on my cluster ! should I enable it ? if so how ?

[2018-04-17 07:14] CaoShuFeng commented on #53455
Hi, @tallclair
I have some questions about the implemention detail:

This is a plugin work as a server which needs to bind a port?

This require a authentication progress.
But I think authentication should not be as complex as the apiserver, we chose one authentication method in the first?

Totally agree!!!

[2018-04-17 07:16] CaoShuFeng commented on #53455
Hi, I'd be happy to work on this if no one has startted it.

[2018-04-17 07:16] onlonely opened #62717 "resourcequota Incorrect statistics"
When the mirror is updated, the resource quota is incorrect.
The following are the commands
[code]

**Environment**:
kubectl version
Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.1", GitCommit:"3a1c9449a956b6026f075fa3134ff92f7d55f812", GitTreeState:"clean", BuildDate:"2018-01-03T22:31:01Z", GoVersion:"go1.9.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.I

[2018-04-17 07:27] andyzhangx commented on #62417
@robbiezhang It's an expected error due to security fix from v1.8.9:
Fixed versions:
	• Fixed in v1.7.14 by #60516
	• Fixed in v1.8.9 by #60515
	• Fixed in v1.9.4 by #60258
	• Fixed in master by #58720 (included in v1.10.0-beta.1 and up, will be in v1.10.0)
Fix impact:
Secret, configMap, downwardAPI and projected volumes will be mounted as read-only volumes. Applications that attempt to write to t

[2018-04-17 07:32] m1093782566 commented on #59976
@rramkumar1

I guess so. I am going to close this issue in favor of discreating issues. Please feel free to re-open or create a new issue if the bug still exists.

/close

[2018-04-17 07:35] m1093782566 commented on #62537
/assign

[2018-04-17 07:42] m1093782566 commented on #62537
@uablrek

IMO, we have to ALWAYS SNAT packets to external IPs. I don't think it's a bug of IPVS proxier - why not test your case in iptables mode and to see the result?

I think `externalTrafficPolicy: Local` currently only support `LoadBalancer` and `NodePort` services, and does not support `externalIPs`.

@thockin should we validate the case in API?

[2018-04-17 07:48] #62717 closed

[2018-04-17 07:50] nevola opened #62720 "Proposal: nftables backend for kube-proxy"
/kind feature
/sig network

**nftables** (iptables next generation) development is almost completed with all the iptables abilities, but also, with a much flexible language that allows to have a very complete load balancer with a very little extension of the designed infrastructure with higher performance.

For that reason, we've created a small footprint daemon to optimize and to make easy the ru

[2018-04-17 08:04] andyzhangx commented on #59755
@raphaelquati Here is the working solution for you, it's using pv/pvc:
[code]

[2018-04-17 09:01] majewsky commented on #44272
/remove-lifecycle stale

[2018-04-17 09:07] CaoShuFeng commented on #62675
This is a feature, not bug, I think.
https://github.com/kubernetes/kubernetes/blob/bf3cda66c3664dd874c8f2e41a99cbab96e74b89/hack/lib/version.sh#L95

[2018-04-17 09:11] #62232 closed

[2018-04-17 09:13] george-angel commented on #62538
We have not lost track of this, just waiting for the failure to occur when we're awake to get that information, last one was ~03:00. Will update as soon possible.

[2018-04-17 09:58] #55346 closed

[2018-04-17 10:02] sa-shukla commented on #56006
I am also running into same issue. Any resolution on the issue?

[2018-04-17 10:05] tcheronneau commented on #56006
For me the error was from my side (misconfiguration).
So it was not really an issue. You should look into your network configuration it was my problem.

[2018-04-17 10:46] uablrek commented on #62537
I tested, and yes SNAT is used also in `proxy-mode=iptables` even with `externalTrafficPolicy: Local` and service `type: LoadBalancer`.

I have no cloud-provider so nobody is doing something extra with the LoadBalancer services. What this "extra" really is seems to different in GCE/AWS/Azur and of course not for public display. The closest I have got to understand the `type: LoadBalancer` magic is

[2018-04-17 10:46] djsly commented on #40686
@brendandburns seeing that https://github.com/kubernetes/kubernetes/pull/42142 is now closed, do you see any potential way of having this done in either the cloud-provider code ?

[2018-04-17 10:52] djsly commented on #40684
The information should definitely be reported to the scheduler to consume. @brendandburns what is your take on this issue ?

[2018-04-17 10:52] sa-shukla commented on #56006
we have a http_proxy available within the network which possibly is causing issues for me. Any recommendation on the proxy settings?

Do you have any insight into what I should be looking for on the network side?

I saw that API service runs internally on IP 10.96.0.1 . Is this IP pingable and reachable from all the nodes?

[2018-04-17 11:25] crassirostris commented on #62399
/unassign
/assign @piosz

[2018-04-17 11:33] xmudrii opened #62725 "Improve Establishing logic for CRDs by implementing Installing status to prevent race conditions"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

If you create CR shorty after CRD, it can happen that it returns error that CRD doesn't exists, even if it exists and is Established.

Relevant issue for this problem #57042, where this happened on the cluster with limited resources while deploying Istio. This one describes age `<invalid>` more, but could is relevant

[2018-04-17 11:34] xmudrii commented on #62725
/cc @sttts
/cc @deads2k

[2018-04-17 11:45] calvix commented on #9085
/remove-lifecycle stale

I still think this is quite a useful feature.

[2018-04-17 11:53] deads2k commented on #62725
Adding a new status just pushes the problem somewhere else. I'm ok with holding requests for a very short period (order of five-ish seconds).

[2018-04-17 11:59] GarethLewin commented on #53331
@soltysh here are the results of `describe` and `get -o yaml` with a bunch of stuff removed (tried to keep just what is relevant)

[code]
apiVersion: v1
kind: Pod
metadata:
  ownerReferences:
  - apiVersion: batch/v1
    blockOwnerDeletion: true
    controller: true
    kind: Job
spec:
  containers:
  restartPolicy: Never
status:
  conditions:
  - lastProbeTime: null
    lastTransitionTime: 2018-0

[2018-04-17 12:02] sttts commented on #62725
With the `Installing` condition we can add this 5s sleep (to survive an HA environment reasonably well) between `Installing` and `Established` transparently. I.e. it will be transparent for the user. Now we have to make every 3rdparty user to add those 5 seconds of grace period after seeing the Established condition.

Another solution would be:
- set `NamesAccepted`.
- wait 5s
- if `NamesAccepted`

[2018-04-17 12:04] sttts commented on #62725
But we have to serve the CR during those 5 seconds already to avoid the race. So maybe we still need the `Installing` condition.

[2018-04-17 12:06] anguslees commented on #60690
I guess what I'm saying is that I disagree with the "I don't see why it would be easier" conclusion of the basically duplicate issue #45144 :P

The issue with the current schema is that the APIService registration is static information from a chart/upstream-manifest/whatever, whereas the caBundle needs to vary for every install.  Because of this, the provenance of the two parts of the registration

[2018-04-17 12:09] anguslees commented on #60690
/area api

[2018-04-17 12:30] brancz commented on #53615
/remote-lifecycle stable

This is still to be done, but I think we have general consensus in sig-instrumentation to move forward with the deprecation within the kubelet. If the stats APIs are interesting to anyone, they can still deploy the daemonset. I'm not sure about dockershim, but cri-o does implement the CRI stats endpoints in 1.10.

Nonetheless dockershim is still the default so we should m

[2018-04-17 12:31] brancz commented on #53615
/remove-lifecycle stale

[2018-04-17 12:58] MarcoGlauser commented on #52858
@ericuldall did you find a solution to this? It would be very nice to get the node poll with the node_cpu metric.

[2018-04-17 13:15] jobernolte commented on #30558
When I try to execute this command:

`kubectl create configmap logstash-config --from-file=logstash.yml --from-file=logstash.conf --dry-run --save-config -o yaml | kubectl apply -f -`
It gives me the following error:
`error: error validating "STDIN": error validating data: [apiVersion not set, kind not set]; if you choose to ignore these errors, turn validation off with --validate=false`

The outp

[2018-04-17 13:33] brancz commented on #53615
Those would certainly be good to fix :slightly_smiling_face:, but without the runtime implementing the stats endpoints, even when the above ones are fixed we're gonna error out with "unimplemented". I'm not sure dockershim has them implemented yet, but iirc there was some graceful handling, where if the runtime returns unimplemented, then cadvisor is asked. I'd like to make sure we don't do that a

[2018-04-17 13:33] liggitt commented on #30558
This was a bug in 1.10 fixed in 1.10.1

[2018-04-17 13:45] sttts commented on #60937
Can you describe how the given links are connected to v3 support for go-openapi? How do the Java projects relate to a Go library?

[2018-04-17 13:47] astefanutti commented on #53615
With the container stats endpoint fixed, deprecating the cAdvisor port is less impacting. Still, indeed, the endpoint implementation accesses cAdvisor directly and the CRI stats provider seems to rely on cAdvisor as well.

[2018-04-17 13:48] preetigupta25 opened #62730 "Error in kube-dns"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig kubeadm

**What happened**:  Error in kube-dns

`E0417 07:52:11.393715       1 reflector.go:199] k8s.io/dns/vendor/k8s.io/client-go/tools/cache/reflector.go:94: Failed to list *v1.Endpoints: Unauthorized
`

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need

[2018-04-17 13:48] caarlos0 commented on #45961
for me, only a few HPA are not working... very weird...

[2018-04-17 13:58] brancz commented on #53615
Yes I’m aware that some CRIs Import cadvisor do to this, not great, but at least they “only” use it as a library, and some are also not doing this so I’d say we’re getting closer to getting rid of it.

[2018-04-17 14:04] codeinternetapplications commented on #20555
Complements to @ericuldall.

I like to add a situation when you still get an UNHEALTY state of your service. When you get Pod information, you might see some line as:

This will cause an UNHEALTY state as well in your Ingress. You can prevent this by setting or extending the `timeoutSeconds` property in the `readinessProbe`.

[2018-04-17 14:37] RickNEP commented on #56226
Any update on this? I'm having the same issue...

[2018-04-17 14:46] danwinship commented on #62720
I think there are two separate issues:

1. Do we want an nft-based kube-proxy in-tree? I think we were kind of hoping that IPVS was going to save the day and we wouldn't need another replacement (especially so soon), although the comments about IPVS in the blog post (especially the 10x performance claims) are interesting. (And then there's the port range problem (#23864).)

2. Do we want to suppor

[2018-04-17 14:49] mmeliani commented on #62653
@chrisohaver  what about  - --authorization-mode=RBAC should i  put it in the kube-apiserver yml file or not ?

[2018-04-17 14:55] liggitt commented on #62675
GitVersion is the semantic version. The version you referenced is not exactly `1.10`

[2018-04-17 14:56] liggitt commented on #62645
no, we do not want to show those

[2018-04-17 14:56] liggitt commented on #62645
/close

[2018-04-17 14:56] #62645 closed

[2018-04-17 14:57] afking commented on #58286
Same issue

[2018-04-17 14:58] yangxikun opened #62732 "--pod-infra-container-image not work?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig kubelet

**What happened**:

`failed to pull image \"k8s.gcr.io/pause:3.1\"`

[code]

**What you expected to happen**:

`pull registry.hub.docker.com/yangxikun/pause-amd64:3.1`

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

<img width="617" alt="image" src="https://user-images.gi

[2018-04-17 15:00] bw commented on #62426
Just in the interest of not losing this in the shuffle, mentioning a sig here: @kubernetes/sig-node-bugs

[2018-04-17 15:07] ghostsquad commented on #62675
That's fair. Let's close this then. Thanks!

On Tue, Apr 17, 2018, 7:57 AM Jordan Liggitt <notifications@github.com>
wrote:

[2018-04-17 15:11] venilnoronha commented on #62480
@afong94 I tried creating a few volumes/pods on the cluster you provided and it seems that VCP operations execute within the expected time. Following are the metrics obtained from that cluster.

[code]

[2018-04-17 15:11] danwinship commented on #23864
I think it could be done with [libnetfilter_queue](https://www.netfilter.org/projects/libnetfilter_queue/index.html): the proxy would add a rule so that incoming connections would first get sent to `-j NFQUEUE`, which kube-proxy would be monitoring, so it would see the details of the incoming packet before it was accepted, and it could record the source IP:port→destination port in a hash table. Th

[2018-04-17 15:15] chrisohaver commented on #62653
To get past the RBAC error, I believe you'll need to grant permission for federation-controller-manager to edit roles, if you want to do things using RBAC.  Or if you do not want to use RBAC at all in your cluster, you can create the permissive binding explained in the linked above.

[2018-04-17 15:25] mmeliani commented on #62653
[code]

[2018-04-17 15:28] liggitt commented on #56899
cannot reproduce, closing for lack of information

/close

[2018-04-17 15:28] #56899 closed

[2018-04-17 15:30] liggitt commented on #57829
I don't think this is really worth fixing, as it is specific to the meta options structs

[2018-04-17 15:36] shyamjvs commented on #62064
I've run once more and it turned out bad again:

[code]

So continuing with assumption that 118 was bad, I ran the test against the mid-commit 249ecab74 and result was: 9.599 (50%), 573.99 (90%), 921.448 (99%)
I think this isn't super-clear, so I'm re-running against it.

[2018-04-17 15:36] dims commented on #62732
/sig node

[2018-04-17 15:47] liggitt commented on #57325
rather than a namespaced Ingress resource reaching out to reference a secret in another namespace, it would seem to make more sense (and be safer) for the ingress controller configuration to allow richer certificate configuration that could be applied to managed Ingress resources.

Picking up default hostnames is already possible by leaving the Hosts field empty on an ingress resource:

If you wan

[2018-04-17 15:50] justinsb commented on #62640
So this is a good idea; the caveat is that it'll be tricky for existing LoadBalancers because we identify them by name.

We really want ELBs to support something like ec2:ResourceTag, so we could scope the IAM permissions to ELBs tagged with a cluster specific tag, IMO:
https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-iam-actions-resources.html

I'm not opposed, but it's very tric

[2018-04-17 16:27] DirectXMan12 commented on #51650
/remove-lifecycle stale

[2018-04-17 16:31] dguettler commented on #16863
@mr-falken @parrisvarney did you find a way to run elasticsearch?
I'm currently trying to deploy it on OpenShift Container platform and ran into this restrictions.

[2018-04-17 16:31] djsly commented on #40686
sorry, I miss used the word `tenantID`. I was referring to the tentant part in multi-tenant. :)

e.g. client1 label for nodes 1 to 10, client2 label for nodes 11-30, etc.  node assignment per users.

Also, another use case would be the agent pool name.  We create different agent pools with different characteristics. So when we create the agent pools, we can set labels to define their intended usag

[2018-04-17 16:33] ericuldall commented on #52858
@MarcoGlauser I haven't yet addressed this in our stack. The prometheus metrics, while useful, are not my highest priority :( I think there may have been some good suggestions in the other tickets I opened, which ultimately ended me here: https://groups.google.com/forum/#!topic/prometheus-users/2njYh6SucJ8

[2018-04-17 16:33] msau42 commented on #62697
Looks like gci-gce-serial is passing now.

gke-gci-1.10-gci-master-upgrade-cluster-new needs to wait on the latest results.

[2018-04-17 16:34] mr-falken commented on #16863
@dguettler, I just gave up and deployed elk cluster on vms.. :)

[2018-04-17 16:35] khenidak commented on #40686
But you can do that using your own controls, scripts. The cloud provider is mainly to abstract ARM/Azure specific logic. For this use case i would advise that you byol `bring your own label and label maker`

[2018-04-17 16:35] PatrickLang commented on #62338
@feiskyer will this help https://github.com/kubernetes/kubernetes/issues/52419 as well?

[2018-04-17 16:36] serngawy commented on #62549
adding more logs to the test. Hopefully it could help
[logs.txt](https://github.com/kubernetes/kubernetes/files/1920744/logs.txt)

[2018-04-17 16:40] serngawy commented on #62549
i see this error in the logs happening all the times

[1mSTEP[0m: Initializing watcher for selector baz=blah,foo=bar
[1mSTEP[0m: Creating stateful set ss in namespace e2e-tests-statefulset-xr69z
E0417 12:29:18.929223    7465 streamwatcher.go:109] Unable to decode an event from the watch stream: stream error: stream ID 85; INTERNAL_ERROR

[2018-04-17 16:47] m1093782566 commented on #62720
@danwinship

I proposed fwmark + IPVS to implement port ranges, xref: https://github.com/m1093782566/community/blob/1bf2f1c31459e79873c18df8369e311a09f48357/contributors/design-proposals/network/service_port_ranges.md#ipvs-mode

Any comment?

[2018-04-17 16:48] MrHohn commented on #62698
Ref https://github.com/kubernetes/kubernetes/issues/62490. @grayluck and I are looking into this.

/assign
/unassign @dcbw

[2018-04-17 16:48] MrHohn commented on #62490
/assign

[2018-04-17 16:50] mmeliani commented on #62653
@chrisohaver can pleace take a look a this problem : all things went well but it hangs on this steps :

[code]

Waiting for federation control plane to come up steps hangs
any hints where i going wrong ?

this is the kubefed command that i run :

`kubefed --v=99 init hostmarcluster --host-cluster-context=default-context --dns-provider="coredns" --dns-zone-name="example.com."  --dns-provider-config

[2018-04-17 16:53] mmeliani commented on #62653
[code]
federation api server doesn't start and i don't know why !

[2018-04-17 16:55] m1093782566 commented on #23864
@danwinship @DirectXMan12

Thanks for coming up userspace proxy mode solutions. BTW, there is a proposed IPVS proxy mode solution(IPVS + FWMARK) in https://github.com/kubernetes/community/pull/1738. Please help review this potential solution when you have a chance, thanks!

Anyway, port range is a strong feature request and I think that most of the blocking issues are in implementation side.

[2018-04-17 17:00] grayluck commented on #62698
Working on it.

[2018-04-17 17:01] djsly commented on #40686
if you guys think that is out of scope. I'm fine with closing this.

Having to manage a separate process to duplicate the metadata that is configurable at the azure level to make sure that the scheduler is aware sounds like something we should have out of the box.

[2018-04-17 17:01] #40686 closed

[2018-04-17 17:03] cblecker commented on #60743
I think this was related to the go1.10 upgrade.
/close

[2018-04-17 17:03] #60743 closed

[2018-04-17 17:03] chrisohaver commented on #62653
Maybe the logs of `controller-manager-6d88f64cb4-6sgzx` has some clues...

[2018-04-17 17:05] cblecker commented on #62696
/assign
This was caused by #58784. Created fix in #62736.

[2018-04-17 17:23] mbohlool opened #62737 "Kubelet test is failing on release 1.9 branch"
This tests are failing on release 1.9 branch blocking next patch release that is scheduled for tomorrow:

- [k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 100 pods per node
- [k8s.io] [sig-node] Kubelet [Serial] [Slow] [k8s.io] [sig-node] regular resource usage tracking resource tracking for 0 pods per node

An example failure:

[2018-04-17 17:44] dashpole opened #62738 "[Failing Test] Node e2e Checkpoint tests failing"
/kind bug
[Some checkpointing tests](https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-serial-gce-e2e&include-filter-by-regex=checkpoint) are failing.  #56040 seems like the likely cause.

cc @kubernetes/sig-node-test-failures
/assign @vikaschoudhary16

[2018-04-17 17:50] msau42 commented on #62705
Problem is 1.10 e2e tests uses provisioner version 2.0.0 which only uses alpha node affinity annotation, but the alpha annotation support has been removed in 1.11

[2018-04-17 17:57] msau42 commented on #62706
Same issue as #62705

[2018-04-17 18:01] juanvallejo opened #62739 "Use correct API group when fetching and deleting resources"
Currently, when fetching `deployments` (either through `kubectl get` or `kubectl delete`), a GET request is made to the /extensions/ api group. We should be fetching deployments from the newer /apps/ group.

cc @soltysh

[2018-04-17 18:03] pablo-jaunt commented on #54885
/reopen

[2018-04-17 18:12] harsh244 opened #62741 "minikube start --vm-driver=kvm showing error"
trying to run minikube using kvm. When I type the above command.
 **minikube start --vm-driver=kvm**
The following error is shown .

_Error starting host: Error starting stopped host: Error setting up host only network on machine start: The host-only adapter we just created is not visible. This is a well known VirtualBox bug. You might want to uninstall it and reinstall at least version 5.0.12 tha

[2018-04-17 18:14] obriensystems commented on #51835
ran into this on both may Azure and AWS clusters - workaround was provided by Mike Elliot

https://jira.onap.org/browse/OOM-946

`ubuntu@ip-10-0-0-22:~$ kubectl get pods --all-namespaces
NAMESPACE     NAME                                       READY     STATUS        RESTARTS   AGE
kube-system   heapster-76b8cd7b5-4r88h                   1/1       Running       0          25d
kube-system   kube-dn

[2018-04-17 18:25] diwakar-s-maurya commented on #60060
@ilyalukyanov I was also facing the same issue as you. By upgrading the kubernetes version to v1.9.4, it got resolved.

[2018-04-17 18:35] liggitt commented on #62739
the extensions API group is listed first in discovery for backwards compatibility (scripts written against `kubectl get deployments -o jsonpath=...` should present extensions/v1beta1 output as long as that API group is published)

the discovery order is honored by the CLI

if you want to override the order listed in discovery, specify the group you want (e.g. `kubectl get deployments.apps`)

/clos

[2018-04-17 18:35] #62739 closed

[2018-04-17 18:37] lavoiedn opened #62742 "POST rejects base64 data containing newlines, but PATCH accepts it"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: Trying to `kubectl apply -f` a `Secret` with a multi-line string in its `data` throws an error if it is being created, but works fine if it is overwriting an existing `Secret`.

**What you expected to happen**: The `kubectl apply -f` of the `Secret` with a multi-line string should either succeed or fail in both cases descr

[2018-04-17 18:48] m1kola commented on #59376
Had the same issue on GKE with a public image from the docker hub.

Node and master version is `v1.8.8-gke.0`

[2018-04-17 19:03] MrHohn commented on #62700
@rramkumar1 and I are looking into this. We found a regression (possibly introduced by https://github.com/kubernetes/kubernetes/pull/60020) in alpha cluster that `kube-proxy-ds-ready` label is not attached to node anymore, which causes kube-proxy not being scheduled to any node.

[2018-04-17 19:12] ixdy commented on #62696
hm, does this mean our logic for detecting when to run `verify-godeps.sh` is incorrect? Currently we only run this on PRs when something touches `Godeps/` or `vendor/`.

[2018-04-17 19:38] cblecker commented on #62696
Yeah, it's not an exact science.

- If someone adds an import, but doesn't add it to Godeps, the build will fail.
- If someone adds/removes an import, and does update Godeps, the job will run.
- If someone removes an import, but leaves the dep hanging, the job won't run in pre-submit, but will in the ci-kubernetes-master post-submit

[2018-04-17 19:57] davidz627 commented on #58363
/remove-lifecycle stale

Still needs to be done

[2018-04-17 20:15] chino commented on #41442
...Sorry if this isn't the right place to ask questions...

What about the use case where I *ONLY* want to resolve to a pod on my local node and NEVER want to route to another node. Assuming that something (a daemonSet or an Operator) ensures that the pod should exists and/or will eventually exist...

I have use cases where we improve performance in production systems (per node) by centralizing ce

[2018-04-17 20:17] saad-ali commented on #62238
@tallclair and I discussed doing mounts inside of a pod for secure containers. Running CSI inside the pod with some "volume manager" like component seems plausible for file volumes. The file on block case, like @msau42 could be more challenging unless we make it explicit in the API.

[2018-04-17 20:19] tallclair opened #62747 "Guidelines for node-level plugin auth"
**Overview**

I get a lot of questions about how to setup mutual authentication for node-level cluster plugins. Examples include:

- Local volume provisioning
- Device plugins (modify node object)
- Device metrics (scraping)
- CRI Streaming
- _Are there others I'm missing?_

For the general case, our recommendation has been to use a service mesh (such as Istio), or NetworkPolicy (although this isn

[2018-04-17 20:49] BenTheElder commented on #62700
/assign @MrHohn @rramkumar1
/sig network
/remove-sig testing

[2018-04-17 20:54] bsalamat opened #62750 "Scheduler cache uses PDB name as the key to store PDB objects. It could cause conflicts."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[Scheduler cache uses PDB names as key to store PDB objects in a map](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/schedulercache/cache.go#L435). Using the name could cause a conflict if an object with the same name is created in a different namespace. We should use UID of PDB objects as the key to t

[2018-04-17 21:13] BenTheElder commented on #62701
looks like etcd versions changed everywhere in that timeframe, that *may* be related (?)

/sig cluster-lifecycle

[2018-04-17 21:16] raphaelquati commented on #59755
Thanks.

As I've said before: using persistent volume it works (and I'm using it). Using  kubernet volume, it doesn't work.

[2018-04-17 21:19] msau42 commented on #62700
https://github.com/kubernetes/kubernetes/pull/62352 should address at least one of the alpha cluster bring up failures.  Unsure if there's more issues

[2018-04-17 21:24] mindprince commented on #55374
/close
Removed in https://github.com/kubernetes/kubernetes/pull/58784

[2018-04-17 21:24] #55374 closed

[2018-04-17 21:27] krzyzacy commented on #62713
cc @krousey ^^

assume that's somewhere inside the upgrade framework

[2018-04-17 21:28] krzyzacy commented on #62713
/sig cluster-lifecycle

[2018-04-17 21:30] BenTheElder commented on #62713
/assign @krousey
/unassign
Unlikely I will have the time or expertise to patch these, discussed out of band with @krzyzacy and these appear to be something in the upgrade or cluster-up code, not kubetest etc..

[2018-04-17 21:31] BenTheElder commented on #62701
/cc @jessicaochen @luxas
/unassign

[2018-04-17 21:31] BenTheElder commented on #62701
/assign @jessicaochen @luxas

[2018-04-17 21:34] koolhandluke commented on #62361
I am seeing the same too ..

[2018-04-17 21:39] neildaniels opened #62752 "CreateContainerConfigError : failed to prepare subPath for volumeMount (possibly only for readOnly volumes)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I get a "failed to prepare subPath for volumeMount" error (CreateContainerConfigError) when trying to deploy on a 1.9.6-gke.1 node.

**What you expected to happen**:

I should be able to use subPaths on volume mounts, especially because the entire disk is read-only.

**How to reproduce it (as minimally and precisely as p

[2018-04-17 21:41] brandonramirez commented on #16863
What happens if you define the environment variables via a configmap?

[2018-04-17 21:45] MrHohn commented on #62700
Ref https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/20689/artifacts/bootstrap-e2e-minion-group-58sn/kubelet.log.

In fact, from the kubelet log I can see the node labels were properly passed into kubelet:
[code]
Will do more investigation.

[2018-04-17 21:54] dguettler commented on #16863
Haven't tried but I would expect the same outcome as the validation fails on the name of the environment variable so I'd expect
[code]
to fail with the same validation error as
[code]

Looks like Kubernetes 1.8 will allow for above though. So in my case OpenShift 3.9 was just released which is running Kubernetes 1.9
Currently we're running OpenShift 3.7 which is on Kubernetes 1.7

[2018-04-17 21:59] krzyzacy opened #62754 "Clean up stale node e2e jenkins configs"
(make an issue to remind myself)
cc @mindprince

[2018-04-17 22:02] krzyzacy commented on #62754
/assign

[2018-04-17 22:14] #62696 closed

[2018-04-17 22:24] danderson commented on #59976
Does `kube-ipvs0` now get IPs added for `LoadBalancer` and `externalIPs`? I don't see any changes for that, and it's a requirement to make things work in addition to the iptables rules changes.

[2018-04-17 22:37] centerorbit commented on #1806
The Google Cloud Platform blog linked me here, but for those following this thread there was no mention of Kaniko.

[2018-04-17 23:03] AishSundar commented on #62696
/milestone 1.11

[2018-04-17 23:04] AishSundar commented on #62696
/milestone v1.11

[2018-04-17 23:05] AishSundar commented on #62713
/milestone v1.11

[2018-04-17 23:05] AishSundar commented on #62711
/milestone v1.11

[2018-04-17 23:07] AishSundar commented on #62710
/milestone v1.11

[2018-04-17 23:07] AishSundar commented on #62709
/milestone v1.11

[2018-04-17 23:08] AishSundar commented on #62706
/milestone v1.11

[2018-04-17 23:08] AishSundar commented on #62705
/milestone v1.11

[2018-04-17 23:08] AishSundar commented on #62704
/milestone v1.11

[2018-04-17 23:09] AishSundar commented on #62703
/milestone v1.11

[2018-04-17 23:11] AishSundar commented on #62702
/milestone v1.11

[2018-04-17 23:11] AishSundar commented on #62701
/milestone v1.11

[2018-04-17 23:12] AishSundar commented on #62700
/milestone v1.11

[2018-04-17 23:12] AishSundar commented on #62699
/milestone v1.11

[2018-04-17 23:12] AishSundar commented on #62698
/milestone v1.11

[2018-04-17 23:12] AishSundar commented on #62697
/milestone v1.11

[2018-04-17 23:13] AishSundar commented on #62399
/milestone v1.11

[2018-04-17 23:13] AishSundar commented on #62131
/milestone v1.11

[2018-04-17 23:13] AishSundar commented on #61845
/milestone v1.11

[2018-04-17 23:14] cblecker commented on #51668
/remove-lifecycle stale
Still relevant

[2018-04-17 23:31] #59942 closed

[2018-04-17 23:31] #62357 closed

[2018-04-17 23:31] #62077 closed

[2018-04-17 23:36] krousey commented on #62713
Debugged one of the jobs. The node upgrade is stalling out. There's logic in the node upgrade to wait for the new GCE vm to register with the k8s API. It does this by checking the node status's external ID and seeing if it matches the instance ID from the GCE vm. That logic is here: https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/upgrade.sh#L345-L363

It looks like the kubelet is

[2018-04-17 23:41] krzyzacy commented on #62713
cc @dchen1107 @yujuhong @dashpole  ^^ :-)

[2018-04-17 23:51] yujuhong commented on #62713
ExternalID was apparently deprecated before kubernetes V1 API, but was never removed properly. PR #60692 was merged recently to remove the use of ExternalID
Can we use the instance ID instead?

[2018-04-18 00:00] MrHohn commented on #62700
Confirmed this only happens on [gke-alpha-features](https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features), not gce-alpha-feature:
[code]
Sorry for the noise. Will file a separate issue.

/unassign @rramkumar1  @mrhohn
/sig auth

[2018-04-18 00:09] BenTheElder commented on #62700
@MrHohn can you punt to someone from sig-auth? :-)

[2018-04-18 00:10] krousey commented on #62713
@yujuhong No. Instance ID is returning information like "k8s-jkns-e2e-gce-slow/us-central1-f/bootstrap-e2e-minion-group-0s1q". During a node upgrade, this ID is shared between the old and new VM. We need a way to distinguish them to make sure the new VM has come up, registered with the API server, and is healthy. Without a distinguishing ID, we could be reading the health status of the old node be

[2018-04-18 00:10] mikedanese commented on #62747
per-pod gets us per-node. This is https://github.com/kubernetes/kubernetes/issues/59670 and I hope to solve it with https://github.com/kubernetes/kubernetes/pull/61858.

[2018-04-18 00:14] MrHohn commented on #62700
@BenTheElder Sure, assigning to the owner of #62352 :)
/assign @mikedanese

[2018-04-18 00:25] saiyan86 commented on #62112
@wouterhund Yes. It's actually a CNI thing. We should probably move this issue to CNI repo.

[2018-04-18 00:36] brentpearson commented on #62415
Can I detect this remotely with curl? If so, what endpoint do I query? Thanks.

[2018-04-18 00:38] MrHohn commented on #62702
cc @rramkumar1

[2018-04-18 01:04] MrHohn opened #62757 "Failing Test: ci-kubernetes-e2e-gci-gke-alpha-features: kube-proxy not running"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/priority failing-test

**What happened**:
Split from https://github.com/kubernetes/kubernetes/issues/62700. Echo what was said in https://github.com/kubernetes/kubernetes/issues/62700#issuecomment-382105808:

Sample failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-alpha-features

[2018-04-18 01:11] janetkuo commented on #62415
Through event endpoint? i.e. `GET https://<master-ip:port>/api/v1/namespaces/<namespace-name>/events`

[2018-04-18 01:33] Lion-Wei commented on #59976
@danderson I think `kube-ipvs0` always get IPs added for `LoadBalancer` and `externalIPs`, according to `ipvs/proxier.syncService()`, if we create an ipvs real server rule, we will definitely bind this IP to `kube-ipvs0`.

[2018-04-18 01:33] msau42 commented on #62697
Tests are passing now
/close

[2018-04-18 01:45] brentpearson commented on #62415
Okay, I'll look into finding the event that way in order to determine the job failed.

Is there know way to say (through the job spec) essentially, "If this container fails to start the first time, I don't want to retry or leave it in a "pending" state", so that the pod can in turn get a "failed" state, and then the job can in turn get a "failed" state? Seems like this would be one of the most com

[2018-04-18 01:49] jingxu97 commented on #61845
I think the tests no longer flaky. Could we close this? @AishSundar

[2018-04-18 01:57] feiskyer commented on #62338
@PatrickLang #52419 is the symlink issues, which requires Windows next release.

[2018-04-18 02:00] feiskyer commented on #60060
@diwakar-s-maurya Thanks for the validation.

Let's close this issue since it's been resolved.

[2018-04-18 02:00] #60060 closed

[2018-04-18 02:07] linyouchong commented on #61678
Since --really-crash-for-testing has been deprecated at PR: https://github.com/kubernetes/kubernetes/pull/62629
I think `KubeletTestConfig` is not necessary.

[2018-04-18 02:25] CaoShuFeng commented on #57829
/close

[2018-04-18 02:25] #57829 closed

[2018-04-18 02:45] AishSundar commented on #61845
Thanks a lot @jingxu97. Closed

/close

[2018-04-18 02:45] #61845 closed

[2018-04-18 03:04] dims commented on #62701
@BenTheElder @AishSundar looks like the etcd image is missing

[code]

[2018-04-18 03:04] dims commented on #62701
your guess was correct @BenTheElder

[2018-04-18 03:25] CaoShuFeng commented on #62742
The [document](https://kubernetes.io/docs/concepts/configuration/secret/) said:

[2018-04-18 03:26] novakg commented on #61277
I've experienced the same, but only after rebooting the box. It was all ok when I've created the CentOS instance in OpenStack and installed k8s on it. But when I tried to install k8s after rebooting the instance, or I rebooted after k8s install, k8s did not work anymore/ install hung as described above.
Apiserver was trying to come up, and then timed out an stopped.
It turned out that the problem

[2018-04-18 03:29] CaoShuFeng commented on #62742
/sig sig-apimachinery
I think this is because there is some difference in kube-apiserver when dealing with  PATCH/POST request.

[2018-04-18 03:30] danderson commented on #59976
It doesn't though, that's the point. I just tested this by loading a v1.11 test build of kube-proxy into my bare metal cluster, switched kube-proxy to IPVS mode, and the service IPs are _not_ programmed on kube-ipvs0, only ClusterIP services.

[2018-04-18 03:44] danderson commented on #59976
Data from my cluster:

[code]

As you can see, I have a loadBalancer IP programmed.

[code]

IPVS has a rule for 192.168.16.240...

[code]

[2018-04-18 03:52] #61707 closed

[2018-04-18 03:52] danderson commented on #59976
And just to check: if I add the service IP manually to kube-ipvs0, the service starts working. So, it looks like #59656 _did_ fix the second issue in this report, which was that iptables dropped the traffic - but the other issue with missing IPs on the IPVS interface is still happening.

[2018-04-18 03:53] danderson commented on #59976
Specifically: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1039 and https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L943 are incorrect, `bindAddr` must be `true` for externalIPs and loadBalancer IPs as well, not just for ClusterIP.

[2018-04-18 03:56] ThomasWo commented on #44273
I've had this issue on GKE over the last week (most recently less than 30 minutes ago).  One pod will eat a bunch of resources in a burst, which seems to cause this issue on _existing_ pods.  I've been chasing my tail trying to figure it out, especially as resource limits on the offending pod only reduced the occurrence of the issue, didn't outright fixed it.

[2018-04-18 03:57] m1093782566 commented on #59976
Okay, I will send another fix ASAP.

THANKS!

[2018-04-18 04:10] uablrek commented on #59976
If you add the address manually it will be "synced away" after a minute or so. For a longer lasting work-around, please see my comment above.

[2018-04-18 04:14] danderson commented on #59976
Yeah, I was just verifying that everything except the addr bind was working correctly. Fortunately, in my case, I can just disable IPVS mode to get back to a working cluster, until v1.11. I just want to make sure that it all works in 1.11 ;)

[2018-04-18 04:15] uablrek commented on #59976
An please consider my command about the ports opened by `kube-proxy` in main netns. If you just alter false->true in the lines above the `kube-proxy` will open for instance port 80 for the external address in main netns, but this **will fail** if a http server is bound to 0.0.0.0:80 in main netns! The bind is there to protect the NodePorts but MUST NOT be there for externalIPs.

[2018-04-18 04:30] danderson commented on #59976
Looking at the code, I don't understand how setting bindAddr=true in the syncService calls triggers a listening port in kube-proxy. Looking at the code, bindAddr only triggers a netlink sync to add the IP to the dummy interface, no other behavior... Are we talking about the same false->true, or a different piece of the code?

[2018-04-18 04:35] uablrek commented on #59976
I don't know where it is done, just that it is. When altering the code in the same way you did I actually got exactly the port-80 conflict described above.

[2018-04-18 04:39] uablrek commented on #59976
To check, use `netstat -putan | grep <your-externalIP>` in main netns.

[2018-04-18 04:47] vainu-arto commented on #56903
@sdtokkolabs Did you read the link posted by @rajatjindal in the comment previous to yours? In that one someone did isolate the problem, and also found the fix. It isn't easy to deploy, though.

[2018-04-18 04:56] AishSundar commented on #62700
status/approved-for-milestone

[2018-04-18 05:06] uablrek commented on #59976
I altered the code in 1.10.0 not 1.11. That may make a difference though...

[2018-04-18 05:14] sdtokkolabs commented on #56903
@vainu-arto , yes. The issue and fix described in that link refers to flannels use of iptables, but i don't know if it applies for the rest of the backends i've tried or docker in general :/ Is this the case?

[2018-04-18 05:17] vainu-arto commented on #56903
@sdtokkolabs It applies to everything that uses NAT on Linux. I assume this is all of the backends, and also Docker using default networking.

[2018-04-18 05:37] grayluck commented on #62698
It can't be reproduced from prod gke manually. ptr lookup successfully forwarded after kube-dns image updated.

Still digging for root cause for the failing e2e test.

[2018-04-18 05:38] #62567 closed

[2018-04-18 05:46] dixudx commented on #62732
Dup of #55676.

See [my comment](https://github.com/kubernetes/kubernetes/issues/55676#issuecomment-371084007).

* For `cri-o`, you can override the sandbox image by `--pause-image=[value]`.
* For `containerd`, you can override it in [/etc/containerd/config.toml](https://github.com/containerd/cri/blob/master/docs/config.md).

/close

[2018-04-18 05:46] #62732 closed

[2018-04-18 05:51] m1093782566 commented on #59976
@uablrek @danderson

If externalIP happen to be Node-Local IP, then kube-proxy will try to HOLD the port. Please check the code:

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L886-L915

I think it's a expected behavior and we did the same thing in iptables proxier.

[2018-04-18 05:59] ash2k opened #62769 "DeepCopyJSON causes a panic"
**What happened**:
I have a Custom Resource with a `map[string]interface{}` field in the corresponding Go struct. I have generated most of the DeepCopy functions for it but for that field I have to make the deep copying myself (cannot be generated because of that `interface{}`). It calls `runtime.DeepCopyJSON()` function to do the copying.
When I run my integration tests against a cluster with `KU

[2018-04-18 06:58] ixdy commented on #62701
cc @jpbetz

[2018-04-18 07:14] mmeliani commented on #62653
here the log of controller, its status switch from running to error every minute and the status of the pai-server is always pending :

[code]

[2018-04-18 07:26] bryk commented on #62709
This test should be removed as UI addon has been disabled.

[2018-04-18 07:27] bryk commented on #62709
Whoever knows how to disable/remove the test, please just do it.

[2018-04-18 07:55] Hubery2757 opened #62770 "fluentd-es cannot connect to api server on kubernetes 1.9.6"
I used kubeadm init to deploy kubernetes 1.9.6, then
I deploy EFK on kubernetes 1.9.6, but fluentd-es cannot connect to api server, the logs as below:

2018-04-18 07:49:06 +0000 [error]: config error file="/etc/fluent/fluent.conf" error="Invalid Kubernetes API v1 endpoint https://10.96.0.1:443/api: Timed out connecting to server"

fluentd-es-configmap.yaml:
https://github.com/kubernetes/kubernetes

[2018-04-18 09:00] aisk opened #62772 "Job run twice"
/kind bug
/sig scheduling

**What happened**:

Job run twice randomly with another pod after first pod was exited. The job's `restartPolicy` is `Never`, `parallelism` and `completions ` is 1.

**What you expected to happen**:

Only one pod was scheduled for a job.

**How to reproduce it (as minimally and precisely as possible)**:

This happens randomly on our two k8s cluster, have no idea how to r

[2018-04-18 09:01] ash2k commented on #62769
There is one more place that creates `uint64`:
https://github.com/kubernetes/kubernetes/blob/1fcd199cf7366a15f0e94f2892cb5b2cb5c27efa/staging/src/k8s.io/apimachinery/pkg/runtime/converter.go#L741-L792

[2018-04-18 09:01] ikaven1024 opened #62773 "[deviceplugin] allocatable resource remains 0 after device-plugin restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig node

**What happened**:
i register device by my deviceplugin. It works good. Then i stopmy plugin, k8s mark resources Unhealthy as expect. But when i restart plugin. The resource does not recover, remain allocatable  0.

**What you expected to happen**:
Resource turns healthy when plugin restart.

**How to reproduce it (as minimally and

[2018-04-18 09:03] george-angel commented on #62538
@jennybuckley We have two auto scaling groups for masters and workers. Both are managed via terraform. Kubelet is a rkt service, and is defined via userdata for the launch configurations. There we specify the hyperkube version.

On `terraform apply` we update both group's launch configurations. We also have a bash script: https://github.com/utilitywarehouse/kube-aws-updater

That will double the a

[2018-04-18 09:06] aliasmee commented on #51271
+1
*some event information!*
[code]

[2018-04-18 09:08] ikaven1024 commented on #62773
https://github.com/kubernetes/kubernetes/blob/5514a1f4dd60b35b4b9d4915744ec65aab40938f/pkg/kubelet/cm/devicemanager/manager.go#L389-L400

devicemanger set devices unhealthy when socket closed. But devices in endpoint, devices remain health, and will not call callback function when watched new device request (due to same health), and devicemanger' devices will never recover.
https://github.com/kube

[2018-04-18 09:50] wgliang commented on #62772
/sig testing
cc @bsalamat

[2018-04-18 09:52] ash2k commented on #62769
See PR ^ for `uint64` support.

[2018-04-18 10:11] wgliang commented on #62382
/sig testing

[2018-04-18 10:14] justmine66 opened #62776 "Prompt “node has joined the cluster“”，but by "kubectl get nodes" still not query this node"
![image](https://user-images.githubusercontent.com/23122801/38926048-eeb3a962-4333-11e8-9f85-c5afde5f581c.png)
![image](https://user-images.githubusercontent.com/23122801/38926052-f2ff5c8c-4333-11e8-82bb-cb2a1ef2cc79.png)

why? Have anyone ever met this problem ? thank you very much indeed。

[2018-04-18 10:17] wgliang commented on #62386
maybe you can submit a issue on [website](https://github.com/kubernetes/website).

[2018-04-18 10:25] mtablado opened #62777 "nslookup: can't resolve 'kubernetes.default'"
/sig onprem
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have created a cluster on RHEL and flannel as cni. It seems that it is working fine which means that all pods are running without any error at log files.

The kubedns container is receiving the dns configuration from the host but it cannot resolve the kubernetes.default with nslookup.
[code]
The nslookup also

[2018-04-18 11:03] JosephSalisbury opened #62778 "nfs volumes not exposing metrics"
/kind feature

**What happened**:
on a cluster with an nfs persistent volume present:

[code]

**What you expected to happen**:
I expected metrics concerning the nfs persistent volume to be returned

e.g:
[code]
(from a separate aws cluster)

**Anything else we need to know?**:
I'm assuming https://github.com/kubernetes/kubernetes/blob/bb8f58b6e655cf55e029ee21d44934c1ef8878d9/pkg/volume/nfs/nfs.go

[2018-04-18 11:05] JosephSalisbury commented on #62778
/sig instrumentation

[2018-04-18 11:05] XANi commented on #57280
I'be got same problem on kube-router so it is definitely NOT a flannel-only problem

[2018-04-18 11:12] uablrek commented on #62537
I tried with the metallb and the iptables rules are different;

[code]

There is more to it when `type: LoadBalancer` is propely implemented than just setting `externalIPs`. This is not a bug. I will close this issue and check the metallb source how it works.

[2018-04-18 11:18] JosephSalisbury opened #62779 "iscsi volumes not presenting metrics"
/kind feature

**What happened**:
on a cluster with an iscsi persistent volume present:

[code]

**What you expected to happen**:
I expected metrics concerning the iscsi persistent volume to be returned

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: on-prem
- OS (e.g. from /etc/os-release):
[code]
- Kernel (e.g. `uname -a`):
[code

[2018-04-18 11:18] JosephSalisbury commented on #62779
/sig instrumentation

[2018-04-18 11:18] MarcoGlauser commented on #52858
I think this is related to the problem encountered here https://github.com/prometheus/prometheus/issues/2916.
I replaced the "kubernetes-service-endpoints" scraping job with this one:
[code]
The key is to add the port 9100 on this line `replacement: /api/v1/nodes/${1}:9100/proxy/metrics`. This way the scaper scrapes from the kubernetes api and also gets the meta information.
YMMV but since the GKE

[2018-04-18 11:27] aisk commented on #62772
The `backoffLimit` is  set to 1 also.

[2018-04-18 11:54] praparn commented on #47334
Dear all,

   As check we found that HPA with K8S Version 1.9 and above was switch to use "metric-server". So we had install metric-server for get the performance data to HPA. This work fine

        git clone https://github.com/kubernetes-incubator/metrics-server.git
	cd metrics-server/
	kubectl create -f deploy/1.8+

   *Full my github for this test: https://raw.githubusercontent.com/praparn/kub

[2018-04-18 12:07] meysam001 opened #62782 "Getting error while try to initialization"
Hi guys

**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have installed the kubernetes. When I ran `kubeadm init`, It doesn't work and show the following error:
[code]

**What you expected to happen**:
It should initialize well and generate token.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I have inst

[2018-04-18 12:18] #62020 closed

[2018-04-18 12:31] oekarlsson opened #62785 "Job mounting nfs volumes will after some runs be unable to mount"
/kind bug

**What happened**:
A simple Job that only runs an example image not touching any files but has two volume mounts will fail to start the pod (stops at ContainerCreating) after some runs. The job definition is as follows:
[code]

Definition of pvc's, pv's and storage class:
[code]

**What you expected to happen**:
That we can run the job as many times as we want.

**How to reproduce it (a

[2018-04-18 12:38] oekarlsson commented on #62785
My guess is that some of these labels will be correct. Please correct me if I am wrong.
/sig-scheduling
/sig-storage

[2018-04-18 12:46] shyamjvs commented on #62064
For rerun against the same commit and it seems good:

[code]

And then I reran against the next commit f82b38cfaa and it seems unclear to me if it's bad:

1st try:

[code]

2nd try:

[code]

[2018-04-18 12:57] nikhita opened #62786 "Promote CustomResourceSubresources to beta in 1.11"
Subresources for custom resources was added as an alpha feature `CustomResourceSubresources` in v1.10 in https://github.com/kubernetes/kubernetes/pull/55168.

We can move this feature to beta in 1.11. I don't think we have any blockers for promoting it to beta now. If you think of any, please comment below.

/cc @sttts @deads2k @liggitt @lavalamp @enisoc

/sig api-machinery
/area custom-resources

[2018-04-18 12:59] sttts commented on #62786
lgtm.

[2018-04-18 13:12] oekarlsson commented on #62785
/sig scheduling
/sig storage

[2018-04-18 13:36] dims commented on #62742
/sig cli

[2018-04-18 13:37] dims commented on #62776
please open in https://github.com/kubernetes/kubeadm/issues

/close

[2018-04-18 13:37] #62776 closed

[2018-04-18 13:37] dims commented on #62770
/sig apps

[2018-04-18 13:38] dims commented on #62754
/sig testing

[2018-04-18 13:38] dims commented on #62741
please open in https://github.com/kubernetes/minikube/issues/

/close

[2018-04-18 13:38] #62741 closed

[2018-04-18 13:38] dims commented on #62730
please open in https://github.com/kubernetes/kubeadm/issues/

/close

[2018-04-18 13:38] #62730 closed

[2018-04-18 13:50] alexpirine opened #62788 "Lack of documentation for ImagePullBackOff timing"
Hello,

I might have missed it, but I am unable to find documentation about ImagePullBackOff timing.

Specifically: how long does it take for a retry to take place after ImagePullBackOff error occured?

Is this something that can be configured? In the deployment or cluster scope?

[2018-04-18 13:53] alexpirine commented on #62788
/kind documentation
/sig scheduling

[2018-04-18 14:33] sdtokkolabs commented on #56903
`cpu=0           searched=9849898 found=47461941 new=10678283 invalid=152 ignore=312 delete=12242313 delete_list=12242174 insert=10678145 insert_failed=139 drop=0 early_drop=0 error=0 search_restart=0
cpu=1           searched=10363042 found=56350695 new=11674460 invalid=162 ignore=495 delete=11094956 delete_list=11094822 insert=11674330 insert_failed=130 drop=0 early_drop=0 error=2 search_restart=

[2018-04-18 14:35] bswartz commented on #59946
I plan to address this issue with 3 commits (they can be 1 PR or separate)

1. Add code to delete block devices after they're unmounted, to avoid leaving garbage on the nodes that could lead to I/O timeouts or corruption after the real devices are gone and/or reused.
2. Change the way scanning works to only scan the specific LUNs kubelet needs, instead of scanning the whole SCSI bug and picking up

[2018-04-18 14:36] azweb76 opened #62791 "Promote kubelet node-labels to stable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Promote kubelet `--node-labels` to stable.

**What you expected to happen**:
kubelet `--node-labels` to be stable

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubelet `--node-labels` has been present for a least a year yet is still marked as Alpha. `--register

[2018-04-18 14:53] ravi-mrk commented on #54918
Same issue here. I have below log shown in journalctl:

Apr 18 15:46:22 xx.xx.xx.xx systemd[1]: kubelet.service holdoff time over, scheduling restart.
Apr 18 15:46:19 xx.xx.xx.xx dhclient[22630]: DHCPDISCOVER on docker0 to 255.255.255.255 port 67 interval 5 (xid=0x7858e783)
Apr 18 15:46:15 xx.xx.xx.xx dhclient[22630]: DHCPDISCOVER on docker0 to 255.255.255.255 port 67 interval 4 (xid=0x7858e783)
A

[2018-04-18 14:54] timothysc commented on #62710
@BenTheElder Do you have some time to chat this week so we can work on fixing these tests.  I know what is wrong and it will be a band-aide but generally we need to re-write a these tests with cluster-api once it enters into beta.

[2018-04-18 15:07] chrisohaver commented on #62653
Perhaps better clues in a describe of the apiserver pod?

`kubectl describe pod apiserver-679ffd7bfc-jvsk9`

[2018-04-18 15:21] jskeates opened #62793 "With elbSecurityGroup defined, Controller Manager breaks all ELBs when deleting a Service"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
When deleting a Service with `type: LoadBalancer`, the Controller Manager deletes the Ingress Security Group rule in the instance's security group that allows communication from the ELB to the instances. As all ELBs share the same Security Group, this breaks all the other LoadBalancers for the cluster (all instances becom

[2018-04-18 15:38] soltysh commented on #42649
@dzoeteman suspension is already, see `.spec.suspend` which is `false` by default.

[2018-04-18 15:42] azweb76 commented on #62791
/sig aws

[2018-04-18 15:45] johngmyers commented on #56374
/remove-lifecycle stale

[2018-04-18 15:51] rajatjindal commented on #56903
Can you pls share set of scrupta/commands you used to generate above stats

Also does someone has grafana dashboard template for kube-dns?

[2018-04-18 15:52] carllhw opened #62795 "Service selector matchExpressions"
Could service selector support matchExpressions ?

/kind feature
/sig network

[2018-04-18 16:00] mikedanese opened #62796 "apipserver: delete RequestContextMapper"
Delete RequestContextMapper now that http.Request can carry a context.

/kind cleanup
/sig api-machinery

[2018-04-18 16:01] sdtokkolabs commented on #56903
I've run `conntrack -S` on the hosts. Same as in the url you just shared @rajatjindal.

[2018-04-18 16:04] micahhausler commented on #62791
/remove-sig aws
/sig node

Looks like the plan for this flag may be to remove it, #61659

@mtaufen do you have any other issues or references where this has been slated for removal?

[2018-04-18 16:06] carllhw commented on #62795
/sig network

[2018-04-18 16:25] AishSundar commented on #62267
The Build Test also seems to be flaking on and off in the pull-kubernetes-kubemark-e2e-gce-big job

https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-kubernetes-kubemark-e2e-gce-big

Gubernator logs : https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/62765/pull-kubernetes-kubemark-e2e-gce-big/2315
 Triage: https://storage.googleapis.com/k8s-gubernator/t

[2018-04-18 16:25] rramkumar1 commented on #62638
Just so I understand when this issue occurs, it will only happen when the second LoadBalancer service you create (after the one with source range specified) does **not** specify externalTrafficPolicy=local right? Because it that second service does, then the firewall should accept it on the first rule right?

[2018-04-18 16:25] mgdevstack commented on #53392
I'm able to create PriorityClass and schedule pod with specified PriorityClass on Minikube 0.26.0.

``minikube start --kubernetes-version v1.10.0 --feature-gates=AllAlpha=true,PodPriority=true --extra-config=apiserver.runtime-config=scheduling.k8s.io/v1alpha1=true``

![image](https://user-images.githubusercontent.com/8110509/38945064-17a4fb04-4353-11e8-96f0-ad9fb614977d.png)

[2018-04-18 16:49] azweb76 commented on #62791
The purpose of a taint is to dedicate nodes to specific work loads. In order to get the work load to run on the dedicated nodes is to use labels (nodeSelector). Seems odd to support registering a node with taints but without labels.

[2018-04-18 16:51] yliaog commented on #62538
i think there are two options to further diagnose the problem.

1. run pprof to see where the memory/cpu is used, following something like http://jeffmendoza.github.io/kubernetes/v1.0/docs/devel/profiling.html

2. turn on more verbose logging by adding --v=4 (or higher) to see if there is any useful logs emitted

[2018-04-18 16:54] xiaolanz opened #62798 "HTTP liveness and readiness probe failed on multiple replicas"
/kind bug

**What happened**:
I create probes in my GCP endpoints deployment. The containers start properly when replica is set 1. However, when replica is > 1. Some pods failed with connection to probes:

  Warning  Unhealthy              9m    kubelet, gke-joy-test-default-pool-cf9a73c3-gc8b  Liveness probe failed: Get http://10.44.5.14:9001/healthz: dial tcp 10.44.5.14:9001: getsockopt: connect

[2018-04-18 17:04] yujuhong commented on #62713
`Node.Status.NodeInfo.MachineID` or `Node.Status.NodeInfo.SystemUUID`
https://github.com/kubernetes/kubernetes/blob/v1.11.0-alpha.0/staging/src/k8s.io/api/core/v1/types.go#L3811-L3819

[2018-04-18 17:13] krzyzacy commented on #62709
we probably can just remove https://github.com/kubernetes/kubernetes/blob/7a946e6fb00196d8c0dabc5a2e518a937c0cb104/test/e2e/ui/dashboard.go now

[2018-04-18 17:14] MrHohn commented on #62490
Closing in favor of https://github.com/kubernetes/kubernetes/issues/62698.

[2018-04-18 17:14] #62490 closed

[2018-04-18 17:14] MrHohn commented on #62698
Discussed offline, turned out we need to fix something on the GKE side. Will update here once fix is in place. cc @rramkumar1

[2018-04-18 17:33] shyamjvs commented on #58152
/assign @krzysied

This has now been fixed thanks to Krzysiek. Perf-dash now lives in k8s/perf-tests.

[2018-04-18 17:33] #58152 closed

[2018-04-18 17:34] shyamjvs commented on #58152
Ref https://github.com/kubernetes/contrib/pull/2885

[2018-04-18 17:47] pm-abhinav-sinha commented on #53392
This issue was sorted - on kubeadm production setup, this flag needs to be enabled for kubelet as well - updated doc https://github.com/kubernetes/website/pull/6334#issuecomment-344586215

[2018-04-18 17:47] krousey commented on #62713
Sorry, I should have been more specific. Where do those come from? Because I can't find that anywhere in `gcloud instances describe <instance name>`

[2018-04-18 18:02] msau42 commented on #48677
cc @andyzhangx can you review this feature to see if it can be supported in windows?

[2018-04-18 18:04] timothysc commented on #62710
[code]

What's changed with ingress?  /cc @kubernetes/sig-network-bugs

[2018-04-18 18:07] timothysc commented on #62710
The upgrade test is exposing a change on ingress SSL certs from the looks of it.
/unassign @timothysc
/assign @AishSundar  for re-routing.

[2018-04-18 18:08] xiaolanz commented on #62798
Pods are well after a few minutes. It's due to bootstrap unavailability.
adding initialDelaySeconds resolves the problem

[2018-04-18 18:08] #62798 closed

[2018-04-18 18:15] janetkuo commented on #62415
I believe this is not currently supported. cc @yujuhong @Random-Liu

The biggest problem of this approach is that many workload controllers create X number of replicas to match its spec. If kubelet just blindly fails the pod after the first try, the controller will try to create more pods and thus ends up with a pod creation hotloop, causing more traffic and churn for the control plane.

If you wa

[2018-04-18 18:32] hochuenw commented on #60742
@jyparketc yes.
[code]

[2018-04-18 18:35] krousey commented on #62713
Oh I see. OK I'll see if I can work with that.

[2018-04-18 18:48] MrHohn commented on #62710
cc @rramkumar1

[2018-04-18 19:14] brentpearson commented on #62415
I'm not sure what that means. Is that adding a delay before the next retry when a volume mount failure happens? If so, that's kind of the opposite of what I want. I want it *not* to retry. I basically want to take *all* retrying of everything out of the job creation, and have it just stop with a failed status if anything fails. A lot of this seems to be getting into the implementation details, whi

[2018-04-18 19:15] brentpearson commented on #62415
/sig node

[2018-04-18 19:27] cjcullen commented on #62747
More (somewhat concrete) use cases:

- Identity-exchange style Node Agents that want to make TokenRequests for Pods on their nodes.
- Node-Problem-Detector could reduce its current scope (right now it can get other node objects, and can patch other nodes' statuses).

I bet we'd also find ways to pull out functionality from core kubelet if this was possible.

[2018-04-18 19:52] shyamjvs commented on #62064
The 3rd try gave me:

[code]

So I'm going to proceed by assuming this was a good commit (and the earlier higher values were some variations).

[2018-04-18 19:54] darkstarmv commented on #60665
it is impossible to create GCE internal load balancer without specifying subnet when there is no default subnetwork in the project:
[code]

[2018-04-18 20:10] rpothier opened #62806 "Kubeadm calcNodeCidrSize comments need updating"
The comments in cmd/kubeadm/app/phases/controlplane/manifests.go mention the IPv6 /66 restriction. This restriction was removed in PR#60089
Also, the unit tests show the /66 as the largest subnet.

**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2018-04-18 20:10] rpothier commented on #62806
/assign rpothier

[2018-04-18 20:11] rpothier commented on #62806
/sig cluster-lifecycle

[2018-04-18 20:11] rpothier commented on #62806
/area ipv6

[2018-04-18 20:17] roycaihw commented on #60937
@sttts [kubernetes clients](https://github.com/kubernetes-client) are generated based on openapi spec that we serve in k/k. This issue is tracking:

1. known issues in kubernetes clients that could be solved if we serve openapi v3 in k/k
2. required tooling support around client generation if we start to serve openapi v3 in k/k

[2018-04-18 20:27] shyamjvs opened #62808 "Pod-startup performance related failures on 2k/5k-node tests"
The latest runs of our gce-(large/scale)-performance jobs failed during the density test:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/140 (this one failed due to pod-startup latency crossing 5s slo)
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/83 (this one failed while waiti

[2018-04-18 20:29] gtaylor commented on #42649
If I flip a "stuck" CronJob to `spec.suspend` = `true` then back to `false`, do I get un-stuck? Or is the answer for sure "Delete and re-create the CronJob?"

[2018-04-18 20:34] shyamjvs commented on #62808
So while looking at some graphs on perf-dash with @wojtek-t , we observed that 'put pod-status' and 'patch node-status' latencies shot up:

![pod-status](https://user-images.githubusercontent.com/4333971/38956681-9ecb264e-4358-11e8-863d-81dd50546d47.png)
![node-status](https://user-images.githubusercontent.com/4333971/38956682-9ee4f402-4358-11e8-9e96-a89357837491.png)

[2018-04-18 20:38] tallclair commented on #58010
AllowPrivileged should default to true. It's weird that it's marked deprecated, but defaults to false.

[2018-04-18 20:38] msau42 commented on #62747
/cc @msau42 @verult

[2018-04-18 20:44] shyamjvs commented on #62808
From the graphs (at least the 2nd one), it seems that it's likely the regression was in b/w runs 139 and 140.
And for 2k-node job, the 'patch node-status' took a huge dip quite strangely:

![node-status-2k](https://user-images.githubusercontent.com/4333971/38957137-04d24e44-435a-11e8-8fb5-4a553cf25bee.png)

[2018-04-18 20:46] shyamjvs commented on #62808
Ok, that might be related to the fact that the 2k-node run lasted only for 33 mins, which means the no. of such calls are way fewer and we may not have reached the optimal 'stress'.

[2018-04-18 20:46] liggitt commented on #62791
xref https://github.com/kubernetes/community/pull/911
cc @mikedanese

[2018-04-18 20:50] janetkuo commented on #62415
Here's the sync loop: https://github.com/kubernetes/kubernetes/blob/16c3167040f1d0a739f66ea83c0ee1167887eb4e/pkg/kubelet/kubelet.go#L1761

Job controller doesn't manage pod status and containers. It creates pods and then kubelet does the rest of the work (pull images, volume mounts, etc.) Therefore, please file a separate issue if you want this feature and ask SIG-node (who owns kubelet) to take a

[2018-04-18 20:53] yujuhong commented on #62713
Urghh...recreating an instance actually keeps the machineID.  I don't have a good solution. One idea is to check if the bootID changed.

[2018-04-18 20:58] gekart commented on #59642
@jingxu97 this sounds great. Can you point me to the current implementation?

[2018-04-18 21:02] shyamjvs commented on #62808
@krzysied noticed that the apiserver memory usage took a steep fall in the last 2k-node run. And when I checked, it seemed to be the same case even for other master components (also wrt CPU).

![2k-apiserver-mem](https://user-images.githubusercontent.com/4333971/38958088-7f20b4a4-435c-11e8-968f-089d4192227b.png)

[2018-04-18 21:05] shyamjvs commented on #62808
I've found the reason. Turns out that the recent config changes made this job to run on [just 4 nodes](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-large-performance/83/build-log.txt) (due to not specifying --gcp-nodes for that job).
@wojtek-t :)

Let me send a fix.

[2018-04-18 21:08] PatrickLang opened #62812 "Container & Pods are stopped right after starting with isolation-type: hyperv"
## Summary

I'm doing some tests with `experimental.windows.kubernetes.io/isolation-type: hyperv` on Windows 10 version 1709. It seems that the pods are killed as soon as the container inside them is started.

From looking at the logs, my best guess is that maybe some state needs to be kept around CRI sandboxes that's not implemented in the dockershim CRI on Windows. The containers start, but then

[2018-04-18 21:08] PatrickLang commented on #62812
/assign feiskyer