[2016-08-06 00:15] caesarxuchao commented on #30110
Yeah, both seem reasonable. I'll create an issue for strawman 1 to track.

[2016-08-06 00:15] #30110 closed

[2016-08-06 00:16] thockin commented on #30170
I suggested this as a discussion topic.  It is "interesting" to be able to get resourceVersion, but it will require a downwardAPI-like syntax.  I am not sure it's worth the effort, but we should maybe document the suggested way to do this.

[2016-08-06 00:16] thockin commented on #30170
@pmorie @erictune

[2016-08-06 00:19] montanaflynn opened #30177 "Pods stuck with status ContainerCreating"
For some reason today when I rolled out a new version to one of our deployments the pod got stuck in ContainerCreating with this error events:

[code]

I then attempted to scale the cluster and more than 75% of the previously running pods switched to ContainerCreating and also got stuck there. This caused widespread failure in our system and I had to quickly create a new cluster.

We're using goog

[2016-08-06 00:25] montanaflynn opened #30179 "Scaling deployment results in CrashLoopBackOff"
I have a deployment that has a single pod running. When I try to scale it up the new pods get stuck with a CrashLoopBackOff status. We're using google cloud platform's container engine and the cluster version is 1.3.3. This doesn't happen in our 1.2.2 cluster.

Here's the command I ran:

[code]

Here are the events:

[code]

[2016-08-06 00:30] caesarxuchao opened #30180 "Support list/get/watch ObjectMeta in api server"
Derived from the discussion [here](https://github.com/kubernetes/kubernetes/issues/30110#issuecomment-237864919).
#28480 implements a client that only decodes the metadata part of an object. It's useful for garbage collector, or any other components that only care about the object's metadata. However, #28480 only works with JSON, not with Protobuf.

To support both content types, and to make the c

[2016-08-06 00:44] vishh commented on #30174
I'd prefer including kubelet also in the static binary and unifying conformance testing and node e2e. We can run kubelet as part of testing in node e2e and not run in the case of conformance testing. The default can be that of not running kubelet.

[2016-08-06 00:51] feiskyer commented on #29579
+1. (Same idea as https://github.com/kubernetes/kubernetes/issues/29579#issuecomment-236072601.)

[2016-08-06 01:02] chrislovecnm commented on #30171
@ncdc thanks!

[2016-08-06 01:04] chrislovecnm commented on #30171
@ncdc to cralify is kubelet getting these errors from cadvisor?

[2016-08-06 01:06] ncdc commented on #29579
I need to look at the CRI in more detail when I'm at my desk but that
sounds reasonable.

On Friday, August 5, 2016, Pengfei Ni <notifications@github.com> wrote:

[2016-08-06 01:06] ncdc commented on #30171
Yes

On Friday, August 5, 2016, Chris Love <notifications@github.com> wrote:

[2016-08-06 01:44] #29117 closed

[2016-08-06 02:02] AdoHe commented on #30177
@kubernetes/sig-node

[2016-08-06 02:09] Random-Liu commented on #30177
@kubernetes/sig-storage

[2016-08-06 03:07] saad-ali commented on #30177
@montanaflynn There were a number of storage related issues with v1.3.2 that were [fixed with v1.3.4](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md/#v134). You probably hit one of those.

If you share the complete `/var/log/kubelet log` from a node with a stuck deployment I can take a look and confirm if it's a known issue or not. I'd need your GKE project name/cluster name/zon

[2016-08-06 05:58] thockin commented on #26567
@jingxu97 I don't have immediate answers to these, but they sound like "fun" corner cases that may have some bugs.  Good thing we have a smart team working on them.  What should we do?

[2016-08-06 06:27] rmahajan2420 commented on #21189
Thank you so much . @PhilibertDugas . I have been struggling with this since yesterday morning. you have saved me..

[2016-08-06 06:51] k8s-merge-robot opened #30185 "[k8s.io] MirrorPod when create a mirror pod should be updated when static pod updated {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/7923/

Failed: [k8s.io] MirrorPod when create a mirror pod  should be updated when static pod updated {E2eNode Suite}

[code]

[2016-08-06 07:27] nhlfr commented on #29148
@dcbw your PR doesn't seem to change container status when IP address cannot be retrieved, am I wrong? It's still confusing to have a "Running" container in such situations.

[2016-08-06 07:29] nhlfr commented on #29148
And what's wrong with my PR?

[2016-08-06 07:50] moander commented on #29794
Common tasks like default namespace swapping is not straight forward using kubectl.

If NAME was optional one could change the current context like this:
[code]

The current docs suggest this procedure to change the default namespace:

[code]

[2016-08-06 08:44] #23163 closed

[2016-08-06 09:26] yaxinlx opened #30186 "for all delete collection of resource APIs, default labelSelector and fieldSelector should mean nothing instead of everything"
to avoid mis-operating.

For example, client wants to delete one pv or pvc, but the resource name is blank, this will result to delete all pv or pvc.

[2016-08-06 13:53] mdshuai commented on #30102
@ixdy In my env `$PATH` already include `$GOPATH/bin` if there is no go-bindata in my env, build also failed, I need manual install go-bindata by `go get -u github.com/jteeuwen/go-bindata/go-bindata`
[root@qe-ose32-dma kubernetes]# make
+++ [0806 09:41:26] Generating bindata:
    /root/kubernetes/test/e2e/framework/gobindata_util.go
Cannot find go-bindata. Install with
  go get -u github.com/jteeu

[2016-08-06 14:09] luxas commented on #29904
@davecheney Sorry, I can't follow that statement.
What do you mean?

`api.Scheme.AddKnownTypes(GroupVersion, &Policy{})` is the call that's failing, but it hasn't changed since v1.4.0-alpha.1 where it was working...

https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/scheme.go#L160 is the function that's called.

[2016-08-06 16:02] jayunit100 commented on #30113
...Also the code portability increase when using native go generate rather than relying on more bash build steps

[2016-08-06 17:41] k8s-merge-robot opened #30187 "[k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6250/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable All pods on the unreachable node should be marked as NotReady upon the node turn NotReady AND all pods should be mark back to Ready when the node get back to Ready before pod eviction timeout {Kubernetes e2e suite}

[2016-08-06 17:44] dagnello commented on #23932
vSphere supported added

[2016-08-06 17:44] #23932 closed

[2016-08-06 17:45] dagnello commented on #28790
issue is resolved.

[2016-08-06 17:45] #28790 closed

[2016-08-06 17:45] smarterclayton commented on #30180
There is an existing "get subset of object" issue, with a few implementation options proposed.  There is also "spec" and "status" requests.

I'd like to unify both with server side support for partial object retrieval, and unify it with the export and proposed "get" on server use case (which needs to return an alternate representation of a list from the server).

Clients would use an accept header

[2016-08-06 17:45] #29878 closed

[2016-08-06 17:47] smarterclayton commented on #30180
For object meta we would define "v1.PartialObjectMeta" with TypeMeta and ObjectMeta.  For Spec we could define "v1.PartialObjectSpec".

We would *not* do selective field retrieval (although potentially the tabular output form for Get could someday accept "columns").

[2016-08-06 17:48] smarterclayton commented on #30180
Will draft up a proposal and unify it with the "move get to server" proposal I already started.

[2016-08-06 17:51] smarterclayton commented on #30180
If we need to support multiple versions of input params, we can in the future support a query parameter that accepts a group version kind of query params to transform to the server type.

Third party resources would switch to using "v1.api.kubernetes.io" for all their versioned embedded objects, and in the future we could support a flag on third party registration that defines what the "default" A

[2016-08-06 17:52] smarterclayton commented on #30158
It's fairly expensive to generate, and self links are kind of
worthless to real clients today (don't quote me on that, but I know of
no use for them on clients).

[2016-08-06 17:56] smarterclayton commented on #30180
The server in the future might have an optimized path for returning partial results, but either way it's a detail hidden from clients.

[2016-08-06 18:13] thockin commented on #29148
I'll close @dcbw's PR as a dup.  The question of what state it should be in if inspect fails to find an IP is probably discussable.

[2016-08-06 19:03] thockin commented on #28667
Mrunal,

I understand the argument that netns based runtimes are so similar and it's
easier to just centralise plugins.  The flip side of that argument is that
it becomes very hard or impossible to allow the runtime to do something
different, whether it is netns or otherwise.

I think that outweighs.  IMO, so far, given discussions to date...

On Aug 5, 2016 3:05 PM, "Mrunal Patel" <notifications@

[2016-08-06 20:43] thockin opened #30189 "kubelet refresh times for configmaps is long and random"
The refreshing of config maps is coupled to kubelet's internal timers.  This means that it can be difficult to rely on the configmap (and secret) self-refresh behavior.

We should keep a list of secrets and configmaps and either watch them in kubelet or else poll them on a faster and more well-documented schedule.  Some folks don't want to depend on it as-is.

[2016-08-07 01:02] dims commented on #30132
Looks like this is being discussed in: https://github.com/kubernetes/kubernetes/issues/29633

[2016-08-07 01:02] dims commented on #30124
Looks like this is being discussed in: https://github.com/kubernetes/kubernetes/issues/29633

[2016-08-07 01:28] AdoHe commented on #30180
@smarterclayton I am wondering whether we can divide this to small steps, so we can implement it step by step?

[2016-08-07 04:55] brendandburns commented on #23831
I believe that https://github.com/kubernetes/kubernetes/pull/29724 should have the fix, can you test it out?

[2016-08-07 05:20] ash2k opened #30192 "Third Party Resources list has empty metadata"
[code]
Getting `/apis/smith.ash2k.com/v1/resourcetemplates` outputs
[code]
I was expecting `selfLink` and `resourceVersion` to be there just like for e.g. `/apis/extensions/v1beta1/thirdpartyresources`:
[code]
I'm interested in `resourceVersion` because otherwise implementing "watch" operation on the list is not possible.
This is with minikube 0.7.1 (Kubernetes 1.3.3)

[2016-08-07 09:38] zhouhaibing089 commented on #23585
I think my point is about making things easier for downstream, with a executable-plugin mode, the downstream does not need to touch this file necessary, thus a cleaner code..

[2016-08-07 09:53] zhouhaibing089 commented on #30163
Is it possible to set the type of `Request` being string?

[2016-08-07 09:54] zhouhaibing089 commented on #30163
And what's the policy to tell who has the permission to approve or deny this CSR?

[2016-08-07 11:50] pstadler commented on #27081
In case somebody is stuck, I managed to force update deployments by applying a simple patch:

[code]

This can easily be added to a Makefile or shell script.

[2016-08-07 14:30] m1093782566 opened #30194 "Configure golang http client transport's maxIdleConnsPerHost in scheduler bind client"
As scheduler‘s algorithm and bind are asynchronous, there can be multiple goroutines posting binding in the same time. Golang http client transport set `maxIdleConnsPerHost` vaule to 2 by default.

When number of binding goroutines exceeds 2(maybe 20), then tcp connection and disconnection will happen very frequently, which will cost more time to finish a binding(HTTP POST) request.

So, should we

[2016-08-07 17:46] coufon commented on #29244
I tested V1.2 and see a similar RSS memory increase. I tried to call runtime.GC() and debug.FreeOSMemory() per minute in V1.3 and observe the follows:

 <img src="https://cloud.githubusercontent.com/assets/11655397/17464141/300e8b10-5c8c-11e6-9d85-a8e298d753d8.png" width="50%", height="50%">

[2016-08-07 17:58] oc243 opened #30195 "kubelet won't start on GCE VM without a metadata server."
If you start kubelet on a GCE VM with `local-up-cluster.sh`, kubelet fails to come up. The logs show that it is sat spinning on
`I0807 17:46:01.660729   20991 metadata.go:205] Failed to Get service accounts from gce metadata server: Get http://metadata.google.internal./computeMetadata/v1/instance/service-accounts/: dial tcp: lookup metadata.google.internal.: no such host`.

This looks like a bug i

[2016-08-07 18:34] smarterclayton commented on #30180
Yes, although most of the framework is in place today.  We probably
need agreement on the concept before we start breaking off pieces,
since the implications are fairly wide reaching.

[2016-08-07 19:26] smarterclayton commented on #29904
Each API group package is fairly large - protobuf, generated copies, and
generated conversions.  Is there anything about the goroutines used for
package init that passes information about the package through in a way
that may result in this error?  Is the init method itself inlined into a
parent init module by the compiler?

On Sat, Aug 6, 2016 at 10:10 AM, Lucas Käldström <notifications@github.co

[2016-08-07 21:13] bprashanth opened #30196 "Ingress can pick up loadbalancer-source-ranges"
If an Ingress points to a Service with loadbalancer-source-ranges (https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/user-guide/services-firewalls.md#restrict-access-for-loadbalancer-service) we can apply the right firewall. For GCE this means creating the vm level source-ip firewall, for nginx this means rejecting traffic based on `x-forwarded-for`.

This suffers from the same s

[2016-08-07 21:43] aledbf commented on #30196
The NGINX ingress controller already supports a source-ip firewall using an annotation [whitelist-source-range](https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/configuration.md#whitelist-source-range)

[2016-08-07 22:23] davecheney commented on #29904
It looks like the init method is being inlined.

On Mon, 8 Aug 2016, 05:27 Clayton Coleman <notifications@github.com> wrote:

[2016-08-07 22:36] therc commented on #10439
I'm trying to support Docker volume plugins in the API, starting with https://github.com/kubernetes/kubernetes/pull/23892. One of the use cases of some interest to people in this discussion is the Keywhiz plugin.

Of course, that ties you to both Docker **and** Keywhiz, is no good if you're already committed to Vault and doesn't cover the generic case of handling all secrets, but I thought I'd men

[2016-08-07 23:39] bprashanth commented on #30196
Ah thanks for the reminder, i forgot about that. so i guess we just need to pipe the Service field through to https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/controller.go#L723

[2016-08-07 23:39] AdoHe commented on #30192
@brendandburns

[2016-08-08 00:03] #27725 closed

[2016-08-08 02:49] Yancey1989 opened #30201 "Reload ingress controller while apiserver restart?"
Step 0
Deploy **Ingress Controller**, it works well.

Step 1
Restart apiserver, **Ingress Controller** can not connect to apiserver.

Step 2
delete secret **default-token-xxx**, delete the **Ingress Controller**RC and redeploy it, this works find.

Problem:
Restart apiserver will regenerate **TOKEN**data , all pod connected to secret apiserver should be redeploy?? any other solution?

[2016-08-08 03:10] Random-Liu opened #30202 "Node E2E Serial Failure: Kubelet Eviction Manager"
The test `E2eNode Suite.[k8s.io] Kubelet Eviction Manager [FLAKY] [Serial] [Disruptive] hard eviction test pod using the most disk space gets evicted when the node disk usage is above the eviction hard threshold should evict the pod using the most disk space` is failing.

[code]

@ronnielai

[2016-08-08 04:24] k8s-merge-robot opened #30204 "kubelet-gce-e2e-ci: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8085/

Run so broken it didn't make JUnit output!

[2016-08-08 05:02] Hokutosei opened #30206 "k8s daemonset, having unexpected behaviour"
Greetings,

first time to use daemonset, but I am having an unexpected behaviour. this is from a tests GKE environments

environment1

[code]

I am expecting 3 pods, but it seems to be 1 is failing.. how do I fix this?

and from environment2

[code]

[2016-08-08 05:17] k82cn commented on #30150
@mtaufen , what's your build environment? Here's my output in Ubuntu 14.04:

[code]

[2016-08-08 05:57] luxas commented on #29904
@smarterclayton @davecheney So it might be possible to fix this issue by killing most `func init`s?
I think that would be a good idea anyway, especially if we're thinking about transistioning to hyperkube even more.

@smarterclayton Do you have any preferred place in the code to init those apis instead?

[2016-08-08 06:00] davecheney commented on #29904
On Mon, Aug 8, 2016 at 3:58 PM, Lucas Käldström <notifications@github.com>
wrote:

You should kill init functions, they're hard to test, but I have no idea if
this will fix the problem.

I recommend you write a small, selfcontained repro, it should be pretty
easy, some struct type with a large array (not a slice) passed by value
should do it. When you have this repro raise an issue on golang/go

[2016-08-08 06:23] wojtek-t commented on #30158
+1 for what @smarterclayton wrote

[2016-08-08 06:26] wojtek-t commented on #30194
This should be already done:
https://github.com/kubernetes/kubernetes/blob/f2ddd60eb9e7e9e29f7a105a9a8fa020042e8e52/pkg/client/transport/cache.go#L71

[This is the client that is used by all our components.]

If you think that because of some reason it doesn't work, please reopen this issue.

[2016-08-08 06:26] #30194 closed

[2016-08-08 07:13] wojtek-t commented on #30025
@smarterclayton - to clarify, I obviously agree that versioned client is a win and we should do it; what I wanted to say here is just it may not help with this particular issue

[2016-08-08 07:23] Ladicle opened #30210 "Can't resolve domain name in container except kube-dns"
I have installed kubernetes(1.3.4) cluster on local server.
kube-dns can resolve domain name, but other containers can not resolve domain names.

* kube-dns can resolve kubernetes.default.svc.cluster.local & google.com
[code]
* Other containers can not resolve (have direct dns)
[code]

## Versions

* kernel
[code]

* kubernetes
[code]

* flanneld
[code]

* etcd
[code]

## Kube-dns manifests

* sky

[2016-08-08 07:32] luxas commented on #29132
@wojtek-t `make push ARCH=arm`, `make push ARCH=arm64` and `make push ARCH=ppc64le` _now_ would be very kind of you

[2016-08-08 07:37] SylarChen commented on #23726
Try using --server to specify your master:
kubectl --server=16.187.189.90:8080 get pod -o wide

[2016-08-08 08:03] tatsuhiro-t opened #30213 "large number in ThirdPartyResource encoded as float"
When we submit the resource object containing large integer, its field is encoded as floating point with exponents, like 1.03e+9.  We want to encode the number in integer, not floating point, since with the latter we may lose precision, and Go cannot decode such field into int64.

For example, submitting the following third party resource object:

[code]

and getting result from apiserver looks li

[2016-08-08 08:25] Random-Liu commented on #27455
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/26028/node-pull-build-e2e-test/17581/

[2016-08-08 08:25] dshulyak commented on #30144
@euank maybe kubenet can use runtime interface to execute things inside of the namespace? I see that kubenet uses nsenter to get pod ip, it seems that runtime can do that. Is there any other place where kubenet needs nsenter?

@yujuhong so there is no such goal as to support hyper-hq runtime in kubenet?

[2016-08-08 08:36] msplayer opened #30214 "Cannot use configmap in pod"
Hi All,
  When I create a pod with configmap, it always report error: 'field fieldRef: is required, found invalid field configMap for v1.EnvVarSource', I am using k8s v1.2.0 on CentOS7, below is my pod creating script.

`apiVersion: v1
kind: Pod
metadata:
  name: dapi-test-pod
spec:
  containers:
    - name: test-container
      image: gcr.io/google_containers/busybox
      command: [ "/bin/sh", "

[2016-08-08 08:38] #30202 closed

[2016-08-08 08:48] mdshuai opened #30215 "Dns server is null in some pods."
I have two pods in the kube-system namespace, one can resolve dns, When resolve the dns in another pod, it can't resolve the name, and shows the server is null. But the correct dns server already in `/etc/resolv.conf`

[code]

[2016-08-08 09:27] zhouhaibing089 commented on #5754
@mikedanese I am a little bit confused here, #20439 is about getting certificates for kubelet, how could it cover `API trusts the node`? IIUC, when kubelet posts CSR requests to api-server, api-server does not have a way to say "I trust you", right?

[2016-08-08 09:41] k8s-merge-robot opened #30216 "[k8s.io] V1Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29982/kubernetes-pull-build-test-e2e-gce/52300/

Failed: [k8s.io] V1Job should scale a job down {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29982.

[2016-08-08 10:02] #29425 closed

[2016-08-08 10:02] IanLewis opened #30217 "Docs on Top Level API Objects doesn't include ThirdPartyResource"
http://kubernetes.io/docs/api-reference/extensions/v1beta1/definitions/

These docs should include ThirdPartyResource in the list of v1beta1 extensions.

[2016-08-08 10:03] soltysh commented on #30216
Looks like a gke problem, already handled in #28656.

[2016-08-08 10:03] #30216 closed

[2016-08-08 10:04] IanLewis opened #30218 "ThirdPartyResource documentation"
Currently there is no documentation for ThirdPartyResource on the kubernetes.io website. There is a design document in the Github repository but an extension in beta should have documentation.

https://github.com/kubernetes/kubernetes/blob/master/docs/design/extending-api.md

[2016-08-08 10:04] wojtek-t commented on #29897
This is basically doing for federation what we would like to do for kubemark:
https://github.com/kubernetes/test-infra/pull/335

We should do something pretty similar.

[2016-08-08 10:53] jsafrane opened #30219 "Rework persistent volume controller initialization"
`persistentvolumecontroller.NewPersistentVolumeController` has 11 arguments now, it would be better to have a structure for them instead of a long list.

[2016-08-08 10:54] m1093782566 commented on #30194
ok, thanks!

[2016-08-08 11:40] m1093782566 opened #30220 "Speed up list-wach in API Server side"
The performance of list-watch takes an effect on the real-time event perceiving of kubernetes client side, such as scheduler, controller manager, kubelet etc.

I have some ideas about speeding up list-watch in API Server side.
1. As @hongchaodeng metioned [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/etcd3/watcher.go#L212), we can use etcd newest API(support prevKv in PUT

[2016-08-08 12:07] runseb commented on #24668
It would be nice to have an example of exec and (port-forward) in different languages. Implementing this call with SPDY is not dead trivial.

[2016-08-08 12:15] deads2k commented on #29794
That seems like a good idea to me.

@fabianofranz You given thought to pushing `oc project`?

[2016-08-08 12:23] wojtek-t commented on #30220
@m1093782566

- regarding 1:
we are still not using etcd3 and we will still be supporting etcd2 for at least few more months; What is more, the default version is still etcd3, so this isn't something we can do easily now.

The comment in general - what is the problem that you are trying to solve? It doesn't make sense to do optimizations (that will complicate the code), if you are not solving any

[2016-08-08 12:33] pigmej commented on #29453
We're doing PoC of our idea, you can expect updates this week. We will provide further details soon.

@dims, sorry for long time without reply, but we're doing PoC for that.

[2016-08-08 13:20] gmarek commented on #28713
@caesarxuchao - I hit the same problem as @jszczepkowski in https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30138/kubernetes-pull-test-unit-integration/38224/

[2016-08-08 13:21] nhlfr commented on #29148
Since we have no other state as "running", "exited", "unknown" and "created", I think that the most suitable is "unknown". Of course only as a quick fix, in future we may need to create a separate state for network issues.

[2016-08-08 13:22] gmarek commented on #29820
Node failure.

[2016-08-08 13:23] cheld commented on #29832
CC @cheld

[2016-08-08 13:33] wojtek-t commented on #29897
I created Jenkins project for it:
https://pantheon.corp.google.com/home/dashboard?project=k8s-jkns-pr-kubemark

We need to configure kubemark-presubmit on it.

[2016-08-08 13:33] cheld commented on #29176
Duplicate of https://github.com/kubernetes/kubernetes/issues/26943

[2016-08-08 13:42] jayunit100 commented on #30113
@timstclair  sounds like we agree that its better to build this lazily and take the .5 second hit.
ok to close this ?

[2016-08-08 13:43] GreatSUN commented on #13385
Hi all, additionally to this, there can be other problems, like in virtualized environment the reported sizes that we can detect might not be those we can work with and we might infact be running on swap and therefore services might not react in time and though should be moved to other hosts.
I suggest a possibility to define an amount of healthcheck related restarts until the pod should be resche

[2016-08-08 13:57] k8s-merge-robot opened #30228 "TestCreateWithNonExistentOwner {garbagecollector}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15489/

Failed: TestCreateWithNonExistentOwner {garbagecollector}

[code]

[2016-08-08 14:06] timothysc commented on #30122
@jayunit100 engage por favor.

/cc @ncdc.

[2016-08-08 14:07] #29882 closed

[2016-08-08 14:19] jonboulle commented on #1615
@sashokkum you could also try using [rktnetes](http://blog.kubernetes.io/2016/07/rktnetes-brings-rkt-container-engine-to-Kubernetes.html) which supports inter-app IPC today.

[2016-08-08 14:20] ashmere commented on #27161
I don't appear to hve duplicate gce routes. but going to try running without flannel.

Think I must be doing something wrong when I try to stripe flannel out
[code]
all the containers appear to be running using the default docker networking 172.17.x.x

Passing on the kubelet options  --reconcile-cidr=true,  --configure-cbr0=true and on the controller-manager  --allocate-node-cidrs=true, --configur

[2016-08-08 14:29] luxas commented on #29901
Sorry, I linked the wrong issue. I meant #26863 :)
I have it in a TODO right now there, but I haven't got an automated solution; only the task :)

Please say what you're planning to do, it's interesting

[2016-08-08 14:34] timothysc commented on #30163
/cc @liggitt

[2016-08-08 14:49] timothysc commented on #29001
What is the status on the original issue, which is a race in plumbing problem.

[2016-08-08 14:49] jsravn opened #30230 "thin_pool_watcher.go with thin_ls in cadvisor causes devicemapper to crash"
After updating to kubernetes 1.3, and getting the latest RHEL7 updates including the `thin_ls` tool, we started experiencing devicemapper failures on our kubernetes nodes:

[code]
#25914 updated the cadvisor version, which added a thin_pool_watcher.go for devicemapper thin pools.

Unfortunately, due to https://bugzilla.redhat.com/show_bug.cgi?id=1286500, this thin pool watching seems to cause devi

[2016-08-08 14:52] gmarek commented on #29845
To make it clearer:
- kubelet reports `e2e-image-puller-jenkins-e2e-minion-group-s9i0` pod
- api server does not list it (as can be seen by the log about 'success states'), if it were visible it would be listed there no matter what state it is.

By looking at logs what happened is:
- during `recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins t

[2016-08-08 15:42] sashokkum commented on #1615
Thanks @jonboulle for the tip however, using CoreOS/rocket is not an option for us in prod. We are on Centos/Docker only

[2016-08-08 15:59] thockin commented on #27161
So for status, you can now get proper pod IPs and they can all reach each other?  And service IPs work from within nodes?  And you set up statis routes for your service IP range to one or more nodes?

Can you share your `gcloud compute routes list` ?

[2016-08-08 16:27] thockin opened #30232 "Controller manager special-cases NFS and other volumes"
code in `cmd/kube-controller-manager/app/plugins.go`:

[code]

Volume plugins should be opaque.  We need to find a way for params like this to come through without open-coding lists of parameters per volume plugin type.  This will take some thinking, and it will have to be compatible for a while.

@saad-ali @jsafrane @matchstick

[2016-08-08 16:35] jbeda commented on #16508
@luxas -- this seems like a really good way to approach this.

As for schedule, I'm not sure that I have the time to get everything in to place for 1.4.  If someone else wants to run with it that's great.  Otherwise I'll work on it as I can.

[2016-08-08 16:45] ixdy commented on #30204
[code]

weird.

[2016-08-08 16:56] ashmere commented on #27161
Below is the routing info
[code]

[2016-08-08 17:01] bgrant0607 commented on #27097
Users specify resource requests and limits per container. Thus, container-level metrics will be needed for vertical auto-scaling, resource estimation, and predictive horizontal auto-scaling. Presumably HPA currently use container-level metrics, as well.

[2016-08-08 17:15] yujuhong commented on #29579
What I suggested is a little different than your comment, which was to add a `ResizeTTY` call :)
I am suggesting that we add a new "resize" stream in the `Exec` call (in additional to stdin stream), so that kubelet can just forward the resize request directly. That way, we don't have to split `Exec` to `CreateExec` and `StartExec` to get the exec ID that can be used to call `ResizeTTY`. Of course,

[2016-08-08 17:29] lavalamp commented on #30065
@kenan435 I think this issue would be a lot less confusing if you called it "Kubelet checkpointing", since kubelet is the component that needs to do checkpointing. It needs to do checkpointing for everything, not just kube-apiserver, since other services (like etcd) are also vital for the startup sequence. Focusing specifically on apiserver is overly specific.

IMO, kubelet needs this functionalit

[2016-08-08 17:31] nehayward commented on #1513
What's the process to setup a container on kubernetes and then ssh to it? I have minikube running on my computer as well as kubernetes running on gce. But haven't been able to ssh to a deployed pod.

[2016-08-08 17:35] ravilr commented on #30230
https://github.com/google/cadvisor/pull/1411

@ncdc the above fix needs to be cherrypicked to release-1.3.

[2016-08-08 17:40] yujuhong commented on #29845
kubelet would try to create the mirror pod for kube-proxy since it was actually running on the node after reconnecting with the apiserver. It probably created this pod in one of the following two requests.
[code]
I don't see any problem with that. Kubelet needs sometime to report the static pods running on the node after a disruptive test. If scheduler tries to schedule any pods during this window

[2016-08-08 17:48] gmarek commented on #29845
ugh - sorry, I pasted wrong pod. It was supposed to be image puller. Sorry for that.

[2016-08-08 17:50] yujuhong commented on #30122
Does the test use the kubelet that's already installed on the node (i.e., testing the entirety of the the node environment setup) or does it come with its own binaries? It's not very clear from the description what the test workflow is..

[2016-08-08 17:52] hongchaodeng commented on #30065
As @lavalamp discussed with us, we will probably do some checkpointing of cached state in apiserver itself.

/cc @xiang90

[2016-08-08 17:52] thockin commented on #1513
see `kubectl exec`

[2016-08-08 17:52] Random-Liu commented on #30122
@yujuhong It should test the kubelet that's already installed on the node. I'll update the description to make it more clear. :)

[2016-08-08 17:54] caesarxuchao commented on #30180
Is it #1459?

[2016-08-08 17:56] nehayward commented on #1513
@thockin thanks for the quick response. I've been able to do that, but I need to be able to ssh to it. As I'm trying to Perfkit on kubernetes.

[2016-08-08 17:58] thockin commented on #1513
I don't have any experience setting up "real" SSH in a container

On Mon, Aug 8, 2016 at 10:57 AM, Nick Hayward <notifications@github.com>
wrote:

[2016-08-08 18:00] wojtek-t commented on #25134
This is about large kubemarks and this is no longer happening. So I'm closing this one.

[2016-08-08 18:00] #25134 closed

[2016-08-08 18:01] devx commented on #6962
@w0mbat Sorry it took me a bit to respond. there is a quick update as to where I am.

I was busy with some stuff, that prevented me from working on this. But that has been resolved, and should have updates by the end of next week. However what's causing the delays is the lack of a good API for Rackspace Cloud.  I've used the gophercloud, it works but I'm not a fan.  Additionally gophercloud doesn'

[2016-08-08 18:02] nehayward commented on #1513
This is the closest thing I've found so far. https://docs.docker.com/engine/examples/running_ssh_service/

[2016-08-08 18:05] thockin commented on #1513
For the record, it's generally an anti-pattern to run real SSH in a
container.  That doesn't mean you can't, just that you might want to think
about finding a way forward :)

On Mon, Aug 8, 2016 at 11:03 AM, Nick Hayward <notifications@github.com>
wrote:

[2016-08-08 18:09] nehayward commented on #1513
@thockin I agree. That's just how https://github.com/GoogleCloudPlatform/PerfKitBenchmarker/tree/d7de2e2aa82650190b4640f8d64657846608144b is setup right now.

[2016-08-08 18:14] yujuhong commented on #30144
It's discussed more in details in #28667, but the gist is that it's too difficult for kubenet to support a variety of runtimes reliably. If we decide to delegate networking to runtimes, we'll augment CRI for more network configuration and status. Kubelet itself (which does not include kubenet) will not need nsenter.

[2016-08-08 18:18] aaronlevy commented on #30065
I agree with @lavalamp that we should be thinking about this from the perspective of "Kubelet checkpointing".

There is a general existing issue (https://github.com/kubernetes/kubernetes/issues/489) which covers 'kubelet checkpointing or something'.

I think at this point it might help to start the discussion about the scope of work to implement some form of this functionality. But even "checkpoin

[2016-08-08 18:18] wojtek-t commented on #29846
If I understand correctly our assumptions that shouldn't happen in a healthy system with a single scheduler

We have DeamonSets currently, that means that logically we already have two schedulers.

This failure is coming from serial suite, where we have different disruptive tests - can this be related to e.g. adding a node or sth like that?

[2016-08-08 18:22] ashw7n commented on #24229
@lavalamp do you know if the mechanisms GKE does for backup/restore for etcd is public? This is something we (eBay) is interested in and are ready to contribute if the GKE solve is not open source. Any suggestions on this front?

[2016-08-08 18:28] coufon commented on #29244
I measured the memory usage of V1.2 and found the same. Then I run V1.3 with setting memory profiling interval to 1, and call runtime.GC() and debug.FreeOSMemory() every minute. The result is as follows:

 <img src="https://cloud.githubusercontent.com/assets/11655397/17491130/24c76752-5d5b-11e6-9a55-df67acf7ee9b.png" width="50%", height="50%">

[2016-08-08 18:32] DanyC97 commented on #1957
@thockin who is the owner of this PR ? would be possible to increase the priority from P3 ? is it reasonable to expect it in say 1.4 or maybe 1.5 time frame ?

Much thanks !

[2016-08-08 18:48] #23198 closed

[2016-08-08 18:55] mikedanese commented on #30163
@zhouhaibing089 You should be able to use the ABAC admission controller or other Auhorization mechanisms.

[2016-08-08 18:57] liggitt commented on #30163
are the approve/deny operations modeled as subresources?

[2016-08-08 18:59] mikedanese commented on #30163
@liggitt yes. /approval. https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/certificates/strategy.go#L146

[2016-08-08 18:59] mikedanese commented on #30163
ok PRs for this are mostly out and linked to this. We are waiting one upstream fix https://github.com/emicklei/go-restful/pull/311

@pwittrock this is what i'd like to get into kubectl for v1.4.

[2016-08-08 19:17] liggitt commented on #2877
verb is in the authorizer interface, RBAC supports it, ABAC is unlikely to receive further development at this point

[2016-08-08 19:17] #2877 closed

[2016-08-08 19:17] sjenning commented on #30230
@vishh @thockin i can do the work here. just need to know what needs to be done.

1. cherry-pick the cadvisor commit into the kube 1.3 dep tree directly
2. bump the cadvisor version in the Godeps for 1.3

[2016-08-08 19:21] liggitt commented on #30163
RBAC supports policy around approval subresource by defining a role containing a rule like this:
[code]

[2016-08-08 19:22] vishh commented on #30230
@sjenning I think you intended to mention @timstclair

Yes

k8s master needs to include the fix before it can be cherry-picked into v1.3 branch.

[2016-08-08 19:23] k8s-merge-robot opened #30238 "[k8s.io] Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21308/

Failed: [k8s.io] Job should scale a job up {Kubernetes e2e suite}

[code]

Previous issues for this test: #29511 #29987

[2016-08-08 19:24] sjenning commented on #30230
@vishh indeed. thanks. i'll get on it.

[2016-08-08 19:25] liggitt opened #30239 "certificatesigningrequests should overwrite spec.user info in createstrategy"
The API server should overwrite the info in the spec with the info from the context, not allow it to be set by end users

[2016-08-08 19:25] yujuhong commented on #29579
It could be as simple as https://github.com/yujuhong/kubernetes/commit/355a9cec74f62fba3694d4eebff8553b8ef9a2ca for CRI. The implementation is another story.

[2016-08-08 19:26] liggitt commented on #30239
ref: https://github.com/kubernetes/features/issues/43

[2016-08-08 19:26] liggitt commented on #30163
the username should be populated by the API server, not send in the API request - opened https://github.com/kubernetes/kubernetes/issues/30239 to track that

[2016-08-08 19:30] mikedanese commented on #30239
A user should be able to create a CSR for a different user which was the motivation. I think that Username can be removed from Spec altogether since it's contained in the CSR.

[2016-08-08 19:30] liggitt commented on #30239
Code in question is https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/certificates/registry.go#L56-L70

It should clear user info in the spec if no user exists in the context

It should overwrite the user info in the spec with the user from the context

If a highly privileged user wants to create a CSR for another user, they can do so using impersonation (`kubectl --as=`)

[2016-08-08 19:31] liggitt commented on #30239
username is not in the CSR in a way that maps directly to API authorization

[2016-08-08 19:32] liggitt commented on #30239
also, the CSR is under the end user's control... the username should be under the API server's control. Otherwise, nothing stops me from submitting a CSR for some other user/server/etc with my private key

[2016-08-08 19:35] dchen1107 commented on #29845
@gmarek I didn't look into the detail of the issue, but here is what I believe:

image-puller is designed to be fire-and-forget pod for our test infrastructure initially, which means its restart policy is never, not always. Once it succeeded, our pod garbage collector will remove it. I don't think kubelet does anything wrong here.

[2016-08-08 19:37] mikedanese commented on #30239
Why is this bad? Hopefully whatever approval controller you are using would deny that request.

Not common name?

Does the RESTClient support this?

[2016-08-08 19:38] mikedanese commented on #30239
cc @erictune @gtank

[2016-08-08 19:46] liggitt commented on #30239
What is your approval controller using to determine what to approve? If the only thing in the request is the CSR, and the CSR is fully controlled by the end user, an approver has no other information about the requester... that seems difficult to make an approval decision on.

Can't assume that... a node requesting a serving cert isn't necessarily setting it's client cert CN in a CSR for a serving

[2016-08-08 19:49] liggitt commented on #30239
actually, re-reading the registry, the user overwrite needs to be moved into a custom `Create` function... when invoked via the API, it doesn't look like the API sets user info at all in the request spec

[2016-08-08 19:51] sjenning commented on #30230
@vishh actually i need some clarity here:

- pick fix from cadvisor/master to cadvisory/v0.23
- get new tag for v0.23
- bump kube master to new cadvisor v0.23 tag
- bump kube v1.3 cadvisor to new tag? or
- pick commit into kube 1.3 vendor tree directly?

[2016-08-08 19:54] matchstick commented on #13313
@saad-ali Does 1.3.4 address this?

[2016-08-08 20:05] yujuhong commented on #29845
apiserver log:
[code]

controller-manager log:
[code]

The image puller pod got deleted (evicted by the node controller) around 11:08:53. After that, all the GET requests returned 404. Between 11:13:28 and 11:13:38, *something* recreated the image puller pod. I guess it could be kubelet that recreated the pod, but I can't find any POST in the apiserver log during that window of time, and the apise

[2016-08-08 20:17] timothysc commented on #30025
I'll enqueue for next cycle on namespace cleanup.

[2016-08-08 20:17] derekwaynecarr commented on #30173
Related https://github.com/google/cadvisor/issues/1247

[2016-08-08 20:20] rootfs opened #30240 "Creating ext4 filesystem on empty network volumes takes long time"
According to [RHEL doc](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Performance_Tuning_Guide/s-storage-fs.html):

[code]

While the [default](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L335) is exactly the opposite.

This significantly slows down large ext4 volume creation.

[2016-08-08 20:21] ronnielai commented on #30173
**Disk-writing Pod Yaml**

apiVersion: v1
kind: Pod
metadata:
  name: disk-pod
  namespace: default
spec:
  containers:
    - name: disk-write
      image: gcr.io/google_containers/busybox:1.24
      command: ["/bin/sh","-c"]
      args: ["for NUM in `seq 1 1 1000`; do dd if=/dev/urandom of=dummy.$NUM bs=4000000 count=10; sleep 3; done"]

[2016-08-08 20:21] rootfs commented on #30240
@kubernetes/sig-storage

[2016-08-08 20:33] dchen1107 commented on #30117
@streamnsight If I understood your above comment correctly, you want Kubelet reason about why the node not ready. If that is true, I think we already provide that information. Have you tried to try kubectl describe node <node id>?  The output of that command should include a list of node conditions including Ready. If it is false, the message column should tell the root cause of the NotReady condi

[2016-08-08 20:42] streamnsight commented on #30117
@dchen1107 I was mostly pointing out that if kubelet doesn't have the correct version of Docker to work with, it will fail no matter what, so while it's good to have tools to get the information, a pure and simple failure of the service is way more obvious right away: upgrade kubelet, run it, if it doesn't run, logs will tell Docker needs an update and it's crystal clear this kubelet upgrade won't

[2016-08-08 20:46] maximz opened #30243 "Maximum number of failures or failure backoff policy for Jobs"
A max number of failures or failure backoff policy for Jobs would be useful.

Imagine you have an ETL job in production that's failing due to some pathological input.
By the time you spot it, it's already been rescheduled thousands of times. As an example, I had 20 broken jobs that kept getting rescheduled; killing them took forever -- and crashed the Kubernetes dashboard in the process.

Today, "

[2016-08-08 20:50] gmarek commented on #29845
Well - moving tests is one thing (I don't have time to do it, but if you want I can review changes), but fixing the problem is another. I don't think that flakyness ratio caused by this is a problem (probably around 1%), so I'd rather not move this test to some other environment because of it - it caught up way too many bugs already.

No disruptive tests should be running in the same time, as it's

[2016-08-08 20:56] yujuhong commented on #27097
@bgrant0607, the conclusion drawn from this discussion is that container metrics should be handled in a separate pipeline (standalone cadvisor + heapster), where kubelet may not be involved.

[2016-08-08 20:56] vishh opened #30244 "Run node e2e processes inside a cgroup"
In-order to reliably track and kill all the processes that node e2e framework spawns, it can create a separate tracking cgroup and place all its sub-processes inside the cgroup.
It can then ensure that all these processes are terminated before exiting.

cc @kubernetes/sig-node

[2016-08-08 21:26] jeffmendoza commented on #26941
Hi @thesuperzapper, while the `examples/` directory is meant to show k8s best practices, it is primarily educational. The goal here is not to create the best possible docker images.

As seen in the README, it looks like the zepplin image source is here: https://github.com/kubernetes/application-images/tree/master/spark/zeppelin I see that, yes, the `zeppelin-env.sh` file is setting the `ZEPPELIN_N

[2016-08-08 21:55] jonathan-kosgei commented on #30140
Brilliant fix! Solves a major production issue for me. Thanks!

[2016-08-08 21:59] lavalamp commented on #24229
@ashw7n It is not public, so go ahead.

I will note that backup/restore and cluster replication / service turn-up in a new cluster are separate problems and it's not plausible that one mechanism could solve both. Backing up a cluster (etcd data dir) is only useful if that cluster somehow ends up with a corrupt etcd. Restoring that backup in a different cluster is going to do very unpredictable thi

[2016-08-08 22:02] lavalamp commented on #30065
@hongchaodeng I think you have misinterpreted this issue, it's actually got nothing to do with apiserver.

[2016-08-08 22:04] lavalamp commented on #30065
@maciaszczykm I have taken the liberty of editing the title and your first heading so as not to mislead people.

[2016-08-08 22:05] dchen1107 commented on #30244
Part of work for #30174 should help here.

[2016-08-08 22:07] lavalamp commented on #30065
I'm very tempted to close this as a dup of #489. I'll let @dchen1107 make that call.

[2016-08-08 22:10] matchstick commented on #30240
@kubernetes/sig-storage
This might be worth bringing up at the storage f2f coming up.I am going to add to the agenda.
This is an interesting approach to what I think may be a few larger issues.

Questions and thoughts:

- What is a good SLO for mkfs?
- If the SLO is going to be violated due to size should k8s do something or should the user pre-format?
- There are tradeoffs for initting the filesy

[2016-08-08 22:16] dchen1107 commented on #30065
I agreed with manys above the initial issue should be resolved by Kubelet checkpoint solution. Kubelet shouldn't tream kube-apiserver and other master component pods different from other pods on the node. Close the issue as the dup of #489.

[2016-08-08 22:16] #30065 closed

[2016-08-08 22:38] dagnello opened #30248 "vSphere Cloud provider create volume diskpath invalid with Datastore cluster"
If vSphere is configured to use a Datastore within a Datastore cluster, the Datastore configuration parameters is set as follows:  <Datastore Cluster>/<Datastore>.

The disk path in create volume is composed as:
vmDiskPath := "[" + vs.cfg.Global.Datastore + "] " + name + ".vmdk"

This needs to change to use the finder object instead, like:
ds, err := f.Datastore(ctx, cfg.Global.Datastore)

[2016-08-08 22:48] colhom commented on #24229
@lavalamp I believe you're talking about `kubectl get --export`? I find said thingy very useful for doing production cluster migrations, though it doesn't do ** quite ** what you'd expect w.r.t stripping non-portable api objects and metadata (#21582), leaving some of that up to the operator. I feel it could do more automation around the common case of migrating a cluster's workload.

[2016-08-08 22:57] caesarxuchao commented on #28713
Thanks @gmarek. I'll try to take a look this week.

[2016-08-08 22:58] yujuhong commented on #29845
After pods being evicted, (I think) kubelet didn't recreate the mirror pod for image-puller immediately. It could be that kubelet looked a the dead containers and figured the pod didn't need to be restarted, updated the pod status internally, but didn't know (or simply stopped syncing) that it needed to to recreate the mirror pod. The kubelet.log wasn't collected before the daemon restart, so this

[2016-08-08 23:07] lavalamp commented on #24229
Yeah, that's what I'm talking about.

If it were me, I would keep all config in source control and write
something that applied it to a cluster, so there'd be nothing to strip out.
Honestly I think it's a little crazy to *not* to keep your config in source
control, but I understand it's not possible for everything...

On Mon, Aug 8, 2016 at 3:48 PM, colhom <notifications@github.com> wrote:

[2016-08-08 23:10] lavalamp commented on #29904
I'm working on killing, or at least mortally wounding, those init
functions, but right now that'd be a very tall order.

On Sun, Aug 7, 2016 at 11:00 PM, Dave Cheney <notifications@github.com>
wrote:

[2016-08-08 23:19] dchen1107 commented on #18770
xref: https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-237422351

re @davidopp's comment: Yes, non-core monitoring agent should supply the super-set of the metrics provided by core cAdvisor which is defined at https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/stats/types.go

[2016-08-08 23:30] Random-Liu opened #30252 "Node E2E: Framework should wait for node ready before moving on."
Some node e2e test may check node status and assume node status to be `Ready`, such as the newly added disk eviction test. https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/disk_eviction_test.go#L54

However, usually node is `NotReady` after node is initially started. The framework should make sure the node is ready before running any test.

@ronnielai
/cc @kubernetes/sig-node

[2016-08-08 23:36] rmmh commented on #30052
Caused by #29975 -- a race condition in `k8s.io/kubernetes/pkg/client/record`.

[2016-08-08 23:36] #30052 closed

[2016-08-08 23:41] olalonde commented on #29640
Fixed in https://github.com/fluent/fluentd/pull/1147

[2016-08-08 23:42] yujuhong commented on #30195
@oc243, my understanding is that very gce instance has a metadata server.
From https://cloud.google.com/compute/docs/storing-retrieving-metadata#querying,
"Every instance stores its metadata on a metadata server. "

Also from https://cloud.google.com/compute/docs/networking:
"Each instance has a metadata server that also acts as a DNS resolver"

In what case that your GCE instances doesn't have ac

[2016-08-09 00:10] sputnik13 opened #30254 "vsphere volume path requires datastore"
The vsphere volume provider looks like it expects to get the datastore from the vsphere cloud.conf but providing a volume path in a persistent volume resource without the datastore fails to mount while including the datastore in the volume path allows the volume to mount properly...  it seems like datastore should be extracted from the volume path or if the intention is to limit the user to certai

[2016-08-09 00:19] smarterclayton commented on #30180
Yup.  I'm reasonably convinced this unifies both problems, will write
up something more formal shortly.

[2016-08-09 00:20] dchen1107 commented on #18770
re @euank's comment: https://github.com/kubernetes/kubernetes/issues/18770#issuecomment-237075998

What I mentioned above of running cAdvisor directly on the host node is an intermediate workaround to support hyperContainer before we prioritized today's container runtime effort.

But now the story is changed, especially at https://github.com/kubernetes/kubernetes/issues/27097#issuecomment-23742235

[2016-08-09 00:22] colhom commented on #24229
A huge boon of Kubernetes is generic handling of deployed applications. An operator can take a cluster with 100s of different applications, each deployed differently and by a different team, and theoretically migrate/backup all those applications in an entirely homogeneous way, without interacting w/ deployment tooling for each.

The operator can even be open ended about what applications are bein

[2016-08-09 00:27] Random-Liu commented on #30174
There are several questions about this:
**1) Should we statically linked in kubelet?**
I prefer not.
* For node conformance test, we assume user should have set up kubelet on the node, so no need to carry one ourselves.
* For node e2e test, I don't think test statically linked kubelet is testing "real kubelet". We should test kubelet binary generated by our build process, started by our `cmd/kubel

[2016-08-09 00:57] chowyu08 commented on #29701
Is your ubuntu version 15.04 or later?

[2016-08-09 01:06] smarterclayton commented on #16508
I don't feel super strongly about the unified binary - master, node, and
client are also good splits.  Agree that we are pushing the boundaries of
the Go ecosystem at the current time and need to be more careful about how
we push forward (platform support to me is more important than a unified
binary on amd64).

On Mon, Aug 8, 2016 at 12:35 PM, Joe Beda <notifications@github.com> wrote:

[2016-08-09 01:15] feiskyer commented on #29579
@yujuhong I see. This could keep the CRI simple.

[2016-08-09 01:28] yujuhong commented on #29579
@ncdc @euank any thoughts on https://github.com/yujuhong/kubernetes/commit/355a9cec74f62fba3694d4eebff8553b8ef9a2ca?

[2016-08-09 01:43] tobegit3hub opened #30256 "Add one parameter to instantiate multiple similar pods with indexes"
It's the requirement when we're trying to deploy distributed TensorFlow in Kubernetes. The process of TensorFlow can be containerized in docker image and we can start multiple processes with the deployment yaml file.

But what if the users want to setup the deployment with different number of pods, we have to generate different deployment yaml files. The most parts of yaml file are similar and we'

[2016-08-09 01:44] MHBauer commented on #26210
@sttts still digging into this. Learning things about k8s along the way.

1. We create a Service. (This is the thing that sets up the proxies.)
2. then create the echoservice container in a pod, and wait for it to be ready.
3. then we wait for an endpoint. (this is the knowledge that there is a pod/container behind the proxies that we created earlier.)

Is there a chance that the proxies set up in

[2016-08-09 02:00] timstclair commented on #30113
I think there's only a code portability increase when all our code generation is using that. As is, the extra make step is necessary for generating files, so I'd argue the consistency gains of that are more significant than the portability gains of go generate. Either way, this is low priority, so I'll leave it to your discretion.

[2016-08-09 02:07] colemickens opened #30258 "`mount` show partitions mounted multiple times"
This is more of a question. Noticed this while testing out the AzureDisk volume plugin. `mount` on one of my nodes shows a lot of duplicated entries.

Is this expected, and if so, why?

If not, any idea the cause or resolution? Does it stem from running kubelet in container?

cc: @mikedanese as this is a kubernetes-anywhere deployed cluster. Any idea if this is expected?

The following is the `sud

[2016-08-09 02:08] colemickens commented on #30258
[This is `systemctl cat kubelet` from one of the nodes.](https://gist.github.com/anonymous/5872bfbdca8932c1b98b86e55d2309ae)

[2016-08-09 02:10] colemickens commented on #30258
This cluster is currently running f0fa9e588f477aaae41899b8743d93f34efecc47 plus this cherry-picked: https://github.com/kubernetes/kubernetes/pull/29836

[2016-08-09 02:18] jayunit100 commented on #30113
ok.  my decision would be to close [for now] at least.  if others voice a concern or if the generation times get higher i guess we should reopen

[2016-08-09 02:51] colemickens commented on #29059
I think your pod is failing because of the combination of image/command. This gist works: https://gist.githubusercontent.com/anonymous/0922b383cfbf989b2b59c6e9a3736b49/raw/1970d664dc4da21766aaec555ab83365114a97c6/-

For example, this shows that @erictune 's workaround works:

[code]

[2016-08-09 03:02] treed opened #30260 "No means to specify group membership for client SSL cert authn"
I guess this is more of a feature request than a bug report, but:

With 1.3 out, I decided to look into using RBAC, but I found that a pretty significant shortcoming is that I can't specify group membership when using client certs for authn. At least, I'm pretty sure I can't. I just spent a bit looking through the code, as well.

If the username comes from the CN, then I'd expect the OUs to define

[2016-08-09 03:09] treed commented on #30260
To elaborate, the wall I hit here was that the kubelets aren't capable of authenticating with the kubelet with RBAC turned on, unless I add rules describing the full list of nodes, which would need to be updated every time the set of nodes changes. Each node has its own TLS cert with its own hostname as the CN.

I guess I could just issue a common "node" CN to all the nodes, but it seems like this

[2016-08-09 03:29] MrHohn commented on #28525
Consider the dnsprovider interface and both AWS's and GCP's dns implementations are existed inside the federation package [(dnsprovider)](https://github.com/kubernetes/kubernetes/tree/master/federation/pkg/dnsprovider), I'm now embedding this feature directly into service controller instead of gce package.

[2016-08-09 03:34] xiaoke94539 commented on #30015
This happens because the controller uses the "hostname" of the machine.  If multiple machines has the same hostname (ie. localhost), the controller and scheduler get into this state.
There should be a "override" flag where the user can specify an ID to uniquely identify each controller.

[2016-08-09 03:34] #30015 closed

[2016-08-09 03:36] thockin commented on #28525
I would not put it in the core controller - not every platform can support
this yet, and the callouts ARE still platform specific.

On Mon, Aug 8, 2016 at 8:30 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-08-09 03:39] colemickens commented on #30258
Wondering it it's related to: https://github.com/kubernetes/kubernetes/issues/22586

[2016-08-09 03:42] liggitt commented on #30163
When implementing the describer, I think these things are really important to show to an admin who is deciding whether to approve/reject a CSR:

1) who requested it (as recorded by the API server)
2) the requested subject/CN/SANs
3) the requested key usages (TLS server, TLS client, Certificate Sign, unrestricted, etc) and value of a CA Basic Constraint (if present)

When approving, is there a way

[2016-08-09 03:51] MrHohn commented on #28525
this yet, and the callouts ARE still platform specific.

Copied that, I will figure out another workaround.

[2016-08-09 03:55] mikedanese commented on #30239
An approver can verify that the user has control over the private key that signed the CSR out of band a number of ways. It was left out of scope of this API. Approval controllers shouldn't need this guarantee around usernames to operate correctly. https://tools.ietf.org/html/draft-ietf-acme-acme-01#section-7 . @gtank can you weigh in?

[2016-08-09 04:00] thockin commented on #28525
workaround to what problem?  AWS has it linked in their cloud provider
module.  GCE should do the same?

On Mon, Aug 8, 2016 at 8:52 PM, Zihong Zheng <notifications@github.com>
wrote:

[2016-08-09 04:02] m1093782566 commented on #30220
@wojtek-t

I use the latest master branch API Server and etcd v3 in my environment. My machine is a 8U8G VM, with **slow disk(not SSD)**.  API Server and etcd are deployed in the same machine.

As the following code block shows, I use trace Log to record any transform event procedure that lasts longer than 100ms.

[code]

Below is part of observation, and they are not seldom in my environment.

[c

[2016-08-09 04:13] MrHohn commented on #28525
module.  GCE should do the same?

Right. I may used the wrong word. I tried to implement the DNS feature in the same way as this route53 pull request (#23576). But found it somehow not neat because we are no going through a unified dns interface. Hence figuring out a better way for construction.

[2016-08-09 04:16] thockin commented on #28525
I don't think we should try to unify the interfaces yet. I don't believe we
have a clear enough idea of how we want to manage that.  While it's
"obvious" that AWS users will use Route53 and GCE users will use CloudDNS,
there's actually nothing that REQUIRES that.  Let's just do as small a
change as we can get away with and then revisit later when we have a better
idea and more time.

On Mon, Aug 8

[2016-08-09 04:19] MrHohn commented on #28525
have a clear enough idea of how we want to manage that.  While it's
"obvious" that AWS users will use Route53 and GCE users will use CloudDNS,
there's actually nothing that REQUIRES that.  Let's just do as small a
change as we can get away with and then revisit later when we have a better
idea and more time.

Agree with this. I would then follow the original implementation.

[2016-08-09 04:23] thockin commented on #16508
I see the unified binary as a means toward simpler deployment  if we have a
kube-master and kube-node split, that also works.

On Mon, Aug 8, 2016 at 6:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-08-09 04:30] saad-ali commented on #13313
@matchstick No this is unrelated to the volume stack. It is about docker container mounting. @kubernetes/sig-node should be able to provide more insight.

[2016-08-09 04:38] olalonde commented on #24713
Seeing a similar error in my logs:

[code]

[code]

[2016-08-09 04:57] thockin commented on #1957
This is an issue, not a PR.  It is P3 because it is not critical to any launch plans, and because none of the core maintainers (AFAIK) are working on it.  Boosting the priority is not going to speed it up - we need people to implement it.

[2016-08-09 05:00] k8s-merge-robot opened #30261 "gcp_resource_leak_check {CLEANUP}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/8311/

Failed: gcp_resource_leak_check {CLEANUP}

[code]

Previous issues for this test: #28735

[2016-08-09 05:04] thockin commented on #27161
I assume kube-lans-service-ip-range-route1 is the one you set up manually?
  10.220.254.0/24  is your service range?  did you create the VMs with
"can-ip-forward" ?  Did you check firewalls for the Service range?

On Mon, Aug 8, 2016 at 9:57 AM, Mat Davies <notifications@github.com> wrote:

[2016-08-09 05:12] AdoHe commented on #30260
@kubernetes/kubectl

[2016-08-09 05:52] colemickens commented on #22586
I can confirm I'm seeing this even when /var/lib/docker is completely unmodified and is just a normal directory on the root drive. I'm at a loss at to what is causing it or how to fix it.

[2016-08-09 06:18] sttts commented on #26210
@MHBauer could very well be that there is a race somewhere between the test and the apiserver proxy code.

The trace is from a gce run. On gke we don't have apiserver logs, on gce we should have them.

[2016-08-09 06:30] wojtek-t commented on #30220
@dims - thanks for clarification; what you wrote makes sense.

However, since it seems that the problem is with Get to etcd, we should try to get rid of this Get instead of doing parallelization here, which would significantly complicate the code (because we need to preserve the order). And we are not even officially supporting etcd3 yet (though we are trying to do so).

@hongchaodeng @xiang90 - c

[2016-08-09 06:41] jimmidyson commented on #13313
I've been running with my suggestion above of multiple mounts, even if target dir doesn't exist on the host, & it's working fine. I know this doesn't handle arbitrary docker roots, but it would allow us to handle a number of known locations, such as the aws one detailed in this thread.

[2016-08-09 06:42] krmayankk commented on #29838
@bgrant0607 sorry another newbie question how do i accept that invitation ? I dont see any invite in my mail box other than a calendar invite for `SIG-cluster-lifecycle weekly meeting`

[2016-08-09 06:46] k8s-merge-robot opened #30263 "[k8s.io] Pods should support retrieving logs from the container over websockets {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12897/

Failed: [k8s.io] Pods should support retrieving logs from the container over websockets {Kubernetes e2e suite}

[code]

[2016-08-09 06:46] jimmidyson commented on #29640
Ah brilliant. Will have to wait for new fluentd release, unless they've made one already? That's a nasty bug.

[2016-08-09 06:51] MHBauer commented on #26210
I guess I have to wait for a gce failure. I'm not sure another trace would be too helpful. The existing one is basically an anonymous function of a function of a function. No names makes it a little difficult to follow.

[2016-08-09 06:57] krmayankk commented on #28940
@timstclair my questions is already answered my @pwittrock

now the only remaining thing is if everyone agrees i can go ahead and add an extra field in describe to show the actual allocatable resource remaining (capacity - used).

[2016-08-09 06:57] mheese commented on #29903
@mwuertinger, if you are on GKE, downgrading to 1.3.2 seemed to have solved the issue on at least one of my clusters ... however, I didn't really follow up anymore (by restarting pods with PDs and secret volumes) as I was just happy that the cluster was healthy again.

[2016-08-09 07:02] mesmerizingr commented on #29903
@mheese thank for sharing this information. I'll just waiting for `1.3.4` upgrade. Previously downgrading cluster's nodes to `1.2.6` resolved the problem.

[2016-08-09 07:07] #30140 closed

[2016-08-09 07:19] Ladicle commented on #30210
Sorry, I missed etcd & flannel(docker) configurations.
Problem solved :)

[2016-08-09 07:19] #30210 closed

[2016-08-09 07:26] gtaylor commented on #16508
FWIW, the unified binary isn't especially important for me. The separate binaries might even be a big bonus if it simplifies the CLI UI.

[2016-08-09 07:32] gmarek commented on #29845
@ixdy - do you know why we might not have logs?

[2016-08-09 07:34] jsafrane commented on #30240
I may miss something, but `mkfs.ext4 -E lazy_itable_init=0,lazy_journal_init=0 -F /dev/sdc` on a random GCE node with 500GiB magnetic(!) disk and Fedora 24 takes around 2 seconds.

ext3 is a different story, it takes 74 seconds.

[2016-08-09 07:40] matchstick commented on #30240
@jsafrane @rootfs I cannot imagine any reason why anyone would be installing ext2/ext3 on a 500GB drive. If they do they should be expecting things to be slow.

In any case knowing what the SLO is is still not a crazy idea.

[2016-08-09 07:41] colemickens commented on #30240
@rootfs I manually ran `mkfs.ext4

[2016-08-09 07:42] argusua commented on #28892
Fixed for me in  v1.3.4

[2016-08-09 07:42] #28892 closed

[2016-08-09 07:57] wojtek-t commented on #27142
It seems to me that the problem is related to "too small cache size in cacher". This problem should be solve once:
https://github.com/kubernetes/kubernetes/pull/29983

is merged.

[2016-08-09 07:59] wojtek-t commented on #27142
Actually, we would need one more PR, to configure the flag correctly in kubemark (which is using completely different setup scripts). I will try to send that second PR later today.

[2016-08-09 08:25] k8s-merge-robot opened #30264 "[k8s.io] Probing container should be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28216/kubernetes-pull-build-test-e2e-gce/52482/

Failed: [k8s.io] Probing container should be restarted with a exec "cat /tmp/health" liveness probe [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #28216.

[2016-08-09 08:28] jsafrane commented on #30263
another logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30242/node-pull-build-e2e-test/17808/

It's hard to me to see what's wrong there, empty websocket logs look suspicious:

[code]

[2016-08-09 08:32] ashmere commented on #27161
Yes all VM created with can-ip-forward and yes that is the manual service range route

[2016-08-09 09:00] raeesbhatti commented on #30098
It would be better to have all of `kubectl` binaries listed on the releases page though.

[2016-08-09 09:02] jsafrane opened #30265 "Kubernetes creates PVs in wrong AWS zone"
When dynamically creating a PV on AWS, Kubernetes sometimes create the PV in a zone that has no running nodes.

Looking at `getAllZones()` in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L951, it lists all AWS instances in a project to get list of allowed zones. But this code does not check that Kubernetes is running on any of these instances! There m

[2016-08-09 09:17] AdoHe commented on #30213
@brendandburns

[2016-08-09 10:05] dims commented on #30220
@wojtek-t - /me has no clue what i did :)

[2016-08-09 10:08] wojtek-t commented on #30220
@dims - sorry - I was supposed to write to @m1093782566 m1093782566

[2016-08-09 11:51] jellonek opened #30272 "Provide "in maintenance mode""
This is proposal to provide additional state in which worker node can exist, state in which operator takes all responsibility on running workloads, and receives guarantee that scheduler/controller/other mechanisms will not interfere with node marked in such way.

At the moment, when kubelet is inaccessible for some configured time (grace period, eviction timeout) all workloads on this node are res

[2016-08-09 11:59] kenan435 commented on #30065
@aaronlevy Aren't all of the snapshots kept inside of the etcd anyways. As long as you can bring the api-server up all of the other components (if they were also to crash) would also be restored. What do we gain by by saving the state of all the running pods on the node.

[2016-08-09 12:08] #27142 closed

[2016-08-09 12:08] d23 commented on #25194
It seems to happen on all containers running with tty=true as soon as there is any output from them.

[code]

[code]

[2016-08-09 12:20] luxas commented on #14403
I think this issue is fixed when using shared mounts; it only occurs once (which probably is a race condition), but succeeds after that (it syncs periodically)

What do @kubernetes/sig-node think? Can we close it?

[2016-08-09 12:38] soltysh commented on #30238
Still the same GKE problem #28656.

[2016-08-09 12:38] #30238 closed

[2016-08-09 13:09] kenan435 commented on #30065
@aaronlevy

This includes the api-server itself I presume. But if the kubelet now holds this so called snapshot and is responsible for restoring the state prior to the failure, what is the point in having this info in the etcd server? Would the pointcheking mechanism hold more detail about the state of the node then etcd does, namely the podSpecs, configMaps and secrets you have outlined above?

[2016-08-09 13:12] nvartolomei commented on #28452
Is there any other way to expose custom metrics? I saw this propsal https://github.com/kubernetes/kubernetes/blob/release-1.3/docs/proposals/custom-metrics.md

[2016-08-09 13:20] bboreham commented on #30144
Not really; locking doesn't stop Go from creating new threads, and they inherit the changed namespace, which can then have unexpected effects elsewhere.  See for instance https://github.com/containernetworking/cni/issues/183#issuecomment-220384737, https://github.com/vishvananda/netns/issues/17

[2016-08-09 13:20] k8s-merge-robot opened #30275 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4685/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142

[2016-08-09 13:23] nebril commented on #29453
@bgrant0607, @smarterclayton (sorry, I am unsure which of you I should address about it) we came up with a PoC: https://github.com/Mirantis/k8s-AppController and we would like to make a small demo of it on @kubernetes/sig-apps meeting. Can we schedule this demo for tomorrow meeting?

[2016-08-09 13:28] ncdc commented on #29579
@yujuhong that seems reasonable. I don't have much familiarity with protobuf - will we be able to treat `Stdin` and `Resize` as `io.Reader`s?

[2016-08-09 14:02] nhlfr commented on #30150
@k82cn my PR should resolve your problem.
@mtaufen I cannot reproduce your error, but hopefully it's gone in my PR. Please take a look.

[2016-08-09 14:12] w0mbat commented on #6962
@devx I have seen this api docu: https://developer.rackspace.com/docs/cloud-load-balancers/v1/ - is it the same as you saw? I think it should be doable with it.

[2016-08-09 14:23] Cocotton commented on #17226
That is definitely something that would be great. The default "local_lock=off" is preventing me from using Consul in my use case scenario. Hit me up if I can help.

[2016-08-09 14:28] #29869 closed

[2016-08-09 14:38] jguenther-va commented on #27538
I'm having a similar issue, except in my case sourcing `kubectl` completion breaks `gcloud` completion. If I re-source `gcloud` completions (from the Google cloud SDK) they work again, but that breaks `kubectl` completion. No errors are output, but when this happens hitting `TAB` just offers file/dir completion candidates from my current directory.

As far as I can tell, no other completion source

[2016-08-09 14:40] jbhurat opened #30278 "kube-proxy for Windows"
As work progresses on the POC to support Kubernetes on Windows, we should start looking at supporting kube-proxy on Windows as well.
- Investigate the feasibility of implementing kube-proxy on Windows
- If feasible implement kube-proxy for Windows
- if not suggest alternatives

[2016-08-09 14:57] alexbrand opened #30279 "Kubelet support on Windows"
Supporting the kubelet on Windows is one of the first steps to getting Kubernetes working on Windows. The scope of this issue is to get the kubelet up and running on Windows, and to have the ability to deploy a pod that has a windows-based container on a Windows node.

[2016-08-09 14:59] mrunalp commented on #30144
Okay, so even net ns isn't safe but we are fine in runc since all the setns calls are made in C before the Go runtime starts.

[2016-08-09 15:01] alexbrand opened #30280 "Support pod-to-pod networking on Windows"
Once the Kubelet is supported on Windows, we need to figure out a basic approach to inter-pod networking. Some investigation has been done on this front, but it needs to be formalized as documentation, or code + docs if necessary.

Relevant links:
https://docs.google.com/document/d/15uPt333llH-JuP_W0RN11nnRZ_rWutR0FDjaRSadGGk/edit
https://groups.google.com/forum/#!topic/kubernetes-sig-network/Lw6A

[2016-08-09 15:02] jbhurat opened #30281 "OOM killer support on Windows"
As we continue to make progress on supporting Kubernetes on Windows, we should start looking at OOM killer support on Windows as well.
Investigate if it possible to support OOM killer on Windows natively. If not investigate the effort required to implement it on Windows

[2016-08-09 15:05] alexbrand opened #30282 "Support volumes on Windows"
Once the Kubelet is able to run on Windows, look into supporting volumes and persistent volumes on Windows pods.

[2016-08-09 15:12] liggitt commented on #30239
If they have another out-of-band process they want to use, they can certainly ignore the user info. It just seems like a loss to discard the information the authentication layer already determined about the requester.

[2016-08-09 15:14] jbhurat opened #30283 "Create team/windows label"
@bgrant0607 @brendandburns @thockin
Can you guys please help in creating team/windows label to categories Kubernetes on Windows work

[2016-08-09 15:15] maisem opened #30284 "Upgrades from 1.2 => 1.3.4 are broken"
The issue is that KUBE_USER env variable is not set on cluster upgrades.
If KUBE_USER is not defined we do not copy the "abac-authz-policy.jsonl" file.
The assumption in the [startup scripts](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L675
) is that we are upgrading from 1.3.X to 1.3.4, in which case we would not want to overwrite the file.
However, in

[2016-08-09 15:17] alexbrand commented on #30279
@csrwng spearheaded the initial part of this work. I am currently working on this as well.

[2016-08-09 15:34] nvartolomei opened #30286 "Custom metrics"
Hello,
any progress being made on [this](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/custom-metrics.md)?

[2016-08-09 15:35] zhouhaibing089 commented on #30260
@gtank if I understand correctly, this is the use case for kubelet cert authentication, once the tls kubelet bootstrap is done, we need to consider the RBAC policy part as well.

cc @ericchiang

[2016-08-09 15:35] kylegordon commented on #29783
Hi @evaldasou

I had exactly the same problem with the released versions of Kubernetes. I solved it by git cloning from master, and doing 'make quick-release'.

Make sure you have the following stuff exported...

GOVC_URL
GOVC_INSECURE
GOVC_DATACENTER
GOVC_DATASTORE
GOVC_RESOURCE_POOL
GOVC_NETWORK
GOVC_GUEST_LOGIN=kube:kube

After that, it should be a case of doing cluster/kube-up.sh.

Let me know

[2016-08-09 15:36] zhouhaibing089 commented on #30260
I would also recommend to add the `area/auth` label here..

[2016-08-09 15:43] zhouhaibing089 commented on #30239
What is the usage for `spec.user`, is it just for telling who submitted the CSR? is there any other usage for this field?

[2016-08-09 15:44] kylegordon commented on #27947
Are you able to do 'govc datastore.ls' ? It looks like vSphere is returning a hostname that isn't resolving in DNS, and subsequently govc can't upload.

Are you able to ping, or dig, nslookup, etc your host vm0002 ?

I would investigate ensuring that it has a FQDN set, and making sure the individual ESXi hosts are resolvable in DNS. https://kb.vmware.com/selfservice/microsites/search.do?language=e

[2016-08-09 15:46] k82cn commented on #29901
@luxas , there're two options for now:

**Option 1**: Add a new item names `images`, its sub-items will identify which image will be used according to the selector. But it‘s Inconvenient for the user when new type of nodes joins the cluster.

[code]

**Option 2**: Support embed label name into images, and the label is replaced when dispatches to the node, e.g. define image to be `tomcat-${arch}:7.

[2016-08-09 15:51] hongchaodeng commented on #30220
@m1093782566 @wojtek-t
PrevKV isn't the optimal solution. We can get rid of such serialization by reusing the items already in cache. This is what I have implemented in the new storage (#29888). Unfortunately, in the low level etcd storage impl, we cannot do that or we would otherwise double cache.

[2016-08-09 15:57] JaysonRaymond commented on #17763
What the original poster didn't specify is that this is occurring in NodeJS - which obscures the real error coming back from getaddrinfo: https://github.com/nodejs/node/blob/master/lib/dns.js#L17-L24

[2016-08-09 16:03] dchen1107 commented on #30286
We already supported alpha feature of custom metrics. Here is the user guide you can follow: https://github.com/kubernetes/kubernetes.github.io/blob/ad511e03c53744e459e2dbcef51132c29b0ddc86/docs/user-guide/horizontal-pod-autoscaling/index.md

[2016-08-09 16:06] smarterclayton commented on #30260
@kubernetes/sig-auth

[2016-08-09 16:06] smarterclayton commented on #30260
Moving to the auth area, not sig api machinery.

[2016-08-09 16:12] michelleN commented on #29453
@nebril You are confirmed for the meeting tomorrow. :) looking forward to this PoC.

[2016-08-09 16:14] dchen1107 commented on #30195
cc/ @mikedanese Could you please help with this one?

[2016-08-09 16:14] nvartolomei commented on #30286
@dchen1107 I don't quite understand this part:

[code]

How to handle this when I have multiple pods on the same nod? They can't all bind on the same host port.

[2016-08-09 16:18] oc243 commented on #30195
Ah, I actually am not using Google's DNS resolver, which is probably why the lookup is failing…

[2016-08-09 16:27] k8s-merge-robot opened #30287 "[k8s.io] PreStop should call prestop when killing a pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12926/

Failed: [k8s.io] PreStop should call prestop when killing a pod [Conformance] {Kubernetes e2e suite}

[code]

[2016-08-09 16:47] #29668 closed

[2016-08-09 16:48] yujuhong commented on #30195
@oc243 did you setup a network proxy for your cluster?

[2016-08-09 16:56] foxish opened #30289 "Support MongoDB in PetSet"
MongoDB is document database that supports range and field queries (https://github.com/foxish/docker-mongodb/tree/master/kubernetes)
# Concepts
## Replication

A single server can run either standalone or as part of a replica set.
A "replica set" is set of mongod instances with 1 primary.
Primary: receives writes, services reads. Can step down and become secondary.
Secondary: replicate the primary

[2016-08-09 17:00] dims opened #30290 "panic during "kubectl exec" when redirecting stdout to a file"
[code]

results in:

[code]

Note that `kubectl exec -it sleep-1786222145-kukx6 -- ls -altr` works fine.

[2016-08-09 17:05] ericchiang commented on #30260
This would be easy to add, seems reasonable, and address some issues being discussed in #30094. If other @kubernetes/sig-auth members are okay with this I'd be happy to send a PR.

[2016-08-09 17:16] bgrant0607 commented on #30283
@jbhurat I created team/windows. It won't automatically be copied to other repositories.

FWIW, I want to rename the team/ labels to area/.

You still won't be able to apply labels without write access.

@foxish @grodrigues3

[2016-08-09 17:16] #30283 closed

[2016-08-09 17:21] dachulin opened #30292 "hostPath support in PetSet volume"
Wondering if any there anyway to use hostPath as storage for PetSet. It seems like petset only supports dynamic pv or pre-provisioned pv, which also doesn't support hostPath (hostPath is only for test purpose in pre-provisioned pv).

If currently can't use hostPath as storage for petset, wondering if any plan for supporting it?

Thanks.

[2016-08-09 17:22] vefimova opened #30294 "Qemu/KVM kubelet runtime design"
To have an ability to manage pure VMs with k8s I want to propose to add qemu/kvm runtime within client/server model. Will add more details soon.

But for now I want to share several first thoughts/ list of items to work on (please, comment on them, if from your POV they are mistaken, you have concerns or other considerations):
1. Probably, introduction of new "pod concept" but for VMs, i.e. VM-pod

[2016-08-09 17:22] vefimova commented on #29913
Thank a lot for the comments, folks.
So from the listed opportunities:

1. - having separate bunches of nodes to run different runtimes, but only one at time, use node selectors in pods specs.
2. - "vm inside container" - implemetation: RancherVM
3. - "container inside VM", VM is used as isolator - implemetations: HyperContainer, rocket with lkvm support.
4. - implement another one runtime which w

[2016-08-09 17:24] mtaufen commented on #30150
@nhlfr Issue seems to be gone in your PR. Nice!

[2016-08-09 17:28] dchen1107 commented on #30244
cc/ @coufon is working on stress tests for Kubelet / Knode. He is addressing part of this issue too.

[2016-08-09 17:40] bgrant0607 commented on #29838
@krmayankk

https://github.com/blog/1868-inviting-people-to-your-organization

[2016-08-09 17:44] #28603 closed

[2016-08-09 17:48] quinton-hoole commented on #29984
cc @justinsb FYI

[2016-08-09 17:49] deads2k commented on #30260
We've done this in openshift using the "Organizations" part of the subject.  There are upsides and downsides.  Let's add this to the sig-auth discussion tomorrow.  The interactions, particularly with a groupification API (coreos still want that?), are non-obvious.  We found that people definitely wanted X and definitely wanted NotX.

[2016-08-09 18:00] mikedanese commented on #30163
Signing profiles sound like a good extension to this feature. Allowed usage and validity period would be attributes of the signing profile. Right now, these attributes are not easy to display in kubectl describe. cc @gtank

[2016-08-09 18:01] thockin commented on #27161
firewalls?

On Tue, Aug 9, 2016 at 1:33 AM, Mat Davies <notifications@github.com> wrote:

[2016-08-09 18:23] cioc commented on #30243
@thockin , @maximz  re your twitter convo, the docs (http://kubernetes.io/docs/user-guide/jobs/) imply that restartPolicy = Never is supported for jobs, which I found misleading.

1.  The first example shows that restartPolicy = Never
2.  The Pod Template section reads, "Only a RestartPolicy equal to Never or OnFailure are allowed."
3. The Handling Pod and Container failures section reads, "Theref

[2016-08-09 18:25] alex-mohr commented on #29960
Still need to create a cherrypick for https://github.com/kubernetes/kubernetes/pull/30011 ?

[2016-08-09 18:28] smarterclayton commented on #30294
Having talked about this a lot, this means that the node would only support VMs, not support containers.  I'd argue that's the wrong design, and that we want to run qemu inside of containers, and have the VM management be adapted to containers (not adapt kubelet to containers).

A kubernetes that just runs VMs is a niche use case.  If we're going to do VMs in kube, why not do this in a way that re

[2016-08-09 18:28] liggitt commented on #30163
Ah, I thought they could be used from the CSR, based on
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/cloudflare/cfssl/signer/local/local.go#L221
and
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/cloudflare/cfssl/signer/local/local.go#L307

[2016-08-09 18:29] jay-bhambhani commented on #30215
I'v run into a very similar error

[2016-08-09 18:29] smarterclayton commented on #29913
I don't understand why you believe #2 can't be achieved - just because qemu is inside the container doesn't mean libvirtd can't be running elsewhere on the host?

[2016-08-09 18:30] smarterclayton commented on #30294
I see this comment was already made on the other PR - I'd really urge us to DTRT and get a community supported design for qemu inside of pods with libvirtd either on node or in the container (if we have to fix libvirtd, why not do so)?

[2016-08-09 18:33] smarterclayton commented on #29913
We've done a fair amount of initial diligence and believe #2 is achievable for full production VMs.  We'd be happy to collaborate with other folks to make that possible in an easy way on kube.

[2016-08-09 18:34] janetkuo commented on #29960
Yes, created #30297

[2016-08-09 18:36] pskrzyns commented on #30294
cc @jjlakis @lukasredynk @ss7pro

[2016-08-09 18:40] mikedanese commented on #30163
hmm, ok I will fact check that.

[2016-08-09 18:47] luxas commented on #29901
That's relatively easy to accomplish; use manifest lists with [manifest-tool](https://github.com/estesp/manifest-tool).
A such API change wouldn't be approved I think, sorry (but you should verify it with others)

The hard part here is when you have two arches, let's say ppc64le and amd64, and you have an application that's written for only ppc64le. Then you are forced to apply the label, because

[2016-08-09 18:51] smarterclayton opened #30298 "Naive clients should be able to use exec more effectively"
It should be possible to run simple commands inside of containers without having to implement SPDY or websocket.  Interactive commands require a stream on input, but many common tasks for containers require no input (exec probes, prestop, etc).

We should support a simple EXEC API that allows a client to POST ExecOptions and get back a response.  The options might look like:

[code]

This could be

[2016-08-09 18:54] gtank commented on #30163
I talked to one of the cfssl maintainers about this, and his take is that including key usage extensions in the CSR itself would be strange - they always use the CA configuration to fill those in. It's ultimately up to the CA to decide what usages and durations it will allow based on its own issuance policy.

[2016-08-09 18:55] #29585 closed

[2016-08-09 18:56] dims commented on #30298
@smarterclayton Absolutely +1 (based on my experience earlier https://github.com/kubernetes/kubernetes/issues/24668) we definitely should support naive http clients to be able to EXEC stuff

[2016-08-09 18:57] yujuhong commented on #29579
As discussed in the sig-node meeting today, how stdin/stdout/stderr streams are handled in the proto file have some issues. We need to fix that.

/cc @smarterclayton @feiskyer

[2016-08-09 19:03] bgrant0607 commented on #30272
@jellonek Is this really a per-node property, or per-workload?

See also #1574

[2016-08-09 19:09] liggitt commented on #30163
Ok, good to know. It does seem like the requester needs a way to indicate the requested usage (client, server, etc). I had assumed that would be expressed in the CSR, but it sounds like that isn't typical. I would not expect components requesting a serving cert to get a cert that was also valid as a client cert.

[2016-08-09 19:12] bgrant0607 commented on #30272
If we did want to control this per node, I'd probably express it as a custom PodEvictionTimeout.

[2016-08-09 19:17] yujuhong commented on #29845
Discussed with @Random-Liu offline. Once the static pod has terminated, kubelet will stop syncing it. This means that if someone deletes the mirror pod, kubelet wouldn't try to recreate it at all.
We could potentially patch kubelet to ensure mirror pods are created, but this would mean another special case for mirror/static pods. I think we need some justification of whether this is worth it befor

[2016-08-09 19:22] treed commented on #30260
FWIW, I tested a one line change to do this last night (although my hyperkube build seems to have a broken cAdvisor? Had to use stock 1.3.4 for the kubelet side).

It appears to work (in that I can get errors about disallowed actions to go away by adding permissions to the ClusterRoleBinding), but it's still having trouble reporting itself as Ready, which seems maybe related to this error (there a

[2016-08-09 19:23] gtank commented on #30163
@liggitt The cfssl API and config files have a concept of multiple signing profiles you can request. For now, I think it makes sense that the bootstrapped kubelet gets both server and client usages. But as this API moves toward stable and other components start using it, we definitely should support multiple profiles.

[2016-08-09 19:23] liggitt commented on #30260
the verbs are API verbs, so it needs "get","list","create","update","patch" verbs on events

[2016-08-09 19:24] liggitt commented on #30260
and it needs access to the subresources for pods and nodes "pods/status" and "nodes/status"

[2016-08-09 19:31] k8s-merge-robot opened #30303 "kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13708/

Run so broken it didn't make JUnit output!

[2016-08-09 19:32] smarterclayton commented on #29579
I commented on the old PR, but we know for these we'll need a multiplexed multi-channel stream with non-blocking.  That's http2 - I'm ok saying that's our new model, but we'll have to deal with the fact that we want to have the API server be able to connect to the directly (kubelet can't be a network bandwidth hog).  So exec flow is really different than all other calls - ideally it's:

1. apiserv

[2016-08-09 19:41] treed commented on #30260
Thanks, I added those and the events errors went away.

Now the only remaining errors are about inability to cleanup orphaned pods/pod directories, which has been around for a while and I think is related to another issue (which I can't find at the moment).

However, the node is still not showing up as Ready. Unsure what else could be missing.

[2016-08-09 19:52] timstclair commented on #24713
@olalonde It was fixed in Kubernetes 1.3, but the fix involved an API change and couldn't be cherrypicked to 1.2.x

[2016-08-09 19:58] xiang90 opened #30305 "apiserver still eats panic"
We try to stop everything from eating panics here: https://github.com/kubernetes/kubernetes/pull/28800.

But API server still eats panics since the HTTP Server catches panics.

See this example:

[code]

[code]

/cc @lavalamp @krousey

[2016-08-09 20:01] deads2k commented on #30260
Take a look at openshift's node role: https://github.com/openshift/origin/blob/master/pkg/cmd/server/bootstrappolicy/policy.go#L558-L599  We've been using since 1.0, so it should have everything you need.

[2016-08-09 20:02] deads2k commented on #30260
Oh, they're bound to this too: https://github.com/openshift/origin/blob/master/pkg/cmd/server/bootstrappolicy/policy.go#L522-L530 .  There are other node related roles in there if you wish start wiring up a node authorizer to protect your node.

[2016-08-09 20:05] ixdy commented on #30075
I suspect this is related to using a stored service account, but I'm not sure. @fejta any ideas?

[2016-08-09 20:11] luxas commented on #29904
@lavalamp Are you working on killing the inits in time for v1.4?

@smarterclayton Do you have any preference where the API registration would be instead?

[2016-08-09 20:12] gmarek commented on #29845
Just an annoyance.

[2016-08-09 20:13] gmarek commented on #29845
It's good that it's nothing serious, though I think that we shouldn't have such inconsistence. I.e. all components should be eventually consistent with what API server thinks.

[2016-08-09 20:18] yujuhong commented on #29845
Agreed. Lowered the priority to p2.

[2016-08-09 20:21] k8s-merge-robot opened #30308 "[k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/13709/

Failed: [k8s.io] [Feature:Example] [k8s.io] Celery-RabbitMQ should create and stop celery+rabbitmq servers {Kubernetes e2e suite}

[code]

Previous issues for this test: #27683 #27726 #27857 #29585

[2016-08-09 20:47] fejta commented on #30075
CPU on the light-2 is pegged

[2016-08-09 20:48] bgrant0607 commented on #27097
@yujuhong I'm fine with the metrics being surfaced via another component. I was just pointing out that the data will be required.

[2016-08-09 20:49] mheese commented on #29903
@mesmerizingr: false alarm: it was still happening today .... only the downgrade to `1.2.6` really fixes it ... thx for the hint 👍

[2016-08-09 21:04] mrdunski opened #30310 "NFS doesn't work in hyperkube - missing /sbin/mount.nfs"
[code]

[2016-08-09 21:08] oc243 commented on #30195
No, but I suspect the custom DNS is breaking the google cloud VM has a metadata server assumption?

[2016-08-09 21:14] ixdy commented on #30075
I'm gonna drain agent-light-2.

[2016-08-09 21:15] mikedanese commented on #30195
Is this solved then?

[2016-08-09 21:20] oc243 commented on #30195
I'd say not. Currently if you run on GCE you need to use google's DNS resolver to resolve `metadata.google.internal`. If you use a custom resolver and so can't resolve this domain then it should backoff rather than spinning for this domain to become available, I think.

[2016-08-09 21:25] olalonde commented on #24713
@timstclair thanks

[2016-08-09 21:26] therc commented on #30088
I had a wishlist for traefik last time I evaluated it: https://github.com/containous/traefik/issues/431

[2016-08-09 21:31] pigmej commented on #30272
@bgrant0607 Timeout based approach may be dangerous because you never know how big should it be. Having this as a property has benefits, it's kinda the same situation as with `unschedulable`. It would also unlock further possibilities that could take in account that property.

Simple case. If we would use PodEviction Timeout for that you would need to tune that parameter during update/upgrade, and

[2016-08-09 21:33] lavalamp commented on #29904
It's not looking good.

On Tue, Aug 9, 2016 at 1:11 PM, Lucas Käldström <notifications@github.com>
wrote:

[2016-08-09 21:39] nikhiljindal commented on #23653
@colhom Were you able to make any progress on running federation e2es on GKE and AWS?

[2016-08-09 21:42] yujuhong commented on #30195
@oc243 I agree it's bad that kubelet won't start when you have custom DNS. If you disable the check by patching kubelet, does the rest of the kubernetes work properly with the custom DNS?

[2016-08-09 21:44] colhom commented on #23653
@nikhiljindal last I checked, AWS was functional. GKE should work, though when I tested there were some what I believe to be unrelated issues with the gcloud account I was using.

[2016-08-09 21:47] zmerlynn opened #30312 "HPA tests are failing on AWS"
Still triaging this one, but I'm opening this bug, then disabling the tests so I can restore AWS to green and make it blocking.

cc @justinsb

[2016-08-09 21:48] bprashanth commented on #30088
@therc nice list. maybe you have time to collaborate over adding something basic to the nginx ingress controller? we'd start out by piping things through annotations, iterate, then boil it up to the Ingress api.

[2016-08-09 22:03] therc commented on #30088
Not for another month. :-( By the end of next week, I have three features to complete and a conference in SF to attend, then ContainerCon, then two weeks off. And a launch needs to happen through all of this. :-)
I found traefik more interesting than nginx, because it can be repurposed into a controller.

[2016-08-09 22:18] bgrant0607 commented on #26093
cc @kubernetes/docs

[2016-08-09 22:36] derekwaynecarr opened #30315 "Unable to quota requests.storage without also quota persistentvolumeclaims"
Reproduction:

[code]

Expected result:
pvc creates as expected

Actual result:

api server complains that there is no quota for `persistentvolumeclaims`

Need to fix the `ConstraintsFunc` for persistent volume claims evaluator.

[2016-08-09 22:36] derekwaynecarr commented on #30315
/cc @kubernetes/rh-cluster-infra @deads2k @markturansky

[2016-08-09 22:41] gtank commented on #30239
I see no reason to explicitly drop this metadata. If it's not meaningful to our approval regime we can ignore it and rely on whatever out of band challenge process we want to use.

[2016-08-09 22:51] xiang90 commented on #30305
I would like to get this fixed if everyone agrees that this is an issue we should resolve.

[2016-08-09 22:52] derekwaynecarr commented on #30315
Same issue applies with "services" and "services.*" quotas.  Will fix both.

[2016-08-09 22:58] xiang90 commented on #30068
@timothysc @wojtek-t We'd love to help. Although we have work at hand, but making etcd3 as default backend would be our highest priority. So if there is any bugs/issues found during testing, we will fix them first.

[2016-08-09 23:00] k8s-merge-robot opened #30317 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1944/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 1 pod to 3 pods and from 3 to 5 {Kubernetes e2e suite}

[code]

[2016-08-09 23:00] colemickens opened #30318 "Detachment of volumes takes longer than expected"
I'm running into a variety of issues here and there, but this one is consistent enough to note. I'm deploying an RC with a single Pod (single container). It's `nginx` with a single `azureDisk` volume/mount.

Using a preformatted, VHD, the attach goes okay. Not so much for the detach.

from `kube-apiserver`, I delete the rc/pod at 5:12:
[code]

from `kube-controller-manager`, the detach didn't happ

[2016-08-09 23:02] caesarxuchao commented on #28713
The flake is rare and I cannot reproduce. Sent #30136 to increase the verbosity level.

My suspicion is that `gc.QueuesDrained` doesn't guarantee the gc has processed all events, so we should poll on the test condition rather than testing it once, e.g., https://github.com/kubernetes/kubernetes/blob/master/test/integration/garbagecollector/garbage_collector_test.go#L245

[2016-08-09 23:15] yujuhong commented on #29579
@smarterclayton I don't have prior experience with protobuf/grpc, so here what I've read so far. grpc is built on http2, but it streams messages (not arbitrary streams).
We can emulate a stream by sending out a chunk of data encapsulated in a message.
E.g.,
[code]

I think kubelet should also be able to read messages, and demultiplex the fields in the message and send them back apiserver via diffe

[2016-08-09 23:30] caesarxuchao commented on #30180
Sounds good.

Will server do the conversion (e.g., v1.Pods to v1.api.k8s.io.PartialObjectMeta) via the regular conversion framework? I feel the conversion functions can be generated.

[2016-08-09 23:30] k8s-merge-robot opened #30322 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13477/

Run so broken it didn't make JUnit output!

[2016-08-09 23:31] saad-ali commented on #30318
This is [a problem](https://github.com/kubernetes/kubernetes/pull/29836#issuecomment-238723737) with PR #29836 not a general problem. Sorry for making you open this. Closing.

[2016-08-09 23:31] #30318 closed

[2016-08-09 23:35] caesarxuchao commented on #23831
Thanks @brendandburns. The added test-cmd.sh test in #29724 looks proper.

[2016-08-09 23:36] janetkuo opened #30323 "Scheduled job controller can't list scheduled job"
I enabled batch/v2alpha1 and can do `curl http://<master-ip>:8080/apis/batch/v2alpha1/scheduledjobs` fine. However, the scheduled job controller loop always fails at

[code]

It returns me `Error listing scheduledjobs: the server could not find the requested resource`.

I tried switching kubeClient to unversioned.Client but it still gives me the same error.

cc @soltysh @erictune

[2016-08-09 23:55] janetkuo commented on #30323
The client in e2e tests works fine when listing scheduled jobs, digging more.

[2016-08-10 00:05] chrislovecnm commented on #29783
Should be able to update here https://github.com/kubernetes/kubernetes.github.io

On my phone so I could not check

[2016-08-10 00:16] janetkuo commented on #30323
In controller manager log,
[code]

It's looking for v1 scheduledjobs

[2016-08-10 00:31] smarterclayton commented on #30180
I think so.  The server can also hide optimizations like fast protobuf
decode from etcd in versioned form (server can already introspect go
structs, find the necessary tags with compatible fields, and then use
custom optimized decode paths).

[2016-08-10 00:33] mikedanese commented on #30195
Can you add GCE nameserver as the last entry in your resolv.conf or add a record in the nameserver you are running for the metadata server?

[2016-08-10 00:35] smarterclayton commented on #29579
We are up to five exec streams, and I suspect more are needed.  I
think grpc may not be the right solution for attach, exec, and
portforward, and we may prefer to continue down our current path where
we have good go support for this problem already.  Ultimately API
server has to support this protocol, and clients to.  I don't want to
invent a brand new protocol now - I think it's much more reasona

[2016-08-10 00:40] mikedanese commented on #30195
As a workaround. This should be fairly easy to fix

[2016-08-10 00:52] justinsb opened #30329 "Avoid putting new controllers into kube-controller-manager"
We should not put new controllers into kube-controller-manager, unless a compelling reasons exists why it can not or should not be a separate controller.

We've had this as an implicit consequence of a lot of things we are working on: splitting up the code into separate repos, making kubernetes easier to install, and splitting out controllers or cloudproviders.  Many new features have been written

[2016-08-10 00:54] yujuhong commented on #29579
We are not committed to grpc if exec, attach, and portforward can't be supported easily.

Are you talking about getting container logs? The current rkt integration does this already. Whether it's efficient or not is a separate question.

There are several options. I believe we haven't invested so much in grpc that we can't swap it out completely. There is also a possibility of following docker's (

[2016-08-10 00:57] feiskyer commented on #29579
@smarterclayton `Exec` is already a stream, see https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/api/v1alpha1/runtime/api.proto#L42, and other interfaces could also be added as grpc stream.

A basic reference of grpc stream could be found at http://www.grpc.io/docs/tutorials/basic/go.html#server-side-streaming-rpc.

[2016-08-10 00:59] mikedanese commented on #30329
cc @davidopp @bgrant0607 @thockin @smarterclayton @kubernetes/goog-control-plane

[2016-08-10 01:17] janetkuo opened #30331 "GKE smoke e2e: no test results found"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30273/kubernetes-pull-build-test-e2e-gke/6136/

[code]

[2016-08-10 01:19] spxtr commented on #30322
[code]

[2016-08-10 01:24] feiskyer commented on #30294
@vefimova This should be done outside of kubelet. https://github.com/kubernetes/frakti is designed for hypervisor-based runtimes, so we could move this issue into frakti repo.

CC @dchen1107 @resouer .

[2016-08-10 01:31] saad-ali commented on #28640
It makes sense sense in places like `pkg/util/mount/mount_linux.go` where plane old mount is used.

[2016-08-10 01:44] m1093782566 commented on #30220
@hongchaodeng

Thanks! I will trace the PR.

[2016-08-10 01:45] yujuhong commented on #29579
@smarterclayton I'm trying to understand whether the overhead of this is significantly different than handling a typical http stream (i.e., copying between buffers). What are your thoughts?

[2016-08-10 01:59] lixiaobing10051267 opened #30332 "GCE e2e: Couldn't delete ns "e2e-tests-job-nif4q""
#29672 build failed:

Test Failures

[k8s.io] Job should scale a job up 14s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=Job\sshould\sscale\sa\sjob\sup$'
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework/framework.go:135
Aug  9 18:18:07.236: Couldn't delete ns "e2e-tests-job-nif4q": Operation cannot be fulfilled on namespaces "e2e-tests-job-nif4q":

[2016-08-10 02:07] bgrant0607 commented on #28658
The conditions idea sounds very similar to custom metrics.

[2016-08-10 02:15] rootfs commented on #30240
@jsafrane This is probably not a big problem with GCE, since GCE PD's IOPS is per GB. This is mostly a problem for EBS/Cinder/Azure, since the IOPS per volume is fixed.

[2016-08-10 02:19] k8s-merge-robot opened #30335 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/8200/

Failed: [k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {E2eNode Suite}

[code]

[2016-08-10 02:21] AdoHe commented on #30186
@kubernetes/kubectl @kubernetes/sig-api-machinery

[2016-08-10 02:47] c-knowles opened #30337 "Declarative update of a configmap from the contents of a file"
I'm trying to integrate configmaps into our continuous delivery flow. It's important for us that the deploys are idempotent.

Typically we'd create the configuration from files by doing
`kubectl create configmap myconfig --from-file=file1.yml --from-file=file2.yml`

However, if this is run more than once we get this since the command is a create
`Error from server: configmaps "myconfig" already ex

[2016-08-10 02:47] bgrant0607 commented on #7335
@jellonek We will document this as part of our work on contributor workflow.

cc @apelisse @grodrigues3

[2016-08-10 02:47] #7335 closed

[2016-08-10 02:59] bgrant0607 commented on #29784
cc @kubernetes/deployment

[2016-08-10 03:00] feiskyer commented on #28667
Offline talked with @freehan, after network plugins are moved to runtimes, it seems there is nothing could be done in CRI for helping cooperate those plugins with networking inside kubernetes, e.g. network policy and kube-proxy. The only thing kubelet should care about is retrieving information (e.g. pod IP and network stats) via CRI.

[2016-08-10 03:04] mdshuai commented on #26000
Also get same error log on node.
Aug  9 21:09:35 ip-172-18-11-227 atomic-openshift-node: E0809 21:09:35.301022   18211 kubelet.go:934] Image garbage collection failed: unable to find data for container /

[2016-08-10 03:10] bgrant0607 commented on #29784
@csaintc The deployment occurs asynchronously, indefinitely.

For now, you can wait until `status.updatedReplicas == spec.replicas && status.observedGeneration >= metadata.generation`, and timeout if that doesn't happen, as documented here:

http://kubernetes.io/docs/user-guide/deployments/#the-status-of-a-deployment

In the future, this timeout will be detected automatically, but kubectl will sti

[2016-08-10 03:17] justinsb opened #30338 "Document / rationalize CNI plugin distribution"
I believe the correct place to download the CNI plugins is `https://storage.googleapis.com/kubernetes-release/network-plugins/cni-c864f0e1ea73719b8f4582402b0847064f9883b0.tar.gz`

A few challenges with that:
- It's not clear which version is the latest of the handful in that directory (they all the same date, and the hash doesn't give any clues)
- We should probably bundle it instead with the k8s

[2016-08-10 03:31] thockin commented on #28667
So we're in agreement then?

On Tue, Aug 9, 2016 at 8:01 PM, Pengfei Ni <notifications@github.com> wrote:

[2016-08-10 03:48] krmayankk commented on #29838
@bgrant0607 great thanks i just accepted your invitation.

[2016-08-10 03:52] #1542 closed

[2016-08-10 04:22] bgrant0607 commented on #29357
Scaling to accelerate a rollout is user error. Reduce minReadySeconds or increase maxSurge instead. We absolutely don't want scaling to accelerate rollouts.

The deployment controller already has a cleanup phase to target unavailable replicas first.

If the user specified maxUnavailable as a percentage, proportional scaling should not violate that. If specified as an absolute number and they scale

[2016-08-10 04:35] feiskyer commented on #29579
@smarterclayton What's the problem of defining separate grpc streaming APIs for attach, exec,..., e.g.

[code]

btw, if you are saying multi-channel stream (e.g. separate stdout and stderr), it could be achieved by (while ExecResponse is a stream response):

[code]

Logs interface only streams output, so its impl looks like `ListFeatures` at http://www.grpc.io/docs/tutorials/basic/go.html#server-s

[2016-08-10 04:38] johnt337 opened #30339 "Update docs for http://kubernetes.io/docs/user-guide/accessing-the-cluster/"
Not sure if this is the right place to request this update...

http://kubernetes.io/docs/user-guide/accessing-the-cluster/
Under the title heading "Without kubectl proxy"

Testing with v1.3.2, this documentation no longer works correctly.

[code]

Returns blank.

[code]

Where `$(kubectl get secrets | grep default | awk '{print$1}')` is `default-token-<random>` generated by the system.

[2016-08-10 04:38] bgrant0607 commented on #29178
@lukaszo Yes, backward compatibility is required. We need to auto-convert `unschedulable` to a taint. I'd like to do similarly with node conditions.

We haven't established conventions yet, but we will need some.

[2016-08-10 04:50] bgrant0607 commented on #29838
@krmayankk This issue is now assigned to you.

[2016-08-10 05:08] thockin commented on #30329
I sort of disagree.  For places where the controller needs to be pluggable, such as ingress, it makes sense to be out-of-core.  For cases where the controller will never really be replaced (e.g. service, volumes, etc) the only effect of putting it outside is more moving parts for people to comprehend.

[2016-08-10 05:15] bgrant0607 commented on #19054
@caesarxuchao What are we targeting for 1.4?

[2016-08-10 05:26] caesarxuchao commented on #19054
https://github.com/kubernetes/kubernetes/issues/26120 is the umbrella issue tracking the progress. I don't think we can make GC beta for 1.4. We are targeting early in the 1.5 cycle. For 1.4 we should finish the testing and benchmarking.

[2016-08-10 05:42] feiskyer commented on #28667
Yes. In the long run, it is essential to cooperate network plugins with networking inside kubernetes, e.g. define a network object inside k8s and let plugins to do real connecting things. But currently, we could keep network plugins into runtimes, and pass in network related information in the future.

[2016-08-10 05:45] thockin commented on #28667
Right now there is a single implied Network, but eventually I believe there
will be N explicit networks

On Tue, Aug 9, 2016 at 10:43 PM, Pengfei Ni <notifications@github.com>
wrote:

[2016-08-10 05:51] bgrant0607 commented on #30329
Before we do this, we need to ensure there is a generic way to get all clusters to run some addons by default. If not, we'll break all clusters every time we add a new required component.

[2016-08-10 05:52] bgrant0607 commented on #30329
cc @kubernetes/sig-cluster-lifecycle

[2016-08-10 06:24] nhlfr commented on #30298
+1

[2016-08-10 06:27] nhlfr commented on #30298
@smarterclayton are you or someone from Red Hat going to implement this?

[2016-08-10 06:43] k8s-merge-robot opened #30340 "[k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/21377/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26728 #28266

[2016-08-10 07:08] #29342 closed

[2016-08-10 07:43] k8s-merge-robot opened #30342 "[k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12973/

Failed: [k8s.io] Probing container should *not* be restarted with a /healthz http liveness probe [Conformance] {Kubernetes e2e suite}

[code]

[2016-08-10 08:24] k8s-merge-robot opened #30345 "[k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/12975/

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26194 #26338

[2016-08-10 09:27] wojtek-t commented on #20504
@xiang90 @hongchaodeng - looking into etcd documentation it seems that migration tool (I believe that we all agree that we want to do offline migration - @smarterclayton @lavalamp - do you agree?) takes a user-provider transformer:
https://github.com/coreos/etcd/blob/master/etcdctl/README.md#migrate-options

Do we need any transformer in Kubernetes?

[2016-08-10 09:45] k8s-merge-robot opened #30350 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/4750/

Run so broken it didn't make JUnit output!

[2016-08-10 09:48] kylegordon commented on #29783
Excellent, thank you. Docs updated in https://github.com/kubernetes/kubernetes.github.io/pull/1007

[2016-08-10 09:59] veverjak commented on #23385
Can this also result in fall backing into userspace even when `--proxy-mode=iptables` is used?

[2016-08-10 10:15] k8s-merge-robot opened #30352 "[k8s.io] ConfigMap updates should be reflected in volume [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30222/kubernetes-pull-build-test-e2e-gce/52694/

Failed: [k8s.io] ConfigMap updates should be reflected in volume [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #30222.

[2016-08-10 10:52] vkristjan opened #30355 "kubelet gets confused when docker image tag is the same as docker image id start"
We had rather strange case today when after rolling update one of the kubelet's started wrong container.

For this specific  replicationcontroller we are using         `imagePullPolicy: IfNotPresent`

What happened was that after rolling-update when i started to debug the issue i discovered that one of the kubelet's did not pull the image:
`2m            2m              1       {kubelet x.x.x.x}

[2016-08-10 11:22] gmarek commented on #27822
This was broken by #28575 and fixed by #30354

[2016-08-10 11:50] ashmere commented on #27161
only firewalls are gce which are configured to allow traffic and as you can see on the example some of the requests work. (if there was a firewall issue none of them would work)

[2016-08-10 12:00] mqliang opened #30358 "Find some redundant logic here?"
For the [portal](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/userspace/proxier.go#L39-L43) data structure used in userspace kube-proxy:
[code]

It seems that the `isExternal` flag is redundant, since it's always false. @thockin If you confirm that this flag is redundant, I am glad to send a pr to remove the flag and some related logic.

[2016-08-10 12:01] Mani1313 commented on #24513
Hello Team,

I am new to kubernetes. I am also facing the same kind of issue.Please help to fix the issue. I have kubernetes cluster with two ubuntu nodes  and tried to install the sample ngnix application using the command
kubectl run my-nginx --image=nginx --replicas=2 --port=80
The contaniner status keep showing as "ContainerCreating" and the describsion shows as

"  FirstSeen     LastSeen

[2016-08-10 12:02] #30358 closed

[2016-08-10 12:04] soltysh commented on #30340
This looks like a GKE problem tracked in #28656.

[2016-08-10 12:04] #30340 closed

[2016-08-10 12:10] sybnex commented on #30139
Try:

kubectl --namespace=kube-system exec -ti kube-dns-v19-7u9iq -c kubedns -- nslookup kubernetes.default.svc.cluster.local 127.0.0.1:10053

[2016-08-10 12:37] wojtek-t commented on #29189
After adding more logs I confirmed that it was a matter of increasing timeouts.

After increasing them, this test is passing.

[2016-08-10 12:37] #29189 closed

[2016-08-10 12:38] wojtek-t commented on #24667
This has already been fixed in the meantime.

[2016-08-10 12:38] #24667 closed

[2016-08-10 13:11] osixia commented on #29059
@colemickens it worked, thanks a lot :)

[2016-08-10 13:24] ecordell commented on #24986
Had a similar issue, I believe caused by building first on OSX, then mounting the source into an ubuntu vm and attempting to build again without first running `make clean`

[2016-08-10 13:34] soltysh commented on #30323
And I've noticed that problem yesterday when I was running my e2e that the controller didn't picked anything up, but I got power outage after a storm and wasn't able to dig in, Thanks for fixing that!

[2016-08-10 14:03] wojtek-t opened #30363 "Kubelet didn't started pod: "Failed to create pod infra container""
In this scalability run:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10001/

one of the pods didn't started (which cause failure of the test).

The problematic pod is: `load-small-rc-75-66is1`

This pod was supposed to be run on: `e2e-scalability-minion-group-cai9`

When looking into log from that kubelet I see:

[code]

This seems like a real is

[2016-08-10 14:03] wojtek-t commented on #30146
The second failure is kubemark issue- I filed https://github.com/kubernetes/kubernetes/issues/30363

[2016-08-10 14:24] wojtek-t commented on #30146
The former issue should be fixed by https://github.com/kubernetes/kubernetes/pull/30269

So I'm closing this issue.

[2016-08-10 14:24] #30146 closed

[2016-08-10 14:27] dbmurphy commented on #30289
Rollbacks are not an issue if you ensure your commands use w: majority which 3.2 using the new election protocol defaults to journaled, bu you can easily make it use majority for writes (slower but safer).
https://docs.mongodb.com/manual/reference/write-concern/

Elect the right approach in a distributed system, however, if you made one node live on a concept of a "primary" node in Kubernetes, the

[2016-08-10 14:50] mlbiam commented on #23727
Has anyone found a fix for this?  I'm only able to access the dashboard via port forwarding to 8080 on the master host

[2016-08-10 14:50] wojtek-t commented on #30275
I looked into those issues and I there is something suspicious in those runs.

Basically in both cases:
- apiserver is always up and is processing a lot of requests all the time (which means it's not a network issue)
- but there are few moments in the test where a significant number of watchers are closed (way quicker then there should be).

In particular in case of the second test there were at l

[2016-08-10 14:54] wojtek-t commented on #30275
I had a hypothesis that this may be related to:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L236

but I'm not seeing this log anywhere in the logs:
https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L242

[2016-08-10 14:58] ultimatesolution opened #30367 "Ubuntu 14.04 LTS: deployment FAILS at make-ca-cert.sh, easyrsa"
OS: Ubuntu 14.04 LTS
commit ab68ce9676aa88c0a5dfea9033f8634f546cc257

Trying to deploy to two hosts (master+minion and minion).

After password request

[code]

I'm getting a weird message (without DEBUG=true):

[code]

Could not find a reason despite turning on DEBUG.

config.sh:

[code]

[code]

[2016-08-10 15:05] wojtek-t commented on #30275
I've send https://github.com/kubernetes/kubernetes/pull/30368 to confirm/reject my hypothesis.

[2016-08-10 15:06] thockin commented on #29607
I don't think we want that built-in to Kubernetes.   There are so many ways
people can do this and if we bake it in, we will be forever fielding
enhancement requests.  Better instead to demonstrate a sidecar pattern.
Pull the configmap into a confd helper (or something else), and let confd
render it into a shared emptydir.

On Aug 10, 2016 4:05 AM, "Evgeniy L" <notifications@github.com> wrote:

[2016-08-10 15:16] bryk commented on #23727
Is this an issue with Vagrant setup documentation?

What other way do you want to access the Dashboard UI?

[2016-08-10 15:24] kfox1111 commented on #29607
@thockin: very interesting idea...

You'd want some way to make sure the config's rendered before the other container starts though. Think an init container work for this?

[2016-08-10 15:25] johscheuer opened #30370 "Make verify/update all fails on MacOS"
When I run `make verify` or `hack/update-all.sh` all steps that include calling `conversion-gen` fail. I think the problem is that the generated binary is generated for Linux and not for MacOS.

[code]

For testing I tried to call it from the terminal:

[code]

I will try to find this week some time to dig into the problem and fix it. If you have some hints where to start to look feel free to tell

[2016-08-10 15:30] mlbiam commented on #23727
I'm trying to access the dashboard through the URL printed in the output: kubernetes-dashboard is running at https://10.245.1.2/api/v1/proxy/namespaces/kube-system/services/kubernetes-dashboard am I missing something?

[2016-08-10 15:34] kfox1111 commented on #29607
Also, should Kubernetes provide a set of blessed sidecar containers for things like this? K8s already provides one. pause. I'd be more inclined to use one if I knew it was supported.

[2016-08-10 15:41] bbreslauer opened #30371 "addon-manager should support user-provided arguments to kubectl"
The addon-manager runs various kubectl commands, but does not support user-provided arguments. This is an issue if, for instance, the API server is not on the default hostport. Letting the user specify arguments would resolve this problem.

[2016-08-10 15:41] dims commented on #30370
Can you please try bash?

[2016-08-10 16:11] vefimova commented on #30294
Thanks, @feiskyer, will check frakti repo.

[2016-08-10 16:11] yujuhong commented on #30363
Docker was responsive during that window and was restarted many times.
[code]

From kern.log
[code]

This looks like #20096. /cc @dchen1107

[2016-08-10 16:14] ntquyen commented on #25573
Ran into this issue in kubernetes 1.2.0, kube-dns-v11, took us 2 hours to figure it out...

[2016-08-10 16:17] sachincab commented on #15546
In our case, we have couple of master nodes behind ELB. I tried to use ingress and added TLS apiserver-key.pem and apiserver crt in secrets.

http://kubernetes.io/docs/user-guide/ingress/#TLS
From AWS ELB,  TLS seems to be working fine.
On ELB, I have rule like this:
HTTPS	443	HTTPS	443

However I get 401 Unauthorized error, do I need to pass any client certificate here?
TLS with kubernetes.defaul

[2016-08-10 16:36] chuckbutler opened #30373 "Juju charms for k8s should use the latest LTS"
Currently, the layers in the cluster/juju path only seem to support Trusty.  This is the last revision of ubuntu to use upstart and doesn't have many of the recent bumps in packaging and SystemD init.

The juju charms should target systemd, as the layers already have support for deploying into this series.

[2016-08-10 16:40] k8s-merge-robot opened #30375 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13512/

Run so broken it didn't make JUnit output!

[2016-08-10 17:00] k8s-merge-robot opened #30377 "TestPidOf {procfs}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/15578/

Failed: TestPidOf {procfs}

[code]

[2016-08-10 17:11] #30375 closed

[2016-08-10 17:14] bpatelcs opened #30378 "hostpath is getting created as root"
I have following config for pod, I have docker file which runs as non root user, and the same user with gid and uid is the owner of /opt/volume on the host machine, when I try to deploy the pod with following config, it is creating the path 'default/srv/test' under '/opt/volume/' with root access and my application is not able to access it.

[code]

[2016-08-10 17:19] girishkalele commented on #25573
@ntquyen

I am wondering if there is documentation out there configuring a "prometheus" service in the kube-system namespace. Can you point me to the docs you used to setup your prometheus service ?

[2016-08-10 17:22] mark9white opened #30379 "Ability to adjust downscaleForbiddenWindow in horizontal autoscaler"
It would be useful to be able to provide the downscaleForbiddenWindow as part of the horizontal pod autoscaler configuration, which would adjust the amount of time that the CPU has to be below the threshold before scaling down.

This is useful for preventing a relatively short dips in CPU from causing a downscale event.

[2016-08-10 17:33] #30290 closed

[2016-08-10 17:40] huxos opened #30382 "livenessProbe (healcheck) didn't work with ipvlan network"
I am using cni  with ipvlan plugin in kubernetes .  here is my cni config file ：

[code]

the docker host can't ping with the pod IP on the same host, so is there any way to use the healchek which based on http.

[2016-08-10 17:58] Random-Liu opened #30384 "Make release failed for linux/ppc64le"
`make release` always fails with the following failure in my desktop:
[code]

This happens to me and @coufon.

[2016-08-10 18:10] timothysc commented on #20504
I used the one from a coreos doc a while back then removed TTL objects that was all.

[2016-08-10 18:32] k8s-merge-robot opened #30388 "[k8s.io] Deployment scaled rollout should not block on annotation check {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29481/kubernetes-pull-build-test-e2e-gce/52765/

Failed: [k8s.io] Deployment scaled rollout should not block on annotation check {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #29481.

Previous issues for this test: #29559

[2016-08-10 18:38] yujuhong commented on #28667
We still need to pass some information to the runtime via CRI, e.g., pod CIDR, so that the runtime can setup everything properly.
We also need to document any implicit assumption (if there is any) about networking in the runtime that cannot be conveyed in CRI directly.
Finally, we need to copy/adapt all the kubenet related code to the dockershim (a misnomer, since it's a kubelet shim for docker) p

[2016-08-10 18:42] ixdy commented on #30331
Lots of `AccessDeniedException: 403 Forbidden` re: the GCS bucket. I think I've fixed this now.

[2016-08-10 18:51] wonderfly opened #30390 "Test-infra: Many Jenkins tests failing at running hack/e2e.go"
Looks like a new flag is added to the command line of hack/e2e.go and many tests started failing:

[code]

For an complete example, take a look at the results for the `kubernetes-e2e-gce-gci-qa-master` job.

[2016-08-10 18:52] wonderfly commented on #30390
cc/ @kubernetes/goog-image

[2016-08-10 19:22] mlbiam opened #30391 "Possible to change the api-server configuration in the vagrant build?"
I'm able to get kubernetes 1.3.4 running by downloading the binary from the releases, then:

[code]

once completed I'm able to use kubectl and get to the dashboard using kubectl proxy.  Now, how can I make changes to the api server configuration?  I found /etc/kubernetes/manifests/kube-apiserver.manifest but once I edit it, whats the correct way to restart the api-server?  Is there an external fi

[2016-08-10 19:23] bryk commented on #23727
That's OKay. You should get the password from your kubeconfig file. I assume that you have kubectl configured and working correctly.

[2016-08-10 19:25] mlbiam commented on #23727
Actually, got it working with kubectl proxy.  Basic auth doesn't seem to
work for the API server on 443.

[2016-08-10 19:45] mbohlool commented on #27307
I needed another PR to run the pod automatically on master.

[2016-08-10 20:02] smarterclayton commented on #30298
Not in the short term.  If you would like to get involved I'll be happy to review.

[2016-08-10 20:04] smarterclayton commented on #29579
Exec has to accept multiple streams, as well as returning multiple streams,
without HoL blocking ideally.

On Tue, Aug 9, 2016 at 8:57 PM, Pengfei Ni <notifications@github.com> wrote:

[2016-08-10 20:09] ChrisMcKenzie commented on #29759
Very sorry for the late reply. here is the data you asked for.

Service Describes
[code]

Endpoints
[code]

Iptables Save **BEFORE SCALE**
[code]

Iptables Save **AFTER SCALE**
[code]

[2016-08-10 20:11] smarterclayton commented on #29579
It does look like gRPC support bidirectional streams, but focusing just on
gRPC is only half the picture.  The client needs a protocol to connect to
the master, which needs a protocol to connect to the kubelet, which to be
correct, needs to redirect the master connection directly to a process
inside of the container.

The protocol used by the client and master, or master and kubelet today is
our S

[2016-08-10 20:14] madhusudancs opened #30394 "Make the kubeconfig context for federation API server configurable."
The kubeconfig context for the federation API server is now hard coded to `federation-cluster`. We should make this user-configurable with default value set to `federation`.

cc @kubernetes/sig-cluster-federation @quinton-hoole

[2016-08-10 20:16] #30150 closed

[2016-08-10 20:19] johscheuer commented on #30370
Same result:

[code]

[2016-08-10 20:26] mrunalp commented on #29579
@smarterclayton That implies that we want to follow the docker model and use pipes. The API could then return the path to the pipes as @yujuhong suggested earlier.

[2016-08-10 20:29] Q-Lee commented on #22888
Proposal (#27129)  is checked in and webhook API (#30241) is lgtm'ed.

@ecordell is working on the implementation of the webhook. I have some spare cycles, so let me know if there's anything I can do to nudge things along.

[2016-08-10 20:30] wonderfly commented on #30390
https://github.com/kubernetes/test-infra/issues/368 is working on a fix for this. Closing.

[2016-08-10 20:30] #30390 closed

[2016-08-10 20:43] mikedanese opened #30395 "design and implement kubeconfig v2 api version"
The kubeconfig v2 api is intended to address usability issues of the v1 api. I'd like to make kubeconfig more composable and allow different profiles to be used from different terminal sessions.

I'd like to have only two top level objects:
[code]
What had been derived from the context object should now be loaded from the environment. Ux for loading a profile would be:
[code]

cc @jlowdermilk @kub

[2016-08-10 20:48] vishh commented on #29579
How will kubelet inject a binary that can handle exec and attach and invoke that binary with runtime's help? And doesn't attach require holding the pty fd?

[2016-08-10 20:49] mikedanese commented on #30395
#### Strawman Proposal

I'd like to have only two top level objects:
[code]
What had been derived from the context object should now be loaded from the environment. Ux for loading a profile would be:
[code]

[2016-08-10 20:49] smarterclayton commented on #22888
And OpenShift plans on implementing the remote hook for this at some point
to point to our new image policy engine
https://github.com/smarterclayton/origin/blob/20743324d7fbe6a1090a7a3a5641f5f2e0d61527/pkg/image/admission/imagepolicy/api/v1/types.go
Probably not until the 1.5 or 1.6 timeframes though.

On Wed, Aug 10, 2016 at 4:30 PM, Q-Lee <notifications@github.com> wrote:

[2016-08-10 20:49] quinton-hoole opened #30398 "Move failure domain annotations from Alpha through G.A."
cc @thockin @davidopp @bgrant0607 @justinsb FYI.

=== email thread below explains details ===

On Wed, Aug 10, 2016 at 7:36 AM, Quinton Hoole quinton@google.com wrote:
I believe I'm the guilty party here. Justin SB and I decided to make them alpha in v1.2 because we didn't solve the general topology problem that Tim mentions, but needed the zone and region labels for multi-zone clusters. And then

[2016-08-10 21:00] Random-Liu opened #30399 "Integration Test Flake: TestAdoption"
[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30116/kubernetes-pull-test-unit-integration/38695/

[2016-08-10 21:09] #30030 closed

[2016-08-10 21:09] pwittrock commented on #30339
@johnt337 Thanks for filing this.  Would you be willing to file a PR against the kubernetes/kubernetes.github.io repo to fix the issue?

[2016-08-10 21:09] vishh commented on #14403
upstream does not test containerized kubelet mode AFAIK. So closing it SGTM!

On Tue, Aug 9, 2016 at 5:21 AM, Lucas Käldström <notifications@github.com>
wrote:

[2016-08-10 21:09] pwittrock commented on #30339
cc @pwittrock

[2016-08-10 21:11] yujuhong commented on #29579
+1 for that.

Discussed with @vishh offline yesterday.

If we can inject a binary into the container to handle streaming operations (interactive exec, attach, and portforward), kubelet can just `exec` that binary and then redirect the master connection to the process. This might be more portable across runtimes (esp. for hypervised runtimes), and CRI wouldn't have to support any additional calls e

[2016-08-10 21:12] pwittrock commented on #30337
cc @pwittrock

@erictune Can you comment on support for rolling updates for config maps

[2016-08-10 21:12] abawany commented on #30177
I saw a similar issue with v1.3.3 but in my case, the root cause was a lot more pedestrian. My deployment requires a secrets volume and I had forgotten to create the associated secret for the cluster to which I was trying to perform the new deployment. I saw no errors when using `kubectl describe` or `kubectl logs` but eventually realized that the deployment stayed stuck in `ContainerCreating` sta

[2016-08-10 21:14] pwittrock commented on #30337
@c-knowles As you noted, updates for config maps is still being worked on.  As a workaround you can create a new config map resource and change your pods to consume the new config map.  e.g. `kubectl create configmap myconfig_v1 --from-file=file1.yml --from-file=file2.yml`.

[2016-08-10 21:14] yujuhong commented on #30377
@dims could you take a look? Thanks.

[2016-08-10 21:17] pwittrock commented on #30256
cc @erictune
cc @pwittrock

@bprashanth Is this something that PetSet addresses?

[2016-08-10 21:19] pwittrock commented on #30186
Is for deletion through the API directly or through the kubectl client?

[code]

[2016-08-10 21:19] pwittrock commented on #30186
cc @pwittrock

[2016-08-10 21:21] pwittrock commented on #28761
@bprashanth Can you comment on this?

[2016-08-10 21:22] pwittrock commented on #28761
cc @pwittrock

[2016-08-10 21:23] pwittrock commented on #28694
@aronchick nit: This should be a Job if it is going to exit (Deployments are meant to be long lived).

[2016-08-10 21:25] #28998 closed

[2016-08-10 21:25] #29661 closed

[2016-08-10 21:25] #29834 closed

[2016-08-10 21:25] #29872 closed

[2016-08-10 21:25] #26929 closed

[2016-08-10 21:25] #27850 closed

[2016-08-10 21:25] #28416 closed

[2016-08-10 21:25] #28979 closed

[2016-08-10 21:25] #28984 closed

[2016-08-10 21:25] #29751 closed

[2016-08-10 21:25] pwittrock commented on #28694
@ymqytw Creating a docker image that does this and corresponding `kubectl run` command seems like a good getting started task.

[2016-08-10 21:26] pwittrock commented on #28496
@janetkuo Would you coordinate this?

[2016-08-10 21:28] fejta commented on #29909
This doesn't look like a flake: https://k8s-gubernator.appspot.com/pr/29187

I believe the actual failure here is around:

[code]

[2016-08-10 21:28] #29909 closed

[2016-08-10 21:28] pwittrock commented on #29852
@AdoHe Would you work with @andreykurilin on this?

[2016-08-10 21:28] #30046 closed

[2016-08-10 21:31] bprashanth commented on #28761
The srv records will actually only tell you how many peers have been created before you. you can get the same information by parsing the output of `strings.Split(os.exec("hostname"), "-")`

I'm fine with adding it to downward api, but every case I prototyped, I also needed the DNS names of my peers. And if I'm going to look that up anyway (well i'm not writing code to look that up, the peer finder

[2016-08-10 21:34] pwittrock commented on #30148
@ymqytw Another starter task

[2016-08-10 21:34] bprashanth commented on #28761
Even for this case, you know the replica count at petset creation time so you can simply define an env var for it yourself. Getting some notification that the replica count changed might be more useful, but doing that by modifying the env var feels clunky.

[2016-08-10 21:36] bprashanth commented on #30256
@tobegit3hub please take a look at http://kubernetes.io/docs/user-guide/petset/#ordinal-index when you have some time. Unsure if it covers your usecase.

[2016-08-10 21:37] pwittrock commented on #29838
@andreykurilin Let me know if you are looking for issues to pick up and I can match you to some.  May be best to direct message me on the kubernetes slack channel (@pwittrock)

[2016-08-10 21:39] pwittrock commented on #29923
@zhouhaibing089 The use case for secrets is to inject binary data (files) into your application without checking them into your source repo or building them into your images.  This is useful for things like private encryption keys.

[2016-08-10 21:40] derekwaynecarr commented on #30261
@lavalamp - is there someone on your side that can debug this?

[2016-08-10 21:41] pwittrock commented on #29923
@bes Do you know if it is possible to give read access to just the annotation without giving read access to the actual secret?  If not, this seems less critical.  I can appreciate that you may not want the base64 printed to your console when you want to describe the secret.

[2016-08-10 21:41] mikedanese commented on #30258
@kubernetes/sig-storage Why so many mounts!

[2016-08-10 21:41] pwittrock commented on #29923
cc @pwittrock

[2016-08-10 21:45] #30331 closed

[2016-08-10 21:50] fabianofranz commented on #29794
+1, optional context name in `set-context` and defaulting to current sounds good to me.

No, you mean pushing as-is in terms of command structure, something like `kubectl namespace [NAME]` (shows current without an arg, switch to the given namespace if arg provided)?

BTW one idea would be to extend `kubectl config` to add a few more options (new ones in asterisk `*` below):

[code]

[2016-08-10 21:51] pwittrock commented on #28861
@lorenzvth7 Is there a reason you went with vagrant instead of minikube?  minikube is better supported at this point and should work on Mac

cc @pwittrock

[2016-08-10 21:52] pwittrock commented on #29760
@janetkuo Would you take a look at this?

[2016-08-10 21:52] freehan commented on #28667
@yujuhong I will pick that up. Thanks for summarizing.

[2016-08-10 21:53] pwittrock commented on #29760
@alexcouper Stack overflow and out `kubernetes.slack.com #kubernetes-users` generally have quicker response time for helping you troubleshoot issues.

[2016-08-10 21:54] #29545 closed

[2016-08-10 21:56] mcandre commented on #30098
+100

[2016-08-10 21:56] mcandre opened #30403 "Publish Chocolatey package for kubectl"
Please publish kubectl to [Chocolatey](https://chocolatey.org/) to make it easier for Windows users to install.

[2016-08-10 22:02] pwittrock commented on #29678
@spacepluk Would you be interested in implementing this feature?

[Development Guide](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md)
 [Kubectl Code](https://github.com/kubernetes/kubernetes/tree/master/pkg/kubectl)

[2016-08-10 22:02] pwittrock commented on #29678
cc @pwittrock

[2016-08-10 22:05] smarterclayton commented on #29579
Yes, although details may be deeper, I think the right approach is to get a
static / custom binary into the container that allows execution and is
container runtime agnostic. Ultimately that means we can deliver other
useful debugging tools that work cross container runtime (list filesystem,
fetch files, get core dumps) over time.

On Aug 10, 2016, at 5:11 PM, Yu-Ju Hong <notifications@github.com>

[2016-08-10 22:08] abithap opened #30404 "Migrate from rackspace/gophercloud to gophercloud/gophercloud"
Openstack cloud provider should move from rackspace/gophercloud to gophercloud/gophercloud repo, as gophercloud moved to its own organization and repo now.

hashicorp/terraform has the same open issue: https://github.com/hashicorp/terraform/issues/7926

[2016-08-10 22:29] rmohr opened #30406 "cc"

[2016-08-10 22:29] #30406 closed

[2016-08-10 22:38] lavalamp commented on #19054
I think we can flip it on by default (beta) in 1.4 as long as we can add the "wait for completion" finalizer in the future and don't need it immediately.

[2016-08-10 22:40] lavalamp commented on #19054
On by default means the garbage collector runs on everything. However controllers need to be modified to actually use it. Chao has modified the replication controller, and I think @wojtek-t updated the replicaset controller. Objects from other controllers wouldn't be affected until they are updated.

[2016-08-10 22:51] andreykurilin commented on #29852
@pwittrock Does latest revision of PR requires additional work?) tests are green now...

[2016-08-10 23:01] lavalamp commented on #30261
@ixdy can you look into the first one? The leaked resources look like jenkins related things and not k8s related things?

Second one leaks instance group template. Not sure who owns that.

[2016-08-10 23:06] mbohlool opened #30407 "k8s.io/kubernetes/test/integration/kubectl test is flaky"
#30393 test fails with this output: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30393/kubernetes-pull-test-unit-integration/38690/

It does not seem to be the PR's fault.

[2016-08-10 23:34] #30322 closed

[2016-08-10 23:35] k8s-merge-robot opened #30408 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13526/

Run so broken it didn't make JUnit output!

[2016-08-10 23:39] pwittrock commented on #29852
@andreykurilin Have you filed a PR against the main repo?  I just see a commit against your repo.  You will need to click the "Create a PR" (or something like that) button from your repo to get the PR created.  Once you do that please reference it here using `#PR_NUMBER`

[2016-08-10 23:40] pwittrock commented on #29852
Also https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md

[2016-08-10 23:44] AdoHe commented on #29852
@pwittrock I could help with this issue. @andreykurilin yes, please follow development doc to fill a PR.

[2016-08-10 23:50] andreykurilin commented on #29852
@pwittrock @AdoHe hm... I don't now why, but github did not connect my PR to this issue:(
you can find it [here](https://github.com/kubernetes/kubernetes/pull/27855)

[2016-08-10 23:53] AdoHe commented on #29852
It's ok, I just see it.

[2016-08-10 23:57] xuant opened #30410 "Custom metrics not captured by Heapster"
## Background
Kubernetes version v1.3.0

## Problem Description
I created a pod exposing fictional custom metrics using Prometheus API and deployed it onto Kubernetes using this tempalte:
[code]

The pod is up and running and I can query using `kubectl exec prometheus-go curl localhost:8080/metrics` - it showed me everything correctly. But my running heapster instance is not capturing the metrics.

[2016-08-10 23:59] pwittrock commented on #29852
@andreykurilin I've updated your comment to use the preferred style for referring in a PR.

[2016-08-11 00:00] pwittrock commented on #29852
@andreykurilin Ah I found your PR in the log.  The logs can be hard to parse and find stuff in, so just posting the PR number as a comment is sometimes the easiest way to help people find it.

[2016-08-11 00:18] vishh opened #30411 "node e2e - collect cloud init logs"
If node e2es fail, it is not possible to figure out if node initialization failed. We need to collect cloud init logs as well.

[2016-08-11 00:34] coufon opened #30412 "Container configuration not correct for node-e2e-test"
In node-e2e-test on Containervm image, the containers of the pods created by Kubernetes are subcontainers of docker-daemon/docker/.

It means that the runtime resource usage (docker-daemon) is not correct, because all pods are included.

This problem maybe due to container misconfiguration in node-e2e-test.

[2016-08-11 00:34] coufon commented on #30412
@dchen1107

[2016-08-11 00:36] saad-ali opened #30413 "Generic Human Readable Descriptions for k8s API Objects"
While storage-SIG was discussing dynamic provisioning, we found a need for a description field on a new API object. It would be a human readable description for the object. @thockin proposed that instead of adding an explicit first-class description field for a specific object, why not have an annotation with a known key (`k8s.io/description`?) that can be added to any API object. `kubectl describ

[2016-08-11 00:43] dchen1107 commented on #30412
The kubelet on debian-based containervm image is misconfigured. Will fix it shortly.

[2016-08-11 00:46] bgrant0607 commented on #30413
@saad-ali Try kubectl explain.

[2016-08-11 00:47] bgrant0607 commented on #30413
If for a specific object rather than a type, I suggest `description`, which I believe Openshift is already using.

[2016-08-11 00:48] euank commented on #29579
@smarterclayton I'm not sure I get how your proposal works with attach. Is it explicitly suggesting that the init process of each container is overridden by a new process which understands some kubelet-defined means of passing back pipes / attach / etc?

As for exec, I guess my understanding is you now have the kubelet inject an `exec-shim` into the pod (let's say we run a container that contains

[2016-08-11 00:49] bgrant0607 commented on #30413
@saad-ali Actually, see:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deploy.md#deployment-version

cc @janetkuo

[2016-08-11 00:54] lixiaobing10051267 opened #30416 "[k8s.io] Pods should support retrieving logs from the container over websockets 30s"
build pr #29502, GCE e2e build/test passed, but  Jenkins GCE Node e2e failed:

Test Failures

[k8s.io] Pods should support retrieving logs from the container over websockets 30s
go run hack/e2e.go -v -test --test_args='--ginkgo.focus=Pods\sshould\ssupport\sretrieving\slogs\sfrom\sthe\scontainer\sover\swebsockets$'
/var/lib/jenkins/workspace/node-pull-build-e2e-test/go/src/k8s.io/kubernetes/_output

[2016-08-11 01:09] yifan-gu commented on #29579
So for exec/portforward, they are easier, we can use nsenter, socat, so it can be runtime agnostic.

Attach is problematic, we either need a parent process who holds the pty and process the data, or doing something really [**interesting**](https://blog.nelhage.com/2011/02/changing-ctty/)...

ref https://github.com/systemd/systemd/issues/2069#issuecomment-160693254

[2016-08-11 01:11] yujuhong commented on #29579
Those don't work with VMs. Hence the more complicated proposal.

[2016-08-11 01:12] yifan-gu commented on #29579
Sorry, I forget that...

[2016-08-11 01:16] yifan-gu commented on #29871
cc @euank @tmrts

What's the gain we removing the pod level resources and still use annotations? My thought is that if some "annotation" will present in most cases, then we probably need to think about making them explicit.

[2016-08-11 01:31] yujuhong commented on #29579
@euank let's assume that there is a custom, statically linked binary called kubelet-shim, and kubelet can inject kubelet-shim into the container (perhaps via mounts, or via infra container; the latter is not portable though).

My understanding of how this works (correct me if I am wrong):
 1. User calls `kubectl exec`, and connects to the apiserver.
 2. apiserver reaches kubelet through the http e

[2016-08-11 01:34] yujuhong commented on #29871
The problem is we don't yet know what we need for pod level resources, and once the pod-level cgroup work completes, we don't need cpu/memory for sure. We can always add pod level resources once it becomes obcious that we need them.

[2016-08-11 01:45] mrunalp commented on #29579
The shim need not be injected into the container. It could be the process that launches the container and monitors it.

Sent from my iPhone

[2016-08-11 01:48] yujuhong commented on #29579
How does this work with docker?

[2016-08-11 01:54] smarterclayton commented on #29579
I believe the best way to do handoff is to continue to use our existing
protocol for exec rather than invent a new one - so a redirect from kubelet
to shim port, followed by an upgrade request from the master.

Agree attach is more problematic.  We *could* come up with a way that
attach is possible via regular containers (via shared filesystem and a side
car container), where we (or the user) star

[2016-08-11 02:09] fogongzi opened #30422 "Ubuntu 14.04 and kubernets 1.3.4 make release (error)"
When I make release with kubernets 1.3.4, it failed and the logs are as follows:
build/release.sh
+++ [0811 10:03:00] Verifying Prerequisites....
+++ [0811 10:03:14] Building Docker image kube-build:build-b6a8285154.
+++ [0811 10:03:27] Running build command....
Go version: go version go1.4.2 linux/amd64
+++ [0811 10:03:28] Multiple platforms requested and available 15G >= threshold 11G, building

[2016-08-11 02:18] mbohlool commented on #30407
more fault because of memory: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30393/kubernetes-pull-test-unit-integration/38790/

[2016-08-11 02:56] ntquyen commented on #25573
I followed this link https://coreos.com/blog/prometheus-and-kubernetes-up-and-running.html. It doesn't say about running in `kube-system`, I decided myself, old habit, monitoring tools all go into `kube-system`...

[2016-08-11 02:59] feiskyer commented on #29579
@smarterclayton Is this means runtimes should export public apis to kube-apiserver?

@smarterclayton The streaming is not always established, only when exec/attach/portforward are called.

https://github.com/kubernetes/kubernetes/issues/29579#issuecomment-239052707 @yujuhong Introducing `kubelet-shim` is making assumptions pod network is always reachable from host network, while this is not always

[2016-08-11 03:02] benhosmer commented on #23727
@bryk check my comment from above. The credentials stored in `~.kube/config` didn't work for me. I haven't tested this issue lately though.

[2016-08-11 03:04] smarterclayton commented on #29579
I disagree - that makes CRI the bottleneck for potentially unbounded
network traffic, which really doesn't fit with our long term goals for the
node.  I think there could be an exception for isolated networks, but
that's still solvable by having the exec shim not be fully in the
containers network namespace.

On Wed, Aug 10, 2016 at 10:59 PM, Pengfei Ni <notifications@github.com>
wrote:

[2016-08-11 03:05] smarterclayton commented on #29579
And to be clear, I don't think all runtimes have to have a shim.  But I
don't see any reason for containers not to have one.

On Wed, Aug 10, 2016 at 11:04 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

[2016-08-11 03:21] cizixs commented on #28653
Is there a plan or roadmap for this issue?

[2016-08-11 03:24] euank commented on #29579
Injecting a binary sounds easy for exec/port-forward; running a new container (the "kubelet-shim" or "kubelet-helper" container is easy, and has clearly defined behavior (right network namespace, able to be privileged and enter into another mount namespace for exec). That should be portable, and as a bonus accounts the resources to the pod cgroup trivially.

I don't like including such a process t

[2016-08-11 03:30] caesarxuchao commented on #30079
@soltysh is this a test flake? I'm seeing it consistently in https://github.com/kubernetes/kubernetes/pull/30316.

[2016-08-11 03:38] ericchiang commented on #30079
@caesarxuchao these look like different issues. I'll look into the one in #30316

[2016-08-11 03:42] caesarxuchao commented on #30079
@ericchiang I found the problem in #30316, it's my mistake, I forget to add `\` at the end of a line in bash.

[2016-08-11 03:45] ericchiang commented on #30079
Oh, sorry yes this is the same issue. How was the enabling `batch/v2alpha1` merged without a fix for this issue?

[2016-08-11 03:45] ericchiang commented on #30079
Ah okay, thanks.

[2016-08-11 03:48] caesarxuchao commented on #30079
Our integration test doesn't enable `batch/v2alpha1`, https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test-integration.sh#L30.

When I accidentally dropped `KUBE_TEST_API_VERSIONS`, the `batch/v2alpha1` might get enable by some default function.

[2016-08-11 04:18] thockin commented on #23404
@pmorie

On Aug 10, 2016 7:50 PM, "Matt Hughes" <notifications@github.com> wrote:

[2016-08-11 04:19] caseydavenport commented on #28653
@cizixs good question.

I'd like to help make this happen, but it would be good to get a better idea of what the issue means by a closer integration.  I suspect this is likely related to the self-hosting work that @mikedanese has been working on.

[2016-08-11 04:43] tobegit3hub commented on #30256
Thanks @pwittrock and @bprashanth and `petset` is exactly nice for our scenario. TensorFlow cluster is like `ZooKeeper` or other clusters which should use `petset`.

The `ordinal-index` is exactly what we want. Because the cluster is started by the developer and their TensorFlow applications need to know its index which is quite different from `ZooKeeper`. Now `petset` provides three ways to get t

[2016-08-11 04:43] #30256 closed

[2016-08-11 04:48] thockin commented on #29579
I am trying to follow this but I lack context.  Is there a higher-level
explanation of what the design is and (more importantly) why this is such a
complex picture?

On Wed, Aug 10, 2016 at 8:25 PM, Euan Kemp <notifications@github.com> wrote:

[2016-08-11 05:00] mikedanese commented on #28653
This aligns with https://github.com/coreos/flannel/pull/483

What are the exit criteria for closing this feature issue @girishkalele ?

[2016-08-11 05:15] bprashanth opened #30427 "Consider exposing petset index via downward api"
While it's easy enough to get through something like:
`IFS='-' read -ra LIST <<< "$POD_NAME"; INDEX=${LIST[1]}`
It requires a custom entrypoint. If the ordinal index is a common part of 12 fa apps we should just expose it more naturally through the downward api.

ref https://github.com/kubernetes/kubernetes/issues/30256
@tobegit3hub

[2016-08-11 05:16] bprashanth commented on #30256
https://github.com/kubernetes/kubernetes/issues/30427

[2016-08-11 05:22] krmayankk commented on #29838
@saad-ali i see you already fixed something similar here https://github.com/kubernetes/kubernetes/issues/2948. I still see this issue on 1.3, wanted to make sure we are all on the same page. From the fix in 2948, i still didnt understand what the fix was. I only see sortable stuff being put in a different file. Let me know if i am missing something ?

[2016-08-11 05:30] c-knowles commented on #30337
Thanks for the info. My only input then would be it would be great if it could work the same way as other resources. i.e. `apply` works for upsert since ideally we don't really want to be concerned with whether it has been created yet or not.

I wrote a small script to collect the contents of the config files into a resource YML (then use `apply`) so will go with that for now. Your workaround woul

[2016-08-11 05:34] krmayankk commented on #29838
@saad-ali earlier it was `return s[i].Timestamp.Before(s[j].Timestamp.Time) ` and now it is `return list[i].Timestamp.Time.Before(list[j].Timestamp.Time)`. Sorry i see the difference, but i still see the events are not sorted, thoughts ?

[2016-08-11 05:57] Random-Liu commented on #30252
/cc @mtaufen

[2016-08-11 06:01] feiskyer commented on #30404
cc @kubernetes/sig-openstack

[2016-08-11 06:12] tobegit3hub commented on #30256
Great! Thanks @bprashanth 😃

[2016-08-11 06:22] nhlfr commented on #27603
Can we close this or this issue still occurs?

[2016-08-11 06:25] k8s-merge-robot opened #30430 "[k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13527/

Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {Kubernetes e2e suite}

[code]

Previous issues for this test: #29751

[2016-08-11 06:29] cheld commented on #27603
You can close

[2016-08-11 06:31] wojtek-t commented on #29308
@fejta - why did you close this - this is happening quite frquently.

[2016-08-11 06:38] thockin commented on #28667
Note that PodCIDR is sort of a legacy artifact.  We don't have a way to get
rid of it yet, but some network drivers don't use it.

On Wed, Aug 10, 2016 at 11:39 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-11 06:40] Gnep commented on #29913
The complexity is not only about runtime, also related with storage and network.

Having heterogeneous runtime on different nodes in the same cluster is ok, but once you started to mix different SDN implementation for different runtime in one cluster, the pain is there.

I think it is better to use a two-layer scheduler and different sub-clusters for different runtime, until the other components (

[2016-08-11 06:59] fejta commented on #29308
Thanks for reopening!

We will now automatically choose and owner for auto-opened flake issues. I closed a bunch of old flakes that were created with no assignee. I want them to get recreated with an assignee. The hope is someone will actually look at these.

[2016-08-11 07:00] #29953 closed

[2016-08-11 07:01] #28683 closed

[2016-08-11 07:21] bryk commented on #23727
@benhosmer I think that's because the server does not know how to serve SSL on port 443.

[2016-08-11 07:24] ghodss commented on #25605
@bgrant0607 If we add ready counts to services, we should add them to daemonsets as well as per this issue.

[2016-08-11 07:25] ghodss commented on #25605
@jayunit100 I think daemonsets and deployments are different enough that we can consider adding fields to DaemonsetStatus on a case-by-case basis.

[2016-08-11 07:32] zhouhaibing089 commented on #29923
@pwittrock that makes sense for me, however when I compared the configmap and secrets, I am confused, secrets is something that is truly secret, it looks like just one more base64 encoding while configmap is in clear text, but somewhat secrets could still be read anyway.

[2016-08-11 07:50] nhlfr commented on #28924
Shouldn't we include `livenessProbe` and `readinessProbe` sections in the Service definition instead of relying just on one bool? That would be more consistent. Also, `healthz` term in k8s refers more to the k8s components readiness instead of k8s resources.

[2016-08-11 08:30] cizixs commented on #28563
Is it possible to have different parameters for each plugin? In this case, `kubenet` has different parameters from `cni`.

[2016-08-11 08:30] cizixs commented on #27211
Need this too.

[2016-08-11 08:50] mbohlool commented on #30407
Jenkins GKE smoke e2e still failing: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30393/kubernetes-pull-build-test-e2e-gke/6540/

[2016-08-11 09:26] wojtek-t commented on #20504
So I did some manual experiments (to be specific, I did them in kubemark cluster, since it seemed easier) and it seems that migration seems to work (well, my experiments pretty simple, and all that I figured out is that there isn't anything terribly wrong).

Here is what I did:
[code]

It seems that it mostly works.

Unless I'm not missing anything, the remaining things are:
- figure out what we w

[2016-08-11 09:50] soltysh commented on #29955
I've just tested this against latest master passing `--v=8` used to print all the requests send over to server, currently nothing is being printed, which is painful when debugging anything.

[2016-08-11 10:12] wirtsi commented on #28505
I can confirm that this issue occurs with kubernetes-1.3.4.
I am creating a staging and production cluster, running kube-up.sh with export KUBE_SUBNET_CIDR=172.18.0.0/16 worked for the staging one, but then running kube-up.sh again with a different subnet gives me the above errors

[2016-08-11 10:34] johscheuer commented on #30370
It looks like `hack/update-generated-protobuf.sh` is the only script that fails:

[code]

[2016-08-11 10:38] soltysh commented on #29955
Previous comment does not apply. It's a different issue fixed in #30440.

[2016-08-11 11:10] wirtsi commented on #28505
@dstynchula could you describe what you mean by "I enabled dns-hostname resolution on the vpc"? thnks

[2016-08-11 11:15] Nighthawk22 commented on #8800
Will this feature be implemented?

[2016-08-11 11:20] dshulyak commented on #18174
I am currently working on this. I am going to reuse PR abandoned by @mikedanese with some changes in pool implementation

[2016-08-11 11:46] k8s-merge-robot opened #30441 "[k8s.io] Daemon set [Serial] should run and stop complex daemon with node affinity {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1964/

Failed: [k8s.io] Daemon set [Serial] should run and stop complex daemon with node affinity {Kubernetes e2e suite}

[code]

[2016-08-11 12:22] soltysh opened #30442 "When running ScheduledJob with ConcurencyPolicy Replace the pods are left behind"
I've created a ScheduledJobs as follows:
[code]
This should replace an existing job with a new one upon next run, so it does the old job is being removed but not its pod. So after a while I have only one job (correct) and two pods (incorrect), one running the old job, the other the new one. I assume this is due to lack of server side deletion (#19054), since currently the job deletion logic is in

[2016-08-11 12:26] ultimatesolution commented on #30367
After short investigation, found the failing command:

[code]

[2016-08-11 12:51] ingvagabund opened #30444 "[hack] GOROOT not always set correctly for other distros when running hack/update-all.sh"
Running ./hack/update-all.sh on F23 with go-1.6.2. Two things can happen:

1. the command hangs on ``update-generated-protobuf.sh``, more precisely on running Makefile
1. the command fails on "could not import fmt" as it searches ``/usr/lib/golang`` instead of ``/usr/local/golang``.

Quick hack is to update ``hack/lib/golang.sh``:

[code]

And run the command as ``GOROOT=/usr/lib/golang ./hack/upd

[2016-08-11 12:56] nhlfr commented on #30298
OK, then I'm going to work on this.

[2016-08-11 13:13] mwielgus opened #30446 "Reduce flickering in pod nanny"
Currently there are bidirectional tipping points, for example 16, after crossing which the pod is restarted. So if whenever node number goes from 15->17 or 17->15 the pod is restarted. The tipping points should be more separated. 15 -> 17 can trigger a restart but another restart should be rather around 12 (13->11).

cc: @Q-Lee @piosz

[2016-08-11 13:26] jonathan-kosgei opened #30448 "Create Deployments via api"
There doesn't seem to be a documented endpoint for creating deployments via api according to http://kubernetes.io/kubernetes/third_party/swagger-ui/#!/apis%2Fextensions%2Fv1beta1/getAPIResources or http://kubernetes.io/docs/user-guide/deployments/ . Is it not possible to create Depoyments via api?

[2016-08-11 13:36] soltysh commented on #30079
Fixing the integration to work with batch/v2alpha1 is on my list.

[2016-08-11 13:36] johnt337 commented on #30339
@pwittrock sure no problem.

[2016-08-11 13:41] #30339 closed

[2016-08-11 13:46] idvoretskyi commented on #30404
@anguslees can you review this item?

[2016-08-11 14:01] bgrant0607 commented on #25605
And RC/RS, PetSet, probably even Job.
https://github.com/kubernetes/kubernetes/pull/29481#issuecomment-235628491

[2016-08-11 14:01] bgrant0607 commented on #25605
ref #7483

[2016-08-11 14:04] ekso8 commented on #30139
Hi. Thanks for your reply

I  alway just see:

[root@etcd01 dnspod]# kubectl --namespace=kube-system exec -ti kube-dns-v19-qw5vf -c kubedns -- nslookup kubernetes.default.svc.cluster.local 127.0.0.1:10053
Server:    127.0.0.1
Address 1: 127.0.0.1

nslookup: can't resolve 'kubernetes.default.svc.cluster.local'
error: error executing remote command: Error executing command in container: Error execut

[2016-08-11 14:06] ekso8 commented on #30139
And also container kube-dns restarts every about 40 sec...

[2016-08-11 14:16] soltysh commented on #30442
Currently working on it...

[2016-08-11 14:37] BarryWilliams opened #30449 "e2e tests expect images from gcr.io"
The e2e tests are failing because they pull images from google container registry. `gcr.io` is currently blocked in our environment. I notice that the code has the image names hardcoded. Would it be possible to make this configurable? I would like to pull from a private registry.

[2016-08-11 14:46] wojtek-t commented on #30275
The logs that I added confirm that it sometime happens.
As an example in the last 2000-node kubemark run:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-kubemark-gce-scale/1336/
It happened twice over the whole test (exluding the beginning of the test which is expected):
[code]

Looking into the code:
- this is called
https://github.com/kubernetes/kubernetes/blob/master/p

[2016-08-11 14:47] justinsb opened #30450 "Create `kube` CLI wrapper"
We should have a kube CLI wrapper, that does git style multi-dispatch to various commands.

This would allow third party resources to have an "integrated" CLI, and provide a separation such that we could support updating (like gcloud).

Initially, we need not split out anything: core commands could continue to be in `kubectl` / `kube`, but if you typed `kube get widgets` we could check for the exi

[2016-08-11 14:49] dims commented on #30444
cc @thockin

[2016-08-11 15:05] johnt337 commented on #30339
@pwittrock moved it here https://github.com/kubernetes/kubernetes.github.io/pull/1011

[2016-08-11 15:06] wirtsi commented on #23633
@clueware I can confirm that your change also fixes https://github.com/kubernetes/kubernetes/issues/28505

[2016-08-11 15:10] dgoodwin commented on #30450
:+1:  and if it's just dispatching I would assume we can avoid the overheard associated with initialization for some heavy handed commands, when we want a lightweight one.

[2016-08-11 15:15] gmarek commented on #30275
cc @xiang90

[2016-08-11 15:21] brendandburns opened #30452 "Unit tests fail with no info (glog.Fatal?)"
e.g.

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/30383/kubernetes-pull-test-unit-integration/38902/build-log.txt

I believe this is because we have some places in the code where we `glog.Fatal`, we should probably never do that.  But I'm not positive.

[2016-08-11 15:22] xiang90 commented on #30275
@hongchaodeng Can you take a look? Thank you!

[2016-08-11 15:26] etki opened #30453 "PetSet fails to update on replica count change"
I'm getting "updates to petset spec for fields other than 'replicas' are forbidden." error when changing number of replicas in petset configuration.

This happens when i apply following dummy configuration

[code]

and then put any number of replicas other than 2:

[code]

version output:
[code]

This occurs on freshly-created GKE cluster and i haven't touched any internals, of course.

[2016-08-11 15:29] brendandburns opened #30454 "Unable to load build details"
Some failures apparently lose their logs:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/29945/kubernetes-pull-build-test-e2e-gke/6015/

@fejta @ixdy @spxtr

[2016-08-11 15:33] yaxinlx commented on #30186
@pwittrock, through API

[2016-08-11 15:34] brendandburns opened #30455 "Linux PathIsDevice returns an error if the file doesn't exist."
I think it should return false.

[2016-08-11 15:46] #27307 closed

[2016-08-11 15:59] wojtek-t commented on #30275
To clarify - this may either be related to etcd itself, or this may be because of something in kubernetes blocking delivering events from etcd (e.g. maybe long Resync?)

[2016-08-11 16:38] dgoodwin commented on #30450
How many binaries would we be wrapping? The ones I'm aware of:

- hyperkube
- kubectl
- kubelet
- kube-proxy
- kube-apiserver
- kube-controller-manager
- kube-scheduler

Any others I've missed?

Is my assumption that kubectl is far and away the most frequently invoked command, thus perhaps we could give it some precedence here and shorten it's commands up a little. We would probably have to be a l

[2016-08-11 16:42] MHBauer commented on #26210
Yay, failure on gce. Stack trace, etc.

Is there an easy way to download the whole directory? Zip it up and get all the logs?

So far the most interesting thing is that it looks like everything just *stops* for 20 seconds. Strikes me as more of an environment failure.
[code]

Stack trace in case it goes away
[code]

[2016-08-11 16:52] montanaflynn commented on #30179
More info about this bug, it only happens when the service is exposed.

This is how we've been getting around it:

[code]

[2016-08-11 16:58] caesarxuchao commented on #30186
@yaxinlx your concern is very real, but it would tricky to change the meaning of empty selectors, since it's a breaking API change. Also, `DeleteCollection()` use the same `ListOptions` used by `List()` and `Watch()`, empty selectors have to mean the same thing in all these methods. cc @kubernetes/api-review-team @wojtek-t

[2016-08-11 17:00] xiang90 commented on #20504
@wojtek-t

Here is my thought: Create a lease with 24 hour TTL (or the previous longest duration). Attached the keys with TTL to this lease.

If we are happy about this approach, I guess @hongchaodeng can help to implement this in a day or two :)

[2016-08-11 17:03] bgrant0607 commented on #16775
closing in favor of #29782

[2016-08-11 17:03] #16775 closed

[2016-08-11 17:05] bgrant0607 commented on #23224
@mikedanese Is this done?

[2016-08-11 17:20] liggitt commented on #30186
The client warning seems sufficient. I don't see changing the API behavior here

[2016-08-11 17:51] hubt opened #30459 "Nodes under pressure can't update service routing"
I believe I’m having an intermittent but serious problem which can be described as:
1. hot pods with incorrect CPU/memory limits can cause a node to run out of memory/cpu.
2. node becomes generally unresponsive for most processes(ssh, kubelet, kube-proxy), but is still able to route traffic.
3. kube-proxy is unable to update properly causing routing to be inconsistent with the desired state(especi

[2016-08-11 17:54] nikhiljindal commented on #29712
Sorry what do you mean by current version is v17?
I see that the latest image is 1.6: https://gcr.io/v2/google_containers/kubedns-arm64/tags/list

I had built and pushed 1.5 and had updated the changelog.
looks like @girishkalele had updated the image to 1.6 in https://github.com/kubernetes/kubernetes/pull/28247, but didnt update the changelog.

Assigning to him.

[2016-08-11 17:54] mikedanese commented on #23224
This is done in kubernetes-anywhere but not merged in kube-up. Considering this issue refs kube-up v2 issue, I'm not sure if there is huge motivation to do this in kube-up.

This was implemented in https://github.com/kubernetes/kubernetes/pull/23306 but not merged due to some work that needed to be done around cluster upgrades. @piosz do we still care to do this? What is the motivation?

[2016-08-11 18:04] MrHohn commented on #27455
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/27832/node-pull-build-e2e-test/18259/

[2016-08-11 18:10] vishh commented on #30411
@dchen1107 This needs to happen right away. There are many flakes on GCI and we don't know why the cloud init scripts failed.

[2016-08-11 18:12] fejta commented on #30408
Fixed in latest run

[2016-08-11 18:12] #30408 closed

[2016-08-11 18:24] bprashanth commented on #29712
That's the image version, it looks like we stopped tracking changes to the yaml alltogether.
I'm looking for a way to track discrepancy between the `.in` files and their `.sed`/`.base` counterparts, since we don't really validate that they're the same AFAIK.

Previously everything was in a single repo so it wasn't an issue.
By v17 I mean the kubedns version (bumped up on changes to either yaml or

[2016-08-11 18:36] janetkuo opened #30462 "Integration test flake: build failed"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28509/kubernetes-pull-test-unit-integration/38712/

[code]

[2016-08-11 18:40] bprashanth commented on #28124
I though this was a slow leak that only shows up in soak but apparently integration tests are hitting it too: https://github.com/kubernetes/kubernetes/pull/30277, or is that something else, or just a confusing error message?

[2016-08-11 18:41] bprashanth commented on #28124
fwiw the logs from this failure https://github.com/kubernetes/kubernetes/pull/30277#issuecomment-239250641 are https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/30277/kubernetes-pull-test-unit-integration/38871/, https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/30277/kubernetes-pull-test-unit-integration/38871. I haven't trawled through them y

[2016-08-11 18:42] yujuhong opened #30463 "CRI: Should kubelet construct container "names" or not?"
Forked from the discussion in #30083 for implementing against CRI. I remember there is an old issue for this, but couldn't find it anyway.

It's worth noted that changing the container naming format is likely to cause one-time backward compatibility issues during upgrades, and may need non-trivial effort to ensure nothing would break. We'll need to determine whether it's worth the efforts to overh

[2016-08-11 18:43] girishkalele commented on #29712
I will take a look at the Changelogs and update them.

The .base files are the root changes - the .in and .sed files are generated by the Makefile. Any manual changes that are not in .base would get overwritten.

[2016-08-11 18:45] bgrant0607 commented on #484
Another proposal: https://github.com/kubernetes/kubernetes/pull/29471

[2016-08-11 18:45] quinton-hoole commented on #26723
@nikhiljindal seems to have this done.  Reassigning.

[2016-08-11 18:47] thockin commented on #26567
A couple notes from the @kubernetes/sig-storage face-to-face.

Apparently Mesos supports this in some form.  Existence proof.

Apparently this is a thing in enterprise situations.

Another use case arises for multi-partition or multi-LUN devices (actual hardware) which can be attached to one machine, but can be sold per-partition.  Having a way to bind to PVs and schedule pods to the attached mach

[2016-08-11 18:47] yujuhong commented on #28124
Looks to me like the go runtime was out of memory when building/running testmain
`go build testmain: /usr/local/go/pkg/tool/linux_amd64/link: signal: killed`
Not sure how this is related to docker

[2016-08-11 18:48] k8s-merge-robot opened #30464 "[k8s.io] V1Job should scale a job up {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/13074/

Failed: [k8s.io] V1Job should scale a job up {Kubernetes e2e suite}

[code]

Previous issues for this test: #29976

[2016-08-11 18:49] derekwaynecarr commented on #23727
This fell off my radar.  I will doc something up.

[2016-08-11 18:52] bprashanth opened #30465 "Test builds running out of memory"
Or at least, that's what it looks like: https://github.com/kubernetes/kubernetes/issues/28124#issuecomment-239254337 logs https://github.com/kubernetes/kubernetes/issues/28124#issuecomment-239252616
@kubernetes/sig-testing

[2016-08-11 18:52] montanaflynn commented on #30179
Found the issue, it was that we were using the environment variable `SOME_API_PORT` to start our server but when kubernetes exposes a service it sets that along with a bunch of other environment variables on each pod.

[2016-08-11 18:52] #30179 closed

[2016-08-11 18:59] soltysh commented on #30464
Still the same GKE problem #28656.

[2016-08-11 18:59] #30464 closed

[2016-08-11 19:00] #27603 closed

[2016-08-11 19:03] #14403 closed

[2016-08-11 19:06] yifan-gu commented on #30463
Ref my comments: https://github.com/kubernetes/kubernetes/pull/30083#discussion_r74478291

When listing containers, the runtime should be able to return only containers that are managed by kubelet (e.g. docker list with the name filter, rkt list with the annotation filter), on top of that, runtimes can still apply whatever filters that kubelet passes to them.
I am generally against putting things

[2016-08-11 19:15] euank commented on #30463
@yifan-gu last time I tested the name length limit on docker I think it was several MB that it started breaking here-and-there, but that was docker 1.6. Note that you have to write directly to the docker.sock since most shells have a length limit... I verified at least that docker 1.11 still has a quite generous limit (`docker run --name=$(ruby -e 'puts "x"*1024*10') busybox` works; 10KB).

:+1: f

[2016-08-11 19:17] vishh commented on #30463
If we are talking long-term, kubelet should be having its own checkpoint and stop using runtime features as checkpoints.
Why do containers have to be human readable? Can't users use labels to identify containers?

[2016-08-11 19:21] yifan-gu commented on #30463
@vishh I don't know how you can apply label filters to  `docker list` or `rkt list`

Although the goal is users should never ssh into the machine and `docker list`

[2016-08-11 19:23] markturansky commented on #26567
Isn't something like this being discussed in
https://github.com/kubernetes/kubernetes/pull/30044 ? They seem similar to
me, anyway.

[2016-08-11 19:25] yujuhong commented on #30463
It's just for convenience, and I would also be pretty lost if I run `docker ps` and only see `happy_easley`, `grave_varahamihira,` and `serene_thompson`. This could be solved if we have a CLI tool wrapping the runtime, but we don't have that yet. I don't see downsides of having a readable names for now.

Not for users, but yes for sys admins and developers, until we have other tools.

[2016-08-11 19:27] yujuhong commented on #30463
Checkpoint is good and all, but I don't think labels are bad in anyway, as we can use it for grouping and easy filtering.

[2016-08-11 19:38] yujuhong commented on #30463
Hers is what I think:
   1. kubelet will mostly rely on labels/annotations to store kubernetes specific information.
   2. User-friendly names are still good until we have better tools for sys admin/developers.
   3. Changing the naming scheme now requires more efforts to ensure backward compatibility. Do we want to do it now?

The bigger question is whether kubelet or runtime should dictate the n

[2016-08-11 19:41] yifan-gu commented on #30463
Agree 1, 2, 3.

But I am reluctant to have other runtimes adopting the same container names as today. So I am +1 on let runtime decide the name.

[2016-08-11 19:43] yifan-gu commented on #30463
My reasoning is if we already think the naming today is bad, we should not then spread the naming scheme to a bigger scope.

[2016-08-11 19:44] vishh commented on #30463
@yifan-gu

[code]

If this is the goal then why make container names human readable?

@yujuhong

As I posted above, if we standardize on labels, it is a much better UX than scrolling through 100+ containers.

Fair enough. But it is a kubelet - runtime implementation detail.

The naming schema was important when docker did not have labels. Given that we are requiring runtimes to support labels, is

[2016-08-11 19:48] k8s-merge-robot opened #30469 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10044/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146

[2016-08-11 19:49] mfburnett commented on #23896
Hey all, we took a stab at [CLI-based parameterization](https://redspread.readme.io/docs/spread-templating-and-tutorials), which is related to templating. Our goal was to experiment with the simplest way to expose necessary parameters to users without necessitating a knowledge about how Kubernetes objects worked. We haven't gotten into exposing the authoring of templates yet, but the template prop

[2016-08-11 19:53] yujuhong commented on #30463
I usually does `docker ps` to see what are running on the node. The fact that I have to figure out what *pods* are running on the node first and use to filter feels clunky to me. This is just my opinion though.

Agreed that the current naming schema is not the best, but at least I can browse and see what addon pods are running. We can also improve it as I originally suggested. As for the k8s API,

[2016-08-11 19:54] MHBauer commented on #26210
I don't understand why the server times out with a timeout set to one minute.

[2016-08-11 19:59] alex-mohr opened #30471 "HPA: A single pod with unknown CPU blocks resizing"
HPA decided to rescale from 37 pods to 70.  For 11 minutes, it was blocked waiting for status on the new pods.  Of those 11 minutes, 8 mins were waiting for CPU usage of 2 pods and 7 mins were waiting for a single pod.

Impact: Presumably it could have had enough statistical significance on the 68 pods' resource usage to make scaling decisions more quickly.  More worrisome: if a single pod were bl

[2016-08-11 20:01] yifan-gu commented on #30463
@yujuhong I think if we store things in labels, then k8s doesn't care about container names in most cases, it only requires the name to be user friendly and backward compatible, which the shim code can guarantee that.

[2016-08-11 20:16] yujuhong commented on #29579
I think it's complex because we are trying to tackle several issues altogether, and I am not sure if we need to solve all of them at once (but they do affect each other down the line).

1. Today, kubelet *is* involved in streaming. @smarterclayton made a point that we should *not* let kubelet become the network bottleneck. (also the resource usage of such connections should be charged to the pod p

[2016-08-11 20:21] dpratt commented on #18826
Is there any movement on this? We run (like a lot of users) in AWS, and thus use InfluxDB directly to store our cluster metrics from heapster. It's not a dealbreaker, but it would be nice to be able to use the InitialResources admission controller.

[2016-08-11 20:34] yujuhong commented on #30463
If we (as kubernetes) care about the naming, we should let kubelet name the containers. Otherwise, it's completely up to the shims, and we should not have unfounded expectations :-)

[2016-08-11 20:42] lavalamp commented on #30377
I still am getting errors in this test even after rebasing-- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/25526/kubernetes-pull-test-unit-integration/38956/

[2016-08-11 20:42] girishkalele commented on #25573
The new kube-dns code in 1.3+ does not read or depend on this PROMETHEUS environment variable. Marking as Closed for 1.3.

[2016-08-11 20:42] #25573 closed

[2016-08-11 20:49] Random-Liu commented on #30463
@yifan-gu  If we let the shim code handle all these. What should kubelet pass to runtime when starting a container? The container name in `api.Container`? I think that we be more misleading, we have to enforce the shim to understand whether it should report error because kubelet is trying to create the same container again or it should always create a randomized name and create the container.

[2016-08-11 20:51] ixdy commented on #30261
In run 8311 the error appears to be
[code]

This was running on agent-light-1 at Tue Aug  9 11:28:14 PDT 2016. I know we were fixing issues on other Jenkins agents at the same time. cc @kubernetes/test-infra-maintainers

[2016-08-11 20:53] ixdy commented on #30261
The gke run shows
[code]
This was on agent-light-8 at around 2016/08/09 11:43.

[2016-08-11 21:02] k8s-merge-robot opened #30473 "kubernetes-verify-master: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-verify-master/2735/

Run so broken it didn't make JUnit output!

[2016-08-11 21:05] jingxu97 opened #30474 "StorageClass vs. StoragePolicy"
@kubernetes/sig-storage

This issue is opened for discussing about the relationship between our current storage class design and storage policy based management by others

The storage policy based management terms are used in some places. I listed a few as follows. I am thinking where the storage policy (storage profile) might fit in our storage management design. From their document and examples,

[2016-08-11 21:16] duglin commented on #29002
Why was this closed? #29431 is a doc issue, I don't think this is a doc problem.

[2016-08-11 21:22] rmmh commented on #30261
Does gcloud not retry on 500 errors? We're seeing a lot of flakes from
502/503 errors scattered across our testing.

On Thu, Aug 11, 2016 at 1:54 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-08-11 21:27] #30411 closed

[2016-08-11 21:28] dagnello opened #30477 "Cloud Provider Openstack: LBaaS V2/V1 supports single load balancer port"
LBaaS implementation (v1 or v2) will not support services that require to load balancer more than one port.

[2016-08-11 21:29] jlowdermilk commented on #30261
It doesn't retry 503s, because for most GKE api requests, 503 means try again later, not immediately. `Authentication backend unavailable.` sounds like it failed to connect to oauth2 endpoint.

[2016-08-11 21:38] dims commented on #30377
@lavalamp Looks like i read the godoc wrong and was returning the error causing the processing to stop. filed another PR #30478

[2016-08-11 21:45] yifan-gu commented on #30463
@yujuhong I don't understand why we can't expect the runtime shim to generate user friendly container names... Why runtime shim will create crazy names for no good reasons...

Report what error? I think the shim will always create a container with a random ID even kubelet only gives the `api.Container.Name`.

I'd rather we parse info from labels/annotations than the name string. But if you all fee

[2016-08-11 21:47] rmmh commented on #30350
@gmarek any ideas? The error is:

[code]

[2016-08-11 21:48] jingxu97 commented on #30258
Hi Cole,

Could you share kubelet log so that we can debug it? Thanks!

Jing

On Mon, Aug 8, 2016 at 7:08 PM, Cole Mickens <notifications@github.com>
wrote:

--
- Jing

[2016-08-11 22:16] saturnism opened #30481 "Improve `kubectl config` wrt context"
Use case:
What are all of the contexts I can use? Today, I need to browse the entire yaml, grep by name, and/or other piped tricks.

Propose something to make that easier:
`kubectl config list-context` to list just the name of the contexts

Use case:
Some of the auto-generated context names can be very long. I want to rename and shorten it. Today requires editing the config file manually.

Propose

[2016-08-11 22:24] ixdy commented on #30454
Lots of `AccessDeniedException: 403 Forbidden` in the Jenkins log. I think this was when we were still teasing out some service account bucket ACLs.

[2016-08-11 22:24] #30454 closed

[2016-08-11 22:25] yujuhong commented on #30463
Yeah..I don't think this would be a problem.

Not crazy names necessarily, but we also shouldn't have the illusion that the names will be meaningful to k8s admin/developers if we didn't explicitly define those.
I'd like to be convinced that names do not matter at all, and if that's the case, runtime can take over naming completely (I think @vishh is in this camp). Otherwise, it's easier for kubele

[2016-08-11 22:27] vishh commented on #30463
Are we basing this discussion on docker? Is `docker ps` the precedent we
are setting for all runtimes?

On Thu, Aug 11, 2016 at 3:26 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-08-11 22:27] xuant commented on #30410
@vishh could you help me take a look?

[2016-08-11 22:29] caesarxuchao commented on #29891
We'll take the first approach. The two approaches are not exclusive, we can implement the second approach as well if we can clear all the security concerns.

We will not block GC from beta for this issue. We will add DeleteOptions.WaitForGCDone after beta, it will be default to false.

[2016-08-11 22:32] yujuhong commented on #30463
No, not just docker. Every runtime we are about supports naming and listing.

[2016-08-11 22:41] vreon commented on #30481
https://github.com/kubernetes/kubernetes/issues/29794#issuecomment-236813523

[2016-08-11 23:00] yujuhong commented on #30463
To be clear, I am only against this (letting runtime handles names) due to the lack of user-friendly tools to interact with container runtime (and/or kubelet) on the node.

[2016-08-11 23:15] rwillard opened #30484 "Pod selection somewhat sticky"
I have a multi-zone cluster on GKE, and I'm having a problem with the load balancer being sticky on pod selection.

I have an ingress setup, serving traffic to a kong deployment. It's managing my APIs, and sends requests to other deployments on my cluster using the internal load balancer (service.namespace.svc.cluster.local).

One of my deployments' functions is to handle a POST request by parsing

[2016-08-11 23:50] caesarxuchao commented on #30462
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/30483/kubernetes-pull-test-unit-integration/39010/artifacts/

Another occurrence:
[code]

[2016-08-11 23:51] wattsteve commented on #13125
@thockin close this

[2016-08-11 23:53] dstynchula commented on #28505
wirtsi: what I mean is I created a DNS zone in route53 that matches the cluster name to enable dns lookups of the kube-system services.

[2016-08-11 23:54] yujuhong commented on #10659
The docker exec issue (https://github.com/docker/docker/issues/14444) was closed long agao and we already have resource usage test running repeatedly int he soak cluster. Closing this ancient issue.

[2016-08-11 23:54] #10659 closed

[2016-08-11 23:58] yujuhong commented on #8397
This is not a node team issue, but the issue itself is probably too old to have any value. Closing it.

[2016-08-11 23:58] #8397 closed

[2016-08-12 00:01] dchen1107 commented on #29871
My initial proposal on Container Runtime interface is without Pod level resource requirement, but later I decided not block on that since we can iterate this anyway.

The main reason I have is that the pod level resource requirement might (not in today) be dynamically updated due to various reasons, for example: pod vertical scaling. If Kubelet pass the pod resource requirement at creation time, w

[2016-08-12 00:04] yujuhong commented on #18832
I believe this has been fixed by @saad-ali's volume manager work in v1.3.

[2016-08-12 00:04] #18832 closed

[2016-08-12 00:06] yifan-gu commented on #29871
@dchen1107 OK, but for updating the resource of the vm based pod sandboxes, I don't think changing the cgroup quietly is enough, right?  When does the vm gets notification? Should it watch the cgroup?

[2016-08-12 00:08] thockin commented on #30240
If we're going to do this at all, we should really think hard about this problem top-to-bottom.  Ext3 vs ext4 vs other FS?  Myriad filesystem options, etc.

[2016-08-12 00:10] matchstick commented on #29548
@justinsb @saad-ali PTAL together

[2016-08-12 00:18] matchstick commented on #28999
@coffeepac

[2016-08-12 00:20] dchen1107 commented on #29871
@yifan-gu I know ppl are talking and using balloom driver to dynamically update vm's size, but how reliable and dynamically is? I assume in hyperd's case, all pods are running as guaranteed today, and without overcommit at all, thus, there is no resource updates at pod level. They might change later, but our API can be iterated later too. I prefer tighter control at API level first, then iterate /

[2016-08-12 00:21] saad-ali commented on #29028
Heads up, if you want this for v1.4, code freeze is next week. Otherwise this will have to wait for v1.5

[2016-08-12 00:23] matchstick commented on #28394
@jeffvance

[2016-08-12 00:24] matchstick commented on #28393
@jeffvance

[2016-08-12 00:24] matchstick commented on #28367
@jeffvance

[2016-08-12 00:27] thockin commented on #27732
Is this part of the "emptydir as PV" work (which I have not yet had a chance to beat up on)?

[2016-08-12 00:32] matchstick commented on #27164
We believe this is addressed in 1.3. If you still find it there, please re-open.

[2016-08-12 00:32] #27164 closed

[2016-08-12 00:33] #26864 closed

[2016-08-12 00:34] matchstick commented on #26864
Closing. We believe 1.3.4 addresses this. Re-open if we are mistaken.

[2016-08-12 00:37] matchstick commented on #26791
First off the k8s team wants to apologize for the long delay in our response. You have done a great job at root causing this. @saad-ali PTAL

[2016-08-12 00:39] #26233 closed

[2016-08-12 00:41] matchstick commented on #25935
After all the labels, I just learned this no longer occurs it is probably fixed now.

[2016-08-12 00:41] #25935 closed

[2016-08-12 00:42] bprashanth commented on #27732
this is a dumb way to do that. there are various levels to local storage:

1. This (HostPath provisioner that creates directories in some unique path - doesn't *need* to be tmpfs)
2. EmtpyDir provisioner that creates/deletes directories tied to the lifetime of a pv (discussed in https://github.com/kubernetes/kubernetes/issues/7562)
3. NFS "provisioner" that runs as a daemonset with daemon eagerly

[2016-08-12 00:45] matchstick commented on #25494
@thockin We think there are other ways to support GPUs. Closing for now. We introduce GPU support in 1.3 using other methods.

[2016-08-12 00:45] #25494 closed

[2016-08-12 00:45] matchstick commented on #25930
Super fast now.

[2016-08-12 00:45] #25930 closed

[2016-08-12 00:47] matchstick commented on #25489
Closing as we believe we have fixed this in 1.3.4.  Please reopen if you can reproduce it.

[2016-08-12 00:47] #25489 closed

[2016-08-12 00:47] thockin commented on #27198
FIRST: is this still happening?  The failure mode, as described, is REALLY nasty.

SECOND: wrt graceful deletion, I think that sounds awesome, but how?  We can set the deletion time on the PVC but who actually will delete it?  Do we need a controller for this?  It's racy...

@pmorie @smarterclayton @jsafrane

[2016-08-12 00:50] childsb commented on #25101
we believe this is fixed in 1.3.4 .

[2016-08-12 00:50] #25101 closed

[2016-08-12 00:50] matchstick commented on #24864
We believe this is fixed in 1.3.4. Please reopen if you can reproduce.

[2016-08-12 00:50] #24864 closed

[2016-08-12 00:50] imkin commented on #27947
@purplesmurf1510 Does @kylegordon's suggestion help you?

[2016-08-12 00:54] markturansky commented on #27198
@thockin https://github.com/kubernetes/kubernetes/pull/27227 fixed the nastiness.

[2016-08-12 00:57] thockin commented on #23330
I think we should not bother to fix this for the alpha annotation and it should be fixed for the beta provisioning change, right @jsafrane ??

[2016-08-12 00:57] #23330 closed

[2016-08-12 00:58] #23098 closed

[2016-08-12 00:59] matchstick commented on #22221
Please re-open if you can reproduce on 1.3.4 or later.

[2016-08-12 00:59] #22221 closed