[2016-02-17 21:11] pires commented on #21392
@vishh I don't know what partial stats aggregation means. Was it something I did?

Regarding cluster updates, just want to make sure you guys know this is a new GKE cluster running version 1.1.7, and not one existing one previously running 1.1.4.

[2016-02-17 21:14] madhusudancs commented on #21256
I looked into it and I think this flake is due to a failed (stuck) image pull which in turn is due to a failed call to GCE metadata server. Metadata server returned 404, not sure why.

Here is the relevant section of the log.

[code]

[2016-02-17 21:18] a-robinson commented on #21392
@vishh - Heapster 0.18.4 is the expected version for Kubernetes 1.1.7
https://github.com/kubernetes/kubernetes/blob/release-1.1/cluster/addons/cluster-monitoring/standalone/heapster-controller.yaml#L28

[2016-02-17 21:18] bprashanth opened #21419 "kubectl rolling-update nil pointer dereference"
@kubernetes/goog-ux I can provide the exact rc if you need a better repro.

[code]

[2016-02-17 21:19] AdiuvoDotFr commented on #20786
Anybody to help me?

[2016-02-17 21:20] #21256 closed

[2016-02-17 21:25] vishh commented on #21392
Ahh.. v0.18.5 was released recently with a bug fix. We should include that
if we were to make a new k8s v1.1 patch release.

On Wed, Feb 17, 2016 at 1:19 PM, Alex Robinson <notifications@github.com>
wrote:

[2016-02-17 21:26] spxtr opened #21420 "Move cmd/integration tests to test/integration"

[2016-02-17 21:28] ihmccreery opened #21421 "v1.2 Deployment e2e shouldn't run against against masters before v1.2"
Right now, the following test is running from v1.2 clients against v1.1 masters:

**Kubectl client Kubectl run deployment should create a deployment from an image [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:938 Expected error: <errors.errorString | 0xc20855cfd0>: { s: "Error running &{/jenkins-master-data/jobs/kubernetes-upgrade-gke-1

[2016-02-17 21:34] a-robinson commented on #21394
Not really. It needs to be fixed in Stackdriver, not Kubernetes. cc @katzj

Also, @pires , it's not quite as straightforward, but in the meantime you can create a Group with multiple filters, then filter by Group in your dashboard graph.

[2016-02-17 21:34] janetkuo commented on #21421
pre-v1.2 clusters don't have deployments enabled by default, so this test failed trying to create a deployment with `kubectl run`.

[2016-02-17 21:34] vishh commented on #21392
@pires: No. I don't suspect any issues from your side. @a-robinson and I are investing from the backend side to root cause this issue.

[2016-02-17 21:39] ihmccreery commented on #19715
*sigh* Seems to have reappeared.

[2016-02-17 21:39] ihmccreery commented on #19715
Or maybe I was just asleep the last time I went through these issues.

[2016-02-17 21:42] pires commented on #21392
@vishh OK, let me know if I need to update Heapster. I believe I should be able to do that with a rolling upgrade or something.

[2016-02-17 21:43] pires commented on #21394
@a-robinson oh why didn't I think of that? Thank you!

[2016-02-17 21:44] vishh commented on #21392
@pires: CPU utilization of `0` is likely if the actual utilization is a very low number. Are your containers actually using any CPU?

[2016-02-17 21:45] mwielgus opened #21425 "In HPA metrics client check if all pods and their containers were running long enough"

[2016-02-17 21:45] mwielgus commented on #21425
cc: @piosz @fgrzadkowski

[2016-02-17 21:52] ixdy opened #21426 "cluster/{gce,gke}/util.sh test-setup creates network, but test-teardown doesn't delete it"
Merging #21122 has caused a lot of Jenkins builds to fail once, since they report that we've leaked networks, default routes, and default firewalls. This is because we create the GCP network if it doesn't exist yet, but we never tear it down.

Is this by design? Or should we be tearing down the test network when we tear down the rest of the cluster?

@kubernetes/goog-testing @kubernetes/goog-clust

[2016-02-17 21:59] ixdy opened #21427 "`gcloud compute networks create` calls need to be updated"
Seen in Jenkins when creating a new network:

[code]

We probably either need to add `--mode=legacy` to these calls, or update to use `--mode=auto` and subnetworks.

@kubernetes/goog-testing @kubernetes/goog-cluster

[2016-02-17 21:59] pires commented on #21392
Yes, a lot. Some of these machines report over 100%, like 115%. `nats` application is one of our most CPU-intensive apps and we're running load tests. 0% is not a valid value for any of our apps, much less all apps.

[2016-02-17 22:00] bprashanth commented on #21426
I think in cases where multiple suites run in a project, others might be using the e2e network. Kube-up runs with the default network unless otherwise specified so I don't think we really *need* to tear down the e2e network evertime, other than because it feels like the right thing to do.

Routes and firewall rules are a different story. The route controller re-creates routes on every kube-up invo

[2016-02-17 22:03] madhusudancs opened #21429 "Pull Image gets stuck without ever returning"
This is a fork of issue #21256. Here is the relevant section of the log from an e2e test failure.

[code]

[kubelet.log](https://console.developers.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21253/kubernetes-pull-build-test-e2e-gce/28583/artifacts/104.154.30.148%3A22-kubelet.log). If this link doesn't survive cleanup, ping me, I have a backed up copy.

cc @kubernetes/goog-node @

[2016-02-17 22:05] ixdy commented on #21426
To make it clear which resources the script complained about leaking:
[code]

[2016-02-17 22:08] pires commented on #21412
/cc @roberthbailey

[2016-02-17 22:26] yujuhong commented on #21429
Looks like just slow image pull as #21029

[2016-02-17 22:29] roberthbailey commented on #21412
I just created a new GKE cluster and found only a single dns controller:

[code]

[2016-02-17 22:30] roberthbailey commented on #21412
When did you create the cluster?

[2016-02-17 22:33] pires commented on #21412
~ one week ago.

[2016-02-17 22:33] pires commented on #21412
It's version 1.1.7.

[2016-02-17 22:39] roberthbailey commented on #21412
Hmmm. Mine is 1.1.7 as well.

[2016-02-17 22:43] nikhiljindal commented on #18963
fwiw, this test hasnt flaked at all in the last 100 runs on jenkins.
I havent been able to reproduce it locally either.

[2016-02-17 22:52] dchen1107 commented on #21261
I managed finding one node not ready after test, and checked kubelet.log. Looks like kubelet is failed the healthcheck, and killed by supervisord:

[code]

By checking kubelet log, I noticed that after last SYNCLOOP, kubelet doesn't nothing except responding /healthz, and after 5m, it is killed by supervisord:
[code]

5m here makes me think kubelet might stuck at SyncPods because docker is not res

[2016-02-17 23:03] dchen1107 opened #21433 "Log daemons' failure reasons to supervisord log files"
Forked from: https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185445866

In scripts managed by supervisord, we always the output, for example, in kubelet-checker.sh:

[code]

We never know why the kubelet failed the healthcheck here.  I will provide a fix shortly.

[2016-02-17 23:07] #21245 closed

[2016-02-17 23:07] #21257 closed

[2016-02-17 23:19] roberthbailey commented on #21412
So I manually fixed it. What's weird is that the `kube-addons` script was trying repeatedly to delete the `kube-dns` rc but failing because it would remove the backends that were shared with the `kube-dns-v9` rc:

[code]

It would try 60 times and then exit with an error. And then try again 10 minutes later. I've looked through the config files on the master and I have no idea how the `kube-dns` r

[2016-02-17 23:21] bgrant0607 commented on #21421
@ihmccreery We're running the latest e2e tests on older clusters?

[2016-02-17 23:22] ArtfulCoder commented on #20875
false alarm

[2016-02-17 23:22] #20875 closed

[2016-02-17 23:24] bgrant0607 commented on #21419
cc @kubernetes/kubectl

[2016-02-17 23:25] bgrant0607 commented on #21419
@bprashanth Did the RC and container exist?

[2016-02-17 23:29] bprashanth commented on #21419
Yeah, I can repro with:
[code]

If either don't exist I get a helpful error

[2016-02-17 23:32] vishh commented on #21392
@pires: I checked the `nats` container and its usage is ~`0.4` cpu seconds/second. That is pretty low utilization. Am I looking at the wrong pod/container?

[2016-02-17 23:33] pires commented on #21412
Feel free to close this if no one else notices. Just wanted you guys to know.

[2016-02-17 23:35] roberthbailey commented on #21412
Thanks for filing. Now we'll have documentation if we run into this again.

[2016-02-17 23:35] #21412 closed

[2016-02-17 23:37] lavalamp commented on #21206
@xiang90 https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/481/?pli=1

But I don't think the etcd log is actually saved. :( @ixdy can the tests start saving etcd logs?

[2016-02-17 23:38] lavalamp commented on #21206
@quinton-hoole What was consuming the port? Do you have the rest of the etcd log file? kubelet log? What was going on during the multiple gaps in that log file?

[2016-02-17 23:38] pires commented on #21392
@vishh doesn't that mean it is using 40% of a core? Anyway, let's sync on slack because either my understanding of my app CPU usage is wrong or node stats are wrong or `kube-system` pods are eating all the CPU.

[2016-02-17 23:39] #21321 closed

[2016-02-17 23:40] janetkuo commented on #21419
The codec is nil https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/rollingupdate.go#L238

[2016-02-17 23:45] quinton-hoole commented on #21206
@lavalamp Sorry, I only figured out after having fixed the problem (by rebooting the node) where the logs file was, and why etcd was crash-looping.  Hence I'm not sure what was holding the port.  The VM is still around, so yes, we can dig through the logs some more if you like.   I don't see any gaps in the log file (other than where I rebooted the node).  It's the etcd log file, so it only contai

[2016-02-17 23:46] bgrant0607 opened #21437 "Issue and PR templates"
https://github.com/blog/2111-issue-and-pull-request-templates

cc @eparis @dchen1107

[2016-02-17 23:48] quinton-hoole commented on #21206
@lavalamp The VM in question is at 104.154.89.141.  If anyone wants SSH access to it just send me an SSH key.

[2016-02-17 23:51] therc commented on #19049
I don't know that the overcommitting matters to most people out there, so I'll create a separate proposal for a scheduler extender that does that.

[2016-02-17 23:58] janetkuo commented on #21419
cc @smarterclayton who made [this change](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/rollingupdate.go#L238) in #19105.

cc @nikhiljindal @caesarxuchao

[2016-02-18 00:01] dchen1107 commented on #21437
Super! After resolving all 1.2 release related issue, I will attack this if no one already pick up. :-)

[2016-02-18 00:06] caesarxuchao commented on #21419
Clayton removed the registration of Codec in GroupMeta in #17922, and stopped accessing Codec this way, e.g., https://github.com/kubernetes/kubernetes/commit/c1d932e44a1a16890791df4f5d3f0d5f75b13b53#diff-e1cb6652d6991ac3cd466cdfa380b5f0R54

I think the use here is unintentional. @smarterclayton could you confirm?

I think we should remove the Codec from GroupMeta struct to prevent relapse: https:/

[2016-02-18 00:08] ixdy commented on #18708
http://pr-test.k8s.io/21208/kubernetes-pull-test-unit-integration/14857/ shows the exact same data race as https://github.com/kubernetes/kubernetes/issues/18708#issuecomment-185371666.

[2016-02-18 00:25] janetkuo commented on #21315
cc @brendandburns

[2016-02-18 00:27] dchen1107 commented on #21401
Ok, we did hit the same #20995

# tail -f docker.log
time="2016-02-18T00:23:21.074823496Z" level=fatal msg="Error starting daemon: Error initializing network controller: Error creating default \"bridge\" network: failed to allocate gateway (10.132.184.1): No available addresses on this pool"

After I removed the corrupted checkpoint file: /var/lib/docker/network/files/local-kv.db and restart docke

[2016-02-18 00:27] #21401 closed

[2016-02-18 00:44] janetkuo commented on #21315
@joshuacox Please try `docs/user-guide/liveness/http-liveness.yaml` instead and see if it works?

[2016-02-18 00:45] lavalamp commented on #21206
So there's a 20 second gap between when etcd originally starts and when it restarts with someone else holding the port.

[code]

During those 20 seconds, kubelet is doing this:

[code]

I think ( @dchen1107 to confirm) that this records a docker and kubelet restart. I was hoping to see here what could have grabbed the port, but I don't see anything.

Still investigating.

[2016-02-18 00:50] smarterclayton commented on #21419
Yes this is unintentional - I had removed Codec from GroupMeta but I believe it crept back during a rebase when we moved the group meta objects.  No one should get a codec from any other source except api.Codecs (or their own scheme, if they have one).

[2016-02-18 00:55] tonybaloney commented on #20904
`docker rmi $(docker images -q)` and `rm -f /var/lib/docker/linkgraph.db` then `service docker restart` fixed it for me. Not sure if the docker restart is important, but it can't hurt! @fgrzadkowski

[2016-02-18 00:59] mikedanese commented on #21418
I'm going to confirm that the current behavior I described is actually causing what I'm observing right now, closing for now

[2016-02-18 00:59] #21418 closed

[2016-02-18 01:04] lavalamp commented on #21206
Looking at the current processes running on the system, my top hypothesis here is that a zombie etcd process was holding the port. @dchen1107 is it possible that a docker reboot wouldn't have restarted etcd?

I'm also confused that the etcd log begins before the kubelet log mentions anything about starting etcd.

[2016-02-18 01:08] lavalamp commented on #21206
Ah, in the docker log I find:

[code]

[2016-02-18 01:11] AdoHe commented on #21396
@caleblloyd I will confirm this.

[2016-02-18 01:11] lavalamp commented on #21206
So docker definitely restarted, apparently immediately after it started etcd.

[2016-02-18 01:12] #21157 closed

[2016-02-18 01:16] janetkuo commented on #21419
@bgrant0607 I think it's a P1 since `kubectl rolling-back --image` is completely broken.

[2016-02-18 01:26] caleblloyd commented on #21396
@AdoHe yes, I have been running like this since 0.19.  I don't know when it stopped working specifically, but it doesn't work in the userspace Kube-Proxy in 1.1.7 if there is no pod for the service on the node.  I'm observing this behavior on 2 separate GKE clusters running 1.1.7.

[2016-02-18 01:27] yujuhong commented on #21429
Closing this as dup of #21029

[2016-02-18 01:27] #21429 closed

[2016-02-18 01:28] janetkuo commented on #17010
FWIW, this is an old issue should already be fixed by #14536. The remaining issue is that we need tests for rolling-update and rolling-back.

[2016-02-18 01:30] dchen1107 commented on #21206
We might hit a docker bug here. Hope #21444 which collects etcd.log and docker.log can help us to triage this issue later. Lower the priority to p1, and we are keeping an eye on this issue.

[2016-02-18 01:31] timstclair commented on #18708
Any tips for reproducing this locally?

[2016-02-18 01:37] bprashanth commented on #18708
I think stress will help repro, given the frequency: https://github.com/kubernetes/kubernetes/blob/4ee1bd5b50fbb9ccecb567c1df835d0b85c1eb59/docs/devel/flaky-tests.md#reproducing-unit-test-flakes

Previous attempts of debugging hard to hit races I've had to upload a pr with logging and hammer the unittester over a weekend

[2016-02-18 02:09] bprashanth commented on #15493
This is causing test flake:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20534/kubernetes-pull-build-test-e2e-gce/28891
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/28891/
[code]

[2016-02-18 02:10] nikhiljindal commented on #21261
fwiw, I am trying to reproduce https://github.com/kubernetes/kubernetes/issues/21234 and I keep running into this.
So this one seems easy to reproduce manually if you think that helps.

[2016-02-18 02:11] janetkuo opened #21447 "Add deployment to the daemon restart suite"
https://github.com/kubernetes/kubernetes/pull/21091#issuecomment-183455633:

[2016-02-18 02:11] mikedanese commented on #20489
I manually cleaned up the rules and will continue to monitor. There were a few leaks detected in master over the last couple of months. I'm hoping that they were plugged but never cleaned up in this project.

[2016-02-18 02:33] bprashanth opened #21449 "Consider pre-pulling images in e2es"
This doesn't look like a horrible list, and honestly 90% of our images are just [pause, nginx, busybox, hostexec, netexec].

[code]

Feels like we're wasting time hunting issues like https://github.com/kubernetes/kubernetes/issues/21029 and https://github.com/kubernetes/kubernetes/issues/20550. We can employ other means to test image pulling? @kubernetes/goog-testing

[2016-02-18 02:38] yujuhong commented on #21367
FWIW, there seems to be a gap between the the time when DeletionTimestamp was set and the time kubelet detected the change.

The graceful termination request was sent by the e2e test at 01:18:58 according to the apiserver.
[code]

The relevant snippet from `146.148.45.47:22-kubelet.log`:
[code]

kubelet thinks it sees the DeletionTimestamp at 01:19:26 (`01:19:26.981347    3855 kubelet.go:2313] Syn

[2016-02-18 02:54] AdoHe commented on #21062
I think kubelet silently uses an empty configuration. Guess we should give a waring here.

[2016-02-18 03:10] eparis commented on #21437
I think @derekwaynecarr had some thoughts....

[2016-02-18 03:23] therc commented on #21397
Shouldn't this be part of an Ingress? I'm working on implementing one, as suggested by @bprashanth.  My first target is SSL-serving load balancers, for services that are not of type LoadBalancer (otherwise either you end up with two ELBs for each service or the Ingress controller will fight with the controller manager to tweak the single ELB's listeners).  Next, Route53 support. Then, managing a p

[2016-02-18 03:30] Hui-Zhi commented on #19049
@therc Thanks let me know that, I'll take a look at the pdf you provided first.

@davidopp I agree with do this using the "opaque integer resource", but it's not my idea, so I just commit the original file I wrote, I think after you add it as comment to this doc, then I commit it again is better. Is this OK?

[2016-02-18 03:32] therc commented on #21397
What I also meant to say is that even if this is merged, since some users might not care about setting up an Ingress and the controller that it requires, we should make sure that there are no surprising behaviours in any of the four possible permutations (with/without label x with/without Ingress). Also, should this be a label or an annotation?

[2016-02-18 03:53] pwittrock opened #21450 "kubernetes-e2e-gke Timed out waiting for cluster initialization"
@jlowdermilk

Not sure if this is a dupe of #21322 or #21411 Has a different error message but also issue caused by the cluster not coming up: kubernetes-e2e-gke/1241

...
Creating cluster jenkins-e2e.../
Creating cluster jenkins-e2e...done.
19:21:44 ERROR: (gcloud.container.clusters.create) Operation [<Operation
19:21:44  name: u'operation-1455764417735-623e12c5'
19:21:44  operationType: Operatio

[2016-02-18 03:54] pwittrock commented on #21322
Filed #21450 for a similar issue but different console error messages.

[2016-02-18 04:09] zmerlynn opened #21451 ""You cannot remove a running container." during hack/test-cmd.sh or integration tests"
From [build-log.txt](https://00e9e64bac6b200a32447dc4f63b6030019cc0bc3a44f16a27-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F21439%2Fkubernetes-pull-test-unit-integration%2F14897%2Fbuild-log.txt?qk=AD5uMEvhvtd0nU5LWkcTBK9YLg-hvrEQTWAt9cK36vzC3Zy2HiqUXBVZSnxKHiCp67X0z0Xd-JeEOgnBtccHilLhlzARzAhmuSSrBVr6Sssz4EvF10NRGnV6OpUdMT4VHvSiR4wt_U8vT66ZBARu

[2016-02-18 05:08] bprashanth commented on #21397
DNS feels like it belongs in Ingress, because you need the hostname in the cert, and to use for things like SNI. Whether we're going to fold L4 into Ingress and deprecate Type=Loadbalancer or not is something we've tabled thus far, but will probably get around to discussing for the next release (there are valid reasons to keep Services as simple backends and express higher level lb/dos/gslb/ingres

[2016-02-18 05:27] Toplife opened #21452 "k8s cluster (pull images from private registry error)"
Hi,
Error message: image pull failed for xxxxxx/app/ctcrawler:latest, this may be because there are no credentials on this request.  details: (Authentication is required.)
How to fix it?
waiting answer online
Thanks a lot....

[2016-02-18 05:29] mqliang opened #21453 "empty input error"
[code]

[code]

It seems that when codec decode the http response of `Get()` as a pointer of an empty struct, instead of a nil pointer.

[2016-02-18 05:33] Toplife commented on #21452
pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: ctcrawler
spec:
  containers:
    - name: ctcrawler
      image: xxxxxx/app/ctcrawler:latest
  imagePullSecrets:
    - name: test-secret

secret.yaml
apiVersion: v1
kind: Secret
metadata:
  name: test-secret
data:
  data-1: {$mySecret}
type: kubernetes.io/dockerconfigjson

[2016-02-18 05:41] luxas commented on #20715
OK, so these tags should be used then:
 - The real version: e.g. `v1.3.0-alpha.3`, `v1.2.3`, `v2.0.1`, `v2.1.0-alpha.7`, `v2.1.0-beta.2`
 - A `v1` (== `stable` on `v1.x`) tag? => `v1.2.3`
 - A `v2` (== `stable` on `v2.x`) tag? => `v2.0.1`
 - A `stable` tag: `v2.0.1`
 - An `alpha` tag => `v2.1.0-alpha.7`
 - A `beta` tag => `v2.1.0-beta.2`

Is that what you meant? The question is what should happen

[2016-02-18 05:41] smarterclayton commented on #21367
Did we batch event delivery to the sync loop?

[2016-02-18 06:05] danielwhatmuff commented on #13056
+1 for multi-AZ Kubernetes

[2016-02-18 06:32] gmarek commented on #21367
cc @wojtek-t

[2016-02-18 07:17] wojtek-t commented on #21107
We have got approved quota increased (hopefully I didn't miss anything).
We should try to just migrate it to the new project.

[2016-02-18 07:25] davidopp opened #21454 "Have DaemonSet controller use predicates.GeneralPredicates"
Once #20204 is submitted, we should have the DaemonSet controller use predicates.GeneralPredicates. Then we won't have to worry about the rules getting out of sync anymore.

Assigned to @HaiyangDING

cc/ @mikedanese

[2016-02-18 07:47] HaiyangDING commented on #21454
Thanks for filing up a new issue. This should be part of #20204, but I just chose not to implement in it for the sake of simplicity. Anyway, I will do this in a follow up PR once #20204 accepted.

[2016-02-18 08:22] Toplife opened #21455 "run a pod show error"
Failed to start with docker id c439bb6b889f with error: API error (500): Cannot start container c439bb6b889f145dff3ae6100d72228a676571f8403889fd3f42a6c2a8d7c461: [8] System error: permission denied

[2016-02-18 08:26] wojtek-t opened #21456 "unit flake: cacher_test.go is flaky"
cacher_test.go:117: Unexpected error: failed to wait for fresh list: time limit exceeded while waiting for resource version 8 (current value: 7) cacher_test.go:120: Incorrect resource version: cacher_test.go:123: Unexpected list result: 0 cacher_test.go:130: Unexpected list result: &api.PodList{TypeMeta:unversioned.TypeMeta{Kind:"", APIVersion:""}, ListMeta:unversioned.ListMeta{SelfLink:"", Resour

[2016-02-18 08:58] wojtek-t commented on #21456
Fix is under review.

[2016-02-18 09:23] wojtek-t opened #21458 "Multiple nodes have the same podCIDR"
While debugging enormous cluster failures, we found that multiple nodes have the same podCIDR

    wojtekt@jenkins-master:~$ sudo kubectl --kubeconfig=/var/lib/jenkins/jobs/kubernetes-e2e-gce-enormous-cluster/workspace/.kube/config get nodes -o json | grep podCIDR | sort | wc -l
    1000
    wojtekt@jenkins-master:~$ sudo kubectl --kubeconfig=/var/lib/jenkins/jobs/kubernetes-e2e-gce-enormous-clust

[2016-02-18 09:24] resouer commented on #21236
Seems need to wait for #21235 in before I send PR? Otherwise this test will always fail ...

[2016-02-18 09:28] mqliang opened #21459 "kubelet: add a route to periodically check health state of pod and update it's status"
Intuitively, there should be a route to periodically check the health state of all pods and update their status. Unfortunately, I look through the code of kubelet but could not found such a health check route. Did I miss anything, or there is a good reason to not has a such health check route?

@yujuhong @vishh

[2016-02-18 09:38] gmarek commented on #21261
@dchen1107 we have two NotReady nodes (as of 10 am CET),  but there were 210 NotReady ones during cluster validation phase. I disabled enormous cluster test, so you can debug.

[2016-02-18 09:40] bitchecker opened #21460 "unable to run a container with volume on glusterfs"
i've a kubernetes cluster with a master node and 3 minions, i've already a glusterfs cluster, every node of kubernetes cluster have glusterfs-client installed and working.
i'm trying to run a pod ( a simple mysql ) mounting ```/var/lib/mysql``` on glusterfs but i see:

[code]

i run: ```kubectl get event``` and i see:

[code]

if i run ``` kubectl describe pod mysql-9ym10``` i see:

[code]

this i

[2016-02-18 09:41] wojtek-t commented on #21261
@dchen1107 - you can take a look into machines from:
https://pantheon.corp.google.com/compute/instances?project=kubernetes-scale

[2016-02-18 10:13] wojtek-t commented on #21261
The problematic run we are talking about is this one:
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/65/console
where only 789/1000 of nodes get ready within timeout.

[2016-02-18 10:16] gmarek commented on #21458
Things fixed itself before I was able to find a cause.

[2016-02-18 10:23] t5unamie commented on #21405
I am trying to get more involved with the project. However finding it hard to engage in the community. Is stack overflow the only place people are hanging out now as the #google-compute IRC channel seems almost dead.

[2016-02-18 10:46] gmarek commented on #21359
Logs are there, but we started saving them to GCS buckets only recently. We're waiting for next failure to happen.

cc @wojtek-t

[2016-02-18 10:48] gmarek commented on #21359
I'll change the message to distinguish between HollowNode startup and API server failure. My current theory is that it's caused by docker failure on master machine, which in turn prevents us from starting etcd, which causes the failure.

[2016-02-18 10:55] gmarek opened #21463 "e2e flake: Deployment [It] deployment should support rollback [timeout]"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21462/kubernetes-pull-build-test-e2e-gce/29129/build-log.txt

[code]

cc @kubernetes/goog-ux

[2016-02-18 10:59] #21456 closed

[2016-02-18 11:06] wojtek-t commented on #21359
Logs are there, but we started saving them to GCS buckets only recently. We're waiting for next failure to happen.

I'm afraid we will not have logs from failed runs.

[2016-02-18 11:13] bryk opened #21464 "Cannot access RC named "run", "runexample" or "exec" through api proxy"
When my replication controller is named "run" or "exec" I cannot get is through API proxy.

This is caused by reject regex https://github.com/lavalamp/kubernetes/blame/e68ea9e8d480240ad5bbbb98e0cc83fa51a37c79/pkg/kubectl/proxy_server.go#L38 that rejects all calls to `^/api/.*/run`. This also includes `http://proxy:8080/api/v1/namespaces/default/replicationcontrollers/runexample` which is perfectly

[2016-02-18 11:14] bryk commented on #21464
This blocks https://github.com/kubernetes/dashboard/issues/373

[2016-02-18 11:14] bryk commented on #21464
CC @codegoblins

[2016-02-18 11:16] wojtek-t commented on #21107
Unfortunately I missed quota for IP adresses (I though they are not counting ephemeral IP addresses).

I requested quota, but we are reverting back to kubernetes-jenkins project for now.

[2016-02-18 11:52] kpatryk commented on #8042
Hi,

In my case problem has been solved after upgrading Kubernetes cluster from version 1.1.2 to 1.1.7
Additionally I did some changes in cluster/aws/config-default.sh, one of the major one was to bump up MASTER_SIZE value to **t2.medium**. It provisions master node with 4 GB RAM, when previously it was only 2 GB and there was no swap configured in the standard AMI image (based on Ubuntu 15.04 Viv

[2016-02-18 11:59] kargakis opened #21467 "e2e flake: deployment should support rollback when there's replica set with no revision [wrong event]"
[code]

[2016-02-18 11:59] kargakis commented on #21467
cc: @janetkuo @mqliang @bgrant0607

[2016-02-18 12:03] javiercr commented on #10921
@erimatnor I just got the same problem, did you find a workaround for this? thanks.

[2016-02-18 12:20] qristin commented on #19144
The error was a timeout which was caused by another module which was not yet ready (it was not scaling fast enough). I am still not sure if a timeout error should restart an instance. On the one hand it is a valid error but restarting the instance does not help in this case. I assume that an instance is restarted if too much errors are detected. And distinguish between errors might be too difficul

[2016-02-18 13:48] AdoHe opened #21468 "e2e flake: deployment cannot be updated since objects has been changed."
[https://console.developers.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21295/kubernetes-pull-build-test-e2e-gce/29134/build-log.txt](https://console.developers.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21295/kubernetes-pull-build-test-e2e-gce/29134/build-log.txt)
[code]

@janetkuo

[2016-02-18 14:27] pires commented on #21392
Node view: <img width="584" alt="screen shot 2016-02-18 at 09 26 40" src="https://cloud.githubusercontent.com/assets/1752631/13146030/cc66cc12-d621-11e5-9298-a9570de08177.png">

[2016-02-18 15:00] runseb commented on #16670
Same with Ubuntu 14.04, K8s 1.1.4 and Docker 1.10
I cannot exec into a container

[code]

[2016-02-18 15:07] antoineco commented on #16670
This is fixed on `master`, it will most likely make it to the 1.1.8 and 1.2 branches (?)

[2016-02-18 15:17] bgrant0607 commented on #21467
@kargakis I think this is the same problem fixed by #21346

[2016-02-18 15:28] AdoHe commented on #21396
@thockin can you confirm this? I think the default behavior is node has no pod running this service should redirect the traffic to node that did.

[2016-02-18 15:29] imkin commented on #20980
@veryhumble @a-robinson I agree that this is causing the issue. But this is not specific to vsphere. how systemd starts the docker daemon is deriving from the general kubernetes deploy configuration used for other providers, vagrant and ubuntu.

Please see this issue here https://github.com/kubernetes/kubernetes/pull/20281

I think this is a dupe of https://github.com/kubernetes/kubernetes/pull/20

[2016-02-18 15:37] zhouhaibing089 opened #21473 "kube-build:cross image failed to build"
At file `build/build-image/cross/Dockerfile`:

[code]

Actually, `curl -s http://emdebian.org/tools/debian/emdebian-toolchain-archive.key` fails.

[2016-02-18 15:37] AdoHe commented on #21353
@nikhiljindal how about add an extra flag to control this behavior? for example `kubectl create --force-update` this will always refresh the the cache of swagger spec?

[2016-02-18 15:50] gmarek commented on #21267
@mikedanese - can you write a proposal?

[2016-02-18 16:02] justinsb opened #21475 "e2e flake: Detected 3 ready nodes, found 3 nodes out of expected 6"
There's not a lot to go on here, but an e2e test hit `Detected 3 ready nodes, found 3 nodes out of expected 6`

https://github.com/kubernetes/kubernetes/pull/21142#issuecomment-185531308

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21142/kubernetes-pull-build-test-e2e-gce/29098/

For some reason, only 3 out of 6 nodes came up.  The PR does change salt to a

[2016-02-18 16:15] justinsb commented on #21153
This might also be a correctness issue, if the S3 archive goes away or is updated.

[2016-02-18 16:18] liggitt opened #21476 "Improve parameter option encoding/decoding"
Follow up from https://github.com/kubernetes/kubernetes/pull/21398

Parameter encoding/decoding follows an odd and asymmetric path today:

Encoding:

[code]

Decoding:

[code]

I'm not sure we want lots of arbitrary struct->queryparam serialization, but these paths should be more unified.

cc @smarterclayton

[2016-02-18 16:33] jeremyeder commented on #21331
I think I agree, perhaps the feature belongs in openshift-sdn. I think Tim's point was that openshift-sdn might take direction/input from Kube in order to create those networks.  Not sure that's actually a technical requirement though.  We could just tell openshift-sdn to create N-networks and give them logical labels.  Then Kube would take those labels into account.

This is all just a brain-dump

[2016-02-18 16:43] mwielgus commented on #18352
All things seems to be in place but we don't have e2e tests yet.

[2016-02-18 16:46] mwielgus commented on #18352
And one extra thing - update cAdvisor in Kubelet if we want to have a limit on the number of custom metrics (the code and the flag is already in cAdvisor).

[2016-02-18 16:47] fgrzadkowski commented on #20715
We do have different release process for `alpha` and `beta`, so I'd keep it that way. Also it'd more consistent IMO.

[2016-02-18 16:55] pires commented on #21392
Could this be related to the container image being Alpine Linux?

[2016-02-18 16:57] luxas commented on #20715
OK. One example: `v1.2.0-beta.0` that's released soon will be `beta`, but what will happen when `v1.2.0` is released? The next `beta` version will then be `v1.3.0-beta.0`, which can take ~3 months. I mean that's a very long time.

The other option is something like `canary`, `unstable`, which always points to the latest release, and may be `v1.2.0-alpha.8` or `v1.2.0-beta.1`. You just know that th

[2016-02-18 16:59] fgrzadkowski commented on #20715
That's a good point. In that case we might consider not using `beta` at all. I'd still use `alpha` and not introduce new names like `canary`.

[2016-02-18 17:02] liggitt commented on #21406
Other things noticed in the namespace controller:
- need a crash handler in https://github.com/kubernetes/kubernetes/blob/17325ef6ef61918d49a28d615c717bccec5b5a71/pkg/controller/namespace/namespace_controller.go#L115
- sweep https://github.com/kubernetes/kubernetes/blob/17325ef6ef61918d49a28d615c717bccec5b5a71/pkg/controller/namespace/namespace_controller_utils.go#L198 for all error return cases a

[2016-02-18 17:04] cnaize opened #21478 "Containers restarts in pod with restartPolicy == Never"
Hello!

I created a `pod` with 3 `containers` (`nginx`, `redis`, `golang`) inside and `restart policy` == `never`.
`nginx` has command `bash -c "exit 1"`, another containers looks good.
When I started a `pod` I saw, that `nginx` and `golang` re-creates every 2 minutes.

`kubectl` says, where are no restarts, here is output:

[code]

`docker` says, that containers `nginx` and `golang` continually c

[2016-02-18 17:12] luxas commented on #20715
`alpha` sgtm
Should we ditch the `v1` and `v2` too? I think many, many other things have changed until that, so this discussion won't be relevant then.

TL;DR;
`stable` tag for versions like `v1.1.2`, `v1.2.3` and `v1.3.0`
`alpha` tag for versions like `v1.2.0-alpha.8`, `v1.3.0-alpha.0` (which in fact **should** be is equal to `v1.2.0-beta.0`, but this hasn't been always the case), and  `v1.3.0-al

[2016-02-18 17:16] bgrant0607 opened #21479 "Client library should support update retries"
By taking a function to check preconditions and apply changes. Every client doing Update needs to do this to deal with conflicts, timeouts, etc.

[code]

cc @janetkuo

[2016-02-18 17:24] a-robinson commented on #20980
Yup, thanks for finding that!

[2016-02-18 17:32] mikedanese commented on #21454
We should also move kubelet to predicates.GeneralPredicates

[2016-02-18 17:34] justinsb commented on #21387
cc @colhom

[2016-02-18 17:40] chrisleck opened #21480 "fluentd image doesn't process the sub-second portion of timestamps for docker logs"
For busy pods, this causes out-of-order messages to appear in elasticsearch/kibana.

I believe the fix is to add ".%N" to the end of the time_format field in the kubernetes log source in td-agent.conf.

[2016-02-18 17:42] timothysc opened #21481 "RFE 1.3 +: Add an all controllers deployment test."
re: #21081

Currently in our scaled out tests we have 10 parallel submissions creating deployments concurrently.  Post client side settling, meaning 0 active clients, the average system system utilization is north of 5 cores.

Most tests to date do not have measurements when most/all controllers are firing.

@jeremyeder @jayunit100 - This would be creating an e2e around similar things we had done

[2016-02-18 17:51] timothysc commented on #21331
Another question might be, do we want to formalize the notion of planes?  As a pod belongs in certain planes.  Right now I believe we've over-used namespaces to kind-of address this, but is that a good way of doing it, probably not.

[2016-02-18 17:54] jlowdermilk opened #21483 "e2e panic: NodeOutOfDisk [Serial] [Flaky] runs out of disk space"
This test is panicking on both GKE and GCE. Disturbing part is that the panic is happening in the nodes.List call in the unversioned client.

[code]

[kubernetes-e2e-gce-flaky](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-flaky/)
[kubernetes-e2e-gke-flaky](http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-flaky/)

[2016-02-18 17:55] derekwaynecarr commented on #21406
I will take a look.  Thanks for the heads up.

[2016-02-18 18:02] a-robinson commented on #21480
Assigning to myself to make sure this gets fixed only because I can't assign to you. Thanks for the report/fix!

[2016-02-18 18:03] fgrzadkowski commented on #20904
@thockin Thanks, removing the proper `linkgraph.db` helped.

[2016-02-18 18:14] gmarek opened #21484 "e2e flake: Proxy version v1 [It] should proxy through a service and a pod"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21251/kubernetes-pull-build-test-e2e-gce/29155/build-log.txt

[code]

cc @kubernetes/goog-cluster

[2016-02-18 18:19] timothysc commented on #21331
/cc @kubernetes/sig-network

[2016-02-18 18:21] fgrzadkowski commented on #21303
@luxas I have version `2.20.1` and it doesn't work.

[2016-02-18 18:22] ihmccreery opened #21485 ""Kubelet stopped posting node status" in e2e tests"
In http://pr-test.k8s.io/21423/kubernetes-pull-build-test-e2e-gce/29036/, I saw toward the end of the run, followed by a bunch of tests that failed their `[AfterEach]` block:

[code]

[2016-02-18 18:24] ihmccreery commented on #21421
We'd like to get some signal that latest `kubectl` works with older clusters.  e2e tests are the best we've got right now.  It's a hack for https://github.com/kubernetes/kubernetes/issues/16040.

[2016-02-18 18:26] colhom commented on #21387
@robszumski where should this point?

[2016-02-18 18:30] lavalamp commented on #21403
@caesarxuchao has cycles to investigate

[2016-02-18 18:31] robszumski commented on #21387
The official CoreOS guides are documented/linked here: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos.md#getting-started-on-coreos

The decision made a few months ago was to leave the previous community content, but should we revisit that?

[2016-02-18 18:31] robszumski commented on #21387
Side note, a link to our AWS tool/guide probably needs to be there as well

[2016-02-18 18:32] pwittrock commented on #21485
Seeing the same thing on kubernetes-e2e-gke:

9:41:49 Feb 18 09:41:44.118: FAIL: All nodes should be ready after test, Not ready nodes: [{{ } {gke-jenkins-e2e-6bcc0c74-node-jhh4   /api/v1/nodes/gke-jenkins-e2e-6bcc0c74-node-jhh4 97772569-d665-11e5-8770-42010af00013 7286 0 2016-02-18 09:32:32 -0800 PST <nil> <nil> map[beta.kubernetes.io/instance-type:n1-standard-2 failure-domain.alpha.kubernetes.io

[2016-02-18 18:33] robszumski commented on #21387
@justinsb What file contains that sentence?

[2016-02-18 18:36] yujuhong commented on #21367
We don't.

The sync loop seemed to be working fine during that time.

[code]

[2016-02-18 18:40] justinsb commented on #21387
@robszumski `docs/getting-started-guides/aws.md`

[2016-02-18 18:43] derekwaynecarr commented on #21049
I am still seeing this problem.  Deployments and replica sets are sticking.

[2016-02-18 18:45] roberthbailey opened #21487 "kubernetes-build-1.1 #475 failed with permissions errors"
/cc @pwittrock @spxtr @fejta

The log starts with:

[code]

and goes on for a while.

[2016-02-18 18:45] derekwaynecarr commented on #21049
From what I can tell, calling DELETE_COLLECTION on Deployments is returning:

[code]

And since the controller assumes not found errors are equivalent to already deleted, it thinks the content is deleted.  When I manually inspect, I still see the deployment and replica set laying around...

//cc @liggitt

[2016-02-18 18:46] janetkuo opened #21488 "Test the robustness and reentrancy of all the Deployment code"
https://github.com/kubernetes/kubernetes/pull/21030#discussion_r53344014

cc @bgrant0607 @nikhiljindal @ironcladlou @kargakis @kubernetes/deployment

[2016-02-18 18:48] derekwaynecarr commented on #21049
holding on this while i debug some more...

[2016-02-18 18:49] #21049 closed

[2016-02-18 18:50] lavalamp commented on #21114
I agree w/ @thockin

On Tue, Feb 16, 2016 at 9:43 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-02-18 19:01] derekwaynecarr commented on #21049
This was a false alarm, apologies.

[2016-02-18 19:04] fgrzadkowski commented on #19732
This failed again for a totally unrelated change #21486 with the following error:
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21486/kubernetes-pull-build-test-e2e-gce/29186/

[2016-02-18 19:04] pwittrock commented on #21450
@jlowdermilk let me know if there is someone better to assign this to.  Just saw a couple more flakes this morning.

[2016-02-18 19:06] ihmccreery opened #21490 "e2e flake: "RollingUpdateDeployment should scale up and down in the right order" [reaper]"
In http://pr-test.k8s.io/21423/kubernetes-pull-build-test-e2e-gce/29185/:

[code]

@bgrant0607 For triage.

[2016-02-18 19:14] pwittrock commented on #21460
@bitchecker please post this to stack overflow, where we are trying to consolidate these sorts of requests

[2016-02-18 19:14] #21460 closed

[2016-02-18 19:15] lavalamp commented on #15985
#20501 is merged now. :)

On Wed, Feb 17, 2016 at 11:07 AM, Eric Tune <notifications@github.com>
wrote:

[2016-02-18 19:18] mml commented on #20916
I can see some problems in the startupscript log from the failed runs @ixdy linked, but it's unclear if those are normal or not, since we don't save logs on success.  I'll do a run from my workstation and look for differences.

[2016-02-18 19:19] smarterclayton opened #21491 "e2e flake: "paused deployment should be ignored" [timeout]"
[code]

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21286/kubernetes-pull-build-test-e2e-gce/29183/

[2016-02-18 19:21] smarterclayton commented on #21367
Could this be a previously undiscovered race condition on the object?
Where we aren't observing the write when it's delivered to the sync loop
the first time (or it is filtered out?)

On Thu, Feb 18, 2016 at 1:37 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2016-02-18 19:22] fejta opened #21492 "Move PD tests to slow suite"
Let's move the PD tests to the slow suite, as these operations frequently take 8-10m to complete, and we don't want to allocate more than 10m per test in the main suite.

This will help mitigate https://github.com/kubernetes/kubernetes/issues/21138

[2016-02-18 19:24] therc opened #21493 "Support gRPC health checks"
We already have `google.golang.org/grpc/health/grpc_health_v1alpha/...` in Godeps. My understanding is that all gRPC implementations should be interoperable for health checks and, if they're not, it's a bug.

Add a new health check type `grpc` with an optional `service` name. Per [the official documentation](https://github.com/grpc/grpc/blob/master/doc/health-checking.md), an empty name triggers a

[2016-02-18 19:26] fejta commented on #21138
We're going to move the PD tests to the slow suite, but it seems like we still need to figure out: Services should be able to change the type and ports of a service

[2016-02-18 19:27] pwittrock commented on #21452
@Toplife Please post your question to [http://stackoverflow.com/search?tab=newest&q=kubernetes](StackOverflow).  We are trying to consolidate all user support questions in that forum.  Thanks.

[2016-02-18 19:27] #21452 closed

[2016-02-18 19:29] pwittrock commented on #21455
@Toplife Please post your question to http://stackoverflow.com/search?tab=newest&q=kubernetes. We are trying to consolidate all user support questions in that forum. Thanks.

[2016-02-18 19:30] timstclair commented on #21114
If I followed correctly, you're suggesting duplicating the mock code in packages that need to mock it? That's going to be really annoying whenever a new method is added to the interface :(

BTW, I fully agree with adding more symbols to the symbol check presubmit, but we need to fix the problem before we can do that.

[2016-02-18 19:30] #21455 closed

[2016-02-18 19:34] fejta commented on #21138
Service change type and ports of a service issue - https://github.com/kubernetes/kubernetes/issues/20910

[2016-02-18 19:42] ixdy commented on #21487
Sorry, more fallout from the VM upgrades Tuesday night. I'll go fix it.

[2016-02-18 19:51] yujuhong commented on #21451
https://cloud.google.com/console/storage/kubernetes-jenkins/pr-logs/pull/21439/kubernetes-pull-test-unit-integration/14897/ (It's more useful to provide a link to an entire build)

The integration test (cmd/integration.go) only uses fake docker client, and the test was completed after dumping the latency metrics. I have no idea where the `Error deleting container` error is from, but it's not from

[2016-02-18 19:52] davidopp commented on #21454
That's in #20204, see changes to kubelet.go

[2016-02-18 19:53] davidopp commented on #21454
cc/ @madhusudancs @bgrant0607

[2016-02-18 19:54] yujuhong commented on #21367
I'm not sure I understand your comment. If you are talking about the sync loop in the kubelet, it doesn't/shouldn't filter anything. I also don't know what race condition you''re referring to...

[2016-02-18 20:02] qix opened #21498 "Slow binding of PV => PVC"
We're manually creating drives to contain each of our databases, as such it makes sense for us to have known bindings between each PVC and PV. Since `volumeSelector` is not yet available creating them one at a time has been working for us.

Recently for unknown reasons it has gotten **very** slow. What used to take seconds to bind the PVC=>PV now takes to 20+ minutes.

Initially it shows up as `Pe

[2016-02-18 20:02] erictune commented on #15985
Yep, working on rebase.  Also have fuzzer and testapi related errors I cannot figure out.  May ask for help.

[2016-02-18 20:14] mml commented on #20916
I ran from head, so the startupscript is a bit different, but either way all the "error" messages are present in both successful and failed runs.

So that leaves us with: the startupscript seems to run to completion, but the apiserver never gets far enough to even create a 0-byte logfile.

Are there any newer failures?

[2016-02-18 20:19] jlowdermilk commented on #21483
cc @krousey

[2016-02-18 20:20] ixdy commented on #20916
@mml one from last night: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/11801

[2016-02-18 20:24] yujuhong commented on #21459
We have a [pod lifecycle event generator (pleg)](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pleg/generic.go) which detects container state changes and wakes up the corresponding pod worker to sync. We also have a [fallback resync interval](https://github.com/kubernetes/kubernetes/blob/392fc6668f5536af71950f7df56fe3f89256a66b/pkg/kubelet/pod_workers.go#L80) which is currently

[2016-02-18 20:25] aronchick commented on #21275
HUGELY interesting - please let us know how to get it in!

[2016-02-18 20:25] nikhiljindal commented on #21353
We use --force in kubectl replace and drain as well.

cc @bgrant0607 and @kubernetes/kubectl

[2016-02-18 20:29] ixdy commented on #21487
Latest `kubernetes-build-1.1` build passed.

[2016-02-18 20:29] #21487 closed

[2016-02-18 20:35] deads2k commented on #21353
Why not try to handle this by recognizing a failure due to missing swagger information and either removing the file (easy) or asking the server for the new one using an `If-Modified-Since` header?

I'd rather not have to specify a flag for a case that should be fully reconcilable automatically.

@smarterclayton

[2016-02-18 20:39] mikedanese commented on #20916
How can I add /var/log/startupscript.log to the artifacts dir?

[2016-02-18 20:43] ixdy commented on #20916
@mikedanese for regular e2e runs where the cluster successfully starts up, you mean? `test/e2e/core.go`.

[2016-02-18 20:45] dchen1107 opened #21500 "Figure out the resource requirement for master components"
Forked from https://github.com/kubernetes/kubernetes/issues/21261 since they are totally different issues.

Reported from @gmarek and @wojtek-t when bringing up a large cluster with 1000 nodes, there were 210 Nodes cannot be Ready state during validation phase (https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185628072)

After some debugging, it turns out that the node cannot joi

[2016-02-18 20:47] dchen1107 commented on #21261
@gmarek and @wojtek-t I filed a separate issue for the enormous cluster failure: https://github.com/kubernetes/kubernetes/issues/21500 Basically it is caused by crashlooping etcd-container due to oom killing.

[2016-02-18 20:49] ArtfulCoder commented on #20475
@rideswitch  I can help debug via some screen share session or if I can somehow be given access to the setup. let me know.

[2016-02-18 20:51] wojtek-t commented on #21261
@dchen1107 - thanks for investigation!

[2016-02-18 20:54] bprashanth commented on #21500
This is a system oom repeatedly killing flannel's etcd. I had initially set its limits to a paltry 50m based on observations in a 100node cluster (https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/init.sls#L30). How much can we spare on the 1000 node master? And if we don't know, should we just allow flannel to use the master etcd, and let that one take as m

[2016-02-18 20:58] wojtek-t commented on #21500
This is a system oom repeatedly killing flannel's etcd. I had initially set its limits to a paltry 50m based on observations in a 100node cluster (https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/init.sls#L30). How much can we spare on the 1000 node master?

How much does it need? I think it's not a problem to give it significantly more than on smaller clus

[2016-02-18 20:58] roberthbailey commented on #21487
Thanks Jeff.

[2016-02-18 21:01] bprashanth commented on #21500
We're in agreement, which is why i setup a different one to begin with.

Is this something you guys can profile? I have not profiled it on various master sizes, and am currently swamped with release worthy stuff.

[2016-02-18 21:05] krousey commented on #21483
Very hard to determine where in this line:

[code]

The panic actually occurred. I'll look into it.

[2016-02-18 21:06] luxas commented on #19228
@davidopp I'm working on this

[2016-02-18 21:07] dchen1107 commented on #21261
@wojtek-t Do you have more incidents of NotReady nodes after the initial cluster validation? I am looking for those failures :-)

[2016-02-18 21:16] jlowdermilk commented on #21450
I managed to get a repro of this. It looks like docker on the nodes got hosed after upgrading to 1.9.1. From /var/log/docker.log on a node
[code]

[2016-02-18 21:17] jlowdermilk commented on #21450
cc @dchen1107

[2016-02-18 21:17] piosz commented on #20925
No. HPA doesn't require any resources itself. This is just a specification of test. The problem is that we are using master proxy to send requests to pods and master proxy uses random load balancing strategy. To avoid flakiness of the test each pod should have enough resources to handle the whole traffic in case we are unlucky and each request is sent to the same pod. That means that if we want to

[2016-02-18 21:19] mml commented on #20916
I can't find anything useful in startupscript.log.  Talked to @mikedanese and he suggests adding the docker and kubelet logs, which I'll do now.

[2016-02-18 21:23] dchen1107 commented on #21500
I re-examine the kernel log, and actually most of them are memory exceeded oom-kill, not sys oom here. Docker inspect result is misleading here. I think there is a regression bug with this docker version.

Also based on the configuration at https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/flannel-server/flannel-server.manifest:
The pod has qos: Guarantee, not Burstable he

[2016-02-18 21:23] piosz commented on #21129
@ihmccreery sorry for delegating the work to you, but I completely didn't have time to do it and nobody else hasn't volunteered to do it for a while.

@mikedanese it seems you are the author of the test, so assigning you.

[2016-02-18 21:24] krousey commented on #21483
I don't think this is a problem in the client code. I think somehow the e2e framework has a nil client, and this is just the first place it tries to use it.

[2016-02-18 21:27] bprashanth commented on #21500
Let it take as much as it needs and back track? The other etcds don't have a mem limit.

[2016-02-18 21:30] dchen1107 commented on #21450
https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185445866 ?

[2016-02-18 21:33] dchen1107 commented on #21450
@jlowdermilk I read your last comment above, I believe this is dup of https://github.com/kubernetes/kubernetes/issues/20995

[2016-02-18 21:37] jlowdermilk commented on #21450
Closing as dupe of #20995

[2016-02-18 21:37] #21450 closed

[2016-02-18 21:38] vishh commented on #21392
I don't think so. I tried to reach you on Slack with more data. If you
prefer moving the conversation to here or to somewhere else let me know.

On Thu, Feb 18, 2016 at 8:56 AM, Paulo Pires <notifications@github.com>
wrote:

[2016-02-18 21:41] smarterclayton commented on #21367
Well, the result of a graceful delete should always be an update on the
pod.  If it's not making it to the sync loop until 6 seconds later, my
first assumption would be that the iterative PLEG missed it, and instead it
was the normal sync that caught it (which implies bug or race or missing
logic).  However, I don't know PLEG that well so I may just not understand
the new structure of SyncPod.

On

[2016-02-18 21:42] lavalamp commented on #21483
That seems like a good hypothesis.

[2016-02-18 21:45] smarterclayton commented on #21353
I like David's suggestion a bit better - I don't like that users have to
understand that our swagger caching doesn't work well.  I think that's the
core issue, so we should fix that cache to not fail.

On Thu, Feb 18, 2016 at 3:36 PM, David Eads <notifications@github.com>
wrote:

[2016-02-18 21:47] yujuhong commented on #21367
The PLEG only polls docker for container changes, so it's irrelevant. The sync loop for accepting events from the watch is mostly the same (other than the change from snapshot to incremental updates). The delay from the DELETE request to kubelet seeing it in the sync loop is ~28 seconds, so it's hard to imagine that the delay was caused by the sync loop being swamped for 28 seconds (and the log se

[2016-02-18 21:48] javiercr commented on #3760
After reading the whole thread I still can't figure out whether activating the iptables mode for kube-proxy should fix the problem of external IPs being hidden (#10921) or not. We did enable the iptables mode with v1.1 as suggested here but we're still seeing the IPs from the cluster, no the real ones from the users.

Our cluster is in GCE and we just need a load balancer with HTTPS support before

[2016-02-18 21:50] bgrant0607 commented on #8132
@smarterclayton Is there a writeup of the current status on proto support somewhere?

[2016-02-18 21:59] mml opened #21506 "Add system test that exercises all the informers in the node controller"
This would have caught #21496.  Unlikely to happen again, but we should be exercising those informers.

In this case, bringing up a DaemonSet, waiting for the pods to be everywhere, then trying to drain with kubectl would have failed.

Not sure if the other two informers are well exercised already, but I'll check.

[2016-02-18 22:07] ihmccreery commented on #21129
No problem @piosz!  Just wanted to make sure there wasn't some information missing.

[2016-02-18 22:08] bprashanth commented on #20910
History of this test is currently green on both:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/11833/testReport/(root)/Kubernetes%20e2e%20suite/Services_should_be_able_to_change_the_type_and_ports_of_a_service/history/

and
https://gke-testdash.corp.google.com/#gce&graph-metrics=test-duration-minutes

I understand the cause of the last 2 failures. The first one has a pr out. IIUC @kub

[2016-02-18 22:09] jasonparekh commented on #21392
I'm noticing the same: nodes report proper CPU metrics but diving into a pod shows close-to-0 CPU.

Here's heapster's `/validate`:
[code]

And a snippet from one node's `kubelet.log`:
[code]

[2016-02-18 22:16] bgrant0607 commented on #21353
Do we record the Kubernetes release version in the swagger cache? If we did, we could invalidate it if the server version changed.

[2016-02-18 22:17] bgrant0607 commented on #21353
I would rather not add a flag. That wouldn't reduce the number of user questions at all.

[2016-02-18 22:24] bgrant0607 commented on #21490
cc @janetkuo @kargakis @mqliang

[2016-02-18 22:25] ixdy commented on #20656
Based on https://github.com/golang/go/issues/14189 it's not clear that Go 1.6 is going to be any better for us right now, but we may want to try testing 1.6 to see what sort of numbers we get.

[2016-02-18 22:26] bgrant0607 commented on #21491
cc @janetkuo @kargakis @mqliang

[2016-02-18 22:27] pires commented on #21392
Let's take this to slack/hangout and update the issue after we find what's going on. Thank you!

[2016-02-18 22:31] dchen1107 commented on #21261
I checked nikhiljindal's cluster mentioned: https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185509681

It is a dup issue of https://github.com/kubernetes/kubernetes/issues/20096, the kernel deadlock issue triggered by hairpin mode:

[code]

I keep this one open to make sure the situation of the node is becoming NotReady is not caused by docker 1.9.1.

[2016-02-18 22:34] jlowdermilk commented on #21483
Found it. The test is manually calling framework.AfterEach(), which results in the framework client getting set to nil, then later dereferenced. I'll send fix.

[2016-02-18 22:35] ihmccreery commented on #20925
Shouldn't we be able to dial pods directly?  I thought that was the whole point of having proxies.

[2016-02-18 22:36] lavalamp commented on #21464
I'm totally open to making these more specific. Note you can also pass different parameters when you invoke kubectl, so you're not blocked by getting the defaults changed, I would imagine.

[2016-02-18 22:38] ixdy commented on #21261
I think http://pr-test.k8s.io/21442/kubernetes-pull-build-test-e2e-gce/29223/ might be another example of this?

[2016-02-18 22:39] bgrant0607 opened #21511 "Don't rely on events in deployment e2e"
Events aren't part of the API and may be changed, so the e2e test from an older release won't necessarily work on a newer release.

See #20738

cc @janetkuo @kargakis @mqliang

[2016-02-18 22:41] nikhiljindal commented on #21353
Yes we store the server version.
For ex, running `$ ls ~/.kube/schema/` gives me:

[code]

The problem happens when users change the runtime config flag on their servers.

[2016-02-18 22:41] lavalamp commented on #21114
No-- the mock/fake implementation is in some 3rd package that all consumers
can import.

On Thu, Feb 18, 2016 at 11:30 AM, Tim St. Clair <notifications@github.com>
wrote:

[2016-02-18 22:51] bprashanth opened #21512 "Factour our Service.type=Loadbalancer tests intoto gce slow"
The cutoff is 5m for the normal gce suite, which times out in 30m inclusive of cluster up and down. So we should factor out the part of https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L490 that sets up and waits on external loadbalancers into gce-slow.

@kubernetes/goog-testing @fejta @spiffxp

[2016-02-18 23:00] binarybana opened #21513 "kube-apiserver: too many open sockets from 'localhost' dns queries"
I had a user send me this from a 100 node 1.1.3 cluster running on CoreOS where `kubectl create` would sometimes hang, sometimes take a long time and sometimes give these messages:

[code]

And in journalctl I found errors like:

[code]

Which seems to imply that kube-apiserver is making too many DNS queries to the `10.2.0.2` dns server in `/etc/resolv.conf` for `localhost` of all things.

And in

[2016-02-18 23:07] binarybana commented on #21513
I just noticed #6353 (which I can certainly enact on my cluster) but the DNS requests for `localhost` still seem like an issue.

[2016-02-18 23:09] timstclair commented on #21114
Ok, but I think you'll still run into cicrular dependency issues without some significant refactoring. I aggree that limiting test resources to test-only packages is ideal, but it can require some careful planning. For example:

[code]

Now you want to add MockFoo in the testing package, but it needs to import `example` for the `Foo` type, meaning that MockFoo can't be used in package example due

[2016-02-18 23:10] dchen1107 commented on #21261
@ixdy,  I believe the failure you mentioned at https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185960665 is also hairpin mode related issue. Unfortunately there is no logs from worker nodes for that jenkins build.

[2016-02-18 23:10] smarterclayton commented on #21464
@stefw introduced this because of a CVE (or the potential for one).
Definitely agree the regex should be more selective.

On Thu, Feb 18, 2016 at 5:36 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-02-18 23:18] smarterclayton commented on #8132
I need to create a proposal, which I will do in the next week

Quick summary:

* We have a fully developed tool path that has been exercised against
recent API objects that can turn Go structs into an Protobuf 2 IDL, and
then gogo-protobuf can turn that IDL into a byte for byte compatible Go
struct, then generate Marshallers / Unmarshallers that demonstrate a 10x
CPU reduction and ~5-10x memory al

[2016-02-18 23:22] nikhiljindal commented on #21234
This test seems to have flaked again in http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29036.

I cant repro this locally (I keep hitting https://github.com/kubernetes/kubernetes/issues/21261#issuecomment-185509681)

Sent https://github.com/kubernetes/kubernetes/pull/21516 to improve failure logs

[2016-02-18 23:31] saad-ali commented on #20835
When a GCE PD is attached to a node, it must be attached either as `read-write` or `read-only`. And, GCE permits a GCE PD to be attached to no more than one node in `read-write` mode.

So if two different pods request two different partitions of the same GCE PD both in `read-write` mode, and the pods are scheduled to different nodes, even if k8s did not prevent this scenario, it would fail because

[2016-02-18 23:34] ihmccreery opened #21517 "Docker failed to pull image in PR builder"
http://pr-test.k8s.io/21515/kubernetes-pull-build-test-e2e-gce/29272/

[code]

[2016-02-18 23:34] zmerlynn commented on #21086
#1 and #2 are done in `container-v1-2-v20160218`. I'm going to try to figure out how to get `CONFIG_FAIR_GROUP_SCHED` enabled soon.

[2016-02-18 23:39] ArtfulCoder commented on #21418
I created nc server on ubuntu pod
` cat linux-4.5-rc4.tar.xz  | nc -l -p 8080`
where the xz file is a big file.

I created a service that hits 8080 on that ubuntu pod

I then did
`curl --limit-rate 1k http://10.0.201.246:8080 > foo` on another node.
where the ip specified is the service ip.

I then deleted the service that mapped to the ubuntu pod.
The curl download still continued without any pro

[2016-02-18 23:58] bprashanth commented on #21491
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21431/kubernetes-pull-build-test-e2e-gce/29257/artifacts/
http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//29257
[code]

[2016-02-19 00:05] madhusudancs commented on #18528
@piosz Now that PR #20501 is merged, we need to make progress on exposing scale at the appropriate paths, i.e. make progress on PR #20745. Will you have time to take over my PR?

cc @bgrant0607 @lavalamp

[2016-02-19 00:08] rsc commented on #17524
Hi, Go team here. David Crawshaw pointed this issue out to me. We'd really like to understand both this and the problems you found with Go 1.5. The problem with Go 1.4.3 is interesting because _so little_ changed between Go 1.4.2 and Go 1.4.3. If there's a real regression there, perhaps it is the same one you hit trying Go 1.5, and there's a lot less to look through. Specifically:

$ git log --one

[2016-02-19 00:17] fejta commented on #20910
Here are instances of this failure since 2/13 (which you can find by scrolling right on the dashboard -- https://gke-testdash.corp.google.com/#gce&width=20&include-filter-by-regex=Service&include-filter-by-regex=change):

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11753/?debugUI=CLOUD
https://pantheon.corp.google.com/storage/browser/kubernetes-jenki

[2016-02-19 00:26] ixdy commented on #20656
@rsc comments in https://github.com/kubernetes/kubernetes/issues/17524#issuecomment-185987621:

50eb39b [release-branch.go1.4] go1.4.3
5d9c280 [release-branch.go1.4] doc: document go1.4.3
cb65428 [release-branch.go1.4] net/http: backport some potential request smuggling vectors from Go 1.5
8f33959 [release-branch.go1.4] net/http: harden Server against request smuggling
8f42967 [release-branch.go1.

[2016-02-19 00:26] #20610 closed

[2016-02-19 00:33] fejta commented on #20836
$ grep -o -E -e 'gcr.io/[-a-z0-9/_:.]+' test/e2e/*.go | grep -v -E "gcr.io/.*:" | cut -d ":" -f 1 | sort | uniq
test/e2e/container_probe.go
test/e2e/dns.go
test/e2e/downward_api.go
test/e2e/downwardapi_volume.go
test/e2e/expansion.go
test/e2e/garbage_collector.go
test/e2e/job.go
test/e2e/networking.go
test/e2e/pd.go
test/e2e/persistent_volumes.go
test/e2e/pods.go
test/e2e/pre_stop.go
test/e2e/secu

[2016-02-19 00:34] bprashanth commented on #21234
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29285/consoleFull
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21326/kubernetes-pull-build-test-e2e-gce/29285/artifacts/
[code]

[2016-02-19 00:38] bgrant0607 commented on #12140
Existing components:

* scheduler(s) -- responsible for placement; could preempt scheduled pods within disruption SLOs; should avoid repeating placement mistakes
* controller(s) -- responsible for interpreting pod health, creating replacements, orchestrating "migration"; should back off creation in case of recurring failures

The question is what component(s) should be responsible for evicting sch

[2016-02-19 00:45] david-mcmahon commented on #19966
I have a standalone tool that is part of a bigger rewrite of our releasing tools.  That can be used for now by our release team.  1.3 will have a new release tool altogether.

[2016-02-19 00:46] david-mcmahon commented on #19174
New release tooling will have this generated as part of the automated workflow.

[2016-02-19 00:50] dchen1107 commented on #16702
I am closing this one since we finished the work except some refactory and cleanup.

[2016-02-19 00:50] #16702 closed

[2016-02-19 00:51] dchen1107 commented on #14783
@pwittrock Could you please provide latest updates for this?

[2016-02-19 00:52] ihmccreery commented on #20925
Looking into the test, you should be able to pass a pod selector to the `ResourceConsumer` object, and it should be able to make resource consumption requests directly to each pod, instead of relying on the load balancer.

[2016-02-19 00:54] dchen1107 commented on #14733
We won't do anything with this for 1.2 release, and I don't think we plan to do anything for next release neither.

[2016-02-19 00:56] dchen1107 commented on #12263
This issue was addressed for 1.2. Closing it.

[2016-02-19 00:56] #12263 closed

[2016-02-19 00:56] davidopp commented on #14733
I asked @wojtek-t yesterday if he thought this was needed for our scalability goals for the next release and he said probably not.

[2016-02-19 00:56] ixdy commented on #19299
Flaked again: http://pr-test.k8s.io/21519/kubernetes-pull-build-test-e2e-gce/29292/

[code]

[2016-02-19 00:59] bprashanth commented on #21451
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21326/kubernetes-pull-test-unit-integration/15090/

[code]

Makes me think something killed the kubelet midway through printing a log line

[2016-02-19 00:59] dchen1107 commented on #12090
Kubelet doesn't some minimal docker version check since 1.1 release. Kubelet also support --node-labels for 1.2 release now. I am closing this issue.

[2016-02-19 00:59] #12090 closed

[2016-02-19 01:04] Toplife commented on #21452
@pwittrock sames this link http://stackoverflow.com/search?tab=newest&q=kubernetes can not working...

[2016-02-19 01:04] rsc commented on #20656
Hi again. We'd love to help. I see in [this comment](https://github.com/kubernetes/kubernetes/issues/20400#issuecomment-179224443) that the metric that disqualified Go 1.5.3 was tail latency in a "kubemark" test. Am I right that Go 1.4.3 was disqualified for the same reason?

What would be ideal for us would be to build and spin up our own kubemark test using different versions of Go? Is that poss

[2016-02-19 01:06] #12483 closed

[2016-02-19 01:09] lavalamp commented on #7111
That's a very interesting idea. I'll think about that some more.

[2016-02-19 01:10] lavalamp commented on #10043
Kicking this can down the road.

[2016-02-19 01:11] bprashanth commented on #20570
This appears to be still happening:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/29295/consoleFull
[code]

I haven't dug through kubelet logs yet, but that would be a first good step (look for https://github.com/kubernetes/kubernetes/pull/20284 and what happend to the pod -- it landed on e2e-gce-builder-3-0-minion-tkq6, 104.197.88.232).
https://pantheon.corp.goog

[2016-02-19 01:12] bgrant0607 commented on #12140
Disruption SLO issue is #12611

Proposal for eviction due to resource starvation is #18724

Reiterating use cases:
* Improving scheduling preference satisfaction, including spreading, anti-affinity, and affinity, after node upgrades/maintenance/outages, horizontal node auto-scaling (adding new nodes), and pod churn
* Draining nodes, for upgrades/maintenance, for horizontal node auto-scaling (remov

[2016-02-19 01:12] lavalamp commented on #21051
Yup, let's discuss in #18760

[2016-02-19 01:12] #21051 closed

[2016-02-19 01:14] bgrant0607 commented on #12140
We'll also want to figure out how to drive node auto-scaling based on inability to schedule.

[2016-02-19 01:15] lavalamp commented on #18760
@AdoHe indicated some interest in fixing this. It seems like we would really love a fix.

[2016-02-19 01:18] dchen1107 commented on #1615
I punt this one to next release unless someone got some free time helping this issue within 1.2 release timeline.

[2016-02-19 01:28] chrisleck commented on #21275
Just let me know where this should go in the source tree, and I'll sanitize my company-specific pieces out and submit a PR.

[2016-02-19 01:33] dchen1107 commented on #12483
Great! The only thing left is cut another heapster release which uses the new metrics API. :-)

[2016-02-19 01:38] mqliang commented on #21459
IIRC, k8s v1.0 has not such a "pleg" and "fallback resync interval", right?

[2016-02-19 01:41] mqliang commented on #21459
So, for v1.0:
1) if container state changed, kubelet will not update it's status or sync it
2) it pod status updated failed at the first time, it will never retry

Right? Free free to correct me. I just observed case 2). But for case 1), I am not sure.

[2016-02-19 01:41] bprashanth commented on #20316
Don't think this is going to make 1.2.0, we can still target soem 1.2.X release

[2016-02-19 01:42] bprashanth commented on #9107
Alright, we should do that for 1.2.0

[2016-02-19 01:44] mqliang commented on #21459
@chaolou

[2016-02-19 01:50] yujuhong commented on #21459
For v1.0, there is a simple 10s resync interval and kubelet will regenerate the pod status in every sync.

You should've started your question with this observation and version number :-)

I don't remember how pod status update (request to the apiserver) was handled in details in v1.0. I *think* it should be updated on every sync, but I could be wrong.

[2016-02-19 01:50] #21387 closed

[2016-02-19 01:50] bprashanth commented on #15077
@justinsb is this not fixed per https://github.com/kubernetes/kubernetes/issues/15077#issuecomment-149522898 ? please close if it is, or update with status if it isn't

[2016-02-19 01:51] bprashanth commented on #19127
Sounds like everyone agress this can be closed. Please re-open if that's not the case.

[2016-02-19 01:51] #19127 closed

[2016-02-19 01:59] bprashanth commented on #6084
@saad-ali confirms that if a node is deleted gce should detach the volume, so when the pod gets re-scheduled on another node it'll get the volume. This won't work if the node simply falls off the network, because the volume will remain attached to the node, but that's tracked in various other bugs, so dropping this to next-release.

[2016-02-19 02:01] mqliang commented on #21459
I carefully read the code, but just could not find where the resync logic is. Could you please kindly point it out? It will be very helpful for our trouble shooting. Great thanks!

[2016-02-19 02:06] bprashanth commented on #14443
Bumping this to next-candidate since it doesn't look like we need it for 1.2.0, please reply if this is inaccurate.

[2016-02-19 02:14] bprashanth commented on #19920
So it sounds like we're allowed 40 on AWS but we impose an artificial limit of f->p (https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/aws.go#L877). Why not jump bump it up? @justinsb assuming this is correct, it sounds easy enough to attempt for 1.2? (O(days))

[2016-02-19 02:15] bprashanth commented on #20767
Would be nice to get this in in the 2 weeks we have after 1.2 branch cut, if no more flakes crop up (but I'm not too optimistic). Bumping to next-release.

[2016-02-19 02:17] yujuhong commented on #21459
@mqliang, could you post the version (`kubectl version`) and also describe the problem you found? That'd help narrow down the issue.

[2016-02-19 02:22] pwittrock opened #21522 "e2e-gce flake 'Error waiting for all pods to be running and ready'"
Running in parallel across 30 nodes

Feb 18 18:00:19.598: INFO: >>> testContext.KubeConfig: /var/lib/jenkins/jobs/kubernetes-pull-build-test-e2e-gce/workspace/.kube/config

Feb 18 18:00:19.798: INFO: Waiting up to 10m0s for all pods (need at least 1) in namespace 'kube-system' to be running and ready
Feb 18 18:00:19.872: INFO: The status of Pod fluentd-elasticsearch-e2e-gce-master-1-minion-wo4p is

[2016-02-19 02:22] #15830 closed

[2016-02-19 02:23] #21385 closed

[2016-02-19 02:25] bprashanth commented on #17084
@eliaslevy can you send a pr with your provision-time fix? Is it something like https://github.com/eliaslevy/coreos-kubernetes/commit/992ca32440f82917a910738610a1d7e9b6baba30 ?

[2016-02-19 02:28] bprashanth commented on #13827
Duping this into https://github.com/kubernetes/kubernetes/issues/18019, we also have an lgtm'd pr out

[2016-02-19 02:28] #13827 closed

[2016-02-19 02:35] yujuhong opened #21523 "docker 1.9.1: No available IPv4 addresses on this network's address pools: bridge"
I ran into this issue twice today by running pod creation/deletion tests (100 pods per node).

After reading @aboch's comments in the issues (e.g., https://github.com/docker/docker/issues/18535#issuecomment-164494430), all three issues below have the same root cause.

- No available IPv4 addresses: https://github.com/docker/docker/issues/18527
- Same IP address for different containers: https://gi

[2016-02-19 02:36] bprashanth commented on #9879
I'm going to call this either team csi for https://github.com/kubernetes/kubernetes/issues/9879#issuecomment-112502552 or control-plane for admission controller

@kubernetes/goog-csi

[2016-02-19 02:41] mqliang commented on #21459
The problem I met was: A new created Pod should update it's status from Pending to Running, but the update failed(conflict) at the first time, but kubelet never retry to update it, so the Pod was always `Pending`, but in fact, it works fine on node.

We use V1.0(but we make secondary development on it and add a lot of features, to meet our own usage scenario), so I am not sure the problem is alrea

[2016-02-19 02:43] bprashanth commented on #17647
@jtblin I see we have a pr, can we also update the docs in time for 1.2.0?

[2016-02-19 02:55] #21483 closed

[2016-02-19 02:59] zhouhaibing089 commented on #21473
close it as it works now.

[2016-02-19 02:59] #21473 closed

[2016-02-19 03:08] AdoHe commented on #18760
@lavalamp  will send a PR today.

[2016-02-19 03:12] ethernetdan opened #21525 "Kinds not added to DefaultRESTMapper when using rewritten Kube imports (breaks Godeps, 1.5 vendor experiment, etc)"
Kinds are not being added to DefaultRESTMapper when the Kubernetes import path has been rewritten, something that is commonly done to manage Golang dependencies. This makes it harder to use Kubernetes as a dependency.

The problem is that in NewDefaultRESTMapper, there is a line which skips adding any Kind that's not from an unmodified Kubernetes import path. The path is determined using reflectio

[2016-02-19 03:15] justinsb opened #21526 "AWS: kubectl get service for a LoadBalancer service should include the hostname"
It would be great to figure out a way to include the ELB hostname in the `kubectl get services` output.  The problem right now is that it is too wide, and this would cause the output to wrap and become unreadable.  The workaround is to do `kubectl describe service <serviceid>`.  But this is confusing to users e.g. comments at https://github.com/kubernetes/kubernetes/pull/21145#discussion_r53111858

[2016-02-19 03:22] bprashanth commented on #21523
I think the meta problem is docker made bridge networks persistent across restarts in 1.9 and fixed several bugs between then and 1.10. If we just want the old behavior, we *might* be able to get away with just nuking local-kv.db on each restart. Some questions:

* What does `docker network  inspect bridge` show, 255 ips actually used?
* How often does one hit it with 30 pods per node?
* How hard

[2016-02-19 03:30] bprashanth commented on #21500
I'm retitling this, since none of the master components don't seem to set memory limits. https://github.com/kubernetes/kubernetes/issues/21505 just removes the memory limit from flannel etcd.

@dchen1107 mentioned that we should pick a couple of cluster sizes, profile components and document their cpu/memory (if not set limits), SGTM, if we come up with a list and profiling methodology I'd be happ

[2016-02-19 03:36] bprashanth commented on #21041
SGTM, @saad-ali @justinsb @markturansky I think we should get this in for 1.2.0 (meaning asap) if we're claiming auto provisiong does work (because it doesn't on GCE and AWS right?)

[2016-02-19 03:38] bprashanth commented on #20567
@jeremyeder an update would be good. I haven't had the time to loop back to this, but we did put a couple of fixes in. Most important thing i care about is how much lag do we observe for something like flipping a service to Type=NodePort, till all nodes see and apply this update to iptables.

[2016-02-19 03:41] #17647 closed

[2016-02-19 03:58] bgrant0607 commented on #20199
@soltysh This is more a LimitRange thing than a ResourceQuota thing. It doesn't need to be summed up across multiple resources.

[2016-02-19 03:59] bgrant0607 commented on #20199
I'd like to be able to require that restartPolicy!=Always must have a reasonable deadline.

[2016-02-19 04:43] saad-ali commented on #6084
https://github.com/kubernetes/kubernetes/issues/20262

[2016-02-19 05:05] ArtfulCoder commented on #20670
closed via https://github.com/kubernetes/kubernetes/pull/21362

[2016-02-19 05:05] #20670 closed

[2016-02-19 05:06] ArtfulCoder commented on #18851
diagnosed the test passing mystery https://github.com/kubernetes/kubernetes/pull/21004#issuecomment-186004952

[2016-02-19 05:14] ArtfulCoder commented on #8042
@streamnsight the version of containers to use can be found in
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in

[2016-02-19 05:25] ArtfulCoder commented on #4825
we truncate pod hostname to 63 chars. so we should not have this issue anymore.

[2016-02-19 05:25] #4825 closed

[2016-02-19 05:38] davidopp commented on #14733
Why did you close this? We might want to come back to it later.

[2016-02-19 05:48] gmarek commented on #14733
@bgrant0607  don't want to go this way. He has some other plan for separating Spec from Status, which would be enough.

[2016-02-19 05:50] gmarek commented on #17524
cc @zmerlynn @lavalamp @davidopp @thockin @smarterclayton

[2016-02-19 05:56] bgrant0607 commented on #14733
Changed the title of the issue to be more general.

[2016-02-19 06:03] mikem commented on #19684
@justinsb you nailed it, that's the issue. When I run the command manually there's no `AWS_DEFAULT_REGION` set and it defaults to `ap-southeast-1` (maybe they do IP geo-location). When running `cluster/kube-down.sh` the region becomes `us-west-2a` as you pointed out, and the VPC is not found.

Closing this issue.

[2016-02-19 06:03] #19684 closed

[2016-02-19 06:41] bgrant0607 commented on #17676
See #831

[2016-02-19 06:42] thockin commented on #21523
I'm all for nuking the DB - there's no real value to us in having
consistent IPs across docker restarts, certainly not if it is as buggy as
it sounds.

Is it fixed in 1.10?

On Thu, Feb 18, 2016 at 7:23 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-19 06:50] davidopp commented on #21159
Moving to v1.2 P2 to indicate "nice to have" but not release blocker.

[2016-02-19 06:53] davidopp commented on #20638
Moving to v1.2 P2 to indicate nice-to-have for 1.2 but not blocker.

[2016-02-19 06:54] davidopp commented on #19322
Moving to v1.2, keeping at P2, to indicate "nice to have" for v1.2 but not blocker.

[2016-02-19 06:58] thockin commented on #21493
I don't have any real objection to this, assuming we'll eventually have
grpc linked in anyway, but it's a slippery slope precedent.  Do we add HC
support for other RPC protocols?  On what principle do we say yes or no?

Can we find a way to make this more modular?

On Thu, Feb 18, 2016 at 11:25 AM, Rudi C <notifications@github.com> wrote:

[2016-02-19 07:04] thockin commented on #21437
this is the best news I have heard all week.

On Wed, Feb 17, 2016 at 7:11 PM, Eric Paris <notifications@github.com>
wrote:

[2016-02-19 07:31] OwenChang commented on #16670
same as @runesb

[2016-02-19 07:31] #19623 closed

[2016-02-19 07:31] yuandan commented on #17889
@shilpapadgaonkar , may I know how you resolve this issue? I'm install kubernetes via Fedora(Ansible) and encounter the same issue you mentioned above. Look forward to your reply and thanks in advance!

[2016-02-19 07:34] davidopp commented on #21143
@justinsb IIUC this issue is now moot since you decided to go to Jessie. If so, please close it. Thanks!

[2016-02-19 07:37] davidopp commented on #20280
ping

[2016-02-19 07:40] davidopp commented on #15698
Assigning to @bgrant0607 to find someone to fix it.

[2016-02-19 07:42] davidopp commented on #15050
Moved to P1 to indicate 1.2 blocker, @justinsb please move this (and #21219) to P2 if you think it is not a blocker.

[2016-02-19 07:42] davidopp commented on #9779
@justinsb I moved this to P1, please move it to P2 if you think it is not a release blocker.

[2016-02-19 07:51] xinxiaogang opened #21528 "api-server resource quota validation behaves randomly if multiple quota exists"
I enable `ResourceQuota` in my cluster. I have one namespace `ns-xnxin`. I have 2 quotas created for that namespace:

[code]

Before creating quotas, there are already 3 Pods running under `ns-xnxin`.

Then, I tried to create new Pod two times, but got different response:

[code]

[code]

It seems that api-server do quota validation in a random behavior by the first get quota record.
I think this

[2016-02-19 07:51] davidopp commented on #21217
@zmerlynn

[2016-02-19 07:51] davidopp commented on #21216
@zmerlynn

[2016-02-19 07:51] davidopp commented on #21214
@zmerlynn

[2016-02-19 07:56] mfanjie commented on #21168
This fix breaks cluster/kube-up.sh while kubernetes provider is rather than ubuntu, as the following variables are only defined in ubuntu folder
PROXY_SETTING=${PROXY_SETTING:-""}
DEBUG=${DEBUG:-"false"}
When I run KUBERNETES_PROVIDER=vagrant and run cluster/kube-up.sh

It will fail with error "==> master: [ERROR   ] {'pid': 5871, 'retcode': 1, 'stderr': '/tmppR9bNG.sh: line 21: DEBUG: unbound var

[2016-02-19 08:00] mfanjie opened #21529 "kube-up.sh failed with KUBERNETES_PROVIDER=vagrant"
Steps to reproduce.
1. fetch the latest code from master branch
2. export KUBERNETES_PROVIDER=vagrant
3. make build and run cluster/kube-up.sh
The process will failed on salt setup steps with 3 failures.
==> master: [ERROR   ] {'pid': 5871, 'retcode': 1, 'stderr': '/tmppR9bNG.sh: line 21: DEBUG: unbound variable', 'stdout': ''}
==> master: [ERROR   ] Parent directory not present
==> master: [ERROR

[2016-02-19 08:03] AdoHe opened #21530 "e2e flake: ServiceAccounts should mount an API token into pods [Conformance] [It]"
[https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29340/build-log.txt](https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21369/kubernetes-pull-build-test-e2e-gce/29340/build-log.txt)
[code]

[2016-02-19 08:15] fejta commented on #21517
Any insight into why the docker command failed?

[2016-02-19 08:19] mfanjie commented on #21529
1. from the logs we can see the certificates are not successfully generated with error "DEBUG: unbound variable"
2. check generate-ca-cert.sh, the following codes are around line 21.
if [ "${DEBUG}" == "true" ]; then
	set -x
fi
3. Checking the change history, the change was introduced by #21110, while the DEBUG variable is only defined in ubuntu/configure-default.sh

So the root cause is a general

[2016-02-19 08:26] fgrzadkowski commented on #19228
Thanks @luxas

[2016-02-19 08:29] davidopp commented on #17184
Bumping to next-candidate milestone since we didn't do anything on this for 1.2.

[2016-02-19 08:32] davidopp commented on #13884
Should we close this and just say our next upgrade (whenever that happens) will be to v3?

[2016-02-19 08:32] mfanjie commented on #21529
Talking about the alternative of #21110, I am behind of proxy so this script failed me as well before as it need to get https://storage.googleapis.com/kubernetes-release/easy-rsa/easy-rsa.tar.gz during the cluster boot up time.
And this this not the only place that cluster bootstrapper attempts to connect to external network.
It also require to pull kubernetes addon images from gcr.io as the very

[2016-02-19 08:34] davidopp commented on #11470
This was implemented in #13580

ref/ #11470

[2016-02-19 08:34] #11470 closed

[2016-02-19 08:35] davidopp commented on #9879
Moving to next-candidate milestone

[2016-02-19 08:36] bitchecker commented on #21460
wtf? are you serious?

why you open issue section if you want that issues must be posted on stackoverflow?

[2016-02-19 08:37] davidopp commented on #13110
@erictune I assume this will not be in 1.2, and we should move to the next-candidate milestone? If so, please do so.

[2016-02-19 08:40] wojtek-t commented on #13884
Actually, we should close it, because we did it:
https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/etcd/etcd.manifest#L13

[2016-02-19 08:40] #13884 closed

[2016-02-19 08:42] davidopp commented on #15131
@ihmccreery We're trying to move all of the v1.2-candidate issues to v1.2 or next-candidate. Since the last update on this was Dec 15, I assume we should do the latter? Either way, please move it to one of the other categories. Thanks!

[2016-02-19 08:43] davidopp commented on #5472
Reading through the most recent comments, it sounds like this issue is subsumed by
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/cluster-deployment.md
so I'm going to close this issue.

[2016-02-19 08:43] #5472 closed

[2016-02-19 08:49] #18808 closed

[2016-02-19 08:57] davidopp commented on #16675
@piosz @mwielgus We're trying to move all the v1.2-candidate issues to v1.2 or next-candidate. IIUC this isn't going to be worked on in the next few days. If that is the case, please move it to next-candidate.

[2016-02-19 08:58] davidopp commented on #21166
ping @vishh @mwielgus @piosz

[2016-02-19 09:03] codeb2cc commented on #12520
Any future plan for this?

[2016-02-19 09:06] magicwang-cn commented on #21500
@HardySimpson @magicwang @kevin-wangzefeng @alfred-huangjian

[2016-02-19 09:09] feihujiang commented on #21062
@AdoHe Did you start to work on this?

[2016-02-19 09:15] magicwang-cn commented on #21437
@kubernetes/huawei

[2016-02-19 09:43] fejta commented on #20908
I don't see a lot of evidence that this is related to the Update demo test. From looking at the supervisord artifact logs from two successful runs:

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20959/kubernetes-pull-build-test-e2e-gce/29345/artifacts/

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21509/kubernetes-pul

[2016-02-19 09:49] davidopp commented on #21500
@wojtek-t or @gmarek can one of you take this?

[2016-02-19 09:50] davidopp commented on #21155
@roberthbailey @alex-mohr any thoughts on whether we should also do this for GCE?

[2016-02-19 09:52] #21220 closed

[2016-02-19 09:52] #21380 closed

[2016-02-19 10:03] davidopp commented on #20834
As before, I'd really like to close this issue. As long as all the blockers for 1k nodes are labeled v1.2 milestone, we won't lose track of them. Please make sure they are labeled as such.

[2016-02-19 10:06] davidopp commented on #20219
Thanks a lot @petermd . The other ideas in your fist comment sound good too, but IIUC the PR you wrote (which is now merged) is sufficient for now.

[2016-02-19 10:51] andrewmichaelsmith commented on #13305
We are seeing this quite regularly. Some as yet undiagnosed issues we have with the docker daemon (I suspect https://github.com/docker/docker/issues/13885) leave the `docker ps` in a state where it hangs indefinitely.

We find our pods will stay in "Terminating" and "Pending" (we've seen upwards of 1 day) and the node remains Ready.

Our setup (I don't have a node in this state at the moment, but

[2016-02-19 10:59] jtblin commented on #17647
@bprashanth sure, what do you want me to update in the docs exactly?

[2016-02-19 11:01] jtblin commented on #20280
There hasn't been any 1.2 alpha or beta release since these changes have been merged.

[2016-02-19 11:02] piosz commented on #20925
The test is simulating the real use case:
- service created on top of a group of pods
- user uses service to access the application
- the load is spread across all pods
- hpa observes that the traffic is too high, so decide to increase number of pods
- the load should be then spread across all pods (including the new ones)
- the whole operation should be unnoticeable by users

So we can't send req

[2016-02-19 11:11] gmarek opened #21534 "e2e flake: Deployment [It] deployment should create new pods [reaper]"
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21472/kubernetes-pull-build-test-e2e-gce/29238/build-log.txt

[code]

cc @bgrant0607 @janetkuo

[2016-02-19 11:16] piosz commented on #21166
I'll fix it.

[2016-02-19 11:17] davidopp commented on #12140
I agree that if we have an SLO budget concept that enables us to do same-priority preemptions, we don't need the rescheduler to get pending pods to schedule.

A few random thoughts:

* Even with disruption budget, you still want to minimize number of disruptions. Or to put it another way, you can use more liberal disruption SLOs -- which gives you more flexibility in emergencies -- if you have som

[2016-02-19 11:52] def421 commented on #20673
I had problem with HPA and Pods in state Pending.
Heapster try get CPU utilization from all pods, but failed, because can obtain metrics only for 9 pods from 12 (else 3 pods are in state Pending, because Pods ExedsFreeCPU).
Appear this error:
https://github.com/kubernetes/kubernetes/blob/a3972947cc140cc527d20c955a75a0b7af109a8d/pkg/controller/podautoscaler/metrics/metrics_client.go#L200
and hpa st

[2016-02-19 11:55] alban opened #21536 "examples: guestbook: redis slave cannot sync with master ("Bad protocol from MASTER")"
I am following the instructions in the example "guestbook" on a CoreOS cluster with `GET_HOSTS_FROM=env`:
https://github.com/kubernetes/kubernetes/tree/master/examples/guestbook/

It didn't work for me: redis-master and redis-slave cannot communicate together. I get the following logs for redis-slave:
[code]

Then, it continues looping with the same errors.

At first, I thought that it was because

[2016-02-19 12:02] gmarek commented on #21500
Yes we can. We would be doing it continuously if master node were registered...

I'll spin a self-hosted master and run a Density30 test with `gather-resource-usage` set to true. I'll probably need to slightly modify it to gather resident memory data instead of whatever we had few months back.

[2016-02-19 12:23] wernight commented on #20835
There is another solution which I think would prove a lot more flexible, which is to allow mounting sub-directories. The simplest way I'm thinking of is:

    $ mount /dev/sdX /mnt/sdX
    $ ln -s /mnt/sdX/something/something /my/mount/path

It could probably be done in a Dockerfile but that feels bad because it feels like the Dockerized image has to adapt to Kubernetes and hack around it.

[2016-02-19 12:55] maclof commented on #3760
I have been using the iptables proxy on and off for quite some time and can confirm that the external IPs of clients are still hidden/show cluster IPs.

We've gotten around this so far by running our frontend HTTP/HTTPS proxy running in host network mode so that it sees the source IP address.

[2016-02-19 13:12] deads2k opened #21538 "travis failure on verify-swagger"
I've got several pulls failing travis with errors about this file which I didn't change.

https://travis-ci.org/kubernetes/kubernetes/builds/110367940

[code]

@kubernetes/rh-oncall can you confirm the problem?
@wojtek-t You're usually up early mind taking a look?

[2016-02-19 13:14] deads2k commented on #21538
Opened https://github.com/kubernetes/kubernetes/pull/21539.

[2016-02-19 13:15] deads2k commented on #21538
Looks like this is making all travis runs red (see the PR queue), bumping to p0.

[2016-02-19 13:33] javiercr commented on #3760
@maclof thanks for the feedback. Could you share more info about how your workaround? What do you mean by your HTTP/HTTPS running in host network?

[2016-02-19 13:45] therc commented on #21493
One extreme way to make it more modular is having external plugins (some grpc_ping binary, etc.), but then it's not very different an exec health check. I'm not sure there's anything halfway that would be actually practical to use. I'm assuming that whatever modularity there might be between HTTP/exec checks is already there. As to yes/no criterion, in this case it wouldn't add extra dependencies

[2016-02-19 13:45] maclof commented on #3760
@javiercr we use a pod spec something like this: http://pastie.org/private/zpdelblsob654zif7xus5g

Using host network means that the pod runs in the host machines network, instead of being assigned a cluster IP.

That means when our nginx server binds to port 80/443 it will listen on a host IP and will see the source IP addresses.

[2016-02-19 13:46] #17873 closed

[2016-02-19 13:49] mwielgus opened #21540 "HPA should skip getting metrics for pending pods"
Otherwise it cannot scale down.
cc: @piosz @fgrzadkowski

[2016-02-19 13:50] mwielgus opened #21541 "Kubectl describe horizontalpodautoscaler should print annotations"
Now it doesn't .

[2016-02-19 13:51] mwielgus opened #21542 "HPA should update its status even if metrics getting fails"

[2016-02-19 13:51] mqliang opened #21543 "Rescheduler Proposal Draft: manually rescheduling part"
Rescheduler Proposal Draft: manually rescheduling part
-----

##### Use case 1: manually rescheduling for cluster migration
-----
There are some cases where a batch of nodes need to be temporarily/permanently
removed from kubernetes cluster, for example:

* We want upgrade some node's OS version. Since it's a better choice to upgrade all the nodes in parallel, instead of update one by one, it may

[2016-02-19 13:51] mwielgus commented on #21542
cc: @fgrzadkowski

[2016-02-19 13:51] mwielgus commented on #21541
cc: @piosz @fgrzadkowski

[2016-02-19 13:53] mwielgus commented on #21542
At least update current replcia count. Preferably add error info.

[2016-02-19 13:53] gmarek opened #21544 "integration flake: "nginx-deployment" cannot be updated: the object has been modified [reaper]"
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21537/kubernetes-pull-test-unit-integration/15153/build-log.txt

cc @bgrant0607 @janetkuo

[2016-02-19 13:54] timothysc commented on #21127
@mqliang version?  Is this master?

[2016-02-19 13:58] justinsb opened #21546 "Kubelet should monitor number of inodes, not just disk space"
I hit a problem where a node was reporting healthy, but all docker actions were hanging silently.   e.g. pods were stuck Terminating, couldn't launch pods etc.  I tried restarting Docker, and when I did, Docker failed to start with this error: `Unable to open the database file`

There is a Docker issue: https://github.com/docker/docker/issues/10178

Unfortunately I nuked the machine before I thoug

[2016-02-19 14:01] piosz commented on #20100
We have a basic HPA test which test Heapster. It's nice to have for 1.2 but it's not a blocker.

[2016-02-19 14:02] mqliang commented on #21127
No matter, all version with this patch https://github.com/kubernetes/kubernetes/pull/20269 is ok. I write a benchmark about this. Cache sync time for 30.000 pods take seconds, but for 100, 000 pods, it take minutes, for 300, 000, result was much worse(~10 minutes).  So, this was not a big problem at current stage, but if we want to support a larger cluster, optimization was worth doing.

[2016-02-19 14:04] piosz commented on #17467
If there is no metrics available in HPA the appropriate event is exported, so closing this.

[2016-02-19 14:04] #17467 closed

[2016-02-19 14:05] timothysc commented on #21127
I see, it looks like your patch was merged.

Do you want to close this issue then...

[2016-02-19 14:10] piosz commented on #20673
@def421 #21540 is related to your problem

[2016-02-19 14:11] mqliang commented on #21127
This issue was not a support issue for my patch. But pointing out a potential problem for a larger cluster. No sure whether k8s want support a larger cluster though.

[2016-02-19 14:14] piosz commented on #18566
Is this fixed now?

[2016-02-19 14:18] mwielgus opened #21547 "Create e2e tests for HPA with custom metrics."
Unit tests are already there

[2016-02-19 14:21] #21538 closed

[2016-02-19 14:21] mqliang commented on #21543
I am really interested in cluster migration functionality, I think it could be supported by rescheduler. As for auto-rescheduling functionality for defragmentation, I have not considered a good implementation.

If the cluster migration functionality in this draft looks good, I think it is a good start to implement rescheduler: manually rescheduling functionality was much easier to implement and ve

[2016-02-19 14:29] mqliang commented on #21543
In addition, for auto-rescheduling feature, I think the most important task was designing a good algorithm,
since:
1) I think we want try to kill as little pods as possible when rescheduling.
2) rescheduler should have the ability to trade off between rescheduling and adding new nodes:  if rescheduler must kill a lot of pods to keep resource allocation balanced or a PENDING Pod to scheduled,
it's

[2016-02-19 14:30] piosz commented on #17371
It seems we have pretty good coverage here so closing the issue.

[2016-02-19 14:30] #17371 closed

[2016-02-19 14:34] mqliang commented on #12140
I am more interested in the manually rescheduling functionality, which is very helpful for cluster migration,  I could be a good start to implement rescheduler.

I sent a proposal draft to describe the manually rescheduling functionality. See https://github.com/kubernetes/kubernetes/issues/21543

[2016-02-19 14:47] jeremyeder commented on #20567
@bprashanth I am so sorry -- we had to table the proxy testing because we got a higher priority interrupt.  It's still on the list but not in the current sprint anymore.

[2016-02-19 14:53] bgrant0607 commented on #21544
cc @kargakis @mqliang

[2016-02-19 14:58] gmarek commented on #18566
Not that I know of. Let's discuss it on Monday.

[2016-02-19 14:59] bgrant0607 commented on #15698
We're doing massive surgery to the website. Don't know if/when we'll get to this.

[2016-02-19 15:02] qiancai commented on #18885
Same here. The validator keep complaining that both keyring and secretRef are required.

[2016-02-19 15:03] fgrzadkowski commented on #18352
@mwielgus Updating cAdvisor is not a blocker IMO. Let's open a separate issue with proper priorities and milestones.

[2016-02-19 15:04] andrewmichaelsmith commented on #13305
We've just hit this issue again. `docker ps` is hanging. I can confirm that `docker version` *does not* hang:

[code]

[2016-02-19 15:05] zmerlynn commented on #17524
@gmarek: You're probably some of the most versed in what was actually broken if you want to dive in and help. We never did exactly find a tight repro, but we do need to figure out a roll forward plan at some point.

I do know that 1.4.2 -> 1.4.3 pretty much broke our scalability tests across the board, but I can't speak to why.

[2016-02-19 15:05] gmarek commented on #21500
For 100 Node cluster:
[code]

CPU usage seems a little low for my liking, but that's the data.

[2016-02-19 15:07] fgrzadkowski commented on #18527
@piosz Is this fixed by #20501?

[2016-02-19 15:09] fgrzadkowski opened #21548 "Update cadvisor version in kubelet to allow limiting number of exported custom metrics"
This is a fork from https://github.com/kubernetes/kubernetes/issues/18352#issuecomment-185809326.

@piosz @mwielgus @kubernetes/goog-control-plane

[2016-02-19 15:10] fgrzadkowski commented on #18352
Created https://github.com/kubernetes/kubernetes/issues/21548 and closing this one. E2e tests are covered by https://github.com/kubernetes/kubernetes/issues/21547

[2016-02-19 15:10] #18352 closed

[2016-02-19 15:12] def421 commented on #20673
@piozs Thanks

[2016-02-19 15:12] fgrzadkowski commented on #18527
We now have the following fields:
[code]
and
[code]
I believe this is unified. @piosz please re-open if I'm mistaken.

[2016-02-19 15:12] #18527 closed

[2016-02-19 15:14] fgrzadkowski commented on #18528
@madhusudancs @bgrant0607 AFAIU we agreed that with new reference from HPA object moving Scale object is not a blocker anymore. I'll create a separate issue for it. We still have some blockers we need to work on, but after that we can take a look at scale subresource. Btw - what's left to be done in your PR? Would it be faster if you finish working on it?

[2016-02-19 15:18] fgrzadkowski opened #21549 "Allow Scale type, which is in a different API group, to be registered as a subresource of a api/v1 object"
Fork from https://github.com/kubernetes/kubernetes/issues/18528

@piosz @mwielgus @bgrant0607 @madhusudancs @kubernetes/goog-control-plane

[2016-02-19 15:19] fgrzadkowski commented on #21549
PR https://github.com/kubernetes/kubernetes/pull/20745

[2016-02-19 15:19] fgrzadkowski commented on #18528
@piosz What's left apart from Scale subresource covered by #21549?

[2016-02-19 15:23] gmarek commented on #17524
Yeah - I was going to reply a bit more to this, but I got swamped with v1.2 stuff:/

IIRC (I may mix 1.4.3 with 1.5 issues as they happened close to each other) the repro was trivial - density30 tests on 100 nodes were reliably broken for branch v1.1 - issue was filed by @bprashanth: #19773, and we had an internal tracking bug as well.

I'll be more than happy to help you (@rsc) guys debug it. I g

[2016-02-19 15:34] erictune commented on #15985
Latest is in #21434

[2016-02-19 15:50] fgrzadkowski commented on #20235
Documentation at HEAD that you're referring to is using `v1.2` which already has both images pushed. For older instructions we have older images, which is also ok. I think this means that if someone is using any version of documentation it should be ok.

Closing.

[2016-02-19 16:03] kargakis opened #21551 "Make status info in describe.DescribeContainers optional"
See https://github.com/kubernetes/kubernetes/pull/21341

In order to re-use this helper for describing higher level resources such as replica sets, deployments, daemon sets, etc. we need to make container status info optional since it's only useful if we have the status from a pod. Fanning out a {deployment,rc, rs, ...} to its pods just to get that info is not an option while we are in the describ

[2016-02-19 16:03] kargakis commented on #21551
@kubernetes/kubectl

[2016-02-19 16:05] alex-mohr commented on #20834
Fair enough

[2016-02-19 16:05] #20834 closed

[2016-02-19 16:08] luxas commented on #20235
Yeah, this was fixed when I updated the docs to require `v1.2.0-alpha.7` or newer on `master`

Are a `v1.2.0-alpha.8` on its way btw?

[2016-02-19 16:20] druidsbane commented on #17626
Same issue here, it takes too long after a delete for the ELB to be considered deleted.  Using the 1.1 branch not 1.2.

[2016-02-19 16:30] bprashanth commented on #21523
According to bug reports most persisting-networks-cross-restart problems are fixed in 1.10, but 1.10 also has content-addressable storage. It sounds like quite a few fixes made it into "1.9.2", which was later just converted into a 1.10-rc.

consistent IPs across docker restarts, certainly not if it is as buggy as
it sounds.

I believe the only real reason they persist the bridge network cross res

[2016-02-19 16:38] bprashanth commented on #21500
Nice. IMHO we should start by documenting this, and actually set resource limits in 1.3 (my eager setting of the flannel-etcd memory limit is a lesson to learn from).

[2016-02-19 16:42] gmarek commented on #21500
I'm running bigger clusters now, to have more data, as it's long time since we were checking how big master machines should be. Above shows that 2 core machine for 100 nodes would probably be slightly too small.

[2016-02-19 16:43] gmarek commented on #21500
Note that those are results from a single runs, which already takes way too much time. I'd really, really, really love to have self-registered master, as then we'd gather this data continuously.

[2016-02-19 16:45] devopstiger opened #21555 "Vagrant getting started: provisioning of vm fails with "Failed to run install_fedora_deps()!!!""
I followed the guide [here] (https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/vagrant.md)

The provisioning script fails with this error:

[code]

[2016-02-19 16:48] alex-mohr commented on #21155
@lavalamp too for @kubernetes/goog-csi.

I don't pretend to understand the startup dance of the various master components like etcd,  kube*, etc., though it does seem reasonable to add it to /fstab to me.

I'm also interested in getting us to something other than containervm like trusty and friends and getting rid of as much of the instance-boot dance as possible.

[2016-02-19 16:55] smarterclayton commented on #21551
Easiest check is to use presence in the map as whether to show the status section.  Or to pass a nil map and treat the map as nil.

[2016-02-19 17:08] alexgorbatchev opened #21558 "Improve Node Management documentation"
As a user who just went through the [Getting Started w. Vagrant](http://kubernetes.io/v1.1/docs/getting-started-guides/vagrant.html) guide, it's not obvious (and I mean after an hour of searching I still have no idea how) to provision nodes/minions.

The [Node Management](http://kubernetes.io/v1.1/docs/admin/node.html) page says the following:

It would be very useful for newcomers to see a link o

[2016-02-19 17:12] bgrant0607 opened #21560 "Document API convention for PII"
I'd like to come up with a simple rule about PII in the API, such as:
- The following things are considered PII
  - User object names
  - User labels and annotations
  - Image names
  - Commands, args, env
  - ConfigMap entries
  - Secret entries
- PII shouldn't be recorded in non-namespaced resources (e.g., nodes) other than namespaces themselves

This has come up twice recently.

cc @erictune @s

[2016-02-19 17:26] bgrant0607 commented on #12140
A couple thoughts (not responses to David's points yet):
* Schedulers could be responsible for improving scheduling quality of the pods they scheduled, and another component could be responsible for improving quality metrics on behalf of the cluster, such as improved utilization, reduced fragmentation and stranding, emptying out nodes for large pods or for scaling down, freeing up space on each no

[2016-02-19 17:39] dchen1107 commented on #21555
cc/ @derekwaynecarr

[2016-02-19 17:45] deads2k commented on #21560
I think I have one reservation and one question:
 1. Events.  Right now event validation allows an empty namespace.  Truth be told, I don't know how they're actually stored if they have no namespace, but I think that it is reasonable to have the idea of a cluster level event that contains values for several of those fields including "user object names" and "user labels and annotations".

 2. Audit

[2016-02-19 17:45] jeffmendoza commented on #20949
WIP: https://github.com/jeffmendoza/kubernetes/tree/wordpress-update/examples/mysql-wordpress-pd

[2016-02-19 17:45] alex-mohr opened #21561 "1000 node cluster: GCE api calls have low success rate"
From https://console.developers.google.com/project I see that my project (mohr-instance-manager1, used exclusively for GKE clusters) has 66k successful API requests and 353k errors.  A skim of other kubernetes and GKE projects turns up many that have 10-20% error rates, which isn't the 80% error rate my project is seeing, but it still seems unlikely that's WAI and there's a bug in something that c

[2016-02-19 17:47] brendandburns commented on #21467
@bgrant0607 this is different, since that PR merged and this just flaked again.

[2016-02-19 17:47] bgrant0607 opened #21562 "Secure access to private images on nodes"
Discussion started on #21182.

If an image from a private registry has already been pulled onto a node, is there anything that prevents a pod without access to that registry from referencing and accessing the image?

cc @deads2k @dchen1107

[2016-02-19 17:48] alex-mohr commented on #21561
@wojtek-t @gmarek for 1k nodes

[2016-02-19 17:51] bgrant0607 commented on #21560
Maybe we need an additional qualification like "non-privileged, non-namespaced"?

[2016-02-19 17:52] alex-mohr opened #21563 "1000 node cluster: GCE API rate limit exceeded"
I set up a 1000 node cluster on GKE using standard GCE advanced route networking.  It wasn't possible for @dchen1107 to ssh to a node because gcloud was unable to add her ssh key to the project -- rate limit exceeded.  Note that some other calls like list instances and resizing the MIG were not impacted, so it might be a particular category of API call that's getting rate limited?

We need to make

[2016-02-19 17:52] alex-mohr commented on #21563
@wojtek-t @gmarek @kubernetes/goog-control-plane for 1k nodes and calling GCE api excessively

[2016-02-19 17:52] bprashanth commented on #20949
Oh, no it is, and it's totally fine to do it this way. Just that people need one example they can refer to for "how do i setup a website on kubernetes". Till now that has been wordpress, and wordpress falls short because of the env var simplification because most prepackaged web-app frameworks (eg: django) are configured to point to a db via config file.

[2016-02-19 17:55] yujuhong commented on #21459
Since you don't have a specific version number, I'll use 1.0.7 as an example.

The resyncinterval is used here: https://github.com/kubernetes/kubernetes/blob/v1.0.7/pkg/kubelet/kubelet.go#L1774
The status update will be retried if there are errors in https://github.com/kubernetes/kubernetes/blob/v1.0.7/pkg/kubelet/status_manager.go#L174
What it does is that it deletes the cached pod status in stat

[2016-02-19 17:58] jeffmendoza commented on #20949
Ah I see. Sounds like we need a django example.

[2016-02-19 18:01] gmarek commented on #21563
I don't think we have. I'll try to add this on Monday.

[2016-02-19 18:02] lavalamp commented on #17524
Yeah, we should try a repro first. Clearly we can't stay on go1.4.2 forever, so we're very interested in tracking this down. ...we're also in the middle of getting a release out the door, though.

[2016-02-19 18:02] bgrant0607 commented on #21544
I'll take a look at this one.

[2016-02-19 18:07] bprashanth opened #21564 "E2e cluster leaks master-pd when it hits a startup failure"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/792 failed with:
[code]

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/793 found `e2e-ingress-master-pd`:
[code]

And every run after 793 failed because of the master-pd. @kubernetes/goog-testing

[2016-02-19 18:08] thockin commented on #21560
Events without a namespace get stuck into "default".  It is ... Sort of
ugly.
On Feb 19, 2016 9:45 AM, "David Eads" <notifications@github.com> wrote:

[2016-02-19 18:10] jeffmendoza commented on #18640
@carlosrdrz Looks like #21327 was merged, can this be closed?

[2016-02-19 18:11] alex-mohr commented on #21563
FWIW, some initial internal numbers show we did 1136411 compute.instances.get, 966858 compute.routes.insert, and 11360 compute.routes.list.  I thought I had used a version of k8s that included @cjcullen 's #21172 and #21012 patches, but perhaps not.  I'll repro using a build from 9am today.

[2016-02-19 18:12] gmarek commented on #17524
I'm afraid that I'll have time after we release 1.2, as there's too much stuff going on right now:/

[2016-02-19 18:12] bgrant0607 commented on #21544
Failure looks like it's in the reaper:
[code]
cc @soltysh

[2016-02-19 18:13] bprashanth commented on #21564
GCS archives:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-ingress/792/

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-ingress/793/

[2016-02-19 18:14] alex-mohr commented on #21563
@gmarek found a way to see method calls: go to console, API Manager, Enabled APIs, Google Compute Engine, Usage, and toggle the "Response Codes" dropdown to be "Methods".

[2016-02-19 18:15] bgrant0607 commented on #21544
Paused is set to true with no retry:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go#L409
[code]

[2016-02-19 18:15] thockin commented on #21493
We actually have a sidecar container that makes exec into http, dodging a
docker bug (sigh).  I actually like this pattern - the core of Kube stays
simple, with just a few built-in options, and anyone can extend it by
building a new sidecar container.  It also means we have precedent for
saying "no" to niche feature requests, which is becoming more important as
we mature the product.

So that said

[2016-02-19 18:17] MikeSpreitzer commented on #21168
@mfanjie: I do not understand.  I have not tried KUBERNETES_PROVIDER=vagrant and run cluster/kube-up.sh, can you please clarify what is going wrong.  This PR (#21170) affected only files in cluster/ubuntu/; are you saying that some of them are used when KUBERNETES_PROVIDER=vagrant?  This PR did not introduce PROXY_SETTING or DEBUG.

[2016-02-19 18:18] carlosrdrz commented on #18640
Yep, looks like it has been solved!
Thanks for working on this :)

[2016-02-19 18:18] #18640 closed

[2016-02-19 18:20] dchen1107 commented on #21546
@justinsb I agreed with you that kubelet through cAdvisor should detect out-of-resource including inodes issue and propagate it. But currently we froze the api between cAdvsior and Kubelet and plan to do major refactory at 1.3 timeline. https://github.com/kubernetes/kubernetes/issues/18770

For 1.2 release, we can document it as a known issue: #21000.

cc/ @timstclair @vishh

[2016-02-19 18:20] lavalamp commented on #21475
Is it possible this is the docker thing?

[2016-02-19 18:21] bgrant0607 commented on #21544
@kargakis @soltysh Does one of you have time to fix this?

[2016-02-19 18:21] yujuhong commented on #21523
No, only ~92 ips were used around that time.

I have no idea how often this hits with 30 pods per node.

I did all three: GC'd all containers, deleted /var/lib/docker/network, and restarted docker. It didn't work.
Someone said nuking everything in /var/lib/docker worked: https://github.com/docker/docker/issues/18527#issuecomment-172232647

According to https://github.com/docker/docker/issues/18535

[2016-02-19 18:22] alex-mohr commented on #21563
... and why are there so many compute.instances.get calls?  If it's the master, can it get by with a compute.instances.list?  And if the kubelet making them, perhaps we can either throttle that rate down or change the logic to rely on the master instead?

[2016-02-19 18:24] nikhiljindal commented on #19732
Failed again

[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21516/kubernetes-pull-build-test-e2e-gce/29275/?debugUI=CLOUD

[2016-02-19 18:24] lavalamp commented on #20570
@ncdc-- :(

[2016-02-19 18:24] ncdc commented on #20570
@lavalamp this is actually the call to `kubectl logs` that's timing out

[2016-02-19 18:25] ncdc commented on #20570
Although maybe that means port forwarding is messed up... not sure yet. I'm still researching the logs.

[2016-02-19 18:25] madhusudancs commented on #21549
This issue and a whole lot of Deployments and ReplicaSet code that is commented out due to its dependency on Scale subresource.

That, I am not sure. We should discuss this together.

cc @bgrant0607 @lavalamp

[2016-02-19 18:27] bprashanth commented on #21523
We need to figure out a reliable repro, with whatever max-pods we're going to ship with, to understand the impact. @kubernetes/goog-node what's the chance of just going back to 1.8?

[2016-02-19 18:28] mikedanese commented on #20489
After two days of observation, it appears the leak is fixed. I attribute this to a leak on master that was plugged (e.g. #20098) and that we never cleaned up in gce-upgrade.

[2016-02-19 18:28] #20489 closed

[2016-02-19 18:28] gmarek commented on #21563
I think some of it may be NodeController that queries cloud provider every sync period, but it seems way to much for NodeController itself. Does Kubelet communicates with cloud provider in any way? @dchen1107

[2016-02-19 18:28] wojtek-t commented on #21451
Another instance:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21016/kubernetes-pull-test-unit-integration/15212/build-log.txt

[2016-02-19 18:29] lavalamp commented on #21484
#17493 merged recently, but it looks like after this flake happened, so it shouldn't be the cause.

[2016-02-19 18:30] vishh commented on #21546
@dchen1107: Tracking inodes for the root filesystem that docker is using
should be OK for v1.2. WDYT?

On Fri, Feb 19, 2016 at 10:20 AM, Dawn Chen <notifications@github.com>
wrote:

[2016-02-19 18:30] lavalamp commented on #20570
@ncdc thanks for quick response!!

[2016-02-19 18:31] dchen1107 commented on #21546
Chatted with @vishh offline. We are going to report inode limit and usage on root filesystem to protect the node itself.  @vishh will try to get this into 1.2 release. But deferred the rest to next release.

[2016-02-19 18:31] bgrant0607 commented on #21467
[code]

Could be the same problem as #21544

[2016-02-19 18:32] spxtr commented on #21138
That the runs are timing out is not an issue, that's intended behavior. Some test is putting the cluster into a bad state and causing lots of other tests to fail or timeout. Timing them out is the correct thing to do in this case.

The real issue is why it's so hard to debug. It looks like ginkgo isn't giving us logs from the tests that got killed by Jenkins, and Jeff is looking into that. It's a

[2016-02-19 18:32] janetkuo commented on #21467
There's another different failure:
[code]

[2016-02-19 18:33] spiffxp commented on #21512
cc @kubernetes/sig-testing

[2016-02-19 18:33] a-robinson commented on #21523
cc @zmerlynn @alex-mohr @roberthbailey

[2016-02-19 18:34] bgrant0607 commented on #21534
This is another failure on delete. Same issue as #21544.

cc @kargakis @soltysh @mqliang

[2016-02-19 18:35] bgrant0607 commented on #21544
Several tests appear to be failing due to this.

[2016-02-19 18:35] bgrant0607 commented on #21467
@janetkuo That failure mode was reported on #21491

[2016-02-19 18:36] bgrant0607 commented on #21467
@janetkuo No, sorry, that's a different one.

[2016-02-19 18:36] nikhiljindal commented on #21234
Should be fixed by https://github.com/kubernetes/kubernetes/pull/21470 from @deads2k

[2016-02-19 18:36] lavalamp commented on #21522
There's an obvious shadowing bug preventing the actual error message from being shown; I'll send a fix for that.

[2016-02-19 18:37] alex-mohr commented on #21563
FYI in the middle of turning up a new 1k node cluster using today ~9am cut.

- https://console.developers.google.com/home/dashboard?project=mohr-instance-manager1 shows API rate increasing to 118 qps so far.
- https://console.developers.google.com/compute/instanceGroups/list?project=mohr-instance-manager1
reports "API rate limit exceeded. Rate limit may take several minutes to update if Google Com

[2016-02-19 18:37] spiffxp commented on #20738
I'm fine punting to v1.2-candidate, seems like that's where "nice to have" issues are going, which is about where this sits on my current heap (unless there are any other takers)

[2016-02-19 18:37] ncdc commented on #20570
Odd, I don't (yet?) see anywhere in the logs indicating that kubectl attempted to get logs for pfpod...

[2016-02-19 18:38] bgrant0607 commented on #21490
test/e2e/deployment.go:168

delete bug again. Same as #21544 and others.

cc @soltysh

[2016-02-19 18:39] bgrant0607 commented on #21467
#21463 is the other one with "old replica sets are not fully scaled down"

[2016-02-19 18:40] guoshimin opened #21566 "Proposal: Required node selector labels for pod creation"
## Problem statement

Sometimes you want to partition your nodes into different pools, because they have different properties. For example, they may have different networking setups, different hardware, or may be owned by different sub-divisions inside an organization. It's common to delineate these features with node labels. And it's common for an organization to have some policies regarding what

[2016-02-19 18:41] deads2k opened #21568 "RESTMapper broken by hpa.autoscaling"
The HPA that was registered in autoscaling (https://github.com/kubernetes/kubernetes/pull/20501) only "worked" because of a bug in the `MultiRESTMapper` that chooses winning groups based on the order of package import evaluation.

https://github.com/kubernetes/kubernetes/pull/21272 provides a fix to this problem by allowing ordering, but because of the ambiguity it should merge with https://github

[2016-02-19 18:43] ncdc commented on #20570
Never mind, found it

[2016-02-19 18:44] dcbw commented on #20096
Still can't quite get there...  on a 12-core Xeon system with gobs of RAM and RHEL 7.2 (3.10.0-327.el7), with docker running with --userland-proxy=false (to enable hairpin mode):

[docker-stress (master)]$ ./docker-stress -c 6 --containers 500
INFO[0568] ran 507 containers in 568.58 seconds (0.89 container per sec. or 1.12 sec. per container)
INFO[0568] failures 0
[root@wsfd-netdev27 dcbw]# ./dock

[2016-02-19 18:44] bgrant0607 commented on #21463
This is a check in waitForDeploymentStatus:
[code]

[2016-02-19 18:45] ihmccreery commented on #20235
Yes; @david-mcmahon is cutting one today, I believe.

[2016-02-19 18:46] janetkuo commented on #21467
This failure is also related to DeploymentReaper.Stop.

[2016-02-19 18:47] lavalamp commented on #21568
will do, thanks.

[2016-02-19 18:48] deads2k commented on #21560
I think that would do for me.  I can also see trying to avoid exposure unless the reverse lookup capability is absolutely required (like the event case).

[2016-02-19 18:50] yujuhong opened #21570 "Support 100 pods per node"
This is a meta issue for aggregating the TODO items to support 100 pods per node.

- [x] change kubelet default parameters to match the new capability
- [x] change how container garbage collection works to ensure we don't leave 200 dead containers lying around when there are only a few pods running (#8347)
- [x] add e2e tests to ensure kubelet can reliably runs 100 (pause) pods per node
- [x] ensu

[2016-02-19 18:50] ncdc commented on #20570
I take that back. I see other e2e port forwarding tests with pod log requests (i.e. other namespaces), but the apiserver log doesn't have any record of the namespace associated with the failed test for a pod log request.

I see this command in the build log:

[code]

I see these 2 pfpod log requests:

[code]

And those correspond to the other 2 pfpod test cases in test/e2e/portforward.go. But for

[2016-02-19 18:50] lavalamp commented on #21522
As for the actual problem here, I will assign to @dchen1107 on the theory that this is related to other issues where nodes seem to not come up.

[2016-02-19 18:51] jeffmendoza commented on #15251
Looks like in the guestbook we are currently only using "redis" from the dockerhub:

[code]

Also, lets use #10352 to track moving example docker images over to gcr.io

[2016-02-19 18:51] bgrant0607 commented on #19299
cc @kargakis @mqliang

[2016-02-19 18:52] bgrant0607 commented on #19732
The "cannot be updated" problem is the same delete/reaper bug as most of the other test failures, such as #21544.

[2016-02-19 18:53] dchen1107 commented on #20908
I will take a look at this one along with other node NotReady issues together.

[2016-02-19 18:55] #20078 closed

[2016-02-19 18:55] justinsb opened #21571 "AWS: Bump docker to 1.9.1 for k8s 1.2"
We are standardizing on 1.9.1 for k8s 1.2

[2016-02-19 18:57] bgrant0607 commented on #21463
test/e2e/deployment.go:649

[2016-02-19 19:05] roberthbailey commented on #21155
@zmerlynn helped build the master pd dance and may have some input as well.

[2016-02-19 19:10] therc commented on #21493
The sidecar container (I just contributed a patch to make it stop spamming logs...) is nifty, but also one more ~6MB thing you need to set up and monitor, since it's an additional POF. And another layer when debugging issues. Services like Datadog charge you by the container, not the pod. I'm not counting the extra connections, cycles and latency. :-) And if you don't let your nodes fetch random s

[2016-02-19 19:14] luxas commented on #20235
@david-mcmahon Please merge this first #21557!!

[2016-02-19 19:16] mml commented on #21543
Use case 1 is what we'd generally call draining for maintenance.  The maintenance might be for software or hardware reasons, but in any case you just want to gracefully remove all the work from nodes so you can do something to them.  In this case, there's no *re*scheduling, per-se.  You simply mark the node as unschedulable, delete the pods following whatever rules are appropriate, and you're done

[2016-02-19 19:18] zmerlynn commented on #21523
What are the chances of validating 1.10? :)

[2016-02-19 19:20] lavalamp commented on #20570
@ncdc We only print log messages when the request *finishes*, so if the request didn't finish, we wouldn't see a log message for it.

[2016-02-19 19:20] ncdc commented on #20570
I've done some local testing and it looks like the reason the "missing" `kubectl logs` request isn't logged is because it's still in progress. I sent `SIGQUIT` to my kubelet and I can see 2 outstanding goroutines that looks like this (I had 2 timeouts in my local test):

[code]

Next step is to check what's going on with the pfpod containers

[2016-02-19 19:23] pwittrock commented on #14783
tl;dr: cadvisor+heapster have been moved, and a kubelet e2e ci has been setup.  Things are pretty good, but work to continue to improve the job flakiness and visibility is required.

Milestones:
- cadvisor + heapster CI moved to k8s jenkins CI project
  - In progress PR to convert to yaml #21489 - blocked on decision as to if we put the docker credentials id in github.com (not actual credentials,

[2016-02-19 19:23] #14783 closed

[2016-02-19 19:24] janetkuo commented on #21544
Filed #21572

[2016-02-19 19:24] gmarek commented on #21500
For 300 Node cluster:
[code]

It's strange that everything grew ~2x.

[2016-02-19 19:26] jayunit100 opened #21574 "K8PetStore: Update to use contexts or ns create"
Looks like nodeport impl needs ns context properly... something is not working the right way on nodeports. just noticed this yesterday.  Related to the wave of example patches #20999 that need to be put in although its not an actual failure   (since the e2e's use framewoork, theyre immune).

[2016-02-19 19:29] ihmccreery commented on #18422
Reassigning to @bgrant0607 as reviewer of #18562

[2016-02-19 19:31] ihmccreery commented on #17536
Removing myself as assignee, since this won't happen until #18162.

[2016-02-19 19:31] ihmccreery commented on #14763
I'm closing this in favor of #10548.

[2016-02-19 19:31] #14763 closed

[2016-02-19 19:35] ihmccreery commented on #10548
With #20996 in, there are now instructions on, when branching a release series, how to do an audit of `[Feature:...]` tests (along with a tool to make it a bit easier), so I'm closing this as complete.

[2016-02-19 19:35] #10548 closed

[2016-02-19 19:39] bgrant0607 commented on #21261
Recent e2es have failed with this symptom.

[2016-02-19 19:39] ihmccreery opened #21575 "PR builder finished running tests, succeeded, didn't post green on PR"
For http://pr-test.k8s.io/20833/kubernetes-pull-build-test-e2e-gce/29032/.

In the build-log, I see:

[code]

But in the PR, the line item for **Jenkins GCE e2e** still says "Build started sha1 is merged."

[2016-02-19 19:40] ihmccreery commented on #21575
(This is all 2 days after the build finished, so this is a hang, not a transient issue of some kind, I think.)

[2016-02-19 19:41] ihmccreery commented on #21575
Oh, perhaps this is important: that PR's based against `release-1.1`, not `master`.

[2016-02-19 19:50] lavalamp commented on #15493
@jackgr yes, your understanding is correct. Do you have time to fix this? We're trying to get all our tests fixed. Additionally this sounds like a legit system bug, not just a flaky test problem.

[2016-02-19 19:58] piosz commented on #18527
I can confirm that it's fixed by #20501

[2016-02-19 19:59] jackgr commented on #15493
@lavalamp Maybe. Swamped right now, but can fit it in given enough notice. When is the fix needed?

[2016-02-19 20:00] deads2k commented on #21234
@derekwaynecarr fyi

[2016-02-19 20:01] lavalamp commented on #21484
Huh, somehow we returned a 0 status code.

[code]

[2016-02-19 20:02] ncdc commented on #20570
More info:

1. Docker container has stopped
2. Pod is showing Completed
3. `kubectl logs -f` is still running
4. kubelet has a log entry for containerLogs for the pod
5. kube-apiserver has a log entry for logs for the pod

I'm not sure why kubectl is still running given the above

[2016-02-19 20:05] lavalamp commented on #15493
@jackgr asap. We'll find someone else.

[2016-02-19 20:06] markturansky commented on #21041
Yes, if we want provisioning as a feature in 1.2, we need to fix this.

@jsafrane created #21386 as a potential fix.

[2016-02-19 20:07] bprashanth commented on #15493
This should just be a generic GET/Update retry loop, eg: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller_utils.go#L53

[2016-02-19 20:10] bgrant0607 commented on #8830
@hongchaodeng: This is the top cause of need to rebase, which slows down everything tremendously

[2016-02-19 20:10] piosz opened #21577 "HPA in GA step 2"
- [x] migrate internal types to autoscaling/v1 #25279
- [x] migrate all controllers to use HPA in autoscaling/v1 version instead of extenions/v1beta1 #25279
- [x] add generator to kubectl #26775
- [x] deprecate HPA in extensions/v1beta1

Should be done for 1.3

Follow up #18528

[2016-02-19 20:11] piosz opened #21578 "HPA in GA step 3"
remove client support for HPA in version extensions/v1beta1

Follow up #18528

[2016-02-19 20:12] piosz commented on #18528
#20501 is in, created issues with work needed for 1.3 and 1.4, so closing the issue

[2016-02-19 20:12] #18528 closed

[2016-02-19 20:12] piosz commented on #18528
Thanks everyone for the help!

[2016-02-19 20:12] jackgr commented on #15493
Go for it.

Jack Greenfield | Google

On Fri, Feb 19, 2016 at 12:07 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-19 20:14] bgrant0607 commented on #20916
Just encountered this again.
Buckets/kubernetes-jenkins/pr-logs/pull/21576/kubernetes-pull-build-test-e2e-gce/29449

[2016-02-19 20:17] david-mcmahon commented on #15560
I'm in the process of rewriting our release tooling, in bash.
There's nothing wrong with bash for release and build tooling.  Bash is used widely for this purpose.  Writing good bash is hard but should be the goal.  I'm happy to take on more of this over time.
I'm not sure writing all of the build tooling in a lower level language like go is best, though pieces of it in go or another language can

[2016-02-19 20:25] david-mcmahon commented on #16815
djmm-kubernetes (master)$ fgrep -Ir gitMinor *
hack/lib/version.sh:      $(kube::version::ldflag "gitMinor" "${KUBE_GIT_MINOR}")
pkg/version/base.go:	// TODO: Deprecate gitMajor and gitMinor, use only gitVersion
pkg/version/base.go:	gitMinor string = "" // minor version, numeric possibly followed by "+"
pkg/version/version.go:		Minor:        gitMinor,
release/cut-official-release.sh:  $SED -ri -e

[2016-02-19 20:27] bgrant0607 commented on #21491
This is not necessarily the cause of this problem, but we shouldn't have updates w/o retries:
[code]

[2016-02-19 20:29] bprashanth commented on #20910
I looke through about half of those, and they seemed to be node not ready with the characteristic symptom of:
[code]
Right after the test. So my time is probably better spent root causing node not ready failures on other bugs before going down any Services rabbit hole.

There are a handful where the build timed out (presumably because of the slow test, which was polling on a node not ready), @fejt

[2016-02-19 20:29] bgrant0607 commented on #21491
There are 5 updates w/o retries in deployment.go.

[2016-02-19 20:29] bprashanth commented on #20910
Oh and in the cases where node isn't ready supervisord logs show a crashlooping docker.

[2016-02-19 20:30] ixdy commented on #21564
It looks like cluster teardown is not working properly. It's not deleting all resources. Note:
[code]

and then
[code]

Teardown should have destroyed `e2e-ingress-master-https` and `e2e-ingress-master-pd` but it did not.

[2016-02-19 20:33] erictune opened #21579 "Not enough information in Jenkins unit/integration failure message on PR page."
When a test fails unit/integration, I see this:

![image](https://cloud.githubusercontent.com/assets/8105590/13188094/2b59b2e2-d704-11e5-89ca-0d220e46c7aa.png)

Then I have to
1. click on details,
2. wait for GCS browser to load
3. remember to click on "artifacts" if that dir is present, or build-log.txt if not.
4. if "artifacts", open each xml file and find the one that has a failure and what tes

[2016-02-19 20:39] ixdy commented on #21564
It seems that `detect-node-names` in `cluster/gce/util.sh` is failing somehow (and aborting teardown), though I'm not immediately able to tell how. Anyone want to investigate further?

[2016-02-19 20:41] mikedanese commented on #21129
I'm looking at this today

[2016-02-19 20:41] bgrant0607 commented on #21491
Ref #21479

[2016-02-19 20:42] lavalamp commented on #21479
@caesarxuchao and @krousey-- this seems pretty easy to add to generated clients. Let's do it for 1.3.

[2016-02-19 20:43] bgrant0607 commented on #21491
I wonder if this could also be related to #21576

[2016-02-19 20:47] caesarxuchao commented on #21479
Is this necessary if we add patch to generated clients?

[2016-02-19 20:48] bgrant0607 commented on #21479
@caesarxuchao We should have a retry helper for patch also. :-)

[2016-02-19 20:52] ixdy commented on #21564
I'm having trouble getting `detect-node-names` to fail in isolation, but based on the output we're seeing, that's the only place this can really be failing.

We've run into issues with this function before (e.g. #18889) so there might still be some faulty logic somewhere? Though I'd expect this to fail in isolation in that case...

[2016-02-19 20:55] zmerlynn commented on #21155
Actually @a-robinson did the initial work there.

The main problem is that GCE PDs (I don't know if this is different in AWS?) are unformatted, so at least on cluster creation, we have to come up, format and mount them. I don't think we can easily move it inside `/etc/fstab` until after first boot.

[2016-02-19 20:56] wojtek-t commented on #20787
Another instance:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/21016/kubernetes-pull-build-test-e2e-gce/29454/build-log.txt

[2016-02-19 20:56] bgrant0607 commented on #21491
This test is racy. It pauses, deletes the latest ReplicaSet, confirms that the Deployment is paused, then confirms that the latest ReplicaSet wasn't recreated.

Without generation/observedGeneration, there's no way to confirm that the controller has actually paused.

[2016-02-19 20:56] bprashanth commented on #21261
@ixdy can't tell without system logs which we don't seem to collect when build times out.

@dchen1107 there were quite a few cases of node not ready in https://github.com/kubernetes/kubernetes/issues/20910#issuecomment-185989517, docker was crashlooping. And at least the first few weren't the hung task kernel bug from dmesg.log. I'm collecting docker.log in (https://github.com/kubernetes/kubernete

[2016-02-19 20:58] bgrant0607 commented on #21491
The test does confirm that a Deployment created as paused doesn't create a ReplicaSet.

[2016-02-19 20:58] colhom opened #21582 "Kubectl needs export and import commands"
It would be very use for kubectl to be able to export all api objects in a namespace from a running cluster to JSON/YAML files, and import that state from files  to another cluster.

This fuctionality can currently be hacked out of kubectl for specific use cases by transforming the output of `kubectl get -o=json all`, switching contexts, and feeding the fixed-up JSON back into `kubectl create`. Yo

[2016-02-19 21:08] #21433 closed

[2016-02-19 21:08] thecanadianbaker commented on #16836
I am also experiencing the same issue following the same guide as @dmcnaught. Not sure if you would prefer us to necro this issue or open a new one...

[2016-02-19 21:08] soltysh commented on #20199
@bgrant0607 agreed

[2016-02-19 21:12] lavalamp commented on #21479
Yeah, the retry loop for patch and update could take the same function. Actually they could just be the same, and have a patch or update parameter. There's not much difference between them!

[2016-02-19 21:13] ihmccreery commented on #15560
Agree.

[2016-02-19 21:13] #15560 closed

[2016-02-19 21:16] ihmccreery commented on #16815
Nothing, as far as I'm concerned.  I'd also like to see it disappear from the version string entirely, though.  That's an API change, I think, so would need approval from @kubernetes/kube-api

[2016-02-19 21:25] ncdc commented on #20570
I have fixed the timeout locally, but I'm now running into some flakes where the expected log output isn't there. Still digging...

[2016-02-19 21:27] HardikDR commented on #12455
@davidopp  @vishh #12952 is closed now.
1. Are we waiting on some other issue ?
2. Why can't we just use the recent metrics from Heapster http endpoint.
    Eg: heapster/api/v1/model/nodes
3. Can we add 2 more metrics , DiskIO and NetworkIO , taking it from cAdvisor of all nodes(per-node stats is not available in Heapster). It can be used for better scheduling.
Please guide.

[2016-02-19 21:35] a-robinson commented on #21155
If I understand correctly, new EBS volumes also start unformatted, and it looks as though something like #21165 would still let us automatically format the disk on initial startup because the fstab entry wouldn't exist on the first boot.

[2016-02-19 21:37] a-robinson commented on #21155
Although if there is some sort of race among services starting up on boot, we'll still hit that problem on the initial boot, and on the initial boot of each recreated master VM if we tear it down and bring it back up with the same disk/IP for upgrades.

[2016-02-19 21:44] dchen1107 commented on #21522
@lavalamp How do you think this might be related to node not come up? From the initial message, all I can see is that fluentd pod on a node ( fluentd-elasticsearch-e2e-gce-master-1-minion-wo4p) is not ready.

[2016-02-19 21:45] derekwaynecarr opened #21584 "Rename ResourceList to ResourceMap"
See discussion: https://github.com/kubernetes/kubernetes/pull/19761#discussion_r53420265

[2016-02-19 21:51] bgrant0607 commented on #16815
/version is under API contract and, sadly, that's not a versioned API currently. There would have to be a super-compelling reason to change it.

[2016-02-19 21:52] lavalamp commented on #21353
* The runtime-config setting needs to make it into the file's name (or hash or whatever we're using).
* as a temporary hack, kubectl could re-get the file if validation fails for the type not found reason.

[2016-02-19 21:54] lavalamp commented on #21463
Another: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/21581/kubernetes-pull-build-test-e2e-gce/29464/

[2016-02-19 21:55] david-mcmahon commented on #16815
This looks to have more far reaching effects.  Lowering to P3 for now.  I suspect this can be simply closed now, however.

[2016-02-19 22:00] YnR opened #21585 "Command line prompt for help command is poorly organized"
REPRO: Mac OS X, kubectl 1.1.3
Type `kubectl help`

CURRENT
List of commands is in no perceivable order

EXPECTED
List of commands in alphabetical order

[2016-02-19 22:02] YnR opened #21587 "kubectl help prompt does not expose command for deploying multi-container pods"
When reading the list of commands for kubectl, it lists "run" for deploying a single container image to a pod, but not how to do the same thing for multi-image pods.

[2016-02-19 22:05] dchen1107 commented on #21244
more today:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11887/

[2016-02-19 22:08] YnR opened #21588 "When deploying new pod to cluster, provide blocking process option to get notified when it is done and where it fails."
CURRENT
Run the `kubectl create -f ./pod.json` command (with pod file)

CURRENT
Returns right away, but if not sure if it is done or if something wrong happens
Need to figure out how to inspect the state of the pods e.g. `kubectl get pod [pod_name]` or `kubectl describe pod [pod_name]`
Need to call  `kubectl get services [pod_name]` repeatedly until it is created

EXPECT
Can make the call and keep

[2016-02-19 22:10] ixdy commented on #21451
One possibility is that we run everything in http://blog.yohanliyanage.com/2015/05/docker-clean-up-after-yourself/ daily, specifically
[code]

We've been doing this for a while without any issues, but started seeing failures this week after upgrading to docker 1.9.1.

I'm not sure if it's related, but I'll try disabling this cleanup cron job to see if it makes the failures go away.

[2016-02-19 22:13] YnR opened #21589 "kubectl command does not support delete <pod_name> command"
REPRO
deploy pod with name **pod_name** using json description
try to delete pod with `kubectl delete pod_name`

CURRENT
Does not work
Need to run `kubectl delete -f pod_definition_file`

EXPECTED
Deletes the pod with that name

[2016-02-19 22:14] ixdy commented on #21451
OK, docker cleanup is disabled everywhere. If we see any new failures, then it's something else. If the failures seem to go away, then the docker cleanup is likely to blame.

[2016-02-19 22:15] janetkuo commented on #21491
Filed #21586 to fix this

[2016-02-19 22:16] janetkuo commented on #21490
#21572 should fix this

[2016-02-19 22:16] janetkuo commented on #21534
#21572 should fix this

[2016-02-19 22:16] ixdy commented on #21451
That said, have we seen this anywhere *besides* PR Jenkins? It may be the case that parallel unit test builds are interfering with each other; not sure why it just suddenly started, but again docker 1.9.1 is a possible cause.

[2016-02-19 22:16] janetkuo commented on #21467
#21572 should fix this

[2016-02-19 22:17] janetkuo commented on #19732
#21572 should fix this

[2016-02-19 22:29] derekwaynecarr commented on #21234
@deads2k - thanks for the heads up... i will make the corresponding change to the quota admission handler.

[2016-02-19 22:33] mml opened #21591 "hack/e2e.go is inconsistent about checking version skew"
If you run `go run hack/e2e.go -v --isup` the script runs `kubectl version`.

If you run `gu run hack/e2e.go -v --test` the script runs `kubectl --match-server-version version`.

Both commands are calling the same function, `IsUp()`, but in the first case we check if the cluster is up before evaluating `--check_version_skew`, which defaults to true.

[2016-02-19 22:37] MikeSpreitzer commented on #21168
@mfanjie I tried running kube-up.sh with the Vagrant provider, but ran into a different (and much prior) problem; see https://kubernetes.slack.com/archives/kubernetes-users/p1455920824002734 --- any help would be appreciated.

[2016-02-19 22:37] freehan commented on #21029
Looks like the docker client we are using does not have timeout for pulling image

https://github.com/fsouza/go-dockerclient/blob/master/image.go#L283
https://github.com/fsouza/go-dockerclient/blob/master/client.go#L485

Probably need to enforce timeout and retry on our end. @yujuhong @dchen1107

[2016-02-19 22:38] alex-mohr commented on #21561
Primary reason for sustained API errors appears to be that the route controller does not seem to notice that routes already exist, given the following API calls to the GCE API today:
[code]
Note that only the 409 alreadyExists count is steadily increasing; the two rateLimitExceeded were during cluster creation.

Who owns routecontroller?

[2016-02-19 22:39] lavalamp commented on #21114
That's the condition for which the example test code can be put in package
`example_test`. Then it can import both example and the example mock.

On Thu, Feb 18, 2016 at 3:09 PM, Tim St. Clair <notifications@github.com>
wrote:

[2016-02-19 22:47] ihmccreery commented on #20925
I'm skeptical that we favor "real-life-ness" over determinism in our testing.  I've sent #21594 to alleviate the problem, but I still think this test should be written differently.

[2016-02-19 22:47] bprashanth opened #21595 "Keep track of config-map update latency"
We bumped a timeout to 5m in: https://github.com/kubernetes/kubernetes/pull/21573. At that time, it was thought to cause test failures for reasons unknown. That is a hard timeout to second guess, because it depends on both the kubelet sync period, and the pod worker for a specific pod being idle. This bug is to actually track that we don't always take 5m to transmit a modification of a config map

[2016-02-19 22:48] yujuhong commented on #21085
Again, hitting the same problem after the "no available IPv4 addresses" problem (#21523).

After running into the IPv4 problem, I ran `docker ps -a` and saw ~10 infra containers in the "dead" status with **no name**.
According to http://stackoverflow.com/questions/30550472/docker-container-with-status-dead-after-consul-healthcheck-runs, a container is set to dead after a failed "stop".
`docker rm`

[2016-02-19 22:48] bprashanth commented on #21244
https://github.com/kubernetes/kubernetes/pull/21573 should make this easier to debug

[2016-02-19 22:50] bgrant0607 commented on #19299
Another manifestation of a problem in this test:
[code]
That's a timeout in waitForDeploymentStatus.

[code]

[2016-02-19 22:51] dchen1107 commented on #21086
@zmerlynn I double checked the kernel config file of ContainerVM image:

# cat /boot/config-3.16.0-4-amd64 | grep CONFIG_FAIR_GROUP
CONFIG_FAIR_GROUP_SCHED=y

# cat /boot/config-3.16.0-0.bpo.4-amd64 | grep CONFIG_FAIR_GROUP
CONFIG_FAIR_GROUP_SCHED=y

I am pretty sure the flag is enable by default already. Sorry for not checking when the issue was filed initially.

[2016-02-19 23:05] yujuhong commented on #21029
The go-dockerclient we use don't support timeout for any operation. We want to switch to the new, official docker client #20895 (which was released in Jan).

It still seems strange to me that all pull requests on one node was delayed but eventually succeeded.

[2016-02-19 23:08] freehan commented on #18281
Based on the kubelet.log, it took 15 minutes to pull the image.

[code]

closing this one as dup of #21029

[2016-02-19 23:09] jesstm commented on #19333
Wanted to chime in to say this is extremely interesting to me. What would be even more incredible is if there was a dead-simple way to configure routing based on a regex of the SNI info.

What we want is to be able to say is: if the server name in SNI is: `$CUSTOMER_ID.domain.com` then automatically route the request to `customer-$CUSTOMER_ID.default.cluster.local:443`

Ideally the user would be a

[2016-02-19 23:16] paultag commented on #19333
So I've been the worst about working on this -- the URL route bits caused
me to realize this wasn't just drop-in sni hackery.

Regex sounds interesting - is there such an ingress controller for http
now? We could mirror names!
On Feb 19, 2016 6:10 PM, "Jesse Endahl" <notifications@github.com> wrote:

[2016-02-19 23:31] bprashanth commented on #21522
@pwittrock without links to the actual system logs and artifacts debugging is hard. I'm going to assume you meant this failure: https://github.com/kubernetes/kubernetes/pull/21514#issuecomment-186015695.

This is the kubelet: https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/21514/kubernetes-pull-build-test-e2e-gce/29311/artifacts/104.197.13.197%3A22-kubelet.log?d

[2016-02-19 23:37] gmarek commented on #21500
For 500 Node cluster (n1-standard-16 master):
[code]

[2016-02-19 23:39] janetkuo commented on #21463
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11897/?debugUI=CLOUD

[code]

[2016-02-19 23:40] SpencerBrown commented on #12121
We are getting hit by this big-time with a relatively small cluster of 10 EC2 instances. It's about to be a deal breaker for us. We are having big trouble trying to deploy a pod with an attached EC2 volume, because of the rate limit exceeded issues. This is causing production downtime.

Please prioritize this into 1.2.

The only alternative I can think of (besides moving off AWS which we can't do

[2016-02-19 23:40] caesarxuchao commented on #21479
Patch is retried at the server side already. I think it will be redundant to retry it on the client side.

I thought this "Update with updateFunc and retry" doesn't provide any additional feature over "Patch", or did I miss something?

[2016-02-19 23:42] #20957 closed

[2016-02-19 23:42] dchen1107 commented on #21522
Yes, you are right. I am closing this as dup of  #21029

[2016-02-19 23:42] #21522 closed

[2016-02-19 23:44] therc commented on #12121
@SpencerBrown: do you know what class of APIs is causing you to hit limits?

[2016-02-19 23:47] SpencerBrown commented on #20316
This needs to be top priority. It is killing us on AWS with a relatively small cluster (10 nodes).

[2016-02-19 23:50] caesarxuchao commented on #21403
https://github.com/kubernetes/kubernetes/pull/20882#issuecomment-185004106

and its gcs:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20882/kubernetes-pull-build-test-e2e-gce/28905/?pli=1

[2016-02-20 00:10] mikedanese commented on #21129
It looks like the token controller is not recovering from etcd failing. The test namespace is also stuck in a terminating phase. I'll continue to investigate

[2016-02-20 00:10] ixdy commented on #21517
I'm guessing transient failure, but I don't really know.

[2016-02-20 00:15] SpencerBrown commented on #12121
Figuring out the answer to that question looks like my weekend project :(.

I plan to use the AWS Cloudwatch API event stream to debug, if I can get that to work.

[2016-02-20 00:16] ixdy commented on #18162
What needs to be done here?

[2016-02-20 00:22] mikedanese commented on #21129
Actually lot's of watch related things are broken. I can create/delete objects in the api but watch is broken. Trying to establish a watch in this state causes:
[code]
Restarting the apiserver fixes the problem. I can start a watch again:
[code]

cc @kubernetes/goog-csi

[2016-02-20 00:25] mikedanese commented on #21129
[code]

[2016-02-20 00:27] davidopp commented on #21129
@lavalamp @wojtek-t

[2016-02-20 00:32] ihmccreery opened #21600 "e2e's require that ENV be as it was when the cluster was deployed"
I deployed a cluster with `KUBE_GCE_INSTANCE_PREFIX=one-dot-one`.  Later, I come back and want to run tests against that cluster.  I use `kubectl config use-context ihm-k8s_one-dot-one` to switch my context to that cluster, but I get `x509` errors, unless I go back and set `KUBE_GCE_INSTANCE_PREFIX=one-dot-one`.

I don't know why this is, or if perhaps it's expected behavior, but it seems very wro

[2016-02-20 00:43] ArtfulCoder commented on #20550
gcr.io/google_containers/test-webserver:latest does not seem to exist.

I tried a `docker pull` on that and it failed.

[2016-02-20 00:47] justinsb commented on #12121
@SpencerBrown which version are you running?  I think 1.1 logged all AWS API calls with v=4, but I'm not entirely sure.

I'm sorry for the problem - I'm sure we can get it fixed.  Your case is the argument for this safety belt, in that we obviously have some sort of busy retry loop around volume mounting or something similar; we should fix the specific problem & then also have the safety belt to c

[2016-02-20 00:48] therc commented on #12121
I've had good luck correlating with Cloud Trail entries...

[2016-02-20 00:48] saad-ali commented on #14217
I think it'll be bigger than that: `volume.VolumePluginMgr` which is required to `InitPlugins` requires a `VolumeHost` object. The `VolumeHost` object is very kubelet specific (gets `KubeClient`, `VolumeDir`, etc.). So non-kubelet packages [currently stub out](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/persistentvolume/persistentvolume_provisioner_controller.go#L486) that

[2016-02-20 00:51] ArtfulCoder commented on #20550
As step 1: We should re-push images since they are being pulled from the legacy registry.
Hopefully, the problem goes away.

I suspect that the dns issue is a red herring.

Also, the dns server used is the default one that nodes get (i.e. not cluster skydns)

[code]

[2016-02-20 00:53] bprashanth commented on #20550
This is docker on the node, so yeah it's using the nodes resolv.conf not skydns. Hency my comment about gcr.io lookups from gce vms.

[2016-02-20 00:55] ArtfulCoder commented on #20550
what point are you making ?

[2016-02-20 00:56] lavalamp commented on #21129
startCaching is *trying* to lock here, but something is holding the lock. https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/cacher.go#L214

I'm looking through a stack trace right now for the offender.

This is exactly where I'd expect a problem to be from the description of "bringing etcd down and up repeatedly".

[2016-02-20 00:58] bprashanth commented on #20550
That i didn't expect it to be skydns, and it might not be a red herring :)
The registry ping failures are from docker https://github.com/docker/docker/blob/aa1fdf42da8536d69c40322856aeaae197698fcd/registry/endpoint.go#L187

[2016-02-20 01:00] ArtfulCoder commented on #20550
I still want to repush the image and see if re-occurs.
If the log is being printed, it will obviously be in some line of code :))

[2016-02-20 01:02] yujuhong commented on #21449
Note that we still need to tag the images properly (#20836) unless we change the image pull setting.

[2016-02-20 01:03] bprashanth commented on #20550
I've only debugged this superficially so you have a lot more context, I was just making a suggestion. If this is failing because of that ping in docker, unsure how a new image will make it pass.

[2016-02-20 01:09] ArtfulCoder commented on #20550
The images pulls that I tried are ones that are used in the failing tests. And those images seem to have this in common: they show a common message on docker pull: pulled from legacy registry..

Thats why, I want to remove that from the picture as step 1.

[2016-02-20 01:09] ihmccreery commented on #19715
@lavalamp That is the line that's failing, but I do think this is a problem with `kubectl` (or CSI) code:

[code]

This seems like a legitimate API problem, not something in the test code that's wrong.

[2016-02-20 01:11] vishh commented on #21086
Sorry for the confusion. The param that needs to be set is
`CONFIG_CFS_BANDWIDTH` and not `CONFIG_FAIR_GROUP_SCHED`. The latter is
already enabled.

On Fri, Feb 19, 2016 at 2:52 PM, Dawn Chen <notifications@github.com> wrote:

[2016-02-20 01:14] lavalamp commented on #21129
Ah @wojtek-t I think what happened is, when etcd stays down, a List never successfully finishes, and therefore it never calls the OnReplace function, and therefore the lock is never unlocked, and therefore startCaching can't exit.

[2016-02-20 01:14] l0neranger opened #21604 "Random pod latency issues - CoreOS/AWS"
**OS**: CoreOS
**Env**: AWS - 3 kubelets
**Kubernetes Version**: 1.1.1

**Issue references**: https://github.com/kubernetes/kubernetes/issues/14315, https://github.com/kubernetes/kubernetes/issues/14051

**CC**: @ArtfulCoder @thockin

This still appears to be a problem in k8s v1.1.1 running on CoreOS/AWS. This has been tested with no resource limits on the SkyDNS and the test pods.

The test I'm r

[2016-02-20 01:15] lavalamp commented on #21129
There's lots in apiserver log to support this:

[code]

Additionally I manually looked through the stack trace and confirmed that all of the stuck calls to Watch are stuck waiting to RLock and not some point afterwards.

[2016-02-20 01:17] lavalamp commented on #21129
This is pretty bad, etcd going down for just a bit could freeze up apiserver until it is rebooted.

[2016-02-20 01:18] bprashanth opened #21605 "serve_hostname container exiting immediately"
What I'm really trying to say is i haven't figured out why they're sigtermed from the logs (there are really only 2 cadvisor lines inbetween).

https://github.com/kubernetes/kubernetes/pull/21326#issuecomment-186460951
http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//29493

Failed because one pods in an RC flipped from Running to something else intermittenly:
[code]

Speci

[2016-02-20 01:20] lavalamp commented on #21129
I think I can make a fix.

[2016-02-20 01:28] ixdy commented on #21451
https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/21598/kubernetes-pull-test-unit-integration/15302

[code]

Ran on builder-4, and the cleanup job was definitely disabled, so something else is the cause.

[2016-02-20 01:30] saad-ali commented on #20835
But the same problem mentioned above would still exist right? If pod A and pod B reference two different partitions on the same volume, if the pods are scheduled to different nodes, the same volume can't be attached to both nodes in RW mode.

[2016-02-20 01:32] caesarxuchao commented on #21403
For the test failure reported by @mikedanese, it looks like it's kubelet too long time to pull the image, as that's the last event reported by kubelet:
[code]

kubelet log doesn't show other error. This probably is a dupe of #21029.

[2016-02-20 01:32] mikedanese commented on #21129
Thanks for looking into this.

[2016-02-20 01:32] ixdy commented on #21451
/var/log/docker.log on that machine:
[code]

[2016-02-20 01:38] bgrant0607 commented on #21451
Just encountered this problem twice in a row when testing #21598

[2016-02-20 01:39] smarterclayton commented on #19715
The client can't submit a type with a version either to this API
group.  This is something we need to add to the submission wrapper for
older servers - strip version info from DeleteOptions on the way out.

I don't think we posted any other unversioned resources to the server in 1.1

[2016-02-20 01:41] mqliang commented on #21543
Agree! But I think there should be two ReschedulingJobType:

1) DrainingForMaintenanceType, which is what I proposed in this proposal
2) DrainingForClusterScaleDownType: If we have a large cluster, but with low resource usage rate, and Pods just spreading on all nodes, we want to empty out some nodes so they could be recycled. In this case, rescheduling is needed.

So, I think rescheduler should s

[2016-02-20 01:42] lavalamp commented on #21129
Yeah, I repro'd in a UT. Fix coming shortly.

[2016-02-20 01:46] ixdy commented on #21451
@bgrant0607 which builds? I only see this cause in build 15302.

Looking at all other builds on `builder-4`, I can't find any that would have interfered with 15302. I am running out of ideas.

[2016-02-20 01:46] caesarxuchao commented on #21403
the log given by @pwittrock is different:
[code]
might be a dup of #20757. @saad-ali could you take a look?

pwittrock's comment: https://github.com/kubernetes/kubernetes/issues/21403#issuecomment-185371214

[2016-02-20 01:47] lavalamp commented on #21129
I assigned to @wojtek-t, but if anyone wants it merged sooner than monday, feel free to review.

[2016-02-20 01:48] lavalamp commented on #21129
Many thanks to @mikedanese for handing me a broken server to look at, it made this super easy to find.

[2016-02-20 01:49] justinsb commented on #21143
I think we're going to make Jessie the default, yes (though we will support Wily), so closing

[2016-02-20 01:50] #21143 closed

[2016-02-20 01:50] justinsb opened #21607 "AWS: Make jessie (with custom AMI) the default for kube-up"
If not specified, we're going to make our custom image (based on jessie) the default for kube-up

[2016-02-20 01:53] ixdy commented on #21451
Hm. I was looking for any logs which referenced that container hash (b2b2e7c76e5c5c57c7e995b020bbb12f07315b138c99204a958908b88e487f02) and found these two lines in the build log for 15302:
[code]

which is coming from `Godeps/_workspace/src/github.com/google/cadvisor/manager/manager.go`. This file hasn't been updated since Jan 21, but maybe something else has?

Any idea what would be trying to del

[2016-02-20 01:53] justinsb commented on #21217
Consensus seems to be that we should build our own image, at least for AWS.  We can converge with the GCE/GKE custom image also.

As such, closing this one - we're going to build one!

[2016-02-20 01:53] #21217 closed

[2016-02-20 01:55] justinsb commented on #21216
I think for 1.2 we're going to do the AMI version only.  Hopefully by 1.3 we won't have to enable the cgroup memory controller with the official image, or at least it will use a bootloader that makes it easier to change flags & reboot.

[2016-02-20 01:58] fejta opened #21608 "Add versions for test images"
In order to tag images by default for testing for https://github.com/kubernetes/kubernetes/issues/20836 we need all test images to have a non-latest version, and we have four such images:

[code]

[2016-02-20 02:05] bprashanth commented on #21451
That's weird. The integration test itself should be using a fake docker (https://github.com/kubernetes/kubernetes/blob/master/cmd/integration/integration.go#L76) and fake cadvisor (https://github.com/kubernetes/kubernetes/blob/master/cmd/integration/integration.go#L205). And we call cadvisor.Start through that fake (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L938).

[2016-02-20 02:05] justinsb commented on #21571
I think the best way to do this is to let the already-LGTMed wily and other distro patches land, and then bump them to 1.9.1

[2016-02-20 02:06] mqliang commented on #21543
And DrainingForClusterScaleDown feature should be implemented as a manually-rescheduling job, instead of as a background route, since:
1) The objective function of DrainingForClusterScaleDown feature and "Redistribute Pods onto new nodes added by a cluster auto-scaler/Move Pods around when node resource allocation unbalance was detected" are conflict.
2) DrainingForClusterScaleDown feature should

[2016-02-20 02:09] yujuhong commented on #21451
kubelet is started by test-cmd.sh
[code]

[2016-02-20 02:11] david-mcmahon commented on #20235
1.2.0-alpha.8 release failed with:
+++ [0219 18:04:50] Pushing hyperkube to gcr.io/google_containers/hyperkube-amd64:v1.2.0-alpha.8
The push refers to a repository [gcr.io/google_containers/hyperkube-amd64] (len: 1)
error getting tags for gcr.io/google_containers/hyperkube-amd64: Tag does not exist for v1.2.0-alpha.8
!!! Error in build/../build/common.sh:1538
  '"${docker_push_cmd[@]}" push "${doc

[2016-02-20 02:11] saad-ali commented on #21403
@pwittrock's test run https://github.com/kubernetes/kubernetes/issues/21403#issuecomment-185371214 ran in to https://github.com/kubernetes/kubernetes/issues/19953

Not sure what's going on with https://github.com/kubernetes/kubernetes/pull/20882#issuecomment-185004106

[2016-02-20 02:14] ixdy commented on #21451
I noticed that we had a failure in `kubernetes-test-go` this evening as well - so it's not affecting just the PR builder: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go/8544
[code]

The only other build on that VM (jenkins-builder-1) at the time was https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-test-go-release-1.1/4325, and it was running unit tes

[2016-02-20 02:24] ericuldall commented on #17763
We are experiencing similar issues on a service running a couchdb cluster.

[2016-02-20 02:31] ixdy commented on #21451
In `hack/test-cmd.sh`, we start the kubelet in masterless mode, wait for it to start serving, then send it a signal and immediately start the kubelet again in masterful mode. Notably, we don't wait for the first kubelet to die.

Is it possible that the first kubelet is taking a while to exit for some reason, and then ends up trying to delete the cAdvisor container of the second kubelet? That's the

[2016-02-20 02:39] ArtfulCoder commented on #20550
I think I have re-pushed all the images that we use. lets see how that works out.
If anyone encounters the " using legacy repository " when pulling an image, please let me know the image name:tag.

[2016-02-20 02:40] ixdy commented on #21451
Also I miswrote earlier - I upgraded to docker 1.10.1, not 1.9.1. (We were probably previously using 1.9.1.) It would be interesting to see if there were any of these failures before Tue Feb 16 at 23:00 PST, when I upgraded docker.

[2016-02-20 02:44] bgrant0607 commented on #21451
@ixdy Sorry, I was mistaken. It was just 15302.

[2016-02-20 02:51] david-mcmahon commented on #20235
False alarm.  User error.  Closing.

[2016-02-20 02:51] #20235 closed

[2016-02-20 02:56] fejta commented on #21575
Looks like this needed an lgtm?

[2016-02-20 02:56] #21575 closed

[2016-02-20 03:02] fejta commented on #21451
@kubernetes/sig-node any recommendations here? Is kubelet/docker doing something weird? Should we wait for the first kubelet to die before starting it in masterful mode?

[2016-02-20 03:13] AdoHe commented on #21551
I will add a quick fix to this. Also I prefer using presence in the map as whether to show the status section.

[2016-02-20 03:15] bprashanth commented on #21451
The second kubelet should compete for ports with the first (releasing the port on sigterm should be one of the last things it does).

Is test-cmd running in a container? cadvisor is just printing out its cgroup (/proc/self/cgroup), I believe they (kubelet and cadvisor) run in the same process, so we could still be back at: something is deleting the container we're running the test in.

[2016-02-20 03:28] ixdy commented on #21451
@bprashanth yes, we run all tests inside a container; see hack/jenkins/gotest-dockerized.sh. Wonder if there's a good way to see if this is the same container that's trying to be killed?

[2016-02-20 03:34] bprashanth commented on #21451
Just running /proc/self/cgroup like cadvisor is doing, in a docker container, will give you the group of that container AFAIK. I.e:

[code]

[2016-02-20 03:38] aronchick commented on #21275
cc @justinsb Can you make a suggestion where this should live?

[2016-02-20 03:43] aronchick commented on #6079
+1 customer report of this today. 1.3?

[2016-02-20 03:43] eliaslevy commented on #1704
Just a note that application deployment is usually the easy part. Client can usually retry until a service is available.  A more difficult problem is application shutdown.  These must usually be carefully orchestrated so as not to lose data.  Data processors must be signaled to flush their data to the storage layer before they are terminate and the storage layer can't be terminated before all it's

[2016-02-20 03:51] mikedanese commented on #6079
@aronchick which part in particular? lot's of this is already done

[2016-02-20 04:23] fejta commented on #21608
To start I'm going to add an e2e tag for these test images, then change the tests to use this tag.

We should also consider whether we want tagged versions of these images and update those Makefiles.

[2016-02-20 04:43] thockin commented on #15560
The problem is that we're trying to use bash like a real programming
language.  Functions, fine. Arrays are a little sketchy.  Abstract
interfaces implemented by cloud providers that take optional arrays of
arguments is a disaster.

Frankly it's the need to protect against undefined variables (including
empty arrays) that makes bash terrible to use.  Please avoid arrays and
similar garbage that ex

[2016-02-20 06:08] bgrant0607 commented on #20987
This has failed 5 times in a row in kubernetes-e2e-gke-slow. It's blocking the submit queue.

[2016-02-20 06:09] bgrant0607 commented on #20987
[code]

[2016-02-20 06:43] bprashanth commented on #21451
To clarify my previous comment, I think that indicates that https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-186478086 when taken along with https://github.com/kubernetes/kubernetes/issues/21451#issuecomment-186483838 implies that something was invoking docker rm on the container running cadvisor/kubelet/test-cmd

[2016-02-20 07:30] davidopp commented on #12140
cc/ @mml

[2016-02-20 08:19] bks7 opened #21613 "KubeDNS not working inside of pod when its containers are on the same node with kube-dns containers."
Hi!

I'd like to report an issue. I can't  resolve DNS names inside a pod when its containers are on the same node with kube-dns containers.

I'm running a Kubernetes cluster in Vagrant (1 master node, 2 minions):
[code]

I'm using  `flanneld` with `host-gw` backend for overlay network . The configuration is the same on both kubernetes nodes (minion0 and minion1):
[code]

Docker is running with fo

[2016-02-20 08:29] #21151 closed

[2016-02-20 08:49] fejta commented on #21512
Should help with https://github.com/kubernetes/kubernetes/issues/21138

[2016-02-20 08:56] #20911 closed

[2016-02-20 09:23] #20824 closed

[2016-02-20 09:44] AdoHe commented on #21530
@janetkuo

[2016-02-20 09:51] #21060 closed

[2016-02-20 10:31] AdoHe commented on #21589
@YnR have you ever tried this:
[code]

[2016-02-20 10:42] AdoHe commented on #21587
@YnR guess you are looking for such example:
[code]
for multiple-containers pod, you should better create through `yaml` file.

[2016-02-20 12:59] justinsb commented on #21275
TLDR: `cluster/aws-cloudformation`

TL:

I think this is wonderful, and part of a bigger conversation about how we plan on moving to a post-bash/Salt world.

It would naturally be welcome in https://github.com/kubernetes/contrib .  The question in my mind is whether we can do better.

I'd almost say @aronchick that this might be a question for you - it's not really a technical question.  Here's ho

[2016-02-20 13:26] SpencerBrown commented on #12121
currently running 1.1.7. I have enabled CloudTrail on my test cluster and am waiting to see the results. Thanks @justinsb.

[2016-02-20 13:37] justinsb commented on #12121
@SpencerBrown I checked and we don't have a lot of the logging options I was hoping for in the 1.1 branch.  So CloudTrail is a great approach.  Let me know what it shows and I'll see if I can figure out the problem and provide a backported fix.

(My money's on the AttachVolume call, but it's always where you least expect it...)

[2016-02-20 14:31] wernight commented on #20835
Not for me. I partitioned to have DB and media (which should be in sync) on the same disk to have a single consistent snapshot also, and less disk usage.

[2016-02-20 15:36] onorua commented on #21523
1.8 has the same issue, we use `1.8.3` and got nasty problems like this. You can reproduce it easily with the pod with "wrong" liveness probe. It will be rescheduled between nodes until IP pool got used completely. So it actually doesn't matter how many pods do you have, but rather how often do you restart docker daemon or node completely.
Docker asked to upgrade to 1.9 in https://github.com/docke

[2016-02-20 15:54] therc commented on #16775
http://www.openwall.com/lists/musl/2016/02/16/1
http://git.alpinelinux.org/cgit/aports/commit/main/musl?id=8daae2d91da7ea2065b57e71950970efbeba80a2

It just needs an official release now.

[2016-02-20 16:17] therc commented on #16775
Actually, alpine:edge already has the new musl.

[2016-02-20 16:17] erimatnor opened #21618 "Accessing VIPs from host node does not work when running kube-proxy in iptables mode."
We recently updated our Kubernetes cluster to v.1.1.7, and figured we'd try the new iptables mode for kube-proxy. However, applying this mode broke some functionality on our master, which we also use as an Nginx reverse proxy for some services in the cluster (e.g., Grafana dashboard). The Nginx proxy is configured to resolve the IP address of cluster services by sending DNS queries to the fixed cl

[2016-02-20 16:58] thockin commented on #21618
It should work - it is e2e tested.  I will try to repro.  Meantime, can you
send the results of 'iptables-save'
On Feb 20, 2016 8:18 AM, "Erik Nordström" <notifications@github.com> wrote:

[2016-02-20 17:23] SpencerBrown commented on #12121
I have been running CloudTrail on my test cluster for a couple of hours, and wrote a quick Ruby script to download and analyze the API call frequency. (I'll put this on GitHub later). So far I'm seeing:

* each worker node does about 1 DescribeInstances call per second
* Launching a pod with a EBS volume attachment causes 6 DescribeVolumes calls in quick succession and 1 AttachVolume call.
* Delet

[2016-02-20 17:25] andyhky opened #21619 "Examples: Deploying Clusters - Redis listed twice"
CLA is inbound.

Minor nit with the Examples TOC listing- redis was listed twice.

Diff is prepared here:

https://github.com/kubernetes/kubernetes/compare/gh-pages...andyhky:redis_dupe?expand=1

[2016-02-20 17:28] SpencerBrown commented on #12121
Yikes, all kinds of odd things happening on our staging cluster.  Here's the output from my Ruby script:

[code]

[2016-02-20 17:42] jayunit100 commented on #20823
This will pop up any time you have version which have extra periods in them.    Put in a fix in the above patch (#21620) which makes sure there are semvar style periods. i.e. `x.y.z-` when we parse dirty versions.  I think this effects things during development, probably never effects a "real" release.
[code]

[2016-02-20 17:48] jayunit100 commented on #21574
Closing for now, since default NS is enough.  I confirmed NodePorts and so on aren't effected by the change in --namespace default creation

[2016-02-20 17:48] #21574 closed

[2016-02-20 18:26] justinsb commented on #12121
@SpencerBrown That's a great list - thank you.  If you can collect the kube-controller-manager.log from the master (/var/log/kube-controller-manager.log) we should be able to see why CreateLoadBalancer is going crazy...

Did you launch this with kube-up, BTW?   We'll get it fixed either way, but if you launched with kube-up I can assume a certain configuration...

I'm going to go through the rest

[2016-02-20 18:36] jayunit100 commented on #20999
locally I'm seeing that spark workers cant find the sparkMaster, even after updating the yaml files....

[2016-02-20 18:36] jayunit100 commented on #20999
[code]

[2016-02-20 18:40] justinsb commented on #12121
For the test cluster...

Each worker node does make a DescribeInstance call in 1.1, but it should be every 10 seconds.  This is NodeStatusUpdateFrequency in cmd/kubelet/app/server.go.  You could override this with `--node-status-update-frequency` on the kubelet - are you setting it to 1s?

We've fixed this entirely in 1.2, BTW.

I'll investigate & open an issue for the repeated DescribeVolumes cal

[2016-02-20 18:49] justinsb commented on #12121
Oh ... the repeated DescribeVolumes calls are us polling to know when the volume is attached/detached.  I don't think there's anything we can do about that - it isn't available through the EC2 API.  I'll open an issue anyway, though I sure hope it isn't a problem because it is tough to solve.  Maybe we reduce the polling interval or similar for 1.2.

[2016-02-20 18:51] justinsb opened #21623 "AWS: Volume attachment/detachment requires polling of DescribeVolume"
See comment here: https://github.com/kubernetes/kubernetes/issues/12121#issuecomment-186665825

It would sure be nice to find a way of doing this that doesn't hit our AWS API quota.  For example, looking at the disk state.  Now that we've harmonized with GCE maybe we can do this.

[2016-02-20 18:59] justinsb opened #21625 "The servicecontroller loop is racy"
In pkg/controller/service/servicecontroller.go, we start 10 goroutines that process service events: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L139-L141

Each of these workers then locks on a per-service mutex when processing events: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L225-L228

But

[2016-02-20 19:04] jayunit100 commented on #17463
So, is SkyDNS A Hard requirement of our spark impl?  I didn't know that it was, maybe this is changed, as it used to work ootb i thought using the spark akka env variable thingy....

[2016-02-20 19:09] justinsb commented on #18021
This may be related to #21625

[2016-02-20 19:15] #20756 closed

[2016-02-20 19:20] bgrant0607 commented on #21463
Another occurrence:

buckets/kubernetes-jenkins/logs/kubernetes-e2e-gce/11924

[code]

[2016-02-20 19:56] davidopp commented on #12455
#12952 is closed but wasn't implemented. As the last comment there says, "Closing in favor of the new metrics API effort." (https://github.com/kubernetes/kubernetes/pull/12952#issuecomment-172804245) The new metrics API effort is described in #18824 (sorry that issue didn't explain -- I added a comment just now pointing to #18824).

We were hoping to get the metrics API into 1.2 but we ran out of

[2016-02-20 20:09] erimatnor commented on #21618
I tried it on our Vagrant setup too, with same result. We're running Kubernetes on CoreOS if that is information of importance. Here's the iptables output from a Vagrant node:
[code]

[2016-02-20 20:12] bgrant0607 commented on #19299
Another occurrence:
[code]
Buckets/kubernetes-jenkins/logs/kubernetes-e2e-gce/11950

[2016-02-20 20:13] mikedanese commented on #20355
I'd like it to be possible to run both network daemons (.e.g. flannel daemon) and kubelet in a daemonset. Opencontrail/flannel/calico integration shouldn't need to require modification to salt. I want them to be shipped like other cluster addons.

[2016-02-20 20:15] luxas opened #21629 "Containerized hyperkube has status terminating after running for a while"
When running Kubernetes from `docker.md`, the master pods become `Terminating` after some time (not only after two days, it came after some hours)
[code]

The `kube-dns` restarts are another thing I'm fixing, but have you come across the `Terminating` problem?
Using `v1.2.0-alpha.7`
@fgrzadkowski @yujuhong @thockin @brendandburns @dalanlan @roberthbailey

[2016-02-20 21:52] justinsb opened #21630 "LoadBalancer creation retry happens every second"
From customer logs, it looks like we retry to create a LoadBalancer after a failure every second.  This causes rate-limiting problems on AWS (and probably will on GCE also?).  We should have a less aggressive retry policy.

Related #21625

[2016-02-20 21:54] bgrant0607 commented on #21463
New logging shows 2 RSes, 1 pod (and a log message that still mentions rcs):
[code]

The Selector and Template didn't print due to the pointers.

Interestingly, there was only one pod, from the newRS. However, at the time GetOldReplicaSetsFromLists was called, there MUST have been a pod from the oldRS, since the RSes are filtered by the existence of pods matching both the Deployment's selector and

[2016-02-20 22:01] bgrant0607 commented on #19299
New RS and pod logs:
[code]

[2016-02-20 22:03] SpencerBrown commented on #12121
Been working this offline with @justinsb (big thanks)! net conclusions:

1) CreateLoadBalancer is a known issue, triggered by an incorrect network config causing controller-manager to loop rapidly trying to create the ELB

2) DescribeInstances 1/sec/node instead of 0.1/sec/node was cleared up for an unknown reason by restarting all the master node components

[2016-02-20 22:05] bgrant0607 commented on #19299
3 pods are ready, but one was ready for less than minReadySeconds (5s, in this case).

[2016-02-20 22:08] justinsb commented on #21625
I'd love for us to at least triage this to consider whether we should address it in 1.2

[2016-02-20 22:08] jayunit100 commented on #20999
@bgrant0607 @zmerlynn okay, spark is working now in the above PR.  Also updated the DNS stuff and so on.  k8petstore also fixed to be at least more deterministic in failures if they keep occuring.
- [ ] k8petstore
- [ ] spark
- [ ] cassandra
- [ ]  secret
- [ ] downward api
- [ ] liveness

[2016-02-20 22:09] therc commented on #12121
Is 1) fixed by my IPPermission PR? 1.2 is much better behaved than 1.1 and I tested my change on a setup that I don't even think was ever contemplated (inside the 10.0.0.0/16 default VPC and with a Direct Connect link to outside AWS)

[2016-02-20 22:10] bgrant0607 commented on #19299
One of the old RS pods is not ready, so this could potentially be the unhealthy pod policy in action.

We may need to pause the rollout to wait for the pods from the first update to become available before updating a second time (rollover).

[2016-02-20 22:13] justinsb commented on #12121
@therc The problem with 1 was the multiple subnets problem, which I think we've fixed in 1.2 as well.  Happy to hear that 1.2 is more robust though.  How did you get the 10.0.0.0/16 running?  Did you use `--non-masquerade-cidr` or a different trick?

[2016-02-20 22:20] bgrant0607 commented on #21467
Failure with a new symptom:
[code]
Buckets/kubernetes-jenkins/logs/kubernetes-e2e-gce/11953

First of all, we shouldn't be relying on events in e2e tests #21511. But we certainly shouldn't be relying on specific events occurring in a specific order.
[code]

[code]

[2016-02-20 22:23] bgrant0607 commented on #21467
We should report DeploymentRollbackRevisionNotFound in deployment status somehow, also.

[2016-02-20 22:24] therc commented on #12121
I can't check right now, but I used --non-masquerade-cidr=10.64.0.0/10 because pods and services for the various clusters run in 10.64..10.127 networks. The VMs live in 10.0.16.0/20. Should this be documented?

[2016-02-20 22:27] bgrant0607 commented on #21467
For both DeploymentRollbackRevisionNotFound and DeploymentRollback, we could wait until rollbackTo is cleared, and then check the Deployment's pod template.

[2016-02-20 22:29] bgrant0607 commented on #21544
Appears to be fixed.

[2016-02-20 22:29] #21544 closed

[2016-02-20 22:29] DazWilkin opened #21631 "Assumptions in "Securing the Service" no longer hold"
Learning more Kubernetes, I wanted to follow the documentation through "Securing the Service". This example references another and opaquely, this second reference references code that is broken :-(

http://kubernetes.io/v1.1/docs/user-guide/connecting-applications.html#securing-the-service

https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/user-guide/connecting-applications.md#securin

[2016-02-20 22:30] bgrant0607 commented on #21534
Believed to be fixed.

[2016-02-20 22:30] #21534 closed

[2016-02-20 22:30] bgrant0607 commented on #21490
Believed to be fixed.

[2016-02-20 22:30] #21490 closed

[2016-02-20 22:31] bgrant0607 commented on #19732
Believed to be fixed.

[2016-02-20 22:31] #19732 closed

[2016-02-20 22:33] DazWilkin opened #21633 "https-nginx example can clarify secrets/cert generation step"
Had started on a page that references this page. Have filed an issue against the parent but part of its resolution involves fixing this page too:

https://github.com/kubernetes/kubernetes/issues/21631

The page:

http://kubernetes.io/v1.1/examples/https-nginx/README.html

https://github.com/kubernetes/kubernetes/blob/release-1.1/examples/https-nginx/README.md

Provides instructions on generating a

[2016-02-20 22:35] jayunit100 commented on #17463
Thanks again to @wattsteve for starting this thread, it needed to be updated in the docs.  Also E2E fix is pending in a PR i just put up.

[2016-02-20 22:38] DazWilkin opened #21635 "Please provide a feedback mechanism on kubernetes.io --> github.com/kubernetes/kubernetes"
I may be missing something (!) but, when I wish to file bugs against kubernetes.io, instead of a "Click here to submit feedback", I'm resorting to Googling a section of text on the kubernetes.io to find the relevant page on github in order to reference the github content for github issues!

E.g.
From here:
http://kubernetes.io/v1.1/docs/user-guide/connecting-applications.html#securing-the-service

[2016-02-20 22:41] markturansky commented on #14217
Agreed that we should make an appropriate `VolumeHost` for non-mounting plugins.

The controller is just one.  Jan is adding plugins to the API server to fix an Admission issue where an admission plugin looks-up cloud labels and applies them to a PV.  I believe this one is like the controller in that it only needs the cloud provider.

I think these are at least 2 PRs.  One for an appropriate host

[2016-02-20 22:42] thockin commented on #21493
I hear your concerns, but at the same time, it is untenable in general to bundle everything people need into the core system.  We could call gRPC a special case or MAYBE we could make health-checks into plugins like we do with volumes, but those come with their own problems.  And it still puts the Kubernetes API and release process in between a user and their goals.

Side-car containers have the w

[2016-02-20 22:50] mwielgus opened #21636 "HPA should calculate 1m average for the metrics if they are fine grained"
cc: @fgrzadkowski

[2016-02-20 22:59] bprashanth commented on #21523
@onorua 1.8 had its problems (eg: https://github.com/kubernetes/kubernetes/issues/19477) but those are just bugs that we need to live with, most of them have workarounds, and only occur with high number of pods per node or some obscure case like HostPort. 1.9 made the leap to using libnetwork with persistent storage for bridge networks and that brough a host of other networking issues.

Whether we

[2016-02-20 23:01] bprashanth commented on #21523
Isn't 1.10 going to be a major leap for hosted offerings like GKE because of the overhead involved in migrating to content-addressable storage?

[2016-02-20 23:11] bprashanth commented on #21633
After attempting and failing to download/build the sources, I believe that this script no longer works:
#14558

It works, I just tried it. the issue you mentioned has the fix.

Add documentation that explicitly documents (separately) how to generate a Kuberenetes secret from self-signed certificates.

If you can contribute, I believe this would be a lot more useful:https://github.com/kubernetes/ku

[2016-02-20 23:15] bprashanth commented on #21630
Isn't this a dupe of: https://github.com/kubernetes/kubernetes/issues/20316?
I agree we should rate limit on failure with exponential backoff. We could possibly use the method kubelet uses to backoff image pulling. If you agress lets just close this as a dupe and review https://github.com/kubernetes/kubernetes/pull/21137 ?

[2016-02-20 23:18] bprashanth opened #21637 "Kubectl stalls on certain requests"
Some calls seem to take much longer than others, and others even timeout. I don't have a reliable repro. I've only observed this recently. I don't think I have anything weird in my cluster:

[code]

This was 2 back to back get nodes call.  Time between request/response of first GET in second invocation is ~5s. Apiserver logs in this segment:

[code]

Here is an example of the timeout:

[code]

And

[2016-02-21 00:07] caesarxuchao commented on #21403
I'm closing this issue because the two reported cases are duplication of other flakes.

[2016-02-21 00:07] #21403 closed

[2016-02-21 00:08] caesarxuchao commented on #21403
Thank you @saad-ali for the confirmation.

[2016-02-21 00:09] jumpkick commented on #16670
This appears to work again on 1.2.0-alpha8:

[code]

[2016-02-21 00:32] davidopp commented on #21560
I've been lobbying for field-level ACLs for a while now (there was a relevant issue but I can't find it ATM), which I think might be another way to approach this. I had originally envisioned it as just a write ACL (for example, admin can configure cluster so that only schedulers can write nodeName, or only controllers can write controllerRef) but I guess in theory  you could have a read ACL also.

[2016-02-21 00:34] davidopp commented on #21560
Sorry, that comment was supposed to go in #21182, but anyway...

[2016-02-21 01:03] thockin commented on #21560
I have started to appreciate the idea of subresources as the gateway to
ACL'ed mutating operations.  I like it less for sub-object scope
read-ACLing.

E.g. user can set Pod.spec.nodeName at creation, but thereafter it has to
go through a .../bind subresource to be mutated.

On Sat, Feb 20, 2016 at 4:33 PM, David Oppenheimer <notifications@github.com

[2016-02-21 01:16] davidopp commented on #21560
Not to rathole on the nodeName thing, but there's really no reason a user should need to set it in normal managed clusters. They should use node affinity (like Borg hostname constraint), which expresses the same intent but gives the scheduler a say.

I don't think subresource solves the problem in general. For example, with controllerRef I think we don't want the user to be able to set it at all.

[2016-02-21 01:27] MikaelCluseau commented on #3760
I'm using kubernetes 1.1, `/opt/bin/kube-proxy ... --proxy-mode=iptables --masquerade-all=false` and routing cluser IP network through any host having a kube-proxy. In this setup, my services are seeing the external IP. I use a highly available network namespace who has a external IP and a route to the hosts:
[code]

[2016-02-21 01:41] bgrant0607 commented on #21493
We should not build in a grpc health check. Use exec or http.

[2016-02-21 01:44] davidopp commented on #18566
This seems kinda bad but I'm not sure I'd block the release on it. Can we just document that a current limitation of cluster autoscaling is that it only works up to 500 nodes?

cc/ @roberthbailey @alex-mohr

[2016-02-21 01:56] thockin commented on #21618
Well, I can re-confirm that it DOES work in plain old routes mode.  Are
both your rigs with flannel?  What version of flannel and what args?

Does it fail from every node or just the master?  Is it just UDP or does
TCP fail, too?  e.g. curl your master service IP.

On Sat, Feb 20, 2016 at 12:10 PM, Erik Nordström <notifications@github.com>
wrote:

[2016-02-21 02:03] thockin commented on #21560
Not being able to set it at creation time can be controlled independently
from who can update it.  e.g. AdmissionControl can reject any Pod with
NodeName set, but we can still allow controlled updates via a `/bind`
subresource/verb.

On Sat, Feb 20, 2016 at 5:17 PM, David Oppenheimer <notifications@github.com

[2016-02-21 02:08] davidopp commented on #21560
IIUC admission control is also invoked on update, so shouldn't we be able to use admission controllers to enforce arbitrary ACL rules on both creation and update?

[2016-02-21 02:10] thockin commented on #21560
My point was to avoid any sort of per-field-per-user ACLing.

On Sat, Feb 20, 2016 at 6:08 PM, David Oppenheimer <notifications@github.com

[2016-02-21 02:21] justinsb commented on #20316
For the generic case, I think this is a dup of #12121.

For the specific case of LoadBalancers retries, we are looking at it in in #21630.

@guoshimin is it OK to close as split into those two issues?

[2016-02-21 02:22] justinsb commented on #21630
Sadly this is different.  This issue is that servicecontroller retries too quickly, without any real backoff, when a load balancer creation files.  Not specific to AWS - indeed I don't think the cloudprovider can implement the delay logic, because of issues discussed in #21625.

#20316 is specific to AWS, and not particular to load balancers, but the fix there is that AWS API calls can be delayed

[2016-02-21 02:23] thockin commented on #21523
So to catch up a bit: the bug exists in d 1.9, probably not in d 1.10, but
d 1.10 is probably too late to validate for k 1.2.  The suggested
workarounds don't actually work (can we re-confirm that?).  It's possible
for pods to get the same IP.

We can and should add logic to Kubelet to detect multiple pods with the
same IP, even if it is incomplete (wrt non-kube containers).

The rest is pretty sc

[2016-02-21 02:42] guoshimin commented on #20316
Yeah sgtm. Thanks!
On Feb 20, 2016 6:21 PM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2016-02-21 02:44] #20316 closed

[2016-02-21 02:44] justinsb commented on #20316
Thanks - closed in favor of those two issues.

[2016-02-21 02:48] AdoHe commented on #21625
@justinsb just like kubelet, per pod per pod worker, easy to reason about, but we have to take care about the load, under big cluster, there may be many services.

[2016-02-21 02:54] justinsb commented on #21219
I'm not going to get the time to work on this, I don't think.  We don't have an e2e test, I think because it's not obvious how to set up the partitions.  This problem applies to GCE also (I thought I was just going to copy the GCE test for AWS...)

[2016-02-21 03:09] #13873 closed

[2016-02-21 03:37] AdoHe commented on #21062
@bgrant0607 @feihujiang Below is related code:
[code]
@feihujiang can you confirm this? Besides if we want to log a waring in kubelet, we may need to get `clientcmdapi.Config` in kubelet.

[2016-02-21 04:16] davidopp commented on #20925
Please remove v1.2 and P0 tags if Ike's PR fixes this.

[2016-02-21 04:19] davidopp commented on #21024
#21235 fixed this.

[2016-02-21 04:19] #21024 closed

[2016-02-21 04:52] davidopp commented on #21563
cc/ @roberthbailey

[2016-02-21 04:57] davidopp commented on #21561
@cjcullen for routecontroller

[2016-02-21 05:04] thockin commented on #21635
@johndmulhausen

[2016-02-21 05:27] thockin commented on #16836
You should never need the --kube_master flag.  That just means that your
service accounts are not set up properly.

start here:
https://github.com/kubernetes/kubernetes/issues/10265#issuecomment-117267504

On Wed, Feb 17, 2016 at 8:07 AM, Duncan McNaught <notifications@github.com>
wrote:

[2016-02-21 05:50] bprashanth commented on #21523
misunderstanding?

We haven't invested the effort in getting a reliable repro. From what I can tell 1.9 is just bad for networking. @dchen1107 mentioned that we might still go back to 1.8.

same IP, even if it is incomplete (wrt non-kube containers).

Sounds practical. On detecting an IP conflict we should probably delete all participant pods, or sort by creation timestamp and leave the first. Not

[2016-02-21 06:07] davidopp commented on #21563
AFAICT NodeController only calls into the cloud provider from one place,
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/nodecontroller.go#L471
but this should happen only once every nc.nodeMonitorPeriod which defaults to 5 seconds. And it's just one call (every 5s), not one call per node.

[2016-02-21 06:08] yaron2 commented on #21067
Please resolve this...

[2016-02-21 06:19] smarterclayton commented on #20497
You can always remove a pod like this by doing `kubectl delete pod NAME --grace-period=0`.  When you have this condition, it's almost always because a node is no longer handling those pods - either the Kubelet no longer thinks it has the same nodeName as before, or the Kubelet can't contact the API server or is unable to make updates.  When you `kubectl describe node 172.16.29.91` do you get resul

[2016-02-21 06:33] joshuacox commented on #21315
https://raw.githubusercontent.com/kubernetes/kubernetes/master/docs/user-guide/liveness/http-liveness.yaml

[code]

if I remove the httpHeaders section I get this:

[code]

other than authorizing gcloud I don't think I've done anything in particular to this install.

I just built a new fresh cluster from  kube-up.sh

for reference, I got kubectl and friends by doing this:

[code]

which was  about