[2016-09-02 22:53] smarterclayton commented on #31889
This is #32009 and the related changes.

[2016-09-02 22:57] smarterclayton commented on #31873
https://github.com/kubernetes/kubernetes/issues/27834#issuecomment-242576931 *could* be even older.  But that doesn't prove the error isn't being handled properly.

[2016-09-02 22:58] smarterclayton commented on #31873
I'm considering adding debugging to the generic client error to include status code.  I'll at least instrument the core code so we can figure out what the error is doing.

[2016-09-02 22:59] quinton-hoole opened #32014 "Add e2e tests for Federated ReplicaSet cluster weighting/min/max"
cc @jianhuiz As per https://github.com/kubernetes/kubernetes/pull/31904#issuecomment-244505671

Per design below.  Current e2e tests do not cover that functionality.

[code]

[2016-09-02 23:07] smarterclayton commented on #31873
@lavalamp added https://github.com/kubernetes/kubernetes/issues/32015 please approve so we can get some flake info

[2016-09-02 23:10] rmmh commented on #31213
The issue with leaked containers should be resolved now.

[2016-09-02 23:10] #31213 closed

[2016-09-02 23:12] rmmh commented on #30962
Closing as a dupe of #31213

[2016-09-02 23:12] #30962 closed

[2016-09-02 23:15] rmmh commented on #26647
Fixed in kubernetes/test-infra#483

[2016-09-02 23:15] #26647 closed

[2016-09-02 23:15] rmmh commented on #31457
caused by #26647

[2016-09-02 23:15] #31457 closed

[2016-09-02 23:18] rmmh commented on #31462
Fixed by #31354, dupe of #30549

[2016-09-02 23:18] #31462 closed

[2016-09-02 23:27] saad-ali commented on #29324
Thanks for digging into this @justinsb and @jingxu97. To summarize what is happening: attach/detach controller tries to be smart, if a volume is already attached it will not reattach the volume. If a detach is pending, however, a false signal can be given to the node that the volume is attached (even though it references the disk from the previous operation). The attach detach controller rectifies

[2016-09-02 23:27] lavalamp commented on #31873
I fast-tracked it

On Fri, Sep 2, 2016 at 4:07 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-02 23:46] janetkuo commented on #31738
Right before the 500 return code:
[code]

In pkg/apiserver/apiserver.go#writeNegotiated, the input object is nil, and caused this error

[2016-09-03 00:04] #24393 closed

[2016-09-03 00:05] ixdy commented on #20133
I'm going to close as obsolete.

[2016-09-03 00:05] #20133 closed

[2016-09-03 00:05] girishkalele commented on #31910
Atleast for kube-dns, I filed an issue this week to build and run the kube-dns that exists in-tree.

#31739

[2016-09-03 00:22] Random-Liu commented on #28698
_v1.11 results copied from [this comment](https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-217055068)_

**Introduction**
I benchmarked docker v1.12 using the [docker micro benchmark tool](https://github.com/kubernetes/contrib/tree/master/docker-micro-benchmark).

**Benchmark Environment**
* Cloud Provider: GCE
* VM Instance: n1-standard-2 (2 vCPUs, 7.5 GB memory)
* OS: Debian GNU

[2016-09-03 00:25] luomiao commented on #31823
@dagnello Hi Davide, I saw your PR for this issue and I have another question. Why cleanUpController could be called with an empty newSCSIController? According to the context, an empty newSCSIController should not even be returned by CreateSCSIController rt? Thanks.

[2016-09-03 00:35] #29656 closed

[2016-09-03 00:40] derekwaynecarr commented on #31873
Following.  I wonder if this relates to namespace controller flakes or
not.  My most recent changes in e2e framework are verifying all resources
are deleted via dynamic client, not sure if that is related are causing
something special for some resources...

On Friday, September 2, 2016, Daniel Smith <notifications@github.com> wrote:

[2016-09-03 00:44] derekwaynecarr commented on #31889
It looks like we are unable to ignore a 404 so we are reporting false positives.  Awesome sleuthing Clayton

[2016-09-03 00:44] bprashanth commented on #28838
Can you just deploy the nginx ingress controller and not include `hostPort` in the yaml (https://github.com/kubernetes/contrib/blob/master/ingress/controllers/nginx/rc.yaml#L93)? that will give you something that understands ingress, but isn't exposed outside the cluster: https://github.com/kubernetes/contrib/tree/master/ingress/controllers/nginx

Note that running that on GKE/GCE requires an anno

[2016-09-03 00:46] derekwaynecarr commented on #32008
See https://github.com/kubernetes/kubernetes/issues/32009

Marking duplicate.

[2016-09-03 00:46] #32008 closed

[2016-09-03 00:49] derekwaynecarr commented on #31938
Closing as duplicate https://github.com/kubernetes/kubernetes/issues/32009 - improved tests are finding actual problems in client/server library.

[2016-09-03 00:49] #31938 closed

[2016-09-03 01:31] k8s-merge-robot opened #32022 "[k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/538/

Failed: [k8s.io] Density [Serial] [Slow] create a batch of pods latency/resource should be within limit when create 10 pods with 0 interval {E2eNode Suite}

[code]

Previous issues for this test: #30523

[2016-09-03 01:51] #19766 closed

[2016-09-03 02:01] derekwaynecarr commented on #30687
Closing as duplicate of https://github.com/kubernetes/kubernetes/issues/31740

Namespace deletion seems to be getting tripped up by not found errors being parsed incorrectly by our code.

[2016-09-03 02:01] #30687 closed

[2016-09-03 02:13] derekwaynecarr commented on #31778
Closing issue as this is working as designed.  Pod was burstable qos.

[2016-09-03 02:23] justinsb commented on #31937
Sounds good .. I'll switch kops to use kubenet by default (https://github.com/kubernetes/kops/issues/400)

I suspect I am not the last holdout though, so a deprecation warning sounds appropriate.

Generally if you open an issue against kops when changing defaults, I'll make sure it happens there in a more timely fashion :-)

[2016-09-03 02:30] #31077 closed

[2016-09-03 02:34] justinsb commented on #31088
SGTM @saad-ali ... when we get a fix for #29324 remind me to validate by terminating the instances :-)

[2016-09-03 03:36] k8s-merge-robot opened #32023 "[k8s.io] ReplicaSet should serve a basic image on each replica with a private image {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6497/

Failed: [k8s.io] ReplicaSet should serve a basic image on each replica with a private image {Kubernetes e2e suite}

[code]

[2016-09-03 03:48] derekwaynecarr commented on #31720
I can't tell if you want to provide analysis on Event objects as related to
node or from the Log files themselves, but I am a big +100 on doing
something here to help people help themselves.

On Tuesday, August 30, 2016, Dawn Chen <notifications@github.com> wrote:

[2016-09-03 03:58] resouer opened #32024 "Defining the equivalence pod"
We assume equivalence pod will reduce scheduling latency in large scale.

I. Original discussion is https://github.com/kubernetes/kubernetes/issues/17390
There's a simple way introduced there to define the equivalence pod (by caching predicates & priorities), but during implementation https://github.com/kubernetes/kubernetes/pull/31605, we found that is not enough.

For example:
- Pods with differ

[2016-09-03 05:22] rothgar commented on #25386
Would this be something that would be part of the existing get.k8s.io script or a separate url? I'm not sure where the main script lives. If someone knows I can work on this.

[2016-09-03 05:38] dshulyak commented on #31778
I actually thought that it should be best effort qos. Is it burstable because of pvc storage request?

[2016-09-03 06:03] k8s-merge-robot opened #32025 "[k8s.io] Secrets should be consumable from pods in env vars [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31934/kubernetes-pull-build-test-e2e-gce/57261/

Failed: [k8s.io] Secrets should be consumable from pods in env vars [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31934.

[2016-09-03 07:18] danopia commented on #30518
In the CloudFormation API, ALBs are actually called `ElasticLoadBalancingV2`. There's not much chance of ELBV1 getting new features. ALBs are a little cheaper too

[2016-09-03 08:58] #31560 closed

[2016-09-03 09:01] rvrignaud commented on #29903
Hi @saad-ali and @jingxu97,

We just upgraded both master and nodes to 1.3.6 today. All of our pods with a PD attached failed to start. All of them ...

For the same pod as https://github.com/kubernetes/kubernetes/issues/29903#issuecomment-240243691

We got:
[code]

This is still on the same GKE cluster :  c2 on zone europe-west1-d. I'll send you project-id and kubelet.log by slack.
Do not hesitat

[2016-09-03 09:17] dragon9783 commented on #15128
+1

[2016-09-03 09:23] kargakis commented on #31738
There are cases in the rollback rest where we return plain errors instead of api errors

[2016-09-03 10:22] bronger opened #32026 ""kubectl exec" does not work through "kubectl proxy""
I use kubectl v1.3.5 and v1.2.0 in the k8s cluster.  If I proxy to the cluster with

[code]

I get the following error when trying to execute a command in a container:

[code]

Other commands like `get pods` work fine.  The server is contacted by the poxy with `https://kubmaster.****.de:443` and a bearer token.

[2016-09-03 11:39] k8s-merge-robot opened #32028 "TestServiceAlloc {master}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/16560/

Failed: TestServiceAlloc {master}

[code]

Previous issues for this test: #31850 #31880

[2016-09-03 13:08] philpennock opened #32029 "bug: zsh completion re-inits complete completion system"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): zsh

(Found a bug which I believe is a consequence of this bug, will mark it as such

[2016-09-03 13:13] philpennock commented on #27538
I believe that this may be a side-effect of the bug which I've reported as issue #32029 -- I filed a new bug for the root-cause which I _know_ affects me, I'm not certain that it's the cause of your issues too.

I'm currently using:

[code]

(which relies upon having a `have_cmd` function, but you can fake it; that's only because this zshrc is shared across multiple systems, most of which won't ha

[2016-09-03 13:25] AdoHe commented on #32029
@philpennock would you want to give a try to help fix this issue? I am not that familiar with shell completion.

[2016-09-03 13:47] luxas commented on #26093
I haven't and will never propose to remove the socat dep. On the other hand, I'll gladly investigate if it's worth it to move the socat dep into a container, as the comments above the `PortForward` code says.

Yeah, this is mostly about identifying them all. If we then find something unnecessary (like `uname -a`), we should remove it. And also, if we find an exec with a dep that's unnecessary like

[2016-09-03 14:02] m1093782566 opened #32031 "[Pet Set] Fix logical breaking and clean code for func Get(pet *pcb) of apiServerPetClient"
**What does this issue address?**

Consider this [code block](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/petset/pet.go#L169-L177), I think there is a logical breaking.

It set `found` to `false` only if client receive an "Not Found" error, while keep found to true if client receive other type errors(such as 403).

I think `found` should always be **false** when err is not

[2016-09-03 14:07] PierrickI3 commented on #30495
Thanks @mikeputnam and @ianjamez. That worked for me too.

[2016-09-03 14:29] k8s-merge-robot opened #32032 "[k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22742/

Failed: [k8s.io] ScheduledJob should replace jobs when ReplaceConcurrent {Kubernetes e2e suite}

[code]

Previous issues for this test: #30542 #31460 #31479 #31552

[2016-09-03 14:33] philpennock commented on #32029
The above shell fragment should be good to use to replace the existing content in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/completion.go#L237 and the following line: just guard the invocation against it already having happened.  This reduces the likelihood of breaking a setup where someone is relying upon kubectl to do what it shouldn't have been doing.

Otherwise, sane

[2016-09-03 17:03] k8s-merge-robot opened #32034 "[k8s.io] ScheduledJob should not emit unexpected warnings {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14703/

Failed: [k8s.io] ScheduledJob should not emit unexpected warnings {Kubernetes e2e suite}

[code]

[2016-09-03 17:43] k8s-merge-robot opened #32035 "[k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8344/

Failed: [k8s.io] ScheduledJob should not schedule jobs when suspended [Slow] {Kubernetes e2e suite}

[code]

[2016-09-03 18:10] madhusudancs commented on #32035
@erictune assigning to you for further triaging.

[2016-09-03 20:01] k8s-merge-robot opened #32036 "kubernetes-e2e-gke-test: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13632/

Run so broken it didn't make JUnit output!

[2016-09-03 21:34] davidopp commented on #31771
@gmarek observes "the error means that some system (kibana it this particular case) Pod was dead and tests didn't run. Previous failure was some complete cluster breakdown. This test is not flaky anymore AFAICT. There are some failures, but they look like a real bug: #31977"

I agree with Marek. And even if it were flaky, it's not failing enough to be consdered a P0 flake. I'm going to downgrade t

[2016-09-03 21:37] wrs commented on #27538
Indeed yes, for my simple one-laptop setup this "live patch" seems to do the trick:

[code]

[2016-09-03 21:48] davidopp commented on #31977
Possibly stupid question: why should the third new pod schedule? The log lines you pasted under "API server agreed on that list" show that the already-running pods use 100+110+100 = 310m of CPU, and capacity is 1690m. You said the new pods request 500m each. Wouldn't that mean that after the first two schedule there is only 1690-310-500-500=380m available, thus not enough to schedule the third new

[2016-09-03 22:59] gmarek commented on #31977
1690 = 2000 - 310 (test prints out the remaining capacity), and 2000 is for milicores.

[2016-09-03 23:40] r2d4 commented on #31965
@bprashanth I'm looking to get into k8s dev and this bug looks manageable.  Mind if I take a stab?

[2016-09-04 00:21] k8s-merge-robot opened #32037 "[k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2194/

Failed: [k8s.io] DaemonRestart [Disruptive] Kubelet should not restart containers across restart {Kubernetes e2e suite}

[code]

Previous issues for this test: #27502 #28722

[2016-09-04 02:03] AdoHe opened #32039 "DescribePodTemplate should update label display"
FYI. I am debugging one issue, and just call `DescribePodTemplate` to get the template output, but just get this:

[code]

[2016-09-04 02:05] davidopp commented on #30566
@bprashanth is #32040 what you had in mind?

[2016-09-04 02:21] yarntime opened #32041 "the default value of HorizontalPodAutoscaler.Spec.CPUUtilization"
I think that it is not neccessary to set a default value to HorizontalPodAutoscaler.Spec.CPUUtilization, because some users only want to do horizon pod autoscale with custom metrics.

[2016-09-04 02:31] k82cn commented on #31702
Hi team,

After updating the patch, some unit test are failed; so I'm working to fix it. But any suggestion on how to debug it?

I use the following command to `make check WHAT=pkg/kubectl/cmd KUBE_TEST_ARGS="-c"` to generate a binary to debug, but I got the following message :(. Any suggestions?

[code]

[2016-09-04 03:46] krmayankk commented on #23211
@kargakis is there a sig-* group for this kind of discussions, i can join/attend ?

[2016-09-04 06:13] errordeveloper commented on #31307
We currently fail very silently, I've just spend hours figuring not understanding what's gone wrong to arrive at a conclusion that `HostPort` won't work with CNI as it relies on Docker setting up NAT... Anyhow, is there a meta issue where missing features like this are listed? If this cannot be considered important enough to fix in 1.4, can we at least consider adding a clear warning instead of be

[2016-09-04 06:24] #31681 closed

[2016-09-04 06:53] k8s-merge-robot opened #32043 "[k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31594/kubernetes-pull-build-test-e2e-gce/57303/

Failed: [k8s.io] Generated release_1_2 clientset should create pods, delete pods, watch pods {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31594.

[2016-09-04 07:34] k8s-merge-robot opened #32044 "[k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-serial-gce-e2e-ci/554/

Failed: [k8s.io] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods {E2eNode Suite}

[code]

Previous issues for this test: #30878 #31743 #31877

[2016-09-04 07:35] luxas commented on #31307
/cc

[2016-09-04 08:18] #31875 closed

[2016-09-04 09:02] #32010 closed

[2016-09-04 09:39] krmayankk commented on #29838
@AdoHe @bgrant0607  Here are my findings so far using printf debugging:-

1: sorting of events across different resources can be achieved using the command `kubectl get events --sort-by='{.lastTimestamp}'` otherwise they are all mixed up

2: doing kubectl get events would show up events in mixed order across all resources(tested with pods). This should show events in sorted order by default, since

[2016-09-04 10:07] kargakis commented on #23211
@krmayankk @kubernetes/sig-apps it is

https://github.com/kubernetes/community/tree/master/sig-apps

[2016-09-04 12:21] dims commented on #32035
Fixed by this Revert - https://github.com/kubernetes/kubernetes/commit/3d4b3d5e243dab1a98778d1189c2bf5b476d5a70 Let's please close the issue @erictune

[2016-09-04 12:21] dims commented on #32034
Fixed by this Revert - https://github.com/kubernetes/kubernetes/commit/3d4b3d5e243dab1a98778d1189c2bf5b476d5a70 Let's please close the issue @nikhiljindal

[2016-09-04 12:35] k8s-merge-robot opened #32045 "[k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/25532/kubernetes-pull-build-test-e2e-gce/57312/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run job should create a job from an image when restart is OnFailure [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #25532.

Previous issues for this test: #28584

[2016-09-04 14:27] simonswine commented on #23354
I created an elasticsearch PR here: https://github.com/kubernetes/charts/pull/58. It's able to scale down without cluster degradation == data loss. I am using a lifecycle hook for that

[2016-09-04 15:20] keyingliu commented on #21613
@bks7 we have same issue with version 1.2, did you add --masquerade-all option to fix the issue? or the issue is fixed withe version 1.2, and --masquerade-all is not needed at all?

[2016-09-04 15:34] thockin commented on #21613
Masquerade-all should almost never ever be needed.

On Sep 4, 2016 8:21 AM, "keyingliu" <notifications@github.com> wrote:

[2016-09-04 17:37] hongchaodeng commented on #31962
Putting aside the interference from other tests, there are many layers of potential problems:
- getting events from etcd.
- processing logic (deserializing, filtering)
- sending out results

I would like to see these three layers to be decoupled and have them tested each.

[2016-09-04 20:32] smarterclayton commented on #26299
Makes sense to me, we've heard the same thing from multiple users.

[2016-09-04 20:52] ivan4th commented on #30632
Indeed the service latency test may hang if `nodeName` is happens to be `172.17.0.6` due to #31311 because dots make `nodeName` an invalid DNS1123Label. You get the following diagnostics in controller manager log:

[code]

[2016-09-04 21:20] ivan4th opened #32050 "New EndpointAddress.NodeName validation rules broke hack/local-up-cluster.sh"
#31311 introduced a new requirement for node names to be DNS1123Labels.
In case of hack/local-up-cluster.sh, an IP address is used as node name and thus endpoints aren't created for services, e.g. kube-dns doesn't work anymore.

There are other projects that use IP addresses as node names for running simplified k8s dev environment:
https://github.com/metral/nanokube
https://github.com/sttts/kubern

[2016-09-04 22:23] asalkeld commented on #31691
@lavalamp the failure in TestServiceRegistryExternalTrafficAnnotationHealthCheckNodePortUserAllocation seemed to have been a once off. (maybe I ctrl-c and re-ran too fast)

The errors I was trying to avoid in the PR are to do with errors like this:
cover: internal error: block 264 overlaps block 266

see openshift bug: openshift/origin#16540
go bug: golang/go#16540

[2016-09-04 23:01] shamil commented on #19029
Still happens to me, at least in Node.js. Each time I recreate PODs which are part of UDP service I also have to restart the Node.js PODs.

Using `k8s v1.3.6` provisioned by `kops`

[2016-09-04 23:16] jason-riddle opened #32051 "[Question] How do you find out what a pod belongs to (Rep. Controller, Deployment, Replica Set, etc.?"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): It's a bit tough to search for this since this includes a lot of keywords.

---

**Is

[2016-09-04 23:36] ivan4th commented on #28763
No longer applicable (self-resolved after the offending commit was reverted).

[2016-09-04 23:36] #28763 closed

[2016-09-05 00:45] k8s-merge-robot opened #32053 "[k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a secret. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31949/kubernetes-pull-build-test-e2e-gce/57323/

Failed: [k8s.io] ResourceQuota should create a ResourceQuota and capture the life of a secret. {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31949.

[2016-09-05 01:25] k8s-merge-robot opened #32054 "[k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22832/

Failed: [k8s.io] InitContainer should not start app containers and fail the pod if init containers fail on a RestartNever pod {Kubernetes e2e suite}

[code]

[2016-09-05 02:32] AdoHe commented on #32051
@jason-riddle I think you could check the created-by annotation of pod.

[2016-09-05 03:07] workhardcc commented on #31785
I found the solution!
This problem is not blame kubernetes but iptables. We should turn off the `tw_recycle` in proc.

[2016-09-05 03:13] jason-riddle commented on #32051
@AdoHe But that's assuming it was set in the first place which I didn't do. However, your suggestion lead to the following.

With the describe call, you can just grep for <code>Controllers</code>.

[code]

In the case of a lone pod running, <code>Controllers</code> will be empty.

[code]

Thanks!

[2016-09-05 03:13] #32051 closed

[2016-09-05 04:10] thockin commented on #19029
@shamil Can you please open a new issue and post a repro case, as simple as you can make it.

Thanks

@girishkalele @kubernetes/sig-network

[2016-09-05 04:10] asalkeld commented on #31160
also see #31943

[2016-09-05 04:23] thockin commented on #31307
OK, I can get behind the 2-halves model.  what do you think @freehan ?

@errordeveloper what condition can we detect for an error message?  In kube, as it is (using kubenet anyway) we should not start the pod at all if we can't get the hostport.

[2016-09-05 04:49] #32050 closed

[2016-09-05 04:56] k8s-merge-robot opened #32057 "[k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/22841/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC {Kubernetes e2e suite}

[code]

Previous issues for this test: #27524

[2016-09-05 05:21] thockin commented on #13610
You can effectively do this with a ConfigMap and it's even better -
ConfigMap is fully update-friendly, so the files can "change" without the
Pod restarting, if you want.

On Fri, Sep 2, 2016 at 3:18 PM, Josh Berkus <notifications@github.com>
wrote:

[2016-09-05 05:53] bryk commented on #31799
1. What release `livew.io/kubernetes-dashboard` corresponds to?

2. You could pass KUBE_CONFIG file to it instead of specifying --apiserver-host param. The file is the same you use for kubectl. Other than that, this is a good way.
3. Anyway, why do you want to run the UI on master?

[2016-09-05 06:13] piosz commented on #31710
This is failing because of Rescheduler is not enabled there. I'm working on this

[2016-09-05 06:16] k8s-merge-robot opened #32059 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5573/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105

[2016-09-05 06:29] wojtek-t commented on #27503
@wojtek-t the backoff is supposed to be by power of per retry starting at .1ms 10 with max of 15 minutes... After 6 or so times needing to back-off, it gets into minutes. Earlier I had modified the code to always force an error and induce backoff, and backoff looked to work right, but there could be something there.

@derekwaynecarr - sure I'm aware of this backoff. But the next step is supposed t

[2016-09-05 06:46] anioool commented on #31858
Hi,

May someone perform some investigation? This issue block us totally with using kubernetes.

[2016-09-05 06:52] wojtek-t commented on #31215
@yujuhong - thanks a lot for looking into it.

[2016-09-05 07:11] wojtek-t commented on #32024
Thanks for filing this issue.

Regarding first option - we definitely need a bunch of others, definitely labels, probably some annotations, etc.
My biggest fear in this approach is that if someone will add dependency on some new field at some point, we don't have good way to test it and ensure that equivalence pod will be updated at that point too.

Regarding second option - I think this is actual

[2016-09-05 07:42] wojtek-t commented on #31981
Hmm - something strange is happening in those kubemark-500 failure.

The first failure - it seems that controller-manager wasn't even aware of the decrease in number of replicas:
[code]

apiserver:
[code]

controller-manager:
[code]

So it seems that controller-amanger didn't even receive the update from 250 to 211 and it only received update to 146 replicas.

On the other hand, in this failure:
h

[2016-09-05 07:45] errordeveloper commented on #31307
@thockin I think the condition would be `kubeCfg.NetworkPluginName == "cni" && anyContainerWantsHostPort(pod.Spec)`.

[2016-09-05 08:05] #31119 closed

[2016-09-05 08:17] davidopp commented on #32024
I definitely agree that ControllerRef approach is the best way to do this. If collection types that allow instances to be different from one another (like PetSet) become very popular at some point then we might need to switch to the first approach, but this is not necessary now.

[2016-09-05 08:27] nebril commented on #31965
@bprashanth I can try to fix it if that's OK. Thanks for the pointer to the source code!

[2016-09-05 08:29] errordeveloper commented on #29738
I thought this was the desired functionality, i.e. you specify tolerations on some of your daemonsets that you want to run on masters. You probably want to add NodeLabels (or affinity) to express that this daemonset is supposed to run exclusively on masters.

[2016-09-05 08:29] #32059 closed

[2016-09-05 09:30] wojtek-t commented on #32024
Actually PetSet is a good point here. So I think that we should do checking on: ControllerRef but limit it to just some types of controllers. But that's a very small implementation detail.

[2016-09-05 09:34] davidopp commented on #32024
Yes, good point.

[2016-09-05 09:44] weherdh opened #32068 "Azure Disk: Unexpected warning message of "FailedMount" when create the pod at the first time"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.115+f6fe7c3ea759c4-dirty", GitCommit:"f6fe7c3ea759c48de942225788e7b0247ca20698", GitTreeState:"dirty", BuildDate:"2016-09-05T06:05:00Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0

[2016-09-05 09:50] davidopp commented on #30272
FYI @kevin-wangzefeng said he can implement the "normal node unreachable scenario" for 1.5. Once that's in it should be easy for you to write a command-line client that does the "maintenance mode" operations.

[2016-09-05 09:53] geoah commented on #29324
Is there a temp fix for this until it is fixed upstream?

@svanderbijl suggested `--enable-controller-attach-detach=false` but I'm not sure what the impact of this will be. If I understand correctly it will disable the new attach/detach controller and give control of attaching/detaching storage to kubelet, but I am not sure what the downsides of this are.

[2016-09-05 10:31] janosi commented on #28273
Please just ignore and close this issue.
It turned out, that in Docker removed the support of tar'ing the content of an existing dir in 1.10-rc2. Please see [1]. Without that, it is really just an emptyDir.
Thank you!

[1]: https://github.com/docker/docker/commit/cd5c2575c1e4544603768c728315c0992b9f91bc

[2016-09-05 10:35] bboreham commented on #23920
New discussion about a solution in CNI at #31307

[2016-09-05 10:40] dshulyak commented on #30272
Thats good. I also had a plan to finish it for 1.5. Anyway i think it is clear what needs to be done, and i will see, when i will start working on this, which part is missing.

[2016-09-05 10:44] JMD27 commented on #16836
Did anyone every solve the busybox nslookup issue?  I have the same issue nslookup works from other pods and from my node.  But not from busybox 1.24.2 or  from healthz which is based on busybox.

[2016-09-05 10:56] errordeveloper opened #32071 "[docs] Node affinity example has an odd extra annotation"
We currently [have this](http://kubernetes.io/docs/user-guide/node-selection/):

[code]

The line with `another-annotation-key: another-annotation-value` is confusing and seems to be a bit of red herring.

However, the text below this example goes:

Was the intention to have another selector term featuring that key/value pair?

[2016-09-05 10:58] noname85 commented on #31222
The Ingress controller looks for a compatible readiness probe first, if it finds one, it adopts it as the GCE loadbalancer's HTTP health check. If there's no readiness probe, or the readiness probe requires special HTTP headers, or HTTPS, the Ingress controller points the GCE loadbalancer's HTTP health check at '/' [1].

@joonathan I believe that your health check is not working properly  because

[2016-09-05 11:20] ex3ndr commented on #23864
We also need exposing large port range (10k+) for RTP/WebRTC and SIP frameworks. As SIP stack usually not stable and in some parts is very unpredictable it is really needed thing. BTW exposing port range is not what most of us want. We have dedicated IPs for media traffic and it could be nice to just map all traffic for specific IP to a service. Something like "dmz" and enable ability to expose po

[2016-09-05 11:40] wojtek-t commented on #31981
I've never seen anything like that in the past, so it seems like recent regression. But I don't see anything suspicious being merge in the last few days.

@kubernetes/sig-api-machinery @lavalamp

[2016-09-05 11:47] k8s-merge-robot opened #32074 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5580/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059

[2016-09-05 11:51] Thermi opened #32075 "Make service capable of handling traffic based on actual ExternalIP"
I would like to be able to write a service in which I can designate the ExternalIP of the node as destination address, instead of the IP the node actually has. The ExternalIP is already contained in the node's information (Can be gotten via `kubectl get node foo -o yaml`).

What would happen is, that kubernetes would resolve the ExternalIP to the actual LAN IP via the node information and then set

[2016-09-05 11:55] #32034 closed

[2016-09-05 11:55] #32035 closed

[2016-09-05 12:07] #32074 closed

[2016-09-05 12:22] jsafrane commented on #31723
I am not that good with English, proposing a normal event sent to the claim with: `cannot find provisioner %q, expecting that a volume for the claim is provisioned either manually or via external software`.

[2016-09-05 12:24] soltysh commented on #32009
Handled already in #32009.

[2016-09-05 12:30] k8s-merge-robot opened #32078 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/5581/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074

[2016-09-05 12:34] willstudy opened #32080 "kube-proxy failed to connect to balancer : missing endpoints"
Hello, I encountered a problem and failed to fix it. (http://kubernetes.io/docs/user-guide/debugging-services )

My kube-proxy is working , pod is working, service is OK.  It is small probability of this error, about 0.01%。 Just likes this :

Total request : 164171   Failed request : 18   Availability: 99.9890%
sandbox cluster ( nj02-dumi-sandbox-1.nj02 ) : access service failed

![2016-09-05 19 0

[2016-09-05 12:58] wojtek-t commented on #27503
@derekwaynecarr @smarterclayton @ncdc
I think I mostly debugged this issue.

So what is happening here (I will describe based on the failure from https://github.com/kubernetes/kubernetes/issues/27503#issuecomment-244378584, but I looked on few other random ones, and they all look roughly the same).

1. we are processing namespace multiple times, backoff is increasing (we are at the level retry aft

[2016-09-05 13:26] wojtek-t commented on #32078
Fixed by #32076

[2016-09-05 13:26] #32078 closed

[2016-09-05 13:51] wojtek-t commented on #31981
https://github.com/kubernetes/kubernetes/issues/31981#issuecomment-244432054 is addressed by #32081

The other 3 failures are still under investigation.

[2016-09-05 14:47] soltysh commented on #31009
The issue here is that for some reason the pod labels are also copied over to job labels, not sure why yet, but only when presenting to user. The object stored in etcd does not have them and this is why selection does not return anything. If I create a job with labels I can select using them. So in the end the problem here is that something (not sure which part yet) is duplicating pod's labels on

[2016-09-05 14:48] wojtek-t commented on #31981
Sorry - I missed something in the logs for the second run.

So actually all three runs (except from the one that is being fixed by #32081) are instance of exactly the same problem:
- we are scaling RC (by either adding or removing replicas)
- no actions happen for it
- there are no corresponding logs in replication controller (which means that either RC ignores this update, or this update is not e

[2016-09-05 14:50] jsafrane commented on #31948
Kubernetes can delete GCE PDs only in zones it manages. I.e. either in the same zone as the master or, when multizone is enabled in GCE config, in all zones in the same region.

This should not be allowed in the first place. Kubernetes should not create disks outside zones it manages and report an error instead.

So... please use following gce.conf, it will be allow creation/deletion of disks in a

[2016-09-05 15:02] soltysh commented on #31009
The object returned by apiserver does not have the labels set, so apparently somewhere in `kubectl get` we're adding those labels unnecessarily.

[2016-09-05 15:36] errordeveloper opened #32085 "kubelet with --kubeconfig and --requite-kubeconfig gets itself into standalone mode"
In practice this means that it doesn't get to update `nodeInfo` and thereby may refuse to admit pods which had been assigned to it by the scheduler. For example, if you update labels for that given node, and try to use affinity or `NodeLabels` on a pod, it won't get to run.

[2016-09-05 16:12] mwielgus commented on #26202
@lavalamp Can we prioritize fixing this for 1.4. We have a GKE client who is complaining about this issue.

[2016-09-05 16:48] k8s-merge-robot opened #32086 "[k8s.io] V1Job should scale a job down {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14857/

Failed: [k8s.io] V1Job should scale a job down {Kubernetes e2e suite}

[code]

Previous issues for this test: #30216 #31031

[2016-09-05 16:59] k8s-merge-robot opened #32087 "[k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/25810/kubernetes-pull-build-test-e2e-gce/57376/

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a private image {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #25810.

[2016-09-05 17:33] #31591 closed

[2016-09-05 17:42] mikedanese commented on #28687
This is not going to make it into v1.4 but will be fixed early v1.5.

[2016-09-05 17:53] brendandburns commented on #31753
@smarterclayton I think a better option is to return 404 for both non-existent and unauthorized URLs, the default user UX is better, I'll be very confused if I typo a namespace that I have rights to and I get a 403, whereas if I always get a 404, I still can't use it for probing.

--brendan

[2016-09-05 18:26] smarterclayton commented on #32009
The additional logging showed that this is caused by a single not
found being wrapped by an Aggregate.  NotFound can't handle aggregates
at all.

Several things need to be changed:

* RESTClient and generated clients shouldn't use aggregates
* aggregate of one is dumb - we should not allow it
* api errors checks should decompose aggregates that are all of one
kind (all not found is logically not f

[2016-09-05 18:43] mikedanese commented on #30075
#32021 fixed https://github.com/kubernetes/kubernetes/issues/31560

[2016-09-05 18:44] errordeveloper commented on #32085
Turns out this is only the case when `--require-kubeconfig` is set and no `--api-servers` are passed in... which is what we do in #31221. /cc @smarterclayton

[2016-09-05 18:45] smarterclayton commented on #31873
Identified and described cause in #32009 - something in client code is wrapping errors in an Aggregate.  We shouldn't be doing that, and we also probably need to handle aggregates, and also, single item aggregates are dumb.

[2016-09-05 18:47] #27532 closed

[2016-09-05 18:51] smarterclayton commented on #31924
The data in the envelope will change over time, meaning that it must be versioned, meaning that we have a proliferation of types in the envelope and in storage.  We won't know what data has to be in the envelope for all versions, and different controllers need different data.  Our access patterns for caches are all over the place - labels and namespace are great starts, but enough caches require a

[2016-09-05 18:52] errordeveloper commented on #32085
This looks like a sufficient fix for me, but I'm happy to add `--standalone` instead, if that'd help getting it accepted for 1.4.0:
[code]
cc @smarterclayton @mikedanese

[2016-09-05 18:57] errordeveloper commented on #32085
cc @kubernetes/sig-cluster-lifecycle

[2016-09-05 19:09] bprashanth commented on #31965
Please do, co-assigned

[2016-09-05 19:54] piosz commented on #23224
Bumping priority: there is a lot of problems with fluentd, migrating it to daemon set will make it more managable.

[2016-09-05 20:01] #31285 closed

[2016-09-05 20:23] smarterclayton commented on #32009
[code]

returns an aggregate - it means one of the fetches failed.  If discovery fails we may not have a full list of resources, so we return each error.  I don't think NotFound on a discovery API is equivalent to NotFound on a namespace.

So this is surfaced by @derekwaynecarr's changes - occasionally we are getting 404's from the server resources.  Going to open a second PR that adds more debugg

[2016-09-05 22:31] #28049 closed

[2016-09-05 22:35] smarterclayton commented on #32085
That commit makes sense to me.

[2016-09-05 22:43] dims commented on #24246
Does this slip to 1.5?

[2016-09-05 22:45] dims commented on #24240
Do we need to yank 1.4 tag on this?

[2016-09-05 22:46] dims commented on #26736
@dchen1107 do we need to reconsider v1.4 milestone for this?

[2016-09-05 22:52] k8s-merge-robot opened #32089 "[k8s.io] Proxy version v1 should proxy to cadvisor using proxy subresource [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/8185/

Failed: [k8s.io] Proxy version v1 should proxy to cadvisor using proxy subresource [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-05 23:14] smarterclayton commented on #26736
This is unnecessary now.

[2016-09-05 23:14] #26736 closed

[2016-09-05 23:16] dims commented on #31015
@timstclair @dchen1107 @grobie - Looks like this already happened in https://github.com/kubernetes/kubernetes/commit/1ec1c241d53cdd24b0f62a7d9f89772cb9d4ce2e can we close this tracking issue?

[2016-09-05 23:20] dims commented on #31910
@lavalamp - Is there a issue i can find more details? ("build a consistent set of containers at head for every e2e")

[2016-09-05 23:23] dims commented on #32014
@quinton-hoole Is this work still targeted for v1.4 milestone?

[2016-09-06 01:28] madhusudancs commented on #32037
Duplicate of #28722. Assigning it to previous owners - @dchen1107 @Random-Liu

cc @matchstick

[2016-09-06 01:41] seanzhau opened #32090 "kubedns DNS Record false"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.0", GitCommit:"ec7364b6e3b155e78086018aa644057edbe196e5", GitTreeState:"clean"}

**Environment**:
- **Cloud provider or hardware configu

[2016-09-06 01:46] asalkeld commented on #31160
I can work on this.

[2016-09-06 01:57] #30933 closed

[2016-09-06 02:35] #29524 closed

[2016-09-06 02:39] AdoHe commented on #31009
[code]
yes, we don't store in etcd now, so you mean we don't need to store job labels in etcd?

[2016-09-06 02:47] AdoHe commented on #31753
Perhaps it would be if we can add some cause reason to distinguish non-existent and unauthorized.

[2016-09-06 02:51] AdoHe commented on #26202
@mwielgus @lavalamp what you expect this to be, should we have a better fix in 1.4?

[2016-09-06 02:59] leopoldxx commented on #31631
will k8s consider that  different services should be  separated on different  nodes(kube-proxy)?
so kube-proxy only need to monitor the services that assigned onto it.  this maybe speed up the iptables update process and also save ports on nodes.

[2016-09-06 03:06] thockin commented on #31631
No.  All nodes must support all service VIPs.  It may be that EVENTUALLY we
have multi-tenancy clusters and then we can reduce, but that only buys time.

On Sep 5, 2016 8:00 PM, "leopoldxx" <notifications@github.com> wrote:

[2016-09-06 03:12] hongchaodeng opened #32094 "Init container not sharing volumes correctly"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug report

**Kubernetes version** (use `kubectl version`):
latest master (commit: aee6d10b5770ff11f52ffc2750cde008b6a638ff)

**Environment**:
- **Cloud provider or hardware configuration**: GCE
- **OS** (e.g. from /etc/os-release): default (GCI maybe?)
- **Kernel** (e.g. `uname -a`): default
- **Install tools**: kube-up.sh

**What happene

[2016-09-06 03:16] hongchaodeng commented on #32094
cc @smarterclayton @xiang90

[2016-09-06 03:43] euank commented on #32094
I think this is working as intended; they share volumes, not mount namespaces.

A modified version of your example showing what I'm pretty sure is meant by "shared volumes":

[code]

For that one, the same output appears in both container's logs.

[2016-09-06 03:58] k8s-merge-robot opened #32098 "[k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/10585/

Failed: [k8s.io] Density [Feature:Performance] should allow starting 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26185 #27142 #30275 #31101 #31105 #32059 #32074 #32078

[2016-09-06 04:20] hongchaodeng commented on #32094
@euank
Thanks for answering this.

[2016-09-06 04:20] #32094 closed

[2016-09-06 04:26] solsson commented on #23794
Working on Kafka for #18016, in https://github.com/Yolean/kubernetes-kafka but I will try to make it a https://github.com/kubernetes/charts PR

[2016-09-06 04:57] stevezau opened #32099 "1.4-beta0 - Missing endpoints "no endpoints available for service \"kubernetes-dashboard\"""
This seems similar to https://github.com/kubernetes/kubernetes/issues/23535 but i believe it's unrelated.

**Kubernetes version**
[code]

**Environment**:
Deployed using AWS Turnkey solution (kube-up) with 3 nodes on r3.xlarge. Running on ```Linux ip-172-20-0-9 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux```

**What happened**:
I've deployed kubernetes 1.4-beta0 as i

[2016-09-06 05:19] stevezau commented on #32099
So it seems the  kubernetes-dashboard service has no endpoints defined.

[code]

I tried to connect on one of the minions..  but get

```curl: (7) Failed to connect to 10.0.186.17 port 80: Connection refused```

I'm still pretty new to kubernetes so please point me in the right direction to troubleshoot this issue as i'm flying blind.

[2016-09-06 05:32] davidopp commented on #24246
Looks like it will be in 1.5. See #31606.

[2016-09-06 05:39] thockin commented on #23864
I'd be OK to see some alpha feature enabling ranges (including whole IP)

On Mon, Sep 5, 2016 at 4:21 AM, Steve Kite <notifications@github.com> wrote:

[2016-09-06 05:41] thockin commented on #31307
OHHH, you mean an error message NOW until a fix is in for CNI?  Yeah, that
I could see..

On Mon, Sep 5, 2016 at 12:46 AM, Ilya Dmitrichenko <notifications@github.com

[2016-09-06 06:22] thockin commented on #11204
humm, this is still a hard one to express properly.  In a way, I'd most like to get rid of this rule entirely and let people run whatever they need to set up the rules.  In practice, though, this would end up with just about every node running a daemonset that simply programs iptables.  It would, however, allow people to opt-out totally, or do any sort of mad thing.  Thoughts?

Kube 1.4 introduces

[2016-09-06 06:23] #9944 closed

[2016-09-06 06:30] wojtek-t commented on #24246
Yes - I would like to have it in 1.5.

[2016-09-06 06:43] thockin commented on #22647
API validation is syntactic, not semantic.  We ensure the value provided is
an IP address, not that it is an NFS server, or that you have access to it,
or even that it is reachable.  In general, the IP might be dead now, but
come online later..

I'm not sure there's much to do here, except better events.

On Wed, Aug 31, 2016 at 12:10 AM, Jing Xu <notifications@github.com> wrote:

[2016-09-06 06:47] errordeveloper commented on #31307
Yes.

On Tue, 6 Sep 2016, 06:41 Tim Hockin, <notifications@github.com> wrote:

[2016-09-06 06:53] wojtek-t commented on #31981
The last failure is exactly the same as the other three, so we continue debugging the same issue.
I looked into logs and here are the interesting ones:
- the second scale of "load-small-rc-1338" failed
[code]

from apiserver:
[code]

from controller:
[code]

So at the time when the scale from 5 to 3 happened, ReplicationController received some update. However, the log we have isn't exactly what w

[2016-09-06 06:56] soltysh commented on #31009
I'm saying if you don't set any labels none should be stored. Iow. [this job](https://github.com/kubernetes/kubernetes/blob/master/test/fixtures/doc-yaml/user-guide/job.yaml) does not have any labels set explicitly and that is perfectly valid, the only ones you're seeing are being added to pods running this job. But for some reason when you do get you're seeing the labels copied from pod template

[2016-09-06 06:58] stevezau commented on #32099
Forgot to add pod describe

kubectl describe pod kubernetes-dashboard-v1.1.1-coyi5 --namespace=kube-system
[code]

[2016-09-06 07:01] jszczepkowski commented on #31928
#30939 was solved and it was not causing this problem.

[2016-09-06 07:01] jszczepkowski commented on #30571
#30939 was solved and it was not causing this problem.

[2016-09-06 07:02] jszczepkowski commented on #30519
#30939 was solved and it was not causing this problem.

[2016-09-06 07:02] ido commented on #30613
Slightly off-topic but related, and not meant to reopen this thread:

For anyone trying to get the best of both worlds for k8s on GCE between `local-ssd` and `pd-ssd` disk types, one expensive ($) temporary workaround until this functionality has matured is to do asynchronous disk mirroring.  You could mirror changes to the local-ssd using asynchronous DRBD/RAID1-style block device replication.  C

[2016-09-06 07:05] colemickens commented on #32068
cc: @rootfs

[2016-09-06 07:11] dixudx commented on #11626
@uruddarraju How is the keystone authorization going on ? I have not seen that implementation in [kubernetes/pligin/pkg/auth](https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/auth)

[2016-09-06 07:13] colemickens commented on #32068
Was the VHD already formatted or was it completely blank on the first run? I'm wondering if it timed out waiting for `mkfs` to finish.

[2016-09-06 07:24] errordeveloper commented on #32085
Thanks, @smarterclayton. I'll open a PR.

[2016-09-06 07:35] weherdh commented on #32068
@colemickens I think it should be formatted and completely blank. This vhd I just created by your docker.io/colemickens/azure-tools. BTW, if you have time, is it possible to add more formats supporting on your images? like mkfs.ntfs and mkfs.xfs. Thanks.

[2016-09-06 07:44] xingzhou opened #32103 "Can not run kube-mesos integration correctly when enable service account."
While following this [doc](http://kubernetes.io/docs/getting-started-guides/mesos/) to setup a kube-mesos integration env on my laptop, I found the default service account and default token are not created when start the cluster. As a result, I can not create a pod or deployment in this environment.

Reproduce steps:
1. Download the latest Mesos code, build and start 1 single master with 1 single

[2016-09-06 07:49] xingzhou commented on #32103
This [patch](https://github.com/kubernetes/kubernetes/pull/24841) introduced `internalPodInformer` to node controller and now when we start a node controller, if `internalPodInformer` is not nil, we will start this Informer controller as well. But the start of the `internalPodInformer` will block main thread from starting other controllers later in the main thread. [Here](https://github.com/kubern

[2016-09-06 07:55] piosz commented on #31710
The test is passing now after redeploying cluster with enabled rescheduler.

[2016-09-06 07:57] #31941 closed

[2016-09-06 08:10] wojtek-t commented on #32098
I took a quick look, and it seems that we were mostly starved on writing http response:
[code]

On the other, looking into logs in general it seems that we are lacking CPU, which may be the main reason here...

[2016-09-06 08:23] soltysh commented on #31009
As stated in the PR, I was wrong, apparently we're copying object's labels from pod template since almost forever (#6616) if they are not set. I'll prepare a followup for batch/v2alpha1.

[2016-09-06 08:46] xiaoping378 commented on #12767
Maybe we should add an action in Makefile:  **make rpms**

[2016-09-06 09:03] wojtek-t commented on #31981
For now, we are waiting for the next failure (currently with correct logs), to narrow down the reason of the failure.

[2016-09-06 09:09] wojtek-t commented on #31215
OK - so the new node condition is already working - we faced that in:

The current issue is that this is basically breaking all the tests, because in the cluster validation phase we allow for small percentage of tests to fail provisioning, but then in tests we require all of them to be healthy.

I will send out a PR that will allow the for some nodes to be not ready also in the test framework (it

[2016-09-06 09:15] nkwangleiGIT commented on #31595
hi cherylhan,
Do you mean the results of "**kubectl get pods -o wide**" don't show Pod IP in your centos environment?
As I tried, Pod IP was on the list, can you provide more details?

[2016-09-06 09:27] wojtek-t commented on #31345
So to summarize, the main problem in my opinion is that:
wait.Until take "watch.Interface" as an argument, and we are breaking up watches every 5-10 minutes. So if you are supposed to wait longer than that, it will just timeout.

Adding @smarterclayton - who added wait.Until IIRC

@kubernetes/sig-scalability

[2016-09-06 09:29] soltysh commented on #32086
This problem is being taken care of in #27503.

[2016-09-06 09:29] #32086 closed

[2016-09-06 09:42] soltysh commented on #32032
This problem is being taken care of in #27503.

[2016-09-06 09:42] #32032 closed

[2016-09-06 09:43] soltysh commented on #31657
This problem is being taken care of in #27503.

[2016-09-06 09:43] #31657 closed

[2016-09-06 10:00] k8s-merge-robot opened #32113 "[k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32110/node-pull-build-e2e-test/22810/

Failed: [k8s.io] ConfigMap should be consumable in multiple volumes in the same pod {E2eNode Suite}

[code]

Happened on a presubmit run in #32110.

[2016-09-06 10:29] gmarek commented on #26822
@ixdy - happened again in #32070

[2016-09-06 10:30] ingvagabund commented on #30444
Looking good. Thanks.

[2016-09-06 10:34] gmarek commented on #32098
Also - it's over 3k items in the response. I don't know how big Pod item currently is, but my guess is that it has few kB. This would mean that we were writing around 10MB of response - alone it's not a problem, but if we had a lot of network traffic at that point for some reason (e.g. some relist for some watch) the network might have been a problem.

[2016-09-06 10:48] cherylhan commented on #31595
@nkwangleiGIT  thanks i have resolved the problem 。when i restart docker ，i forget set --bip

[2016-09-06 11:29] dshulyak opened #32119 "Vagrant environment should have storage class provisioned by default"
_feature request_

Enables easier testing for pv/pvc, and all derivatives like pet sets. The only alternative is to use manually created pv of local type.

I have time to work on it myself and created this feature to collect feedback/ideas on what provider should be enabled by default.

[2016-09-06 11:32] dshulyak commented on #28706
If there is no volunteers, i will be glad to help here and land at least part of it in 1.5.

[2016-09-06 12:13] jszczepkowski commented on #30571
Duplicate of #31591

[2016-09-06 12:18] jszczepkowski commented on #30519
Duplicate of #31591

[2016-09-06 12:23] jszczepkowski commented on #29770
Duplicate of #31591

[2016-09-06 12:27] jszczepkowski commented on #31928
This is probably a duplicate of #31591.

I cannot verify it as I have problems accessing logs.

[2016-09-06 12:35] wojtek-t commented on #31981
OK - so we seem to have enough logs to start real debugging now.
So from the last failure:
- we were scaling from 5 to 4
- apiserver logs:
[code]
- controller logs:
[code]

There weren't any other PUT events on our replication controller around that time.

From the above logs, it's pretty clear, that we correctly deliver watch event that is changing the size of RC from 5 to 4, but then some new ev

[2016-09-06 12:35] k8s-merge-robot opened #32122 "[k8s.io] HostPath should give a volume the correct mode [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/14917/

Failed: [k8s.io] HostPath should give a volume the correct mode [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-06 13:04] wojtek-t commented on #31981
Note that difference between processing those two events is 0.15ms, so they are basically processed on by the other. My guess is that there are two events on the underlying DeltaFIFO and they are just processed on by the other. The other event might potentially be resync, but I still don't see the possibility for it to be "incorrect" sync event.

[2016-09-06 13:07] rootfs commented on #32068
The "FailedMount" warning message occurred because it took a while for the disk to attach. The disk is probed periodically until it is attached. Once disk is attached, mount will complete.

[2016-09-06 13:12] wojtek-t commented on #31981
Looking into logs from RC from around that time, there is huge amount of logs like this:
[code]
[where number of replicas didn't change in spec]
There are ~1600-1700 such lines (which is ~the number of RCs in the system)

Thus my very strong hypothesis is that there was a Resync at that time.

Which probably means, that we have some race between Resync and Update...

@lavalamp ^^

[2016-09-06 13:20] wojtek-t commented on #31981
OK - so I think I understand what is happening here.
Basically I think that what happens is that:
- an Update event comes from watch
- it is queued in DeltaFIFO (however underlying store still has the old version of object)
- Resync happens
- the resync event is queued in DeltaFIFO (but the value of object is the values from underlying store which is the old version)
- then those two events are de

[2016-09-06 13:28] ncdc commented on #31981
cc @deads2k @pmorie

[2016-09-06 13:28] wojtek-t commented on #31981
OK - I have reproduced it unit test, so I'm pretty sure this is this problem

@kubernetes/sig-api-machinery - FYI

[2016-09-06 13:29] wojtek-t commented on #31981
PR fixing it is coming soon

[2016-09-06 13:32] ingvagabund opened #32123 "Bootstrap kubernetes with etcd petset"
Opening this issue to discuss possibility of bootstrapping Kubernetes with Etcd partially controlled with PetSets, partially created from static pods.
## In short

Create initial etcd cluster via static pods, deploy apiserver (and friends), deploy etcd PetSets recognizing pods of the initial etcd cluster (and turning them into pets), scale-up (and later down) the etcd cluster via PetSets controlle

[2016-09-06 13:34] ingvagabund commented on #32123
@kubernetes/rh-cluster-infra

[2016-09-06 13:36] zefciu commented on #30716
@smarterclayton
If the idea of using any templating language above simple substitution is rejected, will it be acceptable to allow for plugins (containerised?) that would receive the template and JSON data and perform the template rendering?

[2016-09-06 13:37] k8s-merge-robot opened #32124 "[k8s.io] Services should be able to up and down services {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6508/

Failed: [k8s.io] Services should be able to up and down services {Kubernetes e2e suite}

[code]

Previous issues for this test: #26128 #26685

[2016-09-06 13:40] dshulyak commented on #31778
@derekwaynecarr @vishh Are you sure that this should be closed? I can easily reproduce stated behavior with pod created with `kubectl run --image nginx my-pod`. The result of it is:

[code]

25 pods were evicted and then recreated

[2016-09-06 13:44] wojtek-t commented on #31981
The fix is out for review.

[2016-09-06 13:51] wojtek-t commented on #25820
@alena1108 - is this still an issue? Or can we close it now?

[2016-09-06 13:56] derekwaynecarr commented on #27503
@wojtek-t - changes described sgtm.

[2016-09-06 13:57] smarterclayton commented on #30716
Yes, although that's effectively what an init container is (a plugin to pod
initialization).  If the usability of doing that is hard, we can improve it.

On Tue, Sep 6, 2016 at 9:36 AM, Szymon Pyżalski <notifications@github.com>
wrote:

[2016-09-06 13:59] smarterclayton commented on #31345
We should be renewing the watch.  However that's not enough - you really need Get then Watch.  So there has to be something that abstracts watcher creation (a watch wrapper).

[2016-09-06 13:59] wojtek-t commented on #27503
@derekwaynecarr - the PR is out https://github.com/kubernetes/kubernetes/pull/32082 (it will be slightly updated in a moment).

[2016-09-06 13:59] mrook commented on #23380
+1

[2016-09-06 14:02] pskrzyns opened #32128 "Port forwarding tests won't work with rkt-kvm (propably with all hypervisor based runtimes)"
Inside portforwardtester container in portforwardtester.go line 52

[code]

It causes app to only listen on the local interface, its not the problem with namespace based runtimes cause we can use nsenter.
With hypervisor based runtimes we need app to be available on external address, so line mentioned above should look like:

[code]

@ncdc PTAL cause i don't know who is owner of this container
@fe

[2016-09-06 14:02] wojtek-t commented on #31345
Yeah - I agree that this is not trivial change. It should be somewhat similar to what we are doing in reflector.

I guess it's not 1.4 change though.

[2016-09-06 14:08] smarterclayton commented on #31345
Agreed that anyone who switched to watch.Until may have done so prematurely.

[2016-09-06 14:18] seanzhau commented on #32090
somebody who can help me?

[2016-09-06 14:19] ingvagabund commented on #32123
@hongchaodeng's slides from the community meetings [1].

[1] https://docs.google.com/presentation/d/1Lqna6D_Vpk-HtXzTJ3atj8FG_0UUWLHphJ9Tl_OKqOk/edit#slide=id.g162b6d4a29_0_14

[2016-09-06 14:22] ingvagabund commented on #32123
Etcd petsets here [1].

[1] https://github.com/kubernetes/charts/tree/master/incubator/etcd

[2016-09-06 14:22] smarterclayton commented on #32094
Yes, they aren't running at the same time so they can't share a mount
namespace.

On Tue, Sep 6, 2016 at 12:21 AM, Hongchao Deng <notifications@github.com>
wrote:

[2016-09-06 14:26] nhlfr commented on #31839
I like @dims' idea. But I think we should chown it to the exact user that Docker image is using, instead of chmoding with 777. We can get the username from `docker inspect`. What do you think?

[2016-09-06 14:27] etotheipi commented on #30076
Yes, that worked for me.  Almost.

I made it a headless service as you suggested using `clusterIP: None`.  I believe what that means is that (in my case) you don't get a *head* `zookeeper-cluster` hostname anymore that points to all of them.  Instead, the service is only used to expose the individual pods behind it, and petset takes advantage of that when you declare the matching `serviceName` fie

[2016-09-06 14:32] smarterclayton commented on #31839
I think it needs to be the user the container runtime intends to run the process as (which is slightly different and has some challenges).

[2016-09-06 14:38] ncdc commented on #32128
@pskrzyns you can submit a PR to adjust the portforwardtester code, and then someone from Google will need to push the updated image, and then you can update the e2e tests to point at the updated image.

[2016-09-06 14:39] childsb opened #32131 "Persistent Volume Endpoints and Secrets do not have explicit namespace"
For both Secrets and Endpoints the namespace is assumed to be the binding PVC namespace.  This is problematic when creating PVs & secrets/endpoints before the PVC exist.

Any field specifying an Endpoint or Secret in PV should also specify the namespace for each item.

Example:

[code]

[2016-09-06 14:42] justinsb commented on #30706
We've tried a lot of things, and the only thing that seems to work is to run a 4.4 kernel (we are running a 4.4.19 kernel I built).  This also entails running overlayfs.

I'm going to work on building an image that offers this as an option, and maybe we can consider making it the default on 1.4 on AWS.

[2016-09-06 14:44] wojtek-t commented on #31977
More context:
- in the same run @gmarek described above there was one more test that failed, and it failed with more-or-less the same reason, but not due to lack of resources, but due to exceeding number of allowed pods per node.

This really seems like a problem with cache in scheduler and it seems like some pods that no longer exist are not removed from it.

However, if pod was scheduled correct

[2016-09-06 14:44] childsb commented on #32131
Oops, closing in favor of this: https://github.com/kubernetes/kubernetes/pull/31869

[2016-09-06 14:48] derekwaynecarr commented on #31778
@dshulyak

[2016-09-06 14:50] derekwaynecarr commented on #31778
@dshulyak -- can you do a `kubectl get pod -o yaml` for the pod that is rejected/created so we can see what the pod is after creation?  A LimitRange could be specifying default resource requirements.

[2016-09-06 14:55] k8s-merge-robot opened #32132 "[k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/31604/kubernetes-pull-build-test-e2e-gce/57471/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl expose should create services for rc [Conformance] {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #31604.

Previous issues for this test: #26209 #29227

[2016-09-06 15:04] childsb commented on #32131
After talking with others  this issue is similar to #31869 but requires a fix to current API objects and not a design decision on how StorageClass implements a similar function.

[2016-09-06 15:11] k82cn opened #32133 "Test Factory.PrintObject by fake command"
When working on the patch for #31702 , it found `cmd_test.go` mock `Factory` manually by function pointer which should be done by gomock; and add more unit test in factory_test.go.

cc @smarterclayton / @AdoHe / @pwittrock

[2016-09-06 15:15] rootfs commented on #29225
for the last flake, based on [kubelet log](https://00e9e64bac5d682a1e24b67e47c61aacaaf967028b3e50145d-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-gce-examples%2F14731%2Fartifacts%2Fjenkins-e2e-minion-group-ktxx%2Fkubelet.log?qk=AD5uMEuSQ6MdRj5PgKtsiFFpMPKZ0D1vL-REu688kUVTPoHgbAPktyZMn6054qmf3w1AmIpL99fESy3X_y3uPLCL_3Rsb4KoNrO8dCUKxh5m_AsrXtrorxkVQ

[2016-09-06 15:20] nhlfr commented on #32026
It's an expected behavior - we don't allow to attach or exec via `kubectl proxy`.
You may use `kubectl proxy --disable-filter=true`.

However, that brings an another bug:

[code]

@kubernetes/sig-api-machinery do we care about this?

[2016-09-06 15:31] timothysc commented on #31300
Is this still occuring.  It seems like we're band-aiding for what are loaded gce env tests.

[2016-09-06 15:48] smarterclayton commented on #32133
We generally don't use go mock extensively since normal mocking should work well.  Is there a reason go mock would be better than the "default" pattern of:

[code]

?

[2016-09-06 15:49] smarterclayton commented on #32026
Probably.   What's the failure cause?

On Tue, Sep 6, 2016 at 11:20 AM, Michal Rostecki <notifications@github.com>
wrote:

[2016-09-06 15:51] smarterclayton commented on #31753
@kubernetes/sig-auth

On Mon, Sep 5, 2016 at 10:47 PM, TonyAdo <notifications@github.com> wrote:

[2016-09-06 16:01] #30651 closed

[2016-09-06 16:04] ncdc commented on #32026
Last time I checked, I think the code that backs `kubectl proxy` isn't
upgrade aware.

On Tue, Sep 6, 2016 at 11:50 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-09-06 16:04] quinton-hoole commented on #32014
It's test code. It needs to be written and run before the release of v1.4.
But it doesn't necessarily need to be cherrypicked into the actual release
binary.

On Sep 5, 2016 4:24 PM, "Davanum Srinivas" <notifications@github.com> wrote:

[2016-09-06 16:11] MrHohn commented on #31085
This new e2e test has been merged. Let's observe it few more days and close this issue if nothing bad happen.

[2016-09-06 16:13] salrashid123 opened #32134 "fluentd-gcp crashed on rkt deployment"
**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**:  GCP
- **OS** (e.g. from /etc/os-release):
  NAME=CoreOS
  ID=coreos
  VERSION=1068.10.0
  VERSION_ID=1068.10.0
  BUILD_ID=2016-08-23-0220
  PRETTY_NAME="CoreOS 1068.10.0 (MoreOS)"
  ANSI_COLOR="1;32"
  HOME_URL="https://coreos.com/"
  BUG_REPORT_URL="https://github.com/coreos/

[2016-09-06 16:14] mattf commented on #29225
storm-nimbus, storm-worker and zookeeper are from https://hub.docker.com/r/mattf/. they're all automated builds from github (quick link: https://github.com/mattf/docker-storm and https://github.com/mattf/docker-zookeeper)

[2016-09-06 16:17] alena1108 commented on #25820
@wojtek-t haven't seen it in 1.3, so feel free to close it. I'll reopen the issue if we see it again.

[2016-09-06 16:18] #25820 closed

[2016-09-06 16:22] liggitt commented on #31753
The signal difference between 403 and 404 is important. 403 tells me I am not allowed to do the operation. It doesn't tell me whether or not the item exists. 404 tells me I am allowed to do the operation and that what I requested does not exist.

[2016-09-06 16:23] praoreo commented on #31799
@bryk
I could not make out which release the livew.io/kubernetes-dashboard corresponds to. Only supported functionalities are creating and viewing the pods deployed.

In our setup all the control functionalities are centralized into the master and it has an public IP address assigned to one of its interfaces. Hence we want the dashboard also to be hosted on the master so that it can be accessed us

[2016-09-06 16:29] k82cn commented on #32133
After making `Factory` as interface, we can not access its implementation class (factory). In `cmd_test.go`, it just mock some functions, e.g. `Object`; but when we call `factory`'s functions, it'll not use our mock functions.

[2016-09-06 16:40] kdima commented on #27161
Quick update we still get a lot of packet loss when accessing service ip. We are only using GCE networking. This issue still persists after we moved to 1.4.0-alpha.3.
Here is the output or a `curl` when running 1.4.0-alpha.3
[code]
As you can see there is not issue with firewalling as some requests succeed.

We ran tcpdump on the box that is the gce route endpoint which is one of kubernetes api-se

[2016-09-06 16:41] derekwaynecarr commented on #28065
@aveshagarwal --- can you investigate this flake?

[2016-09-06 16:43] derekwaynecarr commented on #32009
@smarterclayton -- we could make the e2e cache the call once, but I didn't do that at the time because I did not know the state of third party resource e2e.

[2016-09-06 16:53] aveshagarwal commented on #28065
@derekwaynecarr sure

[2016-09-06 16:54] #30076 closed

[2016-09-06 17:03] derekwaynecarr commented on #31098
@mdshuai -- do you have the petset YAML that we can evaluate?  What is the quality of service tier for the pods produced by the petset?  Can you include the `kubectl get pods -o yaml` of an evicted petset pod so we can see the final resource requirements spec?

[2016-09-06 17:06] smarterclayton commented on #32026
We have an upgrade aware proxy in some places.  If proxy isn't upgrade
aware then we can definitely move that code over.

On Sep 6, 2016, at 12:05 PM, Andy Goldstein <notifications@github.com>
wrote:

Last time I checked, I think the code that backs `kubectl proxy` isn't
upgrade aware.

On Tue, Sep 6, 2016 at 11:50 AM, Clayton Coleman <notifications@github.com>
wrote:

https://github.com/kubernete

[2016-09-06 17:10] girishkalele opened #32138 "Quota-protection for services requesting health check node port allocation"
Follow-on item from #29409

Since this feature can request allocation of nodePorts, it needs to add in a call to check for quota before allocation (either during create or update of the service).

[2016-09-06 17:12] ixdy commented on #32036
This test run timed out, but `gcloud` also lost its mind:
[code]

[2016-09-06 17:12] mtaufen opened #32139 "Make memory eviction test modify thresholds via dynamic config"
We can make the memory eviction test apply an aggressive memory eviction threshold via the dynamic Kubelet config feature to reduce the risk that the eviction test starts to trigger OOM-kills. We can then use the dynamic config feature to restore the previous thresholds before further tests run. This is similar to how the test for dynamic Kubelet configuration works.

It would also be good to adju

[2016-09-06 17:16] erictune commented on #29177
Adding `system:authenticated` and `system:unauthenticated` seems fine.

[2016-09-06 17:20] dkoshkin commented on #32090
`kube-dns-v19-68923` is running in the `kube-system` namespace but `kubernetes` is in the default namesapce.
You need to use the FQDN ie `<service-name>.<namespace-name>.svc.cluster.local` when resolving services across namespaces, that is why `kubernetes.default.svc.cluster.local` work but the others don't

See the [documentation](http://kubernetes.io/docs/user-guide/namespaces/#namespaces-and-dn

[2016-09-06 17:28] yifan-gu commented on #32134
@salrashid123 Thanks for reporting. Unfortunately fluentd-gcp pod is docker specific, and it doesn't recognize the rkt pods' logging format (journal log files). Even it's running, it's not gathering rkt logs. We are working on general solution for supporting logging for multiple runtimes. https://github.com/kubernetes/kubernetes/issues/24677

[2016-09-06 17:32] dchen1107 commented on #30706
@justinsb Google GCI team is currently working together with node team to qualify GCI image for GKE/GCE replacing today's debian-based container-vm image. Since you are considering to rebase your image to newer kernel, why not sync with what GCI has so that we can provide better support for our aws users? Currently GCI image is on 4.4.14. cc/ @yinghan @kubernetes/goog-image

@justinsb could you pl

[2016-09-06 17:34] #27503 closed

[2016-09-06 17:36] bprashanth commented on #28706
I think the problem with mimizing downtime during upgrades is different for pet vs replics sets. As indicated the former cannot tolerate old and new alive at the same time, so we'll have to figure out ways to address cluster uptime, an alien concept to your typical rs/deployment. Moreover the petset controller aready enforces `MaxUnavailable=1`, and if we don't create 2 petsets, we have no `MaxSur

[2016-09-06 17:39] euank commented on #32134
xref #26816 as well; that's why it fails earlier rather than later.

[2016-09-06 17:41] euank commented on #31384
A gentle ping @pmorie.

I'd like to know what the right next step should be for this. Perhaps distill this into a proper `.md` proposal?
I'd also be happy to drop by a sig-storage meeting if that would be the quickest way forward.

[2016-09-06 17:44] spxtr commented on #26822
@gmarek I think that one was slightly different. @rmmh might have already fixed it, but I'm not sure.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32070/kubernetes-pull-build-test-e2e-gke/11056/

[2016-09-06 17:46] vishh commented on #31928
@jszczepkowski What issues are you having with access to logs?

[2016-09-06 17:54] dshulyak commented on #31098
I am able to reproduce it with nginx pet set in e2e example. Here is yaml output of it

[code]

Also it seems that i have working fix and almost finished debugging e2e test (patchset is linked above). Will be grateful for review.

[2016-09-06 17:57] euank commented on #32128
Based on the discussion in #29579, I think the CRI implementation of this would actually solve this problem and allow listening on localhost.

Basically, my understanding is a "shim" process would be created inside the "sandbox" (inside the vm) that would then be able to talk to localhost, what have you, and redirect it to a port on eth0. That process would take the place of socat, and nsenter wou

[2016-09-06 18:03] derekwaynecarr commented on #31098
Ah, this helps clear things up...  the linked pr shows the problem in petset controller and not kubelet...

[2016-09-06 18:11] #32085 closed

[2016-09-06 18:12] pmorie commented on #31384
@euank I think a proposal PR is definitely the right way to go.  I'm having a little trouble parsing your conclusion - can you clarify?

[2016-09-06 18:13] piosz commented on #30939
@dchen1107 could you please update the issue title appropriately and decide about the priority/milestone?

[2016-09-06 18:16] vishh commented on #29519
This is a dupe of #30607

[2016-09-06 18:16] #29519 closed

[2016-09-06 18:18] pmorie commented on #31863
@errordeveloper In this case, is `b608eb2905506727f838b3c31f596013` the UID of the static pod or the mirror pod?

[2016-09-06 18:41] liggitt commented on #31753
the [client-side fix](https://github.com/kubernetes/kubernetes/pull/31594) for https://github.com/kubernetes/kubernetes/issues/15542 seems better to me than losing the distinction between "not allowed" and "not found"

c.f. https://github.com/kubernetes/kubernetes/pull/15543

[2016-09-06 18:43] freehan commented on #31307
With CRI, from kubelet point of view, the two halves will become one piece. The CRI implementation, CNI plugin and runtime will need to handle host port.

[2016-09-06 18:44] pskrzyns commented on #32128
@euank for me its a bug in application running inside container, whats the point of running application listening only on localhost, where you can't talk to it from outside of container ?
My understanding is that if i have pod IP i should be able to talk with application running in it when I'm in environment where this IP is routable.

[2016-09-06 18:44] goltermann commented on #12611
@davidopp can you take a look and bump to v1.5 if not needed for 1.4

[2016-09-06 18:45] wayarmy commented on #30495
work for me!!,
thanks @mikeputnam

[2016-09-06 18:45] #30495 closed

[2016-09-06 18:45] pmorie commented on #31272
Personally I think mountflags aside, we need to fix this issue as if an nfs mount helper will ignore any mountflags or not implement them correctly.

[2016-09-06 18:46] goltermann commented on #26669
@quinton-hoole needed for 1.4, or should we push it out?

[2016-09-06 18:46] vishh commented on #31621
I don't get why a host specific identifier was exposed via the cluster API in the first place.

Node local information could be exposed via kubelet APIs instead. Would that be acceptible?

[2016-09-06 18:48] caesarxuchao commented on #30430
The specific flake only occurred once 27 days ago. Close due to the age.

[2016-09-06 18:48] #30430 closed

[2016-09-06 18:49] ncdc commented on #32128
I wouldn't say it's necessarily a bug in the app. If you have something that truly should be protected and not visible outside the container, then port forwarding to localhost is the perfect mechanism for connecting to it.

[2016-09-06 18:49] goltermann commented on #23416
@bprashanth are these tests running continuously (whether or not they're in a merge blocking suite)?

[2016-09-06 18:50] #32103 closed

[2016-09-06 18:50] goltermann commented on #27385
@rrati @wojtek-t is this a problem?  Do we need to do anything for 1.4?

[2016-09-06 18:51] goltermann commented on #27388
@rrati @wojtek-t any work needed here for 1.4?

[2016-09-06 18:52] goltermann commented on #16517
@erictune @zmerlynn was this in plan/scope for v1.4?  Should this be bumped out to v1.5?

[2016-09-06 18:52] justinsb commented on #30265
@jsafrane are you OK if I close this issue?

[2016-09-06 18:52] mml commented on #31842
@ixdy even if that logic is working, this problem still shows up.  Using `git-retry` from depot_tools—as @rmmh suggested—would keep people (like me :-) from having to investigate and file bugs (like this one :-) about transient errors.

[2016-09-06 18:53] goltermann commented on #25762
@timothysc @rrati @wojtek-t any more work needed for v1.4?

[2016-09-06 18:53] timstclair commented on #31015
I'd like to keep it open until we cut the non-alpha release of v0.24

[2016-09-06 18:53] goltermann commented on #25563
@wojtek-t @rrati @timothysc any more work needed for 1.4 on this one?

[2016-09-06 18:54] goltermann commented on #26394
@yujuhong is this still in plan for 1.4?

[2016-09-06 18:54] rootfs commented on #31272
@pmorie a side effect of nfs mount options (timeout, soft mount, etc) is that if there is a hiccup during  data operation that triggers the special nfs option, the normal data operation may be cut off.

[2016-09-06 18:56] goltermann commented on #20064
@davidopp @mksalawa did we do this one for 1.4?  If not, can you bump to v1.5?

[2016-09-06 18:57] goltermann commented on #27372
@quinton-hoole should we target this one for v1.4, or bump it to 1.5?

[2016-09-06 18:58] jfrazelle commented on #28275
so this comes from:
[code]
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L1124

[2016-09-06 18:58] goltermann commented on #28552
@derekwaynecarr @vishh should this be moved to v1.5?

[2016-09-06 18:59] ixdy commented on #31842
This `git` failure was from well within `godep` and `go`. I'm not sure how easily we can make it retry.

[2016-09-06 19:04] rmmh commented on #31842
The verify-godeps skipping has been fixed, so this low-probability flake will now only apply to the tiny percentage of PRs that touch Godeps.

I filed tools/godep#511 to track this issue.

[2016-09-06 19:04] #31842 closed

[2016-09-06 19:05] ncdc commented on #31621
@vishh it is not actually a host specific identifier. It is the digest of a blob in the registry. The value is identical regardless of host.

[2016-09-06 19:09] piosz commented on #30818
Fixed in #31510

[2016-09-06 19:09] #30818 closed

[2016-09-06 19:10] ncdc commented on #31621
See https://gist.github.com/ncdc/e4e73ac67bcddb88677fb67d4832d44a for more details

[2016-09-06 19:10] piosz commented on #30826
This was fixed in #31510

[2016-09-06 19:10] #30826 closed

[2016-09-06 19:13] piosz commented on #11382
The first version is implemented, so closing the issue. Please discuss further improvements in #30507

[2016-09-06 19:13] #11382 closed

[2016-09-06 19:13] spdeshpande commented on #31708
k8s guys, any updates on this one?

[2016-09-06 19:16] derekwaynecarr commented on #31621
Per today's sig-node, we discussed the need for a new field since we have to preserve existing field behavior.  This new field, let's say "pullImageID" needs to clarify how it get its value.  Should the kubelet resolve tags to digest form, or should the container runtime be expected to return the digest form always.  @DirectXMan12 is going to write up a proposal to work through pros/cons, and we c

[2016-09-06 19:23] derekwaynecarr commented on #28552
moved to 1.5, will let disk eviction soak.

[2016-09-06 19:25] euank commented on #29579
@smarterclayton
I'd like to disagree with one aspect of the conclusion we seem to have reached here: whether we should implement a through-kubelet intermediate or not.

Because CRI is a semi-internal interface, we don't have to feel as bad about including an rpc that we know will be deprecated. I think that it makes sense to include an "option 1" solution while we work towards "option 3", so long

[2016-09-06 19:27] JoeyZwicker commented on #30495
When will this fix be pushed so get.k8s.io uses a corrected common.sh. We often send users to the K8s docs for deployment and it'd be nice not to have to also send them with the caveat of "there's a small bug so follow this GH issue".

[2016-09-06 19:27] soltysh opened #32149 "Too long time needed for a job to be killed after exceeding relatively short ActiveDeadlineSeconds"
If you set relatively short `.spec.activeDeadlineSeconds`, let's say 60 seconds (or generally anything less than full resync time which is 10 mins) and your job stabilizes after few initial seconds, iow. now new pods are created or anything involving job controller, you end up waiting more than 10 minutes before the Job is actually killed due to exceeding ADS.
The reason for that is that controlle

[2016-09-06 19:28] #31630 closed

[2016-09-06 19:28] soltysh commented on #32149
The problem showed up in e2e tests, which bloated to almost 11 minutes due to waiting for the next resync, see https://github.com/kubernetes/kubernetes/pull/31973 for a fix in there.

[2016-09-06 19:37] rmmh commented on #26822
This particular agent was restarted and ended up having a corrupt workspace. This caused by my change to retain `.git` directories to speed up clones and avoid getting ratelimited by github.

I'll look into automatically detecting this case.

[2016-09-06 19:38] soltysh opened #32150 "Rename ScheduledJob to CronJob"
As proposed by @erictune in https://github.com/kubernetes/kubernetes/pull/32115#issuecomment-245011680 ScheduledJob should be renamed to CronJob before moving this to beta.

[2016-09-06 19:45] lavalamp commented on #32009
agree aggregates of 1 are super dumb. NewAggregate probably needs a fix.

[2016-09-06 19:47] jfrazelle commented on #28275
ping @derekwaynecarr

So I was wondering if you might have some insights into why the controller would be wedged.

[2016-09-06 19:53] salrashid123 commented on #32134
ok, thanks.   (yeah, i didn't expect it was running; knowing it wasn't crashing just helped me sleep a bit better :)

anyway, please feel free to keep this open if needed or dup it to the issues cited above.

[2016-09-06 19:54] smarterclayton commented on #32009
My worry is that changes the semantic of NewAggregate (before you could
assume it would respond to certain calls, which is not true now).  And that
probably just hides the problem - we should never use aggregates in a case
that someone has to handle it.

Pulling together a fix right now.

On Tue, Sep 6, 2016 at 3:46 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-09-06 19:59] dberuben commented on #30637
@jingxu97 I'm working with @Cocotton and i confirm it's working as expected

[2016-09-06 20:00] mml commented on #31706
@mikedanese would moving to KA eliminate this class of problems?

[2016-09-06 20:03] jingxu97 commented on #30637
@kelcecil @dberuben Thank you very much for the updates! I will close the bug now, and please reopen if the issue appears again.

[2016-09-06 20:03] #30637 closed

[2016-09-06 20:06] #31502 closed

[2016-09-06 20:08] #26144 closed

[2016-09-06 20:09] goltermann commented on #29023
This is only awaiting docs PR merge.

[2016-09-06 20:10] davidopp commented on #12611
This is just waiting on docs.

[2016-09-06 20:11] goltermann commented on #25276
@dchen1107 This is a 1.4 P0, but hasn't been touched in a while.  What's the latest?

[2016-09-06 20:12] goltermann commented on #29590
@smarterclayton @dchen1107 are we going to fix this for 1.4?  Or punt to 1.5?

[2016-09-06 20:13] timothysc commented on #16517
imho we should close, as this should now be federated to the other repos.  It no longer applies to master.

[2016-09-06 20:15] lavalamp commented on #29922
@girishkalele We're adding a controllerRef tag. Please don't implement this by adding an annotation.

[2016-09-06 20:16] goltermann commented on #28635
@david-mcmahon can we remove this in time for 1.4?

[2016-09-06 20:17] lavalamp commented on #29922
@girishkalele come chat with me, @gmarek or @caesarxuchao for more detail!

[2016-09-06 20:17] #29922 closed

[2016-09-06 20:17] joonas opened #32153 "Projection of secret keys to specific paths does not work as described"
**Is this a request for help?**:

Nope, it was suggested to me that I open up an issue about this in the Kubernetes slack by @thockin

**What keywords did you search in Kubernetes issues before filing this one?**:

`secret volume project`

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud

[2016-09-06 20:18] goltermann commented on #29739
@mwielgus @jszczepkowski @piosz is this needed for 1.4?

[2016-09-06 20:19] goltermann commented on #30163
@mikedanese was this done for 1.4?

[2016-09-06 20:20] goltermann commented on #28631
@justinsb says we already do this, but should docuement it

[2016-09-06 20:20] mikedanese commented on #23174
In light of progress in v1.4 I think we can close this for more specific issues.

[2016-09-06 20:20] #23174 closed

[2016-09-06 20:21] goltermann commented on #30471
@jszczepkowski is this needed for 1.4?

[2016-09-06 20:21] davidopp commented on #31967
This looks the same as #29503

[2016-09-06 20:21] #31967 closed

[2016-09-06 20:23] fluxrad commented on #19634
It looks like the caching issue has helped, but we're still seeing a huge DNS load due to the `ndots:5` setting in the cluster. In many cases, we now see `nf_conntrack: table full, dropping packet` errors, wiht some nodes tracking over 300k DNS connections through iptables:

### Node and process counts:

[code]

[code]

When I run the conntrack tool against machines running kube-dns pods, I notice

[2016-09-06 20:23] goltermann commented on #31014
@jingxu97 is this needed to ship 1.4, or can it be punted to 1.5?

[2016-09-06 20:24] goltermann commented on #24200
Closing, this is now mitigated.

[2016-09-06 20:24] #24200 closed

[2016-09-06 20:27] mikedanese commented on #30163
Yes.

[2016-09-06 20:29] goltermann commented on #20504
Leaving in 1.4 - this will probably rollout as a 1.4.x release at some point to simplify the changeover.

[2016-09-06 20:29] davidopp commented on #31906
@kevin-wangzefeng

[2016-09-06 20:30] thockin commented on #32153
Can not repro with a relatively recent cluster from head.  Can someone repro on a 1.3.x?

Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.3.194+11074debcd6738-dirty", GitCommit:"11074debcd6738344248ab2fca1f098860c0c779", GitTreeState:"dirty", BuildDate:"2016-09-01T17:30:45Z", GoVersion:"go1.7rc3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Majo

[2016-09-06 20:31] dchen1107 commented on #31284
Both #31659 and #31557 were merged. Close this for now. A separate issue will filed to track the AppArmor support for 1.5 release.

[2016-09-06 20:31] #31284 closed

[2016-09-06 20:31] timothysc commented on #31924
re: versioning, yup.

If the envelope/indexer ended up being 50% of the size of the letter then we have a classic data model access problem.  Meaning we should rethink our data model, or how we've sub-divided data in our registry, and whether it meets the needs of the access patterns.

[2016-09-06 20:31] goltermann commented on #26723
@nikhiljindal @quinton-hoole are these passing now?  Is this issue a 1.4 blocker?

[2016-09-06 20:32] #22159 closed

[2016-09-06 20:32] thockin commented on #19634
@girishkalele  @mrhohn

On Tue, Sep 6, 2016 at 1:24 PM, Aaron Mills <notifications@github.com>
wrote:

[2016-09-06 20:32] goltermann commented on #31482
@dchen1107 to update, then close

[2016-09-06 20:34] vishh commented on #31482
This is completed!

[2016-09-06 20:34] #31482 closed

[2016-09-06 20:37] goltermann commented on #27623
@mml @quinton-hoole plan on doing this for 1.4?  or bump to 1.5?

[2016-09-06 20:38] goltermann commented on #30446
@Q-Lee @mwielgus any updates?  is this one needed for 1.4?

[2016-09-06 20:39] goltermann commented on #23653
@quinton-hoole @colhom what remains to finish this issue off?

[2016-09-06 20:40] goltermann commented on #31798
@cjcullen is this needed for 1.4?  or can be bumped to v1.5?

[2016-09-06 20:42] goltermann commented on #31832
@quinton-hoole is this fixed?

[2016-09-06 20:42] nikhiljindal commented on #23653
There are 2 remaining tasks, both of which have individual issues filed.
Closing this one.

[2016-09-06 20:42] #23653 closed

[2016-09-06 20:43] vishh commented on #25276
Current status:

* All the critical tests exist for gci - [https://k8s-testgrid.appspot.com/google-gci](https://k8s-testgrid.appspot.com/google-gci)

* k8s on GCE is using GCI by default

From my perspective, this issue is completed. Closing it for now.

[2016-09-06 20:43] #25276 closed

[2016-09-06 20:45] Q-Lee commented on #30446
I doubt this will land for 1.4, and I wouldn't consider it blocking.

[2016-09-06 20:46] #31981 closed

[2016-09-06 20:46] pmorie commented on #29644
I'm labeling this next-candidate because I intend to fix it for the 1.5 release.

[2016-09-06 20:50] quinton-hoole commented on #31832
The tests are not yet green, but for reasons unrelated to this issue, and tracked elsewhere.   kubernetes/test-infra#497 apprears to have done it's job.  Closing this.

[2016-09-06 20:50] #31832 closed

[2016-09-06 20:51] quinton-hoole commented on #27623
Yes, 1.5 is fine.

[2016-09-06 20:52] michelleN commented on #29644
@pmorie feel free to add this to the [document of proposed work](https://docs.google.com/document/d/1uAhuaEGWPCQXNL_ptzemuXKqFzLuV1FENWn_n39u1G0/edit#heading=h.f61w6urq0j0h) in SIG-Apps for 1.5 if you'd like to discuss or get feedback on this from the sig.

[2016-09-06 20:53] girishkalele commented on #19634
@fluxrad

I had an experimental PR #28913 out to inject a `use-vc` setting into the resolv.conf to force TCP.

With UDP, there is no way to "inform" conntrack that the session/connection is over, but with TCP, the FIN/RST would help conntrack free up slots as soon as possible.

Unfortunately, we have not had the bandwidth to test it out. It also needs some code factoring and maybe a feature gate f

[2016-09-06 20:53] timothysc commented on #25762
we've enabled flag over-rides in 1.3, but have not updated defaults for 1.4, so I'm moving out to 1.5.

I'd like to prioritize this as a 1.5 action item for @kubernetes/sig-node

[2016-09-06 20:56] girishkalele commented on #19634
Looking at dnsmasq caching behaviour, it does not cache NXDOMAIN results for any length of time, so the same repeated ndots searches keep going through and hitting kube-dns all the time.

One possible enhancement (to dnsmasq) is to allow NXDOMAIN caching with a programmable TTL.

[2016-09-06 20:57] goltermann commented on #31611
@cjcullen are you handling the needed changes?

[2016-09-06 20:59] girishkalele commented on #29922
We changed the design of the nanny to not attempt discovery of its own controller so this functionality is not required.

Either way, adding the controllerRef tag is a good thing.

[2016-09-06 20:59] erictune opened #32156 "several errors with jsonpath printing non-terminal object."
**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
[code]

- **Cloud provider or hardware configuration**: GCE

**What happened**:
[code]

**What you expected to happen**:

I would get  the entire `spec` sub-object in either json, or some useful form, so that I could then see decide what subfields to look at.

**How to reproduce it** (as minimally and precisely as possible):

[2016-09-06 21:01] nikhiljindal opened #32157 "Allow service controller to indicate that it has cleared load balancer resources"
**Issue**:
Create a type=LoadBalancer service.
When the user creates the service, service controller creates the corresponding cloud specific Load balancer. User can watch for load balancer to be created using ServiceStatus.
When user deletes the service, service controller deletes the corresponding LB. There is no way for user to know that service controller has deleted the LB.

**What you expect

[2016-09-06 21:02] #26655 closed

[2016-09-06 21:02] goltermann commented on #26656
@madhusudancs still in plan for 1.4?

[2016-09-06 21:03] goltermann commented on #26921
@quinton-hoole this is P2...time to punt to v1.5?

[2016-09-06 21:04] Random-Liu commented on #29081
This one is done, close it. :)

[2016-09-06 21:04] #29081 closed

[2016-09-06 21:05] pmorie commented on #29644
@michelleN I will do that (probably tomorrow, about to head out)

[2016-09-06 21:05] goltermann commented on #28082
@davidopp #30191 isn't set for v1.4 - should it be, or should this issue be punted to 1.5?

[2016-09-06 21:05] matchstick commented on #23258
Assigning to @saad-ali. This fell through the cracks as ciwang was working in other areas.
This did not make 1.4 either moving to next-candidate.

[2016-09-06 21:05] Random-Liu commented on #25215
@dchen1107 Can we close this one?

[2016-09-06 21:11] bgrant0607 commented on #2306
cc @mml

[2016-09-06 21:14] nikhiljindal commented on #31624
We need a way to find out if the service controller has deleted LB related cloud resources when we delete our service. Right now, we might kill the controller before it gets a chance to delete those resources, resulting in the leak.
There is no way to find that out using the API right now (https://github.com/kubernetes/kubernetes/issues/32157), but as a temporary measure, we can look for the `Dele

[2016-09-06 21:23] jingxu97 commented on #31014
@goltermann I think we can aim it for 1.5. Thanks!

[2016-09-06 21:25] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:25] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:25] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:25] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:25] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:26] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:26] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:26] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:26] thockin commented on #31272
Status on this?  It's a long thread...

[2016-09-06 21:26] thockin commented on #31272
Status on this?  It's a long thread...

On Tue, Sep 6, 2016 at 11:55 AM, Huamin Chen <notifications@github.com>
wrote:

[2016-09-06 21:29] quinton-hoole commented on #26921
@golterman Yes, 1.5 is fine.  I seem to have lost the authority to update the Milestone?  Did you perhaps change permissions?

[2016-09-06 21:36] smarterclayton commented on #2306
* I think the storage and storage initialization code has metastasized a bit, as well as API initialization
* We've got a proliferation of clients - I think we're up to 35 different clients total.
* api/unversioned is a mess.

[2016-09-06 21:36] david-mcmahon commented on #28635
Not sure what the ramifications are here.  Someone from that team should make the decision as to what we ship.

[2016-09-06 21:38] goltermann commented on #26921
I moved it - no idea why you wouldn't have permission on the kubernetes repo.

[2016-09-06 21:39] mikedanese commented on #30163
I meant to say that we are done for v1.4, so I moved to the v1.5 milestone. There are still some open PRs, e.g. #30237

[2016-09-06 21:40] janetkuo commented on #26202
Had an in-person discussion with @pwittrock and decided we won't fix this in 1.4 because there's no clean fix for this issue yet. Current workaround is to use `kubectl edit` to modify label and selector manually (if the selector is defaulted). cc @lavalamp

[2016-09-06 21:40] fluxrad commented on #19634
Caching NXDOMAIN's would probably be a step in the right direction here. I imagine creating and tearing down connections for each NXDOMAIN request would get quite expensive.

Alternatively, is there any potential support for making `ndots` tunable via the kubelet? I'd be comfortable enforcing stricter internal lookup requirements (e.g. all internal requests must use strict FQDN, or at least the fi

[2016-09-06 21:41] nhlfr commented on #32026
I didn't have time to debug that properly today, I'll do it tomorrow. But yes, it seems that proxy isn't upgrade aware in `exec`.

[2016-09-06 21:42] mikeputnam commented on #30495
This appears to be the official notification channel: https://groups.google.com/forum/#!forum/kubernetes-announce

[2016-09-06 21:42] chrislovecnm commented on #16517
@timothysc good call push them to charts

[2016-09-06 21:45] smarterclayton commented on #29590
Punt, this is docs only change.

On Tue, Sep 6, 2016 at 4:13 PM, goltermann <notifications@github.com> wrote:

[2016-09-06 21:47] bprashanth commented on #32157
We need to delete cloud resources even on type change, not just resource deletion.

Users trust the the controller cleanus up cloud resources. If the controller leaks, it's a bug. I agree we currently don't have a way to surface this to the user, but it should not really happen because the controller is setup to reconcile and delete unused resources periodically.

If you kube-down, it *will* leak,

[2016-09-06 21:47] derekwaynecarr commented on #31778
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/31098?

[2016-09-06 21:49] smarterclayton commented on #29579
If we think having an RPC that doesn't do anything (except return a fake
redirect) that's fine.  The exec protocol is very complicated though, so
anything that has to perform a complex wiring and transformation of those
streams is going to be more work than it's worth.  Only something that is
trivially passthrough is going to be worth the intermediate solution.

On Tue, Sep 6, 2016 at 3:25 PM, Eua

[2016-09-06 21:49] derekwaynecarr commented on #31798
The merge queue is no longer blocked on this, so I am fine to defer, but its really GKE specific.

[2016-09-06 21:49] bprashanth commented on #31624
You need to poll on the expected resource names in your test, till they disappear or a timeout hits. If a timeout hits, fail the test with "servicecontroller failed to delete cloud resources for %v", but cleanup the resources from the test. See what we do in the ingress e2es: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/ingress.go#L104

[2016-09-06 21:49] smarterclayton commented on #29579
And note I would not run that option 1 in anything resembling a production
environment, and if we even think that is a possibility then that would be
another argument against an option 1.

On Tue, Sep 6, 2016 at 5:49 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-09-06 21:51] bprashanth commented on #31624
This is a general issue for service e2es, they shutdown too fast and an immediate kube-down will leak. @girishkalele this is what I was describing on your pr, and probably root cause for:  https://github.com/kubernetes/kubernetes/issues/27883

[2016-09-06 21:52] thockin commented on #19634
Changing search paths would be a VERY large scale change and would be
subject to standard deprecation policy.  Even so, changing it as you
suggest would require ndots:3, which would STILL match the vast majority of
lookups.  "google.com", "mail.google.com", "finance.yahoo.com", "
www.mcdonalds.com", "storage.googleapis.com", etc.  The real win would be
to get to ndots:1 or ndots:2.  See previous r

[2016-09-06 21:52] derekwaynecarr commented on #28275
The namespace controller has a rate limiter that increased at pow 10 in response to failures, which made it in flaky situations potentially wait 10 minutes.  We just got a PR merged today that reduced it to pow 2 in effort to reduce flakes.  Do you know if the referenced flake has https://github.com/kubernetes/kubernetes/pull/32082 ?

[2016-09-06 21:53] aronchick commented on #32099
The IP address you're accessing is internal to Kubernetes, not available at the node level.

https://github.com/kubernetes/dashboard

You should access (via a network that can see the master) https://<kubernetes-master>/ui

Would you mind pasting this to StackOverflow? We try to have frequently asked questions answered there.

[2016-09-06 21:55] derekwaynecarr commented on #32139
@mtaufen - that sounds good to me.  I also want to have tests that differ based on aggressiveness of threshold (10% vs 30%) for example.

[2016-09-06 22:03] ixdy commented on #31492
16236: slow git checkout
16266: slow git checkout
16280: etcd download aborted
16348: slow git checkout
16454: etcd download aborted
16460: etcd download aborted
16461: etcd download aborted
16471: timeout (??)
16620: k8s.io/kubernetes/federation/pkg/federation-controller/secret failed, no json??

[2016-09-06 22:05] ixdy commented on #31513
Both times the cluster failed to initialize within 300s. Not sure why. Nothing looks suspicious in the logs.

[2016-09-06 22:11] ixdy commented on #31570
22308
[code]

22577, 22578, 22579, 22580, 22581, 22582 were all due to https://github.com/kubernetes/test-infra/pull/483.

22597, 22812 timed out.

22844 mysteriously failed:
[code]

22931 timed out.

[2016-09-06 22:12] #31806 closed

[2016-09-06 22:19] janetkuo commented on #26202
Had another in-person discussion with @lavalamp @pwittrock @bgrant0607, we should prevent people from changing selectors/pod template labels -- they're like names, and it's dangerous to change them. If you want to change them, it's safer to create new controllers instead. I'll create a fix for disallowing people from doing this in `kubectl apply`, and we can do further fix, such as doing this serv

[2016-09-06 22:23] aronchick commented on #32099
The IP address you're accessing is internal to Kubernetes, not available at the node level.

https://github.com/kubernetes/dashboard

You should access (via a network that can see the master) https://<kubernetes-master>/ui

Would you mind pasting this to StackOverflow? We try to have frequently asked questions answered there.

[2016-09-06 22:24] aronchick commented on #32099
The IP address you're accessing is internal to Kubernetes, not available at the node level.

https://github.com/kubernetes/dashboard

You should access (via a network that can see the master) https://<kubernetes-master>/ui

Would you mind pasting this to StackOverflow? We try to have frequently asked questions answered there.

[2016-09-06 22:24] rmmh commented on #31151
Closing as not repro.

[2016-09-06 22:24] #31151 closed

[2016-09-06 22:35] philips commented on #1685
cc @hongchaodeng @xiang90

[2016-09-06 22:37] dims commented on #28631
@goltermann @justinsb @david-mcmahon Don't we have to remove kubectl artifacts from the server tgz as well?

Here's what i see in `https://github.com/kubernetes/kubernetes/releases/download/v1.4.0-alpha.3/kubernetes.tar.gz`

[code]

[2016-09-06 22:39] ixdy commented on #31492
https://github.com/kubernetes/test-infra/pull/522 to try to fix the etcd download flakes.

[2016-09-06 22:44] jfrazelle commented on #28275
ah cool, will wait and see if it still occurs since now that is merged! thanks!

[2016-09-06 22:45] stevezau commented on #32099
Hi @aronchick,

It seems this is an issue with 1.4-beta0 when installing docker 1.12.1 as it breaks all the services. Getting no endpoints errors for most of the services.

I raise this here as i thought 1.4 was meant to support 1.12.1 and this sounds like it's a bug/issue. I did a clean install with AWS kube-up.sh and simply upgraded docker.

[2016-09-06 23:10] ixdy commented on #31812
@mml this test looks pretty broken - PTAL?

[2016-09-06 23:10] ixdy commented on #31812
Please untag from v1.4 milestone if this is *not* release-blocking.

[2016-09-06 23:11] erictune commented on #16517
I'd like to get the the point where spark-submit and spark-shell know how to talk to your active kubernetes cluster (not standalone mode), at which point, you don't need an examples or a Chart.

At any rate, it is not clear yet what repo or repos will host the kubernetes-on-spark code.  This issue has useful backlog for whoever does that work.  So, I am inclined to keep it open until someone can m

[2016-09-06 23:14] erictune commented on #16517
@foxish

[2016-09-06 23:22] ixdy commented on #31706
The bug we hit is [here](https://github.com/jlowdermilk/kubernetes/blob/master/cluster/gke/util.sh#L150-L156).

Basically, we check whether `gcloud compute firewall-rules compute` exits nonzero, assuming that nonzero means the firewall rule doesn't exist. But `gcloud` is known to fail for other reasons, too.

[2016-09-06 23:22] erictune commented on #32149
Job controller needs to have a priority queue of upcoming deadlines and the corresponding job objects, and each time the sync loop runs, it needs to pop all passed deadlines, verify the job still has the deadline, and then delete the job.

[2016-09-06 23:24] ixdy commented on #31855
wow that's a lot of failures.

@jfrazelle are you actively working on this? do you need more hands to tackle it?

[2016-09-06 23:24] AdoHe commented on #32133
@k82cn IIRC, we have talked about this on slack, anything block you now?

[2016-09-06 23:26] ixdy commented on #27462
@spxtr https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32082/kubernetes-pull-test-unit-integration/43439/ was once again the GHPRB plugin...

[2016-09-06 23:27] ixdy commented on #31561
Do we know which pods or images are creating issues? 10 minutes seems like it should be plenty of time.

[2016-09-06 23:32] ixdy commented on #31191
3178: git clone failed in verify-godeps.sh
3283: slow git checkout
3287: another godep dependency download failure
3290: slow git checkout
3343: slow git checkout
3487: etcd download timed out
3493: etcd download timed out
3494: etcd download timed out
3495: etcd download timed out
3665 - 8: legitimate gofmt failure (broken by #32076)
3718: looks like mungedocs might be broken

[2016-09-06 23:35] AdoHe commented on #32156
@erictune I think I have to help maintain and update the jsonpath related code, the original author has low activity on this now.

[2016-09-06 23:37] ixdy commented on #31191
mungedocs probably not broken by that PR, but I'm not sure of root cause yet. could be a flaky check.

[2016-09-06 23:38] euank commented on #29579
@smarterclayton I'd argue that attach shouldn't be supported in a production environment at all.

The status quo today is that all of those options are implemented as piping through kubelet, so if you would argue that we should avoid implementing them at all in that way, perhaps we should just rip that out of kubelet now out of fear someone might accidentally use them in a production environment.

[2016-09-06 23:51] seanzhau commented on #32090
I don't think that's my problem,In busybox I can used `<service-name>.<namespace-name>` to resolv all my services name. On my dashboard, I get the error:

When I create other service,there tell me kubedns work in error
`Caused by: java.net.UnknownHostException: jenkinshift`

[2016-09-06 23:53] nvnobelen opened #32167 "Deep mount of ceph-fs volume returns "No such file or directory""
BUG REPORT

The following ceph-fs mount option works when used from the fstab:

10.240.0.13:6789:/somedeeppath/ /data/ ceph name=admin,secret=mySecret,noatime,_netdev 0 2

In kubernetes this however returns an error:

I0906 23:32:52.467789    3061 reconciler.go:254] MountVolume operation started for volume "kubernetes.io/cephfs/3a722450-748a-11e6-8758-42010af00005-event-data" (spec.Name: "event-da

[2016-09-06 23:56] erictune commented on #32156
That would be great!

[2016-09-07 00:00] ixdy commented on #31503
@pwittrock do you know if there's someone assigned to investigating the soak test for 1.4 readiness?

[2016-09-07 00:03] ixdy commented on #31964
The "Namespace resize-nodes is active" error persistent throughout many of the tests seems significant.
@jszczepkowski

[2016-09-07 00:04] AdoHe commented on #29838
@krmayankk thanks for digging.
[code]

I will confirm this, and tell you the result asap.

[code]
SGTM.

[2016-09-07 00:05] ixdy commented on #27822
All of the failures from 6 days ago were due to https://github.com/kubernetes/test-infra/pull/483.

I'm not gonna bother looking further back at this point.

[2016-09-07 00:05] #27822 closed

[2016-09-07 00:17] k8s-merge-robot opened #32168 "[k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32165/kubernetes-pull-build-test-e2e-gce/57568/

Failed: [k8s.io] Kubectl client [k8s.io] Simple pod should support exec {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32165.

Previous issues for this test: #28426

[2016-09-07 00:18] bgrant0607 commented on #26202
@ghodss If we need to regenerate defaults, it should happen in the server rather than in kubectl.

[2016-09-07 00:19] ixdy commented on #31694
Two and a half issues with the error message:
* `zone` is a pointer, so it should be dereferenced
  * I don't think `zone` applies to the `List` command anyway, so we can probably remove it from the error
* the `err` returned by the compute library is being thrown away

I just created https://github.com/kubernetes/kubernetes/pull/32169 to address these issues (though not the root cause).

[2016-09-07 00:24] feiskyer commented on #32128
Agree with @euank, we could solve this problem for hypervisor-runtimes  by #29579. It just needs time to get an agreement of how to achieve this.

Containers belonging to a pod may interact with each other by local networking.

[2016-09-07 00:25] amlinux commented on #22911
This problem is still there. Right now I'm observing it on my GKE instances (managed VM, Kubernetes 1.3.5):

[code]

[2016-09-07 00:35] janetkuo commented on #26202
It's interesting that the selector/labels update will work if you put the object inside a list:
[code]

[2016-09-07 00:44] saad-ali commented on #29903
@rvrignaud Thanks for the details. I took a look at your cluster. All your pods appear to be running normally at the moment and their volumes are attached/mounted properly. The master logs show no indications that you ran into #29358 again. So that issue appears to be resolved in v1.3.6.

That said, I'd still like to understand the issue you experienced immediately after this upgrade.

The `timeou

[2016-09-07 00:45] bprashanth commented on #23416
there are GKE/GCE suites for head, 1.3 and 1.4

[2016-09-07 00:47] thockin commented on #31384
I'm SGTM on the HostPathVolumeSource change, and the single field model
(need to enumerate sufficiently, maybe allow "Any" which implies "don't
care as long as it exists".

I'm ambivalent about the subPath part.  Is it a real pain point or
hypothetical?

On Tue, Sep 6, 2016 at 11:12 AM, Paul Morie <notifications@github.com>
wrote:

[2016-09-07 00:48] bprashanth commented on #23416
I meant there are suites that run back to back for each of those builds on jenkins clusters (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ingress/)

[2016-09-07 01:06] cmcconnell1 commented on #30495
Thanks to @bjfr and @discostur (using their work-arounds noted above) I was able to successfully deploy with version 1.3.5 and the three line addition as noted in bjfr's post.  Thanks!

[2016-09-07 01:14] derekwaynecarr commented on #31676
hey bot this issue got most of my attention on Friday and will get more
this week

On Tuesday, September 6, 2016, Kubernetes Submit Queue <
notifications@github.com> wrote:

[2016-09-07 01:42] eparis commented on #32131
Thanks brad. I think #31869 is specifically asking about StorageClass and provisioning. You are specifically asking about attach/mount/unmount/detach. I personally think the solutions to your problem are more restrictive than the problem in #31869 as I describe in https://github.com/kubernetes/kubernetes/pull/31869#issuecomment-245149752 . If we choose to follow my thoughts there for how to do a P

[2016-09-07 02:18] kevin-wangzefeng commented on #31906
A quick question: can we just make the kubectl taint e2e tests run not in parallel?

[2016-09-07 02:20] asalkeld commented on #18055
The PRs are merged, can we close this issue?

[2016-09-07 02:33] ravilr opened #32178 "dnsmasq container in kube-dns rc spec missing resource limits"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): NA

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug

**Kubernetes

[2016-09-07 02:37] #18055 closed

[2016-09-07 02:38] bgrant0607 commented on #32157
see also #4630

[2016-09-07 02:46] bprashanth commented on #31906
https://github.com/kubernetes/kubernetes/blob/release-1.4/docs/devel/e2e-tests.md#kinds-of-tests

[2016-09-07 02:46] bprashanth commented on #31906
I don't know if serial tests block merges yet

[2016-09-07 02:47] pwittrock commented on #31503
@ixdy I don't think so

[2016-09-07 02:53] GreatSUN opened #32179 "Problem running kube-apiserver etc. in pod against secured etcd"
Hi all,

first of all any help is appreciated as I guess it is a configuration issue.
I am using the following pod-manifests for the setup:
etcd: http://pastebin.com/nxa7tuA6
flannel, kube-apiserver, etc.: http://pastebin.com/E0FZGNaF

The "kube-master" pod exits with Unable to perform initial IP allocation check: unable to
 refresh the service IP block: client: etcd cluster is unavailable or misc

[2016-09-07 03:06] daikaixian commented on #12984
similar problem:

etcdmain: listen tcp: lookup localhost on 202.96.199.133:53: read udp 172.17.0.2:36311->202.96.199.133:53: i/o timeout

anyidea?

[2016-09-07 03:20] justinsb commented on #30706
@dchen1107 Yes, for the AWS image I will try to sync with GCI as closely as I can, if we go to 4.4 as the default on AWS.  Although if you're maintaining 4.4.14 + patches, I do wonder if official upstream (4.4.19) would be better than 4.4.14 without patches.  I don't know how different these will be in practice though.  My feeling is that testing effort will inevitably focus on 4.4 kernels & overl

[2016-09-07 03:39] daikaixian commented on #29041
I have the same issue.
where is the answer on stackoverflow?

[2016-09-07 03:52] eparis commented on #32131
potential solutions to the 'endpoints' problem are also discussed:
https://github.com/kubernetes/kubernetes/pull/31616 - `just hard code that mess yo'`
https://github.com/openshift/origin/issues/6331 - `lets talk`

[2016-09-07 03:53] kevin-wangzefeng commented on #31906
Just checked PR e2e scripts,
+ test args of GKE smoke e2e is `GINKGO_TEST_ARGS=--ginkgo.focus=Guestbook`
+ test args of GCE e2e is `export 'GINKGO_TEST_ARGS=--ginkgo.skip=\[Slow\]|\[Serial\]|\[Disruptive\]|\[Flaky\]|\[Feature:.+\]'`

I think serial tests won't block PR merges.

[2016-09-07 03:55] Ghazgkull commented on #29411
Does anyone know if #29801 made it into v1.3.6?

[2016-09-07 04:01] bgrant0607 commented on #22325
I want to block metadata.internal entirely. See #8867

[2016-09-07 04:02] erinboyd commented on #32131
That generally seems like a bad idea

[2016-09-07 04:09] a-robinson commented on #29411
It certainly doesn't look like it: https://github.com/kubernetes/kubernetes/tree/release-1.3/cluster/addons/fluentd-gcp/fluentd-gcp-image

[2016-09-07 04:13] igorpeshansky commented on #29411
According to https://github.com/kubernetes/kubernetes/commit/35fb50ba4c5b950f71d949d69f8fb4d846caa6c2, it is in v1.5.0-alpha.0, v1.4.0-beta.0, and v1.4.0-alpha.3, but not 1.3.6.

[2016-09-07 04:31] thockin commented on #27161
What filter is being applied on that tcpdump?  There's obviously no replies in there, which would help a lot.  Also, please run with `-i any -n` to get most useful output.

even better run tcpdump at both the originating node and the destination node.

[2016-09-07 04:54] asalkeld commented on #32156
I tried (on master) with this Deployment I had ...
[code]
[code]

Basically, it seems to work for me..

[2016-09-07 05:00] GreatSUN commented on #32179
Current gatherings: etcd was not configured as access via curl to https was not working due to some cert reading issue, therefore the network configuration for flannel was not setup in etcd and flannel was not able to work with etcd.
Could it be that the real issue behind the problem in the logs is some certification issue?

I have been following the guide https://coreos.com/kubernetes/docs/latest

[2016-09-07 05:02] #31910 closed

[2016-09-07 05:46] joonathan commented on #31222
We definetley see changes of the path on our backend services and not on the default-http-backend. Initially http-health-check is configured correctly but it will reset and we clearly see LB hitting the default root path instead of the configured one. Fix so far has been to change the path back using gcloud utility, or by removing the service from ingress and after a while adding it back.

[2016-09-07 05:48] joonathan commented on #31222
I will try to validate the case without the specified httpHeaders property.

[2016-09-07 05:50] madhusudancs commented on #27804
We now ship federation control plane components only as part of the hyperkube binary. And we recommend using only the hyperkube image which includes the trusted certs. And we use hyperkube image in the federation manifests too. So this issue is fixed.

Ref: PR #29929

[2016-09-07 05:50] #27804 closed

[2016-09-07 06:00] stevezau commented on #32099
Update: I just manually rebuild the docker binary including the patch from https://github.com/docker/docker/commit/86002decd0936fa5d466ba7dcbb3fd1524fd86dd

This now allows docker stats to work and also means i don't need to upgrade to docker 1.12.1..

It's a band-aid fix till kube supports 1.12.1

[2016-09-07 06:00] #32099 closed

[2016-09-07 06:17] xingzhou commented on #31062
@MikeSpreitzer, I'm looking at this issue, and here is what I did to reproduce the problem:

1. Download the latest Mesos code, build and start 1 single master with 1 single agent.
2. Download the latest Kubernetes code, use sudo KUBERNETES_CONTRIB=mesos make to build.
3. Use the following commands to start apiserver, controller-manager and scheduler respectively:
[code]

After all of these steps,

[2016-09-07 06:44] nhlfr commented on #32026
I think that answer is here:
https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L110-L122
https://github.com/golang/go/blob/master/src/net/http/httputil/reverseproxy.go#L199-L201

ReverseProxy is removing the "Upgrade" header.

So, the question is still whether we care about this. If yes, it seems that we have to write our proxy from scratch... because patching Go stdli

[2016-09-07 06:46] wojtek-t commented on #32098
BTW - I have one idea about it. Note where both of these requests come from:
- the first one comes from rescheduler
- the second one comes from test
In both cases for scalability, we are using JSONs not protobufs. We should switch both of them to protobufs, and that should significantly improve it:
- serialized protobufs are much smaller (less data to send)
- serialization to protobufs is faster (

[2016-09-07 06:49] jsafrane commented on #30265
sorry, I should have closed it a long time ago

[2016-09-07 06:49] #30265 closed

[2016-09-07 06:49] wojtek-t commented on #25563
We are good for 1.4 - moving to 1.5.

[2016-09-07 06:51] wojtek-t commented on #27388
@goltermann - technically, all the discussions above were about more than 100 pods on a single node, which ismore than we officially support.  So from my perspective it's not blocking.

[2016-09-07 07:17] bryk commented on #31799
@praoreo I think the problem is with your cluster version. It is 0.19, which is very old. Current stable is 1.3 and 1.4 is just coming out. Can you update?

[2016-09-07 07:27] nhlfr commented on #28947
Discussion moved here #31839
I know that this issue is older, but maybe we can close it and discuss all the things in the new issue?

[2016-09-07 07:31] nhlfr commented on #31839
Of course. In case of rkt runtime, we will need to get info about user from ACI manifest (it's available there). The mechanism for getting the user for which we need to chown has to be abstract and defined in each runtime.

[2016-09-07 07:40] #31825 closed

[2016-09-07 07:41] lufeng4828 opened #32184 "Problem about how to increase the characters per line when using kubectl exec"
Hi all,

first of all any help is appreciated

I want execute a command in a container and I execute:

kubectl exec -ti busybox bash

but if I input about 70 characters in bash and then I get truncated output(line broken anyway) that is different from docker exec.

is there a way to increase the characters per line when using kubectl exec?

Environment (also see manifests for more detailed info):

[2016-09-07 07:41] rvrignaud commented on #29903
Hi @saad-ali ,

Thanks to had a look to the cluster.
What happened is that I upgraded the master (maybe that's why kube-controler-manager restarted ?) then the nodes to 1.3.6.

After a moment (a few dozen of minutes ?) pods where still not running, I did try to delete the pods (can't remember if they where still in containerCreating state or not) and they did scheduled and mount their volume in a

[2016-09-07 08:01] k8s-merge-robot opened #32185 "[k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/8473/

Failed: [k8s.io] Dynamic provisioning [k8s.io] DynamicProvisioner should create and delete persistent volumes [Slow] {Kubernetes e2e suite}

[code]

[2016-09-07 08:20] weherdh opened #32187 "Azure Disk: Failed mount with NTFS fsType"
**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0.115+f6fe7c3ea759c4-dirty", GitCommit:"f6fe7c3ea759c48de942225788e7b0247ca20698", GitTreeState:"dirty", BuildDate:"2016-09-05T06:05:00Z", GoVersion:"go1.7", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5+", GitVersion:"v1.5.0-alpha.0

[2016-09-07 08:24] pires commented on #23236
I like glide as well. gb is cool, and most my projects are still using it, but it's hard to manage transitive dependencies. It will fetch them but won't remove them if they're no longer needed.

[2016-09-07 08:25] dcolens commented on #28947
Sure, as long as we work towards fixing it :)

[2016-09-07 08:25] #28947 closed

[2016-09-07 08:26] madhusudancs commented on #27804
Forgot to mention. @erictune thank you! Your comment above helped making progress on this issue.

[2016-09-07 10:30] wojtek-t opened #32191 "Kubelet is infinitely asking apiserver for terminated pod"
In large GCE test clusters (2000-nodes) we are observing that ~30% of all requests to apiserver are: "GET" requests about image-pullers that are returning 404.
This is generating super large load that basically shouldn't be there, however, this seems like a bug anyway.

Details:
- we are starting image-pullers from manifest files on all nodes
- at some point they are finishing
- if there are enoug

[2016-09-07 10:32] wojtek-t commented on #32185
Broken by this PR:
https://github.com/kubernetes/kubernetes/pull/31886

@deads2k @lavalamp @caesarxuchao

[2016-09-07 10:33] xiaoping378 opened #32192 "cluster/kube-up.sh don't work, while KUBERNETES_PROVIDER is centos"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2016-09-07 11:08] dims commented on #32185
@wojtek-t - Would a check like this work? Assuming this stuff is not available on GKE?

[code]

[2016-09-07 11:16] wojtek-t commented on #32185
@dims - I don't have context for this change. But if you want to skip this test in GKE, the you should probably use "SkipUnlessProviderIs" method.

[2016-09-07 11:29] errordeveloper commented on #13424
@kubernetes/sig-cluster-lifecycle for the start, this had been inactive for quite a while. And, in the light of recent activity on https://github.com/kubernetes/features/issues/11, should could close this (?), as the use-case here is about simplifying deployment, which is what we are solving now without having to run kubelet in Docker.

[2016-09-07 11:40] wojtek-t commented on #32098
The remaining thing to do is to bum rescheduler dependency - @piosz

[2016-09-07 11:51] jsafrane commented on #32185
It is trivial to turn the test off on GKE, however it was working when StorageClass was in `extensions/v1beta`, now it's in `storage.k8s.io/v1beta1` and something in GKE has to be updated.

[2016-09-07 11:54] deads2k commented on #32185
Any idea what?  It's almost like the server is launching without all the default API groups, but I don't see the API server logs in the list

[2016-09-07 11:56] wojtek-t commented on #32185
@kubernetes/goog-gke

[2016-09-07 11:56] jsafrane commented on #32185
Sorry, no GKE knowledge here. Just reporting the behavior. `extensions/v1beta1` was working, `storage.k8s.io/v1beta1` is not.

[2016-09-07 12:16] Blasterdick opened #32195 "FeatureRequest: add Contains to operator list in node affinity syntax"
Kubernetes 1.3.6, Google Container Engine

I need to create pod in a specific node in my cluster with several node pools in it.

And, it would be great, if I can scale node pools via Google Compute Engine built-in managed groups autoscaler (e.g by CPU usage).

But, I need to manually assign labels to nodes, and, with autoscaler enabled, it wouldn't be done.

So, my Pods won't be created in the new

[2016-09-07 12:20] dshulyak commented on #31778
[code]

[2016-09-07 12:20] wojtek-t commented on #32185
We discussed this problem with @deads2k and it seems that in GKE the new apigroup that this PR started using: "storage.k8s.io/v1beta1" is simply not enabled in GKE.

[2016-09-07 12:37] ncdc commented on #32026
We do have our own upgrade aware proxy in-tree. I can point you to it when
I'm at my computer.

On Wednesday, September 7, 2016, Michal Rostecki <notifications@github.com>
wrote:

[2016-09-07 12:59] dshulyak commented on #31778
I see that cpu: 100m was added, which makes this pod burstable. But maybe it is possible to introduce qos per each resource type? E.g this pod will be cpu burstable, but memory besteffort? and we can block scheduling of this pod until MemoryPressure will be come False

[2016-09-07 13:00] rootfs commented on #32187
what does your pod look like, especially `fsType`? Have you tried `fsType: ntfs-3g`?

[2016-09-07 13:14] deads2k commented on #32185
opened https://github.com/kubernetes/kubernetes/pull/32199 to disable this test while gke gets fixed up and https://github.com/kubernetes/kubernetes/pull/32200 to turn it back on.

@wojtek-t can you let us know when we'll be able to re-enable it?

[2016-09-07 13:43] deads2k commented on #32185
@cjcullen I saw you get assigned the "re-enable" pull.  Do you have an internal bug to enable this API group?

[2016-09-07 14:09] MikeSpreitzer commented on #31824
@danwinship remember VPN.  A tenant's new stuff in a shared cluster, isolated from other tenants' stuff in that cluster, can be connected to the tenant's old stuff via a VPN tunnel.

[2016-09-07 14:11] derekwaynecarr commented on #31778
@dshulyak - the original design for QOS was per resource per container.  We changed it in 1.3 to per pod for a few reasons a) easier to understand as a user, b) aligns with unified cgroup hierarchy direction in cgroups API, c) aligns with pod level cgroup proposal.

[2016-09-07 14:11] derekwaynecarr commented on #31778
closing the issue as the resource had Burstable QOS, eviction worked as designed.

[2016-09-07 14:11] #31778 closed

[2016-09-07 14:13] derekwaynecarr commented on #31621
See @DirectXMan12 WIP proposal here: https://github.com/kubernetes/kubernetes/pull/32159

[2016-09-07 14:17] pmorie commented on #31272
@thockin did you mean to ask 10 times?

TLDR: I don't think this is going to be fixed for 1.4 -- did you have an opinion about the interface I described here?

https://github.com/kubernetes/kubernetes/issues/31272#issuecomment-243333801

[2016-09-07 14:24] k8s-merge-robot opened #32205 "kubernetes-build: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-build/12121/

Run so broken it didn't make JUnit output!

[2016-09-07 14:25] jszczepkowski commented on #30156
This bug is a duplicate of #31728.

[2016-09-07 14:33] jszczepkowski commented on #31928
@vishh
When I click `Filter through log files` I get
[code]

[2016-09-07 14:44] jszczepkowski commented on #28768
There are two problems here:

1. OOM kill of resource consumer, duplicate of #31591:
[code]

2. Get/Put flakes on GKE, duplicate of #31728.

[2016-09-07 14:58] liggitt commented on #11626
keystone token authentication PR: https://github.com/kubernetes/kubernetes/pull/25391

related authorization PR: https://github.com/kubernetes/kubernetes/pull/25624

discussion of these is on the agenda for the [sig-auth meeting today](https://docs.google.com/document/d/1woLGRoONE3EBVx-wTb4pvp4CI7tmLZ6lS26VTbosLKM/edit)

[2016-09-07 15:21] errordeveloper opened #32206 "latest kubectl run can panic"
[code]

This was build from master earlier today.

[2016-09-07 15:37] pwittrock commented on #29449
@bprashanth is this fixed now?

[2016-09-07 15:40] pmorie commented on #19762
I'm reopening this because I've gotten requests for it.

cc @kubernetes/sig-apps

[2016-09-07 15:42] pmorie commented on #19764
@dshulyak #22575 doesn't fix the problem because the kernel bind-mounts inodes, not symlinks.  So, you can use subPath to get the _initial value_ of a file in this manner, but updates won't work correctly with subPath.

[2016-09-07 15:45] smarterclayton commented on #31839
There are some implications of clowning that the storage guys weigh in on -
we have a "philosophy of what to chown" that tries to do the right thing.
 @pmorie when we've gone through emptyDir and configmap and secrets what
lessons about chown / control should we apply here?

If someone for instance starts as uid 0 and then drops privilege they
wouldn't have access to write to the file, which is ve

[2016-09-07 15:56] eparis commented on #31272
well, it's long now! haha

[2016-09-07 16:01] #29449 closed

[2016-09-07 16:11] prasanjit- commented on #7701
I want to change the hyperkube's kubernetes api server port to say 9080 instead of the default 8080. How can I do that? I tried rebuilding the image after changing the ports for the manifest files but it didn't work. Please help.

[2016-09-07 16:16] thockin commented on #31272
hmm, I responded by email.  Go team github!

[2016-09-07 16:29] thockin commented on #31272
So the design is to launch a goroutine per-volume and risk killing that goroutine, which at least gives an upper-bound on the leakage?  Is that one gorutine leaked per-callsite per-volume or do the callsites flatten to the same goroutine?  Does that result in contention or are they already under the same goroutine parent (and thus inherently serialized)?

If we had a proper kubelet checkpoint, we

[2016-09-07 16:46] ymqytw commented on #31561
e2e-image-puller-e2e-scalability-minion-group-**** happend 7 times
fluentd-elasticsearch-e2e-scalability-minion-group-****  happend twice
e2e-image-puller-jenkins-e2e-minion-group-**** happened once
heapster-v1.2.0-beta.2-664364718-***** happened once

[2016-09-07 16:52] lavalamp commented on #26202
Yeah, while it's generally a terrible idea to change the label/selector on a deployment, I seem to recall back when I filed this, it failed for strange reasons unrelated to the actual potential problem of unowned/doubly owned pods.

[2016-09-07 16:57] thockin commented on #19762
Other options in this vein:

* allow multiple ConfigMaps or Secrets to be mounted into a single dir
(overlay style)

* allow a ConfigMapVolumeSource to pull multiple ConfigMap inputs (repeats
for Secret)

* provide a configurable sidecar container that can consume arbitrary
inputs and synthesize a result directory

* build a linkfarm volume that acts as a table-of-contents of symlinks into
other v

[2016-09-07 17:01] thockin commented on #19764
It might be a fun project to negotiate a kernel change that does what we
want here, but that's a long-running effort.  still, I would endorse
someone earning their kernel-hacking wings on it.

On Wed, Sep 7, 2016 at 8:44 AM, Paul Morie <notifications@github.com> wrote:

[2016-09-07 17:02] spxtr commented on #32028
According to [test_owner.csv](https://github.com/kubernetes/kubernetes/blob/master/test/test_owners.csv) this belongs to @fabioy.

[2016-09-07 17:09] jayunit100 opened #32211 "In at least some cases ; kube-up fails to deploy cluster because of missing kubernetes-src.tar.gz during mv command."
Problem:

I'm finding kube-up seems to deploy a broken cluster, consistently, due to something around pulling/moving kubernetes-src.tar.gz after the `master` tries to start... , i.e. the apiserver logs show that it fails because the `mv kubernetes-src.tar.gz` command fails.
- im not sure why, i suspect it could be related to the fact that im using a group account, but a few hacks to personalize th

[2016-09-07 17:09] jayunit100 commented on #32211
@kubernetes/sig-testing

[2016-09-07 17:13] gmarek commented on #32098
This is rather unexpected, but I can update the constraints.

[2016-09-07 17:13] spxtr commented on #32211
Can you post a log?

[2016-09-07 17:15] dims commented on #32205
This was a transient connection problem which seems to have resolved itself. We can probably close this out

[2016-09-07 17:16] dims commented on #32185
@jsafrane @cjcullen looks like https://github.com/kubernetes/kubernetes/commit/e976bc9ed2b6729142c9d4af2a04aa1a7cc773fa helped fix this. Should this be closed?

[2016-09-07 17:27] jingxu97 commented on #22911
@amlinux Thank you for providing this information. After checking the log offline, the problem should be fixed in v1.3.6. Please upgrade to v1.3.6 and let us know if you have any problem. Thanks!

[2016-09-07 17:31] deads2k commented on #32185
I'd like to have something that indicates when the actual GKE setup problem is fixed.  @kubernetes/goog-gke want a new issue or just use this one?

[2016-09-07 17:35] k8s-merge-robot opened #32214 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/6512/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 100 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26982

[2016-09-07 17:35] goltermann commented on #8759
@fejta @rmmh @spxtr is this in the plan for 1.4?  Or should we punt this bug out to 1.5?

[2016-09-07 17:36] vishh commented on #31928
That feature hasn't worked ever! You can access logs [here](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-gci-serial/66) - essentially click on `artifacts`.

[2016-09-07 17:36] goltermann commented on #5671
@vishh in plan for 1.4, or punt to 1.5?

[2016-09-07 17:38] goltermann commented on #15077
@erinboyd @childsb 1.4 is shipping in less than two weeks - anyone looking at this?  Time to move it to the v1.5 milestone?

[2016-09-07 17:38] vishh commented on #5671
@goltermann Yes. This feature has been punted to v1.5

[2016-09-07 17:39] goltermann commented on #23416
Closing as we have continuous testing for this area now.

[2016-09-07 17:39] #23416 closed

[2016-09-07 17:41] ncdc opened #32215 "Component configuration improvement suggestions"
Below are a couple of suggestions to improve the component configuration code, based on lessons we've learned in OpenShift.
## Group related options together

As mentioned [here](https://github.com/kubernetes/kubernetes/pull/13146#issuecomment-153013521), we've found that it's easier to group related items together. For example, instead of having

[code]

you could have this:

[code]

This has the

[2016-09-07 17:42] deads2k opened #32216 "`clusterinfo_dump.go` should use discovery and a dynamic client"
`clusterinfo_dump.go` uses discrete `list` operations to find whitelisted resources.  Given the rate at which new resource are added, it probably makes sense to keep a backlist and just use discovery to walk the set of namespace scoped resources to print.

@kubernetes/kubectl This hurts us for adding new resources and having our commands work.

[2016-09-07 17:50] jfkeegan commented on #25476
Any chance you could share the change you made, @ngtuna ? I am seeing this same error and can't seem to resolve it...

[2016-09-07 17:50] mtaufen commented on #31428
This hasn't flaked in almost two weeks, should we still consider it a p0?

[2016-09-07 17:50] thockin commented on #15077
This is certainly not 1.4

On Wed, Sep 7, 2016 at 10:38 AM, goltermann <notifications@github.com>
wrote:

[2016-09-07 17:53] bprashanth commented on #31428
Yeah worst case p1, logs of  a repro with non-rotated controller manager output would help because last time I tried debugging there wasn't much in there

[2016-09-07 17:53] girishkalele commented on #32138
cc @ncdc @derekwaynecarr @smarterclayton @kubernetes/sig-network

[2016-09-07 17:54] girishkalele opened #32218 "New Quota Resource for HTTP health checks"
We have resource usage/quota tracking for Services, ServicesLoadBalancer, ServicesNodePorts.

Do we also want to track HTTP Health Checks as a resource that can have a quota ?

[2016-09-07 17:54] girishkalele commented on #32218
cc @derekwaynecarr @ncdc @smarterclayton @kubernetes/sig-network

[2016-09-07 17:57] ncdc commented on #27980
FYI we just created #32215 with some suggestions for how to improve the configuration structs and process a bit. If we get agreement to move forward with those, we'll want the Kubelet config to follow suit. I'd really appreciate it if you could take a look at the suggestions and weigh in with your thoughts. Thanks!

[2016-09-07 17:58] derekwaynecarr commented on #32218
Can you elaborate your scenario further?

[2016-09-07 18:00] bprashanth commented on #32218
hmm, that would involve tracking all cloud resources through some quota, not just http health checks (firewalls, target proxies, ssl certs, static ips, forwarding rules... and probably O(10) more per cloudprovider). Http health checks aren't really part of our kube api right? or have I misunderstood

[2016-09-07 18:01] thockin commented on #23236
I am 98.1 % on-board with Glide.

On Wed, Sep 7, 2016 at 12:56 AM, Ilya Dmitrichenko <notifications@github.com

[2016-09-07 18:02] derekwaynecarr commented on #32218
@bprashanth - i was not sure if i understood either...

[2016-09-07 18:02] k8s-merge-robot opened #32219 "[k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/32163/kubernetes-pull-build-test-e2e-gce/57681/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl taint should remove all the taints with the same key off a node {Kubernetes e2e suite}

[code]

Happened on a presubmit run in #32163.

Previous issues for this test: #31066 #31967

[2016-09-07 18:05] derekwaynecarr opened #32220 "Confusing error when object with generateName already exists"
Spawned from https://github.com/openshift/origin/issues/10237

https://github.com/openshift/origin/blob/master/vendor/k8s.io/kubernetes/pkg/api/rest/create.go#L106 is converting an AlreadyExists error into a server timeout error if it has a generateName

[code]

That means that this returns really confusing errors:

[code]

[2016-09-07 18:06] derekwaynecarr commented on #32220
/cc @liggitt

[2016-09-07 18:07] goltermann commented on #31798
@cjcullen agreed offline, moving to v1.5

[2016-09-07 18:08] wojtek-t commented on #32098
Did something change in kube-proxy in the last few hours?

[2016-09-07 18:12] mtaufen commented on #31428
Conferred with @mikedanese, closing as this has not flaked in almost two weeks.

[2016-09-07 18:12] #31428 closed

[2016-09-07 18:13] timstclair commented on #31015
Release plan: https://docs.google.com/document/d/1gMWe9ns7rUNGXpeVEI_IQjIWKcDZBJJEshCQRl2NxDA/edit#

[2016-09-07 18:16] #30187 closed

[2016-09-07 18:18] Random-Liu commented on #32191
I guess this is similar with #29845. What happened is that:
1. e2e-image-puller run to completion. (PodStatus = Success)
2. pod-garbage-collector removed the corresponding mirror pod of e2e-image-puller.
3. Kubelet receive the pod deletion and remove mirror pod from pod manager. https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2473
4. kubelet didn't `SyncPod` for e2e-im

[2016-09-07 18:18] freehan commented on #31867
closing this since #31801 went in

[2016-09-07 18:18] #31867 closed

[2016-09-07 18:20] dchen1107 commented on #22639
The issue should be fixed if the user uses docker 1.11+ or uses Kubernetes 1.3.

[2016-09-07 18:20] #22639 closed

[2016-09-07 18:21] cjcullen commented on #31611
We are still referencing the NamespaceExists admission control plugin, and I have no idea why. I'll remove that from our 1.4 deployment setup.

[2016-09-07 18:30] girishkalele opened #32221 "Quota not counting nodePorts allocated for services of type LoadBalancer"
Created a service with type=LoadBalancer on a GCE cluster.
See a nodePort allocated for it.

kube-dns-prometheus.yaml

[code]

kubectl edit rc

[code]

[2016-09-07 18:30] foxish commented on #28124
These tests are now also failing in case of kubernetes-e2e-gce-gci-serial-release-1.4.

[code]

[2016-09-07 18:31] lavalamp commented on #30632
Most recent failure is still "Got error: Internal error occurred: failed to allocate a serviceIP: client: etcd cluster is unavailable or misconfigured"

Apiserver says:

[code]

[2016-09-07 18:37] Random-Liu commented on #32191
I think status manager makes the assumption that:
* If there is the pod in pod manager
* => status manager should keep the expected status
* => apiserver should have a corresponding pod object
* => status manager should keep pod object status matching the expected status.

Normally, this is always true even for mirror pod (because kubelet will always make sure there is a corresponding mirror pod o

[2016-09-07 18:40] caesarxuchao commented on #29503
I unassigned myself since I'm not working on it. Let me know if I'm needed.

[2016-09-07 18:41] mtaufen commented on #31428
@bprashanth just saw your comment. If you figure out how to repro feel free to reopen.

[2016-09-07 18:41] jfrazelle commented on #29503
I'm looking into the etcd errors

On Wed, Sep 7, 2016 at 11:41 AM, Chao Xu <notifications@github.com> wrote:

[2016-09-07 18:44] ncdc commented on #32168
This is #32009

[2016-09-07 18:44] ncdc commented on #32053
This is #32009

[2016-09-07 18:44] ncdc commented on #32043
This is #32009

[2016-09-07 18:44] wojtek-t commented on #32191
@Random-Liu - thanks for taking a look into it - what you wrote definitely makes sense (at least first 3 dots are exactly what happened).

I have a question regarding "option 1". If you recreate the mirror pod, this would mean that again we have a pod for already finished pod. Wouldn't pod-garbage-collector try to remove it again?

And the general question - do we want to keep a mirror pod for ter

[2016-09-07 18:47] wojtek-t commented on #32098
@thockin @bprashanth - we started observing flakes connected to high kube-proxy CPU usage in the last ~2 hours (we didn't have such failure in the last month, and we had 3 in the last two hours).
This seems like a regression to me. Are you aware of any changes around it?

[2016-09-07 18:53] thockin commented on #32098
The only recent changes should be alpha-gated.  Pinging folks who have fingerprints on this in the last month or so..

@freehan @girishkalele @justinsb

Do you have any more information on how to trigger it?

[2016-09-07 18:58] wojtek-t commented on #32098
Hmm - it seems that last 3 runs of scalability suite failed (and any other in the last few weeks because of that reason).
So it seems like a real regression, and the only change from that run is this one:
https://github.com/kubernetes/kubernetes/pull/32194
This seems pretty unrelated...

[2016-09-07 19:05] jayunit100 commented on #32211
[code]

The mv line is where the explicit failure is occuring.  iirc i didnt see this  `src.tar.gz` file anywhere on the server?

[2016-09-07 19:09] luxas commented on #32206
cc @pwittrock @thockin @lavalamp @roberthbailey
This should be fixed before v1.4

[2016-09-07 19:20] sirhopcount commented on #24657
I might also have a use case for this. I want containers to be able to reach the etcd (proxy) on the node they are running on. That way services in the containers can register them selfs with the etcd cluster.

I could use host networking but that seems overkill to me for exposing a service on the node.

What I really want to be able to do is to set an env var with the public ip of the node the po

[2016-09-07 19:29] girishkalele commented on #32218
I was going by this function - it counts various service-related resources, including LoadBalancers.

[code]

[2016-09-07 19:32] Random-Liu commented on #32191
@wojtek-t Yeah, that will happen again.
On a second thought, we can also patch status manager to make it behave properly for this special case. I'll think about it.

[2016-09-07 19:34] derekwaynecarr commented on #15743
@ingvagabund fyi for historical reading...

[2016-09-07 19:37] girishkalele commented on #32218
Are these quota limits enforced by some sort of admission controller ?
Are they per namespace/serviceaccount ?
Where can I configure them or view current usage ?

[2016-09-07 19:43] ncdc commented on #30489
@bprashanth it turns out that `Error proxying data from client to backend: read tcp 10.240.0.2:443->146.148.49.195:59778: read: connection reset by peer` was related to a port-forwarding call, and not the exec one that failed.

If you look at the apiserver log, you see these entries one right after the other:

[code]

There's something strange going on:

1. 19:18:23.325, start exec for namespace `

[2016-09-07 19:44] derekwaynecarr commented on #29725
@dubstack - we updated to use Allocatable in downward API

/cc @aveshagarwal

[2016-09-07 19:51] dchen1107 commented on #28124
@foxish thanks for checking the last failure. Yes, this is known issue, and shouldn't block 1.4 release since GCI default on node is decoupled from the releases.

[2016-09-07 19:53] thockin commented on #24657
With kube 1.4 you can get the node's name, which is usually resolvable.
Sufficient?

On Wed, Sep 7, 2016 at 12:21 PM, Adrian van Dongen <notifications@github.com

[2016-09-07 19:53] matchstick commented on #32153
@saad-ali Can you PTAL

[2016-09-07 19:54] aveshagarwal commented on #29725
@dubstack here is the PR: https://github.com/kubernetes/kubernetes/pull/29639 where we changed to node allocatable values in downward api for default resource limits, so the first point in your original description seems to be covered in this PR.

[2016-09-07 19:54] matchstick commented on #31001
@quinton-hoole Can you please triage?

[2016-09-07 19:57] matchstick commented on #30706
@dchen1107 Assigning to you for triage right now. AS it is a 1.4 P0. If you are the wrong person I apologize. Also @thockin and @vishh should have this on their radar.

[2016-09-07 20:00] derekwaynecarr commented on #32218
@girishkalele

Yes.  see: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/resourcequota/admission.go

Its also used in the quota controller that does reconciliation in response to observed deletes.

The quota constraints are per namespace.

see following:
http://kubernetes.io/docs/admin/resourcequota/
http://kubernetes.io/docs/admin/resourcequota/walkthrough/

[2016-09-07 20:05] jayunit100 opened #32223 "scheduler: test-performance.sh compile error."
_Problem_

Looks like the test-performance.sh utility doesn't work because of a compile change in test/integration/framework `DeleteAllEtcdKeys` ?

_Solution_

Reimplement DeleteAllEtcdKeys ?

_Details_

[code]

then a compile error appears...

[code]

[2016-09-07 20:07] jayunit100 commented on #32223
cc @kubernetes/sig-scheduling

[2016-09-07 20:10] jayunit100 commented on #32223
whoops, dupe of #30812

[2016-09-07 20:11] rata commented on #32153
Can't repro with v1.4 and the report is against v1.3. Is is ok to target this to v1.4?

[2016-09-07 20:12] ixdy commented on #31191
Reassign to @rmmh since he's working on etcd download caching.

[2016-09-07 20:21] jayunit100 commented on #30812
yup, i guess ill look into this also.  cc @kubernetes/sig-scheduling
[code]

[2016-09-07 20:23] krousey opened #32224 "registered.EnabledVersions returns all registered versions"
https://github.com/kubernetes/kubernetes/pull/20846 introduced a bug where `registered.EnabledVersions` doesn't consult `enabledVersions` anymore... I think. I was trying to debug another problem and spotted this.

I think only clients use this function. APIServer has an entirely different mechanism for tracking enabled/disabled things.

cc @kubernetes/sig-api-machinery

[2016-09-07 20:27] foxish commented on #28124
@dchen1107 If it's not a release blocker, do you suggest that we disable the test in the 1.4 branch?

cc @pwittrock

[2016-09-07 20:28] madhusudancs commented on #26723
@goltermann federation tests are passing, but this issue isn't completely resolved. This isn't a 1.4 blocker. Re-targeting to 1.5.

[2016-09-07 20:28] nikhiljindal commented on #27883
Yes I remember @madhusudancs had pointed that out to me that the script was not deleting all the resources. But if it were, then the resource leak test will never fail :)
I expect each test to be responsible for deleting all their resources, so I think the e2e down script is fine.

Deleting the resources in AfterEach in that particular test seems better to me.

[2016-09-07 20:28] adambom opened #32225 "Cannot create StorageClass"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No, this is a bug report

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Searched for: "error validating data: couldn't find type: v1b

[2016-09-07 20:30] bprashanth commented on #27883
https://github.com/kubernetes/kubernetes/pull/32183

[2016-09-07 20:30] madhusudancs commented on #26656
This is already fixed. Fixed in PR #29515.

[2016-09-07 20:30] #26656 closed

[2016-09-07 20:34] krousey opened #32226 "Alpha apis are enabled by default contradicting our policy."
There are a few alpha API groups enabled by default in [pkg/master/master.go:837](https://github.com/kubernetes/kubernetes/blob/d9ea0887653b62597a332d02453db53a4df2d494/pkg/master/master.go#L837):

[code]

This is in violation of our stated policy on alpha APIs at: https://github.com/kubernetes/kubernetes/blob/release-1.4/docs/devel/api_changes.md#alpha-beta-and-stable-versions

We should disable

[2016-09-07 20:37] nikhiljindal commented on #31624
IIUC, that is not what ingress e2e is doing. ingress e2e always calls cleanupGCE. It is not testing that ingress controller should automatically delete the cloud resources (if given enough time)?

[2016-09-07 20:38] #32205 closed

[2016-09-07 20:38] eparis commented on #25320
@davidopp is this list still correct(ish) for getting to beta? Is there any better place to look?

[2016-09-07 20:41] ntmggr opened #32227 "Service deletion does not remove the SG of the ELB (AWS)"
kubectl version
`Client Version: version.Info{Major:"1", Minor:"2", GitVersion:"v1.2.4", GitCommit:"3eed1e3be6848b877ff80a93da3785d9034d0a4f", GitTreeState:"clean"}
Server Version: version.Info{Major:"1", Minor:"3", GitVersion:"v1.3.6", GitCommit:"ae4550cc9c89a593bcda6678df201db1b208133b", GitTreeState:"clean"}`

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. f

[2016-09-07 20:49] foxish commented on #31710
@piosz This test appears to be broken in the [1.4 release soak tests](https://k8s-testgrid.appspot.com/google-soak#soak-continuous-e2e-gce-1.4) and will be a release blocker.
Do you know if there is an issue already tracking this? Can you own this item?

cc @pwittrock

[2016-09-07 20:50] eparis commented on #31272
I still have concern that a stuck go routine here will also result in a stuck linux thread in D state. Do we lose a GO_MAX_PROC on these hung things? (Not saying there is anything we can do here, I keep meaning to do a test)

[2016-09-07 20:57] thockin commented on #32153
Are you confirming the non-repro, or just echoing?

On Sep 7, 2016 1:12 PM, "rata" <notifications@github.com> wrote:

[2016-09-07 21:01] derekwaynecarr commented on #32009
@smarterclayton - I think we can close this given #32182 has merged?

[2016-09-07 21:03] bprashanth commented on #31428
We can just wait on the robot to tell us

[2016-09-07 21:13] bprashanth commented on #23354
@haizaar @sosiouxme thoughts on Simon's chart when you have time would be great. I'm looking for  experienced users to spot gaps in the feature set.

[2016-09-07 21:14] davidopp commented on #25320
I think this list is more or less accurate. @kevin-wangzefeng is working on some of the items for 1.5. I don't think we will have time to make it Beta in 1.5 though. We could maybe split this up into taints/tolerations and dedicated nodes, and consider the latter a separate feature; that would allow us to remove the security-related items from the list (like ensuring Kubelet comes up with the righ

[2016-09-07 21:17] #31808 closed

[2016-09-07 21:19] thockin commented on #31394
get rid of the `kubernetes.io/cluster-service: "true"` label - that triggers addon manager to manager it.

[2016-09-07 21:19] #31394 closed

[2016-09-07 21:19] saad-ali commented on #32153
I was also unable to repro on GCE against HEAD or against GKE v1.3.6.

*GCE against HEAD:*
[code]

I put the container to sleep on creation and exec'd into it to verify contents as well:
[code]

*Against GKE v1.3.6:*
[code]

Again put the container sleep and exec'd into it to verify contents:
[code]

[2016-09-07 21:20] errordeveloper commented on #31417
I'm still confused, the line 49 in `main()` has a `\n` and also has lower-case `"error:" prefix, but here we are seeing one with uppercase `"Error:"` and with an `\n`, and one without either of those things. I can guess that the first one may been indeed from the logger, but where does the second one come from?

[2016-09-07 21:21] thockin commented on #32090
Please post help requests to Stack Overflow where they can be found by a much wider base of people.

[2016-09-07 21:21] #32090 closed

[2016-09-07 21:22] thockin commented on #30139
I'm going to close this and ask that we move help requests to Stack Overflow, where they can be seen by many more people.

[2016-09-07 21:22] #30139 closed

[2016-09-07 21:28] rata commented on #32153
On Wed, Sep 07, 2016 at 01:58:27PM -0700, Tim Hockin wrote:

Confirm.

[2016-09-07 21:34] dchen1107 commented on #30706
@matchstick No need to apologize, this is on my radar all the time. And I know @justinsb is working on this actively and diligently. The only reason I didn't assign to either me or @justinsb is that this is not in 1.4 milestone, and I cannot do much on aws's image besides offering the suggestions. @justinsb Do you think this should block 1.4 release?

@justinsb yes, you and I are on the same page

[2016-09-07 21:36] quinton-hoole commented on #31001
@matchstick Yes, this is resolved by https://github.com/kubernetes/kubernetes/pull/31640
@mwielgus Must have forgotten to close this.

[2016-09-07 21:36] #31001 closed

[2016-09-07 22:18] k8s-merge-robot opened #32237 "ThirdParty resources Simple Third Party creating/deleting thirdparty objects works [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/15018/

Failed: ThirdParty resources Simple Third Party creating/deleting thirdparty objects works [Conformance] {Kubernetes e2e suite}

[code]

[2016-09-07 22:20] vishh opened #32238 "Regression in OOM score configuration starting from v1.3+"
Kubelet and docker daemon were expected to run with an `oom-score-adj` of `-999` as mentioned [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/qos/policy.go#L25) and [here](https://github.com/kubernetes/kubernetes/blob/master/docs/design/resource-qos.md#oom-score-configuration-at-the-nodes).

This behavior has been broken since v1.3+. I consider this a serious regression bec

[2016-09-07 22:25] dchen1107 commented on #32238
Prior 1.0 release, Kubernetes provided some oom protection to important daemons: docker and kubelet etc. @vishh reported this regression issue when he works on GCI for 1.4. We traced back to previous version to figure out when the regression was introduced, and found it was broken since 1.3.

Here is the result on my old 1.2 nodes:

[code]
But on another node running HEAD:
[code]

@vishh also conf

[2016-09-07 22:26] dchen1107 commented on #32238
cc/ @fabioy since you are the release czar for 1.3. Should we patch 1.3 for this?

[2016-09-07 22:39] dchen1107 commented on #32238
cc/ @derekwaynecarr I am not sure if this is also broken on your nodes?

[2016-09-07 22:42] bprashanth commented on #31007
I inspected the service controller and I don't think we're trying to enqueue a non-string right now, or apply the keyFunc to a non api object. This might've been an artifact of the old service controller. Can you please check if it repros on 1.4 something? (post: https://github.com/kubernetes/kubernetes/pull/25189 basically).

I don't think we want to backport the entire rewrite into 1.3 at this p

[2016-09-07 22:42] #31007 closed

[2016-09-07 22:49] sbezverk opened #32240 "escape character in sed command triggers kubectl error"
Below is the init container I am using, I need to use sed to modify on the fly one parameter, when I run kubectl create -f container.yaml I see this error:

kubectl create -f tgtd-pod-v2.yaml
unable to decode "tgtd-pod-v2.yaml": invalid character '(' in string escape code

The same command run in shell works without any errors.

      annotations:
        pod.alpha.kubernetes.io/init-containers: '

[2016-09-07 22:50] vishh opened #32241 "Outline upgrade-downgrade testing requirements for sysctl support"
sysctl support has been added as part of v1.4 release. The upgrade / downgrade testing requirements needs to be defined and ideally tested as part of CI.

@sttts can you start with outlining the manual testing necessary for sysctl feature.

[2016-09-07 22:55] mikedanese commented on #13424
ya, docker multinode exists, so this can be closed.

[2016-09-07 22:55] #13424 closed

[2016-09-07 23:02] janetkuo commented on #29760
Replied in http://stackoverflow.com/questions/39298433/kubernetes-deployment-fails-to-perform-rolling-update-when-image-tag-changes

[2016-09-07 23:06] janetkuo commented on #31199
dup #32057

[2016-09-07 23:06] #31199 closed

[2016-09-07 23:08] thockin commented on #12450
I'm re-opening this.  Now that we have dynamic provisioning and storage classes, this becomes more interesting from a performance point of view.  This would allow me to request a "platinum" volume that is auto-deleted at the end of my pod's lifetime.

[2016-09-07 23:10] chrislovecnm commented on #23354
@bprashanth the chart is at a pretty good place. With the heap tweaks, it is probably ready for merge into incubator. Be great if we could get it in and then open issues in it ;)

[2016-09-07 23:14] janetkuo commented on #31943
Because it's empty (0 pod) when the watch was first executed

[2016-09-07 23:15] fluxrad commented on #19634
Re `ndots` tuning, I was under the impression that this wouldn't impact core Kubernetes functionality since DNS is an add-on — this may be a false impression. Assuming a switch like `--container-ndots` with a (sensible) default of `5`, would this provide the normal functionality but give the end-user the ability to override in high-query-volume use-cases?

Really all we're trying to solve for is a

[2016-09-07 23:19] bprashanth commented on #31273
The work here is combing through the O(10) issues that have the same failure mode, bucketing them into classes and adding clarity. eg: https://github.com/kubernetes/kubernetes/issues/20916, https://github.com/kubernetes/kubernetes/issues/28641, https://github.com/kubernetes/kubernetes/issues/22819

Probably the most important is startup log from the master: https://github.com/kubernetes/kubernetes

[2016-09-07 23:22] bprashanth commented on #26134
The penultimate failure was "couldn't delete ns", a known long term bug that we're fixing. Looking through the last issue.

[2016-09-07 23:23] thockin commented on #19634
On Wed, Sep 7, 2016 at 4:15 PM, Aaron Mills <notifications@github.com> wrote:

It was an addon.  DNS is effectively required at this point.  You
could MAYBE make an argument that ndots is a cluster config parameter,
but doing so negates a lot of portability, so I really don't think it
is smart to change from the default.  If there was enough pressure I
could maybe be convinced to flag it, but I wo

[2016-09-07 23:26] dims commented on #32220
@derekwaynecarr @liggitt - a simple if for the objectMeta.Name seems to do the trick... is this enough? or were you looking for better way instead of NewServerTimeoutForKind ?

[code]

[2016-09-07 23:28] janetkuo commented on #32184
This is fixed by #25273. Please wait for 1.4 release.

[2016-09-07 23:28] #32184 closed

[2016-09-07 23:31] janetkuo commented on #31436
cc @jlowdermilk

[2016-09-07 23:33] smarterclayton commented on #32026
We should already have one - @liggitt, where is that?

[2016-09-07 23:34] smarterclayton commented on #32026
Nm saw Andy's response too late

[2016-09-07 23:39] janetkuo commented on #31324
Namespace is what you're looking for http://kubernetes.io/docs/user-guide/namespaces/.
This question should be posted to http://stackoverflow.com/questions/ask?tags=kubernetes where questions will get more attention.

[2016-09-07 23:39] #31324 closed

[2016-09-07 23:39] jlowdermilk commented on #31436
You're trying to install from a pinned version that's fairly old. If you still need that version for some reason, you manually download and install from the cloud sdk archive, as documented [here](https://cloud.google.com/sdk/downloads#earlier_versions). IIRC, `gcloud components update` and `gcloud components install` only work for a couple versions back from latest stable.

[2016-09-07 23:42] smarterclayton commented on #30489
Nothing comes to mind

[2016-09-07 23:43] caruccio commented on #5164
I'd use it to do my users billing. Today we are retrieving metric data from hawkular into a database. May not the the best, but it's the easier I could find at the time (any sugestions?)

Observer could inject nvironemtn variables into the script with basic information like KUBERNETES_NAMESPACE, KUBERNETES_OBJECT_NAME, etc...

[2016-09-07 23:44] jlowdermilk commented on #31436
Side note, if the only thing you want to install is `kubectl`, that will soon be available as a debian package so you can apt-get|yum|whatever install it. See https://github.com/kubernetes/release/pull/63

[2016-09-07 23:50] smarterclayton commented on #5164
The first two arguments to the script are namespace and name, so you
have it.  You can record creation time, but for this loop you would
need to be aware that deletion could happen when you aren't running
(so you don't get exact deletion time).

You could also watch quota usage objects and sum them over time.

[2016-09-07 23:57] jingxu97 commented on #30689
Did some debugging for failure gke test 7973. From the log we can see the following events happens
1. PD is created and attached to node A, kubelet mounted the volume
2. Delete the pod from node A, and create pod with same volume on node B. kubelet successfully unmount the volume and device (global mount point) from node A. However, master did not start to detach the volume until after about 6 min

[2016-09-08 00:07] #28698 closed

[2016-09-08 00:09] dchen1107 commented on #30939
This is not 1.4 blocker since it only happens on coreos with newer version of systemd. Downgrading coreos image can workaround the issue.  I downgrade the priority and remove the milestone for this.

[2016-09-08 00:13] dchen1107 commented on #31501
@derekwaynecarr any updates on devicemapper fix? Or should we move this to 1.5 milestone?

[2016-09-08 00:29] #31595 closed

[2016-09-08 00:32] cjcullen commented on #31611
Ehh, might not roll out until ~2AM. Still going to close this.

[2016-09-08 00:32] #31611 closed

[2016-09-08 00:34] janetkuo commented on #31820
`kubectl get pods --show-kind` gives you what you want.

[2016-09-08 00:36] janetkuo commented on #31820
This is already fixed by #28509. In the upcoming release 1.4, `kubectl get pods --show-kind` will give you what you want.

[2016-09-08 00:36] #31820 closed

[2016-09-08 00:39] timstclair commented on #31501
Reminder: We'll be cutting a cAdvisor release on 9/15. If this needs a cAdvisor fix, it should go in before that.

[2016-09-08 00:40] janetkuo commented on #31724
fixed by #31801

[2016-09-08 00:40] #31724 closed

[2016-09-08 00:42] bprashanth opened #32248 "Investigate "ssh: unexpected packet in response to channel" on GKE"
Seen this debugging a couple of tests. Pod is ready and we can reach it through apiserver proxy, then after a bit we request timeouts followed by `ssh: unexpected packet in response to channel open: <nil>`

Eg: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2204/
from https://github.com/kubernetes/kubernetes/issues/27324 and https://github.com/kubernetes

[2016-09-08 00:43] bprashanth commented on #27324
Last failure is https://github.com/kubernetes/kubernetes/issues/32248

[2016-09-08 00:47] pwittrock commented on #24321
@mml @davidopp Moving this out of v1.4.  Please take a look and update if it needs to be in 1.4

[2016-09-08 00:48] pwittrock opened #32249 "Validate API for 1.4"
Someone needs to look at the swagger + api for a 1.4 beta release and make sure it matches expectations and what is in the kubernetes/features + release notes.

New apis should exist and be usable

[2016-09-08 00:50] janetkuo commented on #31686
cc @pmorie

[2016-09-08 00:52] davidopp commented on #24321
This will be in 1.4. just needs docs and a couple more e2e tests.

[2016-09-08 00:52] dchen1107 commented on #31015
cAdvisor Godeps is updated to the most recent commit for 1.4 release. This is a tracking issue so that we can pick up the latest fix from both coreos and redhat:

* inode accounting on imagefs on devicemapper (redhat):  https://github.com/kubernetes/kubernetes/issues/31501
* workaround the issue of resource accounting on coreos image:  https://github.com/kubernetes/kubernetes/issues/30939

But bot

[2016-09-08 00:54] pmorie commented on #31686
Ugh. It's in, we're missing doc for it.

On Wednesday, September 7, 2016, Janet Kuo <notifications@github.com> wrote:

[2016-09-08 01:01] pwittrock commented on #20504
@wojtek-t @lavalamp I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:01] pwittrock commented on #21623
@justinsb I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:02] pwittrock commented on #23224
@mikedanese @piosz Please provide daily updates to this issue or move it to v1.4-nonblocking

[2016-09-08 01:03] pwittrock commented on #24030
@chrislovecnm @bprashanth  I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:03] pwittrock commented on #26202
@janetkuo Thanks Janet.  Please provide daily updates on this issue until it is closed.

[2016-09-08 01:05] pwittrock commented on #26791
@saad-ali  I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:06] pwittrock commented on #26791
@matchstick fyi

[2016-09-08 01:06] pwittrock commented on #27198
@smarterclayton @thockin @markturansky  I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:07] chrislovecnm commented on #24030
@pwittrock this is solid to go into 1.4, but I don't want to impede anything as well. Don't know quite how your process is handled when you are close to a release.

[2016-09-08 01:07] pwittrock commented on #27732
@thockin @bprashanth  I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:09] pwittrock commented on #28335
@quinton-hoole I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:09] chrislovecnm commented on #24030
@pwittrock let me add, my PR for C* and PetSet got a LGTM today. It is listed above, we should be able to close this now. I am going to move on to getting a chart done, and then we can access if we want to pull it out of examples and into only charts.

[2016-09-08 01:10] pwittrock commented on #28367
@matchstick @jeffvance I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:11] pwittrock commented on #28435
@david-mcmahon @jbeda @alex-mohr  I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here, move it back and provide daily updates to this issue.

[2016-09-08 01:12] pwittrock commented on #28496
@soltysh @csimplestring @janetkuo   I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here that should be tracked in the weekly burndown meetings, move it back and provide daily updates to this issue.

[2016-09-08 01:13] pwittrock commented on #28497
@MrHohn @thockin @crunchie84 @girishkalele

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:16] pwittrock commented on #28615
@madhusudancs

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:17] pwittrock commented on #28615
@quinton-hoole fyi

[2016-09-08 01:18] pwittrock commented on #28648
@MrHohn @thockin @girishkalele @matchstick

I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here that should be tracked in the weekly burndown meetings, move it back and provide daily updates to this issue.

[2016-09-08 01:19] pwittrock commented on #28812
@quinton-hoole @madhusudancs @ixdy

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:20] quinton-hoole commented on #28615
Thanks @pwittrock .  Yes @madhusudancs has this in hand.  There's a resource leak in the test, for which there is a fairly straightforward fix.  It's not caused by a bug in the control plane.  It need not be a blocker.  Dropping to P1, although we'll probably have the fix merged in the next few days.

[2016-09-08 01:21] asalkeld commented on #32167
I believe you should be using the `path` attribute to specify the subdirectory not monitors.

something like this (not tested):
[code]

See:  https://blog.lsd25.net/index.php/2016/02/19/cephfs-volume-support-for-kubernetes-part-2/

[2016-09-08 01:23] pwittrock commented on #29023
@davidopp @piosz

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:23] pwittrock commented on #29324
@justinsb @jingxu97 @saad-ali

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:24] pwittrock commented on #29331
@quinton-hoole @madhusudancs

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:24] pwittrock commented on #29335
@quinton-hoole @madhusudancs

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:25] pwittrock commented on #29336
@quinton-hoole @nikhiljindal @mwielgus

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:26] pwittrock commented on #29337
@quinton-hoole @nikhiljindal

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:26] pwittrock commented on #29339
@quinton-hoole @mwielgus

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:28] pwittrock commented on #29633
@thockin @saad-ali @dchen1107 @pmorie @childsb

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:29] pwittrock commented on #29739
@mwielgus @jszczepkowski @piosz

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:44] madhusudancs commented on #28812
@pwittrock The relevant code is merged. There is only documentation work left and I am keeping this open as a reminder. How would you like us to track this?

[2016-09-08 01:46] HardySimpson commented on #24246
hi, all, I have a idea about the interface

This is the interface now

[code]

if we turn the slice of node to a channel, then we can both achieve the goal of parallelization and simple implementation

[code]

[2016-09-08 01:47] nikhiljindal commented on #29337
Fixed by https://github.com/kubernetes/kubernetes/pull/31655

[2016-09-08 01:47] #29337 closed

[2016-09-08 01:50] pwittrock commented on #29904
@mikedanese @alex-mohr Can you comment on if this is a release blocker or who owns hyperkube?  This seems like it might be a big deal, but I don't know enough about HK.

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in

[2016-09-08 01:54] pwittrock commented on #30175
@ixdy @girishkalele

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:55] pwittrock commented on #30543
@quinton-hoole @nikhiljindal @colhom

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:56] pwittrock commented on #30706
@justinsb @dchen1107

I am leaving this in the 1.4 release as a blocking issue.  Please continue to provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:56] pwittrock commented on #30762
@gmarek

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:56] pwittrock commented on #30762
@fgrzadkowski @davidopp @wojtek-t

[2016-09-08 01:57] pwittrock commented on #30930
I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:58] pwittrock commented on #31160
@asalkeld @derekwaynecarr @smarterclayton

I am moving this out of the blocking issues we are tracking for the 1.4 release because the unfinished pieces are non-blockers for the release and do not need to be tracked in the burndown meetings.  If there are components besides docs & tests that need to be completed, please move it back to the 1.4 milestone and provide daily status updates.

[2016-09-08 01:58] pwittrock commented on #31180
@quinton-hoole

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 01:59] pwittrock commented on #31184
@quinton-hoole @bprashanth

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 02:01] bprashanth commented on #31184
Defer to Quinton, haven't been following the work here too closely. The options we discussed for AWS are not in scope for 1.4 (hence the title).

[2016-09-08 02:03] mikedanese commented on #29904
It's owned by no one and everyone but we've had a bunch of problems with it recently. This shouldn't block v1.4 because no one is working on it.

[2016-09-08 02:04] justinsb commented on #30706
I can probably take this as assigned to me.  I don't think it should block the whole k8s release, but it is a pretty serious issue for AWS and I want to get it resolved for 1.4.

I'm planning on taking a look at the kernel you are running in GCI and trying to figure out how many patches you are carrying (any links greatly appreciated).  My concern is that if we ship an image with our own kernel, w

[2016-09-08 02:05] mikedanese commented on #30672
Noo..... 👎

[2016-09-08 02:15] joonas commented on #32153
I got access to a regular cluster hosted on VMs running 1.3.4 and I was also able to confirm that this behavior works as documented:

[code]

Using the examples posted here:
[code]

Modifying `debug-pod.yml` to update `command: ["sleep", "9999"]` and running against that:
[code]

Looks like this was a false alarm on my end, sorry about that.

[2016-09-08 02:16] lufeng4828 commented on #32184
thx!

[2016-09-08 02:30] bprashanth opened #32253 "Etcd3 -> etcd 2 rollback: etcd crashes"
Noticed fiddling with live cluster. etcd datadir and controller/apiserver logs:
https://console.cloud.google.com/storage/browser/devnul/etcd-crash

Etcd logs are full of:
[code]

@kubernetes/sig-scalability @wojtek-t
we probably at least want to triage for 1.4 so marking as p0.

[2016-09-08 02:54] smarterclayton commented on #31943
I think we should disable this code until we can fix the issues.  The
warning isn't so incredibly valuable that it can't be enabled on top of
@juanvallejo's changes to filtering.

On Wed, Sep 7, 2016 at 7:14 PM, Janet Kuo <notifications@github.com> wrote:

[2016-09-08 02:55] smarterclayton commented on #32009
Not until we know what the actual error underneath was.  Probably some sort of transient from the server.

[2016-09-08 03:38] saad-ali commented on #32153
No worries. Resolving as no repro.

[2016-09-08 03:38] #32153 closed

[2016-09-08 03:51] bprashanth opened #32255 "Etcd path for ingress changed in 1.4"
On a 1.3.6 master:
[code]

But on a 1.4 master:
[code]

Obviously this will cause upgrade issues.
@kubernetes/sig-api-machinery ideas? If not I will debug tomorrow.

[2016-09-08 03:56] m1093782566 commented on #9043
/subscribe

[2016-09-08 04:01] quinton-hoole commented on #31184
Yup, the PR for this should merge tomorrow.

On Sep 7, 2016 7:01 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-09-08 04:03] quinton-hoole commented on #31180
Yup, the PR for this should merge tomorrow. Today @mwieglus tracked down
and fixed the bug in our fake test framework that has been holding it up.

On Sep 7, 2016 6:59 PM, "Phillip Wittrock" <notifications@github.com> wrote:

[2016-09-08 04:05] #31723 closed

[2016-09-08 04:06] saad-ali commented on #29324
PR https://github.com/kubernetes/kubernetes/pull/32242 is out to fix this.

Status: PR under review

[2016-09-08 04:09] saad-ali commented on #29633
I am going to move this out of the 1.4 milestone. It is not a release blocking issue.

[2016-09-08 04:12] saad-ali commented on #29324
Downsides are that volumes can be stranded on a node if kubelet on that node goes down (other node can't attach volume until it is detached from the first node).

[2016-09-08 04:13] pwittrock commented on #28812
move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 04:14] saad-ali commented on #21623
@justinsb ok with punting this to 1.5?

[2016-09-08 04:16] saad-ali commented on #26791
Removing milestone.

[2016-09-08 04:17] saad-ali commented on #27732
Removing 1.4 milestone. @bprashanth holla if you disagree

[2016-09-08 04:18] saad-ali commented on #28367
Moving to 1.5 milestone in which @kubernetes/sig-storage plans to add lots of tests.

[2016-09-08 04:19] saad-ali commented on #30930
Closed with PR https://github.com/kubernetes/kubernetes/pull/31034

[2016-09-08 04:19] #30930 closed

[2016-09-08 04:20] saad-ali commented on #27198
Moving out of 1.4 milestone

[2016-09-08 04:23] saad-ali commented on #28264
Closing: this test has been split into two other tests.

[2016-09-08 04:23] #28264 closed

[2016-09-08 04:24] madhusudancs commented on #28812
@pwittrock Ok, thanks!

[2016-09-08 04:24] asalkeld commented on #2824
Can we close this issue (Fedora is now up to 24 and the docs seem to have --api-server)
see: http://kubernetes.io/docs/getting-started-guides/fedora/fedora_manual_config/

[2016-09-08 04:28] pwittrock commented on #24030
@chrislovecnm I now have to focus on issues that are putting the release at real risk and cannot focus on anything non-critical to shipping 1.4 in just over 1 week.

[2016-09-08 04:29] k8s-merge-robot opened #32256 "kubernetes-e2e-gce-slow: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/9232/

Run so broken it didn't make JUnit output!

[2016-09-08 04:39] justinsb commented on #21623
Absolutely ... moved to 1.5

[2016-09-08 04:47] cloudtrov commented on #2824
Yes, please. The document seems to cover the steps.

[2016-09-08 04:49] quinton-hoole commented on #30543
Yup, that's fine. The AWS stuff got mostly sorted out today, and we know
that GKE works due to manual testing.

On Sep 7, 2016 6:56 PM, "Phillip Wittrock" <notifications@github.com> wrote:

[2016-09-08 04:52] quinton-hoole commented on #29339
This is fixed. Will cross-reference the PR tomorrow.

On Sep 7, 2016 6:27 PM, "Phillip Wittrock" <notifications@github.com> wrote:

[2016-09-08 05:09] k8s-merge-robot opened #32257 "[k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-gce-scale/1396/

Failed: [k8s.io] Load capacity [Feature:Performance] should be able to handle 30 pods per node {Kubernetes e2e suite}

[code]

Previous issues for this test: #26544 #26938 #27595 #30146 #30469 #31374 #31427 #31433 #31589 #31981

[2016-09-08 05:11] pwittrock commented on #31152
@mwielgus

I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here that should be tracked in the weekly burndown meetings, move it back and provide daily updates to this issue.

[2016-09-08 05:12] pwittrock commented on #31674
@quinton-hoole

I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here that should be tracked in the weekly burndown meetings, move it back and provide daily updates to this issue.

[2016-09-08 05:13] pwittrock commented on #31728
@lavalamp @bprashanth

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 05:13] Kashomon commented on #30672
/sadpanda

[2016-09-08 05:16] pwittrock commented on #31812
@mml

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 05:17] pwittrock commented on #32014
@quinton-hoole

I am moving this out of the blocking issues we are tracking for the 1.4 release.  If there is still 1.4 work to be done here that should be tracked in the weekly burndown meetings, move it back and provide daily updates to this issue.

[2016-09-08 05:18] Kashomon commented on #30672
It looks like the problematic code didn't get removed =(

[code]

I opened a new issue: https://github.com/pires/hazelcast-kubernetes-bootstrapper/issues/10

[2016-09-08 05:19] Kashomon commented on #30672
Here's a link to the line:

https://github.com/pires/hazelcast-kubernetes-bootstrapper/blob/master/src/main/java/com/github/pires/hazelcast/HazelcastDiscoveryController.java#L155

[2016-09-08 05:20] pwittrock commented on #31649
@girishkalele

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 05:20] pwittrock commented on #31757
@girishkalele

I am leaving this in the 1.4 release as a blocking issue.  Please provide daily status updates to this issue or move it out of the release and into v1.4-nonblocking where it will no longer be tracked as a release blocking issue in the burndown meetings.

[2016-09-08 05:22] pwittrock commented on #26202
@erictune I do not have the capacity to follow up on this.  Please make sure Janet has whatever she needs to make sure this is fully resolved by the end of this week.

[2016-09-08 05:38] joeblackwaslike commented on #28497
I also had a similar problem with dns but eventually realized it only happened with udp packets.  I did some packet captures and it was an ip-masquerading issue.

I was using flannel (older version from when i first installed kubernetes) and decided to look through some of the issues on the github and noticed alot of people with the exact same packet captures and also compared iptables rules with

[2016-09-08 05:38] piosz commented on #23224
The change is too risky IMO, so moving out of 1.4

[2016-09-08 05:45] liggitt commented on #32255
https://github.com/kubernetes/kubernetes/pull/29557 defaults to using the resource name as the prefix, but ingresses was using a singular form. fix in https://github.com/kubernetes/kubernetes/pull/32258

[2016-09-08 06:01] chrislovecnm commented on #24030
@pwittrock hence the comment about not wanting to impede anything ...  Yay, release time, pass me the caffeine please.

[2016-09-08 06:37] wojtek-t commented on #24246
@HardySimpson - your proposal won't solve the problem of equivalence classes that we are facing there - see https://github.com/kubernetes/kubernetes/pull/31605#discussion_r76994422

The other counter argument for that is that channels introduce some overhead - I did some simple experiments few months ago around that (I also though about it), and it was visibly slower.

[2016-09-08 06:38] wojtek-t commented on #32253
@hongchaodeng @xiang90 - seems like a problem with etcd itself.; can you please take a look?

[2016-09-08 06:40] xiang90 commented on #32253
This is a out of date version of etcd. We fixed quite a few WAL related issues since 2.2. Probably we should upgrade it to 2.3.7 at least.

[2016-09-08 06:42] jimmycuadra commented on #25379
Would a maintainer please bring a Kubernetes developer who can answer this into the conversation? Not having a way to restart the kube-system components to pick up TLS credential changes is a blocking issue for my team to roll out Kubernetes in production. Thanks!

[2016-09-08 06:43] wojtek-t commented on #32253
Hmm this is strange. I think that we are already using 3.0.4 release now.

@bprashanth - where exactly does those logs come from?

[2016-09-08 06:46] derekwaynecarr commented on #31501
I need to get back to the reporter to know how their devicemapper was
setup.  I hope to have something this week if there is a real issue.

On Wednesday, September 7, 2016, Tim St. Clair <notifications@github.com>
wrote:

[2016-09-08 06:46] k8s-merge-robot opened #32260 "[k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/2221/

Failed: [k8s.io] Rescheduler [Serial] should ensure that critical pod is scheduled in case there is no resources available {Kubernetes e2e suite}

[code]

Previous issues for this test: #31277 #31347 #31710

[2016-09-08 07:05] Pensu opened #32263 "--is-up says cluster is up, but --test says e2e cluster is not up!"
Hi all,

I am trying to run e2e tests on ppc64le. I have setup a local cluster that is up and running. When I try to run e2e tests, using --is-up, here is the issue I am getting:

[code]

But when I want to run test, using --test, it gives me an error that cluster is not up:

[code]

Any idea what is the issue here? Or where should I look to debug?