[2015-04-01 18:28] lavalamp commented on #5629
Looking at the logs further down in the thread...

It's also possible that apiserver's proxy is incorrectly waiting for something that's not answering; if so that'd be a totally different issue from apiserver crashing and nginx bad gatewaying, even though the symptom would be similar.

[2015-04-01 18:31] erictune commented on #6280
We want people to be able to build extensions to kubernetes that affect the lifecycles of pods and nodes. Those extensions need to send their own events about what they are doing with pods and nodes, etc.   We want people to be able to add extensions without having to  modify the apiserver itself.
Therefore, event generation needs to be in the responsible components.

[2015-04-01 18:43] preillyme commented on #1319
I'll work on this with @ddysher so that we don't duplicate the work.

[2015-04-01 18:43] bgrant0607 commented on #6213
cc @timothysc in case he has other suggestions

[2015-04-01 18:44] AntonioMeireles commented on #6229
fwiw added GoogleCloudPlatform/kubernetes#6301 to *complement* already merged PRs...

[2015-04-01 18:47] erictune commented on #6280
Also, reliably logging status changes sounds nice, but a lot of us thing it is not a good idea.  Our experience has been that components in a distributed system need to be "level-triggered", not "edge-triggered".  In other words, they need to act on the current state, not on state changes.   Trying to generate events for edges would encourage what we think is a bad practice.

It isn't practical to

[2015-04-01 18:48] bgrant0607 commented on #6059
cc @timothysc

[2015-04-01 18:56] roberthbailey commented on #3696
The Go tests now appear to have the same reliability as the shell test, so I'm going to remove liveness.sh.

[2015-04-01 19:11] dchen1107 commented on #6059
cc/ @timothysc, @rrati (I don't know Jay's github account name. Please forward this to him)

This is the related performance issue I mentioned over our hangout. I suspect the issue related to watcher, but haven't completely identify the root cause is etcd server itself or the way we use watcher yet.

[2015-04-01 19:18] dchen1107 commented on #3124
@timothysc  @rrati (please cc Jay too) Thanks for looking into Kubernetes performance related issue. You can use this issue to dump the information you guys collected recently.

[2015-04-01 19:24] dchen1107 commented on #6294
@timothysc @rrati

This might be the test failure you mentioned over hangout. The detail information can be found at:
https://github.com/GoogleCloudPlatform/kubernetes/issues/5629#issuecomment-88374468

The issue is fixed this morning. Thanks!

[2015-04-01 19:31] a-robinson commented on #6162
Sounds good to me.

[2015-04-01 19:35] timothysc opened #6306 "Apiserver <> Node status update response time"
When inspecting the messages sent on a single node status update, it appears to perform the following sequence:

Get Node<>apiserver<>etcd
Put Node<>apiserver, Get apiserver<>etcd, Put apiserver<>etcd

This total response time ~.1 seconds per update, which results in a couple of questions, but the most prominent one is: "Why are there excessive gets, if it's an update, why not just a 'Put' through

[2015-04-01 19:52] smarterclayton commented on #6291
I'm confused - for a run-forever pod, why would it get mark failed and why wouldn't the replication controller back off?  This has changed from previous behavior if so.

[2015-04-01 19:55] abonas commented on #6145
@bgrant0607 ?

[2015-04-01 19:58] #6229 closed

[2015-04-01 20:00] davidopp commented on #3124
@wojtek-t @fgrzadkowski

[2015-04-01 20:03] smarterclayton commented on #6059
@wojtek-t yes - we should probably support it in generic etcd.go  However, that means that we will have to field name conversions defined for those objects, and we should be using "metadata.name" internally.

[2015-04-01 20:03] jayunit100 commented on #6059
@dchen1107 hi mine is jayunit100 ! :)

[2015-04-01 20:05] lavalamp commented on #6059
I'm going to try and reproduce @wojtek-t's result in a test.

[2015-04-01 20:18] yujuhong commented on #6302
`kubectl describe pod <pod_name>` should show you the events associated with the pod. Are you suggesting we display events in the output of `get pods`?

I was thinking about maybe we could display the last event in a compact form in the output of `get pods`

[2015-04-01 20:21] bprashanth commented on #6302
the problem was i knew how to get events, they didn't

[2015-04-01 20:25] bprashanth commented on #6291
RestartPolicy should be honored. I didn't see a mention of RestartPolicy=Never in the initial report, is that what's happening? I believe the default policy is restart always for pods created through an rc (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L910).

[2015-04-01 20:29] erictune commented on #2203
@preillyme mentioned a need for audit logging in his work.

 I think most of the audit log handling should be external to the apiserver, so that various system integrators can build their own solutions.  But there needs to be a minimal API in the apiserver.  I will write up some more thoughts in a separate issue or PR.

@smarterclayton @derekwaynecarr @pmorie  can one of you point anyone at Red Ha

[2015-04-01 20:33] baldwinSPC commented on #4933
@derekwaynecarr I'm seeing this issue still running the following version:

Client Version: version.Info{Major:"0", Minor:"11+", GitVersion:"v0.11.0-dirty", GitCommit:"18ddff0eb6bc069b41832ce47d19b5b89cfb26e3", GitTreeState:"dirty"}
Server Version: version.Info{Major:"0", Minor:"11+", GitVersion:"v0.11.0-dirty", GitCommit:"18ddff0eb6bc069b41832ce47d19b5b89cfb26e3", GitTreeState:"dirty"}

I create

[2015-04-01 20:35] bprashanth commented on #6306
The apiserver needs to get the `current` version of the resource and compare it with the update for validation. You can expect to see additional gets on an update if something else is updating the same resource at the same time (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper.go#L317). there might still be some sort of excessive getting involved though, ive only

[2015-04-01 20:37] yujuhong commented on #6291
Replication controller only work with RestartPolicy=Always pods.

There is one scenario where the pod status may be failed even though the restart policy is always -- when kubelet explicitly rejects the pod.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1595

[2015-04-01 20:37] timothysc commented on #6306
I saw similar patterns on all PUTS, but it still seems excessive imho.

[2015-04-01 20:48] bprashanth commented on #6289
Oh, you're probably right then, lets send this over to someone who actually knows events for triage @saad-ali

[2015-04-01 20:54] bprashanth commented on #6306
validation (the update could contain total garbage) and retries (which would have to happen on the client otherwise, because we use optimistic concurrency https://github.com/GoogleCloudPlatform/kubernetes/blob/c9ad322ba97e448ddb462951821ab96c43ac6a96/docs/api-conventions.md#concurrency-control-and-consistency).

[2015-04-01 20:56] jlowdermilk opened #6308 "Clusters launched with kube-up.sh should generate .kubeconfig"
regardless of provider used. `cluster/common.sh` has utility functions to generate/clear kubeconfig; they should be used by all providers under `cluster/`.

also, said scripts should check for existing KUBECONFIG env var, so you can control which file is written to (e.g. for running multiple kube-up scripts in parallel on different providers).

[2015-04-01 20:57] simon3z commented on #6280
@erictune I don't want to take away the ability for components to record events. On the contrary I want people to create components and not care about recording the most trivial events. For example if you're writing a component that is changing the Node status to not-ready or not-schedulable I don't want your component to be responsible to also record events about that but I want apiserver to auto

[2015-04-01 21:05] smarterclayton commented on #6291
James, do you have the json/yaml for the replication controller that was creating the pods?

----- Original Message -----

[2015-04-01 21:11] erictune commented on #6280
Watches do use "edge-triggered" as an optimization, but any watch client also has to be able to tolerate a drops in to the watch connection.  When a drop happens, the client may have missed events, and has to restart from just the current states ("levels").  To encourage people to think about this, we enforce frequent resets.

[2015-04-01 21:14] roman-shuhov opened #6311 "Unable connect to any pod from master"
Hi,

I'm trying to setup Kubernetes in Openstack + CoreOS.

I have master 10.240.63.84 and 2 minions .63 and .83. I also created 3 redis pods:

    redis-gopher-gziey        10.244.32.2     10.240.63.66/10.240.63.66
    redis-managed-oh43e   10.244.32.3     10.240.63.66/10.240.63.66
    redis-primary-fplln          10.244.54.2     10.240.63.83/10.240.63.83

master's routing table looks like:

[2015-04-01 21:17] bgrant0607 commented on #4933
@baldwinSPC Could you please try a more recent version of kubectl? I'm not sure 0.11 was new enough (and we aborted that release).

[2015-04-01 21:21] timothysc commented on #6306
The referenced document makes sense for multiple writers, but in the case of node-status there should be only one, and you could probably say the same thing for pod-status.

[2015-04-01 21:29] bgrant0607 commented on #6145
omitempty should imply optional, but the types may be used in more than one context, and I could also believe that it isn't used correctly in many places. Though a number of fields may be filled in automatically, I can't think of a good reason for metadata to be completely absent from a top-level object. Either name or generateName needs to be provided.

Don't look at pkg/api/types.go. That should

[2015-04-01 21:29] bprashanth commented on #6291
The rc can only *create* a pod with restartpolicy=always, it will manage pods with restart=never because it checks selectors and nothing else. So if you have:
* rc:
  - replicas: 1
  - selectors: foo
* pod1:
  - restartpolicy: Always
  - labels: foo

and you create:
* pod2:
  - restartpolicy: Never
  - labels: foo

And the rc picks pod1 to kill, and pod2 dies, a new pod will be created with `Resta

[2015-04-01 21:30] timothysc commented on #5650
https://github.com/GoogleCloudPlatform/kubernetes/issues/5650

[2015-04-01 21:35] simon3z commented on #6289
@bprashanth @saad-ali fix is here: https://github.com/GoogleCloudPlatform/kubernetes/pull/6290

[2015-04-01 21:45] smarterclayton commented on #6291
I think what I'm getting at though is that creating a process that fails to start doesn't sound like Failed (failed was very specific, meaning that it's been rejected).  I don't think that's the case yujuhong was describing here.  So I wouldn't expect a pod process that dies unexpectedly to trigger Failed in a way that schedules new pods.  I know whether a "Never" pod was involved or not.

[2015-04-01 21:48] dchen1107 commented on #3124
cc/ @jayunit100

[2015-04-01 22:09] davidopp commented on #6306
@wojtek-t @fgrzadkowski

[2015-04-01 22:14] brendandburns commented on #6102
I'm taking this over from @ArtfulCoder ...  This will also include the version update to make websockets work for us.

[2015-04-01 22:18] bprashanth commented on #6306
I should clarify. There's a base case of  2 Gets:
1. In the node controller, because you need to send a node object with the right resource version for the update to succeed (regardless of probability we're still not guaranteed to be the only ones updating the node at some point, even kubectl could update it, so we need the current resource versoin).
2. For validation

On top of this, *if* somethi

[2015-04-01 22:20] ArtfulCoder commented on #6102
Thanks Brendan!
You can use the net=host feature for this one.

[2015-04-01 22:24] dchen1107 commented on #6306
cc/ me

[2015-04-01 22:24] bprashanth commented on #6291
Ah, then it's a 'pod shouldn't be in failed' bug. The contract of the rc is that it will restart failed pods that have matching selectors, changing this doesn't make sense to me. @rawlingsj if you can provide more info about the pods failure mode please reopen (and re-title).

[2015-04-01 22:37] smarterclayton commented on #6291
The only criteria I was aware of for a RestartAlways pod being in failed was kubelet rejected.  Are you saying that's not the case?

[2015-04-01 22:49] a-robinson commented on #6078
Closing, since this is covered by other issues.

[2015-04-01 22:49] #6078 closed

[2015-04-01 22:55] bprashanth commented on #6291
That sounds like what the bug is about, from my somewhat limited comprehension of https://github.com/GoogleCloudPlatform/kubernetes/issues/6291#issuecomment-88522471 at least.

[2015-04-01 23:00] baldwinSPC commented on #4933
@bgrant0607

running:

Client Version: version.Info{Major:"0", Minor:"13", GitVersion:"v0.13.0", GitCommit:"8d8b9b9a782a9079e6d91ba0e81d4c10e8445941", GitTreeState:"clean"}
Server Version: version.Info{Major:"0", Minor:"13", GitVersion:"v0.13.0", GitCommit:"8d8b9b9a782a9079e6d91ba0e81d4c10e8445941", GitTreeState:"clean"}

seeing this now:

[code]

[2015-04-01 23:07] thockin commented on #5907
The description does say "cannot be updated".

[2015-04-01 23:07] #5907 closed

[2015-04-01 23:12] dchen1107 opened #6321 "Propagate docker creation failure as containerStatus"
Kubelet current only populate create failure as events, not in ContainerStatus. We should propagate such failures through ContainerStatus. Before PodStatus is polling by master, and there is no way to obtain those failure except scanning docker.log. Now Kubelet directly post PodStatus, which makes capturing such failures much easier.

[2015-04-01 23:25] yujuhong commented on #6047
Yes, they export /healthz, and you can check via the apiserver /validate endpoint. E.g.,
[code]

[2015-04-01 23:26] erictune commented on #6186
#6190 is merged.

@justinsb The thing you said in you said in your original post should now work.  Interested to hear feedback on if it works and any friction.

[2015-04-01 23:30] derekwaynecarr commented on #4933
Phase went in before the finalizers did.

You will only see a finalizer field on newly created namespaces.

I will track down what version had the change needed.

Note: there was a period last week where namespace termination did not work right ( it would always stay in terminating state).  That was fixed today in this PR:

https://github.com/GoogleCloudPlatform/kubernetes/pull/6246

Sent from my

[2015-04-01 23:37] nikhiljindal opened #6324 "kubectl --validate broken"
I tried running
```$kubectl create rc -f cluster/addons/cluster-monitoring/heapster-controller.yaml --validate``` and got the following error:
```create.go:50] Client error processing command: json: cannot unmarshal array into Go value of type swagger.Item```

[2015-04-01 23:54] preillyme commented on #6213
+1

[2015-04-02 00:12] bgrant0607 commented on #4187
JSON style guide:
https://google-styleguide.googlecode.com/svn/trunk/jsoncstyleguide.xml

[2015-04-02 00:13] a-robinson opened #6328 "download-or-bust is choosing to bust when it should be retrying"
In GCE's cluster initialization code, [curl](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L109) returning an error code will cause the script to exit due to us setting "set -o errexit".

I'll change this to catch the errors and actually retry.

[2015-04-02 00:14] lavalamp commented on #6059
Still working on this test-- have found a data race so far but I think that's unrelated.

[2015-04-02 00:22] bgrant0607 commented on #5907
So it does.

[2015-04-02 00:25] bprashanth commented on #6059
@wojtek-t fyi literally this for nodes: https://github.com/GoogleCloudPlatform/kubernetes/pull/5971/commits

[2015-04-02 00:38] lavalamp commented on #6059
OK so I have a test that at least demonstrates some sort of bug (#6257, second commit). If I watch a bunch of pods, make unrelated changes to events, then make changes to the pods, it works as expected (usually). If however, the unrelated changes are made to pods, somehow I get an etcd error 401.

My working theory for how this happens is that the apiserver's filtering step is too slow processing

[2015-04-02 00:46] a-robinson commented on #6328
Fixed by #6332.

[2015-04-02 00:46] #6328 closed

[2015-04-02 00:50] lavalamp commented on #6059
@wojtek-t I think we're in different time zones so I'm not going to steal this issue from you. Also headed home for the day.

I think next step is to figure out the apiserver path from watch pods to etcd (might be this, need to check: https://github.com/GoogleCloudPlatform/kubernetes/blob/0902ffd70ebb1c909557761c101b61e0943f521b/pkg/registry/generic/etcd/etcd.go#L419) and figure out what's going o

[2015-04-02 00:57] hurf commented on #5907
@thockin @bgrant0607 - Sorry for the description mentioned "can not be updated" and not expressed myself clearly.

What I want to say is when I'm creating the pod, I didn't provide the `portalIP` in the template. But when I want to update the pod, I'm not going to change `portalIP` and it is not allowed to change it, why should I address it explicitly? I just feel inconvenient about this.

Anyway

[2015-04-02 00:57] bprashanth commented on #6059
you're right, and it does the filtering through a predicate function: https://github.com/GoogleCloudPlatform/kubernetes/blob/0902ffd70ebb1c909557761c101b61e0943f521b/pkg/registry/pod/etcd/etcd.go#L57

It would be nice to know the ratio of etcd updates that result in a watch event from the apiserver (so times when that match function returns true) : updates that don't. There's also decorator time,

[2015-04-02 01:13] xiang90 commented on #6059
@lavalamp We do have plan to totally solve the "1000" problem in v3 api (repeatable read, keep all histories until user compaction, watch progress notification). For v2, we can mitigate the problem if you need by increasing the window to another order (10K).

[2015-04-02 01:29] bgrant0607 commented on #5907
@hurf I understand. The solution underway is #1702.

[2015-04-02 01:38] bgrant0607 commented on #4933
@smarterclayton @thockin @lavalamp @vishh Example problem due to decode/encode in the client (#3955).

[2015-04-02 01:38] bgrant0607 commented on #3955
cc @vishh

[2015-04-02 01:52] kylelemons opened #6336 "pods with GCEPersistentDisk cannot be restarted"
Apologies if this is already fixed; I'm managing my cluster purely with `gcloud preview container kubectl` for the moment.

[code]

The following replicationcontroller seems to work fine when set up from scratch:

[code]

If I `$kubectl delete pod -l name=ghost` the pod will be recreated, but will fail to schedule:

[code]

If I replace the persistentDisk with emptyDir, it will work and be restart

[2015-04-02 02:02] decker502 commented on #5747
I find the same as issue [#1233](https://github.com/GoogleCloudPlatform/kubernetes/issues/1233)

[2015-04-02 02:22] timothysc commented on #6059
@wojtek-t @dchen1107 - Yup we see the same characteristic behavior, the term we've coined in this scenario was "lumpiness" where operations will speed ahead then grind to a standstill.  We also see this during draining.

FWIW - We also noticed the large number of Node messages being passed around and their overall performance.  https://github.com/GoogleCloudPlatform/kubernetes/issues/6306   The la

[2015-04-02 02:35] bprashanth opened #6342 "Allow kubectl exec to proxy through docker exec"
Today I was trying to help someone debug a mysql service over irc. They didn't have nsenter so kubectl exec didn't work and we just dropped down to using docker exec. Doesn't this defeat the purpose of a unified interface? I feel like there must already be a dicsussion on this but wasn't able to find it.

[2015-04-02 02:40] bgrant0607 commented on #6342
cc @vishh @ncdc

[2015-04-02 02:40] timothysc commented on #6306
This particular use case of Node status updates, I see no reason why it should not be a single PUT.  I agree, that there may be other conditions where the extra checking makes sense, especially when there are multiple writers.

However, I think making a couple of tweaks could turn down the api-server noise and we are also probably safe to back off the frequency of the updates.

[2015-04-02 02:51] vishh commented on #6342
#3253 #3763 #5046

To summarize, the docker daemon is not expected to scale to lots of exec
connections. I am not sure if that statement is backed with some
performance testing data.

On Wed, Apr 1, 2015 at 7:40 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-02 02:51] timothysc commented on #3954
FWIW - We have noticed that scheduling appears to be markedly faster, but the overall cluster response curve is still lumpy and can timeout on different components.  It's possibly this is related to https://github.com/GoogleCloudPlatform/kubernetes/issues/6059 .

I think we are ok to close this specific issue out and tackle the others.

[2015-04-02 02:53] thockin-cc commented on #6342
Docker exec will be lower throughput, but might be an acceptable fallback..
On Apr 1, 2015 7:41 PM, "Brian Grant" <notifications@github.com> wrote:

[2015-04-02 03:20] bgrant0607 commented on #5993
ref #6284

[2015-04-02 03:28] bprashanth commented on #6342
Fwiw I like that option. They were running on bare metal and actually installed nsenter after the first kubectl exec failed, but it didn't work as expeted. After a little dubugging I realized `sudo nsenter` won't work beacuse of secure_path. Recommending changes to /etc/sudoers felt dirty. Maybe the kubelet should use the entire path to nsenter instead? dunno.

nsenter worked beautifully on my gce

[2015-04-02 03:37] bprashanth opened #6343 "Kubectl exec fails trying to upgrade to a spdy connection"
[code]

I didn't debug much further, instead I just got on the minion and ran nsenter by hand, which worked.

[2015-04-02 03:51] thockin commented on #6343
@ncdc

This was probably the too-old nginx problem.

On Wed, Apr 1, 2015 at 8:38 PM, Prashanth B <notifications@github.com>
wrote:

[2015-04-02 04:09] bgrant0607 commented on #5840
Already supported:
[code]

[2015-04-02 04:13] bgrant0607 commented on #5840
How are you separating distinct yaml objects?

[2015-04-02 04:24] bgrant0607 commented on #5840
Ok, works for json, but is broken for yaml. `---` and `...` don't appear to work.
@ghodss

[2015-04-02 04:28] bgrant0607 commented on #5840
Ah:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/Godeps/_workspace/src/gopkg.in/yaml.v2
  Multi-document unmarshalling is not yet implemented,

[2015-04-02 04:30] bgrant0607 commented on #5993
ref #5840

[2015-04-02 05:19] roberthbailey opened #6346 "make release times out"
After 6 minutes or so of using >50% my 4-core MBP CPU and chewing up a ton of memory, make release gives up with a timeout.

[code]

[2015-04-02 05:24] roberthbailey commented on #6346
This is on my master branch (no local changes) after rebasing to head this evening. It was working fine earlier today so #6196 seems like the likely culprit.

/cc @zmerlynn

[2015-04-02 05:28] bgrant0607 commented on #5762
--retry shouldn't be necessary. The client library should retry retry-able failures automatically.

[2015-04-02 05:31] bgrant0607 commented on #5993
ref #5756

[2015-04-02 05:35] vishh commented on #6342
As an aside, we should be using nsinit and not nsenter.

On Wed, Apr 1, 2015 at 8:28 PM, Prashanth B <notifications@github.com>
wrote:

[2015-04-02 05:36] zmerlynn commented on #6346
It's certainly my changes. I'm on a low function device, feel free to
revert.

This is only an issue for low memory systems, I suspect. :/
On Apr 1, 2015 10:24 PM, "Robert Bailey" <notifications@github.com> wrote:

[2015-04-02 05:37] zmerlynn commented on #6346
(This is functioning fine on Jenkins and my desktop, FWIW.)
On Apr 1, 2015 10:36 PM, "Zachary Loafman" <zml@google.com> wrote:

[2015-04-02 05:45] vishh opened #6347 "Support container resource limit updates"
There is an [outstanding Docker PR](https://github.com/docker/docker/pull/11442) to update container resource limits. Once this feature gets into docker, Kubernetes should support dynamically scaling container resource limits.

[2015-04-02 05:48] BlueShells opened #6348 "Update fedora installation docs"
First thing I used https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/fedora/fedora_manual_config.md

when I run "kubectl create -f node.json"

I get this
"F0402 13:41:04.433489   16900 create.go:50] Error: Node "fed-node" is invalid: [status.Capacity: required value, spec.ExternalID: required value]"

I think there something changed in the
{
  "id": "fed-nod

[2015-04-02 06:20] wojtek-t commented on #6059
@bprashanth thanks for pointing to this:
https://github.com/GoogleCloudPlatform/kubernetes/pull/5971/commits
I'm going to do the same for nodes

@lavalamp I've already walked through the path from watch pods to etcd yesterday - what I observed was related to etcd. However it was quite challenging because of huge amount of logs there and I might have missed it. Thus, I'm probably going to start wit

[2015-04-02 06:22] wojtek-t commented on #6306
cc/ me

[2015-04-02 06:26] wojtek-t commented on #3954
@timothysc Sure - I'm not saying that we're done as the whole e2e startup - there are definitely issues in different parts of the system. What I was saying is that I think that scheduling throughput (measure as the number of pods that it can schedule per second assuming that it's already aware of them) is probably satisfying for now

[2015-04-02 06:42] jsdir commented on #5360
I wasn't able to reproduce this issue from b3413ea.

[2015-04-02 09:14] wojtek-t commented on #6047
cc/ me

[2015-04-02 10:27] yawnt commented on #5871
how far away is v1?

[2015-04-02 10:51] wojtek-t commented on #5650
cc @fgrzadkowski

[2015-04-02 11:58] mattf commented on #6348
it looks like the fedora docs are stale in a few places.

re node is invalid - some parameters are missing from the json, but this step shouldn't be necessary. instead KUBELET_ADDRESSES=--machines=... should be added to the controller-manager config.

re etcd - it's config needs to be changed. /etc/etcd/etcd.conf needs ETCD_LISTEN_CLIENT_URLS="http://0.0.0.0:4001". alternatively on fed-master you

[2015-04-02 12:30] jszczepkowski commented on #6087
@mbforbes @roberthbailey @tkulczynski
Issue #5246 (Node Pod's IP ranges configured by nodecontroller) also seems to be a part of this issue.

[2015-04-02 12:36] jsafrane commented on #5659
Created PR #6350

Out of curiosity, how do I assign the PR to me? I don't see any button / gear in "Assignee" block.

[2015-04-02 13:03] ncdc commented on #6343
@thockin yes, that's what this is.

[2015-04-02 13:15] ncdc commented on #6342
@vishh do the GCE node VMs have nsinit installed? I know on Fedora it's in the `golang-github-docker-libcontainer` RPM. I'd have to check to see if that's available for centos and RHEL as well.

One nice thing about `nsenter` (as well as `docker exec`) is that it doesn't rely on the internals of libcontainer's container json files, which, IIRC, moved locations between Docker 1.5 and the upcoming 1

[2015-04-02 13:23] wojtek-t commented on #6059
@xiang90
@lavalamp I think your theory makes sense but it's completely different from what I observe in logs (so maybe there are two unrelated issues here). I've run the experiments one more time and got exactly the same result as yesterday (few times):

1. Internally, watch to etcd is translated into a chain of "request->response" http communication - for more details see:
https://github.com/Goog

[2015-04-02 13:33] ncdc commented on #5628
This test performs the following logic:

1. Test issues exec http get request to kubelet
1. Kubelet receives request
1. Kubelet sets idle timeout to 100ms
1. Kubelet waits up to 2 seconds for client to create necessary spdy streams (it will forcibly close the connection after 100ms of idleness)
1. Test tries to create a stream
1. Client waits up to 2 seconds for the server to acknowledge the strea

[2015-04-02 13:37] gmarek commented on #6073
IIUC this means we can't get rid of it easily. Do you think it's still worth doing?

[2015-04-02 13:39] gmarek commented on #6072
@justinsb PR solved this. Thanks!

[2015-04-02 13:52] fgrzadkowski opened #6351 ""too many open files" error in a large cluster"
When I run a density test in a large cluster I've noticed the following error in scheduler and kubelet:

E0402 13:42:04.335868    4061 errors.go:66] apiserver received an error that is not an api.Status: Put http://127.0.0.1:4001/v2/keys/registry/pods/default/my-hostname-density30-07ce55c0-d93e-11e4-8f0b-bc30
5be02f04mlp5u?prevExist=false: dial tcp 127.0.0.1:4001: too many open files

This could b

[2015-04-02 13:52] fgrzadkowski commented on #6351
cc @wojtek-t

[2015-04-02 13:53] fgrzadkowski commented on #6351
Since etcd is running now in a pod it has a limit for fd set to 1000000 (10e6) so I'll see if increasing this for apiserver helps.

[2015-04-02 13:54] fgrzadkowski commented on #5650
#6351 is tracking "too many open files" problem

[2015-04-02 14:07] ArtfulCoder commented on #6351
etcd is running in a pod since yesterday afternoon.
(It was introduced first on friday evening, rolledback on sunday, and reintroduced yesterday afternoon.)

Just FYI, to help co-relate timelines..

[2015-04-02 14:31] fgrzadkowski commented on #6351
I increased the limit for apiserver to 10e6 and started counting opened fd using a simple bash loop:

```while true; do echo `date` : `ls /proc/4048/fd | wc -l`; sleep 0.2; done```

where 4048 is a PID of apiserver. I haven't noticed any more "too many" errors in few consecutive runs of density test on 50 node cluster with 30 pods per node. At the same time I've noticed that number of opened fd re

[2015-04-02 14:36] wojtek-t commented on #5650
Another change that should significantly reduce the "read" load on etcd is #6349

[2015-04-02 14:46] wojtek-t commented on #6059
One more observation: to replicate the problem, I'm starting the test ~2.5 minutes after the watch was opened in the scheduler. If it's started within ~1.5 minutes after starting the watch (which is started every ~5 minutes) it usually works fine. This also suggests that isn't not related to the apiserver load, because it is processing the same amount of data no matter when it starts.

[2015-04-02 15:00] wojtek-t commented on #6053
As @fgrzadkowski suggested, this issue might be related to saturated network within a single machine (connections between etcd and apiserver). Decreasing the load on etcd from apiserver might help (e.g. #6349)

[2015-04-02 15:02] mattf commented on #6306
@timothysc is the issue that the api-server will need to scale to multiple write-active instances? in such a case etcd will not accept a PUT if it isn't updating the most recent version of the object. if you have a single apiserver is can cache the information stored in etcd and skip the GET, effectively treating etcd like a storage device.

[2015-04-02 15:03] bprashanth commented on #6348
@BlueShells please report back if @mattf s recommendation solves your problem

[2015-04-02 15:05] bprashanth commented on #6336
Are all your minions in the same zone as your PD?

[2015-04-02 15:06] xiang90 commented on #6059
@wojtek-t Can you try to isolate the problem? If you highly suspect it's an etcd issue, I can try to locate the problem. But I want to know roughly how can I simulate the case and reproduce it without k8s.

[2015-04-02 15:07] mfojtik opened #6354 "Add KUBERNETES_NAMESPACE variable to Pod containers"
If you want to make a REST calls from containers running in Pod to KUBERNETES_SERVICE, it would be handy to have the namespace that container is launched in available inside the container.

[2015-04-02 15:07] mfojtik commented on #6354
cc @derekwaynecarr

[2015-04-02 15:09] xiang90 commented on #6059
@wojtek-t
For example. how many keys? read/write rate besides watching? how many watchers? what is the watching distribution? what is the write rate that triggers watch?

[2015-04-02 15:16] dt-rush commented on #6282
The current changelog stops at 0.9... what's up with that?

[2015-04-02 15:23] wojtek-t commented on #6059
@xiang90:
In the "healthy situation" we have
- number of keys: 2000-3000
- for most of the time ~30 read and ~30 writes per second
- altogether 150-200 watchers
- assume that there is exactly one watcher that is interesting for us, and basically no writes trigger it
Then we start the real test:
- we start the test ~2.5 minutes after the watch was opened (this is important here and allows to replic

[2015-04-02 15:34] fgrzadkowski opened #6357 "Measure latency for client REST operations"
Currently we do not measure latency for REST operations. This is important for any component that performs non-watch operations (scheduler, controllers, kubelet). This is also prerequisite to actually make sure that all API calls take less than 1 sec ( #4521).

@wojtek-t

[2015-04-02 15:37] fgrzadkowski commented on #3954
@wojtek-t When I was running density test today I've observed that scheduler throughput was more like 2-3 pods per second. I think this is because writing bindings is slow, but I need to confirm this. Hopefully #6357 should help here.

[2015-04-02 15:43] thockin opened #6359 "update-swagger-spec.sh is not idempotent"
Running it repeatedly will produce different results.  Specifically I see

     "id": "v1beta3.Volume",
     "required": [
      "name",
+     "secret",
+     "nfs",
      "hostPath",
      "emptyDir",
      "gcePersistentDisk",
-     "gitRepo",
-     "secret",
-     "nfs"
+     "gitRepo"

The order of lines is chaging on each run.  Go map iteration problem?

This causes noise for anyone who wants

[2015-04-02 15:45] satnam6502 commented on #6359
Idempotency is not the property you want: it is determinism.

[2015-04-02 15:47] thockin commented on #6359
The pedant is right.  The code is still wrong :)

On Thu, Apr 2, 2015 at 8:45 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-04-02 15:49] pmorie commented on #6238
@jiangyauguo For the test image, you can follow the pattern for the network tester and entrypoint tester in `contrib/for-tests`

[2015-04-02 15:58] thockin commented on #6238
In general I dislike the solution of exposing the root dir, and prefer
answering the actual question: "get me the security context"

On Thu, Apr 2, 2015 at 8:49 AM, Paul Morie <notifications@github.com> wrote:

[2015-04-02 15:59] pmorie commented on #6238
@thockin Does this change your LGTM on my other pull?

[2015-04-02 16:01] thockin commented on #6238
LGTM was provisional on your intent to do it right Real Soon :) and remove
that Host method - did I misinterpret?

On Thu, Apr 2, 2015 at 8:59 AM, Paul Morie <notifications@github.com> wrote:

[2015-04-02 16:11] pmorie commented on #6238
@thockin yeah -- and honestly I would prefer that Real Soon was before it went in.  I'm going to sync up with @pweil- today and see if we can make a sketch that will grow into security contexts without having to change all the plumbing in that PR.

[2015-04-02 16:23] #6076 closed

[2015-04-02 16:28] lavalamp commented on #6059
@wojtek-t @bprashanth

I don't see how that can help. kubelet watches all pods that match a particular host. We have no index on that, so there's no way to make that watch only a single etcd resource.

Likewise scheduler watches all unassigned pods, and all assigned pods.

Plausibly the thing that would help is to reimplement watch inside apiserver and have only one outgoing watch to etcd (that wa

[2015-04-02 16:29] bgrant0607 opened #6363 "Communication between Kubernetes components"
Conversation started by @davidopp due to complexities arising from node-to-master communication (e.g., #6193, #6285, #6077, #6063, #6052, #5953).

Overall communication issues:
- performance, latency, scalability
- DoS
- RAW and WAW consistency
- clock skew / time synchronization
- true and false conflicts
- auth
- component discovery

I'll wait for @davidopp to fill in his proposal.

cc @erictune

[2015-04-02 16:32] xiang90 commented on #6059
@wojtek-t I am going to reproduce it today or tomorrow. I will let you the result.

[2015-04-02 16:35] gmarek commented on #6363
+1 to anything that will make the reasoning simple. Current state when multiple component can write exactly the same thing make reasoning about system semantics very hard (to put it lightly).

[2015-04-02 16:37] wojtek-t commented on #6059
@xiang90 thanks!

@lavalamp sorry I don't understand your response - for nodes it's totally different than for pods - for pods the answer whether it's assigned or not is based on some field inside pod. However for node it's based on it's name (which is translatable to key) so it's doable to filter it.

[2015-04-02 16:39] bgrant0607 commented on #6167
cc @brendandburns

[2015-04-02 16:39] bgrant0607 commented on #6167
Believed to be blocking swagger codegen.

[2015-04-02 16:41] mbforbes commented on #6087
Yes, definitely, thanks for linking here. #5246 is hopefully the last issue needed to make this possible; afterwards, @roberthbailey will be making it explicit and secure.

[2015-04-02 16:42] brendandburns opened #6364 "TestSyncProbedNodeStatusEvictPods is flaky..."
Shows as a data race, but actually, I think it's just racy (I mean there is a data race in the fake client, but it's a symptom, not the problem)
[code]

[2015-04-02 16:42] #6351 closed

[2015-04-02 16:46] wojtek-t commented on #6059
@xiang90 One more think that might be relevant to description of my experiment: those 30-40 writes per second are triggering ~50 watchers (each of those write trigger each of those watchers).

[2015-04-02 16:49] xiang90 commented on #6059
@wojtek-t Thanks for this detail.

[2015-04-02 16:51] lavalamp commented on #6059
@wojtek-t kubelets watch pods to determine which pods they ought to be running--that's the watch that is the limiting factor on pod performance. Kubelets also watch the node object, but that's just so they can post their status. So we were talking about different watches.

[2015-04-02 16:51] smarterclayton commented on #6363
cc @liggitt

[2015-04-02 16:53] bprashanth commented on #6059
@lavalamp with 50 nodes updating their status' every 2 seconds, it will reduce the kubelet<->apiserver traffic (and I don't see why it should watch all nodes anyway). I believe @wojtek-t was complaining that things were too noisy.

[2015-04-02 16:57] vmarmol commented on #6364
Dup of #6199, getting removed along with that code.

[2015-04-02 16:57] #6364 closed

[2015-04-02 17:08] bgrant0607 commented on #6363
And types of communication:

To node:
* Node/Kubelet configuration
* Pods to run and their desired states
* Services and endpoints
* Secrets
* Persistent volumes

From node:
* System info (software versions, etc.)
* Pod, container, and volume statuses
* Node heart beats (Kubelet alive)
* Node health status (docker working, disks ok, etc.)
* Resource usage (#4057)

[2015-04-02 17:09] davidopp commented on #6363
Thanks for filing the issue. Give me two seconds before you start discussing it, so that I can actually write it up. :)

[2015-04-02 17:10] bprashanth commented on #6311
@ArtfulCoder

[2015-04-02 17:11] wojtek-t commented on #6059
@lavalamp Yes - we are probably talking about different watches. I was talking about the second one. And it was introducing a huge churn in my 50-node cluster. But it should be fixed with #6349

[2015-04-02 17:21] dchen1107 commented on #6285
In this case, one NodeCondition to indicate if docker running happily on the node should be introduced. NodeController should change NodeStatus based on the NodeCondition.

[2015-04-02 17:21] zmerlynn commented on #6363
cc @zmerlynn, and I suspect @roberthbailey for SSLness

[2015-04-02 17:24] yujuhong commented on #6321
There are currently three defined container states.
[code]
We can return "Waiting" with the reason field set to the creation failure. @dchen1107, does that sound good to you?

[2015-04-02 17:26] #6346 closed

[2015-04-02 17:31] dchen1107 commented on #6321
We currently do return Waiting, but without proper reason, instead of something like "Waiting for container run". We should propagate whatever error docker throw to us to upper layer, so that they can decide what to do next.

In a long run, I wish docker can incorporate those creation error to docker inspect result. I remembered there was an issue against docker, but couldn't find it now. Will fil

[2015-04-02 17:40] a-robinson commented on #6357
The apiserver is already [instrumented with latency information](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/apiserver.go#L56), including for REST operations. You can scrape the metrics by hitting the /metrics HTTP endpoint.

[2015-04-02 17:44] alex-mohr commented on #5871
@yawnt we don't have an ETA for v1 yet.  See https://github.com/GoogleCloudPlatform/kubernetes/issues?q=is%3Aopen+is%3Aissue+milestone%3Av1.0 for the set of open issues for that milestone.

[2015-04-02 17:49] dchen1107 commented on #6321
My previous comment related to long run has problem. Yes, there is an issue against docker, but that is related to the failures cannot run docker container right after successful creation. When there is a creation failure, docker container object won't be created, and docker ps -a won't include such container in the list.

Back to the original issue, now Kubelet post PodStatus directly, we can do

[2015-04-02 17:52] smarterclayton commented on #6363
* Node bootstrap (distributing client certs to the nodes)

[2015-04-02 18:01] nikhiljindal commented on #6324
Working fine now. Might have been an issue with my setup.

[2015-04-02 18:01] #6324 closed

[2015-04-02 18:05] krousey opened #6371 "Phabricator example images in README.md doesn't match the json files"
A couple of places in the README refer to images prefixed with kubernetes, but they're actually prefixed with fgrzadkowski. Maybe create the kubernetes ones? Or change the README.

kubernetes/example-php-phabricator -> fgrzadowski/example-php-phabricator
kubernetes/example-cloudsql-authenticator -> fgrzadowski/example-cloudsql-authenticator

[2015-04-02 18:06] xiang90 commented on #6059
@wojtek-t I made a small tool at https://github.com/xiang90/etcdk8s-stress and tried to simulate the case you described.

I created a 3 member cluster with etcd 2.0.8.

let 200 watchers watching on `/stress`.
[code]

let 50 watchers watching on `/normal`
[code]

send 50 writes/second to trigger normal watchers
[code]

wait for 3 minutes

sends a lot of writes to trigger the stress watchers
I expec

[2015-04-02 18:12] quinton-hoole commented on #6059
We're running etcd 2.0.5.  Probably best to try and repro on the same version.

Q

[2015-04-02 18:14] xiang90 commented on #6059
@quinton-hoole There is no huge difference between 2.0.5 and 2.0.8 about this issue. But I will try later.

[2015-04-02 18:19] bprashanth commented on #6302
probably captured somewhere or the other

[2015-04-02 18:19] #6302 closed

[2015-04-02 18:40] wojtek-t commented on #6059
@xiang90: this seems very similar to our test. I will think tomorrow why this works (or why our setup doesn't work). Thanks a lot for making it!

[2015-04-02 18:46] bgrant0607 commented on #6363
* Cluster (master and node) upgrade

[2015-04-02 18:47] derekwaynecarr opened #6372 "Move to Kubelet on Master running Etcd in Pod broke Vagrant"
Self-assigning as I work out a reliable fix.

[2015-04-02 18:49] zmerlynn commented on #6372
cc @ArtfulCoder

[2015-04-02 18:49] bgrant0607 commented on #6363
* "Free range" nodes (no master), such as ContainerVM

[2015-04-02 18:50] derekwaynecarr commented on #6372
Running into a few issues.

On GCE, did you guys block somewhere to wait for etcd to be running before reporting success on kube-up?

[2015-04-02 18:52] dchen1107 commented on #6372
No, except there is a race between addson services, dns and etcd container. We introduced a retry logic on those services.

[2015-04-02 19:07] derekwaynecarr commented on #6372
I assume pulling the image is just so fast that you don't run into e2e errors, it looks like you guys block on wait-for-minions that uses glcloud, so I guess when minions are reported in etcd, then you know you are good...

[2015-04-02 19:24] kelseyhightower commented on #5962
@zmerlynn The more I think about it, I think that is the right thing to do out of the box. If users really want to share etcd clusters, they can make the configuration changes.

[2015-04-02 19:25] kelseyhightower commented on #6067
@roberthbailey Is this the case when running etcd2? I think we default to localhost across the board, but this may have more to do with the salt scripts.

[2015-04-02 19:28] vishh commented on #6342
I doubt that we are packaging an appropriate version of nsinit with GCE container VM images. That is something we can do. And yes nsinit will need access to the config file. cc @dchen1107
I have a more fundamental question- Isn't the kubelet likely to be a single point of failure with the current model?
How about we have the kubelet falling back to using `docker exec` if nsenter/nsinit isn't avail

[2015-04-02 19:33] ddysher commented on #6089
Closed by #6094

[2015-04-02 19:33] #6089 closed

[2015-04-02 19:36] ddysher commented on #6072
The problem is not solved.  Node addresses are stil not refreshed.  @justinsb 's solution is a workaround for newly added nodes.

[2015-04-02 19:38] xiang90 commented on #6059
@wojtek-t You can run the stress test on your env pretty easily too. I am happy to dig into this more.

[2015-04-02 19:47] ddysher commented on #6073
@davidopp  If I recall correctly, /nodeinfo endpoint is only used by nodecontroller now, the link is where kubelet expose the endpoint

@gmarek I don't expect much difficulty to remove it.  It's added here #5030 for node controller to fetch node info.  Once you remove the sync_status=true, it should be easy.

I'm not following the thread #2098, but @bgrant0607 are you suggesting we keep exposing n

[2015-04-02 19:49] ncdc commented on #6342
Yes, but we have plans to address this (#3481)

We can do that if everyone agrees. My initial implementation was just to get something working, and we chose nsenter for that.

[2015-04-02 19:54] dchen1107 commented on #6302
Here is a generic rule for our kubectl:

kubectl get resource includes the information from one resource. For example, kubectl get pods id only display the information from Pod object.

kubectl describe can include the information from various resources. For example, kubectl describe pods id includes the information from Pod object, and events.

[2015-04-02 19:59] dchen1107 commented on #6302
cc/ @brendandburns since he is looking into some kubectl related issues?

[2015-04-02 20:10] krousey opened #6376 "kubectl log indicates pod doesn't exist when it is actually pending"
kubectl log will state that the pod doesn't exist while the pod is in pending state. I think it would be better to indicate that there are no logs and that the pod is in pending state.

./cluster/kubectl.sh log authenticator-controller-boqdp
Running: ./cluster/../cluster/gce/../../cluster/../_output/dockerized/bin/linux/amd64/kubectl log authenticator-controller-boqdp
Pod "authenticator-controller

[2015-04-02 20:10] roberthbailey commented on #6067
@kelseyhightower Our salt config specifically sets the bind address for etcd2 to 0.0.0.0. But with etcd in a pod, we won't need to use salt to pass the command line flags any longer.

[2015-04-02 20:14] yujuhong commented on #6302
I was going to suggest adding a new column `latest event message` in the output of `get pods` to show the latest event. This would help with clarity but would violate the rule @dchen1107  pointed out.

[2015-04-02 20:14] kelseyhightower commented on #6067
@roberthbailey Ok. While it maybe obvious I'll just say it anyway. localhost in the pod is different from localhost on the host. So you might still need to set etcd2 to listen on 0.0.0.0 in the container if you are not using --net=host (docker). You'll also need to advertise the IP of the docker hosts for peer and client communication -- see: https://github.com/coreos/etcd/blob/master/Documentatio

[2015-04-02 20:16] #6165 closed

[2015-04-02 20:18] bgrant0607 commented on #6073
No, I was suggesting that the Kubelet expose the same Node API as the apiserver, just for that Kubelet.

[2015-04-02 20:18] ArtfulCoder commented on #6067
We are running etcd in a pod with net=host

I believe localhost would be the same as the underlying host.

Sent from my iPhone

[2015-04-02 20:19] bprashanth commented on #6302
Naive question, do we really need 2? If we're talking about less vs more, we could just use -v.

[2015-04-02 20:22] lavalamp commented on #6199
another example: https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/56938280

[2015-04-02 20:23] dchen1107 commented on #6342
ContainerVM does include nsinit, and the current version is 0.1

[code]

[2015-04-02 20:33] bgrant0607 commented on #6073
@davidopp @gmarek pkg/client/kubelet.go is the Kubelet client. Kubelet isn't using that, it's exporting that for the master.

[2015-04-02 20:38] kelseyhightower commented on #6067
@ArtfulCoder OK, that clears things up. Yeah just set to localhost then or use etcd2 defaults.

[2015-04-02 20:48] bgrant0607 commented on #5548
cc @lavalamp @quinton-hoole

[2015-04-02 20:50] bgrant0607 commented on #5548
Good use case for caching/indexing in the apiserver: Kubelets watching the pods assigned to them. Currently, every Kubelet effectively lists/watches all pods.

[2015-04-02 20:51] davidopp commented on #6363
[Note: I am likely to update this text as I think of more things, so please read this issue through the web, not email.]

I think we need to talk about how we structure communication between components in Kubernetes. I'm not necessarily proposing a change pre-1.0; this is more of a longer-term idea.

Currently, all communication between components is through objects that are (1) persistent, and (2

[2015-04-02 20:56] lavalamp commented on #6059
@quinton-hoole see #6381

@xiang90 hmmm... I wonder if your tool would be more effective with a call to runtime.GOMAXPROCS() so that it can parallelize more?

[2015-04-02 21:10] lavalamp commented on #5548
OK, it looks like you guys figured out without me that storing an index in etcd is not tenable. :)

I will add a design to #4817 tomorrow.

[2015-04-02 21:12] smarterclayton commented on #6363
To be honest, no matter how you specify the APIs, people will use them if the need them to solve the same use case, and then be upset when they break.  So we should be careful to identify when that happens and address the need.

I don't see an issue with evolving internal APIs at a different pace and with different guarantees.  Virtual resources makes a lot of sense when we want to specialize the

[2015-04-02 21:13] lavalamp commented on #6363
I am not sure I see the point if that is the only difference. All the heavyweight process is also for maintaining API compatibility, which you still need-- clusters have to upgrade.

[2015-04-02 21:14] smarterclayton commented on #5548
I don't remember linking this here, but Openshift uses cache.Indexer to reverse index services by portal IP for DNS.

https://github.com/openshift/origin/blob/master/pkg/dns/serviceaccessor.go

[2015-04-02 21:15] smarterclayton commented on #6363
When someone says "heavyweight process" w.r.t. API design, I mentally substitute "discipline" :)

[2015-04-02 21:16] lavalamp commented on #6363
It might be replicated, but that's not sharding. I would propose that the storage layer (etcd today) is the place where we do sharding, should that be necessary. Otherwise every client needs to be aware of the sharding details, or we have to put in another layer.

[2015-04-02 21:17] vishh commented on #6342
I tried to parse #3481 and could not infer how the kubelet will disappear from the exec architecture. Can you summarize that? :)
I don't think we have any issues with using `docker exec` directly for now, while we come up with a better long term localhost exec strategy.
Will `docker exec` work for all the current use cases of `kubectl exec`?

@dchen1107: We might have to package a version of nsini

[2015-04-02 21:21] lavalamp commented on #6363
This is an argument for changing the characteristics of our storage backend, IMO.

Not true. See our binding object, which is not persisted. (directly)

I guess I just don't see how that would actually cash out in a simplified compatibility matrix.

[2015-04-02 21:22] #6372 closed

[2015-04-02 21:27] vishh opened #6387 "Api server proxy does not handle redirect headers"
Accessing `https://<master-ip>/api/v1beta1/proxy/services/monitoring-heapster/` redirects to `https://<master-ip>/validate/` instead of ` `https://<master-ip>/api/v1beta1/proxy/services/monitoring-heapster/validate`

Here is a snapshot of the request and response headers:

[code]

[2015-04-02 21:27] vishh commented on #6387
cc @nikhiljindal @lavalamp

[2015-04-02 21:32] xiang90 commented on #6059
@lavalamp The load I generated is probably higher than @wojtek-t described... I can try with more load too.

[2015-04-02 21:40] dchen1107 commented on #6363
[Note: copied from internal email with some modification]

@davidopp I agreed with you on requiring every message to be persisted is an issue for our performance and scalability (#5953). On kubelet side, to cope with the rule and avoid too much writes, kubelet only post PodStatus on change (which is good anyway). But we use NodeStatus as ping message today to indicate if a node alive, which is qui

[2015-04-02 21:55] roberthbailey commented on #6363
If we don't want the master to initiate contact with the Kubelet and we move to this model, I'd suggest adding a control channel where the master can respond to a ping message with a request for the full NodeStatus. This will allow the master to have the ability to more proactively get current state without needing to change anything in the Kubelet.

[2015-04-02 22:00] timothysc commented on #6059
As of a build this afternoon 75f8c3aec49946cb490d14ae2161cfe632c38831 , the previously mentioned lags are far worse.

Schedule lag > 2 minutes
Draining lag > 5+

[2015-04-02 22:32] mbforbes commented on #3135
This is a pretty packed issue. Will decompose when I start working on this. For reference, node upgrade rollup: #6079

[2015-04-02 22:34] mbforbes commented on #3135
Changing to P1 because I don't believe we can claim upgrades work reliably without a test that exercises them. The other pieces of this issue—a thorough policy for retention, allowance, and testing—are very important, though we can debate their priority when this is broken down.

[2015-04-02 22:37] lavalamp commented on #6387
Would someone like to write an integration test to verify this redirection activity? I can show you where to put it.

[2015-04-02 22:41] lavalamp commented on #6059
@timothysc I think you told me before and I forgot, but what are you doing when you measure those delays? Can you patch in #6381 and see if that brings those times down a bit? What does "Draining lag" mean?

[2015-04-02 22:50] zmerlynn opened #6389 "md5sum not found on OS X"
Filing for @roberthbailey

This code is wrong https://github.com/GoogleCloudPlatform/kubernetes/blob/master/build/common.sh#L595:
[code]

The local needs to be on a separate line from the command execution, and we need to be resilient to `md5sum` not existing on OS X, like: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/build/common.sh#L263

[2015-04-02 23:03] #6289 closed

[2015-04-02 23:07] roberthbailey commented on #6389
For once I was actually watching the output of a build and noticed that I was seeing an error about md5sum not being found. I'm building on a mac using boot2docker.

The short_hash function (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/build/common.sh#L256) works fine on my mac as md5 does exist.

[2015-04-02 23:45] dchen1107 opened #6394 "Build failure when building kube-controller-manager image"
+++ Building docker image: kube-apiserver
Sending build context to Docker daemon   158 MB
Sending build context to Docker daemon
Step 0 : FROM scratch
 ---> 511136ea3c5a
Step 1 : ADD kube-apiserver /kube-apiserver
 ---> 91666d674931
Removing intermediate container bac96bf20176
Step 2 : ENTRYPOINT /kube-apiserver
 ---> Running in f849d52ad47d
 ---> b0c583271bfc
Removing intermediate container f849d

[2015-04-02 23:51] dchen1107 commented on #6394
I did a make clean, then rebuild, still run into the same issue.

[2015-04-02 23:53] ArtfulCoder commented on #6394
http://kubekins.dls.corp.google.com/job/kubernetes-build/1399/console

The Jenkins build was a success

[2015-04-03 00:02] dchen1107 commented on #6394
After re-run build a couple of times (3 times!), it went well. Close this for now.

[2015-04-03 00:02] #6394 closed

[2015-04-03 00:06] dchen1107 commented on #6394
[code]

[2015-04-03 00:11] yujuhong opened #6395 ""Failed to watch *api.Node: No conversion function found for version v1beta1 and kind Node""
Error messages like this are spamming kubelet.log. See any recent integration test log for example or just open kubelet.log.

May be related to #6349, which changed how kubelet watched nodes.

[2015-04-03 00:14] davidopp commented on #6363
I'd prefer that we discuss details of our current NodeStatus problems elsewhere. This proposal is intended to be generic.

I don't think "changing the characteristics of our storage backend" is going to solve the problem that we force every message between Kubernetes components to hit disk. Sure, we can run our key-value store on a huge distributed SSD-based cluster to improve performance but why?

[2015-04-03 00:26] davidopp commented on #6363
BTW see #3247 for an example of where someone was going to use events as an inter-component communication mechanism. This issue is going to come up many times and I think we should try to support it in a reasonable way rather than forcing everything to be a full persisted user-facing API object.

[2015-04-03 00:43] BlueShells commented on #6348
@mattf @bprashanth  thanks ,I changed the /etc/etcd/etcd.conf and have no errors now,I will move forward to ,thanks

[2015-04-03 00:47] #3670 closed

[2015-04-03 01:06] zmerlynn commented on #6389
Actually, I'm just going to fix this as a follow-on to #6369.

[2015-04-03 01:08] quinton-hoole opened #6399 "PD e2e tests are flakey"
e.g. for "PD should schedule a pod w/ a RW PD, remove it, then schedule it on another host"

we intermittently see failures like:

"Error deleting PD".

Presumably it needs a retry.

[2015-04-03 01:18] quinton-hoole commented on #5846
I'm going to make it run in a timestamped namespace, as per #6125.

[2015-04-03 01:24] #5747 closed

[2015-04-03 01:50] bprashanth commented on #6395
@timothysc I missed what you were pointing out in irc today because I had a stale apiserver. 'Pologies.

[2015-04-03 01:55] zmerlynn commented on #6399
@cjcullen actually spent a while on this test and the underlying controller, and it was running rock solid for quite a while. If's flaky, it's probably because something broke. :/

[2015-04-03 02:23] mattf commented on #6348
some changes to the doc to address this are in pr  #6402

[2015-04-03 02:24] davidopp commented on #6363
For example, you could say that version N of component A will only talk to version N of component B (i.e. no inter-version compatibility). Even if they don't run on the same machine, as long as you upgrade them approximately together, you can have whichever one comes up first just block until it's talking to a compatible peer. So the total downtime is limited to the time skew between upgrading the

[2015-04-03 02:53] bgrant0607 commented on #6272
Done: #6391

[2015-04-03 02:53] bgrant0607 commented on #2695
Done: #6391

[2015-04-03 02:53] #2695 closed

[2015-04-03 02:58] #6272 closed

[2015-04-03 04:02] ArtfulCoder commented on #6389
@zmerlynn Thank you!

[2015-04-03 04:20] smarterclayton commented on #6387
@liggitt since he was the last person in here.

[2015-04-03 04:25] liggitt commented on #6387
Just so I understand, the redirect to `/validate/` is coming from the service being proxied to, and you're expecting the proxy to rewrite the header to prepend the `https://104.197.10.177/api/v1beta1/proxy/services/monitoring-heapster/` bit?

[2015-04-03 05:56] davidopp commented on #6363
@thockin @erictune

[2015-04-03 06:01] bgrant0607 commented on #6363
Replying piecemeal: I agree we will want some API resources that are stored in separate etcd instances, or aren't necessarily stored in etcd, or potentially not persisted to disk at all. I've insisted that resource usage collected from nodes be kept out of core API objects for that exact reason:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/resources.md#usage-data

[2015-04-03 06:06] bgrant0607 commented on #6363
I am one of the people who thinks we shouldn't hide "internal" APIs:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/DESIGN.md#overview
(last paragraph of section)

But I do think we should group APIs into multiple API prefixes that can be independently versioned: #3806, #635

[2015-04-03 06:13] bgrant0607 commented on #6363
In Borg, we started with a lot of state not stored persistently and then persisted more and more of it over time, as an inter-component communication medium, as an archival medium, and for stability across master restarts and elections.

In Omega, I enforced a single-writer rule for each object. This meant no true write conflicts, but had other consequences, such as more objects. Joins were never

[2015-04-03 06:16] bgrant0607 commented on #6363
If we had API plugins #991, we could potentially create API endpoints that more directly dispatched to controllers.

[2015-04-03 06:19] bgrant0607 commented on #6363
I agree with @lavalamp about the sharding. We've discussed sharing storage by namespace and/or kind. My model for sharding by node is to move to federated clusters #5223.

[2015-04-03 06:22] bgrant0607 commented on #6363
If we were to create additional API prefix, I'd like to not put all the types into one file #1744.

[2015-04-03 06:25] bgrant0607 commented on #6363
Internally we effectively persist node pings, but they are made more efficient by batching, patching / delta encoding, compression, and other optimizations.

[2015-04-03 06:39] bgrant0607 commented on #6363
Inter-component APIs must be versioned. We want people to extend the system. Moreover, Kubernetes is open source -- it's a toolkit that people will do with as they wish, including using individual components independently, especially Kubelet, which we've talked about forking into a separate project #444. And many people will be running their own clusters -- I doubt we'll be able to make hard assum

[2015-04-03 06:41] davidopp commented on #6363
Please don't get hung up on my comment about sharding. My point was just that the approach I described works even in the face of sharding. If you shard etcd rather than API server, it's even easier. I intentionally chose the hardest case (sharding API server) to show that this technique works regardless of the architecture of the master.

[2015-04-03 06:46] thockin commented on #6363
On Thu, Apr 2, 2015 at 5:14 PM, David Oppenheimer
<notifications@github.com> wrote:

I was going to knee-jerk respond to this, but it got me thinking - do
we have any such case?  Kubernetes is (or was initially) touted as a
reference implementation.  Anyone could implement the API and provide
a kube experience to users.  But does that extend to the idea that our
implementation is a set of componen

[2015-04-03 06:47] bgrant0607 commented on #6363
The problems we had with /operations were:
* they weren't namespaced
* they were global across all kinds
* they were in memory in the apiserver such that they couldn't deliver global semantics in the case that apiserver was replicated

If we did support in-memory objects, they'd need to avoid these problems.

I know you don't want to make this just about NodeStatus, but I agree with @smarterclayto

[2015-04-03 06:52] bgrant0607 commented on #5366
We should do this, and we should default replicas to 1. We could also consider defaulting replication controller labels from pod template labels. That way, essentially the only thing that would need to be specified for a singleton RC would be the pod template.

[2015-04-03 06:53] bgrant0607 commented on #1535
We need to finish this for replication controllers, and probably for services with external load balancers.

[2015-04-03 07:10] fgrzadkowski opened #6406 "Phabricator example does not set proper minion scopes on GCE"
As a result cloudsql_authenticator reports the following error:

ERROR: (gcloud.sql.instances.patch) Insufficient Permission

[2015-04-03 07:10] fgrzadkowski commented on #6406
To fix this user should set:

MINION_SCOPES=("storage-ro" "compute-rw" "https://www.googleapis.com/auth/monitoring", "sql-admin")

[2015-04-03 07:20] jsafrane commented on #5659
The PR was merged. I'll try to "turn it into e2e test" here, as requested by @brendandburns.

[2015-04-03 07:23] jsafrane commented on #5659
And just for reference, the example is NFSv4 using single port, it is *not* a multi-port service example.

[2015-04-03 08:06] #6228 closed

[2015-04-03 08:55] hurf opened #6408 "Implement validation for endpoint."
When using endpoint to bind a pod to a service I found there is no validation. for example:

      "kind": "Endpoints",
      "apiVersion": "v1beta1",
      "id": "myapp",
      "endpoints": ["173.194.112.206:80800"]

can still be created.

By looking into the code found a TODO is left there. Need to implement this.

[2015-04-03 08:57] fgrzadkowski commented on #6357
Sorry, I was not clear in the description. I'm more interested on the client side and with more details so that I can measure things like:
 * how long it takes to write bindings in scheduler
 * how long it takes to update status in kubelet
I'd think about it as a counterpart for apiserver stats.

[2015-04-03 09:19] BlueShells commented on #6348
@mattf ,I see a lot of errors appear on both master and node

master:
"Apr  3 17:14:52 fedora kubelet: E0403 17:14:52.851929   25198 kubelet.go:1729] error updating node status, will retry: error getting node "127.0.0.1": minion "127.0.0.1" not found
Apr  3 17:14:52 fedora kubelet: E0403 17:14:52.853322   25198 kubelet.go:1729] error updating node status, will retry: error getting node "127.0.0.1"

[2015-04-03 09:42] feihujiang commented on #6408
I have implemented this, but I encounted a problem while uploading the patch because of the GFW, I will try to upload it after the weekend.

[2015-04-03 09:47] fgrzadkowski commented on #3954
I added latency metrics to scheduler. Here are some results from Density test with 30 pods per node in 50 node cluster:

# HELP scheduler_binding_latency_microseconds Binding latency
# TYPE scheduler_binding_latency_microseconds summary
scheduler_binding_latency_microseconds{quantile="0.5"} 236510
scheduler_binding_latency_microseconds{quantile="0.9"} 1.001378e+06
scheduler_binding_latency_microse

[2015-04-03 10:21] davidopp commented on #6363
You could say that version N of component A will only talk to version N of component B (i.e. no inter-version compatibility). Even if they don't run on the same machine, as long as you upgrade them approximately together, you can have them block once they detect they're talking to an incompatible peer (version number, e..g N, could go in every message). So the total downtime is limited to the time

[2015-04-03 10:35] lostsnow commented on #1328
what about centos6.x?

[2015-04-03 12:25] wojtek-t commented on #6059
@xiang90
I think I finally have a way to replicate the issue at the etcd level.
Here is the code that I used in my experiments:
https://github.com/GoogleCloudPlatform/kubernetes/compare/master...wojtek-t:replica_watch_issue
[it's highly based on @xiang90 code from yesterday - there are some small differences].
[In the code I've exported it's hardcoded resourceVersion - I was changing it every time

[2015-04-03 12:32] gmarek commented on #6408
There's my PR in flight: #5709

[2015-04-03 12:59] #6357 closed

[2015-04-03 13:58] wojtek-t commented on #6059
BTW - I left the above experiment for 2 hours and after that time only 4 watchers were receiving anything - the other 46 were just hanging forever. So I'm no longer that sure it it's starvation.

[2015-04-03 14:16] xiang90 commented on #6059
@wojtek-t I am looking into it. Thanks for helping me reproduce it.

[2015-04-03 14:28] smarterclayton commented on #6363
A small counter argument to disk being bad - we're getting close to being able to batch commit in etcd at the master level, with both the wal and the raft log being able to coalesce multiple changes into single commits.  Then it really becomes a throughput and contention problem (where contention can be addressed in other ways).  The principle of your argument is sound, but it's a large conceptual

[2015-04-03 14:30] xiang90 commented on #6059
@wojtek-t BTW, can you tell me the env you were running it? version of etcd and hash of etcd-client?

[2015-04-03 14:31] xiang90 commented on #6059
@wojtek-t The good news is I have reproduced it with your instruction. Just want to make sure I see the same thing.

[2015-04-03 14:33] smarterclayton commented on #6363
For practical reasons this is what Openshift is doing in some cases.  I'd like a world where you can run our master (kube master + our services) against a set of Kubelet enabled nodes with some version skew. I think tight coupling between the kubelet and master is bad mostly due to this being a distributed system that will see drift over time, and the operational capabilities required to manage th

[2015-04-03 14:33] bgrant0607 commented on #6363
Imagine this scenario: Someone starts a Kubernetes cluster and waits 6 months before upgrading anything. It's running their production workloads. They decide they want to upgrade to fix a security problem. They're going to want to perform a rolling update of Kubelets (talking to the old master components) while the cluster is operational, and then upgrade the master. What happens if the new versio

[2015-04-03 14:33] smarterclayton commented on #6363
+1 to this, especially upgrade.

[2015-04-03 14:35] smarterclayton commented on #1535
And pods.  Now that the kubelet changes have slowed it should be easier to add that (that's what I held off on before).

[2015-04-03 14:51] zmerlynn commented on #6363
Just to chime in here for a second: Unless we're moving off of what was
discussed at the last meetup and written up in #4855, they're upgrading
master components first, then kubelets. (We've had a few different
conversations now on preventing the master from lighting features prior to
all kubelets being ready as well, so there's some interlock there, too.)

(We discussed the other direction, and t

[2015-04-03 14:51] wojtek-t commented on #6059
@xiang90 - I used official 2.0 etcd release (single instance).

[2015-04-03 15:02] vishh commented on #6387
Yes

On Thu, Apr 2, 2015 at 9:26 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2015-04-03 15:22] yujuhong commented on #6395
Thanks @bprashanth for the fix. Closing this issue.

[2015-04-03 15:22] #6395 closed

[2015-04-03 15:57] bgrant0607 commented on #6363
@zmerlynn Sorry, I missed that meetup discussion. I'll take a look.

Anyway, I do agree that there has to be SOME bound on version skew. At some point, we should tell users to turn up a new cluster and migrate their workloads to it, potentially gradually scaling up the new cluster and scaling down the old one. Users will want such workload migration tools for other scenarios, also.

[2015-04-03 15:58] justinsb opened #6413 "AWS: Salt install sometimes stalls, causing install to fail"
On AWS, the minion will sometimes fail to install:

[code]

Logging in to minion-1, I can see that apt-get install is stuck on salt-minion.

[code]

I think GCE uses a reliable mirror for all external dependencies.  We should probably do the same for AWS.

[2015-04-03 16:04] bprashanth commented on #3954
I made a similar observation in a previous comment, but with those stats it looked like tail latency. If I've understood your density test metrics, it looks like 0.5 quantile at 200ms = 5 pods/sec, so it might still be worth optimizing.

I'm curious if its just the bind rpc or every rpc taking that long at the given load. If it's the latter it's probably better to continue investigating along the

[2015-04-03 16:07] satnam6502 opened #6414 "External Load Balancer Name Insufficiently Unique for GCE and GKE"
A service `S` in a cluster with name (instance prefix) `C` has a load balancer generated with a name of the form `C-S` e.g. `kubernetes-mygreatservice`. However, this is insufficiently unique because we have to take into account namespaces. Assuming that `alpha` and `beta` are namespaces we could have services `alpha.mygreatservice` and `beta.mygreatservice` on the same cluster. Currently we would

[2015-04-03 16:10] thockin commented on #6414
Agree.

On Fri, Apr 3, 2015 at 9:07 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-04-03 16:28] roman-shuhov opened #6415 "Can't connect to the kubernetes service"
I'm trying to setup Kubernetes in OpenStack + CoreOS

I have issue with k8s service for redis. Service configuration is:

    {
      "id": "redis-primary",
      "kind": "Service",
      "apiVersion": "v1beta1",
      "port": 6379,
      "containerPort": 6379,
      "labels": {
        "name": "redis-primary"
      },
      "selector": {
        "name": "redis-primary"
      },
      "portalIP":

[2015-04-03 16:43] bgrant0607 commented on #6363
Also "in memory" != "not accessible from replicated apiservers". How about etcd on tmpfs?

What's more interesting is whether "in memory" == "not watchable", given that the premise is that the data would be rapidly changing. If watch weren't supported, that would enable more implementation options (e.g., redis?).

[2015-04-03 16:51] yujuhong commented on #6415
@roman-shuhov, a perhaps naive question because I am not familiar with flannel. Why do you need to specify the portalIP, and make it the same as the IP of the cluster master?

Some common reasons for choosing a portalIP:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/services.md#choosing-your-own-portalip-address

@ArtfulCoder, who has experiences with flannel?

[2015-04-03 16:55] yujuhong commented on #6408
Thanks for reporting the issue! As @gmarek pointed out, this is a dupe of #2572. Closing.

[2015-04-03 16:55] #6408 closed

[2015-04-03 17:17] xiang90 commented on #6059
@wojtek-t @lavalamp I fixed it here https://github.com/coreos/etcd/pull/2622

[2015-04-03 17:25] lavalamp commented on #6387
Oh-- the proxied thing sent a redirection? Yeah, I am not sure if the proxy code follows redirects correctly. That definitely isn't tested. Has this ever worked?

[2015-04-03 17:48] lavalamp commented on #6363
I think it's easiest to reason from multiple distinct concrete cases than make a decision in the abstract.

So let's take NodeStatus. In this case, I agree with @davidopp that there's no reason for kubelet to post the entire node status every time. I can see splitting that into two RPCs, one with the entire status, and one being just a heartbeat, with apiserver filling in the time and doing the wr

[2015-04-03 17:48] roman-shuhov commented on #6415
my issue is that without portalIP it creates some random IP in 10.240.*.* network, which i can't map to the master

[2015-04-03 18:04] roman-shuhov commented on #6415
So far, looks like the issue is that k8s services are in different network and i don't have routes for them in my cluster, so k8s is not working properly

    kubernetes          component=apiserver,provider=kubernetes   <none>               10.100.0.2          443
    kubernetes-ro       component=apiserver,provider=kubernetes   <none>               10.100.0.1          80

[2015-04-03 18:14] jdef opened #6416 "data race in node-controller error handling"
stack trace here: https://github.com/mesosphere/kubernetes-mesos/issues/197#issuecomment-89336229

it's due to a shared `err` variable:
https://github.com/mesosphere/kubernetes-mesos/blob/1ec68d48d69c107df81b7bb5c1269f1072d70bd6/hack/patches/k8s---issue199.patch

[2015-04-03 18:14] xiang90 commented on #6059
@wojtek-t One more thing to be noticed, the streaming watcher still might be canceled when the load is high.
It will reach https://github.com/GoogleCloudPlatform/kubernetes/compare/master...wojtek-t:replica_watch_issue#diff-91646a981f70d780092701248599171aR27

[2015-04-03 18:19] #6389 closed

[2015-04-03 18:32] eparis commented on #6348
So the first problem 'should' be fixed:
https://github.com/GoogleCloudPlatform/kubernetes/pull/6325
Although it doesn't seem we have that build in Fedora yet.

The second problem (127.0.0.1:4001 vs fed-master:4001) does need fixed in the docs.  Sorry.

[2015-04-03 18:32] yujuhong commented on #6416
Hi @jdef, thanks for reporting the issue with a patch! Do you want to submit a PR so that you can take the credit for your fix? :)

[2015-04-03 18:43] wojtek-t commented on #6059
@xiang90 Thanks a lot for fixing it. Regarding canceling - yes we are aware of it. There is already a code that handles it.
One more thing - IIUC in order to this change be effective, we need a new release of etcd, right? So when can we expect the new release?

[2015-04-03 18:52] lavalamp commented on #6059
Yeah getting dropped due to high load should be handled correctly already.

[2015-04-03 18:54] thockin-cc commented on #6415
Kubernetes services are virtual.  Their IPs never hit the wire.  No routes
needed.  Mapping the portal IP to your master will NOT do what you want.

I am out today, but I'll be happy to help you next week, if you find me on
IRC.

In the mean time, just create a service, and let the master allocate you a
portal IP.  If you can not access that portal IP...

1) send me the result of 'iptables-save' o

[2015-04-03 19:12] brendandburns commented on #6363
Ok, there are a bunch of different topics in this thread, so I will try to give my thoughts on a bunch of them.

## Ephemeral Objects
We should absolutely do this.  I know people have heard this before from me, but my over-arching design philosophy is:

*if you can re-calculate it from observing the world, store it in memory, don't store it persistently*

We have moved away from this with NodeStat

[2015-04-03 19:16] jdef commented on #6416
done

On Fri, Apr 3, 2015 at 2:32 PM, Yu-Ju Hong <notifications@github.com> wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2015-04-03 19:22] ArtfulCoder commented on #6415
@roman-shuhov Are you using flannel or did you mean to say kube-apiserver ? (In your comment, you mention that you are using flannel, but then, you have shown the apiserver cmdline flags)

If you are using flannel, what subnet has flannel assigned to the docker bridge running on the host with the redis container ?

[2015-04-03 19:23] bprashanth commented on #6415
fwiw I think @roman-shuhov 's problem was more fundamental than a single misconfigure service, the iptables on his minion had no redirect rules, kube-proxy wasn't even able to watch for new services.

[2015-04-03 19:26] #6416 closed

[2015-04-03 19:27] yujuhong commented on #6416
@gmarek, FYI, I think the same bug may still exist in your new PR.

[2015-04-03 19:40] davidopp commented on #6363
That all sounds reasonable to me.

On the subject of APIs, I think having a mechanism for quickly evolving APIs (whether it's the "experimental" API class or plugin APIs) will help not only our own velocity, but will also encourage external developers to contribute stuff upstream rather than having to fork the codebase.

I guess my observation here is that you can only reasonably pick two of these

[2015-04-03 19:44] yujuhong commented on #6415
@bprashanth, I don't think @roman-shuhov's `iptables` output shows the NAT tables.
https://gist.github.com/roman-shuhov/dfa87f244e0591c5b01e

`iptables -L -t nat` or `iptables-save' (as @thockin mentioned above) would give us more information.

[2015-04-03 19:47] zmerlynn commented on #6413
@justinsb: We've actually done a few things in this area. First, yes, when we actually go to install Salt, we do [grab it directly from GCS](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L133). We also, in the same function, [bang our head against the wall](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/gce/configure-vm.sh#L156) to

[2015-04-03 19:50] ddysher commented on #6073
ok.  @gmarek I'm assigning this to myself for load balance the work.

[2015-04-03 19:55] gmarek commented on #6416
There are multiple p

[2015-04-03 19:57] gmarek commented on #6416
There are multiple PRs in flight, so I don't know which one you have in mind. One of them removes probing logic from controller altogether.

[2015-04-03 19:58] bprashanth commented on #6415
yeah I just assumed they were empty, 'pologies @roman-shuhov if you did indeed run without -t nat because I forgot to mention it

[2015-04-03 20:01] smarterclayton commented on #6363
We have lots of api infrastructure right now, but not yet enough api automation.  Continuing to improve those pieces will reduce the cost to iterate the api.  We've been better at iterating on the v1beta3 api in an experimental more than we were before.  Some things we should improve:

* partitioning the APIs into groups
* automating/reducing boilerplate around creating our objects
* making it eas

[2015-04-03 20:01] yujuhong commented on #6416
I was referring to #6058, but I didn't read that PR closely so the bug may longer exist there. Again, just a FYI. :)

[2015-04-03 20:10] gmarek commented on #6363
I generally agree with David on the API point. I don't like idea of exposing intra cluster API in exactly the same way, and with the same guarantees as "user facing" one.

[2015-04-03 20:12] roman-shuhov commented on #6415
will provide this information in 20 minutes. I've just destroyed my cloud and now i'm building it again

[2015-04-03 20:27] ArtfulCoder commented on #6067
#6417

[2015-04-03 20:41] xiang90 commented on #6059
@wojtek-t Yes. I will have a release early next week. You can try with the current master though.

[2015-04-03 20:51] roman-shuhov commented on #6311
It happens again when i tried to re-create cloud from scratch.

I think this information will be helpful

minion - https://gist.github.com/roman-shuhov/819d26f402699d63edb0
master - https://gist.github.com/roman-shuhov/02432247fce7a9603fe7

additional information
https://gist.github.com/roman-shuhov/335ad0f54ce49bc84582

[2015-04-03 20:51] roman-shuhov commented on #6415
Could you please check issue https://github.com/GoogleCloudPlatform/kubernetes/issues/6311 i again stuck with this issue...

[2015-04-03 21:01] thockin-cc commented on #6311
Your service iptables rules look right for the two built-services.  If you
run two docker containers on two nodes, can they ping each other?  That is
step 1.
On Apr 3, 2015 1:51 PM, "T3[rm]1T" <notifications@github.com> wrote:

[2015-04-03 21:05] roberthbailey commented on #5360
I was using `gcloud alpha container kubectl log -f <pod>` which I just verified is still broken. But using the kubectl that comes distributed with gcloud (0.13.1) this works fine. So it looks like a gcloud bug rather than a kubectl bug.

[2015-04-03 21:05] #5360 closed

[2015-04-03 21:15] roman-shuhov commented on #6311
They can't ping each other, here is some output https://gist.github.com/roman-shuhov/4acc09609a349b7becf0

[2015-04-03 21:23] thockin-cc commented on #6311
So this is the root of the problem.  Please check your network install - I
think you said it was flannel?  I am out until Tuesday, but the other smart
folks here can help in the mean time :)
On Apr 3, 2015 2:16 PM, "T3[rm]1T" <notifications@github.com> wrote:

[2015-04-03 21:25] brendandburns commented on #5865
Closing this as #6203 is now submitted.

[2015-04-03 21:25] #5865 closed

[2015-04-03 21:25] quinton-hoole opened #6424 "ReplicationController e2e tests got flakey on Thusday afternoon"
The following two e2e tests, which had been 100% stable for many weeks, suddenly started failing ~20% of the time, starting at Thu Apr 3, 9:17pm.

- "ReplicationController should serve a basic image on each replica with a private image"
- "ReplicationController should serve a basic image on each replica with a public image"

Failed runs of these tests all look roughly like this:

"Gave up waiting

[2015-04-03 21:26] brendandburns commented on #6102
Closing this as it was fixed by #6334

[2015-04-03 21:26] #6102 closed

[2015-04-03 21:39] quinton-hoole commented on #6424
Successful runs of these tests succeed rather quickly, so increasing the timeout here is unlikely to help:

e.g. in 11.474 seconds...

INFO: Controller my-hostname-private-5c17c64d-da42-11e4-88ec-42010af01555: Replica 1 has hostIP: 146.148.62.13
INFO: Controller my-hostname-private-5c17c64d-da42-11e4-88ec-42010af01555: Replica 2 has hostIP: 146.148.62.13
STEP: Trying to dial each unique pod
INFO:

[2015-04-03 21:41] bprashanth commented on #6424
It looks like its failing waiting on hostip of a pod, which iirc we call into the cloud provider to get (gce in this case).
1. Does the test need to verify hostIp, or can we use the state of the pod instead?
2. What happened to the pod?

Looking at the test, the failure most likely has nothing to do with the rc because it got past: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test

[2015-04-03 21:49] bgrant0607 commented on #3853
cc @hchoudh

[2015-04-03 21:59] roman-shuhov commented on #6311
thanks, do you have any thoughts what can be wrong with flannel?

[2015-04-03 22:02] quinton-hoole commented on #6424
Agreed, the hostip verification doesn't seem necessary in this test.
But it does seem like we have a regression in system behavior yesterday afternoon, which would be worth getting to the bottom of.

I'm going to try to repro the failure locally, and figure out what state the pods were in.

I'm also going to narrow down the regression to a set of candidate PR's.

[2015-04-03 22:03] bgrant0607 commented on #6199
Just hit this again: https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57077487

[2015-04-03 22:08] #4889 closed

[2015-04-03 22:09] bprashanth commented on #6424
Theres a chance I already fixed it with https://github.com/GoogleCloudPlatform/kubernetes/pull/6401 which happened because of  https://github.com/GoogleCloudPlatform/kubernetes/pull/6349 which caused minion watch to fail, without which the kubelet can't populate the hostips of pods on it (allow some margin for error because I've dug through the kubelet/hostip code for lik 60seconds):
https://githu

[2015-04-03 22:11] alex-mohr commented on #6414
@satnam6502 we also need support for multiple clusters and zones and regions.  I think ELB and GCLB are regional?

I'd propose we end up somewhere like k8s-[$OPTIONAL_ZONE_SUFFIX_IF_RESOURCE_IS_REGIONAL]-$CLUSTERNAME-$NAMESPACE-$SERVICE?  And e.g. GKE might do gke-$ETC instead of k8s-$etc?

[2015-04-03 22:17] satnam6502 commented on #6414
Ah, yes, good point. We could have two clusters both called `wombat` in different zones but in the same project.

[2015-04-03 22:19] quinton-hoole commented on #6424
#6401 was merged at 7:06 PM last night (Thu 4/2), and the test is still failing after that, so #6401 doesn't seem to fix the (presumed) bug.

[2015-04-03 22:20] lavalamp commented on #4817
Here is a partial design.

For reference, right now our list/watch queries go directly to etcd. Our list goes directly to etcd list, our watch goes directly to watch, with some filtering (we have to watch more--potentially much more--than we strictly would like to).

What we want to make is an object that allows runtime definition of indexes, and supports two basic operations: List and Watch.

##

[2015-04-03 22:24] quinton-hoole commented on #6424
commit de67b96ff716d3d465ad46dbaae668e8586a6556
Merge: d69e716 39bb6d3
Author: Zach Loafman <zml@google.com>
Date:   Thu Apr 2 18:50:30 2015 -0700

    Merge pull request #6396 from ArtfulCoder/master_logging

    Enable log collection from master.

commit 5b6c75f98672d4a19ba439d6a0cf006e5e288c97
Author: Zach Loafman <zml@google.com>
Date:   Thu Apr 2 18:40:27 2015 -0700

    And re-tabify that (t

[2015-04-03 22:25] quinton-hoole commented on #6424
The above is the set of candidate commits, one or more of which probably caused the regression, based on the time when the test started to fail.

[2015-04-03 22:26] lavalamp commented on #5548
See: https://github.com/GoogleCloudPlatform/kubernetes/issues/4817#issuecomment-89437368

[2015-04-03 22:31] davidopp commented on #6213
LGTM. For me the biggest issues are
* make sure release notes link to PRs and/or issues; I'd eve go as far as to say I'd rather have a confusing release note with a link to the PR/issue than a well-written release note with no link
* documentation: like you said, require people to update docs with the code changes, and also I like the idea of adding a "last modified" date on the doc that would onl

[2015-04-03 22:49] vishh opened #6428 "Kubelet running on the master should be accessible"
As of now the kubelet on the master cannot be discovered since the master is not part of the list of nodes returned by the apiserver. @lavalamp and @bgrant0607 suggested adding the master as a node, after marking it as [unschedulable](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L1001) in the NodeSpec.

This is required for enabling monitoring on the maste

[2015-04-03 23:15] eparis commented on #5981
and https://github.com/spf13/cobra/pull/84 because i couldn't at first understand the fix to https://github.com/spf13/cobra/pull/79 and eventually realized I might be able to fix it by deleting code!

[2015-04-03 23:18] zmerlynn commented on #6424
So it's #6369 and #6396. A dyslexic somewhere is having nightmares.

[2015-04-03 23:22] zmerlynn commented on #6424
@quinton-hoole: Your timeline doesn't line up. You seem to be looking at commit times and not the actual commits that are in the tree. My commits, for instance, didn't land in the tree until go/k8s-test/job/kubernetes-build/1416/, which lines up with Jenkins e2e-gce job go/k8s-test/job/kubernetes-e2e-gce/4140/, which is well after the instability started.

[2015-04-03 23:24] satnam6502 opened #6430 "Unstable pod status in a large cluster"
Seven `GET` operations in rapid succession on a 4 node GCE cluster with 500 pods per node.

[code]

[2015-04-03 23:27] roberthbailey commented on #6428
Depending on how soon you want/need this, you could wait for #6087 to land.

[2015-04-03 23:31] zmerlynn commented on #6424
@quinton-hoole: Yeah, I think the candidates are from: go/k8s-test/kubernetes-build/1407/, which you had one right one: #6396. The other candidate is #6401.

[2015-04-03 23:32] erictune commented on #6363
Agree with @smarterclayton that partitioning APIs into groups will help. Those groups should be able to evolve at different speeds.  I can see Node-to-apiserver comms being in one group, and pods/services/rcs in another.  Then, if node-to-apiserver comms changes radically, then it is a headache for the getting-started-guide maintainers, and the cluster admins, maybe.  But it won't invalidate anyon

[2015-04-03 23:40] davidopp commented on #6199
I was hoping we could finish getting rid of this code this week, which is why I had been ignoring this. But we ran out of time and Poland has a holiday on Monday, so I guess we need to fix this race.

I'll take a look.

[2015-04-03 23:41] bgrant0607 commented on #6199
Thanks. This is becoming a real nuisance that is masking other failures.

[2015-04-03 23:43] bprashanth commented on #6424
https://github.com/GoogleCloudPlatform/kubernetes/pull/6401 actually just enabled https://github.com/GoogleCloudPlatform/kubernetes/pull/6349, which was in but not working prior to that. https://github.com/GoogleCloudPlatform/kubernetes/pull/6373 should scope some of those watches, so it's worth re-evaluating with that (if it's anything to do with watch server performance and the fact that we rece

[2015-04-03 23:46] davidopp commented on #6199
To repro I assume I just type the commands from Travis, e.g. the shell stuff in
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/56938280
?

[2015-04-03 23:50] mikedanese commented on #5275
Two ui-centric features that would make kubectl more awesome than it already is:

1) tab autocomplete
2) cluster state backup and restore (maybe akin to iptables model). something like:
[code]

[2015-04-04 00:00] davidopp commented on #6199
Never mind, I got it. Though the first time I ran it all the tests passed.

[2015-04-04 00:05] bgrant0607 commented on #4676
Just failed again:
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57106219
[code]

[2015-04-04 00:23] bgrant0607 commented on #6199
I don't think the failure is deterministic, but yes.

[2015-04-04 00:24] lavalamp commented on #6199
This is super annoying, it happens all the time...

[2015-04-04 00:26] alml opened #6433 "Interrupted StreamWatcher dumps"
When StreamWatcher is interrupted with Stop() call, it logs an error:
E0404 00:23:11.233879       1 iowatcher.go:93] Unable to decode an event from the watch stream: read tcp x.x.x.x:80: use of closed network connection
E0404 00:23:11.251810       1 iowatcher.go:93] Unable to decode an event from the watch stream: read tcp x.x.x.x:80: use of closed network connection

This error is expected, and t

[2015-04-04 00:27] bgrant0607 commented on #6045
This is failing quite often now, esp. on v1beta3 builds. Not yet sure if it's 100% broken yet, though.

[2015-04-04 00:39] ghodss commented on #6045
I'm seeing the error Dawn wrote above as well as the following error near constantly on v1beta3.

[code]

[2015-04-04 00:42] yujuhong commented on #6430
@satnam6502, what status were the non-running pods in? It'd help to paste the relevant events and logs.

[2015-04-04 00:57] lavalamp commented on #5311
Sorry I missed your last comment. Unless you see this message very frequently, I don't think there's actually anything wrong.

[2015-04-04 00:57] #5311 closed

[2015-04-04 01:03] bgrant0607 commented on #6045
Not 100% broken. Last build passed after being restarted.

[2015-04-04 01:43] ddysher commented on #6199
Sigh, I was hoping we can get rid of the code this week.  I think the problem comes from someone changes the event recording.  I'll send a PR

[2015-04-04 03:24] bgrant0607 commented on #4676
Seems to be failing frequently now.

[2015-04-04 03:36] bgrant0607 commented on #6199
It seems to be basically always failing now, except when some other flake fails first.

[2015-04-04 03:37] bgrant0607 commented on #6199
It would be fine with me if we just temporarily disabled event generation there.

[2015-04-04 03:46] bgrant0607 commented on #6363
API prefixes SGTM. We have lots of use cases for /experimental, such as auto-scaling:
https://github.com/GoogleCloudPlatform/kubernetes/pull/5492#issuecomment-86730490

[2015-04-04 03:59] bgrant0607 commented on #4428
Do we have any plans to add api version to saved settings? All uses of `-o template` require an API version and relying on a built-in default is dangerous, as we found when we changed it from v1beta1 to v1beta3.
cc @nikhiljindal

[2015-04-04 04:05] alml opened #6437 "kube-dns should support DNS-SD"
Use case:
Prometheus uses DNS-SD for instance discovery (http://prometheus.io/docs/operating/configuration/). To allow its use with Kubernetes, all Pods should be exposed in DNS.

Current state:
Currently kube2sky exposes only IP:port pairs of the services.

Desired state:
Additional flag should allow kube2sky to expose the pods in the similar way:

$ host -t srv someservice.pod.kubernetes.local
s

[2015-04-04 04:29] thockin commented on #6437
I don't know a ton about DNSSD, but everything I know is about SRV.  What
service type are you looking for and how do I know if a pod actually
supports it (and on what port)?  We could, hypothetically, add a way to
declare RFC compatible service types on each port.

Am I misunderstanding?  Where can I read a good overview of dnssd?

We were thinking instead of this, maybe we have a bridge from kub

[2015-04-04 04:33] alml commented on #6437
DNS-SD is defined here: http://www.ietf.org/rfc/rfc6763.txt
This is the same SRV as kube2sky implements.
I've implemented support for Pods discovery with Pod Watch API method. This doesn't work well although, because changes in the PodStatus are not watchable. So for now I do both - Watch and regular poll. Later polling could be easily removed.

[2015-04-04 04:35] thockin commented on #6437
I would not call the RFC a "good overview" :)
On Apr 3, 2015 9:33 PM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-04 04:39] alml commented on #6437
Well, okay. Let's not stick to "DNS-SD" name. The simplest example is shown in the issue description. This is enough to run Prometheus.

[2015-04-04 07:33] abonas commented on #6145
@bgrant0607
So where should one look when inconsistent/unclear things come up with the api?

My original question though still stands :) - why isn't pod template required to have metadata (its on uid and name?) Is it a bug?

[2015-04-04 07:38] abonas opened #6439 "REST api - clarifications needed for service entity example"
Using this example:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/guestbook-go/v1beta3/guestbook-service.json

When created "as is", it works, however doing the same but omitting the 'kind' and 'apiversion'  causes it to fail with 422 with the following message:
""Service \"guestbook2\" is invalid: spec.sessionAffinity: required value""

1. If it already knows its a servic

[2015-04-04 08:17] davidopp commented on #6199
If I'm reading the stack traces correctly, what's going on is that NewNodeController [nodecontroller.go] calls StartRecordingToSink() [event.go] which calls StartEventWatcher() which calls eventHandler() which calls StartRecordingToSink() which calls sink.Create() which is Create() in fake_events.go, which appends to c.Fake.Actions. At the same time, the last line of the test tries to print "item.

[2015-04-04 10:34] gmarek commented on #6199
+1 to Braians idea to temporary disable event generation.

[2015-04-04 14:08] artto opened #6440 "Node stay in NotReady state (Ubuntu Single Node)"
Therefore all pods stay in Pending state. What might be the reason?

[2015-04-04 14:35] smarterclayton commented on #4428
We would want there to be a way for a client user to do an auto detection dance against the server to populate the value.  I assume it's part of cluster, but there might be a lower subdivision below that so you can talk to two server APIs at different points in their lifecycle (Kube api at v2beta1, Openshift api at v1, resources api at v1beta2?)

[2015-04-04 14:38] smarterclayton commented on #4817
Makes sense.  We should keep in mind a provision to allow AP consumers to provide the index they read as a precondition for a read and either wait or reject.  This could be at a layer on top of the indexer.

[2015-04-04 15:01] thockin-cc commented on #6437
I am looking for some high level understanding of how it is used without
reading RFCs.  Is there anything special about the records in DNS?  What
srv service type would you want?  What TTL to use for known-transient
records?  Do clients poll DNS?  With what query?
On Apr 3, 2015 9:40 PM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-04 15:25] alml commented on #6437
Prometheus configuration file defines which service you want to monitor. Example:
job {
    name: "test-frontend"
    scrape_interval: "5s"
    sd_name: "test-frontend.default.pod.kubernetes.local"
    metrics_path: "/metrics"
}
sd_name points to service you want to monitor.

Every 5 seconds Prometheus queries this domain name with SRV request type. It expects to get list of TXT records in DNS-SD

[2015-04-04 15:28] alml commented on #6437
Ah, sorry. Second type of DNS query involved is an A-query when hostname is resolved. Example of response:
test-frontend-oh43e.test-frontend.default.pod.kubernetes.local has address 10.13.98.3

[2015-04-04 15:29] alml commented on #6437
DNS names of the pods have format: <podname>.<servicename>.<namespace>.<domain>
In case of named ports (recently added feature in Kubernetes): <podname>.<portname>.<servicename>.<namespace>.<domain>.

[2015-04-04 15:33] derekwaynecarr commented on #4817
There is no batch get me these keys request from etcd yet.  I submitted a feature request for that at some point last year.

https://github.com/coreos/etcd/issues/1282

Does this proposal assume lookup by key is just a cache.Store lookup?  Is this implemented as an enhancement to cache.indexer to ask a caching function to expose a predicate?

Sent from my iPhone

[2015-04-04 15:36] alml commented on #6437
Relevant Prometheus code: https://github.com/prometheus/prometheus/blob/master/retrieval/target_provider.go#L96

[2015-04-04 16:22] yujuhong commented on #6439
@abonas, after removing kind and apiversion, I got an error below that suggested kubectl wasn't able to tell what object this is:
`F0404 09:09:06.539786   30203 create.go:50] Client error: unable to recognize "examples/guestbook-go/v1beta3/guestbook-service.json": no object named "" is registered`

1. AFAIK, api version and kind *are* required to create an object. I tried creating a namespace with

[2015-04-04 16:27] thockin commented on #6437
Thanks, that helps.  Do you see this service name as something hardcoded in
kubernetes, or as something we determine from a pod spec?

We have a slight problem in namespacing.  Its legit in kubernetes to have
pods and services with the same name.  I will have to think more on this
when I get back early this coming week.
On Apr 4, 2015 8:25 AM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-04 16:33] yujuhong commented on #6440
Hi @artto, what version of kubelet are you running? HEAD?

You can check if kubelet process is running on the node. You can also run `curl -L http://127.0.0.1:10250/healthz` to see if kubelet responds with `ok`.

We changed to posting the node status from kubelet recently, so if you are running HEAD and kubelet is running, you could open `kubelet.log` to see if there is any error about updating th

[2015-04-04 16:47] ArtfulCoder commented on #6311
On the master we can confirm that docker bridge sits correctly behind the flannel bridge.
The docker net address is within the flannel.1 net.
docker:    inet 10.244.50.1  netmask 255.255.255.0
flannel.1: inet 10.244.50.0  netmask 255.255.0.0

You can do the same check on the minions. If this check fails on the minions, obviously, that is the problem.
Though, I must that that I would be surprised i

[2015-04-04 16:48] alml commented on #6437
Service names are just names of the Kubernetes services. For example, if you create service "foo", and you have a pod "bar" which matches service selector of "foo", then you will have DNS name:
bar.foo.default.kubernetes.local. So service names never conflict with pod names. They are subdomains of each other. This allows you to query foo.default.kubernetes.local, and get all matching pods. This is

[2015-04-04 17:15] satnam6502 commented on #6430
I only had a short moment before I had to dash so I thought it was worth mentioning this "for the record" even though I did not have time to gather all the related information. I shall attempt to to this again and and then re-file with more information.

[2015-04-04 17:15] #6430 closed

[2015-04-04 20:42] thockin commented on #6437
How does Prometheus get the list of services to query?
On Apr 4, 2015 1:26 PM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-05 00:02] alml commented on #6437
It's manually configured by the user. See a config snippet above. Users
explicitly list services to monitor.

On Sat, Apr 4, 2015, 13:43 Tim Hockin <notifications@github.com> wrote:

[2015-04-05 00:03] kylelemons commented on #6336
@bprashanth Yes; they wouldn't mount correctly the first time otherwise.

[2015-04-05 00:14] thockin-cc commented on #6437
Ahh, I see.  That is somewhat unsatisfying.  I want to turn prometheus on
for the whole cluster and have it find ALL pods, not just pods under
services and not just some services.  How do we get there?

Still, DNS-SD might not be so bad for services.  Will need to take a look
at your PR - it is a significant change.

Also, note that pods can slave to multiple services - I am not sure that
collecti

[2015-04-05 00:50] alml commented on #6437
Now if you ask Prometheus to scrape whole kubernetes.local domain, it will
scrape everything. But you are right - some pods may be scraped multiple
times.

For this use case I would provide one more flag to export all pods in a
separate subdomain.

With new architecture it's a very easy change.

On Sat, Apr 4, 2015, 17:15 thockin-cc <notifications@github.com> wrote:

[2015-04-05 00:58] thockin-cc commented on #6437
What would all pods in a new subdomain do for this?  This will run afoul of
the 64K limit in TXT records before long.

And how do you scrape a whole subdomain - axfr queries?
On Apr 4, 2015 5:51 PM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-05 01:35] alml commented on #6437
SkyDNS returns all entries for a subdomain automatically. I don't need to
do anything special on the kube2sky side.

On Sat, Apr 4, 2015, 17:58 thockin-cc <notifications@github.com> wrote:

[2015-04-05 01:36] alml commented on #6437
It's a regular SRV query that does it.

On Sat, Apr 4, 2015, 18:35 Alexandr Lurye <alml@google.com> wrote:

[2015-04-05 01:43] thockin commented on #6437
I have been discussin g with miekg how to get an A record for foo.bar.local
AND get SRV and A records for x.foo.bar.local with skyDNS - have you solved
that part?
On Apr 4, 2015 6:36 PM, "Alexander Lourier" <notifications@github.com>
wrote:

[2015-04-05 04:12] thockin commented on #6414
we don't need a universal format do we?  Each CloudProvider will have their
own format that must be sufficiently unique.  No "optional" required?

On Fri, Apr 3, 2015 at 3:11 PM, Alex Mohr <notifications@github.com> wrote:

[2015-04-05 09:22] ghodss commented on #4889
tl;dr: To resolve this issue, we settled on something most close to the "Swagger annotation" approach originally described, elaborated on further in https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-77976473 and https://github.com/GoogleCloudPlatform/kubernetes/issues/4889#issuecomment-78205856. The final implementation was done in #6027.

[2015-04-05 09:23] abonas commented on #6439
@yujuhong, I am not using kubectl, I am working with the REST api via http requests.
And as such, the url already contains the needed information:
If we examine this url for example:
http://localhost:8080/api/v1beta3/services, then it's clearly seen that both api version (v1beta3) and resource name (services) are specified, hence duplicating them in the request body seems redundant.
Moreover, the

[2015-04-05 09:34] ghodss commented on #1702
Update on this: #4889 was discovered as an issue when attempting to implement the design in https://github.com/GoogleCloudPlatform/kubernetes/issues/1702#issuecomment-75415019. Now that #4889 is resolved and implemented as a server-side PATCH, we can now proceed with this issue. The next item is to build `kubectl reconcile` which, given an object, will:

1. Fetch it from the server.
 1. If it does

[2015-04-05 09:38] kazegusuri opened #6447 "POST request through Proxy with read only port doesn't work"
ReadOnly port accepts [GET method only](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/apiserver/handlers.go#L53), so other methods like POST to a service(pod) via api proxy does not work. I think proxy and redirect have no side effects to apiserver and allow all requests for those through ReadOnly port, right?

[2015-04-05 10:10] ghodss commented on #6045
So I spent some time digging into this. Both errors seem to have the root cause that the endpoints controller (pkg/service/endpoints_controller.go) is taking forever (on the order of tens of seconds) to do its job of synchronizing the endpoint objects to the current state of services and pods. If you increase the time out to 60 seconds instead of 30, these errors both go away.

There are a few rea

[2015-04-05 14:12] alml commented on #6437
I'm using two separate subdomains for services and pods. Look at the
README.md in my PR.

On Sun, Apr 5, 2015, 03:43 Tim Hockin <notifications@github.com> wrote:

[2015-04-05 14:28] jayunit100 opened #6450 "E2E Tests: highly concurrent pod/service creation"
TL;DR : I think this can be done in the **density tests**, we just need to vary them so that there are **collisions** (dupe pods) being submitted.

... In a real kube system, there is a likliehood that 10 or 20 RC's might be created simultaneously.

We should ensure that the if we submit, say 100 concurrent pod creation requests,
- (consistency) The systems state is consistent such that _duplicate

[2015-04-05 14:56] thockin commented on #6439
It has always sort of very minorly annoyed me that some of the kubectl base
commands (get, watch) take a resource type on the cli and others (create,
update) dont.  It seems reasonable to me that the actual API server would
infer version and resource type from the URL, and that those fields might
be required by kubectl itself (or that we amend 'kubectl create' to take a
resource type).
On Apr 5, 2

[2015-04-05 14:59] abonas commented on #6439
:+1:

[2015-04-05 15:26] mkulke commented on #5816
Actually i noticed the same behavior (PublicIPs specificied in service files does create the correspondend NAT rules on the nodes), however it works fine for me with 0.11.0 and in 0.13.2 it does not.

[2015-04-05 17:24] quinton-hoole opened #6451 "kubectl guestbook e2e test is flakey - needs to clean it's room after play dates, and get a namespace"
kubectl guestbook should create and stop a working application

/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/kubectl.go:108
Error running &{/jenkins-master-data/jobs/kubernetes-e2e-gce/workspace/kubernetes/hack/../platforms/linux/amd64/kubectl [kubectl --kubeconfig=/var/lib/jenkins/jobs/kubernetes-e2e-gce/workspace/.

[2015-04-05 17:32] quinton-hoole commented on #6451
To fix this specific error I've deleted the offending GCE resource ("targetPools/e2e-test-jenkins-default-frontend") that was left undeleted after a previous test run.
The full solution is to:

1. retry a few times on failed resource deletes on e2e test completion.
2. run each e2e test instance in a unique namespaces, so if the above fails repeatedly, at least all tests after it won't fail.
3. at

[2015-04-05 18:54] kylelemons opened #6452 "Feature Request: honor publicIPs along with createExternalLoadBalancer"
This may be already covered by the `v1beta3` changes, #1161, or #1107, but I wanted to register my request in case it wasn't.

Caveat:  My exposure, at the moment, is purely via GKE:
[code]

I have a desire to maintain a single external IP address.  This seems simplest; I can use the same DNS name as I have in my SSL certificate for all of the services I'm running.  So, to that end, I requested a

[2015-04-05 20:09] davidopp commented on #6073
Yeah, sorry, what I saw was the definition, not another use. Looks like we can remove this.

[2015-04-05 21:52] davidopp opened #6454 "Decide master VM size for our 1.0 performance goals"
Several people have brought this up (including @fgrzadkowski and @yujuhong). We have various performance/scalability goals (e.g. #4521, #3954, #3952) but we haven't stated what VM size we will use for the master when making these measurements. (I'm assuming we can just decide a GCE VM size, rather than a node configuration for every cloud provider we support.)

We've been setting GOMAXPROCS in var

[2015-04-05 21:53] davidopp commented on #6454
@erictune

[2015-04-05 22:11] satnam6502 commented on #6454
Rather than having a fixed size master, perhaps we need to assume that the size of the master will be related to the size of the cluster or the total number of pods in the cluster? Perhaps an n1-standard-1 is fine for a four node cluster with 200 pods but we might need a n1-highmem-16 for a 500-node cluster with thousands of pods? Or perhaps the size of the master is more related to the activity (

[2015-04-05 22:14] liggitt commented on #6387
I don't see evidence of it ever working. Not sure you'd want the proxy to follow the redirect.

[2015-04-05 22:20] davidopp commented on #6454
I just meant what size will we use for the 100-node/30-pods-per-node goal for 1.0. I agree in general we need to scale the size of the master with the size of the cluster and the operation workload, but that's outside the scope of what I was intending for this issue.

[2015-04-05 22:24] derekwaynecarr commented on #6439
I like that I can let kubectl create multiple types of resources in one call.

Sent from my iPhone

[2015-04-05 22:33] thockin commented on #6439
Nothing proposed would stop that...
On Apr 5, 2015 3:24 PM, "Derek Carr" <notifications@github.com> wrote:

[2015-04-06 00:44] madhuri-rai07 opened #6455 "The return value is defined as "void" make Python client code to fail"
The return type of some the APIs are defined as "void" which make no sense in python. The python client code fail with error "not defined".

[2015-04-06 00:45] madhuri-rai07 opened #6456 "Model IDs with dots in them cause Python generated code to fail"
The class name in python can't contain dots "." which make the generated code to fail.

[2015-04-06 00:49] madhuri-rai07 opened #6457 "The resourceVersion defined as int make Python client code fail."
The resourceVersion is defined as int in swagger-spec which make Python client code to fail with TypeError('int' object is not iterable)

[2015-04-06 00:51] madhuri-rai07 opened #6458 "'exec' keyword isn't obfuscated in Python"

[2015-04-06 04:14] nikhiljindal commented on #6458
Which version of swagger-codegen are you using Madhuri?
This seems to have been fixed upstream: https://github.com/swagger-api/swagger-codegen/issues/570
cc @brendandburns

[2015-04-06 04:18] nikhiljindal commented on #6457
I will recommend filing a bug with swagger-codegen on this.
I dont see anything that we can do abut this in kubernetes.

[2015-04-06 04:20] nikhiljindal commented on #6456
We got this fixed in swagger codegen for Java https://github.com/swagger-api/swagger-codegen/issues/567
cc @brendandburns

[2015-04-06 04:22] madhuri-rai07 commented on #6456
Yes, but seems not fixed in Python. Right?

[2015-04-06 04:25] madhuri-rai07 commented on #6458
I will check with latest master branch.

[2015-04-06 04:31] thockin opened #6461 "Consider logrus for better logs"
It looks nice, retails log fields rather than just strings.

https://github.com/Sirupsen/logrus

[2015-04-06 04:31] nikhiljindal commented on #6456
It was fixed for Java for sure (I see that the tests were updated).
I dont see any tests for Python at all: https://github.com/swagger-api/swagger-codegen/tree/master/modules/swagger-codegen/src/test/scala. Hence, I cant tell if it was fixed for python or not.

I see that you have filed an issue https://github.com/swagger-api/swagger-codegen/issues/593. That should help get this fixed.
Thanks!

[2015-04-06 05:23] thockin commented on #5507
max pods makes sense to me, but I do think it would be nice if this lays the groundwork for arbitrary counted resources.

[2015-04-06 05:35] thockin commented on #6452
I'm not sure I quite understand - you want to join an existing load
balancer with a static IP?  Or you just want to use teh static IP for a new
load balancer (and fail if that IP is in-use already)?

It sounds like what you want is an L7 router, not an L3 load balancer that
we currently have.

On Sun, Apr 5, 2015 at 11:55 AM, Kyle Lemons <notifications@github.com>
wrote:

[2015-04-06 07:03] davidopp commented on #6306
Sorry for replying late. NodeStatus actually has multiple writers. It was easier to do this than to change the API (partially sparking my rant #6363). Kubelet writes the True and False values of NodeRunning NodeCondition in NodeStatus, while NodeController writes the Unknown value of NodeRunning NodeCondition. You shouldn't see the Kubelet doing more than a Get followed by a Put, though. If you're

[2015-04-06 07:44] roberthbailey commented on #6451
We've discussed this a few times before. @brendandburns suggested that rather than the third thing you propose, we write an e2e that cleans up anything that could be left behind during a test run. It could bookend each jenkins run -- if it finds anything at the beginning it just cleans it up without failing but if it finds anything at the end it fails to indicate a resource leak.

[2015-04-06 09:08] gmarek commented on #5507
Right, so you want to have generic "counted resource" thingy?

[2015-04-06 09:13] AntonioMeireles commented on #6213
(not doing a PR yet, to avoid splitting this at this stage :smile:)

@davidopp, et al.
what about starting with something along this ?...
[code]

[2015-04-06 13:01] abonas opened #6462 "500 error when trying to delete a namespace"
Created the following namespace:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/kubernetes-namespaces/v1beta3/namespace-prod.json

While there were no entities associated with it,
tried to delete it by accessing:
http://KubeMasterIP:8080/api/v1beta3/namespaces/production
with DELETE

Got the following 500 err:
{
  "kind": "Status",
  "apiVersion": "v1beta3",
  "metadata": {

[2015-04-06 13:09] deads2k commented on #5981
I agree that spf13/cobra#84 is cleaner, but I don't know if cobra is mostly dead or not.   If we can't get the changes merged, carrying spf13/cobra#79 as an upstream patch is probably easier.

[2015-04-06 13:10] eparis commented on #5981
well, I can commit code to spf13/cobra as can brendan burns, so it doesn't have to be dead....

[2015-04-06 14:31] derekwaynecarr commented on #6462
that's a new one to me... are you seeing this failure currently on HEAD?

[2015-04-06 15:00] timothysc commented on #5933
@rrati, @jayunit100 ^ this is what we were seeing.

[2015-04-06 15:05] thockin commented on #5507
I think that makes sense for a number of things, "max pods" just being one.
On Apr 6, 2015 2:08 AM, "gmarek" <notifications@github.com> wrote:

[2015-04-06 15:06] justinsb opened #6463 "make release now requires very new version of docker (1.5)"
I think #6369 now means that 'make release" builds docker images using the -f flag to "docker build".  That was only added in Docker 1.5.  Worse, the failure is silently ignored (make release exits with 0)

I'm currently figuring out how to upgrade docker on Debian Jessie, but I suspect we should do some or all of:

Document that we require Docker 1.5
Detect old version of Docker and warn early
Ma

[2015-04-06 15:07] timothysc commented on #6395
Yup, this was the issue last week.

[2015-04-06 15:14] abonas commented on #6462
@derekwaynecarr
I have the code up to date correct to 3 days ago.
(set on  b9babb56b0962a22a93bcbaa02729f2da67dbf11)

[2015-04-06 15:30] justinsb commented on #6463
This is kind of tangential, but maybe related to "document that we require Docker 1.5"

Docker was removed from Debian Jessie: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=781554 https://lists.debian.org/debian-release/2015/03/msg00685.html

I was able to install Docker 1.5 on Debian Jessie:

[code]

I don't understand systemd enough to know why docker.service & docker.socket are masked.  I a

[2015-04-06 15:39] quinton-hoole commented on #6450
Yes, we actually plan to run all e2e tests in parallel in the near future to cut down on elapsed time, and this will have the side effect of achieving both of your goals to some extent. But a dedicated e2e to test concurrent creation seems useful too.

[2015-04-06 15:52] erictune commented on #6461
Structured logging is nice.
We should consider as an alternative to events post-v1.
Comparison:
  - events has api versioning, how to do with logrus?
  - with events, hard to compact events with similar but slightly different Reason string.  If those strings are structured like logrs, easier to compact.
  - with events
  - with events, we can select which logs we want to persist to API and which w

[2015-04-06 16:00] quinton-hoole commented on #3853
/quinton

[2015-04-06 16:00] mikeorzel2 opened #6464 "Cloudprovider interface needs more consistency and encapsulation"
Hi Kubernetes Team,

I am looking to contribute to the kubernetes project and want to start with cleaning up the cloudprovider interface and implementations to make them more consistent (functions in interface order, commented correctly), clean up some usage of the cloud provider interfaces (gce volumes calling functions directly on the gce cloud provider) as well as generalise the interface to th

[2015-04-06 16:05] justinsb opened #6465 "AWS broken by #6326 - master now needs docker pre-installed"
I think #6326 means that cluster/saltbase/install.sh now depends on docker being installed (on the master) before we run salt.

I think it used to be the case that we would install docker through salt.

I'm guessing the GCE image has (a version of) docker pre-installed?

Going to tweak the AWS script to install Docker, but I think this will likely cause problems for most providers...

[2015-04-06 16:10] zmerlynn commented on #6463
This wasn't intentional. I can try to figure out how to rework that section. We've been trying to support 1.4, but none of our build infrastructure actually runs old docker (which is probably an oversight), so we let stuff like this slip.

[2015-04-06 16:13] quinton-hoole commented on #6451
Yes, that's a good idea.  I'm not sure how easy/feasible it is to have one test run before/after all others within the Ginkgo test framework (currently it randomizes order, by design).  There is the concept of test suites (as in most other test frameworks), and suite initialization/teardown.  That might work.  I'll look into it.

[2015-04-06 16:17] thockin commented on #6464
In general cleanup is great.  Please differentiate cleanups from
generalizations, though.  I acknowledge that cloud-provider is not the
nicest interface right now :)

On Mon, Apr 6, 2015 at 9:01 AM, mikeorzel2 <notifications@github.com> wrote:

[2015-04-06 16:45] bprashanth commented on #6306
There's a second get to validate the update apiserver side, we shouldn't blindly trust payloads. I'd need to collect more data before committing to optimize at this level of gets/puts.

[2015-04-06 16:50] derekwaynecarr commented on #6465
This also broke Vagrant.

[2015-04-06 16:51] bprashanth commented on #6454
2 suggestions:
1. Can we decided 1.0 goals for all vm sizes we offer? I'm fairly certain we won't scale linearly with resources on the master (this is the c10k problem)
2. Can we say a cluster with X homogenous nodes can support this QOS, instead of singling out the master?

We could point out that the master is probably a bottleneck if ther're nothing but no-op pause pods on a node. IMHO encourag

[2015-04-06 16:56] zmerlynn commented on #6465
Reassigning to @ArtfulCoder. I've only been mucking around on the build side of that PR (because it hit my other PR).

Abhi: I'd recommend just killing the entry from top.sls to make this dead code for now, but we need to address this.

(I'm OOO after today or I'd help out.)

[2015-04-06 16:56] ArtfulCoder commented on #6465
Will get to it. Thanks

Sent from my iPhone

[2015-04-06 17:12] lavalamp commented on #6454
To be fair, GOMAXPROCS should only make a big difference if there's CPU bound parallelizable stuff--network bound stuff should be parallel anyway.

We do run multiple binaries on the master, though. 4 cores sounds like it should be more than enough.

@bprashanth what specifically won't scale?

[2015-04-06 17:21] lavalamp commented on #6363
API prefixing/grouping SGTM.

I still maintain that storing things ephemerally should be handled by switching out the storage component, NOT by writing different code paths in apiserver. Too many things break otherwise.

[2015-04-06 17:22] lavalamp commented on #6387
Hm-- in that case, we'd need to transform the redirect into a form that the downstream client can actually follow before we send it on.

[2015-04-06 17:22] quinton-hoole opened #6469 "Some pods still intermittently stay Pending"
The following e2e test currently fails about 10% of the time on Jenkins:

"should schedule a pod w/ a readonly PD on two hosts, then remove both"

The error consistently looks like this:

 Waiting for pod pd-test-7dea7d05-dc15-11e4-bdd6-42010af01555 in namespace default status to be "running" (found "Pending") (4m55.417877935s)

On successful runs, the pods enter running state within a few tens of

[2015-04-06 17:23] bprashanth commented on #6454
I meant generally, it isn't safe to assume that the server on a machine will get twice as fast with double the resources.  People typically benchmark speed in terms of something like qps. If the master has 200 qps that each take 1s there will probably be 200 pending requests/concurrent connections. Most webservers create a thread to handle each connection and you'll hit a point where the os can't

[2015-04-06 17:25] quinton-hoole commented on #6469
Given that this sort of error seems to be limited to the PD e2e tests at the moment, I would speculate that the fact that pods sometimes never transition from Pending to Running state is somehow related to the mounting of the persistent disk to the container.  But I have not yet confirmed this in the node logs.

[2015-04-06 17:27] bgrant0607 commented on #6454
cc @timothysc

[2015-04-06 17:31] bgrant0607 commented on #6454
1. We need data before we can make a decision: a plot of master cpu vs. number of nodes under a load scaled proportionally to the number of nodes
2. If a fairly beefy machine is required for 100 nodes but not for 10 nodes, we'll likely need to scale the master size with cluster size, for cost reasons

[2015-04-06 17:34] ArtfulCoder commented on #6465
@justinsb I will fix it for all providers. Please don't make an AWS-specific change.

[2015-04-06 17:35] smarterclayton commented on #6363
Agree

----- Original Message -----

[2015-04-06 17:58] justinsb commented on #6463
This LGTM but unfortunately I can't easily test with an old version of Docker now, because the version I had installed has now been removed from Jessie...

[2015-04-06 18:00] #6463 closed

[2015-04-06 18:17] bgrant0607 commented on #6213
@AntonioMeireles Your text LGTM.

[2015-04-06 18:21] #5821 closed

[2015-04-06 18:25] quinton-hoole commented on #6399
For what it's worth, we're no longer seeing this specific error on Jenkins.  Not sure exactly what fixed it though.

[2015-04-06 18:31] bgrant0607 commented on #4428
Autodetection from the server doesn't help if the version doesn't match the version the user expected when writing a template expression.

An alternative would be to allow/require the version to be specified in template uses, as with apiVersion in objects.

[2015-04-06 18:36] davidopp commented on #6363
Can you explain what you mean "storing things ephemerally should be handled by switching out the storage component"? I think the user experience we want is that objects can be defined as ephemeral or persistent on a per-object basis. It sounds like maybe you're talking about a different axis (i.e. how that would be implemented)?

[2015-04-06 18:54] lavalamp commented on #6363
I think the user experience should be that users never notice the difference except in the case that some component restarts. (specifically, watch/list/update/delete/get should all work EXACTLY the same.)

I think the developer experience should be changing some config in e.g. pkg/master that hooks up a different etcd cluster (or different storage component entirely) to that particular resource. T

[2015-04-06 18:57] lavalamp commented on #6454
We should measure. Go multiplexes goroutines over OS threads, so our go server won't have this problem (we can have related problems like running out of file handles). nginx I'm not sure about, but I'd like to get rid of that at some point anyway.

[2015-04-06 19:06] davidopp commented on #6059
@wojtek-t Can you take responsibility for testing the new version of etcd (once it is released) to verify that it fixes this problem? You should also roll back @lavalamp 's workaround (#6381)

[2015-04-06 19:06] imdario commented on #4008
PR imdario/mergo#8 accepted. Maybe it will be useful for you.

[2015-04-06 19:08] smarterclayton commented on #4428
I meant auto detection the first time they used the cli - that would be before they ever use the cli to output something.

[2015-04-06 19:10] deads2k commented on #5625
I'd like to split this into two parts.
 1. change `kubectl config view` to use the proper serialization.  This impacts all templates.  See https://github.com/GoogleCloudPlatform/kubernetes/pull/6476.
 1. update `kubectl config set` and `kubectl config unset` to navigate using the serialized version of the json tags.  I think the navigation itself should look the same externally, but internally we'

[2015-04-06 19:13] bgrant0607 commented on #5507
The resource specification used to represent both container limits and node capacity is already written as a generic counted resource thingy.

[2015-04-06 19:40] davidopp commented on #6363
Sorry, when I said "user experience" I meant "developer experience."

I think we are agreeing -- I think it should be transparent to the developer whether a particular object is backed by etcd or only by memory. The interface should be the same. Of course the developer needs to be aware of which objects are ephemeral, so that they can be sure to store the state they need for recovery in persistent

[2015-04-06 19:49] invino4 opened #6480 "Watch of individual objects is effectively broken"
Using a watch expression on endpoints can lead to unpredictable behavior that includes returning a watch stream that ignores filters (e.g. a {name} determination) and returns items of the wrong type (e.g. changes to PODS in the ENDPOINTS stream).

# Repro Steps

[code]

returns

[code]

This result includes updates for services "kubernetes", "kubernetes-ro", "redis-slave", "redis-master", etc.  Ev

[2015-04-06 19:51] bgrant0607 commented on #6282
The plan is being hashed out in #6213.

Our release notes have been posted on the releases page:
https://github.com/GoogleCloudPlatform/kubernetes/releases

[2015-04-06 20:02] bgrant0607 commented on #6073
cc @nikhiljindal re #5475

[2015-04-06 20:04] davidopp commented on #6199
Re-titled issue.

[2015-04-06 20:05] davidopp commented on #6199
Re-titled issue.

[2015-04-06 20:15] davidopp commented on #6454
I think we need a realistic workload generator for that. I don't think anyone has started working on that yet as we are still benchmarking with fairly simple, unrepresentative workloads (which is totally the right thing to be doing right now).

[2015-04-06 20:19] bgrant0607 commented on #6480
IRC: https://botbot.me/freenode/google-containers/2015-04-06/?msg=35967134&page=6

cc @lavalamp @brendandburns

[2015-04-06 20:26] bgrant0607 commented on #6480
The pods mentioned in the stream are references to the pods corresponding to endpoints. See #4482 for discussion behind the feature.

We probably need to distinguish the resourceVersion at which an object was last modified, which is also used as an update precondition, vs. the current (global) resourceVersion needed for watch.

[2015-04-06 20:33] bgrant0607 commented on #6480
@smarterclayton Does the change to use GET with watch as a query parameter enable the GET to both return the latest version and subscribe to changes, or is a separate non-watch GET still required?

[2015-04-06 20:43] quinton-hoole commented on #6480
/subscribe

[2015-04-06 20:44] smarterclayton commented on #6480
If you pass resourceVersion=0 you get list then watch (for single or multiple).

[2015-04-06 20:45] smarterclayton commented on #6480
That behavior has been there for a while - the only challenge is you don't know when the list is complete, and we felt that list then watch more clearly delineated that.

[2015-04-06 20:55] lavalamp commented on #6480
This.

[2015-04-06 20:59] lavalamp commented on #6480
Watching with resourceVersion=0 should return an error, IMO.

[2015-04-06 20:59] justinsb opened #6484 "Metrics not being collected (AWS?)"
Running on AWS/Ubuntu, I see this in the kublet logs:

[code]

The message repeats for each pod.  I don't think I'm getting any statistics into influxdb, but I may be looking in the wrong place.

Has anyone seen this?  I presume this isn't happening on GCE?  Any hints/ideas?

[2015-04-06 21:14] vishh commented on #6484
We have an e2e test under `test/e2e/monitoring.go` to cover the monitoring
pipeline. That helps filter out monitoring issues in GCE. Can you run that
test on your cluster and see if it passes?

On Mon, Apr 6, 2015 at 2:00 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-04-06 21:18] timothysc commented on #5589
@jayunit100 ^ per etcd tests.

[2015-04-06 21:25] bgrant0607 commented on #4210
Perhaps we could add some of the validation metadata in swagger.

[2015-04-06 21:28] bgrant0607 commented on #6359
This is pretty annoying. Reordering makes it difficult to tell what has been changed.

I assume we need to make go-restful sort the swagger output in order to fix this?

[2015-04-06 21:36] roberthbailey commented on #6454
@lavalamp I am working up a PR to remove nginx it from the GCE deployment (it's working locally, just need to clean up the salt stuff).

[2015-04-06 21:57] erickhan commented on #5871
I think we should move this out of v1. @yawnt  and others, please share any feedback here or directly.

Impact if we do not have this: nodes will be of 1-size, leading to cases where a smaller size might have been ok.

Reasons I think move is appropriate: besides time and the priorities of other items, I would want to understand this in a multi-cloud world. The pattern here maybe different, as I l

[2015-04-06 21:58] bgrant0607 opened #6487 "Facilitate automatic form and client generation"
A number of people are building UIs and/or text-based configuration layers and/or programmatic clients for Kubernetes.

It shouldn't be necessary to create manually maintained wrappers that mirror most fields of the Kubernetes API, especially if those fields are just going to be exposed pretty much directly to users. We have this problem ourselves (#4874).

What is needed beyond swagger-based code

[2015-04-06 22:00] invino4 commented on #6480
I think the semantics for {watch a single resource} vs. {watch all resources of the same type} should be separated.

# Single Resource
When watching a single resource I would expect the watch to have *consistent* semantics.  That is, I would expect it to be possible to watch an item and be guaranteed either:
  1.  I saw every change to the item, or
  2.  I knew that a change was missed (and so cou

[2015-04-06 22:00] smarterclayton commented on #6487
@jwforres

----- Original Message -----

[2015-04-06 22:02] bprashanth opened #6488 "Reflector shouldn't leak io watcher on error events"
This is more of a reminder for myself to follow up with investigations and fix a resource leak. Currently the reflector forgets to close the streamwatcher when it receives a watch event with an error:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/client/cache/reflector.go#L167

This means the stream watcher will remain dangling until the connection expires; could lead to proble

[2015-04-06 22:04] smarterclayton commented on #6480
resourceVersion=0 is the same thing as saying watch resourceVersion=ObjectModifiedResourceVersion-1.  Perhaps it should be more explicit, but it is generally useful.  Why is blind watch bad?

----- Original Message -----

[2015-04-06 22:07] invino4 opened #6489 "Using a watch expression on very old resources fails"
Using a watch expression on Endpoints for *very old* resource version (e.g. a version that has fallen off the etcd watch window) yields an error even though the resource version is the latest for that object.

The GET query:

[code]

Yields the most current version of the guestbook Endpoints object:

[code]

Nevertheless, the corresponding watch query:

[code]

Yields the following error:

[code]

[2015-04-06 22:08] smarterclayton commented on #6480
Also, I don't see it mentioned above but `watch/<resourceType>/*` - everything in * is ignored.  Confusing, but already fixed by the deprecation of `watch`.

[2015-04-06 22:09] bgrant0607 commented on #6480
cc @hchoudh

[2015-04-06 22:10] smarterclayton commented on #6480
We don't offer multi-resource watch today, but in the future you're likely to correlate very strongly with a shard based on your namespace, rather than a shard on your type.  I don't think sharding by type will be common except on a few types of resources (events, namespaces, possibly endpoints).

The access pattern for most clients is going to be "in namespace Foo, get type X, get type Y, get typ

[2015-04-06 22:15] jwforres commented on #6487
In general being able to do client side validation leads to a snappier feeling GUI (dont have to wait on a server response to tell the user there was an error with their input), but to do that the client needs to know what it should be validating.  The basics go a long way, e.g. what fields are required, the expected type (string, bool, int, etc), min/max values (ints/floats), min/max length (stri

[2015-04-06 22:16] invino4 commented on #6480
The query:

[code]

Is a multi-resource watch.  It watches for all resources of type Endpoints.

But do you want the interface to **guarantee that all objects in the same namespace are updated with consistency**?

I agree that shard boundaries are almost certainly NOT type-boundaries.  For instance there is clearly a consistency relationship between a Service and its Endpoint object.  I would hope

[2015-04-06 22:32] davidopp commented on #6213
I think what you wrote may be a little too heavyweight. I think the release notes should just list the main user-visible changes in human-understandable descriptive text, with a link to the related PR and/or issue. I'm not particularly religious about how we define "user-visible" in this context.

[2015-04-06 22:33] bgrant0607 commented on #6489
This is one of the problems reported in #6480, which I already renamed to "Watch of individual objects is effectively broken". Do you mind if we just use #6480 to discuss this problem?

[2015-04-06 22:41] bgrant0607 opened #6490 "kubelet test is flaky"
Appears to deadlock or otherwise hang after a few seconds and then hit the 5-minute timeout.

From start of log:
[code]
followed by stack traces of zillions of goroutines that mostly report being blocked for 4+ minutes.

Recent instances:
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57351393
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57389027

cc @dchen1107

[2015-04-06 22:50] invino4 commented on #6489
Sure that is fine.  I originally thought of them as separate issues, one discussing the consistency behavior of a watch query while the second deals with the semantics of watch of data that hasn't changed recently.  I'm fine combining them into a single "semantics of watch" issue if you think that is better.

[2015-04-06 22:51] roberthbailey commented on #6047
GKE uses the /validate endpoint to verify that a cluster is healthy. We should be using it for OSS as well instead of the separate (but similar) checks that we currently do in [validate-cluster.sh](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/validate-cluster.sh) and they need to be re-aligned.

At the moment the implementation of /validate is a bit unfortunate: each time

[2015-04-06 23:14] rjnagal commented on #6489
Let's follow up in #6480

[2015-04-06 23:14] #6489 closed

[2015-04-06 23:58] derekwaynecarr commented on #6047
@pmorie we discussed health check of api server today.  See previous comment.

[2015-04-07 00:01] lavalamp opened #6495 "kubelet node watch should work in all api versions"
My #6423 broke it for v1beta3, then #6442 fixed it for v1beta3 and broke it for v1beta1. I'm working on a fix.

[2015-04-07 00:03] lavalamp commented on #6495
Honestly I'm very surprised that more people aren't complaining-- integration test logs are full of noise because of this.

[2015-04-07 00:11] davidopp commented on #6454
Nobody screamed, so I think we should say from now on all perf experiments for the 1.0 milestones (see first entry in this bug) should use n1-standard-4 GCE VMs. Does this sound reasonable?

[2015-04-07 00:20] lavalamp commented on #6495
Exact text of error log is "Failed to watch *api.Node: field label not supported: metadata.name"

[2015-04-07 00:21] dchen1107 commented on #6490
I tried to reproduce the issue by run kubelet unittests 200 times (100 for v1beta1, and 100 for v1beta3), but failed to reproduce the issue.

[code]

I poked around, and found the only difference between my local machine and test machine is that I am running go 1.4.2 and test machine is running 1.3 (both failure cases posted by @bgrant0607 are with 1.3.0). I remembered from online I saw a deadlock

[2015-04-07 00:24] bgrant0607 commented on #6213
We're merging on the order of 40 PRs a day on weekdays.

I decided to try to browse commits in the release branch at the tag to see if that was at all a reasonable thing to expect people to do.

First page:
https://github.com/GoogleCloudPlatform/kubernetes/commits/v0.14.1

Last page:
https://github.com/GoogleCloudPlatform/kubernetes/commits/v0.14.1?page=21

More than 20 pages, at more than 30 comm

[2015-04-07 00:32] davidopp commented on #6213
+1

In fact we could also ask them to write the description that should appear in the release notes. Then the person preparing the release notes just needs to copy-paste and link to the PR/issue.

[2015-04-07 01:00] xudifsd commented on #4817
How do you decide which label to index and which not initially? Also, if a selector matches none of indexed label, we have to fall back to list & filter all objs in etcd/cache, right? So I was thinking maybe we could index all the labels objs have.

[2015-04-07 01:47] rjnagal commented on #6213
+1 for release-note label.

[2015-04-07 01:52] bprashanth opened #6499 "Mirror pod failures with hostnameoverride"
If I start 2 kubelets with hostnameoverride=130.XX they both try to create the same mirror pod because of: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/config/common.go#L38 leading failures like:
[code]

For the second. Kubectl output shows the first pod:
[code]

@yujuhong

[2015-04-07 01:54] bprashanth commented on #6499
@jonlangemak who was confused about this over irc

[2015-04-07 03:20] smarterclayton commented on #6480
Sorry, I was referring to "multi-resource" as "watching over multiple resource *types*".  It is possible to emulate a watch across a small number of stable shards by creating a resource version tuple (a vector clock, essentially) - for medium sized clusters I see that as a reasonable option.  It's more likely though that infrastructure components that want to "watch the world" are either themselve

[2015-04-07 03:20] jayunit100 opened #6500 "E2E tests: defer Ginko failure properly in shell.go"
(PR on the way)

Right now, running e2e from outside kubernetes root dir gives me  a very cryptic error.

[code]

[2015-04-07 03:28] sacashgit opened #6502 "MultiNode Cluster Internal network (Flannel) Not Working"
Hi
I have created Kubernetes cluster with 1 master and 3 minions (one VM per Node) set up. Following the step by step guide, I could complete the set up, get rid of few issues along the way and apparently every thing seems to be working over the surface which I mean - Kubectl get pods,services,rc do return every thing as expected. However I do have few problems under the hood :

1. Redis master-sl

[2015-04-07 04:07] nirmal070125 commented on #6487
Awesome idea to have Swagger support :-)

[2015-04-07 04:16] smarterclayton commented on #6487
For object references we need to do a better job of defining in swagger what the expectations are (for references that are multi kind, what allowed kinds are).

Label selectors need to be identified by a type.

I don't believe the swagger output for types is complete today (large sections appear missing [citation needed])

Described defaults for the UI to prefill / background

Fields that are not

[2015-04-07 04:30] bgrant0607 commented on #6457
resourceVersion is defined as string in v1beta3.

[2015-04-07 04:34] bgrant0607 commented on #4700
All maps currently show as type "any", which I think was done as a workaround for undefined custom types (#2971).

[2015-04-07 04:36] bgrant0607 commented on #6487
@nirmal070125 We have swagger support, which we're improving. The master exports /swaggerapi, and we statically generate the description periodically and put it here:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/api/swagger-spec
and
kubernetes.io/third_party/swagger-ui/

Known swagger issues are #6457, #2971, #4700, #2968, #6167, #5331.

[2015-04-07 04:40] nirmal070125 commented on #6487
Thanks for the pointers Brian!

[2015-04-07 04:44] bgrant0607 commented on #6487
@smarterclayton Thanks for the list.

Known swagger issues are listed in my previous comment. Please file new issues for other problems.

Selector type is covered by #341.

Links to related objects: #3676, #1348

Readonly (#2970) and not-updatable fields (#1728) have been documented in swagger, but not in a machine-readable way. Swagger 2.0 (we're on 1.2) supports readonly, but we may need an addi

[2015-04-07 05:15] a-robinson commented on #6454
SGTM

[2015-04-07 05:23] madhuri-rai07 commented on #6457
So I think  we need ot change this in v1beta1 also. RIght?

[2015-04-07 05:43] ghodss commented on #5864
Is there another issue tracking the reduction of these PUTs?

[2015-04-07 05:50] ghodss commented on #5864
Just as a heads up, I started up a completely idle 0.14.2 500 node cluster with an n1-standard-8 instance as the master and the master is completely 100% loaded to the point that 50% of requests return 429 due to node status GET's and PUT's. I know the target 1.0 size is 100 nodes but it would be great to optimize this at least a bit.

[2015-04-07 05:53] bgrant0607 commented on #6457
No, we can't change it in v1beta1 in order to preserve backward compatibility, though v1beta1 is also approaching its end of life.

More about our approach to API versioning can be found here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api.md

Sorry, I didn't mean to derail discussion of the problem that was reported.

resourceVersion in what object(s)?

The most recent ver

[2015-04-07 06:05] gmarek commented on #5864
@wojtek-t @fgrzadkowski

[2015-04-07 06:10] davidopp commented on #6306
@bprashanth Can you point me to the code in the API server that is doing the get/put related to validation?

[2015-04-07 06:24] wojtek-t commented on #5864
In my opinion, the first thing that we should do is to increase the "heartbeat duration".
IIUC, the main reason for it is to move the pods that are running on broken machine to another machine in case the machine is unreachable. But I think this case is pretty similar to restarting the pod that failed (e.g. due to crash). However, we are currently examining pods only every 10 seconds. So for me it

[2015-04-07 06:25] bgrant0607 commented on #6457
Maybe because `$ref` is specified rather than `type`, the generated python is either trying to iterate over the value or over the type definition as if it were a map/list.

cc @brendandburns, since he said he might take a look at swagger-codegen.

[2015-04-07 06:29] wojtek-t commented on #6059
@davidopp Sure - will take care of it.

[2015-04-07 06:31] nikhiljindal commented on #6457
I see:

[code]
in ```https://github.com/GoogleCloudPlatform/kubernetes/blob/master/api/swagger-spec/v1beta3.json```

[2015-04-07 06:44] bgrant0607 commented on #6457
Yes, uint64 is v1beta1.

[2015-04-07 07:16] fgrzadkowski commented on #6454
Regarding graphs etc I'm looking into cpu usage of the master. It seems this is currently the main bottleneck for API calls latency. It seems most of the time we spend it pkg/conversion/.*. I need to dig deeper to show some data.

From my experience, requirements for the master are much higher for larger clusters, even with no pods. Thus scaling master with scaling the cluster size will be definit

[2015-04-07 08:28] gmarek commented on #5866
What are our plans for handling this client side? Do we want clients to handle "you're being throttled" error themselves, or do we plan to handle it in the ```client``` library?

I'm asking because currently kubelet does not have a 'short' retry loop, hence it tries to report NodeStatus every X (2) seconds, whether it succeed or not. Neither we have a sidechannel for heartbeat messages.

This woul

[2015-04-07 08:39] gmarek commented on #6193
Closed per #6217

[2015-04-07 08:39] #6193 closed

[2015-04-07 09:26] mkulke commented on #5816
I investigated a bit, it seems that pkg/proxy/proxier.go#OnUpdate does not get called in a v0.13.2 setup, when activating a service it's supposed to log "Received update notice:" (on log level 4), in v0.13.2 this is missing, on v0.11.0 it shows up. So i suspect the information is not passed correctly to kube-proxy.

[2015-04-07 10:29] wojtek-t opened #6510 "Watch errors in integration test"
When running integration tests in v1beta1 mode, I'm observing a bunch of errors like that in logs:
E0407 10:20:06.094687     741 reflector.go:143] Failed to watch *api.Node: field label not supported: metadata.name

This might be related to #6423.

cc @lavalamp @fgrzadkowski

[2015-04-07 10:33] jstrachan commented on #4210
How'd swagger be aware of pod-specific environment variable names, types and validation?

I still don't grok why a couple more optional properties on the existing EnvVar type isn't an option.

The next best thing would be optional annotations on the Pod I guess?

[2015-04-07 10:43] kargakis opened #6511 "Delete by label across all resources"
Isn't this something that Kubernetes should support? I know that in every kubectl command we have to specify at least one resource so I was wondering which is the best way to implement it. Probably use all registered resources? eg.

[code]

and pass `arg` as a resource to `delete`? Any other ideas?

[2015-04-07 11:06] wojtek-t commented on #6510
Closing as a duplicate of #6495

[2015-04-07 11:06] #6510 closed

[2015-04-07 11:06] wojtek-t commented on #6495
cc @wojtek-t

[2015-04-07 11:31] wojtek-t commented on #6059
@xiang90 Can you please ping this thread/me when the new etcd release will be built? Thanks!

[2015-04-07 11:33] wojtek-t commented on #5650
I was trying to reproduce this problem and failed.
I'm going to wait for the new release of etcd (with fix to #6059) and spend more time trying to replicate this problem with it.

[2015-04-07 11:55] wojtek-t opened #6513 "Watch shouldn't break every 5 minutes"
Currently Watch is broken every 5 minutes. It is then "recreated", which sometimes requires listing all elements under watch (if there were more than 1000 "uninteresting" etcd writes since then).

I digged deeper into it and it seems this is not related to etcd itself. What happens is:
1. a component (e.g. scheduler) starts watch sending http request to apiserver
2. apiserver initiates a watch on

[2015-04-07 12:01] kargakis commented on #6511
Skimming through Kubernetes code, I stumbled across [this](https://github.com/GoogleCloudPlatform/kubernetes/blob/b6f6de150afe566da8305e224d776d6dc7a6ce6e/pkg/registry/generic/etcd/etcd.go#L143) call. Is it somehow exposed on the client side? It could do the trick as I would just list all the resources matching the specified label right away. Sorry if this is pretty obvious as I am not very famili

[2015-04-07 12:02] mattf commented on #6348
@BlueShells pls start from scratch. it may be that your setup has gotten into a bad state, esp if you're seeing things about node/minion 127.0.0.1

[2015-04-07 12:25] wojtek-t commented on #6513
I think that 3 is because of:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L386

I think that we should change it so that all "Watch" requests has a much bigger timeout (but don't change the timeout of all other gets).
Is it possible to specify it at the client level by customizing its "transport" part?

What do you think about it?
It shouldn't con

[2015-04-07 12:37] fgrzadkowski opened #6514 "Get pods for many pods is very heavy"
I have a 50 node cluster with 1 rc with 1500 replicas. Each pod list takes few second and saturates 4 core master for that time. This slows down the whole system including scheduler, node/pod status updates, controllers etc.

@wojtek-t

[2015-04-07 12:41] gmarek commented on #5507
Yup, that's what I used in related PR. I don't think anything more general or more specific is needed - it's easy to use, and allows exactly right amount of flexibility. Only thing that's not exactly right is the 'Unit' thing, as I believe that most use cases will use ordinary decimals.

[2015-04-07 12:48] wojtek-t commented on #6514
Note that listing all pods will happen in a healthy system relatively often due to #6513

[2015-04-07 13:16] ncdc commented on #4676
If this is test is failing again, my gut says it's not the same root cause. The original failure was a timeout issue. This new one is connection reset by peer. I've got the test running in a loop waiting for a failure but haven't seen one yet. @bgrant0607 is this still failing frequently?

[2015-04-07 13:56] wojtek-t commented on #6454
@davidopp SGTM

[2015-04-07 15:02] quinton-hoole opened #6517 "test/e2e/es_cluster_logging.go is failing 100% of the time"
It's currently failing with:
...
should check that logs from pods on all nodes are ingested into Elasticsearch
  ....
INFO: Waiting for pod synthlogger-1 in namespace es-logging-1771 status to be "success or failure" (found "Running") (10.075451105s)
INFO: Nil State.Termination for container synth-logger in pod synthlogger-1 in namespace es-logging-1771 so far
INFO: Waiting for pod synthlogger-1 i

[2015-04-07 15:14] bgrant0607 commented on #4676
No. It had failed twice in ~10 builds when I reopened this issue, but hasn't failed since. Reclosing. Will file a new issue if it recurs.

[2015-04-07 15:14] #4676 closed

[2015-04-07 15:24] jayunit100 commented on #5933
I like the  (2) approach, as  that sounds closer to  *synchronous* then (1) ...

[2015-04-07 15:29] derekwaynecarr commented on #5933
I would like to support delete on the collection:

DELETE /namespaces/foo/pods

would kick-off special code in the registry that would result in the entire folder in etcd being deleted.

[2015-04-07 15:30] fgrzadkowski opened #6518 "Endpoints controller issues maaany lists"
Endpoints controller issues many lists for services and pods. The very heavy ones are those for pods. For each service it issues one list with a selector every 10 s. However even if we are interested in a single pod, apiserver will parse jsons for all pods. According to my profiling this constitutes for more than 60% of CPU usage in density test causing very high latency for all other requests.

@

[2015-04-07 15:32] quinton-hoole commented on #6518
/subscribe

[2015-04-07 15:38] #6077 closed

[2015-04-07 15:39] rjnagal commented on #6490
Saw this in travis runs too:
https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57428080

[2015-04-07 15:41] bgrant0607 commented on #4210
Sorry, updated wrong issue. Deleted comment.

I don't understand how you'd use the properties at this level of the API. The values of the environment variables would need to be set already when the pod, pod template, or replication controller were created. Isn't that too late for validation?

[2015-04-07 15:44] bgrant0607 commented on #6490
Yes, there have been multiple failures today. Check shippable, also.

[2015-04-07 15:47] bgrant0607 commented on #6454
@thockin said he observed conversion routines being called for every byte of some arrays/slices. Could be some low-hanging fruit there.

[2015-04-07 15:56] rjnagal commented on #6490
FWIW, these are not all kubelet tests failing, but all of them have many kubelet go routines in the trace - mostly stuck in managePodLoop().

[2015-04-07 15:59] quinton-hoole commented on #6513
Yes, I can confirm that we're ignoring watches in #6207:

And yes, I think that watches should similarly be excluded from API server timeouts, but would like @bgrant0607 to comment on what the intended semantics and implementation of long-term watches are.  Do they have any timeout?  Is there intended to be a limit on the number of concurrent long-term watches open against the API server?

[2015-04-07 16:01] bprashanth commented on #6454
@fgrzadkowski on an n1-highmem with 16vcpus:
[code]

I remain skeptical (in a healthy sense) that we can reliably service close to 1000qps [1Get/Put node update/2s+(1Get/Put pod status/10s)x30)x100+watch overhead] and 3 heavy weight master components on 4vcpus. Let the games begin :)

@timothysc out of curiosity what's the profile of your master?

[2015-04-07 16:06] justinsb commented on #6484
I think I've tracked this down...

On AWS, the root partition is often really small.  So I set Docker up to use /mnt/docker instead of /var/lib/docker.

I didn't tell cAdvisor though.  If we were running cadvisor standalone I could pass docker_root, but I'm not quite sure how to do that with the kubelet embedding.

I think I'm going to do a symlink from /var/lib/docker -> /mnt/docker; it will clos

[2015-04-07 16:12] timothysc commented on #6513
@wojtek-t could you keep me in the loop on new items created | possibly label as perf b/c I think we are chasing the same things.

[2015-04-07 16:15] vmarmol commented on #6484
FWIW, there is a `--docker_root` in the Kubelet

[2015-04-07 16:20] bgrant0607 commented on #6513
cc @smarterclayton

[2015-04-07 16:25] smarterclayton commented on #5866
The client library should have options for retry on client.Config which include the ability to disable the behavior.  Automatic retry is probably an "opt-out" behavior.

----- Original Message -----

[2015-04-07 16:31] wojtek-t commented on #6518
Filip - IIUC you were running "Density" e2e test as your underlying experiment. In this test there are no services at all - what services did you have so that it was generating so much load?

[2015-04-07 16:33] wojtek-t commented on #6513
@timothysc will do

[2015-04-07 16:36] fgrzadkowski commented on #6518
From the apiserver logs this looked it was for default services.

-- sent from a mobile device
7 kwi 2015 18:32 "Wojciech Tyczynski" <notifications@github.com> napisał(a):

[2015-04-07 16:42] dchen1107 commented on #5864
The issue was filed because we believe there is a bug, but turns out it is config parameters of interval at startup time. To tune the NodeStatus interval and other NodeStatus related performance issues are covered by #5953 and several other issues.

[2015-04-07 16:43] justinsb commented on #6484
Thanks @vmarmol ... may be a little tricky to work that through Salt (because we don't easily know if the AWS instance has additional storage until we boot it), but I'll check it out.

The symlink seems to have worked though!

[2015-04-07 16:43] dchen1107 commented on #5864
@ghodss  Let's move the discussion to #5953.

[2015-04-07 16:44] dchen1107 commented on #5953
@ghodss mentioned from #5864

Just as a heads up, I started up a completely idle 0.14.2 500 node cluster with an n1-standard-8 instance as the master and the master is completely 100% loaded to the point that 50% of requests return 429 due to node status GET's and PUT's. I know the target 1.0 size is 100 nodes but it would be great to optimize this at least a bit.

[2015-04-07 16:51] timothysc commented on #473
@rrati - perhaps we should breakout apiserver issues and ref back here.

[2015-04-07 16:52] smarterclayton commented on #6513
I think we need to fix the etcd problem.  Working around it on our end is just too painful, and doesn't help us (short of aggregating all watches on our end, which is a larger chunk of work).

My recommendation is to work with upstream etcd to propose the minimal change for https://github.com/coreos/etcd/issues/2048 required to fix the issue on our end (a client option that requests that etcd indi

[2015-04-07 16:52] timothysc commented on #6513
@wojtek-t fwiw we had seen that only after a watch was reset from a timeout, would other actions continue if the cluster was in a stalled state, but we have not checked if recent etcd modifications re: #6059 have had an effect.

[2015-04-07 17:01] yujuhong commented on #6499
The code was changed to use the first part of the hostname in #5936. If we want to support arbitrary hostname override, perhaps it's easier to revert the PR. @thockin, what do you think?

[2015-04-07 17:02] fabioy commented on #5953
It may be good to have a quick audit of all the requests being made to the master api server and to optimize them a bit. I took a snippet of the logs on the api server for a period of ~3 sec (edited to only include times and URLs, see below). Logs indicate about 50 reqs, or roughly 16 qps. A couple of observations:

- Nodes seem to do a GET followed immediately by a PUT. Could we merge these into

[2015-04-07 17:04] wojtek-t commented on #6513
@smarterclayton I don't understand your comment - I didn't observe any problem at the etcd level - the watch on etcd doesn't break itself
the only problem I observe is the "scheduler -> apiserver" http request that is timing out [the etcd issue that you mentioned is only the consequence of out internal request timing out]

@timothysc: sure - I will look into it as soon as the new etcd release is b

[2015-04-07 17:05] smarterclayton commented on #6513
@wojtek-t the problem you alluded to of being outside the window of watchable events.  The disconnect would not be a problem if the client knows to ask for resource version X+10000.  The disconnect is only a problem because the client only knows to ask for resource version X.

This is only a problem because clients don't get an updated resource version after 1000 uninteresting writes.  #2048 is in

[2015-04-07 17:06] smarterclayton commented on #6513
The 5 minute timeout is our maximum http.Server timeout.  I don't think we should increase this, because it doesn't fix the problem from #2048, which affects every watcher.

[2015-04-07 17:06] bprashanth commented on #6306
It should be a part of the update flow:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper.go#L163

It's how validateMinionUpdate gets the old minion (unless something's changed recently):
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/validation/validation.go#L1045

[2015-04-07 17:12] bprashanth commented on #6499
I haven't followed the static pods conversation too closely so apologies if this has already been discussed, why not just use labels and allow auto generation of names? Feels like unique names are difficult to achieve without consensus in a distributed environment.

[2015-04-07 17:16] yujuhong commented on #6454
@lavalamp has already started working on optimizing []byte conversion (see #6435)

@bprashanth, not saying vcpu is enough, but your calculation is slightly outdated. The node status will be (or has been?) changed to post every 10 seconds, and pod status is only sent on actual change.

[2015-04-07 17:21] bprashanth commented on #6454
I checked before saying :)
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L86

though you're probably talking about https://github.com/GoogleCloudPlatform/kubernetes/issues/5953.  Node status only leads to 1qps*100 in that calculation though, and there's a whole lot of unaccounted watching overhead+queries from controller manager and scheduler I'm not accounti

[2015-04-07 17:22] bprashanth commented on #6454
I stand corrected about pod status if this is not the code sending it:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1631

But if I've read that right it should be once every 10s?

[2015-04-07 17:28] yujuhong commented on #6047
I will look into optimizing the implementation of /validate.

[2015-04-07 17:30] bprashanth commented on #6454
Hrm, I rescind that 6qps metric, we only send it every 10s on *update* so it would only really be a once every 10s if the pod is crashlooping

[2015-04-07 17:32] dchen1107 opened #6521 "spammy output from kubectl get resource --watch"
Reported by amyu@:

"I'm curious about the kubectl watch flag as applied to 'get pods'.
After a short pause, it just seems to rotate through listing the information for each pod, one at a time with heartbeat regularity, but nothing evident has changed with any of the pods.

Is this 'works as intended'?  I had assumed it would only output changes. The uptime for a given pod will have of course chan

[2015-04-07 17:38] dchen1107 opened #6522 "kubectl get pods <id> --watch returns failure sometimes"
Aside from #6521, I found kubectl get resource <id> --watch doesn't work for pods which doesn't change for 10 seconds. Maybe a timeout and close channel? cc/ @lavalamp

[code]

[code]

[2015-04-07 17:40] roberthbailey commented on #6047
Thanks @yujuhong - that would be much appreciated.

[2015-04-07 17:49] lavalamp opened #6524 "FAILED: (Scheduler probably didn't process deletion of 'phantom.bar') Pod never started running: timed out waiting for the condition"
This test seems flaky, possibly the watch is broken-- investigating.

[2015-04-07 17:54] bgrant0607 commented on #6513
cc @hchoudh

[2015-04-07 18:04] dchen1107 commented on #6490
I reran a couple of thousands time last night before I leave, and all passed. Yu-Ju just pointed out that the failure posted above by @jnagal is go1.4. Shippable is in a really bad shape today, tons of different tests are failed, which should be handled separately.

[2015-04-07 18:13] quinton-hoole opened #6525 "Integration tests are failing consistently with "FAILED: pods never started running timed out waiting for the condition""
On my local test cluster:

E0407 17:08:46.338567     752 reflector.go:143] Failed to watch *api.Node: field label not supported: metadata.name
I0407 17:08:46.681162     752 integration.go:267] Check whether pod nginx-controller-tdiha.test exists on node ""
I0407 17:08:46.681835     752 integration.go:269] Pod nginx-controller-tdiha.test is not bound to a host yet
I0407 17:08:46.892656     752 inte

[2015-04-07 18:14] quinton-hoole commented on #6525
This is the version I'm running:

commit ef3cdb2f18d9bfb1c6fd35f631d68a78694a778d
Merge: 621e41e ba1ad9f
Author: Victor Marmol <vmarmol@google.com>
Date:   Tue Apr 7 11:00:16 2015 -0700

    Merge pull request #6491 from yifan-gu/depreciate_getkubeletdockercontainers

    kubelet: Refactor RunInContainer/ExecInContainer/PortForward.

[2015-04-07 18:15] bgrant0607 commented on #6524
Example failure: https://app.shippable.com/builds/55240b2dbd14530c001e9bf7

[code]

[2015-04-07 18:18] quinton-hoole commented on #6525
Curiously travis does not seem to be running into the same problem:

https://travis-ci.org/GoogleCloudPlatform/kubernetes/builds/57520499  Succeeded.

[2015-04-07 18:26] vishh commented on #6502
cc @kelseyhightower

[2015-04-07 18:27] invino4 commented on #6480
I completely agree there are possible implementations that can tolerate sharded and/or inconsistent queries.  And deciding that certain kinds of JOINs, particularly across resource types and/or namespaces, are always going to be inconsistent seems like a fine place to land.  I was merely surprised that the API was designed to promote the appearance of consistency for these queries today.  I would

[2015-04-07 18:28] vishh commented on #6511
cc @bgrant0607

[2015-04-07 18:30] wojtek-t commented on #6513
OK - I agree that the issue you mentioned is more important to fix.
However, I think that having longer timeout for watches (or for some special requests) might be beneficial [or in other words - having shorter timeouts for other requests].

[2015-04-07 18:37] smarterclayton commented on #6513
On the other hand, dead clients are going to be consuming resources, especially now that we have limit pools.  I do not want someone to be able to mount a DOS attack against the API server by opening watches and starving traffic.  Having to reestablish their connection periodically is a part of ensuring that clients that exceed their rate limit are throttled (vs being able to open a watch forever)

[2015-04-07 18:45] vishh commented on #6525
@vmarmol: Can you take a look at the failure?

[2015-04-07 18:56] ghodss commented on #5953
Also from #5864, @quinton-hoole had an idea for how to reduce node status PUT's:

I don't know if you can assume that if a TCP connection is simply held open that a node is functioning properly, but you could have a blended approach where a kubelet is expected to create a connection to the master and hold it open for 60 seconds at a time, assuming no changes on the minion. If the connection dies a

[2015-04-07 18:59] vmarmol commented on #6525
Taking a look.

[2015-04-07 19:01] davidopp commented on #6513
@smarterclayton can you explain this attack mechanism a bit more? Regardless of watch timeout, can't someone sucessfully attack by running a lot of clients that keep renewing? Statistically some non-attack clients will get through if the attackers keep having to renew, but if the attacker runs enough clients then I think they can keep that number close to zero.

[2015-04-07 19:01] davidopp commented on #6513
Also, can you send a pointer to the PR/issue that introduced "limit pools"?

[2015-04-07 19:10] quinton-hoole commented on #5953
Yes, you need to do some polling as a fallback, to cover the case of the process on the other end being running and network-reachable, but not healthy enough to reply to a health check, or do real work.  But you don't need to create a new TCP connection every 60s, rather just send a application-level heartbeat message to prove that the process is alive and well.  I don't think that this even needs

[2015-04-07 19:15] vishh opened #6529 "Is TestForwardPorts test flaky?"
I0407 16:48:52.984645   18026 portforward.go:228] Forwarding from 6000 -> 6000
--- FAIL: TestForwardPorts (0.02s)
	portforward_test.go:289: 2: Error reading data: read tcp 127.0.0.1:5000: connection reset by peer
FAIL
coverage: 57.4% of statements
FAIL	 github.com/GoogleCloudPlatform/kubernetes/pkg/client/portforward	0.168s

https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/57509181

[2015-04-07 19:17] tshrklr opened #6530 "Starting a container in privileged mode"
From https://github.com/GoogleCloudPlatform/kubernetes/pull/1288 it looks like kubernetes supports  starting containers in privileged mode. However I couldn't find any info in either the docs or `kubectl run-container -h` on how to actually run a container with privileged mode enabled.

Additionally, I would like to know if kubernetes allows for host networking mode in a container (--net=host opti

[2015-04-07 19:18] bprashanth opened #6532 "Bubble up the reason for killing a container"
The kubelet restarts containers when a liveness probe fails, but the events don't show this. This makes it hard to debug cases with bad liveness probes because it will appear like the container is crashing, docker logs won't show anything really wrong with the container, but the kubelet will keep restarting it.

My events from a pod with a bad liveness probe:
[code]

I would find it easier if ther

[2015-04-07 19:19] davidopp commented on #5953
I'm going to send out a PR in about 10 minutes to change the push rate to 10 seconds. IMO we're spending way too much time debating how to solve this issue cleverly.

[2015-04-07 19:22] dchen1107 commented on #5953
+1 on @davidopp I am about to ping you on interval changes :-) We can iterate this later.

[2015-04-07 19:23] vmarmol commented on #6525
Passes locally with `hack/test-integration.sh` but fails when running before the e2e. Taking a deeper look.

[2015-04-07 19:25] yujuhong commented on #6525
Could be related to #6495

[2015-04-07 19:26] smarterclayton commented on #6513
If you have a rate limiter based on source ip or client credentials, you could ask a lot of watches at once, and refresh them within your rate window.  The longer watches are, the lower the rate given to individual clients are.  On the other hand, if reestablishing a watch is cheap (because clients update their window) then a lower timeout turns over the connected clients more often.

[2015-04-07 19:43] dchen1107 commented on #6490
Ok, with some hacky debugging message added into kubelet package, even I couldn't reproduce the very failure report here, I made some progress on understanding the issue here. Basically there are two issues:

1) The flaky tests reported here are TestServeExecInContainer. All reports posted here have the same stack trace below:

[code]

2) There are tons of goroutines, especially one created for ea

[2015-04-07 19:44] vishh commented on #6529
cc @lavalamp

[2015-04-07 19:45] yujuhong commented on #6490
FWIW, the tests in server_test.go were creating go routines it didn't need at all. I just removed them in #6527

[2015-04-07 19:48] vishh commented on #6530
To run a container in privileged mode, you need to set ['Container.Privileged'](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta1/types.go#L461) to true. You will have to update your Pod config.

Kubernetes does not allow running container in the host net namespace as of now. I am curious to understand your use case. Why does the current kube networking model not work f

[2015-04-07 19:54] dchen1107 commented on #6490
@yujuhong Thanks for cleanup. Now the number down to 91:

[code]

[2015-04-07 19:56] vmarmol commented on #6525
I believe @yujuhong is correct. The error logs are spammed with:

[code]

While the success ones don't have any traces of it. The failure also happens when I sync before the PR in question.

[2015-04-07 19:56] vmarmol commented on #6525
Will run one more test to verify and close as a dup.

[2015-04-07 19:56] davidopp commented on #6513
I see, so this helps if you have a rate limiter based on something that the attacker cannot easily generate a lot of. Do we have this in the system currently?

[2015-04-07 19:58] bgrant0607 commented on #6511
I agree kubectl should support operations across all kinds of resources. This issue is discussed in #5278 (not just for delete but also for other operations). Could we please move this discussion to that issue?

[2015-04-07 19:59] lavalamp commented on #6524
I think the bug happens when a poll happens at exactly the wrong time, which explains why it's flaky and is also a legit bug.

[2015-04-07 20:02] vmarmol commented on #6525
Closing as a dup of #6495

[2015-04-07 20:03] davidopp commented on #6063
This is marked P1 and 1.0, but IIUC requires an API change. Am I correct? If so, I assume we're not actually going to do it for 1.0?

[2015-04-07 20:05] davidopp commented on #6053
Has this problem gone away? If so, please close this issue.

[2015-04-07 20:07] davidopp commented on #5654
@timothysc Can you check to see if this problem is now fixed, and if so, close the issue?

[2015-04-07 20:07] smarterclayton commented on #6513
We do not, although I would like to extend Brendan's initial work to that eventually.

[2015-04-07 20:09] dchen1107 commented on #6059
@xiang90 since the fix the very simple, can we have a patch release here?

[2015-04-07 20:12] xiang90 commented on #6059
@wojtek-t @dchen1107 We are doing it. We will release it later today or early tomorrow.

[2015-04-07 20:16] dchen1107 commented on #6059
Please let us know as it is ready. We can rebuild our docker image with the release and start the test again.

[2015-04-07 20:20] yujuhong commented on #6525
I don't think this is related to the node watch issue because the test just failed on my desktop with v1beta3 (which should be the working version).

Some relevant messages from the log:
[code]

Note that `nginx-controller-6qgot.test` has already started on kubelet (see the events about staring containers), but the integration test still did not see the `Host` filed set on the pod.

[2015-04-07 20:23] rjnagal commented on #6530
In addition, you'll also need to set --allow_privileged flag on all kubelets.

[2015-04-07 20:24] bgrant0607 commented on #6063
The API change would be additive, not break compatibility.

Feel free to reprioritize if you think this won't improve performance or simplify node controller and/or kubelet status posts.

[2015-04-07 20:25] lavalamp commented on #6513
We have a time limit in apiserver, it could be lengthened. Note there's also a time limit in nginx.

I don't really think that a 5 minute timeout should be a problem. My thinking is that to get a substantial gain here, say 10x, we have to extend this period to 50 minutes. That seems clearly too long to me.

[2015-04-07 20:26] lavalamp commented on #6513
Really, to be correct, clients need to re-list occasionally, and they have to be able to handle the watch closing at any time. I think the five minute forced close is fine because it forces clients to do it right.

[2015-04-07 20:26] lavalamp commented on #6513
Essentially I think this behavior is by design, not a bug, and shouldn't adversely affect performance.

[2015-04-07 20:28] lavalamp commented on #6518
It should use the local caching mechanism that e.g. scheduler uses, then this wouldn't be an issue. (controller manager framework).

[2015-04-07 20:29] gmarek commented on #6063
FYI: I don't believe it'll have any performance impact. Even when using subresources we send "whole" objects though the network, so that we'll be able to check objects version id. I see it only as a cleanup for now.

[2015-04-07 20:31] yujuhong commented on #6525
I am not familiar with the list&watch usage. Could it be that at the time of listing, the Host of the pods were not set yet? @lavalamp
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cmd/integration/integration.go#L430

[2015-04-07 20:32] davidopp commented on #5766
@satnam6502 This issue is > 2 weeks old, so I assume it has improved/been fixed, given the various performance improvements we made. Can you please close if it is fixed?

[2015-04-07 20:34] satnam6502 commented on #5766
Now definitely fixed, pods are created at a blistering speed.

[2015-04-07 20:34] #5766 closed

[2015-04-07 20:34] lavalamp commented on #6525
#6495 is unrelated

[2015-04-07 20:36] bprashanth commented on #5766
In realted news, I think we decided we care less about tail latency, which is what you'd get hit by if you're measuring end to end creation time of O(1000) pods. Pods per second is more important and as long as we're doing something like 10pps, we could take 100s to create them all and that would be withing our perf goals.

For more context on this see discussion on https://github.com/GoogleCloudP

[2015-04-07 20:37] justinsb opened #6536 "Suspicious code in fuzzer.go"
This looks like a git merge problem (?):

https://github.com/GoogleCloudPlatform/kubernetes/blob/c1ef9be2616b0798dd376ccb833e5bd6f47ae7f5/pkg/api/testing/fuzzer.go#L174-L177

[code]

I don't see why glusterfs gets the special treatment...  is it an error, or is there something funky about glusterfs?

[2015-04-07 20:39] lavalamp commented on #6525
@yujuhong yeah that code is subtly broken; the replication controller can now count pods before they've been assigned. So that list is getting a pod with a "" for its host, and then the podsOnMinions function will never meet its goal.

Possible fix: change podsOnMinions to first wait for the pods to be assigned. Or do that in a separate step.

[2015-04-07 20:42] bgrant0607 commented on #4817
cc @hchoudh

[2015-04-07 20:47] bgrant0607 commented on #6518
cc @thockin

[2015-04-07 20:50] thockin commented on #6518
I'm looking at endpoint controller now - it's pretty dumb.   It doesn't
watch or anything.

On Tue, Apr 7, 2015 at 1:48 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-07 20:53] quinton-hoole opened #6537 "Elasticsearch e2e test fails consistently due to duplicate log entries"
e.g. http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/4289/

[2015-04-07 20:54] quinton-hoole commented on #6537
The error message is:
/go/src/github.com/GoogleCloudPlatform/kubernetes/_output/dockerized/go/src/github.com/GoogleCloudPlatform/kubernetes/test/e2e/es_cluster_logging.go:45
Got incorrect count for node 0 index 0: 3

[2015-04-07 20:55] markturansky commented on #6518
Of all the controllers that are simple sync loops, this one is the "slightly different" one.

A good refactoring for this controller would be to split the looping logic and processing logic.  Make a "syncHandler" like the other controllers.  This would make it easier to port to a plugin (see #6520).

[2015-04-07 20:56] bprashanth commented on #6537
isn't this a dupe of https://github.com/GoogleCloudPlatform/kubernetes/issues/6517 ?

[2015-04-07 20:57] satnam6502 commented on #6537
This error means that too many occurrences of a log line were observed. I deliberately put in this check to look out for the situation when a synthetic logger pod is erroneously restarted (the pods are one-shot pods with a restart never policy). I shall look into this further, but my first guess is that something has been broken and this test is doing its job i.e. exposing a fault in our underlyin

[2015-04-07 20:59] bprashanth commented on #6537
There must be a simpler way to confirm one shot pods are not restarting. not saying you should do it, but it might alleviate this pain if you did :)

[2015-04-07 20:59] bgrant0607 commented on #6439
@abonas You've previously reported this issue: #3000. We don't disagree. We just haven't got to it yet. PRs welcome.

Do you mind if we close this issue as a duplicate of #3000?

[2015-04-07 21:00] quinton-hoole commented on #6537
The error started occurring very reliably at Apr 6, 2015 2:31:33 PM on our Jenkins CI.

The new commits that went in immediately before  the errors started are:

Commit 952ff24f0bc58280de86ae8c77bf710044f948a1 by aml
Do not log net.errClosing error when StreamWatcher is stopping.

Commit d194af6b4f1721cd4fe719ba8ea81b520386ccae by james.defelice
allow for more easily customized kubelet creation an

[2015-04-07 21:00] quinton-hoole commented on #6517
Dupe of #6537

[2015-04-07 21:00] #6517 closed

[2015-04-07 21:02] quinton-hoole commented on #6537
And yes Prashath, it's a dupe of #6517 .  My apologies.  I've closed that one.

[2015-04-07 21:03] quinton-hoole commented on #6537
I'm going to try to roll back  a8c0241 and see if it fixes the problem.

[2015-04-07 21:05] satnam6502 commented on #6537
@bprashanth I like the way the test is written as-is because it catches all the cases (whenever they occur) which lead a log line being emitted too many times due to a pod being restarted. I could perhaps check the number of restarts but a restart could occur immediately after I check but before I check the log lines? This way I gather the state of the system w.r.t. logging and then make sure it i

[2015-04-07 21:08] satnam6502 commented on #6537
@quinton-hoole if that PR is not the source of the problem then let me know. I will then change this test to write out all the unexpected node count values rather than stopping and failing at the first. This would re-confirm the erroneous node restart problem.

[2015-04-07 21:15] bgrant0607 commented on #6354
We want to support passing this information to containers, but not by exposing Kubernetes-specific environment variables.

This is essentially the same issue as #386, #560, parts of #1768, https://github.com/GoogleCloudPlatform/kubernetes/issues/2316#issuecomment-86202868, and #5093. The most concrete discussion was in #2316, but the most appropriate issue to use is #386.

[2015-04-07 21:16] timothysc commented on #6513
@wojtek-t @lavalamp - the lumpiness in the response curve was our old graph:

![image](https://cloud.githubusercontent.com/assets/169553/7033646/35844d08-dd41-11e4-8eb1-12e45f380091.png)

It shows overall bursts of up to 30 pods/sec and our goal was to eliminate the lumps.

[2015-04-07 21:19] kargakis commented on #6511
Sure, no problem.

[2015-04-07 21:28] davidopp commented on #6518
@lavalamp said he will look into this. It will be fixed by the controller framework.

[2015-04-07 21:29] dchen1107 commented on #6529
@ncdc Andy, can you take a look at this one?

[2015-04-07 21:32] quinton-hoole commented on #6537
Reverting #6470 fixes the problem.  Closing.

[2015-04-07 21:32] #6537 closed

[2015-04-07 21:34] jayunit100 opened #6539 "e2e networking.go namespaces are not being created"
odd, but when i run e2e's like `networking.go`, I'm finding that the namespace created by it `nettest-1234` is not listed in `kubectl get namespaces`.

So, does this mean that "get namespaces" doesnt gaurantee to return all namespaces, or is it a bug ? If the former, the spec should be changed.

This can easily be reproduced from head.

1) run `networking.go`
2) while running, run `watch -n 1 clus

[2015-04-07 21:34] davidopp commented on #6513
@lavalamp thinks the system should be able to handle a re-list every 5 min so this is WAI.

[2015-04-07 21:34] #6513 closed

[2015-04-07 21:37] bgrant0607 commented on #5278
Delete across all resource kinds was requested by @kargakis in #6511.

[2015-04-07 21:37] #6511 closed

[2015-04-07 21:42] ncdc commented on #6529
I've been unable to reproduce locally (Fedora 21 VM) but I will look again.
On Tue, Apr 7, 2015 at 5:29 PM Dawn Chen <notifications@github.com> wrote:

[2015-04-07 21:43] dchen1107 commented on #6053
Please run 'kubectl clusterinfo' when you run into this issue? I noticed that the context you have is talking about "ivory-honor-865_e2e-test-filipg", but sounds like you tried to retrieve information from different cluster: much larger ones?

[2015-04-07 21:44] davidopp commented on #5953
@lavalamp suggested we should monitor CPU utilization during e2e tests. Once the master components are in pods we can get this from cAdvisor.

[2015-04-07 21:46] smarterclayton commented on #5278
We should decide on the shorthand.  The use case discussed in #6511 is really "delete all of the end user facing things in my namespace that match this label".  I don't think it applies to nodes, events, users, tokens, security policies, or other root scoped objects (in this context).  It's *probably* more like "stop all of these things", rather than delete.  It has to be extensible when other res

[2015-04-07 21:46] tshrklr commented on #6530
@vishh I want to be able to run services such as libvirt in my container. Libvirt actively manages the network on the host for running VMs, and therefore requires host net namespace.

[2015-04-07 21:47] satnam6502 commented on #6537
To help with debugging, I think the two likely causes are:
1. A pod being restarted when it should not be.
2. The Host constraint for pinning pods not being honored.

[2015-04-07 21:48] smarterclayton commented on #6513
I would clarify that based on etcd 2048.  The system should be able to handle a re-list every five minutes.  It should not require all clients to re-list every five minutes.  Re-listing is a client responsibility.

----- Original Message -----

[2015-04-07 21:48] #4429 closed

[2015-04-07 21:48] abonas commented on #6439
I think there were slightly different symptoms there as well as a
discussion re sending v1 object to v3 api. But if you view them as one
problem and one solution for both,  I have no objection closing one as dup.
On Apr 8, 2015 12:00 AM, "Brian Grant" <notifications@github.com> wrote:

[2015-04-07 21:50] thockin commented on #6045
Also discussed in #6518

[2015-04-07 21:54] davidopp commented on #6514
@lavalamp suggested add a benchmark (using go benchmarking facility) using integration test mechanism in test/integration so we can track this over time.

cc/ @davidopp

[2015-04-07 21:54] davidopp commented on #6514
(e.g. to distinguish etcd overloaded vs. API server slow)

[2015-04-07 21:55] #5993 closed

[2015-04-07 21:55] bgrant0607 commented on #6439
Ok, I'll leave this open re. the obscure error message.

[2015-04-07 21:56] smarterclayton commented on #4429
Was this closed by a fix?

[2015-04-07 21:56] rjnagal commented on #6212
we are making a release today.

[2015-04-07 21:56] #6212 closed

[2015-04-07 22:02] davidopp commented on #6285
Action Item: Kubelet should set NodeStatus=False when docker is dead.

[2015-04-07 22:05] vmarmol commented on #6530
FWIW, you can run with --net=host with the HostNetwork option. You will need to enable it similar to his privileged needs to be enabled.

[2015-04-07 22:05] davidopp commented on #6264
@ncdc This seems to be related to the proxy feature you added. Is there some other criteria besides the Upgrade header that should be checked before starting the SPDY proxy?

[2015-04-07 22:08] vishh commented on #6530
+1 to what @vmarmol mentioned. There are plans to support scheduling system
daemons in the future. Until then, you will have to run a custom setup.

On Tue, Apr 7, 2015 at 3:05 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-04-07 22:09] dchen1107 commented on #6261
Should we close this issue?

[2015-04-07 22:14] davidopp commented on #6159
A few observations from our meeting
* @dchen1107 pointed out that the client is generating some local timestamps, which is bad
* we should make ntpd or something like it part of the node spec (required for using k8s)
* NodeController should mark nodes with bad clocks as NodeReady=Unknown (or something like that); we can do that now thanks to #6217

@gmarek @davidopp

[2015-04-07 22:15] thockin commented on #6536
No, you're right.  Merge error.  @vishh @rootfs

On Tue, Apr 7, 2015 at 1:38 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-04-07 22:18] davidopp commented on #5866
@lavalamp says there are people working on rate limiting client connections to API server.

[2015-04-07 22:27] mkulke commented on #5816
After working out kube-register issues, i could try out v0.14.1, the issue seems to be gone in this version.

[2015-04-07 22:40] satnam6502 commented on #5866
I have in the past adjusted the rate limiter to support the creation of large clusters. I also added the `Retry-After` logic. If you adjust the rate limiter settings, please make sure it is still possible to create large clusters.

[2015-04-07 22:47] yichengq commented on #6059
@dchen1107 We just cut the etcd v2.0.9: https://github.com/coreos/etcd/tree/v2.0.9
It contains the bug fix for watcher issue.

[2015-04-07 22:49] dchen1107 commented on #6059
Great. I will build our docker image for this, @wojtek-t you can pick up tonight PCT for your performance validation. Thanks @yichengq!

[2015-04-07 22:53] davidopp commented on #5819
@simon3z we basically implemented what you suggested in #6217. Can you verify that this fixed the problem, and if so, close this issue? Thanks!

[2015-04-07 23:05] quinton-hoole opened #6541 "Heapster monitoring e2e test is still very flaky"
It fails about 70% of the time at the moment (21 failures our of the past 30 runs in Jenkins)

Examples of success and failure cases are below.
In essence the failures are a result of the pod records not appearing in influxdb within the 5 minute timeout.  In success cases, they show up in <15 seconds.

I think that rjnagal@ has looked into this in the past.  I'll have another shot at it.

FAILURE

[2015-04-07 23:05] dchen1107 commented on #6499
PR #6466 is talking about removing FQDN name even more.

[2015-04-07 23:06] quinton-hoole commented on #6541
Interestingly I have failed to reproduce the test failure on a local test cluster.  30 successful runs so far.  Might well be related to short-running vs long-running clusters (mine is long-running, Jenkins is short-running).  I'll try a bit harder.

[2015-04-07 23:11] thockin commented on #6499
We stayed with FQDN because of so many unknowns.  Is it unreasonable to say
that we require hosts to have unique hostnames?  My own experience here is
"of course that is sane", but @smarterclayton seems to have other
experience...

On Tue, Apr 7, 2015 at 4:05 PM, Dawn Chen <notifications@github.com> wrote:

[2015-04-07 23:15] chaten commented on #5329
We have a VPN tunnel from AWS to GCP on a 10.0.0.0 subnet. We cannot use GKE as it is possible that it will conflict with our subnets inside of AWS. This makes it very difficult to migrate to GCP.

[2015-04-07 23:15] goltermann commented on #6458
@brendanburns  says this is already fixed.  (re-open the bug on swagger-codegen if you still see this)

[2015-04-07 23:15] #6458 closed

[2015-04-07 23:16] goltermann commented on #6456
Closing, will be followed in the swagger-codegen issue above.

[2015-04-07 23:16] #6456 closed

[2015-04-07 23:16] vishh commented on #6541
cc @rjnagal

[2015-04-07 23:17] goltermann commented on #6447
This is by design: POST is inherently a write.   We're looking to get rid of the ReadOnly port as well.

[2015-04-07 23:17] #6447 closed

[2015-04-07 23:19] goltermann commented on #6223
@satnam6502 can you prioritize this one?  And mark v1.0 milestone if needed.

[2015-04-07 23:19] tshrklr opened #6542 "Scheduling a container to a specific minion"
Is there a recommended way to force schedule a pod to a particular minion? Some docs suggest that labels could be used for this, but its not clear how.

[2015-04-07 23:21] quinton-hoole commented on #6541
I've now managed to reproduce it locally, and it's failing consistently.  So far it seems that influxdb either comes up healthy in a cluster, and this test consistently succeeds, or it comes up unhealthy, and the test consistently fails.  Based on Jenkins runs (each of which runs on a newly build cluster), heapster fails to come up healthy about 70% of the time.

I'm going to suggest marking it as

[2015-04-07 23:21] errordeveloper commented on #2678
@brendanburns to me this sounds dated and can be assumed no longer applicable.

@nterry if you needs Kubernetes on Azure, you might like to checkout [new guide with Weave and CoreOS](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/coreos/azure/README.md), which works fine and it doesn't use Salt.

[2015-04-07 23:23] goltermann commented on #6542
Yes, use the host field in the pod spec.  There are several e2e tests that do this if you need sample code.

[2015-04-07 23:23] #6542 closed

[2015-04-07 23:26] satnam6502 commented on #6223
I  suspect this is now obsolete due to recent changes.

[2015-04-07 23:26] #6223 closed

[2015-04-07 23:27] yujuhong commented on #6261
Yes, let's close this since I am not aware of any new occurrence.

[2015-04-07 23:28] goltermann commented on #6348
@eparis bringing to your attention

[2015-04-07 23:28] goltermann commented on #6343
We believe this is fixed.

[2015-04-07 23:28] #6343 closed

[2015-04-07 23:30] brendandburns commented on #6414
We already handle namespaces and cluster names, see afaik.

https://github.com/GoogleCloudPlatform/kubernetes/blob/3354cffbf0307fd4c2702c7f6612919aeab52b86/pkg/registry/service/rest.go#L276

If this is somehow insufficient, please re-open.

[2015-04-07 23:30] #6414 closed

[2015-04-07 23:31] goltermann commented on #6336
@lavalamp do you think this is an example of the hostport ghost pod bug you fixed?

[2015-04-07 23:33] yujuhong commented on #5904
This should be surfaced once #6014 is fixed.

[2015-04-07 23:33] #5904 closed

[2015-04-07 23:35] smarterclayton commented on #6499
I forget the context under which I said that, consider my opinion invalid.

----- Original Message -----

[2015-04-07 23:37] dchen1107 commented on #6490
cc/ @ncdc

[2015-04-07 23:37] bprashanth commented on #6525
I suspect https://github.com/GoogleCloudPlatform/kubernetes/issues/6525#issuecomment-90719360 is a race that has always existed, and not the reason the test is suddenly failing consistently. The rc never waited for host assignment to count toward its replicas, even in the fillCurrentState world we just did a list for the selectos followed by filter active pods (https://github.com/GoogleCloudPlatfo

[2015-04-07 23:40] chaten opened #6545 "GKE: Cannot connect from container to subnet connected via VPN"
I have a gce network connected to an aws network over a gcp vpn. I can connect from a kubernetes node to a box in aws but I can't connect from inside a container. Traffic seems to stop at the container bridge. The cluster was created using Google Container Engine(GKE).

[2015-04-07 23:44] vishh commented on #6545
cc @roberthbailey

[2015-04-07 23:44] #6536 closed

[2015-04-07 23:45] vishh commented on #6545
cc @thockin

[2015-04-07 23:50] roberthbailey commented on #6545
What version of GKE are you running?

[2015-04-07 23:53] lavalamp commented on #6336
Yes, this should be fixed in .14.1

[2015-04-07 23:54] #6336 closed

[2015-04-07 23:54] roberthbailey commented on #6545
Older GKE deployments added a tag to the cluster firewall rule (e.g. k8s-<cluster-name>-all) that only allowed traffic between the VMs in the cluster. Newer deployments don't have this restriction. If you have an older deployment, you should be able to edit the firewall rule (in the cloud console go to networks and click on your network name to see the firewall rules) and remove the tag that restr

[2015-04-07 23:57] chaten commented on #6545
This cluster was created today and is using 0.14.1.

The VMs can talk across the VPN, the containers cannot.

[2015-04-07 23:58] thockin commented on #6499
If that is the case, then Prashanth's initial proposition is invalid -
right?  Don't create 2 kubelets with the same name.

On Tue, Apr 7, 2015 at 4:36 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-04-07 23:59] bprashanth commented on #6499
It's taking the first octet right (in the linked code)?

[2015-04-08 00:01] yujuhong commented on #6499
@bprashanth, having a deterministic name makes checking whether the pod has been created or not easier. We could of course use labels like replication controllers, but it seems unnecessarily complicated? Don't we need something to uniquely identify a node anyway?

Besides that, there are two issues here.
1. Whether hostname (not FQDN) alone is enough to uniquely identity a node
2. What's allowed t

[2015-04-08 00:02] chaten commented on #6545
I'd also add that we tried to run a plain docker container on the node and talk to the services in aws. This didn't work either.

[2015-04-08 00:06] dchen1107 commented on #6499
I think we shouldn't allow 2 nodes in a cluster with the same name. Name here is short-version of hostname, nbot FQDN one.

I think once we have node auto-join a cluster feature, when node with existing name should be rejected to join the cluster.