[2016-06-02 17:03] kfox1111 commented on #23720
Yeah, I get that. I'm just worried that it might already be a problem where groups might have conflicting meanings between different authn/authg(group adder plugins?), and this has the potential for increasing the problem. Do you know how that works? Can there ever only be one authn plugin? how does that work with serviceusers?

I mentioned keystone not in that its specifically an issue with keyst

[2016-06-02 17:05] dchen1107 commented on #26626
cc/ @ojarjur

Based on all above discussion and founds, I don't think the issue is at docker, instead at either storage backend (cc/ @ojarjur), or the network. Briefly chatted with @girishkalele, who is writing a simple program testing the node network connectivity. If that program is ready, we can have more signals.

[2016-06-02 17:10] spxtr commented on #26644
[code]

We never ran unit/integration tests so there was no JUnit to report so this plugin also failed.

[2016-06-02 17:10] #26644 closed

[2016-06-02 17:13] wojtek-t commented on #26482
I don't have enough context to debug it, but those two look different to me...

[2016-06-02 17:15] krousey commented on #26628
Any idea of the frequency. Is it frequent? Or is it possible that this is just a transient network issue?

[2016-06-02 17:17] justinclayton commented on #9260
Would love a semi-official statement of direction in this regard.

[2016-06-02 17:19] derekwaynecarr commented on #26104
This is now fixed on HEAD as of #26174

[2016-06-02 17:19] #26104 closed

[2016-06-02 17:20] bprashanth commented on #20096
This bug won't happen with a promiscuous-bridge instead of hairpin, or at least, we ran into it consistently and then never again on the stock GCE debians.
The duplicate ack problem won't happen with hairpin-veth.
Neither will happen with neither (i.e userspace kube-proxy).

[2016-06-02 17:23] MHBauer commented on #26712
In an attempt to debug, the tool reports data races in
[code]
gist of the run [here](https://gist.github.com/MHBauer/03f378752ad64cec3c707802e95423a5)

command run was  `time GORACE="history_size=7" go test -v -count 5 -race -coverprofile=count.out -covermode=count`

Do the failures look real, or do you think they are false?

[2016-06-02 17:23] yujuhong commented on #26626
Ok, I didn't realize you were making the distinction between system pods and user pods. I was trying to tackle the more general problem -- slow/hanging image pulling, regardless of what type of pod it is. If the registry/network is just slow (assuming that's the case), kubelet will retry the request until it can succeed, and users have to wait. This long wait doesn't help the tests.

[2016-06-02 17:27] ixdy commented on #26644
The plan is to have the verify- checks emit junit, but that's not been implemented yet.

[2016-06-02 17:27] yujuhong commented on #26626
I doubt the problem is docker (although not impossible) because it was only pulling one image on that node at the time.

However, I was wrong about the node being the only one pulling images. I only checked ~1000 nodes (which I thought was the size of the cluster), but according to https://github.com/kubernetes/kubernetes/issues/26626#issuecomment-223103563, logs for half of the cluster were not u

[2016-06-02 17:27] bprashanth commented on #26626
I'm personally not signing up for manaing a download server that's going to get hammered from 1000-2000 nodes simultaneously pulling a 400mb image, on an n1-standard-32 that's already pretty close to maxing out.

[2016-06-02 17:29] spxtr commented on #26644
I'd also like to move the verify checks into a separate job.

[2016-06-02 17:31] janetkuo commented on #26509
@wojtek-t thanks, the flake you hit is caused by the same issue that PR is fixing. Closing this now.

[2016-06-02 17:31] #26509 closed

[2016-06-02 17:32] ericchiang commented on #23720
Yes, you can declare multiple authenticators, though only one will ever trigger for a specific request. No, there's no attempts to prevent conflicts. It's up to the auth(n/z) implementations to provide meaning to things like usernames and groups (which may or may not parallel with actual users and groups) and avoid conflicts. This is true for the existing authn plugins and this proposal doesn't at

[2016-06-02 17:33] brendandburns opened #26721 "Unit flake in k8s.io/kubernetes/contrib/mesos/pkg/queue"
From:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26389/kubernetes-pull-test-unit-integration/28888/

[code]

No additional info (not sure why?)

[2016-06-02 17:40] caesarxuchao commented on #26608
The fix for the watch problem is https://github.com/kubernetes/kubernetes/pull/26493. Hopefully it will be merged soon.

[2016-06-02 17:41] caesarxuchao commented on #26608
Thanks for using the versioned clientset. Feel free to ping me on any friction you have.

[2016-06-02 17:44] kfox1111 commented on #23720
Ok. Thanks for the clarification.

So... the one thing I think may be needed here then, is a way for a plugin that is adding more group information to an existing authn authentication is a way for it to know which authn plugin was used, so it can determine if it should add groups or not.

[2016-06-02 17:46] pmorie commented on #6589
I think we can close this now that #25285 will be in 1.3

[2016-06-02 17:52] janetkuo commented on #26204
@gmarek is there a `kube-controller-manager.log` for this?

[2016-06-02 17:57] nikhiljindal opened #26723 "include federation e2e in merge bot testing"
We should include federation e2e in merge bot testing, so that we can catch PRs that break the test.
We need to ensure that it is 100% green before doing this.

@colhom Can you take this up?

cc @kubernetes/sig-cluster-federation

[2016-06-02 18:02] quinton-hoole commented on #26723
I can take this.  Lets focus on getting them all green first though.

[2016-06-02 18:04] caesarxuchao commented on #26403
@xiang90 no, I cannot reproduce it either. I don't know the machine type, I'm trying to find it out.

[2016-06-02 18:06] ihmccreery opened #26724 "v1.2 deployment tests panicking against v1.3 master"
E.g.

[code]

From https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.3-upgrade-cluster/174

You should be able to reproduce this by spinning up a v1.3 cluster and running v1.2 tests against it.

@janetkuo Can you please take a look?

[2016-06-02 18:07] ihmccreery commented on #22104
With https://github.com/kubernetes/kubernetes/pull/24428 and friends in, this is done.  They're not stable, but that's a separate issue.

[2016-06-02 18:07] #22104 closed

[2016-06-02 18:09] xiang90 commented on #26403
@caesarxuchao Sure. Thanks.

[2016-06-02 18:14] yujuhong commented on #23397
Docker 1.11.2 is out: https://github.com/docker/docker/releases/tag/v1.11.2

Fixes that may be relevant:
 - Fix a possible deadlock on image deletion and container attach
 - Fix an issue preventing container to be restarted after daemon restart
 - Fix an issue causing docker ps to hang on CentOS when using devicemapper (#22168, #23067)
 - Fix a bug preventing to docker exec into a container when u

[2016-06-02 18:15] ncdc commented on #26721
In the future, would you mind posting public links? 😄

From https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/26389/kubernetes-pull-test-unit-integration/28888/artifacts/junit_v1%2Cextensions-v1beta1%2Cfederation-v1alpha1_20160602-101104.stdout
[code]

[2016-06-02 18:15] caesarxuchao commented on #26403
I guess you've noticed there are two other calls to etcd to create objects before the line that returns the error, so the etcd cluter should have fully started.

[2016-06-02 18:16] colhom opened #26725 "Federation-e2e flake - federation-apiserver connection refused"
The kubernetes-e2e-gce-federation jenkins jobs in consistently flaking with the following output.

[code]

This is kubectl attempting to open a connection with the federation-apiserver via a loadbalancer service.

There are two possible underlying causes here, which are not mutually exclusive:
- federation-apiserver pod is not yet ready
- GCE loadbalancer has not finished initializing

I plan to r

[2016-06-02 18:17] vishh commented on #26566
Kubelet is looking at `/dev/xvda1` which is mounted at `/` and deciding
that the node has enough disk space. It is not detecting that docker daemon
is made to use `/dev/mapper/vg--ephemeral-ephemeral` which is mounted at
`/mnt/ephemeral`.

This might be a kubelet (or a cAdvisor) bug.

On Thu, Jun 2, 2016 at 6:05 AM, Alex Robinson <notifications@github.com>
wrote:

[2016-06-02 18:23] freehan opened #26726 "/var/log/kubelet.log is missing on master"
Use `journalctl -u kubelet` to view kubelet logs for now.

[2016-06-02 18:24] yifan-gu commented on #23773
Fixed by #24901

[2016-06-02 18:24] #23773 closed

[2016-06-02 18:24] bprashanth commented on #26687
Is this a route quota problem? i don't have master logs on gke or it would be obvious, but test logs are full of:
[code]

and kubernetes-scale only seems to have quota for 200 routes

[2016-06-02 18:26] jdc2172 commented on #2156
just wondering if this feature is still in the works

[2016-06-02 18:27] saad-ali commented on #20262
@sgotti No it will not. Only plugins that implement the attacher interface (GCE PD, AWS EBS, flex, etc.) will work with the attach/detach controller. Attach operation can be triggered from any machine in the cluster, whereas mount operations must be triggered by the node machine itself. Since plugins like RBD, ISCSI, NFS, etc. only implement the mounter interface and not the attacher interface, th

[2016-06-02 18:27] wojtek-t commented on #26644
We want to move due to performance reasons.
@spxtr - is anyone already working on it? Is there any ETA on it?

[2016-06-02 18:29] quinton-hoole commented on #26725
Thanks @colhom SGTM.

[2016-06-02 18:29] wojtek-t commented on #26204
@janetkuo - this is the same issue I reported in the other issue. It should be fixed by your PR that has just merged.

[2016-06-02 18:30] xiang90 commented on #26403
@caesarxuchao Yes. I found that out... So I asked for a reproduce... Also this test starts a one node etcd cluster, so there should be no unavailability issue.

[2016-06-02 18:31] wojtek-t commented on #26687
@bprashanth - it's not quota problem; it's just it takes a lot of time to create all routes (in 2000-node cluster it takes 60-90 minutes to create all).
With "NetworkUnavailable" condition, we simply don't schedule pods on nodes with that condition - see https://github.com/kubernetes/kubernetes/pull/26415 for details.

Also I don't know you you think we have quota for 200 - we have quota for 3100

[2016-06-02 18:35] andyzheng0831 commented on #26379
I had an offline discussion with @freehan and he will make a PR for the CNI change I mentioned above. We are not 100% sure the missed kubenet config is the root cause of this issue, but we have to first fix it and then continue debug.

[2016-06-02 18:36] k8s-merge-robot opened #26728 "[k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8309/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-02 18:36] Random-Liu commented on #26569
This may be relevant to https://github.com/kubernetes/kubernetes/issues/23397#issuecomment-223375960.

[2016-06-02 18:36] wojtek-t commented on #26687
I know where you took 200 routes.
kubernetes-scale != kubernetes-scalability [we have both projects]

[2016-06-02 18:37] bprashanth commented on #26379
We must either make --configure-cbr0 work without --network-plugin like it did before, or have it explode. Silently doing the wrong this is bad. IMO we should do the former, since people will also inevitably use it with --network-plugin=!kubenet.

[2016-06-02 18:39] bprashanth commented on #26379
It might also make sense to ditch the kubenet dependency alltogether on the master. All the imporatant pods don't need it because they use host networking, except fluent.

[2016-06-02 18:40] rootfs commented on #26141
thanks @fejta

so at least one of the flake has a different error than "container not found"
In [this](https://00e9e64bac492f2110a8acec7a1c545e0e722fb58644dc4284-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-gce-flaky%2F18051%2Fbuild-log.txt?qk=AD5uMEuMyunMxmBtqicPK3kC7IKj2n64e39OaU15F87vWPYL53Ylv5B5SbXQTMChkJ2v_0aC49qMnkVR4osGkSUvmtomZlSY7

[2016-06-02 18:40] gmarek commented on #26628
I saw this for the first time, so it might be a red herring.

[2016-06-02 18:43] roberthbailey opened #26730 "integration flake: timed out while in waitForPersistentVolumePhase"
Test failed with `panic: test timed out after 10m0s` and the relevant part of the stack trace is:

[code]

Logs: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25841/kubernetes-pull-test-unit-integration/28338/

[2016-06-02 18:44] gmarek commented on #26626
@bprashanth - it need not to be a centralized system;)

[2016-06-02 18:45] bprashanth commented on #26626
I believe that's called gcr.io :)

[2016-06-02 18:48] yujuhong commented on #26569
@Random-Liu what specific issue do think may have caused this?

[2016-06-02 18:48] Random-Liu commented on #26685
IIUC, the image inspect at "06:23:01" should be https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/image_puller.go#L83.
The pulling image event at "06:25:22" should be https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/image_puller.go#L108.

During them, no matter the operation failed or not, a event will be reported, and I don't think any of them wi

[2016-06-02 18:48] soltysh commented on #2156
It's still being worked on, unfortunately it didn't meet the 1.3 deadline so it'll sleep into 1.4.

[2016-06-02 18:50] ncdc commented on #26685
Is it using image puller or serialized image puller?

[2016-06-02 18:51] Random-Liu commented on #26685
@ncdc I heard that all our tests are using image puller. Is that not true?

[2016-06-02 18:51] ncdc commented on #26685
I don't know - hence the question

[2016-06-02 18:53] Random-Liu commented on #26685
If it is serialized image puller, then it makes much more sense. :)

[2016-06-02 18:56] lavalamp commented on #25831
This now needs to get plumbed through the GCI setup scripts, not salt.

[2016-06-02 18:57] yujuhong commented on #26685
@ncdc you're right. The tests ran on gke and we don't apply test settings there, so serialized image puller makes sense

[2016-06-02 18:59] yujuhong commented on #26685
The inactivity was just the queuing time at the serialized image puller.
[code]

[2016-06-02 19:01] Random-Liu commented on #26685
@yujuhong Yeah, I checked /cluster/gke/config-test.sh, it is really using serialized puller. :0

[2016-06-02 19:02] wojtek-t commented on #26685
@yujuhong - out of curiosity - where are those logs from? Also from kubelet.log or from somewhere else?

[2016-06-02 19:03] Random-Liu commented on #26685
I think she just filters out all the image pulling related log from `kubelet.log`.

[2016-06-02 19:03] yujuhong commented on #26685
@wojtek-t yes, they are from kubelet.log with `grep`

[2016-06-02 19:04] thenayr commented on #25368
I just ran into this same issue on a multi-AZ deployment.

Just another data point on how to debug this,  even though the pod shows as `ContainerCreating`,  if you run a `describe` on the pod ID,  you should see the volume issue show up in the events there..

[2016-06-02 19:05] Random-Liu commented on #26569
@yujuhong Just saw `docker ps` may hung in CoreOS. :P
So just mark here.

[2016-06-02 19:07] yujuhong commented on #26685
We should add more V(2) messages in the (serialized) image puller to make this clear, at the least.

[2016-06-02 19:08] bprashanth commented on #26687
Looks like we didn't collect logs from the nodes I'm interested in (default-pool-0):

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-large-cluster/38/

Executing cmd "for i in $(seq 1 150); do wget -q -T 1 -O - http://10.15.255.164:80 2>&1 || true; echo; done" in pod e2e-tests-services-ajhww/execpod
Unable to reach the following endpoints of service 10.

[2016-06-02 19:08] yujuhong commented on #26569
That's "CentOs" actually ;)

[2016-06-02 19:12] madhusudancs commented on #26656
@colhom Mentioned this on IM, but also pasting it here so that it is easier to keep track of.

`federated-up.sh` never succeeds if I run it before running `federated-push.sh` and this happens every time I run make quick-release, even on successive `federated-push.sh` runs. If I don't push, `federated-apiserver` pod just keeps crashing.

[2016-06-02 19:14] wojtek-t commented on #26687
Yeah  unfortunately - see https://github.com/kubernetes/test-infra/issues/100

[2016-06-02 19:16] ixdy commented on #26403
It's probably cause we're running too much at once on our Jenkins VMs. See #26420.

[2016-06-02 19:17] bprashanth commented on #26687
If only we had the master logs, we could track the exec at least. Are we running this on gce too?

[2016-06-02 19:19] madhusudancs opened #26731 "Federation API server is presenting incorrect TLS certs"
When I try to visit federation API server from Google Chrome, I get this error:

This doesn't happen for kube-apiserver though. This needs to be fixed. It is hard to do many types of debugging otherwise.

@nikhiljindal Please feel free to assign this to yourself.

cc @kubernetes/sig-cluster-federation @nikhiljindal @quinton-hoole @colhom

[2016-06-02 19:20] Random-Liu commented on #26569
@yujuhong @_@ I need better glasses.

[2016-06-02 19:21] wojtek-t commented on #26687
@roberthbailey - can we access master logs from today runs of gke-large jenkins suite somehow (I know there is a missing feature in GKE, but does it means that we completely don't have them or they aren't just easy to access)?

[2016-06-02 19:23] bprashanth commented on #26687
Oh wait i think i know how to do that internally, but there might be another bug with fluentd on the master

[2016-06-02 19:23] gmarek commented on #26687
@wojtek-t - sadly I'm afraid: #26379

[2016-06-02 19:24] caesarxuchao commented on #26628
Might be caused by running too much tests at once on Jenkins VMs. See https://github.com/kubernetes/kubernetes/issues/26420

[2016-06-02 19:26] wojtek-t commented on #26687
Yeah - but does it mean that logs are completely unavailable or more difficult to access

[2016-06-02 19:36] ixdy commented on #26420
I'm trying to figure out how to remedy this.

Looking at Jenkins, we don't appear to be swapping, so I don't think we're being memory-limited.

We could play with Docker resource limits, but I don't know how much that will help - we should theoretically already be sharing CPU equally among the various containers.

We might be hindered by the somewhat old kernel we're using (3.16), as evidenced by

[2016-06-02 19:40] ixdy commented on #26420
(we're also still using a pretty old version of docker - 1.9.1.)

[2016-06-02 19:46] derekwaynecarr commented on #26663
@pmorie - i couldnt find the PR at the time, I remember us discussing this.

we should update `kubectl create secret` preserve names now to take advantage of this?

[2016-06-02 19:47] janetkuo opened #26732 "Broken test run: kubernetes-pull-build-test-e2e-gce - 43000"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/43000/
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26727/kubernetes-pull-build-test-e2e-gce/43000/?pli=1

[code]

@kubernetes/test-infra-maintainers

[2016-06-02 19:54] janetkuo commented on #26728
Correct link: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/8309/

It seems that the ns finalizers isn't empty prior to final deletion. cc @kubernetes/sig-api-machinery

[2016-06-02 19:56] therc commented on #21526
I'm implementing this because it keeps annoying me, but we actually go above 16 characters already when there are multiple IPs (Ingresses), even without -o wide. I know because I added the ellipses as @thockin suggested, but now the last testcase in TestPrintHumanReadableService() fails. It has three ingresses. Do I fix the test and keep 16 as the limit? Do I bump that to something larger, so the

[2016-06-02 19:58] spxtr commented on #26732
That was me, the PR Jenkins master crashed and I had to reboot it. Sorry about that, should be healthy now.

[2016-06-02 20:23] smarterclayton opened #26736 "Bump googleapi dependencies to a newer version (post april) for 1.3"
The GCS, GCE, and Google OAuth dependencies within Kube are fairly old (january) - it may be a good idea to bump them now for 1.3 so we are more closely tracking the upstream code.  In addition, some of the OAuth API calls have changed significantly since January, and it makes it hard to integrate other tools that depend on those APIs within Kube.

[2016-06-02 20:24] mml commented on #20576
And again

[2016-06-02 20:24] derekwaynecarr commented on #25382
@deads2k - I can see that.   I see that I was somewhat contradictory in my thinking.  Either way, I like the idea of supporting the bare minimum amount of flags possible, and so I was reconciling that with our ability to change the `--type` of a service post creation (which I think was a mistake in the API).

[2016-06-02 20:25] smarterclayton commented on #26736
@kubernetes/sig-api-machinery (I don't actually know what the equiv of the AWS / OpenStack groups is for the google APIs) @alex-mohr

[2016-06-02 20:25] nikhiljindal commented on #26656
How about federated-up.sh detecting if the image with that ID exists and if not, it automatically calls federated-push.sh?

[2016-06-02 20:26] smarterclayton commented on #26736
@kubernetes/rh-platform-management @ncdc

[2016-06-02 20:28] smarterclayton commented on #26728
Were there any changes to namespace controller recently? @derekwaynecarr

[2016-06-02 20:29] timstclair commented on #23545
Also saw this, on GCE e2e builder: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26735/kubernetes-pull-build-test-e2e-gce/43011/
[code]

[2016-06-02 20:33] timstclair commented on #26649
Can you try patching in the commits from https://github.com/kubernetes/kubernetes/pull/26735 and seeing if you can still reproduce the issue? (note that it will force you to update the sudo credentials). Make sure that you don't have any lingering node services before you start:
[code]

[2016-06-02 20:34] madhusudancs commented on #26656
That solves one part of the actual problem and we should do that nevertheless. However, the other part of the problem is pushing the images themselves. It should not be necessary to push the images every time, esp. when nothing has changed. From what @colhom described here it looks the current behavior is not intentional. We should debug that.

[2016-06-02 20:35] janetkuo commented on #26732
Oh good! Closing now.

[2016-06-02 20:35] #26732 closed

[2016-06-02 20:36] egustafson opened #26739 "Incorrect meeting time in SIG Cluster Ops page"
The meeting near the top of the sig-cluster-ops page (https://github.com/kubernetes/kubernetes/wiki/SIG-Cluster-Ops) incorrectly states _Friday_.   The correct meeting time is *Thursday*.  The correct day is stated at the bottom near the Hangouts link.

[2016-06-02 20:42] janetkuo commented on #26724
Yes I can reproduce it. Looking now.

[2016-06-02 20:42] roberthbailey commented on #26503
Have we seen this since https://github.com/kubernetes/kubernetes/pull/26564 merged 2 days ago?

[2016-06-02 20:43] soltysh commented on #26736
@alex-mohr I think Clayton meant you

[2016-06-02 20:52] smarterclayton commented on #26736
I forgot to add: the potential impact is GCE cloud provider soak time - ensuring we don't regress when the new GCE/GCS/etc libraries are pulled in.

[2016-06-02 20:53] nikhiljindal commented on #26704
Thanks @nebril for filling the issue and sending a PR!

Am curious if you are using discovery summarizer?

[2016-06-02 20:56] yujuhong commented on #26209
Yes, thanks to the other issue, now I remember that kubelet pulls image serially on gke. The gap was probably just the wait/queuing time at the image puller.

[2016-06-02 20:58] yujuhong commented on #26209
Closing as a dup of #26685

[2016-06-02 20:58] #26209 closed

[2016-06-02 21:00] bprashanth commented on #23545
Yeah it's starting again: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26734/kubernetes-pull-build-test-e2e-gce/43010/

[code]

@kubernetes/goog-testing

[2016-06-02 21:00] roberthbailey commented on #26453
The first thing that kubectl.sh does it source `cluster/kube-util.sh` which defaults to using gce as the `KUBERNETES_PROVIDER` unless something else has been specified. I'm actually confused as to why this worked at all even when you set `OS_DISTRIBUTION=debian`.

@dcbw / @mak3r -- If you replace `KUBECTL=${KUBECTL:-cluster/kubectl.sh}` with `KUBECTL=${KUBECTL:-kubectl}` (to just pick kubectl from

[2016-06-02 21:05] erictune commented on #25650
@resouer @dalanlan @yeasy @ZhangZhenhua can one of you help debug this issue?

[2016-06-02 21:07] bacongobbler commented on #26623
dupe of https://github.com/kubernetes/kubernetes/issues/26104, which has been fixed in HEAD.

[2016-06-02 21:11] k8s-merge-robot opened #26740 "Broken test run: kubernetes-e2e-gke - 8317 [5 failures]"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8317/

Multiple broken tests:

Failed: [k8s.io] DNS should provide DNS for services [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26168

Failed: [k8s.io] Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive {Kubernetes e2e suite}

[code]
Issues about

[2016-06-02 21:12] derekwaynecarr commented on #26728
@smarterclayton - none made by me.  @caesarxuchao - did you make any changes, or is any of your finalizer or orphaning work related?

[2016-06-02 21:29] spxtr commented on #23545
It should be fixed. There was about half an hour where the metadata cache wasn't running on the master, but it should be fixed now.

[2016-06-02 21:38] ihmccreery commented on #26594
https://github.com/kubernetes/kubernetes/pull/22149#issuecomment-202508316 seems to be the problem; removing these calls fixes the problem:

[code]

@ncdc authored #23445, which I think we should backport to 1.2 and 1.1 if possible.

[2016-06-02 21:39] a-robinson commented on #26739
Fixed, thanks.

[2016-06-02 21:39] #26739 closed

[2016-06-02 21:43] ncdc commented on #26594
@ihmccreery yeah that sounds like a correct analysis re closing stdout/stderr. But are 1.2 and 1.1 built with go 1.6?

[2016-06-02 21:47] k8s-merge-robot opened #26742 "kubernetes-e2e-gke: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8317/

Multiple broken tests:

Failed: [k8s.io] DNS should provide DNS for the cluster [Conformance] {Kubernetes e2e suite}

[code]
Issues about this test specifically: #26194 #26338

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl cluster-info should check if Kubernetes master services is included in cluster-info

[2016-06-02 21:47] k8s-merge-robot opened #26743 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1407/

Multiple broken tests:

Failed: [k8s.io] SchedulerPredicates [Serial] validates that embedding the JSON PodAffinity and PodAntiAffinity setting as a string in the annotation value work {Kubernetes e2e suite}

[code]

Failed: [k8s.io] SchedulerPredicates [Serial] validates MaxPods limit number of pods

[2016-06-02 21:48] k8s-merge-robot opened #26744 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1411/

Failed: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}

[code]

[2016-06-02 21:51] ihmccreery commented on #26594
No, they aren't, but when Kubectl v1.3 is, so when running v1.2 tests with a v1.3 Kubectl, the new SIGPIPE logic applies, IIUC.

[2016-06-02 21:59] yujuhong commented on #26744
Already fixed by #26711, and the next build is green.

[2016-06-02 21:59] #26744 closed

[2016-06-02 22:00] yujuhong commented on #26726
This is a known issue. @kubernetes/goog-image

[2016-06-02 22:05] caesarxuchao commented on #26728
My work is disabled by default, and thus disabled in the e2e tests. I'll take a look.

[2016-06-02 22:07] adityakali commented on #26726
There is no plan to bring back /var/log/kubelet.log. All logs (even for other /var/log/kube*.log files in future) will be available in journald.

[2016-06-02 22:08] yujuhong commented on #26743
Many fixes went in and the latest build is green. Closing this for now.

[2016-06-02 22:08] #26743 closed

[2016-06-02 22:10] andyzheng0831 commented on #26726
It is an issue for log collection via fluentd, as we really need some code change to bridge it. We already logged an internal issue for it. But for manual log check, it is arguable whether it is an issue. Using "journalctl -u kubelet" can see the log.

[2016-06-02 22:13] ncdc commented on #26594
I think the PR of mine you referenced only has to do with the e2e tests vs
the go version. I don't think the kubectl version matters, does it? Have
you tried running the 1.2 e2es compiled with go < 1.6 along with a 1.3
kubectl?

On Thursday, June 2, 2016, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-06-02 22:13] spxtr commented on #23545
Ok, fixed now. Sorry about that.

[2016-06-02 22:15] esthermofet commented on #26292
Thanks for the help, @freehan. This definitely appears to be an issue of configuration on our side.

But now we need clarity on what's managing routes for the service CIDR. That is, with the service and flannel CIDRs now separated, what's managing service routing on nodes? Automatic with Kubernetes but dependent on a switch we'd missed? Or should we be adding the route manually to our Nodes?

For

[2016-06-02 22:20] lavalamp commented on #26135
I think this is probably mostly the image pulling thing. @beeps is that
your assessment, too?

On Thu, Jun 2, 2016 at 8:53 AM, k8s-merge-robot <notifications@github.com>
wrote:

[2016-06-02 22:26] janetkuo commented on #26724
The problem is that the hash value of `newRSTemplate` is different from the hash value new RS has.

[2016-06-02 22:29] lavalamp commented on #19033
The thing *I* want a private registry for is a place to push a complete set
of test containers, so we consistently test our addons from head instead of
from whatever was built and pushed last.

Pushing to a bucket in gcr.io would work for our own runs, but is not
convenient for the tests run outside of google.

On Thu, May 26, 2016 at 4:32 PM, Brian Grant <notifications@github.com>
wrote:

[2016-06-02 22:32] roberthbailey commented on #26687
It means that logs are available as long as the master is running, but aren't persisted into google cloud logging for review once the test has completed and the master is gone.

[2016-06-02 22:34] xiang90 commented on #26185
@wojtek-t We can reproduce this issue now. etcd server was fine. All get requests were finished under 50ms in etcd server.

But at k8s side, we observed more than 500ms e2e latency. So the path from etcdserver to k8s took most of the time. We are still looking into the issue. Just a quick reply so that people do not need to look into etcd server for this specific issue.

[2016-06-02 22:35] lavalamp commented on #26390
We need to test the client side of container pulling, but not the server
side. That means that we need to actually be calling `docker pull`
*somewhere*, even if we pre-populate most images. If we test `docker pull`
once per test run instead of (number of tests) per test run, then we won't
need 5 9's from our container source.

Basically I'm saying that it's OK to cheat by mounting a PD or whatever

[2016-06-02 22:49] xiang90 commented on #26403
@ixdy That is possible. I will run a for loop with this test to see if CPU starvation can trigger it.

[2016-06-02 22:59] caesarxuchao commented on #26682
This is a duplication of #26728, I'm looking into it.

[2016-06-02 23:00] vishh opened #26748 "Node e2e framework killing issues"
Node e2e framework starts the kubelet, apiserver and etcd as root [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L129), but attempts to kill those processes as a non-root user [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/e2e_service.go#L80)

cc @kubernetes/sig-node

[2016-06-02 23:00] vishh commented on #26748
cc @mtaufen

[2016-06-02 23:00] caesarxuchao commented on #26699
The failed namespace deletion is #26728, which I'm investigating.

[2016-06-02 23:03] caesarxuchao commented on #26728
All the flakes so far occur in gke-e2e. @kubernetes/goog-gke will gke has anything to do with the flake?

The gke e2e tests don't have master logs, so it's very hard to debug.

[2016-06-02 23:08] therc commented on #21526
Forget it, I'm making more changes so it tests printing the service in both narrow and wide output. For narrow output, we only guarantee the first address to be printed in the 16 characters (yet more fun to be had with IPv6).

[2016-06-02 23:09] freehan commented on #26292
kube-proxy does the "routing" for services. How it worked is an implementation detail. In iptables mode, it will manage iptables rules to DNAT service traffic to backend pods. And flannel should take it after that.

[2016-06-02 23:14] bprashanth commented on #26685
@vishh want to start with https://github.com/kubernetes/kubernetes/pull/18986 for GKE?

[2016-06-02 23:15] thockin opened #26750 "pkg/util/deployment isn't a util, it should live near deployments"
pkg/util should really be code that is used in many places and is plausibly generic.

@nikhiljindal

[2016-06-02 23:15] fejta commented on #26644
This will happen once the jenkins PR jobs are under source control

[2016-06-02 23:16] therc commented on #18019
See #26749 for a potential fix

[2016-06-02 23:24] bprashanth commented on #26678
@kubernetes/goog-testing i think the url regex is wrong, I can't get anywhere with it but looking it via kubekins worked out:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/18005/

[2016-06-02 23:28] jlowdermilk commented on #26639
This looks like a transient failure in IAM handler. Not sure what would cause.

[2016-06-02 23:38] jlowdermilk commented on #26639
Looking at internal logs these appear to correspond with IAM lookup failures. The errors are transient so this may be a case of insufficient retry.

[2016-06-02 23:40] girishkalele opened #26752 "Add reverse DNS records for petset pods (with hostname and subdomain set AND a governing headless service"
Followup to enhance functionality from #26226

[2016-06-02 23:42] jlowdermilk commented on #26639
IIRC, @cjcullen mentioned that unauthorized gets cached for 30s. However, if there was an error looking up permission, that shouldn't be cached. I think the caching may be amplifying permission denied from transient lookup failures.

[2016-06-02 23:43] karlkfi commented on #26721
@jdef is this solved by #24916 ?

[2016-06-03 00:03] lavalamp commented on #26376
I believe it's a threading bug. the lookup cache could call LRU's Get method concurrently, but it is calling this: https://golang.org/pkg/container/list/#List.MoveToFront which does not look threadsafe.

@mqliang do you have time to make a patch?

[2016-06-03 00:04] #26526 closed

[2016-06-03 00:06] xiang90 commented on #25513
I will try to reproduce this too.

[2016-06-03 00:07] therc commented on #26376
Since this is happening to my cluster all the time, I can give it a shot tomorrow morning, in exchange for a review or two of my.oldest pending PRs. :-)

[2016-06-03 00:10] dchen1107 commented on #26626
@girishkalele I am assigning this one to you since you are debugging on the network connectivity issue here. Once you have the small program ready to detect the network connectivity / slowness issue, we need to make it run on every test nodes.

[2016-06-03 00:12] janetkuo commented on #26724
Somehow the hash function we use to calculate pod-template-hash is different in 1.2 and HEAD:

**1.2 cluster**:
[code]
**HEAD cluster**:
[code]

[2016-06-03 00:13] lavalamp commented on #26376
@therc haha--none of them are assigned to me but I can annoy someone in person for you ;)

[2016-06-03 00:16] therc commented on #26376
Actually, two need rebasing, so that only leaves us another two.

[2016-06-03 00:21] lavalamp commented on #26453
Yeah, local-cluster-up shouldn't be sourcing the GCE scripts.

Idea: ...maybe we should make "local" be its own distribution, remove the
local-cluster-up script, and just have everyone do
`KUBERNETES_PROVIDER=local cluster/kube-up.sh`-- it would be more
consistent.

On Thu, Jun 2, 2016 at 2:00 PM, Robert Bailey <notifications@github.com>
wrote:

[2016-06-03 00:24] girishkalele commented on #26626
@dchen1107

Almost there - we need to discuss how to package the new binary and run it during node init.

Proposed nethealth functionality

The nethealth binary performs a quick HTTP GET download speed check
Key Features:
   - Shell-script friendly - returns a non-zero exit code on timeout or corruption or bandwidth threshold failures
   - Timeout configurable to abort the test early (for super sl

[2016-06-03 00:27] timstclair commented on #26748
Fixed by https://github.com/kubernetes/kubernetes/pull/26735

[2016-06-03 00:27] xiang90 commented on #26185
@wojtek-t Traced down more: at etcd-server side, list request processing latency was OK (all < 50ms). At k8s side, etcd-client sometimes took 500ms to finish the HTTP request (> 100ms) + unmarshal (> 100ms) it to JSON. So I suspect there was resource starvation happened on API server. Average CPU usage was not high. But it did have observable spikes. Shall we try to figure out why API server was s

[2016-06-03 00:27] lavalamp commented on #26691
Sounds fine to me. Suggestion: maybe wait like 20 more seconds rather than
the full timeout.

On Thu, Jun 2, 2016 at 12:56 AM, Marek Grabowski <notifications@github.com>
wrote:

[2016-06-03 00:29] dalanlan commented on #25650
@ryansavino Seems apiserver is not working, would you mind showing me the log of that?

[2016-06-03 00:31] dchen1107 commented on #25993
Status on this one? A lot of issues depend on this one here.

[2016-06-03 00:33] lavalamp commented on #26628
look for evidence of apiserver having crashed-- @wojtek-t fixed something
similar recently.

On Thu, Jun 2, 2016 at 12:24 PM, Chao Xu <notifications@github.com> wrote:

[2016-06-03 00:36] bgrant0607 commented on #26512
Closing in favor of kubernetes-dev thread.

[2016-06-03 00:36] #26512 closed

[2016-06-03 00:39] dims commented on #26453
@lavalamp :) exactly what i said in https://github.com/kubernetes/kubernetes/issues/26453#issuecomment-222264005 So +1 from me

[2016-06-03 00:48] ryansavino commented on #25650
Here's the output from /var/log/upstart/kube-apiserver.log:
I0602 17:47:23.661928    9434 server.go:188] Will report 10.1.70.40 as public IP address.
I0602 17:47:23.662012    9434 plugins.go:71] No cloud provider specified.
I0602 17:47:23.662123    9434 server.go:112] constructing etcd storage interface.
  sv: v1
  mv: __internal
I0602 17:47:23.662210    9434 genericapiserver.go:82] Adding storage

[2016-06-03 00:55] janetkuo commented on #26724
I made some experiment to confirm my doubt:

An ObjectMeta API change is made in #23928.
- Running in commit 4562a26d3449eec8481214d198e904a3883d5c5f (where the API change is made) gives me pod-template-hash = `2356193215`
- Running in commit 9b5795dd55a186be0d6df14be8436070d2092eb3 (the last commit before the API change) gives me pod-template-hash = `1083215298`

Since pod-template-hash is calcul

[2016-06-03 00:56] resouer commented on #23335
cc @feiskyer

[2016-06-03 00:58] ncdc commented on #26594
Nevermind, maybe... I think you're right 😄

[2016-06-03 01:13] pwittrock commented on #26703
cc @janetkuo

Are you creating the patch through kubectl?  I believe the annotation is applied by the kubectl client, not defaulted in the server.

[link to code](https://github.com/kubernetes/kubernetes/blob/0a6a52b19ddddc4ee0893b5841b944e640ea70e8/pkg/kubectl/cmd/util/helpers.go#L447)

[2016-06-03 01:14] pwittrock commented on #26623
Marking this as closed since it is a dup

[2016-06-03 01:14] #26623 closed

[2016-06-03 01:17] ixdy commented on #26678
@bprashanth links should be fixed for new issues now.

[2016-06-03 01:40] anguslees commented on #25862
@lavalamp: This is an OpenStack-specific feature that would allow the OpenStack cloud provider to work with a set of credentials that only have limited privileges rather than the full username+password.  It's a good thing :)

It seems I don't have the power to add an `area/platform/openstack` label to this issue - it would be great if someone who was suitably blessed could do so.

[2016-06-03 01:41] bgrant0607 commented on #8817
We need to undo #9545

[2016-06-03 01:44] bgrant0607 commented on #8817
A search shows a number of uses:
https://github.com/kubernetes/kubernetes/search?utf8=%E2%9C%93&q=%22kubectl.sh%22&type=Code

We need to make it clear to users that this is deprecated (print the warning, remove it from docs), and ensure we can eventually delete the copy of the script in /cluster, by eliminating our uses of it.

[2016-06-03 01:48] a-robinson commented on #26639
Yeah, we're mapping internal errors to 404s, which would appear to be a design flaw that should be changed.

[2016-06-03 01:48] a-robinson commented on #26639
cc @cjcullen

[2016-06-03 02:02] ZhangZhenhua commented on #25650
This error message seems suspicious. Might duplicated with #23385.

[2016-06-03 02:07] dalanlan commented on #25650
The problem of iptables kube-proxy should not harm apiserver though.
It's clear that kubectl cannot talk to apiserver itself

Sent from myMail for iOS

Friday, June 3, 2016, 10:03 +0800 from notifications@github.com  <notifications@github.com>:

[2016-06-03 02:09] ryansavino commented on #25650
I actually resolved this issue:

by upgrading to a later kernel and installing the module.

[2016-06-03 02:24] dims commented on #26376
@mqliang @249043822 - Is this issue caused by this change? https://github.com/kubernetes/kubernetes/commit/49f4f242a8fd1ff5b4d5e73dda3948005a529f63

(since LRU cache modifies the linked list even for a get, we should use WLock for both read and writes?)

[2016-06-03 02:25] dims commented on #26376
LOL looks like @mqliang beat me with a PR by 2 mins

[2016-06-03 02:31] #26204 closed

[2016-06-03 02:41] a-robinson commented on #26728
Sorry about the missing logs, it's being worked on in #26379.

[2016-06-03 03:41] pwittrock commented on #26317
@chrislovecnm Where did you see to put the persistentVolumeReclaimPolicy to Recycle?  Was this a case of using dangerous settings in our documentation examples?  Does our PV documentation need to be more explicit about the consequences of this settings (e.g. ***WARNING: This will cause all data on the Volume to be deleted when deleting the object.  Only do this if you are absolutely sure this is w

[2016-06-03 03:47] pwittrock commented on #25605
cc @pwittrock

[2016-06-03 03:54] pwittrock commented on #26431
@dchen1107 yes I am working on getting all the images publicly accessible

[2016-06-03 03:59] roberthbailey commented on #8817
/cc @krousey (since we were talking about this today)

[2016-06-03 04:19] hongchaodeng commented on #26185
I was reproducing the failure every ~20 runs.
After switching to etcd3 backend as below:
[code]
I am able to succeed 120 continuous runs. Just stop the script now.

I guess grpc and no unmarshaling of json might help offload cpu a bit. Again, the notable evidence is still Xiang's above comments about observing high latency requests in client (apiserver) but not in server.

[2016-06-03 04:36] metral opened #26760 "gcloud firewall-rules delete failing due to missing resources"
`Jenkins GCE e2e` is hitting the following errors:

[code]

[2016-06-03 04:40] chrislovecnm commented on #26317
I either re-used an example, or copied directly from the docs on this page. http://kubernetes.io/docs/user-guide/persistent-volumes/

Admittedly I am a verbal / kienostetic learner, so I did not read the docs well. I would say change the example on that page, or put a comment the reclaim policy.

I am guessing that we don't want to put prompts into kubectl, but admittedly
rm -rf /* on a lot of pla

[2016-06-03 05:05] mbhinder commented on #23933
https://github.com/GoogleCloudPlatform/gsutil/issues/348 has now been fixed, this can be closed.

[2016-06-03 05:26] gmarek commented on #26185
Yeah - we expected that switching to etcd3 might solve this problem. Now that we have confirmation we have another reason to move sooner rather than later.

[2016-06-03 05:28] mkumatag commented on #25862
I don't really understand what help is needed here! I already see a WIP PR - https://github.com/kubernetes/kubernetes/pull/26037 out for review. The only thing we need to do here is wait for rackspace/gophercloud#580 to merge and merge kubernetes PR(https://github.com/kubernetes/kubernetes/pull/26037)

[2016-06-03 05:43] #26489 closed

[2016-06-03 05:58] madhusudancs opened #26762 "Ubernetes e2e flakes"
I am opening this master/umbrella issue to track Ubernetes e2e test flakes. I think this issue is sufficient right now. But as we make progress we might have to fork this into sub-issues.

This issue is not just about the e2e tests themselves but also includes infrastructure related flakes such as bringing up the clusters, bringing up the federation control plane, etc.

Here is one flake that I am

[2016-06-03 06:13] wojtek-t commented on #26185
@xiang90 - thanks a lot for debugging; I agree that sometimes it's a problem in apiserver, but I've also seen long latencies in etcd. But you may be right that it can be because of cpu starvation.

@hongchaodeng - thanks a lot for experimenting with etcd3 - this is a really good sign;
So one question at this point - did you have a change to run some tests on large clusters in etcd3 (I mean 1000 no

[2016-06-03 06:18] xiang90 commented on #26185
We pull the metrics status from etcd server too. It is not significant compared to the latency API server reported (basically etcd-cleint + etcd-helper in storage layer).  JSON unmarshal is more expensive than marshal. Probably that can explain it.

[2016-06-03 06:25] wojtek-t commented on #26185
@xiang90 - so you suggest that this particular trace:
https://github.com/kubernetes/kubernetes/issues/26185#issuecomment-223262740

(in particular, I'm talking about these 2 lines;
[code]
)

(which I've seen a bunch of similar all over the different runs)

we should interpret as:
- etcd was relatively fast
- but when the response came to apiserver, the etcdclient that was pasing the response itsel

[2016-06-03 06:25] quinton-hoole commented on #26762
@madhusudancs I saw similar symptoms today, but it turns out the I'd reached the quota on my project.  Do you have sufficient quota (specifically I had the default quota of 24 cores, and the federation requires more than that).  I trivially increased my quota with an increase request, which got automatically approved within a few seconds.

[2016-06-03 06:29] madhusudancs commented on #26762
@quinton-hoole I have a higher quota limit in the region where I am spinning up a federation. Btw, this is a single cluster federation.

[2016-06-03 06:30] wojtek-t commented on #26691
I think that we shouldn't stop as soon as we have 99% of nodes. But I agree with @lavalamp that waiting at most X from the time when we have 99% of nodes sounds like a good idea.

[2016-06-03 06:30] #14642 closed

[2016-06-03 06:39] xiang90 commented on #26185
[code]

We observed similar thing. So etcd-client (1) <->etcd-server (2) <-> etcd-client (3).

(2) took less than 100ms. We observed this inside etcd-server, measuring from when received the HTTP header to flush out the body.

So (1) + (3) took the other 400ms+. In this 400+ms, json unmarshal in (3) took 100+ms. The other parts are HTTP overhead + something else like waiting on scheduling.

[2016-06-03 06:40] adohe opened #26763 "massive proto logs when kubectl apply fail"
FYI. I am playing with init containers, found this when do apply failed:

[code]

[2016-06-03 06:40] xiang90 commented on #26185
Yes. I read the code and understand this. I was talking about parsing the JSON http response body in etcd client inside API server.

[2016-06-03 06:43] wojtek-t commented on #26185
@xiang90 - thanks for clarification;

So one more question - you (or @hongchaodeng ?) wrote somewhere above that you are able to reproduce it in ~5% of runs. Did you try increasing the master machine from n1-standard-1 to e.g. n1-standard-2 and see if that helps?

[2016-06-03 06:46] AdoHe commented on #26763
Also refer #26202.

[2016-06-03 06:47] xiang90 commented on #26185
No, we did not. We will try tomorrow.

[2016-06-03 06:51] nhlfr commented on #24957
I have no strong preference about "intentional API vs POSIX" problem. The only proposition I'm opposed is using any king of exec or scripts as a workaround. Docker has `docker kill --signal`, rkt has the issue where the idea of supporting custom signals is considered coreos/rkt#1496. I'd prefer to go with these features.

@pmorie sorry for my ignorance, but what exact non-Linux platforms we have t

[2016-06-03 06:59] ltiao opened #26764 "Kubernetes Guestbook Example with Flask/NGINX"
The official Kubernetes walkthrough guide often points to the guestbook application as a starting point for deploying a simple, but complete, multi-tier web application. The only thing is that the frontend is implemented in PHP. I think it would be much more useful and relatable if there existed an example implementation with a more modern paradigm/framework (Node.js, Flask/Django, Rails, etc.)

I

[2016-06-03 07:18] #2049 closed

[2016-06-03 07:20] wojtek-t commented on #26185
@xiang90 - thanks

I've sent out https://github.com/kubernetes/test-infra/pull/104 to see if that will help (yesterday the flakiness rate was extremely huge).

[2016-06-03 07:35] quinton-hoole commented on #26762
For the record, my three clusters came up fine, but then I got the following.  Will debug some more in the morning:

[code]

[2016-06-03 07:42] mfanjie commented on #26608
versioned clientset works with #26493 code merged.
I made patch for the discussions in this issue by #26694

[2016-06-03 07:53] quinton-hoole commented on #26762
PS:  It looks like the images are not where they should be:

[code]

[2016-06-03 08:02] jsafrane commented on #26682
This does not seem to be related to persistent volumes, the test is unable to delete a namespace:

[code]

The namespace might contain a PersistentVolumeClaim or pods in various stages of termination, however it should be possible to delete it without errors.

Thanks @caesarxuchao for looking into it.

[2016-06-03 08:15] quinton-hoole commented on #26762
I'm pretty sure that this is operator error on my part.

I ran this:

[code]

and after all three clusters came up cleanly, I got this...

[code]
So (stupidly), rather than tearing the whole lot down and starting over, I ran this:

[code]
and got this:

[code]

I'm busy tearing it all down and starting from scratch, with the correct env vars.

[2016-06-03 08:16] madhusudancs commented on #26762
Please don't close this issue until we are reasonably confident that this isn't a flake. If it works once that doesn't mean it is not a flake. Also, this is an umbrella issue.

[2016-06-03 08:25] jsafrane commented on #26730
@fejta (or anyone), integration tests do not log much and I don't know what's going on in volume controller. Would it be possible to raise integration test log level at least to v=3 (4 preferred)?

[2016-06-03 08:41] madhusudancs commented on #26762
@quinton-hoole Did you also run `federation/cluster/federation-push.sh` before running `federation/cluster/federation-up.sh` or `hack/e2e.go --up`? Also, please see the discussion here - https://github.com/kubernetes/kubernetes/issues/26656

[2016-06-03 08:46] jellonek commented on #26102
As I announced on IRC channel - I'll try to prepare PR with proposal of interface for cgroups/vm based containerization engines, for first of them returning actual type of result, for second one - configuring tap devices and appending their device file locations into rest of result dictionary.
(with initial reference to https://github.com/containernetworking/cni/blob/master/SPEC.md - in mentioned

[2016-06-03 08:55] feiskyer commented on #26102
@jellonek Great work. Ping me pls when the PR is ready.

[2016-06-03 09:13] piosz commented on #26149
The test hasn't failed for a while with message that suggests problems with HPA. Closing as obsolete.

[2016-06-03 09:13] #26149 closed

[2016-06-03 09:17] piosz commented on #26151
The second failure is unrelated. There was some problem with starting pods.

The test haven't failed for a while with message that suggests problems with HPA. Closing as obsolete.

[2016-06-03 09:17] #26151 closed

[2016-06-03 09:30] amitbitcse opened #26769 "Grafana not showing POD graphs and Autoscaling not working"
Docker Version - 1.11.1
Kubectl Version - 1.1.8
OS - Windows 7 (Installed Docker using Docker Toolbox version 1.11.1)

I am Running Kubernetes locally via Docker (https://github.com/kubernetes/kubernetes/blob/release-1.1/docs/getting-started-guides/docker.md) with below modifications:
1. Changed --hostname-override="127.0.0.1" to --hostname-override="192.168.99.100"
2. Changed --config=/etc/kubern

[2016-06-03 09:36] nhlfr commented on #26453
@lavalamp +1, good idea

[2016-06-03 09:54] reallax commented on #17505
Does this problem fixed up? I use version of v1.2.4,it's still miss the file hack/local-up-cluster.sh.
It's confusing for newcomer, and how can I fix it?

[2016-06-03 10:01] gmarek opened #26770 "kube-addon-manager is using ~2CPUs"
It wakes up every 10 seconds and bursts the usage to 2CPUs when it available.

It's shouldn't cause any problems, as it has only 5 CPU shares, but it seems a lot for a process that monitors the status of few addons. I'm not sure how well it behaves when it's starved on CPU - it may be worth rewriting it to go (or anything other than bash really).

cc @wojtek-t @davidopp @mikedanese @luxas @thockin

[2016-06-03 10:07] Draiken commented on #26703
Yes, I'm using kubectl.

From what I understood, it takes the `Command()` string from the cobra command, annotates the object with it and sends it to the server. Maybe it's because it's using jsonpath instead of the more common merge strategy? I really don't know

[2016-06-03 10:08] wojtek-t commented on #26770
Actually what this script is doing is terrible - it shouldn't be required to e.g. spawn multiple python process just to ensure that addons are running in a correct version...

[2016-06-03 10:10] #26499 closed

[2016-06-03 11:02] #26300 closed

[2016-06-03 11:13] pigmej commented on #25234
@janetkuo I focused currently on a bit different stuff, sorry. So I will start/finish it later. If anyone want to take over this one, feel free for now.

[2016-06-03 11:53] piosz commented on #21577
Re-adding milestone. The status is:
- the last PR is in flight #26775
- not sure whether there is any way to deprecate API; @lavalamp any thoughts
- issues raised by @DirectXMan12 are not a blocker for this, creating separate issue

[2016-06-03 11:58] piosz opened #26776 "Handle properly scaleTargetReference in HPA controller"
Raised by @deads2k in https://github.com/kubernetes/kubernetes/issues/21577#issuecomment-199379149

cc @fgrzadkowski @jszczepkowski @mwielgus @kubernetes/autoscaling

[2016-06-03 12:34] feiskyer commented on #24689
@yujuhong This issue could be closed.

[2016-06-03 12:42] jszczepkowski commented on #23536
Should be fixed by #25726.

[2016-06-03 12:42] #23536 closed

[2016-06-03 12:47] gmarek commented on #25872
Fixed by #26533

[2016-06-03 12:47] #25872 closed

[2016-06-03 12:47] deads2k commented on #26776
To add some detail here.  The code currently assumes that it can make a lexical conversion between kind and resource, this isn't correct.  The discovery doc can be used to find the authoritative mapping  between kind and resource, the two values do not have to match.

[2016-06-03 12:55] smarterclayton commented on #24957
There is ongoing work to bring Kubernetes to Windows.  We need to be
aware of how we would address differences in those mappings.

[2016-06-03 14:06] k8s-merge-robot opened #26780 "[k8s.io] EmptyDir volumes should support (root,0777,default) [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8367/

Failed: [k8s.io] EmptyDir volumes should support (root,0777,default) [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-03 14:14] quinton-hoole commented on #26762
My apologies.  I had no intention of closing this issue.  I must have pressed the wrong button :-(

[2016-06-03 14:15] akram commented on #13748
Hi guys,

The proposition made in #11838 was quite simple and pretty working out of the box.

Just to sum up the requirement: When defining external services, it is more than convenient to be able to use a hostname instead of an IP address for the Endpoints.

The argument found against #11838 was, that it may break API.
@bgrant0607 @brendandburns regarding API breaking, would it be a real breaker

[2016-06-03 14:51] piosz commented on #23196
@roberthbailey once #26775 is merged we can close this.

@DirectXMan12 I understand your concerns here. Not setting default to 80% was required to be able to scale only based on custom metrics (otherwise it would always scale based on cpu set by default to 80% + custom metrics).

I think defining reasonable default policies and behaviors should be a part of extending HPA definition (which basicall

[2016-06-03 14:51] ncdc commented on #26566
@ajohnstone can you gist/paste the output of `sudo docker info` please? Thanks!

[2016-06-03 14:53] therc opened #26782 "Panic in leader election, close of closed channel"
Built from HEAD. Edited for conciseness.

[code]

[2016-06-03 14:54] therc commented on #26782
@mikedanese

[2016-06-03 14:55] ncdc commented on #26566
@vishh I'll need the `docker info` data to confirm, but it looks like there are 3 possible devices in play here:

1. imagefs
1. rootfs
1. device on which the kubelet's volume directory resides

Looking at the output above, it looks like the kubelet's volume directory is not part of rootfs, but is instead on `/dev/mapper/vg--ephemeral-ephemeral`. I'm thinking that imagefs and rootfs are not `OutOfD

[2016-06-03 14:57] gitfred commented on #26183
Should it be closed?

[2016-06-03 15:07] therc commented on #26782
I removed it for brevity, but those entries all come from the same PID, 29837. I haven't dug through the code yet to figure why the scheduler called the election code twice.

[2016-06-03 15:13] #24689 closed

[2016-06-03 15:30] ajohnstone commented on #26566
This deployment is just using the kube-up.sh with aws.
[code]

[2016-06-03 15:47] quinton-hoole commented on #26762
And thanks - my federation is now up and healthy:

Waiting for federation-apiserver to be running...(phase= Pending)
Waiting for federation-apiserver to be running...(phase= Running)
federation-apiserver pod is running!
Waiting for federation-controller-manager to be running...(phase= Running)
federation-controller-manager pod is running!
cluster "federated-cluster" set.
user "federated-cluster" s

[2016-06-03 15:49] k8s-merge-robot opened #26784 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1418/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 0 pods per node {Kubernetes e2e suite}

[code]

[2016-06-03 16:05] quinton-hoole commented on #26762
And the e2e test for cluster registration passed!

[It] should allow creation of cluster api objects
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/federation-apiserver.go:63
Jun  3 09:02:42.316: INFO: Creating cluster object: federation-e2e-gce-us-central1-a (https://104.197.87.156)
Jun  3 09:02:42.746: INFO: Creating cluster object: federation-e2e-gce-us-central

[2016-06-03 16:15] quinton-hoole commented on #26762
But my cluster controller is spewing errors, unable to list clusters.  @nikhiljindal @mfanjie @madhusudancs @jianhuiz

E0603 16:11:08.140689       1 reflector.go:216] k8s.io/kubernetes/federation/pkg/federation-controller/cluster/clustercontroller.go:111: Failed to list *federation.Cluster: Get federation-apiserver:443?resourceVersion=0: unsupported protocol scheme "federation-apiserver"

[2016-06-03 16:31] ncdc commented on #26566
@ajohnstone ok, so in this case it should have detected that imagefs was OutOfDisk, I believe. I wonder why it didn't...

[2016-06-03 16:41] wonderfly commented on #26183
I think it should be assigned rather than closed. :smile:

[2016-06-03 16:51] bprashanth commented on #24957
For the record we should be able to exec scripts from sidecars for notification delivery with shared pidnamespaces, which is coming in docker 1.12 apparently (https://github.com/kubernetes/kubernetes/issues/1615)

[2016-06-03 16:53] nhlfr commented on #24957
@smarterclayton OK, so in that case intentional API sounds better.

So, for now we're going to implement the `bump` and `restart` actions as

1. API actions for pod
2. Actions which may be triggered by event bus

?

Also, as far as I understand, this event bus is something which we have to implement? Sorry if I'm missing some already existing feature.

If I understand correctly the API part, then

[2016-06-03 16:54] yujuhong commented on #26784
The previous test " [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes" deleted a node and then recreated it. The new node created the image pre-pulling pod and was still pulling image in the resource usage tracking test.

[code]
We can patch the node resize test to wait until image puller succeeded? /cc @bprashanth

[2016-06-03 16:54] daniel-yavorovich commented on #25489
any updates?

[2016-06-03 16:58] fasaxc commented on #17470
@thockin I gave this a spin with the goal of understanding how it might interact with iptables policy rules such as those used by Calico.  I haven't pulled on every thread but it didn't look too promising :-(.  After

* running with Calico networking
* stopping kube-proxy
* removing kube-proxy's iptables rules
* adding the service IP to a local dummy
[code]
* manually configuring the service IP as

[2016-06-03 16:59] janetkuo commented on #26724
cc @bgrant0607 @pwittrock

[2016-06-03 17:05] ronnielai commented on #26566
The isSpaceAvailable check is done by comparing the available with the threshold. /mnt/ephemeral still has 238M available. Is it possible that the available is actually larger than the threshold?

[2016-06-03 17:07] nikhiljindal commented on #26762
Looks like we need to replace `--master={{.FEDERATION_APISERVER_DEPLOYMENT_NAME}}:443` by `--master=https://{{.FEDERATION_APISERVER_DEPLOYMENT_NAME}}:443` here: https://github.com/kubernetes/kubernetes/blob/d2ea7a29ab710f10a0f12a7c2d06cea662b20bf5/federation/manifests/federation-controller-manager-deployment.yaml#L21.

I havent tried it. @quinton-hoole can you try and see if that fixes the problem

[2016-06-03 17:13] #25818 closed

[2016-06-03 17:16] bprashanth commented on #26784
Yeah waiting is easy, we can simply call
[code]
In aftereach: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/resize_nodes.go#L429

The catch is we can't really fail this test if the prepuller doesn't finish in 5m for the same reason we don't fail cluster turn up. Maybe invoke that method in BeforeEach of the 0 pods per node test instead, with a longer timeout?

But can't any one of

[2016-06-03 17:19] brockoffdev opened #26787 "AWS Security Group Issue"
Hello K8s Lovers and Devs!

Quick question, we're currently working on getting Kubernetes up and running in AWS, however I've run into a little snag.  One of the things we'd love to do is have Kubernetes automatically generate an ELB for spun up services by our devs using the "LoadBalancer" service type.  Currently, our Node instances have two security groups, one that allows communication within

[2016-06-03 17:24] lavalamp commented on #26376
#26758 should fix this problem (and I LGTMd it) but I think we should also add a test.

[2016-06-03 17:29] ryansavino commented on #25650
Just to clarify, the main issue still exists...

[2016-06-03 17:30] tomdee commented on #26102
#containernetworking on freenode - see https://github.com/containernetworking/cni#contact

[2016-06-03 17:32] bprashanth commented on #26784
Oh, i guess this pod was causing docker to spike, which the others won't (not even through logs?)

[2016-06-03 17:35] lavalamp commented on #25862
Added label.

[2016-06-03 17:37] bprashanth commented on #26762
Random sidenote given that this is a e2e umbrella. A while back I noticed ubernetes lite e2es weren't collecting logs from all nodes: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-ubernetes-lite/4407/artifacts/

[2016-06-03 17:39] joonas commented on #15169
I wanted to chime in here that I've also wanted the ability to do something in this vein before, my use case for it was being able to access the node local daemonsets (in my case, rsyslog).

From discussing this a bit with @brendandburns, @jbeda and @lxpollitt at GlueCon last week, it sounded like @jbeda had another use case in mind for something like this and @lxpollitt was aware of some proposal

[2016-06-03 17:40] hongchaodeng commented on #26185
@wojtek-t
Tried n1-standard-2 and had continuous 25 runs without any failure. From apiserver, much less traces of high latency requests like yesterday.

This is early news. I will keep running it until 100 and keep you updated if any problems happen.

[2016-06-03 17:42] wojtek-t commented on #26185
@hongchaodeng - thanks for the update; I also updated the size of master of 5-kubemark suite and so far no failures; we will see over the weekend how it goes.

[2016-06-03 17:42] quinton-hoole commented on #26762
Thanks @bprashanth.  Good catch.  That should be pretty easy to fix.  I
imagine that the e2e log collector is getting confused about the multi-zone
cluster.

On Fri, Jun 3, 2016 at 10:38 AM, Prashanth B <notifications@github.com>
wrote:

[2016-06-03 17:44] lavalamp commented on #26453
I don't think anyone is really owning this area right now, so anyone who
cares and has cycles is more than welcome to take a stab at this...

On Fri, Jun 3, 2016 at 2:37 AM, Michal Rostecki <notifications@github.com>
wrote:

[2016-06-03 17:44] aledbf commented on #17470
you need to enable connection tracking using "sysctl -w net.ipv4.vs.conntrack=1"

[2016-06-03 17:47] lavalamp commented on #21577
Yeah, you give notice in release notes that it's deprecated as of now, and
I think we can turn it off in 1.4--have to check if we need to give one
cycle or two. Certainly if there's any difficulty in clients switching to
using the new endpoint now, though, we'd need to give them until 1.5.

On Fri, Jun 3, 2016 at 4:54 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-06-03 17:49] dchen1107 commented on #26042
Such  failure only happened once. Close this for now.

[2016-06-03 17:49] #26042 closed

[2016-06-03 17:50] ihmccreery commented on #26594
My read of https://github.com/kubernetes/kubernetes/pull/22149#issuecomment-202508316 is that it's the version of Go the client is compiled with, combined with the

[code]

pattern that's the issue:

[2016-06-03 17:51] alena1108 opened #26791 "Unable to use EBS/GCE PV when AWS/GCE host is registered via another cloud provider"
Kubernetes 1.2.4

In Rancher we support Kubernetes as an orchestration framework, while Rancher acts as an infrastructure platform for various cloud providers (DO, AWS, GCE, etc). Rancher is registered as a cloud provider in Kubernetes, and acts as a proxy for other cloud provider's hosts. It was done to enable extra functionality provided by Rancher (overlay network as an example) in addition to

[2016-06-03 17:52] davidopp commented on #26343
I assume this is what you were already thinking, but: I think we should change it to cluster autoscaler (everywhere). You scale the cluster by adding/removing nodes. You scale a node by adding/removing resources to/from the node, so node autoscaler isn't the right term IMO.

[2016-06-03 17:52] davidopp commented on #26211
@gmarek do you think you could take a look at this?

[2016-06-03 17:54] davidopp commented on #24880
ping -- any update on this? it is listed as 1.3 milestone but is not prioritized

[2016-06-03 17:56] gmarek commented on #26211
I'll look into it on Monday.

[2016-06-03 17:57] justinsb commented on #24472
Moving to 1.4

[2016-06-03 17:57] justinsb commented on #23587
Moving to 1.4

[2016-06-03 17:57] yujuhong commented on #26784
They can, but they shouldn't. Logs will cause docker cpu usage to spike (which happened before because of a heapster bug).

That seems reasonable.

[2016-06-03 17:58] esthermofet commented on #26292
Closing this until we can get some extra resources on our side for troubleshooting. Thank you for the help.

[2016-06-03 17:58] #26292 closed

[2016-06-03 18:00] justinsb commented on #23587
Actually @therc perhaps you can comment on the GPU support that is merged and what (if anything) we need to do additionally for AWS?

[2016-06-03 18:01] dchen1107 commented on #24295
Do we still observe the problem with docker 1.11.X? If no, I want to close this; otherwise, we are going to reconfigure NodeProblemDetector to make the issue visible.

[2016-06-03 18:03] dchen1107 commented on #24295
Close this one as dup of #25543

[2016-06-03 18:03] #24295 closed

[2016-06-03 18:03] dchen1107 commented on #25543
Do we still observe the problem with docker 1.11.X? If no, I want to close this; otherwise, we are going to reconfigure NodeProblemDetector to make the issue visible.

[2016-06-03 18:11] quinton-hoole commented on #26762
Thanks @nikhiljindal, that improved things, but cluster controller is still unable to connect to API server (see below).  I'm going to head in to the office now, will continue debugging shortly:

[code]

The service exists, although those ports look weird:

[code]

[2016-06-03 18:12] quinton-hoole commented on #26762
Oh never mind, the ports are fine.  It was just my kubectl output that got mushed in my terminal window.

[2016-06-03 18:14] jlowdermilk commented on #26503
It doesn't look like we've seen namespace creation failures since #26564 was merged. Closing this.

[2016-06-03 18:14] #26503 closed

[2016-06-03 18:14] ihmccreery opened #26795 "v1.1 "Pod Disks" tests failing against v1.3 nodes"
For:

- "Pod Disks  should schedule a pod w/ a RW PD, remove it, then schedule it on another host"
- "Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both."

(this is not happening on v1.3 master with v1.1 nodes, nor with v1.2 tests against a v1.3 cluster)

[code]

View logs and artifacts at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kuberne

[2016-06-03 18:17] ihmccreery commented on #26795
@saad-ali Mind taking a look?  You should be able to repro by turning up a v1.3 cluster and running v1.1 tests against it.

[2016-06-03 18:20] pwittrock commented on #21585
@AdoHe What is the status on this?  If it isn't already done, I plan to update the milestone to the next release.

[2016-06-03 18:21] davidopp commented on #23028
ping

[2016-06-03 18:23] justinsb commented on #23482
Moving to 1.4; we can likely do this outside of core (e.g. kube-lego), so we won't do anything in 1.3 I believe

[2016-06-03 18:24] dchen1107 commented on #25549
Close this one since cAdvisor is upgraded already. Please re-open it if you disagree.

[2016-06-03 18:24] #25549 closed

[2016-06-03 18:24] justinsb commented on #23481
Moving to 1.4; I think we can do this outside of core but we can review in the 1.4 timeframe.

[2016-06-03 18:26] ncdc commented on #9473
Implemented in #24179

[2016-06-03 18:26] justinsb commented on #22032
It's a refactor; moving to 1.4

[2016-06-03 18:27] dchen1107 commented on #24611
Should we close this one for 1.3? I saw the implementation pr was merged.

[2016-06-03 18:27] justinsb commented on #21623
It's not great, but we haven't had any problem reports so moving to 1.4

Also there doesn't appear to be an easy way.

[2016-06-03 18:28] Random-Liu commented on #23028
@davidopp This is almost done, only several things left:
1) E2e test for node problem detector: https://github.com/kubernetes/kubernetes/pull/26648
2) Temporary hack for unsupported OS distros like GCI: https://github.com/kubernetes/node-problem-detector/pull/13
3) Re-enable node problem detector in the cluster, we temporarily disable it because of https://github.com/kubernetes/node-problem-detect

[2016-06-03 18:29] ncdc commented on #1589
@smarterclayton @kubernetes/sig-node ok to close this since #23567 has merged?

[2016-06-03 18:29] dchen1107 commented on #23028
I removed the control-plane team label since this one only covers node level change to make the problem visible to the upstream layers. There is no remedy controller built for 1.3 release.

[2016-06-03 18:34] pmorie commented on #9473
Closed by #24179

[2016-06-03 18:34] #9473 closed

[2016-06-03 18:36] pwittrock opened #26797 "Deployment should not do rollout when new fields are defaulted"
Deployment relies on a PodTemplate hash to find compare ReplicaSets, however when new fields are added + defaulted it will change the expected Hash even though nothing should be changed.

[2016-06-03 18:36] goltermann opened #26798 "Prepare projects in Jenkins for 1.3 branch"
We're planning to branch 1.3 on June 10, so we should have all projects and quota ready to go for that date.

[2016-06-03 18:38] janetkuo commented on #26797
Ref #26724 where this concern was raised.

[2016-06-03 18:42] ihmccreery commented on #26662
@pmorie Can you take a look at this?  Any idea why this would be happening?

You can repro by turning up a 1.3 cluster and running 1.1 tests against it.  Let me know if you have trouble.

[2016-06-03 18:42] smarterclayton commented on #1589
I need to land the proposal and docs.

[2016-06-03 18:43] dchen1107 opened #26799 "Improve Jenkins soak test suites"
I noticed that this week of kubernetes-soak-weekly-deploy-gce failed due to #23545

Build #104 (May 31, 2016 12:13:01 AM)

00:13:38 ERROR: gcloud crashed (error): [Errno 111] Connection refused

The issue is filed for test-infra improvement. No matter what cause for kubernetes-soak-weekly-deploy-gce, shouldn't we re-try? So that soaking test can be unblocked.

[2016-06-03 18:45] dchen1107 commented on #26799
Now I manually started the build.

[2016-06-03 18:51] ihmccreery opened #26800 "v1.2 MetricsGrabber test failing against v1.3 master"
This is a v1.2 test.  Repro by turning up a v1.3 cluster and running v1.2 tests against it.

[code]

View logs and artifacts at https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-1.2-1.3-upgrade-cluster/178

[2016-06-03 18:52] jlowdermilk commented on #26639
It looks like the webhook authenticator [doesn't cache errors](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/webhook/webhook.go#L151), so there isn't anything to fix in k8s. The actual cause appears to have been the result of flakiness in GKE's test backend; I'll look into fixing that on our end.

[2016-06-03 18:58] gmarek commented on #26800
It's a new metric - I'll fix it on Monday.

[2016-06-03 18:59] gmarek commented on #26800
@wojtek-t - do you think we should add it to metrics reported in scalability tests?

[2016-06-03 18:59] quinton-hoole commented on #24880
This is done in [e2e tests for federated-apiserve #25125](#25125)

[2016-06-03 19:00] quinton-hoole commented on #24880
So yes, I think we can close this @nikhiljindal ?

[2016-06-03 19:00] ihmccreery commented on #26800
SGTM; thanks.

[2016-06-03 19:09] bprashanth commented on #26678
Test creates a pod and waits for it to show up behind the service, but the pod is stuck in pending.
co-assigning to Rubin since he asked for a bug. I'd start with the kubelet logs of the node pod1 landed on o find out why it was stuck.
[code]

[2016-06-03 19:10] dchen1107 commented on #25543
cc/ @davidopp

[2016-06-03 19:10] quinton-hoole commented on #26762
And occasionally, this error:

[code]

[2016-06-03 19:18] thockin commented on #14082
I don't think we should do this.  What we have works well enough and is safer (we control the vertical and the horizontal)

[2016-06-03 19:18] #14082 closed

[2016-06-03 19:18] thockin commented on #15690
Fixed!

[2016-06-03 19:18] #15690 closed

[2016-06-03 19:19] quinton-hoole commented on #26762
OK, the problem seems to be as simple as this (from API server logs):

I0603 19:10:34.136146       1 logs.go:41] http: TLS handshake error from 10.240.0.13:61288: tls: client offered an unsupported, maximum protocol version of 301
I0603 19:12:53.040150       1 logs.go:41] http: TLS handshake error from 10.240.0.11:50186: remote error: bad certificate

[2016-06-03 19:25] thockin commented on #8738
This is in.

[2016-06-03 19:25] #8738 closed

[2016-06-03 19:27] thockin commented on #18372
@pmorie this is done now, yes?  Or is there more to do?

[2016-06-03 19:28] thockin commented on #20176
@bprashanth should we close this and open a new, more precise bug with an appropriate (not 1.3) milestone?

[2016-06-03 19:32] bprashanth commented on #26134
From https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/4912/artifacts/
[code]
So we weren't able to udp ping that ip:port.

@matchstick this bug looks a little more interesting:
* Which node is that?
* On which node were the Service endpoints? Were they up and healthy?
* Did the kubeproxy on that node  (104.155.174.36) see the service, endpoints, and

[2016-06-03 19:33] bgrant0607 commented on #26453
See https://github.com/kubernetes/kubernetes.github.io/pull/587

Ref #8817

[2016-06-03 19:34] bprashanth commented on #20176
Sure

[2016-06-03 19:34] #20176 closed

[2016-06-03 19:38] thockin commented on #26795
@jingxu97 for your queue

[2016-06-03 19:43] matchstick commented on #26678
Looking for pod1 it is in node group jenkins-e2e-minion-group-hzc9. Checking out the log https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce/18005/artifacts/jenkins-e2e-minion-group-hzc9/kubelet.log with the help of yujuhong the error for pod1_e2e-tests-services-26m5y shows:

E0602 02:05:18.613512    3441 kubelet.go:1886] Unable to mount volumes for pod "

[2016-06-03 19:47] timstclair opened #26804 "kubectl run --overrides ignores non existent fields"
From [stackoverflow question](http://stackoverflow.com/questions/37555281/create-kubernetes-pod-with-volume-using-kubectl-run/37621761), the user was adding `"containers"` to the wrong object. Rather than reporting an error, the mismatched fields were silently ignored.  More generally, any arbitrary fields added (`"foo": "bar",`) are silently ignored, making the config difficult to debug.

[2016-06-03 19:48] pmorie commented on #24957
@nhlfr For a change like this the best way to start is a proposal document that soecifies the yse-cases and proposes the API changes. Implementation concerns come later, but to answer your question, we already have a watch emchnaism in the API that kubelet uses to watch for changes in pods, and can be used with any API type.

[2016-06-03 19:48] timstclair opened #26805 "kubectl run --overrides returns cryptic errors"
[code]

The specific problem in the above is that `"volumeMounts"` should be an array of objects, but that is difficult to identify from the given error. Something like this would be much better:

[code]

[2016-06-03 19:48] pires commented on #20176
What is the new issue then?

[2016-06-03 19:50] nikhiljindal commented on #24880
We still need to include the test in tests that merge-bot runs and add more test cases, but we have bugs open for those individually, so fine with closing this one.
Ref https://github.com/kubernetes/kubernetes/issues/26723

[2016-06-03 19:50] #24880 closed

[2016-06-03 20:03] thockin commented on #2630
So my reading this issue is largely mitigated, though some plugins, specifically those that are shared like glusterfs, do not support it well.  Paul is there a writeup / walkthru of how to use FSGroup?

[2016-06-03 20:04] bgrant0607 commented on #26797
GetPodTemplateSpecHash shouldn't compute the hash on the internal representation, which may change (we don't guarantee backward compatibility), and shouldn't include fields set by default, since we may add new fields.

[2016-06-03 20:05] mml commented on #26107
Fixed in #25895

[2016-06-03 20:05] #26107 closed

[2016-06-03 20:06] bgrant0607 commented on #26797
We also need a test that the hash doesn't change.

[2016-06-03 20:07] thockin commented on #26662
@jingxu97 for your queue.  Note that the behavior of secrets has changed, and that the new file *is* a link.  Ike, how are we supposed to handle teh case where the 1.1 e2e is asserting something that is no longer true for 1.3 ?

[2016-06-03 20:09] thockin commented on #26362
@matchstick good one

I think this is P2 for 1.3.

[2016-06-03 20:16] pwittrock commented on #26431
The images are now public in the project `kubernetes-node-e2e-images`.  Working with Vish on making it easy to run them directly.

[2016-06-03 20:17] thockin commented on #25543
Agree, I'd love to *not* "fix" this..

[2016-06-03 20:26] thockin commented on #23855
I don't think we can realisitically deprecate that.  It's a clumsy feature, though, to be sure.

[2016-06-03 20:26] pmorie commented on #2630
There is doc in the form of the proposal, and some doc for security context, but this could probably use better examples.

[2016-06-03 20:26] wojtek-t commented on #26800
To be honest, I don't think so. Although this also won't be harmful...

[2016-06-03 20:27] thockin commented on #23804
@bprashanth Prio for this wrt 1.3 ?

[2016-06-03 20:28] thockin commented on #23583
I could be talked into defining this as correct, but it needs to be intentional, and as-is we don't know why.

[2016-06-03 20:29] pmorie commented on #18372
Closed by #25285

[2016-06-03 20:29] #18372 closed

[2016-06-03 20:29] bprashanth commented on #23804
It's done https://github.com/kubernetes/contrib/tree/master/pets/zookeeper but the example won't work till we've pushed a dns imaage with https://github.com/kubernetes/kubernetes/pull/26393

[2016-06-03 20:29] #23804 closed

[2016-06-03 20:29] wojtek-t commented on #25543
I think we've seen it the day before yesterday during our tests - @gmarek can you please confirm?

[2016-06-03 20:31] bprashanth commented on #20176
@pires yet unfiled, need to think through the features we need to add now that the basic stuff is in.
is there something you want specifically captured in create secret?

[2016-06-03 20:33] vishh commented on #26566
@ncdc I suspect that cAdvisor is incorrectly discovering docker root directory and hence the docker image partition.

@ajohnstone Can you post the logs from kubelet? (`/var/log/kubelet.log`)

[2016-06-03 20:37] lavalamp commented on #26062
I have absolutely no understanding of the flannel stack, and if this isn't a problem with apiserver's etcd, then I don't think I'll be of much use. @bprashanth seems to know something about this?

[2016-06-03 20:37] yujuhong commented on #23591
@saad-ali could you find someone to take a look? Thanks!

[2016-06-03 20:40] vishh opened #26808 "Add a Make rule to run node e2e on remote hosts"
There is an exiting [script](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/jenkins/e2e-node-jenkins.sh) that makes it possible to run node e2e on GCE VMs. It is not easily discover-able and requires understanding of a template to use it.
For new contributors, a simple make rule that runs tests against a preset GCE VM image will be helpful.

We can choose a standard image to ru

[2016-06-03 20:44] bgrant0607 commented on #26797
Another option is that we could just recompute the Deployment and RS pod template hashes.

[2016-06-03 20:44] a-robinson commented on #17172
Looks like this should be closed :)

[2016-06-03 20:44] #17172 closed

[2016-06-03 20:44] vishh opened #26809 "Make it possible to skip flaky tests in node e2e"
As of now node e2e requires all the tests to pass. There are tests like the container conformance tests which have been flaky in the past - #26514, #26491, #25812

We need ability to mark certain tests as flaky and not run them as part of merge queue.

[2016-06-03 20:47] saad-ali commented on #23591
The `Error attaching PD` should be fixed by https://github.com/kubernetes/kubernetes/pull/26351

There is work pending to change the kubelet volume clean up code to move it into it's own async loop so that id doesn't block the syncLoop when it hits a longer running operation.

[2016-06-03 20:48] yujuhong commented on #26678
I looked at it again, and the "failed to mount" messages are red herrings because at that time the pod in question was already deleted.

kubelet first saw the pod at 02:04:01, but the pod didn't get processed until 02:05:18. The test had a 1 min timeout so it already failed when kubelet got to the pod.
[code]

The question becomes why the syncloop didn't process the pod in time. From kubelet.log,

[2016-06-03 20:49] quinton-hoole commented on #26762
It seems that we need the correct certificates installed on the controller manager.

In the mean time I tried setting up unsecured, non-https access to API server, but that has other problems.  Apparently the generic apiserver only listens on localhost for unsecured access:

I0603 20:35:02.441500       1 genericapiserver.go:690] Serving securely on 0.0.0.0:443
I0603 20:35:03.222121       1 generic

[2016-06-03 20:52] guoshimin commented on #17525
@dchen1107 Can you point me to the code where kubelet calls docker ps to check docker health? We are running 1.2.4 and we just had a case where kubelet didn't detect docker daemon was hung and all I could see in the docker daemon log was version and images calls.

/cc @thomaso-mirodin

[2016-06-03 20:54] yujuhong commented on #23591
Thanks! Is there an issue to track this work?

[2016-06-03 20:55] vishh commented on #26514
@liangchenye Can you take a look at why the conformance tests are flaking?

[2016-06-03 20:58] yujuhong commented on #17525
@guoshimin kubelet doesn't call `docker ps` to detect whether the daemon hung. The daemon babysitter should be doing this. In the default GCE cluster setup with containervm images, supervisord is the one checking them.

[2016-06-03 20:58] vishh commented on #26809
Ginkgo flags makes it possible to skip tests. We can use a `FLAKY` prefix to not run flaky tests in our existing jenkins CIs.

[2016-06-03 20:59] pmorie commented on #17809
We decided to just live with this in V1.

[2016-06-03 20:59] #17809 closed

[2016-06-03 21:00] colemickens opened #26810 "Running DaemonSet only on Schedulable Nodes"
Today, DaemonSet Pods will be scheduled even on nodes that are marked `SchedulingDisabled` (`node.spec.unschedulable==true`).

Is there an out-of-the-box way to use a selector to select only schedulable nodes? Or is the user required to manually label their nodes and then use an appropriate selector?

CC: @theobolo

[2016-06-03 21:01] thockin commented on #22823
@girishkalele

[2016-06-03 21:04] luxas commented on #26093
Some things I've learned so far (will update the list)
 - iptables is effectively required for the kubelet, although flannel is deactivated: #26264
 - journalctl shouldn't be a dependency to cAdvisor, that's a bug: google/cadvisor#1313

[2016-06-03 21:04] saad-ali commented on #23591
Issue https://github.com/kubernetes/kubernetes/issues/21931

[2016-06-03 21:06] saad-ali commented on #26678
@jingxu97 When you have some bandwidth could you take a look at this and verify if this is a new issue or not. Might be related to the secret volume unmount bug you are investigating on hyperkube.

[2016-06-03 21:08] davidopp commented on #26211
Thanks!

[2016-06-03 21:16] girishkalele commented on #22823
@aliteff

I would like to request further debug info available about this issue, I have many questions.

Which version was this reported for ?
By default, there should be a single DNS pod in a cluster, running on one of the schedulable nodes.
Was the issue seen only when the pods were running on the same node as the DNS pod was scheduled on ?
Was the nameserver configured in the /etc/resolv.conf i

[2016-06-03 21:16] guoshimin commented on #17525
@yujuhong OK so GCE has a way to address this problem but that shouldn't be grounds for closing this issue. Also in our case kubelet didn't mark the node NotReady when docker is hung. How exactly does kubelet notice docker is hung?

[2016-06-03 21:19] bprashanth commented on #26062
It  sounded like there was an etcd restart that we can't explain, debugging that should be just like any other pod restart.

[2016-06-03 21:25] pmorie opened #26815 "Unit test flake: k8s.io/kubernetes/plugin/pkg/client/auth/oidc"
I hit a test flake in `k8s.io/kubernetes/plugin/pkg/client/auth/oidc`

Example build: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26807/kubernetes-pull-test-unit-integration/29103/

[2016-06-03 21:26] pmorie commented on #26644
Yeah, this one was my bad.  +1 to moving the verify checks to a separate job - that would be awesome.

[2016-06-03 21:30] dchen1107 commented on #23545
I reopen this one. #26799 I manually restart deploy-gce jenkins job, but still failed with the same issue.

[2016-06-03 21:31] fejta commented on #26815
Assigning to @cjcullen per spreadsheet

[2016-06-03 21:33] ixdy commented on #23545
Same issue. The Jenkins master VM restarted itself on Monday, and the metadata cache wasn't properly restarting itself at that time.

[2016-06-03 21:34] osterman commented on #26673
After doing some more testing, I am able to reproduce ` deployment_controller.go:395] Error syncing deployment sagan/help: deployments.extensions "help" cannot be updated: the object has been modified; please apply your changes to the latest version and try again` by triggering two back-to-back deployments in rapid succession.

[2016-06-03 21:36] euank opened #26816 "rkt: hostPath mounts to non-existent directories fail"
A pod referencing a nonexistent host path, such as the one below, does not run under the rkt container runtime.. However, it runs just fine under docker (which, by default, creates nonexistent paths as empty directories when a mount references them).

The pod also does not show up in `kubectl get pods` in any state, though it can still be deleted.

The latter is definitely something that should be

[2016-06-03 21:37] vishh opened #26817 "Attempt to identify GCE project based on local context in node e2e"
Instead of having to specify a project for VMs and images [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/runner/run_e2e.go#L79), we can auto-detect gce projects based on local context.

`gcloud config list | grep project | awk '{print $3}'` should give us the default project.

[2016-06-03 21:39] pmorie commented on #26093
Looks like #26658 may add a dependency on `dmidecode`

[2016-06-03 21:40] pmorie commented on #26093
There's a dependency on `dmidecode` in the vSphere volume plugin.

[2016-06-03 21:42] euank commented on #26431
Thanks! I can handle the needed edits of `run_e2e.go` for my own attempts at repro (though it seems this issue hasn't been reoccurring as of late?), but it would be great for it to be generalized so I don't have to do whatever hackyness.

[2016-06-03 21:46] luxas commented on #26093
@pmorie Added. Do you remember any others right now?

[2016-06-03 21:47] pmorie commented on #26093
@luxas Nope, I just saw that one during a code review.

[2016-06-03 21:50] osterman opened #26818 "Possible Bug: Deployment Rollout History Missing Deployments"
## background

We're running deployments in a CI/CD context. Sometimes there will be two commits in rapid succession triggering nearly back-to-back deployments. When we observe the `kubectl rollout history` we are missing some deployments. These are likely caused when two deployments happen at/around the same time.
## the problem
- running `kubectl rollout history deployment <something>` does not

[2016-06-03 21:50] caesarxuchao commented on #26728
I'm not actively working on this as I can't reproduce it. I'll wait until we have more occurrences with master logs.

[2016-06-03 21:58] girishkalele commented on #22161
@maclof

I looked at the tcpdump captured from cbr0 - don't understand the duplicate requests from different IPs, probably UDP packet duplication. 192.168.2.1:44204 requests a lookup for db.ahead4.com and there is a duplicate request from 192.168.0.2. You see later even 172.16.0.2 replies back to the originating pod, which is not expected.

`172.16.0.2.domain > 192.168.2.1.44204` ???

[code]

[2016-06-03 22:12] ihmccreery commented on #26662
I can handle this, if it's intended behavior.  We can either version-guard the logic somehow (there's no precedent for version-guarding on node version—not sure yet if/how we would do that), or, better, make the test properly resilient to this behavior.  Should we really be checking ACLs at all?

[2016-06-03 22:25] osterman commented on #26818
Possibly related: https://github.com/kubernetes/kubernetes/issues/26673

[2016-06-03 22:32] timstclair commented on #26566
Other helpful debugging information:
- `docker info` (specifically what does it report for the root dir)
- cAdvisor storage report: `<node host>:4194/api/v2.1/storage`

I wonder whether this is fixed by https://github.com/google/cadvisor/pull/1275, which reads the docker root directory from the docker status rather than the `--docker-root` flag.

[2016-06-03 22:32] hongchaodeng commented on #22554
Not sure why @kubernetes/sig-scheduling isn't notified for such a long time.
My opinion is that we still need to differentiate "schedulable" and "unschedulable" nodes in the knowledge of scheduler.

[2016-06-03 22:45] lavalamp opened #26822 "ERROR: Error fetching remote repo 'origin'"
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26820/kubernetes-pull-build-test-e2e-gce/43224/

[code]

[2016-06-03 22:55] jlowdermilk commented on #26699
Closing as dupe of #26728, we can continue discussion there.

[2016-06-03 22:55] #26699 closed

[2016-06-03 23:00] bprashanth opened #26824 "Turn on Feature:PetSet e2es"
Once we push the DNS image that has the srv record fix: https://github.com/kubernetes/kubernetes/pull/26393. This bug might also bite us, but it won't consistently fail: https://github.com/kubernetes/kubernetes/issues/25456

[2016-06-03 23:02] jlowdermilk commented on #26824
/follow

[2016-06-03 23:05] jlowdermilk commented on #26639
There haven't been any similar failures since yesterday, and I pushed a change to GKE test that should make the underlying error go away. Will reopen if it occurs again.

[2016-06-03 23:05] #26639 closed

[2016-06-03 23:09] goltermann commented on #18119
@ihmccreery is this finished?

[2016-06-03 23:09] jlowdermilk commented on #26740
Closing as dupe of #26742. All failed runs get dumped into one issue now.

[2016-06-03 23:09] #26740 closed

[2016-06-03 23:13] jlowdermilk commented on #26742
The majority of the above failures are from IAM problems which should be resolved now (see #26639). Leaving open for now to see what else the bot finds.

[2016-06-03 23:13] girishkalele commented on #22161
@eknkc @maclof @aliteff

For the 1.3 release, there has been a major change in the kube DNS implemention.
Check the saltbase/salt/kube-dns/skydns-rc.yaml file in master for the new pod definition and containers used. For older releases, it should be possible with a little surgery and know-how to edit the skydns pod spec with the new one from 1.3.

[2016-06-03 23:18] dchen1107 commented on #23545
hmm, I manually restart, but failed; looks like after that @spxtr retried twice, failed one more time, then succeeded the second try. The problem is that if there is any magic behind it? Or just simply retry?

[2016-06-03 23:24] justinsb commented on #23744
This is actually by design; the ELB is considered "k8s-managed", and so will be "repaired".

We are adding more functionality by way of annotations on the service, so that you should have less and less need to configure your own ELB.

However, if you do need to, what I recommend is setting your service to Type=NodePort, and then setting up an ELB manually, and adding the node ASG to it.  That is m

[2016-06-03 23:25] #23744 closed

[2016-06-03 23:28] justinsb commented on #17620
Yes - that's right - this is the magic annotation :-)  It's not as well tested as the "normal" code path, but it should work.

Going to close, but if there are any issues please reopen

[2016-06-03 23:28] #17620 closed

[2016-06-03 23:30] spxtr commented on #23545
I had to start the metadata cache on the master. We didn't notice the problem before because only the soak jobs run on the master.

[2016-06-03 23:32] ixdy commented on #23545
Can we get some sort of health check setup on the metadata cache? It is crashing far too frequently and we need to know before it fails jobs.

[2016-06-03 23:46] mml commented on #25845
Not sure if this is still happening.  Will take a look on Monday.

[2016-06-03 23:47] JJediny commented on #23174
It seems there is an internal push to move to ansible, I wonder however for sysadmins that need the ability to audit, watch, log, react to events within in k8r itself and to have a truly event driven architecture that the preference would be saltstack and not ansible... I love both technologies but (IMHO) - salt may be more complex, but it is also 2 of 2 things - both provisioning & event driven i

[2016-06-03 23:56] spxtr commented on #23545
Yes, that's a good idea.

[2016-06-04 00:05] #26712 closed

[2016-06-04 00:20] dchen1107 commented on #26810
cc/ @Random-Liu We ran into the similar issue with node problem detector.

[2016-06-04 00:21] eghobo commented on #2156
@soltysh: sorry to hear that this feature missed 1.3 ):. do you have any ETA in mind? we have big interest at this feature, how we can help?

[2016-06-04 00:26] quinton-hoole commented on #23545
@ixdy @fejta @spxtr @dchen1107 Drive-by comment.  Should we perhaps disable the metadata cache until it's more stable?  How much would that slow things down?

[2016-06-04 00:27] spxtr commented on #23545
@quinton-hoole It's not that the metadata cache isn't stable, it's that we don't check to make sure that it's up before starting a job and when Jenkins VMs restart we don't automatically start it. Without it, every job fails deterministically.

[2016-06-04 00:29] mfanjie commented on #26762
#26694 should fix the unsecured connection issue

[2016-06-04 00:31] ixdy commented on #23545
@quinton-hoole I tried turning off the metadata cache a few weeks ago (using the metadata server directly), but the metadata server itself is still not stable enough for our use.

[2016-06-04 00:31] Random-Liu commented on #26810
XRef https://github.com/kubernetes/node-problem-detector/pull/13 for similar issue we encountered in node problem detector.

[2016-06-04 01:04] Random-Liu commented on #19720
_v1.9 results copied from [this comment](https://github.com/kubernetes/kubernetes/issues/16110#issuecomment-180510177)_

**Introduction**
I benchmarked docker v1.10 using the [docker micro benchmark tool](https://github.com/kubernetes/contrib/tree/master/docker-micro-benchmark).

**Benchmark Environment**
* Cloud Provider: GCE
* VM Instance: n1-standard-2 (2 vCPUs, 7.5 GB memory)
* OS: Debian GNU/

[2016-06-04 01:05] Random-Liu commented on #19720
I run the benchmark, and didn't see the issue https://github.com/kubernetes/kubernetes/issues/19720#issuecomment-222773773.

Since I've already run the benchmark, just post the data here, for fun. :)

[2016-06-04 01:15] yujuhong commented on #19720
Thanks @Random-Liu!

@timothysc, it seems like the issue may be specific to your test environment. I reassigned the issue to you for the followup.

[2016-06-04 01:27] resouer commented on #22554
I'm afraid then we need to maintain extra node status in scheduler?

[2016-06-04 01:41] timstclair opened #26833 "Port configmap tests to node e2e"
The [configmap tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/configmap.go) should run as part of the node e2e suite. For now the tests can be duplicated in the `test/e2e_node` directory.

Reserved for @mnshaw

[2016-06-04 01:42] pwittrock commented on #26431
@euank Agreed.  Things are definitely too painful right now.  I am working on PR #26832 to make things much easier.  The PR seems to be working and you are welcome to patch it.

[2016-06-04 01:49] #25993 closed

[2016-06-04 02:28] tristanz commented on #24981
This is a dupe of https://github.com/kubernetes/kubernetes/issues/13598. While you can set `--insecure-port=0` this will currently break AdmissionControllers.

[2016-06-04 02:29] dims commented on #26376
@lavalamp Do we close this issue? or keep it open for test. Also do we need P0 priority for just the test?

[2016-06-04 02:30] justinsb commented on #13892
Support for PROXY protocol just landed.  With that, you should be able to run an ingress controller (e.g. nginx) that can see client IPs and add them as X-Forwarded-For (or similar), and do sticky sessions based on IP or cookies.

I think technically we haven't delivered the request feature (clientIP with Type=LoadBalancer), but we have implemented an alternative way of doing it.  Assigning to a n

[2016-06-04 02:31] k8s-merge-robot opened #26834 "[k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18111/

Failed: [k8s.io] Deployment deployment should support rollover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26509

[2016-06-04 02:35] AdoHe commented on #21585
Actually this is done, I need to do some rebase.

[2016-06-04 02:42] krmayankk commented on #23838
@AdoHe  can you help with figuring out where this change is needed and i can do some testing

[2016-06-04 02:45] lavalamp commented on #26376
Let's keep it open and I'll reduce to p1 when at a real computer.
On Jun 3, 2016 7:29 PM, "Davanum Srinivas" <notifications@github.com> wrote:

[2016-06-04 03:20] dims commented on #14968
We should mark this as a duplicate of https://github.com/kubernetes/kubernetes/issues/26135 (see last 10+ failures logged by the bot in that issue)

[2016-06-04 04:31] bprashanth commented on #26180
@kubernetes/goog-cluster in case anyone wants to debug.
Here's some context (debugging comments in reverse from most recent to least):

https://github.com/kubernetes/kubernetes/issues/26180#issuecomment-223733705 Kubedns was actually stuck in pending in, this is the real bug:
[code]

It was running kube-dns-v13 (image version 1.2) and the timing matches up with: https://github.com/kubernetes/kuber

[2016-06-04 04:31] bprashanth commented on #26180
So what you really need to figure out is why the dns pod in https://github.com/kubernetes/kubernetes/issues/26180#issuecomment-223733705 was stuck in pending, and perhaps more importantly, why we didn't actually wait for it to reach running+ready on GKE.

[2016-06-04 04:38] bprashanth commented on #26180
@thockin add @girishkalele and @matchstick to goog-cluster? (and satnam and abhi probably don't care)

[2016-06-04 04:51] MikeSpreitzer opened #26835 "ubuntu-calico.md does not mention usage of ca-key.pem"
Step 2 of http://kubernetes.io/docs/getting-started-guides/ubuntu-calico/#configure-tls-1 says that it uses the ca.pem generated earlier.  In fact it also uses the ca-key.pem generated earlier.

[2016-06-04 04:52] MikeSpreitzer opened #26836 "ubuntu-calico.md overlooks dependency of kubelet.service on calico-node.service"
I tried to follow the instructions for setting up the master, but kubelet.service failed to start because it depends on calico-node.service and that is not defined yet.
I was able to get farther by doing the kubelet stuff after, rather than before, the calico stuff.

[2016-06-04 04:55] MikeSpreitzer opened #26837 "Missing newline at the end of network-environment-template"
https://raw.githubusercontent.com/projectcalico/calico-cni/k8s-1.1-docs/samples/kubernetes/master/network-environment-template does not end with a newline.
(I originally opened this as a more serious issue, but the real problem was that I confused myself between the master and the node versions of this file.)

[2016-06-04 04:57] MikeSpreitzer commented on #26837
@djosborne: this and my previous two issues.

[2016-06-04 05:07] k8s-merge-robot opened #26838 "[k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8414/

Failed: [k8s.io] Networking should provide unchanging, static URL paths for kubernetes api services [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-04 05:36] luxas commented on #25555
The PR is merged

[2016-06-04 05:36] #25555 closed

[2016-06-04 07:12] nickschuch commented on #23942
I see what is happening here, so the current Heapster metrics client is calling the apiserver proxy and routing to the heaster service and pods.

[code]

Ok, so here is my plan:

* Contribute a new heapster metrics client called "external" which uses the same Heapster client interface
* Toggle between the "cluster-info" and "external" client here https://github.com/kubernetes/kubernetes/blob/825cd

[2016-06-04 07:19] gmarek commented on #25543
I can't recall - we certainly did saw some failed nodes during the test, but I'm not sure we made sure it was a kube-proxy issue.

[2016-06-04 07:27] AdoHe opened #26840 "apply failed when use init containers"
FYI. I am playing with init containers, and just did a simple test:

First create two pods with `apply -f`:
[code]
Then wait for while before the two pods running, update yaml files and run `apply -f` again:
[code]
Seems pod validation failed when update, and I noticed the `VolumeMounts` is not equal. @smarterclayton ptal.

[2016-06-04 07:37] wojtek-t commented on #25543
But what I can tell for sure that it's definitely less frequent - we started 2000-node cluster 10+ times during this week and we've seen it at most once (which makes it at least 99.995% reliable).

[2016-06-04 08:00] #26116 closed

[2016-06-04 08:13] wojtek-t commented on #14968
Yes - this is duplicate of #26135

[2016-06-04 08:13] #14968 closed

[2016-06-04 08:17] wojtek-t commented on #26185
So it seems that even after increasing size of the kubemark master to n1-standard-2 (which is 2 as big as the previous machine), we still see flakes. I will look into this particular flake on Monday, but now I really doubt it's cpu-starvation.

[2016-06-04 09:20] ChaiBapchya opened #26842 "make launch-kube - No response"
Following the steps mentioned in - https://github.com/pachyderm/pachyderm/blob/master/SETUP.md

After cloning the pachyderm repo from git,
the command - make launch-kube gets stuck;
On first run, it couldn't find image locally hence pulled it;
Status showed download complete
However it hangs there/snaps. No response henceforth
Waited for 40 minutes

root@localhost pachyderm]# make launch-kube
etc/

[2016-06-04 09:40] #26374 closed

[2016-06-04 09:50] errordeveloper commented on #23174
@bgrant0607 we don't have a list of concrete tasks just yet, but I'd like to sync-up with @mikedanese and create such a list.

[2016-06-04 09:56] errordeveloper commented on #23174
@JJediny very interesting point indeed. I think the issue with Salt may not be the tool itself, but the current implementation which lacks transparency and has unconstrained responsibilities. The motivation we have right now it to provide simple and transparent implementation with Terraform for provisioning phase and Ansible for bootstrap phase, and, at the same time, make sure that abstractions a

[2016-06-04 10:12] oxplot commented on #22368
Wouldn't tying a Replica Set to UUID of a configmap (instead of its name) solve this?

[2016-06-04 11:23] #26620 closed

[2016-06-04 12:11] #26456 closed

[2016-06-04 13:19] smarterclayton commented on #26840
Incidentally the reason we are getting these proto messages is because
apply is encoding to the internal version which is

https://github.com/kubernetes/kubernetes/issues/25106

[2016-06-04 13:21] smarterclayton commented on #26840
Given that init containers are stored as annotations, any mutations
require that the conversion be called.  If we're not converting
correctly in Apply, I'm not sure init containers will work at all
(although given your symptoms I think there are two issues).

We need to fix apply first though.

[2016-06-04 13:22] feihujiang opened #26844 "The file "resourcequota" in docs/user-guide/resourcequota path can't be found"
The file "resourcequota"  URL is http://kubernetes.io/docs/admin/resourcequota/, not http://kubernetes.io/docs/user-guide/resourcequota/.

Maybe we shoud delete https://github.com/kubernetes/kubernetes/tree/master/docs/user-guide/resourcequota. Because it references http://kubernetes.io/docs/user-guide/resourcequota/, but we get an "404 Error!" page.

[2016-06-04 13:56] aabed opened #26845 "Failed to resolve from pods"
I can resolve from only one pods, the busy box pod

[code]

but I can't resolve from the other pods

[code]
They are on the same node btw

[2016-06-04 14:20] jingxu97 commented on #22911
After setting up a hypekube and digging the logs, I think the following happened and caused the issue.

Hyperkube automatically creates a few pods for dns, dashboard, proxy services etc. But there is something wrong when setting up and mounting the volumes. The following shows some logs from one such pod.

(1) 21:20:03.214957    kubelet.go:2579] SyncLoop (ADD, "api"): "kubernetes-dashboard-fnivx_k

[2016-06-04 14:31] zmerlynn commented on #25543
Not enough data. GKE is still deploying the old ContainerVM and isn't running Docker 1.11.1 yet, unless I'm mistaken.

[2016-06-04 14:41] HaiyangDING commented on #22554
+1 to this change.

Error on particular node should not block other node from being verified.

[2016-06-04 14:54] k8s-merge-robot opened #26846 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8444/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26175

[2016-06-04 15:55] Thermi opened #26847 "detach EBS volumes when node restarted"
Hello,

Currently, kubernetes does not try to (force) detach EBS volumes after a node was restarted.
This leads to the situation that pods that require an EBS and are started on another node do not come up. To fix that, the user has find the EBS volumes and (force) detach them, so that kubernetes can attach them to the node that the pod is supposed to run on.
A solution to this problem would be to

[2016-06-04 16:56] aabed commented on #26845
it's a problem with alpine linux
https://github.com/gliderlabs/docker-alpine/blob/master/docs/caveats.md#dns
I am closing this

[2016-06-04 16:56] #26845 closed

[2016-06-04 18:01] IanLewis commented on #26847
This may be related to #14642 and possibly fixed in #25457 and #26351 (1.3).

[2016-06-04 18:09] pmorie commented on #26662
@ihmccreery seems like we could check the status of the node the pod is scheduled to and retrieve the version from that, but that seems ugly.

[2016-06-04 18:10] pmorie commented on #26662
As @thockin said, the behavior has changed.  Can I clarify, this is the 1.1 e2e binary running against a 1.3 cluster?  Want to make sure we did not miss any changes we should have made.

[2016-06-04 18:37] brendandburns commented on #23879
I just had one take > 80 minutes:

https://github.com/kubernetes/kubernetes/pull/25894

[2016-06-04 18:38] justinsb commented on #25257
@luispabon how did you install the cluster?  I believe that if you're running kube-controller-manager with the aws cloud-provider option, we should poll the instances and rapidly delete the instance when it is deleted in the AWS API.

[2016-06-04 18:42] justinsb commented on #21903
Closing as this should now be done with petsets, and likely was fixed by fixes in 1.2 (volume fixes & multizone support)

[2016-06-04 18:42] #21903 closed

[2016-06-04 18:47] justinsb commented on #25610
Going to try to fix this in 1.3, but I don't know if we'll make it...

[2016-06-04 18:49] justinsb commented on #25476
Can you explain how to reproduce the problem?  I regularly kube-up / kube-down / kube-up on the same account (often many times a day!), without problem.

[2016-06-04 18:57] justinsb commented on #19704
@jwonesh Why do you want to create your own security-group?  We now let you configure the permitted source-ip ranges - does this cover the requirement?

@mgoodness not sure what to say about those terraform limitations.  We now modify the ELB security group to support the source-ip range configuration, so we'll have the same problem there.  Is there a way to tell terraform to ignore certain change

[2016-06-04 18:58] justinsb commented on #17790
This should now be fixed in 1.2: we have a backoff.  I believe we still retry indefinitely, but we should not hit rate limits.  Please reopen if it continues in 1.2 or later.

[2016-06-04 18:58] #17790 closed

[2016-06-04 19:06] jcderr commented on #23744
What I wound up doing is having an NGINX container that maps host names to services and attached _that_ to an ELB set up as you described.

[2016-06-04 21:08] bprashanth commented on #25101
It is waay too easy to leak pvs today.
Simply doing:
[code]
will leak.

It doesn't sound like we're fixing this for 1.3, but maybe we can simply throw an error when a user tries to delete that pvc?
[code]

[2016-06-04 21:11] bprashanth commented on #26824
https://github.com/kubernetes/kubernetes/issues/25101 makes this e2e leak prone. work around should be straightforward.

[2016-06-04 21:13] ngtuna commented on #25476
Could you try:

- kube-down
- remove `kube-minion` & `kube-master` roles on IAM portal
- kube-up again

[2016-06-04 22:42] #25421 closed

[2016-06-04 22:42] #25422 closed

[2016-06-04 23:31] ixdy commented on #23879
@brendandburns please link to the log when you report flakes. it is difficult to find the failing run otherwise.

[2016-06-04 23:35] ixdy commented on #23879
In this case it was kubernetes-jenkins/pr-logs/pull/25894/kubernetes-pull-test-unit-integration/29066/, but it will save everyone time if you link the logs.

[2016-06-04 23:57] nick4fake commented on #17406
Is there a good workaround other then hardcoding /etc/resolv.conf or adding patch to RC config?

[2016-06-04 23:59] nick4fake commented on #17406
@thockin it seems that there is a fix for docker:
https://github.com/docker/docker/pull/22408

[2016-06-05 00:52] justinsb commented on #24401
For housekeeping, I'm going to close this in favor of the pointers above.  If there are specific issues that slipped through the cracks please do open them!

[2016-06-05 00:52] #24401 closed

[2016-06-05 00:54] justinsb commented on #23859
I think that without logs there's not a lot to go on here; we have a separate issue for wily unexpectedly going NotReady and right now we have nothing to differentiate this case, so I'm going to close as a dup.  Feel free to reopen if we discover anything different!

[2016-06-05 00:54] #23859 closed

[2016-06-05 00:55] justinsb commented on #11011
I think/assume this is now fixed so I'm going to close; please reopen if not

[2016-06-05 00:55] #11011 closed

[2016-06-05 00:57] justinsb commented on #18361
Going to close; persistence should work and right now there's no trick for accessing RDS, and it should also "just work" as normal.  We may in future add an IAM proxy for use within kubernetes, but I don't think you can use IAM with RDS anyway.

[2016-06-05 00:57] #18361 closed

[2016-06-05 01:06] therc commented on #25610
If you're not going to look at this by Monday, I can give it a shot.

[2016-06-05 01:27] justinsb commented on #23868
Reducing priority to P2.  Nice to fix, not a deal-breaker.

[2016-06-05 02:02] therc commented on #26810
For the record, I have been relying on this behaviour for months. I have kubelet running on my master nodes with --register-schedulable=false. That way, normal pods won't schedule, but the fluentd DaemonSet does.

[2016-06-05 02:24] nikhiljindal commented on #26762
Thanks @mfanjie!

I am fixing the secured connection in https://github.com/kubernetes/kubernetes/pull/26819. I need to update the federated-up.sh script after that to auto create the secret.

We should have e2e tests for both secured and unsecured connections.

[2016-06-05 03:27] zmerlynn opened #26850 "kubernetes-e2e-gce-master-on-cvm has been broken since 5/31"
We have a test suite called `kubernetes-e2e-gce-master-on-cvm` running to allow us to, in theory, switch back from GCI masters to Container VM masters at any point.

We succeeded at http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-master-on-cvm/lastStableBuild/ (c1c0567e37b699) and then failed at http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-master-on-cvm/338 (ee412efcefc75b

[2016-06-05 03:28] zmerlynn commented on #26850
An alternate resolution to this bug is that we abandon CVM masters entirely in open source, but that's a larger decision.

[2016-06-05 04:05] ovidiucp opened #26852 "High Availability: kubelet doesn't try to talk to a different API server in case of failures"
I setup a highly available Kubernetes cluster on some physical machines. On the `m1a` node machine I run kubelet this way:

[code]

I then kill the API server on machine `m1b` which is the first API server specified in `--api-servers`. The expected behavior would be for the kubelet to detect the failure and try to connect to a different API server.

Instead the kubelet keeps trying to connect inde

[2016-06-05 05:27] mqliang opened #26853 "Shard apiservers by resource type"
API server cacher should have some locality property
-------------------

Currently, we have a cache layer in API server, which is responsible for serving WATCH and LIST requests. But the cacher will cache for ALl kinds of resources. IMO, since we have multi API server, the cacher should have locality property. Le me explicate it with an example, I have 3 API servers, and I configure the nginx/hap

[2016-06-05 05:30] mqliang commented on #26853
@bgrant0607 I'd like hear your opinion about this.

[2016-06-05 07:24] #22837 closed

[2016-06-05 07:34] colemickens commented on #26810
Yes, I need the same thing. I'm not proposing changing that behavior, just adding some sort of label for `--register-schedulable=false` machines that can be easily used in a DaemonSet selector. (Or documentation of it if such a label already exists.)

[2016-06-05 08:08] krmayankk commented on #23838
@AdoHe ah somewhere in resource_printer.go

[2016-06-05 09:35] sgotti commented on #20262
@saad-ali Thanks for the detailed answer!

Correct me if I'm wrong but looking at the current k8s master looks like only GCE PD implements the `volume.Attacher/Detacher` interfaces. All the others, including AWS EBS and the flex volume, only implement the `volume.Mounter/Unmounter` interface (probably the AWS EBS should be changed to implement the attache/detacher interfaces)

Regarding the flexvo

[2016-06-05 12:55] Industrial opened #26859 "[Error] Vagrant setup NFS mount rights error"
Hi!

[code]

I have already entered my password for sudo rights in that terminal in the last few minutes, but the first time I tried the command it asked me for my password.

[2016-06-05 20:20] whereisaaron commented on #13776
While some form of runtime container file transfer would be handy, the 'docker cp' command features [obscure semantics with a range of overloaded behaviors triggers by judicious placement of slashes and dots](https://docs.docker.com/engine/reference/commandline/cp/). I'd prefer to see 'docker cp' semantics left behind in favor of one or two cleaner kubectl commands.

[2016-06-05 21:38] pmoncadaisla opened #26864 "Kubernetes hyperkube infinte secrets mounts"
Hi,

I'm experiencing a very slow behaviour of my Kubernetes cluster. Evrything starts OK, but passed hours everything starts to be very very slow.

I've noticed that executing "mount" I can see nearly infinite (thousands) mounts like these ones:

![mount](https://cloud.githubusercontent.com/assets/1449482/15808341/dcf9f2a8-2b75-11e6-9ee5-bb5f5b807315.png)

Also, there seems to be a process called

[2016-06-05 23:03] a-robinson commented on #26842
Seems as though you'll be best off asking your question on the pachyderm repo or on StackOverflow. Sorry!

[2016-06-05 23:03] #26842 closed

[2016-06-05 23:05] a-robinson commented on #26844
cc @johndmulhausen

[2016-06-05 23:07] a-robinson commented on #26859
Please re-post your question to [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
how to address common use cases.

We regularly see messa

[2016-06-05 23:07] #26859 closed

[2016-06-05 23:09] a-robinson commented on #26764
Hi @ltiao, there's no harm in sending a PR for a maintainer to take a look at if you already have the example ready :)

[2016-06-06 00:01] kookster commented on #19464
try `apk add linux-headers`?

[2016-06-06 00:55] bprashanth opened #26865 "Service endpoints MIA after network blip"
Spun off from https://github.com/kubernetes/contrib/issues/297. GKE user had working endpoints, then something happened and they ended up with working, ready pods but unready endpoints (https://github.com/kubernetes/contrib/issues/297#issuecomment-223837365). Restarting all pods seems to have fixed it, this is obviously a very drastic counter measure.

@MaxDaten @kubernetes/goog-gke

[2016-06-06 01:28] MikaelCluseau commented on #20262
On 06/05/2016 08:36 PM, Simone Gotti wrote:

I'd like to note that RBD now have an "exclusive" flag on images; it's
not in the kernel yet (at least not in 4.4), but will eventually land
there. Also, there's the rbd-nbd introduced in Ceph Jewel that can
provide this support (extra note: NBD interface is also used by CoreOS
Torus, so there may be some factorization possible here).

So, at least for

[2016-06-06 02:28] robvalk commented on #26852
We've encountered the same symptoms after an AWS outage in the ap-southeast-2 region.
kubelets were configured with a list of api server addresses. The first api server in the list failed but none of the kubelets failed over to a secondary server. This caused a full cluster outage since the remaining masters incorrectly assumed all nodes had failed.

[2016-06-06 02:33] pwittrock commented on #26665
Will be fixed in #26832

[2016-06-06 02:38] vsimon commented on #23880
It would be very nice to support this.

[2016-06-06 03:21] gouyang commented on #25440
Close this issue as the ansible project changes it rules, the problem is gone.

[2016-06-06 03:21] #25440 closed

[2016-06-06 04:36] MikeSpreitzer commented on #26837
Moving to the doc repo.  See https://github.com/kubernetes/kubernetes.github.io/issues/615

[2016-06-06 04:36] #26837 closed

[2016-06-06 04:37] MikeSpreitzer commented on #26835
Moving to doc repo.  See https://github.com/kubernetes/kubernetes.github.io/issues/616

[2016-06-06 04:37] #26835 closed

[2016-06-06 04:38] MikeSpreitzer commented on #26836
Moving to doc repo.  See https://github.com/kubernetes/kubernetes.github.io/issues/617

[2016-06-06 04:38] #26836 closed

[2016-06-06 04:53] nhlfr commented on #26453
Thanks @bgrant0607!

I think that we can close this issue and create another one for making "local" a distribution available in ./cluster/kube-up.sh.

[2016-06-06 05:09] keontang commented on #26852
Besides, for `proxy`, `scheduler` and `controller manager`, maybe we should change **`--master`** to **`--masters`** flag to support multiple api-servers.

[2016-06-06 05:25] JeanMertz commented on #14339
@ihmccreery that still feels like a lot of manual labour. More specifically, getting the upgraded GKE instance group template might be problematic.

I can switch out all mentions of `1.2.0` to `1.2.4` in our case, but that doesn't work, as I'm sure other variables/scripts are updated as well by Google folks. I could of course spin up a new cluster, and take the scripts from there, but again, that

[2016-06-06 06:12] chao007 opened #26866 "Create PVC failed when using labelSelector"
Description of problem:
Create PVC failed when using labelSelector

Version-Release number of selected component (if applicable):
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.5.131+68097515d82121", GitCommit:"68097515d821217918a1c916759a8373e5e5eb86", GitTreeState:"clean", BuildDate:"2016-06-06T02:42:14Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}

[2016-06-06 06:14] netroby commented on #6888
+1 please move to docker.io

[2016-06-06 06:18] davidopp commented on #15140
Another request to document pause container.

[2016-06-06 06:23] wojtek-t commented on #26853
I think this bug is not about locality from cacher - this would be super easy to do. I think the real request here is to configure the cluster so that, the requests will be send to appropriate apiservers.

But I think that this is more longer-term issue - we are not focusing actively on HA setups right now.

[2016-06-06 06:26] wojtek-t commented on #25543
aah ok - I didn't know that...

[2016-06-06 06:28] davidopp commented on #26853
This would actually make HA harder, because you'd have to inform the clients about the failover policy (the three bullet points at the beginning of the first entry in this issue). The current policy where in HA configuration any client can send to any API server replica just requires the client to know the identities of the servers, and pick any that is "up".

[2016-06-06 06:31] wojtek-t commented on #26853
That's a good point.

Also, I would like to understand the motivation here. Are you trying to reduce amount of RAM used by apiserver? [If so, this still wasn't a goal for us, and there are probably easier way to achieve this.]

[2016-06-06 06:34] gouyang opened #26869 "Could not run conformance testing on local cluster"
I could run conformance testing on a local cluster before, but it does not work last week.

[code]

[code]

The reason is `KUBERNETES_PROVIDER` is reset to "" in hack/ginkgo-e2e.sh, and `cluster/kubectl.sh` in `detect-master-from-kubeconfig` will source `cluster/kube-util.sh` again, which set `KUBERNETES_PROVIDER` to `gce` this time.

[2016-06-06 06:36] k8s-merge-robot opened #26870 "[k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8566/

Failed: [k8s.io] ReplicationController should serve a basic image on each replica with a public image [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-06 06:37] wojtek-t opened #26871 ""Retry-After" in client doesn't work"
During weekend, one of our kubemark runs failed with the following error:
[code]
http://kubekins.dls.corp.google.com:8080/view/Scalability/job/kubernetes-kubemark-gce-scale/1196/

This is super strange, because we are retrying  429 errors 10 times in client library.

So I looked into the logs, and what I see is:
[code]

So we are retrying those requests one by one without and "retry-after".

[2016-06-06 06:37] wojtek-t commented on #26871
@kubernetes/sig-api-machinery

I will look into it and try to fix it.

[2016-06-06 06:46] mqliang commented on #26853
@wojtek-t

It not a bug actually. It's just an optimization. And yes, it'd not hard to do.

Yeah, it's not urgent now. But it would be much helpful(less cpu, less mem, less networking burden) if the cacher just cache for the resources it serves.

Not only memory, but also cpu, networking, and burden to etcd. And the most important issue is about my understanding of cache: cache are always have loc

[2016-06-06 07:01] mqliang commented on #26853
@davidopp

Oh, I think I should be more specific. I don't mean configure API server so that it just cache for one(or some) resource.  And clients also do not need know about the failover policy. I configure the nginx/haproxy so that it forward a request to it's dedicate API server.

It works. If client send(or nginx forward) requests randomly, the API server will cache for all resources. The curre

[2016-06-06 07:01] guoshimin commented on #20096
If we are using flannel, i.e., kubelet doesn't manage the docker bridge, my understanding is that setting hairpin-mode to promiscuous-bridge will do nothing since the docker bridge isn't managed by kubelet. What's our best bet then to avoid the hung docker problem?

[2016-06-06 07:04] davidopp commented on #26853
You only get the efficiency property if all the clients know the policy. If you have even one client that picks randomly, then eventually all the objects get populated in all the API server caches. I think the extra complexity is only justified if it is really making the API server replicas more efficient. But as @wojtek-t said, it's not clear there's actually a problem right now.

[2016-06-06 07:16] mqliang commented on #26853
@davidopp

Why is it not enough to just let nginx/proxy to know the policy, I configure the API server address as the address of nginx/proxy for all clients, and let nginx/proxy forward all the requests.

Year, no big problem now. Just too many memory usage(especially when user add a looot of third-party resources), and may bring down API server by OOM. We could always use a larger RAM, after all,

[2016-06-06 07:16] xiang90 commented on #26853
@mqliang If the resource usage is a concern, especially memory. One thing we (k8s team at CoreOS) are considering to do is to cache all objects effectively. We did some benchmark and found API + controller used a few times more memory than etcdv3 server.  There could be a low hanging fruit somewhere.

[2016-06-06 07:25] mqliang commented on #26853
@xiang90 Did you guys do the benchmark with SharedInformer in controller? Before we have the SharedInformer, controller will cache Pod multi times.

[2016-06-06 07:26] xiang90 commented on #26853
@mqliang Also some thoughts for the 3rd party resources, if you start to store a loooot of these etcd2 server would suffer first. Even if you switch to etcd3, probably you cannot expect to have 10Xpods or more than 1KB/pods. I am not sure the desired direction of 3rd party resources, but as long as the backend store is still non-sharded etcd, it is limited. The scalability of a non-sharded etcd is

[2016-06-06 07:27] xiang90 commented on #26853
@mqliang Yes. We do.

[2016-06-06 07:35] wojtek-t commented on #26871
OK - I know what is happening.
By default we are not using any backoff in clients:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/restclient/client.go#L122

And if backoff is off, then we also don't respect "Retry-After".
I will send a PR to fix it.

[2016-06-06 07:39] mqliang commented on #26853
@xiang90

We use dedicate etcd cluster for those 3rd party resources. Just like use a dedicate etcd cluster for events.

The only place I could think of is: the cache in client is a two-level design. The cache have a [DeltaFIFO](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/framework/shared_informer.go#L124) ad as a queue, and have a [Indexer](https://github.com/kubernetes/ku

[2016-06-06 07:44] roberthbailey commented on #26850
We want to keep CVM working for now (which is why I stuck this test into the 1.3 tab in Jenkins).

@girishkalele -- can you please take a look tomorrow?

[2016-06-06 07:54] netroby opened #26873 "Please do not check gcr.io, we can not access the gcr.io"
[code]

[2016-06-06 07:57] ajohnstone commented on #26566
@vishh unfortunately I have deleted that particular cluster already. I will have to create another and reproduce the problem.

[2016-06-06 07:57] wojtek-t commented on #26871
Fix is already under review

[2016-06-06 07:59] Hui-Zhi commented on #25557
@vishh the volume mount in kubelet works for NVIDIA GPU, but discovery for GPU still need in kubelet, it could be in kubelet or cadvisor, which one you think is better?

[2016-06-06 08:10] wojtek-t commented on #26853
I generally agree with @xiang90 - we need to define a problem and solve the problem, instead of thinking about fancy solution and then trying to argument why it would be useful.

Basically, if we decide that the problem is e.g. memory, we should try to first find all low-hanging fruits, which I'm 100% sure there are some.

[2016-06-06 08:12] fasaxc commented on #17470
@aledbf Thanks for the tip, I'll give that a try.

[2016-06-06 08:13] wojtek-t commented on #26185
Yeah - we had 5 failures of kubemark-5 even after increasing size of master machine. So I think it's something different then cpu-starvation...

[2016-06-06 08:13] #25674 closed

[2016-06-06 08:13] #25654 closed

[2016-06-06 08:32] offlinehacker commented on #26865
Ok, today i woke up, and `/etc/resolv.conf` was empty on one of the gke nodes, and of course load balancer was unable to get token.

[2016-06-06 08:33] gouyang opened #26877 "unbound variable when run e2e testing on local cluster"
[code]

[code]

`KUBE_MASTER_IP` and `KUBE_MASTER` are not necessary for local testing, if `KUBE_MASTER_URL` is defined, it should be okay to run the testing.

[2016-06-06 08:45] activars commented on #23174
It might also make sense to namespace all salt states and pillar data parameters.
e.g. `kubernetes.etcd` instead of `etcd`
       `kubernetes.ntp` instead of `ntp`
       `kubernetes.docker` instead of `ntp`

alternatively, requires formula implemented here using a relative require.

The concern is that some salt states may have been implmeneted internally, it would be nice to be able to pull Kube

[2016-06-06 08:51] #25452 closed

[2016-06-06 08:59] wojtek-t commented on #26185
BTW - there is also the second type of strange traces, like this one:
[code]

This shows, that it took 122ms from when etcd_helper finished processing the Pod, to when actually resthandler finished the step of storing in database. This is super strange, because actually nothing is happening in the meantime...

@xiang90 @hongchaodeng ^^ (this is also something super interesting to debug)

[2016-06-06 09:05] gitfred commented on #26274
Guys it should be closed.

[2016-06-06 10:02] SephVelut opened #26883 "GCE loadbalancer"
I can't get a client's ip when using the loadbalancer service with GCE to hook into my app. Reading `x-forwarded-for` and trying other methods, I'm only able to obtain an internal cluster ip. Is there a way to allow services to send the client ip in ip related headers when they route traffic?

[2016-06-06 10:04] activars commented on #23174
Just noticed the salt state `top.sls` file has detailed implementation of two roles. It might make sense to separate two roles into two files: `master.sls` and `pool.sls`.

Then it will be quite easy to reference it in an external top file.

e.g.
[code]

If this makes sense, I'm happy to make a PR.

[2016-06-06 10:15] fasaxc commented on #17470
I retested with the `net.ipv4.vs.conntrack` flag set and then it seems to work with Calico's existing `-m conntrack --ctstate ESTABLISHED` rule.  I tested

- connecting from a pod to one on the same host via a service IP
- connecting from a pod to one on another host via a service IP
- connecting from a host to service IP.

All seemed to work as expected and policy was being applied.

I did not tr

[2016-06-06 11:02] stevenjack commented on #19704
@mgoodness 👍

@justinsb Have run into the same issue with terraform here. Would be great if we could tell kubernetes what security group to assign the ELB's to rather than it creating its own, terraform only wants to manage the state of resources it's created.

[2016-06-06 11:28] activars commented on #23174
Not trying to get to a language or tooling HackerNews comparison conversation.
I'm agree with @JJediny on the tooling. @mikedanese if you prefer the orchestration part, it's probably much simpler to improve the initial bootstrapping with salt-ssh.

[2016-06-06 11:36] pigmej commented on #26883
I don't want to sound abusive but you should use StackOverflow for asking questions @SephVelut :) Github bugs are not for questions now.

[2016-06-06 12:43] gmarek commented on #26211
I have logs from the last enormous-cluster run. I expect that we're throttling something at a client side, but I need to confirm.

[2016-06-06 12:56] dims commented on #26873
@netroby Looks like you saw a work around in https://github.com/kubernetes/kubernetes/issues/6888#issuecomment-223876333 is that enough for now?

[2016-06-06 13:05] gmarek commented on #26211
Though I see the problem in route-controller not node-controller itself.

[2016-06-06 13:12] jimmidyson opened #26890 "PATCH API requests don't handle path escaping as per RFC 6901"
tl;dr JSON Patch paths should have `/` & `~` escaped with `~1` & `~0` respectively, see http://tools.ietf.org/html/rfc6901#section-4 for more details on what's required.

I've submitted a [PR](https://github.com/evanphx/json-patch/pull/27) to evanphx/json-patch with the fix - will need to update vendored dependencies once that's merged (hopefully soon).

Would like to see this fix in 1.3 unless it

[2016-06-06 13:12] deads2k commented on #25403
I think that names are naturally namespace scoped, so specifying a name to retrieve across namespaces would result in weird API uses where doing a get by name results in a list.

In addition, I don't think that I want the API server to change to make directly spanning list requests.  Its not impossible to do if you're willing to hold the entire dataset in memory and re-index the entire thing, but

[2016-06-06 13:17] luxas commented on #15140
@davidopp Please see #26863
If you'd like more content in the pause section, feel free to comment on it

[2016-06-06 13:19] wojtek-t commented on #26211
This was observed 2 weeks a go. We did a bunch of changes especially in route-controller since then. Maybe this is no longer an issue. Did we check it?

[2016-06-06 13:20] gmarek commented on #26211
I'm looking at the last enormous cluster run from June 3rd.

[2016-06-06 13:23] timothysc commented on #19720
The BZs are up to date.  We've closed 1 as an installer issue, the 2nd one, or the wedge... Is being looked into.

[2016-06-06 13:24] gmarek commented on #26211
I looked at api-server logs and it looks that it's working as intended (more or less) - conflicts that I was able to find was caused by StatusUpdates sent by Kubelets.

This shouldn't be too surprising in 2k Node clusters.

@zmerlynn - what was the result of this behavior? NodeStatuses weren't up to date?

[2016-06-06 13:27] gmarek opened #26891 "Split CIDR allocation controller out of NodeController"
There's absolutely no reason for those two logics be in the single component (other that one that they always were).

cc @kubernetes/goog-control-plane

[2016-06-06 13:31] zmerlynn commented on #26211
At the time, it looked like the nodecontroller was flapping and just not getting around to updating node state.

I'm happy to close this for now, though. We've certainly changed enough and I also haven't seen it.

[2016-06-06 13:31] #26211 closed

[2016-06-06 13:55] lukaszo opened #26892 "Init containers are in CrashLoopBackOff but RESTARTS count is still 0"
The output looks like below:

[code]

What is expected behavior? Does restart counter should increase when init containers are failing? Does restart counter should be reseted when InitContainer will start work and normal containers start?

cc @smarterclayton

[2016-06-06 13:55] mgoodness commented on #19704
@justinsb that is what I ultimately did, by adding a `lifecycle { ignore_changes = ["ingress"] }` statement to my kubernetes-workers SG. It's also the only SG tagged with `KubernetesCluster = <clusterName>` assigned to the workers, making the process much more predictable.

The only downside is that Terraform now ignores ingress rule changes I make. That's not a common occurrence, though, and is e

[2016-06-06 14:07] fasaxc commented on #17470
Update: while I had the rig set up, I checked the latter case and it also seems to work as expected.  I manually inserted an iptables rule that masqueraded looped-back traffic.

[2016-06-06 14:12] idvoretskyi commented on #19720
@Random-Liu awesome research, thank you.

[2016-06-06 14:24] smarterclayton commented on #17470
Having to create a dummy IP for each service would be unfortunate.  Is
there a way around that?

On Mon, Jun 6, 2016 at 10:07 AM, Shaun Crampton <notifications@github.com>
wrote:

[2016-06-06 14:27] smarterclayton commented on #26892
Restarts are tracked per container - I'd be concerned that the restarts the user is concerned with don't map exactly to the init container restarts, although knowing how many attempts to init have been made are useful.  Since init containers are processed serially, when an init container passes, do we reset the restart count to zero?

I think we could show the current init container restart count

[2016-06-06 14:36] soltysh commented on #2156
@eghobo we're waiting for 1.3 to land and additionally we need to figure out some multi-versioning problems. But the general idea is to have it as soon as possible.

[2016-06-06 14:38] xiang90 commented on #26185
@wojtek-t Will look into this more. Have you tried to print out runtime log, like routine scheduling,blocking, gc info?

[2016-06-06 14:39] wojtek-t commented on #26185
@xiang90 - not yet, I didn't have time, sorry.

[2016-06-06 14:44] rhcarvalho opened #26895 "Probe timeout ignored by ExecAction"
I'm using a readiness probe that may take a long time to run, and I expected it to be interrupted after the specified timeout.

A probe defined like this:

[code]

Instead of timing out and failing, it is actually succeeding and ignoring the timeout.

I noticed that both `TCPSocketAction` and `HTTPGetAction` probes timeout according to the value of `TimeoutSeconds`, `ExecAction` on the other hand

[2016-06-06 14:47] bprashanth commented on #26865
@offlinehacker was the token issue just dns again? resolv.conf was empty on the vm itself or inside a pod?

[2016-06-06 14:55] smarterclayton opened #26896 "reflect.Value.call still high in allocation list"
reflect.Value.call, once we're switched to proto for both storage and API, still is the largest allocator.  We should add fast path methods for at least some of the below to 1.3 (this is from an e2e run):

[code]

Distribution of callCustom (which is the source of reflect.Value)

[code]

@wojtek-t I want to fix a few of these for 1.3 since it's low risk.

[2016-06-06 15:12] smarterclayton commented on #26896
Other notes from this - ContainerImage showing up in the profile is concerning - that should have been fixed by https://github.com/kubernetes/kubernetes/pull/26451, but it may just be that there are enough objects that we pay a significant cost during decode.

[2016-06-06 15:18] bprashanth commented on #20096
hairpin mode is required for proper functioning of services, kubelet would set hairpin mode on bridges regardless of --configure-cbr0. It's a setting per veth. You can check if it's set like: https://github.com/kubernetes/kubernetes/issues/20475#issuecomment-203516597

[2016-06-06 15:25] roberthbailey commented on #14339
@JeanMertz -- Can you use node pools to solve this use case?

1. Create a new node pool at the version you want to upgrade to
1. Sequentially drain each node from the old node pool (this should move a vault instance to a new node)
1. Unseal the vault instance
1. Once all nodes in the old node pool have been drained, delete the old node pool

This will give you very fine grained control over the up

[2016-06-06 15:33] mikedanese commented on #26770
@gmarek it has .05 cpu share request. Is that not sufficient to mitigate impact? If not we can set a limit on it. It's not latency sensitive. I agree that the entire thing needs a rewrite but I'm not sure how urgent it is.

[2016-06-06 15:36] smarterclayton commented on #26896
`api.NamespaceFrom` is performing an allocation and I can't figure out why (interface -> string cast?)

[code]

[2016-06-06 15:44] smarterclayton commented on #25403
Not supporting this was by design - as david mentioned, users who want to fetch from multiple namespaces need to do so manually, which could be extremely expensive.  Part of the reason for that (beyond the reasons david mentioned) is that namespaces are *shard boundaries* and we reserve the right in the future to make the "all-namespaces" call have to fetch data from multiple underlying shards.  A

[2016-06-06 15:48] mikedanese commented on #26376
@mqliang thanks for looking into this.

[2016-06-06 15:49] smarterclayton commented on #26896
Profile from controller-manager under the same run:

[code]

Timer is jumping out, will spawn a new issue.

[2016-06-06 15:55] smarterclayton commented on #26896
ContainerImage#Unmarshal is also the highest allocation on scheduler

[2016-06-06 16:00] smarterclayton commented on #26896
Same run, Kubelet

[code]

* Majority of those allocations are coming from `k8s.io/kubernetes/vendor/github.com/docker/engine-api/client.(*Client).ContainerList`.
* It *looks* like we are still using JSON encoding in event recording

Cumulative top30 of the same heap:

[code]

[2016-06-06 16:18] gmarek commented on #26770
I added a P3 priority:) I agree that it's .05 should be enough to mitigate the impact, as long as nothing external is looking for CPU usage as a signal to check if master is big enough. And as I mentioned I have no idea what will happen when we'll starve it.

[2016-06-06 16:33] #6589 closed

[2016-06-06 16:42] mtaufen commented on #26649
This seems to fix the issue for me. If I `sudo -v`, prior to running it works. If I `sudo -k` prior to running, it asks me to authenticate, and then works.

You might want to note this output, where it reports that it `Failed to stop` certain services:
[code]

But it seems that those processes do ultimately die, since e.g. a `ps -aux | grep 24853` turns up nothing, so maybe this isn't a big deal?

[2016-06-06 16:53] girishkalele commented on #26850
I'll fix it - should be straightforward - #26335 actually was to fix the breakage in DNS when we moved to GCI masters, the skydns yaml files were moved and the dns pod is probably not even starting up in CVM masters.

[2016-06-06 16:53] krousey commented on #26628
@lavalamp , @wojtek-t already stated that it wasn't because the apiserver was down in this case.

[2016-06-06 16:57] jason-kane commented on #26864
This looks like a dupe of https://github.com/kubernetes/kubernetes/issues/25489

[2016-06-06 16:58] goltermann commented on #12312
Is this still valid?  P0 from 10 months ago, no recent work.

[2016-06-06 16:59] goltermann commented on #19953
Is this one now fixed since #26351 went in?

[2016-06-06 17:00] goltermann commented on #19954
This P0 has been open since Jan with little progress.  Still valid?

[2016-06-06 17:01] goltermann commented on #22655
@thockin is this really a P0?  No recent progress...

[2016-06-06 17:02] goltermann commented on #25905
@kargakis Any update?  This P0 has been open a while.

[2016-06-06 17:03] goltermann commented on #25940
@mikedanese are you actively working on this one?  It's marked P0

[2016-06-06 17:05] goltermann commented on #26139
@pwittrock are you working on this?  It's listed as P0.

[2016-06-06 17:09] ihmccreery commented on #18119
This isn't even started.  The script I wrote is a decent workaround, so might make this issue obsolete, but that's for @fejta et al. to decide.

[2016-06-06 17:11] glerchundi opened #26897 "gce: getInstancesByNames lookup by canonicalized names"
Hi guys,

I'm having a lot of troubles getting up my cluster with provider load balancers, concretely with GCE. `controller-manager` fails trying to retrieve instances by hostnames (using `getInstancesByNames` method):

[code]

I tried to compare the gce access implementation used in `1.1.4` (because I get into this when I was trying a cluster upgrade from `1.1.4` to `1.2.3`) with the master imple

[2016-06-06 17:13] goltermann commented on #26191
Any update here?  This is a P0.

[2016-06-06 17:19] kargakis commented on #25905
My fix for this has been merged a while ago: https://github.com/kubernetes/kubernetes/pull/26349 but it is only fixing the flake @janetkuo had observed with the reaper. The error reported originally has to do with the deployment expectations. Assigning back to @bgrant0607 for that part.

[2016-06-06 17:19] goltermann commented on #26455
This is a P0 that's 10d old.  What's the latest status?

[2016-06-06 17:23] yujuhong commented on #26873
@netroby, like @dims said, you can specify a different infra container image through `--pod-infra-container-image` to use whatever image you'd like.

[2016-06-06 17:23] #26873 closed

[2016-06-06 17:29] mikedanese commented on #25940
@goltermann I was out for the end of last week but I'm back on it today. The PR with the method I described above is #26585

[2016-06-06 17:33] yujuhong commented on #26852
Closing this in favor of #18174.

[2016-06-06 17:33] #26852 closed

[2016-06-06 17:34] chrislovecnm opened #26898 "quantities must match the regular expression ~ cpu resource limits are forced to have unit"
Hi all

I am on

[code]

Yaml that worked on head, is no longer working.

[code]

Was working previously.  Now I get the error:

[code]

This error is cause by:

[code]

It I change is to

[code]

It works.

Is this a new feature?  If so documentation and examples needs to be fixed ...

[2016-06-06 17:35] yujuhong commented on #26784
Fixed and the test hasn't failed in the past 2 days.

[2016-06-06 17:35] #26784 closed

[2016-06-06 17:37] adityakali commented on #26455
There is a preview image under testing. The release image is expected to be available this week.

[2016-06-06 17:38] chrislovecnm commented on #26898
@bgrant0607 @bprashanth so the C* examples are now broken on v1.3.0-alpha.5.  This is caused by a new regex that is being enforced on ``cpu:``.  I assume this is a new feature?  No backward compatibility btw :(

[2016-06-06 17:38] bprashanth commented on #26898
@kubernetes/goog-node did we recently change request/limits validation?

[2016-06-06 17:41] yifan-gu commented on #25549
Thank you @dchen1107

[2016-06-06 17:45] saad-ali commented on #19953
Yes, this is fixed with #26351

[2016-06-06 17:45] #19953 closed

[2016-06-06 17:45] justinsb commented on #22060
For 1.3, I think this is a P2 at this stage in the cycle (though I do think it is important).

[2016-06-06 17:46] justinsb commented on #20382
I would love to do a bunch of clean-up once in between branching off 1.3 and before 1.4 gets into full swing.  Targeting this for 1.4 therefore.

[2016-06-06 17:46] yifan-gu commented on #25219
Fixed by #22663

[2016-06-06 17:46] #25219 closed

[2016-06-06 17:47] justinsb commented on #23483
I think at this stage in the 1.3 cycle it's a P2 (sorry quinton!)

[2016-06-06 17:53] justinsb commented on #23484
I believe this is done as far as we're going to do in 1.3 (SSL works now - thanks @therc!).  Moving further efforts to 1.4

[2016-06-06 17:55] saad-ali commented on #26780
I don't have the bandwidth to investigate this at the moment. Can someone from @kubernetes/sig-storage please take a look.

[2016-06-06 17:56] justinsb commented on #22854
I believe this is now implemented, via https://github.com/kubernetes/kubernetes/pull/23495.  Please reopen if I've overlooked something (we also have https://github.com/kubernetes/kubernetes/issues/23484 for tracking 1.4 improvements)

[2016-06-06 17:56] #22854 closed

[2016-06-06 17:57] bgrant0607 commented on #26853
cc @kubernetes/sig-api-machinery

[2016-06-06 17:59] therc commented on #22854
I'm trying to finish #24978 today

[2016-06-06 18:00] therc commented on #22854
Errrr... I meant #26268 (mixed HTTP/HTTPS)

[2016-06-06 18:01] goltermann commented on #24170
We @alex-mohr @roberthbailey should make a call on this for v1.3 soon.

[2016-06-06 18:02] SephVelut commented on #26883
Not at all. I should have posted on SO. I'll close issue.

[2016-06-06 18:02] #26883 closed

[2016-06-06 18:06] saad-ali commented on #20262
The other attachers are in the works, for example: https://github.com/kubernetes/kubernetes/pull/25888

Yes. Flex also needs to be refactored to split SetUpAt apart and implement the Attacher interface. I believe @rootfs is planning on doing this (he's tackling a few plugins at a time), but if anyone else wants to jump on it, I'd love a PR sometime this week (since v1.3 is being cut on Friday).

[2016-06-06 18:08] smarterclayton commented on #26853
We have a *lot* of low hanging fruit today - for instance, not using shared caches in admission controllers (PR opened a few days ago), not using shared caches in the controllers, which consume a lot more memory right now than the etcd cache.

[2016-06-06 18:11] ovidiucp commented on #18174
@mikedanese Is there an update on this?

The lack of highly available set of API servers for kubelet is a major bummer in production. A large proportion of the cluster nodes become `NotReady` when a machine running a master is rebooted. See #26852 for a more detailed description.

[2016-06-06 18:11] saad-ali commented on #22911
Excellent debugging @jingxu97. Looking forward to seeing what the root cause is for both issues.

[2016-06-06 18:11] ajohnstone commented on #26566
I've found the cause of the above...
[code]

stats
[code]
docker info
[code]

[2016-06-06 18:15] girishkalele commented on #26850
@zmerlynn

Is there a way I can ask the testbot to trigger this specific Jenkins (CVM-on-Master) test on my pull request ?

The fix is simple - svc and rc DNS files were renamed.

[code]

[2016-06-06 18:16] dchen1107 commented on #25082
I didn't see any failure due to this kind of version screw. Close this one.

[2016-06-06 18:16] #25082 closed

[2016-06-06 18:18] dchen1107 commented on #23433
No new flake related to this for a long time, close this one since our automated system will refire.

[2016-06-06 18:18] #23433 closed

[2016-06-06 18:19] goltermann commented on #23822
@jdef do you have reason to think this is still happening?  if not, want to close it?

[2016-06-06 18:19] euank commented on #24563
We now have the `/etc/hosts` file populated correctly, however the tests still fail because CoreOS instances on GCE do not correctly populate all dns search strings. This is due to https://github.com/systemd/systemd/issues/2710

I believe that the best resolution here is to do one of the following (in order of preference):

1) Modify the kube-up scripts for GCE + CoreOS to add a file in `/etc/syst

[2016-06-06 18:20] lavalamp commented on #22489
Closing due to age. New occurrences will be tracked in auto-filed issues.

[2016-06-06 18:20] #22489 closed

[2016-06-06 18:20] mikedanese commented on #18174
A possible implementation was discussed in #25428 but there are some problems with the approach. This isn't going to make it into v1.3. For now you should front the apiserver with a load balancer (e.g. gcplb/elb/nginx/haproxy).

[2016-06-06 18:20] lavalamp commented on #23451
Closing due to age. New occurrences will be tracked in auto-filed issues.

[2016-06-06 18:20] #23451 closed

[2016-06-06 18:21] goltermann commented on #24538
@fejta what's the latest on this one?  no updates in a month.

[2016-06-06 18:21] lavalamp commented on #23321
Closing due to age. New occurrences will be tracked in auto-filed issues.

[2016-06-06 18:21] #23321 closed

[2016-06-06 18:22] lavalamp commented on #24652
Closing due to age. New occurrences will be tracked in auto-filed issues.

[2016-06-06 18:22] #24652 closed

[2016-06-06 18:23] lavalamp commented on #21836
Closing due to age.

[2016-06-06 18:23] #21836 closed

[2016-06-06 18:23] goltermann commented on #24341
@vishh what's the latest here?  still valid?

[2016-06-06 18:24] goltermann commented on #24516
@jdef  do you have reason to think this is still happening?  if not, want to close it?

[2016-06-06 18:25] goltermann commented on #24686
@davidopp @pwittrock this has no update since it was opened.  is this flake still occurring?

[2016-06-06 18:25] lavalamp commented on #25890
@caesarxuchao This is fixed, right? Or is it not merged yet?

[2016-06-06 18:26] goltermann commented on #24507
closing - no hits since May 5

[2016-06-06 18:26] #24507 closed

[2016-06-06 18:26] goltermann commented on #25349
@jdef  do you have reason to think this is still happening?  if not, want to close it?

[2016-06-06 18:27] goltermann commented on #25855
@thockin any update here?  think this is still a valid flake issue?

[2016-06-06 18:28] caesarxuchao commented on #25890
Yes, fixed by #26493. Closing.

[2016-06-06 18:28] #25890 closed

[2016-06-06 18:29] girishkalele commented on #26180
@bprashanth

I will take a look at why the DNS pod was stuck in pending

[2016-06-06 18:39] hongchaodeng commented on #26185
Context switch.

[2016-06-06 18:42] zmerlynn commented on #26850
@girishkalele: No, but it's easy to `kube-up` a CVM master (just override KUBE_OS_DISTRIBUTION to `debian`), and if it's just detecting whether DNS comes up, you can just do it manually fairly fast.

[2016-06-06 18:49] hongchaodeng commented on #26185
I have run 50 times without any failure.
I will keep running it and updated here.

[2016-06-06 18:50] vishh opened #26903 "Ensure kubelet cgroups detection on CoreOS works reliably"
In the past, Kubelet Summary API e2e tests have flaked on CoreOS specifically. The failure were all related to Kubelet not being able to identify its own cgroups and hence not including `kubelet` summary stats in the output of `/stats/summary`.

Running the summary tests multiple times should help reproduce this issue. `FOCUS=summary make test_e2e_node`.

https://github.com/kubernetes/kubernetes/p

[2016-06-06 18:53] dims commented on #24031
@apelisse @jsafrane - since "--max-time 80" was added... can we close this bug?

[2016-06-06 18:55] vishh commented on #26566
This error `conversion.go:128] failed to handle multiple devices for container. Skipping Filesystem stats` should probably be suppressed. It does not affect kubelet functionalities.
Can you post the output of `http://localhost:10255/stats/summary`?

[2016-06-06 18:56] wojtek-t commented on #26185
Yeah - but we can handle 100-node cluster with 4-core master and are not seeing those.
I can't see any reason, why we wouldn't be able to handle 5-node cluster with 2-core master with exactly the same load. This should just work. We need to understand why it's not.

[2016-06-06 18:57] dims commented on #23514
Is this the same as https://github.com/kubernetes/kubernetes/issues/26290 ?

[2016-06-06 18:58] dims commented on #26290
Is this the same as https://github.com/kubernetes/kubernetes/issues/23514 ?

[2016-06-06 18:59] ApsOps commented on #18868
@vishh Hi. I'm still hitting this on docker `v1.9.1`, kubernetes `v1.2.4`

[2016-06-06 18:59] pmorie commented on #26780
Exit code 137 = 128 + <signal number>; n = 9 -> SIGKILL

I would be curious to see why this container was killed.

[2016-06-06 19:01] dims commented on #21367
Since we have #26224  , let's please close this

[2016-06-06 19:03] dims commented on #12312
We should close this as a dup of https://github.com/kubernetes/kubernetes/issues/25845

[2016-06-06 19:03] wojtek-t commented on #23514
The original problem seem to be different than in the other issue (it may end up to be the same, but at least I don't know it)

[2016-06-06 19:05] dims commented on #26689
I see a TestAddTwoFireEarly failure in TestAddTwoFireEarly https://github.com/kubernetes/kubernetes/issues/25135 as well. should we close one of them?

[2016-06-06 19:05] dims commented on #25135
Duplicate of https://github.com/kubernetes/kubernetes/issues/26689 ?

[2016-06-06 19:06] #17176 closed

[2016-06-06 19:07] dims commented on #24577
Is this related to https://github.com/kubernetes/kubernetes/issues/26297 ?

[2016-06-06 19:10] dims commented on #26698
Is this related to the other flake in https://github.com/kubernetes/kubernetes/issues/25398 ?

[2016-06-06 19:11] vishh commented on #24577
Yeah. Let's close this in favor of #26297

[2016-06-06 19:11] #24577 closed

[2016-06-06 19:11] dims commented on #25760
based in "This probably happened during the fire we had last week when the node e2e tests were leaking VMs everywhere." comment, can we close this?

[2016-06-06 19:12] vishh commented on #26297
@dchen1107 Kindly re-assign this issue.

[2016-06-06 19:12] dims commented on #21990
Duplicate of https://github.com/kubernetes/kubernetes/issues/21824 ?

[2016-06-06 19:13] dims commented on #21824
Duplicate of https://github.com/kubernetes/kubernetes/issues/21990 ?

[2016-06-06 19:14] dims commented on #24953
Is this still a problem? Does not seem to have been referenced by anyone since Apr 29. Can we please close this?

[2016-06-06 19:14] ixdy commented on #26822
looks like a dupe of #14074 / #18960. cc @spxtr

[2016-06-06 19:15] dims commented on #25539
Hmm, there may be a clue here: https://github.com/kubernetes/kubernetes/issues/7711

[2016-06-06 19:21] tayzlor commented on #23174
Just discovered this issue recently. We've been working on https://github.com/Capgemini/kubeform which  falls inline with some of the thinking here (it's based on terraform, ansible + CoreOS).

[2016-06-06 19:21] deads2k commented on #25135
Yeah, they're the same.  haven't seen a reference since #26700 merged

[2016-06-06 19:21] mml commented on #21990
I never did anything with this back in March.  @krousey is in a better position to dup.

[2016-06-06 19:22] vishh commented on #26898
I don't think this change was intentional. Sounds like a bug to me.

[2016-06-06 19:27] vishh commented on #24341
Closing this issue for now. We can re-open it if the test fails again.

[2016-06-06 19:27] #24341 closed

[2016-06-06 19:33] yujuhong commented on #26898
The file `quantity.go` went through an overhaul in #25243

/cc @smarterclayton @lavalamp

[2016-06-06 19:38] quinton-hoole commented on #21824
Yes, I believe that #21990 and #21824 are duplicates of each other, and both resolved by #21602.  Closing.

[2016-06-06 19:45] #21824 closed

[2016-06-06 19:51] jimmidyson commented on #25961
Playing with iptables in the pod net namespace started off promisingly... but then there are all sorts of problems with kernel modules not available in containers so using different stuff like running proxy sidecar as different uid & redirecting all traffic from non-proxy uid to proxy, allowing all traffic out from proxy uid didn't work to get a nice transparent proxy. Still feels like there shoul

[2016-06-06 19:52] dims commented on #26364
Since we don't have much to go on and it has not occured since, do we close this for now?

[2016-06-06 19:56] dims commented on #23974
@fgrzadkowski can we close this? (per last commenter)

[2016-06-06 19:57] timstclair commented on #26566
That's strange, the numbers on the stats you posted don't add up. I think `"usage"` should equal `"capacity" - "available"` (computed [here](https://github.com/google/cadvisor/blob/v0.22.2/fs/fs.go#L497))

[2016-06-06 19:58] lavalamp commented on #26853
I think this is a request for sharding. I think it will be easy to set that up in the future, once we have the discovery summarizer & proxy running, just by running multiple apiservers and directing different resources to them. I don't think we should focus on this yet as it add significant system complexity.

Also, after we switch to etcd3, there's some chance we could remove the apiserver cache

[2016-06-06 19:59] lavalamp commented on #26853
I edited the title of this issue to make it clearer.

[2016-06-06 20:00] dims commented on #25652
@jsafrane @rmmh - Looks like this has not happened in a while. So can we close it?

[2016-06-06 20:02] y2kenny opened #26905 "DNS healthz hitting "Latest result too old to be useful""
I am trying to setup a k8s cluster using CoreOS 1010.5 stable as master and 1010.4 beta as nodes.  I am also trying to setup DNS following the method described in the addon documents.  But the /healthz probe keep getting result like this:

[code]

I believe skydns was able to talk to k8s:
[code]

Given the error message, I have enabled NTP on the CoreOS node but that did not help.  I also get a lo

[2016-06-06 20:08] smarterclayton commented on #26898
Yeah, that's a bug.  We have test cases for that though, so not sure what you're hitting.  Is there any whitespace around that quantity?

[2016-06-06 20:09] spxtr commented on #26822
oh dear, this again. This one is a real bother. I spent a long time trying to figure out what was going on and didn't figure out much.

[2016-06-06 20:11] smarterclayton commented on #26898
Ah, we no longer call TrimSpace on quantities.  Hrm... I'm not sure we should allow you to specify `"1 "` as a valid quantity.

[2016-06-06 20:16] ajohnstone commented on #26566
I've run some more tests, and it does seem to be behaving correctly, at least it is now with my current cluster.

I'm a little unsure how the thresholds are set "available 120 MB, threshold 256 MB"

the full details can be found at https://gist.github.com/ajohnstone/ab8632ae4e8fc573bb66cac3ce0881f8

The log "failed to handle multiple devices for container. Skipping Filesystem stats" did confuse me

[2016-06-06 20:16] smarterclayton commented on #26898
@lavalamp did you intentionally support quantities with whitespace?  We probably have backed ourselves into a corner where we have to support this until v2, but I want to put a comment in the code so that it's a known thing.

[2016-06-06 20:17] smarterclayton commented on #26898
Also, I'll note our validation tells users this is wrong, but we didn't enforce it.

[2016-06-06 20:21] timothysc commented on #26421
/cc @jsafrane

[2016-06-06 20:23] krousey commented on #26210
@sttts Are you actively working on this?

I have noticed that it always fails on attempt 0 for the path and subsequently succeeds. This also only seems to happen on GKE. I think this means that the SSH tunnels that GKE relies on for proxying are getting in a bad state, the first proxy request errors, the tunnel is re-established, and subsequent requests are blocked until the tunnel is back up and

[2016-06-06 20:30] lavalamp commented on #26062
I'm kicking this out of CSI/API machinery, I don't understand why it was labeled that way.

[2016-06-06 20:32] apelisse commented on #24031
Yes

[2016-06-06 20:32] #24031 closed

[2016-06-06 20:35] lavalamp commented on #26728
Isn't the error message basically "can't delete namespace X because it's currently being deleted"? It seems like either the framework should accept that as not an error or the server should count that as a success?

[2016-06-06 20:36] lavalamp commented on #26815
cc @erictune

[2016-06-06 20:40] lavalamp commented on #26689
Dup of #25135

[2016-06-06 20:40] #26689 closed

[2016-06-06 20:41] lavalamp commented on #25135
OK, if it happens again the bot will open a new issue.

[2016-06-06 20:41] #25135 closed

[2016-06-06 20:41] mikedanese commented on #14691
This flaked again in https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26585/kubernetes-pull-test-unit-integration/29352/artifacts/

[code]

[2016-06-06 20:42] pwittrock commented on #26804
cc @janetkuo @AdoHe

@lavalamp Is there any reason we want this behavior from the api machinery perspective, or does this sound like it is just a bug

[2016-06-06 20:42] jingxu97 commented on #26662
Hi,

Could anyone help me point out some information about setting up the
cluster 1.3 version and run 1.1 tests? Thanks a lot!

Best
Jing

On Sat, Jun 4, 2016 at 11:11 AM, Paul Morie <notifications@github.com>
wrote:

--
- Jing

[2016-06-06 20:42] lavalamp commented on #26628
Yeah, sorry, I somehow missed that.

[2016-06-06 20:43] lavalamp commented on #26403
@xiang90 any findings?

[2016-06-06 20:43] vishh commented on #26566
Having access to kubelet logs will help. Unfortunately, kubelet does not log errors on disk space checks [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2467).

[2016-06-06 20:45] y2kenny commented on #26905
Additional version information:
[code]

[2016-06-06 20:45] lavalamp commented on #26135
@dchen1107 I think this issue is mainly the slow image pulling problem-- is there another issue where you're tracking that?

[2016-06-06 20:47] lavalamp commented on #26135
Maybe #25277 is the more canonical issue?

[2016-06-06 20:47] roberthbailey opened #26906 "data race in data race in k8s.io/kubernetes/pkg/registry/generic/etcd"
From https://github.com/kubernetes/kubernetes/pull/26823 on the 1-2 release branch.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26823/kubernetes-pull-test-unit-integration/29130/

[code]

[2016-06-06 20:48] lavalamp commented on #26135
Assigning to @bprashanth and @girishkalele since they have #25277 and #26626 respectively.

[2016-06-06 20:49] bprashanth commented on #26135
We don't prepull static pods, this is https://github.com/kubernetes/kubernetes/issues/26626
[code]
Will the merge robot follow dupes? if so we can dupe. Prepulling fixes this issue for every non-static pod.

[2016-06-06 20:49] roberthbailey commented on #26338
Now that #26335 has been merged I'm going to close this and let the bot re-open it if we still see this flake.

[2016-06-06 20:49] #26338 closed

[2016-06-06 20:50] bprashanth commented on #26626
retitled, since most image pulling was addressed by prepulling. At least we no longer get test flake that we need to dig into only to realize it's image pulling.

[2016-06-06 20:51] smarterclayton commented on #26898
#26907 alters the JSON unmarshal of quantity to strip leading and trailing whitespace.  All other paths (protobuf) will continue to enforce no leading or trailing whitespace.

@derekwaynecarr are there any annotations or other string fields in the API today that directly encode quantity as a string (rather than using resource.Quantity to deserialize)?

[2016-06-06 20:52] bprashanth commented on #26626
@girishkalele so we're just running your test pod alongside the image puller to detect defunct vms?

[2016-06-06 20:58] ronnielai commented on #26566
I think a log is generated for kubelet disk space check errors in the lower level by [isSpaceAvailable](https://github.com/kubernetes/kubernetes/blob/6224f44717effa17914fac41f13a4f2be7b5c21b/pkg/kubelet/disk_manager.go#L94).

[2016-06-06 20:58] yujuhong commented on #26898
This fails even if there is no trailing/leading whitespace.

[code]

If you change the cpu to "10", it'd work. The [length checking during unmarshaling](https://github.com/kubernetes/kubernetes/blob/e6a02ac51176dc7535bed776188c0c54aacc1416/pkg/api/resource/quantity.go#L629) may have caused the problem.

[2016-06-06 20:59] apelisse commented on #26681
As discussed with @jlowdermilk, let's close it..

[2016-06-06 20:59] #26681 closed

[2016-06-06 21:00] ericchiang opened #26909 "kubectl: error message for user with no permissions is extremely cryptic"
If kubectl can login but isn't authorized to access non-resource URLs (paths like "/apis") it gives an extremely cryptic message about failed version negotiation.

[code]

This is the default error message for a user without any permissions.

I would expect this action to return an error message similar to other 403s. For example:

[code]

[2016-06-06 21:02] ericchiang commented on #26909
can someone label this as area/auth?

[2016-06-06 21:08] girishkalele commented on #26626
@bprashanth cc@dchen1107

Yes, as Dawn explained to me, the intent is to run the nethealth container in the static test pod and gather data on GCS download performance and integrate it into standard e2e test log output.

[2016-06-06 21:10] smarterclayton commented on #26898
Oh, this is YAML being awesome as well.

On Mon, Jun 6, 2016 at 4:58 PM, Yu-Ju Hong <notifications@github.com> wrote:

[2016-06-06 21:15] smarterclayton commented on #26898
Updated with a fix for JSON and YAML strings (another thing we technically
should not have supported, but ended up accidentally supporting) and a test
case.

On Mon, Jun 6, 2016 at 5:10 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-06-06 21:19] derekwaynecarr commented on #26898
Yeah, this is just YAML.  You need to "<int>" in this field, and quantities with suffix can be provided as is.

[2016-06-06 21:22] derekwaynecarr commented on #26903
I suspect this is a problem for how the kubelet is launched on CoreOS since CoreOS does not actually use a `user.slice`.  Let me spin up a CoreOS image to take a look as well.

[2016-06-06 21:23] andyzheng0831 commented on #26379
The current status: I am making a PR to add the network plug-in support in GCI.

[2016-06-06 21:23] ihmccreery commented on #24170
Why is this marked at `area/upgrade`?

[2016-06-06 21:28] mml commented on #12312
@dims this is a different symptom.  At least, the two issues describe failures with totally different messages.

[2016-06-06 21:30] freehan commented on #24953
The fix has been merged upstream. But k8s has not updated CNI version yet. I am waiting for another fix to get in to upstream and bump the CNI version all together.

[2016-06-06 21:31] caesarxuchao commented on #26728
True for the error message pasted by the bot, but there are other failures in the log with "namespace was not deleted within limit" message, which indicates a different cause.

Also, "can't delete namespace X because it's currently being deleted" shouldn't happen in the e2e test either.

[2016-06-06 21:34] girishkalele commented on #26850
Got an error setting just the KUBE_OS_DISTRIBUTION flag.
'''
 - Invalid value for field 'resource.disks[0].initializeParams.sourceImage': 'https://www.googleapis.com/compute/v1/projects/google-containers/global/images/debian-8'. The referenced image resource cannot be found.
'''

Then, I set all image related KUBE variables to the below and the master doesn't get ready.

KUBE_GCE_NODE_IMAGE=contai

[2016-06-06 21:39] zmerlynn commented on #26850
@girishkalele: That last set is exactly what `kubernetes-e2e.yaml` sets, so I'm not sure what's different with you and Jenkins:
[code]

[2016-06-06 21:39] jimmidyson opened #26911 "Missing watch event for new namespace"
When watching events in global namespace (`/v1/events?watch=true`) no create event is received for new namespaces. Subsequent events for resources created in these new namespaces are received correctly.

/cc @buildlackey

[2016-06-06 21:40] smarterclayton opened #26912 "pkg/client/record/events_cache.go is using internal API versions to diff"
https://github.com/kubernetes/kubernetes/blob/fdb110c859c1bd626ac41c886ed76ab5bc973318/pkg/client/record/events_cache.go#L245 is marshaling the internal object to create a strategic merge patch.  It should be using the v1 event.

[2016-06-06 21:40] derekwaynecarr commented on #26903
I did the following:

* Start CoreOS stable 1010.5.0
* Run https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/environment/setup_host.sh
* Reboot machine
* Verified CPU Accounting and Memory Accounting were enabled by default (systemctl show systemd) and see `CPUAccounting=yes` and `MemoryAccounting=yes`.

If I run anything via SSH on this box, I see I get cgroups like the following

[2016-06-06 21:51] girishkalele commented on #26850
The Debian debian-8 images are not visible when I do ```gcloud compute instances list``` as myself.

I think it is not accessible to folks who don't have read perms for google_containers.

[2016-06-06 21:53] zmerlynn commented on #26850
That shouldn't be launching `debian-8` at all.

[2016-06-06 22:00] bluesbeyond commented on #3920
how could i scp the .docker/config.json to each node when I want to avoid pullimageerror....

[2016-06-06 22:05] rootfs commented on #26780
can we get the Dockerfile of the test image [here](https://github.com/kubernetes/kubernetes/blob/15c9ecb5bed45f/test/e2e/empty_dir.go#L33)?

[2016-06-06 22:07] pmorie commented on #26780
@rootfs https://github.com/kubernetes/kubernetes/blob/master/test/images/mount-tester/Dockerfile

[2016-06-06 22:10] jtblin commented on #20382
I've been pretty busy lately so didn't get started on it but I wouldn't mind having a look at it at the end of the week.

[2016-06-06 22:18] mml commented on #25845
This error message comes from a place where we retry for an arbitrary period of time (20s) before giving up.  If the failures are rare, this looks like the standard problem of trying to pick a timeout that fails quickly enough but doesn't flake all the time.

I have tried cranking the timeout down to 50ms instead to see if I can reproduce (no luck yet), but any transient failure around this timeou

[2016-06-06 22:21] philips commented on #26909
cc: @janetkuo @kubernetes/kubectl

[2016-06-06 22:41] zmerlynn commented on #25543
I'm going to tentatively close this until we show that it's a problem on Docker 1.11.2, now that Docker 1.11.2 is in `master` on both GCE and GKE.

[2016-06-06 22:41] zmerlynn commented on #25543
(Obviously feel free to reopen if I'm wrong.)

[2016-06-06 22:48] mml commented on #25845
For sure, running etcd with --debug and sending stdout to a file we keep would be super useful.  It logs every request with timestamps.

[2016-06-06 22:54] dchen1107 commented on #25812
@liangchenye is busy with other work, re-assign it back to myself.

[2016-06-06 22:56] hongchaodeng commented on #26185
I have reproduced the problem after 100 runs.

Latency from e2e log:
[code]

apiserver log:
[code]
It looks very weird. There is no trace from etcd_helper -- it means etcdHelper.Create() < 250ms. But after etcdHelper.Create(), resthandler just return.

One more observation: I have repeatedly run density tests in for loop:
[code]
From the trace log I saw, it kept increasing from 250ms to 300, 400,

[2016-06-06 23:02] buildlackey opened #26919 "creating a watch using events().withLabel("foo", "bar") does not pick up events for namespaces and contained objects with that label."
problem:
creating a watch using events().withLabel("foo", "bar") does not pick up events for namespaces and contained objects with that label.

The program below illustrates the issue.  Please try running the program "as shipped" and you will see that events are recorded for the namespace and rep-controller within that namespace that I create.  Next, please uncomment the line labeled "please uncom

[2016-06-06 23:07] ericchiang commented on #18762
For anyone looking to add an API group, this is my incomplete list of files and directory structures needed to edit or create to add an API group for #24900 and #25634.

If uncommented, the edit was likely just adding a string or import statement to an existing list.

API Group:
* pkg/apis/{group} (copy directory structure from existing examples forgoing generated code)

Codegen:
* hack/update-swa

[2016-06-06 23:08] zhouhaibing089 commented on #26909
+1 for this, maybe some message like: not allowed to access the non resiurce path: /apis?

[2016-06-06 23:13] pmorie commented on #18762
@ericchiang could you ensure the doc linked earlier in this issue is updated with that info?

[2016-06-06 23:16] jingxu97 commented on #22911
Some updates for this bug

1. About issue one that path name missing the last character:
I tried out run the "findmnt" command directly on terminal, the output is fine. But when executing the command though exec.command.Output, the target path name's last character always misses. I tried out different findmnt options, it does not work. Only if the mounting path name is relatively short (looks like

[2016-06-06 23:17] ericchiang commented on #18762
@pmorie yeah I'll open a PR when I get a chance

[2016-06-06 23:18] zhouhaibing089 commented on #26905
I see this before, and the message throws out at: https://github.com/kubernetes/contrib/blob/master/exec-healthz/exechealthz.go#L163

It could happen when https://github.com/kubernetes/contrib/blob/master/exec-healthz/exechealthz.go#L98 takes too long time.

[2016-06-06 23:20] zhouhaibing089 commented on #26905
I do not have an idea on why it takes too long, but removing the resource limits helps anyway.

[2016-06-06 23:28] saad-ali commented on #22911
PR https://github.com/kubernetes/kubernetes/pull/21486 and PR https://github.com/kubernetes/kubernetes/pull/23435 both modified the behavior of `NsenterMounter.IsLikelyNotMountPoint()` to fix issues and evidently introduced different issues. So watch out for regressions in any potential fix. CC @jsafrane @fgrzadkowski

Also, have you observed the missing character issue in a non-hyperkube environm

[2016-06-06 23:28] fejta commented on #26730
@spxtr what is the status of https://github.com/kubernetes/test-infra/pull/103?

[2016-06-06 23:33] lavalamp commented on #26898
No, I don't think I was intentionally supporting leading/trailing
whitespace, or if so I've forgotten why. I don't see whitespace in the
pasted yaml, though?

On Mon, Jun 6, 2016 at 2:20 PM, Derek Carr <notifications@github.com> wrote:

[2016-06-06 23:36] lavalamp commented on #26804
kubectl run should do validation just like create -f, since it apparently
allows users to specify field snippets. This sounds like a recipe for
unmaintainable scripts IMO, I think that's an anti-feature...

On Mon, Jun 6, 2016 at 1:42 PM, Phillip Wittrock <notifications@github.com>
wrote:

[2016-06-06 23:36] vishh commented on #26903
AFAIK, there are no issues with the image itself. I suspect issues with
kubelet detection of systemd cgroups.

Check out #26832 which should make it easy to run e2e against the CoreOS
image that node e2e currently uses.

On Mon, Jun 6, 2016 at 2:41 PM, Derek Carr <notifications@github.com> wrote:

[2016-06-06 23:38] dchen1107 commented on #25812
It is a dup and https://github.com/kubernetes/kubernetes/pull/26856 should fix it.

[2016-06-06 23:38] #25812 closed

[2016-06-06 23:38] yujuhong commented on #24508
Let's close this one in favor of the automatically-filed issue #26297

[2016-06-06 23:39] yujuhong commented on #26297
Quote from myself in https://github.com/kubernetes/kubernetes/issues/24508#issuecomment-212182662:
"The error code is from curl: cURL Error (7): couldn't connect to host"

[2016-06-06 23:42] quinton-hoole opened #26921 "Address outstanding DNS review comments in #26694"
See https://github.com/kubernetes/kubernetes/pull/26694 for details.  Specifically:
1. Don't call ensureDnsRecords() if the DNS provider has not been initialized.
2. Don't discard errors returned by getClusterZoneNames()

cc: @mfanjie FYI

[2016-06-06 23:43] benhosmer commented on #23727
I _think_ what @txomon 's original post meant was that it was unclear how to login in to the GUI('s) provided using the local vagrant `kube-up.sh`.

While the most recent install, referenced from the [kubernetes with vagrant](http://kubernetes.io/docs/getting-started-guides/vagrant/) guide does print the instructions to stdout, it isn't mentioned anywhere in the online documentation. I can see how

[2016-06-06 23:48] yujuhong commented on #26297
The last failure happened a week ago. Let's close this one for now until it reoccurs (and by then we should have better log collection for debugging).

[2016-06-06 23:51] smarterclayton commented on #26898
Both are backcompat problems.  Both are fixed in the referenced PR.  It was
YAML and JSON - we under specified that quantity *must* be string and so we
didn't validate strongly enough.

Protobuf and V2 will only accept strings, and you will always have a string
returned to you.

On Jun 6, 2016, at 7:42 PM, Chris Love <notifications@github.com> wrote:

Guys lets not get distracted by white space :)

[2016-06-06 23:51] ixdy commented on #22967
@dims that didn't actually solve the problem. Per the docs, `--retry` only works on "transient" errors, which the manpage defines as

We might want to try passing `--keepalive-time`, which some googling suggests might help. The default is 60s, which may be too long.

[2016-06-06 23:54] vishh commented on #25557
Discovery logic should be in kubelet.

On Mon, Jun 6, 2016 at 1:00 AM, Hui-Zhi <notifications@github.com> wrote:

[2016-06-06 23:55] #25652 closed

[2016-06-06 23:57] fejta commented on #25322
@rmmh can we change the jenkins-daily-maintenance job to wait and hour and only delete things it found in both the first and second scans?

[2016-06-07 00:03] fejta commented on #25621
@rmmh please talk to @thockin about moving pr-

For example from https://github.com/kubernetes/kubernetes/pull/26916

GCE e2e build/test **failed** for commit 422fc018c3646ea91249f93cd299c0d23ff0c490.
* [Build Log](http://pr-test.k8s.io/26916/kubernetes-pull-build-test-e2e-gce/43475/build-log.txt)
* [Test Artifacts](https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/p

[2016-06-07 00:10] #25363 closed

[2016-06-07 00:11] fejta commented on #26186
@ixdy does this retry?

[2016-06-07 00:12] fejta commented on #25849
@ixdy @spxtr any progress around moving timeout logic inside the container?

[2016-06-07 00:13] fejta commented on #26385
https://github.com/kubernetes/kubernetes/pull/26571

[2016-06-07 00:13] #26385 closed

[2016-06-07 00:14] ixdy commented on #26186
We pass `--retry 3` to curl, yes.

[2016-06-07 00:15] MikaelCluseau commented on #20262
On 06/07/2016 05:08 AM, Saad Ali wrote:

should it be "thread-safe"?

[2016-06-07 00:20] fejta commented on #26799
Will you talk to Dawn about this one?

[2016-06-07 00:20] matchstick commented on #25878
Closing as DNS rewrite should obsolete this. If this is incorrect. Feel free to re-open.

[2016-06-07 00:21] #25878 closed

[2016-06-07 00:21] jingxu97 commented on #22911
My understanding is that nsenterMounter is only used when kubelet is running inside of container. I also wrote a small go program to test the "findmnt" command, it also truncate the last letter if the mounting path is relatively long. So this "findmnt" behavior is not related to hyperkube environment I think.

[2016-06-07 00:27] rmmh commented on #25322
I don't think the jenkins-daily-maintenance is causing these problems -- the timestamps don't coincide.

[2016-06-07 00:30] spxtr commented on #25849
No progress, haven't been prioritizing it.

[2016-06-07 00:33] ixdy commented on #25849
The timeout logic is covered by kubernetes/test-infra#79.

I'm inclined to close this issue, because it seemingly hasn't recurred, and there isn't enough data available to figure out what caused docker to get stuck in the first place.

[2016-06-07 00:38] janetkuo commented on #25510
Another flake from above reference #26288
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26288/kubernetes-pull-build-test-e2e-gce/42679/artifacts/

Multiple flakes happened in this test:
[code]

[2016-06-07 00:43] vishh opened #26923 "Copy logs from dead containers to local files to facilitate immediate GC of dead containers"
One of the reasons for keeping dead containers around in kubelet today is to get access to logs from previous instances. Dead container instances can take up disk space via their root filesystem and result in disk pressure on the nodes. To alleviate disk pressure and improve the logging experience in kubernetes, kubelet can retrieve logs from dead containers and GC them right away once kubelet doe

[2016-06-07 00:49] janetkuo commented on #25510
Just found that the above test flake is running on release-1.0.

[2016-06-07 00:50] janetkuo commented on #25510
And the original test flake is running on release-1.1.

[2016-06-07 00:59] matchstick commented on #25294
The fix Joe Finney developed was merged on 5/30.

The signature for the problem in the log file referenced here is:

**```May`  6 18:56:07.895: Expected PersistentVolume to be bound, but got nil ClaimRef: kind:"" apiVersion:"" ```**

It looks like from this dashboard the last instance of this error log signature for the test **PersistentVolumes NFS test to the flaky suite.** was on 5/30 right arou

[2016-06-07 01:02] spxtr commented on #25294
If it's no longer flaky we should move it out of the flaky suite. While it's in the flaky suite it won't block merges if it breaks and mergebot won't open bugs for it.

I'm worried that if we just close this issue it'll sit in the flaky suite and break and noone will notice for a long time.

[2016-06-07 01:24] pwittrock commented on #15493
FYI: @AdoHe has a PR out for this under review

[2016-06-07 01:29] pwittrock commented on #25905
Recent instance of this:

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/18111

[2016-06-07 01:32] fabiormoura commented on #26547
I'm having the same issue with kubelet 1.2 running in a container.

However, if a do logging to the container I'm able to manually mount the volume. I have to specify the file system type though. Example below:

[code]
Trying without `-t glusterfs` gives the same error message that appears after executing `kubeclt describe pods` which is:

[code]

[2016-06-07 01:35] kichik opened #26927 "Creating pod with empty argument crashes kubectl"
`kubectl` crashes when creating a pod with one or more empty arguments. This also happens when creating a deployment with this as a pod spec.

I'm using v1.2.3.

[code]

I was able to get a similar crash with `kubectl` 1.2.4.

[code]

[code]

[2016-06-07 01:40] pwittrock commented on #25905
This has been opened by the k8s-merge-robot in #26834.  Closing as a dup.

[2016-06-07 01:40] pwittrock commented on #26834
See #25905 for history

[2016-06-07 01:40] #25905 closed

[2016-06-07 01:42] jimmycuadra commented on #19765
This is a problem on CoreOS where the nodes don't have socat. Is there a way to use socat packaged as a Docker image? In CoreOS, programs are generally not installed on the host itself.

[2016-06-07 01:55] asalkeld commented on #26927
I can take this one.

[2016-06-07 02:00] matchstick commented on #22655
This issue feels like an umbrella one. I will try to break it into smaller issues and triage each one. Tim I hope it's ok I am grabbing this issue.

[2016-06-07 02:02] matchstick commented on #25855
Closing this issue. If it occurs again we will see with merge bot.

[2016-06-07 02:02] #25855 closed

[2016-06-07 02:02] asalkeld commented on #26927
This looks like a duplicate of #20627

[2016-06-07 02:04] dims commented on #25594
@derekwaynecarr @fejta Does not look like this has re-occured since it was filed. Should we close this out?

[2016-06-07 02:06] derekwaynecarr commented on #25594
I want to take one more look at code tomorrow and if nothing strikes me, I
will close.

On Monday, June 6, 2016, Davanum Srinivas <notifications@github.com> wrote:

[2016-06-07 02:06] matchstick commented on #26364
I might try to run the this test in a loop and see how often or if it still occurs.

[2016-06-07 02:08] matchstick commented on #26682
After consulting with Chao we are moving this to  team CSI due to namespace deletion.

[2016-06-07 02:10] dims commented on #19954
We should at least remove p0 label @jdef @ixdy

[2016-06-07 02:13] netroby opened #26928 "Wish kubernetes had a simple LB / ingress solution"
I just want easier to using Load balancer /ingress for my pods/service with kubernets.

[code]
or
[code]

A command like this will forward node1 port 80 to service nginx-svc default port

-t means protocol type tcp/udp/icmp or what ever.

node1 was Kubernete node name, 80 was the port number.
nginx-svc was my service name, it can be like a nginx inside container.

[2016-06-07 02:17] k8s-merge-robot opened #26929 "[k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1441/

Failed: [k8s.io] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover {Kubernetes e2e suite}

[code]

Previous issues for this test: #26744

[2016-06-07 02:18] k82 opened #26930 "[k8sm] Run local km in agent host"
I'd like to run local `km` in agent host. The parameters `--executor-path` is used to set executor, but it did not set `km`'s arguments.

The proposal is to provide an argument `--km-patch` to set the local path of `km` in agent host.

cc @jdef

[2016-06-07 02:19] matchstick commented on #26838
This looks like name space deletion. Wouldn't this make more sense for the CSI team to debug?
eric or fejta does this belong to the cluster team? Do you have more data? Sitting next to @bprashanth his wisdom (and our lack of logs)  leads me to believe it is more CSI related.

@lavalamp @caesarxuchao @derekwaynecarr

[2016-06-07 02:25] k82 commented on #26930
It seems we have a hidden parameter `--km-path`, I'll try it firstly.

https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/pkg/scheduler/service/service.go#L347

[2016-06-07 02:32] saad-ali commented on #22911
Thanks for the clarification

[2016-06-07 02:55] timothysc commented on #26853
Why not just configure session affinity on your load-balancers?

[2016-06-07 02:56] pwittrock commented on #26834
2 instances since 5/29

6/3 https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/18111\
5/29 https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/17824

[2016-06-07 02:57] buildlackey opened #26933 "fabric8 events().withLabel("label", "value") does not pickup events on objects with matching labels"
Hi !

From the testing I did, it seems that the fabric8 events() API doesn't properly filter events. The program below illustrates  the problem. If you run it as "as shipped", you will see output that includes
logged statements from the eventReceived() callback of the form:

[code]

TEST PROGRAM

[code]

However, if you uncomment the line labeled as " please uncomment this to reproduce bug. ", you

[2016-06-07 03:03] pwittrock commented on #26728
I found a number of instances of this including:

#26838, #26742, #26728, #26846.  Closing this as a dup

[2016-06-07 03:03] pwittrock commented on #26846
Looks like the same issue as #26838, #26742, #26728, 26832.  Should we create an umbrella issue or something?

[2016-06-07 03:04] pwittrock commented on #26728
Sorry, closed the wrong issue

[2016-06-07 03:04] pwittrock commented on #26846
I found a number of instances of this including:

#26838, #26742, #26728, #26846. Closing this as a dup

[2016-06-07 03:04] #26846 closed

[2016-06-07 03:05] pwittrock commented on #26728
Looks like the same issue as #26838, #26742, #26832. Should we create an umbrella issue to track cross cutting / framework issues?

[2016-06-07 03:06] guowenbo045889 commented on #19076
holsy shit i gotta the same problem

[2016-06-07 03:14] pwittrock commented on #26870
This looks like the same issue as was occurring in #26742.

@jlowdermilk Do you want to take a look at both of these?

[2016-06-07 03:17] saad-ali commented on #20262
Nope, the controller will take care of that.

[2016-06-07 03:21] davidopp commented on #12312
Closing due to inactivity.

[2016-06-07 03:21] #12312 closed

[2016-06-07 03:28] pwittrock commented on #26715
We have only seen 1 instance of this this

[2016-06-07 03:29] davidopp commented on #26715
Do you think this has the same root cause as the aforementioned flake? (#26425)

[2016-06-07 03:31] lgomez opened #26935 "Learning about Ingress resources: Recommended way to set up DNS records to point to Ingress IP"
Hello all,

I've been playing around with Ingress resources. Finally got it working but there's one thing I don't quite understand. I've created three services with their corresponding deployments. My outputs look like these:

[code]
I had already added a firewall rule as per the documentation [here](http://kubernetes.io/docs/user-guide/ingress/)...
[code]
Resulting in:
[code]
I am able to hit the

[2016-06-07 03:34] pwittrock commented on #26715
It does not appear to be related to the aforementioned flake, since that issue got a 404 response from the apiserver.  In this issue it appears kubectl is not able to connect to the apiserver at all.  (network blip or blip in apiserver?)

[2016-06-07 03:35] mqliang commented on #26853
Yeah, this is what exactly I mean by " configure the nginx/haproxy as ..."(I am not a native english speaker). But event if we configure session affinity on load-balancers, current cacher in API server will still cache for all resource type. That's why I propose to " start caching when cacher serve the first LIST/WATCH request" and have some expiration policy.

[2016-06-07 03:41] matchstick commented on #26780
Based on saad's advice sending this to pmorie. Fee free to reassign as needed. Thanks in advance,

[2016-06-07 03:51] DenisIzmaylov commented on #24819
Is everything changed? It seemed to me I got this issue.

[2016-06-07 03:55] bprashanth commented on #24953
@freehan ETA on the second fix? getting the first fix in will clear up some confusion around other failures, though if it's within the next day or so waiting should be ok

[2016-06-07 03:55] bprashanth commented on #26490
https://github.com/kubernetes/kubernetes/issues/26490#issue-157357173 is because the endpoint pod wasn't up. The test tries to do various variations of this:
* setup a pod called test-pod
* setup a svc, say 10.0.0.1, with 3 endpoints, say 10.130.0.1,2,3
* kubectl exec into the test-pod and execute a curl

The first failure pointed the curl at an endpoint. The endpoint wasn't ready. This led to:
[c

[2016-06-07 04:00] #21367 closed

[2016-06-07 04:07] davidopp commented on #21947
Have we seen any flakes recently that we think are caused by this?

[2016-06-07 04:11] ixdy commented on #19954
agree that this isn't p0. not sure how frequently this occurs.

[2016-06-07 04:15] lavalamp commented on #26838
Yeah, there's another namespace deletion bug assigned to us.