[2022-11-03 05:44] Ayyan-droid opened #113573 "xgboost running with kubernetes issue"
### What happened?

i am using the following jars

xgboost4j-spark_2.12-1.6.1.jar
xgboost4j_2.12-1.6.1.jar

Here is the stack trace:

Traceback (most recent call last):
File "/u/bin/ai_fraudengine/AIModelTrain/aimodeltrain/bl/StandardModelTrainHandlerImpl.py", line 32, in train_model
trained_pipeline = train_pipeline.fit(df)
File "/opt/spark/python/pyspark/ml/base.py", line 161, in fit
return self

[2022-11-03 05:52] fab1an commented on #99425
@tallclair Thank you for the explanation.

I understand, but those cannot be displayed alongside the pod in the dashboard.

[2022-11-03 05:59] C-Society commented on #113438
I'd like to work on coordination.k8s.io | v1

[2022-11-03 06:03] sanposhiho commented on #112034
/reopen

Let me reopen it so that I don't forget to remove old `scheduler_goroutines` metric.

@alculquicondor Can we remove `scheduler_goroutines` metric in the next release? Or should we wait more time?

[2022-11-03 07:30] ialidzhikov commented on #110714
Yes, I noticed the KEP update PR from the sig-network Slack channel. In the last days I was trying to implement support for `service.kubernetes.io/topology-aware-hints=always` - ref https://github.com/ialidzhikov/kubernetes/tree/enh/topology-aware-hints (the last commit in this branch).

To be honest with myself, for me it is not that trivial to implement this. I still have some flaws in the chang

[2022-11-03 07:49] #110737 closed

[2022-11-03 08:04] Cool-Coder174 commented on #113438
/assign

[2022-11-03 08:42] mimowo opened #113578 "Disruption controller fails to clean up a stale disruption condition [when alpha PodDisruptionConditions enabled]"
### What happened?

The `status` of a stale pod disruption condition remains `True` after two minutes as the disruption controller fails to change it to `False` to disable the condition.

### What did you expect to happen?

The `status` of a stale pod disruption condition should be changed to `False` after two minutes.

### How can we reproduce it (as minimally and precisely as possible)?

0. clus

[2022-11-03 08:43] mimowo commented on #113578
/sig apps
/assign

[2022-11-03 09:12] pacoxu commented on #113573
/remove-kind bug
/kind support
It seems to be a problem in the jar/application. I would suggest you ask in the spark community.
This should not be a Kubernetes bug.

[2022-11-03 09:12] kerthcet commented on #113474
We're approaching code freeze now, for the sake of the stable goal, I'll follow this until v1.27.

[2022-11-03 09:13] pacoxu commented on #113573
/close
 https://github.com/dmlc/xgboost/issues/8412

[2022-11-03 09:13] #113573 closed

[2022-11-03 09:44] pacoxu commented on #113043
/triage accepted

[2022-11-03 09:59] movergan commented on #110158
Same here in GKE for Fileshare "ReadWriteMany" volume, with one pod though:
[code]

[2022-11-03 10:24] dani-newman commented on #78761
Any news?

[2022-11-03 10:32] h0jeZvgoxFepBQ2C commented on #78761
@liggitt @wojtek-t @pohly @smarterclayton Could anyone of you reopen this issue maybe?

[2022-11-03 10:45] g3rzi commented on #110626
I fixed it by running:
[code]

Thanks to [Calico docs](https://projectcalico.docs.tigera.io/getting-started/windows-calico/quickstart).

[2022-11-03 11:01] dennis-benzinger-hybris commented on #101493
@lavalamp, could you maybe answer my question above about the affected Kubernetes versions? Thanks!

[2022-11-03 11:13] kerthcet opened #113586 "Umbrella: scheduler_perf tests refactor"
### What would you like to be added?

We have benchmark tests for scheduler under `test/integration/scheduler_perf`, but I found several problems below:

- [ ] Some util functions are duplicated in e2e tests and integration tests, like `checkWaitListSchedulableNodes`, we should avoid this by moving them to a shared folder.
- [ ] All operation related codes are piled up in [scheduler_perf_test.go](

[2022-11-03 11:35] mimmus commented on #86441
@AlexShemeshWix

We are wondering same question: perhaps is  it counting target x 3 times, one for every Availability Zone?

[2022-11-03 12:19] aojea commented on #113568
brainstorming, I think that ideally we'll want to have a nested struct to understand the errors happening at each layer

[2022-11-03 12:24] ionutbalutoiu commented on #113479
These failures happen also with Kubernetes master and Flannel CNI.

Testgrid link: https://testgrid.k8s.io/sig-windows-networking#ltsc2019-containerd-flannel-sdnoverlay-master

[2022-11-03 13:13] benfielden-onx commented on #64623
/remove-lifecycle stale

[2022-11-03 13:13] fromanirh commented on #113130
/cc
I'm interested in this issue

[2022-11-03 13:43] alculquicondor commented on #112034
I would wait at least 2 releases, given how old this metric is.

[2022-11-03 13:45] dgrisonnet commented on #104459
No, this issue has been stale for a couple of months. There were some concerns regarding the increase in memory usage of kubelet with #108194.

[2022-11-03 13:54] Cool-Coder174 commented on #113272
Just for clarification, I just need to add documentation on how to configure encryption on groups/resources?

[2022-11-03 14:13] wojtek-t commented on #109831
All etcd3 tests have been factored out.

The next step here are:
- reusing those tests for watchcache
- potentially (if there are some) factoring out some watchcache tests to make them generic and reuse them in etcd3 implementation too

[2022-11-03 14:21] #108560 closed

[2022-11-03 14:22] ravi-nal commented on #113438
I'd like to work on

- discovery.k8s.io | v1
- storage.k8s.io | v1, v1beta1

[2022-11-03 14:45] votientu opened #113590 "virtiodev driver access problem in kubernetes and kind but everything works fine in minikube"
### What happened?

I’ve run an application to offload the compute on a GPU via the PCI link.
It works fine with Docker and Minikube but I’ve encountered a driver problem with Kubernetes (kubeadm or kind).
I mounted all necessary local folders (and also checked) and gave the privileged access.
In fact, I use the same pod.yaml file for Minikube and Kubeadm or Kind but I get the same problem in Kube

[2022-11-03 15:23] neolit123 commented on #113590
you could ask in #minikube on k8s slack to understand what is diffrent.

minikube also uses kubeadm, so this is likely a configuration problem with the host os.

/kind support
/close

[2022-11-03 15:23] #113590 closed

[2022-11-03 15:45] colega opened #113594 "Admission webhooks don't match changes on subresources like Scale"
### What happened?

I have a statefulset with a label `colega.eu/webhook`:

`workload.yaml`:
[code]

And I've created a webhook for changes in `statefulsets` and `statefulsets/scale` that have that the `colega.eu/webhook=true` label:

[code]

When I try to update my statefulset, the webhook is called (and it fails as the webhook service doesn't exist):
[code]

However, when I update it using `kube

[2022-11-03 15:49] colega commented on #113594
/sig api-machinery

[2022-11-03 16:03] votientu commented on #113590
Thank you for your answer @neolit123 , I'll ask on the k8s slack

[2022-11-03 16:13] marosset commented on #104562
This is working but requires containerd v1.7

https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-nightly-master&include-filter-by-regex=in-cluster

[2022-11-03 16:13] marosset commented on #112743
/help
@kevpar @brasmith-ms - FYI

[2022-11-03 16:44] logicalhan commented on #113414
/triage accepted
/assign @dashpole @sallyom

[2022-11-03 16:56] Cool-Coder174 commented on #113438
I'd like to work on:

- apps | v1
- core | v1

[2022-11-03 16:59] joodlehammond commented on #79224
+1 reopen

[2022-11-03 17:37] bhavyastar commented on #113438
I would love to take:

admissionregistration.k8s.io | v1

[2022-11-03 17:45] ionutbalutoiu commented on #113479
I figured out why these new failures appear.

I've submitted the fix via PR https://github.com/kubernetes/kubernetes/pull/113597.

[2022-11-03 17:50] ShivamTyagi12345 commented on #113438
Hey @liggitt  , Does `make update` take generally takes a long time to execute ? I am on Ubuntu 22.10 and the terminal keeps freezing at this ,
![image](https://user-images.githubusercontent.com/60812924/199796957-632b863f-2f74-4061-af0a-9a7be9b6425e.png)

[2022-11-03 17:54] liggitt commented on #113438
it does take a while, you can run with SILENT=false to see more details while it's running. I think @dims might have also set up a CI job that will run this and capture output you can download and apply to a PR instead of running `make update` yourself...

[2022-11-03 18:07] dims commented on #113438
@ShivamTyagi12345 see https://www.kubernetes.dev/blog/2022/03/15/k8s-triage-bot-helper-ci-job/

you need to comment with `/test pull-kubernetes-update` to get that CI job to run here

[2022-11-03 18:52] #113266 closed

[2022-11-03 20:41] atiratree commented on #108266
### Replica sets
As mentioned, the most problematic parts of the issue mainly apply to replica sets.

The timeline of a problematic pod (there needs to be other unready pods for this to occurr)
[code]

 We are using delaying queue to schedule availability checks. The problem is that once we schedule availability check we cannot postpone it in the future (when pod readiness changes). Delaying queue

[2022-11-03 20:49] smarterclayton opened #113606 "Kubelet should react more quickly to pod lifecycle transitions"
The Kubelet invokes pod setup, maintenance (collectively referred to as 'pod sync'), and teardown as synchronous functions from a per-pod goroutine.  The sync method in particular can run for seconds to minutes to hours if certain lifecycle actions like hooks are in use.  This means state transitions such as deletion (from API) and eviction (from Kubelet) can sometimes be significantly delayed.  H

[2022-11-03 20:51] Huang-Wei opened #113608 "Umbrella issue tracking Beta impl. of KEP 3521 (Pod Scheduling Readiness)"
This issue tracks all coding work to accomplish https://github.com/kubernetes/enhancements/issues/3521 as beta.

[code]

[code]

[2022-11-03 20:53] smarterclayton commented on #113606
/triage accepted

[2022-11-03 21:03] Huang-Wei commented on #113608
/sig scheduling

[2022-11-03 22:11] KnVerey commented on #108630
/triage accepted

[2022-11-03 22:42] aojea commented on #113561
It turns out this is an internal project ... and I can access it now 😄
/assign

[2022-11-03 23:21] aojea commented on #113561
https://github.com/kubernetes-sigs/boskos/blob/master/cmd/janitor/gcp_janitor.py

[2022-11-04 01:29] obvionaoe commented on #77258
/remove-lifecycle stale

[2022-11-04 01:54] #107530 closed

[2022-11-04 01:58] KnVerey opened #113612 "[kubectl] server-side apply with --force-conflicts should warn about any conflicts it is forcing"
### What would you like to be added?

`kubectl apply --server-side --force-conflicts` should provide a way to display any conflicts being overridden so that users--especially those migrating to SSA--can detect, investigate and address them without causing a disruption to their service (or need to revert to CSA). Perhaps this could even be the default behaviour. If it can't, I suggest `--force-conf

[2022-11-04 03:38] AndrewSav commented on #81145
@pjbgf can you explain a bit more why is this a non-issue? I just ran this on a master:

[code]

And I got (in addition to response body and other output):

[code]

It seems to me that it _is_ an issue in the default configuration, no? HTTP2 is offered by the server, but it is the client that can chose 1.1 and then we have a vulnerability on our hands. The fact that you cannot disable HTTP2 does n

[2022-11-04 04:22] pacoxu opened #113616 "kubelet: cadvisor supports enable network tcp metrics"
### What would you like to be added?

Some of our customers want the TCP-related metrics from the cadvisor.
- kubelet ignores these metrics by default.

Option:
1.  Add a kubelet config option in KubeletConfiguration. If it is enabled, add NetworkTcpUsageMetrics in the included metrics list of cadvisor.
2. Make a general config to config more Metrics to add.
The list can be found at https://github

[2022-11-04 04:24] #113215 closed

[2022-11-04 05:28] #108630 closed

[2022-11-04 06:27] aramase commented on #113366
opened https://github.com/google/cadvisor/pull/3194 for `github.com/google/cadvisor `

[2022-11-04 07:08] ShivamTyagi12345 commented on #81116
Hey @cailynse  Is this issue still available to work on?

[2022-11-04 07:19] ali-parsfar opened #113618 "`kubeadm init phase certs` keeps the "Validity > NotBefore" value from CA history , and it causes the duration from "Validity > NotBefore" to "Validity > NotAfter" for new certificates , is passing one year. It cause security scanners alarm for certificates."
### What would you like to be added?

`kubeadm init phase certs` needs to take the "Validity  > NotBefore" from current date/time of the system . to keep the life time of certificate one year.

### Why is this needed?

If we have any renewal for the API-Server certificate  ( like renew of API-Server in AWS EKS cluster , because of the Control Plane instance refresh ) , the "Validity  > NotBefore"

[2022-11-04 07:47] neolit123 commented on #113618
/sig cluster-lifecycle security
/area kubeadm

kubeadm currently takes the notBefore from the CA cert:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/pkiutil/pki_helpers.go#L662-L663

from my POV that is a non issue, because only the host OS admin can do it.
and the host OS admin has full control of the host - e.g. replacing certs entirely.

also if the notBefore is shif

[2022-11-04 07:55] neolit123 opened #113619 "[failing jobs] sig-cluster-lifecycle-kubeadm#kubeadm-kinder-*latest"
### Which jobs are failing?

https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-upgrade-1-25-latest

all *latest kubeadm jobs (k/k master)
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm

### Which tests are failing?

the "init" test which creates the first kubeadm control plane node.
https://testgr

[2022-11-04 07:55] neolit123 commented on #113619
cc @pacoxu @SataQiu

@kubernetes/sig-node-bugs

[2022-11-04 08:04] pacoxu commented on #113619
Where can I find the base kinder building process? It seems to be an old kinder base image is using. The containerd v1.3.0 is too old.

[2022-11-04 08:11] sftim commented on #113339
/sig docs
This is an issue for https://k8s.io/docs/

[2022-11-04 08:11] sftim commented on #113339
/transfer website

[2022-11-04 08:12] sftim commented on #113438
/sig docs
/kind cleanup

[2022-11-04 08:35] jgan129 opened #113621 "ContainerCheckpoint fails with - unknown method CheckpointContainer - in v1.25"
### What happened?

On an Ubuntu 18.04.6 (GCP image but could be irrelevant) I installed microk8s with:
`sudo snap install microk8s --channel=1.25-strict/stable`
Under path /var/snap/microk8s/current/args I then edited the following two files to enable the [ContainerCheckpoint](https://kubernetes.io/docs/reference/node/kubelet-checkpoint-api/) feature gate
- kubelet
- kube-apiserver

by adding/edi

[2022-11-04 08:56] jgan129 commented on #113621
/sig node

[2022-11-04 10:03] neolit123 commented on #113619
we don't have a build process for the base image. we just use an old one from the kind repository.

is containerd 1.3 actually out of support by k8s 1.26?
iiuc, pre v1 CRI would have been supported for longer?

this can create skew problems for our test jobs, because we are still testing 1.22 and i don't know if CRI v1 is supported in that kubelet.

[2022-11-04 10:39] rayowang commented on #113438
I would love to work on:

- autoscaling | v1, v2, v2beta2

[2022-11-04 11:47] neolit123 commented on #113619
looks like this is the cause. it merged yesterday
https://github.com/kubernetes/kubernetes/pull/110618

[2022-11-04 12:57] neolit123 commented on #113619
i will try this today, but not sure i will have enough time

[2022-11-04 13:50] neolit123 commented on #113619
fix in https://github.com/kubernetes/kubeadm/pull/2778

[2022-11-04 14:08] #113619 closed

[2022-11-04 14:55] irwinbraganza commented on #91652
/remove-lifecycle stale

[2022-11-04 15:03] neolit123 commented on #113619
https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-latest

went green, so the rest of the jobs should too.

[2022-11-04 15:07] aasyria opened #113624 "network Policy they don't do the work on the pod level"
### What happened?

The Network Policy on the Namespace dose not blocking the Communication on the Pod Level

### What did you expect to happen?

When I create deny All Ingress and Egress Network Policy for one Namespace, then I am expecting that my Pods in this Namespace will be not reachable from anywhere in the Cluster.
but I can ping the Pod IP-Adress and scan it with nmap.

### How can we rep

[2022-11-04 15:09] aasyria commented on #113624
/sig network

[2022-11-04 15:11] bharitwal opened #113625 "[Failing Test] gce-device-plugin-gpu-master"
### Which jobs are failing?

release-master-blocking:

- gce-device-plugin-gpu-master

### Which tests are failing?

- ci-kubernetes-e2e-gce-device-plugin-gpu.Overall
- kubetest.Up

### Since when has it been failing?

3rd November 2022

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

### Reason for failure (if possible)

e2e.go: Up  | 28m51s
--

[2022-11-04 15:27] bharitwal opened #113626 "[Failing Test] kubeadm-kinder-upgrade-1-25-latest"
### Which jobs are failing?

release-master-informing:

- kubeadm-kinder-upgrade-1-25-latest

### Which tests are failing?

- ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-25-latest.Overall
- task-06-upgrade

### Since when has it been failing?

3rd November 2022

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-1-25-latest

### Reason for failure (if pos

[2022-11-04 15:29] soltysh commented on #60295
@mpuckett159 brought it up during sig-cli last Wed, so you can check recording, but to leave a written word for others looking for answers. The short story is that all of the create sub-commands are meant as a starting point only and not full-featured command. One of the reasons for that is that we want the create sub-commands to be an entry point for newcomers to the ecosystem, whereas having mul

[2022-11-04 15:36] liggitt commented on #113438
Thanks, everyone! It looks like all the API groups have a volunteer associated, so I dropped the help wanted label.

After everything targeting 1.26 has merged for code freeze (probably next ~Thursday), feel free to sync to latest `master` and start opening the PRs for review

[2022-11-04 15:45] cailynse commented on #81116
Hello @ShivamTyagi12345! I am waiting on approval for the first PR and then was going to open the next. But you are welcome to get started on any of the subsequent ones if you would like. You can also find a bunch of issues that still need contributors [here in the blog post summarizing the 2019 Third Party Security Audit](https://kubernetes.io/blog/2022/10/05/current-state-2019-third-party-audit/

[2022-11-04 15:47] alculquicondor opened #113627 "Remove dependency on github.com/pkg/errors"
**Why is this needed?**

The functionality that the package provides is already present in golang's builtin errors (using `%w` in `fmt.Errof`) and the github repo is now read-only.

/kind cleanup
/priority backlog
/good-first-issue

**Notes to people that want to collaborate**

Avoid creating a single PR for the entire repo. Create multiple PRs, each targeting a specific SIG.

Do **not** submit PR

[2022-11-04 15:48] dashpole opened #113628 "APIServer Tracing attribute parity with SLO metrics"
### What would you like to be added?

One of the use-cases for APIServer tracing would be to try and debug SLO-violating requests served by the API Server.  Right now, it adds just some basic attributes: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/trace_util.go#L25.

For API Server [metrics](https://github.com/kubernetes/kubernetes/blob/

[2022-11-04 15:48] dashpole commented on #113628
/sig instrumentation

[2022-11-04 16:01] dashpole commented on #113628
We might be able to do something using RequestInfo, similar to how the dropped request metric is recorded: https://github.com/kubernetes/kubernetes/blob/c8a3657bde08fde0240cba2e8579b160e95bc459/staging/src/k8s.io/apiserver/pkg/endpoints/metrics/metrics.go#L424

[2022-11-04 17:05] neolit123 commented on #113626
hi, the job is already green
please see https://github.com/kubernetes/kubernetes/issues/113619

[2022-11-04 17:10] cici37 opened #113630 "Add linter for API doc field check"
### What would you like to be added?

Currently we have inconsistency in most of the API where the field name should be used in description so the generated docs match the API fields people actually set. https://github.com/kubernetes/kubernetes/issues/113438

A linter could be added for checking

### Why is this needed?

To avoid confusing users

[2022-11-04 17:11] cici37 commented on #113630
/triage accepted

[2022-11-04 17:14] dims commented on #113625
`CRI v1 runtime API is not implemented for endpoint`

from:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu/1588131568377925632/artifacts/bootstrap-e2e-minion-group-nb82/kubelet.log

[2022-11-04 17:36] enj opened #113631 "Document KMS healthz endpoint behavior"
_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/pull/113529#discussion_r1013586389_

[2022-11-04 17:37] enj commented on #113631
/sig auth
/triage accepted

[2022-11-04 17:38] enj commented on #113631
/milestone v1.26

[2022-11-04 17:42] mehabhalodiya commented on #113626
Currently, it's passing so I'm closing the issue. :)
/close

[2022-11-04 17:42] #113626 closed

[2022-11-04 17:47] dims commented on #113625
we'll need to bump the node image i think:
https://github.com/kubernetes/test-infra/blob/730453bab12e3665e6da84f2bb80bd3d1cc26c14/config/jobs/kubernetes/sig-cloud-provider/gcp/gpu/gpu-gce.yaml#L8

[2022-11-04 18:03] jackfrancis commented on #96411
https://github.com/kubernetes/kubernetes/pull/104484 landed in 1.25, I think we can close this issue

[2022-11-04 18:45] pohly opened #113633 "ValidateImmutableField: report a diff instead of entire field"
### What would you like to be added?

ValidateImmutableField is a validation helper function for checking that a field is not getting modified during an update. It's convenient to use, but when it finds a mismatch, it reports the entire value, which can be a large struct, without explaining what exactly was changed incorrectly.

Some code uses apiequality.Semantic.DeepEqual + cmp.Diff, which provi

[2022-11-04 18:45] Akshit42-hue commented on #113630
/assign

[2022-11-04 18:52] #113625 closed

[2022-11-04 19:06] bertinatto commented on #88848
Fixed by https://github.com/kubernetes/kubernetes/pull/96042.
/close

[2022-11-04 19:06] #88848 closed

[2022-11-04 19:52] dims commented on #113627
/area code-organization

[2022-11-04 20:26] alculquicondor commented on #113627
/kind cleanup

[2022-11-04 22:25] bobbypage commented on #113625
Latest run is passing now!

[2022-11-04 22:53] ayk33 commented on #67135
Is there a reason this issue was closed? This behavior seems very troubling.. Running a deployment with 300+ pods and losing them instantly can cause some serious issues.

[2022-11-05 01:08] kerthcet commented on #110871
/remove-lifecycle rotten

[2022-11-05 03:03] astraw99 opened #113641 "Proposal: Add status.data in `Job/CronJob` to pass job output"
### What would you like to be added?

Currently, the status section in `Job/CronJob` workload contains fields `succeeded/active/failed`, etc.
But usually we need the job to pass the output data, to let us do more logic rely on the result data.

So propose to add `status.data` in `Job/CronJob` to pass the job output, the data field type could be a string, then it can support more complex json strin

[2022-11-05 03:07] astraw99 commented on #113641
/sig apps

[2022-11-05 04:32] Akshit42-hue commented on #113630
Hey @cici37 can you provide some more information for this issue

[2022-11-05 05:43] #110412 closed

[2022-11-05 06:22] Bryce-Soghigian commented on #113641
Could i pick this up?

[2022-11-05 06:41] pureguy0 opened #113643 "the status of pvc is pending"
### What happened?

when I want to create a dynamic storage class,the pvc is struck in pending,
![1d7c7a2a41772d2c4f84f0c0d9157fe](https://user-images.githubusercontent.com/103011488/200106200-0a588d4f-d3bc-4ad6-876e-52a77ea09285.png)
when i check the log of nfs-client-privisioner, I found this:
![c815518a1299850e3856200b9c711b9](https://user-images.githubusercontent.com/103011488/200106363-1ae551

[2022-11-05 06:46] pureguy0 commented on #113643
/sig api-machinery

[2022-11-05 07:43] #106640 closed

[2022-11-05 07:54] ShivamTyagi12345 commented on #113627
/ assign

[2022-11-05 08:54] astraw99 commented on #113641
Thanks.
But hold on, this is just a proposal, need to get approval first from the cli SIG, then we can contribute a PR.

[2022-11-05 11:33] neoaggelos commented on #112859
Hi @enj, bug-triage shadow team member for 1.26 here. Looks like this issue is in the 1.26 milestone, but https://github.com/kubernetes/kubernetes/pull/112898 has been moved to 1.27.

Is there something else or should this issue go to 1.27 as well? Thank you!

[2022-11-05 11:34] luozhiwenn opened #113646 "Containers with readinessProbe become not ready when kubelet restart"
### What happened?

Containers with readinessProbe become not ready for a period of time when kubelet restart, then it'll be ready again soon.

### What did you expect to happen?

The container status should remain ready when the kubelet restarts.

### How can we reproduce it (as minimally and precisely as possible)?

1. Create a Pod with readinessProbe

[code]

2. Restart the kubelet process on t

[2022-11-05 12:16] luozhiwenn commented on #113081
I found this problem after trying to jump for 5 minutes, and I guess it will occur as long as the jump time exceeds nodeMonitorGracePeriod.

[2022-11-05 12:17] luozhiwenn commented on #113646
/sig node

[2022-11-05 15:08] BenTheElder commented on #113641
I don't think this is a small enough change to discuss here then PR, it needs KEP https://github.com/kubernetes/enhancements

[2022-11-05 15:09] BenTheElder commented on #113641
Before writing a KEP though, I'd discuss with the SIG.

[2022-11-05 15:11] BenTheElder commented on #113627
this is only partially true, e.g. %w does not provide stack traces

[2022-11-05 15:16] BenTheElder commented on #113621
So the error message is about the CRI API not the feature gate.

I'm pretty sure this is not a kubernetes bug and is a microk8s issue, possibly with outdated container runtime versus the kubernetes version. What runtime and version is in use?

[2022-11-05 16:03] enj commented on #112859
@neoaggelos I just forgot to move this issue 😃

/milestone v1.27

[2022-11-05 17:45] #108923 closed

[2022-11-05 18:45] #109766 closed

[2022-11-05 20:36] aojea commented on #113081
it should be a requirement that all nodes have their time synchronized ...

[2022-11-05 21:16] Bryce-Soghigian commented on #113641
Yeah if each job can generate this payload then it might induce some load on the system. Lets bring it up in the slack.

[2022-11-06 00:18] aojea opened #113651 "integration tests started to flake ~ Oct 29th"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

### Which tests are flaking?

it seems it affects the `k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookAdmissionWithWatchCache`  and `k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookAdmissionWithoutWatchCache`

### Since when has it been fla

[2022-11-06 00:18] aojea commented on #113651
/cc @wojtek-t @liggitt

[2022-11-06 01:13] liggitt commented on #113651
the panic is here:

[code]

https://github.com/kubernetes/kubernetes/blob/1f9e20eb8617e312f9f61d28d93ed29e988d953d/vendor/k8s.io/utils/trace/trace.go#L225-L226

That started getting used in https://github.com/kubernetes/kubernetes/pull/113172

/cc @dashpole

[2022-11-06 02:53] #110429 closed

[2022-11-06 05:28] dariodsa commented on #110149
/reopen

[2022-11-06 07:08] ycjiang50 commented on #113586
Hi @kerthcet, do you need help with any of the tasks?

[2022-11-06 07:57] #110401 closed

[2022-11-06 09:09] pacoxu commented on #106893
/triage accepted
milestone v1.27

[2022-11-06 09:57] #109963 closed

[2022-11-06 10:57] #63214 closed

[2022-11-06 11:57] #110461 closed

[2022-11-06 13:55] halegreen commented on #109285
Hi all, I'd like to give it a try. Please let me know if you far ahead on it  @denstorti

/assign

[2022-11-06 15:35] dashpole commented on #113651
I think span nesting might not be implemented correctly in the trace util package.  The only change https://github.com/kubernetes/kubernetes/pull/113172 made was to nest spans in the util trace package.  It replaced utiltrace.New() calls with utiltrace.FromContext(ctx).Nest() calls.  I think for now, we should revert that portion of the change.  We can reintroduce it if we decide it is worth it.

[2022-11-06 15:38] liggitt commented on #113651
is there a reproducer for the panic/npe to be sure that's the issue?

[2022-11-06 15:44] dashpole commented on #113651
I can try and work on one next week.

I triple-checked that the component-base package never calls functions on a nil trace. Nest/Start checks [here](https://github.com/kubernetes/utils/blob/master/trace/trace.go#L154), AddEvent/Step checks [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/tracing/tracing.go#L58), and End/LogIfLong checks [here](https://

[2022-11-06 15:49] dashpole commented on #113651
Opened https://github.com/kubernetes/kubernetes/pull/113656.  We can wait until I have a reproduction if you would prefer.

[2022-11-06 17:12] vaibhav2107 commented on #109352
/remove-lifecycle stale

[2022-11-06 17:15] vaibhav2107 commented on #106691
/remove-lifecycle stale

[2022-11-06 17:18] vaibhav2107 commented on #104432
/remove-lifecycle stale

[2022-11-06 19:12] hiddeco commented on #70147
/remove-lifecycle stale

[2022-11-06 19:39] mohsensamiei opened #113659 "Conflict with wireguard vpn on iptables"
Hello Dears
I need to setup wireguard vpn on server before installing Kubernetes then install Kubernetes on top of that

But after installing Kubernetes `KUBE-FIREWALL` chain stops Wireguard traffic
`DROP       all  --  any    any     anywhere             anywhere             /* kubernetes firewall for dropping marked packets */ mark match 0x8000/0x8000`

I can delete this rule, but I don't know w

[2022-11-06 19:52] jimmyjones2 commented on #92598
@msau42 Is this still correct? RWO volumes must be unmounted from the host once the pod is in Completed state, otherwise scheduling a new pod using the same volume on a different node would fail with a multi-attach error?

I've verified this behaviour with the EBS driver - as soon as the pod goes to Completed state the volume is unmounted from the host and can be used by a new pod on a different n

[2022-11-06 23:12] dee-kryvenko commented on #103812
/remove-lifecycle stale

[2022-11-07 00:19] imperialguy commented on #44954
This is bad. A cluster that can't find it's own id or name from within one of its pods? This needs to be a mandatory feature. It's almost 2023, still not solution. Any pod/container running inside a k8s cluster must be able to find out the id and name of the cluster that created it.

[2022-11-07 01:42] ringerc commented on #65502
`kubeexit` is the inner system effect in full force, eh? Necessary to work around the current limitations, but pretty unfortunate that it's required.

Lots of these issues can be worked around with a mix of application coding ("if expected sidecar not responsive, retry loop") and the use of readiness checks to prevent requests from being routed to pods before all their containers are up. But it's

[2022-11-07 02:35] sxllwx commented on #111742
Can anyone help me move this thing forward?

[2022-11-07 03:02] falser101 commented on #113627
/assign

[2022-11-07 03:19] zhiweiv commented on #110849
The issue seems fixed after upgrade to AKS 1.23.12, it doesn't occur again in my testing cluster since October.

[2022-11-07 03:46] kerthcet commented on #113586
Thanks @ycjiang50 , I'd like to discuss about this in the community meeting, but now we're focusing on the v1.26 code freeze stuff, so let's wait for a couple of days if we come to an agreement, I'll let you know.

[2022-11-07 03:49] kerthcet commented on #109191
/remove-lifecycle stale

[2022-11-07 03:52] sanposhiho commented on #113474
Currently, ↓ has the description about this label. We should add a deprecation notice here at least.
https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#configuration-annotation-format

[2022-11-07 05:05] #109951 closed

[2022-11-07 05:08] #112027 closed

[2022-11-07 07:21] sanposhiho commented on #113474
Theoretically, we could remove this feature right now because it's alpha.
But, given that it's a quite old feature (from [2016](https://github.com/kubernetes/kubernetes/pull/24980)?) and many users may already use it, it'd be kind if we could just announce the deprecation for now and wait for a few releases to remove it completely.

[2022-11-07 08:24] MadhavJivrajani commented on #110936
/remove-lifecycle rotten

[2022-11-07 08:34] smira commented on #105790
/remove-lifecycle stale

[2022-11-07 09:43] wojtek-t commented on #108483
I've opened https://github.com/kubernetes/kubernetes/pull/113669 as a final step. With that PR we're in good enough shape that I'm going to close this issue as further improvements would have negligible impact.

[2022-11-07 10:50] MadhavJivrajani commented on #109831
I can take a stab at this if anyone isn't already working on it!

[2022-11-07 11:27] TomaszKlosinski commented on #70147
Any news here?

[2022-11-07 12:03] utkarsh-pro opened #113671 "Setting toleration on StatefulSet doesn't restart associated Pods"
### What happened?

I have a kubernetes cluster running. I tainted the worker nodes and then proceeded to create a statefulset in the cluster **without** providing any tolerations. Of course, this lead to pods in the state "Pending". Later on, I added tolerations to the statefulset and confirmed that the toleration are indeed applied to the STS, no new pods were created and nor older ones were del

[2022-11-07 12:04] utkarsh-pro commented on #113671
/sig scheduling

[2022-11-07 12:08] rtheis commented on #102818
/remove-lifecycle stale

[2022-11-07 12:53] vbshnsk opened #113673 "HPA based on External metrics fails on label validation"
### What happened?

We deploy an application with an autoscaler, that needs to be based on number of unacked messages in the queue. This is `hpa.yaml` file. `<topic-name>` and `<subscription>` both refer to placeholder values:

[code]

The autoscaler, later on, complains:

[code]

The format `<topic-name>+<subscription>` seems to be unacceptable because of the `+` sign, even though is a valid name

[2022-11-07 13:20] alculquicondor commented on #113627
@BenTheElder I see. Should we close this issue then?

[2022-11-07 13:31] liggitt opened #113677 "[Flake] test-cmd: run_kubectl_server_side_apply_tests"
### Which jobs are flaking?

pull-kubernetes-integration: https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=%5BAa%5Dpply

ci-kubernetes-integration-master: https://testgrid.k8s.io/sig-release-master-blocking#integration-master&include-filter-by-regex=[Aa]pply&width=5

### Which tests are flaking?

run_kubectl_server_side_apply_tests

### Sin

[2022-11-07 14:00] wojtek-t commented on #109831
A bit of that already hapenned in: https://github.com/kubernetes/kubernetes/pull/113427 and https://github.com/kubernetes/kubernetes/pull/113588

I have a bit more started in my local branch (https://github.com/kubernetes/kubernetes/pull/113666 is a preparation for making that possible), but my work (for now) is limited to lists.

If you want to help with making that for other tests (in particular

[2022-11-07 14:09] danwinship opened #113678 "test MinimizeIPTablesRestore in scale tests"
We need to enable the `MinimizeIPTablesRestore` feature gate in some/all? scale tests, and check the `sync_proxy_rules_iptables_partial_restore_failures_total` metric at the end of the run. (We believe it should be 0 at the end of the run, but we may not want to actually assert that until we've done a few runs?)

/kind feature
/sig network
/assign @aojea

[2022-11-07 14:10] ardaguclu commented on #113677
If I'm not wrong, SSA conflict error is a real test case and expected(https://github.com/kubernetes/kubernetes/blob/fb9b466f3052ca737ccb3098132a6ac21c59ad79/test/cmd/apply.sh#L421).

That test looks failing in https://github.com/kubernetes/kubernetes/blob/fb9b466f3052ca737ccb3098132a6ac21c59ad79/test/cmd/apply.sh#L480. I could not find any recent change about that but if there is a latency for dis

[2022-11-07 14:14] ardaguclu commented on #113677
Another thing is if we get this not found error from discovery, we are not cleaning it properly and that causes run_crd test fails with already exist.

[2022-11-07 14:18] xuchen-xiaoying commented on #112768
sorry for late reply.

I want to introduce L7 load balancer before apiserver, like nginx or envoy before web servers.

[2022-11-07 15:00] #113170 closed

[2022-11-07 15:41] BenTheElder commented on #113627
I think it depends on how it's being used. If the traces are not the goal then we can do a simple substitution. It's probably best to drop read only dependencies but it's worth noting that if we depended on the full functionality in any way we'll need a more complex replacement

[2022-11-07 15:44] lengrongfu commented on #113043
@secsys-go Suggest closing this issue.

[2022-11-07 16:06] #109942 closed

[2022-11-07 16:11] mkulke commented on #111767
/remove-lifecycle stale

[2022-11-07 16:12] joell commented on #104171
/remove-lifecycle stale

[2022-11-07 16:27] knelasevero commented on #91633
I pushed a simple benchmark test coming from master:https://github.com/knelasevero/kubernetes/commit/a66d556ee9bde38ac6103b47a642ec2b34007bce

And I pushed the same benchmark test coming from that [PR](https://github.com/kubernetes/kubernetes/pull/111155):
https://github.com/kubernetes/kubernetes/pull/111155/commits/a44efd83e62c199e7cfc0990744342805dab1416

Running on master:
[code]
[code]

Runnin

[2022-11-07 16:38] sftim commented on #113211
Could we provide this functionality as an out-of-tree add-on to Kubernetes? Is there anything about this enhancement proposal that requires a change to Kubernetes itself?

[2022-11-07 16:39] ahg-g commented on #113474
sg, thanks.

[2022-11-07 17:14] enj commented on #111925
/milestone v1.27

[2022-11-07 17:15] enj commented on #111920
/milestone v1.27

[2022-11-07 17:21] enj commented on #111923
/milestone v1.27

[2022-11-07 18:01] GuillaumeDerivery commented on #47862
Hi everyone,
Is there any plan to add UDP support to port forwarding ?

Thanks.

[2022-11-07 18:36] alvaroaleman opened #113683 "Kubectl edit: `--show-managed-fields` does nothing"
### What happened?

I edited an object like so `kubectl edit svc my-server --show-managed-fields` and epected to see managed fields but didn't. When using `kubectl get -oyaml --show-managed-fields` they are shown

### What did you expect to happen?

See managed fields

### How can we reproduce it (as minimally and precisely as possible)?

`kubectl edit some-type some-name --show-managed-fields`

#

[2022-11-07 18:36] alvaroaleman commented on #113683
/sig cli

[2022-11-07 18:46] pjbgf commented on #81145
@AndrewSav the explanation is here: https://github.com/kubernetes/kubernetes/issues/81145#issuecomment-628533749.

Please note that the focus of this issue was the Kubelet, and not the apiserver. For the latter you can refer to [this issue](https://github.com/kubernetes/kubernetes/issues/91444). However, users are able to protect themselves by picking safe ciphers via `--tls-cipher-suites` on thei

[2022-11-07 19:01] ardaguclu commented on #113683
/transfer kubectl

[2022-11-07 19:18] dashpole commented on #113651
/reopen

Whoops, I think we still need to update the vendored version of k8s/utils in k/k

[2022-11-07 19:20] #112271 closed

[2022-11-07 19:38] alculquicondor commented on #113211
Although, an important question is how can an out-of-tree controller detect these failures. Is there a stable Pod condition type or reason that can be monitored?

If the controller has to do regex on error messages, that can easily break from one release to another. So at the very least in upstream we should have consistent Pod conditions.

[2022-11-07 19:55] aojea commented on #113561
cleaned up now, it should work now

[2022-11-07 19:56] aojea commented on #113561
![image](https://user-images.githubusercontent.com/6450081/200402570-37ab71da-a2ac-46d4-92a5-5db4f6480c7a.png)

[2022-11-07 19:56] #113561 closed

[2022-11-07 19:59] ritazh commented on #113272
@Cool-Coder174 You can update https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data/#understanding-the-encryption-at-rest-configuration, add the following to EncryptionConfiguration similar to this test https://github.com/kubernetes/kubernetes/pull/113015/files#diff-cf16f4f8c11491813e64436319324e56ae67a2719d7850d3aceebac97df3899bR82-R95
[code]

[2022-11-07 22:46] pohly opened #113700 "dynamic resource allocation: use patches or server-side-apply for updates"
### What would you like to be added?

The initial pkg/scheduler/framework/plugin/dynamicresources code use Update to modify objects. It should use patches or (once supported by client-go fake) server-side-apply.

Same for pkg/controller/resourceclaim/controller.go.

### Why is this needed?

Better performance.

[2022-11-07 22:52] #111704 closed

[2022-11-07 22:56] pohly opened #113701 "dynamic resource allocation: benchmark scheduler plugin"
### What would you like to be added?

Performance optimizations may be possible.

Other ideas for classic DRA:
- randomize node selection with rand.Perm
- remove sorting of node names

For structured parameters (incomplete list):
- cache compiled CEL expressions
- optimize attribute lookup

### Why is this needed?

Better performance.

[2022-11-07 23:01] pohly opened #113702 "dynamic resource allocation: trigger re-scheduling of specific pods"
### What would you like to be added?

Right now, the scheduler plugin marks ResourceClaim changes as triggers for all pods. It should only do that for pods that actually use claims.

### Why is this needed?

No impact on normal pod scheduling.

[2022-11-07 23:05] pohly opened #113703 "dynamic resource allocation: optimize class.SuitableNodes usage"
### What would you like to be added?

The node selectors gets parsed  by `corev1helpers.MatchNodeSelectorTerms(node, class.SuitableNodes)` in `Filter` for each node. That work can be done once in `PreFilter`.

### Why is this needed?

Better performance.

[2022-11-07 23:06] nilekhc opened #113704 "encryption-at-rest: add success or failure metric when encryption configuration attempts to dynamically update"
ref - https://github.com/kubernetes/kubernetes/pull/112050#discussion_r1015894772

/sig auth

[2022-11-07 23:10] Huang-Wei opened #113705 "VolumeBinding's Score plugin in enabled by default in v1beta3 and v1 config"
### What happened?

Followed up with @alculquicondor, VolumeBinding Score plugin is enabled only when the feature gate `VolumeCapacityPriority ` is enabled:

https://github.com/kubernetes/kubernetes/blob/43a2bb4df4ff3c255337f5ed927b8fd17c38c235/pkg/scheduler/apis/config/v1beta2/default_plugins.go#L115-L119

However, with v1beta3 and v1, VolumeBinding Score plugin is no longer feature gated (althou

[2022-11-07 23:10] Huang-Wei commented on #113705
/sig scheduling

[2022-11-07 23:54] AndrewSav commented on #81145
@pjbgf Thank you for responding. I did read the original explanation, and I would like an extra clarification. That explanation the way I understand it says that:

a) http2 protects from the weak ciphers
b) it is not possible to turn http2 off in a kubelet
and thus c) kubelet should be secure

I'm requesting clarification about this logic and my understanding of it. In my view it is not true that

[2022-11-08 00:01] #108483 closed

[2022-11-08 00:02] #113651 closed

[2022-11-08 00:02] #112160 closed

[2022-11-08 00:34] apelisse commented on #113677
That's a good point, it's hard to clean-up properly though on failures :-/.

And yes, I don't think ssa is the problem here, the problem is in getting the api-resources.

[2022-11-08 00:37] apelisse commented on #113677
Submitted PR to attempt to fix it, it doesn't solve the clean-up issue, but at least it should hide it well :-)

[2022-11-08 00:40] tengqm commented on #113438
oh gosh, this is eventually happening!!!

[2022-11-08 00:42] everpeace commented on #112879
/reopen

[2022-11-08 01:08] #107417 closed

[2022-11-08 01:08] #112826 closed

[2022-11-08 01:20] sanposhiho opened #113709 "Replace all deprecated `sets.String` with `sets.Set`"
In this PR https://github.com/kubernetes/kubernetes/pull/112377, `sets.Set` is newly implemented, and `sets.String` got marked as deprecated.

In the scheduler, we often use `sets.String` everywhere. This issue aims to replace all `sets.String` (+ other deprecated structs in the `sets` package) with `sets.Set` in the sig/scheduling related area.

You can refer to the following comments.
https://gi

[2022-11-08 01:29] Huang-Wei commented on #113608
It's for a future release that promotes PodSchedulingReadiness to beta.

[2022-11-08 01:43] Bryce-Soghigian commented on #113709
/assign Bryce-Soghigian

[2022-11-08 02:04] lsytj0413 commented on #109902
/remove-lifecycle stale

[2022-11-08 03:15] BenTheElder commented on #113709
Please consider if these codepaths are likely to need cherry-picking to past releases, as only 1.25+ supports generics (this is noted in the generics policy linked in the previous PR)

[2022-11-08 03:19] BenTheElder commented on #113659
/sig network

[2022-11-08 03:19] BenTheElder commented on #113659
/kind support

[2022-11-08 05:52] #111553 closed

[2022-11-08 05:52] #99139 closed

[2022-11-08 06:32] Seaiii opened #113712 "GracePeriod elegant delete can only be set once"
### What happened?

I checked the kubelet source code and found that after receiving a request to delete a pod, it will determine whether the pod is in the process of being updated, and if it is, it will store this update in the map of lastUndeliveredWorkUpdate. When this update is finished, it will be taken out from this map and put into the podUpdates pipeline for processing.
However, if the gra

[2022-11-08 06:42] rxwang662001 opened #113713 "whether related beta apis enabled for those beta feature gates enabled by k8s 1.24 by default?"
From https://kubernetes.io/docs/reference/command-line-tools-reference/feature-gates/
the statement

``Since Kubernetes 1.24, new beta APIs are not enabled by default. When enabling a beta feature, you will also need to enable any associated API resources. For example, to enable a particular resource like storage.k8s.io/v1beta1/csistoragecapacities, set --runtime-config=storage.k8s.io/v1beta1/csis

[2022-11-08 06:52] kerthcet commented on #113671
I think this is as designed, see https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#forced-rollback. You have to delete the failed pod to make the rolling update successful again.

FYI: I submitted a KEP to discuss about this before, if you're interest, you can take a look https://github.com/kubernetes/enhancements/pull/3562

[2022-11-08 06:52] thockin opened #113714 "batch API uses fixed, non-prefixed label keys"
It looks like label keys "controller-uid" and "job-name" are used.  Unprefixed label keys are reserved for end-users - these should be "something.kubernetes.io/...".

Since this is in the wild, the best we can do would be to define and document the proper names, set and accept both for a while, then stop setting the old name, but still accept it forever.  Something like that.

[2022-11-08 06:52] kerthcet commented on #113671
/remove-kind bug
/kind feature
/remove-sig scheduling
/sig apps

[2022-11-08 07:07] Karthik-K-N opened #113715 "Enhancement: Vertical node scaling"
### What would you like to be added?

Enable vertical scaling of nodes, add the ability to update the nodes capacity specs without needing to restart the kubelet service in case of change in underlying machine capacity spec.

### Why is this needed?

If virtual machines support live upgrades of machines specs like memory and cpu without restart or shutdown  and if we want to utilize this feature c

[2022-11-08 07:33] SimonCqk opened #113716 "[Feature Request] solid resourcequota admission leveraging `resourceVersion` comparison."
### What would you like to be added?

Introduce a new field `observedResourceVersion` to `resourcequota.status` to provide solid resource admission, in case of event slow watch during usage calculation that causes resource leak.

proposal:

[code]

### Why is this needed?

Imagine a case down below:

1. user create a pod `pod-a` that managed by ResourceQuota `rq-a`, assume that `used` of `rq-a` is

[2022-11-08 07:37] kerthcet commented on #109364
/remove-lifecycle stale

[2022-11-08 07:52] mythi commented on #113627
k/k git log suggests that some cleanup has already been done in the past (maybe in other commits too):
[code]

This issue triggered 3 PRs and 2 of them are merged.

there does not seem to be calls to `errors.WithStack()` so most cases it looks it's just wrapping errors.

[2022-11-08 08:22] Seaiii opened #113717 "grace-period=0 --force Forced deletion failed"
### What happened?

<img width="1510" alt="image" src="https://user-images.githubusercontent.com/29618214/200506702-f2db6a88-4587-4db8-afd4-95cbe68d31cc.png">
A case where the premise container doesn't stop down! (Example: container is in sleep 9999 state) when I first kubectl delete pod --grace-perios=30 and then when kubectl delete pod --grace-perios=0 -force. The second time the force delete wi

[2022-11-08 08:40] aojea commented on #113717
/sig node

I have doubts these commands are preemptive and the second call will stop the process initiated by the first

[code]

[2022-11-08 08:44] Seaiii commented on #113717
According to the code logic of older versions, --grace-period=0 -force would be handled specially and the forced stop would be executed immediately, but not after version 1.22

[2022-11-08 08:53] aojea commented on #113036
https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=duplicate%20controllerrevision%20is%20not%20deleted&test=TestDSCUpdatesPodLabelAfterDedupCurHistories

The error on the test is `duplicate controllerrevision is not deleted`

@soltysh can sig-apps PTAL to assess if this is a real bug, I've seen this flaking lately too

https://testgrid.k8s.io/sig-release-master-blocking#integration-mas

[2022-11-08 08:53] AakarshitAgarwal commented on #62013
/reopen

[2022-11-08 09:02] aojea commented on #113717
yeah, sorry I didn't read it in detail :).

Indeed, in 1.22 there was a big refactor and cleanup on the kubelet and some releases notes were amended regarding the pod lifecycle https://github.com/kubernetes/kubernetes/pull/107348

This have some consequences as the ones you are highlighting, sig-node is the owner of this area, I know they are addressing some issues related to your question latey

[2022-11-08 09:04] painsAgains opened #113720 "API parameter parsing Error"
### What happened?

In the 1.25.3 API documentation, the `allowWatchBookmarks` and `watch` parameter is defined as a boolean,
![image](https://user-images.githubusercontent.com/49607803/200519198-ec882034-dfa6-4640-969d-d12b594af98c.png)
![image](https://user-images.githubusercontent.com/49607803/200519353-5839d6d4-8bd4-4071-af8e-30f0d4d7e040.png)

but when I pass in parameters of string type, int

[2022-11-08 09:04] aojea commented on #113659
That rule will be recreated , I think you just have to do the opposite, insert a rule to allow your Wireguard traffic 😄

[2022-11-08 09:07] painsAgains commented on #113720
/sig api-marchinery

[2022-11-08 09:09] Seaiii commented on #113717
Okay, thank you very much, I'll see if the relevant updates have my situation handled

[2022-11-08 09:20] aimuz commented on #113712
After 30 seconds, will he be deleted?

[2022-11-08 09:23] Seaiii commented on #113712
Yes, it will be deleted, the first request is correct, the later deletions have no effect

[2022-11-08 09:40] patsevanton commented on #106802
any update?

[2022-11-08 09:43] pohly opened #113722 "dynamic resource allocation: use generated name for ResourceClaim from template"
### What would you like to be added?

Right now, the name is specified as `<pod name>-<claim source name inside pod spec>`. That's easy and deterministic, but may lead to conflicts with ResourceClaims that were created earlier, either automatically or manually.

Let's investigate the alternative: generate the name and let code which needs to know it search the API server or in a local cache via so

[2022-11-08 09:48] pacoxu commented on #113716
/sig api-machinery

[2022-11-08 09:51] pacoxu commented on #113715
/sig node autoscaling

[2022-11-08 10:06] pacoxu commented on #113713
For `new beta APIs are not enabled by default`, it is for the KEP below with https://github.com/kubernetes/kubernetes/pull/107993.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/3136-beta-apis-off-by-default/README.md

This KEP is about beta API, and it is not-related to the feature gate beta concept.

For feature gate progressions, please refer to https://github.com/

[2022-11-08 10:09] pacoxu commented on #113713
/kind support

[2022-11-08 10:10] pacoxu commented on #113712
/cc @wzshiming
There is already a pr/issue for this.

[2022-11-08 10:10] aojea commented on #113036
/edit [Flaky test] k8s.io/kubernetes/test/integration/daemonset

This is getting worse with the new tests added yesterday https://github.com/kubernetes/kubernetes/pull/112127
https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5

/release-blocker

[2022-11-08 10:13] aojea commented on #113036
/retitle [Flaky test] k8s.io/kubernetes/test/integration/daemonset

/priority important-soon

[2022-11-08 10:36] discostur commented on #20391
Just installed a k8s v1.24.7 cluster with flannel v0.20.1 and the issue still seems to exist:

[code]

DNS only works if the coreDNS pod runs on the same node like the client. Pod to pod communication via services is broken ...

[2022-11-08 10:39] aojea commented on #20391
but that is a flannel problem, isn't it?

it should be reported on its repo

[2022-11-08 10:43] sergiosanche commented on #110630
Hello,

I have the same behaviour in K8s 1.23 and 1.24 (both using containerd). kubelet configuration is the default one (10Mi, 5 files).

If I try this code:

`apiVersion: v1
kind: Pod
metadata:
  name: log-generator-big
spec:
  containers:
  - name: log-generator-big
    image: busybox
    args: ["sh", "-c", "i=1; while [ $i -le 100  ]; do j=1; while [ $j -le 2000 ]; do echo 2022-06-16T20:02:18,

[2022-11-08 10:48] Aut0R3V commented on #113709
I believe that all the instances only in that file need to be changed @sanposhiho? Thanks in advance!

[2022-11-08 11:01] sanposhiho commented on #113709
I may not grasp what you mean, but all the deprecated structs (+ their methods) defined in the `sets` packages should be replaced with new `sets.Set`. And, the target files are all files under pkg/scheduler, test/e2e/scheduling,  test/integration/scheduler, test/integration/scheduler_perf, and cmd/kube-scheduler. (But, as @BenTheElder, we may need to keep the deprecated struct in some code.)

[2022-11-08 11:05] dariodsa opened #113725 "Liveness probe is failing but prober.go doesn't log it"
### What happened?
from Events  object I can see that liveness probe is failing but I can't see ``prober.go`` logs in the journal.
https://github.com/kubernetes/kubernetes/blob/e3d7cb5bc53bd5db8a8bfe90fe77d8d78a5ded14/pkg/kubelet/prober/prober.go#L109
Logging does work for  the first couple of probes but after that probes keeps failing, but they are not logged. Is that normal behavior?

### What d

[2022-11-08 11:25] mehabhalodiya commented on #113449
Reopening the issue as this is still failing, please have a look at the [testgrid](https://testgrid.k8s.io/sig-release-master-informing#periodic-conformance-main-k8s-main). Thank you!

/reopen

[2022-11-08 11:32] #113725 closed

[2022-11-08 11:35] Karthik-K-N commented on #113715
I would like to work on this, would like to know community opinion and guidance

[2022-11-08 11:49] verb commented on #108799
/remove-lifecycle stale

[2022-11-08 12:20] gjkim42 commented on #113036
cc

[2022-11-08 12:21] vinay50muddu commented on #113203
@fedepaol and @aojea , Is there any update/info required from my side? Please let me know.
This flag is already enabled in all the worker nodes. Any suggestions are appreciated.

[2022-11-08 12:30] #113628 closed

[2022-11-08 12:52] Ankitasw commented on #113449
The same set of tests are passing in the other pipeline https://testgrid.k8s.io/sig-cluster-lifecycle-cluster-api-provider-aws#periodic-conformance-main
Can this be checked from test-infra side as it seems issue on the prow side?

[2022-11-08 12:58] jgan129 commented on #113621
Executing
`microk8s kubectl get nodes -o wide`
returns the following:
<img width="957" alt="image" src="https://user-images.githubusercontent.com/3337689/200570482-0bd16e51-95af-4780-9287-2e386d4e4d86.png">

so I guess the OCI is containerd with version 1.6.6.
What should be the minimum one?

[2022-11-08 13:01] Aut0R3V commented on #113709
Yea this just cleared up my doubt. Apologies for the ambiguous question.

[2022-11-08 13:33] ialidzhikov opened #113731 "Support topology aware routing (node and zone)"
**How to categorize this issue?**
/sig networking
/kind feature
/priority important-soon

**What would you like to be added**:
Currently there is no way to achieve topology aware routing (`kubernetes.io/hostname`, `topology.kubernetes.io/zone`, `topology.kubernetes.io/region`) and define _deterministic_ rules like the ones offered from the already deprecated and removed [`ServiceTopology`](https:/

[2022-11-08 13:34] ialidzhikov commented on #113731
/sig network

[2022-11-08 13:41] alculquicondor commented on #113705
Can we actually do this retroactively?

[2022-11-08 13:43] pohly commented on #113705
/cc

[2022-11-08 13:50] gjkim42 commented on #113036
I have no idea about TestDSCUpdatesPodLabelAfterDedupCurHistories.

---

https://github.com/kubernetes/kubernetes/pull/112127#discussion_r1016646847

I guess TestUpdateStatusDespitePodCreationFailure has a data race.
Made [a fix](https://github.com/kubernetes/kubernetes/pull/113732) for it.

[2022-11-08 14:23] aojea commented on #113036
we should investigate that too

[2022-11-08 15:20] soltysh commented on #113036
/triage accepted
/assign

[2022-11-08 15:31] LucaSoato commented on #94837
Man vs Bots

[2022-11-08 16:19] rphillips opened #113746 "Projected ConfigMap Update Delay"
### What happened?

Recent Kubernetes versions (1.25, 1.24 and main) exhibit a delay on ConfigMap update for the time taken to render the changes to the volume on the filesystem. Recent test [runs](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cos-cgroupv2-containerd-e2e-gce/1589654264869818368) (`Projected configMap updates should be reflected in volume`) display a time of upwards to 1m

[2022-11-08 16:20] rphillips commented on #113746
/sig node

[2022-11-08 16:20] Bryce-Soghigian commented on #113709
@tangwz yes I am still working on it

[2022-11-08 16:47] atiratree commented on #113036
/reopen

[2022-11-08 17:14] ehashman commented on #106691
I am no longer working on SIG Node issues. I tagged the issue as triaged/accepted because this is an actionable bug and can be worked on.

I wish I could help, but there's too many issues on the upstream backlog and not enough people working on them. Most people working on SIG Node are part-time, and will only pick up an issue if it is a priority to their employer.

[2022-11-08 17:33] KnVerey commented on #109605
Yes, it is valid. For example, you can cause this with kubectl by running `kubectl delete --cascade=orphan` on the owner. I think it _could_ also happen if you run `kubectl delete --force` on the pod, since that will delete the API's record of the pod's existence whether or not the pod stops running (so when the owner is later deleted, the API machinery won't know about the pod to clean it up).

F

[2022-11-08 17:34] #113377 closed

[2022-11-08 17:59] Huang-Wei commented on #113705
I think we should as it's a bug in terms of configuration's correctness, although not a bug in the POV of plugin behavior.

cc @ahg-g @liggitt @cofyc

[2022-11-08 18:20] RyanStan commented on #103675
[Is this is the pr (103703)](https://github.com/kubernetes/kubernetes/pull/103703) that fixed this?  Looks like this went into 1.22.0

[2022-11-08 19:08] alculquicondor commented on #113705
+1 on a comment

[2022-11-08 19:29] robscott commented on #103675
@RyanStan this is the most relevant PR (also merged to 1.22): https://github.com/kubernetes/kubernetes/pull/103704. The other PR reverts a change that was merged in the 1.22 release cycle but reverted. As the issue above states, that patch is only effective for new 1.22+ clusters, others will want to run the manual mitigation steps described above.

[2022-11-08 20:01] aojea commented on #20391
no worries, sometimes is the other way around

[2022-11-08 20:11] marosset commented on #112469
/reopen

[2022-11-08 20:23] marosset commented on #112469
When `runAsNonRoot=true` on Windows the kubelet will check to see if the value in `runAsUsername` is not set to `ContainerAdministrator`. if `runAsUsername` is not set then it will check the `User` field in the container images json file.

I took a look at the image files and see that for `nanoserver` images `User` is set to `ContainerUser` but for `servercore` images `User` is unset. Because of t

[2022-11-08 20:23] marosset commented on #112469
/triage accepted

[2022-11-08 20:42] #112982 closed

[2022-11-08 20:47] sftim commented on #113401
@jayunit100 you might like https://deploy-preview-37767--kubernetes-io-vnext-staging.netlify.app/docs/reference/instrumentation/slis/ (preview of v1.26 docs)

[2022-11-08 20:54] bobbypage opened #113752 "gce-device-plugin-gpu job failing on 1.25, 1.24, and 1.23 blocking dashboards"
### Which jobs are flaking?

https://testgrid.k8s.io/sig-release-1.25-blocking#gce-device-plugin-gpu-1.25
https://testgrid.k8s.io/sig-release-1.24-blocking#gce-device-plugin-gpu-1.24
https://testgrid.k8s.io/sig-release-1.23-blocking#gce-device-plugin-gpu-1.23

### Which tests are flaking?

Above jobs

### Since when has it been flaking?

November 4 2022

### Testgrid link

_No response_

### Reaso

[2022-11-08 20:56] bobbypage commented on #113752
The 1.22 job is failing due to

[code]

[2022-11-08 20:56] bobbypage commented on #113752
The 1.25 job:

First failed run - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-1-25/1588622298766643200
Last passing run - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-1-25/1588592006177755136

[2022-11-08 20:58] bobbypage commented on #113752
1.25 job failure --

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-1-25/1588622298766643200

[code]

last passing run (https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-device-plugin-gpu-1-25/1588592006177755136)

[code]

so this seems related to the OS update bump (see https://github.com/kubernetes/kubernetes/issues/113625)

[2022-11-08 20:58] sftim commented on #113401
I like keeping API changes small when it looks like we can build an out-of-tree way to achieve something as good.

Here's my thinking.

1. We could build an APIService that exposes an aggregation of component health. Not the deprecated ComponentStatuses API; something out-of-tree that enhances Kubernetes.
    - `kubectl get clustercomponents -o  jsonpath='{.items[*].status}'`
    - `kubectl cluste

[2022-11-08 21:01] bobbypage commented on #113752
ah, it looks like the problem is that we updated the OS in the older releases branches but we didn't update the COS GPU installer on the older release branches. On the 1.25 run we are using COS-97 but still pulling old GPU installer (`cos-gpu-installer:v2.0.5`)

[code]

We need to cherrypick https://github.com/kubernetes/kubernetes/pull/113632/ to the older release branches

[2022-11-08 21:01] sftim commented on #113401
Anyway, rather than add a condition to objects (which is problematic if the thing that has failed is not allowing object writes), maybe it's better to have a way to emit Events, and perhaps for the API server to emit some Events as `system:masters` (which then means no authz, no admission control.

Would that help?

[2022-11-08 21:29] KnVerey commented on #113006
I've been assigned to the linked PR but I don't have enough context on `kubectl debug` to know whether that's the right solution to the problem described. I know the [KEP includes the concept of profiles](https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/1441-kubectl-debug#debugging-profiles) that modify the capabilities used (https://github.com/kubernetes/kubectl/issues/1108), w

[2022-11-08 21:33] tallclair opened #113756 "CVE-2022-3162: Unauthorized read of Custom Resources"
CVSS Rating: [CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:N/A:N](https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:N/AC:L/PR:L/UI:N/S:U/C:H/I:N/A:N)

A security issue was discovered in Kubernetes where users authorized to list or watch one type of namespaced custom resource cluster-wide can read custom resources of a different type in the same API group without authorization.

### Am I vulnerable?

[2022-11-08 21:33] tallclair opened #113757 "CVE-2022-3294: Node address isn't always verified when proxying"
CVSS Rating: [CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:U/C:H/I:H/A:H](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:N/AC:H/PR:H/UI:N/S:U/C:H/I:H/A:H)

A security issue was discovered in Kubernetes where users may have access to secure endpoints in the control plane network. Kubernetes clusters are only affected if an untrusted user can modify Node objects and send proxy requests to them.

Kubernetes

[2022-11-08 21:40] nilekhc opened #113759 "encryption-at-rest: use atomic.Pointer to store dynamic transformers"
Ref:- https://github.com/kubernetes/kubernetes/pull/112050#discussion_r1016791814

We will also have to do some benchmarking to ensure perf cost between the current implementation and this approach to make sure we are being benefited from atomic.Pointers.

[2022-11-08 21:41] nilekhc commented on #113759
/sig auth

[2022-11-08 22:22] logicalhan commented on #81863
/close

[2022-11-08 22:22] #81863 closed

[2022-11-08 22:22] logicalhan commented on #81863
This is fixed.

[2022-11-08 22:31] howardjohn opened #113761 "Admission configuration managers incorrectly implement `HasSynced()`"
The admission configation managers have some logic errors leading to HasSynced() reporting true prematurely. `validatingWebhookConfigurationManager` and `mutatingWebhookConfigurationManager` both suffer this issue.

Description of the problem:

`HasSynced()` checks the Informer is synced, and initialConfigurationSynced==true

The intent here is that each handler will sync the full state of the wor

[2022-11-08 22:35] liggitt commented on #113761
cc @jpbetz

[2022-11-08 22:35] ritazh commented on #113759
/triage accepted

[2022-11-08 22:38] shuheiktgw opened #113762 "[Failing test] skew-cluster-latest-kubectl-stable1-gce kubetest.Extract"
### Which jobs are failing?

skew-cluster-latest-kubectl-stable1-gce

### Which tests are failing?

kubetest.Extract

### Since when has it been failing?

Since 11/8

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/si

[2022-11-08 22:41] sanposhiho commented on #108903
/remove-lifecycle stale

[2022-11-08 22:43] shuheiktgw commented on #113762
/triage accepted

[2022-11-08 22:43] shuheiktgw commented on #113762
[Slack thread](https://kubernetes.slack.com/archives/C09QZ4DQB/p1667947284689449)

[2022-11-08 22:53] nandorKollar commented on #113624
Does the CNI you use support network policies? As per the doc: "Creating a NetworkPolicy resource without a controller that implements it will have no effect.", you'll need a CNI which implements a network policy controller. [This](https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/) task mentions a couple of CNI which ships with this feature.

[2022-11-08 23:16] Huang-Wei commented on #113269
All work for Alpha has been merged. Close the issue.

[2022-11-08 23:16] #113269 closed

[2022-11-08 23:52] bowei commented on #113731
/assign @robscott

[2022-11-09 00:16] #111794 closed

[2022-11-09 00:36] howardjohn opened #113763 "informers: provide a way to know when a resource handler has "synced""
Currently, informers expose a `HasSynced` method.
This asserts that one full List has been synced to the informers *store*.

However, this does not give any guarantees about *handlers* being called.

It is fairly common to need to know that the handlers have been called for the initial state.
However, there is currently no way to access this.

Slack context: https://kubernetes.slack.com/archives/C

[2022-11-09 01:19] Seaiii commented on #113712
#83916  also the same problem as mine.
但是没有人解决这个问题，我是否需要提个PR

[2022-11-09 01:20] Seaiii commented on #113712
#83916 also the same problem as mine
But no one has solved this problem, do I need to raise a PR

[2022-11-09 01:21] Seaiii commented on #113717
It is true that there are many similar problems, but so far have not seen the official development team to solve, and have not seen the correct PR

[2022-11-09 01:21] kinderyj commented on #113712
same issue

[2022-11-09 01:24] #111919 closed

[2022-11-09 01:38] Nivedita-coder opened #113765 "[Failing test] ci-crio-cgroupv1-node-e2e-conformance"
### Which jobs are failing?

master-informing

- ci-crio-cgroupv1-node-e2e-conformance

### Which tests are failing?

- E2eNode Suite.[SynchronizedBeforeSuite]

- ci-crio-cgroupv1-node-e2e-conformance.Overall

- kubetest.Node Tests

### Since when has it been failing?

11-08 01:43 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance

##

[2022-11-09 01:38] Nivedita-coder opened #113766 "[Failing test] ci-crio-cgroupv1-node-e2e-conformance"
### Which jobs are failing?

master-informing

- ci-crio-cgroupv1-node-e2e-conformance

### Which tests are failing?

- E2eNode Suite.[SynchronizedBeforeSuite]

- ci-crio-cgroupv1-node-e2e-conformance.Overall

- kubetest.Node Tests

### Since when has it been failing?

11-08 01:43 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance

##

[2022-11-09 01:39] Nivedita-coder opened #113767 "[Failing test] ci-crio-cgroupv1-node-e2e-conformance"
### Which jobs are failing?

master-informing

- ci-crio-cgroupv1-node-e2e-conformance

### Which tests are failing?

- E2eNode Suite.[SynchronizedBeforeSuite]

- ci-crio-cgroupv1-node-e2e-conformance.Overall

- kubetest.Node Tests

### Since when has it been failing?

11-08 01:43 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#ci-crio-cgroupv1-node-e2e-conformance

##

[2022-11-09 01:43] sanposhiho commented on #108903
@matthewygf do you want to work on it? If so, please `/assign` it.
I don't mean to force you to work on here, I can follow it if you want to leave it. I just think it's a good first issue for you to get involved in the kubernetes :)

[2022-11-09 01:48] #113765 closed

[2022-11-09 01:49] #113766 closed

[2022-11-09 01:57] Nivedita-coder commented on #113767
/sig node

[2022-11-09 02:05] Nivedita-coder commented on #113762
cc @kubernetes/ci-signal

[2022-11-09 04:42] #113752 closed

[2022-11-09 05:59] andyzhangx commented on #110261
@lualvare this requires csi-proxy change and new csi-proxy version upgrade. And we are in the process of removing csi-proxy and use native call from k8s 1.23, after that csi-proxy change, it's easier to fix this issue in csi driver.

[2022-11-09 06:07] uablrek commented on #113006
A bug it is - you can't start an ephemeral container. To make things worse, _it is loaded_ but not started. So basically a dead container is created that can't be unloaded.

How to _fix_ the problem can be debated though. Please see the comment;

[2022-11-09 06:36] hoojos commented on #79272
Value and AverageValue also makes my workmates confused，doc and note is unclear. And it's also related with Custom Metrics or  External Metrics how to implemented API.

[2022-11-09 06:37] kangsan0420 opened #113770 "Is there any way to assign pods to nodes manually?"
I have only 2 nodes so that I want full-track of pods.

Can I set specific number of replicas for each node in one deployment? (e.g. 2 replicas on node-1 & 3 replicas on node-2)

I tried:
node affinity: can't adjust number of replicas for each node.
pod anti-affinity: can't assign multiple pods for single node.

It seems not possible to use node affinity and pod anti-affinity simultaneously.

[2022-11-09 06:38] rxwang662001 commented on #113713
@pacoxu
Yes, I also understand "beta feature gate" and "beta apis" are two things, that's why I have such confusion.
Since most of "beta feature gates" are enabled by default by k8s 1.24 still, and if their implementation have new beta APIs, whether these new beta APIs will be enabled by k8s 1.24 as well? so that these beta feature gates could work.
Or it still need user self to figure out those b

[2022-11-09 06:47] pacoxu commented on #113713
I think this should be mentioned in the feature gate document.

/cc @deads2k

[2022-11-09 07:45] pohly opened #113771 "dynamic resource allocation: simplify type names in API"
### What would you like to be added?

Potential changes:
- Reference -> Ref in struct names - might not be consistent with other types then?
- core.ResourceClaim -> ResourceClaimUse, ResourceClaimAttachment, etc. - TBD

This only affects Go code and thus is not an API change.

### Why is this needed?

Simpler and/or less ambiguous code.

[2022-11-09 07:55] mehabhalodiya commented on #112771
It is passing now :) Thanks!

/close

[2022-11-09 07:55] #112771 closed

[2022-11-09 08:09] pohly opened #113773 "applyconfiguration: support conversion to and from corresponding type"
### What would you like to be added?

Several tests use a builder pattern with manually written helper functions to populate objects with certain fields set. That code pre-dates the introduction of the generated applyconfiguration packages (like `k8s.io/client-go/applyconfigurations/core/v1`).

Now applyconfiguration can do almost the same thing, but there are gaps:
- no DeepCopy: this is useful t

[2022-11-09 08:19] pohly opened #113774 "dynamic resource allocation: avoid using testify in scheduler tests"
### What would you like to be added?

`pkg/scheduler/framework/plugins/dynamicresources/dynamicresources_test.go` uses testify to check errors and compare structs. The preferred style for scheduler plugins is to avoid test packages like testify and instead generate test failures manually. cmp.Diff can be used for struct comparisons.

### Why is this needed?

Consistency under pkg/scheduler.

[2022-11-09 08:21] pohly commented on #113774
A first [naive attempt](https://github.com/kubernetes/kubernetes/pull/111023#discussion_r1017116113) showed that some customization of cmp.Diff will be needed:

[code]

Did not work:
[code]

The error comparison is too strict.

[2022-11-09 08:24] pohly commented on #113774
cmp/cmpopts might be able to avoid sorting and stripping in this code:

[code]

[2022-11-09 08:26] lengrongfu commented on #112893
@brucelee138 First add a pod warning prompt, this solution may require sig-owned consent to implement.

[2022-11-09 08:26] srisubra-uber commented on #112513
What is the expected output on running the provided command, to identify if we are vulnerable? Thank you.

[2022-11-09 09:19] b0b0haha commented on #56596
I'm confused why after the AssumePodVolumes make Volume got bound to PV on node "kubernetes-minion-group-82c8", the  FindPodVolumes  still  show  pod "default/mysql-faster-0 's pvc "default/data-mysql-faster-0" is not bound?

[2022-11-09 09:29] wzshiming commented on #113712
This is a known issue, and this PR #98507 is associated with a related issue

[2022-11-09 09:48] cynepco3hahue commented on #113130
Hmm in general the memory manager should not allow allocating the same NUMA nodes for cross and single NUMA node allocations it is one of the limitations that we have, see https://kubernetes.io/blog/2021/08/11/kubernetes-1-22-feature-memory-manager-moves-to-beta/#single-vs-cross-numa-node-allocation. @gaohuatao-1 Which topology manager do you use?

[2022-11-09 09:56] Seaiii commented on #113712
Can the latest version reduce the deletion time now? Is it also possible to force deletion and delete the container?

[2022-11-09 10:26] utkarsh-pro commented on #113671
Thank you for responding @kerthcet. So basically if a pod isn't scheduled on any of the nodes because of missing tolerations then the user **must**:
1. Add tolerations to the statefulset.
2. Delete the pods manually.

And if the above mentioned KEP is accepted then we might be able to use `enforcedRollingUpdate` to kind of automate this? Did I get that right?

[2022-11-09 10:46] Shubham82 commented on #110992
/remove-lifecycle stale

[2022-11-09 11:04] aojea commented on #113717
yeah, maybe this is no supported, I just was giving you context so you can check this is not a duplicate or a known issue, then you have to wait for SIG node to triage this issue ...

[2022-11-09 11:09] kerthcet commented on #113671
Yes. But if you don't need the guarantee of pod orders, you can set the `podManagementPolicy` to parallel.

[2022-11-09 11:20] Rajalakshmi-Girish opened #113781 "Latest k8s fails with kublet panic runtime error"
### What happened?

While setting up k8s cluster using the ci/latest version, we notice the kublet failure with below error message in its log:

[code]

### What did you expect to happen?

There should be no error while kubelet is coming up.

### How can we reproduce it (as minimally and precisely as possible)?

Install the prerequisites needed for the cluster setup.
Enable and try to start the ku

[2022-11-09 11:23] xmudrii opened #113782 "[Failing test] capz-windows-containerd-1.24"
### Which jobs are failing?

[sig-release-1.24-informing](https://testgrid.k8s.io/sig-release-1.24-informing)

- [capz-windows-containerd-1.24](https://testgrid.k8s.io/sig-release-1.24-informing#capz-windows-containerd-1.24)

### Which tests are failing?

- Kubernetes e2e suite: [sig-node] Probing container should *not* be restarted with a GRPC liveness probe [NodeConformance]
- Kubernetes e2e sui

[2022-11-09 11:25] klueska opened #113783 "dynamic resource allocation: add DRA-managed resources to the PodResources API"
### What would you like to be added?

The `PodResources` API is used to query the full set of resources allocated to a pod and make them available to metrics servers, CNI plugins, etc.

With the introduction of DRA, we should also include the resources it manages as part of this API.

### Why is this needed?

To allow metrics servers, CNI plugins, and the like to discover the set of DRA managed re

[2022-11-09 11:26] klueska commented on #113783
/sig node

[2022-11-09 11:26] Seaiii commented on #113717
Okay, thank you very much

[2022-11-09 11:27] xmudrii opened #113784 "[Failing test] aks-engine-windows-containerd-1.23"
### Which jobs are failing?

[sig-release-1.23-informing](https://testgrid.k8s.io/sig-release-1.23-informing)

- [aks-engine-windows-containerd-1.23](https://testgrid.k8s.io/sig-release-1.23-informing#aks-engine-windows-containerd-1.23)

### Which tests are failing?

* Kubernetes e2e suite: [sig-api-machinery] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggreg

[2022-11-09 11:29] mkumatag commented on #113781
/sig node

[2022-11-09 11:31] mkumatag commented on #113781
could be a side effect of https://github.com/kubernetes/kubernetes/pull/112914

/cc @PiotrProkop @klueska

[2022-11-09 11:33] xmudrii commented on #113479
This issue is also affecting 1.25 tests: https://testgrid.k8s.io/sig-release-1.25-informing#capz-windows-containerd-1.25
If possible, we should cherry-pick #113597 to the release-1.25 branch once it's merged on master.

[2022-11-09 11:36] PiotrProkop commented on #113781
@Rajalakshmi-Girish can you run `numactl -H` on the node where the kubelet fails to start? And can you provide the Operating System of the node?

[2022-11-09 11:38] novneet03 commented on #34137
/reopen

[2022-11-09 11:41] mkumatag commented on #113781
[code]

[2022-11-09 11:41] klueska opened #113785 "dynamic resource allocation: ensure PrepareResources called before CNI invoked"
### What would you like to be added?

Ensure that `PrepareResources()` is called against all DRA `kubelet` plugins for all containers before CNI is invoked.

This can be done by either moving this call earlier in the process of doing pod creation, or moving it into the `PodAdmission` loop (as is done by the existing device plugin framework).

Ideally, we would follow the pattern used by the existi

[2022-11-09 11:42] klueska commented on #113785
/sig node

[2022-11-09 11:49] PiotrProkop commented on #113781
@mkumatag can you also run:
[code]

[2022-11-09 11:50] Seaiii commented on #113712
I looked at your code and found that the Select in the code is still blocked. It seems that this problem cannot be solved

[2022-11-09 11:59] mkumatag commented on #113781
both got similar config I believe, @Rajalakshmi-Girish can you please get the requested information from the other node?

[2022-11-09 12:13] Rajalakshmi-Girish commented on #113781
[code]

[2022-11-09 12:15] enj commented on #112513
Having any output simply means that you are running aggregated API servers.  Determining if they are malicious is up to you.

[2022-11-09 12:15] PiotrProkop commented on #113781
@Rajalakshmi-Girish and @mkumatag thanks for the info I know what is the issue, here is FIX PR https://github.com/kubernetes/kubernetes/pull/113788

[2022-11-09 12:41] Karthik-K-N commented on #113715
I could see machine details being read [here](https://github.com/Karthik-K-N/kubernetes/blob/98742f9d77a57aec44cc05b1daf721973fb029be/pkg/kubelet/kubelet.go#L576).

Since its cloud specific can we extend [cloud interface](https://github.com/Karthik-K-N/cloud-provider-powervs/blob/b837d22cbf582ed97b78ff6fe63cd601977863ef/vendor/k8s.io/cloud-provider/cloud.go#L42-L69) to have methods to gather cpu a

[2022-11-09 12:42] Karthik-K-N commented on #113715
@mkumatag @SergeyKanzhelev  would like to know your opinion here.

[2022-11-09 12:48] mkumatag commented on #113715
What if the resources got changed via some other mean and doesn't support the cloud-provider.

[2022-11-09 13:14] Karthik-K-N commented on #113715
Yeah possible .

[2022-11-09 13:18] neolit123 commented on #113627
for cmd/kubeadm in kubernetes/kubernetes we decided to not drop usage of pkg/errors even if it's a deprecated project.

prior ticket and comments are here
https://github.com/kubernetes/kubernetes/issues/103043#issue-926076534

[2022-11-09 13:19] neolit123 commented on #113627
for cmd/kubeadm in kubernetes/kubernetes we decided to not drop usage of pkg/errors even if it's a deprecated project.

prior ticket and comments are here
https://github.com/kubernetes/kubernetes/issues/103043#issue-926076534

[2022-11-09 13:45] mimowo commented on #111612
The subject returned in a recent discussion under PR: https://github.com/kubernetes/kubernetes/pull/113360#discussion_r1016982689
Closing for now because:
- we have integration tests to check the patches are applied
- this is unit test and asserting on the patch content would go beyond the logic of Taint Manager
- there was not interest in doing this withing the community for a while

[2022-11-09 13:45] #111612 closed

[2022-11-09 13:59] xmudrii commented on #113762
/assign
/sig release
/area release-eng

[2022-11-09 14:11] aojea commented on #113651
Awesome, great job David , it was a tricky one

[2022-11-09 14:31] Michael-Sinz commented on #93474
/remove-lifecycle stale

[2022-11-09 14:32] liggitt commented on #113781
since this is a bug introduced in 1.26

/kind regression
/label release-blocker

[2022-11-09 14:32] liggitt commented on #113781
/milestone v1.26

[2022-11-09 14:44] dims commented on #113782
cc @jsturtevant @CecileRobertMichon @marosset

[2022-11-09 15:07] alculquicondor commented on #113627
I see. Added a note.

[2022-11-09 15:55] vinay50muddu commented on #113250
There is a rule to drop. So the packet is UNREPLIED and registered in conntrack. I didn't understand your comment " It should not direct traffic to a Node without endpoints :/". There is a new endpoint now on this node but just that the rules are not configured.
We are using old version of metallb controller and ECFE k8s agent that uses BIRD speaker for BGP.
BIRD version: v2.0.6
metallb controller

[2022-11-09 15:59] pohly opened #113791 "apiserver tracing: port forwarding broke"
### What happened?

This is a regression caused by https://github.com/kubernetes/kubernetes/pull/113693. It worked with master a14601a77fa (last merge commit before that PR) and is broken in b2c72feca83.

Disabling the APIServerTracing feature gate works avoids the problem.

The problem is that port forwarding in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/drivers/proxy/p

[2022-11-09 16:01] liggitt commented on #113791
/kind regression
/milestone v1.26

[2022-11-09 16:01] liggitt commented on #113791
/assign @dashpole

[2022-11-09 16:02] aojea commented on #113250
I got it wrong , sorry, I understand now the scenario

[2022-11-09 16:02] liggitt commented on #113791
since the error is context timeout related, it's also possible https://github.com/kubernetes/kubernetes/pull/113591 is related, or intersects with the tracing enablement (though the context change merged earlier, not in the noted range)

[2022-11-09 16:04] dashpole commented on #113791
I had that thought as well.  But the fact that disabling the APIServerTracing feature gate fixes the problem also points in the direction of it being related to enabling APIServerTracing

[2022-11-09 16:04] dashpole commented on #113791
/sig instrumentation
/triage accepted

[2022-11-09 16:05] aojea commented on #113250
with ` externalTrafficPolicy=local`the kube-proxy exposes a healthcheck to indicate if there are endpoints ready (as seen by the proxy) on that node, is this metallb implementation checking this endpoint healthcheck before sending traffic to that node?

[2022-11-09 16:30] #113677 closed

[2022-11-09 16:37] xmudrii commented on #113762
The job will remain red because `ci-kubernetes-build-1.25` requires something to get merged on the release-1.25 branch for the new version maker to get generated. I'll reopen this issue until we don't get the first green run.
/reopen

[2022-11-09 16:37] KnVerey commented on #110905
/triage accepted
The deprecation warning on the current behaviour made it into 1.26 yesterday, so we'll be able to change it in 1.28 or later.

[2022-11-09 16:43] atiratree commented on #113365
This was discussed in sig-cli, and the outcome was that this should be adopted by community first as a kubectl krew plugin.

Luckily, it seems there is such a plugin called [evict-pod](https://krew.sigs.k8s.io/plugins/), which has some recognition already: https://github.com/rajatjindal/kubectl-evict-pod.

The repo seems active, but it is missing some features for parametrizing the eviction (most

[2022-11-09 16:58] marosset commented on #113782
/assign
We need to get a new edtc image into the WIndows container registry used by the pre-1.25 Windows jobs.

[2022-11-09 17:56] SergeyKanzhelev commented on #113152
/sig network

[2022-11-09 18:06] SergeyKanzhelev commented on #113767
/assign @haircommander

[2022-11-09 18:09] SergeyKanzhelev commented on #113781
/assign @fromanirh

to take a look

[2022-11-09 18:12] SergeyKanzhelev commented on #113243
/cc @endocrimes

[2022-11-09 18:12] jpbetz commented on #113761
/assign

[2022-11-09 18:12] SergeyKanzhelev commented on #113243
/kind bug
/triage accepted

[2022-11-09 18:15] dashpole commented on #113791
I was able to reproduce it.  Narrowed it down to the trace filter in staging/src/k8s.io/apiserver/pkg/endpoints/filters/traces.go

[2022-11-09 18:18] fromanirh commented on #113783
/triage accepted
I agree adding support for DRA makes sense for podresources API

[2022-11-09 18:22] SergeyKanzhelev commented on #113152
/remove-sig node

[2022-11-09 18:25] SergeyKanzhelev commented on #112918
/close

if this is from cri-dockerd, please file issue with https://github.com/Mirantis/cri-dockerd to make sure it's k8s bug and not the runtime

[2022-11-09 18:25] #112918 closed

[2022-11-09 18:29] SergeyKanzhelev commented on #113322
@exander77 is there a way it can be reproduced? Is the only problem that the log message is incorrect or there any other side effects?

/triage needs-information

[2022-11-09 18:31] SergeyKanzhelev commented on #113537
/cc @fromanirh

let's check if this is expected

/triage needs-information

this policy is not GA yet so even if this is a bug, it is not a release blocking issue.

[2022-11-09 18:33] SergeyKanzhelev commented on #113563
/triage accepted
/priority important-longterm

doesn't look like a regression

/cc @xmcqueen

[2022-11-09 18:36] SergeyKanzhelev commented on #113621
cc: @adrianreber

https://github.com/containerd/containerd/pull/6965

as long as it doesn't crash kubelet it is expected for the feature in alpha.

/remove-kind bug
/kind feature

[2022-11-09 18:37] SergeyKanzhelev commented on #113621
You may want to try k8s with CRI-O if you want to try this feature today

[2022-11-09 18:37] SergeyKanzhelev commented on #113646
/assign @SergeyKanzhelev

looks like a documentation update is needed for this and possibly find a feature request that was previously filed

[2022-11-09 18:39] SergeyKanzhelev commented on #113712
/assign @rphillips
/triage accepted
/priority important-longterm

doesn't look like a regression

[2022-11-09 18:41] SergeyKanzhelev commented on #113717
on what version? 1.22 is almost out of support and earlier versions are out of support

[2022-11-09 18:41] SergeyKanzhelev commented on #113717
/triage needs-information

[2022-11-09 18:43] SergeyKanzhelev commented on #113746
it doesn't look like a regression.

/priority important-longterm
/triage accepted

[2022-11-09 18:50] SergeyKanzhelev commented on #113204
/triage needs-information
/priority important-soon

just from triage perspective, can you please check that kubelet has started on all three nodes? If it hasn't, pod will indeed be in Unknown state. In this case the root cause of kubelet not being able to start needs to be investigated first.

/cc @xmcqueen

[2022-11-09 18:53] SergeyKanzhelev commented on #113242
@xuzhenglun does it repro on the fresh version of k8s? 1.20 is out of support now.

/triage needs-information
/sig storage

also is there any eviction policy set up for a disk being full? I wonder what else was happening on the node when this pod became unhealthy this way

[2022-11-09 18:55] SergeyKanzhelev commented on #113289
/assign @rphillips

sounds pretty close to other bug we looked at earlier when clean up was failing causing many pod GC loops keep running. @rphillips to take a look if it's the same issue

[2022-11-09 18:55] SergeyKanzhelev commented on #113289
/triage accepted

[2022-11-09 18:56] SergeyKanzhelev commented on #113278
/remove-kind bug
/kind feature

@bobbypage do we have this documented? Cannot find it with the quick google search

[2022-11-09 19:12] #113479 closed

[2022-11-09 19:14] marosset commented on #113784
I mirrored `registry.k8s.io/etcd:3.5.5-0` to `k8sprow.azurecr.io/kubernetes-e2e-test-images/etcd:3.5.5-0` which is used used by Windows e2e test clusters for K8s v1.24 and below.
That should address this issue.
/close

[2022-11-09 19:14] #113784 closed

[2022-11-09 19:16] adrianreber commented on #113621
Yes, as far as I know it only works with cri-o. I am not aware of any other container engine supporting checkpointing.

[2022-11-09 19:17] SergeyKanzhelev commented on #113278
I found documentation on how to delete these pods on GKE docs: https://cloud.google.com/kubernetes-engine/docs/how-to/preemptible-vms#graceful-shutdown May be worth it to copy to the kubernetes.io.

this is questionable. Sometimes this information may be needed. I agree with the sentiment though

[2022-11-09 19:21] SergeyKanzhelev commented on #113243
/assign @endocrimes

[2022-11-09 19:25] BenTheElder commented on #113621
/kind support

[2022-11-09 20:02] haircommander commented on #113767
also cc @harche @saschagrunert

[2022-11-09 20:09] haircommander commented on #113767
It looks like it flipped between https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/1589697550665912320 and https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-crio-cgroupv1-node-e2e-conformance/1589712650495856640

changes between: https://github.com/kubernetes/kubernetes/compare/f8750e2fa...0f3ac85d3?

Nothing notable afaict

[2022-11-09 20:22] #113781 closed

[2022-11-09 20:25] aojea commented on #113791
@dashpole can you check if this failure reported by @alculquicondor https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/113794/pull-kubernetes-integration/1590410434526056448 can be related?

[2022-11-09 20:34] aojea commented on #113152
The test failure should be a mistake, because this job is not working ,it fails to create the cluster,

[code]

/edit Job image-validation-cos-e2e fails to create the cluster

/remove-sig network
/sig node

playing ping pong with Sergey 😄

[2022-11-09 20:34] dashpole commented on #113791
That doesn't look related.  From my testing thus far, it impacts requests with `exec` and `portforward`  subresources

[2022-11-09 20:35] aojea commented on #113152
/retitle Job image-validation-cos-e2e fails to create the cluster

[2022-11-09 20:36] aojea commented on #113152
maybe related https://github.com/kubernetes/kubernetes/issues/111876 ?

[2022-11-09 21:23] dashpole commented on #113791
There is something wrong with how the request body is wrapped in otelhttp.  This diff fixes it:

[code]

bodyWrapper is defined here:

https://github.com/kubernetes/kubernetes/blob/master/vendor/go.opentelemetry.io/contrib/instrumentation/net/http/otelhttp/wrap.go#L25-L48

[2022-11-09 21:24] dashpole commented on #113791
I'll keep digging

[2022-11-09 21:26] liggitt commented on #113791
what I find more concerning is that the promotion to beta apparently put tracing in the request path even when it wasn't configured... I thought modifying the request/filter path was only supposed to happen when the apiserver had --tracing-config-file set

[2022-11-09 21:41] jpbetz commented on #113761
I like this test. "Like standard WaitForCacheSync but more aggressive" is right!

Thanks for the high quality issue @howardjohn! Before I dive deeper, is this something you wanted to propose a fix for?

[2022-11-09 21:43] howardjohn commented on #113761
Well its a bit of a scope creep... I found this when investigating https://github.com/kubernetes/kubernetes/issues/113763; I was looking for prior art on "How to know an informer handler is synced" because I think its a hard problem that client-go should make easier. So that would be a good fix, but its a much broader scope. If we want to do a targeted fix there may be something more locally scope

[2022-11-09 21:46] jpbetz commented on #113763
/sig api-machinery

[2022-11-09 21:48] liggitt commented on #113761
wait... deltafifo HasSynced checks both that Replace() was called and Pop has run as many times as initial items passed to Replace()

[2022-11-09 22:13] kannon92 commented on #113211
@alculquicondor and I followed up offline.  I created a repo that goes through the common cases our batch users experience with the pending status.

I created a document to walk through these common use cases and to demonstrate what conditions, statuses and events these states give.

https://github.com/kannon92/PendingPodChecks/blob/main/README.md

[2022-11-09 22:28] jpbetz commented on #113761
@howardjohn  After reading through #113763, I feel like I'm sold on the idea that the broader issue should be fixed. Given the scope, would you be interested in discussing this at the next sig-apimachinery bi-weekly ([agenda and calendar](https://docs.google.com/document/d/1x9RNaaysyO0gXHIr1y50QFbiL1x8OWnk2v3XnrdkT5Y/edit))? Might be a good opportunity to bring attention to this and see if others

[2022-11-09 22:29] jpbetz commented on #113761
Oh nevermind, I see it is already on the agenda!

[2022-11-09 23:12] exander77 commented on #113322
Reproduce it? There is no expectation that it could behave otherwise. This is not bug per se. The error handling there is just not implemented at all. Any and all inconsistencies within cgroup leads to this error.

When container manager is started, it calls `Exists` on cgroup manager:

[code]

So the presence of `kubepods` is tested by `Exists`:
[code]
This function calls `Validate` that nicely c

[2022-11-09 23:15] ehashman commented on #100277
I'm not sure I understand what this means. If you are arguing that we should change the default as a bug fix, I explained why we can't do that -- it is a breaking change that would require entirely new user expectations for kubelet behaviour. We _can_ offer new, optional behaviour to allow users to explicitly opt-in to the change, implemented as a new feature, as I explained in https://github.com/

[2022-11-09 23:26] thockin commented on #100277
I don't think I see how it is a breaking change.  Can you helop me understand?

The worst that I see is that a pod which ACTUALLY changes from "ready" to "unready" WHILE the kubelet is restarting would be kept in an LB slightly longer.  It doesn't hold up for me.

1) This is a fairly tight race condition
2) Probes which set a failureThreshold > 1 (the default is 3, so "most of them") have an exten

[2022-11-09 23:41] msau42 opened #113798 "Add APIGroup ratcheting validation to PVC.DataSource"
### What happened?

Followup to https://github.com/kubernetes/kubernetes/pull/113186#discussion_r1017220974

### What did you expect to happen?

APIGroup validation in PVC.DataSource and DataSourceRef follows the same rules as api registration.

### How can we reproduce it (as minimally and precisely as possible)?

Create a PVC.Datasource with invalid APIGroup syntax

### Anything else we need to

[2022-11-09 23:41] msau42 commented on #113798
/sig storage
/triage accepted

[2022-11-09 23:42] thockin commented on #113731
Hi @ialidzhikov.

You're obviously correct that the hints mechanism is not as flexible as the older form - that's very much by design.  It turns out that a) almost everyone wants topology awareness; b) almost nobody wants to manually configure it; c)  total flexibility maskes it impossible to implement some of this on other control planes.  So we aimed for (and maybe did not quite hit) a model tha

[2022-11-09 23:42] marosset commented on #110261
@kiashok FYI

[2022-11-09 23:48] thockin commented on #113624
@aasyria Waiting for response regarding CNI.

You left most of the requersted details blank, so there's not much we can do without more information.

* Which CNI?
* Paste YAML of the NetworkPolicy resource(s)
* Ping may or may not be blocked (ICMP is not a policy-controlled protocol).  Try an actual socket connection.

[2022-11-09 23:49] thockin commented on #113482
@apelisse to advise if this can be fixed by adding hostPort to the keys

[2022-11-09 23:52] thockin commented on #113288
Maybe use readiness probes?

The short answer is that Ingress only knows about HTTP.  If you want reads to go to all, but writes to only go to a leader, you need a protocol aware proxy for MySQL.

[2022-11-09 23:54] thockin commented on #113079
ping for update?

[2022-11-09 23:54] #112929 closed

[2022-11-09 23:55] thockin commented on #112467
@quoc9x - any update?

[2022-11-09 23:56] thockin commented on #112442
is this still alive?

[2022-11-09 23:56] #111820 closed

[2022-11-10 00:08] marosset commented on #113782
I mirrored `registry.k8s.io/etcd:3.5.5-0` into `k8sprow.azurecr.io/kubernetes-e2e-test-images/etcd:3.5.5-0` and the jobs are now passing.

/close

[2022-11-10 00:08] #113782 closed

[2022-11-10 00:44] yellowstar1014 commented on #95193
did this problem get resolved?

[2022-11-10 01:09] Seaiii commented on #113717
I was on version 1.22 was changed. This feature is not supported from 1.22. 1.19 and 1.20 and 1.21 support this feature. I also looked at the code for version 1.23 and it is also not supported.

[2022-11-10 01:19] brianpursley commented on #113006
I too was assigned as a reviewer and also don't have enough context on debug to know for certain if this is the right approach or not.

However I do have a couple of thoughts:
1. If I'm debugging a pod, is there ever a case where I would NOT want to use the security context if one is set?  In the case of a single container, or when all containers have an identical security context, it seems like t

[2022-11-10 01:26] lualvare commented on #110261
@andyzhangx  thank you so very much for the information provided here, I want to know if this is already in the roadmap and see if there is any  ETA for this fix?

Thank you so much.

[2022-11-10 02:07] b0b0haha commented on #107045
/reopen

[2022-11-10 02:07] b0b0haha commented on #107045
/remove-lifecycle rotten

[2022-11-10 02:12] bobbypage opened #113801 "Test failure - Security Context when creating a pod in the host PID namespace ..."
### Which jobs are failing?

Failing in multiple jobs:

* https://testgrid.k8s.io/sig-node-containerd#node-e2e-features
* https://testgrid.k8s.io/sig-node-containerd#cgroup-systemd-containerd-node-e2e
* https://testgrid.k8s.io/sig-node-containerd#cos-cgroupv1-containerd-node-e2e

### Which tests are failing?

[code]

### Since when has it been failing?

First failing run - https://prow.k8s.io/view

[2022-11-10 02:12] bobbypage commented on #113801
/sig node

[2022-11-10 02:15] bobbypage commented on #113801
First failing run @ b2c72feca832e9
Last passing run @ a14601a77fa12c

Diff: https://github.com/kubernetes/kubernetes/compare/a14601a77fa12c...b2c72feca832e9

[2022-11-10 02:23] bobbypage commented on #113801
Possibly related to https://github.com/kubernetes/kubernetes/issues/113791

[2022-11-10 02:29] xuzhenglun commented on #113242
I found this issue in an internal fork of 1.20. But I just verify this issue can be reproduced in the latest 1.24 too.
[code]
This part of the source code seems never changed, so I suspect that this issue can be reproduced in the master branch as well.

no, I found this problem in `coredns` pod, which priority is system-critical. When the disk was full, coredns pod was not evicted. At the same tim

[2022-11-10 02:31] mkumatag commented on #112442
yes, and one of our n/w person is debugging it.

[2022-11-10 02:34] andyzhangx commented on #110261
@lualvare it mainly depends on when csi-proxy removal would be completed: https://github.com/kubernetes-csi/csi-proxy/issues/217, since we don't publish any new version of csi-proxy now, after that work is done, such kind of change is easier. There is no clear ETA yet.

[2022-11-10 03:45] apelisse commented on #113482
Thanks, we don't have the ability to do that just yet, but we can try to see how this would work.

[2022-11-10 03:46] vlakka1 opened #113804 "cluster role binding getting recreated after deletion or edit."
### What happened?

We have cluster role binding that is getting recreated after deleting it. Also tried editing it and removing one of the subjects. It is restored to the previous version.

[code]

### What did you expect to happen?

Update the cluster role binding by deleting the "clusterUser" user. The state is maintained.
  - kind: User
    apiGroup: rbac.authorization.k8s.io
    name: cluster

[2022-11-10 03:49] dashpole commented on #113791
Looks like a few more tests are broken.  I think a revert is the best course for now.

[2022-11-10 03:49] dashpole commented on #113791
https://github.com/kubernetes/kubernetes/pull/113803

[2022-11-10 04:05] vlakka1 commented on #113804
I'm thinking the addon label is recreating it. Any inputs on how the add on label can be removed?

[2022-11-10 04:09] liggitt commented on #113791
Thanks, once the issue is resolved in otel, it would be good to figure out what presubmit signal we were missing that could have caught the issue… sounded like some of the folks hitting this did so quite reliably

[2022-11-10 05:01] thockin commented on #113482
Do we know what bad things would happen if I just added a new field to the
key?

On Wed, Nov 9, 2022, 7:45 PM Antoine Pelisse ***@***.***>
wrote:

[2022-11-10 05:37] dashpole commented on #113791
I've opened the upstream fix for this, and verified that it fixes this reproduction case: https://github.com/open-telemetry/opentelemetry-go-contrib/pull/2983

[2022-11-10 05:37] dashpole commented on #113791
But I think it is still safer to leave it out of the release.

[2022-11-10 05:39] uablrek commented on #113006
About continers with different privileges, we sometimes do things that require more privileges in init-containers while the "real" containers have more constraints.

And a debug container often (always?) needs more privileges:

[2022-11-10 05:43] uablrek commented on #113006
The comment above about init-containers is probably applicable also for side-car containers, for instance injected by a service mesh. But I have very little experience about those.

[2022-11-10 05:45] brucelee138 commented on #112893
@lengrongfu Thanks for the help! "First add a pod warning prompt" you meant I should add some label here ? sorry, didnt understand.

[2022-11-10 05:55] #113429 closed

[2022-11-10 06:02] pacoxu commented on #103500
/remove-lifecycle stale

[2022-11-10 07:10] gaohuatao-1 commented on #113130
Thanks for your comment.
Using the default topology manager policy: none. In the above example, there is no pod with single NUMA node.

[2022-11-10 07:22] fromanirh commented on #113537
I will look on this issue ASAP. The state of `full-pcpus-only` is [beta](https://github.com/kubernetes/kubernetes/blob/v1.25.3/pkg/kubelet/cm/cpumanager/policy_options.go#L41) so understanding this issue is both important and non-release-blocking

[2022-11-10 07:36] #113791 closed

[2022-11-10 08:58] sanmai-NL opened #113808 "`kubectl cp` does not support resource/name format"
### What would you like to be added?

[code]

should work, but it doesn't because of the `pod/` resource type in the name.

### Why is this needed?

Feature parity, principle of least surprise, consistency, flexibility, suitability for scripting with `kubectl get pods -o name`. Other subcommands do support this syntax.

[2022-11-10 09:00] sanmai-NL commented on #113808
See also #72104.

[2022-11-10 09:10] bobbypage commented on #113801
Fixed now after https://github.com/kubernetes/kubernetes/pull/113803 is merged

[2022-11-10 09:10] #113801 closed

[2022-11-10 09:41] #110487 closed

[2022-11-10 09:52] jsafrane opened #113811 "CSI migration for Cinder volumes is missing"
### What happened?

https://github.com/kubernetes/kubernetes/pull/67782 removed OpenStack cloud provider + related volume plugin from Kubernetes 1.26, but it also removed CSI migration for OpenStack Cinder volumes. All volumes with `pv.spec.cinder` are now unusable.

When a PV should be dynamically provisioned, I get an event:

[code]

### What did you expect to happen?

In-tree Cinder volume shou

[2022-11-10 09:53] jsafrane commented on #113811
/sig storage
/milestone v1.26
/priority critical-urgent
/assign

[2022-11-10 09:58] aimuz opened #113813 "Deprecated github.com/gogo/protobuf"
### What happened?

Is it officially marked as deprecated and should we remove the dependency from the project?

https://twitter.com/awalterschulze/status/1584553056100057088

https://github.com/kubernetes/kubernetes/issues/96564

https://github.com/gogo/protobuf

### What did you expect to happen?

Need a replacement for gogo-protobuf

### How can we reproduce it (as minimally and precisely as po

[2022-11-10 10:00] aimuz commented on #96564
We should implement it now, it has been officially marked as deprecated

[2022-11-10 11:02] pacoxu commented on #112044
Here are some suggestions from sig-node weekly meeting:

BTW, we will work on the node-level limit of parallel image pulls. I will summarize it later.

[2022-11-10 11:13] swatisehgal commented on #113537
/cc

[2022-11-10 11:17] mohsensamiei commented on #113659
Your solution 2nd is working, I replaced mark with `FwMark` key in Wireguard config
Thanks

[2022-11-10 11:17] #113659 closed

[2022-11-10 11:47] lengrongfu commented on #113568
@brianpursley
Hi，has anyone handled the current issue? If not, I am willing to follow up.

[2022-11-10 12:06] brianpursley commented on #113568
@lengrongfu I don't think there is a clear path for how (or if) this should be done yet.

I suspect the change will need to occur in the container runtimes.  You're welcome to make a draft PR, but please realize it is subject to change it could even get scrapped altogether, so I don't want you to waste any effort on something that is not yet finalized.

[2022-11-10 12:11] lengrongfu commented on #113287
/assign

[2022-11-10 12:50] jgan129 commented on #113621
@adrianreber, @BenTheElder,
Thanks for your replies.

Here's what I did:
I installed minikube on another machine (Ubuntu 20.04) and used CRI-O as you suggested.
I started minikube with the following command:
`sudo minikube start --feature-gates=ContainerCheckpoint=true --install-addons=true  --container-runtime=cri-o --network-plugin=cni --vm-driver=none --apiserver-ips 127.0.0.1 --apiserver-name

[2022-11-10 13:34] vielmetti commented on #96564
A video regarding the deprecation, "How not to run an open source project", is at https://www.youtube.com/watch?v=HTIltI0NuNg . Walter Schulze presentation at GopherCon UK 2022.

[2022-11-10 13:35] lengrongfu commented on #113287
@lianghao208

Hi，has anyone handled the current issue? If not, I am willing to follow up.

[2022-11-10 13:47] lianghao208 commented on #113287
@lengrongfu Thanks for catching this up, I think this issue is still in discusion stage, it needs more feedback from other members or maintainers. And you can also bring up your idea on this issue.
If more people can get invloved in this issue, we can decide which way to approach, then you are very welcome to  implement it.

[2022-11-10 14:40] neolit123 commented on #113771
@pohly can you please label all issues that are "dynamic resource allocation*" with some SIG labels, so that they are not with "needs-sig". thanks!

[2022-11-10 15:03] liggitt opened #113821 "[Flake] TestLegacyServiceAccountTokenTracking flakes on number of warnings received"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

TestLegacyServiceAccountTokenTracking (in top 10 list of flakes - http://storage.googleapis.com/k8s-metrics/flakes-latest.json)

### Since when has it been flaking?

10/25

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=TestLegacyServiceAccountTokenTracking

### Testgrid link

_No response_

###

[2022-11-10 15:04] liggitt commented on #113036
still top of the integration flakes list - http://storage.googleapis.com/k8s-metrics/flakes-latest.json

[2022-11-10 15:12] wojtek-t commented on #109831
and watches

[2022-11-10 15:16] thockin commented on #113731
Can you please say why you think this should be maintained as an open
issue, despite the KEP issue which already governs the work?

I'd rather not have multiple parallel discussions.

On Thu, Nov 10, 2022, 1:33 AM Ismail Alidzhikov ***@***.***>
wrote:

[2022-11-10 15:28] liggitt commented on #104461
resolved this as best as we can with https://github.com/kubernetes-sigs/depstat/pull/65

[2022-11-10 15:28] #104461 closed

[2022-11-10 15:54] ialidzhikov commented on #113731
First, https://github.com/kubernetes/enhancements/pull/3293 is only about Node-level topology and the KEP currently does not have a goal to tackle the zone-level topology routing. Will https://github.com/kubernetes/enhancements/pull/3293 also tackle the zone-level topology routing?

Second, I don't see any consensus being made on https://github.com/kubernetes/enhancements/pull/3293 on which approa

[2022-11-10 16:29] liggitt commented on #113791
weirdly, there was a post-submit periodic job that turned super red because of this issue - https://testgrid.k8s.io/sig-node-containerd#containerd-e2e-ubuntu&width=20

it would be great to have had that signal before merge, not sure what is different in that job 😕

[2022-11-10 16:44] thockin commented on #113731
If we will tackle "prefer zone" at all, that KEP will be the place to discuss it, I think.

22 days ago covers the end of the code-freeze period, so everyone's attention was on code, rather than KEPs :)

Adding APIs is intentionally a slow, careful business.  This is not something that we have full understanding of, so we're trying to think it through

[2022-11-10 16:48] LAMRobinson commented on #113731
Should I close https://github.com/kubernetes/enhancements/pull/3642 in favour of https://github.com/kubernetes/enhancements/pull/3293 then and inflate the two? I asked in my PR earlier, happy to do so as long as folks are okay conflating the requests.

[2022-11-10 17:17] thockin commented on #111695
ping to @danwinship

[2022-11-10 17:36] tallclair commented on #113756
Fix PRs:

- master: https://github.com/kubernetes/kubernetes/pull/113696
- v1.25: https://github.com/kubernetes/kubernetes/pull/113684
- v1.24: https://github.com/kubernetes/kubernetes/pull/113685
- v1.23: https://github.com/kubernetes/kubernetes/pull/113686
- v1.22: https://github.com/kubernetes/kubernetes/pull/113687

[2022-11-10 17:38] tallclair commented on #113757
Fix PRs:

- master: https://github.com/kubernetes/kubernetes/pull/113681
- v1.25: https://github.com/kubernetes/kubernetes/pull/113689/
- v1.24: https://github.com/kubernetes/kubernetes/pull/113690
- v1.23: https://github.com/kubernetes/kubernetes/pull/113691
- v1.22: https://github.com/kubernetes/kubernetes/pull/113692

[2022-11-10 17:39] #113757 closed

[2022-11-10 17:39] #113756 closed

[2022-11-10 18:59] pohly opened #113828 "PVC protection cannot handle terminated pods that are not deleted"
### What would you like to be added?

This came out of the discussion around https://github.com/kubernetes/kubernetes/pull/111023 which uses a concept similar to generic ephemeral volumes: since 1.22, pods are guaranteed to reach a terminal phase (failed or succeeded):https://kubernetes.slack.com/archives/C0BP8PW9G/p1668020443712729?thread_ts=1668010870.986709&cid=C0BP8PW9G

@bobbypage

This means

[2022-11-10 19:14] msau42 commented on #113828
What is the proposed change?

Pods that are terminal may not have necessary completed volume teardown. So the PVC protection controller is waiting on signals that can indicate volume teardown has completed.

[2022-11-10 19:56] dims commented on #113813
/area code-organization

[2022-11-10 19:58] lavalamp commented on #111790
I believe the expectation is that one uses shared informers if possible? Multiple informers for the same object type is very inefficient.

(although improving the error messages sounds great anyway!)

[2022-11-10 20:01] NissesSenap commented on #113756
Do I understand it correctly that it's only get/list that can be done?
No create, update, delete operation is possible with the CVE?

[2022-11-10 20:02] jpbetz opened #113830 "Include enum details in descriptions of api/openapi-spec/v3/ json files"
### What would you like to be added?

In `api/openapi-spec/v3/*.json` fields, the openapiv3 `description` of enum fields should contain the documentation of all the enum values. This provides language client users with convenient access to all the API documentation available for all enum values.

*Background:*

In discovery, OpenAPIv3 enum fields include both a openapiv3 `enum` field enumerating t

[2022-11-10 20:18] jpbetz commented on #113830
/sig api-machinery
/triage accepted
/assign

[2022-11-10 20:24] klueska opened #113831 "dynamic resource allocation: move common logic of highestSupportedVersion to util package"
See comment for details:
https://github.com/cncf-tags/container-device-interface/pull/93

[2022-11-10 20:24] klueska opened #113832 "dynamic resource allocation: reuse gRPC connection to the node plugin"
See comment for details:
https://github.com/kubernetes/kubernetes/pull/111023#discussion_r1018555622

[2022-11-10 20:25] klueska commented on #113831
/sig node

[2022-11-10 20:25] klueska commented on #113832
/sig node

[2022-11-10 20:36] alculquicondor commented on #113828
/sig storage

My suggestion is two-staged:
- replace `podIsShutDown` with `podutil.IsPodTerminal`
- enhance `podutil.IsPodTerminal` to include `pod.DeletionTimestamp != nil && pod.spec.nodeName == ""`, to account for the cases where the pod was never started.

[2022-11-10 20:37] alculquicondor commented on #113828
I see, this implies that the pod actually has to be deleted.

However, this means that the check doesn't work for Jobs or plain Pods where there is no controller that would trigger the deletion.

[2022-11-10 20:42] #110501 closed

[2022-11-10 20:50] paralin commented on #96564
The best solution I've found is using VTProtobuf to code-gen fast marshal, unmarshal, equal, clone functions on top of protobuf v2:

https://github.com/planetscale/vtprotobuf

It works quite well!

[2022-11-10 21:04] SergeyKanzhelev commented on #113715
when this was last discussed, not only kubelet restart is needed, but often a full re-registration of a node with the API server. I cannot find discussion notes written with the quick search. Some docs are here: https://kubernetes.io/docs/concepts/architecture/nodes/#node-name-uniqueness

The main reason is that node characteristics may be cached in numerous controllers and the biggest issue will

[2022-11-10 21:04] #113715 closed

[2022-11-10 21:09] msau42 commented on #113828
Yeah I think to solve those use cases we need to think about other signals (or adding a new signal) we could use to indicate the volume has torn down.

@kubernetes/sig-storage-bugs

[2022-11-10 21:11] msau42 commented on #113828
/retitle PVC protection cannot handle terminated pods that are not deleted

[2022-11-10 21:12] msau42 commented on #113828
/triage accepted

[2022-11-10 21:41] atiratree opened #113833 "Stateful set status not correctly updated when API error occurs"
### What happened?

It was found during a review that stateful set status might not be correctly updated when new revision is being rolled out and API error occurs when deleting a pod.

https://github.com/kubernetes/kubernetes/pull/112737#issuecomment-1258893736

### What did you expect to happen?

The status should be updated correctly

### How can we reproduce it (as minimally and precisely as p

[2022-11-10 21:48] atiratree commented on #113833
/sig apps

[2022-11-10 21:49] zshihang commented on #113821
/triage accepted

[2022-11-10 21:57] pohly opened #113836 "dynamic resource allocation: better update callbacks in unit tests"
### What would you like to be added?

[dynamicresources_test.go](https://github.com/kubernetes/kubernetes/pull/111023/files/7406633de15b2c67d2299d5644bb11ccea4fbf4d#diff-4f9074598aac6feeb62209e781ee5ddfeb0ecd7ca821576b5ab75fb28c1c7e20) uses generic function callbacks which then have to typecast. It would be nicer if that manual casting wasn't necessary.

### Why is this needed?

Less code...

[2022-11-10 22:56] h-vetinari commented on #104325
/remove-lifecycle stale

[2022-11-10 23:19] apelisse commented on #113482
There are many different cases and none of them seems particularly palatable. SSA Could fail, other types of updates could erase the managed fields, or conflicts/ownership is going to be all messed-up. We have plenty of time before the next release to make sure we do it right, did you want to back-port this into a previous release?

[2022-11-10 23:24] thockin commented on #113482
No, no.  I'm not in a hurry - no shortcuts needed.  I filed this bug so we
would not forget about it and so that if we had a clear way to explore it,
someone could undertake the effort if they wanted.

On Thu, Nov 10, 2022 at 3:19 PM Antoine Pelisse ***@***.***>
wrote:

[2022-11-10 23:40] zx8 commented on #90329
/remove-lifecycle stale

[2022-11-11 01:10] joebowbeer commented on #25829
@xenoterracide are you advocating for support of the HEALTHCHECK Dockerfile instruction that was added for Swarm - which has been disabled in Kubernetes for years? #50703

[2022-11-11 01:40] lengrongfu commented on #113287
@lianghao208 The current Pod creation is batched, and there will not be many simultaneous creations; each batch will not exceed 250 at most.

https://github.com/kubernetes/kubernetes/blob/520e2c84b36a6538e319001ce2caea605f984db1/pkg/controller/daemon/daemon_controller.go#L965

[2022-11-11 02:00] lengrongfu commented on #113568
In the short term, when Client-go's PortForwarder returns err, we can call `CRI.RuntimeService.PodSandboxStatus` to check if `Pod.state` is equal to the `SANDBOX_READY` state to decide if we need to retry.
In the long run, the container runtime can return different error codes for better handling.
IMO.

[2022-11-11 02:09] pacoxu commented on #113808
/sig cli
/transfer kubectl

[2022-11-11 02:25] pacoxu commented on #113804
It sounds AKS-related. Maybe https://github.com/Azure/AKS/issues is the right place.

[2022-11-11 02:26] pacoxu commented on #113804
/kind support

[2022-11-11 02:28] vinaykul commented on #109547
/remove-lifecycle stale

[2022-11-11 02:34] vinaykul opened #113838 "[FG:InPlacePodVerticalScaling] Tracking issue for TODO - future removal of pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2 job"
### What would you like to be added?

We added a new pull job pull-kubernetes-e2e-inplace-pod-resize-containerd-main-v2 to complement pull-kubernetes-e2e-gce-alpha-features job. This job provides test coverage by running full-spectrum in-place pod resize e2e test with containerd/main which brings CRI support needed for in-place pod resize feature.

Once COS updates to a version of containerd >= 1.

[2022-11-11 02:34] vinaykul commented on #113838
/assign vinaykul

[2022-11-11 02:36] #113821 closed

[2022-11-11 02:55] matthewygf commented on #108903
@sanposhiho Thanks for pinging me ! Sure I will get myself to work on it. I have been busy and forgotten about this, nevertheless still an important feature for me and the community I think.

/assign

[2022-11-11 03:32] knight42 commented on #113770
I am afraid this cannot be done by only one Deployment. Perhaps you could try create two Deployments and specify the nodeSelector in both of them.

[2022-11-11 04:44] aramase commented on #113704
/triage accepted

[2022-11-11 05:40] princepereira opened #113841 "[Winkernel Proxier] No ingress load balancer rules with endpoints to support load balancing when all the endpoints are terminating"
### What happened?

HNS requires the Load Balancing Policy to be configured to identify the traffic destined to a cloud providers Load Balancer IP (VIP) and forward it to the distributed Load Balancer running in VFP on the node. Windows Kube-proxy ignores the terminating endpoints and strictly creates a HNS Load Balancer policy only for "Ready" pods that are not terminating. This creates a problem

[2022-11-11 05:47] princepereira commented on #113841
/sig windows
/sig network

[2022-11-11 05:59] princepereira opened #113842 "[Winkernel Proxier] Unexpected active TCP connection drops while horizontally scaling the endpoints for a LoadBalancer Service with External Traffic Policy: Local"
### What happened?

On a service of type LoadBalancer with External Traffic Policy: Local, whenever pod restarts other pods within the same Service stop responding to active connections from the Clients.

1. N clients are connected to M pods somewhat evenly, there are N established TCP connections.
2. One particular pod P is manually restarted/deleted.
3. Multiple(N/M) clients which are currently

[2022-11-11 06:41] Huang-Wei commented on #113705
/help

TODO: document that it's incorrect to enable VolumeCapacityPriority plugin without regard of its feature gate.

[2022-11-11 07:11] uablrek opened #113844 "daemonset.status.desiredNumberScheduled=0 for some time in v1.26.0-beta.0"
### What happened?

I test that daemonset.status.desiredNumberScheduled==daemonset.status.numberReady as part of my test-env start sequence. But in `v1.26.0-beta.0` (and master) daemonset.status.desiredNumberScheduled==0 for a fairly long time.

### What did you expect to happen?

I expect daemonset.status.desiredNumberScheduled to equals the number of nodes where the daemonset can be scheduled ri

[2022-11-11 07:26] uablrek commented on #113844
It seems to be even worse. daemonset.status.desiredNumberScheduled can be set to any number <nodes on it's way to the correct value.

[2022-11-11 07:31] uablrek commented on #113844
For the record, I wait until all K8s nodes are "ready" _before_ performing this test.

[2022-11-11 07:36] uablrek commented on #113844
/sig scheduling

[2022-11-11 07:44] pacoxu commented on #113770
/sig scheduling

[2022-11-11 07:56] pacoxu commented on #113770
So what is your motivation?

- Do you want pods to be scheduled in different nodes to cross failure domains? If so, topology spread constraints may help.
- Or you want to set a big map(more than 2 nodes and custom replica number in each node): 2 in nodeA; 3 in nodeB; 1 in nodeC... (This is not supported as https://github.com/kubernetes/kubernetes/issues/113770#issuecomment-1311187743. this should

[2022-11-11 08:10] Chaunceyctx opened #113845 "remove duplicate slash in test/e2e/network/proxy.go from release-1.21"
### Which jobs are failing?

e2e conformance

### Which tests are failing?

same with https://github.com/kubernetes/kubernetes/issues/112760
This problem has existed since version 1.21.

### Since when has it been failing?

1.21

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Relevant SIG(s)

/sig networ

[2022-11-11 08:10] Chaunceyctx commented on #113845
/assign

[2022-11-11 08:11] Chaunceyctx commented on #113845
maybe we should cherry-pick from https://github.com/kubernetes/kubernetes/pull/112763 to release-1.21/22/23/24?

[2022-11-11 08:12] Chaunceyctx commented on #113845
/cc [aojea](https://github.com/aojea)

[2022-11-11 08:12] Chaunceyctx commented on #113845
/cc @aojea

[2022-11-11 08:17] Chaunceyctx commented on #113845
@aojea

[2022-11-11 08:36] aojea commented on #113845
Latest supported release is 1.23 https://kubernetes.io/releases/

Not supported releases doesn't receive patches

[2022-11-11 08:45] andrewnazarov opened #113846 "Namespace selector for topologySpreadConstraints"
### What would you like to be added?

By design `topologySpreadConstrains` works within the namespace. It would be great to have the possibility to consider pods from different namespaces. For this, a namespace selector as it was implemented for Affinity/Anti-affinity seems to be a good fit.

### Why is this needed?

Our use case is a desired uniform distribution of pods which reside in different

[2022-11-11 08:47] andrewnazarov commented on #113846
/sig Scheduling

[2022-11-11 08:55] weilaaa opened #113847 "Invalid ResourceVersion can be set before creating"
### What happened?

1. Set up invalid ResourceVersion for object.
[code]

2. Create object with invalid ResourceVersion.
[code]

### What did you expect to happen?

Expect that ResourceVersion can not be set before creating even though invalid ResourceVersion.

### How can we reproduce it (as minimally and precisely as possible)?

See `What happened`.

### Anything else we need to know?

_No respo

[2022-11-11 08:56] weilaaa commented on #113847
/assign @weilaaa

[2022-11-11 09:02] weilaaa commented on #113847
We should reject ResourceVersion being incorrectly set, rather than ambiguously setting it to empty.

https://github.com/kubernetes/kubernetes/blob/d7bff1c80912b20bc969111ac52825b67909bbe8/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L175-L180

[2022-11-11 09:29] Chaunceyctx commented on #113845
This problem still exists in version 1.23、1.24. Should I create a pull request to fix this problem？

[2022-11-11 09:42] weilaaa commented on #113847
/sig sig/storage

[2022-11-11 10:16] aojea commented on #113845
I don't think this qualifies as backport, this only happens if you configure your `Host` with a trailing slash, we are doing now better sanitizing the input but users can configure the field correctly

[2022-11-11 10:18] aojea commented on #113842
is this for windows? can you tag it as /sig windows if affirmative?
Thanks

[2022-11-11 10:39] nward commented on #108560
Hi @evanskinner I had the same issue. I came across this issue when trying to debug it, so thought I'd come back here and let you know how I solved it, in case you are still impacted by this.

There was a similar issue, which had this comment which was the key for me:
https://github.com/kubernetes/kubernetes/issues/49906#issuecomment-319821416

I was able to solve this by setting `volumeBindingMod

[2022-11-11 10:47] evanskinner commented on #108560
Thanks for taking the time to post @nward I'm 99% sure that I already had `volumeBindingMode: WaitForFirstConsumer` set in the storageClass. The issue only happend once. Usually it schedules sensibly. It was only when etcd had a funny few mins that it got it wrong.

[2022-11-11 10:49] Ritikaa96 commented on #113813
There is
- [vprotobuf](https://github.com/planetscale/vtprotobuf) and
- [csproto](https://github.com/CrowdStrike/csproto)
- etcd is also in discussion of replacing gogo-protobuf, see this [issue](https://github.com/etcd-io/etcd/issues/14533), so the third option be [protobuf-go](https://github.com/protocolbuffers/protobuf-go)

[2022-11-11 10:58] Ritikaa96 commented on #113847
Hi @weilaaa , we apply label /sig storage

[2022-11-11 11:09] Ritikaa96 commented on #113847
/sig storage

[2022-11-11 11:12] atiratree commented on #113036
https://github.com/kubernetes/kubernetes/pull/113848 should fix it

[2022-11-11 11:26] Ritikaa96 commented on #113774
/sig scheduling
/sig testing

[2022-11-11 11:26] mehabhalodiya opened #113849 "[Failing test] gce-cos-master-serial"
### Which jobs are failing?

master-informing
- gce-cos-master-serial

### Which tests are failing?

- Kubernetes e2e suite: [It] [sig-storage] In-tree Volumes [Driver: local][LocalVolumeType: dir-bindmounted] [Testpattern: Pre-provisioned PV (default fs)] subPath should unmount if pod is force deleted while kubelet is down [Disruptive][Slow][LinuxOnly]
- Kubernetes e2e suite: [It] [sig-storage] C

[2022-11-11 11:56] aojea commented on #113849
@gnufied @jsafrane you may have some context here https://github.com/kubernetes/kubernetes/pull/113596

[2022-11-11 12:10] fromanirh commented on #113537
/triage accepted
yes, it seems we didn't have sufficient test coverage and something broke. At very least, I'll make sure we have more tests.

[2022-11-11 12:11] fromanirh commented on #113537
this (still WIP) should be the equivalent testcase to be added to the current suite of unit tests (and more to come)
[code]

[2022-11-11 12:19] jsafrane commented on #113849
/assign
I broke it!

[2022-11-11 12:21] aojea commented on #113849
that was fast, thanks XD

[2022-11-11 12:37] bart0sh opened #113851 "dynamic resource allocation: cleanup the fix for a race between UnprepareResources call and the pod status update"
The race between DRA UnprepareResource call and the pod status update was fixed by this PR: https://github.com/pohly/kubernetes/pull/46

The solution needs to be cleaned up and tested:
- new method should be added to the PodDeletionSafetyProvider interface and implemented by the Kubelet.
- kl.containerManager.PodMightNeedToUnprepareResources(pod.UID)  call should be removed from the PodCouldHaveRu

[2022-11-11 12:45] aojea opened #113852 "Panic on job controller"
Since the last days there is an unusual rate of flakiness on kind jobs, but couldn't find a pattern

![image](https://user-images.githubusercontent.com/6450081/201342503-14bccf80-0550-4d6a-8065-1ffa1d56e0eb.png)

https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel&width=20

https://storage.googleapis.com/k8s-triage/index.html?ci=0&pr=1

While looking at one test failure
https:

[2022-11-11 12:45] aojea commented on #113852
/release blocker
/priority important-soon
/kind bug
/cc @liggitt @alculquicondor

[2022-11-11 12:51] bart0sh commented on #113851
/sig node

[2022-11-11 12:57] bart0sh commented on #113851
/kind cleanup

[2022-11-11 13:20] Chaunceyctx commented on #113845
thanks. I will close this issue.

[2022-11-11 13:20] #113845 closed

[2022-11-11 13:27] liggitt commented on #113852
big +1, a restart or panic detector on control plane components would be excellent

[2022-11-11 13:28] liggitt commented on #113813
thanks for raising this, closing in favor of the existing issue with more discussion - https://github.com/kubernetes/kubernetes/issues/96564

/close

[2022-11-11 13:28] #113813 closed

[2022-11-11 13:32] alculquicondor commented on #113852
cc @mimowo

[2022-11-11 13:33] aojea commented on #113852
@MadhavJivrajani this sounds like a nice project ^^^ but is better to check first with @BenTheElder and @spiffxp , I see there are some scripts that parse and dump the logs here https://github.com/kubernetes/test-infra/blob/f89c3d9701ef9fb70caeadebab2865069651863e/logexporter/cluster/log-dump.sh#L871

maybe we can add some `grep panic` thing to report them somehow?

[2022-11-11 13:34] alculquicondor commented on #113852
/assign @mimowo

[2022-11-11 13:35] alculquicondor commented on #113852
oops, it's holiday in Poland
/unassign @mimowo
/assign

[2022-11-11 13:36] alculquicondor commented on #113852
/remove-sig scheduling

[2022-11-11 13:49] liggitt commented on #96564
Since it looks clear that a change here is needed, the next step would seem to be figuring out what our requirements are, and what the pros/cons/costs of possible solutions are

Off the top of my head, some requirements for the replacement:
* MUST be wire-compatible with our current protobuf serialization/deserialization
* MUST be able to coexist in the same binary with current versions of `github

[2022-11-11 14:09] liggitt commented on #96564
I assume this will end up as a KEP, I started a doc at https://docs.google.com/document/d/18YCIU8MSv2HzO9IEUiz1hgCtWCRzabUcpeKHOUiOlHs/edit?resourcekey=0-KhINfpm6jDUA7wAmzy1sYA to start gathering requirements, nice-to-haves (desirements?), possible solutions, and other notes / context people want to add

[2022-11-11 14:19] pohly opened #113854 "scheduler: distinguish between Unschedulable and UnschedulableAndUnresolvable from PostFilter"
### What would you like to be added?

Right now, both status codes are treated the same:
https://github.com/kubernetes/kubernetes/blob/cc704f97784c3359db4690b97201ebfe6b481869/pkg/scheduler/framework/runtime/framework.go#L769C26-L771

This could be changed so that Unschedulable only means "I couldn't do anything, but keep trying", which might make sense when there are two PostFilter plugins, like

[2022-11-11 14:42] alculquicondor commented on #113852
I can add the fix proposed by @liggitt, but the underlying problem is #113855.

I'll prepare a PR for each and see if we are ok merging both or just the hotfix.

[2022-11-11 14:51] liggitt commented on #113852
commented on https://github.com/kubernetes/kubernetes/issues/113855

we'll merge the panic fix right away in either case

[2022-11-11 15:13] alculquicondor commented on #113852
Fix and unit test is up #113856

[2022-11-11 15:31] aojea commented on #113845
yeah, thanks for following up anyway, keep it up

[2022-11-11 15:41] jgan129 commented on #113621
Thanks for the link!
This worked now, I can checkpoint containers after passing the --enable-criu-support=true and --drop-infra-ctr=false flags to cri-o config.

However I have not managed to restore the checkpointed container with any of the two ways proposed in the blog (outside/inside kubernetes).

[2022-11-11 15:45] adrianreber commented on #113621
Nice to hear that it works.

I would need to know the error message that you get during restore to help you.

I think this can be closed and you could open a crio ticket and discuss your error there.

[2022-11-11 16:10] aojea commented on #109521
[ingress-gce-e2e-scale](https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e-scale) fixed

[2022-11-11 16:10] aojea commented on #109521
https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e fixed

[2022-11-11 16:19] vinaykul opened #113857 "[FG:InPlacePodVerticalScaling] Handle systemd cgroup driver by using libcontainer for updating pod cgroup values"
### What would you like to be added?

In-place pod resize with cgroupv2 (where systemd cgroup driver is default) should use libcontainer functions to update pod cgroup settings. Please see this issue for details:
https://github.com/kubernetes/kubernetes/pull/102884#discussion_r1019704157

### Why is this needed?

Without this fix, reloading systemd daemons will cause the change to revert.

[2022-11-11 17:18] #113036 closed

[2022-11-11 17:56] Ramyak opened #113861 "Kubernetes upgrade - "api-resources" call fails"
### What happened?

During **upgrade**, when some kube-apiservers were in 1.21 and others were in 1.20, api-resources call fails (mostly on newly introduced api versions).

Example:
[code]

Regarding being an unsupported version, `staging/src/k8s.io/client-go/discovery/discovery_client.go` nothing related to this has changed since 1.20. So the problem still exists in 1.25.

### What did you expect

[2022-11-11 17:57] #74415 closed

[2022-11-11 18:23] thockin commented on #103151
This is a major use-case for me.  If we only auto-close issues which are "needs-triage" AND "needs-information", I'd be happy.

I like this too!  "needs triage" is a good signal, so far.

[2022-11-11 18:31] tallclair commented on #113756
@NissesSenap correct, as far as we can tell, the exploit is read-only. However, I think it only works for list & watch requests, not get.

[2022-11-11 19:00] #113811 closed

[2022-11-11 20:00] smarterclayton commented on #100277
I’m reading through this and seeing “restart isn’t guaranteed to create observable behavior either good or bad, so anyone depending on the ‘bad’ observable behavior to be consistent is broken already, so we can safely switch to the ‘good’ observable behavior”?

I kind of agree with Tim’s read as well - when we can safely resolve races in a way that has bounded undesirable delay (in this case, LBs

[2022-11-11 21:06] pohly opened #113866 "dynamic resource allocation: use node authorizer to lock down access by kubelet"
### What would you like to be added?

kubelet should only be able to read ResourceClaims that are needed by a pod that has been scheduled onto the node.

The node authorizer can do that, similar to how volumes are limited.

### Why is this needed?

Better security if a node gets compromised.

[2022-11-11 21:09] pohly opened #113867 "dynamic resource allocation: add timeouts for communiction with plugin"
### What would you like to be added?

From https://github.com/kubernetes/kubernetes/pull/111023#discussion_r1020555407

### Why is this needed?

Prevent a plugin from blocking kubelet.

[2022-11-11 21:41] liggitt commented on #113847
it's likely we can't change this at this point for compatibility reasons... if someone can fetch an object, modify the name, and submits it in a create request successfully, we should not start failing that

[2022-11-11 21:42] liggitt commented on #113844
/sig apps
/milestone v1.26

[2022-11-11 21:44] liggitt commented on #113844
do you have controller manager logs or scheduler logs during that period of time you can provide? do you have a version of your daemonset manifest you could provide?

cc @soltysh @alculquicondor in case you know of changes to daemonset / scheduling in 1.26 that could be related

[2022-11-11 21:45] liggitt commented on #113804
There seems to be an automated process recreating the binding, but that is not a binding created by anything in the OSS portion of the project. I'd suggest reaching out to your cluster operator to ask about the binding.

/close

[2022-11-11 21:45] #113804 closed

[2022-11-11 21:47] liggitt commented on #113722
a couple downsides of generated names:
* the kubelet doesn't know what claim object it should `get`
* the node authorizer doesn't have a deterministic way to know what resource claims to allow a kubelet to get based solely on the info in the pod (related to https://github.com/kubernetes/kubernetes/issues/113866)

[2022-11-11 22:21] pohly commented on #113722
Right now, a hyphen is allowed in the claim name that is concatenated with the pod name to produce a claim name. If we stick with the current approach and don't generate names, then we should tighten validation and not allow that. This is probably still possible, because alpha, but may need some extra care like accepting it in existing objects? TBD.

[2022-11-11 22:22] liggitt commented on #113722
while in alpha, just tightening with a release note is fair game, in my opinion.

[2022-11-11 22:23] alculquicondor commented on #113844
/remove-sig scheduling
The scheduler is not involved in this calculation.

Maybe related to #112127, but it was reverted in #113733. I'm not sure if that's included in beta.0

I wasn't directly involved in the changes.

[2022-11-11 22:24] alculquicondor commented on #113844
@gjkim42 could you investigate?

[2022-11-11 22:58] #105662 closed

[2022-11-11 23:30] gjkim42 commented on #113844
Both #112717 and #113733 are included in beta.0.
I think it should be something else.

[2022-11-11 23:44] liggitt commented on #113844
Are your nodes being marked as schedulable more slowly in 1.26? Would that explain the delay/intermediate values seen in the status for this field?

[2022-11-11 23:45] ycjiang50 commented on #113774
/assign I'd like to give it a try.

[2022-11-12 00:08] gjkim42 commented on #113844
[code]

made a simple test with creating a daemonset but the interval is at least less than 1s.

I think you may check taint - tolerations.

[2022-11-12 03:37] HeYuqiu commented on #113756
Does this CVE exist in version 1.20.x ?

[2022-11-12 03:44] HeYuqiu commented on #113757
Does this CVE exist in version 1.20?

[2022-11-12 04:03] jadsy2107 opened #113869 "Small but sensible improvement to kubectl logs (with --all-containers)"
### What would you like to be added?

**Context:**

`kubectl logs awx-95b9b6dc7-rhx5w -n awx awx-web
`

You get a chronological ordered log from the container awx-web

**Problem:**

When running kubectl logs with --all-containers

Log isn't in chronological order

**Example:**

`kubectl logs awx-95b9b6dc7-rhx5w -n awx --all-containers
`

In fact repeating this command may re-shuffle the order comp

[2022-11-12 05:30] ycjiang50 commented on #113774
/assign @ycjiang50

[2022-11-12 05:39] uablrek commented on #113844
<details><summary>mserver-daemonset.yaml</summary>

[code]

</details>

[2022-11-12 05:47] uablrek commented on #113844
I am unsure. Before applying the daemonset manifest I check that all nodes are "Ready".
[code]
But as you can see, this is _very early_ during cluster start-up. That may be a reason that I see this and it may be nothing that will bother others. As said, I have a work-around already so I am good.

[2022-11-12 05:57] uablrek commented on #113844
FYI, I start K8s from scripts in VMs (kvm) based on BusyBox. This is different from the normal setup and my startup timing may affect this problem.

Feel free to close this issue if you think it affects only very few users (me).

Anyway, _it is a changed behavior_ and it may be interresting to know why it happens. I can make a git-bisect and pinpoint the commit, but it will be much faster if I can

[2022-11-12 06:07] uablrek commented on #113844
For me the time is ~5s. Here is an example from my test log. Time between printouts is 1s:
[code]

[2022-11-12 09:10] b0b0haha commented on #63965
Why other mounter implementation simply set the SupportSELinux as the default value?
![image](https://user-images.githubusercontent.com/28356082/201467259-5429505c-017e-4c54-9ca6-dd9d51d4606b.png)

[2022-11-12 11:29] uablrek commented on #113844
I seems to be caused by deploying so close to the cluster start. I added a 10s delay between all-node-ready and "kubectl apply" of the manifest and then I don't see the "desired=0".

[2022-11-12 11:35] aojea commented on #113844
you mean that the controller may not see any nodes readys at that time?

[2022-11-12 13:42] b0b0haha commented on #72335
/reopen

[2022-11-12 13:42] b0b0haha commented on #72335
Is this issue has been solved?

[2022-11-12 13:51] weilaaa commented on #113847
The compatibility reasons you are talking about means that someone may have set an illegal ResourceVersion when creating an object? If so, it seems that it is really not suitable to modify this behavior, or can we increase the `Warning`, and then some future modify this behavior in new versions?

And, I don't quite understand the meaning of the phrase “if someone can fetch an object, modify the na

[2022-11-12 14:07] uablrek commented on #113844
The nodes are reported ready (https://github.com/kubernetes/kubernetes/issues/113844#issuecomment-1312376344) but when the daemonset is deployed early in cluster start daemonset.status.desiredNumberScheduled==0 even  though the nodes are reported "ready". A few seconds later it seems fine and daemonset.status.desiredNumberScheduled==4 which is as expected.

[2022-11-12 17:08] #110431 closed

[2022-11-12 20:01] groovecoding7 commented on #112411
Also, seeing this issue on v1.25.4

[2022-11-12 22:33] Slyke commented on #112411
@michaelschem @groovecoding7

Yeah, I haven't tested this recently. I just downgraded to 1.23 and it works. I don't think the Kubernetes team will look at this issue (they haven't confirmed if they can replicate it or not), but you can try your luck and open a new Issue, linking back to this one for context.

[2022-11-13 04:11] #110589 closed

[2022-11-13 07:12] neolit123 commented on #112411
unable to create ConfigMap

you need to investigate why at that particular moment the api server is not accepting connections. it could be the kubelet / container runtime killing the static pod.

try #kubeadm on k8s slack or stackoverflow for more ideas.

[2022-11-13 07:51] uablrek commented on #113844
Git-bisect on `kubelet`;
[code]

As mentioned I have no problem adapting my startup so if the new behavior is expected, please close this issue.

[2022-11-13 08:12] michaelschem commented on #112411
@Slyke The issue for me was the wrong apt package.  Apparently the name is slightly different between ubuntu versions. I was working off a guide online and I made a PR with the changes that worked for me. https://github.com/justmeandopensource/kubernetes/pull/119/files

[2022-11-13 08:56] cynepco3hahue commented on #113130
I see, probably it will not be a problem when we will have both pods to be pinned to multiple NUMA nodes. And looks like you are correct under the comment https://github.com/kubernetes/kubernetes/issues/113130#issuecomment-1301607606, we should validate the state in descending order.
BTW kudos for the report :)

[2022-11-13 11:07] gjkim42 commented on #113844
https://github.com/kubernetes/kubernetes/pull/112618

I guess the reason for this issue could be the node that reports a ready state with some taints related to the container runtime notReady state(not sure exact key for the taint).

Can you check the taints for your nodes at startup?

[2022-11-13 11:40] aimuz commented on #106475
/remove-lifecycle stale

[2022-11-13 12:22] aojea commented on #113844
cc: @jingyuanliang

yeah, please @uablrek , let's get to the bottom of this, maybe the controller manager logs can get us more information on why the daemon controller sees only one?

[2022-11-13 12:34] aojea commented on #113844
this seems a very plausible cause, @uablrek maybe you can dump the nodes objects and the diff may give us more hints

[2022-11-13 15:18] vaibhav2107 commented on #111713
/remove-lifecycle stale

[2022-11-13 15:20] vaibhav2107 commented on #111790
/remove-lifecycle stale

[2022-11-13 15:21] vaibhav2107 commented on #111745
/remove-lifecycle stale

[2022-11-13 15:22] vaibhav2107 commented on #111622
/remove-lifecycle stale

[2022-11-13 15:23] vaibhav2107 commented on #111407
/remove-lifecycle stale

[2022-11-13 16:52] remram44 commented on #89163
Does that mean that the plan is to stick with SPDY?

[2022-11-13 20:57] BloodyIron commented on #67019
Why close this then if it is desired but not implemented? Closing it makes the situation worse, how does it make the situation better? This should be re-opened.

[2022-11-13 20:58] BloodyIron commented on #97050
Being able to define hostname when "hostNetwork: True" is really needed in esoteric scenarios, otherwise the pod takes the hostname of the node itself, and if you have multiple pods with the same hostname, that's a bad time. Why would we want that?

[2022-11-13 21:12] zerkms commented on #78007
/remove-lifecycle stale

[2022-11-13 21:18] #110156 closed

[2022-11-13 22:42] shvgn commented on #108124
/remove-lifecycle stale

[2022-11-14 00:50] patrickshan commented on #72881
/remove-lifecycle stale

[2022-11-14 00:51] patrickshan commented on #72881
/remove-lifecycle frozen

[2022-11-14 03:06] liggitt commented on #113720
This is documented as a boolean, and clients should pass a boolean, but we should not break existing requests that are returning successful responses using other values that parse to boolean true using strconv.ParseBool (https://pkg.go.dev/strconv), which is how this was implemented

[2022-11-14 03:07] #113720 closed

[2022-11-14 04:01] Chaunceyctx opened #113878 "What does statefulset.spec.minReadySecond really mean"
### What happened?

According to the official document https://kubernetes.io/blog/2021/08/27/minreadyseconds-statefulsets/, The pod available time point is `ready lastTransitionTime + minReadySecond`. However, I found a wired phenomenon when using it(does not configure readiness prober and the pod changes to the ready status fast). The difference between the AGE of sts-0 and the AGE of sts-1 is ab

[2022-11-14 04:02] Chaunceyctx commented on #113878
/assign

[2022-11-14 04:19] Chaunceyctx commented on #113878
/sig apps

[2022-11-14 04:45] Ritikaa96 commented on #113770
/kind support

[2022-11-14 04:50] Ritikaa96 commented on #113770
/kind support
/triage needs-information

[2022-11-14 05:19] pacoxu commented on #113857
/sig node

[2022-11-14 05:19] pacoxu commented on #113854
/sig scheduling

[2022-11-14 05:21] pacoxu commented on #113861
/sig api-machinery

[2022-11-14 05:22] pacoxu commented on #113866
/sig node auth

[2022-11-14 05:34] chiukapoor commented on #113438
Hello @cici37 and @liggitt, Hope you are doing well!

May you please review the PR https://github.com/kubernetes/kubernetes/pull/113875, https://github.com/kubernetes/kubernetes/pull/113876 and let me know your feedback

[2022-11-14 06:36] uablrek commented on #113844
Log [kube-controller-manager.log.txt](https://github.com/kubernetes/kubernetes/files/10000226/kube-controller-manager.log.txt)

[2022-11-14 06:51] uablrek commented on #113844
Node object [vm-002.before.log.txt](https://github.com/kubernetes/kubernetes/files/10000287/vm-002.before.log.txt) and [vm-002.after.log.txt](https://github.com/kubernetes/kubernetes/files/10000294/vm-002.after.log.txt).

[2022-11-14 07:39] alekseevx opened #113880 "StatefulSet ignores OnDelete update strategy"
### What happened?

According to the official documentation https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies, when using the OnDelete strategy, the update of the pods should be done when the user deletes the pod. However, I found a case where StatefulSet tries to update volumes of an existing pod.

It is also worth noting that if StatefulSet gets an error wh

[2022-11-14 07:44] alekseevx commented on #113880
/sig apps

[2022-11-14 08:05] Ankitasw commented on #113449
@mehabhalodiya @dims getting below errors in kubelet. Do we need to update containerd versions

[2022-11-14 08:24] aojea commented on #113449
sounds like an old version of containerd running there, v1 should be the default

[2022-11-14 08:33] 3293172751 commented on #113869
so?

[2022-11-14 09:06] Jeeppler commented on #49937
/remove-lifecycle stale

[2022-11-14 09:23] #110631 closed

[2022-11-14 10:02] jsafrane opened #113885 "Remove kubernetes.io/cinder volumes from nodevolumelimits scheduler predicate"
### What would you like to be added?

We removed most of the code that handles in-tree OpenStack Cinder volumes (= PVs with `pv.spec.cinder`) in https://github.com/kubernetes/kubernetes/pull/113826. We need to investigate if we still need to keep Cinder code in scheduler, pkg/scheduler/framework/plugins/nodevolumelimits/non_csi.go - the scheduler _could_  already see the volumes with `pv.spec.cind

[2022-11-14 10:02] jsafrane commented on #113885
/sig storage
/triage accepted
/help

[2022-11-14 10:06] jsafrane commented on #113885
Expected work:

* Set up a cluster on OpenStack (a single-node cluster is fine) with Cinder CSI driver there.
* Using an in-tree Cinder PV (e.g. a dynamically provisioned one):
  * Check how scheduler sees the PV when computing node attach limits.
  * Check that CSI and in-tree PVs are counted together towards the limit.

[2022-11-14 10:07] jsafrane commented on #113885
Actually, any Pv migrated to CSI could be fine - Azure Disk, Azure File, GCP PD, AWS EBS and/or vSphere. All of them go through the same code path in scheduler.

[2022-11-14 10:32] Thenitesh143 commented on #113709
Since this project is not merged yet  so I am taking the opportunity to work on it.
Thank you

[2022-11-14 10:35] Ryu-Z commented on #74415
+1

[2022-11-14 10:46] Nivedita-coder commented on #113767
Folks, will this be a blocker for the 1.26-rc.0 release tomorrow?

[2022-11-14 11:28] Kartik494 commented on #106994
Hi @tonyaw  Would you mind to take a look here again on the discussion and let us know if you are OK with it

[2022-11-14 11:52] lianghao208 commented on #113287
@lengrongfu Got it, thanks for the helpful hints. :)

[2022-11-14 11:52] #113287 closed

[2022-11-14 12:08] bharitwal commented on #113449
@aojea @Ankitasw can you please confirm if this is a blocker for the 1.26.0-rc.0 release for tomorrow?

[2022-11-14 12:23] gjkim42 commented on #113844
[code]

vm-002.before.log.txt shows this.

This node had the taint with 'not-ready' key, and condition having 'Ready' type with 'True' status. As a result, the node was marked as Ready but could not be scheduled at the same time.

Waiting for the ready state of a node is not enough for the node to schedule pods. You should consider taints-tolerations.

---

I think that [the PR](#112618) did not s

[2022-11-14 12:26] Ankitasw commented on #113449
The same tests are running fine in other environments, and locally as well, so this should not be a blocker. But we are not able to find out the root cause.

[2022-11-14 13:05] bharitwal commented on #113449
Thanks for confirming.

[2022-11-14 13:07] saschagrunert commented on #113767
The test suite is just release informing, not blocking for the release therefore.

[2022-11-14 13:22] tosi3k commented on #110146
/cc

If we don't find a volunteer to tackle this in the next 2 weeks, I'll be happy to give it a try.

[2022-11-14 13:33] mborsz opened #113886 "kubemark tests are failing"
### Which jobs are failing?

All kubemark tests started failing around 11-04.

* https://k8s-testgrid.appspot.com/sig-scalability-gce
* https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-master-500

The testing framework is not able to schedule pods. hollow kubelets has errors like:

https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-kubemark-100-gce/1588607954326654

[2022-11-14 13:34] mborsz commented on #113886
/assign

[2022-11-14 13:41] mborsz commented on #113886
None of the commits in the range looks indeed suspicious (mostly some endpointslice and metrics changes).

[2022-11-14 13:57] liggitt commented on #113847
The current behavior of the server is that resourceVersion is irrelevant to create requests, so it is ignored/forcibly cleared. I doubt we would modify that to make create requests that previously succeeded start failing.

[2022-11-14 14:04] liggitt commented on #113844
The daemonset behavior as long as there are applicable taints looks correct.

If there's an issue, it looks limited to how responsive the node controller is in translating the node-reported Ready condition to removal of the not-ready taint.

Do you have a timeline of 1) node creation, 2) addition of Ready=True status condition, 3) removal of not-ready taint in your environment? Can you see that ti

[2022-11-14 14:24] pparshin commented on #113756
Hi,

What steps are to reproduce this CVE?

I have two namespaced CRDs `a` and `b` in the same API group `cluster.x-k8s.io`. There is a ClusterRole to access only resource `a`.

My user sends a request to list objects `b` and I get access error as expected:

[code]

[2022-11-14 14:46] mimowo commented on #111140
Closing as it has been largely addressed by https://github.com/kubernetes/kubernetes/pull/113386. In particular the PR addressed the comment mentioned in the issue description.

The remaining sleeps for sanity testing could be addressed in another dedicated PR. Similarly, performance of the tests can be further improved by fake clock, for example of this test case: https://github.com/kubernetes/ku

[2022-11-14 14:46] #111140 closed

[2022-11-14 14:52] uablrek commented on #113844
[code]
"API-server-accesible" meaning that the "default" namespace exists and can be read. I can't easily measure then the taint is removed but the "daemonset-ready" should be about the same.

And no, the start-up time is not longer but a little bit shorter. And the time to nodes-ready is _way_ shorter.

So I think rather than indicating a problem this issue shows that the "fast status update" wor

[2022-11-14 14:52] #113844 closed

[2022-11-14 14:54] liggitt commented on #113844
awesome, thanks for confirming

[2022-11-14 15:04] pohly opened #113888 "kubelet: implement retrying NodePrepareResource when node plugin is not registered or previous call failed"

[2022-11-14 15:04] pohly commented on #113888
/assign @bart0sh

[2022-11-14 15:06] #113888 closed

[2022-11-14 15:06] pohly opened #113889 "benchmark apiserver validation of PodScheduling"
In particular PotentialNodes and SuitableNodes - see separate commit "api: fully validate PotentialNodes and SuitableNodes".

[2022-11-14 15:15] pohly commented on #113771
I'll get to that now. I was a bit busy end of last week with the code freeze :sweat_smile:

/sig node

[2022-11-14 15:16] pohly commented on #113702
/sig node
/sig scheduling
/priority important-longterm

[2022-11-14 15:17] pohly commented on #113722
/sig node
/priority backlog

[2022-11-14 15:20] pohly commented on #113700
/sig node
/priority important-longterm

This is blocked by work that needs to be done for client-go fake: https://kubernetes.slack.com/archives/C0EG7JC6T/p1666962144381369

[2022-11-14 15:20] pohly commented on #113722
/sig node
/priority backlog

[2022-11-14 15:21] pohly commented on #113703
/sig node
/sig scheduling
/triage accepted
/priority backlog

[2022-11-14 15:22] pohly commented on #113633
/sig apimachinery

[2022-11-14 15:24] pohly commented on #113633
/sig api-machinery

[2022-11-14 15:24] pohly commented on #113700
/remove needs-sig

[2022-11-14 15:25] pohly commented on #113889
/sig node
/sig scheduling
/triage accepted

[2022-11-14 15:25] pohly commented on #113831
/triage accepted

[2022-11-14 15:26] pohly commented on #113771
/triage accepted

[2022-11-14 15:28] pohly commented on #113774
/triage accepted

[2022-11-14 15:28] pohly commented on #113702
/triage accepted

[2022-11-14 15:29] pohly commented on #113722
/triage accepted

[2022-11-14 15:29] pohly commented on #113700
/sig node
/triage accepted

[2022-11-14 15:30] pohly commented on #113866
/triage accepted
/priority important-soon

We should do this before making changes like issue #113722

[2022-11-14 15:30] pohly commented on #113866
/assign

[2022-11-14 15:31] pohly commented on #113836
/close

Was already solved in PR #111023

[2022-11-14 15:31] #113836 closed

[2022-11-14 15:36] pohly opened #113890 "dynamic resource allocation: delete generated ResourceClaims"
At the moment, dynamic resource allocation relies on the garbage collector to delete a ResourceClaim that was created from a template for a specific pod. But that garbage collection only happens when the pod actually gets deleted.

That means that for pods that linger after having failed or completed (manually created test pods, jobs), resources remain allocated for extended periods of time althou

[2022-11-14 15:39] pohly commented on #113890
/sig node
/triage accepted
/priority important-soon

See also https://github.com/kubernetes/kubernetes/issues/113828

[2022-11-14 15:42] pohly commented on #113828
Removing the PVC protection is one aspect of the problem with long-lived pods that use volumes. When a generic ephemeral volume is involved, the garbage collector also won't kick in, which means the PersistentVolumeClaim doesn't get deleted and the volume remains allocated as long as the pod exists.

One could argue that this is a feature (allows debugging what the pod did with storage), but in pr

[2022-11-14 16:27] #113886 closed

[2022-11-14 16:40] ichekrygin opened #113891 "Add support for multiple PDB per Pod in EvictionAPI"
### What would you like to be added?

Kubernetes PDB definition uses a label selector to match pods for which PDB should be enforced. As such, it is possible to define multiple PDBs with different label selectors yet resolving to the same pod (or set of pods). The PDB is utilized primarily (exclusively) in two contexts:

* Kubernetes scheduler preemption
* Kubernetes node draining (a.k.a "kubectl

[2022-11-14 16:52] petr-muller opened #113892 "`wait.PollImmediate` timeout not respected when `ConditionFunc` takes a long time to execute"
### What happened?

https://pkg.go.dev/k8s.io/apimachinery/pkg/util/wait#PollImmediate method has a timeout parameter, and is documented as:

Under certain (realistic, non-artificial) conditions, the timeout is not respected and the method continues polling even after the timeout, only terminating much later. This happens when the `ConditionFunc` callback duration is close-ish to the timeout. We s

[2022-11-14 16:53] petr-muller commented on #113892
/sig api-machinery

[2022-11-14 17:16] enj commented on #113272
/assign @ritazh
/unassign @Cool-Coder174

Release v1.26 deadlines are here so we need to get this completed ASAP.

[2022-11-14 17:18] enj commented on #113631
/assign @nilekhc

Since you worked on the automatic reloading PR :)

[2022-11-14 17:26] enj commented on #113272
/milestone v1.26

[2022-11-14 17:28] xmudrii commented on #100460
/remove-lifecycle stale

[2022-11-14 17:29] xmudrii commented on #100460
@saschagrunert @puerco @BenTheElder What's the current status of this issue? Is there anything that we can do to move this forward?

[2022-11-14 17:49] Amithpn opened #113893 "kube-proxy unable to start due to error "Kubenet does not have netConfig. This is most likely due to lack of PodCIDR""
### What happened?

I got the cluster deployed with kops 1.19 and k8s 1.11. I see master node is working fine but worker nodes are failing to install kubectl with following error. Im using the follwoing image in kops IG group for both master and nodes: `099720109477/ubuntu/images/hvm-ssd/ubuntu-focal-20.04-amd64-server-20220924`

syslog on node instance:

[code]

### What did you expect to happen?

[2022-11-14 17:59] David-Tamrazov commented on #109352
qq - would the [fix](https://github.com/kubernetes/kubernetes/pull/109412) for this issue make it into a 1.22 release or likely not now that 1.22 is EoL? not sure if a different fix has landed for 1.23 or other newer versions of k8s - we're seeing it running k8s through EKS 1.22.

[2022-11-14 18:20] puerco commented on #100460
We got new conversations going on during Kubecon on whether we should publish our release binaries on GitHub.

Given that [signing them is imminent](https://github.com/kubernetes/release/pull/2742) and [we now have bucket-to-github support in `publish-release`](https://github.com/kubernetes/release/pull/2707) I think we should rethink now what we publish on the release pages. I think we should sta

[2022-11-14 18:53] mloskot commented on #110120
Does this issue also apply to the other direction, i.e. copying from Windows pod?

None of path forms discussed above work for me.

[2022-11-14 18:56] chiukapoor commented on #113438
cc: @jimangel

[2022-11-14 19:40] schaefec commented on #40610
Having access to a selected 'allow-listed' set of node labels through the downward API would address my use-case as well as long as the following [(Well-Known)](https://kubernetes.io/docs/reference/labels-annotations-taints/) labels would be part of this set:

[topology.kubernetes.io/zone](https://kubernetes.io/docs/reference/labels-annotations-taints/#topologykubernetesiozone)
[topology.kubernete

[2022-11-14 19:55] tallclair commented on #92157
/assign

I'd like to help drive this forward for v1.27. I'll get started on a KEP.

/milestone v1.27

[2022-11-14 20:28] haircommander commented on #113767
(note, we're hitting them in the [crio serial jobs](https://testgrid.k8s.io/sig-node-cri-o#node-kubelet-serial-crio) too. The error looks like
[code]
when the test is trying to get the kubelet config in test/e2e/framework/kubelet/config.go:113

I am beginning to try to find offending PRs

[2022-11-14 21:09] logicalhan commented on #113892
This is [actually documented](https://github.com/kubernetes/apimachinery/blob/4fbe8e4db39b17a53c0756caf58466baad871871/pkg/util/wait/wait.go#L520-L524) and therefore expected behavior.

[2022-11-14 21:15] petr-muller commented on #113892
Sorry, I don't see how the ^^^ documents the reported behavior. I expect the method to check for the condition immediately, and if the check goes over timeout, terminate. Such behavior would comply with the above.

[2022-11-14 21:20] logicalhan commented on #113892
Rephrased, it basically says this: `'condition' will be always be invoked at least once. If 'condition' takes too long, then the interval for timeout may be missed`.

[2022-11-14 21:28] petr-muller commented on #113892
OK, I read that paragraph as "**condition check triggers** at certain intervals may be missed", which made more sense to me and I'd expect that.

Is there a good reason for the behavior, even if it expected?

[2022-11-14 21:41] logicalhan commented on #113892
I mean I think the way I interpreted it makes more sense given the first sentence: `PollImmediateWithContext always checks 'condition' before waiting for the interval.`. This actually implies that if condition takes too long then you would miss the timeout interval anyway.

[2022-11-14 22:07] haircommander commented on #113767
@andrewsykim based on https://github.com/kubernetes/kubernetes/pull/113898 it looks like https://github.com/kubernetes/kubernetes/commit/2aee9b26f77276dea2d5cd2c1501d5341e74184e is causing that particular failure. do you have any insight on a fix? I am not seeing it anywhere but the crio jobs (though I haven't looked hard)

[2022-11-14 22:32] aojea commented on #113893
that is very old, you have to use some of the supported versions https://kubernetes.io/releases/

[2022-11-14 22:41] aojea commented on #113844
awesome

[2022-11-14 22:47] #113893 closed

[2022-11-14 23:40] ramrodo opened #113901 "1.26 Release Notes: "Known Issues""
### What happened?

This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.26 Release Notes. If you know of issues or API changes that are going out in 1.26, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign @kubernetes/release-team-release-notes

/sig release
/milestone v1.26

[2022-11-14 23:41] petr-muller commented on #113892
It's getting a bit of a interpretation challenge now, but IMO the first sentence just describes the difference from the simple `Poll` which waits first and only triggers the condition check afterwards (and `Poll` GoDoc also contains the `Some intervals may be missed...` bit).

[2022-11-15 00:09] apelisse opened #113902 "`KUBECTL_EXPLAIN_OPENAPIV3=true kubectl explain --help` is sad"
[code]

Especially the options description are super sad. I think we can improve them in the next beta iteration

cc @KnVerey @seans3 @alexzielenski
/sig cli

[2022-11-15 00:14] apelisse opened #113903 "`KUBECTL_EXPLAIN_OPENAPIV3=true kubectl explain` does not properly cache root OpenAPI v3 document"
This is after running the command a few times, we can see that the request to the root OpenAPI v3 document is not coming back from cache. The content-type is not super correct either by the way. Also, not sure why we're still getting OpenAPI v2, it doesn't seem necessary. Cache for the sub-openapi seems to be working fine (and properly cache-busted, though it's hard to tell for sure, but the logs

[2022-11-15 00:18] msau42 commented on #95888
/reopen

[2022-11-15 00:21] msau42 commented on #95888
See https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/csi_mock_volume.go for mock volume tests

[2022-11-15 01:54] princepereira commented on #113842
Sure. Thanks @aojea

[2022-11-15 01:55] princepereira commented on #113842
/sig windows

[2022-11-15 01:57] princepereira commented on #113842
/sig network

[2022-11-15 02:16] mengjiao-liu commented on #107172
/remove-lifecycle stale

[2022-11-15 02:31] tksm commented on #112467
@quoc9x Does your nginx-ingress-controller use [hostNetwork](https://kubernetes.github.io/ingress-nginx/deploy/baremetal/#via-the-host-network)? If so, since it uses the host network instead of the pod network, your NetworkPolicy might not allow your nginx-ingress-controller by the selectors. In that case, you can use CIDR notation.

As far as I know, major NetworkPolicy implementations do not wor

[2022-11-15 02:47] b0b0haha commented on #107256
/reopen
/remove-lifecycle rotten

[2022-11-15 05:54] Kartik494 commented on #110995
/remove-lifecycle stale

[2022-11-15 06:03] Kartik494 commented on #112281
i don't have any idea on how adding annotation would work here, So could you provide any reference to it . I have faced same issue earlier , you can find more detail on this [here](https://github.com/kubernetes/kubernetes/blob/6438632813d72669a22c860cd6c218fd4fe4ec24/pkg/quota/v1/evaluator/core/pods.go#L123-L127)

[2022-11-15 07:11] kundan2707 commented on #113624
/triage needs-information

[2022-11-15 07:28] saschagrunert commented on #100460
@xmudrii @puerco let's scope the issue to the actual "Kubernetes Source Code" tarball. We can still remove it from what I can see from the discussion.

[2022-11-15 07:33] yashp1402 opened #113907 "Manually assigning pods to nodes could lead to cluster instability"
### What happened?

kube-controller-manager is **creating pods continuously** after the replication count reaches a certain number (91 in this case).
All the pods being generated is in **OutOfpods** state

NAME                   READY   STATUS        RESTARTS   AGE
test-d5d446578-22gjn   0/1     OutOfpods     0          21h
test-d5d446578-29s2f   0/1     OutOfpods     0          21h
test-d5d446578

[2022-11-15 08:14] mborsz commented on #113886
It helped
![image](https://user-images.githubusercontent.com/2559168/201865413-3cd6b7f4-833c-485b-bf45-94c88e13d574.png)

[2022-11-15 08:38] jabhishek87 commented on #113630
@Akshit42-hue  are you still working on this?

[2022-11-15 09:43] h4wkmoon commented on #112281
@Kartik494 , we use those SC annotations in addition with a kyverno policy. The policy checks that the size of the pvc is above the "min-size" annotation. It also checks that the size is a multiple of the "step" annotation. If not, the pvc creating is denied.
We use kyverno, but any other tool will do (opa, datree, ...)
@aslafy-z's point is that we think this should be handled by the CSI itself, r

[2022-11-15 09:44] Ankitasw commented on #113449
We are facing [similar](https://github.com/kubernetes-sigs/cluster-api-provider-gcp/issues/625) issue while running conformance tests for CAPA.
cc @richardcase

[2022-11-15 10:00] xmudrii commented on #100460
I agree with @saschagrunert. Removing the "Kubernetes Source Code" tarball should be as easy as removing this from krel: https://github.com/kubernetes/release/blob/f842735f5e2c72b614aaa21f757c0e4c901cae55/pkg/anago/release.go#L600-L609

However, there are a few questions:

* is it safe to do so?
  * I believe yes, because this "Kubernetes Source Code" tarball is pointing to the GCS bucket, and we'

[2022-11-15 10:21] xinsir88 opened #113911 "Can Grafana Dashbord json file be appended to the project?"
### What would you like to be added?

Can Grafana Dashbord json file be appended to the project?

### Why is this needed?

Can Grafana Dashbord json file be appended to the project?

[2022-11-15 10:22] Rajalakshmi-Girish opened #113912 "Flake: Azure unit test TestJitterWithNegativeMaxFactor is Flaking with master golang"
### Which jobs are flaking?

https://prow.ppc64le-cloud.org/job-history/s3/ppc64le-prow-logs/logs/postsubmit-master-golang-kubernetes-unit-test-ppc64le

### Which tests are flaking?

k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/azure/retry: TestJitterWithNegativeMaxFactor

### Since when has it been flaking?

We most probably saw the first flake with `devel go1.20-5d59fa143a Wed Oct 26 0

[2022-11-15 10:36] Kartik494 commented on #112281
Sure thanks for more clarity on this , i will take a look

[2022-11-15 10:55] saschagrunert commented on #100460
@xmudrii I agree on that, but let's drop a note on k-dev that others are aware of the change.

[2022-11-15 11:19] xmudrii commented on #100460
/assign

[2022-11-15 12:43] aojea commented on #113907
this looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/104560

[2022-11-15 15:03] ameade opened #113921 "Allow specifying credentials for Admission Webhooks via K8S resource"
### What would you like to be added?

Enable specification of Admission Webhook credentials in a Secret instead of a kubeconfig file for the kube-apiserver.

### Why is this needed?

Currently, to enable use of a ValidationAdmissionWebhook or a MutatingAdmissionWebhook that requires authentication, credentials must be provided to the kube-apiserver via a kubeconfig file located on the host (see [-

[2022-11-15 15:25] dylan-bourque commented on #96564
@liggitt we solved this at CrowdStrike by creating a shim library that does exactly this, github.com/CrowdStrike/csproto.  It doesn't cover all of your wishlist, but it meets all of your MUST criteria because we had the same list.  We've integrated it into all of our code and are transitioning to a last phase where we convert all of our proto code generation to use Google's V2 `protoc-gen-go` inst

[2022-11-15 16:23] JingbenShi668 commented on #113911
There are many grafana panels json on https://grafana.com/grafana/dashboards/?pg=community&plcmt=topnav. If k8s integrates the grafana dashboard, it is not an elegant design. Because many developer has different requirements for the grafana.
Besides, the  orientation of grafana is an operational  and visual dashboard, and it has loose coupling relation with k8s.

[2022-11-15 17:40] claudiubelu opened #113925 "Missing gcr.io/authenticated-image-pulling/windows-nanoserver:v3 image for E2E tests"
### Which jobs are failing?

capz-windows-containerd-master

### Which tests are failing?

``[sig-node] Container Runtime blackbox test when running a container with a new image should be able to pull from private registry with secret [NodeConformance]``

### Since when has it been failing?

Since https://github.com/kubernetes/kubernetes/pull/113900 merged.

### Testgrid link

https://testgrid.k8s

[2022-11-15 18:12] tallclair opened #113926 "[FR] External network egress selector."
Currently, the [egress network selection logic](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/util/webhook/authentication.go#L67) always uses the cluster network when the webhook is specified by service, and always uses the control plane network when the webhook is specified by [url](https://github.com/kubernetes/api/blob/master/admissionregistration/v1/type

[2022-11-15 18:13] tallclair commented on #113926
/cc @cji

[2022-11-15 18:23] andrewsykim commented on #113767
From looking at callers of `GetCurrentKubeletConfig`, it seems like `useProxy` is always false. Is the host for kube-apiserver using 127.0.0.1 in this test?

[2022-11-15 18:40] KnVerey commented on #113902
/triage accepted

[2022-11-15 18:42] oesukam commented on #29097
There is no issue with using it on production depending on your deployment workflow

[2022-11-15 19:16] ldemailly commented on #83094
which version of kubectl has this? any example btw?

[2022-11-15 19:35] haircommander commented on #113767
yeah it appears so: https://github.com/kubernetes/kubernetes/blob/591fc0d8ab/test/e2e_node/services/apiserver.go#L69

[2022-11-15 19:36] jiahuif commented on #113830
+

[2022-11-15 20:54] alculquicondor commented on #113846
cc @ahg-g who initially proposed a one-pod-per-node strategy (which was rejected).

[2022-11-15 21:01] andrewsykim opened #113932 "CEL Validating Admission Policy flaky integration tests"
Creating an issue to track any flaky tests related to CEL admission after merging https://github.com/kubernetes/kubernetes/pull/113314

### Which jobs are flaking?

Jobs running integration tests

### Which tests are flaking?

* k8s.io/kubernetes/test/integration/apiserver/cel: Test_ValidateNamespace_NoParams/namespace_name_contains_suffix_enforced_by_validating_admission_policy,_using_object_meta

[2022-11-15 21:03] andrewsykim commented on #113932
I'll be monitoring flakes more closely since https://github.com/kubernetes/kubernetes/pull/113738 just added a bunch of new tests

[2022-11-15 21:03] andrewsykim commented on #113932
/triage accepted

[2022-11-15 21:03] andrewsykim commented on #113932
/sig api-machinery

[2022-11-15 21:04] alexzielenski commented on #113926
/triage accepted
/cc @jpbetz

[2022-11-15 21:04] ncdc commented on #111604
/remove-lifecycle stale

[2022-11-15 21:04] alexzielenski commented on #113921
/triage accepted
/cc @jpbetz

[2022-11-15 21:05] alexzielenski commented on #113892
/triage accepted

[2022-11-15 21:06] jkh52 commented on #113926
/cc @jkh52

[2022-11-15 21:06] andrewsykim commented on #113932
cc @DangerOnTheRanger

[2022-11-15 21:07] alexzielenski commented on #113861
/triage accepted
/cc @andrewsykim

[2022-11-15 21:09] alexzielenski commented on #113716
/triage accepted

Are you planning on implementing this change? Since it is an API change, I think it would also be good to bring up in SIG API machinery meeting too.

[2022-11-15 21:10] alexzielenski commented on #113643
/remove-sig api-machinery
/sig storage

[2022-11-15 21:11] alexzielenski commented on #113633
/triage accepted
/cc @apelisse @alexzielenski

[2022-11-15 21:12] alexzielenski commented on #113612
/triage accepted
/cc @apelisse @seans3 @alexzielenski

[2022-11-15 21:13] alexzielenski commented on #113594
/triage accepted
/cc @jpbetz @jiahuif

[2022-11-15 21:14] alexzielenski commented on #113473
/remove-sig api-machinery
/sig instrumentation auth

[2022-11-15 21:15] alexzielenski commented on #113453
/remove-sig api-machinery
/sig auth instrumentation

[2022-11-15 21:16] alexzielenski commented on #113381
/triage accepted

[2022-11-15 21:16] alexzielenski commented on #113341
/triage accepted

[2022-11-15 21:17] alexzielenski commented on #113305
/triage accepted

[2022-11-15 21:19] alexzielenski commented on #113293
/remove-sig api-machinery
/sig scalability

[2022-11-15 21:20] alexzielenski commented on #113293
/sig scheduling
/remove-sig scalability

[2022-11-15 21:21] alexzielenski commented on #113223
/triage accepted

thanks jordan

[2022-11-15 21:22] alexzielenski commented on #113220
/triage accepted

[2022-11-15 21:22] alexzielenski commented on #113220
/cc @DangerOnTheRanger

[2022-11-15 21:23] alexzielenski commented on #113070
/triage accepted
/cc @roycaihw

[2022-11-15 21:38] ramrodo commented on #113901
/triage accepted

[2022-11-15 21:45] ahg-g commented on #113846
I don't understand the use case yet, can you please clarify why would multiple instances of the same app be distributed across namespaces? typically an app is managed by a Deployment which is namespaced.

[2022-11-15 21:46] nmadhavi33 commented on #112645
@BenTheElder , @RGB314  did you find solution for the issue?

[2022-11-15 21:50] alexzielenski commented on #113813
/triage accepted

[2022-11-15 21:50] alexzielenski commented on #113720
/triage accepted

[2022-11-15 21:50] alexzielenski commented on #113677
/triage accepted

[2022-11-15 21:50] alexzielenski commented on #113651
/triage accepted

[2022-11-15 21:51] alexzielenski commented on #113368
/triage accepted

[2022-11-15 21:51] alexzielenski commented on #113246
/triage accepted

[2022-11-15 22:21] ahg-g commented on #113846
ok, I get what you are looking for now, using topologySpread across different services is not a pattern I was expecting, but I guess you can use more than one constraint: one to spread the pods from the same service and another to force spreading across cpu-demanding services.

btw, you can use anti-affinity with podTopologySpread now.

[2022-11-15 22:33] leonardpahlke commented on #113449
have we followed up on this thought?

[2022-11-15 22:33] Reifier commented on #94301
/reopen

[2022-11-16 00:38] lavalamp commented on #113612
Are you expecting that people will just always set force-conflicts=true and miss important details because of that? I would not recommend that people do that.

But if people don't do that, I don't see the need for this? I expect the workflow to be `kubectl apply` and 90% of the time we're done, the other 10% of the time the user sees a list of conflicts, they review them, then (if they want) `kube

[2022-11-16 01:31] dlipovetsky opened #113935 "Ephemeral container fails to be created for Static Pod"
### What happened?

I created an ephemeral container for a Static Pod using the `kubectl debug` command. The command succeed.

[code]

The API server accepted the ephemeral container:
[code]

However, the container is not created.

Its status is also not available:

[code]

### What did you expect to happen?

I expected one of these:

(a) the API server rejects the request to create an ephemeral c

[2022-11-16 01:32] lauchokyip commented on #83094
@ldemailly it's available from kubectl version 1.23, you can try `kubectl wait --help` to look for examples

[2022-11-16 01:32] dlipovetsky commented on #113935
/sig node

[2022-11-16 01:34] dlipovetsky commented on #113935
The umbrella issue for ephemeral containers is https://github.com/kubernetes/enhancements/issues/277

[2022-11-16 01:34] dlipovetsky commented on #113935
/cc @verb

[2022-11-16 01:45] dlipovetsky commented on #113935
Control plane machines provisioned using [kubeadm](https://kubernetes.io/docs/reference/setup-tools/kubeadm/) run control plane components (etcd, kube-apiserver, kube-controller-manager, kube-scheduler) as Static Pods. Being able to create ephemeral containers for these Static Pods in order to debug the running processes is a use case worthy of mention.

If ephemeral containers are, by design, not

[2022-11-16 02:08] KnVerey commented on #113612
Did you see the use case I outlined in the original description? I'll try to rephrase. The idea is that this would be useful in the extremely common case where kubectl is being used in automation rather than by a human with hands on keyboard who can review the error and easily issue a new command on an ad hoc basis.

- User story 1: As devops engineer who configures kubectl for my team's app in ou

[2022-11-16 02:32] alexzielenski commented on #113903
Should there be an ETag in the response for `GET https://localhost:6443/openapi/v3?timeout=32s`?:

[code]

[2022-11-16 02:33] cyniczhi commented on #109022
I also met this problem when deploy my own admission webhook, the kubernetes version is v1.24.6. Is there any solution or workaround to make my webhook workable?

[2022-11-16 02:40] Tom-python0121 opened #113936 "make test failed about kubernetes@1.25.4 on centos8_aarch64"
### Which jobs are failing?

### Steps to reproduce the issue

[code]
Can you help me look at it?

### Which tests are failing?

FAIL	k8s.io/kubernetes/cmd/kubeadm/app/cmd
FAIL	k8s.io/kubernetes/cmd/kubeadm/app/util
FAIL	k8s.io/kubernetes/cmd/kubeadm/app/util/config
FAIL	k8s.io/kubernetes/pkg/probe/grpc

### Since when has it been failing?

2022.11.16

### Testgrid link

_No response_

### Reason

[2022-11-16 03:01] liggitt commented on #111972
/milestone v1.26

[2022-11-16 03:01] liggitt commented on #111972
@leonardpahlke please don't drop the milestone from issues without asking first... this is why CI is failing on master currently

[2022-11-16 03:19] FeiYing9 opened #113938 "Liveness probe errored: context deadline exceeded (Client.Timeout or context cancellation while reading body)"
### What happened?

I have a pod with config of httpGet probe，but it's never passed

But the http api is ok weather in other container or in k8s node throuth `curl podIP:port/path`

### What did you expect to happen?

kubelet probe httpGet correctly

### How can we reproduce it (as minimally and precisely as possible)?

my deploy probe config like this:
[code]

### Anything else we need to know?

[2022-11-16 03:21] painsAgains opened #113939 "Some API parameter parsing error"
### What happened?

### /api/v1/componentstatuses/{name}
When I accessed a non-existent component,I recevied 500 status

### resourceVerison parameter parsiong error
When I set the value of the `resourceverion` parameter to an arbitrary string,I got 500 status

### What did you expect to happen?

### /api/v1/componentstatuses/{name}
I think when I access a non-existent component, I should recevie

[2022-11-16 03:23] painsAgains commented on #113939
/sig api-machinery
/wg api-expression

[2022-11-16 03:55] weilaaa commented on #113939
Add logs for problem 1.

[code]

[2022-11-16 04:02] weilaaa commented on #113939
Add logs for problem 2.

[code]

[2022-11-16 04:35] vaibhav2107 commented on #103587
/remove-lifecycle stale

[2022-11-16 05:00] #111972 closed

[2022-11-16 05:08] samirtahir91 commented on #79224
+1 reopen

[2022-11-16 05:22] champtar opened #113940 "Static pods stopped first when priority is not explicitly set"
### What happened?

etcd / kube-apiserver stops before most containers, despite using `shutdownGracePeriodByPodPriority`.
On a single node server, with multus (and likely other CNI talking to the API), this spam the logs and make the shutdown slower

### What did you expect to happen?

`shutdownGracePeriodByPodPriority` should stop one group at a time

### How can we reproduce it (as minimally and

[2022-11-16 05:34] jabhishek87 commented on #113630
/triage needs-information
/remove-good-first-issue

[2022-11-16 05:44] vteratipally opened #113941 "k8s tests failing with openssh 9"
### Which jobs are failing?

The below tests are failing when we tried to update the openssh to version 9.1_p1

* Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run commands
* Kubernetes e2e suite.[sig-storage] Flexvolumes should be mountable when non-attachable

Error:

[code]

### Which tests are failing?

* Kubernetes e2e suite.[sig-node] SSH should SSH to all nodes and run com

[2022-11-16 05:45] vteratipally commented on #113941
@SergeyKanzhelev

[2022-11-16 05:57] Ankitasw commented on #113449
@leonardpahlke missed the comment, will check on that and get back.

[2022-11-16 06:18] camilamacedo86 opened #113944 "ignore"
IGNORe

[2022-11-16 06:31] Ankitasw commented on #113449
The containerd version used is 1.5.11, so that should not be a problem.

[2022-11-16 06:42] Xunzhuo commented on #113941
/bug

[2022-11-16 06:48] Huang-Wei opened #113945 "Inaccurate metric scheduler_pending_pods{queue=gated|unschedulable}"
### What happened?

With new alpha feature `PodSchedulingReadiness` enabled, the metric `scheduler_pending_pods{queue=gated|unschedulable}` becomes inaccurate.

### Case 1

- Create a Pod carrying a schedulingGate `foo`. The metrics look good:
[code]
- Update the Pod by removing its schedulingGate `foo`. The metrics turn out to be:
[code]

### Case 2

- Create a Pod carrying a schedulingGate `foo`

[2022-11-16 06:49] astraw99 commented on #110123
/remove-lifecycle stale

[2022-11-16 06:50] Huang-Wei commented on #113945
/sig scheduling

cc @ahg-g

[2022-11-16 06:52] Ankitasw commented on #113449
looks like #image-builder is still using containerd_version as v1.6.2 as default version. So we have all the existing AMIs with this version due to which our conformance tests in k8s main branch is failing. We would focus on fixing the generation of AMIs from CAPA side, and post that we would be able to handle this by generating new AMIs with containerd version >= 1.6.11. Till then, this would be

[2022-11-16 06:53] Huang-Wei commented on #113945
/priority critical-urgent

[2022-11-16 06:59] #113944 closed

[2022-11-16 06:59] leonardpahlke commented on #111972
I removed all with code freeze and added the ones back that got approved as exception request / are big fixes. Missed this one; sorry.

[2022-11-16 07:35] ComradeProgrammer commented on #113633
Can I have a try on this?

[2022-11-16 07:57] leonardpahlke commented on #113449
Ok, thanks. How long will it take approx to upgrade versions?

[2022-11-16 09:29] bart0sh commented on #113851
/area kubelet

[2022-11-16 09:29] bart0sh commented on #113867
/area kubelet

[2022-11-16 09:59] Ankitasw commented on #113449
the version upgrade is currently blocked by [PR](https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/3829). once this PR is in, we would be generating AMIs within a day or two, and then raise PR with upgraded version in conformance test.

[2022-11-16 10:27] wojtek-t commented on #105370
/remove-lifecycle stale

[2022-11-16 10:39] Rajalakshmi-Girish opened #113948 "master golang modifies url parsing to accept invalid %-encodings"
### Which jobs are failing?

https://prow.ppc64le-cloud.org/job-history/s3/ppc64le-prow-logs/logs/postsubmit-master-golang-kubernetes-unit-test-ppc64le

### Which tests are failing?

Below tests are failing with the mast golang:
[code]

### Since when has it been failing?

Since the merge of https://go-review.googlesource.com/c/go/+/450375
commit e6ebbefaf848604c8df3e2a58e146948b03e608b

### Anyth

[2022-11-16 10:47] leonardpahlke commented on #113449
Great, Thank you @Ankitasw!

[2022-11-16 10:48] ThisIsNotTheUserYouAreLookingFor opened #113950 "Kubectl apply -k (kustomizefile) validation errors do not specify the file"
### What happened?

When working on a kustomize project I noticed this error on a SecretClassProvider

running this from the overlay folder:

[code]

Since there are multiple secret providers (both before and after the validation error) I could not determine which one was the one that was failing.

### What did you expect to happen?

Either the CRD or the file path in the error message, so that it

[2022-11-16 10:56] aimuz commented on #14217
Hello, I was reading through the code and saw a TODO pointing to a problem and wanted to ask if the change has been implemented?

[2022-11-16 10:59] vaibhav2107 commented on #111754
/remove-lifecycle stale

[2022-11-16 10:59] ThisIsNotTheUserYouAreLookingFor commented on #113950
/sig cli

[2022-11-16 11:00] vaibhav2107 commented on #111742
/remove-lifecycle stale

[2022-11-16 12:17] smira opened #113951 "Go modules are not tagged for v0.26.0-rc.0"
### What happened?

After https://github.com/kubernetes/kubernetes/releases/tag/v1.26.0-rc.0 release, Go modules are not tagged for 0.26.0-rc.0.

See e.g. https://pkg.go.dev/k8s.io/api@v0.26.0-beta.0?tab=versions

### What did you expect to happen?

Go modules to be tagged with the release

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to

[2022-11-16 12:17] smira commented on #113951
/sig release

[2022-11-16 12:56] chestack commented on #82067
the root cause in my environment is using alpine as hyprkube base image. more details is here: https://stackoverflow.com/a/74446140/8543155

[2022-11-16 13:02] Rajalakshmi-Girish commented on #113948
/sig testing

[2022-11-16 13:34] liggitt commented on #113952
What version of the Kubernetes API server are you seeing this in, and is this in a mutating admission webhook or validating admission webhook?

[2022-11-16 13:40] vteratipally commented on #113941
The tests are failing for the tests which are dependent on the
/workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/vendor/github.com/onsi/ginkgo/internal/leafnodes/runner.go:113

go/src/k8s.io/kubernetes/test/e2e/node/ssh.go

[2022-11-16 13:41] liggitt commented on #113952
This looks like https://github.com/kubernetes/website/issues/30574

The namespace attribute in the admission review (`.request.namespace`) is always populated correctly and is what admission webhooks should look at to determine the namespace of the request.

Prior to 1.24, the namespace field of the object contained in the admission review (`.request.object.metadata.namespace`) contained whatever

[2022-11-16 13:45] wojtek-t commented on #109915
All fixed now. Closing.

[2022-11-16 13:45] #109915 closed

[2022-11-16 13:55] #113952 closed

[2022-11-16 14:27] weilaaa commented on #113939
Some errors convert to `metav1.Status` failed defaulting to InternalError 500.
Should we increase the judgment of some common storage errors, and then require the caller to use NewXxxError to construct common errors. @liggitt @lavalamp

https://github.com/kubernetes/kubernetes/blob/43b7a253539a777a4671c6ba761f38f605e87465/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/responsewriters/status.g

[2022-11-16 14:41] danports commented on #110995
See https://github.com/helm/helm/issues/7219 for some shell scripts and other workarounds for this issue - it seems you either have to edit the Helm release history or delete and redeploy the Helm release.

[2022-11-16 15:13] dims commented on #113951
I can see https://github.com/kubernetes/api/tree/v0.26.0-rc.0

[2022-11-16 15:20] smira commented on #113951
thanks, it works now!

[2022-11-16 15:20] #113951 closed

[2022-11-16 15:22] wojtek-t commented on #1685
I was looking into it in the past too with this "bulk watch" support design even merged in the past:
https://github.com/kubernetes/community/pull/443/files

But with http2 the scalability usecase is no longer valid and I agree with @lavalamp that I don't see a critical enough usecase for pretty complicated changes that would be needed to proceed with it.

[2022-11-16 15:35] pacoxu commented on #113936
/area kubeadm test

[2022-11-16 15:52] pacoxu commented on #113891
/sig apps

[2022-11-16 15:53] pacoxu commented on #113940
/cc @wzshiming
/sig node

[2022-11-16 17:05] apelisse commented on #113903
Yeah, there isn't much we can cache if the etag isn't there 🤷

[2022-11-16 17:06] apelisse commented on #113903
We did have etag caching with v2, so that's expected. The request for v2 itself is not expected though, is it?

[2022-11-16 17:10] apelisse commented on #113633
Happy to help, we just need to finish the discussion with @pohly to see what needs to be done :-)

[2022-11-16 17:12] alexzielenski commented on #113903
Agreed I was more remarking that "v2 contains etag, interesting that v3 does not"

[2022-11-16 17:19] sunnylovestiramisu commented on #107414
From the logs, in the OneVolumeDetachFailNodeWithReadWriteOnce test, ```verifyVolumeAttachedToNode``` succeeded, but the next verification ```verifyVolumeReportedAsAttachedToNode``` failed.

In verifyVolumeAttachedToNode, the attachState is from calling ```asw.GetAttachState(volumeName, nodeName)``` and within asw, it calls ```asw.attachedVolumes[volumeName]```.

In verifyVolumeReportedAsAttachedT

[2022-11-16 17:20] apelisse commented on #113633
I can't find any such occurence?
[code]

That looks historical, we don't have to maintain any backward compatibility inside k/k code (as opposed to possibly staging repos), so I agree it can probably be removed?

I don't know what to think about using `cmp.Diff` in non-test code, even protected like you did. It doesn't look like we have a good mechanism to detect such things anyways (except for my

[2022-11-16 17:21] devthejo commented on #28369
Here is my workaround in NodeJS for Kontinuous (as CI/CD tool we're developping), the implementation is very specific (and relative to jobs tailing) but the principles can be decoupled for general usage, I share it if this can help someone
https://github.com/SocialGouv/kontinuous/blob/fe7345c5e33bda5990b08e2c60e3c997fc1c7a7d/packages/common/utils/kubejob-tail.js

[2022-11-16 17:29] Jefftree commented on #113903
afaik our design did not include etag caching for the root v3 document because the size of the document is tiny compared to the sub-openapi. Is this something you believe is suboptimal?

Also ack on the content-type incorrect comment.

[2022-11-16 17:31] apelisse commented on #113903
I don't think it really matters, but it's also incredibly easy to fix so I guess it's still worth it?

[2022-11-16 17:38] apelisse commented on #111819
I'll close the bug since it's technically fixed though I agree we still need to get the cherry-pick PR in, thanks!

[2022-11-16 17:38] #111819 closed

[2022-11-16 17:46] pohly commented on #113633
Here's one:
https://github.com/kubernetes/kubernetes/blob/43b7a253539a777a4671c6ba761f38f605e87465/pkg/apis/core/validation/validation.go#L2002-L2005

It only gets called after the check with `DeepEqual`, but then it runs without any protection against panics.

I am working on an enhancement for forbidgo that might be able to ban the use of cmp.Diff in non-test files.