[2020-12-10 20:25] #96902 closed

[2020-12-10 20:26] thockin commented on #96449
Should we close this, then?

[2020-12-10 20:27] ahg-g commented on #96748
/assign @damemi

[2020-12-10 20:29] #96166 closed

[2020-12-10 20:33] aojea commented on #97149
indeed, the suggestion is to use the appProtocol field in Service Spec to generate a DNS SRV record based on that field, because the field description is sounds correct to me.

it will have `mytestport_tcp.mytestsvc.default.svc.cluster.local` today if he sets the port.Name to mytestport, there is no much difference with respect what we have now, right?

I think that the other issue is related, or

[2020-12-10 20:33] thockin commented on #96018
@mskrocki What is the followup here?  Do we think it is a kube bug, a kernel bug, or expected?

[2020-12-10 20:36] joshiste commented on #97190
Hmm, true. I didn’t saw it. I jumped directly to the bottom of the page. Maybe the hint should be moved to the create/run section...

[2020-12-10 20:37] #95830 closed

[2020-12-10 20:44] thockin commented on #95712
This has moved into "needs a KEP" territory.

/triage accepted

[2020-12-10 20:46] thockin commented on #95339
Why are we running e2e with firewalls up?

[2020-12-10 20:46] #94575 closed

[2020-12-10 20:48] thockin commented on #94337
What should we do with this issue?

[2020-12-10 20:49] thockin commented on #94256
What's the status here - is this a real bug?

[2020-12-10 20:49] thockin commented on #93932
What's the status on this?

[2020-12-10 20:51] thockin commented on #93740
@freehan What do we do with this one?

[2020-12-10 20:52] thockin commented on #92306
What should we do with this one?  No updates since Aug?

[2020-12-10 20:53] #90996 closed

[2020-12-10 21:07] invidian commented on #94337
@thockin sorry about that, I didn't get time to test that. I was hoping to get sonobuoy updated, so I can just run my regular tests. Trying to run this single test fixed in #94968 right now..

[2020-12-10 21:11] prameshj commented on #97149
if they wanted to reuse the name "mytestport" for both tcp and udp protocol.. the current implementation won't let them do it. I realise this is not a concrete usecase, but if we are making an API change to support it, we should try to support all cases.

[2020-12-10 21:11] fedebongio commented on #97125
/remove-sig api-machinery
Did you consider reporting the issue to the Kubeadm repo too?

[2020-12-10 21:14] fedebongio commented on #97142
/assign @roycaihw
/triage accepted

[2020-12-10 21:15] fedebongio commented on #97200
/assign @gavinfish
/cc @liggitt
/triage accepted

[2020-12-10 21:17] fedebongio commented on #97161
/triage accepted

[2020-12-10 21:17] fedebongio commented on #97097
/triage accepted

[2020-12-10 21:20] alculquicondor commented on #96748
I think it might be too hard to reuse plugins logic while keeping the replicaset controller performant. But I'd be very pleased if you prove me wrong 😅

[2020-12-10 21:22] jeremyje opened #97210 "GCE Windows Clusters fail due to missing assembly, System.Net.Http."
**What happened**:
GCE Windows cluster bring up fails on some versions of Windows.
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
This is a regression caused by https://github.com/kubernetes/kubernetes/pull/96661.
**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware conf

[2020-12-10 21:24] liggitt commented on #97200
I'm fine reverting that if needed. I'm very curious how that passed presubmits

[2020-12-10 21:25] roycaihw commented on #97142
Could you clarify your question? I assume that you expect the memory to eventually decrease while you have the 170k+ configmaps, but you're not seeing it happening. If so, I think it's expected. I think the memory consumption is from the watch cache (which loads all the objects in memory). You can try disable the watch cache (`--watch-cache false`) to verify.

[2020-12-10 21:26] jeremyje commented on #97210
/unassign pjh

[2020-12-10 21:29] aojea commented on #92306
let's close it, the job looks correct, if there are flaky tests, let's open ian issue per each test, but we should avoid use issues as placeholders

[2020-12-10 21:32] thejoycekung commented on #97200
A quick search of the [presubmit test run](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/97124/pull-kubernetes-integration/1336331091987927040) for `MergePatchType` shows that these ones were skipped ... so I guess the answer is they didn't pass, because they weren't run :smile:

![image](https://user-images.githubusercontent.com/13409103/101832373-47c68580-3b05-11eb-9c98-68eada76a91

[2020-12-10 21:34] aojea commented on #92306
/close

[2020-12-10 21:34] #92306 closed

[2020-12-10 21:37] geegeea commented on #68026
Can someone please review and let me know if I've done this right? #97167

[2020-12-10 21:38] andrewsykim commented on #96449
@zhutongcloud feel free to re-open if you run into issues on v1.19

/close

[2020-12-10 21:38] #96449 closed

[2020-12-10 21:44] marosset commented on #73434
The issue here is that docker on Windows is ignoring shutdown messages the kubelet is sending.
Kubelet itself things everything is OK and is behaving correctly.
We do not want to disable graceful termination behavior on Windows because this functionality does work if using containerd as the container runtime instead of docker.

[2020-12-10 21:47] liggitt commented on #97200
Ok, let's revert and try this with manual runs running long tests to figure out the failures

[2020-12-10 21:48] aojea commented on #97149
sorry, I realise my comment wasn't clear, if they want to reuse the name on both ports,  can they do it with the AppProtocol field without any additional API change?

 the " what happens if the user sets a non-service name in the AppProtocol field",  is something possible today,  if a user want to general DNS SRV records with a non-service name, they can do it today with the Port Name field

[2020-12-10 21:56] robscott commented on #94998
Hey @ScrapCodes, sorry for the delay on this! I'd done an initial review on @aojea's initial fix but had missed following up. I've left a follow up now.

[2020-12-10 22:13] jayunit100 commented on #96341
yeah we can close this i think reach out if @scardena you need anything else

[2020-12-10 22:13] jayunit100 commented on #96341
/close

[2020-12-10 22:14] #96341 closed

[2020-12-10 22:14] bridgetkromhout commented on #96034
/assign @aojea

[2020-12-10 22:18] thockin commented on #95948
It's not clear exactly what the FIX is, but it surely should not CRASH, even if it is a bad value.

[2020-12-10 22:18] bridgetkromhout commented on #95860
/assign @hanlins

[2020-12-10 22:18] dcbw commented on #96018
@mskrocki 1.8.4-10.el8_2.4 is latest in RHEL 8.3 which will likely show up in CentOS 8.3 at some point soon... happy to help you test those fixes out if you like.

[2020-12-10 22:24] bridgetkromhout commented on #95339
discussion on SIG-network: these tests need adjustment - either test both, or just from outside to NodePort.
/assign @aojea

[2020-12-10 22:24] mskrocki commented on #96018
@thockin I think this is strictly iptables issue.

@dcbw any chance to get the rpm for testing somehow? Yeah, I will try to get the iptables dump.

[2020-12-10 22:27] ahg-g commented on #97208
/triage accepted

[2020-12-10 22:32] dcbw commented on #96868
@couloum It looks like Ubuntu 20.04.1 that you referenced above still uses a 5.4 kernel. The patch that fixed the cases we root-caused landed in the 5.7 kernel:

https://github.com/torvalds/linux/commit/ea64d8d6c675c0bb712689b13810301de9d8f77a

That patch should no longer require offload to be turned off for interfaces handling the VXLAN traffic. Any chance you can try a later kernel somehow?

[2020-12-10 22:34] ahg-g commented on #97208
I considered this before, as Aldo mentioned in theory pod priority can be any int number (bounded by some large range). However, in practice, the number of classes in a cluster should be really limited. @logicalhan wdyt? is there a best practice for this use case?

[2020-12-10 22:35] BenTheElder commented on #95893
Sorry this dropped off my radar while OOO 🙃

I think it certainly makes sense, I think these logs are also very spammy in "real" clusters though, I think maybe the default should be adjusted in our binaries more generally.

[2020-12-10 22:41] ahg-g commented on #97111
I commented on the other issue regarding scheduling latency and priority class. Regarding this one, we have two options:

1) do something similar to pod resource metrics: https://github.com/kubernetes/kubernetes/pull/94866
2) you could query the api server directly, list all pending pods, and calculate how long they have been pending (each pod has a creation timestamp)

I don't think we have stron

[2020-12-10 22:47] mkhpalm commented on #97138
For us they stop working after updating kubelet to v1.19.x (all versions) and then start working again if you update to v1.20.0. That said, if you join a new node with v1.19.x the metrics work. It only seems to affect upgraded nodes.

[2020-12-10 22:56] invidian commented on #94337
Okay, I figured out how to run single conformance test finally (it wasn't straightforward :smile:) and it seems both tests are passing now, so :tada: So, if we want to keep this issue focused, I think my main concern is addressed (which was failing timeout in test) and I have a workaround for detecting proxy mode in e2e tests, so we can close the issue.

Going back to:

It seems listening either o

[2020-12-10 22:56] #94337 closed

[2020-12-10 23:06] salaxander commented on #87615
For my own clarity, this looks like it should be resolved by #95981, and that made it into 1.20 and was back ported to 1.19?

[2020-12-10 23:18] aojea commented on #96034
sorr for the late answer @maaoBit , but the flag `--cleanup` must have the same functionality than `--cleanup-ipvs`, actually I can see that it has implemented.

https://github.com/kubernetes/kubernetes/blob/58a1f1658dfecdbc03aef898f5ef8e26965861dd/cmd/kube-proxy/app/server.go#L164

In case that the `--cleanup` is not working we should fix it, but not recover the deprecated flag

[2020-12-10 23:25] BenTheElder commented on #95893
gRPC Go seems to have custom logger support already, we could shim it with a logger that remaps the log levels? I think the env only applies to the default built-in logger.

https://pkg.go.dev/google.golang.org/grpc@v1.34.0/grpclog

Why are we trying to connect to this anyhow?

[2020-12-11 00:39] #97210 closed

[2020-12-11 00:49] tallclair commented on #88253
@sftim - What I meant by that comment was, we shouldn't turn label selectors into generalized field selectors through "virtual labels". In other words, if we want field selectors, we should just add field selectors rather than shoe-horning them into label selectors.

[2020-12-11 01:02] s-ito-ts commented on #93782
This issue has not occurred recently and seems to have already been fixed.
I think we can close this issue.

[2020-12-11 01:33] #95727 closed

[2020-12-11 01:41] gavinfish commented on #97200
I have created a PR #97215 to temporarily mitigate this. Will investigate the root cause here soon.

[2020-12-11 02:35] mskrocki commented on #96018
Tried this again Today, and got same results with 100 services (15 ports each) with 100 replica deployment (150000 endpoints) using:
[code]
that I got by just running yum update, I assume that version is newer from what you suggested?

To add, those are logs from kube-proxy:
[code]
The iptables-save file has ~50MB, any suggestion on how to share that?

[2020-12-11 03:05] aliceroy opened #97218 "panic: runtime error: invalid memory address or nil pointer dereference"
**What happened**:
Dec  9 17:22:01 k8smaster1 kubelet: I1209 17:22:01.925640    7591 kubelet.go:1821] Starting kubelet main sync loop.
Dec  9 17:22:01 k8smaster1 kubelet: E1209 17:22:01.925746    7591 kubelet.go:1845] skipping pod synchronization - [container runtime status check may not have completed yet, PLEG is not healthy: pleg has yet to be successful]
Dec  9 17:22:01 k8smaster1 kubelet: E12

[2020-12-11 03:28] pacoxu commented on #97218
This is fixed in #88348

[2020-12-11 03:30] andrewsykim commented on #95727
Thanks @hanlins for fixing this one, definitely a tricky one to track down.

[2020-12-11 03:44] pacoxu commented on #96674
/triage accepted

[2020-12-11 03:45] pacoxu commented on #96674
/area kubelet

#96675 is waiting for review.

[2020-12-11 03:47] pacoxu commented on #97185
please log a ticket in the [Calico issue tracker](https://github.com/projectcalico/calico/issues).
if the Calico maintainers think this is a bug in core k8s, please open a new issue here with the feedback from them and reproduction steps.

You read calico-node container logs for further investigation.

/kind support
/close

thanks

[2020-12-11 03:47] #97185 closed

[2020-12-11 04:00] pacoxu commented on #97186
The YAML spec clearly says that the key order within a mapping is a "representation detail" that cannot be relied on.
https://stackoverflow.com/a/13299006/1926952

To get pod name directly
- kubectl get -o template pod  nginx-deployment-6ddf7bdf96-k4tbv --template={{.metadata.name}}
- kubectl get pod  nginx-deployment-6ddf7bdf96-k4tbv  -o  jsonpath={.metadata.name}

You may have to do your specifi

[2020-12-11 04:24] frasertweedale commented on #97149
@thockin #47249 is a different issue from this.  Specifically the issue comment https://github.com/kubernetes/kubernetes/issues/47221#issuecomment-307388031 upon which #47249 is based relates to Service ports with different `name` values, and is related to merge/PATCH behavoiur.  This issue is about enabling service ports to have the *same* `name` value (or some other way of creating EndpointPorts

[2020-12-11 04:32] #97142 closed

[2020-12-11 04:44] frasertweedale commented on #97149
I disagree.  From what I have seen, the purpose of `appProtocol` is to convey to routing/balancing/ingress systems information about transport or underlying application-layer protocols used by the service.  For example, if a service uses HTTP, you could set `appProtocol` = `HTTP`.  But it would be inappropriate if this resulted in the creation of an `_http._tcp.<the-rest>` SRV record.

So yes, unq

[2020-12-11 04:46] ryanli-me commented on #94966
Any updates? I've been getting `"DuplicateListener: A listener already exists on this port for this load balancer` and `InvalidConfigurationRequest: You cannot change the health check protocol for a target group with the TCP protocol` (which I'm not changing health check protocol)

[2020-12-11 04:56] #82883 closed

[2020-12-11 05:11] hanlins commented on #95727
Thanks for all the patience and team efforts on getting this issue fixed, also credits to @bobbypage on the guides and discussions, won't be able to get it done without your helps!

[2020-12-11 06:48] aliceroy opened #97222 "@aliceroy: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:"
@aliceroy: There are no sig labels on this issue. Please add an appropriate label by using one of the following commands:
- `/sig <kubeadm>`
- `/wg <area>`
- `/committee <group-name>`

Please see the [group list](https://git.k8s.io/community/sig-list.md) for a listing of the SIGs, working groups, and committees available.

<details>

Instructions for interacting with me using PR comments are avail

[2020-12-11 06:49] #97222 closed

[2020-12-11 06:58] lala123912 commented on #96587
Yeah, the threshold will have a default value, and this will be useful for debug to recurring problem   in a lager cluster. @lavalamp

[2020-12-11 07:19] uablrek commented on #73628
I'll look at it, but I must do some other things first. Here seems to be the place;
https://github.com/kubernetes/kubernetes/blob/873e928beada71a7eba7c44378cb8e38563431ae/pkg/quota/v1/evaluator/core/services.go#L130-L134

The fix is to not count NodePorts for type LoadBalancer if `AllocateLoadBalancerNodePorts == false` assuming is can't be "false" unless the feature-gate is set (or has been set).

[2020-12-11 07:32] Jiawei0227 commented on #96494
Another data input:

The raw block snapshot should also be covered in the provisioning test. Because it will also test the ability to create, restore snapshot.
We have found the test failure recently, for example: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-csi-1-19-on-kubernetes-master/1337120769133514752

The reason why it was not captured early is because the combination

[2020-12-11 07:35] MrAmbiG commented on #85624
This still fails if the block is rwx (readwritemany).

[2020-12-11 07:55] driversti commented on #69774
Same here. Spring Boot app has finished successfully but a cronjob is not completed

[2020-12-11 08:02] maplain opened #97225 "healthCheckNodePort depends on the default iptables chain policy to be accessible externally"
**What happened**:
When the default policy for filter table INPUT chain is DROP, external query on Service's "spec.healthCheckNodePort" is dropped.

**What you expected to happen**:
kube-proxy should manage iptable rules for "spec.healthCheckNodePort" similar to what it does for "NodePort". It also should ensure once "spec.healthCheckNodePport" is allocated, it's accessible regardless of the defau

[2020-12-11 08:02] maplain commented on #97225
/sig network

[2020-12-11 08:25] JokerDevops opened #97226 "kubernetes service failed to maintain session"
**What happened**:

I set `sessionAffinity: ClientIP` , But he did not keep my session, when I log in to my application, he always prompts me to log in again.

**What you expected to happen**:

I want to log in to my application service normally. Way four through session authentication.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Envir

[2020-12-11 08:40] kong62 opened #97227 "maxSurge 0 not working"
**What happened**:
I set `maxSurge: 0` in deployment, but it not working, pod will Pending
[code]
**What you expected to happen**:
no Pending

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
v1.16.9

[2020-12-11 08:43] kong62 commented on #97227
/sig apps

[2020-12-11 08:51] MicDeDuiwel commented on #97125
I have not but will do thanks.
My investigations has revealed so far that this isn't an issue affecting inter-pod or inter-node communications and that the connection reset by peer issue isn't occurring when doing port-forwards, tailing logs, or proxying on the master nodes themselves.
So it could be a network issue on my side, or kubectl issue?

[2020-12-11 09:00] #93017 closed

[2020-12-11 09:07] Raffa50 commented on #97109
I have missed to configure metalLB (create a config map)
then I have setted ingress-nginx-controller to be loadBalancer
works perfectly

[2020-12-11 09:09] zhangguanzhang commented on #34672
`pkg/kubelet/config/flags.go`
[code]
could use the option `--experimental-dockershim-root-directory` which had been hidden to change the `DockershimRootDirectory` from `/var/lib/dockershim` to others

[2020-12-11 09:39] francisnijay1 opened #97230 "Volumeattachments are not being removed on deleting pods"
**What happened**: Volumeattachments are not being removed when a pod is deleted. This happens for some random storage classes based PVC while the remaining pods are having volumeattachments removed properly.

**What you expected to happen**: Kubelet has to remove the volumeattachment which will make the external attacher(v3.0.0) to call ControllerUnpublish

**How to reproduce it (as minimally and

[2020-12-11 09:45] lala123912 commented on #97227
You could describe the pod to get the error msg in details.

[2020-12-11 10:01] #89392 closed

[2020-12-11 10:01] #93051 closed

[2020-12-11 10:19] howieyuen commented on #97040
error is here:  **storage_version_filter_test.go:78: "writes to CR" should be allowed, got the server could not find the requested resource**
it seems that apiserver cannot recognize the post custom resource, but I can't figure why...
[code]

[2020-12-11 11:15] pacoxu commented on #97138
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/metrics/collectors/volume_stats.go#L91-L126

These metrics are added only if pods have some new pvc volume stats.

kubele_metrics_* metrics will  ignore if no PVC reference or already collected

After I create a pod using nfs, the metrics appears in my kubelet.

[2020-12-11 11:21] pacoxu commented on #97138
After restarting kubelet, the metrics is not found.
[code]
After new nfs volume and pod are created, metrics goes correctly.

[code]

[2020-12-11 12:27] joshiste commented on #97190
One solution to the problem could be extending the CRI to alter the containerd/runc namspace for the custom containers, so that not k8s.io is chosen....

[2020-12-11 12:41] #96886 closed

[2020-12-11 13:00] sysrich opened #97234 "kubeadm v1.20.0 incorrectly tries to use etcd 3.4.9 for v1.19.4 clusters"
**What happened**:

Found while testing kubeadm 1.20 for openSUSE Kubic in openQA. The test attempted to bootstrap a simple kubernetes 1.19.4 cluster with `kubeadm init --kubernetes-version=1.19.4` but this test failed, complaining it could not find a etcd container with tag `etcd:3.4.9-1` - etcd 3.4.9 images were removed from our registry after the recent CVE, which was resolved by 3.4.13, which

[2020-12-11 13:25] answer1991 commented on #94532
/lifecycle stale

I'm still working on it, a new golang version(1.16 or 1.15.7+) release required

[2020-12-11 13:26] answer1991 commented on #94622
/lifecycle stale

I'm still working on it, a new golang version(1.16 or 1.15.7+) release required

[2020-12-11 13:27] answer1991 commented on #92406
/lifecycle stale

[2020-12-11 13:34] Anil-YadavK8s commented on #94563
We facing the same issue. When accessing a service from its own POD --> SNAT is happening (Service is type LoadBalancer with ExternalTrafficPolicy=Local)

admin@control-plane-2~> kubectl exec pod-1 -it -- curl 10.217.100.70:80 -----> This is LoadBalancer service ip of Pod-1
CLIENT VALUES:
client_address=10.0.10.105 ===============> This is Node IP .....It should be POD-1 IP
command=GET
real path=/

[2020-12-11 14:05] #92464 closed

[2020-12-11 14:26] RobertKielty commented on #94931
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1334364457081507840

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-conformance-kind-ga-only/1337085791255400448

[2020-12-11 14:51] tosi3k opened #97239 "[Flaky test] [sig-network] Networking Granular Checks: Services should update nodePort: http"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1337366985960329216

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

/sig scalability
/sig network

[2020-12-11 15:01] gavinfish opened #97240 "ApiServer: Inconsistent behaviors for MergePatch and JsonPatch with invalid patchBytes"
**What happened**:

This issue is revealed in #97200.

When patchBytes cannot be Unmarshaled for both MergePatch and JsonPatch, these two types will return different error types. MergePatch will return the unmarshal error "Invalid JSON Patch" and JsonPatch will return converted badRequest error.

**What you expected to happen**:

Both MergePatch and JsonPatch should return badRequest when invalid

[2020-12-11 15:02] gavinfish commented on #97240
/sig api-machinery

[2020-12-11 15:03] pacoxu commented on #97234
/assign

[2020-12-11 15:26] ialidzhikov opened #97241 "v1.17.15 release artifacts versions are reported as v1.17.16-rc.0"
/kind bug
/kind regression
/sig release

**What happened**:
[code]

And this results in
[code]

**What you expected to happen**:

The version to be reported as non `-rc.0`. As it is done for all hyperkube releases before.
[code]

**How to reproduce it (as minimally and precisely as possible)**:
See above

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl vers

[2020-12-11 15:27] runzexia opened #97242 "emptydir unmount slow"
**What happened**:
sometimes `emptydir` unmount very slow in our cluster, it cause creating pods(which need mount volume) very slow.

**What you expected to happen**:
emptydir unmount fast

**How to reproduce it (as minimally and precisely as possible)**:
maybe write a lot of data to the volume?
**Anything else we need to know?**:
![image](https://user-images.githubusercontent.com/31230341/1019215

[2020-12-11 15:27] runzexia commented on #97242
/sig storage

[2020-12-11 15:32] pacoxu commented on #97234
According to https://github.com/etcd-io/etcd/pull/12252/files, the cve is fixed in 3.4.13+ & 3.3.25+ & 3.5+.
- #94141 : Fix CVE-2020-15106 and CVE-2020-15112.

Should we upgrade all etcd versions which has the issue in 1.19 or 1.18?

[2020-12-11 15:33] Eddman commented on #97241
Just installed using `kubeadm` into our staging cluster and see the same :smile:

[2020-12-11 15:36] pacoxu commented on #97234
https://github.com/kubernetes/kubernetes/blob/release-1.19/cmd/kubeadm/app/constants/constants.go#L436
[code]

https://github.com/kubernetes/kubernetes/blob/release-1.20/cmd/kubeadm/app/constants/constants.go#L472
[code]

[2020-12-11 15:36] ialidzhikov commented on #97241
This is not the first time we see such GitVersion mismatch - see https://groups.google.com/g/kubernetes-dev/c/Mhpx-loSBns/m/txJpuD9_DQAJ. As I commented in https://github.com/kubernetes/release/issues/1020#issuecomment-575390803, such GitVersion mismatch is breaking any existing version comparison logic.

[2020-12-11 16:20] wojtek-t commented on #94256
There was definitely a bug there in the past (we started hitting problems immediately after migrating to containerd).

That said - I don't know if that has been fixed in the meantime (e.g. by our update of containerd version). We added some mitigations on scalability tests side - we may try to remove them and see what will happen.

@mm4tt @jprzychodzen @jkaniuk - thoughts?

[2020-12-11 17:08] #93055 closed

[2020-12-11 17:31] aojea commented on #92708
/close
it seems we are good here

[2020-12-11 17:31] #92708 closed

[2020-12-11 18:04] caesarxuchao commented on #87615
#95981 was merged to 1.20, and was cherry-picked to 1.19 in #96770.

/close

[2020-12-11 18:04] #87615 closed

[2020-12-11 18:05] ymmt2005 commented on #86509
/remove-lifecycle stale

[2020-12-11 18:09] #90176 closed

[2020-12-11 18:19] cheftako commented on #95893
Not sure on the use case. The konnectivity server is the replacement for SSHTunnels.  One of the possible configurations is to connect to it via UDS. I would point out that it is disabled by default. So I would assume if it is the use case, its a use case where it has been deliberately turned on. I believe its already been adopted by more companies that SSHTunnels ever was.

[2020-12-11 18:33] scottweitzner commented on #7890
+1 This would be an incredibly helpful feature for my team. Any updates?

[2020-12-11 18:53] szuecs commented on #25238
@bgrant0607 does it still hold true that it's not stable?
I am not sure, but I expect that this will work correctly and not be reset.

[2020-12-11 19:07] apelisse commented on #25238
@jpbetz has solved this bug in 1.19, I don't think the fix has been cherry-picked. It should work like this now:
1. If an HPA (or another actor) has changed the value of replicas and you remove it from your config before running server-side apply, the value will be kept as-is
2. If you're the only actor that has changed replicas, it'll get reset when you remove it and server-side apply

Would that

[2020-12-11 19:24] avorima commented on #86509
@ymmt2005 This issue was fixed in Kubernetes 1.20. If you rerun my test setup with `--cascade=foreground` the parent secret is not deleted until the child secret's finalizer is removed.

[2020-12-11 19:31] MikeSpreitzer opened #97248 "Confusing comment on DeltaFIFO"
**What happened**:
The implementation of DeltaFIFO was generalized in #96797 to the point where there is no longer any restriction on producers.  But there remains a comment saying "single producer" and Reflector being the only intended producer, which suggests that there is some limit on functionality or support for other cases.

**What you expected to happen**:
I expected the comments to be upda

[2020-12-11 19:32] MikeSpreitzer commented on #97248
@kubernetes/sig-api-machinery-bugs
@jqmichael

[2020-12-11 19:35] ymmt2005 commented on #86509
@avorima Thank you for sharing it!

[2020-12-11 19:36] Huang-Wei commented on #93782
Yes, #95807 was expected to get it fixed.

/close

[2020-12-11 19:36] #93782 closed

[2020-12-11 19:38] szuecs commented on #25238
@apelisse seems so, thanks for your answer!
I think 1. should have caught us, but we are also in progress to update to 1.19 from 1.18.

[2020-12-11 20:15] bduffany commented on #73692
@cben looks like the CI robot ignored you

[2020-12-11 20:24] hanlins commented on #95860
Hi @ali-raza-tariq, I think this is caused by the nature of container network. There's a [paper](http://ranger.uta.edu/~jrao/papers/INFOCOM18.pdf) on container network performance, and generally container network performance drops a lot, quote from the study:

I think that data matches your observation pretty well despite setup/version difference. In that study however, it didn't cover SR-IOV. I w

[2020-12-11 20:45] ali-raza-tariq commented on #95860
@hanlins I understand there is an overhead which would be very clear in terms of latency. but my concern is regarding utilization of network capacity which should still be possible over longer periods, like I mentioned a benchmark in one of my comments, the article shows how you can still saturate the 10 Gbits/s link. Furthermore, I have been testing with various network configurations (my cluster

[2020-12-11 20:47] #96313 closed

[2020-12-11 21:09] thockin commented on #73628
The field is a pointer, so simply checking it for nil should have the same
effect as the gate, though the gate is a bit clearer IMO.

Thanks!

On Thu, Dec 10, 2020 at 11:19 PM Lars Ekman <notifications@github.com>
wrote:

[2020-12-11 21:12] #90588 closed

[2020-12-11 22:44] aojea commented on #97239
it failed once, and we have a patch to improve the test
https://github.com/kubernetes/kubernetes/pull/97249

let's see how it evolves

[2020-12-11 23:53] mauri870 commented on #13488
I was using a custom command for that [1], glad it is now in the standard kubectl! Thanks

[1] https://github.com/mauri870/kubectl-renew

[2020-12-12 00:17] lukasmrtvy commented on #13358
What about EndpointSlice ?
[code]

[2020-12-12 01:05] dcecile opened #97256 "Provide ServiceAccountTokenProjection migration example"
**What would you like to be added**:

When switching from old `automountServiceAccountToken` to the new `ServiceAccountTokenProjection`, it would be helpful to have an example of equivalent configuration.

The old automount creates 3 files:

[code]

If [the docs for service account token projection](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/#service-account

[2020-12-12 01:33] Huang-Wei commented on #97039
This should have been greatly mitigated by #96990. Feel free to reopen it.

/close

[2020-12-12 01:33] #97039 closed

[2020-12-12 01:34] Huang-Wei commented on #96748
/triage accepted

[2020-12-12 02:10] yuanchen8911 commented on #97208
We currently have 6 priority classes and want to define SLOs for pods with top 2 priority classes.

[2020-12-12 02:13] yuanchen8911 commented on #97111
Thanks, it's helpful. We'll look at both options and have more discussions if needed.

[2020-12-12 02:18] dcecile commented on #97256
@k8s-ci-robot /sig auth

[2020-12-12 02:19] dcecile commented on #97256
/sig auth

[2020-12-12 02:41] MikeSpreitzer commented on #96942
@victor-timofei : go ahead, and thanks!

[2020-12-12 05:50] chrisliu1995 commented on #97180
I propose to add a new annotation to service that represents the tags of a related resource on AWS.

**Why it's necessary？**

We use cloud provider as our infrastructure, which has multiple projects on it. For these projects, we need to do a secondary classification and charging. Tags are suitable for to do such a thing.

**How to implement?**

If a service has an annotation for a related resource

[2020-12-12 08:20] angelosanramon opened #97260 "Iptables creates reject entries in KUBE-SERVICES chain."
**What happened**:
Installed kubernetes-dashboard on a newly deployed kubernetes 1.19.4 cluster. The kubernetes-dashboard pod is stuck in a crashloopbackoff. A reject entry is getting created in iptables on KUBE-SERVICES chain. I get the following error:
[code]
The kubernetes-dashboard pod logs shows:
[code]
iptables reject entries gets created after install:
[code]
**What you expected to happen**

[2020-12-12 09:13] cwdsuzhou commented on #94009
/cc

[2020-12-12 13:20] zx8 commented on #90329
/remove-lifecycle stale

[2020-12-12 14:03] #88458 closed

[2020-12-12 14:51] andrewsykim commented on #97225
If I have a default `DROP` policy for the `INPUT` chain and kube-proxy adds rules to allow `nodePorts` but not `healthCheckNodePorts`, that seems like a bug to me.

I guess this hasn't been a problem before since most nodes would have `ACCEPT` as the default `INPUT` policy. Asking users to change their default policy from `DROP` to `ACCEPT` to use `healthCheckNodePorts` seems like asking too much.

[2020-12-12 17:09] conrallendale commented on #22368
Sorry for the late response. I was on a middle of job transition, so I didn't have much time to follow this issue.

I think we're not going to found a perfect solution here. It's very clear at this point that the kube team are not open for such a big change on the way configmap works, generating new configmaps automatically, which would be the best solution.

My proposal here is to select the simp

[2020-12-12 17:23] victor-timofei commented on #96942
Thanks!
/assign

[2020-12-12 18:32] #77666 closed

[2020-12-12 19:20] maplain commented on #97225
/assign maplain

[2020-12-12 20:18] goshlanguage commented on #74151
/remove-lifecycle stale

[2020-12-12 22:36] #91963 closed

[2020-12-13 02:40] #93105 closed

[2020-12-13 03:23] liggitt commented on #97256
/assign @zshihang

[2020-12-13 04:42] #92378 closed

[2020-12-13 04:42] #92958 closed

[2020-12-13 05:41] ximenzaoshi opened #97262 "Optimize the memory usage."
**What would you like to be added**:
- Pod managed by deployment can be stored in memory in a more memory friendly way. As all the pod specs are almost the same(except for the `Nodename` field?). We can share one copy in the memory, instead of thousands of it. And we can even store less information in etcd by the same way.
- Optimize the serialization. Most of the memory are consumed by serializat

[2020-12-13 05:44] ximenzaoshi commented on #97262
/sig sig-api-machinery

[2020-12-13 07:11] eranreshef commented on #95546
well if the behaviour is fixed so that static pods are always started regardless of the certificate-rotation flag, than there will be no need to fixed the documentation.

[2020-12-13 08:21] SataQiu commented on #97203
/cc

[2020-12-13 09:21] alireza1371 commented on #86401
any update guys?!

[2020-12-13 10:09] akashagarwal7 commented on #38075
I've got the same issue. I need to change the expiry time to 1 year back as @grant-zietsman pointed out.

[2020-12-13 11:16] aporcupine opened #97264 "Kubernetes packages.cloud.google.com repo sometimes returns 404"
**What happened**:

1. Add `deb https://apt.kubernetes.io/ kubernetes-xenial main` to /etc/apt/sources.list
2. Run an apt update
3. 1/2 of the time an error occurs showing a 404 from `https://packages.cloud.google.com/apt/dists/kubernetes-xenial/main/binary-arm64/by-hash/SHA256/b7b1a18f5c904c827f404ea5d6be989d6132654e6e3854e398c266ed5fe1ad00`
4. Manually completing a curl of this URL results in ei

[2020-12-13 13:07] yehiyam commented on #94892
@gjkim42 I'm trying to reach sig-node (as @jayunit100 suggested). No luck so far. If you want to you can give it a try

[2020-12-13 14:39] jayunit100 commented on #87123
Probably we should sketch out the original issue comment:

Sounds like the goal here is to work out the

[code]

stuff on https://github.com/kubernetes/kubernetes/pull/82462/files#diff-1ff8cd4c80bb86e4459cb906d7003774bc4abc3ca123d802c480569df47c440aR155 .

Tims comment there was:

[code]

[2020-12-13 15:55] gavinfish opened #97267 "Scheduler: Do not take nil plugin status as success"
Currently a `Status` struct is also considered as success in scheduler framework. This is tricky and confused. Find a way to clean it up.

https://github.com/kubernetes/kubernetes/blob/87984d84d18c7816835e5efedebb17ed13aa2509/pkg/scheduler/framework/interface.go#L95-L104

/sig scheduling
/kind cleanup
/priority backlog

[2020-12-13 16:07] ahg-g commented on #97267
I don't understand the confusion here, a nil status is success.

[2020-12-13 18:35] aojea opened #97268 "GCE Serial Kube-DNS jobs are failing due to some [Disruptive] tests"
**Which jobs are failing**:

https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns
https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns-nodecache

**Which test(s) are failing**:

some new [Disruptive] tests were added recently that seems to fail

**Since when has it been failing**:

It seems it started to fail 12/12

[2020-12-13 18:35] aojea commented on #97268
/sig network
ping @MrHohn @prameshj

[2020-12-13 18:50] vipinjn24 opened #97269 "Controller-manager and Scheduler is not listening on ports 10251-10252"
Hi,

I have installed kubernetes using kubeadm tool and has version 1.20.0

but it seems that the controller-manager and scheduler is not listening on 10251 and 10252 ports.
due to this prometheus is unable to etch the metrics from both of them.

I tried to use custom values file for kubeadm init and added 0.0.0.0 as addresses for both of them but it seems that it is still not listening and these

[2020-12-13 18:52] vipinjn24 commented on #96304
I guess this is the case that CIFS mounts is not compatible and cannot be used as regular storage and cannot initialize pods that needs dev supported mount.
if this cannot be done please mark this as closed.

[2020-12-13 19:07] vipinjn24 commented on #97269
/sig node

[2020-12-13 20:45] arjunagl commented on #95488
/unassign

[2020-12-13 20:54] Riaankl opened #97271 "Write Read Status, Patch & List APIService test +3 endpoints"
# Progress <code>[1/6]</code>

-   [X] APISnoop org-flow : [Read-Patch-Status-for-APIService-Test.org](https://github.com/apisnoop/ticket-writing/blob/master/Read-Patch-Status-for-APIService-Test.org)
-   [ ] test approval issue : [kubernetes/kubernetes#](https://github.com/kubernetes/kubernetes/issues/)
-   [ ] test pr : kuberenetes/kubernetes#
-   [ ] two weeks soak start date : testgrid-link
-

[2020-12-13 21:08] Riaankl commented on #97271
/triage accepted

[2020-12-13 21:25] Sebosek commented on #71647
Just happened to me too.

![image](https://user-images.githubusercontent.com/372542/102024387-07c80280-3d92-11eb-85f9-7198b087694c.png)

[2020-12-13 21:43] jar349 commented on #88574
This happened to me as well and I had to go through [these steps](https://kubernetes.io/docs/tasks/administer-cluster/configure-upgrade-etcd/#restoring-an-etcd-cluster) and then reconfigure to use the new, restored, etcd cluster.

[2020-12-13 23:03] prameshj commented on #97268
looks like these new tests never passed.

One of the failures is due to mount failing:

[code]

These tests are failing in the gce-serial tab as well - https://testgrid.k8s.io/sig-network-gce#gci-gce-serial

Passing on to sig storage to help triage. We can skip those tests in our gce test config, if that is the recommendation.

[2020-12-13 23:03] prameshj commented on #97268
/sig storage

[2020-12-13 23:23] aojea commented on #97268
Those tests seems new, there is no previous history, maybe they were added recently ?

[2020-12-13 23:42] dims commented on #88574
@mamiapatrick rancher problems, please contact rancher. etcd problems, please contact the etcd community. thanks!

[2020-12-14 00:09] pjbgf opened #97273 "Inconsistent behaviour of init containers when Pod has invalid security profiles (apparmor vs seccomp)"
**What happened**:

Pods with invalid container-level seccomp profiles allow its init containers to be executed. Pods with unloaded apparmor profiles blocks the entire pod.

**What you expected to happen**:

Consistency between both. In one hand AppArmor blocks all pod execution regardless of the containers having or not a profile attached to it. On the other, Seccomp allows for an init container

[2020-12-14 00:10] pjbgf commented on #97273
/cc @saschagrunert @tallclair

[2020-12-14 00:53] guoh1988 commented on #97118
@pacoxu metrics-server version 2.5.0

[2020-12-14 00:54] brianmay opened #97275 "DualStack: IPv6 not accessible from outside the cluster"
On my dual stack cluster, I have a service that has an external IPv6 address:

[code]

This has been added as an address to my `kube-ipvs0` network device on the pods, same as for IPv4:

[code]

But this address is not accessible from outside the cluster. As in IPv6 NDP requests get ignored. If I manually add the address to my Ethernet device, it works. And continues to work after I delete the add

[2020-12-14 00:56] guoh1988 commented on #97118
@serathius pls help check

[2020-12-14 00:57] brianmay commented on #97275
/sig network

[2020-12-14 01:07] lingsamuel commented on #97262
/sig api-machinery

[2020-12-14 01:09] lingsamuel commented on #97262
/sig scalability

[2020-12-14 01:25] wyf010530 commented on #92671
Nb

[2020-12-14 01:58] timoreimann commented on #88902
/remove-lifecycle rotten

[2020-12-14 02:03] #92374 closed

[2020-12-14 02:38] YumiSuki commented on #55713
I am also seeing this issue on v1.19.2

[2020-12-14 03:05] denkensk commented on #91492
/remove-lifecycle stale

[2020-12-14 03:10] lyr5333 opened #97277 "When stress testing a 4-node k8s cluster, the cluster cannot be fully loaded"
**What happened**:
   During the stress test for a 4-node cluster, I used several different test cases for pressure testing. The maximum CPU load of the whole cluster is only 30%. There is no performance bottleneck in the test client. Does k8s need to expand some native components or modify configuration files to improve CPU utilization
**What you expected to happen**:
I hope the utilization rate

[2020-12-14 03:11] lyr5333 commented on #97277
![image](https://user-images.githubusercontent.com/56923025/102036171-1f88a080-3dfd-11eb-94a5-780fef9fb3b8.png)

[2020-12-14 03:12] warmchang commented on #92287
/remove-lifecycle stale

[2020-12-14 03:14] lyr5333 commented on #97277
There is something wrong with the picture display

k8s-mster1 configured as 24 core 64g
node1 configured as 32 core 64g
node2 configured as 56 core 512g
node4 configured as 56 core 512g

[2020-12-14 03:18] pacoxu commented on #92287
Some limitations in the KEP as https://github.com/kubernetes/enhancements/pull/1907#discussion_r488976076

Another proposal is like 3 levels
- unlimited
- fair
- priority with weight

New Scenarios in https://github.com/kubernetes/kubernetes/issues/27000#issuecomment-671764960

- big data

[2020-12-14 04:33] jqmichael commented on #97248
Thanks @MikeSpreitzer!

[2020-12-14 05:23] sudo-justinwilson commented on #96733
It was actually the node-termination-handler that was responsible for this.

[2020-12-14 05:38] japzio commented on #13488
@countrogue

[2020-12-14 06:15] chrisliu1995 commented on #97180
@nckturner @M00nF1sh @micahhausler @anguslees

[2020-12-14 06:41] Mrpingdan opened #97281 "How to verify that the yaml format syntax is correct?"
How to verify that the yaml format syntax is correct?

[2020-12-14 06:42] qsyqian commented on #97260
I think it is not the situation what you said.
your kubernetes-dashboard CrashLoopBackOff because in pod you have no route to your kube-apiServer(in your env the service IP of kube-apiServer is 10.32.0.1). what you shoud do is to dig why it has no route to tcp 10.32.0.1:443 in your dashboard container.
the iptables you said above is created by kube-proxy because your kubernetes-dashboard service h

[2020-12-14 06:46] Sh4d1 commented on #97178
Hum, not sure it is linked but:
[code]

[2020-12-14 06:47] CKchen0726 commented on #97267
// Code returns code of the Status.
func (s *Status) Code() Code {
	if s == nil {
		return Success  **// NOTE: A nil Status is also considered as Success. I am not sure another status code will be better.**
	}
	return s.code
}

[2020-12-14 07:17] traitor6789 commented on #61178
Error from server (BadRequest): container "packetbeat" in pod "packetbeat-rqpwb" is waiting to start: CreateContainerConfigError

any one know the reason...i am using kubeadm cluster and docker version is 19.03

[2020-12-14 07:19] traitor6789 commented on #61178
docker and server ver 19.03.13
need urgent response
 Version:           19.03.13
 API version:       1.40
 Go version:        go1.13.15
 Git commit:        4484c46d9d
 Built:             Wed Sep 16 17:02:36 2020
 OS/Arch:           linux/amd64
 Experimental:      false

Server: Docker Engine - Community
 Engine:
  Version:          19.03.13
  API version:      1.40 (minimum version 1.12)
  Go vers

[2020-12-14 07:21] traitor6789 commented on #61178
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: packetbeat-config
  namespace: default
  labels:
    k8s-app: packetbeat
    kubernetes.io/cluster-service: "true"
data:
  packetbeat.yml: |-
    setup.dashboards.enabled: true
    setup.template.enabled: true

    setup.template.settings:
      index.number_of_shards: 2

    packetbeat.interfaces.device: any

    packetbeat.protocols:
    - typ

[2020-12-14 07:54] pacoxu commented on #17362
https://github.com/kubernetes/website/pull/19106 has already added some extra intro for [dns label names and dns sub-domain names](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-subdomain-names).

[2020-12-14 08:34] lgmorand commented on #94761
Same issue here. that's not a logical behavior. Once a version (1.16) does not serve an api version, I do expect the new one (networking) being the default one when exporting. Why would I export a version which is already deprecated for this specific version of the cluster ?

[2020-12-14 09:22] dpoetzsch commented on #70732
I don't see a problem with specifying both secrets together at top level. Am I missing something?

[2020-12-14 09:30] flyte commented on #70732
Does it keep trying each individual secret until one works? When using, for
example, GitLab deployment keys, each image has its own credentials, but
the registry address is always registry.gitlab.com.

On Mon, 14 Dec 2020, 09:22 David Poetzsch-Heffter, <notifications@github.com>
wrote:

[2020-12-14 09:30] serathius commented on #97118
If I understood correctly, if not with Metrics Server is lost, then new metrics server instance is created but kube-apiserver is still connected to old one. Is this true?

[2020-12-14 10:07] readerx opened #97283 "Redhat 8 install kubernetes, that can't communication between the podip"
**What happened**:
Redhat 8 install kubernetes, that can't communication between the podip

**How to reproduce it (as minimally and precisely as possible)**:
install kubernetes in redhat 8.
[code]

podA (busybox): 10.254.219.69
podB (nginx): 10.254.219.68，listen 80 tcp port

kubectl exec -it podA -- sh
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2020-12-14 10:11] #92676 closed

[2020-12-14 10:14] pacoxu commented on #97153
`Conflict container name` is just a warning.

https://github.com/kubernetes/kubernetes/blob/433c3d57cca8bd59889e126df3e5e2975d530972/pkg/kubelet/dockershim/docker_container.go#L195-L198

https://github.com/kubernetes/kubernetes/blob/fe1aeff2d2341e3d9a553534c814ad40f8219e35/pkg/kubelet/dockershim/helpers.go#L284-L292

kubelet will be  try to remove the old container and create new container.

what

[2020-12-14 10:14] pacoxu commented on #97153
/kind support
/remove-kind bug

[2020-12-14 10:17] #97234 closed

[2020-12-14 10:25] readerx commented on #97283
/sig network

[2020-12-14 11:55] gjkim42 commented on #94335
/assign

[2020-12-14 12:34] gjkim42 commented on #94335
I think almost anyone using BTRFS as the root filesystem has encountered this issue.
If https://github.com/google/cadvisor/pull/2744 is merged and applied to the kubernetes, this can be fixed.

Please take a look at this [PR](https://github.com/google/cadvisor/pull/2744)?

[2020-12-14 13:02] josephburnett commented on #96671
/assign josephburnett

[2020-12-14 13:06] josephburnett commented on #92515
As I recall, the mechanism for disabling scaling is a direction is to set `SelectPolicy: Disabled` (https://godoc.org/k8s.io/api/autoscaling/v2beta2#ScalingPolicySelect).  Perhaps we just need to update the KEP?

[2020-12-14 13:06] shashankv02 commented on #92586
/remove-lifecycle stale

[2020-12-14 13:24] sftim commented on #97283
This looks like a request for advice. The steps to reproduce: “install kubernetes in redhat 8” might not be detailed enough to replicate the issue, even knowing that Calico was also used.

/kind support

[2020-12-14 13:25] sftim commented on #97281
@Mrpingdan, GitHub is not the right place for support requests.

For help, check the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/)
or our [Discussion Forums](https://discuss.kubernetes.io).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

[2020-12-14 13:29] Teja1126 commented on #97153
Hi @pacoxu

thnak for reply.

may be here image getting corrupt is wrong word.
What happen here is pods are going to crash loop back with above error.
untill i stop kubelet services and etcd services.
then delete all my containers and reboot the node theis error i can avoid but if i reboot the node agin ending up into same error.

[2020-12-14 14:00] gavinfish commented on #97267
@ahg-g I think it is more clear to return a `framework.NewStatus(framework.Success)` whenever we need a success status. I know there are cases when we want to let both uninitialized  status and success status to pass, in such cases we check `status == nil || status.IsSuccess()` instead of taking `nil.IsSuccess()` as success. So that we can prevent anyone use use nil as success status when it is un

[2020-12-14 14:09] ahg-g commented on #97267
In golang we treat nil error as success, framework.Status is following the same pattern.

[2020-12-14 14:28] pacoxu commented on #97153
I cannot reproduce it in my 1.19.4 kubeadm cluster.
Can it be reproduced in your other clusters?

`Back-off restarting failed container`
As you said, the pod runs after image pulls again ?

Suspect it to be an upgrading issue. Not quite familiar with kubespary.
Maybe, another member can help you.

[2020-12-14 14:49] thejoycekung opened #97287 "[Failing Test] [sig-storage] Several In-tree Volumes tests failing (ci-kubernetes-e2e-gci-gce-serial)"
**Which jobs are failing**:
`ci-kubernetes-e2e-gci-gce-serial`

**Which test(s) are failing**:
- `In-tree Volumes [Driver: local][LocalVolumeType: dir] [Testpattern: Pre-provisioned PV (block volmode)] disruptive[Disruptive][LinuxOnly] Should test that pv used in a pod that is deleted while the kubelet is down cleans up when the kubelet returns.`
- `In-tree Volumes [Driver: local][LocalVolumeType:

[2020-12-14 15:16] angelosanramon commented on #97260
I have not a clue why kube-proxy is creating an iptables reject rule in KUBE-SERVICES chain. To go around this I just turned off iptables and created calico global network policies to secure my cluster network.

[2020-12-14 15:16] #97260 closed

[2020-12-14 15:23] gavinfish commented on #97267
/close

[2020-12-14 15:24] #97267 closed

[2020-12-14 15:31] ahg-g commented on #96252
/triage accepted

[2020-12-14 15:34] aojea commented on #97275
Because the addresses is added to an internal inteface you have to "route" it, is not in the same broadcast/local domain so NDP will not work. You have to add a route to that IP through one of the nodes-

@uablrek what is a good way to expose externalIP with IPVS? using metallb is a good one, right? or is better to use LoadBalancers instead of externalIPs?

[2020-12-14 15:40] cmluciano commented on #94776
/remove-lifecycle stale

PR is open to finish remaining work items

[2020-12-14 15:49] alculquicondor commented on #95445
I'm thinking we should be using the prefix `kubescheduler.config.k8s.io` so that we know which scheme to load to do plugin conversions.

@Huang-Wei WDYT?

[2020-12-14 16:30] neolit123 commented on #97234
the fix for default behavior at master and 1.20 is fine. for readers, note that you can always override the etcd image using ClusterConfiguration.Etcd.

[2020-12-14 16:55] neolit123 commented on #97241
@kubernetes/release-engineering

[2020-12-14 17:27] howardjohn opened #97288 "1.20 regression: pods failing to terminate"
**What happened**:

I am still unwinding the pieces, but what I know for certain:

after patching a deployment, the old pod sticks around for over a minute (or test times out after a minute). This is despite `terminationGracePeriodSeconds: 30s`. The pod has `The container could not be located when the pod was deleted.  The container used to be Running` in the status, which is newly added in https:

[2020-12-14 17:50] adtac commented on #92229
/remove-lifecycle stale

[2020-12-14 17:52] kfox1111 commented on #91845
/remove-lifecycle stale

still relevant.

[2020-12-14 17:58] omoolchandani commented on #97076
We have written policy in terrascan to detect such configurations that can enable this CVE. Community can use the tool with opa and rego policy.
https://github.com/accurics/terrascan/tree/master/pkg/policies/opa/rego/k8s/kubernetes_service/cve_2020_8554

[2020-12-14 18:17] alejandrox1 commented on #97130
/triage accepted

[2020-12-14 18:24] neolit123 commented on #97264
/sig release
this is google owned infra.
there was already an issue for this logged in kubernetes/release about the flakes but i cannot find it.

[2020-12-14 18:26] neolit123 commented on #97153
please discuss with the kubespray maintainers first:
https://github.com/kubernetes-sigs/kubespray

if you find a bug in core k8s, re-open the issue and add more details.

[2020-12-14 18:26] neolit123 commented on #97153
/sig cluster-lifecycle

[2020-12-14 18:26] neolit123 commented on #97153
/close

[2020-12-14 18:27] neolit123 commented on #97230
/sig storage

[2020-12-14 18:28] neolit123 commented on #97143
/remove-kind feature
/kind support

as aojea noted, `kubelet ... --node-ip` already supports this.
you need to do this on all nodes where you want to pin an IP.

[2020-12-14 18:28] neolit123 commented on #97143
/close

[2020-12-14 18:28] #97143 closed

[2020-12-14 18:29] neolit123 commented on #97281
/close

[2020-12-14 18:29] #97281 closed

[2020-12-14 18:31] neolit123 commented on #97277
/sig testing node

[2020-12-14 18:31] neolit123 commented on #97226
/sig network
(move to another sig if needed)

[2020-12-14 18:32] neolit123 commented on #97218
/close

[2020-12-14 18:33] neolit123 commented on #97218
[code]

actually please re-open if needed and if this has not been backported to 1.18.

[2020-12-14 18:33] neolit123 commented on #97218
/sig node

[2020-12-14 18:33] neolit123 commented on #97202
/close

please try the support channels https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-12-14 18:33] #97202 closed

[2020-12-14 18:35] neolit123 commented on #97131
/sig node

[2020-12-14 18:35] neolit123 commented on #97159
/sig network windows

[2020-12-14 18:36] neolit123 commented on #97160
hi, please try the support channels for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
thanks

[2020-12-14 18:36] neolit123 commented on #97160
/close

[2020-12-14 18:36] #97160 closed

[2020-12-14 18:37] neolit123 commented on #97186
/kind feature
/sig cli

[2020-12-14 18:38] neolit123 commented on #97189
this version has not been in support for a very long time. please upgrade to 1.18+.
for general questions try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-12-14 18:38] #97189 closed

[2020-12-14 18:38] neolit123 commented on #97195
/sig testing
/remove-kind flake
/kind support

[2020-12-14 18:39] neolit123 commented on #97196
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/97195

[2020-12-14 18:39] #97196 closed

[2020-12-14 18:41] dstrivelli commented on #56584
Did you ever find a resolution to this? We don't see proper "load balancing" happening between the 3 API servers listed in the endpoints. One of our masters is pegged super high while the others just sit barely idling. We have a load balancer in front of the control-plane for externally originated API requests, but that doesn't appear to have a hold on the internal comms.

I need to get to the bot

[2020-12-14 18:46] uablrek commented on #97275
Metallb is a good one, yes.

The normal way to get external traffic, ipv4 or ipv6 (no difference), to the cluster is to configure an external router to send traffic to the K8s nodes. This can be done by static routes or some protocol like BGP.

But you seem to want to use L2 networking.

If it works for ipv4 you are probably using proxy-arp. If you use e.g proxy-arp all nodes will respond and traf

[2020-12-14 19:04] arjunrn commented on #92515
@josephburnett Already have a [PR](https://github.com/kubernetes/enhancements/pull/2159) ready to go.

[2020-12-14 19:08] lavalamp commented on #56584
Causes:
1. Co-located controller manager / scheduler which have the lease and are not going through the load balancer
2. Rolling restart of apiservers leaves most clients connected to a single apiserver.
3. Clients are using HTTP2 and route their many requests over a single connection, exacerbating 2

I think in 1.20 it should be safe to turn back on the probabalistic GOAWAY which will fix 2 / 3 o

[2020-12-14 19:11] Jiawei0227 commented on #97287
/triage accepted

Thanks for catching this! These tests should never be run. I will work on a fix shortly,.

[2020-12-14 19:11] Jiawei0227 commented on #97287
/assign @Jiawei0227

[2020-12-14 19:14] shengnuo commented on #28141
I am reopening and @codablock 's original PR (https://github.com/kubernetes/kubernetes/pull/45344) on the latest master, and move to https://github.com/kubernetes/kubernetes/pull/97250

[2020-12-14 19:16] Huang-Wei commented on #95445
@alculquicondor SGTM - it was actually what I originally suggested https://github.com/kubernetes/kubernetes/issues/95445#issuecomment-706249438.

One question: if we place the logic to do conversion upon this prefix, I think the scheduler-plugins should be also using this prefix? As currently the plugins in that repo is following the XYZArgs naming pattern and also [reusing](https://github.com/kub

[2020-12-14 19:25] liggitt commented on #56584
I think https://github.com/kubernetes/kubernetes/issues/94532#issuecomment-743191339 is the http/2 issue we need a new go version for in order to enable probabalistic GOAWAY

[2020-12-14 19:28] lavalamp commented on #56584
Yeah I've conflated this with the http2 disconnection detection change that made it into 1.20. (which, to be fair, is going to be needed by clients in the scenario that triggers my 2 above)

[2020-12-14 19:41] Bibop182 commented on #67932
I faced a similar problem.

This error occurs if, when building executable files, the release.sh script was not launched from the root directory of the git as a working directory.
For correct compilation, environment variables must be filled in something like this:

[code]

The `kube::build::verify_prereqs()` function in the `kubernetes/build/common.sh` script fills in these values if you call thi

[2020-12-14 19:43] Jiawei0227 opened #97292 "Move negative test cases for volumemode outside of testsuite"
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/volumemode.go#L193

In the current storage volumemode testsuite, there are some negative test cases which checks if a driver does not support raw block, it should not provision block volume mode PV. This test case should be moved to the csi-sanity testsuite: https://github.com/kubernetes-csi/csi-test/blob/master/pkg/s

[2020-12-14 19:44] msau42 commented on #97292
/triage accepted
@kubernetes/sig-storage-misc

[2020-12-14 20:24] ehashman commented on #96483
@joadavis can you link to the Slack convo?

[2020-12-14 20:34] dstrivelli commented on #56584
@lavalamp thanks for the reply! We are running a pretty old cluster (1.12, long story, working toward upgrades), so not sure if that changes anything.

Going through your list

Isn't this a common pattern for HA masters? I've never seen an arch where the controller-manager and scheduler pods for each master were not co-located on the same host.
Maybe I'm misunderstanding. Regardless, are you aware

[2020-12-14 20:35] alculquicondor commented on #95445
I think they should define their own prefix, also to serve as an example for other projects to set their prefixes.

Maybe we can export a scheme registration function in pkg/scheduler/apis/config/v1beta2

[2020-12-14 20:36] howardjohn commented on #97288
After bumping our 1minute timeout up, it seems like the pod does get terminated, but not for 100s, over 3x longer than the termination grace period. I am fairly sure the process actually exits within a couple of seconds of SIGTERM as well. So the issue may be more that there is (seemingly) a regression in the time it takes to terminate a pod, rather than some bug causing the pods to *never* termin

[2020-12-14 20:48] neolit123 commented on #97269
the insecure ports (10251-10252) will be removed in a future version.

these do export metrics, but they need authentication.
for support questions try #kubernetes-users and the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-12-14 20:48] #97269 closed

[2020-12-14 21:10] xmudrii opened #97294 "First kube-apiserver in the HA setup has out-of-date watch cache for an extend period of time"
**What happened**:

The kube-apiserver that has been first started in a High-Available (HA) cluster has an out-of-date watch cache for the first 5-10 minutes of running. I'll refer to this API server as a **first API server**. Other API servers in the cluster (which started after the first one) seem to have a valid watch cache.

The following happens if the appropriate request reaches the first AP

[2020-12-14 21:10] xmudrii commented on #97294
/sig api-machinery
/area apiserver

[2020-12-14 21:14] brianmay commented on #97275
Proxy arp is turned off for IPv4, I haven't changed that.

[code]

So I am guessing maybe this is a difference betweeen IPv4 and IPv6 support. I also see a reference in https://metallb.universe.tf/installation/ to "strict arp" which could be related too I guess.

Hmmm. Related (but reverse) question for IPv4: https://serverfault.com/questions/834512/why-does-linux-answer-to-arp-on-incorrect-interf

[2020-12-14 21:14] #97275 closed

[2020-12-14 21:28] adtac commented on #97208
exponential bucketing {[0, 1), [1, 2), [2, 4), [4, 8), ...} would limit the cardinality of the label to a handful (what base to use is debatable). I don't think anyone would want to meaningfully differentiate between priority 995 and 996, for example.

[2020-12-14 21:33] lavalamp commented on #56584
I don't know that we've specifically done anything about this issue since 1.12, but I really recommend you upgrade before spending much more time on this!

The lease is one aspect, there's no built-in prevention (unless you count resource limits causing one of the components to OOM if both leases end up on the same node). Just delete one of the leases and wait.

A bigger deal is that these compone

[2020-12-14 21:39] dstrivelli commented on #56584
Thanks again @lavalamp, total boss.

[2020-12-14 21:45] liggitt commented on #97294
cc @wojtek-t @jpbetz

[2020-12-14 21:45] lavalamp commented on #56584
Good luck with your upcoming 8 consecutive upgrades! You'll be the boss after that...

[2020-12-14 21:46] liggitt commented on #97294
if you request `kubectl get --raw /api/v1/namespaces/kube-system/services?resourceVersion=0` on all API servers, is the service returned properly?

[2020-12-14 22:01] xmudrii commented on #97294
@liggitt That command properly returns all Services in the kube-system namespaces, however, requests to the first API server are still failing.

[2020-12-14 22:02] #96234 closed

[2020-12-14 22:06] joadavis commented on #96483
Can do - https://kubernetes.slack.com/archives/C20HH14P7/p1606936008188200

The conversation ended with a question whether there is a bug that would prevent an automated update of the documentation or if we need to submit a PR now that the fix has merged.  I searched for an issue but didn't find a match. So we can either try to find someone on sig-docs who might know if there is an issue if it sho

[2020-12-14 22:37] joadavis commented on #96483
Just in case that is the right answer, I created the PR.

[2020-12-14 22:50] alculquicondor commented on #97208
Priority can be negative as well. Not sure if the bucketing is confusing though.

[2020-12-14 23:27] ahg-g commented on #97208
The actual number doesn't matter, what matters is the rank (whether by 1 or by a 1000), users usually create few priority levels, and they may well create them differentiated by 1. So I don't think bucketing makes sense at all.

[2020-12-14 23:42] #96819 closed

[2020-12-15 00:04] jackfrancis commented on #97178
Hi folks, do we know if we're going to cut an alternate build for 1.17.15? Or just skip it and go to 1.17.6?

[2020-12-15 01:06] 2rs2ts commented on #22368
@conrallendale I don't think that would solve the problem especially when configuration data gets larger than what can fit in a single k8s object, it but it would be an improvement for sure and I would support it as a first iteration

[2020-12-15 01:26] #93173 closed

[2020-12-15 01:28] guoh1988 commented on #97118
yes,So I think this is a kube-apiserver problem

[2020-12-15 01:38] yuanchen8911 opened #97303 "make unschedulableQTimeInterval configurable"
**What would you like to be added**:

Make `unschedulableQTimeInterval` a configurable scheduler parameter, which can be set in the kube-scheduler configuration file like `podInitialBackoffDuration` and `podMaxBackoffDuration`

https://github.com/kubernetes/kubernetes/blob/d4ff560d73bd25378143a05f96d5a5c4d64c5455/pkg/scheduler/internal/queue/scheduling_queue.go#L48

**Why is this needed**:

Provid

[2020-12-15 01:38] yuanchen8911 commented on #97303
/sig scheduling

[2020-12-15 02:16] dims opened #97304 "Need containerd variations for pull-kubernetes-e2e-azure-* presubmit jobs"
A [WIP for removing dockershim](https://github.com/kubernetes/kubernetes/pull/97252) will fail for the following CI jobs:

Test name
--- |
pull-kubernetes-e2e-azure-disk-windows |
pull-kubernetes-e2e-azure-file-windows |

A few months ago we had `pull-kubernetes-e2e-gce` which was using docker runtime, so we added `pull-kubernetes-e2e-gce-ubuntu-containerd`, stabilized it and then dropped `pull-ku

[2020-12-15 02:17] dims commented on #97304
cc @marosset @craiglpeters

[2020-12-15 02:33] #94998 closed

[2020-12-15 02:44] marosset commented on #97304
We have **pull-kubernetes-e2e-aks-engine-windows-contianerd**

https://github.com/kubernetes/test-infra/blob/6e5682ed8bf931e69692296abcfaee43a45e4a86/config/jobs/kubernetes-sigs/sig-windows/sig-windows-config.yaml#L78

But yes, we should add some storage specific jobs for azure-disk/azure-files as well.

[2020-12-15 02:45] marosset commented on #97304
/triage accepted

[2020-12-15 03:06] hanlins commented on #97225
Will help @maplain on this one.
/assign @hanlins

[2020-12-15 03:30] saikat-royc commented on #94745
/remove-lifecycle stale

[2020-12-15 03:47] readerx commented on #97283
tks，I added the installation process and update the comment

[2020-12-15 04:12] vipinjn24 commented on #97269
@neolit123 thanks for clearing the authentication doubt.

[2020-12-15 04:29] #93202 closed

[2020-12-15 05:22] angelosanramon commented on #97281
@sftim, can anyone invited to the kubernetes slack channel? I have trying to join via the URL you provided, but instead of getting and email invite I get redirected to kubernetes slack login page. How can I get an invite? Thanks.

[2020-12-15 05:22] ScrapCodes commented on #95226
Latest failure:

Time | Job | Test
-- | -- | --
01/12/2020, 06:31:17 | ci-kubernetes-e2e-windows-containerd-gce-1-18 | [sig-storage] Downward API volume should provide container's memory limit [NodeConformance] [Conformance]

@jingxu97 Though most flakes are on windows related jobs. But, there are other instances too. Do you think, above failure is for the same reason.

[2020-12-15 06:01] #97180 closed

[2020-12-15 06:40] zouyee commented on #96034
Agreed

[2020-12-15 07:00] shyung opened #97309 "There is no enough admission validation for pod template specification in StatefulSet."
**What happened**:

Without enough admission validations, statefulSet can be created in illegal pod template as followed.

[code]

As a consequence, StatefulSet controller cannot create pod due to illegal pod template.

Using `kubectl describe sts`, Warning events can be found as followed.

[code]

**What you expected to happen**:

The create operation of StatefulSet with illegal pod template can

[2020-12-15 07:03] shyung commented on #97309
/sig apps

[2020-12-15 07:29] shyung commented on #97309
/sig api-machinery

[2020-12-15 07:56] aliceroy commented on #97218
Reopen
@pacoxu
@neolit123
This problem will occur in the first installation of k8s, and the re installation is successful. When the above problem occurs, the image corresponding to the query exists, which is different from the problem in  #88348 , and should not be the same problem

[2020-12-15 08:15] wojtek-t commented on #90833
/remove-lifecycle stale

[2020-12-15 08:24] maaoBit commented on #96034
sorry if  I'm missing something. I just try to make the function of `—cleanup-ipvs` as described, not to recover the flag.  The problem I see is:
1.  The `--cleanup` can't flush IPVS. Because the IPVS flush process is still controlled by `ProxyServer.CleanupIPVS`. Beforce https://github.com/kubernetes/kubernetes/pull/76109 , it was assigned by `--cleanup-ipvs` flag, but now it is not assigned, alw

[2020-12-15 08:28] ScrapCodes opened #97312 "[Flaky Test] go_test: //staging/src/k8s.io/apiserver/pkg/server/go_default_test:run_2_of_2"
**Which jobs are flaking**:
bazel-test-master
**Which test(s) are flaking**:
go_test: //staging/src/k8s.io/apiserver/pkg/server/go_default_test:run_2_of_2
**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#bazel-test-master
**Reason for failure**:
[code]
**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
  [Will update shortly]
- links to specific failur

[2020-12-15 08:29] aliceroy commented on #97218
Reopen issue #97218 @k8s-ci-robot

[2020-12-15 08:31] aliceroy opened #97313 "Reopen issue #97218 @k8s-ci-robot"
Reopen issue #97218 @k8s-ci-robot

_Originally posted by @aliceroy in https://github.com/kubernetes/kubernetes/issues/97218#issuecomment-745135279_

[2020-12-15 08:37] pacoxu commented on #97218
I suggest you to try v1.18.13(latest version of 1.18) or 1.19 to whether it is reproducible.

The log you provided is the same as https://github.com/kubernetes/kubernetes/issues/84214#issuecomment-588421448
[code]

As this error message shows, please check your disk `df -h` and images `docker images` on the server.

[2020-12-15 08:37] skyfirst93 commented on #67250
It is this fixed ?

[2020-12-15 08:58] zerkms commented on #57838
/remove-lifecycle stale

[2020-12-15 09:15] h0jeZvgoxFepBQ2C commented on #44528
@saad-ali @thockin Could you reopen this issue please?

It's not possible for non-maintainers to reopen it.

[2020-12-15 09:17] ScrapCodes commented on #97312
/sig api-machinery

[2020-12-15 09:25] h0jeZvgoxFepBQ2C commented on #44528
Did anyone found a solution for this? It really surprises me that this (imo big) issue hasn't been resolved in 3 years?
How do people cope with this situation, if you want to run multiple nfs servers - you can't always hardcode the IPs?

Any suggestions on how to workaround this?
Specifing ```nfs-service.default.svc.cluster.local``` didn't work out for us.

[2020-12-15 09:25] aojea commented on #96034
it seems that is what the flag description says, you have to use `kube-proxy --cleanup --cleanup-ipvs` to flush the ipvs entries

https://github.com/kubernetes/kubernetes/blob/2b23e71f6c88a08b9ab43523a86e34c4ba0601ae/cmd/kube-proxy/app/server.go#L165

if that is the case it seems that we are ok, right?

[2020-12-15 09:44] maaoBit commented on #96034
In fact, `kube-proxy --cleanup --cleanup-ipvs` can't flush ipvs entries. The reason is what I described above.

[2020-12-15 09:51] pentago commented on #44528
I'm not sure but could be using the [ExternalName service](https://kubernetes.io/docs/concepts/services-networking/service/#externalname) be a viable solution?

I was under impression that this particular object was created to solve these issues. I didn't try it yet but would welcome feedback from those who did, regardless of the outcome.

[2020-12-15 09:53] aojea commented on #96034
I´m sorry, I think I got it know, the flag is not exposed, but the optios is there and initialized to true, this is what I see
[code]

[2020-12-15 09:57] wyike commented on #85866
Hi @aojea, in our cluster using Antrea which uses kube-controller-manager to allocate podcidr; we already see error like :

E1210 19:21:43.870341       7 controller_utils.go:260] Error while processing Node Add/Delete: failed to allocate cidr from cluster cidr at idx:0: CIDR allocation failed; there are no remaining CIDRs left to allocate in the accepted range
I1210 19:21:43.870482       7 event.g

[2020-12-15 10:07] chilicat commented on #87615
Will there be any backport/cherry pick for v1.16, v1.17 or or v1.18

[2020-12-15 10:14] maaoBit commented on #96034
yes, `kube-proxy --cleanup` should flush IPVS by default, but  it doesn’t actually

[2020-12-15 10:47] aojea commented on #96034
... and finally I got it, so sorry :bow: the ProxyServer is not being instantiated with the flag, despite is set :facepalm:

@andrewsykim @uablrek you are more familiar with the IPVS implementation than me, I personally think that, if the flag deprecation has started, we should make that `--cleanup` always flush IPVS and totally remove `--cleanup-ipvs` ... it seems aligned with the other proxy imp

[2020-12-15 10:47] aojea commented on #96034
/triage accepted

[2020-12-15 10:58] aojea commented on #85866
please open a new issue and provide more detailed information, commenting in a closed issue will not provide visibility and there are also Antrea devs in the community that may help us to figure it out ...

It would nice to explain your setup: controller manager configuration, what do you mean by duplicate cidrs? are the node.Spec.PodCIDR field with the same value in different nodes? ....

[2020-12-15 11:04] aojea commented on #96034
Actually, after doing some code archaeology, this was the expectation per https://github.com/kubernetes/kubernetes/pull/83832

And the flag clearly mentions that --cleanup must flush IPVS entries too

https://github.com/kubernetes/kubernetes/blob/2b23e71f6c88a08b9ab43523a86e34c4ba0601ae/cmd/kube-proxy/app/server.go#L166

I think that we can go ahead and remove the --cleanup-ipvs flag and make --cl

[2020-12-15 11:05] colearendt commented on #44528
FWIW I have worked around this by using the nfs-server-provisioner helm chart and moving on with my life. I will say, something has changed about helm's website and now there seem to be two (identical?) options for this, which is a bit weird.

https://artifacthub.io/packages/helm/kvaps/nfs-server-provisioner

Hope that helps! It has worked well enough for me! It would definitely be nice to have a

[2020-12-15 11:25] hex108 commented on #89036
/remove-lifecycle stale

I'll try to work on case 1.

[2020-12-15 11:26] champtar commented on #97076
For everyone writing policies, externalIPs are working for `ClusterIP`, `NodePort` and `LoadBalancer` type
[code]

[2020-12-15 11:28] aojea commented on #85866
@wyike please tag me in the new issue ;)

[2020-12-15 11:50] pacoxu commented on #94388
/close
will work on it when this is urgent.

[2020-12-15 11:50] oke-py opened #97316 "Update audit policy sample to make it more practical"
**What would you like to be added**:

It would be helpful if the audit policy below be updated.
https://github.com/kubernetes/kubernetes/blob/release-1.20/cluster/gce/gci/configure-helper.sh#L1091-L1239

idea:
* `discovery.k8s.io` can be added to known api groups.
* EndpointSlice can be handled same as Endpoints. This can be added after [this line](https://github.com/kubernetes/kubernetes/blob/rel

[2020-12-15 11:50] #94388 closed

[2020-12-15 12:01] pacoxu commented on #97316
/sig cloud-provider
/area provider/gcp

[2020-12-15 12:47] rajaskakodkar opened #97318 "s390x support for agnhost and nonewprivs"
s390x support for nonewprivs image was added in #94876 and the commit from #94875 was cherry picked in #95032 to fix agnhost broken on s390x. However, the post merge job `post-kubernetes-push-e2e-test-images` failed for both(https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernetes-push-e2e-test-images/1309411632278933504 https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-kubernete

[2020-12-15 12:48] rajaskakodkar commented on #97318
/sig testing

[2020-12-15 13:06] dims commented on #97318
@chaodaig as you are on call this week, can you please run the CI job mentioned by hand?

[2020-12-15 13:11] YuvalAvra commented on #97076
While this may not be a route for privilege escalation within a cluster, it may be a way for an attacker to persist or harvest credentials without triggering alerts. I've been thinking about auditing/alerting on patches to the status of Load Balancer services. Do system components perform that action regularly? Will auditing it generate a lot of false positives?

[2020-12-15 13:46] wojtek-t commented on #97294
I don't understand - so does it work or not?

@xmudrii - also - how is your kube-apiserver <-> etcd communication configured?
Looking into logs, it seems that kube-apiserver can't really communicate with the underlying etcd (which would explain the fact that its cache is stale).
It is maybe possible that one of the etcd instances had problems (didn't really work) and that kube-apiserver was talkin

[2020-12-15 14:06] xmudrii commented on #97294
@wojtek-t It doesn't work. That kubectl command returns all services, but kube-apiserver still misbehaves. In the first example (with CR and MutatingWebhooks), the first API server still fails to create the resource because it can't find the Service (instead it returns `service <name> not found` error). As described, the error is gone after about 5 minutes since the API server started.

The cluste

[2020-12-15 14:21] FilipeRafaeli commented on #50808
ok, I know this is old, but i'm using it till dezember, 7, 2020.
I used to green/blue cd-ci, sending imagens with
spec.selecto.matchingLabels> role:green
spec.template.metadata.labels> role:green,
and when my code do the verifications, set role to blue,
and the service looks only for blue roles. [https://kubernetes.io/blog/2018/04/30/zero-downtime-deployment-kubernetes-jenkins/]like this(url)

but

[2020-12-15 14:41] jonesbr17 opened #97320 "Update apt to version 1.8.2.2 in debian base image"
**What happened**: The latest release of the debian-base image, v2.1.3, contains a vulnerable version of the apt package. CVE-2020-27350 impacts apt version 1.8.2.1.

**What you expected to happen**: Image should be updated to use at least apt 1.8.2.2 to clear the vulnerability.

**How to reproduce it (as minimally and precisely as possible)**:
[code]

[2020-12-15 14:41] jonesbr17 commented on #97320
/sig release

[2020-12-15 15:25] liggitt commented on #97294
That would indicate the watch cache is not out of date. Is exactly one of the three API servers having this problem? Is it the same server each time?

[2020-12-15 15:27] tnqn commented on #85866
@aojea I reproduced the issue @wyike found with K8s v1.19.2. It's not specific to Antrea but an issue in NodeIPAMController that it could allocate duplicate PodCIDRs after the ClusterCIDR was exhaused if kube-controller-manager was restarted.
It was caused by incorrect count of `allocatedCIDRs` after restarting kube-controller-manager (same reason as https://github.com/kubernetes/kubernetes/issues

[2020-12-15 15:28] Ramyak commented on #90066
For those of us who are trying
* upgrade to 1.16 => 1.18
* Do not want to see managedFields in "get deployment" and other resources by default. [Both in kubectl(atleast not yet) and other controller/crd]
* Control Api-server settings

Setting `--feature-gates=ServerSideApply=false` seems like good workaround. Any pitfalls we should be aware of?

[2020-12-15 15:30] andrewsykim commented on #96034
@aojea thanks for digging up the history on this. That lines up with my recollection and the KEP around kube-proxy's clean up logic https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190324-remove-kube-proxy-autocleanup.md

[2020-12-15 15:31] xmudrii commented on #97294
@liggitt Yes, it's always one API server and always the first API server that was run. Maybe it's not the watch cache, but when I disable watch cache (by setting `--watch-cache=false` on the API server) it works correctly, but I don't think it should be done that way.

[2020-12-15 15:45] howardjohn commented on #90066
@Ramyak you will break any apps that rely on this. Many operators/controllers are starting to depend on this.

[2020-12-15 15:46] aojea commented on #85866
great, seems we are good then :)

[2020-12-15 15:50] chaodaiG commented on #97318
@dims , when I try to run the job with `bazel run //prow/cmd/mkpj -- --job=post-kubernetes-push-e2e-test-images --config-path=$(PWD)/config/prow/config.yaml --job-config-path=$(PWD)/config/jobs`, it failed with `FATA[0000] Job post-kubernetes-push-e2e-test-images not found.`.

So I went over and looked at the history and found that this job was deleted by https://github.com/kubernetes/test-infra/p

[2020-12-15 15:56] thejoycekung commented on #97200
I'm going to go ahead and close this since there is now an issue discussing the root cause at #97240 and TestGrid has been green for several runs now

/close

[2020-12-15 15:56] #97200 closed

[2020-12-15 16:08] liggitt commented on #97294
That's the important point. There's an issue between the API server and etcd. The `Internal error occurred: etcdserver: no leader` errors are not expected.

 I don't see any changes between 1.20.0-alpha.3 and v1.20.0-beta.0 that would be relevant here (to kubeadm, kubeapiserver, etcd, or API server storage)

[2020-12-15 16:16] xmudrii commented on #97294
Same for me actually. I tried to look into changes between alpha.3 and beta.0, but I don't see anything special. Although, there were many commits and I'm not experienced with the API server and API Machinery code, so I thought that I'm probably missing something.

What is strange is that in both 1.20 logs (https://gist.github.com/xmudrii/f6a73f739813881415f81cd08b28caf9) and 1.19 logs (https://gi

[2020-12-15 16:24] alculquicondor commented on #96748
I'm starting a KEP on this kubernetes/enhancements#2185

I'll pass down the implementation

[2020-12-15 16:27] neolit123 commented on #97218
/reopen

[2020-12-15 16:41] #93204 closed

[2020-12-15 16:56] Ramyak commented on #90066
Theoretically no app should rely on `managedFields` because we are migrating from 1.16 => 1.17 => 1.18 (and 1.16 and 1.17) did not have `managedFields` fields for most objects as per
https://kubernetes.io/blog/2020/04/01/kubernetes-1.18-feature-server-side-apply-beta-2/

[2020-12-15 17:12] michaelgugino commented on #96363
This seems more like a bug in the job controller rather than the taint manager.  There is nothing special about how the pod gets deleted in this case, someone using kubectl could delete the pod in the same way (or the pod might be deleted via eviction/draining the node) in which case, if the OP is accurate, the job would want to reschedule this pod.

IMO, the job controller should keep track of al

[2020-12-15 17:19] msau42 commented on #44528
The issue is in some environments, kubelet's host network does not have access to the cluster dns. Using https://github.com/kubernetes-csi/csi-driver-nfs should resolve this because it runs as a Pod so has access to cluster services.

[2020-12-15 17:22] h0jeZvgoxFepBQ2C commented on #44528
This does not appear to us as far as I understand it, when I connect via shell I can ping the nfs server directly via ```nfs-server-service``` and the IP resolution works fine. So the the kube proxy knows where our nfs server is - it's just that the volume doesn't know it.

[2020-12-15 17:29] claudiubelu commented on #97027
I've had 2 PRs opened for this, before it was decited that the test jobs would use the registry mirror configuration. Has there been any consensus on the approach? If so, I can un-abandon these PRs if necessary:

https://github.com/kubernetes/kubernetes/pull/95732
https://github.com/kubernetes/kubernetes/pull/95567

[2020-12-15 17:31] lavalamp commented on #90066
Are they actually causing a problem for you or is it just a cosmetic nuisance?

The feature gate will be removed (by GA?), it'd be good to detect any problems it causes before that time, both because we'd like to fix them and so you don't get a surprise later. (not that I expect any problems, it's just good to be PROPERLY PARANOID)

One other consideration is that at this point all tests are run w

[2020-12-15 17:35] ehashman commented on #96483
I _think_ the website gets autogenerated upon point releases but that'd be a good thing to clarify with the website team. I'll leave a comment asking as much.

[2020-12-15 17:58] dims commented on #97318
@chaodaiG thanks for looking. let's ask @claudiubelu what jobs need to be triggered.

[2020-12-15 18:08] apelisse commented on #95460
I'm closing this since we can't reproduce with the latest version, thanks!

[2020-12-15 18:09] apelisse commented on #94339
/close

I'm closing since we've address the biggest reason for spurious changes.

[2020-12-15 18:09] #94339 closed

[2020-12-15 18:30] claudiubelu commented on #97318
Hello,

The post-kubernetes-push-e2e-test-images has been split into individual jobs for individual images and are now triggered by changes made in that image's folder. The jobs haven't been run yet since the split. You can trigger a job by sending a PR (e.g.: bumping the VERSION) and getting it merged.

[2020-12-15 18:35] mindw commented on #70147
/remove-lifecycle stale

[2020-12-15 18:38] caesarxuchao opened #97325 "Support connecting to etcd via UDS"
I sent https://github.com/kubernetes/kubernetes/pull/97257 to fix this issue.

**What happened**:

I set kube-apiserver's flag `--etcd-servers="/tmp/etcd.socket"`, but kube-apiserver's etcd health check failed with "dial unix /tmp: connect: connection refused".

**What you expected to happen**:

etcd health check should have passed.

**How to reproduce it (as minimally and precisely as possible)**

[2020-12-15 18:58] wojtek-t commented on #92506
/remove-lifecycle stale

i would like to get back to what I described above...

[2020-12-15 19:10] neolit123 commented on #97313
i've reopened https://github.com/kubernetes/kubernetes/issues/97218

/close

[2020-12-15 19:10] #97313 closed

[2020-12-15 19:35] tyluRp commented on #50295
For anyone who had this working but then it randomly stopped, I noticed that my environment variable was no longer set, below is how I resolved:

[code]

[2020-12-15 19:40] caesarxuchao commented on #87615
@chilicat see https://github.com/kubernetes/kubernetes/pull/95981#issuecomment-730561539. I don't plan to cherry-pick it to 1.18 or older versions.

[2020-12-15 20:02] abhat commented on #91072
@robscott I think the issue here is more pertinent to when the service's `.spec.selector` is updated. I am thinking of adding some code in the EndpointSlice and Endpoints controller like so:

[code]
What do you think? I don't think this necessarily works though? In the EndpointSlice/Endpoint types, do we need to add a notion of "managedByController" to be able to distinguish between what the contr

[2020-12-15 20:02] wilsonehusin commented on #97027
ooh thanks for sharing @claudiubelu. I don't think there has been any consensus, though I personally think your work on kubernetes/kubernetes#95567 is relevant, especially that you've covered everything except gluster and redis.

[2020-12-15 20:03] abhat commented on #91072
Note that I am passing `nil` for the pods argument to `ComputeEndpointLastChangeTriggerTime()` and `reconcile()`

[2020-12-15 20:14] unixfox commented on #69699
/remove-lifecycle stale

[2020-12-15 20:16] robscott commented on #91072
Yep, you're completely right, this issue is related to cleaning up EndpointSlices when a selector is set to nil. Our interpretation of a nil selector on a Service is that the user wants to manage endpoints and does not want the controller to mess with anything. It's not quite as clear that we should delete the endpoint(slice)s here. For example, when a user switches a Service to a nil selector, th

[2020-12-15 20:28] chrishenzie commented on #64429
I've been working on this for quite a while now and keep getting tangled in the process. Below are some notes and open questions.

- As an intermediate step, I tried replacing the API `get()` calls with `volumeAttachmentLister.get()`, however this is not possible because
  - We clear the `volumeAttachmentLister` if the volume host is a `KubeletVolumeHost`
https://github.com/kubernetes/kubernetes/b

[2020-12-15 20:34] tuskiomi commented on #74551
Can confirm that issue exists in latest build.

[2020-12-15 20:44] #93042 closed

[2020-12-15 20:44] #93153 closed

[2020-12-15 20:53] abhat commented on #91072
+1. I think while it may be safe to delete the EndpointSlices that have the `managed-by` label on them, what we can't account for accurately is user-intent. If the user had set these manually using the OOB API, and we delete them, it isn't good either. Perhaps we need to ascertain a single owner for each endpointslice - either it be managed by controller or the user manually. That may be a good en

[2020-12-15 21:23] fedebongio commented on #97067
Ping!

[2020-12-15 21:23] fedebongio commented on #97240
/cc @liggitt @apelisse
/triage accepted

[2020-12-15 21:25] fedebongio commented on #97248
/assign @victor-timofei
/triage accepted

[2020-12-15 21:27] fedebongio commented on #97262
/cc @lavalamp
/triage accepted

[2020-12-15 21:30] victor-timofei commented on #97248
/assign

[2020-12-15 21:45] Jiawei0227 commented on #97287
Seems the tests now are correctly skipped.

[2020-12-15 21:45] Jiawei0227 commented on #97287
/close

[2020-12-15 21:45] #97287 closed

[2020-12-15 21:46] aojea commented on #74551
are you able to reproduce using iperf as explained here?
https://github.com/kubernetes/kubernetes/issues/74551#issuecomment-622412024

[2020-12-15 22:04] tuskiomi commented on #74551
no, I'm able to re-create it with a remote cluster, however. I am able to keep a normal ssh stream up with the cluster, but not a port-forward.

[2020-12-15 22:41] m-yosefpor opened #97328 "Running 500 pod per node"
**What would you like to be added**:
In Kubernetes docs, it states that Kubernetes supports no more than 100 pods per node [link](https://kubernetes.io/docs/setup/best-practices/cluster-large/#:~:text=No%20more%20than%20100%20pods,more%20than%20300000%20total%20containers) .

Although it is possible to run more pods (even more than 250 pods) with passing flags to kubelet, however the performance s

[2020-12-15 22:42] mrueg commented on #88142
/remove-lifecycle stale

[2020-12-15 22:42] m-yosefpor commented on #97328
/sig node

[2020-12-15 22:51] m-yosefpor commented on #97328
/sig scalability

[2020-12-15 22:56] lavalamp commented on #97262
This is easy to say, but I can't think of a practical implementation. And note that the status is different for each pod, and UID, and ResourceVersion, and the timestamp(s), ....

Are your clients requesting the proto format? There's also a tabular output format. Serialization is already very optimized.

You may want to experiment with settings, like enabling / disabling the watch cache for variou

[2020-12-15 23:02] aojea commented on #74551
one of the reasons, there can be more, is that the connection can be idle and some intermediate devices with low timers close the TCP session, so it eventually times out in one/both the endpoints of the connection.
SSH can configure periodic keepalives to keep the traffic flowing and renewing the timeouts, or maybe you are using the session ...
This is why is important to know if with a continuous

[2020-12-15 23:05] Ramyak commented on #90066
We are little paranoid because our pod object size is 40K before this change (because we have 20 sidecar containers). So we may be off the tested path.

After upgrade on our test cluster we do see `managedFields` on deployment but not on pods. But comments above suggest I should see `managedFields` in "kubectl get pods" too.

[2020-12-15 23:19] lavalamp commented on #96587
The opposite, only the slowest .5% of requests should get traced.

One way to do this is just track the last N times, sort them, and take the value 99.5% of the way to the top as the threshold. That's expensive.

Another way is to count the last N requests and how many of them get logged. If that's too little (< 99.5%), reduce the threshold, otherwise increase the threshold. We can use a PID contr

[2020-12-16 00:12] rickardp opened #97330 "Support plaintext HTTP2 probes"
**What would you like to be added**:

HTTP2 without TLS requires prior knowledge (handshake is part of TLS). By supporting a way of specifying to use HTTP2 plaintext (maybe "scheme: HTTP2"?), this would support the usecase.

**Why is this needed**:
 I have a couple of gRPC services with external TLS termination, so by allowing HTTP2 I can reuse the same server and ports for the health checks. As a

[2020-12-16 00:15] rickardp commented on #97330
/sig node

[2020-12-16 00:19] lavalamp commented on #90066
I'm not sure what the right number of sidecars might be. But 20 does sound like a lot.

Yes, you should see these on pods created after 1.18. (or updated, but that won't set very many fields on a pod)

I think 40k isn't *that* big and you'll probably be fine unless you're already at enough churn that your etcd is just barely keeping up. Good to test in your non-prod cluster first; let us know if i

[2020-12-16 01:14] SergeyKanzhelev commented on #94256
I also pinged @bowei in case the root cause was found (beyond setting `net.netfilter.nf_conntrack_tcp_be_liberal=1`).

[2020-12-16 01:18] maaoBit commented on #96034
OK, I will create a PR to remove the `--cleanup-ipvs` flag

[2020-12-16 01:42] Rajalakshmi-Girish opened #97331 "Unit Test "TestSPDYExecutorStream" is Flaking"
**Which test(s) are flaking**:
kubernetes/staging/src/k8s.io/client-go/tools/remotecommand/remotecommand_test.go:TestSPDYExecutorStream

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests

**Reason for failure**:
[code]

**Anything else we need to know**:
Test run with BAZEL_VERSION=2.2.0
 bazel test --test_timeout=600 --config=unit --features=-race --host_javabase=@lo

[2020-12-16 01:44] Rajalakshmi-Girish commented on #97331
/sig testing

[2020-12-16 01:45] Rajalakshmi-Girish commented on #97331
@mkumatag

[2020-12-16 02:22] tanjing2020 commented on #96943
/close

[2020-12-16 02:32] JokerDevops commented on #97226
/sig network

[2020-12-16 03:32] #96862 closed

[2020-12-16 03:38] jqmichael commented on #91506
For /healthz or /readyz of kube-apiserver, is below still the recommended approach?

[2020-12-16 05:21] kong62 commented on #97227
if maxSurge = 0，  I don't think `traefik-6c6dbfdd7d-9nt79` and  `traefik-95684858-l9kfg` should exist at the same time

[code]

[2020-12-16 05:24] ntfrnzn commented on #91847
To me, this behavior is surprising. I'm encountering it with a volume that contains a large quantity of data to analyze, and I expect that I can create a PVC to it, and mount that into compute pods, and work with it.  Having completed that, I expect that when my pods go away, and delete the PVC ... that I can repeat the process later, even in another namespace.

But because the claimref in the PV

[2020-12-16 07:18] nearora-msft opened #97341 "Incorrect Mock Implementation azure legacy-cloud-provider"
**What happened**:
ListByResourceGroup  method in the azure diskClient mock makes a call to Delete

**What you expected to happen**:
ListByResourceGroup  method in the azure diskClient mock should call ListByResourceGroup

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud pr

[2020-12-16 07:19] nearora-msft commented on #97341
/assign

[2020-12-16 07:23] nearora-msft commented on #97341
/sig cloud-provider-azure

[2020-12-16 07:25] nearora-msft commented on #97341
/sig storage

[2020-12-16 07:35] nilo19 commented on #97341
/area provider/azure

[2020-12-16 07:44] k82cn commented on #97328
we have similar requirement on that, running more pods on the node.

[2020-12-16 07:53] ximenzaoshi commented on #97262
@lavalamp
Thanks for the reply. Let me try to explain my thoughts more clearly.

1. For the pod thing, my main idea is that pods can share some invariable fields, and these invariable fields are often have relatively big size, such as the `PodTemplate` part. And the env variables are often the biggest part in `PodTemplate`. I think these can be shared in some way. I haven't thought too much about

[2020-12-16 08:02] uablrek commented on #92369
/remove-lifecycle stale

I still forsee a future with many specialized kube-proxy implementations selected with `service.kubernetes.io/service-proxy-name`.

[2020-12-16 09:00] chenwenjun-github opened #97342 "job status is already active but pod status is pending"
at present, when a job is createed, it's status is already active, using 'kubectl describe job xxx' find that "Pods Statuses" is "1 Running"
![image](https://user-images.githubusercontent.com/46237364/102326746-c157eb00-3fbf-11eb-9718-826859934494.png)

but actually the pod status is pending
![image](https://user-images.githubusercontent.com/46237364/102326931-fbc18800-3fbf-11eb-9b37-bcadcf29a135.

[2020-12-16 09:14] SuxiangYundi opened #97343 "kubernetes 1.19.4 dual stack not work for kube-proxy in ipvs mode"
**What happened**:  Error occurred in kube-proxy when creating ipv6 ClusterIP service.

[code]

**What you expected to happen**: kube-proxy handled successfully, and curl cmd returned sucess

**How to reproduce it (as minimally and precisely as possible)**:
1. install k8s via kube-spray
2. config dual stack
[code]
3. create deploy and service

[code]

4. curl ipv4 and ipv6 80 port success
5. curl

[2020-12-16 09:22] MarryZhang commented on #97067
thank for you reply. I mean kubernetes has default service named kubernetes  int default namespace, the service  has a clusterIp, and this service has endpoint for apiserver, then who can use the default service or why need default service.

[2020-12-16 09:23] SuxiangYundi commented on #97343
/sig network
/area ipv6

[2020-12-16 09:26] FabianKramm commented on #94280
@ykakarap @eddiezane @pwittrock Just wanted to check what the status of this issue is, is there any intend of pursuing this? It seems like other people struggle with this issue as well, especially in combination with rancher.

I could give this a try and submit a pull request (if thats okay), but would like to have some sort of confirmation that this is wanted.

[2020-12-16 09:26] MarryZhang commented on #97067
thank for you reply @fedebongio  . I mean kubernetes has default service named kubernetes int default namespace, the service has a clusterIp, and this service has endpoints for apiserver, then who can use the default service or why need default service.

 what's the impact If I set apiserver endpoint-reconciler-type=none?

[2020-12-16 09:28] zdzichu commented on #38337
Yes, still happening with v1.19.4+k3s-fadc5a80 on Fedora 33 with btrfs /.

[2020-12-16 09:52] piyushkumar13 commented on #67250
I also ran into same issue... is there any timeline to fix this issue or any alternative available ?

[2020-12-16 12:58] wojtek-t commented on #97262
You definitely shouldn't need that much.
We're more-or-less continuously running tests on 5000-node clusters with 150,000 pods. Which seem to be visibly more than what you have. And we are at small tens of GBs there.

That might be potentially problematic. If you're listing a lot (especially from etcd) then you need to serialize/deserialize a lot of stuff, even if that is not eventually being retu

[2020-12-16 13:26] josephburnett commented on #96671
The HPA controller keeps a flat history of recommendations for stabilization.
![image](https://user-images.githubusercontent.com/1103629/102333122-4675dc80-3f8d-11eb-9248-e1eb7ddfb843.png)

When downscale stabilizing the maximum recommendation is selected.  Purple is pre-stabilized recommendation.  Green is final recommendation.  Blue is max recommendation within window.
![image](https://user-imag

[2020-12-16 14:16] vsxen commented on #97328
run two or more kubelet with different port & config in one node?

[2020-12-16 14:41] iam-veeramalla opened #97347 "list custom resources in `kubectl get all -n <namespace>`"
**What would you like to be added**:
Custom Resources have become the crucial resources because of its flexibility and adoptability. A namespace might have multiple CRDs/Custome Resources, It would be a good option to list them using `kubectl get all` option.

**Why is this needed**:
This option is already available for ingress, routes, deploy, svc, pods e.t.c .,. It will be great to add CRs to th

[2020-12-16 14:57] ykakarap commented on #94280
@FabianKramm Please feel free to take it up. I am afraid I may not be able to work on this in the next few days.

/unassign

[2020-12-16 15:24] calexandre commented on #75581
+1 we are still being plagued by this issue...

[code]

[2020-12-16 15:32] synox commented on #96841
@pacoxu can you recommend a workaround?

[2020-12-16 15:36] aojea commented on #97343
@SuxiangYundi dual-stack went through a major refactor that was released in 1.20 invalidating an important part of the implementation for dual stack 1.20
 is it possible that you try again with the new kubernetes 1.20 version?

(also, please, reformat the test in the description, it renders very bad and is hard to read)

[2020-12-16 15:58] SuxiangYundi commented on #97343
Thank you for your suggestion. I do reformat the description. Could you help to check the problem？Meanwhile I will try again with the new kubernetes 1.20 version.

[2020-12-16 16:00] sculley commented on #97100
I have upgraded a kubeadm cluster to 1.20.0 from 1.18.12 and I can confirm the correct taints are applied to nodes that are NotReady.

I will be testing spinning up a new cluster using kubeadm with version 1.20.0 and report back with the results.

[2020-12-16 16:05] aojea commented on #97343
the problem is that 1.19 will not receive bugfixes for dual-stack, so we need to check with 1.20, sorry

[2020-12-16 17:35] FabianKramm commented on #94280
@ykakarap Great, I opened a PR for this
/assign @FabianKramm

[2020-12-16 17:40] Nokel81 opened #97351 "[Request]: listing all allowed actions should also be able to list the respective namespaces"
**What would you like to be added**:
Add an option to `authorizationv1client.AuthorizationV1Interface`'s `SelfSubjectRulesReviews()`'s `Create` called "any namespace" (or something similar).

This flag would mean that that the request returns one item for every namespace that the user has access do (and which namespace it is).

**Why is this needed**:
There currently isn't a way for a user locked

[2020-12-16 17:42] Nokel81 commented on #97351
/sig auth

[2020-12-16 17:53] m-yosefpor commented on #97328
I'm not sure what are the impacts oc running two kubelets within an OS.. there might be some race condition between them.. esp for memory management (OOM, eviction, etc).. also both might  be seen as two different nodes (2*512Gi nodes) from scheduler point of view and cause some issues for scheduling. Have you tried this in production?

[2020-12-16 18:09] khaefeli commented on #75561
/reopen

we're running into the same issue

[2020-12-16 18:20] troy0820 commented on #97347
/sig cli
@iam-veeramalla I am trying to understand the use for this.  `kubectl api-resources` already shows the crds installed on the cluster.  Also, some CRDs are not namespaced scoped and including these objects in `kubectl get all` would provide some issues where cluster objects are expressed in the namespace you are looking in.

[2020-12-16 18:28] troy0820 commented on #96795
/close
Closing in favor of response in https://github.com/kubernetes/kubernetes/pull/44716#issuecomment-296046596

[2020-12-16 18:28] #96795 closed

[2020-12-16 19:48] michaelgugino opened #97352 "Azure LB NIC regex too restrictive"
**What happened**: https://github.com/kubernetes/kubernetes/pull/95542 introduced new regex which is too restrictive for some existing installations: https://github.com/kubernetes/kubernetes/pull/95542/files#diff-0414c3aba906b2c0cdb2f09da32bd45c6bf1df71cbb2fc55950743c99a4a5fe4R79

This new restriction causes LBs to fail to sync if just one ipConf fails regex.

**What you expected to happen**:

Thi

[2020-12-16 19:50] michaelgugino commented on #97352
Suggest putting a continue here: https://github.com/kubernetes/kubernetes/pull/95542/files#diff-6000121b1f9282a8bb5c767e3b5f935da6cebdb2c6a0fcd2e5dd36aee1845671R1040

This will restore previous functionality and appears to have no undesirable impact.

[2020-12-16 19:50] michaelgugino commented on #97352
/sig cloud-provider
/area provider/azure

[2020-12-16 20:14] michaelgugino commented on #97352
Unclear if we should also put a continue here as well: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L311

[2020-12-16 20:38] hanlins commented on #97225
Some updates on reproducing the issue. Assuming port `30000` is not taken, this is the spec I used:
[code]
From outside, you can access the health check node port:
[code]
Then after changing the `INPUT` chain policy to `DENY` like @maplain mentioned above:
[code]
you won't be able to access the health check node port from outside:
[code]

Notice before changing `INPUT` policy, make sure that the `

[2020-12-16 21:08] andrewsykim commented on #97225
When the default `INPUT` policy is `DROP`, `healthCheckNodePorts` doesn't work but regular node ports works. That's the iptables chain flow that allows node ports to work when the default policy is DROP?

[2020-12-16 21:33] svaranasi-traderev commented on #57291
Still here 2 years later asking the same question. What's the alternative? I cannot have the process simply restart, because I want a clean slate, and not just a new process.

[2020-12-16 21:48] claudiubelu commented on #97027
We already have the redis image here [1], we'll just have to trigger a job for it afterwards. Indeed, I was missing the gluster image, I only considered the ``docker.io/library images``. :) I've amended the PR to also include the gluster image, however there's only a ``linux/amd64`` image for it.

[2020-12-16 21:57] wilsonehusin commented on #97027
so I've been thinking about this for a bit and I'm a bit concerned with the visibility of this setup to test authors -- I'm not sure if this is straightforward / intuitive enough for them to follow.

alternatively, are there other lighter (in terms of maintenance) solutions that we can pursue?

[2020-12-16 22:25] dkrieger commented on #57291
In the absence of any indication that this sort of feature will be added, I'll add the following workaround as an alternative to handling restarts inside the application. I think the naive way to work around this limitation is to expand the size of one's worker pool until the average rate at which backed off workers come back online meets or exceeds the rate at which they are expended. This is obv

[2020-12-16 22:25] claudiubelu commented on #97027
Hm, what do you mean by the visibility of this setup of test authors?

If I'm not mistaken, the current goal is to not rely so heavily on dockerhub for testing anymore. For this purpose we are mirroring these images into our own registries, and then we are going to update ``kubernetes/test/utils/image/manifest.go`` to use our own registry instead of the dockerhub one. Test authors shouldn't be imp

[2020-12-16 22:26] dramich commented on #94811
/remove-lifecycle stale

[2020-12-16 22:28] glasser commented on #57291
Our workaround has been to run our own service which polls the pod list looking for CrashLoopBackoff pods in particular deployments and deletes them when they appear. This is certainly not ideal.

[2020-12-16 22:33] dkrieger commented on #57291
I think this is the best approach for teams who want to bet on this feature becoming a reality and can't afford the cost of running more workers than needed, as the migration path if/when this feature is added is to simply remove the custom pod deletion service and adjust the deployment(s) in question

[2020-12-16 22:39] dpc commented on #57291
@sporkmonger change the command to `while yourbinary ; sleep .1; done`? :)

[2020-12-16 22:54] #77324 closed

[2020-12-16 23:01] wilsonehusin commented on #97027
yes, I think we're on the same page on this

yeah what I'm wondering is: are there ways we make it even less significant work on the first step of modifying `BASEIMAGE` and `VERSION` files? if that step could disappear altogether, especially in scenario of adding new images, that would be great.

[2020-12-16 23:51] #94811 closed

[2020-12-17 00:22] yanghaichao12 commented on #93858
/remove-lifecycle stale

[2020-12-17 00:24] andrewsykim commented on #93858
Thanks for digging up that kernel bug @yanghaichao12

[2020-12-17 00:25] andrewsykim commented on #93858
Do we think there's anything on the kernel side to fix that? Sounds like we might need to document that or add a kernel version check in kube-proxy for when dual stack is enabled. cc @hanlins

[2020-12-17 00:42] oomichi opened #97355 "Improve testing coverage on unit test level"
We have many separated issues on github to add unit tests for each package.
This issue is for tracking what packages are not covered with unit tests easily.

**How to know what packages are not covered with unit tests**:

We can see it with the following script:
[code]

**Current status**:

Under `./pkg`, the following is current status of each directory at the point 12/16/2020

- [ ] ./pkg/ssh: A

[2020-12-17 00:46] oomichi commented on #97355
/sig testing

[2020-12-17 00:50] RandomGHUser commented on #55713
This issue is also affecting me.  v1.20.0, using a HA cluster with a master (and two nodes).    It looks like all the kube-system pods on the non-ready node still show as "running", while other namespaces show "terminating" for the pods.

I've also noticed random pod ip/dns resolution issues after failovers, sometimes the pods will fail to reconnect for many minutes after failover, coredns fails t

[2020-12-17 01:02] nilo19 commented on #97352
/assign

[2020-12-17 01:39] chentaoz commented on #97309
looks like this is in one of todo list in code https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/apps/validation/validation.go#L59

[2020-12-17 01:46] kirkre commented on #74266
I have the same issue on 1.16.15-gke.4300. Everything works after going through the above, but trying to mount through the service IP I get permission denied.

[2020-12-17 02:09] Mac24 opened #97357 "Pods on different nodes cannot communicate with each other"
## Expected Behavior

1.master
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq

[2020-12-17 02:09] kirkre commented on #74266
OK I got it to work through the service with ' mount -t nfs -o nolock ' My problem was I don't have statd running on my Alpine test client, does not seem available through apk. Since I plan to use a pvc to mount the share, in order to avoid the need to run the client pods as privileged, I  should be good. Thanks to everyone here for the tips to get this far.

[2020-12-17 02:15] Mac24 commented on #97357
/sig network

[2020-12-17 02:50] shyung commented on #97309
I noticed the TODO comments, but I'm confused why volumes checking will fail. Is there something different between Deployment and StatefulSet?

[2020-12-17 03:25] themightychris commented on #74741
It looks like the referenced fix was merged into 1.20 -- is there any known solution for 1.18 users?

[2020-12-17 03:36] anzejiang opened #97358 "ERROR： /root/kubespray/roles/etcd/tasks/check_certs.yml': line 57, column 3"
![image](https://user-images.githubusercontent.com/39078062/102440852-00d41500-405c-11eb-884a-bf060b182ac3.png)

Approach taken：
	1、jinja2 1.10.1  update 2.11.2
	2、yum -y install python-jinja2.noarch
	Doesn't work

[2020-12-17 04:29] chentaoz commented on #97227
Hey @kong62 , why do think that you should not see those two pods when maxSurge=0   is set? It doesn't violate the maxSurge number, which is upper boundary  for count of ready PODs,  based on my understanding

[2020-12-17 04:42] chentaoz commented on #97342
Hey, can you share how to duplicate the issue, I created a job and saw consistent status between the  job and its pod

[2020-12-17 06:04] iam-veeramalla commented on #97347
Hi @troy0820 , Thanks for the response.  `kubectl api-resources` would only list the CRDs(along with the other api-resources) in the cluster. `But my ask pretty much regarding list of Custom Resources in a namespace`.

Let me give you some more information. As a user or admin I want to look at all the resources(pods, svc, ingress, vs) that are installed  in my namespace, to do that I find `kubectl

[2020-12-17 06:44] theunrealgeek commented on #96717
@danwinship I have been trying to get the tests to run locally and I followed the [this readme](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/e2e-tests.md#building-kubernetes-and-running-the-tests) so basically running

[code]
On another terminal
[code]

And I see the following error as the tests are being run (the error is similar for all the existing tests fo

[2020-12-17 06:46] yuanhuaiwang commented on #97061
ok, i knew it, thanks a lot

[2020-12-17 07:02] anzejiang commented on #97358
![image](https://user-images.githubusercontent.com/39078062/102454370-dcd2fc80-4078-11eb-83db-074a2af9bcb3.png)
Test failed！！！

[2020-12-17 07:17] youpai commented on #83332
I have the same problem with k8s version 1.18.10,ubuntu 18.04. I checked the apiservice and the result is below:
[code]

please help me ,thanks

[2020-12-17 07:51] coderwangke commented on #97120
/close

[2020-12-17 07:51] #97120 closed

[2020-12-17 08:16] zhifei92 opened #97360 "Why the service that don't have Endpoints, that need add a rule "KUBE-EXTERNAL-SERVICES" to input chains"
### case
Access to process that normally listen on ports on the physical machine is denied , the reason is that iptables rules rejected client. the rule is generated by a no endpoints service.
[code]

kube-proxy code : proxier.go
[code]
### doubt
Why the service that don't have Endpoints, that need add a rule "-A KUBE-EXTERNAL-SERVICES -p tcp -m comment --comment "xxx has no endpoints" -m addrtype

[2020-12-17 08:35] chenwenjun1995 commented on #97342
it happend when CPU and memory resources I applied for this job exceed the upper limit of the machine, it cause pod can't start and status keep pending, but job become active

[2020-12-17 08:49] houfangdong opened #97363 "About the source of the basic build image"
Hello, I currently want to build the go-runner:v2.0.0 mirror locally, but I cannot find the code repository. Where is the code repository for go-runner:v2.0.0?
/sig release
@justaugustus

[2020-12-17 09:22] pacoxu commented on #96841
/assign

[2020-12-17 09:30] chenyw1990 commented on #97328
we have similar requirement on that, running more pods on the node,  When the number of pods increases, some problems will occur in the cadvisor, dockershim, volumemgr, and pleg, For example, the CPU usage is too high, the pleg relist is too slow, and the gRPC communication is congested, the kubelet is not ready because it is too busy.

[2020-12-17 09:46] niuyueyang1996 opened #97364 "the pod container quickly exited postStart will block forever,then pod keep containerCreating forever"
kubelet version is v1.14.3

docker version
Docker version 19.03.1, build 74b1e89e8a

containerd version
containerd containerd.io 1.4.3 269548fa27e0089a8b8278fc4fc781d7f65a939b

i create a pod
there is container info :
[code]

image code
[code]
postStart code
[code]

i find NativeExecHandler.ExecInContainer will block with func client.StartExec(execObj.ID, startOpts, streamOpts)

[code]
can you mak

[2020-12-17 09:47] FabianKramm commented on #94280
/remove-lifecycle stale

[2020-12-17 11:39] schlauerlauer commented on #69507
/remove-lifecycle stale

[2020-12-17 11:47] bjethwan opened #97365 "kube-apiserver ran out of memory on aws c5.9xlarge instance"
**What happened**:
kube-apiserver ran out of memory
The update of the nodelocaldns daemonset, caused the kube-api-server to become unavailable.

Meanwhile, I'm thinking to add resource/memory limits on kube-apiserver.
However, I don't like setting up the hard-limits on our k8s provisioning scripts.
Is there a way to set the memory limits in terms of % of available memory on the node, especially fo

[2020-12-17 11:49] gjkim42 commented on #94335
The [fix](https://github.com/google/cadvisor/pull/2752) has been merged to google/cadvisor.
I think if Kubernetes v1.21 includes the fix by using google/cadvisor v0.39, the issue will be resolved.

[2020-12-17 12:02] zjawol commented on #81289
/reopen issue still present in 1.20.0

[2020-12-17 12:07] m-yosefpor commented on #97328
From what I have found so far, docker seems to have some scalability issues for high densities. Although docker event stream has made situation better, but still it has issues with high number of pods per node. However crio-o can easily handle +500 pod per node.

I found some interesting docs from redhat, which succeeded to run 500 pod per nodes with CRI-O. It seems the limiting factor would be ra

[2020-12-17 12:22] ArchangelX360 commented on #94831
/remove-lifecycle stale

[2020-12-17 12:35] wojtek-t commented on #97294
How the new master machines join? Looking into logs it seems to be that what is happening is:
- a single master is created
- a second master is created and it joins the etcd quorum
That definitely can lead to etcd loosing the master, because the new etcd has to load the state from the preexisting member.

Is that the case?

[2020-12-17 12:53] RamLavi opened #97367 "event recorder fails to record repeating events"
**What happened**:
I created a pod and then wrote a simple go routine to emit an `Available` event each second.
I then watch the events, and see that the `LAST SEEN` column after a while start to grow, meaning the events stop being received/sent.
attached a bash script for easy recreation.

**What you expected to happen**:
since we're sending an event every second, the `LAST SEEN` column should sh

[2020-12-17 13:23] gavinfish commented on #97355
/assign
for ./pkg/scheduler part

[2020-12-17 13:30] pacoxu commented on #97355
Is there latest code coverage report ?

So we can easily know which part is urgent for tests.

[2020-12-17 13:32] kron4eg commented on #97294
@wojtek-t Yes, that's exactly the case.

kubeadm init, followed by the kubeadm join on other nodes.

[2020-12-17 13:56] geeksterio opened #97368 "Sorry, please ignore/delete"
Sorry, please ignore/delete.

[2020-12-17 14:02] adampl commented on #55713
@RandomGHUser Not all pods have to be terminating. It depends on their tolerations. For example, DaemonSet pods will never be evicted.

[2020-12-17 14:05] yg-xue commented on #34314
Hi, the issue is closed. But does anyone has a solution for it?

[2020-12-17 14:28] xmudrii commented on #97294
@wojtek-t As @kron4eg said, yes, that’s exactly the case and those are the steps followed to create the cluster.

The cluster is provisioned according to the kubeadm docs for HA clusters, so you can check out that if you’re interested in some more details: https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/high-availability/

[2020-12-17 14:29] danwinship commented on #96717
hm... looks like maybe you need to pass an extra variable to local-up-cluster?

    sudo PATH=$PATH ALLOW_PRIVILEGED=true hack/local-up-cluster.sh

[2020-12-17 14:33] matsonkepson opened #97369 "Priviledge escalation for ServiceAccount and RoleBinding in kubernetes v1.19.4"
**What happened**:

While creating ServiceAccount and assigning privileges with RoleBinding only to one namespace I can list/access/modify all resources / all namespaces
gist here > https://gist.github.com/matsonkepson/6d4a076ec5a97beb50f9e724fa332ff3

**What you expected to happen**:

ServiceAccount gets admin access ONLY within one namespace
gist here > https://gist.github.com/matsonkepson/68f87

[2020-12-17 15:01] wojtek-t commented on #97294
So it seems to me that something bad happened between etcd and kube-apiserver after new etcd member is added, resulting it loosing etcd leadership.

I will keep thinking about it - so far I don't have any ideas of changes we did that could cause that...

I'm assuming you already checked that etcd-version didn't change (or tried running good k8s version with newer etcd and bad k8s version with olde

[2020-12-17 15:09] immanuelfodor commented on #34314
Maybe this thread helps you, you probably need to reserve resources for host daemons using kubelet args: https://github.com/rancher/rancher/issues/29997#issuecomment-725261582

[2020-12-17 15:12] xmudrii commented on #97294
@wojtek-t Yes, I've already checked that. I've tried running v1.20.0 with the same etcd version as for v1.19, but that didn't help. I've also tried using older and newer etcd versions, but that also didn't help.

Also, etcd version didn't change between v1.20.0-alpha.3 (the last properly working release) and v1.20.0-beta.0 (the release when this started happening), so I don't think it's related to

[2020-12-17 15:13] taisph commented on #78446
This issue bubbles up to the `skaffold` tool as well. Running `skaffold dev --port-forward` will exhibit the same connection issues after a while.

[2020-12-17 15:36] shashankv02 commented on #92587
/remove-lifecycle stale

[2020-12-17 15:48] bjethwan commented on #97365
I am unable to guess/pick the right SIG

[2020-12-17 15:48] oomichi commented on #97355
@pacoxu

The description shows it at the point 12/16/2020.
You can see it locally by running the script which is written on the description.

[2020-12-17 15:48] bjethwan commented on #97365
I can say that it's happening for clusters with a size of more than 200 worker nodes.

[2020-12-17 15:55] dbolkensteyn commented on #78446
/remove-lifecycle stale

so let's remove the stale state

[2020-12-17 16:29] yg-xue commented on #34314
Thanks @immanuelfodor .
I found there were many Pending csr.
This command helps to solve my issue: "oc get csr -o name | xargs oc adm certificate approve"

[2020-12-17 16:46] rata commented on #97190
@joshiste just curious: why not use `ctrl` from containerd to create the container? I mean, there is nothing cri related in what you want to do? Or is it?

[2020-12-17 16:49] joshiste commented on #97190
I wanted to use the `cri` in order to support containerd as well as cri-o. Also one downside for me is that `ctr` is "unsupported" and will not provide a stable interface.

[2020-12-17 16:52] oldthreefeng commented on #97241
does this really matter to an exsit cluster?  @neolit123

[2020-12-17 17:02] ialidzhikov commented on #97241
@oldthreefeng, see https://github.com/kubernetes/kubernetes/issues/97241#issuecomment-743265287

[2020-12-17 17:03] ialidzhikov commented on #97241
@justaugustus , is there any update on this one?

[2020-12-17 17:07] hasheddan commented on #97178
@jackfrancis the plan right now is to roll forward to the next patch release

[2020-12-17 17:08] hasheddan commented on #97241
@ialidzhikov apologies for the delay here! Please see https://github.com/kubernetes/kubernetes/issues/97178 for more info

[2020-12-17 17:10] rata commented on #97190
@joshiste oh, didn't know cri-o doesn't provide that :(. It seems something useful :(

I wonder, maybe the best way to continue is to continue in the website issue to clarify what isn't clear (you linked one part that seems this will work, here in the comments some other part was linked to say it won't work) and open a feature request to crictl to maybe support other namespaces, if at all possible

[2020-12-17 17:22] Ramyak commented on #90066
In our test setup, some pods did not get the `managedFields`, because our `MutatingWebhook` was removing it. Removing the `MutatingWebhook` let create/preserve the `managedFields`. I need to figure the `MutatingWebhook`. Thanks for all the advise.

[2020-12-17 17:27] oldthreefeng commented on #96700
somehow , this is incredible!  but I do meet this problem.  node is done by poweroff and even ipv4 is  not reachable ,  when use `kubectl get pod -n kube-system` on other master .  the apiserver pod with this ipv4 is ready.

[2020-12-17 17:28] eddiezane commented on #80228
Closed via https://github.com/kubernetes/kubernetes/pull/95076

/close

[2020-12-17 17:28] #80228 closed

[2020-12-17 17:33] kwiesmueller commented on #90066
@Ramyak we're tracking this problem in https://github.com/kubernetes/kubernetes/issues/96688

We are working on a way to resolve this.
The first step is to reset the managedFields if the admission chain breaks them.
So if your managedFields get reset because the admission webhook does something wrong, that should get fixed.
If it resets them on purpose you'll have to check the webhook itself.

[2020-12-17 17:48] joshiste commented on #97190
To support other runc namespaces the cri spec needs to be extended or at
least cri runtimes would need to read a header

rata <notifications@github.com> schrieb am Do. 17. Dez. 2020 um 18:11:

--
*JOHANNES EDMEIER*
Co-Founder
*steadybit GmbH*

johannes.edmeier@steadybit.com
+49 (0) 151 1086 7077

steadybit.com
Hochstrasse 11 | 42697 Solingen | Germany
Commercial Register: District Court Wuppertal

[2020-12-17 17:52] immuzz commented on #97159
cc @ddebroy

[2020-12-17 18:08] kfox1111 commented on #97178
Since this has happened before, could a unit test of some kind be added to check the output of the built kubectl version before pushing any artifacts?

[2020-12-17 18:28] eddiezane commented on #94280
/triage accepted
/priority backlog

[2020-12-17 18:28] eddiezane commented on #94280
/remove-priority awaiting-more-evidence

[2020-12-17 18:31] Huang-Wei commented on #93591
/assign

[2020-12-17 18:36] ialidzhikov commented on #97241
@hasheddan , few questions from my side:
1. Are v1.19.5 and v1.18.13 ready for production usage? I see that only v1.17.15 is affected by the GitVersion issue. Can you confirm
2. Sorry, my english is not good enough - what https://github.com/kubernetes/kubernetes/issues/97178#issuecomment-747572808 means? Will be a no-op v1.17.6 release to fix the GitVersion issue or the plan is simply to wait unti

[2020-12-17 18:55] alexdor commented on #59078
/remove-lifecycle rotten

[2020-12-17 19:05] grosser commented on #94155
We are also seeing this with etcd servers that are not co-located but healthy.
Everything works fine, but logs are getting spammed with these messages.

[2020-12-17 19:07] hasheddan commented on #97241
@ialidzhikov all versions hit the issue of both the release and rc tags being on the same commit so we will be running accelerated patch releases (i.e. not on the regular schedule, but not necessarily a no-op because cherry picks have been merged to the release branches since the last round of releases) for each.

[2020-12-17 19:35] bjethwan commented on #71162
/remove-lifecycle rotten

[2020-12-17 19:36] ehashman commented on #53533
@superdave I'm going to look into putting a document together to cover use cases and requirements in the upcoming year. (Will link here and send to the mailing list when I have something!)

[2020-12-17 19:49] adtac commented on #97170
Questions worth discussing:

1. Who can unsuspend jobs that were created in a suspended state? If the orchestrator should be the one to unsuspend jobs, should users be prevented from changing this bit? i.e. only allow controllers to toggle the field. Not sure how feasible this is. If this feature is only intended to be used with a controller (debatable if this is true, maybe there are use cases fo

[2020-12-17 20:03] troy0820 commented on #97347
@iam-veeramalla Rather than have this change be made widely, there is a plugin that exists that provides this functionality.
https://github.com/corneliusweig/ketall.  This is available now and wouldn't need to be added to the core of Kubernetes.

[2020-12-17 21:13] fedebongio commented on #97067
/assign @lavalamp
/triage accepted

[2020-12-17 21:15] fedebongio commented on #97294
/cc @lavalamp
/triage accepted

[2020-12-17 21:16] fedebongio commented on #97309
/remove-sig api-machinery

[2020-12-17 21:16] fedebongio commented on #97309
We triaged this one, it's sig Apps

[2020-12-17 21:17] fedebongio commented on #97312
/assign @caesarxuchao
/triage accepted

[2020-12-17 21:18] fedebongio commented on #97325
/triage accepted

[2020-12-17 21:22] lavalamp commented on #97067
Most pods in the cluster connect to apiserver via the kubernetes service. So, if you disable that, the endpoints won't be updated, and the service will not get the right IP addresses in it, and then pods will not be connecting to the right IP addresses. Note that it might be accidentally correct for a while if your apiservers IP addresses don't change.

I wouldn't mess with this unless you know fo

[2020-12-17 21:22] #97067 closed

[2020-12-17 21:32] #75065 closed

[2020-12-17 21:39] lavalamp commented on #97294
Did etcd reboot when it lost the leadership? Does rebooting the etcd on the first apiserver resolve the problem? If not, does rebooting etcd on another (i.e., a healthy) apiserver give it the problem?

My theory is that etcd losing leadership causes a watch event that causes a bad state in the etcd client. And it doesn't fix itself for 5 minutes (some socket timeout?). I'm not sure what the culpri

[2020-12-17 21:53] bl-ue commented on #97368
/close

[2020-12-17 22:05] norbertvannobelen opened #97373 "Job do not get registered as finalized leading to multiple (forever?) reruns of jobs"
**What happened**:
When launching >10k jobs into the k8s master the jobs do not go to a finalized state any longer.

Job list (kubectl get jobs) will show:

[code]

Where all these pods actually have successful executions (verified against pod list with pod status Completed).

Secondary:
The number of Pending pods is << smaller than the number of jobs still to be executed.

Other information: Ther

[2020-12-17 22:06] norbertvannobelen commented on #97373
/sig scheduling

[2020-12-17 23:29] ep4eg commented on #71887
The bug was fixed in runc [1.0.0-rc7+](https://github.com/opencontainers/runc/commit/cd41feb46b939b6179fbc3c388e33788f72ca38c#diff-d29b03d554c55e3f7c83497bc0f1d4aa2648660fb0e67ae2803efc0dc1915594), so the easiest way to get rid of those messages is to update Docker to 19.0.3+
/lifecycle stale

[2020-12-18 01:14] wking opened #97375 "Azure LB Availability Set assumptions too restrictive"
**What happened**: #96111 introduced new dependency on Availability Sets which is too restrictive for some existing installations: https://github.com/kubernetes/kubernetes/pull/96111/files#diff-0414c3aba906b2c0cdb2f09da32bd45c6bf1df71cbb2fc55950743c99a4a5fe4R1071

**What you expected to happen**: Azure cloud provider to successfully manage LBs, like it had been doing before.  Instead, it died [wit

[2020-12-18 01:15] nilo19 commented on #97375
/triage accepted

[2020-12-18 01:15] nilo19 commented on #97375
/assign

[2020-12-18 01:55] fOO223Fr commented on #97347
@troy0820  Using a plugin is great and is a good interim but to stick to the meaning of "all" `kubectl get all` should return all and not exclude anything because all means everything.

Happy to work on it if consider worthwhile

[2020-12-18 02:22] troy0820 commented on #97347
@fOO223Fr @iam-veeramalla I understand what you are saying but this discussion has happened in this thread https://github.com/kubernetes/kubernetes/pull/28955#issuecomment-232737113 and more recently in this thread here. https://github.com/kubernetes/kubectl/issues/151.  It is clear that going forward that this will not be implemented.  The provided plugin provides the mechanism to get "all" the r

[2020-12-18 02:27] house0128 opened #97377 "kube-proxy nf_conntrack_tcp_timeout_close_wait default value 60min is too large"
We deployed an NginxPlus on a Node node, found that a large number of packets were lost in the system around qps1300.
The error message is "nf_conntrack:table full,dropping packet."
The param net.netfilter.nf_conntrack_max is 655,360.

We found a large number of close_wait records in the conntrack table, but netstat don't show close_wait.like this :
![image](https://user-images.githubusercontent.c

[2020-12-18 02:27] wking commented on #97375
Notes on OpenShift's Azure infrastructure in ARM templates [here][1], in case that helps clarify the infra we use today.  Those are OpenShift 4.6 docs, and 4.6 is based on Kubernetes 1.19, and things worked fine.  The trouble we've been having when we took the same Azure-infra approach and tried to use it with Kubernetes 1.20, after openshift/kubernetes#471.

[1]: https://docs.openshift.com/contai

[2020-12-18 02:32] youpai commented on #83332
sorry, Maybe I know the problem,thanks

[2020-12-18 02:48] feiskyer commented on #97375
@wking could you share an example of resourceID (please replace your subscription/resourceName with fake ones)?

[2020-12-18 02:48] feiskyer commented on #97352
@michaelgugino could you share an example of resourceID (please replace your subscription/resourceName with fake ones)?

/triage accepted

[2020-12-18 03:02] pacoxu commented on #96841
After reading the comments from https://github.com/kubernetes/kubernetes/issues/89938#issuecomment-656206971 , it seems to be not expected to update secrets using `kubectl apply` since the feature discussions.

As I tried, apply with same data fields will not change the resource version. apply with same StringData would change the resource version as the conversion fo v1 secret to core secret only

[2020-12-18 03:02] pacoxu commented on #96841
/unassign

[2020-12-18 03:38] #93079 closed

[2020-12-18 03:38] liggitt commented on #82468
It is a bug, but since clients which can construct multiple headers can communicate values containing commas to the server today, and we don't reserve or escape characters in the group names, and the consequences of changing how authentication headers are interpreted are so severe, we would not change our interpretation of the headers sent by the client without an opt-in of some sort.

Rather than

[2020-12-18 05:26] pacoxu commented on #97368
/close

[2020-12-18 05:26] #97368 closed

[2020-12-18 05:29] inajob commented on #96923
This trouble occured on my cluster.
I notice the panic occured random timing, but "leaderelecton lost" log always exists before the panic.
So I extended the lease time of controller and scheduler 4 times.

[code]

I don't know why panic occured only "leaderelection lost".

[2020-12-18 05:38] wanderanimrod opened #97380 "Allow for setting pod priority based on custom metrics"
## What would you like to be added
I would like to be able to set pod priority based on a pod metric (in-built or custom), instead of using statically defined `PriorityClass` objects.

## Why is this needed
I am running a group of pods that run CI-style build tasks (using a statefulset, but could use a deployment too). The duration of those tasks is unknown until they finish running. I am working

[2020-12-18 05:38] chentaoz commented on #97309
One reason as pointed out in the comment is that the Statefulset defines volums in the statefulset.spec.volumeClaimTemplates instead of statefulset.spec.template.spec.volumes. so its containers can mount  volumes without setting  template(pod).spec.volumes, while other workloads cannot.

[2020-12-18 05:38] wanderanimrod commented on #97380
/sig autoscaling

[2020-12-18 08:17] aojea opened #97383 "kubectl exec doesn´t work for pods on master node"
**What happened**:

This has been seen in the CI, I can´t say if this is a bug, a configuration problem or "works as intended.

- Kubernetes CI deployment in GCE (pull-kubernetes-e2e-gce-ubuntu-containerd job)
- schedule pods in each node (master and workers)
- execute a command in each pod `kubectl exec -it pod sh -c ...`
- commands in workers nodes work perfectly
- the command fails in the maste

[2020-12-18 08:26] aojea commented on #97383
/sig api-machinery
due to the `unable to upgrade connection` error, that is present
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apimachinery/pkg/util/httpstream/spdy/roundtripper.go#L353

/sig node
for the kubelet error ` Debug endpoints are disabled`
https://github.com/kubernetes/kubernetes/blob/f5abe26a198d845f0a3cd6bd13ab9a37adda90b5

[2020-12-18 08:53] yingnanzhang666 opened #97384 "Dynamic Scoring Plugin in Scheduler"
### **What would you like to be added**:

A new score plugin: DynamicScoring.
It can give an opportunity to add some system-level preferences when we run into some temporary conditions.

### **Why is this needed**:

There are some scenarios that we want to prioritize a group of nodes dynamically, which are the temporary system-level preference.

During **os upgrading**, it upgrades nodes by group.

[2020-12-18 08:53] yingnanzhang666 commented on #97384
/sig scheduling

[2020-12-18 09:07] synox commented on #96841
Thank you for the information and workaround. It should also be noted that Secrets should be created as immutable: https://kubernetes.io/docs/concepts/configuration/secret/#secret-immutable

[2020-12-18 09:44] #91657 closed

[2020-12-18 09:56] aojea commented on #97360
I don´t know if I get the question correctly, so let me give you some details on the rationale about this:
if the Service doesn´t have endpoints, all the traffic that you send to the ClusterIP of the service can´t be forwarded, so it will be blackholed and the client have to wait until the socket timeout expires to detect that there is no way to connect to it.

Using a reject rule, the client that

[2020-12-18 10:46] yatintaluja opened #97386 "Volume affinity error"
We have an EKS cluster with multi-AZ enabled. We have stateful sets services running with multiple replicas.

Whenever we make a release for a stateful set service and the pod restart, one of the pod will go into a pending state because of volume affinity error, i.e. pod will get scheduled on a different node than initial setup, where volume is not present.

We should have a property to always sch

[2020-12-18 11:00] aojea commented on #97377
/sig network

it seems that conntrack is not able to see the packet closing the connection, or one of the sides is leaking, that remembers me this bug that involves nginx https://blog.cloudflare.com/this-is-strictly-a-violation-of-the-tcp-specification/

@thockin @bowei based on https://github.com/kubernetes/kubernetes/issues/32551 seems you have good insights in the topic, is not 60 minutes exces

[2020-12-18 11:10] Anticom opened #97387 "Improve lifecycle event handlers documentation"
**What would you like to be added**:
1. The documentation about [lifecycle event handlers](https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/) currently does not say anything about whether pods get re-scheduled when lifecycle.postStart.exec.command returns a non 0 exit code.
2. Furthermore it does not explicitly state, whether the commands run in the very same

[2020-12-18 11:12] Anticom commented on #97387
/sig docs

[2020-12-18 11:21] matsonkepson commented on #97369
/sig Security

[2020-12-18 11:47] excavador commented on #20227
+1

[2020-12-18 12:09] SataQiu commented on #97364
Maybe you can try upgrading your Kubernetes version, the latest version of the code already looks like this:
[code]
Ref: https://github.com/kubernetes/kubernetes/pull/96495

[2020-12-18 12:21] hjanuschka commented on #92267
issue is closed, the gdoc is not updated and no KEP has been filed, is this going to get worked on?

[2020-12-18 12:48] gilbeckers commented on #65973
/remove-lifecycle stale

[2020-12-18 13:49] sunshone opened #97389 "I use kubeadm to build k8s,but I found this problem the Scheduler and controllerManager is unhealthy"
I want to add --port=10251 and --port=10252 to overide the --port=0,but kubeadm cannot to build it .
I try to add --secure-port=10259 and --secure-port=10257 but  kubeadm cannot to build it  too.
![image](https://user-images.githubusercontent.com/69560953/102621373-69191880-417a-11eb-94ac-ce851a24e350.png)

[2020-12-18 13:49] tantweiler commented on #30617
I ran into the same issue but the comment from @cjcullen (09/29/2016) fixed it for me! Thanks a lot!

[2020-12-18 13:52] sunshone opened #97390 "I use kubeadm to build k8s,but I found this problem the Scheduler and controllerManager is unhealthy"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:
I want to add --port=10251 and --port=10252 to overide the --port=0,but kubeadm cannot to build it .
I try to add --secure-port=10259 and --secure-port=10257 but kubeadm cannot to build it too.
![image](https://user-images.githubusercontent.com/69560953/102621898-3c193580-417b-11eb-

[2020-12-18 13:52] #97389 closed

[2020-12-18 14:19] michaelgugino commented on #97352
Here's the error we're seeing:

[code]

[2020-12-18 15:08] markushhhhhh commented on #69774
Same issue for me. Spring Boot app has finished, still pod in running state

[2020-12-18 15:49] mayankagg9722 opened #97391 "Kubectl describe formatting in JSON"
I am using "kubectl describe nodes {nodename}", and facing issues in parsing the text and it also doesn't support json formatting.

Please give us support for json formatting example: "kubectl describe nodes {nodename} -o json".

Few same issues already have been raised here:
https://stackoverflow.com/questions/37464518/how-to-format-the-output-of-kubectl-describe-to-json

[2020-12-18 16:36] jayunit100 opened #97392 "test packet sizes in sig-windows focus suites"
**What happened**:

[code]

**What you expected to happen**:

Running tests w/ sig-windows should trigger any windows compatible tests that we want to run in production.
cc @claudiubelu

**Anything else we need to know?**:

**Environment**: master

[2020-12-18 16:36] jayunit100 commented on #97392
/sig network

[2020-12-18 16:36] jayunit100 commented on #97392
/sig windows

[2020-12-18 16:37] jayunit100 commented on #97392
 https://github.com/kubernetes/kubernetes/pull/83680 
https://github.com/kubernetes/kubernetes/issues/83739 

[2020-12-18 16:44] amgads commented on #92594
/remove-lifecycle rotten

[2020-12-18 16:45] amgads commented on #92594
This issue change is needed as it blocks using TLS for GlusterFS storage class

[2020-12-18 17:37] fip-post-cz opened #97393 "Separate readinessProbe for Service"
**What would you like to be added**:

In addition to startupProbe/livenessProbe/readinessProbe add new probe chooseProbe into Pod's definition for usage in Service only.
It will act similar as readinessProbe, however only Service will take it in account. Service should add pod's endpoint if all four probes startupProbe + livenessProbe + readinessProbe + chooseProbe are successfull (or not specifie

[2020-12-18 17:51] karlkfi commented on #92267
I spoke to sig-apps about it and they didn’t seem interested in having an upstream PR unless it was vetted in a fork or custom operator first and had support from other operators/tools that already do blue/green that they would use it.

I was just trying to contribute what seemed like an important missing feature while in between gigs for a few months, but it seems like getting this upstream will

[2020-12-18 17:52] #88791 closed

[2020-12-18 17:52] #93282 closed

[2020-12-18 18:20] stefanlasiewski commented on #87615
@caesarxuchao Can you elaborate a little more? I'm confused what #96770, titled "Use k8s.gcr.io/e2e-test-images instead of gcr.io/kubernetes-e2e-test-images for e2e test images", has to do with this bug.

Did you mean #96778?

[2020-12-18 18:37] fOO223Fr commented on #97347
@iam-veeramalla i guess this comment sums it up! https://github.com/kubernetes/kubectl/issues/151#issuecomment-410306145
I would suggest, no point fixating on it because people have done that in past for 3 years  (here [28955](https://github.com/kubernetes/kubernetes/pull/28955)) leading to nowhere.
@troy0820 thank you for addressing this issue. I guess it can be closed now

[2020-12-18 18:38] arianvp commented on #57534
To me it sounds like this issue could be resolved by adding a preflight check to kubeadm that makes sure that

[code]

returns a route; and if it fails instructs the user to either set up a default gateway or a dummy routte.

[2020-12-18 18:46] troy0820 commented on #97347
/close

[2020-12-18 18:46] #97347 closed

[2020-12-18 18:55] howardjohn commented on #71612
Strong +1 to adding this - its non trivial to compute the pod "ready" column as well

[2020-12-18 18:55] howardjohn commented on #71612
/reopen

[2020-12-18 18:56] ehashman commented on #83332
@youpai can you share the solution? It may be helpful to others encountering this bug.

[2020-12-18 19:08] fip-post-cz commented on #97393
/sig Network

[2020-12-18 19:22] tallclair commented on #84248
/remove-lifecycle rotten

[2020-12-18 19:24] tallclair commented on #69882
Related issue: https://github.com/kubernetes/kubernetes/issues/84248 (node local apicache)

This seems like a strong use case for a node-local API. Basically, address the problems with CNI plugins needing to watch the apiserver, without needing to load everything into the CNI API.

[2020-12-18 19:34] rthallisey commented on #28141
/reopen

[2020-12-18 19:34] rthallisey commented on #28141
/remove-lifecycle rotten

[2020-12-18 20:14] caesarxuchao opened #97394 "Adding e2e test for storage-version-garbage-collector"
There is a pending e2e test for storage-version-garbage-collector in the `kubernetes-sigs/kube-storage-version-migrator` repo. We should have an alpha e2e test for it in k/k as well. After all, the source code of storage-version-garbage-collector is in k/k.

/sig api-machinery
/assign @caesarxuchao @roycaihw

[2020-12-18 20:32] #96678 closed

[2020-12-18 22:09] wking commented on #97375
Example CI run [here][1] from the NIC-renaming openshift/installer#4490.  Installer logs [here][2] include:

[code]

I'm hoping that the subscription name is not sensitive, because we've been dumping them in public logs for a long time now 🤞.  Should be IDs for any other resources you're interested in in those logs as well.

[1]: https://prow.ci.openshift.org/view/gs/origin-ci-test/pr-logs/pull/op

[2020-12-18 22:19] frankjardel commented on #4247
Im resolve my problem like this: minikube kubectl -- create deployment hello-minikube --image=k8s.gcr.io/echoserver:1.4

[2020-12-18 22:49] yp28 opened #97396 "Add the ability to target an IngressClass controller in a specific namespace"
**What would you like to be added**:
Modify IngressClass to use ObjectReference instead of TypedLocalObjectReference.

**Why is this needed**:
Ingress controllers are workloads deployed on a cluster inside a namespace. When using multiple ingress controllers in a cluster, using the ObjectReference allows for better integration with those clusters, by having the means to target an ingress controlle

[2020-12-18 22:55] svaranasi-traderev commented on #57291
That sounds like the best workaround in this thread. Would you mind sharing how the service works?

[2020-12-18 23:13] vassilvk commented on #97110
@danwinship

As an alternative to using **external-webhook** one can use a [KubeMod](https://github.com/kubemod/kubemod) reject rule like [this one](https://github.com/kubemod/kubemod#resource-rejection).

KubeMod rules apply only to the namespace they are deployed to.
This makes it possible to have different policy rules with different allowed CIDRs and IP ranges for each tenant in a multi-tenant

[2020-12-18 23:14] richardmcsong opened #97397 "Custom `Namespace` cluster wide resource reports 404 when trying to GET"
**What happened**:
I defined a CRD with a custom group (eg. `test.my.domain`), and a custom version (eg. `v1beta1`), with the Kind set to `Namespace`, and the scope set to `Cluster`. A more detailed CRD definition is [found here](https://gist.github.com/richardmcsong/3380e22ad6b830f601dfe1ac313d865a).

After I applied this CRD, I created a sample resource, and then tried to list and get the resour

[2020-12-18 23:16] richardmcsong commented on #97397
/sig api-machinery

[2020-12-18 23:30] bingbing8 commented on #95214
any updates on these failures? @adelina-t

[2020-12-18 23:38] grosser commented on #57291
https://github.com/ankilosaurus/kube_remediator does that
https://github.com/kubernetes-sigs/descheduler also offers pod deletion on
too many restarts

On Fri, Dec 18, 2020 at 2:55 PM svaranasi-traderev <notifications@github.com>
wrote:

[2020-12-18 23:39] liggitt commented on #97397
what does the trace show (run with --v=6)?

/sig cli

[2020-12-18 23:44] liggitt commented on #97369
/sig auth
/remove-sig security
/kind support

Do you get the same results if you omit creating the role/rolebinding? That would indicate something else in the cluster is granting broad permissions to all service accounts. You can check `kubectl get clusterrolebindings -o yaml` to see if there are any grants to system:serviceaccounts or system:authenticated groups.

[2020-12-18 23:46] glasser commented on #57291
Our script is pretty hacky so unless people say that kube_remediator is hard to use or doesn't work well I might not dig it up :)

[2020-12-18 23:51] liggitt commented on #97391
Thanks for the request. This was previously requested in https://github.com/kubernetes/kubernetes/issues/25353 and declined. The APIs the describe command uses to obtain data about the object can be used and output in JSON format, but new multi-object APIs to output structured describe content are planned.

[2020-12-18 23:51] #97391 closed

[2020-12-18 23:58] #57144 closed

[2020-12-19 00:15] dlipovetsky commented on #76338
I think this may be resolved by https://github.com/kubernetes/kubernetes/pull/95981, which is in 1.20, and backported to 1.19.

[2020-12-19 01:27] richardmcsong commented on #97397
I've pasted it here: https://gist.github.com/richardmcsong/fb11a38a5b73349c5b0ed24522eebbaa

[2020-12-19 01:33] nilo19 commented on #97375
Looks like this is about the master node. Are you using standard LB or a basic one? For standard LB, the master node would be excluded by default.

[2020-12-19 02:29] SuxiangYundi commented on #97343
Dual stack tests ok with 1.20.0. Thanks a lot.

[2020-12-19 04:32] matsonkepson commented on #97369
Yes that is correct , i got very same result

After running this command (with the new ServiceAccount and its freshly created token and cert ) i got 1 occurrence of system:serviceaccounts and 3 occurrences of system:authenticated.

How can i check what is unwittingly giving me those broad permissions ?

[2020-12-19 04:34] youpai commented on #83332
Unfortunately, it hasn't been resolved，In my case，the problem is caused by calico network，I set the ipPool "172.27.0.0/16"，but the pods get "172.16.0.0/16". I'm trying to figure out why, and I will reply here when it is solved. Thanks again

[2020-12-19 04:48] liggitt commented on #97397
Likely caused by this check, which did not consider a cluster-scoped CRD named "namespaces", which confuses the request parser into thinking the request is namespaced: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L292-L295

/triage accepted
/cc @sttts

[2020-12-19 04:48] liggitt commented on #97397
/assign @sttts

[2020-12-19 04:48] liggitt commented on #97397
/remove-sig cli

[2020-12-19 08:06] #91668 closed

[2020-12-19 08:27] uablrek commented on #97357
Tested with;
[code]
And works. What seems to be missing in your setup is "onlink" routes;
[code]
These are the routes directing packets to pod cidr's on other nodes.

[2020-12-19 08:38] uablrek commented on #97357
This is not a bug or a support case in K8s but in the `flannel` CNI-plugin. Please try a `flannel` forum or issue.

[2020-12-19 09:07] #91881 closed

[2020-12-19 09:18] chew351 opened #97401 "Does kubernetes service ClusterIP type support forward proxy"
here is my deployment

client(cip)  <---------service(vip)-------|-----pod1 (rip1)

when client init request to vip, ipvs will do dnat via rr to pods in backend and pods respose can snat to vip, then transfer
is completed. but

when pod init request to client, service do MASQUERADE to snat source ip, this will snat the IP of interface which not vip to
send to client, my expect is :
when pod init r

[2020-12-19 11:01] aojea commented on #97343
Thanks
/Close

[2020-12-19 11:01] #97343 closed

[2020-12-19 11:17] SataQiu commented on #97397
It seems a little tricky to determine whether the request is namespaced or cluster-scoped by URL format.
https://github.com/kubernetes/kubernetes/blob/b749a3a421652644bb170b57375ef0cf46c0fa3f/staging/src/k8s.io/apiserver/pkg/endpoints/request/requestinfo.go#L179-L192

[2020-12-19 14:12] smarterclayton commented on #97288
Note that closing holes in pod status reporting have historically exposed actual bugs in the container runtime and volume subsystems.  I may have seen evidence of similar behavior as described above in cri-o after the openshift 1.20 rebase landed a couple of weeks ago in CI, so it’s possible it is in another subsystem.  I will review some of the runs for symptoms of this.

[2020-12-19 15:05] jayunit100 commented on #96639
Good points thanks for summarizing ,

1) since There are only 15 or so sig-windows tests .... I wonder what the right model would be for including the 98 other tests you mentioned into a conformance definition ?

2) Do  we need a new OS neutral conformance definition , so that we can get away from the Linux/Windows semantics ? I think maybe that’s the only way out .... otherwise we’ll constantly b

[2020-12-19 15:28] lianxmfor opened #97402 "Hope pv/pvc to support ceph rbd snapshot"
**What would you like to be added**:
i hope k8s can support ceph rbd snapshot
**Why is this needed**:
i have a pv/pvc:
[code]
now i create a pod use the pvc, but the pod not work, pending long time.
exec rbd showmapped in node:
0 rbd-ssd           rbd-ssd-dataset   v1   /dev/rbd0
1 rbd-ssd           rbd-ssd-dataset   v1   /dev/rbd1
2 rbd-ssd           rbd-ssd-dataset   v1   /dev/rbd2
...
and more

[2020-12-19 17:32] BenTheElder commented on #96639
2) nice idea but I'm personally going to say no. There are core behaviors that are expected on Linux that have long been in conformance predating any windows functionality that windows cannot replicate (think host resolution in pods). We'd be remiss to allow clusters to start failing this.

There's also no such thing as a purely windows cluster, and the portability of workloads leveraging Linux fu

[2020-12-19 17:41] chentaoz commented on #97342
ok, I see that. there is a ticket to add the pending status of job https://github.com/kubernetes/kubernetes/issues/95940

[2020-12-19 18:16] #92756 closed

[2020-12-19 19:17] #69014 closed

[2020-12-19 20:18] #93016 closed

[2020-12-19 21:28] brendandburns opened #97404 "containerd not responding leads to logspam and tight loop."
**What happened**:
Containerd started mis-behaving, kubelet went into a tight loop and was consuming 100% of CPU.

[code]

**What you expected to happen**:
Kubelet appears to be tight-looping (every ~40ms) trying to talk to containerd. There should be exponential back-off, and also 40ms is probably too fast even for the first retry.

**How to reproduce it (as minimally and precisely as possible)**

[2020-12-19 21:30] brendandburns commented on #97404
Oops, realized this is a duplicate of #95727, closing.

[2020-12-19 21:30] #97404 closed

[2020-12-19 22:08] vnev commented on #7923
Hi, if no one is working on this I'd be willing to take it up

[2020-12-19 22:20] #89874 closed

[2020-12-19 22:20] #93265 closed

[2020-12-20 01:00] thyarles commented on #87546
My vimrc

`set ts=2 sts=2 sw=2 et ai si number cursorline showcmd incsearch ignorecase`

[2020-12-20 02:24] #92653 closed

[2020-12-20 03:46] gavinfish commented on #90168
/reopen
/remove-lifecycle rotten

[2020-12-20 08:25] fip-post-cz commented on #97393
Proposal:

Pod:
apiVersion: v1
kind: Pod
metadata:
  name: ha-node
spec:
  containers:
  - name: ha-node
    image: ha-node:latest
    startupProbe:
      # as usual
    livenessProbe:
      # as usual
    readinessProbe:
      # as usual
    chooseProbe:
      exec:
        command:
        - /probe_is_master.sh
      initialDelaySeconds: 5
      periodSeconds: 3

Service:
No changes in definitio

[2020-12-20 08:48] waynepeking348 commented on #82570
/reopen

[2020-12-20 08:58] CoderYellow commented on #54918
works for me,thanks

[2020-12-20 10:32] #93056 closed

[2020-12-20 10:32] #93375 closed

[2020-12-20 10:33] sculley commented on #97100
I can confirm on a new install of 1.20.1 the issue still occurs

[code]

[code]

[2020-12-20 11:17] ontheway16 opened #97409 "After preparing certs, dash still says [Insecure access detected. Sign in will not be available...]"
/sig api-machinery

Hi, I am trying to setup a local kubernetes using two physical nodes but despite all efforts, **I have failed to view kubernetes dashboard** from another computer on same LAN, its saying:
[code]

**I followed the following steps** to setting up the dashboard, after applying relevant modifications to add certificates (**see below**) ;
[code]
and to enable dashboard UI;
[code]

t

[2020-12-20 11:28] RamLavi commented on #97367
/sig api-machinery

[2020-12-20 12:34] #90441 closed

[2020-12-20 12:34] #92623 closed

[2020-12-20 13:19] amirs-kov commented on #81723
+1

[2020-12-20 13:24] panicbit commented on #81723
# Please don't comment "+1". Use the reaction feature instead.

[2020-12-20 14:18] anthr76 commented on #95039
Currently facing this issue as well on 1.20.0. I'm happy to share any relevant information to help.

[2020-12-20 14:20] jayunit100 commented on #97393
not 100% sure here but one idea you could do:  is implementi using the `leader election API` , build on ETCD.  In that case, you could do something with init pods, where

1) Init pod cycled until it got a leader lock based on its IP
2) then the actual pod came up

[2020-12-20 14:21] docbobo commented on #95039
I’ve noticed that there is an online/offline on /sys/bus/cpu/devices (if I recall that correctly).

[2020-12-20 14:25] jayunit100 commented on #97393
/assign

[2020-12-20 14:26] jayunit100 commented on #97357
can we close this since its flannel specific ?

[2020-12-20 14:29] jayunit100 commented on #97226
/assign @mattfenwick

[2020-12-20 14:29] mattfenwick commented on #97226
/assign

[2020-12-20 14:31] jayunit100 commented on #87123
hi folks.....  Anyone looking at this ?

[2020-12-20 14:31] mattfenwick commented on #97226
hi @JokerDevops !  👋

Can you provide details about how we can reproduce this behavior?

[2020-12-20 15:37] #91132 closed

[2020-12-20 17:55] fip-post-cz commented on #97393
No.

Not possible. All pods must be running to enable continuous master-slave data replication.

Route traffic from service to selected pod only, not to all running pods.

[2020-12-20 17:59] andreib1 commented on #81723
I have come to the conclusion that this is deemed unimportant as it has been here for over a year with no sign of remedy or workaround.

[2020-12-20 18:16] panicbit commented on #81723
If that were the case, I would expect the issue to be closed with a rationale.

[2020-12-20 19:41] #93348 closed

[2020-12-20 19:59] ionutz89 commented on #95039
I am getting same issues with 1.20.0 / Ubuntu 20.04.1 LTS / 5.4.0-1025-raspi

[2020-12-20 22:21] rikatz commented on #58624
/reopen
/remove-lifecycle rotten
/assign @rikatz @jayunit100 @abhiraut
Let's tackle this in 2021 and see how viable is this for netpol evolutions.

[2020-12-20 22:42] aojea commented on #58624
This is more in line with the service-apis group work that already have the primitives to deal with applications https://kubernetes-sigs.github.io/service-apis/

@bowei are you already working on something of this or do you have it in your roadmap?

[2020-12-21 00:46] #93268 closed

[2020-12-21 01:04] redbaron commented on #74415
/remove-lifecycle rotten

[2020-12-21 02:20] niuyueyang1996 commented on #97364
Will 1.14 version be patch these codes？

[2020-12-21 02:22] thien-enouvo commented on #76069
I got the same issue. I setup full HA cluster on single disk.
For my investigation, my disk is too low write speed. The cluster works well when I migrate to a SSD high write speed.

[2020-12-21 02:43] zw0610 commented on #74237
@vvkkhjt Hi, do you mind sharing with us the solution you found to fix this issue?

[2020-12-21 02:54] yqwang-ms commented on #86373
/remove-lifecycle stale

[2020-12-21 02:54] yqwang-ms commented on #83834
/remove-lifecycle stale

[2020-12-21 03:07] vvkkhjt commented on #74237
https://github.com/vvkkhjt/k-collection/blob/20d458d049f724ca3d895d9f688ce60933803381/kapp/v1/v1.go#L224

[2020-12-21 03:13] zw0610 commented on #74237
Thanks a lot!

[2020-12-21 03:18] Mac24 commented on #97357
[root@k8s-master1 ~]# ip ro
default via 10.33.188.254 dev eth0 proto static metric 100
10.33.188.0/24 dev eth0 proto kernel scope link src 10.33.188.138 metric 100
10.244.0.0/24 dev cni0 proto kernel scope link src 10.244.0.1
10.244.1.0/24 via 10.244.1.0 dev flannel.1 onlink
172.17.0.0/16 dev docker0 proto kernel scope link src 172.17.0.1

[root@k8s-node2 ~]# ip ro
default via 10.33.188.254 dev et

[2020-12-21 04:22] #96339 closed

[2020-12-21 04:23] niuyueyang1996 commented on #97364
this exec will block forever,i think timeout not a good choice
loop to see if the connection is alive is better?
i expect if the docker exec session is not found will not block timeout
[code]

[2020-12-21 04:50] #93404 closed

[2020-12-21 05:49] theunrealgeek commented on #96717
Just a quick update, I haven't been able to spend time on this last couple days, however should have something out in a PR soon.

[2020-12-21 06:26] bobbypage commented on #95727
The fix is was applied on [v1.20.1](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#changelog-since-v1200) and [v1.19.6](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.20.md#changelog-since-v1200).

[2020-12-21 06:57] youpai commented on #83332
So sad，I have solved the calico network problem ,but metrics server is still unavailable

[2020-12-21 08:43] ialidzhikov commented on #97241
It seems that the issue is resolved with the v1.17.6 release.

/close

[2020-12-21 08:43] #97241 closed

[2020-12-21 08:54] rdxmb commented on #94927
/remove-lifecycle stale

[2020-12-21 08:59] pacoxu commented on #97409
/SIG is case-sensitive.
/sig api-machinery

[2020-12-21 09:38] pacoxu commented on #97409
/kind support

You may refer to  https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/README.md#login-not-available

[2020-12-21 09:55] #91047 closed

[2020-12-21 10:16] pacoxu commented on #97320
kube-proxy is using debain as base image.

/assign
Let me check other components

[2020-12-21 10:32] kujon commented on #92653
/reopen

Could we keep it open, please? There's a PR addressing this already: https://github.com/kubernetes/kubernetes/pull/96861

[2020-12-21 10:39] pacoxu commented on #97320
checked the base image in https://github.com/kubernetes/k8s.io/blob/abea07ed5ffe6b95f8af264af35e11723beb90b6/k8s.gcr.io/images/k8s-staging-build-image/images.yaml and  https://console.cloud.google.com/gcr/images/google-containers/GLOBAL/debian-base?gcrImageListsize=30

I seems that no new debian or ubuntu official image is built for this CVE ?

[2020-12-21 11:39] danberindei commented on #90710
/remove-lifecycle stale

I get the same error on Fedora 32 with kind v0.9.0, kubectl v1.20.0.

I tried images kindest/node:v1.19.1 (the default) and kindest/node:v1.18.8.

[code]

I'm not sure if I'm supposed to run those commands on my machine or in the kind container, but I have no `kubelet` SystemD unit and by the time this error message appears I don't have any running Docker container either.

[2020-12-21 11:41] farah commented on #92410
/reopen I will issue PR this week for this.

[2020-12-21 13:10] matsonkepson commented on #97369
okay , this is dump, but looks like there was a clusterrolebinding (i was not aware of that and was sure that cluster was clean) which was bounding all service accounts to the cluster-admin role

sorry for that :|

[2020-12-21 13:10] #97369 closed

[2020-12-21 13:55] jayunit100 commented on #97401
/sig network

[2020-12-21 14:08] rindoze opened #97420 "Scale Down Behavior is ignored"
**What happened**:
When using the scale down behavior "pods", the behavior is ignored. Period appears to be the default 15 seconds, and replicas are not scaled down by fixed pod amount as defined.

Annotations:                                                                <none>
CreationTimestamp:                                                          Tue, 17 Nov 2020 16:03:03 -0500
Reference:

[2020-12-21 14:59] Baykonur commented on #90814
/remove-lifecycle stale

[2020-12-21 15:18] adelina-t commented on #96639
I agree with @BenTheElder , I don't think there is a way to abstract core behaviours when it comes to Linux vs. Windows. The fact of the matter remains, despite the effort in bridging the gap between the two, they are two differently designed systems. For example, even when considering something as simple as file permissions, the two OSes use very different models. Also, we will have situations wh

[2020-12-21 16:09] caboteria opened #97423 "kubectl fails to apply strategic merge patch to custom resource"
**What happened**:
Attempting to add a finalizer to a custom resource using a strategic merge patch fails:

[code]
kubectl sends the request with a media type (`application/strategic-merge-patch+json`) that the server rejects:
[code]

**What you expected to happen**:
kubectl sends the patch with a media type that the server accepts.

**How to reproduce it (as minimally and precisely as possible)**

[2020-12-21 16:13] caboteria commented on #97423
/sig cli

[2020-12-21 17:01] neolit123 commented on #97390
for the KCM just use a HTTPS probe at /healthz:10257 and for the scheduler /healthz:10259.

for more questions please try asking on the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

and #kubeadm on k8s slack.

/close
/kind support

[2020-12-21 17:02] neolit123 commented on #97390
/remove-kind failing-test

[2020-12-21 17:07] neolit123 commented on #97420
/sig autoscaling

[2020-12-21 17:07] neolit123 commented on #97402
/sig storage

[2020-12-21 17:09] neolit123 commented on #97386
please correctly fill the issue template and then re-open this issue:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

thanks
/sig-storage
/area provider/azure
/sig cloud-provider
/close

[2020-12-21 17:09] #97386 closed

[2020-12-21 17:09] neolit123 commented on #97386
/sig storage

[2020-12-21 17:12] neolit123 commented on #97365
for similar questions best to ask on the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this version is no longer in support, if you see a bug in 1.18+ the maintainers can have a look.

thanks
/close
/kind support
/remove-kind bug

[2020-12-21 17:12] #97365 closed

[2020-12-21 17:13] neolit123 commented on #97364
no, versions older than 1.18 are out of support.

/sig node

[2020-12-21 17:14] neolit123 commented on #97363
it's here:
https://github.com/kubernetes/release/blob/d19bdf5169a8fd9e4ab74fd86b728fcac4bccf77/images/build/go-runner/README.md

/close

[2020-12-21 17:14] #97363 closed

[2020-12-21 17:14] neolit123 commented on #97360
/sig network

[2020-12-21 17:15] neolit123 commented on #97358
please try asking the kubespray maintainers first.
thanks

/close

[2020-12-21 17:15] #97358 closed

[2020-12-21 17:16] neolit123 commented on #97342
please fill the issue template correctly:
https://raw.githubusercontent.com/kubernetes/kubernetes/master/.github/ISSUE_TEMPLATE/bug-report.md

/sig apps

[2020-12-21 17:17] howardjohn opened #97424 "Transition from Service without selector to Service without selector leaves stale/incorrect endpoints"
**What happened**:

Starting with namespace with no services (but one pod matching app=istiod), create a service:
[code]
We see endpoint and slice is created properly.

Next, we remove the selector from service
[code]
We expect the endpoint to be removed. However, it sticks around and for some reason we have a duplicate EndpointSlice.

Manually add an Endpoint into the service
[code]

One of the s

[2020-12-21 17:18] neolit123 commented on #97062
/sig auth

[2020-12-21 17:18] howardjohn commented on #97424
/sig network

cc @robscott - mentioning you since this is something you work on I think, not because its blocking me at all.

[2020-12-21 17:18] neolit123 commented on #97154
@kshke please re-open if you have more questions.

/close

[2020-12-21 17:19] #97154 closed

[2020-12-21 17:38] abhat commented on #91072
@freehan @danwinship @aojea any thoughts?

[2020-12-21 17:43] ehashman commented on #94976
/remove-lifecycle stale

[2020-12-21 18:03] #90116 closed

[2020-12-21 18:09] jayunit100 opened #97425 "Fix comments and describe PodCache and K8sModel in netpol tests"
**What happened**:

minor issue but we should improve the comments on the netpol framework tests. @mattfenwick , esp the lifecycle around pod cache clearing, and the godoc for `getK8sModel` which is stateless.

**What you expected to happen**:

the `getK8sModel` comments would dovetail with the idempotency of how we get the networkpolicy abstract model and poll around it.

**Environment**:
- Kuber

[2020-12-21 18:09] jayunit100 commented on #97425
cc @mattfenwick can you do this in a follow on to #91592   ?

[2020-12-21 18:18] SergeyKanzhelev commented on #92674
/uncc @mayankshah1607

[2020-12-21 18:24] ryan-chase opened #97426 "The Kubectl Reference Guide for the kubectl run command incorrectly specifies that a deployment or job can be created by specifying --restart=OnFailure, or --restart=Never respectively."
The Kubectl Reference Guide for the kubectl run command (https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run), has incorrect information provided for the --restart flag specifically. The page says:

The restart policy for this Pod. Legal values [Always, OnFailure, Never]. If set to 'Always' a deployment is created, if set to 'OnFailure' a job is created, if set to 'Never',

[2020-12-21 18:31] neolit123 commented on #97426
/sig cli

[2020-12-21 18:32] neolit123 commented on #97426
/remove-kind bug
/kind documentation

[2020-12-21 18:33] neolit123 commented on #97425
/sig network

[2020-12-21 18:56] robscott commented on #91072
Unfortunately this is trickier than it seems on the surface since the Endpoints controller has set the precedent that Endpoints stay around when a selector is changed to nil. I think it could be argued that that was a bug - but it's been around long enough that it may have become a feature.

A nil selector is interpreted as "controller should not manage these endpoints". If the controller chose to

[2020-12-21 18:57] knabben commented on #97425
/auto-cc

[2020-12-21 18:58] ehashman commented on #85334
/reopen
/remove-lifecycle rotten

[2020-12-21 18:58] robscott commented on #97424
Hey @howardjohn, thanks for raising this issue! If I'm understanding this correctly, I think it may be a duplicate of https://github.com/kubernetes/kubernetes/issues/91072. I've added some more context in that issue about ways we could fix this - it's sadly more complicated than it seems on the surface. I'm going to close this but feel free to reopen if the other issue does not actually cover this

[2020-12-21 18:59] #97424 closed

[2020-12-21 19:02] yuga711 commented on #94912
/remove-lifecycle stale

[2020-12-21 19:04] #92741 closed

[2020-12-21 19:30] freehan commented on #91072
I am still debating if this is a "bug" or a "feature"?

There might be some automated system/script depending on this behavior. For endpoints-controller, it might not worth fixing as there can only be one Endppoints object per service . For endpointSlice-controller, it might just worth removing the EndpointSlices managed by the endpointslice controller.

[2020-12-21 19:37] Clivern commented on #97426
/assign @clivern

[2020-12-21 20:06] cagataygurturk commented on #96731
@matthyx could you elaborate? During the normal lifecycle of a Pod, the Pod may still enter to unready status. Imagine a scenario where readiness probe of the application also checks whether other dependencies (Databases etc.) are also available or not. In fact, we use this readiness signal to trigger an automated failover to other clusters in case there is no ready pod of a replicaset.

[2020-12-21 20:13] dougsland commented on #97283
Looks like you solved your issue report. If yes, could you please clarify it was firewalld settings? Could you please share what you did to solve it and close the issue report?

[2020-12-21 20:16] caesarxuchao commented on #86509
The garbage collection behavior described in https://github.com/kubernetes/kubernetes/issues/86509#issue-541346977, https://github.com/kubernetes/kubernetes/issues/86509#issuecomment-601188296 are as expected.

When using kubectl to delete the parent, to make the blockOwnerverDeletion option of the child's ownerRef effective, one needs to set `--cascade=foreground`.

[2020-12-21 20:16] #86509 closed

[2020-12-21 21:21] matthyx commented on #96731
@cagataygurturk in general, using external dependencies in a readinessProbe is an antipattern, please check https://learnk8s.io/production-best-practices
If that works for you, that's ok, however it could bite you in some circumstances.
I really think the only valid use case for a readinessProbe is now an application state that could solve itself, and even then it might cause issues as the number

[2020-12-21 21:35] cagataygurturk commented on #96731
With full respect, I think declaring this usage as antipattern is a bold statement. If the folks architecting a system thinks that a Pod shouldn‘t receive traffic when an external dependency of this Pod is not available, let it be so. The use case I have described is exactly what the documentation cited above is also suggesting and I have witnessed so many good scenarios where readiness works very

[2020-12-21 21:50] matthyx commented on #96731
Sorry for the bad communication, no probe is going away, we need the 3 to cover all use cases :-)

I just wanted to highlight that in most cases you should do differently than rely on probe, such as:
- crash the container instead of relying on livenessProbe
- use backpressure instead of relying on readinessProbe to protect a probe from excessive traffic
- use a technology starting instantly instea

[2020-12-21 22:03] aojea commented on #91072
this is interesting, it seems we may have a bug here due to the interaction of the `endpointslicemirroring` controller, you can reproduce it if you create 2 pods:
[code]

then create a service for the first pod, so we can see the endpoints are correctly generated:
[code]

Let's change the service selector to the other pod

[code]
 and we can see the endpoints are correctly updated

[code]

let's n

[2020-12-21 22:14] mattfenwick commented on #97425
Yes np @jayunit100 !

[2020-12-21 22:14] mattfenwick commented on #97425
/assign

[2020-12-21 22:28] aojea commented on #97424
The new slice is generated by the endpointslicemirroring controller , that is a bug https://github.com/kubernetes/kubernetes/issues/91072

[2020-12-22 01:12] readerx commented on #97283
yes, I have a solution. like this:

[code]

But, I don't know if this is a good way. Whether K8S or Calico can automatically handle this firewalld settings

[2020-12-22 01:21] ktpktr0 opened #97434 "When a pod has more than one container, it cannot resolve the FQDN domain name"
k8s version: 1.17.3
docker version: 19.03

Recently, when using STS to deploy applications, I found that when a pod has only one container, I can get the IP of the pod through the dig command; when a pod has two containers, I can't use the dig command to get the IP of the pod. Here are the details:

1、When there is only one container in the pod

![image](https://user-images.githubusercontent.com/4

[2020-12-22 03:03] gavinfish commented on #81245
/remove-lifecycle stale

[2020-12-22 03:08] pacoxu commented on #97423
/assign
Will look into this.

[2020-12-22 03:49] rackeric commented on #79805
We are in need of this feature and I submitted the following PR to add this as a tunable option to kube-apiserver. https://github.com/kubernetes/kubernetes/pull/97430

[2020-12-22 03:55] Belyenochi opened #97436 "ResourceQuota at the cluster level support?"
I would like to ask how to restrict reasourceQuota at the cluster level instead of the namespace level (because there are multiple clusters sharing etcd),thx~

[2020-12-22 04:54] b10s opened #97437 "Creation of cluterip fails due to quota on nodeports"
Having 2 services of type nodeports I do set a hard quota limiting services.nodeports to 0.
Then I'm failing to create clusterip service with error:
[code]
Do I understand right that the creation of clusterip service requires 0 services of nodeports, therefore in total, taking in account 2 already existed, I exceed the quota?
If so why clusterip requires 0 services of nodeports ?

Is it seems as a

[2020-12-22 04:54] b10s commented on #97437
/sig api-machinery

[2020-12-22 05:09] pacoxu commented on #97423
[code]

When you run it with `--dry-run=client`, it suggests to use --type=merge and it works.

- `--type= strategic` uses `-H "Content-Type: application/strategic-merge-patch+json"`
- `--type= merge`  uses `-H "Content-Type: application/merge-patch+json"`

[2020-12-22 05:40] tangyouze commented on #19317
I use ``` kubectl edit namespace ****``` and remove the finalizer part, and save.

https://github.com/rancher/rancher/issues/14715#issuecomment-407900343

[2020-12-22 06:07] pacoxu commented on #97437
It only happens when you create  quota after nodeports was created.

Per https://kubernetes.io/docs/concepts/policy/resource-quotas/#enabling-resource-quota
[code]

[2020-12-22 06:28] b10s commented on #97437
@pacoxu I see.  Why clusterip requires 0 services of nodeports ?

[2020-12-22 06:30] DalekFrog opened #97438 "v1.20.1 still pull k8s.gcr.io/pause:3.1 even if i set my own imageRepository"
**What happened**:

In my Test environment:
I use comand:`kubeadm init --config kubeadm.yaml` to start a single node k8s.
kubeadm.yaml:
[code]
when successfully init
[code]

**What you expected to happen**:

***see the last image***
there should be no `k8s.gcr.io/pause:3.1` here.

I was going to setup a Offline Cluster with my own image repository which had already synced image from k8s.gcr.io .

[2020-12-22 06:30] pacoxu commented on #97437
`kubectl describe quota ` and `kubectl get quota -o yaml` in your namespace to see the resource quota.

[2020-12-22 06:31] pacoxu commented on #97437
Still the link above https://kubernetes.io/docs/concepts/policy/resource-quotas/

name | descriptions
-- | --
services | The total number of Services that can exist in the namespace.
services.loadbalancers | The total number of Services of type LoadBalancer that can exist in the namespace.
services.nodeports | The total number of Services of type NodePort that can exist in the namespace.

[2020-12-22 06:34] #97352 closed

[2020-12-22 06:37] pacoxu commented on #97438
please check kubelet service configuration for --pod-infra-container-image in each node.

[code]

Let me try to reproduce.

[2020-12-22 06:55] b10s commented on #97437
The way to reproduce is below. You can try on latest k8s on minikube.

[code]

/tmp/q.yml  is:
[code]

[2020-12-22 06:58] DalekFrog commented on #97438
I found `--pod-infra-container-image` in `/var/lib/kubelet/kubeadm-flags.env`

[code]

[2020-12-22 07:02] pacoxu commented on #97437
what's your expectation?

[2020-12-22 07:04] b10s commented on #97437
To be able to create a `clusterip` service since I have limited only `nodeports`

[2020-12-22 07:22] Clivern commented on #97426
I can see the docs got updated https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#run to `--restart='Always': The restart policy for this Pod.  Legal values [Always, OnFailure, Never].`

kubectl too since it used to be like this

[code]

If u update to latest version

[code]
Do u think something still missing @ryan-chase or this can be closed?

[2020-12-22 07:32] jamesfranklinnetsec commented on #50295
thanks this was my problem cheerio

[2020-12-22 07:33] DalekFrog commented on #97438
I just tried Ubuntu2004 with containerd, without docker.
still see the image : `k8s.gcr.io/pause:3.2`

but if i use docker, everything is ok

[2020-12-22 07:35] DalekFrog commented on #97438
/sig cluster-lifecycle

[2020-12-22 07:37] Clivern commented on #97387
hey @Anticom, you can edit the docs from here https://github.com/kubernetes/website/edit/master/content/en/docs/tasks/configure-pod-container/attach-handler-lifecycle-event.md & open a PR if u interested

[2020-12-22 07:41] Clivern commented on #97367
/assign

[2020-12-22 07:51] umialpha commented on #95051
I like this feature. Hope it be added in the future.

[2020-12-22 07:52] pacoxu commented on #97438
I usually check images with `kubeadm  config  images  list  --config kubeadm.yaml`

Can you check kubelet logs or events for `k8s.gcr.io/pause` ?

[2020-12-22 08:18] aojea commented on #97383
seen again in another job

[2020-12-22 08:21] pacoxu commented on #97437
/assign

It seems to be an admission controller bug in

https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/apiserver/pkg/admission/plugin/resourcequota/controller.go#L393
evaluator is set to the cluster ip service's group resource service.

It matches with the nodeport quota as well.
https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a78

[2020-12-22 08:23] Belyenochi commented on #97436
/Cluster Lifecycle

[2020-12-22 08:23] Belyenochi commented on #97436
/sig Cluster Lifecycle

[2020-12-22 08:23] Belyenochi commented on #97436
/sig  cluster-lifecycle

[2020-12-22 08:24] Belyenochi commented on #97436
sig/cluster-lifecycle

[2020-12-22 08:25] Belyenochi commented on #97436
/wg cluster-lifecycle

[2020-12-22 08:25] b10s commented on #97437
@pacoxu thank you for fast reaction!

[2020-12-22 08:26] Belyenochi commented on #97436
/sig architecture

[2020-12-22 08:28] DalekFrog commented on #97438
did not find something useful in kubelet's log. but in  containerd's log. I found  `k8s.gcr.io/pause:3.1`
[code]

[2020-12-22 08:41] pacoxu commented on #97438
It seems to be a problem in containerd.
https://github.com/containerd/cri/blob/master/docs/config.md

The default is k8s.gcr.io/pause which is generated by `containerd config default`
https://github.com/containerd/containerd/blob/f2e8fda82b0792cdc845139f99abea61b851ef90/pkg/cri/config/config_unix.go#L59

[2020-12-22 08:42] 13164815445 opened #97442 "hope job can support nodeSelector or affinity"
**What would you like to be added**:

job can support nodeSelector or affinity

**Why is this needed**:

In my needs, I want to back up etcd data. I use cronjob to achieve my needs. I hope pods are only scheduled on nodes marked with etcd, but this is not supported.

there may be more scenarios, and I think this ability is still very important

[2020-12-22 08:49] 13164815445 commented on #97442
/sig apps

[2020-12-22 08:53] soubhik-c commented on #81020
I am hitting this same issue and getting volume node affinity conflicts

[code]
  sorry if this rotten issue gets reopened, but apparently there is no analysis posted here.

[2020-12-22 08:57] DalekFrog commented on #97438
Great !!!
Thanks

[2020-12-22 08:57] #97438 closed

[2020-12-22 09:05] pacoxu commented on #97423
@neolit123 This seems to work as expected.
Do you think we need to make the server response more friendly as the message of `kubectl client --dry-run=client`.

[2020-12-22 09:09] marceloboeira commented on #94416
👁️

[2020-12-22 09:28] talonx commented on #79224
I don't think the ConfigMap reads the env variables here. For the ConfigMap, `${ELASTICSEARCH_HOSTS}` is just plain text. The text "${ELASTICSEARCH_PASSWORD}" and others is read as text by Kibana and interpreted as an env var, and Kibana reads that from the env (where it is available). So your application has to understand env vars for this approach to work.

[2020-12-22 09:34] pacoxu commented on #97434
is this a coredns issue?
Would you open an issue on https://github.com/coredns/coredns/issues?

[2020-12-22 09:42] jicki opened #97444 "kubelet Error: "UnmountVolume.TearDown failed for volume"
/sig Storage
/sig Node

- Kubernetes version (use `kubectl version`):  v1.17.9
- OS (e.g: `cat /etc/os-release`): ubuntu 18.04.4 LTS
- Kernel (e.g. `uname -a`):  5.4.0-47-generic
- Install tools:
- Network plugin and version (if this is a network-related bug):  calico v3.13.2
- Others: glusterfs 7.5

[code]

[2020-12-22 09:57] 13164815445 commented on #97442
it is my fault. node selector is already support

[2020-12-22 09:57] #97442 closed

[2020-12-22 10:09] aojea commented on #97434
/sig network
ping @chrisohaver

[2020-12-22 10:11] ktpktr0 commented on #97434
@紫杉 I've found the cause of the problem. When a pod has multiple containers (STS deployment mode) and only one SVC, dig is used to resolve the FQDN domain name. The back-end does not know which container needs to be accessed, so there is no IP return. When I configure a separate SVC for each container, the dig command can normally resolve the FQDN domain name.

[2020-12-22 10:19] #69082 closed

[2020-12-22 10:26] Moshem123 opened #97445 "CPU Throttling on Linux kernel 5.4.0-1029-aws"
**What happened**:
After this thread: https://github.com/kubernetes/kubernetes/issues/67577 we upgraded our instance images to use Ubuntu 20.04 which has kernel `5.4.0-1029-aws`, later than 4.18 that introduced the fix on the CFS and 4.19 that fixed the regression that resulted.

We have set CPU requests and limits for all of our pods on the cluster BUT the control-plane pods and node daemonsets s

[2020-12-22 10:31] Moshem123 commented on #97445
/sig node

[2020-12-22 11:08] adnxn commented on #87123
#97162 address this and is waiting for a review

[2020-12-22 11:47] sleshchenko commented on #91732
/remove-lifecycle stale

[2020-12-22 11:56] jerryzhyliu commented on #44540
**Still have the issue...**

kubectl version
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.8", GitCommit:"9f2892aab98fe339f3bd70e3c470144299398ace", GitTreeState:"clean", BuildDate:"2020-08-13T16:12:48Z", GoVersion:"go1.13.15", Compiler:"gc", Platform:"linux/amd64"}

Server Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.3", GitCommit:"2e7996e3e2712684bc73f0d

[2020-12-22 12:27] caboteria commented on #97423
Thank you, Paco, for looking into this!

The problem is that merge patch is unable to do some important operations (for example, safely removing a finalizer from an object's metadata) so it's not a substitute for strategic merge.

The error message suggesting that the client switch to merge patch is unhelpful, but a clear message indicating that strategic merge patch is unsupported *would* be help

[2020-12-22 14:00] chrisohaver commented on #97434
A StatefulSet and a Pod with multiple containers are unrelated:  Any Pod can have multiple containers regardless of how it was deployed.  And a StatefulSet can create Pods with a single container or multiple containers.

CoreDNS builds FQDN records for Pods (endpoints) based on Endpoints objects in Kubernetes.   Endpoints objects are usually created by Kubernetes based on the Service's `selector`.

[2020-12-22 14:27] dougsland commented on #97052
@rikatz @aojea looks like solved by kubespray?

[2020-12-22 14:32] Moshem123 commented on #67577
Still seeing unnecessary throttling with kernel `5.4.0-1029-aws`. Am I the only one?
Related issue: https://github.com/issues

[2020-12-22 14:55] connorworkman commented on #79224
@talonx you're correct, thanks for clarifying

[2020-12-22 14:58] dougsland commented on #97283
In a fresh env, what happens if you do the following:

[code]

Add the following configuration into the environment section:

[code]

Save and apply/deploy the plugin:

[code]

See also: https://github.com/projectcalico/calico/issues/2322
If the above approach works, try to deploy your env via kubespray. It should handle that automatically.

[2020-12-22 15:00] sereinity commented on #67577
@Moshem123 the link you provided list the issues that the current github user created (yours on your account, mines on my account …) please provide the list of issues or a link that works for other people than yourself.

[2020-12-22 15:02] Moshem123 commented on #67577
yeah sorry, fixed the comment.
https://github.com/kubernetes/kubernetes/issues/97445

[2020-12-22 15:09] champtar commented on #97052
To be clear kube-proxy is working just fine, with a warning. kubespray needed some love (merged but not released)

[2020-12-22 15:12] dougsland commented on #97052
Great. Can we close this one?

[2020-12-22 15:13] dougsland commented on #97283
Adding @champtar into the loop.

[2020-12-22 15:22] sftim commented on #97283
I'm not convinced that this is a documentation issue for Kubernetes. Maybe this'd work better as a Calico issue or support request?

[2020-12-22 15:33] champtar commented on #97052
It'll get closed if/when #97070 is merged

[2020-12-22 15:49] champtar commented on #97283
kubespray recommend to just stop firewalld, or to manage it manualy
I personally leave firewalld enabled with basically the following rules
[code]
In the add-entry I put the nodes ips, the clusterIPs and podIPs cidr
I have no idea if it affect Calico network policies as I don't use them, but for sure your issue here is firewalld conf

your nft rule just allow any forwarding, might be too permissiv

[2020-12-22 16:01] pacoxu commented on #97423
/unassign

[2020-12-22 16:04] dougsland commented on #97283
Agreed and I believe the trick I have mentioned in https://github.com/kubernetes/kubernetes/issues/97283#issuecomment-749582099 should make it work.

[2020-12-22 16:07] yu2003w opened #97458 "'make release-images' doesn't build ppc64le/s390x images"
**What happened**:
When run below commands against master branch, only amd64 images are built.
[code]
**What you expected to happen**:
Images should be built successfully according to values set in `KUBE_BUILD_PLATFORMS`.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud pro

[2020-12-22 16:18] pacoxu commented on #97288
/cc

[2020-12-22 16:18] wking commented on #97375
[Standard][1] (and [here][2]).

Is this documented somewhere?  We've been using standard LBs [for years][3], with no problems until the bump to the Kube 1.20 Azure cloud-provider.

[1]: https://github.com/openshift/installer/blob/41059581b9ba1f932f3e36fff2099930e97a30ff/data/data/azure/vnet/public-lb.tf#L54
[2]: https://github.com/openshift/installer/blob/41059581b9ba1f932f3e36fff2099930e97a30ff/d

[2020-12-22 16:24] alvaroaleman commented on #97375
Are you referring to the built-in logic of Kube to never target master nodes with a service type LoadBalancer?

[2020-12-22 16:34] champtar commented on #97283
@dougsland right, you also definitly need to set `FELIX_IPTABLESBACKEND` to `NFT` or `Auto`, else you have mixed iptables-nft and iptables-legacy usage, which is undefined.
@readerx Fix the config and reboot everything

[2020-12-22 16:41] amisevsk opened #97460 "VolumeMount permissions with subpaths are dependent on order in the yaml"
**What happened**:

Adding a VolumeMount to a container with a multi-part subpath results in only the leaf directory having 777 permissions. If you define e.g.
[code]
then within the volume, `dir1` and `dir2` will have `755` permissions, whereas `dir3` will have `777` permissions. This means that if you want to remove `dir1` and `dir2` eventually from within a pod, you will need to use a privilege

[2020-12-22 16:44] wking commented on #97375
That used to be a problem (#65618), but my understanding is that it has since been fixed.

[2020-12-22 16:55] nicolasdilley opened #97461 "Potential runtime error: "negative WaitGroup counter" in NodeMapper.GenerateNodeMap()"
**What happened**:

I think that there is a potential runtime error in method `NodeMapper.GenerateNodeMap()` at lines 62-142 in [test/e2e/storage/vsphere/nodemapper.go](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/vsphere/nodemapper.go#L62).

The bug can arise when `len(nodeList.Item) > 0` and the goroutine spawned at [line 110](https://github.com/kubernetes/kubernetes/blo

[2020-12-22 16:55] amisevsk commented on #97460
/sig storage

[2020-12-22 18:16] neolit123 commented on #97423
this is topic for sig api machinery.
/sig api-machinery

[2020-12-22 18:40] dougsland commented on #97052
Oh @champtar, I though you said this report was about  kubespray only. Let me check this PR.

[2020-12-22 20:27] roycaihw commented on #97394
ref https://github.com/kubernetes/kubernetes/pull/97293#issuecomment-748818470

[2020-12-22 20:35] kong62 commented on #97227
@chentaoz

if  I set maxUnavailable=0, maxSurge=2, there will be 2 pods ContainerCreating, and only when these 2  pods become ready, will there be 2 pods in Terminating state

[2020-12-22 20:58] wking commented on #97375
Can we re-open this?  kubernetes-sigs/cloud-provider-azure#443 was [not sufficient][1] to get the cloud-provider happy on our infra, which again, contains no Availability Sets.  There are some more notes about our infrastructure [here][2] (with discussion in [rhbz#1794839][3]), in case that helps.

[1]: https://github.com/kubernetes-sigs/cloud-provider-azure/pull/443#discussion_r547438803
[2]: htt

[2020-12-22 21:11] fedebongio commented on #97367
@Clivern are you planning to work on this one? Might be an occurrence of us de-dupping and incrementing the count?
/triage accepted

[2020-12-22 21:12] staebler opened #97467 "Azure legacy-cloud-provider incorrectly removes nodes from LB backend pools"
**What happened**:
When creating a service, the Azure legacy-cloud-provider attempts to remove nodes that do not match the labels for the service from the backend pool of the standard loadbalancer. This behavior should only happen when
1) the provider is configured to use multiple loadbalancers,
2) the node is labeled with node.kubernetes.io/exclude-from-external-load-balancers, and
3) the Service

[2020-12-22 21:15] fedebongio commented on #97383
As we quickly looked at this one during the triage, we suggest looking at the kube_up script. It might be working as intended (probably the Kubelet is being set to not allow exec).

 In GCE all nodes should be in the same network, so not clear why this would be happening.
/triage accepted

[2020-12-22 21:15] fedebongio commented on #97394
/triage accepted

[2020-12-22 21:17] fedebongio commented on #97396
/remove-sig api-machinery

[2020-12-22 21:18] fedebongio commented on #97409
/remove-sig api-machinery

[2020-12-22 21:19] varshachandanb opened #97468 "min select policy in HPA does not trigger scale down behavior"
**What happened**:
[code]
HPA does not trigger scale down when `selectPolicy: Min` in behavior.
Noticed this message on describe HPA:
"ScalingLimited  True    ScaleDownLimit  the desired replica count is decreasing faster than the maximum scale rate"

**What you expected to happen**:
When the Current/Target metric ratio is lesser than 1, expected scale down to be triggered by reducing 10% percent

[2020-12-22 21:20] fedebongio commented on #97423
/cc @roycaihw
/triage accepted

[2020-12-22 21:21] fedebongio commented on #97437
/cc @yliaog
/triage accepted

[2020-12-22 21:22] wking commented on #97375
@staebler, who has a better grasp on this than me, also just opened #97467.  Sounds like fixing that broader issue might obsolete this ticket, because "the cloud-provider expects Availability Sets which OpenShift infra doesn't have in order to figure out which nodes to remove" doesn't matter if the cloud-provider isn't removing any OpenShift nodes in the first place.

[2020-12-22 21:43] jayunit100 opened #97472 "revise L7 and L3 test tags so theyre easy to filter"
**What happened**:

Right now to skip loadbalancer tests which can be slow (20 minutes or more) we have to do:

[code]

**What you expected to happen**:

We should be able to do

[code]

to unambiguously and clearly filter specific tests.  Meanwhile we probably should just dynamically add and eventually remove, entirely,  those other tags.

[2020-12-22 21:43] jayunit100 commented on #97472
/sig network

[2020-12-22 21:43] jayunit100 commented on #97472
/sig testing

[2020-12-22 21:48] aojea commented on #97472
we should have more meaningful tags, `ginkgo.skip=L7|L3` are very cryptic ... I'm bad at naming though :smile:

[2020-12-22 22:09] robscott commented on #91072
Thanks for the details @aojea! I tried this out myself and was able to recreate it as well. This actually represents the controllers working as intended right now, as strange as that is. The two EndpointSlices in this example are created/managed by different controllers.

### State 1: Service with a selector
Endpoints Controller: Create Endpoints
EndpointSlice Controller: Create EndpointSlice
Endp