[2018-04-18 21:27] Random-Liu commented on #62700
The issue is that master kubelet can even start:
[code]

The error is from https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L143.

It seems that there is no cert file or something on master.

[2018-04-18 21:29] ankurgadgilwar commented on #39178
Hello all,
I am pretty new to Kubernetes. What I am trying to do is get a VolumeClaimTemplate to attach to a storage class that i have defined already.
The question I have is, would the claim bind itself to the StorageClass mentioned in the YAML file if I haven't defined the volumes part before the volumeClaimTemplate part?
`volumeMounts:
          name: zk-datadir
          annotations:

[2018-04-18 21:30] mikedanese commented on #62700
That's not the error anymore. Look at the recent runs. https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features

[2018-04-18 21:31] Random-Liu commented on #62700
@mikedanese Yeah, https://github.com/kubernetes/kubernetes/pull/62766 fixed https://github.com/kubernetes/kubernetes/issues/62700#issuecomment-382535068. Now it is the kube-proxy issue.

[2018-04-18 21:44] #62248 closed

[2018-04-18 21:44] #61632 closed

[2018-04-18 21:44] #60462 closed

[2018-04-18 22:03] brentpearson opened #62816 "Request for job failure on pod failure rather than job remaining active"
/kind feature
/sig node

This is a feature request resulting from:
https://github.com/kubernetes/kubernetes/issues/62415

**What happened**:
I run a job with a volume that references a non-existent config map.
I get an error message like
"MountVolume.SetUp failed for volume "some-volume" : configmaps "some-missing-config-map" not found"
The pod sits with a "Pending" status if viewed from the pod i

[2018-04-18 22:16] spiffxp commented on #30025
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 22:24] janetkuo commented on #58384
This sounds reasonable. It's related to #62415

[2018-04-18 22:25] lenadroid commented on #59867
Had the same issue on 1.9.6, but updated my kubectl version and everything works now!

[2018-04-18 22:27] janetkuo commented on #62415
@brentpearson actually, is #58384 what you want?

Instead of giving up retry and failing the pod, with #58384 you can set a deadline in job spec, and if the pod doesn't start within the deadline (timeout), the job would fail. This can be implemented in job controller, and won't have the pod creation hotloop problem that I mentioned above.

[2018-04-18 22:29] spiffxp commented on #34146
/reopen
/remove-lifecycle rotten
based on the comments from @chrishiestand

[2018-04-18 22:30] spiffxp commented on #38768
/remove-help
I don't think this meets [the criteria for `help wanted`](http://git.k8s.io/community/contributors/devel/help-wanted.md). Please add back via `/help` if I'm incorrect

[2018-04-18 22:44] mikedanese commented on #62700
@Random-Liu is that tracked elsewhere? Is anyone looking into it?

[2018-04-18 22:44] mikedanese commented on #62700
Ahh, folding into: https://github.com/kubernetes/kubernetes/issues/62757

[2018-04-18 22:48] davidz627 commented on #60461
Functionality covered by #62433. No tests with mock driver yet

[2018-04-18 23:33] venilnoronha opened #62817 "kubelet times-out when mounting a volume"
/kind bug

**What happened**:
On creating a stateful-set, the `kubelet` times-out while mounting a volume. The volume is attached and PVC bounded; however, `VolumesInUse` and `VolumesAttached` aren't populated.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Use the following yml configuration to create a StorageClass.
[code]
Use the following

[2018-04-18 23:34] lavalamp commented on #60690
Why is there a need to permission the ca data differently from the rest of the object? It is not sensitive.

[2018-04-18 23:34] venilnoronha commented on #62817
/sig storage

[2018-04-18 23:37] MrHohn commented on #62700
To clarify, the kube-proxy issue tracked on #62757 is GKE specific and is unrelated to this thread. Now it seems this gce-alpha-features is failing on a different error. Took a quick look and found some pod priority relevant errors (`no PriorityClass with name system-node-critical was found`) in kube-controller-manage logs:
[code]
@bsalamat could you help triaging? Thanks!
/assign @bsalamat
/reope

[2018-04-19 00:02] BenTheElder commented on #62700
/assign

[2018-04-19 00:02] BenTheElder commented on #62700
/reopen

[2018-04-19 00:02] BenTheElder commented on #62700
/unassign

[2018-04-19 00:14] BenTheElder commented on #62701
/assign @jpbetz

[2018-04-19 00:23] pragyamehta opened #62821 "kubectl port-forward service/<service-name> with --pod-running-timeout option doesn't work as expected"
I am running
kubectl port-forward service/servicename localPort:remotePort --pod-running-timeout=5m
on a newly created service.

**Expectation** : I would expect that the call would hang and "wait" till at least one pod is in Running state till a period of 5 minutes and then attempt to port forward. If after 5 minutes, no pod is "Running", the call will fail.

**Observation** : The call returns al

[2018-04-19 00:25] jpbetz commented on #62701
Fixing

[2018-04-19 00:30] leblancd opened #62822 "DualStack: Add IPv4/IPv6 Dual-Stack support and awareness"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
For Kubernetes Release 1.10 or older, clusters can only be run in either IPv4-only, IPv6-only, or in a VERY limited dual-stack configuration. The current dual-stack support is limited by the following restrictions:
- Pods can have dual-stack addresses (if a CNI plugin is used that supports dual-stack, e.g. bridge or c

[2018-04-19 00:31] leblancd commented on #62822
/sig network
/assign leblancd

[2018-04-19 00:53] #61966 closed

[2018-04-19 00:53] #58805 closed

[2018-04-19 02:03] andyzhangx commented on #48677
@msau42 this proposoal is not os specific, so it should be ok for windows. Subpath is already supported on windows, what we need to to is ensure that in code implementation there is no os specific handling(like os path handling) in common code, just loop me in the code review, thanks.

[2018-04-19 02:11] j03wang opened #62824 "UnmountVolume.TearDown fails for AzureFile volume, locks up node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Once every so often, (I'm guessing when there's a connection issue with Azure Files), the unmount as part of deleting a pod will fail:

`nestedpendingoperations.go:263] Operation for "\"kubernetes.io/azure-file/cc5c86cd-422a-11e8-91d7-000d3a03ee84-myvolume\" (\"cc5c86cd-422a-11e8-91d7-000d3a03ee84\")" failed. No retries

[2018-04-19 02:13] j03wang commented on #62824
/sig azure

[2018-04-19 02:16] Lion-Wei commented on #62638
@rramkumar1 Yeah, I think you are right.
If we have an loadbalancer with source ranges, then the third and the last rule will be created. After that, if we create another loadbalancer, it will definitely not match `KUBE-LOAD-BALANCER-SOURCE-CIDR` set, then will come to the last rule, got mark drop.
Our e2e didn't include this case, but this is a serious problem, I think.

[2018-04-19 02:53] linyouchong commented on #62630
@jsafrane @vladimirvivien
I make a Fix: https://github.com/kubernetes/kubernetes/pull/62827
PTAL

[2018-04-19 03:19] hchenxa opened #62828 "Unable to release resource in resource-quota when scale down deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Resource is not released in resource quota when pod is deleted.
Step 1: Check resource limit is full
![b1ce12ee-3f4b-11e8-8ec6-60d798660dde](https://user-images.githubusercontent.com/10266685/38969493-2ca38708-43c3-11e8-8e16-04fa080304da.png)

step 2: Scale down deployment to 0, and pod is confirmed to be killed, but res

[2018-04-19 03:31] smarterclayton commented on #61206
It seems more likely we’d require preconditions and patches for each - we don’t want to patch a pod that has been deleted and recreated.  So we’d want you to provide the pod uid with the patch.

This sounds like the bulk update mechanism, but supporting subresources.

[2018-04-19 03:50] justmine66 commented on #62776
The problem has been solved，Tokon expired
Regenerate a token: `kubeadm token create`, then 'kubeadm join'

Hoping kubernetes to improve 'kubeadm join' decription information and increase `the expired description of the token` tips.This will Improve the efficiency of work，tks !!!

[2018-04-19 04:08] ravisantoshgudimetla opened #62830 "Strategic merge patch sort causes confusion"
**What happened**:
While working on a kubelet node status update bug, I noticed that 2 way strategic merge patch does sorting of elements in the slice. This was causing problems when items are appended to original slice in unsorted fashion as part of request sent to patch. For example while setting node addresses with following values

[code]
, I am noticing the following error:
[code]

On further

[2018-04-19 04:28] jyparketc commented on #60742
@hochuenw you have to set other port.

`--cadvisor-port : The port of the localhost cAdvisor endpoint (set to 0 to disable) (default 4194)`

[2018-04-19 04:29] AishSundar commented on #62700
status/approved-for-milestone

[2018-04-19 04:33] jpbetz opened #62831 "Update test-infra to use new etcd image version scheme"
kubeadm-gce and kubeadm-gce-selfhosting jobs still use the `k8s.gcr.io/etcd-amd64:<etcd-version>` tags when referencing etcd images but should be updated to use the `k8s.gcr.io/etcd-amd64:<etcd-version>-<image-revision>`.  To mitigate the problem in the short term we've tagged the `k8s.gcr.io/etcd-amd64:3.2.18-0` docker image with `k8s.gcr.io/etcd-amd64:3.2.18`.

xref https://github.com/kubernetes

[2018-04-19 04:35] jpbetz commented on #62701
Resolved.

As part of https://github.com/kubernetes/kubernetes/pull/61241 we changed the etcd image docker tag from a format like `k8s.gcr.io/etcd-amd64:<etcd-version>` to `k8s.gcr.io/etcd-amd64:<etcd-version>-<image-revision>`, e.g. `k8s.gcr.io/etcd-amd64:3.2.18-0`. To mitigate the problem in the short term we've tagged the `k8s.gcr.io/etcd-amd64:3.2.18-0` docker image with `k8s.gcr.io/etcd-amd64

[2018-04-19 05:53] ReSearchITEng commented on #60374
@dgabrysch  I like your ansible section for API HA: https://github.com/dgabrysch/k8s-bootstrap/blob/master/full-cluster.yaml .
I would like to add it to https://github.com/ReSearchITEng/kubeadm-playbook/
I have some small questions (e.g. why generating other certs beyond etcd ones).
Can you ping me on slack or email?

[2018-04-19 06:03] anguslees commented on #60690
As I was describing above, the provenance of the data is different (for a self-hosted api service).  The workflows _writing_ the two (conceptual) parts of the APIService information are different, and (with the existing schema) I need a weaker RBAC security policy in order to allow one part of that workflow to potentially also write to the output of the other part.

As a specific example: I want t

[2018-04-19 06:15] wojtek-t commented on #62064
I would say that there might be a second (smaller?) regression in the first half.
But +1 for assuming for now this was a good one and proceeding with that assumption.

[2018-04-19 06:41] wojtek-t commented on #62808
@shyamjvs - thanks for catching.
That said, it explains only problems with 2k-node cluster.

That said, looking into run 141 of 5k-node cluster, pod-startup-time is back to normal:
[code]

The test unfortunately faced other problem, which was high-latency of some calls:
[code]

I spent some time looking into logs from run 140 yesterday and the problem seemed to be related to 429s, not any regressi

[2018-04-19 06:53] rmohr commented on #56567
So the controller would then do a "force" delete once it is done, in contrast to removing the finalizer? This would then require the opt-in on the CRD, right? Instead  of removing the finalizer the controller would then do something like a `force` delete on the CR, once it thinks that it is ready for deletion? Would that be the equivalent of a `--force` from the `kubectl` point of view?

[2018-04-19 07:10] rmohr commented on #56348
In case someone else runs into that problem: Our workaround right now is to let the controller check if the orphan finalizer is at index zero in the finalizer list. Then we remove the owner reference ourselves. This unblocks the garbage collector.

[2018-04-19 07:37] pdu opened #62835 "How soon the pod IP will be reused after the pod terminate?"
I have a use case that I would like the pod IP cannot be reused until 5 mins after the IP is released. I would like to know the default behavior about this in k8s and how to configure it?

Thanks!

[2018-04-19 07:38] chrishiestand commented on #34146
/reopen
/remove-lifecycle rotten

Thanks for trying @spiffxp  👍

[2018-04-19 07:46] yubingjiaocn commented on #62828
/sig scalability
/sig scheduling

[2018-04-19 08:03] WanLinghao commented on #58790
@mikedanese Hello~ Are your proposals runnable currently? Since I switched TokenRequest and assigned  other options respectively as your proposal requested. However, I noticed that the serviceAccount still goes on old ways and gives no error info.

[2018-04-19 08:13] sjiang17 commented on #28272
use
[code]
    volumeMounts:
    - mountPath: /dev/shm
      name: dshm
[code]

[2018-04-19 08:16] ogre0403 opened #62837 "nvidi-smi can not get GPU related information inside Pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I setup a kubernetes with GPU, and I try to use nvidia-smi inside Pod to see the GPU usage.
Before I run any GPU supported code, I can see the nvidia-smi output of host and Pod are the same.
From host:
[code]

I only use one GPU in this Pod, so only one GPU is shown from nvidia-smi in Pod:
[code]

But when I run something

[2018-04-19 08:18] Igor-Pchelko opened #62838 "tl get pv"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-04-19 08:22] Lion-Wei opened #62839 "[failed ci] IPVS delay on sync proxy rules result in many ipvs e2e test case flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Many service related test cases in `gci-gce-ipvs` test case are flaky. Especially `session affinity` related cases.
CI Link: http://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs

**What you expected to happen**:
IPVS should sync rules within `ipvs-min-sync-period`.

**How to reproduce it (as minimally and precisely

[2018-04-19 08:28] k82cn commented on #58042
@YoniTapingo , would you help to show the output of `kube description` of the node?

[2018-04-19 08:33] dgabrysch commented on #60169
Actually I think I fixed it, it was a rather little thing :)

[2018-04-19 08:35] pdu commented on #62835
/sig network

[2018-04-19 08:36] dgabrysch commented on #60374
@ReSearchITEng  Of course I can get in touch, but it seems I am too dumb to find yur contact info :/

[2018-04-19 08:36] houjun41544 opened #62840 "E2E: Some pods containers use image "busybox", which causes to force a pull every time even if the image already exists locally"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
 E2E:
Some pods containers use Image:"busybox" (eg. kubernetes\test\e2e\common\configmap.go), which causes the kubelet to pull the image even if it already exists locally. Because images using the :latest tag will implicitly set the imagePullPolicy to Always.
If a k8s node cannot connect to internet, pods schedulered on

[2018-04-19 08:46] houjun41544 commented on #62840
/sig/testing

[2018-04-19 09:03] jfpucheu commented on #61426
Which network pluggin are you using?
 I have the same type of pb with calico but works with Flannel.

Jeff

[2018-04-19 09:05] Stono opened #62841 "Pods created via StatefulSet are not being given A records as expected"
Hey,
As the title says, I'm unable to resolve pods by their hostname when they're being created as part of a StatefulSet.

Environment:
  - Google Container Engine `1.9.6-gke.1` (I have tried 1.8.8 too)
  - Kubedns `gcr.io/google_containers/k8s-dns-kube-dns-amd64:1.14.8`

**Working with pods explicitly**
This is an example proving that DNS is working as I expect it to, as per [this guide](https://

[2018-04-19 09:08] Stono commented on #62841
/sig networking

[2018-04-19 09:09] Stono commented on #62841
@kubernetes/sig-GCP-gcp

[2018-04-19 09:10] soltysh commented on #38768
@juanvallejo we need to check this list and figure out what needs fixing these days.

[2018-04-19 09:10] YuxiJin-tobeyjin commented on #58494
@Random-Liu

[2018-04-19 09:15] junechouiscoming opened #62843 "node cannot join in cluster, (the server has asked for the client to provide credentials)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
*Searched a lot of information, also read a lot of issues, but did not solve*

[code]

[code]

[code]

[code]

API server logs likes normal
[code]

kubelet service is running, but logs like this
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to kno

[2018-04-19 09:16] Stono commented on #62841
I don't know if it's related, but I also noticed that if I remove the:

[code]

From the "working" example, to create a truly headless service and as per the documentation "# Actually, no port is needed." then the working example stops working too:

[code]

[2018-04-19 09:17] airwolfnh commented on #58065
/remove-lifecycle stale

[2018-04-19 09:34] soltysh commented on #42649
@gtaylor - no idea, you can try. Although I'm worried that if the suspend is on for longer than 100 missed invocation it might suffer the same problem. I appreciate your feedback :)

[2018-04-19 09:36] dzoeteman commented on #42649
@soltysh yes, it does the same thing on suspend, hence I made my earlier comment :)

[2018-04-19 09:37] soltysh commented on #62415
Also in the mean time, you can try using `.spec.activeDeadlineSeconds` which caps the overall job time.

[2018-04-19 09:45] #55958 closed

[2018-04-19 09:45] #50812 closed

[2018-04-19 10:01] shyamjvs commented on #62808
I need to double check, but I remember very strongly that this problem of
higher latency of 'delete rc' (and even 'post rc' sometimes) had been there
around for a long time and is one of the cause for our flakes. And they're
happening since quite some time (more than 2 months at least iirc). So my
strong feeling is it's unrelated to this particular etcd change.

That said, we should try to first v

[2018-04-19 10:10] mtablado commented on #62777
RedHat support told me this:

I guess this closes the issue...

[2018-04-19 10:10] #62777 closed

[2018-04-19 10:15] bishnuroy commented on #58217
Service is running but getting the same error.

[code]

[2018-04-19 10:26] pmichali commented on #62822
Two other factors to consider are maintaining backward compatibility with IPv4/IPv6 only configurations, and the impact on configuration files/templates.

Some questions...

What would be the benefit of doing **both** IPv4 and IPv6 liveness/readiness probes? Would either one or the other mode be adequate?

How will display be handled, in light of multiple IPv6 addresses (e.g. get pods)?

Should IP

[2018-04-19 10:31] moonek opened #62845 "HPA not working properly when pod status "Unknown" (node failure)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
HPA not working properly when pod status `Unknown` (node failure)
I confirmed in k8s `v1.10.3` that this problem has not been solved yet.

**What you expected to happen**:
HPA based on number of normal pods except `Unknown` pods.

**How to reproduce it (as minimally and precisely as possible)**:
Test yaml
[code]
Initial s

[2018-04-19 10:32] andyzhangx commented on #62824
/assign

[2018-04-19 10:35] andyzhangx commented on #62824
@j03wang could you attach the whole kubelet logs on that agent node? And also do you have a simple config to repro this issue easily?

[2018-04-19 10:43] nevola commented on #62720
Thank you for your response @danwinship

That are interesting to know. FMPOV, the adoption of nft will be done sooner or later and all major distributions are currently working on the integration.

The kube-proxy proposal to use nft is just an example, cause I consider that the value added in terms of usability and performance really worths it.

But, as you said, the full picture is bigger than th

[2018-04-19 10:50] nevola commented on #62720
Thank you for your response @m1093782566

Exactly, there are some workarounds but the main idea of this proposal is to discuss if the integration of the nft infrastructure is something to take into account in the roadmap.

[2018-04-19 10:55] #62839 closed

[2018-04-19 11:25] llarsson commented on #51271
I can't remember anymore, but I had an ELB bug related to not having all the magic AWS Tags that the code assumes will be there on the VPC Subnets. Can someone that has this problem check what tags are on their:

 * VPCs
 * Subnets
 * LoadBalancer that is behaving this way

...and report back?

[2018-04-19 11:45] ReSearchITEng commented on #60374
Same like github: researchiteng, in the https://kubernetes.slack.com

[2018-04-19 12:08] yypaul commented on #62782
I met the same issue， the result of ```journalctl -xeu kubelet``` :
4月 19 16:23:23 localhost kubelet[8153]: E0419 16:23:23.950042    8153 pod_workers.go:186]
Error syncing pod de983ffbc7f4929e5afc5927740925e4 ("kube-scheduler-yeahuh-vb_kube-system(de983ffbc7f4929e5afc5927740925e4)"),
 skipping: failed to "StartContainer" for "kube-scheduler" with RunContainerError: "failed to start container \"3f9

[2018-04-19 12:31] shyamjvs commented on #62064
So from the ones we were suspecting yesterday, the following remain in the diff:

- https://github.com/kubernetes/kubernetes/pull/56075 move rc-scaling to polling
- https://github.com/kubernetes/kubernetes/pull/60342 nested volume mounts
- https://github.com/kubernetes/kubernetes/pull/59495 exec-based client auth provider

[2018-04-19 12:31] wojtek-t commented on #62064
There are only 4 potentially suspicious PRs in that range:
https://github.com/kubernetes/kubernetes/pull/56075
https://github.com/kubernetes/kubernetes/pull/60342 (highly unlikely, as it touches only kubelet and doesn't increase API calls IIUC)
https://github.com/kubernetes/kubernetes/pull/58171 (highly unlikely, as we're not using flex volumes in our tests)
https://github.com/kubernetes/kubernete

[2018-04-19 12:36] r-moiseev commented on #47733
We have same issue in Azure. Services of type LoadBalancer works fine, but for ClusterIP services service-controller get us the same event - LoadBalancer not found. And there is hundreds of them

[2018-04-19 12:36] detiber commented on #60169
@dgabrysch Do you mind adding a comment with your resolution to help others that may find this issue hitting a similar problem?

[2018-04-19 12:39] shyamjvs commented on #62808
@wojtek-t As I was suggesting offline, this issue https://github.com/kubernetes/kubernetes/issues/56066 filed by @porridge long time back I believe is around when we started observing these increased latencies. The suspected change https://github.com/kubernetes/kubernetes/pull/57480 was bumping etcd-client and grpc versions - though I don't know if/why it's causing the regression.

[2018-04-19 12:48] andyzhangx commented on #62824
@j03wang This issue is fixed by https://github.com/kubernetes/kubernetes/pull/52324, fixed in v1.8.8, v1.9.7 and v1.10.0. The repro is easy:
 - create a pod with azure file mount
 - regenerate the account key of the storage account
 - delete the pod, and the pod will never be deleted due to UnmountVolume.TearDown error

[2018-04-19 13:11] j03wang commented on #62824
Thanks for the rca! Guess it's too bad that 1.9.7 hasn't been released yet.

[2018-04-19 13:14] migueleliasweb commented on #49387
Sadly, the same thing happens for v1.9.4:

What I'm trying to do here is to get all pods with a given parent uid...

[code]

Waiting anxiously for this feature •ᴗ•

[2018-04-19 13:47] msau42 commented on #62706
/close
Test is fixed now.

[2018-04-19 13:48] msau42 commented on #62705
/close
Test is fixed now

[2018-04-19 14:01] dgabrysch commented on #60169
Yeah, sorry. The kubeadm config file the node names  shall not be fqdns, it breaks the authentication for e.g. kubelet a.s.o.

[2018-04-19 14:01] iiitux commented on #56165
referenced https://github.com/kubernetes/kubernetes/issues/57673   #issue
set kube-controller-manager startup parameter --horizontal-pod-autoscaler-use-rest-clients=false to slove the problem。

[2018-04-19 14:33] mdeknowis commented on #37471
Have the same issue using MobaXterm (cgywin)

[code]

[2018-04-19 14:35] wojtek-t commented on #62808
As discussed offline, while you're done with debugging the other regression and we will have capacity to run some experiment, I would like to run:
1. etcd on tempfs experiment (to see if we are not blocked on disk or sth like that)
2. run against old enough etcd version (3.0.17) ideally also with client downgraded to 3.1.* (from before that PR you mentioned)

[2018-04-19 14:36] wojtek-t commented on #62808
I was running some etcd benchmarks and it seems it shouldn't cause that big problems as we observe...
Or maybe the problem is that I was only reproducing write load, without any read load...

[2018-04-19 14:44] dixudx commented on #49387
This filter string is not supported.

For pods, only "metadata.name", "metadata.namespace", "spec.nodeName", "spec.restartPolicy", "spec.schedulerName", status.phase", "status.podIP", "status.nominatedNodeName", "sepc.nodeName" are supported.

@migueleliasweb If you want to filer out the pod in your case, you can use [`jq`](https://stedolan.github.io/jq/).

[code]

Also you can use [JSONPath Suppo

[2018-04-19 14:50] #50125 closed

[2018-04-19 15:04] stepanstipl commented on #58065
We hit the same issue.

Seems like "normal" http rest based kubectl commands (like get) work fine with Socks proxy, but the ones based on SPDY2 fail (attach, exec, port-forward). There's general move towards Websockets, I believe this is already implemented on server side (#13885) and there's work being done to move kubectl to Websockets too (#48641, #50428). I believe that once this lands, the re

[2018-04-19 15:11] gangachris commented on #37471
while working with Jenkins, I kept getting the error `Unable to use a TTY - input is not a terminal or the right kind of file` because the pod was not yet in a ready state. We had to write a script to check make sure the state of the pod is `Running`

[2018-04-19 15:13] liggitt commented on #62808
I looked a bit into it and didn't see any low-hanging fruites, but it would be good for someone to take a deeper look into it at some point. @liggitt @mikedanese - FYI

that's odd... benchmarking that component specifically with higher-than-expected authorization graph contention doesn't show any problematic delays. see https://github.com/kubernetes/kubernetes/pull/62856#issue-182795344

[2018-04-19 15:25] wojtek-t commented on #62808
I think it's not even about contention. It's just using a lot of CPU, which is unexpected to me...

[2018-04-19 15:27] mikedanese commented on #62808
Do we save the raw profile?

[2018-04-19 15:29] BobbyJohansen commented on #29789
I think this is a must have when it comes to managing the cluster. It is quite annoying to have to dig through random string ELBs when attempting to find the one you are looking for. Especially if you have multiple coming from kubernetes.

[2018-04-19 15:33] wojtek-t commented on #62808
No - we are collecting only pdf's.

[2018-04-19 15:35] corby commented on #29789
For large corporations where there is a Tier 1 devops support team, they need to be able to look at an ELB, EC2 instance, AutoScaling group, etc. and, at a glance, be able to tell what the component belongs to.
Currently kubernetes assumes that all human interaction will be done through some kube interface, but if the DevOps/Ops team doesn't have access to this, they are hard pressed to figure out

[2018-04-19 15:50] nneul commented on #29789
To be fair, the information IS present in the tags, it's just incredibly tedious to find stuff since AWS doesn't expose the ability to see tag columns on the ELB listing like they do for ec2 instances. (Why?!?)

[2018-04-19 15:56] justinsb commented on #29789
We've had some attempts at solving this before, but the problems are around:

* Collisions if users can specify names (though this can be fixed)
* What happens when e.g. an annotation is changed, or what happens to existing ELBs if we change the prefix

As @nneul pointed out, we do add tags so the information is visible, though the AWS console doesn't surface them as nicely as it could.

I'd welco

[2018-04-19 15:58] #62410 closed

[2018-04-19 16:05] mikedanese commented on #62808
Raw profile would be helpful. The addon manager doesn't need to list pods. I can send a PR to fix that.

[2018-04-19 16:06] jsw commented on #45398
/remove-lifecycle stale

[2018-04-19 16:08] wojtek-t commented on #62808
That would be great - happy to review that.

[2018-04-19 16:11] stevekuznetsov commented on #54247
/remove-lifecycle stale
@kubernetes/sig-node-bugs

[2018-04-19 16:13] lavalamp commented on #60690
I'd like to see what @deads2k or @liggitt think about that.

My initial thought is that some part of your system is writing the APIService resource and will be priviledged, and it's not obvious to me why adding the ca setup code to that thing makes it more dangerous. I can imagine ways of doing it where this is more true or less true, but I don't see a compelling reason to do it in one of the latt

[2018-04-19 16:24] gtaylor commented on #29789
Though, as mentioned, the presentation on AWS's part leaves something to be desired (by default), I think the tags satisfy our needs for cataloging what ELB comes from which cluster. The names _could_ be somewhat more friendly, but is it fair to consider this mostly cosmetic (due to the tags)? Or is there something else we could add to the tags to satisfy the other concerns here?

[2018-04-19 16:27] wojtek-t commented on #62064
@shyamjvs - so let's run on commit with one of them and without the other

[2018-04-19 16:31] maxx-bachurin commented on #61999
It's likely that du burns all Burst Balance for the gp2 ebs volume. You can check it in AWS CloudWatch.
It seems du -s /var/lib/docker/overlay/ consumes a lot of IOPs during the check which burns Burst Balance for the gp2 ebs volume and makes it work at baseline performance.

You can use a simple check to find out iops consumption for du:

\time -f 'iops=%w' du /var/lib/docker/overlay/f8fb07fef949

[2018-04-19 16:35] Nate-Clark commented on #28321
to @arikkfir 's point...  or better yet, just process the boolean value correctly!

[2018-04-19 16:37] BobbyJohansen commented on #29789
Would something like k8s-{servicename}-{uuid} not suffice within the given elb character limit?

[2018-04-19 16:40] jpbetz commented on #62701
Fix verified: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce/

[2018-04-19 16:41] PatrickLang commented on #62812
8d3407c7ba204fd095172a2dd2782e6de68fa0d4e384467574929340d50e5ff3  definitely failed due to missing pagefile. I corrected that, then did another deployment.

I think these ones started successfully:
bd02e2c98451c204ed034131a6e1f2383b00ae3c56ff891d0fd4002b1d5d30db
d3e254838dd00e424583e6ebdecb8054410b8ba79d2e75ed8e78f838e9ce23f5

I'll give things another try today on the other environment with Window

[2018-04-19 16:41] iponnam opened #62861 "EventRateLimit - Admission Control - Fails to start kube-apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
When EventRateLimit has included in Admission Control, kubelet is unable to start kube-apiserver pod.
**What you expected to happen**:
kube-apiserver to start.
**How to reproduce it (as minimally and precisely as possible)**:
setup kubernetes master using kubeadm.
Apply weave-net cni
Once the master is ready, stop the ku

[2018-04-19 16:45] iponnam commented on #62861
@kubernetes/sig-api-machinery

[2018-04-19 16:46] iponnam commented on #62861
@kubernetes/sig-api-machinery-bugs

[2018-04-19 16:52] #56065 closed

[2018-04-19 16:53] #62644 closed

[2018-04-19 16:58] mtaufen commented on #58010
I don't think it ever defaulted to true in the Kubelet - just that most deployments explicitly set it to true.

I guess (from above comments) the behavior today is that the flag needs to be set to true to use PSP?

Perhaps we can change the default. I'd normally argue against doing so (breaking API change), but it seems like it might be a relatively soft break (just allows a superset to run by def

[2018-04-19 16:59] greg-jaunt commented on #29789
@nneul :  Pro Tip for finding your service's ELB in AWS.

In the search box on the Load Balancers page in the EC2 console type "tag:k", then select "kubernetes.io/service-name" from the dropdown, then select your service name from the list.

[2018-04-19 17:04] iponnam commented on #62843
@junechouiscoming Could you please post the etcd startup and api-server yaml files

[2018-04-19 17:14] AishSundar commented on #62131
kind/cleanup
priority/important-longterm

[2018-04-19 17:17] AishSundar commented on #62399
kind/flake

[2018-04-19 17:18] AishSundar commented on #62131
/kind cleanup
/priority longterm

[2018-04-19 17:29] liggitt commented on #62861
what version are you running with?

[2018-04-19 17:29] fturib opened #62865 "e2e network/config-map - adapt the ConfigMap change depending the kind of DNS Server running."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
the 3 existing e2e test  in the file : test/e2e/network/dns_configmap.go
are testing the capability of changing configuration parameters for kube-dns. (federations, upstreamNameservers and stubDomains)

it is specific to kube-dns DNS Server.

As we plan to move to CoreDNS DNS Server as default, we need to ensure that

[2018-04-19 17:30] fturib commented on #62865
@MrHohn @bowei : do you agree with this change for config-map e2e tests ?

[2018-04-19 17:31] mikkeloscar commented on #58010
Right now it's just confusing that it's marked as deprecated when there is no alternative. Sounds like this wasn't the intention so maybe not marking it deprecated (or making it clear when it's needed) in the CHANGELOG would probably be good.

[2018-04-19 17:32] fturib commented on #62865
/sig network

[2018-04-19 17:33] ericuldall commented on #52858
Strangely enough I found another one of my clusters had a working config (now at 1.9.6-gke.0) so I just exported that into the broken cluster and got my labels back. One thing strange is I'm getting duplicate metrics (maybe I have 2 jobs scraping the nodes) one set has the labels and the other set just lists instance ip's along with the metrics. I used the following query to filter on my dashboard

[2018-04-19 17:34] iponnam commented on #62861
Kubernetes Version 1.9.5
The API Server pod not creating itself
Attaching kubelet logs.
[kubelet.log](https://github.com/kubernetes/kubernetes/files/1929157/kubelet.log)

[2018-04-19 17:36] iponnam commented on #62861
Referred the following document:
https://kubernetes.io/docs/admin/admission-controllers/#eventratelimit-alpha

[2018-04-19 17:47] nneul commented on #29789
@BobbyJohansen I believe the ELB name is limited to 32 characters... While certainly you could chop off the uuid, that raises issues about either potential collisions and needing to handle those additional failure modes. Does seem like it would be useful as an option though if set on an annotation for the loadbalancer.

[2018-04-19 17:48] nneul commented on #29789
There was a suggestion from @lpabon above that suggested something similar.

[2018-04-19 17:53] #55975 closed

[2018-04-19 17:54] MrHohn commented on #62865
At the first glance at the KEP PR (https://github.com/kubernetes/community/pull/1956) it sounds like coredns is going to have an equivalent configmap (in Corefile format?) that user can tweak. Are we planing to reuse the tests as the behavior will be similar, or writng brand new tests?

[2018-04-19 17:57] msau42 opened #62867 "local volume fsgroup tests failing with gce localssd"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Testgrid: http://k8s-testgrid.appspot.com/sig-storage#gce-serial
Test logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/3317

[2018-04-19 17:58] msau42 commented on #62867
The tests were added as part of https://github.com/kubernetes/kubernetes/pull/62646

And are passing for tmp directory based local volumes

[2018-04-19 18:10] tallclair commented on #62747
I added some detail to the issue description to help us discuss the different parts.

@mikedanese Yeah, that makes sense. I think that could be the answer to (4.c), with per-pod identity giving (4.b).

[2018-04-19 18:13] BenTheElder commented on #62700
@mikedanese I suspect other alpha features jobs need that magical env too. do we have a doc somewhere with the set of env we should be setting?

EG
https://github.com/kubernetes/test-infra/blob/master/jobs/env/ci-kubernetes-e2e-gci-gce-alpha-features.env
has some other feature gates..

[2018-04-19 18:17] BenTheElder commented on #62701
Thanks @jpbetz :+1:

[2018-04-19 18:35] cblecker commented on #57667
@spiffxp Are we at the point where we can deprecate the PM group now? I think all of those requirements are met.

[2018-04-19 18:37] fturib commented on #62865
@MrHohn : you may be right. Although we have similar UT, it is maybe better to verify we can do the same behavior with our own config-map in k8s.

@rajansandeep volunteered to take care of that issue. I will change the title.

[2018-04-19 18:41] wenhaocs opened #62869 "Add new properties to Kubernetes Volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-04-19 18:42] fturib commented on #62865
/cc @rajansandeep

[2018-04-19 18:45] msau42 commented on #62869
We already have capacity and access mode available in PVC.  Can PVC work for you?

[2018-04-19 18:46] deads2k commented on #60690
I don't think that pointing to references is a good idea.  You would either have a fixed one (which wouldn't solve this use-case) or you'd be trying to reference a location that something less trusted can write to.  The most "obvious" choice is the namespace of the service itself, but that's a bit like trusting a process to self-mutate it's own configuration.  If you're willing to trust the proces

[2018-04-19 18:51] liggitt commented on #60690
that's already allowed by API validation, we could (and should) mark the caBundle field optional so openapi is accurate

[2018-04-19 18:56] deads2k commented on #60690
sounds like this use-case is already possible.

[2018-04-19 18:57] #48569 closed

[2018-04-19 18:57] #36821 closed

[2018-04-19 19:01] IvanKiryanov commented on #55867
The same issue in k8s 1.10.1 acs-engine

[2018-04-19 19:06] Liujingfang1 opened #62872 "Allow openapi references to CRD internal types in CRD validation schema"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:
In go types, we can define a type and use it in several other types. When generating CRD from this go types, we want to use reference for that type in the validation so that the schema has better readability.
[code]
**What you expected to happen**:
In the CRD for this type, we expect to see the validat

[2018-04-19 19:07] Liujingfang1 commented on #62872
/sig api-machinery

[2018-04-19 19:07] Liujingfang1 commented on #62872
/assign mbohlool

[2018-04-19 19:15] nneul commented on #29789
ELBs don't use the 'Name' tag since the name can only be set once during provisioning and can't be changed. That is unlike EC2 instances and other resources where the 'Name' is just an abitrary label.

[2018-04-19 19:17] dfontenot commented on #40968
+1 to @jiaqingw comment about an environment variable

[2018-04-19 19:34] verb commented on #27140
/remove-lifecycle stale

[2018-04-19 19:36] msau42 commented on #62867
The problem is we create two mount points to local ssds, so the fsgroup check detects the second one as a conflict.  hmmmmmmmmm
/dev/sdb /mnt/disks/ssd0 ext4 rw,relatime,discard,data=ordered 0 0
/dev/sdb /mnt/disks/by-uuid/google-local-ssds-scsi-fs/local-ssd-c9b81f61-6847-4e19-b1eb-a0a14da1d339 ext4 rw,relatime,discard,data=ordered 0 0

[2018-04-19 19:38] msau42 commented on #62867
I think one possible fix is to further refine the mount paths and ignore ones that are not mounted in "/var/lib/kubelet"

[2018-04-19 19:50] MaciekPytel opened #62875 ""Kubernetes Dashboard should check that the kubernetes-dashboard instance is alive" test is broken on 1.10 GKE"
This test is consistently failing and it's a blocking test for 1.10 patch releases.

https://k8s-testgrid.appspot.com/sig-release-1.10-blocking#gci-gke-1.10&include-filter-by-regex=Dashboard

/king bug

[2018-04-19 19:50] MaciekPytel commented on #62875
/sig ui
/sig gcp

[2018-04-19 19:53] andrenth commented on #60169
@dgabrysch I noticed that in `apiServerCertSANs` you have your masters' real IPs, while the [HA docs](https://kubernetes.io/docs/setup/independent/high-availability/#kubeadm-init-master0) tell you to use the load balancer IP. Do you think that's a documentation bug?

[2018-04-19 20:04] dgabrysch commented on #60169
You can actually bootstrap without a loadbalancer ip if you provide your master ips there, it wouldn't make sense since the workers you connect via a token to a dedicated master are going offline when that master dies. So you can put the master ips there, but only for bootstrapping, a loadbalancer is still needed though.

[2018-04-19 20:06] pragyamehta commented on #62821
@kubernetes/sig-cli-bugs

[2018-04-19 20:09] inthecloud247 commented on #30558
I'm seeing the same error in version 1.9.3, so it seems like this bug was introduced earlier than 1.10.0 ?

[2018-04-19 20:11] lavalamp commented on #62725
cc @mbohlool @yliaog

[2018-04-19 20:13] lavalamp commented on #62742
Isn't this just missing the trailing `=` sign?

[2018-04-19 20:15] lavalamp commented on #62769
I would advise not using a uint64 since it doesn't reliably go through json.

...we should probably have a better way of telling people that, though :)

[2018-04-19 20:18] lavalamp commented on #62786
cc @mbohlool

[2018-04-19 20:24] lavalamp commented on #62872
/assign @mbohlool

I agree it seems good to allow references within a single CRD (as opposed to across resources, which I think we're not ready for).

[2018-04-19 20:25] caesarxuchao commented on #62861
Do you have the apiserver log?

[2018-04-19 20:34] nicksardo opened #62878 "GCE: ILB's backend service isn't updated with new instance group links"
/kind bug

**What happened**:
1. Create an ILB by adding the correct annotation to a Service with type LoadBalancer.
2. Add nodes to the cluster from a new zone
3. Observe that the ILB's backend service did not get updated

**Mediation**:
Modifying the service spec (can add an annotation) will cause a full sync and update the backend service correctly.

/assign
/sig gcp

[2018-04-19 20:47] wenhaocs commented on #62869
PVC may not work, because I need more storage capabilities, including bandwidth, sharability and may add more features in the future. If using PVC, the storage selection is done (binding to a PV) immediately after PVC is created, and a bunch of PVs must be created by administrators on the target node first. For example, if using local PV, the administrator must create a local PV first on the targe

[2018-04-19 21:31] liggitt commented on #62872
The reference-expanding code in the schema lib we're using for CRD validation is scary… if we do this, we shouldn't use an expander that has any possibility of making network or filesystem checks in the process

[2018-04-19 21:32] liggitt commented on #62709
Duplicate of https://github.com/kubernetes/kubernetes/issues/62558 ?

[2018-04-19 21:32] liggitt commented on #62875
Duplicate of https://github.com/kubernetes/kubernetes/issues/62558 ?

[2018-04-19 21:33] msau42 commented on #62869
Once local PV supports dynamic provisioning, then you don't need to precreate the local volumes.  And the scheduler will be integrated with dynamic provisioning too, so the PV will be provisioned on a node chosen by the scheduler.

The PVC/PV objects were specifically designed so that users can specify requirements in the PVC, and we will match it to (or provision) an appropriate PV that meets all

[2018-04-19 21:42] msau42 commented on #62869
Also, starting in 1.9, PVC binding to static PVs can be delayed, so we don't choose a PV until pod scheduling.

[2018-04-19 21:44] MaciekPytel commented on #62875
Right, missed that, sorry.
/close

[2018-04-19 21:44] #62875 closed

[2018-04-19 21:50] #62305 closed

[2018-04-19 21:50] #55174 closed

[2018-04-19 21:50] #62068 closed

[2018-04-19 21:54] resouer commented on #62068
@salilgupta1 FYI, now you can use a config of scheduler to say you want to disable preemption or not.

I will also update https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/ in a following PR to reflect this change.

[2018-04-19 21:57] #43524 closed

[2018-04-19 22:14] pmichali opened #62883 "IPv6: E2E DNS for services test fails for kube-dns"
When running selected E2E tests on an IPv6 cluster, the "DNS for services" test is failing. This test does not perform the correct probes for IPv6. However PR59894, which adds IPv6 support for coredns, adapts this test to use AAAA records for IPv6. The test passes for coredns, but fails for kube-dns.

/kind bug

**What happened**:
This test is failing, even with PR59894, which adds IPv6 support.

[2018-04-19 22:14] pmichali commented on #62883
/area ipv6
/sig network
/assign bowei

[2018-04-19 22:28] liggitt commented on #62769
We should limit the decoder to int64/float64

[2018-04-19 22:32] wenhaocs commented on #62869
From the function NewVolumeBindingPredicate in predicates of scheduler:
https://github.com/kubernetes/kubernetes/blob/1efd5f94568c7eba525c89de486d7fa1927978b0/pkg/scheduler/algorithm/predicates/predicates.go
I do see that the scheduler will consider whether a node meets the nodeAffinity requirement of a PV. It will check whether a given node meets the nodeAffinity requirement of a PV if the PVC is

[2018-04-19 22:38] msau42 commented on #62869
Yes, dynamic provisioning in the scheduler is currently under design here:
https://github.com/kubernetes/community/pull/1857

Along with the design for a lvm provisioner for local volumes:
https://github.com/kubernetes/community/pull/1914

[2018-04-19 22:41] wenhaocs commented on #62869
Actually, I am also implementing dynamic provisioning in scheduler. In my scheduler I consider capacity and bandwidth requirements of a user. Maybe we can discuss more on that if you are interested. I am also interested in contributing if possible.

[2018-04-19 22:54] #62588 closed

[2018-04-19 22:55] msau42 commented on #62869
PVC/PV today can handle capacity, but not explicit bandwidth.  We generally recommend that StorageClasses be used to group similar-performance storage together, and users can decide on general performance classes that they want, rather than exact number of IOPS.

[2018-04-19 22:57] iponnam commented on #62861
@caesarxuchao  ApiServer is not all creating. So I have attached[ kubelet logs ](https://github.com/kubernetes/kubernetes/files/1929157/kubelet.log)

[2018-04-19 23:29] bsalamat commented on #62772
My understanding is that this is expected that such a job could occasionally be executed twice. Anyway, scheduler is not involved in creating new pods (instances of the job). It is the job controller that creates these instances.

[2018-04-19 23:44] migueleliasweb commented on #49387
Thanks @dixudx . But let me understand a litle bit better. If I'm running this query in a cluster with a few thousand pods:
- Does the APIServer will fetch all of them from ETCD and them apply in-memory filtering ?
- Or does my kubectl will receive all pods and apply locally the filter ?
- Or the filtering occours inside the ETCD ? So only the filtered results are returned ?

[2018-04-19 23:47] #54870 closed

[2018-04-19 23:47] #61665 closed

[2018-04-20 00:06] ash2k commented on #62769
Ok, I'm going to send another PR with the change to only use `int64`/`float64`.

[2018-04-20 00:43] glennschmidt commented on #61999
Agreed, that's likely the cause.

But i'm not sure why the command it runs is
`du -s /var/lib/docker/overlay/<uuid>`
Won’t this measure the merged filesystem as well (including everything in the image)? Shouldn’t it instead run
`du -s /var/lib/docker/overlay/<uuid>/upper`
to just count the writable layer?

If it needs to know the size of the (read-only) container image, it could just calculate it

[2018-04-20 01:00] junechouiscoming commented on #62843
@iponnam
apiserver config
[code]

etcd.conf
[code]

etcd logs
[code]

[2018-04-20 01:16] PatrickLang commented on #62812
Yes, it's definitely working on Windows Server version 1709, deployed using ACS-engine. Will reassign back to myself for now.

/assign patricklang

[2018-04-20 01:25] dixudx commented on #49387
@migueleliasweb If `--field-selector` is issued when using kubectl, the filtering is in a cache of apiserver. APIServer will have a single watch open to etcd, watching all the objects (of a given type) without any filtering. The changes delivered from etcd will then be stored in a cache of apiserver.

For `--sort-by`, the filter is in kubectl client side.

[2018-04-20 01:40] #62878 closed

[2018-04-20 01:43] justinsb commented on #62640
See also https://github.com/kubernetes/kubernetes/issues/29789 for some of the issues around changing the "template" for a service of type LoadBalancer.

[2018-04-20 01:46] Jacky2 opened #62891 "Error: unknown flag: --basic_auth_file "kube-apiserver version v1.10.1”"
**What happened**:
 sig: @kubernetes/sig-kube-apiserver

Why do I use kubernetes version v1.10.1 kube-apiserver to use parameter --basic_auth_file?

Prompt：
Error: unknown flag: --basic_auth_file

But in kube-apiserver version v1.9.3, it can run.

[2018-04-20 02:14] spiffxp commented on #57667
@cblecker yes I think it's time to announce that the `@kubernetes/kubernetes-pm` team will be losing repo write access, and eventually be removed; people who need to `/milestone` should ask to be added to `@kubernetes/kubernetes-milestone-maintainers` (I'm not sure there's a documented process for this, @jberkus mentioned wanting to put a policy together in #sig-release the other day)

[2018-04-20 02:26] tianshapjq commented on #61675
@pmorie any advice?

[2018-04-20 02:28] Jacky2 commented on #62891
@hanxiaoshuai  Thank you so much,It did solve the problem.

[2018-04-20 02:43] mml commented on #28322
/remove-lifecycle stale

[2018-04-20 02:56] ash2k commented on #62769
@thockin Could you as the author of the change to add `uint64` (here https://github.com/kubernetes/kubernetes/pull/48287/files#diff-f216f544515d2fd05d66d92c5f95a248) please confirm that you are ok with removing `uint64` support/generation or it is needed for something? I don't want us to introduce a regression.

[2018-04-20 03:02] #51241 closed

[2018-04-20 03:02] #55607 closed

[2018-04-20 03:08] AishSundar commented on #62702
/assign @rramkumar1

[2018-04-20 03:25] anguslees commented on #60690
ok, so I think we're saying I should write an apiservice-bootstrap controller that takes an APIService template (via CRD, or a oneshot job with command line flags), creates the self-signed TLS keys, and then outputs a Secret for the serving job, and creates the completed APIService resource (including caBundle).

That feels like more special-case work than should be required just to authenticate a

[2018-04-20 03:25] #60690 closed

[2018-04-20 04:41] resouer commented on #57667
@spiffxp @kubernetes/kubernetes-milestone-maintainers policy is not clear yet actually.

[2018-04-20 04:47] AishSundar commented on #62705
Thanks for the fix @msau42, however I still see the test failing @ https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master. Is it because the latest run results are not refreshed? The PR seems to have merged a couple of days ago, so curious if the test runs since then have the fixes.

I am re-opening the bug for tracking. Will close once testgrid turns green

/re

[2018-04-20 04:50] AishSundar commented on #62706
same issue as with [62705](https://github.com/kubernetes/kubernetes/issues/62705). I still see the test failing @ https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master

I am re-opening the bug for tracking. Will close once testgrid turns green

/reopen

[2018-04-20 04:57] #60485 closed

[2018-04-20 05:15] AishSundar commented on #62710
/assign @rramkumar1

[2018-04-20 05:38] pdecat commented on #58500
/remove-lifecycle stale

[2018-04-20 05:38] CaoShuFeng commented on #62891
@Jacky2
mind close this issue?

[2018-04-20 05:39] CaoShuFeng commented on #62835
/cc

[2018-04-20 05:40] hzxuzhonghu commented on #62891
/close

[2018-04-20 05:40] #62891 closed

[2018-04-20 05:45] wenhaocs commented on #62869
Thanks for the answer! Just a more general question. Are StorageClasses created by the administrator? Users  who deploy applications should not know the detailed storage configuration. Am I correct?

[2018-04-20 05:59] wenlxie opened #62896 "Cgroup hierarchies for container"
I raised this issue to discuss about cgroup .
The cgroup hierarchies at the host is:

[code]

We can see the burstable and best-effort container is  put at depth=5 cgroup and guaranteed container is  put  at depth=4 cgroup.

I had a test when I put containers at depth=3 by set `--cgroups-per-qos=false`. It seems there are performance impacted.
So I think lots of people may encounter performance is

[2018-04-20 06:01] msau42 commented on #62706
I see the last 3 runs have passed?

[2018-04-20 06:01] andyzhangx commented on #62824
I will close this issue since it's been fixed, just let me know if you any other question.
/close

[2018-04-20 06:01] #62824 closed

[2018-04-20 06:08] AishSundar commented on #62706
Ah thats true. I got mislead by the color of the row vs the actual cells turning green. Closing both bugs now :) Thanks

/close

[2018-04-20 06:08] #62706 closed

[2018-04-20 06:09] AishSundar commented on #62705
/close

[2018-04-20 06:09] #62705 closed

[2018-04-20 06:13] minherz commented on #62640
thank you @justinsb, although #29789 address only AWS the mentioned issues around changing annotation indeed will create orphaned LB instances. i need to look into a code to see how the LB instances are cleaned out in order to apply similar handling for annotation change.

[2018-04-20 06:46] BumwooPark opened #62897 "kubeadm init not working and kubelet not running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
command `kubeadm init`

then showing
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
kubeadm reset and after kubeadm init

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
-

[2018-04-20 06:48] #62897 closed

[2018-04-20 06:48] BumwooPark commented on #62897
Issue moved to [kubernetes/kubeadm #761](https://github.com/kubernetes/kubeadm/issues/761) via [**ZenHub**](https://www.zenhub.com/)

[2018-04-20 07:21] barnettZQG opened #62898 "if set readiness for statefulset pod , peer-finder.go can not work well"
https://github.com/kubernetes/kubernetes/blob/96ec3187180b9c1d722756b3ea0984ebe65424dc/test/images/pets/peer-finder/peer-finder.go#L53
https://github.com/kubernetes/kubernetes/blob/96ec3187180b9c1d722756b3ea0984ebe65424dc/test/images/pets/peer-finder/peer-finder.go#L116

when pod start, use `peer-finder` find other pod. First pod (statefulset xxx-1) start and not ready ,`peer-finder` will loop exe

[2018-04-20 07:48] mfaizanse opened #62899 "initContainer exit Code is not same as the exit code of its internal process"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am using initContainer to initialize my pod. The process (node.js script) inside the initContianer exits with some exitCode based on some logic. But I have noticed that the Exit Code of InitContianer is not the same which I returned from the internal process. I exited the initContianer internal process with exit code 30

[2018-04-20 07:55] jyparketc opened #62900 "Add K8S_POD_UID argument in CNI Runtime Config"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
kubelet passes pod informations(K8S_POD_NAMESPACE, K8S_POD_NAME) to CNI Network Plugin.
(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockershim/network/cni/cni.go#L286,L325)
And the plugins use that informations to register pod.
Generally pod name is randomly generated.
But when the pod name is specified (statef

[2018-04-20 07:56] jyparketc commented on #62900
/sig network

[2018-04-20 08:17] hzxuzhonghu commented on #62899
@mfaizanse 0-255 can be set as a return code in linux, and 302-256=46

[2018-04-20 08:17] nikhita commented on #62872
👍

 /area custom-resources
/cc @sttts

[2018-04-20 08:34] charpty commented on #25478
@hvalls hi, how did you solve this problem?

[2018-04-20 08:45] hvalls commented on #25478
@charpty Actually, I didn't. I just used the declarative way, automating yml generation.

[2018-04-20 08:57] adelton commented on #61474
I've tested now with `git clone -b cgroupdriver10 https://github.com/filbranden/kubernetes` on Fedora rawhide and the node becomes `Ready`, so that's good.

However, subsequent attempt to create simple pod with

[code]

results in

[code]

Is that expected? Should I file separate issue or wait for https://github.com/kubernetes/kubernetes/pull/61926 merge?

[2018-04-20 09:08] #55875 closed

[2018-04-20 09:09] nikhita commented on #49489
/remove-lifecycle stale

[2018-04-20 09:15] mfaizanse commented on #62899
got it . thanks

[2018-04-20 09:15] #62899 closed

[2018-04-20 09:30] BrickXu opened #62902 "`kubectl get cs` does not show the root cause when the TLS certs does not match"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have three nodes to deploy kube-apiserver as master here, each nodes has two ip addresses:

Node | IP-1 | IP-2
------------ | ------------- | -------------
master1 | 10.95.149.6 | 10.95.149.10
master2 | 10.95.149.7 | 10.95.149.11
master3 | 10.95.149.8 | 10.95.149.15

and sign kube-apiserver tls cert with IP-1 column:
[c

[2018-04-20 09:35] nikhita commented on #58414
I'm not sure if we are going to support this but removing the stale label until it is decided what to do.

/remove-lifecycle stale

[2018-04-20 09:39] nikhita commented on #58292
/remove-lifecycle stale

[2018-04-20 09:50] nikhita commented on #57073
/remove-lifecycle rotten

[2018-04-20 09:52] bhack commented on #39657
Any news on this?

[2018-04-20 10:41] nikhita commented on #62872
/area custom-resources

[2018-04-20 10:55] haddada opened #62904 "failed to "StartContainer" for "etcd" with CrashLoopBackOff Ubuntu:17.10"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
`kubectl get pods
`
`Unable to connect to the server: http2: server sent GOAWAY and closed the connection; LastStreamID=9, ErrCode=NO_ERROR, debug=""
`

**What you expected to happen**:
list pods

**How to reproduce it (as minimally and precisely as possible)**:

- update history
`Commandline: aptdaemon role='role-commit-packages' s

[2018-04-20 11:06] YueHonghui commented on #48591
@kow3ns  I think Statefulset can't meet the requirements of applications like database、distributed storage service or even spark. Those applications is too complicate to fit in statefulset. They should be manipulated by customized controller through CRD, like what so many Operators does.
We need a controller which provides persistent identifier for pods, so we can create reference between pods and

[2018-04-20 11:10] #56141 closed

[2018-04-20 11:17] shyamjvs commented on #62064
Running it against 98eb5cbd04 gave me:

[code]

which leaves us only with my PR #56075 as the cause :)

[2018-04-20 11:26] cristi-d commented on #8876
Without subshells
`kubectl get pods | grep <pod name pattern> | cut -d ' ' -f 1 | xargs -I{} kubectl exec {} <command>`

[2018-04-20 11:41] lawrencedudley commented on #36499
How are we looking on this? HDD feels particularly unsuited to container workloads :(

[2018-04-20 12:01] vbmade2000 commented on #60123
@mtaufen Are you working on this ?

[2018-04-20 12:13] k82cn commented on #62704
/assign

[2018-04-20 12:37] mgdevstack opened #62906 "Cover Read and Write API endpoints for `/v1alpha1/priorityclasses/` in e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

/kind feature

**What happened**:
Most of READ and WRITE operations are not covered for `/v1alpha1/priorityclasses/` API endpoints in e2e tests.

**What you expected to happen**:
Expecting to cover all READ and Write operations for PriorityClasses in e2e tests so that these would be ready to be considered for conformance tests.

API grou

[2018-04-20 12:39] mgdevstack commented on #62906
/sig testing

[2018-04-20 12:41] mgdevstack commented on #62906
Issued PR : #62895

[2018-04-20 12:49] hchenxa opened #62907 "[Question]Does kubelet can GC the dead docker containers?"
I use the k8s 1.9.1 and create a statefulset to make my workload running on 3 separate nodes, after running about 4 weeks, one pods status change to `Terminating` and the docker container status was `dead`, and it seems kubelet did not recreate the new container and remove the `dead` one to recover the workload.

Does there need any configuration to GC the `dead` container?

[2018-04-20 12:51] benkeil commented on #52124
That would be a nice feature.

[2018-04-20 12:59] vbmade2000 commented on #50612
Anyone working on this issue ? I want to work.

[2018-04-20 13:01] andyzhangx commented on #62417
I will close this issue, let me know if you have any question, thanks.
/close

[2018-04-20 13:01] #62417 closed

[2018-04-20 13:02] vbmade2000 commented on #20491
@ihmccreery Are you working on this issue ?

[2018-04-20 13:24] serathius commented on #62399
Fix is available here https://github.com/kubernetes/kubernetes/pull/62905

[2018-04-20 14:00] mgdevstack opened #62908 "Cover all API operations for `/v1/**/deployments/**` in e2e tests"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Some of Deployment operations are not covered for `/v1/**/deployments/**` API endpoints in e2e tests.

**What you expected to happen**:
Expecting to cover all READ, Write, Status and Misc Deployment operations in e2e tests so that these would be ready to be considered for conformance tests.

[Operations Reference:-](ht

[2018-04-20 14:07] liggitt commented on #30558
No, it came in with 1.10.0

[code]

[2018-04-20 14:12] #59819 closed

[2018-04-20 14:58] lavoiedn commented on #62742
@lavalamp Nah, this is valid base64, it just so happens that the number of characters to encode was a multiple of 3 in the [example](http://yaml.org/start.html) I used.

[code]

[2018-04-20 15:37] PatrickLang commented on #62038
Good feedback from sig-auth:
- configmap better alternative for performance. since this isn't actually a secret
- tie to k8s service accounts for authorization checks. need a namespace check on k8s service account to authorize user before allowing it to use the AD service account. (@smarterclayton suggestion)
- could pod security policies be used instead?

Will continue discussion next meeting

[2018-04-20 15:46] mkurylec opened #62912 "adding api tests for /api/v1/namespaces/* api-group"
**api group**
- DELETE | /api/v1/namespaces/{name}
- GET | /api/v1/namespaces/{name}
- PATCH | /api/v1/namespaces/{name}
- PUT | /api/v1/namespaces/{name}
- GET | /api/v1/namespaces
- POST | /api/v1/namespaces

**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
Adding tests for the api group.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
**

[2018-04-20 15:49] cjcullen commented on #62038
Following up from the discussion in the Container Identity Working Group: What controls who is allowed to specify a given Service Account? Some options:

- **A Kubernetes Service Account is granted permission on a Windows Service Account.** This is the most Kube-like. In the standard case, you have a 1:1 mapping of KSA<->WSA, but it's possible to do more complicated things. Then, the access contro

[2018-04-20 15:52] faraazkhan commented on #52653
This is actually causing `kubectl rollout status` to break for statefulsets, when they are created.

Here is the behaviour, I have noticed:
1. `updatedReplicas` seems to be set correctly when updating an existing `statefulset`.

2. But when creating a statefulset, `updatedReplicas` is not set. Causing this condition: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rollout_status.g

[2018-04-20 16:01] mkurylec commented on #62912
/sig testing

[2018-04-20 16:04] mkurylec commented on #62912
https://github.com/kubernetes/kubernetes/pull/62879

[2018-04-20 16:05] PatrickLang commented on #62038
Thanks for that @cjcullen . I will dig deeper into these with @rpsqrd. The original proposal above as written falls into the "Any Windows Service Account available on the Node can be used by any User" category.

[2018-04-20 16:16] #58834 closed

[2018-04-20 16:30] abedwardsw commented on #52444
I've been reading up on this issue, it's really too bad docker would not allow the configurable log-max-size option, this would be an easy temporary workaround to the issue until fully resolved.   Regardless, I also wanted to point out a 2nd issue that the log splitting causes which might help increase the priority of this issue.

If you are using json logging and have MCD or Structured Arguements

[2018-04-20 16:30] thorbenvh8 commented on #57909
Directly referencing the file works for me.
[code]

Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.0", GitCommit:"fc32d2f3698e36b93322a3465f63a14e9f0eaead", GitTreeState:"clean", BuildDate:"2018-03-26T16:44:10Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}

[2018-04-20 16:32] calebamiles commented on #62403
/assign

[2018-04-20 16:32] mithrav commented on #62912
/assign @mkurylec

[2018-04-20 16:35] andrewsykim commented on #52653
Agreed, consistency with deployments would be nice

[2018-04-20 16:38] lavalamp commented on #62742
I had a theory but then I read the report again.

I think to narrow down where this issue belongs we need to see exactly what kubectl sends for both cases (where the object doesn't exist and where it does). So kubectl -v 9 (if it says this, it might) or tcpdump output. Or maybe audit logs from apiserver, can't recall if exact body is given there.

[2018-04-20 16:48] dashpole commented on #62738
ping @vikaschoudhary16

[2018-04-20 16:57] mtaufen commented on #60123
It's not at the top of my to-do list. If you'd like to give it a shot, I'm
happy to review your PRs :).

On Fri, Apr 20, 2018, 5:02 AM Malhar Vora <notifications@github.com> wrote:

[2018-04-20 17:00] vbmade2000 commented on #60123
Cool. Let me try it then :)

[2018-04-20 17:10] msau42 commented on #62869
Yes, StorageClasses are managed by the admin.  Users only operate through PVCs, which only contain general properties, but not specific to any storage type.

[2018-04-20 17:15] chrissound commented on #13695
/reopen

[2018-04-20 17:28] chrissound commented on #23403
Related: https://github.com/kubernetes/kubernetes/issues/33777

[2018-04-20 17:32] davidhao3300 commented on #58834
Thanks for fixing!

[2018-04-20 17:37] nikhita commented on #58414
Yes, they do. :+1:

[2018-04-20 17:37] chrissound commented on #33222
What is the conclusion to this?

https://github.com/kubernetes/kubernetes/issues/33777

This question has 4000 views on stackoverflow (in 6 months, that 20 views per day): https://stackoverflow.com/questions/45573825/pod-will-not-start-due-to-no-nodes-are-available-that-match-all-of-the-followin

[2018-04-20 17:39] shubheksha commented on #62843
/sig node

[2018-04-20 17:40] shubheksha commented on #62907
kind/support

[2018-04-20 17:41] shubheksha commented on #62907
/kind support

[2018-04-20 17:46] shubheksha commented on #62904
sig/cli

[2018-04-20 17:47] shubheksha commented on #62841
/sig networking
/sig gcp

[2018-04-20 17:48] shubheksha commented on #62841
/sig networking

[2018-04-20 17:53] mikedanese opened #62915 "DaemonSets don't handle service account secret rotation well"

[2018-04-20 18:17] #55838 closed

[2018-04-20 18:19] saad-ali commented on #62278
Fixed with https://github.com/kubernetes/kubernetes/pull/62523

[2018-04-20 18:19] #62278 closed

[2018-04-20 18:25] lavoiedn commented on #62742
Alright!

I ran the `kubectl -v 9 apply -f secret.yaml` when a `Secret` with the same name *didn't* exist:

[output-not-exist.txt](https://github.com/kubernetes/kubernetes/files/1933209/output-not-exist.txt)

Then when a `Secret` with the same name already existed:

[output-exists.txt](https://github.com/kubernetes/kubernetes/files/1933212/output-exists.txt)

Will edit with apiserver audit logs if

[2018-04-20 18:28] msau42 opened #62916 "Replace usage of path with filepath"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
filepath calls os package for path separators, so it will work better on non-linux platforms like windows.  We should try to replace usage of path package with filepath where we can.

[2018-04-20 18:30] shubheksha commented on #62916
I'll take this up!

[2018-04-20 18:36] iponnam commented on #62843
@junechouiscoming
I faced the similar issue.
In my case, I have changed the etcd data directory. If you have done same.
Copy the files from old etcd directory to the new one.

[2018-04-20 18:36] lavalamp commented on #62742
That's sufficient already, thanks.

kubectl sends base64 data with newlines interspersed in both cases. Apparently the parsing kube-apiserver does on the POST path (which is generated) rejects that but the PATCH path (which is I think the native json parser?) accepts it.

So I think this is a bug in the JSON parser generator.

@sttts @thockin One of you knows something about the JSON parser?

[2018-04-20 18:38] iponnam commented on #62843
@junechouiscoming
If you’d like we can have meeting to better understand your setup

[2018-04-20 18:39] filbranden commented on #61474
@adelton That error says `Error response from daemon:` so I'm almost certain it's coming from Docker/containerd/cri-o and the runc they're using...

The packages for those components in Fedora Rawhide will also need the fixes in runc/libcontainer, particularly opencontainers/runc#1776, otherwise they will fail in similar ways too.

I think we still need to address opencontainers/runc#1781 and get

[2018-04-20 18:49] davidz627 commented on #61845
The tests are still flaky in 1.10. Any way we can get this cherry-picked back? @jingxu97

[2018-04-20 19:04] halbritt commented on #36499
I pinged @msau42 who got me on the whitelist for SSD boot disks.  That seemed to address my issues nicely.  One assumes that any container workload with a great deal of disk IO also requires persistence in which case one would use a PVC for that purpose.  All of my stateful workloads are on PVCs backed by SSD persistent disks.

The issue that I had is related to the fact that each pod gets ephemer

[2018-04-20 19:19] msau42 opened #62917 "Volume metrics causing node to become not ready"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
In this [discussion](https://github.com/kubernetes/kubernetes/issues/36499#issuecomment-383192634), it was reported that running df on nodes with 100 pods is causing the node to become not ready, and switching to SSDs for the boot disk helped alleviate this issue.

**What you expected to happen**:
Collec

[2018-04-20 19:28] timothysc commented on #58908
So I think this is worthy of closing, all signs are pointing to a configuration problem.

We fixed it on our end a while ago and last comment was 2 months ago.

[2018-04-20 19:28] #58908 closed

[2018-04-20 20:01] msau42 commented on #62917
@halbritt can you describe the workloads you were running wrt their capacity and IO footprint for ephemeral storage?

[2018-04-20 20:39] #62630 closed

[2018-04-20 20:40] jethrogb commented on #47154
/reopen
/remove-lifecycle rotten

Ran into same issue with 1.8 after a power failure on all master nodes

[2018-04-20 21:47] janetkuo commented on #23403
#24700 clarifies --limits and --requests flag already, so closing.

@ScyDev You can use `kubectl top nodes`

[2018-04-20 21:47] #23403 closed

[2018-04-20 22:32] saad-ali commented on #62917
@jingxu97 could you help investigate this

[2018-04-20 22:56] filmil opened #62920 "Support OIDC distributed claims for group resolution in the K8S apiserver OIDC token checker"
/kind bug

**What happened**:
The K8S token checker does not support resolving distributed claims for (among others) group claims.

**What you expected to happen**:
It should be possible for the K8S token checker to resolve distributed claims if the IDP provides them.

**How to reproduce it (as minimally and precisely as possible)**:
One can inspect the [token checker source code][2] to the token

[2018-04-20 22:56] filmil commented on #62920
/sig auth
@mikedanese

[2018-04-20 22:58] misterikkit commented on #61512
I discussed potential solutions with @bsalamat and he suggested this approach:

Instead of locking eCache at the start and end of a scheduling cycle, signal the start and end to eCache. During one cycle, any update that arrives after any invalidation will be silently dropped.

This should solve the problem because we will never write to eCache with stale information. This won't change the scheduli

[2018-04-20 23:01] msau42 commented on #62917
cc @dashpole

[2018-04-20 23:21] misterikkit opened #62921 "Race condition with scheduler equivalence cache invalidation"
/kind bug
/sig scheduling

**What happened**:
In https://github.com/kubernetes/kubernetes/issues/61512 it was discovered that certain event sequences cause stale, incorrect entries to remain in the equivalence cache. Quoting https://github.com/kubernetes/kubernetes/issues/61512#issuecomment-375830364,

**How to reproduce it (as minimally and precisely as possible)**:
Cherry pick https://github.com

[2018-04-20 23:25] roycaihw commented on #62404
/assign

[2018-04-21 00:01] mtaufen commented on #55645
This was resolved in https://github.com/kubernetes/kubernetes/pull/55648

[2018-04-21 00:01] #55645 closed

[2018-04-21 00:32] liggitt commented on #62920
cc @kubernetes/sig-auth-feature-requests

[2018-04-21 01:02] mtaufen commented on #47184
@JulienBalestra why can't you just launch the initial Kubelet with `--manifest-path`, `--kubeconfig`, and `--hostname-override`? Isn't it possible to preconfigure the necessary details?

[2018-04-21 01:10] mtaufen commented on #58010
@mikkeloscar I agree this is a confusing state to leave things in. Our intent was for AllowPrivileged to be replaced by PSP, and I'd like to keep pushing towards that goal.

@tallclair as another alternative, can we just change the behavior so that AllowPrivileged=false denies privileged pods *unless* they are allowed by PSP?

[2018-04-21 01:16] mtaufen commented on #61678
@linyouchong it would prepare us for growth of test-only parameters, though (and make it easy to validate that they aren't set in production).

[2018-04-21 03:06] #62867 closed

[2018-04-21 03:35] tallclair commented on #58010
No, that won't work. The Kubelet doesn't have any knowledge of PSPs, it's only enforced at the control plane level. It's also an optional component, and shouldn't be required to run privileged pods. Plus, the AllowPrivileged flag is pretty useless from a security perspective (you can just go around it by adding capabilities, etc.).

[2018-04-21 03:55] jnicholls commented on #57250
Would love to see the `service.beta.kubernetes.io/aws-load-balancer-proxy-protocol: "*"` annotation flip on the PROXY support for `service.beta.kubernetes.io/aws-load-balancer-type: "nlb"` network load balancer Services.

[2018-04-21 04:39] ryanmcnamara opened #62928 "kube-controller-manager stopped syncing daemonset"
/kind bug

kube-controller-manager stopped syncing a daemonset. I noticed this when I observed that I had several k8s nodes that I expected pods from the deamonset to be running on. I restarted the master kube-controller-manager (we are running HA kubernetes) and shortly after (within a minute) all kubelets had begun running the pod. Exact timeline:

I0418 18:49:52.817998 - daemonset starts syncin

[2018-04-21 04:39] ryanmcnamara commented on #62928
/sig apps

[2018-04-21 06:26] hzxuzhonghu opened #62931 "Delete resource with '{"PropagationPolicy":"Foreground"} not return 202"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

1.

Delete namespace with option {"PropagationPolicy":"Foreground"} returns 200 code.
[code]

1. Delete namespace with option {"orphanDependents":false} returns 202 code.

[code]

As `orphanDependents` was deprecated and `PropagationPolicy` is recommended to use, apiserver should return same code 202.

**Anything else w

[2018-04-21 06:26] hzxuzhonghu commented on #62931
/sig api-machinery

[2018-04-21 07:27] mikedanese commented on #62920
@ericchiang @rithujohn191

[2018-04-21 08:27] ruanchen opened #62935 "Two pod ips are same, one is controlled by deployment and the other by statefulset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I restart kube master, i found there are two pods ips are same, one is controlled by deployment, and the other by statefulsets, which pod status was completed.
**What you expected to happen**:
Pods ip should be different.
**How to reproduce it (as minimally and precisely as possible)**:
Restart master node.
**Anything else we n

[2018-04-21 08:39] ruanchen commented on #62935
@kubernetes/sig-<scheduling>

[2018-04-21 09:32] #56195 closed

[2018-04-21 09:45] ruanchen commented on #62935
/sig pod
/sig scheduler

[2018-04-21 09:46] junechouiscoming commented on #62843
@iponnam how can we have meeting?

[2018-04-21 09:56] vbmade2000 commented on #60123
@mtaufen Just to confirm, I see a `--cert-dir` option in kubelet which takes existing directory as input. It doesn't create one if dir doesn't exist. So this feature is to make kubelet create that directory if it doesn't exist. Am I correct ?

[2018-04-21 10:29] liggitt commented on #62931
Not sure it would make a difference, but shouldn't it be `propagationPolicy`?

[2018-04-21 10:30] liggitt commented on #62915
Any details about how this differs from the other workload controllers?

[2018-04-21 10:33] #50433 closed

[2018-04-21 11:34] #54135 closed

[2018-04-21 11:37] yue9944882 commented on #62835
/kind support

@pdu IMHO, it should depend on your network solution. e.g. flannel, docker, etc.

[2018-04-21 12:02] yue9944882 commented on #62772
@aisk Sounds like a date-racing issue. IMO, basically job controller will only try to create the job pod twice in your case is when the number of `active` pods is 0. As you described, it happens randomly. I guess maybe you are updating the job resource after the creation at once? Successive job events (e.g. updates after creation) to job controller might possibly cause this issue.

@soltysh If you

[2018-04-21 12:15] kumudt commented on #61005
The fix #60978 hasn't fixed the issue for iptables 1.6.0 (Kops debian stretch image). I still see the same failures even after upgrading the cluster to 1.9.7 which has this fix backported.

[2018-04-21 13:15] iponnam commented on #62843
@junechouiscoming remote session.

[2018-04-21 13:36] #56210 closed

[2018-04-21 13:48] joesan commented on #61277
I'm getting the same issue, running on a Raspberry Pi 3 Model B+

Here are the logs:

[code]

It hangs here and it is frustrating!

[2018-04-21 14:38] #42784 closed

[2018-04-21 14:38] #56212 closed

[2018-04-21 15:35] AshleyByeUK opened #62939 "cannot validate certificate because it doesn't contain any IP SANs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
New cluster, applied cilium ConfigMap, checked status of the DaemonSet which is in status `CrashLoopBackOff`. Checked the log for one of the pods, which returned:

[code]

Certificate presented by the `apiserver` has a CN of `CN=controller2@1524321717` and was issued by `CN=controller2-ca@1524321715` and no IP SANs showin

[2018-04-21 17:16] grantcurell commented on #59376
I got the same thing, but for me it seemed to be Kubernetes failing to pull the image internally. I got on the box in question, ran `docker pull <IMAGE>` - it was kibana so we're only talking like 250MB on a fast internet connection so it completed near immediately - then reran the Kubernetes command and it completed just fine. My problem didn't seem to have anything to do with the timeout for pul

[2018-04-21 17:40] #56225 closed

[2018-04-21 18:33] m1kola commented on #59376
Had the same issue on GKE with a public image from the docker hub.

Node and master versions are `v1.8.8-gke.0`

[2018-04-21 19:43] liggitt commented on #62939
That is the serving certificate of the kubelet

The network path for `kubectl logs` looks like this:
kubectl logs -> apiserver -> kubelet -> cri -> logs

The step that's failing verification is the apiserver->kubelet step

For that to be verifiable, the kubelet needs a serving certificate (specified with the `--tls-cert-file` flag) that is signed by the CA given to the api server with the `--kubel

[2018-04-21 19:50] NiraliSupe commented on #13776
Hello,
I need to take volume backup. I am trying to rsync pod volume folder to backup folder.
```rsync -avv -e 'kubectl exec postgres-5554f4fdd4-nhs48 -n default -i -- env ' --rsync-path=/var/lib/postgresql/data/  ~/pod```

but it is giving output
[code]
and pod folder is empty

can someone please help with this?

[2018-04-21 20:04] mgdevstack opened #62940 "Unable to setup cluster by hack/local-up-cluster.sh in Mac OSX"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
While setting up the cluster by `hack/local-up-cluster.sh` script, following things are observed-
1. Kube-proxy is unexpectedly terminated. (unable to run kube-proxy)
2. Node is not ready
3. Port 8080 is used by running API-Server binding 127.0.0.1 with --insecure-port=8080
4. /tmp/kube-proxy.log shows error `Error checkin

[2018-04-21 20:13] mgdevstack commented on #62940
@AishSundar,  @ixdy
Is this a known issue for macOS? Which cluster tool would be efficient for development and testing locally on macOS?

Which sig would be appropriate to get tagged here?

[2018-04-21 21:32] AshleyByeUK commented on #62939
@liggitt Thanks, I was using `--cert-dir` flag for the kubelet service but had specified the wrong path, so it was auto-generating a cert. Specifying the `--tls-cert-file` and `--tla-private-key-file` flags solved it.

I'm very confused about the name of the `--kubelet-client-certificate` and `--kubelet-client-key` flags - the name suggests that they are related to the kubelet certs, but if I spec

[2018-04-21 21:32] #62939 closed

[2018-04-21 23:42] Tigh-Gherr commented on #45509
@antoinne85 I'm in the exact same boat. My Pods have jobs that could last anywhere from 3 minutes to 20. It's kind of sad when, 10 minutes through a 20 minute job, the pod gets killed because my 3 minute task in another pod finished.

[2018-04-22 02:43] calder opened #62942 "Option to enable net.ipv4.ip_forward for containers"
/kind feature

Unprivileged containers mount `/proc` read-only, which prevents them from enabling `net.ipv4.ip_forward` in their own network namespace. Having the ability to enable `net.ipv4.ip_forward` for specific containers (without running them in `privileged` mode) would be useful for containers that implement routing functionality.

I tested that enabling `net.ipv4.ip_forward` in the contain

[2018-04-22 02:44] calder commented on #62942
@kubernetes/sig-network

[2018-04-22 04:03] 12wrigja commented on #61277
I was having similar issues in a cluster I brought up from scratch (loosely based on kubernetes-the-hard-way and kubeadm), with the biggest difference being that I was running etcd separate from the kubelet as it's own non-k8s managed container, and all communication was secured using TLS. Upgrading the master node from v1.9.2 to v.1.10.0 caused the machine (a raspberry pi 3b) to crash (with kerne

[2018-04-22 04:09] calder commented on #62942
@kubernetes/sig-network-feature-requests

[2018-04-22 05:10] Andrewpqc commented on #56693
same problem i meet!!!!!!!!

[2018-04-22 06:29] faraazkhan commented on #62942
@calder you can already do this via an annotation, however since this is  considered an unsafe sysctl, the cluster admin will have to whitelist it kubelet. See: https://kubernetes.io/docs/tasks/administer-cluster/sysctl-cluster/

[2018-04-22 07:01] #62517 closed

[2018-04-22 07:03] gyliu513 opened #62944 "3 Conformance test failed with Kubernetes 1.10.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

[code]

e2e.log
[e2e.log](https://github.com/kubernetes/kubernetes/files/1935280/e2e.log)

/area conformance
/sig testing

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2018-04-22 07:05] gyliu513 commented on #62944
/sig network

[code]

[2018-04-22 09:50] #61832 closed

[2018-04-22 10:57] #47142 closed

[2018-04-22 12:02] k82cn commented on #62221
xref https://github.com/kubernetes/kubernetes/pull/46952

[2018-04-22 12:28] behzadnm99 opened #62949 "deficiencies of kubernetes for PaaS"
**Is this a BUG REPORT or FEATURE REQUEST?**:

@kubernetes/sig scalability
in the documents of kube mentioned that , kube is not for PaaS.
here: https://kubernetes.io/docs/concepts/overview/what-is-kubernetes/#what-kubernetes-is-not

I want to know why the kube is not suitable for the pass?
And I want to know what are the things for paas kube doesnt have ?
and what your Think about setting up a pl

[2018-04-22 12:39] andyzhangx commented on #61767
close this issue since `nobrl` parameter could be set in azure file mountOptions, let me know if you have any question
/close

[2018-04-22 12:39] #61767 closed

[2018-04-22 12:41] andyzhangx commented on #59755
@mfaizanse for this issue, you could set `nobrl` parameter in azure file mountOptions, you could follow by https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mountoptions.md, and this issue is duplicated to https://github.com/kubernetes/kubernetes/issues/61767

[2018-04-22 12:41] andyzhangx commented on #59755
close this issue since nobrl parameter could be set in azure file mountOptions, let me know if you have any question
/close

[2018-04-22 12:41] #59755 closed

[2018-04-22 13:32] lukmanulhakimd commented on #60987
i also experience this issue using kubernetes v1.10.1. Manually deleting the directory solves the problem. But yes, kubelet should intelligently deal with orphaned pods

@iliketosneeze maybe you should try umounting the directory from tmpfs

[2018-04-22 14:00] #56062 closed

[2018-04-22 14:35] danwinship commented on #58956
@kumudt you have a different problem, not related to this one. If you run with log level 5 it should show you the data it's feeding to iptables-restore so that you can see what "line 7" as referenced in the error message is. That should help figure out what's actually happening.

[2018-04-22 15:59] kumudt commented on #58956
Thanks @danwinship will do that and get back to you.

[2018-04-22 16:36] liggitt commented on #62940
As noted in the output of the command, kubelet does not support Darwin. local-up-cluster on Darwin is primarily useful for testing apiserver and controller manager interactions

/close

[2018-04-22 16:36] #62940 closed

[2018-04-22 16:38] liggitt commented on #62944
Ensure you are running the latest 1.9.x tests.

Those tests were testing deprecated endpoints removed in 1.10

/close

[2018-04-22 17:38] guoshimin commented on #20391
/remove-lifecycle rotten

[2018-04-22 17:47] ChimeraCoder commented on #25908
I've run into this issue as well, for the same workflow that many others have described (a sidecar container that's used for proxying connections or collecting metrics, and has no purpose after the other container in the pod exits successfully).

This is my ideal solution as well. I might suggest SIGHUP instead of SIGTERM - this seems to be the exact use case for which the semantics of SIGHUP are

[2018-04-22 18:02] mmeliani opened #62950 "--insecure-skip-tls-verify doesn't work with kubefed join"
I'm trying to add a clusters to federation using kubefed join :
this is the federation kube config file :
[code]

i run this command : kubefed join site-1 --host-cluster-context=default-context --cluster-context=kubernetes-admin-s1 --insecure-skip-tls-verify=true, **the cluster is created but with offline status , is not reacheable ;**
I'm using token bearer to reach the api server of the target c

[2018-04-22 18:32] Raffo commented on #51135
/remove-lifecycle rotten

[2018-04-22 18:33] Raffo commented on #51135
This issue is still high prio for a lot of Kubernetes users that have hit this in production. Reading in this thread we can see Monzo and Zalando as latest cases, so I removed the lifecycle rotten.

[2018-04-22 19:29] rikatz commented on #20391
A non related but related thing here is that after changing to a pure Calico stack (only Calico, without flannel) solved my race condition issue in a big environment.

[2018-04-22 21:43] ilyalukyanov commented on #60060
Thank you guys!

[2018-04-22 22:28] ross-w commented on #51835
I'm not sure if this is the same issue, but we have *started* noticing this behaviour _since_ upgrading from 1.9.3 to 10.10.1. It never happened before that. We're using glusterfs volumes, with SubPath. Kubelet continously logs things like
[code]
and lsof shows indeed that the directory under the glusterfs volumes is still in use:
[code]

This was all fine on 1.9.3, so it's as if the fix for this

[2018-04-23 01:34] hzxuzhonghu commented on #62931
Yes

[2018-04-23 01:51] gyliu513 commented on #62944
@liggitt I was using Kubernetes 1.10.0 for the conformance test and also following steps here https://github.com/cncf/k8s-conformance/blob/master/instructions.md#running , I think all of the test should pass.

What do you mean `Ensure you are running the latest 1.9.x tests.`?

/open

[2018-04-23 01:52] gyliu513 commented on #62944
/assign
/open

[2018-04-23 02:00] liggitt commented on #62944
I see this in the tests: workspace/anago-v1.9.4

Those three specific tests were made conditional in v1.9.5 and no longer run against an apiserver >= 1.10.0

See https://github.com/kubernetes/kubernetes/compare/v1.9.4...v1.9.5#diff-e4236fde991a93836f485ce2d85ef8aa

[2018-04-23 02:00] calder commented on #62942
@faraazkhan: That's exactly what I was looking for, thanks!

[2018-04-23 02:00] #62942 closed

[2018-04-23 02:02] gyliu513 commented on #62944
/reopen

[2018-04-23 02:06] gyliu513 commented on #62944
@liggitt thanks, but the link you show me is empty

![image](https://user-images.githubusercontent.com/4461983/39103534-da33f0c0-46dd-11e8-82f5-e396a17176de.png)

Also I was using Kubernetes 1.10.0, why the conformance test still check the three specific test cases?

[2018-04-23 02:09] liggitt commented on #62944
The paths in your test output indicate you are running 1.9.4-level tests

Ensure you have these changes: https://github.com/kubernetes/kubernetes/pull/61135

[2018-04-23 02:10] liggitt commented on #62944
Actually, 1.9.4-beta.0, which is essentially 1.9.3

[2018-04-23 02:12] phk1030655900 opened #62956 "An error of kube-scheduler about k8s_v1.9.4, looking for the sloves"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
     kube-scheduler have an error
E0418 09:58:30.679513       1 reflector.go:205] k8s.io/kubernetes/plugin/cmd/kube-scheduler/app/server.go:590: Failed to list *v1.Pod: Get https://192.168.17.96:6443/api/v1/pods?fieldSelector=spec.schedulerName%3Ddefault-scheduler%2Cstatus.phase%21%3DFailed%2Cstatus.phase%21%3DSucceeded&amp;limit=50

[2018-04-23 02:14] msau42 commented on #51835
@ross-w this signature looks different from the others. Could you open a new issue and also include your pod spec?

[2018-04-23 02:30] gageorsburn commented on #61543
Same issue on 1.9.5. Downgrading to 1.9.2 like ectsue and seeing what happens!

[2018-04-23 02:34] liggitt commented on #62944
Is it possible the gcr.io/heptio-images/kube-conformance:v1.9 hasn't been updated?

[2018-04-23 02:39] gyliu513 commented on #62944
Let me try, I think the conformance image need to update to `gcr.io/heptio-images/kube-conformance:v1.9`

Thanks @liggitt

[2018-04-23 02:39] #62944 closed

[2018-04-23 02:39] Cheneytt commented on #61224
Got the same problem. finally, I removed all k8s config `/etc/kubernetes/*`, and then reinstall k8s, succeed. I guess it caused by older version config.

[2018-04-23 03:02] jicki opened #62962 "kubelet.kubeconfig not created"
# kubernetes

[code]

#  Error kubelet.kubeconfig not created

## get csr

[code]

##  get nodes
[code]

##  logs

###  kube-controller-manager logs

[code]

### kubelet logs

[code]

### kube-apiserver not error

[2018-04-23 03:04] ash2k commented on #62769
https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#primitive-types explicitly says:
[code]

[2018-04-23 03:26] gtaylor commented on #50898
Can we get this one protected from fejta? This would be a great thing to have.

[2018-04-23 03:54] iraj-norozi commented on #48378
tanks freind ints true.

[2018-04-23 03:56] xiaoxubeii commented on #62373
Please detail the environment info, e.g: Kubernetes version, Kernel, OS.
The following is the template:

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardwar

[2018-04-23 04:35] gyliu513 commented on #62944
Fixed in https://github.com/cncf/k8s-conformance/pull/194

[2018-04-23 04:45] ash2k commented on #62769
Alternative PR https://github.com/kubernetes/kubernetes/pull/62981

[2018-04-23 05:42] mgdevstack opened #62983 "Unable to setup cluster with local-up-cluster.sh in macOS"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
On running `hack/local-up-cluster.sh` from k8s source. Following things observed -

1. Shows Kubernetes Cluster is running but useless. (api-server, scheduler, control-manager are running)
2. `WARNING: kubelet is not currently supported in darwin, kubelet aborted.`
3. `WARNING: kube-proxy terminated unexpectedly, see /tmp/

[2018-04-23 05:43] vikaschoudhary16 commented on #62747
/cc @vikaschoudhary16

[2018-04-23 06:16] 13567436138 opened #62986 "why cann't ping svc,the kubernetes svc can ping access,others cannot"
sh-4.2$ ping alpaca-pxc.default.svc.cluster.local
PING alpaca-pxc.default.svc.cluster.local (10.233.37.69) 56(84) bytes of data.
^C
--- alpaca-pxc.default.svc.cluster.local ping statistics ---
4 packets transmitted, 0 received, 100% packet loss, time 2999ms

sh-4.2$ ping kubernetes.default.svc.cluster.local
PING kubernetes.default.svc.cluster.local (10.233.0.1) 56(84) bytes of data.
64 bytes from

[2018-04-23 06:42] gyliu513 opened #62988 "Conformance test should also cover RBAC"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

The current conformance test do not cover RBAC part in Kubernetes, this should also be included.

/area conformance
/sig security

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubec

[2018-04-23 06:43] gyliu513 commented on #62988
/sig auth

[2018-04-23 06:53] nak3 opened #62989 "`--resource` option in `kubectl create (cluster)role` does not support asterisk `*`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`--resource` option in `kubectl create (cluster)role` does not support asterisk `*` as below:

[code]

**What you expected to happen**:

Following command works fine.

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Just Run:

[code]

**Environment**:

[code]

[2018-04-23 06:57] nak3 commented on #62989
@kubernetes/sig-cli-feature-requests

[2018-04-23 07:03] mgdevstack commented on #62983
@AishSundar @BenTheElder @Q-Lee

1.  Is this a known issue for macOS because in ubuntu it works fine?
2. What would be other alternate option to work efficiently with local cluster? (should be able to pass flags to api-server, kubelet, kubeadm for alpha features, admission-control hasslefree )

Issue with the following clusters -
Docker runtime tool : **Docker for Mac** (tried with **docker-machin

[2018-04-23 07:05] wzhx78 commented on #61937
@thockin  @dchen1107  any comments for this?

[2018-04-23 07:18] wojtek-t commented on #34627
/lifecycle frozen

[2018-04-23 07:37] jaczhangf opened #62992 "SelectorSpreadPriority for scheduler doesn't work as expected when create statefulset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I want to  schedule pods within same service across nodes as evenly as possible, so I configured a scheduler-policy-config file for the scheduler ,which SelectorSpreadPriority weight was set to 10 while other default priorities weight was set to  1 ,then created a statefulset with pod anti affinity enabled, however in a

[2018-04-23 07:55] wojtek-t commented on #62064
Thank @shyamjvs
That means we should prioritize: https://github.com/kubernetes/kubernetes/pull/50102 because that will unblock getting back to watch-based solution there.

[2018-04-23 07:59] CaoShuFeng commented on #62986
Is there any document said that we can ping a service?

[2018-04-23 08:16] wenlxie commented on #62362
If the node restart or kubelet restart , then pod's initContainer will run again?

[2018-04-23 08:35] #61176 closed

[2018-04-23 08:44] kumudt commented on #58956
@danwinship I have done that and these are the logs that I find. Does any of this seems scary?
[code]

[2018-04-23 08:45] jiuchongxiao opened #62997 "kubectl get nodes Unable to connect to the server: net/http: TLS handshake timeout"
kubectl get nodes
Unable to connect to the server: net/http: TLS handshake timeout    or      The connection to the server 192.168.0.17:6443 was refused - did you specify the right host or port?   once in a while
why is it,who can help me  thanks?
 @kubernetes/sig-contributor-experience-test-failures
 @kubernetes/sig-contributor-experience-bugs
kubectl version     v1.10.1

[2018-04-23 08:58] jiuchongxiao commented on #62997
/sig

[2018-04-23 09:05] discordianfish commented on #50898
/remove-lifecycle stale
/lifecycle freeze

I think this should do it.

[2018-04-23 09:08] andrewhowdencom commented on #58956
I don't have experience in this area, but if you run somthing like:

[code]

you'll be able to see the kubelet spawn the iptables-restore process, and see the input that it writes to it. If it's writing directly to iptables-restore you might be able to limit the output by running:

[code]

This advise is *more generally* about debugging the invocation of processes, and is here only to provide some

[2018-04-23 09:10] mgdevstack commented on #62983
Duplicated https://github.com/kubernetes/kubernetes/issues/62940

/close

[2018-04-23 09:10] #62983 closed

[2018-04-23 09:12] zhangxiaoyu-zidif commented on #62362
correct @wenlxie

[2018-04-23 09:40] hzxuzhonghu commented on #62986
service can be resolved as a clusterip, which can not ping.
What's this `10.233.37.69`? The host ip?

[2018-04-23 09:44] hzxuzhonghu commented on #62997
192.168.0.17 not listen on 6443

[2018-04-23 09:47] shubheksha commented on #62935
/kind bug
/sig node

[2018-04-23 09:48] shubheksha commented on #62949
/kind support

[2018-04-23 09:49] shubheksha commented on #62956
/sig scheduling
/kind bug

[2018-04-23 09:51] shubheksha commented on #62997
@jiuchongxiao - can you please update your issue to follow the issue template? That'll make it easier to resolve it. Thanks!

[2018-04-23 09:52] shubheksha commented on #62992
/sig scheduling

[2018-04-23 09:52] george-angel commented on #46287
Can someone please re-open this issue? Its quiet a significant one for us. We currently need trello cards with due time set a year ahead with a reminder to restart kube-proxy.

[2018-04-23 10:03] discostur opened #62999 "Nodeport Service breaks headless Service (same Deployment)"
/kind bug

**What happened**:
Our Deployment is configured with a headless Service and every Pod gets its own A-Record. If i add a nodeport Service in addition to the existing headless Service to the same Deployment, the headless Service seems to be broken and i dont't get any A-Records for my Pods.

**What you expected to happen**:
I want to run the headless Service and the nodeport Service at th

[2018-04-23 10:12] cben commented on #40973
About API clients: should they use/recommend using `KUBERNETES_SERVICE_HOST` / `KUBERNETES_SERVICE_PORT` env vars, or `kubernetes.default` dns?

Sounds like `kubernetes.default` dns can avoid sensitivity to this issue. (still needs API to be up by the time actual request is made, of course).

https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#accessing-the-api-from-a-pod docum

[2018-04-23 11:03] php-coder commented on #56174
/remove-lifecycle rotten

[2018-04-23 11:22] bsalamat opened #63002 "Scheduler must watch all pods of the cluster, not just those that it is responsible for"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Scheduler's pod informer has a selector that [watches only pods whose spec.schedulerName is equal to the name of the scheduler](https://github.com/kubernetes/kubernetes/blob/9b7439d77d0b29878ec3246271206050e22a3c7a/pkg/scheduler/factory/factory.go#L1275). This is incorrect. Scheduler must watch all the pods of the cluster,

[2018-04-23 11:31] bsalamat commented on #63002
cc\ @jpbetz @cheftako

[2018-04-23 11:31] shubheksha commented on #62999
/sig network

[2018-04-23 12:21] mvladev opened #63004 "Mixed Prometheus metrics in different components"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  `/metrics` endpoint of different k8s components expose Prometheus metrics that are not for them. For example, `controller-manager` exposes `apiserver` metrics:

[code]

or `kubelet`:

[code]

**What you expected to happen**: Prometheus metrics only for `kubelet` to appear on kubelet's `/metrics` endpoint.

**How to repro

[2018-04-23 12:39] bersace commented on #60987
Same here with minikube :

[code]

That looks like an internal pod. I guess  there is nothing to remove.

[2018-04-23 12:45] aveshagarwal commented on #63002
For updating it cache, shouldn't the default scheduler rely on node info/status?

Also its not very clear, what information the default scheduler needs from other pods (not to be scheduled by it) that it makes decision on?

Just trying to understand the issue more clearly.

[2018-04-23 13:00] Cynerva commented on #40635
/remove-lifecycle stale

[2018-04-23 13:07] mdianjun opened #63005 "How to prevent DaemonSet pods being evicted from nodes which have disk pressure?"
How to prevent DaemonSet pods being evicted from nodes which have disk pressure?
[code]

I had tried 3 ways:

1. critical pod
2. TaintBasedEvictions=true,TaintNodesByCondition=true
3. priorityClass

Feature gates had been configured on apiserver, controller-manager, scheduler, kubelet:
`ExperimentalCriticalPodAnnotation=true,LocalStorageCapacityIsolation=true,PersistentLocalVolumes=true,MountPropa

[2018-04-23 13:09] mdianjun commented on #63005
/sig scheduler

[2018-04-23 13:10] shyamjvs opened #63006 "Large-scale correctness jobs started failing"
Our [gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-scale-correctness) and [gce-large-correctness](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-large-correctness) jobs have started failing sometime mid- last week. E.g failures:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/100
- https://k8s-g

[2018-04-23 13:13] shyamjvs commented on #63006
I'm taking a look at one of those runs (ref: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/101/build-log.txt) and it seems like the failure is likely due to this:

[code]

Heapster/metrics-server not getting scheduled. This would also explain HPA test failures.
Seems like sth's wrong with our heapster node config (I remember @wojtek-t touched it las

[2018-04-23 13:15] shyamjvs commented on #63006
Ok, so I guess it's this change https://github.com/kubernetes/test-infra/pull/7724 where the env var name was wrongly copied as `HEAPSTER_MACHINE_SIZE` instead of `HEAPSTER_MACHINE_TYPE` :)

[2018-04-23 13:16] shyamjvs commented on #63006
Indeed we're currently using the wrong name in config.json [file](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json),
Let me send a fix.

[2018-04-23 13:18] cben commented on #57459
/remove-lifecycle stale
Still happens with kubectl v1.9.1+cbc5b49.

[2018-04-23 13:25] #63006 closed

[2018-04-23 13:40] wojtek-t commented on #59124
@jennybuckley @sttts - you probably already thought about it, but one more thing to ensure here is that:

- apiserver can starte responding "OK" to "/healthz" even if all webhooks are broken
[that means e.g. finishing all post-startup hooks]

Without that, apiserver would be consistently being killed + restarted by Kubelet on which it is running (at least in some setups).

[2018-04-23 13:55] george-angel commented on #62538
Some updates, the logs are extremely verbose and hard to navigate, we did however get pprof of cpu and memory (attached) of an increasingly broken master.

[pprof.cpu.pb.gz](https://github.com/kubernetes/kubernetes/files/1938470/pprof.cpu.pb.gz)
[pprof.heap.pb.gz](https://github.com/kubernetes/kubernetes/files/1938471/pprof.heap.pb.gz)

It looks like the problem is around grpc client, talking to e

[2018-04-23 14:10] #20410 closed

[2018-04-23 14:17] shyamjvs commented on #62808
I temporarily switched back the etcd version to 3.1.12 for our large-scale jobs in https://github.com/kubernetes/test-infra/pull/7825 to verify if that's causing the trouble.

[2018-04-23 14:27] shyamjvs commented on #62064
Going back to the 'PATCH node-status' latency graph I posted earleir in https://github.com/kubernetes/kubernetes/issues/62064#issuecomment-378880484.. copying again:

![a](https://user-images.githubusercontent.com/4333971/39132445-21156b34-4712-11e8-9568-0916441e740a.png)

We now understand the cause for bump above threshold of 1s before run-119. This is caused by my PR #56075 that moved Scale() m

[2018-04-23 14:42] bgrant0607 commented on #33057
See also #14733

[2018-04-23 14:44] bgrant0607 commented on #29772
Was more or less a dupe of #14733

[2018-04-23 14:44] ceshihao commented on #62742
I think it is related with this issue https://github.com/json-iterator/go/pull/266
I will upgrade it in vendor when the PR is merged.

[2018-04-23 14:48] liggitt commented on #62931
did that make a difference?

[2018-04-23 14:55] bgrant0607 commented on #61917
Ref #43516

[2018-04-23 14:57] DreadPirateShawn commented on #57668
/remove-lifecycle stale

Any update on this?

[2018-04-23 15:27] ryanmcginnis commented on #24420
/remove-lifecycle stale

[2018-04-23 15:29] Freezzie commented on #61224
Got the same problem.
Immediately after the creation the workers joined successfully, but after 3 days "kubeadm join" is successfully, but node is not visible in kubernetes.

[2018-04-23 15:55] lavalamp commented on #59124
Yeah, the post-start hooks are the thing that inspired this issue :)

On Mon, Apr 23, 2018 at 6:41 AM Wojciech Tyczynski <notifications@github.com>
wrote:

[2018-04-23 16:11] AishSundar commented on #62713
status/approved-for-milestone

[2018-04-23 16:12] nicksardo commented on #32157
/remove-lifecycle stale

[2018-04-23 16:14] AishSundar commented on #62710
Since this is a test issue, I am applying label status/approved-for-milestone to avoid this issue from being removed from the milestone. @kubernetes/sig-network-bugs @kubernetes/sig-network-misc plz ping me if you have any ques.

[2018-04-23 16:15] AishSundar commented on #62709
Since this is a test issue, I am applying label status/approved-for-milestone to avoid this issue from being removed from the milestone. @kubernetes/sig-ui-misc plz ping me if you have any ques.

[2018-04-23 16:16] AishSundar commented on #62710
status/approved-for-milestone

[2018-04-23 16:17] AishSundar commented on #62713
/status approved-for-milestone

[2018-04-23 16:18] AishSundar commented on #62710
/status approved-for-milestone

[2018-04-23 16:18] AishSundar commented on #62709
/status approved-for-milestone

Since this is a test issue, I am applying label status/approved-for-milestone to avoid this issue from being removed from the milestone.

[2018-04-23 16:19] AishSundar commented on #62704
/status approved-for-milestone

Since this is a test issue, I am applying label status/approved-for-milestone to avoid this issue from being removed from the milestone.

[2018-04-23 16:19] AishSundar commented on #62703
/status approved-for-milestone

Since this is a test issue, I am applying label status/approved-for-milestone to avoid this issue from being removed from the milestone.

[2018-04-23 16:55] liggitt commented on #62939
See description at https://github.com/kubernetes/kubernetes/issues/54665#issuecomment-340960398 and https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication

[2018-04-23 17:00] jiayingz commented on #56944
/remove-lifecycle stale

[2018-04-23 17:04] carolynvs commented on #53640
/remove-lifecycle stale

[2018-04-23 17:04] shyamjvs commented on #62456
@yujuhong @filbranden Should we bump down the version (if so, to which one) in our config-default/test files until a patch fix is available?

[2018-04-23 17:10] #54878 closed

[2018-04-23 17:24] ericchiang commented on #62920
Relevant spec link: http://openid.net/specs/openid-connect-core-1_0.html#AggregatedDistributedClaims

This would be incredibly useful for getting group claims out of ID Token without having to implement your own token validator.

What's the API server's obligation to validate the JWT returned by the distributed claim endpoint? There doesn't seem to be anything in the spec about that (other than th

[2018-04-23 17:27] #40745 closed

[2018-04-23 17:45] discordianfish opened #63018 "Internal PreStartContainer hook failed: not enough cpus available to satisfy request"
/kind bug
**What happened**:
Sometimes when an deployment creates new pods they get scheduled on a node successfully but the containers fail to start with:

[code]

**What you expected to happen**:
The scheduler shouldn't put pods on nodes without enough resources.

**How to reproduce it (as minimally and precisely as possible)**:
I don't know how it got into this situation. Deleting the pods and

[2018-04-23 17:46] Prodian0013 opened #63019 "statefulset missing .status.readyReplicas on initial creation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Created statefulset. Ran the following to check the status of statefulset:

[code]
This is because the .status.readyReplicas is not immediacy available.

Checked json output for .status.readyReplicas field and its missing.

[code]

**What you expected to happen**:
.status.readyReplicas should show 0 during creation.

[cod

[2018-04-23 18:00] gyuho commented on #62808
subscribe @gyuho

[2018-04-23 18:14] bart0sh commented on #62773
@ikaven1024 I was able to reproduce this.

@RenaudWasTaken would this be a proper fix or we need something more sophisticated?

[code]

[2018-04-23 18:16] mikedanese commented on #62920
JWTs are validated per https://tools.ietf.org/html/rfc7519#section-7.2. We can lookup validation keys by keyid, or "iss".

That's how I would do it.

AD supports using distributed claims with groups. I'm not sure if they are totally up to spec.

https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-token-and-claims

[2018-04-23 18:24] bchav opened #63022 "Create node labels from EC2 Tags"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What you expected to happen**:

[EC2 Tags](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html) are useful for identifying types of compute resources for billing purposes, identifying ownership within your organization, segregating workloads, and more. Node labels are used for similar purposes, so it feels natural to e

[2018-04-23 18:37] AishSundar opened #63024 "Failing Test: [sig-aws] Up failing in ci-kubernetes-e2e-kops-aws and pull-kubernetes-e2e-kops-aws"
## Failing Job
[sig-release-master-blocking: aws](https://k8s-testgrid.appspot.com/sig-release-master-blocking#aws)

## Failing Test
[Up](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws/26962)

## Triage results
https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=ci-kubernetes-e2e-kops-aws&test=Up

Synced offline and this is due to a know

[2018-04-23 18:37] ConnorDoyle commented on #63018
/sig node
(for CPU manager)

[2018-04-23 18:39] shyamjvs opened #63025 "Kubemark-5k cluster failing performance tests"
Our kubemark-5k job (https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-5000) started failing sometime mid- last week. E.g failed runs:
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/963
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/964
- https://k8s-gubernator.appspot.com/bui

[2018-04-23 18:40] shyamjvs commented on #63025
/assign @krzysied
Krzysiek - could you please take a look?

[2018-04-23 18:46] shyamjvs opened #63026 "GKE scalability jobs failing during Teardown"
Our GKE scalability jobs (https://k8s-testgrid.appspot.com/sig-scalability-gke) are failing in the cluster teardown step (even though the e2e tests themselves passed). E.g failures:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-scale-correctness/10
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-scale-correctness/

[2018-04-23 18:53] AishSundar opened #63027 "Failing Test: [sig-scheduling] SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected"
## Failing Job
[sig-release-master-blocking: gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

## Failing Test
SchedulerPredicates [Serial] validates that a pod with an invalid NodeAffinity is rejected

## Triage results
https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=scheduling&job=ci-kubernetes-e2e-gci-gke-serial&test=validates%20th

[2018-04-23 19:04] AishSundar opened #63028 "[sig-network] DNS configMap nameserver Forward external name lookup should forward externalname lookup to upstream nameserver [Slow][Serial]"
## Failing Job
[sig-release-master-blocking: gci-gke-serial](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-serial)

## Failing Test
[[sig-network] DNS configMap nameserver Forward external name lookup should forward externalname lookup to upstream nameserver [Slow][Serial]](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-serial/5640

[2018-04-23 19:10] AishSundar commented on #63028
/status approved-for-milestone

[2018-04-23 19:11] AishSundar opened #63029 "Failing Test : [sig-testing] ci-kubernetes-e2e-gce-scale-correctness: BeforeSuite"
## Failing Job
[sig-release-master-blocking#gce-scale-correctness](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-correctness)

Failing Test
[[sig-testing] ci-kubernetes-e2e-gce-scale-correctness: BeforeSuite](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/102)

Triage results
https://storage.googleapis.com/k8s-guber

[2018-04-23 19:15] cblecker commented on #63029
Odd that this test is listed as a sig-testing owned test in the triage tool.. I'd think it would be scaleability.

[2018-04-23 19:18] AishSundar opened #63030 "Failing Test : [sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons"
## Failing Job
[sig-release-master-blocking#gce-scale-performance](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance)

Failing Test
[[sig-scalability] Density [Feature:Performance] should allow starting 30 pods per node using { ReplicationController} with 0 secrets, 0 configmaps and 0 daemons](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kube

[2018-04-23 19:30] AishSundar commented on #63027
Also fails as part of upgrade job as seen below

[sig-release-master-upgrade#gce-1.10-master-upgrade-master](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-1.10-master-upgrade-master)

[2018-04-23 19:34] shyamjvs commented on #63029
This issue has already been taken care of in https://github.com/kubernetes/kubernetes/issues/63006.

[2018-04-23 19:35] shyamjvs commented on #63030
This issue is being taken care of in https://github.com/kubernetes/kubernetes/issues/62064 and https://github.com/kubernetes/kubernetes/issues/62808.

[2018-04-23 19:41] AishSundar commented on #63027
Also fails as part of following jobs
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gce-master-1.10-downgrade-cluster
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci

[2018-04-23 19:44] AishSundar commented on #62697
/reopen

@msau42 the tests seem to be failing as part of the upgrade job. Can yoi please take a look?
https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster

[2018-04-23 19:45] aveshagarwal commented on #63002
But this information is present here: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/schedulercache/node_info.go#L40

[2018-04-23 19:46] justinsb commented on #63024
Should be addressed by https://github.com/kubernetes/test-infra/pull/7829

[2018-04-23 19:47] apelisse commented on #38637
@mbohlool Have we removed swagger 1.2 from head/1.10?

[2018-04-23 19:49] AishSundar opened #63034 "Failing Test: [sig-testing] SkewTest failing as part of multiple master-upgrade jobs"
## Failing Job
[sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster)
[sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-master-gci-1.10-downgrade-cluster-parallel)
[sig-release-master

[2018-04-23 19:53] AishSundar commented on #63034
/status approved-for-milestone

[2018-04-23 19:53] AishSundar commented on #62697
/status approved-for-milestone

[2018-04-23 20:01] #62796 closed

[2018-04-23 20:07] losipiuk opened #63035 "kubectl allows editing/patching static manifest pods though changes are not applied (mostly)"
/kind bug

**What happened**:
`kubectl` does not report error when it is used to edit or patch pod which is statically defined via entry in `/etc/kubernetes/manifests`.
Subsequent calls to `kubectl describe` show edits thought they are not in effect.
Up to my understanding using `kubectl edit/patch` is unsupported for statically defined pods and should return an error.

**What you expected to happ

[2018-04-23 20:09] aveshagarwal commented on #63002
So when I check the history, I see it was added here: https://github.com/kubernetes/kubernetes/pull/52479

[2018-04-23 20:11] aveshagarwal commented on #63002
@bsalamat have we seen any specific issues due to this change (like between default scheduler and DS controller)?

[2018-04-23 20:18] tamalsaha opened #63036 "Use Google metadata service to activate GCR credential provider"
I am trying to use the CredentialProvider library from my code that runs as a pod in Kubernetes. I do not mount the `/sys/class/dmi/id/product_name` file . This means that the GCR credential provider for is not enabled.
https://github.com/kubernetes/kubernetes/blob/a0f94123616c275f94e7a5b680d60d6f34e92f37/pkg/credentialprovider/gcp/metadata.go#L117:6

Can we bring back the check to use the Google

[2018-04-23 20:30] BenTheElder commented on #63034
These look very unrelated.

`gke-gci-1.10-gci-master-upgrade-cluster-new`: For the first job these look like the same network and gcePD unmount errors found previously. I don't think these are new or related to the others

/sig storage

/sig network
/sig scheduling

`gke-gci-master-gci-1.10-downgrade-cluster-parallel`:

Dashboard tests should be behind a feature gate, the OSS dashboard is an addon

[2018-04-23 20:44] tamalsaha commented on #63036
@dims,  Bit embarrassed that I had not checked first. Is there a list of files that are auto mounted in pods?

[2018-04-23 20:48] MrHohn commented on #62757
This was fixed couple days ago. CI (https://k8s-testgrid.appspot.com/google-gke#gci-gke-alpha-features) is now failing on some PersistentVolumes tests and is irrelevant to this issue.
/assign
/close

[2018-04-23 20:48] #62757 closed

[2018-04-23 21:01] dims commented on #63036
@tamalsaha i don't have much experience with this either! @vishh may know by heart though.

[2018-04-23 21:06] halbritt commented on #62917
@msau42 all of my stateful workloads are on PVCs.  My issue occurred when I had ~100 pods on a node with standard disk.  The pods using ephemeral storage were things like nginx or other types of web applications (flask) that were using temp storage for things like caching.  On an n1-highmem16 we would see load spike to over 100.  An strace on kubelet showed that it was doing du and find repeatedly

[2018-04-23 21:30] msau42 commented on #62917
Thanks @halbritt!  For your ephemeral storage pods, do you know how many files and how much ephemeral capacity they were using?

I think we should consider some sort of throttling mechanism on volume usage metrics collection to not overload the node.

[2018-04-23 21:31] #53538 closed

[2018-04-23 21:42] dashpole commented on #62917
@msau42 cAdvisor has a global max number of concurrent operations (capped at 20) for `du` and `find`.  It might be worth doing something similar for ephemeral volumes.

[2018-04-23 21:43] dashpole commented on #62917
The `du` and `find` calls may also be from measuring container writable layer disk usage as well.

[2018-04-23 21:50] ericchiang commented on #62920
Okay, if we require the JWTs to be issued by a provider that supports OpenID Connect discovery, then that makes it easy.

[2018-04-23 22:01] msau42 commented on #62752
/assign

[2018-04-23 22:01] losipiuk commented on #63035
cc @kubernetes/sig-cli-bugs (not sure if this is right group though).

[2018-04-23 22:06] halbritt commented on #62917
@msau42 I just checked a couple nodes on the cluster.  It's been scaled out a bit since we had this issue, so we're hovering around 70 pods per node.  IIRC, the IO was happening in /var/lib/docker/volumes, which in my case contains 25-30k files and 1.2GB of space on average.

That doesn't seem like much, but it's the same workload that caused us the issues we were experiencing.

[2018-04-23 22:07] ericchiang commented on #20165
@johanot they don't. API servers can already be given multiple public keys to validate service account JWTs (https://github.com/kubernetes/kubernetes/pull/34029). This lets you introduce a new key pair over time for validation before changing it in the controller manager as the active signing key.

We have longer term plans for automatically rotating service accounts credentials https://github.com

[2018-04-23 22:11] dims commented on #62342
So i have something working - it's a CI job that uses local-up-cluster.sh with `DOCKERIZE_KUBELET=y`. please see https://github.com/kubernetes/kubernetes/pull/62508

[2018-04-23 22:25] bsalamat commented on #63002
Yes, but scheduler relies on its pod informers to keep this location up to date. That's exactly why it is important for the scheduler to receive updates for all the pods in the cluster.

Yes. We missed the problem at the time.

This is problematic only in clusters that use multiple schedulers. I initially thought that DS controller could cause issues as well, but DS controller does not set `podSpe

[2018-04-23 22:28] Quentin-M opened #63038 "PodSecurityPolicy: defaults are"
**Is this a BUG REPORT or FEATURE REQUEST?**:

One may say it's a bug, the other will say it's a feature.

/kind bug

**What happened**:

- A PodSecurityPolicy is defined with the following (excludes root and all existing Container Linux users), and bound to the default service accounts / authenticated users:
[code]
- Try to run a simply nginx image as root in a deployment: the container starts an

[2018-04-23 22:45] #62435 closed

[2018-04-23 22:57] filbranden commented on #61474
@adelton The problem is when using the `--cpu-shares` argument:

[code]

For the record, `"No such device or address"` is from systemd returning ENXIO error when starting the transient unit.

(Today I learned: `dbus-monitor`! :smile:)

I'm still unsure why this started failing now... But I have a reproducer now and I'll keep investigating. We can probably use this bug, since it's essentially about

[2018-04-23 23:30] msau42 commented on #62752
I think the issue is we changed subpath to also do a mount underneath, however, the readonly flag is not passed through.

[2018-04-23 23:46] jhorwit2 commented on #57371
/remove-lifecycle stale

[2018-04-24 00:09] nicksardo opened #63044 "GCE: Must bump GLBC manifest of earlier K8s versions to v1.1+"
/kind bug
/sig gcp

Currently, v0.9.7 has a scalability problem - syncing all GCP resources for all ingresses on every individual ingress sync. This causes a latency spinning up new ingresses and can cause rate limit problems.

Once we're confident with v1.1+ in K8s 1.10, we should backport to earlier versions.

[2018-04-24 00:16] ConnorDoyle commented on #63018
/assign

[2018-04-24 00:34] #54716 closed

[2018-04-24 00:38] filbranden commented on #61474
@adelton This is fixed (at least the minimal reproducer of `docker run --cpu-shares 2`) with projectatomic/runc#10, but there might be more stuff broken later on...

The problem now is really between docker and systemd in Fedora Rawhide...

I think we can close this one since this has already been sorted out from Kubernetes side... Agreed?

[2018-04-24 00:47] bsalamat commented on #61512
Closing this PR and following up on this problem on #62921.

[2018-04-24 00:47] #61512 closed

[2018-04-24 00:50] liggitt commented on #63038
If you want to allow any uid (including unspecified uids in the podspec), use the RunAsAny option in the PSP

See https://kubernetes.io/docs/concepts/policy/pod-security-policy/#users-and-groups for more info on defaulting behavior

/close

[2018-04-24 00:50] #63038 closed

[2018-04-24 01:02] XericZephyr commented on #53509
Having the same issue. No idea how to fix it.

[2018-04-24 01:05] janetkuo commented on #42917
/remove-lifecycle stale

[2018-04-24 01:44] liggitt commented on #63035
It is neither an error nor a bug. The API manifestations of static pods behave as any other API object (the apiserver doesn't generally treat them specially). The difference is that the kubelet treats the manifests as the authoritative source, not the API.

On a subsequent reconciliation loop, the kubelet will likely overwrite the changes made to the pod.

[2018-04-24 01:48] vikaschoudhary16 opened #63048 "Pod details missing in the `Allocate` DPAPI"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Pod details are not passed in the `Allocate` RPC and because of this network device plugins are not supported.

**Since when network device plugins were being discussed to be supported?**
Right from the very beginning. [Here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/resource-ma

[2018-04-24 01:49] hzxuzhonghu commented on #62931
@liggitt same 200 code
[code]

[2018-04-24 01:51] liggitt commented on #62962
How was the kube-controller-manager started? Was a cluster-signing-cert-file/cluster-signing-key-file provided?

[2018-04-24 01:52] liggitt commented on #63035
/close

[2018-04-24 01:52] #63035 closed

[2018-04-24 01:55] liggitt commented on #62988
A cluster should probably not be required to use RBAC authorization to be considered conformant, though it's a good choice for most clusters.

@kubernetes/sig-architecture-proposals is there any concept of "conformance profiles" yet?

[2018-04-24 01:56] liggitt commented on #63022
Is this something the cloud node controller could look up and add?

[2018-04-24 01:58] liggitt commented on #62931
Can you try on a resource other than namespace? Namespaces are unusual in their deletion handling

[2018-04-24 01:59] liggitt commented on #62931
Hmm, though the orphanDependants response was on a namespace

[2018-04-24 02:51] andyzhangx opened #63050 "Add readOnly support for mounting windows disk"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently when mounting windows disk, `ro` options is not respected. Following powershell command could make a disk as ReadOnly:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `ku

[2018-04-24 02:51] andyzhangx commented on #63050
/assign

[2018-04-24 02:53] hzxuzhonghu commented on #62931
same
[code]

[2018-04-24 02:54] andyzhangx opened #63051 "Add readOnly support for mounting windows directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently when mounting windows a windows dir, `ro` options is not respected. Need to find a way to make a directory as ReadOnly. And also for feature like mounting azure file, `New-SmbGlobalMapping` also does not support `ReadOnly` attribute.

**What you expected to happen**:

**How to reproduce it (as minimally and p

[2018-04-24 02:55] andyzhangx commented on #63051
/assign

[2018-04-24 02:55] hzxuzhonghu commented on #62931
in such case,  I think 202 is better .  I can fix it if necessary.

[2018-04-24 03:00] hchenxa opened #63052 "All pod was running but the number was available was not updated for daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a daemonset for kube-dns and each of service was running like below:
[code]
But the number of READY and AVAILABLE was still be `1` like below:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2018-04-24 03:09] xiaoxubeii commented on #63022
Agree. And aws provider already had a implementation of tags: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/tags.go.

[2018-04-24 03:12] hchenxa commented on #63052
seems my daemon set was updated by someone, close it

[2018-04-24 03:12] #63052 closed

[2018-04-24 03:25] AishSundar commented on #63034
@BenTheElder should we open separate issues for each of the jobs then?

[2018-04-24 03:29] xiaoxubeii commented on #62999
I have tested it with Kubernetes 1.9.2 and CentOS 7.2, it worked fine.

[2018-04-24 03:43] xiaoxubeii commented on #62986
As @hzxuzhonghu said, kubernetes service is exposed by DNAT default, it cannot ping.

[2018-04-24 03:51] xiaoxubeii commented on #62949
As above doc said, Kubernetes is a container based resource management and schedule system, it more like a underlying infrastructure. You can build PaaS services on Kubernetes.

[2018-04-24 03:56] xiaoxubeii commented on #62935
By default, flannel would use host-local ipam to allocate ips. Can you view /run/flannel/subnet.env for further information?

[2018-04-24 04:55] feiskyer opened #63056 "Upgrade Azure Go SDK to stable version"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig azure

**What happened**:

Kubernetes is using a beta version of Azure Go SDK now. If there are bugs in them, it's hard to upgrade because Azure Go SDK won't release new patches for pre-released SDK versions. We should upgrade Go SDK to stable version (e.g.  v14.6.0)

Refer https://github.com/kubernetes/kubernetes/pull/62249

Refer http

[2018-04-24 05:32] mkumatag commented on #61277
If you are running on non-x86 platform and if k8s is using `k8s.gcr.io/pause:3.1` then you are hitting with the issue mentioned in https://github.com/kubernetes/kubernetes/issues/63057

[2018-04-24 05:40] Andrewpqc commented on #49440
/close

[2018-04-24 05:45] #63002 closed

[2018-04-24 06:36] andyzhangx commented on #58511
close this issue since it's by design, let me know if you have any question, thanks
/close

[2018-04-24 06:36] #58511 closed

[2018-04-24 06:41] hareeshrao4839 commented on #62056
any update?

[2018-04-24 06:42] ihmccreery commented on #20491
@vbmade2000 Nope!

[2018-04-24 06:48] Lion-Wei commented on #59662
@rramkumar1 I think #59656 is finished, and hopefully #59507 will be solve and merged soon. Looking forward for ipvs GA in 1.11 :grinning:

[2018-04-24 06:55] saurabh-chordiya opened #63064 "k8s-1.10: One of the kube-proxy pod failed to get up after restart"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deployed k8s-1.10 using kubeadm (60 nodes setup) and everything was up & running.
Restarted one of the kube-proxy pod and then it failed to come up
Pod was up & running but after restart if went into error state

$ kubectl get pod --namespace=kube-system  -o wide |grep kube-proxy-pj4xw
kube-proxy-pj4xw

[2018-04-24 07:02] saurabh-chordiya commented on #63064
/sig storage

[2018-04-24 07:11] shredder-rull commented on #49926
Have the same issue for c5 and m5 instances. Works on c4
`{
  "clientVersion": {
    "major": "1",
    "minor": "10",
    "gitVersion": "v1.10.1",
    "gitCommit": "d4ab47518836c750f9949b9e0d387f20fb92260b",
    "gitTreeState": "clean",
    "buildDate": "2018-04-13T22:29:03Z",
    "goVersion": "go1.9.5",
    "compiler": "gc",
    "platform": "darwin/amd64"
  },
  "serverVersion": {
    "major": "1

[2018-04-24 07:17] mgdevstack opened #63065 "fixes on errors reported by `make verify`"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
`make verify` reports following errors-

**What you expected to happen**:
This is the required fix reported by PR #62895 processing.

**How to reproduce it (as minimally and precisely as possible)**:
run `make verify` from k8s source.

**Anything else we need to know?**:
Detailed list of ERRORS reported by `make verify`
[c

[2018-04-24 08:16] ruanchen commented on #62935
@xiaoxubeii Pod ips have been allocated by flannel's subnet, the question is the ips are same. Maybe the etcd or apiserver lead to the result, i need to  recurrent it.

[2018-04-24 08:42] vbmade2000 commented on #20491
Do ou mind if I look into this ?

[2018-04-24 08:51] wojtek-t commented on #63025
My very strong suspicion is that ti's actually due to:
https://github.com/kubernetes/test-infra/pull/7751/files

[2018-04-24 09:17] jsravn commented on #50245
@zihaoyu Sounds like https://github.com/kubernetes/kubernetes/issues/50915 and https://github.com/kubernetes/kubernetes/issues/58334.

[2018-04-24 09:27] discordianfish commented on #63018
@ConnorDoyle Hi! :)
No, I don't see these 'still running' messages. This is what I've got in the kubelet log (slightly redacted):
[code]

[2018-04-24 09:28] jsravn commented on #47142
/reopen
/remove-lifecycle rotten

[2018-04-24 09:44] shyamjvs commented on #63025
That's a good point - I missed that. I also feel it's more likely that one (also because density test is mostly passing).
I guess we have (at least) couple options now:
- revert that change
- increase no. of real nodes for more resources

Wdyt?

[2018-04-24 09:57] wojtek-t commented on #63025
It depends how many many more real nodes we will need.
If the difference is relatively small, I would vote for that. If not, maybe revert it...

[2018-04-24 10:03] shyamjvs commented on #62064
Running against 119 gave:

[code]

and against 120 gave:

[code]

I'm now planning to confirm if 121 sees the problem (even though the graph says it should) just to confirm right-end is correct.

[2018-04-24 10:30] shyamjvs commented on #63025
I suggest that we:

- revert the change and verify if the job passes
- if it's green, then try to estimate how much more resources we'd need (and decide based on it whether to increase)
- if it's red, find what else may be the cause

@krzysied can carry on the above if that's fine.

[2018-04-24 10:44] #54519 closed

[2018-04-24 10:47] wojtek-t commented on #63025
sgtm

[2018-04-24 10:59] adelton commented on #61474
I confirm that the

[code]

regressed between Fedora 27 with

[code]

and Fedora rawhide with

[code]

Is that something we should filed bugzilla against Fedora? Or how do we want to report and track it?

[2018-04-24 12:04] alijawadfahs commented on #60161
I have the same problem, I'm running a cluster of 4 RPi's, and I have used flannel for a while with iptables with no problems to be mentioned (maybe one problem that i need to edit the forward chains in the iptables).

I started facing "Failed to create SubnetManager" when I switched to IPVS, from my humble point of view, IPVS is not compatible with flannel for the moment or vice-versa.

I'll keep

[2018-04-24 12:04] krzysied commented on #63025
OK. I'm reverting the changes.
https://github.com/kubernetes/test-infra/pull/7842

[2018-04-24 12:58] filbranden commented on #61474
@adelton See my last comment, projectatomic/runc#10 should fix that.

The problem is that runc/libcontainer is sending this information to systemd as an int64, while systemd expects it as a uint64. It turns out D-Bus is really strong typed and will refuse to convert between those.

I believe systemd switched from signed to unsigned but I think this was really long ago (haven't really checked.)

Ba

[2018-04-24 13:33] mbohlool commented on #38637
It is on my TODO list

[2018-04-24 13:44] shyamjvs commented on #63026
I think this is related to an earlier bug we've seen (similar one for GCE): https://github.com/kubernetes/kubernetes/issues/52347

Basically service-controller is creating some cloud resources (like firewalls) for lb-type services which are not brought down properly (due to lack of time?) when the k8s cluster is brought down.

[2018-04-24 13:46] shyamjvs commented on #63026
Also another related issue - https://github.com/kubernetes/kubernetes/issues/4630
There should also be an internal bug for this somewhere. IMO we should be able to fix this in test-infra (without waiting for proper long-term fix on gke side).

[2018-04-24 14:18] albertvaka commented on #45419
I can also see the ```unregister_netdevice: waiting for eth0 to become free. Usage count = 1``` error if I run `dmesg` on the node. The pod never terminates as the system can't free the network device. This causes ```PodSandboxStatus of sandbox "XXX" for pod "YYY" error: rpc error: code = DeadlineExceeded desc = context deadline exceeded``` error in `journalctl -u kubelet`.

Might be related to th

[2018-04-24 14:50] pineking commented on #62837
this is not a bug, It is expected that you can not see the PID in the pod by the `nvidia-smi`.

[2018-04-24 14:51] cben commented on #40973
Another official doc: https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod
Mostly same with different wording; one difference is this doc recommends "`kubernetes` DNS name" rather than `kubernetes.default`.  Does bare `kubernetes` work from pods in a different namespace?
I want to link to one of these docs from kubeclient docs, which one is bette

[2018-04-24 14:57] pineking commented on #62332
read the docs first, https://kubernetes.io/docs/tasks/manage-gpus/scheduling-gpus/

[2018-04-24 15:00] krousey commented on #63024
I'm still seeing this test fail.

[2018-04-24 15:02] BostjanBozic commented on #57280
We are experiencing same issue. Might be though that reason is we recreated whole cluster and forgot to clean up /var/lib/cni/networks/cbr0. Any idea if we do that now (at least for old IPs) would it make sense or would it cause some issues? I see in #383 that it works, but just want to ask around if anyone else tried it before

[2018-04-24 15:11] liggitt commented on #40973
No. You should use the most qualified name you can, e.g. `kubernetes.default.svc`

[2018-04-24 15:27] gtaylor commented on #50898
Thanks, @discordianfish !

[2018-04-24 15:30] rramkumar1 commented on #59656
@fasaxc Can you confirm on your end whether the fixed worked?

[2018-04-24 15:37] piaoyu opened #63087 "StatefulSets Endpoint remove delayed when delete one pod"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**: StatefulSets Endpoint remove delayed when delete one pod

**What you expected to happen**: StatefulSets Endpoint  remove immediately  when delete one pod

**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f  nginx-service.yaml
[code]

kubectl apply -f  nginx-stateful.yaml
[code]

#kubectl d

[2018-04-24 15:38] kfox1111 commented on #20165
+1 for sticking it in etcd. I think if someone is able to compromise etcd, they can stick whatever they want into the cluster already. Far worse then getting the key. So keeping the service account keys there shouldn't really carry any additional risk, but has a lot of benefits to simplifying rotation.

[2018-04-24 15:43] piaoyu commented on #63087
/sig network

[2018-04-24 16:05] kvaps opened #63088 "Non working flexvolume driver blocks another drivers in controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If you have few flexvolume drivers installed in kubernetes master node, they also handled by `kubernetes-controller-manager` and if one of them returns error (example that `/bin/bash` not found), then other drivers non working too, and have no attach/detach functions working.

**What you expected to happen**:
Return erro

[2018-04-24 16:09] jsafrane opened #63089 "Can't backup dynamically provisioned volumes on vmWare"
/kind bug
/sig vmware

**What happened**:
It is not possible to backup an independent disk with most backup programs for vSphere, e.g. Veeam. The cloud provider creates PVs in mode "persistent independent"

There should be a documented and supported way how to back up vmWare Kubernetes cluster, even if it says "don't use backup tools using snapshots, back up your .vmdk files manually"

**Anything

[2018-04-24 16:25] kvaps commented on #63088
/sig storage

[2018-04-24 16:26] MorrisLaw commented on #60601
What's the status of this ticket @lavalamp  @mujtabaahmed1991 @medakk @hzxuzhonghu ?

[2018-04-24 17:02] mengqiy commented on #62830
The bug is not really caused by the `$setElementOrder` stuff.
The bug is that `NodeAddress` is [`Type` as mergeKey](https://github.com/kubernetes/kubernetes/blob/18f6d75fcffeb0e7dc1787ce40d3e5a1dd46a8d3/staging/src/k8s.io/api/core/v1/types.go#L3725) can't uniquely identify a `NodeAddress` entry.
If you have more than one entries with the same mergeKey value, you will get unexpected behavior. Becau

[2018-04-24 17:04] mengqiy commented on #62830
The title is misleading. It should be changed to `v1.NodeAddress need more than one mergeKey for strategic merge patch to identify`

[2018-04-24 17:26] bgrant0607 commented on #33179
Not sure whether subPath solved the main use cases

cc @kubernetes/sig-storage-feature-requests

[2018-04-24 17:30] RenaudWasTaken commented on #62773
/area hw-accelerators
/cc @vikaschoudhary16 @jiayingz

[2018-04-24 17:31] msau42 commented on #33179
I think projected volumes solves this?

[2018-04-24 17:32] mtaufen commented on #10179
/remove-lifecycle stale

[2018-04-24 17:41] mtaufen commented on #10179
A few points to think about:
- whether `protected` should be a toggle, or only set at object creation time
- `protected` can have multiple categories:
  - `noUpdate`: can delete, but can't update/patch/apply/etc.
    - if delete/recreate is allowed, there is also the option to enforce that recreations don't mutate spec
  - `noDelete`: can't delete, but can update in place
- Immutable would be `noU

[2018-04-24 17:45] mtaufen commented on #58010
If it's basically useless for security, then I think we have an argument for changing the default to true.

[2018-04-24 17:47] nicksardo commented on #63044
/assign

[2018-04-24 17:48] mtaufen commented on #60123
Yes, that's correct.

On Sat, Apr 21, 2018 at 2:57 AM Malhar Vora <notifications@github.com>
wrote:

--
Michael Taufen
Google SWE

[2018-04-24 18:13] #59507 closed

[2018-04-24 18:13] DirectXMan12 commented on #56165
@iiitux that only solves the issue if you're not running metrics-server, and are instead running Heapster.

[2018-04-24 18:25] BenTheElder commented on #63034
I think so.

[2018-04-24 18:36] shilpamayanna commented on #41598
+1

[2018-04-24 19:09] jiayingz commented on #62773
I thought when the new device plugin re-registers, we would create a new endpoint.

[2018-04-24 19:13] gitnik commented on #2630
Also running a chown afterwards didn't work

[2018-04-24 19:57] jiayingz commented on #62773
Ah @bart0sh I think I see your point. The fix you proposed in https://github.com/kubernetes/kubernetes/issues/62773#issuecomment-383686100 sounds reasonable, but we may need to expose a function from endpoint.go with proper locking.

[2018-04-24 20:15] yguo0905 commented on #62036
/assign

[2018-04-24 20:28] #60432 closed

[2018-04-24 20:32] jethrogb commented on #27081
@Aaron3 what issues are you having with `kubectl patch statefulset`? It appears to work for me.

[2018-04-24 20:38] jennybuckley commented on #57213
/remove-lifecycle rotten
/lifecycle frozen

[2018-04-24 20:38] jennybuckley commented on #57213
/lifecycle frozen

[2018-04-24 20:50] jiayingz commented on #62773
Btw, when we are fixing this, I think we should extend the existing test/e2e_node/[gpu_]device_plugin.go to verify the fix by restarting the device plugin and waiting for resource allocatable change. We once had that test coverage in test/e2e/scheduling/nvidia-gpus.go but somehow lost it through some code changes.

[2018-04-24 21:13] jlzhao27 commented on #61921
Ya this seems fine. I agree with @nckturner's comment above. The exact issue I ran into was that the old code did not allow the user to use a secondary ENI with the `--node-ip` flag since it was not being parsed by the Kubelet at all. It seems like my fix broke some other assumptions, maybe the change here is to fix the code path for `--node-ip` and make the kubelet report either the user defined

[2018-04-24 21:13] andrewsykim commented on #61921
^ it seems like we override all the node address types if the kubelet sets `--node-ip` which seems wrong to me. I've opened this PR https://github.com/kubernetes/kubernetes/pull/63101 to address that (need to fix tests still)

[2018-04-24 21:17] andrewsykim commented on #61921
@jlzhao27 thanks for the quick reply, seems steps forward are use
* use ec2 metadata local-ipv4 by default as node address `InternalIP` (@micahhausler you said you can do this one?)
* override the `InternalIP` address type on node controller if `--node-ip` is set on the kubelet

[2018-04-24 21:38] jiayingz commented on #62773
/cc @vishh @mindprince

[2018-04-24 21:42] micahhausler commented on #61921
Here's a summary of where I'm at with this.

The kubelet informs the API server of it's addresses in the [`setNodeAddress()`](https://github.com/kubernetes/kubernetes/blob/1e39d68ecb212fe701153c29fcc7ce29e7ecf6ab/pkg/kubelet/kubelet_node_status.go#L408) method. If there is a CloudProvider (set by the `--cloud-provider` flag), the kubelet calls the cloud interface's `NodeAddresses()` method which i

[2018-04-24 21:48] vishh commented on #62773
[Posting offline question] Why is state stored both in endpoints and device manager?

[2018-04-24 22:05] jiayingz commented on #62773
I have a vague memory that we had some similar discussion before and am trying to remember the reason why the code was structured this way. I think one reason is perhaps that we want to prevent a single buggy device plugin from DOS device manager with flooding ListAndWatch updates by having its endpoint filter out unnecessary updates.

@RenaudWasTaken do you remember any other reasons?

[2018-04-24 22:11] david-mcmahon commented on #62506
@janetkuo Can you repro this in a clean/new git clone of the repo?

[2018-04-24 22:12] #62869 closed

[2018-04-24 22:25] gmatev commented on #29855
@thockin it does not seem that the idea of NOT allowing pods to share a RWO claim when they land on the same node ever made it through, correct?

Having shared pod access (absolutely agree that for applications that want to be able to provide seamless update, one needs to allow it) does lead to corruption fairly easily. One example, that we recently ran into was an update to a Postgres deployment

[2018-04-24 22:30] lavalamp opened #63104 "PATCH behavior"
The PATCH handler has some ... interesting behavior. From the comments:

[code]

I think there are three modes of operation which it potentially makes sense for patch to have:

1. User specifies RV; patch makes one try. Fail if RV no longer matches. (This makes sense if the user's patch depends on some part of the object in an unpredictable way.)
2. User does not specify RV; patch makes multiple t

[2018-04-24 22:31] lavalamp commented on #63104
People who might be interested: @liggitt @wojtek-t @bgrant0607 @apelisse

[2018-04-24 22:36] MrHohn commented on #62698
Fix rolled out on GKE. This test is no longer failing.
/close

[2018-04-24 22:36] #62698 closed

[2018-04-24 22:36] MrHohn commented on #63028
Fix rolled out on GKE. This test is no longer failing.
/close

[2018-04-24 22:36] #63028 closed

[2018-04-24 23:17] #60887 closed

[2018-04-24 23:20] ixdy opened #63108 "rpm building broken in bazel 0.12+"
Bazel 0.12 introduced some unintentional backwards-incompatible changes to `pkg_rpm` (https://github.com/bazelbuild/bazel/issues/5049). Additionally, some helper functionality (to resolve files to their new locations) didn't land in 0.12 and are slated for 0.13 instead.

There's no good way to fix this, but options to mitigate include
* tagging all of our `pkg_rpm` rules `manual` - I don't think a

[2018-04-24 23:28] orainxiong commented on #63019
Here is statefulset.status definition :
[code]

The "omitempty" option specific the field should be omited from the coding if the field has an empty value, defined as false, zero, nil pointer and any array, string, slice, map.

If I understandy correctly, you want to check if statefulset is ready. I suggest you use the following

[code]

[2018-04-24 23:37] spiffxp commented on #51135
@szuecs I was just handling a label being renamed, I'm not sure I know what's going on here.  @kubernetes/sig-node-bugs is this a feature-not-a-bug, or is there something new that might help per @davidopp's comment above?

[2018-04-24 23:38] mohamedmansour commented on #40581
I experienced same thing, I ddosed our box, and it will not recover, to recover it, I kubectl apply again. How can it auto recover?

[2018-04-24 23:49] bgrant0607 commented on #62988
Profiles are still in the proposal stage AFAIK.

Yes, RBAC can't be required.

[2018-04-25 00:22] saad-ali opened #63112 "Make `StorageClass` of provisioned `PersistentVolume` mutable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`StorageClass` is used to specify the performance characteristic of volumes to provision. Once a volume is provisioned using a specific `StorageClass` there is no way to change it. The volume is forever stuck with the performance characteristics it was provisioned with.

**What you expected to happen**:
Some storage

[2018-04-25 00:33] liggitt commented on #63112
Isn't this problematic if that changes the associated provisioner or parameters and makes the volume undeletable?

[2018-04-25 00:35] liggitt commented on #63065
It looks like you're building with go1.9.x… master is building with go1.10 now, so gofmt expects to run with that version

[2018-04-25 00:52] wangzhen127 opened #63113 "Can kubectl diff only check the things provided in the yaml file?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

When applying an yaml file to the cluster, often we only specify a subset of things. And sometimes the API server will add new key-value pairs. As a result, we have more things stored on the cluster. Use ```dummy.yaml``` below as an example:
[code]

So we can run ```kubectl apply -f dummy.yaml``` to run the pod on th

[2018-04-25 00:53] wangzhen127 commented on #63113
/kind feature
/sig cli
/area kubectl
@apelisse

[2018-04-25 00:58] #49492 closed

[2018-04-25 01:05] mml commented on #27744
/remove-lifecycle stale

[2018-04-25 01:05] mml commented on #27744
/cc @cheftako I think you might be interested in this.  Its absence makes debugging harder.

[2018-04-25 01:12] david-mcmahon commented on #62506
Thanks.  I suspect this was due to having an older copy of the repo.  There were some tagging issues around 1.10/1.11 that got resolved, but its possible a repo that was synced prior to the trouble could still have tags on the wrong commits.

[2018-04-25 01:12] #62506 closed

[2018-04-25 01:18] wangzhen127 opened #63117 "kubectl diff does not work with list"
Using ```dummy-list.yaml``` as an example:
[code]

Create pod by ```kubectl apply -f dummy-list.yaml```.
Check the pod is running by ```kubectl get pods```.
Then run diff by ```kubectl alpha diff -f dummy-list.yaml```.

It outputs errors:
[code]

[2018-04-25 01:33] RenaudWasTaken commented on #62773
Endpoints stores device state whereas manager stores "API server" state.
These two states are very similar but different.

One always has the latest device state. The other is in charge of reporting what devices changed to an unhealthy state and to delete the resource after a certain set of time.

So we're not really storing the state twice :)

[2018-04-25 01:36] vishh commented on #62773
It might be simpler to make endpoints lean and store all state within the
device manager to avoid synchronisation issues.

On Tue, Apr 24, 2018 at 6:34 PM Renaud Gaubert <notifications@github.com>
wrote:

[2018-04-25 01:59] jayunit100 commented on #30113
I think we're going to close this ...

[2018-04-25 02:02] vikaschoudhary16 commented on #62773
I doubt that any of the fix that @bart0sh mentioned will work. Problem is this -- devices are being copied with health as "Healthy" from old endpoint to new endpoint, https://github.com/kubernetes/kubernetes/blame/5514a1f4dd60b35b4b9d4915744ec65aab40938f/pkg/kubelet/cm/devicemanager/manager.go#L348

And then marking those devices unhealthy in device manager. So what @jiayingz was saying is correct

[2018-04-25 02:03] vikaschoudhary16 commented on #62773
/assign

[2018-04-25 02:16] iojancode commented on #58822
Any luck on this? anyone

[2018-04-25 02:33] vikaschoudhary16 commented on #62773
@jiayingz will handle e2e in a separate PR shortly.

[2018-04-25 02:37] vikaschoudhary16 commented on #62773
device manager to avoid synchronisation issues.

then grpc calls will have to be protected with mutex.

[2018-04-25 02:45] ruanchen commented on #62935
I've found the reason, it's not a bug, when a pod's status is completed, another pod ip can be same with the completed pod it's normal.

[2018-04-25 02:45] #62935 closed

[2018-04-25 03:27] #62451 closed

[2018-04-25 03:28] andyzhangx opened #63121 "support file mount on Windows"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Currently only directory mount is supported on Windows, e.g. azuredisk, azurefile, file mount on Windows should also be supported.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ve

[2018-04-25 03:33] apelisse commented on #63113
Yeah, you can compare to see what changed in your yaml since the last time you applied, that is:
[code]

That means that you want the different between `LAST` (the last thing you applied) and `LOCAL` (what you currently have). Try it and tell me if that works for you!

[2018-04-25 03:38] xiaoxubeii commented on #63117
Please follow the template below to issue:

**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (

[2018-04-25 04:24] kinglion811 opened #63124 "kube-proxy only work on tcp6 not tcp"
I deploy kubernetes on centos7.3 kernel 3.10,and the kubernetes version is 1.10,when I deploy dashboard or other service,the type is NodePort,but the server is:
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp6       0      0            :::30002                                 :::*                    LISTEN      34279/kube-proxy
tcp6       0

[2018-04-25 04:27] RenaultAI opened #63126 "emptyDir with medium: Memory ignores sizeLimit"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The tmpfs volume that's created with emptyDir doesn't have the correct size limit. In fact, the tmpfs volume size is always half of the available RAM on the Kubernetes node, which is the default behavior on a Linux kernel (https://www.kernel.org/doc/Documentation/filesystems/tmpfs.txt). This implies that the size option

[2018-04-25 04:29] RenaultAI commented on #63126
@kubernetes/sig-storage-misc

[2018-04-25 04:34] apelisse commented on #63117
Yeah I think @wangzhen127 is using kubernetes 1.9.x with a patch on top of it. Thank you for reporting that bug, that's pretty useful. We're in the process of changing the way the merge is computed (on the server rather than the client), so we won't fix this for now.

[2018-04-25 05:52] metral commented on #56770
/remove-lifecycle rotten

[2018-04-25 06:14] orainxiong commented on #62817
Hi, I can't exactly figure out the problem, but I hope some details that helps.

If I understand correctly, you use attach-dettach-controller to control attach/detach.

The roughly order of operations as below:

[code]

The order protects volume against multiple pods accessing the same volume, it guanrantee data consistent.

by reading controller log, there are some problems

step 1. storage provi

[2018-04-25 06:15] kadisi opened #63127 "use map-reduce method for all priorities method"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:
for kube-scheduler.  it has some defaultPriorities functions, such as : SelectorSpreadPriority, InterPodAffinityPriority,LeastRequestedPriority,BalancedResourceAllocation,NodePreferAvoidPodsPriority, NodeAffinityPriority, TaintTolerationPriority.   all of them use map-reduce to score fitnodes except InterPodAffinityP

[2018-04-25 06:17] ronakpandya7 opened #63128 "error: You must be logged in to the server - the server has asked for the client to provide credentials - "kubectl logs" command gives error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
`/kind bug`

**What happened**:
We had setup kubernetes 1.10.1 on CoreOS with three nodes.
Setup is successfull

[code]

[code]
But when i tries to see the logs of any pods kubectl gives the following error:

[code]

And also trying to get inside of the pods (using EXEC command of kubectl) gives following error:

[code]

**What you expected to happen**

[2018-04-25 06:42] shubheksha commented on #63127
/kind feature
/sig scheduling

[2018-04-25 06:42] shubheksha commented on #63128
/sig cli

[2018-04-25 06:55] mingfang commented on #62099
I don't agree with this.
I should have the option to control readOnly flag.
In fact when I describe the pod the confmap and secrets do show rw.

[2018-04-25 06:56] CaoShuFeng commented on #63128
I have no idea about this issue.

But I have a suggestion:
What about try `kubectl 1.10` instead of `kubectl 1.8` ?

[2018-04-25 06:58] mingfang commented on #60814
Forcing configmap and secret mounts to be readonly is not acceptable.
I should have the option to make it writeable.
Also the ReadOnlyAPIDataVolumes feature gate will be removed so I'm forced to change my application because of this.

[2018-04-25 06:59] ronakpandya7 commented on #63128
Hello @CaoShuFeng

We have also tried using kubectl 1.10 but no change..
So we rollback to kubectl 1.8

[2018-04-25 07:48] haf commented on #58238
Not stale

[2018-04-25 07:49] haf commented on #58238
/remove-lifecycle stale

[2018-04-25 08:03] wojtek-t commented on #63104
@lavalamp one question that I have is:
"how user can specify RV in the patch"

As part of the request, you're specifying only "patch that should be applied". Not really how the initial object looked like (and on what version it has). So I'm not really sure how that is possible.
[I agree that if it is possible, not retrying make sense here]

[2018-04-25 08:25] chenqz1987 commented on #25485
By the way, if I want to split traffic by some keywords of the request header to different backend service, how can i do?

[2018-04-25 08:32] johanot commented on #20165
@kfox1111 I'd argue to only share _public_ keys in etcd, for the apiservers to agree on which signers to trust. Private keys can be generated locally at each master node and kept there, in tmpfs even, because if they get deleted, a new keypair can just be generated.

Thus; Neither having read access to etcd nor access to data at rest on disk gives you any power. Only by gaining _write_ access to e

[2018-04-25 08:33] embano1 opened #63132 "Validate/correct documentation for reserving compute resources and eviction policy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
As a user I want to reserve resources on my node (kubelet) for critical system components, e.g. kubelet, container runtime, system daemons, etc. This can be achieved with `--kube-reserved` and/or `--system-reserved` flags as described here: https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/.

H

[2018-04-25 08:48] shubheksha commented on #63132
/kind support
@embano1, Kubernetes docs live in this repo: https://github.com/kubernetes/website
Since this seems to be a clarification regarding docs, could you file this bug [there ](https://github.com/kubernetes/website/issues/new)instead?

[2018-04-25 08:58] mengskysama commented on #10421
I also see same problem in 6 node of 1

[code]

[code]

[code]

[2018-04-25 09:01] #57443 closed

[2018-04-25 09:01] #62773 closed

[2018-04-25 09:07] embano1 commented on #63132
Makes sense, sorry.

[2018-04-25 09:07] #63132 closed

[2018-04-25 09:30] fabiand commented on #61058
Can this be fixed on the Kubernetes side? Or will it always require a manual workaround?

[2018-04-25 09:41] warpspeed6 commented on #58988
Had prob same issue as restart broke it for me with same error message... My env variable was the issue which was set to blank after restart...
solution for me was:
export KUBECONFIG=$HOME/.kube/config

Works after that....

[2018-04-25 09:58] sttts commented on #56567
We have two options:
- set the `meta.gracefulDeletionPeriod` in any case on delete. A finalizer can then use it and only delete itself after this period.
- add a CRD `spec.gracefulDeletion bool` and implement real graceful deletion. In that case, the normal non-force delete request will only set the deletion timestamp. Another controller has to do a final forced deletion. The question is where suc

[2018-04-25 09:59] sttts commented on #56567
I tend to the second option. @deads2k @liggitt @enisoc @caesarxuchao opinions?

[2018-04-25 10:07] bart0sh commented on #62773
@vikaschoudhary16

Your fix looks quite implicit in my opinion. It sets device health to Unhealthy in addEndPoint, which is called from Register. This might look confusing. It looks like we make new endpoint unhealthy when we register new resource.

My fix synchronises device manager and endpoint health exactly when resource is set to unhealthy state. The code is covered by mutex, so I don't see w

[2018-04-25 10:28] shyamjvs opened #63134 "Almost all GCE jobs failing on CI!"
Since yesterday evening PST, most of our GCE jobs are broken (@krzysied noticed this for our scalability jobs):
See - https://k8s-testgrid.appspot.com/google-gce (almost entire GCE suite)

The problem seems to be that "cluster up" is failing and the apiserver does not even seem to be starting from the [master logs](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/24582/ar

[2018-04-25 10:28] bart0sh commented on #62773
@vikaschoudhary16

I tested my fix before posting here. It worked.

As for your comment - devices are copied from old to new endpoint with the old state: https://github.com/kubernetes/kubernetes/blame/5514a1f4dd60b35b4b9d4915744ec65aab40938f/pkg/kubelet/cm/devicemanager/manager.go#L341 and then passed to newEndpointImpl as existingDevs variable.

[2018-04-25 10:29] shyamjvs commented on #63134
It seems to be broken across the following diff:

- https://github.com/kubernetes/kubernetes/compare/b2ab90123...5b0df3656 (k8s)
- https://github.com/kubernetes/test-infra/compare/384aa2cda...fbe5016e0 (test-infra)

The test-infra one change seems very unlikely to break. From the k8s ones, I suspect it may be this one - https://github.com/kubernetes/kubernetes/pull/63015 (though I don't have a str

[2018-04-25 10:39] r0bj opened #63135 "Job is continuously creating failed pods, not respecting backoffLimit parameter"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Job is continuously creating failed pods.
It's not respecting `backoffLimit` parameter which should prevent of creating too many failed pods.

**What you expected to happen**:
Job creates only limited number (defined in `backoffLimit`) of failed pods and finish itself with failed status.

**How to reproduce it (as minimal

[2018-04-25 10:39] r0bj commented on #63135
/sig apps

[2018-04-25 10:41] adelton commented on #61474
I've filed https://bugzilla.redhat.com/show_bug.cgi?id=1571736 now.

[2018-04-25 10:44] adelton commented on #61474
Which interaction do you have in mind? Starting the Kubernetes cluster, or running the pod? Even with that version, running the pod still fails with

[code]

[2018-04-25 10:45] adelton commented on #61474
This is backporting into which rpm? `kubernetes`? `docker`? Have you got a link to a scratch build?

[2018-04-25 10:51] shyamjvs commented on #63134
Thanks to @dims for pointing that the problem is with this line - https://github.com/kubernetes/kubernetes/commit/ae73bed1d0b9a299b06fc762d513b9b734ea4ce7#diff-6e3b476b9225d1213dc6ad13e453fc16R1326
As that's causing the master configuration script to fail with:

[code]

Without looking deeper, I'm going to revert the PR and let @mikedanese fix it.
Also I'm surprised why our gce presubmit didn't ca

[2018-04-25 10:51] adelton commented on #61474
@filbranden, sorry for not being able to help with the review at the moment, currently I don't have the capacity to untangle which pull request fixes which issue and how it relates to the test results I can see internally.

My running theory is that https://bugzilla.redhat.com/show_bug.cgi?id=1571736 is a blocker to move forward on Fedora rawhide (which has systemd 238). Is that correct? Is that t

[2018-04-25 10:58] zdzichu commented on #61474
@adelton Starting the Kubernetes, as this very issue is about `Failed to start ContainerManager Delegation not available for unit type`. Running the pod should be in another issue.

[2018-04-25 11:12] vikaschoudhary16 commented on #62773
My guess is that you might not have hit the race condition in your local testing. If devices are marked unhealthy from within goroutine, like you suggested, this will race against the thread which will invoke `ListAndWatch` for the new endpoint. And if first thread got late in marking devices unhealthy, callback from the endpoint.go will not be invoked.

[2018-04-25 11:17] #62217 closed

[2018-04-25 11:29] #57753 closed

[2018-04-25 11:30] SuperMarioo commented on #53059
I'm getting the same issue on  "Multi-Attach error" also on Azure, in v1.9.6 .

[2018-04-25 11:41] paolasoto88 commented on #58792
Hi all,

is this problem solved?? I have different set-up (running a local cluster instead of GKE) but with the same NFS configuration. I obtain the same error and it is not solved by specifying the internal DNS service name.

Any help would indeed very appreciated.

Thanks

[2018-04-25 11:41] hyunsun commented on #55421
same error logs with cronjob
[code]
[code]

[2018-04-25 11:48] andyzhangx commented on #53059
hi @SuperMarioo, this issue `"Multi-Attach error"  on Azure`  is fixed in v1.9.7, PR: https://github.com/kubernetes/kubernetes/pull/62467
Pls follow below link to mitigate:
https://github.com/andyzhangx/demo/blob/master/issues/azuredisk-issues.md#5-azure-disk-pvc-multi-attach-error-makes-disk-mount-very-slow-or-mount-failure-forever

[2018-04-25 12:16] adelton commented on #61474
Ah, ok, thanks. So with `systemd-238-7.fc29.1.x86_64`, it is no longer necessary to use the https://github.com/kubernetes/kubernetes/pull/61926 / https://github.com/filbranden/kubernetes/tree/cgroupdriver10 to make the cluster start work.

[2018-04-25 12:40] shyamjvs commented on #62064
Running against 121 confirmed that it's a bad one:

[code]

And bisecting at df3d8bcba6 in b/w 120 and 121 seems to be good:

[code]

This is the current diff - https://github.com/kubernetes/kubernetes/compare/df3d8bcba6ce98dec27c12e5e787bfc3b0bba60d...17d69c296eb75002a06b4ea0d8fe8c484eb90bff
I have suspicion on my etcd-revert to 3.1.11 (https://github.com/kubernetes/kubernetes/pull/60891), so I'm

[2018-04-25 12:56] wojtek-t commented on #62064
If you believe in that diff, there isn't anything else that may caused regression other than your PR...

[2018-04-25 13:01] shyamjvs commented on #62064
That's true. But I want to ensure that I don't get a good run flakily (as that might mean I missed bad commits earlier in the commit history while bisecting by chance).

[2018-04-25 13:12] mkurylec commented on #62912
Hi @kubernetes/sig-architecture-feature-requests team:

Hope to find you well :)

We are in the official process of learning/adding more conformance tests to the platform. We picked this api group to begin with, and are looking for advice and feedback in order to build relevant and healthy testcases.

This [namespaces wip testplan](https://docs.google.com/spreadsheets/d/10JjhXSpZE1qhREDd7lphdxInpp

[2018-04-25 13:14] ronakpandya7 commented on #63128
Issue has been solved :)

[2018-04-25 13:14] ronakpandya7 commented on #63128
/close

[2018-04-25 13:14] #63128 closed

[2018-04-25 13:16] szuecs commented on #51135
@spiffxp we run clusters already with 1.9.4, no real change to my comment  from 2018 Mar 19.
Right now we have to advice all that run applications with low latency requirements without CPU limits set, which is an issue for safety of the clusters we provide to our feature teams. Thanks for commenting!

[2018-04-25 13:29] #63134 closed

[2018-04-25 13:36] szuecs commented on #25485
@chenqz1987 in skipper you will have to create multiple ingress definitions, which will create different routes. You can use `Predicates` to change route matching, such that you can for example select different pattern matching by Method(), Path(), Cookie(), Query(), .., but skipper is quite rich in these in easy extensible, too.

In your case you want to use `Header("Foo", "bar")` or `HeaderRegex

[2018-04-25 13:36] DonMartin76 commented on #46421
I have another issue with the Azure Disks, and this one is bothering me quite some: We are trying to do an update to 1.9.7 (fresh cluster, using acs-engine 0.16.0), and we are getting the following error message (`kubectl describe pvc`) when trying to dynamically allocate a PV:

[code]

Now, the really weird thing is that this storage account does exist, but *in a different resource group*. From a

[2018-04-25 13:39] mikedanese commented on #63134
Thanks!

[2018-04-25 13:51] andrewsykim commented on #61921
@micahhausler thanks for the comprehensive update! Would you be able to join the cloud provider WG meeting today again so we can hash out some final details? I think we're close to a workig solution :).

[2018-04-25 14:05] nak3 opened #63145 "Completion does not work for some resources like apiservice, clusterrole, resourcequota, etc"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

completion does not support following resources:

[code]

**What you expected to happen**:

[code]

completes above resources.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

- `apiservice`,`resourcequota` and `clusterrole` are used often and stressful with

[2018-04-25 14:09] nak3 commented on #63145
@kubernetes/sig-cli-bugs

[2018-04-25 14:12] andyzhangx commented on #46421
@DonMartin76 It's quite a different issue. What's your original version before upgrade? And could you help collect controller-manager logs on master: https://github.com/andyzhangx/Demo/tree/master/debug#q-get-controller-manager-logs-on-master? Thanks.

[2018-04-25 14:13] sykpour commented on #59044
can not solve it

[2018-04-25 14:15] #55100 closed

[2018-04-25 14:16] feiskyer commented on #58759
@r7vme That's because we are enabling Azure load balancer [floating ip](https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-multivip-overview) feature.

I think this could be closed now.

/close

[2018-04-25 14:16] #58759 closed

[2018-04-25 14:23] oivindoh opened #63147 "Improve Pod event when CIFS mount fails because the network name is unknown"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Attempted to mount an AzureFile share "data" in storageaccount "storageaccount" as a volume in a Pod. The share "data" did not exist at the time because my attention to detail is apparently a bit lacking.

Volume unsurprisingly (in hindsight) does not get mounted, with the following event (which makes me scratch my he

[2018-04-25 14:31] liggitt commented on #63104
that takes whatever the object coming from etcd is, sets resourceVersion=10, and foo=bar, then tries to store it. that lets you set the resourceVersion=10 precondition

[2018-04-25 14:32] andyzhangx commented on #46421
@DonMartin76 this bug only exists in blob based VM in v1.8.x and v1.9.x, so if you specify `ManagedDisks` when creating k8s cluster, it won't have this issue.
[code]

[2018-04-25 14:33] msau42 commented on #63126
cc @jingxu97

[2018-04-25 14:37] wojtek-t commented on #63104
aah ok - I forgot that that object with rv=10 is effectively a precondition on that version.
Thanks for explanation.

[2018-04-25 14:40] oivindoh commented on #63147
/sig storage

[2018-04-25 14:49] jangrewe commented on #62382
We just updated to 1.10 and seem to be affected by this, too.

[2018-04-25 14:50] RenaudWasTaken commented on #62773
@vikaschoudhary16 See my comment son your PR #63118 :

 Unhealthy state if the endpoint was lost)

[2018-04-25 15:55] micahhausler commented on #61921
I'll be there!

[2018-04-25 16:04] wangzhen127 commented on #63113
Clearly I didn't really understand what LAST LOCAL mean before... This works! Thanks!

[2018-04-25 16:04] #63113 closed

[2018-04-25 16:05] apelisse commented on #63113
@wangzhen127 Would you mind looking at the help one more time and tell me what could have been improved? Thanks!

[2018-04-25 16:06] wangzhen127 commented on #63117
Right. I am using a locally built version: v1.10.0-alpha.1.5119 (almost HEAD) with #61227

[2018-04-25 16:08] wangzhen127 commented on #63117
And is this only related to MERGED? I got the same error when running:
```kubectl alpha diff -f dummy-list.yaml LAST LOCAL```

[2018-04-25 16:10] apelisse commented on #63117
Oh that's good to know, thank you!

[2018-04-25 16:14] wangzhen127 commented on #63113
Probably include definitions of the versions. I didn't understand what those versions mean before, so I ignored those... Then I found https://goo.gl/UVsM6A and realize those versions are pretty important. The 2nd paragraph in that doc that explains different versions are very useful.

[2018-04-25 16:16] apelisse commented on #63113
Cool thanks, I appreciate the feedback. There is a ton of things to do wrt doc. I'll try to take some time to address that!

[2018-04-25 16:38] lcortess commented on #61076
Hi guys I think this is still happening, I am using kubernetes with google cloud and I've updated to 1.9.6-gke.1 and I got this problem, the solution was the downgrade to 1.9.3-gke.0 :s

[2018-04-25 16:47] shyamjvs commented on #62064
Confirmed it's my etcd change:

[code]

From an initial thought it seems to be like there's a variance in latencies that was introduced when we moved from 3.2.16 -> 3.1.11.
Based on all this I feel we should try to understand what exactly is happening with different etcd versions (i.e run density test (probably multiple times) against HEAD with each etcd version that's doubtful).

[2018-04-25 16:49] novaterata opened #63155 "Azure DNS label mismatch leads to endless failed attempts to ensure load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Ensuring Load Balancer times out and repeats endlessly

**What you expected to happen**:

And error of some kind that will prevent helm from waiting until timeout

**How to reproduce it (as minimally and precisely as possible)**:

Create an azure cluster with `--dns-label-prefix foo`

Create a kubernetes deployment with

[2018-04-25 16:52] msau42 opened #63156 "gce pd WaitForAttach never returned"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Encountered a strange test failure, where WaitForAttach never returned

Test logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63045/pull-kubernetes-e2e-gce/32404/

The volume got successfully attached to the node:

[code]

Kubelet logs show it detected the attached volume, h

[2018-04-25 16:56] msau42 commented on #61076
@lcortess can you paste your Pod spec?

[2018-04-25 17:01] liggitt commented on #58414
SMP requirement for patch is removed by https://github.com/kubernetes/kubernetes/pull/63146

GC reliance on SMP should be tracked/resolved in https://github.com/kubernetes/kubernetes/issues/56348

agree with @lavalamp that we don't want to extend SMP usage to CRD

/close

[2018-04-25 17:01] #58414 closed

[2018-04-25 17:07] kevinsimard commented on #30861
Spent a day investigating this issue, just found out that my secret was not properly base64 encoded. +1 for this issue 😄

[2018-04-25 17:24] AishSundar commented on #63024
I am still seeing this to be our top flake
* http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1
* TestGrid
    * [pull-kubernetes-e2e-kops-aws](https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kops-aws)
    * [sig-release-master-blocking#aws](https://k8s-testgrid.appspot.com/sig-release-master-blocking#aws)
* Triage
    * [pull-kubernetes-e2e-kops-aws]

[2018-04-25 17:29] shyamjvs commented on #62267
My PR linked above made the presubmit much greener now (see - https://github.com/kubernetes/test-infra/issues/7673#issuecomment-383930825)
If you're counting the recent surge of failures that happened in the last one day, it's mostly due to https://github.com/kubernetes/kubernetes/issues/63134 (which affected all jobs, not just this one). It's restoring now after the fix is in.

In general, could

[2018-04-25 17:30] AishSundar commented on #63024
/sig aws
@kubernetes/sig-aws-misc

[2018-04-25 17:33] nckturner commented on #61921
Summary of the conversation in WG Cloud Provider:

- Fix AWS cloud provider to only report 1 Address of each type by default (@micahhausler)
- Modify kubelet to allow the reporting ExternalDNS, ExternalIP, InternalDNS when `--node-ip` is set.

[2018-04-25 17:48] micahhausler opened #63158 "Kubelet doesn't report ExternalIP/DNS with --node-ip"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using the `--node-ip` flag on the kubelet, the node's `.status.addresses` list no longer reports `ExternalDNS`, `InternalDNS`, `ExternalIP` addresses.

**What you expected to happen**:

That I can explicitly set `--node-ip` to an IP, but the other addresses will still show up.

**How to reproduce it (as minimally an

[2018-04-25 17:52] lcortess commented on #61076
Hi @msau42 this my pod spec

[code]

[2018-04-25 17:54] micahhausler commented on #61921
Created #63158 around the --node-ip issue

[2018-04-25 17:59] msau42 commented on #61076
Ah, @lcortess I think you are hitting this issue with read only volumes: https://github.com/kubernetes/kubernetes/issues/62752

But actually, after 1.9.4, all secret volumes are mounted read only, so you don't need to explicitly specify the readOnly flag for secret volumes.

[2018-04-25 18:14] hjacobs commented on #43743
/remove-lifecycle rotten

This topic is too important to just become "stale".

Quote from [Kubernetes Application survey](https://docs.google.com/spreadsheets/d/12ilRCly2eHKPuicv1P_BD6z__PXAqpiaR-tDYe2eudE/edit#gid=840936477):

I wish that more kubernetes developers would spend more time running production kubernetes clusters. It is not an easy task to keep up with the rapid pace of change.

[2018-04-25 18:30] AishSundar commented on #62267
@shyamjvs The metrics are gathered and reported via http://velodrome.k8s.io/dashboard/db/bigquery-metrics?orgId=1

Details on the metrics collected are [here](https://github.com/kubernetes/test-infra/tree/master/metrics). In general we have the following metrics
* [daily](http://storage.googleapis.com/k8s-metrics/flakes-daily-latest.json) flake data from the previous day to populate Velodrome
* [f

[2018-04-25 18:30] djsly commented on #41850
We are seeing the same behavior.

Yesterday, we lost 10 nodes. The only info I have right now from kubelet is this line (with log level set to 4)

[code]

I'm not adding extra logging to kubelet since the azure autorest error getting swallowed...

This will help with my root cause, but it doesn't explain why after 1 hour the node are still not back to Healthy and the controller-manager marks them

[2018-04-25 18:32] balajismaniam commented on #63018
@discordianfish Can you share more information on this? Deployment manifest, platform details, frequency of these errors?

[2018-04-25 18:32] saad-ali commented on #63156
Weird. `MountVolume` should not start unless `WaitForAttach` returns without error.

But it does appear to be triggered multiple times:
[code]

And there is no `Successfully found attached GCE PD` message indicating `WaitForAttach` completed successfully nor any message indicating it errored. Curious indeed.

[2018-04-25 18:52] ahmetb commented on #43743
I think this work requires someone to take initiative and drive the work (on kubernetes/website repo).

The documentation now supports multiple personas ([example](https://kubernetes.io/docs/home/?path=users&persona=cluster-operator&level=foundational)) and "Cluster Admin" is one of them.

I recommend figuring out a workgroup and tracking this at kubernetes/website repository.

[2018-04-25 18:53] #63027 closed

[2018-04-25 19:00] mijdavis2 commented on #39593
Seeing this as well in 1.9.7. Annotations aren't even being propagated to services at all - I have to manually enter them in the dashboard even though they are defined in the yaml. Ended up with an internet-facing LB due to this which is incredibly annoying and scary considering the security implications.

[2018-04-25 19:38] rmohr commented on #56567
@sttts Created a POC for the second option in #63162.

[2018-04-25 19:56] #62921 closed

[2018-04-25 20:16] tanelso2 commented on #61625
I agree this would be very useful

[2018-04-25 20:17] seanknox opened #63164 "API server -> TLS bootstrapped node: x509: certificate signed by unknown authority"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Brought up a v1.10.1 control plane and nodes via TLS bootstrap tokens. The nodes are online and can run pods, but connections to the nodes from kube-apiserver fail with "x509: certificate signed by unknown authority".

[code]
I know when using the `--tls-cert-file` flag that the CA cert is supposed to be concatenated aft

[2018-04-25 20:17] seanknox commented on #63164
@kubernetes/sig-auth-bugs

[2018-04-25 20:36] seanknox commented on #63164
Yep. Here's the API config:

[code]

[2018-04-25 20:38] tnozicka opened #63166 "hack/update-staging-godeps.sh is broken"
Current master
[code]

[code]
`Unable to find image '172.17.0.1:latest' locally` - looks like the image name gets assembled differently in every phase.

/kind bug
/priority important-soon
/sig testing

[2018-04-25 20:43] liggitt commented on #63164
and this (run from the apiserver) doesn't complain about TLS errors:

[code]

[2018-04-25 20:59] seanknox commented on #63164
Ah, indeed it does complain:

[code]

Does the issue seem to be in the apiserver certs, then?

[2018-04-25 21:17] nicksardo commented on #59900
/close

Fix 1 was cherrypicked to supported versions. Service refactoring still hasn't been merged yet, but it's no longer relevant for this bug.

[2018-04-25 21:17] #59900 closed

[2018-04-25 21:33] roycaihw commented on #62404
I couldn't reproduce this problem in a 1.9 cluster
[code]

[code]

The other issue (#62402) is reproducible and belongs to sig-cli

[2018-04-25 21:44] saad-ali commented on #63156
This flake only appears to happen on `Subpath [Volume type: gcePDPVC] should support existing single file` test. It would be interesting to compare a good run with a bad run to determine if this is a real issue or  a red herring (possible logging issue).

[2018-04-25 21:52] msau42 commented on #63156
I don't think a logging issue would cause the test to fail due to Mount not happening.

I do see other gce pd tests flaking, but I haven't looked into the others to see if they're the same issue: https://k8s-testgrid.appspot.com/sig-storage#gce

[2018-04-25 22:00] overip opened #63168 "kubectl get nodes shows wrong version after kubeadm upgrade"
/sig upgrade

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After a successful k8s upgrade from 1.7.4 to 1.8.2 using kubeadm upgrade, and after manually upgrading K8s components, such as kubeadm, kubectl, and kubelet, when I run kubectl get nodes, I get the following output

NAME               STATUS    ROLES     AGE       VERSION
ip-172-31-21-104   Ready     master

[2018-04-25 22:45] vishh commented on #51135
I suspect the recently introduced CPU scheduling feature might alleviate
issues with CPU hard limiting -
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/
Can someone give this feature a shot and report back? If it works, we can
consider enabling this by default and avoiding hard limits for pods that
have integer CPU requests.

On Wed, Apr 25, 2018 at 6:18 AM, Sandor Szü

[2018-04-25 22:46] vishh commented on #51135
cc @ConnorDoyle @balajismaniam

[2018-04-25 23:06] DreadPirateShawn opened #63171 "Cronjobs fail to execute if their name is too long"
/kind bug

**What happened**:

Cronjobs were created with no errors. However, they failed to execute, with no clue in the logs. Experimentation discovered that this occurs if their name is too long -- specifically, there's a 52-character limit, since Kubernetes takes the cron name and appends `-` plus 10 auto-generated characters = 63 total = `const DNS1123LabelMaxLength int = 63` ([source code](h

[2018-04-25 23:12] PatrickLang commented on #62047
This is currently in progress, so marking
/milestone v1.11

[2018-04-25 23:16] feiskyer commented on #62047
/milestone v1.11

[2018-04-25 23:33] feiskyer commented on #62047
/status approved-for-milestone

[2018-04-25 23:42] lavalamp commented on #57964
Zeroth thought: s/SkipClusterResources/scope=[cluster|namespace|both]/g

First thought: can't you just exclude cluster scoped resources, or include only namespace scoped resources in the webhook definition?

Second thought: can a namespace selector be crafted that excludes the empty string?

[2018-04-26 00:04] vikaschoudhary16 commented on #62598
/cc @vikaschoudhary16

[2018-04-26 00:06] JackQuincy opened #63172 "segfault in controllermanager"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
controller manager crash looped with a seg fault after failing to create a load balancer for the kubernetes dashboard. The calls to create the load balancer were failing with a 400

**What you expected to happen**:
controller manager to provision the resources or to fail without a segfault and a clearer error message sayi

[2018-04-26 00:07] #62742 closed

[2018-04-26 00:11] JackQuincy commented on #63172
not sure what sig should be labeled in on this. Seems like a bug in sig-azure and whoever owns the piece getting the nil pointer/panic

[2018-04-26 00:29] nak3 opened #63173 "kubectl explain does not complete resource names"
/kind bug

**What happened**:

`kubectl explain` does not complete resource names.

[code]

does not complete resources.

**What you expected to happen**:

`kubectl explain [TAB][TAB]` completes resource names.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

Proposal patch: https://github.com/kubernetes/kubernetes/pull/63125

**Envir

[2018-04-26 01:03] vikaschoudhary16 commented on #62598
annotations on compute resources might be helpful for FPGA cases(@kad or @bart0sh can confirm), but unfortunately it is not useful for network device plugin case.

[2018-04-26 01:26] guodongx commented on #61259
I am also hitting this issue. Any update?

[2018-04-26 01:36] guodongx commented on #61259
Also is there any manual workaround for this issue?

[2018-04-26 01:45] mlbiam opened #63175 "Can not mount flex volumes in origin 3.9"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm trying to deploy a cifs flex volume (https://github.com/andyzhangx/kubernetes-drivers/blob/master/flexvolume/cifs/cifs) into Origin 3.9 on CentOS 7.  Once deployed the node didn't recognize it with the following error (on level 8):

[code]

 until it was copied from ```/usr/libexec/kubernetes/kubelet-plugins/volume/e

[2018-04-26 01:46] jhorwit2 commented on #63171
/sig apps

[2018-04-26 01:51] mlbiam commented on #63175
sorry, wrong window.  thought i was on the origin project

[2018-04-26 01:51] #63175 closed

[2018-04-26 01:52] jayunit100 commented on #63175
Are you sure this isnt simply an origin issue?

[2018-04-26 01:52] jayunit100 commented on #63175
oh oops, just closed, thanks :)!

[2018-04-26 01:55] jayunit100 commented on #62949
For a PAAS that provides the entire platform under the hood, try openshift, heroku, ...  we should close this most likely, unless your suggesting a specific README improvement?

[2018-04-26 02:09] jayunit100 commented on #63112
ISnt the whole point of the storage class to support dynamic provisioning, so that the volumes are created smartly on demand?  If so, reusing an old volume seems counterintuitive, it would be easier to just provision a new volume, w new class metadata, and copy the contents between the old -> new one.?

[2018-04-26 02:16] jayunit100 commented on #62504
iirc sandbox changed means the config map or some other part of the pods setup changed?  should we just say that "the pod configuration inputs changed" ?

[2018-04-26 04:07] adohe commented on #63087
/sub @adohe

[2018-04-26 04:17] DreadPirateShawn commented on #43495
/remove-lifecycle stale

Any update on this? Please advise.

[2018-04-26 04:44] luckyfengyong commented on #27282
It sounds like currently to mount local PV with Docker selinux enabled, user has to manually add label to local path. An example is openshift user doc https://docs.openshift.org/latest/install_config/configuring_local.html#local-volume-mounting-local-volumes.

Any concern, Kubernetes [local volume](https://kubernetes.io/docs/concepts/storage/volumes/#local) supports it automatically.

Can we /reop

[2018-04-26 05:06] shubheksha commented on #63168
/sig cli

[2018-04-26 05:12] saurabh-chordiya commented on #63064
@kubernetes/sig-storage-bug
@jsafrane

[2018-04-26 06:50] CallMeFoxie commented on #62382
Can confirm with 1.10.1

[2018-04-26 06:52] mmack commented on #60161
Same problem here... watching...

[2018-04-26 07:00] CallMeFoxie commented on #63135
Already exists in #62382

[2018-04-26 07:29] fabiand commented on #38606
/reopen

[2018-04-26 07:33] hzxuzhonghu opened #63182 "We should use simple dynamic client everywhere"
As #62913 introduced a simple dynamic client, which is easy to use. And in some test, the old ClientPool is still used, So we should change all to the simple one ASAP.

[2018-04-26 07:33] hzxuzhonghu commented on #63182
/sig api-machinery

/kind cleanup

[2018-04-26 07:33] hzxuzhonghu commented on #63182
/assign

[2018-04-26 07:34] hzxuzhonghu commented on #63182
cc @deads2k @sttts

[2018-04-26 08:02] xiaoxubeii opened #63183 "Pods on different nodes mount Ceph RBD PVC stuck on ContainerCreating"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When use ceph as storageclass, i set accessModes:  ReadOnlyMany, and create pods using the claim, only one pod would be running and the others on different nodes would get stuck on ContainerCreating. But if the pods are all on same node, it works fine.

**What you expected to happen**:
Pods on different nodes can mount ce

[2018-04-26 08:04] xiaoxubeii commented on #63183
/sig storage

[2018-04-26 08:06] JCzz opened #63184 "gRPC client, how do you use routing in Kubernetes Ingress"
Having a gRPC client, how do you use routing in Kubernetes Ingress?

My gRPC server is at this local path 10.0.1.6/hw.

It is running and listening in a Kubernetes pod and it is working internally, if I run it in a pod.
But I am now accessing it via url and ingress.

But how do I test that it actually is working with the routing without a port number?

[code]
I get this error:

[code]

[2018-04-26 08:28] yunghoy commented on #30427
Do you have any big news about the topic?

[2018-04-26 08:28] fasaxc commented on #59656
I think @song-jiang is planning to take a look at this.

[2018-04-26 08:29] #56391 closed

[2018-04-26 09:13] shubheksha commented on #63184
/kind support
/sig network

[2018-04-26 09:22] k82cn opened #63188 "apiserver panic when running integration test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Integration failed, the apiserver panic :(

It seems race condition case for `clusterroles` as follow; refer to the attachment for the detail,

[code]

[test.log](https://github.com/kubernetes/kubernetes/files/1950519/test.log)

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possib

[2018-04-26 09:30] shyamjvs commented on #62267
Thanks Aish! That makes it much clearer now what's our goal here :)

Looking at the daily flake data you referred, seems like this job dropped from top flake position to below.
It's quite green now and recovering, so let's wait for longer (like you said) to see the signal improving on weekly aggregate.

[2018-04-26 09:36] hzxuzhonghu commented on #63188
It's a timeout . Because the default timeout for non-long running connection request is 60s.

2133 Trace[1009546348]: [1m0.000345077s] [1m0.00034003s] END

[2018-04-26 09:37] hzxuzhonghu commented on #63188
panic called in staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L221

[2018-04-26 09:44] HYmian opened #63190 "No nodes are available that match all of the predicates: Insufficient ephemeral-storage"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I create a pod with `resources.requests.ephemeral-storage`
then it can't be scheduled and pod stay in `pending` state
with warnning: `No nodes are available that match all of the predicates: Insufficient ephemeral-storage (2), PodToleratesNodeTaints (3)`

**What you expected to happen**:
pod be `Running` state

**How to re

[2018-04-26 09:44] HYmian commented on #63190
/sig Scheduling
/sig Storage

[2018-04-26 10:02] vinodhbasavani commented on #59376
I am also facing the same issue with kubernetes 1.8x version where i am using ECR as container registry and my cluster is running using kops on aws

[2018-04-26 10:31] #53936 closed

[2018-04-26 10:44] woopstar opened #63192 "Health and readiness checks uses https on port 80, even though http is defined as scheme."
/kind bug

**What happened**:
Health and readiness checks uses https on port 80.

Describing the deployment gives me:

[code]

Health check is defined as:

[code]

As seen above, the check fails because it uses `https`. If we simply just change the port to something non 80, like 8080, then it starts using http as protocol.

**What you expected to happen**:

Use the http protocol on port 80 if expl

[2018-04-26 10:48] woopstar commented on #63192
/sig node