[2017-04-10 23:55] yujuhong commented on #44242
In https://k8s-testgrid.appspot.com/release-1.6-all#gci-gke-reboot-1.6, every kubelet in the tests were complaining about not getting the pod CIDR assigned:
[code]
Someone should check the node controller logs on the master node. Those logs are not uploaded since these are GKE clusters. I don't think @derekwaynecarr can help debug this.

[2017-04-11 00:00] mikedanese commented on #44242
maybe same issue as https://github.com/kubernetes/kubernetes/issues/44243

[2017-04-11 00:03] nikhiljindal opened #44304 "federation: use cascading deletion in underlying clusters"
Problem: When users sends a cascading deletion request to federation i.e they set orphanDependents=false, then federation should also set orphanDependents=false, when it sends the request to underlying clusters.

[2017-04-11 00:03] nikhiljindal commented on #44304
Fixed by
Fixed by https://github.com/kubernetes/kubernetes/pull/44108

[2017-04-11 00:04] yujuhong commented on #44242
That sounds very likely.

[2017-04-11 00:09] metral opened #44305 "kubectl apply does not work with creating custom TPR object"
**Kubernetes version** (use `kubectl version`): 1.5.5

**Environment**:
- **Cloud provider or hardware configuration**: Tectonic + AWS
- **OS** (e.g. from /etc/os-release): CoreOS Stable 1298.7.0
- **Kernel** (e.g. `uname -a`): 4.9.16-coreos-r1

**What happened**: `kubectl apply` against an instantiation of a custom TPR does not work. Attemping to do so reports:

`error: unable to decode "/tmp/cro

[2017-04-11 00:11] madhusudancs commented on #42761
Copying my comments with context from PR #44209.

There are pros and cons. There are the advantages that you mention here. But on the other hand

1. Every user, even the ones who don't care about these flags, has to sift through the ton of documentation that is generated for these flags.
2. Each such flag has to be dealt on a case-by-case basis. If we miss a flag in a release, there will be a wind

[2017-04-11 00:18] Random-Liu commented on #44242
Not sure whether it is the same issue. But there is also a user complaining about this https://github.com/kubernetes/kubernetes/issues/44273.

[2017-04-11 00:29] readams opened #44307 "Pods with hostNetwork=true cannot be removed (and generate errors) when using CNI"
**Kubernetes version** (use `kubectl version`):
1.6.2 built from 1.6 branch at 85b9c963272248c0b88d06664e88eb3ef1645dfb

**Environment**:
- **Cloud provider or hardware configuration**: bare metal
- **OS** (e.g. from /etc/os-release): Ubuntu xenial
- **Kernel** (e.g. `uname -a`): Linux fab7-compute-1 4.4.0-70-generic #91-Ubuntu SMP Wed Mar 22 12:47:43 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux
- **In

[2017-04-11 00:29] nicksardo commented on #43773
@ConradIrwin https://github.com/kubernetes/ingress would be a better place for this issue.  Would you mind recreating it there?

There's actually a TODO for deciding what to do in this case https://github.com/kubernetes/ingress/blob/6ed6475e87588494dd29ba5d33bac167ae8acfdd/controllers/gce/healthchecks/healthchecks.go#L71  The controller doesn't want to overwrite handmade changes. We could probably

[2017-04-11 00:37] wanghaoran1988 commented on #44127
@bsalamat Yeah, I am working on that, I cannot reproduce this on my 3 node cluster on GCE after I run really a long time, I will try the new way from today.

[2017-04-11 00:46] yujuhong commented on #44307
@freehan could you help verify if there is a bug? Thanks!

[2017-04-11 01:00] #44253 closed

[2017-04-11 01:03] rickypai commented on #43873
I'll pull the numbers and share those

[2017-04-11 01:05] marun commented on #39982
It's been in review forever, it's my fault for not following up.  I think the blocker for me is considering how cluster placement should best be indicated without the use of annotations.  I think we need to solve that before new features that depend on managing placement decisions can be safely implemented.

The semantics of how and where data is stored is foundational to any application, and I do

[2017-04-11 01:07] zouyee commented on #44198
gentle ping @kargakis
when I upgraded etcd from v3.0.6 to v3.1.0,I all have got these informations.
[code]

[2017-04-11 01:42] Musikolo opened #44308 "What is the correct pronunciation of Kubernetes in English?"
Hi guys,

This is a simple question, that for some reason, I was unable to find an answer for in the internet.

**What is the correct pronunciation of _Kubernetes_ in English?**

I think it would be nice to add it in your [README.md](https://github.com/kubernetes/kubernetes/blob/master/README.md) file too.

Thank you!

[2017-04-11 02:04] ChenLingPeng commented on #44063
Hi @thockin , in #17470 it shows that the `ip addr add` is needed in IPVS nat mode. I try the test script that skip the `ip addr add 10.9.8.7/32 dev eth0` step. It can't work. I also found that you said `We have to assign the VIP to some interface in the root NS.`

Another question, here we have containerA in hostA and containerB in hostB, now in my environment I can visit containerB in containerA

[2017-04-11 02:13] k82cn commented on #44127
@wanghaoran1988 , I think you can create a WIP PR with some instrument code to see what happen's in CI environment.

[2017-04-11 02:15] wanghaoran1988 commented on #44127
@k82cn Good suggest! Will have a try.

[2017-04-11 02:39] k82cn commented on #44127
Just a kindly reminder, please limit the re-try count; it'll increase the workload of CI environment which should avoid as much as possible :).

[2017-04-11 02:53] ualtinok commented on #33483
+ for internal only

[2017-04-11 03:29] xiangpengzhao commented on #44270
My bad. I had a bit misunderstanding when I tested OIR. The `Allocatable` field here is a static value. After we configure OIR, the OIR will also be static in `Allocatable` field.

[2017-04-11 03:29] #44270 closed

[2017-04-11 03:33] xiangpengzhao commented on #44269
@smart2003 Do you mean you can add OIR by `kubectl patch node` command? Does the command you run like this?
[code]

I cannot add OIR by this command.

[2017-04-11 03:38] StevenYCChou commented on #39984
I am interested in working on it. I started by running `make test-cmd`, and basically read codes in [hack/lib](https://github.com/kubernetes/kubernetes/tree/master/hack/lib) & [hack/make-rules](https://github.com/kubernetes/kubernetes/tree/master/hack/make-rules) .

any other suggested lines of code and files to look into?

[2017-04-11 03:46] yadzhang commented on #25418
Can K8S provide an option for updating or not updating the configuration in the container while it's running? If we update configmap, but do not want to spread the configuration to all conatainers. K8S can provide an option when create app.

[2017-04-11 03:52] MrHohn opened #44311 "kube-proxy health check still return 200 OK even if endpoints don't exist on node anymore"
One of the ESIPP e2e tests is currently broken on HEAD: https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features

Failures all follow below pattern:
- Create an OnlyLocal Loadbalancer Service
- Create a backend pod on node1
- Test only node1 responses 200 OK for health check
- Delete this backend pod and create another pod on node2
- Test only node2 responses 200 OK for health check
- node1

[2017-04-11 03:59] nikhiljindal commented on #39984
Thats great. I will recommend start by adding "replicasets" to the line pointed in the description and see what fails (whats the error).

[2017-04-11 04:01] thockin commented on #44063
On Mon, Apr 10, 2017 at 7:04 PM, Lingpeng Chen <notifications@github.com> wrote:

ipvs alone doesn't define a route to that IP, so when you access it,
it goes out the default route.  You need the client to know how to
reach the IP.  Not sure how to do it for a whole range.

I don't know what might be wrong - all the research I did was in that bug...

[2017-04-11 04:06] xiangpengzhao commented on #44271
GPU is also not shown currently. Have to determine if GPU and OIR are really needed to show for nonterminal pods.

[2017-04-11 04:18] unixwitch commented on #43540
This would be useful for GCE's Network Load Balancer, which can't do https healthchecks.

[2017-04-11 04:20] ConradIrwin commented on #43773
Thanks @nicksardo, will do!

d'oh — I guess that makes sense. I didn't even consider the possibility of making manual changes, feels like 2005 again :D.

Might be a useful way of adding storage bucket backends before that feature ships though...

[2017-04-11 04:25] #43773 closed

[2017-04-11 04:35] smart2003 commented on #44269
@xiangpengzhao I can not either. I also add the OIR via curl on the master node. While, it does not work for me on the worker node which can not access the api-server without authentication.

[2017-04-11 04:37] thockin commented on #44311
Thanks zihong.  I think I have it, simple case of insufficient testing.

On Mon, Apr 10, 2017 at 8:53 PM, Zihong Zheng <notifications@github.com>
wrote:

[2017-04-11 04:47] msavlani opened #44314 "nslookup kubernetes.default is stuck whereas nslookup kubernetes works fine"
Hi,

I am facing weird issues Kubernetes 1.5.2

Its a single 2 nodes cluster which is setup using "https://kubernetes.io/docs/getting-started-guides/centos/centos_manual_config/"

then i created skydns pods.

[root@masterhost ~]# kubectl get pods -n kube-system
NAME READY STATUS RESTARTS AGE
kube-dns-v20-jm7x7 3/3 Running 0 2h
kubernetes-dashboard-255567031-7dn4l 1/1 Running 44 11d

[root@mwhlvatd

[2017-04-11 05:20] piosz commented on #44262
There is no stable api, no guarantee that it scales and no integration with Pod Disruption Budget. Also once the proper priority/preemption is introduced we will drop support for Rescheduler without any grace period.

[2017-04-11 05:24] piosz commented on #44265
Rescheduler is a component of the same class as scheduler. As you expect to have scheduler running in your cluster out of the box also rescheduler should run there out of the box. If not this is a bug/feature request to your setup tool. We do not expect users to run rescheduler on their own. Rescheduler must run on master node and master is usually marked as unschedulable, so that it's hard for us

[2017-04-11 05:36] gyliu513 commented on #44262
I see, thanks @piosz

[2017-04-11 05:37] thockin commented on #16405
If we support docker volume plugins it will be through our flex driver (or
flex2 aka CSI when it is ready).  For now, it is not supported.

On Mon, Apr 10, 2017 at 2:26 PM, bklau <notifications@github.com> wrote:

[2017-04-11 05:41] thockin commented on #43953
Another option that has come up a couple times was to fix the parts of the
system that rely on this.  E.g. add services as local addresses in pod
netns.  I am sure it would break SOMETHING, but maybe it would be net
simpler?

On Mon, Apr 10, 2017 at 12:38 PM, Dan Williams <notifications@github.com>
wrote:

[2017-04-11 05:44] shashidharatd commented on #44283
AFAIK there is no such high level plan for federation HA in the community. Although there was a task and few members from Huawei explored this feature. federation HA across regions is inherently difficult owing to associated latencies and etcd cluster does not have good support to deploy across regions. @kshafiee request to comment on this.
Also request @quinton-hoole to shed some light on this.

[2017-04-11 05:54] gyliu513 commented on #44265
Got it, thanks @piosz

I created a PR https://github.com/kubernetes/kubernetes.github.io/pull/3315 here to clarify that the rescheduler should be enabled by default as a static pod for critical pod.

[2017-04-11 06:30] xeor commented on #38192
Making a user go through an extra step to delete her data sounds good. I imagine many newcomers being afraid of deleting the "wrong thing". This also sounds very plausible as a company policy for their internal install.

[2017-04-11 06:31] davidopp commented on #12140
@aveshagarwal offered to take a crack at this.

I think the spreading use case is the best one to start with. Kill pods on heavily utilized nodes if you think that will move them to under-utilized nodes. Of course the utilization threshold between the over-
and under- utilized nodes should be configurable. As @bgrant0607 mentioned earlier in this issue, this is useful when a machine is brought bac

[2017-04-11 06:32] wanghaoran1988 commented on #44127
@k82cn Would you mind point me how can I trigger these e2e test cases one by one? I will appreciate.

[2017-04-11 06:36] #44311 closed

[2017-04-11 06:40] davidopp commented on #42002
Any opinions on how to prioritize this? It sounds like everyone agrees it should be done, but is there a strong reason to do it for 1.7 rather than wait until 1.8?

[2017-04-11 07:30] nicky-lenaers commented on #44273
As an addition to this issue:

I spent many hours trying to find the root cause of this problem. I ended up creating a test cluster without specifying the `--machine-type` flag, which in GKE defaults to `n1-standard-1`. As I rolled out my depoyment, I noticed the errors disappeared.

In the above issue description, I specified the `--machine-type=f1-micro`, so my belief is that is has to do with i

[2017-04-11 07:39] #40799 closed

[2017-04-11 07:56] piosz commented on #44265
Thx

[2017-04-11 07:58] klausenbusk commented on #43632
Your proposal can definitely work for my use-case, although I would love if I could configure it from a init container, but this could work. Keep up the good work :)

[2017-04-11 08:24] wbtxd2004 opened #44317 "cqlsh command is not work"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**Yes**

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

cqlsh

python

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

[2017-04-11 08:29] k82cn commented on #44127
I think you can find the command from some failed PRs :).

Do you have any clue here? I suggest not to debug by CI environment.

[2017-04-11 08:54] wanghaoran1988 commented on #44127
@k82cn No, I'd prefer to revert that commit, and instead , use changing  policy configmap for the test, but I need our e2e testing cluster scheduler using configMap by default.

[2017-04-11 09:10] Finsico opened #44319 "how to configure a node selector when i create service(LoadBalancer) of cloud=aws"
i can promise a selector in some nodes(deployment has nodeSelector).
so ,why include all nodes when i create load blancer ?
and,how to slove this issue ?

[2017-04-11 09:13] dynek commented on #41580
Witnessing a similar issue on 1.5.2 where pod suddenly switch to init even though they are running and serving traffic as expected.

[2017-04-11 09:15] rainder commented on #34982
same issue. can't get mongodb running when using --keyFile arg

[2017-04-11 09:54] k8s-merge-robot opened #44321 "[k8s.io] HostPath should support r/w [Volume] {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet/3097/
Failed: [k8s.io] HostPath should support r/w [Volume] {E2eNode Suite}

[code]

Previous issues for this test: #40811

[2017-04-11 10:04] jacekn opened #44322 "nrpe hook failures in kubernetes-worker charm"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): "nrpe"

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

*

[2017-04-11 10:34] gajju26 opened #44325 "e2e tests are failing on s390x"
**Is this a request for help?**: yes

**What keywords did you search in Kubernetes issues before filing this one?** :  How to run e2e tests on a platform other than AMD64

---

**Kubernetes version** (use `kubectl version`): 1.6.1

**Environment**:
- **Cloud provider or hardware configuration**: NA
- **OS** (e.g. from /etc/os-release):  "Ubuntu" "16.04.1 LTS (Xenial Xerus)"
- **Kernel** (e.g. `una

[2017-04-11 11:45] nikinath commented on #25340
I believe this issue can be closed now. Watch is working fine for TPRs.

Create the TPR and the TPR object.

[code]
Check that watch works.

[code]
Also works on browser at: http://localhost:8080/apis/nerdalize.com/v1alpha1/namespaces/default/workflows?watch=true

kubectl version

[code]

[2017-04-11 11:46] sttts commented on #25340
@borismattijssen closing. If you still see this issue, please reopen.

[2017-04-11 11:46] #25340 closed

[2017-04-11 11:47] andyxning opened #44328 "Overriding Total Cpu capacity. I.e., support cpu overcommit"
Currently, it seems that kubelet get cpu and memory capacity programtically and there is no way to override the it. This is difficult when we need to customize the cpu and memory capacity to do some test.

[2017-04-11 11:55] mikkeloscar opened #44329 "kube-apiserver metrics apiserver_request_latencies_summary NaN after upgrading to 1.6.1"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): metrics

---

**BUG REPORT**:

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS** (e.g. from /etc/os-release):
[code]
- **Kernel** (e.g. `uname -a`): `Linux ip-172-31-1-1

[2017-04-11 12:00] mc0e commented on #28280
Given what @ncdc says, it seems unlikely that a fix would be performed in kubernetes, so perhaps this should close?

[2017-04-11 12:10] JorritSalverda opened #44330 "GKE 1.6 kubelet /metrics endpoint unauthorized over https"
**BUG REPORT**

After upgrading a GKE cluster from 1.5.6 to 1.6.0 Prometheus stopped to scrape the node /metrics endpoint due to a 401 unauthorized error.

This is likely due to RBAC being enabled. In order to give Prometheus access to the node metrics I added the following ClusterRole and ClusterRoleBinding and created a dedicated service account that is used by the pod.

[code]

Although the mou

[2017-04-11 12:12] xiangpengzhao opened #44331 "Should validate container resource name with format "foo/bar""
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernete

[2017-04-11 12:12] ufernis commented on #23799
I have a quick workaround to fix this :

1) Change the kubernetes apiserver.yaml to reflect the following :

from : thirdpartyresources=true
to : thirdpartyresources=false

2) Then restart 'kubelet' service OR reboot the K8S Master server
systemctl restart kubelet

3) Revert back the changes done to kube-apiserver.yaml
from : thirdpartyresources=false
to : thirdpartyresources=true

4) Verify wheth

[2017-04-11 12:22] tarvip commented on #41916
@jsravn You could use something like this: https://objectpartners.com/2015/07/07/aws-tricks-updating-route53-dns-for-autoscalinggroup-using-lambda/
I have tested this approach (although not with kubernetes) and it seems to work fine.

[2017-04-11 12:32] kargakis commented on #44198
@zouyee I am not sure about these storage errors. You may want to ask @wojtek-t or somebody that maintains the storage layer in Kube and/or etcd.

[2017-04-11 12:43] Demonsthere opened #44334 "Can't access services in k8s 1.6.1"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
yes, but also a possible bug

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
nslookup, service

**Is this a BUG REPORT or FEATURE REQUES

[2017-04-11 12:49] abdasgupta commented on #43173
Added a PR regarding this : https://github.com/kubernetes/kubernetes/pull/44333

@thockin will you help me to test this? I would remove "[WIP]" once I am satisfied with the PR. Would like to see comments on how to improve this PR.

[2017-04-11 13:08] jeroenjacobs1205 opened #44335 "clear up confusion between labels and taints"
I don't quite understand the difference between taints and labels in k8s. For example: the kubeadm says:

however, when I do a "kubectl describe node <master>", I don't see that taint

So taints is the same as labels, or not?

This is the default master node setup by kubeadm btw, running 1.6.1

[2017-04-11 13:15] deads2k commented on #12732
Off the cuff, I think something like this works.  It lets the server come up and separately bring up clients.  The server doesn't have to restart on new clients, no modification is needed after creation, and the system eventually settles.

[code]

[2017-04-11 13:18] iordaniordanov commented on #29540
Having the same issue here. So what's the sollution? @dchen1107

[2017-04-11 13:42] #44268 closed

[2017-04-11 13:43] zchef2k commented on #20466
Pardon the late response here, but can someone offer up some definitions for PVCs at the subpath level? Conceptually this makes sense and I get it. I'm struggling though, practically. Any help is greatly appreciated.

[2017-04-11 14:04] marun commented on #42761
@madhusudancs I think those justifications are largely hypothetical, and that following the principle of YAGNI would be a more likely path to usable software.

[2017-04-11 14:18] derekwaynecarr commented on #44242
I would have been happy to help if I could help ;-)

[2017-04-11 14:34] Stono opened #44339 "scheduler.alpha.kubernetes.io/affinity annotation not working since 1.6.0"
**Environment**:
- GCP GKE

**What happened**:
On 1.5.6 I was using the following annotation to control the zone a particular app spun up in, because of an external gcp persistent disk in the europe-west1-c zone

[code]

However it no longer seems to be working:
[code]

**What you expected to happen**:
The node should have come up in europe-west1-c

[2017-04-11 14:43] tvansteenburgh commented on #44322
I think the problem is this line in kubernetes_worker.py:608:

[code]

I don't think these service names are allowed to have '.' characters.

[2017-04-11 14:49] pwittrock commented on #38637
AFAIK, there are no Q2 plans for this.  The MVP suggested in #39434 is to use the swagger on the server side, which I expect you would also want to use OpenApi for.

We want to get the merge key tags out of open api in Q2, so we may be able to take a pass at the validation at the same time.

[2017-04-11 14:57] #42569 closed

[2017-04-11 15:02] pwittrock commented on #44123
@liggitt

@ymqytw and I talked a bit about how to maintain version compatibility yesterday and are going to write a doc and I would love to get your feedback on (once published).  One consequence of maintaining compatibility with unversioned APIs is that it limits the ways that we can change the API and results in a less aesthetically pleasing protocol definition.  Despite that, I agree with you t

[2017-04-11 15:03] pwittrock commented on #44111
Marking this as closed per @liggitt 's comments.

[2017-04-11 15:03] #44111 closed

[2017-04-11 15:11] pwittrock commented on #29307
@shahidhk I don't think we should automatically delete the deployment if creating the service fails.  We should update the error message when creating a service fails (as part of run) to say the deployment was created, but the service creation failed.

[2017-04-11 15:23] jamstar commented on #42413
this also worked for me. i was getting a "curl: (7) Failed connect to IP:Port; Connection timed out" when attempting to troubleshoot my service from https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ specifically the Is kube-proxy proxying portion.

[2017-04-11 15:30] timothysc commented on #12140
Ideally I would hope we fork a repo for this, putting this in contrib is a bad move imo.

[2017-04-11 15:34] JorritSalverda opened #44340 "Kubectl logs -f keeps blocking even when tailed pod stops since 1.6 upgrade"
**BUG REPORT**

In order to tail logs from pods generated by a job until completion I run the following command:

`kubectl logs podname -f`

This automatically stopped tailing when the pod stopped. Since upgrading our GKE server this hangs indefinitely. It's something on the cluster side, because using the same 1.6.0 version of kubectl against a 1.5.6 GKE cluster stops as soon as the job is done.

[2017-04-11 15:39] JorritSalverda commented on #44340
It doesn't stop until 1h45m later.

[2017-04-11 15:45] JorritSalverda commented on #44339
Pod affinity has turned stable, so is no longer set via annotations. See https://kubernetes.io/docs/concepts/configuration/assign-pod-node/

You can set it via something like:

[code]

Be aware that you have to upgrade _kubectl_ to version 1.6+ to be able to use this.

[2017-04-11 15:52] jayunit100 opened #44342 "Scheduler test improvements and forensics."
*Problem*

Two related problems of scheduler test coverage and forensics are described in this issue.

1) Scheduling decisions statistics and forensics are either
- summarized in events or
- grepped from logs.

2) There is no way to 'what-if' test various scheduling scenarios (i.e. X predicate set, Y priority set, on Z # of nodes for A # of pods).

*Current solution*

Obviously (1) and (2) are com

[2017-04-11 16:31] copejon commented on #43977
After comparing the relevant passing and failing test logs in the Flaky suite, this appears to just be a timing issue.

`deletePDWithRetry` doesn't give the PD enough time to detach (5 min timeout).  Adding `waitForPDDetach` above the delete allows a 10 minute detach window before deletion.  This is the pattern we've used in other GCEPD tests and have yet to see similar flakes.

I'll have a PR up

[2017-04-11 16:49] tonylambiris commented on #41428
This issue seen with kubernetes 1.6.2-beta.0 as well:
[code]
I sent a log message using logger(1):
[code]
Issuing a full restart on all kubernetes services solved the issue. All services running out of systemd using mostly the vanilla systemd files k8s ships with.

[2017-04-11 16:57] kargakis commented on #41428
@kubernetes/sig-scheduling-bugs

[2017-04-11 16:58] #44242 closed

[2017-04-11 17:00] mikedanese commented on #12732
Also checkout https://github.com/kelseyhightower/certificate-init-container

[2017-04-11 17:00] kargakis commented on #44335
@kubernetes/sig-cli-misc for the missing taints from `kubectl describe`

@jeroenjacobs1205 taints is an actual field in the node spec as opposed to label which is included in the metadata of every Kube object. Read more about taints in https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#taints-and-tolerations-beta-feature

[2017-04-11 17:04] timothysc commented on #41428
Leader election code will do this on purpose b/c it is no longer the leader, this is not a bug.

[2017-04-11 17:05] kargakis commented on #44308
@kubernetes/sig-contributor-experience-misc

[2017-04-11 17:09] jessfraz commented on #44308
I'm going to take a swing at this and say "koob-er-net-ees"

[2017-04-11 17:10] idvoretskyi commented on #44308
https://twitter.com/francesc/status/487412202932936704?lang=en

[2017-04-11 17:11] jessfraz commented on #44308
Winner is @campoy :P

[2017-04-11 17:12] pigmej commented on #44308
so according to that twitt it's `koo-ber-nay'-tace` ;-)

[2017-04-11 17:38] grosser opened #44347 "make logs -t and alias for logs --tail ... and allow no argument"
Most of the time I use logs I use `--tail 1 -f` to see what is going on now and not get spammed by everything that ever happened ... it would be great to not have to spell that out and also have a default argument of 10 so I could do: `kubectl logs foo -tf`

[2017-04-11 17:39] campoy commented on #44308
You can even hear a recording [here](http://ht.salemweb.net/bst/lexicons/greek-mp3/2942g.mp3)

[2017-04-11 17:42] readams opened #44348 "'object does not implement the List interfaces' when logging readiness probe failure"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version**

[2017-04-11 17:46] #40839 closed

[2017-04-11 17:49] RenaudWasTaken opened #44349 "Broken node affinity"
**Is this a BUG REPORT or FEATURE REQUEST?**: Bug report

**What happened**:
TLDR: Node affinity is broken for more than one requirement

- git clone https://github.com/kubernetes/kubernetes.git
- cd ./kubernetes && ./hack/local-up-cluster.sh
- ./cluster/kubectl.sh label nodes 127.0.0.1 foo=5
- ./cluster/kubectl.sh label nodes 127.0.0.1 bar=6
- cat ./pod.yml
[code]
5) ./cluster/kubectl.sh create -

[2017-04-11 18:00] perotinus commented on #42761
@madhusudancs @nikhiljindal I'm not sure that a generic mechanism for passing parameters and having top-level arguments to kubefed are mutually exclusive. There's benefit to making common things easier to do, and still providing an escape hatch for other things.

That said, I still think the overrides passed as a flag mechanism is not a good one, and we should replace it ASAP.

[2017-04-11 18:03] pmichali opened #44351 "Provide IPv6 support for coredns ResourceRecordSet"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): coredns

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

[2017-04-11 18:05] yujuhong commented on #44330
ref: #11816

[2017-04-11 18:31] nikhiljindal commented on #39982
I think this design is not really tied to a particular way of specifying the subset of clusters where the resource should go to. Its using `cluster-selector` annotation right now, but can be changed to use any other way that we come up in the future. And the details of that will be opaque to the user. User will specify their policy and the system will ensure that those policies are applied (system

[2017-04-11 18:46] bsalamat commented on #44127
@wanghaoran1988 Given the frequency of failures, especially [`[k8s.io] SchedulerPriorities [Serial] Pods created by ReplicationController should spread to different node`](https://k8s-testgrid.appspot.com/google-gce#gci-gce-serial), you should be able to reproduce the failure in [e2e tests](https://github.com/kubernetes/community/blob/master/contributors/devel/e2e-tests.md). You need to set the en

[2017-04-11 18:48] madhusudancs opened #44354 "ci-kubernetes-e2e-gce-federation-serial suite is broken"
This suite is broken just because of one test - `[k8s.io] Federation apiserver [Feature:Federation] Cluster objects [Serial] should be created and deleted successfully`. This is broken because we join the clusters to federation while bringing up e2e federation control plane and we try to repeat the same operation in the test.

The simplest fix is to use a different name for the cluster object.

[2017-04-11 18:49] cjwagner commented on #27796
I'm having trouble satisfying the cla check for https://github.com/kubernetes/test-infra/pull/2450 .  I signed up as an employee of Google using my github account and I used the same email that I use on my commits. I received an email asking to verify my email address and since then the linuxfoundation site says that I have signed up properly.  However, my pull request still has the "cnfc-cla: no"

[2017-04-11 18:52] fejta commented on #44354
https://github.com/kubernetes/test-infra/issues/2453

[2017-04-11 18:53] jeroenjacobs1205 commented on #44335
@kargakis : My confusion originates from the fact that the kubeadm mentions it's a taint, while "describe" lists it as a label. Does that mean the kubeadm documentation is incorrect?

[2017-04-11 19:03] spxtr commented on #44232
[Hit again](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-verify/25257/)

[2017-04-11 19:06] gajus opened #44355 "mounted /var/log file link is visible but not accessible"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

* var log
* symlink
* "No such file or directory"

**Kubernetes version** (use `kub

[2017-04-11 19:12] spxtr commented on #44232
This has also failed in postsubmits, [see testgrid](https://k8s-testgrid.appspot.com/google-unit#verify-master), [failure 1](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/3848), [failure 2](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-verify-master/3944).

[2017-04-11 19:14] #44304 closed

[2017-04-11 19:17] freehan commented on #44307
https://github.com/kubernetes/kubernetes/pull/43879 should be able to fix this

[2017-04-11 19:31] spxtr commented on #44232
@kubernetes/sig-federation-bugs

[2017-04-11 19:54] frodenas commented on #42654
@ericchiang Is there any progress on this issue? Do you believe the updated packages will land in 1.7? Thanks!

[2017-04-11 20:00] vishh commented on #43856
@sjenning AFAIK, the cgroups driver is idempotent around QoS cgroup creation. Systemd driver should behave the same way.

[2017-04-11 20:08] derekwaynecarr commented on #43856
@sjenning -- yes, we should have an exist check.

[2017-04-11 20:12] mbohlool commented on #44232
@nikhiljindal

[2017-04-11 20:14] ncdc commented on #44348
cc @deads2k, not sure if this is related to your changes

[2017-04-11 20:15] perotinus commented on #39984
If you're going to take this on, you may want to see the last comment in #39986. I started debugging these tests and found one issue, but ended up moving onto other things before figuring out a good solution.

[2017-04-11 20:15] ncdc commented on #44342
@jayunit100 would https://github.com/kubernetes-incubator/cluster-capacity be useful for this?

[2017-04-11 20:15] sjenning commented on #43856
Seems like this check for the cgroup already exists
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/qos_container_manager_linux.go#L108

So something is off here.  The absence of the cgroup does not imply the absence of the transient systemd slice apparently.

[2017-04-11 20:18] deads2k commented on #44348
I don't think so.  I didn't change the identification of `ListAccessor` or `Accessor` which are being used there.

[2017-04-11 20:20] jayunit100 commented on #44342
I think the above is an example of an app that could use the generic forensics utilities.

[2017-04-11 20:21] derekwaynecarr commented on #43856
@zetaab @youngdev @rootsongjc @xialonglee -- can you let me know the version of systemd used on the machines that have the problem (i.e. rpm -qa | grep systemd)  thanks!

[2017-04-11 20:22] jayunit100 commented on #44342
cc @kubernetes/sig-scheduling-feature-requests

[2017-04-11 20:32] davidopp opened #44360 "Validation should reject empty TopologyKey when !utilfeature.DefaultFeatureGate.Enabled(features.AffinityInAnnotations)"
Validation should reject empty TopologyKey when !utilfeature.DefaultFeatureGate.Enabled(features.AffinityInAnnotations)

We overlooked this in #41195

Relevant validation section to modify is here:
https://github.com/kubernetes/kubernetes/blob/98a4c6ba7f879a6c608575291566c910c0b50ef4/pkg/api/validation/validation.go#L2222

Note that the current "allowEmptyTopologyKey" in the validation code is tot

[2017-04-11 20:37] czahedi commented on #44160
I am making the API Machinery email lists, GitHub users, etc. now.

[2017-04-11 20:38] aveshagarwal commented on #44360
@davidopp sure. will look into it soon.

[2017-04-11 20:53] aveshagarwal commented on #44349
@kubernetes/sig-scheduling-bugs

[2017-04-11 21:05] ericchiang commented on #42654
@frodenas yes this is still slated for 1.7. I'll update with the relevant PRs when I get around to drafting them up.

[2017-04-11 21:11] timothysc commented on #41143
With #41427 merged, I'm going to close this.  It would require an etcd server bump and the quorum_read hit will go away.

/cc @marun

[2017-04-11 21:11] #41143 closed

[2017-04-11 21:15] frodenas commented on #42654
Thanks for the heads up @ericchiang!

[2017-04-11 21:16] readams commented on #44307
I cherry picked the fix from #43879 to test and it does improve the situation but it looks like all pods are stuck in the terminating state not just host network pods and still are after the change.

    Apr 11 17:06:30 fab7-compute-2 kubelet[21409]: W0411 17:06:30.334637   21409 docker_sandbox.go:263] NetworkPlugin cni failed on the status hook for pod "kube-dns-3913472980-7hbvp_kube-system": CNI

[2017-04-11 21:18] madhusudancs commented on #42761
They are not mutually exclusive. But we need to be deliberate. I don't think "a flag that takes comma-separated values" qualifies to be top-level flag in kubefed.

But what makes this common? The argument here is not about common vs uncommon flags, but it is about flags that take comma separated values. They are two different things.

This was always supposed to be a medium-term solution. The long

[2017-04-11 21:33] perotinus commented on #39982
I think there are a few unknowns that I'd worry about here:
- we forge ahead with a solution that has uses some semantics that we define, and then the Kubernetes project decides on a different set of semantics for topology that are incompatible, subtly or obviously, and we now have to figure out how to adjust what we have to work with that new, generalized system.
- we forge ahead with a solution,

[2017-04-11 21:37] motomux commented on #44275
I also have this issue by upgrading from v1.5.4 to v1.6.0.
I upgraded it on GCP console.

[2017-04-11 21:42] madhusudancs commented on #44232
/assign @nikhiljindal
/unassign @madhusudancs

[2017-04-11 21:50] jayunit100 commented on #44349
cc @ravisantoshgudimetla  I've reproduced this and it will effect your current scheduler_perf work.  Can you tackle it ?

Culprit might be around here in predicates.go .

[code]

By the way note also need to udpate docs for `RequiredDuringSchedulingRequiredDuringExecution`, as its not supported but iirc in the .md files it provides it as an option.  I was thinking it might be a good positive contr

[2017-04-11 22:00] MikaelCluseau commented on #20466
@zchef2k does this helps? https://kubernetes.io/docs/concepts/storage/volumes/#using-subpath

[2017-04-11 22:08] ravisantoshgudimetla commented on #44349
@jayunit100 Sure. I will work on this.

[2017-04-11 22:10] davidopp commented on #44349
I don't think this is a bug. The API definition says `nodeSelectorTerm`'s are ORed

[code]

[2017-04-11 23:07] georginagi commented on #44308
If one wants to be true to the Greek pronunciation Kubernetes or (κυβερνήτης)  sounds like ki-ver-ni:-tis. That recording is definitely not correct but I guess the community has already embraced the koob-er-net-ees pronunciation which sounds cool as well tbh

[2017-04-11 23:22] nikhiljindal commented on #43433
Yes we do want to support RBAC with federation.

cc @kubernetes/sig-federation-feature-requests

[2017-04-11 23:42] freehan commented on #43988
Yeah. This is what I suspected. Network plugin is not specified. Hence no-op is used. Kubelet do not manage pod networking.

In this case, kubelet assumes that native docker networking is used. Hence it only tries to retrieve network status thru `docker inspect`. But in your case, it looks like docker is not aware of the network setup. Hence leaving the `invalid network status` error. Kubelet shou

[2017-04-11 23:52] nikhiljindal commented on #39986
aah thanks for great explanation @perotinus
I can reproduce the same problem even when I have clusters registered by creating a replicaset with 0 replicas. In this case also, federation does not create any replicas in underlying clusters and hence does not update the status.

[2017-04-12 00:01] avagin opened #44370 "Unable to create a persistent volume with a default storage class"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1", GitCommit:"b0b7a323cc5a4a2019b2e9520c21c7830b7f708e", GitTreeState:"clean", BuildDate:"2017-04-03T20:44:38Z", GoVersion:"go1.7.5", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aa

[2017-04-12 00:08] Scukerman commented on #43808
@nicky-lenaers this issue related to kubeadm. So I don't know if it fits your situation.

[2017-04-12 00:17] ericchiang commented on #23720
@mlbiam it would just be a webhook. E.g. webhook gets the current userinfo, then gets to add groups.

[2017-04-12 00:21] bw2 opened #44371 "kubectl exec command hangs on exit if command starts a background process"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl exec hangs background

---

**Is this a BUG REPORT or FEATURE REQUEST?** (c

[2017-04-12 00:21] caesarxuchao commented on #44065
@sttts i think i got you now. Client only needs its own scheme, which is defined in client-go/kubernetes/scheme. Client doesn't require Registry or GroupFactoryRegistry, which are only needed by the apiserver. So yes, perhaps we can avoid copying install.go to the new package.

[2017-04-12 00:47] xialonglee commented on #43856
@derekwaynecarr
[code]
And sometimes i got log from kubelet
`Unit kubepods-besteffort.slice already exists`
which is different from `Unit kubepods-burstable.slice already exists`, it can't solved through
`systemctl stop kubepods-besteffort.slice`, only a reboot can fix it.

I am not sure but when I
1. deploy a HA(multi-masters) k8s-cluster,
2. Kubelet on node run several static pods,
3. Uninstall

[2017-04-12 00:54] hzxuzhonghu commented on #44203
@spradeepv  I do not find yet, but I think you can use existing informer to watch pod, just like endpoint controller.

[2017-04-12 00:56] timothysc commented on #43040
All merged in #41427

[2017-04-12 00:56] #43040 closed

[2017-04-12 00:57] zhan849 opened #44372 "Kubernetes deleted volume unexpectedly while leaving PV/PVC state unchanged"
**Is this a request for help?** NO

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

Kubernetes volume deleted unexpectedly. Kubernetes volume deleted after apiserver panic
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
[cod

[2017-04-12 01:09] zouyee commented on #44198
@kargakis thank you,I will closed this issue.

[2017-04-12 01:09] #44198 closed

[2017-04-12 01:12] #43901 closed

[2017-04-12 01:24] vdavidoff commented on #43988
As far as I understand it, nothing is calling flannel. When flannel starts on a node for the first time, it talks to etcd to find the cluster's flannel configuration. That includes a /16 from which it allocates itself a /24, and assigns that network address (`a.b.c.0/24`) to the `flannel.1` interface. This also includes the instruction that flannel should use VXLAN for routing to other flannel age

[2017-04-12 01:28] k82cn commented on #44127
@wanghaoran1988 , my suggestion is to try Bobby's comments before changing it to policy ConfigMap.

[2017-04-12 01:29] bw2 commented on #44371
Looking into this further, the current behavior makes sense, but is confusing because I am able to launch several background commands in my entrpoint.sh script, and can see their output in kubectl logs.  I'd like to be able to start a script using kubectl exec that acts similarly to docker CMD or ENTRYPOINT, but I guess it makes sense that the entrypoint shell gets special treatment (in terms of i

[2017-04-12 01:47] aveshagarwal commented on #44349
I think what you are trying to do, you need:
[code]

[2017-04-12 01:49] spxtr commented on #27796
I'm seeing the same thing on several PRs.

[2017-04-12 03:23] calvix commented on #9085
Is there any change on this issue? Or do i still need restart kubelet ?

[2017-04-12 03:55] mappedinn opened #44377 "How to create a kubernetes NFS volume on Google Container Engine"
I am trying to create a kubernetes NFS volume on Google Container Engine (GKE) and get it used by a deployment.

I did this in several steps as it shown in this github repository [kubernetes-nfs-volume-on-gke](https://github.com/mappedinn/kubernetes-nfs-volume-on-gke):

1. Create a GKE cluster and GCE persistent disk
2. Config the context for the kubectl to deal with the GKE cluster
3. Creation of

[2017-04-12 04:25] Maverick-Crank-GRey commented on #44308
Let's ask all involved people give their own voices. Literally ;)
https://forvo.com/word/kubernetes

Non-english speakers are welcome too.

[2017-04-12 04:26] StevenYCChou commented on #39984
there are some issues for timeout tests in [hack/mack-rules/test-cmd.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/make-rules/test-cmd.sh) so I decided to comment them out.

however everytime I pull from github, there is random error on my OSX machine (eg: `sort -- V` not found). does the standard test generally run on linux machine?

[2017-04-12 04:31] thockin commented on #43632
I wouldn't try to massage it into a map, just:

[code]

On Tue, Apr 11, 2017 at 12:59 AM, Kristian Klausen <notifications@github.com

[2017-04-12 04:47] Random-Liu commented on #44340
@JorritSalverda Hi, this is a regression 1.6 CRI integration.

Do you have system relying on this behavior?

[2017-04-12 04:49] thockin commented on #39423
@bowei for backlog :)

[2017-04-12 04:59] Random-Liu commented on #43040
@timothysc Sooooooo quickly! Thanks a lot!

[2017-04-12 05:16] gyliu513 commented on #44349
I think that we should update the document here to mention how does `multiple nodeSelectorTerms` and `multiple nodeSelector` works for such case.

[2017-04-12 05:22] davidopp commented on #44349
Agreed. @aveshagarwal also brought it up on the mailing list today:
https://groups.google.com/d/msg/kubernetes-sig-scheduling/P249hlfGcdw/_wfQ7UOlBQAJ

I'm happy to review PRs to improve the documentation.

[2017-04-12 05:27] gyliu513 commented on #44349
Yes, just saw that email, will try to update the document for what @aveshagarwal point out, this will make the document more clear for node affinity features. @davidopp

[2017-04-12 05:32] bgrant0607 commented on #24420
@nikinath Thanks. Please email kubernetes-sig-cli@googlegroups.com.

[2017-04-12 05:32] bgrant0607 commented on #24420
cc @kubernetes/sig-cli-feature-requests

[2017-04-12 05:33] andyxning commented on #44328
It turns out that kubelet get node cpu and memory capacity from cadvisor. So, I have make a PR to [cadvisor #1638](https://github.com/google/cadvisor/pull/1638) adding this functionality.

After is has been merged in cadvisor. I will make a another PR to kubernetes to update cadvisor dependency. :)

[2017-04-12 05:36] andyxning commented on #44328
/ping @Random-Liu @vishh

[2017-04-12 05:54] spradeepv commented on #44203
@hzxuzhonghu Thanks. I'll check the code.

[2017-04-12 06:17] JorritSalverda commented on #44340
@Random-Liu it's not a crucial process that depends on it so if it gets fixed in one of the next versions it's fine. Is there another ticket for this so this one can be closed?

[2017-04-12 06:18] JorritSalverda commented on #28898
This works fine for a while already. I think since 1.4 or 1.5.

[2017-04-12 06:18] #28898 closed

[2017-04-12 06:20] JorritSalverda commented on #29989
This works reasonably well today. At time of creating this ticket I wasn't aware it is cpu request value that's used for hpa, I thought it was cpu limit. For our applications with cpu intensive startup we still see slightly more autoscaling than we would like, but not too big of an issue.

[2017-04-12 06:20] #29989 closed

[2017-04-12 06:21] JorritSalverda commented on #39420
Haven't seen this issue in our clusters for a while, so closing it.

[2017-04-12 06:24] irfanurrehman commented on #42761
I think its time we explore using the config similar to what kubeadm does -> https://kubernetes.io/docs/admin/kubeadm/

As far as I understood, kubeadm allows overriding args only through config.
Earlier, we did choose to use command line args for simplicity, and if we suspect breaking users cases, by removing command line override args (given kubefed declared beta in 1.6); we can have both. Sugge

[2017-04-12 06:28] JorritSalverda commented on #41012
When I opened this ticket I didn't use pod anti-affinity in the statefulset. Running on top of preemptible vms this lead to described failure. However since adding anti-affinity we haven't run into this issue. Closing the ticket.

[2017-04-12 06:28] #41012 closed

[2017-04-12 06:52] chaidas commented on #44308
For whoever wants to show off linguistically:
The (simplified) phonetic pronunciation of the original Greek word (Κυβερνήτης) is **kee-ver-NEE-tees**

[2017-04-12 07:35] HardySimpson opened #44383 "Reduce memory allocation at runtime of scheduler cache"
Just a simple optimization,

[code]

when Pod's number is large, the append will cause many memory allocation, to reduce it I raise a PR

https://github.com/kubernetes/kubernetes/pull/44261

[2017-04-12 07:36] HardySimpson commented on #44383
@kubernetes/sig-scalability-pr-reviews

[2017-04-12 08:11] wanghaoran1988 commented on #42372
Close, issue fixed with that PR.

[2017-04-12 08:11] #42372 closed

[2017-04-12 08:12] gyliu513 commented on #44349
I think this one can be closed due to it is a document issue. @davidopp @RenaudWasTaken

[2017-04-12 08:14] kargakis commented on #44335
@jeroenjacobs1205 the node has probably both, a label and a taint with the same key. You can confirm by inspecting the output of `kubectl get no NAME -o yaml`

[2017-04-12 08:15] MarcoGlauser commented on #44275
I have the same issue since upgrading from 1.5.4 to 1.6.0!
`kubectl proxy` still works though.

[2017-04-12 08:30] irfanurrehman opened #44384 "[Federation] How should kubefed handle cluster access"
This issue is a follow up to https://github.com/kubernetes/kubernetes/issues/41267
Perhaps an umbrella issue is needed to group all the related ones.

Prior to release 1.6 kubefed used to upload the credentials provided by the user in kubeconfig for all operations. With issue https://github.com/kubernetes/kubernetes/issues/41267, the intention was to use service accounts (possibly different ones)

[2017-04-12 08:31] irfanurrehman commented on #44384
cc @kubernetes/sig-federation-misc @kubernetes/sig-federation-bugs

[2017-04-12 08:31] #44212 closed

[2017-04-12 09:12] Stono commented on #36456
@davidopp Thanks for your response around weighting, totally makes sense.  I think a nice feature enhancement would be to give people the ability to "weight the weights", for example being able to say redundancy across machines is the most important property for a given deployment.

Anyway; we could probably close this issue off, as based on what you've said (and me knowing the spec files) there i

[2017-04-12 09:13] Stono commented on #44339
@JorritSalverda thank you very much, I'll update my specs and cli today.
Thank you.

[2017-04-12 09:19] zx8 commented on #30763
Found this via a Google search in the meantime:
- https://gist.github.com/terlar/28e1c2e4ac9a27be7a5950306bf45ab2

[2017-04-12 09:24] gajus commented on #44355
The problem is that log files in `/var/log/containers` link to a symlink file, which then links to `/var/lib/docker/containers`. I needed to make sure that `/var/lib/docker/containers` is correctly mounted as well as the symlink file.

[2017-04-12 09:24] #44355 closed

[2017-04-12 10:23] JorritSalverda commented on #11816
When securing this communication, keep in mind that the Prometheus /metrics endpoint is used by others than the master. I guess Prometheus itself will have to work on allowing authentication to some of the scrape endpoints in one way or the other.

[2017-04-12 11:36] kayrus commented on #11816
@JorritSalverda  there is a readonly non-secured port 10255 for metrics.

[2017-04-12 11:38] discordianfish commented on #24957
I came across this issue long time ago and didn't bothered much because I thought it would be a no brainer and I'm a bit surprised that people question whether this is a necessary feature.

Signals are one of the most fundamental tools for me as an operator to talk to my processes. While I agree that there are nicer ways to do IPCs, it's not that everyone will consolidate around these anytime soon

[2017-04-12 11:51] ReSearchITEng commented on #43819
adding "**--cgroup-driver=systemd**" causes new issue on Centos/RHEL 7.3 (fully up to date):

[code]

while we can see clearly that  **native.cgroupdriver=systemd**  is set in the docker daemon:
[code]

[2017-04-12 12:01] ReSearchITEng commented on #43815
adding "**--cgroup-driver=systemd**" in the kublet causes new issue on Centos/RHEL 7.3 (fully up to date - aka docker 1.10.3):

[code]

while we can see clearly that  **native.cgroupdriver=systemd**  is set in the docker daemon:
[code]

[2017-04-12 12:08] sbezverk commented on #43815
@ReSearchITEng  why do not you update docker to 1.12.6? Works like a charm with this version.

[2017-04-12 12:48] jamiehannaford commented on #44220
That's odd. The only reason AFAIK why kubeadm would revert to the host interface is if the provided IPv4 is unspecified (`0.0.0.0`) or a loopback (`127.0.0.1`). Would you mind specifying the IPv4 you used, or a similar one?

[2017-04-12 12:51] jamiehannaford commented on #42993
The same thing happened when I used an older CoreOS/Container Linux image. Can you try using a more up-to-date release (e.g. 2017.3), or another OS, and see if it still occurs?

[2017-04-12 12:55] JorritSalverda commented on #11816
Is that unencrypted endpoint here to stay? I guess Prometheus should switch to use that from now on.

To help them out it might make sense to add that port to the nodeSpec as well by adding something like **kubeletMetricsEndpoint**:

[code]

[2017-04-12 12:56] jayunit100 commented on #44349
Ah Yeah, confirmed its an `OR` vs `AND` issue, @aveshagarwal 's snippet "works", i.e. blocks scheduling properly.  thanks for clarifying.

[2017-04-12 13:07] deads2k commented on #11816
I would not count on having an unencyprted or unsecured endpoint for metrics.  We're moving towards securing all aspects of the API.  Using service account tokens, it is easy to have a bearer token to attach to requests and the user for the bearer token can be granted permissions.  This is the mechanism we've used to secure controller->master communication and I'd expect the trend to continue.

[2017-04-12 13:18] rvbsalgado commented on #38999
The workaround that a found for your problem was do convert the ca.pem to ca.crt, and install this cer on the windows node.

But after that when i run:

kubelet.exe --hostname-override=10.61.1.8 --pod-infra-container-image="apprenda/pause" --resolv-conf="" --kubeconfig=C:\var\lib\Kubelet\kubeconfig\kubeconfig.yaml --require-kubeconfig

the output is:

I0412 13:15:44.608472    6100 feature_gate.go:

[2017-04-12 13:19] wu8685 commented on #40123
Adding a polling could fix it and which is how it works before using inotify.
Are you working on this?

[2017-04-12 13:36] ReSearchITEng commented on #43815
@sbezverk: I just updated to 1.12.5 and now it's working! Many thanks!

[2017-04-12 13:40] vasil-moneybird opened #44390 "kubelet-wrapper failing to start properly after 1.6 upgrade"
**Bug Report**

**Kubernetes version**:

[code]

**Environment**:
- **Cloud provider or hardware configuration**: AWS
- **OS**:

[code]
- **Kernel** : 4.9.16-coreos-r1

**What happened**:

We were upgrading the masters that run our etcd cluster (kubelet from 1.5.2 to 1.6, we decided to continue using etcd v2 for now) and it seems that we have issues with the volume manager.

Stack trace:

[code]

[2017-04-12 14:04] ypadlyak commented on #44275
Me too :)

[2017-04-12 14:05] fghaas opened #44392 "kubernetes-worker Juju charm: "pause" action can't succeed in default configuration"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
`kubernetes-worker` `charm`

**Is this a BUG REPORT or FEATURE REQUEST?**
Bug Report

**Kubernetes version**
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Libvirt VMs
- **OS**: Ubuntu 16.04
- **Kernel**: 4.4.0-21-generic
- **Install tools**: Juju 2.1.2-xenial

[2017-04-12 14:14] dcbw commented on #44307
@readams and I debugged some on slack and found this PR fixes the original error and allows his case to get further, but there are some volume bugs that were still blocking pod removal.

[2017-04-12 14:16] rootsongjc commented on #12644
+1
Same problem.
**My environment**
kubernetes 1.6.0
centos 7.2.1511
docker 1.12.5
There is no data in `/var/log/containers` .

[2017-04-12 14:18] caniszczyk commented on #27796
@spxtr can you point out the relevant PRs?

Also, I recommend emailing "Linux Foundation Helpdesk <helpdesk@rt.linuxfoundation.org>" if you run into any CLA issues.

Most of the time, it's because you don't have the respective email listed in your GitHub profile settings or you didn't fully sign in to https://identity.linuxfoundation.org/projects/cncf and link your GitHub profile with the LF syste

[2017-04-12 14:27] drora commented on #21285
Guys, this is awesome.. is there any usage documentation or reference?

[2017-04-12 14:44] njuettner commented on #27796
Same here, except I signed as a Individual Contributor, using the exact same email like GitHub (using GitHub Login). Still try to find out what went wrong.
I was writing to Linux Foundation Helpdesk, so far I nothing heard back from them.

[2017-04-12 15:09] dashpole commented on #44328
Can you give me an example of what you are trying to test?

[2017-04-12 15:14] rthallisey opened #44393 "Feature Request for launching a kubemark cluster onto a pre-existing kubernetes cluster"
After setting up my infrastructure and deploying Kubernetes on it, I would like to deploy a kubemark cluster on my pre-existing Kubernetes cluster for scale testing.

The goal is to use the existing kubemark start scripts, but to add an new provider that fills in the required fields for kubemark to land on the pre-existing cluster.

[2017-04-12 15:27] DirectXMan12 commented on #43954
So, what you actually want is just a quick way from `kubectl` to increase the scale by one?  Perhaps we should have the equivalent of `kubectl get scale` so this is easier to implement outside of kubectl?

@kubernetes/sig-cli-misc do we have any store around exposing more generic access to subresources?

[2017-04-12 15:31] ConnorDoyle commented on #44181
xref #34508

[2017-04-12 15:36] pwittrock commented on #43954
Why not use `kubetctl get` with [json path](https://kubernetes.io/docs/tasks/kubectl/list-all-running-container-images/) to pull out the current replica count and increment the value?

[2017-04-12 15:46] cmluciano commented on #44080
I have an implementation working locally that reads the procfile and determines the expected # of GPUs to be found in /dev.

I am now considering the retry logic but I'm concerned with blocking the startup of the Kubelet until the drivers/kube modules are initialized.

It seems that Kops hooks will make the install of drivers happen in parallel but for those taking a serial installation approach,

[2017-04-12 15:46] jhorwit2 opened #44395 "kubectl rollout status does not work well with affinity/pending pods"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):BUG REPORT

**Kubernetes

[2017-04-12 15:49] ConnorDoyle commented on #44181
/assign

[2017-04-12 15:51] DirectXMan12 commented on #43954
can we `kubectl get` the scale subresource?  It would be nice to do this generically -- that's what the scale subresource is for.  Nothing says that replicas will be in the same place on all scalable resources.

[2017-04-12 15:55] MrHohn commented on #44225
/assign

/unassign @Random-Liu @matchstick

[2017-04-12 16:00] DreadPirateShawn commented on #25416
@liggitt Working with @jdfless, this seems like it's not fixed in v1.5.2 -- what should we do here? We don't have permission to re-open the ticket, but filing the same ticket with the same logs (just fresher dates) seems passive-aggressive. :-) What's your preference?

[2017-04-12 16:02] MrHohn commented on #44225
Flakes are introduced by commit dea98cbdd0576f54c5b481285a6974f5aa24b7f5:
[code]

[2017-04-12 16:05] liggitt commented on #25416
no problem, just getting back to this. can reopen this issue.

[2017-04-12 16:06] liggitt commented on #25416
can you recreate with the controller manager running at `--v=4` and include logs from `tokens_controller.go`?

[2017-04-12 16:07] jayunit100 commented on #44383
Thanks for noting this possible improvement, please see  https://github.com/kubernetes/community/blob/master/contributors/devel/development.md#is-this-a-performance-improvement-  thanks !

[2017-04-12 16:23] mbukosky commented on #36152
+1

[2017-04-12 16:24] renaudguerin commented on #26299
Hi, this is a great feature but there is very little in terms of documentation (I could only find a single sentence actually : "To set environment variables, include the env or envFrom field in the configuration file.")

So, is the syntax initially suggested by @yissachar the one that eventually got in ?

Tangential request : it would be great if documentation included the k8s versions where such

[2017-04-12 16:26] dcbw commented on #39758
It would be amazing to be able to set a specific process's log level to V=5 temporarily, gather the logs, then set it back to V=2 or whatever.  We should be able to do this for any component, apiserver, kubelet, kube-proxy, controller-manager, whatever, independently of any API.

I see two parts:

1) if you have local access to the machine the component is running on already, you want to just poke

[2017-04-12 16:34] mattdietz commented on #33245
On v1.5.3/029c3a408176b55c30846f0faedf56aae5992e9b at least, kubectl delete cannot under any circumstances delete a daemonset in this state. Every combination of flag sent to the command fails with a timeout.

[2017-04-12 16:42] adohe commented on #43954
@DirectXMan12 I am afraid we cannot do this now.

[2017-04-12 16:44] pwittrock commented on #43954
@DirectXMan12 There is an issue for creating `kubectl view` commands for exactly this sort of thing.  LMK if you would be interested in picking it up.

[2017-04-12 16:53] vishh commented on #44080
I don't think we should retry in the kubelet startup path. Instead we
should keep retrying in the background and fail any GPU allocation calls
until discovery is completed.

On Wed, Apr 12, 2017 at 8:46 AM, cmluciano <notifications@github.com> wrote:

[2017-04-12 16:59] kargakis commented on #39758
As a cluster admin (meaning auth aside), I want to be able to change configuration dynamically and loglevel is probably the first thing I would try to tweak when I need to debug an infra issue. I don't really care if it's supported directly as an API call or the API server can get the new value from a config map (or maybe both).

Assuming the component runs in a pod, I don't even need to ssh into

[2017-04-12 16:59] DreadPirateShawn commented on #25416
Fresh repo, offending namespace "foo96", with "--v=5" since we already have that logging level in place on my dev stack. This took 96 repros of a "create namespace / monitor for token creation / delete namespace" loop.

*Our script's commands, starting just after 16:36:43:*
[code]

*Controller manager log lines from tokens_controller.go*
The first reference to the offending namespace (foo96) and t

[2017-04-12 17:09] kargakis commented on #44395
What is the maxUnavailable value of your Deployment? If it's 1, then 2 out of 3 means complete.

[2017-04-12 17:10] kargakis commented on #44395
Affinity or anti-affinity rules don't matter btw

[2017-04-12 17:11] kargakis commented on #44395
Updated does not mean running.

[2017-04-12 17:15] nikhiljindal commented on #39984
I know a lot of developers who use Mac for development, so it should work on Mac as well. Feel free to file an issue

[2017-04-12 17:15] kargakis commented on #33245
We have seen various issues with client-side deletion. We moved it in the server in 1.6.

[2017-04-12 17:16] jayunit100 commented on #44342
cc @ConnorDoyle

[2017-04-12 17:21] DreadPirateShawn commented on #25416
Also, here's the apiserver logs + controller manager logs, for more action/reaction context:

**Namespace: foo96 (problem)**
[code]

**Namespace: foo95 (success)**
[code]

[2017-04-12 17:23] kargakis commented on #44347
@kubernetes/sig-cli-feature-requests

[2017-04-12 17:24] timothysc commented on #44342
I'd rather see opentracing leveraged throughout the project for such items.  The problem with 1-off roll ups is it becomes unique for each component.

I should have enough time this cycle to jig the scheduler for tracing.

[2017-04-12 17:29] liggitt commented on #25416
that's helpful, thanks. it looks like while the token controller is processing the creation event for the service account, it does a live lookup against etcd and fails to find the service account.

what version of etcd are you running with?
are you running HA etcd?
do you have quorum read enabled?

[2017-04-12 17:38] kobolog commented on #17470
@ChenLingPeng normally you'd want IPVS running either on your origin or your destination host in this kind of setups – this is because by default IPVS NAT will only do DNAT so if you have an IPVS-in-the-middle then the response will not hit it on the way back and from origin's point-of-view it's gonna be a martian packet.

There are a few ways to have IPVS-in-the-middle if you want it anyway, e.g.

[2017-04-12 17:43] jdfless commented on #25416
We run etcd version 2.3.7 (previously saw this on 2.2.x as well).
We run etcd HA, with a 3 node cluster.
We do not run the apiserver with the --etcd-quorum-read flag enabled.

[2017-04-12 17:47] kshafiee commented on #44283
@shashidharatd @marun This is the design we previously shared with the community and used in production:
https://docs.google.com/document/d/18kB5W401WBhEjUOOXQnBb-nx3bFXK8pOCHbMbdXuBMg/edit?usp=sharing

[2017-04-12 17:57] Random-Liu commented on #40123
@wu8685 Nope, I don't think anyone is working this right now. :)

[2017-04-12 18:01] Random-Liu commented on #44340
Do you mean one of the 1.6 patch releases or 1.7?

@JorritSalverda Nope. Let's keep this open, and I'll fix it probably today.

[2017-04-12 18:13] exarkun opened #44400 "Re-organize the changelog so that related releases are close together"
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md (linked from <https://kubernetes.io/docs/home/> in the left sidebar as "Release Notes") would be easier to read if different release lines didn't have their notes randomly interspersed.

My use case for reading the ChangeLog is to find out everything announce-worthy that changed between two points on a single release line.  So, for

[2017-04-12 18:20] wozhengjl commented on #40131
@gyliu513
Q1:
some services need very high performance and traffic, only host mode can meet the requirement.  No hostPort mapping, auto port is used to avoid port conflicts, as there're many different services, the service will listen env PORT, which is assigned by k8s dynamically.
Q2:
As for the case pod reschedule to another node, pod should be assigned a new available port for the target node,

[2017-04-12 18:30] JorritSalverda commented on #11816
What ClusterRole definition do you need for an application to be able to communicate with the kubelet metrics endpoint? Mine looks as follows but doesn't seem to work.

[code]

[2017-04-12 18:31] DreadPirateShawn commented on #25416
(Note: My specific logs above from this morning are on etcd 2.2.5, but yeah we've seen repro on 2.3.7 as well.)

[2017-04-12 18:32] wozhengjl commented on #43376
@wujianlin
i manage the hostport in controller manager, if deployment do not config hostport, i will allocat a unused port for diffient pod.
Q:
How controller manager knows the available hostport for pod before the pod is scheduled,  available ports are different on different nodes ?

[2017-04-12 18:32] smarterclayton commented on #44342
Yeah, would much rather we attack holistic tracing.  +1 from me.

On Wed, Apr 12, 2017 at 1:24 PM, Timothy St. Clair <notifications@github.com

[2017-04-12 18:34] liggitt commented on #25416
yeah, the non-quorum HA etcd config is the issue. I can look into updating the token controller to tolerate that, but I'm positive there are similar issues in many controllers that assume live lookups are reliable

[2017-04-12 18:34] jeffvance commented on #43640
@msau42 I will help with the e2e tests.

[2017-04-12 18:34] smarterclayton commented on #43954
We should also support `kubectl get --subresource scale` eventually.  But
not today.

On Wed, Apr 12, 2017 at 12:44 PM, Phillip Wittrock <notifications@github.com

[2017-04-12 18:43] k8s-merge-robot opened #44401 "[k8s.io] Container Manager Misc [Serial] Validate OOM score adjustments once the node is setup pod infra containers oom-score-adj should be -998 and best effort container's should be 1000 {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial/814/
Failed: [k8s.io] Container Manager Misc [Serial] Validate OOM score adjustments once the node is setup  pod infra containers oom-score-adj should be -998 and best effort container's should be 1000 {E2eNode Suite}

[code]

[2017-04-12 19:08] liggitt commented on #44371
cc @ncdc

[2017-04-12 19:10] liggitt commented on #44334
can you include the logs from the kube-dns and weave pods?

[2017-04-12 19:14] liggitt commented on #44275
dupe of #39722

anonymous requests and browser basic-auth prompts cannot both be enabled. To access the dashboard via the API proxy endpoint from a browser with basic auth credentials, you can either use `kubectl proxy` and access the dashboard via localhost (recommended), or disable anonymous requests to the API (`--anonymous-auth=false`) and authenticate to the API directly from the browser with

[2017-04-12 19:14] #44275 closed

[2017-04-12 19:16] liggitt commented on #44390
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/versioning.md#supported-releases-and-component-skew

[2017-04-12 19:19] liggitt commented on #11816
the resource and subresource used to authorize access to the kubelet API is documented at https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authorization

to allow all kubelet API requests, you'd need a role like the one kube-up uses:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/kubelet-api-admin-role.yaml

[2017-04-12 19:22] liggitt commented on #44330
GKE doesn't enable service account token auth to the kubelet

cc @mikedanese @cjcullen

[2017-04-12 19:23] liggitt commented on #44330
the resources and subresources used to authorize access to the kubelet API are documented at https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authorization

to allow all kubelet API requests, you'd need a role like the one kube-up uses:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/kubelet-api-admin-role.yaml

[2017-04-12 19:27] madhusudancs opened #44402 "Fix ci-kubernetes-soak-gce-federation-test"
Moving this discussion from https://github.com/kubernetes/test-infra/issues/2457.

This job is broken due to problems in the corresponding deploy job. It has been in this state for a while due to test-infra issues and @shashidharatd has been tirelessly working on it. This issue is to track the progress towards making the soak test work.

Ref: https://github.com/kubernetes/test-infra/issues/2457

[2017-04-12 19:28] madhusudancs commented on #44402
How do we accomplish that?

[2017-04-12 19:29] madhusudancs commented on #44402
cc @ixdy

[2017-04-12 19:29] ncdc commented on #44371
I see this exact same behavior with `docker run` and `docker exec`. I don't know there's anything we can do here.

cc @mrunalp any ideas?

[2017-04-12 19:36] DreadPirateShawn commented on #25416
Ahh excellent, glad to have an explanation!

So -- now that we know what to google for, we found https://github.com/kubernetes/kubernetes/issues/36791 -- where you and clayton addressed what appears to be this same problem for service accounts, and specifically noted that you wanted to **avoid** recommending quorum reads.

Why is the answer different here? Is it because the downstream impact of no

[2017-04-12 19:37] jayunit100 commented on #44342
@timothysc can we create a separate issue for the tracing stuff ? If so we can help test, verify its use for our needs also.  Then i will isolate this issue to just the instrumentation of the predicate/priority simulations.

[2017-04-12 19:37] RenaudWasTaken commented on #44349
Right !
Thanks for clarifying this @davidopp :)

[2017-04-12 19:37] #44349 closed

[2017-04-12 19:40] joshm1 commented on #42164
I've been getting this on a few nodes per day since upgrading to 1.5.2, and then to 1.5.6.  This causes pods to fail to terminate and spawn on these nodes.  I used `kops` version 1.5.3 in my last cluster upgrade.  My quick, manual fix for when I see these is to just terminate the nodes in EC2.

My nodes are a mix of m4.large and m3.large, and the master is m3.medium

[2017-04-12 19:46] liggitt commented on #25416
I still think controllers should be built to tolerate weak reads, and I'm willing to fix the token controller bug here, but three factors make me think this position is a losing battle:
* quorum read got a *lot* cheaper with etcd3
* there are strong opinions that etcd quorum read should be on (https://github.com/kubernetes/kubernetes/issues/37473#issuecomment-265025413) which means that very few p

[2017-04-12 19:48] perotinus commented on #44283
@kshafiee Thanks for the link! How much exposure did this proposal get? I see that it was mentioned in a SIG meeting a while back, but I didn't notice it coming up again or having been marked as reviewed and ready for implementation.

[2017-04-12 19:53] ncdc commented on #44342
https://github.com/kubernetes/kubernetes/issues/26507 ?

[2017-04-12 19:54] timothysc commented on #44342
@ncdc yes.

@jayunit100  https://youtu.be/NyySNe6Rr_g

[2017-04-12 19:55] jayunit100 commented on #26507
Can we use this to avoid having to have an entire reconstruction of scheduling events in plain logs ?  If so that helps solve some of our logging issues there (and in other places) as well. @eparis .

[2017-04-12 19:58] s-pk commented on #41033
Any progress on this? / Anything I could do to help? Running into full inodes quite often

[2017-04-12 19:58] ixdy commented on #44402
The soak/deploy jobs already mutually block on each other (see [here](https://github.com/kubernetes/test-infra/blob/8e64a2e7a3f81721b1ef62484ba28c15f45cdbcd/jenkins/job-configs/kubernetes-jenkins/bootstrap-ci-soak.yaml#L19-L20) and [here](https://github.com/kubernetes/test-infra/blob/8e64a2e7a3f81721b1ef62484ba28c15f45cdbcd/jenkins/job-configs/kubernetes-jenkins/bootstrap-ci-soak.yaml#L72-L83)).

[2017-04-12 20:01] jayunit100 commented on #44342
I think this is perfect  "separate what you instrument from what you collect, turn things on and off" http://opentracing.io/documentation/pages/quick-start.html .  Thats exactly what i was hoping for.  I will rebrand the scheduler perf stuff in a separate issue.

[2017-04-12 20:06] DreadPirateShawn commented on #25416
Perfect, works for us. As for fixing this particular token controller bug, I no longer have skin in that game -- your call entirely. :-)

[2017-04-12 20:07] sfloresk commented on #42791
Did you check your NTP settings? The time must be in sync within the cluster.
If you are not running NTP, install ntpd or chrony and once you have your time synchronized do "kubeadm init" (after "kubeadm reset" if you already have executed that command) to recreate the certs.

[2017-04-12 20:16] dashpole commented on #41033
Running out of Inodes already triggers image garbage collection before evicting pods.
You can verify this in the kubelet logs by looking for `eviction manager: able to reduce nodefsInodes pressure without evicting pods.` or `eviction manager: able to reduce imagefsInodes pressure without evicting pods.`
This issue refers to adding the same functionality to an older component.

[2017-04-12 20:23] mtaufen commented on #39758
We'd have to add this to the Kubelet's configuration API (the stuff that currently lives in componentconfig, but is moving to the kubelet tree) to dynamically (#29459, as @kargakis mentioned) change it for the Kubelet. I'd support this, but we should do it in a consistent way across our components by creating something like a `LogConfig` type that every component accepts.

All of our components re

[2017-04-12 20:33] janetkuo opened #44407 "Deprecate created-by annotation, in favor of ControllerRef"
TODOs:

* [x] `kubectl describe` list of controllers for an object.
* [x] `kubectl drain` Pod filtering.
* [x] Classifying failed Pods in e2e test framework.
* [x] CronJob grouping Jobs by owner/creator.
* [ ] Announce deprecation of created-by annotation in the release note

@erictune @enisoc @kow3ns @foxish @kargakis @kubernetes/sig-apps-feature-requests

[2017-04-12 20:43] freehan opened #44409 "K8s/CNI Plugin Compatibility"
This issue is mainly for discussion and tracking for cni integration related problems. CNI spec is somehow open-ended. Kubelet/Dockershim provides cni network plugin to integrate with 3rd-party cni plugins.

**Requirements and Limitations**

- CNI spec only specifies 2 verbs, ADD and DEL. There is no LIST or GET operation to retrieve states. This implies that Kubelet/Dockershim must memorize the s

[2017-04-12 20:43] enisoc commented on #44407
The uses I found in my last search were:

* [x] `kubectl describe` list of controllers for an object.
* [ ] `kubectl drain` Pod filtering.
* [ ] Classifying failed Pods in e2e test framework.
* [ ] CronJob grouping Jobs by owner/creator.

[2017-04-12 20:44] youngdev commented on #43856
You are really looking for anything kubepod*.slice to stop which is how I resolved my issue:

Try this:

for i in $(/usr/bin/systemctl list-unit-files --no-legend --no-pager -l | grep --color=never -o .*.slice | grep kubepod);do systemctl stop $i;done

[2017-04-12 20:47] janetkuo commented on #33245
@mattdietz when the daemonset deletion failed with a timeout, are the DaemonSet pods `Terminating`, `Running`, or already deleted? `kubectl delete` waits for all DaemonSet pods to be terminated before deleting the DaemonSet, so the state of those pods tell us what caused the timeout.

[2017-04-12 20:49] fejta opened #44410 "Timeout waiting for the condition during V1Job tests"
Triage history cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=v1job#63a36434077ff31ae29e

Note that the triage history page's filters at the top allow you to focus on specific jobs or tests

73 different tests across 115 jobs are failing in this pattern.

The apps part of this issue is:
1) `V1Job should fail a job` in upgrades from 1.4 - #44602

Previous things:
1) `

[2017-04-12 20:54] dashpole commented on #44208
Can you see if your kubelet logs contain `[imageGCManager]: Removing image`... or `eviction manager: able to reduce nodefsInodes pressure without evicting pods.`
The kubelet should attempt to delete unused images before evicting pods.  Let me know if that is not the case.  If you are actively running containers that have a large number of layers, then those cannot be deleted without evicting the p

[2017-04-12 20:57] fejta opened #44411 "PersistentVolumes:GCEPD tests fail in multizone jobs"
Triage cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#07c79399f68917888ccb

Example failure: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-non-cri-gke-multizone/2506

/assign @madhusudancs @csbell @quinton-hoole
/assign @saad-ali @childsb

[2017-04-12 20:57] dashpole commented on #44189
cc @derekwaynecarr devicemapper-related issue

[2017-04-12 21:01] fejta commented on #44243
This is triage cluster remains the source of 20 failures per hour (top source of problems):

Cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#d1ea23f2ffd4d4ffbf7d

Example jobs:
* `gke-gci-ci-master`: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-ci-master/4184
* `gci-gke-pre-release`: https://k8s-gubernator.appspot.com/build/kub

[2017-04-12 21:11] freehan commented on #43988
I think it is a setup problem related to docker and flannel. Maybe the doc you are referring to is not up to date. Could you share the link?

Could you confirm your docker0 bridge has been updated to use `a.b.c.1/24`? Check the result of `ifconfig docker0`. If not, then try to delete docker0 bridge and restart docker daemon.

Another thing to try is just `docker run` some container and see if they

[2017-04-12 21:35] yujuhong commented on #43988
@vdavidoff, does your cluster function properly? If it is, I think the error messages are just red herrings.
 - From the code, dockershim assumes a network plugin is used. Even though it'll fall back to inspect the container network setting, it'd still log an error.
 - You should inspect the podsandbox container (not the application container) to see its network settings.

E.g.,
[code]
`docker ps`

[2017-04-12 21:36] msau42 commented on #44411
I noticed it's only failing on GKE and multizone.

I think it is failing because the persistent volume admission controller is not enabled in GKE.  This admission controller tags statically created PVs with zone labels so that the scheduler will only assign pods to the same zone as the PV.

I previously tried enabling it in GKE in 1.6, but it was hitting some permissions issue, but I can work on i

[2017-04-12 21:46] #41655 closed

[2017-04-12 21:47] everett-toews commented on #38858
@BruceZu Can this be closed as https://github.com/ansible/ansible/issues/19419 is now closed?

[2017-04-12 21:49] vdavidoff commented on #43988
@freehan the docker bridge is right. Everything appears to be functioning properly with regard to networking. Pod to pod communication, ingress from outside the cluster, node to node, cluster IP services, etc. I have no existing networking issues to my knowledge. I don't usually use `docker run` but it does what I'd expect - assigns an IP to the container from the /24 on the docker0 interface, whi

[2017-04-12 21:55] yujuhong commented on #43988
@vdavidoff @freehan ok, this looks like a log clarity issue. The code can check whether a network a plugin is configured, and only complain (i.e., log the error message) if there exists a plugin.

[2017-04-12 21:59] Thermi opened #44415 "Allow service to "bind" to all externalIPs"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): pod any externalIP

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): F

[2017-04-12 22:24] Stono commented on #39722
I'm a little lost here, but I do know that this has broken some of the scripts I was using.
For example; one of my pods uses the the api for service discovery:
[code]

Can anyone give some advice how to fix/get this working, even if the intermediate fix isn't perfect, as I don't want to have to rollback.

[2017-04-12 22:36] liggitt commented on #39722
@Stono that is a different issue. Can you run curl in verbose mode and ensure the URL is as expected and you are sending a bearer token header? The error you are seeing indicates the namespace and token are not being read successfully.

[2017-04-12 22:41] lavalamp commented on #44410
Job is apps, not api machinery

[2017-04-12 22:44] tusharnt commented on #44075
cc @abrarshivani

[2017-04-12 22:52] mikedanese commented on #44330
I'm fairly certain we do...

In your ClusterRole I think
[code]
should be
[code]
Like this https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/kubelet-api-admin-role.yaml#L16

Your `nonResourceURLs` doesn't make sense.

[2017-04-12 23:04] andyxning commented on #44328
@dashpole

We have a new CPU series(40 cores[hyperthread]) and before take it to production widely we want to test its performance under production load. So we want to add it to a Kubernetes cluster to let it run some service. However, normally kubelet will register `CPU allocatable` with `CPU capacit(runtime.NumCPU) - kube reserved - system reserved). With this settings, we can just make node loa

[2017-04-12 23:12] dashpole commented on #44328
I believe the current defaults for kube reserved and system reserved are 0, so CPU allocatable should be the entire capacity of the node.  If you want to schedule more pods on the node to increase utilization and stress the node, you could run pods that do not have CPU requests or limits set, allowing you to schedule as many such pods as you want to the node.  You should be able to easily achieve

[2017-04-12 23:14] krmayankk commented on #39434
@smarterclayton just to be clear we should not move client validation which signals to the user, indentation errors, unrecognized fields or json/yaml syntax errors. These kinds of errors are caught by swagger-schema check. Please confirm my understanding.

[2017-04-12 23:48] jimmycuadra opened #44418 "Document administration of credentials for system roles/bindings/groups"
The new RBAC documentation includes a section that enumerates the [default roles and role bindings](https://kubernetes.io/docs/admin/authorization/rbac/#default-roles-and-role-bindings), which is very helpful. However, it doesn't explain how a component should be configured to actually authenticate as a member of one of these groups.

Specifically, the following auth groups are included in the tab

[2017-04-12 23:49] mml opened #44419 "Windows kubectl sends full path as User-Agent"
It looks like kubectl uses path.Base instead of filepath.Base, and the former does not work correctly when the OS uses a path separator besides ‘/’.  This only affects kubectl on Windows, AFAICT.

We should patch kubectl and also modify kube-apiserver to discard this information when contacted by old clients.  We should also cherry pick this onto 1.6, 1.5, and 1.4.

@monopole has a fix for kubectl

[2017-04-12 23:49] mrunalp commented on #44371
Can you try with nohup sleep &

[2017-04-12 23:54] spxtr commented on #41898
[And again](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44048/pull-kubernetes-e2e-gce-gci/25492/)

[2017-04-12 23:57] luomiao commented on #44075
This should be fixed by the recent PR: https://github.com/kubernetes/kubernetes/pull/43545

[2017-04-13 00:01] pwittrock commented on #41898
@ymqytw Reassign to you

[2017-04-13 00:05] msau42 commented on #44372
cc @kubernetes/sig-storage-bugs

[2017-04-13 00:07] msau42 commented on #44377
What version of gke are you using?

cc @saad-ali @jingxu97

[2017-04-13 00:10] fejta opened #44420 "Create OWNERS files for all subdirs of kubernetes/"
/assign @smarterclayton @lavalamp @dchen1107 @thockin @brendandburns @jbeda
/cc @grodrigues3

Please ensure that every sub directory of / contains an owners file.

The following sub directories do not define them:
[code]

The result of this is that any PR which changes anything in api, Godeps, staging, vendor, etc will always get assigned to one of you for both the review and approval.

[2017-04-13 00:14] saad-ali commented on #44377
CC @kubernetes/sig-storage-bugs

[2017-04-13 00:23] gyliu513 commented on #43954
Some questions:

1) `kubectl get scale`, does this mean that we are going to introduce many `scale` objects/resources and `hpa` is just one of them?

2) How does the `kubectl get scale` help for this `incremental scale`?

[2017-04-13 00:26] andyxning commented on #44328
As just for stress test about CPU, i agree with your method as it's more easy and straightforward. :)
Besides setting not CPU requests and limits for user pod, we still need to add more weight for that pod to get more traffic.

We have a Paas system to do service upgrade and setting CPU request and limit. It will be difficult for us to maintain the cluster with a unified way by utilizing @dashpole

[2017-04-13 00:31] yujuhong commented on #33048
Through recent discussions, I think we are converging to let runtime report the image filesystem stats, since kubelet will be isolated from implementation detail of the storage drivers.

Today cadvisor gathers such stats for kubelet, and the stats is used by kubelet's summary stats API, the image garbage collector, and the eviction manager.
In general, we need the ImageService to report
 1. Capaci

[2017-04-13 00:33] rickypai commented on #43632
So you'd be passing in `[]HostMapping` into `ensureHostsFile`. That makes sense.

This might be a stretch, but what about different types of IPs that might not be present at the time the configuration is written? like for example the host's IP, pod's IP, or even some service IP.

[2017-04-13 00:41] Random-Liu commented on #44328
I also agree that what @dashpole suggested is the best solution now.

Overriding the capacity may be useful in some other use cases, but it seems too tricky to add these flags just for overcommitting test.

A better abstraction is to add `overcommit_factor` in NodeSpec. But I don't think we could do that anytime soon.

[2017-04-13 00:43] grodrigues3 commented on #44420
I recall someone also mentioning that certain files or dirs may not need approvers files.  If that would help, we can add that functionality (i've already started the work)

[2017-04-13 01:08] jayunit100 opened #44422 "pkg/registry/core/persistentvolume/storage/go_default_test flake?"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

Looks like pkg/registry/core/persistentvolume/storage/go_default_test flakes in the bazel-build.

I suspect something in `pkg/registry/core/persistentvolume/storage` is flakey ...  Saw this twice today.

[code]

**Kubernetes version** (use `kubectl version`):

master

**Environment**:

CI

[2017-04-13 01:18] yujuhong commented on #43632
This is currently handled completely by kubelet, so it wouldn't be an issue for CRI.
kubelet doesn't mount `/etc/hosts` if the pod is using the host network, so this would either need to be changed, or validation should reject the pod if this is not allowed.

If you need to dynamically change the file after the container starts, I think @bowei's suggestion of trying to make ConfigMap work would be

[2017-04-13 01:25] smarterclayton commented on #39434
The API server should report indentation errors, unrecognized fields, and json/yaml syntax errors.  The client will still have to report some json/yaml syntax errors.

The client should not have to do any validation beyond what is strictly required for its own unique operations.

[2017-04-13 01:29] feiskyer commented on #44409
@freehan Should we also include features that are unique to kubenet plugin? e.g. port mapping and traffic shaping.  Not all CNI plugins support those features.

[2017-04-13 01:36] feiskyer commented on #33048
LGTM. Actually,  #41733 is trying to add exactly same data format as cadvisor. If there are no objections, I will continue to finish PR #41733.

[2017-04-13 01:51] jayunit100 commented on #44393
Specifically we want this for doing things like running kubemark against openshift, and so on.  CC @smarterclayton @jeremyeder .

[2017-04-13 01:52] jayunit100 commented on #44339
Can we close this issue ? Def. not a bug as mentioned above: Affinity isn't an annotation anymore .

[2017-04-13 01:52] gyliu513 commented on #40131
How does `auto port` works when using `host mode network`? Can you please show a concrete example here? Some steps and some YAML/JSON template? @wozhengjl

[2017-04-13 01:54] duglin commented on #17525
ping @dchen1107

[2017-04-13 01:54] jayunit100 commented on #44317
I think you're just using a broken cassandra container:  By definition the container should contain the right (3x iirc for cassandra) container.  So I suggest we close this and try a different cassandra image.

[2017-04-13 02:06] StevenYCChou opened #44425 "sort -V not available in OSX; which breaks etcd version check"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
sort, etcd
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

[2017-04-13 02:44] JorritSalverda commented on #11816
Thanks, but even when creating the most permissive binding for my prometheus service account I get a 401 unauthorized when querying the kubelet /metrics endpoint.

[code]

Shall I create a dedicated issue for this to keep this one from getting off topic?

[2017-04-13 03:03] thechile opened #44430 "[FR] Update netlink vendor package ?"
**FEATURE REQUEST**

Hi

Is there any plans to update the [github.com/vishvananda/netlink](https://github.com/vishvananda/netlink/) vendor package to newer version ? I would like to use the [LinkSetAlias](https://github.com/vishvananda/netlink/blob/master/link_linux.go#L242) that was added in recent version to tag/alias the veth interfaces on node and in pod namespace for easier identification and

[2017-04-13 03:09] JorritSalverda commented on #44330
Thanks, but even when creating the most permissive binding for my prometheus service account I get a 401 unauthorized when querying the kubelet /metrics endpoint with the service account token set as Bearer Token.

[code]

Running

[code]

returns

[code]

[2017-04-13 03:17] liggitt commented on #44330
If GKE is using the GCE cluster up scripts, it isn't enabling service account token authentication:

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#L699

to authenticate to the kubelet with API tokens, these steps would be needed (from https://kubernetes.io/docs/admin/kubelet-authentication-authorization/#kubelet-authentication):

* ensure the authenticati

[2017-04-13 03:17] liggitt commented on #44330
a 401 indicates you are not authenticated. you are not even reaching the authorization stage.

[2017-04-13 03:17] JorritSalverda commented on #44330
By the way, when querying https://<master ip>/api/v1 I only see `nodes`, `nodes/proxy` and `nodes/status`.

No `nodes/metrics`, `nodes/log`, `nodes/stats` nor `nodes/spec`.

[2017-04-13 03:18] JorritSalverda commented on #44330
I'll inspect the kubelet startup params and escalate to Google.

[2017-04-13 03:22] liggitt commented on #44330
Those virtual subresources are used by the kubelet to perform authorization checks when speaking directly to the kubelet API in order to allow granting access to part of the kubelet's API

[2017-04-13 03:33] ncdc commented on #44425
See https://github.com/kubernetes/kubernetes/pull/44396

[2017-04-13 03:44] #43651 closed

[2017-04-13 04:18] madhusudancs commented on #44402
@ixdy makes sense, thanks!

[2017-04-13 04:30] #44303 closed

[2017-04-13 05:01] mappedinn commented on #44377
I am using

* gcloud 150.0.0
* kubectl v1.6.0 for client
* kubectl v1.5.6 for server

[2017-04-13 05:20] netroby commented on #44303
Thanks for  you time.

[2017-04-13 06:43] vasil-moneybird commented on #44390
That much we know. But we can't upgrade anything since the kubelet won't start.

[2017-04-13 06:49] shashidharatd commented on #44402
@ixdy,
 Please correct me if my understanding is incorrect.
adding blocker job to a job will only make the job wait until the blocker job is run right?
(All the federation deploy jobs except soak ones have a reverse trigger set to federation build job, and its not the blocker but the trigger)

Our situation in federation soak jobs is like below:
1. federation-soak-build job runs daily say at 11:00

[2017-04-13 07:10] ApsOps commented on #37414
I'm hitting this as well, for the same reason - kube-proxy comes up before node registration is complete.

[code]

I'm wondering what are the consequences of this? 🤔

[2017-04-13 07:17] irfanurrehman commented on #44384
@madhusudancs @perotinus, please add if I have missed something.

[2017-04-13 07:23] shashidharatd commented on #44283
@perotinus, The design shared by @kshafiee is for federation control plane HA and leader election feature is a basic building block to build POC for the design outlined in that document. There are still open issues in that design. leader election feature will just enable to try out different options and conclude the design.

I will open a separate issue for federation control plane HA, if one does

[2017-04-13 07:28] ixdy commented on #44402
@shashidharatd setting a blocker job provides mutual exclusion. we have the deploy and soak test jobs set as mutually blocking so we don't try to redeploy a cluster while running tests, nor run tests while deploying a cluster.

I'm a little confused by non-federation builds pushing to `ci/latest`. It looks like the deploy job is configured to read from the `kubernetes-release-federation` bucket, n

[2017-04-13 07:37] vaijira commented on #44317
I'm suffering this issue too, the problem is the container image in the kubernetes example gcr.io/google-samples/cassandra:v12 is not properly build to support cqlsh.

[2017-04-13 07:38] Stono commented on #44339
Yes!  Sorry, and thank you

[2017-04-13 07:38] #44339 closed

[2017-04-13 07:44] xialonglee commented on #43856
@youngdev
Your method could solve the problem in many cases. But I face up a situation today:
[code]
and
[code]
so you can not stop any service start with prefix `kubepods` and the problem could not be solved.

I decide add kubelet args with `--cgroups-per-qos=false --enforce-node-allocatable=` to disabled qos enhance feature till this problem solved.

[2017-04-13 07:50] Fuzzo opened #44433 "Missing V1FinalizerName constructor generated by Swagger Codegen"
**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.6.1
- **Cloud provider or hardware configuration**: VM on SoftLayer
- **OS** (e.g. from /etc/os-release): CentOS Linux 7 (Core)
- **Kernel** (e.g. `uname -a`): 3.10.0-514.10.2.el7.x86_64
- **Swagger Codegen**: 2.2.2

This is a Bug Report

**Problem:**
The Swagger Codegen 2.2.2, used to create a Java/Jersey2 client, does not provi

[2017-04-13 07:56] qq690388648 commented on #44433
Let me think...

[2017-04-13 07:58] CodeJuan commented on #44334
So

[2017-04-13 08:04] Demonsthere commented on #44334
Update:
Thanks for the interest, but i think i have managed to fix it. The problem was, that for the 1.6.0 release and the deadlock in `kubeadm init` i have removed the `Environment="KUBELET_NETWORK_ARGS=--network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin"` line from the systemd config. After restoring it in 1.6.1 it works well.

[2017-04-13 08:17] shashidharatd commented on #44402
Thanks @ixdy for clarifying.
I feel even though we are specifying `kubernetes-federation-release` in soak deploy job, it is still using `kubernetes-release-dev`. Something is broken here.
below are the lines from from federation-soak-deploy job:
[code]

[2017-04-13 08:20] Stono commented on #39722
@liggitt it was end of day human error on my part, apologies and thank you for prompting me to double check my curl!

[2017-04-13 08:45] yu-yang2 commented on #23924
@jperville I still got stuck in ` Could not map image: Timeout after 10s; skipping ` after using your final solution，could you tell me how to solve this problem?

[2017-04-13 08:52] ixdy commented on #44402
aha, there we go. It looks like a bug in kubetest.

The `ci-kubernetes-soak-gce-federation-deploy` job (along with several other federation jobs) overrides `KUBE_GCS_RELEASE_BUCKET` and `KUBE_GCS_DEV_RELEASE_BUCKET` to `kubernetes-federation-release`.

Before https://github.com/kubernetes/test-infra/pull/1657, we'd look at `gs://$KUBE_GCS_DEV_RELEASE_BUCKET/ci/latest.txt` for the version. But with

[2017-04-13 09:02] jayunit100 commented on #33431
update : the architecture improvements necessary for Doing this  are rolled into the 1.7 forensics milestone , "scheduling forensics".

[2017-04-13 09:21] anteyk commented on #44200
Bump... am I'm missing something or it's a real trouble?

[2017-04-13 09:24] fejta commented on #44402
Does the issue for fixing this job exist in the main repo yet?

Why is the right behavior for federation builds to go in their own bucket, with their own parallel CI system?

[2017-04-13 09:24] gytisgreitai commented on #18226
@jeremywadsack that should be `HTTPS` in uppercase, else:

`create Pod xxxx-0 in StatefulSet xxxx failed error: Pod "xxxx-0" is invalid: spec.containers[0].readinessProbe.httpGet.scheme: Unsupported value: "https": supported values: HTTP, HTTPS`

[2017-04-13 09:43] fejta commented on #44402
If we need this seems like the best way to do it is to make `--extract=E` aware of this scenario.

We could update `case gcs` in `extract.go` to do `setReleaseFromGcs` instead of `getKube` when the `gs://` path ends in `.txt`.

I prefer we do not add a flag for this.

But really--why do we create official CI builds that don't support/include federation?

[2017-04-13 09:46] jayunit100 commented on #44259
@aveshagarwal @davidopp thoughts? I see his point here, but IMO Affinity is very complex to predict its behaviour, and adding more flexibility will likely confuse people more then it will help.

Separating allows wacky combinations of affinity makes the testing matrix twice as large and adds
psychotic combinations like:

1) no-ops
[code]
2) suicidal pods
[code]
and so on.

But I do sympathize w/ t

[2017-04-13 09:58] lostpebble commented on #27114
I see this is still not implemented. This would really be much appreciated and I think its a pretty logical way to think about it:

[`readinessProbe`] Is it ready? **No**
-> Okay lets wait a bit and see [still `readinessProbe`]

_Eventually..._
[`readinessProbe`] Is it ready? **Yes**
-> Okay we can serve traffic and run checks to see if it remains alive [`livenessProbe`]

Having liveness probe kil

[2017-04-13 10:28] jackielii commented on #19171
I tried weave-net successfully to have UDP multicast

[2017-04-13 10:34] wanghaoran1988 opened #44436 "[Deployment]pause a fail deployment will cause the running pod disappear when maxUnavailable=replicas-1"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"7+", GitVersion:"v1.7.0-alpha.0.1902+7543bac56342fd", GitCommit:"7543bac56342fddaaadcfe555ad500a19dabf611", GitTreeState:"clean", BuildDate:"2017-04-13T08:50:28Z", GoVersion:"go1.7.1", Compiler:"gc", Platform:"linux/amd64"}
Server Version: v

[2017-04-13 10:34] wanghaoran1988 commented on #44436
/cc @kargakis

[2017-04-13 10:50] jsravn commented on #43300
I'm not sure what the decided approach is here. I was thinking more about the worker queue approach and think it might be overkill. Especially since it will have to do a sleep/loop anyways. I think a simple loop like I added in the pod handler should suffice, possibly with the restriction that it gives up after a period of time if the node informer doesn't update in time. My changes have fixed all

[2017-04-13 11:00] kargakis commented on #44436
Can you also post the output of `kubectl get rs -o yaml` before and after pausing the deployment?

[2017-04-13 11:01] jamiehannaford commented on #42013
At what point in the code is the `wrong cloud provider` error ignored? Looking at the two files you posted it seems they already handle errors appropriately?

[2017-04-13 11:15] soltysh commented on #44095
@piosz @fgrzadkowski can you have a look at https://github.com/kubernetes/features/issues/22 and https://github.com/kubernetes/community/pull/145 and comment what we should add in your opinion in audit to help you get what you need?

[2017-04-13 11:17] ash2k commented on #815
It would be useful to add context to all client methods. Also a lot of places use `stopCh <-chan struct{}` and context could be used there instead.

[2017-04-13 11:21] kenzhaoyihui commented on #41070
Also met this issue. There is no taint to limit the master that not scheduler pod. Anything else ?
Or any ideas?

[code]

[code]

[2017-04-13 11:23] pineking opened #44438 "pod status should be pending instead of failed when all gpus are used."
I use kubernetes with version `v1.7.0-alpha.0.1714+2169beed2344f2`, and enable flag ` --feature-gates=Accelerators=true` to use GPU running deep learning experiments.

**What happened**:
when all GPUs in the cluster are used,
I run the command `kubectl create -f xxx.yaml` to request 1 gpu with `alpha.kubernetes.io/nvidia-gpu: 1` in yaml file, the Pod status shows `outofalpha.kubernetes.io/nvidia-g

[2017-04-13 12:04] kargakis commented on #44436
Reproduced and found the issue, pushing a PR soon

[2017-04-13 13:01] gmarek opened #44442 "`getOneTimeResourceUsageOnNode` e2e/framwork function no longer works"
I guess it got deprecated. We should clean up all test logic that depends on deprecated-and-no-longer-used cadvisor v1 api.

@kubernetes/sig-node-feature-requests

[2017-04-13 13:07] ToGoBananas commented on #44377
@mappedinn if you want to configure NFSv4 you can follow tutorial https://github.com/kubernetes/kubernetes/blob/master/examples/volumes/nfs/README.md

BUT:
Edit examples/volumes/nfs/nfs-pv.yaml
change the last line to path: "/"

Edit examples/volumes/nfs/nfs-server-rc.yaml
change the image to the one that enabled NFSv4
image: gcr.io/google_containers/volume-nfs:0.8

It works fine for COS images, k

[2017-04-13 13:26] jsafrane commented on #44372
Can you please post complete controller-manager and apiserver logs between 23:02:08.631235 (volume is created) and 23:04:54.685169 (it's deleted)?

[2017-04-13 13:37] mappedinn commented on #44377
thanks @ToGoBananas

I will be trying the proposed changes and I will be back...

[2017-04-13 14:05] JorritSalverda opened #44445 "Improvement: fluentd-gcp to get same toleration as kube-proxy"
When adding a _noexecute_ taint to a node most _kube-system_ pods get evicted, except for _kube-proxy_ because it has toleration `=:Exists:NoExecute`.

It would be nice if _fluentd-gcp_ and _heapster_ get the same `=:Exists:NoExecute` toleration to make sure they keep running on that node.

Currently in GKE 1.6.0 they have the following tolerations:

[code]

[2017-04-13 14:07] smarterclayton commented on #44095
Audit isn't really infrastore, although audit is a source of info that should be correlateable into something like infrastore.

[2017-04-13 14:17] DirectXMan12 commented on #43954
`/scale` is actually a subresource on the scalable resources themselves, like deployments and replicationcontrollers.  It's not on the HPA.  The HPA makes use of `/scale` as does the `kubectl scale` command.

If I'm understanding you correctly, you want an operation like `scale++`, which actually is `scale = scale + 1`.  Right now, there's no way to get the scale easily across different objects fr

[2017-04-13 14:17] DirectXMan12 commented on #43954
@pwittrock maybe at some point.  Not right at the moment ;-)

[2017-04-13 14:20] shiywang commented on #43954
@DirectXMan12 @pwittrock  I would like to take a look at this, but currently just some jobs in hand, maybe next week.

[2017-04-13 14:22] kargakis commented on #27114
@kubernetes/sig-node-feature-requests

[2017-04-13 14:28] kenden commented on #42957
It's better than having to modify existing subnets.
But this make life more complicated for users/developers. Now they need to know which subnets they want to use, instead of just adding this annotation on the service config:
`service.beta.kubernetes.io/aws-load-balancer-internal: 0.0.0.0/0`
That annotation works on all clusters.

Couldn't we just check on which subnets the workers are and use tho

[2017-04-13 14:36] matthyx commented on #12987
@janetkuo here is what I have so far... https://github.com/matthyx/kubernetes/tree/issue12987
I have reached out @deads2k for clarification as this custom error is useless if we don't do something with it...

[2017-04-13 14:38] kadyogesh commented on #25408
Some image pulls failed with "net/http: request canceled"  could someone please help me in fixing it?

[2017-04-13 14:40] unclejack commented on #44041
https://github.com/kubernetes/kubernetes/pull/44116 has been merged to the release-1.6 branch. From what has been discussed so far, this will make it to Kubernetes 1.6.2.

I'll close this issue now.

[2017-04-13 14:40] #44041 closed

[2017-04-13 14:41] ncdc opened #44448 "CRI: exec/attach requests don't let you disable stdout or stderr"
I'm working on rebasing OpenShift on top of Kubernetes 1.6 and I just noticed that if you try to exec/attach to a pod, the CRI protobuf messages for AttachRequest and ExecRequest only allow you to specify stdin and tty. You are not able to specify stdout or stderr. The handlers for serving exec and attach streaming requests force stdout to true, and stderr to true when not using a tty. Is there a

[2017-04-13 14:47] fgrzadkowski commented on #44095
+1 to what @smarterclayton said. Infrastore would contain information like what pods run and when and for how long. Or how many endpoints a given service had.

[2017-04-13 15:02] dwradcliffe opened #44450 "Kubelet does not restart static manifest pods correctly in 1.6"
**Is this a request for help?** No

**What keywords did you search in Kubernetes issues before filing this one?** static manifest

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: Bare metal and reproduced in Vagrant
- **OS** (e.g. from /etc/os-release

[2017-04-13 15:04] derekwaynecarr commented on #44448
it sounds like an unintended regression.  i agree it would be good to selectively enable.

[2017-04-13 15:04] michaelajr commented on #42957
Interesting. Yeah. I suppose the logic there is that unlike a typical AWS Ec2 deployment where the application is launching into subnets via an *app-specific* ASG, the application is just launching onto K8s, and the knowledge of what subnets the nodes are in is held by the K8s cluster itself (and maybe the cluster creation tool, like `kops`). Therefore forcing the application deployment yaml to kn

[2017-04-13 15:08] liggitt commented on #40015
switched `RulesFor` access pattern to a visitor that takes a `*rbac.PolicyRule` in https://github.com/kubernetes/kubernetes/pull/44449 (and added short-circuiting on success)

[2017-04-13 15:09] cpo commented on #44220
Ok, so I feel a bit stupid now: The Ansible script used the wrong variable (effectively passing in the hostname instead of the IP address). Additional testing showed that now all the configs contain the correct IP address and the worker node is able to connect.

Maybe it is a good idea to not accept invalid IP addresses and throw some error. But for now it seems to work!

Thanks and regards,

Chri

[2017-04-13 15:23] jamiehannaford commented on #44220
What type of value was Ansible providing, a random string? The behaviour is to use a default if a missing value is provided. I'm personally not sure what extra value advanced validation logic would provide.

Would you mind closing the issue if you're happy to? Glad you sorted it! :)

[2017-04-13 15:25] cmluciano commented on #44438
Does the pod continue to hang indefinitely even when the resources are freed?

[2017-04-13 15:27] #5017 closed

[2017-04-13 15:33] #4926 closed

[2017-04-13 15:45] darylturner commented on #23864
@khatribharat i've experimented in the past with using Kamailio as a SIP/RTP proxy in a daemonset. This would be deployed to nodes with public addresses and do direct to pod communication as you say. Not had a play with custom ingress controllers but i think it would be a similar concept.

[2017-04-13 15:58] #22618 closed

[2017-04-13 15:59] bgrant0607 commented on #24264
Dupe of #22618

[2017-04-13 16:03] jacekn commented on #44322
kubernetes-master has similar problem

[2017-04-13 16:07] kenden commented on #42957
Right. maybe if a service it created in kube-system it should use the controllers' subnets.
Else, the workers.

[2017-04-13 16:35] timothysc commented on #30305
I turned off a bunch of the panic eating b/c failing fast is a 1st order principle in dist-systems, but "other folks" added it back.

[2017-04-13 16:37] yujuhong commented on #44442
The function should switch to using the /stats/summary endpoint.

[2017-04-13 16:39] gmarek commented on #44442
Yup, I did just that in #44453. Do you know if any other tests might have stopped working?

[2017-04-13 16:43] jayunit100 commented on #30305
yeah, maybe running w/ really-crash=true is the workaround, i suspect the reproduction  scenario is slow network, high max inflight, high apiserver capacity.

[2017-04-13 16:45] jeremywadsack commented on #18226
Fixed. Also it appears the documentation moved again. https://kubernetes.io/docs/api-reference/v1.6/#httpgetaction-v1-core

[2017-04-13 16:45] everett-toews opened #44454 "fluentd-elasticsearch addon: Upgrade the elasticsearch-logging ReplicationController to a Deployment"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

**What happened**:

Currently the elasticsearch-logging controller of the fluentd-elasticsearch addon uses a `ReplicationController` for deployment. See https://github.com/kubernetes/kubernetes/blob/85378ad34fc5cd33aceb2ee0a4d7c1772ad2a816/cluster/addons/fluentd-elasticsearch/es-controller.yaml#L2

**What you expected to h

[2017-04-13 16:55] yujuhong commented on #44450
Did you modify the yaml file using an editor (e.g., vim)? If the editor creates a temporary file in the same directory, kubelet can get confused and thinking that's a new pod (with the same name & namespace). When the temporary file gets removed, kubelet'd inadvertently delete the pod from its cache. Since kubelet relies on inotify for changes, if it doesn't get notified for any new changes from t

[2017-04-13 16:57] everett-toews commented on #44454
I took a quick stab at this using the following manifest for the `es-controller.yaml`

[code]

However when I did a `kubectl apply -f es-controller.yaml` I get the following error in the elasticsearch-logging-v1 pod.

[code]

A little bit of diagnostic info

[code]

It _seems_ to be related to how ElasticSearch discovers its master nodes on port 9300 not playing well with a `Deployment`.

At this

[2017-04-13 17:01] lanwenchang commented on #42621
i got same problem with @pmsteil ,  how to fix it?

[2017-04-13 17:02] wongma7 commented on #43300
I don't think #42033 will fix this issue entirely either...hard to say whether it's intended to fix this issue or just a coincidence :). Disregarding whether it's a good/bad approach, there is still a minute-ish window for a detach to never occur *if* you delete the pod during a polling window which is IMO totally reasonable to expect
1. Controller starts
2. As reported in this issue, a pod from p

[2017-04-13 17:14] yujuhong commented on #37414
I completely missed the issue :-\

kube-proxy uses the host network, so it's not blocked by kubelet registering and getting the pod CIDR. Can't kube-proxy wait and/or retry?
@freehan is the bug still valid or has it been fixed?

[2017-04-13 17:27] joan38 commented on #5017
What's the reason for closing this issue?

[2017-04-13 17:39] urzds opened #44458 "Pod from DaemonSet stuck in Unknown state because of NodeLost"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): unknown daemonset nodelost

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose

[2017-04-13 17:54] yujuhong commented on #44409
Are you proposing to implement one out of the 3 solutions, or all 3?

[2017-04-13 17:56] perotinus commented on #44384
That's a great summary. Thanks @irfanurrehman! The only thing I can think to add is that adding support for checking API access for the credentials is a step above nice-to-have, since we can't guarantee that the RBAC credentials (or the user-provided credentials, for that matter) will work properly, and having a just-created Federation not work because the credentials are invalid is a pretty poor

[2017-04-13 18:08] freehan commented on #44409
@yujuhong I think any one of the solution will solve most of the problems.

@feiskyer I do not think all features in kubenet are needed. It should depend on specific setup and use case. Plugins can get creative.

[2017-04-13 18:09] msau42 opened #44460 "Refactoring: consolidate volume util files"
I see:

pkg/volume/util.go
pkg/volume/util/util.go
pkg/volume/util/volumehelper/volumehelper.go

Can we consolidate them all into one?  Or better document what each file is supposed to encompass?

cc @kubernetes/sig-storage-misc

[2017-04-13 18:14] rickypai commented on #43632
I think validation to reject the option if the pod is using the host network makes sense.

`ConfigMap` is still a static file though. And if you inject a file that replaces `/etc/hosts`, what are you going to do with existing dynamic hostnames that are added by kubelet? https://github.com/kubernetes/kubernetes/blob/2899f47bc86695ac8093c66cef2cc02d55c6a23d/pkg/kubelet/kubelet_pods.go#L221-L225

[2017-04-13 18:16] freehan commented on #37414
This is not fixed. We are moving kube-proxy to daemonset. I am wondering if there is some easy config to make sure kube-proxy starts up after node status becomes ready or some sort.

[2017-04-13 18:20] bradbeam opened #44461 "openstack cloud provider fails to reauthenticate"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
no

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

cinder / openstack / reauth

**Is this a BUG REPORT or FEATURE REQUEST?** (choose on

[2017-04-13 18:20] yujuhong commented on #37414
yay!

Is making kube-proxy blocked until node is ready not an option?

[2017-04-13 18:21] ReSearchITEng commented on #43856
Thanks @youngdev, after stopping all the node registered successfully.
I can confirm the issue is most likely due to reinstalling the kube* few times.

[2017-04-13 18:41] liggitt commented on #44390
how are you starting your kubelet (specifically, the `--api-server`, `--kubeconfig`, and `--require-kubeconfig` flags)? that stack appears as if the API client held by the kubelet is nil

[2017-04-13 18:45] mml commented on #42898
And again.  https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44421/pull-kubernetes-unit/26205/

[2017-04-13 18:49] mml commented on #42898
This test in under federation.  Not sure why the robot chose @apelisse.  @nikhiljindal or @madhusudancs can you take a look?

[2017-04-13 19:09] Random-Liu commented on #44401
This failed only 1 time in the last 2 weeks.

This seems to be a race. In the ubuntu image, the hostname is initially `ubuntu-trusty` and changed to real hostname `tmp-node-e2e-287c7a90-e2e-node-ubuntu-trusty-docker10-v2-image` later.

[code]

But the failure is complaining about the old node name `ubuntu-trusty`.

[2017-04-13 19:13] cpo commented on #44220
In this case "kubem" (the hostname for this master).

Thanks!

[2017-04-13 19:13] #44220 closed

[2017-04-13 19:36] Random-Liu commented on #33048
@yujuhong LGTM.

[2017-04-13 19:39] timstclair commented on #44448
I can't remember what the original reasoning for this decision was, but it was a conscious decision. I may have only been looking at kubectl usage at the time. Also note that there are restrictions in the server for which combination of parameters can be specified: https://github.com/kubernetes/kubernetes/blob/d2733394ca664e4e536d0f8e27bf7edbbb53dec0/pkg/kubelet/server/remotecommand/httpstream.go#

[2017-04-13 19:52] bgrant0607 commented on #43628
I also don't buy overloading PV/PVC, if the result isn't a filesystem mounted into a pod.

[2017-04-13 19:52] ncdc commented on #44448
re parameter combinations, I'm definitely familiar, but that won't be an issue as we will be passing in stdin.

Our flow is a user does `oc start-build ... --from-dir=x` which streams the contents of dir x to the container's stdin, and assuming the transfer is successful, the http handler returns an OpenShift `api.Build` object. Once the container receives stdin, it tries to perform a build. The u

[2017-04-13 20:20] yujuhong commented on #44448
I don't think adding this would be an issue (@timstclair, correct me if I am wrong).

On the other hand, we don't have test coverage for kubelet endpoints (which are not versioned) other than kubectl tests. If this is an important feature for openshift, @ncdc maybe you can help add a test? :-)

[2017-04-13 20:22] ncdc commented on #44448
I can work on a test but I doubt I'll have time until next week at this point. But I'd be happy to do it.

[2017-04-13 20:35] madhusudancs commented on #42898
Assigning this to @csbell for now. We need to triage this.

/assign @csbell

[2017-04-13 20:36] madhusudancs commented on #42898
@apelisse feel free to unassign yourself.

[2017-04-13 20:44] vishh commented on #44448
Just curious, other than the technical implementation regression aspect of
this issue, does it hurt to have stdout and stderr set by default? IIUC, in
the oc build use case, stdout/stderr is ignored.

From an API standpoint, is it really a regression to have stdout/stderr set
by default except if `kubectl run` or `kubectl attach` attempts to attach
even if interactive mode is disabled?

On Thu, Ap

[2017-04-13 20:46] liggitt commented on #44448
I think it blocks unless you consume the data, right?

[2017-04-13 20:54] ncdc commented on #44448
No, the issue isn't blocking re consumption. The problem is that as a client, I send an options struct that says "I only want stdin", so I only create a spdy stream for stdin (plus the always-present general-purpose error stream). By having the server default stdout and stderr, it's expecting the client to create streams for stdin, stdout, and stderr. This mismatch results in the server waiting fo

[2017-04-13 21:05] ixdy commented on #39224
cc @resouer, @WIZARD-CXY

[2017-04-13 21:05] ixdy commented on #43221
cc @resouer, @WIZARD-CXY

[2017-04-13 21:13] ixdy commented on #43221
closing as dupe of #39224

[2017-04-13 21:13] dchen1107 commented on #43632
I don't have any concern from CRI perspective, and the proposal look fine to me from the high level.

 But can I request not stretching the feature to support dynamic changes? Pod can be deleted, and re-created, thus the pod's IP might be changed. Currently we only allow container image being updated in PodSpec. Unless we allow updating the new field, let's call it etcHost for now, in PodSpec, it

[2017-04-13 21:13] mikedanese commented on #44330
Ahhhh, ya that's not going to work. We don't plan on enabling token review API in GKE. You can either configure prometheus to pull metrics by hitting the apiserver proxy directly or you can create a client certificate using the certificates API for prometheus to use when contacting kubelets.

[2017-04-13 21:17] ixdy commented on #39224
Ah, I think I know what's wrong here.

#38730 added a check (`verify-kube-binaries) which is called before `kube-up` to make sure that all necessary binaries exist.

This works fine if you run kube-up.sh from a kubernetes.tar.gz release tarball, but not if you clone the repo and try running `kube-up.sh`, as the ubuntu docs suggest, since there's no version information available.

The ubuntu provid

[2017-04-13 21:18] #43221 closed

[2017-04-13 21:20] bgrant0607 commented on #44111
@pwittrock @ymqytw I agree with the backward-compatibility issue raised by @liggitt.

I'll also point out that we do want to be able to inject env vars, such as using PodPreset.

Today we don't allow updates of env on pods, but some day we will, and we currently use the same merge definition for pod templates in controllers as for pod specs in pods.

However, since the ordering is not currently gu

[2017-04-13 21:47] coryfklein commented on #44098
To reproduce this, I created 1200 json files representing services:

[code]

Then created the services 5 at a time:

[code]

Then count the number of services that have conflicting NodePorts:

    kubectl get service -o yaml --all-namespaces | grep "nodePort" | sed -e 's/^[[:space:]]*nodePort: //' | sort -d | uniq -c

[2017-04-13 21:48] dchen1107 commented on #44448
I think this is a regression, and we should introduce back the ability to selectively enable both stdout and stderr. @ncdc How urgent this is? Can we live with the workaround and fix it in 1.7? Or we need a patch?

[2017-04-13 21:59] bgrant0607 commented on #44160
FYI, metadata.generation is not set for every resource yet.

#7328

[2017-04-13 22:00] perotinus commented on #39986
Another work item: re-enabling the test disabled in #43654

[2017-04-13 22:01] bgrant0607 commented on #22768
metadata.generation: #7328

[2017-04-13 22:02] #43323 closed

[2017-04-13 22:13] ncdc commented on #44448
Not urgent

On Thu, Apr 13, 2017 at 5:49 PM Dawn Chen <notifications@github.com> wrote:

[2017-04-13 22:16] perotinus commented on #39986
Another work item: determining how to handle status reporting. We cannot necessarily simply dump the status back into a Kubernetes object: a developer may well want to know how the replicas were distributed among clusters.

[2017-04-13 22:17] gp1105739 opened #44471 "throughput of apiserver"
I create a benchmark that sends a batch of "get pods" command to cluster and find that apiserver can only handle 23 command/sec. I want to know if there is any flag can be used to increase the throughput and which part in apiserver is the bottleneck in this case. Thank you.

[2017-04-13 22:24] mtanino commented on #44297
/cc @saad-ali

[2017-04-13 22:35] dashpole commented on #41055
I completely agree with @yujuhong.  I think what I was attempting to point out is that we have a lot of assumptions about how we use different portions of a pod, and where the "correct" one is in the kubelet.  Pods in the pod manager are from the API server, but statuses from the kubelet are in the status manager, for example.  While I was initially coming from a safety perspective, I realize that

[2017-04-13 22:41] fraenkel commented on #27114
The change is easy to implement however what is the correct behavior given what is done today.
If liveness runs after readiness, the delays that are there today would be odd. Like you already stated, it is hard to pick a value but people did.

[2017-04-13 22:48] glesage commented on #41916
I'm seeing this exact issue currently on Google Cloud Container Engine with k8s 1.6.0

We're also just scaling up the size of the nodes in order to offset this issue as @jswoods mentioned, but this is pretty expensive for us (we're a startup).

I've found a LOT of other issues that seem related, or essentially the same thing on other providers, or other `ideas` for what the issue is. Would love so

[2017-04-13 22:51] jstangroome opened #44473 "/etc/hosts is overwritten despite code stating it should not be overwritten"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): etc/hosts exists overwritten

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6b

[2017-04-13 23:00] jstangroome commented on #44473
It may be as trivial to just change the if line to:
`if _, err := os.Stat(fileName); err = nil {`

But it may be more idiomatic to change the overall implementation of the function and use the following to avoid a race-condition in between `stat`-ing the file and writing it:
`if file, err := os.OpenFile(fileName, O_CREATE, 0644), os.IsExist(err) {`

[2017-04-13 23:11] ivan-section-io commented on #44473
With a high chance of several containers starting at the same time, I feel may be worth the extra few lines to avoid such `os.stat`/`osutil.WriteFile` race state, and do a single `os.OpenFile`, write & close. (I haven't personally tested `os.OpenFile( ..., os.O_WRONLY|os.O_CREATE, ..)` returns `err` on existing files - but I believe it should)

[2017-04-13 23:25] rickypai commented on #43632
the field in PodSpec won't be dynamic. I imagine something like this:

[code]

validation ensures that `IPString` is only present if type is `Static`.

then IP is gathered at Pod creation time. In kubelet's `ensureHostsFile`:

[code]

[2017-04-13 23:28] jcbsmpsn opened #44476 "kubectl --token is not honored when ~/.kube/config has an authentication token"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

kubectl token

BUG REPORT

**Kubernetes version** (use `kubectl version`):
kubectl version
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"20

[2017-04-13 23:36] jayunit100 commented on #43561
@Pensu
- hardware (memory, docker version, etc), also
- `cat /tmp/kube-*.log`, anything interesting there?

[2017-04-13 23:49] k8s-merge-robot opened #44477 "DumpFederationLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gke-prod-parallel/9418/
Failed: DumpFederationLogs {e2e.go}

[code]

[2017-04-13 23:55] jayunit100 commented on #44422
Cant reproduce this anymore.

[2017-04-13 23:55] #44422 closed

[2017-04-13 23:56] jayunit100 commented on #44471
`--max-inflight-requests=`

Please close and move to stackoverflow, this is not a real issue but rather a request for help...

[2017-04-14 00:10] gp1105739 commented on #44471
Ohh I see. But it seems that --max-inflight-requests= still doesn't unbottleneck it.

[2017-04-14 00:10] #44471 closed

[2017-04-14 00:20] msau42 commented on #38228
I have PR #43878 to fix the emptydir volume os.Rename issue.

[2017-04-14 00:21] flx42 commented on #44080
No I think they are fine, you only need to call `nvidia-modprobe` when you use containers.

[2017-04-14 00:25] thockin commented on #43632
Why do you need pod IP?  Why not use 127.0.0.1 ?

On Thu, Apr 13, 2017 at 4:25 PM, Ricky Pai <notifications@github.com> wrote:

[2017-04-14 00:33] perotinus commented on #44477
cc @madhusudancs

[2017-04-14 00:45] Thermi opened #44478 "Make fsType specifyable in volumeClaimTemplates"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No,

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): volumeClaimTemplates fstype

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choo

[2017-04-14 00:46] madhusudancs commented on #44477
Caused by new kubetest image. Rolling back to the previous version in https://github.com/kubernetes/test-infra/pull/2492.

[2017-04-14 00:47] perotinus commented on #42761
Hmm. I'm not quite sure what the right path forward is here. If we want to get something done right now, then I think the proposed solution of using colons is the way to do that. I'm concerned that adding this will tie us to supporting it going forward, or that something in the future will require a colon and we'll have tied our hands: it's dangerous to choose an arbitrary sentinel character, beca

[2017-04-14 00:48] fejta commented on #44477
`DumpFederationLogs` should only run if `o.federation`, not always:
https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L171

[2017-04-14 01:03] rickypai commented on #43632
The use-case that i'm more interested in is support for nodeIP, but I'm using podIP as an example because it's easier to illustrate with current code. But yes I agree with you that pod IP might not make sense since you have access to localhost already.

[2017-04-14 01:06] Juanchimienti commented on #44208
I am not able to reproduce the problem, Now is doing as you say once it reach 95% inodes the kubelet starts deleting old images.

[2017-04-14 01:06] #44208 closed

[2017-04-14 01:09] rickypai commented on #43632
sorry for the scope-creep. I'm just afraid using IP as a string field makes it hard to add support for other IP sources should that ever be an option.

but it's probably premature right now. for now, I'll just proceed with:
[code]

[2017-04-14 01:18] madhusudancs commented on #44402
There is not really a good reason. When we were creating these jobs, it felt like the separation would help us in debugging. I haven't seen things play out that way in reality ever. We could just use the regular release bucket.

However, I don't think regular kubernetes build jobs build and push hyperkube image which is required for federation (@ixdy correct me if I am wrong). So we still need a s

[2017-04-14 01:19] fejta commented on #44402
Upgrading the regular build jobs to always do a federation build sgtm

[2017-04-14 01:29] thockin commented on #43632
Given that we have a way to get node IP through downward API, why do we
need that here?

On Apr 13, 2017 6:09 PM, "Ricky Pai" <notifications@github.com> wrote:

[2017-04-14 01:31] ymqytw commented on #41898
Output of `kubectl describe` has been change in 1.6. That's why upgrade tests are failing.
But I'm not sure why it is not failing 100% from the triage board. @fejta Do you know why?
Output of 1.5 or earlier:
[code]

Output in 1.6 or later:
[code]

[2017-04-14 01:33] ymqytw commented on #41898
The timeout is [5 minutes](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L105) now. Is it reasonable to give it a little more time? @kargakis

[2017-04-14 01:55] rickypai commented on #43632
Ideally, if the applications running inside the containers have flexible ways to configure dependent hostnames like through environment variables, then downward API would be sufficient. We can probably extend the argument that the whole support for `/etc/hosts` is moot if applications supported flexible injection of dependent hostnames.

The problem is many applications don't provide this level of

[2017-04-14 01:58] WIZARD-CXY commented on #39224
@ixdy is correct.It is hard to say which approach is proper, but I recommend using the kubeadm to set up the cluster because I think it is  easier.Although it's still in beta, with some modification you can still use it to set up a production-grade cluster @gyliu513

[2017-04-14 01:59] pineking commented on #44438
@cmluciano yes, the pod is still hanging when the GPUs are available.
Actually, the status of pod is failed (expect to be pending) when it shows the message `outofalpha.kubernetes.io/nvidia-gpu`
so It can not run again when the GPUs are freed.

[code]

[2017-04-14 02:10] #44340 closed

[2017-04-14 02:12] supereagle commented on #44473
@jstangroome   Yes, this code really has error. Thanks for your report. I will fix this in a PR.

[2017-04-14 02:19] shashidharatd commented on #44402
just a small concern, if we are doing federation build for all build jobs.
is there some sort of cleanup for gcr.io registry images which we push to the project or are they gonna be there forever until manual cleanup?
if we are cleaning up old hyperkube images manually, then we might need to track all the build-jobs and their projects to do regular cleanup.

[2017-04-14 02:22] gyliu513 commented on #39224
Yes, I was already switched to kubeadm, also the `kube-up.sh` do not support running on ubuntu16.04, this is a big limitation, but seems no one is maintaining this.

Anyway, I can user kubeadm and customized ansible script to install a fresh cluster, and think this issue is low priority for now. ;-)

[2017-04-14 02:39] liggitt commented on #44476
The token arg on the command line overrides the token param in the config file, but I'm not sure the precedence of the token arg and the auth provider in the config file.

cc @cjcullen

[2017-04-14 02:45] liggitt commented on #44334
Great, thanks

[2017-04-14 02:45] #44334 closed

[2017-04-14 02:49] liggitt commented on #44305
The 10 second delay is a known issue, tracked in https://github.com/kubernetes/features/issues/95

Apply is known not to work with TPR in 1.5. This was fixed in kubectl 1.6 in https://github.com/kubernetes/kubernetes/pull/40666

[2017-04-14 02:49] #44305 closed

[2017-04-14 02:49] liggitt commented on #44285
Fixing PRs are merged

[2017-04-14 02:49] #44285 closed

[2017-04-14 02:52] #24167 closed

[2017-04-14 02:55] ixdy commented on #39224
Maybe the correct fix is to update the docs to suggest using kubeadm instead of kube-up.sh?

[2017-04-14 03:05] ixdy commented on #44402
I don't think there's any built-in cleanup right now. It is an issue we need to figure out, since we want to start building/pushing all of the images we use fairly regularly in CI.

I think a reasonable compromise for now is to push the images to somewhere besides `gcr.io/google-containers` and not worry about cleaning up.

[2017-04-14 03:07] marun commented on #42761
The docs say this is supported or 1.6, so a fix to either docs or the code is suggested.

@nikhiljindal Is this required for your work in disabling alpha features by default, so that users will have a way of enabling controllers that would otherwise be disabled?

[2017-04-14 03:14] gyliu513 commented on #39224
+1, an even more aggressive thinking is remove https://kubernetes.io/docs/getting-started-guides/ubuntu/manual/ , as this document was not maintained for a long time, the latest Kubernetes cannot work with this guidance. @ixdy

[2017-04-14 03:17] bgrant0607 commented on #34710
@soltysh We should still think about how to solve this for non-CronJob-spawned Jobs.

[2017-04-14 03:23] ixdy commented on #39224
Fine with me, though I'll leave it to the maintainers of that doc to decide.

[2017-04-14 03:24] ixdy commented on #39224
(Arguably if we delete that doc we should also delete the corresponding deprecated scripts in `cluster/ubuntu`.)

[2017-04-14 03:32] thockin commented on #43632
We have another issue open for "node-local Services" which sounds like what
you want.  I am not a big fan of the expansion of host mappings like this.
I'd rather go all the way and give nodes a static link-local address or
else solve node-local services.

@bowei

On Thu, Apr 13, 2017 at 6:55 PM, Ricky Pai <notifications@github.com> wrote:

[2017-04-14 04:02] thockin commented on #44409
I think a generic traffic0-shaping plugin makes sense.  It will work with
things like bridge, and probably not with other things, but nobody said
every plugin had to work with every other plugin.

On Thu, Apr 13, 2017 at 11:08 AM, Minhan Xia <notifications@github.com>
wrote:

[2017-04-14 04:04] thockin commented on #44409
One thing that has been on my mind is plugin installation.  Are we still
happy with the "copy a file into a special dir" mode?  Storage plugins are
moving away from this towards an IP endpoint, though I guess there's still
a discovery step that might include copying a file..

Just an open question, especially for plugin implementors.

On Thu, Apr 13, 2017 at 9:02 PM, Tim Hockin <thockin@google.com

[2017-04-14 04:11] feiskyer commented on #44409
Many network plugins have switched to DaemonSets, e.g. flannel, weave, calico, canal and so. It's much better than copying files and configuring agents.

[2017-04-14 04:15] thockin commented on #44409
They still have to copy a file into a special dir, right?

On Thu, Apr 13, 2017 at 9:11 PM, Pengfei Ni <notifications@github.com>
wrote:

[2017-04-14 04:31] James-Dao opened #44484 "how to use external etcd within kubeadm 1.6.1?"
When i have externel etcd cluster, how to use external etcd within kubeadm 1.6.1?

[2017-04-14 04:33] James-Dao commented on #44484
I found there is a flag "--external-etcd-endpoints" is for this case.

[2017-04-14 04:36] thockin commented on #24957
It's not that we (I) don't want this.  I do.  But building it in a way that
is robust enough to rely on involves some real trail-blazing.  we need a
model for imperative actions, a spec around delivery guarantees, and some
serious tests.  As far as I know, nobody is stepping up to implement this,
and I'm not sure we have bandwidth to sponsor it right now, even.

I think we'd love to hear alternati

[2017-04-14 05:07] #30213 closed

[2017-04-14 05:49] tonyaw opened #44485 "Kubernetes service can't support SCTP protocol"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No.

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
service sctp
---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
FEATURE

[2017-04-14 05:52] feiskyer commented on #44409
Hmm, yep, they still should copy binaries and configuration files to specific CNI dir (although in the containers). Having a remote plugin via IP or socket makes sense to moving those copying steps away.

[2017-04-14 06:29] JorritSalverda commented on #44330
@mikedanese is there a particular reason to deviate from the more default Kubernetes setup? Does it provide it more security? Is it because Google takes care of the master?

[2017-04-14 06:38] nikhiljindal commented on #42761
Controllers can be explicitly disabled or be disabled automatically if the corresponding API resource is disabled. My plan is to use the later. I will disable apha APIs which will automatically disable the corresponding controllers. Enabling the APIs using `--runtime-config` flag on federation-apiserver will enable the controllers.
Now I assume the same problem exists with runtime-config flag for

[2017-04-14 06:50] nikhiljindal commented on #41267
Thanks for the great writeup Madhu.

As discussed today, I see 2 use cases for federation:
* Admin sets up federation and provides it for developers to use. In this case, federation can be considered a system component and using service account sg.
* A developer who has access to multiple clusters can set up federation for his own ease of use. In this case, the developer might not have permission

[2017-04-14 06:50] bigfreeZhou opened #44486 "use cephfs-fuse in pv pvc"
I found when i use pv/pvc to mount cephfs in pod, k8s use kernel driver to mount cephfs, is there anyway to use cephfs-fuse to mount, thank you.

[2017-04-14 06:57] davidopp commented on #25319
BTW one implication of using LabelSelector on namespace labels is that it will be possible to specify "all namespaces" (which we were special-casing when we were doing it as a list of namespaces), because [empty label selector matches all objects](https://github.com/kubernetes/apimachinery/blob/master/pkg/apis/meta/v1/types.go#L762).

In light of this, I don't think it's worth adding "all namespac

[2017-04-14 07:04] #42172 closed

[2017-04-14 07:07] Pensu commented on #43561
@jayunit100 yeah, my kubelet is taking up too much memory, I have to remove /var/lib/kubelet to keep going properly, that's a separate issue to look at, closing this for now.

[2017-04-14 07:07] #43561 closed

[2017-04-14 07:22] wanghaoran1988 commented on #25319
@davidopp Do we have the final decision here? I saw some different voice in the  sig-network thread about the multiple tenant problem.

[2017-04-14 07:42] davidopp commented on #25319
I attended the sig-network meeting on April 6 and they decided to go ahead with the label-selector-on-namespace approach.

[2017-04-14 07:46] shashidharatd opened #44490 "federation: federation-controller-manager is restarted during init"
After bringing up federation control plane, most of the time we do see that federation-controller-manager pod is restarted like below:
[code]
Although there is no issues afterwards, this is just causing few seconds delay in federation-controller-manager becoming operational.

cc @kubernetes/sig-federation-bugs

[2017-04-14 07:57] dhilipkumars commented on #35183
https://github.com/kubernetes/community/pull/483

[2017-04-14 08:23] #44360 closed

[2017-04-14 08:45] vasil-moneybird commented on #44390
Hey. After a closer read of the kubelet-wrapper documentation we found out that one of our flags was wrong (the `--pod-manifest-path` to be precise). It seems to be running fine now.

[2017-04-14 08:46] #43534 closed

[2017-04-14 09:20] soltysh commented on #34710
@bgrant0607 hmmm... I was hoping this will be partially solved with GC. I'll try to reach out to you next week and we can discuss this more on Slack.

[2017-04-14 11:29] discordianfish commented on #24957
Ok cool! The history here sounded like there wasn't even an agreement that this is needed. Is that something that could piggyback on jobs? But to be fair, I'm not familiar enough with the k8s internals..

With #1615 I could at least have a 'job' sidecar for sending signals.

[2017-04-14 13:00] lostpebble commented on #27114
Understandably, this will cause unexpected behaviour because of the way people have bent their liveness probes around this at the moment.

I suggest an extra variable on `livenessProbe` perhaps? Something like `waitForReadinessProbe`.

And maybe a warning somewhere that on future versions (however far down the line) liveness probes will wait by default. Or just stick with the extra `waitForReadine

[2017-04-14 13:14] wu8685 commented on #40123
I have committed a PR. PLS take a look

[2017-04-14 14:00] joshperry commented on #34982
Same here on a 1.6 GKE cluster upgraded from ~1.3 over the last year or so. Makes it inconvenient to even use an ssh client from a container.

We're working around this by copying and chmoding the key in the local app directory from the secret mount at startup.

[code]

[code]

[2017-04-14 14:10] resouer commented on #39224
We already work out PR to deprecated all outdated scripts

[2017-04-14 14:46] ankon opened #44501 "Using 'generateName' with Jobs"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): 'job generateName' (also checked via google.com)

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report

**Kubernetes version** (use `kubectl version`):
[code]

**Environment**:
- **Cloud provider or hardware configuration**: miniku

[2017-04-14 15:01] shashidharatd commented on #40536
/assign shashidharatd

[2017-04-14 15:14] timothysc commented on #43246
It has the upstream staging directories as deps, not the repos.
Local restore works as expected.

[2017-04-14 15:35] kargakis commented on #41898
That timeout waits for the pods to run based on the API server. The rc controller is using its own cache so it may lag a bit before it actually updates the rc status. The test needs to retry for some time if the output we get back from describe does not match.

[2017-04-14 15:36] kargakis commented on #41898
In other word, `checkOutput` should also have its own retries.

[2017-04-14 15:39] nehayward commented on #8001
has anyone got this working on minikube?

[2017-04-14 15:53] thockin commented on #24957
The problem is fundamentally that a signal probably means "do this now" and
"guarantee it go done".  For example, if the guarantee was that `kubectl
signal mypod hup` would deliver the signal within 1 minute, but only
delivered the signal 75% of the time, could you rely on it?  I couldn't.

To make it really reliable we need to design a new thing in the API that
has no precedent and is fairly diff

[2017-04-14 16:07] yujuhong commented on #44409
Isn't this already included in the spec? `Plugins should generally complete a DEL action without error even if some resources are missing.`

As we've discussed, I think changing dockershim is currently easier than changing kubelet itself.

[2017-04-14 16:09] soltysh commented on #44410
@fejta based on description and logs (`should fail a job [Slow]`) you're running [1.4 version](https://github.com/kubernetes/kubernetes/blob/release-1.4/test/e2e/batch_v1_jobs.go#L191-L202) of this test, the problem was identified in [1.5 and fixed](https://github.com/kubernetes/kubernetes/blob/release-1.5/test/e2e/batch_v1_jobs.go#L191-L214) do you want me to backport [that fix](https://github.co

[2017-04-14 16:13] jayunit100 commented on #36716
cc @kubernetes/sig-big-data-misc

[2017-04-14 16:50] yujuhong opened #44503 "CRI: Clearly define the `Privileged` field in the security context"
CRI inherits the `Privileged` field from the kubernetes (and Docker) API. It's there to improve the user experience.
Since CRI is not intended to be directly user-facing, it should translate the field into a set of fields (e.g., capabilities).

At the least, we should clearly define what `Privileged` means in the CRI.

/cc @kubernetes/sig-node-api-reviews @Random-Liu @mrunalp @feiskyer @timstclair

[2017-04-14 16:54] mengqiy commented on #41898
SGTM. Going to send a fix today.

[2017-04-14 17:00] #44484 closed

[2017-04-14 17:00] kargakis commented on #44485
@kubernetes/sig-network-feature-requests

[2017-04-14 17:04] kargakis commented on #44478
@kubernetes/sig-apps-feature-requests

[2017-04-14 17:05] kargakis commented on #44473
@kubernetes/sig-node-bugs

[2017-04-14 17:07] thockin commented on #44485
I don't have any problem opening this discussion, but we have no tests for
this, so it will have to be a top-to-bottom effort.

* vet the iptables logic
* API change (pretty easy) for service ports and pod container ports
* verify that cloudprovider LBs support it
* e2e tests and test tools

On Fri, Apr 14, 2017 at 10:01 AM, Michail Kargakis <notifications@github.com

[2017-04-14 17:08] kargakis commented on #41916
@kubernetes/sig-node-bugs

[2017-04-14 17:14] k8s-merge-robot opened #44504 "DumpClusterLogs {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/960/
Failed: DumpClusterLogs {e2e.go}

[code]

Previous issues for this test: #33722 #37578 #38206 #40455 #42934 #43155

[2017-04-14 17:21] max-lobur commented on #43805
Last one solved the issue for me.
P.S. don't forget **systemctl daemon-reload**

[2017-04-14 17:31] timstclair commented on #44503
Alternatively, I think we should consider removing it. `privileged` is a docker concept, and isn't even part of the containerd API. To make it possible to remove privileged from the CRI, we would need to look at all the configuration docker sets with privileged, and make sure we provide those nobs in the CRI.

[2017-04-14 17:31] bgrant0607 opened #44505 "Need a verify script / test to confirm that new vendored dependencies have acceptable OSS licenses"
Example: No LICENSE file:

https://github.com/reconquest/loreley

[2017-04-14 17:37] yujuhong commented on #44503
^^^ I did suggest removing it here. Sorry for not being clear.

[2017-04-14 17:39] dchen1107 commented on #41916
@glesage Could you please open a new issue related to Google Cloud Container Engine with k8s 1.6.0? You can directly assign it to me.

The reason of NodeNotReady vary in different production environment. And this issue was filed initially for AWS Kubernetes, and the rest discussion is also focusing on that.

[2017-04-14 17:42] dchen1107 commented on #41916
@zmerlynn I am re-assigning this to you since you have more context on AWS than me. Feel free to re-assign back to sig-node team or myself once we ruled out the cloud provider / configuration issues. Thanks!

[2017-04-14 17:55] vishh commented on #44080
Is this currently handled by `nvidia-docker`?

[2017-04-14 18:01] kargakis commented on #44458
@kubernetes/sig-apps-bugs

[2017-04-14 18:02] flx42 commented on #44080
@vishh Yes. We used to call `nvidia-modprobe -u -c=0` only when `/dev/nvidia-uvm` was not present, but we know call it every single time (making `nvidia-modprobe` a dependency) because there were issues with the previous approach:
https://github.com/NVIDIA/nvidia-docker/commit/16a7d7da6467d7e772dd04e1f28d4786dccb73c9

[2017-04-14 18:03] timstclair commented on #44503
Ah, sorry for not reading carefully.

[2017-04-14 18:04] vishh commented on #44080
The assumption that `nvidia-docker` will be used in k8s deployments is
currently not valid. That's why I felt the GCE instructions are not valid
and that it should include an explicit `modprobe`.

On Fri, Apr 14, 2017 at 11:02 AM, Felix Abecassis <notifications@github.com>
wrote:

[2017-04-14 18:12] foxish commented on #44458
[code]

The above should work. The behavior was modified in [this PR](https://github.com/kubernetes/kubernetes/pull/37263). `--now` is equivalent to specifying a timeout of 1s, which will not force-delete the pod and wait for graceful termination (kubelet to report that pod was killed)

Not deleting the unreachable pod was a decision made in 1.5 in the interest of safety guarantees. The relevant r

[2017-04-14 18:15] flx42 commented on #44080
I know, but the GCE instructions are not only for containers/Kubernetes, right?
If you launch any CUDA code outside of a container, `nvidia_uvm` will be loaded automatically.
A call to `nvidia-modprobe` wouldn't hurt, but you will also need to do that when restarting the instance.

[2017-04-14 18:38] vishh commented on #44080
right?

Totally! I wonder how/why including a modprobe in that list would hurt.

loaded automatically.

Glad to know this.

that when restarting the instance.

Just to clarify, k8s is not attempting to invent a new packaging scheme for
nvidia drivers. Don't the existing packaging scripts (deb, rpm, etc) handle
modprobe on reboots?

On Fri, Apr 14, 2017 at 11:16 AM, Felix Abecassis <notifications@g

[2017-04-14 18:45] chrisleck commented on #43662
This appears to still be broken in 1.6.0.

[2017-04-14 18:45] zhan849 commented on #44372
@jsafrane sorry we have teared down the cluster. But I tried to paste everything related to that PV/PVC/Volume, and rests are irrelevant. For API server, that same go-routine panic happened 4~5 times and the one I pasted was the last one. Anything suspicious but missing?

[2017-04-14 18:48] jingxu97 commented on #43300
There are two race condition issues around controller restarts need to be solved here
Issue 1. a pod is deleted during the controller crash. After controller starts, this pod and its volume information will be lost from the desired state.
Issue 2. podAdd event happens before nodeAdd event, so pod is failed to add to the desired state

#39732 is an effort to fix issue 1. The idea is that because no

[2017-04-14 18:52] mikedanese commented on #44330
@JorritSalverda the problem is the integration with google oauth. Access tokens need to have UserInfo and GroupInfo scopes in order for us to fill out the full kubernetes UserInfo object. These scopes say that google is allowed to give your email and group info out to people with this token. Generally the tokens that we see in GCP do not have this scope. It's possible that we could enable the toke

[2017-04-14 18:53] jingxu97 commented on #41142
@adambom are you still working on the feature? Could you list all the changes you will need for this feature? @41144 seems the first step?

[2017-04-14 18:57] chrisleck commented on #39897
Still appears to be broken in 1.6.0.  Should we re-open this issue?

[2017-04-14 18:58] caesarxuchao opened #44507 "Garbage collector should support non-core APIs"
Currently the garbage collector does not handle non-core APIs, like the APIs created via Thirdparty Resource or via the aggregated apiserver.

To support the non-core APIs, Garbage collector needs to:
* dynamically adjust the resources it watches for ([here](https://github.com/kubernetes/kubernetes/blob/v1.6.1/pkg/controller/garbagecollector/garbagecollector.go#L98))
* use a dynamic RESTMapper whe

[2017-04-14 18:58] jsravn commented on #43300
@jingxu97 it is this change https://github.com/jsravn/kubernetes/commit/5d3c1da39c2540ff35169e3e61ff69b2c85d98c3. I can do a PR for it on Monday.

[2017-04-14 19:00] caesarxuchao commented on #39816
I think the original issue of "spamming error messages" was solved. I created https://github.com/kubernetes/kubernetes/issues/44507 to track the issue of "GC should support non-core API". Closing this issue.

[2017-04-14 19:00] #39816 closed

[2017-04-14 19:00] jeffvance commented on #28393
#29479 is now merged.

[2017-04-14 19:10] bradbeam commented on #44461
@xrl just posted https://github.com/gophercloud/gophercloud/issues/255 in slack that seems to be very much related. Testing locally to see if it addresses.

[2017-04-14 19:45] pnovotnak commented on #12742
What would the damage be if someone got into a **non-privileged** container in a 1.6 GKE cluster? Could they get into etcd or into the API right off the bat? Or would they need more, such as compromising a privileged container, etc.

[2017-04-14 20:08] madhusudancs commented on #44384
@irfanurrehman thanks for the great summary. I think service account with right RBAC roles should be the default path.

I don't think RBAC API version discovery is required. We should just check for RBAC v1beta1 and if it doesn't exist we should fail the pre-flight check.

Also, I am not entirely sure if it is worth supporting both `--use-credentials-only` and `--use-credential-kubeconfig=`. Latte

[2017-04-14 20:32] janosi commented on #44485
@thockin I think, there are 2 main use cases here:
* services with ClusterIP
* headless services

The actual example is about a headless service. More exactly, a headless service with a named port. The aim with this was to got an SRV record in kube DNS with protocol "_sctp".  As the kube-proxy does not create iptables rules for headless services, nor it wants to start listening on the defined port

[2017-04-14 20:41] fejta opened #44508 "Deployment tests on 1.4 GKE upgrade suites fail"
https://storage.googleapis.com/k8s-gubernator/triage/index.html#19be14db86cdc1fad53e

Fails 3 builds and 30 tests every hour.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-1.4-gci-latest-upgrade-master/788

https://k8s-testgrid.appspot.com/google-gke-latest-upgrade#Summary

/assign @liggitt @michelleN @mattfarina

FYI one way to solve this is to just d

[2017-04-14 20:44] fejta commented on #44243
Cluster is now https://storage.googleapis.com/k8s-gubernator/triage/index.html#10593569f958de2147a5

[2017-04-14 20:45] fejta commented on #44410
Yes please, or delete the 1.4 tests :smiling_imp:

[2017-04-14 20:46] thockin commented on #44485
On Fri, Apr 14, 2017 at 1:33 PM, Laszlo Janosi <notifications@github.com> wrote:

Making ti work in some-but-not-all cases would be more likely to cause
trouble, I think.  A quick test shows iptables works with SCTP.

Yeah, I didn't want to listen() at all, and the first version did just
what you say.  The problem was that I could not find a way to
trivially prove that a socket was in such a state

[2017-04-14 20:48] dchen1107 commented on #44473
I believe the issue was exist from day one since Kubelet generates its own /etc/hosts to workaround a issue from docker, and this is not a regression from 1.6. Marked it for 1.7 milestone. Please feel free to send us a pr to address the issue.

[2017-04-14 20:50] liggitt commented on #44508
Seems like this should be assigned to someone under sig-apps with access to GKE

@kubernetes/sig-apps-test-failures @janetkuo @enisoc

[2017-04-14 20:50] fejta commented on #43064
/assign
/unassign @spxtr

[2017-04-14 20:53] fejta commented on #44508
@liggitt is this the same thing as https://github.com/kubernetes/test-infra/pull/2410?

[2017-04-14 20:57] liggitt commented on #44508
Not the same. That issue and those tests were specific to kubectl, which has a smaller supported skew policy (one minor version) than kubelet/master (two minor versions)

[2017-04-14 21:05] everett-toews opened #44511 "Dependency on new namespace not resolved properly on kubectl apply/create"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG REPORT

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:

[code]

**What happened**:

[code]

**What you expected to happen**:

[code]

**How to reproduce it** (as minimally and precisely as possible):

[code]

**Anything else we need to know**:

One could say, just put all of your resources into an "all in one

[2017-04-14 21:09] yujuhong commented on #44473
There is an open PR for this: #44481

[2017-04-14 21:16] janetkuo commented on #44508
Most of Deployment test failed at the cleanup step -- deleting a Deployment and immediately checking if it's gone (expected get deployment returns an error).

The DELETE operation of a Deployment is now different. It becomes asynchronous and thus caused the failure.

Shall we just update the 1.4 test to wait for things to be deleted, instead of checking immediately?

[2017-04-14 21:29] fejta opened #44514 "Parallel jobs fail thousands of times per week, storage/networking/multizone issues"
GKE staging, prod and multizone jobs each fail ~400 times a week

Overall failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#b5cef46ee8806414caa8

Storage failures:
https://k8s-testgrid.appspot.com/google-gke-staging#Summary&sort-by-failures=
https://k8s-testgrid.appspot.com/google-gke-prod#Summary&sort-by-failures=

Multizone failures:
https://k8s-testgrid.appspot.co

[2017-04-14 21:35] flx42 commented on #44080
You mean through udev rules? It depends.
With a driver install through a 'NVIDIA-Linux-x86_64-${VERSION}.run` script, it won't be the case.
Actually, you can't even assume that **any** device in `/dev/` will be created, even if the driver is loaded.

[2017-04-14 21:36] fejta opened #44515 "Job, Disruption, CronJob, StatefulSet tests fail in upgrade suites"
Failure cluster: https://storage.googleapis.com/k8s-gubernator/triage/index.html#f074df9484809efe97f4
Testgrid: https://k8s-testgrid.appspot.com/google-gke-latest-upgrade#gci-1.4-gci-latest-upgrade-master&sort-by-failures=

Failure rates:
* Job - 350/week
* DisruptionController - 50/week
* StatefulSet - 50/week
* CronJob - 36/week

Possibly related: https://github.com/kubernetes/kubernetes/issues/

[2017-04-14 21:37] msau42 commented on #44514
/assign @jingxu97

Jing is looking into the NFSv3 failures.  It seems specific to GKE, as the GCE tests are passing.

I am looking into the multizone failures.  I have a GKE change pending to fix it.

[2017-04-14 21:40] ketkulka opened #44516 "Need ICMP reject rules for externalIPs and port as well"
**Is this a request for help?**
No

**What keywords did you search in Kubernetes issues before filing this one?**
externalIPs kube-proxy connection accepted no pods running. icmp reject rules.

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
BUG REPORT

**Kubernetes version** (use `kubectl version`):
kubectl version
[code]
**Environment**:
- **Cloud provider or hardware configurati

[2017-04-14 21:50] ketkulka commented on #44516
@thockin @justinsb I have a suggestion for installing icmp reject rules.
Why cant icmp reject rule always present in INPUT chain? kube-proxy do not really need to check if pods are present or not for installing these rules.
For the svcip/externaip to pod-ip translation; kube-proxy anyways install the rule to do DNAT in which case the icmp reject rule from INPUT wont be hit.
In case when DNAT fails

[2017-04-14 21:54] thockin commented on #44516
That might be a clever answer - I hadn't thought of it that way.  Would need good tests and comments.

[2017-04-14 21:58] ahmetb opened #44517 "hack/update-all.sh fails on macOS: No rule to make target '.make/k8s.io/metrics/pkg/apis/custom_metrics/gofiles.mk.stamp'"
I am currently running on master = 55042b0ba9 on macOS. `hack/update-all.sh` fails with the following error:

[code]
[full error gist](https://gist.github.com/ahmetb/27a3ddb0cd946b23f852fd49cabc1326)

Any ideas?

[2017-04-14 22:03] Random-Liu commented on #44503
Agree. `Privileged` should still be supported in Kubernetes api, but should be removed from CRI.
The behavior should be defined and implemented in Kubelet.

[2017-04-14 22:05] vishh commented on #44080
@flx42

Yes.

Hmm. Is there some documentation around setting up Nvidia drivers?

[2017-04-14 22:08] yujuhong commented on #44503
It needs tobe defined in the kubernetes API first :-)

[2017-04-14 22:09] flx42 commented on #44080
http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#axzz4eGJHmY51

Particularly, you might be interested by this script:
http://docs.nvidia.com/cuda/cuda-installation-guide-linux/#runfile-verifications
(But it's a bit hacky, it's better to use nvidia-modprobe when you can).

On a ubuntu machine, I recommend simply using those 3 lines:
[code]
This will install the right udev rules. Unfortuna

[2017-04-14 22:11] jimmycuadra opened #44518 "kubelet repeatedly crashing with `runtime/cgo: pthread_create failed: Resource temporarily unavailable`"
**What keywords did you search in Kubernetes issues before filing this one?**: pthread_create; resource temporarily unavailable

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): bug report

**Kubernetes version** (use `kubectl version`):

[code]

**Environment**:
- **Cloud provider or hardware configuration**: Raspberry Pi 3
- **OS**: Raspbian GNU/Linux 8 (jessie)
- **Kernel**: Linu

[2017-04-14 22:14] vishh commented on #44080
@flx42 I'm working on providing a generic framework for installing nvidia drivers across distros using a DaemonSet. I think we can hide some of this complexity there and have most k8s users follow this recommended method. I would love to collaborate with you on that if you can afford some time.

[2017-04-14 22:27] fejta commented on #44229
This test continues to flake PRs at least once per day: https://groups.google.com/d/msg/kubernetes-sig-cli/DN56n_qvxrc/TeGbrMz1DgAJ

[2017-04-14 22:27] fejta commented on #41898
FYI, this test continues to flake PRs at least once per day: https://groups.google.com/d/msg/kubernetes-sig-cli/DN56n_qvxrc/TeGbrMz1DgAJ

[2017-04-14 22:41] mml commented on #44229
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/44513/pull-kubernetes-e2e-gce-non-cri/7686/#k8sio-statefulset-k8sio-basic-statefulset-functionality-statefulsetbasic-should-provide-basic-identity

[2017-04-14 22:41] rickypai commented on #43632
Thanks for all the feedback @thockin.

I'm well aware of node-local services, but it seems like progress on the proposal https://github.com/kubernetes/kubernetes/pull/28637 is stalled. I believe node-local services would be the proper way to address the use case I described, especially with the "locality" concept you described in https://github.com/kubernetes/kubernetes/pull/28637/files#r94002246

[2017-04-14 22:45] flx42 commented on #44080
I won't be able next week (unless you're also attending DockerCon?). I might be able to help later.

I think it's going to be challenging to have a truly cross-distro method, some users will use `.run` files, other will use the official packages. CoreOS Container Linux is particularly [complicated](https://github.com/Clarifai/coreos-nvidia)

[2017-04-14 22:45] quinton-hoole commented on #43433
As per my comments in [the doc](https://docs.google.com/document/d/1h3ULIc65gzv-9i-Pi6akBC_rt9QlNtHDqKCIc06gVV8/edit#heading=h.kcboafgydmlo), I think that there are two separate questions here:

1. Do we want to support RBAC on Federated API objects (e.g. "is Alice allowed to create Federated ReplicaSets in namespace X?". I think that the answer is yes, but not in v1.7.
2. Do we want to Federate R

[2017-04-14 22:48] ReSearchITEng commented on #43815
Thanks all for help.
Finally fully working k8s 1.6.1 with flannel. Everything is now in ansible playbooks.
Tested on Centos/RHEL. Preparations started for Debian based also (e.g. Ubuntu), but there might needs some refining.

https://github.com/ReSearchITEng/kubeadm-playbook/blob/master/README.md

PS: work based on sjenning/kubeadm-playbook - Many thanks @sjenning !

[2017-04-14 22:48] ahmetb commented on #44517
`make all` fails with same error:

[code]

[2017-04-14 22:50] glesage commented on #41916
I see, no problem will do thks @dchen1107

[2017-04-14 23:09] mrunalp commented on #44503
SGTM 👍

[2017-04-14 23:16] msau42 commented on #44377
The nfsv3 issue will be fixed in GKE v1.5.7, which is not out yet.

[2017-04-14 23:30] mikedanese commented on #43949
This is fixed.

[2017-04-14 23:30] #43949 closed

[2017-04-14 23:32] supereagle commented on #44501
`kubectl apply` will verify the existence of the resources before take action. If the resources do not exist, it will firstly create them. If use `generateName`, the resource name is not yet generated when verify the existence of the resource.

I will submit a PR to fix this. Currently, you can use `kubectl create` instead of `kubectl apply` as a workaround.

[2017-04-14 23:33] riturajtiwari opened #44521 "[GKE] Service of type LoadBalancer stays stuck if loadBalancerIP is static"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):
"external ip not assigned on GKE " and variants
---

**Is this a BUG REPORT or FEATUR

[2017-04-14 23:34] nimeshksingh opened #44522 "Label selector not supported in kubectl taint"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.): taint, selector

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): BUG

[2017-04-14 23:43] ketkulka commented on #44516
I can give a shot at testing it. I didnt find a good reference document / todo for testing such changes. If you can help me locate it; I can give it a try.

[2017-04-15 00:01] kargakis commented on #43632
I don't have a strong opinion on this topic but it seems that it should be addressed as part of https://github.com/kubernetes/kubernetes/pull/28637. @therc what is the status of the proposal?

[2017-04-15 00:03] yujuhong commented on #43632
I am not familiar with the node-local services and its progress, but if this can satisfy the use cases, I'd suggest that not adding new fields to the pod API for a quick workaround.

[2017-04-15 00:05] kargakis commented on #44508
I thought we already addressed those as part of https://github.com/kubernetes/kubernetes/issues/42449.

[2017-04-15 00:17] kargakis commented on #41898
@fejta should it show up in http://storage.googleapis.com/kubernetes-test-history/static/index.html?

[2017-04-15 00:23] kargakis commented on #41898
Hm, this seems to fail in the upgrade tests. @mengqiy this failure seems to be related to an image name change as you already pointed out before. Mind finding what changed the test to use that image and fix the image name?
[code]

[2017-04-15 00:30] mengqiy commented on #41898
It is actually the key name has been changed in the key-value pair, not the value.

As I pointed out in https://github.com/kubernetes/kubernetes/issues/41898#issuecomment-294063237:
before expected key:
[code]
now expected key:
[code]

[2017-04-15 00:30] janetkuo commented on #44508
I think we only fixed 1.5 (by updating 1.5 reaper)

[2017-04-15 00:35] liggitt commented on #44508
If tests from a previous version had to be changed to pass against the 1.6 API, does that mean we changed the API contract?

[2017-04-15 00:40] kargakis commented on #44508
Or we poorly planned the tests in our previous versions.

[2017-04-15 00:45] janetkuo commented on #44508
I think so. It's caused by DELETE becoming asynchronous

[2017-04-15 00:45] rickypai commented on #43632
I feel the original proposal got digressed due to the my zealous talk of node IP support. Allow me to clarify:

`/etc/hosts` serves several use cases:
1. overriding external hostname with a specific IP. i.e. if I want to say mock out an external hostname like `foo.com`
2. overriding a hostname with localhost. i.e. if I want to override `foo` to point to `127.0.0.1`
3. if we allow dynamic injection

[2017-04-15 00:57] gyliu513 commented on #39224
close this one as we are planning to deprecate those scripts.

[2017-04-15 00:57] #39224 closed

[2017-04-15 01:07] yujuhong commented on #33048
I don't think we need labels, and I'd prefer renaming many of the fields. Will comment later on the PR.

[2017-04-15 01:22] kargakis commented on #41898
Hm, this is unfortunate. These kubectl tests should really be unit tests.

[2017-04-15 02:02] kargakis commented on #44515
No, this is unrelated.

@kubernetes/sig-apps-test-failures

[2017-04-15 02:18] mtanino commented on #44297
CC @kubernetes/sig-storage-bugs

[2017-04-15 04:15] thockin commented on #43632
I understand the third case, but I'd like to consider other options to
solve that, first.  I think the rest is uncontentious.

On Fri, Apr 14, 2017 at 5:45 PM, Ricky Pai <notifications@github.com> wrote:

[2017-04-15 04:44] luckyfengyong opened #44524 "Heapster fail to be started in Kubenetes Cluster installed by kubeadm 1.6.0, because the resource request/limit are changed with a very large number by some unknown component"
**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6+", GitVersion:"v1.6.2-beta.0.21+2d31e28fa69e15", GitCommit:"2d31e28fa69e152965b3e5f7de96a2

[2017-04-15 05:13] luckyfengyong commented on #44524
BTW, the kubedashboard service is created successfully

Compared with the two yaml files, I removed the resource section and label of kubernetes.io/cluster-service: "true". However I get the same problem.

Please refer to following for the result of kubectl get deployment heapster-v1.3.0 -o yaml --namespace=kube-system
[code]

[2017-04-15 05:35] davidopp commented on #44259
Yeah I don't think this is worth doing. We shouldn't ask people to change their configs unless we have a good reason. I haven't really heard complaints about the current approach (though I agree the words we use now are very long), and as @jayunit100 it allows people to create configs that we will need to reject in validation.

I'm going to go ahead and close the issue, but if someone feels strong

[2017-04-15 05:35] #44259 closed

[2017-04-15 09:27] pawelprazak commented on #12742
IFAIK, by default, it's game over, because you get access to
/var/run/secrets/kubernetes.io/serviceaccount and you can just create a
privileged container, take a look at this article:
https://medium.com/@CornflakeSavage/capturing-all-the-flags-in-bsidessf-ctf-by-pwning-our-infrastructure-3570b99b4dd0

also there is a problem of restricting access to AWS or GCE instance
metadata, and effectively to

[2017-04-15 09:58] jayunit100 commented on #44501
Do We need to update the documentation of how kubectl should work with generated names as part of fixing this issue ?  I'm not sure what the semantics is there, after all you can either generate more names with unique resources OR modify existing resources....?

[2017-04-15 11:18] #44074 closed

[2017-04-15 11:20] tyranron commented on #44236
Any suggestions why `apiserver` tries to resolve `localhost` on `8.8.8.8`?

[2017-04-15 12:48] JorritSalverda commented on #44445
Perhaps the even more liberal toleration below would be best for all 3, although there's no way to avoid those applications to get scheduled on your node in that case.

[code]

[2017-04-15 14:17] bradbeam commented on #44461
looks like that patch addressed it

[2017-04-15 15:10] z1nkum opened #44528 "volumes/nfs example: service name instead hardcoded IP"
**Kubernetes version** (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.1", GitCommit:"82450d03cb057bab0950214ef122b67c83fb11df", GitTreeState:"clean", BuildDate:"2016-12-14T00:57:05Z", GoVersion:"go1.7.4", Compiler:"gc", Platform:"darwin/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.6", GitCommit:"114f8911f9597be669a747ab7

[2017-04-15 16:03] raesene commented on #41038
On this, I'm not sure you'd need to get agreement on an exact set of ciphers to address the issue.  Generally scanners are going to flag up any use of 3DES as an issue, so just dropping support for that would help from a compliance standpoint and realistically there are very few possible clients which can't do better than 3DES

Testing a sample 1.6 kubeadm cluster with https://github.com/drwetter/

[2017-04-15 17:27] StevenYCChou commented on #39986
interesting in the subjects but also at the same time I felt like @perotinus is the dedicated person working on it. Is it possible to contribute as a supporter around the topic of 1) status reporting and 2) replicas distribution report?

[2017-04-15 18:38] smarterclayton commented on #12742
The plan for GKE is to disable the ABAC mode for service accounts, but
that is a breaking change for existing users.  @cjcullen can point you
there if you need more info, not related to this issue.

[2017-04-15 18:54] pnovotnak commented on #12742
So, if RBAC is enabled, the situation is clearly better, unless someone
gets into a pod with too much access. So, the game is keeping an attacker
out of pods with what roles? Instance metadata is a good point... Can an
attacker get everything they need from that?

Any other ways into etcd?

On Apr 15, 2017 11:38, "Clayton Coleman" <notifications@github.com> wrote:

[2017-04-15 18:56] cblecker commented on #44517
What's your `go version && go env` ? It looks like you're erroring out on the `make generated_files` step, which succeeds for me. Likely a local environment issue.
/assign

[2017-04-15 18:57] smarterclayton commented on #12742
Would be better to move this discussion to the threat model PR in
kubernetes/community

[2017-04-15 18:59] k8s-merge-robot opened #44529 "ListResources Down {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-serial/965/
Failed: ListResources Down {e2e.go}

[code]

Previous issues for this test: #42305

[2017-04-15 20:14] #36456 closed

[2017-04-15 20:20] radeksimko commented on #42599
I had the exact same problem (based on the log). The `link signal: killed` made me think this may have something to do with resources (un)available for the build - specifically I suspect the process is being killed due to the lack of available memory.

After increasing the allocated memory I watched `docker stats` for real usage an I found the build process is quite memory-hungry (~2.7GB at peak).

[2017-04-15 20:31] davidopp commented on #25625
Related:
https://github.com/jamiehannaford/coreos-reboot-operator

[2017-04-15 21:01] janosi commented on #44485
Regarding testing whether the socket is in use already: what about a small test tool program that tries to bind on the IP+port given as parameters? If the IP+port is already in use,  bind() fails with error  "address already in use". I tried it via binding via the syscall API first and then trying to re-run the same on the same IP+port. The 2nd bind attempt failed.
Regarding cloud providers vs SCT

[2017-04-15 21:17] ahmetb commented on #44517
[code]

[2017-04-15 21:26] cblecker commented on #44517
Try running `brew update && brew upgrade` on your environment to update to go1.8.1, then run a `git clean -ffxd` on your k8s.io/kubernetes directory.

[2017-04-15 21:28] ahmetb commented on #44517
Today it's failing at a different spot (`hack/update-generated-docs.sh`) after running for 8 mins:

[code]

[2017-04-15 21:37] thockin commented on #44485
I was trying to avoid shipping another custom test tool, but maybe that's
the end result.

Re clouds, I guess we "just" need to verify that cloud-provider code sets
an appropriate event when it decides to not create an LB.

We'll also need to check setup code for providers wrt firewalls for more
than TCP/UDP.

I am not against this change, it's just quite a lot more than adding an
enum value :)

O

[2017-04-15 22:08] ahmetb commented on #44517
Actually having progress. Now it failed at `generate-swagger-spec`.  It requires etcd.  [This doc](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md) actually documents that. So it's my bad.

[code]

[2017-04-15 22:10] cblecker commented on #44517
`brew install etcd` should get you up and running then

[2017-04-15 22:38] lorenz commented on #44236
Have a look at your host's `/etc/hosts` and see if it contains localhost. This was the problem on my setup with exactly the same configuration.

[2017-04-15 22:47] ahmetb commented on #44517
Yes now it works, closing this issue. Thank you.

[2017-04-15 22:47] #44517 closed

[2017-04-16 00:36] klausenbusk commented on #4914
Any update on this? @brendandburns

[2017-04-16 01:34] etotheipi commented on #32905
So six months later I finally get back to this and I discovered the problem -- it had nothing to do with kubernetes:  http://stackoverflow.com/a/30993130

Basically, a huge quirk with clustered zookeeper that is not documented.  My config for server.2 looked like this:

[code]

And needed to look like this:
[code]

Because of this, the connection manager was trying to bind on 2888 and 3888 using t

[2017-04-16 01:34] #32905 closed

[2017-04-16 02:20] debianmaster commented on #19764
facing same issue, any officially suggested workarounds for this problem?

[2017-04-16 02:57] debianmaster commented on #19764
nm found it!

[2017-04-16 03:34] feiskyer commented on #44503
LGTM.

It seems docker translate `Privileged` to a few oci configurations, including

* Enable all capabilities
* Add all host devices
* Clear readonly on some volumes, e.g. cgroups and /sys volumes
* Clear security operations, e.g. apparmor

There is one concern of this: how could runtimes identify the container is privileged equivalent to docker without an explicitly `privileged` field?

[2017-04-16 03:42] TracyBin opened #44532 "kubedns can't resolve kubernetes.default"
### kubeadm  setup

[code]
Below is log of kubedns
[code]
The service of kubernetes and hepaster have been registered on kubedns,but nslookup cmd cant resolve them. Below is resolve result.
[code]

[2017-04-16 03:54] TracyBin commented on #44532
But when modify the domain from kubernetes.default to the truth cluster IP of kubernetes in  yaml file of heapster,the heapster work properly.

[code]

[code]

[2017-04-16 04:00] aespinosa opened #44533 "manpage artifacts are not being generated in a release"
**Kubernetes version** (use `kubectl version`): 1.6.1

**What happened**:
I downloaded https://dl.k8s.io/v1.6.1/kubernetes.tar.gz
The files `doc/man/man1/kube-apiserver.1`and others just contains the 'this is an autogenerated doc place holder`

The markdown docs like in `doc/admin/kube-apiserver.md` etc. also just contains the placeholder text.

**What you expected to happen**:
I'm expecting the r

[2017-04-16 07:26] FengyunPan opened #44536 "Volume's attachments is None when volume's status is 'attaching'"
### **What happened**:
The event of pod:
---
Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  22s		22s		1	{default-scheduler }			Normal		Scheduled	Successfully assigned test2 to da-kk73n6cdy4-0-z5nbegh6ltn6-kube-minion-gka5gie7czuk
  20s		20s		1	{controller-manager }			Warning		FailedMount	Faile

[2017-04-16 07:48] davidopp commented on #42718
Can someone summarize the outcome of the meeting that presumably took place?

[2017-04-16 08:32] hwinkel commented on #27398
@jojimt I'm trying to understand the current status about multi network interfaces in context of cni 0.3.x spec and implementation. I have read the doc at https://docs.google.com/document/d/1TW3P4c8auWwYy-w_5afIPDcGNLK3LZf0m14943eVfVg but lost in space while trying to follow all the link to issues and MRs. May somebody can shed some light ? many thanks.

[2017-04-16 09:20] frozenxia opened #44538 "how to update pod-template-hash label of a replicaset?"
I want to update the pod-template-hash label of a specific replicaset created by deployment, is it possible ? if so ,then how ?

[2017-04-16 09:56] hwinkel commented on #43949
which version of kubeadm should work then?

[2017-04-16 10:15] jayunit100 commented on #44532
is this a local cluster? How did you install?

[2017-04-16 10:18] radeksimko opened #44539 "Resource Quota doesn't persist/return GenerateName"
**Kubernetes version** (use `kubectl version`): Latest

[code]

**Environment**:

It's likely a bug in the API affecting all environments, but I found this while interacting with GKE.

**What happened**:

After submitting new resource quota with generated name, the resource quota was (correctly) created, but then it didn't return the `generateName` attribute back from the API.

**What you expected

[2017-04-16 10:25] jayunit100 commented on #44522
can you post the output of

kubectl taint nodes -l myLabel=X dedicated=foo:PreferNoSchedule

(((And first of course Make sure that myLabel is on the cluster ....)))

[2017-04-16 11:26] TracyBin commented on #44532
yes,this is local cluster. I install cluster depend kuebadm.
I have resolve this problem.It looks like because of iptables. The following is my solution
- Add --iptables=false in  the docker systemd service
- iptables -F forward accept

[2017-04-16 14:50] malagant commented on #44348
I always get the same message. What does this exactly mean?

[2017-04-16 15:49] luxas commented on #38228
Soo - is there any other issues with go1.8 except for https://github.com/kubernetes/kubernetes/pull/44113 (which is about to merge)?

Otherwise I think we should proceed with https://github.com/kubernetes/kubernetes/pull/41636

[2017-04-16 16:05] kartoch opened #44540 "Complete help for kubectl top command when heapster is not in kube-system namespace"
**Is this a request for help?**: No

**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST

After switching heapster from kube-admin to monitoring namespace:

[code]

Using `--namespace` does not work either:

[code]

**Kubernetes version**: 1.6.1
**Environment**:
- **Cloud provider or hardware configuration**: bare-metal
- **OS** : ubuntu 16.04
- **Kernel** : Linux vps343998 4.4.0-62-gene

[2017-04-16 16:09] shiywang commented on #44347
/subscribe

[2017-04-16 18:08] kargakis commented on #44538
Why do you want to do that? You shouldn't mutate ReplicaSets managed by Deployments.

[2017-04-16 18:10] #44538 closed

[2017-04-16 18:29] pnpavlov commented on #43805
Hi,
not sure what is the better way to go, but as noted above, cgroupfs seems to be default in Kubernetes and systemd seems to lead to some strange results from time to time...
Anyways, I stoped by to share that I hit the same problem with Kubernetes 1.6.1 on Fedora 25 and docker 1.12...
I've set to cgroupdriver=cgroupfs in /usr/lib/systemd/system/docker.service and after
systemctl stop docker
sys

[2017-04-16 20:05] fejta commented on #43025
Clearing history

[2017-04-16 20:05] #43025 closed

[2017-04-16 20:05] k8s-merge-robot opened #44541 "Test {e2e.go}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-kops-aws-slow/1305/
Failed: Test {e2e.go}

[code]

Previous issues for this test: #33361 #38663 #39788 #39877 #40371 #40469 #40478 #40483 #40668 #41048 #43025

[2017-04-16 20:23] luxas commented on #43949
@hwinkel probably master.
Please open a new issue about this and the v1.6.1 version of kubeadm, we could see if we could fix self-hosting on the v1.6.1 branch by cherrypicking or so -- cc @andrewrynhard

[2017-04-16 23:28] mtaufen opened #44542 "Don't skip TLS verification in Vagrant provision-utils"
Especially given that it's using token auth.

https://github.com/kubernetes/kubernetes/blob/b09b20b5987510ac183eb35dde0b658cc36947af/cluster/vagrant/provision-utils.sh#L181
https://github.com/kubernetes/kubernetes/blob/b09b20b5987510ac183eb35dde0b658cc36947af/cluster/vagrant/provision-utils.sh#L206

[2017-04-17 02:55] xiangpengzhao commented on #44339
In fact, setting nodeAffinity via annotations is still supported currently. (https://github.com/kubernetes/kubernetes/pull/41617) However, it's turned off by default. If you want it be turned on, you can add flag `--feature-gates AffinityInAnnotations=true` when starting `kube-apiserver` and `kube-scheduler`. But I think `pod.spec.affinity` is a more recommended way :)
cc @davidopp @timothysc

[2017-04-17 03:13] jayunit100 commented on #44317
I thinks this is related to cqlsh relying on python probably; which isn't necessary for the example test .   Can you just spin an external cqlsh container for that functionality inside of the same namespace ?  By definition a Cassandra microservice should host a Cassandra node without providing any other functionality I assume.

[2017-04-17 05:56] supereagle commented on #44501
@jayunit100  It is really a little confused when use `generateName` with `kubectl apply`. I think there is need  to update the documentation.

[2017-04-17 06:21] nikhiljindal commented on #44160
Yes I agree. Ideally, users should be able indicate what should happen if FCP cannot guarantee all the fields of a replicaset in all clusters. Is it fine for FCP to do best effort (i.e fine to create a ReplicaSet with dropped fields if some clusters do not support a field set by the user (which is what we do today)) or should it generate an error.
Is it even possible for FCP to guarantee since a c

[2017-04-17 06:34] nikhiljindal commented on #44160
I assume @smarterclayton meant that with swagger spec FCP can know up front what all fields are supported by each cluster. So if user submits a Replicaset with a field that one of the cluster does not support, then potentially FCP can reject that Replicaset before even trying to propogate it to underlying clusters.

This can be solved by running the "figure out supported fields using swagger spec"

[2017-04-17 06:34] adohe commented on #44501
@jayunit100 @supereagle with `kubectl create` you would have clear intention: just create the resource. `apply` is a combination of `create` and `modify`, it will fallback to create the resource if not found(use namespace and name to query the resource) or it will do 3-rd way patch. So basically I would not hope to change this behavior of `apply`, with generate name it's not easy to check the exis

[2017-04-17 06:46] supereagle commented on #44501
@adohe  Thanks for your clarification. I will send a PR to update the documentation.

[2017-04-17 06:49] nikhiljindal commented on #44160
In summary, we are discussing 4 issues here:

# 1. How to determine what fields are supported in each cluster
Proposed solutions:  Use swagger spec or send an update request and compare request and response objects.
Using swagger spec seems better to me.

# 2. What to do if a field is not supported in a cluster
Generate an error or do best effort (create the object with dropped fields)
Best effort

[2017-04-17 07:00] tyranron commented on #44236
Engenius! 🤦🤦🤦🤦

That's exactly the issue.

@lorenz thanks a lot!

[2017-04-17 07:00] #44236 closed

[2017-04-17 08:09] luxas commented on #38228
Ran a new round of tests with go1.8 here: https://github.com/kubernetes/kubernetes/pull/41636#issuecomment-294422674

The issue I found was
[code]

I think that would be a perfect contribution from the community, does @msau42 @mikkeloscar @mkumatag or someone else work on fixing that, please :smile:?

[2017-04-17 08:13] jeremywu0127 commented on #42993
it seems that the `amazon linux ` is different from `centos`,  I have upgrade to `2017.03`, it still failed, but it works when using `centos 7`

[2017-04-17 08:13] #42993 closed

[2017-04-17 08:21] codependent commented on #5017
I wonder the same thing. ??

[2017-04-17 08:23] voyalab commented on #44454
@everett-toews I think Statefulsets will be good option for elastic search.

[2017-04-17 08:39] xingzhou commented on #44539
The same behavior in `kubectl edit`, I can take some investigation first.

[2017-04-17 09:13] helinbo2015 opened #44546 "can not find livenessprobe result in podstatus or get livenessprobe result by kubelet rest api."
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.): No

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): FEATURE REQUEST

by the [task example](https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/#defining-a-liveness-command), i made a l

[2017-04-17 09:24] shiywang commented on #43402
@janetkuo I would like to take a look on this, could you assign this to me ?

[2017-04-17 10:20] edevil commented on #43516
Any luck reproducing this? This happens frequently to me.

[2017-04-17 10:51] jayunit100 commented on #44501
Yup that was my hope as well; this isn't a bug b/c of the fact that apply doesn't work if you don't have a deterministic way to check.  So let's just update docs and then close the issue .

[2017-04-17 11:38] rachit1arora opened #44551 "kubeadm init Stuck at Temporarily unable to list nodes (will retry) on Centos 7"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

This issue is related to https://github.com/kubernetes/kubernetes/issues/33729
---

**I

[2017-04-17 12:13] Yancey0623 opened #44552 "Downward API does not support gpu resource"
I can not fetch the GPU limit resource by downward API using YAML like :
[code]

The errror message:
[code]

[2017-04-17 13:48] coreypobrien commented on #43730
This seems to be a result of using the namespace/service name in `ServiceController`. I can reproduce this easily by causing the ServiceController to get busy syncing a new service and then deleting and recreating a different service like this:
[code]

In the controller-manager I see logs like this (I'm using the Openstack provider in this case):
[code]
You can see that the ServiceController essen

[2017-04-17 14:02] luxas commented on #24753
@spxtr What about if I first send a truly broken PR (let's say I missed a `,` in the end of the list => compilation error)
That would show up in this statistic, right? Which might not be a flake

[2017-04-17 14:14] timothysc commented on #38228
Who on the google side is leading this?  I saw the 1.8 gc results, and it was impressive.

[2017-04-17 14:29] zhouhaibing089 commented on #44542
token auth itself is not related with TLS stuff, if `insecure-skip-tls-verify` is false, then we need to supply the `certificate-authority-data` which presents the CA.

[2017-04-17 14:30] liggitt commented on #44542
skipping TLS verification is worse when using token auth, since a mitm attack could steal the credentials. =

[2017-04-17 14:32] zhouhaibing089 commented on #44542
ah, ok, I see the point now.

[2017-04-17 14:42] derekwaynecarr opened #44556 "generic apiserver machinery should not default --admission-control"
encountered this when building service-catalog.

the generic api server machinery defaults --admission-control to AlwaysAdmit, but does not package that plugin by default.

it would be nice if the machinery defaulted the value to empty string.

will look to get a pr open shortly.

[2017-04-17 14:45] ncdc opened #44557 "components (e.g. kubelet) can wedge for multiple minutes in certain load-balancer scenarios"
We have a setup with a load balancer sitting in front of the apiservers. We noticed that if one of the apiservers goes down, it's possible for the kubelet (or other components) to get stuck trying to talk to the apiserver. In this particular case, the kubelet was trying to send a status update, and because it got stuck, the node controller marked the node NotReady for about 15 minutes, until presu

[2017-04-17 14:50] rpothier opened #44558 "cidr_set: end index too big in getBeginingAndEndIndices"
**Is this a request for help?** (If yes, you should use our troubleshooting guide and community support channels, see http://kubernetes.io/docs/troubleshooting/.):
No

**What keywords did you search in Kubernetes issues before filing this one?** (If you have found any duplicates, you should instead reply there.):

---

**Is this a BUG REPORT or FEATURE REQUEST?** (choose one):
Bug

**Kubernetes ve

[2017-04-17 14:50] cmluciano commented on #44107
xref: 44552

[2017-04-17 14:54] studyingMole opened #44559 "New pods fail when scaling up or redeploying deployment while service is running"
**Is this a BUG REPORT or FEATURE REQUEST?** (choose one): Bug report (I think) ... if it's not a bug then It would be a nice feature!

**Kubernetes version** (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVersion:"go1.7.5", Compiler:"gc"