[2020-03-04 14:39] liggitt commented on #88807
once that PR merges, will the test break for real?

[2020-03-04 14:52] nvanheuverzwijn commented on #43916
@shensonj I see two possible workaround :
1. Don't read/write anything on disk. Only use ram or a database (mysql, memcached, redis, etc.)
2. Try kernel 5.4 or greater see if it fixes anything. A lot of kernel memory patch got in so it may help.

If you run a web application, sessions will usually be written on disk. Try to write them in a memcached or redis. Good luck.

[2020-03-04 14:52] saschagrunert commented on #88807
Test is green: https://github.com/kubernetes/release/pull/1149

@droslean feel free to close if there is nothing else to do here.

[2020-03-04 14:53] droslean commented on #88807
Thanks @saschagrunert .
/close

[2020-03-04 14:53] #88807 closed

[2020-03-04 14:55] christian-weiss commented on #25766
/remove-lifecycle stale

[2020-03-04 15:24] bradmat commented on #88764
seems to be exactly the same
[code]

[2020-03-04 15:26] NicolasT commented on #43916
Alternatively, use `(posix_)fadvise` and `(POSIX_)FADV_DONTNEED` to push unneeded data out of the page cache proactively.

In general, 'due' to how memory limits on CGroups works (at least when used through resource limits on Pods in K8s), which includes accounted `kmem` (and, as such, block caches), I think it's advisable not to set `memory` limits on stateful workloads using some kind of local v

[2020-03-04 15:30] droslean commented on #88802
Last job passed. https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-k8sio-backup/1235213985955975168

/close

[2020-03-04 16:11] neolit123 commented on #88764
on my side:
[code]

to try to obtain more information about the error you can try adding `set -x` in `./hack/lib/golang.sh`

[2020-03-04 16:14] hasheddan commented on #88659
@soltysh is investigating :+1:

[2020-03-04 16:14] hasheddan commented on #88335
@soltysh is investigating :+1:

[2020-03-04 16:34] liggitt commented on #88803
cc @logicalhan

[2020-03-04 16:44] bradmat commented on #88764
Interesting, there's a difference but I doubt it's that:
[code]

set -x is useful to try, did't think of trying that. Can't however spot much more about it, though it is getting thrown directly after the go install interestingly.

[2020-03-04 16:47] YangShuting commented on #66231
I met the same problem and now it's been solved.
1、When I entered：
`kubectl get --raw "http://172.21.0.8:6443/apis/metrics.k8s.io/v1beta1/nodes" | jq .`
appeared：
`Error from server (ServiceUnavailable): the server is currently unable to handle the request`
Typed：
`kubectl describe apiservice v1beta1.metrics.k8s.io`
and the 'Message' showed：
`no response from https://10.254.22.174:443: Get https:/

[2020-03-04 16:47] neolit123 commented on #88764
try figuring out which command / line fails exactly.

[2020-03-04 16:56] liggitt commented on #78613
There is now a CI job configured to run conformance tests with only GA APIs and features (plus the beta certificates.k8s.io/v1beta1 API) - https://testgrid.k8s.io/conformance-kind#conformance-ga-only

That job ensures no new dependencies on beta APIs or features is introduced to conformance tests, and the certificates API is positioned to be promoted to GA in 1.19.

/close

[2020-03-04 16:56] #78613 closed

[2020-03-04 16:58] bradmat commented on #88764
A quick look through and it spits out the `Coverage is disabled` line of build_some_binaries, so seems to be failing following the go install on line 672 https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L672

[2020-03-04 17:15] msau42 commented on #88762
I opened https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/issues/482 to investigate from GCE side if this behavior is expected.

[2020-03-04 17:21] kfox1111 commented on #69608
I was told that it was marked as required in the docs but it actually wasn't required. But looking at it now, it is actually required to pass validation. I would request that this be made optional in validation so that it is actually optional in practice. Turning off all validation on the statefulset to make it the service optional is not a good way of doing this. For things not needing DNS, the s

[2020-03-04 17:28] #88803 closed

[2020-03-04 17:40] Nuru commented on #67577
/remove-lifecycle stale

[2020-03-04 17:45] nckturner commented on #74379
@markyjackson-taulia just posted PR, let's see if there is possibility for it to land. https://github.com/kubernetes/kubernetes/pull/88813

[2020-03-04 17:47] j-griffith opened #88814 "Promote VolumePVCDataSource to GA in 1.18"
/kind feature
/sig storage
/sig api

PVC Data Sources have been in beta since 1.16 and should be ready to be promoted to GA in the 1.18 release.

KEP:  https://github.com/kubernetes/enhancements/issues/989

[2020-03-04 17:55] Huang-Wei commented on #88614
@vincent-pli May I know your motivations on distinguishing a Preempted deletion and a regular deletion? on controller side. Are you trying to achieve something based on the deletion reason?

[2020-03-04 18:09] BenTheElder commented on #87197
gotcha, it's `make -C build/debian-iptables all-build` (normally `all-push` but not needed here). I can take a look later probably.

[2020-03-04 18:13] neolit123 commented on #88764
this is odd, do you have any idea why `go install` might fail on your setup?

[2020-03-04 18:22] cadmuxe commented on #76064
The fix https://github.com/kubernetes/kubernetes/pull/83572 got approved by @danwinship ,should be able to catch the freeze.

[2020-03-04 18:23] PeterQiao commented on #88780
Ok, we can close this issue, I will retest after 1.18 released

[2020-03-04 18:43] BenTheElder commented on #87197
cc @tallclair https://github.com/kubernetes/kubernetes/pull/88790

[2020-03-04 18:46] tallclair commented on #87197
Note that we changed from debian-stretch to debian-buster-slim as the base image in 1.17. Not sure if that's related, but if it works in v1.16 and not v1.17, that seems like a good candidate.

[2020-03-04 18:48] aojea commented on #88780
thanks @aramase and @PeterQiao
/close

[2020-03-04 18:48] #88780 closed

[2020-03-04 18:48] dimm0 commented on #84169
I tried the recent 2.1.1 attacher, and the problem still exists...
Also increased the reconsile time to 10 mins
Is there any solution now?

[2020-03-04 19:06] ixdy commented on #88553
To give a little data behind this: I wrote [a script](https://github.com/kubernetes/test-infra/blob/master/experiment/find-merge-conflicts.sh) to help with this analysis, yes. [Currently, there are 38 PRs with merge conflicts](https://gist.github.com/ixdy/c0d117037349df5739fd3eb1e44b316c). In those PRs, there are 31 `BUILD` file conflicts (though not necessarily 31 unique PRs) and 24 `go.sum` conf

[2020-03-04 19:09] #83308 closed

[2020-03-04 19:09] #83469 closed

[2020-03-04 19:10] cap10morgan commented on #42544
/remove-lifecycle rotten

[2020-03-04 19:27] gigi-at-zymergen commented on #52655
Ran into this as well, and was able to switch from an `ln` to a `mount --bind` based on @robdewit 's summary of the issue and @memwey's pithy guidance . Was wondering if this guidance can be found anywhere in the documentation?
Many people put the docker dir on larger disk mounts than the boot drive and probably assume a symlink is sufficient. Would be nice to understand this aspect of kubelet whi

[2020-03-04 19:29] rgarcia89 commented on #17406
ClusterFirstWithHostNet same here when using Calico CNI in VXLAN mode...

[2020-03-04 19:37] julianvmodesto opened #88816 "ensure server-side apply doesn't write to etcd if there are no changes"
**What happened**:
On server-side apply, we should make sure not to write to etcd if there are no changes.

For example, in this change https://github.com/kubernetes/kubernetes/pull/88739, even though the applied object did not change, the timestamp for the field manager changed.

**What you expected to happen**:
We shouldn't update `.metadata.managedFields` if there is no change in any fields.

*

[2020-03-04 19:38] julianvmodesto commented on #88816
/priority important-soon

[2020-03-04 19:43] 2rs2ts commented on #25456
Can this please get reopened?

[2020-03-04 19:53] dobesv commented on #60789
The way the documentation is written at https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/ it seems like if I create a headless service `"x"` and set the subdomain to `"x"` on each pod in the deployment (all in the same namespace), I should end up with resolvable DNS names for each pod in the deployment.  However, when I tried this it didn't work.

[2020-03-04 19:55] wojtek-t commented on #75731
/remove-lifecycle rotten

/remove help-wanted

[2020-03-04 19:56] wojtek-t commented on #75731
This would have other significant consequences e.g. for caching objects (e.g. due to selflinks). So we probably want to either not do it at all or at least wait with it until selflink is removed.

/lifecycle frozen

[2020-03-04 20:06] julianvmodesto commented on #88816
One of the original integration tests for this: https://github.com/kubernetes/kubernetes/pull/81673

[2020-03-04 20:08] cristiklein commented on #64783
For the early adopters, please find a first draft here: https://github.com/elastisys/kubernetes/releases/tag/v1.18.0-alpha.2-pkcs11-alpha.1

Feedback from sig-auth:
- Pulling in PKCS#11 dependencies and forcing CGO on kubectl (as in the version above) is unacceptable for upstream inclusion.
- An `execCredentials`-like authentication plugin that delegates TLS client authentication to an external pr

[2020-03-04 20:20] sfudeus commented on #67577
From my understanding, the underlying issue in the kernel was fixed and made available in e.g. ContainerLinux in https://github.com/coreos/bugs/issues/2623.
Anybody aware of remaining issues after this kernel patch?

[2020-03-04 20:21] neolit123 commented on #64783
i'd be curious to understand more about the benefits of the extension, compared to the alternative of having an external host (OS specific, hardware specific) tooling request short lived key/cert pairs from e.g. an YubiKey and writing those to a common path for kubectl to consume from a kubeconfig.

is the per-API request PIN authentication a requirement?

[2020-03-04 20:43] mikedanese commented on #64783
This needs some clear requirements:

* What are the specific compliance standards have requirements for this?
* What security guarantees do you hope to would achieve?

Other comments:

* The second factor achieved by touchid and yubi key touch policy is to establish physical user presence. I leave my yubikey in my computer but it's not useful unless I'm present to respond to a touch request. Touch

[2020-03-04 21:11] timoreimann opened #88820 "Support running multiple (out-of-tree) CCMs concurrently and conflict-free"
**What would you like to be added**:

I'd like to be able to run multiple out-of-tree cloud controller managers (CCMs) concurrently without conflict. That is, it should be possible to use resources like nodes and load balancers and have exactly one of many running CCMs handle them while others would ignore them.

**Why is this needed**:

My primary use case is the ability to end-to-end-test change

[2020-03-04 21:12] timoreimann commented on #88820
/sig cloud-provider

[2020-03-04 21:16] timoreimann commented on #88820
Inspiration could be drawn from Storage or Ingress where classes can be defined and associated with resources so that only a managing controller responsible for a given class takes action.

[2020-03-04 21:18] #76064 closed

[2020-03-04 21:19] #88814 closed

[2020-03-04 21:27] ibuildthecloud commented on #88472
If the stated answer is that there is no API guarantee, I understand.  That has been expressed in the pass so I have no complaint as I assume the risk of using k8s go API already knowing that. If there is no other guidance on how to mitigate the burden on the consumers then you can close this issue.

[2020-03-04 21:45] justaugustus commented on #87376
We're not going to land this for 1.18 and it doesn't really need to be tracked in a specific milestone.
/milestone clear

[2020-03-04 21:54] kmala commented on #88543
/area kubelet

[2020-03-04 21:55] neolit123 commented on #88809
/sig scheduling

[2020-03-04 21:55] neolit123 commented on #88808
/sig scalability

[2020-03-04 21:56] neolit123 commented on #88797
/sig architecture
/area code-organization

[2020-03-04 22:05] smarterclayton commented on #88779
88440 now no longer causes this after a rebase.  I am suspicious that this may have been something related to how the code was built in go (environment, optimizations, strange merge) but I don't have any evidence to support that.  Will keep watching.

[2020-03-04 22:07] Huang-Wei commented on #88809
Unfortunately it's per design - scheduler only do the scheduling decision when Pods don't have `spec.nodeName` set; if you want to "rearrage" the Pods dynamically, [descheduler](https://github.com/kubernetes-sigs/descheduler) may be the extra thing you need.

[2020-03-04 22:11] #68690 closed

[2020-03-04 22:37] justaugustus commented on #88804
Will be closed via https://github.com/kubernetes/test-infra/pull/16224.

[2020-03-04 22:38] huffmanca opened #88821 "Switch storage version to use v1.CSIDriver in 1.19"
**What would you like to be added:**
storage/v1.CSINode is being introduced in 1.17 via PR #84814 . The storage version should switch to v1 in 1.19.

**Why is this needed:**
We need to wait until 1.19 to handle the HA upgrade case where a controller may be 1 version higher than the API server.

[2020-03-04 22:39] huffmanca commented on #88821
@kubernetes/sig-storage-feature-requests
/assign

[2020-03-04 22:42] #88804 closed

[2020-03-04 23:13] alexanderConstantinescu commented on #86507
I am not sure if this issue is linked to what I am about to refer to (I am missing a bit of info to be able to completely tell), but it could be good to take into account as it definately matches what you've mentioned concerning repeating SYN packets - though I can't tell from your attachments if it's the same mechanism.

This issue seems to be hitting calico and flannel:

https://github.com/proje

[2020-03-04 23:23] happinesstaker commented on #70679
I'm going to draft a proposal on safely rolling out projected token while not breaking in-cluster clients.

I believe for step 1, we could implement the exception in kube apiserver by providing a flag to treat expired token as valid for up to 30 days. Make all metric/exception code in one place would make it easier to manage.
I would rather define "stale token" as expired token used. To include mo

[2020-03-04 23:56] vincent-pli commented on #88614
@Huang-Wei
Not Preempted deletion and regular deletion, what I want to distinguishing is Pod failed caused by Preempted deletion and real Pod failed.
There are difference handle behavior for these two cases.
For failed caused by Preempted deletion, we will create new Pod
For real failed, we just mark Pod's owner CR as failed.

[2020-03-05 00:10] #88772 closed

[2020-03-05 01:06] ioMatrix commented on #43633
You can always use a helm chart to create the dup config for each domain in an array. "If" you are using helm of course :)

[2020-03-05 01:16] wy100101 commented on #72775
I think there are multiple issues. I fixed the problem for new pods that are really busy at startup by delaying readiness, but I've discovered that if I delete a pod and the graceful shutdown uses a lot cpu that the hpa appears to make a scaling decision based on the terminating pod. I don't know if it is a race condition between the pod going from running/ready to terminating and the TERM signal

[2020-03-05 01:26] #88469 closed

[2020-03-05 01:29] deshui123 commented on #74340
sorry, we need to test and want to use the new feature of 'IPv4/IPv6 dual-stack' for kubernetes 1.17.
and we need to use CCM to update node IPv4 and IPv6 interface.

[2020-03-05 02:29] deshui123 commented on #87224
I used kubeadm to setup my cluster.
[code]

I don't specify the **--cloud-provider** flag to kube-controller-manager.
According to my test, whether or not specify **--cloud-config** flag to kube-controller-manager, will hit the same error in kube-controller-manager.

[code]

[code]

[2020-03-05 02:54] RainbowMango commented on #87224
According to my test, whether or not specify --cloud-config flag to kube-controller-manager, will hit the same error in kube-controller-manager.

Yeah. if your `--cloud-provider` is empty, then `kube-controller-manager` will not read config from `--cloud-config`.

If you running a specific `CCM`, especially set `--cloud-provider=external` will eliminate the error log.

[2020-03-05 03:16] #70526 closed

[2020-03-05 03:26] techdragon commented on #82668
/remove-lifecycle rotten

[2020-03-05 03:43] Katharine commented on #88553
I put together a prototype of using `make test` instead of `bazel test`, with caching achieved by periodically uploading a cache to GCS and then fetching it from the jobs. This is one of our two most time-critical CI jobs, as it runs in presubmit and doesn't use a prebuilt tarball (the other important one is trying to build at all, which should be amenable to similar approaches).

The results are

[2020-03-05 03:47] tedyu commented on #70679
[code]
Doesn't this (serving expired token) expose some kind of security hole ?

[2020-03-05 03:57] fabio-rigato commented on #44273
any news ? same error

[2020-03-05 04:10] Nuru commented on #67577
@sfudeus Kubernetes can be run on any flavor of Linux, or, AFAIK, any POSIT-compliant flavor of Unix. This bug was never an issue for people not using Linux, has been fixed for some Linux-derived distributions, and not fixed for others.

The underlying issue was fixed in Linux kernel 5.4, which hardly anyone is using at this point. Patches were made available for backporting to various older kerne

[2020-03-05 04:12] #83476 closed

[2020-03-05 04:13] #58711 closed

[2020-03-05 04:13] #88635 closed

[2020-03-05 04:17] BenTheElder opened #88832 "systemd specs should be in-repo"
**What happened**:

https://github.com/kubernetes/kubernetes/pull/87585#pullrequestreview-369105857

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `una

[2020-03-05 04:47] liggitt commented on #70679
I would not expect us to intentionally honor/validate tokens past their expiration

[2020-03-05 05:18] anshul-harness opened #88834 "Container status showing different image from the spec image"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-03-05 05:23] anshul-harness opened #88835 "Container status showing different image from the image in spec"
**What happened**:
Tried to deploy this resource with image tag **0.4.1**
[code]

However in container status I am seeing following
[code]

One potential reason for this is because both tags **0.4.0** and **0.4.1** are same. Refer below repository for image tags
https://hub.docker.com/r/robotshop/rs-payment/tags

**What you expected to happen**:
Expected to see version **0.4.1** in container statu

[2020-03-05 05:35] zouyee commented on #88835
/sig node

[2020-03-05 05:38] zouyee commented on #88834
/close

[2020-03-05 05:38] #88834 closed

[2020-03-05 06:08] sfudeus commented on #67577
@Nuru Fine for me, I just wanted to make sure that no other kernel issue is left, which is already known. I personally wouldn't keep this open longer than the larger distributions having incorporated the fix, waiting for endless IoT devices can mean waiting endlessly. Closed issues can be found as well. But that is only my 2 cents.

[2020-03-05 06:14] heidawei opened #88836 "Does Kubernet's existing storage CSI plug-in meet my needs?"
this is our needs for k8s.
1. Many of our applications want  volumes to have independent namespaces
2. In some cases, each pod wants to share a storage volume
3. There are also cases where each pod uses an exclusive volume to store logs
4. Some acquisition terminals have thousands of pods, hoping to use a more lightweight s3 interface to store data instead of mounting pvc. Then, we hope to mount t

[2020-03-05 06:42] fujitatomoya commented on #86539
@ipuustin

i see the you've participated in kubrenetes organization, congrats.

how do you want us to proceed? is there anything/anywhere we should have discussion online? we are not sure how we can go further to catch up with Container Device Interfaces.

[2020-03-05 06:42] mervinkid commented on #88836
Hi @heidawei ,

JD.com which operates millions of container-scale K8s clusters is using [ChubaoFS](https://github.com/chubaofs/chubaofs) as the storage solution for its K8s clusters.

ChubaoFS is a distributed file system hosted by the [Cloud Native Computing Foundation](https://cncf.io) (CNCF) as a [sandbox](https://www.cncf.io/sandbox-projects/) project.
It is a fusion storage provides CSI plugi

[2020-03-05 06:52] happinesstaker commented on #70679
Well this option is served as a temporary transition state from current SA token to projected token. Current token has is not time-bound, so anyway (either issue a 30 day token, or treat expired token up to 30 days as valid) this is not reducing security level.

Essentially this should have the same effect as issue a token longer than expected in kubelet (both way the token is valid longer then cu

[2020-03-05 08:13] tnozicka commented on #88553
Yeah, I admit the stats were for sure done before modules, the vendor packages weren't being pruned back then. Modules are the next big offender because they prune unused packages from vendor and don't vendor the whole dependency. The move to go mod is likely the next offender, but at least is comes from a component we actually require. It also has another side effect - by not vendoring the whole

[2020-03-05 08:16] zhouya0 commented on #88835
/assign
The logic is written in https://github.com/kubernetes/kubernetes/blob/1afb554222605d4d67a911c9bbb0fa5b1049c2dc/pkg/kubelet/dockershim/docker_container.go#L418-L420
It will always use the first tag.

[2020-03-05 09:14] timstoop commented on #67577
Not sure if this is the correct place to inform people, but not really sure where else to bring this up:

We're running the 5.4 Linux kernel on Debian Buster (using the buster-backports kernel) using k8s 1.15.10 cluster and we're still seeing issues with this. Especially for Pods that usually have very little to do (kube-downscaler is the example we keep returning to, which usually requires about

[2020-03-05 10:05] shikanon commented on #88581
look at the code, I think the first assign is always equals the second assign.

when `s.Code() == Error`, then `finalStatus.code = Error`,

when `s.Code() == UnschedulableAndUnresolvable`, then `finalStatus.code = UnschedulableAndUnresolvable`,

when `s.Code() == Unschedulable`, then `finalStatus.code = Unschedulable`,

second assigned why not to be delete?

[2020-03-05 10:19] PaulFurtado commented on #67577
@timstoop the intervals which the scheduler cares about are on the realm of microseconds, not large 30 minute ranges. If a container has a CPU limit of 50 millicpu and it uses 50 millicpu over the span of 100 microseconds, it will get throttled, regardless of whether it spend 30 minutes idle. In general, 50 millicpu is an extremely small CPU limit. If a python program even makes a single HTTPS req

[2020-03-05 10:19] droslean commented on #88802
/reopen

It seems that the problem reappears. Let's consider this as a flake.

/remove-kind failing-test
/kind flake
/retitle  [Flaky Test] ci-k8sio-backup (ci-k8sio-backup)

[2020-03-05 10:20] droslean commented on #88802
@BenTheElder Can you check?

[2020-03-05 10:24] gavinfish commented on #88581
There are more types for `s.Code()`, so the if/else won't always be triggered.

https://github.com/kubernetes/kubernetes/blob/364c66ed9c7125e55ced73b35f00a9a73fd79e96/pkg/scheduler/framework/v1alpha1/interface.go#L54-L77

[2020-03-05 10:28] timstoop commented on #67577
@PaulFurtado Thanks for your answer! However, the Pod itself has an average usage of 3m cpu during that sleep and it's still being throttled. It's not making any request during that time, it's waiting on the sleep. I'd hope it can do that while not hitting the 50m, right? Or is that an incorrect assumption anyway?

[2020-03-05 10:46] #86972 closed

[2020-03-05 10:46] PaulFurtado commented on #67577
I think this is likely just such a low number that there's going to be accuracy issues. And 50m is so low that anything at all could trip it up. Python's runtime may also be performing background tasks in threads while you sleep.

[2020-03-05 10:53] timstoop commented on #67577
You were right, I was making assumptions that were not true. Thanks for your guidance! It's making sense to me now.

[2020-03-05 10:56] obeyda commented on #68226
this would be really useful, maybe something like [azure cli interactive mode](https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli?view=azure-cli-latest)

/reopen
/remove-lifecycle rotten

[2020-03-05 11:25] tariqkipkemei commented on #83225
Getting the same problem on RedHat 8.1

kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: active (running) since Thu 2020-03-05 12:17:29 EAT; 2h 2min ago
     Docs: https://kubernetes.io/docs/
 Main PID: 18260

[2020-03-05 11:27] Mishra-Akash opened #88843 "Create restricted podsecuritypolicy and use it with a service account in statefulset in specified ns"
**What happened**:

we want to start a pod with restricted permissions on the root filesystem, and to disable privilege pode. I am creating one state-ful set for my application and want to restrict that pod should not be started in privileged mode,  and root as read only.  I have created one service account and one role & role-binding with that sa in that namespace. (Not a cluster role)
Now when I

[2020-03-05 11:31] Mishra-Akash commented on #88843
/sig Node

[2020-03-05 11:49] neolit123 commented on #83225
this message is saying that you need to install the `firewall` CNI plugin.
to be able to use CNI you need to install the `kubernetes-cni` package using e.g. apt or rpm.

you can also get the plugins for your ARCH from here:
https://github.com/containernetworking/plugins/releases

[2020-03-05 11:52] cja000 commented on #88111
Hi,

Finally I found the problem :-)
There are problems with the RAID controller. If it is configured for RAID 0 there are resets and that affects the etcd.
Comparing the logs of etcd and the iDARC storage logs the times of the failures coincide.
Removed the RAID 0 it began to work. Or even with RAID 1 it was working.

2 of 3 machines have the failure. Guess in which 2 machines I was doing the tes

[2020-03-05 11:53] chymy commented on #87163
I encountered the same problem.

[2020-03-05 12:01] surekhakallam opened #88912 "About Startup Probes"
we are using kubernetes 1.17  and implemented Startup Probes ... And reduced the failure Threshold of readiness and liveness probes ...  after that the pods are going to crashed state ... is it the expected behaviour?

we saw that the startup probe is useful during the slow start of the containers..
we thought that the startup probe will takeover first and then the liveness probe and readiness pro

[2020-03-05 12:02] tedyu commented on #88835
I was reading docker_container.go and noticed this peculiar assignment as well.

[2020-03-05 12:14] rjeberhard commented on #54579
Sorry for the delay.  Our operator isn't written in Go, but instead in Java using the standard client.  Also, I discovered that Kubernetes will accept the large CRD if I use `kubectl create` or `replace` rather than `apply`.  Therefore, I'm not blocked.  Finally, all of the standard types we reference are for the use case where a customer needs to specify additional content for the pods our operat

[2020-03-05 12:43] dbsanfte commented on #77258
Having resources stuck in a Terminating state is dodgy and strange. Just saying.

[2020-03-05 13:06] jingyih commented on #88111
Thanks for reporting back! Happy to hear that you figured it out:)

[2020-03-05 13:21] neolit123 commented on #88111
great! thanks for the update.

i'm closing the issue and will point users to it if needed.
/close

[2020-03-05 13:21] #88111 closed

[2020-03-05 13:23] ghhenry commented on #86507
@alexanderConstantinescu yes, seems to be related. I disabled offloading with
sudo ethtool --offload flannel.1 rx off tx off
and this indeed helped.

[2020-03-05 13:39] gavinfish commented on #79606
/cc

[2020-03-05 13:47] tariqkipkemei commented on #83225
That is strange since that package is already installed

'Package kubernetes-cni-0.7.5-0.x86_64 is already installed.
'

[2020-03-05 13:57] liggitt commented on #70679
The expiration time for an admission-injected token is 1 hour.

When the API server is running in this compatibility/warning mode, if a tokenrequest is made for a pod-bound token, by a kubelet, with an expiration time matching the admission-injected projected token volume, the server can mint the token for a longer duration and embed the original requested expiration time in the token as a private

[2020-03-05 13:58] everpeace commented on #88529
@alculquicondor thanks for mentioning me.  I agree option 1 for 1.18 because of schedule.  But I think option 1.5 would be natural for me.  So I think we should add extender field in the near future.

[2020-03-05 13:58] jsafrane opened #88848 "Make CSI test suite timeouts configurable"
**What would you like to be added**:
[Current external CSI tests](https://github.com/kubernetes/kubernetes/tree/master/test/e2e/storage/external) expect that pods can start in 5 minutes. This startup includes dynamic provisioning (if `WaitForFirstConsumer` is enabled), scheduling, volume attach and mount.

The timeout is extended to 10 minutes for snapshot restore and cloning tests.

Both timeouts

[2020-03-05 13:59] neolit123 commented on #83225
is the plugin `firewall` found in `/opt/cni/bin`?

[2020-03-05 14:01] jsafrane commented on #88848
As a simple solution, driver's manifest could have a field to specify timeout multiplier.

The hard part is to 1) find all the timeouts used by the suite and 2) pass any new timeout setting  through all the test layers up to the place where the timeout is needed, e.g. `WaitForPodRunningInNamespace`.

[2020-03-05 14:03] liggitt commented on #86080
@gnufied https://testgrid.k8s.io/google-gce#gci-gce-flaky&sort-by-flakiness=&width=20&include-filter-by-regex=SELinux looks solidly green now, can the `[Flaky]` tag be removed to ensure test coverage now?

[2020-03-05 14:09] tariqkipkemei commented on #83225
No. Strange too

[2020-03-05 14:13] mansurali901 commented on #34314
For me first you find any HPA that is exceeding resources delete the HPA will work

[2020-03-05 14:14] bradmat commented on #88764
Unfortunately not no, it only seems to be on the cmd/kubelet binary specifically that the go install fails.

[code]

All of the previous binaries have ran through the install successfully, and called place_binaries afterwards.

Even more confusing is perhaps that running it again does then call the place_binaries, but I don't have confidence in the built binary because of the previous error.

[cod

[2020-03-05 14:24] neolit123 commented on #88764
are you running this command outside of the bash script / standalone?
if it fails, this seems like a go / gcc issue and not a k8s issue.

i see mentions of the error here:
https://github.com/golang/go/issues/31336#issuecomment-480874233

does building the minimal example with `import "C"` from here produce errors?
https://github.com/golang/go/issues/31293

could be.

[2020-03-05 14:39] neolit123 commented on #88764
given this is cgo related:
/sig node

[2020-03-05 14:51] bradmat commented on #88764
Apologies, that command is pulled from the output when I ran make all WHAT=cmd/kubelet with the set -x

Will try the minimal example shortly, I expect it will build though since the other go installs in the script have built.

[2020-03-05 14:55] neolit123 commented on #88764
try using the command to build the kubelet from the command line without the k8s bash scripts,

[2020-03-05 14:59] jhohertz commented on #67577
Just wanted to jump in and say things over here have been substantially improved since the kernel patch hit the 4.19 LTS kernels, and it showed up on CoreOS/Flatcar. Looking at the moment, the only things I see being throttled are a couple things I should probably raise limits on. :smile:

[2020-03-05 15:01] chenchun opened #88851 "RS controller creates lots of pods more than expected"
**What happened**:

When I delete a single pod of a deployment, rs creates 8 pods and 7 of which are failed with PodFitsHostPorts.

[code]

**What you expected to happen**:
When I delete a single pod of a deployment, rs creates only 1 pod.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl ver

[2020-03-05 15:03] chenchun commented on #88851
<img width="1087" alt="企业微信截图_8bafd1d8-7632-48f9-8bda-1171ce91181d" src="https://user-images.githubusercontent.com/985861/75994113-6b84eb80-5f35-11ea-869a-4da210f334a9.png">

/sig apps

[2020-03-05 15:18] #45922 closed

[2020-03-05 15:30] adambkaplan opened #88852 "CSI Volumes marked "Alpha", but utilized in beta features"
**What happened**:

The godoc for `VolumeSource` in `core/v1` marks the `CSI` source type as alpha, but is utilized in beta features like CSI ephemeral volumes [1].

**What you expected to happen**:

Features that are marked beta should utilize APIs that are marked beta or GA.

**How to reproduce it (as minimally and precisely as possible)**:

Always - this is in the API reference [2].

**Anything

[2020-03-05 15:35] markyjackson-taulia commented on #76342
/milestone v1.19

[2020-03-05 15:38] markyjackson-taulia commented on #74379
Seems there is still work inflight and code freeze is here. I will move to v1.19

[2020-03-05 15:40] Richard87 opened #88853 "Kube-proxy with ipv6 fails to start (error code 2)"
I am trying to get kube-proxy to work on with my new ipv6 address, but not having to much luck...

**What happened**:
[code]

**What you expected to happen**:
Start working

**How to reproduce it (as minimally and precisely as possible)**:
I'm running microk8s, and followed the dualstack documentation on .
I ended up running this command: `exec /snap/microk8s/1214/kube-proxy --kubeconfig=/var/snap

[2020-03-05 15:58] liggitt opened #88855 "CPU manager allocation NPE in GA-only clusters"
Recently merged PR (https://github.com/kubernetes/kubernetes/pull/87759#issuecomment-595279933) broke clusters brought up with only GA APIs+features.

See conformance test at https://testgrid.k8s.io/conformance-kind#conformance-ga-only

[code]

/sig node
/priority critical-urgent
/kind bug
/milestone v1.18
/assign @klueska

[2020-03-05 16:06] jsafrane commented on #88848
/help-wanted

[2020-03-05 16:08] jsafrane commented on #88848
/help

[2020-03-05 16:09] liggitt commented on #88843
1. what PSP is the pod being admitted with? (`kubectl get pod/$name -o yaml` will show the effective $PSP_NAME as an annotation)

2. what permissions does the statefulset controller have?

[code]

3. do you have your kube-controller-manager invocation handy? is it running against the TLS port? is it running with the `--use-service-account-credentials` flag set?

[2020-03-05 16:28] bradmat commented on #88764
Interesting.. running the install command on its own hits the same issue, following an attempt to find a 'dedent' package.

[code]

[2020-03-05 16:30] mikedanese commented on #70679
I'm 👍 on anything that can help us minimize kubelet changes so we can get this out there. The expirationSeconds magic number sounds reasonably worthwhile.

[2020-03-05 16:34] verb commented on #84764
I'm considering how to do this for 1.19

/remove-lifecycle stale

[2020-03-05 16:34] neolit123 commented on #88764
so this seems like a go bug.
you can try a newer version and also look for the bug/error in their issue tracker.

[2020-03-05 16:37] bradmat commented on #88764
Yep, that would seem to be the case. It even seems like it found the 'dedent' package so there's another issue at play somewhere with go.

[code]

Thanks for your help, I'll try to have a look further into go for a solution.

[2020-03-05 16:41] neolit123 commented on #88764
i will leave it to you if you want to close this ticket.

would be nice to catch more detail about this e.g. does this only happen on `gcc version 8.3.1 20190311 (Red Hat 8.3.1-3) (GCC)` or something related to the distro setup.

[2020-03-05 16:43] bradmat commented on #88764
I'll close it off since it doesn't seem to be Kubernetes related, but will update with further details if I find any later.

[2020-03-05 16:45] neolit123 commented on #88764
thanks

[2020-03-05 16:45] mikedanese commented on #64783
Also the presentation to sig-auth was super awesome 👍 💯

[2020-03-05 16:49] losipiuk commented on #85677
/remove-lifecycle stale

[2020-03-05 16:53] liggitt opened #88859 "CSINodeInfo registration uses anonymous client initially"
**What happened**:
Spotted in kind e2e logs:

**What you expected to happen**:
The CSINodeInfo bringup to use an authenticated client

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `una

[2020-03-05 16:53] liggitt commented on #88859
The error appears transient/temporary, since the node eventually starts and the tests pass

[2020-03-05 16:59] foobarbecue commented on #56272
/reopen /remove-lifecycle rotten

[2020-03-05 17:08] #88762 closed

[2020-03-05 17:18] r-catania commented on #87615
we are seeing the same issue on CentOS 7, cluster freshly built with rancher (1.17.2). We are using weave. All of 3 worker nodes are showing this issue. Restarting kubelet does not work for us we have to restart the entire node

[2020-03-05 17:22] liggitt opened #88861 "[Flaky test] [sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
`[sig-node] Pods Extended [k8s.io] Pod Container Status should never report success for a pending container`

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=Pod%20Container%20Status%20should%20never%20report%20success%20for%20a%20pending%20c

[2020-03-05 17:25] derekwaynecarr commented on #88861
@vpickard are you able to assist if this is related to recent topology work?

[2020-03-05 17:25] vpickard commented on #88861
@derekwaynecarr sure, I'll take a look

[2020-03-05 17:26] liggitt commented on #88861
@smarterclayton is this the test you just added in #88440?

[2020-03-05 17:46] alejandrox1 commented on #88335
Looked a bit into this error
The thing that gets highlighted in the logs is https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1235597134238060544#1:build-log.txt%3A2934
[code]

The FAIL is specifically coming from here https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl/kubectl.go#L427

As the logs mention
[code]
One can check

[2020-03-05 17:47] julianvmodesto commented on #80916
I don't think we'll address this for v1.18, but we'll do this for v1.19.

[2020-03-05 17:49] Mishra-Akash commented on #88843
Hi liggitt , pls find my reply-

1- No PSP is showing in $PSP_NAME as an annotation in POD>

2- I am creating one service account that i will be using for my name space.

kubectl auth can-i use podsecuritypolicies --all-namespaces --as=system:serviceaccount:kube-system:statefulset-controller
no

kubectl auth can-i use podsecuritypolicies -n akash --as=system:serviceaccount:wrapping-w-usr
no

kubec

[2020-03-05 17:50] alejandrox1 commented on #88335
Throwing a dumb idea...
this e2e tests begins with `--extract=ci/k8s-stable1 --extract=ci/latest`, "k8s-stable1" being 1.17.x (I think).
Is there any chance that we may need to cherry pick
https://github.com/kubernetes/kubernetes/blob/master/test/integration/etcd/data.go#L222-L225
[code]
Into the 1.17 branch?
/cc @robscott

[2020-03-05 17:50] liggitt commented on #88843
do you have the PodSecurityPolicy admission plugin enabled? (`--enable-admission-plugins=PodSecurityPolicy,...` arg to kube-apiserver)

[2020-03-05 17:51] BenTheElder commented on #88802
@listx owns this. bentheelder has also exceeded Quota 🙃

[2020-03-05 17:54] Mishra-Akash commented on #88843
yes. I have enabled that.

[2020-03-05 17:54] BenTheElder commented on #88553
we have experiments for exactly that [go caching in this pattern] live
currently. the results are very promising.

On Thu, Mar 5, 2020 at 12:13 AM Tomáš Nožička <notifications@github.com>
wrote:

[2020-03-05 17:56] liggitt commented on #88843
If pods fetched from the API server do not have a `kubernetes.io/psp` annotation, then the admission plugin is not enabled

[2020-03-05 17:58] vpickard commented on #88861
@derekwaynecarr As @liggitt mentioned above, this is a new test that was just added, and the test sometimes fails. I don't see that any of the recent topology manager changes would cause these failures. I'll be happy to help out and dig more if @liggitt or others think otherwise.

[2020-03-05 18:00] nrb commented on #87675
@liggitt Apologies for the delayed response.

In [the original problem](https://github.com/vmware-tanzu/velero/pull/1937#pullrequestreview-344047216) this was actually with information returned by the Kubernetes API server, which I then tried to change into the CRD Go type. The original goal was for Velero (a backup/restore tool) to check a CRD in the cluster for readiness before restoring any CRs

[2020-03-05 18:01] Mishra-Akash commented on #88843
I have updated /etc/kubernetes/manifests/kube-apiserver.yaml file with --enable-admission-plugins=PodSecurityPolicy. so this should work.

[2020-03-05 18:03] liggitt commented on #87675
I'm not sure I understand. If you're working with go types, you can unmarshal into the typed structs, correct?

[2020-03-05 18:06] nrb commented on #87675
Not always, because in some instances, we hit this error.  We got another report of this today (https://github.com/vmware-tanzu/velero/issues/2319), which I traced back to my code at https://github.com/vmware-tanzu/velero/blob/master/pkg/backup/remap_crd_version_action.go#L65, the `runtime.DefaultUnstructuredConverter.FromUnstructured` call to take the Unstructured data to the Go type.

[2020-03-05 18:12] aojea commented on #88853
@Richard87 have you enabled dual-stack in your kube-apiserver?

[2020-03-05 18:18] tedyu commented on #88853
Submitted a PR to avoid panic in this scenario.

[2020-03-05 18:27] dashpole opened #88868 "SystemOOMs not reported for containers"
**What happened**:

A SystemOOM event was not reported even when the memory limit hit was the root cgroup memory limit.

**What you expected to happen**:

A SystemOOM event should have been reported.

**How to reproduce it (as minimally and precisely as possible)**:

Do not set `--system-reserved` or `--kube-reserved`, and set `--eviction-hard=` to disable memory eviction on the kubelet.  Run a po

[2020-03-05 18:28] dashpole commented on #88868
/sig node
/priority important-soon

[2020-03-05 18:31] smarterclayton commented on #88861
This is me, the bugs are untriaged containerd / Kubelet failures with low occurrence rates that this test now exposes.

Investigating.

[2020-03-05 18:32] #83072 closed

[2020-03-05 18:48] happinesstaker commented on #70679
Sounds good to mint longer token in kube apiserver if we see specific expiration time requested, look less hacky.

[2020-03-05 18:58] msau42 commented on #88859
/assign

[2020-03-05 19:15] liggitt commented on #86318
@gnufied this is failing many test runs per day, do you have updated status on this? https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=Error%20getting%20c-m%20metrics&job=pull-kubernetes-e2e-gce%24&test=sig-storage

[2020-03-05 19:19] davidz627 commented on #84169
@dimm0 which CSI driver are you using? Does it implement `LIST_VOLUMES_PUBLISHED_NODES` capability?

[2020-03-05 19:28] smourapina commented on #82158
We are now in code freeze for 1.18, so I am moving this to the next milestone.
/milestone v1.19

[2020-03-05 19:28] smourapina commented on #65200
As we are now in code freeze for 1.18, I am moving this to the next milestone.
/milestone v1.19

[2020-03-05 19:30] liggitt commented on #82158
this has an active PR in progress in https://github.com/kubernetes/kubernetes/pull/87865

/milestone v1.18

[2020-03-05 19:30] smourapina commented on #79523
We are now in code freeze for 1.18, so I am moving this to the next milestone.
/milestone v1.19

[2020-03-05 19:45] schollii commented on #54525
@dashpole is this documented anywhere in the online docs?

[2020-03-05 19:47] zerkms commented on #57838
/remove-lifecycle stale

[2020-03-05 19:53] SaschaHeyer commented on #33777
Is there any official update to this topic?

[2020-03-05 19:53] gnufied commented on #86318
I haven't had chance to fully debug this yet. @davidz627 looked into this little bit and he suspected that these tests started to flake same time around https://github.com/kubernetes/kubernetes/pull/85029 was merged. I should be able to take a closer look tomorrow.

[2020-03-05 20:22] Alb0t opened #88873 "HPA selector not respecting matchLabels or matchExpression targeting external Metric"
**What happened**: Created a HPA targeting a metric with metricLabels OR/AND metricExpressions but the HPA does not respect the selectors.

[code]

[code]

[code]

**What you expected to happen**: If I apply a matchLabels/matchExpression that doesn't match ANYTHING it shouldn't be able to fetch a metric right? Even if giving it valid labels/key-value pairs (like type=consumers_foo_saturation), it

[2020-03-05 20:23] dimm0 commented on #84169
https://github.com/cernops/cvmfs-csi

It does not. I'll see how to implement one, thanks!
(If you could send some example, that would be helpful)

[2020-03-05 20:24] Alb0t commented on #88873
/sig autoscaling

[2020-03-05 20:53] aojea commented on #88853
/close
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/86773
@tedyu let's use only one issue for this topic

[2020-03-05 20:53] #88853 closed

[2020-03-05 20:56] derekrprice commented on #70324
The daemonset workaround with the surgical cleanup that I posted didn't end up being enough in the end.  We've taken to rebooting the servers nightly to work around this issue.  Rather a medieval solution for such a sophisticated tool.

/remove-lifecycle rotten

[2020-03-05 20:58] derekrprice commented on #70324
/remove-lifecycle stale

[2020-03-05 21:00] itowlson commented on #86033
@dims This isn't an Azure or Amazon issue; it also happens on `kind` clusters (tested with Kind running k8s 1.15).  I think @rkrgarlapati was just letting you know what environment they were using, not saying it was specific to that environment.

Here is what I deployed into Kind:

[code]

And here is what I got back when I did a `kubectl get deploy/depvertest -o yaml`:

[code]

Note that the `api

[2020-03-05 21:02] itowlson commented on #86033
Hmm, I don't have permissions to reopen - @dims or @rkrgarlapati could you reopen it please?

[2020-03-05 21:03] Jefftree commented on #85250
All endpoints required for beta are merged.

I will investigate https://github.com/kubernetes/kubernetes/blob/b1aff7832d8ed78a013f5e0e4b9dc582734d622d/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L230 separately.

/close

[2020-03-05 21:03] #85250 closed

[2020-03-05 21:03] apelisse commented on #87466
Maybe it shouldn't have been closed 3 days ago, but now I think it's fine to close it, since we tagged smd with `v3.0.0`: https://github.com/kubernetes-sigs/structured-merge-diff/tree/v3.0.0

[2020-03-05 21:13] fedebongio commented on #88782
/cc @caesarxuchao

[2020-03-05 21:14] fedebongio commented on #88785
/assign @lavalamp @deads2k
Could you please take a look to this request? thanks!

[2020-03-05 21:30] dims commented on #86033
/reopen

[2020-03-05 21:31] robscott commented on #88273
@luarx Would this plugin help? https://github.com/eldadru/ksniff

[2020-03-05 21:44] damemi commented on #87161
I've submitted an exception request for this and the 3 open PRs waiting approval

[2020-03-05 22:01] wongma7 commented on #88848
yes, e.g. aws fsx takes 5 mins alone to provision a volume and ClaimProvisionTimeout https://github.com/kubernetes/kubernetes/blob/6b6336e5c094c60c35f2b7e6beb17abe9adbb4bd/test/e2e/framework/util.go#L135 is 5 minutes.

Simple solution would be to put all the timeouts in a timeout package, change them from const to var, and let consumers set them before executing test.

[2020-03-05 22:06] prameshj commented on #88154
+1, the source code is in https://github.com/kubernetes/dns/tree/master/cmd/node-cache and the Dockerfile and Makefile are in  https://github.com/kubernetes/dns

/close

[2020-03-05 22:13] robscott commented on #88784
/assign @aojea

[2020-03-05 22:17] robscott commented on #88711
/assign @thockin

[2020-03-05 22:18] robscott commented on #88701
/area aws
/remove-sig network

[2020-03-05 22:20] robscott commented on #88698
/assign @andrewsykim
@renner-osi

[2020-03-05 22:20] mogren commented on #88701
Who should take a look at this? Any suggestions @M00nF1sh or @jaypipes ?

[2020-03-05 22:22] robscott commented on #88580
/assign
/cc @uablrek

[2020-03-05 22:22] robscott commented on #88543
/assign @freehan

[2020-03-05 22:25] freehan commented on #88543
What platform did you observe the problem?

It depends on how container runtime handles the interaction with CNI plugins. For `dockershim`, I am pretty sure it only proceeds to completely remove the pod when CNI DEL completes.

https://github.com/kubernetes/kubernetes/blob/v1.17.3/pkg/kubelet/dockershim/docker_sandbox.go#L257

[2020-03-05 22:30] verult commented on #88355
Some details on the flaky test failure: example sequence of AttachDetachController logs for a leaked disk:

[code]

In other words:
1. Attach(volume, node1) start
1. Attach(volume, node1) success
1. Detach(volume, node1) start
1. Attach(volume, node2) start
1. Attach(volume, node2) failure because volume is still attached to node1. Operation enters exponential backoff
1. Detach(volume, node1) succ

[2020-03-05 23:06] robscott commented on #88303
Hey @wwgfhf, let us know if you can reproduce this with a newer version of Kubernetes. Unfortunately we aren't able to support 1.14 anymore.

/close

[2020-03-05 23:06] #88303 closed

[2020-03-05 23:08] robscott commented on #88701
/area provider/aws

[2020-03-05 23:29] JoshVanL opened #88878 "API Server: Panic when fail to load webhook config file"
**What happened**:
When parsing an audit webhook config file that errors (ca file does not exist), the apiserver will panic.

**What you expected to happen**:
Error gracefully with explanation to the error (ca authority does not exist).

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
[Here](https://github.com/kubernetes/kubernetes/blob

[2020-03-05 23:31] JoshVanL commented on #88878
/sig api-machinery

[2020-03-05 23:41] dashpole commented on #54525
@schollii I suppose we don't document the list of things that do not happen during evictions.  The out-of-resource documentation says "it terminates all of its containers and transitions its PodPhase to Failed".  It doesn't explicitly call out that it does not set the deletion timestamp.

Some googling says you can reference evicted pods with: `--field-selector=status.phase=Failed`.  You should be

[2020-03-06 00:14] cyrus-mc commented on #76531
I see this has been fixed in the latest containerd. Interesting for me is I saw these errors messages when using cgroupfs as well. Not just systemd.

[2020-03-06 00:17] caseydavenport commented on #88694
@WoodProgrammer that sounds like it's probably an issue with your CNI plugin running a bad `ip link` command.

Since this doesn't seem like an issue with Kubernetes itself, I'm going to close this.

/close

[2020-03-06 00:17] #88694 closed

[2020-03-06 00:47] robscott commented on #88335
/assign

This is 100% on me. I wrote the test and I added IngressClass, so sorry. The test itself is simple in that it runs through every API resource, creates one using etcd test data, then runs `kubectl get ...` to verify the output is properly set up. In this case it seems like the cluster has `IngressClasses` (new in 1.18), but the tests running do not have etcd test data. It's fairly trivial

[2020-03-06 00:49] tedyu commented on #86017
/remove-lifecycle stale

[2020-03-06 00:55] cjcullen opened #88880 "Support read-only HostPath PersistentVolumes"
**What would you like to be added**: ReadOnly mode for PersistentVolumes

**Why is this needed**: There are generally better options than HostPath PersistentVolumes for a real production use case, but they can still be useful in development. PVCs can't be restricted by type in PodSecurityPolicy, so it's tough to make a hostPath PV safe. Allowing them to be made readonly would make things a little

[2020-03-06 01:18] ricardbejarano commented on #81071
This solved it for me. Thanks!

[2020-03-06 01:37] zhupeixiang1234 opened #88884 "kubectl edit job ,this conmmand can't edit job's the request and limit of cpu and memory"
my k8s version is 1.12 and 1.17
this is the failure message:
jobs.batch "testjob-v1" was not valid:
# * spec.template: Invalid value: core.PodTemplateSpec{ObjectMeta:v1.ObjectMeta{Name:"", GenerateName:"", Namespace:"", SelfLink:"", UID:"", ResourceVersion:"", Generation:0, CreationTimestamp:v1.Time{Time:time.Time{wall:0x0, ext:0, loc:(*time.Location)(nil)}}, DeletionTimestamp:(*v1.Time)(nil), Del

[2020-03-06 02:02] kmala commented on #88543
This is on ubuntu with docker are runtime and the issue seems to be on the kubelet itself not the CRI. Kubelet [deletes](https://github.com/kubernetes/kubernetes/blob/1afb554222605d4d67a911c9bbb0fa5b1049c2dc/pkg/kubelet/status/status_manager.go#L585) based on the [PodResourcesAreReclaimed](https://github.com/kubernetes/kubernetes/blob/dde6e8e7465468c32642659cb708a5cc922add64/pkg/kubelet/kubelet_po

[2020-03-06 02:10] alejandrox1 commented on #88335
In this case i think so. The e2e job tests a skew of 1 minor version in kubectl so I think it starts with 1.17.x "code" (need to double check the mechanics - I think the place to check is one kubetest and how the order of `--extract`s works).

[2020-03-06 02:18] alejandrox1 commented on #88335
On my last comment:

xref: https://github.com/kubernetes/test-infra/tree/master/kubetest#upgrade-skew-kubemark

This skew job then does the following:
[code]
xref: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1235735331345534977#1:build-log.txt%3A7

So it starts with master (1.18) and then downgrades to stable1 (1.17.x - https://github.com/

[2020-03-06 02:50] tariq1890 commented on #51271
/reopen

[2020-03-06 02:53] shikanon commented on #88581
Okay, you mean that error messages assign finalStatus with priority when it rise.

[2020-03-06 02:54] tariq1890 commented on #51271
/sig @kubernetes/sig-aws-bugs

[2020-03-06 02:56] tariq1890 commented on #51271
@kubernetes/sig-aws-bugs

[2020-03-06 02:56] tariq1890 commented on #51271
/sig aws

[2020-03-06 02:58] tariq1890 commented on #51271
/area aws

[2020-03-06 02:59] shikanon commented on #88581
Okay, you mean that error messages assign finalStatus with priority when it rise.

[2020-03-06 03:00] shikanon commented on #88581
Okay, you mean that error messages assign finalStatus with priority when it rise.

[2020-03-06 03:15] alejandrox1 commented on #88335
A rundown of this job for posterity
[code]
xref: https://github.com/kubernetes/test-infra/tree/master/kubetest#upgrade-skew-kubemark
xref: https://github.com/kubernetes/test-infra/blob/master/kubetest/main.go#L125

So this test goes from ci/latest (1.18) to ci/k8s-stable1 (1.17.x).

* `kubernetes/` contains 1.17.x
* `kubernetes_skew/` contains 1.18

This job sets `--skew` so it will run tests in 1

[2020-03-06 03:33] markyjackson-taulia commented on #74379
Filed for an exception:
https://github.com/kubernetes/enhancements/issues/1599
https://groups.google.com/forum/#!msg/kubernetes-release-team/dB6ZBZIzJG4/2nA9_qdgAwAJ

[2020-03-06 03:46] willise opened #88886 "No pod restart after updating initContainer image"
**What would you like to be added**:
Update docs about initContainer or fix kubelet to run as docs says.

**Why is this needed**:
As this(https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#pod-restart-reasons) says:
[code]
If initContainer's image is updated, the pod will be restart. However, code shows that there is no logic to do this:
https://github.com/kubernetes/kubernetes/bl

[2020-03-06 03:46] willise commented on #88886
/sig docs

[2020-03-06 04:00] liggitt commented on #68861
Changes to fields within the status stanza must be made via the status subresource, which is a different endpoint:

`curl -k --header "Authorization: Bearer $T" --header "Content-Type: application/json-patch+json" --request PATCH https://localhost:6443/api/v1/namespacs/default/pods/sleep/status --data '[ { "op": "add", "path": "/status/conditions/-", "value": { "lastProbeTime": null, "lastTransiti

[2020-03-06 04:02] willise commented on #88886
/kind bug

[2020-03-06 04:03] #87427 closed

[2020-03-06 04:04] #88529 closed

[2020-03-06 04:05] #88855 closed

[2020-03-06 04:07] angao opened #88887 "add another arg for NodeResourcesFit plugin"
**What would you like to be added**:
We want to add another arg for `NodeResourcesFit` plugin that is `ignoredResourcePrefixes`.

**Why is this needed**:
We know that Kubernetes support [custom extended resource](https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#extended-resources) in container resources,  it is checked in the `NodeResourcesFit` plugin when the

[2020-03-06 04:08] angao commented on #88887
/sig scheduling

[2020-03-06 04:09] angao commented on #88887
/cc @alculquicondor @pendoragon

[2020-03-06 04:10] willise commented on #88886
/remove kind feature
/help

[2020-03-06 04:13] willise commented on #88886
/remove-kind feature

[2020-03-06 04:15] Mishra-Akash commented on #88843
Is there anything that I can check to verify the same?

[2020-03-06 04:25] liggitt commented on #70679
note that to make the kubelet [refresh on schedule](https://github.com/kubernetes/kubernetes/blob/ce01a9bad026f04bc956cd2bf72211b72675160d/pkg/kubelet/token/token_manager.go#L163-L186), we'd want the server to set status.expiration on the token response to the original 1 hour timeframe, despite having minted the token for longer

[2020-03-06 04:45] lbudai74 commented on #68861
Thank you Jordan! It works.

[2020-03-06 04:45] modevops opened #88888 "kubeclt create deployment too limited"
kubectl create is too limited. kubectl run  gave a-lot flexibility in creating deployments and jobs via command-line. You can do very little with kubectl create without using a yaml file.  In my opinion it was a very bad idea to deprecate kubectl run without having similar functionality with kubectl create.
**What would you like to be added**:
Add the functionality lost when kubectl run  for deplo

[2020-03-06 04:51] Huang-Wei commented on #88887
Instead of providing existing args such as `ignoredResources`, or(and) as you suggested,  `ignoredResourcePrefixes `, maybe we can provide a field `resourceSelector` so as to be resilient to adapt to more general cases:

[code]

`resourceSelector` can describe sth. like "resName IN [...]", "resName NOT IN [...]", etc.

[2020-03-06 04:54] angao commented on #88887
It sounds good.

[2020-03-06 04:55] angao commented on #88887
maybe I can write a KEP for this

[2020-03-06 05:00] modevops commented on #88888
closing adding to kubectl issue

[2020-03-06 05:00] #88888 closed

[2020-03-06 05:24] mikedanese opened #88889 "Add tests for DeleteOptions apiserver deserialization"
Unfortunately, kube-apiserver accepts almost anything right now. It should continue to do so or an unknown number of clients will break due to a later seemingly benign "bug fix".

[2020-03-06 05:26] mikedanese opened #88890 "Refactor dynamic client to align API with new clientset APIs"
KEP here: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20200123-client-go-ctx.md

[2020-03-06 05:39] #86434 closed

[2020-03-06 06:06] alpozcan commented on #60807
Here's a script to do this automatically. Needs `jq`:

[code]

[2020-03-06 06:20] invidian commented on #88785
Thanks for positive feedback @lavalamp.

From socket manpage:

              cesses binding to the same address must have the same effec‐
              tive UID.

As I said, if multiple operating systems must be supported, then patch will be slightly bigger or we should use the library, which will take care of that. Does `kube-apiserver` must be compatible with Windows, BSD, or Darvin?

Regarding

[2020-03-06 06:23] Huang-Wei commented on #88887
@angao A KEP may be overkill. We can just use this issue for brainstorming, get to a consensus, and get it implemented.

[2020-03-06 06:56] raccoonback commented on #88561
It was what I had wrong setting up network socket bindings in my application.

I will close the issue by fixing it.

[2020-03-06 06:56] #88561 closed

[2020-03-06 07:08] mm4tt commented on #86434
Thanks @tedyu for fixing that! I know how much work was it and I really appreciate!

[2020-03-06 07:14] invidian commented on #88785
As far as I see in https://kubernetes.io/docs/setup/release/notes/#server-binaries, only Linux binaries are provided, so I assume just Linux support is fine for now. That's good news. I will go ahead and open a PR about it with unit test at least.

[2020-03-06 08:31] gianarb commented on #82158
The PR is merged! The issue is still open @liggitt is it right?
Thanks!

[2020-03-06 08:32] aojea commented on #88784
/remove-triage unresolved

@PeterQiao those warnings are harmless because those objects doesn't have endpoints addresses, thus no IP family, as you can see below:

[code]

however, I think that if there are no endpoint addresses we should skip instead of logging, what do you think @robscott ?

[2020-03-06 08:35] uablrek commented on #88580
The somewhat random distribution because the "ipvs" instances on the k8s nodes are independent. Each of them makes a perfect round-robin but since traffic arrives at 8 nodes the end result will not be a pertfect distribution.

To check this you can run the test from a k8s node inside the cluster directly towards the ClusterIP or node-ip:node-port and you will get a perfect distribution since all t

[2020-03-06 08:43] uablrek commented on #88580
/remove-triage unresolved

[2020-03-06 08:57] angao commented on #88887
A piece of my mind, the `Fit` is designed as follows:

[code]

`ResourceSelectorOpIn` describes the `Key` is a subset of one of `Values`, example: `Values` is `[]string{"example.com"}`, the `Key` could be either `example.com/rc` or `sub.example.com/rc`.

[2020-03-06 09:21] invidian commented on #88785
Created https://github.com/kubernetes/kubernetes/pull/88893.

[2020-03-06 09:42] Richard87 commented on #86773
Hi, so the error is because ipFamily is not set on a service, but what should the ipFamily be on a headless service?

[code]

[2020-03-06 09:47] #82753 closed

[2020-03-06 10:20] uablrek commented on #86773
Related https://github.com/kubernetes/kubernetes/issues/88784

[2020-03-06 10:21] uablrek commented on #88784
It seems these printouts can be caused by headless services, please see; https://github.com/kubernetes/kubernetes/issues/86773#issuecomment-595686738

[2020-03-06 10:22] ialidzhikov opened #88896 "StatefulSet does not update the Pod image"
**What happened**:
StatefulSet does not reflect image change to the Pod.

**What you expected to happen**:
StatefulSet to reflect image change to the Pod.

**How to reproduce it (as minimally and precisely as possible)**:
1. Apply a StatefulSet with a wrong image - `.spec.template.spec.containers[0].image`.
[code]

2. Ensure that the Pod fails to pull the image
[code]

3. Update the StatefulSet `.

[2020-03-06 10:23] ialidzhikov commented on #88896
/sig apps

[2020-03-06 10:50] aojea commented on #86773
@Richard87

that's the 1M dollar question ;)
https://github.com/kubernetes/kubernetes/pull/86895

seems we are getting closer to solve this

[2020-03-06 11:42] invidian commented on #88785
Hm, now that I think about it, it would be nice to have the same change applied also for `kube-controller-manager` and `kube-scheduler`, as if they run with `--bind-address`, upgrading won't be possible either... @lavalamp would it be possible to have the same implementation for them as well?

[2020-03-06 11:51] gitbeyond opened #88898 "Differential operation of daemonset on each node"
When I run daemonset in the cluster, I encounter a problem that I can't realize the differential configuration between nodes,

For example, when I run a Java application, the memory of my nodes is different. For nodes with large memory, I want to set the 'resources. Requests' value to be larger,

For nodes with small memory, they are set to be smaller. Of course, this is just an example.

For anot

[2020-03-06 12:09] divanikus commented on #80633
/remove-lifecycle rotten

[2020-03-06 13:04] gavinfish commented on #88797
/cc

[2020-03-06 13:17] vfrans opened #88900 "Allow user to get node where the local volume has been provisionned"
**What would you like to be added**:
When using local volumes like this:
[code]
in combination with storageclass like this:
[code]
I didn't find a way to actually get the worker node that was elected (and matching the matchExpressions) to provision that local volume.

At least, i didn't find a way, looking at the doc :)

**Why is this needed**:
It would be an helpful feature to allow finding the n

[2020-03-06 13:17] vfrans commented on #88900
/sig storage

[2020-03-06 13:26] schollii commented on #54525
@dashpole I saw the mentions of --field-selector=status.phase=Failed but the problem there is that the "reason" is actually what says "evicted", so there could be failed pods that were not evicted. And you cannot select on status.reason, I tried. So we are left with grepping and awking the output of get pods -o wide. This needs fixing. E.g. make status.reason selectable, or have a phase called Evi

[2020-03-06 13:40] dprotaso commented on #72158
another PR is still open
/remove-lifecycle rotten

[2020-03-06 14:09] jsafrane commented on #88707
With https://github.com/kubernetes/kubernetes/pull/88801 merged, https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features looks (mostly*) green.

*) One e2e-up.sh failed, IMO snapshots are innocent here.

[2020-03-06 14:18] nmiculinic opened #88901 "Server-side Apply: Ownership not tracked for status subresource"
**What happened**:

I've performed server-side apply on the `/status` subresource. e.g.

```PATCH https://127.0.0.1:32768/apis/kubecarrier.io/v1alpha1/namespaces/default/<<crd name>>/test/status?fieldManager=name```

The request body is the following for example:

[code]

The CRD itself has status commonly defined as:
[code]

in the resulting openAPIv3 validation the correct object annotations are

[2020-03-06 14:20] nmiculinic commented on #88901
/wg apply

[2020-03-06 14:20] nmiculinic commented on #88901
/sig api-machinery

[2020-03-06 14:22] kamaln7 opened #88902 "Allow for more flexible retry logic with Cloud Controller Manager"
**What would you like to be added**:
Currently, CCM uses exponential backoff when failing to process a service change. It would be great if this behavior—not only the minimum and maximum delay values—could be adjusted if needed.

https://github.com/kubernetes/kubernetes/blob/8508875e4d400c1454561aa6d879860984bcdf59/pkg/controller/service/controller.go#L54-L58
https://github.com/kubernetes/kubernet

[2020-03-06 14:43] paralika commented on #80152
Is there any solution on this issue?

[2020-03-06 15:01] ellerydb opened #88904 "Kube components not honoring non-blocking mode with logging driver"
Hello,

We've been running some testing using the json-file logging driver in non-blocking mode on our Kube 1.15.5 environment and noticed some behaviors that are indicative of some of the core kubernetes components not honoring this setting.  When we have run our negative use case testing by filling up a worker filesystem /var/lib/docker, the application which is using the json-file logging drive

[2020-03-06 15:06] memorais commented on #69687
There are any tutorial or sample on how to configure this from adapter configuration to generate custom metrics or external metrics to configure the metric inside HPA?

[2020-03-06 15:16] julianvmodesto opened #88905 "Add kubectl diff and server-side dry-run to conformance"
`kubectl diff` and server-side dry-run are being promoted to stable features in 1.18.

Conformance should ensure that cloud providers support these features.

As a user, I expect `kubectl diff` to work, which requires that cloud providers [support dry-run by setting `sideEffects`](https://kubernetes.io/docs/reference/using-api/api-concepts/#dry-run) for cloud default webhooks.

Conformance would g

[2020-03-06 15:19] julianvmodesto commented on #88905
/sig testing
/sig architecture

[2020-03-06 15:31] alculquicondor commented on #88887
Before we move into the new API details, I think we need to understand why this CAN NOT be accomplished with the existing API. Or if this is the right API that needs to be extended.

Why does it have to be dynamic? How are you scheduling against those requests instead?

Without knowing many details, an alternative I can think of is that the [device plugin APIs](https://kubernetes.io/docs/concepts/

[2020-03-06 15:32] droslean opened #88907 "[Flaky Test] pull-kubernetes-e2e-gce-alpha-features"
**Which jobs are flaking**:
`pull-kubernetes-e2e-gce-alpha-features`

**Which test(s) are flaking**:
[code]

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-alpha-features

**Reason for failure**:
[code]

**Anything else we need to know**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Failed%20to%20create%20client%20pod%3A

[2020-03-06 15:39] msau42 commented on #88907
@jsafrane had a fix merge yesterday, and according to triage, the failure rate has dropped since then:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&job=pull-kubernetes-e2e-gce-alpha-features&test=provisioning%20should%20provision%20storage%20with%20snapshot%20data%20source

[2020-03-06 15:43] Avni-Sharma opened #88908 "package unstructured does not provide GetGroupVersionResource()"
On going through https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1/unstructured I found at that there is no support for GetGroupVersionResource.

It would be good if we have something like

[code]
where obj is unstructured.Unstructured

[2020-03-06 15:44] Avni-Sharma commented on #88908
/sig api-machinery

[2020-03-06 15:45] timoreimann commented on #88902
Thanks for filing the ticket, @kamaln7. That looks right to me.

It's worth mentioning that the way we have implemented waiting for an LB to become ready (after it has been created successfully) in DigitalOcean's CCM is by returning an error to the cloud provider Service controller and leveraging the built-in retry mechanism. In previous versions, we build the is-the-LB-ready retry loop into the `

[2020-03-06 15:45] droslean commented on #88907
@msau42 Thanks for the update. We will keep the issue open to observe the job for a day or two.

[2020-03-06 15:53] ankon commented on #82753
@fejta-bot: Meh!

[2020-03-06 16:00] julianvmodesto commented on #88274
cc @liggitt

[2020-03-06 16:01] liggitt commented on #88274
dynamic client update in https://github.com/kubernetes/kubernetes/pull/88906

[2020-03-06 16:08] verb opened #88909 "Visitors of Configmaps and Secrets should specify which containers to visit"
Fully described in https://github.com/kubernetes/kubernetes/pull/87865#discussion_r384736714, `VisitPodSecretNames` and `VisitPodConfigmapNames` will visit these fields for all containers, regardless of whether they're hidden behind a feature gate (e.g. `EphemeralContainers`).

This is usually correct, these methods are often used to drop fields and in this case should visit all containers that ar

[2020-03-06 16:12] verb commented on #82158
@gianarb #87865 resolved the issue described here. We have a follow-up item, but I've opened issue #88909 for that, so let's leave this in 1.18 as fixed.

/close

[2020-03-06 16:12] #82158 closed

[2020-03-06 16:13] mikedanese commented on #88274
Does this one need the milestone as well? What are your plans?

[2020-03-06 16:13] verb commented on #88909
@tedyu are you interested in taking this one, too?

[2020-03-06 16:14] liggitt commented on #88274
Added milestone to https://github.com/kubernetes/kubernetes/pull/88599 and held. Running tests on the metadata client update now, then will submit an exception request for those three PRs to round out the feature.

[2020-03-06 16:17] derekwaynecarr commented on #88402
I agree kubelet should not need access to api-server to manage static pods.

[2020-03-06 16:24] joelsmith commented on #81116
/lifecycle frozen

[2020-03-06 16:32] tedyu commented on #88909
VisitPodSecretNames and VisitPodConfigmapNames already specify AllContainers for VisitContainers

Can you let me know what else needs to be done?

[2020-03-06 16:33] liggitt commented on #88861
still flaking in non-dockershim environments:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88906/pull-kubernetes-e2e-kind/1235957684612632581

pod pod-submit-status-0-14 on node kind-worker2 container unexpected exit code 128: start=1970-01-01 00:00:00 +0000 UTC end=2020-03-06 16:16:54 +0000 UTC reason=StartError message=failed to create containerd task: OCI runtime create failed:

[2020-03-06 16:36] julianvmodesto commented on #88740
@apelisse looks like we'll get https://github.com/kubernetes/kubernetes/issues/88274 in for v1.18.

This `kubectl scale --dry-run=client|server` seems small and acceptable risk, so we could get it in for v1.18 too?

[2020-03-06 16:40] dariuszbz commented on #79365
I removed the cluster, and rebuild it from scratch. The problem doesn't appear anymore.

[2020-03-06 16:41] celambert commented on #79365
Interesting. I was able to create an HPA for a simple sample deployment but Nginx is still unable to retrieve metrics.

[2020-03-06 16:43] #88782 closed

[2020-03-06 16:43] verb commented on #88909
@tedyu Callers should specify whether they want to visit all containers or not. There are valid reasons for each, so we shouldn't assume the desired behavior, even if 100% of the current users want to visit all containers.  Jordan's original comment in https://github.com/kubernetes/kubernetes/pull/87865#discussion_r384736714 has some examples of current uses.

I don't think this needs to be as con

[2020-03-06 16:51] lavalamp commented on #60807
Everyone: **scripts to automate the finalizer removal do more harm than good**. They may leave time-bombs in the aggregated apiserver(s) that aren't available; if someone recreates the namespace, suddenly a bunch of old objects may re-appear.

The real solution is:

[code]

[2020-03-06 16:51] apelisse commented on #88740
That seems fine, it's not the end of the world if we can't. Let me see.

[2020-03-06 16:53] apelisse commented on #88905
/wg apply

[2020-03-06 17:05] thyarles commented on #60807
https://github.com/thyarles/knsk

This script do all checks and try to do a clean deletion, inclusive looking for orphan resources. If the user want to take a risk, the script offer a --force option to do a not recommended deletion way.

[2020-03-06 17:23] adelina-t opened #88913 "Pods not starting on Windows nodes"
**What happened**:

Pods will not start on Windows nodes, even though nodes are ready and pods are scheduled to nodes.

Kubelet logs are filled with this:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

Build K8s from master, create any pod on Windows node.

**Anything else we need to know?**:

I strongly believe this commit is responsi

[2020-03-06 17:24] adelina-t commented on #88913
/sig windows

[2020-03-06 17:25] logicalhan opened #88914 "Add etcd quorum check to readyz for kube-apiserver"
**What would you like to be added**:

We should add a quorum check against etcd in a readiness health check for the kube-apiserver, since we don't want to route traffic to the kube-apiserver if etcd is perceived unhealthy by the apiserver.

/sig api-machinery
/assign @logicalhan

[2020-03-06 17:26] logicalhan commented on #88914
/cc @sttts

[2020-03-06 17:42] Huang-Wei commented on #88614
Got it. In the next release (1.19), we will start to extract preemption related logic into extension points, and each extension point will have their own default plugin. This issue will be taken into consideration. Thanks for the feedback.

[2020-03-06 17:46] fejta commented on #88335
https://github.com/kubernetes/test-infra/blob/d766f5c0c27cea83aefcbbeed9b79ab8b0da0225/kubetest/extract_k8s.go#L145

https://github.com/kubernetes/test-infra/blob/master/kubetest/e2e.go#L186

The `--extract=ci/k8s-stable1` downloads and extracts this into the `kubernetes` dir
The second `--extract=ci/latest` renames the `k8s-stable1` `kubernetes` dir as `kubernetes_skew` and then downloads `latest

[2020-03-06 18:40] davidz627 commented on #84169
https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/pull/392 :)

[2020-03-06 18:41] davidz627 commented on #67972
/remove-lifecycle rotten

[2020-03-06 18:43] markyjackson-taulia commented on #74379
The exception was denied and therefore moving to v1.19
see https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!msg/kubernetes-release-team/dB6ZBZIzJG4/vhV1U9UyAAAJ for details

[2020-03-06 18:43] dimm0 commented on #84169
🙏

[2020-03-06 18:43] markyjackson-taulia commented on #74379
/milestone v1.19

[2020-03-06 19:32] Jefftree opened #88918 "conformance.yaml capturing comments not intended for conformance data"
**What happened**:

The conformance.yaml file captures comments not intended to be part of the "Description" section in the Description section.

For example: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/docker_containers.go#L66-L67 should not be captured, but is populated in the Description in the conformance.yaml https://github.com/kubernetes/kubernetes/blob/master/test/c

[2020-03-06 19:34] Jefftree commented on #88918
/sig testing
/area conformance

[2020-03-06 19:39] cyrus-mc commented on #76531
Upgraded to the latest containerd and runs (using k8s 1.13) and issue still happens for me

[2020-03-06 19:44] PeterQiao commented on #88784
@aojea
Can endpoints support dual stack? From my understanding, it cannot support dual stack in v1.17.
Why kube-proxy will check another ipFamily which is not configured?
Here is the endpoints info under default ns from my cluster,
#kubectl get endpoints kubernetes -oyaml
apiVersion: v1
kind: Endpoints
metadata:
  creationTimestamp: "2020-03-04T21:15:06Z"
  name: kubernetes
  namespace: default

[2020-03-06 19:46] julianvmodesto commented on #86526
From the release team:

Help is appreciated! I'll have a PR for Monday if there's no one else working on this

[2020-03-06 19:49] PeterQiao commented on #88784
Another observation about dual stack supporting is I don't see ipv6 interface address node status.
[code]
Here is my interface configuration,
[code]
and here is pod configuration, I see kubelet has already set ipv6 network in podCIDRs
[code]

[2020-03-06 19:53] julianvmodesto commented on #86525
From the release team:

Thanks for your help @zhouya0! I think we're all good here now! I'll do one more pass.

/assign @zhouya0

The only things left are maybe documenting `kubectl diff` in a `kustomize` workflow in the kustomize docs, and also if there is a `feature-state` Hugo Shortcode we should use, but all of the important docs seem covered.

[2020-03-06 19:53] sethp-nr commented on #86509
Oh, I see – I was thinking of the `blockOwnerDeletion` owner references as an "OR" (if either owner is deleted, so is the dependent), but it sounds like apimachinery is thinking of them as an "AND" operation, at least in `background` deletion mode.

Is there a way to mark a resource as "foreground deletion by default", or some other way to flag a delete as something that should cascade (& block)?

[2020-03-06 20:20] serathius commented on #88546
@mm4tt from Scalability team was also interested in it

[2020-03-06 20:26] alculquicondor opened #88919 "Add swagger docs for kube-scheduler APIs"
/sig scheduling
/sig docs
/wg component-standard
/kind feature

kube-scheduler has 2 APIs that can be used to configure it at start up:

- [kubescheduler.config.k8s.io/v1.Policy](https://github.com/kubernetes/kubernetes/blob/c649666b4addcb9cbef3ca5ca1d6d572e252f551/staging/src/k8s.io/kube-scheduler/config/v1/register.go#L39)
- [kubescheduler.config.k8s.io/v1alpha2.KubeSchedulerConfiguration](https

[2020-03-06 20:29] alculquicondor commented on #88919
cc @ahg-g @Huang-Wei @zacharysarah @mtaufen

[2020-03-06 20:51] uablrek commented on #88784
The `InternalIP` is reported by `kubelet` if you specify `--register-node=true`. Currently kubelet does not report both ipv4 and ipv6 addresses, that is not implemented yet. But  public clouds do not let `kubelet` report the node but defines them themselves. At least `Azure` set both addresses. So it depends on your environment.

[2020-03-06 20:51] Jefftree opened #88921 "Conformance test header: Inconsistency between Name and Testname"
**What happened**:

The example given in the conformance README consists of

[code]

with Release, Testname, and Description. Some conformance headers are using Name instead of Testname and cause empty testnames in the conformance.yaml

Eg: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/common/runtime.go#L189-L194 corresponds to a blank testname is conformance.yaml https://github.co

[2020-03-06 20:56] pranay123111 opened #88922 "Getting Pod Name"
**What would you like to be added**:
How can i get the pod name (in my code) where my service is running

**Why is this needed**:
In our current project we are running 100 pods i just want to have a monitor on logs, if we know which pod it is running. i can create a dashboard which gives information total requests it ran on each pod
/sig Apps

[2020-03-06 21:12] rtheis commented on #88174
We have an HA use case that involves spreading pods across nodes and zone with preferred scheduling since we'd rather schedule the pods than not.  Before 1.18, we've been using the something like the following:

[code]

Now with the 1.18 beta, we tried the following:

[code]

The later yields better scheduling results than the former on a 9 nodes multi-zone cluster with 3 nodes in each node.  So w

[2020-03-06 21:17] #88890 closed

[2020-03-06 21:28] skaven81 opened #88926 "Audit log: sanitize requestObject of Secret resources by default"
**What would you like to be added**:

Add a sanitization function (perhaps similar to, or using the same mechanism as #76794) that is _enabled by default_ for kube-apiserver audit log messages for `secret` resources.  "Sanitization" in this case, means that the `requestOjbect.data` field is obfuscated or eliminated from the JSON.  It should be possible to configure which resources get this treatme

[2020-03-06 21:29] skaven81 commented on #88926
/sig api-machinery
/area apiserver

[2020-03-06 21:48] skaegi opened #88928 "jsonpath wildcard and filter support is not working with objects"
JSONPath wildcard and filter support works correctly for arrays but does not work for objects.

When I use an expression like ...
[code]
I get the error ...
[code]

Similarly when I use a filter expression like...
[code]
I get something like...
[code]

---

These are both legal jsonpath expressions where the "*" wild-card should be treated like matching all key fields of the map, and the filter ex

[2020-03-06 22:03] alculquicondor commented on #88174
@rtheis thanks a lot for sharing. Giving more weight to explicit requests is what we are proposing.

However, I'm a little surprised that you need these constraints. The scheduler already spreads by default when using services, replica set or stateful sets. Are these pods not members of any of those? I assume you are not modifying the scheduler configuration? But, of course, there are other scores

[2020-03-06 22:06] alculquicondor commented on #88919
I did an experiment to generate some docs in #88927. But I'm not sure if that's all its needed.

[2020-03-06 22:10] liggitt commented on #88274
fixed in https://github.com/kubernetes/kubernetes/pull/88599

[2020-03-06 22:10] #88274 closed

[2020-03-06 22:13] liggitt commented on #88886
cc @derekwaynecarr @smarterclayton for container lifecycle issues

[2020-03-06 22:14] SUYASHKARMARKAR commented on #84805
can we reopen the feature request ? Thanks.

[2020-03-06 22:19] SUYASHKARMARKAR commented on #84805
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-03-06 22:23] rtheis commented on #88174
@alculquicondor These pods are part of a deployment.  I tried without any scheduling preferences and the results are similar to podAntiAffinity preferred scheduling.  Here is the baseline deployment yaml used for the tests:

[code]

I have not modified the scheduler configuration.

[2020-03-06 22:40] aojea commented on #88784
@PeterQiao endpoints on services with ClusterIP services are single family, with the same IPFamily than the ClusterIP. However, you can create endpoints manually, not associated to a service, or to a headless service (ClusterIP=None) with a mix of families.

You opened the issue asking why do you have these errors logs

If you check the endpoints of the services mentioned in the logs

there are no

[2020-03-06 22:45] skaegi commented on #88928
/sig cli
/area kubectl

[2020-03-06 23:03] thockin commented on #88711
Hi, I don't understand what you're trying to do.  Do you want the field to be mutable after creation?  Or do you want it to be set based on some other information, or something else?

[2020-03-06 23:10] PeterQiao commented on #88784
@aojea Ok, I understand what you mentioned. From the implementation, this log behavior is correct. The other problem is why this log is flooding? The kube-proxy is constantly logging the same error.

[2020-03-06 23:18] apelisse commented on #88901
@nmiculinic thanks for the detailed post, you're absolutely right that this is related to the two issues that you mentioned. I don't see how we would be able to fix this in 1.18 or any version before that, we're planning on fixing it in 1.19.

We should probably update the documentation to mention that this doesn't work for sub-resources, and maybe even disable it altogether for sub-resources.

[2020-03-06 23:22] gh67uyyghj opened #88933 "k8s.io/utils/net.GetIndexedIP() always fails with IPv6 networks"
No matter what the used network size or the index is, GetIndexedIP() always returns an error.

For example when used with the network `fd:11:b2:be::/64` and index `1`. It fails with the error
[code]

It works well with IPv4 subnets though.

[2020-03-06 23:26] richardqa commented on #74651
I am facing this same problem, Is there a way to unenable Taint based Evictions and that pod-eviction-timeout works in global mode?

[2020-03-07 01:32] RichieSams commented on #83786
I ran into this issue as well, using `ceph.com/rbd`
It looks like the solution is to use the CSI driver instead of `ceph.com/rbd` https://github.com/ceph/ceph-csi

[2020-03-07 02:23] deepakcpakhale06 opened #88937 "certificatesigningrequest.certificates.k8s.io wrong output upon certificate deny"
**What happened**:
Denied a CSR using `kubectl certificate deny`. Got the wrong/misleading output

**What you expected to happen**:
Expected api to return correct output.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create `CertificateSigningRequest` object.

[code]
2. Deny the request

[code]
You will get following output

[code]
**Anything else we need to know?**:

**En

[2020-03-07 03:08] annajung commented on #78904
Hi there! Code freeze was yesterday for 1.18. I'll move this issue to v1.19 and remove it from bug triage tracking sheet. Thank you
/milestone v1.19

[2020-03-07 03:10] annajung commented on #77019
Hi there! Code freeze was yesterday for 1.18. I'll move this issue to v1.19 and remove it from bug triage tracking sheet. Thank you
/milestone v1.19

[2020-03-07 04:04] #78409 closed

[2020-03-07 05:06] kuldeepsingh99 opened #88938 "kubectl get nodes command giving The connection to the server <ip>:6443 was refused - did you specify the right host or port?"
I have deployed kubernetes cluster on AWS EC2 Ubuntu Nodes, one master node and one worker node. Its a free tier t2.micro machine with 1 CPU.

I installed and configured everything and on day 1 everything works fine. kubectl get nodes command was responding without any delay and i was able to create MYSQL deployment.

Next day when i tried kubectl get nodes i was getting **The connection to the se

[2020-03-07 05:35] smourapina commented on #87617
As we are now in code freeze for 1.18, and since you have [#19172](https://github.com/kubernetes/website/pull/19172) as WIP, I am moving this to the next milestone.

/milestone v1.19

[2020-03-07 06:06] #80903 closed

[2020-03-07 07:32] saurabhanetskope opened #88939 "k8s 1.15.5 cpumanager/kubelet changed the cpu_sets of containers in Guaranteed Qos Pods"
**What happened**:
CpuManager, Kubelet changed the cpu_sets, core_ids of the containers running in Pods with Guaranteed Qos Class. These containers are using integer number of cpus. 'kubectl describe pod' does show that pod is in Guaranteed Qos Class.

**What you expected to happen**:
cpu_sets or the core-ids to remain the same throughout the lifetime of the container. Is it expected to is it just

[2020-03-07 07:50] saurabhanetskope commented on #88939
/sig architecture

[2020-03-07 07:59] saurabhanetskope commented on #88939
/sig node

[2020-03-07 08:27] saurabhanetskope commented on #87249
@ipuustin going by this k8s feature release notes https://kubernetes.io/blog/2018/07/24/feature-highlight-cpu-manager/, the cpu_sets or the core given to guaranteed containers should not change during the lifetime of the container. But the comment above suggests that it can happen. I am running into a similar issue mentioned here https://github.com/kubernetes/kubernetes/issues/88939
Is it expected

[2020-03-07 09:13] #88816 closed

[2020-03-07 09:46] uthng commented on #85761
Hello, I got the same issue with `apply` and `patch`. As described, just after executing `kubectl patch`, I got the following message: `statefulset.apps/sre-vault patched (no change)`. When I described statefulset, I got the image with the updated version but the pods are not restarted and continues to run normally with the old version.

[2020-03-07 09:51] deepakcpakhale06 commented on #88937
/sig area/usability

[2020-03-07 09:52] deepakcpakhale06 commented on #88937
sig usability

[2020-03-07 09:52] deepakcpakhale06 commented on #88937
/sig usability

[2020-03-07 10:50] aojea commented on #88784
I think (please somebody correct me if I'm wrong) this is because the endpoints are checked periodically, per the control-loop / reconcile paradigm that kubernetes uses, so it tries to add those endpoints periodically

[2020-03-07 11:33] SataQiu commented on #88933
/assign
I'd like to take a shot at it!

[2020-03-07 13:11] kuldeepsingh99 commented on #88938
/sig area/apiserver

[2020-03-07 13:15] alculquicondor commented on #87617
Sorry, we have finalized the implementation of this issue. We haven't
reached the docs freeze. And I'm already working on it.

On Sat., Mar. 7, 2020, 12:35 a.m. Silvia P., <notifications@github.com>
wrote:

[2020-03-07 14:14] #83330 closed

[2020-03-07 14:14] #83393 closed

[2020-03-07 14:14] #79602 closed

[2020-03-07 15:15] #82903 closed

[2020-03-07 15:15] #83228 closed

[2020-03-07 16:15] Eric-918 commented on #52757
a solution for sharing one gpu among multiple containers,  by wrapping interfaces of  libcuda.so
u can create a pod A with 0.2 GPU ,and a pod B with 0.4 GPU, A only use 20% SMs, B only use 40% SMs.
https://github.com/tkestack/gpu-manager

[2020-03-07 16:21] tedyu commented on #88928
The 'filter expression' command is the same as the first one.

Can you show the actual command ?

[2020-03-07 18:03] liggitt commented on #88937
/sig cli auth

[2020-03-07 18:09] liggitt commented on #88937
This was resolved in https://github.com/kubernetes/kubernetes/pull/84400/files

[2020-03-07 18:09] #88937 closed

[2020-03-07 18:31] gimlichael opened #88942 "Unable to start Pods on Windows nodes (Failed to create pod sandbox)"
I have followed the guidelines from https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/joining-windows-workers?tabs=ManagementIP and https://www.outsystems.com/blog/posts/deploying-kubernetes-to-run-windows-containers/, but the result is quite a downer.

As i am trying to persuade the EAs at work to consider adapting Windows nodes into our Kubernetes setup, I am trying to

[2020-03-07 18:33] samedguener commented on #52757
@Eric-918 Thank you very much! I will look into this! Looks like very different approach of what I have seen before.

[2020-03-07 18:35] gimlichael commented on #88942
/sig Node
/sig Windows
/wg K8s Infra

[2020-03-07 18:35] gimlichael commented on #88942
/sig Windows

[2020-03-07 18:37] aojea commented on #88933
/remove-triage unresolved
/priority critical-urgent

for clarification it fails with all IPv6 networks that has leading zeros in its byte representation

[2020-03-07 18:57] smarterclayton commented on #88861
Different reason this time.  Will continue to enumerate failure modes.

[2020-03-07 19:49] liggitt commented on #88938
That indicates the API server is not running successfully. What is in the apiserver log file?

[2020-03-07 19:53] angelbarrera92 opened #88944 "CRD: Free-Form Object (openAPIV3Schema)"
**What happened**:

My CRD definition with a [`Free-Form Object`](https://swagger.io/docs/specification/data-models/data-types/) attribute does not work as expected.

Having the following CRD:

[code]

With a CR:
[code]

My controller can do the business, but when it tries to patch the `status` field:

[code]

It just create an empty json:

[code]

**What you expected to happen**:

As the output s

[2020-03-07 19:54] angelbarrera92 commented on #88944
/sig apps
/sig api-machinery
/sig cli

[2020-03-07 20:35] angelbarrera92 commented on #88944
Do i need to add: `x-kubernetes-preserve-unknown-fields: true` in the status field?

[2020-03-08 00:06] liggitt commented on #88944
Yes. By default, only defined attributes are preserved in CRD v1 schemas.

[2020-03-08 00:19] liggitt commented on #88944
See https://kubernetes.io/docs/tasks/access-kubernetes-api/custom-resources/custom-resource-definitions/#pruning-versus-preserving-unknown-fields for details

[2020-03-08 00:19] #88944 closed

[2020-03-08 02:39] wawa0210 commented on #88942
From this log we can see that the version of the "pause" (infrastructure) image is inconsistent with the version of your operating system `1909`(Because the base image version of the windows container needs to be consistent with the operating system version)

https://docs.microsoft.com/en-us/virtualization/windowscontainers/kubernetes/joining-windows-workers?tabs=ManagementIP#create-the-pause-infr

[2020-03-08 02:45] roundnutz14 commented on #88942
I'm not f****** Michael you assholes

On Sat, Mar 7, 2020, 9:42 PM wawa <notifications@github.com> wrote:

[2020-03-08 03:34] tedyu commented on #81289
I encountered this issue too.
[code]
As workaround, you can use apply command.

[2020-03-08 07:23] ProdanLabs opened #88946 "kube-apiserver v1.18.0-beta.1 panic: runtime error: invalid memory address or nil pointer dereference"
[code]

[2020-03-08 07:47] ProdanLabs commented on #88946
`audit-webhook-config-file` Parameter configuration is incorrect

[2020-03-08 07:47] #88946 closed

[2020-03-08 10:34] #82402 closed

[2020-03-08 11:01] andylibrian commented on #88886
I'm interested to look at this.

That statement has been in the documentation for a long time (2017):
https://github.com/kubernetes/website/commit/446606a43a18e963374d5309c9c4b23f7de3fe2c

[code]

and when I quickly look into `kubernetes/pkg/kubelet/kuberuntime/kuberuntime_manager.go` history, it seems that it has never been implemented.

Can I work on this once there is a direction whether we sho

[2020-03-08 11:01] sudaxl commented on #88922
Not sure if I understand your requirement fully. I think you can use some kubectl log commands and filter the pods that you are interested in using labels, names, deployment name etc..

[2020-03-08 11:13] uablrek commented on #87426
Here is a sequence-diagram to illustrate the problem;

![masquerade-all](https://user-images.githubusercontent.com/37046727/76161517-72c61800-6134-11ea-8d64-07aab5c4fd78.png)

The difference if `--masquerade-all` (or "iptables.masqueradeAll:true/false" if a config file for kube-proxy is used) is the source filter in the `KUBE-SERVICES` chain. Check with `iptables -t nat -L -nv`;

Wthout masquerade

[2020-03-08 11:25] sbhnet opened #88947 "Install Kubernetes on Ubuntu 16.04 ARM64 environment with qemu kube-apiserver pod crash and Rejected connection in ETCD logs"
**What happened**:
kubeadm init fail
[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s
I0308 19:17:00.605906    2726 round_trippers.go:423] curl -k -v -XGET  -H "User-Agent: kubeadm/v1.17.3 (linux/arm64) kubernetes/06ad960" -H "Accept: application/json, */*" 'https://192.168.50.91:6443/healt

[2020-03-08 11:33] sbhnet commented on #88947
/sig <API Machinery>
/wg <Component Standard>
/committee <Code of Conduct>

[2020-03-08 11:36] aojea commented on #88947
@sbhnet please add a better description to the issue, a **What do you expect happen** section will be useful, per example.
Also, use a more meaningful title, otherwise is difficult to triage these kind of issues

[2020-03-08 11:41] gimlichael commented on #88942
I am not sure I get you; again, i followed both guides carefully.

For the nanoserver, i changed it like this:

[code]

If i do as you suggest, eg. try to run the 1809 version directly from docker, i get this error:

[code]

Whereas running the 1909 variant gives this:

[code]

Can you ellaborate?

Thanks.

[2020-03-08 11:44] sbhnet commented on #88947
kubeadm init cluster fail on ubuntu 16.04.6 aarch64 (ARM64) platform.

k8s version 1.17.3 1.16.0 1.15.5

kubeadm init --apiserver-advertise-address=0.0.0.0 --image-repository gcr.azk8s.cn/google_containers --kubernetes-version v1.15.5 --v=9

[wait-control-plane] Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s

[2020-03-08 12:09] mo-mirzania commented on #85794
I resolved(?) the problem by stopping firewalld!

[2020-03-08 12:36] #64251 closed

[2020-03-08 12:44] gimlichael commented on #88942
@wawa0210 you got me focused on the pause image - so thank you for getting my attention to that. It turns out, that the guides has not been updated to reflect the new reality.

So after looking that this issue, https://github.com/kubernetes/kubernetes/issues/80023, the solution for me was to do the following:

**INSTEAD OF THIS FOR THE PAUSE IMAGE**
[code]
**I HAD TO DO THIS FOR THE PAUSE IMAGE**

[2020-03-08 12:56] #88942 closed

[2020-03-08 12:57] unfor19 commented on #36601
I needed this to pull images (since they're large) upon Node creation. This way, the Pods creation will be significantly faster.

This is how I achieved it - https://codefresh.io/kubernetes-tutorial/single-use-daemonset-pattern-pre-pulling-images-kubernetes/

### TL;DR
1. DaemonSet [spec.initContainers](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/) attribute - list of contai

[2020-03-08 13:01] aojea commented on #88785
I understand the big benefit for the upgrade but what happens if, for whatever reason (upgrade failed to remove the old apiserver, ...) , 2 or more apiservers with different versions are bound to the socket?

My understanding is that SO_REUSEPORT will distributes connections evenly across all of the processes, and some clients will be served by different versions

[2020-03-08 14:06] smourapina commented on #87617
Thanks for getting back on this @alculquicondor. You are correct, the for docs you need to have a PR ready by EOD Mon March 9!
It makes sense in that case to reassign the milestone to 1.18.
/milestone v1.18

[2020-03-08 14:27] sbhnet commented on #88947
logs help us debug
I0308 22:22:48.735580   18859 round_trippers.go:443] GET https://192.168.50.91:6443/healthz?timeout=32s  in 346 milliseconds
I0308 22:22:48.736078   18859 round_trippers.go:449] Response Headers:

Unfortunately, an error has occurred:
        timed out waiting for the condition

This error is likely caused by:
        - The kubelet is not running
        - The kubelet is unhealt

[2020-03-08 14:41] sbhnet commented on #88947
root@master:~# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/lib/systemd/system/kubelet.service; enabled; vendor preset: enabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: active (running) since 日 2020-03-08 22:18:50 CST; 9min ago
     Docs: https://kubernetes.io/docs/home/
 Main PID: 19489 (kubele

[2020-03-08 14:44] sbhnet commented on #88947
kube-apiserver pod log
docker logs dacaaed48119
Flag --insecure-port has been deprecated, This flag will be removed in a future version.
I0308 14:42:32.811812       1 server.go:623] external host was not specified, using 192.168.50.91
I0308 14:42:33.069683       1 server.go:149] Version: v1.16.7

[2020-03-08 14:45] praseodym commented on #88742
This is by design, [e2e tests are currently using Bazel 0.23.2](https://github.com/kubernetes/test-infra/blob/cd2a9be6f3f94a8c5ac85b81257deabcd3b0aee5/images/kubekins-e2e/variants.yaml) and there's no guarantee that using a newer version will work. You can use [Bazelisk](https://github.com/bazelbuild/bazelisk) to automatically download and use the correct Bazel version.

[2020-03-08 14:48] sbhnet commented on #88947
root@master:~# docker images
REPOSITORY                                               TAG                 IMAGE ID            CREATED             SIZE
arm64v8/mariadb                                          latest              af7f84ddfd63        3 days ago          342MB
arm64v8/wordpress                                        latest              2e440dbd3088        10 days ago         489MB
gcr

[2020-03-08 15:03] invidian commented on #88785
That's correct. But according to [Kubernetes version skew policy](https://kubernetes.io/docs/setup/release/version-skew-policy/), it should be fine to run 2 different versions of API server during the upgrade. If one have HA controlplane, this will be happening anyway.

In theory, this problem may occur, if more than one upgrade fails to remove old API server instance, so skew policy will be viola

[2020-03-08 15:39] #81837 closed

[2020-03-08 15:39] #37086 closed

[2020-03-08 15:39] #80330 closed

[2020-03-08 15:39] #82915 closed

[2020-03-08 15:53] julianvmodesto commented on #17333
/wg apply

[2020-03-08 15:54] julianvmodesto commented on #83562
x-ref bulk API https://github.com/kubernetes/kubernetes/issues/9633

[2020-03-08 16:40] #83642 closed

[2020-03-08 16:40] #79215 closed

[2020-03-08 16:40] #83636 closed

[2020-03-08 17:30] neolit123 commented on #88947
are you sure this will work for you setup? what happens if you pass a fixed IP address?

/remove-kind bug
/triage support

[2020-03-08 17:31] neolit123 commented on #88913
/sig node

[2020-03-08 18:54] aksgithub commented on #79773
@saviogl no update. i will try out with recent k8s version and submit a patch if it's still not fixed.

[2020-03-08 20:01] jkugler commented on #60903
/remove-lifecycle stale

[2020-03-08 22:49] alpozcan commented on #60807
$ kubectl get api-services
error: the server doesn't have a resource type "api-services"

We're on kubectl & kubernetes version 1.15.

[2020-03-08 23:08] liggitt commented on #60807
typo, should be apiservices

[2020-03-08 23:45] sunshine69 commented on #48948
Hm seeing this thread is a bit painfull. People keep posting, reporting but seems no one to care. Issues keep coming stale.

I probably run away from the whole kubeXXX all together for such behaviour.

Oh well maybe a attitude - submit a patch or shut up?

<shrug and go away>

[2020-03-08 23:50] sunshine69 commented on #48948
And if someone ask me why I have nothing to do but posting here, then you can see below. But looking above makes me even not bothering to say anything ....

Wake up people. If you do so, you lose users, your project will be less and less popular and eventually phased out ......

[code]

[2020-03-09 00:52] sbhnet commented on #88947
fixed ip also not work for me.

kubeadm init --apiserver-advertise-address=192.168.50.93 --image-repository gcr.azk8s.cn/google_containers --kubernetes-version v1.16.0 or 1.17.3 1.15.5

BTW

I0308 15:00:58.649652       1 client.go:357] parsed scheme: "endpoint"
I0308 15:00:58.660690       1 endpoint.go:68] ccResolverWrapper: sending new addresses to cc: [{https://127.0.0.1:2379 0  <nil>}]
I0308 15

[2020-03-09 00:55] #88861 closed

[2020-03-09 00:55] sbhnet commented on #88947
kubeadm init --apiserver-advertise-address=192.168.50.91 --image-repository gcr.azk8s.cn/google_containers --kubernetes-version v1.16.0 or 1.17.3 1.15.5

[2020-03-09 01:20] sbhnet commented on #88947
tcp6       0      0 127.0.0.1:10252         127.0.0.1:58750         TIME_WAIT   -
tcp6     262      0 192.168.50.91:6443      192.168.50.91:57648     CLOSE_WAIT  -
tcp6       0      0 127.0.0.1:10251         127.0.0.1:48608         TIME_WAIT   -
tcp6     262      0 192.168.50.91:6443      192.168.50.91:57592     CLOSE_WAIT  -
tcp6     266      0 192.168.50.91:6443      192.168.50.91:57646     CLOS

[2020-03-09 01:29] sbhnet commented on #88947
So ,I suspect there's something wrong with Kube-apiserver pod for ARMv8.

root@master:~# docker ps
CONTAINER ID        IMAGE                                      COMMAND                  CREATED             STATUS              PORTS               NAMES
f1fe96678aa9        f5f7f8db1ec1                               "kube-apiserver --ad…"   4 minutes ago       Up 3 minutes

[2020-03-09 02:20] deshui123 commented on #86773
Same error.
**kube-proxy is v1.17.0.**
Using **mode:ipvs** for dual-stack
[code]

Refer to the validation guide (https://kubernetes.io/docs/tasks/network/validate-dual-stack/#validate-pod-addressing), pods, nodes and services work well, but there are the same error in kube-proxy logs
[code]
**Want to know if there is some way to specify the ipfamily?**
Is this error caused by "W0304 03:43:47.48527

[2020-03-09 02:28] deshui123 commented on #88784
@PeterQiao nodeIPs are only dual stack if the cloud-controller-manager updates it, on bare metal or without cloud-controller-manager you only see one address.
I tried cloud-controller-manager in my **openstack** cluster and can get ipv4/ipv6 interface.

[code]

[2020-03-09 02:50] #77758 closed

[2020-03-09 03:16] mlmhl commented on #87615
We are also seeing the same issue. From the log, we found that after the problem occurred all subsequent requests were still send on the same connection. It seems that although the client will resend the request to apiserver, but the underlay http2 library still maintains the old connection so all subsequent requests are still send on this connection and received the same error `use of closed conn

[2020-03-09 05:03] pankaj-OD commented on #37471
removing -t is not a solution permanently. because when I got the same error I also used this suggestion of removing of -t, but in that case whatever command we are passing in next line it do not shows in output see:

+ kubectl exec -i <podname>-n eai /bin/sh
+ ls -lrth
total 0
+ exit
[Pipeline] }
[Pipeline] // node
[Pipeline] End of Pipeline
Finished: SUCCESS

--> here it should be showing output

[2020-03-09 05:35] angao commented on #88887
Yes, we know that the current device plugin API exposes less information, only deviceid, and the device is scheduled by Kubelet.

Referring to [this proposal](https://github.com/vikaschoudhary16/community/blob/3cd8f87115b7a32dc8c2c5eeea09847657f73c50/keps/sig-node/00014-resource-api.md), we designed the device to be scheduled by the Scheduler.

We use the `ExtendedResource` CRD to expose more devi

[2020-03-09 05:36] angao commented on #88887
@alculquicondor Yes, we know that the current device plugin API exposes less information, only deviceid, and the device is scheduled by Kubelet.

Referring to [this proposal](https://github.com/vikaschoudhary16/community/blob/3cd8f87115b7a32dc8c2c5eeea09847657f73c50/keps/sig-node/00014-resource-api.md), we designed the device to be scheduled by the Scheduler.

We use the `ExtendedResource` CRD to

[2020-03-09 05:42] uablrek commented on #86773
No, that is just informative (should not even be a warning IMHO)

[2020-03-09 05:54] surekhakallam opened #88956 "About Startup Probes - need more information about starting time of startup probes"
we are using kubernetes 1.17 and we implemented Startup Probes ... And reduced the failure Threshold of readiness and liveness probes ... after that the pods are going to crashed state ... is it the expected behaviour?

we saw that the startup probe is useful during the slow start of the containers..
we thought that the startup probe will takeover first and then the liveness probe and readiness pr

[2020-03-09 05:55] surekhakallam commented on #88956
/sig ui

[2020-03-09 06:09] sbhnet commented on #88947
curl -k -v -XGET  -H "Accept: application/json, */*" -H "User-Agent: kubeadm/v1.16.7 (linux/arm64) kubernetes/be3d344" 'https://192.168.50.91:6443/healthz?timeout=32s'
Note: Unnecessary use of -X or --request, GET is already inferred.
*   Trying 192.168.50.91...
* Connected to 192.168.50.91 (192.168.50.91) port 6443 (#0)
* found 148 certificates in /etc/ssl/certs/ca-certificates.crt
* found 592 ce

[2020-03-09 06:12] Adhders opened #88957 "unable to fetch pod metrics for pod default/mypod: no metrics known for pod"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-03-09 06:17] tariqkipkemei commented on #83225
this solved my problem:
cp /usr/libexec/cni/firewall   /opt/cni/bin

[2020-03-09 06:54] DXist commented on #69687
@memorais , there is [the walkthrough](https://github.com/DirectXMan12/k8s-prometheus-adapter/blob/master/docs/walkthrough.md) for Prometheus Adapter.

[2020-03-09 07:50] onesolpark commented on #88922
If you follow the `kubectl logs deployment/name` logic
1. Get deployment and get selector
2. Select pods using selector label (i.e app=nginx)
3. Get logs from pods selected from step 2.

If you know the label I think you can go straight to step 2 and 3

[2020-03-09 07:53] jfbai commented on #88604
https://github.com/kubernetes/kubernetes/issues/84855

known issue, fixed in master branch.

cc @gongguan

/close

[2020-03-09 07:53] #88604 closed

[2020-03-09 08:02] willzhang opened #88958 "e2e test failed for kubernetes v1.17.3"
**What happened**:
kubernetes v1.17.3 sonobuoy e2e test failed for AdmissionWebhook
[code]

**What you expected to happen**:
test pass

**How to reproduce it (as minimally and precisely as possible)**:
install kubernetes v1.17.3 with kubeadm,then run:
[code]

**Anything else we need to know?**:
e2e.log as follow link:

[e2e.log](https://gist.githubusercontent.com/willzhang/9b11a8b4fa216e6eb5bc6a5b

[2020-03-09 09:28] povsister commented on #72220
Ran into the same issue.
At least there should be a WARNING on document saying that jsonpath features are not fully implemented.
Apparently I got nothing from doc and it wasted me 20 minutes checking jsonpath doc to see if I am wrong with syntax.

[2020-03-09 09:34] saurabhanetskope commented on #88939
i don't see the above issue on k8s 1.17.0 version either. Can somebody confirm that some issue like this existed and got fixed in 1.17.0 release. I do see a lot of changes that went in reconcileState() inside CpuManager in release 1.17.0

[2020-03-09 09:57] leoskyrocker commented on #40358
Relevant: https://github.com/kubernetes/kubernetes/issues/87662

[2020-03-09 10:16] zhouya0 commented on #86525
Sorry I see this message just now, "Docs PRs must be ready for review on Mon March 9". Is that means it's already late for the PRs?

[2020-03-09 10:28] rverma-jm commented on #77557
We are kind of facing the issue other way around, i.e. kubernetes automatically add rules to allow traffice from 0.0.0.0 on port 80 and 443 in the provided security group. I think when security group is provided it shouldn't modify the rules inside. Seems like a bug.

[2020-03-09 10:57] cwdsuzhou opened #88960 "Enhancement Request: Support adding extra metrics for framework plugins"
**What would you like to be added**:

Support adding extra metrics for framework plugins

**Why is this needed**:

/sig scheduling

[2020-03-09 11:04] tangjiaxing669 opened #88961 "Unable to mount volumes for pod"
The follow is my config info:

[code]

When I applied the `appupload-deploy.yaml` file, the state of the pod was always in the `ContainerCreating` for nearly 10 minutes.

[code]

The describe info:

[code]

[2020-03-09 11:05] stephen-dexda commented on #82525
/remove-lifecycle stale

[2020-03-09 11:43] wojtek-t commented on #80209
/remove-lifecycle stale
/lifecycle frozen

[2020-03-09 11:46] redbaron commented on #70010
/remove-lifecycle stale

[2020-03-09 12:45] andy-wolf168 opened #88964 "After ifdown and ifup, pod condition.Ready on node never become true"
**What happened**:
Q1：
1. kubectl get pod -A -oyaml ,  shows all pods condition.Ready:true on node1
2.  I0308 09:32:15    ifdown enp8s0f1 on node1
3.  I0308 09:33:27    NodeNotReady status on node1 ->   Added NoSchedule Taint  ->  pod condition.Ready: false
     I0308 09:33:32   Added NoExecuteTaint
4.  I0308 09:36:23    ifup enp8s0f1 on node1
5. kubectl get pod -A -oyaml ,  shows most pods condit

[2020-03-09 12:56] liggitt commented on #88843
do you have the apiserver manifest handy? if the PodSecurityPolicy admission plugin is enabled, pods fetched from the API server will have a `kubernetes.io/psp` annotation

[2020-03-09 13:05] #88878 closed

[2020-03-09 13:05] neolit123 commented on #83225
this seems to be related to this ticket:
https://github.com/kubernetes/release/issues/242

the k8s CNI plugins should install to  /usr/libexec/cni RedHat based OSes.
but the long term plan is for k8s to stop shipping the CNI package and make the users install it manually from https://github.com/containernetworking/plugins/releases

/close

[2020-03-09 13:05] #83225 closed

[2020-03-09 14:04] alculquicondor commented on #88174
Yes, deployments are affected because they create a replica set that owns the pods. But there are always other scores at play that might also be important, which is why a "preferred" spreading is never going to be perfect. This is kind of the point that @lavalamp was trying to make: guarding users from over-fitting and degrading the clusters in some way.

[2020-03-09 14:20] mborsz opened #88967 "Add global rate limit to endpoints/endpointslices controller"
**What would you like to be added**:
@lavalamp suggested in https://github.com/kubernetes/kubernetes/pull/88579#issuecomment-592102136 adding a global rate limit.

In that PR we decided to use different approach (adding a constant delay) as our main goal there was to reduce load on kube-apiserver during regular endpoints controller work, but I think it's a good idea to have a mechanism like that t

[2020-03-09 14:22] Placidina opened #88968 "Missing flag to changing MaxRequestBodyBytes"
**What happened**:
When passed the argument `--max-resource-write-bytes` as shown in the tests of the PR #73805.
I received an error: `Request entity too large: limit is 3145728` on creating a big binary `ConfigMap` file
I got the error that there is no argument in `kube-apiserver`.

[code]

**What you expected to happen**:
Changing the `MaxRequestBodyBytes`.

**How to reproduce it (as minimally a

[2020-03-09 14:22] mborsz commented on #88967
/sig network

[2020-03-09 14:23] mborsz commented on #88967
/cc @kubernetes/sig-network-feature-requests

[2020-03-09 14:28] wojtek-t commented on #88967
Thanks for filing in this issue.
Regarding the options, the first is somethng we already have (it's client-based QPS), so it doesn't really help.

But I really like the third option.

[2020-03-09 14:30] alculquicondor commented on #88887
cc @ahg-g

[2020-03-09 14:33] mysunshine92 opened #88969 "kubelet always print error log: Failed to get system container stats for "/docker" when set cgroupsPerQOS: false"
**What happened**:
k8s 1.17.2
config kubelet with those parameters：
cgroupDriver: cgroupfs
cgroupRoot: /docker
cgroupsPerQOS: false

kubelet log always prints those：
E0303 17:25:03.436781   63839 summary_sys_containers.go:47] Failed to get system container stats for "/docker": failed to get cgroup stats for "/docker": failed to get container info for "/docker": unknown container "/docker"
E0303 17

[2020-03-09 14:39] mysunshine92 commented on #88969
/sig node

[2020-03-09 14:56] ipuustin commented on #87249
I think that the cpuset for a Guaranteed container doesn't change after the first assignment. If you see it changing (other than the aforementioned "all cpus" -> "some limited number of cpus") you should check if your container has been restarted for any reason.

[2020-03-09 15:21] skaegi commented on #88928
whoops ... copy and paste error ... updated with an actual filter expression

[2020-03-09 15:25] php-coder commented on #78702
/remove-lifecycle stale

[2020-03-09 15:28] alejandrox1 opened #88971 "Cleanup or replace GKE-based e2e jobs"
Tl;DR every single e2e job that runs on GKE is either broken or shows up intestgrid with no results because the e2e job has already been removed but testgrid config has not been updated.

**Which jobs are failing**:

**API Machinery Jobs** (jobs have been stopped but still show up in testgrid)
* https://testgrid.k8s.io/sig-api-machinery-gce-gke#gke
* https://testgrid.k8s.io/sig-api-machinery-gce-g

[2020-03-09 15:43] alculquicondor commented on #88919
cc @tengqm @kbhawkey

[2020-03-09 15:47] apelisse commented on #86525
It means we've got to hurry up, but there's not a crazy amount of work either.

[2020-03-09 15:48] tedyu commented on #88964
[code]
I searched the codebase but didn't find MarkAllPodsNotReady

[2020-03-09 15:53] neolit123 commented on #88958
if you search here for AdmissionWebhook you will see the tests passing consistently:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-1-17

it must be something related to your setup.
are the tests failing in multiple consecutive runs?

/remove-kind bug
/triage support

[2020-03-09 15:54] neolit123 commented on #88961
/sig storage

[2020-03-09 15:55] neolit123 commented on #88958
/area test

[2020-03-09 15:56] neolit123 commented on #88957
/remove kind-bug
/triage needs-information

please feel the issue template from the `.github` folder correctly.

[2020-03-09 15:56] neolit123 commented on #88957
/remove-kind bug

[2020-03-09 15:57] droslean opened #88974 "[Failing Test] gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)"
**Which jobs are failing**:
`gce-windows-1909-master (ci-kubernetes-e2e-windows-gce-1909)`

**Since when has it been failing**:
`5th March`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-1909-master

**Reason for failure**:
Many test cases are stale and others are failing.  It seems that the jobs are completely broken.

**Anything else we need to know**:
/prio

[2020-03-09 16:03] #87428 closed

[2020-03-09 16:16] saurabhanetskope commented on #87249
I checked and saw container has not restarted. cpu_sets for the guaranteed container-id changed after initial assignment. I have the kubelet logs to show that is indeed the case. I am attaching the log file. Please look for this container id in the logs 82b9c23702a30bcbe946379d0ae256954a42bccfec43cbe27dbf5e7a94aa334d

[kubelet_cpu_sets.log](https://github.com/kubernetes/kubernetes/files/4307718/ku

[2020-03-09 16:16] saurabhanetskope commented on #88939
I checked and saw container has not restarted. cpu_sets for the guaranteed container-id changed after initial assignment. I have the kubelet logs to show that is indeed the case. I am attaching the log file. Please look for this container id 82b9c23702a30bcbe946379d0ae256954a42bccfec43cbe27dbf5e7a94aa334d

[kubelet_cpu_sets.log](https://github.com/kubernetes/kubernetes/files/4307718/kubelet_cpu_se

[2020-03-09 16:16] rikatz commented on #87277
Actually I don't think this is right. If the Pod is inside the Kubernetes Cluster there are some other things than only putting the IP into Nginx Conf to make it work.

Like, as you're using Flannel the CNI is responsible to estabilish the tunnels and make the environment know what's the right route to the IP. Flannel uses IPTables also, so you're not removing it from the scenario anyway :)

[2020-03-09 16:21] karthikeayan commented on #32494
I am doing this in my local, which resolves multiple dependencies as below,

[code]

How to achieve this in Kubernetes spark-submit, do I have to download each and every dependency and build a custom image?

[2020-03-09 16:22] prcastro commented on #77073
I'm still getting this error

[2020-03-09 16:32] lavalamp commented on #88785
Yes, that is correct, HA systems already run in that split-version configuration. (I personally consider it undertested and therefore a state to be minimized, but this is how it is supposed to work.)

[2020-03-09 16:37] sbiermann commented on #87615
I have the same issue with a Raspberry Pi cluster with k8s 1.17.3 very often. Based on some older issues, i have set the kube API server http connection limit to 1000 "- --http2-max-streams-per-connection=1000", it was fine for more than 2 weeks after that it starts now again.

[2020-03-09 16:39] lavalamp commented on #88785
As far as what platforms we expect apiserver to run on-- I think the windows clusters still run the control plane on linux machines? I'd expect linux variants (both x86 and arm) to work. I think it's OK if the feature just isn't offered on all platforms, as long as it's documented and apiserver still *builds*.

[2020-03-09 16:54] kwiesmueller opened #88975 "Server Side Apply patch type only mentions yaml"
Currently the content type for using ssa is `application/apply-patch+yaml`, while ssa explicitly accepts both yaml and json.
This can be confusing for users.

Our current plan to approach is this is:

- [x]  Clarify the documentation (@kwiesmueller)
- [x] ~~Add a new content type that is clearer~~

/sig api-machinery
/wg apply
/cc @apelisse
/assign @jennybuckley

[2020-03-09 17:00] apelisse commented on #88975
New content-type is probably not needed for 1.18, while the documentation improvement probably is.

Also, I don't think we need to frame it as "ssa explicitly accepts both yaml and json." since that's not accurate. YAML is a superset of Json so sending json to the yaml endpoint is fine.

[2020-03-09 17:01] andy-wolf168 commented on #88964
https://github.com/kubernetes/kubernetes/blob/release-1.15/pkg/controller/nodelifecycle/node_lifecycle_controller.go#L796

[2020-03-09 17:07] lavalamp commented on #88967
I was thinking more along the lines of a wait in the worker threads, to allow repeated changes of the same thing to coalesce, which is actually equivalent to a constant delay, not a client rate limit. Reducing the client rate limit to the point where it has an effect is likely to cause some endpoints to get really high latency updates, I agree that doesn't seem good.

I like this option a lot! Siz

[2020-03-09 17:14] The-Fonz commented on #69696
I deleted the fluentd and prometheus daemonsets from my k8s cluster and subsequently re-enabled stackdriver-kubernetes through the gcloud sdk. Additionally, I set the autoscaling profile to the [more aggressive "optimize-utilization"](https://cloud.google.com/kubernetes-engine/docs/concepts/cluster-autoscaler#autoscaling_profiles). The former seems to have fixed the broken autoscaling for my defau

[2020-03-09 17:20] tedyu commented on #88964
@andy-wolf168
It turns out that in master branch (1.18), nodeutil.MarkPodsNotReady is used.

If you can try with 1.18, that would be nice.

Thanks

[2020-03-09 17:22] liggitt commented on #88968
No flag was intended for this option. See comment at https://github.com/kubernetes/kubernetes/pull/73805/files#diff-b33ad72aad5e176dd65fcb17b43a8b9eR50-R51

/close

[2020-03-09 17:22] #88968 closed

[2020-03-09 17:23] liggitt commented on #88975
I agree we should not fragment versions by adding a new content-type only supported by some servers. More clearly documenting what the current content-type allows is a good idea.

[2020-03-09 17:28] andy-wolf168 commented on #88964
Thanks @tedyu
1.The k8s version may not be upgraded in the near future, how can i fix this issues in k8s 1.15,6
2. Can you help explain why my expected to happen doesn't work
What you expected to happen:
if node1's heartbeats start up again ,
（1）kubelet will send 2 request :
GET https://{apiserver ip}:6443/api/v1/pods?fieldSelector=spec.nodeName%3Dnode40&limit=500&resourceVersion=0 200 OK in 2 mil

[2020-03-09 17:31] tedyu commented on #88968
[code]
It would be nice to add the above to server_run_options.go so that people can get the idea looking at either place.

[2020-03-09 17:41] tedyu commented on #88964
For step 3, if we have more logs:
[code]
that would help explain the behavior.

[2020-03-09 17:52] lukeschlather commented on #82154
/reopen

I don't understand what this warning is trying to say. What is it trying to warn me about? Even changing it to info I'm not clear on what the issue it's highlighting is. Is it saying that I'm overwriting an existing object?

[2020-03-09 17:59] bradmat commented on #88764
Just as an update on this issue. I've since tried to swap go version installations, gcc versions, and different versions of this repository.

Specifically I've tried the following versions, and a variety of combinations of them - unfortunately all resulting in the same build error:

[code]
[code]
[code]

As a result, I'm less inclined to believe it's a go bug as suspected, and perhaps instead some

[2020-03-09 18:08] wojtek-t commented on #88967
We've talked about  size with Maciek a bit today, and size has this drawback, that two endpoints with N pods inside aren't really equivalent - there can be significant differences depending e.g. on lengths of their names or node-names, etc. So while it can probably be bounded by some constant (say 3 or 5), it's still non-negligible.
That said, if that, because of some reason is much easier to impl

[2020-03-09 18:19] tedyu commented on #88961
@tangjiaxing669
Were you able to get kubelet log ?

See if there was clue for d-j6c6wnjcteuom8jmck2m

thanks

[2020-03-09 18:26] neolit123 commented on #88764
it seems like something that should be tracked in the go issue tracker.
the bug could exist with multiple go versions and there might not be a fix for it yet.

given you reproduced the bug outside of the k8s build tooling i wouldn't say this is a k8s bug.

[2020-03-09 18:38] dijitali commented on #69528
/remove-lifecycle stale

[2020-03-09 18:38] lavalamp commented on #88967
The shuffle sharding code is [very reusable](https://github.com/kubernetes/kubernetes/blob/v1.19.0-alpha.0/staging/src/k8s.io/apiserver/pkg/util/shufflesharding/shufflesharding.go) but probably would need to be promoted to some more general place, which I'm fine with.

If the names are what dominate the size, then it seems like you can make some easy-to-compute size approximation; you don't need t

[2020-03-09 18:40] lavalamp commented on #88967
I think controllers have a very close analogy of the problem that P&F solves for apiserver, so I'm actually OK with evolving the default controller stack or workqueue to use shuffle sharding in this way.

[2020-03-09 18:44] cyrus-mc commented on #51475
@apelisse

According to https://kubernetes.io/blog/2019/01/14/apiserver-dry-run-and-kubectl-diff/

[code]

But that doesn't appear to be true. There was the introduction of the apiserver-dry-run so not sure how that differs from a --dry-run.

I to would like to run some validation in a pipeline where no cluster exists.

[2020-03-09 18:48] x448 commented on #63677
@roycaihw FYI a [recent attempt](https://github.com/apache/trafficcontrol/pull/4432) by apache/trafficcontrol to replace json-iter with [fxamacker/cbor](https://github.com/fxamacker/cbor) mentioned a 50% speed improvement by using fxamacker/cbor.

Unfortunately, apache/trafficcontrol cannot upgrade to Go 1.12 yet (required by fxamacker/cbor) so the change was undone.  It's all documented in the li

[2020-03-09 19:31] kwiesmueller opened #88981 "Server-side Apply: Ownership not tracked for sub-resources"
This issue tracking the sub-resource tracking issue in server-side apply, reported in:

- https://github.com/kubernetes/kubernetes/issues/88901
- https://github.com/kubernetes/kubernetes/issues/82046

/sig api-machinery
/wg apply
/assign @apelisse

[2020-03-09 19:35] knewter commented on #79224
Right now I *think* I need this to wire in a kubedb-managed postgresql instance into a helm release crd using flux helm operator, but it's possible i'll just hack around it awfully for now

[2020-03-09 19:37] aojea commented on #86318
This occurrence https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/88934/pull-kubernetes-e2e-gce/1237026445675466753/ fails because it's trying to get the metrics from the kube-controller-manager pod but it is not ready until one minute later

[code]

if we grep in the kube-apiserver for the controller pod name we can observe that after the pod is up it starts to get 200 instead of 404

[2020-03-09 19:51] dcantah commented on #87420
As all we use the k8s import for is the cri-api, for now we went ahead and used this repo for the tests instead https://github.com/kubernetes/cri-api/. Here is the pr https://github.com/microsoft/hcsshim/pull/783

[2020-03-09 19:58] lawrencegripper commented on #88265
PR is now up here: https://github.com/kubernetes/kubernetes/pull/88984

[2020-03-09 20:03] Huang-Wei commented on #88887
My 2 cents: in terms of a new req, basically we have 2 ways to hanlde it: (1) incorporate it in the upstream if it's a common requirement, easy to be implemented, not breaking existing semantics. Otherwise, (2) treat it as a special customer req, and hence as @angao mentioned, leave it for end-user to implement in their own plugin.

For this requirement, I'm slightly inclined to categorize it in t

[2020-03-09 20:27] alculquicondor commented on #88887
I'm still trying to understand why are devices being used in such a dynamic way. Users (aka Pod authors) creating devices doesn't seem correct. Maybe this use case can be re-thought as CRDs and controllers. But, maybe I'm must missing context.

However, adding support for "resource group" might not be a bad idea, considering that it would allow a vendor to implement a single plugin for all the dev

[2020-03-09 20:49] invidian commented on #88785
I have little idea how to implement that, but I'll have a look.

[2020-03-09 20:50] craiglpeters commented on #87420
/assign @dcantah

[2020-03-09 20:52] riking commented on #84001
All mentioned PRs are closed - is this still a problem?

[2020-03-09 21:19] davesargrad opened #88986 "Bare Metal K8S 63 Second Service Routing Delay - when accessing service via ClusterIP, or ExternalIP"
**What happened**:
From a computer (ghana) outside my dev cluster (tonga, spain) I can access a micro service via its NodePort (in the following the service just responds with the string "Im not well. Please restart me!")
![image](https://user-images.githubusercontent.com/48793689/76258380-ce260200-6229-11ea-9fd5-a876d20415e9.png)

But when I try to access the service either via its ClusterIP, or

[2020-03-09 21:22] alculquicondor commented on #87617
Thanks @smourapina, the docs PR is now out for review :)

[2020-03-09 21:29] ahg-g commented on #88887
I think having a prefix or a "ResourceGroup" to exclude in the Fit plugin is reasonable ask. You could have a cluster where new nodes are joining with new GPU model, and you don't want to restart the scheduler to exclude those new models every time this happens.

[2020-03-09 21:50] apelisse commented on #51475
Do we know why it's trying to contact the apiserver? Can you run the request again with -v8 and see what request fails? Thanks!

[2020-03-09 22:07] alculquicondor commented on #88887
In that sense, I don't think we need something like https://github.com/kubernetes/kubernetes/issues/88887#issuecomment-595668889.
Something closer to the initial proposal was enough, but perhaps `IgnoredResourceGroups`.

[2020-03-09 22:09] #79340 closed

[2020-03-09 22:09] #78336 closed

[2020-03-09 22:25] DevasiaThomas commented on #29913
Hi, does Kubernetes still support only one container runtime per node. It's been 2 years and I wanted to know if this has changed/ is planning to change. I'm all for the one runtime per node design - but just wanted to know if I have to prepare for it.

[2020-03-09 22:36] nmiculinic commented on #88901
I'd rather have it working...buggily(that is via `force=true`) than having it disabled altogether.

[2020-03-09 22:47] chancez commented on #74099
/reopen

I believe this still needs to be fixed

[2020-03-09 22:55] nileshkumar01 commented on #64801
Hi @ddebroy i created my dev environment and was able to get the volume mount policy to work.

[2020-03-09 23:07] apelisse commented on #88901
We trying to find out what this doesn’t work and see if we can back port
the fix. We’ll keep you posted, thanks!

On Mon, Mar 9, 2020 at 3:36 PM Neven Miculinic <notifications@github.com>
wrote:

[2020-03-09 23:10] #83688 closed

[2020-03-09 23:10] #65933 closed

[2020-03-09 23:50] mcajkovs commented on #88574
[code]

[2020-03-10 00:11] #72393 closed

[2020-03-10 00:17] liggitt commented on #88473
Need to determine if this is reproducible in 1.15/1.16/1.17 and ideally fix prior to 1.15 going out of support with the release of 1.18

[2020-03-10 00:59] mattmoor commented on #88473
FWIW, the original instance was on a 1.15 GKE cluster.

[2020-03-10 01:23] ananclub commented on #50375
+1 too

[2020-03-10 01:53] andy-wolf168 commented on #88964
if we have more logs in checkAndUpdatePod, it will be very helpful, but not yet, and this problem is not easy to reproduce

[2020-03-10 01:57] angao commented on #88887
Yes,  it's also necessary to configure when the user create a new `ResourceClass`  as mentioned above not only the new GPU model is joined.

I think `IgnoredResourceGroups ` is a good idea, I will change the field `IgnoreResourcePrefixes` to `IgnoredResourceGroups` which describes a group of vendor devices.

[2020-03-10 01:57] #87600 closed

[2020-03-10 02:13] #47733 closed

[2020-03-10 02:28] tedyu commented on #88964
@mattjmcnaughton @dashpole @yujuhong
What do you think of adding logs similar to what is shown above (so that we can have more clue troubleshooting) ?

I can open PR if additional logging is deemed useful.

[2020-03-10 02:58] willzhang commented on #88958
why it's for v1.17.4 beat, no v1.17.3?

[2020-03-10 03:00] gtskaushik commented on #79224
**It is very impractical to not have this feature. The easy way around these are**
1. Store the entire config file as secrets (Though only 1 or 2 properties are secrets)
2. Or store the secret directly in a configMap
Both the above approaches are not best practices

**Other not easy approaches**
1. My application code running inside my container should be changed so that it can read the sensitive

[2020-03-10 03:14] #77535 closed

[2020-03-10 03:15] neolit123 commented on #88958
because it's testing the latest 1.17 version, which is currently `v1.17.4-beta.0...`.
i doubt this is something that broke between .3 and .4-beta,0, or at least i haven't seen such failures.

try seeing if it fails multiple times.

[2020-03-10 03:33] tangjiaxing669 commented on #88961
@tedyu Thanks, I know the cause of the problem.

The problem is replicas 2, and pvc release is too slow.

[2020-03-10 03:33] #88961 closed

[2020-03-10 03:42] willzhang commented on #88958
why it's for v1.17.4 beat, no v1.17.3?

yes ,i have test for many times, always the same failing, i have run single cluster and ha cluster by kubeadm

[2020-03-10 04:15] #83311 closed

[2020-03-10 04:17] hy670 commented on #85741
externalIPs 会在每个node创建一个虚拟IP地址 这个IP如果是你某台node的物理IP 这个node 就挂了， 其他node 本地就会有这个node的ip地址 回包就无法正常返回。externalIPs如果要使用最好配合keepalive VIP 使用。这样外部访问没问题，集群内部无法通过externalPs 正常访问。

[2020-03-10 04:35] PeterQiao commented on #88784
@deshui123 Thanks, I will create another issue for document.

[2020-03-10 04:55] therealsamlin commented on #49931
any updates on this?

[2020-03-10 05:00] cwdsuzhou commented on #88960
/assign

[2020-03-10 05:30] rajraulo commented on #15846
Try the following commands will restart kube-apiserver
$ systemctl daemon-relaod
$ systemctl restart kube-apiserver

[2020-03-10 05:30] ncmans commented on #46231
This is not resolved yet. Should I open a new issue for this?

[2020-03-10 05:41] #88755 closed

[2020-03-10 05:51] willzhang commented on #88958
i search the test log ,you are using calico network plugin, so i change my flannel to calico ,the test success, thanks!

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-1-17/1236607182070353923/build-log.txt

[code]

[2020-03-10 05:52] #88958 closed

[2020-03-10 06:33] #88640 closed

[2020-03-10 06:57] Atlaster opened #88994 "Upgrade glusterfs client in hyperkube image to latest stable version."
**What would you like to be added**:
Newest glusterfs client in hyperkube image.

**Why is this needed**:
To allow using [glusterfs](https://kubernetes.io/docs/concepts/storage/volumes/#glusterfs) volume with newer versions of server.

Latest stable gluster version is [7.3](https://docs.gluster.org/en/latest/release-notes/), while client version in hypercube image is 3.8.8:
[code]

Because of it,

[2020-03-10 07:04] Atlaster commented on #88994
/sig Node

[2020-03-10 07:19] kvp-cs commented on #71622
Is there any way to pass the assigned CPU-IDs information to the containers running inside the POD?
Like with CPUManager feature enabled, launch a single-container-POD, my container got CPUIds {4,5,6,7} assigned to it. I found this from "cat /var/lib/kubelet/cpu_manager_state" on the respective node in the cluster. But how can I get this information from inside the container - I want the pthreads

[2020-03-10 07:30] liggitt commented on #88473
Tracked it down to an interaction between the custom resource handler, listing, conversion and the watch cache. Fix in progress at https://github.com/kubernetes/kubernetes/pull/88995

[2020-03-10 07:42] aojea opened #88996 "[Flaky Test] [sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]"
**Which jobs are flaking**:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Kubectl%20logs%20should%20be%20able%20to%20retrieve%20and%20filter%20logs

**Which test(s) are flaking**:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&test=Kubectl%20logs%20should%20be%20able%20to%20retrieve%20and%20filter%20logs

**Testgrid link**:

**Reason fo

[2020-03-10 07:42] aojea commented on #88996
/sig cli

[2020-03-10 07:45] 372046933 commented on #87277
@rikatz In our environment, the backend of Flannel is `host-gw`, and all nodes are under same L2 network. Even if I turn all `iptables` off, containers can communicate with each other using the host's route table

[2020-03-10 08:03] angao opened #88997 "Extended device plugin api to expose more device information"
**What would you like to be added**:

Extended `device plugin API` and `Node` API, some designs as follows:

[code]
When we extend the device plugin API, we also need to extend the `Node` object API which record device info, like:

[code]

**Why is this needed**:

We know that the current [device plugin API](https://github.com/kubernetes/kubelet/blob/368f45b4d61707ccd2db0e9d12a1fd0c1ee24f64/pkg/ap

[2020-03-10 08:11] angao commented on #88997
/cc @pendoragon

[2020-03-10 08:16] Adhders opened #88999 "kube-proxy logs show errors， however the stautus of pod is RUNNING"
Here is the error message of kube-proxy :

E0303 07:46:14.241529       1 reflector.go:307] k8s.io/client-go/informers/factory.go:135: Failed to watch *v1.Service: Get https://192.168.205.60:6443/api/v1/services?allowWatchBookmarks=true&labelSelector=%21service.kubernetes.io%2Fheadless%2C%21service.kubernetes.io%2Fservice-proxy-name&resourceVersion=1850691&timeout=5m14s&timeoutSeconds=314&watch=tru

[2020-03-10 08:18] aojea commented on #78525
I hit it twice today in different PR, will keep an eye to see if is because of the test or if the CI load is more than usual due to the release

[2020-03-10 08:56] klihub commented on #87249
Does your Guaranteed QoS container takes a full integer number of CPUs ?

[2020-03-10 09:23] invidian commented on #88785
Okay, I think I figured it out. Triggering tests on #88893 would be appreciated :)

[2020-03-10 09:27] dmage opened #89000 "Documentation about empty affinity topologyKey"
Documentations for topologyKey at [kubernetes.io/docs/.../assign-pod-node/](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity) says:

The [API documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.17/#podaffinityterm-v1-core) says:

One of these documents needs to be updated.

[2020-03-10 09:29] dmage commented on #89000
/sig docs
/sig scheduling

[2020-03-10 09:39] saurabhanetskope commented on #87249
Yes, it has full integer number of CPUs. I also verified the result of docker inspect <c-id> and it does mention the cpuShares and cpusets correctly

[2020-03-10 09:51] davesargrad commented on #88986
As the following picture shows, the curl makes it through to the worker node "spain" at the assigned NodePort (30123), and kube-proxy should then do the rest

![image](https://user-images.githubusercontent.com/48793689/76300466-22190100-6293-11ea-851e-ff1c3cf6c176.png)

[2020-03-10 10:12] bart0sh commented on #85938
@AlxSmith11 gently ping for closing this issue.

[2020-03-10 10:21] #83266 closed

[2020-03-10 10:21] #83732 closed

[2020-03-10 10:22] #88800 closed

[2020-03-10 10:24] zhouya0 commented on #86525
I send a PR to `k/website`:https://github.com/kubernetes/website/pull/19586

[2020-03-10 11:17] sbhnet commented on #88947
This is etcd pod log
 docker logs 13147b694583
2020-03-10 10:07:49.629878 W | etcdmain: running etcd on unsupported architecture "arm64" since ETCD_UNSUPPORTED_ARCH is set
2020-03-10 10:07:49.827460 I | etcdmain: etcd Version: 3.3.10
2020-03-10 10:07:49.837439 I | etcdmain: Git SHA: 27fc7e229
2020-03-10 10:07:49.837592 I | etcdmain: Go Version: go1.10.4
2020-03-10 10:07:49.837712 I | etcdmain: Go

[2020-03-10 11:22] #83668 closed

[2020-03-10 11:27] zhouya0 commented on #89000
The doc in https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#an-example-of-a-pod-that-uses-pod-affinity is not right.

I send a PR to `k/website`. https://github.com/kubernetes/website/pull/19587

[2020-03-10 12:03] mborsz commented on #88967
Thanks for all the ideas here. I like the idea of implementing shuffle sharding solution. I will need to understand this better, but high level looks really promising.

If we go with endpoint entries count, how would we apply this to endpointslices? If we use the number of entries in the entire endpoint, there could be a significant mismatch between the generated endpointslice update (e.g. 100 ent

[2020-03-10 12:09] #83375 closed

[2020-03-10 12:23] neolit123 commented on #88947
while we build and release binaries for architectures different than amd64, they are not fully supported because we don't have e2e tests for them. this might be left for you to debug for the time being.

[2020-03-10 12:36] neolit123 commented on #88958
@willzhang

sadly, the kubeadm team does not recommended Flannel in the recent times. Try using Calico or WeaveNet.

[2020-03-10 13:02] blubberdiblub commented on #15478
Configuring docker log drivers on a container-in-a-pod level (where the pod is in customer control) would enable redirecting logs with the `gelf` driver directly to a graylog service/pod (which is also in customer control) instead of having to collect them from files on the host with another immediate service (which is more management overhead and a worse break of abstraction level than using the

[2020-03-10 13:11] portante commented on #15478
It would helpful to make sure we do something like https://github.com/cri-o/cri-o/pull/1605, where we disconnect the log stream interpretation from the log drivers so that container behavior can't effect how the drivers work.

[2020-03-10 14:14] jingyih commented on #88574
@mcajkovs, The latest etcd log you provided suggests that the etcd server was started successfully. The following log entry suggests that there was no snapshot file missing. Is there anything changed since the last panic?

[code]

[2020-03-10 14:53] mcajkovs commented on #88574
Oh I'm sorry - I've posted  etcd output that was created as a result of renaming `/var/lib/etcd/member` to `/var/lib/etcd/member.bak` here is correct output:

[code]

[2020-03-10 14:53] davesargrad commented on #88986
Hmmm.. What i find is that I'm able to curl the pod port 8080 sometimes when i run the curl on the master, but not when I run it from outside the cluster.

![image](https://user-images.githubusercontent.com/48793689/76325161-65886500-62bd-11ea-934c-ded825631d24.png)

[2020-03-10 15:01] neolit123 commented on #88574
about the snapshot related panics see:
https://github.com/kubernetes/kubernetes/issues/88574

[2020-03-10 15:09] davesargrad commented on #88986
The curl to 192.168.1.241:8080 from ghana, and the tcpdump on spain.
![image](https://user-images.githubusercontent.com/48793689/76326825-95d10300-62bf-11ea-96ac-7539b4fa83be.png)

[2020-03-10 15:18] AlxSmith11 commented on #85938
Hello Ed,

This has not been resolved.  Let me check the latest version k8s.

Thanks,

Alex

From: Ed Bartosh <notifications@github.com>
Reply-To: kubernetes/kubernetes <reply@reply.github.com>
Date: Wednesday, February 26, 2020 at 3:36 AM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Alex Smith <asmith@a10networks.com>, Mention <mention@noreply.github.com>
Subject: Re: [kubernetes

[2020-03-10 15:22] davesargrad commented on #88986
When the curl to 192.168.1.241:8080 succeeds, is consistently the pod on the master (tonga) that responds.

The pod on the other node (spain) is still healthy. It responds if I send the request to spains NodePort

[2020-03-10 15:23] andy-wolf168 commented on #88964
@tedyu，In the issues description above, I left out some information:
I0308 09:36:33.032347    9350 kubelet.go:1901] [SyncLoop (RECONCILE, "api"):]([url]([url](url))) "..., filebeat-rxrkh_base-service(953db5fe-0d62-4000-b065-961e96c1fb12), kube-apiserver-sna001_kube-system(08751dbe-4e37-476b-8761-78f035c0dbd3), es-node1-5d6b6d5dff-l7pb6_base-service(d51fb5d8
    ...
I0308 09:36:35.002653    9350 ku

[2020-03-10 15:28] #83997 closed

[2020-03-10 15:34] answer1991 commented on #84001
When I opened this issue, we have not solved the API Server load balance issue, and one or two of API Server serve most requests and their goroutine will be too much. With this #88567 merged, we can balance API Servers' request and horizontal increase API Servers' replica will be a solution.

[2020-03-10 15:34] #84001 closed

[2020-03-10 15:41] tedyu commented on #88964
in terms of reconciliation, #88255 is related.

FYI

[2020-03-10 15:42] craigafinch commented on #24669
@JonasAnastacio The procedure described by @ptrovatelli worked for me on GKE. I created the certificate bundle per the procedure and used it to create a TLS secret. I then referenced this secret when creating the Ingress. I automated the process with Terraform.

[2020-03-10 16:08] arjunrn opened #89006 "Nil dereference panic in generic scheduler"
**What happened**:
We see nil dereference panics in the scheduler:
[code]

**What you expected to happen**:
Not see panics

**How to reproduce it (as minimally and precisely as possible)**:
Currently unknown

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration: AWS `c5.2xlarge` instance
- OS (e.g: `c

[2020-03-10 16:09] arjunrn commented on #89006
/sig scheduling

[2020-03-10 16:16] marosset commented on #88659
Related to https://github.com/kubernetes/kubernetes/issues/88913

[2020-03-10 16:33] Ottovsky opened #89007 "kube-controller-manager creates continuously pods in OutOfcpu state"
**What happened**:
When user creates a deployment (or replicaset) with nodeName specified in the PodTemplateSpec and resources limit for cpu higher than the node cpu count, the kube controller manager keeps on creating pods in OutOfcpu state.

**What you expected to happen**:
Create a single pod in  `OutOfcpu` status

**How to reproduce it (as minimally and precisely as possible)**:
1.    Ensure n

[2020-03-10 16:40] baens opened #89008 "kubectl cordon returns wrong error code if you don't have permissions"
**What happened**:
An error code equal to 0 is returned when `kubectl cordon` is run with a user that doesn't have permissions

[code]

**What you expected to happen**:
The return code should not equal 0 when an error is produced

**How to reproduce it (as minimally and precisely as possible)**:
* Create a GKE cluster
* Only grant your user viewer permissions
* Run cordon

**Anything else we need

[2020-03-10 16:41] baens commented on #89008
/sig cli

[2020-03-10 16:43] #88473 closed

[2020-03-10 16:49] jingyih commented on #88574
Got it. The relevant log entries are:
[code]
So etcd is trying to open `/var/lib/etcd/member/snap/0000000000072c1f.snap.db` but could not find it. It should be related to the following file (which exists in your data dir)
`0000000000000005-0000000000072c1f.snap`.

cc @gyuho Could you also help take a look?

[2020-03-10 16:55] oomichi commented on #81427
/remove-lifecycle stale

[2020-03-10 16:55] oomichi commented on #81232
/remove-lifecycle stale

[2020-03-10 16:57] Huang-Wei commented on #89006
From the symptom, it seems the `info` or `info.Node()` is nil. I recall this issue has been fixed combinely by refactoring of the whole snapshot logic, as well as #84014 and #84232. Could you give a try on 1.17?

[2020-03-10 16:58] oomichi commented on #77095
/cc @oomichi

[2020-03-10 17:06] jingyih commented on #88574
Not sure why it is looking for `snap.db` file. This is single node etcd cluster.

[2020-03-10 17:07] davesargrad commented on #88986
One thing I find interesting is that I never see the "Assigned IP" event from the metallb-controller. See [here ](https://github.com/metallb/metallb/issues/494) and [here ](https://metallb.universe.tf/concepts/layer2/)for reference

![image](https://user-images.githubusercontent.com/48793689/76338969-e2243f00-62cf-11ea-998c-e229d28d17c5.png)

[2020-03-10 17:07] Ottovsky commented on #89007
/sig apps

[2020-03-10 17:11] wallrj commented on #10410
For anyone looking for CI generated binaries, the bucket name changed to `kubernetes-release-dev`

[code]

[2020-03-10 17:25] jingyih commented on #88574
@mcajkovs how reproducible is this issue on your VM. Let's say we create a fresh etcd (fresh k8s cluster), and then the VM is shutdown unexpectedly (such as due to power cut). Does it always comes to this state where the restarting etcd panics?

[2020-03-10 17:26] davesargrad commented on #88986
I just recreated the service, and logged the MetalLb controller (top) and its 2 speakers
![image](https://user-images.githubusercontent.com/48793689/76341006-cf5f3980-62d2-11ea-8a5e-884bf3123cc0.png)

[2020-03-10 17:30] neolit123 commented on #88999
/sig network

[2020-03-10 17:40] chenkaiyue opened #89012 "Controller doesn't taint NoExecute again on node in Unknown state when remove taint manually"
We know that when node is in unknown state, node-lifecycle-controller will add "node.kubernetes.io/unreachable NoExecute" and "node.kubernetes.io/unreachable NoSchedule" taints on node. While, i found that after deleting these two taints,  "node.kubernetes.io/unreachable NoSchedule" will be added again soon, but "node.kubernetes.io/unreachable NoExecute" won't.

[2020-03-10 17:42] chenkaiyue commented on #89012
@kubernetes/sig-contributor-experience-bugs

[2020-03-10 17:43] chenkaiyue commented on #89012
sig/node

[2020-03-10 18:14] msau42 commented on #87491
@kubernetes/sig-storage-bugs

Does this error look familiar to you?
cc @jsafrane @gnufied @humblec

[2020-03-10 18:26] davesargrad commented on #88986
Ok.. I think I'm almost understanding whats going on. I do eventually get a response from the service on the other pod, however there is consistently (just over) a 1 minute delay

![image](https://user-images.githubusercontent.com/48793689/76346284-1e10d180-62db-11ea-82f7-722b5ce9d698.png)

[2020-03-10 18:37] lavalamp commented on #88967
It's the size of the thing that is being transmitted that should count (so, the endpointslice size).

[2020-03-10 18:38] lavalamp commented on #83375
Thanks everyone!!

[2020-03-10 18:40] elinesterov commented on #87852
I see exactly the same issue using GCP with calico vxlan for networking. Had to switch to ipip to solve it. I didn't have much time to figure out vxlan issue, so expect to bump into it in some virtual environments that might use vxlan under the hood. Not sure if it is related to kubernetes 17.0 I didn't test earlier versions in that environment.

[2020-03-10 18:46] davesargrad commented on #88986
The request from outside the cluster, does indeed timeout (though the metallb "speaker" seems to handle the arp properly).

![image](https://user-images.githubusercontent.com/48793689/76347987-e0fa0e80-62dd-11ea-9d85-88587f7d70b5.png)

[2020-03-10 18:58] julianvmodesto commented on #86525
I'm actually retracting this task – I couldn't find any commands that publish their feature state

[2020-03-10 19:03] lavalamp commented on #69579
I think we can all agree there's some hardware failure here, likely in RAM, but possibly elsewhere?

At first I thought about deserializing our serialized data before committing it, but this would be very expensive and not fix the problem-- it solves `"` -> `b` but not `v` -> `r`; the memory corruption can happen prior to serialization, and could also happen after leaving apiserver. Hashing/signin

[2020-03-10 19:36] julianvmodesto commented on #86526
/assign

[2020-03-10 19:43] #88784 closed

[2020-03-10 19:47] liggitt commented on #86318
keeping open until https://storage.googleapis.com/k8s-gubernator/triage/index.html?ci=0&pr=1&text=Error%20getting%20c-m%20metrics&job=pull-kubernetes-e2e-gce%24&test=sig-storage shows this is resolved

[2020-03-10 19:59] alculquicondor commented on #87850
Any progress on this?

[2020-03-10 20:02] lavalamp commented on #88889
cc @liggitt

[2020-03-10 20:03] lavalamp commented on #88908
/assign @liggitt

[2020-03-10 20:06] lavalamp commented on #88914
/cc

[2020-03-10 20:10] lavalamp commented on #88938
/assign @liggitt

(6443 is probably not the port to use off-system?)

[2020-03-10 20:11] lavalamp commented on #88975
I vote for fixing this with documentation?

[2020-03-10 20:27] tpepper commented on #88335
@robscott this has merged on master and release-1.17 branches but both still showing failing at:

 * https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce
 * https://testgrid.k8s.io/sig-release-1.17-blocking#skew-cluster-latest-kubectl-k8s-stable1-gce

[2020-03-10 20:30] lavalamp opened #89015 "Issues in published repos are not very visible"
E.g. https://github.com/kubernetes/apimachinery, https://github.com/kubernetes/client-go, etc

People file issues there because it's logical, but we (api machinery) don't include them in our triage meeting.

We should either adjust our query, change our process in some other way (like tag issues when we've looked at them), or adjust the readmes and issue templates in the published repos.

/sig api

[2020-03-10 20:30] lavalamp commented on #89015
cc @fedebongio @deads2k

[2020-03-10 20:32] kensipe opened #89016 "NewDocumentDecoder fails with bufio.Scanner: token too long"
**What happened**:

When calling `NewDocumentDecoder` the token size for the buffer is the default which is NOT changable. Larger documents (which is likely when using a yaml separator) causes a `bufio.Scanner: token too long`

This was uncovered using kudo... the issue is https://github.com/kudobuilder/kudo/issues/1397

**What you expected to happen**:

1. size limitation should be documented if

[2020-03-10 20:33] kbhawkey commented on #88919
Hello @alculquicondor,
Can the `kube-scheduler` generate an Open API spec?

Have you looked at the API server and how the spec is generated?

If you don't have a spec, have you thought about using a tool such as,
https://github.com/ahmetb/gen-crd-api-reference-docs?
The docs generated are quite readable and this may be a quick way of producing a first reference.

[2020-03-10 20:33] kensipe commented on #89016
/sig api-machinery

[2020-03-10 20:34] kensipe commented on #89016
/cc @lavalamp

[2020-03-10 20:45] pohly commented on #75782
/cc

[2020-03-10 20:46] liggitt commented on #89015
dispersing issues seems like more trouble than it's worth for now, especially since we end up with duplicates filed against k/k

I would recommend:
* transferring the existing issues to k/k, and putting them in a list to triage
* seeing if the kubernetes github admins can turn off issue trackers on the repos we don't intend to monitor
* update the README.md for those repos directing here for issue

[2020-03-10 20:50] cmluciano commented on #73425
@johnbelamaric Do we have a list of items that still need tackled for this?

[2020-03-10 20:56] mikedanese commented on #88889
To add a bit more detail, we unpack DeleteOptions here with a default GVK:

https://github.com/kubernetes/kubernetes/blob/0ec85a146708492bb62b8d797e5d28770250c155/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L89-L92

So kind and apiversion are defaulted if not provided. But we only validate that Kind is correct in:

https://github.com/kubernetes/kubernetes/blob/0ec85a146708492bb62

[2020-03-10 20:58] riking commented on #48610
Is this fixed by #88567? The mechanism probablistically triggers at all times, not just during overload, to cause steady rebalancing.

[2020-03-10 21:05] lavalamp commented on #48610
Yes, I think that's close enough.

[2020-03-10 21:05] #48610 closed

[2020-03-10 21:06] baens commented on #89008
I _think_ this would fix the issue, but not quite sure if this is the right approach to this: https://github.com/kubernetes/kubernetes/compare/master...baens:tickets/GH-89008/return-error-of-cordon

[2020-03-10 21:20] gyuho commented on #88574
@mcajkovs Did you remove any files in the snap directory? Or could be old snapshots which's been already discarded in the local node (but old incoming snapshot handler should not even reach this code path...)

[2020-03-10 21:25] aaronjwood opened #89017 "Race conditions when making shared informers in parallel"
Resubmitting from https://github.com/kubernetes/apimachinery/issues/80

There's a service I'm looking at which uses client-go that produces race conditions in the k8s libs under a certain scenario. See these tests:
[code]
[code]
Those tests call this code:
[code]
[code]
The implementation of `syncengine.CreateController(c.client, in.Group, in.Version, in.Resource, meta_v1.NamespaceAll, c.exp, ch)`

[2020-03-10 21:39] neolit123 commented on #80177
/remove-lifecycle stale

[2020-03-10 22:01] jodavis-suse opened #89020 "apimachinery: Use log levels that match logging conventions"
/kind cleanup
/sig instrumentation

What happened:
SIG Instrumentation has published logging conventions for use in Kubernetes.
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-instrumentation/logging.md
The existing code has calls in the range 0 to 10 and still remains to be normalized to match the conventions.

What you expected to happen:
All klog.V() calls use values

[2020-03-10 22:04] lavalamp commented on #89016
OK so the request here is that we call `.Buffer()` on the scanner to permit larger documents?

I think 5MB is a good max size? (Since YAML is more verbose than proto, where the (IIRC) 1.5MB limit is enforced.)

[2020-03-10 22:05] lavalamp commented on #89016
Adding labels-- this is a good one for new contributors.

[2020-03-10 22:06] jodavis-suse commented on #89020
/sig api-machinery

[2020-03-10 22:11] iliana commented on #60134
Hi, I'm writing here on behalf of the Amazon Linux team.

This bug is an intersection of the version of GnuPG 2 available in AL2, the version of GCC used to build it, and PGP keys that contain signature notations flagged as "critical".

We've applied [the change from GnuPG 2.1 and later](https://github.com/gpg/gnupg/commit/6a0c3fa19cfcdd590b96691e8a8ffb48fb5e0ec4) that fixes this issue, and it wil

[2020-03-10 22:22] liggitt commented on #86318
seen again in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89010/pull-kubernetes-e2e-gce/1237448373842219008

[2020-03-10 22:22] tedyu opened #89021 "TestStressingCascadingDeletion is flaky"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
TestStressingCascadingDeletion

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/89019/pull-kubernetes-integration/1237494932579553283

**Reason for failure**:
Maybe related:
[code]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
- links to specific fai

[2020-03-10 22:44] Spareo commented on #81469
Not sure this is true because if you set ExternalTrafficPolicy on the service to Local the NLB creates a health check using the http protocol.

Note this won’t work if the service and NLB already exist.

[2020-03-10 22:45] Spareo commented on #81469
Not sure this is true because if you set ExternalTrafficPolicy on the service to Local the NLB creates a health check using the http protocol.

Note this won’t work if the service and NLB already exist.

[2020-03-10 22:46] apelisse commented on #88975
I think we all agree here. I've already read that fix somewhere

[2020-03-10 22:53] aojea commented on #86318
[code]

this time the container is running but still it can't find it

[code]

[2020-03-10 23:11] aojea commented on #86318
@liggitt the errors comes from the request to the apiserver on

[code]
How can we check that the pod is found and that the apiserver found it?
https://github.com/kubernetes/kubernetes/pull/88982/files#diff-33cbf1a465edc9c1de6150d5e6748177R170

[2020-03-10 23:19] #88999 closed

[2020-03-11 00:59] mingen-pan commented on #86746
Any update on this issue?

[2020-03-11 01:10] thockin commented on #85395
The thread started on the ML, but we should bring it back here.

I said:

I very much understand the desire to have something like weights (I
seem to have missed the original issue, sorry).  I am worried about a
few things:

1) Evolving Service has become very hard.  It's overly brittle because
it combines a number of concepts into one resource, and the
interactions are difficult to reason about

[2020-03-11 01:10] thockin commented on #85395
@rikatz said

Hi Tim and Sandor, thanks for the kind answers.

Answering Tim's questions:

1) I agree evolving Services has become very hard. I've been thinking in this change as something in phases, first only allowing these extra fields inside the Service Object and then evolving the rest of the components (proxy, the Ingress who wants to make use of this, CoreDNS, etc). This is much more relate

[2020-03-11 01:12] thockin commented on #85395
@szuecs said

You could also think of an internal Gateway. For example we have an idea to use cluster.local domain with a CoreDNS template [1] to reach the ingress controller [2]. We also implemented in [3] to ignore cluster.local domain and not create an ALB or NLB.
Missing piece would be to ignore it in external-dns, too.
So you can easily build this into the gateway concept.

[1] https://openso

[2020-03-11 01:14] thockin commented on #85395
Here's what I want.

FIRST, let's figure out how this maps into Gateway's worldview.  It could be part of a Route or part of the Service itself.  I don't know which is better.  THEN we can talk about changes to Service.  And Endpoints.  And EndpointSlice.  And...

A similar need came up in discussing multi-cluster services where one cluster might be behind a gateway, and therefore needs to represe

[2020-03-11 01:32] dims commented on #60134
@iliana thanks for the update!

[2020-03-11 02:00] tanjunchen opened #89022 "The status of Node is ready before deployment NetworkPolicy(calico)"
**What happened**:

I get status of node is  ready before deployment NetworkPolicy(calico)

kubectl get nodes
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os

[2020-03-11 02:01] tanjunchen commented on #89022
/sig scheduling
/kind bug

[2020-03-11 02:13] wcollin commented on #86715
k8s v1.16.7 got the same error

[2020-03-11 02:46] neolit123 commented on #89021
/sig api-machinery

[2020-03-11 02:46] neolit123 commented on #89017
/sig api-machinery

[2020-03-11 02:49] gatos-jd opened #89024 "nodeSelector doesn't seem to be working reliably on EKS"
**What happened**:
I have 6 nodes in an EKS cluster.  Each node is labelled with a "layer" label.  There are two each of "label=backend", "label=frontend" and "label=perf".

I'm trying to target these nodes so that the frontend, backend and perf test pods do not compete for the same set of nodes.  However my pods do not seem to respect the nodeSelector->label targeting reliably.

I have 3 deployme

[2020-03-11 02:56] gatos-jd commented on #89024
/sig scheduling

[2020-03-11 03:04] EronWright commented on #88816
Thanks for filing this issue, it appears to be the fix I need for the following issue.  My controller uses server-side apply against an object that it is watching, and it gets into an infinite loop because it doesn't calculate whether the patch would be non-trivial.

[2020-03-11 03:07] apelisse commented on #88816
Yes, that sounds like a side-effect of that bug. We might want to cherry-pick the fix to older release possibly. I'm not completely sure I understand why you would want to update the object anytime it changes though?

[2020-03-11 03:13] ArchangelSDY opened #89025 "Azure: Many invalid VMSS update calls due to incorrect VMSS cache"
**What happened**:
Controller manager makes many invalid VMSS update calls.

**What you expected to happen**:
Controller manager makes correct VMSS update calls.

**How to reproduce it (as minimally and precisely as possible)**:
Use AKS-Engine to deploy a cluster on Azure.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
1.16.6
- Cloud provider o

[2020-03-11 03:13] ArchangelSDY commented on #89025
/area provider/azure
/sig cloud-provider

[2020-03-11 03:43] EronWright commented on #88816
The controller is simply trying to control certain fields of a certain owned object, and so it issues a patch to that object whenever the reconciliation loop runs.   The alternative is to use pre-SSA style logic involving a 3-way merge, which I'd hoped to avoid (as per [Using Server-Side Apply in a controller](https://kubernetes.io/docs/reference/using-api/api-concepts/#using-server-side-apply-in-

[2020-03-11 03:44] apelisse commented on #88901
I can't reproduce this bug right now, would you mind sharing the CRD and exact reproduction steps?

[2020-03-11 03:46] apelisse commented on #88816
Thanks for your answer, I agree that you shouldn't have to use a three-way merge. Would you mind giving more details about what fields you're trying based on what changes? It's hard to reason without an example.

[2020-03-11 04:04] EronWright commented on #88816
I don't mean to over-complicate, this is an ordinary situation involving an operator, a CRD, and a `Deployment`.   I simply wish to control the spec of the deployment.  If some other manager were to write an annotation onto that `Deployment`, I'd rather not overwrite it (as an `Update` would).

[2020-03-11 05:10] #89012 closed

[2020-03-11 05:17] gongguan commented on #88779
I think different relist period may trigger the race of  `GenericPLEG.podRecords`.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/pleg/generic.go#L131
What do you think @smarterclayton ?

[2020-03-11 06:24] hprateek43 commented on #89024
Can you share the output of `kubectl describe node` and the output of `kubectl describe` deployment or statefulset that is exhibiting this behaviour? I tried to reproduce it but was not able to do so.

[2020-03-11 06:32] chandra210893 opened #89028 "Kubernetes Authentication At Application Level"
Is there a way to implement kubernetes authentication at application level. I would like to know is there a way to implement something like Google-Login in kubernetes which should be able to authenticate application users via kubernetes plugins or api calls. I am aware of ABAC, RBAC and Node level authentication, but they doesn't seems to be serving our purpose. Can anyone suggest me a way to achi

[2020-03-11 06:48] pake2070 opened #89029 "How to monitor services dead and resource used ?"
I deployed TF-serving model and now I want to know how to monitor service and resource used ?

[2020-03-11 06:56] humblec commented on #87491
Somehow the tear down of the mount path fails or incomplete while the pod respawned  which cause the error.  @suvl  is this error scenario specific to `jobs` or `cronjobs` ? Does other deployment models ( `deployment`, `sts`) get into the same situation ?  Also, why dont you give a try with ceph-csi project as we have a total different implementation of cephfs with that compared to intree ? just t

[2020-03-11 07:10] mikedanese commented on #82573
Proposal to fix in https://github.com/kubernetes/enhancements/pull/1598

[2020-03-11 07:13] danielzhanghl opened #89030 "document is not line up on podpreset"
**What happened**:
try to use podpreset to modify container.spec, failed with:
error: error validating "preset-ephemeral-storage.yaml": error validating data: ValidationError(PodPreset.spec): unknown field "spec" in io.k8s.api.settings.v1alpha1.PodPresetSpec; if you choose to ignore these errors, turn validation off with --validate=false

while document says:
https://kubernetes.io/docs/concepts/wo

[2020-03-11 07:15] samsam2310 opened #89031 "Process remained in container after Kubectl exec being killed"
**What happened**:
I executed a bash by this command:
[code]
After killing the kubectl process, bash is remained in the container.

**What you expected to happen**:
After killing the kubectl process, bash should also terminated

**How to reproduce it (as minimally and precisely as possible)**:
1. Created a pod.
2. Executed a bash by kubectl exec.
3. Kill kubectl.
4. Execute `top` in container, the

[2020-03-11 07:23] #89025 closed

[2020-03-11 07:30] whut commented on #84201
Yes it is duplicate, but IMHO this should be added to the Kubernetes CronJob. It is common for cron jobs to have timezone support, Kubernetes should be no different.

/remove-lifecycle stale

[2020-03-11 07:39] shyamjvs commented on #88738
Per @liggitt's advice, I was looking into the conversion code today along with Harish Kuna. The bug seems to be coming from ([ref](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v1/conversion.go#L404-L408)):

[code]

part of `Convert_v1_HorizontalPodAutoscaler_To_autoscaling_HorizontalPodAutoscaler` function. And the problem is that the annotation value being passed is a

[2020-03-11 07:57] jiridanek commented on #71305
The status of this issue is that it was resolved by https://github.com/kubernetes/kubernetes/pull/82966, if I read correctly, and therefore Kubernetes 1.17 (kube-proxy ion 1.17) should work without having to switch the hosts to iptables-legacy?

[2020-03-11 08:23] bloudman opened #89033 "Env variables are shared between pods on the same namespace"
**What happened**:
When I use `env` command inside a container of a certain namespace I get all env variables concerning IP address and services of all containers in this namespace.
**What you expected to happen**:
`env` command should return only variables of my pod.
**How to reproduce it (as minimally and precisely as possible)**:
Run two pods inside a same namespace with both differents env var

[2020-03-11 08:42] irishshagua opened #89034 "RESTMapper Pluralization Logic Is Too Limited"
**What happened**:
Pluralization logic in the client generator in api/machinery is too simplistic. For an example CRD `FabricGateway` the pluralised generated client is `FabricGatewaies` whereas the actual is `FabricGateways`.

**What you expected to happen**:
To be able to specify the plural name for the client generation if guessed pluralisation is throwing a wobbly.

**Anything else we need to

[2020-03-11 09:09] pcaifi opened #89035 "changes in config.yaml for kubelet have no effect"
**What happened**:
Parameters, added to kubelet's config.yaml have no effect

**What you expected to happen**:
I expected that when I'm changing default cgroups driver in docker to systemd I would be able to change that driver for kubelet as well. But I can do that only via the startup flag and not via config.yaml

**How to reproduce it (as minimally and precisely as possible)**:
Change docker def

[2020-03-11 09:13] pcaifi commented on #89035
/sig component-standard

[2020-03-11 09:15] mercantiandrea commented on #73297
Just tested, with EKS 1.15 (released today) the annotation for the certificate works also with nlb

[2020-03-11 09:23] hex108 opened #89036 "Optimization for scheduler preemption"
**What would you like to be added**:

* If a pod's priority is lowest(e.g. there is three priroites in cluster: 10, 20 and 30, and the pod's priority is 10), it could not preempt any other pods, then we could skip trying preemption for it, it will improve schedule performance.

* We could just try to search a part of nodes instead of all nodes for preemption, the idea is inspired by [Percentage of

[2020-03-11 09:44] mercantiandrea commented on #73297
But there is a problem with ssl-redirect, if you use "force-ssl-redirect" you will go in 308 redirect loop

[2020-03-11 10:02] barucoh commented on #88809
Thanks @Huang-Wei, just to clarify -
If I had the `toplogyKey` set to `spec.nodeName` that would move the pods back to the uncordoned hosts correct?
I have to say it's kind of a weird behavior since I want to prefer scheduling pods based on different zones to achieve multi-zone HA and this doesn't help.

[2020-03-11 10:08] ThelonKarrde commented on #86165
/sig close

[2020-03-11 10:09] #86165 closed

[2020-03-11 10:28] cben commented on #25151
Having read the docs, I was very surprised that "type": "ERROR" notices are sent as 200 (even over plain http), with the semantic code e.g. 410 only represented under `object.code` inside.
I see there was good motivation here to stick to 200, but it should be called out in the documentation.

https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes doesn't show _

[2020-03-11 10:45] #78987 closed

[2020-03-11 11:19] liggitt commented on #88738
It's not just "", but any error unmarshaling the JSON from the annotation that must be tolerated (for all the annotations we round trip JSON through in these objects)

[2020-03-11 12:15] mvaknine commented on #48798
Hi,
i am trying to install version 1.16.0 i am using kuberouter pluging and i am getting the same errors

Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized

[2020-03-11 12:28] akolosov-a commented on #62366
The issue is obviously also affects the cases when same container port number is used for different protocols (TCP/UDP), so the `protocol` field should also be taken into account during merging. Example:

port-merge-issue1.yml:
[code]

port-merge-issue2.yml:
[code]
The only change between two manifests is replacing port 1111 with 1112.

After applying the newer version over the original one the UD

[2020-03-11 12:28] gatos-jd commented on #89024
Thanks @hprateek43 - a separate process had reverted my git changes, and the deployment I was looking at in my IDE was stale - the nodeSelector was missing from that deployment.

Close as user error, very sorry for the run around.

[2020-03-11 12:33] benlangfeld commented on #84201
@whut yes, but this should be closed and #47202 opened. There is much more valuable information in that thread.

[2020-03-11 12:48] hudannag opened #89042 "Adding an already deleted node port to service shows already acquired error"
**THIS IS THE THIRD TIME FOR CREATING THIS ISSUE!
The two previous ones:
https://github.com/kubernetes/kubernetes/issues/73140
https://github.com/kubernetes/kubernetes/issues/32987**

**What happened**:
I created a service for my microservice in helm. It is a NodePort type. I specified the nodePort, but after I deleted the whole app, including the service itself and re-deployed it, this particular

[2020-03-11 12:50] hudannag commented on #89042
/sig cli

[2020-03-11 12:54] liggitt commented on #86318
the first successful get of /metrics logged by the controller manager in that run is at:
[code]

We're also not checking the error in the once.Do to make sure the pod was running, and once running, we should probably then also check the metrics path on the pod. Maybe something like this:

[code]

[2020-03-11 13:27] Jukka-A commented on #88912
I'm also seeing this with 1.17 version. I have set feature-gates to kube-apiserver and kubelet in order to enable startup probe.

This command shows that startup probe is there.
`kubectl get pod podname -o yaml`

Seems like startup probe does nothing...

[2020-03-11 13:36] babafakruddin476 commented on #87735
im facing the same.. in rancher kubernetes during pod initialization.....

Failed create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "pxc-wsouserdb-pxc-1": Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:303: getting the final child's pid from pipe caused \"EOF\"": unknown

[2020-03-11 13:59] sjenning commented on #88779
Looking at the logs there are 3 fatal errors that occur: `concurrent map iteration and map write`, `concurrent map read and map write` (2x), and  `fatal error: concurrent map writes`.  All are caused by concurrent `relist()` calls.
[code]

[2020-03-11 14:18] lironrisk opened #89049 "nodelocaldns does not work on m5.12xlarge aws instances"
**What happened**:
nodelocaldns pod does not work properly on m5.12xlarge instance. it does work on m4.4xlarge.

the logs of the pod:
 [ERROR] plugin/errors: 2 xxxx.ec2.internal. A: dial tcp 10.0.0.2:53: i/o timeout
 [ERROR] plugin/errors: 2 xxxx.ec2.internal. A: dial tcp 10.0.0.2:53: i/o timeout
 [ERROR] plugin/errors: 2 xxxx.ec2.internal. A: dial tcp 10.0.0.2:53: i/o timeout
 [ERROR] plugin/erro

[2020-03-11 14:19] gongguan commented on #88779
[code]
[code]
these concurrent operations happens in different place, I wonder two goroutines use podRecords at the same time (after all 1 second relist period is too short).

[2020-03-11 14:20] liggitt commented on #88779
is it possible the kubelet is panicing (e.g. https://github.com/kubernetes/kubernetes/pull/88915) and Run is getting called multiple times?

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6c286c8/cmd/kubelet/app/server.go#L1131-L1134

Would that start multiple goroutines calling relist() concurrently?

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85e

[2020-03-11 14:22] liggitt commented on #88779
it looks like the kubelet does not exit on panics:

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6c286c8/cmd/kubelet/app/options/options.go#L61-L62

https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6c286c8/cmd/kubelet/app/server.go#L757

[2020-03-11 14:24] liggitt commented on #88779
The first panic seen in that kubelet log is:
[code]

[2020-03-11 14:25] jdef commented on #78664
/remove-lifecycle stale

[2020-03-11 14:28] sjenning commented on #88779
@liggitt ah I see.  For the record, it does look like the kubelet crashes on the `fatal error`s.
[code]
kubelet pid changes after each one.

But it makes sense if the kubelet isn't fully crashing on the first panic, leading to concurrent runs of the `GenericPLEG`, thus leading to the eventual fatal error.

[2020-03-11 14:30] sjenning commented on #88779
Yeah....
[code]
I think that is the real issue

[2020-03-11 14:31] liggitt commented on #88779
[code]

the panic makes another Run loop start, which sets up a concurrent map read/write, which actually causes the process exit :-)

[2020-03-11 14:32] liggitt commented on #88779
retitled and bumped priority

[2020-03-11 14:36] sjenning commented on #88779
We were _just_ talking about this in sig-node yesterday; changing the kubelet to crash on panic.  This is definitely evidence that we should do that.  I didn't realize this was possible with the panic recovery.
/cc @derekwaynecarr @dchen1107

[2020-03-11 14:36] liggitt commented on #88779
So there are two issues here:

1. Fix the [observed panic](https://github.com/kubernetes/kubernetes/issues/88779#issuecomment-597664682)
2. Fix the kubelet to exit on panic, not live on in zombie state

[2020-03-11 14:36] droslean opened #89050 "[Failing Test] build-packages-rpms (ci-release-build-packages-rpms)"
**Which jobs are failing**:
`build-packages-rpms (ci-release-build-packages-rpms)`

**Since when has it been failing**:
`10th March 19:44 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#build-packages-rpms

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/ci-signal
/priority critical-urgent
/milestone v1.18
/cc @kubernetes/release-man

[2020-03-11 14:37] droslean commented on #89050
/sig release

[2020-03-11 14:38] justaugustus commented on #89050
/assign
/area release-eng

[2020-03-11 14:40] liggitt commented on #88779
looks like the particular panic was an actual bug in that PR: https://github.com/kubernetes/kubernetes/compare/782bf3341b7c9a60d151c237626d654b08976b91..5719d3138c3e3c27b3b511a8754343594fa95b46#diff-ea8c11a933d6d6c22c0c12b6a38c4b46R338

[2020-03-11 14:43] fabiand commented on #29913
It does support multiple by now:
https://kubernetes.io/docs/concepts/containers/runtime-class/

[2020-03-11 14:43] alejandrox1 commented on #88335
:sweat_smile: same test different failure (we are back to the original error).
@robscott helped fix the e2e error from the 1.17 test binary that was caused by the introduction of IngressClasses.
So now we need to look at "custom fields" in kubectl

[2020-03-11 14:43] droslean opened #89051 "[Failing Test] gce-cos-.*-scalability tests are failing since 03/06"
**Which jobs are failing**:
`gce-cos-1.18-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability-beta )`

**Since when has it been failing**:
`10th March 05:01 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.18-blocking#gce-cos-1.18-scalability-100

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability-beta/12377102257

[2020-03-11 14:46] danwinship commented on #71305
The official kubernetes packages, and in particular kubeadm-based installs, are fixed as of 1.17. Other distributions of kubernetes may have been fixed earlier or might not be fixed yet.

[2020-03-11 14:48] droslean opened #89052 "[Flaking Test] verify-1.18 (ci-kubernetes-verify-beta)"
**Which jobs are failing**:
`verify-1.18 (ci-kubernetes-verify-beta)`

**Since when has it been failing**:
`11 March 00:56 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.18-blocking#verify-1.18

**Reason for failure**:
see https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-beta/1237711230773235713

**Anything else we need to know**:
/cc @kubernetes/ci-signal

[2020-03-11 14:49] tedyu commented on #88779
Should we change the default for ReallyCrashForTesting to true ?

[2020-03-11 14:56] alejandrox1 commented on #87092
I don't think this issue is fixable, xref: https://github.com/kubernetes/kubernetes/issues/88971
there seems to be an issue in the assumptions that the gke-provisioning logic in kubetest (it looks for latest releases that don't exist).
I think at this point we should look into whether this e2e job adds useful information. If it does then we can convert it into a GCE-based job. Else, we should dele

[2020-03-11 14:59] asheynkman78 commented on #88023
I sort of found the workaround....

The issue was occurring with when I either left Canal in place, or upgraded it to Calico using
instructions provided by Calico team. https://docs.projectcalico.org/getting-started/kubernetes/flannel/migration-from-flannel. Calico upgrade removed flannel, but configured Calico to use vxvlan mode

However, when I completely removed Canal and installed Calico from

[2020-03-11 15:01] liggitt commented on #88779
Options:

1. [Remove the wait.Until wrapper around kubelet.Run](https://github.com/kubernetes/kubernetes/blob/cb3856042212fcc85ea12c95e5d17ab7f6c286c8/cmd/kubelet/app/server.go#L1131-L1134). Run() exiting is never expected, and calling it again is never correct.

2. Remove ReallyCrashForTesting completely and leave the panic handler at its default behavior of exiting. This would affect all uses of

[2020-03-11 15:05] saschagrunert commented on #89050
Fix is incoming in https://github.com/kubernetes/release/pull/1174

[2020-03-11 15:11] davesargrad commented on #88986
Using [this ](https://community.pivotal.io/s/article/How-to-get-tcpdump-for-containers-inside-Kubernetes-pods)process, I've also located the virtual network interface of the container running in my service pod. I am able to monitor that and verify that the request does not make its way into the pod until the 60 seconds has elpased.

![image](https://user-images.githubusercontent.com/48793689/76432

[2020-03-11 15:19] alejandrox1 commented on #88335
Updating this one.
The test that is failing seems to be from the release-v1.17 branch https://github.com/kubernetes/kubernetes/blob/release-1.17/test/e2e/kubectl/kubectl.go#L423

Here is the place where the error is specifically coming from https://github.com/kubernetes/kubernetes/blob/release-1.17/test/e2e/kubectl/kubectl.go#L2632-L2633

[2020-03-11 15:23] pai911 commented on #53533
Hi @hjwp , thank you for ur information. That really helps a lot!

Could I ask a question following this?

After setting everything up as you said, is there a way to limit the use of swap memory usage by containers?

I was thinking about setting `--memory-swap` params of Docker
https://docs.docker.com/config/containers/resource_constraints/#--memory-swap-details
Currently, my container has no limi

[2020-03-11 15:23] tedyu commented on #88779
Working on a patch for option #1 now.

[2020-03-11 15:25] jsafrane commented on #87491
@humblec, there should be nothing specific to Jobs / CronJobs, they just create a regular Pod.

[2020-03-11 15:38] DevasiaThomas commented on #29913
@fabiand looking at the doc, it seems that the runtime that kubelet points to is the one responsible for dealing with additional handlers. So kubelet still deals with only one kind of runtime from its perspective - am I right?

[2020-03-11 15:56] win-t commented on #53533
@pai911 I don't think that is possible,

currently, CRI doesn't support that, see [this](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/cri-api/pkg/apis/runtime/v1alpha2/api.proto#L542), there is no option like `--memory-swap` in docker

this is CRI limitation though, OCI spec support [this](https://github.com/opencontainers/runtime-spec/blob/f49fed0d6290c1029db104945da582

[2020-03-11 16:09] guycla commented on #75942
/remove-lifecycle stale

[2020-03-11 16:13] EronWright commented on #88816
@apelisse are you able to take steps to backport this fix?   Honestly I don't know how to use SSA in a controller without it.

[2020-03-11 16:17] apelisse commented on #88816
I'm planning on working on that, but I have a few other things on fire right now (so close to the 1.18 release).

I still don't understand why a change to the object would require another change to the same object.

Also, I'm not sure I understand that:

[2020-03-11 16:20] roycaihw commented on #88779
Yes we talked about making kubelet actually crash in the sig meeting yesterday. I think we had this consensus back in [2016](https://github.com/kubernetes/kubernetes/pull/28800#issuecomment-231911897), but kubelet wasn't changed because of the [flag](https://github.com/kubernetes/kubernetes/pull/3577).

Yesterday I think we agreed it's good to make kubelet crash for debugging purpose. One concern

[2020-03-11 16:23] lavalamp commented on #25151
@cben I agree this should be called out in the docs. Can you file a bug there and/or send a PR? I don't think this ~4 year old issue is the best place to track that. (Good detective work finding this, though!)

[2020-03-11 16:25] angelofdeauth commented on #88692
Adding relevant sigs - architecture for API spec changes to pod set resources (Deployment, StatefulSet, ReplicaSet, DaemonSet) to include replica count constraints field.
Adding relevant sigs - api-machinery for controller-manager changes to verify pod set resource replica count is within replica count constraints.
/sig architecture
/sig api-machinery

[2020-03-11 16:26] msau42 commented on #87491
@humblec I am looking at a similar issue too. In my case, the application starting getting "permission denied" errors, and eventually crashed. Then when docker tries to restart the container, it fails during the [bind mount](https://github.com/docker/docker-ce/blob/6c81bbd59d78f35499d47a5832656b727e9925a0/components/engine/volume/mounts/mounts.go#L159)

[2020-03-11 16:26] liggitt commented on #89034
does the --plural-exceptions option to client/informer/lister generation do what you want?

[2020-03-11 16:27] msau42 commented on #87491
And the other thing we've observed is that all ceph mounts on that node go bad, while other nodes are fine.

[2020-03-11 16:30] liggitt commented on #89033
This is working as designed. See https://kubernetes.io/docs/concepts/services-networking/connect-applications-service/#accessing-the-service for details:

It also indicates how to opt out of this behavior if you don't want it:

[2020-03-11 16:30] #89033 closed

[2020-03-11 16:33] smarterclayton commented on #88779
We should never wait.Until things that don't tolerate it.  So removing the wait.Until is appropriate.

[2020-03-11 16:33] liggitt commented on #89028
Thanks for reaching out, but an issue is not the best approach for a general question like this. For this topic, I would recommend asking sig-auth [via the mailing list or slack](https://github.com/kubernetes/community/tree/master/sig-auth#contact).

/close

[2020-03-11 16:33] #89028 closed

[2020-03-11 16:35] #89024 closed

[2020-03-11 16:36] liggitt commented on #88779
I would recommend removing the wait.Until around the Run() invocation in 1.15-1.18, since that is known to be wrong, and consider the removal of ReallyCrashForTesting in 1.19

[2020-03-11 16:38] cmluciano commented on #88253
Couple of considerations:

- Would specifying an exact namespaceSelector and a labelSelector be valid?
- Would a matchExact be "ANDed" like other labelSelector types so you could include multiple namespaces or would you instead move to the labelSelector type when you wanted to include more than 1 namespace?
- Are we lacking proper documentation to clarify that you need labels on your namespace for

[2020-03-11 16:42] smarterclayton commented on #88779
Agreed, that is the safest approach.

[2020-03-11 17:01] robscott commented on #88335
@alejandrox1 and @tpepper Just filed a new PR that adds all the exceptions already in 1.18 - hadn't realized 1.17 was missing some additional ones. I'm also _very_ open to just removing this test entirely in 1.17 if that makes more sense.

[2020-03-11 17:23] uablrek commented on #88012
Your service has no `selector:` entry, meaning K8s will not assign any "enpoints", check with;
[code]
Hence there are no servers allocated in ipvs for port 30080 as your "ipvsadm" printout shows. This is a misconfiguration, not a bug. You should probably add something like below to get what you want;
[code]
and in the Deployment;
[code]

[2020-03-11 17:30] uablrek commented on #88101
Unless you specify `externalTrafficPolicy: Local` this is intended behavor, please see https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport

Traffic to a nodePort entering on a node will be directed to an enpoint POD on another node.

[2020-03-11 17:43] pai911 commented on #53533
Hi @win-t ,

Thank you for the feedback!

So for now, this option is only for internal use?

Do you happen to know what cgroup value is mapped to this --memory-swap option?

[2020-03-11 17:52] #78947 closed

[2020-03-11 17:52] #75738 closed

[2020-03-11 17:53] ashvindeodhar commented on #78947
/remove-lifecycle rotten

[2020-03-11 18:00] WoodyFleurant opened #89058 "Cluster does not autoscale to minSize after autoscaleUp"
**What happened**:

Create a new cluster with auto-resize, then follow steps to configure autoscale for a pod : https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale-walkthrough/
Then trigger load on that pod :

[code]
Then stop the process and exit container.
Wait for a while and check autoscaler
`kubectl get configmap cluster-autoscaler-status -o yaml -n kube-system`

Result

[2020-03-11 18:00] discordianfish commented on #59376
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2020-03-11 18:01] WoodyFleurant commented on #89058
/sig autoscaling

[2020-03-11 18:28] wy100101 commented on #86297
I'm running into this and it basically makes the HPA unusable for me because CPU spikes up during graceful termination due to cleanup activities for our app.

I've looked at the code as far I can understand the workings of things like kubernetes delete operations and it looks like a deleted pod should get skipped since DeletionTimestamp should be set before the TERM signal is set so the pods shoul

[2020-03-11 18:36] spiffxp commented on #89052
/remove-kind failing test
/kind flaking test
The job isn't continuously failing

The spyglass link isn't helpful, because it shows all tests passing.

So I looked at testgrid for release-1.8, and compared with master
- https://testgrid.k8s.io/sig-release-1.18-blocking#verify-1.18&graph-metrics=test-duration-minutes&width=5
- https://testgrid.k8s.io/sig-release-master-blocking#verify-master&graph-m

[2020-03-11 18:36] spiffxp commented on #89052
/remove-kind failing-test
/kind flake

[2020-03-11 18:37] Datamance commented on #25908
Is it fair to assume that this is the best option for those of us working on GKE's stable release channel, which probably won't catch up to Kubernetes 1.18 for a few months at the very least?

[2020-03-11 18:37] spiffxp commented on #89052
/retitle [Flaking Test] verify-1.18 (ci-kubernetes-verify-beta)

[2020-03-11 18:47] wy100101 commented on #86297
Is the issue that the HPA is using a caching lister to get the pods? Maybe the calculation is based on a cached view of the pod.

[2020-03-11 18:53] #76377 closed

[2020-03-11 18:57] bhagwat070919 commented on #77557
Hi @rverma-jm ,

Yes , there was that issue which recently got fixed by
https://github.com/kubernetes/kubernetes/pull/83446

Thanks

[2020-03-11 18:57] apyrgio opened #89062 "Cannot set the eventTime field when creating/updating Events"
**What happened**:

We cannot create/update an `Event` resource if we set the `eventTime` field to a valid value, e.g., `"2020-03-05T19:40:14.000000Z"`. The Kubernetes API responds with HTTP 422 and the following error:

[code]

If the `eventTime` field is `null`, the `Event` resource is created/updated successfully. In both cases, the `Event` resource does have a name.

**What you expected to hap

[2020-03-11 19:05] jayunit100 commented on #87857
we can close this i think after the above KEP is resolved.

[2020-03-11 19:26] liggitt opened #89064 "failed to create containerd task: failed to start io pipe copy: unable to copy pipes: containerd-shim: opening w/o fifo"
**Which jobs are flaking**:
* pull-kubernetes-e2e-kind
* pull-kubernetes-e2e-kind-ipv6

**Which test(s) are flaking**:

* [sig-storage] In-tree Volumes [Driver: emptydir] [Testpattern: Inline-volume (default fs)] subPath should support non-existent path
* [sig-storage] In-tree Volumes [Driver: hostPathSymlink] [Testpattern: Inline-volume (default fs)] subPath should support non-existent path
* [si