[2020-09-15 23:31] zorro786 commented on #94808
Thats's right. By defensive programming I meant inadvertent errors.

[2020-09-15 23:33] msau42 commented on #77324
/assign @misterikkit

[2020-09-15 23:36] jsturtevant commented on #93165
That issue doesn't have guidance explicitly, was more about the need for someone to look into it.  I did some investigation with outcomes on the comment https://github.com/kubernetes/kubernetes/issues/64801#issuecomment-668897952 and the spread sheet has each PSP detailed with what applies to windows as of now: https://docs.google.com/spreadsheets/d/1Snhqtnu38I2Sqa7UQQbD3ZwYTkXMo7L81lUHSmh7buU/edi

[2020-09-16 00:15] mcavoyk commented on #88886
/remove-lifecycle rotten

[2020-09-16 00:32] roycaihw commented on #94691
It looks that packages were missing. `verify-generated-swagger-docs` has a shorter [InputDirs](https://github.com/kubernetes/kubernetes/blob/303810c7a22d6dc4f940d7e183f7b0518c00569a/staging/src/k8s.io/code-generator/cmd/conversion-gen/main.go#L110)/[packages](https://github.com/kubernetes/kubernetes/blob/303810c7a22d6dc4f940d7e183f7b0518c00569a/staging/src/k8s.io/code-generator/cmd/conversion-gen/

[2020-09-16 00:39] Dinesh-Balakrishnan commented on #90833
Hi! I would like to try to start contributing to Kubernetes. I'll attempt to work on this issue.

[2020-09-16 00:41] Dinesh-Balakrishnan commented on #90833
/assign

[2020-09-16 01:11] larytet commented on #70179
Python 3 same story

[2020-09-16 01:19] ahg-g commented on #94808
I agree with @adtac, I can't think of a reason why one would want to reorder the list in NormalizeScore. I think we can address this with proper documentation. The [comment](https://github.com/kubernetes/kubernetes/blob/303810c7a22d6dc4f940d7e183f7b0518c00569a/pkg/scheduler/framework/v1alpha1/interface.go#L308) on NormalizeScore already explains that "A successful run of NormalizeScore will update

[2020-09-16 01:33] andyzhangx commented on #90986
@bergerx I have seen similar issue when handling one customer's case, it's probably caused by broken vmss cluster, pls file a ticket to VMSS team to fix the issue.

[2020-09-16 01:51] #94592 closed

[2020-09-16 02:28] zorro786 commented on #94808
@ahg-g Already mentioned one reason above - sorting. The comment just reinforces it is okay to "update" the list. Definition of update includes reordering of elements.

If this is strictly not intended then I am okay with documenting it properly too -> where updating doesn't include reordering elements.

[2020-09-16 02:34] travisghansen commented on #94745
After lengthy discussion on slack it was determined this is related host path mounts:

Quoting @msau42

[code]

In short in my case kubelet run as a container (using `rke`) and that container is mounted with various paths from the host, 1 of which is a/the same nfs server that's being used by the provisioner (although the provisioner is using/mounting deeper subdirs).

It's probably best to determ

[2020-09-16 02:40] pacoxu commented on #94797
thanks xing-yang

This is discuessed in data protection work group. More info can be found in [mail list](https://groups.google.com/g/kubernetes-data-protection/c/lJI21l-t67w) & [google docs](https://docs.google.com/document/d/1esDeaQgk5j9w_5j3_IU9NM7QBkMOpawIG4xVyqAd_ZE/edit?ts=5e2b8679#heading=h.o96w8untj55p)

[2020-09-16 03:13] zerkms commented on #57838
/remove-lifecycle stale

[2020-09-16 03:20] #90106 closed

[2020-09-16 03:29] zhouya0 commented on #94809
@neolit123 No I don't think that's the fix for this (that is just a little cleanup).
Actually I think we have to delete all namespace parameters in `CreateAdapter` and `createClusterAdminBinding` :
https://github.com/kubernetes/kubernetes/blob/965137a992ed755474f17fa6377ee3555745addd/test/e2e/instrumentation/monitoring/custom_metrics_deployments.go#L255-L271

Because before `framework.RunKubectl(n

[2020-09-16 03:30] zhouya0 commented on #94809
/assign

[2020-09-16 03:31] xujihui1985 commented on #94790
@yashvardhan-kukreja  yes, that would be nice, and there may be some prefix to filter the label that would attach to pod while we may not want to expose all of the node labels to pod

[2020-09-16 03:34] tleish commented on #72597
Based on the excellent tip from @alicederyn, I created the following local to remote port forward script through kubernetes and then auto deletes the temp pod when you are finished with the script:

[code]

[2020-09-16 03:41] yashvardhan-kukreja commented on #94790
@xujihui1985
1).it would be great if u can please show with an example, exactly what do u mean when u said, "some prefix to filter the label that would attach to pod while we may not want to expose all of the node labels to pod". (i suppose i get it but I am not finding this prefix filter of most use, so I might be not understanding your idea completely, thats why an example would be great)

2). A

[2020-09-16 04:04] bb3333bb opened #94824 "KubeApiserver crash"
**What happened**:
We use Ambassador to as API gateway. When i delete all ambassador pods, APIserver crash and it take a about 5 minutes for cluster to get ready
Log of API server:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): 1.18.4
- Cloud provider or hardware configuration: BareMetal
- OS (e.g: `cat /etc/os-release`): Centos7.8
- Kernel (e.g. `uname -a`):
- Install tool

[2020-09-16 04:07] bb3333bb commented on #94824
/sig api-machinery

[2020-09-16 05:23] adityats2020 commented on #83561
/remove-lifecycle rotten

[2020-09-16 05:35] adityats2020 commented on #83561
/reopen

[2020-09-16 05:48] paulnivin opened #94825 "CRI getFsInfo logs errors for valid filesystems mounted after kubelet start"
**What happened**:

New overlay filesystems created for Pods after kubelet start trigger repeated error messages. For example:

[code]

Error messages are logged every 10 seconds for every filesystem created after kubelet start. For large kubelet nodes, this issue creates an excessive amount of error logs.

**What you expected to happen**:

New overlay filesystems created for Pods after kubelet st

[2020-09-16 05:52] paulnivin commented on #94825
/sig node
cc @mrunalp

[2020-09-16 05:59] larytet commented on #70179
My Python  process has 600MB footprint. My process UNIX forks 3 processes. Should I expect to see in k8s 1.8GB occupied ?

[2020-09-16 06:26] mborsz commented on #91236
In https://github.com/kubernetes/kubernetes/pull/94800 I revert PR with debug info as I think that it likely caused significant memory growth in scalability tests, but we have one run that has finished without being killed by OOMKiller (I increased memory limit for that jobs as a mitigation).

Maybe logs from this run will be useful for debugging:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/lo

[2020-09-16 07:27] krmayankk commented on #94419
i am not sure if this belongs to sig-apps, adding sig-network , they may have some insight
/sig-network

[2020-09-16 07:28] krmayankk commented on #94419
/sig network

[2020-09-16 07:32] FabianKramm commented on #94280
Another example why this might be useful is [lens](https://github.com/lensapp/lens) which uses `kubectl proxy` internally, but currently doesn't work with contexts that have a base path because of the problem described above. Would be really great if `kubectl proxy` would behave consistently with all kube contexts so that apps that build on `kubectl proxy` don't have to solve this problem themselv

[2020-09-16 07:32] krmayankk commented on #94270
what you really need is some way to maxSurge in DaemonSet so that the downtime is minimized . See [this](https://github.com/kubernetes/enhancements/pull/1590) proposal to add maxSurge to DaemonSet. In this case, a new pod will come up before an old one is brought down

[2020-09-16 07:38] cheyang opened #94826 "The kubelet should skip hostpath check if the type is empty"
**What happened**:

1. The user of kubelet don't have authority to run stat command(permission denied) in the specified directory
2. Then I deploy the pod with hostpath volume，it's failed due to the kubelet can't access the target directory
3.but according to the document， if it’s empty string, no checks will be performed, but seems it doesn’t work: https://kubernetes.io/docs/concepts/storage/volu

[2020-09-16 07:39] ialidzhikov commented on #94590
/cc @feiskyer @andyzhangx

[2020-09-16 07:39] krmayankk commented on #94245
/area kubelet

[2020-09-16 07:40] krmayankk commented on #94245
/remove-sig apps

[2020-09-16 07:40] krmayankk commented on #94245
/sig node

[2020-09-16 07:45] #91015 closed

[2020-09-16 07:57] dixudx commented on #94826
Right. Pls refer to below code.

https://github.com/kubernetes/kubernetes/blob/3fd5f367d698bd59460adf8a05b77e2c419d9d50/pkg/volume/hostpath/host_path.go#L235-L238

No check will be performed if `HostPathType` is unset. @cheyang

[2020-09-16 08:29] aljaxus commented on #85794
Yeah this actually worked for me too - it's a rather nasty workaround, but it works `:shrug:`

[2020-09-16 08:58] gjtempleton commented on #69687
Hey @numbsafari, I see from the discussion on the original PR that the next steps I'd suggest if you want to get this feature promoted have already been mentioned.

The first step I'd recommend is someone raising this at the [SIG Autoscaling](https://docs.google.com/document/d/1RvhQAEIrVLHbyNnuaT99-6u9ZUMp7BfkPupT2LAZK7w) weekly meeting (ideally someone who's wanting to drive forward or be involve

[2020-09-16 09:27] godomainz opened #94827 "Kubelet 1.19 TRANSIENT_FAILURE csi-hostpath-provisioning-4607-reg.sock"
journalctl -u kubelet -f commands shows below error in my worker nodes
OS : Ubuntu 18.04
RAM : 14.6 GB
Kubernetes: 1.19

[code]

This is my kubelet.service

[code]

This is my kubelet-config.yaml

[code]

[2020-09-16 09:47] BedivereZero commented on #71647
Node OOM.

The kubernetes is deployed by kubeadm, contains 2 nodes: node-0 is master, node-1 is worker. I ran the memory stress test on node-1, next node had an OOM and kubelet couldn't access kube-apiserver until kubelet was restarted.

By the way, how to debug a running kubelet without restarting it.

[2020-09-16 09:47] johnnyshields commented on #47202
We found a good workaround for this issue: stop using K8s CronJobs and use Apache Airflow instead.

[2020-09-16 10:29] feiskyer commented on #94590
@ialidzhikov  thanks for reporting the issue. Did it also happen on a newer k8s version? v1.16 has been EOL.

[2020-09-16 10:31] aojea commented on #92041
I've submitted a PR to fix it and another one to test the sctp connectivity, please review them, I've pinged you there :smile:

[2020-09-16 10:47] ialidzhikov commented on #94590
Yes, it is reproducible also with the master branch.

Ref https://github.com/kubernetes/kubernetes/blob/4fd93ff852291b577e7a05c9e65e8b054674b39a/staging/src/k8s.io/cloud-provider/controllers/service/controller.go#L366-L390

Here were have event for start of operation (`EnsuringLoadBalancer`) and successful operation (`EnsuredLoadBalancer `) but there is not event for failed operation.

[2020-09-16 11:04] pacoxu commented on #94388
https://docs.openshift.com/container-platform/4.4/rest_api/storage_apis/csinode-storage-k8s-io-v1.html
CSINode holds information about all CSI drivers installed on a node.

So csi driver uninstall  need to clean the csinode. Or csi-drvier need a post-stop to delete the csi node.

[2020-09-16 11:21] wawa0210 commented on #93061
https://github.com/kubernetes/kubernetes/pull/93263

The issue has been fixed

/close

[2020-09-16 11:22] #93061 closed

[2020-09-16 11:29] ahg-g commented on #94808
My question is for what purpose.

We need to update the docs, but the intention was "update the scores in the list"

[2020-09-16 11:30] ahg-g commented on #91983
/remove-lifecycle stale

[2020-09-16 11:40] ingvagabund commented on #91157
/close

[2020-09-16 11:59] ahg-g commented on #91157
/open

[2020-09-16 12:15] DesistDaydream commented on #94429
I have the same problem
k8s version:v1.18.8

[2020-09-16 12:15] mzyfree opened #94829 "pleg unhealthy due to inspect one pod status from docker daemon timeout"
**What happened**:
On one hand,there is a nfs client pod in my k8s cluster.The pod is a nfs-client pod using nfs pv,but the nfs-server pod is shutdown.And docker trys to start the nfs-client container ,lock the container and docker inspect hang on this lock.Because start the nfs-client container in docker will be 10min.(hangs on stat the nfs path and mkdir the nfs path due to nfs-server down)
On t

[2020-09-16 12:17] mzyfree commented on #94829
/sig node

[2020-09-16 12:23] mzyfree commented on #94829
So can I make the get pod status in PLEG parallel,just below in PLEG relist method.
[code]

[2020-09-16 12:28] ArchangelX360 opened #94830 "`ResourceList` `Cpu()` function claim to return "the CPU limit if specified" while returning the content of `cpu`"
**What happened**:

`ResourceList` `Cpu()` function

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

This is linked to the issue reported on the wrong issue board: https://github.com/kubernetes/api/issues/31

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configura

[2020-09-16 12:34] ArchangelX360 opened #94831 "`ResourceList`'s `Cpu()` function claim to return "the CPU limit if specified" while returning the content of `"cpu"` instead of `"limits.cpu"`"
**What happened**:

`ResourceList`'s [`Cpu()` function ](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/resource.go#L29) claim to return "the CPU limit if specified" while returning the content of `ResourceName` `"cpu"` instead of `ResourceName` `"limits.cpu"`.

**What you expected to happen**:

I would expect `Cpu()` to return `"limits.cpu"` key content instea

[2020-09-16 12:36] ArchangelX360 commented on #94831
/sig api-machinery

[2020-09-16 12:37] #94830 closed

[2020-09-16 12:49] ingvagabund commented on #91157
@ahg-g anything else to be done here?

[2020-09-16 13:16] damemi commented on #91983
Don't see it referenced here yet, but this is currently blocked by https://github.com/kubernetes/kubernetes/pull/92507, which initializes an external "component-helpers" repo with the goal of migrating internal/duplicate helpers to this repo in order to break the framework's internal dependencies.

[2020-09-16 13:23] ahg-g commented on #91157
/close

no, I just checked again, you are right.

[2020-09-16 13:24] #91157 closed

[2020-09-16 13:26] ahg-g commented on #91157
I was mainly wondering wether that commented out code was done by mistake or not, but it is not, the pv controller will eventually set `VolumeName`.

[2020-09-16 13:52] liggitt commented on #94787
Omitting non-confidential field values from API errors responses because confidential information _might_ be placed into them inappropriately and the error _might_ be logged doesn't seem very principled. Data specified in pod specs can be logged in other locations as well, and masking it in once place gives a false sense of security that those values are protected when they are not.

[2020-09-16 14:00] renukamanavalan commented on #94270
Thank you @krmayankk. I will be looking forward for a code release with this update.

[2020-09-16 14:08] neolit123 commented on #94827
/sig node

[2020-09-16 14:09] neolit123 commented on #94826
/sig node

[2020-09-16 14:31] alculquicondor commented on #94695
It is merged

[2020-09-16 14:32] alculquicondor commented on #94695
Whenever possible, send small self-contained PRs (affecting a particular extension point and it's corresponding test).

[2020-09-16 14:34] alculquicondor commented on #90859
/close

this work was completed for 1.19

[2020-09-16 14:35] #90859 closed

[2020-09-16 14:35] adracus commented on #89153
Seems to be fixed in K8s >= 1.19: https://github.com/kubernetes/kubernetes/commit/3db7275b549559696c42c0b5f51c9a2397e9571d

[2020-09-16 14:35] alculquicondor commented on #91120
/remove-lifecycle rotten

/unassign

[2020-09-16 14:36] #92189 closed

[2020-09-16 14:37] alculquicondor commented on #93067
@liggitt any thoughts on the last 2 suggestions?

[2020-09-16 14:45] #73099 closed

[2020-09-16 15:01] jwm commented on #82595
/remove-lifecycle stale

[2020-09-16 15:19] soltysh commented on #79830
There's no plan to support `kubectl create pod`, `kubectl run pod` is what you can use. See also https://github.com/kubernetes/kubectl/issues/914 for reasons and the future of create commands.
/close

[2020-09-16 15:19] #79830 closed

[2020-09-16 15:43] mcluseau commented on #47202
This issue is solved externally there: https://github.com/hiddeco/cronjobber

[2020-09-16 15:47] nicolacdnll commented on #92377
@harper1011

Yeah, it looks like that the changes to kubelet `InternalContainerLifecycle` fixed this issue!

Thank you a lot, and sorry it took me so long to go back to this!

[2020-09-16 15:47] #92377 closed

[2020-09-16 15:48] alculquicondor commented on #91120
cc @adtac how's looking into modifying one plugin's configuration now

[2020-09-16 15:48] alculquicondor commented on #91120
/unassign @manishdangi98

[2020-09-16 16:07] zorro786 commented on #94808
I have a custom algorithm where I normalize different ranges of scores separately, for this I need to sort the scores for efficiency. While I can also do this by placing sorted elements in a new list, I used existing list.

[2020-09-16 16:13] adtac opened #94836 "scheduler_perf: create a more realistic preemption benchmark"
**What would you like to be added**: Add a more realistic preemption workload to the scheduler_perf.

**Why is this needed**: The current workload has two priorities. I propose adding a benchmark that:

1. Has more than two priorities.
1. Preemptor has a priority somewhere in the middle.
1. Preemptor need not preempt all pods on every node (currently, resource restrictions require preempting all p

[2020-09-16 16:14] adtac commented on #91120
/assign

[2020-09-16 16:14] adtac commented on #94836
/assign

[2020-09-16 16:15] ykakarap commented on #94280
/assign @ykakarap

[2020-09-16 16:19] msau42 commented on #91246
/remove-lifecycle rotten
@humblec do you plan to work on this in 1.20?

[2020-09-16 16:21] humblec commented on #91246
@msau42 yeah, I am planning to continue working on this for 1.20 ..

[2020-09-16 16:31] krmayankk commented on #94245
adding /sig scheduling
Another question is does the scheduler take into account disk pressure nodes to avoid those nodes for schedluing. My expecation is that the evicted pod remains pending in this scenario
@kubernetes/sig-scheduling-bugs  any comments ?

[2020-09-16 16:41] jeffreybrowning commented on #69687
@numbsafari @gjtempleton sorry for not reporting back here, I believe we have some movement here: https://github.com/kubernetes/kubernetes/pull/74526

Someone needs to write an upgrade document for alpha -> beta for this release. No one has stepped up yet.

[2020-09-16 16:49] kfox1111 commented on #80228
Still relevant.

/remove-lifecycle stale

Had to explain this to another user the other day.

[2020-09-16 16:49] alculquicondor commented on #94836
Should we modify the existing one instead of creating a new one? With the objective of keeping the benchmarks running in post submit with a decent period.

[2020-09-16 16:51] msau42 commented on #80228
Please bring this up with sig-cli to find an owner for this

[2020-09-16 16:54] dineshba commented on #82612
/reopen

[2020-09-16 16:54] dineshba commented on #82612
/remove-lifecycle rotten.

[2020-09-16 16:58] eddiezane commented on #82612
/reopen

[2020-09-16 17:11] jacobvinzent opened #94837 "Autoscaling and pause pod"
I have tried to create a K8s cluster on GCP with auto scaling. I have used a pause pod (Deployment )with low prio to ensure capacity for new pods. I have some other pods installed as well. It works when test pods are created, a new node is installed and the pause pod is being terminated and recreated on the new node. Then I delete all the test pods, so only the pause pod is on the newest node, the

[2020-09-16 17:15] adtac commented on #94836
I think we should/can freely modify the existing one until such a post-submit job exists because there's nothing to compare it to; we don't have past data right now.

[2020-09-16 17:18] jacobvinzent commented on #94837
/sig area/provider/gcp

[2020-09-16 17:18] jacobvinzent commented on #94837
/sig area/provider/gcp

[2020-09-16 17:19] jacobvinzent commented on #94837
/sig Autoscaling

[2020-09-16 17:38] sikasam opened #94839 "continuous pod creates and deletes are happening while horizontal pod autoscaling (HPA)"
**What happened**:
continuous pod creates and deletes are happening while horizontal pod autoscaling (HPA)on to a existing node. from the events, there are scheduled, created and started events. And within no time, this is repeating forever.
$ kubectl get hpa
NAME         REFERENCE                TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
bos06-fdv2   StatefulSet/bos06-fdv2   639%/60%

[2020-09-16 17:46] dashpole commented on #93688
No flakes for 4 days.
/close

[2020-09-16 17:46] #93688 closed

[2020-09-16 17:48] bergkvist commented on #66607
/remove-lifecycle stale

[2020-09-16 17:54] nikutelusuiphone commented on #94787
Thanks @liggitt

[2020-09-16 17:54] #94787 closed

[2020-09-16 18:41] evankanderson commented on #76951
@maximilien was interested in this today.

[2020-09-16 18:41] evankanderson commented on #76951
/remove-lifecycle rotten

[2020-09-16 18:42] unixfox commented on #69699
/remove-lifecycle stale

[2020-09-16 18:50] liggitt commented on #40403
Thanks for the feature request, but this is unlikely to make progress as an issue. A proposal that works through the design along with the implications of such a change can be opened as a [KEP](https://github.com/kubernetes/enhancements/tree/master/keps#kubernetes-enhancement-proposals-keps).

/close

[2020-09-16 18:51] #40403 closed

[2020-09-16 18:59] mikedanese commented on #82573
Fixed by @zshihang in https://github.com/kubernetes/kubernetes/pull/89193

[2020-09-16 18:59] #82573 closed

[2020-09-16 19:18] mrueg commented on #88142
/remove-lifecycle stale

[2020-09-16 19:35] #94499 closed

[2020-09-16 19:38] rikatz commented on #94495
/retitle Move Feature gate ServiceNodeExclusion to GA and LockToDefault

[2020-09-16 20:51] aojea commented on #88458
/help

[2020-09-16 20:59] rikatz commented on #94806
It seems that the ingress is created successfully (per the api-server logs, the GET of the object returns a resp=200) but the test still does the GET for 10m until it fails:
[code]
Per the GCP resources it's hard to know if an IP Address has been allocated to the ingress (maybe some regex problem) or if this is some other problem.

I have almost none knowledge of e2e tests and GCP environment (nee

[2020-09-16 21:38] ZihanJiang96 commented on #94826
I would like to fix this if this is a valid bug. But seems that we will skip the typecheck if the hostpath is unset.

[2020-09-16 21:45] neolit123 commented on #94839
/sig autoscaling

[2020-09-16 21:48] rikatz commented on #94806
One additional error from the logs, it really seems the Ingress is being created without address:

[code]
Maybe something specific from the cluster, some permission or from the way the ingress is being created.

The previous commit removed a GCE IP allocation:
https://github.com/kubernetes/kubernetes/commit/deffddbfb5466d4b1fefd9f955646426b2613c80#diff-ae2588ed31c4a644d59d239e3ed191dfL140

 but th

[2020-09-16 22:43] jayunit100 commented on #46508
for folks reading this... yeah , so i dug into it and looks like  kube-proxy’s configmap actually stores the cluster cidr.  so…. thats the source of truth i guess (or parsing the output from the kcm

[2020-09-16 23:38] caseydavenport commented on #46508
I wouldn't rely on the kube-proxy's configmap as the source of truth in the generic case, although depending on your cluster it might work. A few downsides to that:

- It's not strictly required. Possible to run a cluster without this field set.
- Some platforms make this CIDR larger than the cidr used for pod IP addresses (it doesn't have the same semantic as the field on the controller manager)

[2020-09-17 00:23] tallclair commented on #94658
I think the known-token route is acceptable, but I'd like to generate a random token with each test run rather than the fixed `"insecure-token"`.

[2020-09-17 01:24] gongguan commented on #94245
I don't think it's a sig-scheduling bug. Pod with nodeName will be assigned to certain node directly, that means scheduler won't schedule this pod.

[2020-09-17 01:42] brianpursley commented on #94806
By the way, in my original issue description, I said it looks like this started around 9/4, but after a closer look it seems that is not the case. I went back in the old builds around that time, and it seems there was [another error that occurred before that](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-ingress-gce-e2e/1301675463063638017), `Error waiting for all pods to be running and r

[2020-09-17 01:51] rikatz commented on #94806
No problem :)

I'll leave this as triage/unresolved for tomorrow sig-network meeting so when triaging the issues it will got some attention from GCE folks also and they can provide some better feedback.

As this is a periodic job I don't know how to force it to run with the PR, so now just need to wait for some review :)

[2020-09-17 03:01] lifesboy commented on #20227
+1

[2020-09-17 03:24] xujihui1985 commented on #94790
@yashvardhan-kukreja
1. for example only lables like io.kubenetes.node/ebs-optimized=true can be expose to node
2. yes as long as we have these labels on pod we can use downwardsapi to inject these label to env of the container, so that application in the container can aware of these information

[2020-09-17 03:59] nicktming commented on #94245
agreed

[2020-09-17 04:12] #94809 closed

[2020-09-17 04:13] mrunalp commented on #94825
@harche @haircommander ptal

[2020-09-17 04:55] uablrek commented on #93897
This assumes that the correct node address can be auto-detected. This is true only to the most basic networks setups (one network). A new configuration parameter would be needed like `NodeInterface=ens5`.

[2020-09-17 05:07] pravarag commented on #91120
@manishdangi98 are you still working on it? Otherwise I would like to work on this issue :) @alculquicondor

[2020-09-17 05:56] mukulk2020 opened #94849 "Replicasset is not consider image tag for existing matched labeled pods."
I have create a pod (image nginx , label app=nginx). It created successfully and showing total 1 pod in cluster .
apiVersion: v1
kind: Pod
metadata:
  name: nginx01
  labels:
    app: nginx
spec:
  containers:
  - name: nginx
    image: nginx

Ran : > kubectl get pods -o wide
NAME      READY   STATUS    RESTARTS   AGE   IP            NODE                 NOMINATED NODE   READINESS GATES
nginx01

[2020-09-17 06:45] soulxu commented on #94722
It also can be done by add toleration to the pod at

https://github.com/kubernetes/kubernetes/blob/51184187b9cc8e54bb51dc921bfb80de3d638635/pkg/controller/daemon/util/daemonset_util.go#L49

when the `PodTolerationRestriction` admission plugin enabled

[2020-09-17 06:54] yashvardhan-kukreja commented on #94790
alright @xujihui1985. Thanks for the heads up. I'll hop onto implementing this.

[2020-09-17 07:02] uablrek commented on #92369
`Calico` with eBPF replaces `kube-proxy` but instead of rewrite/copy code it is imported from `k8s.io/kubernetes/pkg/proxy`;

https://github.com/projectcalico/felix/blob/7a7ffc82e2a803433ca6639582b4f74e034f75d9/bpf/proxy/proxy.go#L36-L39

After a brief discussion on slack I learned that the problem was not dependencies to other packages as @thockin warned for in https://github.com/kubernetes/kuber

[2020-09-17 07:09] plantegg commented on #66924
there are two reason caused this issue:
1) the nslookup program with busybox:latest can not extract the record from dns response udp packet( the correct ip response from dns server)
2)  options ndots:5 in the /etc/resolv.conf caused some other issue when the domain with many dot. after i changed the ndots from 5 to 7, then i can get:

`/ # nslookup -debug -timeout=2 mysql-0.mysql.default.svc.clust

[2020-09-17 07:10] george-angel commented on #40157
/remove-lifecycle stale

[2020-09-17 07:28] aojea commented on #93897
IIRC it picks the one with the default route ... but you are right, most of k8s components assume cloud scenarios with single interfaces

[2020-09-17 07:52] uablrek commented on #93897
A common setup for us is to isolate intra-cluster traffic on "backend" network for security and performance reasons and all external traffic goes over a "frontend" network, which will have the default route. So the "default route" approach will not work. When I begun with K8s in 2018 I actually was forced to temorary set the default route to the "backend" net temporary on startup. I don't want to

[2020-09-17 08:10] aojea commented on #93897
for those kind of setups I recommend to use different VRFs (vrf backend, vrf frontend or just only one for the backend, ....), mainly because now they are fully available in linux. That how it was done for a long time for routers/switches :smile:
You can have totally isolated the networks and more secure, since there is not chance that the traffic may be accidentally leaked, and you don't have to

[2020-09-17 08:15] uablrek commented on #93897
Would they not show up as 2 interfaces on Linux anyway? Like VLAN's. Then the problem is the same?

[2020-09-17 08:18] harche commented on #94825
@paulnivin thanks for reporting the issue.

I will take a look at in upcoming week.

[2020-09-17 08:19] harche commented on #94825
/assign @harche

[2020-09-17 08:28] aojea commented on #93897
interesting question, I don't know how they will show up,
IIIRC cumulus moved from network namespaces to vrf for the mgmt interface, that's why I was doing this simple logic, thanks for challenging the idea.
 maybe then network namespaces is better? that will guarantee that the interfaces only show up in the network namespace where the process is running.

[2020-09-17 08:36] yanghaichao12 commented on #93858
@andrewsykim @Lion-Wei  i think maybe it's a bug of linux.  in linux 4.4 there is a function 'addrconf_dst_alloc' which has been repaced by ‘addrconf_f6i_alloc’(https://github.com/torvalds/linux/blob/47ec5303d73ea344e84f46660fff693c57641386/net/ipv6/route.c#L4438)now. below shows difference:
4.4:
![image](https://user-images.githubusercontent.com/20693362/93443241-d2328b00-f902-11ea-8e52-42c7b14eb

[2020-09-17 09:06] rajeshkumaratappviewx commented on #22343
The issue got resolved when I restarted the k9s after removing ~/.k9s/config.yaml file

[2020-09-17 09:20] yanghaichao12 commented on #93858
@andrewsykim @Lion-Wei  just now, i found this :)
[code]

[2020-09-17 09:25] zhiyxu commented on #78733
Any update for this issue? The phenomenon still exists at least in v1.17.3

[2020-09-17 09:25] zhiyxu commented on #78733
/remove-lifecycle rotten

[2020-09-17 09:41] eMGabriel commented on #91220
/remove-lifecycle stale

[2020-09-17 10:07] OJFord commented on #80399
/remove-lifecycle stale

(#91020 was closed without merge, and as ensonic says, only addressed cache files)

[2020-09-17 10:10] mukulk2020 opened #94851 "Replicaset not maintain desired instances of same pod"
pod/nginx created

NAME    READY   STATUS    RESTARTS   AGE   LABELS
nginx   1/1     Running   0          10s   run=nginx

replicaset.apps/rs01 created

NAME         READY   STATUS              RESTARTS   AGE   LABELS
nginx        1/1     Running             0          60s   run=nginx
rs01-fk8w5   0/1     ContainerCreating   0          4s    run=nginx
rs01-gpbbb   0/1     ContainerCreating   0

[2020-09-17 10:13] mukulk2020 commented on #94851
Please use #sig-scalability

[2020-09-17 10:42] theAkito commented on #28149
I'm very curious about the solution to that question, as well.

Additionally, I don't see the good design in an error that simply has to be "ignored". If it can be ignored, it shouldn't be an error in the first place. Perhaps a warning, at best.

[2020-09-17 10:42] afirth commented on #65973
I see work is still happening over in cluster API
/remove-lifecycle stale

[2020-09-17 11:26] jayunit100 commented on #25533
hmmm so, i think this is incorrectly closed, the *other* issue is aboute ClusterCIDR, not ServiceCluster IP Range....

[2020-09-17 11:32] jayunit100 commented on #46508
ok, yeah so , let me make sure i get this right:
- cluster-cidr isnt available through anything in the api
- service-cluster-ip-range isnt available either through anything in the api
- we dont have any plans to make these available in the api
- nobody is working on this actively
- for now the best thing you can do is *make sure* that your kubeadm startup parameters etc are stored, somewhere, so y

[2020-09-17 12:19] wojtek-t commented on #94602
@yashvardhan-kukreja - will you be able to prepare a PR for it? Do you have any estimation when this will happen?

BTW - https://github.com/kubernetes/kubernetes/issues/94748 is quite similar (at least part of it).

[2020-09-17 12:23] liggitt commented on #94722
That would result in unschedulable pods for all the tainted nodes whenever the pod was created as-is without something injecting a toleration. I would defer to the scheduling and scalability teams to determine if that is acceptable overhead.

I would not expect to make the daemonset controller aware of that admission plugin. It runs in a separate process and doesn't have visibility to enablement o

[2020-09-17 12:29] yashvardhan-kukreja commented on #94602
@wojtek-t , I ll do it by today EOD (IST) or latest by tomorrow

[2020-09-17 12:31] wojtek-t commented on #94602
awesome - thanks a lot!

[2020-09-17 12:40] yashvardhan-kukreja commented on #94602
Also, I had a small doubt regarsing "ObjectMeta". I noticed that just like here, even other resources like `type Pod` have +optional mentioned for "ObjectMeta".

But ideally ObjectMeta (which is the "metadata" in incoming manifest) is supposed to be filled right (coz if its not then it gives the error saying that it expects the "name" field)

Hence, even there to "+optional" is misleading right?

[2020-09-17 12:41] liggitt commented on #93067
It would also break a webhook that assumed the spec.schedulerName field was present and non-empty in the received pod object

[2020-09-17 12:42] ahg-g opened #94852 "Remove deprecated scheduler metrics"
Remove all metrics marked as deprecated in https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/metrics/metrics.go#L135

/sig scheduling
/cc @logicalhan
/help

[2020-09-17 12:44] liggitt commented on #93067
Adding annotations indicating "this particular field was defaulted" seems pretty ad-hoc and non-scalable.

If we dropped `omitempty` to make spec.schedulerName always be serialized, even when an empty string, that would avoid nil-pointer breakage for non-go webhooks. The scenario Daniel identified would still be affected, but I agree it is a fairly narrow scenario.

[2020-09-17 12:45] wojtek-t commented on #94602
@liggitt - thoughts on the above?

[2020-09-17 12:52] #90271 closed

[2020-09-17 12:58] liggitt commented on #94826
That means that the specified path can be any of file/dir/socket/block/char device, and is not required to already exist. It does not mean that the kubelet can mount a location without having permission to introspect the type and permissions of the item at that path.

This is not a valid bug. The kubelet must have access to the items it is expected to mount into containers.

[2020-09-17 13:01] marcinma commented on #18977
\reopen
this happens on azure devops with kubernetes task, seems multi-namespace apply is not supported

[2020-09-17 13:04] ahg-g commented on #93067
Adding annotations is indeed ad-hoc, but it is something worth considering in a situation where the other solution is breaking a commitment to a stable api. I agree though that the way we are breaking the api is limited and easy to adapt to.

Out of courtesy why adding annotations non-scalable?

[2020-09-17 13:06] arghya88 commented on #94852
Does it mean to remove any metrics with name "Deprecated" need to be removed?

[2020-09-17 13:11] liggitt commented on #93067
I meant that paired, "ad-hoc and non-scalable", meaning we couldn't apply the same approach to all fields we default

[2020-09-17 13:17] ahg-g commented on #93067
s/courtesy/curiosity :)

right, wasn't suggesting to use it for all fields, but this is indeed ad-hoc if applied to a single field (again it is a tradeoff between this and how committed we are to stable apis)

[2020-09-17 13:25] ahg-g commented on #94852
correct

[2020-09-17 13:26] arghya88 commented on #94852
@ahg-g I can work on it

[2020-09-17 13:26] ahg-g commented on #94852
Thanks

/assign @arghya88

[2020-09-17 13:26] ahg-g commented on #94852
/remove-help

[2020-09-17 13:33] knight42 commented on #93651
still happening: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1305183184433975296

looks like the root cause is not related to CRD:
[code]

I think the message `Error from server (NotFound): resources.mygroup.example.com "myobj" not found
` is expected, as the CR was not actually created: https://github.com/kubernetes/kubernetes/blob/3eb90c19d0cf90b756c3e08

[2020-09-17 13:41] scones commented on #24873
[code]

i extended the script above a little (and slowed it down). this loads all namespaces, loads all resources in all namespaces and then loads each config as a single file in each resource in each namespace. it is verbose and shows some errors, bute the end result (the dump) should be clean.

[2020-09-17 14:22] verb opened #94855 "Allow specifying multiple image name mutations in `kubectl debug`"
`kubectl` already defines a image name mutation language for the `set image` command. We could reuse this in `kubectl debug --copy-to` to increase flexibility.

This is a follow up from https://github.com/kubernetes/kubernetes/pull/90094#discussion_r415861310 and https://github.com/kubernetes/kubernetes/pull/90094#discussion_r443654568.

[2020-09-17 14:22] verb commented on #94855
/sig cli
/priority important-longterm
/assign @verb

[2020-09-17 14:32] verb opened #94856 "Fix stderr usage in `kubectl debug`"
Feedback in https://github.com/kubernetes/kubernetes/pull/90094#discussion_r443655372 identified that `kubectl` commands should only print errors to stderr. The command currently prints an information "Defaulting debug container name" message to stderr.

These messages should instead print to Stdout as long as `--quiet` is not set.

/sig cli
/kind cleanup

[2020-09-17 14:36] dinever commented on #94856
Hi @verb, I can work on this if it's okay

[2020-09-17 14:38] verb commented on #94856
@dinever sounds great, thanks!

/assign @dinever

[2020-09-17 14:40] liggitt commented on #93651
yes, the actual error is later:

[code]

Line 177 succeeds, and the next line fails:

https://github.com/kubernetes/kubernetes/blob/660e1e4969ffd8d5e4b24939e646081233e130a6/test/cmd/apply.sh#L176-L180

[2020-09-17 14:42] bttger opened #94857 "No access to events if only the API group `events.k8s.io` is specified in a role"
**What happened**: I created a role which should grant access to events. I have only specified the API group `events.k8s.io` because according to the [resource types](https://kubernetes.io/docs/reference/kubectl/overview/#resource-types) this is the right API group to get access to events. The role manifest looked as followed:

[code]

I then associated the Role with the default ServiceAccount of

[2020-09-17 14:43] bttger commented on #94857
/sig auth

[2020-09-17 14:47] verb commented on #92383
@wawa0210 Are you still working on this issue? Do you need any help?

[2020-09-17 14:57] andyzhangx commented on #94778
already added azure disk CSI migration e2e test on Windows: https://testgrid.k8s.io/provider-azure-azuredisk-csi-driver#pr-azuredisk-csi-driver-e2e-migration-windows, it works well now.

[2020-09-17 15:01] dinever commented on #94856
Hi @verb, it looks like the issue has been fixed in #92310 (https://github.com/kubernetes/kubernetes/commit/7e63cc8b9d592abbb8a659205555e67b57080837#diff-70d7d07e532a36e6345494a79fa2fb13L429-R533)

https://github.com/kubernetes/kubernetes/blob/660e1e4969ffd8d5e4b24939e646081233e130a6/staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go#L534-L536

I don't see any other inappropriate `stderr` usage in

[2020-09-17 15:12] #84158 closed

[2020-09-17 15:15] nodo commented on #94275
/assign

[2020-09-17 15:35] smileusd commented on #77209
I also find this strange function of ceph fuse since using systemd-run why not using mounter.mount.

[2020-09-17 15:57] howardjohn opened #94860 "kubectl should warn on conflicting resource short names"
When a user has multiple CRDs with the same short names configured, we get strange behavior:

[code]

It would be great to have some warning for this.

Exec is prior art here:
[code]

[2020-09-17 15:57] howardjohn commented on #94860
/sig cli

[2020-09-17 15:59] ZihanJiang96 commented on #94831
I could work on this issue if this is a valid bug @ArchangelX360

[2020-09-17 16:01] wawa0210 commented on #92383
No problem, I will submit a pr tomorrow

[2020-09-17 16:05] verb commented on #94856
@dinever oh no! You're right: I misremembered that we left that unsolved.

Thanks for tracking it down. Sorry it was a waste. 😞

[2020-09-17 16:05] #94856 closed

[2020-09-17 16:14] lavalamp commented on #93067
I'm OK with that.

[2020-09-17 16:25] apelisse commented on #93067
Answering super late,  but still:

Yes, webhooks receive the managedFields that have just been set.

Also, it makes me a little sad that we're needing a mechanism that CRDs don't have. We still need a long-term solution to this problem.

[2020-09-17 16:26] neolit123 commented on #94849
hi, what is the output for this:

/sig apps
/priority needs-more-evidence

[2020-09-17 16:27] neolit123 commented on #94849
/priority awaiting-more-evidence

[2020-09-17 16:27] neolit123 commented on #94851
/sig apps

[2020-09-17 16:36] neolit123 commented on #94860
hi,

are there multiple resources called `gateway` and how do they look like?
what is the output of `kubectl version`?

[2020-09-17 16:36] neolit123 commented on #94860
/priority awaiting-more-evidence
/kind feature

[2020-09-17 16:39] howardjohn commented on #94860
[code]

[code]

[code]

[2020-09-17 16:40] howardjohn commented on #94860
Note it takes a minute or two before it will switch over to not returning resources after applying the CRD.

[2020-09-17 16:41] brancz commented on #93480
/assign

[2020-09-17 16:56] BenTheElder commented on #80399
This isn't going in without someone driving agreement with the owners that this should exist. Please go discuss with SIG CLI (mailing list, slack, or their zoom meeting). When I brought it up before the response was negative.

[2020-09-17 16:57] #90263 closed

[2020-09-17 17:17] cnmcavoy opened #94861 "kube-proxy: Drop packets in INVALID state drops packets from outside the pod range"
**What happened**:
When kube-proxy is configured with a cluster-cidr range, it drops packets with an INVALID conntrack state for all sources on the KUBE-FORWARD chain. This is meant to prevent spurious retransmits in long-lived TCP connections to a service IP, but it prevents clusters from having asymmetrical routing on private subnets with services outside of a cluster.

**What you expected to ha

[2020-09-17 17:19] cnmcavoy commented on #94861
/sig network

[2020-09-17 17:21] chrislovecnm commented on #81089
I agree that we need `fsGroup` support for secrets or some other support that sets the file permissions correctly. This is especially true with certificates, which should not be owned by root and should be owned by the non-root user id that is running inside of the container.  Many go libraries do a hard check to determine if the permission on SSL and TLS certificates are correct.  So this is a li

[2020-09-17 17:24] alculquicondor commented on #93067
What is the suggestion with SSA? Is this some information that webhooks can use to tell if the apiserver set a field or it was done by the user?

[2020-09-17 17:26] apelisse commented on #93067
Yeah, but that will only work if the resource was server-side applied, not if it was "POST"ed (in that case, we unfortunately include the defaults), so I don't know if that's good enough.

[2020-09-17 17:30] chrislovecnm commented on #81089
@liggitt from reading this https://github.com/kubernetes/kubernetes/issues/57923#issuecomment-358477229 am I correct that addressing this issue is a tad messy?  Any ideas on how we can address this challenge?

[2020-09-17 17:45] liggitt commented on #81089
sig-storage owns the following:
1. default behavior of volumes
2. mechanisms for enabling data access to volumes shared across containers which have unknown uid/gids
3. interaction of fsGroup and defaultMode
4. compatibility implications to previously working pods and persistent data for changes to 1-3

the two most closely collaborating sigs are:
* sig-node (container lifecycle, availability of i

[2020-09-17 17:48] chrislovecnm commented on #81089
@tallclair can you please remove the more evidence needed label, or I probably can as well.

@liggitt thanks for the fast response, I will probably swing by sig-storage see who can help figure this out.

[2020-09-17 18:00] alculquicondor commented on #93067
Most Pods would be created from Deployments or other workload APIs, so, no, it wouldn't be enough.

[2020-09-17 18:17] anfernee opened #94862 "Support multiple cluster-cidrs in kube-controller-manager"
Current behavior we use a single option `--cluster-cidr` to specify both IPv4 and IPv6 pod CIDR. It's comma-separated CIDRs, with first being IPv4 CIDR, second as IPv6 CIDR. The request is to allow multiple CIDRs for each IP family.

Currently:
[code]

**What would you like to be added**:
(1) Be able to provide multiple PodCIDRs:

[code]

(2) Use different CIDR options for IPv6

[code]

**Why is t

[2020-09-17 18:17] anfernee commented on #94862
/sig network

[2020-09-17 18:18] chrislovecnm commented on #81089
/remove-priority awaiting-more-evidence

[2020-09-17 18:19] chrislovecnm commented on #81089
@tallclair I was able to remove the label, please let me know if you feel we need to add it back.  I will work with sig-storage on the priority.

[2020-09-17 18:32] liggitt commented on #94857
Both API groups must be included in the role to be able to access them via both the core/v1 and events.k8s.io/... API groups

/remove-kind bug
/kind support
/close

[2020-09-17 18:33] #94857 closed

[2020-09-17 18:44] msau42 commented on #80488
cc @misterikkit @yuga711 have been investigating some dangling attach problems

[2020-09-17 18:48] liggitt commented on #94824
does the API server process actually exit, or is a timeout just being logged?

that logs a stack trace but does not exit the server process.. a timeout panic is caught/logged and terminates serving of that request

[2020-09-17 18:53] tavin commented on #47202
@mattfarina

How, and when, is the adoption of the community solution measured?

[2020-09-17 18:59] #89948 closed

[2020-09-17 19:08] alculquicondor opened #94863 "Graduate DefaultPodTopologySpread to Beta"
kubernetes/enhancements#1258

/sig scheduling

**Why is this needed**:

It allows to replace SelectorSpread plugin with a configurable default for the PodTopologySpread plugin.

This is important not just to reduce maintenance burden, but also because the new plugin provides better spreading, both at node level and bigger topologies. Since the score considers all the pods in the cluster, it is abl

[2020-09-17 19:08] alculquicondor commented on #94863
/assign

[2020-09-17 19:11] alculquicondor commented on #94863
cc @ahg-g @Huang-Wei @wojtek-t @adtac

[2020-09-17 19:19] tallclair commented on #82295
/remove-lifecycle stale

@immutableT - Are you still owning this? I'd like to get it in v1.20.

/milestone v1.20

[2020-09-17 19:22] misterikkit commented on #80488
I was reading the CSI spec earlier this week and realized that the underlying concept is already there. We could implement CSI dangling attach purely in kubernetes using external-attacher and VolumeAttachment.status.

Any driver advertising the `LIST_VOLUMES_PUBLISHED_NODES` capability MUST include attached nodes in the `ListVolumesResponse`. [ref](https://github.com/container-storage-interface/sp

[2020-09-17 19:30] misterikkit commented on #80488
On a different note, @gnufied original comment on this issue is that `VolumeAttachment` may solve this problem. I think that may be true, as long as we add finalizers, etc. in the correct order. The leading cause of dangling attach errors has been when AttachDetachController restarts, losing internal state, or when RPCs to the service provider fail at the client end.

With CSI, the `VolumeAttachme

[2020-09-17 19:35] chrissound opened #94865 "kubectl patch service account not having any effect"
**What happened**:
[code]

**What you expected to happen**:

For `kubectl patch serviceaccount default -p '{"imagepullsecrets": [{"name": "gcp-cr-read-access"}]}` to make the correct change.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2020-09-17 19:39] MHBauer commented on #76951
https://github.com/kubernetes/kubernetes/issues/76951#issuecomment-486465014

Trying to think through this.
With the existing type declarations:

1. Can we compatibly swap out int32 for a resource.Quantity and some code? Or does it require a v2 of the Probe struct?

2. Do we add new optional fields that describe some suitable subdivision of a second (millis, nanos)? Then change some defaulting if

[2020-09-17 19:40] msau42 commented on #80488
@andyzhangx have you been able to root cause why azure hits the dangling attach problem frequently? Is Azure returning success for detach when it's not actually successful?

@misterikkit and @yuga711 found a problem with AD controller where if AD controller restarts after we issue the attach call but before it completes, AND the pod gets deleted in that time, then we will have a dangling attach pr

[2020-09-17 19:49] Huang-Wei commented on #94852
Hold on for a second, I thought the same before. But the actual semantics is to deprecate the metrics on release `X` - `X` = `DeprecatedVersion` + 3. See https://github.com/kubernetes/kubernetes/pull/91385#issuecomment-633337016

[2020-09-17 19:50] chrissound commented on #94865
/sig api-machinery

[2020-09-17 19:50] chrissound commented on #94865
/sig cli

[2020-09-17 20:02] liggitt commented on #76951
no, string values are not backward-compatible with clients expecting int values

An approach that allows 0 into a field that previously defaulted to 1 and validated a minimum value of 1 will be difficult to roll out compatibly. For example:
* an older kubelet that doesn't know about a new fractional field could observe a value of 0 in that field and hotloop
* an n-1 API server that doesn't know ab

[2020-09-17 20:05] ahg-g commented on #94852
Those are alpha metrics, we are free to remove them. We didn't remove them before because we wanted to migrate the metrics used by the scalability tests, which we already did.

[2020-09-17 20:08] fedebongio commented on #94810
/assign @roycaihw

[2020-09-17 20:09] fedebongio commented on #94811
/cc @roycaihw

[2020-09-17 20:10] derekwaynecarr commented on #76951
I appreciate the motivation, but feel there are a number of other areas of potential optimization we could perform to improve pod startup latency in the kubelet->{runtime, network, storage} subsystems that allowing for shorter probe periods may be premature and introduce other unintended vectors of abuse.

[2020-09-17 20:10] fedebongio commented on #94824
/cc @yliaog

[2020-09-17 20:14] fedebongio commented on #94865
let's start with sig-cli, and if it turns out is a problem on our side we will take a look

[2020-09-17 20:15] fedebongio commented on #94831
/sig node
in any case, if needs to be fixed it's going to be hard to make it backward compatible, so copying also the api reviewers label
/api-review

[2020-09-17 20:16] fedebongio commented on #94831
/label api-review

[2020-09-17 20:32] roycaihw commented on #94865
The json path is case-sensitive. Please try use `imagePullSecrets` instead of `imagepullsecrets`

[2020-09-17 21:01] dcbw commented on #46508
I'd love to see what this value would actually be used for, outside of core Kube components and the network plugin itself.

[2020-09-17 21:06] thockin commented on #94273
@KMFtcy is this still an issue?

[2020-09-17 21:08] #93117 closed

[2020-09-17 21:12] moewill commented on #78446
Not a true solution, but helps in the meantime

while true; do
<port-forward command>
done

[2020-09-17 21:14] chrissound commented on #94865
Great that seems to have been the issue after all. Thank you. Perhaps the API should respond with a non success response in the event a value is patched that does not exist?

[2020-09-17 21:30] jayunit100 commented on #94377
feels like an infra issue.

Can you run

[code]

and then run

[code]

from inside a pod?

I suspect you'll see 50% of the requests pass, indicating one of your nodes is messed up.

[2020-09-17 21:33] Riaankl opened #94867 "Write Service Status Life Cycle test - +4 endpoint coverage"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow : [ServiceStatusLifeCycleTest.org](https://github.com/apisnoop/ticket-writing/blob/master/ServiceStatusLiveCycleTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#94867](https://github.com/kubernetes/kubernetes/issues/94867)
-   [X] test pr : [kubernetes/kubernetes/pull/98018](https://github.com/kubernetes/kubernetes/pull/98018)

[2020-09-17 22:02] ben-turner commented on #74878
@Nebulazhang did you figure this out? I'm seeing the same thing on my cluster.

[2020-09-17 22:06] roycaihw commented on #94811
/assign @dramich

[2020-09-17 22:13] roycaihw commented on #94865
The API server silently drops unknown fields to achieve forward compatibility (a new field was added in a newer version, but the server was rolled-back), so I don't think we can change the behavior on server side.

It might be better if kubectl can do a client-side validation and raise an error, and the users can choice to skip client-side validation if they want. But still this behavior change wi

[2020-09-17 22:26] aojea commented on #94794
if coreDNS is not able to reach the upstream server it fails,so you have to configure as an offline environment in order to make it work https://github.com/coredns/coredns/issues/2494#issuecomment-457215452

 check this issue for reference
https://github.com/kubernetes-sigs/kind/issues/1736#issuecomment-660602160

per example, to run the ipv6 jobs in current Kubernetes CI we have to reconfigure Co

[2020-09-17 22:39] Riaankl commented on #90918
Closed in favour of #94867 update Go code to include Context package

[2020-09-17 22:39] #90918 closed

[2020-09-17 22:44] Nit123 commented on #94301
/assign

[2020-09-17 23:16] MHBauer commented on #94493
Maybe they should be marked [serial] or [disruptive]?

[2020-09-17 23:18] thockin commented on #94862
I expect this to be inevitable, but it's not a small change.  Can you start to enumerate the various places this is used?  @satyasm already mitigated the need for it in kub-proxy

[2020-09-17 23:25] thockin commented on #94538
I don't object to moving it out, but I wonder if we should rethink the implementation some?  Specifically, holding the ports open provides some value (though I am not sure how much), but isn't accessible through the CNI plugins (they exit).

I wonder if we can/should do better?

E.g. maybe we need a port-holder-daemon that exists only to read a config directory and open those ports.  Then callers

[2020-09-17 23:26] thockin commented on #94538
Alos, being OK with the idea doesn't make it happen.  Someone still has to do the work,

[2020-09-17 23:42] Nit123 commented on #93649
\assign

[2020-09-17 23:42] Nit123 commented on #88886
\assign

[2020-09-17 23:42] Nit123 commented on #94659
\assign

[2020-09-17 23:51] verult commented on #92237
/remove-lifecycle stale

[2020-09-18 00:08] thockin commented on #94861
I am reading but I don't fully grok what caused the problem in the first place, or why we think "only drop if it was in-cluster" is a correct fix?

[2020-09-18 01:13] wenyingd commented on #94794
I don't think it is coreDNS issue, as the failed cases are about IPv6  traffic inside the cluster, it should not be the same the issue that coreDNS can't reach the upstream server. In my opinion, the issue should be from the testing client container image or the test cases. As it never tries to query IPv6 DNS Record using the name set in the cases, which is already a complete name including the do

[2020-09-18 01:16] dobesv commented on #72944
You can workaround this by installing cert-manager's cainjector and setting the appropriate annotation, it will set the caBundle for you from a TLS secret.

[2020-09-18 01:41] mitar commented on #80346
Thanks. I added it to the meeting agenda for 9/22/2020.

[2020-09-18 02:34] #93651 closed

[2020-09-18 02:48] tengqm commented on #94602
For most of the resource creation requests, the `metadata` field is required. Which means you will either provide `name` or provide a `generateName` to name the resource.
There are some rare cases where `metadata` field is not required even for resource creation.

- a `LimitRange` object without a name/generateName specified will be assigned a name of UUID
- a `TokenReview` doesn't need a `metadat

[2020-09-18 02:52] liggitt commented on #94865
Correct on all counts, the field name is case-sensitive, the API server drops unknown fields, and clients do not validate patches (patch application is done server side)

In the future, we could consider warning server-side on unrecognized fields, but the parsing stacks are not set up well to recognize/preserve that information efficiently while still succeeding

[2020-09-18 02:52] #94865 closed

[2020-09-18 03:09] andyzhangx commented on #80488
@msau42 I am not 100% on the root cause, there could be Azure Resource Provider issue, e.g. detach operation is preempted by other operations; or after a few retry on detach disk, it aborted while pod was removed from the node finally. What's  `AD controller`? do you have the issue link? thanks.

[2020-09-18 03:11] andyzhangx commented on #80488
BTW, I have implemented a simple fix on dangling issue, it triggers detach directly inside Azure Disk CSI driver v0.9.0: https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/499,  it's not a perfect solution, while it basically solves the problem.

[2020-09-18 04:25] lw8008 opened #94874 "Kube-apiserver can't handle pod creation request"
**What happened**:
All of worker nodes was reboot at same time accidently.
after those nodes back, the cluster(master, etcd, worker) is normal and can create any type of resource except pod.

The error message as below:
:~/cindertest> cat pod.yaml
apiVersion: v1
kind: Pod
metadata:
  name: test
  namespace: default
spec:
  containers:
    - name: test
      image: nginx
      ports:
        - cont

[2020-09-18 05:24] #93200 closed

[2020-09-18 06:03] SergeyKanzhelev commented on #93575
Copying from the PR:

I propose to close it - reasoning seems very sound. @howardjohn do you agree? Or you are still looking for better troubleshooting experience?

[2020-09-18 06:34] aojea commented on #94794
Those tests are running in the CI, https://testgrid.k8s.io/conformance-kind#kind%20(IPv6),%20master%20(dev)&include-filter-by-regex=DNS and I'm telling this based on my experience because I had to set them up :smile:

It has to append the suffix, it is how it works, https://man7.org/linux/man-pages/man5/resolv.conf.5.html

it tries using all the suffixes in the `search` field of `/etc/resol.conf`

[2020-09-18 06:47] l0nax commented on #59078
/remove-lifecycle rotten

[2020-09-18 07:11] nayoungson opened #94877 "If calling the 'login' word in metadata.name, an error occurs in calling api."
If calling the 'login' word in metadata.name of any object, an error occurs in calling api.

**spec**
kubernetes v1.17.6

**example - secret**
[code]

[code]

[code]

Pods, Configmaps, ... All Object are the same phenomenon.

Any idea why this is happening?

[2020-09-18 07:19] nayoungson commented on #94877
/sig api

[2020-09-18 07:20] nayoungson commented on #94877
/sig API Machinery

[2020-09-18 07:21] nayoungson commented on #94877
/sig API Expression

[2020-09-18 07:22] nayoungson commented on #94877
/sig api-machinery

[2020-09-18 07:39] tarun9715m commented on #72370
Try to Check the **Kube-flannel.yml** file and also the starting command to create the cluster that is **kubeadm init --pod-network-cidr=10.244.0.0/16** and by default in this file **kube-flannel.yml** you will get the **10.244.0.0/16** IP, so if you want to change the pod-network-CIDR then please change in the file also.

[2020-09-18 07:42] xq2248 opened #94878 "How to make local path of local pv automatically?"
/committee Storage

As follows, lpv-001 can be created even if /home/lpv-001 is not found in the k8s node. But the pod which uses lpv-001 as volumes will report error, as local path /home/lpv-001 is not exits.
The pod can be successfuly created after the /home/lpv-001 is maked manually.
Is there any way to use PV or StorageClass  to make local path  automatically ?

---
kind: StorageClass
apiVersi

[2020-09-18 08:16] knight42 commented on #94877
The correct url should be `https://{ip}/api/v1/namespaces/default/secrets/login`. You could verify it by running `kubectl get secret login -v=6`

Feel free to reopen if this is not the case.

/close

[2020-09-18 08:16] #94877 closed

[2020-09-18 08:17] bboreham commented on #46508
Hopefully it’s clear that my original request was for a network plugin (daemon).

[2020-09-18 08:33] wenyingd commented on #94794
@aojea I agree that appending the suffix is reasonable, but I think the client should try both two cases: adding suffix from /etc/resolv.conf and not adding any suffix.

In the test case, we call this command in the client
`check="$$(dig +notcp +noall +answer +search dns-test-service-2.dns-556.svc.cluster.local AAAA)"`

but when I capture packets from coreDNS, I get these queries
[code]

We expect

[2020-09-18 08:43] BenTheElder commented on #94291
Sure, that will require cross building the build toolset itself, which nobody has taken up yet.

[2020-09-18 08:57] bertinatto opened #94882 "Multivolume test failure: RBD with access mode RWX"
**What happened**:

The following test fails consistently when testing RBD block volmode with RWX access mode (not running in Kubernetes CI):

[code]

Example:
[code]

The reason this fails is because a RBD block (used in different nodes) expects that the application (in this case `dd`) uses direct I/O to access the device. In the failure above, `dd` is reading the bytes from the OS **page cache**

[2020-09-18 08:59] yashvardhan-kukreja commented on #94851
Hi @mukulk2020 .. I reran the YAML u sent, multiple times and it worked perfectly. Can u please retry to do so. The issue you faced might be due to issue while setting up the manifest. If you somehow still have this messy replicaset running on your cluster, the please execute `kubectl get rs rs01 -o yaml` and paste the resulting output here, so that we can dig deeply into exactly what was the issu

[2020-09-18 09:06] mukulk2020 commented on #94851
I agreed you are right ....but follow the same steps that i mention ..first create a niginx pod with same label ...

[2020-09-18 09:10] aojea commented on #94794
can you paste the /etc/resolv.conf from your pods in the test?

[2020-09-18 09:18] yaroze opened #94883 "Network throughput degrading on Debian buster"
**What happened**:
We deployed an 8-node kuberentes cluster with kubespray on debian buster nodes.
After deploying an application, the business started complanining of poor performance and some nodes were having timeouts despite having good computing speeds.

After realizing the issue was related to poor network performance, we started running iperf's between all the machines periodically and noti

[2020-09-18 09:19] wenyingd commented on #94794
Following is the content of configuration file of `/etc/resolve.conf` from the Pod

[code]

[2020-09-18 09:26] aojea commented on #94794
In an IPv6 cluster, the pods only have IPv6 addresses :thinking:
[code]

[2020-09-18 09:33] wenyingd commented on #94794
Sorry, I paste the file content from a dual-stack cluster setup. So the address of nameserver might introduce a confusion.

But I think I got the root cause, it is because the configuration `options ndots:5`. I don't know why it requires 5 dots in the name, but the test case actually only has 4 dots.

@aojea Do you know how to change this option for the cluster but not for every single Pod?

[2020-09-18 09:49] yashvardhan-kukreja commented on #94851
Oh yes, my bad.
So, @mukulk2020 , I did what you said and noticed one thing that on running that command to spin up an nginx pod resulted in the following:
[code]
Clearly, we can see that it got assigned the label `run=nginx`
And clearly in the replicaSet's manifest, you told it to have finally 3 replicas matching the labels `run: nginx`.

So, basically, replicaSet's job is to "maintain" 3 pods (r

[2020-09-18 09:51] aojea commented on #94538
@dcbw does this fits under https://github.com/containernetworking/plugins/tree/master/plugins/meta ?

[2020-09-18 10:05] aojea commented on #94794
I think that the problem is this

IIRC that stops the resolver to keep trying to resolve, you can workaround it adding vmware.com to your coredns, so it handles that zone and does not ask the upstream resolver
can you try with?

[code]

[2020-09-18 10:06] yashvardhan-kukreja commented on #94851
I believe the most unexpected thing here was the nginx pod automatically getting assigned the label "run=nginx" despitew that being NOT necessary, which led to all this confusion.

[2020-09-18 10:09] yaroze commented on #94883
/sig network

[2020-09-18 10:18] andyzhangx opened #94886 "detach azure disk broken on Azure Stack"
**What happened**:
`toBeDetached` flag is not supported on Azure Stack, should switch to use original way to remove a disk from data disk list, refer to https://github.com/Azure/aks-engine/issues/3817#issuecomment-694625490 for more details
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2020-09-18 10:53] wenxinnnnn opened #94887 "Bug of use clinetset patch namespace"
**What happened**:
Initial state:
[code]

Using API patch namespace：
[code]
Results：
[code]
**What you expected to happen**:
The result should be the same as the initial value.

**How to reproduce it (as minimally and precisely as possible)**:
use **k8s.io/apimachinery** v0.18.5

**Environment**:
- Kubernetes version (use `kubectl version`):
Client Version: version.Info{Major:"1", Minor:"16+", Git

[2020-09-18 10:54] wenxinnnnn commented on #94887
/sig API Machinery

[2020-09-18 10:56] wenxinnnnn commented on #94887
/sig sig/api-machinery

[2020-09-18 10:57] wenxinnnnn commented on #94887
/sig/api-machinery

[2020-09-18 10:58] wenxinnnnn commented on #94887
/sig machinery

[2020-09-18 10:58] wojtek-t commented on #94602
Let's ignore the `metadata` for a moment and fix the remaining ones in the Event. We will adjust `metadata` based on @liggitt `s comment later.

[2020-09-18 10:59] wenxinnnnn commented on #94887
/sig api-machinery

[2020-09-18 11:37] zatricky commented on #24913
Perhaps some confusion here ; I came across this error due to trying to edit a pod directly. However, a pod shouldn't be edited. Pods should be managed by a controller (usually a deployment) which would replace the pod with a new one that has the new config. By design it makes sense you shouldn't ever need to edit a pod.

If you *really* want to "edit" a pod, one way is to edit an exported config,

[2020-09-18 12:09] wojtek-t commented on #91767
@loburm  - Has this been fixed by: https://github.com/kubernetes/kubernetes/pull/93781 ?

/remove-lifecycle stale

[2020-09-18 12:45] nikals99 opened #94889 "MutatingWebhookConfiguration with service on port 8443 ends in no such host"
**What happened**:
We tried to register a MutatingWebhookConfiguration with a service running on port 8443. When configured with port 8443 the API-Server fails to resolve the ip of the service:

`W0917 13:36:17.018778 1 dispatcher.go:168] Failed calling webhook, failing open pod-node-selector.k8s.io: failed calling webhook "pod-node-selector.k8s.io": Post https://pod-node-selector.ops.svc:8443/mut

[2020-09-18 12:57] rikatz commented on #94883
Well this seems mostly related to the OS than to Kubernetes, a few points of attention:

* flannel 0.3.1 is really really old. As flannel makes some improvements over the time, why not using the latest release?
* flannel uses vxlan. Maybe the difference between kernel/default configurations in CentOS and Debian can get some impact. Do you have any dmesg log?
* PTAL: https://kb.vmware.com/s/article

[2020-09-18 13:12] nodo commented on #94275
@apelisse I tried to run again the steps to reproduce the bug with the change in #94815, here is the result:

[code]

Without `--force-conflicts=true` it returns an error:

[code]
I haven't started investigating yet and I don't have much context on this topic, but it makes sense to me.

[2020-09-18 13:36] Med-All commented on #94377
Yeah, it came up `kube-dns` had a problem with CoreDNS on one node (no clue why) but taking out that node solved the problem.

[2020-09-18 13:36] #94377 closed

[2020-09-18 13:41] chrislovecnm commented on #81089
@saad-ali and @xing-yang is this feature on your folk's radar at all?  This has been open for a while and not addressed.  I will see if I can make the next sig-storage.

[2020-09-18 13:56] BorjaEst opened #94892 "Redirect container stdout / stderr to file"
**What would you like to be added**:
Configuration field to redirect container stdout/stderr to a file, for example:
[code]
See [How to access from one container to another container stdout and stderr inside Kubernetes pod](https://stackoverflow.com/questions/57075546/how-to-access-from-one-container-to-another-container-stdout-and-stderr-inside-k)

**Why is this needed**:
Some applications (speci

[2020-09-18 14:24] chrisohaver commented on #94794
@aojea , adding the domain to the kubernetes plugin would add kubernetes service names to the vmware.com domain (i.e. treating vmware.com as if it is an alternate cluster domain name). If the intent is to trap all vmware.com requests and return NXDOMAIN (so clients continue searching), then the following is cleaner ...

[code]

[2020-09-18 14:30] wojtek-t commented on #90652
@gongguan - can you please address https://github.com/kubernetes/kubernetes/pull/94846#discussion_r490974724 ?

[2020-09-18 14:32] aojea commented on #94794
lovely :+1: , next time I will ask you first before coming up with my  hacky solutions :sweat_smile:

[2020-09-18 14:35] aojea commented on #94794
@chrisohaver how can I express ALL but kubernetes return NXDOMAIN?
/cc @BenTheElder

[2020-09-18 14:48] yashvardhan-kukreja commented on #94849
@neolit123 please correct me if I am wrong here.
I read in the kubernetes documentation that replicaset (basically) identifies replicas/pods on the basis of the labels only.
And I belive due to this, @mukulk2020  is facing this concern.

Although the pod corresponding to nginx:1.15 and pod corresponding to nginx:latest are different but still they are marked with the same labels which is `app: ngi

[2020-09-18 15:07] chrisohaver commented on #94794
Stepping back a bit, it's probably cleaner over all, to remove `eng.vmware.com` from the search domains by pointing kubelet at a copy of the host's resolv.conf with search the domains removed. That way, pods would just get the standard cluster search domains with no local domains injected.

nevertheless...

There isn't a clean way to do that ... that I can think of ATM.  Instead of forwarding to /

[2020-09-18 15:13] loburm commented on #91767
Yes, it was.

[2020-09-18 15:13] #91767 closed

[2020-09-18 15:20] jfrederickson commented on #92587
Was able to reproduce on a fresh install, It looks like the package metadata for the most recent 1.13 debian package (`1.13.5-00`) has a strict dependency on exactly 0.7.5 of `kubernetes-cni`:

[code]

However, the available `kubernetes-cni` packages all have [debian_revision components](https://www.debian.org/doc/debian-policy/ch-controlfields.html#version):

[code]

I suspect the other version c

[2020-09-18 15:45] vetal2504 commented on #48798
In my case when i am init kubernetes master i have had this issue. After delete all data in etcd the process init was successful
systemctl stop etcd - on all etcd nodes
rm -rf /var/lib/etcd/*
systemctl daemon-reload && systemctl enable etcd && systemctl start

[2020-09-18 16:17] alfredopalhares commented on #94883
This is related to: https://github.com/kubernetes-sigs/kubespray/issues/6706

[2020-09-18 16:30] arghya88 commented on #94659
@ahg-g is there any existing metrics which is similar to this?

[2020-09-18 16:41] rikatz commented on #94883
ok, I'll put a needs information issue and as soon as you have more information please post them here.

Also, remembering that after 14 days I'll issue a warning about the need of information, and after more 14 days I'll close the issue due to lack of information but please feel free to reach by

/triage needs-information

[2020-09-18 16:41] apelisse commented on #94275
We only ignore field transfer between SSA and CSA when the values haven't changed, but they do here because of the canonicalization of quantity. This is a very hard bug to fix, not sure we'll ever be able to solve it. Same as before, apply the canonicalized form to remove the bug.

[2020-09-18 17:15] liggitt commented on #94602
if server-side validation fails a write that does not contain metadata, then marking it optional doesn't make much sense, I agree

[2020-09-18 17:48] grosser opened #94898 "container has runAsNonRoot and image will run as root warning should include container name"
when deploying a container that has runAsNonRoot but runs as root this error appears, but for pods with lots of containers it can be confusing which container failed, especially if there are 3-rd party webhooks that inject containers
please add the container name to the message, making it `container "foo" has runAsNonRoot and image will run as root`

[2020-09-18 17:53] grosser commented on #94898
/sig api-machinery

[2020-09-18 19:22] #90340 closed

[2020-09-18 19:30] spiffxp opened #94900 "Update test/integration to use the term "Control Plane""
There are a number of tests that can probably updated to refer to a "control plane" or a "primary" instead of a "master".

Some of these updates can be done outright (variable names, comments), while others may require more refactoring.

It would probably be a good idea to start with the test/integration/framework package, and work outwards from there.
[code]

Full list of files in test/integratio

[2020-09-18 19:32] spiffxp commented on #94900
/area test

[2020-09-18 19:34] cnmcavoy commented on #94861
@thockin I can try to give a bit more context to our setup, but the knowledge I have around this all dates back to Feb, unfortuately, so I may have forgotten details.

We were replacing our mesos cluster with a kubernetes cluster in Feb and using a custom ingress solution (HAProxy w/an outside process configuring it for pod ips / mesos ip-ports) for both. The ingress nodes lived in the private sub

[2020-09-18 19:42] spiffxp opened #94901 "Update test/e2e/framework to use the term "Control Plane""
There are a number of variable and functions that can outright be renamed to refer to "control plane" instead of "master".  There are also some flags which should be deprecated (and corresponding changes made in jobs)

[code]

/kind cleanup
/wg naming
/sig testing
/area test

[2020-09-18 19:58] erain commented on #92731
Discussed with @serathius and it looks like we do not depend on or need those tests.

Is there anyone depend / need those tests and want to be the new owner for them? If not, I propose that we should delete them since they are unmaintained.

[2020-09-18 19:59] msau42 commented on #80488
In these scenarios, the csi driver shouldn't return success until it's been actually confirmed by the cloud control plane right? Or if we call detach on a disk that's already detached, then the driver should also return success.

AD controller = Attach Detach controller.
@misterikkit @yuga711 do you want to open an issue for the race you found?

For these dangling attach scenarios, it would be goo

[2020-09-18 20:42] spiffxp commented on #94900
/remove-triage unresolved

[2020-09-18 21:13] kubealex commented on #94750
Confirm, it was related to cri-o reference.
Closed the related issue, tested with cri-o 1.19 release, thank you.

[2020-09-18 21:13] #94750 closed

[2020-09-18 21:32] vinayakankugoyal commented on #94487
Any update on this? I don't see that this has been assigned to any one. PR #93455 has been blocked on this for 15 days.

[2020-09-18 21:47] thockin commented on #92889
Hi @sethev - I pinged the PR (#92979) also.  Is this something you still want to pursue?

[2020-09-18 22:10] DirectXMan12 opened #94906 "It seems to be impossible to safely stop a Event Recorder without invoking a race condition"
The standard event recorder, when recording an event, calls the underlying Broadcaster in a goroutine, so that even recording is non-blocking.  Things like leader election emit events over the course of their lifecycle via this broadcaster.

Consider the following scenario:

* GR1: spawn leader election --> `go leaderElection.Start(leStop)` --> GR2
* GR2: Leader election: emit event "Lease Acquire

[2020-09-18 22:12] DirectXMan12 commented on #94906
/sig api-machinery
/kind bug

[2020-09-18 22:15] DirectXMan12 commented on #94906
<details>

<summary>relevant race detector output/stack traces</summary>

[code]

</details>

[2020-09-18 22:16] grosser opened #94907 "Exempt requests should still count into flowcontrol so other requests get pushed out"
We saw our api servers falling over because excempt + regular requests put too much load onto them, it would be great if excempt requests would still count into flowcontrol so that regular requests get throttled and the overall max-requests-in-flight is honored. Because otherwise it's "infinite excempt requests + in-flight" which is hard to configure right.

/sig api-machinery

[2020-09-18 22:25] #90217 closed

[2020-09-18 22:56] thockin commented on #88253
Hi @Ark-kun.  If I understand you properly you're raising a different issue (or "same shape, different context").

Re-reading this bug, I find myself somewhat more sympathetic to it.  I'm going to spend some more time thinking about it.

[2020-09-18 23:19] thockin commented on #88253
https://groups.google.com/g/kubernetes-sig-architecture/c/RB7yl8nJPk0

[2020-09-18 23:28] thockin commented on #83628
I'm sorry I just don't think we have enough demand for this additional complexity right now.

[2020-09-18 23:28] #83628 closed

[2020-09-18 23:33] rikatz commented on #88253
xref of future proposal: https://github.com/jayunit100/network-policy-subproject/blob/master/stories/name_as_policy_target.md

@jayunit100 @abhiraut

[2020-09-19 00:50] neolit123 commented on #94889
/sig api-machinery

[2020-09-19 01:00] neolit123 commented on #94874
/sig api-machinery

hi, this is very odd...

- are you sure pods are the only object type that cannot be created?
- can you show from the logs of the api-server that this POST request is reaching?
- do you have anything running in the cluster like an admission controller that may be blocking this?

[2020-09-19 01:20] wawa0210 commented on #94898
/assign

I can try this fix

[2020-09-19 01:28] #90255 closed

[2020-09-19 01:38] #94720 closed

[2020-09-19 01:47] krmayankk commented on #72253
- Verified that RunAsGroup tests are running for containerd in k/k as per logs [here](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/94641/pull-kubernetes-e2e-gce-ubuntu-containerd/1304635954148937729/#1:build-log.txt%3A55564)
- I see some backporting here for RunAsGroup in cri-o https://github.com/cri-o/cri-o/pull/4115
-
@kolyshkin i see some flags  set but cannot find where RunAsGr

[2020-09-19 01:47] krmayankk commented on #72253
/remove-lifecycle rotten

[2020-09-19 02:02] wawa0210 commented on #94898
I just submitted a pr, can you review it for me, is it as you expected?

[2020-09-19 02:31] booleanbetrayal commented on #91425
Agree that this is a confusing message. Could probably use some love. First-round search indexing brought me here.

[2020-09-19 04:01] yuga711 opened #94912 "Pod recreation gets stuck due to dangling attach"
**What happened**:
New pod creation gets stuck in `"Container creating"`

**What you expected to happen**:
Pod recreation should have succeeded.

**How to reproduce it (as minimally and precisely as possible)**:
1. Deploy a statefulset application
2. While the pod creation is in-progress, restart kube-controller-manager and delete the pod
3. New pod creation gets stuck in `"Container creating"`
4.

[2020-09-19 04:02] yuga711 commented on #94912
/sig storage
cc @msau42 @misterikkit

[2020-09-19 04:05] yuga711 commented on #80488
Created the [bug](https://github.com/kubernetes/kubernetes/issues/94912).

[2020-09-19 05:10] grosser commented on #94898
thx, looks good!

[2020-09-19 06:23] tiny1990 commented on #90084
LGTM

[2020-09-19 08:05] arghya88 commented on #94659
@ahg-g I can work on it

[2020-09-19 09:39] smileusd opened #94913 "systemd-run will hang and timeout when numbers of pods and volumes schedule on the node"
/sig storage
/kind bug
**What happened**:
Our pods will stay creating or slow to running when lots of pods and volume scheduled on one node.
At this time visited systemd will return timeout or full queue:
[code]

[code]
**What you expected to happen**:
Systemd run well and pod could be running stablely
**How to reproduce it (as minimally and precisely as possible)**:
Create the deployment schedule

[2020-09-19 09:45] smileusd commented on #94913
@jsafrane  I see the reason of using systemd-run to mount is because ceph-fuse and glusterfs will use daemon and easy to lost when kubelet down [Run mount in its own systemd scope](https://github.com/kubernetes/kubernetes/pull/49640). But cephfs fuse not use this systemd mount https://github.com/kubernetes/kubernetes/blob/323f34858de18b862d43c40b2cced65ad8e24052/pkg/volume/cephfs/cephfs.go#L340 an

[2020-09-19 09:52] smileusd commented on #94913
/sig storage

[2020-09-19 10:04] Lion-Wei opened #94914 "kube-proxy cleanup not work"
**What happened**:

Currently kube-proxy cleanup not work, which will left iptables (and ipvs) rules in host and.

[code]

**What you expected to happen**:

Kube-proxy cleanup can work and not relay on hostName or ClientConnection config.

**How to reproduce it (as minimally and precisely as possible)**:

`kube-proxy --cleanup`

[2020-09-19 10:04] Lion-Wei commented on #94914
/sig network
/assign

[2020-09-19 12:19] pohly commented on #89064
/cc

[2020-09-19 12:39] zsaurabhsabharwal commented on #65973
/remove-lifecycle stale

[2020-09-19 14:01] micnncim opened #94917 "Support namespace printing option to NamePrinter"
**What would you like to be added**:

I'd like to add an option to [`k8s.io/cli-runtime/pkg/printers.NamePrinter`](https://github.com/kubernetes/kubernetes/blob/085beca6e137c13495996d82a2f8082fd378c85f/staging/src/k8s.io/cli-runtime/pkg/printers/name.go#L32-L41) in order to put namespace prefixes.

The output of the current [`NamePrinter.PrintObj`](https://github.com/kubernetes/kubernetes/blob/085

[2020-09-19 14:03] micnncim commented on #94917
/sig cli

[2020-09-19 14:15] errordeveloper commented on #25533
Which other issue are you referring to?

On Thu, 17 Sep 2020, 12:26 pm jay vyas, <notifications@github.com> wrote:

[2020-09-19 14:21] nojvek commented on #28167
Is this something the kubernetes authors are interested in accepting. I'd be interested to land a PR for this if someone is able to guide me.

I assume the logs endpoint needs to take a flag and pipe this down all the way to the place that's getting the logs from the various containers.

[2020-09-19 15:20] knabben opened #94918 "PreStop e2e node marked as flaky"
**Which jobs are flaking**:

ci-cri-containerd-e2e-gci-gce-flaky

**Which test(s) are flaking**:

[code]

**Testgrid link**:

https://testgrid.k8s.io/sig-node-containerd#e2e-gci-flaky

**Reason for failure**:

The intent is to test, the following documented behavior:

[code]

A *time.Sleep* is used to hold the graceful period, after that a wait.Poll is used to check if the pod still exists, in som

[2020-09-19 15:21] knabben commented on #94918
/sig node

[2020-09-19 15:42] #90065 closed

[2020-09-19 17:01] micnncim opened #94920 "Change KubernetesClientSet return value of kubectl Factory from Clientset to Interface"
**What would you like to be added**:

I'd like to change the return value [`k8s.io/kubectl/pkg/cmd/util.Factory.KubernetesClientSet()`](https://github.com/kubernetes/kubernetes/blob/e2a7bd53189b1b5c52efac0570aaefc87a5ec04b/staging/src/k8s.io/kubectl/pkg/cmd/util/factory.go#L47) from `*kubernetes.Clientset` to `kubernetes.Interface`.

The current one:

[code]

The one I'm proposing:

[code]

**Why

[2020-09-19 17:01] micnncim commented on #94920
/sig cli

[2020-09-19 17:37] rkojedzinszky opened #94921 "Job.Status.Failed updated inconsistently"
**What happened**:

Created a Job with an non-existent image. After deadline, Job.Status.Conditions is updated with a failed entry, however, Job.Status.Failed is not always set to `1`.

**What you expected to happen**:

I expect to consistently receive `failed: 1` in Job.Status.

**How to reproduce it (as minimally and precisely as possible)**:

Just create a Job like this:
[code]

And wait for it

[2020-09-19 17:39] rkojedzinszky commented on #94921
/sig api-machinery

[2020-09-19 21:24] mokua commented on #33766
This is also a problem when using terraform.

Removed the type = LoadBalancer , then applied the change and got:

Service "xxx" is invalid: spec.ports[0].nodePort: Forbidden: may not be used when `type` is 'ClusterIP'

[2020-09-19 21:48] kevtheappdev commented on #94892
Hi! I'm interested in working on this along with some colleagues of mine as part of a course on Virtualiztion at UT Austin. Can we work on this issue? Thanks!

[2020-09-19 22:12] dims commented on #94892
@kevtheappdev please go ahead

[2020-09-19 22:34] knabben commented on #94918
/area test

[2020-09-19 23:42] dims commented on #28167
/cc

long-term-issue (note to self)

[2020-09-20 00:08] cheyang commented on #94826
Kubelet doesn't have to access to  the hostpath of mount point, we just need to set

[code]

And the uid 1000 has the permission to mount the volume to containers.

[2020-09-20 00:32] #94346 closed

[2020-09-20 03:54] #83590 closed

[2020-09-20 04:10] gzlj commented on #94019
It's OK. Thank you.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "kubernetes/kubernetes"                                                                                    <notifications@github.com&gt;;
发送时间:&nbsp;2020年9月14日(星期一) 上午6:23
收件人:&nbsp;"kubernetes/kubernet

[2020-09-20 11:57] denissabramovs commented on #17512
Whoa, what a huge thread and still no proper solution from kubernetes team to properly calculate current overall cpu usage of a whole cluster?

[2020-09-20 12:02] #90398 closed

[2020-09-20 12:02] #85389 closed

[2020-09-20 12:02] #90399 closed

[2020-09-20 12:32] ialidzhikov commented on #94019
I also created cherry-pick for `release-1.17` - ref https://github.com/kubernetes/kubernetes/pull/94923.

[2020-09-20 14:08] liggitt commented on #94826
Verifications the kubelet does to ensure unsafe symlinks are not followed and only supported types of files/directories/devices are mounted require the kubelet to have access to the item

[2020-09-20 16:01] everpeace commented on #86373
/remove-lifecycle stale

[2020-09-20 16:52] Dysproz commented on #64623
Based on solution that I've came up for [contrail-operator](https://github.com/Juniper/contrail-operator) project, I've created separate project with custom resource DaemonJob that should cover that problem: [DaemonJob](https://github.com/Dysproz/DaemonJob)

[2020-09-20 18:15] rikatz commented on #94900
@spiffxp I can do some of those, or maybe map the easy ones and propose them as good first issue, wdyt?

[2020-09-20 18:32] aojea commented on #94538
I was checking at the different alternatives, and at first sight this seems the easier option and I find very useful to being able to use the iptables code from kubernetes from staging.

If we agree on a name for the new repo, I can start the process,

https://github.com/kubernetes/network-utils
https://github.com/kubernetes/network
https://github.com/kubernetes/networking
... ?

[2020-09-20 18:39] rkojedzinszky commented on #94921
I found that in the abnormal case, the Job receives two updates, as kubectl get -w illustrates:
[code]

Basically, it receives an update with correct status, and immediately it receives another update with `Failed` field removed (i.e. set to 0).

Hope this helps.

Richard

[2020-09-20 19:08] lippertmarkus opened #94924 "Windows: Flannel CNI doesn't seem to work with ContainerD"
**What happened**: When joining a Windows node with ContainerD and Flannel successfully installed, I get the following error when trying to run workloads:
[code]
Flannel doesn't seem to really watch new subnet leases although the log states it and it doesn't create HNS endpoints.

**What you expected to happen**: Flannel should create HNS endpoints when workloads are scheduled

**How to reproduce

[2020-09-20 19:08] lippertmarkus commented on #94924
/sig windows

[2020-09-20 21:18] tijldullers commented on #80897
Does not work on Kubernetes v1.17. (externalTrafficPolicy: Cluster instead of Local does ''solve'' the issue but with the indicated side effects. Looking forward to a structural solution.

[2020-09-20 22:12] #90361 closed

[2020-09-20 22:12] #85750 closed

[2020-09-21 01:23] scolbeck commented on #89898
We had this same problem that ended up being due to our pod consuming more CPU than allowed by the pod's resources limits cpu.  It seemed this prevented networking in general to be blocked to the pod during the high CPU time.

[2020-09-21 02:29] #92368 closed

[2020-09-21 02:54] wenyingd commented on #94794
@chrisohaver I tried your suggested configmap in coreDNS, but I got erros like
`/etc/coredns/Corefile:22 - Error during parsing: Unknown directive 'vmware.com:53'`

And the Pods "coredns" fail to run.

[2020-09-21 03:34] chinazj commented on #60807
Please do not use `modify finalize` to delete namespace. That will cause an error

![image](https://user-images.githubusercontent.com/15140157/93731146-5dab6500-fbfe-11ea-9252-81d3a78e0ba5.png)

[2020-09-21 03:37] wenyingd commented on #94794
@chrisohaver @aojea Thanks for the suggestions. I tried to add this configuration in configmap "coredns", and it works.
[code]
I have another question,"eng.vmware.com" is actually an internal upstreaming DNS nameserver for my testbed, and it only works for IPv4 traffic. For an IPv6 only setup, we could enforce the query to this nameserver to return NXDOMAIN (not server fault ). But for a dual-stac

[2020-09-21 05:10] arghya88 commented on #94659
/assign

[2020-09-21 05:13] arghya88 commented on #94659
@ahg-g So histogram of how many pods have PriorityClassName mentioned in the pod spec is what is needed?

[2020-09-21 06:00] ajouve commented on #90145
@ajouve Yes worked now after multiple retries
Thanks

[2020-09-21 06:20] krmayankk commented on #71358
does this issue of conntrack entry not expiring by default apply only to ipvs mode. Is it not applicable to iptables mode of kube-proxy ?

[2020-09-21 06:21] Tej-Singh-Rana commented on #94761
Any alternative to read the new ingress explanation details from the **kubectl explain command**. With the `kubectl explain ingresses` . It's showing old ingress details. But I need to see details from the apiVersion: networking.k8s.io/v1.
I tried with the `kubectl explain ingresses.v1.networking.k8s.io`, `kubectl explain ingresses.networking.k8s.io` but not getting expected results.
Any clue for

[2020-09-21 06:36] #94839 closed

[2020-09-21 06:42] lw8008 commented on #94874
Yes, it's really odd.
After reboot several times it works now. thanks.

[2020-09-21 06:42] #94874 closed

[2020-09-21 07:38] krmayankk commented on #94889
Why is it odd the API server is trying to resolve the dns name @nikals99 ?

[2020-09-21 07:42] krmayankk commented on #94892
Is this a common enough use case ?
@kevtheappdev  can you confirm that in your use case, your dont have access to the containers code where you can redirect file io ?

[2020-09-21 07:46] krmayankk commented on #94862
/remove-triage unresolved

[2020-09-21 07:47] krmayankk commented on #94921
/sig apps
/remove-sig api-machinery

[2020-09-21 07:55] krmayankk commented on #94898
/remove-sig api-machiner
/sig node
/area kubelet

[2020-09-21 07:56] krmayankk commented on #94898
/remove-sig api-machinery

[2020-09-21 08:02] krmayankk commented on #94851
working as designed . thanks @yashvardhan-kukreja for helping out on this issue
@mukulk2020 closing this since as per explanation. K8s is a declarative api based system and is working as designed. If you still dont feel satisfied, please put your comments and we will try to address it
/close

[2020-09-21 08:02] #94851 closed

[2020-09-21 08:08] nikals99 commented on #94889
When port 8443 is used API server tries to resolve the `pod-node-selector.ops.svc` DNS-Record which is part of the in cluster DNS. If I understood it correctly API server is not able to resolve records in that way. Which would explain the error message shown.

If port 443 is used api server is able to resolve the service-IP. If this is by calling DNS or in any other way I don't know.

[2020-09-21 08:27] tanrobotix opened #94926 "kubectl describe node does not show number of GPU under Capacity field"
**What happened**:

I have an K8s GPU cluster with 9 nodes have 2 Nvidia GPUs, but when I exec kubectl describe node. There is only 4 nodes have GPU available
That's lead to I cannot allocate application into the GPU node

[code]

**What you expected to happen**:

*kubectl describe node* . Number of GPU must show under Capacity field

**Anything else we need to know?**:

**Environment**:
[code]

-

[2020-09-21 08:27] tanrobotix commented on #94926
/sig cli

[2020-09-21 08:41] rdxmb opened #94927 "bash completion for `kubectl exec POD -c`"
**What would you like to be added**:

Bash-completion for `kubectl exec POD -c` into a specific container. Actually, choosing the container with bash_completion works with `kubectl logs`, but not with `exec`.

Let's make an example:

[code]

BUT

[code]

**Why is this needed**:

Because it is missing :)

[2020-09-21 08:42] rdxmb commented on #94927
/sig cli

[2020-09-21 09:07] Xunzhuo opened #94928 "Why don't you expel Daemonset pod ?"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-09-21 09:07] #94928 closed

[2020-09-21 09:46] jsafrane opened #94929 "Filesystem resize is required after snapshot restore / volume clone"
Kubernetes should resize filesystem on a volume when it's created as a clone of a smaller volume / smaller snapshot is restored into it.

Example:
1. User takes a snapshot of 1 GiB volume with ext3 filesystem on it.
2. User restores the snapshot into 2 GiB volume.
    2.1 CSI driver restores the snapshot into a bigger volume, but ext3 filesystem still uses only 1 GiB of space.
3. CSI driver should

[2020-09-21 09:47] jsafrane commented on #94929
/assign
/sig storage
/priority important-soon

[2020-09-21 10:13] lbernail commented on #71358
@krmayankk This issue is specific to the IPVS conntrack (issues from the regular conntrack are shared between IPVS and iptables) because the default timeouts are very high. If you are impacted, #85517 implements a way to shorten the timeouts (we run with much lower UDP timeouts in particular)

[2020-09-21 10:56] xiaopeng-han commented on #94901
can we get some test from it，this issue is contained of too many test ?

[2020-09-21 11:44] bavarianbidi commented on #53023
from my understanding, PR #83455 solved the issue and we didn't seen it since we updated to 1.18 four weeks ago.

[2020-09-21 11:44] humblec commented on #94929
True, considering the CSI spec allows restore to a bigger size volume, we should have the support from CO.

[2020-09-21 11:51] ScrapCodes opened #94931 "[Flaky Test][k8s.io] [sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]"
**Which jobs are flaking**:
ci-kubernetes-gce-conformance-latest # 1307672633537466368
conformance-ga-only

kind-master-parallel

**Which test(s) are flaking**:
[k8s.io] [sig-node] NoExecuteTaintManager Multiple Pods [Serial] evicts pods with minTolerationSeconds [Disruptive] [Conformance]

**Testgrid link**:
https://testgrid.k8s.io/conformance-all#Conformance%20-%20GCE%20-%20master
https://testgr

[2020-09-21 11:51] ScrapCodes commented on #94931
/sig node

[2020-09-21 12:00] yylt opened #94932 "kube-controller-manager pod CrashLoopBackOff by `address alerady in use`"
**What happened**:
kube-controller-manager pod crashloopbackoff because address alerady in use

containerd log:

[code]

kubelet log:

[code]

in containerd log, it is successed when create controller-manager  attempt 0, but create again, it is right?
[code]

**What you expected to happen**:
kube-controller-manager pod running

**How to reproduce it (as minimally and precisely as possible)**:
[cod

[2020-09-21 12:02] yylt commented on #94932
/sig node

[2020-09-21 12:02] lala123912 commented on #92402
I'm a new contributor, may I have a try?

[2020-09-21 12:13] jsafrane commented on #94929
This is hard, Kubernets PV controller overwrites `PVC.Status.Capacity` on binding.
https://github.com/kubernetes/kubernetes/blob/8422044f1746354393ea5b617e2bde5c24c0f829/pkg/controller/volume/persistentvolume/pv_controller.go#L771-L784

Therefore the external-provisioner cannot create PVC as "marked for resize on node", i.e. with `PVC.Spec.Capacity` = `PV.Spec.Capacity` = the real size of the new

[2020-09-21 13:18] dims commented on #92402
@lala123912 please do

[2020-09-21 13:36] lala123912 commented on #92402
/assign

[2020-09-21 14:00] hickeyma opened #94933 "Warning message for deprecated APIs for some resources show incorrect Kubernetes version"
**What happened**:

When calling API https://github.com/kubernetes/apiserver/blob/master/pkg/endpoints/deprecation/deprecation.go#L101, it returns incorrect message for some resources. For example:

[code]

The above API is defined in https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/extensions/v1beta1/types.go#L80. It would seem that other deprecated and removed versions

[2020-09-21 14:06] hickeyma commented on #94933
/sig @kubernetes/sig-apps-misc @kubernetes/sig-api-machinery-misc

[2020-09-21 14:06] alculquicondor commented on #92170
@zhouya0 could you send a PR to website to clarify this case?

[2020-09-21 14:11] liggitt commented on #94933
that message is actually correct... that stopped being served by default in 1.16 but was completely disabled in 1.18+

for reference:
* https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.16.md#deprecations-and-removals

* https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#kube-apiserver-1

also, for that one, it's a bit academic, since the warn

[2020-09-21 14:27] soltysh commented on #73613
/reopen
/remove-lifecycle rotten
This looks still like an issue with kubectl.

[2020-09-21 14:28] #74359 closed

[2020-09-21 14:32] alculquicondor commented on #90402
@fengzixu do you still want to take this?

We should move the logic to the staging repository #92507

[2020-09-21 14:32] alculquicondor commented on #90402
/remove-lifecycle rotten

[2020-09-21 14:33] hickeyma commented on #94933
It may have become disabled in 1.18 but in 1.16 you are unable to use the resource again. In Helm, we have users that deploy objects in a Kubernetes version when they are still valid. The user may one day upgrade the Kubernetes version which now makes the object invalid or removed.

Helm provides linting capability to help users identify and potential issues with their charts. It is run client sid

[2020-09-21 14:36] joejulian commented on #94933
Maybe I'm misreading the goal, but isn't the intent of https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1693-warnings to report when the resource is/will-be no longer served?

[2020-09-21 14:39] liggitt commented on #94933
That depends on the configuration of the cluster the client is speaking to... administrators have the option to re-enable the deprecated APIs until 1.18.

Yes, and 1.18+ is when the resource will definitely no longer be served. In 1.16 and 1.17, it could still be served if the cluster admin explicitly enabled those resources.

We didn't think that hard about whether to indicate 1.16 or 1.18 as the

[2020-09-21 14:47] joejulian commented on #94933
If you warn a user that something's going to be removed in 1.22 and it stops working in 1.20 (even though they can re-enable it through flags) that's a surprise to the user that leads to a bad experience.

Any thoughts on how to address that UX concern?

[2020-09-21 14:48] hickeyma commented on #94933
If you look at it this way, not everyone updates to the latest version of Kubernetes and when users do they do usually in their own timeframes.

Some users may have been unaware of the deprecation and removal of APIs until 1.16 when there was a big change. I would think most users are also using the default cluster set-up and not the extension period for a removed API.

[2020-09-21 14:48] joejulian commented on #94933
Cross posted:

I agree and think this would handle my UX concern.

[2020-09-21 15:16] sfudeus commented on #39198
/reopen

[2020-09-21 15:18] liggitt commented on #94761
`kubectl explain` predated a lot of the generic resource parsing logic, so it has a dedicated `--api-version` flag

This should do what you want:
[code]

[2020-09-21 15:21] sfudeus commented on #39198
To my knowledge, this issue is still valid and makes it hard to consume those metrics. Most likely it would be feasible to always filter on interface="eth0" when consuming those, but emitting those is not really useful in the first place.
I have one example where a query for `container_network_receive_bytes_total{pod_name="calico-node-hqnpj"}` does emit 22 metrics (i.e. 4 host interfaces, a tunnel

[2020-09-21 15:40] BorntraegerMarc commented on #90077
I'm a bit confused. Doesn't [this official site](https://kubernetes.io/docs/concepts/services-networking/ingress/) say that we should use `networking.k8s.io/v1`?

[2020-09-21 15:41] liggitt commented on #90077
networking.k8s.io/v1 is availble in Kubernetes v1.19+

[2020-09-21 15:43] Tej-Singh-Rana commented on #94761
Might be the reason, I am performing this in the k8s v1.18. Right now I tried in the v1.19. It worked.
Thanks. Sometimes I can't help it.

[2020-09-21 15:44] liggitt commented on #94487
@zshihang is working on parts of this (xref https://github.com/kubernetes/kubernetes/pull/94835)

[2020-09-21 15:56] #94759 closed

[2020-09-21 15:57] liggitt commented on #94889
How is your API server configured? The `--enable-aggregator-routing` flag determines whether DNS is used to resolve services for webhooks:
* `--enable-aggregator-routing=true`: use Endpoints to resolve backing IPs for a service
* `--enable-aggregator-routing=false` (default): use DNS lookups to resolve services

[2020-09-21 16:06] neolit123 commented on #94932
/remove-kind bug
/remove-sig node
/triage support

if the address is already in use then there is an instance of the KCM running. you could use the `ps` command to find it and terminate it.

please try the support channels instead of logging the ticket here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-09-21 16:09] jsafrane commented on #94929
Talked to @gnufied:

* The external-provisioner could mark `PVC.Status` for resize on node:
  * Set `PVC.Status.Capacity` to the original volume size.
  * Add `FileSystemResizePending` condition to the PVC.
  * The extenal-provisioner needs to modify `PVC.Status`, which needs new RBAC and is a breaking change.
* The PV controller could respect `PVC.Status.Capacity`, if set.

We discussed and rejec

[2020-09-21 16:10] neolit123 commented on #94924
hi,

this seems to be an issue for https://github.com/coreos/flannel

this repository is about problems in core k8s. you could try logging the ticket in https://github.com/kubernetes-sigs/sig-windows-tools too where flannel is used for kubeadm setup. #sig-windows on k8s slack is where the maintainers of that repository hang out.

thanks
/close

[2020-09-21 16:11] #94924 closed

[2020-09-21 16:15] thockin commented on #94538
Nat at all confusingly, we have https://github.com/kubernetes/utils/tree/master/net which already includes `ebtables`.  I feel like we should either go all-in on that repo or find a way to break at least ebtables out further.

[2020-09-21 16:21] thockin commented on #94538
Both iptables and conntrack depend on "k8s.io/utils/..."

We can break the dep on api v1 by just defining our own protocol enum (or even just string).

If we don't want to put iptables and conntrack into "k8s.io/utils/net", maybe we can make a new repo, depend on utils, and define ebtables in there as aliases (and document the new canonical import path).  Yay, compat.  That seems more complex than

[2020-09-21 16:45] alejandrox1 commented on #83834
/remove-lifecycle stale
/cc @kubernetes/sig-scheduling-bugs @kubernetes/sig-scheduling-feature-requests
ptal

[2020-09-21 17:00] mehdihadeli opened #94940 "What is IP ADDRESS in ingress object and What's the use of this ADDRESS?"
Hi,
I use kubernetes with traefik ingress controller, also I use MetalLB as a load balancer for my bare metal kubernetes , when I create an ingress controller for traefik dashboard, it takes an auto-assign load balancer IP address for ingress. this IP 172.17.85.200 looks like an external IP, but I can't access it as a load balancer address and map it to a DNS address.

[code]
and it seems my ingre

[2020-09-21 17:04] roblapp commented on #23604
I had to run `kubectl delete rc --all` to get rid of the Nginx pod. Note that the `--all`  will delete all replica controllers.

[2020-09-21 17:31] #83723 closed

[2020-09-21 17:49] alculquicondor commented on #84922
/remove-lifecycle stale

@pancernik can you lead the discussion?

[2020-09-21 18:26] develop-mental commented on #50375
+1

[2020-09-21 19:15] soltysh commented on #93578
@caslurjf you can get all the logs from kube-controller-manager, ideally `-v=4` should give you all the information for cronjob controller. The cronjob definition looks reasonable to me, so it might be something else in your environment that's causing the controller to misbehave. Like the number of cronjobs (you're alluding to) or something else.

[2020-09-21 19:16] kobenauf commented on #41881
I was interested in this too, because I have many domains (and new ones added often) that will use the same site essentially, but they each one their own domain.  But @bowei poses a critical problem.  If certs were given out like this, web.somehacker.com could point to your site and get a cert and open you up for new types of security bugs.

[2020-09-21 19:19] soltysh commented on #93578
This seems like it's a potential duplicate of https://github.com/kubernetes/kubernetes/issues/90801 I'm going to close this one and please move the discussion there.
/close

[2020-09-21 19:19] soltysh commented on #86647
This seems like it's a potential duplicate of https://github.com/kubernetes/kubernetes/issues/90801 I'm going to close this one and please move the discussion there.
/close

[2020-09-21 19:19] #93578 closed

[2020-09-21 19:19] #86647 closed

[2020-09-21 19:22] soltysh commented on #90801
We are currently working on a 2nd generation controller that should improve this situation. As part of that effort we're planning to perform high scale testing to ensure that the above should be fixed.

[2020-09-21 19:27] chrisjohnson commented on #41881
I would not expect that certs need to follow suit

On Mon, Sep 21, 2020, 3:16 PM Kip Obenauf <notifications@github.com> wrote:

[2020-09-21 19:27] soltysh commented on #53331
The problem with Error state as presented in kubectl is that these are usually jobs that are running. It's hard in the controller to speculate whether such error state is permanent or temporary. Unless there's a clear Failed signal, the controller won't be able to differentiate between those. So this is not quite a bug.

[2020-09-21 19:34] michelgokan commented on #81115
how to completely disable seccomp? Asking for profiling scenarios with `perf` in non-production environments.

[2020-09-21 19:43] BenTheElder commented on #94487
@vinayakankugoyal I have a longer term goal to look at how we do upgrade-type testing of Kubernetes strategically, but we're not planning on investing in this test tooling further, and it's the cluster upgrade/deployment mechanism that is broken currently, not the tests.

The lack of keeping after the signal for this / responsive ownership of failures caused the release team to refuse to monitor i

[2020-09-21 19:54] danwinship commented on #94538
I'd be fine with iptables in k8s.io/utils, once we convinced ourselves we weren't creating any sort of circular-import trap

[2020-09-21 20:13] thockin commented on #94538
That seems like the simplest path - neither package have very broad deps, I
think/.

On Mon, Sep 21, 2020 at 12:54 PM Dan Winship <notifications@github.com>
wrote:

[2020-09-21 20:31] jingxu97 commented on #94912
cc /jingxu97

[2020-09-21 20:47] MHBauer commented on #76951
Thank you both!

https://github.com/kubernetes/kubernetes/issues/76951#issuecomment-694468776
Exactly as I expected for 1 & 2.

https://github.com/kubernetes/kubernetes/issues/76951#issuecomment-694473193
Is there a place to rally around these improvements? I will search for concrete and explicit test cases. This does appear very specific, but maybe it can drive general improvement.

[2020-09-21 20:54] xt94c4t9ce commented on #5607
I'm surprised this bug's closed because the original problem doesn't seem to be fixed.

On Kubernetes 1.18.8 with Docker 19.03.12, I'm not able to use a mapped host block device in a container without running the container in privileged mode.

The original problem here was that Docker's --device functionality wasn't available in Kubernetes, and that problem remains.

Or, is there a solution to thi

[2020-09-21 21:24] MHBauer commented on #94493
We can mark it `[Flaky]` and move it to the flake job, but I fear it will work fine over there.

[2020-09-21 21:31] BenTheElder commented on #93822
It's entirely possible, though I'd expect it to be transient.

[2020-09-21 21:31] MHBauer commented on #92241
@alejandrox1 I think we're done with this issue for now. We've got improved logging and the remote runner will fail loudly if images fail to be used instead of silently succeeding.

/close

I saw this while searching. I want to move the "Node Performance Tests" out of the flaky job now that we've gotten the proper resources to run the tests successfully.

[2020-09-21 21:32] #92241 closed

[2020-09-21 21:36] chiluk commented on #70585
Please forgive my tardy response, but I'm just now returning from paternity leave.  Yes it's rare, but kernel hackers do occasionally procreate.

@eddytruyen

To be apples to apples I believe you need perioed=100000 and quota 200000, as I'm pretty sure those values are in microseconds.  The recomendations to lower period are misguided in 99% of cases.

By all means, if you don't want to see thrott

[2020-09-21 21:37] #94933 closed

[2020-09-21 22:31] aojea commented on #94538
hmm I think we may have a dep loop with
[code]

didn't know there is a kube-proxy staging repo https://github.com/kubernetes/kube-proxy, is that an option?

[2020-09-21 22:51] danwinship commented on #94538
oh, right, k8s.io/utils is below apimachinery, and iptables uses `k8s.io/apimachinery/pkg/util/{sets,version,wait}`. All of which are generically-useful utilities, not "API machinery", but I'm assuming we don't want to pull _too_ hard on this thread...

all of these kind of sound like they're something much higher level, not just "shared networking utility code"... But I guess people don't really

[2020-09-21 22:54] thockin commented on #94538
I think we can break the "k8s.io/api/core/v1" link

I don't think apimachinery deps on utils:

[code]

On Mon, Sep 21, 2020 at 3:31 PM Antonio Ojea <notifications@github.com>
wrote:

[2020-09-21 22:59] thockin commented on #94538
k8s.io/apimachinery/pkg/util/errors"
k8s.io/apimachinery/pkg/util/sets"
k8s.io/apimachinery/pkg/util/version"
k8s.io/apimachinery/pkg/util/wait"

We could argue that these should move to utils and then the apimachinery
should alias types and funcs?  That does seem a bit heavy, but so does
making a new repo for this.

[2020-09-21 23:38] msau42 commented on #94913
I've also seen this issue and there's actually quite a few different causes for it, across systemd, containerd, and runc. These versions should have all the fixes:

systemd v237
runc v1.0.0-rc9
containerd v1.4.0

[2020-09-22 00:14] clarkmcc opened #94952 "Unpopular opinion: Is the BLM banner size necessary?"
I hope this doesn't come off the wrong way, but as I've been using the docs, Kubebuilder, and any other site that is Kubernetes specific, I've noticed a good 200ish px of the top of my page is dedicated to the BLM banner, on virtually every page. I agree as much as the next person that racism is not acceptable, but I didn't come to Kubernetes.io to be preached to about politics, and current world/

[2020-09-22 00:18] clarkmcc commented on #94952
/committee steering

[2020-09-22 00:47] zhouya0 commented on #94931
Ref :https://github.com/kubernetes/kubernetes/issues/94753
/assign

[2020-09-22 00:51] tallclair commented on #88253
The label authorization discussion on sig-arch is interesting, but as a stop-gap can we just add a reserved "virtual label" that is the objects name? e.g. `metadata.kubernetes.io/name = <object name>`. The label cannot be applied to objects, but can be matched through selectors.

[2020-09-22 01:19] Riaankl opened #94954 "Untested Priority Class Life Cycle Test - 5 endpoints not covered by Conformance test"
# PriorityClassLifeCycleTest

The following PriorityClass endpoints was Promoted it 1.14 without Conformance tests, and remain untested:
 replace-, read-, patch-, list-, delete-collection- SchedulingV1PriorityClass

# Identifying an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining PriorityClass endpoints which are untested.

with this query you can

[2020-09-22 01:27] Riaankl opened #94955 "Write listCoordinationV1LeaseForAllNameSpace test - +1 endpoint coverage"
# Progress <code>[4/6]</code>

-   [X] APISnoop org-flow : [listCoordinationV1LeaseForAllNameSpace.org](https://github.com/apisnoop/ticket-writing/blob/1.14_tech_debt/listCoordinationV1LeaseForAllNameSpace.org)
-   [X] test approval issue : [kubernetes/kubernetes#94955](https://github.com/kubernetes/kubernetes/issues/94955)
-   [X] test pr : [kuberenetes/kubernetes#94969](https://github.com/kubern

[2020-09-22 02:05] yylt commented on #94932
/reopen

kubelet create controller-manager container suceess at first, but create again, address is occupyed by self, it is not correct

[code]

[2020-09-22 02:09] hwdef commented on #94952
I think the second idea is better.

[2020-09-22 02:14] jingxu97 opened #94956 "How to enable same StorageClass work for both Linux and Windows"
Use cases:

- single -writer: Data flow from Linux node to Windows node or vice versa
- Multi-writer: data can be accessed by multiple nodes with different oses.

Issues:
Mountoptions: the same pvc with same storageClass will be used by kubelet and csi-driver running on different OSes. How to separate parameters based on os?

Proposal:

- Short-team: kubelet vs. csi driver

  mountOptions: add pre

[2020-09-22 02:33] dims commented on #94952
Duplicate of https://github.com/kubernetes/website/issues/23824

/close

[2020-09-22 02:33] #94952 closed

[2020-09-22 02:37] xiaopeng-han commented on #94900
/cc

[2020-09-22 02:37] xiaopeng-han commented on #94901
/cc

[2020-09-22 02:40] majorinche commented on #79365
see comments above, two methods seems useful, setting request/limits and delete completed status pod

but i try both of them, not working

i meet this issue for istio in the process of installing kubeflow
[root@d0404 ~]# kubectl get hpa -n istio-system
NAME                    REFERENCE                          TARGETS         MINPODS   MAXPODS   REPLICAS   AGE
cluster-local-gateway   Deployment/cl

[2020-09-22 02:57] smileusd commented on #94913
We have try the different version of systemd. The only may worked change is the size of queue: https://github.com/systemd/systemd/pull/12387
And we also enlarge this size, it can increase the pod speed from "Creating" to "Running" but it is also slow and hang some times and also has large gap with no systemd mount:
[image]()
![image](https://user-images.githubusercontent.com/8711941/93840150-efc87

[2020-09-22 03:00] TC-robV opened #94957 "error: No such annotation key"
**What happened**:
seeing the following errors in the snapshot pod constantly:
`
2020-09-22T02:40:45.251921Z annotation.not-found           [k8s_snapshots.core] message=annotation.not-found: volume_claim.metadata.name='datadir-zk-a-2' resource=<PersistentVolumeClaim datadir-zk-a-2> severity=ERROR structured_error=[{'type': 'KeyError', 'message': "'backup.kubernetes.io/deltas'", 'readable': ['Trace

[2020-09-22 03:01] fatedier commented on #92352
/remove-lifecycle stale

[2020-09-22 03:14] yuanhuaiwang commented on #94795
yeah, i cherry-pick the commits of 1.18 pr and have resolved this problem, thank you very much

[2020-09-22 03:23] zhouya0 commented on #92170
Sure, I'll try to do that.

[2020-09-22 03:30] msau42 commented on #94913
There were improvements made to runc and containerd that reduces the load on systemd. The combination of fixes from all 3 components addressed the systemd slowness in our environment.

https://github.com/containerd/containerd/pull/3711
https://github.com/opencontainers/runc/pull/2117

[2020-09-22 03:33] lyveng commented on #86944
Maybe this is no longer required and closed since dockershim is being deprecated - https://github.com/kubernetes/kubernetes/pull/94624

[2020-09-22 03:41] #86337 closed

[2020-09-22 04:23] #94886 closed

[2020-09-22 04:53] hetii commented on #55713
In my case I run kubernetes cluster by rancher2 on top of openstack, in configuration where I have 3 x control-plane+etcd and 3 x workers.
When one of the node stop responding, pods running on it was in terminating state over hours till I reboot machines.
This problem contradicts the idea of ​​a cluster and HA ;(

[2020-09-22 05:14] dexterhu commented on #36601
This looks like a pain point for many applications. We need a long term solution.

[2020-09-22 05:14] smileusd commented on #94913
@msau42  But a question is, why kubelet need systemd-run mount for all the volume. From this pr https://github.com/kubernetes/kubernetes/pull/49640 the reason is for "1. When kubelet runs as a systemd service, "systemctl restart kubelet" may kill all processes in the same cgroup and thus terminate fuse daemons that are needed for gluster and cephfs mounts. 2. When kubelet runs in a docker containe

[2020-09-22 05:18] dexterhu commented on #36601
https://github.com/kubernetes/kubernetes/issues/24725 is not happening. Looks it is industry-wide pain point.

[2020-09-22 06:20] chinazj opened #94963 "webhook error: FailedDiscoveryCheck && write: broken pipe"
**Describe the bug**:

We went through a network card error, and then the cert-manager webhook has been in the FailedDiscoveryCheck state

I tried restarting the webhook (kubectl scale --replicas=0 ==>  kubectl scale --replicas=1), the status of the apiservice changed from MissingEndpoints to FailedDiscoveryCheck

v1beta1.webhook.certmanager.k8s.io  status

[code]

eth0 & calico error

[code]

kub

[2020-09-22 06:23] chinazj commented on #94963
please help me .
thanks

[2020-09-22 06:27] chinazj commented on #94963
[code]

[2020-09-22 06:59] QaiserAli commented on #22368
still an important issue to fix

[2020-09-22 07:01] 2qif49lt commented on #65267
any progress?
there are many scenes need this "feature".
like: hdfs's datanode with local host data folder,  as clickhouse and minio which perfer to handle data locally.

[2020-09-22 07:47] yylt commented on #94932
https://github.com/kubernetes/kubernetes/blob/402b94f31346f31bf24bdc11c185f2f430025b04/pkg/kubelet/kubelet_pods.go#L1087

maybe kubelet could not push controller-manager stat into apiserver, and controller-manager is created again after kubelet  restart

kubelet log `Liveness probe already exists` indicate that controller-manager existed in store

The issue #17251 is good feature

[2020-09-22 07:47] #94932 closed

[2020-09-22 08:16] RobertKielty commented on #93693
/reopen

https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e

Can this be reviewed again please?

cc @kubernetes/ci-signal

[2020-09-22 08:20] chinazj commented on #94963
After investigation

Determined to be the error of kube-apiserver. There is no error in webhook, only APIService has errors.

kube-apiserver connects to webhook at regular intervals according to APIservice

kube-apiserver pod log

[code]

[2020-09-22 08:36] RobertKielty commented on #93740
I would ideally like to see a statement that this was triaged, had a root cause analysis done, had a fix for the root cause applied, and that the fix was monitored and deemed successful.

Hey @bridgetkromhout can you take a look at let us know if you are happy to that this flake has been figured out and fixed?

@sayanchowdhury is correct, this looks green. https://testgrid.k8s.io/sig-release-maste

[2020-09-22 08:59] chinazj commented on #94963
Some errors have been resolved

1. cricle stopp <api-server pod>

2. cricle rmp  <api-server pod>

kube-apiserver websocket error

[2020-09-22 08:59] adam-thg commented on #50375
+1

[2020-09-22 09:07] RobertKielty commented on #93716
Hi @wojtek-t Hi @mm4tt

Will you be in a position to look at this flake for 1.20

Are there higher priority flakes that you would prefer to track?

[2020-09-22 09:30] wojtek-t commented on #93716
FTR - it seems that many of the issues in the dashboard you linked above are actually the same as this one.

Going back to your original question - we're are already looking into that as we speak. There is another issue opened for pretty much the same issue:
https://github.com/kubernetes/kubernetes/issues/94098

It's clear that partially the problems are due to resource-starvation on master machin

[2020-09-22 09:45] aojea commented on #94794
My understanding is (Chris please correct me if I said something wrong or I'm missing something) that the problem here is because your CoreDNS inside the cluster can not reach the upstream DNS server, so it sends an ServFail and stops the client resolver iteration. If you had had IPv6 connectivity upstream, your CoreDNS server would be able to contact the upstream servers and not send a ServFaill,

[2020-09-22 09:59] RobertKielty commented on #94230
/priority important-soon

[2020-09-22 10:08] RobertKielty commented on #94230
/remove-priority critical-urgent

[2020-09-22 10:09] RobertKielty commented on #94230
@Huang-Wei Will you get a chance to look at this for the 1.20 release or would you like get some help with this?

[2020-09-22 10:12] justaugustus commented on #16753
I feel that the ship has maybe left the port on this one, given when this was opened in 2015.
@timothysc -- If there are some actionable, chunkable bits here you'd like to see, reopen and let us know!

/close

[2020-09-22 10:12] #16753 closed

[2020-09-22 10:25] lynx-coding opened #94965 "kubectl apply -f file.yaml --dry-run=client seems to query server"
**What happened**:
When applying a Service to a cluster with dry-run using kubectl, the output looks like the server version of the Service instead the one from the file.

**What you expected to happen**:
The content of the returned json should contain my local resource

**How to reproduce it (as minimally and precisely as possible)**:
Create a YAML File with a service with annotations and apply i

[2020-09-22 10:26] lynx-coding commented on #94965
/sig cli

[2020-09-22 10:36] verb commented on #53188
/remove-lifecycle stale

[2020-09-22 10:51] aojea commented on #94538
@liggitt @dims you use to deal with this code reorg/dep problems very often, any advice/suggestion from your experience?

[2020-09-22 11:05] ischenkomari opened #94966 "AWS NLB UpdateLoadBalancerFailed during instance shutting down"
**What happened**:
Recieveng warning during LoadBalancer(NLB) service update, if some EC2 is shutting down at this moment. It leads to timeout, especially if cluster continiously scale up/down.

Warning  UpdateLoadBalancerFailed  service-controller  Error updating load balancer with new hosts map[...]: error registering new targets in target group: "InvalidTarget: The following targets are not in

[2020-09-22 11:10] liggitt commented on #94965
Seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/72644#issuecomment-451965417

[2020-09-22 11:10] Lion-Wei opened #94967 "[Flaking Test][ipvs] should have session affinity timeout work for service with type clusterIP/NodePort"
**Which jobs are flaking**:

https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-ipvs&width=5

**Which test(s) are flaking**:

Services should have session affinity timeout work for service with type clusterIP
Services should have session affinity timeout work for NodePort service

We have other flaky cases, like `ESIPP [Slow] should work from pods`, that should also bu resolved.
But `session

[2020-09-22 11:11] Lion-Wei commented on #94967
/sig network
/area ipvs

[2020-09-22 11:11] ischenkomari commented on #94966
/sig cloud-provider

[2020-09-22 11:27] afirth commented on #81878
/reopen

Seems like this is working for some things, but not others
Examples: `k8s.io/kubernetes/pkg/util/tolerations` and from @ghostsquad `k8s.io/kubernetes/pkg/auth`

[2020-09-22 11:36] #94963 closed

[2020-09-22 11:39] fjcloud commented on #68734
Very useful feature if you don't want to expose ports on all nodes.

[2020-09-22 11:45] wojtek-t commented on #94955
I opened https://github.com/kubernetes/kubernetes/pull/94969 for it.

[2020-09-22 11:50] lyyao09 commented on #86406
Same issue for me. @zhxqgithub, Is there any solution?

After the host was powered off abnormally, the pod using the iscsi device failed to start because the file system was damaged. We can use `fsck -y` command to repair successful.  Is it feasible that kubelet use `fsck -y` to repair instead of `fsck -a`?

[2020-09-22 11:51] lyyao09 commented on #86406
/open

[2020-09-22 11:56] lyyao09 commented on #86406
/remove-lifecycle rotten

[2020-09-22 11:57] lyyao09 commented on #86406
/reopen

[2020-09-22 12:02] patrijua commented on #5607
I also find this surprising that there seems to not be a way to use host connected devices from containers without compromising security. We would need to access /dev/ttyUSB0 chardevice from container and we do not want to run anything as privileged.  So if there's a solution, please share. Thanks!

[2020-09-22 12:12] gongguan commented on #90652
I think this issue has been resolved, feel free to reopen it.

/close

[2020-09-22 12:12] #90652 closed

[2020-09-22 12:15] denkensk commented on #68734
@fjcloud @jansony1 @g00nix
Thanks for your comments. We choose to use service + ingress to expose our application now.
Maybe you can provide more use cases.

[2020-09-22 12:30] liggitt commented on #81878
The `k8s.io/kubernetes` module is not intended for use as a library. The individual exported repos (e.g. `k8s.io/client-go`) have go.mod files with valid versions of all dependencies (not the v0.0.0 versions referenced in this issue's description), but have internal and external dependencies that change between minor versions, so do not claim support for `go get -u`

/close

[2020-09-22 12:30] #81878 closed

[2020-09-22 12:39] lyyao09 opened #94970 "MountDevice failed for volum xxx fsck found errors on device xxx but could not correct them"
**What happened**:
The pod was pending because it waiting for mount pvc(use `iscsi` device),however, error occur when `fsck -a /dev/sda`.
similar issue related to https://github.com/kubernetes/kubernetes/issues/86406#issue-540038375 but no solution.

**What you expected to happen**:
in `pkg/util/mount/mount_linux.go#433`,we can see fsck use -a parameter to check and repair disk. however, `fsck -a`

[2020-09-22 12:40] lyyao09 commented on #94970
/sig node
/sig storage

[2020-09-22 12:41] fjcloud commented on #68734
Hello,

For example you want to use 3 specifics nodes for accessing non-http services through nodePort. For security reason, you don't want to expose your service on all nodes of your cluster. 2 or 3 nodes is enough for load balancing and availability in most of cases.

[2020-09-22 12:43] vryzhenkin commented on #89175
/remove-lifecycle stale

[2020-09-22 13:01] nikhita commented on #72638
/priority important-longterm

[2020-09-22 13:34] asada931 opened #94972 "Kubernetes: I want to use the same hostname e.g. example.com in two different namespaces with different paths. e.g. in namespace A I want example.com/clientA and in namespace B I want example.com/clientB. Any ideas on how to achieve this?"

[2020-09-22 13:55] verb commented on #84764
/remove-lifecycle stale

[2020-09-22 13:56] yaroze commented on #94883
Hi @rikatz ,

We're using flannel 0.3.1 just because it's what came with Kubespray.
On dmesg, the only thing we see most relevant is this, on both Debian and CentOS nodes :
[code]

As for LRO, it's disabled on every node, including CentOS nodes. We ran this on all the nodes and the result is the same everywhere:
[code]

Please can you verify open-vm-tools or VMware tools is installed?
open-vm-tool

[2020-09-22 14:29] howardjohn commented on #93476
It seems also that the Deployment.strategy.maxSurge will not impact this either. This seems like it should have an impact - if I allow a surge of `5` pods why not scale up then evict the draining node?

[2020-09-22 14:33] chrisohaver commented on #94794
@wenyingd - If the upstream DNS IP address defined in the forward declaration is v4, then CoreDNS will always be attempt to connect to it via ipv4.  CoreDNS forwards by proxy - it doesn't forward packets, it establishes a new connection to the upstream dns server ip address, gets an answer, and then sends the same answer to the client ip address. IOW, if a client sends a dual-stack CoreDNS a reque

[2020-09-22 14:51] #90204 closed

[2020-09-22 15:28] aojea commented on #94967
/assign @Lion-Wei
/remove-triage unresolved

[2020-09-22 15:47] kvp-cs commented on #40908
Hi - is there any chance of this feature request being accepted in the community?
@madspaulin: what technique did you use to invoke Pod-Delete on the K8 master from inside your container? Thank you.

[2020-09-22 16:06] neolit123 commented on #94972
please try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-09-22 16:06] #94972 closed

[2020-09-22 16:09] neolit123 commented on #94957
is this snapshots functionality coming from https://github.com/miracle2k/k8s-snapshots ?

please re-open if this is a confirmed k8s core bug and not a bug in external tooling.
/close

[2020-09-22 16:09] #94957 closed

[2020-09-22 16:49] ehashman opened #94976 "Improve license transparency for vendor/ in Kubernetes"
This request is inspired by the recent Debian bug flagged to the Debian Technical Committee: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=970717

Accompanying discussion in #release-management thread: https://kubernetes.slack.com/archives/CJH2GBF7Y/p1600787651044700

**Why is this needed**:

There is a concern that the libraries in `vendor/` potentially pose DSFG (Debian Free Software Guideli

[2020-09-22 16:49] ehashman commented on #94976
/sig release

[2020-09-22 16:53] dims commented on #94976
cc @swinslow @nikhita

fyi, CNCF folks run automation to check if kubernetes conforms to licenses listed here:
https://github.com/cncf/foundation/blob/master/allowed-third-party-license-policy.md#cncf-allowlist-license-policy

and publishes exceptions blessed by CNCF GB:
https://github.com/cncf/foundation/tree/master/license-exceptions

[2020-09-22 16:54] dims commented on #94976
/area code-organization

the code organization (sig-arch) folks including the @kubernetes/dep-approvers work on reviewing incoming dependencies and making sure the licenses are captured here:
https://github.com/kubernetes/kubernetes/tree/master/LICENSES

[2020-09-22 17:17] afirth commented on #94755
/close
Sounds like this is new in 1.19 but you were using 1.18
Please reopen if I'm missing something

[2020-09-22 17:17] #94755 closed

[2020-09-22 17:20] Riaankl commented on #94955
Thank you @wojtek-t
I will place it on the agenda for today's conformance meeting.

[2020-09-22 17:24] nodo commented on #94275
I am not sure I get it, how does the canonicalization of quantity affects fields? Intuitively it should affect only the value, right?

[2020-09-22 17:27] apelisse commented on #94275
I'm not sure I understand your question. How does it affect fields?

I agree it only affects the value, but because we don't know these values are equal, we infer that the user changed the field value, and so we move the field ownership around, causing possible conflicts and extra-diff output.

[2020-09-22 17:53] alejandrox1 commented on #80346
Overall question for this one: could you enumerate why this info may be useful? What kind of workloads are you running or wanting to run?

[2020-09-22 17:54] SergeyKanzhelev commented on #80346
this proposal I think will  need to account for this issue of mismatch of tags: https://github.com/kubernetes/kubernetes/issues/51017

[2020-09-22 17:59] lavalamp commented on #33766
TF is probably triggering the same bug; you'll have to figure out how to get it to clear the nodePort fields when you make that change.

[2020-09-22 17:59] sjenning commented on #80346
I am not against this.  It can be easily done today by injecting the `image` as an `envvar`.

https://kubernetes.io/docs/tasks/inject-data-application/downward-api-volume-expose-pod-information/#capabilities-of-the-downward-api

I would be against pulling the value from the `status` and not the `spec`.  There could be race here if downwardapi volumes/envvars are populated before the pod status.

I

[2020-09-22 18:09] alitoufighi commented on #43867
Closing an issue because "it is pretty hard" doesn't seem a way to face with issues to me.
I came to a situation where I need to recreate all resources on a namespace on another and deleting the other one, i.e. simply renaming it. It would be very useful if implemented.

[2020-09-22 18:11] airadier commented on #87185
/remove-lifecycle rotten

@deads2k can you tell us about the "the url rules for groups" in the original PR? Does it make sense to apply the DNS subdomain restriction to the path segments in the URL?

[2020-09-22 18:32] thockin commented on #33766
This has been an issue for a long time.  I'm not 100% confident in my
understanding of apply, but maybe it makes sense toi consider a more
radical solution?

What if we changed Service updates to auto-clear NodePort fields ?  It's
strictly a breaking change, and we'd need to be really sure about apply and
patch semantics, but it seems more correct?

On Tue, Sep 22, 2020 at 10:59 AM Daniel Smith <n

[2020-09-22 18:37] priyanka19-98 commented on #7923
Hello all, can I take up this issue if no one is assigned yet?

[2020-09-22 18:46] robisoh88 commented on #79581
cxv

[2020-09-22 18:49] derekwaynecarr commented on #88253
@tallclair if we are exploring "virtual labels" we _may_ also want to add uid if space/time constraints matter.

[2020-09-22 19:15] christopherhein commented on #90053
/lifecycle frozen

[2020-09-22 19:17] apelisse commented on #33766
I think the long-term plan is to use a union, and the short-term workaround is to send empty/null nodePort?

[2020-09-22 19:18] prbsparx commented on #57923
I've now run into this issue in 2 different scenarios that are frustrating:
1. Mount jmx.password in to a tomcat docker image to provide the username/passwords for JMX remote functionality.
2. Mounting certificate files into jamfllc/jamf-pki-proxy which requires the key/pem to be 0600.

Is there a timeline on this issue being fixed? It appears it has existed without any resolution since January 20

[2020-09-22 19:19] howardjohn opened #94980 "kubectl describe on Ingress v1 format is broken"
**What happened**:
[code]

Ingress:
[code]

**What you expected to happen**:

Format is proper, should match older versions:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

Apply Ingress above, run `kubectl describe`

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):

[code]

Reproduces with kubectl from `master`
- Cloud

[2020-09-22 19:22] #93833 closed

[2020-09-22 19:23] #93397 closed

[2020-09-22 19:23] #63906 closed

[2020-09-22 19:30] howardjohn opened #94981 "Version conversions lead to erroneous deprecation warnings"
**What happened**:
On an empty cluster:

[code]

**What you expected to happen**:

No warnings if there is no corrective action. I don't even have any Ingress in my cluster, so telling me to use `networking.k8s.io/v1` isn't very helpful.

If I explicitly do `k get ingresses.networking.k8s.io` there is no warning. I would expect this to be the default if we are going to warn otherwise?

**How to re

[2020-09-22 19:30] howardjohn commented on #94981
/sig api-machinery

[2020-09-22 19:55] nodo commented on #94275
Right! now it's clear, thanks!

[2020-09-22 19:59] howardjohn commented on #94980
/sig cli
I am working on a fix for this

[2020-09-22 20:03] jsturtevant commented on #93590
The reported error has been resolved by kubernetes-sigs/windows-testing#187, Haven't see the other issue were the windows node crashes.

/close

[2020-09-22 20:03] #93590 closed

[2020-09-22 20:12] fedebongio commented on #94887
/assign @apelisse
Antoine, could you take a look please?

[2020-09-22 20:14] fedebongio commented on #94889
(we triaged it and looks like it's taken care of, thank you)

[2020-09-22 20:15] fedebongio commented on #94900
/assign @fedebongio
(for API Machinery)

[2020-09-22 20:16] fedebongio commented on #94906
@DirectXMan12 were you planning on sending a fix, or need our help to send one to fix it?

[2020-09-22 20:17] fedebongio commented on #94907
/assign @MikeSpreitzer @yue9944882

[2020-09-22 20:18] fedebongio commented on #94981
/assign @liggitt
Jordan trying with you first, let me know if you need our help on this one.

[2020-09-22 20:32] thockin commented on #33766
A union for what?  Sorry, you lost me.  Service has too many
inter-related fields, but they are not all grouped together.

On Tue, Sep 22, 2020 at 12:17 PM Antoine Pelisse <notifications@github.com>
wrote:

[2020-09-22 20:43] thockin commented on #88253
I like it.  What would the scope of these virtual labels be?  All
resources?  Can I use them in `kubectl get -l` ?

On Tue, Sep 22, 2020 at 11:50 AM Derek Carr <notifications@github.com>
wrote:

[2020-09-22 20:52] rpagliuca commented on #23013
I had this same problem and managed to solve it.

The root cause for me was that one of my nodes had a taint, due to problematic mounting of an AWS EBS volume (related to this other issue: https://github.com/kubernetes/kubernetes/issues/36450#issuecomment-352819677).

[code]

The simplest solution was to "force detach" the problematic volume on the AWS console, and afterwards remove the taint from

[2020-09-22 21:05] paralin commented on #16753
FWIW I have a project which imports most of Kubernetes directly and uses only the Go compiler (none of the kubernetes build tooling). It builds quite fast and is very manageable. The long build times and bloat is entirely from the convoluted build scripts.

[2020-09-22 21:15] apelisse commented on #33766
Yeah, that's why it's long term. My understanding is that some fields only make sense for specific "discriminator" values, they really look like they should be part of a union, but that'd need unions to actually work and probably the whole service fields to be re-arranged differently. It's very very long term ;-)

Are we unhappy with the null approach for node port? Does that fail specifically bec

[2020-09-22 21:17] onedr0p commented on #23880
/remove-lifecycle stale

[2020-09-22 21:19] liggitt commented on #94981
This is fixed in 1.20 in https://github.com/kubernetes/kubernetes/pull/94309. Because this missed 1.19, a cherry-pick to change API group priority doesn't seem to meet the bar for cherrypicks for 1.19.

For ambiguous requests like `kubectl get ingress`, `extensions/v1beta1` has historically been prioritized for backwards compatibility. I agree that with the increased visibility to use of deprecate

[2020-09-22 21:20] #94981 closed

[2020-09-22 21:20] apelisse commented on #94887
You can't do that with a strategic merge patch. "null" value won't remove the label.

Maybe I can help, but I need to understand what you're trying to do.

[2020-09-22 21:42] #94852 closed

[2020-09-22 21:59] thockin commented on #33766
On Tue, Sep 22, 2020 at 2:16 PM Antoine Pelisse <notifications@github.com>
wrote:

I think what is unhappy is that people
a) didn't set nodePort values (allocated) and don't have them in their YAML
b) change from type=LB to type=ClusterIP
c) we are forcing them to clear nodePort fields

It seems like it would be better all around if we can discern a change in
`type` to auto-clear the nodePort valu

[2020-09-22 22:12] thockin commented on #33766
E.g.
[code]

On Tue, Sep 22, 2020 at 2:59 PM Tim Hockin <thockin@google.com> wrote:

[2020-09-22 23:06] johngmyers commented on #80389
/remove-lifecycle stale

[2020-09-22 23:42] tallclair commented on #88253
IMO, yes to both (although I don't know why you'd use it with `kubectl get -l`)

We would want to be careful to keep the scope reigned in. We don't want it to turn into field selectors (i don't think..).

[2020-09-22 23:45] tallclair commented on #81115
@michelgokan for a given pod / container? Or globally for the cluster? Or disabling for the kernel?

[2020-09-23 01:34] #94665 closed

[2020-09-23 01:34] #94780 closed

[2020-09-23 01:49] chinazj opened #94990 "APIservice triggers write: broken pipe of websocket"
More debugging information :  https://github.com/kubernetes/kubernetes/issues/94963

**What happened**:

apiserver log

[code]

cert manager apiservice

[code]

kubectl describe

[code]

**What you expected to happen**:

apiserver does not have `write: broken pipe` problem

**How to reproduce it (as minimally and precisely as possible)**:

eth0 device is suddenly disconnected

[code]

**Anything e

[2020-09-23 01:51] jingxu97 commented on #81245
I am hitting this issue too. What I need is to import "k8s.io/kubernetes/test/e2e/framework" inside of "k8s.io/kubernetes/test/e2e/framework/pod package to get NodeOSDistroIs information..

[2020-09-23 02:27] #91352 closed

[2020-09-23 02:47] hamishforbes commented on #75482
Are there any workarounds for this issue in the meantime?
I have a slightly different use case. My k8s nodes are EC2 spot instances and I would like to *gracefully* terminate as many pods as possible when the spot instance is due to be terminated.
The [aws-node-termination-handler](https://github.com/aws/aws-node-termination-handler) automatically drains the node which works great for normal workl

[2020-09-23 03:09] wenxinnnnn commented on #94887
The second strategic merge patch I've observed will remove the tag.

[2020-09-23 03:12] wenxinnnnn commented on #94887
Initial state:
[code]
Using API patch namespace：
[code]
Results：
[code]

[2020-09-23 03:25] knight42 commented on #93693
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-ingress-gce-e2e/1308560052008783872/artifacts/e2e-588b1b9a56-58614-master/glbc.log
[code]
seems to be a RBAC issue?

[2020-09-23 04:04] #88928 closed

[2020-09-23 05:28] apelisse commented on #94887
I see, the first time it introduces null, and the second time it removes the label?

[2020-09-23 05:31] apelisse commented on #33766
For some reason, your comment doesn't format properly, reproduced here:
[code]

[2020-09-23 05:36] oldthreefeng commented on #74741
We also see this behavior in 1.18.3.  Jobs are cleaned up, but the associated pods are not.

job

[code]
job with pod.

[code]

cronjob

[code]

yaml

[code]

[2020-09-23 06:30] saschagrunert commented on #88553
/remove-lifecycle stale

[2020-09-23 07:02] yue9944882 commented on #94907
the system flow rules will regard all the traffic from `system:masters` user-group as exempt, which by default only covers the apiserver's loopback requests. can you verify if there're other unexpected requests count as exempt?

on the other way, i don't think currently intercepting exempt traffic to a custom priority-level is supported. every modification you made upon exempt flow rule will be re

[2020-09-23 07:36] Aisuko opened #94993 "The filed type of hostPath may not work well"
**What happened**:

I write a deployment use `hostPath` and get the error

[code]

[code]

If I use optional filed named `type: File/FileOrCreate` I will get the error log above. The document show the filed

Value|Behavior
-- | --
FileOrCreate | If  nothing exists at the given path, an empty file will be created there  as needed with permission set to 0644, having the same group and  ownership wit

[2020-09-23 07:55] michelgokan commented on #81115
As a simple workaround, I used following dummy seccomp configuration to enable all syscalls:

[code]

[2020-09-23 08:18] tosi3k opened #94994 "[Flaky test] [sig-node] PreStop should call prestop when killing a pod [Conformance]"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
[k8s.io] [sig-node] PreStop should call prestop when killing a pod [Conformance]

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we need to know**:
Prow job results: https://prow.k8s.io/view/gs/kuber

[2020-09-23 08:18] tosi3k commented on #94994
/sig node

[2020-09-23 08:26] tosi3k opened #94995 "[Flaky test] [sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
[sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a NodePort service

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-corr

[2020-09-23 08:26] tosi3k opened #94996 "[Flaky test] [sig-storage] Downward API volume should provide podname only [NodeConformance] [Conformance]"
**Which jobs are flaking**:
gce-master-scale-correctness

**Which test(s) are flaking**:
[sig-storage] Downward API volume should provide podname only [NodeConformance] [Conformance]

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-correctness
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness

**Reas

[2020-09-23 08:30] cofyc commented on #88150
/remove-lifecycle rotten

[2020-09-23 08:37] pacoxu commented on #94993
Is the dir '/home/aisuko/Documents/cluster/' created?

have you seen discussions in https://github.com/kubernetes/kubernetes/pull/87113#issuecomment-592056328

[2020-09-23 09:04] micnncim commented on #94917
/assign @micnncim

[2020-09-23 09:36] wenxinnnnn commented on #94887
Yes,the thrid time it introduces null...loop

[2020-09-23 09:41] lynx-coding commented on #94965
Thanks for that response. So using `--dry-run=server` for the dry-run of an update seems like the correct way.

[2020-09-23 09:49] wenxinnnnn commented on #94887
https://tools.ietf.org/html/rfc7396
![image](https://user-images.githubusercontent.com/6149401/93996702-233ff480-fdc5-11ea-8d36-64227c34e225.png)

[2020-09-23 10:08] ScrapCodes opened #94997 "[Flaky Test] [sig-network] Services should only allow access from service loadbalancer source ranges [Slow]"
**Which jobs are flaking**:
ci-kubernetes-e2e-gci-gce-slow #1308665245484453888

**Which test(s) are flaking**:
[sig-network] Services should only allow access from service loadbalancer source ranges [Slow]
**Testgrid link**:
https://testgrid.k8s.io/google-gce#gce-cos-master-slow

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1308678834

[2020-09-23 10:17] george-angel commented on #13136
/remove-lifecycle stale

[2020-09-23 10:19] ScrapCodes opened #94998 "[Flaky Test][sig-network] EndpointSlice should create Endpoints and EndpointSlices for Pods matching a Service"
**Which jobs are flaking**:
ci-kubernetes-e2e-gci-gce #1308692423005704192

**Which test(s) are flaking**:
[sig-network] EndpointSlice should create Endpoints and EndpointSlices for Pods matching a Service

**Testgrid link**:
https://testgrid.k8s.io/google-gce#gce-cos-master-default

**Reason for failure**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/130869242300

[2020-09-23 10:22] ScrapCodes commented on #94995
@tosi3k this appears to be a duplicate of #91236 and #94349

[2020-09-23 10:34] tosi3k commented on #94995
You're right, thanks for pointing out. Closing.

/close

[2020-09-23 10:34] #94995 closed

[2020-09-23 10:38] TBBle commented on #92321
/remove-lifecycle stale

[2020-09-23 10:38] ahg-g opened #94999 "Deprecate old scheduler metrics"
Mark the following metrics as deprecated `SchedulingAlgorithmPreemptionEvaluationDuration` and `BindingLatency`. Both of those metrics are now covered as part of `FrameworkExtensionPointDuration`, the former as a `PostFilter` the latter and a `Bind` plugin.

This can be done by setting `DeprecatedVersion: "1.20.0"` in each of the two metrics opts. Changing the name of the metric variable to be pre

[2020-09-23 10:38] ScrapCodes opened #95000 "[Flaky Test] MirrorPodWithGracePeriod when create a mirror pod mirror pod termination should satisfy grace period when static pod is deleted [NodeConformance] [ubuntu]"
**Which jobs are flaking**:
ci-kubernetes-node-kubelet #1308682860982439936

**Which test(s) are flaking**:
MirrorPodWithGracePeriod when create a mirror pod mirror pod termination should satisfy grace period when static pod is deleted [NodeConformance] [ubuntu]
**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-master
**Reason for failure**:
https://prow.k8s.io/view/gcs/kube

[2020-09-23 10:43] vbence commented on #60164
Yes, please

[2020-09-23 10:51] arghya88 commented on #94999
/assign

[2020-09-23 11:00] RobertKielty commented on #95000
/sig node

[2020-09-23 11:12] RobertKielty commented on #94997
This error has occurred today (9/23/20) in 9 tests on 5 jobs spanning multiple platforms and container runtimes.

@kubernetes/sig-testing can you please take a look when you get a chance? Many thanks.

**Aggregated Failures**
Triage tool report detailing occurrences of  ["failed to create new exec pod in namespace"](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=failed%20to%2

[2020-09-23 11:47] Aisuko commented on #94993
Thanks for your quickly reply, sir. The path you said was exist at my local cluster nodes which the deployment was scheduled on it, I can confirm that.  If I remove the filed named type the deployment can deploy normal and work well. I will got to watch the issue you said and get something more deeper.

[2020-09-23 12:36] dims commented on #50798
Please see newer discussion https://github.com/kubernetes/community/pull/4521

[2020-09-23 13:04] eddytruyen commented on #70585
@chiluk
Thank you for your reply, I am also taking 20% paternity leave at the moment ;)

I am sorry for the mistake. I checked it and yes you are right:
[code]
My extensive comment on 16 Aug in two sentences summarized: On a Kubernetes worker node with 4 CPU cores with only one Pod (with one Cassandra container) of the guaranteed QoS class (its cpu request==cpu limit==2) in the default Namespace o

[2020-09-23 13:13] #90393 closed

[2020-09-23 13:24] liggitt commented on #94795
glad that worked for you.

/close

[2020-09-23 13:24] #94795 closed

[2020-09-23 13:45] thejoycekung opened #95004 "[Flaky Test] [sig-cloud-provider-gcp] Reboot each node by dropping all inbound packets for a while and ensure they function afterwards"
**Which jobs are flaking**:
[
ci-kubernetes-e2e-gci-gce-reboot](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-reboot/1308719603391664128)

**Which test(s) are flaking**:
`Reboot [Disruptive] [Feature:Reboot] each node by dropping all inbound packets for a while and ensure they function afterwards`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-block

[2020-09-23 13:48] thejoycekung commented on #95004
/sig cloud-provider

[2020-09-23 13:55] liggitt commented on #93693
/cc @spencerhance

did ingress-gce just start expecting access to this resource recently? does the RBAC role at https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/rbac/cluster-loadbalancing/glbc/roles.yaml#L13-L18 need to be updated?

[2020-09-23 14:03] jacek-jablonski opened #95005 "[GCP] logs containing floats in scientific notation are incorrectly parsed after migrating kubernetes to 1.17.x"
**What happened**:
After upgrading kubernetes to 1.17.9-gke.1504 from 1.16.x json logs containg floats with scientific notation are sometimes incorrectly parsed.

Outputting JSON in logs:
`{ "test": 1e-05 }`

will result in Logs Viewer entry:
`{ "test": 1 }`

**What you expected to happen**:
Correctly parse floats in scientific notation.

**How to reproduce it (as minimally and precisely as possib

[2020-09-23 14:06] jacek-jablonski commented on #95005
/sig cloud-provider

[2020-09-23 14:07] ingvagabund commented on #94192
Yeah, I will update the issue once I have something to share. Thanks!!!

[2020-09-23 14:26] pliurh commented on #49343
I also hit this issue. Is there any workaround?

[2020-09-23 14:33] lyind opened #95007 "IPv6-only: KUBERNETES_SERVICE_HOST not in api-server Certificate SANs"
**What happened**:
The IPv6 address in the KUBERNETES_SERVICE_HOST environment variable is a **shortened/compact/compressed form IPv6 address** (ie. `3b01:4f8:d0:1601::1` while the addresses used in the api-server TLS certificate are all **long form IPv6 addresses**, for example: `subjectAltNames: [3b01:4f8:d0:1601:0:0:0:1, 3b01:4f8:d0:1600:0:0:0:4, 3b01:4f8:d0:1600:ffff:ffff:fffe:0, kubernetes, .

[2020-09-23 14:34] lyind commented on #95007
/sig network

[2020-09-23 14:53] dims commented on #94538
![image](https://user-images.githubusercontent.com/23304/94029560-eeaf4700-fd8a-11ea-8287-f0480cff1abc.png)

[2020-09-23 14:56] dims commented on #94538
So in this specific case, the first attempt would be to have a set of co-dependent packages that use each other without needing anything else. Add import restrictions (import boss!) to keep them that way. Example https://github.com/kubernetes/kubernetes/pull/90552

Basically make sure this set of packages do not transitively bring in other things from k8s.io/kubernetes. Once we get there we can re

[2020-09-23 15:12] SataQiu commented on #95007
/assign
This may be related to kubeadm.
/cc @neolit123

[2020-09-23 15:17] ptabor commented on #80513
@jpbetz Do you recall why etcd decided to not do x/10 since 3.3.3. ?
The former behavior seems more aligned with k8s needs and would allow compacting to 10min.

There is benefit in running  etcd-internal compactor, as in case of problems (e.g. caused by too long time horizont), apiServer might not be able to trigger compaction, while the compaction would enable apiServer to operate.

[2020-09-23 15:19] neolit123 commented on #95007
interesting, kubeadm itself does not use KUBERNETES_SERVICE_HOST and i don't think we should do that.
kubeadm adds these by default:
- 127.0.0.1
- node IP
- control-plane-endpoint (if specified)

users are allowed to feed extra SANs using the kubeadm config. see `certSANs` under `apiServer` here:
https://godoc.org/k8s.io/kubernetes/cmd/kubeadm/app/apis/kubeadm/v1beta2

[2020-09-23 15:25] lyind commented on #95007
No extra SANs were specified when `kubeadm init` was run.

[2020-09-23 15:34] apelisse commented on #94887
Note that you're using "strategic merge patch", not "JSON Merge Patch rfc7396". Can you try the latter? I think you need to replace `types.StrategicMergePatchType` with `types.MergePatchType` and see what happens.

[2020-09-23 15:40] apelisse commented on #33766
If I read this properly, you're modifying the object in the validation function, is that OK?

[2020-09-23 15:40] ehashman commented on #89788
/remove-lifecycle stale

[2020-09-23 15:53] thockin commented on #33766
I don't know if it is "OK", but it works.  Is there a better hook?

In general we don't mutate a user-provided spec, so this is a bit off the
beaten path.  I could do it in defaults.go, but that would apply even on
create.  More consistent but more impactful.

E.g. today a user who creates a service with `type: ClusterIP` and
specifies a `ports[*].nodePort` value will get a validation error - what

[2020-09-23 15:57] neolit123 commented on #95004
/area provider/gcp

[2020-09-23 15:57] neolit123 commented on #94999
/kind deprecation

[2020-09-23 15:58] neolit123 commented on #94993
/sig storage

[2020-09-23 15:58] neolit123 commented on #94990
/sig api-machinery

[2020-09-23 16:05] thockin commented on #88253
Looking at ObjectMeta, only name, uid, namespace even qualify
syntactically, and namespace is of dubious value.

On Tue, Sep 22, 2020 at 4:42 PM Tim Allclair <notifications@github.com>
wrote:

[2020-09-23 16:05] apelisse commented on #33766
Every instance of doing that is an apply bug waiting to happen :-)
In that specific case, it's not because people haven't applied nodePort.
Are people ever supposed to apply this field or is it strictly filled in by the system?

[2020-09-23 16:10] shankgan opened #95010 "k8s CSR: URI SAN's are not being honored by GKE signer"
**The problem:**

While testing the K8s CSR API
https://kubernetes.io/docs/reference/access-authn-authz/certificate-signing-requests/

I observed that URI SAN's requested in the CSR are never included in the certificate that is generated (under the **X509v3 Subject Alternative Name section**) . Whereas other SAN's (including DNS) requested are added to the certificate.

I am testing some code that

[2020-09-23 16:13] erain commented on #92731
It seems that nobody needs this.

We had a discussion during the SIG Instrumentation triage meeting today and we agreed to delete this test to reduce the flakiness. I am going to send a PR for that.

[2020-09-23 16:22] shankgan commented on #95010
/sig Security

[2020-09-23 16:24] pwittrock commented on #80228
Rather than changing the behavior which some folks could be depending upon, WDYT of:

- Rename the flag (deprecate old and create a new) to `--delete-emptydir-data`
- Introduce a short name for the flag so users don't have to type as much `-d`

[2020-09-23 16:27] hkamel opened #95011 "[Failing Test] Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

W0923 13:51:07.656] 2020/09/23 13:51:07 process.go:155: Step './get-kube.sh' finished in 10.986531781s
W0923 13:51:07.656] 2020/09/23 13:51:07 extract_k8s.go:305: U=https://storage.googleapis.com/kubernetes-release-dev/ci

[2020-09-23 16:28] dougsland commented on #80228
/assign

[2020-09-23 16:28] dougsland commented on #80228
let me try to help here.

[2020-09-23 17:14] #94584 closed

[2020-09-23 17:17] #88808 closed

[2020-09-23 17:24] blind3dd commented on #78693
/reopen

[2020-09-23 17:39] danwinship commented on #88253
By "virtual" do you mean the label would not actually be present in `ObjectMeta.Labels`, but selectors should act as though it was? AFAICT most (all?) LabelSelector matching is currently done via `metav1.Selector`'s `Matches` function, which matches against a set of labels, not an object, so if the virtual labels don't automatically appear as actual labels, then every piece of code that matches la

[2020-09-23 17:59] jsturtevant commented on #77268
/reopen

[2020-09-23 18:16] thockin commented on #88253
literally adding them to every object seems clumsy - couldn't we
de-virtualize them

On Wed, Sep 23, 2020 at 10:39 AM Dan Winship <notifications@github.com>
wrote:

[2020-09-23 19:13] aojea commented on #94998
I 've seen this before @robscott , I could not investigate it too much, but if I undertood the test it seems that is creating 1 additional endoint, it is creating 3 instead of 2
[code]

[2020-09-23 19:15] danwinship commented on #88253
Yeah, there's no single point you can add it right now. We can add a _new_ method that matches a LabelSelector against a `runtime.Object` or a `metav1.ObjectMeta`, and handles both real and virtual labels. But then we have to make everything use it.

[2020-09-23 19:24] DirectXMan12 commented on #94906
I can probably try to figure out a fix if you want, but the whole model for how event broadcasters currently work is inverse to how Go suggests you manage channels (only writers should ever close channels, not readers).  I'll need to do a bit of playing around with things.

[2020-09-23 19:25] robscott commented on #94998
🤔 I thought I already fixed a flake like this bug with https://github.com/kubernetes/kubernetes/pull/93907, apparently not. It looks like the new error is that it's not necessarily more EndpointSlices, but duplicate endpoints. This could happen in the following scenario:

1. Pod 1 is created
2. syncService runs, creates 1 EndpointSlice with Pod 1
2. Pod 2 is created
4. syncService runs, does not f

[2020-09-23 19:32] neolit123 commented on #90761
i can conform that the suite requires mostly more than 25 minutes in later releases (either due to more tests or slower infra).
this PR increases the e2e test suite in kubeadm to 35 minutes and will close this ticket:
https://github.com/kubernetes/kubeadm/pull/2297

we should create new / separate tickets with flaky tasks in the job.

[2020-09-23 19:51] aojea commented on #95007
The certificate server certificate seems correct

   MUST be stored in the octet string in "network byte order", as
   specified in [RFC791].  The least significant bit (LSB) of each octet
   is the LSB of the corresponding byte in the network address.  For IP
   version 4, as specified in [RFC791], the octet string MUST contain
   exactly four octets.  For IP version 6, as specified in
   [RFC246

[2020-09-23 19:54] hasheddan commented on #93694
Tagging @saschagrunert on this also because he is doing work on push-build :+1:

[2020-09-23 20:36] kishorj commented on #57250
/assign kishorj

[2020-09-23 20:37] thejoycekung opened #95017 "[Flaky Test] [sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api"
**Which jobs are flaking**:
`node-kubelet-master` (`ci-kubernetes-node-kubelet`)

**Which test(s) are flaking**:
`Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#node-kubelet-master

**Reason for failure**:
[code]

**Anything else we need to know**:
https://storage

[2020-09-23 20:41] lyind commented on #95007
@aojea Thank you for the clarification and citing rfc5280. I wasn't completely sure which IPv6 address representation is considered the "canonical" or "absolute" form. In any case the address passed is correct, so I am going to close this issue.

More info:

I am using kubernetes-client/java and this client passes the `KUBERNETES_SERVICE_HOST` value directly into the URLs hostname. I dug a little

[2020-09-23 20:41] #95007 closed

[2020-09-23 20:50] #90761 closed

[2020-09-23 20:58] aojea commented on #94998
I 've sent a PR to fix it, PTAL

[2020-09-23 21:03] robscott commented on #94998
/remove-triage unresolved

[2020-09-23 21:22] aojea commented on #95007
thanks for the quick response and the explanation :100:

[2020-09-23 21:36] #80996 closed

[2020-09-23 21:36] #82595 closed

[2020-09-23 21:36] #92321 closed

[2020-09-23 22:09] thejoycekung commented on #95011
Other failures with the same error:

- [gce-cos-master-scalability-100](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1308759367570427904)
- [gci-gce-ingress](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1308705510098210816)
- [gce-cos-master-reboot](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubern

[2020-09-23 22:10] alculquicondor commented on #93067
ping @liggitt :)

can we proceed with
https://github.com/kubernetes/kubernetes/issues/93067#issuecomment-694300442 ?

[2020-09-23 22:28] julianvmodesto commented on #82046
Since we're tracking the admission chain issue in https://github.com/kubernetes/kubernetes/issues/84530, it seems possible to for now do the managed fields update for /scale sooner.

[2020-09-23 22:46] Huang-Wei commented on #94230
Sure, it's on my radar.

[2020-09-24 00:43] liuyuan10 commented on #43784
A qq if anyone can help to answer. Even with default setup (--anonymous-auth=true), I'm seeing 403 code:
[code]

But actually the payload is valid:

[code]

I can see `public-info-viewer` binded to system:unauthenticated. But do we expect it always return 403? matching payloads are less ideal for a healthcheck

[2020-09-24 00:49] liuyuan10 commented on #43784
oh, nvm. I found curl -I is using http head which is forbiden by k8s. For anyone that gets confused as me, this is what you want:
[code]

[2020-09-24 01:25] #90292 closed

[2020-09-24 01:25] wenyingd commented on #94794
Thanks for the detail explanation, and that helps me a lot.

[2020-09-24 02:42] wenxinnnnn commented on #94887
In my usage scenario, the two modified fields are all kv structures, and all MergePatchTypes are feasible.
However, suppose my patch (StrategicMergePatchType) is Deployment, and in addition to label and annotations, I also add a container,not replace the containers list,Instead it added a new Container to the list.
This empty string problem is still not easy to receive.

[2020-09-24 03:48] kvaradhan3 opened #95020 "make quick-release on macOS 10.15 fails."
System Version: macOS 10.15.6 (19G2021)
      Kernel Version: Darwin 19.6.0
      Time since boot: 19:10

kubernetes [master✗]➜ git remote -v
origin  https://github.com/kubernetes/kubernetes.git (fetch)
origin  https://github.com/kubernetes/kubernetes.git (push)
kubernetes [master✗]➜ git log --oneline | head -1

*   aad834b0733 (HEAD -> master, origin/master, origin/HEAD) Merge pull request #94438

[2020-09-24 03:54] kvaradhan3 commented on #95020
/sig architecture
/sig cluster life cycle

(I dont see a specific for build failure, or mac support, so tagging it wtih architecture and cluster-ife-cycle (there are projects around image-builder).  If I am wrong, please correct me.)

[2020-09-24 03:56] andyxning commented on #9043
@vinaykul What is the status for In-Place Pod resource change? We have similar requirements like yours. Hope you can give us some info.

[2020-09-24 04:03] alwaysastudent commented on #67324
@marcel-dempers @liggitt - is this still the only option for giving out shortlived client certificates?

[2020-09-24 04:08] andyxning commented on #5774
/reopen

[2020-09-24 04:28] Huang-Wei commented on #94954
@Riaankl Is the ultimiate goal to use conformance tests to **explicitly** issue all CRUD requests against PriorityClass? And, is `replaceSchedulingV1PriorityClass` equivalent to "update PriorityClass"?

[2020-09-24 04:35] apratina opened #95021 "HPA will scale pods to max replica count without any load"
**What happened**:
On Kubernetes version 1.18, if a namespace has 2 HPA object referencing its corresponding Deployment object, it starts scaling out pods to max replica count even though there is no load. The scaling out happens on both the HPA. This problem does not happen when we have only 1 HPA object referencing its corresponding Deployment object. The problem is only seen when we have multip

[2020-09-24 05:54] aojea commented on #94794
I think we can close this at this point.
It turned out in an excellent lesson on DNS and ip families, thanks Chris
/Close

[2020-09-24 05:55] #94794 closed

[2020-09-24 06:08] kvaradhan3 commented on #95020
Throwing 45G to the build container (configure docker-for-desktop -> Resources)
fixed the issue.

[2020-09-24 06:08] #95020 closed

[2020-09-24 06:17] liulangwa commented on #78965
`
diff --git a/vendor/github.com/google/cadvisor/fs/fs.go b/vendor/github.com/google/cadvisor/fs/fs.go
index 4dad954cde6..e6b7a1dafb5 100644
--- a/vendor/github.com/google/cadvisor/fs/fs.go
+++ b/vendor/github.com/google/cadvisor/fs/fs.go
@@ -510,8 +510,8 @@ func (self *RealFsInfo) GetDirFsDevice(dir string) (*DeviceInfo, error) {
                return nil, fmt.Errorf("stat failed on %s with erro

[2020-09-24 06:17] liulangwa commented on #78965
[code]

[2020-09-24 06:30] BrianKevinson opened #95022 "Plea rewrite in rust"
Thank you I rust is a new language which I believe better than proprietary solutions. Deliberate the concept. I will wait for my name on contributors list , dendrites 🔥

[2020-09-24 06:41] cpiment commented on #80577
@justgotthis sorry to bump and old issue but we are facing the same problems setting cronjob schedules. I have read in different places about this workaround, but I would like to know if it has caused you any trouble, since the controller-manager runs in a timezone but etcd, api-server, and scheduler run in UTC. I'm afraid the change can break other things...

[2020-09-24 06:58] #93364 closed

[2020-09-24 07:13] dostalradim opened #95023 "[vSAN] Full SCSI disk bus on VM"
My cluster is on v1.16.10 version and use vsan dynamic PV provisioning and has 7 working nodes where first one has completely used disk capacity which means 4 scsi controllers and 60 disks but another nodes has less then 10 disks. But the kubernetes scheduler is still trying to install some pods with PV on first node and is ending up with this message.

I did not find some issue which is solving i

[2020-09-24 07:15] dostalradim commented on #95023
/sig cloud-provider

[2020-09-24 07:28] #86667 closed

[2020-09-24 07:31] #89860 closed

[2020-09-24 07:55] lazystone commented on #89898
@scolbeck we faced that issue, but in our case(k8s 1.19.2, Ubuntu 18.04) we disabled CPU limits completely(removed them from deployment descriptors and kubelet is running with `--cpu-cfs-quota=false`) - that didn't help.

[2020-09-24 08:00] lazystone commented on #89898
@CharlyRipp do I understand correctly that for you issue was resolved when instead of named ports you started to use actual ports in probes?

[2020-09-24 08:07] mitar commented on #80346
Thank you for comments and questions.

For me it is really about container introspection. Container being able to know some information about itself. This is what downward API provides anyway. And I just seek to expand it a bit to provide some other extra information which is otherwise hard to obtain: what image exactly is it being run.

I see/have few use cases:
* Being able to report to the end-

[2020-09-24 08:10] JarenZhan commented on #68734
resolved?

[2020-09-24 08:12] RobertKielty commented on #95011
Aggregated results for `error during ./get-kube.sh: exit status 56`

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=error%20during%20.%2Fget-kube.sh%3A%20exit%20status%2056

[2020-09-24 08:21] TBBle commented on #80996
Fix in #94546 is part of Kubernetes 1.20.

[2020-09-24 08:21] knight42 commented on #93693
@spencerhance @liggitt Hi, I've filed #95025 to address the issue.

[2020-09-24 08:21] TBBle commented on #92321
Fix #94546 merged for Kubernetes 1.20.

[2020-09-24 08:24] mitar commented on #80346
@timhowes, @mpoqq, @Robpol86, @surenraju, @alexeyzimarev, @alonrbar, @lukinko, @skonx, @jtackaberry, @yhpark, @CharlyF, @adwin5, @seamusabshere, @hicolour, @daniel-pp, @haizaar, @lopf, @shiwano, you all upvotes this issue. I am working on KEP for it. Would you share your use cases which made you upvote the issue? I could then try to include them in the KEP.

[2020-09-24 09:13] bjorn3 commented on #95022
This users has been creating similar issues for several other projects including the rust compiler itself (https://github.com/rust-lang/rust/issues/77137)

[2020-09-24 09:17] mitar commented on #80346
I started working on the KEP here: https://github.com/kubernetes/enhancements/pull/2013

[2020-09-24 09:20] aojea commented on #94538
this is more or less how it will like

https://github.com/kubernetes/utils/pull/192

[2020-09-24 09:47] ScrapCodes opened #95026 "[Flaky Test] sig-release-master-blocking/ci-kubernetes-build"
**Which jobs are flaking**:
ci-kubernetes-build

**Which test(s) are flaking**:
Build

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#build-master

**Reason for failure**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build/1308818253157502976

[code]

The average time of this build seems to be 180.
But when we see the graph of build times, they are w

[2020-09-24 09:47] ScrapCodes commented on #95026
/sig testing

[2020-09-24 09:54] shiwano commented on #80346
We are using Spinnaker for deploying containers, and injecting the image tag to env by using [Spinnaker Pipeline Expression](https://spinnaker.io/guides/user/pipeline/expressions/) like below.

[code]

For example, we get the image tag like `1600784656-master-8abc17e5f6cd` by the config above, and output running container version to Stackdriver logging.

I think it is great if Kubernetes will supp

[2020-09-24 10:01] ScrapCodes commented on #95026
It would be great to know, why the build times graph is so wide in spread. Range over 50-200 minutes for even same commit id.

[2020-09-24 10:16] SataQiu commented on #95010
It seems that the URIs are being honored now, or I'm missing something.

Here are my verification steps based on k8s 1.19.0：

[code]
[code]

The Subject Alternative Names are:

[code]

[2020-09-24 10:18] yarnA commented on #45487
This is helpful to me, thank you！！

[2020-09-24 10:24] afirth commented on #7660
https://github.com/micnncim/kubectl-reap was mentioned in another thread

[2020-09-24 10:45] chinazj commented on #94990
After the network card is normal. This error still occurs

[2020-09-24 10:50] Mahesh9000 opened #95028 "How to link created pod in cronjob yaml file"
Trying to create cronjob with created namespace and pod
Job successfully created under the given namespace but not using created pod for this namespace

I want to use the created pod instead of creating a new pod while running a job

/sig <kubernetes>
/wg <kubernetes>
/committee <kubernetes>

[2020-09-24 11:15] bronger commented on #47202
https://github.com/kubernetes/enhancements/pull/1996

[2020-09-24 11:16] mythi commented on #92211
Device plugins can set device node specific annotations so perhaps something like:
```io.kubernetes.cri.setHostDeviceSecurityContext/dev-vfio-321: {"uid":"123","gid": "42"}```

dev-vfio-321 (example) is derived from the file path.

[2020-09-24 11:26] cedricroijakkers opened #95029 "Cannot create an external load balancer with mix protocols (TCP/UDP)"
This issue has been opened a few times before. The basic problem is, that I have an application that needs to listen of a set of TCP ports on a public load balancer (80, 443, and 4443) and one UDP port on the same load balancer (10000).

I'm running on Azure AKS, with k8s version 1.19.0. The problem was that the Azure load balancer supports mixed protocols, it basically adds a forward rule on all

[2020-09-24 11:29] cedricroijakkers commented on #95029
/sig architecture
/sig network

[2020-09-24 11:43] danwinship commented on #49343
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2020-09-24 11:57] zeeshanejaz commented on #85604
/reopen

[2020-09-24 11:57] harche opened #95030 "Clean up kubelet --experimental-mounter-path"
**What would you like to be added**:
Kubelet has an experimental GCE specific flag `--experimental-mounter-path`, we need to see if this can be cleaned up.

**Why is this needed**:
Kubelet has an experimental and GCE specific flag, that needs to be either graduated or removed.

[2020-09-24 11:57] harche commented on #95030
@dims cc

[2020-09-24 11:57] harche commented on #95030
/sig node

[2020-09-24 12:08] justgotthis commented on #80577
Hello, when I ran this mount in my controller manager, it fixed the time
zone issue and I did not experience any other negative behavior at the time.

-Luis.

On Thu, Sep 24, 2020, 1:42 AM cpiment <notifications@github.com> wrote:

[2020-09-24 12:18] huachangYu commented on #58138
:( the problem still exists. Did someone slove it ?

[2020-09-24 12:22] neolit123 commented on #95022
/close

[2020-09-24 12:22] #95022 closed

[2020-09-24 12:30] dims commented on #95030
@SergeyKanzhelev Any idea if this is still needed in our CI?

[2020-09-24 12:41] chromko commented on #81412
/remove-lifecycle stale

[2020-09-24 12:45] jacek-jablonski commented on #95005
/area provider/gcp

[2020-09-24 13:02] andyzhangx commented on #92496
@lubronzhan how did you set the flag to `OnlineAll`, do we need any code change on windows mount? I wrote that windows mount code, need to check whether there is bug to fix inside that code, thanks.

[2020-09-24 13:03] knabben commented on #95030
@harche @dims It was agreed to deprecate them in 1.19 and they will be removed in 1.23.

https://github.com/kubernetes/kubernetes/pull/91373

Here is more context: https://github.com/kubernetes/kubernetes/issues/86843#issuecomment-631173428

[2020-09-24 13:06] dims commented on #95030
Excellent @knabben , let's leave this issue open to track cleaning up CI scripts that use those flags.

[2020-09-24 13:48] liggitt commented on #93067
For the impact to pod spec, this seems reasonable.

Removing "omitempty" has the really unfortunate side-effect of changing the serialization for all types that embed pod template as well. When they don't specify a scheduler name (which most deployments/replicasets/... don't), they will all start serializing an empty string. Does that cause problems other than being really ugly?

[2020-09-24 14:02] tanjunchen commented on #94901
/cc

[2020-09-24 14:04] vponomaryov commented on #88752
This bug has been fixed by following PR: https://github.com/kubernetes/kubernetes/pull/92964

[2020-09-24 14:14] tanjunchen commented on #94860
/cc

[2020-09-24 14:24] chinazj commented on #94990
Check the documentation. It should be caused by the socket being closed, but writing characters to the socket

[2020-09-24 14:28] wubigo opened #95033 "kubelet takes up to 30% cpu after it joins as node"
**What happened**:
kubelet takes up to 30% cpu after it joins as node.
there is no additional workload pod exception the kubernetes system pod

[code]

**What you expected to happen**:

kubelet should take about under 5% cpu

**How to reproduce it (as minimally and precisely as possible)**:

[code]

/sig Node

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl

[2020-09-24 14:34] wubigo commented on #95033
/sig Node

[2020-09-24 14:40] eddiezane commented on #95011
This appears to be an exit status used by libcurl.

[code]

[code]

[2020-09-24 14:42] liggitt commented on #95010
/assign @mikedanese
/remove-sig security
/sig auth

[2020-09-24 14:46] shankgan commented on #95010
Hi @SataQiu ,

Thanks for checking. However, this definitely appears to be an environments issue. Note that my server K8s version is different - **v1.18.6-gke.3504**.

I repeated the steps that you followed, with one minor change - I use the certificates.k8s.io/v1Beta as opposed to certificates.k8s.io/v1 (since CertificateSigningRequest doesn't appear to be available as part of v1 API on my cluste

[2020-09-24 14:52] liggitt commented on #95010
GKE runs [its own signer](https://github.com/kubernetes/cloud-provider-gcp/blob/master/cmd/gcp-controller-manager/csr_signer.go), so this is likely environment specific.

[2020-09-24 14:56] eddiezane commented on #95011
Depending on our version of curl this may be related to https://github.com/curl/curl/issues/4409/ and https://github.com/curl/curl/issues/4624.

TLDR: Potentially fixed on curl 7.68.0. Need to find out which version we have.

[2020-09-24 15:25] harche opened #95034 "Incorrect SELinux labels for kubelet artifacts for node tests on Fedora CoreOS"
**Which jobs are failing**:
pull-kubernetes-node-crio-e2e

**Which test(s) are failing**:
N/A

**Since when has it been failing**:
N/A

**Testgrid link**:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/93486/pull-kubernetes-node-crio-e2e/1308737597702410240/artifacts/tmp-node-e2e-2f579b16-fedora-coreos-32-20200907-3-0-gcp-x86-64-system.log

**Reason for failure**:
[code]

**Anythin

[2020-09-24 15:25] harche commented on #95034
/sig node

[2020-09-24 15:25] harche commented on #95034
/assign @harche

[2020-09-24 15:31] TBBle commented on #48388
The error is correct. The [whole `spec.template` field is immutable](https://github.com/kubernetes/kubernetes/issues/89657#issuecomment-608224842), which is what it says.

[2020-09-24 15:35] eddiezane commented on #95011
We're on curl 7.64.0 and the above mentioned issue wasn't introduced until 7.67.0 so most likely unrelated.

[2020-09-24 15:36] RobertKielty commented on #95011
We need to find out what is triggering these jobs as when we look at them in test-grid there is no commit associated with the jobs. Screen shot to follow ...

[2020-09-24 15:36] eddiezane commented on #95011
![image](https://user-images.githubusercontent.com/959573/94167087-16211500-fe5a-11ea-9e68-da00ff67e0aa.png)

[2020-09-24 15:39] #79783 closed

[2020-09-24 15:40] arpitaashu commented on #70664
Hey Mihail, I satrt getting the similar alert (after 1 day). You mentioned change only in hostpath. what changes are required in --audit-log-path and -mountpath??

My current config:

      name: audit-log
      readOnly: false

     hostPath:
      path: /var/log/apiserver/audit.log
      type: FileOrCreate

[2020-09-24 15:47] mikedanese commented on #95010
URI SANs are supported by the core signers:

https://github.com/kubernetes/kubernetes/blob/2d9a0b64d11688c0c1fa42cda7423f5155c2fcb7/pkg/controller/certificates/authority/authority.go#L76

/close

[2020-09-24 15:48] #95010 closed

[2020-09-24 15:55] Riaankl commented on #94954
@Huang-Wei all APIs must have Conformance tests unless they are not eligible for Conformance due to the [rules](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements) There is other APIGroups that have both Replace and Update as endpoints. That is the prerogative of the SIG to decide.

[2020-09-24 16:01] kfox1111 commented on #43992
/reopen
/remove-lifecycle rotten

still relevant I think.

[2020-09-24 16:07] r3dback commented on #54542
that worked !! `swapoff -a'
All cluster Ready :)

[2020-09-24 16:13] jpbetz commented on #80513
No, I think I missed change going through :( I'm in favor of having the ability to compact as often as desired for whatever retention window is needed.

[2020-09-24 16:20] kfox1111 commented on #80228
--delete-emptydir-data would be far less scary.

[2020-09-24 16:24] #94697 closed

[2020-09-24 16:24] #93693 closed

[2020-09-24 16:27] aauren commented on #25533
@jayunit100 I agree, it says this was closed in favor of #46508 but that is for a different CIDR. That one is referring to the pod CIDRs and this one is referring to the service range CIDR.

I think that since k8s has this information it would be super helpful to have it supply it through the API rather than relying on side-effects (like this: https://stackoverflow.com/questions/44190607/how-do-yo

[2020-09-24 16:43] eddiezane commented on #82612
Closed via https://github.com/kubernetes/kubernetes/pull/86506

/close

[2020-09-24 16:43] #82612 closed

[2020-09-24 16:44] ahg-g opened #95037 "Graduate scheduler framework to GA"
The scheduler framework has been in development since 1.16. It was marked as alpha, but strictly speaking, the framework is not a feature that implements a new user-facing behavior, it is more of a restructuring of the scheduler's code base to allow developers more flexibility to add new functionality.

Since k/k isn't a library and doesn't offer any guarantees around the stability of the interfac

[2020-09-24 16:55] jchauncey opened #95038 "Run Linux Pause container as a non-root user"
**What would you like to be added**:
Run the linux pause container as non-root user

**Why is this needed**:
The image is being flagged by scanning tools as not setting a nonroot user in the image definition. While the image is based on scratch which provides some coverage from exploiting vulnerabilities in the image that may escalate privileges it is still a good practice to explicitly set the us

[2020-09-24 16:57] damemi commented on #95037
I agree with 1 and 3, but should we drop the versioning for the framework? It's probably unlikely that it will be drastically changed but maybe changing to `pkg/scheduler/framework/v1` would also signify the promotion to GA more?

I'm fine with doing it as proposed, just want to bring that possibility up

[2020-09-24 17:07] justaugustus commented on #95038
/assign
/sig release
/area release-eng dependency security
/milestone v1.20
ref: https://github.com/kubernetes/kubernetes/issues/70249, https://github.com/kubernetes/enhancements/issues/1729, https://git.k8s.io/enhancements/keps/sig-release/1729-rebase-images-to-distroless

[2020-09-24 17:09] vinaykul commented on #9043
We are revisiting the API changes that we previously thought were good. For details, please see https://github.com/kubernetes/enhancements/pull/1883

I hope to find some time in the coming weeks to refactor PR https://github.com/kubernetes/kubernetes/pull/92127 as per the above discussion and check the implementation for robustness (I'm about half-way done, but I have some higher priority work)

[2020-09-24 17:25] adam-power opened #95039 "Kubelet cannot determine CPU online state"
**What happened**:

Every 5 minutes, Kubelet on my Raspberry Pi logs the following error:

[code]

I think the error may be related to the fact that Raspberry Pi OS is compiled without the `CONFIG_CFS_BANDWIDTH` flag. See this Github issue for more info: https://github.com/raspberrypi/linux/issues/2298

I tried setting `cpuCFSQuota: false` in `/var/lib/kubelet/config.yaml` and restarting Kubelet,

[2020-09-24 17:25] adam-power commented on #95039
/area kubelet
/sig node
/kind bug

[2020-09-24 17:41] #87861 closed

[2020-09-24 17:46] olemarkus commented on #86812
/remove-lifecycle rotten

[2020-09-24 18:29] sethev commented on #92889
Yeah, it is.i just haven't found time to work on the KEP yet.

[2020-09-24 18:39] MHBauer opened #95041 "node-kubelet-serial test failing"
**Which jobs are failing**:
ci-kubernetes-node-kubelet-serial node-kubelet-serial job https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-node/node-kubelet.yaml#L236

**Which test(s) are failing**:
Hard to tell, but everything at one point or another.

**Since when has it been failing**:
A month or two, by recollection.

http://storage.googleapis.com/k8s-metrics/failure

[2020-09-24 18:44] MHBauer commented on #95041
/sig node

[2020-09-24 18:46] ahg-g commented on #95037
I am not sure what purpose that serves if we want to link the api version with k8s version.

[2020-09-24 18:46] MHBauer commented on #95041
/cc @SergeyKanzhelev

[2020-09-24 18:47] ahg-g commented on #94954
@Riaankl can you please point us to similar conformance tests used for core objects such as pods and nodes?

[2020-09-24 18:47] saiteja313 opened #95042 "Updating Service from LoadBalancer to ClusterIp is resulting with orphaned NLB in AWS"
**What happened**:
- When a Service in Kubernetes is updated from type `LoadBalancer` (NLB) to `ClusterIp`, Network Load Balancer and its resources (Target Groups and Worker nodes Security Group NLB ingress rule) were orphaned

**What you expected to happen**:
- NLB, Target Group, Worker nodes Security Group NLB ingress rule should be Deleted.

**How to reproduce it (as minimally and precisely as

[2020-09-24 18:54] saiteja313 commented on #95042
/sig cloud-provider

[2020-09-24 18:55] MHBauer opened #95043 "node-kubelet-benchmark flaking"
**Which jobs are flaking**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-benchmark

**Which test(s) are flaking**:
The create a bunch of pods test that is at the upper limit of resource capacity for the node.

**Testgrid link**:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-benchmark

**Reason for failure**:
Test output says timeouts. Last time this was the oomkiller killing the k

[2020-09-24 19:00] aojea commented on #88253
The Hierarchical network policy demo linked [in the mailing list discussion](https://github.com/kubernetes/kubernetes/issues/88253#issuecomment-695125131) is worth reading

https://docs.google.com/document/d/1tKQgtMSf0wfT3NOGQx9ExUQ-B8UkkdVZB6m4o3Zqn64/edit#

[2020-09-24 19:17] Riaankl commented on #94954
@ahg-g
This  is a life cycle test for Create, List, Update, Patch, DeleteCollection [PR#90939](https://github.com/kubernetes/kubernetes/pull/90939/files)
More can be found in the test/e2e folder.
Also look for examples on the Conformance [Project Board](https://github.com/orgs/kubernetes/projects/9?card_filter_query=promote) at previously Promoted Conformance test
Reach out if we can help with mor

[2020-09-24 19:36] saiteja313 commented on #95042
/sig aws

[2020-09-24 19:42] spiffxp commented on #94900
/assign
I'm going to take a crack at working from framework/master_utils.go out

[2020-09-24 20:04] sgissi commented on #85454
@humblec Was there a conclusion on this issue?

[2020-09-24 20:13] fedebongio commented on #94990
/assign @yliaog

[2020-09-24 20:13] fedebongio commented on #94990
/cc @cheftako @caesarxuchao

[2020-09-24 20:42] alculquicondor commented on #88093
/reopen

Actually, we moved the validation logic, but we are not using it in `ValidateKubeSchedulerConfiguration` yet.

[2020-09-24 20:43] alculquicondor commented on #88093
/help

This is not necessarily suitable for a new contributor, but I'm willing to guide. cc @pancernik just in case you still want to take it.

[2020-09-24 20:43] lavalamp commented on #94907
The closest approximation of the exact request above is to have in-flight exempt requests dynamically deduct the global concurrency value (the one set in the flag), but I'm not sure that's the right solution. The idea is that we want to pay for the requests up front, when the request which causes the self-requests is admitted.

We're currently thinking up a "width" concept to account for some requ

[2020-09-24 20:44] alculquicondor commented on #88093
/unassign @pancernik

[2020-09-24 20:57] #94703 closed

[2020-09-24 20:57] #94898 closed

[2020-09-24 20:57] #94999 closed

[2020-09-24 21:07] alculquicondor opened #95047 "Use errors.Is in PluginArgs validation tests"
/sig scheduling
/kind cleanup

Files:

- https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/validation/validation_test.go
- https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/validation/validation_pluginargs_test.go

We currently compare the error strings instead of leveraging `errors.Is`, which will ensure the correct types are used.

[2020-09-24 21:07] alculquicondor commented on #95047
/help
/good-first-issue

[2020-09-24 21:16] pancernik commented on #88093
I'm still on it.

/assign @pancernik
/remove-help

[2020-09-24 21:21] dims commented on #95038
/sig security

[2020-09-24 21:21] krol3 commented on #95047
/assign

[2020-09-24 21:22] ThisIsQasim commented on #89910
Looks like a duplicate of https://github.com/kubernetes/kubernetes/issues/74374

[2020-09-24 21:22] krol3 commented on #95047
I'd like to give a try :)

[2020-09-24 21:24] dims commented on #95038
@IanColdwater @tabbysable What do you think about this? Please also see the discussion in slack which seems to imply that we are just doing this to "making scanners happy"

https://kubernetes.slack.com/archives/C2C40FMNF/p1600966547015600

[2020-09-24 21:30] alculquicondor commented on #95047
assign to @pancernik for reviews

[2020-09-24 21:32] rikatz commented on #95029
Hello,

This is being implemented in https://github.com/kubernetes/kubernetes/pull/94028 and will be probably available in v1.20.

The PR that you've mentioned is related to the enhancements process of Kubernetes. Every new API change should pass through this process, the target release was v1.19 but unfortunately this hasn't shipped.

Also this is also mapped in https://github.com/kubernetes/kube

[2020-09-24 21:32] #95029 closed

[2020-09-24 21:35] dims commented on #95038
cc @tallclair

[2020-09-24 21:49] eddiezane commented on #95011
Slack thread [here](https://kubernetes.slack.com/archives/C7J9RP96G/p1600962219002000).

The "unknown" is the data not being reported back because the job fails in the early stages - safe to disregard as the cause here.

@BenTheElder believes this is Kubernetes network flakiness with the connection being reset.

The download is being retried 3 times (confirmed in the build log) and makes decent pr

[2020-09-24 22:24] jiahuif commented on #95038
There is no need to create a user just to use it with `USER`, use a uid is good enough.
[code]

Example run:
[code]

[2020-09-24 22:28] xtreme-sameer-vohra opened #95049 "HostToContainer Mount Propagation not working with StorageClass gce-pd"
**What happened**:
Pods with HostToContainer mount propagation do not receive existing overlay mounts on a GCP PD.

**What you expected to happen**:
Pods that are use `HostToContainer` value for `mountPropagation`, inherit the relevant mounts on the host.

**How to reproduce it (as minimally and precisely as possible)**:
We have one pod, mounter, that has a GCP PD where it creates overlay mounts.

[2020-09-24 22:30] xtreme-sameer-vohra commented on #95049
/sig storage

[2020-09-24 23:00] jchauncey commented on #95038
That's good to know. Not sure why I've never tried it or if I had it might not have worked then. Have some places I can clean this up 👍

[2020-09-24 23:39] nan-yu opened #95050 "precondition check failure for CRDs"
**What happened**:

The API server returned the following error when applying the custom resources on a Kubernetes cluster (1.15.12) :
[code]

**What you expected to happen**:

The object to be applied successfully

**How to reproduce it (as minimally and precisely as possible)**:

I was using Config Sync to automatically apply the resource. I'm not sure how to check the API server errors if apply

[2020-09-24 23:48] nan-yu commented on #95050
/sig api-machinery

[2020-09-24 23:53] #90908 closed

[2020-09-24 23:54] WilliamABradley opened #95051 "HorizontalPodAutoscaler: Prevent Scale Down based on a separate metric"
**What would you like to be added**:

Ability to prevent down scaling based on a Condition, this is a feature that is supported in AWS ASGs where you can define a downscale condition.

It could look something like:

[code]

This would mean: _Scale down if **activeJobs** has been 0 for 60 seconds_

If this is achievable in the upcoming 1.18 release, let me know :)

**Why is this needed**:

I am usi

[2020-09-24 23:55] WilliamABradley commented on #95051
/sig autoscaling

[2020-09-24 23:57] msau42 commented on #95049
@kubernetes/sig-storage-bugs
cc @jsafrane do you know if mount propgation works on another mount, or is it only the root directory?

[2020-09-25 00:49] tallclair commented on #90533
@enj what did you have in mind? It doesn't look like the the x509 authenticator adds any annotations today. Would you just expect an annotation indicating that the cache was used to validate it?

[2020-09-25 01:00] dims commented on #94901
/good-first-issue

[2020-09-25 01:01] dims commented on #94892
/good-first-issue

[2020-09-25 01:03] dims commented on #94696
/good-first-issue

[2020-09-25 01:03] dims commented on #94695
/good-first-issue

[2020-09-25 01:10] dims opened #95052 "Fixup bugs in the upstream OpenAPI spec"
The folks maintaining the Rust Kubernetes API client have noted some discrepencies in our spec. Details are here:

- https://github.com/Arnavion/k8s-openapi#works-around-bugs-in-the-upstream-openapi-spec
- https://github.com/Arnavion/k8s-openapi/blob/master/k8s-openapi-codegen/src/fixups/upstream_bugs.rs
- https://github.com/Arnavion/k8s-openapi/blob/master/k8s-openapi-codegen/src/supported_versio

[2020-09-25 01:11] dims commented on #95052
/sig api-machinery

[2020-09-25 01:11] dims commented on #95052
/good-first-issue

[2020-09-25 01:13] dims commented on #94428
/good-first-issue

[2020-09-25 01:14] dims commented on #94240
/good-first-issue

[2020-09-25 01:15] dims commented on #94091
/good-first-issue

[2020-09-25 01:46] SataQiu commented on #94695
/cc

[2020-09-25 02:07] tanjunchen commented on #94901
test/e2e/framework/ingress/ingress_utils.go
test/e2e/framework/node/resource.go
test/e2e/framework/node/wait.go
test/e2e/framework/ssh/ssh.go

These files have been modified.

[2020-09-25 02:43] pacoxu commented on #92232
![image](https://user-images.githubusercontent.com/2010320/94220562-cdca2b80-ff1b-11ea-87cc-2204aa90bf4c.png)

@apelisse

[2020-09-25 03:07] felipeschossler commented on #40413
I found the same thing @natanielmendes, you found some explanation about this?

[2020-09-25 04:24] liggitt commented on #95050
Thanks for the report, but 1.17.x is the oldest version still receiving OSS support. If this can be reproduced on that version or newer with details about the Kubernetes API calls/responses, we can investigate this further.

/close