[2015-03-27 04:11] ArtfulCoder opened #6042 "salt script for kubelet default file does not run correctly on master"
The salt template cluster/saltbase/salt/kubelet/default does not correctly get specialized.
The ipaddress is not found.
This causes kubelet to start without the api server specified on the master.

this can be verified by running "salt-call --local state.highstate" on the master node.

[2015-03-27 04:20] bgrant0607 commented on #2726
I had hoped that all status would be posted via subresources in the v1 API. Right now the API is in an intermediate state. I think finishing the remaining resources is mainly additive and therefore wouldn't need to be done for 1.0. Whether via a subresource or via posting the full resource is mostly an implementation detail. What matters for clients is the ability to watch status changes, which ju

[2015-03-27 04:22] thockin commented on #6042
I don't see an ipaddress var in there?  Can you post the actual error?

On Thu, Mar 26, 2015 at 9:12 PM, Abhi Shah <notifications@github.com> wrote:

[2015-03-27 04:47] thockin commented on #2316
1) Are we talking about this as part of "env" or as a new block in the API?

2) Do we support "$pod.metadata.name" as well as setting env vars from other env vars?  Or just the magic JSON path?

3) Do we support "foo_${K8S_POD_NAME}_bar" => foo_mypod_bar sorts of constructs or just whole values?  What syntax for JSON  path?

4) JSON path feels more magical to me, or we need to define a set of "roo

[2015-03-27 05:07] thockin commented on #5921
Do we really need breakage?  Can't we just define a different port or
service and deprecate kubernetes_ro?

On Thu, Mar 26, 2015 at 1:56 PM, David Eads <notifications@github.com>
wrote:

[2015-03-27 05:08] ArtfulCoder commented on #6042
without the changes in this PR, we encounter the following error.

Because kubelet runs without the api-server flag, due to the following error,  kubelet does not function correctly or not function at all. (i.e. containers dont get refreshed etc)

----------
          ID: /etc/default/kubelet
    Function: file.managed
      Result: False
     Comment: Unable to manage file: Jinja variable list ob

[2015-03-27 05:11] ArtfulCoder commented on #6042
#6043

[2015-03-27 05:28] brendandburns commented on #4083
I'm seeing more errors (for v1beta1 at least), https://github.com/emicklei/go-restful/pull/199 fixes part of it.

[2015-03-27 05:31] roberthbailey commented on #5241
If we only want to allow re-sizing of the cluster by adding nodes to a MIG then that would make sense. What happens down the road when we want to allow you to add a second MIG to your resource pool? Which one updates the TargetPools? Both of them? What happens when we want to support bring-your-own-node? Some of them won't be part of a MIG, but we still want them to be part of the TargetPool.

It

[2015-03-27 05:32] brendandburns commented on #4083
Concretely, I'm currently seeing:

[code]

[2015-03-27 05:32] brendandburns commented on #4083
The annotations and labels are due to not handling generic maps correctly, I need to see what the right Swagger thing is to do there...

[2015-03-27 05:40] roberthbailey commented on #5921
Another alternative: Instead of creating a proxy on each node, create a proxy that we build into a docker image that can (optionally) be deployed in a pod along with a service that exposes a read-only http endpoint. This gives folks an easy transition path from http -> https but makes the default cluster installation only use secure communications to the master.

[2015-03-27 05:46] thockin commented on #4852
I'd still like to see a health-check for DNS, but I am not sure what is
appropriate, though.  Maybe have kube2sky open an HTTP server and answer
/healthz iff it can complete a non-existing DNS query?

Better ideas?

It seems the collected other fixes add up to a more stable DNS server?

On Thu, Mar 26, 2015 at 4:51 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2015-03-27 05:47] thockin commented on #4651
Demote is fine, I just file them as I find them

On Thu, Mar 26, 2015 at 4:15 AM, gmarek <notifications@github.com> wrote:

[2015-03-27 05:53] brendandburns commented on #4083
with emicklei/go-restful#199, we are down to:

[code]

I think the remaining Models aren't there because they are pointers...  I'll look into fixing that tomorrow.

[2015-03-27 06:05] thockin commented on #5129
clone and customize, but yes :)

On Wed, Mar 25, 2015 at 10:48 AM, Justin Santa Barbara <
notifications@github.com> wrote:

[2015-03-27 06:18] bgrant0607 commented on #4083
ResourceList (despite the name) is also a map.

[2015-03-27 06:42] thockin commented on #5770
I really think doing this without Docker would be a bad idea :)

On Tue, Mar 24, 2015 at 11:14 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-27 06:54] daizuozhuo commented on #4348
@bgrant0607 I have submitted my [proposal](https://docs.google.com/document/d/14QkxGQ-4D9I0Qwqi0k0lHLax4jfUc-kt8akFsj8svyQ/edit?usp=sharing). Since implementing all features of jq may overload for this summer, I select the most useful part of them so that we can use it immediately. Of course, I will add more features if time is permitted. Do you have any suggestions? By the way, how to find a ment

[2015-03-27 06:57] bgrant0607 commented on #4121
This is a performance optimization. Persistence is not absolutely required. You could start by accumulating it in memory.

However, it will be persisted by apiserver. We could maintain a delta over the last value sent to apiserver.

[2015-03-27 06:57] bgrant0607 commented on #2316
1. New block in the API.
2. For the downward API, just json paths. Not really "magic", since they'd be in a separate api block.
3. Just whole values. Fancier expansion would have to be done using standard envvar expansions.
4. The goal would be to make it consistent with other parts of the API, such as field selection and perhaps templating in kubectl and elsewhere. The references would at least u

[2015-03-27 07:06] dchen1107 opened #6045 "integration test flaky due to missing endpoints"
I0327 07:02:03.729736     732 integration.go:287] default/service2 endpoint: 1.2.3.4:1234 &api.ObjectReference{Kind:"Pod", Namespace:"default", Name:"foo", UID:"2823d7fd-d44f-11e4-9efc-02420a0000c3", APIVersion:"", ResourceVersion:"186", FieldPath:""}
I0327 07:02:03.730711     732 integration.go:283] Error on creating endpoints: endpoints "service1" not found
F0327 07:02:03.730752     732 integrat

[2015-03-27 07:08] bgrant0607 commented on #4852
@piosz I assume this is about adding liveness probes to one or more of the containers in the dns pod:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/addons/dns/skydns-rc.yaml.in

Is dig in the skydns image? We could use an exec probe to perform a DNS query.

[2015-03-27 07:28] dchen1107 opened #6046 "HEAD: regression on updating pod status by kubelet"
I suspected this is a regression introduced by #5854.

I observed a pod was restarted and stuck at PENDING phase for a long time (Don't know the reason why it is restarted at the first place, but that is a separate issue)

[code]

ssh to the machine, I found both containers are running happily on the machine:

[code]

Checked kubelet's log, I found kubelet bailed out on generating PodStatus becaus

[2015-03-27 07:28] wojtek-t commented on #3952
cc @fgrzadkowski
I also started some experiments yesterday and I don't think that PR's mentioned above are fixing the problem. Basically what I observed was: scheduling is quite fast, but starting pods is pretty slow - I will try to provide more detailed numbers soon.

[2015-03-27 07:30] bgrant0607 commented on #2502
Host networking (#175) is another example.

[2015-03-27 07:43] dchen1107 opened #6047 "Need a health / liveness check for master component pod"
#5011 is going to put all master components into a pod for v1 release. When any master component container exit, Kubelet will restart it. But sometimes, the component might be stuck somewhere unhealthy without being terminated. In such case, we need to

1) detect such problem
2) kill bad container and restart it
3) generate status / events related to such failure
4) alert?

@bgrant0607 @thockin @b

[2015-03-27 08:55] fgrzadkowski commented on #3952
I think there are two separate things:
1. How fast the container is actually started
2. How fast is the container/pod reported once it is started.

#5555 + #5714 help for 2), but they do not help for 1).

[2015-03-27 09:14] supirman commented on #561
Hi, I am master student who want to apply to GSOC. I am interested with this problem. And I had project  that involving nginx as load balancer and reverse proxy in the past. Can this be implemented using nginx?

[2015-03-27 09:44] piosz commented on #6046
cc @fgrzadkowski

[2015-03-27 09:45] piosz commented on #6036
closed by #6037

[2015-03-27 09:46] piosz commented on #6036
closed by #6037

[2015-03-27 09:46] #6036 closed

[2015-03-27 09:54] fgrzadkowski commented on #6046
That' interesting. kubelet bug comes from GetHostIP() function. It reads cached Node and parse it's addresses. Apparently Nodes does not have any addresses reported in status field. Is that expected?

Pod_cache just ignored missing HostIP, so I'll send a PR to have a similar logic in kubelet.

[2015-03-27 11:24] rrati commented on #5927
@dchen1107 Why wouldn't this be a blocker?  The core problem, imo, is that the state in the master isn't the actual state of the system.  If the master says a pod is running but that pod isn't actually running or is crashing, that's a big deal.  Are you saying the state issue will be resolved for 1.0 but not necessarily by exposing container failures in events?

[2015-03-27 11:25] piosz commented on #5545
fixed by #5725

[2015-03-27 11:28] gmarek opened #6052 "NodeController should use Watch instead of periodically pull data from API server"
I should be done at some point, but I don't think it's needed for v1.0

[2015-03-27 11:28] fgrzadkowski opened #6053 "kubectl error for large cluster"
I set up large cluster (90 nodes). Few times I've noticed the following error:

$ ./cluster/kubectl.sh get pods
current-context: "ivory-honor-865_e2e-test-filipg"
Running: ./cluster/../cluster/gce/../../cluster/../_output/dockerized/bin/linux/amd64/kubectl get pods
F0327 12:25:31.913390   26283 get.go:70] Error: Get http://127.0.0.1:4001/v2/keys/registry/pods/default?quorum=false&recursive=true&so

[2015-03-27 12:08] cnaize commented on #5987
And how we supposed to secure `etcd`?
`kubelet` listening `etcd` by `http`, everyone can delete all data from it.
And as I understood, our `pod`s can corrupt `etcd`'s data from inside too.

[2015-03-27 12:59] pmorie commented on #2316
@bgrant0607 I had intended to start with the command / args work, and was distracted by the shininess of env substitution.  Luckily, they're orthogonal; I'll make a PR for the args work later today (I think).

[2015-03-27 13:31] smarterclayton commented on #2316
I kind of like the "alternate value" field on the env var struct.  Having to explain two orderings to users seems excessive:

[
  {
    Name: "FOO",
    Value: "",
    Generated: "$.pod.blah.baz",
  }
]

One minor point in its favor is that a naive client knows "FOO" is set, and can read it as empty if they don't understand generated, and the output would have FOO= which is exactly what you would

[2015-03-27 13:34] smarterclayton commented on #561
It could, although we would prefer a solution that is generic to load balancers.  The OpenShift route concept and mechanism is mostly fully implemented and integrates now with HAProxy and F5 automatically, and has a generic template mode for any other router.  I think that a lot of the work for this has really been done, and it's a matter of defining how we evolve the service api and then moving t

[2015-03-27 13:42] zmerlynn commented on #6042
I pointed out a different way to handle it in the PR: I don't think you need to specialize here, just set the grain correctly on the master.

[2015-03-27 13:48] zmerlynn commented on #5241
I'm actually with Robby here. I'm happy to use MIG for all it gets us:
scaling of a template, possibly health checks, etc, but at the end of the
day, the k8s master is the shepherd.
On Mar 26, 2015 10:31 PM, "Robert Bailey" <notifications@github.com> wrote:

[2015-03-27 14:02] wojtek-t commented on #6053
This is not related to kubectl - while running soem performance tests, I'm observing that error in Kubelet logs, e.g.:
E0327 13:41:40.496608    4712 kubelet.go:1729] error updating node status, will retry: error getting node "e2e-test-wojtekt-minion-0jxm.c.groovy-sentry-504.internal": Get http://127.0.0.1:4001/v2/keys/re
gistry/minions/e2e-test-wojtekt-minion-0jxm.c.groovy-sentry-504.internal?quor

[2015-03-27 14:03] simon3z opened #6055 "Transactions for Entities and Event Recordings"
It should be possible to update an entity and record events about interesting changes in a transactional fashion.

For example at the moment:

[code]

Which means that if the controllers are crashing between record_event and update_entity the event(s) are recorded but the entity is not updated, leading to the re-generation of the same events once the controller is up again.

It should be possible

[2015-03-27 14:04] wojtek-t commented on #6053
BTW, the 4001 port suggests this might be a problem with etcd

[2015-03-27 14:06] gmarek opened #6056 "es_cluster_logging e2e test is flaky"
It failed 3/4 times I run it, twice on head, and once with my changes (hence I assume it's not caused by changes in my client). I can't look at the history as Jenkins is down as well...
[code]

[2015-03-27 14:09] pmorie commented on #2316
@bgrant0607 @smarterclayton @thockin

If we want to do this, I suggest we choose a sigil that is easily distinguished from all forms of env substitution.  I like the syntax `$.pod.bla` the best of what's been proposed so far.  So, say that `$.` is the sigil to begin a downward API expression.  After that we can have different API areas:

1.  `pod`
2.  `services`
 etc.

[2015-03-27 14:12] kelseyhightower commented on #5962
@roberthbailey Is the goal to run a single etcd instance private to the Kubernetes API server?

[2015-03-27 14:15] gmarek commented on #5953
@wojtek-t @fgrzadkowski as they are looking at performance now.

[2015-03-27 14:17] kelseyhightower commented on #5863
@thockin Right, the cloud-config setup flannel and we should update the guide to call that out.

[2015-03-27 14:19] wojtek-t commented on #5953
Does it make sense to update NodeStatus every 2 seconds? IIUC, NodeStatus is mostly used to restart pods on a different node if that node is somehow dead (and to avoid future scheduling on it). If so, since we're updating pod status every 10 seconds, I think it doesn't make sense to update NodeStatus so often (or if we want to update NodeStatus so often, we should increate how often pod status is

[2015-03-27 14:20] zmerlynn commented on #5962
Kelsey - Yeah, that's the goal. (This obviously might differ on Core
setups, but you still could imagine having a separate etcd just for
separation of concerns between fleet / k8s.)
On Mar 27, 2015 7:12 AM, "Kelsey Hightower" <notifications@github.com>
wrote:

[2015-03-27 14:20] bgrant0607 commented on #2316
@smarterclayton Makes sense. For static values, I could see them being filled in during defaulting or late initialization. Would we allow values that change?

[2015-03-27 14:21] bgrant0607 commented on #2316
@pmorie I picked up the `$.` from some jsonpath examples. I'd like to follow some reasonably standard convention, if possible.

[2015-03-27 14:22] bgrant0607 commented on #2316
If we're going to use this approach, someone should look for a jsonpath spec.

[2015-03-27 14:27] pmorie commented on #2316
Detailed plan for changes for `Command` and `Args`:

1.  Add `Args` field; it will set the docker `Cmd`
2.  Make `Command` field set the docker `Entrypoint`
3.  Percolate through different API versions
4.  Changes to Kubelet for behavioral changes (basically one line)
5.  E2E tests to capture these behaviors

This will be a breaking API change for users of images with entrypoints; they will have t

[2015-03-27 14:34] zmerlynn commented on #5953
A measly 50qps to update node status on a 100 node cluster really doesn't
sound hard, but 2s refresh for mostly static state is probably unnecessary
as well. Do we infer node liveness from pod status updates as well? It
seems reasonable to (and possibly piggyback NodeStatus on those messages,
since it's probably cheap to collect).
On Mar 27, 2015 7:20 AM, "Wojciech Tyczynski" <notifications@github

[2015-03-27 14:39] wojtek-t opened #6059 "Scheduler & Kubelet are not responding immediately on work to do"
While running performance tests (start 30 pods per node in 50 nodes cluster) I faced the following problem.

1. Create replication controller and resize it to 1500. I saw the following logs:
I0327 14:45:09.036772   14025 density.go:109] Controller my-hostname-density30-7bb294b4-d487-11e4-9336-a0481cabf39b: Found 0 pods out of 1500
I0327 14:45:16.918259   14025 density.go:109] Controller my-hostnam

[2015-03-27 14:39] derekwaynecarr commented on #5987
cc/ @liggitt

[2015-03-27 14:47] gmarek commented on #5953
I don't think that Pod Statuses impact Node liveness in any way.

To make sure I correctly understand what you wrote: you suggest to use PodStatus updates as a signal that Node is responsive, as both Node and Pod Statuses are updated by Kubelet. Right?

I don't think it's possible (read: it's too complicated) after @fgrzadkowski change, which makes PodStatus updated to be sent only when it changes

[2015-03-27 14:49] jsafrane commented on #5659
AFAIK running a NFS server as a pod is impossible for two reasons:

1) NFS needs at least two ports. 111/udp (or tcp; portmap) and (usually) 2049/tcp (NFS). More ports may be needed for rpc.mountd, rpc.lockd, rpc.statd, rpc.rquotad, rpc.idmapd etc. For now, kubernetes can't handle one service with two or more ports. Tracked as #1802.

2) NFS clients need to know IP/hostname of the service in advan

[2015-03-27 14:57] wojtek-t commented on #6059
My feeling is that it might be related to some watch issues.

BTW - since I wouldn't be able to work on it today, feel free to pick it up. If noone picks it up, I can start looking into it on Monday.

[2015-03-27 15:09] pmorie commented on #2316
Some info from digging I did this morning:

1.  The `$.` sigil will not work correctly with `os.Expand`: http://play.golang.org/p/QXYEv03nnL
2.  There does not seem to be a robust JSONPath spec; the implementations I've seen in a few minutes of searching all seem to refer to [this collection of blog posts](http://goessner.net/articles/JsonPath/) as the spec.
2.  JSONPath is fairly complex; if we d

[2015-03-27 15:11] justinsb opened #6061 "Suspicious logic in proxier.go"
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/proxier.go#L480-L483

I think this is:
[code]

I think the !D can never be a factor in the second if statement.  !D only comes in to play if A & B & C, but in that case the first if statement would have been hit.

I'm thinking that the first if statement should be `if A & B & C & D`.  And that then we can just reduce the secon

[2015-03-27 15:13] justinsb commented on #6061
Ah - it looks like https://github.com/GoogleCloudPlatform/kubernetes/commit/909f82f463180dd360a2108aa525547ea603b05c went in around the same time, and removed a condition (`info.isActive()`) from the first if statement.  So that's probably how this happened.

[2015-03-27 15:18] vmarmol commented on #5770
Sorry, I was referring to having tags for other archs in the Docker Hub. We
won't use them by default, but they're there for others who may want to use.

On Thu, Mar 26, 2015 at 11:42 PM, Tim Hockin <notifications@github.com>
wrote:

[2015-03-27 15:19] smarterclayton commented on #2316
I've linked a few JSONPath implementations but none of them are what I consider baked.

With regard to testing, full unit coverage and well organized Kubelet code is the key problem.  E2e should test a few of the slices.

[2015-03-27 15:36] thockin commented on #2316
This model precludes changing env to a map, ever.

On Fri, Mar 27, 2015 at 6:32 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-27 15:40] thockin commented on #2316
I don't understand the matrix.

image ENTRYPOINT/CMD = Dockerfile?

what is container Command/Args - what we put in the API?

what is docker entrypoint	/cmd

[2015-03-27 15:42] pmorie commented on #2316
@thockin You are correct on all counts.

[2015-03-27 15:42] gmarek opened #6063 "Move NodeStatus update to subresources"
I started to do it today, but I didn't manage to finish it.

[2015-03-27 15:43] thockin commented on #2316
What is docker entrypoint/cmd ?

[2015-03-27 15:44] satnam6502 commented on #6059
/sub

[2015-03-27 15:44] pmorie commented on #2316
@thockin

I had not thought of that, but I agree.  If we decided we wanted to go with a subset of JSONPath, I would want the rules to be that we will treat a leading `$.` (maybe with a kubernetes-specific prefix? theoretically there's a collision with a valid JSONPath thing you would want to store in an env var and what our syntax would be) as the only way to do expansion, and just use the normal

[2015-03-27 15:56] pmorie commented on #2316
@thockin My bad, 'docker entrypoint/cmd' is the entrypoint and container of the actual docker container created

[2015-03-27 15:59] thockin commented on #2316
Thoughts on matrix:

1) make sure to cover entrypoint/command being multi-element arrays

2) do we want to cover Dockerfile's plain-string (non-array)mode for ENTRYPOINT
and CMD?  It's busted, IMO.

3) Setting `Command` in our API and absorbing CMD from dockerfile is weird.
Maybe we should say: if you set `Command` in our API, but not `Args`, we will
blank-out CMD to Docker.  A quick test convince

[2015-03-27 16:00] pmorie commented on #2316
@thockin

and CMD? It's busted, IMO.

Please god no

[2015-03-27 16:00] thockin commented on #2316
That's why I (slightly) prefer a different API block - no escaping rules

[2015-03-27 16:00] bprashanth commented on #6059
I can only reproduce tail latency (https://github.com/GoogleCloudPlatform/kubernetes/issues/3954). @wojtek-t are your performance tests checked in so I can play with them (preferably with cluster setup instructions)?

[2015-03-27 16:06] thockin commented on #6061
I agree with your assessment and solution.

[2015-03-27 16:11] thockin commented on #5659
to 1) it is possible to fake this with two services, but multi-port is
coming soon (O(days))

2) You can spin up your NFS server with a static IP or we should make sure
hostnames work in nfsMount (which should probably just be called nfs,
actually)

We definitely set up DNS for services.

On Fri, Mar 27, 2015 at 7:49 AM, Jan Šafránek <notifications@github.com>
wrote:

[2015-03-27 16:30] bgrant0607 commented on #2316
I don't see us ever changing env to a map.  It's not worth it.

Whether a separate field like Generate or a different API block, I don't see why we need escaping. I don't think we should support arbitrary expansion, just straight copying of the specified field.

As for Command/Args in v1beta1/2 -- maybe introduce a new Entrypoint field and leave Command as is? Hopefully these versions will be gone

[2015-03-27 16:34] erictune commented on #5987
If your kubelet is listening to etcd, then you are using an out-of-date cluster setup.
Which getting-started-guide did you use, and when?
New clusters have kubelet talking over SSL to the master.  Nothing uses etcd.

[2015-03-27 16:38] thockin commented on #2316
If we overlap the same API block, we need escaping.  what if I want
literally FOO="$.pod.metadata.name" - don't interpret it.  I need to a) be
able to escape the $ and b) know that I need to and c) know how to.

On Fri, Mar 27, 2015 at 9:31 AM, Brian Grant <notifications@github.com>
wrote:

[2015-03-27 16:43] smarterclayton commented on #2316
I think that's a good thing, because order always matters in ENV resolution.

----- Original Message -----

[2015-03-27 16:44] smarterclayton commented on #2316
My proposal though was there were two fields in the EnvVar, one for normal, unqualified escaping (handled by docker), and one for generated / downward api fields.  The two were exclusive, and non-overlapping.

----- Original Message -----

[2015-03-27 16:46] thockin commented on #2316
...which is just a different factoring than being in a different API block,
but precludes ever doing a map.  It annoys me that our env is not a map.  I
know Brian thinks we'll never convert, but I am more hopeful.

I'm fine either way - we can always rev the API later :)

On Fri, Mar 27, 2015 at 9:44 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-03-27 16:57] thockin commented on #4852
duh, exec probe is obviously better :)  But it doesn't need to get a name,
it just needs to complete and not hang.

so something like sh -c "alarm 5 nslookup foobar" maybe?

On Fri, Mar 27, 2015 at 12:08 AM, Brian Grant <notifications@github.com>
wrote:

[2015-03-27 16:59] erictune opened #6067 "Secure etcd for all distros. Etcd-in-Pod for apiserver."
On all salt distros except redhat, etcd appears to use public IP for the client port (4001).

(There is still some possible cleanup to do in cluster/saltbase/salt/kube-apiserver/default to hardcode this.  See zmerlyn's comment.)

On some non-salt distros,  it accepts clients on the public address of the master node.
Some people may want this since they are running flanneld too.
I suggest that we s

[2015-03-27 17:01] erictune commented on #5987
The GCE distro has the client port using 127.0.0.1.  It has no peer port.

Some other distros have unprotected client and/or peer ports.

I filed #6067 about bringing the other distros up to that standard.

[2015-03-27 17:04] rrati commented on #5545
@piosz Yes, that is the PR that fixes this issue.

[2015-03-27 17:16] pmorie commented on #2316
@thockin I am surprised given your general distaste for env vars that would would want to make that big of an API change around them :)

[2015-03-27 17:17] fgrzadkowski commented on #6059
I've seen similar problem but in my case scheduler never noticed new pods. Investigating...

AFAIU @wojtek-t has a similar setup to mine:
* e2e cluster with 50 nodes n1-standard-1, master n1-standard-4.
* running density test with 30 pods per node.

[2015-03-27 17:18] #5545 closed

[2015-03-27 17:25] bgrant0607 commented on #2316
@smarterclayton has a good point about ordering.

[2015-03-27 17:27] lavalamp commented on #4958
I agree with what @nikhiljindal said, I just want to clarify that it's not necessarily a "broken" client, just one with different expectations. Adding the 301 redirect seems like an easy way to satisfy such clients and reduce user pain.

[2015-03-27 17:35] lavalamp commented on #6013
Yeah we'll have to make a wrapper type to make json encode/decode call Duration.String() and ParseDuration().

[2015-03-27 17:38] dchen1107 commented on #6067
#5011 is the one targeting for v1.0

cc/ @lavalamp who is a different proposal beyond v1.0

[2015-03-27 17:43] ddysher commented on #5953
NodeStatus needs not to be updated every 2 sec, but heatbeat message should.  Currently node controller has no interaction with node, everything is observed from apiserver, is that intentional?  Instead, Node controller can open a long-lived connection with each node, with 2sec heatbeat from kubelet.  We can have a different NodeStatus update period from kubelet to apiserver.  Node controller need

[2015-03-27 17:47] wojtek-t commented on #6059
Yes - I Filip wrote, I'm using Density e2e test, to start 30 pods per node (see also #6051).

Also note that this is not happening all the time - it's just kind of "flakiness"

[2015-03-27 17:48] lavalamp commented on #6013
I filed https://github.com/golang/go/issues/10275 on the off chance that we code get this working by default.

[2015-03-27 17:50] zmerlynn opened #6070 "Document "Salted gunk""
We need to document all the configuration derived by Salt. Ideally this would be a markdown doc that we kept as live documentation within the project. The main reasons to bother:
* It's hard right now for anyone approaching the `cluster/saltbase` directory to get a big picture view of what's is going on, especially across providers.
* If we ever want to do something disciplined w.r.t. upgrade betw

[2015-03-27 17:53] thockin commented on #2316
One of the things that annoys me more than env vars is awkward APIs :)

[2015-03-27 17:54] thockin commented on #2316
Why does order matter?  We don't do cross-env resolution (AFAIK)

[2015-03-27 17:57] dchen1107 commented on #6014
cc/ @rrati

[2015-03-27 18:15] ddysher commented on #5659
Going to take a look at this issue if no one is already working on it.

[2015-03-27 18:18] satnam6502 commented on #5876
Seems to be working now.

[2015-03-27 18:18] #5876 closed

[2015-03-27 18:21] ddysher opened #6072 "Node IPAddresses is not refreshed"
Node IPAddresses is part of node status.  It is previously read from cloudprovider and posted by node controller.  Now that we post node status from kubelet, which doesn't include ip address, it means we never refresh them.

The initial IPAddress is posted from node controller at cluster startup.

We can either:
1. post ip addresses from kubelet too
2. post ip addresses from node controller, merge

[2015-03-27 18:25] roberthbailey commented on #6067
@erictune When I looked into this just a few days ago, I found etcd listening on all interfaces. The salt configuration is confusing (some of it says 127.0.0.1 and some says 0.0.0.0) and #4654 by @davidopp also makes it look like we are listening on all interfaces on GCE.

[2015-03-27 18:27] ddysher opened #6073 "Remove nodeInfo endpoint from kubelet"
/nodeInfo endpoint is added for nodecontroller to pull node info from kubelet.  We need to evaluate if it's still necessary to keep it given this #6005

NodeInfo is also confusing in our api object

[code]

@davidopp @bgrant0607 @gmarek

[2015-03-27 18:27] smarterclayton commented on #6013
And unfortunately when we do that JSON starts showing the field automatically even with omitempty because the JSON encoder has a structured list of types.  So you get a lot of "foo": "", showing up.  Definitely hit the limits of the JSON stdlib now.

----- Original Message -----

[2015-03-27 18:34] mbforbes opened #6075 "Master upgrades"
This is the worklist item for a minimum viable master upgrade mechanism for 1.0. Other issues will improve upon the feature spec'd here.

### Minimum requirements:
- provider: **G*E**
- in-place: **no** (can request new node / disk)
- language: **bash**

### Plan:
- mechanism: **out-of-band** (not on master)
- provider: **GCE, then GKE**

### Outline:
0. Stop master VM
0. Blow away boot PD but pre

[2015-03-27 18:34] alex-mohr commented on #5241
* I think it's fine to *allow* nodes to be provisioned via MIGs, but not to *require* that all nodes be part of a MIG (users able to bring their own nodes is important)
  * And especially not to require there to be just 1 MIG (we need heterogenous machine types soon too)
* As we add more options to services (e.g. different affinities, different health checks, different other parameters), the numbe

[2015-03-27 18:39] dchen1107 opened #6076 "kubectl descrbe pods id should include containers information"
Kubectl describe pods id only has top level pod information, without any information related to containers. Taking kube-dns pod as an example, which has 3 containers specified:

[code]

If a pod with RestartAlways policy, but all contianers are in crashloop, the user cannot interpret the true state based on above information. Proposed to include ContainerStatus here.

[2015-03-27 18:42] ddysher opened #6077 "Need reconciliation loop for node schedulable"
Node controller stops posting node status, which means it also stops posting node schedulable bits.  What this implies is that when user mark a node unscheduable, it will never work, scheduler will still schedule pods on it, because node status is not updated by node controller anymore.

We need to merge status from node controller and kubelet.  node controller still syncs node, only if its observ

[2015-03-27 18:42] ddysher commented on #6077
@davidopp @bgrant0607 @gmarek

[2015-03-27 18:44] yujuhong commented on #6059
To isolate the performance kubelet more, I ran a simple test which resized the RC to create pods with `PodSpec.Host` set to a specific node. This bypassed the scheduler completely.

In short, it took ~30 seconds for 30 pods to be reported running on one node. This includes:
 - RC creates 30 pods
 - Kubelet receives pod updates from watch
 - Kubelet starts containers (I used kubernetes/pause images

[2015-03-27 18:46] dchen1107 commented on #3333
Based on the recent discussion with cluster-lifecycle team, this is a stretch goal for v1.

[2015-03-27 18:49] dchen1107 commented on #490
We are running master components in pod, which resource usage will be picked up by cAdvisor and heapster automatically. But we need put kubelet, kube-proxy and docker to cgroups, so that cAdvisor can monitor their usages. cc/ @vmarmol

[2015-03-27 18:50] a-robinson opened #6078 "Babysitting for kube-controller-manager and kube-scheduler"
We appear to have monit babysitting of all processes other than the kube-controller-manager and kube-scheduler that run on the master. Is there any reason we don't have it for them?

@dchen1107

[2015-03-27 18:52] dchen1107 commented on #3333
My bad. This one is for 1.0, I will move sibling one #1573 to v1.0-bubble

[2015-03-27 18:53] davidopp commented on #6077
Shouldn't the scheduler be using the Unschedulable bit in NodeSpec to decide whether a node is eligible for scheduling, rather than using NodeSchedulable condition?

(BTW @bgrant0607 had suggested in another thread that "NodeSchedulable should really be an ACK that Kubelet saw the spec bit" which I interpret to mean Kubelet should be posting NodeSchedulable, which would fix this problem. But I sti

[2015-03-27 18:53] dchen1107 commented on #156
Should we close this one?

[2015-03-27 18:55] ddysher commented on #6077
We can also post the condition from kubelet BTW

[2015-03-27 18:59] mbforbes opened #6079 "Node upgrades"
This is the roll-up issue for node upgrades. It contains the following issues:
- a minimum viable node upgrade mechanism for 1.0
- improvements upon the basic mechanism
- previous ones that discuss cluster upgrades and provisioning tools

Here are the details of our initial requirements for upgrade mechanisms:
- mechanism: **out-of-band** instead of on the master
- configuration: **salt** instead

[2015-03-27 19:03] ddysher commented on #6077
Right, I the fix should be kubelet posting schedulable condition.  We've also discussed somewhere that node controller can merge the conditions.

Having scheduler looks at just status makes more sense to me. It provides a uniform view of node status to action on.

[2015-03-27 19:04] mbforbes commented on #6075
+cc @dchen1107 @davidopp @lavalamp @erictune @zmerlynn @alex-mohr

[2015-03-27 19:04] mbforbes commented on #6079
+cc @dchen1107 @davidopp @lavalamp @erictune @zmerlynn @alex-mohr

[2015-03-27 19:09] ddysher commented on #4562
This is done.  See other issues for remaining items: #6077 #6073 #6072 #5953

[2015-03-27 19:09] #4562 closed

[2015-03-27 19:09] mbforbes opened #6080 "Node upgrades: graceful node evacuation"
See issue #6079 as the roll-up for node upgrades.

This extension smartly evacuates nodes before they are downed to be upgraded. Here's a strawman mechanism:
1. Make the node unschedulable so no more pods are placed on it
2. Remove any pods running on the node
3. Remove any storage mounted on the node (or, will these be automatically moved when pods are moved?)
4. Kill the node

[2015-03-27 19:15] zmerlynn commented on #6072
Is this what's necessary for me to remove the `--machines` configuration from Salt? I'm very keen to get of that, because it's blocking dynamic clustering / MIGs / etcetc. (I thought #4562 was going to get me that, but it was just closed, and the Salt config is untouched.)

[2015-03-27 19:15] ddysher commented on #4829
The issue is not feasible now, closing.  Feel free to reopen if it happends again.

[2015-03-27 19:15] #4829 closed

[2015-03-27 19:17] erictune opened #6081 "Etcd salt defaults file is confusingly not used."
Commit ba749284d0a8a12cf7067b9ba3b959cf55a1c375 by
@davidopp says:
`Have etcd listen on all interfaces so that monit probes succeed. Closes #3852`.

Listening on all interfaces is the wrong thing to do from a security standpoint because it exposes etcd to modification.

Once @ArtfulCoder change to put etcd in a pod is complete, then kubelet can monitor instead of monit, so then etc can be on 127.0

[2015-03-27 19:18] erictune commented on #6067
Yeah, I just figured this out now.  Files an issue about confusing salt config.
#6081

[2015-03-27 19:19] mbforbes opened #6082 "Node upgrades: basic mechanism"
See issue #6079 as the roll-up for node upgrades, including the specification of the minimum requirement that this issue will fulfill, as well as improvements that will come after.

This is the worklist item for a minimum viable node upgrade mechanism for 1.0.

### Plan:
- in-place: **yes**; restart the node
- provider: **GCE, then GKE**

### Outline:
Provisioning a new node is blocked on allowing

[2015-03-27 19:19] erictune commented on #6081
This issue is really about the confusing salt config.  The

[2015-03-27 19:23] erictune commented on #5987
Appologies @cnaize
I was reading the salt config, which is confusing, and led me to think we were using 127.0.0.1.
But you are quite right, we are using public IP.

[2015-03-27 19:24] zmerlynn commented on #4562
So just so it's not dropped on the table, which work item eventually drives a stake in `--machines` in the [Salt configuration](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/cluster/saltbase/salt/kube-controller-manager/default)? I rather drastically limited broke dynamic clustering with the standalone Salt changes by [making the node names fixed at initialization](https://github.c

[2015-03-27 19:28] mbforbes opened #6084 "Node upgrades: e2e test: ensure persistent volumes survive when pods die"
See issue #6079 as the roll-up for node upgrades.

Use case: we upgrade nodes by tearing them down (deleting the instances) and bringing up new ones. Do data on the nodes survive?

This might go beyond just 'volumes' if there are other ways that data should persist on Kubernetes—anything that might rely on the presence of a node.

This issue will contain anywhere from zero to a significant amount

[2015-03-27 19:29] ddysher commented on #2462
correct, it's not used right now.  #4434 is one step toward the goal.  Replacing node.Name with different ip address involves more than just a field replace though.

[2015-03-27 19:30] pmorie commented on #2316
@bgrant0607

That is a good idea.

[2015-03-27 19:31] jlowdermilk opened #6085 "kubectl commands are still very hard to unit test"
I was trying to write a simple regression test for #6083, and discovered it is still a huge pain to write unit tests. You have to create a test factory, a fake RESTClient, custom build a client.Fake, call SetupArgs() on the command, and then separately parse the args to pass to the Run<command> function. It needs to be way simpler or we will continue to lack test coverage of kubectl functionality.

[2015-03-27 19:38] mbforbes opened #6086 "Node upgrades: version-aware upgrades"
See issue #6079 as the roll-up for node upgrades.

This component of the node upgrade mechanism should:
- query the versions of the nodes
- determine what version nodes should be
- determine the subset of the nodes to upgrade
- determine which version those nodes should be upgraded to
- pass the results to the rest of the upgrade mechanism and continue

Blocked by #4855:
- a concrete definition of

[2015-03-27 19:39] zmerlynn commented on #5948
So now that it's in `NodeSystemInfo`, is it queryable easily from `kubectl` at all?

[2015-03-27 19:41] markturansky commented on #6084
This is possible for pods that use persistent volumes.  #5105.

[2015-03-27 19:42] ddysher commented on #4075
The issue is fixed.  Please open a new issue if current pattern is still confusing.

[2015-03-27 19:42] #4075 closed

[2015-03-27 19:44] pmorie commented on #2316
@yifan-gu I see that you moved `RunInContainer` into the dockertools package recently; I like the rest of what you did but I feel pretty strongly that RunContainer ought to be a kubelet function, since it defines the bridge between the kubernetes API and the docker API.  I like the other methods moving into the dockertools package.  Another reason I think it should stay is that  lot of kubelet int

[2015-03-27 19:45] derekwaynecarr commented on #5699
I just tried to reproduce from HEAD this afternoon and was no longer able to reproduce.

Closing issue, but feel free to re-open if you encounter it again.

[2015-03-27 19:45] #5699 closed

[2015-03-27 19:46] ddysher commented on #4379
The issue and PR #4396 is blocked on node namespace.

[2015-03-27 19:50] ddysher commented on #3643
/cc @gmarek

[2015-03-27 19:51] mbforbes opened #6087 "Allow nodes to dynamically join a running cluster"
We want to allow nodes to dynamically join a kubernetes cluster after the cluster has been created. For version 1.0, we will implement "Static Clustering" as defined in [clustering.md](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/design/clustering.md).

For reference, in #3168 (securing node &rarr; master communication), @roberthbailey proposes [an implementation plan](https:

[2015-03-27 19:51] zmerlynn commented on #6081
Totally obvious. I don't see what you're complaining about.

[2015-03-27 19:52] mbforbes opened #6088 "Node upgrades: provision new nodes"
See issue #6079 as the roll-up for node upgrades.

**tl;dr:**
Update MIG template, then call a MIG rollingupdate.

**More details:**
When upgrading nodes, an in-place upgrade must worry about leftover state on the boot disk, VM configuration like IP tables, and the idempotency of salt. Getting a fresh VM instead would remove these concerns and provide a clean state for a new node.

Furthermore, a

[2015-03-27 19:54] ddysher opened #6089 "Remove node reachable condition"
Node reachable condition is not v1.0, and it's not used anywhere in k8s.  Let's remove it and simplify things a little bit for 1.0

/cc @davidopp @gmarek

[2015-03-27 19:55] ddysher commented on #6089
I think I already have a branch for it, so I'm assigning to myself.

[2015-03-27 20:02] roberthbailey commented on #6078
@davidopp - I heard mention that we were moving these into pods so that they would be babysat by the kubelet instead of by monit. Is that correct?

[2015-03-27 20:02] rrati commented on #6014
@bgrant0607 +1 for more information in the events/kubectl.  There's currently no visibility into what is going on and why a pod is in a given state.

Is there agreement that the state in master needs to reflect the true state of the pods on a minion for 1.0?  This would include some level of handling recurring container crashes and/or container failures such that the pod status in master is not "R

[2015-03-27 20:05] smarterclayton commented on #2316
Order matters when Docker resolves things.  Or if someone else implements an ordered algorithm.  If you don't have that clear ordering then you don't have consistent resolution.

[2015-03-27 20:07] ddysher commented on #6072
If you are running on cloudprovider, then `--machines` need not to be passed.  In particular, if you pass both `--cloud_provider` and `--match_regexp`, then `--machines

[2015-03-27 20:24] dchen1107 commented on #6078
Yes, we are moving them into pod, including apiserer, ngnix. They shouldn't be babysat by monit. Here is the issue #5011 related to this effort. @ArtfulCoder is working on this.

I also filed #6047 for healthchecking master component pod.

[2015-03-27 20:28] dchen1107 commented on #6076
@rrati

[2015-03-27 20:31] zmerlynn commented on #6072
I'll send a PR soon.
On Mar 27, 2015 1:08 PM, "Deyuan Deng" <notifications@github.com> wrote:

[2015-03-27 20:47] ghodss commented on #4348
@daizuozhuo Cool proposal! While you're iterating on it, you might want to turn on "Commenting only" permissions on your proposal document for anyone with the link so people can comment directly on the proposal itself.

If we're going to reimplement jq, it would be great to mimic their syntax exactly (perhaps even reuse their tests?), but one extension that would be nice to add is to use a syntax

[2015-03-27 20:47] dchen1107 commented on #6047
@davidopp

[2015-03-27 20:51] dchen1107 commented on #6014
@rrati I filed #6076 to show containers information through kubectl describe pods id.
Also ContainerStatus is going to include Last termination (#4919), and restart_count will be corrected at the best effort.

Kubectl describe pods id also includes related events of a Pod last two hours (TTL). Here is a snippet from one pod with crashloop with PR #5994:

[code]

I think with all above included, th

[2015-03-27 20:53] tkulczynski commented on #5241
Thanks for your opinions everyone!
I do not fully agree with all the points you've made, but all in all I'm pretty sure now that we shouldn't go for constant number of Target Pools. I'm also somewhat convinced we shouldn't use MIG for adjusting Target Pools (or at least it only makes sense for short term, so might not worth be doing at all).
Let me just clarify that I've not wanted to introduce a

[2015-03-27 21:02] mbforbes commented on #3333
Just to link this discussion to the concrete worklist issues:
- #6082 is the issue to implement what this issue's title proposes: make node components upgradeable through *some* mechanism
- #6079 is the roll-up issue for node upgrades, which is a slightly broader scope than this issue in that it also considers Docker and the kernel/OS. It includes links to proposed improvements to the basic mechan

[2015-03-27 21:03] #3333 closed

[2015-03-27 21:04] vishh commented on #490
Is this required for v1.0?

On Fri, Mar 27, 2015 at 11:49 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-03-27 21:07] rrati commented on #6014
@dchen1107 what will 'kubectl get pods' show in these instances?  Will that display Running or Pending?  If the pod starts running and then a container crashes, will the state transition back to Pending?

[2015-03-27 21:12] mbforbes opened #6095 "Node upgrades: write in Go and hook into pkg/cloudprovider"
See issue #6079 as the roll-up for node upgrades.

While the basic mechanisms (#6099, #6088) will be an out-of band process in Bash, we would like to have the mechanism be written in Go and hook into `pkg/cloudprovider`.

Aside from being generally more robust and maintainable, this will mean that our deployment and upgrade mechanisms can share code (as both move towards `pkg/cloudprovider` suppor

[2015-03-27 21:15] #5895 closed

[2015-03-27 21:17] mbforbes opened #6096 "Node upgrades: provider agnosticism"
See issue #6079 as the roll-up for node upgrades.

While the basic mechanisms (#6099, #6088) will be built for the GCE and GKE providers, we want node upgrades to work for all supported cloud providers.

This issue really depends on the rewrite from Bash &rarr; Go by hooking into `pkg/cloudprovider` (#6095). After that is complete, ideally the addition of support for other cloud providers will be

[2015-03-27 21:20] alex-mohr commented on #5241
Re: simply not care about the "managed" part of GCE, I'm not sure that entirely follows, depending on what you mean by it.  For example, it might be expedient to say that if a user brings their own node, they're responsible for managing its health and repairing it if it's not working, but for nodes that are spun up by the master or its MIG, perhaps we can point the IG's health check at the kubelet

[2015-03-27 21:20] roberthbailey commented on #5241
Yes, the master should treat any instances that try to join the cluster in a uniform way, whether or not they are part of a MIG. The user may want a MIG to autoscale one tier of their service based on load (e.g. front end serving) but manually scale another tier (e.g. databases that require more manual replication configuration).

Also see #6087 and #3168.

[2015-03-27 21:22] bgrant0607 commented on #3692
@volyihin Yes, feel free to submit a proposal on this topic. Once all of the proposals are in, we'll select which ones we want to move forward with.

[2015-03-27 21:27] mbforbes opened #6099 "Node upgrades: in-place upgrades"
See issue #6079 as the roll-up for node upgrades.

This issue is to do an in-place upgrade of the kubelet and kube-proxy binaries while a node is running. Docker and the kernel/OS are not changed. This upgrade can only be performed if the requested new version of kubelet and kube-proxy are compatible with the existing Docker and kernel/OS version; see #4855 for more details on versioning.

We simp

[2015-03-27 21:35] erictune opened #6102 "no monit for nginx"
We should run monit on nginx.  I know we plan to run that in a pod, but right now it crashes somewhat often, so we should monit it to keep it up.

[2015-03-27 21:48] yifan-gu commented on #2316
@pmorie Thanks for the notification. I think there is still a `runContainer` in kubelet, which can bridge kubelet and the container runtime. The kubelet will describe a container to the container runtime and let the runtime launch the container.
By `kubelet internals` do you mean ref, recorder, etc? If so, I agree that ideally they should not be injected to the container runtime. I am thinking of

[2015-03-27 21:56] pmorie commented on #4957
@erictune I have thought about it but i'm not sure where I stand on it.

[2015-03-27 21:56] dchen1107 commented on #6046
I sync-ed, but still observed the same issue:
[code]

Here is the error from kubelet.log
[code]

[2015-03-27 22:04] pmorie commented on #2316
@yifan-gu Check out my wip at https://github.com/GoogleCloudPlatform/kubernetes/pull/6100

[2015-03-27 22:07] mbforbes opened #6106 "Node upgrades: investigate putting the mechanism on the master"
See issue #6079 as the roll-up for node upgrades.

The basic node upgrade mechanisms (#6099, #6088) will be out-of-band, e.g. run on a user's desktop. We might instead want to have the master run the node upgrade process. In this case, the user would just tell the master to upgrade the cluster and it would coordinate the upgrade procedure for all applicable nodes.

This issue is to investigate the

[2015-03-27 22:10] satnam6502 opened #6107 "Potential pod scheduling bug"
The cluster level e2e test is failing when previously it worked flawlessly. Nothing has changed with the test. The log below shows that the test fails because of a timeout that waits for a synthetic logging pod to enter to success or failure state i.e. the container should run and then terminate without being restarted. Here is the pod definition with `countTo=100`:

[code]

So this pod should run

[2015-03-27 22:11] satnam6502 commented on #6107
@quinton-hoole @zmerlynn

[2015-03-27 22:22] satnam6502 commented on #6107
I ran the test in an old cluster (> 1 day old) a couple of times and it worked. I then built from HEAD and re-ran the test and I now see the stuck at `Running` problem.

Before:
[code]

Then build from HEAD and run:
[code]

**Very suspicious*.

[2015-03-27 22:24] erictune opened #6109 "kubectl crashing when --validate used"
[code]

[2015-03-27 22:24] erictune commented on #6109
This happens with several different objects that I tried creating.

[2015-03-27 22:24] alex-mohr commented on #6047
If they each self-monitor and export /healthz, kubelet could monitor that?

Of course, that doesn't address system-wide issues or interactions between the components or what to do when the component is unstartable, but perhaps still worth doing anyway?

[2015-03-27 22:26] erictune commented on #6109
happens with simplest pod I can find:
`cluster/kubectl.sh create --validate -f examples/walkthrough/pod1.yaml`

[2015-03-27 22:33] alex-mohr commented on #6075
Thanks Max.  Re: outline, may want to re-order actual implementation to minimize downtime?  E.g. create new boot PD first in case it fails or takes a long time.  Then stop VM, swap PD refs, update metadata, restart VM, and only then delete old PD?

And this might be too much complication, but it may also be worth having a rollback plan, e.g. if master doesn't come up or respond, stop it and switch

[2015-03-27 22:34] mbforbes commented on #2524
With the roundup of cluster upgrades into two roll-up issues&mdash;#6075 for master, #6079 for node&mdash;I'm closing discussion issues that preceded them like this one. Those issues reference this one, and their work items are inspired from the discussions and conclusions that were drawn here.

Please feel free to re-open this issue if it contains a clear work item I missed!

[2015-03-27 22:35] #2524 closed

[2015-03-27 22:35] satnam6502 commented on #6107
Running on my own machine I see the pods:
[code]

but the container is long dead:
[code]

and it did its job:

[code]

[2015-03-27 22:36] ArtfulCoder commented on #6102
I will be moving nginx etc to its own pod so that we wont need monit..

[2015-03-27 22:36] satnam6502 commented on #6107
Conclusion: the container has terminated, the restart policy is never, the pod is still in the running state. **Surely this is a bug?**

[2015-03-27 22:40] mbforbes commented on #1573
In the upgrade round-up, I'm closing this in favor of the specific work item #6099. **Please** feel free to re-open if I missed something or if you'd prefer this is the work item for context.

[2015-03-27 22:40] #1573 closed

[2015-03-27 22:44] erictune commented on #6109
have fix, but working on test.

[2015-03-27 22:45] ekatek opened #6112 "Kube-up script with Vagrant behaves weirdly"
This is best described by describing the replication.

`cluster/kube-up.sh`;`cluster/kube-up.sh`

First, get a clean checkout. Then, run the kube-up script with Vagrant. It will tell you to go compile K8S, which makes sense. Now... do it again, without compiling anything. You may expect the script to tell you to compile again, but it won't -- what happens is, it sees that the master VM exists, and

[2015-03-27 22:46] alex-mohr commented on #6082
I thought salt was supposed to drive things to a specified end-state.  Ideally, each salt stanza is idempotent, such that running it from e.g. base containerVM results in the same state as re-running it a second time on its previous output?

If so, would it also be reasonable to audit those salt blocks and make sure they can also take outputs from previous versions of the salt config and drive the

[2015-03-27 22:47] dchen1107 commented on #6046
The issue here is that NodeStatus.Address is empty. I am closing this one, and filing a separate one for cloud provider.

[2015-03-27 22:47] #6046 closed

[2015-03-27 22:47] roberthbailey commented on #6112
/cc @derekwaynecarr

[2015-03-27 22:48] mbforbes commented on #5044
With the round-up for node upgrades (#6079), I'm trying to close other issues that target pieces of the process. Specifically, this should be implemented with the basic version (#6082).

Your ideas here were definitely helpful, though! I think they're going to be taking shape in the system:
- API functionality to add & remove nodes will be in `pkg/cloudprovider`
- the tool / libraries to add & rem

[2015-03-27 22:48] #5044 closed

[2015-03-27 22:48] bgrant0607 commented on #6047
Don't all of these components already export /healthz?

[2015-03-27 22:49] alex-mohr commented on #6088
FWIW, I think we need this as a fallback to repair completely borked nodes?  That is, it may not be necessary for upgrades per se, but could end up being independently useful.

[2015-03-27 22:49] zmerlynn commented on #6075
We'll call those "refinements" :)

On Fri, Mar 27, 2015 at 3:34 PM, Alex Mohr <notifications@github.com> wrote:

[2015-03-27 22:52] bgrant0607 commented on #6014
@rrati Pods are comprised of multiple containers, even when the user specifies just one container. If what you want is the status of your container, you need to look at ContainerStatus, not just PodPhase. More information is available than is currently displayed, and we also plan to report more information. The most important information should be displayed by kubectl, and less useful information

[2015-03-27 22:55] zmerlynn commented on #6107
@roberthbailey and I are trying to bisect recent commits.

[2015-03-27 22:55] alex-mohr commented on #6082
I realize I may have misunderstand: does "stop running binaries" mean e.g. kubelet, or do you mean all containers as well?

[2015-03-27 22:57] zmerlynn commented on #6107
Unfortunately it was broken during a block of several hours of failed cluster creates. Fortunately, there weren't that many commits during the time.

[2015-03-27 23:14] yujuhong opened #6115 "kubelet /stats reports 500 when a container is not found"
There seems to be a delay between the container creation and the cadvisor being notified of such a container change (through inotify) and registers the container. This leads to a case where cadvisor might report the container not found while it actually exists. Because [docker is able to find the container](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2029)

[2015-03-27 23:15] yujuhong commented on #6115
The umbrella issue for stats api is #4489

[2015-03-27 23:15] bgrant0607 commented on #3060
@andronat Thanks for your interest! I agree that the full roadmap is a lot of work. I'm not sure this issue is enough work on its own for a whole project, but I'll take a look at your proposal and provide feedback there.

[2015-03-27 23:16] bgrant0607 commented on #3060
BTW, the prioritization doesn't imply that this is unimportant, only that we have lots of other issues that are even more important/urgent. :-)

[2015-03-27 23:20] vmarmol commented on #6115
That's certainly not a race we expect to lose, but the behavior you mention should be what we do.

[2015-03-27 23:20] bgrant0607 commented on #284
Thanks for your proposal! We'll definitely take a look.

Whatever UI templates/assets we have currently are in:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/www

FYI, a new (cluster-level) UI is being developed:
https://github.com/kubernetes-ui/kubernetes-ui/tree/master/www

[2015-03-27 23:34] oba11 opened #6120 "link volume from existing container to another container in a pod"
I have 2 containers in a pod.
I have some files in `container a` that needs to be accessed by `container b`
I'm not sure how I can achieve this.

[code]

The contents of `/data` in `container a` becomes empty which has the content to be shared.

[2015-03-27 23:54] yujuhong opened #6124 "Kubelet should keep the original PodStatus.Host when posting the status"
I am seeing pod status update failures due to empty `Host` field. This prevents the pod status from being updated in some cases. Kubelet should always keep the original host.

[2015-03-27 23:54] yujuhong commented on #6107
This may be related to #6124

[2015-03-27 23:56] satnam6502 commented on #6107
I just spoke to @dchen1107 and she says she knows exactly what is going on.

[2015-03-27 23:58] dchen1107 commented on #6107
I observed a similar issue yesterday, and mentioned at #6029.

There is a new change #5714 (Update pod status only when it changes) merged recently. I suspect that is the culprit here.

[2015-03-28 00:19] yujuhong commented on #6124
In the case I saw, all containers of that pod has exited with 1, and the restart policy was never. There seems to be two issues.

1. kubelet queried docker and [couldn't find the containers] (https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L1900): "No pod infra container exists for this pod"
2. kubelet decided to [return a pending status with no host set](https

[2015-03-28 00:22] bgrant0607 commented on #6072
If Kubelet isn't merging its updates into NodeStatus, it's not doing the right thing

[2015-03-28 00:23] bgrant0607 commented on #6072
From email discussion:

All components MUST have a resync and retry loop. Updates aren't allowed without a matching resourceVersion, and in general there will need to be fields that need to be merged.

We could create disjoint Node subresources for Kubelet and the Node controller to which they could POST, and the apiserver would perform the merges.

There was work underway to create a /status subr

[2015-03-28 00:28] bgrant0607 commented on #4562
@zmerlynn Self-registration was covered by #2435 and #2303, which were both closed. #3168 was cited as related, but I don't think it fully covers the issue.

[2015-03-28 00:29] roberthbailey commented on #6107
@dchen1107 that change was merged 3 days ago but we only saw Jenkins begin to fail consistently yesterday sometime between 5pm and 10pm.

Here are the commits between those times:

 - Fix deep equal to not panic on bad slice lengths
 - kubelet: Refactor kubelet.runContainer.
 - rename ResetBeforeCreate to PrepareForCreate
 - Add REST PrepareForUpdate() hook
 - Use stable.txt instead of latest.txt

[2015-03-28 00:30] yujuhong commented on #6124
#6127 is a quick fix for 2. There is a broader question about whether "pending" is the best status to return in this case.

Whey kubelet won't report failed (1) still needs more investigation.

[2015-03-28 00:31] roberthbailey commented on #4562
@bgrant0607 Max and I agreed that self registration wasn't obviously covered by #3168 and we created #6087 today, which may be what you are looking for.

[2015-03-28 00:36] dchen1107 commented on #6107
Here is the root cause:

W0328 00:21:13.180840   19936 status_manager.go:59] Failed to updated pod status: error updating status for pod "zookeeper": Pod "zookeeper" is invalid: status.host: invalid value '': pod host cannot be changed directly

I am working on a fix.

[2015-03-28 00:37] dchen1107 commented on #6107
just saw @yujuhong proposed #6127 which should fix the issue.

[2015-03-28 00:43] yujuhong commented on #6107
Some clarification. #6127 is fixing another bug manifested because of this issue.

 As I mentioned in #6124, the root cause should be that dockertools should be reporting either success or failed status. Instead, it errored out and tried to set the status to pending (which failed because host was not set).

This relevant code was recently touched by "Update pod ip using active container only."

[2015-03-28 00:43] mbforbes commented on #4855
This is awesome, @zmerlynn&mdash;thanks for nailing down the version requirements and writing out the 1.0 upgrade plan in understandable English.

I'm going to be removing the upgrade parts of this to shove them in the other rollups (master #6075 and node #6079). That way, this can be specifically the versioning rollup and we can split the work nicely into three separate issues. I think I've cover

[2015-03-28 00:47] mbforbes commented on #4855
+ assigning @zmerlynn as the overall owner to drive, even if individual work items are handled across teams

[2015-03-28 00:49] yujuhong commented on #6107
I suspect #6029 (Update pod ip using active container only) broke it by returning the status prematurely here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L690

[2015-03-28 00:50] yujuhong commented on #6107
/cc @vishh

[2015-03-28 00:51] #5861 closed

[2015-03-28 01:18] dchen1107 commented on #6107
Fixed via #6129

[2015-03-28 01:19] #6107 closed

[2015-03-28 01:41] thockin commented on #6120
We so not have a way to link data from one container into another.  To do
this introduces some ordering and dependencies that we would rather not
tackle.

Instead, you can publish the data to the shared volume and see it in both
containers.

What is running in your container-a?
On Mar 27, 2015 4:34 PM, "Oluwaseun Obajobi" <notifications@github.com>
wrote:

[2015-03-28 01:52] vishh opened #6131 "Kubelet dockertools package needs refactoring"
There has been two recent issues #6107 and #5997 because of the brittle logic in that package. It is worth spending time improving that package and rethink existing assumptions.

[2015-03-28 02:03] daizuozhuo commented on #4348
@ghodss Thanks!!! The syntax you mentioned is really nice! Putting filter inside bracket makes it more straightforward. This is a different selection method from pipe so we may add it as a new feature. This makes it more like a language rather than a json processor as jq.

[2015-03-28 02:17] davidopp commented on #6077
I think the scheduler should use the Schedulable value in NodeSpec, not the one in NodeStatus. Why do we care whether the node thinks it can be scheduled on?

[2015-03-28 02:38] filbranden commented on #5599
Just happened to me on a fresh checkout. Quite annoying.

If we start having more dependencies (like "cgo", assuming the issue is I don't have "cgo" on my new workstation), maybe the build script should check for that and warn if it's not available? Much better than throwing an ugly build error on me...

[2015-03-28 03:18] thockin opened #6132 "kubectl should return more information on failure"
After making a `kubectl create` call with bad JSON, kubectl would read-back the master's understanding of what I wrote and show me a diff.  Something like that

[2015-03-28 03:20] thockin commented on #5599
Abhishek is supposed to be getting us a better error message :)

On Fri, Mar 27, 2015 at 7:39 PM, Filipe Brandenburger <
notifications@github.com> wrote:

[2015-03-28 03:24] bgrant0607 commented on #6077
The reasons for NodeSchedulable were:
1. To represent an ACK from Kubelet, since it's the last line of defense.
2. To enable clients to just look at NodeStatus and not look at NodeSpec when determining properties they need to reason about, such as schedulability.

I'm fine with eliminating the NodeSchedulable condition in NodeStatus, at least for now.

[2015-03-28 03:28] bgrant0607 commented on #6124
I'd be happy if PodStatus.Host were eliminated from v1beta3 and just populated from PodSpec in v1beta1/2.

[2015-03-28 03:33] brendandburns commented on #4128
Marking this done, as of #5892 we now configure AWS, GCE and GKE this way.

[2015-03-28 03:33] #4128 closed

[2015-03-28 03:35] brendandburns commented on #4661
@rsokolowski is this still relevant?

[2015-03-28 03:40] brendandburns commented on #4095
I can't repro this in 10 tries, I'm closing as obsolete/non-reproducible.  If it re-occurs, please re-open and include logs from the apiserver...

[2015-03-28 03:40] #4095 closed

[2015-03-28 04:48] brendandburns commented on #4083
Ok, with the combination of https://github.com/emicklei/go-restful/pull/199 https://github.com/emicklei/go-restful/pull/200 and #6117, the swagger API passes the swagger-tools validation.

[2015-03-28 04:50] bgrant0607 commented on #5548
IRC: #google-containers on freenode is the best way to get help.

[2015-03-28 05:09] bgrant0607 commented on #2098
Yes, cleaning up the API is more important/urgent than improving/changing the implementation, but changing the implementation would be less controversial and less design-intensive. We could try to hash out the API details first and then decide which way to go based on how much progress is made.

[2015-03-28 05:29] bgrant0607 commented on #5761
@gmarek Sorry, but I don't understand your question. What do you mean by "minion"? What threading model are you proposing, exactly?

Some people have claimed to have observed being cpu-bound in the apiserver due to decoding/encoding, but I don't know that anyone has reproduced that.

[2015-03-28 05:53] gmarek commented on #5761
Minion is Node, and I meant "physical" threads, as sold on GCE machines. The question is how expensive master we need to handle X nodes to keep 1 sec slo for v1.0

I think it was overwritten by Wojtek and Filip with some other much more aggressive number.

[2015-03-28 06:15] bgrant0607 opened #6133 "Document API/system design principles and patterns"
Related to #5476, #2003, #1007, #5620, and other issues.

The PR creation rate and number of contributors are both growing. In order to scale the effort, we need to better document the patterns we want additions to the system and API to follow, so that we can better parallelize the design and review effort. I'm filing this issue to solicit important principles and patterns to document. I volunteer

[2015-03-28 06:20] bgrant0607 commented on #4083
Great, thanks!

[2015-03-28 06:34] bgrant0607 commented on #6073
The plan was to get rid of /nodeinfo.

I was also planning to rename type NodeSystemInfo to type NodeInfo, but maybe we should rename the field to NodeSystemInfo instead, since that seems slightly more informative to me.

As part of #2098, I think it would be useful for Kubelet to export its current value of Node - either a copy of the last state sent to apiserver or the most recently updated stat

[2015-03-28 06:38] bgrant0607 commented on #5798
cc @lavalamp

[2015-03-28 06:43] bgrant0607 commented on #156
Yes

[2015-03-28 06:43] #156 closed

[2015-03-28 12:11] pires opened #6134 "DNS integration instructions are broken due to missing Docker images"
When following the current instructions
[code]

[2015-03-28 15:03] thockin commented on #6134
Satnam6502 was touching this, I think.
On Mar 28, 2015 5:11 AM, "Paulo Pires" <notifications@github.com> wrote:

[2015-03-28 15:07] pires commented on #6134
@thockin I was stupid -> https://github.com/GoogleCloudPlatform/kubernetes/pull/6136

[2015-03-28 17:39] zmerlynn opened #6139 "Pod status not relayed in a timely fashion"
Jenkins e2es are taking nearly an hour and a half to complete now.

Will file with a full list of git hashes that could be causes in just a little bit.

[2015-03-28 18:12] zmerlynn commented on #6139
The last fast e2e run we have starts at 76b5b79106f7a3629f2bf5c9ef35c9efaaad74fa. The first slow run we have starts at 8a7a127352263439e22253a58628d37a93fdaeb2, so the culprits are:

243de3a4720f5fa425da70af890509b3bcbcbf7c Fix kubectl log for single-container pods
68ccb97907287876051daa5c29bd6da574987d9d Remove the --machines SaltStack configuration on GCE
7750f35e7cf383732ea9399ecc9b7ab7188958fa

[2015-03-28 18:34] zmerlynn commented on #6139
We had one run at 1.5h, one run at 1h, one run at 0.5h. The consistency after this chunk of commits has been ... special.

[2015-03-28 18:39] bgrant0607 commented on #5761
We should measure that. GKE could select the master size (cpu and memory) based on the cluster size. We could even do that in the OSS scripts. We should at least document it.

[2015-03-28 19:16] zmerlynn commented on #6139
I'm having trouble reproducing this on my own, but I was able to piece out I *think* what's going on from the event stream. If I had to take a guess, the pod status from Pending to Running is very flakey / racy in some cases (possibly if the pod is transient, like a lot of our e2e pods are). This is just a working theory, though, based on some log munging:

I'm working off of go/k8s-test/job/kuber

[2015-03-28 19:19] zmerlynn commented on #6139
FWIW, I have no repro and e2e runs are actually green now. :/ But we've been running the exact same code for the last several hours, so I'm looking for any theory that would explain it, either.

[2015-03-28 19:31] ArtfulCoder commented on #6139
@zmerlynn Do you think reverting "etcd in a pod" helped the run become green ?

[2015-03-28 19:34] zmerlynn commented on #6139
cc @ArtfulCoder: Yes, clusters weren't turning up before that.

[2015-03-28 19:34] zmerlynn commented on #6139
cc @dchen1107

[2015-03-28 19:59] davidopp opened #6140 "MonitorNodeStatus() in NodeController needs to retry updates in a loop, to handle conflicts"
The call to
_, err = nc.kubeClient.Nodes().Update(node)
from MonitorNodeStatus() can fail due to conflict with kubelet updating the same node at the same time.

MonitorNodeStatus() needs to be re-worked so that it does something like this (note: this code is largely copied from the way kubelet handles conflict retries; see updateNodeStatus() in kubelet.go):
[code]

[2015-03-28 20:27] thockin commented on #6134
I'm sorry, I don't understand.  I can pull from that image just fine.  I do not know the ins-and-outs of the gcr.io auth model, but I did not do anything special to my local docker config.

@jlowdermilk who has the 'git blame'

[2015-03-28 20:57] zmerlynn commented on #6134
Also cc @mattmoor, who may be able to help.

[2015-03-28 21:15] zmerlynn commented on #6139
Logging for frequency: This is still happening, it wasn't just some fluke. In GCE e2e build 3937, in the `Pods should contain environment variables for services` test, it took forever for pod `client-envvars-843dc797-d58b-11e4-b0bf-42010af067aa` to go from Pending to Running. In the previous build it was matter of seconds.

[2015-03-28 21:54] davidopp commented on #6139
Is the list of PRs you listed earlier still considered to be the set that might be causing the problem? If we want to help, should we just 'git checkout' at each of those commits and try running e2e?

[2015-03-28 22:02] zmerlynn commented on #6139
Most likely. The problem is, it may be an initial cluster state of some sort. I'm not sure how, but it seems like some of the e2e clusters are born sticky and some aren't. So I haven't yet been able to do it by single test runs: i.e. I tried to just run /healthz liveness and it showed very little variance around the ~20s mark, yet it was one of the ones that spiked on 3930.

[2015-03-28 22:05] dchen1107 commented on #6139
I am sync to HEAD, and run e2e for now.

[2015-03-28 22:18] davidopp commented on #6073
Kubelet is also using the /nodeInfo endpoint:
https://github.com/GoogleCloudPlatform/kubernetes/blob/984bc8d5f6fd235229e8d2b0af029a5d2bf585c0/pkg/client/kubelet.go#L135

[2015-03-28 22:25] sumanthy commented on #1957
+1 consul

[2015-03-28 22:34] mattmoor commented on #6134
gcr.io accepts anonymous access for GCS buckets that are readable by "AllUsers", which includes the bucket for "google-containers".

I was just able to docker pull without a .dockercfg file:
$ docker pull gcr.io/google-containers/kube2sky:1.1
Pulling repository gcr.io/google-containers/kube2sky
011d96737112: Download complete
511136ea3c5a: Download complete
075370067b29: Download complete
fc26c11e

[2015-03-28 22:50] pires commented on #6134
I'm using Docker 1.5.0 bundled with CoreOS 633.1.0.

On Sat, Mar 28, 2015 at 10:34 PM, mattmoor <notifications@github.com> wrote:

--
Pires

[2015-03-28 22:51] dchen1107 commented on #6139
e2e test passed:

Ran 28 of 30 Specs in 1156.955 seconds
SUCCESS! -- 28 Passed | 0 Failed | 0 Pending | 2 Skipped I0328 15:39:48.198616   23424 driver.go:94] All tests pass
watchEvents output: |
  Project: golden-system-455
  Zone: us-central1-b
  current-context: "golden-system-455_e2e-test-dawnchen"

I didn't see any podStatus relay issue. Any more specific issues here?

While running e2e test,

[2015-03-29 00:25] zmerlynn commented on #6139
It's very possible the tests are doing something consistently wrong, but
they've been doing it this way for weeks. Read back to my earlier comments
for why I think there was an issue, though: the test clients are reporting
one thing (say 4m to observe a pod go to from pending to running), but it
seems like from the event stream, there's no delay here: the pod is
assigned, the pause pod is created/

[2015-03-29 01:43] thockin commented on #6134
Can you manually pull this?
On Mar 28, 2015 3:50 PM, "Paulo Pires" <notifications@github.com> wrote:

[2015-03-29 04:07] satnam6502 commented on #6134
Let me know if I can help. Although I produced and pushed some images to gcr.io I did not do kube2sky -- I **think** @jlowdermilk helped with that one.

[2015-03-29 04:36] jlowdermilk commented on #6134
I also just pulled both the kube2sky and skydns images on my laptop without any special docker config. Is there any reason why pulling from gcr.io repo would be broken just for CoreOS?

[2015-03-29 05:59] oba11 commented on #6120
Thanks @thockin
Not sure how to publish the data to the shared volume which can be accessible by both containers.
container-a only has ssl key which I dont want in the project commit of container-b
Thanks again @thockin

[2015-03-29 07:48] sumkincpp commented on #5798
Latest /master still fails to build release. Need to wait some time till there will be successful build.

[2015-03-29 09:55] pires commented on #6134
Not for CoreOS itself, but for my installation it seems. I run a private registry as a mirror and now I believe it's the culprit here.

[code]

@antoniomeireles careful with this one. Ideas?

Sorry guys for the waste of time.

[2015-03-29 09:55] #6134 closed

[2015-03-29 11:31] abonas opened #6145 "REST api - why PodTemplate isn't required to have metadata?"
PodTemplate (currently part of replication controller) has metadata as omitempty.
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/api/v1beta3/types.go#L778

The metadata itself has important fields such as uid/name, etc, that can be used to distinguish one object from another, but if they are not present, then the client needs to sometimes extract name from labels (if present the

[2015-03-29 15:24] thockin commented on #6120
Publish means "copy" here.    I dont know if there is a lighter weight way
at the moment.
On Mar 28, 2015 11:00 PM, "Oluwaseun Obajobi" <notifications@github.com>
wrote:

[2015-03-29 16:20] zmerlynn commented on #6139
Jenkins runs from last night showed considerable, very abnormal, variance:
![screen shot 2015-03-29 at 9 16 41 am](https://cloud.githubusercontent.com/assets/4942464/6886461/c63b5692-d5f4-11e4-9e32-aaca0e601588.png)

[2015-03-29 17:28] zmerlynn opened #6147 "Killing POD container before main container starts"
Branched from #6139. May be a dupe, may not be.

go/k8s-test//job/kubernetes-e2e-gce/3948/consoleText:
The test sees:
[code]

In this case, it never recovers and the test outright fails. This is a slightly different manifestation from what I was seeing in #6139, which is really, really long status updates, but the event stream is clearer in this case: (It's possible that I haven't dug into the #61

[2015-03-29 17:48] zmerlynn commented on #6139
Hm. The event stream is missing a fair amount when I poke at a lot of these builds, making me wonder if it's something as banal as slow pulls. There's something else really fishy going on, too: the `gke-ci` project has relatively solid timing (it's still a little more variable than it should be), running the same code. But it makes me wonder if there's some resource in the `e2e` network on Jenkins

[2015-03-29 18:26] AntonioMeireles commented on #6134
@pires - plain docker-registry is only (so far by design) able to mirror/cache from docker's registry, not from 3rd party private or public repos (so no caching from quay.io or gcr.io, etc). OTOH this shouldn't be a 'big' problem as in those cases the docker-registry acting as cache would be working as just a transparent proxy, without any cache at all. in general, and as far as i can tell,  this

[2015-03-29 19:20] pires commented on #6134
@antoniomeireles so, the questions is: what happened then?

[2015-03-29 20:09] davidopp commented on #6145
@bgrant0607 can you clarify how we're using "omitempty" in pkg/api/types.go? It seems that nearly every field in the API is omitempty. The comment in pkg/client/clientcmd/api/types.go says `Top level config objects and all values required for proper functioning are not "omitempty".  Any truly optional piece of config is allowed to be omitted.` But it's not obvious to me that "omitempty" means "sem

[2015-03-29 20:09] mattmoor commented on #6134
Can you reproduce this with debug-logging (-D) enabled in the Docker daemon, so we can get a clearer picture of what's going on?

[2015-03-29 21:29] pires commented on #6134
@mattmoor it works now. There was probably a glitch with GCR at the time. I tried to look for the image at the time, but it seems GCR doesn't have a public search UI, does it?

[2015-03-29 21:55] mattmoor commented on #6134
@pires I'm not aware of any problems on our side, but I'll dig in a little bit around the times in your logs and see if I can find any 404s talking to google-containers.

#### Regarding search

The docker client doesn't properly authenticate search API requests (haven't scouted the 1.6 rc yet).  So since our focus has been on private hosting, we simply haven't tackled this yet.

#### Regarding UI

[2015-03-29 22:15] mattmoor commented on #6134
To follow up on 404s...

In the past week, the only 404 GCR has served for "google-containers" (as part of a "docker pull") was for the typo: "kube3sky"

Looking a bit more carefully at your log output, the API endpoints mentioned in tandem with the 404 look more like the docker daemon's REST API than the Registry API:
   https://gist.github.com/mmdriley/0ed2129a93fd0c15ff36#life-of-a-docker-pull

[2015-03-29 22:39] davidopp commented on #6072
I think option 2 is OK since we already have to merge NodeStatus (for example, Kubelet sets NodeReady true/false while NodeController sets NodeReady unknown).

[2015-03-29 22:49] pires commented on #6134
I don't think so. It stood there for a couple hours and the images were not
downloaded. Weird. If I do `docker pull` on the terminal it works, but it
fails in the replication controller.

On Sun, Mar 29, 2015 at 11:16 PM, mattmoor <notifications@github.com> wrote:

--
Pires

[2015-03-30 01:19] rombob commented on #1957
+1

[2015-03-30 02:03] zmerlynn commented on #6139
Yeah, I'm having trouble convincing myself this is anything other than a product bug. Here's build breadcrumbs from e2e-gce 3963. The `Pods should be restarted with a /healthz http liveness probe` test says:

[code]

But ... am I misreading something about this event stream?
[code]

That looks an awful lot like it went from assigned to started in about 10s?

[2015-03-30 06:21] wojtek-t commented on #6059
I was running a very similar experiments (i.e. 1-node cluster) some time ago and also didn't observe it at all. Thus my feeling is that it might be not related neither to scheduler not kubelet, but probably to etcd and/or apiserver which cannot handle a bigger load.

[2015-03-30 06:33] sergmelikyan commented on #4212
Hi @bgrant0607,

This issue is blocking integration of Kubernetes with OpenStack based on Murano, It would be very helpful if this issue will be re-prioritized. Any chance to fix this issue in upcoming release?

Murano creates Pod and after that containers are added to the Pod, but with this issue, only first container is spawned, following calls are failed. This is low priority when you are manua

[2015-03-30 07:29] gmarek commented on #6072
@bgrant0607 I don't know what happened with previous work, but I started it on Friday. It's mostly done, but I don't know if it won't get preempted by other tasks today (like adding aforementioned retry loop).

[2015-03-30 08:04] wojtek-t commented on #6059
In fact I think this is related to watch [I think that from some reason some changes come to the component through watch with some significant delay]

[2015-03-30 08:09] scuxiayiqian opened #6152 "REST api - Not able to create a pod by sending HTTP POST request."
I'm trying to create a pod by sending http post request. My json likes this:

[code]

I POST it to http://\<master IP>/api/v1beta1/pods, but got failed. Below is the fail message:
[code]

I didn't see the ``metadata.name`` in the [k8s api doc](http://kubernetes.io/third_party/swagger-ui/#!/v1beta1/createPod), is it necessary to add  ``metadata.name`` in the json? And how to revise the json above t

[2015-03-30 08:10] piosz commented on #5596
The regression is now catched by integration tests so closing.

[2015-03-30 08:10] #5596 closed

[2015-03-30 08:21] fgrzadkowski commented on #5953
@ddysher I thought the whole point of moving this logic to kubelet was to keep connection from kubelet to master (not the other way around). AFAIU this is needed for setups like GKE where we need nodes to be as self-contained as possible.

Regarding update frequency I think we should wait until we have some data regarding performance, but I don't think it make sense to update it every 2 sec, while

[2015-03-30 08:22] fgrzadkowski commented on #6087
cc-ing @jszczepkowski who is working on autoscaling

[2015-03-30 08:33] wojtek-t commented on #3954
I was running a bunch of experiments and I can confirm that in 50-node cluster, the scheduling throughput is ~10-15 pods per second. So I think that we should focus on the improving that in the short term.
However, we are facing few other problems (see e.g. #6059), and we should first try to understand those, since those significantly affect the e2e pod startup time, which is the user-visible metr

[2015-03-30 08:37] piosz commented on #4958
Not fixed because of #6114

[2015-03-30 08:46] gmarek commented on #3137
@jayunit100 - can you take an ownership of this Issue and close it when you feel that we have enough soak tests?

[2015-03-30 08:48] gmarek commented on #3137
Sorry - I just noticed that @jayunit100 is not an owner. Assigning to @satnam6502

[2015-03-30 08:48] fgrzadkowski commented on #3954
@wojtek-t I think you meant "we should NOT focus on improving that"

[2015-03-30 08:50] wojtek-t commented on #3954
Sure - I've updated my post - thanks for catching it :)

[2015-03-30 08:51] fgrzadkowski commented on #6059
@yujuhong I don't think cluster size is irrelevant in this experiment, because all the data is read from apiserver/etcd which performance is strictly related with the size of the cluster. As @wojtek-t said we suggest that the problem is somewhere close to watch itself, but we need to dig deeper to understand the problem better.

[2015-03-30 09:09] #6152 closed

[2015-03-30 09:39] abonas opened #6153 "REST api - getting a single resource without namespace returns 404"
Getting a single resource without specifying namespace in the url returns 404 which is misleading.

For example,

http://localhost:8080/api/v1beta3/services
works, but if the user tries
http://localhost:8080/api/v1beta3/services/kubernetes-ro
(instead of http://localhost:8080/api/v1beta3/namespaces/default/services/kubernetes-ro)
it returns 404 which is confusing.
It's better to return "namespace

[2015-03-30 09:43] abonas opened #6154 "REST api - selflink is incorrect when accessing entities without namespace in url"
Accessing entities without namespaces in the url makes the selflink to look corrupted (has namespace missing):

Example - invoking:
http://localhost:8080/api/v1beta3/services/

returns entities with this selflink (note the part after namespaces)
  "selfLink": "/api/v1beta3/namespaces/%7Bnamespaces%7D/services/guestbook"

[2015-03-30 11:36] rrati commented on #6014
@bgrant0607 If a container isn't running then imo the pod phase should not be running.  If I'm looking at pod states through kubectl, the most important information to me is that the container states are properly reflected and that if a container in a pod isn't running there is an indication that is so.  That can be accomplished a number of ways, but currently we are giving the "all clear" status

[2015-03-30 11:47] jsafrane commented on #5659
I'm looking at it too. I'm learning all this stuff on the way and progressing slowly.

I worked around 1) by using nfs4, https://github.com/jsafrane/kubernetes-nfs-example/tree/master/exporter

Now the actual client example...

[2015-03-30 12:04] deads2k commented on #5981
See https://github.com/spf13/cobra/pull/79 for the first bug.

[2015-03-30 12:04] wojtek-t commented on #6059
I've added some logging and I can confirm that this problem is not related to the scheduler or kubelet themself - the issue is (as I thought) that some changes come to those component through watch with a significant delay (e.g. 1 minute). I will continue investigating if it's related to watch itself or maybe some high load on apiserver or etcd.

[2015-03-30 13:11] ddysher commented on #3520
/cc @gmarek

[2015-03-30 14:02] multilinear commented on #5044
I see. I don't actually trust the methods in #6082 (basically I don't think it will actually work), and would argue that just recreating the machine form scratch is much smarter. Truly idempotent machine setup is nigh impossible (Chef doesn't do it, and that's their entire product), and I'm not sure it has much value if you're running inside a virtualized cluster anyway... but I suppose that's an

[2015-03-30 14:06] multilinear commented on #6082
This sounds much much harder than just destroying and re-creating the machine from scratch. Idempotency in machine setup is a minefield none have yet crossed. There are so many gotchas, and it won't work at all if you happen to hit an inconsistent intermediate state, if a machine hangs, etc. There are a lot of ways it can break.

Given that kubernetes is designed primarily for virtualized environm

[2015-03-30 14:07] multilinear commented on #6082
Basically, I'm arguing that fast machine setup is a far easier problem than idempotent machine setup.

[2015-03-30 14:29] zmerlynn commented on #6082
We wanted to start with the "throw each node away" plan, but as pointed out
in the initial comment, it's blocked by dynamic clustering right now. We
can't add nodes dynamically for a few reasons (on GCE, for example, they
need a cbr0 allocation). Those are going away soon.

At the limit, though, we believe that people aren't going to want to deal
with downtime, so this (upgrade existing) may be th

[2015-03-30 14:30] gosharplite opened #6158 "CoreOS_Standalone: Redis-slave can't resolve redis-master:6379 in guestbook example"
I was in step three of the guestbook example. Redis-slave containers are running fine, except they can't connect to redis-master.

Controller, pod, service and docker containers are all in place. The trouble is from the output of ``docker logs <CONTAINER ID>``.
[code]
[code]
[code]
[code]
[code]
I have read below issues, still can't figure out what's wrong.
#1233 Guestbook Example: redis-slave con

[2015-03-30 14:36] multilinear commented on #6082
Aaahh, thanks for the explanation. That makes some sense.

It would certainly be nice if you can get it to work... it's just that it working 98% would be very very bad.

[2015-03-30 14:38] erictune commented on #5184
Crash and restart until you get your service env vars.

[2015-03-30 14:39] zmerlynn commented on #6082
@alex-mohr: Salt is only as state aware as the stanza files dictate. The biggest problem is that this is very brittle. If you do something like add a file in version X and forget to add a file.delete for it in version Y, but it's no longer applicable and yet still has a systemic effect, you just failed. So now you have to figure out how to test that, etc.

This is why I was talking about crazy thi

[2015-03-30 14:53] AntonioMeireles commented on #4914
@brendandburns don't forget to see above please, when you have a spare minute... :smile:

[2015-03-30 14:59] gmarek opened #6159 "Design: Handle time skew in the cluster."
This is an umbrella issue for handling time skew in Kubernetes.

[2015-03-30 15:14] piosz commented on #4914
I can take w look.

[2015-03-30 15:37] erictune commented on #3520
@satnam6502 That test would certainly be better than nothing.

I'm of the opinion that focused, standalone e2e tests have a lot of value too, and if it were up to me, I'd wrote one of those before embedding the test into a test with a larger scope (reliability).  Basically, I think each test should have a purpose which can be described in like one sentence, without use of conjunctions.  But that's

[2015-03-30 15:48] justinsb opened #6162 "Replace goamz with official go AWS SDK"
Does anyone have any reason not to replace the goamz AWS client binding with the official AWS client binding, now that it has reached feature-complete:
https://aws.amazon.com/blogs/aws/preview-the-latest-updates-in-the-master-branch-aws-sdk-for-go/

The goamz binding we're using:
1) is incomplete - for example, there is no way to page through EC2 instances, so fails if you have more than 50 (I thi

[2015-03-30 16:07] satnam6502 commented on #3520
Agreed, coherent focused e2e tests are of great value. I can take this one unless someone else is super keen to do it. Back to back meetings today in Seattle but I expect I can have it done on Tuesday/Wednesday if that's not too late for you.

[2015-03-30 16:11] jlowdermilk commented on #6134
@pries, is your kubernetes installation still failing to bring up the kube2sky pods? You closed the issue but seem to still be having trouble.

[2015-03-30 16:16] alex-mohr commented on #3954
@dbsmith I forget our exact v1 milestone goals, but I'm pretty sure 10 pods/sec meets them.  We should confirm that our e2e pod startup latency meets those goals, though, and not just the scheduler in isolation?

[2015-03-30 16:19] pires commented on #6134
@jlowdermilk I'm using `kubernetes` repo on Docker Hub and not `gcr.io/google-containers` so i's working alright.

[2015-03-30 16:19] pires commented on #6134
@AntonioMeireles is this working on your fork?

[2015-03-30 16:20] wojtek-t commented on #3954
@alex-mohr - our goal from roadmap is:
"99% of scheduling decisions made in less than 1s on 100 node, 3000 pod cluster; linear time to number of nodes and pods"
So we either meet or not the goal depending on the expected churn in the cluster. But I think we shouldn't investigate into it more now.

[2015-03-30 16:20] zmerlynn commented on #6139
Actually, I have a theory based on what was going on with Jenkins at the time, too. We noticed both some odd memory pressure on Jenkins and this weird issue. It's possible the test code is actually getting sliced here for quite a while. Maybe the pod isn't running because it's already dead? We don't do a great job checking for that. Self-assigning and watching the timing now that Jenkins has more

[2015-03-30 16:23] wojtek-t commented on #3954
Regarding the e2e startup time, there is another goal in the roadmap:
Startup time: 99% of end-to-end pod startup time with prepulled images is less than 5s on 100 node, 3000 pod cluster; linear time to number of nodes and pods

But I think that we should open another issue for it (or at least change the title of this one).

[2015-03-30 16:32] AntonioMeireles commented on #6134
@pires yup. both with  gcr.io/google-containers/... and with kubernetes/... only difference being that from gcr.io things are a *bit* slower as there is no caching at all. anyway in this regard i don't think this has anything to do with our trees. either this is some transient net issue or is related to something in the middle - between gcr.io and docker client that messes things. (i've seen in th

[2015-03-30 16:43] cnaize opened #6164 "kube-proxy --insecure_skip_tls_verify=true: Unauthorized: Unauthorized"
Trying to up `kube-proxy`, have the output:
[code]

[2015-03-30 16:43] yujuhong opened #6165 "Eliminate PodStatus.Host in v1beta3"
PodSpec.Host sets the node that the pod should be running on. PodStatus.Host should be eliminated in v1beta3; it should be populated from PodSpec.Host in v1beta1/2.

/cc @bgrant0607

[2015-03-30 16:44] yujuhong commented on #6124
@bgrant0607, yes, I thought someone was working on that. Filed a issue just in case #6165.

[2015-03-30 16:44] #6124 closed

[2015-03-30 16:48] dchen1107 commented on #6147
Do you have kubelet: -test-jenkins-minion-h0sp.c.kubernetes-jenkins.internal log?

[2015-03-30 16:48] alex-mohr commented on #3954
SGTM then, thanks.

[2015-03-30 16:50] jiangyaoguo commented on #5279
Sorry for my incorrect PR. Now I have amend it.

[2015-03-30 16:50] mattmoor commented on #6134
@AntonioMeireles where are you running?

[2015-03-30 16:51] yujuhong commented on #5538
The pod status test coverage is pretty poor (see #6107 from last week). In the integration test, the only related test is the static pod test which only looks for the "Running" status. We should have tests that are dedicated to test various pod status: pending, failed, succeed, etc. Ideally, these should interact with a real apiserver, so integration test would be a good place to start with (or e2

[2015-03-30 16:51] zmerlynn commented on #6147
No, all I have is the Jenkins console logs. (We need to switch all our logging back over to GCP at some point, but that's a longer conversation.)

[2015-03-30 16:52] AntonioMeireles commented on #6134
@mattmoor  - most of the testing is plain vagrant on a mac.

[2015-03-30 16:59] #6109 closed

[2015-03-30 17:04] yujuhong commented on #6059
@fgrzadkowski, I meant for the kubelet startup time alone, the cluster size was irrelevant (which was the case in my test). As for when kubelet receives the update for the first time, that's a different story :)
My test was to simply provide another data point to potentially rule out the possibility that kubelet's performance is the bottleneck.

[2015-03-30 17:07] justinsb commented on #2659
Patch is now available in #5225 :-)

[2015-03-30 17:10] bgrant0607 opened #6167 "Document API return values in swagger"
Swagger supports documentation of HTTP status codes and payload returned, though I'm not sure how to represent different types for different status codes (e.g., status object vs. resource type).

[2015-03-30 17:10] bgrant0607 commented on #2174
This specific issue is done. We should still document the status codes in swagger -- filed #6167 for that.

[2015-03-30 17:10] #2174 closed

[2015-03-30 17:22] bgrant0607 commented on #2974
Filed #6167 to cover documenting return values in swagger more broadly. Closing this issue.

[2015-03-30 17:22] #2974 closed

[2015-03-30 17:24] bgrant0607 commented on #3086
This is done.

[2015-03-30 17:24] #3086 closed

[2015-03-30 17:28] bgrant0607 commented on #2932
We have several docs on this. Immutability has also been documented. Maybe could be better, but good enough for now, I think.

[2015-03-30 17:28] #2932 closed

[2015-03-30 17:32] erictune commented on #5538
A good starting point for a simple integration test is `test/integration/secret_test.go`

Suggestions for new integration tests:
 - start a pod on a kubelet via `pkg/client` (pod doesn't actually run, but kubelet should send right command to docker.)
 -  start a pod on a kubelet via kubectl (pod doesn't actually run, but kubelet should send right command to docker.)
 - fuzz test that creates rando

[2015-03-30 17:40] bgrant0607 commented on #6165
cc @jszczepkowski

[2015-03-30 17:57] smarterclayton opened #6170 "client/Request#Do should be able to be called many times"
Storing r.req / r.resp internally (for use from DoRaw and Do) is probably not the right factoring.  There should be a common method doRaw that returns request and body.

[2015-03-30 17:58] yujuhong commented on #3453
The container/pod naming scheme in kubelet has been updated and the problem of using dot as the delimiter no longer exists.

I am going to close this issue. Feel free to reopen and adapt it if there is any specific issue of annotations you want to discuss.

[2015-03-30 17:58] #3453 closed

[2015-03-30 17:59] erictune commented on #6164
Right now, proxy-server doesn't support using port 6443.  Issue #5917 tracks fixing that.  Until that is closed, you should use --master="http://master:7080.

[2015-03-30 18:00] bgrant0607 commented on #6154
I thought accessing namespaced objects without the namespace was just disallowed in v1beta3.

@derekwaynecarr ?

[2015-03-30 18:01] erictune commented on #6164
The problem is that a client needs a token to authenticate to the apiserver on 6443, but there is not way to pass a token to kube-proxy.

This could maybe be made to work with the current code with client certs, but I have not tried yet.

[2015-03-30 18:04] bgrant0607 commented on #6154
Oh, probably list is allowed for components that need to watch all objects across all namespaces, such as kube-proxy.

In that case, the selfLink looks broken, yes.

[2015-03-30 18:04] derekwaynecarr commented on #6154
@bgrant0607 - right.

I will look into the self link this afternoon to see what's going on.  Self assigning.

[2015-03-30 18:06] bgrant0607 commented on #6153
404 is correct, but we could return additional info in the Status return object.

However, returning something more specific is gated on getting support from the handler library we use -- see #4347.

[2015-03-30 18:07] abonas commented on #6154
The api has to allow fetching all objects cross namespaces without specifying namespace, otherwise it will cause multiple requests to the api - per namespace, big overhead for clients.

[2015-03-30 18:12] roberthbailey commented on #5821
This issue hasn't been as prevalent on the GCE CI builds lately but I'm seeing it quite frequently (>20% of the time) on a different CI that we are running.

[2015-03-30 18:16] erictune commented on #5917
cmd/kube-proxy/app/server.go does `BindClientConfigFlags`, but there is no flag to set the Token

Options:
  1. change kube-proxy to do `clientauth.LoadFromFile(filename)` to load a kubernetes_auth file, like kubelet does.  @jlowdermilk didn't you have some reason to not like continued use of kubernetes_auth files?  Does that only apply to human/desktop clients, or also to in-pod clients?
  1. add

[2015-03-30 18:17] brendandburns commented on #4083
v1beta3 now passes ```swagger-tools validate ...```  Closing this issue.

[2015-03-30 18:17] #4083 closed

[2015-03-30 18:18] erictune commented on #3520
not super keen.

[2015-03-30 18:19] brendandburns commented on #4797
@preillyme @saad-ali did this sync-up happen?  Is this still an open issue?

Thanks

[2015-03-30 18:21] vishh commented on #2853
@ArtfulCoder: I am picking this up. Let me know if you have already made some progress here.

[2015-03-30 18:23] brendandburns commented on #4785
@jonlangemak checking back in: is this still occurring?

[2015-03-30 18:28] lavalamp commented on #6133
* Master operations must be constant time.
* Cluster-wide invariants are difficult to get right. Try not to add them. If you must have them, don't enforce them atomically in master components, that is contention-prone and doesn't provide a recovery path in the case of a bug allowing the invariant violation. Instead, provide a series of checks to reduce the probability of a violation, and make ever

[2015-03-30 18:30] jlowdermilk commented on #5917
The motivation for deprecating kubernetes_auth files is mainly that they complicate loading rules when used with kubeconfig files. Even if they didn't, I think there is value in having one consistent way of storing and loading auth config, and that way should probably be kubeconfig.

I would go with #4. It should be fairly easy to have the kubeproxy [load](https://github.com/GoogleCloudPlatform/ku

[2015-03-30 18:31] lavalamp commented on #5798
Should be mostly fixed by #6110. Sorry about this.

[2015-03-30 18:32] #5852 closed

[2015-03-30 18:34] vmarmol commented on #2853
@vishh make sure to update the cAdvisor dep, there were some events fixes last week.

[2015-03-30 18:34] a-robinson commented on #6061
Agreed. I sent PR #6123 on Friday to fix this same issue, albeit without the simplification of the second condition. I'll update it to include the simplification.

[2015-03-30 18:44] dchen1107 commented on #6139
What I observed is that the pod is running and finished, and removed by test; but on another side, e2e testing output still show waiting for the same pod to be in Running phase. That is why I susect there is an issue in test framework at the first place.

I haven't looked at how test framework process event stream yet, but please note that we introduced event compression, and changing event's TTL

[2015-03-30 18:45] dchen1107 commented on #6139
Please correct issue title to reflect the real issue here. I don't think there are any issues related to PodStatus. It might have issues at event mechanism, or code on watching events stream, or simply test framework. Thanks!

[2015-03-30 18:46] vishh commented on #4640
@dchen1107: I assume you are working on this. Can you confirm?

[2015-03-30 18:48] #4186 closed

[2015-03-30 18:56] dchen1107 commented on #6147
I suspect Kubelet works as the intended since the test is pod_update tests. But will re-run e2e tests and update the status with detail information soon. Assigned it to myself.

[2015-03-30 19:00] satnam6502 commented on #6056
I don't think this is a flake in the test -- this is the test doing its job. The error message says that the synthlogger pod does not enter the success of failure state -- this is a bug in our system -- I thought this bug was fixed at the end of last week? @dchen1107 ?

[2015-03-30 19:00] erictune commented on #5917
@jlowdermilk

Should I do
  - `{ "config":  { "users" : [ {...} ] } }` or
  - `{ "config":  { "contexts" : [ {"user" : { ... } } ] } }`

If the second one, what do I say for the cluster name?  Not sure that is readily available in the place where I want to generate this file.

Can I do:
  - `"user" : {"authPath" : "/var/lib/kubelet/kubernetes_auth" } `
  -  or do I need to do `"user" : {"token" :

[2015-03-30 19:01] deads2k commented on #5917
You can load a kubeconfig directly from a single file using:

[code]

[2015-03-30 19:18] mbforbes commented on #6139
Apologies if I'm wrong here, but don't the tests explicitly wait for pods to be "Running" as told by a `get pods` call? It seems like this rules out pods being killed (why would they then suddenly report "Running"? The tests pass.). Also, the tests don't read the event stream, right?

[2015-03-30 19:19] jlowdermilk commented on #5917
@erictune, it's probably simplest to just load the auth bits from kubeconfig to start. We can consider loading endpoint data (i.e. "cluster") for the master later if it makes it cleaner.

You could specify an `authPath`, but that would counter the goal of using kubeconfig and not kubernetes_auth. I'd recommend a kubeconfig that looks like
[code]

Then in `cmd/kube-proxy/app/server.go`, you can loa

[2015-03-30 19:24] alex-mohr opened #6180 "Cluster setup: getting started guides rely on directories/scripts not included in kubernetes.tar.gz"
User report: "I was unable to use the walkthroughs provided (as READMEs on github) to get a cluster up and running on CentOS, CoreOS, or even Google Compute Engine.  I eventually determined that there are directories/scripts present in the git repo that are not in the kubernetes.tar.gz tarball that the documentation says to use."

This issue tracks fixing the core supported docs.  @erictune as FYI

[2015-03-30 19:24] zmerlynn commented on #6139
@dchen1107: The test isn't doing anything with the event stream. You can see an example loop here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/util.go#L94 It literally is waiting for the pod's observable status to change.

My comments about the event stream are because I was trying to debug it.

[2015-03-30 19:25] zmerlynn commented on #6139
This is continuing even after Jenkins changes, on current code. I don't think it's a test issue.

[2015-03-30 19:25] alex-mohr opened #6181 "Cluster setup: getting started guides rely on directories/scripts not included in kubernetes.tar.gz"
User report: "I was unable to use the walkthroughs provided (as READMEs on github) to get a cluster up and running on CentOS, CoreOS, or even Google Compute Engine.  I eventually determined that there are directories/scripts present in the git repo that are not in the kubernetes.tar.gz tarball that the documentation says to use."

We should include release validation tests (or process steps?) that

[2015-03-30 19:27] zmerlynn commented on #6139
( go/k8s-test/job/kubernetes-e2e-gke-ci/2872/consoleText is a recent build )

[2015-03-30 19:36] zmerlynn commented on #6139
@dchen1107: It's very possible there's something wrong here with the test. But for a moment, treat me as a customer that has a set of tests, and is seeing extremely variable performance on our product, and all you're seeing is a set of logs. Now, what are you going to instrument kubelet and/or apiserver with to help you diagnose the problem? Because that's the situation we're in right now.

I trie

[2015-03-30 19:37] mbforbes commented on #5044
Yeah, believe me, I'd rather start from a fresh machine (huge discussion on this in #3333). However, as Zach mentioned in his reply to you there, we need to be able to let new nodes into the cluster, aka dynamic clustering (#6087), before we can do this. And we want to make *some* progress before then, as we've been blocked on this for a long time.

As soon as dynamic clustering is in, we have #60

[2015-03-30 19:38] jayunit100 opened #6183 "E2E tests: Adding examples/ tests."
The examples/ are largely untested, and provide great e2e validations examples of *kubernetes in the wild*.

We can now generically begin adding e2e tests for them by leveraging the hooks in utils.go in the test/e2e/ package.

Lets
- create an examples/ directory, where we can add new tests for each example over time with
- at least one examples/ test.

Something like this...
[code]
and so on.

[2015-03-30 19:41] cnaize opened #6184 "Implementing own volume plugin"
I'm using 0.12 version.
I've created my own `volume` `plugin` for `v1beta3` based on existent and registered it in `cmd/kubelet/app/plugins.go`.
Next I've ran `apiserver` with `v1beta3`.
Next I've created `pod` with modified config based on https://github.com/GoogleCloudPlatform/kubernetes/blob/master/examples/gce-pd/v1beta3/testpd.yaml, `pod` was created successfully, but where are no logs from m

[2015-03-30 19:41] deads2k commented on #5917
@jlowdermilk `LoadFromFile` does not resolve relative paths (if it did, you'd never be able to know what the file actually contains).  If you have references to certs and keys, you might need to use `clientcmd.ResolveLocalPaths`.

[2015-03-30 19:54] thockin commented on #6061
I also fixed it in the multi-port PR.  I'll check yours, merge it, and
rebase mine

On Mon, Mar 30, 2015 at 11:34 AM, Alex Robinson <notifications@github.com>
wrote:

[2015-03-30 19:56] #4774 closed

[2015-03-30 19:58] yujuhong commented on #4121
After a little bit of thinking, I am not sure if the accumulated RestartCount since the inception of the pod is what we want or need. If the pod has been running for a long time, the restart count may no longer be relevant to the current status and should not be taken into account for the backoff time.

I propose that we only count the restarts in the past hour (or some other small window).

[2015-03-30 20:04] ravigadde commented on #341
@bgrant0607 @sdminonne

Will PodSpec get an additional selector field to specify pod conflicts? NodeSelector can be used to identify/filter nodes that meet a certain criteria. It will great to have a PodConflicts (or some equivalent name) selector to filter out nodes that have conflicting pods.

[2015-03-30 20:28] justinsb opened #6186 "Recommended way to access r/w apiserver from container?"
I'd like to check that this is the recommended way to access the (read/write) apiserver from a container:

I think I am supposed to create a secret volume, using the kubecfg.crt / kubecfg.key / ca.crt that are saved locally for use with kubectl.  I attach the secret volume to the pod.  And then I access the API using the endpoint exposed through the environment variables, with my HTTP connection c

[2015-03-30 20:35] erictune commented on #6186
The basic workflow with creating a secret is right. However, you are at the cutting edge, so you are going to hit some bumps.

If you want to auth with the client cert, then you need to explicitly enable client-cert-based auth.
That is in plugin/pkg/auth/authenticator/request/x509.

If you want to auth using a token, then you need to teach the apiserver about that token.  I'm working on that in #5

[2015-03-30 20:40] erictune commented on #6186
@liggitt @deads2k what flags does one need to enable to turn on union authenticator with x509 and token?

[2015-03-30 20:41] erictune commented on #6186
@justinsb I know I haven't actually explained how to turn on client cert authentication.  That's because I don't know.  I asked some people who might.

[2015-03-30 20:46] saad-ali commented on #4797
Not yet. I reached out to @preillyme offline, awaiting response.

[2015-03-30 20:50] #6154 closed

[2015-03-30 20:53] dchen1107 commented on #4797
I am closing this one. We are dumping events during each e2e test cycle, but never hear any reports on
"kubectl get events" hangs.

@preillyme If you still observed such issue, please re-open the issue and including the following information:

1) kubectl clusterinfo
2) kube-apiserver.log
3) etcdctl ls /registry/events

and directly assign the issue to me. Thanks!

[2015-03-30 20:53] #4797 closed

[2015-03-30 20:54] dchen1107 commented on #6139
Ok, I were confused by your earlier event analysis. Ok, I am looking into it.

[2015-03-30 20:56] vmarmol commented on #6184
/cc @thockin @quinton-hoole

[2015-03-30 20:59] erictune commented on #6184
if you get back the pod object that you POSTed does it have what you created?

[2015-03-30 21:30] dchen1107 commented on #6139
Re-assign it to myself. I think it is a race and performance related issue. But need more data to validate my hyperthesis. Updated it soon.

[2015-03-30 21:32] #6061 closed

[2015-03-30 21:37] jayunit100 commented on #6183
ping @roberthbailey  any thoughts on this before i tackle it

[2015-03-30 21:39] yujuhong commented on #4121
@bgrant0607, what do you think?

[2015-03-30 21:42] liggitt commented on #6186
@erictune client cert auth wasn't actually wired in all the way from command-line flags. Opened https://github.com/GoogleCloudPlatform/kubernetes/pull/6190 as a first stab at it. The main point of contention would probably be how a client cert is mapped to a user name.

[2015-03-30 21:47] davidopp commented on #6159
@davidopp

[2015-03-30 21:51] dchen1107 commented on #6139
By running e2e tests a couple of times today, I think I have enough information to validate my hyperthesis:

1) in one e2e run, I saw the output like the following:

[code]

2) kubectl get pods show pod server-envvars-b6787a58-d720-11e4-b933-24be050deb0e at Pending state initially, without any events. This means scheduler doesn't pick up the work to schedule.
3) After a while, I saw first event re

[2015-03-30 21:52] dchen1107 commented on #6139
cc/ @satnam6502 @davidopp

[2015-03-30 21:54] roberthbailey commented on #6183
/cc @quinton-hoole

I'd suggest you start by moving the guestbook test (which is currently our only test of an example) into the new subdirectory and make sure that you get the e2e framework configured correctly. Then add tests for the other examples one at a time.

It would be great if there was a general purpose mechanism to launch each example application that could be reused across all tests r

[2015-03-30 22:00] thockin commented on #4811
given that I hope to revamp this who facet of the API eventually, I am reluctant to make this less obvious.  I could live with "public" to match "publicIPs", if you care enough to squeeze this in.

[2015-03-30 22:11] dchen1107 commented on #1651
cc/ @davidopp

[2015-03-30 22:20] dchen1107 commented on #6139
By scanning through misc/perf-1.0 issues, this one looks like a dup of #6059

[2015-03-30 22:29] yujuhong commented on #6139
I'm perplexed about why this is an issue for e2e tests on jenkins. #6059 uses a higher number of nodes (50) and pods per node (30). The regular e2e uses two nodes and creates a few pods in each test (pods.go).  I can't really reproduce this issue on my cluster running pods.go at all...

[2015-03-30 22:29] dchen1107 commented on #6059
@zmerlynn reported an issue through #6137. After debugging, I think we ran into this issue a lot:

https://github.com/GoogleCloudPlatform/kubernetes/issues/6139#issuecomment-87842521

I observed both scheduler and kubelet doesn't pick up the work immediately. The only common pattern used by both components are using watcher.

[2015-03-30 22:39] davidopp opened #6193 "NodeController should only compare timestamps it generated locally"
As some folks pointed out in the discussion for #5399, NodeController (in the mode where kubelet updates NodeStatus rather than NodeController probing kubelet health) is currently detecting node timeout based on comparing a timestamp written by kubelet (LastProbeTime in NodeReady condition in NodeStatus) vs. NodeController's own local clock. This doesn't work in the presence of clock skew. #6159 h

[2015-03-30 22:41] yujuhong commented on #3649
I am working a related issue (crash loop), so I will pick this up.

[2015-03-30 22:41] dchen1107 commented on #6139
@yujuhong I don't know why jenkin failure more often. When I reproduced the issue by running e2e a couple of times, I never see an e2e failure actually. But from e2e test output, I observed the message on waiting a pod to be run for a couple of minutes (above comment: https://github.com/GoogleCloudPlatform/kubernetes/issues/6139#issuecomment-87842521)

If the waiting gets a little bit longer than

[2015-03-30 22:41] davidopp commented on #6159
See also #1651 which Dawn pointed me to.

[2015-03-30 22:42] davidopp commented on #6193
cc @lavalamp @bgrant0607 @dchen1107 @erictune , who participated in formulating this proposal.

[2015-03-30 22:44] quinton-hoole commented on #5821
PR #6194 fixes this.  Out for review.

[2015-03-30 22:47] jayunit100 commented on #6183
hi robert, thats exactly what the last patch was right? the new `validateController` gives a declarative way to validate pods without worrying  about  client creation and making the right API calls to get pods by name that are running and so on

[2015-03-30 22:53] zmerlynn commented on #6139
The Jenkins machine is actually a 16way / 60gig machine. It's probably
beefier than your desktop.

On Mon, Mar 30, 2015 at 3:41 PM, Dawn Chen <notifications@github.com> wrote:

[2015-03-30 22:56] davidopp commented on #6193
Oh and just to be crystal clear, this map would be in-memory only, not written to etcd.

And we discussed some alternatives to this proposal, but they were not robust to running API server on a different machines from NodeController.

[2015-03-30 22:56] yujuhong commented on #6139
@zmerlynn, hmm...I thought jenkins uses g1-small GCE instances (for both master and minions), same as my e2e cluster. Is that not true?

[2015-03-30 23:05] zmerlynn commented on #6139
It does, yes. I was referring to the machine the test sare getting executed
from, which I supposed has been eliminated at this point.

On Mon, Mar 30, 2015 at 3:57 PM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-03-30 23:06] mbforbes commented on #5948
+me

[2015-03-30 23:08] vmarmol commented on #4121
A small windows SGTM and is the most likely source of most of the crash-loop problems.

[2015-03-30 23:11] yujuhong commented on #6139
Ah... I see. Agreed that the test executing machine is probably irrelevant at this point.

In fact, I've run `--ginkgo.focus=Pods*` more than 6 times today and not once did I observe any delay in getting the "running" pod status. It's interesting that we'd run into a performance issue on such a low load setting (2 nodes, less than 10 pods in total in the cluster). It might help to know if we run t

[2015-03-30 23:11] dchen1107 commented on #6014
We are going to include Container information to kubect get pods <id>

[2015-03-30 23:23] zmerlynn commented on #6139
Yeah, I've actually tried to isolate this using --ginkgo.focus as well, and failed. (See https://github.com/GoogleCloudPlatform/kubernetes/issues/6139#issuecomment-87801801, which is basically brute force of that.)

The main differences with Jenkins:
* It executes so many more times (of course, if you have your e2es in a tight loop, this argument is moot)
* Its project is sometimes cluttered. Exce

[2015-03-30 23:41] bgrant0607 commented on #4212
Discussed w/ @craiglpeters.

I suggest deleting and re-creating the pod as a workaround. See the [update demo](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/update-demo) for our current recommended practice for rolling out updates to replicated pods.

We do eventually intend to support in-place updates, but it adds significant complexity, not just in Kubelet, but upward th

[2015-03-30 23:55] satnam6502 commented on #6056
Is this still a problem? Please let me know and I shall investigate further.

[2015-03-30 23:56] quinton-hoole commented on #5722
PR #6125 fixes the original issue reported in this issue.

[2015-03-30 23:56] #5722 closed

[2015-03-31 00:01] thockin commented on #6184
Did you update the kubelets on your nodes?  That is where volume plugins
actually live.  You should see a log at startup time indicating your plugin
was loaded.

On Mon, Mar 30, 2015 at 2:00 PM, Eric Tune <notifications@github.com> wrote:

[2015-03-31 00:02] lavalamp commented on #6059
1500 writes to etcd is a lot. It's enough to expire the 1000 change history. This could mean that if scheduler happens to be doing a re-list when the writes start, it won't be able to watch when it's done with the list, so it will have to do another list.

We should measure how long a list takes the scheduler.

How sure are you that the clocks on your local system and the scheduler are relatively

[2015-03-31 00:05] #5327 closed

[2015-03-31 00:11] thockin opened #6198 "multi-port support in openstack load-balancers"
Once #6182 lands, the openstack load balancer will have a non-supported case of multi-port services.

@anguslees

[2015-03-31 00:19] vmarmol opened #6199 "Add events back to NodeController"
[code]

/cc @ddysher

[2015-03-31 00:22] davidopp commented on #6199
@davidopp @gmarek

[2015-03-31 00:36] bgrant0607 commented on #4121
Small window sounds fine, since we're just trying to cap the restart rate. One could look at the number of restarts within the window, or how long ago the Nth previous restart was. The window should be sliding, and keep in mind the impact of the backoff on window size / restart count in order to avoid oscillation.

I'd like to avoid adding knobs to control this behavior to the API.

Updating the i

[2015-03-31 00:52] pravisankar commented on #4441
Fixed in https://github.com/GoogleCloudPlatform/kubernetes/pull/5030/
Node 'resources' field is moved from node spec to node status in v1beta3 and is no longer a config param to the user. Node controller or Kubelet(based on --sync_node_status flag) will populate 'resources' field and is periodically updated as part of node status.

[2015-03-31 00:52] #4441 closed

[2015-03-31 00:54] gosharplite commented on #6158
@AntonioMeireles Appreciate if you can provide some hint and direction on this issue #6158.

[2015-03-31 01:48] davidopp commented on #6193
Sorry, that should say "When there is no value in the map for a particular node, the value is interpreted as the time when NodeController was created." (I've edited the original comment.)

[2015-03-31 02:22] ddysher commented on #6193
How do you maintain the map, via another loop or in the same monitor code?   The problem can also be solved if we can expedite a watch based monitor.

[2015-03-31 02:32] ddysher commented on #6199
Is this from head?  I've never seen this before, maybe @gmarek changed anything recently.

Anyway, the code in question will be deleted by #6058

[2015-03-31 03:28] vmarmol commented on #6199
I saw this in the Travis run for an unrelated PR (Kubelet test refactoring). If it's going away, then that's ho we'll fix it :)

[2015-03-31 03:28] ddysher commented on #1319
@thockin @bgrant0607

Anyone takes this in gsoc?  Trying to find another feature in k8s to work on.

[2015-03-31 03:29] erictune commented on #6184
If you don't update the apiserver and kubectl, they may silently drop the new fields on your pod (e.g. myNewVolumeSource)

[2015-03-31 04:12] davidopp commented on #6193
Currently NodeController uses polling; every 5 seconds it starts a goroutine (even if the last one didn't finish yet, unless I'm misunderstanding) that checks the node's NodeReady's LastProbeTime and changes NodeReady to ConditionUnknown if the LastProbeTime is too old. Since we're looking at each node in this loop, I don't think it would be any more inefficient to update the map entry for each no

[2015-03-31 04:47] roberthbailey commented on #6183
`validateController` is used in the update example but not in the guestbook example. It's possible that `kubectl create -f <example-dir>` is sufficient here but I'm worried that some examples will require ordering during creation.

[2015-03-31 05:17] thockin opened #6209 "Conversion should recognize primitives and bypass lookups"
E.g., it calls Convert() for every byte of a slice of uint8.

E0330 22:15:23.079682    5352 converter.go:449] TIM: converting bool
E0330 22:15:23.079690    5352 converter.go:449] TIM: converting []v1.NamedExtension
E0330 22:15:23.079698    5352 converter.go:376] TIM: converting *[]v1.NamedCluster
E0330 22:15:23.079704    5352 converter.go:449] TIM: converting []v1.NamedCluster
E0330 22:15:23.07971

[2015-03-31 05:38] cnaize commented on #6184
@thockin
Yes, I've updated kubeletes, but I don't see plugin loading in log.
Maybe I have to add some lines of code to `conversion.go`? But I can't find the file for `v1beta3`.

[2015-03-31 05:58] thockin opened #6210 "Defaults and Conversions have deep entanglement"
Given

[code]

If you have a custom conversion for Foo and that func does not explicitly call Convert() on FooSpec,  then no conversion function will be called on Spec - not too surprising.  HOWEVER - it will also bypass the defaulting function of FooSpec.  This is a bit more surprising.

Worse - the tests for defaults run with no custom conversion functions loaded, it seems, so even though things

[2015-03-31 06:14] gmarek commented on #6199
Yup. It'll go away. I'll assign it to myself - I'll run test few times after #6058 to make sure it's gone.

[2015-03-31 06:36] thockin commented on #6184
Can you share your patch with us?  It would make this easier.  If you want
to reduce it to the simplest possible form that fails and does nothing
else, we can probably have a better shot at a fix.

On Mon, Mar 30, 2015 at 10:39 PM, Nikita <notifications@github.com> wrote:

[2015-03-31 06:44] bgrant0607 commented on #341
@ravigadde See #4301 and #367, and please describe what kind of conflict you'd like to represent on the latter issue.

[2015-03-31 06:47] bgrant0607 commented on #1319
@ddysher No, this issue is available.

[2015-03-31 06:51] wojtek-t commented on #6059
@dchen1107 : thanks for looking into it too - what you observed in https://github.com/GoogleCloudPlatform/kubernetes/issues/6139#issuecomment-87842521 is exactly what I also observed for bigger clusters. I didn't observe it in e2e tests, but I also didn't try to find it in e2e tests. But my feeling is that it's much easier to replicate it in bigger clusters.

@lavalamp : yes I agree that this gene

[2015-03-31 07:15] gosharplite commented on #6158
There are two possible solutions.
One way is to modify redis-slave docker image to use environment variable for redis-master service.
[code]
The other way is to use k8s cluster add-on "DNS server". It will resolve redis-master to virtual service ip.

[2015-03-31 07:15] #6158 closed

[2015-03-31 07:20] gmarek commented on #6193
I think we can have background watch which updates aforementioned map and still loop through all nodes every 5 seconds.

I was considering something similar for handling retries in node controller, but thought that it's not necessary given that "hard" retries should be efficient enough.

[2015-03-31 08:26] simon3z commented on #5819
I haven't investigated further but meanwhile I noticed that timeouts are calculated based upon update times generated by the nodes (e.g. kubelet when updating the node lastProbeTime).

This requires all the nodes to be in date/time sync (which is easy to achieve but it's something additional that we must rely upon).

A solution would be that apiserver would know the types (which already does) and

[2015-03-31 08:35] cnaize commented on #6184
@thockin
Here is test plugin https://github.com/cnaize/kubernetes/tree/scriptable_pd

[2015-03-31 08:54] AntonioMeireles opened #6212 "kube-register is broken with 0.14.x RC"
upstream bug is kelseyhightower/kube-register#13. basically this breaks most of the examples in docs/source tree, as minions aren't able to register. as soon as this gets handled all of those will have to point to the new URL of the fixed version...

[filling a bug here too, as a placeholder, in order to make it easier to track for people hitting it]

[2015-03-31 09:10] AntonioMeireles opened #6213 "a note about documentation/communication/change management workflow"
i know that the project is growing like mad, it's still in its early days, and that scalling is always an issue but...
... regardeless of that i think that there are small steps that could taken to smooth things a lot, and avoid some to feel lost or alienated too fast.
-  for releases and RCs ship with *real* release notes, that point at least the new features, or feature/flag/behavioural changes

[2015-03-31 10:00] pires commented on #6212
This one is heavy alright.

[2015-03-31 10:04] pires commented on #6213
+1

[2015-03-31 12:03] jszczepkowski commented on #6087
I'm currently working on updating external load balancers (target pools) for external services when cloud nodes are changed. I'm just adding an extra call in NodeController.SyncCloudNodes method to reconcile external services. I think this is a part of this issue.

[2015-03-31 12:20] gmarek commented on #6193
I'm slightly worried about another 'feature' we have now (and we'll have even after this change). Namely when machine on which NodeController runs will become unresponsive for some time (say podEvictionTimeout seconds) and then come back NodeController will evict everything everywhere.

Currently there's a slight chance that some part of kubelets will manage to update their statuses before they ge

[2015-03-31 12:27] gmarek commented on #6193
To propose one solution: replicated master/node controller with some consensus algorithm protects from such scenario. The problem is that I think it'll be extremely hard to move to a replicated setup before v1.0

[2015-03-31 12:28] gmarek commented on #6193
@davidopp @thockin @brendanburns @bgrant0607 @dchen1107 @erictune

[2015-03-31 12:44] wojtek-t commented on #6059
I tried to debug it deeper and have few more findings about it. I've added a bunch of different logs and here is what is happening:

1. Scheduler (or Kubelet) is "opening" watch for pods.
2. For some time (say 3 minutes) nod pods are changing, so there are no writes with pods in etcd.
3. In the meantime, a bunch of other writes to etcd is happening (e.g. we're updating NodeStatus once per ~2 secon

[2015-03-31 12:57] wojtek-t commented on #6139
I'm pretty sure this one is a duplicate of #6059 (as @dchen1107 suggested above).

Please take a look at https://github.com/GoogleCloudPlatform/kubernetes/issues/6059#issuecomment-88070521 as the first step towards explanation of this issue.
If my hypothesis is correct we can face this problem if there are a lot of writes to etcd which doesn't modify pods after opening "watch channel". I think thi

[2015-03-31 12:58] piosz commented on #4914
@AntonioMeireles @vishvananda That seems to be no longer a problem since we are using kube-dns instead of SERVICE_HOST, SERVICE_PORT env variables (see #5284). Could you please verify if you still have such problem?

[2015-03-31 13:10] zmerlynn commented on #6139
Closing as dupe of #6059.

[2015-03-31 13:10] #6139 closed

[2015-03-31 13:49] piosz commented on #5184
I don't agree with you Eric. It would be problematic for users to handle the case in each application they are using. The internal cluster problems should not be visible for the users.

Moreover relying on IPs is actually not the best idea since IPs are rather temporary than permanent. The user don't want to watch env variable for changes. For example the issue #4914 was caused by changed IP.

[2015-03-31 14:09] bgrant0607 commented on #6055
Yes, multi-object transactions would be necessary.

No, we haven't built our own transaction mechanism.

[2015-03-31 14:16] erictune commented on #6193
The node controller should ask the question *what is more likely: that the nodes I see as bad are really bad, or that I am bad*.

To keep it simple, assume node badness is equally and independently likely for all nodes. This can be refined later.

Probability that a specific node (the one the controller is on) is bad, at a moment in time is `p`
Probability that any `k` nodes are bad, out of a clus

[2015-03-31 14:16] gmarek commented on #6193
As a 'workaround' we can add a logic which checks if NodeController got update from any Node, and if not assume that it's a problem with Controller itself. It's a bad idea for many different reasons.

[2015-03-31 14:19] gmarek commented on #6193
Eric was first, so I'll elaborate why I think it's a bad idea:
- complicates logic, needs tuning constants
- makes it impossible to distribute node processing into independent goroutines
- is not needed if we plan to add replication at some point

[2015-03-31 14:33] jszczepkowski commented on #5241
You comments indicates that my initial idea, to automatically update target pools by MIG is not correct.

Therefore, I'm implementing updating target pools for external services from NodeController, whenever set of cloud nodes is changed. This is more general solution.

[2015-03-31 14:35] erictune commented on #6193
@gmarek taking your comments one at a time:
  * complicated logic is better than killing the wrong nodes.
  * Is there any evidence that the processing needs to be parallelized?
  *  The approach I described is still applicable if we add replica node controllers.  You first check if all the peers agree on which nodes are bad.  If they do, then you compare the probability that all replicas of node

[2015-03-31 14:42] zmerlynn commented on #6213
Regarding release notes: I'm still compiling release notes for 0.14.0, and
that process is actually getting worked out. I should've marked the notes
as unfinished, but the release itself is still RC, so my apologies.
On Mar 31, 2015 3:05 AM, "Paulo Pires" <notifications@github.com> wrote:

[2015-03-31 14:43] gmarek commented on #6193
@erictune
Yes complicated logic is better than killing wrong nodes, but I strongly believe that it should be avoided if possible. In this case we know that replication solves this problem completely (it's VERY unlikely that say, 3 or 5 "master" (API server, controllers, etcd) replicas will go down in the same time. In addition I heard that replication is on our plate (probably post v1.0 but not ve

[2015-03-31 15:05] ravigadde commented on #341
@bgrant0607

This is for describing anti-affinity requirements, for example multiple instances of a db server may not run on the same node.

[2015-03-31 15:09] timothysc commented on #1651
@smarterclayton ^ FYI.

[2015-03-31 15:20] erictune commented on #6193
Totally fine with not fixing this problem yet.

[2015-03-31 15:20] timothysc commented on #6193
Perhaps I'm missing something, but if we are serious about checking time stamps, why are we not enforcing 'stratum 2' clock requirements and be done with it?

Any 'skew' would be negligible at the granularity of the afore mentioned checks?

[2015-03-31 15:45] zmerlynn commented on #5629
This is the same thing @satnam6502 stuck in the logging for, but it's snuck back in, now with more logging:
[code]

We've had a couple of aborted Jenkins builds recently due to this.

[2015-03-31 16:09] thockin opened #6219 "Most ValidateFooUpdate don't call ValidateFoo"
This results in it being possible to update all sorts of fields to illegal values.

@smarterclayton I think we want to either make all ValidateFooUpdate() call ValidateFoo() or else make REST objects call both sets of Validate functions.  What think?

[2015-03-31 16:20] erictune commented on #6028
You should be able to do this with `hack/conformance-test.sh`.  Let me know if that doesn't work.  Read the comments in that shell script.

[2015-03-31 16:20] jonlangemak commented on #4785
It looks like since my upgrade to Kubernetes .12 the host IP is now being reported correctly...

Host:10.20.30.63 HostIP:10.20.30.63 PodIP:

Interestingly the pod IP is no longer reporting as it was before.

[2015-03-31 16:22] #4785 closed

[2015-03-31 16:24] vishh commented on #4785
The Pod IP missing bug was fixed recently in Kubelet. The latest Kube
release should fix that.

On Tue, Mar 31, 2015 at 9:22 AM, Jon Langemak <notifications@github.com>
wrote:

[2015-03-31 16:27] bgrant0607 commented on #5184
Closing this as a duplicate.

[2015-03-31 16:27] #5184 closed

[2015-03-31 16:41] timothysc commented on #5654
The repro is mentioned in #5650, and we re-created last friday.

[2015-03-31 16:47] #5948 closed

[2015-03-31 16:49] vmarmol opened #6222 "Automated and standard build for kubernetes project Docker images"
This is particularly useful for those images used in e2e tests. Today each image has its own scripts to build and deploy, there is no automation and no conventions throughout.

/cc @ArtfulCoder who has done some work on auto-building images.

[2015-03-31 16:49] vmarmol commented on #6222
/cc @pmorie

[2015-03-31 16:53] pmorie commented on #6222
@lavalamp @vmarmol FWIW this seems like it would be nice to have for 1.0

On Tue, Mar 31, 2015 at 12:50 PM, Victor Marmol <notifications@github.com>
wrote:

[2015-03-31 17:01] pmorie commented on #2316
@smarterclayton @bgrant0607 Can this issue be closed now that #6100 has landed?

[2015-03-31 17:02] jayunit100 commented on #6222
hi this is a greate idea.  we've been talking about it in #6183 and #5465 also

[2015-03-31 17:03] jayunit100 commented on #6183
Lets make sure to synergize with #6222 above

[2015-03-31 17:04] jayunit100 commented on #5465
Lets make sure to synergize with #6222 above ^^^ it might solve this issue.

[2015-03-31 17:07] jayunit100 commented on #6222
There are many proposed ways to solve the kubernetes images problem

- secure docker builds
- putting a Makefile in with each docker recipe in the examples/
- having a top level `images` directory in kuberntes, which builds a bunch of images as part of the standard build.

each has its own benefits.  i prefer the "put all docker content in one directory" approach, from a code hygeine perspective,

[2015-03-31 17:13] erictune commented on #5874
I don't think we want people to use hostPort except in cases when they are setting up cluster infrastructure. In that case, they can probably work around this.

[2015-03-31 17:13] #5874 closed

[2015-03-31 17:18] satnam6502 opened #6223 "Can't delete pods on GCE"
Possibly a duplicate of an earlier issue. I can't delete pods and I have to keep re-trying `kubectl delete` which often fails. GCE.

[code]

[2015-03-31 17:19] timothysc commented on #473
@smarterclayton - is there any issue no. or update on IP alloc?

[2015-03-31 17:19] smarterclayton commented on #6219
So certain things are legal on create that are illegal on update.  The REST object definitely is the final arbiter of calling the right method which does the right thing.  I'm think it would work if individual REST strategies call validateX before validateXUpdate, but we should be sure that validate* now stops mutating the resource (which a few did before PrepareBeforeUpdate was added).

----- Ori

[2015-03-31 17:20] smarterclayton commented on #1607
Here's how OpenShift is doing headless service DNS: https://github.com/openshift/origin/pull/1510

[2015-03-31 17:20] dchen1107 commented on #6223
Can?

[2015-03-31 17:21] smarterclayton commented on #473
https://github.com/GoogleCloudPlatform/kubernetes/issues/5180

----- Original Message -----

[2015-03-31 17:25] smarterclayton commented on #341
@abhgupta FYI

----- Original Message -----

[2015-03-31 17:33] dchen1107 commented on #6059
cc/ @xiang90 coreos etcd expert.

Xiang, is this the same / similar issue as coreos/etcd/issues/2048? We are running etcd 2.X, and go-etcd client is 0.4.6.

[2015-03-31 17:34] jayunit100 commented on #6028
hi eric.  do you think that decoupling the tests is probably  a good solution.....  even if there is a current workaroudn in `hack/conformance-test.sh` ?  I'd like to , for example, have the test of guestbook not rely on cloud provider semantics, and test cloud provider stuff in a separate test... given that its not a gauranteed feature to be in every kube system.

[2015-03-31 17:36] jayunit100 commented on #4914
well, wether or not this is a bug, is independent of wether redis HA is working, right?  after all ENV variables are a supported feature, and clustered redis, if using env variables, should work just the same since it could have a master service.

[2015-03-31 17:38] mbforbes commented on #5948
Awesome, thanks Dawn!

[2015-03-31 17:40] smarterclayton commented on #6059
This is the same issue.

[2015-03-31 17:41] erictune commented on #5874
Clarification:
Agree that what the OP said is correct and possible.

The scheduler already checks fpr hostPort conflicts.  This ensures no conflicts.  It is pessimistic because it ignores possibility of protocol being different.  I think the priority for fixing this pessimism is P4, a.k.a closed.

[2015-03-31 17:42] derekwaynecarr commented on #6059
I don't think item 4 in his sequence is the same issue...

[2015-03-31 17:48] erictune commented on #2877
@derekwaynecarr I didn't want to grow the Authorizer interface in ways that would encourage changes that are in incompatible with my company's internal and external authorization systems.  Those are complex, and I needed time to figure out how things would fit together.  I now understand that better, and this change appears to fit in.

[2015-03-31 17:51] xiang90 commented on #6059
This has been fixed in etcd2 I think.

[2015-03-31 17:52] dchen1107 commented on #6059
@smarterclayton and @derekwaynecarr I think it is the same issue with some fixes, but not fully in etcd 2.X, and item 4 is the new symptoms.

[2015-03-31 17:53] xiang90 commented on #6059
This might be a etcd issue or an application issue. We need to dig into this a little bit.

[2015-03-31 17:54] brendandburns opened #6227 "Monitor in-flight operations over time"
To catch long running operations that aren't terminating.

[2015-03-31 17:57] davidopp commented on #6193
@timothysc Our thought here was that if there is a simple way to deal robustly with clock skew in NodeController, we should do it, in addition to something like what you described. And I think the proposal we have here actually *is* simple -- the only wrinkle is the one @gmarek identified ("when machine on which NodeController runs will become unresponsive for some time and then come back NodeCont

[2015-03-31 17:58] ddysher commented on #6193
@davidopp Only one goroutine is running in MonitorNodeStatus.  It just checks periodically, within the period, it is a sleep.  What I have in mind for watch solution is similar to this:
[code]

@gmarek I'm not entirely understand your concern.  When machine goes down (where NodeController is running) for podEvictionTimeout, and then comes back.  It will first ask apiserver for NodeStatus, and rebu

[2015-03-31 17:58] davidopp commented on #6193
Sorry, I still got this wrong when I corrected it. It should say "Whenever a node is created, it is added to the map with a timestamp of whenever the machine was created."

[2015-03-31 18:00] lavalamp commented on #6059
As I understand item 4, it shouldn't happen. I thought we were using etcd 2.03 now? We should try to duplicate the issue with straight etcd commands to see if it's something we're doing wrong with the watch or if we're hitting an etcd bug. Maybe we could add a little script to our integration test to do this test.

[2015-03-31 18:02] smarterclayton commented on #6059
https://github.com/coreos/etcd/blob/fbd5c81139024b5b47345ee7b036fb3321755e84/store/store.go#L93 seems to imply the limit is still in 2.0 for 4

[2015-03-31 18:03] davidopp commented on #6193
@ddysher He's not concerned about NodeController crashing and coming back up. He's concerned about the case where master becomes disconnected from the network and then reconnects say 10 minutes later. It will have queued pod deletes for every pod in the system during the last 5 minutes of those 10 minutes, which it will immediately write to etcd when it reconnects. As I mentioned, we fix this in o

[2015-03-31 18:04] smarterclayton commented on #6059
Doh, I meant 5.  Sorry, too many conversations open at once.

[2015-03-31 18:05] gmarek opened #6228 "When API server becomes unresponsive and comes back after some time NodeController will try to kill all Pods everywhere."
Discussion started in #6193

[2015-03-31 18:05] gmarek commented on #6193
We're discussing two slightly related bud different things here. Let's move "kill everything" discussion to #6228.

[2015-03-31 18:05] nikhiljindal opened #6229 "Can we use gcr.io/google_containers instead of gcr.io/google-containers in path to GCR images?"
I cant bring up the monitoring addons on my local cluster after https://github.com/GoogleCloudPlatform/kubernetes/pull/6030.
I turns out that thats because I am using an older version of docker which does not allow "-" in namespaces.
I get `Invalid namespace name (google-containers), only [a-z0-9_] are allowed, size between 4 and 30` error on running `$docker pull gcr.io/google-containers/heapster

[2015-03-31 18:07] nikhiljindal commented on #6229
@vishh @satnam6502 @mattmoor @jlowdermilk

[2015-03-31 18:07] mattmoor commented on #6229
SGTM

[2015-03-31 18:08] lavalamp commented on #6059
Yeah the 1000 window history isn't the issue here, it's that after you start watching, 1000 unrelated changes seem to cause your watch to silently stop triggering on changes you do care about. It was my understanding that this shouldn't happen. If you watch for change N and etcd sees change N and sees that you don't trigger on it, it should increment your N automatically; so that if you start out

[2015-03-31 18:08] jlowdermilk commented on #6229
Fine with me. I'm working on moving the e2e images, can make this change at same time.

[2015-03-31 18:08] lavalamp commented on #6059
(Increasing the 1000 window history might be nice but should be an optimization change, not a correctness change.)

[2015-03-31 18:10] satnam6502 commented on #6229
SGTM. Take note @dchen1107

[2015-03-31 18:10] smarterclayton commented on #6059
Yes, didn't read the symptoms in 4 carefully enough.

----- Original Message -----

[2015-03-31 18:12] jayunit100 opened #6230 "Add an etcd soak test."
This is optional, and I'm open to opinions on wether or not we should/shouldn't have an etcd soak test.  I found it useful in an experiment this week, so im happy to PR it if we like the idea.

Given that erroneous  etcd deployments can  lead to  nodes being split brained (not an etcd issue necessarily, just a general distributed systems issue that can crop up due to network partitions or other in

[2015-03-31 18:13] xiang90 commented on #6059
You actually mean 6,right? @smarterclayton

5 is fixed in etcd. 4 is wired. 6 is the 1000 window thing.

[2015-03-31 18:16] ddysher commented on #6193
@davidopp  oh, ok. master unresponsive and master go down is used in interchangablely, got confused.

[2015-03-31 18:18] jlowdermilk opened #6231 "Host kubernetes/pause on gcr.io"
I believe this just requires changing the image name [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/kubelet.go#L861), but I wanted to check that there isn't other work to do before we move it. IIRC, the pause pod is cached on containervm, so we should make sure the `gcr.io/google_containers/pause` tag is also cached.

cc @vmarmol, @dchen1107

[2015-03-31 18:19] ddysher commented on #6193
hmm, I was wondering where is ur comment.  Turns out we comment at the same time and I had to do a refresh to see your comment...

[2015-03-31 18:20] lavalamp commented on #6059
@xiang90 What do you mean by wired? Is that a typo for weird?

[2015-03-31 18:21] xiang90 commented on #6059
@lavalamp Yea... Sorry for typo... We need to dig into that one.

[2015-03-31 18:23] davidopp commented on #6228
We should just use rate limiting like we do in the internal cluster management system.

[2015-03-31 18:24] thockin commented on #6229
please double and triple check to get everything :)

On Tue, Mar 31, 2015 at 11:10 AM, Satnam Singh <notifications@github.com>
wrote:

[2015-03-31 18:24] dchen1107 commented on #6231
kubernetes/pause is cached in ContainerVM image, should we remove it after gcr.io host kubernetes/pause?

[2015-03-31 18:25] dchen1107 commented on #6231
I am going to do this, since I plan to push etcd_server to gcr.io today.

[2015-03-31 18:26] davidopp commented on #6193
To summarize
* I think you should add the map, so NodeController only uses timestamps it generated locally. Note the change in how the map entries get initialized, which I got wrong twice (I've updated the description in the first entry).
* I don't think we should try to fix the "kill everything" problem right now. We should add rate limiting later (even if "later" means "later this week" -- but l

[2015-03-31 18:26] yujuhong commented on #6210
Yes, defaulting is tangled with conversions, and there are some caveats unfortunately. One example is that if you convert an object multiple times between different versions, you may end up having an object populated with default values from multiple versions. I am not sure that this is the intended behavior. We could use more clarity on this, and the example you mentioned.

As for the tests, as f

[2015-03-31 18:27] jlowdermilk commented on #6231
@dchen1107, I think we still want to cache it in ContainerVM image, just with the gcr.io tag.

[2015-03-31 18:32] thockin commented on #6210
I'm not sure this is worth a lot of attention right now.  I wanted to file
it so we can think about it for a larger revamp of
conversion/validation/defaulting.

On Tue, Mar 31, 2015 at 11:27 AM, Yu-Ju Hong <notifications@github.com>
wrote:

[2015-03-31 18:32] bprashanth commented on #6059
@wojtek-t a suggestion, you could add some tracking around here: https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/tools/etcd_helper_watch.go#L243

I'm curious where in the pipeline the watch events were dropped (etcd->apiserver->reflector->scheduler).  I'd planned to do this but just haven't got around to setting up a 50node cluster yet.

[2015-03-31 18:36] dchen1107 commented on #6059
@bprashanth You don't need 50 nodes cluster to reproduce the issue. One can easily reproduce this with e2e tests with 2-node-cluster. See my comment at #6139 (comment)

[2015-03-31 18:41] dchen1107 commented on #6229
@satnam6502 Thanks for heads-up. I am in the middle of pushing kubernetes/pause and etcd_server to gcr.io. Will make sure use the right path here.

[2015-03-31 18:42] ddysher commented on #6228
+1 for an intermediate solution from @davidopp

I think this is basically to say if no one can reach API server, then I'm down.

[2015-03-31 18:42] lavalamp opened #6233 "Data race in node controller"
Seen in a travis flake. https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/56601001

[code]

[2015-03-31 18:45] ddysher commented on #6233
Dup of #6199

[2015-03-31 18:45] #6233 closed

[2015-03-31 18:50] ddysher commented on #5659
ok, i'll unassign myself.

I think multi-port service is coming, maybe this is also a good place to demonstrate that?

Also, you need to run priviledged container, which is a cluster wide capability. I hope there is an esier way to run it.

[2015-03-31 18:50] ddysher commented on #1319
ok, self-assign

[2015-03-31 18:58] cnaize commented on #6184
Solved.
The problem was where is no `conversion.go` file for `v1beta3`.
Added to `v1beta1` and everything works.

[2015-03-31 19:00] yujuhong commented on #6210
Agreed that the entanglement should be addressed in a larger revamp, but the tests should still catch most of the unexpected errors until we have time for the revamp. I submitted a PR #6235.

[2015-03-31 19:03] thockin commented on #6219
So you think the REST object should call `ValidateFoo(new);
ValidateFooUpdate(old, new)` in their own ValidateUpdate() methods?

Why would it not be correct to call `strategy.Validate(new);
strategy.ValidateUpdate(old, new)` in `BeforeUpdate()`?  It seems to me
that every updated object must also be a valid object.

That also make it very clear what  ValidateUpdate() should be checking and
what it

[2015-03-31 19:06] pmorie opened #6236 "pkg/cloudprovider/controller unit tests flake"
Data race in TestSyncProbedNodeStatusEvictPods, most recently [in this build](https://travis-ci.org/GoogleCloudPlatform/kubernetes/jobs/56610116).

[2015-03-31 19:10] bgrant0607 commented on #4914
Is this about:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples/redis
?

There is no master service.

It's not clear to me how that example is expected to work.

The redis and sentinel controllers create separate pods. sentinel.py is not in the image directory, so I don't know what it's doing, but I don't see how it can find the redis replicas.

[2015-03-31 19:16] pmorie commented on #4602
@erictune @thockin Is there any reason to keep this issue open now?  I think we can close it since #5162 and #5167 are both in.

[2015-03-31 19:20] piosz commented on #4914
Sorry, I've thought it was about guestbook example. I'll take a look into redis example tomorrow.

[2015-03-31 19:24] pmorie opened #6238 "EmptyDir volume tmpfs mounts should have the correct selinux context set"
Tmpfs mounts done by the `EmptyDir` volume plugin will by default receive a different security context than the kubelet root dir.  This results in AVC denials on reads from the container's selinux context while selinux is enforcing.  We should change the EmptyDir volume plugin to set the `rootcontext` option of the mount based on the selinux context of the kubelet rootdir.

Eventually this will to

[2015-03-31 19:24] pmorie commented on #6238
@pweil- FYI since I know security contexts are relevant to your interests.

[2015-03-31 19:25] pmorie commented on #6236
@zmerlynn FYI

[2015-03-31 19:29] wojtek-t commented on #6059
I will continue investigating it tomorrow, but if you have any suggestions (like the one from @bprashanth) just let me know.

[2015-03-31 19:32] bgrant0607 commented on #4914
IIUC, the guestbook example doesn't even pretend to handle master failure.

[2015-03-31 19:34] yujuhong commented on #6210
Default tests should be able to catch most problems now that the PR has been merged.

[2015-03-31 19:37] smarterclayton commented on #6219
Part of the reason ValidateUpdate was separate to allow that decision to be made by the strategy.  I would prefer to keep that factoring, because they are separate.

[2015-03-31 19:38] lavalamp commented on #3412
@a-robinson #5473 almost in; there'll be (at least) one follow-up, hopefully this week.

[2015-03-31 19:48] pmorie commented on #6238
@thockin

[2015-03-31 20:11] dchen1107 commented on #6210
+ me on latest update on this.

[2015-03-31 20:12] pmorie commented on #6238
@erictune @thockin

Taking a look at this I think the biggest question I have when porting my code from #5162 in is how the `EmptyDir` plugin should find out about the kubelet's `rootDir`.  It seems like the cleanest thing to do is to have a method in the `volume.Host` interface that exposes it:

[code]

Then, the `emptyDir` plugin can use libcontainer to read the selinux context of the root dir a

[2015-03-31 20:12] pmorie commented on #6238
@jiangyaoguo FYI

[2015-03-31 20:25] quinton-hoole commented on #6059
/sub

[2015-03-31 20:33] a-robinson commented on #3412
Thanks, looks like it just made it in. I'll switch from using the proxier config to try this out instead.

[2015-03-31 20:33] erictune commented on #3652
Tell me if this is a correct summary of what was decided:
  - watch is not a special verb.  it is a content-type.
  - the watch content-type is requested via a query paramter
  - resize, stop, and clone are special verbs.  They still go as the last path component.

[2015-03-31 20:38] erictune commented on #3652
Once this is settled, I need to figure out implications for mapping requests to policy verbs (#2877).

[2015-03-31 20:39] bgrant0607 commented on #341
@ravigadde I'll direct you again to the other issues: #4301 and #367.

This one is just about selector semantics/syntax.

[2015-03-31 20:42] erictune commented on #2502
Capability could guard ability to request  Access to host device #5607

[2015-03-31 20:45] davidopp commented on #6102
@ArtfulCoder what is the ETA? Should we implement this in the mean time? If the ETA is soon, please close this issue.

[2015-03-31 20:47] erictune commented on #5652
Yeah, this is working as intended, like Clayton says.  Okay to close?

[2015-03-31 20:57] bgrant0607 commented on #2316
Yes.

[2015-03-31 20:57] #2316 closed

[2015-03-31 20:59] smarterclayton commented on #5652
This was a placeholder for david to update the policy to integrate tightly with api_installer (for knowing what we're operating on, like admission controller) and loosely on all other resources.

[2015-03-31 21:01] smarterclayton commented on #3652
They are resources - "pod/size" is a resource, with the verb "GET" (show me the current size) and "PUT" (change the current size).  So the verb would stay a verb, but the resource would be a different resource.  "pod" and "pod/status" are not the same resource.

----- Original Message -----

[2015-03-31 21:01] smarterclayton commented on #3652
Generic proxy would probably just be a path (non-API) while "pod/proxy", "service/proxy", "pod/logs" are all separate resources.

----- Original Message -----

[2015-03-31 21:10] lavalamp commented on #6212
@brendanburns @bgrant0607 Is this a component we want to support natively, and if so, post 1.0 or pre 1.0?

[2015-03-31 21:15] lavalamp commented on #6210
Unfortunately, this is probably a post-1.0 item.

[2015-03-31 21:15] lavalamp commented on #6209
There's an easy fix for this :/

[2015-03-31 21:17] lavalamp commented on #5672
Work item here is to delete that node client entirely. It should be unused now.

[2015-03-31 21:21] roberthbailey commented on #5672
@erictune Do we have a burn-down list somewhere for the remaining places where the master contacts the node?

[2015-03-31 21:24] lavalamp commented on #4866
Work item: figure out if #6203 fixes this.

[2015-03-31 21:26] vmarmol commented on #6236
Dup of #6199 so I will close in favor of that :)

This is apparently going away which will be the fix.

[2015-03-31 21:26] #6236 closed

[2015-03-31 21:29] erictune commented on #4822
I wanted this last week.  Looking forward to it.

[2015-03-31 21:32] roberthbailey commented on #5921
@liggitt FYI (take 2, hopefully spelled correctly this time)

[2015-03-31 21:33] zmerlynn commented on #6059
This is now a fairly serious issue for us, and we need a mitigation ASAP. I actually a theory as to why e2es might be affected: If nothing else, we tend to churn through a fair number of pods fairly quickly. I suspect one thing that happens is that we end of recycling a lot of containers, too, which could be eventful. We seem to hit a lot of extra instability in our e2e after 467f400721cecb7dce117

[2015-03-31 21:35] zmerlynn commented on #6059
(That commit added a mini-density test to the e2es.)

[2015-03-31 21:43] TamerTas commented on #5582
Sorry about the delay, it's my exam period. I've done the initial implementation. Before proceeding any further, I wanted to ask if this is the direction we want to take. Please take a look @bgrant0607 @thockin @eparis at #6245

[2015-03-31 21:52] roberthbailey commented on #6230
I think it would make more sense for an etcd soak test in the etcd github repo rather than in the kubernetes repo. A kubernetes specific soak test (#3137) will test the etcd instance used by the master with our particular usage patterns.

That being said, kubernetes seems like a great platform on which to build an etcd soak test, since you can easily schedule etcd pods and load testing pods around

[2015-03-31 21:56] bgrant0607 opened #6247 "TestSyncProbedNodeStatusEvictPods is flaky"
It may be due to an event that was just added to node controller (#6155).

@vmarmol @gmarek @simon3z

[code]

[2015-03-31 22:01] vmarmol commented on #6247
Dupe of #6199. The fix for that is under review (the code is getting removed).

[2015-03-31 22:01] #6247 closed

[2015-03-31 22:18] #6231 closed

[2015-03-31 22:22] mwuertinger opened #6251 "New GCE nodes are missing node-ip-range metadata"
# Summary
Adding new node to a k8s cluster on Google Compute Engine (GCE) by modifying the associated instance group does not work. The newly created instances never enter the Ready state.

# How to reproduce?
- Download and extract latest ``kubernetes.tar.gz`` release (0.14.0) from Github.
- ``MINION_DISK_SIZE=100GB cluster/kube-up.sh``
- Wait till cluster becomes fully available.
- ``cluster/kub

[2015-03-31 22:50] lavalamp commented on #6219
@thockin Where does this currently go wrong? I know I asked for both to get called when I reviewed a change for rep. ctrls.

[2015-03-31 22:55] lavalamp commented on #6059
I will write an integration test to try and repro this hypothesized etcd bug.

[2015-03-31 23:11] zmerlynn commented on #6251
I'm sorry you ran into this. This is a known issue that @	tkulczynski is working on fixing in #5246 (and a dupe of #4610 and probably others), but it's going to be a little while before that lands. Thanks for the bug report, though - it was awesome to see such detail. We definitely want this use case to work and are working hard to get it in.

cc @cjcullen

[2015-03-31 23:11] #6251 closed

[2015-03-31 23:13] rjnagal commented on #3205
I think the problem here is that kubelet is returning the logs based on container id cached in the PodStatus. If we need to get the most recent logs, we'll have to bypass the cache and get the latest status of containers.

[2015-03-31 23:20] mwuertinger commented on #6251
I created a pull request with a dirty hack that solves the problem for me. Although seeing little chance of this getting merged it might help other people running into the same issue until #5246 is fixed.

https://github.com/GoogleCloudPlatform/kubernetes/pull/6254

[2015-03-31 23:24] satnam6502 commented on #2918
Closing on the assumption this is no longer an issue -- but please do reopen if it is not.

[2015-03-31 23:24] #2918 closed

[2015-03-31 23:25] satnam6502 commented on #3085
Done via #5690

[2015-03-31 23:25] #3085 closed

[2015-03-31 23:27] smarterclayton opened #6255 "`kubectl create -f -` stops on first error (it should continue)"
Something broke with EagerVisitorList and stream handling.  Probably an ordering issue.  Create should try to create all so that you can run it multiple times in a row and hopefully make progress.

[2015-03-31 23:30] erictune commented on #6106
@erictune

[2015-03-31 23:30] erictune commented on #6096
@erictune

[2015-03-31 23:36] smarterclayton commented on #6255
And it needs a test case to make sure it doesn't regress.

[2015-03-31 23:53] lavalamp commented on #6059
See #6257. Sounds like the next step here is to put some logging into our etcd watch handling code to try and figure out where the delay is. I'd start at the place @bprashanth mentions above. Log timestamps and compare.

Perhaps this delay is getting introduced in apiserver? It does have to watch quite a bit of extra stuff to satisfy label/field selectors. That's what I'd rule out first.

[2015-03-31 23:59] bgrant0607 commented on #5339
Is there anything left to fix here, or can this issue be closed?

[2015-04-01 00:05] bgrant0607 commented on #2971
Now all string types are represented as strings, I believe, and others are represented as "any"?

[2015-04-01 00:07] bgrant0607 commented on #2884
Can this be closed?

[2015-04-01 00:08] lavalamp opened #6261 "Flake: mirror pod not found"
Seen here: https://app.shippable.com/builds/551b33890f3ae40d00e932a6

[code]

[2015-04-01 00:10] nikhiljindal commented on #5339
I ran into this today with @satnam6502
I was trying to access http://localhost:8080/api/v1beta1/proxy/services/monitoring-grafana/ and I saw a bunch of 404s while accessing css and js files.
Looking at the console, all of them were of the form http://localhost:8080/api/v1beta1/proxy/namespaces/default/services/monitoring-grafana/css/grafana.light.min.81a2958f.css

The URLs work if "namespaces/defa

[2015-04-01 00:12] dchen1107 commented on #2884
Yes. Other issues were filed separately already.

[2015-04-01 00:12] #2884 closed

[2015-04-01 00:18] lavalamp commented on #5339
Yeah, I observed this at @nikhiljindal's desk-- it was working previously but not now. I suspect the handler wiring may have changed? @nikhiljindal said he would look at it.

[2015-04-01 00:23] rjnagal commented on #3205
I just tried it out with the changes in head. I think the recent Pod status changes fixed this logic. I see it returning logs from latest attempt now.

@smarterclayton do you want to give it another try?

[2015-04-01 00:25] #3205 closed

[2015-04-01 00:25] smarterclayton commented on #3205
Pretty sure this was fixed when we last rebased.  Closing.

[2015-04-01 00:28] jlowdermilk commented on #5629
From running the test locally, the failure I see is that the webserver container cannot run.
[code]
This seems to be a catchall [failure](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L618). @dchen1107 may have some idea what this error indicates.

[2015-04-01 00:51] jayunit100 commented on #6230
Im happy to close this.  Just wanted to bring up  in case folks were interested.

[2015-04-01 00:51] #6230 closed

[2015-04-01 00:52] satnam6502 commented on #5629
If the pod's state here is "termination" then why does it show up as
"Pending" in the test log output?

S

On Tue, Mar 31, 2015 at 5:28 PM, Jeff Lowdermilk <notifications@github.com>
wrote:

[2015-04-01 00:57] thockin commented on #6219
Until I fixed it, for example, ValidateServiceUpdate() allowed through
perfectly invalid services.

On Tue, Mar 31, 2015 at 3:51 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-04-01 01:01] nikhiljindal opened #6264 "Upgrade header being added implicitly"
Forked from: https://github.com/GoogleCloudPlatform/kubernetes/pull/6175

I started a cluster on GCE and sent a simple GET request at `https://104.155.58.27/api/v1beta1/proxy/services/monitoring-grafana` via browser and printed the request received by proxy.go.
This is the output:

[code]

The request has a `Connection:[upgrade] ` header even tough the original request did not have it.
Clearly som

[2015-04-01 01:02] bprashanth commented on #6223
please re-title and provide: https://github.com/GoogleCloudPlatform/kubernetes/issues/5650#issuecomment-85057109
when you have a chance.

[2015-04-01 01:04] xiang90 commented on #6230
@roberthbailey @jayunit100

We have a flexible testing suite in etcd repo. https://github.com/coreos/etcd/tree/master/tools/functional-tester

It would be great if you want to add more test cases into it. It is fairly simple to add a test case:
https://github.com/coreos/etcd/blob/master/tools/functional-tester/etcd-tester/failure.go#L40-L57

[2015-04-01 01:05] nikhiljindal commented on #4958
On GCE, the redirection is still not happening because the request is upgraded before we get a chance to redirect https://github.com/GoogleCloudPlatform/kubernetes/issues/6264

On localhost, the redirection works fine but we are unable to load the css and js files because of https://github.com/GoogleCloudPlatform/kubernetes/issues/5339#issuecomment-88291854

[2015-04-01 01:07] satnam6502 commented on #3520
Un-assiging temporarily while I look at issues with our network e2e test. No worries if someone else wants to pick this up before I can get back to it.

[2015-04-01 01:09] thockin opened #6265 "DeepHashObject should probably set DisableMethods and DisablePointerMethods for spew"
For max consistency.  Some String() methods might hash collide.

[2015-04-01 01:36] nikhiljindal commented on #5339
cc @derekwaynecarr @smarterclayton
The issue is that we do not register proxy_handler for "/api/v1beta1/proxy/namespaces/default" paths (http://kubernetes.io/third_party/swagger-ui/).

Treating this as a low priority since this is a v1beta1 only issue.

[2015-04-01 01:38] hurf opened #6266 "Improve ubuntu-cluster setup scripts"
I used the ubuntu-cluster setup scripts to build a mini testing environment. The first time I inputted a wrong config and when I reconfigured the environment by running the scripts again an error occured.  I looked into the code and found the scripts hadn't deal with old configs. And `MASTER_IP` of kube-proxy configs are not replaced.

[2015-04-01 01:39] bgrant0607 commented on #5993
I/we should also file issues for outstanding items without issues, and add lines for newly filed issues (e.g., command flag for run-container).

Readiness is not yet used by rollingupdate.

With respect to patch on the command line: I was thinking of a generic mechanism, but I could see the case for domain-aware commands, also.

I think we need to better factor the command code and library code, a

[2015-04-01 01:47] njuicsgz opened #6267 "'hostDir' in volume mount does not work as expected like docker -v option."
Description:
'hostDir' does not work as expected like docker -v option.

Reproduce steps:
[code]
[code]
[code]

[2015-04-01 02:01] dchen1107 commented on #5629
@jlowdermilk Which kubernetes version are you running here? It looks like an old version since the currentstate still have container POD information.

The reason of pod state is terminated and container doesn't run because its network container POD is dead. I don't know why? could you please run:

cat docker.log | grep "20fb8035f4b0b3deee7cd9bae3e1a8c4e892298c9b72a989c8e4f81a96f48a7f" to see anyth

[2015-04-01 02:20] jlowdermilk commented on #5629
Don't see anything abnormal docker.log, but also not sure what would be abnormal. Here is [output](https://gist.github.com/jlowdermilk/1d87df46fc25e10db69d).

When trying to repro I saw the pod stuck in pending until timeout reached. While it was pending this was the output of `docker ps -a | grep nettest` on a minion
[code]
So yeah, the network container has been dead some time. I see the same th

[2015-04-01 02:27] dchen1107 commented on #5629
Ok, I realized that POD container might be killed by kubelet when kubelet found all user containers are not running, and restart policy is never.

Can you please post the output of 'cat docker.log | grep 2dc9729cfd3f788fbd9234eccbb28cd620c34c9e41e4f5063158ab84e73e341f' here?

[2015-04-01 02:51] jlowdermilk commented on #5629
Ah, sorry, I finished working with that e2e cluster and tore it down. I'm spinning up a new one and will see if I can repro the above symptoms.

[2015-04-01 02:55] dchen1107 commented on #5629
Don't worry, I will try to reproduce it later. Thanks!

[2015-04-01 03:09] mingfang commented on #1518
+1

[2015-04-01 03:20] satnam6502 commented on #5629
I will also independently have a look at this, depending on how soon I can
neutralize the kids.

On Tue, Mar 31, 2015 at 7:55 PM, Dawn Chen <notifications@github.com> wrote:

[2015-04-01 03:55] thockin commented on #5410
This is almost 3 weeks old.  I'm going to close it, but please reopen if it is still a problem

[2015-04-01 03:55] #5410 closed

[2015-04-01 03:57] thockin commented on #5176
Closing for lack of activity.  Please reopen if this is still an issue

[2015-04-01 03:57] #5176 closed

[2015-04-01 03:57] thockin commented on #4737
keeping

[2015-04-01 03:57] #4737 closed

[2015-04-01 03:58] thockin commented on #3253
Is this still open or resolved?

[2015-04-01 03:58] thockin commented on #2585
multiple ports is in.

[2015-04-01 03:58] roberthbailey commented on #6261
I saw that on one shippable run today as well.

[2015-04-01 03:58] thockin commented on #1802
Multi-port services is in!  Happy zookeeping.

[2015-04-01 03:58] #1802 closed

[2015-04-01 03:59] thockin commented on #5659
Multi-port is in.

[2015-04-01 03:59] thockin commented on #222
This should be resolved with the new chooseHostInterface

[2015-04-01 03:59] #222 closed

[2015-04-01 04:01] bgrant0607 commented on #2585
Removed from 1.0 and reduced priority. Will summarize later.

[2015-04-01 04:05] roberthbailey commented on #4443
Dupe of #4500.

[2015-04-01 04:05] #4443 closed

[2015-04-01 04:09] thockin commented on #6267
v1beta3 is not v1beta1 - we will write up a FAQ.

On Tue, Mar 31, 2015 at 6:48 PM, Gao Zheng <notifications@github.com> wrote:

try:

"volumes": [
                 {"name": "host-log", "hostPath": {"path": "/my-abc/log/"}}}
],

[2015-04-01 04:10] thockin opened #6272 "Need a v1beta3 FAQ"
Already we're getting bugs from people who are missing some of the more subtle conversions.

[2015-04-01 04:53] njuicsgz commented on #6267
Got it and it works well, thanks.
I got the specification from here:
https://cloud.google.com/container-engine/docs/pods/operations#pod_configuration_file.

It seems only for v1beta1. Do we have template specification of v1beta3?

[2015-04-01 04:54] thockin commented on #6184
great!

On Tue, Mar 31, 2015 at 11:58 AM, Nikita <notifications@github.com> wrote:

[2015-04-01 04:55] thockin commented on #6267
v1beta3 was literally enabled today :)   We will write a FAQ doc for
converting.

On Tue, Mar 31, 2015 at 9:54 PM, Gao Zheng <notifications@github.com> wrote:

[2015-04-01 04:55] #4602 closed

[2015-04-01 05:01] njuicsgz commented on #6267
Okay, another question is when we could have a stable v1 release, both API and K8s itself?
I can not find any plan from roadmap.md and releases page. It is important for our product scheduling. Thanks again.

[2015-04-01 05:06] thockin commented on #6267
We're driving hard at a 1.0 release right now.  ETA is Q2 - the next few
months.  v1beta3 API is the v1 API release candidate - there should be no
more major changes before v1.

On Tue, Mar 31, 2015 at 10:01 PM, Gao Zheng <notifications@github.com>
wrote:

[2015-04-01 06:03] bgrant0607 commented on #6272
Point them at the conversion tool: cmd/kube-version-change/version.go

[2015-04-01 06:04] bgrant0607 commented on #6272
Priority? Team? Milestone?

[2015-04-01 06:17] bgrant0607 commented on #6213
Examples of breakages would help us prioritize what to fix.

We have a table that documents which getting-started guides were known to work when:
https://github.com/GoogleCloudPlatform/kubernetes/tree/master/docs/getting-started-guides

If any examples in /examples are broken, that's a bug. We have tests to help ensure they stay working.

[2015-04-01 06:24] bgrant0607 commented on #6213
Sorry, I now see your suggestion that the table contents are propagated to the individual pages.

We're working on making the turn-up machinery more maintainable. One necessary element is continuous testing. The new policy is here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/devel/writing-a-getting-started-guide.md

[2015-04-01 06:33] bgrant0607 commented on #6132
Have you tried --validate, which reads the swagger?

diff and dry-run are already in cli-roadmap.md.

[2015-04-01 06:34] wojtek-t commented on #6059
@zmerlynn: If you think that's necessary, I'm fine with that [the easiest fix for it is to add [Skipped] even if count <= 30 in:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/test/e2e/density.go#L215

But this is just a temporary hack - we need to really fix this issue, not just remove a test that is causing it. But if you think that's necessary, I'm happy to do it.

[2015-04-01 06:39] bgrant0607 commented on #6076
Why isn't this redundant with #6014?

[2015-04-01 06:48] davidopp commented on #5953
Let's change it to 10 seconds. But let's wait for the NodeController changes to go in first and make sure that's working OK; in case we find bugs it is better to have less changing at the same time.

We can have NodeReachable updated more often, but we need to figure out how it will work. Let's wait to work on that.

[2015-04-01 06:48] bgrant0607 commented on #6063
Adding missing team label.

[2015-04-01 06:53] vmarmol commented on #6267
Closing this as the issue seems resolved. Feel free to file more issues if you run into problems!

[2015-04-01 06:53] #6267 closed

[2015-04-01 07:04] bgrant0607 commented on #5993
ref #5906

[2015-04-01 07:05] bgrant0607 commented on #5993
ref #5905

[2015-04-01 07:09] bgrant0607 commented on #5906
We should document xargs usage somewhere.

We might as well also use this issue for making the default output more verbose.

[2015-04-01 07:11] dchen1107 commented on #5629
Ok, running e2e takes forever, sigh!

It is very easy to reproduce the issue, just require a long time. docker log shows that container cannot run because a bad image:

[code]

I believe this is a regression introduced by #6100 which changes the way how kubernetes are going to use ENTRYPOINT. The fix should be straighforward. I can provide it tomorrow morning.

[2015-04-01 07:13] dchen1107 commented on #6076
#6014 is for kubectl get pods id.

[2015-04-01 07:13] dchen1107 commented on #5629
cc/ @bgrant0607 :-)

[2015-04-01 07:22] bgrant0607 commented on #5907
Please see https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/api-conventions.md. PUT doesn't support partial updates. In general, you need to do a GET, change just what you want to update, and then PUT.

You could try PATCH, which was recently added. You may also be interested in a new merge strategy being implemented -- see #6027.

[2015-04-01 07:25] bgrant0607 commented on #5907
And, yes, the description string on the field should say that the field "cannot be updated" -- @thockin.

[2015-04-01 07:33] wojtek-t commented on #6059
@zmerlynn: as an update - since this density test doesn't give much value now and you have a hypothesis that this is causing problems in jenkins, I'm switching it off (until this issue is fixed) in #6274

[2015-04-01 07:35] hurf commented on #5907
@bgrant0607 - Thanks Brian, I'm not asking to allow `portalIp` be changed while updating, but  allow users not giving `portalIp` explicitly in the template. I write a small patch to do so and will submit it soon.

[2015-04-01 08:36] simon3z opened #6280 "Record events for entity status changes in apiserver"
Some events like: pod status changes (pending/running/failed), node status changes (ready/schedulable), etc. can be recorded with more consistency by the apiserver (instead of spreading the logic and the messages across different components).

Pros:
- status changes are always logged (even when code changes in other components)
- it's easier to create the correct transaction (see #6055)

Cons:
- w

[2015-04-01 09:13] lyda opened #6282 "Formalize/document changelog update policy"
Sorry, but I'm wondering what the deal is with CHANGELOG.md? Will it be updated or is there somewhere else I should be looking?

[2015-04-01 09:17] gmarek commented on #6140
Fixed by #6156

[2015-04-01 09:17] #6140 closed

[2015-04-01 10:19] piosz commented on #6165
Why do we actually want to do it? The meaning of the PodSpec.Host (the request for scheduler to schedule on that host) is different than PodStatus.Host (the host to which this pod is bound to). In the current semantic of scheduling those fields are equal only when PodSpec.Host is not empty and the pod is already scheduled.

Also PodStatus.Host is widely used across the system to check on which nod

[2015-04-01 10:25] fgrzadkowski opened #6284 "kubectl diff command"
It'd be great if user could diff current configuration with the one in a file. I imagine output to be a regular smart diff of JSON files (ignoring version, status etc).

[2015-04-01 11:05] Andre-Freitas opened #6285 "kubernetes is not correctly removing nodes in faulty state"
in my kubernetes lab cluster (0.13.2) i'm having a issue where faulty nodes are not being changed to not ready status.
I only detected this because docker service wasn't working on that node (which depends on flannel.service [that depends on the network interface where 172.17.8.104 was configured])

[code]

[2015-04-01 11:12] AntonioMeireles commented on #6213
(as afaict there isn't another way for plain mortals to *link* related (sub)issues)
- GoogleCloudPlatform/kubernetes#6282
- GoogleCloudPlatform/kubernetes#6272
- GoogleCloudPlatform/kubernetes#6212
- GoogleCloudPlatform/kubernetes#6157

(those just the very latest that come to sight)

[2015-04-01 13:02] wojtek-t commented on #6059
@zmerlynn: it seems that the "density" test wasn't not responsible for e2e failures - it is switched off since few hours and tests are still failing

[2015-04-01 13:09] nickjj opened #6286 ""failed to find fit for pod" when creating pod, but works as RC"
#### Kubernetes version
v0.13.2

#### Setup
I was trying to get postgres up and running on a coreos/kub cluster under vagrant.

The vagrant setup was taken from your docs:
https://github.com/pires/kubernetes-vagrant-coreos-cluster/

The postgres setup was taken from @kelseyhightower's recent talk:
https://github.com/kelseyhightower/cfgmgmtcamp-2015/blob/master/demo/pods/postgres.json

The only cha

[2015-04-01 13:19] smarterclayton commented on #3253
Implemented

[2015-04-01 13:19] #3253 closed

[2015-04-01 13:21] liggitt opened #6288 "Updating requires resourceVersion"
I may be crazy, but I thought specifying resourceVersion on an update used to be optional. It now seems to be required. Is that intentional?

@smarterclayton

[2015-04-01 13:28] smarterclayton commented on #6288
Had discussion in person, it was a source of accidental bad client behavior.

[2015-04-01 13:29] liggitt commented on #6288
okie dokey.

[2015-04-01 13:29] #6288 closed

[2015-04-01 13:40] simon3z opened #6289 "Recording an event fails when cached but no longer exists in apiserver"
Recording an event that is already cached (in the controller) fails when the object no longer exists in apiserver.

If you combine this with the fact that once in while all the events are flushed from apiserver, you'll end up with all the events that are cached in the controllers that will never be reported anymore.

    E0401 09:37:11.468342   17542 event.go:164] Server rejected event '&api.Event

[2015-04-01 13:43] zmerlynn commented on #6059
Hmm. Something caused instability to spike yesterday, and the PR timing was
about right - I was struggling to come up with a reasonable PR at the exact
moment the yellow dots started, but that PR landed at an aborted build,
then we had a green, then yellows forever.

Thanks for testing my theory, at least! Anyone have any other candidates?
Something from Monday's commits is either causing a differ

[2015-04-01 13:50] jayunit100 commented on #6059
when this patch is complete, we should commit renablement of the density tests as part of the commit?

[2015-04-01 13:54] wojtek-t commented on #6059
Regarding the main issue: it seems that the problem is in etcd.
I did a bunch of experiments with additional logs and it,
In particular, I've added logs in go-etcd/etcd/requests.go (in Godeps), where the http requests are sent to etcd to monitor when they are sent and when they are finally processed.
Few example logs:
1. I observed 27 requests as following (all of them were equal, sent on behalf o

[2015-04-01 13:55] smarterclayton commented on #6059
----- Original Message -----

We support per resource watch filtering in many places, where the REST implementation should transform "name" into a special watch on just the affected key.  If that's not happening for Nodes it's a bug in the Node REST logic.

[2015-04-01 14:04] rawlingsj opened #6291 "RC keeps creating new pods if there's an issue starting a container, even after RC is deleted"
The scenario is when a replication controller is created which starts a pod that will always error (an issue in a CMD start.sh script for example), the failed pod is left 'Exited' and 30 seconds later a new pod is scheduled.

This continues to happen even if the replication controller is deleted, the pods are still endlessly scheduled resulting in many many failed containers.  This seems to result

[2015-04-01 14:13] smarterclayton commented on #6291
I wonder if we need to do a better job of aggressively garbage collecting repeated failures of containers on the host (if the Kubelet detects a pod is in a repeat fail loop, only the last N pods should be kept, instead of using the regular garbage collection policy).

[2015-04-01 14:21] bprashanth commented on #6291
1. The rc will keep trying to match its replica count. It only knows to detect the status of a pod. So if the container exiting leaves it in a non-running state (i.e Failed or Succeeded) the rc will create a new one. What status is your crashing pod?

2. You should `stop` the rc, deleting the rc will still leave the pods lying around. So the other components of the system (scheduler, kubelet) will

[2015-04-01 14:23] wojtek-t commented on #6059
@smarterclayton I have a feeling that we're doing it only for services:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/etcd/etcd.go#L269
I can't see a similar logic anywhere else, in particular here:
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/registry/generic/etcd/etcd.go#L409
The function that is responsible for filtering is applied in etcdWatche

[2015-04-01 14:25] bprashanth commented on #6286
https://github.com/GoogleCloudPlatform/kubernetes/pull/6110 should fix the problem. If it doesn't please update with your postgres and rc manifest in a gist, if it does please close this issue.

[2015-04-01 14:28] wojtek-t commented on #5650
I agree that this might be related to etcd errors. In particular we need to fix:
1. #6053
2. "too many open files" errors coming from etcd

[2015-04-01 14:34] phemmer commented on #1802
Looks like this was implemented in #5939 & #6182 for anyone interested.

[2015-04-01 14:47] bgrant0607 commented on #6212
@lavalamp A breaking change was made to our node API -- that was our mistake. Discussion is occurring on the kube-register issue.

[2015-04-01 14:49] bgrant0607 commented on #6213
@AntonioMeireles Thanks.

FWIW, I believe anyone can link related issues just by mentioning them, even across github projects.

[2015-04-01 15:00] bgrant0607 commented on #6165
The meaning is not different. PodSpec.Host indicates the host on which the pod should run. It shouldn't matter who sets the field. As it stands, PodStatus.Host is entirely redundant.

[2015-04-01 15:03] bgrant0607 commented on #5907
@hurf Thank you for offering to make a change, but the change will not be accepted. If you just want to update certain fields in the object, please use PATCH.

[2015-04-01 15:04] bgrant0607 commented on #5907
I also recommend trying kubectl update --patch:
https://github.com/GoogleCloudPlatform/kubernetes/blob/bc4a082f7a5d1ec58a05c2f1a6fb1af9e5622079/docs/kubectl-update.md#L26

[2015-04-01 15:07] bgrant0607 commented on #5629
FYI @pmorie

[2015-04-01 15:10] bgrant0607 commented on #5629
If #6100 is the culprit, it's a bug. The image's entrypoint is supposed to be used if entrypoint isn't provided.

[2015-04-01 15:12] pmorie commented on #5629
@bgrant0607 @dchen1107 @satnam6502 Taking a look to see if it's #6100

[2015-04-01 15:24] zmerlynn commented on #5629
#6100 definitely lines up with the beginning of the Networking test failures, which actually started *after* I reopened this bug, amusingly. This bug has taken on a different meaning, though. I reopened the bug from a totally issue that we're still seeing, which is a hang off contacting the proxy endpoint. I'm forking and re-lowering the priority because we haven't seen another red dot in a little

[2015-04-01 15:26] rawlingsj commented on #6291
It was Failed

Yep that makes complete sense, I didn't stop the RC first

[2015-04-01 15:27] zmerlynn opened #6294 "`Networking should function for pods` broken on head"
Forked from https://github.com/GoogleCloudPlatform/kubernetes/issues/5629#issuecomment-88519286 downward, this test has been failing since go/k8s-test/kubernetes-e2e-gce/4042, which lines up well with #6100. Assigning to @pmorie to fix, though a revert may be in order soon (we've had too much noise).

[2015-04-01 15:29] yujuhong commented on #6261
The test has been added for a while now and AFAIK it started flaking only yesterday and only on shippable. There has been no recent change to this part of the code, so my guess is that the apiserver/watch was slow due to unknown reasons and the build hit the timeout.

This is a general test performance problem (on shippable), and there are other examples where the timeout was hit when waiting for

[2015-04-01 15:34] zmerlynn commented on #5629
Forked to #6294. This bug should stay as the random, very serious issue where the nettest attempts to make a client call and hangs arbitrarily, which is a violation of all reasonable principals dealing with timeouts.

[2015-04-01 15:38] pmorie commented on #6294
@zmerlynn The issue is that I didn't change the networking e2e to set 'Args' instead of 'Command'.

[2015-04-01 15:49] pmorie commented on #5629
@bgrant0607 the code was functioning correctly; in this case the e2e test
needed to be changed to set the args, not the command.

On Wed, Apr 1, 2015 at 11:34 AM, Zach Loafman <notifications@github.com>
wrote:

[2015-04-01 15:50] AntonioMeireles commented on #6213
@bgrant0607 i know (that's what i ended doing anyway :smile: ).

my point is that *afaik* there are only 2 ways, right now, to relate issues (either labels) or referencing them from another issue/PR. formally this is a github limitation, as unlike - say jira, GH does not provide high *altitude* ways to relate issues/PRs (Blocks/BlockedBy,Depends/Requires,Supercedes,etc) but as the project grows im

[2015-04-01 16:01] piosz commented on #6165
And what about the case when there is no PodSpec.Host specified but users rely on PodStatus.Host? There is also a bunch of kubernetes code that rely on that field in internal representation like https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/cloudprovider/controller/nodecontroller.go#L638

[2015-04-01 16:03] dchen1107 commented on #5629
@bgrant0607 It is not a bug introduced by #6100 since we know it is a breakage change. The fix should be straightforward.

[2015-04-01 16:05] dchen1107 commented on #5629
Just found @pmorie already provided a fix for  #6294 which is dup of this one. Shouldn't we close this?

[2015-04-01 16:05] zmerlynn commented on #5629
@dchen1107: Unless you're fixing the hang, no. I forked that off to #6294.

[2015-04-01 16:07] dchen1107 commented on #5629
What do you mean hang? I thought that is the only issue reporting here. Now we have a new issue or you just simple point to the that performance issue we suspected watcher?

[2015-04-01 16:09] zmerlynn commented on #5629
The hang that this issue was opened for. It most recently occurred in https://github.com/GoogleCloudPlatform/kubernetes/issues/5629#issuecomment-88138430 and caused Jenkins to timeout, losing the build. There was another recurrence on `gke-ci` at the same time.

It just happened to be there were two networking related failures yesterday, by coincidence. #6294 just happened to land right after we h

[2015-04-01 16:34] #6286 closed

[2015-04-01 16:35] bgrant0607 commented on #2316
The network test failure made me wonder: do we need to distinguish between unspecified command/args and empty command/args? How would I clear the CMD specified in the image?

[2015-04-01 16:37] bgrant0607 commented on #6165
PodStatus.Host would continue to be set in v1beta1/2, initialized from PodSpec.Host. Components that use the internal representation obviously would need to be changed if the internal representation were changed.

[2015-04-01 16:39] piosz commented on #6165
So you suggest to also remove PodStatus.Host from internal representation?

[2015-04-01 16:41] bgrant0607 commented on #6213
@AntonioMeireles Thanks for the idea. We've been making a list of various GH improvements we'd like to see.

[2015-04-01 16:43] bprashanth commented on #6291
Seems like the gc issue is discussed on another bug, and the solution to the rc problem is to call stop. Please re-open if this isn't the case.

[2015-04-01 16:46] yujuhong commented on #6165
Yes, IIUC, PodStatus.Host should only exist in v1beta1/2 and should not be used in the internal representation at all.

[2015-04-01 16:51] bprashanth commented on #6285
Maybe the kubelet should report an unhealthy node status when it can't syncpods?

[2015-04-01 16:52] piosz commented on #6165
Thank for explanation. I'll prepare PR.

[2015-04-01 16:57] preillyme commented on #1319
+1 I think this is a great idea. If no one from gsoc takes it we can work on it at Kismatic.

[2015-04-01 17:01] #5007 closed

[2015-04-01 17:05] bgrant0607 commented on #6213
cc @brendandburns @thockin @davidopp @dchen1107 @erictune

[2015-04-01 17:07] bprashanth commented on #6282
Fair point, looks like we haven't updated it in a while. What exactly are you looking for?

[2015-04-01 17:08] bgrant0607 commented on #6165
This is technically a breaking change now that v1beta3 is enabled, but I think it's ok to just slip it in.

[2015-04-01 17:12] pmorie commented on #2316
@bgrant0607, as in, you want to run the default entrypoint without any
arguments, when the image has default arguments specified?t

On Wed, Apr 1, 2015 at 1:02 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-01 17:21] lavalamp commented on #4874
On the timing of when to fix this. Goal is we want pkg/client users to work with versioned api types instead of unversioned types. So at some point we'll want to alias api to api/v1beta3 (in e.g. test code).

When we have v1beta3 as default but before we've accumulated many changes, then the diff between internal types and v1beta3 types should be minimized. ...so now would be a good time to think

[2015-04-01 17:21] jayunit100 commented on #5629
yup im seeing the same thing, ran many many times

[2015-04-01 17:22] bgrant0607 commented on #6294
Clients shouldn't be using the internal representation.

[2015-04-01 17:23] lavalamp commented on #5629
@pmorie's fix looks good to me, but it's not related to the OP.

The problem in the OP is caused by apiserver crashing (only way I'm aware of for an nginx instance to give bad gateway errors), can we get apiserver logs?

[2015-04-01 17:24] bgrant0607 commented on #4874
cc @vishh

[2015-04-01 17:24] bgrant0607 commented on #5993
ref #4874

[2015-04-01 17:26] zmerlynn commented on #5629
@lavalamp: Why is the client not timing out? That seems like a bug, too.

[2015-04-01 17:26] bgrant0607 commented on #2316
I'm not saying I want to do that, but that's the scenario I was thinking about, yes.

[2015-04-01 17:27] vishh commented on #4874
@lavalamp: My understanding was that we are are doing this before v1.0.

On Wed, Apr 1, 2015 at 10:24 AM, Brian Grant <notifications@github.com>
wrote:

[2015-04-01 17:33] lyda commented on #6282
Well, 0.14 just got released and I was curious what was in it since I just spun up a 0.13 cluster on AWS. If 0.14 has AWS improvements, I'm guessing now would be a good time to try them! But I can just read a git log between 0.13 and 0.14 - but a summary would be nice.

Also, a pony. :)

[2015-04-01 17:35] rawlingsj commented on #6291
Agreed thanks.

[2015-04-01 17:36] pmorie commented on #2316
@bgrant0607 The way you would have to do it currently is manually specify
the entrypoint to be the same one as in the image.  I think it would be the
same with just docker, as well.

On Wed, Apr 1, 2015 at 1:27 PM, Brian Grant <notifications@github.com>
wrote:

[2015-04-01 17:47] bgrant0607 commented on #6212
As for putting kube-register in the Kubernetes repo, that would make sense in the context of creating a Fleet cloudprovider: #2890.

[2015-04-01 17:48] lavalamp commented on #6212
IRL discussion w/ @bgrant0607 summary--

We are going to undo the breaking API change we made.

If we had a fleet cloud provider, then kube-register could conceivably live with that code.

[2015-04-01 17:51] lavalamp commented on #5629
@zmerlynn it looks like *nginx* is timing out waiting for apiserver. From our client's perspective, the connection is just fine but apiserver is slow sending data. So the fix is probably to make nginx not wait for apiserver.

Also we should figure out what happened to apiserver, and fix that, too, of course.

[2015-04-01 18:00] AntonioMeireles commented on #6212
@lavalamp once the undo is done would be handy to have pushed a new pre-release, as that would allow people on CoreOS/fleetland to do testing with minimal effort...

[2015-04-01 18:02] jayunit100 commented on #6294
hmmmm ... is this really fixed?   not working for me atm.

[2015-04-01 18:03] bprashanth commented on #6289
AFAIK we don't aggregate events in the controller, so you're describing a race between recording an event and deleting the objects the event references?

[2015-04-01 18:05] pmorie commented on #6294
@jayunit100 What behaviors are you seeing?

[2015-04-01 18:06] zmerlynn commented on #6294
@jayunit100: This is a recent run of our Jenkins server:

[code]

[2015-04-01 18:14] mbforbes commented on #6082
After a couple days of implementation, we discussed this path yesterday, and it turns out this actually isn't what we want to build.

The following matrix has rows of "what we're going to upgrade" and columns of "how:"

  | in-place | new node
---- | ---- | ----
**kubelet, kube-proxy** | #6099 | ---
**kubelet, kube-proxy, docker, kernel/OS** | #6082 | #6088

(This issue is the one in the bottom-le

[2015-04-01 18:14] #6082 closed

[2015-04-01 18:15] bprashanth opened #6302 "Include events in kubectl output for pods in <pending>"
I was helping someone debug an issue on irc, the problem was obvious looking at events. The pod was stuck in pending because the kubelet was rejecting it, because the volume (a pd) wasn't created (it was actually created in a different zone). It sounds easy enough to include the events of pending pods, if any. Feel like !Pending would be less useful unless you were in a crashloop of running or som

[2015-04-01 18:16] zmerlynn commented on #6294
Re-closing (that was a success I pasted).

[2015-04-01 18:16] #6294 closed

[2015-04-01 18:18] mbforbes commented on #6088
Thanks for the comment, @alex-mohr. I updated the description to be clear about what this issue is addressing. Having the ability to add new nodes to a cluster will both enable this upgrade path as well as give us a great "hammer" to use for repairs.

[2015-04-01 18:19] bprashanth commented on #6282
Ah, so this boils down to a release notes problem. In that case you want to follow #6213. We'll have more luck pushing that since it's a P1.

[2015-04-01 18:20] simon3z commented on #6289
@bprashanth look at `pkg/client/record/events_cache.go`, the client side is used in the controllers.