[2020-07-24 17:24] ahg-g commented on #93338
where is this line coming from, a log? an event?

[2020-07-24 17:27] Huang-Wei commented on #93312
Per https://github.com/kubernetes/community/blob/master/sig-scheduling/charter.md

ResourceQuota is within scope of api-machinery.

/sig api-machinery
/remove-sig scheduling

[2020-07-24 17:27] michaelgugino commented on #93428
It seems to me we could optionally approve these CSRs automatically the same way we do with client certs then.  This would be less risky than automatically approving the client certs.  This functionality used to exist in 1.10, but it was based on some IP information on the node object (or something like that) and was removed.  If this was to be opt-in, I don't see a compelling reason to not do it.

[2020-07-24 17:31] #49964 closed

[2020-07-24 17:34] LappleApple commented on #93430
/milestone v1.19

[2020-07-24 17:46] rtheis commented on #93338
@ahg-g https://github.com/kubernetes/kubernetes/issues/93338#issuecomment-663513753 is showing a successful pod.  Sorry for the confusion.  And I've added more context for that pod line.

[code]

[2020-07-24 18:00] ahg-g commented on #93338
Not sure about the source of the status field, but this is certainly not a scheduling issue.

[2020-07-24 18:02] liggitt commented on #93338
a pod that does not have a node it can be scheduled to should remain pending, and then be scheduled successfully when such a node appears, right?

[2020-07-24 18:06] ahg-g commented on #93338
yes, and that is what is happening here, the pod didn't get scheduled initially and then got scheduled (I presume when the label got applied).

https://github.com/kubernetes/kubernetes/issues/93338#issuecomment-663643012 explains that the issue is that the pod didn't get scheduled after the label was applied, and I am saying that it did get scheduled because the nodeName is set.

[2020-07-24 18:12] rtheis commented on #93338
@ahg-g So are you saying the pod is scheduled and may be running even though status is `NodeAffinity`?  Or maybe `kubelet` is confused and doesn't start the pod because it doesn't think the pod should have been scheduled to the node due to missing node label (according to kubelet)?  Or maybe the API server didn't update status properly?

[2020-07-24 18:16] ahg-g commented on #93338
From the scheduler perspective, the pod is scheduled because the nodeName is set. The status isn't something the scheduler manages, the scheduler only adds a pod condition when it fails to schedule the pod.

[2020-07-24 18:19] ahg-g commented on #93338
oh, I get now where is the issue is, the scheduler sees that the label is applied but kubelet doesn't, and so kubelet is not admitting the pod after the scheduler scheduled the pod.

[2020-07-24 18:20] ehashman commented on #93421
I believe this issue was fixed in https://github.com/kubernetes/kubernetes/pull/89722

Patch was also backported to 1.17: https://github.com/kubernetes/kubernetes/pull/89878

On HEAD, we can see the legacy-cloud-provider Azure code correctly lowercases zone labels: https://github.com/kubernetes/kubernetes/blob/b826d394af56d1bc77aebee356ec1622ea450fbe/staging/src/k8s.io/legacy-cloud-providers/azure

[2020-07-24 18:20] ahg-g commented on #93338
/sig-node

[2020-07-24 18:23] Jiawei0227 commented on #89173
Hi Saad, I am willing to take this bug and try to fix it!

[2020-07-24 18:24] lknaubkonrad commented on #83392
Does not appear to be supported for local-storage.  I've tried several approaches using HostPath and Local volumes without success.
  https://kubernetes.cn/docs/concepts/storage/storage-classes/
If anyone has found CSI sidecars or external controllers to work please let me know.

[2020-07-24 18:28] thockin opened #93432 "Kubectl parsing of --all-namespaces flag is broken or at best, confusing"
**What happened**:

Running a `kubectl get` with --all-namespaces in the wrong place consumes one extra argument, resulting in a confusing error.

**What you expected to happen**:

A sane error.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Environment**:

This is a kubectl build at HEAD

/sig cli

[2020-07-24 18:32] #85647 closed

[2020-07-24 18:34] saad-ali commented on #89173
/assign @Jiawei0227

[2020-07-24 18:36] liggitt commented on #93338
/sig node

@kubernetes/sig-node-bugs

[2020-07-24 19:10] #91601 closed

[2020-07-24 19:33] #83937 closed

[2020-07-24 19:35] msau42 commented on #74988
/reopen
/assign @msau42

[2020-07-24 19:35] msau42 commented on #74988
/lifecycle frozen

[2020-07-24 20:00] Placidina opened #93435 "TCP socket connection interference on send message"
I'm creating an application in C that intermediates and manages scheduled applications (NodeJs) to collect informations into MongoDB.

This makes possible the application's scalability and avoid replicated values.

**Problem**

I think that something comming from k8s is intercepting and modifying the message.

- Local tests: OK
- Container tests: Ok
- K8s Minikube tests: scheduled application erro

[2020-07-24 20:02] Placidina commented on #93435
/sig network

[2020-07-24 20:24] gyuho commented on #93280
@xiang90 @jingyih brings up a good point.

Maybe we should move this discussion to https://github.com/etcd-io/etcd/issues/9222?

An important optimization in etcd is the separation of log replication (i.e., Raft) and state machine (i.e., key-value storage) where slow apply in state machine only affects the local key-value storage without blocking replication itself. This presents a set of challeng

[2020-07-24 21:08] jedisom commented on #45509
@jorenvs and @bsklaroff , Can either of you share how you used the python signal package to catch the SIGTERM per this description?

I have long/short jobs running as well and I need to kill idle pods as needed.  They're getting kicked off via a FastAPI endpoint.  How would I catch the SIGTERM in this case?

[2020-07-24 21:26] #93424 closed

[2020-07-24 21:52] ghostsquad commented on #45509
https://stackoverflow.com/questions/1112343/how-do-i-capture-sigint-in-python

[2020-07-24 22:52] puerco commented on #90304
/assign @puerco @JamesLaverack @reylejano-rxm @wilsonehusin

[2020-07-24 23:01] xieyanker commented on #93415
@jsafrane I can't confirm what files are left behind after RBD volume unmounts now, this may indeed be caused by other reasons. But I still insist that we should change the function `os.Remove()` to `os.RemoveAll()`, it will not delete the volume data because of the mountpoint has been unmounted. And the code will be more tolerant, otherwise,  it will keep reporting errors about mounting timeout,

[2020-07-24 23:06] puerco commented on #90304
/assign @AGMETEOR

[2020-07-24 23:14] eddiezane commented on #93346
@fedebongio we talked about this during a sig-cli call and think it's going to require some changes in client-go and where ever credentials are slurped up.

cc @soltysh

[2020-07-24 23:22] copecopecope commented on #78761
I've had this issue for months and this ended up being what fixed it. I had three deployments in the same cluster which had the same pod labels and `.spec.selector` fields. I added a unique label/selector field to each deployment (note: I needed to delete and recreate the deployment since the selector field is immutable). After that the HPA started behaving normally.

[2020-07-24 23:35] lavalamp commented on #93280
@wojtek-t

Yes, we decided we wouldn't try to coordinate APF across apiservers. That means we have to try to get even load to the apiservers. (Which is probably good anyway.) We've so far got one concrete mechanism, which is the probabilistic client drop (#88567). (I think we need a golang fix before we turn that back on.)

For APF, the intention is to eventually auto-tune the global concurrency l

[2020-07-25 00:10] #93377 closed

[2020-07-25 00:25] janetkuo commented on #48841
Here's a KEP for adding MaxSurge to DaemonSet https://github.com/kubernetes/enhancements/pull/1590

[2020-07-25 00:46] #93435 closed

[2020-07-25 02:04] liggitt commented on #93432
This isn't specific to --all-namespaces, it applies to any non-global flag (or unknown flag) that comes before the command name:

[code]

I guess when cobra encounters unknown/non-global flags it assumes they consume one following arg, while locating the command to run

[2020-07-25 02:59] mmiklavc commented on #88928
Not sure if this is shell dependent or not, but in zsh and bash I had to do the following escaping:
[code]

**Data was:**
[code]

**Types:**
[code]

Any wildcard match without the single quotes gave me the same error as in the OP.

[2020-07-25 05:36] nrjohnstone commented on #45509
@rwanyoike keep an eye on this repo, when I get a chance over the next week or so I'll push some code up...

https://github.com/nrjohnstone/Keda.ExternalScaler.Hangfire

Bear in mind it uses the Redis hangfire package, which is a private nuget feed, so it won't build unless you have access to it but it should be very easy to swap out the redis config and use anything else.

We are moving all of ou

[2020-07-25 06:12] #93407 closed

[2020-07-25 08:33] devopstales commented on #69082
/remove-lifecycle stale

[2020-07-25 09:16] ialidzhikov commented on #89492
/remove-lifecycle rotten

[2020-07-25 09:46] #79355 closed

[2020-07-25 12:15] chenshuyuhhh commented on #93386
I also set proxy for my cluster.
As you can see from the picture below, there is no problem with the Internet access function of my server.
![image](https://user-images.githubusercontent.com/38785959/88456809-7542c780-ceb3-11ea-8077-a41369b16001.png)

[2020-07-25 12:58] SuxiangYundi opened #93446 "DualStack: kubernetes v1.18.5 IPv4/IPv6 dual-stack do not take effect"
**What happened**:  Node only have ipv4 address.

**What you expected to happen**: Node should have a single IPv4 block and a single IPv6 block allocated.

**How to reproduce it (as minimally and precisely as possible)**:
1 install k8s by kube-spray (network plugin is calico)
2. modify config according to the website: https://kubernetes.io/docs/concepts/services-networking/dual-stack/#supported-fe

[2020-07-25 13:02] salluu commented on #60807
you are a star it worked

[2020-07-25 13:12] SuxiangYundi commented on #93446
@sig/network

[2020-07-25 13:13] SuxiangYundi commented on #93446
# ip a
1: lo: <LOOPBACK,UP,LOWER_UP> mtu 65536 qdisc noqueue state UNKNOWN group default qlen 1000
    link/loopback 00:00:00:00:00:00 brd 00:00:00:00:00:00
    inet 127.0.0.1/8 scope host lo
       valid_lft forever preferred_lft forever
    inet6 ::1/128 scope host
       valid_lft forever preferred_lft forever
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc mq state UP group default q

[2020-07-25 13:16] SuxiangYundi commented on #93446
calico ipip mode do not work on IPv6 dual stack feature？

[2020-07-25 13:21] SuxiangYundi commented on #93446
@sig/cluster-lifecycle

[2020-07-25 13:33] SuxiangYundi commented on #93446
# cat nginx_service.yaml
apiVersion: v1
kind: Service
metadata:
  name: nginx-test-service
  labels:
    app: nginx
spec:
  ipFamily: IPv6
  type: LoadBalancer
  selector:
    app: nginnx
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80

[2020-07-25 13:34] SuxiangYundi commented on #93446
# kubectl get service nginx-test-service -o json
...
"spec": {
        "clusterIP": "10.233.44.131",
        "externalTrafficPolicy": "Cluster",
        "ipFamily": "IPv6",
        "ports": [
            {
                "nodePort": 30830,
                "port": 80,
                "protocol": "TCP",
                "targetPort": 80
            }
        ],
        "selector": {
            "app

[2020-07-25 14:06] abdennour commented on #27114
The proposed `waitForReadinessProbe` would address our use case nicely. Any update on the status of that work?

[2020-07-25 14:08] abdennour commented on #27114
@geerlingguy  we share the same case. A Laravel App took sometimes up to 4 minutes to start (php-fpm) .
Do you mind to share an example of initContainers that you implemented to overcome the issue of probes ?

[2020-07-25 14:10] abdennour commented on #27114
@geerlingguy  Looks like the new probe **startupProbe** will solve the issue here  : 🎊 🎊 🎊

[code]

Reference : https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-startup-probes

[2020-07-25 14:11] matthyx commented on #27114
Indeed!

[2020-07-25 14:37] wawa0210 commented on #92963
Because I am in Shanghai, China, I may not be able to attend the weekly sig-windows weekly meeting as scheduled due to time constraints. Do I continue to improve the pr of this issue or do I need to have a more detailed discussion with the sig-windows group before then?

[2020-07-25 14:52] #88575 closed

[2020-07-25 15:51] yogeek commented on #56038
I want to deploy a k8s cluster in AWS China with kubeadm and found very useful information in this discussion but it seems that some images are still missing.
Using this :
[code]
most k8s images are pulled but not all.
For example :
`registry.cn-hangzhou.aliyuncs.com/google_containers/kube-controller-manager:v1.17.6` is not found.

Do you know where I can raise an issue for this please ?

[2020-07-25 17:22] frittentheke commented on #80897
/remove-lifecycle rotten

[2020-07-25 19:16] john-yick commented on #56038
@yogeek Give this a try [https://github.com/gotok8s/gotok8s](https://github.com/gotok8s/gotok8s) I managed to setup a 3 node k8 setup quickly using the scripts here.

[2020-07-25 20:39] kgtw commented on #49387
Here's something I use to find all pods that are not fully running (eg some containers are failing)
[code]

[code]

[2020-07-25 20:57] #88560 closed

[2020-07-25 21:34] liggitt opened #93449 "TestRecycleSlices/1_to_create_and_1_to_delete_for_each_IP_family is flaking"
[code]

seen in the PR updating to go1.15, but this unit test should not be flaky

/assign @robscott

[2020-07-25 21:34] liggitt commented on #93449
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93264/pull-kubernetes-bazel-test/1287128021660078083 was the flaky run

[2020-07-25 22:45] saamalik commented on #8876
So on a Kubernetes 1.17.X server, the following works:
[code]

[2020-07-26 00:00] #79043 closed

[2020-07-26 01:01] #88548 closed

[2020-07-26 01:40] liggitt commented on #93449
[code]

[2020-07-26 02:52] loozhengyuan commented on #87840
@apelisse Do we intend to append `before`/`after` even if there is no change? If not, does that means we need to find out which value has changed _before_ appending and sending it to `diff(1)`?

[2020-07-26 03:00] Reham-Fahmy commented on #54542
could u provide me a link to download this version.

[2020-07-26 03:03] #88284 closed

[2020-07-26 05:55] liggitt commented on #93449
can reproduce locally with:
[code]

[2020-07-26 06:05] liggitt commented on #93449
looks like toCreateByAddrType is a map which doesn't have a defined iteration order, so the address family order of toUpdate is not well-defined

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpointslicemirroring/reconciler_helpers.go#L108

[2020-07-26 06:16] liggitt commented on #92776
still showing up - see https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93264/pull-kubernetes-e2e-gce/1287128021647495169

garbage collection is susceptible to interruption if API groups are being added/removed frequently (which happens all the time in e2e test runs, see investigation of a prior GC timeout issue in https://github.com/kubernetes/kubernetes/issues/87668#issuecomment-58438

[2020-07-26 06:35] liggitt commented on #92521
https://github.com/kubernetes/kubernetes/pull/93264 switches to go1.15rc1

/close

[2020-07-26 06:36] #92521 closed

[2020-07-26 07:04] liggitt opened #93450 "excessive watch cancellation logging on server shutdown"
when a server is shut down, all watchers terminate, and are now logging that they are going to send a watch cancel request, and that they failed:
[code]

looks like this was added in etcd in https://github.com/etcd-io/etcd/pull/11850 and picked to 3.4.10 in https://github.com/etcd-io/etcd/pull/12055

/cc @jingyih  @jpbetz

[2020-07-26 07:04] liggitt commented on #93450
/milestone v1.19
/sig api-machinery

[2020-07-26 10:32] mseewooth opened #93451 "Deployment Affinity to a specific node"
Hello all,

I have  a deployment with k8s v1.18.6 :

[code]
i want 3 containers to in  the worker-node1 but this is not happening :

[code]

Its being replicate on the worker-node2  which is i do not want to because i have a readmanyonce storageclass.

Does `node afffinity` works with deployment ?

[2020-07-26 11:00] soltysh commented on #93363
Assuming you're entire flow works around apply the fact that something is being removed during one of apply invocation is definitely a bug. That's the whole premise of a proper git-ops management, s I understand it. Thus I agree with Antoine that this is a bug, and it's ok to add a fall-back for those users that occasionally using apply.

[2020-07-26 12:46] jayunit100 commented on #92575
should we close this issue, since its resolved now ? per conv w/ @AkashSarda - maybe you ran out of buffer space for connections, which is what was causing `curl` to say that stuff about `couldnt connect to server`.

[2020-07-26 12:53] jayunit100 commented on #92999
I moved the thread here https://github.com/kubernetes/ingress-nginx/issues/5938.  Anything else to be done on the K8s side?

[2020-07-26 12:58] jayunit100 commented on #93446
cc @khenidak

[2020-07-26 12:58] jayunit100 commented on #93446
@SuxiangYundi  Can you reproduce this in `kind` so its easier for us to define a bug around ?

[2020-07-26 13:04] jayunit100 commented on #92559
should we unassign sig-network now from this ?   its purely in the hands of sig-net, kubeadm configs, and david :) (david i can help if you want reach out on slack)

[2020-07-26 13:06] yogeek commented on #56038
@john-yick thanks for your help. However, the registry you proposed does not contain the v1.17.6 images neither...

Result with your gotok8s repo : 1.17.6 and 1.17.5 are missing, 1.17.4 is ok
[code]

Result with aliyun mirror repo : 1.17.6 is missing, 1.17.5 is ok
[code]

I would rather use the aliyun mirror if possible (closer) but I do not understand why all the images are not present...

Can so

[2020-07-26 13:08] SuxiangYundi commented on #93446
I don't know what do you mean.Can you tell me how to do? The test environment is still working.I can tell you eip and root/password info if necessary.

[2020-07-26 13:30] mseewooth commented on #92999
hello,

i solve , i installed metallb with svc type loadbalancer and traefik ingress .. all good . thanks :)

[2020-07-26 13:30] #92999 closed

[2020-07-26 13:51] asrail commented on #8876
Server version 1.15 already works like your command above, however I suggest adding ` --field-selector=status.phase==Running ` to the `get` command.

For older versions, I use:

`kubectl -n namespace exec  $(kubectl -n namespace get po -o name --field-selector=status.phase==Running -l app=appname | head -1  | sed 's/pods\?\///' ) -ti `

For 1.15, I use:

`kubectl -n namespace exec  $(kubectl -n na

[2020-07-26 14:03] alejandrox1 commented on #92911
@ZhiFeng1993 thank you for looking into this.
The thing I had in mind is to have written down exactly how the flake report is used.
I saw that it was being called in some places but I didn't go deeper into the e2e tests nor into the core framework to really understand what is going on.

Also, I think it would be useful to generate some documentation on what the flake report actually does and what

[2020-07-26 14:04] alejandrox1 commented on #92911
I think all that information would help figure out what the right path for the flake report is.
It isn't clear how it is consumed by people, it isn't completely clear what it does, and it doesn't seem to be a well known or maintained feature of the framework.

[2020-07-26 14:06] alejandrox1 commented on #92674
Hi @mayankshah1607 , wanted to ping you on this again to check how things are going.
Do you need any help?

[2020-07-26 14:09] alejandrox1 commented on #92673
@knabben thank you so much for all your work here!!!
The list of tests is great and is going to come in handy to plan work for sig node!
I'm gonna start reviewing the documentation that you put together as well.

[2020-07-26 14:09] alejandrox1 commented on #92673
/assign

[2020-07-26 14:11] alejandrox1 commented on #91263
Closing this. The job is now being executed properly and in descent shape.
It is still flaky but will open up another issue to work on that.
/close

[2020-07-26 14:11] #91263 closed

[2020-07-26 14:14] alejandrox1 commented on #75355
Gonna push this with sig node
/cc @kubernetes/sig-node-test-failures
/remove-lifecycle stale

[2020-07-26 14:32] john-yick commented on #56038
@yogeek So The way I ran it is using a shell script that is here [https://github.com/john-yick/k8-setup/blob/master/setup.sh](https://github.com/john-yick/k8-setup/blob/master/setup.sh) I haven't tested with the latest version of K8 but it could be that the CI is just mirroring/caching the image which is why it is unavailable.

[2020-07-26 14:35] truongtrevor commented on #34314
same issue here using minikube

[2020-07-26 14:36] truongtrevor commented on #34314
CreationTimestamp:  Sun, 26 Jul 2020 18:41:43 +0700
Taints:             node.kubernetes.io/unreachable:NoSchedule
Unschedulable:      false
Lease:
  HolderIdentity:  localhost.localdomain
  AcquireTime:     <unset>
  RenewTime:       Sun, 26 Jul 2020 19:44:19 +0700
Conditions:
  Type             Status    LastHeartbeatTime                 LastTransitionTime                Reason              Messa

[2020-07-26 14:39] vrathore18 commented on #93111
@abhiraut : Sure. I'll close this issue.

FYI if anyone else is also facing the issue that they can able to curl http://169.254.169.254/latest/meta-data/ even port 80 is opened.
Solution: Just open port 8181 as well with 80

[2020-07-26 14:39] #93111 closed

[2020-07-26 15:00] waisbrot commented on #34146
I was trying to figure out which version of YAML Kubernetes supports and this issue was the only thing that turned up in search.

I think that supporting only YAML 1.1 would be fine. As I understand it, the underlying library currently supports 1.1 with some 1.2 features. I recommend targeting 1.1 explicitly and saying so on documentation pages. A code-change to require and produce the `%YAML 1.1`

[2020-07-26 16:57] apelisse commented on #87840
We have to special case secrets and actually compare the values here so
that we can specifically output something different for diff. So I think
that’s a yes to your second question.

I understand that this is not going to extend well to CRDs and other types
that might contain possibly sensitive information, but I don’t think we
have enough information to build something more robust/general right

[2020-07-26 16:57] jingyih commented on #93280
Thanks @gyuho, your summary in https://github.com/kubernetes/kubernetes/issues/93280#issuecomment-663719178 aligns with my understanding. I see 2 possible improvements to the encountered issue:
1. making defrag not blocking quorum reads
2. making etcd client's load balancer switch to a follower if the leader is doing defrag. (I believe today we only have round robin LB, am I correct?)

[2020-07-26 17:35] michmike commented on #92963
hi @wawa0210 thank you for your contributions. Yes, please continue to improve the PR and we will push it through when ready

[2020-07-26 18:18] #84508 closed

[2020-07-26 18:26] aojea commented on #93143
@anandgbhat can you provide more information?

- what's the service configuration? `kubectl describe service ...`
- are you checking those conntrack entries in the same hosts?
- how many nodes does the cluster have `kubectl get nodes -o wide`?
- from where are you connecting to the nodeport? from the same node, outside of the cluster?

[2020-07-26 18:31] jsafrane commented on #93415
@xieyanker, I understand that people might have problems unmounting RBD volumes, however, your PR just works around the real problem: something creates files in /var/lib/kubelet. Can it affect other volume plugins? Can it actually write data to mounted volumes? Both would be pretty bad. Without understanding what's the root cause, I am afraid it will only resurface somewhere else.

[2020-07-26 19:03] abritabroad commented on #61406
considering kubectl jsonpath does not currently support regex, this is a sample script I created to get the logs from a pod:

`serviceName="<your service name>"

podName=$(kubectl get pods -o=jsonpath="{.items[*].metadata.name}" | grep -oP "${serviceName}.*?\s")

kubectl logs ${podName}

`

[2020-07-26 19:22] lsferreira42 commented on #3595
+1

[2020-07-26 19:33] ialidzhikov commented on #89492
@jpbetz , can you add `lifecycle/frozen` label to this issue to prevent close from fejta-bot?

[2020-07-26 19:35] liggitt commented on #93451
Your spec stanza is repeated, and when duplicate keys are present, the last one wins. Move the affinity bit into the same spec stanza as the volumes and containers stanzas

[2020-07-26 20:15] #93451 closed

[2020-07-26 20:44] eladm26 commented on #93432
new contributor, would like tot take this one
/assign

[2020-07-26 20:55] liggitt commented on #93432
I think this probably has to be fixed upstream in spf13/cobra

[2020-07-26 20:59] picaso commented on #70179
Wow this has been an issue for almost 2 years?

[2020-07-26 22:15] salanki commented on #75262
@malozanoff did you ever build this?

[2020-07-26 22:31] cofyc commented on #93415
do you remember what file is found in that directory when you first encounter this issue?  if it's created by the kubelet, we should fix it first. it's not expected to leave files in the mount directory.

[2020-07-26 22:35] salanki commented on #75262
I’m surprised that there is no movement on this issue and that it is still closed. Is wanting to be able to access LoadBalancer services from within the cluster so unusual?

[2020-07-26 23:13] dims commented on #89847
/close

this is fixed.

[2020-07-26 23:13] #89847 closed

[2020-07-26 23:23] #82236 closed

[2020-07-26 23:36] andrewsykim commented on #75262
This [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-graceful-termination-local-external-traffic-policy) should address this and I am planning to implement it for v1.20.

I don't think this issue is pertaining this -- can you open a separate issue if you're seeing this problem?

[2020-07-27 00:15] andrewsykim opened #93456 "[ipvs] in-cluster traffic for loadbalancer IP with externalTrafficPolicy=Local should use cluster-wide endpoints"
**What would you like to be added**:
In-cluster traffic for a Service loadbalancer IP with externalTrafficPolicy=Local should be masqueraded and routed to cluster-wide endpoints. A similar patch was added to the iptables proxier in v1.15 in https://github.com/kubernetes/kubernetes/pull/77523.

**Why is this needed**:
Today, the LB IP traffic for the ipvs proxier is not differentiated from "Local"

[2020-07-27 00:15] andrewsykim commented on #93456
/assign
/sig network

[2020-07-27 00:16] andrewsykim commented on #75262
https://github.com/kubernetes/kubernetes/issues/93456 for LB IP reachability from in-cluster

[2020-07-27 00:17] Riaankl commented on #90916
/reopen
PR #92589 reverted by #93405 due to flaky test

[2020-07-27 00:21] Riaankl commented on #90936
#90942 reverted by #93405 due to flaky test

[2020-07-27 00:23] andrewsykim commented on #93456
/area ipvs

[2020-07-27 00:37] andrewsykim commented on #75262
So there are two separate issues being discussed in this thread I _think_:

1. External traffic can be sent to a node that will black-hole traffic since there are no endpoints, this can happen between loadbalancer health checks. This particular case of traffic being black-holed would be solved with [this KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1669-graceful-ter

[2020-07-27 01:09] yashbhutwala commented on #67577
/remove-lifecycle stale

[2020-07-27 01:22] malozanoff commented on #75262
Funny this thread revived, i was working on this on Friday, i actually built a fork with the changes mentioned above, i now get endpoints in ipvs for all pods healthy on nodes that don't have a local endpoint (as if it was a clusterip) and only the local endpoint if there's one, but strangely enough, it did not solve the issue.
I'm guessing there might some other issue at play, i'm using metallb s

[2020-07-27 01:26] salanki commented on #75262
@malozanoff: Can you push your build to docker hub or similar? Would love to try it on my end for a https://github.com/kubernetes/kubernetes/issues/93456 workaround

[2020-07-27 01:44] hgliu1985 commented on #93419
/sig architecture

[2020-07-27 02:14] andrewsykim commented on #93456
/remove-triage unresolved

[2020-07-27 02:17] andrewsykim commented on #75262
If you're desperate for a working solution now, you're probably better off trying the [Service Topology](https://kubernetes.io/docs/concepts/services-networking/service-topology/) feature as opposed to building your own kube-proxy.

Here's an example Service that prefers node-local endpoints if it exists, otherwise it will fallback to cluster-wide endpoints:
[code]

Ensure feature gates are enable

[2020-07-27 02:22] grovecai commented on #91720
please take a look

[2020-07-27 02:27] xieyanker commented on #93415
@jsafrane @cofyc It’s a pity that I did not pay attention to the contents of the directory at that moment. But I will continue to pay attention to this problem, and I will try to find the root cause of this problem.

I know that remove all of the directory does not fundamentally solve the problem, but I think this is an acceptable compromise. As for whether it will cause other problems, from the t

[2020-07-27 02:27] houruiming1 commented on #45419
maybe it's the problem of docker containers, eg. lots of zombie processes in container result in "docker ps/inspect " extremely slow

[2020-07-27 02:28] jonesmith518 commented on #45419
maybe it's the problem of docker containers, eg. lots of zombie processes in container result in "docker ps/inspect " extremely slow

[2020-07-27 02:29] jonesmith518 commented on #45419
maybe it's the problem of docker containers, eg. lots of zombie processes in container result in "docker ps/inspect " extremely slow

[2020-07-27 02:46] feiskyer commented on #93421
@ehashman is right, the patch has been part of v1.16.9, v1.17.5 and v1.18.1.

@mjudeikis have you confirmed the versions that vendored in openshift?

[2020-07-27 02:50] rikatz commented on #89520
Hi, it seems that you're using v1.18.0 and this has been corrected in v1.18.3, can you please update and check?

Tks

[2020-07-27 03:06] salanki commented on #75262
I do not understand that workaround. Can I slap a serviceTopology like that on a LoadBalancer with externalTrafficPolicy: Local and it will magically fix the black-holing issue?

[2020-07-27 03:18] JasonRD commented on #69041
Is there any reason for this design?

[2020-07-27 03:46] elonzh commented on #82346
/remove-lifecycle rotten

[2020-07-27 03:51] moonek commented on #87615
I have the same issue in v1.17.3.

What I found is that the k8s version using a specific `golang.org/x/net` version is in trouble, and this package seems to be fixed.

Version with this problem (v1.16.5 ~ latest release)
```golang.org/x/net v0.0.0-20191004110552-13f9640d40b9```

Fix Version (master branch)
```golang.org/x/net v0.0.0-20200707034311-ab3426394381```

Will updating `golang.org/x/net`

[2020-07-27 04:51] mkumatag commented on #93407
Thanks @liggitt for the quick fix. We just run the builds and test with latest golang version on the ppc64le platform just to ensure we don't hit any golang issues with the platform :)

[2020-07-27 05:27] lubronzhan commented on #92496
Verified in a new worker node with the flag set to `OnlineAll`, it did fix the issue.
Thank you!

[2020-07-27 05:45] liupeng0518 opened #93462 "k8s v1.18.3 kubectl top node ,cpu sometimes negative"
**What happened**:
k8s v1.18.3 kubectl top node ,cpu sometimes negative
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
k8s v1.18.3
- Cloud provider or hardware configuration:
baremetal
- OS (e.g: `cat /etc/os-release`):
centos7.7
- Kernel (e.g. `

[2020-07-27 06:10] mindw commented on #91919
@dims won't this have the opposite effect?
For one people will be forced to maintain their own flavour of a kubectl image - which will grow stale for example:
* https://github.com/bitnami/bitnami-docker-kubectl
* https://github.com/rancher/kubectl
Causing all sorts of compatibility and security problems?
Second, won't the risk of someone publishing a malicious kubectl image increases as people wil

[2020-07-27 06:10] tehleet commented on #93390
@hasheddan well with Azure AKS it never happens. It doesn't matter in which way you delete cluster - UI, CLI, Terraform it always does the full cleanup, except manually created resources, but all provisioned by managed k8s is deleted.

Thanks for suggestion, I have in mind to delete `Services`, but I would not like to use workarounds for the feature which in my opinion is buggy.. :)

[2020-07-27 06:22] knight42 commented on #93449
/assign

[2020-07-27 06:22] BenTheElder commented on #91919
Dims is talking about the time spent maintaining the build / images in this repo.
This repo is currently working towards having fewer images, and images that are unlikely to have external security issues (i.e. distroless) to keep up with.

That doesn't cost the maintainers of this repo anything ... If the other images are stale, there must not be sufficient interest in maintaining them, which is a

[2020-07-27 06:44] zhouya0 commented on #93432
/cc @knight42 I remember you have worked on this before.

[2020-07-27 06:58] lechen26 commented on #92906
i dont see anything on the log related to killPod.
this issue keeps happening at least few times a week, not sure why.

[2020-07-27 06:59] knight42 commented on #93432
@zhouya0 I think this issue is slightly different with https://github.com/kubernetes/kubectl/issues/884. As @liggitt described in https://github.com/kubernetes/kubernetes/issues/93432#issuecomment-663793996, I believe this is more likely to be a cobra issue.

[2020-07-27 07:24] zhouya0 commented on #93277
/assign

[2020-07-27 07:29] sppwf commented on #65613
Hi Guys,

Is here progress to add this feature?

Thanks
Sergiu Plotnicu

[2020-07-27 07:44] sharkymcdongles commented on #90511
Still a problem even if stale.

[2020-07-27 07:54] JensErat commented on #87615
The mentioned change only _offers_ the possibility to enable the HTTP2 health monitor, but it needs to be enabled by developers (default is off). Furthermore, it [cannot be really set](https://github.com/golang/go/issues/40201) but [there is a pull request to give developers access to the health monitor](https://github.com/golang/net/pull/74).

I'm currently integrating a reflection-based hotfix t

[2020-07-27 08:35] mseewooth commented on #93451
Hello @liggitt , ah man , thanks a bunch such a silly mistake. its to be noted thought.

[2020-07-27 08:36] SuxiangYundi commented on #93446
@jayunit100

[2020-07-27 08:41] SuxiangYundi commented on #93446
I forgot to add calico-node ipv6 config, see below:
[code]

[2020-07-27 09:06] apyrgio commented on #89062
/remove-lifecycle rotten

[2020-07-27 09:11] pacoxu commented on #92287
@mattcary Yes, this is the limitation of this proposal.

However,  the proposal would benifit in below two senarios.

1. Local Storage(local disk devices), better speed:
For instances, I want to use local storage(local device) to gain the storage local speed.
These PVCs in my cluster are blocking devices.

2. rootfs (preventing being overused by some pods)
Besides, the rootfs is shared by all pods

[2020-07-27 09:43] dims commented on #90511
cc @lubinsz

[2020-07-27 09:46] creatica-soft commented on #63371
same here, jobs are triggered when a schedule is updated, even though it does not meet the schedule

[2020-07-27 09:51] kostrahb commented on #93059
Just a confirmation, I have just tried to access a service via two different load balancers, one created automatically by Nginx ingress (or rather by service of type load balancer - instances registered by instance IDs) and one created manually with instances registered by IPs connected to NodePort service. In the first case, there is a timeout when I run a pod in one AZ and try to access load bal

[2020-07-27 10:52] tedyu commented on #92906
Can you attach kubelet log (covering 10:49) ?

thanks

[2020-07-27 10:53] moonek commented on #87615
@JensErat thank you for answer.
If so, can this issue also occur in older versions of k8s(1.13, 1.15, ..)?

[2020-07-27 11:28] michmike commented on #92496
this is amazing! @ddebroy you rock!!!

[2020-07-27 11:29] michmike commented on #92496
@lubronzhan  thank you for verifying.
cc: @divyenpatel

[2020-07-27 11:40] AntonSmolkov commented on #87615
I changed nodes distro from RancherOS(kernel 4.14.138) to Ubuntu 18.04 (kernel 5.3.0) more than a month ago, the issue has not appeared since then.
One of my cluster left on RancherOS, it has had this issue reproduced for 3 times already.

Not 100% shure, but probably kernel version matters.

[2020-07-27 11:40] rushi47 commented on #92904
@endocrimes  Thanks a lot for the clarification, appreciate the reply :)

[2020-07-27 11:40] #92904 closed

[2020-07-27 11:48] Siddharthk commented on #89898
I am also facing the same issue. Running on Kubernetes v1.16.8 on AWS EKS. Any workarounds?

[2020-07-27 11:55] JensErat commented on #87615
Hard to say. We definitely observe(d) the issue with 1.16 to 1.18, but hat rare weird "kubelet stuck occurences" before. We already digged into such issues since at least a year, but could never correlate anything (single incidents all few weeks, and we have some four-digit number of kubelets running). Got much worse though since we installed 1.16, but currently we're more into assuming the underl

[2020-07-27 12:13] AntonSmolkov commented on #87615
It is `5.3.0-59-generic`. But we only have  ~ 40 kubletes, so it still might be a coincidence.

[2020-07-27 12:24] prary commented on #83313
/remove-lifecycle rotten

[2020-07-27 12:24] prary commented on #83313
/remove-lifecycle stale

[2020-07-27 12:31] povsister commented on #87615
As I said above. This issue happens more frequent on heavy loaded clusters. We observed the same issue almost every night before enabling h2 transport healthCheck.
According to [the issue reported to golang official](https://github.com/golang/go/issues/39750). The problem occurs in socket read loop, which should return an error on reading closed socket but it never does. Also, I suggest adding err

[2020-07-27 12:59] bai commented on #91413
/sig auth

[2020-07-27 13:00] bai commented on #91094
/sig node

[2020-07-27 13:05] bai commented on #91043
/sig cli

[2020-07-27 13:17] tomkerkhove commented on #85544
/remove-lifecycle stale

[2020-07-27 13:18] paulmwatson commented on #23726
If it helps anyone (I came here via Google search on the error) my Docker Desktop for Mac had Kubernetes disabled by default. Ticking `Enabled Kubernetes` and `Apply & Restart` sorted out the error.
![image](https://user-images.githubusercontent.com/4352/88546257-662b5900-d01c-11ea-8ae9-6bff067f08bc.png)

[2020-07-27 13:25] JensErat commented on #87615
We're running Prometheus federation for each of our Kubernetes clusters. Prometheus 2.19.0 introduced http2 (they forget to mention this in the changelog though and had it well-hidden in a commit message body, I had to git bisect, deploy and wait some hours for each run...) and we observed about a dozen incidents with federation stuck per day. I first patched out http2 support again (and issue was

[2020-07-27 13:45] bai commented on #91115
Hey! GitHub issues is used primarily for Kubernetes bug report or feature request. Please use one of the other channels for such questions, e.g. Slack, Discuss, or StackOverflow.

[2020-07-27 13:49] vainkop opened #93472 "kubectl get cs showing unhealthy statuses for controller-manager and scheduler on v1.18.6 clean install"
**What happened**:
1) I've installed a cluster with kubeadm v1.18.6:
```kubeadm init --v=6 --config=kubeadmin/kubeadm-init.yaml --upload-certs```
```cat kubeadm-init.yaml```
[code]
2) Out of the box I'm getting unhealthy statuses:
```kubectl get cs```
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
Deploy cluster with kubeadm v1.18.6

[2020-07-27 13:55] vainkop commented on #93472
`/wg Component Standard`

[2020-07-27 13:56] povsister commented on #87615
Thanks for your feedback. That's a very delightful message.
Although the root cause is not very clear, at least we find out a way to recover from disaster. :D

[2020-07-27 14:09] wojtek-t commented on #93280
+1. I actually think the golang fixed has rolled out (at least the patch was supposed to be rolled out on beg of July).

Agree.

[2020-07-27 14:16] mjudeikis commented on #93421
Fixed

[2020-07-27 14:16] #93421 closed

[2020-07-27 14:20] FritschAuctores commented on #77258
/remove-lifecycle rotten

[2020-07-27 14:29] everpeace commented on #85871
I'm closing this issue because https://github.com/kubernetes/kubernetes/issues/91038 introduces `PostFilter` scheduler plugin which can implement custom preemption logic.

[2020-07-27 14:29] #85871 closed

[2020-07-27 14:30] andrewsykim commented on #75262
You have to enable features gates and unfortunately service topology and externalTrafficPolicy are mutually exclusive so you can't set it when using service topology.

By using the above topologyKeys, the black-hole issue is fixed because of the `*` fallback on any node that doesn't have endpoints based on the first topology key `kubernetes.io/hostname` which refers to the local node. So a node wi

[2020-07-27 14:33] salanki commented on #75262
But if I can't use `externalTrafficPolicy`, I won't have `externalTrafficPolicy`, so it will not be any different than using `externalTrafficPolicy` from the perspective of where external traffic from the Internet ends up. The key use-case of `externalTrafficPolicy: Local` for us is to make sure that ingress traffic from outside the cluster hits a node that has the service running, so it doesn't h

[2020-07-27 14:40] RobertKielty commented on #87468
This issue is on the [CI-Signal project board](https://github.com/orgs/kubernetes/projects/11) as New (no response)

Job is still flaking

closing this as it is being tracked here #93217

/close

[2020-07-27 14:40] #87468 closed

[2020-07-27 14:45] andrewsykim commented on #75262
Yup that would be one of the limitations of using this. You would run into the same problem if you backported the fix mentioned in https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 though and built your own kube-proxy. This was mostly a recommendation for folks who are willing to go out of there way and rebuild kube-proxy with that fix anyways.

The correct fix is to use

[2020-07-27 14:51] salanki commented on #75262
I think https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 would work though, as it would still be a `LoadBalancer` service with `externalTrafficPolicy: Local` so it would only be announced via `MetalLB` from the nodes that actually have the endpoints locally. Other nodes would not announce it and would not get external traffic towards it. I might be wrong, but building a

[2020-07-27 14:55] andrewsykim commented on #75262
Ah, good to know!

Please do and report back. I will also try to get a PR ready for https://github.com/kubernetes/kubernetes/issues/93456 this week and share an image to test with here.

[2020-07-27 14:56] salanki commented on #75262
I truly appreciate your attention to this.

[2020-07-27 15:31] Michael-Sinz commented on #49343
/reopen

This is still broken in 1.18.4

In a cluster, on a pod, I can issue `kubectl get pods` without trouble but if it includes `--request-timeout` it instantly fails:

[code]

[2020-07-27 15:43] Michael-Sinz opened #93474 "kubectl --request-timeout (or any other client configuration flag) prevents use of in-cluster configuration"
**What happened**:
When running a pod within the cluster, using the --request-timeout option always fails instantly

**What you expected to happen**:
It should respect --request-timeout (or, at a minimum, give a better error message).  The real issue is that one can not make sure that kubectl will timeout.

We expect to need to timeout under adverse conditions but kubectl in-cluster never times ou

[2020-07-27 15:49] sunchill06 commented on #93292
@liggitt

Thanks a lot for your inputs. Is it possible for you to share any sample code/example on how to write a validation webhook specifically for exec as I am not really familiar with go?

Any help would be really great.

[2020-07-27 15:57] Michael-Sinz commented on #93474
/sig cli

[2020-07-27 16:08] kow3ns commented on #93115
/assign @kow3ns

[2020-07-27 16:09] kow3ns commented on #93062
/assign @kow3ns

[2020-07-27 16:11] kow3ns commented on #93019
/assign @janetkuo

[2020-07-27 16:12] nikhita commented on #90474
Looks like this can be closed?

Fwiw there is discussion to fix this on go's side to not require `v0.0.0` in the require directive for local replacements. Ref: https://github.com/golang/go/issues/33370. This issue should get fixed once Go fixes it.

[2020-07-27 16:14] kow3ns commented on #92943
This isn't a bug. This is a support request. Please ask this question in stackoverflow or community slack, and a community member will assist you. Thanks.

[2020-07-27 16:14] kow3ns commented on #92943
/close

[2020-07-27 16:15] #92943 closed

[2020-07-27 16:15] nikhita commented on #90474
Also as a side note from a technical perspective, even if we did this, the go.sum file won't be generated correctly and `go mod tidy` will create a diff on release tags. This is true even for published staging repos today, but it doesn't matter for them because they are supposed to be imported directly and used as libraries. We might not want this behavior for k/k.

[2020-07-27 16:15] kow3ns commented on #92896
/close

[2020-07-27 16:16] #92896 closed

[2020-07-27 16:18] kow3ns commented on #92826
/assign @mortent

[2020-07-27 16:20] kow3ns commented on #92634
/assign @janetkuo

[2020-07-27 16:21] kow3ns commented on #92520
/assign @tnozicka

[2020-07-27 16:21] janetkuo commented on #93019
With Deployments, there's no guarantee for Pod identity. Therefore, supporting `volumeClaimTemplates` for Deployments would be non-trivial. If there's a proposal for how this could be implemented, we'd be happy to take a look.

[2020-07-27 16:24] kow3ns commented on #92232
/sig cli

[2020-07-27 16:25] kow3ns commented on #92232
The api-machinery is implemented correctly and the controllers are not in the code path here. This is an issue with kubectl.

[2020-07-27 16:25] kow3ns commented on #92232
/remove-sig apps

[2020-07-27 16:26] karolinepauls commented on #93019
When the pod is gone, storage is gone, the next pod will receive freshly allocated storage from the storage class. Identity is not really a problem, though there might be some need of garbage collection in case PV deletion on pod deletion unexpectably fails.

[2020-07-27 16:29] kow3ns commented on #92223
Readiness for a Pod indicates that the Pod is ready to receive traffic. The Readiness of a Pod and the Readiness of a Node have different semantics.

[2020-07-27 16:29] kow3ns commented on #92223
/assign @kow3ns

[2020-07-27 16:32] kow3ns commented on #92036
This doesn't fall within the scope of code that sig-apps owns. I'm not sure where to direct you that you might find help. You might reach out to elastic or GCP.

[2020-07-27 16:32] kow3ns commented on #92036
/remove-sig apps

[2020-07-27 16:32] janetkuo commented on #92634
This is working as design. We don't garbage collect Jobs based on their Pods.

You can specify job history limit for how many Jobs to keep in a CronJob: https://kubernetes.io/docs/tasks/job/automated-tasks-with-cron-jobs/#jobs-history-limits

If you want to clean up Jobs that aren't managed by CronJobs, use this alpha feature: https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinis

[2020-07-27 16:32] #92634 closed

[2020-07-27 16:34] kow3ns commented on #91676
/assign @kow3ns

[2020-07-27 16:34] kow3ns commented on #91676
/assign @MikeSpreitzer

[2020-07-27 16:37] kow3ns commented on #91672
/assign @tnozicka

[2020-07-27 16:43] kow3ns commented on #91652
/assign @soltysh

[2020-07-27 16:43] future-cyborg commented on #90131
This feature is of interest to me as well. It might be the main road block from my company switching over from docker to kubernetes.

Use case: We have an IoT device (gateway) running docker, and network connected to a number of embedded systems. Each embedded system is running the same application and communicating to the gateway. The gateway is running multiple docker instances of the same servi

[2020-07-27 16:46] kow3ns commented on #91652
/cc @MikeSpreitzer

[2020-07-27 16:47] howardjohn opened #93476 "Allow scaling up to meet PDB constraints"
**What would you like to be added**:

Currently if you have a PDB spec like `minAvailable: 1`, and a HPA defining minReplicas=1 and maxReplicas=N, you may end up in a scenario where disruptions get "stuck" if the HPA has scaled to 1. At any point an increase in load could cause the HPA to scale up to 2+, allowing the PDB to be satisfied, which leads to a weird scenario where a disruption can only

[2020-07-27 16:48] neolit123 commented on #93472
please see here:
https://github.com/kubernetes/kubernetes/issues/93342

`cs` should be deprecated eventually.

/close

[2020-07-27 16:48] howardjohn commented on #93476
/sig autoscaling

[2020-07-27 16:48] #93472 closed

[2020-07-27 16:48] kow3ns commented on #90124
/assign @soltysh

[2020-07-27 16:49] neolit123 commented on #93472
/sig api-machinery

[2020-07-27 16:49] neolit123 commented on #93472
/sig cluster-lifecycle

[2020-07-27 16:56] kow3ns commented on #89922
/assign @tnozicka

[2020-07-27 16:57] neolit123 commented on #93223
latest run has not finished yet but it should have the `attempting cleanup" error="failed to extract layer...` error fixed:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1287790511452590080

[2020-07-27 17:26] rikatz commented on #93267
Not from sig-cli, but I put  my +1 (and can advocate) on this and would like to help if possible. Deployment and Pod are also rich resources, and yet they have a simple but functional create that covers some cases :)

Having a kubectl create ingress myingress --host=yourhost.com --service-name=nginx --service-port=80 --pathtype=prefix --path=/path seems simple and yet could cover a lot of scenario

[2020-07-27 17:31] apelisse commented on #92232
Would you mind coming-up with a much simpler example to reproduce?

[2020-07-27 17:36] malozanoff commented on #75262
Mmh, i don't see why this would also be a problem in those cases, the nodes with local endpoints are unchanged and the external routes (think bgp) are unrelated to kube-proxy in the first place, so i don't think you'd have this problem with the kube-proxy fix...

[2020-07-27 17:41] #88630 closed

[2020-07-27 17:48] hasheddan commented on #93374
This flaked again this morning

/reopen

[2020-07-27 17:52] hasheddan commented on #93223
Latest run looks good, thanks @neolit123!

/close

[2020-07-27 17:52] #93223 closed

[2020-07-27 17:57] MikeSpreitzer commented on #91652
I briefly thought about the new API Priority and Fairness feature in the apiservers, but that will not directly do the trick because your concern is not with apiserver requests but rather running workload in pods.

A generalization of leader-election to directly enforce a concurrency limit would probably do the trick, but may be heavier weight than is needed here.  I like the random delay idea.

[2020-07-27 18:07] liggitt commented on #93449
/remove-label triage-unresolved

[2020-07-27 18:08] tpepper commented on #93374
This should be
/priority critical-urgent
given https://github.com/kubernetes/kubernetes/issues/93374#issuecomment-662809443

[2020-07-27 18:30] liggitt commented on #93374
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce/1286795958520123392

[code]

[2020-07-27 18:32] robscott commented on #93374
The top level error message does not make this clear but the issue here is that too many EndpointSlices are being created - 3 instead of 2.

[2020-07-27 18:33] liggitt commented on #93374
Interesting... that condition should not persist for O(minutes), right?

[2020-07-27 18:34] robscott commented on #93374
There's potential that it's not consistently merging 2 ports with 1 endpoint into a single slice and instead creating a slice per port. It also could represent a larger bug. Trying to find a way to consistently reproduce this.

[2020-07-27 18:44] D1abloRUS commented on #88662
/reopen

[2020-07-27 18:44] D1abloRUS commented on #88662
/remove-lifecycle rotten

[2020-07-27 18:55] dashpole commented on #92287
/cc

[2020-07-27 19:04] arianitu commented on #23615
Hello everyone, we are struggling to find a deterministic way of getting Kubernetes to NOT bind to a PV->PVC pair that is awaiting binding.

Here is what happened for us:

1. A GKE PersistentDisk was cloned containing sensitive data
2. A PV (let's call it PV1) with a ClaimRef and a PVC (PVC2) was created to bind that sensitive data to a Deployment (D1).

Then in the cluster another Deployment (D2)

[2020-07-27 19:36] ehashman commented on #93421
Backports initiated for OpenShift 4.3: https://github.com/openshift/origin/pull/25327

And 4.4: https://github.com/openshift/origin/pull/25326

[2020-07-27 19:42] jeffvance commented on #23615
@arianitu Do you have the option of pre-binding the sensitive PV and PVC?

[2020-07-27 19:43] #88670 closed

[2020-07-27 19:46] wojtek-t commented on #93217
With https://github.com/kubernetes/test-infra/pull/18464 and https://github.com/kubernetes/test-infra/pull/18463 this should now be fixed.

[2020-07-27 19:46] #93217 closed

[2020-07-27 19:48] wojtek-t commented on #91073
This has been mitigated in 1.18 and head.

The more proper fix is proposed in https://github.com/kubernetes/enhancements/pull/1878

Closing this one.

[2020-07-27 19:48] #91073 closed

[2020-07-27 20:03] pswalia06 opened #93479 "kubernetes doesnt support ":" colon field in volume mount paths"
**What happened**:
I am trying to create a directory which has colon in the path and kubernetes doesn't support that.
/etc/docker/certs.d/reg.example.com:5000

**What you expected to happen**:
Its should create directory "/etc/docker/certs.d/reg.example.com:5000" and put the cert file in it

**How to reproduce it (as minimally and precisely as possible)**:

apiVersion: extensions/v1beta1
kind: Dae

[2020-07-27 20:06] apelisse commented on #93363
@zhouya0 would you be interested in solving that bug next?

[2020-07-27 20:09] pswalia06 commented on #93479
cncf-cla: yes kind/failing-test priority/important-longterm release-note-none sig/node size/XS

[2020-07-27 20:17] brianpursley opened #93480 "ElasticSearch e2e periodic tests are failing due to missing elasticsearch service."
Looks like this test is never able to succeed because `elasticsearch-logging` service does not exist:
[code]

### Failure cluster [36e3e824ad431ddef1ef](https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Kibana#36e3e824ad431ddef1ef)

##### Error text:
[code]
#### Recent failures:
[7/27/2020, 2:35:56 AM ci-cri-containerd-e2e-gci-gce-es-logging](https://prow.k8s.io/view/gcs/kuberne

[2020-07-27 20:29] brianpursley commented on #93480
possibly related to https://github.com/kubernetes/kubernetes/issues/92731

[2020-07-27 20:35] arianitu commented on #23615
@jeffvance it appears the issue we were running into with a library is that they were using volumeName only instead of ClaimRef which led to the above condition.

So I think my point above is moot since I assumed they were using ClaimRef but in reality they are using volumeName. I don't see VolumeName having any implications with PVC checking if a PV can be mounted (https://github.com/kubernetes/k

[2020-07-27 20:59] jeffvance commented on #23615
@arianitu Unless things have changed, binding is two ways: the PVC binds to the PV via `pvc.volumeName` and the PV binds to the pvc via `pv.claimRef` Both sides need to be filled-in for binding.

[2020-07-27 21:19] tallclair commented on #84248
/remove-lifecycle stale

[2020-07-27 21:49] liggitt opened #93484 "go1.15.0 / k8s 1.19 tracker"
Tracking issue to complete go 1.15.0 bump for 1.19

/milestone v1.19

~~Blocking issues for go 1.15.0:
https://github.com/golang/go/issues?q=is%3Aopen+is%3Aissue+milestone%3AGo1.15+label%3Arelease-blocker~~

~~Changes to go 1.15 since go1.15rc2: https://github.com/golang/go/compare/go1.15rc2...release-branch.go1.15~~

Post-release issues found and being considered for go1.15.1: https://github.com/

[2020-07-27 21:49] liggitt commented on #93484
cc @justaugustus

[2020-07-27 21:51] liggitt commented on #93479
This is likely due to special treatment of colons in filepaths (disallowed in windows paths, treated as a path separator in linux paths). It is unlikely that this validation will be relaxed.

/remove-kind bug
/kind feature
/sig storage

[2020-07-27 22:03] liggitt opened #93485 "[Flaky Test] integration-master scheduler tests (ci-kubernetes-integration-master)"
**Which jobs are flaking**:

* ci-kubernetes-integration-master
* pull-kubernetes-integration

**Which test(s) are flaking**:

Flaking in pre and post-submit:
* TestPostFilterPlugin
* TestReservePluginUnreserve
* TestFilterPlugin
* TestScorePlugin
* TestNodeAffinity

**Testgrid link**:

* https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=test%2F

[2020-07-27 22:03] justaugustus commented on #93484
FYI @kubernetes/sig-release

[2020-07-27 22:03] liggitt commented on #92360
this test has not flaked in over a week

opened https://github.com/kubernetes/kubernetes/issues/93485 specifically for the scheduler test flakes

[2020-07-27 22:04] liggitt commented on #93485
/milestone v1.19

since these are flaking in a post-submit release-blocking job

[2020-07-27 22:04] liggitt commented on #93485
@kubernetes/ci-signal

[2020-07-27 22:04] #92360 closed

[2020-07-27 22:05] mb-m commented on #93409
So I found the problem originally, (and didn't realise what was going on) by managing to lock one of a pair of kubernetes masters to see one version of the service, and its peer to see a different one. As an AWS customer using the EKS service, I initially assumed that this was an EKS hardware issue, but further work with AWS support got us to the replicable example above.

Doing the testing @liggi

[2020-07-27 22:11] mb-m commented on #93409
I'm also not 100% sure, but I think to fully reproduce, you may have to actually do at least one request on each API server causing the webhook to look up the service to trigger the cache before changing the port number. I didn't get to try that particular experiment when I was trying to work out what to do with AWS support to replicate this problem.

[2020-07-27 22:13] liggitt commented on #93409
what specific version of 1.15 are you running in the apiserver?

[2020-07-27 22:15] #93449 closed

[2020-07-27 22:15] mb-m commented on #93409
The EKS one (I'm afraid as a customer I don't know more than that, sorry - @raonitimo should be able to help here)

Also, I think the point where it's failing is within the call https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/util/webhook/client.go#L172 to resolve the service.

[2020-07-27 22:15] Huang-Wei commented on #93485
I will take a look.

/assign

[2020-07-27 22:28] mb-m commented on #93409
I was a bit unsure about which implementation of ResolveEndpoints is being used, but if it's: https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L43 (through one of the other implementations) then essentially, you end up https://github.com/kubernetes/kubernetes/blob/release-1.15/staging/src/k8s.io/client-go/listers/core/v1/service.go#L55

[2020-07-27 22:51] neolit123 commented on #93391
looks like you've already opened the issue here: https://github.com/kubernetes/cli-runtime/issues/15

/close

[2020-07-27 22:51] #93391 closed

[2020-07-27 22:52] neolit123 commented on #93462
/sig cli

[2020-07-27 23:20] liggitt commented on #93474
Modifying the config prevents use of the in cluster  config. cc @deads2k

[2020-07-27 23:26] ZhiFeng1993 commented on #75601
/assign

[2020-07-27 23:31] DumpsterDoofus opened #93488 "Nodes with more than 50 images do not return all images in API"
## What happened

The Kubernetes API `GET /api/v1/nodes` endpoint has a property `items.status.images`, which according to the [documentation](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#nodestatus-v1-core) is a "List of container images on this node".

However, the field only returns at most 50 images. If the node has more than 50 images, only 50 will be returned, and the

[2020-07-27 23:37] DumpsterDoofus commented on #93488
/sig api-machinery
/sig node

[2020-07-28 00:09] satishrao84 opened #93489 "Incorrect pod IP addresses after kubeadm init /sig network"
/sig network

## Versions

**kubeadm version** (use `kubeadm version`):
`
kubeadm version: &version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.5", GitCommit:"e0fccafd69541e3750d460ba0f9743b90336f24f", GitTreeState:"clean", BuildDate:"2020-04-16T11:41:38Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}
`

**Environment**:
- **Kubernetes version** (use `kubectl version`):
`
Client

[2020-07-28 00:44] zhouya0 commented on #93363
Yes, I'll try to do that.
/assign

[2020-07-28 01:10] tedyu commented on #93488
Have you tried changing the default with:
--node-status-max-images
[code]

[2020-07-28 01:18] zhangguanzhang commented on #90503
/remove-lifecycle stale

[2020-07-28 01:21] robscott commented on #93374
Despite my best efforts I have been unable to reproduce this on my own e2e cluster. I've had 10 test runs going at the same time repeatedly without any luck, any ideas for how to reproduce flaky test failures local would be welcome. In the meantime, I've created a follow up PR that will provide more helpful information if/when this test fails again: https://github.com/kubernetes/kubernetes/pull/93

[2020-07-28 01:44] EdgeXS opened #93494 "Accessing Dashboard Remotely: ERROR forbidden: User \"system:anonymous\"
I'm fairly new to kubernetes.  Using references to install and get everything up and running. Came across Kubernetes Dashboard to manage the cluster.

Steps to reproduce

1.  i deployed the dashboard following the below link
    https://github.com/kubernetes/dashboard

2. installed dashboard https://github.com/kubernetes/dashboard
ran kubectl apply -f https://raw.githubusercontent.com/kubernetes/d

[2020-07-28 02:36] qingwave commented on #92214
Same promblem, run `kill -9 nginx`, the `nginx daemon` exited, but `nginx worker` is also running (became orphaned process， ppid is `containerd-shim`), docker will hang when operate it, unless delete all orphaned process or delete pod(destroy pid namespace) or delete parent（`containerd-shim`）.

 It seems a docker bug, but I cannot reproduce it by docker with `docker run -d  --pid ...`

[2020-07-28 02:45] AbelHu commented on #74173
@benmoss It seems like that removing `PdhValidatePath` does not fix this issue. `PdhAddEnglishCounter` also returns the same error `Error code is c0000bb8`

https://github.com/kubernetes/kubernetes/blob/v1.18.2/pkg/kubelet/winstats/perfcounters.go#L57-L60

Error logs in 1.18.2:
[code]

[2020-07-28 02:53] liggitt commented on #93488
This is working as designed. Returning all images would make node API objects prohibitively large. The list is capped at 50 by default and is configurable via `--node-status-max-images` as noted in https://github.com/kubernetes/kubernetes/issues/93488#issuecomment-664717977

[2020-07-28 02:53] #93488 closed

[2020-07-28 02:54] liggitt commented on #93494
You can find instructions for accessing the dashboard at https://github.com/kubernetes/dashboard#access

[2020-07-28 02:54] #93494 closed

[2020-07-28 03:30] zhangchengshan commented on #87615
We have the same issue with k8s v1.14.3, and restart kubelet can fix  the problem.

[2020-07-28 03:32] fatedier commented on #92223
When a pod is unready because node is unready , i can't get any message from pod status about the reason.

[2020-07-28 03:38] liggitt opened #93496 "[Failing test] TestEndpointSliceMirroring/Service_without_selector"
**Which jobs are flaking**:

ci-kubernetes-integration-master

**Which test(s) are flaking**:

ci-kubernetes-integration-master

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=TestEndpointSliceMirroring

**Reason for failure**:

[code]

**Anything else we need to know**:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/log

[2020-07-28 03:38] liggitt commented on #93496
/milestone v1.19
/assign @robscott
/sig network

[2020-07-28 03:48] MikeSpreitzer commented on #91676
Commit 3b916a420d630c81eb65b20dc33b967593fc6603 is not in github.com/kubernetes/kubernetes and I do not know where to find it.

[2020-07-28 03:56] daniel-garcia commented on #82942
There is also precedence for this already. Kubernetes itself uses vendor extensions. See http://localhost:8080/openapi/v2 : here you'll find
[code]
These are vendor extensions to associate a swagger definition to an HTTP verb and a K8s Kind. If K8s can use vendor extensions to drive its use cases it seems apt to allow third parties to use these extensions to drive theirs.

[2020-07-28 04:31] ghostsquad commented on #81878
this doesn't seem to apply for anything at `k8s.io/kubernetes/pkg`. Is that stuff being moved?

[2020-07-28 04:41] pradeepmodukuri commented on #90345
Hi Folks - i got the same issue , sorry i am not much from Networking back ground ... i am using ubuntu OS
please assist

error execution phase preflight: couldn't validate the identity of the API Server: Get https://10.0.20.7:6443/api/v1/namespaces/kube-public/configmaps/cluster-info?timeout=10s: dial tcp 10.0.20.7:6443: connect: no route to host

[2020-07-28 04:47] robscott commented on #93496
Thanks for filing this! I've opened https://github.com/kubernetes/kubernetes/pull/93497 to fix this.

/remove-triage unresolved

[2020-07-28 04:51] akshaysngupta commented on #93094
We started using the new “hostnames” field instead of “hostname” field in the HTTP listener on Application Gateway while generating the config. This field is added as part of the new wildcard hostnames feature.
This feature was light up on the portal a week.
Please check portal again to see if you can now see the hostnames in the listener.

[2020-07-28 05:05] MikeSpreitzer commented on #91676
I see different code in release 1.14.3: https://github.com/kubernetes/kubernetes/blob/v1.14.3/pkg/controller/statefulset/stateful_set_utils.go#L335-L346

[2020-07-28 05:06] raonitimo commented on #93409
Hello @liggitt , thanks for investigating this. The specific cluster version is 1.15.11.

Please let me know if there's anything I can do to help.

[2020-07-28 05:30] BenTheElder commented on #87603
/remove-lifecycle stale

[2020-07-28 06:22] robscott commented on #93374
It appears that my theory was correct as witnessed here: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/93491/pull-kubernetes-e2e-gce/1287970453826048000/. I create a [gist with what the 3 EndpointSlices look like](https://gist.github.com/robscott/68bfe833bd40d254978a4822eeb7da52). The key points I've noticed so far:

* 1 EndpointSlice references pod2 (example-named-port-f7vq5)
* 2 E

[2020-07-28 06:24] robscott commented on #88967
@bowei thanks for the reminder! I'm completely in agreement that we need better rate limiting here, I just haven't had the time to prioritize work on this yet. At least partially related, a new flaky test has come up where the EndpointSlice controller is actually creating duplicate EndpointSlices in some cases because it's running another syncService before the cache is up to date. I think we may

[2020-07-28 06:30] rhuss commented on #82942
@liggitt Not sure if I understood the part why builtin schemas (which one ?) could diverge in arbitrary ways. But now that we have collected a bunch of use cases, what would be the next steps to bring this idea forward ? I'm not very familiar with the Kubernetes way of feature request but I guess its about to write a proposal first ? (where would this have to land?)

[2020-07-28 06:30] EdgeXS commented on #93494
Actually I've seen that reference but that doesn't work for remote server.  Since the kubectl is a local proxy.  While i'm trying to access the dashboard remotely.

[2020-07-28 06:51] saschagrunert commented on #90119
/remove-lifecycle stale

[2020-07-28 06:52] saschagrunert commented on #90119
@Verolop are you still considering to work on this? We could also think about asking for volunteers again in SIG Release. :blush:

[2020-07-28 07:09] MikeSpreitzer commented on #91676
I have reproduced the problem on release 1.14.3

[2020-07-28 07:11] Bo0km4n commented on #42649
Same issue happen on Kubernetes 1.18.6

[2020-07-28 07:31] MikeSpreitzer commented on #91676
I also tested on release 1.14.10 and the problem seems to be fixed.

I did a `git checkout v1.14.10` and the `hack/local-up-cluster.sh`.  Then I saw this:
[code]

Next I created the initial revision of the StatefulSet:
[code]

waited until it was stable:
[code]

Then made the change:
[code]

Waited until it was stable:
[code]

Then tweaked the partition then deleted the pod.
[code]

Observed repla

[2020-07-28 07:36] ncc1701j commented on #82525
I agree, this really feels like a bug. It even makes the rollback fail, when serviceAccount is a field that is been added (upgrade) / removed (rollback).

[2020-07-28 07:46] wojtek-t commented on #93374
Hmm - actually I don't understand why this is happening. Maybe I'm missing something, but I don't think slowing down controller is needed to solve this problem. Even though the controller usually is not lagging my more than 1s, it is possible that it can be lagging by a minute or more in pathological cases. So we can't just rely on the fact that it's guaranteed to be synced.

Can you explain it a

[2020-07-28 07:47] wojtek-t commented on #88967
I would be very reluctant about solving issues/races with different rate-limitting - see also my comment there https://github.com/kubernetes/kubernetes/issues/93374#issuecomment-664836602

[2020-07-28 08:02] denkensk opened #93500 "Move AssumePod Op to ReservePlugins as defaultReserve"
**What would you like to be added**:
Move AssumePod Op to ReservePlugins as defaultReserve
Move ForgetPod Op to UnReservePlugins as defaultUnreserve

**Why is this needed**:
make all phases of scheduling can be implemented by plugins in Framework

/assign

[2020-07-28 08:03] denkensk commented on #93500
/sig scheduling

[2020-07-28 08:04] denkensk commented on #93500
/cc @ahg-g @Huang-Wei @alculquicondor

[2020-07-28 09:16] stephen-dexda commented on #82525
/remove-lifecycle stale

[2020-07-28 09:38] bai commented on #91421
/sig testing

[2020-07-28 09:39] bai commented on #90291
/sig docs

[2020-07-28 09:57] TomMorant commented on #93004
Hello, what I want to ask is, where can I find the latest version of the cluster configuration file now? The official standard configuration file. . .

[2020-07-28 09:59] neolit123 commented on #93004
the last file that resembled that was deleted in https://github.com/kubernetes/kubernetes/pull/76711

kubernetes has no concept of a "cluster configuration file", different tools that create a k8s cluster for you like kubeadm, kops, cluster api have different configuration formats.

[2020-07-28 10:01] TomMorant commented on #93004
This makes people's learning costs still higher. Then, for example, if I want to add configuration parameters of a certain component in the future, how can I find it???

[2020-07-28 10:03] TomMorant commented on #93004
This makes people's learning costs still higher. Then, for example, if I want to add configuration parameters of a certain component in the future, how can I find it???

[2020-07-28 10:05] jkaniuk commented on #87468
#93217 ([flaky] SchedulingThroughput) was fixed and closed

[2020-07-28 10:13] neolit123 commented on #93004
the core k8s component flags are documented under this reference documentation:
https://kubernetes.io/docs/reference/command-line-tools-reference/

all components with the exceptions of kube-apiserver support a configuration file format that is passed via --config:
https://godoc.org/k8s.io/kube-proxy/config/v1alpha1
https://godoc.org/k8s.io/kube-scheduler/config/v1
https://godoc.org/k8s.io/kubelet

[2020-07-28 10:24] zhucan opened #93504 "Why not support vfs for kubernetes?"
https://github.com/kubernetes/system-validators/issues/17

please look at this

[2020-07-28 10:24] zhucan commented on #93504
/sig node storage

[2020-07-28 10:25] kvaps commented on #90593
/remove-lifecycle stale

[2020-07-28 10:35] Duanzhiwei commented on #93446
I got the same problem. Have you solved it?

[2020-07-28 10:46] chendave opened #93505 "race condition detected during the scheduling with preemption"
**What happened**:
race condition detected during the scheduling with preemption

**What you expected to happen**:
the preemptor with high priority should be scheduled successfully.

**How to reproduce it (as minimally and precisely as possible)**:
In the case of preemption,  with the below assumption,

- node1 has the replication controller with couple of pods running, and consider to be the cand

[2020-07-28 10:46] chendave commented on #93505
/sig scheduling

[2020-07-28 10:47] neolit123 commented on #93489
/sig network

[2020-07-28 10:47] chendave commented on #93505
/cc @Huang-Wei @alculquicondor @ahg-g @soulxu

[2020-07-28 10:48] chendave commented on #93505
I think this is a critical bug, we'd better fix it asap.

/assign

[2020-07-28 10:52] eladm26 commented on #93432
@liggitt thanks for the help
so it's actually a cobra issue?

[2020-07-28 10:53] eladm26 commented on #93432
ok, so this indeed seems like a cobra issue

[2020-07-28 11:52] TomMorant commented on #93004
Thank you, and give the community an opinion: I hope the community can include the configuration files of each component (kube-apiserver, kube-scheduler, kube-controller-manager, kubelet, kube-proxy, etc.) in the binary package. I want to do this The future development of the community is also better

[2020-07-28 12:19] ahg-g commented on #93505
pod1 was deleted, and so it will not be put back into the active queue. The replication controller will receive the delete event and create a new pod pod1.1 to replace it.

It is true though that an add event to pod1.1 could be received and added to the active queue while preemptor pod is still in backoff, but that is not as fast as saying "pod1 is added to activeQ".

That shouldn't happen, nomina

[2020-07-28 12:48] yceoshda commented on #17512
Hi,
I'm happy to see that Google pointed all of us to this issue :-) (a bit disappointed that it's still open after almost 5y.) Thanks for all the shell snips and other tools.

[2020-07-28 12:49] dims commented on #93399
I suspect his is the same as https://github.com/kubernetes/kubernetes/issues/92615

[2020-07-28 12:49] dims commented on #92615
xref https://github.com/kubernetes/kubernetes/issues/93399

[2020-07-28 12:58] alculquicondor commented on #93500
I thought about this before, but since this is tightly associated to the scheduler cache, I'm not sure if it's a good idea.

If you disable the plugin, everything will stop working correctly. That is not the same for other plugins being disabled, such as preemption.

Still, I'm open to discussion.

[2020-07-28 13:10] denyo commented on #78761
I had the same issue where the HPA calculated that there should be 2 replicas even though memory threshold was at `40%/70%`.

I am using prometheus operator and noticed that there where duplicate metrics.
One metric being scraped from `/metrics/cadvisor` and another one from `/metrics/resource/v1alpha1` with identical values.

Following the advice of https://github.com/helm/charts/issues/23131#iss

[2020-07-28 13:43] EdgeXS commented on #93494
This did not resolve the issue could this thread be reopened.

[2020-07-28 13:49] liggitt commented on #93494
The dashboard can be exposed using an ingress like any other web-serving pod (see https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/README.md#ingress), though special care needs to be taken to ensure access is not granted to an unsecured dashboard (see https://github.com/kubernetes/dashboard/blob/master/docs/user/access-control/README.md).

If you have further quest

[2020-07-28 13:52] eladm26 commented on #93474
@Michael-Sinz is this issue still relevant?

[2020-07-28 13:54] liggitt commented on #93374
Agree, I'm not in favor of slowing down the controller to address this

[2020-07-28 13:57] sagor999 commented on #93337
@uablrek any ideas how to better debug this issue?

[2020-07-28 13:58] sagor999 commented on #93337
@bridgetkromhout would it be possible to have someone else from sig network to take a look at this issue as well and maybe provide some insight?

[2020-07-28 14:08] EdgeXS commented on #93494
Thanks for the response.  So from everyone that has responded they have stated opening a node port in production environment is not recommended.

So are you stating that you will have to open up a node port to achieve the remote access is the recommended approach?  I just don't want to open a security can of worms and deploy it by recommended approach. I'm just not getting that official document s

[2020-07-28 14:09] jkaniuk opened #93506 "gce-master-scale-correctness OOMing after test pod limits set"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
all - whole test set OOMed

**Since when has it been failing**:
2020-07-28

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**:
test pod OOMed after setting 16Gi memory limit
https://github.com/kubernetes/test-infra/pull/18494

**Anythin

[2020-07-28 14:09] jkaniuk commented on #93506
/sig scalability
/assign

[2020-07-28 14:10] liggitt commented on #93494
Not a node port, a service+ingress.

This repo is not the best place for dashboard questions/issues, shifting to the dashboard repo will be more likely to get info from the dashboard maintainers.

[2020-07-28 14:18] wojtek-t commented on #93506
/lgtm
/approve

[2020-07-28 14:20] benmoss commented on #74173
@AbelHu very interesting, can you please open a new issue and investigate our options if you can?

[2020-07-28 14:24] wojtek-t commented on #93506
Not this window :) it was supposed to be for kubernetes/test-infra#18496

[2020-07-28 14:31] Michael-Sinz commented on #93474
When using kubectl with rbac configuration in a pod (thus it connects to localhost default), kubectl fails instantly if you provide the connection timeout option.

This prevents using kubectl in rbac'ed pods unless you forego connection timeout option and do your own timeout management outside of kubectl, which is inconsistent.

[2020-07-28 14:32] wawa0210 commented on #74173
I remember the last time I modified it and passed the test on the French and Russian Windows operating systems, can you describe your environment information in detail?

[2020-07-28 14:33] liggitt commented on #93409
The cache doesn't get cleared, it is updated by an informer watching add/update/delete events from the cluster (like most controllers).

[2020-07-28 14:34] EdgeXS commented on #93494
Must have gotten my postings messed up.  Didn't realize this was the kubernetes / kubernetes repo and not the kubernetes / dashboard repo.

[2020-07-28 14:38] pierluigilenoci commented on #69461
/remove-lifecycle stale

[2020-07-28 14:41] liggitt commented on #93409
That is very strange. When the servers are in this state, can you fetch the full content of the webhooks, service, endpoints, and backing pods (eliding any irrelevant confidential info) with `kubectl get -o yaml`?

Ok, thanks. #83911 might have been relevant, but was fixed in 1.15.6. #86015 _might_ also be relevant, and was fixed in 1.18.0, but it's hard to imagine network disruption on a loopback

[2020-07-28 14:44] chendave commented on #93505
yes, that is what I meant, I illustrate it not clear enough,  thanks for correcting me.

make sense, but this is what I observed in my side, and I can easily reproduce the issue on the master, will check it again.

[2020-07-28 14:49] alculquicondor commented on #93505
I think this is the actual problem. Basically, we issue all the pod preemptions (deletions) and then we put the preemptor pod in the unschedulableQ. In between, the pod updates for new pods could come in. So the preemptor pod remains in unschedulableQ because there are no node updates thereafter. Could you confirm if this the order @chendave?

[2020-07-28 14:51] alculquicondor commented on #93505
It's probably not much of a problem if only one pod is preempted. But chances increase with the number of preempted pods.

[2020-07-28 14:53] EdgeXS commented on #93494
Just to conclude this,

By doing the following you are just creating an ingress that needs to be done to achieve access to the dashboard there is no actual other way.  Just assure that it is secured with the token
https://github.com/kubernetes/dashboard/blob/master/docs/user/accessing-dashboard/README.md#nodeport

[2020-07-28 14:55] liggitt commented on #82942
That doesn't quite follow... as I noted before, Kubernetes currently only stores/serves info in the schema it understands. There is value in presenting a uniform schema surface that is consistent between built-in and custom resources.

This proposal would allow custom resources to diverge _from_ built-in resources in arbitrary ways (so someone fetching `/openapi/v2` could get a mish-mash of schema

[2020-07-28 14:55] chendave commented on #93505
In my case, only one pod is preempted, that is one pod from the deployment, and chance to see this issue more than 30%.

[2020-07-28 15:01] chendave commented on #93505
sure, will do, thanks!

[2020-07-28 15:05] savar commented on #79365
for the `stable/nginx-ingress` you can either set the same limits on the defaultBackend
[code]
or probably use @oba11 's idea and set probably `defaultBackend.deploymentLabels` and/or `defaultBackend.podLabels`

[2020-07-28 15:14] jsturtevant commented on #93349
I looked into this some more and found we have three options:

- Install the webhook at provisioning time.  This solved the problem above but causes the test `[sig-windows] [Feature:Windows] GMSA Kubelet [Slow] kubelet GMSA support when creating a pod with correct GMSA credential specs passes the credential specs down to the Pod's containers` to fail because the webhook looks for a gmsa CRD and [r

[2020-07-28 15:16] alculquicondor commented on #93505
Another idea, but also for more than one preempted: Maybe the preemptor pod enters a new scheduling cycle (after the first pod gets deleted), still gets rejected because it still doesn't fit. But while the pod is being retried, the other pod deletion events come in.

For one pod, I can only think of the case were pod delete event comes before we put the pod back in schedulable queue.

[2020-07-28 15:23] cmluciano commented on #92199
fixed by #93038

[2020-07-28 15:23] #92199 closed

[2020-07-28 15:28] chendave commented on #93505
The thing I am not clear right now is why the below step could happen?
[code]
@ahg-g's point looks correct though.

And after this step,
[code]
the preemptor pod will get be moved from `podBackoffQ ` to `activeQ` only when the backoff time expired (1 second?)

interesting!

[2020-07-28 15:31] chendave commented on #93505
I designed the case that preemptor will fit after the victim pod is got removed.

pls let me do more investigation, properly in my next day. :)

[2020-07-28 15:42] disconnect3d commented on #89940
Any chance someone confirms it is a valid way to get the applied PSP in all cases? I can send a PR to improve the docs.

Maybe @sttts or @pweil- (via git blame around the linked code)?

[2020-07-28 15:50] aramase commented on #93094
/remove-triage unresolved

Thank you for hopping on this thread, Akshay! @SetarehStar Can you please take a look a the comment above?

[2020-07-28 16:01] apelisse commented on #93363
OK, Feel free to ask me any question on slack if you want, thanks @zhouya0!

[2020-07-28 16:15] sagarvelankar commented on #91395
Pull Request https://github.com/kubernetes/kubernetes/pull/70100 added following comment markers to Ports Field of type slice of ContainerPort Struct inside Container struct in core/v1/types.go

	// +listType=map
	// +listMapKey=containerPort
	// +listMapKey=protocol

kubernetes-sigs/controller-tools converts these comment markers to x-kubernetes-list-type and x-kubernetes-list-map-keys as per htt

[2020-07-28 16:15] mb-m commented on #93409
https://gist.github.com/mb-m/ab7678b404a755a0ac94ce02a0bae113 - some names and paths etc changed (in a consistent way) to protect internal names.

The initial service was created with `port: 8000` but got changed because of the error message (which I later found out was hardcoded to :443 in this version). One API server consistently looks for the service port (for this specific service name) on :8

[2020-07-28 16:32] Parwinderjit16061986 commented on #93479
How can I escape those colon ? How can I use the escape characters in kubernetes ?
error: error parsing test2.yaml: error converting YAML to JSON: yaml: line 23: found unknown escape character

[2020-07-28 16:48] robscott commented on #93374
That's exactly where I was hoping to end up here, although I'm not quite sure how to do that cleanly yet. To be clear, this is not just to fix this flaky test. This flaky test is a symptom of a much larger and more annoying issue with the current implementation. The EndpointSlice controller is consistently running into errors where it's trying to update EndpointSlices that are stale. This is cause

[2020-07-28 17:20] thockin commented on #93267
Do we have good tooling for repeated args?  I thought Cobra preferred
list-args instead?

E.g. I like:

[code]

...but IMO that would not work at all as:

[code]

I personally get frustrated when `kubectl create` doesn't support
"obvious" parameters, so I'd like to think through how it should work
"as completely as is reasonable".

Otherwise I have no objections.

[2020-07-28 18:05] bsdnet commented on #92287
/cc

[2020-07-28 18:09] damemi commented on #88634
/remove-lifecycle stale

[2020-07-28 18:10] momon commented on #79547
This was very helpful for me.  I was doing a migration which involved issuing several pod revisions in tandem and monitoring them while waiting for them to initialize was a bit of a pain.  Using a simple variation of this command helped me automate my checks.  I am using it as such:

[code]

[2020-07-28 18:23] johscheuer commented on #93446
Hi, just to confirm you are running on `aliyun` cloud and you have the `aliyun` cloud-controller-manager installed (e.g. https://github.com/kubernetes/cloud-provider-alibaba-cloud)? Also could you check the `calico` version? And you are using ipvs for kube-proxy right?

Also you must set the flag `service-cluster-ip-range` for the `kube-apiserver` (note that kubernetes currently only supports `/11

[2020-07-28 18:32] rikatz commented on #93267
Honestly, didn't took a look into how properly achieve this with Cobra, just suggested how this could look like :)

Agree about covering all or almost all of the cases. Don't know if we should wait a sign of agreement from sig-cli, otherwise I can start working on this already pointing to networking.k8s.io/v1 (as shipped with v1.19).

Will put this as a WIP in my queue and maybe open a PR this wee

[2020-07-28 18:37] johscheuer opened #93509 "API-Server should validate ipFamily and configured service-cluster-ip-ranges"
**What happened**:
Based on this issue: https://github.com/kubernetes/kubernetes/issues/93446 I would expect that the API server returns an error if I try to create a Service for an `ipFamily` that has no according `service-cluster-ip-range` instead of silently swallow the mistake and use the default `ipFamily`.

**What you expected to happen**:
That the API server provides an error "Service x use

[2020-07-28 18:38] liggitt commented on #93409
cc @caesarxuchao @roycaihw

[2020-07-28 18:39] johscheuer commented on #93509
/sig network
/assign

[2020-07-28 18:42] johscheuer commented on #93509
/assign johscheuer

[2020-07-28 19:15] liggitt commented on #93509
Is that a valid configuration? I thought both ranges must be enabled to actually enable the feature.

[2020-07-28 19:15] SuxiangYundi commented on #93446
I don't use cloud-controller-manager. The test k8s cluster was just deployed upon ECS vms by  kube-spray without cloud-controller-manager in region cn-shanghai( ipv4/ipv6 dual stack vpc).

calico version see below:
[code]
latest pod info see below:
[code]

Service info see below:
[code]
@johscheuer

[2020-07-28 19:16] SuxiangYundi commented on #93446
Not yet.

[2020-07-28 19:25] jayunit100 commented on #93446
Hi suxiang... since youve got a lot of config here:
- calico
- kubespray
It might be tricky to figure out exactly what the issue is.

If you run the version of kind here: https://github.com/aojea/kind/releases/tag/dualstack
Youll be able to try to  reproduce this bug (possibly) in a way that you can share with others.

Do you have time to do that?  That would help verify that this is indeed a core

[2020-07-28 19:25] SuxiangYundi commented on #93446
kube-proxy config see below：

[code]

[code]
@johscheuer

[2020-07-28 19:27] SuxiangYundi commented on #93446
ok, thanks a lot. I'll check it.

[2020-07-28 19:30] rikatz commented on #93267
I've been thinking about using the same idea of the --selector flag, passing a string flag and then parsing this into multiple path configurations, like:

``--path=location=/lala,service-name=nginx,service-port=80 --path=location=/lolo,service-name=nginx2,service-port=8080``and then parse this :)

[2020-07-28 19:31] johscheuer commented on #93446
Could you set the `--service-cluster-ip-range=10.233.0.0/18,2508:4002:100b:c500::/108` for the kube-api server this should solve the issue with the IPv4 IP address.

[2020-07-28 19:49] SuxiangYundi commented on #93446
It's work after modifying service-cluster-ip-range value. It's amazing. Can you tell me why `--service-cluster-ip-range=10.233.0.0/18,2508:4002:100b:c500::/64` did not work? I  do really not find the difference (hm, i rarely use ipv6 to deploy application) @johscheuer

[2020-07-28 19:57] thockin commented on #93267
I don't have a strong feeling about that, I guess, as long as the CLI
folks are OK with it.

On Tue, Jul 28, 2020 at 12:31 PM Ricardo Katz <notifications@github.com> wrote:

[2020-07-28 20:10] SuxiangYundi commented on #93446
I see the PR  https://github.com/kubernetes/kubernetes/pull/90115#issue-402710816， thanks a lot

[2020-07-28 20:24] fedebongio commented on #93392
/remove-triage needs-information

[2020-07-28 20:27] fedebongio commented on #93399
/assign @jpbetz
/remove-triage needs-information

[2020-07-28 20:29] fedebongio commented on #93400
/cc @liggitt @sttts

[2020-07-28 21:01] liggitt commented on #93392
this one actually did need information :)

[2020-07-28 21:02] Huang-Wei commented on #93500
I'm +1 to see this happen, but Aldo's concern is also legit. @ahg-g would you want to put it into 1.20 items discussion?

[2020-07-28 21:25] benmoss opened #93512 "API machinery error predicates don't work with wrapping"
**What would you like to be added**:
The error predicates in https://github.com/kubernetes/apimachinery/blob/master/pkg/api/errors/errors.go (IsNotFound, IsAlreadyExists, etc) don't work if the error that is passed to them has been wrapped using Go 1.13's error wrapping standard.

If we used errors.As (https://golang.org/pkg/errors/#As) we could unwrap user error types to find the underlying Statu

[2020-07-28 21:26] benmoss commented on #93512
/sig api-machinery

[2020-07-28 21:44] komuw commented on #66321
Watch out bot , dims is coming for you.

[2020-07-28 22:09] manderson23 commented on #78759
/remove-lifecycle stale

[2020-07-28 22:21] mazzystr opened #93513 "minikube addon kubevirt fails to deploy"
**What happened**:
* Deploy minikube
` minikube start --driver=podman --container-runtime=cri-o`
* Deploy kubevirt addon
`minikube addons enable kubevirt`
* kubevirt addon fails to deploy

**What you expected to happen**:
I expect kubevirt addon to deploy correctly

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
[code]

It appears `-n kube-sy

[2020-07-28 22:25] liggitt commented on #93513
If this is an image with the kubevirt image, should this be opened against https://github.com/kubevirt/kubevirt instead?

[2020-07-28 22:37] msau42 commented on #93090
@kubernetes/sig-storage-bugs

[2020-07-28 22:37] msau42 commented on #92145
@kubernetes/sig-storage-bugs

[2020-07-28 22:39] mazzystr commented on #93513
@liggitt I'm happy to create an issue against that repo

[2020-07-28 23:05] dims commented on #66321
/reopen

LOL @komuw

[2020-07-28 23:05] dims commented on #66321
/remove-lifecycle rotten

[2020-07-28 23:07] dims commented on #66321
/lifecycle frozen

[2020-07-28 23:16] ahg-g commented on #93500
will do, though not sure when 1.20 will start...

[2020-07-28 23:19] t0rr3sp3dr0 opened #93514 "K8s creates too many Security Groups for NLB Health Check"
**What happened**:
For each NLB created, K8s creates an ingress rule on the node group's security group for each port exposed for each CIDR attached to the VPC to allow health checks to succeed.

AWS limits the number of rules per security group to 60 by default. This quota is adjustable but multiplied by the quota for security groups per network interface cannot exceed 1000.
https://docs.aws.amaz

[2020-07-28 23:25] johnbelamaric commented on #91640
/close

[2020-07-28 23:25] #91640 closed

[2020-07-28 23:31] #90923 closed

[2020-07-28 23:43] t0rr3sp3dr0 commented on #93514
/sig cloud-provider

[2020-07-29 01:21] Huang-Wei commented on #93505
This sequence is incorrect:

- `pod6`'s status update (unschedulable status) and nominatedNodeName update is merged into one patch request
- I guess you meant `pod1'` - `pod1` should have already been deleted.

If `pod1'` is able to be scheduled, it for sure can co-exist with `pod6`; otherwise, it won't be scheduled. So I don't quite think step9 and step11 can happen at the same time.

[2020-07-29 01:28] robscott commented on #93374
I've created a draft PR that contains my initial progress towards the approach I described above. I don't particularly love this approach so I'm very open to other ways we could solve this issue. It's also still very much a WIP and has significant work remaining. I opened the PR early just so I could get some initial feedback on the direction and potentially inspire other ideas around approaches w

[2020-07-29 01:36] robscott commented on #88967
Agreed that we should not introduce a global rate-limiting approach to solve that issue. This issue just seemed related because it's discussing the increased load on API Server and limiting the frequency of EndpointSlice updates. I think the solution to #93374 will end up helping with both of those. Assuming we can find a reliable way to wait for the informer cache to be up to date for a Service b

[2020-07-29 01:40] msau42 commented on #85623
/assign @mattcary

[2020-07-29 01:42] soulxu commented on #91601
@maelk, do you mean this test ignore the 'node-5'?

I found after fixed the append in https://github.com/kubernetes/kubernetes/pull/93516, the test result all the nodes can be iterated:

[code]
The node-5, 6, 7, 8, 3 can be iterated.

Forgive me if misunderstand something here.

[2020-07-29 01:56] rikatz commented on #93267
I've spoken with some other folks about this, and got a good point that this should not be implemented in favor of service-apis.

Basically the questioning is that should we really put some effort here to migrate later to service-api? This could lead to some difficult when migrating to service-api

Honestly I'm divided between "we should try" and "nah, this would really wait until service-api gets

[2020-07-29 02:16] alejandrox1 commented on #81245
Coming back to this issue.
Following the discussion with the rest of sig testing, we should work on defining a design for the e2e framework before proceeding with this - there are some tricky instances in which if we remove subpackage dependencies from the e2e framework we will be removing non-trivial functionality for users.
Have a "design" doc going on in https://docs.google.com/document/d/1ASPc

[2020-07-29 02:25] #90913 closed

[2020-07-29 02:26] #93362 closed

[2020-07-29 02:37] npu21 opened #93522 "kubevirt virt-launcher pod stuck using multus calico"
**What happened**:
[code]
**What you expected to happen**:
virt-launcher running
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubelet.log
[code]
**Environment**:
- Kubernetes version (use `kubectl version`):
v1.14.3
- Network plugin and version (if this is a network-related bug):
Client Version:    v3.8.0
Git commit:        c84e9f21
Cluster

[2020-07-29 02:41] neolit123 commented on #93386
make sure that this flag actually reaches the kubelet binary. this can be checked if you look at the kubelet logs.
given you are using docker, --pod-infra-container-image should be the only option you set. for e.g. containerd you would have to edit the container runtime config.toml file.

[2020-07-29 03:31] soulxu commented on #93505
Emm....I think the pod1 won't be successful for scheduling since the nominatedPod is added to the node's snapshot at https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/core/generic_scheduler.go#L469, so the resource is already taken by pod6 in the node's snapshot.

[2020-07-29 03:37] npu21 commented on #93522
sig/network

[2020-07-29 03:44] justaugustus commented on #93309
This should be fixed in https://github.com/kubernetes-sigs/cluster-api-provider-gcp/pull/308.

[2020-07-29 04:01] justaugustus commented on #93309
Opened accompanying PRs for other Cluster API variants:
- capz: https://github.com/kubernetes-sigs/cluster-api-provider-azure/pull/845
- capa: https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1845

[2020-07-29 04:02] hasheddan commented on #93309
Thanks @justaugustus!

[2020-07-29 05:29] trondhindenes commented on #52906
I noticed the same, and discovered that nodes were missing the `ec2:DetachVolume` permission. It seems to me that there's missing verification logic since the kubelet logs `UnmountDevice succeeded for volume` while that operation at doesn't necessarily completely succeed.

[2020-07-29 05:49] chendave commented on #93505
okay, it's fine, why the step6 and step7 got passed even with the below snippet of code is simply because, the pods manged by `replication controller` doesn't have `topologySpreadConstraints` defined, and `pod1'` will pass on either of the nodes,

https://github.com/kubernetes/kubernetes/blob/aec30be5b3341d0937dc12e1d973cacb3714560e/pkg/scheduler/core/generic_scheduler.go#L469

After the `pod1'` g

[2020-07-29 06:01] chendave commented on #93505
my personal preference is fix the issue with the solution1 and the evaluate the solution2,
solution2 should be a feature anyway, since even without this issue the topology balance could be easily broken later by any of the pod without the `topologySpreadConstraints`.

[2020-07-29 06:11] soulxu commented on #93505
oops, sorry, I talk about the same thing ahg-g already talked.

[2020-07-29 06:18] #82523 closed

[2020-07-29 06:33] johscheuer commented on #93509
@aojea might know more but I would assume that this behaviour might be intended as a step forward to DualStack as a Beta feature (should be enabled per default) but I might be wrong. I think until https://github.com/kubernetes/kubernetes/pull/91824 is merged we should validate that the IP family matches to prevent misconfiguration and unexpected behaviour.

[2020-07-29 06:36] jsafrane commented on #93090
cc @gnufied @bertinatto @leakingtapan @wongma7 - AWS plugin should be idempotent and resume where the old A/D controller finished...

[2020-07-29 06:39] johscheuer commented on #93446
I assume that we can close this issue? Just for the record I opened another issue to add a check for the IP family to prevent such an unexpected behaviour.

/remove-triage unresolved
/close

[2020-07-29 06:40] #93446 closed

[2020-07-29 06:46] rhuss commented on #82942
I see the the `x-` based extensions more as annotations describing some meta-data which can be evaluated but also just ignored. Assuming that builtin schemas are not using those (or only in a limited fashion) I see the possibility of a conflict only for name clashes. This could be prevented by establishing a naming convention for those annotations, like adding a specific and unique prefix as first

[2020-07-29 06:48] SpiderYang opened #93524 "kubelet service can not work. exit code=255."
I've followed the Kubernetes documentation step by step and Bootstrapping clusters with kubeadm.but when finish install, the kubelet service can not work well.  when starting the kubelet service ,there's always the same error occured here:
[code]
my system info：
[code]
docker info:
[code]
the  kubelet service log :
[code]

I've searched a lot but nothing works for me. wish anybody could he me .

/

[2020-07-29 06:55] neolit123 commented on #93524
related to https://github.com/kubernetes/kubernetes/issues/61474 ?

seems to be a distro / systemd level problem.
what Linux distribution are you running and what is the systemd version?

/triage support
/sig node

[2020-07-29 06:55] gasxia commented on #89007
/remove-lifecycle rotten

[2020-07-29 06:58] neolit123 commented on #93522
this is an unsupported kubernetes version, please upgrade to 1.17 (as 1.16 is going out of support soon)

ideally the kubevirt project should triage this:
https://github.com/kubevirt/kubevirt

if you confirm that:
- this is still a problem in k8s 1.16 / 1.17
- a k8s bug and not a kubevirt bug
please reopen this ticket.

thanks
/close

[2020-07-29 06:58] #93522 closed

[2020-07-29 06:58] neolit123 commented on #93513
/close

[2020-07-29 06:58] #93513 closed

[2020-07-29 07:01] neolit123 commented on #93422
/triage support
/sig cloud-provider
/area provider/gcp

[2020-07-29 07:01] SpiderYang commented on #93524
systemd version:
systemd 219

Linux distribution:
CentOS Linux release 7.3.1611 (Core)

[2020-07-29 07:03] miaowing commented on #87235
same issue

[2020-07-29 07:15] JensErat commented on #89776
/remove-lifecycle stale

[2020-07-29 07:16] miaowing commented on #87235
https://github.com/kubernetes-sigs/aws-ebs-csi-driver/issues/399#issuecomment-628843386

[2020-07-29 07:27] maelk commented on #91601
yes, it was on purpose, based on what was there, but I can see how this can be cryptic, so better make it so that the append is behaving in a clearer way. Thanks for the patch.

[2020-07-29 07:29] SuxiangYundi commented on #93446
@johscheuer Command `kubectl get nodes node1 -o go-template --template='{{range .spec.podCIDRs}}{{printf "%s\n" .}}{{end}}'` still only show ipv4 cidr. The issue is not solved.

[2020-07-29 07:30] SuxiangYundi commented on #93446
/triage unresolved

[2020-07-29 08:13] aojea opened #93525 "Failing Test [sig-network] NoSNAT [Feature:NoSNAT] [Slow] Should be able to send traffic between Pods without SNAT"
**What would you like to be added**:

The test currently only works on Cloud Providers or environments that set the External IP on nodes, because it is using the framework directly to check the IPs of the pods, using a no-snat-test-proxy to check if the Pods are not using SNAT.

However, this can be simplified, removing the no-snat-test-proxy Pod and executing the queries directly in a Pod.

**Why

[2020-07-29 08:14] aojea commented on #93525
/sig network
/help wanted
/failing test

[2020-07-29 08:15] aojea commented on #93525
/remote kind-feature
/kind failing-test

[2020-07-29 08:16] aojea commented on #93525
/help

[2020-07-29 08:17] aojea commented on #93525
/remove kind-feature

[2020-07-29 08:31] johscheuer commented on #93446
This is a known issue: https://github.com/kubernetes/kubernetes/issues/91940

[2020-07-29 08:36] Eros11on opened #93526 "k8s Kubeflow Deployment with kfctl_k8s_istio Segmentation fault"
I'v followed the Kubeflow Deployment with kfctl_k8s_istio official documention(https://www.kubeflow.org/docs/started/k8s/kfctl-k8s-istio/#provisioning-of-persistent-volumes-in-kubernetes) to deploy kubeflow
when I  typed `kfctl apply -V -f ${CONFIG_URI}`
there is an error `Segmentation fault`
How can i solve this problem ?
Thanks!!

**Environment**:
- Kubernetes version 1.14
- Cloud provider :aliy

[2020-07-29 08:42] aojea opened #93527 "DNS sig-network tests failing on IPv6"
**Which jobs are failing**:

https://k8s-testgrid.appspot.com/sig-network-kind#sig-network-kind,%20IPv6,%20master

**Which test(s) are failing**:

DNS.*

**Anything else we need to know**:

CoreDNS can't contact upstream servers in the CI, because there is no IPv6 connectivity, so we have to configure it to work as in an offline environment. This may have side effects, we should check if this is t

[2020-07-29 08:42] aojea commented on #93527
/sig-network

[2020-07-29 08:46] hmonteiro commented on #93324
I'd like to mention this is starting to trigger alerts in code scans in other organisations that are not yet ready to move to the 1.18.x series. If 1.17.x is still being maintained (as it appears to be), shouldn't all dependent libraries be maintained sane?

[2020-07-29 08:50] johscheuer commented on #93446
/remove-triage unresolved

[2020-07-29 08:53] johscheuer commented on #93446
Ah wait it's the podCIDRs that empty. Cloud you check if calico has some errors in the logs and also could you ensure that the service ip range is the same on all control-plane components (e.g. kube-api-server and kube-controller-manager)?

[2020-07-29 09:09] johscheuer commented on #93509
It seems like the checks are in place for 1.19 (https://github.com/kubernetes/kubernetes/blob/release-1.19/pkg/apis/core/validation/conditional_validation.go) but not for 1.18 (https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/apis/core/validation/conditional_validation.go)

[2020-07-29 09:24] aojea commented on #93509
That was my initial thought too, but @smarterclayton explained it here https://github.com/kubernetes/kubernetes/pull/86895#issuecomment-571726010

I think that @danwinship fixed all the validations problems with
https://github.com/kubernetes/kubernetes/pull/91400

so @johscheuer are you asking for backporting Dan's validation fixes to 1.18?

[2020-07-29 10:06] knight42 commented on #93525
I would like to investigate this problem.
/assign

[2020-07-29 10:26] Cweiping commented on #93462
@liupeng0518 Is there more detailed information to reproduce the problem?

[2020-07-29 10:41] Cweiping commented on #93097
@zhb127  Whether it can be reproduced stably？try to improve the log level > 3 of kubelet to get the runtime information

[2020-07-29 10:42] aojea commented on #93527
/assign
/remove-triage unresolved

[2020-07-29 10:47] dmitrievav commented on #88574
I am having the same issue with single node ETCD:

[code]

Here is directory tree:

[code]

and etcd manifest:

[code]

[2020-07-29 11:14] uablrek commented on #93337
Sorry for the late reply. I commented and got assigned during my vacation. Anyway...

I made a local test;
* Connect through a service
* Trace in the client pod with `tcpdump`
* Remove the conntrack entry on the client node with `conntrack -D --dst <clusterIP>`

I can confirm that the symptoms are consistent with what you are seeing, NAT does not work and packets appear in the client POD with the

[2020-07-29 11:23] RobertKielty opened #93530 "verify-master needs to be broken up"
verify-master as a job needs to be broken up in to more specific verification checks

As verify-master runs multiple verification steps it has bucket list smell that results in
- unwieldy log output
- difficulty in assigning ownership of flake or failure
- an overall runtime of[ over an hour](https://testgrid.k8s.io/sig-release-master-blocking#verify-master&graph-metrics=test-duration-minutes)

So

[2020-07-29 11:37] Ottovsky commented on #89007
Seems to be related to https://github.com/kubernetes/kubernetes/issues/72593

[2020-07-29 12:04] TBBle commented on #57250
The annotations needed for option 3 should land in k8s 1.20. #92556 has been approved, but appears to be waiting for the 1.19 release to be completed.

[2020-07-29 12:09] wojtek-t opened #93531 "Trace library seem to incorrect print start_time"
While debugging scalability tests, I discovered that there seem to be some problem with tracing library.

Taking this as an example run:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/1287819459200815104

and grepping for all Trace entires, all seem to have start_time where seconds are always set to 0.
i.e. the start time is always"

`27-Jul-2020 XX:XX:0

[2020-07-29 12:10] wojtek-t commented on #93531
This is the relevant code:
https://github.com/kubernetes/utils/blob/master/trace/trace.go#L200

I don't know what is wrong with it...

[2020-07-29 12:16] wojtek-t commented on #93531
Woow - I played with it and it seems that you can't set seconds to "00"

https://play.golang.org/p/lvytu4tYb_7

This is so freaking unexpected (given that 000 as milliseconds works fine).

[2020-07-29 12:27] dims commented on #93531
Crazy!

[2020-07-29 12:37] rikatz commented on #93526
Hello,

Can you please open this issue into kubeflow kfctl repository? https://github.com/kubeflow/kfctl

This is not related to Kubernetes, but with the command line.

I'm closing this, please feel free to reopen if you think this should be dealed here.

Thank you

[2020-07-29 12:37] rikatz commented on #93526
/close

[2020-07-29 12:37] #93526 closed

[2020-07-29 12:51] rikatz commented on #93489
Hello,

This is because those components ([calico-node](https://docs.projectcalico.org/manifests/calico.yaml), etc) are deployed with ``hostNetwork: true`` and this way, the components are assigned to the real node IP (you can see this is the same value as your eth0) and not a Pod Address.

Please take a look in https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#podspec-v1-core f

[2020-07-29 12:51] #93489 closed

[2020-07-29 12:57] rikatz commented on #91809
@Khamphai friendly ping :)

I'll close this issue in 7 days if there's no answer, as this is going to became stale due to lack of answer :)

Thank you!

/triage needs-information

[2020-07-29 12:58] rikatz commented on #91331
@wk60807430 ping

[2020-07-29 12:59] rikatz commented on #90661
@leexiaominghub due to lack of information I'm closing this issue. Please feel free to reopen and mark me if you have any further problem or evidence on this!

Thank you!!

/close

[2020-07-29 12:59] #90661 closed

[2020-07-29 13:21] hasheddan opened #93532 "typecheck uses exorbitant amounts of memory"
**Background**:

We recently introduced Guaranteed Pod QOS on jobs running in `k8s-infra-prow-build` GCP project (https://github.com/kubernetes/test-infra/pull/18471). Introducing limits on jobs naturally started causing some failures, one of which was `verify-master` ([testgrid](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)). The original memory limit of `46Gi` caused the pod

[2020-07-29 13:22] RobertKielty commented on #93530
**Related comment**
https://github.com/kubernetes/kubernetes/issues/87807#issuecomment-662532855
**Related Issues** (harvested by searching the jobs referenced in @liggitt 's comment above)

 ...

[2020-07-29 13:26] wojtek-t commented on #93531
I opened https://github.com/kubernetes/utils/pull/182 in utils repo.

[2020-07-29 13:39] nickperry opened #93533 "CoreDNS does not tolerate node.cloudprovider.kubernetes.io/uninitialized"
**What happened**:

Clusters built with an external cloud-provider which needs to resolve DNS before it can remove the node.cloudprovider.kubernetes.io/uninitialized taints from nodes, get stuck in a catch-22 state.

CoreDNS cannot start because it does not tolerate node.cloudprovider.kubernetes.io/uninitialized: true...

[code]

I am using https://github.com/kubernetes/cloud-provider-vsphere as m

[2020-07-29 13:44] nickperry commented on #93533
/sig cloud-provider
/sig cluster-lifecycle

[2020-07-29 13:49] liggitt commented on #93509
I would not expect such a large fix to be backported for an alpha feature

[2020-07-29 14:00] harshanarayana commented on #90485
/remove-lifecycle stale

I am still running into this every now and then and if someone can suggest a way around this, I would really appreciate it.

[2020-07-29 14:04] benmoss commented on #93512
Nevermind! This was fixed in #88629

[2020-07-29 14:04] #93512 closed

[2020-07-29 14:28] alculquicondor commented on #93505
The proper way of implementing this is to make the preempted pod deletions after the preemptor has entered the unschedulable queue. Maybe even make those deletions asynchronous.

[2020-07-29 14:35] hasheddan commented on #92468
Noticed this again today (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew/1288434386735206402)

[code]

/milestone v1.20

[2020-07-29 14:46] chendave commented on #93505
This might not enough, cause the patching of the preemptor pod will be done shortly after the preemptor entered the `unschedulable Q`, which will trigger the movement from the `unschedulable Q` to `active Q` but this is done asynchronously in another routine, only make make the preempted pod deletions after the preemptor will still give a chance for the preempted pod enter the `active Q` before th

[2020-07-29 14:51] hasheddan opened #93536 "[Flaky Test] [sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should support multiple TLS certs"
**Which jobs are flaking**:

`gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)`

**Which test(s) are flaking**:

`[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should support multiple TLS certs`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal @k

[2020-07-29 14:59] salanki commented on #75262
I can confirm that https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 solves the issue for me.

[2020-07-29 14:59] salanki commented on #93456
Patching kube-proxy with https://github.com/kubernetes/kubernetes/issues/75262#issuecomment-495184187 solves this issue.

[2020-07-29 15:17] alculquicondor commented on #93505
You only want the preemptor pod to enter the activeQ when the preempted pods are actually deleted. If you do it before, because of all the different routines, we might try to schedule the pod again, which will fail and put it again in the unschedulable queue.

Unless I'm not understanding your point.

[2020-07-29 15:19] alculquicondor commented on #93505
Putting a pod in the unschedulable queue is synchronous. You just need to make sure the pod is there before any pod deletion events arrive.

[2020-07-29 15:20] bcanozter opened #93538 "podAntiAffinity ignored when rollout restart"
**What happened**:

I have 2 nodes, master and worker. I wanted to run pods from replicas on each node i.e don't want to schedule two pods on same node.

When I deploy `kubectl apply -f mydeployment.yaml` , it schedules pods to different nodes which is fine.

Then I execute `rollout restart deployment mydeployment` and pod scheduling is randomized. Two pods are sometimes on the same node.

podAnti

[2020-07-29 15:22] bcanozter commented on #93538
/sig scheduling

[2020-07-29 15:33] johscheuer commented on #93509
I think a backport would be nice but I share the concerns with liggitt. Actually I didn't thought that he validation is already in place after I added two additional test cases locally it was more clear for me that we also catch this case in 1.19.

Thanks for the help.

[2020-07-29 15:33] #93509 closed

[2020-07-29 15:34] johanfleury commented on #90311
/remove-lifecycle stale

[2020-07-29 15:40] nickperry commented on #93533
/sig vmware

[2020-07-29 15:47] thebsdbox commented on #93533
I think @frapposelli may be able to hopefully point you in the right direction around the cloud-provider, if not I'd try asking in `provider-vsphere` on the Kubernetes slack?

[2020-07-29 16:02] johscheuer commented on #93446
I think I found the problem, could you verify this:

[code]

I would assume that there are some errors/warnings in the controller manager since `cluster-cidr` == `node-cidr-mask-size-ipv6` so only one subnet can be allocated (probably your master)

[2020-07-29 16:09] #93309 closed

[2020-07-29 16:10] esohakh commented on #50446
What is the fix for this issue? We are facing this issue and cloud provider is not willing to implement service tokens

[2020-07-29 16:19] thockin commented on #93267
Ingress just went v1.  That API will be with us for a very long time.  I
don't think we should shy away from making it more useful, but I also don't
think we should spend an *enormous* effort on it.

On Tue, Jul 28, 2020 at 6:57 PM Ricardo Katz <notifications@github.com>
wrote:

[2020-07-29 16:33] nickperry commented on #93533
The vSphere CPI chart says "FQDN or IP" for the vcenter host, but, tellingly, https://cloud-provider-vsphere.sigs.k8s.io/cloud_config.html only refers to IPs, not FQDNs for addressing vcenter.

[2020-07-29 16:45] ahmetb commented on #93346
@johnjjung can you explain why this approach is not working for you:

    KUBECONFIG=<(echo "$BASE64VAR" | base64 -d) kubectl get nodes

[2020-07-29 17:33] mazzystr commented on #93513
@liggitt  @neolit123 It looks like this isn't an issue with the kubevirt image after all...

`configmap/coredns` ships with a config `forward . /etc/resolv.conf`.  Image k8s.gcr.io/coredns:1.6.7 isn't properly populating it's `/etc/resolv.conf` correctly.  As soon as I set `forward . 192.168.0.1` and rollout restart the correct settings are applied.  dns within the cluster works correctly.  The mi

[2020-07-29 17:38] lknaubkonrad commented on #83392
I was able to successfully expand/decrease storage capacity for PVC by doing the following on a PostgreSQL pod:
kubectl patch statefulset <> -n <>  -p '{"spec":{"replicas":0}}'
kubectl delete pvc -n <> <pvc name>
kubectl edit pv <pv name> - update the capacity/storage
kubectl apply -f <pvc>.yaml
kubectl patch statefulset <> -n <>  -p '{"spec":{"replicas":1}}'

[2020-07-29 17:42] neolit123 commented on #93513
then should we consider this a coredns issue?
cc @chrisohaver @rajansandeep

[2020-07-29 17:48] chrisohaver commented on #93513
CoreDNS doesn't populate its `/etc/resolv.conf`,  kubelet does that.

However, if `/etc/resolv.conf` has two or more name servers in it, [this bug](https://github.com/coredns/coredns/issues/3900) affecting 1.6.7 causes only the first server to be used.  It's fixed in 1.7.0.

[2020-07-29 18:07] hkamel opened #93542 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

Jul 29 12:26:11.957: Failed to find expected endpoints:
Tries 130
Command echo hostName | nc -w 1 -u 104.196.67.66 30669
retrieved map[netserver-8:{}]
expected map[]

**Anything else we need to know**:
/sig network
/sig testing
/cc @kubernetes/ci-signal
/pr

[2020-07-29 18:19] mattfenwick commented on #91236
I made another attempt to reproduce these failures locally on KinD, but still no success.

Here's what I did:

 - create a KinD cluster [with Calico as the CNI](https://github.com/jayunit100/k8sprototypes/blob/master/kind/kind-local-up.sh)
 - [run the test 1000 times in a loop](https://github.com/kubernetes/kubernetes/pull/93452)
 - run two instances of sonobuoy at the same time

This took ~4 hour

[2020-07-29 19:00] nagstaku commented on #68211
Happened for me again today with k8s 1.17

[2020-07-29 19:37] mazzystr commented on #93513
dnsmasq on my network does provide two nameservers.... 192.168.0.1 and 1.1.1.1.  I have no idea what lands into coredns /etc/resolv.conf.  user tools like `ls` and `dig` aren't available in the image.

[2020-07-29 19:43] chrisohaver commented on #93513
CoreDNS uses dns policy "default", so kubelet gives it the `/etc/resolv.conf` of the host node (by default, but kubelet can be configured use a different resolv.conf).

[2020-07-29 19:48] hasheddan commented on #93542
/remove-sig testing

[2020-07-29 19:51] sethev opened #93545 "Error assigning spec.podCIDR to nodes"
**What happened**:
kube-controller-manager got into a state where it was not assigning a value to `spec.podCIDR` on newly added nodes. This occurred during an upgrade from 1.15 to 1.16.

**What you expected to happen**:
Expected behavior would be that kube-controller-manager assigned a podCIDR

**How to reproduce it (as minimally and precisely as possible)**:
We have been unable to systematically

[2020-07-29 19:55] sethev commented on #93545
/sig network

[2020-07-29 20:44] patricklundquist opened #93547 "NodeResourcesLeastAllocatable as score plugin"
**What would you like to be added**:
Scheduling plugin "NodeResourcesLeast**Allocatable**" is a score plugin that favors nodes with fewer allocatable resources. Note that this is not the same as NodeResourcesLeast**Allocated**.

**Why is this needed**:
Our clusters consist of nodes with large differences in allocatable resources, and our services consist of pods with large differences in requested

[2020-07-29 21:12] brianpursley commented on #92734
Since it's been a few weeks, I wanted to provide an update on this.

I'm still waiting to confirm this is resolved by https://github.com/kubernetes/kubernetes/pull/92972. It looks like it is still running the old tests not marked as `[Deprecated]`.

Since 1.17.9 was released 14 days ago, and k8s-ci-robot only merged the PR 13 days ago, I'm guessing we need to wait until there is a 1.17.10 to see i

[2020-07-29 21:48] Huang-Wei commented on #93547
@patricklundquist Thanks for the idea.

This is a good supplement to existing `NodeResourcesLeastAllocated` and `NodeResourcesMostAllocated` IMO. Here is an example I can think of:

Suppose there are 3 nodes with memory occupied/capacity as `10/2000`, `15/20` and `20/100`, and there comes a Pod requesting 5 units of memory, the preferred node for each Score plugin would be:

- NodeResourcesLeastAl

[2020-07-29 22:15] alculquicondor commented on #93547
Have you tried using NodeResourcesMostAllocated? I feel like it should be enough to cover your usecase.

[2020-07-29 22:19] alculquicondor commented on #93547
Actually, it might not be, given that NodeResourcesMostAllocated only takes into account percentages. Perhaps we can just have a tuning parameter "absolute/relative" for the existing plugins.

But the problem with this is that we need to know what's the global maximum.

[2020-07-29 22:34] nickperry commented on #75380
@akumria @edgan

I think the limit should be 253.

"Section 2.3.4. Size limits" of https://tools.ietf.org/html/rfc1035 defines the limit of a DNS name as 255 octets. This shakes out to 253 characters in standard ASCII representation.

Our company would really appreciate this limit being raised. We are getting real problems now caused by the current limit.

[2020-07-29 22:56] patricklundquist commented on #93547
@Huang-Wei agreed and thanks for the example. To clarify further, this is not bin packing either. In your example, if there were a 4th node with memory allocated/allocatable of 19/21 and there came a Pod requesting 1 unit of memory, then the preferred nodes for each score plugin in your example would remain the same while the bin packing score plugin (via RequestedToCapacityRatio) would prefer nod

[2020-07-29 23:17] Huang-Wei commented on #93547
True, I missed that. My example wasn't that correct. @patricklundquist could you give a better example to illustrate the difference of existing two plugins?

[2020-07-29 23:23] alculquicondor commented on #93547
My point is that checking for resources left might actually be what you want. If you just want to leave more space for bigger pods, you should be doing bin packing. Otherwise, just checking for the allocatable might be sub-optimal.

[2020-07-29 23:33] damemi commented on #93547
It sounds like bin packing, but with added preference to fill the smallest (or largest) nodes first. So you might want to run something like `NodeResourcesMostAllocated` (to pack the nodes) *with* `NodeResourcesLeastAllocatable` (to prefer the smallest nodes get packed first), is that reasonable? I think comparing the plugins to each other one-by-one won't show much difference, but what about some

[2020-07-29 23:58] Dean-Coakley commented on #93312
/assign

[2020-07-30 00:12] patricklundquist commented on #93547
@damemi, yes, sounds like you get it. A problem with only bin packing is that it doesn't prefer smallest or largest nodes, nor does it stop small pods from going to large nodes which are already partially occupied. So you could end up with small pods scheduled on a large node which blocks subsequent large pods from going to that node.

Here's an example:
Suppose 3 nodes with allocated/allocatable

[2020-07-30 00:20] Huang-Wei commented on #93312
/unassign rakeshreddybandi

[2020-07-30 00:21] Huang-Wei commented on #93312
/remove-good-first-issue

[2020-07-30 00:50] Huang-Wei commented on #93505
I got what @chendave meant. It can happen is b/c, unlike Pod(Anti)Affinity, PodTopologySpread feature is not symmetric.

The idea of control how the preemptor goes into schedulingQ (e.g., ensure it happens before the victims) doesn't seem to be generic enough, and it's error-prone as there are other events/logic going on at the same time.

The preemption is never guaranteed to only preempt one tim

[2020-07-30 01:44] chendave commented on #93505
In my case, it will never got convergent, see the step below, and it is actually result in a deadlock already.

[2020-07-30 01:53] chendave commented on #93505
btw, the deadlock might be broken by the https://github.com/kubernetes/kubernetes/pull/93179 after the second loop,  but will never be broken without any change.

see the code here,
https://github.com/kubernetes/kubernetes/blob/0c642b6ef01071219b9b9e34ad6d89cb9b4b1971/pkg/scheduler/scheduler.go#L351-L357

The preemptor will be stay in `backoffQ` until the expire time is up,
https://github.com/kube

[2020-07-30 01:58] chendave commented on #93505
long term, we can consider to make PodTopologySpread  symmetric, see my second proposal here,

[2020-07-30 02:21] cofyc commented on #81368
latest failures:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1287138465619644420
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1287061710439452674
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1286724218758631424

[2020-07-30 02:22] ahg-g commented on #93547
I agree with Aldo that finding a node with the "Best Fit" (i.e.,  place the pod in the smallest free space available) is a more general approach than looking node size.

As Wei suggested, this can indeed be combined into a single plugin with with two parameters, each with two possible values:

- `Mode` which can be either `WorstFit` or `BestFit`
- `Utilization` which can be the utilization of node

[2020-07-30 02:40] chendave commented on #93505
This is not an issue, since we assume the preemptor is always bound with high priority, and the victim is bound with the low priority, both of those pods are entered in the `activeQ` is not a problem, when scheduler `pop()` a `pod` from the Q, the pod that is out is always the pod with the highest priority.

[2020-07-30 02:46] cofyc commented on #81368
take `https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1287138465619644420` as an example

the test fails b/c `selected-node` is set to PVC `pvc-w-pv-prebound`, which is not expected.

[code]

this may happen when the PV controller fails to bind the PVC `pvc-w-pv-prebound` with `pv-w-prebound` before the scheduler tries to scheduler the pod:

[code]

when the s

[2020-07-30 03:02] cofyc opened #93552 "Volume Binding PV/PVC Assume Cache should be updated before moving pods to active queue"
## Motivation

There is no guarantee in which order different event handlers will be
called. If we use different event handlers, it's possible that PV/PVC
assume cache is updated after pods are moved to active queue and
the scheduler may use stale cache in scheduling.

Example race case:

1. pod go through volume scheduling, fail because of PVCs not bound, the pod will be marked unscheduable
2. PV

[2020-07-30 03:03] cofyc commented on #93552
/priority important-longterm

[2020-07-30 03:14] amitkrperf opened #93553 "Can we introduce the capabilities of adding custom tags similar to [NodeConformance] , [Conformance] ?"
We are using sonobuoy to run conformance test and using the "Conformance" image for running the conformance tests. In order to run selective tests, currently there are two ways ( based on my current understanding) :
1. Use the available test tags like, [NodeConformance] , [Conformance] etc.
2. Use expressions which would be search using regex.

We are building a pipeline which needs to run conform

[2020-07-30 04:46] SpiderYang commented on #93524
another thing, when run the command ` kubeadm init `. there is no container running in  background.

[2020-07-30 05:01] cofyc commented on #81368
as for https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1286724218758631424

the test `TestVolumeProvision/with_CSIStorageCapacity/wait_one_bound,_one_provisioned` fails for the same reason

[code]

when the scheduler volume binder tries to find volumes for PVC `pvc-w-canbind`, its corresponding volume `pv-w-canbind` is not synced to volume binder `PVAssumeCach

[2020-07-30 05:04] cofyc commented on #93552
cc @msau42 @ahg-g @Huang-Wei

[2020-07-30 05:28] patricklundquist commented on #93547
@ahg-g, with your proposed strategy there can be ties between nodes of different sizes. In those cases, there should be a strategy that can break the tie.

Counter example:

Node 1 -- 10/20 ( 1 pod: size 10)
Node 2 -- 90/100 (2 pods: size 50 and 40)

When a pod of size 10 comes, both nodes appear equal by the proposed strategy for any combination of mode and utilization. The proposed strategy migh

[2020-07-30 05:33] cofyc commented on #81368
I think the root cause is that the scheduler fails to find matching PVs in PV Assume Cache for the PVC because the PV in the Assume Cache is not in Available state or does not exist due to event delay.

We should wait for the PV/PVC Assume Cache to be up to date before scheduling the pod. However, it's not possible in integration tests. I think we can wait for the PV to be available or bound. This

[2020-07-30 06:10] KevinWang15 commented on #53644
Just wondering, why don't we calculate the container hash by

since container image is the only mutable field?

I know we have to do some refactoring to `HashContainer(container *v1.Container)`, but wouldn't it be more reliable?

[2020-07-30 06:16] Lavie526 opened #93556 "Failed to pull image x509: certificate signed by unknown authority while create deloyment using kubectl apply -f"
**What happened**:
After I use kubectl apply -f test.yml, the deployment get created successfully, however the pod status is always :
NAME                                READY   STATUS             RESTARTS   AGE
dv-deployment-57bf77c9b4-f549q      0/1     ImagePullBackOff   0          19m
dv-deployment-57bf77c9b4-r5kkn      0/1     ImagePullBackOff   0          19m

while using kubectl describ pod

[2020-07-30 06:23] Lavie526 commented on #93556
Any suggestion?

I have tried, if i use below yml, it is able to create pods succesfully.

apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name: nginx-deployment
spec:
  selector:
    matchLabels:
      app: nginx
  replicas: 2 # tells deployment to run 2 pods matching the template
  template:
    metadata:
      labels:
        app: nginx
    spec:

[2020-07-30 06:36] udit249 commented on #93556
I am looking into this issue

[2020-07-30 06:46] udit249 commented on #93556
Before you're pulling the image manually are you using docker login command to login to the private registry?
Can you share the image path as when I am trying to  pull through the mentioned registry I am getting nosuch host.

[2020-07-30 06:48] udit249 commented on #93556
Also when you're trying with nginx image , it is pulling from docker hub direclty that is why it is able to pull the image successfully and started the pod

[2020-07-30 06:48] Lavie526 commented on #93556
no, i don't use log in.

Actually the image: bi.docker.oraclecorp.com/dv/runtime:latest

[2020-07-30 06:58] 86label commented on #36222
If you just want the raw output as it was read in when created --from-file, you can use jq to get the raw string (without escaped newlines etc)
If you created a configmap from a file like this:
`kubectl create configmap myconfigmap --from-file mydata.txt`

Get the data:
`kubectl get cm myconfigmap -o json | jq '.data."mydata.txt""' -r`

@akunaatrium

[2020-07-30 06:58] neolit123 commented on #93533
the kubeadm coredns deployment tollerations are defined here:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/dns/manifests.go#L238-L242

@nickperry did you confirm that if you patch the coredns deployment (via kubectl edit / patch) to tollerate `node.cloudprovider.kubernetes.io/uninitialized` the problem is solved?
@rajansandeep @andrewsykim do you think we shou

[2020-07-30 07:01] neolit123 commented on #93524
ideally sig-node folks should provide feedback on this problem.

not sure what you mean by that. could you elaborate?

[2020-07-30 07:01] udit249 commented on #93556
If you are able to manually pull the image , create an image pull secret using below command :
kubectl create secret docker-registry regcred --docker-server=<your-registry-server> --docker-username=<username> --docker-password=<pwd> --docker-email=<your-email>

After creating secret , please add the secret in deployment inside the pod template spec.
for ref:
spec:
  containers:
  - name: private-r

[2020-07-30 07:08] SpiderYang commented on #93524
Ye,  i;m able to run docker container and i've test using k8s image to run container,everything works .
kubeadm init process must run docker container in backgroud ,so that the kubeadm check process could be work fine. But no container running backgroud.

I've change the distribution to `  CentOS Linux release 7.4.1708`  . In this versoin ,everything works fine.

[2020-07-30 07:16] BenTheElder commented on #93553
@spiffxp @johnbelamaric
/sig testing

[2020-07-30 07:20] BenTheElder commented on #93506
Looks fixed?

[2020-07-30 07:22] knight42 commented on #93525
@aojea I have filed #93557 , how could I verify if my patch fixes the problem?

[2020-07-30 07:32] wojtek-t commented on #93506
Yeah - last run didn't OOM, so I think we can close this one.

[2020-07-30 07:35] Lavie526 commented on #93556
what's the username/pwd/server should I input when call kubectl create secret?

[2020-07-30 07:40] neolit123 commented on #93524
kubeadm itself does not run any containers. kubeadm starts the kubelet that starts containers.

[2020-07-30 07:44] neolit123 commented on #93524
so it's a distro problem, as suspected. i don't think there is much we can do on the kubelet side here, but leaving the decisions to kubelet maintainers.

[2020-07-30 07:49] udit249 commented on #93556
for login to a private registry there are credentials used, so that you need to put there and the server would be your registry name.

Finally, you may have to define the certificate to docker by creating a new directory in /etc/docker/certs.d containing the certificates as explained : https://docs.docker.com/engine/security/certificates/

[2020-07-30 07:49] desaintmartin commented on #90634
Up?

[2020-07-30 07:50] georgettica opened #93559 "job fails before the `.spec.backoffLimit`"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
$oc create job -f job.yaml
$ oc get job jobname -ojson | jq .status
{
  "active": 1,
  "failed": 1,
  "startTime": "2020-07-30T06:45:37Z"
}
{
  "active": 1,
  "failed": 2,
  "startTime": "2020-07-30T06:45:37Z"
}
{
  "active": 1,
  "failed": 3,
  "startTime": "2020-07-30T06:45:37Z

[2020-07-30 07:50] zhb127 commented on #93097
![image](https://user-images.githubusercontent.com/5210208/88896385-57db7800-d27c-11ea-8481-36bba8b5ec8c.png)

[2020-07-30 07:51] georgettica commented on #93559
/sig apps

[2020-07-30 07:51] georgettica commented on #93559
not sure but that is the best I can think of at this time

[2020-07-30 08:06] Lavie526 commented on #93556
However, i am in my local repository. Why it is not able to get the local image?

[2020-07-30 08:20] soulxu commented on #93505
Emm...I still didn't get that. I guess you mean the pod6 has topologyspreadconstraint whose labelselector matches the pod1, and that is broken by pod1 if it is running. At least pod1 won't be on node1 since no resources. So the topology balance is broken after pod1 running on node2? May I ask what the topology spread constraint pod6 has?

[2020-07-30 08:25] lomniczi opened #93560 "Worker node stops sending node status, even if API server is available"
**
We have a Kubernetes cluster with one master and two worker nodes on VMs.
Almost every morning I face this issue:

[code]

One of the worker nodes (not always the same one)  stops sending node status to the API server during the night (typically around 23:00. We have a VM level backup process during the night, which might cause unstable network and heavy load on the nodes. We need to change the

[2020-07-30 08:29] udit249 commented on #93556
Change imagePullPolicy to IfNotPresent and try.
If that doesn't work change the image tag from latest to other version tag as when we define the image tag as latest, the imagePullPolicy is set to be Always implicitly.

[2020-07-30 08:33] chendave commented on #93505
pod6 has the `topologyspreadconstraint` which both node1 and node2 cannot stratify, this is why the preemption happens, but `pod1'` doesn't enforce the `topologyspreadconstraint` so that both node1 or node2 is able to schedule even combine with pod6, pls note pod6 here is not actually scheduled, it just has the `nominated node` associated.

So that the issue will happen as long as the `pod1` enter

[2020-07-30 08:38] justaugustus opened #93561 "[SIG Release, SIG Testing] "Extract" phase is failing for multiple jobs using the ci/latest-fast version marker"
**Which jobs are failing**:

`master-blocking` jobs:

- ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew-serial
- ci-kubernetes-gce-conformance-latest
- ci-kubernetes-e2e-gci-gce
- ci-kubernetes-e2e-ubuntu-gce-containerd
- ci-kubernetes-e2e-gci-gce-alpha-features
- ci-kubernetes-e2e-gci-gce-reboot
- ci-kubernetes-e2e-gce-device-plugin-gpu
- ci-kubernetes-e2e-gci-gce-ingress
- ci-kubernetes-e2e-gc

[2020-07-30 08:51] Lavie526 commented on #93556
It is strange, still not works. I have changed to IfNotPresent, and also not use the latest tag, but still same error.:

Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  67s                default-scheduler  Successfully assigned default/dv-deployment-5f7d6ff56d-rv46h to minikube

[2020-07-30 08:55] bryanhanner commented on #93090
Hi @jsafrane, the issue isn't idempotency as much as synchronization between k8s and AWS. Specifically, k-c-m can be killed in between a volume attachment and marking the volume attached on the k8s node. This puts the new A/D controller in an error loop because this change you made to fix another bug now blocks the attach from succeeding (even when it's already successfully attached): https://gith

[2020-07-30 09:00] riking commented on #92937
Perhaps there is space for two categories of presubmits: "run on every push" and the new category "run on merge attempts, and also some pushes"

Or change the definition of "postsubmit" to that second one, and the words to something else. Things that only run on trunk could be "hourly" or "daily".

[2020-07-30 09:03] soulxu commented on #93505
Oh, I see, you want to use `topologyspread constraint` to trigger the preemption, not due to the insufficient resource. But if the topologyspread used here, the preemption check the filter https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L543, will it stop pod6 to preempt on those two nodes?

Actually, I stuck at how the `

[2020-07-30 09:15] chendave commented on #93505
no, `pod1'` is running now, and a victim will be selected again for preemption.

[2020-07-30 09:40] uzxmx commented on #56038
@yogeek Don't know how aliyun mirror works, but AWS China should be find to pull images from dockerhub, I'm also using AWS China.

[2020-07-30 09:41] jmp0x0000 commented on #92857
You reference `Type=NodePort` while I am complaining about `Type=LoadBalancer`. I understand that it probably uses the same impl but not 100% clear from the article.
It seems that the concept was build around the scenario when the traffic originates only from externals and keeping access within a cluster out of the scope.

This creates an unnecessary complications for the service users as suddenly

[2020-07-30 09:59] wuminsure commented on #18096
I think it is cool for HDFS volume support for Kubernetes.In our company, hdfs used for the base storage.The hdfs occupy all disk

[2020-07-30 10:00] udit249 commented on #93556
This is quiet strange.
If you want to use image present in local, you can create a local repository on your localhost using:
docker run -d -p 5000:5000 --restart=always --name registry registry:2

After that tag the image with your local registry and push the image in it.
docker tag bi.docker.oraclecorp.com/dv/runtime:1.0.0-20200730004206 localhost:5000/runtime:1.0.0-20200730004206

docker push lo

[2020-07-30 10:03] JukicD-Symflower opened #93563 "Specific message why volume mounts can not be attached"
**What would you like to be added**:
In our cluster volumes fail to be attached giving the error message `Unable to attach or mount volumes: unmounted volumes=[x y z], unattached volumes=[x y z ]: timed out waiting for the condition`
The volume itself is already bound and its directories exist on the host (local-storage)

Some pods get stuck in the pending state because of that and therefore fail

[2020-07-30 10:06] JukicD-Symflower commented on #93563
/sig kind/feature

[2020-07-30 10:07] dominicgunn commented on #92272
Is this still being actively investigated @justaugustus? This is still broken.

[2020-07-30 10:07] gnufied commented on #93090
I do not think that diagnosis is correct. If Leader A - tries to attach Volume X to node N1 and fails to record attachment and then Leader B - tries to attach volume X to node N2, but then since volume is previously attached to N1(even though not recorded), it will throw `DanglingAttachError` - https://github.com/kubernetes/kubernetes/blob/db28b0239a1d09e46507e0b320f0b4ffa1cbc8b6/pkg/volume/util/o

[2020-07-30 10:09] lomniczi commented on #93560
/sig network

[2020-07-30 10:10] nickperry commented on #75380
My colleague pointed out that it's the RFC 5280 X509 Common Field limit of 64 characters that's the problem here. So whilst a node's DNS name could be up to 253 chars, it wouldn't be able to get a valid certificate.

[2020-07-30 10:11] justaugustus commented on #93561
/assign @hasheddan
/unassign

Dan is picking this up, since I'm packing.
Knowledge transfer here: https://kubernetes.slack.com/archives/CN0K3TE2C/p1596103219238000

[2020-07-30 10:11] gianarb commented on #91115
You can also have a look at cluster-api for that. Please feel free to reach out on Slack for this kind of questions.

https://cluster-api.sigs.k8s.io/

I am gonna close this issue for now

/close

[2020-07-30 10:11] #91115 closed

[2020-07-30 10:19] neolit123 commented on #93556
/remove-kind bug
/triage support

[2020-07-30 10:20] neolit123 commented on #93563
/sig storage

[2020-07-30 10:23] justaugustus commented on #90474
From what I remember of brief discussion w/ Dims and Jordan, we essentially opened this issue to document that this is something that we _don't_ want to do.

/close

[2020-07-30 10:23] #90474 closed

[2020-07-30 10:23] zhashuyu commented on #50375
+1

[2020-07-30 10:26] gnufied commented on #93090
Having said that - I do think that - https://github.com/kubernetes/kubernetes/pull/83567 might be problematic. @jsafrane this means that `AttachDisk` is no longer idempotent

[2020-07-30 10:36] bryanhanner commented on #93090
@gnufied N1=N2, so we don't hit the case you describe here.

[2020-07-30 10:38] wjun opened #93565 "topologySpreadConstraints cannot spread pods evenly when whenUnsatisfiable is set to ScheduleAnyway"
/sig scheduling

**What happened**:
I have 3 nodes: 1 master node(with NoSchedule taints) and 2 worker nodes. All of them can be scheduled to run CoreDNS pods(with NoSchedule and CriticalAddonsOnly tolerations). My nodes have two topology keys: zone and hostname. I set two topologySpreadConstraints on these topology keys for the CorDNS deployment, and set 'whenUnsatifiable: ShcedueAnyway' and 'max

[2020-07-30 10:50] yuzp1996 commented on #92602
So if this means we can't use DCT with k8s simply

[2020-07-30 11:01] yuzp1996 commented on #30603
DCT is a very good function for everyone, I think k8s will be more security if it can use this function with DCT

[2020-07-30 11:08] uablrek commented on #92857
Yes, you are right. My info was outdated, sorry. Seems like this is addressed in; https://github.com/kubernetes/kubernetes/issues/93456

[2020-07-30 11:25] agniveshadhikari commented on #93392
As much as I would have liked to dig deeper into this, I had to reset the cluster to prioritize some deliverables that I had. However, I'll need to do a lot more of what I was doing when I got this error in the near future. Will revert if I am able to repro this.

[2020-07-30 11:25] #93392 closed

[2020-07-30 11:37] gnufied commented on #93090
@bryanhanner yes if N1 is same node, we have a problem.  I opened https://github.com/kubernetes/kubernetes/pull/93567 to fix this bug while keeping behaviour @jsafrane wanted.

[2020-07-30 11:46] mrbobbytables commented on #92558
It looks like this is resolved. 👍
I'm going to go ahead and close it out. If there are any further issues, please go ahead and reopen.
Thanks!

/close

[2020-07-30 11:46] #92558 closed

[2020-07-30 11:57] ahg-g commented on #93547
Right, in clusters with high churn, this may not be optimal.

The issue with combining different plugins is that they may pull in different directions, not just act as tie breakers:

Here is an example:
Node 1 -- 30/50 (1 pod: size 10)
Node 2 -- 10/90 (2 pods: size 50 and 40)

The two scoring functions will rank those two nodes differently, and so depending on how each scoring function differentia

[2020-07-30 12:02] gandhirajan commented on #40908
/remove-lifecycle stale

[2020-07-30 12:05] lingsamuel commented on #93560
I encountered a network issue caused by heavy vm load several days ago, raised same error message.
Related issue: #87615

[2020-07-30 12:06] mrbobbytables commented on #92587
I believe this has been resolved now. When viewing the kubeadm or kubelet package, kubernetes-cni is now listed as a dependency and will install
[code]

I'm going to go ahead and close the issue, but if you continue to have problems please reopen it.
Thanks!

/close

[2020-07-30 12:13] hasheddan commented on #93561
/reopen

Not sure we are done here yet

[2020-07-30 12:16] pweil- commented on #89940
Hi @disconnect3d.  The code you point out would run for any pod that passed validation however given the [current state of PSP](https://github.com/kubernetes/enhancements/issues/5#issuecomment-637066475) and the [deprecation policy](https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1635-prevent-permabeta) I would defer to @tallclair on whether anything more should be doc

[2020-07-30 12:21] jkaniuk commented on #91774
/reopen

New flake:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1288444704542691335
[code]

[2020-07-30 12:21] jkaniuk commented on #93542
Duplicate: https://github.com/kubernetes/kubernetes/issues/91774

/close

[2020-07-30 12:21] #93542 closed

[2020-07-30 12:25] chrisohaver commented on #93533
Will the k8s API be available from a node with the `node.cloudprovider.kubernetes.io/uninitialized` taint.  If not, then even if the CoreDNS deployment tolerates the taint, the pods would remain unready.

[2020-07-30 12:35] mrbobbytables commented on #92463
There does still seem to be an issue on centos8 I had the same issue when testing with 1.17.8, 1.18.1, 1.18.3, and 1.18.5
[code]

[2020-07-30 12:57] liggitt commented on #93358
cc @kubernetes/sig-storage-test-failures

/assign @msau42
for routing

[2020-07-30 13:15] liggitt commented on #92937
I think the definitions we have today are fine:
* presubmit = runs on PR commits before merge to master
* postsubmit = runs asynchronously after each merge to master
* periodic = runs on HEAD of master at regular intervals

I'm not in favor of turning some of our required presubmits into serial jobs ... we already have O(hours) approve-to-merge delay, and that would make it worse.

[2020-07-30 13:32] hasheddan commented on #93561
This could definitely be a problem: https://testgrid.k8s.io/sig-release-master-blocking#build-master-fast&graph-metrics=test-duration-minutes

[2020-07-30 13:39] uablrek commented on #93337
I think I can reproduce the fault but I *really* want someone else to confirm this since my test cluster is a bit "odd".

Setup

[code]

* A DaemonSet running continuous traffic trough a service and monitor connection failures.
* A Deployment only used for scaling. This have a service to make sure `kube-proxy` does something when the Deployment is scaled.
* Scale up/down the Deployment and check f

[2020-07-30 13:41] justaugustus commented on #93561
The timeouts in https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-build-fast/128881586978213478?
Resource starvation maybe?

Can you file a separate issue or maybe roll this into the existing one about QOS?
We are writing to the correct location when the job isn't timing, so it's orthogonal to this issue.

[2020-07-30 13:41] liggitt commented on #93531
thanks, do you plan to update k8s.io/utils here?

[2020-07-30 13:42] hasheddan commented on #93561
@justaugustus sure :+1: Also looks like last two runs were now successful. Am I correct that the changes in the PR to match `ci/latest-fast` will not be reflected until kubekins bump happens today?

[2020-07-30 13:48] hasheddan commented on #93561
Noted on https://github.com/kubernetes/test-infra/issues/18530

[2020-07-30 13:54] Walid47 opened #93568 "node-local-dns fails in ipv6 only cluster"
**What happened**:
Deployment of node-local-dns in an ipv6-only cluster fails with the following iptables-related error
[code]
Does node-local-dns support binding to IPv6 addresses? If not, can node-local-dns be used in an ipv6-only cluster?

**What you expected to happen**:
node-local-dns is up and running normally and binding to an ipv6 link-local address

**How to reproduce it (as minimally and

[2020-07-30 13:57] Walid47 commented on #93568
/sig network

[2020-07-30 14:12] alculquicondor commented on #93505
You are considering the case where the preemptee was already recreated and put back into the queue. But what if it was not deleted yet? The question is when do you want to put the preemptor pod back into the active queue.

It seems that your intent is to avoid the backoff, which is something that can't be taken lightly, as it can lead to starvation.

My proposal is that we first make 1 change: do

[2020-07-30 14:15] alculquicondor commented on #93505
Btw, could you share what are the spreading constraints selectors of the preemptor and preemptee?
Are they colliding? If so, I know the API allows it, but it's difficult to come up with a strategy that will 100% solve it.

[2020-07-30 14:29] zaabskr commented on #89898
I am also facing the same issue with AKS 1.16.9. This is occuring consistently. Is there any way to investigate the issue?

[2020-07-30 14:49] #88724 closed

[2020-07-30 14:51] alculquicondor commented on #93547
Not sure if you missed my proposal: To add an absolute vs relative configuration to NodeResourcesMostAllocated. Relative means to use the percentage of occupation. Absolute would mean to compare the remaining resources to an absolute (configurable) maximum.

Note that, when the cluster is empty, this behaves exactly as the new plugin you are proposing. But later, image a big pod A shows up and it

[2020-07-30 14:56] chendave commented on #93505
It's here,
https://github.com/kubernetes/kubernetes/blob/0c642b6ef01071219b9b9e34ad6d89cb9b4b1971/pkg/scheduler/scheduler.go#L351-L358

this is where that the must be called when the preemption happen, and the `patchPod` there will make sure the pod moved from `backoffQ` or `unscheduleQ` to `activeQ`, we just need to have a check there, something like wait until the `preemptor` has been dropped in

[2020-07-30 15:03] alculquicondor commented on #93505
I think that's the wrong approach, as the pod will be retried immediately, before the to-be-preempted pods were deleted. Note that preemption can take an arbitrary long time, as it's ultimately done by kubelet.

[2020-07-30 15:37] liggitt opened #93574 "hack/verify-typecheck-providerless.sh outputs many errors and failure messages but does not fail"
make verify WHAT=typecheck-providerless

outputs

but the overall verify command exits with return code 0

/cc @BenTheElder
/milestone v1.19

[2020-07-30 15:41] 3nueves commented on #74551
Hi everyone!
I have bare-metal kubernetes cluster (v1.18.6 ) with kubeadm and I have the same problem:

[code]
The errors I get from the kubernetes nodes are:
[code]

Does anyone know anything about this topic?

[2020-07-30 15:42] liggitt commented on #93574
see example successful run: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93570/pull-kubernetes-typecheck/1288837133829672961

[2020-07-30 15:46] alculquicondor commented on #93547
The current NodeResourcesMostAllocated plugin only considers percentage of use.

For example, if a node has 10/50 occupied resources, it gets a score of 20 (from 20%). So it gets the same score as another node with 20/100.

My proposal is that you would configure the absolute maximum for the plugin (say 200). Then you score higher the node that has the smallest empty space. So the first one gets (

[2020-07-30 15:47] RobertKielty commented on #93574
For reference - https://github.com/kubernetes/enhancements/blob/master/keps/sig-cloud-provider/20190729-building-without-in-tree-providers.md

[2020-07-30 15:54] howardjohn opened #93575 ""Back-off restarting failed container": log which container failed"
**What would you like to be added**:

The event `Back-off restarting failed container` should become `Back-off restarting failed container <CONTAINER_NAME>`

**Why is this needed**:

Its hard to tell which container failed, you need to dig through the describe output and find something like

[code]

[2020-07-30 15:56] aojea commented on #93525
I run them locally https://github.com/kubernetes-sigs/kind/issues/1181#issuecomment-567001724 with KIND

[2020-07-30 15:56] tpepper commented on #89648
/lifecycle frozen

This is a good goal for us to have as we eventually split out the current repo into repos which are community run and more topical and channelled (eg: nightly, test, release and possibly some concept of "core" and "extras").

A simpler vanity domain/redirector would be useful, especially if the content is sitting in a long url gs bucket type location.

[2020-07-30 15:58] tpepper commented on #89737
/remove-sig release

[2020-07-30 16:02] aojea commented on #91236
that's the problem with these flakes, they are not easy to repro, and with this low rate of failures it may be caused for combination of running tests, environmental problems (cpu, memory, ...) , ... I always start for checking the current failures and try to find patterns
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=conntrack

[2020-07-30 16:05] jaredhancock31 opened #93576 "Loosen ConfigMap Max Size Validation"
**What would you like to be added**:

[Newer versions of etcd expose](https://etcd.io/docs/v3.4.0/dev-guide/limit/) `--max-request-bytes` to bypass the default limit of 1.5MB. Currently apis/core validation rejects anything exceeding 1MB. It would be ideal to loosen validation so that we can take advantage of this.

**Why is this needed**:

ConfigMaps/CRDs may have fields that persist large blobs

[2020-07-30 16:06] ahg-g commented on #93538
Thanks for reporting, do you know if this reproduces on 1.17 or 1.19?

[2020-07-30 16:08] tpepper commented on #87056
adding
/sig architecture
for discussion of entry gating quality requirements (eg: same bucket discussion imo as arm64/linux and illumos(arch?))

[2020-07-30 16:12] jaredhancock31 commented on #93576
/sig api-machinery

[2020-07-30 16:34] caslurjf opened #93578 "Job not running on scheduled time - Kubernetes CronJob"
Cronjobs are not running any job on its scheduled times, the jobs runs only when one or more cronjobs are deleted. Is there some cronjob number limit ? Where to get log messages of this problem?
I have exactly the same environment for development and production working perfectly, this only occurs in testing environment. This problem occurs daily and the workaround that I found was to delete one or

[2020-07-30 16:40] #93532 closed

[2020-07-30 16:42] ddebroy opened #93580 "Investigate removal of call to generatePodSandboxLinuxConfig for Windows kubelet"
**What happened**:
When testing https://github.com/kubernetes/kubernetes/pull/93475, @ravisantoshgudimetla pointed out that invocation of `generatePodSandboxLinuxConfig` is necessary for the Windows pods to come up: https://github.com/kubernetes/kubernetes/pull/93475/files#r463009694 . Skipping the call to `generatePodSandboxLinuxConfig` leads to a CNI error.

**What you expected to happen**:
Wind

[2020-07-30 16:42] ddebroy commented on #93580
/sig windows

[2020-07-30 16:45] ahg-g commented on #93547
Not exactly, the score will depend on the incoming pod request, which we add to the occupied resources before normalizing by allocatable.

This is similar to what was discussed in https://github.com/kubernetes/kubernetes/issues/93547#issuecomment-666043851, which prefers nodes with space that `BestFit` the pod's requested resources based on the formula `100*requested/(allocatable-allocated)`, but

[2020-07-30 16:50] liggitt commented on #93574
fix in #93579

[2020-07-30 16:52] BenTheElder commented on #93574
_screaming_

[2020-07-30 16:57] #92102 closed

[2020-07-30 17:11] liggitt commented on #93560
This seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/87615

[2020-07-30 17:11] #93560 closed

[2020-07-30 18:12] ahg-g commented on #93565
I expect this not to happen in 1.19 because the score function of pod topology spread significantly improved compared to 1.18

/cc @alculquicondor

[2020-07-30 18:32] alculquicondor commented on #93565
If you have access to the scheduler configuration in your cluster, I suggest you increase the weight of the score to at least 5.

[2020-07-30 18:33] trishankatdatadog commented on #30603
I understand that the pandemic has thrown a wrench into everything, but I'd be happy to see at least a GPG signature.

[2020-07-30 18:43] jlk commented on #30603
The last time I tried to manually validate a DCT-signed image, I was unable to. It's easy to sign an image with DCT, but that's of little value when you can't identify and validate that signature. So with that said I'd personally give DCT on k8s a -1.

GPG is way more interesting - long a recognized 3rd party standard, well documented, fairly easy to use. rkt had (has?) [solid support](https://cor

[2020-07-30 18:48] BenTheElder commented on #93576
Kubernetes's homebrew CI https://github.com/kubernetes/test-infra/tree/master/prow places too much text into one configmap.
The solution to this was to add transparent GZIP file reading support to the application and start uploading the contents GZIPed

https://github.com/kubernetes/test-infra/pull/11714/files
https://github.com/kubernetes/test-infra/pull/11745

[2020-07-30 19:03] trishankatdatadog commented on #30603
My bad. I confused this with the issue of [signing k8s binaries](https://github.com/kubernetes/release/issues/914) in the first place

As for signing container images themselves, there should be nothing against supporting verification of GPG signatures, but it is 2020, and we can certainly do [much better](https://theupdateframework.io/). DCT/Notary-v1 was much better than GPG in terms of security

[2020-07-30 19:07] liggitt commented on #93532
latest run is green

[2020-07-30 19:12] msau42 commented on #93358
normally creating a pvc and waiting for it to bind calls out to the storage provider to create a disk, which could take time. However, this is csi mock driver, where the create volume returns almost immediately. So that implies the slowdown would be in the controllers.

/assign @Jiawei0227
to help dig in further where the time is being spent

[2020-07-30 19:13] msau42 commented on #93358
cc @jiawei0227

[2020-07-30 19:17] Huang-Wei commented on #93538
@bcanozter can you post the whole `mydeployment.yaml`? The matchExpressions in podAntiAffinity spec tries to match a **Pod's** labels, not **Node's** labels.

[2020-07-30 19:19] Jiawei0227 commented on #93358
/assign @Jiawei0227

[2020-07-30 19:31] #93574 closed

[2020-07-30 19:33] smarterclayton commented on #68522
I am not in favor of removing these metrics in general.  These are as much
a part of the value of Kubernetes as many other parts of the system.  If we
need to improve their sustainability while keeping in mind the needs of
users, or adapt the underlying impl, we should do so.  But I do not think
it is as clear cut as "move out of project".

On Thu, Jun 25, 2020 at 8:32 PM Vishwanath <notifications

[2020-07-30 19:36] smarterclayton commented on #75890
It would be better never to use serial pull strategy if at all possible,
since that is going to give the worst performance except when a registry is
already pathologically bad.

On Mon, Jul 20, 2020 at 3:42 AM saberrey <notifications@github.com> wrote:

[2020-07-30 20:05] hkamel opened #93584 "[Failing Test] gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

W0730 19:29:00.827]     subprocess.check_call(cmd, env=env)
W0730 19:29:00.827]   File "/usr/lib/python2.7/subprocess.py", line 190, in check_call
W0730 19:29:00.827]     raise CalledProcessError(retcode, cmd)
W0730 19:29:00.828] subprocess.CalledProcessErr

[2020-07-30 20:14] fedebongio commented on #93576
/cc @jpbetz

[2020-07-30 20:18] Modelizer commented on #51850
This does not work with `kubectl logs` as well.

[2020-07-30 20:28] jpbetz commented on #93576
Lots of kubernetes clusters are running older versions of etcd. The current limit seems the best for those clusters.

And I suspect if we did raise the limit to 1.5MB it would only be a sort period of time before we got the request to raise it again.

[2020-07-30 20:57] mindw commented on #91919
@BenTheElder thank you for your answering on @dims behalf.

It seems we disagree that running kubectl in-cluster is a valid and common use case. We also disagree that the effort for maintaining a kubelet image is a ginormous effort (it isn't).

I'll stop here - the time is better used to maintain the above mentioned image myself.

[2020-07-30 21:00] andrewsykim commented on #93533
The cloud provider should be configured to use host network and use the default host resolver for finding vCenter. This is what is recommended in the manifests as well:  https://github.com/kubernetes/cloud-provider-vsphere/blob/master/manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml#L58

How is the DNS `vcenter.local` configured in this case?

[2020-07-30 21:01] nickperry commented on #93533
@neolit123 yes - confirmed by adding the toleration via kubectl edit.

[2020-07-30 21:08] nickperry commented on #93533
@andrewsykim I've just double checked and my CPI daemonset spec from the official helm chart (chart version 0.1.3) does not have hostNetwork: true in its spec.

[2020-07-30 21:11] nickperry commented on #93533
I have been told, although I couldn't find it myself, that the Tanzu TGK docs say specify the Vcenter by IP address, which I presume is because of this same issue?

[2020-07-30 21:17] nickperry commented on #93533
Yes.

kube-apiserver has
`  tolerations:
  - effect: NoExecute
    operator: Exists
`

Additionally my Calico CNI has also been configured to tolerate node.cloudprovider.kubernetes.io/uninitialized.

[2020-07-30 21:26] tamalsaha commented on #91919
@mindw , we are maintaining our multi-arch kubectl docker image here. https://github.com/appscodelabs/kubectl-docker . Please feel free to open pr if you see any issues.

[2020-07-30 21:26] #91919 closed

[2020-07-30 21:27] BenTheElder commented on #91919
I don't think anyone said that?

Maintaining anything in the upstream build & release is more work than you might think.
Nothing is free and there's already too much to fix there. We could use help.

[2020-07-30 21:46] rata commented on #65502
@tariq1890 @krackjack29 Yes, as @Joseph-Irving [mentioned][link] this issue is tracking progress of a KEP to address it: https://github.com/kubernetes/enhancements/issues/753. I've just opened a PR to modify the KEP: https://github.com/kubernetes/enhancements/pull/1913

Can I ask (please answer here, not in the other issues/PRs) if your use case to start some containers before others, do you also

[2020-07-30 21:50] AndriiNeverov commented on #89898
@zaabskr

Looks like this error message is a symptom of a more general problem of node-to-pod connectivity issues.

In our case, we confirmed that by using `traceroute` from the node to the pod's internal IP as suggested in https://discuss.kubernetes.io/t/who-where-actually-work-liveness-probe-in-kubernetes/4771/6. That IP was perfectly routable from the other pods and even from many other nodes,

[2020-07-30 21:55] aojea commented on #91236
Let's take a look to one occurrence
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1288128748264099840

The tests fails because can't connect to the first pod

[code]

If we check the code of the tests, we can see that it always uses the port 12345 as source port,

https://github.com/kubernetes/kubernetes/blob/d3c1e81d5e6796db9389cd73073f48d6a37c4621/test

[2020-07-30 22:05] andrewsykim commented on #93533
@nickperry can you try setting `hostNetwork: true` and see if that resolves your issue?

[2020-07-30 22:07] andrewsykim commented on #93533
Shouldn't matter IIRC as long as the DNS is resolvable from the host configured resolver.

[2020-07-30 22:23] robscott commented on #93229
@sbangari Is this still an issue? If so, it would be helpful to get an answer to Jordan's question above. If this Service is referencing the same Endpoints object that would be a very different issue than if it was referencing the same Pod.

/triage needs-information

[2020-07-30 22:33] patricklundquist commented on #93547
https://github.com/kubernetes/kubernetes/issues/93547#issuecomment-666321459

The smaller node (Node 1 -- 30/50), for same reason as the example in https://github.com/kubernetes/kubernetes/issues/93547#issuecomment-666124972. There may be churn, and I'd prefer to keep the larger nodes less occupied by small pods.

IMO a plugin that scores nodes based only on size (allocatable) seems easy to reason

[2020-07-30 23:10] jsturtevant opened #93590 "[Flaky test] [sig-windows] ci-kubernetes-e2e-aks-engine-azure-master-windows-2004"
**Which jobs are flaking**:
ci-kubernetes-e2e-aks-engine-azure-master-windows-2004

**Which test(s) are flaking**:
the whole test run occasionally is bad

causing error:

[code]

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-2004/1288631402773876737

**Reason for failure**:
There is a race with the windows nodes becoming a

[2020-07-30 23:24] jsturtevant commented on #93590
This appears to be the case for what happened with https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-18-windows/1288134789127213057 only the node was not ready:

[code]

[code]

[2020-07-30 23:30] chewong commented on #93590
Looks like 1807k8s000 just crashed. Can't even ssh into it:
[code]

[2020-07-30 23:37] Huang-Wei commented on #93547
IMO NodeResourcesLeastAllocated and NodeResourcesLeastAllocable would get the same eventual result in @ahg-g 's [example].

[example]: https://github.com/kubernetes/kubernetes/issues/93547#issuecomment-666321459

Let me give another example to explain why NodeResourcesLeast**Allocable** is not _always_ the optimal solution to break the tie.

Suppose we have 2 Nodes:

- Node1: 30/50
- Node2: 70/100

[2020-07-31 00:27] yuanchen8911 opened #93591 "Add a new function Enqueue to QueueSort Plugin"
**What would you like to be added**:

Add a new function `Enqueue` to `QueueSort` plugin. `Enqueue` is the first plugin function in a scheduling cycle and is called before a pod is added to `SchedulingQueue`.

[code]
It can be a separate Plugin too.

**Why is this needed**:

Advanced scheduling will need to check and construct some data structures when a new pod arrives. The information will be us

[2020-07-31 00:27] yuanchen8911 commented on #93591
/sig scheduling

[2020-07-31 00:30] yuanchen8911 commented on #93591
/cc @Huang-Wei
/cc @ahg-g
/cc @denkensk
/cc @xujyan

[2020-07-31 00:32] patricklundquist commented on #93547
@Huang-Wei, fair point. In your example a "NodeResourcesMostAllocatable", would have worked well. We now have examples to show that none of the strategies -- NodeResourcesLeast**Allocated**, NodeResourcesLeast**Allocatable**, or the other proposed ones -- are always optimal. Given that, there are cases, such as https://github.com/kubernetes/kubernetes/issues/93547#issuecomment-666124972, where Nod

[2020-07-31 00:32] oomichi commented on #81245
@alejandrox1 Thanks for sharing that.
OK, I'd like to join the discussion on the above doc.

[2020-07-31 00:43] bappr commented on #68737
Removed StatefulSet using: kubectl delete sts --cascade=false [statefulset-name]
Re-created the StatefulSet with the correct size on the claim
Kubernetes automatically re-created the pods 1 by 1 since it detected that the PVC needed to be resized.

There is something necessarily wrong that this cannot be done programmatically by changing the size of the pvc directly in the statefulset. I did not f

[2020-07-31 01:12] liggitt commented on #93532
hmm

[code]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1288968550895063040

[2020-07-31 01:14] dims commented on #91919
@tamalsaha that's helpful. thanks!

[2020-07-31 01:34] Jiawei0227 commented on #93358
Some findings:

1. The reason why we got a 5 minute timeout issue is that the csi-provisioner starts after the timeout. To be exact:
In the case of [this failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/1286019551993008128):
```Jul 22 19:49:33.768: INFO: Waiting up to 5m0s for PersistentVolumeClaims [pvc-wz95b] to have phase Bound```
The testing s

[2020-07-31 01:41] Lavie526 commented on #93556
@udit249 I tried to create the local repository, and use it, however still not works.

Events:
  Type     Reason     Age                From               Message
  ----     ------     ----               ----               -------
  Normal   Scheduled  34s                default-scheduler  Successfully assigned default/dv-deployment-656d4dfb86-9kwk2 to minikube
  Normal   Pulling    18s (x2 over 3

[2020-07-31 01:52] msau42 commented on #93358
So it seems like starting the Pod is slow for some reason.  @BenTheElder do you know if we can increase the kubelet log level in kind clusters so we can get more details about how long it's taking to bring up the pods?

[2020-07-31 03:01] #86935 closed

[2020-07-31 03:07] ahg-g commented on #93538
Oh, right, didn't notice that. The schedule=worker is your node label, you need to match on pod labels (which defines the group of pods that anti-affinity applies to).

/remove-kind bug

[2020-07-31 03:09] zhangschunfeng opened #93593 "controller start too slow ,get ListNode must wait 10s"
[code]

It takes too long for the controller-manager to start, and get Listnode needs to wait 10s before, i know  We must poll because apiserver might not be up. but if apiserver is ok , controller-manager switch leader ,
How to avoid waiting for 10s, my service is too dependent on controller-manager ok
Do you have any good suggestions？？？？

[2020-07-31 03:25] liggitt commented on #93584
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/93561 ?

[2020-07-31 03:42] EronWright commented on #88816
Thanks @apelisse for the effort.

[2020-07-31 03:58] hkamel commented on #93584
Yes, thanks @liggitt

[2020-07-31 03:59] hkamel commented on #93584
/close duplicate with #93561

[2020-07-31 04:08] denkensk commented on #93591
A pod in the scheduling queue can be passed to Less function multiple times, which will lead to duplicate processing.
-----
The function is invoked when he pod is first added to the scheduler queue or it can be invoked when the unschedule pod requeue？ @yuanchen8911

[2020-07-31 04:39] yuanchen8911 commented on #93591
Good question, we will probably have a clean and simple design&implementation if the function is called in both cases (whenever a pod is added to the queue). We just let the plugin distinguish each case.

[2020-07-31 05:14] BenTheElder commented on #93358
@aojea recently made the log level adjustable in CI, https://github.com/kubernetes-sigs/kind/pull/1750

[2020-07-31 05:16] BenTheElder commented on #93358
Are we starting a new mock driver every time with multi-minute startup?

[2020-07-31 05:40] EugenFo opened #93594 "Add "Reuse" option to the ReclaimPolicy"
**What would you like to be added**:
Add a _Reuse_ option to the ReclaimPolicy of PersistentVolumes/StorageClasses.
It should work like the _Retain_ ReclaimPolicy, but instead of keeping the _ClaimRef_ field in a PV after an PVC is deleted it should automatically empty it. So that the PV can automatically be bound to a PVC without any manual intervention.
**Why is this needed**:
Especially on Dev

[2020-07-31 05:42] EugenFo commented on #93594
/sig storage

[2020-07-31 05:44] KarthikNedunchezhiyan commented on #90197
sure, will check and update here

[2020-07-31 05:44] KarthikNedunchezhiyan commented on #90197
/remove-lifecycle stale

[2020-07-31 05:53] jherrera123 commented on #88919
/assign

[2020-07-31 05:54] chendave commented on #93505
see https://github.com/chendave/initrepo/tree/master/k8s/demo/schedule_plugin/PodTopologySpread for the concrete scenario.  @soulxu  @alculquicondor

[2020-07-31 05:58] wojtek-t commented on #91236
Great catch. Ideally this function should validate if both Endpoint and appropriate EndpointSlice objects(s) exist.

[2020-07-31 06:06] #93584 closed

[2020-07-31 06:08] mindw commented on #91919
Thanks @dims @tamalsaha @dims and @bendrucker , your time and efforts are much appreciated!

[2020-07-31 06:22] uablrek commented on #93337
I can't reproduce this problem by aggressively start/stop PODs (see the test above). It does however happen infrequently in the issuers system so "not-reproducible" is incorrect. I triage this as a bug.

/remove-triage unresolved

If this can't be reproduced in a controllable way I fear it requires that somebody recognizes the problem from previous experience.

I have assumed that the non-working

[2020-07-31 06:29] uablrek commented on #93337
@sagor999 Have you tried to switch to proxy-mode=ipvs?

[2020-07-31 06:43] chendave commented on #93505
they are colliding and might need to try several sometimes so that the desired scenario will happen.

[2020-07-31 06:54] shashankv02 commented on #92587
Nope. It's not resolved.

[code]

/reopen

[2020-07-31 07:19] #92575 closed

[2020-07-31 07:46] oded-dd commented on #92460
We are seeing the same issue on Kubernetes v1.17.6

[2020-07-31 07:49] LeonYanghaha opened #93595 "kubeadm init stuck at "Waiting for the kubelet to boot up the control plane as static Pods from directory "/etc/kubernetes/manifests". This can take up to 4m0s""
/sig area/kubeadm
I installed k8s on a clean ubunut. When I executed the command  ```  kubeadm init   -v=7  ```, I was confused. my port 6443 was not listening.

![image](https://user-images.githubusercontent.com/23301914/89012241-74db7e00-d344-11ea-9172-f2ce6525ad7b.png)

After doing this many times, tell me ``` The kubelet is not running```,I see  kubelet  running through the command ``` ps aux

[2020-07-31 07:55] zhangschunfeng commented on #67865
你好，你有controller-manager选主优化、节点状态更新的建议吗
  - --leader-elect-lease-duration=15s
    - --leader-elect-renew-deadline=10s
    - --log-dir=/var/log/matrix-diag/Matrix/kube-controller-manager
    - --logtostderr=false
    - --node-cidr-mask-size=24
    - --node-monitor-grace-period=40s
在controller-manager 高可用的场景中，节点断电、controller-manager切主、到节点notReady 花费时间太久

[2020-07-31 08:02] neolit123 commented on #93595
hi, please the support channels for such questions or #kubeadm or k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

also see https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#kubeadm-blocks-waiting-for-control-plane-during-installation

at that point kubeadm waits for the kubelet and api-server to start returning "OK" on their

[2020-07-31 08:02] #93595 closed

[2020-07-31 08:05] zhangschunfeng opened #93596 "controller-manager leader selection optimization"
Hello, do you have any suggestions for controller-manager selection optimization and node status update?

--leader-elect-lease-duration=15s
--leader-elect-renew-deadline=10s
--log-dir=/var/log/matrix-diag/Matrix/kube-controller-manager
--logtostderr=false
--node-cidr-mask-size=24
--node-monitor-grace-period=40s
In a scenario where the controller-manager is highly available, power off the node, the

[2020-07-31 08:41] wojtek-t commented on #91236
Actually - let me take it and send a PR for it.

[2020-07-31 10:39] wojtek-t commented on #91236
https://github.com/kubernetes/kubernetes/pull/93597 is out for review

[2020-07-31 10:57] Duanzhiwei opened #93598 "DualStack: The node of kubernetes v1.18.2 has only one ipv4 address. Access to pod via ipv6 is not possible"
**What happened**:
I want to use kubeadm to build IPV4/IPv6 dual stack k8s cluster. But node internal IP only shows ipv4. I uses calico network plugin. The pod IP and service can be assgined ipv4 and ipv6. But  the pod cannot be accessed over ipv6 addresses.
**What you expected to happen**:
The cluster nodes have two ip addresses: ipv4 and ipv6.
Run command:
`kubectl get nodes k8s-linuxpool1-34450

[2020-07-31 11:09] denkensk commented on #93591
Thanks. Maybe we can think about it in `Efficient Requeuing of Unschedulable Pods` to cover this case in coscheduling.

[2020-07-31 11:25] ialidzhikov opened #93599 "apiserver panic'd on GET /readyz"
**What happened**:

[code]

for extension API server panics with:

[code]

Apparently https://github.com/kubernetes/kubernetes/pull/92644 introduces this panic with `assignment to entry in nil map`.

**What you expected to happen**:
`/readyz` to do not panic.

**How to reproduce it (as minimally and precisely as possible)**:
1. Setup extension API server with k8s.io/apiserver@v0.17.9 - for example

[2020-07-31 11:25] ialidzhikov commented on #93599
/kind regression

[2020-07-31 11:26] ialidzhikov commented on #93599
/sig api-machinery

[2020-07-31 11:26] ialidzhikov commented on #93599
/assign @ialidzhikov

[2020-07-31 12:52] sagor999 commented on #93337
@uablrek I am in the process of testing out ipvs mode.
Thank you for trying to repro the issue. Even on our end it doesn't happen often.

[2020-07-31 13:11] jaredhancock31 commented on #93576
If my understanding is correct, the original reason for adding the validation was due to etcd's constraint. Now that it is configurable, why not follow suit from the k8s layer? While there may be performance considerations, isn't that more of a domain problem than not? I tend to prefer flexibility over hard barriers like this, just my 0.02.

We're considering going a route similar to the one descr

[2020-07-31 13:38] chrisohaver commented on #93533
According to the [yaml](https://github.com/kubernetes/cloud-provider-vsphere/raw/master/manifests/controller-manager/vsphere-cloud-controller-manager-ds.yaml) in the docs, it should be running on hostNetwork ... and, it doesn't specify `ClusterFirstWithHostNet` for dnsPolicy, so it should be going to the host's resolver, not the cluster DNS.

[2020-07-31 13:55] wojtek-t commented on #93531
Didn't get to it - if someone could pick it up, it would be great.

[2020-07-31 13:59] andrewsykim commented on #93533
@chrisohaver yup -- the issue I think is that the helm charts use different yaml than the one recommending in the cloud-provider-vsphere repo -- we should update the helm charts to set hostNetwork: true as well.

[2020-07-31 14:00] alculquicondor commented on #93547
My question would be: Does it make sense to ever have NodeResourcesLeastAllocated competing with NodeResourcesXAllocatable?

If not, why not parameterize the existing NodeResourcesXAllocated plugin to make relative or global comparisons, given that the behavior is pretty much equivalent to the proposed NodeResourcesXAllocatable.

[2020-07-31 14:08] alculquicondor commented on #93505
In the example, we see that spreading constraints are matching pods that don't themselves have the same spreading constraint.
Is this something we actually should support? Specially when different priorities are involved.

I'm more inclined to document this as a limitation, rather than trying to check for other pods' rules internally in the scheduler plugin.

But we can still fix the "enter queue"

[2020-07-31 14:09] k3a commented on #68211
nagstaku:  Please read the task closing reason. It was fixed by #89629 and is part of k8s v1.19.0-rc.0 or newer. Until then, use #89629 workaround.

[2020-07-31 14:09] liggitt commented on #93576
the combination of performance considerations and inconsistency of use (this configmap will only work on "special" clusters) makes me think this is not a great place to add flexibility

[2020-07-31 14:24] cben commented on #70679
I want to start working on auth renewal in Ruby kubeclient lib (https://github.com/abonas/kubeclient/issues/393,) and want to cover this use case too.  Can you help me understand what applications are expected to do? 🙏

Will this affect the default "in-cluster config"?  Or this only for manually granting apps access to some service account?  [this may be a silly question, I don't understand servic

[2020-07-31 14:47] liggitt commented on #93531
opened https://github.com/kubernetes/kubernetes/pull/93602

[2020-07-31 15:06] liggitt commented on #93599
cc @wojtek-t

[2020-07-31 15:13] liggitt opened #93604 "Daemonset TestExpectationsOnRecreate fails consistently"
**Which jobs are failing**:

TestExpectationsOnRecreate unit test, added in https://github.com/kubernetes/kubernetes/pull/91915 along with expectations bugfix during 1.19 and cherry-picked to 1.18/1.17

**Which test(s) are failing**:

`go test -race -count=10 ./pkg/controller/daemon -run TestExpectationsOnRecreate`

**Reason for failure**:

[code]

[code]

**Anything else we need to know**:

These

[2020-07-31 15:13] liggitt commented on #93604
adding to the milestone for triage, in case this is a real bug and not just a test issue

/milestone v1.19

[2020-07-31 15:13] liggitt commented on #93604
cc @kubernetes/sig-apps-test-failures

[2020-07-31 15:20] lallydd opened #93606 "ListNodes sometimes returns 'null' instead of empty list for .items[].status.images[].names (v1.10)"
**What happened**:
On a call to ListNodes, the returning JSON had 'null' instead of an empty list in `ContainerImage.names`.  Failing validation in the client.

[code]

**What you expected to happen**:
Returned value to contain something like this:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
AFAICT, a container image with no name.

**Anything else we need to know?**:

[2020-07-31 15:20] liggitt commented on #93604
/assign @janetkuo @tnozicka

[2020-07-31 15:22] lallydd commented on #93606
/sig api-machinery

[2020-07-31 15:22] liggitt commented on #93604
looks like the panic is due to the test continuing in the !exists case (rather than exiting with a Fatal):

https://github.com/kubernetes/kubernetes/blob/6324c137ea26daa56faabed3d9c0d7bea1271bde/pkg/controller/daemon/daemon_controller_test.go#L615-L624

however, that still means the test is failing in two distinct places:

[code]

[code]
[code]

[2020-07-31 15:32] ldemailly commented on #65502
after init container as init containers already provide ordering guarantees

[2020-07-31 15:41] luksa commented on #65502
No, a sidecar KEP shouldn't be considered complete until it allows running sidecars during the init phase, too. For example, pods in a service mesh typically also need the same service mesh functionality for their init containers. And while there are workarounds for proper ordering of the start/shutdown of the pod's main containers, Kubernetes currently has no way of running sidecars in the init p

[2020-07-31 15:47] wuestkamp commented on #51322
Same situation using vanilla `kubeadm` installation:

[code]

[2020-07-31 15:49] lallydd commented on #93606
Note that this is an FYI bug report, I'm going to have to hack around the problem here no matter what.  A "it's fixed in less-ancient versions of k8s" is perfectly cool by me.

[2020-07-31 16:11] apelisse commented on #86935
Yeah, I think that's solved!

[2020-07-31 16:14] spiffxp commented on #92953
/milestone v1.19
Since I milestoned https://github.com/kubernetes/kubernetes/pull/92954

[2020-07-31 16:31] ironknight78 commented on #93312
Hi!! I'd like to help #investigate this problem @Huang-Wei, I'm a beginner, so I'll make my best. Can you please help me point me in the right direction?
What's the output today vs. how does the output should look like?

[2020-07-31 16:34] ironknight78 commented on #93312
Oh I get it, the comments on top of the lines are not completely accurate on what the message displays, right? I think I got it

[2020-07-31 16:37] Dean-Coakley commented on #93312
@ironknight78 Yeah - But I've already opened a PR for this!  - See the linked PR `#93549`

So this is already done, just waiting on final merge.

[2020-07-31 16:39] #93531 closed

[2020-07-31 16:39] ironknight78 commented on #93312
Great Dean, thanks for that!

[2020-07-31 17:02] abansal4032 opened #93608 "Support for --register-with-taints in kubemark hollow-kubelet args"
**What would you like to be added**:
The kubemark hollow-kubelet should expose setting --register-with-taints through args for the test.

**Why is this needed**:
1. It would be beneficial to have the nodes come up with taints to avoid scheduling of regular pods on the nodes. The specific workloads can then be scheduled on the hollow-nodes by adding tolerations. This would help for environments whe

[2020-07-31 17:03] abansal4032 commented on #93608
/sig scalability

[2020-07-31 17:06] abansal4032 commented on #93608
/cc yguo0905

[2020-07-31 17:13] msau42 commented on #93358
Yes every test case brings up the a new mock driver pod.  However, I'm not clear on where the time is being spent, is it kubelet taking a long time to start the container, or is there something in the mock driver startup sequence that is taking a long time. Unfortunately we couldn't find any kubelet logs about the container, and the mock driver logs themselves don't have timestamps.

The mock driv

[2020-07-31 17:19] BenTheElder commented on #93358
We can increase the log verbosity (see above), I don't know what value to increase them to though.

How fast does this pod come up elsewhere? Do we need to create a new one every time?

I don't think pod startup normally takes O(5 min) on kind ... is there some kind of readiness gate or something?

[2020-07-31 17:26] jingxu97 commented on #74674
/remove-lifecycle rotten

[2020-07-31 17:28] msau42 commented on #93358
v=4 is the usual level I see for test clusters.

There are no readiness gates: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver.yaml. To me it seems like the slowdown is in the bringup of the container itself, not the actual application.

For the mock driver tests, we toggle a lot of different behaviors/features on the driver per test

[2020-07-31 17:33] BenTheElder commented on #93358
kind runs should be v=4 since 4 days ago https://github.com/kubernetes-sigs/kind/pull/1750/files#r461102826

[2020-07-31 17:38] claudiubelu commented on #93276
So, there's a longer story there.

First of all, the Image Promoter Windows build nodes are on the CNCF azure subscription that is owned by Microsoft / sig-windows. They are dedicated nodes meant for building those images.

Secondly, that was the compromise we've reached long ago. The original plan was to have google spin up those Windows VMs required by the Image Promoter. We've even had to make

[2020-07-31 17:45] Jiawei0227 commented on #93358
I took a quick round look at the mock driver bringup time on these ci(about 10). https://k8s-testgrid.appspot.com/sig-release-1.19-blocking#gce-cos-k8sbeta-default&include-filter-by-regex=CSI.*mock. What I find is that: first of all, this is e2e running on gce, which in my guess is a lot different from kind. Second, the bringup time of mock driver csi on GCE is a lot faster than kind. The average

[2020-07-31 17:50] BenTheElder commented on #93276
The most undersirable part is using VMs that are not owned / managed by the project at large. Anywhere we're doing that is infrastructure debt that the community can't work on / has no visibility into / ability to fix.

GCP _and_ AWS have resources provided to the CNCF managed via wg-k8s-infra that the community is moving the project onto.
You can find the configuration for these wholly in https:/

[2020-07-31 17:54] liggitt commented on #93606
/remove-sig api-machinery
/sig node

the field should likely be marked as optional. protobuf serialization does not preserve the distinction between empty and null lists

[2020-07-31 17:54] yujuhong commented on #93608
@kubernetes/sig-scalability

[2020-07-31 17:56] liggitt commented on #91075
stopped running these in presubmit in https://github.com/kubernetes/kubernetes/pull/92879

/close

[2020-07-31 17:56] #91075 closed

[2020-07-31 17:57] BenTheElder commented on #93561
why is this dependent on a kubekins bump?

[2020-07-31 18:00] liggitt opened #93609 "test/integration/master package tests are slow, package times out"
**Which jobs are flaking**:

pull-kubernetes-integration

**Which test(s) are flaking**:

test/integration/master

**Testgrid link**:

**Reason for failure**:

There are ~5 tests that average more than 30 seconds each.

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&graph-metrics=test-duration-minutes&include-filter-by-regex=k8s.io/kubernetes/test/integration/ma

[2020-07-31 18:02] liggitt commented on #93609
Possible approaches:
* when timeouts are configurable, speed them up (example in https://github.com/kubernetes/kubernetes/pull/93394)
* consider refactoring table tests to run in parallel (example in https://github.com/kubernetes/kubernetes/pull/93394)

[2020-07-31 18:04] hasheddan commented on #93561
@BenTheElder we thought it had to do with how `kubetest` was extracting the fast build, and the modifications we made (https://github.com/kubernetes/test-infra/pull/18535) would not be not be seen until jobs were bumped to use new version of `kubekins` image

[2020-07-31 18:04] patricklundquist commented on #93547
Here's an example where NodeResourcesXAllocated works with NodeResourcesLeastAllocatable.

Initially 4 empty nodes of sizes: 40, 40, 100, 100
Pod sizes sequence: 60, 10, 10, (60 terminated), 50, 50, 50, 50
Let's say the optimal scheduling is: **10/40, 10/40,** (50+50)/100, (50+50)/100

NodeResourcesLeastAllocated alone may leave a 50 pod unschedulable since a 10 pod may be placed on a 100 node.
Po

[2020-07-31 18:04] liggitt commented on #93609
if you want to help improving the runtime of one of these tests, leave a comment, then link to a WIP PR once it is open

[2020-07-31 18:05] Huang-Wei commented on #93485
https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=test%2Fintegration%2Fscheduler is all green since the last PR (#93550) gets merged around 4:30 AM PST Jul 30.

I will keep an eye on it for the next couple of days.

[2020-07-31 18:15] liggitt commented on #93609
cc @kubernetes/sig-api-machinery-bugs

[2020-07-31 18:25] kmala commented on #82743
/remove-lifecycle stale

[2020-07-31 18:27] liggitt commented on #93609
for TestAudit, rather than setting up a new server and webhook for each iteration, we can set up a single server with a policy that logs differently named configmaps at different verbosity levels (using the resourceNames portion of the audit policy), and a webhook that only intercepts specifically labeled configmaps (using the objectSelector portion of the webhook).

Then all the iterations in the

[2020-07-31 18:30] liggitt commented on #93604
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93605/pull-kubernetes-bazel-test/1289254188986929154

[2020-07-31 18:33] lallydd commented on #93606
That'd solve the problem.

[2020-07-31 18:40] damemi commented on #93547
From a usability point I think just having another plugin to prefer smaller/larger nodes is a lot easier to understand than making the existing plugin configurable with absolute-vs-relative percentages. And still, the node with the smallest empty space isn't always going to be the smallest node.

If you used the relative/absolute percentage, if you have `NodeA` of size `10` and `NodeB` of size `10

[2020-07-31 18:44] Huang-Wei commented on #93591
@yuanchen8911 I understand it's a good-to-have in the queueSort based coscheduling implementation. But I felt reluctant to add it in QueueSort extension point as it's in the critical path (when enqueuing every single Pod), unless we have another one or two promising use cases.

[2020-07-31 18:45] Jiawei0227 commented on #93358
Another interesting case I found: [failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind/1289150375802179587)
1. The mock CSI driver never really get deployed. There is no driver log at all in this test case which indicate all the containers are not started.
```Jul 31 11:12:56.182: INFO: Waiting up to 5m0s for PersistentVolumeClaims [pvc-lgpcg] to have

[2020-07-31 18:49] liggitt commented on #93604
it looks like the same failure existed in 1.18, so this probably isn't release blocking, but it does need to be resolved in order for us to stop ignoring unit test flakes in CI runs

[2020-07-31 18:53] hasheddan commented on #93561
Another update, `kubekins` bump for today (https://github.com/kubernetes/test-infra/pull/18544) just happened so we'll see if the added logs help us identify what is going awry here

[2020-07-31 18:56] Jiawei0227 commented on #93358
A look at the kind cluster, I found most of the time csi-provisioner is able to talk to the socket pretty fast. Only 2 of around 20 test cases I looked took around 1-3 minutes to connect. And 1 of them wait for around 5 minutes to connect the socket which also leads to test failure.

[2020-07-31 19:04] vareti commented on #93609
@liggitt I am fairly new to k8s and would like to get involved in this if I can. Any suggestions for which test to pick?

[2020-07-31 19:34] Huang-Wei commented on #93547
I also felt the configurable absolute-vs-relative percentage would be hard to tune and hence not easy to use.

So +1 to NodeResourcesLeastAllocatable as a separate plugin, at least in scheduler-plugin repo if not in upstream.

[2020-07-31 19:37] moltzaum commented on #90885
I have been able to use the readOnly flag suggested by @abuccts , and it makes sense. However I'm very confused on the purpose of the accessMode parameter. I see a separate issue talking about the accessMode, with a comment mentioning that it "doesn't enforce anything" https://github.com/kubernetes/kubernetes/issues/60903#issuecomment-377086770 . At first I thought he meant for the cardinality in

[2020-07-31 19:57] alculquicondor commented on #93547
Even if it goes in upstream, it shouldn't be a default plugin. So starting in scheduler-plugins seems like the best idea.

However, my concern is that if you introduce new plugins, then users need to think about how to combine them, for which they have to know the competition algorithm (formula) for scores. For that reason, I would prefer a single configurable plugin.

[2020-07-31 20:07] hasheddan commented on #93561
Found issue, PR coming

[2020-07-31 20:11] yuanchen8911 commented on #93591
1. Generally speaking, the feature is critical for developing advanced Pod sorting policies. For example, in order to implement a capacity or fair share scheduler similar to YARN., we can create multiple "virtual queues" with different capacity limits (e.g., min, max) or fair shares.  Enqueue function associates a pod with a "virtual queue" before adding it to the real scheduling queue. Less funct