[2021-02-11 21:15] fedebongio commented on #98683
Thank you Jordan!

[2021-02-11 21:42] neolit123 commented on #98995
/kind support
/sig network

[2021-02-11 21:43] neolit123 commented on #99002
hi, do you want to send a PR fix for this?

/kind documentation
/sig cli

[2021-02-11 21:55] neolit123 commented on #98976
this will make the release notes extremely noisy, given these PRs will be done per-package and not per-component.

[2021-02-11 22:29] #92698 closed

[2021-02-11 22:46] ehashman commented on #98976
@neolit123 yeah it's somewhat unavoidable... I've reached out to a couple people on the release team, I think we'll end up squashing them down. There should be a limited number of ACTION REQUIRED notes (only for exit code changes in replacing fatal logger calls).

[2021-02-12 01:15] BenTheElder commented on #95455
If not: the RPM build system is here, how these are built is controlled there:
https://github.com/kubernetes/release/tree/master/packages/rpm

At SIG releases' discretion my team is happy to run and publish new builds.

[2021-02-12 01:22] BenTheElder commented on #97264
There's an ongoing effort to move this to community owned infrastructure where the project can have discretion over all aspects of the infra.

As it stand while my team at Google do perform builds and upload them to the existing host for the project, we don't own the host and it really nominally exists to host Google packages (like the GCP SDK) / isn't a product offering AIUI, we can pass along re

[2021-02-12 02:03] apelisse commented on #99003
cc @julianvmodesto

[2021-02-12 02:47] apelisse commented on #99003
Thanks for the copy-pastable instructions @aermakov-zalando, that really made things super simple to reproduce!

Yeah, we don't entirely convert `kubectl-client-side-apply`  into the `kubectl` server-side applier, which means that these fields don't get removed when server-side removed :-/

I'm not sure I follow that use-case, can you describe that for me?

Is that custom-app using kubectl at all?

[2021-02-12 04:44] BLasan commented on #94892
@almas33 Are you still working on this? If not I would like to take up this issue. I'm also new to the community @wzshiming

[2021-02-12 04:49] yliaog commented on #98963
please take a look at https://github.com/kubernetes/kubernetes/issues/85332

[2021-02-12 05:02] saralpa commented on #59888
Is this issue resolved?

[2021-02-12 05:11] yliaog commented on #98963
https://github.com/kubernetes/kubernetes/blob/b1a2a99f1fe1622d20b68abaa99348e19a35c704/staging/src/k8s.io/api/core/v1/types.go#L3040

	// +patchMergeKey=name
	// +patchStrategy=merge
	ImagePullSecrets []LocalObjectReference `json:"imagePullSecrets,omitempty" patchStrategy:"merge" patchMergeKey:"name" protobuf:"bytes,15,rep,name=imagePullSecrets"`

[2021-02-12 05:19] BenTheElder commented on #95020
for future finders of this: you should only need 40+gb for `make release` (cross compiling all platforms) if you want it to build in parallel (less if not)

you do however need more than the docker default to build quick-release, I think at least 4gb? but I typically give it at least 8 for doing kubernetes compiles etc. 45gb should be much more than necessary for `make quick-release`.

[2021-02-12 05:28] yliaog commented on #98963
https://kubernetes.io/docs/tasks/manage-kubernetes-objects/update-api-object-kubectl-patch/ has explanations about strategic merge patch vs json merge patch.

the default is 'strategic merge patch', and it requires that the merge key 'name' must be present.

"kubectl patch deploy --type=merge" uses json merge patch instead.

[2021-02-12 05:30] yliaog commented on #98963
i agree it's better to add more validation to prevent this kind of error

[2021-02-12 05:37] BenTheElder commented on #95803
https://github.com/kubernetes/kubernetes/issues/96015 is now closed

[2021-02-12 06:02] robscott commented on #43214
@liggitt I missed that we've said we're planning to remove not just extensions/v1beta1 in 1.22, but also networking.k8s.io/v1beta1. This would make it difficult for implementations of Ingress controllers that want to support both 1.18 and 1.22. Would it be reasonable to delay the removal of networking.k8s.io/v1beta1 until 1.23?

[2021-02-12 06:46] BenTheElder commented on #94567
For me this is failing _consistently_ now in my local env (google linux workstation, `make test`)

E0211 22:41:27.381419 2155238 reconciler.go:389] Cannot get volumes from disk open fake-dir: no such file or directory
panic: test timed out after 2m0s

[2021-02-12 07:23] almas33 commented on #94892
you're welcome to try this @BLasan I'm currently working on some other issues

[2021-02-12 07:35] mkumatag commented on #94567
/remove-lifecycle stale

[2021-02-12 07:42] BLasan commented on #94892
Thanks

[2021-02-12 07:42] BLasan commented on #94892
/assign

[2021-02-12 08:08] Ravikanth31 commented on #49387
kubectl get pods | grep -v Running
try this it will list all the pods which are not in running state

[2021-02-12 09:00] abhaykatheria commented on #98698
I think if we can get the metadata of all the dependencies (existing and the new one) using [goda](https://github.com/loov/goda/), and then classify them as incoming or shared.
After getting the metadata we can create a report with some investigatory features like :
- sort by  LoC.
- sort by no. of deps (new incoming deps)
- and maybe some other metric.

Then to make it less sore to the eyes, crea

[2021-02-12 09:02] aojea opened #99018 "[Flake][IPVS][sig-network] ESIPP [Slow] should work from pods"
The test failure rate is ... bad :(
https://testgrid.k8s.io/sig-network-gce#gci-gce-ipvs&width=5

### Failure cluster [cdebb5be92ec56b9d8ca](https://go.k8s.io/triage#cdebb5be92ec56b9d8ca)

##### Error text:
[code]
#### Recent failures:
[2/12/2021, 7:42:41 AM ci-kubernetes-e2e-gci-gce-ipvs](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ipvs/1360117037086543872)
[2/1

[2021-02-12 09:03] aojea commented on #99018
tagging main ipvs folks for visibility @andrewsykim @uablrek @lbernail

[2021-02-12 09:35] aermakov-zalando commented on #99003
Sorry, I've missed a word there. What I meant is that I would expect the field to be dropped if I remove it from the local manifest after the client-side apply but before the first server-side apply, but this is not something that happens.

We have several apps that deploy resources to our clusters. They've been using `kubectl` before, which is obviously terrible for performance and makes it hard

[2021-02-12 09:48] aermakov-zalando commented on #99003
Looking the SSA docs, though, it doesn't look like this use case is supported by SSA. Handover of fields from one applier to the other one requires the former owner to apply again with an empty manifest to relinquish the field ownership. This means that a user can't just switch from applying with tool A to applying with tool B, which can be problematic for manifests that are only applied infrequen

[2021-02-12 10:04] uablrek commented on #99018
[code]
until timeout. From "man curl";
[code]

[2021-02-12 10:06] uablrek commented on #99018
Are the originating POD and the server-pod on the same node?

Otherwise you will hit https://github.com/kubernetes/kubernetes/issues/93456

[2021-02-12 10:17] aojea commented on #99018
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ipvs/1360117037086543872
:eyes:
server
[code]
client
[code]
it seems they are using different nodes

[2021-02-12 10:21] uablrek commented on #99018
Ok, the reason is sorted out, but what to do about it?

If #93456 is a bug that shall be fixed the test _should_ fail.

[2021-02-12 11:08] BenTheElder commented on #98606
Currently seeing it in periodic and in presubmit for `TestWebhookTimeoutWithWatchCache`

[2021-02-12 11:21] vorburger opened #99025 "build/run.sh make kubectl fails on podman-docker with @ERROR: access denied to k8s from UNDETERMINED (127.0.0.1)"
I'm attempting to follow https://github.com/kubernetes/kubernetes/blob/master/build/README.md#key-scripts on Fedora 32 with `podman-docker` (a package which aliases `docker` to `podman`) and it currently fails like this:

[code]

[2021-02-12 11:23] vorburger commented on #79048
#99025

[2021-02-12 12:08] wojtek-t commented on #93932
@swetharepakula @MrHohn - can we please prioritize fixing this test?

Having tests disabled at large scale is a hack - we should never be doing that. It basically means that we don't test particular functionalities at large scale, which means it may hurt real users.

[2021-02-12 12:21] leydifalldev commented on #95039
Same for me.
Device: Raspberry PI 4 8go, Ubuntu 20.04

[2021-02-12 12:28] jayunit100 commented on #99018
[code]

[2021-02-12 12:35] jayunit100 commented on #99018
I agree, i guess we should just leave this test as failing - until the IPVS thing is fixed, but at  least in the time being we should add a wanring in the test logs, to capture the reality of the situation, right `framework.Logf("this failure is expected due to a bug in ipvs load balancing, see #93456 for details")` or whatever...

[2021-02-12 13:00] curtisr7 commented on #98963
Whatever validation is performed on update should also be applied on create

[2021-02-12 13:04] phantooom commented on #98935
/assign

[2021-02-12 13:05] phantooom commented on #98935
/assign

[2021-02-12 13:11] tibetsam commented on #86244
what if both request and limit are not specified, and no default quota for namespace? dose that mean the pod can eat up all resources on that node? i can only find explanation about no limit in k8s document. https://kubernetes.io/docs/tasks/configure-pod-container/assign-cpu-resource/

[2021-02-12 13:21] claudiubelu opened #99028 "Test "Device Plugin should be able to create a functioning device plugin for Windows" shouldn't run with all [sig-windows] tests"
#### Which jobs are failing:

[code]

Flakes on:

[code]

Passed on:

[code]

#### Which test(s) are failing:

[code]

#### Since when has it been failing:

N/A

#### Testgrid link:

See above.

#### Reason for failure:

The test requires hosts with GPUs attached, which is not common in a CI. The test shouldn't be run automatically with every other ``[sig-windows]`` labeled test, it should have a

[2021-02-12 14:06] alculquicondor commented on #96515
/remove-lifecycle stale

It is kubelet.

The request seems reasonable to me

/triage accepted

[2021-02-12 14:09] alculquicondor commented on #96515
If I'm understanding correctly, in the case of Jobs, where Pods are not removed until explicitly deleted (or by the new TTL controller), those resources are being held. If so, that's pretty bad for batch use cases.

[2021-02-12 14:28] vijayshanker3149290 commented on #98995
@robscott Thanks for your quick reply. The changes which you are suggesting, I tried earlier but code changes were not working fine and getting below errors. Request you please have a look once. I have added actual line number in front of each code line.
[code]
# poc/awsi/api/resource-watcher/k8s/controller
k8s/controller/controller.go:43:4: cannot refer to unexported name v1.ingress
k8s/controlle

[2021-02-12 14:33] ahg-g commented on #96515
but the scheduler doesn't account for succeeded or failed pods, the final status of job pods...

[2021-02-12 15:05] jayunit100 commented on #99018
- oddly looking at this job , we still use `docker` for the ipvs tests...
![image](https://user-images.githubusercontent.com/826111/107784723-c87a4b80-6d19-11eb-8758-69fa32d0d7da.png)

- but we use `containerd` of course for all the other tests
![image](https://user-images.githubusercontent.com/826111/107784683-ba2c2f80-6d19-11eb-81aa-e61909e4993f.png)

[2021-02-12 15:26] jayunit100 opened #99031 "weird error message for ip6tables-save / restore in ipvs kube proxy logs"
#### What happened:

(update: likely this is benign, but it seems really weird when your reading kube proxy logs)

- in healthy, IPTABLES jobs, the various ip6tables-restore commands are happy....
[code]
- MEANWHILE  in ipvs jobs (healthy, or non healthy, we see that some of the iptables dont exist which makes sense...   why is ipvs kube proxy tyrying to do iptables-restore operations on  the `nat

[2021-02-12 15:31] jayunit100 commented on #99031
/sig network

[2021-02-12 15:32] jayunit100 commented on #99031
maybe this is just part of https://github.com/kubernetes/kubernetes/issues/93456

[2021-02-12 15:36] liggitt commented on #43214
No. Per https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#118, EOL for 1.18 support is 2021-04-30, well before the release of 1.22. A component that wants to continue supporting pre-1.19 versions can:
1. fall back to networking.k8s.io/v1beta1 internally if networking.k8s.io/v1 is unavailable
2. maintain a branch/build that uses networking.k8s.io/v1beta1 for use by pr

[2021-02-12 15:45] #94792 closed

[2021-02-12 15:49] alculquicondor commented on #96515
Oh right, I got confused again.

So, to summarize (and please correct me if I got anything wrong) only Job Pods get Succeeded or Failed status. When that happens, kube-scheduler doesn't account for them.

https://github.com/kubernetes/kubernetes/blob/3e9611297192748eed66d41a36cced25e9a6e494/pkg/scheduler/scheduler.go#L665

For other kinds of Pods, kubelet marks all containers as terminated, but **

[2021-02-12 15:55] Riaankl commented on #98936
/reopen

[2021-02-12 16:04] sethvargo commented on #81127
/remove-lifecycle stale

[2021-02-12 16:04] sethvargo commented on #81127
/remove-lifecycle rotten

[2021-02-12 16:04] sethvargo commented on #81127
/remove-lifecycle stale

[2021-02-12 16:05] vorburger commented on #94428
/assign

[2021-02-12 16:25] alculquicondor commented on #28486
/assign

[2021-02-12 16:30] vsxen commented on #98935
& /var/lib/kubelet ?

[2021-02-12 16:32] alculquicondor commented on #96515
/triage needs-information

[2021-02-12 16:46] #91758 closed

[2021-02-12 16:46] #94772 closed

[2021-02-12 17:11] BenTheElder commented on #99025
Building Kubernetes requires docker docker, not podman. We use buildkit.

[2021-02-12 17:27] #98125 closed

[2021-02-12 17:33] jsafrane commented on #94929
Updated the issue with TODO list.

[2021-02-12 17:39] ankeesler commented on #98451
Alright here is where I am at with desired behavior (forgetting for a second about backwards compatibility):
1. The `exec.Authenticator` should only try to hook up stdin to the exec plugin if the exec plugin declares that it wants to use it
2. The `exec.Authenticator` should return an error if the exec plugin declares that it wants to use stdin and stdin is not a terminal
3. When an exec plugin th

[2021-02-12 17:49] BenTheElder commented on #99025
Though also building kubectl doesn't require build/run.sh or docker, only the images, or kubelet if not building on Linux (need cgo / Linux toolchain which we have in docker).

[2021-02-12 17:50] liggitt commented on #98451
Thanks for thinking through all of that (that reads like a comment that took about three days to write)!

Being explicit (in a new client exec config version) seems like a good idea.

I think I agree with this.

Can we reliably detect stdin is not a terminal? Should client-go be the one to error or should it let the plugin error when reading from stdin fails? I could envision plugins requesting st

[2021-02-12 18:12] MrHohn commented on #93932
@freehan might have the latest on the service controller performance improvement at large scale.

[2021-02-12 18:25] minbaev commented on #98898
HI I'm interested in working on the first two items of the issue, since the third item is already being worked on.
It will be my first contribution to k8s

[2021-02-12 18:29] cbandy opened #99037 "Unable to remove livenessProbe using server-side apply"
#### What happened:

I removed a `livenessProbe` from my SSA intent, but could not apply it due to validation errors.

#### What you expected to happen:

I expected the probe to be removed because there were no more managers of it.

https://kubernetes.io/docs/reference/using-api/server-side-apply/

#### How to reproduce it (as minimally and precisely as possible):

Create an object that has a `liv

[2021-02-12 18:29] yliaog commented on #98963
/help

[2021-02-12 18:33] cbandy commented on #99037
/sig api-machinery

[2021-02-12 18:47] eddiezane commented on #95549
@hchenxa can you please check if this is still an issue?

[2021-02-12 18:48] minbaev commented on #98898
Can work on the first item of the issue since it reached consensus

[2021-02-12 18:48] #92366 closed

[2021-02-12 18:56] jsafrane opened #99039 "Move filesystem resize code to kubernetes/mount-utils"
#### What would you like to be added:
Volume resizing code (https://github.com/kubernetes/kubernetes/blob/master/pkg/util/resizefs/) should be available in kubernetes/mount-utils

#### Why is this needed:
It can be shared among with CSI drivers, reducing code duplication.

/sig storage

[2021-02-12 18:59] ajaysg94 opened #99041 "Alternative to AWS lambda serverless concept in Kubernetes."
I am new to devops world and forgive me if my question doesn't sound logical. My usecase is as follows.
I have 100's of AI models stored in AWS s3 bucket. My organization currently using Kubernetes containers to serve all its different microservices.
How I want my microservice to be implemented using Kubernetes:
When a request comes to a container with a particular model name, corresponding model

[2021-02-12 18:59] apelisse commented on #99037
I've literally just fixed that bug! #99014

[2021-02-12 18:59] apelisse commented on #99037
/triage accepted

[2021-02-12 19:01] alculquicondor commented on #98898
/triage accepted
Feel free to send a PR

[2021-02-12 19:02] apelisse commented on #99037
I'll try and test that exact use-case to see if my fix works well ;-)

[2021-02-12 19:04] jsafrane opened #99042 "Resize filesystems automatically when the block device allows bigger size"
This is follow up of https://github.com/kubernetes/kubernetes/issues/99039

#### What would you like to be added:
Volume resizing code should compare size of a block device with size of the filesystem on it and resize the filesystem to maximum available size automatically. This should be done in kubernetes/mount-utils, as suggested in #99039.

#### Why is this needed:
When a volume snapshot is res

[2021-02-12 19:05] jsafrane commented on #99042
/sig storage

[2021-02-12 19:12] apelisse commented on #99037
OK Just verified, should work fine!

[2021-02-12 19:15] Huang-Wei commented on #98898
Yes, feel free to raise a PR. And you can first walk through the scheduler performance doc for an overall understanding on how it's built.

- https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/README.md#benchmark-tests

[2021-02-12 19:49] Huang-Wei commented on #96515
@alculquicondor For run-to-completion pods, if it's succeeded or failed, a Deletion event will be issued, so in scheduler side, that pod's holding resource will be removed from scheduler cache; otherwise, we'd have been in big trouble :)

Here was [one example](https://github.com/Huang-Wei/tryout-watch-completed-pod) (in particular the "A Pod spawned by Job" section) to verify the case.

[2021-02-12 20:13] Huang-Wei opened #99043 "sched: conventional style of "Set""
In Golang, it's conventional to use `map[string]struct{}` to represent a "Set", instead of of `map[string]bool`. We can cleanup the usage of `map[string]bool` if the boolean value only meant "if the key is present".

Below is a list of usage of `map[string]bool` in scheduler codebase:

[code]

PR is welcome to resolve these nits. And please note:

- Again, please ensure the semantics is just "veri

[2021-02-12 20:13] Huang-Wei commented on #99043
/triage accepted

[2021-02-12 20:14] deepakiam commented on #99043
May I give a shot on this?
/assign

[2021-02-12 20:16] Huang-Wei commented on #99043
Sure, go ahead to open a PR.

[2021-02-12 20:21] apelisse commented on #99037
Fixed by #99014

[2021-02-12 20:56] abelal83 commented on #17512
5 years and still open. I understand there are loads of tools available to check pod resource usage but honestly why not supply a standard one out of the box that's simple to use? Bundling grafana and prometheus with all the monitoring you could require would have been a god send for my team. We wasted months experimenting with different solutions. Please kube mainteners give us something out of t

[2021-02-12 21:09] tculp commented on #17512
/remove-lifecycle stale

[2021-02-12 21:22] mateuszlitwin commented on #98935
You mean what filesystem /var/lib/kubelet is on?

[2021-02-12 21:36] Nuru commented on #91459
@thockin  I am not advocating that you turn PUT into PATCH in general; I am arguing that you should honor the principle that [`PUT` is _idempotent_.](https://restfulapi.net/idempotent-rest-apis/) The definition of the `clusterIP` field in this SPECIFIC case (where the result of PUTting a value does not result in that value being set in the resource) needs be handled specially in order to fulfill t

[2021-02-12 22:22] jayunit100 commented on #99031
@uablrek  any idea on why those ipv6 errors are printed in ipvs code ?

[2021-02-12 22:32] aojea commented on #99031
The proxier is configured in dual-stack mode in the CI

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ipvs/1360316009235353600/artifacts/bootstrap-e2e-minion-group-nhc7/kube-proxy.log

[2021-02-12 22:40] ravisantoshgudimetla opened #99044 "Support 20H2 on kube 1.20 and main branches"
#### What happened:

#### What you expected to happen:
Windows 20H2 is the latest SAC. As a community, we decided to support 2 latest SAC releases, so it is better to get 20H2 tests working in 1.20 along with 1909.

/sig windows
cc @marosset @jayunit100 @jsturtevant

[2021-02-12 22:42] ehashman commented on #94892
Hi all,

Thanks a bunch for your interest in this! As I suggested above, please attend a SIG Node meeting and raise this as a topic. If the response is positive, you can then work on an enhancement proposal (aka a KEP). We could then target development for the 1.22 release cycle as we're in enhancement freeze for 1.21 already.

Cheers!

[2021-02-12 22:52] #94757 closed

[2021-02-12 23:05] kevindelgado opened #99046 "Backport APIService SSA fix to older versions of kubernetes"
Server-side apply for APIService was previously broken (https://github.com/kubernetes/kubernetes/issues/89264) and fixed by https://github.com/kubernetes/kubernetes/pull/98576

Controllers that run on older clusters and want to migrate to SSA need this to work (https://github.com/kubernetes/kubernetes/pull/98576#issuecomment-778492399)

Conflicts might arise due to changes since those previous k8s

[2021-02-12 23:05] kevindelgado commented on #99046
/assign

[2021-02-12 23:31] vsxen commented on #98935
I have same question.
pod = container + empty/ ephemeral storage
container = image + writeable layer
- /var/lib/kubelet set to /dev/dm-1
- /var/lib/docker set to /dev/dm-2

After set  empty size limit ,it doesn't work.

Ref
https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#resource-emphemeralstorage-consumption

[2021-02-12 23:48] jeremyje opened #99047 "Windows httpd and httpd-new test images breaks due to incorrect architecture for PHP library."
#### Which jobs are failing: ci-kubernetes-e2e-windows-gce-20h2 ci-kubernetes-e2e-windows-gce-2004

#### Which test(s) are failing:
* Kubernetes e2e suite: [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic] should have a working scale subresource [Conformance]
* Kubernetes e2e suite: [sig-apps] StatefulSet [k8s.io] Basic StatefulSet functionality [StatefulSetBasic]

[2021-02-12 23:48] jeremyje commented on #99047
/sig windows

[2021-02-13 00:04] jeremyje commented on #99047
/triage accepted

[2021-02-13 00:27] dims commented on #98698
@abhaykatheria good find, yes we want to highlight cost of adding things, but also celebrate the wins when we drop something.

[2021-02-13 02:42] imoisharma opened #99053 "Cannot automatically set CgroupDriver when starting the Kubelet: cannot execute 'docker info -f {{.CgroupDriver}}': executable file not found in $PATH"
#### What happened:
Cgroup driver is not detected by Kubelet on Control Plane Node
![image](https://user-images.githubusercontent.com/30807347/107839546-bd4e1b00-6e00-11eb-958e-214e3588076c.png)

#### What you expected to happen:
Containerd Driver should be detected by Kubelet

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:
I edit the confi

[2021-02-13 03:00] verult opened #99054 "CSI e2e: refactor cleanup functions into a common one"
Tracking bug for https://github.com/kubernetes/kubernetes/pull/98555#discussion_r572335376

/sig storage
/important-longterm
/assign

[2021-02-13 03:01] verult commented on #99054
/sig storage
/triage accepted

[2021-02-13 03:01] verult commented on #99054
/important longterm

[2021-02-13 03:02] verult commented on #99054
/priority important-longterm

[2021-02-13 04:58] #94797 closed

[2021-02-13 05:32] howardjohn commented on #43214
Just the perspective of a Ingress controller implementor - I understand the connection to support window here, but in reality we need to meet our users where they are and there is a huge amount of users on unsupported versions (because they get support from cloud providers). Without double checking I would go as far as to say they *majority* of users. Dropping support for all of these users is unt

[2021-02-13 07:56] BenTheElder commented on #99053
/sig cluster-lifecycle

Ah the docs here are a bit confusing:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#configure-cgroup-driver-used-by-kubelet-on-control-plane-node

You need to pass those values to the `--config` flag of `kubeadm init` like:

- create config file `kubeadm-init-config.yaml`
- add this kubelet snippet to it
  - if you need to do other k

[2021-02-13 08:19] imoisharma commented on #99053
Pardon me, but which snippet you want me to add because I added the snippet from the doc but it's not working.
![image](https://user-images.githubusercontent.com/30807347/107845537-5b0d0e80-6e30-11eb-9b53-9bd2c1e52e8b.png)
![image](https://user-images.githubusercontent.com/30807347/107845549-66f8d080-6e30-11eb-817a-78959e223cf0.png)
would you please correct me what's wrong steps I am performing?

[2021-02-13 08:22] gavinfish commented on #99043
/remove-help

[2021-02-13 08:23] imoisharma commented on #99053
check above

[2021-02-13 08:29] gavinfish commented on #99039
/assign
ramp up storage sig

[2021-02-13 08:34] barosl commented on #86914
While trying to simulate the failure of a pod, I also realized the necessity of this feature. Have you found any other workarounds to send `SIGKILL` to the processes inside a container?

[2021-02-13 08:49] BenTheElder commented on #99053
the config file should contain only:
[code]

**NOTE**: replace `<value>` with your actual value, valid values are `systemd` and `cgroupfs`. The default is `cgroupfs`

your `config.yaml` contains many other fields that should be generated by kubeadm instead.

... but you also only need to do this if containerd is configured to use the systemd cgroup driver, by default containerd/cri uses cgroups fs

[2021-02-13 09:03] imoisharma commented on #99053
`root@ip-172-31-93-56:/var/lib/kubelet# `kubeadm init --config=kubeadm-init-config.yaml
no InitConfiguration or ClusterConfiguration kind was found in the YAML file
To see the stack trace of this error execute with --v=5 or higher

It's giving me this error, I am not sure why? Also, I didn't provide any field in config.yaml. When I open it, it's like as I mentioned above.

`root@ip-172-31-93-56:/v

[2021-02-13 09:05] BenTheElder commented on #99053
if you're using cgroupfs you can skip the `--config` entirely as mentioned above, but you probably want to pass `--cri-socket` (see above), sounds like `kubeadm` is not auto-detecting the socket.

[2021-02-13 09:08] imoisharma commented on #99053
I tried but it's giving me an error. What am I doing wrong now?
![image](https://user-images.githubusercontent.com/30807347/107846345-2486c200-6e37-11eb-99cf-698ebce7b81c.png)

[2021-02-13 09:13] BenTheElder commented on #99053
The correct command is: `kubeadm init --cri-socket=/run/containerd/containerd.sock` (no `.yaml` argument).

don't pass `kubeadm-init-config.yaml` by itself, if you supply that pass it with `--config=kubeadm-init-config.yaml` so it is a flag + flag value instead of an argument / subcommand. in this case though you shouldn't need a `--config`.

[2021-02-13 09:14] vinayakankugoyal opened #99058 "make build-integration-test-image fails in cluster/images/etcd."
#### What happened:
Building the etcd integration-test-image fails with the following err:
Failure Log:
[code]

#### What you expected to happen:
Expected the image build to pass.
#### How to reproduce it (as minimally and precisely as possible):
1. Sync k/k
2. cd cluster/images/etcd
3. make build-integration-test-image
#### Anything else we need to know?:
Change that probably broke it: https://gi

[2021-02-13 09:15] vinayakankugoyal commented on #99058
/sig etcd

[2021-02-13 09:16] vinayakankugoyal commented on #99058
/sig release

[2021-02-13 09:16] imoisharma commented on #99053
I tried the above-mentioned command but still facing the same issue of not recognizing the path.
![image](https://user-images.githubusercontent.com/30807347/107846502-564c5880-6e38-11eb-90f5-0f1e28ed0499.png)

[2021-02-13 09:19] vinayakankugoyal commented on #99058
/sig api-machinery

[2021-02-13 09:21] vinayakankugoyal commented on #99058
/cc jpbetz
/cc wenjiaswe

[2021-02-13 09:28] vinayakankugoyal commented on #99058
/cc @dims

[2021-02-13 09:28] BenTheElder commented on #99053
Setting `--cri-socket` should fix this, that looks like a bug, except that it looks like you still have a past attempt running (e.g. port 6443 will be the apiserver from previous cluster setup?) `kubeadm reset` can undo.

cc @neolit123, I thought there was a bug about --cri-socket handling a while back but I'm not seeing it, I only see. https://github.com/kubernetes/kubeadm/issues/2270 which was f

[2021-02-13 09:43] imoisharma commented on #99053
I reset the kubeadm and run it again with ` kubeadm init --cri-socket=/run/containerd/containerd.sock` Still it's saying the path is not found. (And, I was trying to set up earlier on this server. But ain't go sucess)

![image](https://user-images.githubusercontent.com/30807347/107846939-e17b1d80-6e3b-11eb-9508-3be66205de74.png)

[2021-02-13 09:52] raesene commented on #18982
The is a potential concern with valid certificate and no explicit grants in RBAC, which is that the user will still get any rights assigned to the `system:authenticated` group. Whether that presents a problem, will likely depend on how the cluster operator manages RBAC in their environment, but it's not ideal.

[2021-02-13 11:13] liggitt commented on #43214
client-go would still be capable of using the older APIs. Only the serving side is changing in 1.22.

[2021-02-13 12:47] MrWolfZ opened #99061 "After cluster upgrade from 1.18.9 to 1.19.7 azureFile volume secrets are searched in wrong namespace"
#### What happened:

After a cluster upgrade from 1.18.9 to 1.19.7 `azureFile` volume secrets are searched in wrong namespace.

We have a few pods/deployments that are mounting a volume that points to an azure file share. These pods are in various different namespaces. The volumes are directly specified in the deployment spec, e.g. like this:

[code]

In the same namespace as the deployment we hav

[2021-02-13 12:50] MrWolfZ commented on #99061
/sig cloud-provider

[2021-02-13 13:13] unixfox commented on #90131
/remove-lifecycle stale

[2021-02-13 13:47] neolit123 commented on #99053
@BenTheElder

probably referring to the bug when mixing flag + config for CRI socket:
https://github.com/kubernetes/kubeadm/issues/2039
this is still open.

@imoisharma

note that mixing `--config` with other flags is not encouraged.
most options are available via the config file.

looks like passing the socket fixed the error for you as `init` succeeded.

the unnecessary calls to `docker info` fo

[2021-02-13 13:47] #99053 closed

[2021-02-13 14:31] devopsteachpractice commented on #91600
I see allocated resource for ephemeral storage limit is 0, hence if your pod try to accumulated any logs in the area it would get evicted.

ephemeral-storage  0 (0%)     0 (0%)

[2021-02-13 14:38] uablrek commented on #99031
I don't get similar printouts myself so I can't say anything for sure.

By first check the old re-occuring (and very annoying) "KUBE-MARK-DROP" problem. This chain is usually created by "kubeadm" but so far kubeadm is unaware of dual-stack and has only created this chain for ipv4 (in iptables). Then it needs to be created for IPv6 before kube-proxy is started;
[code]
In my test cluster I _always_

[2021-02-13 14:57] aojea commented on #99031
The ci nodes doesn't have the kernel ip6tables nat modules loaded, hence they fail all the operation related

[2021-02-13 15:05] KornKalle commented on #19317
I came across this issue when cleaning up our staging cluster, which our developers use a lot.
We use a cluster with nodes provisioned through rancher at Digitalocean.
For the other people ending here after googling this issue and looking for an easy way to remove these namespaces, i will leave the shell script I've written for these cases here, please use it with care:

[code]

[2021-02-13 16:06] neolit123 commented on #99041
hi, this tracker is for bugs / features.
please try discuss / slack / stackoverflow for this:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-02-13 16:06] #99041 closed

[2021-02-13 16:09] #89153 closed

[2021-02-13 16:09] #94827 closed

[2021-02-13 17:04] wojtek-t commented on #86484
/remove-lifecycle stale

Still waiting, until we figure out the best tool to setup clusters.

[2021-02-13 17:10] wojtek-t commented on #93932
@MrHohn - I wasn't asking about scale-related aspect, we alrady have a bunch of tests of load-balancers that are enabled; scale is not an issue per-se.
IIUC, the issue is what was debugged in https://github.com/kubernetes/kubernetes/issues/93932#issuecomment-705889377 (and in further comments)

[2021-02-13 18:11] #94808 closed

[2021-02-13 18:11] howardjohn commented on #43214
Ah great,I thought it was removed there too. Supporting both versions should be much easier then. thanks

[2021-02-13 18:51] Hamza-Aziz commented on #53881
you can just run the command `minikube start --driver=virtualbox` with the driver option if you're working with virtualbox

[2021-02-13 19:12] #94837 closed

[2021-02-13 19:25] clarkmcc commented on #96614
@Kanshiroron it wouldn't be random if the same value were applied to all probes. Kubernetes wasn't designed to get into the specifics of your application's life cycle. If all instances of your application require coordination with each other, that's a problem that should be solved in the application layer, not the infrastructure layer.

[2021-02-13 20:25] BubbatheVTOG commented on #50375
+1

[2021-02-13 20:54] BenTheElder commented on #92402
hi @almas33, sorry I didn't see this. please consider joining slack.k8s.io and discussing development in #kubernetes-contributors or similar, this issue is not a very good place to discuss individual changes and people are more available for live help there.

[2021-02-13 21:14] #91042 closed

[2021-02-13 21:14] #90817 closed

[2021-02-14 04:21] #94829 closed

[2021-02-14 05:08] phantooom commented on #98832
/assign

[2021-02-14 06:23] #94245 closed

[2021-02-14 06:53] qiutongs commented on #94085
I simulated the behavior with containerd runtime as well. And everything looks expected, as same as docker runtime.

1. [R1] Kuberuntime CreateContainer with attempt 0
2. [R1] Containerd CRI CreateContainer and went to sleep
3. [R1] Kuberuntime got error DeadlineExceeded
4. [R2] In next SyncPod, Kuberuntime CreateContainer with attempt 0
5. [R2] Containerd CRI CreateContainer and went to sleep
6.

[2021-02-14 06:54] vinayakankugoyal commented on #98908
Few more PRs related to task 2:
https://github.com/kubernetes/kubernetes/pull/99067
https://github.com/kubernetes/kubernetes/pull/99059

[2021-02-14 07:06] qiutongs commented on #94085
My current summary: the Attempt is set properly and it is a not a bug. The Attempt is determined by the current restart count of the container. The error "failed to reserve container name" is expected to happen when Attempt number is the same. Once container manager(docker or containerd) can complete the CreateContainer request within runtime-request-timeout, the pod will be created successfully i

[2021-02-14 07:52] qiutongs commented on #94085
Feel free to reopen the issue.

/close

[2021-02-14 07:52] #94085 closed

[2021-02-14 10:27] #93897 closed

[2021-02-14 14:31] rikatz commented on #87709
@abhiraut I think we can bring this one again to netpol meeting right?

[2021-02-14 14:32] rikatz commented on #83400
/assign @abhiraut

I guess this is really close to the Cluster Scoped NetPol proposal

[2021-02-14 14:48] jayunit100 commented on #98840
/assign @dougsland

[2021-02-14 14:50] jayunit100 commented on #98994
/assign

[2021-02-14 14:50] jayunit100 commented on #98994
/triage accepted

[2021-02-14 14:59] jayunit100 commented on #99031
hmmm ok so is the issue here that we need to load that module in the CI jobs?

[2021-02-14 15:01] rikatz commented on #99031
signing here because I want to at least find why ip6tables restore is called on kube-proxy ipvs things :D

[2021-02-14 15:08] cynepco3hahue opened #99070 "Memory manager e2e tests fail"
#### Which jobs are failing:
e2e-memory-manager

#### Which test(s) are failing:
Different tests under the memory manager lane

#### Since when has it been failing:

#### Testgrid link:
https://testgrid.k8s.io/sig-node-kubelet#kubelet-serial-gce-e2e-memory-manager

#### Reason for failure:
The node does not have configured hugepages
[code]

#### Anything else we need to know:

[2021-02-14 15:10] aojea commented on #99031
I think that kube-proxy should implement something similar to what @danwinship implemented in kubelet https://github.com/kubernetes/kubernetes/pull/95378

The nat table for IPv6 was added in 3.7

and it seems that it may be not present in some systems.

/cc @thockin

[2021-02-14 15:17] liggitt commented on #98994
Some of the work @thockin did recently to allow moving endpoint and lease cleanup logic into the strategy would likely make this more possible, but needs to be carefully tested.

/assign @thockin

[2021-02-14 16:54] Riaankl commented on #98640
[PR98126 ](https://github.com/kubernetes/kubernetes/pull/98126) merged to promote patchAppsV1NamespacedStatefulSetScale
PR's for Read, Replace, and Patch of [ReplicaSet](https://github.com/kubernetes/kubernetes/pull/98987) & [Deployment](https://github.com/kubernetes/kubernetes/pull/98988) endpoints are merged and could be promoted to conformance by 26 Feb if they show no flakes on the test grid:

[2021-02-14 18:08] Antiarchitect commented on #98283
@eddiezane @soltysh Can I provide you with any additional info?

[2021-02-14 18:35] #80399 closed

[2021-02-14 19:45] liggitt commented on #99061
#97417 and #97450 look related

/assign @andyzhangx @feiskyer

[2021-02-14 19:59] liggitt opened #99076 "kubectl-convert is not included in release artifacts"
#### What happened:

`kubectl convert` was removed in 1.20 in favor of a `kubectl-convert` plugin. However, this is not included in release artifacts.

#### What you expected to happen:

The binary is included in release artifacts, and ideally easily installable via kubectl plugin managers like `krew`.

/sig cli
/assign @soltysh

[2021-02-14 20:00] liggitt commented on #99076
This question came up in a docs review of a page referencing `kubectl-convert` (https://github.com/kubernetes/website/pull/26483#discussion_r575838774)

Once this is resolved, please ensure the website is updated to document installation/use of this tool.

[2021-02-14 21:00] JacobHenner commented on #88709
Would this new resource be consumed by k8s itself (e.g. could it be used to create a volume), or would it be primarily intended for consumption by applications and custom controllers running within the cluster?

[2021-02-14 22:57] robscott commented on #92776
Looks like this is still happening, just less frequently: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=EndpointSlice%20should%20create%20and%20delete%20Endpoints%20and%20EndpointSlices%20for%20a%20Service%20with%20a%20selector%20specified.

Some recent examples:

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sstable1-default/13602119099571

[2021-02-14 23:08] Riaankl commented on #98920
/reopen

[2021-02-14 23:13] Riaankl commented on #95129
/remove-lifecycle stale
Will be addressed late in 1.21

[2021-02-15 00:18] EthanSedgwick commented on #96569
/remove-lifecycle stale

[2021-02-15 00:59] andyzhangx commented on #99061
@MrWolfZ could you use the workaround mentioned here: https://github.com/Azure/AKS/issues/2108#issuecomment-776672612

[2021-02-15 01:37] andyzhangx commented on #99061
/area provider/azure

[2021-02-15 01:42] #93649 closed

[2021-02-15 03:32] rclemsmith commented on #99005
Hi, Im a newbie to Open Source Contribution. Can more than one person work on solving an issue. If so, I would like to help on fixing this issue. And can you direct me where to start ?

[2021-02-15 09:50] #94878 closed

[2021-02-15 10:10] MrWolfZ commented on #99061
@andyzhangx While it would probably be possible to use that approach, the other one with declaring the volume directly in the pod spec is still mentioned in the docs/examples, so I would expect it to continue working. And it would take quite some time (which I don't have right now) to migrate all our deployments to the alternative approach.

As one comment in the linked issue mentioned, it is tota

[2021-02-15 13:24] maxlaverse opened #99094 "Kubelet stuck in DiskPressure when imagefs.minReclaim is set"
#### What happened:
##### Short version
When both `evictionSoft.imagefs.available` and `evictionMinReclaim.imagefs.available` parameters are set on Kubelet, they act as the upper and lower thresholds that define how the `DiskPressure` state is entered and exited. When trying to remediate a `DiskPressure`, Kubelet performs different operations to free up space. In order to decide if it has freed up

[2021-02-15 13:26] maxlaverse commented on #99094
/sig node

[2021-02-15 13:50] danielamlins commented on #99005
Right now I am working on TestValidateNetworkPolicy in pkg/apis/networking/validation/validation_test.go. I think you can grab another test or another test file if you wish, let's just write it down here in the issue.

[2021-02-15 14:23] bibinphilip commented on #93712
Hello Guys,
Could anyone look into this? I am facing this issue and really appreciate if anyone can guide on this. Or else it would be better to provide a tutorial on setting up kubernetes cluster & kubelets on worker nodes in Alpine Linux.

[2021-02-15 14:57] seb54000 opened #99096 "LimitRange should enforce min/max for request and not only limit"
#### What would you like to be added:
Enhance LimitRange object/api to be able to set min/max value not only for the limit value of resource but also for request. New LimitRange may look like this in yml :
[code]

#### Why is this needed:
We have many namespaces on same cluster owned by multiple clients/tenants. The tend to have bad habits and make high requests which blocks other pods to be sched

[2021-02-15 14:59] seb54000 commented on #99096
/sig scheduling

[2021-02-15 15:36] jvidal-sysadmin commented on #45234
It seems this feature was introduced in version [1.19](https://groups.google.com/u/2/g/kubernetes-announce/c/oX-AjJkYhH4):

Search the next in the announce:
`service.beta.kubernetes.io/aws-load-balancer-target-node-labels annotation to target nodes in AWS LoadBalancer Services`

Detailed doc: https://v1-19.docs.kubernetes.io/docs/concepts/services-networking/service/#other-elb-annotations

[2021-02-15 15:41] segevfiner commented on #45234
But only for AWS, using an AWS specific annotation.

[2021-02-15 15:58] JornShen commented on #99005
There are two methods `TestValidateIngressClass ` and `TestValidateIngressClassUpdate` inpkg/apis/networking/validation/validation_test.go  ,  I think you can try to refactor.

Other method I see already have related tweaks operation.

@rclemsmith

[2021-02-15 16:02] unixfox commented on #2630
/remove-lifecycle stale

[2021-02-15 16:20] disznakul commented on #65575
Initial setup of kube on mac : error on viewing the pods.
Kubectl get pods
Unable to connect to the server: remote error: tls: handshake failure

I'm able to view kubectl config view (list of contexts)

[2021-02-15 17:37] daganida88 opened #99100 "Pod is restarting with exit code 137 although there is no memory issue"
#### What happened:
Getting the following errors in kubelet:
kuberuntime_manager.go:920] PodSandboxStatus of sandbox "b6055868eff0f21515055bec2c5662a9d53b6a09eb41d01bef3f83d27d1bb216" for pod "k8sapi-64cf86488d-c7sgx_trax(f2a8a616-24b1-41a8-a4b8-32efd55c9571)" error: rpc error: code = Unknown desc = Error: No such container: b6055868eff0f21515055bec2c5662a9d53b6a09eb41d01bef3f83d27d1bb216

#### Wh

[2021-02-15 18:39] apelisse commented on #89374
It's unclear what problem we're trying to solve here? Can you clarify?

[2021-02-15 18:41] apelisse commented on #99003
Yeah, we don't have that feature, and since it's the first time someone asks for it, I'm not sure how widely needed this is. An alternative workaround is to remove the entry from ManagedFields (use at your own risk).

[2021-02-15 18:43] aermakov-zalando commented on #99003
This is a problem for `kubectl apply --server-side` as well, though, do you intend to special-case this only for that field manager somehow?

[2021-02-15 18:56] apelisse commented on #99003
Julian and I talked about this and we'll see how we can address it specifically for `kubectl`.

[2021-02-15 18:58] aermakov-zalando commented on #99003
I see. It'd be nice if custom controllers could benefit from this (since as far as I understand one of the stated goals of SSA was to make `kubectl apply` less magical), but in the worst case I can just reuse the same field manager name.

[2021-02-15 19:19] neolit123 commented on #99100
this version is no longer in support in upstream k8s. the oldest supported is 1.18

please contact the EKS support and get feedback from them.
if this is a problem with 1.18, reopen the issue with more details.

/remove-kind bug
/kind support
/close

[2021-02-15 19:19] #99100 closed

[2021-02-15 19:19] neolit123 commented on #99070
/sig node

[2021-02-15 19:40] skraga commented on #72320
Hello, we're facing the same issue. We use Prometheus StatefulSet with VerticalPodAutoscaler and when Prometheus got OutOfMemory it stuck in CrashLoopBack forever. VPA is not able to evict the pod to increase the resources (infinite loop).

[2021-02-15 19:51] liggitt commented on #99046
Before we backport, it looks like the dual-registration of the openapi/v2 handler for kube-aggregator is producing a spurious error message in the log:

[code]

probably want to resolve that before backporting

[2021-02-15 20:05] Huang-Wei commented on #96478
/remove-lifecycle stale

[2021-02-15 20:25] apelisse commented on #99003
Maybe I'm wrong but I don't expect this to be very frequent. Removing the managed fields is still a fairly easy operation to run in any language.

[2021-02-15 20:26] apelisse commented on #99003
@julianvmodesto That might be an option for the client (kubectl) too, just remove the "kubectl-client-side-applied" manager when server-side apply is ran.

[2021-02-15 20:31] apelisse commented on #99046
So this doesn't affect the behavior but still panics?

[2021-02-15 20:33] liggitt commented on #99046
it's not a panic, it's logging the stack trace of the handler that was overwritten

[2021-02-15 21:04] kfox1111 commented on #88622
Still a problem. Worked around it for now. Should be fixed eventually though.

/remove-lifecycle stale

[2021-02-15 21:32] ahg-g commented on #87526
/remove-lifecycle stale

AlgorithmSource was removed from component config external API, but still exist in the internal type to support the legacy policy API.

[2021-02-15 22:49] aapjeisbaas commented on #50375
+1

[2021-02-15 23:02] jvidal-sysadmin commented on #45234
Correct, but since 2017...something is something!

[2021-02-15 23:10] spiffxp commented on #98326
re: https://github.com/kubernetes/kubernetes/issues/98326#issuecomment-777267226

/assign @stevekuznetsov
(also maybe @ehashman knows)

at one time I thought Openshift was relying on `[k8s.io]` to filter out upstream tests for certain jobs?  I don't see that it's consistently applied some I'm assuming we could drop `[k8s.io]` from our tests? (I said as much here: https://github.com/kubernetes/kube

[2021-02-16 00:40] mortent commented on #72320
@skraga The question about whether it is safe to evict crashlooping pods when they are covered by a PDB is discussed in some detail in https://github.com/kubernetes/kubernetes/pull/94381. The current stance on this is that it would not be safe to evict them and therefore this is a situation that will require manual intervention.

[2021-02-16 00:49] Jeffwan commented on #97262
@wojtek-t @lavalamp  Do you know if community talks about other storage like documentDB(I know kubernetes is totally on etcd now.)? Seem label selector, field selector can be mapped to DB level then. APIServer will become lightweight and won't have that many unnecessary serializations. I am not sure if watch/release is major blocker to move to that way.

[2021-02-16 00:50] arashout commented on #60845
@dvaldivia have you figured out where in the life cycle we should be calling `UpdateStatus`? I'm trying to call `UpdateStatus` within the `Reconcile` loop when using `kubebuilder` framework and I get the "not found" error you described above.

[2021-02-16 01:23] Huang-Wei commented on #73698
I cannot reproduce this on a v1.20.2 Kind cluster, but I tried to look into the source code:

1. It appears controller-manager is responsible for updating the ResourceQuota's usage.
2. The Quota admission logic relies on reading the RQs from a [rqAccessor(lister)](https://github.com/kubernetes/kubernetes/blob/9e5fcc49ec568f222a5274f443903d89fec3e591/staging/src/k8s.io/apiserver/pkg/admission/plugi

[2021-02-16 01:26] Huang-Wei commented on #73698
@rtheis can you try to reproduce the issue again with an extra step printing the ResourceQuota's usage, before & after step 5?

[2021-02-16 02:33] sxllwx commented on #98606
Regardless of WithCache or WithoutCache, [the value of this Timeout setting](https://github.com/kubernetes/kubernetes/blob/9e5fcc49ec568f222a5274f443903d89fec3e591/test/integration/apiserver/admissionwebhook/timeout_test.go#L127) here is not reasonable.

[2021-02-16 05:51] Huang-Wei commented on #98828
Can you be more specific? Annotations, labels, or other fields?

---

I noticed some inconsistency in the code: if the updated Pod is not an assumedPod (i.e., [skipPodUpdate] returned false), the behavior differs upon which queue it's present:

- if it's in backoffQ, it's moved unconditionally to activeQ
- if it's in unschedulableQ, it firstly check [isPodUpdated], and then update in place (if unc

[2021-02-16 06:59] krystiannowak commented on #83471
/remove-lifecycle stale

[2021-02-16 07:27] breunigs commented on #51475
/remove-lifecycle stale

[2021-02-16 08:51] aojea commented on #95515
/assign

[2021-02-16 08:52] aojea commented on #99031
/assign

[2021-02-16 09:18] pacoxu commented on #99096
LimitRanger supports ratio. In your example, you can set the ratio to be 8 or 10. An example below is from [openshift example](https://docs.openshift.com/container-platform/3.5/admin_guide/limits.html)
[code]

- Enforce a ratio between request and limit for a resource in a namespace.

[2021-02-16 09:36] aermakov-zalando commented on #99003
I don't think it's that easy. This only works if the manifest that's applied with `--server-side` for the first time is exactly the same as the one that was previously applied client side, for obvious reasons. If they're not, in addition to removing the managed fields I now have to cleanup the values myself, which means I have to effectively reimplement the apply logic on my own. Even then, turnin

[2021-02-16 09:39] pacoxu commented on #84298
/cc wzshiming

[2021-02-16 09:39] pacoxu commented on #84298
/cc @wzshiming

[2021-02-16 09:56] wojtek-t commented on #97262
Yes - watch is must have. K8s depends on watch pretty much everywhere.

[2021-02-16 10:51] Siegfriedk commented on #63726
I would like to add my use case: Running an image as non root makes it quite complicated to update a trust store with a certificate which is deployment specific;

Like for a proxy, we generate the proxy ca with the deployment and would need to tell the deployment to trust that certificate.

Other tools like cilium (i believe) make this easier as you have that root ca available earlier, so you coul

[2021-02-16 10:59] sachincool commented on #95983
Facing the same issue @sabirmmoglad, were you able to resolve this?
Kubernetes v1.19.7
I was playing around with 2048 game and trying aws ALB and kubernetes-nginx-ingress controllers, and achieved the same state somehow.
@dfang I researched about finalizers, is there an api for ingress where I can upload the empty finalize array ingress object so K8s can remove it?.  during my research I could fin

[2021-02-16 11:14] Mitali-Y-sap commented on #94764
We are observing the same issue and its happening more frequently in our setup. Steps are similar to what @jakob-kr  has mentioned in the issue description except that we are not deleting the PVCs or PVs but we are creating and deleting pod in a loop.

1) Kubelet log during PVC mount failure (`<pvc1>` (aka azure managed disk `<disk1>`) is unable to mount):
[code]

2) Based on the debug link that @

[2021-02-16 11:30] yaminisridaran opened #99113 "How to allow access to kubernetes api using egress network policy"
If the matter is security related, please disclose it privately via https://kubernetes.io/security/
-->

#### What happened:
PodA has 3 containers, c1,c2,c3. c1 communicates  to c2 via http://127.0.0.1:6000.
I created  egress network policy for  PodA. "curl -I http://127.0.0.1:6000" fails when  I execute the curl command from c1.

Egress Spec:
[code]
#### What you expected to happen:
egress networ

[2021-02-16 11:36] joshlk commented on #79606
If you want to wait until a deployment is finished, you can do the following:

[code]

[2021-02-16 13:03] pasimoes commented on #72320
I am facing the same issue trying to drain a worker node to upgrade the cluster. The drain command is in a loop trying to evict the calico-kube-controllers pod and could not because of PDB. And, calico-kube-controllers is in CrashLoopBackOff.

[2021-02-16 13:05] haroonb opened #99116 "[Question] podaffinity / pin pods to specific to availibility zones"
![image](https://user-images.githubusercontent.com/62880411/108065114-d273b580-705d-11eb-8d31-7658a8311bfa.png)
/sig architecture
Hello everyone,
I'm trying to understand, if it is possible ( and how ) to pin pods of statefulsets to specific availibility zones. In the example above I would like to explicitly configure, that elastic pod 1 runs in availibility zone 1, pod 2 in availibility zone 2 an

[2021-02-16 13:14] haroonb commented on #99116
/sig architecture

[2021-02-16 13:27] liggitt commented on #97256
/triage accepted
/kind documentation
/priority important-longterm

[2021-02-16 13:30] liggitt commented on #64783
hoisting from the [linked enhancement proposal](https://github.com/kubernetes/enhancements/pull/1749#issuecomment-755738311):

/close

[2021-02-16 13:30] #64783 closed

[2021-02-16 13:30] liggitt commented on #97851
hoisting from the [linked enhancement proposal](https://github.com/kubernetes/enhancements/pull/1749#issuecomment-755738311):

/close

[2021-02-16 13:31] #97851 closed

[2021-02-16 13:34] liggitt commented on #92574
The `You must be logged in to the server (Unauthorized)` error indicates the credential you are using is not recognized by the server. Verify the issued certificate is a valid client certificate and is signed by an authority included in the kube-apiserver's `--client-ca-file` bundle.

/close

[2021-02-16 13:34] #92574 closed

[2021-02-16 13:35] liggitt commented on #19079
There are no plans to introduce API objects representing authenticated identities at this time.

/close

[2021-02-16 13:35] #19079 closed

[2021-02-16 13:40] #91070 closed

[2021-02-16 13:42] liggitt commented on #98877
Did you follow the instructions in https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data to enable at-rest encryption? Can you provide the encryption config file (scrubbing any secret key data) and the kube-apiserver invocation you are using?

[2021-02-16 13:44] liggitt commented on #98871
node-level runtime configuration driven via the API would be sig-node's domain

/remove-sig auth

[2021-02-16 13:52] liggitt commented on #7961
sig-auth does not own configuration of cluster addons. Several of the mentioned addons are no longer run at all. This unowned umbrella issue is clearly not making progress. I would suggest:
1. identify which components are being deployed by kube-up or kubeadm
2. create individual issues tracking running them with reduced privileges
3. close this issue

/assign @vinayakankugoyal

[2021-02-16 13:52] skraga commented on #72320
@mortent I think it might be better to have it configurable with defaults to the safe option. VPA helps a lot with setting proper resources and in this case, we're forced to stop using PDB.

[2021-02-16 14:09] michaelgugino commented on #72320
The current state of the world (as of kube 1.20 I believe) is that if one or more pods are disrupted AND you have enough healthy replicas according to the PDB (eg, 1 pod in crashloop, 2 healthy, PDB configured to allow 1 disruption), you can successfully drain a node with the crashing pod.

If you have not enough healthy pods, the entire point of PDB is to prevent pods from being drained.  The bes

[2021-02-16 14:18] #89064 closed

[2021-02-16 14:25] neolit123 commented on #99116
for support questions please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or in this case you can try #sig-scheduling on k8s slack.

/close
/remove-sig architecture
/sig scheduling
/kind support

[2021-02-16 14:25] #99116 closed

[2021-02-16 14:26] neolit123 commented on #99076
/sig release

[2021-02-16 14:27] neolit123 commented on #99113
/sig network

[2021-02-16 14:29] alculquicondor commented on #96436
/remove-lifecycle stale

[2021-02-16 15:55] sachincool commented on #95983
update:
I was able to delete the resource, by reinstalling alb-ingress-controller again and then my k8 controller was able to successfully remove the ingress object. then I removed the alb-ingress-controlled again. 😄

[2021-02-16 16:25] MikaelSmith commented on #67761
Also see this when installing the GitLab helm chart in CI
[code]
which causes that operation to fail.

[2021-02-16 16:43] fredleger commented on #50375
Let's keep this issue active until it reaches something :-)

[2021-02-16 16:48] danwinship commented on #99031
I think it's mostly just about whether IPv6 is enabled, not about the kernel version.

[2021-02-16 17:03] DaveWHarvey commented on #72320
This behavior is better.
There are two CrashLoopBackoff cases that are still interesting:

- When deleting the pod and allowing the controller to recreate will resolve the problem.   This is orthogonal to eviction.
- Where the node itself if the cause of the pod not working.
Allow the controller define behavior on crashLoopBackoff, e.g., allow it to recreate the pod rather than the pod continually

[2021-02-16 17:05] ravisantoshgudimetla opened #99123 "Failing test `Deployment deployment should support proportional scaling"
#### Which jobs are failing:
aks-engine-azure-windows-master-containerd
#### Which test(s) are failing:
Kubernetes e2e suite.[sig-apps] Deployment deployment should support proportional scaling [Conformance]
#### Since when has it been failing:
02/11
#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-windows-master-containerd
#### Reason for failure:
[code]

[2021-02-16 17:11] BenTheElder commented on #92162
/remove-lifecycle stale

[2021-02-16 17:14] ravisantoshgudimetla opened #99124 "Basic StatefulSet functionality [StatefulSetBasic] should have a working scale subresource test failing on Windows"
#### Which jobs are failing:
aks-engine-azure-windows-master-containerd
#### Which test(s) are failing:
Basic StatefulSet functionality [StatefulSetBasic] should have a working scale subresource test failing on Windows
#### Since when has it been failing:

#### Testgrid link:

#### Reason for failure:

[code]

#### Anything else we need to know:

/sig windows

[2021-02-16 17:17] nckturner commented on #92162
I'll update https://github.com/kubernetes/kubernetes/pull/93260 today or tomorrow.

[2021-02-16 17:20] fbsb opened #99126 "Node does not become NotReady with read only filesystem"
#### What happened:

We noticed on our clusters on bare-metal that nodes do not become `NotReady` after a read only remount by the kernel e.g. due to a filesystem corruption. This causes pods to get scheduled on the node but fail to start as the kubelet cannot create directories for the pod.

#### What you expected to happen:

Kubelet should notice that it cannot write to the filesystem and preven

[2021-02-16 17:20] ravisantoshgudimetla commented on #99123
/assign @claudiubelu

[2021-02-16 17:21] wzshiming commented on #88406
/remove-lifecycle rotten

[2021-02-16 17:28] hammad13060 commented on #98698
I'd like to contribute to this issue. How can I get started?

[2021-02-16 17:36] Riaankl commented on #90917
/close

[2021-02-16 17:36] #90917 closed

[2021-02-16 17:53] jayunit100 opened #99128 "Make windows tests resilient to multiple cloud/installer scenarios w taints, selectors, rc's"
#### What would you like to be added:

- potentially use runtimeClass as the common mechanism for all e2es
- add tolerations for windows nodes to all windows e2es
- add node selectors for all windows nodes to all windows e2es

#### Why is this needed:

Right now, tests have variable results on EKS/AKS/TKG... different clouds, because some clouds may taint, some may label, and some may require runt

[2021-02-16 17:53] jayunit100 commented on #99128
/sig windows

[2021-02-16 17:55] jayunit100 commented on #99128
@ravisantoshgudimetla  any suggestion on how i should deal with  #98077 for this one ?

[2021-02-16 17:56] sftim commented on #81127
I hope it's OK to add
/sig security

[2021-02-16 17:59] amehub opened #99129 "Gluster Error - backup-volfile-servers suspect"
#### What happened:
4 node gluster, replica 3.  Mount gluster volume in pod fails with

E [glusterfsd.c:825:gf_remember_backup_volfile_server] 0-glusterfs: failed to set volfile server: File exists

#### What you expected to happen:
The pod to mount the volume.

#### How to reproduce it (as minimally and precisely as possible):
Create 4 node gluster with Heketi
Create storage class with replica 3

[2021-02-16 18:12] #84165 closed

[2021-02-16 18:13] #98953 closed

[2021-02-16 18:14] randomvariable commented on #81127
/assign
/lifecycle active

[2021-02-16 18:53] jsturtevant commented on #99124
The image httpd image for windows was pulling a win32 binary and should be resolved by https://github.com/kubernetes/kubernetes/pull/99030

[2021-02-16 18:58] jsturtevant commented on #99124
/assign @claudiubelu @chewong

[2021-02-16 18:59] jsturtevant commented on #99123
This test was using the httpd image similiar to https://github.com/kubernetes/kubernetes/issues/99124 and should be fixed by #99030.  closing in favor of #99124

/close

[2021-02-16 18:59] #99123 closed

[2021-02-16 19:06] randomvariable commented on #81127
/unassign
/lifecycle frozen

Just realised we also need to consider what KMS is using.

[2021-02-16 19:10] jsturtevant opened #99132 "[Failing test] [sig-windows] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggregator [Conformance]"
#### Which jobs are failing:

https://testgrid.k8s.io/sig-windows-releases#aks-engine-azure-windows-master-containerd

#### Which test(s) are failing:

Kubernetes e2e suite: [sig-api-machinery] Aggregator Should be able to support the 1.17 Sample API Server using the current Aggregator [Conformance]

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-win

[2021-02-16 19:11] jsturtevant commented on #99132
resolved by https://github.com/kubernetes/kubernetes/pull/99131

[2021-02-16 19:16] jsturtevant commented on #99132
The sig-windows `image-repo-list` that uses this is: https://github.com/kubernetes-sigs/windows-testing/blob/master/images/image-repo-list-master

[2021-02-16 19:23] aojea commented on #99031
IIRC this specific error in the CI is about the nat module only

Anyway, you fixed it :clap:
/unassign
/assign @danwinship

[2021-02-16 19:25] jsturtevant commented on #99047
/cc @claudiubelu @chewong

should be resolved by #99030

[2021-02-16 19:25] jsturtevant commented on #99124
This is a duplicate of #99047 which has the root case

/close

[2021-02-16 19:25] #99124 closed

[2021-02-16 19:26] jsturtevant commented on #99132
/sig windows
/triage accepted

[2021-02-16 19:32] jsturtevant commented on #99028
similar too https://github.com/kubernetes/kubernetes/issues/97783. disabled it for some tests in https://github.com/kubernetes/test-infra/pull/20396. Looks like we missed disabling it from those tests above

[2021-02-16 19:35] seb54000 commented on #99096
@pacoxu , thanks for your input but I'm not sure it will solve my problem.

I'd like to constraint my client so they have to stay on low value for requests. Let's say I want them to have no more than 100m cpu on request for a container but it is OK theyput a limit until 2000m (so it mathc you r example)

With your config, they can still ask to schedule a container with a request 500m.

[2021-02-16 19:35] sfudeus commented on #99126
/sig node

[2021-02-16 19:37] lavalamp commented on #97262
Yes it would be a major undertaking to change this.

We don't have any plans to work on this currently. The bottleneck is not thinking of the idea (e.g. as recorded above) it is (finding people to do the) designing and implementing / reviewing.

/close

[2021-02-16 19:37] #97262 closed

[2021-02-16 19:37] chewong commented on #99047
Currently blocked because there are some issues pushing the httpd test images to `gcr.io/k8s-staging-e2e-test-images`. Slack thread: https://kubernetes.slack.com/archives/CCK68P2Q2/p1613471846127000

[2021-02-16 19:43] Riaankl opened #99134 "Write ReplicaSet Replace and Patch Test +2 Endpoints"
# Progress <code>[4/5]</code>

-   [X] APISnoop org-flow : [ReplicaSetScaleTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/)
-   [X] test approval issue : [kubernetes/kubernetes#99134](https://github.com/kubernetes/kubernetes/issues/99134)
-   [x] test pr : kuberenetes/kubernetes[#99380](https://github.com/kubernetes/kubernetes/pull/99380)
-   [x] two weeks soak start date : [Li

[2021-02-16 19:59] BenTheElder commented on #99129
/sig storage

[2021-02-16 20:11] zfrhv opened #99136 "import keycloak groups to kubernetes"
#### What would you like to be added:
be able to sync the groups from keycloak to kubernetes

#### Why is this needed:
its easy to manage users and groups from keycloak, importing them to kubernetes will facilitate users management.
it also allows to import groups from other identity providers:
for example we can import to keycloak all the groups and users from google, ldap, or any other identity

[2021-02-16 20:14] abhiraut commented on #87709
yes.. thanks for bringing it up!

[2021-02-16 20:15] zfrhv commented on #99136
/sig auth

[2021-02-16 20:23] abhiraut commented on #83400
very much indeed. here is the slide deck to the proposal for cluster scoped policies, we will open a KEP shortly based on this https://docs.google.com/presentation/d/1Jk86jtS3TcGAugVSM_I4Yds5ukXFJ4F1ZCvxN5v2BaY/edit#slide=id.g401c104a3c_0_0

and link to your issue as well

[2021-02-16 20:30] nstogner commented on #96230
Any thoughts on this?

[2021-02-16 20:52] jsturtevant commented on #92963
This work is proposed as part of the windows kep to support Privileged containers: #2288

[2021-02-16 20:59] jsturtevant commented on #93945
/remove-lifecycle stale

[2021-02-16 21:14] fedebongio commented on #73698
we took a look to this one, will wait until next triage to see if the author could reproduce it again as suggested.

[2021-02-16 21:15] fedebongio commented on #99046
/triage accepted

[2021-02-16 21:15] deads2k commented on #73698
Recall that ResourceQuota admission is off by default.  Be sure you have turned it on: https://github.com/kubernetes/kubernetes/blob/1119a505aca14467accedf850daf30aa9c532ef2/pkg/kubeapiserver/options/plugins.go#L152

[2021-02-16 21:15] fedebongio commented on #99058
/assign @jingyih @wenjiaswe
/triage accepted

[2021-02-16 21:29] wenjiaswe commented on #99058
@vinayakankugoyal is working on this in #99059.

[2021-02-16 21:34] swetharepakula commented on #93932
I will prioritize fixing this test this week.

[2021-02-16 21:45] #90053 closed

[2021-02-16 21:45] #96896 closed

[2021-02-16 23:09] Michael-Sinz commented on #93474
Any progress on this issue?

[2021-02-16 23:26] jmmen1 commented on #95983
I have also ended up in this situation, using the aws-load-balancer-controller. Sadly, deleting and then recreating the controller still causes kubectl to hang when deleting the ingress.

Anyone else have more ideas for me to try?

[2021-02-16 23:45] jsturtevant commented on #99044
@jeremyje has started some work on the GCE side: https://testgrid.k8s.io/sig-windows-sac#gce-windows-20h2-master

[2021-02-16 23:58] sh0rez commented on #90066
IMO `kubectl-neat` does is a pretty good workaround until we have a permanent solution.

For people making heavy use of `kubectl diff`, I've written a custom `KUBECTL_EXTERNAL_DIFF` tool to apply `kubectl-neat` to your diff output as well: https://github.com/sh0rez/kubectl-neat-diff

[2021-02-17 00:28] jsturtevant commented on #98680
this is limitation of the Windows OS and the feature will be tracked in microsoft/Windows-Containers#93.  If anyone comes across this later and has use cases or urgent needs please update that issue so we can collect information for prioritization at the OS layer

Thanks @perithompson for updating the docs!

/close

[2021-02-17 00:29] #98680 closed

[2021-02-17 00:34] jsturtevant commented on #95226
For the aks-engine Containerd test cases we lowered the number of [concurrent tests](https://github.com/kubernetes/test-infra/pull/20613) running to the tests concurrency value we had prior to 1.19 and this has gone away. I am continuing to looking into if this was a regression or if #98102 is releated.

[2021-02-17 00:43] tallclair commented on #75563
Yep, thanks.

[2021-02-17 00:43] #75563 closed

[2021-02-17 00:43] tallclair commented on #82295
/remove-lifecycle stale

[2021-02-17 00:43] tallclair commented on #82295
/help

[2021-02-17 00:47] jsturtevant commented on #98102
Still seeing this error in the latest test runs. I also saw memory slowly tick up with these errors in the logs when scaling simple IIS images.

/triage accepted
/assign

[2021-02-17 00:50] 2rs2ts commented on #72320
@pasimoes I believe `calico-kube-controllers` has to be run with a single replica, so you should not use a PDB for it. So I think in your case you can bypass this issue.

[2021-02-17 00:55] SergeyKanzhelev commented on #92963
I think previous comment referred to https://github.com/kubernetes/enhancements/pull/2288

Since it is being worked on,

/remove-lifecycle stale

[2021-02-17 00:58] wilsonehusin commented on #96692
@saschagrunert oops, I forgot to get back on this last week -- I meant to say that I need a reference for `go-runner` image which I can use as `BASEIMAGE`, so something like `FROM k8s.gcr.io/...` on Dockerfile. Is that a possible thing to do?

[2021-02-17 01:11] apelisse commented on #99003
You're right, I don't think we would remove the fields merely because the manager was removed, but let me try to reproduce first.

Again, I don't expect this to be a very frequent process or that it'll be massively used by people (especially outside kubectl).

Is that a solution for your use-case? Client-side apply and then remove the annotation, then you can server-side apply freely? I know it's

[2021-02-17 01:13] wilsonehusin commented on #96692
after searching around, I found this -- https://github.com/kubernetes/k8s.io/blob/79d3eaeb40e36c238abac666b1ed09026fbbc625/k8s.gcr.io/images/k8s-staging-build-image/images.yaml#L205-L218

going to try and use `latest-buster` and see how it works :smile:

[2021-02-17 01:16] jsturtevant commented on #92963
Yes That's the right one.

[2021-02-17 01:41] dougsland commented on #90066
Issue resolved via https://github.com/kubernetes/kubernetes/pull/96878 @knight42
I assume we can close this one.

By default now managed fields are not showing up
[code]

To show managed fields:
[code]

[2021-02-17 01:51] ahg-g commented on #98895
The logs don't show which predicate filtered the node, but it could be that the node doesn't have enough resources to host the pod, or there are unsatisfied pod affinity constraints, or taints that the pod don't tolerate...

[2021-02-17 02:08] ahg-g commented on #98928
Yes, this is possible in the case where there are static pods being created. I am not sure how this is configured in your cluster, but kube-proxy is created as a static pod by default that it consumes 100m CPU; on node startup, kubelet takes sometime to actually create the kube-proxy pod on the api-server, and so the scheduler isn't aware of the allocated 100m and so causing the issue. If you depl

[2021-02-17 02:13] ahg-g commented on #99043
we should just use the sets pkg: https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/apimachinery/pkg/util/sets

[2021-02-17 02:45] liggitt opened #99139 "ValidateLabelSelector() allows selectors that error when passed to metav1.LabelSelectorAsSelector"
#### What happened:

A PDB object with an invalid selector was allowed to be created. This was the root cause of https://github.com/kubernetes/kubernetes/issues/98702

#### What you expected to happen:

Invalid selectors to be rejected by API validation, and all selectors that pass `ValidateLabelSelector()` to be able to be passed to `LabelSelectorAsSelector` without error.

#### How to reproduce

[2021-02-17 02:45] liggitt commented on #99139
/triage accepted
/priority important-soon
/lifecycle frozen

[2021-02-17 03:11] pacoxu commented on #94012
/cc

[2021-02-17 03:43] nikskiz commented on #48307
Unfortunately, the only workaround is to cordon the node and then do a rolling restart of the deployments that have pods running on the node. Once complete, drain the node.

[2021-02-17 04:16] PaulFurtado commented on #87615
My company has also been somewhat plagued by this problem and we backported the fixes to 1.17 including the upstream changes to `x/net`. You can see the full patch we're using internally here: https://gist.github.com/PaulFurtado/763700624dfcb75fdcccb1a305794fb5

This dramatically reduced our issues. However, we have 700+ kube nodes and have still hit it a couple of times in the weeks following rol

[2021-02-17 04:17] vamshi-aruru commented on #73056
Still facing this issue. We run a script in kubernetes pods by exec'ing into them, and if the script takes too long, the exec session ends. The script does run to completion, but it is still annoying to not be able to see the logs.

[2021-02-17 06:19] adisky commented on #98765
closing this issue, `pod-infra-container-image` is removed from deprecation and its description is updated.
https://github.com/kubernetes/kubernetes/pull/98730/
/close

[2021-02-17 06:19] #98765 closed

[2021-02-17 06:20] thockin commented on #45234
`node.kubernetes.io/exclude-from-external-load-balancers: "true"` is in 1.19, that is correct.  It should work for all providers.

I do apologize for this bug being open so long, but the original formulation wasn't viable (still isn't) and since so much time has passed and the thinking has changed around this topic, I'd really like to refresh the problem statement.

[2021-02-17 07:12] thockin commented on #91459
Unfortunately, to make PUT idempotent in this case, it would need to turn into
a variant of PATCH.  I'm not even saying I totally disagree, but that is what
it means.

As for PUT being idempotent, I don't think that's ever really been a hard
objective.  In this case (and look, I am not saying I am happy about it) that
means reading existing state and patching it into the PUT.  We *can* do that
(pr

[2021-02-17 07:33] samos123 commented on #7890
Thank you @pre for the very detailed steps! I was able to get it to work on GKE as well with some minor hiccup, but that was easily resolved.

Posting it here in case someone else might hit the same error:
[code]
You can easily resolve the error by just deploying the device manager and the config map to the kube-system namespace

[2021-02-17 07:35] #94920 closed

[2021-02-17 08:01] nikhita commented on #99037
Closing since it's fixed by https://github.com/kubernetes/kubernetes/pull/99014. Please reopen if needed! :)

[2021-02-17 08:01] #99037 closed

[2021-02-17 08:17] nikhita commented on #97423
Do you think we need to make the server response more friendly as the message of kubectl client --dry-run=client.

Apologies for the really late response on this. I've created https://github.com/kubernetes/kubernetes/pull/99143 to improve the message.

/assign

[2021-02-17 09:06] sachincool commented on #95983
@jmmen1 try
1.  delete the ns
1. Delete the ing object
2. apply the controller again
3. Wait for a few seconds/minutes
4. check if ing object has been removed or not.

[2021-02-17 09:32] aermakov-zalando commented on #99003
I don't really like this. This means that even though the resource is in state X' (edited manually) and the manifest is in state Y (edited by the user), an apply would reset it first to X (last value from the last-applied-configuration annotation), which can potentially break things. It also makes the apply process non-atomic, so I potentially have to retry this multiple times (and I don't think I

[2021-02-17 09:46] wojtek-t commented on #95875
/remove-lifecycle stale

[2021-02-17 09:47] pacoxu commented on #39285
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Expected%20it%20to%20take%20at%20least%201%20second%20to%20get%20100%20tokens

Got 4 failures recently.

[2021-02-17 09:50] Nuru commented on #91459
@thockin wrote

I am shocked that you would think that, although I don't really know what you mean by "hard objective". The [Kubernetes API Concepts](https://kubernetes.io/docs/reference/using-api/api-concepts/) doc certainly implies `PUT` should be idempotent, via such statements as

and

Moving on to how to do make it so, the idea of `PUT` is that at the end of the operation, the object is in th

[2021-02-17 09:59] graememross commented on #70179
We have a similar problem but it is with a golang program (An operator)

I have profiled the program and we have no memory leaks - profiler reports a fairly stable memory usage of around 30MB of heap space occupied. However as time goes on kubectl top reports that the memory used by the pod increases hour on hour until it hits the resource limits of the deployment and it gets restarted.

This is h

[2021-02-17 10:20] kvaps commented on #90593
/remove-lifecycle stale

**Steps to reproduce:**
* Install [**nfs-server-provisioner**](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner)
* Create pod with nfs-volume on some node
* Stop nfs-server-provisioner pod
* Try to run some other pods on the node with broken nfs share, they will stuck on `Pending`

[2021-02-17 10:21] pio2pio commented on #51271
interesting, this happen to me while upgrading from 1.17 to 1.18 as well, but had the tag on all my internal subnets; as a workaround, I changed service manually from LoadBalancer to NodePort, waited out for ELB to get deleted then changed back to LoadBalancer. The ELB got provisioned as per normal operation. Unsure of the root cause though.

[2021-02-17 11:33] wojtek-t commented on #93932
Thanks @swetharepakula - really appreciate. I'm happy to help reviewing the code changes.

[2021-02-17 12:22] jkemp101 commented on #45234
I'm not directly involved in this part of k8s anymore. So I'm fine closing this issue and someone can create a new one that is relevant to their specific issue and can address limitations of the current versions of k8s and their capabilities. Our own architecture has evolved significantly since I created this issue and so we aren't directly impacted by this anymore.

[2021-02-17 12:25] browseman commented on #73570
Just to provide some details, it seems to me that is cause by the difference in the kubectl version and the k8s cluster. Observed the same issue with `v1.16.13-eks-2ba888`. It's also notable that the slowdown is mostly visible when executing `get all` and `get pods` commands, but it's missing when execute `get nodes`.

Here are the results from the experiments that I did:
[code]

Here is the same

[2021-02-17 12:31] soltysh commented on #90066
/close

[2021-02-17 12:31] #90066 closed

[2021-02-17 12:39] sikasam opened #99148 "cluster autoscaler not working well with Pod Topology constraints"
We have 2 pods with deployment mode per node with max skew as 1.
When a node is unready/meets scale up condition, a new node is getting created using CA and a pod is created there. similarly, lets say more than 2 nodes are created. now demand is reduced and hpa reduced. so, instead of optimizing all the pods across all the nodes with 2 pods per node, all pods are getting distributed across all the

[2021-02-17 13:22] dims opened #99150 "Removing dependency on go-bindata"
In golang 1.16, there's a new package `embed` https://golang.org/pkg/embed/ we currently use a package named go-bindata https://cs.k8s.io/?q=go-bindata&i=nope&files=&repos=kubernetes/kubernetes that the embed package can effectively replace. So the ask here is to figure out where all we are using go-bindata and switch all these places over to the new API.

Also to be noted is that we've had troubl

[2021-02-17 13:25] pacoxu opened #99151 "[Flake][sig-api-machinery] UT of TestMultithreadedThrottling"
Failed 5 times in recent tests: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=Expected%20it%20to%20take%20at%20least%201%20second%20to%20get%20100%20tokens

The other 4 times failed like below:
[code]
967.063809ms seems to be not expected.

https://github.com/kubernetes/kubernetes/blob/cea1d4e20b4a7886d8ff65f34c6d4f95efcb4742/staging/src/k8s.io/client-go/util/flowcontro

[2021-02-17 13:26] pacoxu commented on #99151
/kind flake
/sig api-machinery

[2021-02-17 13:49] andreyhristov commented on #90345
Hi,
I had similar problem while building scripts to boostrap a k8s cluster using vagrant.
My solution follows:
On kubemaster1:
# enp0s8 is important, without this kubeadm takes enp0s3's address and then the second master can't connect due to lack of IP route
[code]
On kubemaster2:
[code]
The problem was that kubeadm was taking enp0s3 and putting it into the join command. Execution was hanging, as

[2021-02-17 14:05] bertinatto opened #99152 "e2e: block volumes incorrectly added to pod's volumeMounts field"
#### Which test(s) are failing:

[code]

#### Reason for failure:

Apparently volumes with `volumeMode=Block` are incorrectly added to `pod.Spec.Containers[].VolumeMounts`:

[code]

/sig storage
/assign

[2021-02-17 14:06] Dean-Coakley commented on #93360
/remove-lifecycle stale

[2021-02-17 14:31] george-angel commented on #40157
/remove-lifecycle stale

[2021-02-17 14:49] Kappie37 commented on #92674
/assign

[2021-02-17 14:59] thejoycekung commented on #98880
Looks to be resolved now

/close

[2021-02-17 14:59] #98880 closed

[2021-02-17 15:05] duronrulez opened #99156 "metadata.labels limits are not working as expected"
#### What happened:
When provisioning a new node with 65 (or more) character metadata.labels value the result was successful provision, but hostname was not changed after booting.

#### What you expected to happen:
Same as when youre trying to provision a node with 64 characters (exactly), failed provision due to:
[code]
#### How to reproduce it (as minimally and precisely as possible):
Provision

[2021-02-17 15:08] Kappie37 commented on #92674
Right now, I speak for a group of students from Delft University of Technology. As part of a course, we want to contribute to Kubernetes. This issue seemed like a good start. Is there any more information we can use to fix this issue?

[2021-02-17 15:11] thejoycekung commented on #95600
3 flakes recently:
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1357420032954470400
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1357481408146182144
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1359691802075992064

[2021-02-17 15:14] thejoycekung commented on #95133
It looks like this test is still flaking quite frequently: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20sync%20endpoints%20to%20NEG#ff19646fbe30af228069

@freehan Any ideas on how to move forward?

[2021-02-17 15:28] thejoycekung commented on #98180
Still flaking frequently: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Deployment%20should%20run%20the%20lifecycle%20of%20a%20Deployment#76efd4b26c2617f47911

[2021-02-17 15:43] #94826 closed

[2021-02-17 15:47] thejoycekung commented on #92468
It looks like this test hasn't flaked recently -- I'm going to go ahead and close this for now.

/close

[2021-02-17 15:59] aizuddin85 commented on #92928
@robscott any plan to get this fix this permanently?

[2021-02-17 16:46] o6uoq commented on #24873
Use [GitOps](https://www.weave.works/technologies/gitops/)

[2021-02-17 16:54] yuga711 commented on #95600
The test failures are due to pod scheduling states.
@msau42 do you know who can help look at the pod state transition logic?

[2021-02-17 17:01] xing-yang commented on #96719
/remove-lifecycle stale

[2021-02-17 17:21] aravindhp opened #99157 "Better error reporting when using a mismatched Windows pause container"
#### What would you like to be added:
Windows pause containers need to be matched with the Windows host OS. In the case of a Windows node using a pause container that does not support the underlying host the error that is thrown is `The container operating system does not match the host operating system`. From the error message it is not clear whether the mismatch with image used in the Pod spec o

[2021-02-17 17:21] aravindhp commented on #99157
/sig windows

[2021-02-17 17:26] marosset commented on #99157
There should probably be an issue filed at https://github.com/microsoft/windows-containers.

@immuzz ^^

[2021-02-17 17:45] marosset commented on #99128
For our Azure tests we add a NoSchedule taint on the master nodes. I think GKE tests do the same.

Here is the script we run during cluster creation: https://github.com/kubernetes-sigs/windows-testing/blob/master/extensions/master_extension/v1/win-e2e-master-extension.sh

This is needed because some (or most?) of the non-windows specific tests do not add node selectors and we need to make sure tho

[2021-02-17 17:53] chrishenzie commented on #96177
/remove-lifecycle stale

This change is in-scope for ginkgo v2 and should be available in several months once it's implemented.

[2021-02-17 18:17] jmcmeek commented on #87615
The previous comment makes me wonder if this will also continue after upgrading to 1.19.

We have seen nodes where kubelet repeatedly logs errors like:
[code]
or
[code]
There is a variant of the last message logged for configmaps.

They don't make the node go NotReady, but they do result in pods stuck in Scheduling or Terminating and maybe other issues. We have seen these on nodes that were not lo

[2021-02-17 18:55] ulfgebhardt commented on #43633
[code]

[code]

[2021-02-17 19:00] msau42 commented on #95600
Looking at https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-e2e-parallel/1359691802075992064, the test seems to have failed in the very beginning when we're setting up the test case with a Pod and PVC:

[code]

It seems like the error is due to provisioning failure by the storage backend:
[code]

/assign @BenTheElder
to help take a look. This seems specific to the storage pr

[2021-02-17 19:01] aapjeisbaas commented on #50375
I found that there's an easy but pretty extreme reset trick:
[code]

It's not the most elegant but it did fix my annoying restart counters and the redeployment was done in a minute or 2 ;-)

[2021-02-17 19:08] ye commented on #32051
Grep'ing `Controlled By` works with the latest version of the Kubernetes client and server while grep'ing `Controllers` no longer works as at some point the pod manifest has changed to print "Controlled By" instead of "Controllers".

[code]

[2021-02-17 19:15] dims commented on #95966
/cc

[2021-02-17 19:17] ianhundere commented on #50375
^ yah, this is how i'm currently handling it.

[2021-02-17 19:24] BenTheElder commented on #58512
I think the best option is to have CRI support this, CRI could e.g. use a trusted host `tar` implementation and make various improvements. With dockershim deprecated it will be feasible to only focus on doing this in CRI.

To get a change like this in, you probably need to file an [enhancement](https://github.com/kubernetes/enhancement) under SIG node and work with that group to make it happen.
I

[2021-02-17 19:27] freehan commented on #95133
I will start disabling the tests.

[2021-02-17 19:29] PaulFurtado commented on #87615
I have actually now succeeded in reproducing this reliably:
1. Delete the RBAC rules for the node certs so that nodes get unauthorized errors. Leave things like this for a few minutes.
2. Bring back the RBAC rules
3. Wait several minutes
4. Go through every node in the cluster and look for ones that are continuously logging "use of closed connection" errors

In my test cluster with 10 nodes, 3 nod

[2021-02-17 19:53] aaronbbrown opened #99162 "Ungraceful termination when running kube-proxy in IPVS mode"
#### What happened:

Connections time out from external client when pods are deleted and kube-proxy is in IPVS mode.

#### What you expected to happen:

Connections should not timeout or be blackholed when pods are deleted in an IPVS-enabled cluster.

#### How to reproduce it (as minimally and precisely as possible):

This configuration should facilitate graceful termination behavior when pods are

[2021-02-17 20:16] alculquicondor commented on #98480
Given that, before moving to pod topology spread, this used to work when zone labels where not set, my recommendation would be to do https://github.com/kubernetes/kubernetes/issues/98480#issuecomment-768365650 so that this is not a breaking change for some clusters

@Huang-Wei wdyt? any takers?

[2021-02-17 20:31] BenTheElder commented on #82531
@liggitt pointed out as of 1 hour ago this is now something we _have_ to do, go will drop support for GOPATH mode at some point https://github.com/golang/go/issues/37755#issuecomment-780781769

[2021-02-17 20:48] aaronbbrown commented on #99162
/sig network

[2021-02-17 20:56] siddhartha97 commented on #99150
/assign

[2021-02-17 21:19] msau42 commented on #91001
We unfortunately had to rollback the fix in #84206 as it revealed other existing problems. Unfortunately there is no clear easy fix and will need deeper investigation.

/remove-lifecycle rotten

[2021-02-17 22:08] Riaankl commented on #99134
/triage accepted

[2021-02-17 22:20] trondhindenes commented on #96676
/remove-lifecycle stale - still an issue, I believe the PR is waiting for re-review

[2021-02-17 22:27] neolit123 commented on #99156
the 63 limit is by design:
https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#dns-label-names

i don't see how 65 can pass, but 64 can fail:
https://github.com/kubernetes/kubernetes/blob/release-1.17/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L64

you should use 63 as the maximum length.

/close

[2021-02-17 22:28] neolit123 commented on #99156
/sig api-machinery

[2021-02-17 22:28] neolit123 commented on #99148
/sig autoscaling

[2021-02-17 22:29] neolit123 commented on #99148
please fill the issue template correctly and reopen this ticket.
https://github.com/kubernetes/kubernetes/blob/master/.github/ISSUE_TEMPLATE/bug-report.md

/close
/kind bug

[2021-02-17 22:29] #99148 closed

[2021-02-17 22:33] spiffxp commented on #82531
/priority important-longterm
/area release-eng
FYI @kubernetes/release-engineering

[2021-02-17 22:44] tfenster opened #99170 "Support for checkpoint / restore on Windows as well"
#### What would you like to be added:
With support for checkpoint / restore seemingly on the way for K8s (kubernetes/kubernetes#97689 and kubernetes/kubernetes#3949 (comment)), I am wondering whether there is anything planned for Windows as well? As far as I can see, the work is restricted to Linux until now?

#### Why is this needed:
As k8s is now supporting Windows as well, it would make sense t

[2021-02-17 22:45] tfenster commented on #99170
/sig windows

[2021-02-17 22:55] jsturtevant commented on #99132
confirmed this test is passing again. thanks @chewong for the quick fix!

/close

[2021-02-17 22:55] #99132 closed

[2021-02-17 22:58] liggitt commented on #95966
Discussed in sig-auth meeting on 2/17

From a requestinfo/audit/authorization perspective:
* The "head/get → get" behavior is working as intended.
* The "verbs other than get/put/post/patch/delete show up as `""` in authorization and audit" behavior is unexpected and should be corrected.

To unblock conformance-testing:
* explicit support for HEAD and OPTIONS methods in the openapi spec is limited

[2021-02-17 23:09] jsturtevant commented on #99157
Where was the error message displayed? In the describe pod output?

I think you would see it was the puase image via the error log in kubelet: https://github.com/kubernetes/kubernetes/blob/b2860a360441d15a2f1a7b63e9ca247e5b0ec784/pkg/kubelet/cri/remote/remote_runtime.go#L120-L124

Is it the event that isn't descriptive enough?

[2021-02-17 23:22] eddiezane commented on #95434
I think your API server is restricting the methods - most likely from your auth/rbac. Double check the permissions and role.

`kubectl proxy` does not return those errors.

[code]

[code]
https://github.com/kubernetes/kubernetes/blob/b2860a360441d15a2f1a7b63e9ca247e5b0ec784/staging/src/k8s.io/kubectl/pkg/proxy/proxy_server.go#L37-L46

https://github.com/kubernetes/kubernetes/blob/b2860a360441d15a2

[2021-02-17 23:23] #95434 closed

[2021-02-17 23:31] qiutongs commented on #85624
@akhilerm Can you share how you checked this issue with containerd?

[2021-02-17 23:32] ehashman commented on #51835
Echoing @jingxu97, there are a lot of different issues being discussed in this thread. There are many possible reasons why a Pod could get stuck in terminating. We know this is a common issue with many possible root causes! :)

If you run into this issue, please ensure you file a new bug with a detailed report, including a full dump of the relevant pod YAMLs and kubelet logs. This information is n

[2021-02-17 23:32] #51835 closed

[2021-02-17 23:35] aravindhp commented on #99157
The error was present in the pod describe output. I feel it would be a better UX if we didn't have to look at the kubelet logs. `PodSandboxId is not set for sandbox` did not immediately resolve to incorrect pause image in my head 😄 The hint for me was looking at the kubelet logs and noticing the pod container image had not yet been pulled. But if there is consensus that current error is descriptiv

[2021-02-17 23:36] duronrulez commented on #99156
I understand that 63 is the limit, but we've managed to provision nodes with larger names (but the node just ignores the label then).
This is what is the problem actually, because it does not error out on 65 characters (just silently ignores the whole label) or more (it errors on 64 chars)

[2021-02-17 23:40] yuanchen8911 commented on #98928
Thanks, this is helpful. As far as I know, we don't have static pods running in our cluster.  What garbage collector do you refer to?

[2021-02-18 00:04] jsturtevant opened #99173 "sig-windows - Unable to fetch container log stats: failed to get fsstats"
#### What happened:

Since 1.21+ the logs have the following error:

[code]

#### What you expected to happen:
no error for pods

#### How to reproduce it (as minimally and precisely as possible):
Deploy iis image and check the kubelet logs:

[code]

#### Anything else we need to know?:

looks like it is erroring out here:

https://github.com/kubernetes/kubernetes/blob/b2860a360441d15a2f1a7b63e9ca

[2021-02-18 00:04] jsturtevant commented on #99173
/sig node

[2021-02-18 00:50] jcfj commented on #17028
(Obvious warning that `kubectl patch secret foo -p "$(cat)"` is not giving the security benefits that "read secrets from stdin" has.)
My reason for wanting this: what if your patch is bigger than `getconf ARG_MAX`?

[2021-02-18 00:50] #98822 closed

[2021-02-18 01:17] pacoxu commented on #99156
If your node name is longer, you may use kubelet option `--hostname-override` to override the hostname in cluster.

[2021-02-18 02:16] #97734 closed

[2021-02-18 02:18] pacoxu commented on #99151
I am not familiar with the clock logic, but in mac, the duration is always more than 1.001s.

I suspect it may be related to VM system time or chronyd which may slow/fast clock.

[2021-02-18 02:47] pacoxu commented on #99151
/assign

[2021-02-18 02:53] #90102 closed

[2021-02-18 03:34] ash2k opened #99177 "watch.RetryWatcher: avoid printing misleading logs"
#### What would you like to be added:

I'm using `watch.RetryWatcher` and occasionally I need to restart the watches. When that happens, I get a lot of log lines like below:

[code]

I think there is no need to print this. Would be great to change [the behavior](https://github.com/kubernetes/kubernetes/blob/442a69c3bdf6fe8e525b05887e57d89db1e2f3a5/staging/src/k8s.io/client-go/tools/watch/retrywatc

[2021-02-18 03:34] marosset commented on #92963
/cc

[2021-02-18 04:03] pacoxu commented on #99173
The key error message would be `The directory name is invalid`. The pod log dir is not correct for windows?

[2021-02-18 04:04] boddumanohar commented on #96169
go 1.16 is out. Will try to get this working with the new capability.

[2021-02-18 04:23] wilsonehusin commented on #96692
Started a PR #99178 -- plenty of things I'd like to be discussed but we should probably have the discussions there 😄

[2021-02-18 04:28] fujitatomoya commented on #86539
/remove-lifecycle stale

[2021-02-18 04:53] kumparankusumo opened #99179 "v1.18.x invalid: spec.clusterIP: Invalid value: "": field is immutable"
Error occurs in v1.18.x, Previously there were no errors in Kubernetes v1.13.x.

svc.yaml
[code]

how to replicate:
apply with `kubectl apply -f {file.yaml}` twice and i got following error message.
[code]

Expected result:
since there were no errors in Kubernetes v1.13.x, it should be fine in v1.18.x.

[2021-02-18 05:21] kumparankusumo commented on #99179
Solved,
The error occurs when applying service.yaml with `spec.clusterIP` at first deployment.
examples:
in first deployment, `spec.clusterIP` is set.
[code]
[code]
kubernetes will automatically create clusterIP for it.

next deployment, `spec.clusterIP` is not set.
and will got error `v1.18.x invalid: spec.clusterIP: Invalid value: "": field is immutable`

i think it's not a bug, i will close the

[2021-02-18 05:21] #99179 closed

[2021-02-18 05:27] robscott commented on #92928
@aizuddin85 Unfortunately I don't think I'll ever be able to completely fix this without some significant help from apimachinery. With that said, I'm hopeful that I can find some kind of ways to reduce the frequency of these events. My previous attempt (https://github.com/kubernetes/kubernetes/pull/93520) was unfortunately not seen as the correct approach, but it's been difficult to find a better

[2021-02-18 05:58] roycaihw opened #99181 "Custom resource create might succeed after CRD deletion, leaving data in etcd"
Either `/priority important-longterm` or `/priority backlog`

#### What happened:

The chance for the race condition is low. There is a narrow window where CRs can be created after the CRD gets deleted:

1. CR create request hit API server; API server noted the request [isn't terminating yet](https://github.com/kubernetes/kubernetes/blob/2a05c786008f9d0592c0ea51dfb49124bc622100/staging/src/k8s.io/

[2021-02-18 06:28] Huang-Wei opened #99182 "sched: update metric type to HistogramVector in scheduler performance test"
The new scheduler performance test was introduced back in 1.18, back then, the metric it supported are all `Histogram`. However, along with #92202, some metrics are updated to be `HistogramVector`, and hence it's no longer appropriate to return the first Histogram:

https://github.com/kubernetes/kubernetes/blob/5bb03db026e796f6c407f796dbf7ddcae0b0eb1f/staging/src/k8s.io/component-base/metrics/test

[2021-02-18 06:30] Huang-Wei commented on #99182
/triage accepted
/assign

[2021-02-18 06:36] xinfengliu opened #99183 "Make kubelet cadvisor optional to read every open FDs of every container."
#### What would you like to be added:
When running `elasticsearch` workload,  it's possible that `elasticsearch` has huge number of open files. This causes `kubelet` CPU usage extremely high and impacts the application responsiveness.

CPU profiling data shows the hot code is here:
https://github.com/kubernetes/kubernetes/blob/release-1.18/vendor/github.com/google/cadvisor/container/libcontainer/h

[2021-02-18 07:05] caesarxuchao commented on #87615
@PaulFurtado thanks for reproducing this issue.

In your previous comment, you mentioned that reflector.go printed "use of closed network connection" error repeatedly. I noticed that "kubelet_node_status.go:402" also printed the "use of closed network connection" error. Did it also get printed repeatedly?

When you reproduced this issue, did you use the 1.17 cluster with your internal patch, or wa

[2021-02-18 07:51] wzshiming commented on #99150
/assign
I think both the test and the document need to be modified accordingly, I am happy to work for this.

[2021-02-18 07:55] PaulFurtado commented on #87615
In the reproductions we saw, the issue was in reflector.go. It doesn't surprise me that it would come from other places as well, it just negates our guess that it may only be occurring for watches. What's clear is that it doesn't happen every time on every connection, so our several reproduced cases would likely not represent every code path with the issue.

This reproduction was in our patched 1.

[2021-02-18 08:24] wzshiming commented on #99150
Is it possible to create a new repositories for translations. the current translation is under kubernetes/kubernetes, if embed is used, kubectl needs to quote the translation

[2021-02-18 08:39] chenyw1990 opened #99188 "kubelet's volumemanager locked when upgrade k8s cluster"
#### What happened:
kubelet's volumemanager locked when upgrade k8s cluster

Our Kubernetes cluster is installed on Bare Metal Server, and some pods on the nodes use CSI PVs,
Our k8s cluster upgrade processes is:

1. Upgrade Kubelet
2. Stop etcd、haproxy、kube-apiserver、keepalived、kube-controller-manager、kube-scheduler by move the manifest files out of the monitoring directory of kubelet
3. Upgrade

[2021-02-18 08:58] joelhoisko commented on #40422
Has there been any progress on this issue since 2019?

[2021-02-18 09:21] chenyw1990 commented on #99188
/sig node

[2021-02-18 09:22] chenyw1990 commented on #99188
/assign

[2021-02-18 09:28] qiutongs commented on #85624
I looked into containerd code and reproduced the issue. So I believe containerd also suffers this problem and we should apply similar fix as docker.

## Containerd Code

From containerd cri code, it will add all host devices in privileged mode, only if PrivilegedWithoutHostDevices config is set to false. Otherwise, it will only add configured device mapping.

https://github.com/containerd/containe

[2021-02-18 09:35] nearora-msft commented on #97031
/assign

[2021-02-18 09:55] kell18 commented on #51017
Any news on that?? It's such an annoying bug

[2021-02-18 10:06] darkprisco commented on #78467
Is this fix mapped with the latest versions?
Looking to the **v0.19.3** code I don't see these changes

[2021-02-18 10:14] #99054 closed

[2021-02-18 10:33] pacoxu commented on #87869
After checking code and website informations, the feature gates status is not that clear. Some mistakes in code comments or websites. I opened https://github.com/kubernetes/website/pull/26607 and

However, we can write some scripts to calculate it from the client-side.

- apiserver version; kubelet version; pods' image versions(pod/ds/deploy Yamls). (use regex to check feature gate args)
- read fe

[2021-02-18 10:36] sftim commented on #87869
/remove-lifecycle rotten

[2021-02-18 10:45] pacoxu commented on #99177
[code]
It is not a high level log IMO.

[2021-02-18 10:55] sftim commented on #87869
With feature gates that are configurable (eg enabled by default, but you can disable it), this command should report the _actual_ status of feature gates. Making a guess is likely to mislead users.

[2021-02-18 12:20] dims commented on #85974
/reopen
/remove-lifecycle rotten

[2021-02-18 12:29] ash2k commented on #99177
@pacoxu It's not a timeout and not a EOF, it's logging at `error` level. Full log line looks like this:

[code]

[2021-02-18 12:38] xinfengliu commented on #99183
/sig scalability

[2021-02-18 13:03] rahultoraskarr opened #99198 "Kubernetes doesn't honor pod anti-affinity across different statefulset deployments"
I have 6 statefulsets with 1 replica each. so 6 pods in total. Each having label 'pod-type: xyz'
I used below pod anti-affinity rule on each statefulset and I deployed this on AKS cluster with 6 nodes.

Even with this rule multiple pods were getting scheduled on few nodes.

affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:

[2021-02-18 13:19] manast commented on #49887
@liggitt is there any real reason for not supporting creating the label when creating the namespace resource?
I understand the philosophy, but that should only apply to options that are not compatible with a given resource, adding a label is compatible so why not?

[2021-02-18 13:54] jkaniuk commented on #94996
Green now:
![image](https://user-images.githubusercontent.com/5487158/108366802-0fc07a80-71f9-11eb-94c5-ba62e3022750.png)

/close

[2021-02-18 13:54] #94996 closed

[2021-02-18 13:59] #94994 closed

[2021-02-18 14:02] CharmingSteve commented on #98877
@liggitt Yes, I followed the instructions there several times  https://kubernetes.io/docs/tasks/administer-cluster/encrypt-data . It simply  did not encrypt, the secrets stayed readable clear text.

[2021-02-18 14:13] liggitt commented on #98877
Can you provide the encryption config file (scrubbing any secret key data) and the kube-apiserver invocation you are using?

[2021-02-18 14:16] slayer commented on #20151
I agree, that feature can seriously increase security of containerized application to store secrets only in memory of application, not in the environments or files since they do need after container start

[2021-02-18 14:17] slayer commented on #41193
/reopen

I agree, that feature can seriously increase security of containerized application to store secrets only in memory of application, not in the environments or files since they do need after container start

[2021-02-18 14:38] shubhtrivedi opened #99200 "Not able to mount folders inside a container"
Hi.. I am deploying a bpf container for which I need to mount some folders onto the container which I am trying to do through this file.

<pre>
apiVersion: v1
kind: Pod
metadata:
  name: test3
  namespace: test
spec:
#  shareProcessNamespace: true
  containers:
  - args:
    - sleep
    - "10000000"
    image: centos:centos6
    name: test
  - args:
    - sleep
    - "10000000"
    image: quay.io/

[2021-02-18 15:27] ravisantoshgudimetla opened #99203 "Expose HighestUserDefinablePriority via scheduler config"
#### What would you like to be added:
I'd like  [`HighestUserDefinablePriority`](HighestUserDefinablePriority) to be exposed via scheduler config so that a cluster admin can set that value. Without it, the range 1B-2B is not being useful for people.
#### Why is this needed:
We recently noticed that once a priority class with 1B max value we allow for `HighestUserDefinablePriority`  is created, the

[2021-02-18 15:29] ravisantoshgudimetla commented on #99203
/sig scheduling

[2021-02-18 15:33] liggitt commented on #78467
Yes, it is present. The issue was fixed in https://github.com/kubernetes/kubernetes/pull/80641/commits

That commit (2e6440fbebf4868169fb479de53a1d248694404f) is present in the k8s.io/apimachinery repo in v0.16.4+ as [ad647931ae463770035e2510d188f159eb3d9949](https://github.com/kubernetes/apimachinery/commit/ad647931ae463770035e2510d188f159eb3d9949)

[code]

[2021-02-18 15:43] adtac commented on #99203
Does this mean there are systems that exhaust the first billion priority levels? :O

Also what should happen when the admin configures this to such a high value that there aren't enough priority classes for system pods?

[2021-02-18 15:50] ravisantoshgudimetla opened #99205 "Allow priority class values to be updated."
#### What would you like to be added:
I wish to revisit the topic of priority classes being immutable. We made priority classes immutable so that once a priority class is created, we will not be able to update the name or value because of the following reasons:

[code]

While I agree with the first 2 points on changing priority class names, I feel that 3rd point of changing **priority class values

[2021-02-18 15:53] juliantaylor commented on #81775
still relevant and fixable without downside on linux >= 5.9 as the 1sec SYN delay (kernel commit f0a5e4d7a594e0fe237d3dfafb069bb82f80f42f)

/remove-lifecycle stale

[2021-02-18 15:58] ravisantoshgudimetla commented on #99203
Nope, we used  highest workload priority for a pod. After few days, we realized that there are other pods that need higher priority than this one but we don't have any other way to allocate a value greater than 1B, except for deleting the old priority class and creating new one. We were wondering if this was made configurable, it would help us.

The validation code should reject setting such high

[2021-02-18 15:59] ravisantoshgudimetla commented on #99203
cc @wking @damemi @soltysh

[2021-02-18 16:00] ravisantoshgudimetla commented on #99205
cc @wking @damemi @soltysh

[2021-02-18 16:02] ssup2 commented on #30656
HI. To solve this issue a tool called "kpexec".
Please try this and give me feedback. Thanks.

https://github.com/ssup2/kpexec

[2021-02-18 16:17] lauchokyip commented on #93100
@almas33 any progress :) ?

[2021-02-18 16:44] neolit123 commented on #99156
@duronrulez
i'm not sure i understand the issue here.

- are you creating a node with a name longer than 63 characters or a node with a metadata.label key longer than 64 characters?
- how are applying node labels?
- how are you creating your nodes?

i don't see how it would error on 64 characters exactly looking at the code.

/reopen
/sig node cluster-lifecycle api-machinery

[2021-02-18 16:44] hanamantagoudvk commented on #98870
cadvisor fix for this issue is available in 0.38.8 and 0.37.5

k8s version 1.20.3 patch release uses cadvisor 0.38.7.

So we request for new k8s patch release with cadvisor 0.38.8

[2021-02-18 16:46] #99031 closed

[2021-02-18 16:50] almas33 commented on #93100
@lauchokyip ,sorry I was working on another issue and currently exams are going on.
Though I have planned this after exams but you can work if you want.

[2021-02-18 16:58] rikatz commented on #93100
@almas33 I guess we can wait until your exams are over :)

[2021-02-18 17:06] kam1kaze commented on #30656
btw, there is a kubectl plugin for that too.

https://github.com/jordanwilson230/kubectl-plugins#kubectl-ssh

[2021-02-18 17:09] lauchokyip commented on #93100
yup @almas33 , take your time. 👍🏼

[2021-02-18 17:24] fabriziopandini commented on #86843
@savitharaghunathan is there an enhancement issue or a KEP where we can track the timeline of this effort (when flags will be actually removed)?

[2021-02-18 17:24] wking commented on #99205
I don't see how in-cluster guards around PriorityClass manipulation can have any bearing on whether Pod specs are portable between clusters.  An admin could set up an admission webhook or RBAC that blocks the removal of a set of well-known PriorityClass names to ensure that Pods consuming those names are portable, but that's not something you can build into a cluster by default outside of [a few,

[2021-02-18 17:28] wking commented on #99203
In hindsight, creating a PriorityClass consuming the highest user-definable level was clearly a mistake.  But mistakes happen ;).  Making the cap configurable would give you one way to recover after making that mistake.  #99205 would provide an alternative path to recovering.

[2021-02-18 17:45] perithompson commented on #99170
/triage thanks for raising this!

[2021-02-18 17:46] perithompson commented on #99170
/triage accepted

[2021-02-18 17:46] perithompson commented on #99170
Thanks for raising this!

[2021-02-18 17:49] jsturtevant commented on #99047
Latest thread: https://app.slack.com/client/T09NY5SBT/C7J9RP96G/thread/C7J9RP96G-1613494782.046800

[2021-02-18 17:50] jsturtevant commented on #99047
The job failing is: https://prow.k8s.io/?job=post-kubernetes-push-e2e-httpd-new-test-images

[2021-02-18 18:06] neolit123 commented on #86843
@mtaufen

joining SIG meetings for various SIGs that talk about new features, i see that more kubelet flags are being added without adhering to your [proposal document](https://docs.google.com/document/d/1FdaEJUEh091qf5B98HM6_8MS764iXrxxigNIdwHYW9c/edit) which encourages new options to be in config only. so while some of these older flags listed here are deprecated (with plan for removal) since th

[2021-02-18 18:11] jsturtevant commented on #99173
Might be thought the path names did not change between 1.20 and 1.21. It's possible this didn't work prior but didn't log the error

1.20:
[code]

1.21:
[code]

[2021-02-18 18:20] kunaals commented on #72597
Still needed

[2021-02-18 18:43] duronrulez commented on #99156
Digging a bit deeper seems that it could be AWS EKS related issue.

Basically what we do is
[code]

Which results in the full label being:
i-123456789abcdefgh-eks-cluster-1234-123456789a-1-17-1234-123456 - 64 chars, this logs error in the audit api in cloudwatch and fails joining the node in the cluster

i-123456789abcdefgh-eks-cluster-1234-123456789a-1-17-1234-1234567 - 65 chars, this logs succes

[2021-02-18 19:08] dims commented on #98267
go1.16 is now out!!

[2021-02-18 19:29] dims commented on #76206
/remove-area code-organization

[2021-02-18 19:32] dims commented on #93320
cc @ptabor

[2021-02-18 19:48] jsturtevant commented on #99047
https://github.com/kubernetes/test-infra/issues/20884 is where the fixes for publishing this image is being tracked

[2021-02-18 19:50] damemi commented on #99205
I agree with Ravi on the 3rd point, allowing updates directly is safer and in my opinion the more expected outcome. In other words, right now if I deleted and recreated a priority class the average user would probably just expect pods using that priority class to use the new value, which is not the case.

[2021-02-18 19:54] damemi commented on #99203
Wouldn't a configurable cap enable users to make the same mistake, with potentially even higher risk since it now affects system components? I think that's the same point as @adtac made above:

[2021-02-18 20:12] liggitt commented on #98267
Verified the experiment still works identically on the released version of go1.16, and lets an unqualified `go get ...` call fetch the desired version.

@sttts also verified it was working for him; he already had v1.5.2 explicitly referenced in his go.mod file. Once that was removed, the expected version was auto-selected.

I think this is the remaining question: should we base the v1.5.2 `k8s.io/

[2021-02-18 20:30] savitharaghunathan commented on #86843
Hi, @fabriziopandini 👋 I am not aware of any issue in k/enhancements regarding this effort. @mtaufen @stealthybox might be able to add more details on that

[2021-02-18 20:50] dcbw commented on #96018
yes, that would be the iptables version that matters (unless the image is mounting the host's directories and using the host versions)

[2021-02-18 20:51] fabriziopandini commented on #86843
@savitharaghunathan thanks! a timeline and some answer to @neolit123 questions will really help here...

[2021-02-18 20:53] dougsland commented on #98840
Hi @oliverhausler

I am wondering if what you are looking for is kind of Blue/Green (Rainbow) Deployments:
https://kubernetes.io/blog/2018/04/30/zero-downtime-deployment-kubernetes-jenkins/

Instead killing/replacing pods one at time, a new deployment is created and new separate stack of pods running v2 is launched (besides v1 deployment). Keep in mind that your cluster will need to be powerful to

[2021-02-18 21:01] alculquicondor commented on #89036
@hex108 can you update the issue description to mark the things that were already done? or open a new issue for the pending task.

[2021-02-18 21:06] liggitt commented on #98267
kubernetes/client-go#932 shows what it would look like to create a v1.5.2 based on v1.5.1 that retracts the pre-module versions.

[2021-02-18 21:15] fedebongio commented on #99151
/cc @yliaog
/triage accepted

[2021-02-18 21:16] fedebongio commented on #99156
/remove-sig api-machinery

[2021-02-18 21:17] fedebongio commented on #99177
/cc @caesarxuchao
/triage accepted

[2021-02-18 21:18] fedebongio commented on #99181
/triage accepted
/cc @yliaog

[2021-02-18 21:21] deads2k commented on #98267
marking retracted makes sense to me. Given how old both versions are, I don't think it matters which one we choose to base the retracted 1.5.2 on

[2021-02-18 21:22] neolit123 commented on #99156
@duronrulez given you are using the EKS product, please coordinate with their support and if they think this is an upstream issue let them explain with more details in this ticket what they think the bug is. then re-open it.

thanks
/close

[2021-02-18 21:22] #99156 closed

[2021-02-18 21:22] thockin commented on #99113
What network policy implementation are you using and on what cloud or environment?

[2021-02-18 21:25] roycaihw commented on #99181
I don't have a quick fix. Filed this issue to raise awareness.

/priority important-longterm
/help

[2021-02-18 21:29] ddl-retornam commented on #55046
/remove-lifecycle rotten

[2021-02-18 21:35] thockin commented on #98995
"ingress" vs "Ingress".  In Go, all names that start with a lower-case letter are private.  You want "Ingress" which is the actual type name.

[2021-02-18 21:35] #98995 closed

[2021-02-18 21:47] thockin commented on #98840
What @dougsland says is correct, I think.  You don't need Kubernetes to change to achieve this (more or less).

I say "more or less" because, fundamentally, there is no such thing as "all at once" in a system like Kubernetes.  Different nodes can be delayed in their reaction to changes.

For example, assume you deploy app v1, and select it in a service.  You might hit:

* deploy app-v2
* switch th

[2021-02-18 21:48] thockin commented on #98840
Since this is not a bug or feature-request, I suggest we close it.  Happy to discuss further, if you like.

[2021-02-18 21:49] thockin commented on #98570
Any updates on this?  Should we close it as "it's always DNS" ?

[2021-02-18 21:49] thockin commented on #98758
What do we do with this issue?

[2021-02-18 21:52] thockin commented on #98411
Did we get clarity on whether the apiserver has a v6 IP and is not reporting it or whether it really doesn't have one?

@emike922

[2021-02-18 21:52] thockin commented on #98302
/triage accepted

[2021-02-18 21:53] thockin commented on #96868
ping @couloum

[2021-02-18 21:56] CapOM commented on #98570
Before closing that would be great if someone else can try in GKE (so far still happening with upgrade to v1.18.15-gke.1100) with the steps mentioned in https://github.com/kubernetes/kubernetes/issues/98570#issuecomment-770391476 but replacing the dns with the service cluster ip.
Indeed in GKE the issue is also happening with a static cluster ip for the service.
Thanks!

[2021-02-18 21:56] thockin commented on #45234
I'll leave this open a bit, and if we don't hear new requirements, we will close.  We can always reopen.

[2021-02-18 22:03] smarterclayton commented on #98326
We synthetically apply that (if the source package is in vendor/k8s.io/kubernetes) so can be dropped.

Also note in generally I am massively in favor of this change - I forced this to happen in openshift so some of the unassigned upstream tests got blanket assigned to equivalent teams (i.e. any test in k8s.io that didn't have a sig had to get one synthetically added) so this will remove the need f

[2021-02-18 22:05] prameshj commented on #98758
We had this come up elsewhere and it was confirmed that the rule in https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/nodelocaldns/README.md#network-policy-and-dns-connectivity was working.

Given that the node-local-dns behavior depends on allowing untracked connections, we would need this additional config.
Can we check if that works in your setup too @fasaxc ?
/assign @fas

[2021-02-18 22:26] roycaihw commented on #99181
/area custom-resources

[2021-02-18 22:27] jsturtevant commented on #99173
The host_stats_provider is using `metrics_du.go` to get stats on individual files:

https://github.com/kubernetes/kubernetes/blob/b2860a360441d15a2f1a7b63e9ca247e5b0ec784/pkg/kubelet/stats/host_stats_provider.go#L124-L133

`metrics_du.go` calls out to fs.Info():

https://github.com/kubernetes/kubernetes/blob/f1829a7744a1c4d2211188e67a1d2d4231edd103/pkg/volume/metrics_du.go#L90

which uses [GetDisk

[2021-02-18 22:41] MHBauer commented on #95043
with https://github.com/kubernetes/test-infra/pull/19586 merged, it's gone.
/close

[2021-02-18 22:41] #95043 closed

[2021-02-18 22:58] rosskusler commented on #48912
On a kubeadm v1.18.15 cluster I created a pod with a readonly root filesystem by emptyDir /tmp.  I was able to exec into the container, create a script in /tmp, and execute it.  It would be great if we could specify mountOptions for emptyDir volumes.

[2021-02-18 22:59] jsturtevant commented on #99173
beyond the error messages for every pod on a windows node the result is missing pod log stats via cri.

Linux pod stats: http://localhost:8001/api/v1/nodes/k8s-linuxpool1-27331026-vmss000000/proxy/stats/summary

[code]

Windows pod stats (note missing logs field): http://localhost:8001/api/v1/nodes/2733k8s01000000/proxy/stats/summary

[code]

[2021-02-18 23:11] MarcPow commented on #73760
Is there any reason that exposure of the external-ip via the downward API is contra-indicated?  Or is it just a matter of someone putting in the PR?

[2021-02-18 23:13] #93822 closed

[2021-02-18 23:16] MarcPow commented on #73760
/reopen
/remove-lifecycle-rotten

[2021-02-18 23:42] neolit123 commented on #99200
please try the support forums:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/kind support
/close

[2021-02-18 23:42] #99200 closed

[2021-02-18 23:42] neolit123 commented on #99198
/sig scheduling

[2021-02-18 23:45] neolit123 commented on #99198
will let sig-scheduling to check, but note that:

this server version is in support.

this is an supported skew between client and server:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

[2021-02-18 23:52] rahultoraskarr commented on #99198
Issue was due to deployments across namespaces. It got resolved when list of namespaces mentioned in the affinity rule.

[2021-02-18 23:52] #99198 closed

[2021-02-19 00:07] Huang-Wei opened #99218 "Metrics of ignored/initialized pods in a scheduler performance test are benchmarked"
#### What happened:

In the new scheduler performance testing framework, `collectMetrics`(bool) is provided to benchmark performance of pods created in an "operator": (L11 below)

https://github.com/kubernetes/kubernetes/blob/df8dee80c838bfb50532d1509c1a77a9c4463a11/test/integration/scheduler_perf/config/performance-config.yaml#L1-L17

However, the initialized Pods created in L5~L7 seem to be also

[2021-02-19 00:07] Huang-Wei commented on #99218
@ingvagabund Could you please help confirm if it's an issue?

[2021-02-19 00:09] Huang-Wei commented on #99218
cc @alculquicondor @adtac @ahg-g

[2021-02-19 00:34] thockin commented on #98994
Is this the same as https://github.com/kubernetes/kubernetes/pull/85802 ?

[2021-02-19 00:57] thockin commented on #91459
What I meant is it's just never been a primary question in reviewing APIs.  Service is a weird case, far outside the norm and I'm not excusing it - just explaining what I meant.

For historical reasons, the "key" for ports was not the name but the port value, then the value + protocol.  So we can key off that, I think.

Those are all outside of `spec`.  I don't know of any resource that PUT-PATCH

[2021-02-19 00:58] thockin commented on #91459
At this point I am willing to call it a bug, albeit an unpleasant one.

[2021-02-19 01:19] jsturtevant commented on #99173
/triage accepted

[2021-02-19 01:25] DangerOnTheRanger commented on #98647
The flake seems to be caused by an intermittent race condition related to pod creation and waiting for pod readiness. Right now in the E2E testing framework, there's an [early exit](https://github.com/kubernetes/kubernetes/blob/ef319e24bc7c9dc8396888fa6935a3a6299e7487/test/e2e/framework/pod/wait.go#L216) if a pod that the caller is trying to wait on doesn't exist. If the pod is created after that

[2021-02-19 01:25] DangerOnTheRanger commented on #98647
/assign @DangerOnTheRanger

[2021-02-19 01:34] leuvataral commented on #73760
/reopen

[2021-02-19 01:34] Jiawei0227 commented on #98279
To sum up, three aspects of the metrics we have done:

1. Add migrated field to storage_operation_duration_seconds
  - PR: https://github.com/kubernetes/kubernetes/pull/99050
2. Add migrated field to csi_sidecar_operations_seconds
  - https://github.com/kubernetes-csi/csi-lib-utils/pull/77
  - https://github.com/kubernetes-csi/external-provisioner/pull/560
  - https://github.com/kubernetes-csi/ext

[2021-02-19 01:38] Jiawei0227 commented on #96719
/close

[2021-02-19 01:39] #96719 closed

[2021-02-19 01:46] swetharepakula commented on #93932
I have confirmed that the current flakes are because of the same issue debugged above.

#99222 should fix the issue in the test, but it will make the test take longer.

[2021-02-19 02:08] painhardcore commented on #91552
/remove-lifecycle stale

[2021-02-19 02:10] ahg-g commented on #98928
Did you verify that kube-proxy is deployed as a daemonset?

I am referring to k8s GC: https://kubernetes.io/docs/concepts/workloads/controllers/garbage-collection/

Note that it doesn't do that right now, I am just suggesting that it might be the most relevant controller to do so.

[2021-02-19 02:30] gohmc opened #99224 "Rapid release of 1.20.3, 1.20.4"
#### Anything else we need to know:

For the mentioned releases above; their changelog have no content, number (1924 ) of committed to master are exact same, and neither release appear in Kubernetes repo.

This looks like the overnight built, is this intentional?

Thanks.

/sig release

[2021-02-19 02:33] gohmc commented on #99224
/release

[2021-02-19 03:04] #97423 closed

[2021-02-19 03:10] pacoxu commented on #99183
According to code https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L346-L361 and https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_linux.go#L91-L103, there is no flag for it.

And DisableAcceleratorUsageMetrics feature gate is a good example: Disable accelerator metrics collected by the kubelet.
[code]

Not sure, can we add a simila

[2021-02-19 03:14] pacoxu commented on #99183
/sig node
IMO as it is related to kubelet code and cadvisor.

[2021-02-19 03:35] xh4n3 opened #99225 "Kube-proxy's conntrack-max was set lower than desired with static CPU Policy"
#### What would you like to be added:
A new flag indicating how kube-proxy gets the number of CPUs, either from goruntime or `/proc/cpuinfo`.

#### Why is this needed:
In kube-proxy, we can use `--conntrack-max-per-core` to set node's `conntrack-max`, the resulting `conntrack-max` is `int(*config.MaxPerCore) * goruntime.NumCPU()`.

https://github.com/kubernetes/kubernetes/blob/f49385d05a38d0dec06b

[2021-02-19 03:36] xh4n3 commented on #99225
/sig network

[2021-02-19 03:55] wking commented on #99203
System levels [start at 2B][1], so there's plenty of space for folks who accidentally pick 1B for a user level to slowly ease that cap up and recover space for the newly-discovered priority class.  And there would still be room for the next generation of dev on the cluster to make the same mistake, need to grow the cap again, and still have room.  I'm absolutely opposed to allowing the configurabl

[2021-02-19 03:57] wking commented on #99205
I think it's important to manage this expectation via godocs on `value` and other places we doc priority classes.  Because allowing `UPDATE` on PriorityClass's `value` seems orthogonal to addressing priority value updates on existing pods.

[2021-02-19 04:23] liggitt commented on #82531
Looks like removal of GOPATH mode is targeting go1.17 per https://blog.golang.org/go116-module-changes. This just got more important.

[2021-02-19 05:08] dcbw commented on #96018
So... this iptables save is 695992 lines. Which is extremely large. In the past, with just *iptables* (eg not iptables-nft), I've seen performance issues with iptables-restore with just 100,000 or 150,000 lines. We typically recommend setting min-sync-period to some large number of seconds (30? 60?) in cases like that.

Are you able to find out how much time iptables-restore (nft) takes to restore

[2021-02-19 05:19] #92352 closed

[2021-02-19 05:32] xinfengliu commented on #99183
@pacoxu Thank you very much for your help.

Another way to solve this it to add a configurable list for include metrics in kubelet configuration. I'm not sure which is better?

I don't have strong opinion on this. It seems that using `include metrics` in kubelet configuration is more flexible and using the feature gate is clearer to users.

[2021-02-19 05:39] yangjunmyfm192085 commented on #99224
/sig Release

[2021-02-19 05:58] akhilerm commented on #85624
@qiutongs I tested by manually creating a container using containerd, same way it was tested with docker. Think I missed something there.

[2021-02-19 06:48] knight42 commented on #99139
/cc

[2021-02-19 07:00] BLasan commented on #93100
@rikatz @lauchokyip Can I take up `run.go` ?

[2021-02-19 07:05] BLasan commented on #7923
@thockin Still opened ?

[2021-02-19 07:18] emike922 commented on #98411
Sorry for the delay, got pulled into something else entirely...
You have a very good point, in our setup the cluster nodes' `.status.addresses` lists contain only one single InternalIP, and that is IPv4, but `.spec.podCIDRs` has IPv4 and IPv6 as it should.
So I take it, from your explanation @danwinship, that the lack of an IPv6 node IP will result in the described behavior?

[2021-02-19 08:02] gohmc commented on #99224
just to add that kubeadm installed using Kubernetes repo will not able to apply v1.20.4 as the version skew above 2.

[2021-02-19 08:19] pacoxu commented on #99224
Would you share the error message?
I can install cluster with kubeadm in my env.

[2021-02-19 08:20] #99043 closed

[2021-02-19 08:33] pacoxu commented on #93042
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=The%20framework%20ClientSet%20must%20not%20be%20nil%20at%20this%20point

update the status here.

[code]

[2021-02-19 08:38] rbtcollins commented on #75957
It seems like the behaviour of overlapping PDBs can be well defined mathematically: a disruption is permitted if for all PDBs covering a pod, disrupting the pod will not violate the PDB. The implementation issue I see in the discussion upthread is due to the eventual consistency relationship between PDBs and the tracked resource being  exacerbated: rather than a potential skew between one PDB and

[2021-02-19 08:45] harche opened #99230 "Failing kubelet /stats/summary API and ResourceMetricsAPI tests on cgroup v2"
#### Which jobs are failing:
pull-kubernetes-node-crio-cgrpv2-e2e

#### Which test(s) are failing:
E2eNode Suite: [k8s.io] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api
E2eNode Suite: [k8s.io] ResourceMetricsAPI [NodeFeature:ResourceMetrics] when querying /resource/metrics should report resource usage through the resource metrics api

[2021-02-19 08:46] harche commented on #99230
/sig node

[2021-02-19 08:47] BenTheElder commented on #99224
@kubernetes/release-managers
1.20.3 should have one less commit (a revert).

[2021-02-19 08:50] george-angel commented on #86715
/remove-lifecycle rotten

[2021-02-19 08:54] spyyang opened #99231 "Overflow when the resource is negative"
#### What happened:

Get the size difference of the resources:
[code]

Result: `8783067658`

#### What you expected to happen:

The correct value should be -9.0Gi: `-9663676416`

#### Anything else we need to know?:

Solution：

Replace `unscaled.Cmp(maxInt64) < 0` with `unscaled.CmpAbs(maxInt64) < 0` in [scale_int.go](https://github.com/kubernetes/kubernetes/blob/release-1.20/staging/src/k8s.io/ap

[2021-02-19 09:13] chaudyg commented on #86812
Hi everyone. Oups, I completely forgot about this issue sorry 😞 .

@igoratencompass  your problem seems very similar to the one I had.

It's been a while. I suspect 3.3.10 which was the default version used by [Kops 1.14](https://github.com/kubernetes/kops/blob/master/docs/releases/1.14-NOTES.md).

The backup/restore process is the one from kops using [etcd-manager](https://github.com/kopeio/etcd-

[2021-02-19 09:15] harche commented on #99230
/cc @odinuge @bobbypage @rphillips @mrunalp

[2021-02-19 09:20] gohmc commented on #99224
@pacoxu When this issue was first reported, neither 1.20.3 nor 1.20.4 is in the repo. I reckon someone is working on it now as 1.20.4 starts to appear, but you can see 1.20.3 was "skipped". For me this is quite unusual to Kubernetes release.

![image](https://user-images.githubusercontent.com/46994372/108483145-54b9df00-72d5-11eb-887f-2db0a08ce25a.png)

Anyway, I just performed an upgrade with 1.2

[2021-02-19 09:27] ptabor commented on #93320
etcd support up to grpc-1.29.1
etcd 3.5 is close to get support for grpc-1.32.

[2021-02-19 09:28] johanot opened #99232 "addon-manager: make path to kube-addons.sh injectable"
Sorry for being late out, but we're only about to bump to v1.20.X now.

https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/addon-manager/kube-addons-main.sh#L20-L30

There's some logic here ^ that tries to determine where to find the kube-addons.sh to source. Unfortunately, this is a little too inflexible for us using NixOS, since the addon-manager is run as a standalone systemd-u

[2021-02-19 09:33] saschagrunert commented on #99224
Hey @gohmc, thank you for raising the question!

Indeed we had an issue with v1.20.3 which was the reason we stopped the process and did not publish any deb/rpm packages. We announced it on the Kubernetes developer/contributor discussion mailing list, too:
https://groups.google.com/g/kubernetes-dev/c/oUpY9vWgzJo/m/zPNyUO6dAQAJ

I think since v1.20.4 is now released we should be fine on the upgrade

[2021-02-19 09:33] #99224 closed

[2021-02-19 09:34] ialidzhikov commented on #87336
/remove-lifecycle stale

[2021-02-19 09:46] ingvagabund commented on #99218
Unfortunately, `collectMetrics` does not apply for metrics gathered from `legacyregistry.DefaultGatherer`.

As you mentioned. The default gatherer collects all metrics produced by the scheduler. It's the scheduler itself who knows pod names and would have to decide which pods will get ignored when updating metrics. The question is if computing metrics for a subset of pods processed by the schedule

[2021-02-19 10:18] pacoxu commented on #92620
coverage: 64.9% of statements
ok  	k8s.io/kubernetes/pkg/proxy/iptables	0.814s	coverage: 64.9% of statements

before #95784 is merged.

[2021-02-19 10:29] will-beta commented on #32326
Any updates on this?

[2021-02-19 10:45] unixfox commented on #57187
/remove-lifecycle stale

[2021-02-19 11:22] rtheis commented on #93338
/remove-lifecycle stale

[2021-02-19 11:22] uablrek commented on #99162
@aaronbbrown Excellent written issue :+1: Thanks!

I can reproduce this as described.

/triage accepted

I would like to investigate this a bit further so I don't unassign myself just yet.

[2021-02-19 12:22] brenwhyte commented on #95983
I'm getting this issue too, AWS EKS 1.18
Can we reopen this one? What other info do you need?

[2021-02-19 12:45] adtac commented on #89036
I'm working on this. I have a couple of ideas I want to prototype and experiment with (e.g. a memoized cache to keep track of the lowest priority in each node that expires after N seconds).

[2021-02-19 12:53] kieranjbrown commented on #98994
Appears so yes - although that has been left for quite a while

[2021-02-19 12:54] adtac commented on #99203
I'm in favour of making priority class levels configurable instead of allowing admins to configure the maximum user level. Allowing users to raise the limit to 2 billion will likely result in the same problem later down the line, but this time with the highest user class being 2B instead of 1B. That is just patching the symptom IMO.

famous last words, but ~~640k~~ 1 billion ought to be enough for

[2021-02-19 12:58] adtac commented on #99203
Also I'm curious: system *critical* levels start at 2B. Are there any system pods that aren't critical but neither are user pods?

[2021-02-19 13:04] astefanutti commented on #98994
I can try to allocate some time to work/help on it. Some guidance will definitely help me, and/or any pointers to that new lease cleanup logic @liggitt mentioned.

[2021-02-19 13:13] ingvagabund commented on #99203
Allowing to update priority class priority is more preferable

[2021-02-19 13:59] ingvagabund commented on #99205
What will ensure all pods with old value of priority class will get eventually recreated? Keeping some portion of pods with old priority and the rest with a new one might e.g. make descheduler stop/start evicting pods which were/were not supposed to be evicted.

[2021-02-19 14:16] yabb85 commented on #92463
I use centos 8, same issue.

[2021-02-19 14:22] rikatz commented on #93100
@BLasan I need to take a look :) Right now I'm with a bunch of other things to verify and review, but hopefully we will have a process for the internalization PRs and I'll open a new issue with this set for new contributors.

Thanks for your interest in contributing

[2021-02-19 14:28] #89175 closed

[2021-02-19 14:38] alculquicondor commented on #99205
What needs to be properly documented is that changing the priority value of a priority class doesn't change the priority of running or pending pods. This has implications for unscheduled pods, but more importantly for eviction by kubelet.
Other than that, I think the request is reasonable. Specially given than a similar effect can be achieved by recreation.

I don't think this requires a KEP, but

[2021-02-19 14:39] cwhsu1984 commented on #64330
this does solve the issue, but the link's solution change the cluster node's setting instead of container if I understand it correctly.

[2021-02-19 14:39] alculquicondor commented on #99205
cc @Huang-Wei

[2021-02-19 15:05] alculquicondor commented on #99218
This is probably what we want. Is something like that possible @ingvagabund ?

[2021-02-19 15:06] alculquicondor commented on #99218
I think being able to absolutely ignore certain pods for metrics is an overkill.

[2021-02-19 15:13] ensonic commented on #49387
[code]
is not a good solution, since one would need to be able to say
[code]
Unfortunately the set operators (`in` and `not in`) don't seems to work on the command line.

[2021-02-19 15:15] neolit123 commented on #99232
/area provider/gcp
/sig cloud-provider

[2021-02-19 15:29] michaelgugino commented on #75957
It's certainly possible to implement something that works.  The corner cases are going to be quite difficult.  Consider simultaneous drains across two nodes.  Pod-A and Pod-B.  Both pods have their own PDB, as well as PDB-C.

How many PDBs per-pod should we support?  2?  100?

At the end of the day, we still need to build features users can use and understand.  While the UX might be better for the

[2021-02-19 15:49] rbtcollins commented on #75957
What I sketched would handle that two-node case with 3 PDBs in a venn diagram situation without it being a corner case, as long as the processing of deletions and pdb evaluation is done in a controller, which I haven't checked the code to see - sorry :/ - and this will be my last comment, as I don't want to make the bug noisy.

I agree that large numbers of PDBs affecting a single pod would be har

[2021-02-19 15:53] neolit123 commented on #99232
deferring to its current owners, but FYI, we claim this addon manager as deprecated (that's why it's called the "legacy addon manager") which hints you should not be using it in production.

similar applies to anything under /cluster. it's something that k8s maintainers use for e2e testing and similar.

there were plans to revive it as something better in the kubernetes-sigs/cluster-addons reposit

[2021-02-19 15:57] gnufied commented on #93042
@pacoxu these failures are not the problem but rather they are symptom of a problem. If you see the failure - all those failing tests timed out.

[2021-02-19 15:59] michaelgugino commented on #75957
I think having multiple PDBs supported via the eviction API will lead to a worse UX, especially if the number was more than 2.  Today, the UX is clear, even if somewhat not initially intuitive or what some users might find agreeable.  It's simple to understand and work with.

Here's how one can build a locking system with multiple PDBs today:
I have pod-A, it has primary-pod-a-pdb and generic-lock

[2021-02-19 16:19] ehashman commented on #98870
Does this also affect 1.18?

[2021-02-19 16:34] thockin commented on #98994
The "cleanup" is https://github.com/kubernetes/kubernetes/pull/96684, but
it's kind of huge.  I need to finish porting tests (for update) to the
newer approach and do a bunch of straggler cleanup.  Help is welcome, but
it's daunting to jump into such a large change.

I'll have to look at this and see if it makes sense to do before finishing
the cleanup.

On Fri, Feb 19, 2021 at 5:04 AM Antonin Ste

[2021-02-19 16:40] astefanutti commented on #98994
Thanks. I'll wait then for your feedback on how best to move forward on this.

[2021-02-19 16:40] Joseph-Goergen opened #99238 "Add ability to pull all build images through external registry"
There seems to be an environment variable called `KUBE_DOCKER_REGISTRY` which only seems to partially do what I'm asking, but it is not implemented throughout the entirety of Kubernetes.

Here are a couple of examples throughout Kubernetes that are easily greped but there are plenty more examples
- https://github.com/kubernetes/kubernetes/blob/c2e90d8baf65b23df4f2b833834916c965fb57cd/build/workspa

[2021-02-19 16:45] thockin commented on #98994
Full transparency - that major PR is semi-stalled until I can find time to
finish it.

On Fri, Feb 19, 2021 at 8:41 AM Antonin Stefanutti <notifications@github.com>
wrote:

[2021-02-19 17:09] obeyler commented on #95794
/remove-lifecycle rotten.

[2021-02-19 17:10] obeyler commented on #95794
/remove-lifecycle stale

[2021-02-19 17:14] hanamantagoudvk commented on #98870
No it does not affect k8s 1.18 version because both kubelet (v1.18) and cadvisor (v0.35) think Topology represents sockets.

Whereas ,
a) k8s version 1.19.3, cAdvisor version 0.37.0: k8s still thinks that Topology represents sockets, cAdvisor now returning NUMA Nodes
b) k8s version master (thanks to that commit [0]) ,  cAdvisor 0.37.0+: now both thinks that Topology represents NUMA Nodes.

For k8s

[2021-02-19 17:58] ahg-g commented on #98828
The fields that `isPodUpdated` and `skipPodUpdate` are not synced, we should factor out the diff logic into a separate function. This function should be invoked in the event handler instead of doing it inside the queue update logic (i.e., we don't need to check if the pod is assumed etc., this is only needed for the check at the beginning of the scheduling cycle).

In summary:

[code]

[2021-02-19 18:03] Huang-Wei commented on #99218
The use case is to ignore the pods created in steps that don't specify `collectMetrics: true`, so as to collect the Pod metrics create at particular step(s) (`collectMetrics: true`). Otherwise, the semantics of `collectMetrics` option is quite misleading.

Nope, that's not the intention. We don't need to target certain pods, like using label selector or whatever. Just as I mentioned, measure pods

[2021-02-19 18:38] dims commented on #98267
+1 to plan to make the proposed change mid-week next week

[2021-02-19 18:42] ahg-g commented on #98828
I feel that we need to be consistent with `MoveAllToActiveOrBackoffQueue`, which moves pods from unschedulable to backoff or active. So I kinda agree with @NickrenREN on this one: If it was in the backoff queue, update there; if it was in the unschedulable queue and it is a `MaterialUpdate`, move either to backoff or active, if not `MaterialUpdate`, update in it place.

[2021-02-19 18:54] danielkucera commented on #46861
excuse me but why is this closed?
/open
/reopen

[2021-02-19 19:10] aravindhp commented on #99157
Here is full error log as seen with `kubectl describe pod`:
[code]

[2021-02-19 19:22] marosset commented on #99157
I'm surprised this didn't error out during image pulling.

[2021-02-19 19:29] rphillips opened #99239 "Kubelet panics when trying to set structured logging"
#### What happened:
When I attempt to start the kubelet with the structured logging flag (--logging-format=json) the kubelet panics with a `panic: failed to lookup unsupported log flag` error.

#### What you expected to happen:
I expect the Kubelet to start with structured logging enabled.

#### How to reproduce it (as minimally and precisely as possible):
[code]

Adding the following yaml within

[2021-02-19 19:30] rphillips commented on #99239
/sig node
/triage accepted

[2021-02-19 19:30] ehashman commented on #99239
/sig node
/sig instrumentation
/triage accepted
/cc @serathius

[2021-02-19 19:31] iwankgb commented on #98870
@ehashman I think that @hanamantagoudvk is half-right:
* `release-1.19` is missing a047e8aa1b705bb7e5be881fb63cf90a218b60d0 but code cherry-picks cleanly. Both changes (to cAdvisor and Kubernetes) constitute a bug fix and it would be great if we could cherry-pick.
* a047e8aa1b705bb7e5be881fb63cf90a218b60d0 **is already available** on `release-1.20`

[2021-02-19 19:32] sedefsavas opened #99240 "[Code-generator] Upgrading to v0.20.2 breaks pointer slice conversions"
#### What happened:
Upgrading code-generator from v0.19.2 to v0.20.2 causes conversion-gen to incorrectly generate conversion functions for types that have slices of pointers to custom objects. For example, we are getting incorrect conversion for this type: https://github.com/kubernetes-sigs/cluster-api/blob/37941fe876ec60dfdad514ccb0b8daae2b37964e/test/infrastructure/docker/exp/api/v1alpha4/docke

[2021-02-19 19:35] sedefsavas commented on #99240
/area code-generation

[2021-02-19 19:36] sedefsavas commented on #99240
/sig api-machinery

[2021-02-19 19:38] alculquicondor commented on #99218
I would do something like the following:

if a step has collectMetrics:false, we wait for them to finish scheduling, and then we take a snapshot of the histogram. Then for the next step that has collectMetrics:true, we take the diff with the latest snapshot to report the results. This might not be perfect, as we don't control if the metrics have finished syncing when we take the snapshot. But I th

[2021-02-19 19:45] Huang-Wei commented on #99205
Given that we don't change the semantics that how a recreated/updated PriorityClass impacts existing/upcoming pods, this proposal looks good to me.

Just one concern: for some integrators (not default scheduler), they may rely on PriorityClass deletion to trigger some customized behavior (like recreating/updating pending pods). This proposal may get them impacted.

[2021-02-19 20:43] Huang-Wei commented on #99218
That adheres to what I have in my mind - we can only manage this on client side.

I think it's fine. As we are already fetching the "snapshot" when pods get scheduled when `collectMetrics` equals true.

True.

An alternative is to design the case to be like: the step with `collectMetrics:false` to employ Pods that are _all unschedulable_, and then specify a custom metric "scheduler_e2e_scheduling_

[2021-02-19 20:46] dims opened #99243 "Fix unused/dead code #99120"
current output from `hack/verify-golangci-lint.sh` added in #99120

<details>

[code]

</details>

_Originally posted by @neolit123 in https://github.com/kubernetes/kubernetes/issues/99120#issuecomment-782156076_

[2021-02-19 20:54] dims commented on #99243
@Darshnadas will be working on this:
https://kubernetes.slack.com/archives/CDHA7K9L5/p1613496016050900

[2021-02-19 21:19] ahg-g commented on #99203
I don't see too much value in making this configurable. I think we need to update our docs to suggest using a priority value in the middle range to start with so there is room to go to either direction.

[2021-02-19 21:22] Huang-Wei commented on #98828
I agree with most of this. Except for "Annotations", I'm not 100% sure excluding annotation update in isPodUpdated()/MaterialUpdate() is a great idea - AFIAK, some custom scheduling pluigns expect annotation changes to trigger a rescheduling. So that's why I asked @NickrenREN which fields are frequently changed.

`MoveAllToActiveOrBackoffQueue` more represents a 1 event to N pods relationship, so

[2021-02-19 21:28] spiffxp commented on #92030
/remove-lifecycle rotten
/area release-eng

[2021-02-19 21:35] rtheis commented on #99238
A couple points of clarification on this issue:
- We would like to build Kubernetes from a mirrored registry
- We would like to pull all dependencies through Artifactory

Providing these inputs to the build process would likely enable us to do this.

[2021-02-19 21:38] ehashman commented on #98870
No issue with the 1.19 cherry-pick here (I LGTM'd), thanks for confirming N/A for 1.18. Just trying to keep the branches relatively in sync :)

[2021-02-19 21:39] ehashman commented on #98870
/triage accepted

[2021-02-19 22:19] liu-cong opened #99245 "Use multi-arch images in cluster setup"
#### What would you like to be added:
Instead of using architecture specific image tags, using multi-arch images provides a seamless experience.
For example, [kube-proxy](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/kube-proxy/kube-proxy-ds.yaml#L37) manifest doesn't need to specify the architecture.

#### Why is this needed:
Helps making cluster setup manifests and scripts

[2021-02-19 22:36] #94215 closed

[2021-02-19 23:02] ravisantoshgudimetla commented on #99203
I want to use [Terry Lambert's famous quote here](https://www.google.com/search?client=firefox-b-1-d&ei=30EwYKr0BtDN_Aa3_5SACw&q=terry+lambert%27s+Mr.foot+mr.bullet&oq=terry+lambert%27s+Mr.foot+mr.bullet&gs_lcp=Cgdnd3Mtd2l6EANQyExYyExg6U5oAXAAeACAAesBiAHcApIBBTAuMS4xmAEAoAEBqgEHZ3dzLXdpesABAQ&sclient=gws-wiz&ved=0ahUKEwjq3_rIhffuAhXQJt8KHbc_BbAQ4dUDCAw&uact=5). However I see both the arguments. I

[2021-02-19 23:08] ravisantoshgudimetla commented on #99205
I agree and this is concern I  share too. If all of us agree on the above approach, I can send a notice to kubernetes-dev/ & sig-scheduling mailing list and get feedback. We can also go with the approach of having a feature flag and disable  this feature before making it a default choice.

[2021-02-19 23:32] mskrocki commented on #96018
Run directly on the host:
[code]

[2021-02-19 23:33] #99058 closed

[2021-02-19 23:37] #94889 closed

[2021-02-20 00:09] ahg-g commented on #98828
I agree, annotations are sometimes used as an API. Why doesn't this apply to `skipPodUpdate`? @alculquicondor who I think added the annotations to the list.

I would rather have a consistent behavior, but I don't object to keeping it as is apart from trying unifying how we check for material updates.

[2021-02-20 01:15] spencer-p commented on #99232
I will second what @neolit123 said above - the kube-addon-manager is legacy software and is best avoided.

I also don't think it would be unreasonable to make a PR with some change like

[code]

but I think what would be most preferable is to avoid any kube-addon-manager changes. NixOS could use the `WorkingDirectory=` feature of systemd units to work around this. [see systemd docs](https://www.fr

[2021-02-20 02:22] pacoxu commented on #99177
@ash2k

So what we should do is log an info level log when the request returns `request canceled`.

I will update the PR.

[2021-02-20 02:23] bartgras commented on #71869
I had the same issue on EKS and changing node group default disk size from 20GB to 40GB helped

[2021-02-20 02:40] #90132 closed

[2021-02-20 02:40] #90224 closed

[2021-02-20 03:09] sanwishe commented on #98474
/cc @zshihang any suggestion?

[2021-02-20 03:10] Pingan2017 commented on #98885
/cc @Yuan-Junliang

[2021-02-20 03:30] BLasan commented on #99245
@liu-cong Is this still opened?

[2021-02-20 03:44] cbandy opened #99250 "Confusing documentation on Container preStop"
#### What happened:

The description on `Lifecycle.PreStop` says that "the reason for termination is passed to the handler" while [the linked page](https://github.com/kubernetes/website/blob/cbf7a63a32483511c648cbff3224c4b7199db752/content/en/docs/concepts/containers/container-lifecycle-hooks.md#container-hooks) states "no parameters are passed to the handler."

1. The two quotes above sound mutua

[2021-02-20 03:46] cbandy commented on #99250
/sig docs

[2021-02-20 03:50] edwardzjl commented on #89900
You specified cgroupfs as cgroup driver in your ``` /etc/sysconfig/kubelet ``` file

[code]

But also systemd in your ``` /etc/containerd/config.toml ```
[code]
When you init kubernetes cluster by ```kubeadm init```, you should **not** specify cgroup driver in ``` /etc/containerd/config.toml ```

See docs [here](https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

[2021-02-20 04:07] zhipengzuo opened #99251 "set authority for hostpath volume"
#### What would you like to be added:
can we offer some setting to set authority of hostpath volume ,like linux we can set 755.
#### Why is this needed:
if different process is running with different ,we need to controller the volume authority

[2021-02-20 04:27] nguyenkhanhthien commented on #71130
I ran into the same problem. Someone has solution please share with me. thanks.
![image](https://user-images.githubusercontent.com/23173987/108583759-89c64000-736e-11eb-8590-07b2a3958602.png)

[2021-02-20 04:51] pacoxu opened #99252 "[Flake][Sig-Storage] failed a lot today test/e2e/storage/persistent_volumes-local.go"
563 test failures (78 today) look like
->
**569 test failures (81 today) look like (after just 4 hours)**

 https://storage.googleapis.com/k8s-gubernator/triage/index.html?sig=storage#9926332667bd1934ccf0

Test name | Commit | Details | Rerun command
--- | --- | --- | ---
pull-kubernetes-e2e-kind | 2c89fa4a5949c2a8a9e76daada71a18b5afea20e | [link](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-

[2021-02-20 04:55] pacoxu commented on #99252
/sig storage
/kind flake

[2021-02-20 04:55] pacoxu commented on #99252
failed in #98960 as well today.

[2021-02-20 05:44] jingxu97 commented on #94108
/remove-lifecycle rotten

[2021-02-20 06:03] knight42 commented on #99239
/assign

[2021-02-20 06:03] fzu-huang opened #99256 "Ambiguity about networkpolicy e2e test case: ‘should allow egress access on one named port‘"
#### What would you like to be added:
The description of  networkpolicy.spec.egress.to/ports are ambiguous. I think  we should explain this question:

In this networkpolicy:

[code]
what does port: serve-80 mean?
A port named 'serve-80' which is used by some pods in this cluster.
or
A port named 'serve-80' which is used by some pods in the namespace of this networkpolicy.

this networkpolicy is ex

[2021-02-20 06:05] fzu-huang commented on #99256
/sig Network

[2021-02-20 06:17] #98959 closed

[2021-02-20 07:07] mowangdk commented on #99005
It seems like there are a lot of tests need to clean up.  can i take ```pkg/apis/storage/validation``` part?

[2021-02-20 07:15] vacheli opened #99258 "All hostaliases will be losed"
#### What happened:
All hostaliases will be losed
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):
##### Step 1:
[code]
##### Step 2:
[code]
##### Step 3:
[code]

[2021-02-20 07:40] pacoxu commented on #99252
[code]

[2021-02-20 08:38] vacheli commented on #99258
/sig cli

[2021-02-20 08:51] pacoxu commented on #99252
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L199
create pv/pvc with node0

Pod create with config:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L172
config.node0
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/persistent_volumes-local.go#L767

/sig scheduling

/assign
Th

[2021-02-20 08:55] JornShen commented on #99256
In Kep https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/1611-network-policy-validation/README.md

there is a description
[code]
NamedPort is used for multi port scene, I believe.  And the implement should be some ingress component to know about it.

[2021-02-20 08:55] #81920 closed

[2021-02-20 08:55] #82775 closed

[2021-02-20 09:04] fzu-huang commented on #99256
Thanks for reply, I think this description only  explain "what is namedport", it doesn't tell us what does it mean when it used in networkpolicy.

Anyway, I just want to known :

[2021-02-20 09:08] pacoxu commented on #99252
563 test failures (78 today) look like
->
569 test failures (81 today) look like (after just 4 hours)

/priority important-soon
I think it is important to fix it soon. I encounter it about 5-8 times today in several PR testings.

Feel free to change the priority if you think it is not that important.

[2021-02-20 09:10] JornShen commented on #99225
Is it refer to deploy order of kube-proxy? If kube-proxy deploy first in node, will it get just one or two core? @xh4n3

[2021-02-20 09:19] pacoxu commented on #99258
`kubectl replace`  works for me.

[code]

[2021-02-20 09:27] cablespaghetti commented on #79432
As a user of the Helm chart mentioned above, I agree we should move this out of the kubernetes repository for better ease of maintenance. I am happy to assist with the maintenance of the repository. However given @monotek seems to be the primary maintainer of this, can I suggest we move it to https://github.com/kokuwaio?

[2021-02-20 09:29] xh4n3 commented on #99225
By one or two I mean kube-proxy gets a small number of CPU cores, because most of CPU cores are allocated to static policy pods, sorry for the misunderstanding.
The number of conntrack-max depends on the CPU cores when kube-proxy started, even kube-proxy was first deployed, it can get restarted or redeployed by some reasons. Then the conntrack-max will change.

[2021-02-20 09:47] JornShen commented on #99225
yeah, when kube-proxy deploy firstly, Maybe it can see the whole cpu nums from shared cpu(/var/lib/kubelet/cpu_manage_state when kubelet start with static cpu policy). But I think it is a bug for kube-proxy. The cpu info can also get from node resource info. So will it be suitable to add a flag to set cpu num?

[2021-02-20 10:48] #94917 closed

[2021-02-20 11:02] serathius commented on #99239
Looks like flag validation was broken unintentionally with https://github.com/kubernetes/kubernetes/pull/98524
Revisiting this code make me think that we should add e2e tests as Beta requirements.

[2021-02-20 11:35] monotek commented on #79432
It depends if kubernetes project likes to provide the docker image and fluentd config in the future?
If so, we need to find a new repo under the kuberntes umbrella.

I guess https://github.com/kubernetes-sigs would be the right place for the repo but as far as i understand the process i have to be an active member of kubernetes-sigs to create a repo there, but i'm not.

If somebody else create it

[2021-02-20 11:47] xh4n3 commented on #99225
Maybe, or we can add a flag for user to choose where kube-proxy should get CPU informations from. There maybe some multi-tenant scenarios where kube-proxy are deployed for per tenant so they would like to limit conntrack-max by CPU cores allocated to each tenant.

[2021-02-20 12:10] alitoufighi commented on #63005
Hi. In our case, this behavior seems to be problematic when the log forwarder (deployed as DaemonSet) is evicted on the node. Is there any way to configure additional tolerations on daemonsets? (As said in https://github.com/kubernetes/kubernetes/issues/63005#issuecomment-427992574)

[2021-02-20 12:36] serathius commented on #99239
Proposed to add e2e periodics https://github.com/kubernetes/enhancements/pull/2529#event-4355198197

[2021-02-20 12:55] serathius opened #99265 "Move not-deprecated klog flags to Logs flag group"
#### What would you like to be added:

Currently each component initializes klog independently, this complicates setup of command line flags and results in all klog flags to be registered as global flag. This results in `--help` splitting logs between two groups `klog` flags are located in `global`, and `component-base/logs` are located in `logs` group.

@sttts proposed to unify all logging flags

[2021-02-20 12:55] serathius commented on #99265
/sig instrumentation
/priority important-soon

[2021-02-20 12:56] serathius commented on #99265
/cc @ehashman
/help

[2021-02-20 13:02] amado-saladino opened #99266 "PV with claim ref and namespace not set cannot be bound to PVC"
I am trying to bind PV to PVC using `pv.spec.clamRef` as mentioned in [this link](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#reserving-a-persistentvolume) But I did not set the field `pv.spec.claimRef.namespace` and was able to create the PV object.

I created a PVC to be bound to this PV by setting the field `pvc.spec.volumeName` as the name of PV.

#### What happened:

- PV

[2021-02-20 13:14] gavinfish commented on #99265
@serathius I think you are trying to at `sttts` instead of `sttt`

[2021-02-20 13:20] gavinfish commented on #99265
/assign
/remove-help

[2021-02-20 13:27] serathius opened #99267 "Move Logs options to component-base/config"
#### What would you like to be added:

Migrate https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/component-base/logs/options.go to https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/config

/kind cleanup

#### Why is this needed:

Configuration of logs is split between Options in component-base/logs/options.go used for control plane compone

[2021-02-20 13:29] cuttingedge1109 opened #99268 "Unable to sync kubernetes service: Post https://[::1]:6443"
#### What happened:
I used k8s cluster without problems but after reboot the node, I cannot do any actions(create, delete, rollout) except get and list.

I can see such errors in api-server logs.
[code]

#### Anything else we need to know?:
Why does api server consume ipv6 [::1] even though I didn't use that?

#### Environment:
- Kubernetes version
[code]
- Cloud provider or hardware configuration

[2021-02-20 13:35] cuttingedge1109 commented on #99268
/sig network

[2021-02-20 15:00] serathius opened #99270 "Json format should support same set of feature flags as klog"
#### What would you like to be added:

 To move json logging format to Beta it should support same set of features as klog. As it doesn't make sense to reimplement all features for all logging formats we should start from discussing what klog flags we want to support long term and what we should be deprecated. Plan:
 * Start discussion about set of features that should be supported
 * Propose a pl

[2021-02-20 15:51] #98381 closed

[2021-02-20 15:53] #94192 closed

[2021-02-20 16:06] spatilmoz commented on #53180
always happen to run into this issue since i installed cloud sdk in the incorrect directory. kubectl is part of Google cloud SDK install (need not be done separately ) in case you happen to install kubectl outside of SDK use brew install
@seemacalibrecode thats the perfect solution 👍

[2021-02-20 16:12] Jiu-hong opened #99271 "Exiting due to RSRC_INSUFFICIENT_SYS_MEMORY: System only has 0MiB available, less than the required 1800MiB for Kubernetes"
#### What happened:
I am installing minikube on ubuntu 20.04 according to this instruction:
https://phoenixnap.com/kb/install-minikube-on-ubuntu

Then I start this command **minikube start**
it failed with **Exiting due to RSRC_INSUFFICIENT_SYS_MEMORY: System only has 0MiB available, less than the required 1800MiB for Kubernetes
**

This is the storage usage in ubuntu
[code]

#### What you expecte

[2021-02-20 16:16] Jiu-hong commented on #99271
/sig minikube

[2021-02-20 17:07] neolit123 commented on #99271
try logging this issue in the kubernetes/minikube repository or ask in the #minikube channel on k8s slack.

/close
/kind support
/remove-kind bug
/sig cluster-lifecycle

[2021-02-20 17:07] #99271 closed

[2021-02-20 17:07] neolit123 commented on #99266
/sig storage

[2021-02-20 17:10] neolit123 commented on #99243
putting a sig on this.

/sig architecture
/area code-organization
/kind cleanup

[2021-02-20 17:10] neolit123 commented on #99243
/triage accepted

[2021-02-20 17:12] neolit123 commented on #99251
please provide more detailed information and YAML examples of this feature.

/sig storage

[2021-02-20 17:14] neolit123 commented on #99245
unclear if this is resolved.
the issue details are insufficient and unclear which images are lacking multi-arch.

re-open if needed and if more details are provided.

/close

[2021-02-20 17:14] #99245 closed

[2021-02-20 17:55] #94993 closed

[2021-02-20 19:03] chemikadze commented on #96770
Drive-by: we've tried to use `k8s.gcr.io/e2e-test-images` with 1.16 e2e.test, and it causes `[sig-cli] Kubectl client Guestbook application should create and stop a working application [Conformance]` to fail with the following in logs:

[code]

Closer examination of `k8s.gcr.io/e2e-test-images/redis:5.0.5-alpine` image shows that it's actually using redis *3.2.12*. Is that intentional?

[2021-02-20 20:25] spiffxp commented on #98326
Fleshing out what I suggested in  https://github.com/kubernetes/kubernetes/pull/98957#issuecomment-779485998 and https://github.com/kubernetes/kubernetes/pull/98957#discussion_r576460370

@wojtek-t @SergeyKanzhelev @navidshaikh @ehashman @liggitt

Can we agree to do the following?
- rearrange e2e tests into sig-owned packages,
  - `test/e2e/{sig}` - e2e tests that run as part of node_e2e
  - `test

[2021-02-20 20:38] caesarxuchao commented on #99177
@ash2k can you confirm how to reproduce the issue?

You said that this happened when you "restarted the watches". Did you call [Stop()](https://github.com/kubernetes/kubernetes/blob/031f2afbba6a3bade6e729e1709a0e792a1e6637/staging/src/k8s.io/client-go/tools/watch/retrywatcher.go#L283) and then recreate a RetryWatcher?

[2021-02-20 21:12] ash2k commented on #99177
@caesarxuchao Yes, when `Stop()` is called it aborts the http call [within the client](https://github.com/kubernetes/kubernetes/blob/bc66d3d137d3600b117be390ccb253a9dbcde25e/staging/src/k8s.io/client-go/rest/request.go#L674-L739) and it returns an error to the `RetryWatcher`. Re-creating it later is irrelevant for reproduction, it's just what my program does.

[2021-02-20 22:05] raravena80 commented on #69311
/remove-lifecycle stale

[2021-02-20 23:05] oliverhausler commented on #98840
_Sorry for responding late, guys._

@dougsland Yes, it's sort of blue/green what I am looking for. blue/green may work for production, but for continuous integration during development, it is not a viable thing to do.
@thockin Correct, it will never be possible to switch at the very same moment, but for stateless services, having different versions co-exist at the same time is very bad. So the tim

[2021-02-20 23:28] dims commented on #53180
@spatilmoz do you think we need to update the docs? https://kubernetes.io/docs/tasks/tools/install-kubectl/ i do see the option for using `brew` here https://kubernetes.io/docs/tasks/tools/install-kubectl/#install-with-homebrew-on-macos

[2021-02-21 00:06] spatilmoz commented on #53180
yeah the documentation has it already @dims. if curl doesnt work then brew could be used. Thanks

[2021-02-21 01:13] Nuru commented on #91459
@thockin wrote

No, not at all. The user community, including Helm maintainers and especially ingress controller maintainers, went to a lot of effort to work around what I am calling a bug (where `clusterIP: ""` was rejected) by going out of their way to not specify `clusterIP` at all so that at least `PATCH` would work. I view that as a hack to work around a bug, not a proper state of affairs. (T

[2021-02-21 02:45] michaelray27 commented on #56402
/remove-lifecycle stale

[2021-02-21 03:18] Sokwva commented on #86715
same error on v1.20.4

[2021-02-21 03:33] BenTheElder commented on #99238
- bazel is on the way out and is not relevant: https://github.com/kubernetes/enhancements/issues/2420
- `KUBE_DOCKER_REGISTRY` is meant to allow overriding `k8s.gcr.io` *as the output* registry:
https://github.com/kubernetes/kubernetes/blob/0a5e4a0d9bd44f262538eef048a7198203445c17/build/root/Makefile#L437
https://github.com/kubernetes/kubernetes/blob/0a5e4a0d9bd44f262538eef048a7198203445c17/build/

[2021-02-21 04:44] skydoctor commented on #72511
Wondering if the original problem reported in this bug (Incoming UDP packets after the 1st one being dropped before a response goes out) just got resolved on its own? Don't see the discussion continue in another bug, so assuming so, but wondering if anyone knows which version of K8s or calico (if the problem was there) fixed it?

[2021-02-21 05:20] patricio-dorantes opened #99280 "ephemeral-storage limit not working."
#### What happened:
As reported on [https://github.com/kubernetes/kubernetes/issues/78865](#78865) spec.template.spec.containers[].limits.ephemeral-storage is not working as expected. Pod is not being evicted when this limit is surpassed.

#### What you expected to happen:
[https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/](Official documentation) goes like this:
"If a

[2021-02-21 09:57] pacoxu commented on #99280
/sig node storage
link to #78865

[2021-02-21 10:11] #68734 closed

[2021-02-21 10:55] rainbowjose commented on #55713
Got same problem, kubernetes v1.20.4

[2021-02-21 11:03] rainbowjose commented on #97100
I can't understand what im doing wrong because a lot people here just keep silence about this problem, so im starting to think that's my fault.

[2021-02-21 11:07] icarmon commented on #96938
Having another similar issue
A deployment has a pod that is going through consecutive restarts:
[code]

In this case, all 4 pods have metrics:
[code]

Looking at the HPA, it shows the required number of replicas to be 4, while the resource usage passed the limit significantly
[code]
To get to 115% the cpu usage is computed only out of the 3 healthy pods, while the hpa description makes it appear a

[2021-02-21 11:23] rtheis commented on #99238
Thanks @BenTheElder, we missed `KUBE_BASE_IMAGE_REGISTRY`.  That will likely provide much of what we need.  We are trying to build Kubernetes API server, scheduler and controller manager images and the kubelet and kube-proxy binaries.  Are there any other knobs that would allow use to pull package dependencies for these builds?

[2021-02-21 11:33] airadier commented on #87185
/reopen

[2021-02-21 11:34] airadier commented on #87185
/remove-lifecycle rotten

[2021-02-21 12:26] wojtek-t commented on #98326
+1 for that

I think that the PR above as an example is an intermediate step (it's not a different direction, rather just one step instead of multiple at once).

[2021-02-21 13:56] amit4alcide opened #99285 "Provide downward API for Node's ProviderID and System UUID"
#### What would you like to be added:
kubectl describe node provides ProviderID and System UUID information,
however there is no supported downard API allowing to pass them to Pod
like in case of spec.nodeName

#### Why is this needed:
add ProviderID and System UUID to downward API node spec so pod can have node information when needed.

although labelled as "feature", any guidance on how to achie

[2021-02-21 14:36] gavinfish commented on #96650
/remove-lifecycle stale

[2021-02-21 15:16] #92496 closed

[2021-02-21 16:17] #94860 closed

[2021-02-21 16:17] #95033 closed

[2021-02-21 16:45] Riaankl commented on #98180
Thank you for the information.
We are busy looking into it.
The flake relate to Promote AppsV1Deployment resource lifecycle test - +6 endpoint coverage [#96487](https://github.com/kubernetes/kubernetes/pull/96487)

/cc heyste

[2021-02-21 16:48] neolit123 commented on #99285
/sig node

[2021-02-21 18:53] AndrewSav commented on #14040
/remove-lifecycle stale

[2021-02-21 19:35] schollii opened #99286 "Invalid YAML was accepted and led to wrong behavior"
#### What happened:

I applied the following invalid yaml (because the `envFrom` appears twice):

[code]

This was accepted by API server and the Deployment was created, however the *first* envFrom was ignored so the environment variables from the configmap were absent from the pods.

#### What you expected to happen:

`kubectl apply -f thefile.yaml` should have failed.

#### How to reproduce it (

[2021-02-21 19:48] wojtek-t commented on #98326
There is one question that I have at this point - what do we do with nested Described, e.g.: this one:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/network_partition.go#L131

[there is KubeDescribe nested in SIGDescribe]

[2021-02-21 19:58] wojtek-t commented on #98326
I think that having SIGDescribe twice in those cases doesn't seem to be the best option, and those cases seem to be significant percentage of remaining cases...

[2021-02-21 20:00] wojtek-t commented on #96038
Closing - we didn't have a single flake in that job for a month now.

[2021-02-21 20:00] #96038 closed

[2021-02-21 20:19] dougsland commented on #98840
I don't have the details from the development process you guys have but another way to do it is using A/B Testing. Which basically you deploy two versions of the software (master/devel) for testing new features and based on tests you can increase/decrease the percentage of traffic/users going to master or devel site without loosing any user connection.

[2021-02-21 20:49] olivierlemasle commented on #98840
@dougsland I guess you mentioned the wrong Oliver ;-)

cc @oliverhausler

[2021-02-21 20:54] neolit123 commented on #99286
this is more of a feature request, because AFAIK kubectl doesn't have an option for strict unmarshaling on the client side for the user input.

/remove-kind bug
/kind feature
/sig cli api-machinery

note, this is not a supported version skew:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

[2021-02-21 22:21] aojea commented on #99268
can you paste your apiserver config?

[2021-02-21 23:09] cuttingedge1109 commented on #99268
[code]

[2021-02-22 00:12] aojea commented on #99268
I can't see anything suspicious there, if you can attach the full logs maybe they have more infor.

Have you done any  operation in the system related with the network, in addition to the kubeadm steps?

[2021-02-22 02:58] roycaihw commented on #97962
/unassign
/assign @sxllwx

[2021-02-22 04:04] mengjiao-liu commented on #93719
in my environment,

[2021-02-22 04:29] #92232 closed

[2021-02-22 04:31] zshihang commented on #98474
looks like the issue happened when mounting a sa secret-based token in the pod. due to the non-atomicity in token controller, i'd suggest using `BoundServiceAccountTokenVolume`(enable by default starting 1.21). as a workaround for now, you can
1. either turn on `BoundServiceAccountTokenVolume` feature gate(prior to 1.21) on both kube-apiserver and kube-controller-manager
2. or starting in 1.20, di

[2021-02-22 05:17] pacoxu commented on #74151
/area kubelet

[2021-02-22 05:23] SergeyKanzhelev commented on #96524
sorry for the delay
/remove-lifecycle stale

[2021-02-22 05:33] SergeyKanzhelev commented on #98326
I don't have strong opinion here. Mostly curious why prefer the non-explicit variant? Is it to optimize for tests migrations?

[2021-02-22 07:21] garyhuang123 commented on #63814
To cut off the container spec field version mantenance effort, how about adding a container label hashVersion valued with the current kubelet version, if the hashVersion read from existent container is null or not matched with current kubelet version, just skip the change detection? The container would be recreated with new hash method by future pod updates. If any risks are concerned, kubelet sho

[2021-02-22 07:42] george-angel commented on #61486
/remove-lifecycle stale

[2021-02-22 07:57] mborsz commented on #96752
/remove-lifecycle stale

[2021-02-22 08:02] uablrek commented on #99268
Ckeck also what the DN "localhost" resolves to. It should be the ipv4 address 127.0.0.1.

[2021-02-22 08:21] harche opened #99296 "Incorrect cgroup values when pod resources set to just numeric 1"
#### What happened:
When the following pod yaml is used,
[code]
The corresponding cgroup entry reads as,

[code]

#### What you expected to happen:
value in the file `memory.limit_in_bytes` should have been 1 not 0.

#### How to reproduce it (as minimally and precisely as possible):
Use the given pod yaml and observe the value in corresponding `memory.limit_in_bytes`

#### Anything else we need to

[2021-02-22 08:21] harche commented on #99296
/sig node

[2021-02-22 08:29] harche commented on #99296
Not sure if it's related but when I use,

[code]
The corresponding cgroup entry reads,
[code]
I was expecting it to be 1000000 not 999424.

[2021-02-22 08:31] harche commented on #99296
Although when I use `MiB` unit,

[code]
the corresponding cgroup entry is correctly set,
[code]

[2021-02-22 08:32] NickrenREN commented on #98828
We will update pod annotations, but we don't want this to affect backoff policy.
If we have some high priority pods which can't be scheduled, moving them to active queue directly will let the low priority pods get less chance to be scheduled.

It is quite hard to find a general solution to define the `brand new pod`, different use cases may have different results. so why not follow backoff policy

[2021-02-22 08:54] pacoxu commented on #62822
/remove-lifecycle rotten
It will be beta in 1.21 release.

[2021-02-22 09:02] njuptlzf commented on #99258
I think this is a known issue(patchStrategy:"merge" patchMergeKey:"ip"), but I don't know why all of them are missing, I think it will keep one.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/api/core/v1/types.go#L3064

This is a related issue
https://github.com/kubernetes/kubernetes/issues/39188

[2021-02-22 09:05] ping035627 commented on #89378
This was fixed by #87673 in v1.17.3

[2021-02-22 09:15] jmguzik commented on #99267
@serathius why the previous attempt has failed? Could you cast more light?
If you do not expect some tricky corner cases, I could give it a try. It will be my first work in k8s though, so let me know if you consider this a good first job.

[2021-02-22 09:19] vacheli commented on #99258
Using kubectl replace work well

Thank @pacoxu

/close

[2021-02-22 09:20] #99258 closed

[2021-02-22 09:21] harche commented on #99296
/triage accepted

[2021-02-22 09:22] juliantaylor opened #99299 "kube-proxy iptables wrong configuration externalTrafficPolicy Local in large clusters"
#### What happened:

In our cluster of about 260 nodes and 9000 pods we sometimes have the kube-proxy wrongly configures iptables for services with externalTrafficPolicy Local during phases of high endpoint activity (rolling redeploy).
This occurs only sometimes so it is probably some kind of race condition or caused by intermittent errors like connection resets.

The node in question has (accordi

[2021-02-22 09:30] pacoxu commented on #98486
UT running timeout in my PR test:

- //pkg/controller/volume/scheduler PASSED in 109.6s
- //pkg/controlplane:go_default_test PASSED in 152.0s
- //staging/src/k8s.io/apiserver/pkg/server/filters:go_default_test TIMEOUT in 300.1s

And I find another 3 slow test cases.

[2021-02-22 09:52] sfudeus commented on #99299
/sig network

[2021-02-22 10:02] pacoxu commented on #98411
@sftim  We need to add some documentation for kubeadm dual-stack install before 1.21 release as it is beta now.
I will working on it https://github.com/kubernetes/kubeadm/issues/1612#issuecomment-773906850 this week or next.

[2021-02-22 10:11] oldthreefeng commented on #98428
fixed by change another machine.

[2021-02-22 10:11] #98428 closed

[2021-02-22 10:17] adisky commented on #98665
closing this issue as the tracking issue for the KEP as I have opened a tracking issue in k/enhancements
/close

[2021-02-22 10:17] #98665 closed

[2021-02-22 10:18] wzshiming commented on #99296
https://github.com/opencontainers/runc/pull/2812

This should be a issue with libcontainer, the memory limit cannot be too low.

[2021-02-22 10:45] k82cn opened #99302 "Move scheduler http extender to pulgin"
#### What would you like to be added:

For some latency scheduler extender, they also use HttpExtender to work with default scheduler; it's better to have an http-extender plugin of scheduler framework to support them.

#### Why is this needed:

Support latency scheduler extender; and make http-extender-plugin import-able by 3rd part scheduler.

[2021-02-22 10:46] k82cn commented on #99302
/sig scheduling

[2021-02-22 10:46] k82cn commented on #99302
@kubernetes/sig-scheduling-feature-requests

[2021-02-22 10:55] harche commented on #99296
/close

Thanks @wzshiming

[2021-02-22 10:55] #99296 closed

[2021-02-22 11:04] rohitsakala commented on #80313
@liggitt One question, Do admission webhooks explicitly use http/1.1 in all kubernetes versions ? (v1.14, v1.15, v1.16) ?

[2021-02-22 11:51] adabuleanu opened #99303 "API server gives inconsistent responses for CRD"
#### What happened:
On a machine with kubernetes v1.18.10 installed (one node only) after a system reboot (the node was cordon and drained before reboot) the query of a CRD returned two different response:
- first response contained 2 retries on the API server not being available (we have a retry mechanism in place), ending with a "404 not found" response:
[code]
- second response gave the correct

[2021-02-22 12:01] adabuleanu commented on #99303
/sig api-machinery

[2021-02-22 12:13] adabuleanu commented on #99303
As a side node, we experience something similar in our multi-node cluster deployments with rook for persistent storage. Our debugging lead us this thread where the rook community are talking about similar inconsistency with API server response https://github.com/rook/rook/issues/4274#issuecomment-554552377

[2021-02-22 12:38] adtac opened #99304 "performance degradation in the scheduler 5k nodes throughput test"
#### What happened:

The scheduler throughput tests in perf-dash (see link below) show a serious, consistent 35-40% drop in performance since around 10-Feb-2021. I'm not sure what caused this. I'm going to bisect.

![Screenshot_2021-02-22 Screenshot](https://user-images.githubusercontent.com/7521600/108709448-b7f77b80-7538-11eb-9a23-b87a524a6495.png)

#### What you expected to happen:

Not drop in

[2021-02-22 13:57] liggitt commented on #63814
The current issue is not related to the kubelet version, but changes to the API server version. I think the kubelet hashing on container fields it knows can change and expects to handle is the right approach (currently just image name, I think; in the future, container resources as well)

[2021-02-22 14:26] yaminisridaran commented on #99113
On Prem Kubernetes cluster. We are using CNI calico.

[2021-02-22 14:31] hvenev-vmware opened #99305 "Cluster join fails due to insufficient ephemeral-storage"
#### What happened:
`kubeadm join` on the new node fails sometimes. The following error appears in the log:
[code]

#### What you expected to happen:
`kubeadm join` on the new node succeeds every time

#### How to reproduce it (as minimally and precisely as possible):
Join a control plane node

#### Anything else we need to know?:
The node has over 40 GB of free space on its root partition.

I add

[2021-02-22 14:32] aaronbbrown commented on #99162
Thanks, @uablrek! ❤️  Please let me know if you need any more details about our configuration.

[2021-02-22 14:47] liggitt commented on #99239
cc @dims

[2021-02-22 14:48] kesor opened #99306 "kube-schduler scheduler-policy incorrect values cause panic"
#### What happened:
Trying to deploy Kubernetes 1.20.4 using Kops 1.20.0-alpha.2 and seeing a bunch of panic messages in the logs for `kube-scheduler`.

#### What you expected to happen:
Logged warnings that don't crash the `kube-scheduler` pod.

#### How to reproduce it (as minimally and precisely as possible):
Deploy Kubernetes 1.20.4 with the following command line arguments for `kube-scheduler

[2021-02-22 15:00] dougsland commented on #98840
Closing this one, feel free to re-open if you have more questions.
/close

[2021-02-22 15:00] #98840 closed

[2021-02-22 15:12] adabuleanu commented on #99303
This is what I am trying in order to reproduce this issue:
- added a watcher using curl to query the API server (wanted to remove the k8s python client from the discussion)
[code]
- tried multiple ways to kill the control pods like:
        - delete control plane pods individually
        - delete all control plane pods with `kubectl delete pods -n kube-system -l tier=control-plane`
        - dele

[2021-02-22 15:13] aojea commented on #99299
does this mean that the Service object literally switches the field to "Local" ?

[2021-02-22 15:15] ahg-g commented on #99304
/triage accepted

[2021-02-22 15:15] adabuleanu commented on #99303
I managed to get a 403 http status after a system reboot.

This is what I got from the above query loop
[code]
These are the apiserver logs during that period
[code]

These are the etcd logs during that period
[code]

[2021-02-22 15:19] ahg-g commented on #99304
The scheduling latencies graphs are not conclusive.

Things to do to help us root cause the issue:
1) run integration tests benchmarks before and after the drop in throughput.
2) compare scheduler profiles (we can find them in the artifacts of the benchmark runs) before and after the dip.

Followup fixes:
1) bind latency plugin is not showing up on the dashboard.
2) e2e scheduling latency is not s

[2021-02-22 15:20] liggitt commented on #99303
was the API server restarted at the same time? is the request even reaching the API server?

In 1.16, https://github.com/kubernetes/kubernetes/pull/81244 ensured the API server will return 503 responses to custom resource endpoints while starting up.

[2021-02-22 15:21] Kanshiroron commented on #96614
@clarkmcc That's not what I meant, sorry if that wasn't clear.
What I suggested is to have the same random value applied to both the readiness and the liveness probe in the **same pod**. And the reason for this request is that in some cases we can have a shared lock in those probes thus resulting in some health check failing (if the added random values result in having the two probes running at th

[2021-02-22 15:25] alculquicondor commented on #99205
Sounds like starting a KEP is the best next step

[2021-02-22 15:25] adabuleanu commented on #99303
My environment where this was reproduced was after a system reboot (one node machine that was cordoned and drained before reboot). So, yes all control plane pods were restarted. As stated in the initial description of the ticket, two consecutive calls reported a "404 not found" on a CRD and immediately after the correct response. The CRD was never touched (delete/updated) during this time.

[2021-02-22 15:31] adabuleanu commented on #99303
In my testing so far, I never encountered 503 response. So, immediately after reboot it gives 000 and after a while it gives 200. Between these I managed to get a 403 (manually reproduced) and a 404 (reproduce only during a cicd pipeline)

[2021-02-22 15:35] Kappie37 commented on #92674
Dear @alejandrox1 @krzyzacy,

We were looking at this issue and observed that in test-infra (https://github.com/kubernetes/test-infra/tree/master/jenkins) Jenkins is dead. Why can we not delete these remaining test artifacts from the time when e2e tests were executed with Jenkins? If it is not possible/wise to delete, how can we figure out what needs to be preserved?

Do you need us to rewrite the

[2021-02-22 15:42] fromanirh commented on #95089
I see two relevant PRs (https://github.com/kubernetes/kubernetes/pull/95099 and https://github.com/kubernetes/kubernetes/pull/93920) both merged. Anything else needed to close this issue?

[2021-02-22 15:44] fromanirh commented on #43423
let me see if I can help here: will review the existing tests and, if still relevant (the original issue is from 2017!) I'll file a PR implementing the suggested test.

[2021-02-22 15:45] fromanirh commented on #43423
/assign fromanirh

[2021-02-22 15:49] alculquicondor commented on #98828
I was not involved in that :)
Issue: #52914
PRs: #54008 #86230
It looks like the challenge was to avoid logging an error when we try to schedule a Pod that was already scheduled (when an extender modifies annotations during binding).

That said, I agree that we should always respect the backoff policy.

[2021-02-22 15:51] liggitt commented on #99303
is CI (where the 404 response was seen) talking directly to a Kubernetes API server or to some load balancer or proxy?

is the debug output in the original report (`response body: 404 page not found`) echoing the exact response body received? if so, that doesn't match the 404 response the Kubernetes API server would generate.

[2021-02-22 15:57] dims commented on #99239
@serathius @liggitt ACK, any changes here will be klog v3 ... yes, it's been really bad for a long time now.

@serathius please open a fresh issue in kubernetes/klog with some notes on what you would like to see that will make things better.

[2021-02-22 16:02] raghawendram opened #99309 "Unable to mount the specified Limit size emptydir volume(tmpfs) using medium as memory in all PODs"
Hi,

There is a requirement in my environment to restrict the size limit of a tmpfs mount point inside the kubernetes POD.
As per the official K8S docs, if we create the tmpfs mount using emptydir volume and medium as "Memory", by default it allocates the mount point size as 50% of the worker Node Memory.
So, to restrict the Mount point size with some Limit, need to enable the below feature gate.

[2021-02-22 16:03] jmmen1 commented on #95983
@sachincool - I am not able to delete the namespace, since I am using the default namespace.

I deleted the AWS LB controller deployment, then attempted to delete the ingress objects, but it's still hanging when I attempt to delete the ingresses.

[2021-02-22 16:13] serathius commented on #99239
Copying discussion from https://github.com/kubernetes/kubernetes/pull/99257#discussion_r580330690

First all klog initialization should be unified under `component-base/logs` https://github.com/kubernetes/kubernetes/issues/99265

Next step we should, wrap klog by component-base/logs and forbid direct import of klog library. That way we remove chance of components invoking klog without initializing

[2021-02-22 16:30] neolit123 commented on #99306
/sig scheduling
/milestone v1.21.0

could be fixed in v1.21 already, but adding the milestone so that we track this.

[2021-02-22 16:31] neolit123 commented on #99306
/milestone v1.21

[2021-02-22 16:31] ademariag opened #99311 "Env valueFrom ServiceAccountToken"
#### What would you like to be added:

It would be useful to allow an env to be populated with the token from [ServiceAccountTokenProjection](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#serviceaccounttokenprojection-v1-core) either directly of through ProjectedVolumeSource

Currently [EnvVarSource](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#envvar

[2021-02-22 16:32] ankeesler commented on #98451
Appreciate that comment @liggitt, thanks for helping move this issue along.

I am really hoping that we can be confident that `terminal.IsTerminal(int(os.Stdin.Fd()))` returns true if and only if stdin is a terminal. I don't know how we would otherwise detect that stdin is a terminal. I'm certainly not a subject matter expert here, just speaking from experience and trusting the `terminal` package.

[2021-02-22 16:32] neolit123 commented on #99025
please open a separate issue if you think the docs can be improved.
/close

[2021-02-22 16:32] #99025 closed

[2021-02-22 16:33] neolit123 commented on #99309
/sig storage

[2021-02-22 16:33] neolit123 commented on #99309
this seems like a request for support.
please use:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

if you find a bug please open a new issue.
/kind support
/close

[2021-02-22 16:33] #99309 closed

[2021-02-22 16:34] neolit123 commented on #99311
/sig auth storage

[2021-02-22 16:40] adabuleanu commented on #99303
1. The CI is talking directly with the API server.
2. It is the response of the python k8s client from [here|https://github.com/kubernetes-client/python/blob/v17.14.0a1/kubernetes/client/rest.py#L230]. I have looked at the k8s python client code and it does not alter the response in any one, it just does simple rest API calls to the k8s API server.

[2021-02-22 16:46] juliantaylor commented on #99299
Yes, the service object has following set:

[code]

[2021-02-22 16:55] t0rrant commented on #96240
I got here while searching for this exact error but directly with docker, not on kubernetes.

Docker Version: 19.03.14

will raise an issue there as well

[2021-02-22 16:57] kishorj commented on #90132
The legacy cloud provider is deprecated, and will not provide new features anymore.

There is already a feature request https://github.com/kubernetes/cloud-provider-aws/issues/88 to address this issue. Please direct all further comments/concerns to the cloud-provider-aws issue.

[2021-02-22 16:59] 2rs2ts commented on #70585
@odinuge

No, I'll have to look into adding some automated collection of that, if it's not the same as the container level metrics I had for cfs throttled time/periods.

Did I say that? In my case we see throttling when all containers have integer CPU requests/limits. And with single container pods too. It literally just always happens no matter what.

re: the conversation you both are having, I t

[2021-02-22 17:46] kishorj commented on #57250
NLB instance mode will be supported by the [AWS Load Balancer Controller](https://github.com/kubernetes-sigs/aws-load-balancer-controller) in the upcoming 2.2.0 release. The support for PROXY protocol will be available with the instance mode.

The legacy cloud provider is deprecated and new releases will be limited to critical bug fixes only.

The [ AWS Cloud Provider for Kubernetes ](https://gith

[2021-02-22 17:46] #57250 closed

[2021-02-22 18:18] spiffxp commented on #98326
[To ginkgo, there is no difference between `Describe`, `Context`, `When`; they're all "nested containers".](https://github.com/onsi/ginkgo/blob/dbafd0c50bd917f761b333140c58abb6d1a707f9/ginkgo_dsl.go#L322-L324)

I can't think of a strong reason to ban them, and I think it would be more trouble than it's worth to come up with alternatives for how they're used now.  I can't think of a compile-time wa

[2021-02-22 18:22] wojtek-t commented on #98326
That makes sense to me.
I will start looking into migrating existing tests to satisfy these rules in free cycle, but i'm leaving the enforcement to you :)

[2021-02-22 18:25] spiffxp commented on #98326
I do consider not having to modify test code to change ownership a benefit.

But it's more that we'd have to change a lot more code to conform to `SIGFooDescribe` than `SIGDescribe`.  Since we mostly already have the `SIGDescribe` pattern in place, I'd rather stick to it.
[code]

[2021-02-22 18:35] spiffxp commented on #98326
Thinking of timeline (ref: https://github.com/kubernetes/sig-release/tree/master/releases/release-1.21#tldr)
- This work can continue past Code Freeze on Mar 9, but that's a useful milestone to evaluate our progress
- I'll update the issue description as we get tests owned
- My goal is to get enforcement landed sometime after Code Freeze
- This work can't continue past Test Freeze on Mar 24

[2021-02-22 18:38] Huang-Wei commented on #99304
@adtac which tool (clusterloader2) generates this graph? I guess we have to understand the underlying mechanism it's collecting and workloads, and then use the lightweight way (integration test benchmark) to bisect. But be aware of some bugs I spotted recently in the integration test benchmark, like HistogramVec not supported well, initialized Pods' metric also counted into benchmark results, etc.

[2021-02-22 19:00] alculquicondor opened #99318 "Scheduling Framework testing helpers don't preserve PluginConfig"
/sig scheduling
/triage accepted

The method `RegisterPluginAsExtensionsWithWeight` in `pkg/scheduler/testing/framework_helpers.go` only modifies the slice of PluginConfig internally.
Instead, the method should return the appended slice so that callers can override the original. For example, here:

https://github.com/kubernetes/kubernetes/blob/5b5445c4fb8d57d5d005d2885c8b17310ffdc6a0/pkg/scheduler

[2021-02-22 19:01] AliceZhang2016 commented on #99318
/assign

[2021-02-22 19:03] ahg-g commented on #99318
ref: https://github.com/kubernetes/kubernetes/pull/99288#discussion_r579892155