[2022-06-12 03:03] sschmitt commented on #110521
/sig api-machinery

[2022-06-12 07:23] #108374 closed

[2022-06-12 11:50] #107500 closed

[2022-06-12 12:11] Ed87 commented on #110517
@alberthuang24   replacing with localhost is working :
`kubectl exec -it <pod_name> -- sh`

`mongodump --uri="mongodb://root:PASSWORD@localhost:27017/platforms" --authenticationDatabase admin --gzip --out /tmp/dump-12-06-22/mybackup.gz
2022-06-12T11:51:03.264+0000    writing platforms.tools to /tmp/dump-12-06-22/mybackup.gz/platforms/tools.bson.gz
2022-06-12T11:51:03.270+0000    done dumping platf

[2022-06-12 12:34] redbaron commented on #99003
/remove-lifecycle stale

[2022-06-12 13:51] #107511 closed

[2022-06-12 14:12] aojea commented on #110521
is it possible that some of the `kubectl` commands is failing and not removing the finalizer correctly?

the bash script is not asserting on the output of the patch commands to verify the operation has succeed

[2022-06-12 14:28] yangjunmyfm192085 commented on #110514
/assign @Octopusjust

[2022-06-12 14:29] sschmitt commented on #110521
Hi, I ran it again and grabbed the audit logs. Both the patch and delete are successful.

[code]

Patch:
[code]

Delete:
[code]

Get:
[code]

[2022-06-12 14:48] #110462 closed

[2022-06-12 15:26] ErnestFistozz opened #110528 "Add File templating for Kubernetes Object"
### What would you like to be added?

# Current Setup
The current setup when creating a `ReplicaSet`, `Deployment` , `CronJob` or any k8s object requires the template to be described in the same file. For example
[code]

#Potential Configuration
This is obviously does serve the purpose, however, for a complex pod template, this becomes tedious and is no longer readable. would be great to have func

[2022-06-13 00:36] clyang82 commented on #110415
close it since it is duplicated. Thanks.

[2022-06-13 00:36] #110415 closed

[2022-06-13 02:24] liggitt commented on #110530
/help

[2022-06-13 02:24] liggitt commented on #110530
/triage accepted

[2022-06-13 03:40] yylt commented on #110396
@kerthcet  ok.

so truth is that the deployoment with toleration `NoSchedule: Exists` will scheduled on node which had shutdown always.

[2022-06-13 03:40] #110396 closed

[2022-06-13 04:40] nckturner commented on #110281
What's the reason for having: `"service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"`  and also wanting to run on a single AZ? I.e. why enable cross zone load balancing if you don't want it?

[2022-06-13 04:44] nckturner commented on #110281
/close
I'm going to close this assuming the answer is just don't set `"service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"` if you don't want cross zone load balancing, feel free to reopen if that doesn't work for you.

[2022-06-13 04:45] #110281 closed

[2022-06-13 06:08] TobiasJacob commented on #65797
+1 for this feature!

[2022-06-13 06:29] tonyaw commented on #110126
@verb, Thanks!
With debugging profile support, I assume I can start a "netadmin" ephemeral container  even under restricted psa.
Is it right?

[2022-06-13 06:38] redbaron commented on #74415
/remove-lifecycle rotten

[2022-06-13 06:42] staugust opened #110533 "Expose metrics for CSI grpc calls"
### What would you like to be added?

I'd like `kubelet` to exposes operation duration buckets, error_count, total_count for `CSI` GRPC methods just like what `CRI` client has done.

[code]

### Why is this needed?

In our cluster, there're several kinds of CSI implementations.  We want to monitor whether each CSI implementation works as expected.  Different nodes may have different kinds of CSI i

[2022-06-13 06:44] staugust commented on #110533
/sig node
/sig storage

[2022-06-13 06:57] #107285 closed

[2022-06-13 07:00] bitti commented on #27308
I realized that this alias may not be the most practical solution for many since it requires running the preparation script to get the cluster specific configs in place (and if you get new cluster configurations you'd need to rerun it). Therefore I put this together now in a self contained script which creates the necessary files transparently and also avoids cluttering `~/.kube`: https://gist.git

[2022-06-13 07:06] wdec commented on #100698
/reopen

[2022-06-13 07:29] tonyaw commented on #110126
@verb, another question is if "debugging profile" can interact with other third party projects, such as opagk?

[2022-06-13 07:52] jsafrane commented on #110514
There is a problem when there is no default storage class for a while and another user creates a PVC. Such PVC won't get the new SC. We're trying to fix it in https://github.com/kubernetes/enhancements/pull/3337. Until then, having two default storage classes for a brief moment is IMO slightly better, because at least users get an error message and can retry PVC creation.

In addition, (in-tree) a

[2022-06-13 08:02] aberenshtein commented on #110281
@nckturner this is still a buggy behavior.
How can I be sure that even if I set `service.beta.kubernetes.io/aws-load-balancer-cross-zone-load-balancing-enabled": "true"` when I have 3 zones, it will only take the relevant zones. I.e the zones where the masters run

[2022-06-13 08:15] FillZpp commented on #74415
It is already supported by [multiNamespaceCache  in controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/blob/master/pkg/cache/multi_namespace_cache.go#L46), which will actually create multiple informers (one informer for one namespace) and users have not to manage those informers manually.

But I don't think it is a good idea here to change one informer support for multiple n

[2022-06-13 08:28] Octopusjust commented on #110514
/assign @Octopusjust

[2022-06-13 08:30] zmalik commented on #110430
I believe staying consistent with `spec.failedJobsHistoryLimit` and `spec.successfulJobsHistoryLimit` would be ideal
even if the controller doesn't create them, they still are owned by the Cronjob.

[2022-06-13 08:38] FillZpp commented on #110487
I think it is duplicated of #9043

Unfortunately, it is unlikely to be supported by K8s itself, which actually breaks the Pod immutable rule. But [OpenKruise](https://openkruise.io/), one of the CNCF Sandbox projects, has supported in-place update for container images and even environments (via downward API) in Pod. You can read the doc here https://openkruise.io/docs/core-concepts/inplace-update

[2022-06-13 08:55] verb commented on #110126
@tonyaw My understand is that will depend on how you configure PSA. See https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/2579-psp-replacement#exemptions.

I don't know what opagk is so I can't comment on that.

[2022-06-13 09:54] hormes opened #110536 "Extended resource cannot be over-committed"
Since this PR [#48922](https://github.com/kubernetes/kubernetes/pull/48922), extended resource outside *kubernetes.io namespace cannot be over-committed.

From the implementation of kubernetes, this is just a validation in apiserver, this constraint itself has no other effect (or a side effect without it).

Take a general look at the current rules:

- all resources are expressed within kubernetes

[2022-06-13 10:09] zwzhang0107 commented on #110536
Totally agree with the cancel of extended-resource restriction. Especially consider the device plugins scenario, that resource must be integer-countable and cannot be overcommitted seems unreasonable.

[2022-06-13 10:24] ahg-g commented on #10043
Is there a summary of why moving this API is necessary given that is has been around for quite sometime now? Is it related to RBAC?

[2022-06-13 11:49] Ed87 opened #110539 "HostNotFound: error when connecting to Mongo pod in same namespace"
I am trying to connect to a MongoDB pod (**mongodb-deployment-c896cf876-djhvl**) from another MongoDB pod (**mongodb-0**) which is in the same namespace but when I attempt to do so I am getting an error :

[code]

[2022-06-13 12:55] Addyvan commented on #87491
Bump

[2022-06-13 13:13] Shubham82 commented on #108865
Hi @enj

If adding this line seems good then I'm up for it!

[2022-06-13 13:25] Jeroen0494 commented on #110460
Is this a blocker for https://github.com/kubernetes/kubernetes/issues/91286?

[2022-06-13 13:28] alculquicondor commented on #110430
/sig cli

[2022-06-13 13:29] alculquicondor commented on #110430
/remove-wg batch

it kind of falls outside of the charter

[2022-06-13 13:33] markyjackson-taulia commented on #102849
Hi @aravindhp . My name is Marky Jackson and I am one of the k8s 1.25 bug triage shadow assigned to track this body of work. It looks like all PR’s have been merged. Just checking in to see if this is still on track for k8s 1.25?

[2022-06-13 13:40] alculquicondor commented on #108977
/close

[2022-06-13 13:40] #108977 closed

[2022-06-13 13:54] sschmitt commented on #110521
I'm not too concerned about the removal of the finalizer. That's only there to clean up the object when we get the expected behavior (both add_finalizer and delete_object succeed and object is present).

My concern is for when add_finalizer and delete_object both succeed but the object is gone.

[2022-06-13 15:22] red8888 commented on #69696
@VengefulAncient if its working for you can you confirm the following:

* Is your node pool also on 1.21?
* Can you see if its setting "cluster-autoscaler.kubernetes.io/safe-to-evict" on those pods for you?
* What scaling profile are you using? optimize-utilization ?

[2022-06-13 15:27] daodennis commented on #110539
There is a name resolution error in your output so maybe the hostname is incorrect? I'm not a member of the GitHub organization so take this advice with a grain of salt:
[code]
Can you post the output of and feel free to truncate to the mongodb service:
[code]
Also, if you reformat your original bug with the code and other output and surround each block with triple backticks it will be easier to r

[2022-06-13 15:49] marcelvwe commented on #109780
@jsturtevant the reproduction path you are using seems correct, meaning that in your case the behavior is not available.

The output you are referring to (with ip 10.234.15.250 in it), is when I create an additional service, with `externalTrafficPolicy: Local` (sorry, I made a typo in the issue), to demonstrate the difference in behavior between `Local` and `Cluster` on our configuration.

One thi

[2022-06-13 15:50] caseydavenport commented on #109814
Yeah, this use-case poses some problems for something like host-local (unless maybe you only give out a very small v4 CIDR per node). Not every IPAM model will be able to provide for this to the same degree.

[2022-06-13 16:18] spstarr commented on #17088
I would have thought this would have been supported, for blue-green setups using *two* namespaces...

[2022-06-13 16:34] enj commented on #108807
https://github.com/stlaz/psachecker looks like it may help in this case.  @stlaz @s-urbaniak may be interested in turning it into an official SIG Auth repo in kubernetes-sigs.

https://github.com/samos123/pspmigrator is a related tool that will be moved to kubernetes-sigs soon.

[2022-06-13 16:42] danwinship commented on #109814
There is no obvious place in the core kubernetes configuration to configure default Pod IP family behavior, but that doesn't seem like a problem since you don't configure _available_ Pod IP families in the core kubernetes configuration either. We can just delegate this to the network plugins. The plugin, based on its own configuration, will decide what the default behavior is for assigning IPs to

[2022-06-13 16:43] danwinship commented on #109814
There are people who are even running out of private-use IPv4 IPs. (I've heard this explicitly, but, eg, it's also implied by https://github.com/kubernetes/kubernetes/issues/110456.)

[2022-06-13 16:56] lavalamp commented on #107435
/reopen
/lifecycle frozen

[2022-06-13 17:04] ingernet commented on #110225
This issue has an [Issue Tracker ticket](https://issuetracker.google.com/issues/204835306) assigned to it already - looks like they're working the issue but have advised us to basically ignore the noise for now.

[2022-06-13 17:29] Hubro commented on #52326
My use case for this is that I have deployments across 3 namespaces, and I want to show all deployments, services or pods across these 3 namespaces. If I specify `--all-namespaces` then I also get a ton of noise from cert-manager, ingress-nginx and kube-system, which I don't want.

A nice workaround would be if I could specify `--all-namespaces`, then filter by namespace afterwards with a regular

[2022-06-13 18:15] gnufied opened #110547 "Reconstruction only cleans one path of shared volume between two pods leaving other one uncleaned"
### What happened?

I have been testing reconstruction and found that if more than one pod is using a volume then cleanup logic would cleanup only one of the paths and leaves other volumes around.

To test this scenario, I did following:

1. Create a CSI hostpath PVC
2. Use the volume in two pods.
3. While kubelet was down, force delete both pods. At this point observe that in `/proc/self/mountinf

[2022-06-13 19:25] jrsmroz opened #110605 "echoserver:2.5 does not work on arm64 arch"
### Problem statement
The [registry.k8s.io/e2e-test-images/echoserver:2.5](http://registry.k8s.io/e2e-test-images/echoserver:2.5) does not seem to work on arms64 linux VM. I got an error

[code]

The nginx version is rather old `NGINX_VERSION=1.15.12`. That's a version from 16 Apr 2019. Newest version of nginx is from 25 Jan 2022.

## Expected behaviour
echoserver running up to date version of ngi

[2022-06-13 19:48] VengefulAncient commented on #69696
@red8888
1. Yes, it is.
2. No, I don't see that.
3. Yes, "Optimise utilisation".

[2022-06-13 20:28] #109275 closed

[2022-06-13 21:05] marcelvwe commented on #109780
Allright @jsturtevant, after some modifications to represent our configuration, I was able to reproduce the issue on a newly created cluster.

I was able to narrow the issue down to the following:

_When creating a service, with only linux pods matching the selector, kubeproxy on Windows does not create HNS rules when externalTrafficPolicy is local, while kubeproxy on Linux does create IPTABLES ru

[2022-06-13 21:08] invidian commented on #106962
/remove-lifecycle stale

[2022-06-13 21:38] chase-swanson opened #110550 "Pods cannot resolve DNS"
### What happened?

Exposed service(s) in bare metal Kubernetes are unreachable.

I am new and learning K8s from the administrative side. I was able to stand up a MicroK8s cluster and it worked, but I am trying to avoid the abstractions in order to learn.

Pods are responding fine when I curl them at localhost. I don't believe I have colliding subnets. I cannot seem to find anything between Kubern

[2022-06-13 22:01] aojea commented on #110550
/kind support

[2022-06-13 22:11] Huang-Wei commented on #10043
It's more to pay the technical debt. Given the action "binding" is performed against pods, composing a pod/binding instead of v1.Binding makes more sense.

Thanks @liggitt for clarification we cannot _remove_ v1 APIs.

[2022-06-14 00:45] fengpengyun commented on #110348
@enj  There is a problem with the judgment of serverCertFile and serverKeyFile. If any one is not empty, and in the method dynamiccertificates.NewDynamicServingContentFromFiles if any one is empty, it is abnormal, contradicting itself.

[2022-06-14 01:40] jinleileiking commented on #51835
https://github.com/kubernetes/autoscaler/issues/4966

[2022-06-14 01:59] liggitt commented on #110521
Thanks for the report. I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/77988

I think https://github.com/kubernetes/kubernetes/issues/77988#issuecomment-493182195 is the recommended fix. That's a pretty complex / fragile area, and would require super thorough review of any changes there

[2022-06-14 02:03] liggitt commented on #110315
address / port as labels on the metric seem like they would cause excessive cardinality, right?

[2022-06-14 02:06] liggitt commented on #110530
Fixed in https://github.com/kubernetes/kubernetes/pull/110551

[2022-06-14 02:14] liggitt commented on #110424
this is a general issue with subresources that accept create requests of different object types than the parent resource

see also:
* https://github.com/kubernetes/kubernetes/issues/80354
* https://github.com/kubernetes/kubernetes/issues/71598
* https://github.com/kubernetes/kubernetes/pull/71599
* https://github.com/kubernetes/client-go/issues/734
* https://github.com/kubernetes/kubernetes/pull/9

[2022-06-14 02:16] liggitt commented on #110430
This is working as intended. The cronjob is not the controller for the manually created job, so the succeeded / failed limits it manages do not apply.

/close

[2022-06-14 02:16] #110430 closed

[2022-06-14 02:21] liggitt commented on #110500
/close

This is working as designed, the name in the template is shortened if needed to accomodate the random suffix while still staying within the pod name length limitations.

[2022-06-14 02:21] #110500 closed

[2022-06-14 02:26] liggitt commented on #110507
cc @smarterclayton

Don't delete with a zero second grace period if you want an orderly tear down and for things like network policies to continue working during tear down. grace period of 0 and --force are saying "remove the record of this pod from the API, even before the kubelet has completed teardown"

[2022-06-14 02:45] sschmitt commented on #77988
Is there a recommended procedure to implement on the controller side to avoid this race when adding a finalizer?
Would something like this avoid the race?
1. Add finalizer patch/update
2. Get object from API server
3. If get succeeds, continue (it's now safe to create external artifacts?)

[2022-06-14 03:41] SOF3 commented on #110315
Yes if you have a huge amount of pods for the webhook server. Doesn't sound very excessive if there are only a small number (say 3) instances.

Could this be an opt-in feature where the tag is only provided if the webhook configuration has the annotation `admission.k8s.io/include-endpoint-tag: true`?

[2022-06-14 03:58] pacoxu commented on #110550
Since `nslookup nginx.default.svc.cluster.local 10.96.0.10` is success on node, I prefer to think it is pod-to-pod connection issue or pod-to-service connection issue.

10.10.148.3 and 10.10.235.148 are coredns IP. Could you try like below to check pod-to-pod connection firstly?
[code]
- pod-to-pod connection issue would be calico issue in your cluster.
- pod-to-service connection issue may be cau

[2022-06-14 04:00] silenceshell commented on #109554
@aryan9600 OK, I got your point. Then here `DisableLockCreation` only prevents lock creation from `create` method, but not from `update` method. A little tricky but acceptable for me if `DisableLockCreation` definition is well written to warning this situation.

[2022-06-14 04:28] thockin commented on #110514
I wouldn't make 2 an error - just pick one.

[2022-06-14 04:46] danishprakash commented on #110514
Ok, I'd take a shot at this. Thanks for clearing things up.

[2022-06-14 05:00] pacoxu commented on #110539
A [headless service](https://kubernetes.io/docs/concepts/services-networking/service/#headless-services) has to have `clusterIP=None` in its spec.
[code]
Is the service a headless service?
BTW, we always use StatefulSet with headless service for predictable pod names.

[2022-06-14 05:00] pacoxu commented on #110539
/kind support

[2022-06-14 05:20] RA489 commented on #100695
/remove-lifecycle stale

[2022-06-14 05:50] pacoxu commented on #110528
There is already [PodTemplate](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.24/#podtemplate-v1-core) definition.
[code]
Then we can reference it in the Deploy/RS/StatefulSet/Job.
[code]

However, I think this should only happen on the client-side, we cannot add such reference in the object.
/sig cli api-machinery

[2022-06-14 05:54] pacoxu commented on #110517
/kind support
See https://kubernetes.io/blog/2017/01/running-mongodb-on-kubernetes-with-statefulsets/ for more details.
[code]

[2022-06-14 05:54] pacoxu commented on #110539
I suppose that #110517 is similar.

[2022-06-14 06:46] vbystricky21 commented on #110507
@liggitt you are right. Not working network policy is not our primary concern. It is the fact that the pod we thought should be terminated pretty much instantly (with grace period of 0) is running for the whole duration of terminationGracePeriodSeconds.

[2022-06-14 07:25] #110530 closed

[2022-06-14 07:55] skonto commented on #74415
I was looking for some lighter support eg. push down filtering and managing one entity. How this is going to be supported (if at all) is under discussion anyone but not everyone uses controller-runtime.

[2022-06-14 08:11] Shubham82 commented on #108865
Fixed in #110561
PTAL!

[2022-06-14 08:16] RinkiyaKeDad commented on #110462
Hey @cpanato thanks for the PR! The test still shows [failing](https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-main-ci-artifacts) in the [master-informing dashboard](https://testgrid.k8s.io/sig-release-master-informing) - will it take some time for the changes you made in the PR to reflect?

[2022-06-14 08:22] cpanato commented on #110462
hello! those are not failures, they are flakys :/ afaik

[2022-06-14 08:32] aojea commented on #107927
@robscott I think current behavior is correct, is other controllers business to reconcile the pod and node, the slice controller just  follows that infor and retries as Clayton and Khal says

should we close as "working as expected" ?

[2022-06-14 08:36] ahg-g commented on #10043
ok, thanks for the clarification, so this is not enabling a new use case, only a cleanup.

[2022-06-14 08:50] ahg-g commented on #110186
I think we just need to have tests in k/k that hardcode the CA expectations rather than trying to think how to import CA.

[2022-06-14 09:05] Ed87 commented on #110539
@daodennis  @pacoxu It is a headless that was typo. I however reverted to using ClusterIP instead of the headless service.

My specific use case is to do a mongodump from another container (mongodb-0 in this case) on a targeted deploy (mongodb-deployment-c896cf876-djhvl in this case). Why I need _to test for the correct Mongo-URI_ its because the mongodump command will require this value.

I have

[2022-06-14 10:15] vaibhav2107 commented on #104491
/remove-lifecycle stale

[2022-06-14 12:16] jsafrane commented on #110514
+1

Still, having two default classes for a longer time is IMO bad, there should be a metric + alert if there are 2 or more default SCs for X minutes.

[2022-06-14 12:28] #110539 closed

[2022-06-14 12:29] #110517 closed

[2022-06-14 12:49] ardaguclu commented on #104318
I investigated this issue and could have reproduced it. I realized that when multiple resources are requested, data type is different than only one resource is requested and that's why this command `kubectl -n sort get cm,secret --sort-by={.metadata.name}` can not sort with `{.metadata.name}`.

However, when I tried sorting with this `{..metadata.name}` json path, it works expected and prints sort

[2022-06-14 12:49] ardaguclu commented on #104318
/close

[2022-06-14 12:50] #104318 closed

[2022-06-14 14:19] tonyaw commented on #110126
So "bypassing security policy" is done by "usernames" configured by "exemptions",
"debugging profile" is only used to set ephemeral container securityContext.
Is my current understanding right? ：-）
@liggitt @verb

[2022-06-14 14:28] tonyaw commented on #110126
Another question is why "debugging profile" doesn't support NET_RAW capability?
Yes, it is default capability for containerd, but not for crio.
How shall I use ping/tcpdump via ephemeral container with crio? I think that shall be a very normal case for network debugging, more than NET_ADMIN. :-)

[2022-06-14 14:46] tonyaw opened #110570 "Suggest kubectl-debug+debugging-profiles to support NET_RAW"
### What would you like to be added?

debugging-profiles give Ephemeral Container chance to add capability besides default capability:
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cli/1441-kubectl-debug/README.md#debugging-profiles
Now, there is no profile in plan to support NET_RAW.
Propose to add NET_RAW capablity as a new profile or reuse netadmin profile.

### Why is this ne

[2022-06-14 14:57] sftim commented on #110126
**GitHub is not the right place for support requests.**

Instead, also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) forum.

You can also try asking on [Server Fault](https://serverfault.com/questions/tagged/kubernetes).

[2022-06-14 15:01] sftim commented on #110528
If the API server were to load data from a file, and there's a replicated control plane, would that file need to be copied onto all the API servers?

If you're looking for a way to customise manifests that is purely client-side, check out https://kustomize.io/

I don't see this as a viable proposal to modify the Kubernetes API itself.

[2022-06-14 15:03] #110239 closed

[2022-06-14 15:04] tonyaw commented on #110126
I understand.
This issue is opened as bug instead of support first.
As there is already some discussion here, can we use it finish the discussion?
I only have this question left:

[2022-06-14 15:23] liggitt commented on #10043
Right, and due to the stable API compatibility guarantees, I don't think it's a cleanup we can do.

/close

[2022-06-14 15:24] #10043 closed

[2022-06-14 16:06] bitti commented on #27308
@ahmetb's `kubectx` isn't supporting it yet, but he is thinking about it: https://github.com/ahmetb/kubectx/issues/12#issuecomment-1154366068. All solutions work by setting the `KUBECONFIG` to a separate config, what the tools help with is doing this transparently so that you don't have to do this manually.

[2022-06-14 16:37] neolit123 commented on #110507
/sig apps

[2022-06-14 16:38] neolit123 commented on #110550
better to ask on support channels. PTAL at:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-06-14 16:38] neolit123 commented on #110570
/sig cli

[2022-06-14 17:55] robscott commented on #107927
@aojea I think this is much less risky now that https://github.com/kubernetes/kubernetes/pull/110255 has merged. Combined with the Kubelet bug, a terminal Pod on a no longer existing preemptible VM EndpointSlice updates could have gotten stuck indefinitely. Of course that specific bug has been resolved, but I'm nervous about other edge cases where a Pod sticks around referencing an invalid/no long

[2022-06-14 17:56] robscott commented on #107927
The more I think about this, the more I think this is the correct option:

[2022-06-14 17:56] robscott commented on #107927
/cc @swetharepakula

[2022-06-14 18:18] sedefsavas commented on #110463
We are tracking this issue:https://github.com/kubernetes-sigs/cluster-api-provider-aws/issues/3525
As per the [slack thread](https://kubernetes.slack.com/archives/C13J86Z63/p1655220617212669), this will be fixed soon. Reason of the failure is the change in registry for Kubernetes v1.25.0.

[2022-06-14 18:39] chase-swanson commented on #110550
Thank you @pacoxu. After running those commands, one works and one doesn't

`kubectl exec -it dnsutils -- nslookup nginx.default 10.10.235.148`
[code]

`kubectl exec -it dnsutils -- nslookup nginx.default 10.10.235.3`
[code]

This gives me a bit more to go on communicating between nodes. This adds to the learning process since this is not my normal wheelhouse.

[2022-06-14 19:43] aojea commented on #107927
that should be a bug in the pod garbage collector, no? we should assue that the other controllers do their job

[2022-06-14 20:06] K31D opened #110580 "Kubelet service paused on Windows 2019 node"
### What happened?

Adding windows nodes failed with "The Http call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: get "http://localhost:10248/healthz": dial tcp [::1]10248: connectex: No connection could be made because the target machine actively refused it

K8s: 1.23.3 with latest containerd (1.5.9) and flannel
Host: WS2019 datacenter with latest CU
Both install-containe

[2022-06-14 20:10] Jefftree commented on #109275
This is fixed by https://github.com/kubernetes/kubernetes/pull/110179 on master.

For 1.23, 1.22 and 1.21, cherry picks have been created:

- 1.23: https://github.com/kubernetes/kubernetes/pull/110578
- 1.22: https://github.com/kubernetes/kubernetes/pull/110579
- 1.21: https://github.com/kubernetes/kubernetes/pull/110581

[2022-06-14 20:12] liggitt commented on #109275
also need it on 1.24?

[2022-06-14 20:14] Jefftree commented on #109275
Updated the list above.

[2022-06-14 20:15] fedebongio commented on #90277
@sftim would you send a PR for that? Thanks

[2022-06-14 20:15] #108231 closed

[2022-06-14 20:15] fedebongio commented on #110345
/triage accepted

[2022-06-14 20:17] fedebongio commented on #110499
/triage accepted

[2022-06-14 20:18] fedebongio commented on #110521
/label duplicate

[2022-06-14 20:22] fedebongio commented on #110536
/assign @roycaihw @jpbetz @kevindelgado @jiahuif
Team, any thoughts on this one?
Thanks!
/triage accepted

[2022-06-14 20:22] fedebongio commented on #110528
/triage accepted

[2022-06-14 20:32] lavalamp commented on #90277
I would talk to sig scheduling about that. I'm not sure why api machinery is on this bug now? We don't own very many apis and people don't ask us before naming things, they'd ask an api reviewer if anyone.

/sig scheduling
/sig arch
/remove-sig api-machinery

[2022-06-14 21:27] PushkarJ commented on #105662
/remove-lifecycle rotten

[2022-06-14 21:27] PushkarJ commented on #105662
/remove-lifecycle stale

[2022-06-14 21:33] robscott commented on #107927
I think there are some exceptions where pod garbage collection does not happen immediately (cc @bobbypage).

In an ideal world, every part of the system would have well defined and regularly tested contracts. Until that exists (and maybe even after) defense in depth seems like a good idea.

[2022-06-14 22:32] neolit123 commented on #110580
please log the issue in https://github.com/kubernetes-sigs/sig-windows-tools that is where the tools like Install-Containerd.ps1 are hosted.

/sig windows
/close

[2022-06-14 22:32] #110580 closed

[2022-06-14 22:37] Riaankl commented on #109379
Created #110583 to make the remaining node endpoints ineligible.
- readCoreV1NodeStatus
- replaceCoreV1NodeStatus
- deleteCoreV1CollectionNode

[2022-06-14 23:50] lavalamp commented on #110345
Personally I think no we should not add this, can it not be configured via e.g. RBAC?

[2022-06-14 23:53] jsturtevant commented on #110339
fixed by https://github.com/kubernetes/kubernetes/pull/110235
/close

[2022-06-14 23:53] #110339 closed

[2022-06-15 00:16] jsturtevant commented on #109780
Thanks. I confirmed that this is the case.  I am also seeing the linux service does not have any endpoints on windows node as described in https://github.com/kubernetes/kubernetes/issues/109780#issuecomment-1154438163

@thockin can you give some insight if this behavior is expected:

if i understood correctly `externalTrafficPolicy: local` means traffic should only go to the local pods.  If we fix

[2022-06-15 00:49] sftim commented on #90277
@fedebongio I couldn't send a PR for the replacement (no spare cycles to learn Go). However I could file an issue?

[2022-06-15 01:10] roycaihw commented on #105558
/remove-lifecycle rotten
/lifecycle frozen

[2022-06-15 04:46] younaman opened #110589 "One non-priviledged container can get control plane node's sensitive information without escaping"
### What happened?

Hi, our team has found a possible issue in kubernetes coreDNS configurations, leading to **information leaks** and **DoS attacks**.

In a Kubernetes cluster with **default configuration**, one non-privileged container can GET http://COREDNS-IP:9153/metrics **without escaping**. This allows one "malicious" container to obtain sensitive information of the k8s control plane node i

[2022-06-15 05:46] tabnul commented on #105536
Longhorn user here (latest) with k3s v1.22.5+k3s1

Had a few power outages. Have a huge amount of pod folders and logs are spammed very frequently with the mentioned error.

[2022-06-15 05:46] daschott opened #110591 "Winkernel proxier regression for dockershim CNIs that create v1 HNS endpoints"
### What happened?

https://github.com/kubernetes/kubernetes/pull/109981 has introduced a regression for Kubernetes clusters using dockershim as the runtime that invoke CNIs using the v1 HNS APIs. Winkernel proxier is unable to retrieve endpoints due to this hcsshim call failing to retrieve v1 HNS endpoints: https://pkg.go.dev/github.com/Microsoft/hcsshim@v0.8.22/hcn#ListEndpointsOfNetwork

This c

[2022-06-15 05:47] daschott commented on #110591
/sig windows

[2022-06-15 06:00] aureq commented on #105536
An issue I have now corrected what related to doing a `mount -o bind` of `/var/lib/kubelet`.

[2022-06-15 06:18] pacoxu commented on #110589
/area dns
/sig security

[2022-06-15 06:31] sedefsavas commented on #110463
Test turned green. This issue can be closed.

[2022-06-15 06:37] R-Studio commented on #68737
Any news?

[2022-06-15 06:54] Nivedita-coder commented on #110463
job is passing, Thanks @sedefsavas! :)
/close

[2022-06-15 06:54] #110463 closed

[2022-06-15 07:28] piyushkv1 opened #110595 "server in k8s.gcr.io/liveness image broken"
Liveness is configured using
[code]
Liveness started failing. It used to pass 10 days before.
[code]

[2022-06-15 07:38] k82cn opened #110594 "--pod-infra-container-image does not work in 1.24.1"
### What happened?

Start a kubelet as systemd service with following arguments, I'm trying to use different pause image; but the log shows that it still try to use `k8s.gcr.io/pause:3.1`.

[code]

[code]

### What did you expect to happen?

Use pause image accoring to `--pod-infra-container-image` parameter.

### How can we reproduce it (as minimally and precisely as possible)?

Build kubelet fro

[2022-06-15 07:38] k82cn commented on #110594
/sig sig-nodes

[2022-06-15 07:38] k82cn commented on #110594
/sig sig-node

[2022-06-15 07:39] k82cn commented on #110594
/sig node

[2022-06-15 08:05] younaman opened #110596 "Pods status changes on one worker node can be lerveraged to make flooding attack to all other nodes in the kubernetes cluster"
### What happened?

In a Kubernetes cluster, each node has its Kube-proxy and kubelet components. For Kube-proxy, it will watch the modification of service/endpoints informed by API-server, and update local iptables; For Kubelet, it will send messages to Kube-apiserver when local pods' status change.

So, when a pod status related to a service/endpoints has changed on a worker node, **the worker n

[2022-06-15 08:07] serathius commented on #107049
/remove-lifecycle stale
/lifecycle frozen

[2022-06-15 08:11] SataQiu commented on #110594
FYI: https://github.com/kubernetes/kubernetes/blob/10066243df4313e28704d3770742f161ceea0112/pkg/kubelet/config/flags.go#L57-L58

https://github.com/containerd/cri/issues/813#issuecomment-396327666

[2022-06-15 08:12] younaman commented on #110589
@aojea So, for the first question, it is a real issue in "practically the default though"?

[2022-06-15 08:26] aojea commented on #110589
This is a configuration problem, CoreDNS is not part of Kubernetes, however is a component that is widely use
What I don't know is if all installers configure and expose the metrics by default or how do they secure them.
I also don't know if you need special privileges to get this metrics, it seems that most of them I can get with a normal user on my system,

[2022-06-15 08:29] younaman commented on #110589
@aojea And for the second and third questions, thanks for your suggestions! However, as I said in point 2, other components may still have similar problems(i.e. node_exporter of Prometheus). Those third-party components may have similar problems, not only the coreDNS. As far as I am concerned, perhaps it is intrinsic to Kubernetes's spec design? Is there any way to solve this problem fundamentally

[2022-06-15 08:32] younaman commented on #110589
@aojea I don't need any special privileges to get these metrics, and all of them are got by a simple HTTP Request, even without a service account token.

[2022-06-15 08:54] k82cn commented on #110594
Thanks , the following config works:

[code]

[2022-06-15 08:54] #110594 closed

[2022-06-15 09:31] msa21 commented on #74551
Check your pod (endpoints) linked with the service you are doing port -forward for . and then check whether the pod is listening on 80 and 443 port number both if yes then http and https both request will work and if pod is only listening on port 80 then please do not use https request.

[2022-06-15 09:34] rafishaik1 commented on #60134
Try this way.It worked for me.
rpm --import https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
sudo yum install -y http://mirror.centos.org/centos/7/os/x86_64/Packages/gnupg2-2.0.22-5.el7_5.x86_64.rpm

[2022-06-15 09:40] wangyysde commented on #110596
/cc @wangyysde

[2022-06-15 09:43] wangyysde commented on #110595
/support

[2022-06-15 09:50] wangyysde commented on #110595
to check what were occurred  before the pod restart, you can run kubectl logs with -p flag to get the logs of the pod

[2022-06-15 10:08] kkreso commented on #27308
I'm using direnv in combination with "KUBECONFIG" - just switch to specific folder/subfolder.

[2022-06-15 11:49] #110444 closed

[2022-06-15 12:57] harshitasao commented on #97026
Hi @spiffxp, k8s 1.25 Bug Triage Shadow here, just checking in to see if this is still on track for k8s 1.25?
Thank you.

[2022-06-15 13:27] danwinship commented on #109793
Would it work to swap steps 2 and 3?

[2022-06-15 13:34] claudiubelu opened #110600 "path functions not working as intended on Windows"
### What happened?

The ``path`` module has a few different functions: Clean, Split, Join, Ext, Dir, Base, IsAbs. These functions do not take into account the OS-specific path separator, meaning that they won't behave as intended on Windows. The ``path`` should not be used for file paths.

For example, Dir is supposed to return all but the last element of the path. For the path ``C:\some\dir\somew

[2022-06-15 13:52] harshitasao commented on #109211
Hi @jindijamie & @liggitt , k8s 1.25 Bug Triage Shadow here, just checking in to see if this is still on track for k8s 1.25?
Thank you.

[2022-06-15 14:37] mdbooth commented on #109793
Good question. I don't think so.

That would leave us without the Node, Node lifecycle, and Service controllers until all kubelets were updated. This would mean:

* No cluster scale-up or scale-down
* No creation, deletion, or modification to LB Services

I think we could handle this in OpenShift, although it's a bit fragile and I suspect updating all the kubelets can take a really long time on a

[2022-06-15 14:44] brianpursley commented on #110595
@piyushkv1 Try changing from `k8s.gcr.io` to `registry.k8s.io`

More info here:
https://groups.google.com/a/kubernetes.io/g/dev/c/DYZYNQ_A6_c/m/FpHqeVR2BAAJ

[2022-06-15 14:49] brianpursley commented on #110120
See also https://github.com/kubernetes/kubectl/issues/1225

This is actually not a problem unique to Windows.  Case in point: in Linux, I can create a directory that contains a `:`.

[2022-06-15 14:55] STRRL commented on #109034
Could we use generics in kubernetes code base? I saw that we have use go 1.18 but there is no generics code exist in current codebase. Are there any concerns? @thockin @lavalamp @ArangoGutierrez

[2022-06-15 15:08] brianpursley commented on #110507
When using kubectl, `--force` and `--grace-period=0` are not the same thing.  If you set `--grace-period=0`, then kubectl changes it to a grace period of 1, as shown below:

https://github.com/kubernetes/kubernetes/blob/fdb2d544751adc9fd2f6fa5075e9a16df7d352df/staging/src/k8s.io/kubectl/pkg/cmd/delete/delete.go#L180-L193

So the options affecting grace period are:
* `--force` results grace period

[2022-06-15 15:21] brianpursley commented on #109605
Related issue https://github.com/kubernetes/kubectl/issues/1220

[2022-06-15 15:35] karthik25 commented on #52326
I was also looking for commands to do this, but since I found none, I resorted to this (windows terminal) -

[code]

[2022-06-15 15:55] aojea commented on #110605
I think the same functionality is implemented in the  agnhost image, we should migrate the test that are stillusing echoserver to agnhost

https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost#netexec

[2022-06-15 15:57] neolit123 commented on #110596
/sig security network

[2022-06-15 16:02] liggitt commented on #109211
it's still important to fix, no one has picked it up to do the work yet

[2022-06-15 16:02] liggitt commented on #106401
https://github.com/kubernetes/kubernetes/pull/107860 has stalled needing tests and a rebase

[2022-06-15 16:14] MikeSpreitzer opened #110606 "kubectl does not have a way to adjust its client-side rate limiting"
### What happened?

kubectl does client-side rate limiting, but the limit is not adjustable.  This is inappropriately inflexible and commonly results in annoying error messages.  There is no inherently correct setting for client self-restraint; what is reasonable for one client depends on all the other clients and the servers.

A colleague preparing a demo using a kind cluster complained "this hap

[2022-06-15 16:25] dims commented on #100897
cc @phlogistonjohn

[2022-06-15 16:29] MikeSpreitzer commented on #110606
/sig cli

[2022-06-15 16:40] meowrison commented on #110530
Thank you @liggitt!

[2022-06-15 17:07] liggitt commented on #90077
what server version are you running against (what does `kubectl version` show)?

v1 Ingress was added in 1.19.

[2022-06-15 17:39] SergeyKanzhelev commented on #110409
it looks like this is by design, the only side effect seems to be a warning message in logs. Please re-open if this causes issues.

/close

[2022-06-15 17:39] #110409 closed

[2022-06-15 17:39] SergeyKanzhelev commented on #110216
@fromanirh any updates on triaging this bug?

/cc @swatisehgal

[2022-06-15 17:41] SergeyKanzhelev commented on #110478
@swatisehgal can you please take a look? It seems like a known issue and the behavior is expected.

[2022-06-15 17:44] SergeyKanzhelev commented on #110460
/triage accepted
(looks like a bug)

@mikebrow do you have ideas?

[2022-06-15 17:48] SergeyKanzhelev commented on #108778
this bug has too little information. Not even clear whether the pod failed or exited successfully. Please provide more details.

Another option is to ask for support at your cloud vendor (it seems you are using aws).

/kind support
/remove-kind bug

Please make it a bug if once you will have more information

/close

[2022-06-15 18:25] jsturtevant commented on #51540
/reopen
cc: @claudiubelu @adelina-t

sig-windows is working to get unit tests working with CI running. A few PR's tracking this work:

https://github.com/kubernetes/kubernetes/pull/110263
https://github.com/kubernetes/kubernetes/pull/110399
https://github.com/kubernetes/kubernetes/pull/110403
https://github.com/kubernetes/kubernetes/pull/110453
https://github.com/kubernetes/kubernetes/pull/110566

[2022-06-15 18:35] neolit123 commented on #110589
@rajansandeep @chrisohaver is there a way to disable / secure the coredns metrics endpoint by default?

[2022-06-15 18:41] chrisohaver commented on #110589
Disable, yes, remove the _prometheus_ plugin from the Corefile.

[2022-06-15 19:16] imohitkumar1610 commented on #110591
hi can I work on this

[2022-06-15 19:17] imohitkumar1610 commented on #110591
/assign

[2022-06-15 19:45] jsturtevant commented on #110591
@imohitkumar1610 thanks, @daschott has already opened https://github.com/kubernetes/kubernetes/pull/110610 and https://github.com/kubernetes/kubernetes/pull/110590

[2022-06-15 20:38] danwinship commented on #85966
/reopen
/remove-lifecycle rotten

[2022-06-15 20:54] mohammadkhavari opened #110611 "Kubelet Is Not Reporting Containers Memory Usage"
### What happened?

I had a [problem with metric-server](https://github.com/kubernetes-sigs/metrics-server/issues/1046) and I figured out the problem was originated from kubelet (or maybe cAdvisor).
both /metrics/resource and /stats/summary kubelet API endpoints are reporting zero memory working set for containers, however, for pods they are reporting memory usage:

`kubectl get --raw /api/v1/node

[2022-06-15 21:11] abdennour commented on #83242
Unless this feature is released, we will keep building our golang controllers using the informer design pattern.

[2022-06-15 21:29] nhumrich opened #110613 "Kubectl cp fails with "Error: archive/tar: invalid tar header" even with retries on"
### What happened?

Running `kubectl cp` occasionally fails with the error:
`error: archive/tar: invalid tar header` with exit code 1.

The docs say you can retry when an error occurs using --retry. The retry works, but it's not retrying the full amount of times.

### What did you expect to happen?

I expected the cli to retry when it has connection issues.

### How can we reproduce it (as minimal

[2022-06-15 21:41] #109161 closed

[2022-06-15 21:43] timoreimann commented on #88902
/reopen

[2022-06-15 22:10] strongjz opened #112431 "github.com/Azure/go-autorest being deprecated."
I was reviewing the ingress-nginx dependencies and this announcement popped out.

```Although the older libraries can still be used beyond 31 March 2023, they will no longer receive official support and updates from Microsoft```

https://azure.microsoft.com/en-us/updates/support-for-azure-sdk-libraries-that-do-not-conform-to-our-current-azure-sdk-guidelines-will-be-retired-as-of-31-march-2023/

ht

[2022-06-15 22:45] christianh814 commented on #52326
FWIW, I did this with a plugin (so all client side)

[code]

Saved it as `kubectl-space` and now I run `kubectl space -n foo,bar pods`

It's crude (probably will write a better one in go) but it works for what I need now.

[2022-06-15 22:59] SergeyKanzhelev commented on #109295
/assign @xmcqueen

as discussed at SIG Node CI meeting, can you please take a look? I see that pod is now running for couple minutes and then stops. I wonder if this is something environment related - maybe pod was evicted or something. I doesn't seem to be able to repro the failure of the pod locally

[2022-06-15 23:12] remram44 commented on #18174
Running a high-available proxy is difficult, but it is easy to plug this hole in kubelet's functionality by running a proxy on the worker nodes themselves. You can then set the kubelet to go through that local proxy.

<details><summary><code>/etc/kubernetes/manifests/haproxy.yaml</code></summary>

[code]

</details>

<details><summary><code>/etc/kubernetes/haproxy.cfg</code></summary>

[code]

</d

[2022-06-16 00:42] younaman commented on #110589
@aojea @chrisohaver @neolit123 I found that not only the CoreDNS. if a Kubernetes cluster installs some third-party components, they may have similar problems too. For example, my local cluster installed Prometheus in default namespaces, when I deploy a pod in default namespaces(same namespaces as Prometheus), the container will have Prometheus-related env, and it can leverage these envs to  get s

[2022-06-16 01:48] wangzihao05 commented on #110216
Sorry ,I found that it is not a bug.Memory manager is different from cpu manager.To prevent oom ,the groups of NUMA nodes must be disjoint for memory manager.The following website explains that.

[https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/1769-memory-manager#design-overview](url)

[2022-06-16 01:57] pacoxu commented on #110589
IMO, there are applications on kubernetes, and to make them safe, [network policy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) is a good choice.

CoreDNS is by default in kube-system namespace and important system pods should not be deployed in the default namespace. You can deploy it in separate namespaces for security purposes. Then, add some network policies to bl

[2022-06-16 02:06] younaman commented on #110589
Knock, knock! I have found some other "third-party components" also have the same problem:

Prometheus, the most popular Kubernetes monitor system, which consists of multiple special components and pods running on the control plane node, also has a similar information leaks channel.

For example, in my local cluster with Prometheus installed, there will exist multiple Prometheus-related services,

[2022-06-16 02:12] younaman commented on #110589
Please notice that my coreDNS is in the "kube-system" namespace, and my malicious pods runs in a separate namespace called "my-namespace". However, because the malicious pod knows the core DNS-SERVICE-IP(which stores in container's /etc/resolv.conf), even the malicious pod is non-priviledged, have no service account token, it can get sensitive information without escaping. As a result, the kuberne

[2022-06-16 02:30] scbizu commented on #65797
Should keep our discussion here or move to KEP ?

[2022-06-16 02:35] kerthcet commented on #65797
Let's move the discussion to the KEP plz.

[2022-06-16 02:40] younaman commented on #110589
@pacoxu Thanks for your suggestions! As for the network policy, the network policy is not "forced to config" in the Kubernetes default install documents. In the default configuration, the issue I report is real? Besides, perhaps it is an "impossible mission" to set all network policies correctly when there exists a lot of "third-party components" and related services in a Kubernetes cluster. As fa

[2022-06-16 04:15] decipher27 commented on #90077
Still not able to create using the same kind and version.
Later created using apiVersion as networking.k8s.io/v1beta1 and some modifications to the spec.

[2022-06-16 05:25] kerthcet commented on #108788
/remove-lifecycle stale

[2022-06-16 06:06] fromanirh commented on #110216
/close
because https://github.com/kubernetes/kubernetes/issues/110216#issuecomment-1157142893

[2022-06-16 06:06] #110216 closed

[2022-06-16 06:09] ash2k commented on #89899
Opened https://github.com/kubernetes/enhancements/pull/3401 to address this.

[2022-06-16 06:10] ash2k commented on #89163
KEP https://github.com/kubernetes/enhancements/pull/3401 to address this.

[2022-06-16 07:18] aojea commented on #90077
v1 is not present on the server version you are using

[2022-06-16 09:09] DesireWithin opened #110620 "Secret import invalid environment variables into the Linux OS"
### What happened?

We have a `secret(Opaque)` which created by rancher，
the key name is a invaild environment: like `"keyfield1_keyfield2-keyfield3"`

and then a deployment refer this secret by `deployment.spec.template.spec.containers.envFrom.secretRef`
as we konw Linux environment can not contain `"-"`

When I run `sh` in the pod, `set` command can't  output this invaild environment, but `env`

[2022-06-16 09:29] invidian opened #110622 ""kubectl alpha events -A -w" panics with "interface conversion: runtime.Object is *v1.Status, not *v1.Event""
### What happened?

After 4 minutes or running `kubectl alpha events -A -w`, I got the following panic:
[code]

### What did you expect to happen?

I expected watching events to work continuously.

### How can we reproduce it (as minimally and precisely as possible)?

Not at the moment but will try to reproduce it.

### Anything else we need to know?

_No response_

### Kubernetes version

<detail

[2022-06-16 09:34] vaibhav2107 commented on #110611
/sig node

[2022-06-16 09:36] vaibhav2107 commented on #106735
/remove-lifecycle stale

[2022-06-16 10:05] wongearl commented on #110620
[staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go](https://github.com/kubernetes/kubernetes/blob/976a940f4a4e84fe814583848f97b9aafcdb083f/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go)
`const httpHeaderNameFmt string = "[-A-Za-z0-9]+"
const httpHeaderNameErrMsg string = "a valid HTTP header must consist of alphanumeric characters or '-'"

var httpHeaderNameRege

[2022-06-16 10:06] wongearl commented on #110620
[staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go](https://github.com/kubernetes/kubernetes/blob/976a940f4a4e84fe814583848f97b9aafcdb083f/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go)

`const envVarNameFmt = "[-._a-zA-Z][-._a-zA-Z0-9]*"
const envVarNameFmtErrMsg string = "a valid environment variable name must consist of alphabetic characters, digits, '_', '-'

[2022-06-16 10:07] wongearl commented on #110620
[staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go](https://github.com/kubernetes/kubernetes/blob/976a940f4a4e84fe814583848f97b9aafcdb083f/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go)
`const envVarNameFmt = "[-._a-zA-Z][-._a-zA-Z0-9]*"
const envVarNameFmtErrMsg string = "a valid environment variable name must consist of alphabetic characters, digits, '_', '-',

[2022-06-16 11:00] humblec commented on #100897
@amarts as per our discussions some time back, the technical feasibility of a migration path to kadalu project via translation lib were being explored, do we have some conclusion on the same?  If we see a technical difficulty to achieve or plug kadalu on the translation path,  I would like to propose glusterfs driver deprecation in upcoming Kubernetes release.  The main reason being its becoming h

[2022-06-16 11:32] lorenz commented on #98473
/remove-lifecycle stale

[2022-06-16 14:22] neolit123 commented on #110620
/sig apps api-machinery
(please retag if needed, unclear to me who is the owner)

[2022-06-16 14:30] yokomotod opened #110625 "`--chunk-size` with selector returns missing result, so `describe node` / `drain` could be works wrong"
### What happened?

`kubectl get` has `--chunk-size=500` by default, and since 1.22 `describe` `drain` has the same.
 https://github.com/kubernetes/kubectl/issues/1028

They seem to return wrong results in certain situations combined with `--selector` / `--field-selector`.

And `kubectl describe node` / `kubectl drain` also use `--field-selector=spec.nodeName=NODE`, so they also don't work correct

[2022-06-16 14:31] #106149 closed

[2022-06-16 14:32] yokomotod commented on #110625
/sig api-machinery

[2022-06-16 14:47] younaman commented on #110596
Knock knock! Are there any updates or comments?

[2022-06-16 15:08] jsturtevant opened #110626 "kubeadm join fails on Windows when crictl is in the PATH"
### What happened?

Running `kubeadm join` on Windows when crictl.exe is in the `PATH` results in error:

[code]

### What did you expect to happen?

The container runtime to be recognized as running because it is.

### How can we reproduce it (as minimally and precisely as possible)?

Install crictl.exe to somewhere on your PATH and then run:

[code]

### Anything else we need to know?

If crictl

[2022-06-16 15:08] jsturtevant commented on #110626
/sig windows
/sig cluster-lifecycle

[2022-06-16 15:27] brianpursley commented on #73698
/lifecycle frozen

[2022-06-16 15:55] nhumrich commented on #110613
Update: This still happens even when running `kubectl cp` from another pod within the same cluster.

[2022-06-16 16:14] neolit123 commented on #110626
is there more information on what 'e' means here? i don't think this error is coming from kubeadm directly.

to look up the crictl executable path kubeadm uses this:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/util/runtime/runtime.go#L58

under the hood it's just a `os/exec.LookupPath()` and it should work cross-os:
https://github.com/kubernetes/kubernetes/blob/4e17f88b7e3

[2022-06-16 16:20] marksumm commented on #83242
It's even more fun when you realise that kubectl get can return status code 0 when no resources were found if you used a selector expression.

[2022-06-16 16:37] marosset commented on #51540
/remove-lifecycle rotten
/triage accepted

[2022-06-16 16:38] leilajal commented on #110625
/sig node

[2022-06-16 16:43] leilajal commented on #110620
/sig auth
/remove-sig api-machinery

[2022-06-16 16:48] nhumrich commented on #110613
On further analysis, I think what is happening is the folder I am copying is being written to while the command runs. The reason why size matters for me is it just increases the likelihood the race-condition happens.

So I think this is what is happening:
I run `kubectl cp` on folder `/app/content/cache`. Then _while that is running_ the pod writes to a file in `/app/content/cache` changing is con

[2022-06-16 18:02] danwinship opened #110627 "add tag for "strategic merge is broken for this field""
There are at least two GA API fields I know of where you cannot use strategic merge patch, because the declared strategy is incorrect and will result in data loss in some cases if you use it; `node.Status.Addresses` (#79391) and `pod.Spec.Ports` (#110564).

We can't fix the strategic merge tags on those fields, because the fields aren't broken in _all_ cases, and changing the merge tags would crea

[2022-06-16 18:04] danwinship commented on #110627
/sig api-machinery

[2022-06-16 19:17] sjwl commented on #56582
What if we leverage the [labelSelector](https://kubernetes.io/docs/reference/kubernetes-api/common-parameters/common-parameters/#labelSelector) method?

[code]

not suggesting the implementation would be easier just because we're leveraging a familiar method used for other areas like [podSelector](https://kubernetes.io/docs/reference/_print/#NetworkPolicySpec) or [namespaceSelector](https://kubern

[2022-06-16 19:33] #109379 closed

[2022-06-16 22:24] abdabughazaleh commented on #83125
I facing the same issue and it's take 3 days. finally i solved by adding :

[code]

[2022-06-16 22:30] anusha-ragunathan opened #110630 "Kubelet does not respect container-log-max-size on time, during heavy log writes from container"
### What happened?

We are running a Statefulset that logs pretty aggressively on disk. The rate is around 6M/second. The kubelet configs around container log management are set to:
- container-log-max-files: 5
- container-log-max-size: 50Mi

We are running with containerd as the CRI on Kubernetes version 1.20.

For this specific workload, we notice that the logs DO NOT get rotated upon hitting th

[2022-06-16 22:30] anusha-ragunathan commented on #110630
/sig sig-node

[2022-06-16 22:31] anusha-ragunathan commented on #110630
/sig node

[2022-06-16 22:49] anusha-ragunathan commented on #110630
Hi @Random-Liu ,

CC-ing you here, since you added the `NOTE` [here ](https://github.com/kubernetes/kubernetes/blob/64e83a7e43afd038b3d5a0179e85099a0958de4c/pkg/kubelet/logs/container_log_manager.go#L222) and this issue is about the need to rotate logs in parallel

[2022-06-16 22:59] jsturtevant commented on #110626
`crictl -r "npipe:////./pipe/containerd-containerd"  info` fails too, so it seems that it is related to crictl maybe in 1.23?  I tried this 1.24 and it worked.

@vrapolinario could you give your exact commands you encountered?

[2022-06-16 23:05] vrapolinario commented on #110626
I used this to download crictl:

[code]

Then this happens:
PS C:\Program Files\containerd> .\crictl.exe -r "npipe:////./pipe/containerd-containerd" info
time="2022-06-16T15:55:20-07:00" level=fatal msg="getting status of runtime: invalid character 'e' in string escape code"

[2022-06-16 23:08] s-kawamura-w664 commented on #108678
/remove-lifecycle stale

[2022-06-16 23:47] jsturtevant commented on #109780
I confirmed this happens in the kube-proxy logs too. I have:

[code]

and you can see the `10.224.0.67` isn't in the loadbalancers:

[code]

And the logs say:

[code]

[2022-06-16 23:53] jsturtevant commented on #109780
This looks to be happening here: https://github.com/kubernetes/kubernetes/blob/b7466d02cdceee594869b47bea7f8e1ade03b7e2/pkg/proxy/winkernel/proxier.go#L1346-L1353

Since that value is initialized to empty slice:

https://github.com/kubernetes/kubernetes/blob/b7466d02cdceee594869b47bea7f8e1ade03b7e2/pkg/proxy/winkernel/proxier.go#L1114

And since endpoints for that service will never be local as it

[2022-06-16 23:56] mtaufen commented on #105942
@liggitt @bowei I assume this was fixed or I'd have probably gotten reminded about it before the triage bot marked the issue rotten. Can we confirm and close?

[2022-06-17 01:30] yangjunmyfm192085 commented on #103368
/reopen

[2022-06-17 01:33] yangjunmyfm192085 commented on #103368
/cc @249043822, As discussed in pr https://github.com/kubernetes/kubernetes/pull/110616#issuecomment-1158365991, we need to consider other ways to fix this issue

[2022-06-17 02:30] CharlesQQ opened #110631 "replicaset created, but pod created after 5 minutes later"
### What happened?
replicas `my-deploy-785fb59f49`  scale up at 15:09:02, but pod `my-deploy-785fb59f49-4d5vt` created at 15:14:06
[code]

### What did you expect to happen?

pod should created as the same time  replicaset scale up almost

### How can we reproduce it (as minimally and precisely as possible)?

scale up replicaset, but it not happened all the time

### Anything else we need to know?

[2022-06-17 02:43] CharlesQQ commented on #110631
/sig apps

[2022-06-17 03:29] mengjiao-liu commented on #109355
Submitted PRs:
- [x] #107159
- [x] #107215
- [x] #108655
- [x] #108351
- [ ] #108332
- [x] #108044

[2022-06-17 03:58] younaman commented on #110596
@aojea @chrisohaver @neolit123 @pacoxu Are there any suggestions or comments about my questions? Looking forward to your reply :)

[2022-06-17 03:58] FillZpp commented on #110631
`Scaled up replica set my-deploy-785fb59f49 to 1` is the time Deployment created the new ReplicaSet.
`Created pod: my-deploy-785fb59f49-4d5vt` is the time ReplicaSet created the Pod.

So what happened in the 5 minutes, could you provide more logs?

[2022-06-17 05:28] CharlesQQ commented on #110631
do nothing

[2022-06-17 05:40] #103816 closed

[2022-06-17 07:58] pacoxu commented on #110631
Probably, you can edit the kube-controller-manger log-level to 4 or 6 to see more evidence.

[2022-06-17 08:00] Abirdcfly commented on #110625
I think this is indeed a bug, after some simple testing, it seems to be an bug unique to 1.24, let me fix it. /assign

[2022-06-17 08:08] Abirdcfly commented on #108982
/assign @kerthcet

/unassign

[2022-06-17 08:19] pacoxu commented on #110630
/triage accepted

[2022-06-17 08:27] pacoxu commented on #110611
/area cadvisor
/cc @bobbypage @mengjiao-liu
for https://github.com/kubernetes/kubernetes/issues/107172

[2022-06-17 08:56] wangyysde commented on #110630
1. I think that the value of  container-log-max-size(50Mi) is too small to the rate upon to  6M/second.
2.  Should we add a new feature to kubelet to support rotate container logs?  @sig-node-approvers  I am try doing this if this is true.
3. As if we should add a new flag(and/or configuration item) to turn on/off rotate container logs in parallel?

[2022-06-17 08:56] wangyysde commented on #110630
/assign

[2022-06-17 09:06] ialidzhikov commented on #88613
/remove-lifecycle stale

[2022-06-17 09:36] wangyysde commented on #110622
/assign

[2022-06-17 09:38] tossmilestone commented on #110288
We should clarify the difference configuration with cgroupfs and systemd in doc.

[2022-06-17 09:49] waymen opened #110636 "kube-proxy log: No timestamp or log level"
### What happened?

I want to kube-proxy log output to file, so i added.:

 --skip-headers=true \
 --skip-log-headers=true \
  --logtostderr=false \
  --v=2 \
  --log-file=/var/log/kubernetes/kube-proxy.log

# cat /var/log/kubernetes/kube-proxy.log
Not using `--random-fully` in the MASQUERADE rule for iptables because the local version of iptables does not support it
Not using `--random-fully` in

[2022-06-17 11:10] dongdliu commented on #60140
It works for me !

[2022-06-17 11:41] ialidzhikov opened #110637 "kube-scheduler preemption logic deadlock when it evicts a Pod with a volume to make room for the CSI driver Pod"
### What happened?

We managed to reproduce and verify the following deadlock that occurs when kube-scheduler evicts a Pod (with less priority) to make room for a CSI driver Pod.
1. New csi-driver-node-disk Pod has to be created for Node `worker-1` (caused by autoscaling event like scale-up or Pod lifecycle event). Pod csi-driver-node-disk has PriorityClass `system-node-critical` (`2000001000` pri

[2022-06-17 11:41] ialidzhikov commented on #110637
/sig scheduling
/sig storage

[2022-06-17 12:03] aojea commented on #107927
@robscott https://github.com/kubernetes/kubernetes/pull/110639
There were also 2 sublte bugs :upside_down_face:

[2022-06-17 13:35] pio-janik opened #110641 "Standalone NEG's group is empty when node preempted"
### What happened?

Network Endpoint Group is empty after node is preempt (We use node pools with preemptible instances). Random groups are affected - We use several NEG's per use case. It happens every 24h (more or less).
We use deployment with service object annotated by special annotations. (https://cloud.google.com/kubernetes-engine/docs/how-to/standalone-neg#how_to). After creation this group

[2022-06-17 13:37] gjkim42 commented on #88613
/unassign

(lack of resources...)

[2022-06-17 13:38] gjkim42 commented on #103658
/unassign
(lack of resources...)

[2022-06-17 13:40] pio-janik commented on #110641
/sig network

[2022-06-17 13:41] sftim commented on #110627
Generating the `Warning:` header doesn't sound trivial, but it would be a great way to build on the existing support in `kubectl` et al for handling those response headers.

[2022-06-17 13:45] sftim commented on #110613
/kind support

I think `kubectl cp` is working as specified.

[2022-06-17 13:46] #107513 closed

[2022-06-17 13:48] aojea commented on #110641
ping @robscott @swetharepakula

[2022-06-17 13:53] MikeSpreitzer opened #110642 "delaying queue does not suppress duplicates between FIFO and waiting items"
### What happened?

https://github.com/kubernetes/client-go/blob/master/util/workqueue/delaying_queue.go suppresses duplicates within the FIFO, and suppresses duplicates within the priority queue of waiting items, but does not suppress duplicates between them.

### What did you expect to happen?

By the same logic that motivates duplicate suppression _within_ each of those two sections, there shou

[2022-06-17 13:53] MikeSpreitzer commented on #110642
@kubernetes/sig-api-machinery-misc
@aojea

[2022-06-17 14:24] sanposhiho commented on #107556
will work on https://github.com/kubernetes/kubernetes/pull/108494 when I have time...

/remove-lifecycle stale

[2022-06-17 14:43] pio-janik commented on #110641
I would like to add one more think - this bug has been occurring since version 1.22, on previous version (1.21) it was working fine.

[2022-06-17 14:52] harshanarayana commented on #110630
[code]

Here is a dirty patch of a quick prototype I was working on before the issue was assigned to @wangyysde. Posting it here in case if this will be useful.

[2022-06-17 15:02] Abirdcfly commented on #110625
/assign

[2022-06-17 15:05] altitude1326 commented on #34549
The bug still exists need to re-open it.

/reopen

[2022-06-17 15:08] altitude1326 commented on #34549
@msau42 can you do somthing for reopen and treat this bug please ?

[2022-06-17 15:39] jlsong01 commented on #109211
I would like to take a try
/assign

[2022-06-17 15:52] sanposhiho opened #110643 "metrics to see which plugins affect to scheduler's decisions in Filter/Score phase"
### What would you like to be added?

metrics to see more details related to scheduler's decisions in Filter phase

### Why is this needed?

In some cases (e.g. new feature is added in scheduler and want to see if it works or not), we may want to see which filter plugin affected Pod's scheduling results and it would be nice if we can observe that in metrics.

Ref: https://github.com/kubernetes/enh

[2022-06-17 15:54] harshitasao commented on #109211
Thanks for the update.

[2022-06-17 15:58] sftim commented on #67500
We should triage this.
/remove-lifecycle rotten

[2022-06-17 15:58] sftim commented on #67500
Does this need a KEP?

[2022-06-17 16:05] jsturtevant opened #110644 "Failing test - [sig-autoscaling] [Feature:HPA] [Serial] [Slow] Horizontal pod autoscaling (non-default behavior) with long upscale stabilization window should scale up only after the stabilization period"
### Which jobs are failing?

https://testgrid.k8s.io/sig-windows-master-release#capz-windows-containerd-master-serial-slow

### Which tests are failing?

Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] [Serial] [Slow] Horizontal pod autoscaling (non-default behavior) with long upscale stabilization window should scale up only after the stabilization period

### Since when has it been failing?

[2022-06-17 16:08] jsturtevant commented on #110644
diff when it started failing https://github.com/kubernetes/kubernetes/compare/c0cc9116677732...10066243df4313

[2022-06-17 16:11] BenTheElder commented on #51540
We had some discussion of possible approaches and tradeoffs at the SIG testing meeting earlier this week (June 14th 2022).

For anyone following along and interested these get recorded and uploaded to YouTube and the running meeting notes are linked from the community repo in the SIG document.

[2022-06-17 17:18] alculquicondor commented on #110643
I would also add an `extension_point` label that can be `Filter` or `Score`.

We probably need some common implementation between this and #107556

[2022-06-17 18:37] leiyiz opened #110645 "Snapshot Controller updated to 6.0.1 without correct RBAC required"
### Which jobs are failing?

https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Latest%20Release%20Candidate

### Which tests are failing?

Snapshot related tests

### Since when has it been failing?

6-17 2022

### Testgrid link

https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Drive

[2022-06-17 18:42] mattcary commented on #110645
/sig-storage
/triage accepted

Someone on my team will look at this in a week or so after we finish our current release, if no-one else gets to it first.

[2022-06-17 19:13] psazonparalect commented on #51850
This does not work with kubectl logs as well. version 1.22

[2022-06-17 19:57] swetharepakula commented on #110641
Hello @pio-janik,

This is a known issue due to a kubelet behavior change that was introduced in 1.22 that caused incorrect EndpointSlice & Endpoints. This has been fixed as part of https://github.com/kubernetes/kubernetes/pull/110255.

Since NEGs are a GKE/GCP specific, this may be better as a support ticket to GCP. However the fix above will fix the issue being described. It is currently being r

[2022-06-17 21:49] bobbypage commented on #107927
pod garbage collection does not happen immediately - it will only run the when [threshold is reached](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/podgc/gc_controller.go#L189-L209) -  `terminatedPodThreshold`. This defaults to `12500` in kube-controller-manager today. Pod GC will also happen for bounds which are bound to a node object which no longer exists.

[2022-06-17 22:21] bobbypage commented on #110611
What is your container runtime? From the screenshot it appears it is docker, but I'm a bit confused how that is possible since 1.24 removed support for dockershim?

[2022-06-17 22:47] jimf5 commented on #59477
/reopen

[2022-06-17 22:48] jimf5 commented on #59477
OK, this issue still takes place.

[2022-06-17 23:47] #107498 closed

[2022-06-18 02:05] mohammadkhavari commented on #110611
@bobbypage
I've installed docker and then in cri-dockerd from the repo that you mentioned. and initiate cluster by passing `--cri-socket=unix:///var/run/cri-dockerd.sock` ,then I applied a microservice benchmark on my cluster and it worked totally fine.
As the [documentation explains](https://kubernetes.io/docs/tasks/administer-cluster/migrating-from-dockershim/migrate-dockershim-dockerd/#what-is-

[2022-06-18 03:01] daveoy commented on #110357
There is a PR associated just so everyone is on the same page. #110357 would fix this issue.

[2022-06-18 05:07] manaschandrasahoo opened #110667 "Installing from yum repo leads to repo signature verification error"
[kubernetes]
name=Kubernetes
baseurl=https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearch
enabled=1
gpgcheck=1
repo_gpgcheck=1
gpgkey=https://packages.cloud.google.com/yum/doc/yum-key.gpg https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg
exclude=kubelet kubeadm kubectl

[root@master yum.repos.d]# sudo yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes

[2022-06-18 07:13] #107325 closed

[2022-06-18 09:53] #107160 closed

[2022-06-18 14:34] rikatz commented on #109406
Want to give a quick update on this:

* The image generation is working "fine", see: https://github.com/kubernetes/release/pull/2502/files
  * This process generates a temporary `gcr.io/k8s-staging-releng-test/debian-iptables:distroless-v1.0.0` that can be used later with `make quick-release-images` and/or changed in Kubernetes code to trigger the tests (see #110587)
  * Due to the way iptables-wr

[2022-06-18 15:05] mikebrow commented on #110460
just saw this.. looking

[2022-06-18 15:53] fuweid commented on #110460
@Jaroen0494 could you mind to share the container config.json? The location will be like `/run/containerd/io.containerd.runtime.v2.task/k8s.io/${container-id}/config.json`. thanks

[2022-06-18 16:31] harshanarayana commented on #110335
/assign

[2022-06-18 17:44] thockin commented on #110357
I loked at the PR, and I have some small issues with the implementation, but the bigger question is whether we should do this at all.  This is the first I have heard it in 7 years of Kubernetes.

 What does Docker do here? Does it respect `domain` ?

[2022-06-18 18:01] Jeroen0494 commented on #110460
Sure thing.

[code]

This is my MariaDB deployment.

[2022-06-18 19:55] #23130 closed

[2022-06-18 22:35] halfrost commented on #109717
/assign

[2022-06-18 23:29] jpassing opened #110665 "kubectl.exe not code-signed"
1. Follow [instructions](https://kubernetes.io/docs/tasks/tools/install-kubectl-windows/#install-kubectl-binary-with-curl-on-windows) to download kubectl on Windows
2. Check file properties of `kubectl.exe`

**Expected**: `kubectl.exe` is code-signed (Authenticode)

**Actual**: `kubectl.exe` is not code-signed, lacking any evidence that the file has been built by a trustworthy source

[2022-06-19 04:04] GoingOffRoading commented on #107170
@tnqn Awesome find.

Did you figure out a work around?

I am encountering this issue with this version of the image: k8s.gcr.io/kube-proxy:v1.23.4

[2022-06-19 04:58] mindw commented on #62078
/remove-lifecycle stale

[2022-06-19 12:05] #102996 closed

[2022-06-19 14:07] #104289 closed

[2022-06-19 14:36] mallman commented on #23130
I’m confused. This issue was closed as “completed” yet no PR is mentioned. Has this work been completed?

[2022-06-19 14:39] elfadel commented on #110177
+1
Having the same issue on Ubuntu 22.04.

[2022-06-19 15:11] abitrolly commented on #51850
/reopen

[2022-06-19 15:15] abitrolly commented on #51850
That could probably be triaged sooner with better, reproducible example in the issue description, but I am unlikely to work on that soon.

[2022-06-19 15:19] JohnStarich commented on #23130
@mallman The triage bot doesn't appear to distinguish between close reasons. Looks like you can reopen with a command though.

[2022-06-19 15:48] hakman commented on #23130
The `completed` status is a new "feature" from GitHub, which seems to confuse people. See more info here: https://github.blog/changelog/2022-05-19-the-new-github-issues-may-19th-update/.
Once the API changes are properly released, the k8s-ci-robot should be able to add the reason as `not planned`.

[2022-06-19 16:27] danwinship commented on #108579
Three actually:  #97070

I agree that these checks are mostly pointless, and support your proposal.

(Note that running `ipvsadm` and `conntrack` list commands also verifies that the command-line tools are installed, which is something that I think has been a problem more often in real-life than kernel modules.)

[2022-06-19 17:31] Abirdcfly commented on #110625
I can reproduce this error in a 1.24 cluster, but not in a 1.23.6 cluster. All clusters are created via kind, and I'm guessing gke may have cherry-picked some commits or had some of their own changes to their branch.

So I think this fix should at least cherry-pick to 1.23 to help other distributions fix this issue.

`kind create cluster  --image kindest/node:v1.23.6`

[2022-06-19 18:09] hoyhbx opened #110653 "The number conversion of `Value()` of type Quantity is incorrect"
### What happened?

We are trying to extract the value from a quantity created by `resource.ParseQuantity`. We attempted to achieve this by calling the method `Value()` of the Quantity object. But the return value of `Value()` is incorrect when exponent is a large number

The quantity we gave was `-.484785E-7466` which is a negative number very close to zero. You can check the result on wolfram al

[2022-06-19 18:11] hoyhbx commented on #110653
/sig api-machinery

[2022-06-19 19:07] #106374 closed

[2022-06-19 19:37] psazonparalect commented on #51850
`kubectl apply -f job_example.yaml -n default && kubectl get pods --selector=jobgroup=job-migration --output=jsonpath='{.items[*].metadata.name}' | xargs k logs -f --pod-running-timeout=20s`
output:
Error from server (BadRequest): container "migration" in pod "job-migration-l2drh" is waiting to start: ContainerCreating

My manifest for job:
`apiVersion: batch/v1
kind: Job
metadata:
  name: job-mig

[2022-06-19 20:07] #107100 closed

[2022-06-19 21:07] #103300 closed

[2022-06-19 22:08] hoyhbx opened #110654 "The number conversion of `Value()` of type Quantity is inaccurate"
### What happened?

We were constructing a Quantity instance using `resource.ParseQuantity()` with `-.1Ki`, then we call the method `Value()` to extract the value from the Quantity instance. When we used `-.1Ki` as the input, the output was `-101`. However, when we used `.1Ki` as input, the output was `103`.

### What did you expect to happen?

When we construct the Quantity object with two differ

[2022-06-19 22:08] hoyhbx commented on #110654
/sig api-machinery

[2022-06-20 02:16] younaman commented on #110596
@wangyysde @aojea @chrisohaver @neolit123 @pacoxu It has been 5 days and are there any suggestions or comments about my questions? Looking forward to your reply :)

[2022-06-20 02:29] chrisohaver commented on #110596
I’m not knowledgeable enough on the subject to answer.

[2022-06-20 02:46] tnqn commented on #107170
@GoingOffRoading The error looked scaring but the nodePort should be working, as it was just caused by a duplicate port opening attempt. v1.23.5 and later releases have the fix.

[2022-06-20 02:55] younaman commented on #110596
@chrisohaver Thanks for your reply! Because you are the Kubernetes contributor, so I want to know that have you know someone who can give me some comments? Looking forward to your reply!

[2022-06-20 03:06] pacoxu commented on #110596
For security issues, I think you can submit it to https://hackerone.com/kubernetes/thanks?type=team.

For me, I think what we can do on this.
- add a `Quota` to limit service creating
- monitoring for pod continuously restart or recreate and add alert(pod backoff is a warning event, and  many warning events should be an alert.)
- if this is a batch of short-term-running jobs with service/endpoints

[2022-06-20 03:20] younaman commented on #110596
@pacoxu I reported similar DoS issue to hackerone.com, however, hackerone told me that "DoS attacks is out of scope." Are you sure that my report will not get a similar "out of scope?"

By the way, thanks for your mitigation suggestions! However, I want to know the answers to my questions:
1. Is it a real issue?

2. If it is a real issue, are there any ways to defend against this problem fundament

[2022-06-20 03:26] kerthcet commented on #110637
Well, I don't think this is a bug. Daemonsets used to help configuring services/pods easily across clusters, so we should ensure them setup successfully for best servicing. But we can mitigate this by:
1. when  scheduling, nodes with multi volume-binding pods should score less.
2. when preempting, we should consider non-volume-binding pods first.

/remove-kind bug
/kind feature

[2022-06-20 03:30] pacoxu commented on #110636
As I know, klog will skip timestamp adding if `skip_header` is true.

https://github.com/kubernetes/klog/blob/49e17d5a7eaadb7bcac569ce6ecce8713d545387/klog.go#L661-L670

https://github.com/kubernetes/klog/blob/49e17d5a7eaadb7bcac569ce6ecce8713d545387/klog.go#L432

[2022-06-20 03:36] pacoxu commented on #110596
I'm not sure. 😓

[2022-06-20 05:25] kerthcet commented on #103132
/remove-lifecycle stale

[2022-06-20 05:35] Abirdcfly commented on #103132
Is there something else to be done here?

I noticed that https://github.com/kubernetes/kubernetes/pull/103082 has been merged

[2022-06-20 06:17] harshanarayana commented on #101622
Is someone still working on this or I am free to take a stab at this? I have ran into this a few times and trying to fix this

cc @pacoxu @dbgoytia @kagaya85

[2022-06-20 06:44] Abirdcfly opened #110658 "pull-kubernetes-e2e-gce-storage-snapshot is not look good after 0617"
### Which jobs are failing?

https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-storage-snapshot

### Which tests are failing?

[sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] [Testpattern: Dynamic PV (block volmode)] multiVolume [Slow] should concurrently access the volume and restored snapshot from pods on the same node [LinuxOnly][Feature:VolumeS

[2022-06-20 07:08] Sakuralbj commented on #108003
I think it's a really useful proposal, we've encountered many cases where users list  objects without rv which will put a lot of load on etcd. I would like to know how is the progress of ABC so far?

[2022-06-20 07:23] denkensk commented on #98215
/remove-lifecycle stale

[2022-06-20 08:28] ardaguclu commented on #110622
Thanks for raising this issue @invidian

This PR https://github.com/kubernetes/kubernetes/pull/110007 also fixes that issue

/triage accepted

[2022-06-20 08:30] invidian commented on #110622
/assign @ardaguclu

Awesome, thanks for taking care of it :)

[2022-06-20 08:52] mseiwald opened #110659 "kube-proxy: Services not reachable from master node"
### What happened?

The calico-node Pod is failing to start on the K8s master node with the following error:

[code]

It turns out that on the master node there are generally no ClusterIP services reachable, e.g.:

[code]

The same command works on other nodes.

The kube-proxy Pods is running without errors. iptables rules seem to be in place but not packets seem to match the rule:

[code]

### Wh

[2022-06-20 11:38] fromanirh opened #110660 "the scheduler framework does not allow adding indexers in scheduler plugins"
### What happened?

I'm writing a scheduler plugin using the scheduler framework, and in my plugin I'd like to add a [Indexer](https://pkg.go.dev/k8s.io/client-go/tools/cache#Indexer) using the `SharedInformerFactory` provided by the `framework.Handle`.
Adding such a Indexer lead to a runtime crash like
[code]
The reason for this is that [the scheduler code initializes the cache.Indexers value wit

[2022-06-20 12:38] jbartosik opened #110662 "New HPA E2E test is failing"
### Which jobs are failing?

gce-cos-autoscaling-hpa-cpu

### Which tests are failing?

Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] [Serial] [Slow] Horizontal pod autoscaling (non-default behavior) with long upscale stabilization window should scale up only after the stabilization period

### Since when has it been failing?

Since it was added in #110385 (first run at 2022-06-14 13:13 CES

[2022-06-20 12:48] jbartosik commented on #110662
@piotrnosek FYI

[2022-06-20 13:58] sftim commented on #110665
/unassign @NitishKumar06

[2022-06-20 14:07] aryan9600 commented on #108319
How about adding modifying `syncProxyRules()` to be `syncProxyRules(updateWeights  bool)`? We could then check and update the real server weights only when `updateWeights` is true.
Only `OnEndpointSliceSynced` and `OnServicesSynced` will be modified to  call `syncProxyRules(true)`, all other users will call the function with false. Since these two functions, are only called during startup, we won'

[2022-06-20 14:13] Jille commented on #94825
SnoozeThis is useful if we don't want to keep polling until that PR is closed.

@SnoozeThis https://github.com/kubernetes/kubernetes/pull/100448

[2022-06-20 14:14] SnoozeThis commented on #94825
(https://snoozeth.is/c0wl_vYdha0) I will wait until https://github.com/kubernetes/kubernetes/pull/100448 is merged and then add a comment.

[2022-06-20 15:07] brianpursley commented on #108630
/assign

[2022-06-20 15:12] aojea commented on #110659
/kind support
/remove kind-bug

Support issues doesn't use to be triaged, I suggest you to use slack or discourse

[2022-06-20 16:16] sftim commented on #110667
https://github.com/kubernetes/release/issues/913#issuecomment-1081121833 is also relevant.

[2022-06-20 16:16] sftim commented on #110667
/kind bug
/sig release

[2022-06-20 16:19] sftim commented on #110595
@piyushkv1 were you in fact trying to follow the advice in https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#define-a-liveness-http-request, and found that this didn't work how you hoped?

[2022-06-20 16:23] sftim commented on #110595
I tried out that container image (`amd64` architecture), and I found that the image worked as defined: healthy for 10 seconds, then unhealthy.

/triage not-reproducible

[2022-06-20 16:47] adelina-t commented on #51540
@BenTheElder I followed the recording of the community meeting. The options I was considering are at the beginning of this work are:

1. Github actions. The downside of not having testgrid integration is easily mitigated , we have precedent for this in containers that also pushes to testgrid: https://github.com/containerd/containerd/blob/main/.github/workflows/windows-periodic.yml . Basically we f

[2022-06-20 18:21] TeddyAndrieux commented on #108737
/remove-lifecycle stale

[2022-06-20 19:05] harshitasao commented on #106401
Thanks for the update.

[2022-06-20 19:23] j4m3s-s commented on #108255
/remove-lifecycle stale

[2022-06-20 19:40] BenTheElder commented on #110667
Just to clarify: AIUI the GCP RPM repomd.xml **is** signed, however the previous key expired and it is signed with a new key, but yum will only checks the first key in the keyring for repo signatures. The published content has actually always been signed with multiple keys / signatures but yum will only consider the first key, signature.

https://github.com/rpm-software-management/yum/blob/f8616a2

[2022-06-20 19:44] Jeroen0494 commented on #110460
Hi,

Thank you for responding again. It seems I'm not able to reproduce the issue either. Hmm, strange.

Create a pod.
[code]

Create an auditing profile that logs everything but blocks some dangerous stuff.
[code]

[code]

Add the syscalls to the seccomp profile.
[code]

Delete the pod, and wait a minute or so. Then apply the pod manifest again, and verify no syscalls are logged.

[code]

Now, ad

[2022-06-20 19:47] pio-janik commented on #110641
Hi @swetharepakula,
Thanks you for the explanation. We will wait for the stable GKE version.

[2022-06-20 19:58] Jeroen0494 commented on #110460
Seems my Redis installation was missing some syscalls in it's filter, SECCOMP filters are applied to Kubernetes probes after all.

I'm so sorry for wasting everybody's time!

[2022-06-20 19:58] #110460 closed

[2022-06-20 20:50] liggitt commented on #108463
I agree. The only use of the impacted package is at:

https://grep.app/search?q=text/language%22&filter[repo.pattern][0]=kubernetes/kubernetes

which is only used by:

https://grep.app/search?q=/htmlindex%22&filter[repo.pattern][0]=kubernetes/kubernetes

which is only used by test code:

https://grep.app/search?q=/charset%22&filter[repo.pattern][0]=kubernetes/kubernetes

Since the repo is not impa

[2022-06-20 20:50] #108463 closed

[2022-06-20 23:36] bridgetkromhout commented on #106543
Thanks, @elmiko! Hi, @svoruga - please see https://docs.microsoft.com/en-us/azure/openshift/howto-create-a-storageclass#change-the-default-storageclass-optional for where updates will occur when OCP/ARO support is updated. I'm going to close this issue in k/k now.

/close

[2022-06-20 23:36] #106543 closed

[2022-06-20 23:42] bridgetkromhout commented on #94590
/remove-lifecycle stale

[2022-06-21 01:52] Lin-qu commented on #73395
Hi @tiwalter I have the save issue, May I know how does it work?

[2022-06-21 02:45] #108166 closed

[2022-06-21 03:14] abe-hpe opened #110671 "Malformed request bodies (received by kube-apiserver) shoule be logged in kube-apiserver debug logs to aid troubleshooting"
### What would you like to be added?

Add request body to the properties included in EventString (in **k8s.io/apiserver/pkg/audit/format.go**) so that when the kube-apiserver audit log plugin calls HandlePluginError (which it does when a proper event message cannot be written to the audit log), the offending request body can be seen. This will aid in the troubleshooting of '400 Bad Request' respon

[2022-06-21 03:44] CC11001100 commented on #36222
Also reproduce in v1.22.3   :(

[2022-06-21 04:56] shettyg opened #110674 "Windows: Disappearing/missing windows loadbalancers for k8s services"
### What happened?

In our windows clusters, sometimes, we notice that the windows pod cannot access a clusterIP service.

The instances we have seen this issue is when a windows pod tries to resolve a DNS name by trying to contact the DNS server clusterIP (i.e nslookup fails from inside a pod). When this happens, a `hnsdiag list loadbalancers` does not show the VIP for the kube-dns clusterIP. But

[2022-06-21 04:57] shettyg commented on #110674
/sig windows

[2022-06-21 05:08] shettyg commented on #110674
I am providing certain logs. The clusterIP for the reproduction case is `10.24.208.10`.

Relevent kube-proxy log:

cat kube-proxy.log  | grep 10.24.208.10

[code]

The entire output of `hnsdiag list loadbalancers` (where you can see that there is no entry for `10.24.208.10`).

https://gist.github.com/shettyg/542f7e7b87acacb9b67cfac7139d5baa

The entire kube-proxy log for that windows node.
[kube-p

[2022-06-21 05:11] shettyg commented on #110674
The kube-proxy runs as a windows service and runs in kernel mode.

[2022-06-21 06:10] Shubham82 commented on #110644
Hi @jsturtevant
This issue is a Duplicate of #110662 and the PR for this issue is here: #110664

[2022-06-21 06:30] balgurivengalrao83 opened #110675 "Failed to Pull Image issue"
### Which jobs are failing?

Kubernates PODs

### Which tests are failing?

Hi,

I am getting the below error (at Kubernates Pod) while my CI/CD job is trying to Pull the Image from Harbor.

Failed to pull image "registry.app.xxx.net/XXXXX/partsgo42:GitActionsNew-2e7e78f7bb157128f1853b0dc06bf7ccd13156d7": rpc error: code = Unknown desc = failed to pull and unpack image "registry.app.xxx.net/spm2fo

[2022-06-21 06:40] muyangren2 commented on #109986
/triage accepted

[2022-06-21 06:46] muyangren2 commented on #109986
/assign

[2022-06-21 06:55] pacoxu commented on #110671
/sig auth

[2022-06-21 07:14] balgurivengalrao83 commented on #110675
/sig <Auth>

[2022-06-21 07:14] balgurivengalrao83 commented on #110675
/sig <Auth>

[2022-06-21 07:15] #110675 closed

[2022-06-21 07:15] balgurivengalrao83 commented on #110675
will open a new one

[2022-06-21 07:18] balgurivengalrao83 opened #110678 "Request for help troubleshooting failed container image pull"
### Which jobs are failing?

Git Hub Actions CI/CD

### Which tests are failing?

Hi,

I am getting the below error (at Kubernates Pod) while my CI/CD job is trying to Pull the Image from Harbor.

Failed to pull image "registry.app.xxx.net/XXXXX/partsgo42:GitActionsNew-2e7e78f7bb157128f1853b0dc06bf7ccd13156d7": rpc error: code = Unknown desc = failed to pull and unpack image "registry.app.xxx.net/

[2022-06-21 07:19] balgurivengalrao83 commented on #110678
/sig Auth

[2022-06-21 08:53] sftim commented on #110667
Thanks for clarifying @BenTheElder. It'd be good to see whether `dnf` does work OK because, if so, we can absolutely document that.

I've been really wary of teaching folks to turn off a signature check here, especially as we're a prominent project. There have been actual attacks that a check here does mitigate. It'd be great to qualify any advice with something like “if you're unable to adopt `dn

[2022-06-21 10:30] Duanzhiwei opened #110686 "Why is the netns file in the /var/run/netns/* not deleted after the container has been deleted in kubernetes?"
### What happened?

In my kubernetes cluster, there is only one non-hostnetwork container on the work node, but there are many files under the /var/run/docker/netns/* directory, which cannot be accessed by the nsenter command.

### What did you expect to happen?

May be not counting the default netns, the number of files in the /var/run/docker/netns/* directory is the same as the number of pause c

[2022-06-21 10:50] mengjiao-liu commented on #110611
I installed a k8s 1.24.1 cluster using kind. kind uses containerd as the runtime, and the above problem does not occur. The value of workingSetBytes is not 0.

[code]

Maybe the reason for using cri-dockerd, I will try to reproduce this way.

[2022-06-21 12:12] ahmetemrebasakcioglu commented on #110611
Hey, i found this topic at last yuppy!! was thinking i am the only one who faces this problem before :)
Here is my story, after upgrade to k8s 1.24 i go through cri-dockerd (mirantis) as explained. After that i installed metrics-server with helm, now "kubectl top nodes" works fine but "kubectl top nodes" doesnt work. metric-server logs say that "Failed getting complete container metric" (Can get c

[2022-06-21 12:28] jsafrane opened #110687 "iSCSI volumes don't work with ipv6"
### What happened?

Kubelet was not able to attach + mount an iSCSI PV when it has IPv6 server address.

### What did you expect to happen?

Volume is mounted + attached.

### How can we reproduce it (as minimally and precisely as possible)?

Set up iSCSI target that's reachable over IPv6 and create a PV for it.

For example:

[code]

Kubelet logs:

[code]

Notice `[]` around the IP address. Vario

[2022-06-21 12:30] jsafrane commented on #110687
/sig storage
/priority important-soon

[2022-06-21 12:33] jsafrane commented on #110687
/assign

[2022-06-21 13:25] #110288 closed

[2022-06-21 13:41] MostefaKamalLala commented on #105204
Same issue with AKS 1.22.6 (upgraded yesterday). The job completes succesfully but the warning appears.

[2022-06-21 14:09] yangjunmyfm192085 opened #110690 "Execute the Run function of kubelet, no log output after failure"
### What happened?

When running kubelet, if the Run function fails, the returned error has no output, and the cause of the error cannot be located.
https://github.com/kubernetes/kubernetes/blob/a9f83d839ec311ceaf4ef8ed35dbdfcff8ae0b3a/cmd/kubelet/app/server.go#L268

such as
https://github.com/kubernetes/kubernetes/blob/a9f83d839ec311ceaf4ef8ed35dbdfcff8ae0b3a/pkg/kubelet/cm/cgroup_manager_linux.g

[2022-06-21 14:10] yangjunmyfm192085 commented on #110690
/assign

[2022-06-21 14:15] yangjunmyfm192085 commented on #110690
/sig node

[2022-06-21 14:16] mattrpav commented on #32946
+1 on adding an 'in' and a wildcard character '*'

[2022-06-21 14:16] jmgate commented on #110464
Something I tried today was removing the `backoffLimit` from the test job specs.  It was set to 0, but without specifying it'll default to 6.  Testing this change with `completions: 5` and `parallelism: 5`, here's what I see:
1. The job spins up the parallel pods as appropriate, with one container each.
2. The containers talk to the test orchestration service to get their tasking and report result

[2022-06-21 14:22] Jefftree commented on #106387
/close

[2022-06-21 14:22] #106387 closed

[2022-06-21 14:29] jmgate commented on #110464
# Workaround

Another possible solution, and the one we'll likely go with:  Rather than have the container script exit with a code indicating the success or failure of testing, have it always return 0.  In this way, we trick k8s into thinking all is well.  In that case, all the parallel pods finish and are left on the cluster in the `Completed` state, and the job completes successfully.  When test

[2022-06-21 14:33] yangjunmyfm192085 commented on #110690
/cc @endocrimes @dims

[2022-06-21 14:53] BenTheElder commented on #110667
Ack though,

This is unclear to me. I found reference to a bug in how the metadata was handled in the past that was considered mitigated by this but the bug should be fixed.

Even if the attacker can hijack the HTTPS transport to Google / the repo and respond with a false repomd.xml, this only contains the list of packages that we *still* check the signature on when installing.

If we assume the a

[2022-06-21 15:17] jsturtevant commented on #110674
There is a discussion happening in slack: https://app.slack.com/client/T09NY5SBT/C0SJ4AFB7/thread/C0SJ4AFB7-1655734589.090519

[2022-06-21 15:19] jsturtevant commented on #110644
/close
in preference of #110662 and revert in #110664

[2022-06-21 15:19] #110644 closed

[2022-06-21 15:31] Nivedita-coder opened #110694 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

release-master-informing

- capz-windows-containerd-master

### Which tests are failing?

- Kubernetes e2e suite.BeforeSuite

### Since when has it been failing?

06-07 09:29 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master

### Reason for failure (if possible)

`test/e2e/framework/framework.go:647`
`Jun 20 21:

[2022-06-21 15:58] swetharepakula commented on #110641
The following GKE versions have the fix: `1.22.8-gke.202`, `1.23.6-gke.1501`, `1.24.0-gke.1801`. Please upgrade your cluster to one of those versions.

[2022-06-21 16:10] encodeflush commented on #82531
Hi @liggitt
My name Hossein Salahi from Bug-Triage team. I am just checking to ensure if everything is on track for K8s 1.25.
Thanks!

[2022-06-21 16:30] daschott commented on #110674
how large is your cluster? How many pods/services exist in the cluster?

[2022-06-21 16:31] liggitt commented on #82531
I doubt it will be completed in 1.25, but some work is happening in the 1.25 timeframe (https://groups.google.com/a/kubernetes.io/g/dev/c/zcGFMru0gPU/m/h1OlbdBtAwAJ), so the milestone is still appropriate

[2022-06-21 16:46] mohammadkhavari commented on #110611
@mengjiao-liu
Thanks for your consideration.
Can you reproduce process with cri-docker?

[2022-06-21 16:49] mohammadkhavari commented on #110611
@ahmetemrebasakcioglu
I didn't use helm but it's heartwarming that im not the only one who had faced this issue.
By the way I didn't understand well, does `kubectl top pod` work for you?

[2022-06-21 17:11] Huang-Wei commented on #110186
Do you mean a slim fake library to simulate CA and other consumers? If so, it may still have gaps with CA. While if we import CA in k/k, again, that may yield a cyclic dependency.

That sounds fair to me as it simulates how a consumer consumes the framework. Just not sure how complicated it can be (supposing we don't have similar tests to leverage).

[2022-06-21 17:13] chrishenzie commented on #103132
The last point in the issue description above is what remains to be done, implementing preemption logic. This is a beta graduation task; before we get to this we need to wrap up these tasks outlined here (https://github.com/kubernetes/kubernetes/issues/103132#issuecomment-999242180).

[2022-06-21 17:15] ahmetemrebasakcioglu commented on #110611
Oh sorry, i was written wrong, it doesnt work.

[2022-06-21 18:04] alculquicondor opened #110697 "Flaky test TestSyncPastDeadlineJobFinished"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestSyncPastDeadlineJobFinished

### Since when has it been flaking?

June 14th

### Testgrid link

https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestSyncPastDeadlineJobFinished&job=pull-kubernetes-unit

### Reason for failure (if possible)

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/

[2022-06-21 18:04] alculquicondor commented on #110697
/priority critical-urgent
/assign
/triage accepted

[2022-06-21 18:20] ahg-g commented on #110186
I am hoping that we don't need to "simulate" CA; just their expectations of the framework itself.

[2022-06-21 18:41] dashpole commented on #106536
/remove-lifecycle stale

[2022-06-21 18:48] alculquicondor commented on #110697
I'm going to mitigate this by increasing the timeout.

However, we should refactor the test (and job controller) to be able to use a fake clock that we can use to make the test more reliable.

[2022-06-21 18:55] alculquicondor commented on #110697
Sounds good. Please include this PR in the cherry-picks

[2022-06-21 18:55] harshanarayana commented on #110697
I see the cherry picks are still open. I will pull your change to increase the timeout into them rightaway .

[2022-06-21 19:28] vaibhav2107 commented on #108804
/remove-lifecycle stale

[2022-06-21 19:30] vaibhav2107 commented on #106919
/remove-lifecycle stale

[2022-06-21 19:31] vaibhav2107 commented on #104298
/remove-lifecycle stale

[2022-06-21 19:32] harshanarayana commented on #110697
@alculquicondor As part of the new changes. I am attaching a `clock.Clock` to the Job `Controller` and using that for all time related operations. In the UT, I am replacing that with a fake clock. I am also replacing the `jm.queue` with a custom `RateLimitingInterface` based type for UT that is backed by the fake clock. Is this the right approach or is there a different design you have in mind ?

[2022-06-21 19:32] vaibhav2107 commented on #102613
/remove-lifecycle stale

[2022-06-21 20:14] fedebongio commented on #110521
/triage accepted

[2022-06-21 20:16] fedebongio commented on #110642
/triage accepted

[2022-06-21 20:18] fedebongio commented on #110653
/assign @yliaog
Yu, would you be able to take a look? Thank you!
/triage accepted

[2022-06-21 20:18] fedebongio commented on #110654
/assign @yliaog
this one is similar but slightly different (although related we believe)
/triage accepted

[2022-06-21 20:24] jsturtevant commented on #108649
We have the open PR under review in https://github.com/kubernetes/kubernetes/pull/110150

[2022-06-21 20:46] alculquicondor commented on #110697
That sounds about right, thanks

[2022-06-21 20:48] geastman3 commented on #63005
Also facing  this issue. updates on this?

[2022-06-21 21:47] ruiwen-zhao commented on #106248
/assign @ndixita

[2022-06-21 21:49] ndixita commented on #106248
Assigning it to myself as I will be looking into the logistics to add the e2e tests here

[2022-06-21 21:49] ndixita commented on #106248
/assign @ndixita

[2022-06-21 22:29] mtaufen commented on #105942
😢

[2022-06-21 22:31] mtaufen commented on #105942
I'll poke @bowei about it and see if anyone ever looked into it

[2022-06-21 22:37] mtaufen commented on #105942
@liggitt it looks like testgrid dashboards have moved since this was filed, do you have up to date links?

[2022-06-22 02:00] lsytj0413 commented on #102996
/reopen

[2022-06-22 03:08] chendave opened #110708 "kubeadm: cert renew doesn't work with `cert-dir` set"
### What happened?

When `cert-dir` is set to a value other than the default value (/etc/kubernetes/pki/), and run `certs renew` on the working kubernetes controller node, the cert is not renewed as expected.

This impacts the `check-expiration` as well.

### What did you expect to happen?

`cert  renew` or `check-expiration` work as expected.

### How can we reproduce it (as minimally and precise

[2022-06-22 03:08] chendave commented on #110708
/assign

[2022-06-22 03:10] chendave commented on #110708
/sig cluster-lifecycle

[2022-06-22 03:31] #102902 closed

[2022-06-22 03:38] cornfeedhobo commented on #90519
Are there any cases to point to? It seems odd to make a stateful resource *more brittle* - generally that is better handled by ephemeral workloads.

This would be great, but it seems like they're immutable period, regardless of the selector still matching.

[2022-06-22 05:22] kerthcet commented on #93500
/remove-lifecycle stale

[2022-06-22 05:31] mindw commented on #52172
/remove-lifecycle stale.

[2022-06-22 05:32] mindw commented on #52172
/remove-lifecycle stale

[2022-06-22 05:35] harshanarayana commented on #110697
/assign

[2022-06-22 06:59] ffilippopoulos commented on #106946
/remove-lifecycle stale

[2022-06-22 07:20] x13n commented on #110186
I like @ahg-h suggestion: Simple test that validates CA expectations of the framework interface, without taking on all the extra complexity stemming from dependencies. This should be sufficient for now and may be replaced by more sophisticated mechanism I described above if needed.

At the very least, it should suffice to create an object and check if it satisfies the framework interface. We can i

[2022-06-22 08:00] #110694 closed

[2022-06-22 09:39] unmarshall opened #110714 "Topology Aware Hint does not consider node taints"
### What happened?

Consider a K8S cluster which is spread across several zones. In each zone there can be many `node-groups` which is the unit for `Cluster-Autoscaler`. Typically you would create different node groups either with different node labels or taints which will help the Cluster Autoscaler to scale a specific node group (optionally in a specific zone) in case there are unscheduled pods

[2022-06-22 09:53] unmarshall commented on #110714
/sig Autoscaling
/sig Network

[2022-06-22 10:05] aojea commented on #110714
/assign @robscott

[2022-06-22 10:19] kerthcet commented on #110186
What about verify the framework at startup like https://github.com/kubernetes/kubernetes/pull/110717, and make CA team as part of the folder reviewer.

[2022-06-22 10:21] DieterDP-ng opened #110718 "Modifying podAntiAffinity has no effect"
### What happened?

- I create a statefulset with a `requiredDuringSchedulingIgnoredDuringExecution` podAntiAffinity and deploy it on a cluster where not enough nodes are available, resulting in some pods being stuck in a `Pending` state.
- I then update the statefulset to use `preferredDuringSchedulingIgnoredDuringExecution` instead.
- The pods are still stuck in a `Pending` state. Deleting the p

[2022-06-22 10:24] DieterDP-ng commented on #110718
/sig scheduling

[2022-06-22 10:36] aojea commented on #110714
I don't know if this can scale well, IIUIC this means we should have a cpuRatioByZoneAndService,

it seems that it also requires to pass the taint information to the Service :thinking:

[2022-06-22 11:04] unmarshall commented on #110714
An additional point:
It also currently also considers nodes which are not ready or not healthy where pods cannot be scheduled but the allocated cpus will be added.

[2022-06-22 11:07] aojea commented on #110714
https://github.com/kubernetes/kubernetes/blob/18b5efceda2643b7175fbf712e8978d382077f9b/pkg/controller/endpointslice/topologycache/topologycache.go#L177-L185

[2022-06-22 12:13] haorenfsa commented on #94293
Just encounter the same case on 1.20

Our digging shows that it is caused by a not responding `CRD conversion webhook` which makes the GC cache of controller-manager timeout. And failed to do cascading deletes.

[2022-06-22 12:13] haorenfsa commented on #94293
/reopen

[2022-06-22 12:21] haorenfsa opened #110720 "CRD Conversion webhook down results in controller-manager GC failure"
### What happened?

The phenomenon is like #94293. Since it's staled,  and we got some progress on it, so I open it here.

When the webhook service of our CRD Conversion is down, the controller-manager GC fails to sync the cache. All the cascading deletion will not continue(After you deleted the deployment, the ReplicaSet & the Pod is still there while you can't find the Deployment).

### What did

[2022-06-22 12:36] haorenfsa commented on #110720
sig /api-machinery

[2022-06-22 12:37] haorenfsa commented on #110720
/sig api-machinery

[2022-06-22 13:36] shan100github opened #110722 "Display node name along with pods on execution of `kubectl top pod` & easy readability for CPU and Mem size"
### What would you like to be added?

Display node name along with pod name on the execution of "kubectl top pod <additional parameter>"
1) Currently while "kubectl top pod" is executed, it displays only pod name along with CPU & MEM usage, but it will be good and easy to monitor while we have the corresponding node name.
[code]

2)  Display Memory and CPU in a readable format in GB/Gi. through ad

[2022-06-22 14:09] neolit123 commented on #110636
/kind support

[2022-06-22 14:09] neolit123 commented on #110636
/sig instrumentation network

[2022-06-22 14:11] #110686 closed

[2022-06-22 14:32] yangjunmyfm192085 commented on #110722
/cc

[2022-06-22 14:42] tuatara73 opened #110725 "Creating custom certs for kubeadm resolving in a "dead" cluster"
### What happened?

I created a manual script to create all the certs located in `/etc/kubernetes/pki` and `/etc/kubernetes/pki/etcd` on a running cluster on centos 7, as long as modifieng the conf files located in `/etc/kubernetes` {admin.conf, scheduler.conf, controller-manager.conf} and provided new certs for them as well of course without touching kubelet.conf.
**I used the ca.crt that was alr

[2022-06-22 14:54] Ramyak opened #110726 "Scheduler crashes."
### What happened?

Scheduler went into crash loop.

We upgraded from 1.18 => 1.19 and scheduler started crashing few 100 times and then auto-recovered.

Probably related to this code change - https://github.com/kubernetes/kubernetes/commit/65d9f8175844

Seems like we no longer use pointers in HEAD
https://github.com/kubernetes/kubernetes/pull/107623

1.19 - 1.23 has this bug. Fixed 1.24 onwards.

[2022-06-22 15:09] Ramyak commented on #110726
/sig scheduling

[2022-06-22 15:12] alculquicondor commented on #110697
No, that is a setting for the test suite. It's expected.

[2022-06-22 15:18] justin-chizer commented on #109799
Hello @deads2k, my name is Justin Chizer and I am one of the k8s 1.25 bug triage shadow assigned to track this body of work. Is this still on track for 1.25?

[2022-06-22 16:19] jsturtevant commented on #110694
@Nivedita-coder just an update, We have a few known issues causing flakes we are working on:

- https://github.com/kubernetes/kubernetes/issues/98574 - this will be resolved by an Windows OS update coming out in July
- https://github.com/kubernetes/kubernetes/issues/107114 - still investigating
- https://github.com/kubernetes/kubernetes/issues/98499 - we've identified a possible issue and testing

[2022-06-22 16:26] danwinship commented on #85966
Note that even when the CNI plugin and the NetworkPolicy implementation are the same network plugin, this is still potentially very complicated, because it may need to communicate the pod IP to parts of the implementation on other nodes. Eg, if a pod X on Node A tries to contact a pod Y on Node B as part of its `postStart`, this may require Node B to update policy rules to allow pod Y to accept a

[2022-06-22 16:58] maxmarcon commented on #74551
I'm facing similar issues to the ones described here.

K8S versions:
[code]
OS: MacOS 12.4

I'm connecting to a EKS K8S cluster. If I run `kubectl port-forward` with a high verbosity flag, I see that before starting listening for connections the protocol is upgraded to SPDY:

[code]

So port-forward uses SPDY under the hood? I wonder if this could be related to the problem.

Other than that, I tri

[2022-06-22 17:06] BenTheElder commented on #110605
From SIG Testing POV: should definitely move towards [agnhost](https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost) for e2e tests like this. agnhost is more maintainable and multi-arch, and we should be able to run e2e tests with pulling less images / have less images to maintain purely for test purposes.

[2022-06-22 17:42] coding-bunny commented on #78761
ArgoCD from our private clusters

[2022-06-22 17:43] #107927 closed

[2022-06-22 18:03] neolit123 commented on #110725
hi, we have users that feed entirely custom certs in kubeadm. we also have e2e tests for that.
the better place to ask for help would be the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

i recommend stackoverflow.

/kind support
/close

[2022-06-22 18:03] #110725 closed

[2022-06-22 18:04] neolit123 commented on #110725
btw, you also have the option to generate CSRs from kubeadm - check `kubeadm certs generate-csr`.

[2022-06-22 18:53] tuatara73 commented on #110725
Thanks a lot

Regards,

*Shiran*

On Wed, Jun 22, 2022 at 9:03 PM Lubomir I. Ivanov ***@***.***>
wrote:

[2022-06-22 21:39] BenTheElder commented on #51540
That sounds right, couple additions / notes:

In addition to 1 & 2 in the call we talked a little about a third option:

3. We could try to extend Prow to schedule to Windows Containers and run unit tests there as prowjob pods. I think this would mostly involve porting the "pod utilities" and setting up a Kubernetes cluster with windows nodes for prow.k8s.io to schedule to. For the latter in githu

[2022-06-22 21:56] randygeyer-ws commented on #57291
imo, this lack of configurability of CrashLoopBackoff is a huge design flaw in K8S.  There are so many use cases where a normal pod exit and restart is needed.  K8S cannot handle that use case as is.  Why is there no input from the K8S team on this 5 year old issue?

[2022-06-22 22:55] #110424 closed

[2022-06-22 23:25] Abirdcfly opened #110734 "Rethinking the growSlice function in staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go"
### What would you like to be added?

https://github.com/kubernetes/kubernetes/blob/1d811065345bfe9f3be7f6757a9938c1760180c7/staging/src/k8s.io/apiserver/pkg/storage/etcd3/store.go#L760-L789

Can you open an issue to capture these two points? (I won't block this PR on them since the bug looks disastrous)
* I am skeptical that this function is actually an improvement over just letting the go runtim

[2022-06-22 23:29] thockin commented on #110714
IIRC, The consideration of CPU is to figure out whether clients in a zone could swamp servers in that zone.  In that regard, taints don't matter because it doesn't tell me anything about the set of potential clients.

As @aojea says - we would have to tell Services about where clients COULD come from, which I don't know if we want to do that.

That doesn't mean there isn't room for refinement of t

[2022-06-22 23:36] thockin commented on #110641
I'll go ahead and close this now, thanks.

[2022-06-22 23:36] #110641 closed

[2022-06-22 23:36] 0x2b3bfa0 commented on #17244
Vaguely related: [`jobs.<job_id>.strategy.fail-fast`](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstrategyfail-fast) on GitHub Actions.

[2022-06-22 23:38] thockin commented on #110636
You asked for no headers.

[2022-06-22 23:38] #110636 closed

[2022-06-22 23:57] thockin commented on #110596
It's hard to call this an "issue".  We need to be able to fail readiness on pods and we need to be able to update the endpoints on every client (node) in a reasonably short time window.  Otherwise we end up routing traffic to dead endpoints.

EndpointSlice was designed to mitigate some of the impact here, but ultimately the updates must flow.

kube-proxy has a rate-limited write to iptables, so it

[2022-06-22 23:59] thockin commented on #110514
@jsafrane it's not ideal - a metric seems OK

[2022-06-22 23:59] #110225 closed

[2022-06-23 00:00] #110177 closed

[2022-06-23 00:12] thockin commented on #109780
On Linux we specifically send node->externalIP traffic to any endpoint (to simulate going out to the actual LB).  This was clarified in 1.24 but was under-specified before that.

I don't think comparing the set of LBs/routes/iptables is the right yardstick (but I don't know enough about Windows to judge).

It sounds like you get the right semantic, though you may want to adjust the implementation?

[2022-06-23 01:06] robscott commented on #110714
+1 to the comments from @thockin and @aojea. I'm very interested in better heuristics here, but not sure how to improve this without creating other problems. Open to ideas from anyone here.

I'm not sure it's accurate to consider this a bug though, more of a known and documented limitation of this approach. Currently the [relevant docs](https://kubernetes.io/docs/concepts/services-networking/topol

[2022-06-23 01:21] #110625 closed

[2022-06-23 02:57] Auggie321 commented on #36222
I occasionally encountered this problem in v1.15.6 or v1.21.2,
but eventually I was able to deal with it by using edit and then using vim's own set list to back-propagate
the original static configmap code configuration under gitlab to see
if there were extra spaces, and then modifying the local configmap file based on the online configmap's set list display under edit.

The state of the online co

[2022-06-23 02:58] davidstack commented on #107543
@hicaistar nice

[2022-06-23 03:15] lzhecheng commented on #109913
cloud-provider-azure-multiple-zones has been replaced by a new job cloud-provider-azure-conformance-multiple-zones-vmss-capz
https://testgrid.k8s.io/provider-azure-cloud-provider-azure#cloud-provider-azure-conformance-multiple-zones-vmss-capz

[2022-06-23 03:29] howardshaw commented on #110718
if you try below,it can work,pods get scheduled.
[code]

So the reason why modify podAntiAffinity not works cause by:
1. After you update statefulset spec, statefulset contoller don't recreate pending/running pod.
you can view pod's yaml to verify podAntiAffinity is remain requiredDuringSchedulingIgnoredDuringExecution for both running/pending pods.
2.  Deleting the pod has no effect. I think you

[2022-06-23 03:41] kerthcet commented on #67250
/assign
I'll take a look as if this is highly needed by the community.

[2022-06-23 03:43] #103890 closed

[2022-06-23 03:44] kerthcet commented on #110718
This is a long-standing issue https://github.com/kubernetes/kubernetes/issues/67250
/remove-kind bug
/kind feature
/sig apps

[2022-06-23 03:46] kerthcet commented on #110718
I'll take a look of this issue. Updated in the former issue.

[2022-06-23 04:05] shettyg commented on #110674
The cluster is 16 windows nodes and 4 linux nodes. It has 190 pods (in all namespaces and all nodes). It has 140 pods in windows nodes. It has 100 kubernetes services.

@daschott

[2022-06-23 07:40] tossmilestone commented on #110720
We also have encountered the same issue. It should be a bug, I could help to fix it.
/assign

[2022-06-23 07:41] tossmilestone commented on #110720
/triage accepted

[2022-06-23 08:04] pohly opened #110737 "structured logging: switch from KObjs to KObjSlice"
### What would you like to be added?

https://github.com/kubernetes/klog/pull/322 added klog.KObjSlice as replacement for klog.KObjs. A version of klog with that is now in Kubernetes master.

We should:
- [ ] Search/replace calls to KObjs in all of Kubernetes.
- [ ] In places where the `if klogV := klog.V(5); klogV.Enabled() { klogV.Info(..., klog.KObjs(...) }` pattern was used, consider whether a

[2022-06-23 08:10] pohly commented on #110737
When preparing a PR which removes KObj, remember to include a meaningful "why this is needed" in the PR description itself. A link to this issue can be added, but that alone is not enough for reviewers because it makes them do extra work (look up an issue and read through all of it).

[2022-06-23 08:26] harshanarayana commented on #110737
/assign

Can I take this one up ?

[2022-06-23 09:29] MadhavJivrajani commented on #110734
/assign

[2022-06-23 09:32] pohly commented on #108688
/remove-lifecycle stale
/lifecycle frozen

[2022-06-23 09:34] kerthcet commented on #110726
It seems like we can't find the kv pair in `s.TpPairToMatchNum`, do we have new nodes added to the cluster? https://github.com/kubernetes/kubernetes/blob/e37e4ab4cc8dcda84f1344dda47a97bb1927d074/pkg/scheduler/framework/plugins/podtopologyspread/filtering.go#L138

[2022-06-23 10:09] mseiwald commented on #110659
@thockin kube-proxy is running in iptables mode.

iptables-save output:

[code]

[2022-06-23 10:30] pohly commented on #110737
Yes, please do.

[2022-06-23 10:50] #103043 closed

[2022-06-23 10:58] unmarshall commented on #110714
That is true in general. In our case we have a multi-zonal control plane setup where for each zone there is a `Kube API server` pod running and each zone has one `etcd` member running. For a region having 3 zones this would mean a 3-member etcd cluster having one member in each zone.
The wish therefore is to influence routing of traffic originating from `Kube API Server` to preferably reach the `e

[2022-06-23 11:05] tcolgate commented on #109998
We are seeing this using GKE's 1.22.9-2000 and preemptible nodes. Termianted pods (phase Failed), from a preempted node have container status that indicate they are "ready", and still get listed in endpoints (note that they are listed as *ready* endpoints in addresses, not as notReadyAddresses

Upload manifests of pod and endpoints here:
https://gist.github.com/tcolgate/083c276366bb93fde423c137048

[2022-06-23 11:38] Shubham82 commented on #110348
@fengpengyun
instead of OR(| |)  we have to use AND(&&)  while comparing, so that it is true when both (serverCertFile,serverKeyFile ) have some value.
am I going  right?

[2022-06-23 11:50] #107711 closed

[2022-06-23 11:58] Ramyak commented on #110726
Yes. The nodes are in an autoscaling group. So nodes get added/removed all the time.

We are going to try to apply this patch to see if this avoid the crash from 1.19 - 1.23

[code]

[2022-06-23 12:14] DieterDP-ng commented on #110718
Since running pods with requiredDuringSchedulingIgnoredDuringExecution,so the new created running pods can not be scheduled.

I had not expected that the anti-affinity rules were checked on a global scale (ie: pod 1 cannot be scheduled because it violates anti-affinity of pod 0), but rather expected it to work locally (ie: pod 1 only has to satisfy its own anti-affinity rules, because pod 0 is alr

[2022-06-23 12:52] Ramyak commented on #110726
Yeah make sense.. will try that. Thanks.

[2022-06-23 13:02] CatherineF-dev opened #110742 "Replace metric apiserver_request_duration_seconds_bucket with trace"
### What would you like to be added?

Option1: filter out apiserver lantency trace from [apiserver tracing](https://kubernetes.io/blog/2021/09/03/api-server-tracing/)

Option2: add one trace for apiserver_request_duration_seconds_bucket

If metric alert is needed, not sure whether a simplified metric apiserver_request_duration_seconds_bucket will work or not.

### Why is this needed?

As shown in

[2022-06-23 13:02] CatherineF-dev commented on #110742
/sig instrumentation

[2022-06-23 13:38] jackfrancis opened #110743 "kubeadm: configurable KubernetesVersion not respected during kubeadm join"
### What happened?

We are using the `kubeadmConfigSpec.kubernetesVersion` configuration interface in cluster-api to enable kubeadm usage with CI builds of Kubernetes. For example:

https://github.com/kubernetes-sigs/cluster-api-provider-azure/blob/9e793b42f79b65cbc830e711dce63a2c1e7c82c0/templates/test/ci/cluster-template-prow-ci-version-windows-containerd-2022.yaml#L90

We're observing that this

[2022-06-23 13:41] mohammadkhavari commented on #110611
I have migrated to containered and metrics apis are working fine.

[2022-06-23 13:52] ahmetemrebasakcioglu commented on #110611
So it seems the bug is related to mirantis docker engine (cri-dockerd), if containerd runtime has no problems with k8s v1.24, i may try to go on with containerd. In this point i have another question in my mind:
In my projects cicd pipeline, i build projects with gitlab runner (runs on k8s) build docker images with kaniko, store image on gitlab repository , then run images on k8s. i wonder if i go

[2022-06-23 13:55] ahmetemrebasakcioglu commented on #110611
Here says containerd also runs docker images, anybody knows is that true?
https://www.tutorialworks.com/difference-docker-containerd-runc-crio-oci/#:~:text=Both%20containerd%20and%20CRI%2DO,command%20or%20the%20Docker%20daemon.

[2022-06-23 14:05] harshanarayana commented on #110630
That's what I eventually ended up doing.

`containerLogRotateMaxWorker`

[2022-06-23 14:16] yangjunmyfm192085 commented on #110737
/assign
I can take one of these
Could we be together？@harshanarayana

[2022-06-23 14:17] yangjunmyfm192085 commented on #110737
I can work on this `Search/replace calls to KObjs in all of Kubernetes`.

[2022-06-23 14:18] danwinship commented on #109780
So the discussion is confusing, but three important points:

- "Endpoints on Linux nodes" vs "endpoints on Windows nodes" is not relevant. The relevant distinction is "endpoints on _this_ node" vs "endpoints on another node". Obviously on a Windows box, all Linux endpoints will fall into the "endpoints on another node" category, but it's local-vs-remote that is the relevant distinction, not Linux-

[2022-06-23 14:29] harshanarayana commented on #110737
@yangjunmyfm192085 I just finished the first one and half way through the second. The other two I have not yet taken a look into. Mind taking one of those two ?

[2022-06-23 14:31] neolit123 commented on #110708
/triage accepted

[2022-06-23 14:32] endocrimes commented on #102394
/remove-lifecycle rotten

[2022-06-23 14:33] endocrimes commented on #102394
We should take a look at this soon, especially given that systemd is increasingly the default option. Any chance you could take a look @haircommander?

[2022-06-23 14:59] #100328 closed

[2022-06-23 15:10] endocrimes commented on #102394
np - ran into the todo trying to debug something else today 😅

[2022-06-23 15:21] jsturtevant commented on #109780
Thanks for the explanation.  @marcelvwe was seeing:

If I am following correctly, this falls under:

-  `traffic coming from the node itself or a pod on the node addressed to the LoadBalancer IP gets delivered to both endpoints`
- `On Linux we specifically send node->externalIP traffic to any endpoint (to simulate going out to the actual LB). This was clarified in 1.24 but was under-specified befo

[2022-06-23 15:55] caseydavenport commented on #110659
Looks like Calico is failing to reach the API server, and isn't getting far enough along to do any iptables programming as a result.

At this point it would probably be a node->apiserver network access issue or maybe a kube-proxy issue. Looks like your apiserver endpoint is `10.150.9.80:6443` - is that accessible directly from the node (i.e., if you bypass the service clusterIP)?

[2022-06-23 15:55] caseydavenport commented on #110659
/assign

[2022-06-23 16:14] danwinship commented on #110596
https://github.com/kubernetes/kubernetes/pull/110268 may help this by making each `iptables-restore` call much smaller

[2022-06-23 16:15] harry1064 commented on #110734
Hi @MadhavJivrajani
I was researching around this issue. I have gone through the conversation mentioned by @Abirdcfly  in the issue description.
As far as I can understand, `growSlice` method was not able to copy the existing content as the `len` passed was `0` to  `reflect.MakeSlice`.  Even @Abirdcfly  fixed the issue by passing the expected length value, @lavalamp raised concern that we should b

[2022-06-23 16:32] danwinship commented on #109780
(following up from the sig net meeting)

I said it should behave "_as though_ the traffic goes to the external LB", but it's totally fine to _actually_ sent it to the external LB as well. I just meant "it can't behave in a manner that is observably different from what you'd get if you had sent it to the external LB". Meaning specifically, it has to get delivered to an endpoint, even if the traffic

[2022-06-23 16:48] MadhavJivrajani commented on #110734
Hey @harry1064! I put together a small benchmark to try and get a basic idea of things, let me push my progress sometime tomorrow and we can collaborate further :D

[2022-06-23 16:48] aojea commented on #109406
/assign

[2022-06-23 16:56] liggitt opened #110750 "Computation of the StorageVersionHash is incorrect for overridden storage versions in unit test"
Storage version defaults to the preferred version for a given group, but can be overridden when constructing API server storage.

This is done here: https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/pkg/kubeapiserver/default_storage_factory_builder.go#L60-L67

Reasons the preferred version might be overridden:
* A given resource/kind does not yet exist in the p

[2022-06-23 16:57] dashpole commented on #110742
Discussed at the SIG meeting.  That metric is stable, and is used by a variety of critical uses.  Traces are meant to be sampled, and while you can produce metrics from traces, those aren't of the quality required for SLOs.  It would be better to add exemplars to the metrics we produce to make it easier to find applicable traces for slow metrics.

[2022-06-23 16:58] CatherineF-dev commented on #110742
Thanks!

/close

[2022-06-23 16:58] #110742 closed

[2022-06-23 17:05] harry1064 commented on #110734
Thanks @MadhavJivrajani
Also, I have found this one from blog on go website. Hope this will also be helpful in making the decision.

Following content  is from [here](https://go.dev/blog/slices-intro)
A common operation is to append data to the end of a slice. This function appends byte elements to a slice of bytes, growing the slice if necessary, and returns the updated slice value:
[code]
One co

[2022-06-23 17:10] aojea commented on #110750
/cc

[2022-06-23 17:12] thockin commented on #110714
I don't usually see the apiserver's etcd represented as a kube service.  Is that really what you are doing?

We have some lower-bound for hints because it seems easy to get catastrophically wrong when each enpoint represents a double-digit percentage of capacity.

@robscott I think the use-case of intentionally-balanced endpoints is important and we should think about how the heuristic could do be

[2022-06-23 17:19] thockin commented on #110596
The problem is, I think, that it's a purely static config.  We could consider something more dynamic, like the holdoff period being proportional to how long the run took.  If it takes 10 seconds to sync, we should probably hold off more than if it takes 0.3 seconds.  I think.  It could also be dynamic based on offender - we could consider "rare" events to be more urgent and "common" ones to be eli

[2022-06-23 17:20] thockin commented on #109780
So @jsturtevant is this issue a bug, a feature request, or working-as-intended?

[2022-06-23 17:21] adoprog commented on #110674
We encountered the same issue, using mix of Linux and Windows nodes on AKS. Sometimes Windows pods would lose connection to Linux-hosted MSSQL or Solr when we start the workload. Possibly Windows->Windows connectivity is an issue as well but these services don't often communicate in our scenarios.

We do shutdown workloads nightly, and in the morning some "instances" would not start properly becau

[2022-06-23 17:25] adelina-t commented on #51540
Yes, that's what I sort of meant, but I got lost in the terminology of stuff :) but yes, totally agree here

[2022-06-23 17:32] thockin commented on #110714
I'm grumpy about adding APIs for this, so that's my least-favorite choice, but I am open to it if we really REALLY can't do better.

[2022-06-23 18:50] #107687 closed

[2022-06-23 19:40] MorrisLaw commented on #96717
/remove-lifecycle stale

[2022-06-23 19:42] MorrisLaw commented on #96717
Hey @RajivTS @AkshayPS12 any progress on this PR or is this open for anyone to work on it?

[2022-06-23 19:57] jsturtevant commented on #109780
This would be a feature request.

Given the comment https://github.com/kubernetes/kubernetes/issues/109780#issuecomment-1164629471, we are sending the traffic to the external LB and it is reaching an endpoint.

After the discussion this morning, adding a new rule that sends traffic directly to the endpoints of service when the traffic from a pod is directed at the external LB IP address and there

[2022-06-23 20:19] liggitt commented on #110750
cc @deads2k

[2022-06-23 20:39] robbie-demuth commented on #108344
I recently opened [an issue against controller-runtime](https://github.com/kubernetes-sigs/controller-runtime/issues/1938) describing a similar issue, but with a CRD instead of an Aggregated API. I'm not super familiar with Aggregated APIs, but I don't believe CRDs incur the extra hops that's thus far been discussed here

[2022-06-23 20:40] robbie-demuth commented on #108344
/remove-lifecycle stale

[2022-06-23 21:47] negz opened #110753 "kubectl discovery dramatically slower on MacOS than Linux"
### What happened?

We use _a lot_ of CRDs (frequently more than 1,000) in the @crossplane project. This has historically caused a bunch of problems with client-side API discovery, among other things. At the time of writing the latest releases of kubectl use a discovery client rate limiter with a generous QPS and burst (50 qps, 300 qps burst), so client-side rate limiting doesn't become a problem

[2022-06-23 21:47] negz commented on #110753
/sig cli

[2022-06-23 21:52] liggitt commented on #110720
Thanks for the report. Is this the same issue as https://github.com/kubernetes/kubernetes/issues/101078?

[2022-06-23 21:56] liggitt commented on #110671
this seems like a duplicate of https://github.com/kubernetes/kubernetes/issues/84571, which was discussed and decided against (context in https://github.com/kubernetes/kubernetes/issues/84571#issuecomment-1098390307)

logging malformed requests introduces audit volume problems and increases attack surface area

[2022-06-23 21:56] liggitt commented on #110671
/close

[2022-06-23 21:56] #110671 closed

[2022-06-23 21:59] liggitt commented on #110620
env injection into pods isn't part of sig-auth

/remove-sig auth

[2022-06-23 22:44] rajataggarwal91c commented on #96733
I am facing a similar issue. I know that `aws-node-termination-handler` is draining the node on receiving Rebalance Recommendation and thus the node cannot receive any pods. I would expect `cluster-autoscaler` to scale down the unneeded node, but that does not happen until the thresholds for `--scale-down-delay-after-add=6m` and `--scale-down-unneeded-time=5m` are passed. Should I use very small v

[2022-06-23 23:50] Dragoncell opened #110755 "[Node Graceful Shutdown] kubelet sometimes doesn't finish kill pods before node shutdown within 30s and left the pods in running state still"
### What happened?

In some cases, we saw that in a graceful shutdown enabled cluster, the kubelet started the shutdown for some pods, but end up not finishing it, and these pods have the same behavior without the graceful shutdown for preemption VM

[code]

### What did you expect to happen?

Pod set to terminated or failed status after node is shutdown

### How can we reproduce it (as minimally

[2022-06-23 23:57] Dragoncell commented on #110755
/cc @bobbypage

[2022-06-24 01:56] haorenfsa commented on #110720
seems yes

[2022-06-24 02:29] wangyysde commented on #110755
Container runtime (CRI) and version ? as if containerd has the same bug. see: https://github.com/containerd/containerd/issues/7076

[2022-06-24 02:40] Ramyak commented on #110726
Yes it fixed the issue. `s.TpPairToMatchNum[pair]`  being `nil` was the problem.
[code]

We are going to roll it out more widely tomorrow.

[code]

[2022-06-24 02:42] mengjiao-liu commented on #110611
Yes, containerd can run docker images.
See the blog [Dockershim Deprecation FAQ](https://kubernetes.io/blog/2020/12/02/dockershim-faq/#will-my-existing-docker-images-still-work) for more details. @ahmetemrebasakcioglu

[2022-06-24 02:49] younaman commented on #110596
@thockin Thanks for your reply! It is a hard choice between flexibility and security :)Besides, please notice the second point I comment: "The information channel leveraged by this flooding attack will exist forever if you need to leverage the kube-proxy to sync endpoints status to other worker nodes no matter how often the interval is?" Perhaps this problem is intrinsic to kube-proxy design and t

[2022-06-24 02:51] #110708 closed

[2022-06-24 03:41] pacoxu commented on #110755
/sig node
/cc @wzshiming

[2022-06-24 03:45] 2014dufu opened #110761 "cronjob failed to update properties"
### What happened?

k8s version: v1.18.20
process：Excuting an order then failed,like this:
![image](https://user-images.githubusercontent.com/9719901/175457414-f839174d-433f-475e-9bf1-ebb1caca69f4.png)
but modify other params is successful,like this:
![image](https://user-images.githubusercontent.com/9719901/175457585-32eb32b3-4651-4a3b-a746-b88d9bf7d396.png)

### What did you expect to happen?

i

[2022-06-24 03:49] pacoxu commented on #110753
`time kubectl --v=6 get node` will show you how many milliseconds does the GET request taken.
[code]
Is there any difference?

[2022-06-24 05:00] harshanarayana commented on #110697
[code]

@alculquicondor  Looks like the 10s bump up you did is not good enough it looks like. I still see flakes in that test that is ongoing. Please take a look at the refactoring PR done to address this behavior when time permits.

[2022-06-24 05:15] vaibhav2107 commented on #108805
/remove-lifecycle stale

[2022-06-24 05:56] cyclinder commented on #90042
Hi guys!

I reproduced this problem with kernel =5.9 and k8s=1.23. Client with same source port can't access to Virtual Server and Real Server at same time in IPVS mode. Please see shown the below:
[code]
the pod "ep" is RS of vip1.
[code]
Then will see the connection is **ESTABLISHED**:
[code]
and new a terminal for client-pod, and access to Real Server with same source port indirectly:
[code]
Wa

[2022-06-24 06:08] chenk008 opened #110763 "Check the Systemd is alive in kubelet"
### What would you like to be added?

If the Systemd is not alive any more, kubelet will failed to create container.

It should mark this node `NotReady`, so the scheduler will not assign Pod to it.

### Why is this needed?

When the Systemd is hung, the kubelet will failed to create container. The logs will like

[code]

And the Pod will keep `ContainerCreating`
[code]

#### Systemd cases:
https:

[2022-06-24 06:09] chenk008 commented on #110763
/sig node

[2022-06-24 06:26] kerthcet commented on #110726
It's still strange since we'll snapshot the nodeList at the beginning of every scheduling cycle, so in theory, we won't miss the `{topology.kubernetes.io/zone us-east-1a}` pair, can you reproduce this with 1.22 or 1.23, 1.19 is out of community support now.

[2022-06-24 06:54] ialidzhikov commented on #109354
/remove-priority critical-urgent
as there is existing workaround.

Keeping this issue open for the 2 action items listed in https://docs.google.com/document/d/17iIoVj3g02U8Pgt4nC7g7sJG-Jd4TvPCpEXZ5e3oCk4/edit#heading=h.5n431nhh830a.

[2022-06-24 07:14] andyzhangx commented on #80488
/remove-lifecycle stale
/reopen

[2022-06-24 07:28] ahmetemrebasakcioglu commented on #110611
After migrated to containerd now, everything works fine, thanks @mengjiao-liu @mohammadkhavari

[2022-06-24 07:36] usersina commented on #89898
On the node where your Pod is running (can be a worker node)
[code]

Source is the ["My pods can't reach the internet" section](https://microk8s.io/docs/troubleshooting).

[2022-06-24 08:08] tossmilestone commented on #110720
The gc worker will be unpaused if the sync process failed, and will retry the sync until it's synced successfully.
https://github.com/kubernetes/kubernetes/blob/34b412535129447f3ce1478fc9334aa7f0a4ee5d/pkg/controller/garbagecollector/garbagecollector.go#L203-L211
@liggitt , I found that you added the retry logic, what's your suggestion to fix the issue?

[2022-06-24 09:37] pacoxu commented on #110761
/kind support
Your hostaliases patch is not with the correct json.

[code]

/remove-kind bug

[2022-06-24 09:41] pacoxu commented on #110761
--patch '{
  "spec": {
      "jobTemplate":{
        "spec": {
           "hostAlias":[xxx]
        }
      }
   }
}'

[2022-06-24 10:25] uablrek commented on #110763
I **never** run K8s in a cluster with systemd, and it works perfectly well. It is not a requirement to start kubelet with systemd and it shoudn't. Please *do not* add checks that assumes that every K8s installation is exactly as yours.

[2022-06-24 10:43] MadhavJivrajani commented on #110734
@harry1064 thanks for posting that!

This is my current plan on a high level:

- Benchmark the function currently as is
  - Either `growSlice` directly or `GetList()` (which is the only function that uses `growSlice`
- See if its possible to switch away from reflection and use append directly
  - Benchmark this variant
 - See if there are considerable differences
   - If there aren't considerable

[2022-06-24 11:00] chenk008 commented on #110763
@uablrek Systemd is chosen as the init system for many Linux distribution, and acts as a cgroup manager. A single cgroup manager simplifies the view of what resources are being allocated and will by default have a more consistent view of the available and in-use resources.

[2022-06-24 11:16] pacoxu commented on #110763
It is something like node health check scope. You may add a optional check in a node monitor（like Node problem detector）in my opinion.

[2022-06-24 11:39] harry1064 commented on #110734
@MadhavJivrajani  thanks for putting out your high-level plan.
Meanwhile, I will checkout your commit to run on my local machine to see the results.

I have another question in mind, currently when we do
[code]
In the else case, when pred is there, shouldn't we pass the `pred.Limit` instead of `len(getResp.Kvs)` if pred.Limit is very smaller than the value of  `len(getResp.Kvs)`, will save unneces

[2022-06-24 12:12] kerthcet commented on #110726
This could happen as below:
1. We have two pods: P1, P2. P1 is the same as P2 except the pod name
2. We have Node1 fit(nodeAffinity and taint tolerations) for both P1 and P2
3. Try to schedule P1, Node1 is resource exhausted, but P1 preempted successfully.
4. We update Node1 with labels not fit for P2 any more, e.g. P2 is configured with `nodeAffinityNotIn` labelA, then I marked nodeA with this la

[2022-06-24 13:28] alculquicondor commented on #110697
The fact that flakiness didn't improve whatsoever made me realize that we missed something #110771

Thanks for your PR, I'll check it soon, but we probably don't want to cherry-pick that.

[2022-06-24 13:36] harshanarayana commented on #110697
oh no! :(  I should have been a bit more careful with that one. Until you mentioned it, I did not even realize that.

[2022-06-24 13:46] rohitsakala commented on #89903
@SergeyKanzhelev is this fixed in v1.23? I know you have mentioned that it is not supported in v1.22 and v1.21.

[2022-06-24 14:16] liggitt commented on #110720
/close

as a duplicate of https://github.com/kubernetes/kubernetes/issues/101078

my recommendation is at https://github.com/kubernetes/kubernetes/issues/101078#issuecomment-975661251 ... the only reason we block until discovered resources have synced is for blockOwnerDeletion, which is already only advisory for most deletions and is already racy

[2022-06-24 14:16] #110720 closed

[2022-06-24 14:16] harshanarayana commented on #110697
Sure.

[2022-06-24 14:29] alculquicondor opened #110773 "Remove pkg/scheduler/util/clock.go"
### What would you like to be added?

We should use k8s.io/utils/clock

### Why is this needed?

/kind cleanup

[2022-06-24 14:29] alculquicondor commented on #110773
/remove-kind feature
/good-first-issue

[2022-06-24 14:29] alculquicondor commented on #110773
/sig scheduling
/triage accepted

[2022-06-24 14:46] harshanarayana commented on #110697
Done.

[2022-06-24 15:16] harry1064 commented on #110773
/assign

[2022-06-24 16:08] tkashem commented on #108344
@tkashem

[2022-06-24 16:19] whereisaaron commented on #39113
Note that the AWS VPC CNI documentation describes a workaround for this issue:

https://github.com/aws/amazon-vpc-cni-k8s#annotate_pod_ip-v193

[2022-06-24 16:22] bowei commented on #39113
Note to future people who are having this issue: you should probably open a new issue instead of recycling this one, as the original bug filed is from 2016 and the cause of the problem is likely something different.

[2022-06-24 16:28] whereisaaron commented on #39113
@bowei although this is a 2016 issue, that AWS VPC CNI 1.9.3 release was only a few months ago (19 Oct 2021) and specifically cited this issue #39113 as the issue it fixed, so it seems likely to me to be directly relevant for peeps coming here?

[2022-06-24 17:08] aojea commented on #108891
/remove-lifecycle stale

I still see this test failing , also in periodic jobs

https://storage.googleapis.com/k8s-triage/index.html?pr=1&test=Pods%20should%20run%20through%20the%20lifecycle%20of%20Pods%20and%20PodStatus

[2022-06-24 17:33] RajrupDasid opened #110778 "Why this thing is so complicated?"
### What happened?

django-kubernetes/ v1"
ensure CRDs are installed first
what is this?
why every time you just change api standards every time
2 years old bug i am facing
google is just there to make things complicated
1.6 k issues no fix available what is going on?

### What did you expect to happen?

need to deploy after applying command kubectl apply -f

### How can we reproduce it (as minima

[2022-06-24 17:36] aojea commented on #103860
/reopen

I still see it :smile: https://github.com/kubernetes/kubernetes/tree/master/pkg/proxy/userspace

kindly ping @jayunit100

[2022-06-24 18:01] aojea commented on #110714
current heuristic is based on cpu per zone, that depends on the nodes and is not parameterizable by users

[code]

if we provide a "weight" annotation on the nodes, users can define those weights, and implement their own heuristics ...

a dirty hack to illustrate what I'm trying to say is

[code]

[2022-06-24 18:08] #110778 closed

[2022-06-24 18:22] robscott commented on #110714
So the original "Auto" mode for topology assumes that the user has not or can not ensure that pods are distributed evenly across zones. I think there is a subset of users that want to be able to say "keep my traffic in the same zone, I'll make sure my workloads are evenly distributed". Fundamentally I think this requires a separate deployment + HPA per zone today. We could either make that a prere

[2022-06-24 19:33] alculquicondor opened #110780 "Flaky TestFeatureExternalTrafficPolicy"
### Which jobs are flaking?

pull-kubernetes-unit

### Which tests are flaking?

TestFeatureExternalTrafficPolicy

### Since when has it been flaking?

June 24th

### Testgrid link

https://storage.googleapis.com/k8s-triage/index.html?pr=1&text=TestFeatureExternalTrafficPolicy&job=pull-kubernetes-unit

### Reason for failure (if possible)

[code]

### Anything else we need to know?

_No response_

[2022-06-24 19:44] jsturtevant commented on #110674
/assign

[2022-06-24 19:54] danwinship commented on #39113
might be related to #85966

[2022-06-24 20:25] daschott commented on #110674
Does the issue remediate itself given enough time? Does kube-proxy eventually realize the desired state, so that you see the expected VIP in the "hnsdiag list loadbalancers" output, or does it never show up, despite waiting?

@adoprog which K8s version were you using?

There are a few known issues with kube-proxy taking long time to reconcile and sync the proxy rules on Windows, see https://github

[2022-06-24 20:40] rbtcollins commented on #39113
@bowei Wearing my skeptic hat, after fighting with this 4 years ago and still seeing it from time to time (different org now, but we track pod bring up latencies as an internal SLO), and theres been no evidence that this has been fixed systematically and has found a new way to the same symptoms: instead, explicitly, this is just bitrotting because no one with enough cycles to tackle it has done so

[2022-06-24 20:50] aojea commented on #39113
I think that the first step is to add a metric, so users can report more accurate information

[2022-06-24 21:30] enj opened #110782 "Missing test coverage for OIDC code"
/sig auth

xref #108794

---

I have been thinking about this change and the associated code, especially in regards to the on-going [quality discussion](https://groups.google.com/a/kubernetes.io/g/dev/c/6F3h0Z1QzVg/m/43tdYs_lAAAJ).

While I think this change is at least partially a move in the right direction, I believe further refactors are required to actually make this code understandable and m

[2022-06-24 21:30] enj commented on #110782
/triage accepted

[2022-06-24 22:00] aojea commented on #39113
I think this is how it goes,

IPs are determined here

https://github.com/kubernetes/kubernetes/blob/11686e138694a67452ce9fe4244ba96982cc545a/pkg/kubelet/kuberuntime/kuberuntime_manager.go#L845-L846

it's being patched here

https://github.com/kubernetes/kubernetes/blob/11686e138694a67452ce9fe4244ba96982cc545a/pkg/kubelet/status/status_manager.go#L684-L685

[2022-06-24 22:05] aojea commented on #39113
@dgrisonnet are you familiar with the metrics on the kubelet?
^^^ this process seems to cross several bounderies on the kubelet logic?
is it possible to have such metric?

[2022-06-24 23:05] #101567 closed

[2022-06-24 23:16] negz commented on #110753
@pacoxu I'll add more details ASAP, but we're confident the slow-down is not in the network (i.e. the many GET requests). Initial profiling indicates it's something to do with writing what is fetched to the discovery cache on disk.

[2022-06-24 23:28] Ramyak commented on #110726
No. I only have 1.19 running in prod..

[2022-06-25 00:22] yuanchen8911 opened #110783 "kube-scheduler: improve FailedScheduling message for PreFilter plugin"
### What would you like to be added?

**Problem**
`kube-scheduler` assigns the same status to all nodes when a `PreFilter` plugin returns error.https://github.com/kubernetes/kubernetes/blob/11686e138694a67452ce9fe4244ba96982cc545a/pkg/scheduler/schedule_one.go#L380

 The resulted `FailedScheduling` event message can be confusing. For example, when `InterPodAffinity` plugin's `PreFilter` fails to l

[2022-06-25 00:23] yuanchen8911 commented on #110783
/sig Scheduling

[2022-06-25 00:23] yuanchen8911 commented on #110783
/cc @Huang-Wei

[2022-06-25 05:26] sachinrastogi12 commented on #110514
hello there, im new to open source. i don't know how to contribute. can anyone hep me please?

[2022-06-25 05:32] #110773 closed

[2022-06-25 09:32] kerthcet commented on #110726
It doesn't matter, it's actually a bug I think.

[2022-06-25 11:15] #85330 closed

[2022-06-25 12:08] mseiwald commented on #110659
@caseydavenport Yes I can reach `10.150.9.80:6443` directly from all nodes (master and worker).

[2022-06-25 12:27] haorenfsa commented on #101078
Is there any ongoing work for this?

[2022-06-25 12:45] rg2609 opened #110786 "MountVolume.SetUp failed for volume "deployer-conf" : object "default"/"crunchydata-dravoka-postgres-operator-cm" not registered"
### What happened?

Hi,
I am trying to install the helm chart v4.7.5, but it is giving an error MountVolume.SetUp failed for value
[code]
Values.yaml:
[code]

### What did you expect to happen?

It should install the pgo

### How can we reproduce it (as minimally and precisely as possible)?

install this [https://github.com/CrunchyData/postgres-operator/tree/v4.7.5/installers/helm]( https://github

[2022-06-25 12:50] rg2609 commented on #110786
also tried steps from [here](https://www.crunchydata.com/developers/download-postgres/containers/postgres-operator)
[code]
but this also giving en error

[code]

[2022-06-25 13:47] chenk008 commented on #110763
@pacoxu How about checking `systemd` component in https://github.com/kubernetes/node-problem-detector/tree/master/pkg/healthchecker ?

[2022-06-25 14:30] QiuToo opened #110787 "error retrieving resource lock kube-system/kube-controller-manager: the server rejected our request for an unknown reason /triage accepted"
[root@two-master ~]# journalctl  -xeu kube-controller-manager  | tail  -10
6月 25 22:29:55 two-master kube-controller-manager[1823]: E0625 22:29:55.127157    1823 leaderelection.go:325] error retrieving resource lock kube-system/kube-controller-manager: the server rejected our request for an unknown reason (get leases.coordination.k8s.io kube-controller-manager)
6月 25 22:29:57 two-master kube-contr

[2022-06-25 14:30] jeromeinsf commented on #96218
/remove-lifecycle rotten

[2022-06-25 17:14] liggitt commented on #110786
this looks like the same issue as https://github.com/kubernetes/kubernetes/issues/105204#issuecomment-1104427967, resolved in 1.22.9+ and 1.23.6+, and 1.24+

[2022-06-25 17:14] #110786 closed

[2022-06-25 17:31] liggitt commented on #101078
None that I know of. At first glance, removing the requirement that all informers be fully synced before GC starts/resumes seems reasonable to me, and would resolve this issue.

[2022-06-25 19:15] #104709 closed

[2022-06-25 19:15] #107396 closed

[2022-06-25 20:16] #107671 closed

[2022-06-25 22:18] sftim commented on #110667
Docs updates in https://github.com/kubernetes/website/pull/34546

[2022-06-25 22:18] sftim commented on #110667
/kind documentation
/sig docs
/triage accepted

[2022-06-25 22:19] sftim commented on #110667
OK to close this?

[2022-06-25 23:22] sftim commented on #110789
/remove-kind support
/sig node

[2022-06-25 23:33] sftim commented on #110753
Watch out for anything where writes trigger `fsync()`: there was an issue on macOS where the only way for an app to be confident that a write had completed was to trigger a whole-filesystem sync. Libraries that like data integrity opted for the slower-but-effective approach. I've stopped using macOS so this hint is from a while back, but it might relevant.

[2022-06-25 23:35] sftim commented on #110678
/kind support
/remove-sig auth
/remove-kind failing-test

/retitle Request for help troubleshooting failed container image pull

[2022-06-25 23:45] sftim opened #110790 "Changelog entry for PodSecurity GA not accurate"
### What happened?

https://github.com/kubernetes/kubernetes/pull/110459 merged with an inaccurate changelog entry. I think.

/sig auth

### What did you expect to happen?

Clear and accurate information about PodSecurity graduating to GA

### How can we reproduce it (as minimally and precisely as possible)?

View the v1.25 draft changelog.

### Anything else we need to know?

See https://github.c

[2022-06-25 23:46] sftim commented on #110790
Resolved: https://github.com/kubernetes/kubernetes/pull/110459#issuecomment-1166379675

[2022-06-25 23:47] sftim commented on #110790
/close

[2022-06-25 23:47] #110790 closed

[2022-06-26 04:35] shettyg commented on #110674
It does not get fixed (in our case, the problem persisted for 2 days).

[2022-06-26 05:19] danibaeyens commented on #85966
This issue is also creating some undesired effects on other projects like linkerd2 (i.e., https://github.com/linkerd/linkerd2/discussions/8458) when using calico for network policies, as it blocks the startup of some pods.

linkerd2 on its latest version has added a `postStart` to ensure that the proxy container is ready before accepting traffic, but it cannot get ready because it's waiting the `p

[2022-06-26 08:26] #105750 closed

[2022-06-26 12:38] jsoref commented on #108993
/remove-lifecycle stale

Personally, I'd rather only list changes that are effective between the previous release and the new release, but if your changelog will include stuff that isn't in the release, then, yes, you should include a note to make it clear that users shouldn't read the changelog in that manner.

[2022-06-26 13:09] fengpengyun opened #110793 "New takes precedence over old"
### What happened?

[source of the issue](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/resourcequota/resource_quota_controller.go)
[code]

### What did you expect to happen?

New takes precedence over old

### How can we reproduce it (as minimally and precisely as possible)?

[source of the issue](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/resourcequ

[2022-06-26 13:37] abheist commented on #26944
Any fixes, seems like, I'm running commands, not in the correct order.

I updated `env-config` and deleted `deployment` and `pods` and all the `services` and created again with `apply`, still not picking new `configs`

[2022-06-26 15:28] fanglijun commented on #99321
why  `k8s.gcr.io/coredns/coredns:v1.8.0` instead of `k8s.gcr.io/coredns:v1.8.0` ?

this is causing problem when use kubeadm to pull images with custom proxy

see [CoreDNS image cannot be pulled when use --image-repository](https://github.com/kubernetes/kubeadm/issues/2714)

[2022-06-26 15:30] #89178 closed

[2022-06-26 16:35] command-tab commented on #47202
Not stale

[2022-06-26 16:49] jsalatiel commented on #47202
/remove-lifecycle stale

[2022-06-26 16:59] harry1064 commented on #110750
hi @liggitt  @pohly

I have found that on `Version` points to `v1beta1`
https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/staging/src/k8s.io/apiserver/pkg/endpoints/installer.go#L203

but here the `versioner` points to `v1`
https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/staging/src/k8s.io/apiserver/pkg/endpoints/installer

[2022-06-26 18:04] ialidzhikov opened #110795 "apiserver: Make the default scheduler name configurable"
### What would you like to be added?

From https://kubernetes.io/docs/reference/scheduling/config/#multiple-profiles:

https://github.com/kubernetes/kubernetes/blob/f4abde9e57cc30efcc8f79c9ebd791d15f4164c4/pkg/apis/core/v1/defaults.go#L205-L207

Currently when you configure multiple scheduling profiles and you cannot change cluster-wide the default scheduler name.

You have to implement a custom m

[2022-06-26 18:05] ialidzhikov commented on #110795
/sig scheduling

[2022-06-26 18:06] davidmacias opened #110796 "Remove Jordan Liggitt"
This person does not belong in any position of authority: https://twitter.com/liggitt/status/1540737518303207424?s=21&t=cJ50apzpBZrLTQTQj4NAhA

[2022-06-26 19:31] #107818 closed

[2022-06-26 20:35] sftim commented on #47202
We could close this in favor of [KEP 3140](https://github.com/kubernetes/enhancements/issues/3140).

[2022-06-27 01:00] zhiweiv commented on #110674
We encounter this frequently, I run **hnsdiag list loadbalancers** every minutes with Host Process Container on each Windows node. When issue happen, the load balancer count dropped to 1 and recover slowly, it took about 2 days to recover right count. You can find more logs in
[hns.txt](https://github.com/kubernetes/kubernetes/files/8987894/hns.txt)

06-06 02:57 - loadbalancers: 577
06-06 02:58 -

[2022-06-27 01:10] zhiweiv commented on #110674
Restart kubeproxy will fix this, I now use script to fix it with Host Process Container as workaround.
[code]

[2022-06-27 01:24] Riaankl opened #110797 "Write Event Lifecycle Test +1 Endpoint"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow : [replaceCoreV1NamespacedEventTest.org](https://github.com/apisnoop/ticket-writing/blob/master/replaceCoreV1NamespacedEventTest.org)
-   [X] test approval issue : #110797
-   [X] test pr : #110798
-   [X] two weeks soak start date : 1 Jul 2022 [testgrid-link](https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-default&width=5

[2022-06-27 01:31] Riaankl commented on #110797
/triage accepted

[2022-06-27 01:35] negz commented on #110753
Thanks for the tip @sftim!

The issue definitely seems to be in the `*disk.CachedDiscoveryClient`. When I apply the diff below to switch over to a `*memory.memCacheClient` the slowness disappears and MacOS performance matches that of Linux - about a second for `kubectl get nodes` to perform discovery:

[code]

[code]

[2022-06-27 04:32] #107243 closed

[2022-06-27 06:00] rg2609 commented on #110786
I took the takes of 1.24.2 but still it failed

[2022-06-27 06:15] pacoxu commented on #110753
It seems to be a problem that would occur only once when establishing the `~/.kube/cache`.

@sftim  Should we add it to known issues?

Some explain about fsync in MacOs in https://twitter.com/marcan42/status/1494213862970707969

[2022-06-27 06:25] pacoxu commented on #109521
[ingress-gce-e2e](https://testgrid.k8s.io/sig-network-ingress-gce-e2e#ingress-gce-e2e) is fixed in https://github.com/kubernetes/kubernetes/issues/106402 by https://github.com/kubernetes/test-infra/pull/24379.

[2022-06-27 06:46] mborsz commented on #102361
/reopen

[2022-06-27 06:54] Shubham82 commented on #110348
Hi, @enj
if it seems good then I'm up for it.

[2022-06-27 07:07] unmarshall commented on #110714
In our setup we leverage VPA recommendations to scale up etcd pods if there is a larger load originating from a specific zone. Having a multi-node setup along with PDB ensures that we do not lose quorum. In a nutshell auto-adjusting (adding/removing) hints based on changing CPU ratios would serve a few use cases but will also not be ideal (in our case very non-deterministic) for other cases. There

[2022-06-27 07:28] wzshiming commented on #110755
It looks like Kubelet didn't have enough time to report the Pod status to APIServer.

[2022-06-27 07:41] wzshiming commented on #110755
I tried, when Pod graceful shutdown time and node graceful shutdown time is the same, and Pod is not closed, Kubelet does not have enough time to report Pod status

[2022-06-27 08:07] fengpengyun commented on #110793
triage/accepted

[2022-06-27 08:09] MadhavJivrajani commented on #102361
/remove-lifecycle rotten

[2022-06-27 08:11] sftim commented on #110793
/sig api-machinery

[2022-06-27 08:15] sftim commented on #110714
@unmarshall the use case you have doesn't seem to overlap closely with the use cases for [Topology Aware Hints](https://kubernetes.io/docs/concepts/services-networking/topology-aware-hints/) to Services.

You might be better served by not setting `service.kubernetes.io/topology-aware-hints` to `auto` and then using a custom controller to achieve the outcome you want.

Kubefolks, is that supported?

[2022-06-27 08:34] #105395 closed

[2022-06-27 08:37] haorenfsa commented on #101078
OK, I'll try to work out a patch

[2022-06-27 09:34] 2014dufu commented on #110761
For json format problems, it is recommended to give relevant tips instead of no change

[2022-06-27 09:40] ChenJhua opened #110806 "hostPath not mount Volume"
### What happened?
[code]
[code]
### What did you expect to happen?

ttach or mount volumes success

### How can we reproduce it (as minimally and precisely as possible)?
[code]
### Anything else we need to know?

not

### Kubernetes version

<details>

[code]
Client Version: version.Info{Major:"1", Minor:"23", GitVersion:"v1.23.0", GitCommit:"ab69524f795c42094a6630298ff53f3c3ebab7f4", GitTreeStat

[2022-06-27 10:31] sftim commented on #110753
Hi, I have no strong opinion here.

[2022-06-27 10:33] sftim commented on #17333
Should we open a KEP / start a pre-KEP discussion about this change?

[2022-06-27 10:34] sftim commented on #22061
Is this issue still one we'd want to track and work on?

[2022-06-27 10:35] sftim commented on #30051
/retitle Add support for custom stop signal to send to containers

[2022-06-27 10:42] ChenJhua commented on #110806
/wg [Reliability](https://github.com/kubernetes/community/blob/master/wg-reliability/README.md)
/sig [Storage](https://github.com/kubernetes/community/blob/master/sig-storage/README.md)
/sig [Usability](https://github.com/kubernetes/community/blob/master/sig-usability/README.md)
triage/accepted

[2022-06-27 10:44] ChenJhua commented on #110806
/sig [Storage](https://github.com/kubernetes/community/blob/master/sig-storage/README.md)

[2022-06-27 10:45] ChenJhua commented on #110806
/sig storage

[2022-06-27 10:46] ChenJhua commented on #110806
/triage accepted
/sig usability
/wg reliability

[2022-06-27 11:33] malikdraz commented on #110806
Please provide the followings logs for the duration of this error:

- kubelet
- kube-controller-manager

Please also confirm if this is a self-managed cluster or a cloud-managed one? Does this directory exist on the nodes /var/lib/rook/rook-ceph/log?

[2022-06-27 11:38] minhpq-vbee commented on #66450
I faced same issue after added namespace. Still no update/fix until now?

[2022-06-27 11:41] ChenJhua commented on #110806
kubelet
[code]

controller
[code]
master02
[code]
master03
[code]
ceph-log. volume `sda sdb`
[code]

[2022-06-27 11:42] ChenJhua commented on #110806
[code]

[2022-06-27 11:57] oliviermichaelis commented on #108354
/remove-lifecycle stale

[2022-06-27 12:01] enj commented on #110348
There is no bug here.  The existing code is correct, even if it's not the most elegant.

/close

[2022-06-27 12:36] SISheogorath commented on #106957
Out of curiosity, why does this work?

/cc @haircommander

[2022-06-27 12:38] ChenJhua commented on #110158
Hi, how did you solve it? I also encountered this problem

[2022-06-27 12:54] harry1064 commented on #110780
Hi @alculquicondor

I was debugging this flaky test case. Locally all the test cases pass.

So, while debugging I come to realize that `PortAllocator`'s `portRange`
![Screenshot 2022-06-27 at 8 45 03 PM](https://user-images.githubusercontent.com/6297435/175944758-fe2d5334-5a99-411c-8f80-c82abee95d5a.png)

Is it possible, that on line below during nodePort allocation we get `offset` and hence 30000

[2022-06-27 13:11] STYNET opened #110817 "unmount volume with patch"
Hello,

I have pached a deployment for mount a new volume.
This my patch :
[code]

It work and now i have 3 volumes (2 old and 1 new).
This my deployment's describe :
[code]

For example, I need to unmounted rep2 (and remove pvc2) with a patch.
How do make this ?

Thank for your help.

[2022-06-27 13:58] haircommander commented on #106957
This would work for OKD, but wouldn't be supported for OCP OOTB. https://github.com/kubernetes/kubernetes/pull/108855 should fix, but it needs a reviewer/approver...

Fun kubernetes fact! The CRI-O team found performance issues with the CRI stats provider, so there's a hardcoded check to see if the socket is `/var/run/crio/crio.sock` [here](https://github.com/kubernetes/kubernetes/blob/1f041cc/pkg

[2022-06-27 14:10] aojea commented on #110780
The nodeport allocation happens here and handls the duplicate allocation
https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/pkg/registry/core/service/storage/alloc.go#L451-L484

checking at the job failure I can see that there are connectivity errors with the backend

the test needs an etcd storage https://github.com/kubernetes/kubernetes/blob/bdbf2c6ef43f184056

[2022-06-27 14:15] perosb commented on #110674
Yes, got the same that loadbalancers dropped down from ~100 to 12 and network started failing.
`restart-service kubeproxy` resolved it.

The error got triggered during a deploy that updated 30+ pods.

[2022-06-27 14:36] harry1064 commented on #110780
Hi @aojea

I am not sure but when I forced `start` to be 0 as `rss.rand.Intn(subrangeMax)` can return [0, subrangeMax), I can reproduce the same error When we are just creating a service as NodePort allocation happens before HealthCheckPort allocation in the `kubernetes/pkg/registry/core/service/storage/alloc.go`

https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a

[2022-06-27 14:45] vincepri opened #110810 "Add a context to DiscoveryClient functions and interfaces"
### What would you like to be added?

A lot of DiscoveryClient code makes use of `context.TODO()` and makes network calls through a rest client to retrieve the information needed during discovery, see https://github.com/kubernetes/kubernetes/blob/f4abde9e57cc30efcc8f79c9ebd791d15f4164c4/staging/src/k8s.io/client-go/discovery/discovery_client.go

### Why is this needed?

- To make use of timeouts.

[2022-06-27 14:46] vincepri commented on #110810
The above could be achieved in a number of ways, via a breaking change to the current APIs/interfaces, or by adding new companion "WithContext" methods/interfaces that would satisfy the same.

/sig api-machinery

[2022-06-27 14:49] #106710 closed

[2022-06-27 14:57] ahg-g commented on #109712
I guess you mean to transfer the retry count for each index to the new pod instance of the index each time it is recreated? that sounds like a reasonable option indeed.

[2022-06-27 15:04] ahg-g commented on #109712
Ultimately it is about finding a use case that each of those modes can support; The first one is indeed the most common: the use case here is that each index represent a separate "job" (processing image frames for example). Not totally sure about the others.

[2022-06-27 15:10] Michael-Sinz commented on #93474
/remove-lifecycle stale

[2022-06-27 15:28] opg7371 opened #110814 "UDP packet does not get distributed due to ipvsadm timeout."
### What happened?

We have a couple of real server and a proxy server which are a part of the kubernetes cluster. These real servers are exposed through a **ClusterIP service** <IP:Port>. The mode of the **kube-proxy is IPVS** and the **scheduler is rr** (round robin).

The proxy server is binded to a particular IP and a port say, 20.10.10.10 and port 5060. The proxy server then sends the UDP pac

[2022-06-27 15:49] dgrisonnet commented on #108330
Closing since now that the metrics is stable we aren't able to change its name anymore.

[2022-06-27 15:49] #108330 closed

[2022-06-27 15:50] lavalamp commented on #17333
We should close this as it will never happen.

[2022-06-27 15:51] aojea opened #110815 "Kubelet metric: time to update pod.Status.PodIP"
Original issue: [Kubelet takes long time to update Pod.Status.PodIP](https://github.com/kubernetes/kubernetes/issues/39113#)

In order to have a better idea of the problem and being able to understand situations when this is happening, we should have a metric that measure the time since kubelet get the podIPs to the time those are updated in the pod.Status

I think this is how it goes,

IPs are de

[2022-06-27 15:51] aojea commented on #110815
/sig node
/sig network
/sig instrumentation

[2022-06-27 16:05] zwpaper commented on #86753
how about rewriting this even further to use go 1.18 generics?

[2022-06-27 16:15] LiuNingqian opened #110816 "Node status is still updated every 10s(nodeStatusUpdateFrequency) after enabling feature NodeLease"
### What happened?

After enabling feature gate NodeLease in kubelet, apiserver and controller-manager, namespace kube-node-lease is created and API resource lease related to each node behave normally. However, I find that field node.status is also updated every 10s(nodeStatusUpdateFrequency).

Related source code: https://github.com/kubernetes/kubernetes/blob/721bfa751924da8d1680787490c54b9179b1f

[2022-06-27 16:25] apelisse commented on #26944
Can you reproduce the steps with a minimal example, the commands that you run and how the yaml looks like after?

[2022-06-27 16:57] Antiarchitect commented on #81042
/reopen
/remove-lifecycle rotten

[2022-06-27 17:03] opg7371 commented on #110814
/sig network

[2022-06-27 17:10] aojea commented on #110814
If this is the IPVS behavior , then you should open a bug in the kernel bugzilla https://bugzilla.kernel.org/

[2022-06-27 17:14] aojea commented on #110780
can you explain in more details what are the steps you are doing for reproducing the issue=

[2022-06-27 17:16] tallclair commented on #100460
That's a question for @justaugustus or @puerco

[2022-06-27 17:22] opg7371 commented on #110814
@aojea Thanks for fast reply.
I wanted to know that how are other applications running in kubernetes binded to a particular ip:port deals with UDP packet so that it is distributed in the round robin fashion.
Do you have any idea with respect to this.

I will open a bug in kernel bugzilla, thanks for suggesting.

[2022-06-27 17:23] Huang-Wei commented on #93591
/remove-lifecycle stale

[2022-06-27 17:25] Huang-Wei commented on #93591
/triage accepted

[2022-06-27 17:33] adoprog commented on #110674
We're on v1.23.5

[2022-06-27 17:39] aojea commented on #110814
same src_port:src_ip will always be directed to the same backend, they will be considered part of the same session.
Use a different source port, that will work , no?

[2022-06-27 17:39] #107560 closed

[2022-06-27 17:55] Huang-Wei commented on #110783
Makes sense to me. The comments also suggested for further refactoring:

https://github.com/kubernetes/kubernetes/blob/10810ab42bc8acde6732feae545aa34a09ecd299/pkg/scheduler/schedule_one.go#L380-L384

Regarding the solution, instead of directly manipulating `NodeToStatusMap`, I'd prefer to come up with an explicit wrapper function to set/get failure reason for a given hostname:

[code]

[2022-06-27 17:56] Huang-Wei commented on #110783
Cc @ahg-g for ideas who commented on the "non trivial refactoring" stanza.

[2022-06-27 18:21] harry1064 commented on #110780
hi @aojea

After following line
https://github.com/kubernetes/kubernetes/blob/f4abde9e57cc30efcc8f79c9ebd791d15f4164c4/pkg/registry/core/service/allocator/bitmap.go#L244

I add another line
[code]
to create scenario, in which the `0` offset will be returned by this function and hence we mark the first port number in our portRange as allocated i.e 30000 in our case.

What will happened now is if He

[2022-06-27 18:51] negz commented on #110753
You're right, and this happens every 6 hours in the latest versions of kubectl when the cache is invalidated. It's still not an ideal user experience though - you can imagine kubectl 'hanging' for 10-20 seconds the first time you used it each day.

[2022-06-27 20:43] isibeni commented on #109712
Yes.

I guess it get's interesting when the user sets the restartPolicy to `OnFailure`. IIRC the job controller currently also checks if the restartCount of the containers are exceeding the backOffLimit. If we also want to do that here the implementation gets tricky

[2022-06-27 22:58] twmb commented on #79384
Would it be possible to provide `vinternal` packages corresponding to paths such as `k8s.io/kubernetes/pkg/apis/admissionregistration`? Or better, provide an alternative to `k8s.io/kubernetes/pkg/apis/admissionregistration/install` / the legacyscheme?

Anything that converts types through internal types with apimachinery is required to import `k8s.io/kubernetes` and add the replace directives abov

[2022-06-27 23:29] apelisse commented on #110753
Also note that this should fix a lot of that problem: https://github.com/kubernetes/enhancements/pull/3364

[2022-06-27 23:43] apelisse commented on #110753
has anyone been able to profile kubectl to see what it's doing?

[2022-06-27 23:51] apelisse commented on #110753
Also note that your CPU is mostly doing nothing, so it's most likely stuck on IO

[2022-06-28 00:13] Riaankl commented on #108499
/reopen

[2022-06-28 00:52] negz commented on #110753
I think @sftim is correct - my bet is we're blocking on `f.Sync`, which per https://github.com/golang/go/issues/26650 uses `F_FULLFSYNC` on MacOS. Per [`man fnctl` on MacOS](https://developer.apple.com/library/archive/documentation/System/Conceptual/ManPages_iPhoneOS/man2/fcntl.2.html#//apple_ref/doc/man/2/fcntl):

The attached mutex profile shows a lot of time waiting for `sync.Unlock` inside [`d

[2022-06-28 01:38] 249043822 commented on #110750
/assign

[2022-06-28 02:02] uesyn commented on #109777
We are in trouble for this problem too.
I think It’s exactly as @mborsz said. Lease objects has a special update endpoints. If it receives request with a lease object which has non-nil UID field and it is not found, **returns a conflict error**.
This situation can be occured in the [retryUpdateLease](https://github.com/kubernetes/kubernetes/blob/6ed938fc8f3a9d99e5e0347c57055678891739a4/staging/src

[2022-06-28 02:44] negz commented on #110753
How do folks feel about not explicitly calling `Sync` for each file in the HTTP cache? Given that it is indeed only a cache I lean toward optimizing for write performance rather than data safety.

If we did want to stop calling `Sync` it seems like the best option would be to update the `diskcache` package of https://github.com/gregjones/httpcache that we use today to make whether it calls `diskv.

[2022-06-28 02:49] liggitt commented on #110753
I don't care a ton if we drop a cache file coherently. I care a lot if a write fails in a way that leaves a partially written file in a way that pollutes the cache and makes the user have to delete the file from the cache manually.

I don't know which of those we're opening ourselves up to by writing without sync. Can we find out?

[2022-06-28 02:59] negz commented on #110753
@liggitt Presuming we do find that not fsyncing leaves the cache in a broken state (as opposed to a partial state) would falling back to invaliding the cache and recreating it be acceptable?

[2022-06-28 04:01] wuzhuoquan opened #110818 "Can't not umount nfs subpath and the pod stack in Terminating status"
### What happened?

My deployment mount the nfs volume and use subpath to mount the different path in the container.
The mount Setting like this
[code]
But when I delete the pod, the pod will stack in Terminating status.
In the kubelet log, I found the error
[code]

according to the umount code，the unmount function  ```mounter.Unmount(mountPath)```  returns nil
[code]

### What did you expect to h

[2022-06-28 05:01] 249043822 commented on #110750
The problem reported by this issue should not exist, on apiserver startup, we can get the right overrided version v1beta1 for the csistoragecapacities from ` storageVersionProvider.StorageVersion() `, since the code below overrided the storage version
https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/pkg/kubeapiserver/default_storage_factory_builder.go#L60-L67

[2022-06-28 05:49] LiuNingqian commented on #110816
/sig node

[2022-06-28 05:53] LiuNingqian commented on #110816
/sig cluster-lifecycle

[2022-06-28 05:54] LiuNingqian commented on #110816
/sig scalability

[2022-06-28 05:56] Kartik494 commented on #110818
/sig storage

[2022-06-28 05:58] colin-arnott-xero opened #110821 "client library module versioning"
If I am developing an internal tool that only imports `k8s.io/client-go/...` and only runs on a cluster that I control, I can trivially pick the exact kubernetes version that I am running, `go get k8s.io/client-go@v0.X.Y` and be happy.

Per [KEP 917](https://github.com/kubernetes/enhancements/blob/master/keps/sig-architecture/917-go-modules), "consumers are limited to a single copy of kubernetes l

[2022-06-28 06:04] harry1064 commented on #110780
/assign

[2022-06-28 06:18] agupta-66 commented on #88873
@archi13 Could you share the complete working HPA code

[2022-06-28 06:46] denkensk commented on #108931
/remove-lifecycle stale

[2022-06-28 07:20] negz commented on #110753
Little more insight at https://mjtsai.com/blog/2022/02/17/apple-ssd-benchmarks-and-f_fullsync/ and https://developer.apple.com/documentation/xcode/reducing-disk-writes. Notably the second link mentions:

[2022-06-28 07:31] unmarshall commented on #110714
@sftim The intention of this feature has quite an overlap with what we look for, however the issue is with the implementation choice (algorithm) used to eventually distribute traffic. Therefore what we ask here is to provide a cheaper/simpler option where CPU ratios are bypassed.

[2022-06-28 08:39] aojea commented on #110714
I agree with Tim here, this seems a very specific use case, and I don't know if is really optimum, since despite you connect to the closes etcd, all the etcd nodes has to sync its information, so every write has to be propagated to the whole cluster, the more etcd nodes the worse write performance you have
https://etcd.io/docs/v3.5/faq/#what-is-maximum-cluster-size

[2022-06-28 08:44] gnoam opened #110828 "[Failing test] capz-windows-containerd-master"
### Which jobs are flaking?

[capz-windows-containerd-master](https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master)

### Which tests are flaking?

`capz-e2e.Conformance Tests conformance-tests`:
* `ci-kubernetes-e2e-capz-master-containerd-windows.Overall`
* `Services should serve multiport endpoints from pods`

### Since when has it been flaking?

Jun 20 06:29 UTC

#

[2022-06-28 08:44] aojea commented on #110780
@thockin I vaguely remember we discussed this, but I can't find the conversation.

Do we need to consider the specified healthcheck nodeports on the `initNodePorts` function? it seems we are not doing it now

[2022-06-28 08:56] unmarshall commented on #110714
@aojea I gave an example of etcd because that is the current case. However, this is a very generic case for any service which is deployed across zones. Once you have several node groups and cluster autoscaler in the mix then the CPU ratios can dynamically change.

Yes this very well known. We currently provide etcd in non-HA and HA modes and we have fixed the size to a max of 3 members as that is

[2022-06-28 09:02] harry1064 commented on #110780
Hi @aojea

Should we change the order of these two if statements? (i.e allocating HealthCheckNodePort first if specified )
https://github.com/kubernetes/kubernetes/blob/035f22d7810a8970e42d60f276f71a519b174a44/pkg/registry/core/service/storage/alloc.go#L468-L482

[2022-06-28 09:07] 249043822 commented on #110816
Hi,  this probem has been fixed in v1.16 by this PR:https://github.com/kubernetes/kubernetes/pull/79578, since your kube version v1.13 has not been maintained again, you can merge this pr to your private branch

/close

[2022-06-28 09:07] #110816 closed

[2022-06-28 09:14] aojea commented on #110714
ic, I've got lost on the details , sorry

[2022-06-28 09:22] aojea commented on #110780
you'll have the same problem if instead of specifying the HealthCheckNodePort you specify the NodePort

[2022-06-28 09:45] negz commented on #110753
I dug into this a bit - dumping state here before I sign off for the day.

First, note that the `kubectl` discovery client uses two layers of cache - a "discovery cache" and an "HTTP cache". The former appears to be backed by the latter. My `git blame`-fu is not strong enough to figure out why we do this. The best I could find is [this commit](https://github.com/kubernetes/kubernetes/pull/63550/co

[2022-06-28 10:06] adelina-t commented on #51540
Some PRs concerning this:
* https://github.com/kubernetes/test-infra/pull/26695
* https://github.com/kubernetes-sigs/windows-testing/pull/325

[2022-06-28 10:07] harry1064 commented on #110780
Yes, you are right. We need to consider checking for HealthCheckNodePort in `initNodePorts ` function. Problem I see, we need to somehow pre notify `nodePortOp` to not allocate `HealthCheckNodePort` specified because incase of `AllocateNext` method call on `nodePortOp` will already mark the nodePort returned as allocated.

[2022-06-28 10:09] es1o opened #110832 "Problem with mount emptyDir volume"
### What happened?

I have a deployment with emptyDir volume:
[code]

When I start my deployment pod started, when I scale my deployment up, eg. to 10 replicas all replicas started.
When I scale down to 1 and want start again to 10 new deployments fails with error:

[code]

I use 1.20.15 from AWS EKS.

### What did you expect to happen?

I'd like to be able scale deployment up and down.

### How c

[2022-06-28 10:14] aojea commented on #110780
basically you need to know which ports were specified before start allocating to avoid conflicts, it is a complex logic due to all the permutations

[2022-06-28 10:19] harry1064 commented on #110780
Okay. Let me think about the approach and I will share here before starting actual implementation.

[2022-06-28 10:30] es1o commented on #110832
/sig storage

[2022-06-28 10:45] LiuNingqian commented on #110816
Okay, thank you so much.

[2022-06-28 10:52] dwertent commented on #103498
Can this effect microservices/tools connecting directly to the `client-go` api?

e.g. I have a function as follows
[code]

[2022-06-28 11:14] amshankaran commented on #109531
@bobbypage in 1.24.1 when I do systemctl poweroff on the worker with shutdownGracePeriod:60s, shutdownGracePeriodCriticalPods:20s,   --terminated-pod-gc-threshold: 1

I could see few deployment pods are in Terminating status, few deployment pods got Terminated and garbage collected.
In the Second iteration I could all the daemonset pods were continuous to be in Running status

I'm not getting cons

[2022-06-28 11:28] zqzten commented on #110620
/sig api-machinery
/remove-sig apps

This behavior is [by design](https://github.com/kubernetes/kubernetes/pull/48986), you can check the link for detailed explanation.

[2022-06-28 11:31] unmarshall commented on #110714
CA scales nodes in a node group based on the [expander](https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#what-are-expanders) that is configured. So which node group it chooses to scale depends on the strategy for bin-packing which is partially achieved via expanders. This eventually has a potential for creating different in CPU ratios which are greater than the curren

[2022-06-28 11:33] zqzten commented on #110620
/sig apps
/remove-sig api-machinery

[2022-06-28 11:37] #104012 closed

[2022-06-28 11:54] sftim commented on #110753
For either of these caches, there are techniques (checksums and the like) where we can allow the app to see whether or not it is looking at a coherent cache document or something that might not be correct.

Whenever a cache entry doesn't look valid, the code can asset that the date is current and the entry checksum is OK. If the entry turns out to be invalid or stale, remove it and then act as if

[2022-06-28 12:22] Dingshujie commented on #104459
/cc

[2022-06-28 12:25] oldthreefeng commented on #68737
any news?   This is a very needed feature。

[2022-06-28 13:13] luisdavim opened #110835 "Set Sticky bit for `emptyDir` folders"
### What would you like to be added?

It would be nice that the `emptyDir` volumes would use the Sticky bit attribute. So `1777` instead of `0777`.
Alternatively, we could allow the `FileMode` to be set by the user and default to the current `0777`.

### Why is this needed?

One reason is that some security scanners highlight the `emptyDir` permissions as an issue.
Another, maybe a bit more specif

[2022-06-28 13:14] luisdavim commented on #110835
/sig storage

[2022-06-28 13:18] luisdavim commented on #110835
BTW, this has been brought up in some old issues before like https://github.com/kubernetes/kubernetes/issues/76158 and https://github.com/awslabs/amazon-eks-ami/issues/846.
You can read about the Ruby issue I've mentioned in https://stackoverflow.com/questions/21117878/ruby-could-not-find-a-temporary-directory/31182540#31182540

And I can open a PR to address this if you think my proposal is reaso

[2022-06-28 13:20] archi13 commented on #88873
@agupta-66
In the Prometheus adapter config (values.yaml)

[code]

1. this is promQL query that tells which metrics are we exporting.
if this works the metric will appear here:
`$ kubectl get --raw "/apis/external.metrics.k8s.io/v1beta1"`
[code]
2. this will take the `namespace` from the request and match it with the `namespace` label in the metric (if such label exists)
3. here you can transform

[2022-06-28 13:37] weilaaa commented on #110810
Can I have a try by breaking change?

[2022-06-28 13:44] ahg-g commented on #108931
I think it is worth doing this -> "A simple idea, can we order the failure reasons according to the reverse order of pre-filter or filter execution?"

[2022-06-28 14:05] ahg-g commented on #110783
Introducing special meaning to entries in `NodeToStatusMap` seems dangerous; another option is to add a `PreFilterMsg` to Diagnosis just like we have for PostFilter; wdyt?

[2022-06-28 14:17] shaoqin2 opened #110836 "kube-scheduler startup informer cache race condition"
### What happened?

On startup, kube-scheduler tries to [add already scheduled pod to its internal cache](https://github.com/kubernetes/kubernetes/blob/5824e3251d294d324320db85bf63a53eb0767af2/pkg/scheduler/eventhandlers.go#L180-L193). This code is invoked as part of informer's [resource handlers here](https://github.com/kubernetes/kubernetes/blob/v1.22.11/pkg/scheduler/eventhandlers.go#L296). How

[2022-06-28 14:21] shaoqin2 commented on #110836
/sig: scheduling

[2022-06-28 15:59] mikemorris commented on #110605
As a potential shorter-term solution, Gateway API is using a version of `echoserver` that does support arm64 https://github.com/kubernetes-sigs/gateway-api/blob/a66a5d3c0704530b8cd8ceee54fd02d4bd52fba8/conformance/base/manifests.yaml#L96

[2022-06-28 16:01] jiancheung commented on #110726
Oh to clarify, we (with @Ramyak ) saw this exact crash in both a 1.19 and a 1.23 cluster. We only tested and verify the fix on 1.19 clusters though.

[2022-06-28 16:24] mikemorris commented on #110605
@aojea I _believe_ it's at https://github.com/kubernetes-sigs/ingress-controller-conformance/tree/master/images/echoserver but somebody more familiar may want to confirm

[2022-06-28 16:30] rikatz commented on #110605
There is also
https://github.com/kubernetes/ingress-nginx/tree/main/images/echo

On Tue, 28 Jun 2022 at 13:24 Mike Morris ***@***.***> wrote:

[2022-06-28 16:31] adelina-t commented on #110828
/cc @claudiubelu  @jsturtevant

[2022-06-28 16:35] adelina-t opened #110839 "[Flake test] Probing container should *not* be restarted with a /healthz http liveness probe"
### Which jobs are flaking?

capz-windows-containerd-master

### Which tests are flaking?

Kubernetes e2e suite.[sig-node] Probing container should *not* be restarted with a /healthz http liveness probe [NodeConformance] [Conformance]

### Since when has it been flaking?

25.06.2022

### Testgrid link

https://testgrid.k8s.io/sig-windows-signal#capz-windows-containerd-master

### Reason for failur

[2022-06-28 16:55] aojea commented on #110605
@aledbf is this image linked above compatible with the nginx image?
Ricardo, I prefer if we move away of the nginx dependency

[2022-06-28 17:14] Huang-Wei commented on #110783
SGTM as explicity is better than implicity. Just want to point out, no matter which implementation to go with, we need to make it secure enough given `NodeToStatusMap` is directly accessed in many places like Preemption, also,  `len(diagnosis.NodeToStatusMap)` is directly read.

[2022-06-28 17:57] sftim commented on #110835
How about using an init container to set the sticky bit?

For the blog - https://blog.k8s.io/ - this would make a nice article, I think.

[2022-06-28 18:40] ahg-g commented on #110726
The call to updateWithPod is being made in a different scheduling cycle (it is for the incoming pod) than the one that nominated the pod. Your analysis in https://github.com/kubernetes/kubernetes/issues/110726#issuecomment-1165513276 makes sense and is consistent with the fact that we snapshot the nodes for every scheduling cycle.

[2022-06-28 19:13] luisdavim commented on #110835
Yeah but it would be nice to have it without the overhead.

[2022-06-28 19:25] negz commented on #110753
@sftim Agreed. My question is whether we need to add such techniques to this particular cache (or caches) before we'll feel comfortable removing the fsync.

Removing the fsync from the HTTP cache would presumably bring it back down to the same level of guarantee as the discovery cache. My guess would be that the fact we were ever explicitly fsyncing each cache value in the HTTP cache was a happy a

[2022-06-28 19:27] latia-tanner opened #110865 "Request for Documentation on Testing the Pause Image"
### Why is this needed

For a private registry, I created a pause image using the available c code in the kubernetes repo. In the same dir as the pause c code is orphan.c which is used for testing, however, I have not been able to find any documentation on the steps one would take to use it to test the pause image. I have used a couple different runtime-tools to test the pause image with orphan, b

[2022-06-28 19:45] Dentrax opened #110841 "[Tracking Issue] Preparing sample-cli-plugin as a public template"
### What would you like to be added?

/kind feature
/sig cli

Prepare sample-cli-plugin as a public template:
https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/sample-cli-plugin

* [ ] `.gitignore` (https://github.com/kubernetes/kubernetes/pull/110842)
* [ ] `.goreleaser.yml` (https://github.com/kubernetes/kubernetes/pull/110844)
* [ ] `.golangci-lint.yml` (https://github.com

[2022-06-28 20:14] yuanchen8911 commented on #110783
Thank you. I'll look at it.

[2022-06-28 22:13] markyjackson-taulia commented on #108886
@jsturtevant Is it ok to remove the milestone?

[2022-06-28 22:24] jsturtevant commented on #110674
@zhiweiv @perosb the symptoms you are experience appear different than the ones reported by @adoprog and @shettyg.  Do we have an open issue for this issue where you are tracking this or can you create one?

[2022-06-28 23:35] lauchokyip commented on #109489
/transfer kubectl

[2022-06-29 00:04] benpbrown commented on #108249
/remove-lifecycle stale

[2022-06-29 00:05] benpbrown commented on #108249
/remove-lifecycle rotten

[2022-06-29 00:08] rothgar commented on #95759
Should this have been reopened?

[2022-06-29 01:19] zhiweiv commented on #110674
Do you mean the GitHub issue? I will create one.

[2022-06-29 02:06] zhiweiv opened #110849 "Windows hns loadbalancers disappear intermittently"
Windows hns loadbalancers in Windows node may disappear suddenly, I run **hnsdiag list loadbalancers** every minutes with Host Process Container on each Windows node. When issue happen, the load balancer count dropped to 1 and recover slowly, it took a few days to come back to normal.

The script for troubleshooting
[code]
The output I collected before, more logs here [hns.txt](https://github.com/

[2022-06-29 02:08] Kevin-Li-Webjet opened #110850 "rbac secret value leak with list"
### What happened?

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secret-list
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["list"]

  With only above rbac created in cluster,
  1. kubectl get secret xxx -n xxx will be block
  2. kubectl get secrets -n xxx, will see a list in console as expected, but it brings actual values as well behind
  e.g. kubectl

[2022-06-29 02:08] Kevin-Li-Webjet opened #110866 "rbac secret value leak with list"
### What happened?

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: secret-list
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["list"]

  With only above rbac created in cluster,
  1. kubectl get secret xxx -n xxx will be block
  2. kubectl get secrets -n xxx, will see a list in console as expected, but it brings actual values as well behind
  e.g. kubectl

[2022-06-29 02:13] kerthcet commented on #110795
What can we benefit from the idea, better naming?

[2022-06-29 02:13] zhiweiv commented on #110849
@jsturtevant @perosb
We can discuss the issue here.

[2022-06-29 03:37] msau42 commented on #109086
We disabled gce pd intree tests by default. Looks like all the failing tests gone.

/close

[2022-06-29 03:38] #109086 closed

[2022-06-29 03:55] negz commented on #110753
It seemed like writing our own httpcache cache backend was the best way to go here, so I went ahead and added one that uses checksums rather than syncs per the above PR.

[2022-06-29 04:04] kerthcet commented on #110726
Thanks @ahg-g for feedbacks, and I think we should hotfix this bug in lower releases, WDYT?

[2022-06-29 04:27] vaibhav2107 commented on #102430
/remove-lifecycle stale

[2022-06-29 04:27] vaibhav2107 commented on #104639
/remove-lifecycle stale

[2022-06-29 04:29] vaibhav2107 commented on #105021
/remove-lifecycle stale

[2022-06-29 04:35] kerthcet commented on #110726
Just created a hotfix PR https://github.com/kubernetes/kubernetes/pull/110853, when this approved, I'll cherry-pick to other releases.

[2022-06-29 04:44] colin-arnott-xero commented on #110821
/sig architecture

[2022-06-29 05:26] harry1064 commented on #110780
hi @aojea

While doing some testing, I found that we are calling the `e.BeginCreate` before calling `rest.BeforeCreate`. If any validation error is there it is thrown after we already allocated ports and clusterIps. Although, we have defer function which will revert the transaction if any error, but Shouldn't we call `rest.BeforeCreate` before `e.BeginCreate`?
Reason being, our `initNodePorts ` do

[2022-06-29 06:03] kerthcet opened #110854 "data race in nodeshutdown tests"
### Which jobs are flaking?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/110768/pull-kubernetes-unit/1541991414412349440
[code]

### Which tests are flaking?

`TestLocalStorage` in `pkg/kubelet/nodeshutdown`

### Since when has it been flaking?

N/A

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No respon

[2022-06-29 06:07] kerthcet commented on #110854
cc @pohly as we introduced contextual logging weeks ago, I have no idea whether this is related.

[2022-06-29 06:54] jjarv-tuni opened #110855 "Kubernetes + containerd + cilium won't install on Debian bullseye (VirtualBox )"
### What happened?

Tried to install Kubernetes cluster with kubeadm.
Installation did not succeed.

--- Log clips ---

Jun 29 09:21:11 kube-node1 containerd[545]: time="2022-06-29T09:21:11.854265880+03:00" level=info msg="RunPodSandbox for &PodSandboxMetadata{Name:kube-controller-manager-kube-node1,Uid:abf22988c24fde98fe0278fbc704aa31,Namespace:kube-system,Attempt:10,} returns sandbox id \"bf9aa2

[2022-06-29 06:58] pohly commented on #110854
Contextual logging is involved here because it enables log output through testing.T.Log.

It's interesting that the data race seems to be inside testing.T itself. It does [mutex locking](https://cs.opensource.google/go/go/+/refs/tags/go1.18.3:src/testing/testing.go;drc=d3ffff2790059226ae3aa90856d687e138701b5c;l=880) but apparently the access to the mutex itself is racing?!

/assign

[2022-06-29 06:58] pohly commented on #110854
The change which triggered this is from PR #110504 .

[2022-06-29 07:06] anudeep251 opened #110856 "I think rabbitmq would be apt to fit into kubernetes team"
### What would you like to be added?

The scheduler doesn't have to request the server every few seconds to check for user requests,I think we could use something like google pub/sub or rabbitmq to subscribe for such requests,imo.

### Why is this needed?

It makes me happy 😊

[2022-06-29 07:09] aojea commented on #110855
/remove-kind bug
/kind support

You should better use other channels like slack or discourse for these kind of question

[2022-06-29 07:18] ityuhui commented on #106536
Hi developers

Is this work still on going?

[2022-06-29 07:20] luisdavim commented on #110835
@sftim do you see any disadvantage in just enabling the sticky bit?

[2022-06-29 07:33] mx-psi commented on #106536
@ityuhui This is still not fixed; it is blocked by upgrading the etcd version to the 3.6.x series