[2020-07-02 03:18] jianglin1008 commented on #75065
[code]

[2020-07-02 03:19] alejandrox1 commented on #92741
/remove-kind failing-test

[2020-07-02 03:45] like-inspur commented on #92634
@knight42 yes, in order to ensure pod service running correctly

[2020-07-02 04:02] feiskyer commented on #92733
@mateuszlitwin Thanks for the reporting. Unfortunately, computer name prefix is not included in IMDS, so it can't be used without VMSS API for constructing the NodeName. Would check what could we do to workaround the issue.

[2020-07-02 04:13] knight42 commented on #92634
then you may be experiencing issue like this #74848, please try changing the restartPolicy to `Never`, which would create new pod if current pod failed.

[2020-07-02 05:01] ica10888 commented on #50295
Maybe there is a reason what caused this:
such like in some container, missing environment variable.
could excute follows command to set the environment variable
[code]
`/etc/kubernetes/admin.conf` is volumes on the node master's same path.

[2020-07-02 05:05] briantopping commented on #23864
That's a workaround, yes, but not a solution. Routing to the pod subnet is a major security hole and people who understand the ramifications of doing this ... don't.

[2020-07-02 05:36] logicalhan commented on #92671
Ah, I misunderstood which metric you are using in your underlying query, I thought you were using the counter but it sounds like you are alerting off of the gauge. The gauge should indeed update to a zero value (I think) when an aggregation apiservice is deleted. I’ll poke around tomorrow to see why it’s broken.

[2020-07-02 06:01] mayankshah1607 commented on #92674
@alejandrox1 I'd like to give this a try!

[2020-07-02 06:01] mayankshah1607 commented on #92674
/assign

[2020-07-02 06:04] qcd0710 commented on #89107
i have the same problem. how did you solve it ? Thanks so much

[2020-07-02 06:12] #90315 closed

[2020-07-02 06:13] cofyc commented on #92141
SG

We can have a fake `Extender` interface implementation (current `FakeExtender`) and a fake extender server implementation (can be used by `HTTPExtender`).

[2020-07-02 06:13] #92553 closed

[2020-07-02 06:15] knightXun commented on #92699
It's my webhook problem. @liggitt thanks

[2020-07-02 06:15] #92699 closed

[2020-07-02 07:23] reecebenson commented on #78446
It's a shame as this issue is entirely present and _very_ frustrating. I've been battling it for a few days now...
/remove-lifecycle stale

[2020-07-02 07:49] MarkDana commented on #89107
1. Switch your network and try again. Very likely to be none but network quality problems.
2. If 1. doesn't help, refresh config file in `~/.kube` (if there's any).

[2020-07-02 08:04] qcd0710 commented on #89107
Thanks! it seems like my network is unstable. i will change one and try later.

[2020-07-02 08:16] zhaocheng173 commented on #88239
Check kubelet's log ，How to solve this error，
`--cgroups-per-qos enabled, but --cgroup-root was not specified.  defaulting to /`

[2020-07-02 08:27] #87876 closed

[2020-07-02 08:28] lubinsz commented on #86295
I have closed it. Thanks.

[2020-07-02 08:49] xlgao-zju commented on #80774
/cc

[2020-07-02 08:54] schweikert commented on #92615
One cause for bad performance with a large number of environment variables can be bash. This code seems to scale O(n^2) with number of variables, and is called on bash startup: https://github.com/bminor/bash/blob/d894cfd104086ddf68c286e67a5fb2e02eb43b7b/variables.c#L4197

[2020-07-02 08:59] irozzo-1A commented on #92374
Thx @yue9944882! I had the same idea, but in my specific case I could not put it in place because I have KAS configured to communicate with the cluster by apiserver-network-proxy and having the extension API only accessible by a private IP or private DNS name (that is resolvable/routable only from the master network context). AFAIK today with this setup all requests are performed in cluster contex

[2020-07-02 09:40] agowa338 commented on #23864
@briantopping It isn't a security hole *if* you know what you're doing... The linked document from above shows how to architect such a setup. And with that setup in place you can just easily add a NAT46 for a public IPv4 in front of it...

[2020-07-02 09:42] wanyaoqi commented on #92583
@tedyu @cynepco3hahue
 it caused by the annotation "service.alpha.kubernetes.io/tolerate-unready-endpoints: true"

Thanks

[2020-07-02 09:42] wanyaoqi commented on #92583
/close

[2020-07-02 09:43] #92583 closed

[2020-07-02 09:58] lxnch commented on #90801
any news regarding this issue? is this due to the polling nature of the cronjob controller, and is going to be fixed by the [GA KEP](https://github.com/kubernetes/enhancements/pull/978), or a separate issue?

[2020-07-02 10:33] QianChenglong opened #92751 "Duplicate altnames in certs which generated by kubeadm"
**What happened**:

Duplicate altnames in certs which generated by kubeadm
![image](https://user-images.githubusercontent.com/1881126/86348671-8d4b7080-bc92-11ea-8572-8139f09bd609.png)

**What you expected to happen**:

No Duplicate altnames in certs which generated by kubeadm

**How to reproduce it (as minimally and precisely as possible)**:

Anytime

**Anything else we need to know?**:

![image]

[2020-07-02 10:35] QianChenglong commented on #92751
/sig cluster-lifecycle

[2020-07-02 10:36] QianChenglong commented on #92751
/area kubeadm

[2020-07-02 10:37] jansenmccloud commented on #91459
After a long day of reading and experimenting with the Kubernetes API i found a work-around I want to share with you.

**Problem in my case:**
- I'm using the Java Client K8 API, especially `coreV1Api.replaceNamespacedService(...v1Service...)`
- I got the exact same error like written in https://github.com/kubernetes/kubectl/issues/798 and here in this issue
summary:
I send an update of a service

[2020-07-02 10:44] wawa0210 commented on #92751
Can you describe your detailed usage scenarios and reproduction steps, and explain the kubernetes version so that we can quickly locate

[2020-07-02 10:48] QianChenglong commented on #92751
Thank for you response!
I have found why and will fix it soon.

[2020-07-02 11:17] #92622 closed

[2020-07-02 11:18] #92728 closed

[2020-07-02 12:26] devlinyvonne commented on #57923
Is there a plan to resolve this ticket? Our organisation is currently using Istio in our kubernetes cluster, we have cronjobs that are broken because the permissions on our id_rsa file has been changed and we are no longer able to clone a git repo.  As the cronjobs can't run it is blocking code changes from being promoted to our production clusters which is in turn impacting our customers. I'm sur

[2020-07-02 12:30] antoinedeschenes commented on #89672
This still happens on kubectl 1.16.12 and 1.17.8

[2020-07-02 12:31] pohly opened #92754 "test/e2e/framework: refactor wait functions"
**What would you like to be added**:

There are a lot of functions in the framework that wait for something:
[code]

Usually the timeouts are hard-coded, sometimes with fast and slow variants. Some of the functions use their own for loop instead of reusing `k8s.io/apimachinery/pkg/util/wait`.

I see room for improvement here:
- instead of accepting a timeout parameter, take a context (more flexibl

[2020-07-02 12:32] pohly commented on #92754
/sig testing

[2020-07-02 13:00] souravb11 commented on #77086
I faced the same issue and i have edit my ns yaml file and remove "finalizers" parameter from file and saved. Thats work for me its deleted immediate.

[2020-07-02 13:50] hasheddan opened #92756 "[Flaky Test] verify-1.18 (ci-kubernetes-verify-beta)"
**Which jobs are failing**:

`verify-1.18 (ci-kubernetes-verify-beta)`

**Which test(s) are failing**:

`Overall`

**Since when has it been failing**:

`07-01-20 23:50 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-1.18-blocking#verify-1.18

**Reason for failure**:

`Timeout`

Seeing a sudden spike in test-duration across the board.

**Anything else we need to know**:

/cc @kubernet

[2020-07-02 14:22] #91656 closed

[2020-07-02 14:29] jgiannuzzi commented on #92436
This is my understanding of what happens in v1.18.x:
* the job creates as many pods as requested by the parallelism parameter (all of them `Pending`)
* a number of pods will get scheduled based on the allocatable CPUs in the system (they become `ContainerCreating`)
* these pods go through the static CPU manager to get an exclusive CPU allocated to them, eventually making the assignable CPU set shr

[2020-07-02 14:40] zerogvt opened #92758 "[sample controller] scalling does not work"
**What happened**: Playing with [staging sample-controller](https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/sample-controller) I noticed that scaling does not work as expected.

**What you expected to happen**: After running the sample controller as per instructions I create a deployment using one of the example deployments. The deployments and the rest of the resources are

[2020-07-02 14:43] nikhita commented on #90141
This is probably a duplicate of https://github.com/kubernetes/kubernetes/issues/14040

[2020-07-02 14:46] jgiannuzzi commented on #92436
Update: I just found that this exact solution (calling `removeStaleState` at the start of the CPU manager's `Allocate` function) was implemented in ab5870d808ed, which made it into v1.19.0-alpha.3.

So in summary, this issue can be fixed by either running v1.18.x with a topology manager policy, or by upgrading to v1.19-beta.2.

[2020-07-02 15:02] mattmoor commented on #92615
Neither of the containers in question use bash as their entrypoint, both are built from `gcr.io/distroless/static:nonroot`

[2020-07-02 15:28] rikatz commented on #91331
@wk60807430 ok, I've created the lab here running flannel as a binary and no big deal with calling the DNS from a different node. Everything running in CentOS 8, kube-proxy in IPVS mode.

A point that I've seen here is that you're using v1.16.0, right? Is that possible to update to 1.16.12 so we can check if there's some minor bug in the middle that might be the reason?

I'll try to see if I can h

[2020-07-02 15:38] jgiannuzzi commented on #92436
(Final) update: this fix also made it into v1.18.4 (#90377). You can thus upgrade to that release without even setting a topology manager policy 🎉

[2020-07-02 15:45] jgiannuzzi commented on #79159
As per my [comments](https://github.com/kubernetes/kubernetes/issues/92436#issuecomment-653039945) in #92436, this issue has been fixed in v1.18.4 (via PR #90530) and v1.19.0-alpha.3 (via PR #90377).

I guess it can be closed?

[2020-07-02 15:56] #80539 closed

[2020-07-02 15:56] #80538 closed

[2020-07-02 16:11] BjoernT opened #92761 "Node Port with externalTrafficPolicy:Local blocked on nodes with ingress controller"
**What happened**:

We are using a service with type LoadBalancer in connection with NodePort and `externalTrafficPolicy: Local` and noticed
after switching to a newer version of k8s, from 1.11 kube proxy with ipvs to 1.16.6 with iptables, that the local node ports can't be accessed from any cluster external network (the external load balancer). But the node port is accessible from other worker no

[2020-07-02 16:17] ravihugo commented on #48948
@tstromberg That is great news. I hope the apiserver/etcd usage can be lowered!

[2020-07-02 16:22] akshaysharama opened #92762 "kubernetes and coredns iptables rules."
we have implemented security for our project and disabled all the input chains and output chains because of this kubernetes coredns is not coming up.
we want to add iptables rules for kubernetes and coredns.

Need some information regarding the same.

[2020-07-02 16:22] akshaysharama commented on #92762
/sig network

[2020-07-02 16:49] rikatz commented on #91331
@wk60807430 are you sure you're not running flannel as a DaemonSet / container inside your environment?

Per the output that you've sent, there's no flannel configured in your current iptables:

[code]

And the message in the bottom indicates that you're using something changing the legacy iptables:
 `# Warning: iptables-legacy tables present, use iptables-legacy to see them`

This happens because

[2020-07-02 17:00] neolit123 opened #92763 "cleanup the code in the kubelet for bootstrap checkpointing"
the kubelet includes an ALPHA feature controlled by the `--bootstrap-checkpoint-path` flag.

this feature was originally added for better support of self-hosting in kubeadm. more details here:
https://github.com/kubernetes/enhancements/issues/1103
https://github.com/kubernetes/enhancements/blob/master/keps/sig-cluster-lifecycle/kubeadm/0004-bootstrap-checkpointing.md

EDIT: there is an active PR t

[2020-07-02 17:00] neolit123 commented on #92763
/remove-kind bug

[2020-07-02 17:11] Riaankl commented on #92194
/reopen

[2020-07-02 17:11] neolit123 commented on #92763
/remove-help

looks like someone sent a PR for this as part of the kubelet flag cleanup:
https://github.com/kubernetes/kubernetes/pull/91577

[2020-07-02 17:14] BenTheElder commented on #92730
This means cluster bringup is failing.
SIG testing doesn't own that unless it's KIND.
Why is cluster up failing? Some of the additional artifacts should have details.

[2020-07-02 17:38] mateuszlitwin commented on #92733
Can you memorize the computer name prefix in the first request to the Azure API and then use it for the isCurrentInstance check if vmss?

[2020-07-02 18:17] brianpursley commented on #92730
Hmm, I was just about to investigate further when I noticed the jobs have started passing again as of several hours ago...
![image](https://user-images.githubusercontent.com/4977542/86395630-8e6aa680-bc6e-11ea-8303-39c45d8bfb50.png)

I'd still like to find out why, so I'll do a little more investigation and then probably end up closing this I suppose...

[2020-07-02 18:31] lubinsz commented on #86295
Hi @dims

I just submitted a prowjob PR with a third-party develooper @hakman
Please see my PR as reference:
https://github.com/kubernetes/test-infra/pull/18135
@hakman  also submitted some similar test jobs on Arm64:
https://github.com/kubernetes/test-infra/pull/18139
https://github.com/kubernetes/test-infra/pull/18034
In these tests, we didin't use any local modifications

No problem.

[2020-07-02 18:31] brianpursley commented on #92730
Looks like this PR that was merged about 12 hours ago fixed it:
https://github.com/kubernetes/kubernetes/pull/92562

I'll go ahead and close this since it seems to be fixed now.

[2020-07-02 18:31] #92730 closed

[2020-07-02 18:40] haircommander opened #92766 "kubelet consistently timing out on attempting to Destroy cgroups"
**What happened**:
the CRI-O CI tests have been in a bad shape recently. In debugging, I have found that the kubelet logs are filled with:
[code]
[code]
AFAICT, this is from a combination of bumping to go 1.14.4, and https://github.com/kubernetes/kubernetes/commit/a03db636daef0417218ef8c108c0a6530d2ef368

as I ran two different PRs that dropped each of these commits, and there were no similar prob

[2020-07-02 18:40] haircommander commented on #92766
/sig node

[2020-07-02 18:41] haircommander commented on #92766
cc @giuseppe @kolyshkin @mrunalp

[2020-07-02 18:43] haircommander commented on #92766
I have tried to set `GODEBUG=asyncpreemtoff=1` [here](https://github.com/cri-o/cri-o/pull/3921) to no avail, thus far (I may not be doing the ansible correctly though)

[2020-07-02 18:43] haircommander commented on #92766
related https://github.com/kubernetes/kubernetes/issues/92521

[2020-07-02 18:44] #92561 closed

[2020-07-02 18:51] Buffer0x7cd commented on #30518
I think another use case can be, where cluster are already running with some other ingress controllers like Nginx or Kong, but want to utilize WAF, which is only available on ALBs. Having the support of choosing an ALB for LoadBalancer Type ( with support of some annotations) will simplify the setup

[2020-07-02 20:24] alexhwoods commented on #38075
Believe I'm hitting this issue as well

[2020-07-02 20:37] adammw opened #92769 "Automatically re-register node when node is removed from API server"
**What would you like to be added**:
Option to automatically re-register node when node is removed from API server without requiring a manual kubelet restart.

**Why is this needed**:
We recently experienced an issue where our etcd database went into read only mode, therefore none of the heartbeats were persisted to the database. When the database restored connectivity, the controllers marked all

[2020-07-02 20:40] adammw commented on #92769
/sig node

[2020-07-02 22:03] #78139 closed

[2020-07-02 22:48] liggitt commented on #92769
Previously discussed in https://github.com/kubernetes/kubernetes/issues/71398

[2020-07-03 00:14] jsturtevant opened #92771 "sig-windows flaky tests"
**Which jobs are flaking**:
aks-engine-azure-windows-1903-master
aks-engine-azure-windows-1909-master
aks-engine-azure-windows-master-staging

**Which test(s) are flaking**:
the whole test suite times out

**Testgrid link**:
https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-1903-master
https://testgrid.k8s.io/sig-windows#aks-engine-azure-windows-1909-master
https://testgrid.k8s.io/sig-w

[2020-07-03 00:15] jsturtevant commented on #92771
@chewong for tracking the changes

/assign

[2020-07-03 00:21] neolit123 commented on #92751
i have commented on the PR.

/priority awaiting-more-evidence

[2020-07-03 00:31] jsturtevant commented on #92771
the output from the `artifacts/master_provisioning/handler.log`:

[code]

the restart from `artifacts/master_provisioning/cluster-provision.log`:

[code]

[2020-07-03 01:46] Vickey-Wu commented on #4457
Yes! It's really dangerous, though `kubectl delete` is a low level command, but it is a big disaster once you execute and delete resources in production environment. So, strongly recommend add an option `-i : prompt before every removal` for `kuberctl delete`

[2020-07-03 01:49] hex108 commented on #79159
Thanks @jgiannuzzi !

[2020-07-03 01:49] #79159 closed

[2020-07-03 03:07] #60751 closed

[2020-07-03 03:22] kriaos opened #92772 "SIGSEGV: segmentation violation && kubelet.service: main process exited"
Hi:
systemd: kubelet.service: main process exited, code=exited, status=2/INVALIDARGUMENT
systemd: Unit kubelet.service entered failed state.

Env:
k8s version: 1.13.7
kernel: 3.10

Details:
Jun 28 11:22:56 worker3 kubelet: SIGSEGV: segmentation violation
Jun 28 11:22:56 worker3 kubelet: PC=0x120071c04 m=7 sigcode=128
Jun 28 11:22:56 worker3 kubelet: goroutine 170 [syscall]:
Jun 28 11:22:56 worker3

[2020-07-03 04:25] mksmsrgnk commented on #92698
I have similar issue on Debian GNU/Linux 10 (buster)

[2020-07-03 04:37] whalecold opened #92774 "Use kubectl to view specified revision statefulset failed."
**What happened**:

I performer the command  `kubectl rollout history statefulset.v1.apps/infra-mong  --revision=2` , the output shows below:

[code]

**What you expected to happen**:
The result should like this:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

use kubectl rollout history a specified revision statefulset.

**Anything else we need to know?**:

**Environmen

[2020-07-03 04:38] whalecold commented on #92774
/sig cli

[2020-07-03 06:54] HubbeKing commented on #92698
I'm assuming one could sidestep this by draining a node, forcing an upgrade to 1.18.4-01 for `kubeadm`, `kubelet` and `kubectl` for that node, and then rebooting the node or restarting its kubelet before uncordoning and continuing with the remaining nodes.

Since 1.18.4-01 is still a 1.18.4 version, no changes should need to be made to the cluster configuration. I have no idea what kind of effect

[2020-07-03 07:11] #87801 closed

[2020-07-03 07:21] OPSTime commented on #87126
kind/bug

[2020-07-03 07:58] aojea opened #92775 "e2e framework and Endpoint Slices"
There is some tooling and tests that make use of `Endpoints`, but `Endpoint Slices` are graduating to beta in this 1.19 cycle, that means they were use by default in a cluster.

However, per Rob Scott explanation, this would not imply any problem because there are mechanisms in place to guarantee a smooth transition.

_Originally posted by @robscott in https://github.com/kubernetes/kubernetes/pull

[2020-07-03 07:59] aojea commented on #92775
/sig testing
/sig network
/cc @alejandrox1 @BenTheElder
/priority long-term

[2020-07-03 07:59] aojea commented on #92775
/priority backlog

[2020-07-03 08:15] SataQiu commented on #92775
/cc

[2020-07-03 08:19] nikhita commented on #92704
Since it isn't trivial to remove `github.com/rubiojr/go-vhd` as a dependency entirely, I've created https://github.com/rubiojr/go-vhd/issues/3 upstream to track updating the code there.

[2020-07-03 08:21] yoshieki1992 commented on #48798
thanks!

[2020-07-03 08:28] SataQiu commented on #92754
/cc

[2020-07-03 08:34] TBBle commented on #92296
It is documented in the very-similar block of text at https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#mounted-configmaps-are-updated-automatically. They probably need to be merged or aligned, since they're mostly documenting the exact same concept in two different ways, with different levels of detail.

[2020-07-03 08:38] soulxu commented on #92592
Seems like there is no way for the scheduler to figure the allocated resource is the healthy or unhealthy one.

For example, the GPU capacity is 2, allocatable is 2, allocated 1. The allocated one becomes unhealthy. Then GPU capacity is still 2, allocatable is 1, allocated 1. So the scheduler shouldn't count that allocated one anymore. But looks like there is no way to figure out the allocated one

[2020-07-03 09:06] draveness commented on #92592
Yes, that is the problem we met

[2020-07-03 09:25] aojea commented on #92761
I think that @andrewsykim implemented this behavior here https://github.com/kubernetes/kubernetes/pull/77523 in 1.15
but better if he can confirm :smile:

[2020-07-03 09:56] jmp0x0000 commented on #75262
The router should not route the traffic to the node where there is no pod, if it does - it brakes the concept of Local traffic policy and loadbalancer implementation is faulty. but you right, TTL here is exactly to avoid the traffic storm if occurs.

Now the situation is worth... Kubernetes pods couldn't reach the services the same cluster exposes... In fact, one team might not reach the services

[2020-07-03 10:06] RobertKielty opened #92776 "[sig-network] EndpointSlice should create and delete Endpoints and EndpointSlices for a Service with a selector specified"
**Which jobs are flaking**:
gce-ubuntu-master-default

**Which test(s) are flaking**:
[sig-network] EndpointSlice should create and delete Endpoints and EndpointSlices for a Service with a selector specified

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default&sort-by-flakiness=&embed=

**Reason for failure**:
from [Spyglass for job 1278952987569426433

[2020-07-03 10:06] RobertKielty commented on #92776
/sig network

[2020-07-03 10:09] FengXingYuXin opened #92777 "informer hang on WaitForCacheSync"
process hang on WaitForCacheSync while list node infos accidentally。
code as following：
![image](https://user-images.githubusercontent.com/9688486/86457682-a0c00f80-bd56-11ea-8556-b40c06f148a7.png)

[2020-07-03 10:14] #39420 closed

[2020-07-03 10:35] wawa0210 commented on #92710
@jingxu97

I can try to follow up on the issue, where can I see the error message about windows subpath?

[2020-07-03 10:35] wawa0210 commented on #91132
/assign

[2020-07-03 10:54] mukuntharajaa opened #92778 "Enable "--ulimit" option to be passed to "docker run" via k8s pods"
**What would you like to be added**:

kubernetes should provide a way to pass "--ulimit" option to "docker run" command. Just like how, memory and cpu resource limits are passed on to docker run command as mentioned [here](https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/#how-pods-with-resource-limits-are-run) .

**Why is this needed**:

On bare-metal hardwares, it is

[2020-07-03 11:09] mukuntharajaa commented on #92778
/sig Node

[2020-07-03 11:30] wawa0210 commented on #91132
/unassign

[2020-07-03 11:33] wawa0210 commented on #91132
The Windows container does not seem to support directly specifying hostalias through the container command

[2020-07-03 12:03] #92600 closed

[2020-07-03 12:42] hasheddan opened #92780 "[Flaky Test] gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)"
**Which jobs are flaking**:

`gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)`

**Which test(s) are flaking**:

`testing/load/config.yaml`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/sig scalability
/milestone v1.19
/pri

[2020-07-03 13:18] ahg-g opened #92781 "Plugins should access listers during instantiation"
SelectorSpread plugin currently accesses listers directly from SharedInformer: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/framework/plugins/selectorspread/selector_spread.go#L182-L185

The issue is that if we don't access the lister before the informer is started, the lister will never be populated. The informer is started right after scheduler initialization, and so we hav

[2020-07-03 13:36] adtac commented on #92781
/assign

[2020-07-03 14:14] juxuny commented on #48798
Sorry, I can reach the link

[2020-07-03 14:16] juxuny commented on #48798
Sorry, I can't reach the link. Is something wrong ?

[2020-07-03 15:21] hakman commented on #86295
I added a new dashboard that uses the `ci/k8s-master` marker:
https://testgrid.k8s.io/kops-misc#kops-aws-arm64-ci

I am trying to fix the DisruptionController, seems a pretty easy fix:
https://github.com/kubernetes/kubernetes/pull/92745

The storage related tests are blocked by CSI images that are not yet multi-arch.

Not sure what is wrong with `[sig-cli] Kubectl client Simple pod should handle i

[2020-07-03 15:59] liggitt commented on #92777
I think the listers/informers must be accessed and set up prior to starting the shared informers

[2020-07-03 16:04] ranasheel2000 commented on #92412
@anfernee
Many people seemed to have hit this issue recently, including me.
Could it be related to some recent change in kube-proxy?

[2020-07-03 16:10] liggitt commented on #92781
Does this mean we don't have tests demonstrating this functioning?

[2020-07-03 16:16] ahg-g commented on #92781
We do have a multi-zone e2e test that failed this: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/ubernetes_lite.go#L68

We run those in GKE, and that is how we caught this issue, but it seems that we don't run them in OSS?

[2020-07-03 16:42] MQasimSarfraz opened #92783 "AWS CloudProvider fails to configure routes when instance has multiple ENIs"
**What happened**:
I tried to create a cluster in AWS with multiple ENIs. I have enabled `configure-cloud-routes`. But `controller-manager` fails to create routes with:
[code]
**What you expected to happen**:
I expected service CIDR routes to be added to AWS route table.
**How to reproduce it (as minimally and precisely as possible)**:
- Deploy K8s in AWS with provider enabled.
- Enable the `confi

[2020-07-03 16:46] MQasimSarfraz commented on #92783
/sig cloud-provider

[2020-07-03 17:03] ranasheel2000 commented on #92412
/priority important-soon

[2020-07-03 18:04] Huang-Wei commented on #92781
@adtac similar initialization logic FYI:

https://github.com/kubernetes/kubernetes/blob/a472138c1ffca452ba04ceb5020cc0972c47407a/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L65-L66

And even for regular Informers (e.g., PodInformer), @ahg-g and I are [discussing](https://github.com/kubernetes/kubernetes/pull/92682#discussion_r449327663) that it _may_ be favorable to exp

[2020-07-03 18:13] ahg-g commented on #92781
Wei, I think that looks a little odd. We should just assign it to a member variable of the plugin.

[2020-07-03 18:15] jgiannuzzi commented on #92436
@robertdavidsmith I think this issue can be closed

[2020-07-03 18:45] Huang-Wei commented on #92781
If the lister gets initialized properly (in plugin's New() function), later it can be fetched from the informerFactory. So why keep a redundant member variable in this plugin?

[2020-07-03 18:56] liggitt commented on #92781
Keeping a reference to the informer factory beyond initialization leads to accidents like this where an uninitialized lister is accessed. Limiting the informerfactory to initialization time ensures that all used listers are accessed at initialization time.

[2020-07-03 19:12] robertdavidsmith commented on #92436
Many thanks Jonathan!

[2020-07-03 19:12] #92436 closed

[2020-07-03 19:43] ReSearchITEng commented on #48798
@juxuny all is ok, maybe some temporary netw connectivity issues?

[2020-07-03 20:02] Huang-Wei commented on #92781
In the point of explicity over implicity, I agree, although with a cost of adding duplicate member fields. @ahg-g I think we need to do a thorough check, to ensure this pattern is followed well.
In addition to this issue(`SelectorSpread`), I can refactor `DefaultPreemption`.

[2020-07-03 20:08] ahg-g commented on #92781
I took a quick a look at all plugins, those are the only two places where this pattern is not followed.

[2020-07-03 20:24] #87822 closed

[2020-07-04 01:11] #92317 closed

[2020-07-04 01:51] xwu2git commented on #92358
Any response?

[2020-07-04 03:31] #83483 closed

[2020-07-04 04:21] divyenpatel opened #92785 "e2e/storage/vsphere/vsphere_statefulsets.go is failing"
**What happened**:
The following issues are observed while running this e2e test case for vSphere CSI Migration feature validation.

_**Issue-1** - test failed with Unexpected error: `converting (v1beta2.StatefulSet) to (v1.StatefulSet): unknown conversion`_

[code]

This is happening because YAML is using `apps/v1beta2` version.

_**Issue-2** - After upgrading `apiVersion` from `apps/v1`. Test ex

[2020-07-04 04:22] divyenpatel commented on #92785
/sig testing
/sig storage

[2020-07-04 07:08] mithleshmeghwal opened #92790 "pod calling external api has different ip than the ip specified in ingress controller"

[2020-07-04 08:05] Huang-Wei opened #92792 "Request to add informers.WithCustomListOptions to SharedInformerFactory"
The k8s scheduler needs to watch a number of API objects such as Pods, Nodes, Services, ReplicaSet, PDBs, etc. So SharedInformerFactory is a perfect fit to watch/list objects among its codebase.

One problem we're facing is that we want to keep the ListOption as default for all objects except for Pods - for Pods, we want to exclude Pods whose `.status.phase` equals to Failed or Succeded. However,

[2020-07-04 09:05] BenTheElder commented on #92785
/remove-sig testing
The framework and CI are SIG testing. SIG storage owns their tests.

[2020-07-04 09:19] Bessonov commented on #79606
/remove-lifecycle stale

[2020-07-04 11:29] feiskyer commented on #92733
@mateuszlitwin opened #92793 to fix the issue. Would you like to have a look?

[2020-07-04 14:44] sayanchowdhury opened #92795 "[Failing test] kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)"
**Which jobs are failing**:
kubeadm-kinder-master (ci-kubernetes-e2e-kubeadm-kinder-master)

**Which test(s) are failing**:
`[sig-node] Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance]`

**Since when has it been failing**:
`07-03 07:04 PDT`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master

**Reason for

[2020-07-04 14:50] sayanchowdhury commented on #92795
After digging it seems that the issue might be on the infrastructure side of things. @BenTheElder @RobertKielty Can you have look at it?

[2020-07-04 15:53] wk60807430 commented on #91331
https://github.com/kubernetes-sigs/iptables-wrappers/blob/master/iptables-wrapper-installer.sh
I add this script to my custom flannel container,and i find  it  works on the container which run on my centos8 node
![image](https://user-images.githubusercontent.com/40818413/86516202-2fb15280-be51-11ea-9607-237cdf411973.png)

![image](https://user-images.githubusercontent.com/40818413/86516003-c8df698

[2020-07-04 15:59] hamzakilic opened #92798 "nodeport service udp packets lost with calico"
**What happened**:
a rsyslog service with nodeport, externalpolicy:Cluster configuration in kubernetes,
udp packets loss,
I am sending 1000 syslog packets from my computer to kubernetes cluster for testing
Kubernetes cluster is working on my machine with virtual box( 1 master,2 worker node),
only sending 1000 udp syslog packets
with bash command like
for i in {1..1000}; do logger "test100" -n node

[2020-07-04 16:06] knight42 commented on #92774
looks like there have been several similar PRs: #92294 #86506

[2020-07-04 16:12] whalecold commented on #92774
Sorry to duplicate it.

[2020-07-04 16:12] whalecold commented on #92774
/close

[2020-07-04 16:13] #92774 closed

[2020-07-04 16:15] knight42 commented on #92783
I would like to take this.

/assign

[2020-07-04 16:39] hardikdr opened #92799 ""KUBE_MAX_PD_VOLS" is ineffective starting from k8s 1.17."
**What happened**: Setting `KUBE_MAX_PD_VOLS ` as an environment variable in kube-scheduler doesn't configure custom-limits for max-attachable volumes. Related doc: https://kubernetes.io/docs/concepts/storage/storage-limits/#custom-limits.

I tried setting `KUBE_MAX_PD_VOLS` to 30 for `c5d.metal` based node in AWS, but kube-scheduler restricts the number of volumes to default (25) for the node.

T

[2020-07-04 16:41] hardikdr commented on #92799
/sig scheduling
/sig storage

[2020-07-04 16:44] hardikdr commented on #92799
cc @paurosello

[2020-07-04 17:13] knight42 commented on #92783
I have filed PR #92800 to fix this problem.

[2020-07-04 17:33] alejandrox1 commented on #92674
Thank you @mayankshah1607
Please reach out if you have any questions. I'll also will swing by to see how things are going :smile:

[2020-07-04 18:12] knight42 commented on #92792
looks reasonable to me

/assign

[2020-07-04 18:18] BenTheElder commented on #92795
/remove-sig testing
/sig cluster-lifecycle
SCL owns kinder. I am ~out until Monday.

[2020-07-04 18:29] krrypto commented on #92585
Thanks @robinpercy

[2020-07-04 18:29] #92585 closed

[2020-07-04 18:42] BenTheElder commented on #92795
This test went from passing consistently to failing consistently while the rest of the suite is typically green.

That doesn't fit for an infrastructure issue. There's a bug in kubernetes most likely.

[2020-07-04 18:56] liggitt commented on #92799
Do you have the exact envvar you're setting?

`KUBE_MAX_PD__VOLS` looks like a typo (double `__`)

[2020-07-04 18:58] Huang-Wei commented on #92792
I rethink a bit and guess `informers.WithCustomListOptions` may not work for my case - because `.status.phase` is not a general option in `ListOption`. If that's the case, `informers.WithCustomInformer` would be more promising.

[2020-07-04 19:48] #84884 closed

[2020-07-04 19:48] andrei-matei commented on #89682
Check on the worker nodes file /var/lib/kubelet/kubeadm-flags.env and in KUBELET_KUBEADM_ARGS I had --cgroup-driver=cgroupfs. Changed to systemd and kubelet started working again.

[2020-07-04 20:32] knight42 commented on #92792
yeah I think `WithCustomListOptions` would not work as  `.status.phase` cannot be used as a field selector.

Since `client-go/informers` is generated by `informer-gen`, I filed PR #92801 to update `informer-gen` first, if that is accepted then we could update client-go.

[2020-07-04 20:59] Huang-Wei commented on #92792
Thanks @knight42 , let’s see how it goes.

[2020-07-04 22:28] danwinship commented on #92412
Is this something that used to work, but then stopped working? If so, in what version did it stop working?

Based on discussion in the kubeadm bug, this appears to be an ipvs-specific bug.
/area ipvs

[2020-07-04 23:06] #91736 closed

[2020-07-05 00:31] skaven81 commented on #88926
/remove-lifecycle rotten

[2020-07-05 00:35] tanjunchen commented on #92754
/cc

[2020-07-05 01:19] zhaocheng173 opened #92803 "Is it supported in Kubernetes Pod --userns=host？"
**What would you like to be added**:
`docker run --userns=host ` User isolation can be disabled for containers with a single parameter, and is it possible to support it in K8S POD
**Why is this needed**:
In some cases, we may need to go back to the scenario where user isolation is not enabled and give the container larger permissions to test some docker security issues, such as using Docker-Bench-

[2020-07-05 01:23] zhaocheng173 commented on #92803
/sig    apps/v1
/wg    API Expression
/committee  Code of Conduct

[2020-07-05 01:41] dims commented on #92778
@mukuntharajaa please see https://github.com/kubernetes/kubernetes/issues/3595

/close

[2020-07-05 01:41] #92778 closed

[2020-07-05 02:22] chethanv28 opened #92804 "vsphere cloud provider e2e util function panics"
**What happened**:
Following issue was observed while running the e2e test cases for CSI migration testing.
<pre>
•! Panic [50.165 seconds]
[sig-storage] vcp-performance [Feature:vsphere]
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/storage/utils/framework.go:23
  vcp performance tests [It]
  /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/te

[2020-07-05 02:23] chethanv28 commented on #92804
/sig storage

[2020-07-05 03:32] fujitatomoya commented on #86539
/remove-lifecycle rotten

[2020-07-05 03:44] #92733 closed

[2020-07-05 04:11] whypro commented on #70382
Any updates?

[2020-07-05 04:16] hardikdr commented on #92799
Oh yes, that's a typo, I set the exact `KUBE_MAX_PD_VOLS ` as mentioned in the documentation.

[2020-07-05 05:59] mitar commented on #69637
/remove-lifecycle stale

[2020-07-05 06:57] riking commented on #64137
Looks like the systemd fix stuck.

[2020-07-05 07:05] riking commented on #88282
This section https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#best-practices-and-warnings would be an excellent place to put this warning.

[2020-07-05 07:06] riking commented on #88282
This section https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#best-practices-and-warnings would be an excellent place to put this warning.

To be clear, this is the issue:

/remove-lifecycle rotten

[2020-07-05 08:10] FrimIdan commented on #92697
/sig cluster-lifecycle

[2020-07-05 08:14] serathius commented on #92346
/close
Mutex was removed.

[2020-07-05 08:14] #92346 closed

[2020-07-05 08:15] serathius commented on #92393
/close

[2020-07-05 08:15] #92393 closed

[2020-07-05 09:00] Bessonov commented on #57660
/remove-lifecycle stale

[2020-07-05 10:46] ranasheel2000 commented on #92412
Not sure about previous behavior.
But either it is related to only **IPv6** or **IPv6 in dualStack** with **kube-proxy in IPVS mode.**

For ipv4 based service, pods are reachable using service properly (dualStack with kube-proxy in IPVS mode).
But for ipv6 based service it is not able to open port on worker nodes and hence curl fails to pods (dualStack with kube-proxy in IPVS mode).

Seems related

[2020-07-05 10:46] kirintwn commented on #56402
/remove-lifecycle stale

[2020-07-05 11:13] #92762 closed

[2020-07-05 11:37] ranasheel2000 commented on #92412
/area ipv6

[2020-07-05 12:03] #87775 closed

[2020-07-05 12:17] jayunit100 commented on #87857
/close

[2020-07-05 12:18] #87857 closed

[2020-07-05 12:30] jayunit100 commented on #92559
/unassign @AkashSarda

[2020-07-05 12:30] jayunit100 commented on #92559
/assign

[2020-07-05 13:24] jayunit100 commented on #92559
cc  @AkashSarda @mattfenwick  .... definetly something special about this 30 second interval, on a Kind cluster with one node, seeing the same thing.........  need to update docs ? or figure out the exact semantics.

So, weve confirmed that your test definetly is taking almost exactly 30 seconds, in order to publish the logs

Start time:

[code]

4 DNS messsages OK about 30 seconds later (31 secon

[2020-07-05 13:27] ethrbunny opened #92807 "1.18 loadbalancer service deployment fails to create ingress"
In 1.17 I used this yml to create a working service with an external ip:

    apiVersion: v1
    kind: Service
    metadata:
      name: elasticsearch-master
      namespace: elastic
      labels:
        app: elasticsearch
        role: master
    spec:
      selector:
        app: elasticsearch
        role: master
      ports:
        - port: 9300
          targetPort: 9300
          name: data

[2020-07-05 13:28] jayunit100 commented on #91236
cc @mattfenwick

[2020-07-05 13:31] jayunit100 commented on #91236
For anyone reproducing this issue btw,
- you need a multinode k8s cluster (it isnt doable on kind i guess bc less likeliehood of network failures when running local)
- `sonobuoy run --plugin e2e --e2e-focus 'Services should be able to preserve UDP'`

[2020-07-05 13:36] ethrbunny commented on #92807
/sig network

[2020-07-05 13:36] ethrbunny commented on #92807
/kind bug

[2020-07-05 14:19] danwinship commented on #92412
/retitle IPv6 NodePort not binding with ipvs

if it happens with single-stack IPv6 too then we shouldn't have "dual-stack" in the bug title or people will assume it's specifically related to dual-stack-ness (eg, it's ignoring the secondary IP family) rather than being related to IPv6-ness.

[2020-07-05 14:21] giuseppe commented on #92766
it is a regression in runc: https://github.com/opencontainers/runc/pull/2503

[2020-07-05 15:36] irozzo-1A commented on #92374
@cheftako I tried to implement the url support [here](https://github.com/kubernetes/kubernetes/compare/master...irozzo-1A:add-url-support) (just a PoC). If conceptually you have nothing against I could polish it and open a PR.

[2020-07-05 15:53] ranasheel2000 commented on #92412
It's ok to keep dualstack in title because I have not tested it in ipv6 only cluster.
Also all recent issues are based on dualstack cluster setup.

[2020-07-05 16:20] dvaldivia commented on #92559
I can confirm I see this behavior on both Kind and GKE clusters.

If the DNS resolution could happen sooner, the stateful services that rely on peer communication could start sooner. Regular ClusterIP services register immediately, so it must be possible I guess.

[2020-07-05 16:44] rjshree opened #92808 "Kubernetes 1.16 hpa not working, cpu utilization unknown error"
I'm new to kubernetes auto scaling and I'm trying to autoscale deployments. I had deployed metrics-server from https://github.com/kubernetes-sigs/metrics-server/releases/

**Logs of deployment:**
clusterrole.rbac.authorization.k8s.io/system:aggregated-metrics-reader unchanged
clusterrolebinding.rbac.authorization.k8s.io/metrics-server:system:auth-delegator unchanged
rolebinding.rbac.authorization.

[2020-07-05 16:57] rjshree commented on #92808
/autoscaling

[2020-07-05 18:06] kaplandani opened #92810 "ImagpullPolicy - add an option to pull based on hash and not on name"
I would like to add another ImagpullPolicy that will only pull an image if the name is new or the hash is different.

**Why is this needed**:
Some repositories use to tag the latest stable version with :latest tag.
If I don't want to rewrite the deployment data and update the version as the repo advance I should be able to use latest
then the kublet will check - if the name exists - compair the ha

[2020-07-05 18:09] george-angel commented on #85643
/remove-lifecycle stale

[2020-07-05 18:11] rjshree commented on #92808
Should my kube-controller-manager include below commands to make hpa working?
--horizontal-pod-autoscaler-sync-period
--horizontal-pod-autoscaler-sync-period
--horizontal-pod-autoscaler-cpu-initialization-period

**My kube controller commands:**
kube-controller-manager
--allocate-node-cidrs=true
--authentication-kubeconfig=/etc/kubernetes/controller-manager.conf
--authorization-kubeconfig=/etc/kub

[2020-07-05 18:16] kaplandani commented on #92810
/sig apps

[2020-07-05 18:18] tamalsaha commented on #88252
/remove-lifecycle rotten

[2020-07-05 18:52] jayunit100 commented on #91236
Curious about two potential hypotheses to fix this, have we looked into either of these?

1) can we confirm that `NodeLocalDNSCache` is turned on/off?
2) is it possible that scaling the number of coredns replicas could help ?

[2020-07-05 19:38] jayunit100 commented on #92559
Yeah , i see it in kind for sure,   Curious, why do you think the Total OKs fluctuates up and down  ?
[code]

[2020-07-05 21:18] leodotcloud commented on #90770
[The error messages related to this issue were seen in a k8s 1.15.5 cluster]

**TL;DR:**
The second delete operation results in an error message in the kube-controller-manager logs, but it's harmless. Doesn't cause an inconsistent state.

**Detailed information:**

[PersistentVolumeController](https://github.com/kubernetes/kubernetes/blob/v1.15.5/pkg/controller/volume/persistentvolume/pv_controlle

[2020-07-05 21:25] ialidzhikov commented on #88613
/remove lifecycle-stale

[2020-07-05 21:26] ialidzhikov commented on #88613
/remove-lifecycle stale

[2020-07-05 21:36] liggitt commented on #92810
That is exactly what the `Always` policy does. It resolves the image name to a sha and pulls that sha if it does not already exist locally.

[2020-07-05 21:36] #92810 closed

[2020-07-05 22:32] abdennour commented on #10323
@heidemn  I am already using Terraform.. But I still needs this feature because my nginx-ingress controller is created thru Helmfile.
And helmfile provider is not mature.
So I designed to do the following on my terraform plan :
1. Create AWS ELB
2. Call Helmfile : If this feature is implemented, I just need to pass the DNS of the created ELB as values to Helmfile.

Now, this is needs a critical de

[2020-07-05 23:26] dvaldivia commented on #92559
I have a deadline of 1 second on the request, perhaps there’s a timeout when contacting one of the peers, I can make it configurable vía environment variable if you’d like

[2020-07-06 00:15] #87484 closed

[2020-07-06 00:23] segevfiner commented on #84210
/remove-lifecycle stale

[2020-07-06 01:11] jayunit100 commented on #92559
It’s odd though that all peers go to zero after initially being positive values ? Just thinking out loud. Does it cut out early on failure ?

[2020-07-06 01:16] #86451 closed

[2020-07-06 01:57] #92285 closed

[2020-07-06 02:35] hasheddan commented on #92795
Looks like failure started after this was merged: https://github.com/kubernetes/kubernetes/pull/92750

Don't see how that would be affecting the test that is failing, but the duration spiked dramatically on the subsequent run: https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-master&graph-metrics=test-duration-minutes

[2020-07-06 05:48] uablrek commented on #92412
@Abhishek1121-tech Please use the issue template next time. It is there for a reason. Information essential for trouble shooting is missing in this issue, e.g cni-plugin, kernel version, etc. We shall not have to ask for these things.

I can not recreate this bug with K8s v1.18.5 and calico/cni:v3.14.0;
[code]

@ranasheel2000 @Abhishek1121-tech Please provide logs for kube-proxy. Please as a text-

[2020-07-06 06:08] Hellovolcanoofficial commented on #55386
I met that problem too? Any solutions?

[2020-07-06 06:11] ialidzhikov commented on #86753
/remove-lifecycle stale

[2020-07-06 07:00] shikanon commented on #88581
/close

[2020-07-06 07:00] #88581 closed

[2020-07-06 07:25] ialidzhikov commented on #88611
/remove-lifecycle stale

[2020-07-06 08:10] uablrek commented on #92412
A printout from `ipvsadm -Ln` may also provide useful info.

[2020-07-06 09:18] snowplayfire opened #92820 "Add a new metric type `Replicas` for HPA"
**What would you like to be added**:

HPA has three metric types that are `Resource`, `Pods` and `Object`.

I want to add a new metric type `Replicas` for HPA which stands for direct target replicas. Implemention like:
[code]
Corresponding `replicas-metrics-server` can register with kube-apiserver and output the target replicas for the metric named `cron-metric`.

`Replicas`, `Resource`, `Pods` an

[2020-07-06 09:28] muthu31kumar commented on #85560
Thanks @rodrisbach. It is resolved.

[2020-07-06 09:31] lubronzhan commented on #92496
@divyenpatel This is the output
Before I created statefulSet:
[code]
After I created a statefulSet:
[code]

This is the sts manifest:
[code]

[2020-07-06 09:52] Fillo22 opened #92822 "NodeSelector on Namespace"
**What would you like to be added**:
It is necessary to assign a certain NodeSelector to a namespace.
At the moment this function is not supported except at Pod level.

**Why is this needed**:
This functionality is necessary to be able to assign workloads to dedicated namespaces,
that refer to nodes with specific features and functionality.
For example, if I need to deploy a memory intensive appli

[2020-07-06 09:59] Fillo22 commented on #92822
/sig scheduling

[2020-07-06 10:08] skilxn-go commented on #92822
Can this satisfy your requirements?
[podnodeselector](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#podnodeselector)

[2020-07-06 10:22] knrt10 commented on #57601
DId someone found the solution to this?

[2020-07-06 11:00] Fillo22 commented on #92822
@skilxn-go thank you for the suggestion.
I will reach back this issue when i have some updates.

[2020-07-06 11:13] jtslear commented on #90902
/milestone v1.20

[2020-07-06 12:02] derekrprice commented on #57291
@tedyu, I would still prefer a solution that subtracts container runtime from the backoff time calculation, as I proposed in https://github.com/kubernetes/kubernetes/issues/57291#issuecomment-561634523, but your solution at least puts a cap on our pain.  MS has yet to fix its deadlock issue, and a 10 second pause in our log processing would be much preferable to 5 minutes!

/remove-lifecycle stale

[2020-07-06 12:38] yungvj commented on #92125
/help-wanted

[2020-07-06 12:46] hasheddan commented on #92795
Hmm, just saw a successful run this morning :thinking:

[2020-07-06 12:50] yuanhuaiwang opened #92826 "the depth of disruption workquque is too long"
/area controller-manager
What would you like to be added:
Don't resync disruption in disruption controller.
Why is this needed:
There are 3000+ deployments in my k8s cluster, thus when i create  all deployments,the depth of  disruption workquque is too long in every period, the period of collecting data is 10s, i found that the depth of  disruption workquque less than or equal the number of disrup

[2020-07-06 14:03] #92807 closed

[2020-07-06 14:08] ranasheel2000 commented on #92412
Dear @uablrek , really appreciate your follow up.

As per your input on other [bug](https://github.com/projectcalico/calico/issues/3737) , this issue is related to old kernel version.
Same is confirmed on our setup with updated kernel version, its working fine.
# uname -snr
Linux cali-master 5.7.7-1.el7.elrepo.x86_64

Thanks again for prompt input.

I request @Abhishek1121-tech to update kernel ve

[2020-07-06 14:09] alculquicondor commented on #88919
/help

We should handle this in 1.20

[2020-07-06 14:10] alculquicondor commented on #88919
/unassign @angao

[2020-07-06 14:11] BjoernT commented on #92761
That appears to be implemented for the LB service IP but not the node ports. Question would be if this is was expected to work.

[2020-07-06 14:25] ranasheel2000 commented on #92412
Closing this bug.
/close

[2020-07-06 14:46] rikatz commented on #92276
/remove-triage unresolved

[2020-07-06 14:48] rikatz commented on #91331
@wk60807430 if kube-proxy is running as a DaemonSet (or maybe flannel), can you please post in a pastebin or here (but not being an image, please!) the output of the following commands:

[code]

Thank you!

[2020-07-06 15:21] neolit123 commented on #92795
^ the failure seems to be happening in a SIG Node test. it doesn't feel related to the kubeadm / kinder infrastructure itself.

/sig node

[2020-07-06 15:21] neolit123 commented on #92751
/remove-priority awaiting-more-evidence
/priority backlog

[2020-07-06 15:30] sunnoy opened #92833 "pods in one node get request via svc ip can make somethings error"
1、 pod1 and pod2 in one node
2、 svc2 is  pod2s service ip
3、 in pod1 ,i request svc via svc2
4 、i get pod2`s ip

i use ipvs and the k8s ver is 1.18.3

<img width="1440" alt="pic" src="https://user-images.githubusercontent.com/19342276/86610999-a6c92100-bfe0-11ea-980d-ac6217a85dda.png">

kube-proxy args --cluster-cidr=22.168.0.0/16

[2020-07-06 15:35] sunnoy commented on #92833
/network

[2020-07-06 15:37] jwforres commented on #83961
not giving up on this one
/remove-lifecycle stale

[2020-07-06 15:41] david-enli commented on #92276
hi @rikatz I sincerely apologize for the late delay, this was logged using a different git account and I missed your previous pings. In the meantime, my team member came accross this open issue https://github.com/coreos/flannel/issues/1243 and we have adopted one of the solutions provided in the comments: Logging into the node and turn off flannel device check sum by running: `ethtool -K flannel.1

[2020-07-06 15:52] neolit123 commented on #92795
it's happening here:
https://github.com/kubernetes/kubernetes/blob/a26f50a52eaf3acae5f7b9ee628f77729dfdf2df/test/e2e/node/events.go#L97-L113
it tries to list scheduler events but fails.

yes, there is a green run from today, which is odd.

[2020-07-06 16:23] rikatz commented on #92276
@david-enli no problem :D

I was trying to figure out if this was also related with #88986 and it seems to be. There's a PR already merged for this here #92035 and a good explanation also why this happens.

As this is a dup and already solved, I'll close this issue but please feel free to re-open if you think there's a need to deal with something else

Tks

/close

[2020-07-06 16:23] #92276 closed

[2020-07-06 16:25] uablrek commented on #92412
Probably this is the root-cause https://github.com/kubernetes/kubernetes/issues/89520

Closing as requested
/close

[2020-07-06 16:25] #92412 closed

[2020-07-06 16:26] admilazz commented on #89899
/remove-lifecycle stale

[2020-07-06 16:27] rikatz commented on #92790
@mithleshmeghwal can you please follow the issue template and provide further information? Tks

/triage needs-information

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `

[2020-07-06 16:29] uablrek commented on #69845
Will be fixed by https://github.com/kubernetes/kubernetes/pull/92744

[2020-07-06 16:38] schrej commented on #3949
Hi all. I've recently chosen this issue as the topic of my master thesis. While I'll mostly be working on this for my thesis, I'd love to contribute to the project if I manage to find a good solution.

After reading a lot of code and getting a very rough grasp about the internals of kubelet I have to decide how to integrate migration into the API. As mentioned in this issue before, this is one of

[2020-07-06 16:57] BenTheElder commented on #91236
regarding 1)
kubeadm does not ship nodeLocalDNSCache
I don't think GCE kube-up does by default either

[2020-07-06 17:36] adammw commented on #92769
Is this something that should be discussed on this issue or that previous issue reopened? There didn't seem to be a agreed resolution. Exiting the kubelet process with an error code would be sufficient for our use case, as we run under systemd service which can restart the process if this occurs.

[2020-07-06 17:40] 2rs2ts commented on #75957
It's already common for replication controllers like Deployments and StatefulSets to be "valid" but create pods that are invalid, and to only be able to discover this once you've applied the configuration. So while I think it would be sweet for there to be validation for replication controllers at apply time, it's not necessary since us k8s users are already so used to having to wait to see if the

[2020-07-06 17:54] tnqn opened #92837 "endpointSliceTracker memory leak"
**What happened**:
The endpointSliceTracker creates a set of resource versions for each service, the resource versions in the set could be deleted when endpointslices are deleted, but the set and its key in the map is never deleted, leading to memory leak.
https://github.com/kubernetes/kubernetes/blob/a26e5881d8aa38aaa0a56c78050fd4ea14611c9f/pkg/controller/endpointslice/endpointslice_tracker.go#L3

[2020-07-06 18:24] sayanchowdhury commented on #92795
I'm seeing flakes in the test for `kubeadm-kinder-upgrade-1-18-master` as well.
https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-upgrade-1-18-master

[2020-07-06 18:43] adtac commented on #92781
@Huang-Wei I can fix this in defaultpreemption too, if that's okay with you.

[2020-07-06 19:05] Huang-Wei commented on #92781
@adtac that's being worked in #92682, thanks anyway.

[2020-07-06 19:52] palrabt opened #92843 "After several reboots "Node became not ready""
Hey, I am testing failure scenarios on our system. After several reboots the system reaches a point when some of the pods do not start up. I checked the journalctl logs and I found this:

[code]

It says that "KubeletNotReady" however if I check the node:

[code]
As you can see I am using `v1.18.2` previously I was using `v1.14.9` a this test case did not have a problem.

Currently these pods are

[2020-07-06 20:06] palrabt commented on #92843
/sig node

[2020-07-06 20:08] palrabt commented on #92843
/kind bug

[2020-07-06 20:35] #86482 closed

[2020-07-06 22:35] jpbetz opened #92844 "Add 'transferring ownership' section to server side apply section of api-concepts documentation"
Per release notes section of https://github.com/kubernetes/kubernetes/pull/92661 we need to clearly document how to safely transfer ownership of fields, like replicas during a owner->HPA transfer, such that they are not accidentally reset to their defaults (replicas has a default of 1).

The main strategies we should document are:
- user->controller: Waiting for a controller to take ownership of a

[2020-07-06 23:52] jpbetz commented on #92844
xref https://github.com/kubernetes/kubernetes/pull/92661/commits/1ffb40411eefbe0adc0429cc9a88717149dacc6c which tests that a basic ownership transfer works as expected

[2020-07-07 00:13] bsdnet commented on #92730
Good to know :)

[2020-07-07 00:19] mateuszlitwin commented on #92733
@feiskyer I can confirm that your change should address the problem I had. Do you know if your fix will be added to 1.18.x?

[2020-07-07 00:27] jpbetz opened #92848 "Document ListOptions.ResourceVersionMatch parameter on website"
Document in [API Concepts: Resource Version Parameter](https://kubernetes.io/docs/reference/using-api/api-concepts/#the-resourceversion-parameter) how the parameter works. All tables need to be updated.

xref https://docs.google.com/document/d/1P228Uo6_-U5-jIgJG9m9X-DMocOgQCyf1ltC5WFekAE/edit which contains documentation we originally had intended to add to the API documentation but was too verbos

[2020-07-07 00:27] jpbetz commented on #92848
/assign

[2020-07-07 00:27] jpbetz commented on #92848
/sig api-machinery

[2020-07-07 00:34] jroper opened #92849 "CRD default values broken when field is referenced by scale subresource"
If I take the CRD from the example for the scale subresource in the documentation:

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#scale-subresource

And I modify the schema to add a default value for the replicas field, as described in the documentation on defaulting on the same page:

https://kubernetes.io/docs/tasks/extend-kubernetes/custom-reso

[2020-07-07 00:37] jroper commented on #92849
/sig api-machinery

[2020-07-07 00:47] tedyu commented on #3949
I tried commenting on the above proposal.

It seems the handling of multi-paragraph comments is not as good as that of google doc.

Depending on other people's feedback, you can consider moving to google doc.

[2020-07-07 01:07] tedyu commented on #92843
[code]
Did the above occur for the 1.14.9 deployment where reboot took place ?

Thanks

[2020-07-07 01:14] liggitt commented on #92849
This is fixed in https://github.com/kubernetes/kubernetes/pull/89833 and in v1.16.10, v1.17.6, and v1.18.3

[2020-07-07 01:14] #92849 closed

[2020-07-07 01:19] liggitt commented on #92837
/cc @robscott

[2020-07-07 01:22] jayunit100 commented on #91236
ok, so now im curious about (2) - i.e. what if we just bumped coredns replica count?

[2020-07-07 01:27] jroper commented on #92849
Awesome!

[2020-07-07 01:54] neolit123 commented on #92795
wondering if this diff is actually what caused it instead (first run is green https://testgrid.k8s.io/sig-cluster-lifecycle-kubeadm#kubeadm-kinder-master):
https://github.com/kubernetes/kubernetes/compare/d7e364ad0...af29f81af

we have 5 commits that make unrelated kubeadm changes.

these commits make event system related changes:

@chelseychen @wojtek-t
ade2422 Switch event recorder to use events

[2020-07-07 02:09] Huang-Wei commented on #92795
@neolit123 b3741f3 seems irrelevant as that commit is effective only when a pod has preempted other pods and is being retried.

[2020-07-07 02:26] jayunit100 commented on #92559
Ahhhh  i see the issue, After some poking it became clear that

- The pods as you show are *clearly* up and running very quickly
- The time interval is religiously 30 seconds.

so, it turns out that by default, i think most of the time your CoreDNS is running the cache plugin with, you guessed it, *30* seconds for responses.  Thus, since your pod is querying before the other pods are up the first

[2020-07-07 02:40] zerkms opened #92851 "Secret volume update is not really atomic"
I think it's kind of relevant to https://github.com/kubernetes/kubernetes/issues/18372 at least to the Tim Hockin's https://github.com/kubernetes/kubernetes/issues/18372#issuecomment-163519777

**What happened**:

Today on kubernetes v1.17.5 I have experienced the following weird `Secret` behaviour:

1. My application has a mounted `Secret` `/app-secret`, so its keys are files in the filesystem.
2

[2020-07-07 02:41] yqwang-ms commented on #83725
/remove-lifecycle stale

[2020-07-07 02:42] zerkms commented on #92851
/sig api-machinery

[2020-07-07 03:23] cosmo0920 opened #92852 "fluentd-elasticsearch image should load simple sniffer class"
**What would you like to be added**:

Sometimes reported in fluent-plugin-elasticsearch repository for exhausted Elasticsearch cluster issue due to elasticsearch ruby client sniffering issue.
This should be fixed with https://github.com/uken/fluent-plugin-elasticsearch/pull/459 but k/k fluentd-elasticsearch image doesn't use this.

**Why is this needed**:

This change should be also applied in the

[2020-07-07 03:28] cosmo0920 commented on #92852
/sig instrumentation

[2020-07-07 03:37] #90931 closed

[2020-07-07 03:53] #92833 closed

[2020-07-07 04:42] feiskyer commented on #92733
@mateuszlitwin  #92814 is working on the cherry pick

[2020-07-07 04:43] jjangga0214 commented on #86865
/remove-lifecycle stale

[2020-07-07 06:16] yue9944882 commented on #92851
/sig node

[2020-07-07 07:56] cosmo0920 commented on #92852
/sig cloud-provider

[2020-07-07 08:19] aojea commented on #91236
interesting, :thinking: why do you think is a DNS thing? the netcat command that polls the services use the IP addresses not the hostname.

I think that it has to be related to some iptables/conntrack race or similar,at least in KIND jobs we know that we have an iptables problem that affects network tests, that has to be fixed before this because it affect this test https://github.com/kubernetes-s

[2020-07-07 08:28] superbrothers commented on #89092
Is the pod phase not considered? When the pod phase is running, the requested resource is actually considered as `sum(podSpec.scontainers)`. This change seems to reduce the resource utilization of the node.

[2020-07-07 08:43] mkumatag opened #92855 "kubelet fails to create kubepods cgroup on larger machine with 512 processors with systemd CgroupDriver"
**What happened**:
kubelet fails to create kubepods cgroup on larger machine with 512 cpus, fails with the following error:

[code]

**What you expected to happen**:
Run kubelet properly without any error
**How to reproduce it (as minimally and precisely as possible)**:
Start the kubelet on a machine which has a more processors

[code]
**Anything else we need to know?**:

**Environment**:
- Kubern

[2020-07-07 08:44] mkumatag commented on #92855
/sig node

[2020-07-07 08:46] mkumatag commented on #92855
When I changed CgroupDriver to cgroupfs, kubelet is running is fine:
[code]

[2020-07-07 08:47] mkumatag commented on #92855
And here is the sample code which is creating this issue:

[code]

[2020-07-07 09:15] fengzixu commented on #89092
@superbrothers Actually, I don't think we need to consider the pod.Phase. The resource request & limit are mainly used in the scheduling process. The scenario you said is not belong to the responsibility of kube-scheduler

[2020-07-07 09:31] donkon commented on #45509
@jorenvs this seems to be the best approach for me. Do you have any findings regarding you solution?

[2020-07-07 10:16] jmp0x0000 opened #92857 "LoadBalancer Service with externalTrafficPolicy:Local and IPVS is not reachable within the cluster"
**What happened**: A pod exposed through loadbalancer with `externalTrafficPolicy:Local` is not reachable by exposed IP address from the same cluster. However this works when the client pod and service pod are running on the same node.

**What you expected to happen**:  The loadbalancer service with `externalTrafficPolicy:Local` to be available from inside and outside of the k8s cluster by `kube-p

[2020-07-07 10:19] jmp0x0000 commented on #92857
/sig network

[2020-07-07 10:26] jmp0x0000 commented on #92857
/area ipvs

[2020-07-07 10:33] ryan4yin opened #92858 "namespace `monitoring` cannot be deleted"
**What happened**:

deleting namespace stuck at "Terminating" state, delete its `spec.finalizers` didn't help.

namespace's status:

[code]

the message in `status.condition` shows that apiserver reported `INTERNAL_ERROR`.

### check the apiserver's error log:

[code]

**What you expected to happen**:

the namespace and pods can be deleted properly.

**How to reproduce it (as minimally and precise

[2020-07-07 10:39] ryan4yin commented on #92858
/sig api-machinery

[2020-07-07 10:41] palrabt commented on #92843
@tedyu No. We have executed ~50 reboots but the issue did not occure on 1.14.9

[2020-07-07 10:53] blurpy commented on #86948
We just had this issue in production with on-premise Kubernetes 1.15.9. It took a lot of effort to get everything working again afterwards with the application who suffered this.

Seems this issue is still present in 1.16 :/

Can we please reopen this? Data loss bugs are extremely critical.

[2020-07-07 11:01] whymatter commented on #86948
Hi @blurpy I migrated to rook.io with ceph. For me, this is an extremely stable solution and easy to manage.

[2020-07-07 11:09] #87252 closed

[2020-07-07 11:12] blurpy commented on #86948
@whymatter Thanks for the tip. Have heard good things about ceph, but we wont be able to migrate away for years probably, so I'm hoping for a fix before we encounter this again.

[2020-07-07 11:21] Cweiping opened #92859 "label-selector flag why not support '||' condition"
**What happened**:
[code]
[code]

**What you expected to happen**:
Support operations similar to the following,Support `or` or or `||`:

[code]
or

[code]

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
Why is [it](url) the wrong expression?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/labels/select

[2020-07-07 11:25] schrej commented on #3949
I've moved the proposal to Google Docs. That should also make it easier to start a conversation as Docs should send notifications when one replies to comments.
@tedyu I've copied your comments over as well and responded to them.

[2020-07-07 11:41] munnerz commented on #92678
In cert-manager we have a `duration` field on our own CertificateRequest resource. Due to the fact that our equivalent of signers _may_ ignore this, we treat it as more of an advisory/request from the user rather than a hard-and-fast rule. Other parts of the project (i.e. automated renewal) exclusively use the NotBefore, NotAfter and our own `renewBefore` field (the amount of time before NotAfter

[2020-07-07 11:43] munnerz commented on #92678
Should we also update the KEP/documentation to state that users should not presume anything about the properties of the x509 certificate when a CSR is signed based on the `signerName`?

In cert-manager we certainly do not - we determine whether the current specification of our `Certificate` resource is 'up to date' for the most recent *CertificateRequest* solely by comparing the contents of that x

[2020-07-07 11:51] RobertKielty opened #92861 "[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:NEG] rolling update backend pods should not cause service disruption"
**Which jobs are flaking**:
[gci-gce-ingress](https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress)
**Which test(s) are flaking**:
[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:NEG] rolling update backend pods should not cause service disruption

[1280381212459798532 - Prow Job  - ci-kubernetes-e2e-gci-gce-ingress ](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kuber

[2020-07-07 12:03] pacoxu commented on #92287
**Proposal 2: annotation on pvc iops limit of pod**

Why I think proposal 1 is not good?
1. Device is not visable from application user. Based on the thought of proposal 1，user may not know the device of pod or pv.
2. Container Runtime must be docker in proposal 1. Docker is not the only runtime of kubernetes. Container runtime can be rkt or podman,  to ignore the effect of container runtime.

Pro

[2020-07-07 12:10] alejandrox1 commented on #89443
/lifecycle active
/priority important-longterm

[2020-07-07 12:23] Fillo22 commented on #92822
As an alternative solution it could be convenient and temporary, however, in my opinion, I think it is much easier to assign a podSelector to a namespace.

[2020-07-07 12:30] alejandrox1 commented on #92674
/remove-help wanted

[2020-07-07 12:37] knabben commented on #92673
/assign knabben

[2020-07-07 12:46] giuseppe commented on #92766
PR opened here: https://github.com/kubernetes/kubernetes/pull/92862

CRI-O tests: https://github.com/cri-o/cri-o/pull/3858

[2020-07-07 12:51] #87888 closed

[2020-07-07 12:57] mvukadinoff opened #92864 "podAntiAffinity weights not taken into account when multiple podAffinityTerm are specified"
**What happened**:

When defining multiple podAffinityTerms only one is taken into account. Changing weights on the second one doesn't seem to affect scheduling when soft rules are applied (preferredDuringSchedulingIgnoredDuringExecution)

Definition of the deployment:
[code]

When applied for the deployment and we play with the replicas we see that after the zone requirmeent is met the hostname r

[2020-07-07 13:00] anumodkubernetes opened #92865 "Kubernetes failed to start after installation throwing errors"
**Which jobs are failing**:
 kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/usr/lib/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /usr/lib/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: inactive (dead) (Result: exit-code) since Tue 2020-07-07 14:13:10 EDT; 11s ago
     Docs: https://kubernetes.io/docs/
  Process: 58

[2020-07-07 13:06] RobertKielty commented on #92360
@neolit123 @BenTheElder

[sig-release-master-blocking#integration-master](https://testgrid.k8s.io/sig-release-master-blocking#integration-master&sort-by-flakiness=&embed=) is still flaking, will a reviewed #92490 resolve the flakiness?

[2020-07-07 13:19] neolit123 commented on #92851
/remove-sig node

[2020-07-07 13:19] RobertKielty commented on #91548
kubernetes/k8s.io#987 is merged

[2020-07-07 13:29] neolit123 commented on #92360
it will not. https://github.com/kubernetes/kubernetes/pull/92490 increases the timeout for `k8s.io/kubernetes/cmd/kubeadm/test/cmd*` tests, but looking at testgrid i don't see any recent flakes for these tests, so closiing https://github.com/kubernetes/kubernetes/pull/92490 is an option too.

the flakiest recent ones are for `k8s.io/kubernetes/test/integration/scheduler*` (sig-scheduling) and `k8s

[2020-07-07 13:38] hasheddan commented on #91860
It is expected that https://github.com/kubernetes-sigs/cluster-api-provider-aws/pull/1760 will provide a fix

/cc @randomvariable

[2020-07-07 13:39] randomvariable commented on #91860
/assign

[2020-07-07 13:39] randomvariable commented on #91860
/lifecycle active

[2020-07-07 13:39] chelseychen commented on #92795
Hi @neolit123, The two commits about events were from #92662, which simply replaced all usage of events/v1beta1 in to events/v1, there's nothing about kubeadm, so it should be irrelevant.

[2020-07-07 13:43] neolit123 commented on #92795
@Huang-Wei
thanks, i can see this not being related.

@chelseychen the failing test seem related to missing scheduler events and not to the kubeadm setup in general.
are we sure that events/v1 and https://github.com/kubernetes/kubernetes/pull/92662 did not introduce mechanical changes that could make the e2e here to fail https://github.com/kubernetes/kubernetes/blob/a26f50a52eaf3acae5f7b9ee628f777

[2020-07-07 14:08] alculquicondor commented on #89092
Correct. Setting appropriate requests/limits that maintain good node usage is users responsibility.

Considering the max(initContainers, sum(containers)) is the documented behavior.

[2020-07-07 14:16] joelsmith commented on #81125
/close
Fixed by #87273

[2020-07-07 14:16] #81125 closed

[2020-07-07 14:23] neolit123 commented on #81756
/reopen
/remove-lifecycle rotten

this feels like a viable bug to fix.

[2020-07-07 14:29] neolit123 commented on #81756
evicting the sandbox image doesn't feel correct WRT imageGC, but it's tricky as you need to tell the kubelet which is the sandbox image. this implies that --pod-infra-container-image is really not a dockshim only flag.

[2020-07-07 14:37] superbrothers commented on #89092
I understand. Thank you for your comments!

[2020-07-07 14:40] hjkatz commented on #44165
/reopen

[2020-07-07 14:45] deitch commented on #44165
/reopen

[2020-07-07 14:47] liggitt commented on #92795
the `[k8s.io] [sig-node] Events should be sent by kubelets and the scheduler about pods scheduling and running [Conformance]` test passed on https://github.com/kubernetes/kubernetes/pull/92662 in presubmit...

In the first failure (https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-master/1280209832661487616), the e2e test logs this pod:

but I don't see any API

[2020-07-07 15:02] howardjohn opened #92867 "CRD v1 re-apply hangs"
**What happened**:

CRD apply hangs:

[code]

**What you expected to happen**:

CRD apply completes or has an error

**How to reproduce it (as minimally and precisely as possible)**:

I can reproduce with the two simple steps above, on a fresh kind cluster from `kindest/node:v1.18.2`. Yaml below:

[repro.yaml.txt](https://github.com/kubernetes/kubernetes/files/4885582/repro.yaml.txt)

**Anything e

[2020-07-07 15:04] howardjohn commented on #92867
/sig cli

[2020-07-07 15:07] jansenmccloud commented on #60789
**Problem:**
I Had the same issues with not being able to create dynamic hostNames for each pod. The value of the configurable pod's spec.hostname needed to be static (referencing another value like pod's metadata.uid via env vars resulted in a DNS name validation error).

**Use case:**
Consul is running in Kubernetes containing an API Gateway to load balance incoming service calls. For that, inst

[2020-07-07 15:12] RobertKielty opened #92868 "[Failing Test] verify-master (ci-kubernetes-verify-master)"
**Which jobs are failing**:

[sig-release-master-blocking#verify-master](https://testgrid.k8s.io/sig-release-master-blocking#verify-master)

**Which test(s) are failing**:
**Overall**
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1280458722404995075
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-verify-master/1280458722404995075#1:build-log.tx

[2020-07-07 15:17] RobertKielty commented on #92868
/sig test

[2020-07-07 15:21] hasheddan commented on #92868
@RobertKielty can this be tracked on https://github.com/kubernetes/kubernetes/issues/87807 or do you think it requires a new issue? It looks like we are having bunches of flakes that cause the job to report failing, then it recovers.

/retitle [Failing Test] verify-master (ci-kubernetes-verify-master)
/sig testing

[2020-07-07 15:29] RobertKielty commented on #92868
@kubernetes/test-infra-maintainers can you please take a look at these timeouts when you get a chance? Many thanks.

[2020-07-07 15:31] Zheaoli commented on #92867
I can reproduce this issue

[2020-07-07 15:32] RobertKielty commented on #92868
It _seems_ to me that all of the work carried out for #87807 has been merged, might be best to keep this open until test infra call this out as a dupe of that issue.

[2020-07-07 15:38] BenTheElder commented on #92868
Not exiting before the grace period means we hit the timeout configured on the job and then it didn't exit after being signaled before the grace period (which is too short by default, unrelated to this we should change that)

Verify is taking too long. We can either make it faster or kick the can down the road and increase the time limit.

[2020-07-07 15:41] hasheddan commented on #92868
@BenTheElder I think I would vote for kicking the can down the road while investigating making it faster

[2020-07-07 16:01] lavalamp commented on #92157
I think, fundamentally, this exposes a very direct conflict between availability and security. Right now, we accidentally require a great deal of coupling between webhook config author and cluster administrator, which are fairly different roles. A second problem is that we can only choose from two modes, "everything is great" and "fail this request (and the entire chain of things that depend on th

[2020-07-07 16:08] chelseychen opened #92870 "Add AddFieldLabelConversionsForEvent for new events/{v1beta1, v1} conversions"
**What happened**:

We're missing for events/v1 and events/v1beta1.

**What you expected to happen**:

We should add a similar function as introduced in core/v1: https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/conversion.go#L449

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2020-07-07 16:15] brianpursley commented on #92734
/assign

[2020-07-07 16:24] liggitt commented on #92795
When events are recorded via events/v1, they omit the source field, which means the selector used by that test will not match.

We need to do the following:
1. convert the reportingController/reportingInstance fields in events/v1 to source.component/source.host fields in core/v1
2. define field selectors for events/v1beta1 and events/v1 APIs
3. figure out why this test behaves differently in presu

[2020-07-07 16:27] brianpursley commented on #92734
Funny thing about this is if you look in the build logs it is not immediately obvious that it is caused by generators being removed from `kubectl run` because `kubectl run` actually has sort of an unexpected behavior, where it tells you it is deprecated and gives you a pod instead...

For example:
[code]

Output:
[code]

[2020-07-07 16:30] msau42 commented on #92287
@kubernetes/sig-storage-feature-requests

[2020-07-07 16:35] lavalamp commented on #92157
Here's an observation: when a "Fail" webhook is breaking the cluster overall, there must be some sort of cycle that is preventing recovery, and at least one of the N requests it is failing are part of that cycle.

So a very stupid way of fixing this is to make the webhook author provide a way of listing the components that implement the webhook, e.g. by a tuple of (namespace, API Group/Kind, name-

[2020-07-07 16:37] danwinship commented on #89816
/assign
/remove-lifecycle stale

updates proposed in https://github.com/kubernetes/enhancements/pull/1665 will make sure we only add validated IPs to Node.Status.Addresses

[2020-07-07 16:51] logicalhan commented on #75779
/remove-lifecycle stale

[2020-07-07 16:55] #28969 closed

[2020-07-07 16:57] mahendrabagul commented on #34314
Is there any solution to this issue? I have observed it when my cluster got autoscaled. The first worker node became Not Ready and its in the same status till now (After 8 hours).

[2020-07-07 16:58] mattcary commented on #92287
I think iops limiting would be a great idea, but I'm not sure if the current cgroups implementation will effectively implement it. For example, with non-direct device access, writes are buffered in the kernel and something like 80% of them will not be accounted to a cgroup (instead they're all aggregated together). I did a little bit of experimentation here: https://gitlab.com/mattcary/blkio_cgrou

[2020-07-07 17:00] mateuszlitwin commented on #92733
Thank you for quick fix!

[2020-07-07 17:04] jvanz commented on #90293
/assign @jvanz

[2020-07-07 17:14] alaxalves commented on #85752
Any updates with this?

[2020-07-07 17:54] ghahramani commented on #79606
I have the same problem I am trying to wait till the statefulset will all pods get ready but cannot find the status to check.

[2020-07-07 18:06] pjbgf commented on #81146
@cji do you mind updating line 35, it has been fixed with #91048

[2020-07-07 18:07] brianpursley opened #92877 "Failing e2e test: ci-gcp-compute-persistent-disk-csi-driver-release-0-5-k8s-master-integration"
I mentioned this one on #sig-testing in slack but wanted to make sure it is captured in the issue list.

https://storage.googleapis.com/k8s-gubernator/triage/index.html#09fc8a7ce004b711c724

Looks like the problem is that the [e2e test code](https://github.com/kubernetes/kubernetes/blob/f975b4b0dff48c6a580593f3bc05220c70afa367/test/e2e/storage/utils/create.go#L49-L78) does not deal with beta versi

[2020-07-07 18:08] brianpursley commented on #92877
/sig storage
/cc @msau42

[2020-07-07 18:09] dvaldivia commented on #92559
This makes sense, I guess with traditional `ClusterIP` services the same happens, I created a [similar experiment](https://raw.githubusercontent.com/dvaldivia/message/master/message-multi-svc.yaml) using `StatefulSet+ClusterIP Services` which results in the same behavior if the services are created after the pods start asking for the services.

Do you think then delegating a custom domain `message

[2020-07-07 18:11] cji commented on #81146
@pjbgf certainly :) thanks for all your work on these issues!

[2020-07-07 18:24] msau42 commented on #92877
@mattcary @saikat-royc could one of you look into updating our job config to test the latest released version of the driver against k8s master?

https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.5

We should probably also clean up and remove the 1.13 job as well

[2020-07-07 18:31] Jefftree commented on #88611
Hey sorry for missing this earlier. Can definitely confirm this is an issue and still happening on the latest version. The container is terminated on the node, but it is still shown to be running when obtaining the status from the API.

I'm not too familiar with this area, will loop in sig/node.

/cc @Random-Liu

[2020-07-07 18:52] neolit123 commented on #92865
hello, this is by design.
the kubelet service is supposed to crash loop until it can find it's configuration file (KubeletConfiguration) in /var/lib/kubelet/config.yaml

that said we have ideas to disable the kubelet service by default on installation:
https://github.com/kubernetes/kubeadm/issues/2178

/close
/triage support
/.sig cluster-lifecycle

[2020-07-07 18:53] #92865 closed

[2020-07-07 19:10] jingxu97 commented on #87905
Continue to debug PD test failure: Multi-AZ Cluster Volumes [sig-storage] should only be allowed to provision PDs in zones where nodes exist

In recent runs, the failure is due to function ListZonesInRegion() does not return zones correctly.
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/gce/gce_zones.go#L77
The cause is because the regional link con

[2020-07-07 19:24] liggitt opened #92882 "EventAggregatorByReasonFunc doesn't consider reportingController, only source"
**What happened**:

Events reported with an empty source.component/source.host and with distinct reportingController/reportingInstance values are considered identical by EventAggregatorByReasonFunc

events.k8s.io/v1 events will not set source fields.

/assign @wojtek-t

[2020-07-07 19:25] liggitt commented on #92882
cc @chelseychen

[2020-07-07 19:33] apelisse commented on #89266
I'd like to see evidence that we need this. People, feel free to re-open!

[2020-07-07 19:33] #89266 closed

[2020-07-07 19:48] maxsmythe commented on #92157
Another issue with the idea of trying to detect dependency cycles is that it's turtles all the way down, as dependencies may have dependencies, and those ancillary dependencies may vary based off cluster version.

For instance, I'm guessing many webhooks depend either directly or indirectly on kube-controller-manager, which depends on leader election, which means they have a transitive dependency

[2020-07-07 19:51] alculquicondor commented on #87905
scheduler fix is almost merged #92840

[2020-07-07 19:53] alculquicondor commented on #87905
/sig scheduling

[2020-07-07 19:57] saikat-royc commented on #92877
/assign

[2020-07-07 19:59] AlekseyBekirov commented on #89672
This still happens on kubectl v1.18.5

[2020-07-07 20:00] carmelid commented on #63371
Fortunately I ran into this issue in dev, so I did not send any notifications to users or 3rd parties in production. As @inaz2 said

Please assign proper resources to take a look at this issue 🙏

[2020-07-07 20:02] lavalamp commented on #92157
Yeah that's a good point, in a cluster that's e.g. self-hosting controller manager, probably nearly all webhooks would want to exclude that, but how could a webhook author know a cluster is going to be set up like that?

I think that argues for the need for a global exclude list of some sort.

Alternatively, what if we added exclude lists to webhook configuration, but then *pooled* those, in memor

[2020-07-07 20:20] AndiLi99 opened #92886 "[Flaky test] pull-kubernetes-conformance-kind-ipv6-parallel"
**Which jobs are flaking**:
pull-kubernetes-conformance-kind-ipv6-parallel
**Which test(s) are flaking**:
I've run into only `[sig-network] Services should have session affinity timeout work for NodePort service [LinuxOnly] [Conformance]` flaking. #92555

You can also see #92660 [test history](https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=92660) run into this issue.

From the [

[2020-07-07 20:21] jescarri commented on #89903
I just ran into this issue, on eks v1.16.8-eks-e16311 and containerRuntimeVersion: docker://19.3.6

I'm prometheus and prometheus adapter and all my HPAs can't determine the metrics, any idea where to look?

I have the following query to determine cpu usage for a given pod/container:

[code]

Has anyone solved this? I'm tempted to change the promquery but I can't filter anymore by container_name.

[2020-07-07 20:22] fedebongio commented on #92700
/assign @roycaihw @jingyih

[2020-07-07 20:23] fedebongio commented on #92738
/assign @roycaihw

[2020-07-07 20:23] fedebongio commented on #92792
/cc @roycaihw
(since we assigned the PR to Haowei)

[2020-07-07 20:25] fedebongio commented on #92851
/cc @lavalamp

[2020-07-07 20:26] fedebongio commented on #92858
/assign @caesarxuchao

[2020-07-07 20:27] fedebongio commented on #92859
/sig cli

[2020-07-07 20:29] fedebongio commented on #92859
Under discussion / revision - there is multiple ways of implementing and /or workaround

[2020-07-07 20:31] roycaihw commented on #92859
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/90549

[2020-07-07 20:37] lavalamp commented on #92851
/sig node
/remove-sig api-machinery

A delay here could be a) watch delay between apiserver and kubelet, b) kubelet doing something wrong mounting the file, or c) user error: instead of an update, delete the secret and then later create another one of the same name.

a) shouldn't be able to cause this effect, kubelet just sees an update message on a watch, there's only one message.
b) is of course

[2020-07-07 20:38] howardjohn commented on #92867
I am surprised this could not be reproduced. I just tried on another machine and got the exact same results

Here is a 1 liner to reproduce:
[code]

[2020-07-07 20:41] alculquicondor commented on #87905
/sig storage

[2020-07-07 20:43] zerkms commented on #92851
At least in my report it's not the case: only `kubectl apply` was used.

[2020-07-07 20:45] pikeas commented on #38532
Just bit by this. Other than the restart counter incrementing, it is very non-obvious when a pod hits a memory limit. Kubernetes knows when a container is OOM killed, this should be surfaced as an event rather than buried in `describe`.

[2020-07-07 20:49] saikat-royc commented on #92877
PR for review : https://github.com/kubernetes/test-infra/pull/18198

[2020-07-07 20:50] howardjohn commented on #92867
[code]

Guess I am just impatient - it doesn't hang, it just takes nearly a minute to complete

[2020-07-07 20:54] jasonwzm commented on #92867
Another data point:
[code]
Happening both on a kind and a GKE cluster.

[2020-07-07 20:58] howardjohn commented on #92867
CPU profile
[Uploading cpu.pprof.gz…]()
![2020-07-07_13-57-51](https://user-images.githubusercontent.com/623453/86842309-dc5e2080-c059-11ea-80f8-18f7bc3ce750.png)

[2020-07-07 21:09] Nowaker commented on #37218
@thockin Please consider reopening this. When running many containers in a cluster, `exec` probes cause extremely high resource usage to the point exec probes consume more resources than actual workloads (https://github.com/kubernetes/kubernetes/issues/82440). We need a way to define multiple liveness/readiness probes that aren't `exec` probes.

[2020-07-07 21:10] AndiLi99 commented on #92886
/sig network

[2020-07-07 21:19] maxsmythe commented on #92157
The ability to have webhook-specific excludes definitely seems useful to me. It's more flexible, so we are at less risk of issues if our assumptions on how people use webhooks don't align with reality.

It would also allow for webhooks that are strictly run off-cluster to have broader enforcement capabilities.

One security risk of allowing multiple webhook resources to interact is that if users r

[2020-07-07 21:19] howardjohn commented on #92867
There is some sort of bug in the json patching. I instrumented it to prinnt of the two values in compares in `matchesValue`.

[code]

Its matching each field an enormous amount of times - the whole file, with 1 line per matchValue, grew to 5gb before I cut it off early

[2020-07-07 21:30] howardjohn commented on #92867
Also noticed that if there is any changes at all, its super fast. its only when everything is exactly equal we run into problems

[2020-07-07 21:54] sethev opened #92889 "dnsConfig applies RFC-1123 too broadly to searches"
**What would you like to be added**:

RFC-1123 defines restrictions to host names. In Kubernetes, these restrictions are also
applied to object names.

However, for search strings in dnsConfig, names that are perfectly valid according
to [RFC 2181 Section 11](https://tools.ietf.org/html/rfc2181#section-11) are rejected.

An example of this is using underscores in a subdomain:

[code]

Since this i

[2020-07-07 21:57] sethev commented on #92889
/sig network

[2020-07-07 22:29] Drugoy commented on #64168
/remove-lifecycle stale

[2020-07-07 22:56] neolit123 commented on #92855
so this is essentially a runc/libcontainer problem or a problem with the host configuration - e.g. the host `cpu.shares` having less than the requested `CpuShares: 524288`?

this line:

hints that your snippet is for an older version of runc.

rc8 renamed it to "Manager":
https://github.com/opencontainers/runc/blob/v1.0.0-rc8/libcontainer/cgroups/systemd/apply_systemd.go#L25-L29

is that the versi

[2020-07-07 23:19] jorenvs commented on #45509
@donkon atm mostly that having the pods do the scaling down themselves is really messy, as they end up reading and changing the scale around the same time. We're going to switch that by sending scale down requests to pubsub/rabbitmq queue.

[2020-07-08 00:35] hanumanthan commented on #92615
@mattmoor @dprotaso I am interested in picking this up and need help.
Can you give a bit more explanation on the issue and point me to the file where this is happening. Will it pick it up from there. Thanks

[2020-07-08 00:40] liggitt commented on #92867
This is a duplicate of https://github.com/kubernetes/kubernetes/issues/91615, fixed in master by #92069

[2020-07-08 00:41] liggitt commented on #92867
The backports are pending resolution of https://github.com/evanphx/json-patch/pull/108

[2020-07-08 00:42] howardjohn commented on #92867
Ah I was building from source but had an outdated branch. Thanks

[2020-07-08 01:07] jayunit100 commented on #92559
Hi ! Maybe lets discuss this in sig-network this week, can you come on thursday at 5 (EST) 2 (PST) ?
and we can close this issue and ill add it to the agenda: ?  Ive pasted the details below... Also I think we should discuss in general the right way to document this..... ?

[code]

[2020-07-08 01:10] jayunit100 commented on #91236
i figured DNS bc i believe its known that conntrack and DNS at scale can get very messy, right ?

[2020-07-08 01:11] liggitt commented on #92867
closing as a duplicate since this is fixed in master and cherry picks are already being tracked

[2020-07-08 01:11] #92867 closed

[2020-07-08 01:18] dvaldivia commented on #92559
sure, I'll be there!

[2020-07-08 01:18] liggitt commented on #92858
Do those custom resources use x-kubernetes-int-or-string in their schemas? A panic for that was fixed in 1.16.2 in https://github.com/kubernetes/kubernetes/pull/83789

[2020-07-08 01:21] liggitt commented on #92858
Let's limit this issue to the namespace deletion issue. Would you mind splitting the replicaset deletion to a second issue so it can be triaged by sig-apps?

[2020-07-08 01:22] HarryWeppner commented on #89936
/remove-lifecycle stale

[2020-07-08 01:29] msau42 commented on #92799
/assign @bertinatto

[2020-07-08 01:31] msau42 commented on #92598
A completed pod still has the volume mounted on the node and is not safe to delete. Only non-existence of the Pod object indicates that the volume has unmounted.

[2020-07-08 01:34] #92598 closed

[2020-07-08 01:36] niemyjski commented on #42649
Still an issue with AKS (1.16.7)

[2020-07-08 01:42] tariq1890 commented on #65502
Commenting for thread activity

[2020-07-08 01:47] ryan4yin commented on #92858
@liggitt ok

[2020-07-08 02:00] ryan4yin opened #92894 "when delete a Replicaset/Job, its children pod are not cascaded"
**What happened**:

when delete a Replicaset/Job, its children pod are not cascaded.

Replicaset was created by a deployment, delete the replicaset, the older pod did not be deleted:

[code]

delete the deployment, the replicaset did not be deleted:

[code]

**What you expected to happen**:

the pods can be deleted properly.

**How to reproduce it (as minimally and precisely as possible)**:

not s

[2020-07-08 02:03] ryan4yin commented on #92894
/sig apps

[2020-07-08 02:22] MikeSpreitzer opened #92895 "Inaccurate declaration of what conversion generator does"
**What happened**:
While reviewing work that adds a field to a custom resource defined by code rather than a CRD, I was alerted to a bug in the comment describing what the conversion generator does.  https://github.com/kubernetes/kubernetes/blob/7de3f938c82a7c0538bdfac5bb9b3cad50c30eae/staging/src/k8s.io/code-generator/cmd/conversion-gen/main.go#L34-L38 states that the Convert_... function is gene

[2020-07-08 02:22] MikeSpreitzer commented on #92895
@kubernetes/sig-api-machinery-bugs

[2020-07-08 02:57] akshaybhatt14495 opened #92896 "Labels propagation from resource (deployment) to derived set of resources (replica set, pods)"
**What would you like to be added**:
On adding Labels to resource like Deployment which is responsible for replica set and pods accordingly, Labels do not cascades to it's replica set and pods.

Let say I'm creating a Deployment D, corresponds to Replica set R and pods P1, P2, P3
Using this command to attach label to deployment
```kubectl label  --overwrite  --namespace <namespace> <resource-list>

[2020-07-08 03:02] akshaybhatt14495 commented on #92896
/sig Architecture

[2020-07-08 03:11] ryan4yin commented on #92858
yes, the definition of `servicemonitors.monitoring.coreos.com` has `x-kubernetes-int-or-string: true` in its scheme:

[code]

[2020-07-08 03:17] hardikdr commented on #92799
I have opened this, https://github.com/kubernetes/kubernetes/pull/92806, for k8s 1.17. Not sure if that's the best way, it would be nice if someone could take a look @msau42 @bertinatto.

[2020-07-08 03:19] liggitt commented on #92858
That seems likely to be the issue that was resolved in 1.16.2+, as well as in 1.17.x or 1.18.x

[2020-07-08 03:28] felipeschossler commented on #50295
I love you, so simple as that! :heart:

[2020-07-08 03:30] ryan4yin commented on #92858
@liggitt  ok, I'll try to upgrade to 1.17.x

[2020-07-08 03:48] jayunit100 commented on #91236
one other curious thing about this test is that we only create 2 pods in the recycling event for the svc.  that likely means that any real error is hidden by chance.  If we created a 3rd pod, then we might potentially double the failure rate thus making the flakyness go away and expose the real underlying issue .

[2020-07-08 04:50] davelosert commented on #79606
For everybody coming here, I suggest you try to use the `rollout status` command like this:
[code]

It is not exactly the same thing, but it might solve your use-case for this feature.

[2020-07-08 05:32] saikat-royc commented on #92877
0.7 driver test grid: https://k8s-testgrid.appspot.com/provider-gcp-compute-persistent-disk-csi-driver#Kubernetes%20Master%20Driver%20Release%200.7

[2020-07-08 05:47] GuyCarmy commented on #63371
another +1 for more resources on this issue,
last year I commented here when we had this happen with a not so important cronjob that cleans tests data from staging env.
a few weeks ago we had it with a cronjob that trigger customer emails!

[2020-07-08 06:12] mvukadinoff commented on #92864
/sig scheduling

[2020-07-08 06:13] mvukadinoff commented on #92864
/wg Multitenancy

[2020-07-08 07:12] yuanhuaiwang commented on #92826
/sig apps

[2020-07-08 07:37] abhi1604 opened #92898 "system:serviceaccount have unprivileged access to resources"
**What happened**:

I created a new namespace and a new serviceaccount in that namespace. I am able to access all the resources in the cluster using that service account without creating any RBAC rules for it.

I used `kubectl verb RESOURCE_NAME --as=system:serviceaccount:NS:SA_NAME` to check the above.

The above command gives results even when the serviceaccount and namespace in the above comman

[2020-07-08 07:38] kbruner commented on #80916
Hi @apelisse. Just a reminder that code freeze for 1.19 is tomorrow. Please let me know if I need to move the milestone for this issue to 1.20.

[2020-07-08 07:39] kbruner commented on #75564
Hi @kwiesmueller. Just a reminder that the code freeze for 1.20 is tomorrow. Please let me know if I need to update the milestone for this issue to 1.20.

[2020-07-08 07:59] chenqiangzhishen commented on #54967
add `--resource-container=` seems the error disappeared, pls see after `Jul 08 15:48:47 ` logs output.

[code]

[2020-07-08 08:03] abhinavg97 opened #92899 "kubectl run --dry-run=client does not put --namespace info in yaml"
**What happened**:

`kubectl run` command does not fill the namespace info in the yaml when operated with the `--dry-run=client -o yaml` option

**What you expected to happen**:

The yaml has the namespace info populated as specified in the run command

**How to reproduce it (as minimally and precisely as possible)**:

[code]
**Anything else we need to know?**:

**Environment**:
- Kubernetes versi

[2020-07-08 08:04] abhi1604 commented on #92899
sig/cli

[2020-07-08 08:05] abhi1604 commented on #92899
/sig cli

[2020-07-08 08:07] kwiesmueller commented on #75564
@kbruner you can update to 1.20 we didn't make it in time :-/

[2020-07-08 08:15] kbruner commented on #75564
/milestone v1.20

[2020-07-08 08:24] abhi1604 opened #92901 "kubectl expose does not check type validity when --dry-run=client flag is present"
**What happened**:

`kubectl expose  RESOURCE RESOURCE_NAME --type=x --port=NUM --dry-run=client -o yaml`
The above command populates the yaml with `spec.type=x`

**What you expected to happen**:

The type gets validated before the yaml is populated

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2020-07-08 08:25] abhi1604 commented on #92901
/sig cli

[2020-07-08 08:26] yuzhiquan commented on #91904
/unassign

[2020-07-08 08:37] zhaocheng173 commented on #92843
kubelet logs errors
`Image garbage collection failed once. Stats initialization may not have completed yet: failed to get imageFs info: unable to find data in memory cache
`

[2020-07-08 09:06] RobertKielty commented on #91236
There's an invocation of dumpConntrack(cs) here

[ci-kubernetes-kind-ipv6-e2e-parallel/1280770524372275200](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-ipv6-e2e-parallel/1280770524372275200)

[sig-network] Conntrack should be able to preserve UDP traffic when server pod cycles for a ClusterIP service

[2020-07-08 09:13] RobertKielty commented on #92386
This job is now classified as non-flaky.

[2020-07-08 09:20] DancingLinks commented on #85499
@jamihuq Hi, do you have time review my PR?  Thx

[2020-07-08 09:31] shalev123d commented on #83332
We're also facing this issue

[2020-07-08 09:34] RobertKielty commented on #90736
Last failure on this job for the UDP preservation conntrack issues was https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1276103618642055168
on  c. 2 weeks ago 06/25/2020.

[2020-07-08 09:37] RobertKielty commented on #90736
[sig-storage] CSI mock volume storage capacity exhausted, late binding, with topology hasn't failed in a long time I think that this issue can be closed.

[2020-07-08 09:50] zhiyxu opened #92903 "Pod stuck in ContainerCreating due to network related issue"
**What happened**:
Recently I encounter several senery that all pod stuck in ContainerCreating status due to FailedCreatePodSandBox:

[code]

kubelet log:

[code]

the essential log is:

[code]

I have no idea what happened when creating network stack by  calico, it just return an error without any output. And what drives me crazy is that I don't know how to reproduce this scenery, does anyone hav

[2020-07-08 10:37] rushi47 commented on #53706
Hey Can you help me with this, am stucked into same problem.

cc: @dims

[2020-07-08 10:47] rushi47 opened #92904 "lscpu inside Pod return host cpu info"
Hello,
**What happened**:
When i run `lscpu` inside pod, it return the host node cpu info.
**What you expected to happen**:
Ideally i think it should return resources allocated to pod.
**How to reproduce it (as minimally and precisely as possible)**:
Its as simple as running lscpu.

Is there any way, i can get the cpu and memory allocated to pod, from inside pod ?
Passing the resources in env vari

[2020-07-08 10:52] rushi47 commented on #92904
/sig node
/sig pod
/sig resources

[2020-07-08 11:00] lechen26 opened #92906 "pod stuck on preempting"
Hi

i'm using GKE 1.16.8-gke.15 cluster (regional) with few nodepools.

i've noticed that one of my pod entered "preempting" mode and remains like that for more then 2 hours.
when describing the pod i saw the following:
[code]

that's fine it was preempted but i expect it to evicted and removed so new pod will reschedule.
when looking on the kubelet logs i see the following message :
`0708 10:49:4

[2020-07-08 11:19] #89443 closed

[2020-07-08 11:34] ingvagabund commented on #4301
Just started writing kep for it in https://github.com/kubernetes/enhancements/pull/1888. Taking some comments and putting them together. In short, the idea is to rank each pod with a cost by en external component (variation of the descheduler) through annotations/pod status/field (to be discussed) and having controller to respect the cost when selecting victims.

[2020-07-08 12:07] RobertKielty opened #92907 "Improve test error message : NodeProblemDetector SystemLogMonitor should generate node condition and events for corresponding error"
The NodeProblemDetector test  - **SystemLogMonitor should generate node condition and events for corresponding errors**
can produce the following error message which is misleading

This message outputted by verifyTotalEvents  is meant to indicate that a specific _number of occurrences of events_ is expected but an _unexpected number of events_ occurred during the test run.

It's misleading because

[2020-07-08 12:08] RobertKielty commented on #92907
I have implemented a fix for this and will submit the PR soon

/sig node

[2020-07-08 12:57] dims commented on #37218
/reopen

[2020-07-08 13:25] dprotaso commented on #92615
@hanumanthan I'm not familiar with the K8s codebase to be able to point you to the right place. I'd probably reach out for help in the K8s slack - https://slack.k8s.io/

[2020-07-08 13:26] bitsofinfo commented on #89672
same

[2020-07-08 13:58] liggitt commented on #92898
Using impersonation (the `--as=...` option) overrides the authentication layer to treat the request as if it came from the specified username. The service account that would produce the same username is not required to exist.

A few questions:
1. is your kubectl configured to speak to the insecure port of your API server? if you add `--v=6` to your kubectl command, is a https or http URL fetched?

[2020-07-08 14:03] liggitt commented on #92896
Labels for the replicaset can be defined in the template inside the deployment spec. Automatically propagating all labels from the deployment itself to the created replicasets is not desired in all cases.

[2020-07-08 14:08] liggitt commented on #92859
per https://github.com/kubernetes/kubernetes/issues/90549#issuecomment-620625847

/close

[2020-07-08 14:08] #92859 closed

[2020-07-08 14:10] liggitt commented on #16543
server-side apply no longer uses the apply annotation

/close

[2020-07-08 14:11] #16543 closed

[2020-07-08 14:15] liggitt commented on #92851
/sig storage

[2020-07-08 14:21] liggitt commented on #79224
I don't think this approach is a good idea. Adding a second hop to the object graph adds complexity to all consumers of the configmap API, and means clients that currently read configmap objects could also need read access to arbitrary secrets to properly understand the content of the configmap, which is not ideal.

This is unlikely to make progress as an issue. A proposal that works through the d

[2020-07-08 14:22] #79224 closed

[2020-07-08 14:27] hamzakilic commented on #92798
I have fixed this problem by changing kube-proxy working mode iptables to ipvs

[2020-07-08 14:34] liggitt commented on #37218
That's funny, I had the same idea and response to this request before I saw @thockin's comment. I'd also like to see this approach tried before considering expanding the probe surface area of the pod spec API.

[2020-07-08 14:34] dims commented on #37218
back scrolling, looks like @thockin had a detailed response already https://github.com/kubernetes/kubernetes/issues/37218#issuecomment-498518291 so let's treat this as a wont-fix

/close

[2020-07-08 14:34] #37218 closed

[2020-07-08 14:35] BenTheElder commented on #92386
It's been green since the scheduler test fix went in
/close

[2020-07-08 14:35] #92386 closed

[2020-07-08 14:48] JordyBottelier commented on #51835
@JoseFMP use kubectl to request the yaml from the namespace, it might have finalizers that are holding up the process.

[2020-07-08 14:48] BenTheElder commented on #92886
FYI this job isn't required to merge. Only informational regarding test changes and IPv6

[2020-07-08 14:48] BenTheElder commented on #92886
The service tests are known flaky and there are multiple bugs tracking work related to this

[2020-07-08 15:05] bertinatto commented on #92799
Hi @hardikdr!

I took a look at the code and it seems like  the value taken from `KUBE_MAX_PD_VOLS` is overwritten if the `AttachVolumeLimit` feature gate is enabled (it's enabled by default since v1.12). The docs don't make that clear, though, we should probably update them.

As an alternative, you could use the AWS EBS CSI driver as it supports custom volume limits:

https://github.com/kubernete

[2020-07-08 15:13] hasheddan commented on #92386
Thanks @BenTheElder !

[2020-07-08 15:21] hasheddan commented on #92756
/retitle [Flaky Test] verify-1.18 (ci-kubernetes-verify-beta)

/remove-kind failing-test
/kind flake
/priority important-soon

[2020-07-08 15:22] hasheddan commented on #92756
/remove-priority critical-urgent

[2020-07-08 15:23] hasheddan commented on #87376
This does not appear to be an issue anymore.

/close

[2020-07-08 15:23] #87376 closed

[2020-07-08 15:25] hasheddan commented on #92149
This job has been green for lat 10+ runs.

/close

[2020-07-08 15:25] #92149 closed

[2020-07-08 15:31] abhi1604 commented on #92898
I thought when we are using the impersonation to work on resources instead of checking permissions via `kubectl auth can-i`, it makes sense to check if the impersonation user exist before working on the resource.

kubectl wasn't configured to use unsecured port. When I add --v=6, https url is fetched. I am pasting the output below:

[code]

There is clusterrolebinding which ties the system:service

[2020-07-08 15:41] liggitt commented on #92898
That is why making a request authenticated with a service account username is permitted to make any API request.

[2020-07-08 15:42] abhi1604 commented on #92898
I got it. Thank you!

[2020-07-08 15:43] apelisse commented on #80916
We're missing one last approval on the PR and then we're good, thanks for the reminder!

[2020-07-08 15:44] #92898 closed

[2020-07-08 15:45] javidiaz commented on #91036
This issue is coded in https://github.com/kubernetes/kubernetes/pull/91699 and documented in https://github.com/kubernetes/website/pull/21210. It should make it into 1.19 release.

[2020-07-08 15:45] #91036 closed

[2020-07-08 15:46] logicalhan commented on #78481
/remove-lifecycle stale

[2020-07-08 15:55] joelsmith commented on #92315
/area security
/kind bug
/committee product-security
/sig network
/sig node
/area kubelet

[2020-07-08 15:58] alejandrox1 opened #92911 "Investigate use of e2e framework's flake report"
The e2e test framework, has a flake report utility https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/flake_reporting_util.go.

As far as we know, there is no current usage of this utility but it is mentioned as useful for https://github.com/kubernetes/kubernetes/issues/66239.

We should investigate this and evaluate what we can do with the e2e test framework.

/kind cleanup
/

[2020-07-08 16:02] alejandrox1 commented on #92911
/lifecycle frozen
/help wanted

Will keep this as frozen because it isn't a straightforward task but definitely something we should do.

[2020-07-08 16:02] dagn0 opened #92912 "kubelet v1.18.5 still have flag --cgroup-driver in pkgs which will cause kubelet set up fail"
Jul  8 22:28:04 rpi-kube-master-01 kubernetes-bootstrap: Preparing to unpack .../0-conntrack_1%3a1.4.5-2_armhf.deb ...#015
Jul  8 22:28:04 rpi-kube-master-01 kubernetes-bootstrap: Unpacking conntrack (1:1.4.5-2) ...#015
Jul  8 22:28:04 rpi-kube-master-01 kubernetes-bootstrap: Selecting previously unselected package cri-tools.#015
Jul  8 22:28:04 rpi-kube-master-01 kubernetes-bootstrap: Preparing t

[2020-07-08 16:04] deltawi commented on #78446
Any updates on this ? I have the same isssue when I try port-forwarding Airflow webserver

`E0708 16:13:42.769394 51449 portforward.go:372] error copying from remote stream to local connection: readfrom tcp6 [::1]:8080->[::1]:56960: write tcp6 [::1]:8080->[::1]:56960: write: broken pipe E0708 16:14:43.427643 51449 portforward.go:340] error creating error stream for port 8080 -> 8080: Timeout occur

[2020-07-08 16:06] alejandrox1 commented on #92911
/help

[2020-07-08 16:36] dagn0 commented on #92912
Just check another reported issue -> [issue 83936](https://github.com/kubernetes/kubernetes/issues/83936) ,  it looks like a designed loop. file kubelet/config.yaml will be auto created after command kubelet init.

Now two service related file was reported as  world-inaccessible, not sure if these are issues or not.

Closed it.

[2020-07-08 16:51] skuffe opened #92913 "Server Side Apply - PodSelector empty dict not applied"
**What happened**:
Applying (using SSA) a networking.k8s.io/v1 NetworkPolicy with an empty PodSelector, the empty PodSelector does not get applied and the managedFields contains no field reference for the podSelector field to indicate that my controller owns the field.

This happens when using a typed client from controller-runtime (operator-sdk), a dynamic client from client-go but does not seem

[2020-07-08 16:54] dashpole commented on #89807
/remove-lifecycle stale

[2020-07-08 16:56] skuffe commented on #92913
/wg wg-apply

[2020-07-08 16:59] skuffe commented on #92913
/wg kubernetes-wg-apply

[2020-07-08 17:03] tallclair opened #92914 "[RESERVED]"
This issue is reserved for a future vulnerability announcement.

/close

[2020-07-08 17:03] #92914 closed

[2020-07-08 17:18] hardikdr commented on #92799
Unfortunately `AttachVolumeLimit` is disabled/removed permanently since k8s 1.17, that would mean, we can't use the `KUBE_MAX_PD_VOLS`  anymore at all.

The support for custom-limits was introduced recently in CSI-driver recently by our team, but that doesn't work for a non-csi environment eg k8s 1.17, if not migrated.

[2020-07-08 17:26] tallclair commented on #92315
For insecure port removal: https://github.com/kubernetes/kubernetes/issues/91506

[2020-07-08 17:34] grosser commented on #72944
/lifecycle frozen

[2020-07-08 17:35] grosser commented on #72944
@liggitt can priority/awaiting-more-evidence be removed ... to me there seems to be no evidence missing ?

[2020-07-08 17:45] joelsmith commented on #92315
The original announcement contained an error. The announcement makes it sound like upgrading kube-proxy will address the issue, but that is incorrect. I have edited the issue summary to add the following paragraph in the "Fixed Versions" section:

Additionally, I have changed the components in listed versions to say kubelet/kube-proxy instead of kube-proxy.

[2020-07-08 20:04] liggitt commented on #77666
also discussed in https://github.com/kubernetes/kubectl/issues/884

[2020-07-08 20:09] liggitt commented on #89859
fixed in https://github.com/kubernetes/kubernetes/pull/91366

[2020-07-08 20:09] #89859 closed

[2020-07-08 20:37] AndiLi99 commented on #92886
I think pull-kubernetes-conformance-kind-ga-only-parallel also has the `[sig-network] Services should have session affinity timeout work for NodePort service [LinuxOnly] [Conformance]` test which i observed to flake for that job as well for the same error message. See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92555/pull-kubernetes-conformance-kind-ga-only-parallel/128053334224404

[2020-07-08 20:57] giovannifs commented on #91038
Hi folks,

I'm very interested in using the PostFilter extension point. In order to evaluate a new scheduling policy, in the past (k8s v1.9), I have developed a proof-of-concept customized scheduler by duplicating the code of the default-scheduler and customizing it according to the new policy. The preemption logic was one of the things that I have changed.

I'm trying to develop this new scheduli

[2020-07-08 21:17] pjbgf commented on #91286
@palnabarun just a heads up that we have concluded all the core items for seccomp to go GA. There are still 2 pending PRs that ideally would also go in 1.19, but we are waiting for them to be reviewed: https://github.com/kubernetes/kubernetes/pull/90948 and https://github.com/kubernetes/kubernetes/pull/90949.

[2020-07-08 21:19] luispabon commented on #79224
I don't see how any of those two statements is true?

[2020-07-08 21:20] damemi commented on #91038
Hi @giovannifs, with the scheduling framework it is fairly simple now to write a custom scheduler with just a few lines. There is an example in the [framework KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/20180409-scheduling-framework.md#custom-scheduler-plugins-out-of-tree) as well as a working example of a scheduler (implementing a custom plugin) in this repo: h

[2020-07-08 21:32] jlk commented on #92315
Could you add numerical CVSS scores to these? "High" is too vague, frequently varies from vendor to vendor. I can calculate a score from the vector myself, but adding the score would save us some work...

[2020-07-08 21:34] joelsmith commented on #92315
Edited. Also, the vector scores are clickable and will show the CVSS scores too.

[2020-07-08 21:43] ntippabhatla commented on #92125
/help-wanted

[2020-07-08 21:52] giovannifs commented on #91038
Hi @damemi, thank you very much. I'll take a look on these.

[2020-07-08 22:11] cjellick commented on #92315
To be clear, this is fixed in v1.18.4+, v1.17.7+, and v1.16.11+ correct?

[2020-07-08 22:24] joelsmith commented on #92315
Right. Sorry if the extra paragraph in "Fixed Versions" made that unclear.

[2020-07-08 22:26] cjellick commented on #92315
Got it. Thank you!

[2020-07-08 22:46] Huang-Wei commented on #91038
In addition to @damemi 's comments, the SIG-Scheduling is sponsoring a sub-project called https://github.com/kubernetes-sigs/scheduler-plugins. Its primary goal is to gather 3rd party plugins and evolve in an open-source manner.

Yes, all work items have been completed. Once the official v1.19 release is cut, you can have the defaultpreemption plugin in place, as well as implementing your own pree

[2020-07-08 22:47] mgalgs commented on #92315
So just to be sure, this wouldn't be a problem in an EKS cluster running in its own VPC, right? (assuming no untrusted hosts on the same VPC)

[2020-07-08 23:22] tedyu opened #92922 "Respect grace period when removing mirror pod: unit test"
**What would you like to be added**:
We should have unit tests for the 'Respect grace period when removing mirror pod' fix to guard against regression.

**Why is this needed**:
Over #92442, the new unit tests are taken out (to streamline review process).
These include CGroupPods struct and the enhanced TestDeleteOrphanedMirrorPods.

This issue is to add them back after further review.

[2020-07-08 23:22] tedyu commented on #92922
/sig node

[2020-07-08 23:25] Nowaker commented on #37218
I totally disagree with https://github.com/kubernetes/kubernetes/issues/37218#issuecomment-498518291.

Everything is a 50-line program, honestly. This thing here. This thing there. And so on. But when you add all these small things together you get... Kubernetes. Kubernetes is _figuratively_ a runtime tool that does what thousands of different but otherwise very common 50-line programs would do, w

[2020-07-08 23:54] wu105 opened #92925 "kubelet imageGC not stopping at imageGCLowThresholdPercent as commanded by eviction manager"
**What happened**:
It appears that when image GC is triggered, it will not stop at imageGCLowThresholdPercent.
However, it seems a little bit more complicated.  In this log session below, several minutes after imageGCManger reached the initial goal, eviction manager commanded it to removed all unused images.  We think eviction manager is mistaken because the crazy amount of ephemeral-storage disk

[2020-07-09 00:10] tedyu commented on #92925
[code]
Can you see what happened to container a526a8ad53eb ?

BTW 1.12 was quite old release.

Thanks

[2020-07-09 00:59] Huang-Wei commented on #88445
I'd say we adopted this requirement in #92797 :)

[2020-07-09 01:51] k-toyoda-pi commented on #92899
Hi. Did you mean that yaml has no namespace when you run the command?
It seems that the latest version has namespace.
[code]

[2020-07-09 02:35] tedyu commented on #92906
Here is the code preceding the 'evicted successfully' log:
[code]
Can you check the kubelet log to see if there was some clue from killPodFunc ?

thanks

[2020-07-09 02:36] jijojv opened #92928 "FailedToUpdateEndpointSlices Error updating Endpoint Slices for Service"
**What happened**:
Hi Folks, after every deployment we see this for about an hour. Seems to be harmless but wondering if this is a bug in v1.17.3
`kubectl  describe svc my-svc`

[code]
**What you expected to happen**:
`Events:            <none>`

**How to reproduce it (as minimally and precisely as possible)**:
 kubectl rollout restart deployment my_deploy

**Anything else we need to know?**:

**E

[2020-07-09 02:41] jijojv commented on #92928
/sig api-machinery

[2020-07-09 03:15] wu105 commented on #92925
a526a8ad53eb is a container outside of k8s.  Thus is is not an error, may be unexpected by kubelet.

Please see also the second part of the issue which is a test on k8s v1.17.6, almost identical issue.

[2020-07-09 03:20] abhi1604 commented on #92899
Yes, I think it got corrected in the 1.19 version. This issue is pertaining to the 1.18 version.

[2020-07-09 03:28] pengfeiwang-cn opened #92929 "kubectl can get/describe pods, but kubectl logs and exec don't work."
I deployed a cluster with Calico, default ippool deleted.

nodes:

newly created ippool:
yaml for pool1:

yaml for pool2:

yaml for a deploy:

after deploy busybox created, I get

logs & exec don't work:

I do find logs in /var/log/containers/ on worker nodes.
---------------
but describe works fine:

------------------------
Did I miss something? Thanks.

[2020-07-09 03:37] liggitt commented on #92928
/remove-sig api-machinery
/sig network
/assign @robscott

[2020-07-09 03:58] huanggze opened #92930 "Pods restarted unexpectedly with kubelet producing cadvisor related issues"
Some pods restarted with exit code 143. Without finding any useful info from logs of those pods, I observed the following logs from kubelet:

**What happened**:

[code]

**What you expected to happen**:

No pod restart

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Clo

[2020-07-09 04:00] huanggze commented on #92930
/area kubelet
/sig node

[2020-07-09 04:01] huanggze commented on #92930
/help wanted

[2020-07-09 04:29] #72506 closed

[2020-07-09 04:43] apelisse commented on #89954
Actually, that's a slightly different use-case, but we could probably address it.

[2020-07-09 04:53] abhinbalur commented on #59368
I am seeing this  exact same issue on our cluster which has k8s v1.14.5 .
We have endpoint nginx pods backing a UDP service with nodeport.
Suddenly one day we see traffic not hitting into nginx pod but reaching the node hosting the nginx pod.
We could simulate the problem by restarting the nginx pods.
I am assuming with this issue marked as closed; and having made its way into v1.14;  we should no

[2020-07-09 04:57] julianvmodesto commented on #89954
Oh we can do something about this now that scalability isn’t an issue? https://github.com/kubernetes/kubernetes/pull/87044#issuecomment-573127883

We’ll want to fix managed fields with this manager (remove or replace this manager) and also turn this field manager off (turn probability to 0).

It seems that we can either replace the manager with a kubectl CSA manager or remove it entirely.

[2020-07-09 05:15] pengfeiwang-cn commented on #92929
/sig network

[2020-07-09 05:21] frittentheke commented on #89310
/remove-lifecycle stale

[2020-07-09 05:27] gnufied opened #92931 "If volume expansion fails on the node with volume-in-use error then kubelet should not retry nodeExpansion"
If CSI volume expansion fails on the node with volume-in-use error then kubelet not should retry node expansion.

/sig storage

[2020-07-09 05:27] gnufied commented on #92931
/assign

[2020-07-09 06:45] cheftako commented on #92374
You will also need to change https://github.com/kubernetes/kubernetes/blob/fc30f8854deeedfe3a5ae15660a2ff80ad2b824f/staging/src/k8s.io/kube-aggregator/pkg/apis/apiregistration/v1/types.go. I would start there and then get your API review.

[2020-07-09 06:59] robscott commented on #92928
Hey @jijojv, thanks for reporting this! This is not actually anything to worry about and I think the best solution will be for us to stop publishing that event if the error is related to an out of date cache like this. Due to the nature of the controller reacting to changes in Services and attempting to update related EndpointSlices, it can run into problems if the locally cached copy of EndpointS

[2020-07-09 07:03] #91217 closed

[2020-07-09 07:03] #92763 closed

[2020-07-09 07:03] #91846 closed

[2020-07-09 07:04] #91852 closed

[2020-07-09 07:04] #91850 closed

[2020-07-09 07:31] krmayankk commented on #92315
Are all the conditions listed under `Am I vulnerable?`, a logical AND @joelsmith  ?

[2020-07-09 07:32] JoseFMP commented on #51835
@JordyBottelier Thank you.

No finalizers. Still stuck `Terminating`

[2020-07-09 07:37] dagn0 commented on #92912
Found out the solution at last, due to flag --cgroup-driver exist in /var/lib/kubelet/kubeadm-flags.env, kubeadm could not create config file /var/lib/kubelet/config.yaml, and kubelet can not be set up successfully.

Solution:
sudo sed -i "s/--cgroup-driver=systemd //g" /var/lib/kubelet/kubeadm-flags.env
sudo systemctl daemon-reload
sudo systemctl restart kubelet

Reference:
[Configure cgroup driv

[2020-07-09 07:41] dagn0 commented on #92912
The problem here is that the new kubernetes(v1.18.5-00) packages still have deprecated flag --cgroup-driver in file /var/lib/kubelet/kubeadm-flags.env, and the kubelet set up will fail.

Kubernetes version: v1.18.5-100 kubernetes-xenial/main armhf
$ dpkg -l | grep kube
hi kubeadm 1.18.5-00 armhf Kubernetes Cluster Bootstrapping Tool
hi kubectl 1.18.5-00 armhf Kubernetes Command Line Tool
hi kubele

[2020-07-09 08:08] jsafrane commented on #90505
Volume attachment resources work differently. The Kubernetes scheduler counts what kind of volumes a pod uses and calculates necessary `attachable-volumes-<xyz>` automatically. The pod should not explicitly request any `attachable-volumes` resource, because pod author may not know what storage backend the pod is going to use in the end.

See https://github.com/kubernetes/kubernetes/blob/master/pkg

[2020-07-09 09:04] pacoxu commented on #92287
/assign

[2020-07-09 09:13] scuzhanglei commented on #51835
I  have a CRD, and create more than one pods with a  ownerReferences = Cr (ps: only have one ownerReference).
then delete all pods, only **one** pod would be deleted. others will always be terminating

k8s version:
`Server Version: version.Info{Major:"1", Minor:"17", GitVersion:"v1.17.3", GitCommit:"06ad960bfd03b39c8310aaf92d1e7c12ce618213", GitTreeState:"clean", BuildDate:"2020-02-11T18:07:13Z",

[2020-07-09 09:17] yevvievvy commented on #59959
Hi Renuka, Did you solve the issue?

[2020-07-09 10:10] CermakM commented on #85987
Looks like I am hitting the same issue. Any updates?

[2020-07-09 10:35] #87846 closed

[2020-07-09 10:36] zhouya0 commented on #92925
/sig node

[2020-07-09 10:55] mkumatag commented on #92855
I tried running with master kublet which does use rc90 build and kubelet fails with the same error:

[code]

complete log: https://gist.github.com/mkumatag/031964bfa4e0266c5c7db42fa465d128

I think this is happening because we are trying to create a cgroup more than a supported range for the Linux kernel:

https://github.com/torvalds/linux/blob/0bddd227f3dc55975e2b8dfa7fc6f959b062a2c7/kernel/sched

[2020-07-09 10:56] mkumatag commented on #92855
/cc @giuseppe

[2020-07-09 11:19] RobertKielty commented on #92360
@neolit123 Thanks so much for the assist both here and on #920490  I was co-presenting part of the CI-Signal update yesterday, hence the queries.

I'll follow up on with SIGs scheduling and apimachinery

[2020-07-09 11:30] AkihiroSuda opened #92933 "[cgroup2] kubelet doesn't start up on a host without hugetlb controller"
**What happened**:
kubelet doesn't start up on a cgroup2 host without hugetlb controller

[code]

**What you expected to happen**:

Should work without hugetlb controller

**How to reproduce it (as minimally and precisely as possible)**:
* Boot Ubuntu 20.04 host with `systemd.unified_cgroup_hierarchy=1`.
* Make sure cgroup v2 controllers are enabled but hugetlb is not:
[code]
* Install Moby from i

[2020-07-09 11:31] AkihiroSuda commented on #92933
cc @giuseppe

[2020-07-09 11:31] AkihiroSuda commented on #92933
/sig sig-node

[2020-07-09 11:44] claudiubelu commented on #89262
The test is passing on gce-windows-2019-master. I think we can close this issue.

/close

[2020-07-09 11:44] #89262 closed

[2020-07-09 12:04] #88887 closed

[2020-07-09 13:00] nikhita commented on #92933
/sig node

[2020-07-09 13:00] nikhita commented on #92933
/area kubelet

[2020-07-09 13:03] nikhita commented on #92913
cc @ykakarap

[2020-07-09 13:07] nikhita commented on #92929
cc @maryamklabib @jayunit100

[2020-07-09 13:09] nikhita commented on #92912
/sig node
/area kubelet

[2020-07-09 13:36] Tejeev commented on #18127
@dalanlan what was the RC here?

[2020-07-09 13:38] kvaster commented on #67202
Is still really actual. We're using cilium with baremetal and we need for request to be served exactly on same machine it arrives on.

[2020-07-09 13:40] #68457 closed

[2020-07-09 13:41] uziela commented on #85330
/remove-lifecycle stale

[2020-07-09 14:00] dims commented on #92933
@AkihiroSuda looks like you already saw https://grep.app/search?q=tolerate_missing_hugetlb_controller since you filed https://github.com/containerd/cri/pull/1529 :)

[2020-07-09 14:03] renukamanavalan commented on #59959
Hi @yevvievvy , Thanks for checking. My problem is solved. Being a while back and in the midst of many active issues, I can't completely recall. But I guess I used /etc/apt/apt.conf.d/02proxy to help solve.

[2020-07-09 14:05] dims commented on #92855
interesting snippet in moby:
https://github.com/moby/moby/blob/master/daemon/daemon_unix.go#L342-L344

[2020-07-09 14:12] mayurkumar09 commented on #36222
If the formatting of cm goes wierd a simple hack to get it back to normal is :

- kubectl get cm configmap_name -o yaml > cm.yaml

- Now copy the contents of cm.yaml file and past it on yamllint.com. Yamllint.com is powerful tool to check the linting of yaml files.
This will provide you with the configmap as expected with correct formatting.

- Paste the output in another yaml file (for e.g -  cm_

[2020-07-09 14:15] AkihiroSuda commented on #92933
@dims That’s for containerd, not for kubelet :)

[2020-07-09 14:29] detiber commented on #25625
/remove-lifecycle stale

[2020-07-09 14:40] dims commented on #92933
@AkihiroSuda right :)

[2020-07-09 14:49] Jainbrt commented on #89483
Hi @gnufied, Could you please explain more of technical reason or any reference for detailed information on this problem statement?

[2020-07-09 14:49] alculquicondor commented on #87850
cc @adtac

[2020-07-09 15:19] giuseppe commented on #92933
we can relax the hugetlb requirement, since it is also optional on cgroup v1.

@AkihiroSuda could you please try if the following patch is enough to fix the issue on your environment?

[code]

[2020-07-09 15:26] johnyb79 commented on #38824
Is there a solution to gracefully detach a volume that got stuck in detachable state, without loosing data and make volume to be in available state? I tried to drain the node, however it didn't help:(

csi-3fb81949a44c1c2a1be8d0707807135dbc1b9333607b2b48527ef97015b947ae | grep error
    Message:  rpc error: code = Internal desc = ControllerUnpublishVolume failed with error Volume "e11a62e1-4e75-4c

[2020-07-09 15:45] spiffxp opened #92937 "Very few PRs are merging"
I opted to open a new issue instead of re-opening https://github.com/kubernetes/kubernetes/issues/90647

The tide pool for kubernetes/kubernetes master is much larger than usual.  Put another way, a lot of PRs are eligible for merge, but they're not getting merged.  This is due to batches of PRs failing tide's retest-prior-to-merge step.

![Screen Shot 2020-07-09 at 8 32 47 AM](https://user-images

[2020-07-09 15:51] apelisse commented on #89938
From https://github.com/kubernetes-sigs/structured-merge-diff/blob/master/merge/update.go#L34, a good prediction from Brian ;-):

I still have no idea how to fix that.

[2020-07-09 15:52] neolit123 commented on #92855
i think we have a misconception here that CPU share == # of CPU.

"cpu shares" is a weighting proportion to give a container more resources in comparison to other running containers:
https://github.com/torvalds/linux/blob/0bddd227f3dc55975e2b8dfa7fc6f959b062a2c7/kernel/sched/sched.h#L419-L426
https://docs.docker.com/config/containers/resource_constraints/#configure-the-default-cfs-scheduler

the r

[2020-07-09 15:57] apelisse commented on #89954
I don't know yet if we want to solve that or if this is Working As Intended.

On one hand, we want users to know that there're about to clobber some fields as they apply for the first time. On the other hand, some of these are not really legitimate conflicts. I suspect the definition of a legitimate conflict is the same definition we've used for updating from client-side apply to server-side apply

[2020-07-09 15:58] spiffxp commented on #92937
For folks who are concerned their PRs aren't going to land prior to Code Freeze: historically, as long as a PR is eligible for merge prior to Code Freeze, nobody's going to block it or kick it out.

In the past few months when we've encountered stuck merges, one thing that's been done is to apply a /hold to all PRs to see if we can force smaller batches / identify "bad" PRs.  In the event that we

[2020-07-09 15:59] ykakarap commented on #92913
/assign @ykakarap

[2020-07-09 16:06] #68211 closed

[2020-07-09 16:07] #87369 closed

[2020-07-09 16:08] #92680 closed

[2020-07-09 16:09] #92672 closed

[2020-07-09 16:10] #92751 closed

[2020-07-09 16:10] lavalamp commented on #90066
I'm not sure this is completely fixed just by hiding from `kubectl edit`. Should we keep this open until there's a convenient exclusion option for `get`?

[2020-07-09 16:17] rocketraman commented on #74819
@pwittrock reopen? Just ran into this issue while trying to use kustomize.

[2020-07-09 16:19] rocketraman commented on #74819
If this is the reason why merge/patch won't be supported for volume claim templates, then perhaps https://github.com/kubernetes-sigs/kustomize/issues/819 needs to be re-opened instead.

[2020-07-09 16:59] vanzin commented on #25908
Drive-by comment: this looks exactly like https://github.com/kubernetes/enhancements/issues/753

[2020-07-09 17:00] lbernail commented on #90259
@andrewsykim Since accessing localhost:nodeport from the host never worked in IPVS mode (see @uablrek 's comment), how do you feel about not setting the sysctl (or even setting it to 0)?

It will make easy for users to patch their clusters if they run kube-proxy as a daemonset (we plan to do that)

[2020-07-09 17:03] andrewsykim commented on #90259
+1 from me as long as we test it and ensure it doesn't break any existing behavior.

There were previous feature requests to actually allow localhost:nodeport but given the security implications it sounds like we should avoid it.

[2020-07-09 17:10] mohideen commented on #68270
I'm seeing this issue in v1.18.5. We have a 6 node (3 control-plane, 3 worker) HA cluster and this happens after restart of the nodes. Also, I see that the order of restarts affect which node loses the IPs. I want to node that the loss of IP happened even if the node was drained before the restart.

Of the three control-plane nodes, which ever gets restarted last looses it internal and external IP

[2020-07-09 17:12] andrewsykim commented on #68270
@mohideen what's your CNI?

[2020-07-09 17:44] Riaankl commented on #90913
/reopen
#92479 Merged
Issue open, waiting for Promotion PR

[2020-07-09 17:48] mohideen commented on #68270
We have the latest canal (Calico v3.15.0 + Flannel v0.11.0 in host-gw mode)

[2020-07-09 17:57] rikatz commented on #92798
/sig network

[2020-07-09 18:01] rikatz commented on #91809
@Khamphai can you please check if this is the case: https://github.com/kubernetes/kubernetes/issues/88986?

Flannel, VXLan, disabling tx offload works, etc?

Thanks!

[2020-07-09 18:08] julianvmodesto commented on #90146
Closing this one. We've addressed this differently by keeping the last-applied annotation up-to-date so CSA and SSA don't conflict.

See the KEP section in https://github.com/kubernetes/enhancements/pull/1382.

[2020-07-09 18:08] #90146 closed

[2020-07-09 18:24] champtar commented on #92315
I think loose reverse-path filtering (`rp_filter=2`) is enough

[2020-07-09 18:31] mikewied commented on #57250
Is there anyone on this issue that is an owner for the AWS code base in Kubernetes? I can submit a patch to resolve this, but I think there are a few options to do so and think we should get consensus on how to make the change.

1) Amazon allows disabling proxy protocol on health checks. This would need to be done by an internal team at Amazon and I suspect this would be challenging to get schedul

[2020-07-09 19:12] BZM708 opened #92942 "sandbox bug in kubernetes"
I created a visual studio code application and it works with docker in ubuntu.

I started the process of exposing my application on kubernetes with the following commands in the terminal:

       minikube start --memory=16384 --cpus=4 --kubernetes-version=v1.18.2 --container-runtime=containerd --docker-opt containerd=/var/run/containerd/containerd.sock]

       kubectl create deployment webt1-node

[2020-07-09 19:14] weinong commented on #89672
can you guys share your kubectl version --client and kubeconfig with me? you can find me on kubernetes slack. the slack user name is same as my github handle.

[2020-07-09 19:26] roycaihw commented on #92738
I'm not against adding audit log to track fail-open webhook calls, but I wonder if you have tried using the [metrics](https://github.com/kubernetes/kubernetes/blob/82baa26905c94398a0d19e1b1ecf54eb8acb6029/staging/src/k8s.io/apiserver/pkg/admission/metrics/metrics.go#L142-L150) to detect fail-open events. A fail-open event is equivalent to a "calling_webhook_error" rejection record in the metrics f

[2020-07-09 19:59] cnphil commented on #92738
Thanks for the pointer!  Yes, we (GCP Binauthz) will be using the metrics you've pointed there but mostly for our internal monitoring.  However, to our customers, one of the core security benefits of GCP Binauthz is the audit logging and we want to (and have been) expose this to customers.

[2020-07-09 20:10] fedebongio commented on #92895
/cc @sttts
(we took the freedom of assigning the PR to sttts for revision, thanks!)

[2020-07-09 20:37] giovannifs commented on #91038
Hi @Huang-Wei,

I'll read the documentation you pointed to and I'll engage in the discussions about the plugins.

Thanks.

[2020-07-09 20:46] droccom commented on #90053
/remove-lifecycle stale

[2020-07-09 20:57] dcbw commented on #92125
@yungvj depending on the kube-proxy mode, this is handled entirely in the kernel and you don't know at a given time what backend pod is handling what request, other than perhaps looking at conntrack tables with `conntrack -L`. Note that kube-proxy may be handling many requests simultaneously, and each request is randomly redirected to a backend pod. So there is no "active" or "inactive" pods since

[2020-07-09 20:59] dcbw commented on #61005
If you encounter this issue again, we need two things for debugging:

1. iptables-save output around the time the problem occurs, on the node that it occurs on
2. kube-proxy log output

[2020-07-09 21:06] gaurimadhok commented on #92929
/assign @jayunit100

[2020-07-09 21:08] gaurimadhok commented on #92903
/assign @caseydavenport

[2020-07-09 21:08] dcbw commented on #92903
`netplugin failed with no error message` means the CNI plugin segfaulted or otherwise failed without printing the CNI result/error message to stdout.

[2020-07-09 21:09] gaurimadhok commented on #92889
/assign @aojea

[2020-07-09 21:10] gaurimadhok commented on #92886
/assign @aojea

[2020-07-09 21:11] dcbw commented on #61005
RE @k3a's comment about v1.15, there are a lot of:

`I1230 01:05:53.224716       1 proxier.go:693] Stale udp service kube-system/kube-dns:dns -> 100.64.0.10`

in the kube-proxy logs, which means that kube-dns pods are likely dying or otherwise restarting. THat message is printed when the number of available pods goes from 0 -> 1+, so clearly at points in time there are no kube-dns pods running (or

[2020-07-09 21:11] orondon commented on #86762
@rgarcia89 @DeanYang121 did you manage ? facing similar issue here it is an intermittent timeout and by default coredns and apiserver are on different networks.
Thanks!

[2020-07-09 21:12] gaurimadhok commented on #92861
/assign @anfernee

[2020-07-09 21:12] gaurimadhok commented on #92857
/assign @andrewsykim

[2020-07-09 21:13] gaurimadhok commented on #92790
/assign @rikatz

[2020-07-09 21:13] gaurimadhok commented on #92776
/assign @robscott

[2020-07-09 21:14] sethev commented on #92889
I can contribute a patch for this if it's something that people are open to including in k8s.

[2020-07-09 21:14] gaurimadhok commented on #92775
/assign @robscott

[2020-07-09 21:15] gaurimadhok commented on #92761
/assign @andrewsykim

[2020-07-09 21:16] gaurimadhok commented on #92639
/assign @robscott

[2020-07-09 21:18] neolit123 commented on #92942
/remove kind-bug
/triage support

this doesn't look like a k8s bug.

googling about this error reveals a number of results and it seems the code is in chromium:
https://chromium.googlesource.com/chromium/chromium/+/3c63f9de10d3b4abd9767cd1f4b85323f1064527/chrome/nacl/nacl_helper_linux.cc#236

it hints that your application is not "sandboxed"
https://chromium.googlesource.com/chromium/chromium/+/3c

[2020-07-09 21:18] #92942 closed

[2020-07-09 21:18] neolit123 commented on #92942
/remove-kind bug

[2020-07-09 21:22] prameshj commented on #92559
Looks like the NXDOMAIN ttl was changed to 30s in https://github.com/kubernetes/kubernetes/pull/76238 to be consistent with kube-dns config. However, kube-dns/dnsmasq does not cache NXDOMAIN at all. So, we should probably change this default back to 5s for NXDOMAIN responses? @chrisohaver @Deiken

[2020-07-09 21:22] robscott commented on #92776
Thanks for filing this bug @RobertKielty ! The `encoding failed: /v1, Kind=DeleteOptions` is a very strange error message, not sure what's happening there. Am I correct that this test has only failed once? Are there other test failures elsewhere?

[2020-07-09 21:22] robscott commented on #92775
/remove-triage unresolved

[2020-07-09 21:27] BZM708 opened #92943 "image bug in kubernetes"
On a separate machine I created a number of visual studio applications (asp.net core - web app) and exposed them with the following commands in the terminal:

      kubectl expose deployment websa-node --name=websa-node --type=LoadBalancer --port=80

      kubectl expose deployment weba1-node --name=weba-1node --type=LoadBalancer --type=NodePort --port=7070

After I started the service for both of

[2020-07-09 21:28] robscott commented on #92639
Hey @ivanangelov, thanks for filing this issue! I think we may already have added something that would solve this in Kubernetes 1.19 with the option to target any resource, not just a Service, as a backend. I've got a [docs PR](https://github.com/kubernetes/website/pull/21590) that covers those updates and here's a [preview of what those updates will look like](https://5f051ed46cdd84000852e13f--ku

[2020-07-09 21:30] anfernee commented on #92861
/assign @freehan

[2020-07-09 21:33] dvaldivia commented on #92559
@prameshj that would improve things a lot, I'd all in for no caching at all for NXDOMAIN

[2020-07-09 21:33] champtar commented on #92315
The attack can be done from any pod with `CAP_NET_RAW` (this is still K8S default), so you might not be safe.

@joelsmith a more accurate title: "Node setting allows to bypass localhost boundary"

[2020-07-09 21:36] prameshj commented on #92559
Not caching NXDOMAIN at all will make every single searchpath-expanded and AAAA queries to be processed by kubernetes plugin rather than returned from cache. These 2 are some of the significant sources of DNS traffic. Probably less of an issue for CoreDNS than kube-dns, but I would expect changing that value to result in some performance regression.

[2020-07-09 21:43] k8s-release-robot opened #92944 "Update publishing-bot for release-1.19"
The branch [`release-1.19`][branch] was just created.

Please update the [publishing-bot's configuration][config] to also publish this
new branch.

[branch]: https://github.com/kubernetes/kubernetes/tree/release-1.19
[config]: https://github.com/kubernetes/kubernetes/tree/master/staging/publishing

/cc @kubernetes/publishing-bot-reviewers
/sig release
/area release-eng
/milestone v1.19

[2020-07-09 21:45] damemi commented on #88183
Tangential note to anyone that has this as a transitive dependency: make sure your git is aware of the case-sensitive change if you have any kind of verify-vendor scripts that do a simple diff to make sure `vendor` is up-to-date

Sorry to revive a closed issue, but I just spent a while debugging why our `verify-vendor` script (basically [hack/verify-vendor](https://github.com/kubernetes/kubernetes

[2020-07-09 21:45] spiffxp commented on #92937
So one behavior that's unusual is seeing `TRIGGER_BATCH` events so frequently, just looking at https://prow.k8s.io/tide-history?repo=kubernetes%2Fkubernetes&branch=master right now:
- 12:46
- 12:28
- 12:09
- 12:05
- 12:01
- 11:43
- 11:26
- 10:59
- 10:41
- etc.

We would expect to see this more like 60-120min apart, depending on how long e2e tests take.

Looking at https://prow.k8s.io/?repo=kuberne

[2020-07-09 21:45] nikhita commented on #92944
https://github.com/kubernetes/kubernetes/pull/92918 will fix this.

[2020-07-09 21:48] jayunit100 commented on #92559
i made a note in the docs around this , that might be a reasonable action item for this

@dvaldivia any other ideas we should pursue ? Feel free to schedule a time to discuss again, you can ping me (jayunit100) on slack

[2020-07-09 21:51] nikhita commented on #92944
/assign

[2020-07-09 21:56] ntippabhatla commented on #92125
But when I set up a cluster and try the curl command on both the nodes, it working sometimes and sometimes it says Failed to connect, connection timed out.

[2020-07-09 21:59] ialidzhikov commented on #88611
@Jefftree , can you add `lifecycle/frozen` label to this one?

[2020-07-09 22:01] RMcD commented on #72216
/reopen
/remove-lifecycle rotten

I agree with the assessment that this is a bug the `kubectl rollout history`, `kubectl rollout pause`, and `kubectl rollout resume` all work with spec files with multiple resources in them. `kubectl rollout status` does not. All of the commands would additionally benefit from only operating on supported resource types for rollout (Deployment, DaemonSet) from the s

[2020-07-09 22:12] RMcD commented on #72216
@pjo256 Could you reopen this?
If not I guess I'll file a new issue.

[2020-07-09 22:16] aojea commented on #92889
interesting, this seems that is being validated here for the RFC1123

https://github.com/kubernetes/kubernetes/blob/205d5c58296357365bfa834ecabb384c1c1042c3/pkg/apis/core/validation/validation.go#L2884-L2889

I´m not a DNS expert but seems you are right, the `search` field contain domains names, so it should be possible to relax the validation
https://linux.die.net/man/5/resolv.conf

Let ask one D

[2020-07-09 22:24] cbandy opened #92946 "PV recycler does not retry when Pod fails to create"
**What happened**:

I had some `hostPath` PVs that appeared stuck in the `Failed` phase even though their referenced PVCs were deleted. Restarting `kube-controller-manager` did not resolve the situation. When running it with `-v=4`, I saw that the controller detected that they should be released and recycled. The recycler Pod failed to create, however:

[code]

Subsequent recycle attempts were ski

[2020-07-09 22:25] cbandy commented on #92946
/sig storage

[2020-07-09 22:49] joelsmith commented on #92315
We believe that of the four conditions, you might be affected if (1 and (2 or 3) and 4) are true for your cluster. Sorry that it's not super clear from the text. Trying and failing to convey info concisely and with precision makes me glad that I'm in software, not law.

[2020-07-09 22:57] gnufied opened #92947 "Use csi's json file for tracking pvc.Status capacity"
In case kubelet reconstructs ASOW by reading files from disk, for volume expansion size can not be recovered from disk and has to be read from api-server when DSOWP populates DSOW. This is bit of anti-pattern and can be fixed by reading size of the PVC from json file rather than reading api-server.

it is important that we use last known PVC size because if PVC was resized while kubelet was down,

[2020-07-09 23:01] kikisdeliveryservice commented on #91286
https://github.com/kubernetes/kubernetes/pull/92856#issuecomment-655950700 needs to be rebased apparently and isn't just waiting in the merge pool as verify is not passing.

[2020-07-09 23:27] Huang-Wei commented on #92649
@JamesMurkin Your understanding is correct, and I feel the pain. It's a design glitch in policy API, at least in UX side.

We have a better-designed scheduler configuration API (1.18+), where it has explicit `Enable` and `Disable` fields. So users can easily accomplish the following requirements:

- enable/disable partial plugins, without modifying defaults
- replace a plugin with another
- rearra

[2020-07-09 23:28] dilyevsky commented on #91601
I am able to reproduce this reliably on my test cluster if you need any more logs

[2020-07-09 23:30] alculquicondor commented on #91601
@dilyevsky Please share repro steps. Can you somehow identify what is the filter that is failing?

[2020-07-09 23:43] Jefftree commented on #88611
/lifecycle frozen

[2020-07-09 23:46] tedyu commented on #92922
[mirror-pod-killer-itf-12.txt](https://github.com/kubernetes/kubernetes/files/4900034/mirror-pod-killer-itf-12.txt)

The above is the test code.

[2020-07-09 23:48] #87889 closed

[2020-07-09 23:49] dilyevsky commented on #91601
It appears to be just the metadata.name of the node for the ds pod... weird. Here's the pod yaml:

[code]

The way I reproduce this is by spinning up new cluster with 2 masters and 3 worker nodes (using Cluster API) and applying Cilium 1.7.6:

[code]

[2020-07-09 23:51] apelisse commented on #89273
Should be fixed by #92661

[2020-07-09 23:55] dilyevsky commented on #91601
Here's the scheduler log:
[code]

After restarting scheduler pods, the pending pod immediately schedules.

[2020-07-09 23:56] alculquicondor commented on #91601
What pod events do you get? Do you know if there are taints in the node
where it doesn't get scheduled? Does it only fail for master nodes or any
nodes? Is there enough space in the node?

On Thu., Jul. 9, 2020, 7:49 p.m. dilyevsky, <notifications@github.com>
wrote:

[2020-07-09 23:57] alculquicondor commented on #91601
Could you try increasing the loglevel and using grep to filter for the node
or the pod?

On Thu., Jul. 9, 2020, 7:55 p.m. dilyevsky, <notifications@github.com>
wrote:

[2020-07-10 00:01] dilyevsky commented on #91601
These are events:
[code]

The node only has two taints but the pod tolerates all existing taints and yeah it seems to only happen on masters:
[code]

There is enough space and pod is best effort with no reservation anyway:
[code]

I'll try increasing scheduler log level now...

[2020-07-10 00:03] alexanderbuhler commented on #3312
This should be reopened since it still seems to be very relevant to me. Converting every multi-replica deployment to a statefulset just doesn't feel very right. @thockin @erictune Do you guys know of any similar functionality that has found its way into k8s ever since?

[2020-07-10 00:13] Riaankl opened #92949 "Write Pod- & SeviceProxy Test - +12 endpoint coverage"
# Progress <code>[7/7]</code>

-   [X] APISnoop org-flow : [PodProxyOptionsTest.org](https://github.com/cncf/apisnoop/blob/PodProxyOptionsTest/tickets/k8s/PodProxyRedirectTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#](https://github.com/kubernetes/kubernetes/issues/92949)
-   [X] test pr : [kuberenetes/kubernetes#94786](https://github.com/kubernetes/kubernetes/pull/94786)
- [X] N

[2020-07-10 00:17] Riaankl opened #92950 "Write NodeProxy Redirect Test - +7 endpoint coverage test"
# Progress <code>[2/6]</code>

-   [X] APISnoop org-flow : [NodeProxyOptionsTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/NodeProxyOptionsTest.org)
-   [X] test approval issue : [kubernetes/kubernetes#](https://github.com/kubernetes/kubernetes/issues/92950)
-   [x] test pr : [kuberenetes/kubernetes#94949](https://github.com/kubernetes/kubernetes/pull/94949)

 ON HOLD: Limit Ap

[2020-07-10 00:19] Riaankl opened #92951 "Write ServiceProxyOptions test+promote - +13 endpoint coverage"
# Progress <code>[1/6]</code>

-   [X] APISnoop org-flow : [ServiceProxyOptionsTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/ServiceProxyOptionsTest.org)
-   [ ] test approval issue : [kubernetes/kubernetes#](https://github.com/kubernetes/kubernetes/issues/)
-   [ ] test pr : kuberenetes/kubernetes#
-   [ ] two weeks soak start date : testgrid-link
-   [ ] two weeks soak end d

[2020-07-10 00:21] muru commented on #25908
@vanzin [as has been noted before](https://github.com/kubernetes/kubernetes/issues/25908#issuecomment-598248332), that KEP is on indefinite hold.

[2020-07-10 00:45] neolit123 commented on #92912
- you seem to be using kubeadm which means the /var/lib/kubelet/config.yaml will be created once you run either kubeadm init or kubeadm join
- kubeadm 1.19 no longer sets the --cgroup-driver flag (deprecated) and instead writes the setting in the above config.yaml file. this change cannot be backported to older releases.
https://github.com/kubernetes/kubernetes/commit/afb1ea44b96626b008ef649209030

[2020-07-10 00:45] #92912 closed

[2020-07-10 00:49] #80069 closed

[2020-07-10 01:41] coderwangke commented on #77081
kubectl -n <namespace> patch pod <pod-name> -p '{"metadata":{"finalizers":null}}'

[2020-07-10 02:44] Lincoln-dac commented on #92460
the same issue , you fix？  k8s version 1.15

[2020-07-10 03:36] pengfeiwang-cn commented on #92929
here are more info:
**[root@master ~]# kubectl get pods**
NAME                       READY   STATUS    RESTARTS   AGE
busybox-7df9447df4-9mphh   1/1     Running   0          4s
busybox-7df9447df4-bhxkt   1/1     Running   0          4s
busybox-7df9447df4-hvxs4   1/1     Running   0          4s
**[root@master ~]# kubectl logs busybox-7df9447df4-bhxkt -v=9**
I0710 11:35:07.740944    4739 loader.go:3

[2020-07-10 03:45] #71267 closed

[2020-07-10 04:01] danielmitre commented on #91038
The *defaultpreemption* was moved to **1.20.0-alpha.0** alongside with nice helpers. They will still be available on the **v1.19.0** release?

[2020-07-10 04:04] sbueringer opened #92953 "Race condition in conformance test: should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan"
Hi,

first I have to mention I didn't saw this in Kubernetes CI, we're running the conformance tests on our internal platform and from time to time the test `should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan` fails.

**Which test(s) are flaking**:
 `should orphan RS created by deployment when deleteOptions.PropagationPolicy is Orphan`

**Reason for failure**:
Th

[2020-07-10 04:30] alanmoment commented on #78644
I have same question. And my case is no Pod has keep when job is failed. My job setting is `failedJobsHistoryLimit=3`

[2020-07-10 04:55] Huang-Wei commented on #91038
That's because at some time of release `x.y` (earlier than code freeze), branch `x.y` is cut off from `master`. However, all code changes of release `x.y` still go to `master`, but they will be rebased back to branch `x.y` periodically by a script. So don't worry, all defaultpreemption logic will be available into official **1.19** release.

[2020-07-10 05:51] thockin commented on #92315
Isn't this broadly fixed by https://github.com/kubernetes/kubernetes/pull/91569 ?  We're discussing better answers and options for deployment, too, but I am curious what the close-condition for this bug is?

[2020-07-10 06:23] joelsmith commented on #92315
@thockin I made a typo in the issue description saying that this is addressed by 81569 instead of 91569. I'll edit it now. Sorry about that. Yes, this is mostly fixed by #91569. I marked this as closed due to that PR fixing the majority of security issues caused by the `net.ipv4.conf.all.route_localnet=1` setting. We can re-open if people think that we should address the remaining case that #91666

[2020-07-10 06:27] mak-454 commented on #45419
I have hit the plague issue too in my cluster which is up and in use for few days.
**Setup**

**Issue**

**Recovery**

Is there a solution? Upgrading docker version works?

[2020-07-10 07:06] thockin commented on #90259
I want to re-open this because I want to discuss the "real" fix.

Clearly we have disagreement between ipvs and iptables about whether node-ports should work on localhost.  I know of at least one use-case for it and I know that, at some point in the past, people were relying on it.  But IPVS doesn't support it at all.  Does anyone know about out-of-tree implementations?  What do they support?

I a

[2020-07-10 07:45] max-rocket-internet commented on #78761
There's been a few PRs merged around fixing HPA issues but AFAIK none of those changes are in a released version of k8s yet?

/remove-lifecycle stale

[2020-07-10 07:51] strigazi commented on #92675
For others coming here due to the missing ip pkg, v1.18.4 and v1.18.5 hyperkube images are broken. There is a fix in release-1.18 [0], but no release yet. I think we will get it in v1.18.6. So those using hyperkube, they can't mitigate #92315 by upgrading to something v1.18.4 or .5.

[0] https://github.com/kubernetes/kubernetes/commit/6b759790bf7012ab8fbf182e1fdfc56959ac4086

[2020-07-10 07:55] davidstack opened #92958 "when kubelet listwatch deviceplugin failed,it will never try"
when one deviceplugin register to kubelet, kubelet will start a goroutine, the goroutine will listAndwatch this deviceplugin ,in func (e *endpointImpl) run() , but when the ListAndWatch return error ,or the stream.Revc() return error, the kubelet will not try again.
should we add some method to try again when some error happen

`

func (e *endpointImpl) run() {
	stream, err := e.client.ListAndWatc

[2020-07-10 07:56] davidstack commented on #92958
/sig node

[2020-07-10 07:57] whalecold opened #92959 "Add preStop field in PodExecOptions to guaranteed the command graceful end."
**What would you like to be added**:

Add `PreStop` field in [PodExecOptions](https://github.com/kubernetes/kubernetes/blob/dd649bb7ef4788bfe65c93ebc974962d64476b39/staging/src/k8s.io/api/core/v1/types.go#L5034) to guaranteed the command graceful end.

**Why is this needed**:

When the process invokes the [remotecommand](https://github.com/kubernetes/kubernetes/blob/dd649bb7ef4788bfe65c93ebc974962

[2020-07-10 08:15] uablrek commented on #90259
It works with Cilium but I am unsure how much load-balancing cilium handles (I deployed the "standard" yaml with ipv6 enabled);
[code]
I am pretty sure `kube-router` does not support localhost:nodeport since it uses `ipvs` and should have the same limitation as `kube-proxy` in ipvs-mode.

[2020-07-10 08:18] uablrek commented on #90259
K3s relies on `net.ipv4.conf.all.route_localnet=1` for their forwarding of the `kubernetes` endpoint via "ssh", please see https://github.com/rancher/k3s/issues/284. But if they want to support ipv6 that does not work so...

[2020-07-10 08:52] povsister opened #92960 "DaemonSet Pods should honor tolerationSeconds with effect NoExecute on build-in taints"
**What happened**:
DamonSet Pods do not honor `tolerationSeconds` with effect NoExecute on certain build-in taints.

It seems to be a [designed behavior](https://github.com/kubernetes/kubernetes/pull/41896) ?
Should we treat it as default behavior and **give the control back to users instead of hard-coding it ?**

**What you expected to happen**:
DaemonSet Pods should honor `tolerationSeconds` and

[2020-07-10 08:55] povsister commented on #92960
/sig scheduling

[2020-07-10 09:43] alexbekir commented on #89672
Version 1.17.6 works fine.
[code]

[2020-07-10 09:46] FengXingYuXin commented on #92777
really thankful. i adjust the shared informers' starting place and resolve it.

[2020-07-10 10:30] gouki777 opened #92962 "what is CSINode resource"
version:  k8s 1.14.10 update 1.17.7

When my k8s 1.14.10 update 1.17.7. I find kube-scheduler error log.
But i can't find The *v1 CSINode resource.
How to Fix the problem. Please give me a hint.thank you~

kube-scheduler log
<pre>
I0710 18:06:13.515200       1 reflector.go:185] Listing and watching *v1.CSINode from k8s.io/client-go/informers/factory.go:135
E0710 18:06:13.518262       1 reflector.g

[2020-07-10 10:32] wawa0210 opened #92963 "Windows pods need to support `RunAsUserName` like Linux pods, not just work containers, not pause containers"
**What happened**:
If we specify `SecurityContext.WindowsOptions.RunAsUserName` when the pod is created, the windows pod will work properly, but check the running username of the pause container and find that it is still the default username of the pause image itself, not `SecurityContext.WindowsOptions.RunAsUserName`

Once the Linux pod is running, specify `RunAsUser`, and all the containers to w

[2020-07-10 10:33] Avatat commented on #92275
Hello,
I would like to add, that I had the same issue with kube-proxy from hyperkube in version 1.18.4. Upgrade to 1.18.5 has solved the issue :)
Thanks!

[2020-07-10 10:33] wawa0210 commented on #92963
/sig windows

[2020-07-10 10:33] uablrek commented on #90259
#### Kube-router

Deployed with "all-features" yaml and kube-proxy disabled.
[code]
* Access to localhost:nodeport does not work
* `Kube-router` users who disable `kube-proxy` do not suffer from the security issue

[2020-07-10 10:34] wawa0210 commented on #92963
/assign

[2020-07-10 10:41] ankon commented on #37218
I think the point of the comment https://github.com/kubernetes/kubernetes/issues/37218#issuecomment-497158443 was to encourage this functionality to be developed outside of Kubernetes _core_. Doing that reduces complexity for the Kubernetes project, and weirdly enough also for that "50-line program" -- after all, it can now focus on the one thing it needs to get right.

[2020-07-10 10:58] #80186 closed

[2020-07-10 11:07] kolinko-ant commented on #76569
Hey @thzois. Did you solve this issue. Looks like we have also the same issue.

[2020-07-10 11:14] thzois commented on #76569
@kolinko-ant I finally did not use the `--resolv-conf` flag, because after restarting the system it finally worked.

[2020-07-10 12:08] CermakM commented on #81062
Very interested in the solution to this. Was there any?

[2020-07-10 12:12] brb commented on #90259
@thockin Cilium's BPF-based kube-proxy replacement supports accessing a NodePort service via `127.0.0.1:$NODE_PORT`, and thanks to BPF it does NOT set `net.ipv4.conf.all.route_localnet=1` (therefore, it's not vulnerable to CVE-2020-8558). See https://docs.cilium.io/en/v1.8/gettingstarted/kubeproxy-free/#nodeport-devices-port-and-bind-settings:

@uablrek You probably ran on an old kernel version wh

[2020-07-10 12:26] matthyx commented on #89995
All merged.
/close

[2020-07-10 12:26] #89995 closed

[2020-07-10 12:55] chenshuyuhhh commented on #76069
I also have similar problem. My kube-controller-manager pod in CrashLoopBackoff after the wifi changed.
And I use the blow command to restart the pod:
kubectl get pod kube-controller-manager-k8s-master -n kube-system -o yaml | kubectl replace --force -f -
Then the pod is deleted, but not be restarted:
pod "kube-controller-manager-k8s-master" deleted
error: timed out waiting for the condition

[2020-07-10 12:59] gongguan commented on #89067
/remove-lifecycle rotten
Met the same issue, I'd like to fix it.
/assign

[2020-07-10 13:09] chrisohaver commented on #92559
The TTL control in the kubernetes plugin a single setting for all responses. So, 5s for all records, or 30s for all records.
We could cut the max cache time for negative responses to 5s for _all_ domains, but that would also affect upstream NXDOMAIN responses.

As far as disabling NXDOMAIN cache, negative cache (which includes NXDOMAIN and some other negative responses) can only be disabled global

[2020-07-10 13:13] hasheddan opened #92965 "[Failing Test] kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)"
**Which jobs are failing**:

`kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)`

**Which test(s) are failing**:

`[sig-network] Services should create endpoints for unready pods` is failing consistently.

**Since when has it been failing**:

`07-09-2020 11:39 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel

**Reason for failur

[2020-07-10 13:16] hasheddan commented on #92965
Started occurring in this commit range: https://github.com/kubernetes/kubernetes/compare/70e09f2c2...82baa2690?

[2020-07-10 13:17] hasheddan commented on #92965
/cc @kubernetes/sig-network-misc

[2020-07-10 13:18] hasheddan commented on #92965
Note that this test is passing on `kind-master-parallel` https://testgrid.k8s.io/sig-release-master-blocking#kind-master-parallel

[2020-07-10 13:25] JordyBottelier commented on #51835
@JoseFMP here is a script to kill it off entirely (effectively nuke it), simply save it and run ./script_name <your_namespace>:
[code]

[2020-07-10 13:34] chrisohaver commented on #92889
Yes the "DNS1123" label regex in the k8s code base doesn't actually match RFC1123's definition (which is _very_ permissive).

[code]

IIUC, the set of regexes and funcs are used to validate k8s object names and namespaces, but not for validating domain names. The names on all the related functions and consts are misleading - perhaps they should be renamed - or at least documented that they don't a

[2020-07-10 13:54] hasheddan commented on #90736
@RobertKielty do we have a separate issue open to check new failures?

[2020-07-10 14:26] alculquicondor commented on #91601
Your pod yaml doesn't actually have `node-role.kubernetes.io/master` toleration. So it shouldn't have been scheduled in the master.

[2020-07-10 14:57] pjo256 commented on #72216
/reopen

[2020-07-10 14:58] ragy-deepbiome commented on #69697
If there are pods or jobs currently using the PV, i found that deleting them solves the issue for me

[2020-07-10 15:05] sethev commented on #92889
Thanks @chrisohaver. What i would propose on this issue is to only relax the check on the search strings in dnsConfig. AFAIK, that's the only place where a domain name is present in K8s config that's being validated using dns1123LabelFmt. Changing how object names are validated would definitely be out of scope for this.

[2020-07-10 15:55] BenTheElder commented on #92962
/sig storage

[2020-07-10 17:48] robscott commented on #92965
I've spent some time digging into this one and it seems likely that this ties to my change that makes kube-proxy read from EndpointSlices instead of Endpoints https://github.com/kubernetes/kubernetes/pull/92736. This test started failing for kind-ipv6 just after this was merged. I did try building a new cluster from master now and running this test and it consistently passed. It seems like there's

[2020-07-10 18:20] raghuP9 opened #92973 "e2e conformance test around guestbook should ensure that agnhost-slave replicas are not co-located"
**Which jobs are flaking**:
e2e Conformance

**Which test(s) are flaking**:
[sig-cli] Kubectl client Guestbook application should create and stop a working application  [Conformance]

**Testgrid link**:
N/A

**Reason for failure**:
When two non co-located pods in a cluster are communicating, source pod's IP shouldn't be tampered.
This may occur when CNI is improperly configured and source IP is re

[2020-07-10 18:28] damemi commented on #92960
The taint based evictions feature has been moved to be under sig-node in 1.18 (see https://github.com/kubernetes/enhancements/pull/1510), also based on the comments in the code you linked I think this is to be handled more by the NodeController than the scheduler.

/sig node

[2020-07-10 18:30] raghuP9 commented on #92973
/sig testing

[2020-07-10 18:37] damemi commented on #92143
This will be related to removing algorithmSource from the internal api (https://github.com/kubernetes/kubernetes/issues/87526), so just commenting to link these two issues so they're easier to find

[2020-07-10 19:36] amarvin commented on #46861
Same for me. My current deploy had the evar declared via auto-injected GitLab CI/CD variable, where as my new deploy had the evar defined in `deployment.yml`. Undeploying the current app was required to clear the evars, before the new deploy would work.

[2020-07-10 20:19] saschagrunert commented on #92937
Am I correct that the main issue is a race between the tests to be finished? I assume first PR being successful tested on top of the latest master will get merged, whereas *all* other PRs will get retested after that.

If so, then we might solche this issue from a technical perspective by building-up a list of “staging” PRs instead of assuming all of them merged at the same time. Let’s say:

1. Al

[2020-07-10 22:37] aojea commented on #92965
We have identified a problem in KIND that is causing flakiness, due to some components holding the iptables lock and  causing disruption in the services.
I will a prepare a PR in the next days, it should fix more of the flakiness, but I can´t promise anything ;) 🤞
We still have to investigate why ipv6 is more sensible to this problems than IPv4, have that in the backlog though

[2020-07-10 22:41] #92084 closed

[2020-07-10 22:41] #92085 closed

[2020-07-10 22:41] #92087 closed

[2020-07-10 22:41] #92088 closed

[2020-07-10 22:41] #92091 closed

[2020-07-10 22:41] #92095 closed

[2020-07-10 22:41] #92103 closed

[2020-07-10 22:41] #92105 closed

[2020-07-10 22:42] #87766 closed

[2020-07-10 22:42] #91904 closed

[2020-07-10 22:42] #92804 closed

[2020-07-10 22:43] #90912 closed

[2020-07-10 22:43] #92704 closed

[2020-07-10 23:10] #87915 closed

[2020-07-10 23:10] #88038 closed

[2020-07-10 23:39] AndiLi99 commented on #92622
Thank you all!

[2020-07-10 23:45] spiffxp commented on #92937
@saschagrunert

no, the intended behavior is described here: https://github.com/kubernetes/test-infra/issues/13551#issuecomment-646958533

The problem is that, for the most part, neither the single PR nor batch of PR's are passing all of their jobs.  This happens because tests/jobs are flaky.  Capacity/resource issues are likely to exacerbate this.  I suspect we've been handling more PR traffic th

[2020-07-10 23:59] BenTheElder commented on #92973
The whole point of the test is that two pods should see each other's IP ...?

https://kubernetes.io/docs/concepts/cluster-administration/networking/#the-kubernetes-network-model

[2020-07-11 00:04] BenTheElder commented on #92973
/sig cli
/area conformance
Apologies for the previous comment, I totally misread your opening comment.

To restate: You're saying that we sometimes fail to catch improper configuration because when the pods are on the same node we don't see that the pod to pod traffic would have undergone NAT between nodes.

We can put an anti-affinity on these.

[2020-07-11 00:06] BenTheElder commented on #92962
This is the object.
https://kubernetes-csi.github.io/docs/csi-node-object.html

IMHO it's pretty annoying that we log errors when the cluster isn't even leveraging CSI.

[2020-07-11 00:08] BenTheElder commented on #92933
@dims LOL this again :-)
guess this isn't just glinux with hugetlb issues :upside_down_face:

[2020-07-11 00:10] spiffxp commented on #92734
/reopen
https://github.com/kubernetes/kubernetes/pull/92972 should fix this

https://testgrid.k8s.io/sig-release-job-config-errors#gce-1.13-1.14-gci-kubectl-skew is one of the affected jobs

[2020-07-11 00:13] msau42 commented on #92962
v1.CSINode is available starting 1.17 under storage/v1 api group so something seems odd that the apiserver can't find it?

Can you confirm the api server is on 1.17 too?

CSINode is a core storage object along with StorageClass. They are expected to be enabled on all clusters.

[2020-07-11 00:14] consideRatio commented on #50345
## Attempted issue summary
The subPath option is the k8s way to mount a single file in a folder that is already populated with other files. ConfigMap and Secret resources are documented to automatically update, but has a disclaimer that usage of subPath will disable such automatic updating.

A workaround strategy (https://github.com/kubernetes/kubernetes/issues/50345#issuecomment-391888999) and an

[2020-07-11 00:19] msau42 commented on #50345
The main challenge is technical. The subpath implementation uses bind-mounts for security reasons, and bind mount will stay with the original inode. I do not think we can remove the bind mount implementation, so the main alternatives to explore would be if we can get projected or configmap.items to provide single files instead of the whole directory.

[2020-07-11 00:25] BenTheElder commented on #92962
Perhaps not related to this issue at all, but glancing at a recent kind
presubmit run, I think perhaps kubeadm's kube-scheduler role does not have
permission to list this ...
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/92183/pull-kubernetes-e2e-kind/1281727803829522434
(expand
the build log and search for CSINode)

On Fri, Jul 10, 2020 at 5:13 PM Michelle Au <notifications@github.

[2020-07-11 00:25] thockin commented on #60789
What is your use-case for DNS names that you can't know a priori?  I'm not
saying there isn't a use-case but I'd like to understand.  What is it doing
with DNS?

Do you just need forward DNS (`foo.<svc>.<ns>.svc.cluster.local`) or do you
also need reverse DNS and in-pod `hostname -f` to work?

I would actually like to fix it, but there are some tricky issues.  We
currently link this to reverse-DNS

[2020-07-11 00:29] BenTheElder commented on #92937
![image](https://user-images.githubusercontent.com/917931/87212355-e9397900-c2d2-11ea-9beb-21824e89a628.png)

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=DisruptionController%20should%20block%20an%20eviction%20until%20the%20PDB%20is%20updated%20to%20allow%20it

https://github.com/kubernetes/kubernetes/pull/92860#issuecomment-656949226

[2020-07-11 00:34] BenTheElder opened #92977 "[Flaky Test] [sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it"
**Which jobs are flaking**: all of the e2e jobs that run this test

**Which test(s) are flaking**: `

`[sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it`

**Testgrid link**:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=DisruptionController%20should%20block%20an%20eviction%20until%20the%20PDB%20is%20updated%20to%20allow%20it

[2020-07-11 00:36] BenTheElder commented on #92977
approx: https://github.com/kubernetes/kubernetes/compare/70e09f2c2...82baa2690

[2020-07-11 00:36] BenTheElder commented on #92977
my suspicion: https://github.com/kubernetes/kubernetes/commit/9a23ee02b38bf367013532887c998adb80c0880a

[2020-07-11 00:38] msau42 commented on #92962
I think if the rbacs weren't right, then you should see a "permission denied" or "not authorized" message. In this case "could not find the resource" appears to me that it's not registered in apiserver

[2020-07-11 00:41] BenTheElder commented on #92962
In the kind e2e log

[2020-07-11 00:42] BenTheElder commented on #92962
this issue is 1.17 though, the log i dug up is 1.19 devel

[2020-07-11 00:42] BenTheElder commented on #92962
cc @neolit123

[2020-07-11 00:44] msau42 commented on #92962
Our CSI tests (which run on kind) are working fine at least up to 1.18. Our canary-on-master job also appears to be running fine as well. https://k8s-testgrid.appspot.com/sig-storage-csi-ci#1.18-on-1.18

[2020-07-11 00:47] msau42 commented on #92962
Default kube scheduler rbac rule for csinode is here: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/policy.go#L542

[2020-07-11 00:49] #90999 closed

[2020-07-11 00:52] BenTheElder commented on #92977
I can't find anything else that seems relevant in the time frame, and it is the only change to the test file in that time frame.

[2020-07-11 01:09] robscott commented on #92965
OK, one more update for the day, sadly no root cause yet, just been ruling out potential reasons for this to break. I ran this test a few more times on my e2e cluster and it consistently passed. I modified it to just leave the setup in place so I could look at the iptables config with and without the DualStack feature flag enabled, and it looks like it worked well in both cases.

Here's the diff f

[2020-07-11 01:32] neolit123 commented on #92962
@gouki777

what output are you getting from `kubectl get clusterrole system:kube-scheduler -o yaml` on that 1.17 cluster?
it should contain:
[code]

[2020-07-11 01:37] dims commented on #92933
IKR!!!

[2020-07-11 01:38] neolit123 commented on #92962
that is true.

@gouki777

- what does that mean? are you upgrading from 1.14 all the way to 1.17.7
- are all of your component versions matching - e.g.  kubelet and apiserver?

[2020-07-11 02:13] #88047 closed

[2020-07-11 02:31] liggitt commented on #92977
https://github.com/kubernetes/kubernetes/pull/91342 merged recently, not sure if it's relevant

[2020-07-11 03:11] hakman commented on #92977
Not sure what the procedure it, but we can revert #92745 or try some other image instead of Pause, if you think it helps.
I don't have a good explanation why the change would make the test flake like this.

[2020-07-11 04:24] BenTheElder commented on #92977
I don't have a good explanation, just that it affects the test and is in
the time frame that seems to fit the flake spike

It may take a bit to pin down what exactly happened here :/

I can't look for a little bit.

On Fri, Jul 10, 2020, 20:11 Ciprian Hacman <notifications@github.com> wrote:

[2020-07-11 07:26] dagn0 commented on #92912
But what is the standard way to config --cgroup-driver with kubeadm v1.18.5? it has --cgroup-driver configed in /var/lib/kubelet/kubeadm-flags.env, but complained about no file /var/lib/kubelet/config.yaml found.

Shall I use kubeadm 1.19 to configure kubelets 1.18.5?

[2020-07-11 07:27] hakman commented on #92977
I prepared a PR to revert the change, just incase.

[2020-07-11 07:47] hakman commented on #92977
Good news and bad news kind of thing... 😞
`[sig-apps] DisruptionController should block an eviction until the PDB is updated to allow it` fails in the revert PR also:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/92982/pull-kubernetes-e2e-kind/1281849352104448001

[2020-07-11 08:07] uablrek commented on #92857
This is not a bug, it is misunderstanding of function. Please read; https://kubernetes.io/docs/tutorials/services/source-ip/#source-ip-for-services-with-type-nodeport, especially;

It does not matter if the packets originates from a POD or an external source, they will be dropped anyway.

The default route in a POD directs packets to the node where the POD is running so in your case if there is no

[2020-07-11 08:10] uablrek commented on #92857
And the function is not dependent on proxy-mode.

/remove-area ipvs

[2020-07-11 08:49] aojea commented on #92965
@robscott  this is an IPv6 only cluster, not dual stack 😄
You can deploy one locally following this instructions
https://kind.sigs.k8s.io/docs/user/quick-start/#ipv6-clusters

[2020-07-11 12:29] mgaurav commented on #90505
Thanks @jsafrane. You are correct, kubernetes scheduler is handling volume counts.

[code]

The reason I thought I would need to request `attachable-volumes` explicitly is because node's allocatable counts for `attachable-volumes` is always reported as zero:
[code]

This issue is invalid, so I will close it. Thanks for your help.

[2020-07-11 12:29] #90505 closed

[2020-07-11 12:44] Mikulas commented on #67455
/remove-lifecycle rotten

[2020-07-11 14:38] hakman commented on #92977
I did an experiment reverting the second suspect in https://github.com/kubernetes/kubernetes/pull/92984. I couldn't reproduce the issue anymore even though I tried. You can check the results in the PR history.
https://prow.k8s.io/pr-history/?org=kubernetes&repo=kubernetes&pr=92984

[2020-07-11 14:43] hasheddan commented on #92977
@hakman I believe I have found the issue here. More information and fix incoming

[2020-07-11 14:44] hakman commented on #92977
Thanks for the update @hasheddan

[2020-07-11 15:03] hasheddan commented on #92977
I just about have a fix ready here. I was able to narrow the commit range to https://github.com/kubernetes/kubernetes/compare/82baa2690...dd649bb7e by looking at when this flake first occurred in https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel. It looks like @liggitt was correct that this was introduced in #91342. I believe what is happening is that in the test we are

[2020-07-11 15:27] tedyu commented on #89614
/remove-lifecycle stale

[2020-07-11 16:41] kavin-kk opened #92993 "Coredns is not running after kubeadm init"
**What happened**:

Coredns is not running after kubeadm init

Event:
  Type     Reason     Age                From                  Message
  ----     ------     ----               ----                  -------
  Normal   Scheduled  48s                default-scheduler     Successfully assigned kube-system/coredns-684fd95dd-ncsj4 to kube-master
  Warning  Unhealthy  44s                kubelet, ku

[2020-07-11 17:01] sftim commented on #89094
/remove-lifecycle stale

[2020-07-11 17:27] BenTheElder commented on #92977
Thanks everyone and apologies for the false alarm @hakman :-)

[2020-07-11 17:28] BenTheElder commented on #92977
/lifecycle active
/priority critical-urgent
(this is blocking merges of other fixes)
/assign @hasheddan

[2020-07-11 17:28] BenTheElder commented on #92977
/milestone v1.19

[2020-07-11 17:36] kavin-kk commented on #92993
/sig apps

[2020-07-11 17:41] #92977 closed

[2020-07-11 17:45] BenTheElder commented on #92937
The DisruptionController test should be fixed now.
We still have lots of (prow) pod timeouts, that still needs mitigating.

[2020-07-11 18:05] OliverCole commented on #87149
/remove-lifecycle stale

[2020-07-11 18:07] mulatinho commented on #79072
happened to me too after a full disk space - it not recovered after a `kubectl taint node XVYZ node.kubernetes.io/unreachable:NoSchedule-`
I have to recreate the whole cluster too.

[2020-07-11 18:20] neolit123 commented on #92912
for older versions you can continue using --cgroup-driver as the flag will not be removed.

once you upgrade to 1.19 you can remove the flag from flags.env.

[2020-07-11 18:50] gnufied commented on #84878
/remove-lifecycle stale

[2020-07-11 19:22] ibrahiminui commented on #50295
If you're using EKS, the error is due to the fact that kubectl isn't working yet. To do this, you need to use the command below

aws eks --region {region} update-kubeconfig --name {}cluster name}

[2020-07-11 21:12] invidian commented on #91050
#91277 has been merged, so this can be closed.

[2020-07-11 21:12] #91050 closed

[2020-07-11 21:28] ThiagoT1 commented on #49792
+1

[2020-07-11 21:30] ThiagoT1 commented on #49792
/reopen

[2020-07-11 22:23] aojea commented on #92965
@robscott :/

[code]

[2020-07-11 22:33] #87048 closed

[2020-07-11 23:38] mattjmcnaughton opened #92996 "Add unit test for `pkg/kubelet/util/util_unix.go#GetAddressAndDialer`"
**What would you like to be added:**
Currently, pkg/kubelet/util/util_unix.go#GetAddressAndDialer does not have unit test coverage. Unless there's a strong reason not to, we'd like public facing functions to have unit test coverage.

**Why is this needed:**
There's a fairly small chance of GetAddressAndDialer being modified, and thus breaking, in the future without this added test coverage. Howeve

[2020-07-11 23:38] mattjmcnaughton commented on #92996
/sig node

[2020-07-11 23:51] aojea commented on #92965
reminder to myself , add logging to the endpointslice controller, it may be a good help wanted issue though 🤔

[2020-07-12 02:20] neolit123 commented on #92993
hello, for support tickets our support channels:

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
also #kubeadm on k8s slack.

flannel had a number of issues, so encourage you to try another CNI like WeaveNet or Calico.

/remove-sig apps
/sig cluster-lifecycle

/close

[2020-07-12 02:20] #92993 closed

[2020-07-12 02:21] neolit123 commented on #92993
/remove-kind bug
/triage support

[2020-07-12 02:32] wawa0210 commented on #92996
/good-first-issue

[2020-07-12 02:37] #68586 closed

[2020-07-12 02:41] FreeZhang61 commented on #92996
/assign

[2020-07-12 02:47] FreeZhang61 commented on #92996
Hi @mattjmcnaughton  let's me solve it  😁

[2020-07-12 03:16] xiaopeng-han opened #92997 "/assign"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-07-12 03:21] xiaopeng-han commented on #91628
/assign

[2020-07-12 03:23] #92997 closed

[2020-07-12 03:55] #73625 closed

[2020-07-12 03:56] #92837 closed

[2020-07-12 03:57] #92766 closed

[2020-07-12 03:57] #92870 closed

[2020-07-12 03:57] #92882 closed

[2020-07-12 03:57] #92795 closed

[2020-07-12 04:18] BenTheElder commented on #92937
We merged another batch of 15, and a few singular PRs before that.
Still not very fast at all but, we are merging.

[2020-07-12 05:07] dghubble commented on #91795
Confirmed this is fixed in v1.19.0-rc.0 by #91366, which incorporates the cadvisor fix https://github.com/google/cadvisor/pull/2567

[2020-07-12 05:07] #91795 closed

[2020-07-12 05:15] mseewooth opened #92999 "Node EXTERNAL-IP is none and INTERNAL are the public IPs"
Hello people,

I have setup kubernetes cluster acrosss 3 VPS from contabo.  The servers do not have private Ip so i configure it with the public ip itself.  When i do a  :

[code]

I see the public ip addresses are being displayed in the internel ip section.  Is this normal ?

I set up an nginx ingress to test those ips :

[code]
[code]

But the services are not accessible from the public ips .

W

[2020-07-12 08:48] aojea commented on #92973
@raghuP9 is this test covering the scenarios that you mention?
[code]

[2020-07-12 09:24] awprice commented on #78416
/remove-lifecycle stale

[2020-07-12 09:42] SataQiu commented on #92999
Did you configure the `--cluster-cidr` for the `kube-proxy`?
If you want to access `svc` from off-cluster node, you should configure `kube-proxy`'s `--cluster-cidr` as the CIDR range of pods in the cluster, and add a static route on the off-cluster node for your `svc` range, routing to any node in the cluster, and that node will bridge into the `svc` for you.

[2020-07-12 11:06] mseewooth commented on #92999
Thanks for the info. yes i configured the pod range  like below :

`kubeadm init --pod-network-cidr=10.244.0.0/16`

I can see that my pods are in that particular range.  But how is it possible that the ingress has assigned a public ip and the ports are not open ?

[code]

[code]

The svc range is the cluster ip right which is 10.43.0.0/16 by default.

I'm confused with the routing part and static

[2020-07-12 11:26] SataQiu commented on #92999
The way I mentioned above allows you to access the `svc` directly from the off-cluster node without going through ingress. Ref: https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1043

If you want to access the `svc` by nginx-ingress, I think you should add something like this `207.180.XX.XX dashboard-ui.com` into your client node's `/etc/hosts`, and access your `s

[2020-07-12 11:35] mseewooth commented on #92999
Hi , thank you for this info, i deleted the other comment as i was trying to edit it ,

Thank you for this link. In fact i'm wanting the ingress to serve the website . I did the dns mapping on ` /etc/hosts`

But the workers do not have the port 80 open despite the output below :

[code]
i f  i do  telnet , nothing reponds on that IP 207.180.XX.XX  80.  This is very strange.

About the --cluster-ci

[2020-07-12 11:46] SataQiu commented on #92999
It is implemented based on `iptables` rules, so we don't really need to listen on the port for every `svc`, you may check it by `iptables -t nat -S | grep 10.103.98.118 | grep "dport 80"`.

[2020-07-12 11:55] uablrek commented on #92999
If the `longhorn-ingress` must also have a service. Thi "ingress" alone is not affecting actual traffic at all. It is the "ingress controller" and (likely) a service directing traffic to the ingress controller that controls the traffic flow.

You must check/provide info about the ingress-controller setup and the service that it is using.

Check if the ingress-controller pod is using a `hostNetwork

[2020-07-12 12:44] jayunit100 commented on #91236
@mattfenwick mentioned he will be trying to run that  inifinite loop test, will be interesting to see if we can cause this to predictably fail on any infra by simply conitnually replacing the second pod.

[2020-07-12 13:10] jayunit100 commented on #92999
@mseewooth  hi Manej ! Looks like this *might* not be a network issue, but rather an issue with your ingress controller (or possibly your k8s distribution).... can you run the following: `sonobuoy run --e2e-focus "Conformance" --wait=240` to do a test of your clusters ?  If that works, then i'd suspect that theres nothing fundamentally wrong with your IP settings .

There are alot of possible thin

[2020-07-12 13:12] arjunrn commented on #86349
/remove-lifecycle stale

[2020-07-12 13:20] jayunit100 commented on #92575
/assign @benfen

[2020-07-12 13:21] jayunit100 commented on #92618
can you run `sonobuoy run --e2e-focus "intra-pod" --wait=10` a few times in a row on this cluster, and see if it tfails?

[2020-07-12 13:22] jayunit100 commented on #92618
/assign

[2020-07-12 13:22] jayunit100 commented on #92552
/assign

[2020-07-12 13:53] mseewooth commented on #92999
Hi and thanks a bunch all of you :
@SataQiu  i did the grep ` sudo iptables -t nat -S | grep 10.103.98.118 | grep "dport 80"`.  There's no entry on for that .

How do you check the state of the ingress :

[code]

[code]

@uablrek  thanks for this info  :  The ingress controller was installed like below :

`kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/st

[2020-07-12 13:58] jayunit100 commented on #92999
hi, ok, issue is closed, should we leave it open ?

[2020-07-12 13:59] #92907 closed

[2020-07-12 13:59] #92944 closed

[2020-07-12 14:02] mseewooth commented on #92999
@jayunit100 , no the issue is still present, ingress is still nt working

[2020-07-12 14:03] jayunit100 commented on #92999
![image](https://user-images.githubusercontent.com/826111/87248338-e354ac80-c426-11ea-9d7a-eba4f8e36e4b.png)
can you reopen the issue? it is marked by github as *closed* :) for some reason...

[2020-07-12 14:08] mseewooth opened #93001 "Node EXTERNAL-IP is none and INTERNAL are the public IPs"
Hello people,

I have setup kubernetes cluster acrosss 3 VPS from contabo. The servers do not have private Ip so i configure it with the public ip itself. When i do a :

[code]
I see the public ip addresses are being displayed in the internel ip section. Is this normal ?

I set up an nginx ingress to test those ips :

[code]
[code]
But the services are not accessible from the public ips .

When i

[2020-07-12 14:09] mseewooth commented on #92999
@jayunit100  here is the link of the issue : https://github.com/kubernetes/kubernetes/issues/93001

[2020-07-12 14:11] mseewooth commented on #93001
@jayunit100   The output is still running :

[code]

Load :

[code]

[2020-07-12 14:44] andyzhangx opened #93002 "Azure stack support for azure cloud provider lib"
**What would you like to be added**:
PR(https://github.com/kubernetes-sigs/azuredisk-csi-driver/pull/445) already proves that old api-version on Azure stack works on global Azure too, we could support azure stack in azure cloud provider lib, and then make sure following components works in Azure stack:
 - CSI drivers: azure disk, azure file
 - CCM

Since it's mainly api-version change, we could al

[2020-07-12 15:30] suvsap opened #93003 "Kubernetes error:- server doesn't have a resource type “logs”"
Hi,

I am getting error when i try to deploy Kubernetes resource as below:-

[code]

Kindly help.

Thanks,
Suv

[2020-07-12 15:53] jayunit100 commented on #92929
Hi! Yup so this likely means that your Kubernetes control plane *cannot* reach your Kubelet's IP addresses.

- Can you ssh into your K8s control plane and attempt to *ping* one of your Kubelets?
- Can you tell me what you used to install K8s, and are you running in a datacenter with any specific firewalls?

[2020-07-12 16:06] jayunit100 commented on #92929
Unless your sure this is a actual networking bug, would be inclined to move this to a stack overflow question, or to a question on the repo for whatever your installer is (cluster api? kube-ansible? ...etc).  But either way keep me posted happy to help some more after we figure out wether the master can reach the hosts.

[2020-07-12 16:11] jayunit100 commented on #92929
/assign

[2020-07-12 17:02] BenTheElder commented on #93003
You want `kubectl logs podname` instead of kubectl get logs.

Logs is an API against pods, not a resource type.

[2020-07-12 17:03] BenTheElder commented on #93003
https://kubectl.docs.kubernetes.io/pages/container_debugging/container_logs.html

https://kubernetes.io/docs/reference/kubectl/cheatsheet/

/assign
/close

[2020-07-12 17:04] #93003 closed

[2020-07-12 17:29] mseewooth commented on #93001
The strangest thing , svc nodeport is working perfectly . Its only nginx-ingress not working

[2020-07-12 18:44] TomMorant opened #93004 "Kubernetes configuration file"
### Hello, where is the configuration file of binary deployment kubernetes cluster stored??? I can't find the location of the configuration file in the version after 1.14, which is here before 1.14 https://github.com/kubernetes/kubernetes/tree/release-1.14/cluster/centos

### Who can tell me, please? Thank you

[2020-07-12 18:44] jayunit100 commented on #93001
What version of nginx-ingress are you using? and how did you install it?

[2020-07-12 19:47] uablrek commented on #92999
You should be able to reach your service on the ClusterIP of the ingress controller;
[code]
But to be able to use the node address you must alter the nginx manifest to use either hostPort or "hostNetwork: true". Then the ingress controller will open the ports in the main netns on the nodes and you will be able to see them with "netstat".

[2020-07-12 19:50] uablrek commented on #92999
I think it is safe to say that this is a support issue and not a bug so I remove the "triage unresolved" label
/remove-triage unresolved

[2020-07-12 21:58] raghuP9 commented on #92973
Yes, this should cover the scenario.

[2020-07-12 22:10] chancez commented on #60789
A lot of the hadoop/big-data ecosystem has software which maintains it's own internal membership list, and hosts often self-register to some coordinator either their IP or hostname that other hosts can communicate to it via. This applies to a lot of mostly stateless services where statefulsets aren't as nice to use as deployments. One example of where I hit this with was Presto SQL. When you get t

[2020-07-12 23:33] hjmodi commented on #92402
/assign

[2020-07-12 23:46] briansneddon commented on #92552
My current understanding is that this issue may now be [obsolete](https://github.com/kubernetes/kubernetes/pull/91684/commits/1731cb30f540d386147f9e89b989e9753aa9daa3) and that the Docker daemon is no longer started in new releases.

[2020-07-13 00:42] #89306 closed

[2020-07-13 00:59] #74609 closed

[2020-07-13 01:33] sethev commented on #92889
@thockin what do you think on this issue?

[2020-07-13 02:43] pengfeiwang-cn commented on #92929
I deploy the kubernetes cluster with these steps:
1. with virtualbox, create a network named "vboxnet0", 192.168.56.1/24 with dhcp enabled.
2. create a new centos vm named "master", and configure two adapters, one NAT, the other Host-only Adapter with "vboxnet0".
3. clone "master" to "worker1"/"worker2"/"worker3", generate new MAC address for all networker adapters.
4. on master, install kubernete

[2020-07-13 02:43] zoroyouxi opened #93007 "Goroutine leak when prometheus pull metrics from cadvisor"
**What happened**: We find a node in our k8s cluster has memory leak in kubelet. And further，we find there is goroutine leak when prometheus pull metrics from cadvisor.

**Show the go profile from pprof**:
goroutine profile: total 1327
281 @ 0x42ef5a 0x42f04e 0x405d58 0x405b1d 0x9576c1 0x460031
        0x9576c0        k8s.io/kubernetes/vendor/github.com/prometheus/client_golang/prometheus.computeA

[2020-07-13 02:48] zoroyouxi commented on #93007
@kubernetes/sig-node-bugs

[2020-07-13 02:49] fai555 commented on #42649
Same on GKE 1.16.9-gke.6

[2020-07-13 02:50] pengfeiwang-cn commented on #92929
yes I can, but I have to ping ips like 192.168.56.102. and after new ip pool created, it's OK ping pods, traceroute also works well.

firewalls disabled.