[2016-02-04 17:23] mwielgus opened #20652 "Endpoints are not created for a service"
After running couple e2e tests on a GCE cluster created from HEAD endpoint controller stops working (no entries in controller log on master) and no endpoints are created for a service. I have this cluster still up and running - let me know if you need more data.

[code]

[code]

On some healthy cluster, with the same service definition
[code]

[2016-02-04 17:25] smarterclayton commented on #19497
SGTM

[2016-02-04 17:26] bgrant0607 commented on #20641
I originally proposed a distinct Reachable condition. Multiple conditions make sense

[2016-02-04 17:28] fgrzadkowski commented on #20652
@kubernetes/goog-control-plane

[2016-02-04 17:28] therc commented on #20652
This is driving me nuts, too. I am missing the kube-dns endpoints...

[code]

[2016-02-04 17:29] ericchiang commented on #20242
@dcbw does the error look the same as the original comment? Can you paste the output of

[code]

Are you installing Go via dnf or through the binary distributions from golang.org?

[2016-02-04 17:31] piosz commented on #20652
@mwielgus isnt' #18804 the cause?

[2016-02-04 17:32] fgrzadkowski commented on #20652
@piosz No. We still had still problem after a local revert.

[2016-02-04 17:33] jayunit100 opened #20653 "[E2E] Add "k8s bot extended test this please" directive"
For HPA, Density, Load, and other types of long running tests that may not run in CI, we should allow this directive in the comment dialogue.  OTherwise the only alternative is users spinning a cluster and manually running the extended tests/pasting the results.

cc @kubernetes/sig-testing  @kubernetes/sig-scalability

[2016-02-04 17:34] jbeda commented on #16508
Also related: https://github.com/polvi/monokube (cc @polvi)  Monokube takes it further by running all the parts with one command (more than just packaging them all into one binary).

[2016-02-04 17:35] mikedanese commented on #20652
I can look at this today.

[2016-02-04 17:37] brendandburns commented on #20306
This is a different issue.  This is due to us leaking addresses somewhere.  This error should be a failure.  Re-closing.

[2016-02-04 17:37] #20306 closed

[2016-02-04 17:39] brendandburns commented on #20646
assigning to @spxtr to see if this is a leak, or we just are running too many tests.

[2016-02-04 17:42] brendandburns commented on #20613
This appears to be a dupe of https://github.com/kubernetes/kubernetes/issues/19435?

[2016-02-04 17:47] pmorie commented on #18455
bingo

[2016-02-04 17:50] brendandburns commented on #20550
fwiw, the error indicates that _DNS_ was unreachable, not that gcr was unreachable (note the `10.*` address and the port `53`)

This is weird for two reasons:  1) `kube-dns` appears to be ok, from the events.  2) why is the Docker daemon using `kube-dns` for its dns lookups?

[2016-02-04 17:50] brendandburns commented on #20550
We should really grab logs for system components in our "core dump"

[2016-02-04 17:52] Random-Liu commented on #19720
It seems that I fell into a bug. During e2e test, some pods went to `Terminating`, but is actually `Running`.

[code]

[code]

[code]

This may be related to [this](https://github.com/kubernetes/kubernetes/pull/19436#issuecomment-172982445). I'm using k8s version https://github.com/kubernetes/kubernetes/commit/3db1a6c3cec63788d860a39b7552b6ad613cfae4

[2016-02-04 17:52] erictune commented on #19997
hit again.

[2016-02-04 17:57] thockin opened #20655 "Unit test flake: pkg/proxy/config"
Repro'ed on my desktop

[code]

[2016-02-04 17:57] spxtr commented on #16205
That's right. We no longer do gcloud updates within each job, but they are done on each slave daily by a Jenkins job. See #18846.

Jenkins is a wonderful cron frontend :)

[2016-02-04 17:57] ihmccreery commented on #20653
cc @kubernetes/goog-testing

[2016-02-04 17:58] olafure commented on #18230
Please consider bumping up the priority of this one.  Rendering dev's workstation virtually unusable is quite an rough welcome to Kubernetes.

[2016-02-04 18:01] dcbw commented on #20242
@ericchiang it's a similar error, though not exactly the same.  But perhaps similar enough to be the same root cause?

`
$ make test WHAT=plugin/pkg/auth/authenticator/token/oidc GOFLAGS=-v
hack/test-go.sh plugin/pkg/auth/authenticator/token/oidc
Running tests for APIVersion: v1,extensions/v1beta1,metrics/v1alpha1 with etcdPrefix: registry
+++ [0204 11:58:59] Running tests without code coverage
==

[2016-02-04 18:02] mikedanese commented on #20355
Is this fixed now that #18795 is merged or does this require a little more work?

[2016-02-04 18:03] therc commented on #20652
For the record, my binaries were built at commit [210bac10c9cdd1e50210509f6cca63cea5fa707e](https://github.com/kubernetes/kubernetes/tree/210bac10c9cdd1e50210509f6cca63cea5fa707e)

[2016-02-04 18:04] ericchiang commented on #20242
@dcbw ah I'm installing via the binary distros. Maybe the dnf installs are slightly different? Will investigate.

[2016-02-04 18:06] dcbw commented on #20242
@ericchiang full failure is at http://people.redhat.com/dcbw/oidc.log

[2016-02-04 18:09] luxas commented on #18230
@fgrzadkowski Thoughts? Should it be a `v1.2` issue?
I agree it's very annoying.

[2016-02-04 18:12] yujuhong commented on #19720
It's possible that during one of the resize tests, the node controller tried evicting all the pods on the node by setting the `DeletionTimestamp`. Kubelet will not act on this change and the status of the mirror pod will still be running and ready.
However, `kubectl` will display a pod as `terminating` as long as the `DeletionTimstamp` is set.

[2016-02-04 18:12] ihmccreery commented on #20652
For more info, we're also seeing this problem in our upgrade tests too; it's showing up once we upgrade just the master:

- http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.0-master-step4-e2e-old/
- http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step4-e2e-old/

[2016-02-04 18:16] #16205 closed

[2016-02-04 18:18] yujuhong commented on #8620
#19850 has been merged and the issue should be alleviated in the coming v1.2 release.

If you are still seeing high number of requests from kubelet when the node is in a steady state (using HEAD), please include the docker/kubelet log for triaging. Thanks!

[2016-02-04 18:20] fgrzadkowski commented on #20652
I see very large number of the following lines in controller manager:
[code]

[2016-02-04 18:22] fgrzadkowski commented on #20652
I also see this line very often in apiserver:

[code]

[2016-02-04 18:24] bgrant0607 commented on #3500
Proposed command is `kubectl cluster-info dump` (turning cluster-info into a command group).

[2016-02-04 18:27] quinton-hoole commented on #20641
I don't have full context here, but I agree with Brian, distinguishing
between a kubelet declaring itself NotReady, and NodeController declaring
it unreachable makes a lot of sense.

On Thu, Feb 4, 2016 at 6:28 PM, Brian Grant <notifications@github.com>
wrote:

[2016-02-04 18:29] mwielgus commented on #20652
I have the same thing in apiserver logs.

[2016-02-04 18:29] ihmccreery commented on #18606
cc @Q-Lee @maisem

[2016-02-04 18:30] krmayankk commented on #20168
@bgrant0607 go client from master against k8s cluster 1.1.3 in GCE. Yes  i am not doing get-modify-replace, so at the very release, i am defnitely not populating the resourceVersion while updating...

[2016-02-04 18:31] quinton-hoole commented on #20640
Yes, see #13430.  We already limit the number of pods that will be evicted.  Are you suggesting that we special-case the event where all nodes are unreachable, and reduce the limit to zero in such a case?

[2016-02-04 18:32] Random-Liu commented on #19720
@yujuhong I see. Thank you~ :)

[2016-02-04 18:35] vishh commented on #17575
Yes. We might have to document that flag a bit more though.

On Thu, Feb 4, 2016 at 8:00 AM, Mike Danese <notifications@github.com>
wrote:

[2016-02-04 18:39] dcbw commented on #20242
@ericchiang the test hangs on client.Close() for the last testcase:

		{
			"sub",
			op.generateExpiredToken(t, srv.URL, "client-foo", "client-foo", "sub", "user-foo"),
			nil,
			false,
			"oidc: JWT claims invalid: token is expired",
		},

[2016-02-04 18:40] vishh commented on #20100
@piosz: Yes. Monitoring e2e. AFAIK it was [marked as flaky](
https://github.com/kubernetes/kubernetes/blob/f3429776c236da44b1b7d1c321f1e981f2ac791e/test/e2e/monitoring.go#L35
).
Should we not require InfluxDB and instead test heapster using its REST
API? InfluxDB has failed on node reboots in the past due to checkpointing
issues. Relevant issue: #20247

On Thu, Feb 4, 2016 at 6:15 AM, Piotr Szczes

[2016-02-04 18:41] krousey commented on #20547
Are #20599 and #20631 dupes of this issue? It looks like they are to me. @bprashanth ?

[2016-02-04 18:44] bprashanth commented on #20547
Yeah I think so, feel free to dupe and we can revisit once this issue is resolved. I'm less sure about 20631 because I haven't dug into it yet, but from the debugging Just did on 20599 it sounds like the same .

[2016-02-04 18:44] thockin commented on #20655
Again
https://00e9e64bac629e7fe7ec790ae7ce27d75c56404919a89db852-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F19576%2Fkubernetes-pull-test-unit-integration%2F12553%2Fbuild-log.txt?qk=AD5uMEt-zT5tBKKnKzaeyWNMlPx3g3UHPwBeLpALAxsqTDPI3nTCzjEbiYWdbgppulWJ8Bxc0OdDJSv99AVRPmjKPTLzx4hdxMSawxxbQKFP9zx1OWv2aF9HlSoABEp8N8crzKmWe_WelnATyLDAaJ_O4j5xeWCRpe0

[2016-02-04 18:46] streamnsight commented on #8042
@thockin @goltermann

A little more info here:
It seems to work 'sometimes'. I can't really understand when it works vs. when it does not, but what what I see with the pod 'describe' command, is that the health check fails either way: So when it 'works', it's when the health check didn't kill the container, while most times the container gets killed.

So, even though the health check fails the DNS

[2016-02-04 18:46] saad-ali commented on #20633
This is a duplicate of #20613

[2016-02-04 18:46] lavalamp commented on #20400
I came here to say what Clayton said. I will make an issue.

[2016-02-04 18:46] bprashanth commented on #20655
Yeah sorry, will have a fix, it's a unittest bug

[2016-02-04 18:48] piosz commented on #20652
cc @lavalamp @kubernetes/goog-csi

[2016-02-04 18:50] yujuhong commented on #20379
@AdoHe, I'll try reproducing this in v1.1.4 today.

[2016-02-04 18:50] lavalamp opened #20656 "Investigate perf problems with go1.4.3 and go1.5.3"
For background, see #20400. We had previously rolled forward to go1.4.3 when we standardized the go version we ran on, but that caused regressions. Then we put everything on go1.5.3. That was better, and it took us longer to notice the regressions, but it's still not as good as go1.4.2, which #20577 reverted us to.

Obviously we can't stay on go1.4.2 forever, so we need to dig in and understand wh

[2016-02-04 18:54] krousey commented on #20599
Deduping to #20547

[2016-02-04 18:54] #20599 closed

[2016-02-04 18:54] fgrzadkowski commented on #20652
I have also found out that apiserver times out with `?resourceVersion=0`. Without it it works ok:

[code]

[2016-02-04 18:55] fgrzadkowski commented on #20652
@wojtek-t (it seems to be related to our cache)

[2016-02-04 19:01] timothysc commented on #20656
@lavalamp , @smarterclayton had referenced what i believe is the root cause golang/go#14189

Which is likely GC interference, under load.

[2016-02-04 19:02] krousey commented on #18809
Cherry pick was merged. Closing until it re-occurs.

[2016-02-04 19:02] #18809 closed

[2016-02-04 19:02] wojtek-t commented on #20633
@saad-ali - I don't think it's a duplicate - this is unit test, not integration test...

[2016-02-04 19:04] #20655 closed

[2016-02-04 19:04] derekwaynecarr commented on #19317
@paralin - there is no code issue, but maybe I can look to improve in the openshift example clean-up scripts or document the steps.  When you created a project in openshift, it created a namespace for that project, and annotated the namespace with a `finalizer` token that said before a namespace is deleted, an external agent needs to remove its lock on the object that says it was done clean-up.  S

[2016-02-04 19:04] #19317 closed

[2016-02-04 19:04] bprashanth commented on #20633
closed via https://github.com/kubernetes/kubernetes/pull/20657

[2016-02-04 19:04] #20633 closed

[2016-02-04 19:07] a-robinson commented on #15203
It's not critical for 1.2, but could certainly be considered a test flake issue given that it leads to static IP leaks in our e2e tests

[2016-02-04 19:10] wojtek-t commented on #20652
It's strange that it started recently. But I can look into it tomorrow.

[2016-02-04 19:11] bprashanth commented on #15203
If we're restarting controller manager outside of daemon restart during a test run when it has live loadbalancer, that would be a worse bug IMO

[2016-02-04 19:13] justinsb opened #20659 "Reflector does unnecessarily frequent re-lists"
If an etcd watch ends "normally", we still trigger a full relist:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/cache/reflector.go#L266

@bprashanth and I had a discussion on a tangentially related PR.. if this is a normal etcd server timeout, I think we should just restart the watch:
https://github.com/kubernetes/kubernetes/pull/20637#discussion_r51896817

[2016-02-04 19:15] yujuhong opened #20661 "Increase the logging level for a GKE test cluster"
The logging level of a GCE e2e cluster is set at V4, while a GKE e2e cluster maintains the regular V2. This makes debugging GKE build failures more difficult than necessary.

For GCE, the logging level is set in [configure-vm.sh](https://github.com/kubernetes/kubernetes/blob/d8be60ee57fc442ed19acc65060f615bf4accf48/cluster/gce/configure-vm.sh#L313). I am not sure what's the best way to do the equi

[2016-02-04 19:16] ArtfulCoder commented on #20652
this is an absolute blocker for v1.2

[2016-02-04 19:16] bprashanth commented on #20659
Unless I've misunderstood I think this is fine, it'll end normally when the server (apiserver) decides to close the connection. This happens at some random interval for each client. You don't want this to be all client driven because they could all pick the same random timeout.

[2016-02-04 19:22] justinsb commented on #20659
(Good point it's apiserver not etcd server - whoops)

The question is why do we then do a full relist, vs just restarting the watch at the the last resourceVersion?  e.g. why don't we treat this like we do "connection refused" - it seems much more normal than that case.

[2016-02-04 19:25] pmorie commented on #20101
@bgrant0607 @thockin accepted, I'll close the issue  out.

[2016-02-04 19:25] #20101 closed

[2016-02-04 19:27] maisem commented on #20547
@bprashanth I am just getting started and am working on a repro. If you are close to a solution feel free to take it up.

[2016-02-04 19:30] bprashanth commented on #20547
@maisem I'll try for a repro, if you're looking for easyish starter bugs suggest https://github.com/kubernetes/kubernetes/issues/20268#issuecomment-178893906

[2016-02-04 19:31] spxtr commented on #20646
cc @ixdy

[2016-02-04 19:43] caesarxuchao commented on #20459
I'll make a fix. cc @lavalamp

[2016-02-04 19:47] swagiaal commented on #17706
hmm.. it sounds like the answer here is adding `--ignore-db-dir=lost+found`
This is not a kube issue per se since you would have this problem with MySQL if you set your datadir at the root of a drive.

[2016-02-04 19:52] ixdy commented on #20646
We're at 191/200 firewall rules, 30/30 forwarding rules, 50/50 target pools... seems pretty leaky.

[2016-02-04 19:58] ixdy commented on #20646
Since I have to restart Jenkins anyway, I'll purge all existing rules at the same time.

[2016-02-04 20:01] paralin commented on #20643
I can start testing this and providing PRs if you are interested.

[2016-02-04 20:06] Random-Liu commented on #19720
I test these 27 failed test again, all of them have passed.

[2016-02-04 20:08] ixdy commented on #20646
OK, deleted all forwarding rules, target pools, and leaked firewall and static IP addresses from the kubernetes-jenkins-pull project.

[2016-02-04 20:12] ixdy commented on #20646
#20663 is the likely root cause of the leak. I'm closing this issue, since we should be good now (though a little more cleanup may be needed until #20663 is merged).

[2016-02-04 20:15] therc commented on #20652
I randomly picked 783d1d00d761d469ebbd7cda02000261a7753d7b. Still affected.
Then I picked 958c1daafef05f55dae5f3952a29a585891564d3. The endpoints were back.

[2016-02-04 20:23] therc commented on #20652
Actually, I am not 100% sure that 783d1d0 was affected, as I hadn't restarted all three controller-managers and all three API servers (HA setup).

[2016-02-04 20:23] maty21 commented on #20556
me and @yossi-cohen  solved it by creating kube-system namespace before, so you can close that issue.
in my opinion the main problem here is that kube-system namespace is not created by default

[2016-02-04 20:31] bprashanth commented on #20555
Yes you need https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/cluster-loadbalancing/glbc#prerequisites and note (from the same page, since this trips people often):
[code]

because we haven't exposed health checks through ingress yet.

[2016-02-04 20:33] bprashanth commented on #20555
Unfortunately we cannot mentione gce specifics in the main Ingress doc, which is why there's a link to the gce controller specific docs (and the nginx contrlller etc..). We will find a better way to fix this when the resource leaves beta, but if you're just looking to spin up a basic ingress: https://cloud.google.com/container-engine/docs/tutorials/http-balancer

[2016-02-04 20:34] #20555 closed

[2016-02-04 20:37] smarterclayton opened #20667 "Docker pull secrets with a registry entry of form "host:port" don't get loaded on the node correctly"
`credentialprovider.BasicDockerKeyring` tries to do a URL parse on the map key, but the value of the map can be `HOST:PORT`, which results in the returned url having a scheme of `HOST` and an opaque section of `PORT`, instead of that `Host` and `Path` like the method accepts.

This blocks using Docker pull secrets of that form from being added to the map. Workaround is that someone has to set the

[2016-02-04 20:37] #20556 closed

[2016-02-04 20:40] timstclair commented on #16296
Yes. We've made a lot of improvements to cAdvisor performance in the past few months, but we're also aware that there is more to do. Separating cAdvisor from the Kubelet will help us to isolate these issues and help make more future improvements.

cAdvisor is primarily used for monitoring right now, so the biggest consequence will be less accurate cluster monitoring. CPU and Memory usage are used

[2016-02-04 20:44] GeoffPurdy commented on #8019
@rmohr Thank you for the workaround.  I edited both provision-master.sh and provision-minion.sh and replaced a total of three references to bootstrap.saltstack.com.

[2016-02-04 20:45] bprashanth commented on #20500
I'm more inclined to believe that endpoints are awol because of either a watch cache bug or something to do with the recent label selector refactor (not sure if this is in yet), because the endpoints controller is fairly simple and hasn't been modified in a while. If this is happening, it would explain some of the services flake too.

[2016-02-04 20:51] bprashanth commented on #20355
I don't think @dcbw ran e2e on > 1 platform with network-providre=kubenet, configure-cbr0 will probably stick around as default till post 1.2.

[2016-02-04 20:52] yujuhong commented on #15925
The first obstacle is that contiainer-runtime operations in kubelet are mostly blocking calls and they don't have tunable timeouts. On top of that, kubelet uses one goroutine per pod, and a huge, comprehensive `SyncPod` call to process the requests. This makes aborting operations (including, but not limited to image pulling) more complicated. We do plan to pull image management out to a separate c

[2016-02-04 20:58] dcbw commented on #20242
@ericchiang I lied; it's actually hanging on the httptest.Server Close() from the defer srv.Close().  Trying to track that down...

[2016-02-04 21:03] ihmccreery commented on #20500
This may be related to flakes/failures #20652.

[2016-02-04 21:08] ixdy commented on #20656
In the linked golang issue, they're comparing 1.5 and 1.6 to 1.4.3, though we noticed issues in 1.4.3 vs 1.4.2. Wonder if that's worth mentioning too?

[2016-02-04 21:13] thockin opened #20668 "EnsureLoadBalancer should take args like namespace and service name"
We could at least log them, or use them in description fields in cloud provider APIs.

@a-robinson

not a hard fix

[2016-02-04 21:17] dchen1107 commented on #19720
FYI: docker 1.10.0 is out an hour ago.

[2016-02-04 21:35] a-robinson opened #20670 "Fluentd pod on master has broken resolv.conf"
Causing fluentd to fail to export logs from the master, because it can't resolve logging.googleapis.com (or anything else, for that matter). It only seems to affect the fluentd pod, not the other kube-* pods.

In an affected fluentd pod on the master at HEAD:
[code]

In an unaffected kube-apiserver pod on the same master VM:
[code]

In a functioning fluentd pod on the master at 1.1.7
[code]

@Artf

[2016-02-04 21:42] therc commented on #20314
I think this might be a duplicate of  #19619 and fixed by #20153

[2016-02-04 21:59] dcbw commented on #20355
Yeah, I wouldn't rip out configure-cbr0 yet.  The kubenet plugin doesn't have shaper support or flannel-experimental-overlay support quite yet.

(the hairpin stuff will work regardless since that's in docker manager code, not in plugins)

[2016-02-04 22:02] vishh commented on #19720
We should update docker to v1.10 as soon as the v1.2 branch is cut. WDYT
@dchen1107?

On Thu, Feb 4, 2016 at 1:17 PM, Dawn Chen <notifications@github.com> wrote:

[2016-02-04 22:06] bgrant0607 commented on #16500
cc @madhusudancs

[2016-02-04 22:10] ihmccreery commented on #20652
Okay, I was able to replicate this after 3 successful runs of "Services should work after restarting apiserver [Disruptive]".  On the first failure, in the apiserver logs, I see:

[code]

The last logs I see in the controller manager logs for the `endpoints_controller` were an hour ago:

[code]

[2016-02-04 22:18] bakins opened #20673 "Pod Autoscaler fails if pods are stuck in Terminating"
I had a node go down in AWS. Normally the controller-manager deletes all the pods, etc. For some reason, all the pods that were running on that node now are stuck in "Terminating."  The pod autoscaler still attempts to get metrics from heapster about them and therefore will not autoscale.  Should the controller-manager only consider pods in a certain state?

[2016-02-04 22:19] ihmccreery commented on #20652
This is pretty fuzzy, but during those logs, the `controller_utils` and `replication_controller` logs come immediately after:

[code]

Going forward, instead we see:

[code]

[2016-02-04 22:19] yujuhong commented on #20550
Changed the title to better reflect the failure.

/cc @ArtfulCoder since this is related to kube-dns

[2016-02-04 22:20] yujuhong commented on #20606
Closing as a dup of #20550

[2016-02-04 22:20] #20606 closed

[2016-02-04 22:22] ihmccreery commented on #20547
For another example, see https://github.com/kubernetes/kubernetes/issues/20652#issuecomment-180073848

[2016-02-04 22:28] roberthbailey commented on #20219
@zmerlynn or I can take a look.

[2016-02-04 22:31] dchen1107 commented on #19720
Yes, that is the plan.

But for 1.2, we are still evaluating docker 1.9.2 performance here. @Random-Liu is going to publish some data comparing 1.8.3 and 1.9.2.

[2016-02-04 22:33] cjcullen commented on #20500
I'm sitting w/ @ihmccreery, and the logs from this integration test failure are different enough from the things he's finding that I'm hesitant to say that they have the same root cause. My endoints_controller is running the whole time, and I don't see anything about closed watches.

One thing I do see in the failure logs (that isn't in the logs from my successful runs) is a FailedSync on the Pod

[2016-02-04 22:34] saad-ali commented on #20613
Hmm, I don't think that is the same. Those tests are executed via `test-update-storage-objects.sh` with a problem in that script. These tests are run via `./hack/test-go.sh`

[2016-02-04 22:37] bprashanth commented on #20500
Maybe the pod isn't ready to begin with (which would make it ineligible for service membership)?

[2016-02-04 22:37] lavalamp commented on #20652
I don't see how it could be the cause, but I did recently add a timeout. It should make this better, not worse, though.

I want to know why apiserver is giving 504's-- that's probably the root cause...

[2016-02-04 22:39] AdoHe commented on #20379
@yujuhong Thanks very much, I will keep looking, but as I am on the new year holiday, I may not reply that quickly.

[2016-02-04 22:40] cjcullen commented on #20500
That's my working hypothesis. The pod is never becoming ready, in which case it is the "correct" behavior that it never shows up in the endpoints list.

[2016-02-04 22:41] saad-ali commented on #20633
@saad-ali - I don't think it's a duplicate - this is unit test, not integration test...

#20613 was mislabeled integration. It's includes the same tests including `TestNewMultipleSourcesEndpointsMultipleHandlersAddRemoveSetAndNotified`. Hopefuly #20657 fixed it. It hasn't reoccurred in the last 4 hours since that was merged.

[2016-02-04 22:41] saad-ali commented on #20613
This may be fixed by #20657. It hasn't reoccurred in the last 4 hours since that was merged.

[2016-02-04 22:44] pwittrock commented on #20402
Just saw the same test failing.  Logs [here](https://doc-0icba-10oao-s-googleusercontent.commondatastorage.googleapis.com/gs/fuc2vio4jd536so122rmrf52ehn3qlv5/ujhl6npgfu4vupnbahoojac127n28a47/1454625000000/kubernetes-jenkins/01720166177040642613/ChJrdWJlcm5ldGVzLWplbmtpbnMSSXByLWxvZ3MvcHVsbC8xOTkzMi9rdWJlcm5ldGVzLXB1bGwtYnVpbGQtdGVzdC1lMmUtZ2NlLzI2Nzk0L2J1aWxkLWxvZy50eHQ?a=AGjQbs4j3Rt7D2s9KvYIV2kt8

[2016-02-04 22:44] cjcullen commented on #20500
Though that may just be a red herring, because I see [similar logs](http://kubekins.dls.corp.google.com/job/kubernetes-test-go-release-1.1/3586/consoleFull) in successful runs

[2016-02-04 22:44] lavalamp commented on #15945
E.g., reading from /pods, sending that RV to /services.

[2016-02-04 22:46] bprashanth commented on #20402
Your logs link doens't work for me

[2016-02-04 22:52] ericchiang commented on #20242
Either way, maybe a lack of dial timeouts in [the transport](https://github.com/kubernetes/kubernetes/blob/386aab82deefdce5c81fd921880070bfe1ffebf7/plugin/pkg/auth/authenticator/token/oidc/oidc.go#L77-L79) might be causing the hang?

[2016-02-04 22:59] bprashanth commented on #20402
@pwittrock I'm guessing you mean the pr linked, i.e http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26654
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20621/kubernetes-pull-build-test-e2e-gce/26654/

Which failed with:
[code]

That's not this issue, it's https://github.com/kubernetes/kubernetes/issues/20547.

If you have a service

[2016-02-04 23:00] brendandburns commented on #20547
I think that this may also be the root cause of:

https://github.com/kubernetes/kubernetes/issues/13515

Since when I look at the event logs for the failing test, I see:

[code]

There should be an event for the load balancer delete:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/service/servicecontroller.go#L259

but there's no such event, it definitely looks like the watch d

[2016-02-04 23:04] pwittrock commented on #20402
@bprashanth thanks that is very helpful

[2016-02-04 23:04] #20402 closed

[2016-02-04 23:13] lavalamp commented on #20652
@ihmccreery can you post a link to an apiserver log?

[2016-02-04 23:14] caesarxuchao commented on #20459
It's actually not the `unstructuredJSONScheme` to be blamed. Sent #20674 to fix.

[2016-02-04 23:16] pwittrock opened #20675 "Volume metrics calculation - getmetrics should consume the pods resources"
fs_resource_analyzer.go fsResourceAnalyzer should charge resources for collecting volume metrics to the pod instead of using the kubelets resources.

metrics collection should also be spread evenly over the collection period to avoid cpu spikes

[2016-02-04 23:18] ihmccreery commented on #20652
https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/384

[2016-02-04 23:19] ihmccreery commented on #20652
Also:

- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/383
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/382
- https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/381

[2016-02-04 23:19] pwittrock opened #20676 "Volume metrics calculation - disambiguate error during collection from "not supported""
Many volumes do not support GetMetrics and return an error when called.  Because this returns an error, we cannot differentiate from an actual error condition when a volume that does support metrics fails to gather metrics.  The latter should be logged and investigated, whereas the former should be silently ignored.

[2016-02-04 23:20] #17359 closed

[2016-02-04 23:20] zmerlynn commented on #20618
There are long discussions about moving `container-vm` to Jessie. Stay tuned, and sorry it's not already supported.

[2016-02-04 23:26] zmerlynn commented on #20100
I would like a test that is runnable on GKE, so the InfluxDB requirement is somewhat of a non-starter. Given that I spent a good chunk of a weekend chasing basically a Heapster flap on the reboot tests, I think it would give us a better signal.

[2016-02-04 23:31] lavalamp commented on #20459
Fix looks good to me.

[2016-02-04 23:40] lavalamp commented on #20638
Did you measure your clock skew?

If the traffic went from within the cluster, did it appear in kube-proxy's log?

[2016-02-04 23:46] krmayankk opened #20677 "nginx deployment with containerPort other than 80, doesnt work"
create a nginx-deployment with containerPort=84
create a service with port =81 and target-port=84

this doesnt work. If i login to the nginx container, the nginx container doesnt have port 84 but its still listening on 80.

I wondering if this is a bug in nginx container or kubernetes.

[2016-02-04 23:47] krmayankk commented on #20677
curl from a k8s node to <clusterip:81> returns the following :-1:
curl: (52) Empty reply from server

[2016-02-04 23:48] lavalamp commented on #20652
This code path is triggering:

https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/handlers.go#L136

[2016-02-04 23:49] lavalamp commented on #20652
(The code sends 504 even though the comment says 503)

[2016-02-04 23:51] lavalamp commented on #20652
Looks like the timeout is a minute, so any request that takes more than a minute will trigger this. https://github.com/kubernetes/kubernetes/blob/59820827d461d322aa4bd0d3fd0c58097e263b01/pkg/genericapiserver/genericapiserver.go#L580

[2016-02-04 23:53] lavalamp commented on #20652
This timeout handler is a terrible thing, it leaks goroutines?

[2016-02-04 23:56] bgrant0607 commented on #20290
Fixed by #20389

[2016-02-04 23:56] #20290 closed

[2016-02-05 00:05] lavalamp commented on #20652
OK, the cause is that etcd went down. It just doesn't show up in the log for a while, I guess it took a while for the cacher to realize it was down. In the middle of that log:

[code]

[2016-02-05 00:08] pwittrock opened #20679 "Volume metrics calculation - disambiguate pod volume metrics not available yet from empty"
Pod volume metrics are calculate and cached in the background and retrieved from the cache at request time.  We should be able to differentiate "stats for the volume have not yet been cached" from the "pod has no volumes" and from "error calculating stats"

[2016-02-05 00:12] lavalamp opened #20680 "Hot loop in reflector logging"
See https://github.com/kubernetes/kubernetes/issues/20652#issuecomment-180112628 -- it logs a message every 10-20 microseconds when etcd goes down. Once a second would be a better retry frequency, and once every 30 seconds would be a better logging frequency. P1 since this could exacerbate an outage by filling logs in the time it takes to get etcd back up.

[2016-02-05 00:12] lavalamp commented on #20652
Filed #20680 about the excessive log frequency. Now I'll try to figure out why etcd went down.

[2016-02-05 00:23] yujuhong commented on #20566
Got a reliable reproduce.

kubelet panic'd on closing a closed channel. The panic was handled at https://github.com/kubernetes/kubernetes/blob/f9f5736b01519574380a9ec1c65d00bc8751fd1b/cmd/kubelet/app/server.go#L610, and kubelet.Run() was called again. This caused kubelet to start every goroutine in Run(), including prober manager, node status updater, etc.

[code]

Here is the commit that works wi

[2016-02-05 00:27] lavalamp commented on #20652
Kubelet did restart etcd:

[code]

[2016-02-05 00:31] lavalamp commented on #20652
Comparing timestamps, it looks like it was unresponsive for a while before kubelet restarted it.

There was a lone health check fail but it was a long time before the problems.

[code]

This container inspect result is why kubelet restarted it, but it's not clear to me what went wrong.

[code]

[2016-02-05 00:34] lavalamp commented on #20652
@wojtek-t Maybe you can take a look at this? It's unclear if the cacher is not recovering or if etcd is getting into a bad state.

Even after cacher stopped logging those errors, it looks like requests didn't start succeeding. I think my timeout in #20433 is too long, if it were shorter then it would stop things before main timeout-- if that branch of code is involved, which it shouldn't be, since

[2016-02-05 00:34] yujuhong commented on #20566
Looks like the `CleanupPods` and `RemovePod` both closes the channel and the worker will delete itself from the map upon exit. This will cause problem if a worker is slow to terminate and `CleanupPods` being called again (e.g., in a stressed kubelet). Maybe we should add a `terminating` map/set, similar to the pod worker PR #20465. @timstclair, WDYT?

[2016-02-05 00:41] ixdy commented on #12689
We should fix this - I think this test is still disabled in some places due to this issue. cc @wonderfly

[2016-02-05 00:43] lavalamp commented on #20638
Also did it have to retry the request? I think apiserver can ask clients to try again later if it's busy (maybe I'm misremembering a planned feature).

[2016-02-05 00:45] lavalamp commented on #20652
The fact that this bug isn't called "nothing works at all anywhere" makes me think the problem must be located in the cacher.

[2016-02-05 00:47] codefx9 opened #20684 "Docker version upgrade in 1.1.x branch"
Hi,
Are there any plans to upgrade Docker version beyond 1.7.x in Kubernetes 1.8.3?

Thanks.

[2016-02-05 00:52] ixdy commented on #15639
cc @david-mcmahon

[2016-02-05 01:06] drocsid commented on #18096
If you just need some sort of HDFS client from inside your application: https://github.com/colinmarc/hdfs . But HDFS volume support would be nice. According to HDFS fuse docs reads and writes are slower with https://wiki.apache.org/hadoop/MountableHDFS . I'm not sure if this is also true for https://github.com/remis-thoughts/native-hdfs-fuse/blob/master/README.md . It would be nice to see HDFS vol

[2016-02-05 01:08] #18815 closed

[2016-02-05 01:08] saad-ali commented on #20613
In the 6 hours since #20657 was merged, I have not seen the `kubernetes-test-go` fail with this issue. Closing this issue as fixed by #20657. Reopen if you see another occurrence.

[2016-02-05 01:08] #20613 closed

[2016-02-05 01:17] yybear opened #20685 "pod status is still running after delete it's node"
i create an rc contains one pod called voltest(rc has same name), and it is running on one node(ip is 10.45.25.204).
then i delete one node (ip is 10.45.25.204), after that i wait for k8s moving pods to other nodes.
but pods is still running on the deleted node, i even stop kubelet service manually on that node, but pod is still running.
here is the pod yaml:
apiVersion: v1
kind: Pod
metadata:
  a

[2016-02-05 01:22] therc commented on #20668
Boy, would this have been useful while debugging today. I can take it and add an AWS implementation. Is namespace:service an acceptable format for a short description? There are times I wish kubectl understood that.

[2016-02-05 01:25] a-robinson commented on #20668
I think the preferred format is namespace/service, as in our [NamespacedName](https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/pkg/types/namespacedname.go#L33) type. Adding it would be much appreciated :)

[2016-02-05 01:55] cjcullen commented on #20500
I've given up on trying to reason from the logs. I have a loop running integration tests at 7e94fe062bc7c4a5fdd53d699c3f43aabba3bac1 (one of the failures). I've gotten through 26 runs of the loop without a failure. I'll report back tomorrow.

[2016-02-05 02:04] mgoodness commented on #19704
This seems similar to [#14504](https://github.com/kubernetes/kubernetes/issues/14504). It would be awfully nice if we could create an appropriately-tagged security group, assign it to worker nodes, and have Kubernetes-created ELBs use it.

As it stands, Kubernetes creates its own SGs and attaches them to an arbitrary existing SG (call it SG1). This is troublesome when using Terraform, as it wants

[2016-02-05 02:09] fuliangliu commented on #20625
@AdoHe you mean kubernetes master service must be placed in the "default" namespace? No way to change?

[2016-02-05 02:14] smarterclayton commented on #20547
Not sure if this is the same https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20376/kubernetes-pull-build-test-e2e-gce/26876/build-log.txt

[2016-02-05 02:14] bprashanth commented on #20547
Update: I can't upload prs for this till https://github.com/kubernetes/kubernetes/issues/20652 is resolved. I've reverted to an ancient commit to debug.

[2016-02-05 02:20] therc commented on #20668
Ugh, that's unfortunate. There's already the TYPE/NAME syntax, e.g.  rc/foo and deployment/bar...

[2016-02-05 02:26] david-mcmahon commented on #20656
Responding to my cc: on the parent bug, I don't claim to know all the details here, but If changes like this cause such havoc it's worth running "next go version" through a go-version-flag modified jenkins instance (or 5) to test go version upgrades in parallel (with normal HEAD testing).  This requires a flag for go version to be passed in and the jenkins instances set up of course.

[2016-02-05 02:43] tanen01 commented on #20475
Seeing the same problem here on k8s v1.1.7 stable

Issue occurs with kube-proxy --proxy-mode=iptables
Once I changed it to --proxy-mode=userspace (also the default), then it works again.

This is a bit disappointing as iptables proxy mode is one of the major highligts in v1.1

[2016-02-05 02:44] tingzhang opened #20689 "Kubernetes UT not stable"
this is my cmd, Thanks all!
OS_AUTH_URL= KUBE_RACE=-race KUBE_COVER=y KUBE_GOVERALLS_BIN=/home/jenkins/tools/org.jenkinsci.plugins.golang.GolangInstallation/GO_1.5.3/bin/goveralls KUBE_TIMEOUT=-timeout 300s KUBE_COVERPROCS=8 KUBE_TEST_API_VERSIONS=v1 KUBE_TEST_ETCD_PREFIXES=kubernetes.io/registry ./hack/test-go.sh -- -p=2

ok      k8s.io/kubernetes/cmd/kube-proxy/app    1.057s  coverage: 14.0% of

[2016-02-05 02:44] david-mcmahon commented on #20367
Have not delved into Makefiles at all yet, but yes, at its most basic,  'make' should do sane things for developers and 'make release' for release.  If it is otherwise, what is the issue with just changing (and announcing) it?

[2016-02-05 02:46] david-mcmahon commented on #20091
"skipped" by me mostly because process is not strictly defined or controlled yet.  That's all changing Real Soon.
Thanks for fixing this jsravn@.  Assuming this is closed now so closing.

[2016-02-05 02:46] #20091 closed

[2016-02-05 02:54] david-mcmahon opened #20690 "Update docs when current version numbers change"
Follow-on from #19929, docs that require updating when current versions change should be updated during the release process automagically.

[2016-02-05 03:21] dinvlad opened #20692 "GitRepo for Google Cloud Source Repositories"
Hi All,

Is it possible to point GitRepo for pods running on the GKE to a Cloud Source Repository available via Google console (within the same project), e.g.
[code]
When I try to use it this way, `kubectl` displays pod status as `ImageNotReady`

I assume that means that the default credentials are not shared with GKE? Then per #17676, currently it's not possible to do that?

Any help would be app

[2016-02-05 03:52] bgrant0607 commented on #19124
The more data we have, the better decisions we can make.

It's useful to distinguish VM is unreachable vs. Kubelet not communicating.

It's useful to distinguish Kubelet can't run any containers vs. can't start new ones.

It's useful to know why: Docker dead/unresponsive, sys OOM, OOD, volumes can't be mounted, container network unavailable, etc.

It's useful to determine which failures are correl

[2016-02-05 04:34] thockin commented on #20593
yeah, it's passing a zone.  I have a fix as part of another PR.

On Wed, Feb 3, 2016 at 2:31 PM, Justin Santa Barbara <
notifications@github.com> wrote:

[2016-02-05 04:56] andyzheng0831 commented on #20646
This happens again: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26903/console

20:34:37 ERROR: (gcloud.compute.addresses.create) Some requests did not succeed:
20:34:37  - Quota 'STATIC_ADDRESSES' exceeded.  Limit: 25.0

[2016-02-05 05:11] thockin commented on #20692
The git repo volume doesn't support credentials, so unless that is a public
repo it won't work.

On Thu, Feb 4, 2016 at 7:22 PM, Denis Loginov <notifications@github.com>
wrote:

[2016-02-05 05:11] thockin commented on #20367
It's plumbed through 8 layers of shell.  Hardcoded, defaulted, ignored, and
replaced.

On Thu, Feb 4, 2016 at 6:45 PM, David McMahon <notifications@github.com>
wrote:

[2016-02-05 05:12] nikhiljindal opened #20694 "e2e flake: Services should be able to change the type and ports of a service"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26883/#

[code]

[code]

[2016-02-05 05:15] thockin commented on #20547
If this is the cause of the flakes, it is KILLING me.  P0

[2016-02-05 05:19] thockin commented on #20694
Suspected dup of #20547

[2016-02-05 05:32] nikhiljindal commented on #20646
This happened again: http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26909/console

[code]
Am reopening the issue

[2016-02-05 05:44] mateeyow commented on #20634
@codablock Alright, thanks. Better close this issue.

[2016-02-05 05:44] #20634 closed

[2016-02-05 05:46] bprashanth commented on #20694
Yes

[2016-02-05 05:47] thockin commented on #20694
Hmm, maybe not.

I'm seeing this in controller manager logs:

[code]

followed by a lot of

[code]

[2016-02-05 05:48] thockin commented on #20694
That first message seems wrong - it was allocated just a few lines above - it should not be deleted.

That second message seems wrong - it should still be attached to a forwarding rule

[2016-02-05 05:50] bprashanth commented on #20694
Oh, sorry then, erm, will re-close if it is on closer inspection.

[2016-02-05 05:52] bprashanth commented on #20652
PTAL https://github.com/kubernetes/kubernetes/issues/20695

[2016-02-05 06:08] davidopp commented on #9043
https://blog.docker.com/2016/02/docker-1-10/
(Docker 1.10 announcement)

*Live update container resource constraints: When setting limits on what resources containers can use (e.g. memory usage), you had to restart the container to change them. You can now update these resource constraints on the fly with the new docker update command.*

[2016-02-05 06:36] #20593 closed

[2016-02-05 06:41] mateeyow commented on #15103
@erictune Aaaah. Noted, thanks. May I suggest to have a note on the documentation? Others might get confused as well.

[2016-02-05 07:11] wojtek-t commented on #20638
It's definitely not clock skew - the clock skew is negligible.

I though about retries, but IIUC, if apiserver rejects a request with 429 error, the it should be visible in its logs. But it's nothing like that there...

The trafic is not from inside the cluster - the call is from the test itself, and the test was running on my machine. And answering the question that you may have - it doesn't seem

[2016-02-05 07:12] wojtek-t commented on #20633
@saad-ali - ok thanks!

[2016-02-05 07:16] #14366 closed

[2016-02-05 07:16] wojtek-t commented on #15945
That shouldn't be a big deal - resource version is common for all resources (there is a single RV in etcd). I agree that technically it's incorrect, but that shouldn't cause problems in my opinion.

[2016-02-05 07:27] #20459 closed

[2016-02-05 07:29] wojtek-t commented on #20652
There is a definitely a bug in releaseing lock that @bprashanth found - thanks a lot for investigating @bprashanth !
I still don't understand why you suggest that the RV in portallocator is in the future...

[2016-02-05 07:39] thockin commented on #20668
yeah, there's not a formal grammar for the structure - it's contextual.

On Thu, Feb 4, 2016 at 6:20 PM, Rudi C <notifications@github.com> wrote:

[2016-02-05 07:42] bgrant0607 commented on #20640
Commented in another issue: https://github.com/kubernetes/kubernetes/issues/19124#issuecomment-180180996

[2016-02-05 07:43] bgrant0607 commented on #20640
Certainly if there is nowhere for the pods to go, it doesn't help to evict them.

[2016-02-05 07:50] lavalamp commented on #15945
It *does* cause problems, though! See the other commit in #20433. Someone read from one table, passed that (big) RV into list of services. But the service watch RV was stuck at the last service write, *not* the global number--which had since advanced--so apiserver hung on startup.

[2016-02-05 07:52] davidopp commented on #20640
Let's coalesce all the pod eviction rate-limiting discussion in #13430.

[2016-02-05 07:52] #20640 closed

[2016-02-05 07:53] lavalamp commented on #15945
And anyway, clients need to treat it as separate, because we could swap out the storage, like we do with events.

[2016-02-05 07:57] bgrant0607 commented on #20374
cc @quinton-hoole

[2016-02-05 07:59] bgrant0607 commented on #20374
I agree our current commands are confusing.

See also #20605, and the issues it references.

[2016-02-05 08:00] lavalamp commented on #20638
Is apiserver so heavily loaded that it just takes that long to accept the
connection?

On Thu, Feb 4, 2016 at 11:11 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-02-05 08:04] wojtek-t commented on #20638
It doesn't seem to be (I mean it's not cpu-bounded at least)

[2016-02-05 08:10] wojtek-t commented on #15945
I agree that client need to treat is as separate - I just though that it's not urgent...

[2016-02-05 08:31] wojtek-t commented on #20638
For me it looks more like some problem at the test side - like test cannot set up more connections, or is creating them slowly, or sth like that...

Maybe the problem is that there is just a single client in e2e test framework an all requests to apiserver are send from a single client (and there are potentially O(thousands) lists/watches that can co-exist at the same time)?

[2016-02-05 08:57] fgrzadkowski commented on #18230
AFAIU we are mounting `/dev` so that we are able to use external devices as volumes. However in a local docker cluster this doesn't sound like a very useful thing... I guess as a workaround we can temporary comment out this line with an appropriate comment. WDYT?

@luxas Do you want to send a fix for this?

[2016-02-05 09:05] thockin commented on #20694
This seems to be totally repeatable, but I have not pinned it down yet

[2016-02-05 09:11] wojtek-t commented on #20547
Can this be a duplicate of https://github.com/kubernetes/kubernetes/issues/20652 (I mean the symptoms here are different, but the underlying cause may be the same...)

[2016-02-05 09:18] thockin commented on #20694
New suspect:

[code]

[2016-02-05 09:23] thockin commented on #20694
Smoke:

[code]

[2016-02-05 09:31] drngsl commented on #20146
@loshkovskyi , thanks for you response.
when I need to post request to keystone with https protocol, of course, here it is not succeed.
For kubelet, does it need to add other configurations, like `--tls-cert-file` `--tls-private-key-file`?

[2016-02-05 09:31] #20652 closed

[2016-02-05 09:47] thockin commented on #20694
I have to crash out.  If anyone has bandwidth here's my last clue ^^^^

Why does it think the service no longer exists?

I am rebasing to head and running one last test, my debug is in #20662 (along with a couple real issue fixes)

[2016-02-05 09:58] thockin commented on #20547
New weirdness in #20694

On Fri, Feb 5, 2016 at 1:11 AM, Wojciech Tyczynski <notifications@github.com

[2016-02-05 10:26] wojtek-t commented on #20418
This happened again:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-e2e-gke/431/consoleFull

[2016-02-05 10:53] diseku commented on #8042
Ensure that you're not blocking udp with iptables for flannel and svc subnet and between the cluster nodes

[2016-02-05 10:54] pires commented on #20516
@pnovotnak `Please use Google Developers Console to activate the 'logging' API for your project."` - you need to enable `Logging API` for the project where this cluster was created.

Also, make sure your GKE is 1.1.7 since 1.1.4 had issues with logging.

[2016-02-05 11:01] Fizzadar commented on #20497
@jlowdermilk so I'm pretty sure this is the API server - it never generates any logs from `handlers.go` - while responding to RC/service deletion. When I restart the service the following logs appear instantly and at that point it stops logging at all:

[code]

Is there anything else which might help debug this?

[2016-02-05 11:06] Fizzadar commented on #20497
Here's an example of one of the broken/hanging pods:

[code]

[2016-02-05 12:49] wojtek-t commented on #20638
OK - I have a confirmation that the problem is somewhere in the test or client.

I added additional log in pkg/client/unversioned/request.go, just before where Do() is called:

     780     time.Sleep(r.backoffMgr.CalculateBackoff(r.URL()))
     784     glog.Errorf("calling: %s", url)
     785     resp, err := client.Do(req)

With those logs I have the logs as following:

    E0205 12:59:05.909913

[2016-02-05 12:52] fgrzadkowski commented on #20235
@luxas We have discussed with @ihmccreery and it sounds like tweaking history. Why do you need `-amd64` images for `v1.0.1` or other old images? I think that for newer 1.1.7 we already published all images, so why change it for older? Also, as you in few weeks we will start pushing all images as part of regular release process, so maybe that's enough. WDYT?

[2016-02-05 13:00] therc commented on #20374
See also #20668 for confusing or missing shorthand notations (I die a little every time I type --namespace or forget to specify it) when juggling between kube-system and a custom namespace.

[2016-02-05 13:22] gmarek opened #20707 "Issues exposed in soak cluster"
Currently tests in soak clusters are reliably failing for a number of reasons:
- bug in heapster (https://github.com/kubernetes/heapster/issues/945 - already fixed)
- influxdb OOM:
[code]
Note that heapster-influxdb included influxdb 0.9.6. It seems that 200MB is too little for influxdb so we need to figure out what the good number is. It's especially worrying because soak cluster has only 3 Nodes

[2016-02-05 13:42] justinsb opened #20708 "e2e flake: "failed to create firewall" (gcloud flake?)"
Similar to #20306 I think.

This build: https://github.com/kubernetes/kubernetes/pull/20637#issuecomment-180022807

(direct link: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20637/kubernetes-pull-build-test-e2e-gce/26782/artifacts/)

Hit this error during kube-up:

[code]

AFAICT, there's no relevant context in the logs.  kube-down fails to delete the rule

[2016-02-05 13:43] xinxiaogang opened #20709 "Does kube-scheduler support fault domain?"
Whether kube-scheduler consider about fault domain during Pod scheduling to try to schedule Pods to different fault domain in a RC?

[2016-02-05 13:52] gmarek commented on #20418
And again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/441/

This is the main reason for blocked merge queue today.

[2016-02-05 13:53] gmarek commented on #20418
@yujuhong - given that we can't do anything about it and it's causing major main do you think we can demote this test to flaky?

[2016-02-05 13:53] wojtek-t commented on #20638
And I verified that it's not a problem of backoff...

[2016-02-05 14:13] druidsbane commented on #17994
Thanks @evanphx and @vishh, finding a different type helped.  The only thing is if we do intend to use that storage it should be added as part of the GC scripts otherwise we won't gain much benefit.  I couldn't find a way to set a larger ephemeral storage either but regardless it would eventually fill up.

[2016-02-05 14:24] gmarek commented on #20096
I agree with @ihmccreery that it's NOT test-infra that requires fixing, but product by itself.

I'm not a huge fan of coupling responsibilities, but probably NodeController is most appropriate place to add restart logic right now. Ref. #20641

Wherever machine doctor will be, something (probably Kubelet) will need to expose encountered problems somewhere (e.g. we could add 'reason' for KubeletStat

[2016-02-05 14:24] wojtek-t commented on #20638
heh... - it seems that it might be rate-limitting at the client level
I'm currently verifying it...

[2016-02-05 14:33] wojtek-t commented on #20638
Yes - increasing QPS limit solved that particular issue. There seem to be some other, but I will continue debugging them.

[2016-02-05 14:50] fgrzadkowski commented on #16087
I've checked the docs and:
* Documentation linked by @roberthbailey is indeed outdated, but it's for `v1.1` and most of the changes/simplifications that we did require some code changes which were not cherry-picked
* Once we release `v1.2` they should be up-to-date

At the same time I think we should use there image versions like `:latest_alpha` or `:latest_stable` so that they are always up-to-da

[2016-02-05 14:50] #16087 closed

[2016-02-05 14:53] fgrzadkowski opened #20715 "Consider using docker images tags :latest :stable for docker images"
During release process we use only numbered docker image versions, e.g. `v1.1.7` or `v.1.2.0-alpha.7`. From the user perspective it would be easier to use `gcr.io/google_containers/hyperkube-amd64:stable` for `v1.1.7` or `gcr.io/google_containers/hyperkube-amd64:latest` for `v1.2.0-alpha.7`. This will allow us to avoid hardcoding versions in various documents like docker getting started guide.

Fo

[2016-02-05 14:55] fgrzadkowski commented on #16055
This is already fixed for image `v1.2.0-alpha7` and obviously will be working in `v1.2.0`.

[2016-02-05 14:55] #16055 closed

[2016-02-05 14:55] fgrzadkowski commented on #14403
This is already fixed for image `v1.2.0-alpha7` and obviously will be working in `v1.2.0`.

[2016-02-05 14:57] fgrzadkowski commented on #14403
Oops. Wrong issue. Sorry.

[2016-02-05 15:05] bprashanth commented on #20547
I ran this test overnigth with the watch fix from https://github.com/kubernetes/kubernetes/issues/20695 at 003b231867644def61cba182b7c9137d37ff0014 and it got >100 successful runs, though https://github.com/kubernetes/kubernetes/issues/20547#issuecomment-180278761 indicates more weirdness so I'm not closing for now

[2016-02-05 15:20] sangwonl commented on #5699
I'm getting the exactly same issue. I found a self-answered question from stackoverflow. http://stackoverflow.com/questions/24357058/vagrant-provision-with-salt-the-function-state-highstate-is-running

But I couldn't catch what exactly he did. Someone helps me what to try..?

[2016-02-05 15:28] AdoHe commented on #20146
@drngsl IIRC these two flags will not be used when you get cloud provider

[2016-02-05 15:31] henryon commented on #10522
same issues on 1.1.7

cluster "vagrant" set.
user "vagrant" set.
context "vagrant" set.
switched to context "vagrant".
Wrote config for vagrant to /Users/HenryWen/.kube/config
Each machine instance has been created/updated.
  Now waiting for the Salt provisioning process to complete on each machine.
  This can take some time based on your network, disk, and cpu speed.
  It is possible for an error

[2016-02-05 15:38] streamnsight commented on #8042
@diseku as i said Dns works when the pod runs, even thought the helth check failed.
to me it must be a timing issue where the healthcheck is done too soon or something.

i still didn't hear an answer about the latest image version to use and how to find out: thise images are on gcr.io but how to browse this registry for images??? i could not find the url for that.

thanks

[2016-02-05 15:54] drngsl commented on #20146
@AdoHe, thanks!
If my keystone auth_url need to use url like https://*.*.*.mydomain.com, can i use the above cloud config kubelet directly?
Although, I can not use it to connect kubelet with openstack successful currently.

[2016-02-05 15:54] drngsl commented on #20146
@AdoHe, thanks!
If my keystone auth_url need to use url like https://*.*.*.mydomain.com, can i use the above cloud config kubelet directly?
Although, I can not use it to connect kubelet with openstack successful currently.

[2016-02-05 16:14] henryon commented on #10522
when I rerun the cluster/kube-up.sh, the error still exist, and can't get nodes/services etc status.

The first time, it works. weird.

[2016-02-05 16:19] jachandler opened #20722 "Transient Load Balancer failure on GCE"
Hello all - apologies if I'm creating a duplicate ticket...I haven't been able to conjure exactly what I'm looking for; this may be related to the issues described here: https://groups.google.com/forum/#!topic/google-containers/yg539XUMQSA. I have tried going through the services walkthrough, to no avail.

I am creating authenticated Mongo replica sets using Kubernetes on GCE. We are using custom,

[2016-02-05 16:26] shanegibbs opened #20724 "Invalid ACIdentifier when using rkt runtime"
I have built kubernetes master (386aab82deefdce5c81fd921880070bfe1ffebf7) and am using rkt 1.0.0 as the runtime. I am encountering the following error in the kubelet when trying to start a pod:

[code]

[2016-02-05 16:28] shanegibbs commented on #20724
After digging in the code, it seems that something is trying to use an invalid ACI identifier: `rkt.kubernetes.io/terminationMessagePath`, [here](https://github.com/kubernetes/kubernetes/blob/386aab82deefdce5c81fd921880070bfe1ffebf7/pkg/kubelet/rkt/rkt.go#L621). Which, according to the panic, is invalid due to having uppercase chars.

After looking over the ACI spec, the regex in  [acidentifier.go

[2016-02-05 16:42] shanegibbs commented on #20724
Downcasing seems to work - https://github.com/kubernetes/kubernetes/pull/20728. However, I do not fully understand the ramifications of this change.

[2016-02-05 17:03] thockin commented on #20694
the last clue may be a red herring in the truest sense - my e2e cluster was partially upgraded and the service/status subresource may not exist.  burning it down and starting fresh

[2016-02-05 17:06] shanegibbs commented on #20724
Looks like something @yifan-gu may know about...

[2016-02-05 17:17] thockin commented on #20694
Back to failing on the update after the port is changed:  `this gce project doesn't own the IP address:`

[2016-02-05 17:27] #7835 closed

[2016-02-05 17:30] ihmccreery commented on #14674
I'm closing this out, as we're coming up to v1.2 and GKE upgrades are still unstable.

[2016-02-05 17:30] #14674 closed

[2016-02-05 17:31] ihmccreery commented on #15116
This has been resolved via #19608 etc.

[2016-02-05 17:31] #15116 closed

[2016-02-05 17:31] ihmccreery commented on #18664
Closing as obsolete.

[2016-02-05 17:31] #18664 closed

[2016-02-05 17:32] ihmccreery commented on #18661
This was resolved in #18772.

[2016-02-05 17:32] #18661 closed

[2016-02-05 17:34] yujuhong commented on #20418
The last few failures don't seem to have the docker hung problem. However, the logging level in the GCE cluster is too low to identify the root cause. I filed #20661 to increase the log level.

[2016-02-05 17:35] ihmccreery commented on #19729
I'm closing this and will re-triage; lots has changed since this was filed.

[2016-02-05 17:35] #19729 closed

[2016-02-05 17:35] ihmccreery commented on #19728
This seems to have resolved itself; will re-open if it recurs.

[2016-02-05 17:35] #19728 closed

[2016-02-05 17:38] ihmccreery commented on #17965
This seems to have resolved itself.

[2016-02-05 17:38] ihmccreery commented on #19726
This seems to have resolved itself.

[2016-02-05 17:42] pmorie opened #20729 "Make e2e status link a public link"
Currently, when the E2E tests fail for a PR, there is a comment from the bot with a public link to the build log, but the link in the status for the PR tests is a non-public one.  It would be extremely helpful if both links were public.

[2016-02-05 17:45] Random-Liu commented on #19720
Preliminary Result:
In my test, at least for `docker ps` and `docker inspect`, there is no much performance difference on latency and cpu usage between 1.8.3 and 1.9.1. I'll post some data soon.

[2016-02-05 17:45] Random-Liu commented on #20454
Close this since #20615 is merged.

[2016-02-05 17:46] Random-Liu commented on #20583
Close this since #20615 is merged.

[2016-02-05 17:52] bgrant0607 commented on #20381
@nikhiljindal @kargakis @janetkuo @mqliang When a pre-existing RC is adopted, do we add the pod-template-hash or other labels to it?

[2016-02-05 17:52] spxtr commented on #20646
#20663 went in shortly after this was reopened.

[2016-02-05 18:11] zmerlynn commented on #20610
No. I was thinking about this the other day and couldn't come up with a good reason, except airgapped environments. I think we still want the option to build from source (and go all the way through that way), so we might need a way to test that way as well. (Or we just keep Jenkins building that way, and we convert the dev workflow over to pull from gcr.io.)

[2016-02-05 18:18] krousey commented on #20547
Possibly fixed by #20697

[2016-02-05 18:19] bgrant0607 commented on #4825
See #19295, #20688

[2016-02-05 18:22] bprashanth commented on #20547
Yes I'm leaving it open because we're still investigating drops in the servicecontroller as indicated in https://github.com/kubernetes/kubernetes/issues/20547#issuecomment-180392638

[2016-02-05 18:28] #14713 closed

[2016-02-05 18:34] spiffxp commented on #19724
@bgrant0607 I agree, except the conformance tests rely on events.  So, implicitly, a cluster has to have events coming from certain named sources to be conformant.  If the tests shouldn't be relying on events, what should they be using instead?

@davidopp what's the proposed strategy for dealing with this in a multi-scheduler world?  I'd like some way to validate that a kubernetes cluster with a s

[2016-02-05 18:37] thockin commented on #20694
sigh, this is my fault.  working on a proper fix

[2016-02-05 18:37] bprashanth commented on #20694
Do you have recent logs?

From http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/26776/consoleFull which was the failure in the third pr referened 9 hours ago (https://github.com/kubernetes/kubernetes/pull/20170#issuecomment-180023159)

[code]

[2016-02-05 18:39] spiffxp commented on #19724
eg: at the moment, the mesos scheduler sets itself up with the name "default-scheduler" to appear conformant as well, which doesn't seem quite right

https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/pkg/scheduler/service/service.go#L795

[2016-02-05 18:44] vishh commented on #18704
So 30s is not enough? I can bump it higher. I don't see any issues with the kubelet.

[2016-02-05 18:49] krousey commented on #20694
@thockin assigned to you based on your comment.

[2016-02-05 18:55] smarterclayton commented on #20610
Dev workflow from gcr.io is fine - my preference is for formal build to
always build images from source unless there is a compelling reason not to.

On Fri, Feb 5, 2016 at 1:12 PM, Zach Loafman <notifications@github.com>
wrote:

[2016-02-05 19:02] timstclair commented on #20566
I have a simpler proposal: just do a non-blocking send on the stop channel (and buffer it). That way it's not a problem if it is stopped multiple times. I didn't do this before because there were multiple places the worker needed to check the stop channel, but with the current design I think this is the cleanest solution.

[2016-02-05 19:03] lavalamp commented on #20652
Awesome, thanks for fixing my embarrassing bug, @bprashanth...

I was going to say that there's still something to be explained here (etcd restarting) but I think that could be legit depending on the test.

[2016-02-05 19:07] AmandaCameron opened #20734 "NFS PV is getting mounted then immediately unmounted, causing Kubernetes to fail to bring up pods"
Kubelet seems to be having trouble mounting a NFS PV. The mount will briefly appear in the mount output, then immediatly (within 2s) disappear. This is causing some major headaches for me.

The only clue I can find is this:
I0205 19:00:24.904536   27673 nfs.go:157] NFS mount set up: /var/lib/kubelet/pods/8c73c65c-cc39-11e5-810b-5600001de9f9/volumes/kubernetes.io~nfs/maine-coon-keys false stat /var

[2016-02-05 19:07] mikedanese commented on #19724
The [test](https://github.com/kubernetes/kubernetes/blob/release-1.1/test/e2e/events.go#L37) in question just seems completely broken. If we want to conformance tests events, we should define an event in the test, emit it through an event recorder, and observe it in the API.

[2016-02-05 19:11] AmandaCameron commented on #20734
Upon scanning through with a different grep, it appears it's mounted, then immediatly called an orphan and unmounted.

[2016-02-05 19:13] therc commented on #20652
I can confirm that this is fixed even on AWS, using CoreOS' etcd2.

[2016-02-05 19:15] ihmccreery commented on #19724
If events aren't part of the API, why would we want a conformance test around them?

I'm more concerned about the SchedulerPredicates test which probably should be a conformance test, but also relies on `api.DefaultSchedulerName`.

Perhaps that test should be allowed to somehow specify what scheduler it cares about?  Or we should decouple it from events entirely?

[2016-02-05 19:15] pnovotnak commented on #20516
This issue was solved exactly how the error message suggested... Enabling the API in the console. I didn't want to create additional traffic on this ticket because it truly is an operator/ platform issue, not a kubernetes one, but here's the stackoverflow post with solution for reference;

http://stackoverflow.com/questions/35165973/fluentd-dropping-messages

TL;DR

"You can do so from the Develop

[2016-02-05 19:16] ihmccreery commented on #19724
I'm focusing on making our old tests forward-compatible with this change, but that won't help with conformance going forward.  @spiffxp do you have a serious need for the v1.1 conformance tests working, or can we fix v1.2 and call it good?  (We can consider a fix-and-backport if necessary.)

[2016-02-05 19:16] lavalamp commented on #20638
We should be careful about increasing the test client's rate limit-- we
don't want to make so many requests that we distort the performance numbers
we get.

On Fri, Feb 5, 2016 at 6:33 AM, Wojciech Tyczynski <notifications@github.com

[2016-02-05 19:21] Random-Liu commented on #16110
**Introduction**
I benchmarked `docker ps` and `docker inspect` with the following 3 experiments:

1. Do periodically `docker ps` and `docker inspect`, ***gradually increase the dead container number and alive container number***.
2. Do periodically `docker ps` and `docker inspect`, ***gradually increase the operation interval***.
3. Do periodically `docker ps` and `docker inspect`, ***gradually i

[2016-02-05 19:21] bprashanth commented on #20547
I think we're over this. Tests that fail because a loadbalancer didn't come up on time are most likely running into quota issues, which is *probably not* dropped watch events, and Tim has a fix coming for https://github.com/kubernetes/kubernetes/issues/20694.

[2016-02-05 19:21] #20547 closed

[2016-02-05 19:22] mikedanese commented on #19724
I'd say that "events" are part of the api (they have a resource and a type in pkg/api/types.go). It's probably good to check that the events mechanism is working in a conformance tests. However the behavior that a specific event being omitted with a specific format when a specific thing occurs is not part of the api and should not be relied on in e2e tests. Does that make sense?

[2016-02-05 19:24] pwittrock opened #20737 "local-up-cluster.sh fails pod scheduling with "runContainer: container already exists""
running a pod on a local cluster fails do to "container already exists":

Fri, 05 Feb 2016 19:15:13 +0000   Fri, 05 Feb 2016 19:15:13 +0000   2         test-pd     Pod       spec.containers{hello-world}   Pulled                  {kubelet 127.0.0.1}      Container image "gcr.io/google_containers/busybox" already present on machine
Fri, 05 Feb 2016 19:15:13 +0000   Fri, 05 Feb 2016 19:15:13 +0000

[2016-02-05 19:24] mikedanese commented on #19724
Conformance tests should assert the expected state of the system (which coincidentally has a stable api), not that a particular log message was emitted.

https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/multiple-schedulers.md

[2016-02-05 19:24] spiffxp commented on #19724
@mikedanese agreed, but I honestly don't know... is there a non-event mechanism to measure pod scheduling latency?

[2016-02-05 19:25] mikedanese commented on #19724
Ya it's tricky, you can observe the prometheus handler but that's not a stable api either.

[2016-02-05 19:28] janetkuo commented on #20737
+1

What's your docker version?

[2016-02-05 19:28] spiffxp commented on #19724
@mikedanese and regarding the proposal, it specifically says nothing about events... I as a consumer of kubernetes' API would want some way to know when my pod has been scheduled, regardless of which scheduler actually made the decision

[2016-02-05 19:30] yujuhong commented on #20737
wild guess: you have docker v1.10 on your workstation?

Since kubernetes/kubelet doesn't support docker v1.10  yet, some problems are expected.
/cc @Random-Liu, who is verifying v.1.10

/cc @janetkuo, who ran into the same problem.

[2016-02-05 19:31] spiffxp commented on #19724
@ihmccreery fix-and-backport sounds good to me, end goal is "v1.1 conformance passes on v1.1 and v1.2 clusters"

[2016-02-05 19:35] mikedanese commented on #19724
You can observe that the nodeName in podspec gets set

[2016-02-05 19:45] spiffxp opened #20738 "Rewrite scheduler-centric e2e tests to avoid use of events for validation"
We should have enough info available in other parts of the API to be able to test:
- whether a pod was scheduled
- scheduling latency per-pod
- reasons a pod failed to schedule

Events are deemed unstable / non-API, so at least the `[Conformance]` subset of tests should not rely on them

ref #19724

[2016-02-05 19:45] ihmccreery opened #20739 "e2es (especially Conformance) should not rely on Events"
Per https://github.com/kubernetes/kubernetes/issues/19724#issuecomment-180488608 and further discussion, e2es, especially conformances tests, should:

1. not rely on a pod getting scheduled by a specific scheduler;
1. not rely on that scheduler sending specific events at specific checkpoints.

Perhaps we're okay with tightly coupling some e2es to the default scheduler, but probably not conformance

[2016-02-05 19:46] ihmccreery commented on #20739
Closing in favor of #20738.

[2016-02-05 19:46] #20739 closed

[2016-02-05 19:49] spiffxp commented on #20738
Fixes should be backported accordingly to ensure backwards compatibility (ref #18162).  May need to revisit depending on how much non-event info is available in `release-1.0`

[2016-02-05 19:54] dchen1107 commented on #20737
I sent an email out yesterday related to the new image layout introduced by docker 1.10.0 release. Have you tried to remove all your dead containers, then images and retry?

[2016-02-05 20:04] janetkuo commented on #20737
Did that and still hit the same problem.

[2016-02-05 20:08] timothysc commented on #19720
/cc @ncdc

[2016-02-05 20:15] Random-Liu commented on #20737
I'll try it.

[2016-02-05 20:17] Random-Liu commented on #19720
FYI, the benchmark result is [here](https://github.com/kubernetes/kubernetes/issues/16110#issuecomment-180510177)

[2016-02-05 20:30] wojtek-t commented on #20638
@lavalamp - I agree that we shouldn't increase it in general.
However, load test is very specific, so that we do a bunch of read-only operations and there is only one such test client, so I think it's pretty safe to change it. Note that I'm changing limits only for the client used in this particular test, so this will not affect any other tests.
Additionally, if we increase the limits, it can only

[2016-02-05 20:31] wojtek-t commented on #20638
To clarify - I already did some tests today, and it solves that particular problem. I will try to finish investigation on Monday (but I think I understand what other problems we have there, and those seem to be test-specific things).

[2016-02-05 20:32] pwittrock commented on #20737
I am running docker 1.9.1

It started failing for me at this commit:
https://github.com/kubernetes/kubernetes/commit/8118092d11e35cc7fffec50e7a93f2727b0a2802

[2016-02-05 20:40] liggitt commented on #18760
This should be in 1.2... otherwise we regress function and cannot run against secured etcd, right?

[2016-02-05 20:42] janetkuo commented on #20737
Tried reverting https://github.com/kubernetes/kubernetes/commit/8118092d11e35cc7fffec50e7a93f2727b0a2802 and now the issue went away!

[2016-02-05 20:43] ixdy commented on #20646
@thockin cleaned up the project again last night, so hopefully clear now. I'll double-check the project as well.

[2016-02-05 21:18] jayunit100 opened #20743 "Revisit scale e2e [5/20/2016]"
Once e2e flakes smooth out, revisit the following PRs.  Priority order 1st, highest.  Please assign this issue to me.

cc @ixdy @timothysc @kubernetes/sig-testing

I'm Happy to add other tests here which we can revisit later if others have them, please add below.

[2016-02-05 21:19] bprashanth commented on #20708
Closing as dupe of https://github.com/kubernetes/kubernetes/issues/20576

[2016-02-05 21:22] #20694 closed

[2016-02-05 21:22] dchen1107 commented on #20096
I removed flake bit since it is broken, not flake.

[2016-02-05 21:25] jayunit100 commented on #20743
- HPA Config #18631
- HPA Multitest #18633
- Networking Soak #15762

[2016-02-05 21:25] yujuhong commented on #20737
To clarify, the commit 8118092d11e35cc7fffec50e7a93f2727b0a2802 fails with docker v1.9.1 and above, but works with v1.8.3 (our official supported version).

[2016-02-05 21:27] dchen1107 commented on #20641
Agreed with both @bgrant0607 and @quinton-hoole by distinguishing between Reachable and NotReady.

[2016-02-05 21:30] bgrant0607 commented on #17938
Fixed by #18141 and #18252

[2016-02-05 21:30] #17938 closed

[2016-02-05 21:30] bgrant0607 commented on #19039
Dupe of #17938, and also fixed.

[2016-02-05 21:30] #19039 closed

[2016-02-05 21:33] dchen1107 commented on #20096
@gmarek Yes, this is feature required by our production. We should introduce a kernel watchdog to detect this kind of locking to the system, or machine doctord to the node. The problem is that I don't think this belongs to open source since the implementation should understand the underneath kernel, os distro, filesystem and hardward.

Again on Node API, we can introduce the API to receive those p

[2016-02-05 21:43] yujuhong commented on #20737
Errors in docker.log
[code]
I commented out the hostname and dns options in the code and the containers got started fine.
The original error message was very unhelpful though.

[2016-02-05 21:46] Random-Liu commented on #20737
If so, the error message docker gave us is quite meaningless...

[2016-02-05 21:49] freehan commented on #17873
Two types of failure:

1. Elasticsearch cluster in bad state.
This only happens when running with other disruptive tests. Never failed in `kubernetes-e2e-gce-parallel-flaky` suite where it is not running with disruptive tests. ES resilience can be improved by #19149

2. Missing log lines in Elasticsearch.
I am able to reproduce this once. It is due to fluentd is hanged. Filed a issue to upstream.

[2016-02-05 21:55] Random-Liu commented on #19720
FYI, the go-dockerclient problem has been fixed. https://github.com/fsouza/go-dockerclient/issues/455

[2016-02-05 21:57] david-mcmahon commented on #20367
So 2 issues here:
1. Complex layering of build rules
2. Sane defaults for dev and release

This seems related to [#19769](https://github.com/kubernetes/kubernetes/pull/19769/files).

I'll have a better look when I get a chance.

[2016-02-05 21:59] Random-Liu commented on #20737
FYI, the ambiguous error reason "already exists error" is reported by `go-dockerclient` [here](https://github.com/fsouza/go-dockerclient/blob/02a8beb401b20e112cff3ea740545960b667eab1/container.go#L408).

[2016-02-05 22:01] #20001 closed

[2016-02-05 22:11] Random-Liu commented on #20737
"hostname and the network mode" is reported in docker code [here](https://github.com/docker/docker/blob/master/runconfig/hostconfig_unix.go#L39)
"dns and the network mode" is reported in docker code [here](https://github.com/docker/docker/blob/master/runconfig/hostconfig_unix.go#L51)

[2016-02-05 22:14] spxtr commented on #20403
This is flaking 1 or 2 times per day on kubernetes-e2e-gce.

[2016-02-05 22:17] lavalamp commented on #20403
new occurrence: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/11020/

[2016-02-05 22:23] timothysc commented on #18760
@xiang90 ?

[2016-02-05 22:28] sunshineo commented on #20088
+1
So annoying!

[2016-02-05 22:32] bprashanth commented on #17873
The risk here is that ES is a default cluster addon. IMO it's fine not testing it for critical builds, but the risk is we'll ship something that straight crashloops. So if we move it to feature I'd ask that you add a smaller test that verifies basic functionality to a blocking suite (ping es, check that it accepts *some* logs). Or make it non-default.

[2016-02-05 22:35] yujuhong commented on #20737
xerf; -h and --net should not be set at the same time (since v1.9) https://github.com/docker/docker/issues/17147

[2016-02-05 22:39] #18668 closed

[2016-02-05 22:43] Random-Liu commented on #20737
I found the root reason cause this issue.

Before 8118092, we set `HostConfig` when `StartContainer()`. In `StartContainer()`, [DecodeHostConfig()](https://github.com/docker/docker/blob/master/api/server/router/container/container_routes.go#L1744) is called, in which there is no configuration check.

While, after 8118092, we set `HostConfig` when `CreateContainer()`. In `CreateContainer()`, [Decod

[2016-02-05 22:50] roberthbailey commented on #20096
/cc @fabioy

[2016-02-05 22:54] vishh commented on #17994
Kubelet attempts to identify the filesystem that docker uses for images and
use that for GC. If kubelet is not running GC, then I'd suspect some issues
with that logic.

On Fri, Feb 5, 2016 at 6:14 AM, Hesham Wahba <notifications@github.com>
wrote:

[2016-02-05 22:56] lavalamp commented on #20638
Changing this test only SGTM. Thanks for bringing that failure mode to my
attention, I will file an issue because we need to fix that everywhere.

On Fri, Feb 5, 2016 at 12:30 PM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-02-05 22:59] lavalamp opened #20750 "Client: Never throttle watch"
As @wojtek-t notes in #20638, it's possible for our client throttling to allow a list and then block the corresponding watch. This is really bad, because if those two calls aren't close enough together, the window could expire and then we'd have to start all over with another list. Lists are expensive and we want to minimize them.

The first thing that comes to mind is to just not throttle watches

[2016-02-05 23:01] dcbw commented on #20242
@ericchiang looks like it's actually https://github.com/golang/go/issues/12262 and there are a couple other places in oidc_test.go that comment out srv.Close() due to this.  Doing that fixes it for me too...

[2016-02-05 23:03] bprashanth commented on #20737
@kubernetes/sig-network Is the DNS option and HostName option still in use now?

We use --dns to set dns servers in resolv.conf in the pause pod which starts up the network namespace. Everything else in the pod just shares, though it's totally possible that we're piping the same dns for each container in the pod. I don't know what setting different dns options for each container in a pod will do.

[2016-02-05 23:06] lavalamp opened #20751 "Generate client sets with versioned objects (instead of internal objects)"

[2016-02-05 23:07] yujuhong commented on #20737
The discussion on hostname: https://github.com/kubernetes/kubernetes/issues/4825

[2016-02-05 23:07] dcbw commented on #20242
@ericchiang the original bug is probably different, so I'll drop off this report and handle this in https://github.com/kubernetes/kubernetes/pull/20752 instead.

[2016-02-05 23:07] yujuhong commented on #20737
Yes, the pause pod still works, but the --net=container doesn't work anymore.

[2016-02-05 23:11] thockin commented on #20734
@rootfs also

On Fri, Feb 5, 2016 at 11:12 AM, Amanda Cameron <notifications@github.com>
wrote:

[2016-02-05 23:13] ixdy commented on #20653
Seems like a reasonable proposal.

A few questions:
* PR e2e runs a limited subset of tests (non-flaky, non-serial, non-slow, non-disruptive, non-feature). What set of tests would this run? We could run everything that's non-flaky and non-feature (giving more coverage, taking many hours), though that's obviously still leaving out some stuff. If we wanted to test any features, that's a pretty large

[2016-02-05 23:13] ixdy commented on #20653
other issue with feature tests is that some require either special kinds of resources or larger clusters.

[2016-02-05 23:18] parikhyash opened #20753 "PersistentVolumeClaim doesn't bind to a volume when created again"
- I created a PersistentVolume and a PersistentVolumeClaim that binds to that volume.
- Everything worked as expected
- Went ahead and deleted the claim
- On creating the same claim again, it refuses to bind to the volume (to which it did the first time). Status is stuck in "pending" phase.
- The persistent volume status is shown as "released", however, the claim is still unable to bind to it.
- T

[2016-02-05 23:20] lavalamp commented on #20689
Do you see these errors if you just run plain `./hack/test-go.sh`? If so, can you try to narrow down which of the args you're setting causes the errors?

[2016-02-05 23:22] lavalamp commented on #20692
Hopefully Tim answered your question, but if not:

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to

[2016-02-05 23:22] #20692 closed

[2016-02-05 23:23] lavalamp commented on #20709
I don't know the current answer, so tagging @davidopp. But in general, for this sort of question:

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find

[2016-02-05 23:24] bgrant0607 opened #20754 "Scale Deployments Proportionally"
Filed an issue to represent work started here:
https://github.com/kubernetes/kubernetes/pull/20273
https://github.com/kubernetes/kubernetes/pull/20696

The proposal was to scale the underlying RCs with non-zero replicas proportionally in order to mitigate risk.

Otherwise, scaling up currently increases the size of the newRC and scaling down could decrease the sizes of the old ones, both of which

[2016-02-05 23:24] lavalamp commented on #20722
@thockin or @bprashanth?

[2016-02-05 23:25] freehan commented on #17873
@bprashanth Good point. I will work on #19149 first. It has to be done anyway. It will also make future ES updates easier.

BTW, ES addon is not default for GCE/GKE.

[2016-02-05 23:26] lavalamp commented on #20729
Is this true? Last time I clicked one of those I thought it took me to the public link?

[2016-02-05 23:27] bgrant0607 opened #20755 "Ensure Deployment labels adopted ReplicaSets and pods"
Basically, we need to do the equivalent of AddDeploymentKeyToReplicationController:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/rolling_updater.go#L641

Otherwise, new RCs produced by Deployment will overlap we pre-existing ones that aren't constrained by the pod-template-hash.

If we can't do this for 1.2, we should document this pitfall.

cc @kargakis @janetkuo @mqliang @iro

[2016-02-05 23:31] davidopp opened #20756 "Write documentation for affinity for 1.2"

[2016-02-05 23:31] thockin commented on #20367
I'd love to brain dump my hopes and dreams on you some time :)

On Fri, Feb 5, 2016 at 1:58 PM, David McMahon <notifications@github.com>
wrote:

[2016-02-05 23:32] thockin commented on #20641
To be clear, I wasn't disagreeing, just clarifying :)

On Fri, Feb 5, 2016 at 1:27 PM, Dawn Chen <notifications@github.com> wrote:

[2016-02-05 23:32] Random-Liu commented on #20583
Reopen this issue, since #20615 is reverted

[2016-02-05 23:32] bprashanth commented on #17873
Really? my e2e cluster always has it, why are we testing with it then?

[2016-02-05 23:32] Random-Liu commented on #20454
Reopen this issue, since #20615 is reverted

[2016-02-05 23:34] thockin commented on #20646
I'm keeping an eye on it in the background, but it's unclear to me just how
aggressive I can be in manually  cleaning.  I killed at least one build
today.

On Fri, Feb 5, 2016 at 12:44 PM, Jeff Grafton <notifications@github.com>
wrote:

[2016-02-05 23:35] Random-Liu commented on #20737
Close this issue, since #20615 is reverted #20742.
I'll file another issue about the network configuration problem.

[2016-02-05 23:40] freehan commented on #17873
For GCE:
`config-default.sh: LOGGING_DESTINATION="${KUBE_LOGGING_DESTINATION:-gcp}"`
`config-test.sh: LOGGING_DESTINATION="${KUBE_LOGGING_DESTINATION:-elasticsearch}"`

[2016-02-05 23:40] davidopp commented on #20709
The "selector spread priority" policy spreads pods from the same service or RC across nodes and zones:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/algorithm/priorities/selector_spreading.go#L76

The "service anti-affinity priority" priority function will let you spread based on an arbitrary fault domain that you choose by specifying the label name: https://github.com/

[2016-02-05 23:40] #20709 closed

[2016-02-05 23:42] lavalamp opened #20757 "Flake: Pod Disks should schedule a pod w/ a RW PD shared between multiple containers, write to PD, delete pod, verify contents, and repeat in rapid succession [Slow]"
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/302/

[code]

[2016-02-05 23:44] ixdy commented on #20729
The unit/integration status URL used a public link, but the e2e one still went to internal Jenkins.

I updated both to use http://pr-test.k8s.io/${ghprbPullId}/${JOB_NAME}/${BUILD_NUMBER}/.

[2016-02-05 23:44] #20729 closed

[2016-02-05 23:55] andyzheng0831 commented on #16702
As PR #20463 gets merged, the functionality-wise work is done. But there are still a couple of TODO left to make the whole work better.

[2016-02-05 23:57] spxtr commented on #19964
#20013 is in.

[2016-02-05 23:57] #19964 closed

[2016-02-06 00:11] Random-Liu opened #20759 "Kubelet should not set network configurations except NetworkMode for non-infra containers."
As is discussed  in #20737.

Since docker has added some network configuration check for

1) We should not set any other network configurations (such as hostname, exposedPorts,  DNS etc.) for non-infra containers except `NetworkMode=container:InfraContainerId`

2) We should let the network configuration of infrastructure container follow the [ValidateNetMode()](https://github.com/docker/docker/blo

[2016-02-06 00:13] ixdy commented on #20646
I deleted a few additional firewall/forwarding/targetpools from overnight. Hopefully clear now.

[2016-02-06 00:14] #20737 closed

[2016-02-06 00:14] Random-Liu commented on #20737
Mistype...

[2016-02-06 00:14] freehan opened #20760 "default LOGGING_DESTINATION not consistent between prod and test on GCE"
For GCE:
`config-default.sh: LOGGING_DESTINATION="${KUBE_LOGGING_DESTINATION:-gcp}"`
`config-test.sh: LOGGING_DESTINATION="${KUBE_LOGGING_DESTINATION:-elasticsearch}"`

Should we use gcp logging in both settings?
modify/add logging e2e to test against gcp logging?
mark elasticsearch e2e test as [Feature]?

@kubernetes/goog-cluster

[2016-02-06 00:15] yujuhong opened #20762 "Add e2e tests for mirror pods"
We have integration tests for mirror pods, but we should migrate them to e2e tests for a more thorough testing. This new test will also be a candidate for the node test suites in the future.

/cc @Random-Liu

[2016-02-06 00:20] a-robinson commented on #20760
Writing an e2e test against GCP logging and switching over to using that in our test clusters would be a great improvement

[2016-02-06 00:28] thockin commented on #20475
can you run `brctl showstp cbr0`

[2016-02-06 00:29] bprashanth commented on #20760
Only real motivation to continue bringing up ES on e2e clusters (and the non-cloud addons in general, like influx+grafana) IMO is if users are pre-dominantly deploying the OSS equivalents, which doesn't *seem* to be the case? I can't think of a reason to bring up ES on e2e and never by default on kube-up GCE, so SGTM

[2016-02-06 00:30] thockin commented on #20475
Also what kernel (`uname -a`)?

Also `cat /proc/sys/net/ipv4/conf/all/route_localnet`

Also `cat /proc/sys/net/bridge/bridge-nf-call-iptables`

[2016-02-06 00:35] thockin opened #20766 "unit test needed: kube-proxy iptables syncProxyRules"
This function could be dep-injected and tested better

[2016-02-06 00:36] thockin opened #20767 "e2e needed: kube-proxy REJECT rules"
#19576 introduced somethng that really should be e2e tested.

[2016-02-06 00:38] thockin commented on #20670
This looks like the difference between DNS policy "default" and "cluster first"

[2016-02-06 00:38] thockin commented on #20670
Can you kubectl get -o yaml the pod?

[2016-02-06 00:40] thockin commented on #20355
also I guess kubenet will not work for hostports and maybe /etc/resolv.conf
and /etc/hosts?

On Thu, Feb 4, 2016 at 2:00 PM, Dan Williams <notifications@github.com>
wrote:

[2016-02-06 00:41] a-robinson commented on #20670
It's started by a manifest file on the node, not via the API, and this is the yaml from the API:
[code]

[2016-02-06 00:43] a-robinson commented on #20670
Whoops, I mean that's the manifest. This is yaml from the API:
[code]

[2016-02-06 00:45] a-robinson commented on #20670
The kube-apiserver on the same master also has a ClusterFirst DNS policy, and external DNS resolution works fine from within it:
[code]

[2016-02-06 00:48] bprashanth commented on #20355
CNI has dns options: https://github.com/appc/cni/blob/master/SPEC.md#parameters, so we'd just grab it from our run container options: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1352, I think. The docker proxy might be a little harder to get rid of.

[2016-02-06 00:50] thockin commented on #20355
We can set up iptables port-forwards the same way docker does for hostports
(we don't use it because the flag that governs it is toooooo coarse grained)

On Fri, Feb 5, 2016 at 4:48 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-06 00:51] jachandler commented on #20722
Messed up the call to the "dry run" template rendering in my original post - containerPort on the RC is, indeed, set to the same port as the service's port/targetPort. Just wanted to clarify that these values are all the same when the services/RC are deployed.

[2016-02-06 01:11] tingzhang commented on #20689
yes, even manual run it, it will fail sometimes as well, not sure what those testcases about and whether it need some specific env

[2016-02-06 01:16] gopinatht commented on #18239
I already asked this in #19069 but wanted to ask here anyway as this is the exact problem I am facing:

Isn't this supposed to be fixed with docker version 1.10? I have docker version 1.10 and hyperkube version 1.2.0-alpha.7. Do I still need ncenter?

With these versions, what modificiations do I need for the single node containerized docker to get it to work (without ncenter): https://github.com/

[2016-02-06 01:19] mikedanese commented on #18239
@gopinatht we have not updated to docker 1.2, it also requires changes on our side as well to use the new mount propagation apis. nsenter is still required until this work is done, but nsenter is a working substitue for now.

[2016-02-06 01:23] bprashanth commented on #20722
1. Make sure you actually have endpoints via kubectl get ep, and that your ports do indeed matchup
2. Lookup the nodeport of the service via kubectl get svc -o yaml, and try to hit it via something like mongo --host -publicip of some node- --port nodeport
2. Lookup the forwarding rule created for your Lb, in your cloud console (by IP) and make sure it's got the right "port" setting. The port shoul

[2016-02-06 01:30] jtblin commented on #17507
http://docs.amazonaws.cn/en_us/general/latest/gr/rande.html shows that the url is `s3.cn-north-1.amazonaws.com.cn` for `cn-north-1` which is the case today so this issue does not seem valid.

[2016-02-06 02:09] mqliang commented on #20290
DaemonSet has not been addressed. @madhusudancs Could your plead send a PR to address this?

[2016-02-06 02:36] justinsb commented on #17507
Yes - this should have been fixed in #17814.  Closing, but reopen if this isn't now fixed.

[2016-02-06 02:36] #17507 closed

[2016-02-06 02:40] justinsb commented on #20576
#20708 is a specific instance, where we failed to create the http-alt firewall rule.

[2016-02-06 05:06] #20196 closed

[2016-02-06 06:57] bgrant0607 commented on #19071
cc @johndmulhausen @amygdala

[2016-02-06 06:57] bgrant0607 commented on #19098
cc @johndmulhausen @amygdala

[2016-02-06 06:59] bgrant0607 commented on #19098
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/config-best-practices.md#naked-pods-vs-replication-controllers-and-jobs

[2016-02-06 07:24] bgrant0607 commented on #18751
@ethernetdan: Would you be interested in taking a look at this issue?

[2016-02-06 07:31] bgrant0607 commented on #19636
@ethernetdan This issue would also be useful to fix.

[2016-02-06 07:31] bgrant0607 commented on #18064
@ethernetdan This is another "kubectl run" feature that would be useful.

[2016-02-06 08:52] wojtek-t commented on #20750
To give slightly more information - the problematic code is here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/restclient.go#L124

If verb is always "watch" for watches, then it is really easy, but I'm not sure if that's always the case (at least it wasn't that in the past). We should verify it.

[2016-02-06 08:54] wojtek-t commented on #20638
I added some more details there.

Also - as a result of that, I'm planning to add a metric of "re-lists" and once we have it I will think if we can minimize them (I have some idea, but need to verify if it's worth doing).

[2016-02-06 13:07] loshkovskyi commented on #20146
@drngsl, yes, you can use `https` in your `cloud.conf` for the `auth-url` variable.

[2016-02-06 14:19] justinsb opened #20774 "e2e gke flake: `Failed waiting for pods to be running` in `should be able to create a functioning NodePort service` test"
Merge queue currently blocked on this failure:
[code]

https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/513/

(Submitted a PR to fix the format string `MISSING` as #20773 but that's not the cause here)

[2016-02-06 14:30] justinsb commented on #20774
So the failure was
[code]

The scheduler assigned it to `gke-jkns-gke-e2e-ci-36cd78e7-node-zk5x`:
[code]

But that was a poor choice; multiple pods running on that node are stuck in pending (even ones unrelated to this test):

[code]

(pods on other nodes are happily in the Running state)

[2016-02-06 14:38] justinsb commented on #20774
Good news though, we have the kubelet log from the node (`130.211.177.118:22-kubelet.log`):

There are a number of surprising things in that log:

Disk mount failure?
[code]

Error reading metadata (or is this a normal 'no special docker config' message?):
[code]

Bad container ids (normal?).  I've seen this on AWS before 20395 went in:
[code]

Failed to create volume when launching our pod?
[code

[2016-02-06 17:21] #20494 closed

[2016-02-06 18:36] davidopp commented on #20119
As we introduce more complex scheduling constraints and preferences (node affinity is in 1.2, pod affinity and taints/tolerations will be in 1.3), we should also start using pods that use these features.

We should probably rename this issue to "make our scalability tests fully exercise/stress the system."

It may be reasonable to have a looser scheduling SLO for workloads that involve a lot of co

[2016-02-06 18:37] davidopp commented on #19786
Yes, #20407 and #20412

[2016-02-06 18:37] #19786 closed

[2016-02-06 18:41] davidopp commented on #13731
@gmarek Can we close this?

[2016-02-06 18:49] sstarcher commented on #18785
@jmccarty3 this looks like the issue

[2016-02-06 18:55] lavalamp commented on #20774
@justinsb thanks for doing my job for me :)

[2016-02-06 19:01] lavalamp opened #20776 "Error creating firewall rule on cluster startup"
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/512/

[code]

@brendandburns this sounds similar to a thing that you fixed with a retry. Maybe time for a gcloud-with-retry script?

[2016-02-06 19:07] pmorie commented on #20580
Fixed by #20170

[2016-02-06 19:07] #20580 closed

[2016-02-06 20:33] jsravn commented on #20091
@david-mcmahon I meant I fixed the issue title (1.1.3->1.1.4), not fixed the release notes.

Release notes still need the details for 1.1.4.

[2016-02-06 20:57] gravis commented on #4869
@pmorie Docker 1.10 is out

[2016-02-06 22:14] cjcullen commented on #19468
#19314 was merged last week.

[2016-02-06 22:15] cjcullen commented on #19231
Fixed by #19314

[2016-02-06 22:15] #19231 closed

[2016-02-06 22:15] cjcullen commented on #12179
Fixed by #19314

[2016-02-06 22:15] #12179 closed

[2016-02-07 00:15] lavalamp commented on #20418
Another occurrence: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/541/

[2016-02-07 00:26] lavalamp opened #20778 "occasional e2e suite timeouts"
Sometimes the e2e suite (both gce and gke) just times out, taking at least 2x as long as usual. It's not obvious what the cause is. Here's two examples.

https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/537/

https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gke/535/

[2016-02-07 00:43] #20411 closed

[2016-02-07 01:03] rideswitch commented on #20475
localhost / # brctl  showstp cbr0
cbr0: can't get info No such device

localhost / # brctl  show
bridge name     bridge id               STP enabled     interfaces
docker0         8000.0242b3cd794c       no              veth22559a9
                                                        veth369bc56
                                                        veth773412a

[2016-02-07 01:04] rideswitch commented on #20475
localhost / # uname -a
Linux localhost 4.3.3-coreos-r2 #2 SMP Fri Jan 22 10:57:46 UTC 2016 x86_64
Intel(R) Core(TM) i7-4750HQ CPU @ 2.00GHz GenuineIntel GNU/Linux
localhost / # cat /proc/sys/net/ipv4/conf/all/route_localnet
1
localhost / # cat /proc/sys/net/bridge/bridge-nf-call-iptables
1

On Sat, Feb 6, 2016 at 6:02 PM, Eric Harrison <ericjharrison@gmail.com>
wrote:

[2016-02-07 02:58] david-mcmahon commented on #20091
Done.

[2016-02-07 03:15] therc commented on #20314
Now that #20153 is in, is your problem fixed? Is your VPC already using existing security groups?

[2016-02-07 04:41] bprashanth commented on #20776
Closing as dupe of https://github.com/kubernetes/kubernetes/issues/20306 and the meta issue https://github.com/kubernetes/kubernetes/issues/20576

[2016-02-07 04:41] #20776 closed

[2016-02-07 04:48] roberthbailey commented on #20661
@kubernetes/goog-gke

[2016-02-07 04:53] binarybana commented on #12121
As described in [this mailing list post by me](https://groups.google.com/forum/#!topic/kubernetes-dev/EHFrrtYzIxQ) we've hit the AWS API rate limit repeatedly at 40-50 instances and I was able to trace it down to kubelet's DescribeInstances API calls. So a `getSelfAWSInstance` which uses the metadata server instead would be greatly appreciated.

Let me know if you need a PR attempt, otherwise I'll

[2016-02-07 04:53] roberthbailey commented on #20445
@kubernetes/goog-gke

[2016-02-07 04:54] bprashanth opened #20781 "kubelet forgets to update readiness"
The nodePorts failure in this run: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke/555/consoleFull

was because the pod didn't become ready on time:
[code]

Best I can tell the kubelet (104.197.132.180) tried to update readiness as the pod was coming up, then forgot about it:
[code]
Unfortunately I've only seen it on gke so far, so we only have terse logs: https://pantheon.corp.google.c

[2016-02-07 05:04] thockin commented on #20475
If you're not using cbr0 but you are using docker, are you manually
configuring docker networking?

ps auxw | grep docker

ps auxw | grep kubelet

On Sat, Feb 6, 2016 at 5:05 PM, Eric Harrison <notifications@github.com>
wrote:

[2016-02-07 06:40] rideswitch commented on #20475
I am just using that single-node coreos example from:
https://github.com/coreos/coreos-kubernetes.git
I do modify it a bit, but I haven't changed the networking.
I know that they have flannel turned on...

core@localhost ~ $ ps auxw| grep docker
root      1317  0.0  1.0 571380 42876 ?        Ssl  Feb05   0:19 docker
daemon --host=fd:// --bridge=none --iptables=false --ip-masq=false
--graph=/var/li

[2016-02-07 07:41] maclof commented on #20475
Is cbr0 the recommended approach? Alot of the cluster scripts, e.g. the ubuntu util does not set kubelet to configure cbr0, https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/util.sh#L233

[2016-02-07 07:41] maclof commented on #20475
@thockin Is cbr0 the recommended approach? Alot of the cluster scripts, e.g. the ubuntu util does not set kubelet to configure cbr0, https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/util.sh#L233

[2016-02-07 08:05] zacharynevin commented on #4009
I am getting this exact issue. I even tried deleting the image tag from the google container registry, and then recreating the replication controller. The replication controller did not throw an error that the image wasn't found!

[2016-02-07 09:06] erez-rabih opened #20784 "Nodes losing DNS service"
Hi,

I'm using kubernetes 1.1.3 over AWS.

I get a repeated error in which nodes seem to lose the ability to resolve kubernetes services via DNS.
The DNS service is surely up as other nodes seem to have no problem to resolve kubernetes services.
I tried SSH-ing to the nodes and run:
`dig my-service.default.svc.cluster.local @10.0.0.10`

Here's a node which had a successful reply:
[code]
And here's

[2016-02-07 11:35] AdiuvoDotFr opened #20786 "External docker registry, can't pull images"
Hello everyone, I'm trying since a while to pull images from my external private docker registry, and I don't understand why it doesn't work.

I've read a lot a things around the web and almost tested everything I've found, without any success.

Finally, here I am to ask for some help...

My private registry is a v2 version, so I use .docker/config.json files instead of .dockercfg
I've tryed to ty

[2016-02-07 11:54] mwielgus commented on #18455
cc: @piosz @fgrzadkowski

[2016-02-07 16:35] justinsb opened #20787 "e2e flake: [Fail] ServiceAccounts [It] should mount an API token into pods [Conformance]"
https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11138/

[code]

Maybe similar to #20494 ?

`/var/run/secrets/kubernetes.io/serviceaccount/token` does contain a token, but it looks like it is a different token.

[2016-02-07 17:39] hongchaodeng commented on #20119
@davidopp
That sounds nice thing to do. But it's orthogonal to the controller testing. Why not create a new issue?

[2016-02-07 18:05] mwielgus opened #20788 "Unbound variable in gce/util.sh when creating node autoscaler"
[code]
cc: @gmarek

[2016-02-07 18:06] hongchaodeng commented on #20750
How about making read and watch an atomic operation from rate limiter's perspective? What do you guys think?

[2016-02-07 18:34] gopinatht commented on #18239
@mikedanese Thanks for the explanation. Does this mean hyperkube itself needs to change? I thought the changes necessary were only the command line --volume parameters of docker run command to use the "shared/slave" option?

[2016-02-07 18:48] mikedanese commented on #18239
@gopinatht ya you are correct for hyperkube running in a container, the example just needs to be updated to use the new -v flag. I was thinking about the case where kubelet runs in a static pod. For that we need to update the api to include some specification of mount propagation.

[2016-02-07 18:54] wojtek-t commented on #20750
@hongchaodeng - it's not that easy because:
1. you can have independent LIST operations without any associated watch
2. we explicitly break watches after 5-10 minutes and set it up again from that point, to avoid having extremely long operations; so a typical usage is:
list + watch + watch + ... + watch + relist + watch + watch + ... + watch + relist + ...

So I think it's not that easy...

[2016-02-07 18:56] pmorie commented on #17874
Saw this flake again in a GKE run: https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gke/588/

[2016-02-07 19:21] luxas opened #20791 "Time(zone) logged in golang.sh is wrong"
Time in status messages logged from `golang.sh` is `GMT+0` for some reason. I'm in `GMT+2`.

The strange thing is that they both seem to use the same function `kube::log::status` in `cluster/lib/logging.sh`
Example output:
[code]
This also affects `e2e` logs and is quite annoying.
@mikedanese @ixdy @zmerlynn

[2016-02-07 19:24] wojtek-t commented on #13731
Can we check that we have issues for things like implement support for addons before closing?
@gmarek - are we missing anything significant appart from addons support?

[2016-02-07 19:28] luxas commented on #20235
For me (personally) it doesn't make sense (I'm living on the edge :smile:)
But I just thought that it could be useful, because now `1.2.0` or newer is a must for some of the guides in the docs, so there's really no choice for the user.

This fixes the issue partially, and was merged some days ago.
Is it possible to compromise? I would like at least `v1.1.1` and `v1.1.7` to be pushed as `hyperkube-

[2016-02-07 19:48] davidopp commented on #13731
Good point, I forgot about addons.

[2016-02-07 19:55] bprashanth opened #20792 "heapster's influxdb gets oom killed in e2e cluster"
Running a single test overnight in a 3 node cluster, I noticed a high number of monitoring pod restarts.

Last termination state of influx:
[code]

Events:
[code]

All pods in the cluster:
[code]

@piosz known issue?

[2016-02-07 20:04] luxas commented on #18230
Sure @fgrzadkowski, I'll send a fix

[2016-02-07 20:07] piosz commented on #20792
Thanks for reporting. I'll take a look tomorrow. We are aware of problems with influxdb but we haven't had chance to dig into it.

cc @mwielgus

[2016-02-07 20:11] davidopp opened #20793 "Add complex scheduling constraints and preferences to scalability tests"
As we introduce more complex scheduling constraints and preferences (node affinity is in 1.2, pod affinity and taints/tolerations will be in 1.3), we should also start using pods that use these features.

It may be reasonable to have a looser scheduling SLO for workloads that involve a lot of complex constraints, but let's wait and see what effect these more complex scheduling rules have on perfor

[2016-02-07 20:11] davidopp commented on #20119
Sure, I will file a separate issue instead of making this one more general.

Filed #20793

[2016-02-07 21:49] smarterclayton opened #20798 "Apparent failure of a node to start in e2e test"
http://pr-test.k8s.io/20780/kubernetes-pull-build-test-e2e-gce/27297/build-log.txt

11 tests failed with:

[code]

[2016-02-07 22:07] smarterclayton commented on #20259
Agree that solution 3 is better - sorry for the delay in responding :)

[2016-02-07 22:16] smarterclayton commented on #15635
It's not bad.  We've gone the other direction - cmd/ is required to be the
thinnest possible shim around a real interface somewhere else.  Go code
lives in pkg/, cmd and tools are only there so that we can define a build
convention for hack/build-go.  At the end of the day I don't think this
matters much, I just prefer to have one of "place to look at where
implementation code is".  As we build mo

[2016-02-07 22:20] thockin commented on #20784
Would first check that iptables rules are installed and that kube-proxy is
running properly.

Then check if the DNS server has a significant restart count.

Then I would check basic connectivity between the trouble node and the
actual DNS pod without the DNS service in between.  Look up the pod's IP
and try your nslookup.

On Sun, Feb 7, 2016 at 1:06 AM, erez <notifications@github.com> wrote:

[2016-02-07 22:42] smarterclayton commented on #20798
Subsequent run cleared it, definitely some sort of flake

[2016-02-07 22:43] thockin commented on #15635
We already have this in order to multi-link hyperkube.  It has to get flag
definitions for each subordinate binary.  Certainly you're not saying flag
definitions belong in general-purpose libraries?  That way lies madness.

On Sun, Feb 7, 2016 at 2:16 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-02-07 23:02] binarybana commented on #12121
Ahh, nm. I see now this was fixed in #19390 which is now part of 1.2 alpha 7. Awesome!

[2016-02-07 23:02] rguareschi commented on #19235
Hey guys,

What was the solution for this issue, I'm having the same problem when trying to start the cluster.

Thanks

[2016-02-07 23:23] smarterclayton commented on #15635
I don't think they belong in general purpose libraries, but I don't think
pkg/ means "general purpose libraries", so having a package
`cmd/kubelet/app/server/options` is no more desirable than
`pkg/kubelet/app/options`.  We define commands in `pkg/`, and those are
both reusable and intended to support flags.  Whether a flag struct
describes the general use case or specific is really a detail of th

[2016-02-07 23:54] mqliang commented on #20259
This could been closed, since https://github.com/kubernetes/kubernetes/issues/20269 has been merged.

[2016-02-07 23:54] #20259 closed

[2016-02-08 00:10] steveeJ opened #20799 "kubectl expose doesn't handle nodePort (properly)"
[code]

The flag `--port` doesn't translate to the attribute `nodePort` as it should ([according to the API documentation](http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html#_v1_serviceport))  when `--type=NodePort` is used. The result is that the API server assign a random port to `nodePort`, as can be seen in the following log output.

[code]

[2016-02-08 00:58] stepanstipl commented on #20497
I'm experiencing same problem with some pods, they'll never get deleted, always stuck in "Terminating" phase. Same with expire value, it's long past it.

I'm running Kubernetes 1.1.7

[2016-02-08 01:34] tanen01 commented on #20475
My setup is similar to @rideswitch
I use kubernetes + flannel on coreos. Docker service is started with "--bip" switch that defines a bridged  network. This network information is written out by flannel.

[2016-02-08 02:01] thockin commented on #20475
I am a little stumped on what would be different on CoreOS.

@jonboulle @philips @xiang90 for redirects to anyone who might be able to repro more immediately...

[2016-02-08 03:22] xiang90 commented on #20475
/cc @yifan-gu @aaronlevy

[2016-02-08 04:31] roberthbailey commented on #20418
Saw this again in the presubmit run for #18736.

[2016-02-08 04:33] roberthbailey commented on #20418
Logs at https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/18736/kubernetes-pull-build-test-e2e-gce/27348

[2016-02-08 04:37] thockin commented on #15635
I think this is just a philosophical difference, and I won't convince you
and you won't convince me.  And in the end, it's not THAT important. What
is important is that the layout be less random than it is today.

I happen to like the idea that packages that are really part of a command's
unique functionality live in a place that is nearby to that command's
root.  That doesn't mean that people cou

[2016-02-08 04:41] thockin commented on #4009
Can you paste a full yaml?

@dchen1107 should we reopen?

[2016-02-08 04:49] #19358 closed

[2016-02-08 06:49] erez-rabih commented on #20784
@thockin thanks for the fast reply.
About the iptables rules: What rules am I expecting to see?

[2016-02-08 08:30] gmarek commented on #17873
Yeah - another place where test and 'production' configs differ, but I guess we need to test elasticsearch for 'fully opensource' version, thus it's justified...

[2016-02-08 08:38] gmarek commented on #20788
It was broken by #17919. I'll send a fix in a sec.

[2016-02-08 08:56] gmarek opened #20804 "Kubemark: Run master components in Kubelet"

[2016-02-08 08:58] gmarek opened #20805 "Kubemark: run some cluster addons in Kubemark"
Some thoughts:
- it's probably easiest to spin up a 'real' node (or a couple of them) along the virtual ones and run addons there
- we may need to make sure that none of test pods are getting scheduled on them (e.g. set schedulable bit to false)

[2016-02-08 08:58] gmarek commented on #13731
We lack a mechanism that will assure that Node team will keep SimpleKubelet implementation up to date with the 'real' thing. It's important not only for Kubemark but also for integration tests (cc @kubernetes/goog-node) - but I guess it's out of scope for this issue.

Except for that we miss addons and adding a Kubelet to oversee master components on master node:
- #20804
- #20805

[2016-02-08 10:14] kargakis commented on #20381
We only add the pod-template-hash label to new rcs.

[2016-02-08 10:46] fatih commented on #20381
I have the same problem. Here is my `kubectl version` output:

[code]

I'm using this DeploymentSpec: http://kubernetes.io/v1.1/docs/user-guide/nginx-deployment.yaml manifest and created with:

[code]

I've tried also with `kubectl` `v1.1.3` but with no luck. I have the following responses after creating the deployment:

[code]

[code]

[2016-02-08 11:18] sdminonne commented on #17874
@pmorie, same test but another issue.
[here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/downwardapi_volume.go#L87) we got this:
`pods "labelsupdate5f2b2573-cdc9-11e5-8c48-42010af01555" cannot be updated: the object has been modified; please apply your changes to the latest version and try again`.
While the previous issue was a too short timeout (container exited too early for sl

[2016-02-08 12:24] bprashanth commented on #17873
That's [Feature] then, just like we test flannel. Not something to bring up as an addon on every e2e clusters.

[2016-02-08 12:47] justinsb commented on #20788
Sorry & thanks for fixing.

[2016-02-08 12:50] kargakis commented on #20361
https://github.com/kubernetes/kubernetes/pull/20368

[2016-02-08 12:54] fatih commented on #20381
Wow, after restarting the `kube-controller-manager` it just started to work!:

[code]

I only had started `kube-apiserver` after adding the flag` --runtime config=extensions/v1beta1/deployments=true`, I didn't know that I also had to restart `kube-controller-manager`.

Is this a requirement?

[2016-02-08 12:55] gmarek commented on #17873
We probably need some suite with all 'important' options (e.g. Features) turned on, on top of dedicated suite for every feature. Ugh... @ihmccreery

[2016-02-08 13:07] kargakis commented on #20381
Right now you need to [restart](https://github.com/kubernetes/kubernetes/blob/3cacc7e9ce276177adeeda7c853c4accc2672a8e/cmd/kube-controller-manager/app/controllermanager.go#L248) it but this is supposed to change.

[2016-02-08 13:13] fatih commented on #20381
Thanks @kargakis. It's also not written in the current doc: http://kubernetes.io/v1.1/docs/user-guide/deployments.html  It would be great if we could mention it there. I think a lot of people would benefit from it and I think it's a big problem. You only can see the problem when you increase the log level somehow (which in my case triggered the restart and I've found it by accident)

[2016-02-08 14:22] wojtek-t commented on #18828
@gmarek - is this fixed now?

[2016-02-08 14:29] sdminonne commented on #17874
Working on this to propose a fix

[2016-02-08 14:42] wojtek-t commented on #16421
I did a bit debugging on it and basically the problem is as following:

- to the metric we pass status code taken from restful.Response:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/apiserver.go#L63

- however, we never set it in restful.Response, since we never call any method on it; basically, all we do is that we simply take ResponseWriter from it, and simply write to it,

[2016-02-08 14:52] wojtek-t commented on #16421
Never mind - I will just send out a PR and we can discuss there...

[2016-02-08 15:25] ncdc commented on #16177
@deads2k WDYT?

[2016-02-08 15:44] pmorie opened #20813 "Kubelet should set the correct SELinux context on volume directories automatically"
Currently the Kubelet makes no attempt to set the SELinux context of volume directories if no SELinux context is configured in the pod's SecurityContext.  This leads to a situation where users of Kubernetes who have SELinux enforcing have to run a `chcon` command to change the SELinux type of the volumes directory to `svirt_sandbox_file_t`, which is usable from `svirt_lxc_net_t`.  Instead, we shou

[2016-02-08 15:51] MikeSpreitzer commented on #20522
This is has been idle for almost a week, should I expect some action to be taken?
I am considering creating a PR myself, but would like some confirmation from other experts about the cluster/ubuntu scripting to confirm that I am on the right track.

[2016-02-08 15:58] sdminonne commented on #17874
@pmorie submitted https://github.com/kubernetes/kubernetes/pull/20815 please have a look

[2016-02-08 16:02] timothysc commented on #20567
/cc @jeremyeder - fyi.

[2016-02-08 16:27] roberthbailey opened #20820 "[docker 1.10] create syscall filters for k8s-supplied components"
With docker 1.10, you can create a filter for syscalls that the container is allowed to execute, mainly to reduce the kernel attack surface and make it harder to use a privilege escalation vulnerability in the kernel code.

For containers that we provide (master components, add-ons) where we know the expected syscall surface we should explore locking them down by limiting the system calls that the

[2016-02-08 16:41] alex-mohr opened #20822 "Kubernetes master should limit the number of nodes that can join"
Masters have a limit to how large they can scale -- around 1000 nodes in 1.2.  We should have a flag that prevents significantly more nodes than that from being registered with the master.

[2016-02-08 16:46] ihmccreery commented on #19715
Ping on this; @lavalamp or @nikhiljindal what can I do to get this moving?  This is likely a blocker for v1.2.

[2016-02-08 16:52] ihmccreery commented on #19546
... So, all of these tests failed the PR builder with

[code]

That tells me that they don't actually work by default.  @pmorie can you please clarify?

[2016-02-08 16:59] aveshagarwal opened #20823 "Error when running kubectl e2e test: Unable to parse server version"
I am running kube from latest master branch, when I am testing kubectl run job e2e test on local cluster (hack/local-up-cluster.sh), I am seeing following errors:

[code]

[2016-02-08 17:02] alex-mohr commented on #20445
@gmarek I think it was an n1-standard-4 master.  I created a 10 node cluster and waited for that to stabilize, then did mig.resize(1000) with no other load.

I plan to try again with a -32 core master, but even so, if there's other load on it, we need the master to continue to service health-checking URLs -- GKE monitors those rather closely.  @fabioy

[2016-02-08 17:02] #19633 closed

[2016-02-08 17:11] ihmccreery opened #20824 "v1.1 e2es running against v1.2 master: 'no kind "APIVersions" is registered for version "v1"'"
**Kubectl client Kubectl api-versions should check if v1 is in available api versions [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubectl.go:444 Expected error: <*errors.errorString | 0xc208641770>: { s: "Error running &{/jenkins-master-data/jobs/kubernetes-upgrade-gke-1.1-master-step1-deploy/workspace/kubernetes/platforms/linux/amd64/kubectl [k

[2016-02-08 17:13] ihmccreery commented on #17965
This is actually failing *once we upgrade the nodes to v1.2*.  Investigating...

[2016-02-08 17:21] #20788 closed

[2016-02-08 17:23] ihmccreery commented on #17965
#20595 should fix this.

[2016-02-08 17:29] ihmccreery opened #20825 "v1.1 kube-ui e2e does not work with v1.2 master"
**kube-ui should check that the kube-ui instance is alive [Conformance]**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kube-ui.go:85 Expected error: <errors.errorString | 0xc20851ff70>: { s: "error waiting for service kube-system/kube-ui to appear: timed out waiting for the condition", } error waiting for service kube-system/kube-ui to appear: timed out waiting

[2016-02-08 17:36] ihmccreery commented on #20825
#20330 set kubernetes-dashboard as the default UI addon, so the v1.1 tests no longer pass.

I can backport and version-guard the test fix.

cc @kubernetes/kube-api Just want to make sure you all are cool with this non-backward-compatible change.

[2016-02-08 17:44] roberthbailey commented on #11930
Moving to the kube-ui project (https://github.com/kubernetes/kube-ui/issues/52).

[2016-02-08 17:44] #11930 closed

[2016-02-08 17:45] lakhindr commented on #8798
@roberthbailey I see your request to redirect all questions to Stackoverflow. (I just happened to see this issue regarding 15.04).

The problem is, if you look at the bottom of http://kubernetes.io, it gives a different advise:

I guess many of us novices don't exactly know where is the right forum! At least I don't. I have also sent direct emails to some Google engineers, but nobody has ever redi

[2016-02-08 17:51] bprashanth commented on #20552
Fwiw logs from 5 days show what look like the watch bug, which was fixed on friday

[2016-02-08 17:57] deads2k commented on #16177
I think what we've agreed to in https://github.com/kubernetes/kubernetes/issues/18528 is sufficient for 1.2.

[2016-02-08 17:58] dcbw commented on #20355
@thockin I wonder if we shouldn't try to push hostport/--expose/shaping stuff down to cni plugins on the same level as IPAM, with the corresponding CNI spec JSON additions.

[2016-02-08 18:05] dchen1107 commented on #20757
@saad-ali @thockin I believe we talked about this before and decided this is a broken feature, not a flake test. Please correct me if I am wrong.

[2016-02-08 18:09] cjcullen commented on #20500
I got up to 1000 attempts without a failure. I'm going to close this issue and assume it was related to the watch-cache problems.

[2016-02-08 18:09] #20500 closed

[2016-02-08 18:18] gopinatht commented on #18239
Guys,

I would appreciate a bit of hand holding here. I tried changing the single node docker command (https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md) like so:

`docker run \
    --restart=always \
    --volume=/:/rootfs:ro \
    --volume=/sys:/sys:ro \
    --volume=/dev:/dev \
    --volume=/var/lib/docker/:/var/lib/docker:**shared** \
    --volume=/var/

[2016-02-08 18:19] gopinatht commented on #18239
Please ignore the `**` in the command above. I was trying to emphasize it.

[2016-02-08 18:24] lavalamp commented on #20462
This appears to be fixed with that merge.

[2016-02-08 18:24] #20462 closed

[2016-02-08 18:25] dchen1107 commented on #18704
@vishh I don't think it is related to initial delay. If you read what @yujuhong posted above, you can see that liveness probe succeeded a couple of times, then failed with timeout.

[2016-02-08 18:27] dchen1107 commented on #20781
dup of #20774

[2016-02-08 18:27] #20781 closed

[2016-02-08 18:28] lavalamp commented on #20445
If you're getting a 429 on that endpoint, that means other components are getting 429s on things that matter, so just fixing this for the monitoring thingy is probably not a great idea.

I think what needs to happen:

* /healthz, /componentstatuses, perhaps others, need to be rate-limited out of a separate bucket.
* We need to count the rate of 429s and have some threshold for saying when the clus

[2016-02-08 18:29] dchen1107 commented on #20774
@yujuhong Can you take a look at this one? Thanks!

[2016-02-08 18:29] bgrant0607 commented on #18891
Has recurred: #20823

[2016-02-08 18:30] bgrant0607 commented on #20823
cc @janetkuo @erictune @soltysh

[2016-02-08 18:31] bgrant0607 commented on #20823
Ah, this has nothing to do with Job.

[2016-02-08 18:32] lavalamp commented on #20168
@krmayankk You really need to do get-modify-replace to have correct behavior. In addition to not getting the resource version, you're also not getting any of the server-applied field defaults. You're also asking the server to obliterate any annotations (or labels) applied by other components.

[2016-02-08 18:32] #20168 closed

[2016-02-08 18:32] lavalamp commented on #20168
Please reopen if that doesn't solve the problem.

[2016-02-08 18:33] yujuhong commented on #20418
Thanks, the GCE logs are way more informational.
[code]

In short, kubelet detected the unhealthy container (via liveness probe failure), killed the container, and attempted to create a new container. However, it spent ~100s on pulling the image, which was not able to complete before the test timed out.

From the pod spec, the image pulling policy is `ImagePullPolicy:Always`. We should change it t

[2016-02-08 18:40] bgrant0607 commented on #20823
@aveshagarwal How did you build? That server version does not conform to our conventions.

[2016-02-08 18:44] vishh commented on #18704
@dchen1107: Yes. I updated my PR to bump up timeout instead.

[2016-02-08 18:47] alex-mohr opened #20832 "Create another jenkins job for a soak test clone"
@dchen1107 and @thockin are figuring out why soak test clusters are broken, but in order to make faster progress, it'd be helpful to have a clone of the existing "kubernetes-soak-continuous-e2e-gce" jenkins job to try different flags or kernels with.

@spxtr volunteered to do the jenkins cloning -- thanks Joe!

[2016-02-08 18:56] alex-mohr opened #20834 "1.2: support 1000 node / 32000 core clusters"
We'd like to support 1000 node clusters for 1.2.  I didn't see an issue explicitly for that yet, so filing this one.  @kubernetes/goog-control-plane @gmarek @mwielgus @cjcullen

[2016-02-08 18:58] saad-ali opened #20835 "Should multiple partitions of a single GCE disk be able to be RW mounted to a Pod"
http://stackoverflow.com/questions/35256588/can-i-mount-multiple-partitions-of-a-single-gce-disk-to-a-pod

TODO:
* Determine intended/expected behavior.
  * Should multiple partitions of a single GCE disk be able to be RW mounted to:
    1. the same pod?
    2. different pods on the same node?
    3. different nodes?
* If intended behavior doesn't match actual behavior, we have a bug--fix it.
* Ad

[2016-02-08 18:58] yujuhong opened #20836 "Don't use ":latest" or non-tagged images in e2e tests"
If a image is not tagged or is tagged with :latest, the image pull policy is defaulted to PullAlways. This causes unnecessary image pulling in e2e tests, leading to various timeout flakes (e.g. #20418).
Unless a test is meant to test image pulling, we should not allow using of such images.

The alternative is to explicitly set PullIfNotPresent in such cases, which seem harder to enforce.

[2016-02-08 18:58] smarterclayton commented on #15635
I'll point out that we are effectively "the handful of other people who
want to use it" :)  I don't care too much, but I do think the extra
attention we provide on "are these interfaces well factored enough for
reuse" does manifest in them being suitable for some reuse, hence more
library like than is obvious from observing the Kube codebase alone.

On Sun, Feb 7, 2016 at 11:38 PM, Tim Hockin <not

[2016-02-08 19:01] yujuhong commented on #20418
Filed #20836 to address the issue.

[2016-02-08 19:04] thockin commented on #20631
tastes like #20547?

[2016-02-08 19:04] #20631 closed

[2016-02-08 19:05] lavalamp commented on #16076
I agree we should fix for 1.2 if possible. @wojtek-t if you have cycles, feel free to steal this from me.

[2016-02-08 19:05] thockin commented on #20602
Prio on this?  @mwielgus @piosz

[2016-02-08 19:06] thockin commented on #20403
bumping to p0

[2016-02-08 19:07] thockin commented on #20100
update?

[2016-02-08 19:13] wojtek-t commented on #20834
Yeah - there were a bunch of related issues, but no umbrella issue...

[2016-02-08 19:25] parikhyash commented on #20753
After some digging, found out that it is being caused due to https://github.com/kubernetes/kubernetes/pull/20495

Closing this out

[2016-02-08 19:25] #20753 closed

[2016-02-08 19:25] ihmccreery commented on #20798
Bouncing to @kubernetes/goog-node.

Looks like Kubelet stopped posting.  I see lots of this in kubelet log:

[code]

[2016-02-08 19:25] jlowdermilk commented on #20497
Can someone from @kubernetes/goog-control-plane take a look?

[2016-02-08 19:31] steveeJ commented on #20475
@rideswitch I'm trying to reproduce this without the docker build suggested in your mentioned repo.
I put a manifest together that demonstrates the problem on a 1-node kubernetes cluster on CoreOs. No vagrant involved, just all on one host.

Here's a manifest I've put together: https://gist.github.com/anonymous/eedbe426385b82bdcff9
After creating the objects I'm receiving the logs with the followi

[2016-02-08 19:31] lavalamp opened #20841 "Differentiate ResourceVersion by collection"
It's bad when clients take a RV from one collection (e.g. pods) and list/watch on another collection (e.g., services). It's already caused some bugs with the cacher, and if we shard storage by collection it could be a bigger disaster. Therefore, we should take steps now to get clients out of the habit of doing this.

My idea is to just add some string, maybe just a letter or two, different by coll

[2016-02-08 19:35] ixdy commented on #20791
I think the timezone isn't getting set in the Docker build image, so it's just defaulting to UTC there.

Probably an easy fix, just haven't looked into it.

[2016-02-08 19:35] yujuhong commented on #20774
Again, GKE logs are not very helpful (#20661).

@justinsb, thanks for the digging. AFAICT, those errors are mostly red herrings. kubelet wasn't able to create/start the container in time. The tests timed out and deleted the pod.
So by the time kubelet wanted to start the container, the volumes were already gone.

#20781 had a similar problem, and the relevant logs are:
[code]

At  04:06:27.538187,

[2016-02-08 19:36] aveshagarwal commented on #20823
@bgrant0607 I built it from master branch HEAD.

[2016-02-08 19:43] piosz commented on #20100
@mwielgus @fgrzadkowski made significant progress on decreasing the number of fails of Heapster during the reboot test last week. @yujuhong could you please verify it helped on Jenkins?

@vishh Monitoring e2e should work now. I'll try to promote it from flaky suite. HPA e2e tests cover Heapster REST API.

@zmerlynn HPA e2e tests are running in kubernetes-e2e-gke-serial right now.

Since we have so

[2016-02-08 20:07] gmarek commented on #20445
I think that n1-standard-4 master got completely overloaded by NodeStatus updates, which made it completely useless. @wojtek-t

We can do separate rate limitters for /healthz'ish stuff easily enough - IIUC this is v1.2 blocker right? @alex-mohr

@lavalamp - do you have throughput in CSI team to deal with it, or do you need someone else to do it?

[2016-02-08 20:12] bgrant0607 commented on #20825
That's not an API change, IMO. It's a bogus test.

cc @bryk

[2016-02-08 20:17] jeremyeder commented on #20567
One of my team members was working on this last week.  @ofthecurerh can you please provide an update?

[2016-02-08 20:20] davidopp commented on #20834
Personally I'm not a fan of umbrella issues. People never remember to keep the dependency list up-to-date, never remember to close the umbrella issue when it is finished, etc.

My personal preference would be to mark all of the specific issues needed for 1000 node support with the "v1.2" milestone, and not have an umbrella issue.

[2016-02-08 20:29] #19482 closed

[2016-02-08 20:35] #20566 closed

[2016-02-08 20:36] lavalamp commented on #20445
It sounds like the actual problem is using the wrong size master. I'm not convinced we should do anything at the moment; a cluster 429ing the health checks very possibly should be considered broken. @alex-mohr I chatted with this about @roberthbailey -- please sync up with him or with me.

[2016-02-08 20:44] smarterclayton opened #20847 "Conversion generation and registration order is not stable"
The order that conversion functions are added to the scheme depends on the package initialization order in Go.  The name of a conversion function is used in other generated functions (for performance), but because the order of packages is not guaranteed stable any change in build order can result in conversions being generated in different orders.

The reason we have duplicate conversions is exten

[2016-02-08 20:47] wojtek-t commented on #16076
I will try to look into it tomorrow.

[2016-02-08 20:48] lavalamp commented on #18920
@wojtek-t you were just saying something about this to me this morning.

[2016-02-08 20:49] smarterclayton commented on #20847
Go 1.5 changed the order of processing of file on disk (undefined before, now defined in the order they are passed to the compiler)

[2016-02-08 20:52] lavalamp commented on #18577
I was about to close this, but I see that the merged PR leaks go type names into the API. Previously, those type names were not considered part of the API. I don't know if we have time to change this. @bgrant0607 How bad do you consider this?

[2016-02-08 20:54] lavalamp commented on #16764
@krousey Can you give an update?

[2016-02-08 20:57] yujuhong commented on #20798
[code]

Docker crashing. This is a known issue. /cc @dchen1107 as I'm not sure which issue we should dup this to.

[2016-02-08 20:57] lavalamp commented on #18528
At the SIG meeting, we decided:

1. We’ll set a particular sub-resource name, e.g. /scale
2. The group/version/kind served at a /scale will depend on the parent group/version/kind. E.g.:
  1. group/v1/namespaces/default/kind/scale is set at first introduction and will never change. It need not match the parent group/version/kind; it could be e.g. extensions/v1beta1/scale
  2. group/v2/namespaces/d

[2016-02-08 20:57] lavalamp commented on #16500
We made a decision on this at the last API machinery SIG, I wrote it up here: https://github.com/kubernetes/kubernetes/issues/18528#issuecomment-181564885

[2016-02-08 20:59] lavalamp commented on #16173
@deads2k Is there stuff in here that you still want to get in to 1.2? I'm thinking of kicking this out of the milestone.

[2016-02-08 21:00] lavalamp commented on #16076
Thanks a bunch.

[2016-02-08 21:02] lavalamp commented on #15945
Anything left to do here? @wojtek-t can we close this?

[2016-02-08 21:02] derekwaynecarr commented on #20841
sgtm

[2016-02-08 21:04] lavalamp commented on #14552
It's been two months-- maybe time to make a new issue if we see it again.

[2016-02-08 21:04] #14552 closed

[2016-02-08 21:04] zmerlynn commented on #9127
I think this is a dupe of #9107.

[2016-02-08 21:04] #9127 closed

[2016-02-08 21:07] mikedanese opened #20849 "bash stack trace in go-build failure is excessive"
It takes up my entire screen and I have to scroll up to see what actually failed to compile. The information in the trace doesn't seem useful.

hack/build-go.sh
+++ [0208 13:04:14] Building go targets for linux/amd64:
    cmd/kube-proxy
    cmd/kube-apiserver
    cmd/kube-controller-manager
    cmd/kubelet
    cmd/kubemark
    cmd/hyperkube
    cmd/linkcheck
    plugin/cmd/kube-scheduler
    cmd/k

[2016-02-08 21:08] smarterclayton commented on #20841
Would need to ensure it's backwards compatible for clients that assume
version is a number.  I would prefer to do it at a higher level, because we
have use cases today where we have resources in the same group but
different collections that *must* coordinate, and so we specify that as a
requirement.  I agree we want to discourage accidental use.

On Mon, Feb 8, 2016 at 3:53 PM, Daniel Smith <notif

[2016-02-08 21:08] smarterclayton commented on #20841
Use cases in openshift resources across two collections which are required
to be on the same etcd store.

On Mon, Feb 8, 2016 at 4:08 PM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-02-08 21:19] alex-mohr commented on #20445
Krousey writes:
The handler is implemented here:
https://github.com/kubernetes/kubernetes/blob/9fda7f181299e49dd5f28405952ee76821eab74c/pkg/apiserver/handlers.go#L76

And installed here:
https://github.com/kubernetes/kubernetes/blob/4606d1408bb32642328e854b1c3e9f0d3639efcf/pkg/genericapiserver/genericapiserver.go#L614

It's all one bucket right now, with a regex escape hatch.

They are rate limite

[2016-02-08 21:22] xiang90 commented on #20834
What do we mean by "support"? Any specific goals?

[2016-02-08 21:22] roberthbailey commented on #8798
@lakhindr Check out the description on https://github.com/kubernetes/kubernetes/wiki/Github-and-Build-Cop-Rotation#traffic-sources-and-responsibilities and see if that clears anything up.

The idea is that support issues should be put onto stack overflow, both so that they can be answered by the wider community and because it makes them much more easily findable by the next person that asks the sa

[2016-02-08 21:23] lavalamp commented on #16558
The proposal is written and merged.

[2016-02-08 21:23] #16558 closed

[2016-02-08 21:24] lavalamp commented on #15633
Kicking this out of the milestone. @thockin holler if you disagree.

[2016-02-08 21:24] yujuhong commented on #20100
I haven't seen this recently, but I also wasn't actively checking.  The crashlooping should be pretty obvious in bulid.log if anyone wants to check.

[2016-02-08 21:28] lavalamp commented on #13772
`pkg/apis/core` sounds good to me. Doesn't look like we'll get to this for 1.2, though.

[2016-02-08 21:30] lavalamp commented on #10298
No objection to doing this, but it's not making 1.2.

[2016-02-08 21:31] mikedanese commented on #20834
@xiang90 Run the load.go e2e test which starts 30 pods per node:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/load.go#L102

while maintaining api performance below these thresholds:

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/metrics_util.go#L39-L48

[2016-02-08 21:33] lavalamp commented on #10045
We need:

* Make sure the "new" way works for all resources (services, pods, nodes) (I don't think this is true for 1.1)
* Add to release notes that people need to transition while running 1.2 because it's going away for 1.3
* Actually remove it after 1.2 branch is cut.

[2016-02-08 21:33] alex-mohr commented on #20445
@lavalamp (and @roberthbailey) *The* actual problem is not using the wrong size master in this case.  There are many ways a master can get overloaded and this particular case was just one trigger to make that happen, which exposed an underlying issue that the master sheds the wrong load on overload.  Obviously people can likely overload their master by making lots of API calls too.

But in order t

[2016-02-08 21:37] lavalamp commented on #18577
@bgrant0607 pointed out that we already list this same string in every object-- duh. So I think this is done.

[2016-02-08 21:37] #18577 closed

[2016-02-08 21:40] alex-mohr commented on #20445
Re: which endpoints we need,
- "/componentstatuses"
- "/nodes"

I don't think we have great role-based identity support yet?  That is, cluster monitoring can be whitelisted to have either no bucket or a separate bucket?  If not, the most expedient is to whitelist those two paths to bypass buckets entirely, but that might allow nodes or users to accidentally DoS the master.  Other options would be

[2016-02-08 21:45] rideswitch commented on #20475
Yes, that sounds like it.

On Mon, Feb 8, 2016 at 1:54 PM, Stefan Junker <notifications@github.com>
wrote:

[2016-02-08 21:47] liggitt commented on #18528
Letting the API server accept a groupVersion other than the parent resource's group version should be done carefully. At least one PR in progress is working on this (https://github.com/madhusudancs/kubernetes/commit/3e4cc6ae6c456b8440edc4f06b65f2053b8c32ad#diff-43c61491ecdb996d7e9eec68fc7f8f36, part of https://github.com/kubernetes/kubernetes/pull/20745). I'd be in favor of allowing targeted resou

[2016-02-08 21:48] smarterclayton commented on #12977
This ended up breaking conversion generation in #20847 between Go 1.4 and Go 1.5.  Still trying to track  which package forces this to get registered first.

[2016-02-08 21:48] gmarek commented on #20445
Why "/nodes"?

[2016-02-08 21:49] rideswitch commented on #20475
The reason this is a problem is because I want to use the service
abstraction so that I can reach pod regardless of the underlying pod name.
But if that resolves to itself, then we hang.

On Mon, Feb 8, 2016 at 2:45 PM, Eric Harrison <ericjharrison@gmail.com>
wrote:

[2016-02-08 21:50] gmarek commented on #20834
I think that we mean running density.go e2e test for now. Load test is kind of broken currently - @wojtek-t is fixing it, but I'm not sure fixes are already in.

[2016-02-08 21:51] derekwaynecarr commented on #16764
Is there a WIP pr that I can track?

[2016-02-08 21:54] bgrant0607 opened #20853 "It should be possible to scale paused Deployments"
Issue tracking for #20273

[2016-02-08 21:57] bgrant0607 commented on #3268
Tools from the community are doing this:

https://github.com/helm/helm
https://github.com/kubernauts/kploy

[2016-02-08 22:02] bgrant0607 commented on #7242
We're keeping around replicas=0 RCs for Deployment now. The main benefit of the proposal is performance IIUC.

[2016-02-08 22:02] bgrant0607 commented on #7242
cc @kargakis @janetkuo @mqliang

[2016-02-08 22:04] liggitt commented on #10045
subresource proxying is still in progress for nodes and services:
https://github.com/kubernetes/kubernetes/pull/18010
https://github.com/kubernetes/kubernetes/pull/17493

those PRs are pending API approval, but are ready otherwise

[2016-02-08 22:05] bgrant0607 commented on #13483
#17111 has merged.

[2016-02-08 22:05] #13483 closed

[2016-02-08 22:05] krousey commented on #16764
@lavalamp Sure. I got a first swing at it on #20351. I was pulled off on to a couple of flakes and am now getting back to it. Locally, I've updated the Unstructured objects and codecs to address the comments in the WIP PR. I'm in the middle of switching the actual client over to the new types now. I'm going to try to clean it up and get it to a point where I can update the PR today or tomorrow and

[2016-02-08 22:06] liggitt commented on #10298
Low port binding requires root access or CAP_NET_BIND_SERVICE. Probably not an issue, but would be a change.

[2016-02-08 22:07] smarterclayton commented on #20847
The ordering problem is that `extensions/install` depends on `extensions/v1beta1` which depends on the types defined in `api/v1`, but `extensions/install` does not depend on `api/install`.  So packages which depend on both can get them registered in different orders in go 1.5 and go 1.4.  This means we don't have a deterministic ordering of installs, which means we can't get a stable conversion re

[2016-02-08 22:07] bgrant0607 commented on #14039
Discussed extensively in SIG Config in December and January meetings:
https://groups.google.com/forum/#!forum/kubernetes-sig-config

And in #18215

Closing as a dupe of #11492.

[2016-02-08 22:07] #14039 closed

[2016-02-08 22:13] smarterclayton commented on #20847
Because ordering between packages must be explicit (if A doesn't depend on B you aren't guaranteed to go before), the simplest fix here is to make extensions/install depend on api/install, which means you cannot register only the extension types in a group.

The original reason to support overwrite on conversion was to allow override later in the chain.  However, because we have switched to the me

[2016-02-08 22:17] zmerlynn opened #20855 "kube-controller-manager never gives up trying to create invalid LB"
Simple repo:

Try to create this invalid service, `badsvc.json`:

[code]

[code]

[2016-02-08 22:17] smarterclayton commented on #20847
Spawned by https://github.com/openshift/origin/issues/7083

[2016-02-08 22:18] zmerlynn commented on #20855
Sample events from 1.2 cluster:
[code]
(ad infinitum)

[2016-02-08 22:36] spiffxp commented on #20738
/cc @kubernetes/sig-scheduling @kubernetes/sig-testing @hongchaodeng

[2016-02-08 22:41] jdef commented on #20738
would these tests be tagged instead with `[Feature:events]`?

[2016-02-08 22:48] ihmccreery commented on #20738
@jdef in our current scheme, no.  We expect these tests to pass on a "standard" cluster.  It's probably worth revisiting #14763 to consider modifying our conformance policy, cc @kubernetes/sig-testing

[2016-02-08 22:50] spiffxp opened #20860 "Remove On-Call docs from wiki"
Now subsumed by `docs/devel/on-call-*.md`

Someone with edit rights to the wiki will need to remove these pages:

https://github.com/kubernetes/kubernetes/wiki/Kubernetes-on-call-rotations
https://github.com/kubernetes/kubernetes/wiki/Github-and-Build-Cop-Rotation
https://github.com/kubernetes/kubernetes/wiki/User-Support-Rotation

ref #20345
/cc @kubernetes/sig-testing @ihmccreery

[2016-02-08 22:57] ihmccreery opened #20861 "Make hack/e2e.go work with other providers"
Per @timothysc's https://github.com/kubernetes/kubernetes/pull/20758#discussion_r52209174.

[2016-02-08 22:57] ihmccreery commented on #20861
(To be clear, I'm not sure what the state of this is; I know it works on GKE and GCE, but not sure about elsewhere.  @spiffxp? or @jayunit100?)

[2016-02-08 22:58] ihmccreery commented on #20861
cc @kubernetes/sig-testing

[2016-02-08 23:00] #15633 closed

[2016-02-08 23:01] bgrant0607 commented on #3024
@mqliang If you'd like to help, kubectl get/describe haven't been implemented yet for ReplicaSet.

[2016-02-08 23:06] ihmccreery commented on #20860
Done.

[2016-02-08 23:06] #20860 closed

[2016-02-08 23:09] janetkuo opened #20862 "kubectl describe deployment prints MinReadySeconds as string (should be int)"
[code]

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go#L1618 should use `%d` instead.

cc @kubernetes/kubectl @mqliang

[2016-02-08 23:16] zmerlynn commented on #20445
We (GKE) monitor both `/componentstatuses` and the `/nodes` endpoint. The latter is lesser priority, but we do watch it. cc @fabioy

[2016-02-08 23:19] bgrant0607 opened #20863 "Eliminate float max/min from Deployment"
Forked from https://github.com/kubernetes/kubernetes/pull/20368#discussion_r51837534

Go's standard library doesn't include integer min/max functions. The float versions were used in several places in Deployment's implementation. We should create some integer min/max functions in util to avoid this.

cc @kargakis @janetkuo @mqliang

[2016-02-08 23:25] #20117 closed

[2016-02-08 23:25] #13935 closed

[2016-02-08 23:34] spiffxp commented on #20861
/cc @justinsb you probably know the state of the 'aws' provider better than I

[2016-02-08 23:46] bgrant0607 commented on #19941
cc @madhusudancs

[2016-02-08 23:50] #18704 closed

[2016-02-09 00:01] bgrant0607 commented on #19941
horizontalpodautoscalers and jobs will have the same problem once they move to new API groups.

Was encountered as part of #20501

cc @janetkuo @erictune

[2016-02-09 00:12] fabioy commented on #20445
We fetch "/nodes" to get the number of nodes registered in the master for billing purposes (among other things).

[2016-02-09 00:15] #20418 closed

[2016-02-09 00:23] mqliang commented on #20822
Maybe add a admission controller to limit the number of nodes/pods/rcs ?

[2016-02-09 00:37] saad-ali commented on #20757
@dchen1107 That was #19953. This is a different issue.

The interesting bit from the log is:
[code]
The e2e test issues a `kubectl exec` against a container to verify that the volume is actually attached/mounted correctly. In this case, however, the `kubectl exec` call from the E2E test failed with an `i/o timeout`.

Recommend making the E2E test more robust by retrying on `kubectl exec` timeouts.

[2016-02-09 00:38] ixdy commented on #14944
Assigning to @thockin given #20771.

[2016-02-09 00:41] vishh opened #20870 "Add support for seccomp"
Starting from v1.10 docker daemon will run with a [restrictive seccomp profile](https://github.com/docker/docker/blob/master/docs/security/seccomp.md) turned on by default.

Users will have to include a custom seccomp profile in addition to capabilities.

Until we figure out a sane way to add support for seccomp, I propose disabling (`unconfined`) seccomp profiles by default.
This will allow users

[2016-02-09 00:41] brendandburns commented on #13515
My bet is that this was caused by the bug fixed in https://github.com/kubernetes/kubernetes/pull/20700

I'm closing until it re-occurs...

[2016-02-09 00:41] #13515 closed

[2016-02-09 00:49] dchen1107 commented on #20774
Should this one closed via #20837?

[2016-02-09 00:54] vishh commented on #20870
cc @erictune @kubernetes/rh-platform-management

[2016-02-09 00:56] yujuhong commented on #20774
I think #20837 should greatly reduce the chance of this happening. That said, we still have quite a lot of untagged images used in the tests, so it's not 100% fixed. I'll keep this one open for another day and see if there are any more flakes.

[2016-02-09 01:03] bgrant0607 commented on #3268
cc @ethernetdan

[2016-02-09 01:04] bgrant0607 commented on #1294
cc @ethernetdan

[2016-02-09 01:13] erictune commented on #20443
Something like https://github.com/kubernetes/kubernetes/pull/20347 might give us authorization delegation from apiserver A to a central authorizer, which might or might bot be Apiserver B.

Nothing planned for authentication.    They just need to run the same plugins.

 People know how to do this stuff, so we should not spend time on it.   If you setup two MySQL databases, they don't talk to each

[2016-02-09 01:13] erictune commented on #20443
IMO, close this issue.

[2016-02-09 01:16] thockin commented on #20784
Rules that redirect or NAT you the actual DNS pod, but it depends on which
proxy mode you are running which exact pattern you might see.

On Sun, Feb 7, 2016 at 10:50 PM, erez <notifications@github.com> wrote:

[2016-02-09 01:26] ArtfulCoder opened #20875 "Services and corresponding endpoints are auto-deleted (incorrectly) after a few minutes"
Repo steps:
Create a pod:
[code]

Create two services with a spec similar to this pointing to the same pod:
[code]

[code]

After a few minutes:
[code]

Kube-Controller-Manager log:
[code]

The log has a line that says " Got new Deleted delta for service", even though svc / endpoint was never deleted by the user.

[2016-02-09 01:28] ixdy commented on #11082
Note: we don't have all tests using `framework`; `test/e2e/namespace.go` is one example.

[2016-02-09 01:28] ArtfulCoder commented on #20875
@thockin
@lavalamp

There was a related bug last week where kubectl would not return created endpoints and svcs. But the objects were still in etcd.
In this bug, the objects are apparently absent in etcd, since we can recreate the same objects succesfully, after they are auto-deleted.

[2016-02-09 01:29] ArtfulCoder commented on #20875
Tested on :
commit 3281e7520c0194c01a7f4fce3d53bc09b2aaa568
Merge: 3124474 512154f
Date:   Mon Feb 8 15:25:48 2016 -0800

[2016-02-09 01:33] yujuhong commented on #6651
The issue has been inactive for months, and there have not been any new reports. Closing.

[2016-02-09 01:33] #6651 closed

[2016-02-09 01:36] smarterclayton commented on #1294
The challenge with any such scheme is that it isn't deterministic.  I suspect init containers may address part of this use case for simpler setups, but not the more complex ones.

[2016-02-09 01:45] yujuhong opened #20876 "e2e: Kubelet becomes unresponsive because docker ps hangs"
This is *not* a new issue, and it has been mentioned in many flaky test issues and has hosed our soak cluster multiple times. Creating a new issue so that we have one place to update/refer.

The *best* way to spot such a failures is to open `supervisord.log` of the nodes. You will see docker being restarted *many times* due to failed health checks.
[code]

Note that this issue is believed to be a

[2016-02-09 01:46] yujuhong commented on #20418
Forked the original docker ps hang/kernel bug to #20876

[2016-02-09 01:46] yujuhong commented on #20798
Closing as a dup of #20798

[2016-02-09 01:46] #20798 closed

[2016-02-09 01:52] lavalamp commented on #19715
The failing test line is `Expect(c.Extensions().Jobs(ns).Delete("run-test-2", api.NewDeleteOptions(0))).To(BeNil())`, right? This is test code that is wrong, not kubectl code.

The dumb effective thing to do is just try again without the options if you get that error. I have no bandwidth to fix this personally, maybe you do?

[2016-02-09 01:58] yujuhong commented on #20724
@shanegibbs, thanks for reporting. The fix #20816 is to merged soon.

[2016-02-09 02:12] lavalamp opened #20877 "update-api-reference-docs needs to do all groups"
It's not obvious how to add more groups to this file. This blocks job & hpa moves.

https://github.com/kubernetes/kubernetes/blob/master/hack/update-api-reference-docs.sh#L43

@nikhiljindal or @caesarxuchao, this file looks like yours. Can one of you make it take a list of groups like other similar files?

[2016-02-09 02:14] caesarxuchao commented on #20877
I'll refactor it.

[2016-02-09 02:16] lavalamp commented on #20875
It looks like something deleted your services. You used a short common (?) name. Can you still repro if you use weird names? (Maybe use generateName?)

Or just search the apiserver logs and see what user agent did the delete.

[2016-02-09 02:16] lavalamp commented on #20877
Thank you!!

[2016-02-09 02:23] dalanlan commented on #20522
@MikeSpreitzer
Yes you're right.
As to flannel, the scripts and configuration files of minion node, however, would overwrite the one of master role, by which i mean, it works expectedly if the order of copying files stand where it is.

[2016-02-09 02:31] dalanlan commented on #20469
This issue has been settled:)

[2016-02-09 02:41] goltermann commented on #15699
Looks fixed.  http://kubernetes.io/v1.0/basicstutorials.html had nothing but a TOC, whereas http://kubernetes.io/v1.1/basicstutorials.html has a sentence at the top describing it.  Not sure if we want to add more there or not.

[2016-02-09 02:58] justinsb opened #20878 "e2e flake: error creating e2e-gce-minion-template"
https://console.developers.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce/11228/

My reading is that the first attempt to create e2e-gce-minion-template looks like it failed with "Backend error", but it seems that the template was actually created, so subsequent attempts failed because it already existed.

[code]

[2016-02-09 03:35] bprashanth commented on #20875
I bet it's the addons controller because of
[code]

[2016-02-09 03:45] timothysc commented on #18760
It doesn't look like the etcd folks are going to change the client, I'll get a patch together on this in the a.m.

[2016-02-09 03:56] therc commented on #9044
Another use case: until there's anything like actual GPU resource scheduling, getting the AWS instance type can help schedule pods only on machines with GPUs. It might also be useful for debugging purposes. I have cycles to help with the code, if it's likely to get merged. (We do need something like this and can live with 1.2+patches if it's too late for the release.)

[2016-02-09 03:57] bgrant0607 commented on #20878
From @ixdy:
kubernetes-e2e-gce/11227 claims to have deleted:
[code]

But it apparently wasn't.

Looks like we need to improve handling of this:
https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L360
[code]

cc @zmerlynn

There were previous attempts to make instance template more robust, such as in #8014.

[2016-02-09 03:58] bgrant0607 commented on #20878
And, after this failed, the subsequent test run failed the leaked-resource check.

[2016-02-09 04:08] bprashanth commented on #20096
Updates from a little digging:

* I wan't been able to repro this just bringing up/down 50 containers on an n1-standard-4, single minion cluster, each of which just did `while true; wget 100Mb; delete 100Mb; done`. Repeated from morning till noon.

* Right now, looks like gce-soak-weekly-minion-yho6 (104.197.247.242) is hosed with the unregister_netdevice error.

* Going back in the soak history o

[2016-02-09 04:17] bprashanth commented on #20096
Kernel log from a borked node https://storage.googleapis.com/devnul/kern.log.1.

I'm hoping to find a mitigation strategy that *doesn't* involve a hard reboot. How about we just bump up the hung task timeout to 5m? I think we can use sysctl to achieve the reboot on hung task panic per https://www.kernel.org/doc/Documentation/sysctl/kernel.txt (kernel.hung_task_panic) but I'm just making stuff up a

[2016-02-09 04:18] mingfang opened #20884 "kubectl exec hangs with error Content-Type specified (plain/text) must be 'application/json'"
From the master, whenever I try to open a shell into a pod running on a remote node, kubectl would completely hang.
Below  a verbose trace.

Can someone point me to where else I can look?
I know kubectl --> master --> proxy --> pod/container.
Where would this error come from.
This has always worked prior to upgrading to kubernetes 1.1.7 and docker 1.10.
I'm going to downgrade one at a time to see

[2016-02-09 04:21] xiang90 commented on #18760
@timothysc We have a pr at https://github.com/coreos/etcd/pull/4144/commits. We need to test it though.

[2016-02-09 04:34] saad-ali opened #20885 "Modify E2E tests to use the GCE API instead of gcloud exec"
PR https://github.com/kubernetes/kubernetes/pull/17747 laid the ground work to enable E2E tests to use the GCE API instead of gcloud exec. That PR only modified the PD tests to do so.

In order to make E2E more robust, we should switch over all other instances of gcloud exec in E2E tests to use the GCE API instead.

[2016-02-09 04:46] #19466 closed

[2016-02-09 04:48] lavalamp commented on #19997
#20444 has merged. Hopefully that fixes this.

[2016-02-09 04:49] lavalamp commented on #20268
#20444 has merged, but I'll leave this open for the readyness probe change, which seems like a good idea.

[2016-02-09 04:49] lavalamp commented on #20518
#20444 has merged. This should be fixed, hopefully.

[2016-02-09 04:49] #20518 closed

[2016-02-09 04:50] lavalamp commented on #20570
#20444 has merged. Hopefully this is fixed now.

[2016-02-09 04:51] lavalamp commented on #20875
Oh, nice catch, I bet you're right.

On Mon, Feb 8, 2016 at 7:36 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-09 04:58] mingfang commented on #20884
This is a duplicate of https://github.com/fsouza/go-dockerclient/issues/455 and https://github.com/kubernetes/kubernetes/issues/19720

Closing this issue.

[2016-02-09 04:58] #20884 closed

[2016-02-09 05:08] mingfang commented on #19720
Maybe wishful thinking but can we get an emergency release to fix https://github.com/fsouza/go-dockerclient/issues/455 soon?

[2016-02-09 05:28] mqliang commented on #3024
@bgrant0607 I send a PR https://github.com/kubernetes/kubernetes/pull/20886 to implement kubectl get/describe. I am not very familiar with kubectl, hoping I have not miss anything.

[2016-02-09 05:29] liggitt commented on #18760
@xiang90 is the proposed config file compatible with the go-etcd config file format? @timothysc if not, we'll need a release note as well, even if we pick up the config file enabled version of the client

[2016-02-09 05:51] Pensu commented on #19284
Closing the issue as golang is now available for ppc64le arch.

[2016-02-09 05:51] #19284 closed

[2016-02-09 06:09] xiang90 commented on #18760
@liggitt No. It is not compatible. I guess k8s user should not depend on the etcd file format anyway.

[2016-02-09 06:09] lavalamp commented on #20841
Should any clients be making that assumption? We document this like you should treat it as an opaque blob. I don't think clients should even be parsing it.

I could see doing something by storage backend instead of by collection, but it's still invalid for clients to pass the things between collections, and that won't help that.

[2016-02-09 06:18] Random-Liu commented on #19720
@mingfang it will be done here #20873

[2016-02-09 06:20] mingfang commented on #19720
@Random-Liu Thank you very very much!

[2016-02-09 06:31] bgrant0607 commented on #20870
cc @pmorie @pweil-

[2016-02-09 06:47] erez-rabih commented on #20784
I have bootstrapped the cluster using
[code]
So I guess my setup is the default one for AWS.

[2016-02-09 07:14] #16282 closed

[2016-02-09 07:20] KyleAMathews commented on #14009
0.10 is out https://influxdata.com/blog/announcing-influxdb-v0-10-100000s-writes-per-second-better-compression/

[2016-02-09 07:25] lavalamp opened #20888 "Heapster's user agent string is wrong"
Seen in logs: `heapster/v0.0.0 (linux/amd64) kubernetes/$Format`

[2016-02-09 07:29] wojtek-t commented on #15945
The missing thing here is the Indexer mechanism. But this is definitely not for 1.2 and I think we can create a separate issue for it.

[2016-02-09 07:29] bryk commented on #20825
I'm fine every solution to this problem. I'd like, however, to keep kubernetes-dashboard e2e test. It is useful. So backporting/version guarding or deleting kube-ui test SGTM.

CC @roberthbailey

[2016-02-09 07:32] ghodss commented on #19639
@bgrant0607 Is there any ways we could get this into 1.2? It's actually making our config generation quite painful to have to make a separate file for every object. It looks like @AdoHe got pretty far? @AdoHe would you like to make a PR that we can review?

[2016-02-09 07:41] bgrant0607 commented on #19639
@ghodss I don't see how. It could have made 1.2 if a PR had been sent within a few days of the issue being filed.

[2016-02-09 07:43] bgrant0607 commented on #19639
@jackgr I unassigned all issues assigned to you. Please only assign issues that are actively being worked on, so that others can know which issues are available to be picked up.

[2016-02-09 07:44] #11543 closed

[2016-02-09 07:45] erictune commented on #12298
Found a problem while implementing this.  We don't generate a UID until after defaulting.  But it is during defaulting that we need to know the Job's UID for the current proposal.

For those curious, UID is generated in `api.FillObjectMetaSystemFields` which is called in `BeforeCreate` of `pkg/api/rest/create.go`.

I've thought of the following alternatives:

1. Set the UID for all objects with Ob

[2016-02-09 07:56] pmorie commented on #20813
@kubernetes/rh-storage

[2016-02-09 08:06] lavalamp commented on #12298
One of @liggitt or @deads2k was already planning on moving UID generation earlier in the stack. Defaulting is probably not the best place because that gets run in some clients (this is a bug).

[2016-02-09 08:19] gmarek commented on #18570
We don't have a dashboard per se, as I completely suck UI-wise, but we have a binary that can compare metrics between runs to point us to regressing places and perf-dash is up for noticing them.

[2016-02-09 08:53] wojtek-t commented on #16421
Fixed by #19559

[2016-02-09 08:53] #16421 closed

[2016-02-09 08:56] willmore opened #20893 "AWS - skydns failing to forward requests to Amazon DNS (10.0.0.2)"
On our AWS `1.1.4` deployment, the `skydns` container is falling to connect and forward requests to Amazon provided DNS `10.0.0.2:53`.

Relevant logs:
[code]

Connections to `10.0.0.2:53` succeed directly from the cluster master and nodes; only connections from within the pods fail.

We recently updated the cluster with `kube-push.sh` from `1.1.0` to `1.1.4`. I believe this issue appeared days aft

[2016-02-09 08:56] wojtek-t commented on #16076
Looking into it now

[2016-02-09 09:42] piosz commented on #20602
We bumped Heapster version recently #20650 which should help for this problem.

[2016-02-09 10:00] sdminonne commented on #17874
@wojtek-t I saw you xref this issue from #20892. I cannot see the relations (and I could be wrong).
Mind explain?
Let me know if I need to close #20815

Thanks

[2016-02-09 10:01] willmore commented on #20893
This is a repeat of #15932, inability to route to other subnets in a custom AWS setup.
When upgrading to `1.1.4`, we lost our modified iptable setup.

The general issue of Kubernetes' hardcoded IP-ranges should probably be cleared up by #11204.

I will patch our iptables which should resolve the matter.

[2016-02-09 10:01] #20893 closed

[2016-02-09 10:09] wojtek-t commented on #17874
@sdminonne - the test you are trying to fix failed in the presubmit of that PR:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/20892/kubernetes-pull-build-test-e2e-gce/27613/build-log.txt

I didn't review #20815 but it's not merged yet, so we don't know if that helps (hopefully yes :))

[2016-02-09 10:41] wojtek-t commented on #16076
OK - I'm able to reproduce it with a unit test and I think I understand what is happening there. I will try to create a fix for it.

[2016-02-09 10:43] sdminonne commented on #17874
@wojtek-t I think #20815 will help on these kind of issues (retrying on the update). thanks for the explanation.

[2016-02-09 10:58] cyphar commented on #16670
Is there a reason we can't use Docker's [official engine-api](https://github.com/docker/engine-api), which will always comply with Docker's API (they use it for the `docker` client).

[2016-02-09 11:31] antoineco commented on #16670
(CoreOS 949.0.0 with Kubernetes 1.1.7)
I second @Random-Liu, this issue happens with all containers created by Docker **1.10**.

[code]
[code]

[2016-02-09 12:13] cyphar opened #20895 "Switch to Docker's engine-api"
Currently, we are using fsouza/go-dockerclient to talk to the Docker daemon. However, this is causing us issues (#16670) and will undoubtedly cause even more. Docker has released [an official, supported way of communicating with a Docker daemon using the API](https://github.com/docker/engine-api), it's written in Go and it shouldn't be too difficult to swap go-dockerclient with engine-api.

[2016-02-09 12:33] deads2k commented on #12298
@derekwaynecarr Pretty sure this was you so that you'd have a correlation value for quota.

[2016-02-09 12:48] deads2k commented on #16173
I'm ok with that. We're still making progress.

[2016-02-09 13:41] wojtek-t commented on #20841
As I mentioned when talking with @lavalamp f2f (and what Clayton wrote above), we need to think about backward compatibility. But in general the idea sounds good.

[2016-02-09 13:42] wojtek-t commented on #16076
@smarterclayton @lavalamp - PR is out for review

[2016-02-09 13:53] deepaktawri opened #20898 ""kubectl exec" does not like "=" in command passed to it"
"kubectl exec <podname> date --date=5/5/1925" gives error --date as invalid option.

kubectl does not seem to like = in whatever command passed to it.

[2016-02-09 14:09] soltysh commented on #20823
@aveshagarwal can you retry, I've did a couple of local tests and there's nothing wrong with it. Like @bgrant0607 already mentioned the version you're seeing is not correct, when testing with latest master I see `v1.2.0-alpha.7.489+f637f08774e199-dirty` rather than `v0.12.0.17515+dd0c313e8baf17-dirty`.

[2016-02-09 14:45] yifan-gu commented on #19828
@ericchiang FYI https://github.com/kubernetes/kubernetes/pull/20831 is merged. Maybe you can try to rebase and see if it solves the problem :)

[2016-02-09 14:47] ncdc commented on #20898
@deepaktawri you can use `--` to separate arguments you pass to `kubectl exec` from arguments you want to pass to the command you're executing. For example:

[code]

[2016-02-09 14:49] swagiaal opened #20899 "Containers In a pod should run with the same SELinux Context"
Docker containers which share the same IPC namespace are given the same SELinux label by docker. This is not the case though for containers within a pod which do not end up with the same SELinux label even though they share the IPC namespace of the infra container.

If this is fixed then SELinux relabeling for volumes (through the docker :Z flag) can be turned on by default for all pods. Since all

[2016-02-09 14:50] ncdc commented on #20876
cc @timothysc @jeremyeder @kubernetes/rh-cluster-infra

[2016-02-09 14:50] ncdc commented on #20870
cc @kubernetes/rh-cluster-infra

[2016-02-09 14:51] wojtek-t commented on #20445
hmm - although I agree that having separate throttling/priority for /componentstatuses (and /healthz and stuff like that) makes sense, I don't think that making "/nodes" treated differently than other resources is what we would like to do. @lavalamp - thoughts?

[2016-02-09 15:01] jeremyeder commented on #20876
@ncdc has anyone on our network team looked at those 2 issues?

[2016-02-09 15:14] timothysc commented on #20876
@jeremyeder @yujuhong is this different from - https://bugzilla.redhat.com/show_bug.cgi?id=880394#c7 ?

[2016-02-09 15:25] ncdc commented on #20876
@jeremyeder not sure. I just remember you taking a look at the bz Tim linked above, so I thought I'd cc you.

[2016-02-09 15:27] jeremyeder commented on #20876
I will bring them in.

[2016-02-09 15:30] bgrant0607 commented on #12298
@erictune @lavalamp

In particular, kubectl runs defaulting (#3955), so the label and selector would be run by kubectl.

I agree with the idea of moving UID generation earlier, but that does seem like a risky change to do now.

How about in the Job create handler?

[2016-02-09 15:34] legdba commented on #15795
Fixed in Kubernetes 1.1.

[2016-02-09 15:34] #15795 closed

[2016-02-09 15:35] Fizzadar opened #20902 "Deleting jobs via the API leaves pods"
According to the docs _"Deleting a Job will cleanup the pods it created"_ - this only appears to be true when deleting jobs via `kubectl`. Issuing plain `DELETE` requests via the API removes the job as expected but leaves any (failed) pods it started untouched. Currently I'm just cleaning this up by hand but it'd be nice if this could be integrated into the API.

[2016-02-09 16:01] timothysc commented on #18760
Too late for that now, it's in the wild... We must support until we can cleanly deprecate.

[2016-02-09 16:12] liggitt commented on #18760
@timothysc I started a branch a while ago that would populate a new client config from an old config file. branch is at https://github.com/liggitt/etcd/commits/legacy_config (latest commit) if you want to use any of it. I assume we'd have the structs and loaders in k8s

[2016-02-09 16:13] xiang90 commented on #18760
@timothysc We do not have plan to support the old config. The reason is that in the new client, the transport is constructed outside the client and then pass into the client: https://github.com/coreos/etcd/blob/master/client/client.go#L96.

This is very different from go-etcd, which can control the life-cycle of the transport.

[2016-02-09 16:16] erictune commented on #12298
@bgrant0607 I think you are suggesting that I move all the label selector generation logic into the job create handler?  I think that might work, at least as a quick fix for 1.2.  I'll look into that.

[2016-02-09 16:20] roberthbailey commented on #20825
I sent https://github.com/kubernetes/kubernetes/pull/20772 to unmark that test as a conformance test, since I agree with @bgrant0607 that it isn't an api change.

[2016-02-09 16:21] smarterclayton commented on #20841
I would recommend we not try to do this for 1.2 - let's save the subtle
breaking things for the next release.

On Tue, Feb 9, 2016 at 8:42 AM, Wojciech Tyczynski <notifications@github.com

[2016-02-09 16:24] smarterclayton commented on #12298
Moving UID generation earlier is very risky, I would prefer not to change
anything in this stack right now for 1.2.

On Tue, Feb 9, 2016 at 11:16 AM, Eric Tune <notifications@github.com> wrote:

[2016-02-09 16:46] thockin opened #20904 "Broken build tools - can't make clean, can't make release"
I have no idea what is going on.

[code]

[2016-02-09 16:55] wojtek-t commented on #20841
+1

[2016-02-09 16:56] erictune commented on #12298
@smarterclayton any concern about doing defaulting-y stuff in the create handler, as a quick fix in 1.2?

[2016-02-09 16:58] yifan-gu opened #20907 "rkt container ID is not correct"
I am seeing the load balancer pod stays in "not ready" state:
[code]

Inspect the pod:
[code]

It shows the container ID is `rkt://15aa6e53-b09a-40c7-8558-c6c31e36c88a:default-http-backend` and `rkt://15aa6e53-b09a-40c7-8558-c6c31e36c88a:l7-lb-controller`.

However, `rkt list` shows a different ID:

[code]

It seems that the container ID returned by `kubectl` is not the latest one.

Besides, the `

[2016-02-09 17:06] pmorie opened #20908 "Flake: E2E cluster becomes unstable after "Update demo" test"
[code]

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/19792/kubernetes-pull-build-test-e2e-gce/27661/

[2016-02-09 17:06] spiffxp commented on #18570
/cc @kubernetes/sig-testing

[2016-02-09 17:07] pmorie commented on #20908
@ihmccreery @ixdy

[2016-02-09 17:22] Scentus commented on #7351
Something else that came up during some testing is that a node being shut down should be removed from any LoadBalancer pools early with kube-proxy either verified to be idle or given a timeout to become as such so that the loss of active connections is minimized.

[2016-02-09 17:33] dchen1107 opened #20910 "e2e flaky: should be able to change the type and ports of a service"
kubernetes-pull-build-test-e2e-gce/27549: [should be able to change the type and ports of a service] failed due to:

I0209 01:40:53.054458   28629 google_compute.go:39] Creating static IP with name "e2e-external-lb-test-10503" in project "kubernetes-jenkins-pull"
E0209 01:40:55.417361   28629 google_compute.go:49] output from failed attempt to create static IP: ERROR: (gcloud.compute.addresses.cre

[2016-02-09 17:42] zmerlynn commented on #20878
Ha, an old @mbforbes TODO strikes again. :)

[2016-02-09 17:42] justinsb opened #20911 "AWS e2e failure: type and nodeport test requires UDP"
https://console.developers.google.com/storage/browser/kubernetes-buildlogs-aws/logs/kubernetes-e2e-aws/20160209164253/

[code]

Looks like we assume UDP, but AWS doesn't support UDP load balancers.  We can probably detect AWS and just use TCP.

[2016-02-09 17:43] aronchick commented on #2770
I am a fan of moving this work up, significantly, potentially to 1.3 blocker. I'm open to discussion here - do we have a proposal? cc @jbeda @countspongebob

[2016-02-09 17:43] justinsb opened #20912 "AWS e2e: suspicious message "ignoring ec2 instance with no PrivateDnsName""
https://console.developers.google.com/storage/browser/kubernetes-buildlogs-aws/logs/kubernetes-e2e-aws/20160209164253/

When creating a load balancer (or actually, when failing to create a load balancer because of the UDP issue...):

[code]

I don't think that should happen

[2016-02-09 17:47] zmerlynn commented on #20878
It's actually pretty disturbing that `gcloud` claimed `Deleted` when it wasn't. There may be an internal bug here, since the name should be available for use if delete occurred, in theory.

[2016-02-09 17:48] derekwaynecarr commented on #12298
The solution we discussed at a recent sig meeting was to do the following:

* expose a `Context` on `admission.Attributes`
* allow you to read a UID or set a UID for an object on the context
* modify `FillObjectMetaSystemFields` to default to the UID on the context if present instead of creating new

This would be the least disruptive flow I think.

[2016-02-09 17:48] Fizzadar commented on #20902
Just located https://github.com/kubernetes/kubernetes/issues/16255 which would imply this has been fixed - regression?

[2016-02-09 17:49] derekwaynecarr commented on #12298
@erictune - if the above works for your use case, I can look to get a PR open this afternoon/evening.

[2016-02-09 17:50] derekwaynecarr commented on #20176
I am in favor of doing this as well.

[2016-02-09 18:00] ihmccreery opened #20913 "(v1.1) e2e fluentd-elasticsearch pod never left 'Pending'"
https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20183/kubernetes-pull-build-test-e2e-gce/27672/artifacts/ / http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/27672

[2016-02-09 18:00] erictune commented on #12298
So, selector generation would be implemented as an admission controller rather than a defaulter?  That sounds good to me.

[2016-02-09 18:02] #16110 closed

[2016-02-09 18:05] yujuhong commented on #20876
Looks the same to me, but I don't have much insight on the cause of failure.

@kubernetes/goog-cluster is trying to reproduce this since we've been hitting this way too often.  Any help is appreciated.

[2016-02-09 18:09] erictune commented on #12298
Hmm, the thing about an admission controller is that people have to manually add them to their apiserver flags.  I'd want this to always run.  I guess I could hardcode it on.

[2016-02-09 18:13] Fizzadar commented on #20902
Although this goes against the docs - I actually think this is a useful _feature_ of jobs currently. For example if I create a job with dodgy code - the job controller will continuously spawn/respawn pods forever until the job completes. So to prevent this we just delete the job - but, if it were deleting the pods also, it would make it impossible to extract the logs from those failed pods, which

[2016-02-09 18:13] mikedanese commented on #20644
I will reapply #20702 or something similar when component config for controller-manager is merged.

[2016-02-09 18:17] gmarek commented on #20644
Thanks.

[2016-02-09 18:17] caesarxuchao commented on #9167
Yes, but it's almost innocuous. I'll send a fix later.

[2016-02-09 18:18] yujuhong commented on #20907
@yifan-gu, could you share the kubelet.log? Pod status not getting updated seems pretty bad.

[2016-02-09 18:23] bprashanth opened #20914 "Kubelet drops pod because of unknown container"
During local cluster soak testing my DNS pod just went MIA, but kubectl showed it as ready and running:
[code]

Searching kubelet logs for the dns pod:
[code]

I can't find any sign of the container in question, or any of the containers that show up in the dns pod yaml:
[code]

And lastly, docker did restart numerous times overnight, but the node is Ok:
[code]

current kubelet log: https://storage

[2016-02-09 18:31] caesarxuchao commented on #17874
This test fails here for a different reason, I can create a separate issue if you think it's unrelated:
[code]
link: https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20864/kubernetes-pull-build-test-e2e-gce/27568/

[2016-02-09 18:32] smarterclayton commented on #2770
Agree with a lot of eric's points - we see this in the on-premise side, there is an infinite variety of configuration, and there are lots of points where cloud provider implementations would be useful for very specific parts, but a monolithic cloud provider would be useless.  In the cloud, we have people who use ELB and EBS but would never use anything else.

[2016-02-09 18:36] pires commented on #2770
+1

[2016-02-09 18:37] bprashanth opened #20915 "kubect logs on pod should show available containers"
What are the names of the containers?
[code]

[2016-02-09 18:37] krousey opened #20916 "e2e Flake: Cluster failed to initialize within 300 seconds (possible metadata server issue?)"
[code]

https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4496/

[2016-02-09 18:38] bprashanth commented on #20915
Fyi till now I've resorted to -o yaml, which I usually jump to anytime kubectl doesn't do what I expect

[2016-02-09 18:43] Random-Liu commented on #16670
@antoineco This will be fixed after bump up go-dockerclient version #20873

[2016-02-09 18:46] emilevauge opened #20917 "es"

[2016-02-09 18:57] MikeSpreitzer commented on #20522
Yes, the current scripting causes the minion version to overwrite the master version in this case.  That means that on a machine that is both master and worker, the Flannel daemon is *NOT* started after etcd but rather based on the condition `(net-device-up and local-filesystems and runlevel [2345])`.  Is that really what we want?  I expect that on a machine playing both roles, the Flannel daemon

[2016-02-09 18:58] vishh commented on #20895
+1. @cyphar will you be able to post a patch?

[2016-02-09 18:58] Random-Liu commented on #20907
@yifan-gu From the events, I don't quite understand why the container `default-http-backend` is created and started so many times without any particular error?

[2016-02-09 19:01] cyphar commented on #20895
I'll take a look at this over the weekend.

[2016-02-09 19:12] countspongebob commented on #20822
Scalability limit is much more directly correlated to number of pods being scheduled than the number of nodes.  Anyone running clusters at this size is going to have to have to have a pretty good handle on provisioning at scale anyway, so I'm not sure how helpful this is. We ran 1000 node clusters pre-1.2, the actual limit is certainly higher in 1.2 than 1000 - there have been some very positive i

[2016-02-09 19:29] galthaus commented on #18934
I just had something similar and found that it could be timing related with regard to nslookup contacting the DNS server through the Cluster IP.  I found that switching busybox images to busybox:glibc from latest (which is uclibc) caused the nslookup to work.  I also found that editing /etc/resolv.conf to only leave the Cluster IP (removing 127.0.0.1 and node IP) caused the system to work regardle

[2016-02-09 19:32] spiffxp opened #20919 "SSH access required to nodes for e2e tests"
Followup from @kubernetes/sig-testing meeting

We'd prefer to avoid ssh access if at all possible; some tests can probably be re-written to use kubernetes features to accomplish the same thing

For those cases where we need SSH access, the test code assumes that the cluster has been stood up via the salt-based clusters code; SSH access is tied to certain cloud providers, and hardcoded key location

[2016-02-09 19:36] lavalamp commented on #20445
There's no point in putting nodes in a separate bucket. Things other than monitoring talk to it!

If we want to bucket separately based on *user* rather than *path*, that would make sense.

[2016-02-09 19:40] lavalamp commented on #20841
Sure. Then we should audit where we pass RV to list methods; it's been wrong in two places so far--subtle breakage is possibly already out there...

[2016-02-09 19:42] spiffxp opened #20921 "Scrape jenkins results from publicly accessible buckets instead of private jenkins instance"
Followup from @kubernetes/sig-testing meeting

We're looking at the idea of using GCS buckets as the basis for federated test result collection.  ref: kubernetes/contrib#467, kubernetes/contrib#477

We'd like to see perf-dash and submit-queue using publicly accessible data, rather than data that only lives on private jenkins instance.  It seems like this should be doable now with improvements to t

[2016-02-09 19:43] spiffxp commented on #20921
/cc @kubernetes/sig-scalability re: #18570

[2016-02-09 19:46] lavalamp commented on #20847
I bet this explains a problem I'm having.

[2016-02-09 20:00] smarterclayton commented on #20847
I fixed the issue in origin for now by having extensions install take a hard dependency on api/install

[2016-02-09 20:14] yujuhong opened #20923 "e2e flake: Pods should be submitted and removed [Conformance]"
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/11274/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/11274/

[code]

I didn't have time to look at kubelet.log. @Random-Liu @caesarxuchao, it'd be great if one of you is willing to take this one, thanks.

[2016-02-09 20:16] ghodss commented on #19720
Is there no chance of 1.10 being validated for 1.2? We were hoping to upgrade to 1.10 internally very soon for the content-addressability guarantees.

[2016-02-09 20:28] ihmccreery opened #20925 "HPA e2es are failing after upgrade from v1.1 to v1.2."
See http://kubekins.dls.corp.google.com/view/Upgrade%20Test%20-%20GKE/job/kubernetes-upgrade-gke-1.1-master-step7-e2e-new/.

I'll leave to @piosz to triage.

[2016-02-09 20:29] sdminonne commented on #17874
@caesarxuchao
 In the current implementation `Update` is performed without retry. #20815 implement a retry mechanism similar to https://github.com/kubernetes/kubernetes/blob/master/test/e2e/pods.go#L440

[2016-02-09 20:30] ihmccreery commented on #20925
These started failing yesterday, but weren't running prior to yesterday due to anomalies fixed by #20596.

[2016-02-09 20:41] ihmccreery commented on #20916
And also in the PR builder:

https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/20183/kubernetes-pull-build-test-e2e-gce/27684/artifacts/

[2016-02-09 20:44] ravilr commented on #19720
We're also interested in upgrading to docker-1.10 on our k8s-v1.1.7 cluster. Is there a list of issues related to docker-1.10 upgrade on a v1.1 cluster?

[2016-02-09 20:44] vishh commented on #19720
There are still a bunch of issues that are going to be resolved as part of
1.10.1. We are trying to make it possible to use docker v1.10.0+ with
kubernetes v1.2, but v1.9.1 will be the recommended version.

On Tue, Feb 9, 2016 at 12:16 PM, Sam Ghods <notifications@github.com> wrote:

[2016-02-09 20:49] ihmccreery commented on #19715
This seems to have been resolved by #20459, which I thought was just an error propagation problem, but seems to have fixed the test completely.

[2016-02-09 20:52] jackgr commented on #19639
@ghodss My apologies. If I'm not mistaken, this issue was filed after the code freeze for 1.2. I didn't realize that it was time critical or that it could make the release at that time.

@bgrant0607 Thank you. I still plan to address those issues for the next release, as discussed, but will assign each one to myself as I work on it.

[2016-02-09 21:02] therc opened #20927 "Allow cloud loadbalancers to terminate HTTPS"
I'm not sure if GCE can do it, but AWS' ELB can be told to have listeners that terminate SSL connections with an existing IAM certificate. It would be great to allow that.

[2016-02-09 21:05] therc commented on #20927
I'm assuming this would require adding something like a "certificate" field to ServicePort, then perhaps a targetProtocol, to tell ELB whether to talk over HTTPS or plain HTTP to the pod.

[2016-02-09 21:08] therc commented on #15169
Which of @thockin's three options is more likely to get accepted if implemented?

[2016-02-09 21:16] luxas commented on #17981
Yay, major milestone! #19769 was merged :)
And k8s is now easily buildable for `arm64` and `ppc64le` if one uses `go1.5.2` or higher since #19712 and #20546

[2016-02-09 21:25] Random-Liu commented on #20895
@cyphar Thanks for doing this. :)

[2016-02-09 21:26] thockin opened #20930 "Revisit #20883 before release"
Should we enable or disable hairpin?

ref #20883

[2016-02-09 21:27] Random-Liu commented on #20923
I'll look into it. :)

[2016-02-09 21:31] bprashanth commented on #20930
For reference it's on by default today (so kubelet sets hairpin flag)

[2016-02-09 21:40] caesarxuchao commented on #20923
If it's caused by missing events during watch, then the root cause might be the same as #20498.

[2016-02-09 21:48] bprashanth commented on #20927
Yeah this will be possible via the Ingress in 1.2 https://github.com/kubernetes/kubernetes/issues/19497 (already in HEAD). We're not at the stage where we can express SNI/L4 yet, but will also be possible soon.

[2016-02-09 22:02] nikhiljindal opened #20933 "federated api servers: expose a discovery endpoint for possible api prefixes"
Forked from https://github.com/kubernetes/kubernetes/pull/20626#issuecomment-182093497

In a federated api servers setup, cluster admin can bring up a new server that exposes its groups at some other location than `/apis`. Discovery and Dynamic client wont know that there is a new prefix in the cluster that they should use to figure out the list of all resources in the cluster.

One way to fix thi

[2016-02-09 22:03] therc commented on #20927
Do you need help with the AWS code? We run HEAD, plus whatever PRs I might have outstanding at any time, plus perhaps a few more. :-) I assumed the Ingress stuff was about implementing load balancing inside Kubernetes, not using cloud providers.

[2016-02-09 22:04] thockin commented on #20930
For reference it is OFF in some e2e tests.

On Tue, Feb 9, 2016 at 1:32 PM, Prashanth B <notifications@github.com>
wrote:

[2016-02-09 22:06] therc commented on #20927
One use case I don't see mentioned in the Ingress TLS work is where the certificate credentials are in the cloud provider already and you can only refer to them by name (if you use IAM's Certificate Manager, you can't ever take them out, only use them on ELBs and CloudFront).

[2016-02-09 22:11] #19546 closed

[2016-02-09 22:11] bprashanth commented on #20927
You mean you can't create a Kubernetes secret for them? the way to handle that would be to add an k8s.io/aws/credential annotation that points to them, and is understood by the Ingress controller (ignored by non aws controllers), i think. The Ingress is supposed to hold information that is common and understood by nginx/haproxy, gce, aws etc. We need to bring in integration points that "break the

[2016-02-09 22:16] ixdy commented on #20757
Do we know why there is an i/o timeout? Is that something we expect to happen occasionally?

[2016-02-09 22:21] nikhiljindal commented on #20933
Actually rereading https://github.com/kubernetes/kubernetes/issues/18991, it seems we do not want to allow different api prefixes. We will only support legacy servers (/api and /oapi).
I can close this issue in that case?

[2016-02-09 22:31] therc commented on #20927
I meant that the private key for the certificate is locked inside CM and you can't terminate traffic yourself. That's both a big minus and a big plus.

I didn't realise that the actual Ingress controller lived outside of the main tree. I'll have a look at the contrib issue. Thanks a lot!

[2016-02-09 22:35] krousey commented on #20916
Happened on kubernetes-e2e-gce-slow as well.

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/2030/

[2016-02-09 22:38] nikhiljindal opened #20935 "discovery summarizer: should it merge swagger spec from all servers"
Ref https://github.com/kubernetes/kubernetes/issues/20229

We didnt discuss this in the federated servers proposal.
Do we need a single complete swagger spec of the federated cluster? So that the same client (which might use swagger spec, for ex: kubectl) can work the same way with a single server or with a federated cluster?

The summarizer will fetch spec from all servers, summarize them and exp

[2016-02-09 22:40] saad-ali commented on #20757
It happens pretty rarely. Could be a hiccup anywhere from the API server to the kubelet. Worth implementing retries--if we see this failure even with retries then it's worth digging in further.

[2016-02-09 22:45] smarterclayton commented on #20935
Hrm - what happens if two swagger routes / names / models conflict?

[2016-02-09 22:46] smarterclayton commented on #20933
I don't think discovery of discovery is important.  I think
unambiguous config of the summarizer (use these endpoints) is the
normal case, and eventually that would just be an API instead.

[2016-02-09 22:48] bgrant0607 commented on #19071
ref #17728

[2016-02-09 23:03] caesarxuchao commented on #17874
@sdminonne thanks. FYI, Actually we can set the Pod.ResourceVersion="", that will force an update, it would be cleaner than using a Poll.

[2016-02-09 23:06] yujuhong commented on #20923
@caesarxuchao, the containers got killed (and then recreated), which seem weird to me. It'd be good to check why kubelet killed them.

[2016-02-09 23:06] bgrant0607 commented on #20497
cc @mikedanese

[2016-02-09 23:06] mwielgus commented on #20888
@lavalamp what logs?

[2016-02-09 23:23] mikedanese commented on #19997
Just hit this http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/27742/#

[2016-02-09 23:28] nikhiljindal commented on #20935
We can drop the conflicting routes from the summary ( for ex: `/version`) ?
Otherwise proxy does not know where to redirect. (for ex: `<proxyIP>/version` should go to which server?).

Re: conflicting models: We can include any one if they are exactly same (for ex: I assume `Status` is an example which will be same across servers). Else we can probably add a prefix to model names based on the serve

[2016-02-09 23:35] ihmccreery commented on #20824
Okiedokie.  Looks like the v1.1 client is getting a response from the v1.2 master,

[code]

but the v1.1 client doesn't know how to handle the v1 APIVersions object, because in v1.1, that object was never expected to have an `apiVersion`.  From a 1.1 server, we get

[code]

which doesn't include a `"apiVersion":"v1"`.  We should expect to have plenty of pre-v1.1.7 clients floating around, and rele

[2016-02-09 23:37] jdef commented on #19432
does this mean that we'll be getting rid of the global cadvisor flags, replacing them with flag sets?

[2016-02-09 23:41] ihmccreery commented on #20824
I have a maybe feeling that this is caused by #17922?  In particular, we went from:

[code]

to

[code]

[2016-02-09 23:42] caesarxuchao commented on #20824
Probably it's caused by this:
https://github.com/kubernetes/kubernetes/commit/125ef6fbc8cc70477071936cd93d064d71c773e6#diff-fdfac9813673596faeda07fdce9207e2R298

[2016-02-09 23:44] ixdy commented on #6541
Tests are still marked flaky.

[2016-02-09 23:46] caesarxuchao commented on #20824
Let me double check the code. cc @smarterclayton

[2016-02-09 23:48] lavalamp commented on #20888
This is in my own GKE apiserver logs. Kubernetes 1.1.7. Maybe it's fixed already?

[2016-02-09 23:49] jlowdermilk commented on #19997
Logs from above run: [kubernetes-pull-build-test-e2e-gce/27742](https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/20528/kubernetes-pull-build-test-e2e-gce/27742).

Failed test log:
[code]

[2016-02-09 23:50] cjcullen opened #20938 "DeletingPodsQps == 0.1 means scale-downs take a long time for large clusters."
`DeletingPodsQps` (the `--deleting-pods-qps` flag to kube-controllermanager) controls the max rate that we will evict pods from nodes for the nodes to be deleted. If I want to scale down a very large cluster (e.g. 1000->640), I'm waiting an hour before my apiserver accurately represents the state of my cluster.

A simple solution would be to set that flag to something higher if I know I want a big

[2016-02-09 23:55] ihmccreery commented on #20824
@caesarxuchao What about that line?  I've never dealt with the version negotiation; should the server and client be negotiating in a way that the server can return an object without `apiVersion`?

[2016-02-10 00:02] caesarxuchao commented on #20824
More precisely it's this line:
https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/serializer/versioning/versioning.go#L181

This line sets the version to "v1".

In 17922, during encoding, we set unversioned object's APIVersion field to "v1".

[2016-02-10 00:03] jason-riddle commented on #10439
Has there been any progress on this?

[2016-02-10 00:09] caesarxuchao commented on #20824
I think in the long run, because we expect to move many unversioned types to group "common", so they should be versioned, so making APIVersion=v1 is the right move.

Back to the backwards compatibility issue, how's the situation at other url, like http://127.0.0.1:8080/apis/extensions? That address also returns a versioned object, which at release 1.1 is unversioned:
[code]

Do we need to keep all

[2016-02-10 00:09] timstclair commented on #19432
Yes, that's the plan. There should be no changes to the standalone cAdvisor binary, but any project which is linking in cAdvisor will need to manually add (by calling package functions) any flags they want.

[2016-02-10 00:09] caesarxuchao commented on #20824
cc @lavalamp

[2016-02-10 00:10] bgrant0607 opened #20941 "Make kubectl describers and resource printers more consistent"
Noticed when reviewing #20886

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/describe.go

Describers should all print object metadata consistently (name, namespace if relevant, labels).

All controllers should print at least pod templates the same way -- using DescribePodTemplate.

I'm sure there are other opportunities to improve consistency. I just noticed these differences at

[2016-02-10 00:12] lavalamp commented on #15945
#4817 already exists, we can reuse that. Thanks!

[2016-02-10 00:12] #15945 closed

[2016-02-10 00:12] Random-Liu commented on #20923
I found the root cause.
From the log, we can see that the pod `pod-update-e781ecbb-cf59-11e5-a461-42010af01555` was deleted first:
[code]
But then, livenessManager found the pod was unhealthy and let the kubelet sync that pod again.
[code]
The `syncPod()` loop should have checked the `DeletionTimestamp` and avoid restarting the pod again. But the `pod` from `livenessManager` is [an "old" pod](http