[2021-06-03 11:28] pacoxu commented on #102562
dup with #24725
/kind support
/remove-kind bug

[2021-06-03 11:29] uablrek commented on #102527
/cc @fasaxc

[2021-06-03 11:35] uablrek commented on #102527
That can probably explain the incorrect address since the incorrect source will not prevent masquerading. I leave this for `Calico` folks to investigate for now. I can't triage it as a bug in K8s, at least not yet.

[2021-06-03 11:36] tanjing2020 opened #102564 "Reduce memory usage after deployment or statefulset upgrade"
#### What would you like to be added:
After the pod is upgraded, the memory occupied is reduced to that before the upgrade.

#### Why is this needed:
Rolling Upgrade Deployment or statefulset, the memory occupied has doubled.

before
![before](https://user-images.githubusercontent.com/73930840/120639446-eb389780-c4a3-11eb-888c-71d52387001d.png)

after
![after](https://user-images.githubusercontent

[2021-06-03 11:38] pacoxu commented on #102563
Do you enable kubelet dynamic config? More kubelet log is needed. Does certificate expire?

"Client rotation is on, will bootstrap in"  can refer to https://github.com/kubernetes/kubeadm/issues/2054 but the log is not complete.

[2021-06-03 11:40] uablrek commented on #102527
@growse Shouldn't be a problem. Go ahead and reboot/restart. Nobody can expect you to keep a fulty cluster running.

[2021-06-03 11:44] pacoxu commented on #102552
/sig node

[2021-06-03 11:51] tanjing2020 commented on #102564
/sig api-machinery

[2021-06-03 11:52] tanjing2020 commented on #102564
/cc @wojtek-t  @liggitt

[2021-06-03 11:55] pacoxu commented on #102549
/area conformance

[2021-06-03 11:56] pacoxu commented on #102556
/sig cluster-lifecycle
/area kubeadm
/cc @SataQiu @neolit123

[2021-06-03 12:11] uablrek commented on #102128
@kyrieSun-wow Can we close this issue?

But, if you can find any reasonable simple SCTP test program, please send a pointer. AFAIK nobody maintain sctp in K8s for now and it would be nice to have something better than "hello-world" for sctp in the e2e tests.

[2021-06-03 12:52] neolit123 commented on #102556
Hi. Kubeadm does not manage the kubelet cert rotation. It is automatic by default unless the user opts out. We have seen cases in the wild where 'something just goes wrong' and a kubelet is stuct without a valid cert.

As long as you have the ca.crt/key on a node you can create a new kubelet certs with:

- Call 'kubeadm init phase kubeconfig kubelet' optionally pass -config or other flags if neede

[2021-06-03 12:55] wilmardo commented on #75482
/remove-lifecycle rotten

[2021-06-03 12:58] growse commented on #102527
Aha, I have

[code]

Because I wanted calico to choose the DHCPv6 address assigned to the host, rather than the `mngtmpaddr noprefixroute` IPv6 addresses that come from accepting the IPv6 router advert.

I dropped this from the calico config and repdeployed, but I see the same behaviour.

Sure thing, I think I agree.

[2021-06-03 13:21] dashpole commented on #102385
Did you add the `k2_app_hostpath` node label in both clusters?  It looks like that is what caused the overlap between the two streams

[2021-06-03 13:34] zhangjie2012 commented on #102385
No, but every cluster both have different node label. When  add new label to node on old cluster, the metrics alse changed, but no overlap, only one record.

The same situation, new cluster have two record.

[2021-06-03 13:41] yunusemrecatalcam opened #102566 "PV can't be attached to the pod on aws ec2 single node cluster"
#### What happened:
I'm using velero for backups, for the validation I've opened up a new single machine cluster. I've restored the pv,pvc using velero.
But after I deployed the pod -this is a redis pod-, data volume couldn't be attached to the pod.

#### What you expected to happen:
I expect it mounts

#### How to reproduce it (as minimally and precisely as possible):
open up an ec2, create polic

[2021-06-03 13:44] yunusemrecatalcam commented on #102566
/sig aws-ebs-csi-driver

[2021-06-03 13:45] yunusemrecatalcam commented on #102566
/sig cloud-provider

[2021-06-03 13:45] yunusemrecatalcam commented on #102566
/sig storage

[2021-06-03 13:47] antoinep92 commented on #102556
Thanks @neolit123 ! I apologize for the noise if this is a known issue. As you said it is not immediately obvious from the logs/docs what exactly is going on. Anyways regarding your instructions, unfortunately they do not work out of the box. Feedback step by step:
- [no effect] I made a backup of my config files and ran `kubeadm init pahse kubeconfig kubelet -v=5` which wrote `/etc/kubernetes/kub

[2021-06-03 14:06] joshimoo commented on #70044
These issues might have some additional insights when following the trail that might be worth to look at:
https://github.com/kubernetes/kubernetes/issues/101911#issuecomment-842830788
https://github.com/kubernetes/kubernetes/pull/64610#discussion_r193556014
https://github.com/kubernetes/kubernetes/issues/96759

[2021-06-03 14:19] uablrek commented on #101607
Quite easily reproducible. Setup;
* Select a loadBalancerIP, `10.0.0.0` in this example
* Set a static route so traffic to that address comes to one node, `vm-002` in this example

From an external machine, constantly try to connect using the same source port;
[code]
On the receiving node (`vm-002`);
[code]
Now the service is setup and working but the external machine still can't connect because o

[2021-06-03 14:25] Horopter opened #102567 "kubelet doesn't observe/get call for remounts."
#### What happened:
When the block volume is detached ungracefully or by a reboot to compute instance, kubelet re-attaches the volume, but it doesn't mount it. Thus, it is inaccessible to the user.

#### What you expected to happen:
The volume should be mounted after attach automatically.

#### How to reproduce it (as minimally and precisely as possible):
1. Create a pod with one PVC to provision

[2021-06-03 14:26] Horopter commented on #102567
/sig storage

[2021-06-03 14:27] uablrek commented on #101607
While this is not a problem for web-applications where the clients are well behaiving and usually have no restricions on the source port, it _is_ a problem if the client is very primitive or is restricted by firewall rules. IMO K8s can, and should, support those clients.

/triage accepted

[2021-06-03 14:36] uablrek commented on #101607
The behavior is the same for kroxy-mode `iptables` and `ipvs`.

[2021-06-03 14:37] thockin commented on #101607
Thanks for the triage!  Any thoughts on best fix, while it is fresh?

On Thu, Jun 3, 2021, 7:27 AM Lars Ekman ***@***.***> wrote:

[2021-06-03 14:41] uablrek commented on #101607
Same as for UDP/SCTP I guess. I havn't checked those though. A problem is that the conntrack crear and the config of iptables/ipvs should really be "atomic", but it can't. I think the best is to _first_ make the load-balancing setup and _then_ clear the conntrack entry. A connection may be lost, but at least subsequent attempts will work.

[2021-06-03 14:53] thomacos commented on #97739
@katiewasnothere

May I ask:
Is it possible that there is a regression with Windows container device support?

In the past NVENC video encoding was working inside a Windows container via [--device class/5B45201D-F2F2-4F3B-85BB-30FF1F953599](https://techcommunity.microsoft.com/t5/containers/bringing-gpu-acceleration-to-windows-containers/ba-p/393939). And it worked well with Kubernetes and the [Dir

[2021-06-03 15:03] neolit123 commented on #102556
did you try deleting the kubelet.conf first?

`kubeadm init` tries to reuse existing .conf files.

[2021-06-03 15:07] george-angel commented on #101525
Can confirm v1.21.1 fixes the issue where kube-proxy does not enact on TopologyAwareHints :+1:

[2021-06-03 15:07] neolit123 commented on #102556
the steps i suggested above work in this online k8s environment:
https://www.katacoda.com/courses/kubernetes/playground

[2021-06-03 15:08] neolit123 commented on #102556
/remove-kind bug
/kind support

[2021-06-03 15:10] aojea commented on #101607
The problem I see with TCP is that we can race with the "normal" TCP shutdown and break it, I didn't think too much about this in this context honestly, but I saw and experienced myself issues because of cleaning "too fast", leaking fds, ...

[2021-06-03 15:11] aojea commented on #101525
awesome, let's close this then

/close

[2021-06-03 15:11] #101525 closed

[2021-06-03 15:20] thockin commented on #101607
That was also my first thought, too.

On Thu, Jun 3, 2021 at 8:11 AM Antonio Ojea ***@***.***>
wrote:

[2021-06-03 15:20] uablrek commented on #101607
This is not in shutdown, it is on "startup" so to speak, i.e. when the service is configured.

[2021-06-03 15:21] uablrek commented on #101607
Perhaps _that is_ different from UDP/SCTP.

[2021-06-03 15:34] roycaihw commented on #100933
sounds good to me. Just be aware that there are many fields a user could specify in a JSONSchemaProps other than `type` and `properties`, please try not to make the code too complicated.

[2021-06-03 15:34] SamuAlfageme commented on #58065
@leonK-BO in case it helps, I've just tested the `kubectl` patch from https://github.com/kubernetes/kubernetes/issues/58065#issuecomment-845071840 myself with the `proxy-url` set on my `KUBECONFIG` and it all worked out:

[code]

[2021-06-03 15:38] antoinep92 commented on #102556
I didn't kubeadm init with a config file, but it was a few years ago on v1.11
When I delete kubelet.conf the one kubeadm creates uses a completely different file indeed, probably because defaults have changed. I guess kubeadm handled this well each time I upgraded, but not for troubleshooting stuff.

I'll try to recreate a config file that matches my actual cluster config by mapping the various fi

[2021-06-03 15:39] uablrek commented on #101607
Before (stale);
[code]
After (working);
[code]
In this case it would be sufficient to remove any `[UNREPLIED]` entries with the loadBalancerIP as dest. To be extra sure we can check the NATed src, it should be a POD (or node) IP _not_ the loadBalancerIP. Such a conntrack entry is surely useless.

[2021-06-03 15:42] neolit123 commented on #102556
note that you don't need a --config for `init phase kubeconfig` if:
- you let kubeadm detects the API of the node
technically you can just let it run without config and then amend the kubelet.conf `server: ` field for that.
- kubeadm detects the node hostname, if check check if the kubelet.conf has what you expect:
e.g.
[code]

[2021-06-03 15:56] nonylene commented on #102537
I believe the termination grace period is not related to this issue.

`terminationGracePeriodSeconds`  is the maximum wait time for all containers in a Pod to stop after the k8s controller starts terminating the Pod (if the maximum wait time is exceeded, the containers will be killed). Certainly the issue is about the behavior while k8s controller is waiting like that, but it occurs regardless of

[2021-06-03 16:12] n4j commented on #102404
Quick update, I have setup my test bed on Windows 10 machine and I am able to reproduce this issue by turning on `Legacy Console Mode`.

After some debugging I applied a "monkey patch" in the package `github.com\moby\term` to test a hypothesis and the issue resolved :)

Though I am not sure if my patch would work on all versions of windows + would it be correct to do it in `moby\term` or not.

Let

[2021-06-03 16:14] n4j commented on #94892
@Random-Liu I agree with @yehiyam.

Is there any other approach which works without privilege escalation? If not can we bring-up this issue again in the next `sig\node` meeting?

[2021-06-03 16:36] lauchokyip commented on #71765
/reopen

[2021-06-03 16:53] antoinep92 commented on #102556
Ok many thanks for your help :muscle:
I was able to `kubectl` again !

I still had to do a few more steps from what you said, but you pointed me in the right direction.

I had to delete /etc/kubelet.conf obviously, and /var/lib/kubelet/pki/kubelet-client-current.pem, which was *not* a symlink but now is. And then I still had to kubeadm certs renew all and update my kubectl config accordingly :ok_h

[2021-06-03 16:53] #102556 closed

[2021-06-03 17:03] neolit123 commented on #102556
no problem, happy it worked out.

[2021-06-03 17:33] sbelyankin commented on #86064
I am seeing the same behavior on non-encrypted volumes as well, regardless of size.

[2021-06-03 17:54] Joseph-Goergen opened #102569 "Exec timeout does not kick users out on kubectl client 1.21"
#### What happened:
Exec-ing onto a pod does not kick you out.
#### What you expected to happen:
To get kicked out of the pod after the container runtime specified time is reached.
#### How to reproduce it (as minimally and precisely as possible):
- configure your kubectl client to 1.21
- `kubectl exec -it <any pod> -- sh`
- wait however long your container runtime is set to and see that it doesn'

[2021-06-03 18:26] Joseph-Goergen commented on #102569
https://github.com/containerd/containerd/issues/5563

[2021-06-03 18:55] fabriziopandini commented on #82532
/remove-lifecycle stale

[2021-06-03 19:10] giuseppe commented on #99230
@harche can we close now?

[2021-06-03 19:13] thockin commented on #101607
I wonder if it is finally time for a more complete conntrack-management
overhaul.  Any time the set of backends (endpoints) or frontends
(clusterIP, ports, nodeport, LB-IP) changes we may need to do something in
conntrack.  What that something is obviously depends on the protocol and
exactly what changed.  May be fun to work up that table :)

On Thu, Jun 3, 2021 at 8:39 AM Lars Ekman ***@***.***>

[2021-06-03 19:31] johnSchnake commented on #102075
So I also had seen that patch logic; I think that is getting phased in in certain places and I'll have to double check the list of impacted tests to see if it is still lagging behind.

[2021-06-03 19:35] vincepri commented on #82532
/lifecycle frozen

[2021-06-03 19:40] adtac commented on #102476
another instance: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102022/pull-kubernetes-unit/1400524914171056128 (PR: https://github.com/kubernetes/kubernetes/pull/102022)

[2021-06-03 19:46] ehashman commented on #102148
FYI, we now have a `/test pull-kubernetes-node-kubelet-serial` job from https://github.com/kubernetes/test-infra/pull/22284 if we want to test fixes on PRs.

[2021-06-03 19:46] eddiezane commented on #102274
Hi @sureshpalemoni,

I'm currently working on a KEP for additional protection with kubectl delete.

https://groups.google.com/g/kubernetes-dev/c/y4Q20V3dyOk

Would you be interested in providing a user story for the KEP?

[2021-06-03 19:53] ahg-g opened #102573 "Scheduler: add plugin name to the filter message"
When the scheduler fails to find a node to schedule a pod, a message is logged summarizing the reason. It would be helpful if we include the plugin name in the summary message so that it is easier to parse this message by diagnostic tools.

I also wonder if we can utilize structured logging to report an even easier to parse log message.

/sig scheduling

[2021-06-03 19:55] oxr463 commented on #69699
Is there a big performance impact from this? e.g., increased memory usage on deployments.

[2021-06-03 19:56] BenTheElder commented on #102148
cc @amwat this scenario is something to be aware of for kubetest -> kubetest2

[2021-06-03 19:56] gnufied commented on #69699
No. It should not result in any difference in memory usage.

[2021-06-03 20:02] johnSchnake commented on #102075
I'll try and walk through the code a bit more; the best example I have is from a storage tests and it is difficult to follow the setup/teardown logic if you're not familiar. The file `test/e2e/testing-manifests/storage-csi/mock/csi-mock-driver-attacher.yaml` has the hard coded value in this example and I'm not sure that it ever gets swapped out.

That being said, from the time of the sonobuoy tick

[2021-06-03 20:06] neolit123 commented on #102563
yes, please provide the full log lines.

/remove-kind bug
/kind support
until this is confirmed as a bug.

[2021-06-03 20:15] fedebongio commented on #102564
/cc @deads2k since he took the PR, thank you!
/triage accepted

[2021-06-03 20:19] ahg-g commented on #89312
/remove-lifecycle rotten

[2021-06-03 20:24] ehashman commented on #101989
@SergeyKanzhelev can you verify the regression is fixed with the next patch release of 1.21?

[2021-06-03 20:31] fedebongio commented on #34146
Briefly talked with Haowei, leaving it here for next time.

[2021-06-03 20:32] fedebongio commented on #102019
Hi Tim, this one has been open and a bit stalled for some weeks now. Would you like to come to the SIG meeting to chat about it?

[2021-06-03 20:40] lavalamp commented on #102019
We would probably tackle this as a follow-up to the inconclusive "webhook webhooks" conversation in yesterday's. I may put that on the agenda anyway. They are extremely related issues, perhaps even the same, or if not, a solution to safer rollouts would at least clarify what part of the problem is remaining for platform admins.

[2021-06-03 21:03] chirangaalwis opened #102575 "[AutoScaling] Kubernetes Ingress Object Metrics with Community NGINX Ingress Controller"
#### What would you like to be added:
A [custom metrics API implementation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#support-for-custom-metrics) for capturing the request count per unit time of a Kubernetes Ingress resource object, when using the community NGINX Ingress Controller in order to be used as a metric for Horizontal Pod Autoscaling (HPA).

The ultimate

[2021-06-03 21:04] chirangaalwis commented on #102575
/sig autoscaling

[2021-06-03 21:06] chirangaalwis commented on #102575
/sig network

[2021-06-03 21:29] jonesbr17 commented on #102407
@dims Thanks for the quick fix. What is the process for cherry-picking the change to older releases?

[2021-06-03 21:33] dims commented on #102407
@jonesbr17 https://github.com/kubernetes/community/blob/master/contributors/devel/sig-release/cherry-picks.md

[2021-06-03 22:08] #89281 closed

[2021-06-04 00:38] adtac commented on #99605
@sanposhiho and I talked offline. I agree with what everyone said, the primary purpose is to visualise spreading, node affinity, etc. I really like @alculquicondor's scoring suggestion as well, but I think we should leave that to the later stages of the project.

[2021-06-04 00:56] Jeffwan commented on #88803
em. This should be included in release notes. It takes time to figure it out.

[2021-06-04 01:11] #102113 closed

[2021-06-04 02:24] lunhuijie commented on #102553
/assign

[2021-06-04 02:29] lunhuijie commented on #102553
I test this similar。
Mybe the reason is about "Kubelet tries to compress the tmp file, but failed for some reason."
After the log file is renamed, the soft link is not deleted, so the log will still be written to the previous file. That is what you said--0.log.20200603-150405. If you restart kubelet, you will find that the file is normal.

[2021-06-04 02:31] lunhuijie commented on #102553
This scenes is like to https://github.com/kubernetes/kubernetes/issues/100478s

[2021-06-04 02:36] peng09 commented on #102553
I have tried to restart Kubelet, however tmp file is still uncompressed.

In Kubelet container_log_manager, it will only check the disk usage of latest container log. So before the size of latest log file exceeded threshold, it will not try to rotate/compress previous files in the meantime.

[2021-06-04 02:52] cndoit18 commented on #102316
/kind support (i think)

Based on the results of these discussions, it seems like this should be an expected behavior?

[2021-06-04 03:05] lunhuijie commented on #102553
tmp file is still uncompressed
How about 0.log, the container still does not output new lines to newly created file 0.log?

[2021-06-04 03:51] vielmetti commented on #96564
There is a new project `vtprotobuf` https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/ from Vitess, targeting the ProtoBuf APIv2.

[2021-06-04 04:00] peng09 commented on #102553
The container has the ability to output new logs, it just does not output new lines because process in container has finished its work.

The main concern in the issue above is that tmp file is uncompressed because of unexpected error, and Kubelet will not retry to compress it anymore and thus consume excessive disk spaces.

[2021-06-04 04:10] BenTheElder commented on #90710
No it's supported and nearly all Kubernetes CI is cgroup v1 to this day.

It provides support. It doesn't support _rootless_ yet but it supports cgroupsv2.

(btw the release notes would cover both of these, dropping v1 would be a major breaking change, and v2 is mentioned in the 1.19 notes)

https://github.com/kubernetes/kubernetes/issues/90710#issuecomment-646336920

There have since been a few m

[2021-06-04 04:10] #90710 closed

[2021-06-04 04:15] vielmetti commented on #102315
I'm able to confirm this problem on an arm64 Ubuntu 20.04 system.

[code]

[2021-06-04 04:17] vielmetti commented on #102315
Preiously: https://github.com/kubernetes/kubernetes/issues/98086

[2021-06-04 04:19] BenTheElder commented on #99877
still flaking https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Test_Run_Positive_VolumeAttachMountUnmountDetach
/remove-lifecycle stale

@kubernetes/sig-storage-bugs

[2021-06-04 04:23] BenTheElder commented on #102315
What about 1.19.11? We are not going to change the contents of an old image (see #98086) and 1.19.4 is several patch releases back now. If any fixes landed they might only be in a more recent image. I've lost track of what is landed in 1.19 (we're developing 1.22...)

[2021-06-04 04:25] vielmetti commented on #101328
I'm able to confirm this issue on Ubuntu 20.04 / arm64 system.

[code]

[2021-06-04 04:45] vielmetti commented on #102315
1.19.11 gives me this:

[code]

[2021-06-04 04:52] vielmetti commented on #102315
1.21.1 gives me a nominally successful arm64 image! (at least I can launch it without error)

[2021-06-04 04:53] BenTheElder commented on #102315
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/conformance-arm@sha256:7cc6a33e0380a831bd1e4d04ba60a638fd07cdacd85a2142a0515e00c117aaac/details?tab=info is a manifest list ... 🧐

But the multi arch image looks right at a glance?
https://console.cloud.google.com/gcr/images/k8s-artifacts-prod/US/conformance@sha256:f45588081cc6d91fa66a0c36a3bc23004a81f84b55787a834eb911d3159d77a4/det

[2021-06-04 04:59] #102480 closed

[2021-06-04 05:04] vielmetti commented on #102315
At a glance, the multiarch 1.19.11 version fails to load on arm64, but the multiarch 1.21.1 is fine.

Details:

[code]

[2021-06-04 05:35] scubakiz opened #102582 "Konnectivity Service doesn't tolerate wildcard taints and gets evicted when node gets tainted with NoExecute."
#### What happened:
Konnectivity Service gets evicted when node gets tainted with NoExecute.

#### What you expected to happen:
Just like CoreDNS and KubeProxy, Konnectivity-agent should not get evicted when Node gets a taint.

#### How to reproduce it (as minimally and precisely as possible):
Have a port-forward running from a service and taint a node with a NoExecute option.  Konnectivity-agent

[2021-06-04 05:46] liggitt commented on #102476
flaked again since https://github.com/kubernetes/kubernetes/pull/102477 was merged

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102581/pull-kubernetes-unit/1400681778779262976

[2021-06-04 06:02] liggitt commented on #102476
fixed in https://github.com/kubernetes/kubernetes/pull/102584

[2021-06-04 06:16] lunhuijie commented on #102553
/unassign
I think the compression inside the container should be the responsibility of docker

[2021-06-04 06:20] pacoxu commented on #98080
Update to v4.11.0 to fix it.
v5.5.0 has some break changes and the upgrade will be discussed later.

[2021-06-04 06:56] peng09 commented on #102553
Hi @lunhuijie , the uncompressed (tmp) files is under /var/log/pods directory on hosts, besides we are using Containerd as our runtime, so it is not related to Docker.

[2021-06-04 07:22] nature-18 opened #102589 "SIGPIPE Signal sent during prestop hook execution in pod"
#### What happened:
 we have added a prestop hook in  one of our microservice "workflow" which uses service bus to consume messages and mongodb to update results , which run the pre-stop.sh script
kubectl rollout restart deployment workflow-v2 -n team3, it should run the prestop hook(which takes all the inprogress items and update its status in mongodb and put them back in service bus queue i orde

[2021-06-04 07:47] pohly commented on #102452
Let's look at another instance, this time the simpler `CSI Volumes [Driver: csi-hostpath] [Testpattern: Dynamic PV (default fs)] volumes should store data`
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1400422473312243712

[code]

Driver logs: https://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1400422473312243712/

[2021-06-04 08:21] #98080 closed

[2021-06-04 08:24] pohly commented on #102452
The last log messages in the hostpath driver log is:
[code]

I wonder whether we might be missing more recent log output because kubelet started to become unhealthy on the node.

[2021-06-04 08:39] OJFord commented on #75378
/remove-lifecycle rotten

[2021-06-04 08:47] JCzz commented on #102563
Hi @pacoxu and thanks. I an not sure what you mean by "more kubeadm log is needed". Please let me know what kind of log you need. Regarding "journalctl -u kubelet.service" and "systemctl status kubelet", that is what is printet to stdout.

Regarding certificate(note Error reading configuration from the Cluster. Falling back to default configuration):
**sudo kubeadm certs check-expiration**
[code]

[2021-06-04 08:56] pohly commented on #102075
That issue was about gcr.io/k8s-staging-csi - that's not a registry that ever should be used in a proper Kubernetes release. We may have used it temporarily when images hadn't been promoted yet.

I'll comment in that issue.

[2021-06-04 09:05] JCzz commented on #102563
To install Kubernetes master node I am using the following script on a Parallels Desktop, so it should be easy to recreate.

After running installation script, just try restarting:

[code]

[2021-06-04 09:05] pacoxu commented on #102589
/sig node
is this dup with #102501?

The official doc: https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/. Several things that we should check. [Pod terminating/lifecycle](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-termination)
- Users should make their hook handlers as lightweight as possible.
- terminationGracePeriodSeconds of the Pod:  If the pr

[2021-06-04 09:10] pacoxu commented on #102563
`kubelet log`.  ("journalctl -u kubelet.service" especially error/fail messages)

[2021-06-04 09:25] #100938 closed

[2021-06-04 09:26] pacoxu commented on #102582
As I know, only kube-proxy tolerates NoExecute.

https://github.com/kubernetes/kubernetes/blob/646acf096e61dcda9cc20c9acbbe2969741e07c3/cluster/gce/manifests/kube-proxy.manifest#L12-L19

coredns does not.

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/cluster/addons/dns/coredns/coredns.yaml.sed

konnectivity agent's setting is same as coredns.
https://githu

[2021-06-04 09:30] TBBle commented on #97739
Sadly, I didn't get around to that yet. It was on my "list of things to try in a spare moment", and that list hasn't moved as much as I'd like. Or at all. ;_;

I don't suppose you have any records of differences from when it was working previously? I would have expected possible issues with a change in OS version, but you're using Windows Server 2019, and I assume when it was working, so are you t

[2021-06-04 09:38] pacoxu commented on #102582
/cc @Jefftree  @cheftako

Like dns-node-cache and kube-proxy, daemonset seems to have the toleration.
/assign

kubeadm kube-proxy is using below.
https://github.com/SataQiu/kubernetes/blob/c66a7bc42c528bcf95eb910a7f28f9efccbbaafe/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L111-L112

[2021-06-04 09:40] pacoxu commented on #102582
/sig cloud-provider

[2021-06-04 10:35] odinuge commented on #99230
Test is still failing. See testgrid: https://testgrid.k8s.io/sig-node-cri-o#pr-crio-cgrpv2-gce-e2e

[2021-06-04 10:51] serathius commented on #102557
As we are trying to provide better guidance to contributors I think we should reach out to contributex.
/sig contributex

[2021-06-04 10:53] serathius commented on #102557
/sig contributor-experience

[2021-06-04 10:59] aojea commented on #101607
I wonder if we are reaching the limits of conntrack based loadbalancer

[2021-06-04 11:02] Rajalakshmi-Girish commented on #100127
@dims Any clue on this, please.
This has been pending for a long time.

[2021-06-04 11:07] uablrek commented on #101607
What are the alternatives? eBPF and XDP? I think NTF will also rely on the conntracker.

And btw, the conntracker is *very hard* to get rid of. Believe me, I have tried :smile:  Please see; https://unix.stackexchange.com/questions/650790/unwanted-defragmentation-of-forwarded-ipv4-packets

[2021-06-04 11:26] JCzz commented on #102563
Please see the original issue description "journalctl -u kubelet.service"

[2021-06-04 11:36] aojea commented on #102559
@xytis there were several fixes in this area, can you check if this is not a duplicate of https://github.com/kubernetes/kubernetes/issues/95258?

if you are using the `portmap` cni plugin to implement hostports, you should check you are using the version with the fix https://github.com/containernetworking/plugins/pull/553 that is v0.9.0+

[2021-06-04 11:44] giuseppe commented on #99230
hm.. it is failing on:

[code]

not sure how to deal with this test.

Should we handle it differently for cgroup v2?  Or just enable it for cgroup v1?

@kolyshkin @odinuge what do you think?

[2021-06-04 11:47] aojea commented on #102527
If this is not Kubernetes, can we close this issue?
You can open a new one in Calico and follow up with them there

[2021-06-04 11:54] pohly commented on #102452
One thing that I just noticed is that csi-external-health-monitor-agent was removed in v0.3.0 of external-health-monitor.
csi-driver-host-path and thus Kubernetes still deploy csi-external-health-monitor-agent v0.2.0, which is obsolete, right? Could it cause harm?

We'll see because it gets removed together with the controller in https://github.com/kubernetes/kubernetes/pull/102591, which is about

[2021-06-04 11:57] odinuge commented on #99230
I don't know _how_ changes in conformance test should be done. The issue in this case is that for cgroup v1, `pageFaults` and `majorPageFaults` will always be `0` on `kubepods.slice` due to how the hierarchy stuff works there. Not sure why the conformance test is doing `<= 0` instead of just `0`.... For v2 these value will sum all the page faults in all descendant processes below it.

Updating the

[2021-06-04 11:57] pohly commented on #102452
Besides that, https://github.com/kubernetes/kubernetes/pull/102282 also updated the csi-external-health-monitor-controller from v0.2.0 to v0.3.0. But a diff between those versions for "cmd pkg/controller" doesn't show much changes, so that shouldn't make a difference.

[2021-06-04 12:08] serathius commented on #102557
Would be great if we could have a separate Pull Request template for structured logging PRs, but I don't know if that's possible.

[2021-06-04 12:25] fungusakafungus commented on #101786
Just out of curiosity, what are your values for --runtime-cgroups kubelet argument, and kubeletCgroups and systemCgroups kubelet configuration settings?

[2021-06-04 12:31] fkocik commented on #101786
Hi,

No `--runtime-cgroups` argument in command line, here is my config file on a worker node :
[code]

[2021-06-04 12:35] dims commented on #76506
Adjusting the script as we no longer have hyperkube :)
[code]

[2021-06-04 12:36] dims commented on #76506
everything above 1 MB are as follows:

[code]

[2021-06-04 12:49] satyampgt4 commented on #99675
working on these:
./staging/src/k8s.io/api/flowcontrol/v1beta1/types.go
./staging/src/k8s.io/api/flowcontrol/v1alpha1/types.go

[2021-06-04 12:52] yunusemrecatalcam commented on #102566
I've dig into it,
Just tried to create a volume from the ground using a storageclass that uses provisioner:kubernetes.io/aws-ebs;
The error "Failed to get AWS Cloud Provider. GetCloudProvider returned <nil> instead" clearly an auth error.

Then I tried that process with ebs csi, it uses a user to interact with the aws,
I've install ebs-csi -provisioner:ebs.csi.aws.com-, created policy, it successf

[2021-06-04 12:54] yunusemrecatalcam commented on #102566
And yeah I guess cloudprovider config is not being passed according to
`root@ip-172-31-3-17:~# kubeadm config print init-defaults | grep -i aws`

And I guess that's why I'm getting "Failed to get AWS Cloud Provider. GetCloudProvider returned instead"

[2021-06-04 13:30] rspierz commented on #89898
I've seen this behaviour with on prem clusters on 1.19 and now with 1.20 on large bare metal nodes. In our findings so far it seems if the pod fs is slow the http probes will fail at intervals. The more pvc's attached the the pod the more likely something like `time df -h` will show a value over a few secs. If there is no pvc's attached we dont see any http probe failures.

[2021-06-04 13:31] humblec commented on #99846
@neolit123 considering this https://github.com/kubernetes/kubernetes/pull/100100/ is merged, can you retry and see this still fails or not?

[2021-06-04 13:34] humblec commented on #99129
/assign @humblec

[2021-06-04 13:35] humblec commented on #99129
@amehub are you still facing this ussue even in latest versions of kube clusters?

[2021-06-04 13:40] humblec commented on #71871
yeah, we dont need any manual actions about `service` or `endpoint` for GlusterFS PVCs. Its automatically taken care the driver code itself.  Also the endpoint issue which is referred earlier has been already resolved, so you should not be seeing this issue any more ! if you still face the issue please revert.

[2021-06-04 13:43] neolit123 commented on #99846
I think that is a question for @handrea2009 ?

[2021-06-04 13:52] growse commented on #102527
I'm happy to cross-post this to the calico project. I've just found another related issue that I was going to file there directly anyway, so will combine.

[2021-06-04 14:09] #54498 closed

[2021-06-04 14:29] gerassimos opened #102600 "unit tests of the ./pkg/volume are failing"
On a clean Ubuntu dev environment I get the following error when I executed the `make test WHAT=./pkg/volume`

[code]

I think that the tests should not fail and should handle the case where there is a cdrom device but there is not an actual CD media inserted.

I got feedback from @serathius and this is also happing on his environment with the following error:

[code]

I am coping also his comment

[2021-06-04 14:31] giuseppe commented on #99230
I am not sure how that metric was used on cgroup v1.  We could hardcode it to 0 for cgroup v2, but I don't think it is a good idea as it finally seems to make sense  :-)  Is it just something that should be documented?

[2021-06-04 14:36] fromanirh commented on #102148
I'm most likely stating the obvious, but if we exclude the eviction test, the lane seems to complete. Running locally with initial success, checking if it was a lucky run.
[code]

[2021-06-04 14:44] serathius commented on #102600
@gerassimos Fact that this tests fails only locally and not on CI means that there will not be a lot of interest in fixing it. Feel free to prepare a fix for it. Please let me know if you need help with setting up development workflow.

[2021-06-04 14:46] ahg-g commented on #102303
What if multiple plugins specify that they want to be last or first? which one would actually be last/first?

[2021-06-04 14:47] dims commented on #100127
@Karthik-K-N can you please link to the `“kubeadm” block in switch`?

[2021-06-04 14:51] uablrek commented on #102527
I think Calico faultly select an address from the `kube-ipvs0` device as beeing the node address and use it as "src" for routes. This happens to be a service ip (_which was most confusing_).

This must be fixed by configuration of Calico. I still think
[code]
is the way (your interface instead of "eth1" of course). To avoid SLAAC addresses do;
[code]
Hopefully this will leave only the DHCP6 (and l

[2021-06-04 14:51] #102527 closed

[2021-06-04 14:51] yangjunmyfm192085 commented on #102557
yeah, It would be great if this works,
But don't know how to do it

[2021-06-04 14:57] ahg-g commented on #102303
Let us try to get to a conclusion on this. Does anyone still have a strong opinion against the proposal in the original comment?

Also, do you think we need a KEP? if so, then we will need to do this in the next release as v1beta3!

[2021-06-04 15:33] msau42 commented on #102452
The health monitor agent was removed in v0.3.0 and the feature was redesigned exactly because of the concern about the watches on all the objects.

So if we were deploying the v0.2.0 agent that could indeed explain the scalability issue

[2021-06-04 15:46] holmesb commented on #99129
In our case this was caused by a node without a storage-vlan IP assignment, wasn't k8-related.

[2021-06-04 15:47] alculquicondor commented on #102303
Regarding the ability to disable "scoring" for certain plugins: if it makes sense for the plugin to disable scoring (nothing breaks), it can provide the ability to do so through its plugin config.

So +1 to the original proposal

[2021-06-04 16:08] Random-Liu commented on #94892
Another possible solution is to let the other container run `kubectl logs` to get the output of the third party container, but that would require going through apiserver.

As is mentioned in the meeting, if needed, one possible solution is to support log volume, and let kubelet store the stdout/stderr log into the log volume for a pod. That is a useful feature in general, but will need further des

[2021-06-04 16:10] #97725 closed

[2021-06-04 16:18] Huang-Wei commented on #102303
+1 to have a KEP standardizing it. Also, as a part of the implementation, I'd suggest writing a script/tool facilitating users on the config yaml migration.

[2021-06-04 16:22] pohly commented on #102452
But it isn't a concern for the controller? The link that I gave above was for that, not the agent.

The agent was also getting deployed before my PR, so that doesn't explain a potentially higher load: https://github.com/pohly/kubernetes/blob/ebd02341c9805086ffc0af1422ed6133b86142f1/test/e2e/testing-manifests/storage-csi/hostpath/hostpath/csi-hostpath-plugin.yaml#L39-L54

[2021-06-04 16:29] pohly commented on #102452
One other observation: the PR updated the hostpath driver from a version without health check support (1.4.0) to a version with support (1.7.2) - https://github.com/kubernetes-csi/csi-driver-host-path/pull/210

So whatever code exists in kubelet and the sidecars for this wasn't getting (stress) tested before the PR.

[2021-06-04 16:32] pohly commented on #102452
Disabling the health check sidecars didn't make it into today's job run.

Does the health check support in kubelet have a feature gate? Is it active in this job?

[2021-06-04 16:34] msau42 commented on #102452
The kubelet side is feature gated, but there's nothing feature gating the sidecar.

[2021-06-04 16:34] pohly commented on #102452
So once we get rid of the sidecar, this whole feature should be unused. We just have to wait another day.

[2021-06-04 16:35] msau42 commented on #102452
Yes, if the controller has to watch all those objects, that is also a scalability concern. cc @xing-yang

[2021-06-04 17:14] wongma7 commented on #79660
I see this  test has been added here: https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/test/e2e/storage/testsuites/volumelimits.go#L123

But I want to add a more basic/faster version of the test that simply checks if a driver has `CapVolumeLimits` then `attachable` has been set in CSINode, similar to https://github.com/kubernetes/kubernetes/blob/ea076445222214

[2021-06-04 17:16] bgrant0607 commented on #82942
/remove-lifecycle rotten

[2021-06-04 17:26] bgrant0607 commented on #82942
This would be extremely valuable. It would enable us to prototype new attributes using extensions, for instance.

A number of tools need additional information that is currently not represented. Immutability is/was one (https://github.com/kubernetes/enhancements/pull/1265), but there are many others. kustomize, for instance, currently maintains long lists of fields of built-in types to identify fi

[2021-06-04 17:32] bgrant0607 commented on #82942
Also:
https://github.com/kubernetes-sigs/kustomize/blob/master/examples/customOpenAPIschema.md
https://github.com/kubernetes/enhancements/tree/master/keps/sig-cli/2206-openapi-features-in-kustomize

[2021-06-04 17:39] lavalamp commented on #82942
I think this request is just a specific instance of the long standing request for [field level extensions](https://github.com/kubernetes/kubernetes/issues/18185). (note, I don't agree with the design given there anymore, at all.)

Solutions to this problem must:
* validate the fields and the field contents (type safety / no garbage or landmines)
* support schema changes by performing the correctiv

[2021-06-04 17:45] lavalamp commented on #82942
Note that the CRD type is a built-in resource, so solutions to this that work only for CRs aren't sufficient. Maybe everyone understands this already but I'm not 100% sure after reading the whole issue here.

[2021-06-04 17:52] rtheis commented on #102569
Related to https://github.com/kubernetes/kubernetes/pull/97083.

[2021-06-04 17:52] eddytruyen commented on #70585
@odinuge We have looked into the possibility that throttling increases due to the readiness probes. Yes it did!.  More information can be found here with different container run-times. It seems there is a high system load/cpu issue with Kubernetes because it constantly spawns runc for running the readiness/liveliness checks

[2021-06-04 18:03] bgrant0607 commented on #82942
To avoid the arbitrary extra fields problem, we could introduce an escape-hatch field:
[code]

In addition to the attributes we already know we need for immutability, merge keys, references, selectors, etc.

[2021-06-04 18:12] pohly commented on #102452
I'm wondering whether we'll still have kubelet code enabled that didn't run before the driver update. For example:
https://github.com/kubernetes/kubernetes/blob/7ed2ed1b454fe8f09adf729c6cb814611634fea1/pkg/kubelet/server/stats/volume_stat_calculator.go#L98-L102

`ListVolumes` was not implemented in the hostpath driver before the recent update.

Same with https://github.com/kubernetes/kubernetes/bl

[2021-06-04 18:46] lavalamp commented on #82942
General escape hatches have some downsides:
* either untyped or inappropriately typed (e.g. string everywhere, json-encode things that aren't strings)
* contents can't be semantically validated -- they could be garbage
* difficult to merge back into the main schema if we decide to uplift some extension and want to preserve data

I think if we want to do something like that we have to make it not t

[2021-06-04 19:01] DXist commented on #69687
[Walkthrough](https://github.com/kubernetes-sigs/prometheus-adapter/blob/master/docs/walkthrough.md) of setting up Prometheus Adapter is also relevant.

[2021-06-04 19:02] ehashman opened #102605 "[Flaky test] [sig-storage] CSI mock volume CSI Volume expansion should expand volume by restarting pod if attach=on, nodeExpansion=on"
### Failure cluster [7f9e4d2e1a40224cca34](https://go.k8s.io/triage#7f9e4d2e1a40224cca34)

##### Error text:
[code]
#### Recent failures:
[6/2/2021, 2:49:15 AM ci-kubernetes-csi-canary-test-on-kubernetes-master](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-csi-canary-test-on-kubernetes-master/1400026600434569216)
[5/28/2021, 8:54:19 AM pr:pull-kubernetes-e2e-kind](https://prow

[2021-06-04 19:09] ehashman commented on #102517
/triage accepted
/priority awaiting-more-evidence

[2021-06-04 19:23] BenTheElder commented on #102600
@serathius this is probably related to https://github.com/kubernetes/kubernetes/issues/99881.
Because other tests have this same issue, CI is still running unit tests as UID=0. I have work to remove that but I wasn't sure about another storage test.

[2021-06-04 19:23] msau42 commented on #102452
The GetMetrics call does not invoke CSI ListVolumes: https://github.com/kubernetes/kubernetes/blob/7ed2ed1b454fe8f09adf729c6cb814611634fea1/pkg/volume/csi/csi_metrics.go#L53

It is true that we will be calling `NodeGetVolumeStats` with the updated hostpath driver now.

[2021-06-04 19:23] BenTheElder commented on #99881
We have maybe 1-2 tests that need help and then we can land it quickly anytime after that ...

See now also https://github.com/kubernetes/kubernetes/issues/102600

[2021-06-04 19:31] BenTheElder commented on #100127
FYI this link does not work.

[2021-06-04 19:34] BenTheElder commented on #98784
not sure if this was actually fixed but I'm not finding it in go.k8s.io/triage
it looks like it was not intentionally fixed in kubernetes or etcd, but we haven't encountered it recently

[2021-06-04 19:37] vinayakankugoyal commented on #99881
We will be adding some unit tests to test functionality that updates the file permissions and owners for kubeadm-rootless work, those will have to run as root.

[2021-06-04 19:38] BenTheElder commented on #88832
I attempted to discuss this but I've been blocked on waiting for the new world of Kubernetes debian/rpm packaging to exist which has been in limbo for at least a year now, I really don't have the time / energy for this right now.

I still think it is wrong to have:
1) specs that are not versioned with kubernetes
    - this is blocking fixing the kubeadm crash looping kubelet experience
2) specs th

[2021-06-04 19:40] BenTheElder commented on #97511
/remove-lifecycle stale

These are still occurring. We have multiple instances today like:
[code]

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=matching%20user%20doesnt%20received

[2021-06-04 19:41] BenTheElder commented on #92402
[lots of PRs going on, unassigning it so people searching for available issues will find this / it's not accurate to assign one person 😅 ]

[2021-06-04 19:44] liggitt commented on #99881
don't add new unit tests that require root permission to run

[2021-06-04 19:44] gnufied commented on #102600
The block metrics tests were introduced in - https://github.com/kubernetes/kubernetes/pull/101587

I am fine with deleting the test in question. We have e2e that captures this more accurately and unit test seems kinda less useful anyways.

[2021-06-04 19:48] BenTheElder opened #102607 "unit test job should reflect trivially runnable local defaults"
AKA: `make test` should be what `pull-kubernetes-unit` runs.

If we want race detection mode on in CI (`KUBE_RACE=-race`) we should just make that the default.

We should also consider if we want that more than we want caching (we can't use golang caching if we have -race or -count enabled, we have prototypes of caching in CI without these).

Same thing for `KUBE_TIMEOUT` which is currently bumped

[2021-06-04 19:49] BenTheElder commented on #102607
/triage accepted
/sig testing
see also:
https://github.com/kubernetes/kubernetes/issues/99881
https://github.com/kubernetes/kubernetes/issues/102600

[2021-06-04 19:50] gnufied commented on #102600
opened https://github.com/kubernetes/kubernetes/pull/102608 to remove the test. I think we should be fine without it.

[2021-06-04 19:52] BenTheElder commented on #99881
This. Developers should be able to `make test` and it should just work. https://github.com/kubernetes/kubernetes/issues/102607

We can cover rootless in e2e or by other means.

[2021-06-04 19:54] BenTheElder commented on #102600
Thank you!

Also just for the record noting that I can of course locally reproduce this (with `/dev/dm-0` in my case).

[2021-06-04 20:01] liggitt commented on #99881
how can we ensure this sticks and we don't regress once we get unit tests runnable as non-root? run the presubmit unit test job in a non-root container?

[2021-06-04 20:37] BenTheElder commented on #102607
running `make test` again right now and I get a number of failures:

https://github.com/kubernetes/kubernetes/issues/102600

`k8s.io/kubernetes/vendor/k8s.io/kube-aggregator/pkg/apiserver`:

<details>
[code]
</details>

`k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/util/x509metrics`:

[code]

`k8s.io/kubernetes/vendor/k8s.io/kube-aggregator/pkg/apiserver`:

[code]

`k8s.io/kubernetes/vendor/k8s.i

[2021-06-04 20:39] BenTheElder commented on #99881
Exactly, `pull-kubernetes-unit-experimental` is a copy of the normal job but with UID!=0 for the test container. (https://github.com/kubernetes/kubernetes/issues/99881#issuecomment-804407541 is not very clear on that).

[2021-06-04 20:40] BenTheElder commented on #99881
specifically currently the delta is:
[code]
https://github.com/kubernetes/test-infra/blob/f38f16e9b66de7d746e69bcd59fe4c80b08b12ea/config/jobs/kubernetes/sig-testing/make-test.yaml#L49-L52

[2021-06-04 20:50] laboger commented on #100127
I'm seeing the latest go 1.16 version as:
go version go1.16.5 linux/ppc64le

Has this been tried with the most recent?

[2021-06-04 20:56] #102600 closed

[2021-06-04 20:58] BenTheElder commented on #102600
thanks all.

similar issues are tracked in #102607, #99881

[2021-06-04 21:02] BenTheElder commented on #99881
I suspect at least some of the locally recorded failures here are new related issues https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-854985308, e.g. one of the complains about trying to open `/audit` with permission denied.

I am testing in CI here:

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-unit-experimental/1400915729829597184

https://

[2021-06-04 21:04] bgrant0607 commented on #82942
I think a list of dnslabel strings would work for the use cases I have in mind.

Something implementable seems preferable to something so complicated it will never happen.

[2021-06-04 21:11] BenTheElder commented on #102549
I raised this to #k8s-conformance in Kubernetes slack. SIG testing can help look at the tests etc. but the conformance wg / SIG arch need to define if this is in scope for conformance.

[2021-06-04 21:16] BenTheElder commented on #99881
Current CI failures specific to this job:

[code]

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92316/pull-kubernetes-unit-experimental/1400915729829597184

[2021-06-04 21:26] liggitt commented on #99881
audit unit test fix in #102610

[2021-06-04 22:08] BenTheElder commented on #102549
cc @johnbelamaric @smarterclayton

[2021-06-04 23:06] BenTheElder commented on #99881
`k8s.io/kubernetes/pkg/volume/csi: TestAttacherMountDevice` still seems to produce no logs when it fails.

I noticed it has UID==0 specific codepath(s) but those seem to be to skip certain cases when UID _is_ 0
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/volume/csi/csi_attacher_test.go#L1191

[2021-06-04 23:16] thockin opened #102612 "Set sysctl net/ipv4/ip_unprivileged_port_start ?"
This would remove one more reason why pods run as root when they otherwise don't need to.  Clearly this is a CRI thing, but perhaps we should require it?

[2021-06-04 23:37] aojea opened #102613 "Add TCP/HTTP/network requests to the CRI API"
#### What would you like to be added:

CRI API methods to execute kubelet TCP and HTTP probes/lifecycle hooks

#### Why is this needed:

Current probes/lifecycle hooks implementation forces the networking model to provide connectivity between the kubelet and the pods, however, this may not be true or easy to achieve in all platforms and all the CRI implementations.

Since the CRI API abstracts the

[2021-06-04 23:38] aojea commented on #102613
/assign @thockin @mrunalp @mikebrow @dcbw @danwinship @andrewsykim

[2021-06-04 23:40] lavalamp commented on #97511
The failures appear to be only from 1.20. The code for the test is definitely very different now. Probably https://github.com/kubernetes/kubernetes/pull/96984 fixed the problem. I can't think of a reason not to backport it.

[2021-06-05 00:03] lavalamp commented on #82942
If @apelisse and I are on board, we just need to convince @sttts.

[2021-06-05 00:57] monopole commented on #82942
[namereference.go]: https://github.com/kubernetes-sigs/kustomize/blob/master/api/konfig/builtinpluginconsts/namereference.go

In addition to @apelisse , I spoke to @jpbetz about this a couple of weeks ago.

As Brian noted above, kustomize maintains hardcoded attributes about types, e.g. [namereference.go] tells kustomize that if it changes the name of a `Deployment`, it should look for and update

[2021-06-05 01:33] seamounts commented on #3295
wait for this feature

[2021-06-05 05:15] #97420 closed

[2021-06-05 09:28] aojea commented on #102613
/sig network

[2021-06-05 09:35] harche opened #102616 "pull-kubernetes-node-crio-e2e failing due to lack of gcp permissions"
#### Which jobs are failing:
`pull-kubernetes-node-crio-e2e`

#### Which test(s) are failing:
failed to launch the job `pull-kubernetes-node-crio-e2e` itself, so no tests were executed.

#### Since when has it been failing:
After https://github.com/kubernetes/test-infra/pull/22228 was merged to make ``pull-kubernetes-node-crio-e2e` blocking

#### Testgrid link:
https://prow.k8s.io/?job=*pull-kuber

[2021-06-05 09:35] harche commented on #102616
/sig node

[2021-06-05 10:04] lyyao09 opened #102618 "kube-proxy/iptables, client continuous to send packets, udp server pod restart cause UDP conntrack entry error"
#### What happened:
Devices outside the cluster frequently send udp packets to the pod, which causes the source ip in the contrack entry to be set to the node ip after the pod restarts and cannot be aged. The problem still exists on the k8s 1.21.0.

#### What you expected to happen:
The source ip in the contrack entry records podip instead of node ip.
#### How to reproduce it (as minimally and pre

[2021-06-05 10:06] lyyao09 commented on #102618
/sig network

[2021-06-05 11:18] libaoan opened #102619 "start kube-apiserver failed with parameter "--port=8080 --secure-port=6443" on version 1.22.0-alpha.2"
#### What happened:
when I start kube-apiserver on version v1.22.0-alpha.2 ,  I got an error blow...
[code]

#### How to reproduce it (as minimally and precisely as possible):
start kube-apiserver with parameters "--port=8080 --secure-port=6443"

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
i
[root@node1 ~]# kubectl version
Client Version: v

[2021-06-05 11:24] serathius commented on #99918
/remove-lifecycle frozen

[2021-06-05 11:25] serathius commented on #99918
/lifecycle frozen

[2021-06-05 11:25] serathius commented on #99918
/remove-lifecycle stale

[2021-06-05 11:42] #102616 closed

[2021-06-05 13:15] vazmin opened #102621 "string slice flag is not assigned"
#### What happened:
`flags.Var(cliflag.NewStringSlice(&cloudConfig.Zones), "gce-zones", "")` ,  `&cloudConfig.Zones`  is not assigned

#### What you expected to happen:
`&cloudConfig.Zones`  is  assigned

#### How to reproduce it (as minimally and precisely as possible):
Use `cliflag.NewStringSlice` to parse the command line parameters

#### Anything else we need to know?:
I am preparing to merge

[2021-06-05 13:37] harche opened #102624 "pull-kubernetes-node-crio-e2e failing due invalid ssh key format"
#### Which jobs are failing:
pull-kubernetes-node-crio-e2e

#### Which test(s) are failing:
The job failed to launch, so no tests were executed.

#### Since when has it been failing:
After the job was made blocking.

#### Testgrid link:
https://prow.k8s.io/?job=*pull-kubernetes-node-crio-e2e*

#### Reason for failure:
https://github.com/kubernetes/test-infra/pull/22435 solved the issue with `pull-

[2021-06-05 13:38] harche commented on #102624
/sig node

[2021-06-05 14:17] yunusemrecatalcam commented on #102566
Update, for the future visitors,
I've installed ebs-csi to k8s, now k8s able to provision volumes directly, but it still can not mount volumes from a backup that taken in a cluster that uses kubernetes.io/aws-ebs provisioner. As we see on the logs, I think that PV object includes some data about the provisioner -other than the id itself- and k8s trying to use that provisioner to reach that volume.

[2021-06-05 15:27] chenyw1990 commented on #102324
It is not an issue.

Numa affinity only work on Guaranteed pod with integer CPU requests, but YAML2 is not a guaranteed pod.
https://kubernetes.io/docs/tasks/administer-cluster/cpu-management-policies/#static-policy
the definition of Guaranteed pod is:
[code]
https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-pod/#create-a-pod-that-gets-assigned-a-qos-class-of-guaranteed

[2021-06-05 15:29] lauchokyip commented on #93100
/remove-lifecycle stale

[2021-06-05 15:42] #102624 closed

[2021-06-05 16:09] pohly commented on #102452
The problem is gone in https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1401147272468631552 after removing healthcheck controller and agent.

We now should bring back the controller. If that then still works, we'll know that it was the redundant agent which caused the problem. We won't need to fix anything because the agent is obsolete and wasn't meant to

[2021-06-05 16:20] pohly commented on #102452
See https://github.com/kubernetes/kubernetes/pull/102627

[2021-06-05 17:39] ialidzhikov commented on #94590
/remove-lifecycle stale

[2021-06-05 19:05] uablrek commented on #102618
Good analyze :+1:

There are some conntrack related issues right now. I think it is a good option to remove *all* entries with the NATed src set to a loadBalancerIP or clusterIP. Such an entry can't be right. For all protocols, see also https://github.com/kubernetes/kubernetes/issues/101607#issuecomment-853965545.

[2021-06-05 19:09] uablrek commented on #102618
I triage this as a bug along the other conntrack bugs.

/triage accepted

[2021-06-05 19:11] uablrek commented on #101607
@thockin I think you are right. Yet another one https://github.com/kubernetes/kubernetes/issues/102618

[2021-06-05 19:15] Mirk-o commented on #15478
/reopen

[2021-06-05 19:40] liggitt commented on #102619
Support for insecure serving is removed in 1.22

The only permitted value for the --port flag is now 0:
[code]

[2021-06-05 19:40] #102619 closed

[2021-06-05 19:40] liggitt commented on #102582
/assign @cheftako @jkh52

[2021-06-05 19:59] aojea commented on #102618
I think that I fixed this race recently https://github.com/kubernetes/kubernetes/pull/98305, in 1.21

[2021-06-05 20:14] serathius commented on #102439
/triage accepted

[2021-06-05 20:15] serathius commented on #102439
Feel free to pick it up :P

[2021-06-05 20:20] serathius commented on #102557
/retitle Provide better guidance for structured logging migration contributors

[2021-06-05 20:23] serathius commented on #102557
@yangjunmyfm192085 I also don't know too much about GitHub PR templating, but we can always ask someone who knows.
GitHub configuration is kept in `.github` directory which is owned by contributor experience. So let's ask.

@mrbobbytables Is there a way to create a PR template just for structured logging migration?

[2021-06-05 21:17] #97461 closed

[2021-06-05 21:32] Naramsim commented on #89657
Or you could simply delete your job.

[code]

[2021-06-05 21:47] bl-ue commented on #97461
Darn.  Not enough resources, no attention :(

[2021-06-05 22:17] #80770 closed

[2021-06-05 23:17] #97131 closed

[2021-06-05 23:17] #97277 closed

[2021-06-06 02:58] #98612 closed

[2021-06-06 07:18] wzshiming commented on #99761
/remove-lifecycle stale

[2021-06-06 07:24] #96859 closed

[2021-06-06 08:03] lyyao09 commented on #102618
Great, it seems to be fixed, wait for me to verify and then feedback.

[2021-06-06 09:24] #74819 closed

[2021-06-06 09:56] aojea commented on #101607
overhaul.

Lars,Tim you've convinced me, _Better the devil you know than the devil you don't know_ ,  and think that is time to slay this conntrack dragon

Let me try to reproduce it with an e2e test, so we can be more confident on the solution
https://github.com/kubernetes/kubernetes/pull/102631

[2021-06-06 14:00] serathius commented on #99270
## Analysis of features in both solutions

### Klog

Flags https://github.com/kubernetes/klog/blob/69472594defe33aee4442f9266aadfddc89fe4b0/klog.go#L429-L443

Klog flags grouped by features:
* Writing to files: --log-dir, --log-file,
* Log sinks: --logtostderr, --alsologtostderr, --one-output, --stderrthreshold
* File log rotation: --log-file-max-size, --skip-log-headers
* Configuring basic log me

[2021-06-06 14:06] serathius commented on #99270
# JSON

Flags: `--v` - setting verbosity

output:
[code]

Analysis of json keys:
* `ts` - timestamp in UNIX time represented as float64
* `msg` - log message
* `v` - log verbosity
* `key` - log argument key

[2021-06-06 14:40] serathius commented on #99270
Existing feature request for json format:
* Support `--vmodule` - https://github.com/kubernetes/klog/issues/203 -
* Missing caller information - https://github.com/kubernetes/klog/issues/211 https://github.com/kubernetes/kubernetes/issues/102353

[2021-06-06 14:55] serathius opened #102632 "JSON logging format should not be registered by default"
Follow up from https://github.com/kubernetes/klog/issues/211

Currently importing `k8s.io/component-base/logs` results both `text` and `json` logging format available by default. As Json format is not yet GAed, it is undesired to force it on component authors that use the library. Instead it should be optional. This can be achieved by having it's registration moved to submodule.

TODO:
* Create a

[2021-06-06 15:03] serathius commented on #99270
Based on this information we should create a proposal that list what features we want to add and what we want to drop. @yuzhiquan are you still interested in working on this issue?

[2021-06-06 15:24] #97806 closed

[2021-06-06 16:34] pratikyadav33 commented on #102545
Hello Devs,
Is this Up for Grab I Would Like To contribute.

[2021-06-06 16:40] pratikyadav33 commented on #102334
/assign

[2021-06-06 17:20] amirschw opened #102633 "HPA scale up policies are ignored and default algorithm is used"
#### What happened:
I created an HPA with a custom spec.behavior field, and the [default algorithm](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details) was used instead of the scale up behavior I defined.

My scale up behavior - add max{100 pods, 100% of the currently running replicas}:
[code]

Actual behavior - default algorithm:

1. ceil[1 * ( 184 / 55 )

[2021-06-06 17:24] amirschw commented on #102633
Related issue: #97473

[2021-06-06 18:54] irbekrm opened #102641 "child Custom Resources not garbage collected after CRD API version removal"
#### What happened:

We are trying to deprecate and remove some CRD API versions and as part of that to ensure that users who have originally deployed Custom Resources at the legacy versions can upgrade.
For a Custom Resource X that is a dependent on another Custom Resource Y and they both have been originally created using a legacy API version `v1alpha2`, we observe that after an upgrade to a con

[2021-06-06 18:56] irbekrm commented on #102641
/sig api-machinery

[2021-06-06 20:57] aojea commented on #101607
I can reproduce the behaviour, however,  trying to "expand" current logic for UDP to TCP I realised that we will break graceful shutdown, since kube-proxy will have the endpoint removed it will delete the conntrack entries breaking current TCP communications.

Andrew was a kep to handle it adding a new state to endpoint slices to handle loadbalancers https://github.com/kubernetes/enhancements/tree

[2021-06-06 21:09] aojea commented on #101607
/assign

I have to fix a similar issue for hostports too

[2021-06-06 21:24] #97392 closed

[2021-06-06 22:24] #97504 closed

[2021-06-06 22:50] jpeach commented on #76506
FWIW, a single-binary build (+providerless, +dockerless) that includes kubadm, kube-apiserver, kube-controller-manager, kubectl, kubelet, kube-proxy and kube-scheduler is only 98M on Linux. Supporting a bundled build seems like a good win independent of shrinking any other dependencies.

[2021-06-07 01:32] zq-david-wang commented on #102633
I think "behavior" for scale up/down acts as "filter", its purpose is to "filter out" replica changes with higher frequency .
Say  internal replica formular calculation yields a decision to  scale down 1000 replica right away, with  100/15 settings for scale down behavior which wants to make sure that no more than 100 replica scaled down within latest 15 seconds, the 1000 repilca scale down would

[2021-06-07 02:24] #97118 closed

[2021-06-07 02:36] pacoxu commented on #102612
Add the moby PR link and also containerd issue: https://github.com/containerd/containerd/issues/4936
- Done: Add default sysctls to allow ping sockets and privileged ports with no capabilities https://github.com/moby/moby/pull/41030
- WIP moby:  Remove CAP_NET_RAW from default capabilities https://github.com/moby/moby/issues/41886

[2021-06-07 02:59] mengjiao-liu commented on #102632
I want to try to work here.
/assign

[2021-06-07 03:25] #97676 closed

[2021-06-07 04:15] Karthik-K-N commented on #100127
@dims Link to the kubeadm block:
https://github.com/kubernetes/kubernetes/blob/9d27400fe20867c5f811f21a2571974887cf3d1e/cmd/genkubedocs/gen_kube_docs.go#L73

[2021-06-07 04:16] mkumatag commented on #100127
https://k8s-testgrid.appspot.com/sig-node-ppc64le#unit-tests you can access the history here

[2021-06-07 04:41] umangachapagain commented on #102439
/assign

[2021-06-07 05:16] sanposhiho commented on #99605
Hello, I wrote the features list on Google docs.
This describes which features will be implemented in each period of GSoC.

https://docs.google.com/document/d/1zbCvZL-iKa7Xdi2STlxSp7KPYx3MH1ZZQqvFe9i1WnQ/edit?usp=sharing

[2021-06-07 05:24] yuzhiquan commented on #99270
Sure, so i need add an KEP for this feature first?

[2021-06-07 05:27] #97832 closed

[2021-06-07 05:30] rajeshnailwal opened #102646 "SCTP port is not opening to receive traffic from outside of kubernetes cluster"
I have a cluster with two machines (1 master and 1 worker) and have a single pod on worker node which is providing SCTP service. A **ClusterIP** service related to the pod declares **externalIPs**. The value of externalIPs is the public IP (###.###.##.208) of the worker's machine. When pod and service are deployed using helm I can see both pod and service are available and external IP is assigned

[2021-06-07 05:54] uablrek commented on #101607
:+1: on this one.

And for the problem in this issue it is all entries with dst=VIP in the first "half" of the conntrack entry and _also_ src=VIP in the second. I am no conntrack expert but have assumed that the "secon half" is the NAT entry. If I am right, a record as described would not NAT the VIP address, and as such always be wrong.

[2021-06-07 06:34] MikeSpreitzer opened #102648 "More concurrency bugs in priority-and-fairness_test.go"
#### What happened:
In reviewing a fix to #102016, I noticed other violations of the restriction in https://golang.org/pkg/testing/#T that

Obvious examples include:
- https://github.com/kubernetes/apiserver/blob/71dfa70b215bfa7c1d57083d251d5a49ec4fc9e8/pkg/server/filters/priority-and-fairness_test.go#L332
- https://github.com/kubernetes/apiserver/blob/71dfa70b215bfa7c1d57083d251d5a49ec4fc9e8/pkg/

[2021-06-07 06:34] xytis commented on #102559
@aojea I have confirmed that AWS EKS instances indeed use `portmap` plugin:
[code]

However, I was not able to confirm the version or source of that `portmap` plugin. Command `CNI_COMMAND=VERSION /opt/cni/bin/portmap` hangs without output. I assumed this is due to age-old version (at least 2 years old, given the last change to version output happened around that time).

I swaped out provided `port

[2021-06-07 06:35] MikeSpreitzer commented on #102648
@kubernetes/sig-api-machinery-bugs

[2021-06-07 06:35] MikeSpreitzer commented on #102648
/assign @tkashem
@wojtek-t
@lavalamp
@deads2k

[2021-06-07 06:47] xytis commented on #102559
By googling a bit, I found that AWS does not automatically update CNI versions in the Kubernetes cluster.
By manually upgrading to https://github.com/aws/amazon-vpc-cni-k8s/releases/tag/v1.7.10 the issue has been solved.

Thanks.

[2021-06-07 06:47] #102559 closed

[2021-06-07 07:06] sfudeus commented on #96842
/remove-lifecycle stale

[2021-06-07 07:07] aojea opened #102649 "[Failing test] [sig-network] Services [Slow] should be able to create and tear down a standard-tier load balancer"
#### Which jobs are failing:

ci-kubernetes-e2e-gci-gce-coredns
ci-kubernetes-e2e-gci-gce-slow
ci-kubernetes-e2e-gci-gce-ipvs

Basically, all jobs that run the test :)

#### Which test(s) are failing:

[sig-network] Services [Slow] should be able to create and tear down a standard-tier load balancer

#### Since when has it been failing:

06-05

#### Testgrid link:

https://testgrid.k8s.io/sig-netw

[2021-06-07 07:08] aojea commented on #102649
/sig network

@MrHohn it seems you reported failures in this test previously and seems a GCE feature dependent on the GCE controller, can you PTAL?
cc @bowei @swetharepakula

[2021-06-07 07:29] pacoxu opened #102650 "TestExecPluginRotationViaInformer flake and slow > 2min"
### Failure cluster [670e16aa8066230be73b](https://go.k8s.io/triage#670e16aa8066230be73b)

    exec_test.go:627: wanted sync true, got sync false
    exec_test.go:740: wanted sync true, got sync false
    exec_test.go:750: wanted sync true, got sync false

    exec_test.go:771: informer never changed resource versions from "42606": timed out waiting for the condition

##### Error text:
[code]
####

[2021-06-07 07:31] okartau opened #102651 "kubelet panics on creation of inline ephemeral volume with FSType specified"
#### What happened:
kubelet panics on creation of inline ephemeral volume with FSType specified.

#### What you expected to happen:
creation of inline ephemeral volume succeeds with FSType specified.

#### How to reproduce it (as minimally and precisely as possible):
no existing isolated test case. Happens during e2e testing of pmem-csi.

#### Environment:
- Kubernetes version (use `kubectl versio

[2021-06-07 07:34] yuzhiquan commented on #102632
/triage accepted
/priority important-soon

[2021-06-07 07:41] wzshiming commented on #102651
/assign

[2021-06-07 07:52] #102016 closed

[2021-06-07 08:02] pacoxu commented on #102651
/sig node storage

[2021-06-07 08:13] soltysh commented on #101695
@g3rzi apologies, this slipped my attention, I'll have a look at it later this week
/assign

[2021-06-07 08:24] gjtempleton commented on #102575
Hey, thanks for raising this issue!

SIG Autoscaling and the core kubernetes codebase doesn't actually build or own any implementations of the custom metrics API, we just own the core functionality, allowing others to build tools for different metrics backends to serve the APIs.

Could you clarify why using Prometheus to scrape the nginx metrics and then using the [prometheus-adapter](https://gith

[2021-06-07 08:28] pacoxu commented on #97130
https://github.com/kubernetes/test-infra/issues/18973 seems related.
- https://github.com/kubernetes/kubernetes/issues/95877#issuecomment-721503322
#96128 fixed #95877 node-kubelet-conformance suite:  tests are failing in the BeforeSuite.

[2021-06-07 08:32] VivekThrivikraman-est opened #102654 "Dualstack : Validation issues when creating services"
#### What happened:
Tried creating services with the below configurations(invalid configuration) in a DualStack cluster, the service creation didn't give any error:

1. Mutating an existing service with ipFamilyPolicy: RequireDualStack   ipFamilies: IPv4,IPv6 to ipFamilyPolicy: SingleStack   ipFamilies: IPv4,IPv6(or IPv4,IPv4)

2. Create a new service with  ipFamilyPolicy: RequireDualStack ,  ipFa

[2021-06-07 08:35] VivekThrivikraman-est commented on #102654
@aojea

[2021-06-07 08:44] wojtek-t commented on #102545
Being addressed in https://github.com/kubernetes/kubernetes/pull/102595

[2021-06-07 08:47] saschagrunert commented on #102480
@mikkeloscar do you use dockershim within your cluster?

[2021-06-07 08:57] mikkeloscar commented on #102480
@saschagrunert Yes, we still use dockershim.

[2021-06-07 09:00] saschagrunert commented on #102480
Good, that's also why the panic happens within the kubelet.

[2021-06-07 09:05] mborsz commented on #96635
Also https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1401222770964041728 failed due to this

[2021-06-07 09:36] serathius commented on #99270
I would start from discussing options here, when we have a proposal we can weigh how big impact it is by sending email k8s-dev googlegroup. If it turns out that it requires a more formal proposal then we would go with KEP, but I don't think that proposing to add/remove flags should start with a KEP.

[2021-06-07 09:46] aojea commented on #102654
I run the described cases in `v1.22.0-alpha.1.28+6baad0a1d45435` and one validated correctly
[code]

for the second case I think that is the expected behaviour
[code]

the apiserver completes the ipFamilies field after creation:
[code]

@khenidak can you please double check?

[2021-06-07 09:46] aojea commented on #102654
/sig network

[2021-06-07 09:50] pacoxu commented on #102522
/close
#102584 fixed it.

[2021-06-07 09:50] #102522 closed

[2021-06-07 09:50] njuptlzf commented on #102398
Can you show the information that 36000 is the `program port`?
[code]

 I cannot reproduce your problem, 0.0.0.0/0 has taken effect,

You can also look for useful information on https://kubernetes.io/docs/concepts/services-networking/network-policies/

I think you should pay attention to two points
1) networkpolicy only works for `pod `communication.
2) The `network plugin` implements the rules of

[2021-06-07 09:54] pacoxu commented on #101419
/close
![image](https://user-images.githubusercontent.com/2010320/120996989-68704f00-c7b9-11eb-90c0-f9748d3af217.png)

[2021-06-07 09:54] #101419 closed

[2021-06-07 09:58] pacoxu commented on #12968
I think https://github.com/kubernetes/kubernetes/pull/100335 is ready to review.

[2021-06-07 10:06] pacoxu commented on #90922
/unassign
since another KEP is in process.

[2021-06-07 10:19] pacoxu commented on #102517
@tongchao199  would you provide the complete panic logs? Thanks.

[2021-06-07 10:28] aojea commented on #90922
let's assign to the KEP owner then :)
/assign  @rahulkjoshi

[2021-06-07 10:29] aojea commented on #90922
/assign @rahulkjoshi

[2021-06-07 11:05] irvifa commented on #94901
Hi, I'm interesting in taking this task, however I'd like to ask if let's say we have something like this [line](https://github.com/kubernetes/kubernetes/blob/6181a2c7d8efd1d05211f38254e787f4d74f09e9/test/e2e/framework/config/config.go#L45) which actually refer to csi plugin, do we need to change it as well?

[2021-06-07 11:30] #96732 closed

[2021-06-07 12:01] chirangaalwis commented on #102575
@gjtempleton appreciate your feedback on this matter.

A concern I encountered with regards to using NGINX Ingress Controller metrics, was as to how this solution could be integrated to a scenario which involves multiple Ingresses being managed by a single NGINX Ingress Controller installation (e.g. a multi application deployment in which each application service is exposed via its own Ingress res

[2021-06-07 12:21] lyyao09 commented on #102618
:+1:   occasionally there is an abnormal entry, and then it will be deleted.
[code]

[2021-06-07 12:21] #102618 closed

[2021-06-07 12:22] yunusemrecatalcam commented on #102566
Here it comes a deeper explanation, -just using there as a blog from now on-
Saw that kops is using  [csi-translation-lib](https://github.com/kubernetes/csi-translation-lib) translates the official ebc-csi provisioner to another form, thus dynamically provisioned PVs uses the provisioner kubernetes.io/aws-ebs which created by that lib.

When I restore the backup that taken from kops cluster to the

[2021-06-07 12:31] tkashem commented on #102648
/assign

[2021-06-07 12:35] jkaniuk commented on #93932
Testgrid looks better now:
![image](https://user-images.githubusercontent.com/5487158/121017482-9cd61200-c79d-11eb-9112-21c18c86b658.png)

Is that after: https://github.com/kubernetes/kubernetes/pull/102533 ?

@aojea

[2021-06-07 12:40] BorjaEst commented on #94892
One of the requirements is to be able to differentiate stdout from stderr. We could expect the result from the container in stdout and the logs in stderr but not mixed, otherwise it might be harder for the "cooperating containers" to retrieve the output.

In option 1, I do not see that [kubectl logs](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#logs)  is able to make tha

[2021-06-07 12:48] ankeesler commented on #102650
Commented on PR.

[2021-06-07 13:05] SataQiu commented on #102573
/cc

[2021-06-07 13:08] ahg-g commented on #102573
/triage accepted

[2021-06-07 13:12] alculquicondor commented on #94008
/remove-lifecycle rotten
/unassign @hprateek43
/assign @adtac

[2021-06-07 13:13] aojea commented on #93932
that was the plan, but until the job is green we can't rely on the results
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

Seems the storage test were fixed but now we have https://github.com/kubernetes/kubernetes/issues/102649

[2021-06-07 13:19] dims commented on #100127
@Karthik-K-N if you replace that block with `if` conditions?

[2021-06-07 13:29] odinuge commented on #99230
No idea myself.

A quick test on my rpi using cgroup v1 I get this:

[code]

Where the first non-null value is `kubelet.slice` and the other one is the root control group; and that is pretty much expected based on the fact that the value is not hierarchical for cgroup v2.

Not sure who "own" this.. :thinking:

[2021-06-07 13:43] alannatodd commented on #102573
@ahg-g I'm interested in working on this as my first issue - is that ok? (Can remove my assignment if not)

/assign

[2021-06-07 14:03] damemi commented on #91633
/remove-lifecycle stale

[2021-06-07 14:12] enj commented on #102650
/triage accepted

[2021-06-07 14:33] j4m3s-s opened #102659 "kubelet error launching pods, state error on running containers"
#### What happened:
Launching a pod failed with
[code]
#### What you expected to happen:
To create a container successfully.
#### How to reproduce it (as minimally and precisely as possible):
unfortunately it's not very deterministic, I haven't been able to reproduce it. But we experience pretty frequently (multiple times a day).
#### Anything else we need to know?:

#### Environment:
- Kubernetes

[2021-06-07 14:49] j4m3s-s commented on #102659
/sig node

[2021-06-07 15:00] Michael-Sinz opened #102660 "kube-controller-manager 1.21.1 crashes with nil pointer (azure_standard.go)"
#### What happened:
Trying to run kubernetes 1.21.1 clusters and the kube-controller-manager crashes quite often with a panic due to a nil pointer.  (Consistently crashing, actually)

[code]

#### What you expected to happen:
Don't Panic  (👍)

I am not yet sure where this traces back to but the line in question is:
[`if strings.EqualFold(*pip.ID, *fip.PublicIPAddress.ID) {`](https://github.com/kub

[2021-06-07 15:03] mazurkieth commented on #99061
@ramondeklein I just discovered a few days ago that the new AKS versions are now available:
- 1.21.1 (preview)
- 1.20.7
- 1.19.11 (default)
- 1.18.19

[2021-06-07 15:03] lig commented on #52757
/remove-lifecycle stale

[2021-06-07 15:16] #102650 closed

[2021-06-07 15:17] vaspahomov opened #102663 "Docs about how to bootstrap apiserver"
#### What would you like to be added:

Docs about how to bootstrap stand alone apiserver.

#### Why is this needed:

I've not found any doc about right way to bootstrap apiserver with best practices. I want to know about:
* where to download prebuilt binaries of kubernetes parts
* how to bootstrap vanilla apiserver. Simple steps like:
  * run etcd
  * generate certs
  * cmdline of simple stand alo

[2021-06-07 15:19] vaspahomov commented on #102663
/wg docs

[2021-06-07 15:20] vaspahomov commented on #102663
/sig docs

[2021-06-07 15:34] gnufied opened #102664 "Metric collection from hard mounted but unresponsive NFS mounts could leak goroutines"
I have not verified locally yet but I suspect that metric collection from unresponsive NFS mounts will result in leaked goroutine because we are calling `err := unix.Statfs(path, statfs)` on those paths.

cc @kubernetes/sig-storage-bugs

[2021-06-07 16:18] ehashman commented on #99979
/reopen

I don't think this is fixed, I just hit it again and gubernator is still showing plenty of flakes: https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=%20more%20than%205s%20after%20startupProbe%20succeeded

[2021-06-07 16:25] ritazh commented on #66844
/help

[2021-06-07 16:32] enj commented on #61795
/remove-lifecycle rotten
/priority awaiting-more-evidence

[2021-06-07 16:32] enj commented on #61795
/triage accepted

[2021-06-07 16:38] jmcmeek commented on #102569
One perspective on this. We use the containerd stream idle timeout to implement a requirement that `kubectl exec` sessions be killed after being idle for 15 minutes.  On the surface it seems like this issue exposes a problem on the server side (containerd or Kubernetes) as anyone with this version of kubectl is unwittingly circumventing the timeout. Or maybe we are misusing the stream idle timeout

[2021-06-07 16:39] ehashman commented on #102148
@fromanirh from the PRs above, still timed out in CI after 7 hours, I can try to submit a PR to exclude the eviction tests. Can we test those separately?

[2021-06-07 16:56] jsafrane commented on #79660
This is a really old issue :-D. I think the required test has been implemented, however, we do not run it in CI, because it takes too much time to provision 128 PDs that a GCP node can handle.

/unassign

That sounds useful!

[2021-06-07 17:21] BenTheElder commented on #76506
Most of those binaries are usually run as pods where that doesn't necessarily make sense.
We stopped supporting hyperkube because nobody would step up to maintain it (there's a long history there). You can build hyperkube out of tree now.

[2021-06-07 17:29] Michael-Sinz commented on #102660
Note that this is also now shown in 1.20.7

[2021-06-07 17:31] matthyx commented on #99979
@ehashman @BenTheElder how to check the exact commit used for each test?

For instance, I am not sure (from the name) that `ci-kubernetes-kind-e2e-parallel-1-21` should include my latest fix...

[2021-06-07 17:58] Michael-Sinz commented on #102660
There is this PR that may be related:  https://github.com/kubernetes-sigs/cloud-provider-azure/pull/615/files

[2021-06-07 18:06] Jiawei0227 commented on #99982
This is being fixed here: https://github.com/kubernetes/kubernetes/pull/101272

/close

[2021-06-07 18:06] #99982 closed

[2021-06-07 18:14] mkorbi commented on #98857
/close

[2021-06-07 18:15] #98857 closed

[2021-06-07 18:15] ehashman commented on #97130
/assign

[2021-06-07 18:26] MrHohn commented on #102649
It has been so long that I entirely forgot what was the previous cause. From a quick look, the gce loadbalancer controller stuck on an address not found error (logs from [a recent run](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ipvs/1401934216412794880)):
[code]

[2021-06-07 18:26] BenTheElder commented on #102660
that PR recently had the same thing go into this repo https://github.com/kubernetes/kubernetes/pull/101739

it's being cherry-picked to 1.21 here https://github.com/kubernetes/kubernetes/pull/101885

/assign @nilo19 @feiskyer

[2021-06-07 18:35] neolit123 commented on #102646
/sig network

[2021-06-07 18:36] neolit123 commented on #102621
/sig cloud-provider
/area provider/gcp

[2021-06-07 18:36] neolit123 commented on #102621
/area test

[2021-06-07 18:37] alannatodd commented on #102573
@ahg-g Could you point me to the log message(s) this is for? I searched through a lot of the scheduler code but I couldn't figure out which one(s) you are referring to.

[2021-06-07 18:40] BenTheElder commented on #99948
@kubernetes/sig-release

[2021-06-07 18:40] BenTheElder commented on #94227
/remove-lifecycle stale

[2021-06-07 18:44] MrHohn commented on #102649
Full logs related to the problematic service `services-6097/net-tiers-svc`: https://gist.github.com/MrHohn/447a74e7fa96cca6481fde8d35696b9b

It reads like the controller thought the service desired `Premium` tier network, where it actually wanted `Standard`?
[code]

Would it be https://github.com/kubernetes/kubernetes/pull/102513? (purely based on the timing - don't see how that is related yet) @f

[2021-06-07 18:44] #102339 closed

[2021-06-07 18:53] thockin commented on #102613
Added sig-node.  Not sure who in particular feels ownership of CRI these day?  @dchen1107

One of the main goals here is to close off a network-policy bypass vector, using the "host" field of probes.   A side-benefit is that probes could bind() to localhost only.  Are there other big reasons, @aojea ?

I don't have creative thought about how to fix cases that probe against node-localhost today.  W

[2021-06-07 19:14] matthyx commented on #99979
In your PR the fix wasn't there:
https://github.com/ehashman/kubernetes/blob/init-container-coverage/pkg/kubelet/prober/prober_manager.go#L245

[2021-06-07 19:29] neolit123 commented on #99305
@jackfrancis did you manage to reproduce this with an arbitrary static pod that is not the etcd one?

[2021-06-07 19:31] astoycos commented on #102398
/area network-policy

[2021-06-07 19:33] mattcary commented on #100331
/assign @saikat-royc

Reassign to current on-call as I didn't have a chance to get to this.

[2021-06-07 19:43] atiratree commented on #98180
I could not reproduce this flake myself (even with multiple + parallel runs), so I tried to analyze the logs in the last 3 weeks (approx).
The causes for the flake depend on the type of the job:

### The directory name is invalid
- jobs: ci-kubernetes-e2e-aks-engine-azure-master-windows-2004-containerd (18 failures [1](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engin

[2021-06-07 19:49] abhiraut commented on #102398
as is previously mentioned, NetworkPolicies are enforced by CNIs. You may want to check with your CNI provider and make sure rule enforcement is done correctly.

[2021-06-07 19:58] jackfrancis commented on #99305
@neolit123 I was not able to reproduce in a non-kubeadm test, but I suspect that the way kubelet bootstrap is implemented there (and possibly environmental reasons) the static pod handling was always happening after this code executed:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go#L640

(the above is in the containerManager `Start()` method)

kubea

[2021-06-07 20:03] atiratree commented on #98180
With regards to `insufficient timeout`, the cherry pick for 1.20 is not a simple one. Should I do it in that case?

[2021-06-07 20:03] aojea commented on #102613
It should solve dual stack probes too, you can use localhost and the os will pick the right family

[2021-06-07 20:23] justaugustus commented on #99948
@kubernetes/release-engineering @kubernetes/sig-architecture @kubernetes/sig-windows-leads -- for input

[2021-06-07 20:34] #96664 closed

[2021-06-07 20:35] neolit123 commented on #99305
the writing of the etcd pod manifest in `/etc/kubernetes/manifests` during `kubeadm join` is [delayed](https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/cmd/kubeadm/app/cmd/phases/join/controlplanejoin.go#L140-L152) after the kubelet has already started and i wonder if that is contributing to the observed failures. probably not given this is a cadvisor related

[2021-06-07 20:52] jackfrancis commented on #99305
Based on your assessment @neolit123, do you think we should remove the ephemeral-storage requirement from default kubeadm etcd static pod? I can make that change.

[2021-06-07 20:54] neolit123 commented on #102663
from the SIG Cluster Lifecycle (we maintain minikube, kubeadm, etc.) perspective we have been asked to host a guide about "k8s the hard way" at the k8s.io website and this is something we have voted against.

this is difficult to maintain due to possibility of drift between flags / setup.
if you have questions please comment on:
https://github.com/kubernetes/website/pull/27788

but also see my com

[2021-06-07 20:54] #102663 closed

[2021-06-07 21:06] neolit123 commented on #99305
based on the investigations here (thanks all), it feels like `ephemeral_storage` is a feature that may or may not work (for static pods at least).

it doesn't feel right to mitigate a kubelet bug on the side of the deployer, but given how many reports there are about this i think it should be done at this point.

happy to LGTM approve your PRs.
note it must also be backported to all versions in su

[2021-06-07 21:09] jackfrancis commented on #99305
Sounds good. I'll submit a PR soon with the kubeadm change, and I'll continue to drive toward a root cause solution on the kubelet side. I'll bring this up at sig-node tomorrow.

Thanks!

[2021-06-07 21:10] BenTheElder commented on #102616
Depending on a specific GCP project is an old anti-pattern we try to discourage because when projects are leased instead we can cleanup any and all (potentially leaked) resources in-between leases (http://sigs.k8s.io/boskos).

But in this case the issue is moving from an old google.com prow cluster (still the default) to a wg-k8s-infra build/prow cluster means you can't use google.com GCP projects

[2021-06-07 21:17] thockin commented on #102613
Can you explain?  Today localhost means the node.

On Mon, Jun 7, 2021 at 1:03 PM Antonio Ojea ***@***.***> wrote:

[2021-06-07 21:35] #94533 closed

[2021-06-07 21:51] chewong commented on #102114
Fixed by https://github.com/Azure/aks-engine/pull/4424

[2021-06-07 21:51] chewong commented on #102114
/close

[2021-06-07 21:52] #102114 closed

[2021-06-07 22:06] brianharwell commented on #94533
/remove-lifecycle rotten

[2021-06-07 23:00] JohnRusk commented on #59684
For more discussion, see https://github.com/kubernetes/client-go/issues/366

[2021-06-07 23:03] JohnRusk opened #102672 "ResourceVersion="0" causes no chunking, makes starting Informers expensive"
I'm seeing issues where API servers experience high load when Informers start up.  I think I've traced it to this issue https://github.com/kubernetes/client-go/issues/366 where it was intentionally decided that chunking would not be peformed when ResourceVersion="0".  That decision dates from 2018 and was made because it was not possible to provide the correcct consistency guarantee (compatible wi

[2021-06-08 00:12] JohnRusk commented on #96497
I've logged a concern about the current behaviour in the linked issue #102672

[2021-06-08 00:14] wreed4 commented on #76531
This still happens for me on containerd version 1.4.1-2 and runc version 1.0

[code]

[2021-06-08 01:35] kolyshkin opened #102676 "Pod stuck in ContainerCreating: Unit ...slice already exists"
#### What happened:

Errors like this one

(when using cgroupDriver: systemd)

#### What you expected to happen:

No such errors

#### How to reproduce it (as minimally and precisely as possible):

I don't know for sure.

#### Anything else we need to know?:

This was introduced in k8s in #102147 and backported to 1.21 in #102196, so needs to be fixed in both master and `release-1.21`.

RH BZ: htt

[2021-06-08 01:38] chendave commented on #96354
/remove-lifecycle rotten

[2021-06-08 02:53] Huang-Wei commented on #102339
@javidiaz the code fix has been merged into `master` branch, and the following PRs have been created to the supported versions:

- 1.21 #102667
- 1.20 #102674
- 1.19 #102675

Once the cherry-pick PRs get merged, they will be packaged in the next Kubernetes patch respectively.

[2021-06-08 02:56] yuzhiquan commented on #100052
/remove-lifecycle stale

[2021-06-08 03:32] n4j commented on #102404
The issue seems to be with `Azure\go-ansiterm` project which uses flags from `syscall` package to map `stdin`, `stdout` and `stderr` while `mob\term` passes the flags from `golang.org/x/sys/windows` package.

This causes `go-ansiterm` to panic and throw the error mentioned above, this incompatibility between packages have impacted [docker CLI](https://github.com/docker/for-win/issues/9770) as well

[2021-06-08 03:40] pacoxu commented on #99979
@matthyx you may send cherry-pick to 1.21 for `ci-kubernetes-kind-e2e-parallel-1-21`.

[2021-06-08 03:41] Karthik-K-N commented on #100127
I tried to find the faulty block(in switch cases) which is causing the panic when we tried to run the genkubedocs binary, upon inspection when i removed the kubeadm block(https://github.com/kubernetes/kubernetes/blob/9d27400fe20867c5f811f21a2571974887cf3d1e/cmd/genkubedocs/gen_kube_docs.go#L73) and built the binary ,it was running fine. My thought was the package inside the kubeadm block causing t

[2021-06-08 03:44] pacoxu commented on #99979
`ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster-new-parallel` is using [1.20](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-stable1-beta-upgrade-cluster-new-parallel/1401996899036172288/artifacts/bootstrap-e2e-minion-group-d4gz/kubelet.log).

[2021-06-08 04:18] ymmt2005 commented on #98253
/remove-lifecycle rotten

[2021-06-08 05:35] chendave opened #102680 "misleading failures info when e2e storage testcase is running locally"
#### What happened:

If the provide is `local`, run the below storage testcase,

[code]

Hit below exception,
[code]

At first glance, it looks like the return value is not correct, but looking into how the testcases was wrote, the root case should be that the testcase below doesn't support the `local` provide,

- SSD PD on GCE/GKE
- gp2 EBS on AWS

We should provide the correct error message whic

[2021-06-08 05:35] chendave commented on #102680
/sig testing
/sig storage
/assign

[2021-06-08 05:50] wojtek-t commented on #102672
The solution for it is proper overload protection in kube-apiserver. This is already being worked on as part of https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1040-priority-and-fairness

[2021-06-08 06:01] JohnRusk commented on #102672
Thanks @wojtek-t .

My understanding, from the chunking KEP and from my own testing, is that it's much more resource-efficient to do chunked listing than unchunked, and therefore in an ideal world, all list queries would be chunked.  There are also a number of other advantages of chunking, as outlined in the opening bullet points of the chunking KEP.

If I understand your reply correctly, you're s

[2021-06-08 06:18] wojtek-t commented on #102672
Let me be more specific:

1) I agree that in most cases chunking is better then no-chunking (the problem is when there are too many chunks and before we process the last one you already went out of history window and need to start from the beginning)

2) The problem is that currently watchcache doesn't support chunking - so the current choice is: chunk from etcd or not chunk from watchcache.
And h

[2021-06-08 06:23] JohnRusk commented on #102672
The behaviour that `limit` is ignored by the server if ResourceVersion=0. If that's the long-term plan, I think it has to be documented in the docomentation that describes `limit`\`continue` otherwise folks will keep wasting time trying to figure out what's happening.

Thanks for your detailed comments on all the other points.  I'll digest them and reply later.

[2021-06-08 06:24] JohnRusk commented on #102672
Out of curiousity, how will the `width` of a non-chunked list query be calculated?  I can see how to calculate it for a chunked one (since the upper bound on object counts is right there in the `limit` parameter).  But for an unchunked one, how is the `width` to be determined?

[2021-06-08 06:30] wojtek-t commented on #102672
Agree. I though we did that, but apparently I'm wrong.

Based on total number of all objects of a given type. [We have that information already - we even export it as a metric]

[2021-06-08 07:03] Karthik-K-N commented on #100127
The test passed withe new gov version: go version go1.16.5 linux/ppc64le

[root@karthik-workspace ~]# go version
go version go1.16.5 linux/ppc64le
[root@karthik-workspace ~]# export KUBE_TIMEOUT='--timeout=600s'
[root@karthik-workspace ~]# export KUBE_KEEP_VERBOSE_TEST_OUTPUT=y
[root@karthik-workspace ~]# export LOG_LEVEL=4
[root@karthik-workspace ~]# rm -rf kubernetes
[root@karthik-workspace ~]#

[2021-06-08 07:08] mkumatag commented on #100127
There is a golang update task here - https://github.com/kubernetes/release/issues/2107, hope things will be fine post this fix.

[2021-06-08 07:40] umangachapagain commented on #102439
[**Case 1: Migration**] If the directory is marked as migrated, we check that it only uses correct format of `InfoS/ErrorS` and doesn't use `Infof/Errorf`.

[**Case 2: Correct usage**] If the directory is not marked as migrated, we check that it's usage of `InfoS/ErrorS` is correct and don't care about usage of `Infof/Errorf`.

By default, CI will test for correctness of whole k/k codebase instead

[2021-06-08 08:07] mrpre commented on #102324
@chenyw1990  I don't think so.
As the doc says 'Topology Manager can deal with the alignment of resources in a couple of distinct scopes: pod or container'
https://kubernetes.io/docs/tasks/administer-cluster/topology-manager/#topology-manager-scopes
and before kubernetes 1.21 the default scopes is "pod"

[2021-06-08 08:09] serathius commented on #102439
To clarify, let me rephrase.

Current state is [Case 1: *Migration*] and [Case 2: *Correct usage*] tested on migrated directories from  [hack/.structured_logging](https://github.com/kubernetes/kubernetes/blob/master/hack/.structured_logging)

What we want:
* [Case 2: *Correct usage*] tested on whole repository
* [Case 1: *Migration*] tested on migrated directories from [hack/.structured_logging](h

[2021-06-08 08:20] aojea opened #102684 "Endpoint slice mirroring controller mirrors kubectl kubectl.kubernetes.io/last-applied-configuration"
#### What happened:

If I modify a custom endpoint, the kubectl kubectl.kubernetes.io/last-applied-configuration annotation is mirrored to the generated endpoint slice

#### What you expected to happen:

Since the kubect last-applied-configuration tracks the status of the object, it shouldn't be mirrored since it doesn't apply to the generated object

#### How to reproduce it (as minimally and pre

[2021-06-08 08:21] aojea commented on #102684
ping @robscott @freehan

[2021-06-08 08:30] amirschw commented on #102633
Thanks for your response @zq-david-wang. I ran some tests on a dev cluster and it seems that you're right - the `spec.behavior` field actually represents "constraints" that are imposed on the original calculated behavior.

This is really surprising (and rather disappointing), since the [user stories](https://github.com/kubernetes/enhancements/tree/master/keps/sig-autoscaling/853-configurable-hpa-s

[2021-06-08 08:37] aojea commented on #102684
if we agree this is a bug, the fix is just
[code]

and adding some tests of course :)

[2021-06-08 08:46] yunusemrecatalcam commented on #102566
I'm closing this as I verified by creating another cluster with kops and it worked fine.

[2021-06-08 08:46] #102566 closed

[2021-06-08 09:02] umangachapagain commented on #102439
Ok. So this means we'll have to split the tests in logcheck into "correct usage" and "migration" tests. We can then run correct usage tests for entire codebase and migration tests for migrated directories.
If this is the case, I can start implementing it.

[2021-06-08 09:34] zhiweiv opened #102686 "Memory Reservations on Windows Pod"
In https://kubernetes.io/docs/setup/production-environment/windows/intro-windows-in-kubernetes/#memory-reservations,

It says limits must equal requests for memory, does it make sense? We are using following setting and it works.

[code]

/sig windows

[2021-06-08 09:42] feiskyer commented on #102660
yes, the fix is being cherry-picked to 1.20 and 1.21 by https://github.com/kubernetes/kubernetes/pull/101886 and https://github.com/kubernetes/kubernetes/pull/101885, and they would be part of 1.20.8 and 1.21.2.

[2021-06-08 09:45] aojea commented on #102613
Yeah, and that causes a possible security problem as per `Pod probes lead to blind SSRF from the node ` #99425

The other issue we have is `Pod readiness probe cannot be directed at specific IP family` #101324.
Currently,  if you don't specify the `Host` field in the probe, the probe Status.PodIPs[0] , however, in a dual stack cluster you can have a single stack application that only listen in Sta

[2021-06-08 10:10] odinuge commented on #102676
/sig node
/triage accepted

[2021-06-08 10:38] aojea commented on #99751
/cc

[2021-06-08 12:30] mrbobbytables commented on #102557
Sadly no, there can only be a single PR template. =/

Do you have an umbrella or tracking issue (sort of like the checklist mentioned earlier)? A place where folks can "claim" or report on sections they're doing to try and prevent stomping on each other. You can then ask folks to check that issue first before opening a PR.

Other than that, I think the best bet is to update the docs and refer folk

[2021-06-08 13:14] Michael-Sinz commented on #102660
We are completely blocked on moving to k8s 1.20 or 1.21 until this is addressed.  How long before this PR gets pulled it.  I see it has been sitting there for almost a month.  Is there a way we can make sure this gets done soon?

[2021-06-08 13:28] javidiaz commented on #102339
Thanks @Huang-Wei for the quick fix!

[2021-06-08 13:41] MikeSpreitzer opened #102693 "Configuring the kube-apiserver advertise address in kubeadm init has incomplete consequences"
#### What happened:
I want to create a kube cluster in a set of VirtualBox VMs.  Unless otherwise directed, `kubeadm init` picks the same IP address for each VM, `10.0.2.15` (this is the IP address of the network interface that appears in the default route, because the first network interface is what VB calls a "NAT" type of adapter, which I chose because that is the easiest way to get access to t

[2021-06-08 13:43] MikeSpreitzer commented on #102693
@kubernetes/sig-cluster-lifecycle

[2021-06-08 13:43] MikeSpreitzer commented on #102693
/sig cluster-lifecycle

[2021-06-08 13:52] wangyysde commented on #81245
/cc @wangyysde

[2021-06-08 14:01] adtac commented on #95446
/remove-lifecycle stale

[2021-06-08 14:10] andyxning commented on #65098
We need to have a capability of expressing: "we need this pod to wait at least 30s before rolling update the next pod in StatefulSet".

[2021-06-08 14:14] rshiva777 commented on #83068
/reopen

I have deleted pods running on a particular node and using kubectl pods are not showing.

But inside the node using docker ps, i am able to see the containers are still running

[2021-06-08 14:15] rshiva777 commented on #83068
I have deleted pods running on a particular node and using kubectl pods are not showing.

But inside the node using docker ps, i am able to see the containers are still running

[2021-06-08 14:26] antoinetran commented on #55713
I confirm the fix and validated with Kubernetes 1.20.6 (contained in Rke 1.2.8 / Rancher 2.5.8).

[2021-06-08 14:28] george-angel commented on #40157
/remove-lifecycle stale

[2021-06-08 14:35] satuday commented on #19825
more than 5 yrs and still no proper solution.

[2021-06-08 14:47] pacoxu commented on #100914
Can it be solved by #102612 with sysctl net/ipv4/ip_unprivileged_port_start supported?

[2021-06-08 15:01] cpanato commented on #92463
This happened for 1.18 right? this is not supposed to occur on 1.19+ releases, I guess.

1.18 reach the end of life and we are not supporting this version anymore.
I guess we can close this issue.

comments? @saschagrunert @justaugustus @hasheddan

[2021-06-08 15:24] pmanno commented on #101743
Any update on this please?

[2021-06-08 15:51] neolit123 commented on #102693
by choosing this setup you complicate your k8s deployment as all the k8s components, including kubelet, kubeadm, kube-apiserver, etc IIRC would pick the IP 10.0.2.15. so now you must be explicit about the IPs you want for all components.
none of the components allow you to pick an interface.

kubeadm and apiserver use [this](https://github.com/kubernetes/kubernetes/blob/89db31aadefb5207dbf84e24034

[2021-06-08 15:51] thockin commented on #102613
Got it.  The problem is compat - there are probes that hit "localhost"
today and if we change the meaning of that from "node" to "pod", they
break.  I think that, at the very least, we'd need to special-case
"localhost" to mean the node's IP.

On Tue, Jun 8, 2021 at 2:45 AM Antonio Ojea ***@***.***>
wrote:

[2021-06-08 16:06] robscott commented on #102684
Thanks for catching this! Agree this is a bug that we should fix.

[2021-06-08 16:06] robscott commented on #102684
/triage accepted

[2021-06-08 16:24] docwhat commented on #72216
/remove-lifecycle stale

[2021-06-08 16:24] robscott commented on #102684
/help-wanted

[2021-06-08 16:25] robscott commented on #102684
/good-first-issue

[2021-06-08 16:45] neolit123 commented on #102693
how are you passing your advertise address to kubeadm init - is it via InitConfiguration or flag?

according to the code, the control plane endpoint (if not specified) should get defaulted to the the init configuration advertise address, and that get's defaulted to the default public IP.

i'm trying to check if there is a bug between flags / config and drift between bind/advertise addresses...

[2021-06-08 16:57] VivekThrivikraman-est opened #102698 "Controller-manager fails to successfully start when converting a cluster from dual-stack to single-stack"
#### What happened:
Tried to downgrade a running dual stack cluster to single stack by modifying service-cluster-ip-range and cluster-cidr parameters to have only one CIDR (both parameters had ipv4,ipv6 CIDR ,changed it to have only ipv4 CIDR).
After making this change controller-manager fails to start successfully. The below error is seen in the controller manager logs:

`controllermanager.go:226

[2021-06-08 16:58] VivekThrivikraman-est commented on #102698
@aojea

[2021-06-08 16:58] sharmarajdaksh commented on #102684
Hey, I'm on it!

[2021-06-08 17:11] aojea commented on #102698
Great catch,
/sig network
/triage accepted
@thockin @khenidak @danwinship  another one  for converting from dual to single.
https://github.com/kubernetes/kubernetes/pull/101914#issuecomment-850727366

This hopefully will be addressed by https://github.com/kubernetes/enhancements/issues/2593

[2021-06-08 17:39] ahg-g commented on #102573
I think we need to do it here: https://github.com/kubernetes/kubernetes/blob/5a21b978820ff266fcbd81e72f1dabc515172eca/pkg/scheduler/framework/interface.go#L246

how about we do

[code]

@alculquicondor @Huang-Wei wdyt?

but it would be cool if we can do something more structured.

[2021-06-08 17:45] HongjiangHuang commented on #102659
Hi ~ bro @j4m3s-s
This seems to be caused by [docker](https://github.com/moby/moby/issues/40817).

Reference:
https://github.com/kubernetes/kubernetes/blob/v1.16.15/pkg/kubelet/dockershim/libdocker/kube_docker_client.go#L146

[2021-06-08 17:45] HongjiangHuang commented on #102659
/kind support

[2021-06-08 17:46] brsolomon-deloitte opened #102699 "Config file equivalents for --log-file --one-output"
[code]

will error with

[code]

however it is not apparent in the documentation what the equivalent key entries for these two flags are or if there are equivalents at all.

- Do corresponding key/value pairs exist in a custom config file?
- If so, what are they?

#### Environment:

[code]

[2021-06-08 17:46] vrusinov commented on #92463
Conflicts similar to above still happen on CentOS 8 with 1.21 rpms installed. `exclude=` in `yum.conf` mitigates it, but it would be nice to clean this up somehow.

[2021-06-08 17:47] brsolomon-deloitte commented on #102699
/sig cli

[2021-06-08 17:47] brsolomon-deloitte commented on #102699
/sig docs

[2021-06-08 18:05] chewong commented on #102113
Still failing in 1.18 - https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-1-18-windows-serial-slow/1396942953200488448. Is this expected?

[2021-06-08 18:18] pohly commented on #102452
We had two good runs (06-06, 06-07) with both sidecars disabled. Today's run (06-08) was done with just the health-check-controller, and in that run the hostpath tests and several others failed again: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1402234386643947520

The "node not ready" events are also back:
https://storage.googleapis.com/kubernetes-j

[2021-06-08 18:28] pohly commented on #102452
https://github.com/kubernetes/kubernetes/pull/102700

[2021-06-08 18:34] Random-Liu commented on #94892
Yeah, that is an issue. Make sense.

Yeah, if we do option 2, I think we will also need to keep stdout and stderr separated.

Different container already has different log path today. If we do option 2, it should be in different log path as well.

It seems that the container log file on the host does contain all the information you need, but the concern is that we want to do this without host path

[2021-06-08 18:40] sharmarajdaksh commented on #102684
Hi @robscott @aojea. While I have made the update mentioned in the above comment, I feel a bit lost on where to add/update tests. I understand that I probably shouldn't raise a PR without trying to add a few tests for this issue. So could you possibly guide me to the correct files(s) I should be looking into where the annotations for updated EndpointSlices are being tested?

[2021-06-08 18:46] robscott commented on #102684
Hey @sharmarajdaksh I think the easiest place to add tests might be here: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/endpointslicemirroring/reconciler_test.go#L39. You could add another test case where the Endpoints object had this label and then ensure that label was not copied over to an EndpointSlice.

[2021-06-08 18:47] sharmarajdaksh commented on #102684
Alright I'll check out these tests. Thank you!

[2021-06-08 19:48] JDSQ opened #102706 "Volume type of ephemeral is not recognized"
#### What happened:
I then tried to add a pod that uses an ephemeral volume:
[code]

This resulted in the following response:
[code]

This example is taken directly from the Kubernetes documentation: https://v1-19.docs.kubernetes.io/docs/concepts/storage/ephemeral-volumes/#generic-ephemeral-volumes

#### What you expected to happen:
The pod to be launched with an ephemeral volume

#### How to repr

[2021-06-08 20:00] williamblevins opened #102707 "AWS GP3 Storage Support Missing"
#### What would you like to be added:

GP3 Storage Class Support for AWS EBS. Currently, `persistentvolume-controller  Failed to provision volume with StorageClass "prometheus-gp3": invalid AWS VolumeType "gp3"` via Kubernetes 1.19 on EKS.

May require no more than adding the new type here: https://github.com/kubernetes/kubernetes/blob/10ed4502f46d763a809ccdcc6c30be1c03e19147/staging/src/k8s.io/le

[2021-06-08 20:09] alculquicondor commented on #102573
The reasons are used in the event message. I'm not in favor of increasing the size of the message. We already hit some limitations in the past. It would be better if somehow the list of failed plugins can make it to the log line without affecting the event.

[2021-06-08 20:11] JohnRusk commented on #102672
Nice.  Is that functionality included in the beta of API Priority and Fairness that's in K8s 1.20?

[2021-06-08 20:18] JDSQ commented on #102706
Of course, I resolved it as soon as I asked it. The feature gate needs to be enabled on kube-api-server as well.

...
 **--feature-gates=GenericEphemeralVolume=true** --authentication-token-webhook-config-file=/etc/kubernetes/kube-api-authn-webhook.yaml --allow-privileged=true
...

[2021-06-08 20:19] #102706 closed

[2021-06-08 20:19] fedebongio commented on #34146
/assign @roycaihw
/triage accepted

[2021-06-08 20:19] fedebongio commented on #34146
Briefly we need to at least update documentation on the supported version of YAML libraries (1.1)

[2021-06-08 20:20] fedebongio commented on #82942
/triage accepted

[2021-06-08 20:20] fedebongio commented on #82942
/cc @leilajal @yliaog

[2021-06-08 21:34] BenTheElder commented on #95528
/lifecycle frozen

[2021-06-08 21:49] BenTheElder commented on #97511
Good catch re: 1.20

filed https://github.com/kubernetes/kubernetes/pull/102709, there were conflicts and I'm not certain yet that it's correct.

[2021-06-08 21:57] freehan commented on #102649
/assign

Thanks @MrHohn

It is indeed caused by #102513. Pushed a PR to fix the e2e test.

[2021-06-09 01:21] jwz-ecust opened #102712 "e2e test failed for kubernetes v1.20.1"
**What happened:**
kubernetes v1.20.1 sonobuoy e2e test failed for AdmissionWebhook

Plugin: e2e
Status: failed
Passed: 265
Failed: 44
Skipped: 5358

**Failed tests:**
1. [Fail] [sig-api-machinery] AdmissionWebhook [Privileged:ClusterAdmin] [It] should mutate custom resource with different stored version [Conformance]
/workspace/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/tes

[2021-06-09 01:32] neolit123 commented on #102712
are these failing consistently or only sometimes?
what nodes do you have in the cluster.

we are not seeing consistent failures for the same tests in the k8s CI.

/remove-kind bug
/kind failing-test

[2021-06-09 01:32] neolit123 commented on #102712
/triage needs-information

[2021-06-09 01:33] neolit123 commented on #102707
/sig cloud-provider
/area provider/aws

[2021-06-09 01:36] adtac commented on #95446
@alculquicondor could you mark the things from https://github.com/kubernetes/kubernetes/pull/99597 as completed (see PR description)

[2021-06-09 01:39] neolit123 commented on #102699
duplicate
https://github.com/kubernetes/kubeadm/issues/2455

the logger (klog) flags are confusing for component consumers.
we could allow it, but apparently it would introduce a breaking change.

in the meantime you can just do `kubeadm ... | tee`

https://github.com/kubernetes/kubeadm/issues/2455#issuecomment-824498797

/close

[2021-06-09 01:39] #102699 closed

[2021-06-09 01:51] BenTheElder commented on #102712
The PR description sort of makes this sound like it's a single node, is that the case? you will not be able to pass conformance without N >= 2 workload-schedulable nodes for one.

There's also a bit more to having a functioning cluster than just installing kubeadm (e.g. need to setup CRI, CNI, ...), we definitely have kubeadm passing all of the conformance tests in CI.

[2021-06-09 02:31] jwz-ecust commented on #102712
@BenTheElder The test was performed on the platform with 3 master nodes and 1 slave node.
@neolit123 Failing consistently. For each test, it would consume 5 hours. Compared with other tests on cncf, I think it's abnormal.

[2021-06-09 03:00] JohnRusk commented on #102672
I see.  Yes, your logic makes sense.  I had (naively) assumed that chunking was something equally achievable in all cases, but from your reply it sounds like it would be additional work (not able to leverage the current chunking code) if you were to from the watch cache.

One question, does `RV=1, ResourceVersionMatch=NotOlderThan`, also result in hitting etcd? (I know it gives the chance of a 410

[2021-06-09 03:04] brsolomon-deloitte opened #102715 "kubeadm join (control plane) consistently fails with CrashLoopBackOff"
#### What happened:

When trying to join a second or sometimes third control plane node, `kubeadm join` fails with:

- something that looks like an etcd hangup ("Initial timeout of 40s passed")
- CrashLoopBackOff for one of the kube-apiserver pods

The k8s [docs](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/troubleshooting-kubeadm/#pods-in-runcontainererror-crashloopbackof

[2021-06-09 03:05] brsolomon-deloitte commented on #102715
/sig cluster-lifecycle

[2021-06-09 03:06] brsolomon-deloitte commented on #102715
/sig usability

[2021-06-09 03:49] xiaoanyunfei opened #102718 "client-go memory leak"
#### What happened:

We use `client-go informerFactory` to handle some pod information,

cache.ResourceEventHandlerFuncs{
      AddFunc:    addPodToCache,
      UpdateFunc: updatePodInCache,
      DeleteFunc: deletePodFromCache,
    })

addPodToCache -> AddPod(pod *v1.Pod)  {
key, _ := framework.GetPodKey(pod)
cache[key]=pod
}

key, _ := framework.GetPodKey(pod)
delete(cache, key)
}

But we came a

[2021-06-09 03:50] xiaoanyunfei commented on #102718
/sig api-machinery

[2021-06-09 03:52] neolit123 commented on #102712
you need at least two nodes that accept workloads.
add another worker node and retry. if you see the failures again you can reopen the ticket.

/close

[2021-06-09 03:52] #102712 closed

[2021-06-09 04:07] BenTheElder commented on #102712
As @neolit123 mentioned that will not be sufficient, at least two nodes must be workload-schedulable for conformance testing, in order to validate behavior around e.g. rolling updates. That's an explicit decision by the conformance working group that has been discussed quite a bit already so I don't think it's likely to change.

If you add another node I'd guess at least some of these would pass.

[2021-06-09 04:08] rajeshnailwal commented on #102646
Adding further details -

Cluster is not running on any cloud environment.

**lsmod | grep sctp**

sctp 344064 25 xt_sctp 20480 5 libcrc32c 16384 6 nf_conntrack,nf_nat,btrfs,xfs,ip_vs,sctp x_tables 45056 16 ip6table_filter,xt_conntrack,xt_statistic,iptable_filter,xt_tcpudp,xt_addrtype,xt_nat,xt_comment,ip6_tables,xt_sctp,ipt_REJECT,ip_tables,ip6table_mangle,xt_MASQUERADE,iptable_mangle,xt_mark

**

[2021-06-09 04:28] CtrlAltDft commented on #52096
/reopen

[2021-06-09 04:33] BenTheElder commented on #98908
/remove-lifecycle stale
I think we're actually done with the points here and follow-up, thanks in particular to @vinayakankugoyal

[2021-06-09 04:33] #98908 closed

[2021-06-09 04:34] sharmarajdaksh commented on #102684
/assign

[2021-06-09 04:36] feiskyer commented on #102660
The next Kubernetes release would happen on 06-16 (refer the scheduler here: https://github.com/kubernetes/website/blob/master/content/en/releases/patch-releases.md#upcoming-monthly-releases).

[2021-06-09 04:49] victor-sudakov commented on #55713
What do you mean by "confirm the fix"? I've just checked, on Kubernetes v1.21.1/Debian10, when a Node is powered off or dies, its Pods are in Terminating status forever, and never get moved elsewhere. When the Node is back alive, its Pods are gone for good and have to be redeployed again.

[2021-06-09 05:14] ialidzhikov commented on #102707
/area storage

See https://github.com/kubernetes/kubernetes/pull/102713#issuecomment-857378728. The aws-ebs-csi-driver is already supporting these nee volume types. You should use CSI as the in-tree volume plugins are deprecated.

/cc @msau42

[2021-06-09 05:15] ialidzhikov commented on #102707
/sig storage

[2021-06-09 05:15] pacoxu commented on #102707
aws-ebs-csi-driver already supports gp3.

https://github.com/kubernetes-sigs/aws-ebs-csi-driver/blob/2b612304eb1997cb8da1e6cc79f14a4a09b0ec14/pkg/cloud/cloud.go#L40-L53

[2021-06-09 05:59] csuzhangxc commented on #40846
Can anyone reopen this issue?

[2021-06-09 06:02] caesarxuchao commented on #102641
The apiversion is used in gc [here](https://github.com/kubernetes/kubernetes/blob/d849d9d057369121fc43aa3359059471e1ca9d1c/pkg/controller/garbagecollector/operations.go#L64).

Since v1apha1 did not exist anymore, that should trigger this error [message](https://github.com/kubernetes/kubernetes/blob/d849d9d057369121fc43aa3359059471e1ca9d1c/pkg/controller/garbagecollector/garbagecollector.go#L348).

[2021-06-09 06:23] CodeNoobKc2 opened #102720 "owner reference configured in pod template would not be added to the pod created by replica set"
#### What happened:
The pod created by replicaset does not include the ownerreference information configured in pod template. In my scenerio, the pod template is automatically generated by my operator.

#### What you expected to happen:
I expect the pod created by relicaset controller would include the ownerreference information configured in pod template.

#### How to reproduce it (as minimally a

[2021-06-09 06:44] #96344 closed

[2021-06-09 07:01] Rajalakshmi-Girish commented on #100127
The CI job for unit tests, which is displayed in test-grid picks up golang version from dependencies.yaml in Kubernetes upstream repo.
https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml#L103

Thus this might be fixed once the dependencies file is upgraded.

[2021-06-09 07:36] swatisehgal commented on #98970
/remove-lifecycle stale

[2021-06-09 07:43] pacoxu commented on #102715
Can you check etcd yaml in node `ip-xx-xx-xx-179`  in /etc/kubernetes/manifests/etcd.yaml?
Also check the `kubelet` log on node `ip-xx-xx-xx-179` to know why the etcd pod is not created.

A known issue #99305 is for ephemeral-storage check, you can remove the ephemeral storage requests in  /etc/kubernetes/manifests/etcd.yaml and see if the etcd pod can be created.

[2021-06-09 08:23] josephburnett commented on #102362
Just to follow up, @wangyysde you have this issue.  Thanks for the PR.  @AbdulBasitAlvi I will follow up with you on Slack to find other, interesting work.  :)

[2021-06-09 08:24] josephburnett commented on #80481
@pbaderia01 and update on this?

[2021-06-09 08:25] wojtek-t commented on #102672
No - the support for LIST was designed couple weeks ago and we're working on having it done in 1.22.

Not necessary naively - it's an understandable intuition.
But yes - we don't support chunking from watchcache and adding it will be a very large piece of work (though it's periodically being discussed).

Yes - it hits etcd.
The logic is basically here:
https://github.com/kubernetes/kubernetes/blob

[2021-06-09 08:28] pbaderia01 commented on #80481
Hey @josephburnett. Apologise for not being able to get back to you earlier, this is turning out to be a little more tricky than I expected. I'm working on this and will work on this over this weekend as well and will get back to you to see what should be the next steps either way.

[2021-06-09 08:30] josephburnett commented on #102369
Hey @danishprakash any update on this?

[2021-06-09 08:32] JohnRusk commented on #102672
Thanks for your detailed answers. Much appreciated.  I'll keep an eye on upcoming releases, and repeat some of my tests, with Priority and Fairness, once the List support is out.

Am I right in assuming that that it's intended to work even for lists as large as 10's of thousands of objects - e.g. 50,000 items?

If so, you're welcome to close this issue now.   (Unless you need it for tracking docum

[2021-06-09 08:38] wojtek-t commented on #102672
yes

yes - we can leave it open for the documentation update

[2021-06-09 09:01] Priyankasaggu11929 commented on #102434
/assign @Priyankasaggu11929

[2021-06-09 09:42] cloud-66 commented on #87615
@champtar , This error may appear even on single machine cluster without any network.
etcd crashes for some reasons, maybe because of a slow disk. tcp connection from apiserver to etcd becomes broken, apiserver goes down and restarts , connection from kubelet to apiserver becomes invalid with error "use of closed network connection"
etcd crash -> apiserver goes down -> kubelet get error connecting

[2021-06-09 09:43] 249043822 opened #102723 "slow memory leak may be in kubelet podworkers.isWorking"
#### What happened:

As the p.isWorking won't be cleared while pod was deleted, so while creating or deleting pods repeatedly, length of p.isWorking keep increasing

[code]

#### What you expected to happen:

length of p.isWorking does not keep increasing

#### How to reproduce it (as minimally and precisely as possible):

creating or deleting pods repeatedly

#### Anything else we need to know?:

[2021-06-09 09:43] 249043822 commented on #102723
/sig node

[2021-06-09 09:47] tanjing2020 opened #102724 "Pod with spec.priority configured cannot be created if priority admission controller enabled"
#### What happened:
If the priority admission controller is enabled, pod configures spec.priority, and does not configure spec.priorityClassName, it cannot created.
[code]
[code]
#### What you expected to happen:
In case of  enable priority admission controller, we can choose  spec.priority or spec.priorityClassName flexibly to configure the pod priority.

#### How to reproduce it (as minimally an

[2021-06-09 09:55] matthyx commented on #99979
@ehashman I have found this one that failed **even with the fix**:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102697/pull-kubernetes-e2e-kind-ipv6/1402400393228455936
corresponding to:
https://github.com/kubernetes/kubernetes/pull/102697

[2021-06-09 10:03] tanjing2020 commented on #102724
/area admission-control
/sig api-machinery

[2021-06-09 10:04] lentzi90 commented on #71024
@bswartz the kind and name is given as part of the command and the API version and group is defaulted based on this. The patch command will thus identify the relevant resource with this information and merge in the patch given. So it is indeed valid. :slightly_smiling_face:

[2021-06-09 10:06] matthyx commented on #99979
I don't know what could explain this atm... but it seems we still have delay propagating container statuses.

[2021-06-09 10:13] odinuge commented on #102676
/priority important-soon

[2021-06-09 10:32] aojea commented on #101607
This is an interesting behaviour, I thought that it only happened because the TCP connection was NATed, but in this case it is not, you can see the packet is not modified
[code]

actually I reproduced it and the host sends a ICMP_REDIRECT to tell the sender to stop, but "of course, who cares about ICMP messages these days" :) so we keep hammering creating the stale entries. Also, we send the packe

[2021-06-09 11:13] wangyysde commented on #102724
Ref: https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/priority/admission.go#L175
If you  not configure spec.priorityClassName,then priorityClassName wil be set to Default Priority.
I am not sure whether it it correct. And I will to check what value be set to  priorityClassName if there is not default Priority on the system.

[2021-06-09 11:13] wangyysde commented on #102724
/assign

[2021-06-09 11:27] RichardoC commented on #90438
So, how can we mutate that field without using patch?

[2021-06-09 11:28] odinuge commented on #102676
You should probably mention that this only affect people who use `cgroupDriver: systemd`.

[2021-06-09 11:58] champtar commented on #87615
@cloud-66 I know, the point here is that a kubelet restart fixes the issue, so this is not fixed in 1.18.18, you need 1.19+

[2021-06-09 12:09] giuseppe commented on #99230
Thanks for trying that.

Opened a PR for comments: https://github.com/kubernetes/kubernetes/pull/102726

If that is not the right approach, the only alternative I see is to hardcode the value to 0.

[2021-06-09 12:16] odinuge commented on #99230
The git blame shows that this was introduced here: https://github.com/kubernetes/kubernetes/pull/57802

Do you have any thoughts about this @dashpole?

[2021-06-09 12:17] brsolomon-deloitte commented on #102715
Okay, I re-ran this exact setup on a newly provisioned set of nodes and ran into the same error.

- xx-xx-xx-248: initial control plane node (ok)
- xx-xx-xx-131: second control plane node (ok)
- xx-xx-xx-176: third control plane node (fails to join)

Also want to add the comment that I am joining the nodes in serial rather than in parallel, since I have in other issues seen parallel joins describe

[2021-06-09 12:19] brsolomon-deloitte commented on #102715
/sig node storage

[2021-06-09 12:20] odinuge commented on #99230
Also, the structs were introduced here: https://github.com/kubernetes/kubernetes/pull/18544

/cc @tallclair

[2021-06-09 12:21] brsolomon-deloitte commented on #102715
Going to give https://github.com/kubernetes/kubernetes/issues/99305#issuecomment-802805653 a try.

In my situation here, each node is 65G disk and 4G RAM with nothing else really going on on them besides the k8s initialization.

[2021-06-09 12:31] softputer opened #102727 "hollow-node cannot work well, unknown service: runtime.v1alpha2.ImageService"
#### What happened:
when i deploy hollow-node pod to one k8s cluster, it just cannot work well.some error occurs to stop listing images.
![截屏2021-06-09 下午5 42 59](https://user-images.githubusercontent.com/10970097/121354520-88db0d80-c961-11eb-8c9b-10282f70d639.png)

#### What you expected to happen:
hollow-node kubelet runs well with no errors . and when i run e2e tests ,it works well
#### How to

[2021-06-09 12:31] brsolomon-deloitte commented on #99305
https://github.com/kubernetes/kubernetes/issues/102715 is a possible duplicate of this issue - seeing a CrashLoopBackOff failure for kube-apiserver under a similar scenario to those mentioned here, e.g. failure to join a third control plane node with mentions of `ephemeral-storage` in the kubelet logs.

[2021-06-09 12:46] dashpole commented on #99230
I think changing the test is the right thing to do.  It is a breaking change to change the metric, but it wasn't particularly useful before.  Also, we won't be able to hide the change to the metric for pod cgroup metrics, so we might as well change it for system containers as well.

[2021-06-09 12:55] odinuge commented on #99230
Ahh, sounds good. Thanks!

[2021-06-09 12:57] hysyeah commented on #102405
/good-first-issue

[2021-06-09 13:07] TheDiveO commented on #77142
/remove-lifecycle stale

[2021-06-09 13:13] xykong commented on #24873
Inspired by @mohamedelhabib , @nathan-c,  @scones
I make a script with options help people easy to use.

https://gist.github.com/xykong/6efdb1ed57535d18cb63aa8e20da3f4b

Run script like this:

./k8sdump.sh -n jmeter -r deployments -o /data/workspace

[2021-06-09 13:20] gccio commented on #102720
1. I think we should support it.
2. The field `Controller` cannot be `true`. The pod is managed by the replicaset controller, and it only can be managed by one controller.

[2021-06-09 13:30] brsolomon-deloitte commented on #102715
It looks like applying `--experimental-patches` as outlined in https://github.com/kubernetes/kubernetes/issues/99305#issuecomment-802805653 provided a band-aid and the final control plane node joined successfully. The `ephemeral-storage` param is successfully removed from `/etc/kubernetes/manifests/etcd.yaml`.

For other kubeadm users looking to apply this fix, the [doc](https://kubernetes.io/docs

[2021-06-09 13:35] #94008 closed

[2021-06-09 13:36] alculquicondor commented on #97048
Fixed in #99597

/close

[2021-06-09 13:36] #97048 closed

[2021-06-09 13:37] alculquicondor commented on #95446
Done, thanks for the heads up

[2021-06-09 13:42] bswartz commented on #71024
Thanks, I didn't know this. What caused the error in this case then?

[2021-06-09 13:44] mortenlj opened #102732 "Document what happens when using envFrom with invalid values in secret/configmap"
#### What happened:

Trying to use `envFrom` to set environment variables from a secret with binary data. Got error message:
`Error: failed to start container "mortenlj-test": Error response from daemon: OCI runtime create failed: container_linux.go:349: starting container process caused "process_linux.go:449: container init caused \"setenv: invalid argument\"": unknown`

#### What you expected to

[2021-06-09 13:46] mortenlj commented on #102732
/sig docs

[2021-06-09 13:50] petr-motejlek commented on #96459
Hm ... this must have something to do with the fact we're running in a VM. Funny enough ... you guys are reporting apiserver crashing. What led me to this issues is that my metrics-server crashes with this same log message instead :).

I originally had ntpd installed on the VM, but removing it did not help. So ... if time goes backward, it must be something that VirtualBox does. I'll try to see if

[2021-06-09 13:51] perezjasonr commented on #100869
@neolit123 sorry i know this issue is closed and we should keep it closed but I realized theres no experimental patches for addons like kube-proxy, or coredns, as such I cannot customize these manifests, is this deliberate? I'm guessing theres some reason I'm not aware of why these do not have the patch option. TY.

[2021-06-09 13:51] Christopher-Hurst-rft opened #102733 "Docker image exiting with 0 in response to cron termination leaves active pod"
#### What happened:
A corn docker python job with the replace policy leaves an active pod if it catches  (for clean up) the SIGTERM SIGKILL signals sent by k8s then exits with 0. So if the corn job has a job history we see an active historical pod  that should have been replaced.

If the job does not catch the signal or reponds with the appropriate Docker exit code for the given signal (not 0 eg 1

[2021-06-09 14:24] michaelgugino commented on #102537
I found the same using the test pod described above:

[code]

I dumped the yaml for about 10-20 seconds (just repeatedly via cli), the output shows the pod status.Conditions never goes into 'Ready: False' until the container is terminated.

I don't think the documentation is accurate.  That phrasing was added relatively recently via: https://github.com/kubernetes/website/pull/22603

[2021-06-09 14:26] atiratree commented on #100314
@soltysh `ProgressDeadlineSeconds` is actually 30s: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/apps/deployment.go#L883

### ProgressDeadlineExceeded

Most of the tests fail because of this. Some pods from active Deployment/Replicaset get run successfully, but some of them fail to start and they CrashLoopBackOff and fail to start repeatedly. Then Deployment reaches ProgressDeadli

[2021-06-09 14:38] mikenri opened #102737 "Azure Disk: Don't automatically reformat disks with NTFS if the disk has an existing filesystem"
#### What happened:

If A pod that uses Azure Disk for persistent storage mistakenly had no node selector added for a Linux application.

When Kubernetes scheduled the pod to a Windows node, the Azure Disk was reformatted with NTFS and the Linux filesystem data was destroyed.

I have seen this is common with 3rd party software vendors that provide a utility that generates K8S deployment YAML.
It s

[2021-06-09 14:42] mikenri commented on #102737
/sig kubernetes-sigs/azuredisk-csi-driver

[2021-06-09 14:42] mikenri commented on #102737
/sig cloud-provider

[2021-06-09 14:44] nonylene commented on #102537
The sentence has existed before the PR as well ([diff](https://github.com/kubernetes/website/pull/22603/files#diff-57df42feca966f94c3d57ba2dcadf730e35daa4c961e6525a35eef36d02c96d0L149-L153)).  It was originally added five years ago: https://github.com/kubernetes/website/commit/64053fd2f7328336ccbe2e9ed8aadb9938cf0cb1.

[2021-06-09 14:59] neolit123 commented on #100869
We do not have plans to allow addon patches, because we are in the process
of creating a better addon story. The current addons might no longer be
hardcoded in kubeadm in the future.

For now you can skip them and deploy your own custom ones.

[2021-06-09 15:05] gnufied opened #102738 "Improve messaging to users when volumes are only accessible to root user"
Improve messaging to users when fsgroup based permissions are skipped and volumes might only be root user readable/writable (or they might require 777 permissions).

In some case what user/cluster-admins must do, may not be obvious.

This came up from discussions in - https://github.com/kubernetes/kubernetes/pull/102653#discussion_r648385629

/sig storage

[2021-06-09 15:09] perezjasonr commented on #100869
fair enough thanks for the insight.

[2021-06-09 15:14] pohly commented on #102651
... and ownership changed for those volumes.

[2021-06-09 15:33] ehashman commented on #98970
Still flaking: https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=should%20not%20start%20app%20containers%20if%20init%20containers%20fail%20on%20a%20RestartAlways%20pod

[2021-06-09 15:35] alculquicondor commented on #95131
This issue was somewhat purposely vague, as we were not sure what was the right shape for this architecture.

To avoid wasting your time, try to share a couple of high level proposals. But as I said in the PR, you can grab some inspiration from the node resources plugins.

[2021-06-09 15:37] irbekrm commented on #102641
Hi @caesarxuchao ,

Thank you for the reply.

I tried to increase the log level as you suggested. From the errors I saw, it appears that somehow the garbage collector has the wrong API version for the _owned_ resource. I've copied the steps from the issue description with where the errors appear:

Steps followed (here `CertificateRequest` X is the owned resource and `Certificate` Y is the owner re

[2021-06-09 15:38] antoinetran commented on #55713
In Kubernetes 1.20.4: the shutdown of a node results in node being NotReady, but the pods hosted by the node runs like nothing happened. However doing logs or exec does not work (normal).
In Kubernetes 1.20.6: the shutdown of a node results, after the eviction timeout, of pods being in Terminating status, with pods being rescheduled in other nodes. The never ending Terminating seems normal to me.

[2021-06-09 15:51] aauren commented on #102480
Just to make sure I understand the scope of this issue, this only affects things like `kubectl port-forward` or other things that use the `/portforward` API, correct?

[2021-06-09 15:52] jackfrancis commented on #102715
@brsolomon-deloitte I've updated PR #101882 to reflect that it will fix this issue

Also, note that https://github.com/kubernetes/kubernetes/pull/102673 was merged yesterday, and will be cherry-picked into future 1.20 and 1.21 releases.

[2021-06-09 16:20] ankeesler opened #102741 "`kubectl set env` does not support use of -f and --from flags simultaneously"
#### What happened:

* I wanted to write a unit test to validate what happens when someone runs `kubectl set env --from secret/s` and tries to use stdin for both the file and environment variable inputs (e.g., `kubectl set env --from secret/s -f - -`).
* I could not write a valid unit test because `kubectl set env` does not support use of `--from` and `-f` at the same time.
* Actual behavior shown

[2021-06-09 16:29] Bessonov commented on #37471
/remove-lifecycle stale

[2021-06-09 16:49] CharlieReitzel commented on #50309
I'm seeing `$HOSTNAME` matches the Pod name (vs. container).   But, if metadata can be used to create an environment variable of your choosing (based on discussion above), would the following work?

[code]

[2021-06-09 16:55] rikatz commented on #102493
@dims about the qemu-x86_64-static I've removed it from base image and re-created everything and it has just build fine. I've tracked the addition to https://github.com/kubernetes/release/pull/1909

@saschagrunert can you help us clarifying the need of this file inside the image? :D

Here are some results so far (I'm showing just the amd64 now, but the gain is similar for other images as well)

Be

[2021-06-09 16:59] larry-cable commented on #50309
Hi @CharlieReitzel @alexlren thanks for the suggestions, however I do not wish to rely upon implementation convention for this, since that is not a reliable API commitment that the Java platform could rely upon.

[2021-06-09 17:02] dims commented on #102493
thanks a ton @rikatz I'll take the 30% savings anyday!

![image](https://user-images.githubusercontent.com/23304/121397968-dc7a3680-c922-11eb-96f8-abd3db1182ac.png)

[2021-06-09 17:17] #102651 closed

[2021-06-09 17:46] swatisehgal commented on #98970
Did some investigation on this and ran InitContainer NodeConformance tests a few times but could not replicate this issue and the tests passed without any problem. The dashboard [here](https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind&include-filter-by-regex=InitContainer) shows no failures which made it appear that there could be underlying infrastructure setup issue

[2021-06-09 18:05] 2rs2ts commented on #72320
/remove-lifecycle stale

[2021-06-09 18:17] BenTheElder commented on #102493
Tracked it back to the original addition here https://github.com/kubernetes/release/pull/2113#discussion_r648546476

I don't think we need this, and haven't for ... years.

[2021-06-09 18:17] odinuge commented on #102148
https://testgrid.k8s.io/sig-node-kubelet#pr-node-kubelet-serial

@ehashman @fromanirh  :tada:

[2021-06-09 18:30] MikeSpreitzer opened #102743 "DynamicKubeletConfig logs nothing when dynamic-config-dir is missing"
#### What happened:
I tried to use DynamicKubeletConfig, but the kubelet did not react.  I followed the instructions up through https://kubernetes.io/docs/tasks/administer-cluster/reconfigure-kubelet/#observe-that-the-node-begins-using-the-new-configuration but the node's status got no config section.  No events reported an error.  I ran the kubelet with `-v=5`, and it logged no relevant complaint

[2021-06-09 18:31] MikeSpreitzer commented on #102743
@kubernetes/sig-node-bugs

[2021-06-09 18:32] neolit123 commented on #102715
thanks for checking the logs. let's keep a single tracking issue for this problem:
https://github.com/kubernetes/kubernetes/issues/99305

/close

[2021-06-09 18:32] #102715 closed

[2021-06-09 18:50] jsturtevant commented on #97783
/remove-lifecycle stale

[2021-06-09 18:53] MikeSpreitzer opened #102744 "Kubelet does not update its node's leaseDurationSeconds"
#### What happened:
After creating my cluster, I tweaked one kubelet's config to change its NodeLeaseDuration to 100 seconds.  The kubelet echoed the new config to the journal and changed its behavior to renew its lease every 25 seconds --- but it did _not_ update the `spec.leaseDurationSeconds` field of its Lease, that still says "40".

#### What you expected to happen:
I expected the Lease to re

[2021-06-09 18:53] MikeSpreitzer commented on #102744
@kubernetes/sig-node-bugs

[2021-06-09 18:56] tallclair commented on #102019
I put it on the agenda for next week (June 16th)

[2021-06-09 19:06] raisaat commented on #58138
I followed the instructions on https://github.com/kubernetes/kubernetes#to-start-developing-k8s. All I did was change the first two commands to:
`mkdir -p ~/$GOPATH/src/k8s.io
cd ~/$GOPATH/src/k8s.io`

i.e. I cloned and built it from my home directory

[2021-06-09 20:35] #102649 closed

[2021-06-09 20:50] thockin commented on #102493
A pattern I have picked up for multiple RUN commands is to use multi-stage builds:

[code]

The result just has 1 layer (well, 2, but one is "scratch").

[2021-06-09 21:02] rikatz commented on #102493
The Debian-base image is created actually in a similar way, but instead of doing the multistage, it exports the layers and re-import as a single image -> https://github.com/kubernetes/release/blob/master/images/build/debian-base/Makefile#L95-L102

For debian-iptables image, I did something "similar" just to test but the gain is not that huge. OTOH, what I did (and will wait for the new Debian-base

[2021-06-09 21:06] ankeesler commented on #102650
I've seen this test fail 2 times today on my PR https://github.com/kubernetes/kubernetes/pull/99310:
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99310/pull-kubernetes-integration/1402718119469780992
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/99310/pull-kubernetes-integration/1402696213777616896

Going to hope that I close my eyes and `/retest` and never see it

[2021-06-09 21:28] thockin commented on #102493
My point is that the multi-stage build means you don't have to join all the
RUN commands together.  You can write them more "naturally"

On Wed, Jun 9, 2021 at 2:02 PM Ricardo Katz ***@***.***>
wrote:

[2021-06-09 21:43] rikatz commented on #102493
OK, got it :)

So maybe when I open the PR for debian-iptables, instead of joining the RUN commands we can use the multi-stage if this is better viewable :)

[2021-06-09 21:45] oanhphuong opened #102748 "/assign @MrHohn"
/assign @MrHohn

_Originally posted by @freehan in https://github.com/kubernetes/kubernetes/issues/102710#issuecomment-857197174_

[2021-06-09 21:46] oanhphuong commented on #102748
freehan:net-tier-fix

[2021-06-09 21:50] thockin commented on #102493
It's a minor point - it should produce the same result for RUN
commands.  It's strictly better in the case of COPY (you can't merge
COPY commands or COPY+RUN commands)

On Wed, Jun 9, 2021 at 2:43 PM Ricardo Katz ***@***.***> wrote:

[2021-06-09 21:53] willdeuschle commented on #98548
/remove-lifecycle rotten

[2021-06-09 22:06] nickgerace opened #102749 "Hitting 34s timeouts with server-side apply on large custom resource objects"
#### What happened:

Performing server-side apply on a CR of at least 700KB in size results in 34 second timeout with Kubernetes 1.19.10+ and Kubernetes 1.20+.

#### What you expected to happen:

Like the creation and deletion events, I expected the update event to take a minimal amount of time. Understandably, our particular CR in question has a large `status` field (which is being trimmed down t

[2021-06-09 22:09] nickgerace commented on #102749
/wg api-expression

[2021-06-09 22:15] jicowan opened #102750 "CredentialProvider fails to read environment variable passed into the CredentialProviderConfig file"
#### What happened:
I am attempting to pull an image from ECR using the new kubelet image credential provider feature which is an alpha features in Kubernetes v1.20. My CredentialProviderConfig file includes the environment variable AWS_PROFILE which resides in the default (~/.aws) directory. The profile references a `credential_process` which allows me to execute a binary that returns a set of te

[2021-06-09 22:18] jicowan commented on #102750
/sig Node

[2021-06-09 22:37] prameshj commented on #102096
Thanks @aojea . Can we close this, @jkaniuk ?

[2021-06-09 22:37] prameshj commented on #102096
/assign @jkaniuk

[2021-06-09 22:38] prameshj commented on #23864
Thanks for the responses on the survey! I added this topic for discussion in sig-network meeting tomorrow and will post an update here after that.

[2021-06-09 22:48] #92468 closed

[2021-06-09 23:08] BenTheElder commented on #99979
In the job artifacts there are multiple places with this info including the clone records/logs, and started.json

In testgrid it's a row.

[2021-06-09 23:25] BenTheElder commented on #102607
I still see the other tests above broken locally, will file separate issues.

Opening a PR to see if we even depend on the timeout.

[2021-06-09 23:29] BenTheElder opened #102754 "`k8s.io/kubectl/pkg/cmd/version` `TestNewCmdVersionWithoutConfigFile` always fails locally"
/sig cli

run `make test` (or just `make test WHAT=k8s.io/kubernetes/vendor/k8s.io/kubectl/pkg/cmd/versionn`).

observe failure:

[code]

xref: https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-854985308

[2021-06-09 23:33] BenTheElder opened #102757 "k8s.io/legacy-cloud-providers/gce TestBasePath always fails locally"
/sig cloud-provider
/area provider/gcp

run `make test` (or just `make test WHAT=k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/gce`.

observe failure:

<details>

[code]
</details>

also the logs from this failure are pretty low signal/noise ...

xref: https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-854985308

[2021-06-09 23:43] BenTheElder commented on #102757
cc @prameshj ref: https://github.com/kubernetes/kubernetes/pull/102381

[2021-06-09 23:51] ehashman commented on #99979
yeah afaict since the tests ran on my PR after your fix was merged into master, it showed the flake was still present :( Prow will always use the latest master when running CI.

[2021-06-10 00:25] prameshj commented on #102757
I see the same failure too.. I think somehow the mtls endpoint is being generated on a call to [NewClient](https://github.com/kubernetes/kubernetes/blob/f3371ced8593498a472452805b8ba212d67ea47d/vendor/google.golang.org/api/transport/http/dial.go#L30) which calls [this](https://github.com/kubernetes/kubernetes/blob/f3371ced8593498a472452805b8ba212d67ea47d/vendor/google.golang.org/api/transport/http

[2021-06-10 00:34] prameshj commented on #102757
Verified that the test passes with fix.

[2021-06-10 00:35] BenTheElder commented on #102757
does this test depend on a live network connection then? or GCP credentials?

either would be ... not ideal for a unit test.

[2021-06-10 00:35] BenTheElder commented on #102757
thank you for looking into this.

[2021-06-10 01:09] BenTheElder commented on #102607
Searching for the right timeout default in https://github.com/kubernetes/kubernetes/pull/102758
240s seems quite high anyhow, I'd rather reduce it when moving the default in-tree instead of in CI config.

[2021-06-10 01:27] 249043822 commented on #102723
/assgin @liggitt

[2021-06-10 01:28] 249043822 commented on #102723
/assign @liggitt

[2021-06-10 01:42] BenTheElder commented on #98815
still seems important?
@kubernetes/sig-storage-misc
/remove-lifecycle rotten

[2021-06-10 02:08] pacoxu commented on #102743
https://github.com/kubernetes/enhancements/blob/e324e84516eff5119750a717851e934f6a197fdf/keps/sig-node/281-dynamic-kubelet-configuration/kep.yaml#L35-L37

According to #100799 and the kep above, DynamicKubeletConfig will be deprecated in 1.22 and removed in 1.24.
/cc @SergeyKanzhelev

[2021-06-10 02:13] pacoxu commented on #102737
Do you use https://github.com/kubernetes-sigs/azuredisk-csi-driver?
/cc @andyzhangx

[2021-06-10 02:18] mlmhl opened #102761 "Add pre-condition check for bind operation"
#### What would you like to be added:

Currently kube-scheduler binds pod asynchronously, this may lead to a race condition, consider the following scenario:

1.  User submits a StatefulSet with one replica(Pod)
2. Kube-scheduler schedules the pod, and tries to bind the pod in an asynchronous goroutine
3. User updates the StatefulSet, may be that the version of the image has been modified, or the

[2021-06-10 02:19] mlmhl commented on #102761
/sig api-machinery

[2021-06-10 02:20] MikeSpreitzer commented on #102743
Yes, I thought we might want it to not be such a sharp edge while it is still present.

[2021-06-10 02:20] mlmhl commented on #102761
/sig scheduling

[2021-06-10 02:43] pacoxu commented on #102727
The error log seems to be kubelet log which pointed to the cri error pulling image.
/sig node

I only find similar issues in https://github.com/kubernetes-sigs/cri-tools/issues/436#issuecomment-464290289 and https://github.com/kubernetes-sigs/cri-tools/issues/710. Would you try?

[2021-06-10 02:43] SataQiu commented on #102738
/assign

[2021-06-10 02:46] pacoxu commented on #102732
/sig apps

[2021-06-10 02:55] SataQiu commented on #102738
/unassign

[2021-06-10 03:00] wzshiming commented on #102732
/assign

[2021-06-10 03:01] andyzhangx commented on #102737
thanks for the info, https://github.com/kubernetes-csi/csi-proxy/pull/123 should fix this issue, while I think we also need to port that fix to in-tree driver? cc @jingxu97

[2021-06-10 03:01] andyzhangx commented on #102737
/sig storage
/sig windows

[2021-06-10 03:13] vsxen commented on #21248
kubelet --version
Kubernetes v1.21.1

when use text format STDERR also print in screen.

[code]

when I use json format, kubelet will exit

[code]
ping
https://github.com/kubernetes/kubernetes/pull/102716

[2021-06-10 03:37] softputer commented on #102727
i found the problem ald.
it is because  the containerd 1.4.6 has upgrade pkg/apis/runtime/v1alpha2 to pkg/apis/runtime/v1
but kubemark 1.21.1 still invoke pkg/apis/runtime/v1alpha2, that caused the problem

[2021-06-10 03:37] #102727 closed

[2021-06-10 03:42] leontius commented on #99675
/assign

[2021-06-10 03:45] leontius commented on #99675
/assign

Will be working on these files:

./staging/src/k8s.io/api/core/v1/types.go

[2021-06-10 03:56] victor-sudakov commented on #55713
I have never seen this happen unless the pods are part of a deployment. If you have created a pod ("kind: Pod", not "kind: Deployment") it never gets rescheduled. Maybe it's by design?

[2021-06-10 04:01] pacoxu commented on #102650
@ankeesler
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=TestExecPluginRotationViaInformer
![image](https://user-images.githubusercontent.com/2010320/121462322-04c96a00-c9e3-11eb-9295-aaddf33c3310.png)

[2021-06-10 04:40] BenTheElder opened #102762 "`k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/util/x509metrics` always fails locally"
`TestTLSConfig` and `TestCheckForHostnameError` both fail reliably in my local environment. xref: https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-854985308

[code]

Unit tests should pass reliably, and not just in CI.

reproducing: `make test WHAT=k8s.io/kubernetes/vendor/k8s.io/apiserver/pkg/util/x509metrics`

/sig api-machinery

[2021-06-10 04:47] BenTheElder commented on #102762
I discovered that my local env was on go1.16.3, but we're not on 1.16.5, I think the TLS unit tests are sensitive to this in some way.

`make test` should probably be checking for at least go1.16.5, I will follow up with that instead.

[2021-06-10 04:55] vsxen opened #102763 "kubelet should check new container can be created to decide node is health"
PLEG just check running container is no enough.

It is more useful than NPD  https://github.com/kubernetes/node-problem-detector

[2021-06-10 04:59] BenTheElder commented on #102607
so the TLS test failures seem to be related to my local env having go1.16.3 by default but they pass with go1.16.5

we are only validating that the user has at least 1.16.0 currently (which is also a fun quirk, since go1.16 is a go version but go1.16.0 is not actually ...).

[2021-06-10 04:59] BenTheElder commented on #102754
https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-858300307 following up here in the original issue for now.

[2021-06-10 05:00] BenTheElder commented on #102762
https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-858300307 following up here in the original issue for now.

[2021-06-10 05:00] #102762 closed

[2021-06-10 05:55] BenTheElder opened #102765 "minimum go version is not accurate"
#### What happened:

https://github.com/kubernetes/kubernetes/issues/102762, https://github.com/kubernetes/kubernetes/issues/102607#issuecomment-854985308

Multiple unit tests in multiple packages fail with go1.16.3, which passes the current 1.16.0 minimum version check. They pass with go1.16.4, go1.16.5.

#### What you expected to happen:

The minimum version check should fail when I do not have

[2021-06-10 06:21] MikeSpreitzer opened #102767 "Example kubeadm config has host addresses in the pod subnet"
#### What happened:
I am trying to learn how to use kubeadm well and it looks like there may be a problem in the example configuration in https://github.com/kubernetes/kubernetes/blob/v1.21.1/cmd/kubeadm/app/apis/kubeadm/v1beta2/doc.go#L155-L253 .  It says `podSubnet: "10.100.0.1/24"`, but also uses address 10.100.0.1 for various host things like the kube-apiserver and the etcd server and the sche

[2021-06-10 06:22] MikeSpreitzer commented on #102767
@kubernetes/sig-multicluster-misc

[2021-06-10 06:23] BenTheElder commented on #102607
https://github.com/kubernetes/kubernetes/issues/102765 will cover the TLS unit test issues / minimum go version, PR out https://github.com/kubernetes/kubernetes/pull/102766

https://github.com/kubernetes/kubernetes/issues/102754 for the kubectl test

https://github.com/kubernetes/kubernetes/issues/102757 for the GCE cloud provider test (recently added, PR out already https://github.com/kubernetes/

[2021-06-10 06:38] BenTheElder commented on #102767
seems more like sig/cluster-lifecycle?

[2021-06-10 06:38] BenTheElder commented on #102767
/area kubeadm

[2021-06-10 06:41] MikeSpreitzer commented on #102693
If I recall correctly, I used the following config file for `kubeadm init`.
[code]

[2021-06-10 06:47] BenTheElder commented on #102607
Still stuck on https://github.com/kubernetes/kubernetes/issues/99881 with one remaining test blocking ensuring we run tests as a non-root user. Reached out again for help in #sig-storage and #sig-testing slack. If nobody picks it up I'll try to dig into that soon but I'm hoping someone more familiar with the package can find it sooner and make a reasonable fix.

https://github.com/kubernetes/kuber

[2021-06-10 06:57] MikeSpreitzer commented on #102767
Sorry, typo, corrected.

[2021-06-10 06:57] MikeSpreitzer commented on #102767
But the 'bot does not seem to have noticed the edit.

@kubernetes/sig-cluster-lifecycle

[2021-06-10 06:59] MikeSpreitzer commented on #102767
/remove-sig multicluster

[2021-06-10 06:59] MikeSpreitzer commented on #102767
/sig cluster-lifecycle

[2021-06-10 07:03] BenTheElder commented on #102767
yeah, FWIW commands are never evaluated on comment edit versus a new comment so that trivial edits do not e.g. restart tests etc.

also no need to apologize! just trying to make sure things get the attention of the right folks. @neolit123 in particular seems to stay pretty on top of SCL/kubeadm issues 🙃

[2021-06-10 07:05] softputer commented on #102727
i changed this to make it work
	//f.RemoteImageEndpoint = "/run/containerd/containerd.sock"
	f.RemoteImageEndpoint = "/var/run/dockershim.sock"

[2021-06-10 07:15] saschagrunert commented on #102480
Exactly :+1:

[2021-06-10 07:16] SataQiu commented on #102762
Passed with go1.16.2
[code]

[2021-06-10 07:16] saschagrunert commented on #91286
/remove-lifecycle stale

[2021-06-10 07:30] Revolution1 commented on #49792
one-service-per-pod is not acceptable
The nodeport should be uniqe acrross the cluster, but I may need to run 10,000+ pods, each takes one port will quickly use up all ports of the cluster.

[2021-06-10 07:45] wangyysde commented on #102724
@According to: tanjing2020 https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#get-connect-proxy-path-pod-v1-core : "The priority value. Various system components use this field to find the priority of the pod. When Priority Admission Controller is enabled, it prevents users from setting this field. "  It is conformable to log message:"the integer value of priority (1) must not be

[2021-06-10 07:46] BenTheElder commented on #102762
on linux I see this fail with go1.16.3 but not with 1.16.4+

[2021-06-10 07:52] #81759 closed

[2021-06-10 08:07] BorjaEst commented on #94892
Indeed I think that could be a proper solution. Probably better than what I suggested.

Yes, the problem then is  that I cannot provide my cluster as a service, or it would be too complicated to automate this ENTRYPOINT identification.

[2021-06-10 08:51] Velociraptor85 commented on #101056
Update to 1.4.6 fix the issue for me too

[2021-06-10 08:53] pacoxu commented on #102767
https://github.com/kubernetes/kubernetes/blob/bc8acbc43eea13effc6c2034a82e7d56ba2d9eb6/cmd/kubeadm/app/apis/kubeadm/v1beta3/types.go#L150-L152

It seems to be intended as the comments above.

[2021-06-10 08:55] aojea commented on #78995
I think that what has to be done is to have an alternative as reliable as cluster or better, I'm not saying that cluster is great, but I didn't see anything better so far ... and this is very easy to measure with testgrid

[2021-06-10 09:00] pacoxu commented on #102767
The podSubnet part in the dual stack example is suggested by @aojea in https://github.com/kubernetes/website/pull/26675#discussion_r584168282

[2021-06-10 09:48] aojea commented on #102767
he is right, the docs are wrong

should be 10.100.0.0/24, but I think that is more an aesthetic issue, and the code will take the right subnet, but for docs is better to be pedantic

yeah, that is why I always suggest to use subnets with more clear differentiation, 10.100.0.0/24 and 10.100.1.0/24 are easy to get wrong, however , 10.96.0.0/16 and 10.244.0.0/16 are not

[2021-06-10 09:55] chendave commented on #95131
thanks @alculquicondor , pls let me think about this.

[2021-06-10 10:30] richardcase commented on #98380
I am encountering this issue as well with v0.21.1.

[2021-06-10 10:35] mohammaDJ23 opened #102771 "Kubernetes installation starting forever"
I'm using microservices architecture in the backend (node js), i created images for all of them with docker and now i need kubernetes to run all of the services together. when i want to install kuberbetes from docker desktop, its starting forever. I tried several solutions but none of them worked. my system operation is Windows 10 Enterprise.

- I deleted config file in **C:\Users\<user name>\.kub

[2021-06-10 10:45] simonwgill commented on #93476
@howardjohn if you're still facing this issues, I did have to think about this a bit. A potential solution is to use an extra metric.

```If multiple metrics are specified in a HorizontalPodAutoscaler, this calculation is done for each metric, and then the largest of the desired replica counts is chosen. If any of these metrics cannot be converted into a desired replica count (e.g. due to an error

[2021-06-10 11:44] george-angel commented on #85643
/remove-lifecycle stale

[2021-06-10 12:20] squaricdot commented on #61572
In case of multiple service accounts you'll receive multiple keys and you'll get base64 decoding issues.

`kubectl get secret -o jsonpath="{.items[?(@.type==\"kubernetes.io/service-account-token\")].data['ca\.crt']}" | sed -e 's/\(.*\)\s.*$/\1/g'`

bit of `sed`-ing would offcourse get rid of it.

[2021-06-10 12:35] matthyx commented on #99979
Sorry for doubting what you said... I was probably in deny and hoped this annoyance was fixed once for all :(

[2021-06-10 12:53] jkaniuk commented on #102096
Thanks. Yes, we can.

[2021-06-10 12:53] #102096 closed

[2021-06-10 13:09] neolit123 commented on #102693
Kubeadm does not parse "extra args" as a something to add to SANs or join
command. --advertise-address or the init/join configuration advertise
address should be used instead.

I think our example for advertise address here should be removed.

https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/control-plane-flags/#apiserver-flags

Lets move the discussion to your k/website ticke

[2021-06-10 13:09] #102693 closed

[2021-06-10 13:21] usernameisnull commented on #85454
when use `kubeadm init` , the content in `/etc/kubernetes/manifests/kube-controller-manager.yaml` will be overwriten，how to specify the hyperkube image when init?

[2021-06-10 13:24] druman55 commented on #99349
I am having the same problem.

FYI - setting `stabilizationWindowSeconds` to 299 did not resolve the issue for me.

Note that the current HPA value is 20, and target is 100.  Seemingly whenever my metrics rise above 0 the deployment scales up aggressively - sometime straight to max and sometimes it takes a few 15 second windows to reach max (controlled by the scale up policy it seems).

**kubectl

[2021-06-10 13:25] neolit123 commented on #85454
I do not think you should use the hyperkube workaround. Hyperkube is
deprecated and no longer published.

Instead you could build your own controller manager image.

I do not know waht is the latest official statement about RDB support.

[2021-06-10 13:31] yehiyam commented on #94892
I think that parsing and changing the ENTRY POINT is very error prone in the general case

The log volume solution seem like a good way to go. Is there anything I can help with?

[2021-06-10 13:32] mowangdk opened #102776 "The pod fails to start due to the failure to mount the cloud disk after restarting several times"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-06-10 13:33] #102776 closed

[2021-06-10 13:33] mowangdk opened #102777 "The pod fails to start due to the failure to mount disk after restarting several times"
#### What happened:

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network

[2021-06-10 13:34] #102777 closed

[2021-06-10 13:51] wangyysde commented on #102771
/sig windows

[2021-06-10 13:57] mowangdk opened #102779 "Pod fails to start after restarting rapidly"
#### What happened:

the following error is reported when the pod is created.

#### What you expected to happen:

the pod start normally

#### How to reproduce it (as minimally and precisely as possible):

1. Create multiple pods with cloud disks on a limited number of nodes， e.g  sts(Parallel) replicas 20 in 2 nodes
2. Shrink the replicas of sts to 0
3. When all pods enter terminating state，expan

[2021-06-10 14:00] mowangdk commented on #102779
/sig storage

[2021-06-10 14:07] fromanirh opened #102780 "podresources API NPE if cpumanager featuregate is disabled"
#### What happened:
Iff the cpumanager feature gate (default: enabled) is explicitely disabled, calling podresources API causes a NPE in the kubelet.
The stacktrace looks like
[code]
This applies to any podresources API (either `List` or `GetAllocatableResources`)

**Only triggers if the cpumanager feature gate is explicitely disabled (it is enabled by default in 1.20+) https://github.com/kubernet

[2021-06-10 14:07] fromanirh commented on #102780
/sig node
/triage accepted

[2021-06-10 14:50] josephburnett commented on #102362
I'm unable to get a v2 HPA object when I set this up with `kubetest --build --up`.

[code]
[code]

[2021-06-10 14:52] serathius commented on #99265
/help cancel

[2021-06-10 14:52] serathius commented on #99265
/remove-help

[2021-06-10 14:52] #97908 closed

[2021-06-10 14:52] serathius commented on #99267
/remove-help

[2021-06-10 15:11] danishprakash commented on #102369
Yeah, I'll be sharing an update over the weekend.

[2021-06-10 15:23] cprivite commented on #47202
/reopen

[2021-06-10 15:23] #102767 closed

[2021-06-10 15:25] cprivite commented on #47202
Hey there, @kubernetes/sig-apps now that the new controller is out in beta, can we get this issue opened again?

[2021-06-10 15:25] ehashman opened #102782 "[Failing test] [sig-node] Eviction tests are failing"
#### Which jobs are failing:

SIG Node serial eviction tests.

#### Which test(s) are failing:

All of [NodeFeature:Eviction] tests

#### Since when has it been failing:

Unknown; probably the root cause of the node-serial job timing out for many months. (see https://github.com/kubernetes/kubernetes/issues/102148)

#### Testgrid link:

Not one yet; looking into splitting these into their own job f

[2021-06-10 15:30] howardjohn commented on #93476
@simonwgill unfortunately that would not help us, as we are shipping a software to many users, not deploying it ourselves, so we cannot control things like this. In general cluster scaling operations tend to be fairly hands-off and automatic for some users as well

[2021-06-10 15:35] ehashman commented on #100788
@cynepco3hahue any updates on this?

[2021-06-10 15:36] cprivite commented on #47202
@soltysh Are you able to re-open this now that the controller is done? I don't see any other thread tracking progress of timezone support and this seems to be the best one to re-open.

[2021-06-10 15:38] ehashman commented on #98265
@knabben any updates on this?

[2021-06-10 15:41] endocrimes commented on #102782
/triage accepted
/priority important-soon

[2021-06-10 15:44] ehashman commented on #96068
Duplicate of #100788 - since CI team is tracking that issue I will close this as a dupe.

/close

[2021-06-10 15:44] #96068 closed

[2021-06-10 15:46] ehashman commented on #99437
/unassign @fromanirh
/assign @matthyx

[2021-06-10 15:49] ehashman commented on #75355
@fromanirh has been unable to reproduce locally. We are still seeing occasional timeouts in CI: https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/102532/pull-kubernetes-e2e-kind/1400086685177352192

Since this was the only timeout on that test run, we may want to consider tweaking the timeout thresholds?

[2021-06-10 15:50] avestuk commented on #45419
It appears that an upgrade to containerd 1.4.6-1 can also fix this issue.

[2021-06-10 15:51] ehashman commented on #99673
/remove-lifecycle stale

@adisky will create a PR to remove this and we can discuss further there.

[2021-06-10 15:51] ehashman commented on #94289
/remove-lifecycle stale

Let's discuss this next week.

[2021-06-10 15:52] #80114 closed

[2021-06-10 15:55] ehashman commented on #99979
Plan: we'll see if Clayton's pod lifecycle refactor and/or the jitter refactor for probes affects this.

[2021-06-10 15:59] jwierzbo commented on #89898
Had you got a chance to test the limits after kernel patching?

[2021-06-10 16:18] caseydavenport commented on #101491
Looks like we're still missing important environmental information which makes it impossible to triage this one. In general, I'd recommend against using ExternalIP as a means to access services from within the cluster unless there's a reason to do so.

Going to close this for now but we can re-open if we get more information!

/close

[2021-06-10 16:18] #101491 closed

[2021-06-10 16:23] druman55 commented on #99349
As additional follow up, everything about the HPA seems to be working properly as far as the behavior settings.  It's just looking at 20/100 and thinking "Yep, we should scale up, ALL the way!"

Is there a way to get more verbosity from `horizontal-pod-autoscaler` ?

[2021-06-10 16:32] mborsz opened #102784 "gce-master-scale-performance fails with konnectivity errors"
#### What happened:
After https://github.com/kubernetes/kubernetes/pull/102661 the gce-master-scale-performance started failing with errors like:

[code]

https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-performance

In a sample run I see a lot of errors like:

[code]

 in konnectivity-server logs:

https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gce-scal

[2021-06-10 16:33] mborsz commented on #102784
/sig cloud-provider

[2021-06-10 16:38] mborsz commented on #102784
/priority critical-urgent

[2021-06-10 16:53] #97852 closed

[2021-06-10 17:02] prameshj commented on #102757
it does not require either. The test is to make sure the go/compute API does not change the basePath syntax. We saw some version drop the "projects/" suffix, so want to make sure upgrading to a new compute API version does not break basePath assumptions.

[2021-06-10 17:31] BenTheElder commented on #102757
Ok great, thanks.

Do we know why it is changing locally? Ideally we want tests to reproduce locally, yet this dependency seems to be aware of CI vs local.

[2021-06-10 17:35] logicalhan commented on #81863
/cc @coffeepac

This is one of the existing issues, probably a good one for getting your feet wet. In order to repro, you can go into `pkg/kubelet/certificate/kubelet.go` and set one of the metrics to stable (like https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/certificate/kubelet.go#L63). Then, if you run [hack/verify-generated-stable-metrics.sh](https://github.com/kubernetes/kub

[2021-06-10 18:33] BenTheElder commented on #102771
We don't really provide support for commercial installers here, Docker Desktop is a proprietary solution that should be providing their own support? We don't have the details of how it provisions the cluster etc. / it's not even open source.

The logs here are not from any part of the Kubernetes project.

[2021-06-10 18:33] #102771 closed

[2021-06-10 18:37] mauriciopoppe opened #102787 "Refactor preparePVCDataSourceForProvisioning to support BlockVolume tests in multivolume.go"
#### What would you like to be added:

In https://github.com/kubernetes/kubernetes/pull/102775 block volume tests were skipped because `preparePVCDataSourceForProvisioning` is not using `utils.CheckWriteToPath / utils.CheckReadFromPath`, there are more details about how these functions are used in `TestConcurrentAccessToSingleVolume`

This is a test that uses the [XFS](https://cloud.google.com/con

[2021-06-10 18:40] SergeyKanzhelev commented on #79432
/reopen

to track #101039 merge

[2021-06-10 18:40] neolit123 commented on #102733
this version is not in support. try 1.19+

/remove-kind bug
/kind documentation
/sig apps

[2021-06-10 18:42] neolit123 commented on #102720
/sig apps

[2021-06-10 18:43] BenTheElder commented on #102771
https://www.docker.com/docker-community may have some pointers, or perhaps https://forums.docker.com/c/docker-desktop-for-windows/

[2021-06-10 18:57] yuanchen8911 opened #102790 "kube-scheduler missed "add event for unscheduled pod""
#### What happened:

In a multi-master cluster, kube-schedulers on some masters, including the leader, missed a pod submission event. As a result, the pod had been in pending state without being scheduled for a few hours until the leader scheduler was restarted. The pod then got scheduled by the new leader as it had the pod in its scheduling queue. The old leader received the `event for unschedule

[2021-06-10 18:59] yuanchen8911 commented on #102790
/sig scheduling

[2021-06-10 19:17] rptaylor commented on #61572
If `kubectl config view` shows you the CA then you already have the CA locally in your kubeconfig, so it isn't really getting the CA from the cluster, right?

If you somehow do already have credentials to authenticate to the cluster, but don't have the cluster CA in your kubeconfig (it can be an empty string)
[code]

then you can do `kubectl --insecure-skip-tls-verify -n kube-public describe confi

[2021-06-10 19:22] BenTheElder opened #102792 "`pkg/proxy/config` `TestInitialSync` flake"
#### Which jobs are flaking:

`pull-kubernetes-unit`

#### Which test(s) are flaking:

`pkg/proxy/config` `TestInitialSync`

#### Testgrid link:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestInitialSync

( couldn't find a functional testgrid link, but triage should do)

#### Reason for failure:

[code]

#### Anything else we need to know:

sample:
https://prow.k8s.

[2021-06-10 19:33] alculquicondor commented on #98860
HPA might play a role. Note that spreading constraints are only applied during scheduling, not when removing pods. So if HPA recommends a scale down, a ReplicaSet might end up with unbalanced pods.

We are trying to improve that in 1.21 (alpha) and 1.22 (beta) https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/2185-random-pod-select-on-replicaset-downscale

[2021-06-10 19:53] aojea commented on #102646
The ports are forwarded using iptables, if you use kube-proxy in iptables mode.
The socket that you see is a safeguard to avoid other process binding to the port, is not the service port

You can check the rules with `iptables-save`.

[2021-06-10 20:04] ahg-g opened #102793 "Scheduler: deprecate Policy config"
Policy config is the legacy scheduler configuration API that is being replaced with the standard ComponentConfig one.

This is a tracking issue for deprecating policy config once CC is GA.

- [ ] Remove the flag
- [ ] Remove legacy registry and related factory code

/sig scheduling

[2021-06-10 20:07] aojea commented on #93932
7 days without failures https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness&include-filter-by-regex=ExternalTrafficPolicy&width=90

let's close it ... and reopen if necessary
/close

[2021-06-10 20:08] jsturtevant commented on #100962
closing since @djboris9 was able to fix.  We have an open issue to track kube-proxy discovering source-vip without need to do it manually: https://github.com/kubernetes/kubernetes/issues/96996

/close

[2021-06-10 20:08] #100962 closed

[2021-06-10 20:09] alannatodd commented on #102573
Also, not really related but should this:
https://github.com/kubernetes/kubernetes/blob/53873fbf23aa357aeae6e1b6f8cd8459fd459407/pkg/scheduler/scheduler.go#L525

be this:
`klog.ErrorS(nil, "Status after running PostFilter plugins for pod", "pod", klog.KObj(pod), "status", status)`
(missing the "pod" key from the key-value name argument)

[2021-06-10 20:12] adampl commented on #55713
@victor-sudakov Yes, a Pod is by definition bound to a certain Node. Rescheduling is nothing else than deleting and creating a new Pod, which is usually controlled by a ReplicaSet, which is usually owned by a Deployment.

[2021-06-10 20:12] fedebongio commented on #102718
/help
/triage accepted

[2021-06-10 20:13] fedebongio commented on #102724
thank you @wangyysde for taking this one, let us know if you need help.
/triage accepted

[2021-06-10 20:14] fedebongio commented on #102761
/remove-sig api-machinery

[2021-06-10 20:15] fedebongio commented on #102792
/sig network

[2021-06-10 20:17] fedebongio commented on #102663
/triage accepted

[2021-06-10 20:32] BenTheElder commented on #102757
thanks!

[2021-06-10 20:51] Jiawei0227 opened #102794 "pull-kubernetes-e2e-gce-storage-slow is too flaky"
#### Which jobs are flaking:
pull-kubernetes-e2e-gce-storage-slow

#### Which test(s) are flaking:
pull-kubernetes-e2e-gce-storage-slow

#### Testgrid link:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-storage-slow?buildId=1400760320842010624

#### Reason for failure:
seems timeout. Havent dig deeper

#### Anything else we need to know:
- links to

[2021-06-10 20:52] BenTheElder commented on #102765
pretty sure something was wrong with my system go. cannot replicate on a fresh 1.16.3 install.

[2021-06-10 20:52] #102765 closed

[2021-06-10 20:53] BenTheElder commented on #102762
pretty sure something was wrong with my system go. cannot replicate on a fresh 1.16.3 install.

[2021-06-10 21:06] khenidak commented on #102654
/assign @khenidak

[2021-06-10 21:08] bridgetkromhout commented on #102792
/assign @aojea

[2021-06-10 21:09] bridgetkromhout commented on #102646
/assign @aojea

[2021-06-10 21:10] bridgetkromhout commented on #102575
/assign @rikatz

[2021-06-10 21:13] bridgetkromhout commented on #102398
/assign @jayunit100

[2021-06-10 21:14] jayunit100 commented on #102398
hi  ! can you run

```sonobuoy run --e2e-focus=NetworkPolicy```
and then paste the results of the `e2e.log`  container in here ?

That should give us a nice clear printout of the matrix of connectivity you have, and we'll be able to tell you exactly whats wrong :)

[2021-06-10 21:15] bridgetkromhout commented on #102392
This seems like a sig-node issue - removing sig-network for now.

/remove-sig network

[2021-06-10 21:24] bridgetkromhout commented on #102128
Closing now, but yes, we would be happy to get "any reasonable simple SCTP test program". Thanks.

/close

[2021-06-10 21:24] #102128 closed

[2021-06-10 21:31] khenidak commented on #102654
Thanks @VivekThrivikraman-est for reporting this.

**Issue 1)**
a) Create a new service with following config: ipFamilyPolicy: RequireDualStack and ipFamilies: ["IPv4","IPv6"]
**[Kal]** This is fine on a dual stack cluster. Setting both Policy and families in a - any - desired order.

b) Edit the service created above and try to apply following config: ipFamilyPolicy: SingleStack and ipFamilies: [

[2021-06-10 21:47] chirangaalwis commented on #102575
Updating the issue thread with the sig-autoscaling Slack channel discussion (https://kubernetes.slack.com/archives/C09R1LV8S/p1622610189078100) with @gjtempleton.

[2021-06-10 21:51] Huang-Wei commented on #102573
Yes, my rough idea is to make the current stringified "status" message more structured, something like:

[code]

We can have different logging templates and helpers to ease the log dumping, as well as eventing.

[2021-06-10 21:52] Huang-Wei commented on #102573
@alannatodd Thanks for the interest. We can brainstorm here and get to an initial consensus first.

[2021-06-10 21:56] dcbw commented on #102613
/triage accepted
/priority important-longterm

[2021-06-10 22:32] druman55 commented on #99349
At least on our end, the mystery has been solved!!!

When we create Deployments we do it by replacing several variables in a Deployment Template.  Most of these replacements are for the serviceName, but they also include memory, CPU reservations, etc which we manage elsewhere.

One of the replacements was missed, and all of the deployments on our cluster were being spun up looking like the same "R

[2021-06-10 22:35] dbgoytia commented on #102787
Hey team! I'd like to further investigate on this issue if possible?

[2021-06-10 23:25] dbgoytia commented on #102787
/assign

[2021-06-10 23:54] renukamanavalan opened #102797 "kubernetes1.21.1 : Join from second master makes apiserver in first master, fails & exits"
#### What happened:
**Steps:**
1) Install kubelet, kubectl & kubeadm which by default installs 1.21.1
2) Run kubeadm init with control-end-point with VIP, advertise address as this-host-ip
[code]
3) Watch kubectl get nodes to see first master running fine.
[code]
4) Install same in second master, copy admin.conf & /etc/kubernetes/pki/* files from first master and run join as below
`kubeadm join --

[2021-06-10 23:58] jsturtevant commented on #96639
/remove-lifecycle stale

[2021-06-10 23:59] jkh52 commented on #102582
As long as this stays DaemonSet, these broader tolerations seem acceptable.

With GKE we have switched to Deployment, and intentionally do not have these broad tolerations (to avoid poor interaction with cluster-autoscaler). @MaciekPytel

[2021-06-11 00:26] #102784 closed

[2021-06-11 00:54] #93129 closed

[2021-06-11 01:06] jkh52 commented on #102784
We may need to re-open this, if there are still uncovered problems (or if we need to re-tune) after watching next test runs.

[2021-06-11 01:32] furkanmustafa commented on #47202
I've been watching here for almost 2 years now. From time to time, I come here, to refresh my feelings about how this project and its direction is maintained.

@iterion sorry for bothering you after so many years you've opened this issue. I hope this message finds you well.

@k8s-ci-robot says; "You can't reopen an issue/PR unless you authored it or you are a collaborator."

I think you can re-ope

[2021-06-11 01:54] yangjunsss commented on #9043
It seems *Kruise* resolve the update container in-place, but not the request & limit of container.

[2021-06-11 02:05] iterion commented on #47202
/reopen

[2021-06-11 02:07] iterion commented on #47202
I can and I'd love to write the implementation again! I'm so glad to see this being revisited. I've been waiting 4 years for this. 😂

[2021-06-11 02:09] cprivite commented on #47202
For reference, here's the KEP. The part describing timezones in the new spec is near the bottom.
https://github.com/kubernetes/enhancements/tree/master/keps/sig-apps/19-Graduate-CronJob-to-Stable

[2021-06-11 03:15] neolit123 commented on #489
there is a checkpoint / restore KEP here:
https://github.com/kubernetes/enhancements/pull/1990

/remove-lifecycle frozen

[2021-06-11 03:20] neolit123 commented on #45506
not sure why we keep this open still given we have https://github.com/kubernetes/kubernetes/blob/master/build/dependencies.yaml
which gives you a preferred etcd client/server version per k8s release (branch) in machine readable format?

[2021-06-11 03:23] neolit123 commented on #46287
/sig network node
as per the offending component owners.

[2021-06-11 03:28] neolit123 commented on #100761
@sladyn98
i don't see recent flakes of this in https://testgrid.k8s.io/sig-release-master-informing#kubeadm-kinder-latest&width=20

should this be closed?

[2021-06-11 04:25] chenchun opened #102798 "Fake client should support mimic graceful pod deletion"
#### What would you like to be added:
Fake client should support mimic graceful pod deletion. Although fake client supports `AddReactor/PrependReactor` to add  a customize `Reactor` to different requests, it doesn't pass DeleteOptions down to the `Reactor`.

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod.go#L121-L126

#### W

[2021-06-11 04:26] neolit123 commented on #102797
@renukamanavalan
you have opened a number of issues in multiple repositories asking for help on the same problem about setting up an high-availability cluster with kubeadm, which i have closed....i understand your position that you might be stuck and you might be making mistakes following the documentation, or even stumbling on gaps in the documentation, but like i said multiple times - the kubern

[2021-06-11 04:27] chenchun commented on #102798
/sig testing

[2021-06-11 04:30] renukamanavalan commented on #102797
Thank you! Sorry about the noise.

[2021-06-11 04:45] scubakiz commented on #102582
In its current state (as a DaemonSet), NoExecute taint can never be used in AKS.  When such a taint is applied, Konnectivity Service gets evicted and the cluster loses connectivity to the client (the port-forward drop the connection and will not restart it).  Have to move my testing Pod to a different node before I can use it again, while the original node remains without the Konnectivity Service

[2021-06-11 04:48] north-cackalacky commented on #81329
Is this enhancement on the agenda?

[2021-06-11 05:09] mauriciopoppe commented on #102787
/area test

hey @dbgoytia, sure, I've added more info about how to test it, it requires these components:

- a development kubernetes cluster, preferably on a public cloud instance although I'm not sure if `kind` can be used
- a CSI driver like [PD CSI Driver](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/), the storage class should be setup to use the `xfs` fstype
- th

[2021-06-11 05:40] davejhahn commented on #47202
Another user posted this, but throwing it out there in case anyone didn't see it.  If you need this capability and can't wait, you can use Argo CronWorkflows.  It's almost literally a swapping out.  Supports time zones.  I replaced cronjobs with this about a month ago.  There are multiple pieces to Argo, so don't get hung up on the complexity of the wrong one--just Argo Cron Workflows, not Wokrflo

[2021-06-11 05:41] hbinkle commented on #92382
I habe the same problem under windows since some days:
![image](https://user-images.githubusercontent.com/51942180/121636556-5d067780-ca88-11eb-8bbc-bf6847f9018f.png)
![image](https://user-images.githubusercontent.com/51942180/121636626-74ddfb80-ca88-11eb-999f-68ef42f11cab.png)

[2021-06-11 06:05] n4j commented on #102750
/assign

[2021-06-11 06:48] rajeshnailwal commented on #102646
sudo iptables-save
[sudo] password for workstation061:
# Generated by iptables-save v1.6.1 on Fri Jun 11 11:04:40 2021
*mangle
:PREROUTING ACCEPT [45601826:11674945701]
:INPUT ACCEPT [41096406:7554706893]
:FORWARD ACCEPT [4505296:4120223096]
:OUTPUT ACCEPT [40892978:7890286648]
:POSTROUTING ACCEPT [45399466:12010563125]
:KUBE-KUBELET-CANARY - [0:0]
:KUBE-PROXY-CANARY - [0:0]
COMMIT
# Completed on

[2021-06-11 06:51] rajeshnailwal commented on #102646
The output of the iptables-save -

sudo iptables-save

[sudo] password for workstation061:
### Generated by iptables-save v1.6.1 on Fri Jun 11 11:04:40 2021
*mangle
:PREROUTING ACCEPT [45601826:11674945701]
:INPUT ACCEPT [41096406:7554706893]
:FORWARD ACCEPT [4505296:4120223096]
:OUTPUT ACCEPT [40892978:7890286648]
:POSTROUTING ACCEPT [45399466:12010563125]
:KUBE-KUBELET-CANARY - [0:0]
:KUBE-PROXY

[2021-06-11 07:22] aojea commented on #102646
ok,  you just have to follow the iptables rules

[code]

that goes
[code]

and then we can see something that looks like the problem

[code]

at this point, I don't know if is a problem that your iptables version is too old or your are missing some kernel module like
[code]

[2021-06-11 07:38] rajeshnailwal commented on #102646
Which minimum version of flannel plugin we should use.

[2021-06-11 07:48] mborsz commented on #102784
Wow, thanks a lot for such a rapid fix. Much appreciated!

[2021-06-11 07:53] dvic commented on #97445
We are observing the same issue on GKE (COS 85-13310-1209-12, linux 5.4.89). We deployed a test pod that can be configured to apply a certain load. Each time we deployed the pod we checked the corresponding `nr_throttled ` from the CFS `cpu.stat` file. We're seeing significant throttling when we launch these test pods (we configure a usage of total 300m with a limit of 500m). Furthermore, we obser

[2021-06-11 08:05] wzshiming commented on #102552
https://github.com/kubernetes/kubernetes/blob/e52b7be7d719673a1a5ae28ad3bb0d6db58d35ec/pkg/kubelet/cm/devicemanager/endpoint.go#L96-L121

It seems that your Kubelet is not ready, or the ApiServer response is too slow, I think it is unnecessary to store AllDevices.

[2021-06-11 08:31] silenceper commented on #102552
But the startup sequence is uncontrollable, or when the abnormal situation of node restart occurs, or the device itself starts slowly?

[2021-06-11 08:41] wzshiming commented on #102552
If the Device is not actually ready, and the Kubelet assumes it is ready, will it introduce new bug?

[2021-06-11 09:00] silenceper commented on #102552
This will only affect pods that have been scheduled to node. If the device is not ready, then kubelet cannot obtain device related information, and the information obtained by kubelet from checkpoint does not record numa related information. Resulting in failure to obtain topology information, and ultimately affect the setting of cpuset.

[2021-06-11 09:01] aojea commented on #102646
is not flannel is the iptables version on your host

[2021-06-11 09:15] slashpai commented on #69041
This issue happens while updating existing volumeClaimTemplate as well. If we give a wrong `storageClassName`  in `volumeClaimTemplates` section while creating  stateful set and later update it to correct one its not recreating/updating PVC with correct one. To make it work have to delete PVC already created and recreate stateful set as well

[2021-06-11 09:41] jsafrane commented on #102794
I am fixing this tests in #788:
[code]

[2021-06-11 09:53] sxllwx commented on #102718
In fact, Unleak's code itself has a bug

[2021-06-11 10:01] mweibel opened #102803 "400 bad request on Azure cloud provider loadbalancer service TCP health probe (requestpath null)"
#### What happened:
Creating a service `type: Loadbalancer` with `externalTrafficPolicy: Local` fails to be created when trying to use a TCP health probe.
Example service:
[code]

Failed as follows:
[code]

#### What you expected to happen:
Health probe works correctly and is registered properly as TCP health probe.

#### How to reproduce it (as minimally and precisely as possible):
Take the menti

[2021-06-11 10:03] mweibel commented on #102803
/sig cloud-provider

[2021-06-11 10:06] mweibel commented on #102803
related PR introducing the feature: #96338

[2021-06-11 10:10] pacoxu commented on #95945
Details can be found in PR comments here https://github.com/kubernetes/kubernetes/pull/96900#discussion_r649846650.

[2021-06-11 10:27] jsafrane commented on #69799
/remove-lifecycle rotten

[2021-06-11 10:48] ahg-g opened #102804 "Scheduler: remove deprecated scheduler CLI flags"
The command line flags `hard-pod-affinity-symmetric-weight` and `scheduler-name` have been marked as deprecated for multiple releases.

We can now remove them, deprecation policy for admin-facing CLI flags is "GA, admin-facing flag, longer of 6 months or 1 release"

Verify deprecated since 1.18: https://github.com/kubernetes/kubernetes/blob/release-1.18/cmd/kube-scheduler/app/options/deprecated.go

[2021-06-11 11:51] adisky commented on #102750
@jicowan from the code it appears that env variables are passed to the plugin
https://github.com/kubernetes/kubernetes/blob/fddb3adcfd963ef7ee1230bcbb2fd0d324fe8935/pkg/credentialprovider/plugin/plugin.go#L350

from kubelet logs the plugin is only returning exit status 1, without any details about the error!!

[2021-06-11 12:16] mborsz opened #102806 "kubelet: panic runtime error: invalid memory address or nil pointer dereference in net.IsIPv4String"
#### What happened:
In https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1401222770964041728 one of kubelets panicked with error like:
[code]

https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gce-scale-performance/1401222770964041728/gce-scale-cluster-minion-group-1-v2lp/kubelet.log
#### What you expected to happen:

kubelet doesn't pa

[2021-06-11 12:21] jicowan commented on #102750
Yes, I saw that. `cmd.Env` doesn't work. I wrote the following code to test this:

[code]
If I import uncomment `cmd.Env = os.Environ()`, which imports the environment variables from the OS, it works.

[2021-06-11 12:27] mborsz commented on #102806
/sig node

[2021-06-11 12:27] jkaniuk commented on #93932
Great, thanks Antonio!

[2021-06-11 12:32] irbekrm commented on #102641
@caesarxuchao thank you for looking at this!

I should have time to for this in the next couple of days- thanks for pointing me in the right direction!

[2021-06-11 12:46] BorjaEst commented on #94892
It looks the proposal for log volume is from 2016.
Is that feauture planned or was abandoned? I did not find any topic related on 2020.

[2021-06-11 13:05] edremin opened #102807 "Offline upgrade Kubernetes 1.18 -> 1.19 fails"
Hi Team,

I’m trying to handle offline upgrade topic currently. We need to upgrade Kubernetes 1.18 to the latest one (1.21) in our offline environment. I’ve used the following document: [Upgrading kubeadm clusters ](https://v1-19.docs.kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/), where it’s stated that first upgrade of kubeadm should be performed. So, it's going fine in on

[2021-06-11 13:33] cristian-radu opened #102808 "generated proto files: go_package option does not follow the format expected by go_proto_library"
#### What happened:

Whilst trying to use apimachinery meta v1 generated.proto together with [go_proto_library](https://github.com/bazelbuild/rules_go/blob/master/proto/core.rst#go_proto_library), I found that the go_package option does not respect the expected format, i.e.  "k8s.io/apimachinery/pkg/apis/meta/v1;meta"

It appears that the generator defaults this option to the name of the package,

[2021-06-11 13:34] knight42 commented on #102792
Actually I have filed a PR https://github.com/kubernetes/kubernetes/pull/94564 to deflake this test, but got no response.

[2021-06-11 13:34] cristian-radu commented on #102808
/sig api-machinery

[2021-06-11 13:38] aojea commented on #102792
/assign @knight42
/unassign @aojea

Thanks @knight42

[2021-06-11 13:39] aojea commented on #102792
@knight42 do you mind reopening the PR and assigning me as reviewer?

[2021-06-11 13:47] sftim commented on #100897
There is also https://blog.k8s.io/ and / or https://k8s.dev/blog/ to publicize the CSI driver migration generally and to highlight specific calls for participation like this.

[2021-06-11 13:47] sftim commented on #91246
There is also https://blog.k8s.io/ and / or https://k8s.dev/blog/ to publicize the CSI driver migration generally and to highlight specific calls for participation like this.

[2021-06-11 14:00] dprotaso opened #102810 "Support setting owner references declaratively"
#### What would you like to be added:

It'd be nice to setup owner references declaratively when creating a suite of resources using `kubectl apply -f`

#### Why is this needed:

Users tend to try to clean up a Knative installation by deleting the 'namespace' in contrast using `kubectl delete -f`. Deleting the namespace leaves a bunch of cluster scoped resources around.

If we could setup owner re

[2021-06-11 14:00] dprotaso commented on #102810
/sig cli

[2021-06-11 14:01] dprotaso commented on #102810
Maybe this is also a API concern?
/sig api-machinery

[2021-06-11 14:53] dgoscn commented on #96764
Someone resolved this issue?

[2021-06-11 15:02] primeroz commented on #96764
Not a real `resolution` and depends on what is causing the issue for you. In my case it was an `Istio` Loadbalancer that was changing the port for some reason. I ended up _hardcoding_ the node port so to keep it to a static value

[2021-06-11 15:25] wangyysde commented on #102724
@fedebongio Thanks.! After read reference of API and comments of the code ,I don't think this is a bug now. Are you agree with me @tanjing2020 ?  So I think that we should close this issue. The reference of API says:
The priority value. Various system components use this field to find the priority of the pod. When Priority Admission Controller is enabled, it prevents users from setting this field.

[2021-06-11 15:45] #102804 closed

[2021-06-11 15:54] #95948 closed

[2021-06-11 15:54] #94155 closed

[2021-06-11 15:58] dbgoytia commented on #102787
thanks a lot @mauriciopoppe !! I might be a bit slow though, I'm pretty new to the community. I appreciate the documentation you shared, the assignation and how to replicate it, I'll test it out and if I have some doubts, I'll get back with you :D

[2021-06-11 16:10] kishorj commented on #96764
@dgoscn what is your k8s version?

[2021-06-11 16:49] ehashman commented on #102806
Looks like this affects master (1.22).

/triage accepted
/priority critical-urgent

[2021-06-11 17:10] Huang-Wei commented on #102804
@ahg-g a kind reminder: ensure it's reflected in k/website.

[2021-06-11 18:33] ha-douken opened #102815 "kubectl: get configmap in env-file format"
# My intend
I want to update a configmap holding environment variables in these steps:
1. kubectl get configmap … > my-file
2. Modify my-file
3. kubectl create configmap --from-env-file my-file …

# The issues I have
* This will not work because yaml is not an accepted format for --from-env-file
* Using --from-file which accepts yaml does not work because it adds the filename as a key on root leve

[2021-06-11 18:40] aojea commented on #102806
/cc

[2021-06-11 18:43] ha-douken commented on #102815
@kubernetes/sig-cli-misc
/sig cli

[2021-06-11 18:46] ehashman commented on #102806
https://github.com/kubernetes/utils/blob/2afb4311ab10fb869c5d8c260b5e92b4bbde7f80/net/net.go#L145-L149

I'm not sure how that would be throwing an NPE.

https://golang.org/pkg/net/#ParseIP

[2021-06-11 18:47] cndoit18 commented on #102806
I can reproduce it, but I can't find the source

[2021-06-11 18:48] ehashman commented on #102806
https://github.com/kubernetes/kubernetes/blame/3dd561ade4cfde179af0e17b029bff27c537a534/pkg/kubelet/kubelet_pods.go#L1581-L1589

/cc @danwinship
/sig network

[2021-06-11 18:48] endocrimes commented on #102806
@cndoit18 How'd you manage to repro it? - I can't figure out how to get a string into such a broken state off the top of my head