[2015-11-02 14:48] huang195 commented on #16663
One other useful information is when running k8s in standalone mode, `--max-pods` is honored

[2015-11-02 14:49] deads2k opened #16665 "hack/update-codecgen.sh does not run against master"
[code]

@pmorie @smarterclayton @liggitt  I'm not sure who to ask about this, but it seems like a pretty severe problem.

[2015-11-02 14:50] aleks-f opened #16666 "API server drops watch connections"
After 30-45 minutes, chunked HTTP connection to API server is dropped:

[code]

[2015-11-02 14:52] smarterclayton commented on #15844
I thought we settled on "valueFrom: {fieldRef: {apiVersion: "v1",
kind: "Service", name: "db", fieldPath: "spec.portalIP"}}" somewhere,
but we haven't added the new fields to ObjectFieldSelector (or added a
local object)

On Fri, Oct 30, 2015 at 4:41 PM, Brian Grant <notifications@github.com> wrote:

[2015-11-02 14:54] ncdc commented on #15844
That was my impression as well.

[2015-11-02 14:58] liggitt commented on #16665
same steps, different failure result:
[code]

[2015-11-02 15:00] aleks-f commented on #16666
Re-posted on [Stack Overflow](http://stackoverflow.com/questions/33480560/kuberentes-api-server-drops-watch-connections)

[2015-11-02 15:09] deads2k commented on #16665
Making a p1, but if @pmorie's recreate also shows problems, there's a strong argument for p0.

[2015-11-02 15:14] liggitt commented on #16665
interestingly, `hack/verify-codecgen.sh` passes with flying colors

[2015-11-02 15:20] deads2k commented on #16665
@kubernetes/kube-api Any suggestions?

[2015-11-02 15:29] aleks-f commented on #16666
kubernetes version is 1.0.6

[2015-11-02 15:38] wojtek-t commented on #16376
Does it mean that in v1 API we will have both "v1.ListOptions" and "unversioned.ListOptions"?
Presumably only one ListOptions at a time in any given group/version?

That is something that is very misleading in my opinion - this basically means that we have:
-v1.ListOptions in "v1" api group
-unversioned.ListOptions in all other api groups
Which means it's not really unversioned (because we have an

[2015-11-02 15:56] wojtek-t commented on #16361
PR in etcd is already merged.

However, I'm having some trouble with updating etcd Godeps - I'm able to update ugorji, go-etcd, but when updating etcd itself I'm getting:

    wojtekt@wojtekt-work:~/go/src/k8s.io/kubernetes$ go get -u github.com/coreos/etcd/client
    wojtekt@wojtekt-work:~/go/src/k8s.io/kubernetes$ godep update github.com/coreos/etcd/client
    godep: no packages can be updated

[2015-11-02 16:09] deads2k commented on #16376
They serve purposes specific to particular parts of the stack (client, storage, REST, etc), though I think a few have been modified in unusual ways to make APIGroups happy.

 1. `ObjectEncoder` - Provides a way to serialize a `runtime.Object` into a given `GroupVersion`.  This logically allows serialization into any compatible format.  This would work well for client-side transforms.
 1. `Encoder`

[2015-11-02 16:23] bgrant0607 commented on #16661
The number of Go types does not concern me. In the future, we may well need more types in order to provide context-specific documentation, for instance.

I'm fine with eliminating Namespace from SubresourceReference.

cc @kubernetes/autoscaling @brendandburns

[2015-11-02 16:24] thockin opened #16670 "interactive run "Unrecognized input header""
Something is not happy taking extra args.  @ncdc

[code]

[code]

[code]

[code]

[code]

[2015-11-02 16:26] thockin commented on #16670
kubectl exec does not seem to suffer this:

[code]

[2015-11-02 16:29] thockin opened #16672 "Kubectl --rm flag (like docker)"
I find that I frequently want to run a command in my cluster to test something.  When that command is done, I want the pod to be removed.  Soemthing like:

[code]

[2015-11-02 16:30] thockin commented on #16666
This is expected behavior.  Watch is just an HTTP operation and it times out.  Is this causing problems or is it just something you noticed?

[2015-11-02 16:46] bgrant0607 commented on #16500
@smarterclayton What do you like about GCE's scheme? That group is part of kind?

[2015-11-02 16:50] thockin opened #16673 "kube-apiserver has test code linked"
Code that uses test infrastructure NEEDS to be in separate packages and used only from tests.

[code]

[2015-11-02 16:52] liggitt commented on #16661
Extracted from https://github.com/kubernetes/kubernetes/pull/16668#issuecomment-153078877:

[2015-11-02 16:52] bgrant0607 commented on #15844
@smarterclayton @ncdc I'm fine with that (so, name rather than from).

[2015-11-02 16:58] bgrant0607 commented on #16600
I agree with RC backoff, as proposed here: https://github.com/kubernetes/kubernetes/issues/2529#issuecomment-67278765

[2015-11-02 16:59] bgrant0607 commented on #16600
I also like @erictune's proposal.

[2015-11-02 17:02] joshk0 commented on #2630
What is the Kubernetes team recommended workaround for this for the time being? The options I see are as follows:

- Run as root
- Run as root initially and have an entrypoint wrapper that chowns specified directories before dropping permissions (?? would this even work?)

Neither of them seem especially palatable.

I see that a fix was made to chmod emptyDirs to 777 but this isn't in 1.0.x (which

[2015-11-02 17:02] bgrant0607 commented on #16627
Quick comment for now: Not setting default values for mirror pods in apiserver is not an option, since that would break conversion.

[2015-11-02 17:08] thockin commented on #16661
The value of keeping Namespace in the the various Reference objects is that
the object is sort of incomplete without it.  I discussed this just last
week Daniel regarding Event.

That said, if we got rid of Namespace from all *Reference types except
places where cross-namespace refs are specifically allowed, I'd be happy.
Do we have any such places?

Isn't this a breaking change, though?

On Mon,

[2015-11-02 17:11] smarterclayton commented on #16665
Did you delete everything out of $GOPATH/bin and $GOPATH/pkg and then
rebuild codecgen?

On Mon, Nov 2, 2015 at 10:20 AM, David Eads <notifications@github.com>
wrote:

[2015-11-02 17:14] smarterclayton commented on #16500
That group, version, and kind are together.  As a client, I only really
have to deal with kinds and groups when I'm fetching from APIs that can
return multiple things.  As a sophisticated client, I'm likely to have a
map between "kind" and a handler to do specific actions (like output), and
if I'm a sophisticated client, I probably need to have fairly sophisticated
handling around unrecognized typ

[2015-11-02 17:16] smarterclayton commented on #16500
Yes I do want to copy Scale into all these groups.  OpenShift as a release
tool (an API on top of Kube) has to make very specific statements about
what it supports.  Putting our resource in a Kube API space is horribly
ugly - and ultimately, we have to make a statement that API group "foo" at
version "X" supports the following versions of the Scale interface:
["v1beta1", "v1", "v2"].

As soon as y

[2015-11-02 17:17] pmorie commented on #16665
I also got a clean update and verify cycle in my master branch.

[2015-11-02 17:25] timothysc commented on #16666
/cc @wojtek-t @jayunit100

[2015-11-02 17:26] wojtek-t commented on #16050
I guess it's still not closed, because we don't have any alerting yet.

[2015-11-02 17:26] timothysc commented on #16670
/cc @kubernetes/rh-cluster-infra

[2015-11-02 17:37] yujuhong commented on #16627
Noted but none of the options involve not setting default values for mirror pods. However, making mirror pods read-only (non-updatable) seems useful.

[2015-11-02 17:44] ncdc commented on #16670
@thockin what is your expectation for `kubectl run ... --; kubectl delete pod date`?

[2015-11-02 17:48] spiffxp commented on #14216
Based on discussion in the sig-scale hangout last week, sounds like we're comfortable closing this as-is for now.  If @timothysc ends up re-encountering, we can always reopen.

[2015-11-02 17:59] deads2k commented on #16661
This is a "feature" that should never have existed.  It doesn't make sense to have an HPA in namespaceA change resources in namespaceB.  That would be like an RC controlling pods in another namespace.

[2015-11-02 17:59] lavalamp commented on #16500
How can a client discover that this thing conforms to a contract that the client understands?

[2015-11-02 18:01] vishh commented on #16651
What version of kubernetes are you using?
Kubelet (cadvisor actually) detects dead containers and stops monitoring
them right away.
I wonder if docker storage driver is being detected incorrectly, or it
probably change underneath kubelet.

On Sun, Nov 1, 2015 at 8:17 PM, Mike Danese <notifications@github.com>
wrote:

[2015-11-02 18:01] thockin commented on #16585
It is identifying the request as iscsi.  Can you look in kubelet logs (near
startup) indicating which volume plugins are installed?

On Fri, Oct 30, 2015 at 3:15 AM, ntquyen <notifications@github.com> wrote:

[2015-11-02 18:06] smarterclayton commented on #16500
Via discovery?  A group that exposes the scale subresource on something has
to say "it supports these interfaces"

On Mon, Nov 2, 2015 at 1:00 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-11-02 18:07] yujuhong commented on #15089
As originally proposed, I think we should write TerminationMessagePath as a docker label, so that we don't need to rely on the pod spec to examine a terminated container.

[2015-11-02 18:07] erictune commented on #15982
Detecting whether a queue is empty (including unacknowledged items) is not supported by several AMQP libraries I looked at (for example Pika 0.10.0).

So another approach is to put an "EOF" message as the last thing in the queue, and for workers to detect this message and exit with success.  The trick is that there could be any number of workers, and so you don't want them to consume the message,

[2015-11-02 18:08] smarterclayton commented on #16500
Oops, I meant "have a version of scale from another group exposed by this group, but locked at a specific interface version that is at the other group version".

[2015-11-02 18:13] Random-Liu commented on #15089
OK. I'll do it. :)

[2015-11-02 18:15] DirectXMan12 opened #16675 "HPA Metrics Client should take a list of pod names instead of a selector"
The metrics client code should not be required to know how to collect a list of a pods for a given selector -- it should just need to know how to actually fetch the metrics for a set of pods.  This should make it easier to write different metrics clients, among other things.

[2015-11-02 18:20] alex-mohr commented on #16657
@kubernetes/rh-storage nfs volumes and securityContext of interest to you?

[2015-11-02 18:22] alex-mohr commented on #16658
@kubernetes/rh-storage persistentVolumes of interest?

[2015-11-02 18:23] lavalamp commented on #16500
Do we need an addition to object meta to communicate this?

e.g. `convertibleTo: {"v1", "scale"}`

Actually, perhaps somewhere in swagger, or in the info returned by the discovery APIs would be better.

[2015-11-02 18:23] alex-mohr commented on #16666
Closing here in favor of StackOverflow thread: http://stackoverflow.com/questions/33480560/kubernetes-api-server-drops-watch-connections

[2015-11-02 18:23] #16666 closed

[2015-11-02 18:25] dchen1107 commented on #16601
I also debugged the broken node, and verified the corresponding NodeStatus:

[code]

From above message, one can see that 1) Kubelet did detect the proper issue: "container runtime is down,network not configured correctly" and propagate such information to upstream layers. 2)  supervisord did detect the failure of docker restart, and tried to restart such service and failed all the time. 3) events

[2015-11-02 18:25] dchen1107 commented on #16601
cc/ @kubernetes/goog-node

[2015-11-02 18:31] #11948 closed

[2015-11-02 18:39] bgrant0607 commented on #16661
We would like to cut 1.1 tonight. @deads2k or @liggitt: could one of you please create a PR removing namespace from SubresourceReference?

[2015-11-02 18:41] liggitt commented on #16661
https://github.com/kubernetes/kubernetes/pull/16668

[2015-11-02 18:41] liggitt commented on #16661
can cherry pick to 1.1 once that has LGTM

[2015-11-02 18:41] brendandburns commented on #16593
@davidopp Yeah, we can close this one.  I think we should still merge in #16633 as it is a good optimization for AWS users that will dramatically reduce the number of API calls we make from worker nodes, but that's not a blocker for this issue or the 1.1 release.

[2015-11-02 18:41] #16593 closed

[2015-11-02 18:42] alex-mohr commented on #15498
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/7109/
Reboot each node by dropping all outbound packets for a while and ensure they function afterwards

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/reboot.go:99
Nov  2 06:14:02.945: Node e2e-reboot-minion-0pev failed reboot test.

Reboot each node by triggering kernel panic

[2015-11-02 18:43] alex-mohr commented on #15498
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/7117/
Identified problems

Reboot each node by triggering kernel panic and ensure they function upon restart

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/reboot.go:77
Nov  2 10:15:41.541: Node e2e-reboot-minion-09bl failed reboot test.

Reboot each node by dropping all outbou

[2015-11-02 18:44] paralin commented on #16651
@vishh I think it should detect both dead containers and containers that have been removed manually by the user.  Maybe it does this already?

On my server I did shut down all the daemons, resize the docker partition, and remake the simlink to it. Could this cause it?

[2015-11-02 18:44] alex-mohr commented on #15498
FWIW, this set of apparent-flakes is currently blocking submit queue, which it seems to do about 10% of the time based on history of the past 2 days.

Other similar occurrences: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/7048/ http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/7044/ http://kubekins.dls.corp.google.

[2015-11-02 18:46] lavalamp commented on #12041
@davidopp Yes. Specifically, fixes on the kubelet lower the priority of this issue, but do not close it.

[2015-11-02 18:47] brendandburns commented on #16278
@mikedanese PR has been updated, should apply cleanly now.

[2015-11-02 18:48] markturansky commented on #16658
It would be easy to add this validation, but I don't see any other validation of the sort in pkg/api/validation/validation.go

Is there another rootscoped resource I can look at for comparison?

It looks like Node has very little validation generally.  No namespace validation.

[2015-11-02 18:49] brendandburns commented on #16661
LGTM'd

[2015-11-02 18:49] markturansky commented on #16657
@pmorie @swagiaal

[2015-11-02 18:51] thockin commented on #16658
this should fail already.  ValidatePersistentVolume()
calls ValidateObjectMeta() and that checks namespace.  And yet it doesn't
fail.

On Mon, Nov 2, 2015 at 10:22 AM, Alex Mohr <notifications@github.com> wrote:

[2015-11-02 18:51] dchen1107 commented on #16627
Yes, cluster bootstrapping requires static pod support, but it could fall into standalone mode. But what are the procedures to hand over to cluster-mode from standalone mode? How to manage the first booted APIServer? Before we figure out all of them, we still need mirror pods. Again, I prefer to make them read-only for APIServer.

[2015-11-02 18:54] thockin commented on #16658
It doesn't appear to be validating namespace at all.  an invalid name in
there does not fail either.  Is some logic in the REST for PV clearing that
field?

On Mon, Nov 2, 2015 at 10:50 AM, Tim Hockin <thockin@google.com> wrote:

[2015-11-02 18:59] thockin commented on #16658
pkg/api/rest/create.go BeforeCreate() says:

56     if strategy.NamespaceScoped() {
57         if !api.ValidNamespace(ctx, objectMeta) {
58             return errors.NewBadRequest("the namespace of the provided
object does not match the namespace sent on the request")
59         }
60     } else {
61         objectMeta.Namespace = api.NamespaceNone
62     }

On Mon, Nov 2, 2015 at 10:54 AM, Tim Hoc

[2015-11-02 19:00] markturansky commented on #16658
Ah, yes, I remember now :)

I suppose the next question is which is called first: validation or BeforeCreate?

If BeforeCreate, do I remove line 61 and instead put an error in validation?

[2015-11-02 19:00] vishh commented on #16651
containers and containers that have been removed manually by the user.
Maybe it does this already?

cAdvisor relies on kernel APIs to identify container exit. So I doubt that
container exit could have caused this issue.

partition, and remake the simlink to it. Could this cause it?

Possibly. Can you try re-starting the kubelet and see if this problem
dis-appears?

On Mon, Nov 2, 2015 at 10:45 AM,

[2015-11-02 19:01] markturansky commented on #16658
or, I should say, let validateObjectMeta fail?  I see where it would fail if the namespace was not stripped from the PV.

[2015-11-02 19:01] pmorie commented on #16657
@jhou1 NFS volumes do not interact with SELinux at all in Kube by design.  You need to enable the `virt_use_nfs` selinux boolean with: `semanage boolean --on virt_use_nfs`.

[2015-11-02 19:07] bgrant0607 commented on #15844
More concretely, the proposal is to add fields kind and name (exactly as in ObjectReference) to ObjectFieldSelector.

[2015-11-02 19:15] dchen1107 commented on #16512
Quota from issue #9267: "In the case of no cloudprovider, the --hostname-override flag in Kubelet sets LegacyHostIP."
Qutoa from the flag --hostname-override: "fs.StringVar(&s.HostnameOverride, "hostname-override", s.HostnameOverride, "If non-empty, will use this string as identification instead of the actual hostname.")"

Shouldn't this is the right behavior.

[2015-11-02 19:15] thockin commented on #16658
The question is: Is it an API error to fill in the namespace field on a
non-namespaced object, or should we ignore namespace as we do with other
non-existent fields?

Put another way - ObjectMeta for PV probably should not even have a
namespace field.  we ignore unknown fields, so I think the right fix is to
leave it.  Maybe add a comment in ValidateObjectMeta() that namespace
should already be cl

[2015-11-02 19:16] yifan-gu commented on #14234
@vially Thank you! Forget to ask about the kubernetes' version :( So I guess this is fixed on the latest version of kubernetes and docker, right?

[2015-11-02 19:24] thockin commented on #16670
`--`  just means "all remaining args are for the container" right.  No
remaining args means the same as if I didn't specify `--` - and that seems
to be what is happening - it runs sh (the ENTRYPOINT for busybox).

On Mon, Nov 2, 2015 at 9:44 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-11-02 19:28] thockin commented on #2630
kubernetes v1.1 will be out soon with better support for this case!

@pmorie

On Mon, Nov 2, 2015 at 9:03 AM, Joshua Kwan <notifications@github.com>
wrote:

[2015-11-02 19:28] bgrant0607 commented on #16517
Hostname discussion: https://github.com/kubernetes/kubernetes/issues/260#issuecomment-133318903

[2015-11-02 19:29] markturansky commented on #16658
Easy enough to comment in ValidateObjectMeta that namespace has been removed for these type of objects.

It doesn't seem like an error if the PV has a namespace.  It is rightly ignored.   I don't know where/how we return warnings in the API.

The docs are already clear that PVs have no namespace.

[2015-11-02 19:33] antoineco commented on #2630
@joshk0 we perform a chown from the containers' entry point (a bash script) and fallback to running our main process using a normal user using runuser or gosu.

Not ideal but it's the only way to do it on v1.0.

[2015-11-02 19:33] ncdc commented on #16670
@thockin I apologize, I have a lot of stuff going on atm.... Which of the code blocks above is not behaving as you'd expect? The last 3?

[2015-11-02 19:33] timothysc commented on #16361
@wojtek-t I came across a similar issue with etcd dep updating.  Here was my recipe...

1. godep restore
2. Blast your local ./Godeps directory
3. Make certain your downloaded deps are the exact versions you are looking for.  (transitive mashing in a problem)
4. godep save ./...

[2015-11-02 19:36] vially commented on #14234
@yifan-gu I haven't had a chance to test the latest version of kubernetes (I'm only running it on Google Container Engine and they haven't upgraded yet). But since the latest docker of version (`1.8.3`) has no problem inspecting the wercker image then the go docker client library should not return an error either when inspecting it. Also the kubernetes bug seems to be fixed in master.

Therefore I

[2015-11-02 19:37] vishh commented on #16168
Heapster HEAD has been updated to ignore pods that have exited. The next release of Heapster v0.19.0 should contain the patch. I'm closing this issue for now, since we have a separate issue that is tracking implementation of the new metrics APIs

[2015-11-02 19:37] #16168 closed

[2015-11-02 19:40] yifan-gu commented on #14234
@vially Cool. FYI, the buggy lines you pointed above in kubernetes have been refactored since then, now the image pulling logic is moved to container runtime to share the code, I think the error is not reused anymore:

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/image_puller.go#L76-L88

[2015-11-02 19:48] vishh commented on #16110
Update: I'm testing v1.9.0~rc4. I'm running the following suite of tests (based on `hack/jenkins/e2e.sh`) - ` kubernetes-e2e-gce`, ` kubernetes-e2e-gce-slow`, `kubernetes-e2e-gce-parallel`, ` kubernetes-e2e-gce-parallel`.

[2015-11-02 19:56] thockin commented on #16670
yeah, all the last 3 say

[code]

On Mon, Nov 2, 2015 at 11:33 AM, Andy Goldstein <notifications@github.com>
wrote:

[2015-11-02 20:00] smarterclayton commented on #16500
Discovery API or swagger is probably enough.

On Mon, Nov 2, 2015 at 1:23 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-11-02 20:00] thockin commented on #16658
We don't have API warnings (yet?)

On Mon, Nov 2, 2015 at 11:30 AM, Mark Turansky <notifications@github.com>
wrote:

[2015-11-02 20:04] derekwaynecarr commented on #16600
I am coding this up now.  The only enhancement to @erictune proposal is to add a time interval for event correlation to know how long to wait between occurrences before we treat the incoming event as new again.  Defaulting that to 1 hr seems fine on the client side event correlation.

[2015-11-02 20:31] lavalamp commented on #16500
Last question: should we do these conversions server-side or client-side? I
think it has to be client side.

On Mon, Nov 2, 2015 at 12:00 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-11-02 20:37] deads2k commented on #16500
I would argue for both.  I think that the server should be as flexible as possible when decoding input, so that anything it gets that is coercible to its expected format is handled.  I'd also expect that a client would look a the list of acceptable inputs and if its trying to send something that isn't one of them, it should try to coerce what it has into a type the server accepts.

[2015-11-02 20:44] thockin commented on #16506
Generated docs are good references, but we actually need a set of
human-created docs that address the subtle aspects of things like this.

On Sun, Nov 1, 2015 at 7:16 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-11-02 20:45] thockin commented on #16436
Yeah, the fun part is that kubectl expects to find your credentials and
things.  Needs some design to make this usable.

On Sun, Nov 1, 2015 at 7:05 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-11-02 20:49] vially commented on #14234
@yifan-gu Yes, the refactored code looks good to me. Thanks for the info!

[2015-11-02 20:55] mml commented on #3885
I have an implementation of the simplest version of this: drain a single node (starting with setting unschedulable), with optional grace period, and a --force flag to force removal even if there are unreplicated pods.  I think we should also include a convenient way to add a machine back to service when maintenance is done.  `kubectl undrain $node` would be equivalent to `kubectl patch node $node

[2015-11-02 21:18] mikedanese opened #16684 "Panic in kubectl jsonpath templating"
[code]

@kubernetes/goog-ux

[2015-11-02 21:21] alex-mohr commented on #15382
Still happening as of Oct 31 at least:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9214/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9215/

[2015-11-02 21:22] alex-mohr commented on #16385
I've seen 5+ of various Critical builds failing to due "Cluster failed to initialize within 300 seconds." over the past 2 days.

Found two examples, will add more as I come across them.
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-parallel/10699/
http://kubekins.dls.corp.google.com/job/kubernetes-kubemark-gce/941/

[2015-11-02 21:22] alex-mohr commented on #15382
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/9197/

[2015-11-02 21:30] alex-mohr opened #16685 "e2e: kubernetes-e2e-gce-autoscaling broken 10-20% of the time"
kubernetes-e2e-gce-autoscaling is broken 10-20% of the time.  It's in the set of builds that blocks submit queue, so flagging as P0 as there's either numerous product or test bugs here.

"ERROR: (gcloud.compute.instance-groups.managed.set-autoscaling) Some requests did not succeed:
- Internal Error"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-autoscaling/1580/

[2015-11-02 21:33] pat2man commented on #11543
I like the idea to switch to instanceId as the node-name, but I can see issues here. Ideally I would like to be able to set my node-names to be DNS resolvable like they currently are. What about having the findInstanceByNodeName method look for ```instanceId```, ```private-dns-name```  OR a tag called ```node-name```?

Currently I am looking at running OpenShift on Kubernetes and the only feature

[2015-11-02 21:41] dchen1107 opened #16686 "APIserver returns inconsistent HTTP response status codes"
From kube-apiserver.log, Kube-apiserver returns 200 as Success code upon some requests, otherwise return 0 as Success.

I1102 20:11:33.640539       5 handlers.go:131] GET /api/v1/nodes/kubernetes-minion-3io1: (2.683448ms) 200 [[kubelet/v1.1.1 (linux/amd64) kubernetes/f9ad30f] 10.240.0.5:60298]
I1102 20:11:33.650298       5 handlers.go:131] PUT /api/v1/nodes/kubernetes-minion-3io1/status: (5.474235

[2015-11-02 21:42] alex-mohr commented on #15498
A build contributing to 10-20% downtime of submit queue is P0 worth IMO.

Is there a real issue with nodes not handling reboots correctly?  The only open issue I see is https://github.com/kubernetes/kubernetes/issues/14642

[2015-11-02 21:44] alex-mohr commented on #15382
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10696/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/10615/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.1/393/

[2015-11-02 21:49] dchen1107 commented on #9412
The issue should be obsolete now. We replaced monit with supervisord, and changed the interval of checking daemon's healthiness from 2 minutes to 10 seconds; Also we dropped the test of /var/run/docker.sock from healthcheck. I am closing the issue.

[2015-11-02 21:49] #9412 closed

[2015-11-02 21:52] alex-mohr commented on #15382
Upping to P0 given rate of occurrence and blocking submit queue -- either a significant product bug or test issue.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-release-1.1/375/

[2015-11-02 21:52] nikhiljindal opened #16687 "Swagger spec: missing ApiDeclaration for /apis/extensions"
Loading `/swaggerapi/apis/extensions/` returns `ApiDeclaration not found`
Looking at the code `/swaggerapi/apis/extensions/` is registered in the same way as `/swaggerapi/apis/` which works fine.
So not sure why is this broken.

@caesarxuchao

[2015-11-02 21:53] dchen1107 commented on #7294
Unassign myself since we don't want to add swap support for now unless someone provides me a real appealing use cases.

[2015-11-02 21:53] alex-mohr commented on #9485
kubernetes-e2e-gce-scalability is now in the critical builds set that blocks submit queue, so re-opening given failure rates recently.

Node odd output of [Skipped] yet build marked a failure -- I'm missing some subtlety re: skipped.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/2921/
Density [Skipped] [Performance suite] should allow starting 30 po

[2015-11-02 21:57] alex-mohr commented on #16601
@dchen1107 Fork the issue to resolve that question?  The soak cluster is currently broken and we need it working -- if you're done debugging, I assume we should relaunch?

[2015-11-02 21:59] alex-mohr commented on #16601
@ihmccreery I don't see instructions on what to do with soak cluster -- can you point me at them please?  (Or file an issue to document if non-existent?)

[2015-11-02 22:00] ixdy commented on #16562
Looks like this test failed:
`FAIL	k8s.io/kubernetes/pkg/storage/etcd	6.373s`

but I have no idea why the test report doesn't show that. On Jenkins it's easier to debug, since we save more of the test output, but it's unfortunately hard to debug this on Shippable.

[2015-11-02 22:00] a-robinson commented on #16601
As mentioned by @vishh, restarting the affected node (gce-soak-weekly-minion-1fdd) in the kubernetes-jenkins project should be enough to fix the tests -- and if it's not, then perhaps we don't understand the issue as well as we'd like.

[2015-11-02 22:03] vishh commented on #16110
Update: No tests failed in `kubernetes-e2e-gce` suite. This release has been looking good so far.

[2015-11-02 22:06] vishh commented on #16601
I'm done debugging the node. I will restart the node now and validate my claim.

[2015-11-02 22:11] vishh commented on #16601
The node seems to be online (based on kubelet logs) after a reboot.

[code]

[2015-11-02 22:17] lavalamp commented on #16376
No-- I think I said earlier, I think we can remove it from v1 and replace it with unversioned.ListOptions without changing the wire format. I agree we ideally won't do the confusing thing you just described, but if it's necessary in a transitional phase, I don't mind it.

I think we should regularize our interfaces. `Codec` should be the combination of `Encoder` and `Decoder`. We should remove all

[2015-11-02 22:23] alex-mohr commented on #15872
FWIW, a few more guestbook e2e failures in the GKE suite as well, though I don't see anything indicating a GKE-specific issue:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9293/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9288/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/9238/

[2015-11-02 22:53] krousey commented on #16560
Just skimming through this as I'm about to get on a shuttle. Is this suggesting that we generate client AND types from some IDL instead of generating an IDL from Go source code? If so, I like that :smile:

[2015-11-02 23:00] janetkuo commented on #16684
I think the right way to do this is either
`$ kubectl config view -o jsonpath={.contexts[?(@.name == \"\")].context.user}`
or
`$ kubectl config view -o 'jsonpath={.contexts[?(@.name == "")].context.user}'`

Can you try both commands and see if it still panics?

[2015-11-02 23:02] dchen1107 commented on #16601
Yes, rebooting node should resolve the issue.

[2015-11-02 23:02] mikedanese commented on #16684
I agree that the input is malformed, but kubectl should return an error on malformed input and not panic. When I correct the input, it works as expected.

[2015-11-02 23:05] janetkuo commented on #16684
The fix would be improving error handling then.

[2015-11-02 23:08] ixdy commented on #16618
Probably should update `cluster/mesos/docker/test/bin/install-etcd.sh` and `docs/devel/development.md` too.

[2015-11-02 23:23] dchen1107 opened #16695 "enable unprivileged_userns_clone by default on ContainerVM image"
cc/ @zmerlynn

[2015-11-02 23:24] zmerlynn commented on #16695
On it.

[2015-11-02 23:26] davidopp commented on #16385
I'm OOO this week, reassigning to @mikedanese

[2015-11-02 23:34] davidopp commented on #16675
@jsz @piosz

[2015-11-02 23:35] alex-mohr commented on #15498
Dawn, are reboot tests yours as part of node team?  If not, can you please delegate to actual owners?

(And another failure: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-reboot/7127/)

[2015-11-02 23:36] dchen1107 commented on #15498
Ok, let me triage it now to understand the issue better first. Thanks!

[2015-11-02 23:40] bgrant0607 commented on #15193
cc @amygdala

[2015-11-02 23:47] davidopp commented on #16652
This is what it is doing. The log messages you see aren't the pod starting and restarting, but rather the scheduler continuously trying to find a machine for the Pod to run on.  The Pod should stay in PENDING state the whole time.

There are two things we can do here:
(1) [short-term solution] log less frequently when a Pod stays PENDING (don't log every time we try to schedule it)
(2) [long-term

[2015-11-02 23:54] #16645 closed

[2015-11-02 23:57] davidopp commented on #16644
Also, please use [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes) for questions like this, so everyone can benefit from the answers.

The Kubernetes team scans stackoverflow on a regular basis, to ensure questions are answered.

Thanks for using Kubernetes!

[2015-11-02 23:57] #16644 closed

[2015-11-02 23:59] davidopp commented on #16469
@justinsb can you commento n this?

[2015-11-03 00:04] dchen1107 commented on #15498
Why kubernetes-e2e-gce-reboot doesn't save kubelet logs? @ixdy

Since there is no kubelet logs, I cannot confirm it. But I checked test output, and here is my hyperthesis:

1) Above failed build (#7127) has 4 failed tests:

Reboot each node by dropping all inbound packets for a while and ensure they function afterwards

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e

[2015-11-03 00:05] alex-mohr commented on #16192
Similar failure.  I noticed this one and the initial comment includes "Internal Error" response -- are the shell scripts aborting on that rather than retrying?

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/760/
15:02:15 Shutting down test cluster in background.
15:03:45 ERROR: (gcloud.compute.firewall-rules.delete) Some requests did not succeed:
15:03:45

[2015-11-03 00:05] dchen1107 commented on #15800
https://github.com/kubernetes/kubernetes/pull/16339 was merged for a while. Close the issue.

[2015-11-03 00:05] #15800 closed

[2015-11-03 00:12] saad-ali commented on #15382
I'm looking into it. I suspect a test issue (not product). Will reply with more details.

[2015-11-03 00:15] dchen1107 commented on #15747
#15175: docker pull can stall and leading cluster bringup issue. Restarting docker daemon should fix the issue.

[2015-11-03 00:15] alex-mohr commented on #16385
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/727/console

[2015-11-03 00:18] alex-mohr commented on #15139
5 failures in 5 days, causing 2.5 hours of submit queue blockage each time., so bumping to P0.
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/753/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/735/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-slow/716/
http://kubekins.dls.corp.goog

[2015-11-03 00:20] dchen1107 commented on #15175
@colemickens I only observed such issue with concurrent pulling. For 1.1 release, we switch concurrent pulling to sequential pulling by default. Please let me if you still have the same issue with 1.1 release. Thanks!

[2015-11-03 00:23] ixdy commented on #15498
@dchen1107 there are some kubelet logs for build 7127: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-reboot/7127/artifacts/

One of the hosts is missing because it wasn't responding to ssh:
[code]

[2015-11-03 00:25] dchen1107 commented on #15175
@colemickens when you run into such issue next time, could you please run the command: docker version and copy & paste the output here? I replaced monit with supervisord for 1.1 release too, and supervisord run docker version, and check the exit code of command. If docker daemon hung, it should return non-zero here. Then supervisord should restart docker daemon.

[2015-11-03 00:26] davidopp commented on #15139
I and almost all of the Poland team are OOO this week; I'd suggest disabling this test for now if it is blocking submits. (If it was consistently failing I'd be concerned, but you said it's just flaky.)

[2015-11-03 00:27] colemickens commented on #15175
@dchen1107 Sure, I can do that. One small question about your last comment - where did you replace monit with supervisord? With the setup I'm using, I let upstart itself manage the docker instances running and am not using monit or supervisord. Just curious, wanted to compare notes.

[2015-11-03 00:35] evanphx opened #16699 "Watch requests for specific resources fail to return data (sometimes)"
* Given an service named `jpl-input`
* A request (call it request A) is issued: `curl localhost:8001/api/v1/watch/namespaces/default/endpoints/jpl-input`.
* A request (call it request B) is issued: `curl localhost:8001/api/v1/watch/namespaces/default/endpoints`
* A pod that matches the service `jpl-input` is then started (either directly or via a rolling-update).
* Request B begins getting data: `

[2015-11-03 00:37] mml opened #16700 "Add -N,--names-only flag to kubectl get"
Many admin operations are made easier by fetching a list of the names of things, e.g. into a shell variable.  See below for an example.  Rather than hacking up a template, asking for just the names should be a normal flag.
<pre>% nodes=$(kubectl get nodes -lfoo=bar -otemplate --template='{{range .items}}{{.metadata.name}} {{end}}')
% for node in $nodes; do
for> echo $node
for> done

# Sanity check

[2015-11-03 00:43] caesarxuchao commented on #16699
cc @lavalamp

[2015-11-03 00:52] lavalamp commented on #16699
Recommend switching to `localhost:8001/api/v1/namespaces/default/endpoints?watch=true&metadata.name=jpl-input`, although I'm not sure off the top of my head why what you're doing isn't working.

[2015-11-03 00:54] davidopp commented on #16424
Yeah we probably should update *all* of our documentation to reflect this...

@bgrant0607

[2015-11-03 00:58] evanphx commented on #16699
@lavalamp that outputs updates for other endpoints as well: `{"type":"MODIFIED","object":{"kind":"Endpoints","apiVersion":"v1","metadata":{"name":"rabbitmq-api","namespace":"default" ...`

[2015-11-03 01:01] evanphx commented on #16699
I'm trying `curl 'localhost:8001/api/v1/namespaces/default/endpoints?watch=true&fieldSelector=metadata.name=jpl-input'` but that doesn't seem to be working either, same as request A.

[2015-11-03 01:02] evanphx commented on #16699
Yup, finished, using a fieldSelector results in no output, just like request A.

[2015-11-03 01:03] lavalamp commented on #16699
@caesarxuchao, can you double check that the endpoints registry is set up correctly? We should add a test.

[2015-11-03 01:05] lavalamp commented on #16699
Oh, well, that's interesting. (sorry I forgot the fieldSelector bit.)

Is our namespace handling broken? `curl 'localhost:8001/api/v1/namespaces/default/endpoints?watch=true&fieldSelector=metadata.name=jpl-input,metadata.namespace=default'` shouldn't make a difference, but...

[2015-11-03 01:06] evanphx commented on #16699
Well: `curl 'localhost:8001/api/v1/endpoints?watch=true&fieldSelector=metadata.name=jpl-input,metadata.namespace=default'`

Gives me: `field label not supported: metadata.namespace`

[2015-11-03 01:11] lavalamp commented on #16699
OK, that's what it's supposed to do. Hm.

[2015-11-03 01:13] dchen1107 opened #16702 "Run master node on ubuntu trusty on GCE"
We can run worker nodes on ubuntun trusty on GCE, but not master node today.

cc/ @andyzheng0831

[2015-11-03 01:15] lavalamp commented on #16686
If it were only the watches I would understand, but it's pretty weird for /healthz.

[2015-11-03 01:15] andyzheng0831 commented on #16702
I am working on this part. Please free feel to assign it to me.

[2015-11-03 01:15] lavalamp commented on #16673
*sigh* again? Didn't we add a bunch of flags testing to prevent this?

[2015-11-03 01:17] lavalamp commented on #16673
This will be the 3rd time. You're running at head, right?

@mikedanese did you have a trick to find the offender last time?

[2015-11-03 01:23] lavalamp commented on #16588
Yes, you have to create your namespaces ahead of time. Quite some time ago, you didn't have to. Is it possible you created those pods in a really old k8s version, and then upgraded to 1.0.6?

[2015-11-03 01:23] lavalamp commented on #16588
(you can fix this by just creating the namespaces)

[2015-11-03 01:23] vishh commented on #16110
Update: No tests failed in `kubernetes-e2e-gce-slow` suite. :smiley:

[2015-11-03 01:33] deads2k commented on #16665
I will try again after doing the delete

[2015-11-03 01:38] davidopp commented on #16337
Also vaguely related to #7459

[2015-11-03 01:39] davidopp commented on #16424
BTW @lavalamp and I were surprised that this was enabled by default instead of flag-controlled. We might want to make it flag-controlled for 1.2.

@wojtek-t

[2015-11-03 01:39] davidopp commented on #16424
("this" == second etcd instance, not HA)

[2015-11-03 01:42] aanm commented on #3764
Is there any progress regarding this?

[2015-11-03 01:51] feihujiang commented on #16670
#13917 fixed ```kubectl run``` , but it hasn't been merged. #14161 fixed ```kubectl exec```, and it merged.  so why ```kubectl run ``` suffer this but ```kubectl exec``` doesn't.  Because I separated these to two PRs, maybe  @eparis forget to review #13917.  @eparis could you please review #13917. or any other other to review?

[2015-11-03 01:54] mikedanese commented on #16673
First bad commit is https://github.com/kubernetes/kubernetes/commit/c850a9ab61d013ccdf325394df80f98c4add536c

I usually run git bisect with this script
[code]

[2015-11-03 02:05] saad-ali commented on #16600
Exactly what I was thinking. This proposal SGTM

[2015-11-03 02:10] feihujiang commented on #16658
OK, I'll add a comment in ValidateObjectMeta() that namespace
should already be cleared for objects that are always root-scope.

[2015-11-03 02:25] errordeveloper opened #16706 "More flexible way of setting external address"
Currently one can set external address of the master either via a specific IP or rely on very opinionated _default interface_ selection mechanism (`util.ChooseHostInterface()`). It would be very handy to override this via exact interface name as well as DNS.

There are currently two flags, `--advertise-address` and `--external-hostname`. It is a little surprising that setting `--external-hostname`

[2015-11-03 02:28] Random-Liu commented on #3764
@aanm Some related things are working in progress here #15089. :)

[2015-11-03 02:35] nikhiljindal commented on #16558
Based on my reading of those issues/PRs, it seems to me that the 3rd approach is the most desired.

At a very high level this will include:
* Ability for people to bring up their own APIservers. Automatically generated swagger spec will be used to define the operations supported by each of these servers.
* There will be a "master" APIServer that gets all user requests first. It can handle the requ

[2015-11-03 02:39] mikedanese opened #16707 "jsonpath template output should be json"
I would expect the output to be json. @kubernetes/kubectl

$ kubectl get no -o jsonpath="{.items}"
[map[kind:Node apiVersion:v1 metadata:map[uid:58f92fa4-81c3-11e5-8109-42010af0000b resourceVersion:3018 creationTimestamp:2015-11-03T00:39:31Z labels:map[kubernetes.io/hostname:k-5-master] name:k-5-master selfLink:/api/v1/nodes/k-5-master] spec:map[podCIDR:10.244.0.0/24 externalID:1800099012303872874

[2015-11-03 02:43] davidopp commented on #16132
For the minion nodes: Upgrading the nodes should "just work" -- the pods that get killed should be rescheduled to another minion, assuming they are running under a ReplicationController. Of course you need to make sure not to take so many nodes down at the same time that there is not enough resources on other machines for the pods from the down machine to reschedule.

For the master and etcd: I th

[2015-11-03 02:44] mikedanese opened #16708 "jsonpath has unhelpful verbose error output"
$ kubectl get no -o jsonpath="{.name}"
Error executing template: name is not found
template was:
        {.name}
object given to jsonpath engine was:
        map[string]interface {}{"kind":"List", "apiVersion":"v1", "metadata":map[string]interface {}{}, "items":[]interface {}{map[string]interface {}{"kind":"Node", "apiVersion":"v1", "metadata":map[string]interface {}{"name":"k-5-master", "selfLink

[2015-11-03 02:45] chrisleck opened #16709 "AWS LoadBalancer naming/tagging should reflect the service it is defined in"
When a Server of type LoadBalancer is defined on AWS, a new ELB with an incomprehensible name and no tags is created.  It should be trivial to map from an ELB back to the owning service (perhaps by namespace & service name/version?).

[2015-11-03 02:58] aanm commented on #3764
@Random-Liu I'll just link this one as well https://github.com/docker/docker/issues/15496 ;-)

[2015-11-03 02:58] mikedanese commented on #16700
You could use jsonpath to make it a little shorter but still not great
[code]

[2015-11-03 03:04] hurf commented on #16654
I'm always confused about the Quantity format conversion. The phenomenon mentioned here must be caused by usedQuantity, for it's in the format of DecimalSI.

[2015-11-03 03:10] hurf commented on #16700
Try `kubectl get no -o name`

[2015-11-03 03:37] davidopp commented on #15985
I assume you mean "decide not to do it for 1.2" -- I think we definitely we want to do it in a general sense.

[2015-11-03 03:56] resouer commented on #12526
In this case, I can see the main tricky point is how to update containers when they have dependency. This is kind of conflict with current implement of kubelet actually.

OTOH, this dilemma may be solved by some special tricks (hook, sidecar, any type ) , just thinking ...

[2015-11-03 04:05] davidopp commented on #16337
@bprashanth I'm marking this P2 but feel free to upgrade to P1 if you think it's higher priority.

[2015-11-03 04:11] #15883 closed

[2015-11-03 04:14] davidopp commented on #15817
@kubernetes/sig-big-data

[2015-11-03 04:16] davidopp commented on #15802
@erictune

[2015-11-03 04:31] markturansky commented on #16658
@feihujiang SGTM

[2015-11-03 04:37] resouer commented on #16506
Em ...  I once read about [this doc](https://github.com/kubernetes/kubernetes/blob/5c903dbcacb423158e3f363bcbb27eef58f95218/docs/user-guide/containers.md#containers-and-commands), does that help?

Anyway, article idea sounds good for me. And I can write, of course.

[2015-11-03 04:43] caesarxuchao commented on #16699
@evanphx I tried again tonight on my local cluster and can't reproduce the error anymore. Perhaps it has something to do with the workload? Is your cluster running heavy workload?

[2015-11-03 04:58] davidopp commented on #15484
ref/ #8686

[2015-11-03 05:04] davidopp commented on #14238
@justinsb any update on this?

[2015-11-03 05:11] davidopp commented on #14282
@jayunit100 this issue seems to have stalled -- are you still interested in pursuing it? If so, please assign to yourself, otherwise please close. Thanks!

[2015-11-03 05:16] #14408 closed

[2015-11-03 05:22] davidopp commented on #14830
@kubernetes/kube-iam

[2015-11-03 05:25] liggitt commented on #14830
it's harmless... that's the controller attempting to ensure a service account exists for every namespace. we should tolerate `AlreadyExists` errors in that case... it just meant the local store didn't think we had a service account, so we tried to create one

[2015-11-03 05:26] davidopp commented on #14150
@liggitt can you dispense with this issue as appropriate?

[2015-11-03 05:28] #11813 closed

[2015-11-03 05:33] evanphx commented on #16699
The cluster is in a steady state mostly, no cluster changes. The pods are doing stuff but nothing that I'd think would churn the API much (if anything kube-proxy is busy forwarding traffic and thats it).

[2015-11-03 05:38] davidopp commented on #13117
@wojtek-t Am I correct in understanding that this (really #14468) is blocked on #11962?

[2015-11-03 05:39] resouer commented on #16538
Sorry, the error has been eaten ... But I remember it is because etcd is not started. If we have a readme here, I can debug it easier.

[2015-11-03 05:40] errordeveloper commented on #12907
We have decided to move Weave/CoreOS/Azure guide into our own repo, as that's more convenient for a number of internal reasons. Also, CoreOS now has completely separate repository for their guides.

[2015-11-03 05:41] errordeveloper commented on #12907
I think the decision here will depend on the outcome of #5472 and other similar discussions.

[2015-11-03 05:42] hurf commented on #16562
Recently most of the PRs fail on this test, with go 1.3. But I tested it locally with go 1.3 and it works fine. There must be a shippable bug but I just can't figure it out.

[2015-11-03 05:43] davidopp commented on #13152
@jayunit100 can we close this issue?

[2015-11-03 05:45] evanphx commented on #16699
I looked at the traffic being sent to etcd again and while the system is steady, every 10 seconds or so, I see a request like `PUT /v2/keys/registry/minions/ip-172-20-0-215.us-west-2.compute.internal?prevIndex=1809350&prevValue=<encoded json>`. Looking at the responses to the PUTs, they all succeed so the horizon for etcd's versions is going forward pretty constantly.

[2015-11-03 05:45] #13492 closed

[2015-11-03 05:46] errordeveloper commented on #3685
@DamodarSojka please post on StackOverflow or the Kubernetes mailing list, this is a good question indeed and Kubernetes may be the right kind of system to study.

[2015-11-03 05:46] jayunit100 commented on #14282
I think this issue might be reopened in the future: we want the spin up recipes to support more than single master Deploys... But for now I agree let's close.

[2015-11-03 05:46] #14282 closed

[2015-11-03 05:54] davidopp commented on #12041
@madhusudancs Can you take this one? It looks pretty straightforward -- modify the code you added to setNodeStatus() in kubelet.go so that it only flips from reporting OOD True to reporting OOD False if it has been in OOD True state for some period of time -- say, 5 minutes. Probably want to make it possible to disable this behavior in e2e tests, so instead of hard-coded 5 minutes it should probab

[2015-11-03 05:56] thockin commented on #15924
I'm fine with this sort of change.  Got spare cycles?

[2015-11-03 05:57] resouer commented on #16436
**Option 1**

`docker run -v <path_need> hyperkube kubectl get pods`

This seems verbose ...

**Option 2**
[code]
Em, looks better?

[2015-11-03 06:00] piosz commented on #16675
cc @mwielgus

[2015-11-03 06:00] madhusudancs commented on #12041
@davidopp Sure. I wanted to talk to you and/or Daniel about it this week if there was no resolution. Now that there is, I will work on it this week.

[2015-11-03 06:07] jayunit100 commented on #13152
Yes this can be closed.  The new option allows for loadbalanced access via nodeport.
In the future if we iterate on using it we can open a new issue .

[2015-11-03 06:07] jayunit100 commented on #13152
@timothysc to confirm .....

[2015-11-03 06:15] kk580kk opened #16715 "I cannot create wordpress and mysql using this guide"
I cannot create wordpress and mysql using this guide http://kubernetes.io/v1.0/examples/mysql-wordpress-pd/README.html

the logs says;
MySQL Connection Error: (2002) php_network_getaddresses: getaddrinfo failed: Name or service not known

then I try to edit the wordpress.yaml , and add this WORDPRESS_DB_HOST and my mysql ip 10.254.43.97.
I think this maybe bug or something I have a mistake.

[2015-11-03 06:36] thockin commented on #16700
you want `-o name`

On Mon, Nov 2, 2015 at 4:37 PM, Matt Liggett <notifications@github.com>
wrote:

[2015-11-03 06:36] #16700 closed

[2015-11-03 06:40] thockin commented on #16706
We went back-and-forth on `hostname -i` - I forget the exact reason we
didn't try that first.  I'm happy to revisit if we think we have a better
heuristic.  Or we could (sigh) add more flags.

On Mon, Nov 2, 2015 at 6:26 PM, Ilya Dmitrichenko <notifications@github.com>
wrote:

[2015-11-03 06:45] mikedanese commented on #16278
I think this is fixed

[2015-11-03 06:45] #16278 closed

[2015-11-03 06:50] thockin commented on #16654
quantity format really depends on the resource being represented.

On Mon, Nov 2, 2015 at 7:04 PM, Victor HU <notifications@github.com> wrote:

[2015-11-03 06:53] thockin commented on #16670
Thanks!

On Mon, Nov 2, 2015 at 5:51 PM, Flying Tiger <notifications@github.com>
wrote:

[2015-11-03 07:08] wojtek-t commented on #9485
Kubekins 2871 run was fixed by #16428

[2015-11-03 07:08] saad-ali commented on #15382
Confirmed that this cluster of test failures was not caused by a product issue.

The failures were a result of a temporary increase in latency of GCE PD attach/detach calls. Which resulted in the test cases simply timing out before the operations could complete.

**Example 1:**
* Test: `kubernetes-e2e-gce/9214` `Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another hos

[2015-11-03 07:09] wojtek-t commented on #9485
Kubekins 2906 was something strange - metrics were 10x larger than in all other tests - I'm pretty sure this was related to some GCE issues.

[2015-11-03 07:09] #9485 closed

[2015-11-03 07:32] feihujiang commented on #16670
@thockin Sorry, I looked into your examples, I found #13917 couldn't fix this.

[2015-11-03 08:01] wojtek-t opened #16720 "Density test panicked"
13:28:54   Full Stack Trace
    13:28:54   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubelet_stats.go:383 (0x49d088)
    13:28:54   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubelet_stats.go:449 (0x49d3cf)
    13:28:54   /go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/framework.go:127 (0x48aebf

[2015-11-03 08:19] wojtek-t commented on #13117
@davidopp - correct

[2015-11-03 08:21] wojtek-t commented on #13117
BTW - we'are getting closer to it every day - currently we are getting rid of FakeEtcdClient to make the transition smoother.

[2015-11-03 08:25] dkorn opened #16721 ""nil" string is returned in component status error"
When a component status has no errors (condition: type: Healthy, status: True) "nil" string is returned, instead of nil value.

Example ("etcd-0" component):
[code]

[2015-11-03 09:41] #16596 closed

[2015-11-03 10:56] #16720 closed

[2015-11-03 11:01] feihujiang commented on #16670
I think I know the problem about the following examples:
[code]
Because the container finishes /bin/date command immediately , then exit, however AttachContainer needs container running not exited and dead . So the error message is "container not found ("date")", because container("date") exited:

[2015-11-03 11:14] feihujiang commented on #16670
And I tested ```docker run```, the output as follows:
[code]

[2015-11-03 11:39] wojtek-t commented on #16376
That is something that is very misleading in my opinion - this basically means that we have:
-v1.ListOptions in "v1" api group
-unversioned.ListOptions in all other api groups

No-- I think I said earlier, I think we can remove it from v1 and replace it with unversioned.ListOptions without changing the wire format. I agree we ideally won't do the confusing thing you just described, but if it's nec

[2015-11-03 12:29] #16684 closed

[2015-11-03 12:43] deads2k commented on #16665
"wait, where did my source tree go"..... @smarterclayton evil....

[2015-11-03 12:59] wojtek-t commented on #16361
#16725 that should solve this issue is already out for review.

[2015-11-03 12:59] deads2k commented on #16665
ok, it looks like the script isn't setting up gopath properly, so its results aren't predictable.  Awesome.

[2015-11-03 13:31] wojtek-t commented on #16376
@lavalamp
Sorry for continuous questions here, but one more.

Once we add ListOptions to "unversioned" they should be compatible with "v1" - this means that field/label selectors will be strings there.
However, in "api.ListOptions" field/label selectors are "fields.Selector" and "labels.Selector" respectively which is pretty convenient. Does it mean that after this change we will have to parse tho

[2015-11-03 13:35] jsafrane opened #16727 "NFS recycler does not work in containerized kube-controller-manager"
When controller manager looks for a recycler for a NFS volume, it calls `nfsPlugin.CanSupport()`, which checks for presence of `/sbin/mount.nfs` or `/sbin/mount.nfs4`. Since controller manager is containerized, it does not see any such executables and returns `false`.

This is related to issue #14244, volume plugins are used both by kubelet, where checking for `mount.nfs` makes sense, and by contr

[2015-11-03 13:38] jsafrane commented on #16727
cc @kubernetes/rh-storage

[2015-11-03 14:27] swagiaal opened #16729 "Move formatAndMount and diskLooksUnformatted to mount_linux.go"
The functions formatAndMount and diskLooksUnformatted execute linux commands and should be moved to mount_linux.go

[2015-11-03 14:42] markturansky commented on #16727
@jsafrane good find.

[2015-11-03 14:47] timothysc commented on #13152
yes please close.

[2015-11-03 14:49] Pendoragon commented on #16431
I have come across the same issue. Is it possible to run a nginx proxy in front of apiserver on the master to handle CORS request? it seems that there was a nginx sitting in front of apiserver quite a while ago and all requests will be reverse proxied by nginx. but then it got removed to enable apiserver bearer token auth (nginx does not support bearer token).
kubernetes/kubernetes#4007

[2015-11-03 14:57] jayunit100 commented on #15817
If someone is new to kube and working on this, i'd suggest a roadmap:
- use hack/local-up-cluster.sh to get kube working locally
- then try to run the spark example,  its a good place to borrow from for glueing ports together and so o https://github.com/kubernetes/kubernetes/tree/master/examples/spark
- from there, modifying it to use flink containers shouldn't be too bad.

[2015-11-03 14:58] timothysc commented on #15817
@hsaputra could you elaborate the specific use case(s) that you are interested in?

Other factors to consider:
- Elastic?  Does Flink batch execution have enough knowledge to attempt to greedily widen it's execution, or should we start with stand-alone setup?
- Communications?  Can flink handle being behind an L7 loadbalancer?  akka has known issues, and requires it be configured properly on start

[2015-11-03 14:59] justinsb opened #16730 "On systemd, we should restart kubelet indefinitely"
I saw an issue where the kubelet was crashing on boot; eventually systemd marked the service as down and (appeared to) stop restarting it.

We should probably restart it indefinitely as the node is useless without a kubelet.

[2015-11-03 15:01] pmorie commented on #2630
@joshk0 @antoineco We've just introduced API changes that will allow you to specify a supplemental group that owns emptyDir and its derivatives and some block device volumes: #15352

[2015-11-03 15:04] markturansky commented on #16727
This would effect other volume plugins, too, that check for binaries in `CanSupport(spec)`.  Those other plugins don't have recycler implementations yet, but they will.

@thockin @pmorie the least intrusive way to tell CanSupport to skip any kind of binary check might be a bool on volume.Spec that the recycler controller can set before calling CanSupport.  Only the plugins requiring a binary check

[2015-11-03 15:05] markturansky commented on #16727
This is a blocker in OpenShift that has this change in the NFS plugin.

[2015-11-03 15:06] rootfs commented on #16727
the downside of not checking binaries is that once recycler pod lands on a host that doesn't have the necessary binaries, the recycler will fail.

[2015-11-03 15:10] markturansky commented on #16727
@rootfs I believe we can squash this bug while keeping the change you made.

[2015-11-03 15:13] rootfs commented on #16727
@markturansky can the recycler pod mounts nfs without using host's /sbin/mount.nfs? if so, then indeed we don't need to care about the binaries.
yes, making `cansupport` return more than bool will be great.

[2015-11-03 15:17] markturansky commented on #16727
@rootfs we have an issue to make `CanSupport(spec) (bool,error)` for more detailed errors.  I like the idea of looking for binaries to determine support.  It can make error handling (and debugging) much easier.

I am suggesting a flag on volume.Spec.  maybe `spec.RequireLocalBinary` or something that tells the plugin to look or not.   That way, Kubelet can correctly look for the required binary wh

[2015-11-03 15:22] rootfs commented on #16727
or just add another parameter to `cansupport` like `CanSupport(spec *api.Spec, requireLocalBinary bool)`, then we don't need to change spec.

[2015-11-03 15:23] markturansky commented on #16727
@rootfs that requires touching every single plugin.  the flag approach only requires changing NFS.

My approach may not be the best (awaiting confirmation from others), but it is the fewest number of changes.

[2015-11-03 15:36] markturansky commented on #16727
@jsafrane what about containerized kubelet?

[2015-11-03 15:48] hsaputra commented on #15817
Thinking this will be just bare basic example how kubernetes could be used to deploy Flink as standalone.
Need to add Docker image for Flink, I assume we could add it to main Docker repo?

[2015-11-03 16:03] pmorie commented on #16727
The check should be fixed for this in order to have NFS work with containerized kubelet.  What needs to happen for that is that the commands being execed should be run in the host's mount namespace, since that is where the mount operations run when the kubelet is containerized.  To support this correctly we probably need to make an `exec` interface, similar to the `chown`, `mount`, and `chmod` int

[2015-11-03 16:06] markturansky commented on #16727
Yes, I agreed, @pmorie.   Also, I think doing these binary checks in CanSupport is probably the wrong place.  I think now it should be in builder.SetUp.  That func already returns error and we can return exactly the error (any specific binary is missing).

[2015-11-03 16:13] jsafrane commented on #16727
IMO, there is no good time to check for /sbin/mount.nfs, as Kubelet may be containerized and we can't easily check filesystem on the host. IMO we should check for it only when Kubelet is not containerized and at SetUpAt() time, not in CanSupport().

[2015-11-03 16:13] deads2k opened #16732 "HPA type needs APIGroup"
A resource is no longer an unambiguous concept.  It needs an `apiGroup` to qualify the name and make it unambiguous.  The HPA type doesn't contain enough information to uniquely identify what it wants to scale.

[2015-11-03 16:15] thoraxe opened #16733 "pod quota cpu limit exceeded message is confusing"
If you have a project that has a quota and a limitrange:

[code]

When you try to deploy a new pod, the default (from the limitrange) is inherited by the deployer pod. In this case, 100m cpu.

So, if you already have 2 pods scheduled (using 200m cpu), you are at quota/limit. Then, when the deployer tries to deploy something else, you get this error:

[code]

If you read this error, on the surface

[2015-11-03 16:16] deads2k opened #16734 "HPA type should accept a resource"
The HPA type currently has a `kind` field.  While sometime unambiguous, the HPA contract is actually with a `group, resource` tuple.  You can see the expression of this in the Scaler client, where they map the `kind` to a `resource`.  Unfortunately, that construct requires that the kube process be aware of and have registered the `kind` and associated a `resource`.  In the general case, that won't

[2015-11-03 16:16] pmorie commented on #16727
@jsafrane I was suggesting that the check be done in the host mount namespace when containerized, similar to how the mount operation is done when the kubelet is containerized.

[2015-11-03 16:20] jsafrane commented on #16727
@pmorie, yes, that could work.

[2015-11-03 16:41] liquid-sky commented on #11011
Hi @bcwaldon, just wondering when you are planning to include updated kubelet in Alpha channel? Looks like [v1.0.7](https://github.com/kubernetes/kubernetes/releases/tag/v1.0.7) has been released recently.

[2015-11-03 16:55] pmorie commented on #16727
I don't think the checks should move -- `CanSupport()` is the right method of the interface to perform the checks in.  They should just be made to work correctly when containerized using the method we already use for mounts.

[2015-11-03 16:56] rootfs commented on #16727
I agree to revert check. Let's find a better place do check binaries.

[2015-11-03 16:58] markturansky commented on #16727
@pmorie I will investigate your approach and nag you with questions, I'm sure.  The worst case scenario is to revert the check in NFS.

[2015-11-03 17:03] jsafrane commented on #16727
@pmorie, the check should not be in CanSupport(), as it's called also by kube-controller-manager running on master, which does not need to have mount utilities. To be precise, recycler controller uses volume plugins and calls FindPluginBySpec(), which then calls CanSupport(). https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/plugins.go#L276

[2015-11-03 17:04] justinsb commented on #16709
The name is "a" followed by the UUID of the service.  We need the "a" prefix as I recall because the name can't start with a number.

I agree that we should tag the ELB with the service information - that is a great suggestion.

[2015-11-03 17:16] babusatasiya commented on #16652
Thank you for update. I hear you and looks like good proposal.

1. What about exposing the information to client level when it is in Pending state or even further if there is a X number of pods are in Pending state due to resources, it wont allow kubectl to add more PODs to avoid long Pending queue, In sort, failfast would be best.

2. Is it possible to allow put global limit to avoid scheduling c

[2015-11-03 17:16] thockin commented on #16727
How do you plan to recycle an NFS volume if you can't mount it?

On Tue, Nov 3, 2015 at 9:04 AM, Jan Šafránek <notifications@github.com>
wrote:

[2015-11-03 17:16] bcwaldon commented on #11011
@liquid-sky v1.0.7 was marked as a "Pre-release" at https://github.com/kubernetes/kubernetes/releases until just recently, but now that it's marked as "Latest release", we can go ahead and bump it in the CoreOS image. I'll make sure it gets done ASAP.

[2015-11-03 17:16] justinsb commented on #16469
I think this is a good idea; it is annoying to replace the master and have the cluster break.

(It is also surprisingly hard to replace the master on AWS, but that's a separate issue.  It's on my radar!)

My only concern is whether we should actually put the master behind an ELB.  When we have HA master (some day), we can either use an ELB or we can have an instance take over the master IP.  My gu

[2015-11-03 17:19] erictune commented on #12650
@markturansky @thockin what is the plan here?
With a cluster built ca. v1.1, a GCE VM, and docs at head, the example fails.

[2015-11-03 17:20] erictune commented on #12650
example = examples/nfs

[2015-11-03 17:21] thockin commented on #16727
Don't we have an "exec in root mountns" exec interface already?  That seems
best for now.  At some point the check needs to become an interface of
sorts so that we can container-ize the mount tools.

I am travelling today and rather busy this week, but I will try to follow
along.

On Tue, Nov 3, 2015 at 9:15 AM, Tim Hockin <thockin@google.com> wrote:

[2015-11-03 17:22] dchen1107 commented on #15175
Ahh, I just realized that only gce/gke cloud provider is using supervisord, not all cloud providers. I will send pr to fix this shortly, but not sure we plan to include that into 1.1 release.

[2015-11-03 17:23] thockin commented on #12650
I thought we had already implemented this, but it seems not.  Aside from
that, there's a different issue with recycling (controller manager runs in
a container ergo no mount utils).  Solution is being discussed.

On Tue, Nov 3, 2015 at 9:20 AM, Eric Tune <notifications@github.com> wrote:

[2015-11-03 17:24] dchen1107 commented on #15175
Here is the code we switch to supervisord for GCE & GKE: https://github.com/kubernetes/kubernetes/blob/b9cfab87e33ea649bdd13a1bd243c502d76e5d22/cluster/saltbase/salt/top.sls#L32

[2015-11-03 17:29] thockin commented on #2630
Paul,

Do we have a roadmap doc for the evolution of this?  We've talked about
FSGid being auto-allocated at admission, then maybe being coupled to PVs
eventually.  It would be nice to be able to see that plan all laid out.

On Tue, Nov 3, 2015 at 7:01 AM, Paul Morie <notifications@github.com> wrote:

[2015-11-03 17:29] bcwaldon commented on #11011
@liquid-sky and just to clarify, this bug does not appear to be fixed in v1.0.7 - it's in v1.1.0

[2015-11-03 17:31] errordeveloper commented on #16706
I see. Well, I don't think `hostname -i` is ideal either, the whole notion of "default interface" is relative anyway. I think it's best to provide full control in situation where the address itself is not known ahead of time, so a flag setting the specific interface would be the way of providing that level of control.

[2015-11-03 17:32] thockin commented on #16670
That makes sense.  I think we need to make this work, even if the container
has exited.

On Tue, Nov 3, 2015 at 3:02 AM, Flying Tiger <notifications@github.com>
wrote:

[2015-11-03 17:34] timothysc commented on #16673
@mikedanese how exactly did my commit even touch the api-server unless it was a drag from godeps... somehow?

[2015-11-03 17:36] erictune commented on #12650
As far as I can see, there is no example for setting up multi-writer storage that does not require installing extra software on nodes.

[2015-11-03 17:39] markturansky commented on #16727
I think we need both:

1.  use the existing exec interface in CanSupport so that Kubelet running pods can correctly check for required binaries.

2.  Add a flag to bypass the CanSupport check so that the recycler controller can find the correct plugin knowing it will fail a check for binaries.

The controller running in master uses CanSupport to find the correct plugin.   Kubelet uses CanSupport t

[2015-11-03 17:40] liquid-sky commented on #11011
@bcwaldon, thanks a lot! I was really hoping that it was fixed in v1.0.7... Does it still try to call `safe_format_and_mount`?

[2015-11-03 17:42] vishh commented on #16110
Update: `kubernetes-e2e-gce-parallel` tests passed.

[2015-11-03 17:49] henrymai opened #16737 "Rolling update fails sometimes because of a timeout and leaves two replication controllers"
This is the command that was run along with the output below.
For clarity, the new rc is:
`django-hash-3059e3853a8b8e954cdab63d6b364713f1d8a652`

The old rc is:
`django-hash-daf9e4eeac8ea0b32ed53d5c991474b2c1140db`

[code]

Aftewards, it leaves behind 2 replication controllers:
[code]

Could this be related to: #8676 ?
Looking at the kubectl get events --namespace=sandbox, ~10 hours or so after it

[2015-11-03 17:54] lavalamp commented on #16132
I think those log messages are expected and not a big deal, with the
exception that they're happening too frequently. We should slow down the
retries to 1/second or slower, just to reduce log spam.

On Mon, Nov 2, 2015 at 6:43 PM, David Oppenheimer <notifications@github.com>
wrote:

[2015-11-03 18:07] markturansky commented on #12650
https://github.com/kubernetes/kubernetes/issues/16727 has the conversation around a solution.

I'm kind of glad this issue wasn't implemented yet because the bug in #16727 wouldn't have been solved.  With the solution discussed in that issue, we can return better errors, which is what this issue was intended to provide.

[2015-11-03 18:29] mattf commented on #15817
cc @smarthi

[2015-11-03 18:31] erictune opened #16741 "No easy universal shared storage example"
We do not have a easy universal shared file storage example.

This makes it hard to build realistic examples with kubernetes.  For example, any type of batch job typically reads and writes to and from shared storage.

By universal I mean it should work on most or all cloud providers.  This rules out `GCEPersistentDisk` and  `AWSElasticBlockStore`.

By "shared" I mean multiple pods on multiple mach

[2015-11-03 18:31] erictune commented on #16741
@aronchick

[2015-11-03 18:41] dchen1107 commented on #16730
@justinsb Shouldn't supervisord / monitd detects the issue and restart kubelet? BTW, https://github.com/kubernetes/kubernetes/pull/16736 was just merged, which enables supervisord, and change the interval of daemons healthchecking interval from 2 mins (default interval of monitd) to 10 seconds. Is this good enough?

[2015-11-03 18:47] erictune opened #16742 "Need CR to get first prompt after kubectl run"
When you run an image with kubectl run, it prints a bunch of `Waiting lines like this:

[code]

Once it is done waiting, it doesn't print anything else, and it does not show the command prompt.  You have to hit enter to get a command prompt.  Users may not realize this.

Suggest at the end of the `Waiting...` loop, we print a line like `Hit enter for prompt` or else figure out what is wrong with t

[2015-11-03 19:08] erictune opened #16744 "nslookup can find service with short name but dig cannot."
Summary of discrepancy:

Only `nslookup` can find my service with a short name:
[code]

... though both `dig` and `nslookup` find it with a fully qualified name:
[code]

Detailed steps to reproduce:
[code]

[2015-11-03 19:08] erictune commented on #16744
@ArtfulCoder

[2015-11-03 19:26] pmorie commented on #16727
We need the controller manager to use the same infrastructure so that CanSupport() can run there, IMO.

[2015-11-03 19:27] janetkuo commented on #16708
Agree that it's unhelpfully verbose. This output was added intentionally in #3141. @lavalamp shall we remove this output and leave only the error message?

[2015-11-03 19:33] zmerlynn commented on #16695
Done.

[2015-11-03 19:33] #16695 closed

[2015-11-03 19:42] bcwaldon commented on #11011
@liquid-sky as far as I know, v1.0.7 still depends on the safe_format_and_mount script

[2015-11-03 19:44] janetkuo commented on #16707
This is expected behavior. See https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/jsonpath.md#jsonpath-template-syntax

Are you suggesting we change the output from as its Sting() function to json format?

[2015-11-03 19:49] dchen1107 commented on #15175
@colemickens #16736 was merged and cherry-picked to 1.1 release.

[2015-11-03 19:55] mikedanese commented on #16707
Ya, it seems like a json path query should output json
On Nov 3, 2015 11:44 AM, "Janet Kuo" <notifications@github.com> wrote:

[2015-11-03 20:01] xsamurai commented on #13190
Any update on this ?

[2015-11-03 20:03] mahehss opened #16747 "Getting "Unknown output type: yaml""
I tried setting up the kubernetes cluster by following the below link. I was able to get the bucket created but after that it started throwing ""Unknown output type: yaml" error.

http://kubernetes.io/v1.0/docs/getting-started-guides/aws.html

Below are the stack when I run kube-up.sh

Starting cluster using provider: aws
... calling verify-prereqs
... calling kube-up
Starting cluster using os dis

[2015-11-03 20:06] mwielgus commented on #16675
@DirectXMan12 Everything depends on how (under what key) the metrics are stored. It is easier to turn a selector into a set of pods (10 lines of code in heapster client, can make it a utility function if you wish) than set of pods into a selector. Also, the usage of selector is more in line with the scale subresource idea.

[2015-11-03 20:07] mikedanese commented on #16385
I'm working on this now. Having some difficulty reproducing on a personal cluster.

[2015-11-03 20:20] nikhiljindal opened #16748 "Swagger spec fails validation"
Running `swagger-tools validate api/swagger-spec/resourceListing.json api/swagger-spec/api.json api/swagger-spec/v1.json api/swagger-spec/version.json api/swagger-spec/apis.json api/swagger-spec/extensions.json api/swagger-spec/v1beta1.json` gives:

[code]

cc @caesarxuchao @bgrant0607 @lavalamp

[2015-11-03 20:27] DirectXMan12 commented on #16675
cc @deads2k

[2015-11-03 20:39] krousey commented on #16686
Looking into this, this is likely a false alarm due to an error in pkg/httplog. It assumes that everything calls [`WriteHeader`](https://github.com/kubernetes/kubernetes/blob/master/pkg/httplog/log.go#L185) on the `http.ResponseWriter`. It is perfectly valid to only call `Write` on a `http.ResponseWriter` as [healthz](https://github.com/kubernetes/kubernetes/blob/master/pkg%2Fhealthz%2Fhealthz.go#

[2015-11-03 20:52] deads2k commented on #16675
Initializing the `HeapsterMetricsClient` with a single client that is used for both listing pods and getting metrics means that in order to effectively use this client, I must have a single set of credentials that grants me the ability to inspect pods and proxy services.  The latter is logically required, but the former is not.  The current structure exposes a tremendous amount of information (eve

[2015-11-03 20:53] lavalamp commented on #16376
@wojtek-t I think the idea is, if we're encoding directly to url.Values, we can keep the convenient selector types, and do the necessary plumbing in the en/decoding functions.

[2015-11-03 20:54] lavalamp commented on #16376
@wojtek-t It's possible that adding a SetJSON-but-for-url.Values method on the selector might work, I haven't investigated.

[2015-11-03 21:03] mml commented on #7351
After draining as in #3885 the node has no pods running and is marked unschedulable.  Reading the original report, (1) seems to want a way to administratively remove the node entirely (kubectl delete node), which I agree *should* work.  (2) is about implementing a more useful policy when a node completely disappears.  In this case, a VM was deleted, but any machine, virtual or physical, can break

[2015-11-03 21:06] krousey commented on #16686
I confirmed with curl that this is just a logging error at least for healthz. Status code actually returns was 200. This is also pretty obvious since someone writing a 0 status code would result in a stacktrace in the log.

[2015-11-03 21:17] lavalamp commented on #16708
@janetkuo #3141 is about the regular template, not the json path thing, though maybe it's reused.

Actually it's basically impossible to debug a template without this output, so I'm not in favor of removing it.

...except for the stuff after the "----data----", that does not seem terribly relevant or useful, we can lose that.

[2015-11-03 21:23] lavalamp commented on #16748
Can we run this automatically?

[2015-11-03 21:29] mml commented on #13430
Has this caused an outage yet?  I agree that percentages are more general, but knowing that all clusters  are <= 100 nodes we can choose more sensible defaults.  At that scale, I would set `--deleting-pods-burst=1` and `--deleting-pods-qps=0.0033` (1/300) as defaults.  This limits you to 1 every 5 minutes.  Still a little fast for tiny clusters, but reasonable for the 40-100 scale.

For users who

[2015-11-03 21:30] kalebwalton commented on #12459
I probably missed it in this thread, but was there something done to resolve this? I see mention of making the output more appropriate, but don't see the commit. Sorry if I'm just spacing on it... and thanks :)

[2015-11-03 21:34] pmorie commented on #16727
@markturansky so, can we close out #12650 and #16743?

[2015-11-03 21:34] timothysc opened #16753 "Kubernetes build has grown bloated."
The default 'make' target for a build literally grinds my machine to a crawl.  This is almost antitechtical to one of the central themes of golang, that go builds are lightweight and fast.

My distcc builds of large c++ projects is faster than k8s.

For example, there are a bunch of targets that I think should be part of only a 'release' build, which is more of an exception then the norm.

[2015-11-03 21:36] markturansky commented on #16727
I already closed #16743.

Changing CanSupport to (bool, error) still gives us the ability to tell the user exactly why it fails (specific missing binary) as opposed to ham-fisted true/false and debugging hell to find the missing dependency.

[2015-11-03 21:36] pmorie commented on #2630
@thockin I would love to write one up once I am freed up from finishing stuff for 3.1... I'll make an issue for it.

[2015-11-03 21:38] pmorie opened #16755 "Create storage roadmap document"
As @thockin points out in #2630, we have done a fair amount of discussion for the long-term plans for allocating FS groups.  These should be collected into a roadmap document; creating issue for self once I am freed up a bit.

cc @kubernetes/rh-storage

[2015-11-03 21:53] quinton-hoole commented on #13430
There is a fair bit of testing going on with 1,000 node clusters, and we'd like clusters around that size to work well.  But even so, I think that your model works quite well.

[2015-11-03 22:13] krousey commented on #16686
Watches are a different issue than healthz. I think watches are hijacked, and that kinda disables all status recording ability by this package. Do we care to fix that? @lavalamp

[2015-11-03 22:14] lavalamp commented on #16686
websockets hijack-- I thought watches did ordinary HTTP chunked encoding?

On Tue, Nov 3, 2015 at 2:13 PM, krousey <notifications@github.com> wrote:

[2015-11-03 22:17] krousey commented on #16686
Probably, but the way it's currently implemented, hijacking completely bypasses this middle-ware logging layer we have.

[2015-11-03 22:29] krousey commented on #16686
Maybe we detect hijacking and log that instead of false data? e.g.

[code]

would become

[code]

[2015-11-03 22:31] lavalamp commented on #16686
works for me!

On Tue, Nov 3, 2015 at 2:30 PM, krousey <notifications@github.com> wrote:

[2015-11-03 22:36] krousey commented on #16686
Ok out for review in #16756

[2015-11-03 22:36] #16687 closed

[2015-11-03 22:55] brendandburns commented on #16661
Closing this, it's been merged and cherry-picked.

[2015-11-03 23:09] evanphx commented on #16699
So, this turned out to be an issue with `kubectl proxy` not sending the data back! A quick `git bisect` session shows it was fixed in #11759. Thanks to @caesarxuchao and @lavalamp for humoring me and @vishh for fixing this bug back in July!

[2015-11-03 23:09] #16699 closed

[2015-11-03 23:20] asridharan commented on #12459
@kalebwalton this is my bad. I was supposed to take on this task. Couldn't get to this due to some work constraints so got delayed. Will edit the output of the iptables error and send a PR soon.

[2015-11-03 23:22] mwielgus commented on #16675
Not sure if I understand your need correctly. You want to have 2 different clients used in HorizontalPodAutoscaler controller:
* One for querying api objects (HPAs, pods, etc)
* One for talking to Heapster
Am I right?

[2015-11-03 23:30] trumpcard commented on #16229
I just wasted time on this. +1 for either fixing or updating the docs.

[2015-11-03 23:39] roberthbailey opened #16762 "Update high availability docs / example configs to use supervisord instead of monit"
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability.md
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability/monit-kubelet
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/high-availability/monit-docker

/cc @brendandburns

[2015-11-03 23:50] lavalamp commented on #16500
After more thought, I think it's better to be very clear that the server only accepts a particular version, and it's the client's job to be polymorphic. I think this will reduce bugs, long-term. I'm just nervous about the server doing some possibly-never-tested conversion between a random object a client sends and missing some important field. Somehow it feels more tractable to me to have the clie

[2015-11-03 23:50] brendandburns commented on #16110
Note, I'm think we want to set the `--dns-opt` flag from @thockin in https://github.com/docker/docker/pull/16031

[2015-11-03 23:56] lavalamp opened #16764 "Design/Implement "dynamic" client from #15730"
From #15730, "The dynamic client lets users consume apis which are not compiled into their binary..."

Rough TODO list is to:
- Get consensus on an interface - examine kubectl's Builder.
- Conscript runtime.Unstructured (or similar type).
- Type needs to allow easy/standardized metadata introspection.
- Make a codec supporting the type.
- Implement the client.
- Wire in to potential users; Namespa

[2015-11-04 00:04] vishh commented on #16110
@brendandburns: What dns options have to be set?

[2015-11-04 00:08] vyshane commented on #13190
@xsamurai I've had better luck with the [coreos-kubernetes](https://github.com/coreos/coreos-kubernetes) project that the CoreOS team maintains.

[2015-11-04 00:16] lavalamp commented on #16558
It is occurring to me that perhaps we first/in parallel want to make apiserver infrastructure easy-to-reuse, or there may not be anyone lining up to register 3rd party APIs.

[2015-11-04 00:21] smarterclayton commented on #16558
I'm still uncomfortable with "master" apiserver that gets requests first.
I think we need to argue this through - we've never reached closure on it.

We do want to register APIs with the master, but as a "here's where I am"
to start.

Resource handled by a single api server, but we need to sort out the
"subresource interface" problem like scale first (could someone else
implement the scale sub res

[2015-11-04 00:23] esecules commented on #16454
I tried editing the cloud config files manually to pull kubernetes 1.0.7 but Im not sure what I ended up doing. As far as I remember 0.19.3 didnt have support for api version v1 and im pretty sure it had support for v1beta1 and v1beta2.

[code]
[code]

[2015-11-04 00:28] paralin commented on #16753
When building a release for ./cluster/kube-push.sh it builds all of the cross-compilation targets even though we're only targeting the default on the cluster. Seems a bit inefficient? Is there a faster way to do this / speed it up

[2015-11-04 00:29] lavalamp commented on #16558
@smarterclayton Yeah, that's exactly the argument that I think we need to have. I don't have a clear picture of how auth/admission/etc can work in the world where apiserver doesn't proxy.

[2015-11-04 00:30] paralin commented on #16764
Maybe upgrade to Swagger v2?

I built a dynamic client for C# using code generation:

https://github.com/paralin/kubenet

Of course you need code generation here since you want type safety - however, under swagger v2, you can actually re-generate all that code with a single command targeted at a live endpoint. With v1.2 this doesn't work.

[2015-11-04 00:31] paralin commented on #16764
That said here's a working v2.0 swagger API declaration:

https://github.com/paralin/KubeNET/blob/master/Resources/API/kubernetes.swagger

pretty easy to generate, via:

https://github.com/paralin/KubeNET/tree/master/Resources/Scripts/gen-swagger2

[2015-11-04 00:36] lavalamp opened #16768 "Dependency tree validation"
A number of things we need to do in the near-ish future will involve making sure that discrete chunks of the codebase are independently importable.

Basically, we want to tightly control the dependencies of the client, and of apiserver infrastructure, to start out with. As we clean up the dependencies, we want to keep them cleaned up. This means we need something to test the import paths, to ensur

[2015-11-04 00:39] lavalamp commented on #16721
Fix is possibly to make error a *string?

[2015-11-04 00:41] brendandburns commented on #16110
I would ask @thockin but I assume he added the flag for a reason ;)

[2015-11-04 00:44] lavalamp commented on #16706
Happy to look at a PR for this.

[2015-11-04 00:44] hongchaodeng commented on #15952
What's the status on this issue?
It's a little annoying if you want to run unit test on Mac.
Can we add the error "nodename nor servname provided, or not known" to that list of outputs? The error is equivalent to UnknownHostException in Java. Or can we add another abstraction layer for it?

@smarterclayton Since you created the issue, just ping on you for thoughts.

[2015-11-04 00:44] lavalamp commented on #16588
Please reopen if still an issue.

[2015-11-04 00:44] #16588 closed

[2015-11-04 01:01] nikhiljindal commented on #16764
https://github.com/kubernetes/kubernetes/issues/13414 tracks generating 2.0 swagger spec.

Its cool to see 2.0 spec but since that is generated by converting our 1.2 spec, we still cant use the new features introduced in 2.0, right?

[2015-11-04 01:02] timstclair opened #16770 "hack/update-codecgen.sh generating different output than verify-codecgen.sh at HEAD"
From https://github.com/kubernetes/kubernetes/pull/16757#issuecomment-153537158 (which includes more details):

The output of the ugorji codecgen is varies depending on whether the dependencies' codecs have been generated. https://github.com/kubernetes/kubernetes/pull/16415 started deleting generating files before regenerating them, but without enforcing a dependency ordering.

My suggested fix is

[2015-11-04 01:03] janetkuo commented on #3885
Trying to assign this to @mml but can't do so.

[2015-11-04 01:07] paralin commented on #16764
@nikhiljindal Probably not, either way, it's a working 2.0 spec. Would be a good starting point for someone to go through and manually upgrade things.

[2015-11-04 01:08] ihmccreery opened #16771 "`make release` sometimes fails without a `make clean` first"
Running `make clean` fixed the issue:

[code]

[2015-11-04 01:08] paralin commented on #13414
@lavalamp compat with dynamic clients and codegen for one.

[2015-11-04 01:08] ihmccreery commented on #16771
My proposal would be to have `make release` rely on `make clean`, but maybe that's the wrong way to fix this.

[2015-11-04 01:09] lavalamp commented on #16764
@paralin generating clients from swagger is good, but a separate issue (see the "typed" clients in the proposal I linked). This issue is concerned with making a single client that can talk to *any* kubernetes resource, existing or future, and at least do metadata operations.

For example, the namespace controller would need to be recompiled for every new resource if it were using a client produced

[2015-11-04 01:09] yujuhong opened #16772 "Remove docker references in pod_worker_test.go"
We should not be testing docker-specific logic outside of docker package. pod_worker_test.go still imports go-dockerclient directly and uses a fakeDockerClient. They should be replaced with the generic FakeContainerRuntime, etc.

[2015-11-04 01:10] yujuhong commented on #16772
/cc @Random-Liu

[2015-11-04 01:10] ihmccreery opened #16773 "Release mechanics issues"
Now that #16102 is in, I'm consolidating #15483 and #13339 here, since they're mostly the same work at this point.  There's a lot of stuff, but it's mostly one-liners, wording changes, etc.

Remaining work:

  - [x] `build-official-release.sh` doesn’t work for prereleases (#16865)
  - [x] Add note to output of `release/cut-official-release.sh` to do stuff in a separate window or tab, like we have

[2015-11-04 01:11] ihmccreery commented on #15483
With #16102 in, I'm closing in favor of #16773.

[2015-11-04 01:11] ihmccreery commented on #13339
With #16102 in, I'm closing in favor of #16773.

[2015-11-04 01:11] paralin commented on #16764
@lavalamp Sure - I just generated for type safety. It'd be great to have a dynamic client for human interaction.

[2015-11-04 01:17] lavalamp commented on #16764
@paralin yeah, we absolutely want to do that, too...

[2015-11-04 01:32] feihujiang commented on #16038
I tested this in my kubernetes version as follow, and didn't catch this bug, was this fixed?
[code]

[2015-11-04 01:39] mikedanese commented on #3885
@mml please accept your invite to the org at https://github.com/kubernetes so we can assign you issues

[2015-11-04 01:44] nikhiljindal commented on #16748
@lavalamp Yes plan is to add a test for this https://github.com/kubernetes/kubernetes/issues/5356

There are 3 main failures:
* Convert *int64 to integer
* Convert *unversioned.Time to string
* Handle {path:*}

https://github.com/kubernetes/kubernetes/pull/16774 fixes the first 2.

Third one requires more thought.
Paths of the form `{/path:*}` are not supported by swagger spec (as per discussion i

[2015-11-04 01:54] nikhiljindal commented on #16387
We recently renamed the path param to `path`.
`swagger-tools validate` does not complain which makes me believe that the spec is correct.

I see that swagger-codegen is being fixed, which seems like the right place to me.

Reducing the priority

[2015-11-04 02:13] Random-Liu commented on #16772
Will do! :)

[2015-11-04 02:15] eliaslevy opened #16775 "Slim down fluentd-es-image."
The fluentd-es-image add-on is massive, weighing in at 534 MB per Docker Hub.  There is no need for that heft.  May I suggest something like https://github.com/eliaslevy/docker-k8s-es-fluentd, which Docker Hub shows at 10 MB.

It uses Alpine Linux and is preconfigured similarly to the existing image.  It does not use the td-age distribution, as Alpine does not support RPM or DEB packages, but it i

[2015-11-04 02:26] smarterclayton commented on #15952
I think so.

[2015-11-04 02:44] pires commented on #13190
@vyshane that's the official way nowadays - or it's becoming that way. The CoreOS team has been overtaking that effort.

[2015-11-04 02:44] zhengguoyong commented on #16439
i will help fix it :)

[2015-11-04 02:54] smarterclayton commented on #16768
Whitelist!  I am 100% in agreement with this.

On Tue, Nov 3, 2015 at 7:36 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-11-04 03:06] resouer commented on #16098
@wpc009 Can you make sure your etcd is running? That's the whole cluster including flannel depends on. cc @dalanlan

[2015-11-04 03:23] #12711 closed

[2015-11-04 03:47] resouer commented on #16741
@erictune Can't we just run NFS Server as a Pod to achieve this?

[2015-11-04 03:55] thockin commented on #16741
NFS is the closest to universal, but it's hardly scalable or cloud-native.
I have no hands-on experience with Ceph, but it sounds like Ceph or Gluster
will be the best examples of real scale-out filesystems

On Tue, Nov 3, 2015 at 7:48 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-11-04 03:56] justinsb opened #16779 "How to _not_ create a service account?"
Is it possible to launch a pod without a service account, or with a null service account?

I've tried creating a serviceAccount and deleting the secret (it is recreated).  I've tried creating a secret without the token line (it is recreated).  Not specifying a serviceAccount means the 'default' serviceAccount is used.

As far as I can tell, every pod created gets full access to the k8s API.  While

[2015-11-04 03:56] JunejaTung opened #16780 "Failed to create a kubernetes client: invalid --kube_master_url specified"
## create kube-dns

the container `kube2sky` have to restart for underly confused errors.My kubernetes master ip is 172.27.8.210.

[code]

how to resolve this troble? I can't find any config miss in skydns-rc.yaml.

[code]
## skydns-rc.yaml

[code]

[2015-11-04 04:01] resouer commented on #16741
Ceph is too "heavy" for a demo purpose, I believe.

I once played with Glusterfs for a few days ... But not sure if it is suitable to running in a Pod, will take look.

[2015-11-04 04:07] thockin commented on #16741
I'd LOVE to see an add-on that runs a network FS on every node and
contributes some percentage of each node's storage to the cluster FS.

On Tue, Nov 3, 2015 at 8:01 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-11-04 04:11] thockin commented on #16110
we can use dns-opt when we know we don't have to fall-back on older docker
versions.  We current have a (very clever) hack that works.  We set the
ndots option.

On Tue, Nov 3, 2015 at 4:42 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-11-04 04:11] resouer commented on #16741
Get it @thockin  That's a persistent storage add on :)

[2015-11-04 04:12] thockin commented on #16742
+1

On Tue, Nov 3, 2015 at 10:48 AM, Eric Tune <notifications@github.com> wrote:

[2015-11-04 04:14] thockin commented on #16744
`digf` does not use search paths by default.  Try `dig +search
rabbitmq-service`

On Tue, Nov 3, 2015 at 11:08 AM, Eric Tune <notifications@github.com> wrote:

[2015-11-04 04:22] Hokutosei commented on #4825
+1 to be able to set `hostname`
as a mongodb user, this really is a problem to me now. my use case is replicaSets are set to services names `"mongodb-shard2-service:27038"` , `"mongodb-shard3-service:27039"` ...

if a pod dies (pod-A), it won't be in a replicaSet unless i manually do `rs.reconfig()`, replicaSet Member  (pod-A) will report me `Our replica set configuration is invalid or does not in

[2015-11-04 04:29] smarterclayton commented on #16707
Hrm - that seems like it's less useful for normal use (when do you use JSON
from the CLI?)

On Tue, Nov 3, 2015 at 2:55 PM, Mike Danese <notifications@github.com>
wrote:

[2015-11-04 04:37] feiskyer commented on #16110
Docker has just released v1.9, so I think v1.9 should be validated on high priority.

[2015-11-04 04:41] mikedanese commented on #16707
JSON is less useful than go struct format?

[2015-11-04 04:52] brendandburns commented on #16110
@feiskyer yep, validation is underway by @vishh.  See above.

[2015-11-04 04:59] mikedanese commented on #5754
Both etcd and swarm have this. I think the next piece of work here is to take this draft and turn it into a proposal.

https://github.com/docker/swarm/tree/master/discovery
https://github.com/coreos/discovery.etcd.io

cc @davidopp @fgrzadkowski @polvi

[2015-11-04 05:23] smarterclayton commented on #16707
Sorry, I see you meant JSON for structural elements.

On Tue, Nov 3, 2015 at 11:41 PM, Mike Danese <notifications@github.com>
wrote:

[2015-11-04 05:55] resouer commented on #9808
@mpilant As for the ubuntu part, Bare-metal Ubuntu Nodes means any ubuntu cluster you already have (no matter VMs or physical servers). Then the `kube-up.sh` will ssh to & deploy k8s on those machines. Apparently, in your case, you don't have `ssh` properly set up. Can you ssh those target machines may I ask?

[2015-11-04 06:10] mikedanese commented on #16779
It's not possible to create a pod without a service account, however it is possible to restrict all access to the api to a service account using the ABAC authorizer (AllowAll authorizer is the default). cc @erictune

[2015-11-04 06:47] Pensu opened #16783 "Not able to build static binaries."
Hi all,

So, I am building kubernetes from scratch. I downloaded the git code and ran

[code]

Here is the output I am getting:

[code]

Now, it results in successful build, but I am getting only dynamic binaries. According to hack/lib/golang.sh, I should get at least 3 static binaries, but that's not happening. Can you help me figure out, what's the issue here? And yeah, I am using gccgo.

[2015-11-04 07:19] matschaffer commented on #8242
@rektide incase you haven't come across it yet, seems like https://github.com/kubernetes/kubernetes/blob/master/docs/design/horizontal-pod-autoscaler.md has some info on the plans around pod autoscaling

[2015-11-04 08:09] arkkanoid commented on #12273
+1

[2015-11-04 09:31] resouer commented on #16741
After digging it a while, here's some facts for all:

1. Glusterfs requires: `--allow-privileged=true` & `host network`, I think I can find a way to use Serivce instead of host network.
Glusterfs need manual configuration inside glusterfs container, e.g. to create brick.

2. I also came across that we can use `btsync` to sync folders among nodes, there will be less manual configuration.

[2015-11-04 09:46] #16665 closed

[2015-11-04 10:06] wojtek-t commented on #16770
Yes - the problem is that it depends on the order - it produces a different code depending whether the code for depending structures already exists or not.
I agree that generating the code in dependency order will fix the problem and is the desired one.

[2015-11-04 10:11] unclebob2013 opened #16785 "failed start kube-proxy"
#### env: k8s + ovs

#### issue
[code]

[2015-11-04 11:12] resouer commented on #10570
@erictune  Is it possible for you to explain the main difficulty if we support cpuset?

My use case is: as k8s will support job controller soon, we want to fix Long Running Container to some cpu and let other jobs (batches) to compete for other cores. Does that make sense?

[2015-11-04 11:55] nlamirault commented on #8772
Same error using the `gcr.io/google_containers/hyperkube:v1.0.6` and `1.07`.

[2015-11-04 12:53] deads2k commented on #16675
I think two clients, along with an API that allows passing a `[]ObjectReference` (or some other unambiguously identifying information for Pods), would be the minimum bar to have a reasonably securable API.

I would still like to see two layered APIs.  One for getting the performance data and one composed on top to provide helpers for reading pods.  The HelpingClient would have a separate `PodNames

[2015-11-04 12:58] JorritSalverda opened #16786 "Secret key value pairs should have linux filename limitations for key name instead of DNS_SUBDOMAIN restrictions"
Secret key names like **id_rsa** and **id_rsa.pub** are illegal (see https://github.com/kubernetes/kubernetes/issues/13357). This makes it impossible to use secrets for loading ssh keys and other files with underscores into your containers.

Can the restrictions be loosened so it maps to linux filename restrictions instead of DNS_SUBDOMAIN?

[2015-11-04 13:02] mwielgus opened #16787 "Invalid ci version in kubernetes-build-1.1 Jenkins job"
[code]

[2015-11-04 13:05] #16661 closed

[2015-11-04 13:07] deads2k commented on #16734
@kubernetes/goog-control-plane @kubernetes/kube-api

[2015-11-04 13:07] deads2k commented on #16732
@kubernetes/goog-control-plane @kubernetes/kube-api

[2015-11-04 13:09] zmerlynn commented on #16038
Yes, seems to be fixed in `v1.1.1-beta.1` (so presumably `master`). Forgot I was running consumer `kubectl`.

[2015-11-04 13:09] #16038 closed

[2015-11-04 13:12] tillrohrmann commented on #15817
Hi @timothysc, concerning some of your questions:

1. Flink starts with a fixed number of TaskManagers and JobManagers. If you want to increase those, then you have to restart the cluster at the moment. Is this what your question was?
2. Which component of Flink do you want to set behind a L7 loadbalancer? Do you intend to start multiple Flink clusters which can handle multiple incoming job submis

[2015-11-04 13:13] mpilant commented on #9808
As far as I remember, I did have SSH up and running on the systems.
Unfortunately, I had to abandon this approach as I simply did not have the time, and had to move on to other tasks.

[2015-11-04 13:18] wojtek-t commented on #16770
#16788 sent out for review.

[2015-11-04 13:27] luxas commented on #9808
@mpilant Could @resouer then close this issue?
Because it was opened quite long time ago (in the Kubernetes world)
It was sad that you didn't begin to use Kubernetes, but maybe you'll test it again in the future.

[2015-11-04 13:31] Pendoragon commented on #16431
also since the authn handler will take precedence over CORS handler, the apiserver will reject all of the CORS request on its secure port?

[2015-11-04 13:32] zmerlynn commented on #15817
@tillrohrmann: The issue with Akka is this (unless @timothysc is thinking of another one): In the Kubernetes world, the best practice is to start replication controllers for everything, including the master service. This ensures that that the master is protected from failures, so if the master pod crashes or if the node that it's running on dies, the RC will recreate it. But what this looks like i

[2015-11-04 14:06] gajju26 commented on #16229
@thockin  I am also facing the same issue can you please provide me a temporary workaround for this??? Please find my console log below:
link: warning: option -X github.com/GoogleCloudPlatform/kubernetes/pkg/version.gitTreeState dirty may not work in future releases; use -X github.com/GoogleCloudPlatform/kubernetes/pkg/version.gitTreeState=dirty
link: warning: option -X github.com/GoogleCloudPlatf

[2015-11-04 14:33] ddysher commented on #16367
Existing issues focus on kubelet on downed node, but this issue is about the incorrect logic in kubelet. (The issue happens even if kubelet is running correctly).  I think it's possible to fix the logic in kubelet, but if there is a larger, clean solution, I would be great.

[2015-11-04 15:21] timothysc commented on #16673
Do we want to add some other checks as part2 to this?

For example, `nm $OUTPUTDIR/* | grep -i testing[.]` detects this and is fairly easy.

@lavalamp ^?

[2015-11-04 15:30] ddysher commented on #15524
@saad-ali what's the status on this?  We've been bitten by this twice :(

We've previously tried to scan /sys/block for upcoming volume, but I'm not sure it will work for future volumes.  Kubelet can also poll cloudprovider for volume information, provided that cloudprovider will have mount dir of the volume.  Actually, is it possible to have the controller just detecting incorrect volume, and hav

[2015-11-04 15:31] smarthi commented on #15817
@jayunit100 I can take a shot at this

[2015-11-04 15:44] markturansky commented on #15524
@ddysher Persistent Volume vs. regular Volume should be irrelevant when Attaching/Detaching through a single controller.

Red Hat has a requirement for this feature, too.  We're happy to do the work but we'll need to go over technical design with you, @saad-ali.

[2015-11-04 15:59] jdef commented on #15529
Have you been able to test with the latest master?

[2015-11-04 16:02] #13152 closed

[2015-11-04 16:02] huang195 commented on #16663
cc @jdef

[2015-11-04 16:03] wojtek-t opened #16791 "hack/verify-godeps doesn't work at head"
It seems that hack/verify-godeps.sh script doesn't work at HEAD (which means we have somehow broken head).

You can take a look https://github.com/kubernetes/kubernetes/pull/16788 which doesn't modify any dependencies, but triggers hack/verify-godeps.sh (because the diff contains "Godeps" word), and it simply doesn't work.

This is blocking #16788 and #16725 (at least).

@kubernetes/goog-csi @kube

[2015-11-04 16:07] 2opremio opened #16793 "Allow setting http request timeout in kubernetes client"
I would like to set an http request timeout in the kubernetes Go client, however:

1. The underlying http client is not exposed.
2. Even if I access the underlying http client through an (admittedly inelegant) cast and set the timeout, requests fail because the Transport does not support the CancelRequest method.

The example below fails with `cannot make request: net/http: Client Transport of typ

[2015-11-04 16:10] jdef commented on #16663
@sttts @karlkfi related failing conformance and/or e2e tests?

[2015-11-04 16:12] vishh commented on #16110
I have tested against most of the test suites. As of now there are no known issues. I'm planning on running soak tests next.

[2015-11-04 16:15] 2opremio commented on #16793
In addition, [`RESTClient.Timeout`](https://godoc.org/k8s.io/kubernetes/pkg/client/unversioned#RESTClient) is undocumented and thus, misleading. It may seem that it corresponds to the HTTP timeout, but it just sets the timeout query parameter in requests , e.g. `?timeout=foo`, something the user can only figure out by inspecting the kubernetes source code.

[2015-11-04 16:24] sttts commented on #16663
I don't think there is a e2e test for that. It's a cluster setting and e2e tests cannot change them on the fly.

[2015-11-04 16:29] mikedanese commented on #16793
@kubernetes/goog-csi

[2015-11-04 16:40] mikedanese commented on #16786
@pmorie @liggitt

[2015-11-04 16:43] pmorie commented on #16786
I'm fine with making this possible and don't see a reason not to, with the exception that arbitrary filenames of keys (ie, specifying subdirectories) has been problematic to get agreement about in the past.  That said, now the downward API allows you to do this, so perhaps we can re-use code / semantics of that.  Thoughts, @liggitt ?

[2015-11-04 16:44] liggitt commented on #16786
+1 on relaxing... I thought @deads2k had already opened an issue on this. Agree on no subpaths, need to prevent names like `.` or `..`.

[2015-11-04 16:48] #3800 closed

[2015-11-04 16:57] evanphx commented on #16469
@justinsb Yeah, I think you should assume the elastic IP is owned entirely by kubernetes. It would be associated with the VPC kube-up creates anyway, so it's easy to just state "all elastic IPs used in the kubernetes VPC are deleted when the VPC is destroyed."

[2015-11-04 17:20] saturnism commented on #15924
I can take a quick stab at it. looks like i'll need to update pkg/kubectl/cmd/expose.go

[2015-11-04 17:25] lavalamp commented on #16783
This one is so common that we actually include the fix in the output:

[code]

[2015-11-04 17:25] #16783 closed

[2015-11-04 17:26] lavalamp commented on #16783
Please reopen if that doesn't work for you!

[2015-11-04 17:29] bh016088 commented on #10511
I just downloaded and installed heapster and this issue is still occurring.  I am running my own on-premise kube cluster on bare metal Centos.  The only changes I've made to heapster are to change the "type" from LoadBalancer to NodePort.  I've tried the master and 0.18 branch.

suggestions?

[root@node:~/heapster/deploy/kube-config/influxdb]$ kubectl logs heapster-yw9rw --namespace=kube-system
I1

[2015-11-04 17:32] lavalamp commented on #16791
verify-godeps is supposed to only run when godeps changes...

[2015-11-04 17:32] lavalamp commented on #16791
@eparis, can you take a quick look?

[2015-11-04 17:41] mikedanese commented on #10511
Please read how to configure heapster sources in the hepaster doc https://github.com/kubernetes/heapster/blob/master/docs/source-configuration.md#current-sources

[2015-11-04 17:53] Random-Liu commented on #15089
**Progress Update**
The issue docker/docker#15496 about mutable container label abstracted some attention these days, and "status/needs-attention" label has been added to it. Hope we'll have mutable container label soon, :)

[2015-11-04 17:56] bprashanth commented on #12732
What I really want is to just create a single Ingress that sets everything up for a website. This involves:
1. public dns
2. certs
3. loadbalancing to backend services

Setting up the backends is upto the developer (i.e the gmail or maps team is responsible for their backends, but don't worry about how traffic reaches the backend).

[2015-11-04 18:02] deads2k commented on #16786
https://github.com/kubernetes/kubernetes/issues/6589 and https://github.com/kubernetes/kubernetes/issues/8236 are open now.

[2015-11-04 18:04] chrisleck commented on #13241
+1 for native jsonnet support.  I'd like to see kubectl support at least one config language that supports composition & factoring without forcing users to deal with writing, managing, and deploying plugins to every member of a development team.

[2015-11-04 18:04] eparis commented on #16791
poking.

[2015-11-04 18:06] eparis commented on #16791
quick look tells me that upstream godep binary made a change  :-(

[2015-11-04 18:08] eparis commented on #16791
(will send a PR to handle it)

[2015-11-04 18:11] pmorie commented on #16786
I might do this next week at the kubecon hackathon.

[2015-11-04 18:13] lavalamp commented on #16791
thanks!!

On Wed, Nov 4, 2015 at 10:08 AM, Eric Paris <notifications@github.com>
wrote:

[2015-11-04 18:21] bprashanth opened #16796 "kubectl -tty shows events instead of generic pending message"
For big images having feedback helps. I mean:

[code]

vs

[code]

[2015-11-04 18:21] janetkuo opened #16797 "kubectl apply should create resources"
#16401

kubectl apply should create resource when it doesn't already exist, instead of returning resource not found.

[2015-11-04 18:35] jackgr commented on #13241
The new open source release of [Deployment Manager](https://github.com/kubernetes/deployment-manager) is another option.

[2015-11-04 18:37] caesarxuchao commented on #16793
@lavalamp you can assign this to me if we decide to add a CancelRequest method to our transports.

[2015-11-04 18:42] vishh commented on #14081
@mvdan: Can you publish your draft PRs that resolves some of the pending work items? I'm referring to the metrics service with a secondary api server, kubectl changes, etc.

[2015-11-04 18:46] mikedanese commented on #12907
@errordeveloper I think that makes sens. If it keeps the documentation/deploy scripts more up to date then we are all for it.

[2015-11-04 18:54] saad-ali commented on #16367
The decision to attach/detach a volume happens in two async loops in kubelet (pod creation and orphan volume cleanup), this leads to inherent race conditions that we've mitigated for GCE PDs by locking. The  downed node redesign, #15524, should fix this for all volume plugins, since it will remove the attach/detach logic from kubelet. If you think that there is a simple fixer in the meantime, feel

[2015-11-04 18:56] mikedanese opened #16799 "Run kube-proxy in a static pod"
This will help move it to daemonset

[2015-11-04 18:57] alex-mohr commented on #15382
@saad-ali Your comment above showed some great debugging work.  I was wondering if there's documentation use used to figure out where to look to find those logs?  Were you able to pull them all retrospectively from a failed test run, or did you need to e.g. repro and poke at a live cluster?  I've seen a bunch of people trying the latter, so if there's a straightforward debug path, it'd help others

[2015-11-04 19:07] 2opremio commented on #16793
@caesarxuchao @lavalamp Apart from implementing `CancelRequest` I think it would be a good idea to:
*  Document [`RESTClient.Timeout`](https://godoc.org/k8s.io/kubernetes/pkg/client/unversioned#RESTClient)
* Expose the underlying http client (not just the [HTTPClient interface](https://godoc.org/k8s.io/kubernetes/pkg/client/unversioned#HTTPClient)) or provide a way to modify its Timeout without ug

[2015-11-04 19:08] jayunit100 commented on #15817
i thought @mattf also had an  elegant solution...  right matt? ... it involved one of the akka parameters  that you could plubm through spark?  maybe im forgetting something.

[2015-11-04 19:11] janetkuo opened #16800 "Make generation of the "apply annotation" optional"
Add a flag to allow the users to specify if they want the "apply annotation".

[2015-11-04 19:11] timothysc commented on #16753
yeah it's mildly comical that 8-core 8-GB of RAM machine can be bricked by a k8s build now for a bunch of things I don't really care about.

Couldn't we just have a make minimal and set that as the default?

/cc @eparis

[2015-11-04 19:14] hongchaodeng commented on #15952
Hi @smarterclayton ,

Could you assign this issue to me and help review the #16778? Thanks!

[2015-11-04 19:17] zmerlynn commented on #15817
@jayunit100: I springboarded off of some of @mattf's work (I assume, since the image design was his), but the original Spark example was service env based and and I switched it over to DNS, plus it was still using a naked pod for the master. But that all might've been @brendandburns's fault, too. :)

[2015-11-04 19:22] saad-ali commented on #15524
We're just wrapping up the Kubernetes v1.1 release. I'm starting to work on a detailed design for this proposal.

Sorry to hear that :( We'll try to get this fixed ASAP

We have two options here. Either the controller provides a signal to the kubelet indicating that a volume is attached or it provides no such signal. If it does, then the kubelet will wait until that signal before trying to mount.

[2015-11-04 19:32] hongchaodeng commented on #16793
Just to follow on this issue.
It's confusing to have two timeouts -- `RESTClient.Timeout` and `http.Client.Timeout`. How to differentiate those?

[2015-11-04 19:33] karlkfi commented on #16663
Yet another case that needs black box deploy/destroy capability to test.

[2015-11-04 19:37] mattf commented on #15817
originally the naked pod was necessary, so the master would think of itself as "spark-master" and then https://github.com/mattf/docker-spark/blob/master/worker/start.sh#L4 so the workers would also think of the master as "spark-master"

https://github.com/mattf/docker-spark/blob/master/worker/start.sh#L7 was important to get the worker to avoid using its local name, which wouldn't resolve on the m

[2015-11-04 19:42] ihmccreery opened #16803 "GKE upgrades from 1.0 to 1.1 failing on "expected to find 3 nodes but found only 2""
See jobs 132 and onward for `kubernetes-upgrade-1.0-1.1-gke-step4-upgrade-cluster` Jenkins job.

[2015-11-04 19:44] ihmccreery opened #16804 "Drive upgrades off of versioned e2es, not HEAD"
Currently, we pull e2e tests to drive upgrades off of master, for historical reasons, (when they were first implemented, the versions that were being upgraded from/to didn't have upgrade logic).  We should instead be driving upgrades off of versioned e2es.

[2015-11-04 19:45] ihmccreery commented on #16803
I believe this is a test problem, not a GKE problem, but I could be wrong.

I think this has surfaced due to #16804, and something changed/broke in HEAD.  I'm going to fix #16804 first to get those jobs green, and then we can look into this further.

[2015-11-04 19:46] ihmccreery commented on #16804
P0 to get the 1.0 to 1.1 tests green, and then we'll go from there.

[2015-11-04 19:49] jayunit100 commented on #15817
ah yes, `[SPARK-5078] Optionally read from SPARK_LOCAL_HOSTNAME`, is the key to it,.  if the flink stuff asks for resolution of the ip, then the local resolver   workaround will also be  needed in flink.

[2015-11-04 20:29] rimusz commented on #15638
@yifan-gu have the lifecycle hooks got fixed?

[2015-11-04 20:42] lavalamp commented on #16673
Yes, please. :) Could add to our flag verification script?

On Wed, Nov 4, 2015 at 7:22 AM, Timothy St. Clair <notifications@github.com>
wrote:

[2015-11-04 21:00] ae6rt commented on #15421
I, too, am voicing my support for being able to effectively choose _dst_ in

[code]
I know @thockin indicated that gitRepo was perhaps a mistake, but it's currently the absolute least hostile way of mounting network data inside a container, _especially_ during the application software development lifecycle.  All developers are familiar with Git.  Few with NFS, even if they have access to network a

[2015-11-04 21:09] ihmccreery commented on #16601
Closing.  Filed internal issue to clean up docs per @alex-mohr's request.

[2015-11-04 21:09] #16601 closed

[2015-11-04 21:14] eliaslevy commented on #16775
@a-robinson thoughts?

[2015-11-04 21:15] mml commented on #12611
Re: not counting self-inflicted wounds against the budget: Yes, but we do still want to count unplanned failures, such as a machine panic or crash.  We need to be able to distinguish these.

"Budget" is a good metaphor for one of the things we usually care about around SLO enforcement: evictions/time.  We can model these with a token bucket.

"Budget" might be a bad metaphor for binary conditions.

[2015-11-04 21:27] kelseyhightower commented on #16508
If we make the transition to a single binary should it renamed to kubernetes?

[2015-11-04 21:28] mml commented on #3885
@mikedanese done thx

[2015-11-04 21:34] yifan-gu commented on #15638
@rimusz I think the fix appears in v1.2.0-alpha.2
Still no lifecycle hooks yet, as the hooks defined in appc have small difference with the hooks defined in pod spec. No progress on further discussion yet. (I will bring this up in next rkt dev meeting)

FYI :https://github.com/kubernetes/kubernetes/issues/140#issuecomment-148548637

[2015-11-04 21:38] bgrant0607 commented on #16374
See also #14541

[2015-11-04 22:05] nikhiljindal commented on #16558
There are 2 sub-problems here:
1. Making it easy for people to build their own APIServers (separate out api server machinery from api code)
2. Once there are multiple servers, make them work together.

For the second problem:
a. It seems that we can start with the assumption that a resource (and its subresources) are completely handled by a single APIServer. This should simplify things.

b. Is it

[2015-11-04 22:09] vishh commented on #16374
This is equivalent to documenting all the existing event reasons to some extent. AS for #14111, I was suggesting aggregating kubelet specific event reasons in a single location. Doesn't require aggregating all the reasons in the kubernetes repo.

Why hide `infra container` events?

[2015-11-04 22:11] alexanderkjeldaas opened #16812 "The documentation for labels is wrong/confusing"
From the kubernetes user guide:

http://kubernetes.io/v1.0/docs/user-guide/labels.html

"Each object can have a set of key/value labels defined. Each _Key_ must be unique for a given object."

Then goes on to list examples:

Example labels:

[code]

If the examples are keys, then they will obviously not be unique per object.  I think the documentation probably should read something like:

"Each Ke

[2015-11-04 22:11] paralin commented on #15968
I'm pretty sure this is being addressed elsewhere, closing. That said the PR to remove ENABLE_EXPERIMENTAL_API is still pending.

[2015-11-04 22:11] #15968 closed

[2015-11-04 22:13] paralin commented on #16651
@vishh This is now actually causing one of my nodes to not even work anymore.

[code]

I've just updated to `HEAD` and this is even after a reboot.

[2015-11-04 22:14] paralin commented on #16651
@vishh Okay, just rebuilt and updated again, after a reboot the issue seems to be gone. However, it's crashing the entire kubelet when the problem happens. Seems like a pretty critical issue to me.

[2015-11-04 22:15] vishh commented on #16651
@paralin: I don't get how this error can cause your node to fail. This is an informational log message and does not affect stability.

[2015-11-04 22:15] lavalamp commented on #16793
Yes, the Timeout is not doing what you want.

@krousey, ideas about adding a (real) timeout? I vaguely recall some of us wanting that in a test...

@caesarxuchao, if you would like to update the documentation for the Timeout member variable (actually it should be private, IMO), that would be great.

I have no objections to supporting CancelRequest, but we should build on top of @krousey's transpor

[2015-11-04 22:15] paralin commented on #16651
@vishh I don't really understand either, but it exits with status 1 right after printing the error.

It's fixed now but might be worth looking into I guess.

[2015-11-04 22:16] vishh commented on #16651
It should not crash the kubelet. How did you conclude that this log is the
reason for kubelet crash?

On Wed, Nov 4, 2015 at 2:15 PM, Christian Stewart <notifications@github.com>
wrote:

[2015-11-04 22:16] paralin commented on #16651
@vishh Approximately 4 times a second it would print these two lines to `journalctl -f`:

[code]

[2015-11-04 22:17] vishh commented on #16651
Check the kernel logs `dmesg`. I suspect some other issue in your case that
is causing the kubelet to exit.

On Wed, Nov 4, 2015 at 2:16 PM, Vishnu Kannan <vishnuk@google.com> wrote:

[2015-11-04 22:18] paralin commented on #16651
@vishh Unfortunately I don't have the kernel logs from the crash now that it's operating properly & several reboots... Whoops.

We can close this, if I see the problem again I'll re-open. A bit concerning though.

[2015-11-04 22:18] vishh commented on #16651
That is definitely undesirable. I will suppress those logs.

On Wed, Nov 4, 2015 at 2:17 PM, Christian Stewart <notifications@github.com>
wrote:

[2015-11-04 22:18] huang195 commented on #16663
Any idea why --max-pods is not honored by kubelet executor? Under the cover it calls kubelet and passes it all the parameters it gets from the commandline

[2015-11-04 22:19] paralin commented on #16651
@vishh Well one thing to do is investigate why it's actually attempting to `du` something that doesn't exist so many times. Suppressing the logs is a temporary fix I guess, but perhaps catch this situation and do something about it?

[2015-11-04 22:19] vishh commented on #16651
Kubelet crash is indeed serious. So the next time this happens, collect
kernel logs as well, if possible. I'm fine with closing this issue for now.

On Wed, Nov 4, 2015 at 2:18 PM, Christian Stewart <notifications@github.com>
wrote:

[2015-11-04 22:19] krousey commented on #16793
@lavalamp we added real timeouts on the server side. I'm not sure what you're referring to with the testing situation. If we want to go full bore with this.... [context](https://godoc.org/golang.org/x/net/context)  plumbing? :smile:

[2015-11-04 22:21] sttts commented on #16663
@huang195 maybe because we patch the node capacity. Can you check your nodes with `get nodes -o yaml`?

[2015-11-04 22:22] sttts commented on #16663
as a background: we do that from the scheduler right now because the kubelet does not assume the same values as Mesos at the moment, giving strange effects.

[2015-11-04 22:23] lavalamp commented on #16793
I think @2opremio wants to set connection-level timeouts client side. Server side timeouts don't help.

[2015-11-04 22:31] lavalamp commented on #16768
I can imagine a solution where you keep a whitelist in package directories, with the whitelist applying recursively to every child directory that doesn't itself have a whitelist.

I can also imagine a single file somewhere with the allowed dependencies.

I think I'm in favor of the former? Is there any other information we would like to pack into this file? (owners?) Or should we just do a separat

[2015-11-04 22:33] ihmccreery commented on #16773
Another lower priority thing that may be worth doing:

- [ ] Move tooling to kubernetes/contrib repo

[2015-11-04 22:35] 2opremio commented on #16793
@lavalamp Correct

[2015-11-04 22:38] krousey commented on #16793
@lavalamp I was just trying to gather what you test case you were talking about.

plumbing context through the code would be more of a per request timeout and not connection level timeout.

We could probably pull this off in request.Do somehow.

[2015-11-04 22:39] ihmccreery opened #16815 "Deprecate `gitMajor` and `gitMinor`"
Right now our build infrastructure relies on versioning in three (or maybe four?) different ways:

- `gitMajor` and `gitMinor` in `pkg/version/base.go`,
- `gitVersion` and `gitCommit`, also in `pkg/version/base.go`,
- `git describe` version, based off of tags, and
- the possibility to override `KUBE_GIT_COMMIT` and other env variables in `hack/lib/version.sh`.

We should at least deprecate and eve

[2015-11-04 22:40] ihmccreery commented on #16529
#16787 is another example of the kind of thing we want to avoid.

[2015-11-04 22:40] rroopreddy opened #16816 "Pod does not start despite restartPolicy=OnFailure"
I have a pod below that started in kubernetes cluster. Runs fine  for a while and then the minion restarts all pods after some event (refer : http://stackoverflow.com/questions/33068639/kubernetes-pods-some-die-after-running-for-a-day).

All pods under replication controller are back up except the pods that are **not under replication controller** but the **restartPolicy=OnFailure** is set

This i

[2015-11-04 22:41] hongchaodeng commented on #16793
Just want to help out and share thoughts.

If we keep casting `RESTClient.HTTPClient` into `*http.Client`, it's not very nice abstraction and could incur maintaining problems.

One possible solution is to add a `connTimeout` or `requestTimeout` field in [Config](https://github.com/kubernetes/kubernetes/blob/69932aecb032de4b7e1e140ad0b8ad7e326bb7c5/pkg/client/unversioned/helper.go#L46). Then add Ca

[2015-11-04 22:44] bgrant0607 commented on #16815
We have deprecated a number of kubectl features, but so far haven't removed any. We need to establish a policy re. backward compatibility, but we don't have an official one yet.

cc @eparis

[2015-11-04 22:44] bgrant0607 commented on #16815
This string is returned by the API?

[2015-11-04 22:47] hongchaodeng commented on #16793
@krousey

Yes. We can definitely use context to implement timeout. See [this blog](https://blog.golang.org/context):
[code]

It's a little duplicate to Timeout in `http.Client`.

[2015-11-04 22:54] saad-ali commented on #15382
Thanks :)

No documentation that I'm aware of, but the Jenkins UI is pretty intuitive.

For each failed test run, the kubelet log files for each node involved in the test are uploaded to Google Cloud Storage. To access the logs: login to Jenkins, click on a failed build, select "Google Cloud Storage Upload Report", and there should be a GCS link to the artifacts which contain all the important log

[2015-11-04 22:57] lavalamp commented on #16793
Yes, I don't want people to do this cast.

Yes, this sounds good, but look at @krousey's change to factor out the transport code-- we should add it to the transport config.

I'm a little confused about using context.Context to hold a client-side timeout. We don't currently use it client-side at all?

[2015-11-04 22:58] 2opremio commented on #16793
Please don't. Why use context to do what the http timeout is designed for?

[2015-11-04 23:01] hongchaodeng commented on #16793
It's legacy issue. The `http.Client` has Timeout field since Go 1.0. Context was a library open up much later.

Let's just use http timeout to keep consistency.

[2015-11-04 23:10] a-robinson commented on #16775
I agree that we should shrink down the base image that we use for this (I actually have a [TODO in the Dockerfile](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-image/Dockerfile#L4) to do so...). I don't have many cycles available to help right now, but I'd be supportive of switching over our Dockerfile to something on alpine like what you hav

[2015-11-04 23:12] paralin opened #16820 "SyncLoop log spam"
It appears in a recent commit (probably 2eb17df) this log message was added:

[code]

It's printed as type `Info` and is logged every second, which is cluttering up the logs quite a bit. Is this necessary?

[2015-11-04 23:13] smarterclayton commented on #4210
Some additional parameterization examples

[code]

I would like to use a different substitution mechanism than `${VAR}` - either JSON path identification in the parameters, or mustache style expansion.  The one problem with mustache is that it can't be valid JSON in the structure when changing types.

[2015-11-04 23:14] ihmccreery commented on #16815
Er, I'm not sure; it's returned by `kubectl version`, e.g.:

[code]

[2015-11-04 23:15] ihmccreery commented on #16815
So, yeah, it's a returned by the master, (as well as the client).

[2015-11-04 23:19] smarterclayton commented on #16558
The original design of auth was a proxy layer on top.  Also, I suspect that
we will have a few cases that will always be "i want my own auth" because
the service has a different auth domain.  I'm not terribly opposed to a
horizontal master apiserver proxy that does auth, buuuuut.... we still have
to authorize from the front proxy to the backend, and that means the
horizontal master layer has to ha

[2015-11-04 23:23] huang195 commented on #16663
@sttts it's showing the same result as `describe nodes`
[code]

[2015-11-04 23:40] yujuhong commented on #16820
Sorry for the spam. I also saw this in the log and wanted to fix it. PR uploaded.

[2015-11-04 23:43] ihmccreery commented on #16787
Closed #16787 via #16819.

[2015-11-04 23:43] #16787 closed

[2015-11-04 23:46] eparis commented on #16815
I see little reason to keep Major/Minor.  Version and commit (or just version since it embeds commit) is enough for me.

My understanding of how all of these things at least used to get filled out...

When building from git we use -X to overwrite the values in base.go based on git describe
When we make a tar ball we use `git archive` which will overwrite stuff in base.go which I think also comes f

[2015-11-04 23:48] hongchaodeng commented on #16793
From what I read the code, we can make the abstraction better by the following:

- NewRESTClient() didn't set HTTPClient:
[code]
Instead, we should add httpClient field in NewRESTClient() construction.

- RESTClientFor() and UnversionedRESTClientFor() are pretty much the same and we could add a common routine function.

- At the end of TransportFor(), it could possible returns some struct that doe

[2015-11-04 23:54] #16804 closed

[2015-11-04 23:54] yujuhong commented on #16816
@rroopreddy, as I replied on stackoverflow earlier: If for some reason, your node becomes unready for > 5 minutes, node controller will evict all the pods on the node. Note that "eviction" actually means "deletion" -- your pods are no longer visible anywhere. If the evicted/deleted pods were managed by a replication controller (RC), the RC will create new pods meet the replica requirement. This do

[2015-11-04 23:57] hongchaodeng commented on #16793
Re. the Transport point,
To be more specific, we change `Config.Transport` to be
[code]
Then we can embed *http.Transport to necessary structs and override RoundTrip() if needed.

[2015-11-05 00:00] rroopreddy commented on #13997
Ok, I am running int the same scenario as in this thread. I have been starting the cluster every day from scratch. Some of this has been covered in the thread at : http://stackoverflow.com/questions/33068639/kubernetes-pods-some-die-after-running-for-a-day

As if today one of the Minion went to 'NotReady' state and there is no way to recover it except for restarting the whole cluster from scratch.

[2015-11-05 00:07] #15382 closed

[2015-11-05 00:11] Random-Liu commented on #16772
Done! It takes me some time to read through the related code, if there is anything wrong, tell me please, :)

[2015-11-05 00:12] jackgr commented on #3685
We've just pushed the initial bits for [open source Deployment Manager](https://github.com/kubernetes/deployment-manager). See the new repository here. @DamodarSojka, we would welcome your involvement and review.

[2015-11-05 00:18] dchen1107 commented on #13997
@paralin my pr #13997 was merged and will be included in release 1.1. The default value of flag --max-open-files is 1000000.

[2015-11-05 00:19] bgrant0607 commented on #15387
Editor recognition is an interesting point.

Another idea that's popped up (e.g., in #14993) is that it would be useful to encode the content type in the file rather than via the extension, since that would work for stdin, http, packages (e.g., [Helm](https://github.com/deis/helm)), etc.

The Nulecule approach requires a separate manifest:
https://github.com/projectatomic/nulecule/blob/master/exam

[2015-11-05 00:22] dchen1107 commented on #13997
@rroopreddy The reason of NotReady is "network not configured correctly". What are the flags for your kubelet? What are the flags for your docker on the node?

Also I am curious about why you create cluster everyday from scratch?

[2015-11-05 00:24] bgrant0607 opened #16827 "Create a terraform backend for Kubernetes"
There doesn't appear to be one.

https://github.com/hashicorp/terraform/tree/master/builtin/providers

[2015-11-05 00:25] bgrant0607 commented on #13241
@ghodss was interested in jsonnet.

[2015-11-05 00:38] lavalamp commented on #16793
OK, I'm asking @caesarxuchao to just remove the current Timeout member, as it's confusing and I *think* the server only really uses it for watches.

As far as transport stuff, @hongchaodeng please take a look at #16126. I actually want it to work the other way, you should construct a transport and then pass it into the RESTClient's constructor. Please see: https://github.com/kubernetes/kubernetes/

[2015-11-05 00:39] rroopreddy commented on #13997
I have to kill and restart the entire cluster because one of the node in the cluster gets into the 'NotReady' state and I could not figure out a way to restart it and reconstitute the pods that were running to it before. I would be interested if there is a way to restore from one minion "NotReady' state

The following are the environment variables I used to start 3-minion cluster on AWS

        e

[2015-11-05 00:45] paralin commented on #13997
@rroopreddy You can fix this by sshing into the node and restarting kubelet. That should fix it I think

[2015-11-05 00:46] krousey commented on #16793
@lavalamp No we don't currently use context in the client code. But in an ideal world sense, I think it would be the right solution if we were starting fresh.

If you wanted to do this at the transport level, the WrapTransport config parameter would be your best bet. This will allow you to still use our TLS framework.

The quickest and cleanest way to enable this is to just expose the http.Client

[2015-11-05 00:49] rroopreddy commented on #13997
Would that be following on that node? I will try it next time

             systemctl start kublet

[2015-11-05 00:50] ihmccreery opened #16828 "kubernetes-soak-continuous-e2e-gce-1.1 broken on SchedulerPredicates tests"
kubernetes-soak-continuous-e2e-gce-1.1 is broken on three tests:

[code]

This is P0 for an explanation we're comfortable with, then we can decide if we want to patch.

It looks like the namespace is refusing to delete because it's active.  Haven't been able to debug further.

[2015-11-05 00:52] paralin commented on #13997
@rroopreddy Try

[code]

Or if you're on Ubuntu server

[code]

Should work too. I had a problem earlier with the kubelet crashing instantly that I solved by stopping it and waiting a minute before starting it again.

[2015-11-05 01:00] rroopreddy commented on #16816
@yujuhong, thanks for the clearing this. This means, there are certain scenarios that will not use restartPolicy. The only way is to define one instance pod under replication controller.

[2015-11-05 01:02] lavalamp commented on #16793
I think I'm fine with exposing the http.Client.

[2015-11-05 01:02] caesarxuchao commented on #16793
@lavalamp FYI `watch` actually uses TimeoutSeconds.

https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L277

[2015-11-05 01:16] jiangyaoguo commented on #16374
@vishh See #16091.

[2015-11-05 01:18] paralin commented on #16651
@vishh Happening again, on the latest HEAD.

**dmesg**

[code]

[2015-11-05 01:21] paralin commented on #16651
I think this is unrelated, ugh. Nothing else in dmesg looks useful.

[2015-11-05 01:21] paralin commented on #16651
@vishh

More of this:

[code]

[2015-11-05 01:22] abevoelker commented on #16827
This would be amazing to have. Someone linked me to these Terraform PRs when I mentioned it on Twitter:

https://github.com/hashicorp/terraform/pull/3584
https://github.com/hashicorp/terraform/pull/3453

So unless I'm misunderstanding, I think the work has already been started?

[2015-11-05 01:26] paralin commented on #16651
Fixed now by rebooting the system. Something weird happening though. I don't like the `kubelet[22566]: - exit status 1` message - is it kubelet dying? Or is it something kubelet started that's dying?

[2015-11-05 01:33] lavalamp commented on #16793
@caesarxuchao Oh, right. Can you look at the server code and see if the timeout parameter is still used at all?

[2015-11-05 01:37] yujuhong commented on #16816
@rroopreddy, restart policy works under normal scenario, but if does not apply to special conditions. Having replication controller to manage your pods are better practices :)

Closing this issue since it's resolved, but feel free to ask more questions on stackoverflow and/or our slack channel (http://slack.k8s.io/).

[2015-11-05 01:37] #16816 closed

[2015-11-05 01:39] lavalamp commented on #16812
I think the idea is to pick one choice from each line, but I agree that's confusing.

[2015-11-05 01:51] ntquyen commented on #16585
Yeah, that's my fault, due to lack of undestanding, I didn't installed any volume plugin. However I'm using CoreOS as node, is there any way I can install ISCSI volume plugin on it?

[2015-11-05 02:08] yujuhong opened #16831 "Evaluate the benefits of adopting docker event stream"
In #12540, docker event stream was proposed as part of the pod lifecycle event generator (PLEG) to reduce number of docker operations.

However, even without adopting the docker event stream, we can still implement a PLEG solely by periodically relisting the containers. The generic PLEG in #13571 is an example.
This would still improve the average resource usage of kubelet and docker because only

[2015-11-05 02:12] Random-Liu commented on #16831
OK, will do! This is indeed necessary for future work. :)

[2015-11-05 02:21] feihujiang commented on #16796
I like the second one. Giving the precise key point firstly, then tell you in which exact point now, this is a good user experience.

[2015-11-05 02:45] JunejaTung commented on #16780
@pwittrock   I had changed  flag ` - -kube_master_url= http://172.27.8.210:8080` to `- -kube_master_url=http://172.27.8.210:8080` , then is run ok. Just clear the space behind `=`, i think that  isn't friendly, there may be a bug in the code for check flag ` - -kube_master_url`?

[2015-11-05 02:47] sl1pm4t commented on #6862
+1

[2015-11-05 03:10] bgrant0607 opened #16835 "kubectl describe endpoints"
Would be useful.

[2015-11-05 03:10] JunejaTung opened #16836 "kubedns nslookup: can't resolve 'kubernetes.default'"
I had launched kubedns , but it can't resolve domain name. Maybe there are some miss in my environment, can you help me fetch out!
## my launched kubedns

[code]
## can't resolve kubernetes.default

[code]
## there are some logs for `skydns` container

In the last 19 hours, container have to restart 2 times. the logs seems a little less!

[code]

for the last skydns , it hint `failure to forward r

[2015-11-05 03:18] jhou1 commented on #16657
@pmorie @swagiaal I'm closing this issue because NFS do not support SELinux management, thank you!

[2015-11-05 03:18] #16657 closed

[2015-11-05 03:43] wing328 commented on #16387
@paralin @nikhiljindal we've added better logic in Swagger Codegen to handle duplicated parameter names. Please pull the latest and let us know if you're still seeing issue.

[2015-11-05 03:43] jimmidyson commented on #16775
While I love Alpine, one problem is that Alpine doesn't implement DNS search paths at all ([discussion thread](http://www.openwall.com/lists/musl/2015/10/22/6)) so would have to use FQDNs for hostnames which is a bit of annoying, especially when we probably want to move to using the daemon controller for fluentd pod scheduling to every node & using the short name to address ES which will probably

[2015-11-05 03:45] bgrant0607 commented on #7584
See https://github.com/technosophos/kubelite
cc @lavalamp

[2015-11-05 03:46] bgrant0607 commented on #12290
See also #7584 and the issues it references

[2015-11-05 03:53] bgrant0607 commented on #11492
Discussion in Helm: https://github.com/deis/helm/issues/108

Openshift Templates: https://docs.openshift.org/latest/dev_guide/templates.html

[2015-11-05 03:54] mali11 opened #16837 "Taking network bandwidth into account for scheduling?"
Currently k8s scheduler only takes memory and cpu into account but since network bandwidth oversubscription widely exists in current data center networks, and the host itself has even higher oversubscription ratio when more and more number of pods run on a host, bandwidth contention could be a big problem for bandwidth sensitive applications.

Some thoughts about this problem:
1.	By adding pod ban

[2015-11-05 03:57] ddysher commented on #15524
@saad-ali Thanks for your work!

Signal sounds like a solution. I'm a little blank on how this work in kubernetes, and how we make sure the signal is delivered robustly.  Look forward to see the detailed proposal!

[2015-11-05 04:00] eliaslevy commented on #16775
Yes, the lack of DNS resolve.conf domain or search support in must libc is
quite annoying and seems to have been ruled out upstream.  You can
certainly install glibc, I've done so to build a small Oracle Java image
based on Alpine, but I am guessing that will require rebuilding Ruby,
rather than using the Alpine package, as well as making sure that the
binary components of fluentd link to glibc du

[2015-11-05 04:04] resouer opened #16838 "Validation workflow need to be updated in ubuntu.md"
The current scripts did not print `Cluster validation succeeded`:

[code]
I guess some validation steps are actually un-needed in ubuntu workflow? maybe we need to remove that line in the doc (at least)? @dalanlan

[2015-11-05 04:04] bgrant0607 commented on #10408
How hard would it be to upstream templates? https://docs.openshift.org/latest/dev_guide/templates.html

[2015-11-05 04:13] dalanlan commented on #16838
Starting a cluster from a clean env should not suffer this. @WIZARD-CXY got this situation once yet I didn't have any luck to reproduce it.
Could you please provide more details to help reproduce this? I'll take a closer look at it. 

Thursday, November 5, 2015, 12:05 +0800 from Harry Zhang  <notifications@github.com>:

  http://10.10.102.153:8080

Using master 10.10.102.153
It looks as if you don

[2015-11-05 04:38] resouer commented on #16838
I think I know the reason, here's where `Cluster validation succeeded` occurs:
[code]
Thus, `Cluster validation succeeded` should never be print out in `ubuntu` workflow. Any thoughts? If you feel ok, I can send a pr

[2015-11-05 04:43] bgrant0607 commented on #15244
cc @MikeJeffrey

[2015-11-05 04:44] smarterclayton commented on #10408
The code is pretty self contained - questions:

1. Are we ok with the pattern of POST template to server, get back template
or do we want to do the transform on the client in a generator.  Having the
API endpoint makes it easy for multiple clients, having the latter keeps it
self contained on the client
2. Do we need a technical solution for parameterizing numbers or arrays, or
can we start with s

[2015-11-05 05:01] thockin commented on #16836
if you `kubectl exec` int your kube-dns pod, does it work?

[code]

On Wed, Nov 4, 2015 at 7:11 PM, Juneja <notifications@github.com> wrote:

[2015-11-05 05:15] bgrant0607 commented on #10408
cc @kubernetes/rh-dev-experience @kubernetes/rh-ux

[2015-11-05 05:26] smarterclayton commented on #16768
Whatever's easiest probably for now.

On Wed, Nov 4, 2015 at 5:31 PM, Daniel Smith <notifications@github.com>
wrote:

[2015-11-05 05:29] bgrant0607 commented on #3885
Re. shard strength, see maxUnavailable used by Deployment:
https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/deployment.md
#12611

[2015-11-05 05:36] paralin commented on #16387
Works fine for me! @wing328 Thanks.

[2015-11-05 05:36] #16387 closed

[2015-11-05 05:55] JunejaTung commented on #16836
@thockin  thanks for your help. my kubectl can work, try it  return error:
[code]

[2015-11-05 07:19] #16770 closed

[2015-11-05 08:07] onlyjob opened #16844 "github.com/scalingdata/gcfg --> gopkg.in/gcfg.v1"
Please consider switching from obsolete "[github.com/scalingdata/gcfg](https://github.com/scalingdata/gcfg)" to "[gopkg.in/gcfg.v1](https://gopkg.in/gcfg.v1)".
See #16843. Thanks.

[2015-11-05 08:18] glerchundi commented on #16361
@brandoncole thanks, that was a really quick fix :+1:

[2015-11-05 08:18] mali11 opened #16845 "Schedule a group of pods all at once (aka gang scheduling)"
Like many other schedulers, k8s scheduler is a sequential scheduler handles pods one by one.
This makes the architecture and algorithm simpler, but in some cases a sequential scheduler could make worse decisions than a scheduler which takes a group of pods into account, The sequential scheduler is like a “greedy algorithm” framework for pods placement.

I would like to suggest adding “group schedu

[2015-11-05 08:31] bgrant0607 commented on #14954
Both of these should be at least beta in 1.2.

[2015-11-05 08:49] chbatey opened #16846 "Deleting a node doesn't reschedule pods"
I had a 6 node K8 cluster. I deleted three nodes using kubectl delete.

I expected the pods running on those containers to be rescheduled, possibly after the PodEvicition timeout as happens when the node is down.

However the behaviour I observed was that the node is gone from kubectl get nodes but when I get the pods with -o wide they are still assigned to the node that I have removed.

Is this e

[2015-11-05 09:48] #16528 closed

[2015-11-05 09:58] commixon opened #16847 "Single-node CoreOS/kubernetes getting-started-guides addition"
My proposed addition is a cloud-config file for a single node CoreOS/kubernetes setup. This cloud-config file works for every provider that supports cloud-init files (eg. vagrant, openstack, ec2 etc...) and it is also configured to setup the dns-addon by default. It is meant for development purposes only, but i think it would be a nice addition in the getting-started-guides section.
What would you

[2015-11-05 10:26] liquid-sky commented on #7042
+1

[2015-11-05 10:36] dalanlan commented on #16838
What is expected when all the things function properly is like following.
[code]
As you can see, we do have `Cluster validation succeeded`, which is called by https://github.com/kubernetes/kubernetes/blob/master/cluster/kube-up.sh#L45
To make it more clear, we have double-check in the kube-up workflow, which could be a little confusing.

[2015-11-05 10:40] dalanlan commented on #16838
That said, what occurred to you earlier, is definitely a bug elsewhere.

[2015-11-05 10:49] dalanlan commented on #16838
Hmm, caught it.
Looks like you dont have a valid local path for `kubectl` binary. https://github.com/kubernetes/kubernetes/blob/master/cluster/kubectl.sh#L81~#L101

[2015-11-05 11:00] feihujiang opened #16848 "Cleanup: deprecated v1beta1 (deleted on June 1, 2015)"
I found our codes refer to deprecated v1beta1(deleted on June 1, 2015) someplace. Sometimes, I confused it with extesions/v1beta1. I think we should cleanup the content of deprecated v1beta1 or note it clear.

[2015-11-05 11:14] feiskyer commented on #16785
Maybe there is no default route on your host. What's the output of `cat /proc/net/route` command?

[2015-11-05 11:27] #16618 closed

[2015-11-05 11:41] dalanlan commented on #16098
Run `/opt/bin/etcdctl get /coreos.com/network/config` to figure it out whether the key has been set properly (apparently not in this case).

[2015-11-05 12:30] dalanlan commented on #16098
I dug it up. And there is no obvious reason that current scripts would fail to configure config key for `flannel`, only the potential issue reported about this [`-b`](https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/util.sh#L412). Hope #14912 would work.

[2015-11-05 12:36] wpc009 commented on #16098
The `etcd ` is running. The reason is sometimes this (line)[https://github.com/kubernetes/kubernetes/blob/master/cluster/ubuntu/util.sh#L398]  in provision-masterandnode fail to run on the target host. If I run it manually ,then the `ai` node will up and running.

[2015-11-05 12:47] dalanlan commented on #16098
Re-run `reconfDocker.sh ai` would work as a plan B.

[2015-11-05 12:49] #16075 closed

[2015-11-05 12:55] davidopp commented on #16845
This is a useful feature but usually requires transaction support. Even in the case where you don't have multiple schedulers or multiple API servers (which makes this even more complicated), it's currently not possible to atomically commit multiple bindings. So for example the scheduler might crash in the middle of sending the bindings to the API server, and when it comes back up you need to ensur

[2015-11-05 13:15] feiskyer commented on #16835
#16852  adds this feature

[2015-11-05 13:23] #16708 closed

[2015-11-05 14:34] paralin commented on #16820
That PR works! Thanks :)

[2015-11-05 14:57] wojtek-t commented on #16376
@lavalamp - I agree we can do any encoding there. But I though, that we would like to have "unversioned.ListOptions" compatible with "v1.ListOptions", and thus we need to have the same types for the same fields - which is string for selectors. Or am I missing something?

[2015-11-05 15:05] paralin commented on #1319
Has there been any work on this?

I wanted to try running a registry by using a PersistentVolume attached to a single node replication controller, and then connecting to it via a service. I wanted to just use an internal service via kube-proxy rather than use a load balancer or nodeport. But kube-dns doesn't seem to be active on the actual machine layer where Docker does the pulls, so this doesn't

[2015-11-05 15:37] thockin commented on #16836
Can you exec sh?

[code]

If that works, try: `nslookup kubernetes.default.svc.cluster.local
localhost`

Also, I made a paste error before:

[code]

On Wed, Nov 4, 2015 at 9:56 PM, Juneja <notifications@github.com> wrote:

[2015-11-05 16:03] eliaslevy commented on #16775
It appears that @thockin has [convinced](https://www.marc.info/?l=musl&m=144572949505263&w=4) the musl folks to add `resolve.cof` search support.  So it may be best to wait until musl incorporates the support and Alpine is updated, rather than trying to hack in glibc into an image.

[2015-11-05 16:14] timothysc commented on #16050
/cc @rrati this may be related to what you were seeing as well.

[2015-11-05 16:48] timothysc commented on #16132
Re: HA, this kind of depends on your configuration.  We / Red Hat, do not use podmaster for our HA configuration.  Instead we use either pacemaker | openshift have lock-leasing built in which is similar to what is done in podmaster.

The HA configuration we typically recommend is:
3-master nodes (apiserver+etcd+controllermanager+scheduler)
- etcd is configured in a HA qurorum.
- controllermanager+

[2015-11-05 16:56] ncdc commented on #16177
cc @piosz

[2015-11-05 16:56] ncdc commented on #16500
cc @piosz

[2015-11-05 16:56] ncdc commented on #16732
cc @piosz

[2015-11-05 16:56] ncdc commented on #16734
cc @piosz

[2015-11-05 17:01] bertrand-quenin opened #16856 "[question] Scheduling constraint/policy: Exactly one pod per node"
Hi,

I have a question regarding the replication controller (or the element responsible to assign pods to nodes).
Is it possible to define a constraint/policy in the replication controller (or other) in order to have exactly one pod per node ?
It would be interesting for instance for cadvisor containers where you want only one instance running per docker daemon (per host).

I didn't see anything l

[2015-11-05 17:07] dchen1107 commented on #16856
Is this https://github.com/kubernetes/kubernetes/blob/95b265390e530eb137beac4288ba28d63c1142da/docs/design/daemon.md answered your question?

[2015-11-05 17:09] dchen1107 commented on #16847
@yifan-gu is working on something similar to this.

[2015-11-05 17:19] dchen1107 commented on #16730
Just realized that you were referring to systemd node here.

[2015-11-05 17:20] bertrand-quenin commented on #16856
Thanks for your answer !
I think it's exactly what I need. I didn't even know about this DaemonSet concept.
I assume it's only available starting with Kubernetes v1.1.0, is that right?

[2015-11-05 17:30] ArtfulCoder commented on #16836
For some reason, the nslookup goes to 10.72.66.36 instead of 10.254.237.18 which is the cluster IP for kube-dns service.

[root@wlan-cloudserver31 dns]# kubectl exec busybox -- nslookup kubernetes.default
Server:    10.72.66.36
Address 1: 10.72.66.36 ns2.h3c.com

can you run
kubectl exec busybox -- cat /etc/resolv.conf and
kubectl exec busybox -- cat /etc/hosts
kubectl exec busybox -- ifconfig

Is

[2015-11-05 17:38] ArtfulCoder commented on #16836
the following command will probably work for you..
# kubectl exec busybox -- nslookup kubernetes.default 10.254.237.18

[2015-11-05 17:43] luxas opened #16857 "compile kubernetes v1.0.7 with go1.5.1 dependency bug"
Hello everyone,

#### go 1.5.1 fails to compile k8s with these errors:
[code]
Seems like a dependecy issue...?
It fails both on `ARM` and `amd64`

#### Reproduce this:
[code]

**Is go1.5.1 supported yet?**

(BTW, here is my project: https://github.com/luxas/kubernetes-on-arm)

[2015-11-05 17:49] jackgr commented on #11492
Deployment Manager <https://github.com/kubernetes/deployment-manager> runs
as a service in the cluster.

It not only expands templates there, but tracks the resulting deployments,
so that the user can discover which resources were created by a given
template.

DM also supports higher order types. A type is defined by a simple Python
script plus an optional JSON schema.

When a higher order type is

[2015-11-05 17:53] dchen1107 commented on #16856
DaemonSet feature is still under development, and it is not available as beta feature for 1.1 release. But please feel free to play with it and give us the feedback.

cc/ @erictune @mikedanese

[2015-11-05 17:54] lavalamp commented on #7584
This is covered in my current proposal: #16062

[2015-11-05 17:55] lavalamp commented on #7584
We should definitely offer something like that, but a version of it that won't bitrot.

[2015-11-05 18:10] lavalamp opened #16860 "Cut a 1.1 conformance test"
The 1.0 test should continue to pass against 1.1 clusters. The 1.1 test may or may not pass against 1.0 clusters if we add additional feature tests to it.

[2015-11-05 18:12] luxas commented on #16857
Oh, the issue was filed already: #16229
I'll try to patch it for my project anyway

[2015-11-05 18:12] caesarxuchao commented on #16793
@lavalamp, yes, it's used by Create/Patch/Update/Delete handlers and passed to finishRequest. /https://github.com/kubernetes/kubernetes/blob/master/pkg/apiserver/resthandler.go#L708

[2015-11-05 18:12] lavalamp commented on #16860
@kubernetes/sig-scalability

[2015-11-05 18:16] vishh commented on #16651
cc @kubernetes/goog-node

[2015-11-05 18:24] vishh commented on #16831
+1 for starting with the Generic PLEG.
One thing to consider is the resource overhead of periodic relisting on the
docker daemon.

On Wed, Nov 4, 2015 at 6:12 PM, taotao <notifications@github.com> wrote:

[2015-11-05 18:27] dchen1107 commented on #16651
`kubelet[22566]: - exit status 1` message is bad, but should be a red herring. That exit code is from running command du and failed.

Also from https://github.com/kubernetes/kubernetes/issues/16651#issuecomment-153923597, kubelet doesn't crash. I don't know why kubelet crash in your cases though. Can you check journald logs about your kubelet service?

[2015-11-05 18:35] jeremyeder commented on #10570
Hi Eric,

By your initial comments, I'm sure we're on the same page in understanding the technical, performance benefits of this feature.

Indeed, the use-cases for exposing these knobs are precisely as you've stated.
Optimizing access to i/o devices, dealing with processor cache interference and dealing with NUMA.

If a users has an existing performance sensitive application that is lends itself

[2015-11-05 18:35] #16820 closed

[2015-11-05 18:41] johanhaleby opened #16863 "Cannot use dash in environment variable names in a pod definition"
It's not possible to define a container with an environment variable containing dash. For example:

[code]

yields the following error:

[code]

So why is this needed?

I'm trying to deploy an existing [Spring Boot](http://projects.spring.io/spring-boot/) Java application running inside a Docker container. Spring boot allows you to inject configuration using this approach:

[code]

Spring Boot all

[2015-11-05 18:46] roberthbailey commented on #3800
auth-path was marked as deprecated quite a while back but hasn't yet been removed from the kubelet.

[2015-11-05 19:34] lavalamp commented on #16793
@caesarxuchao OK. this "timeout" is a remnant of some old code that doesn't exist anymore and hasn't for like a year. We used to start an "operation" and let the client poll for the response if it took too long. We don't do that any more, so "finishRequest" is now pointlessly starting a goroutine and then waiting for it. I'm 95% sure it's perfectly fine to remove both timeout and finishRequest.

[2015-11-05 19:59] hongchaodeng commented on #16721
I would love to fix this.
A possible solution is that we can just return empty string (""). Because it will be omitted in JSON.

[code]

@lavalamp Are you OK with this?

[2015-11-05 20:07] janetkuo opened #16870 "Implement MinReadySeconds for deployment"
Ref https://github.com/kubernetes/kubernetes/blob/master/pkg/util/deployment/deployment.go#L134

[2015-11-05 20:11] bgrant0607 commented on #13774
I'd like to be able to use ResourceQuota for this, in addition to a global limit.

[2015-11-05 20:18] brendandburns opened #16871 "kube-controller-manager is listing nodes every ~0.3 sec."
@wojtek-t @lavalamp @davidopp

we should definitely be using watch for this...  not sure which bit is doing it.

[2015-11-05 20:18] dchen1107 opened #16872 "e2e failure on aws: KubeletManagedEtcHosts should test kubelet managed /etc/hosts file"
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubelet_etc_hosts.go:54
Nov  4 12:20:00.142: /etc/hosts file should be kubelet managed, but is not: "10.245.1.102\ttest-pod\n127.0.0.1\tlocalhost\n::1\tlocalhost ip6-localhost ip6-loopback\nfe00::0\tip6-localnet\nff00::0\tip6-mcastprefix\nff02::1\tip6-allnodes\nff02::2\tip6-allrouters\n

[2015-11-05 20:25] quinton-hoole opened #16873 "Document deprecation policy"
Seeing as the 1.0 milestone was reached ~3 months ago, the following needs updating...

[code]

https://github.com/kubernetes/kubernetes/blob/master/docs/api.md

[2015-11-05 20:52] lavalamp commented on #16721
@hongchaodeng I suspect someone somewhere is just Sprintf'ing a nil error, and they should not do that. Making it print "" instead sounds fine to me.

[2015-11-05 20:54] mwithrow commented on #9242
Hello,
 New to kubernetes and node.js and trying to install in my Azure sub.  I am stuck at the azure-login.js.  It keeps erroring out no matter what parameter I pass?

[2015-11-05 21:15] dchen1107 commented on #9559
I believe my pr https://github.com/kubernetes/kubernetes/pull/10312 fixed the issue for 1.0 release already. Close.

[2015-11-05 21:15] #9559 closed

[2015-11-05 21:16] extesy opened #16875 "kube-ui is inaccessible after starting a mesos-docker cluster"
Following https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/mesos-docker.md guide I see from the console that addons are supposed to be started successfully:

    Deploying Addons
    namespace "kube-system" created
    Workspace created: /Users/oanashki/Projects/kubernetes/k8sm-dns-XXXXXX.E5El7gBt
    Deploying DNS Addon
    replicationcontroller "kube-dns-v9" creat

[2015-11-05 21:32] hongchaodeng commented on #16721
Created a PR #16876 to solve it.

[2015-11-05 21:33] vishh commented on #16110
I haven't been able to find any issues. I will update HEAD to use docker v1.9 soon.

[2015-11-05 21:40] ihmccreery opened #16878 "Builds should properly return non-zero if failed"
We ran into an issue where a build was failing to update the `latest-1.1` file, but still returned success.  It shouldn't.

[2015-11-05 22:06] dchen1107 commented on #16110
FYI: https://github.com/docker/docker/issues/17720 (Docker 1.9 serious performance issues)

[2015-11-05 22:09] lavalamp commented on #16376
@wojtek-t I think as long as ListOptions is only ever encoded into url.Params and not to json, it should be OK to change that detail?

[2015-11-05 22:12] dchen1107 commented on #16872
cc/ @brendandburns

[2015-11-05 22:23] jlowdermilk opened #16880 "Horizonal pod autoscaler e2e tests not running anywhere?"
As far as I can tell the Horizontal pod autoscaling tests aren't actually being run anywhere.

I turned them on for [GKE](http://kubekins.dls.corp.google.com/view/GKE/job/kubernetes-e2e-gke-1.1-features/), and they do not pass. I ran locally against a gke cluster and the tests just time out waiting for rc to be scaled. While it's waiting the hpa sees current CPU utilization as <not available>.
[co

[2015-11-05 22:30] jlowdermilk commented on #16880
cc @brendandburns

[2015-11-05 22:44] bgrant0607 commented on #15390
Default labels would be one solution to #1698

[2015-11-05 22:54] hongchaodeng commented on #16871
@brendandburns
I want to help with this issue. Can you provide any pointers?

[2015-11-05 23:00] erictune commented on #16558
If a request to a 3rd party apiserver just affects objects managed by that apiserver, then I think it can do its own authn.  It could also do its own authz.  Note that "doing authz" is independent of "storing objects that encode authz policy".  The latter might be on the 1st party apiserver.

If the 3rd party apiserver needs to read or write 1st party objects then it needs to authorize (perhaps wi

[2015-11-05 23:11] brendandburns opened #16883 "Services should be able to up and down services is flaky"
Ref #13478

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/service.go:259
Expected error:
    <*errors.errorString | 0xc208880180>: {
        s: "Only 2 pods started out of 3",
    }
    Only 2 pods started out of 3
not to have occurred

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/10860/?project=kubernetes-jen

[2015-11-05 23:25] brendandburns commented on #16883
This looks like a super slow image pull:

https://00e9e64bac817349619375304bf8e3134fc98e0000ee987ebf-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/logs%2Fkubernetes-e2e-gce-parallel%2F10860%2Fartifacts%2F104.197.51.84:22-kubelet.log?qk=AD5uMEvK_InZqIot0Bvh5_woBN-8Sp-eAL_C2aow8Zobhhux7H5Rnl7w0VbSR28LuxKZfKks4jA2pjThkby4XuW8rAVzyJ_8WXq5mpOUhWx0Mdf1QqDBo6sikGLCXfSq

[2015-11-05 23:34] brendandburns commented on #16883
To clarify:

It's not a slow pull, its slow waiting to _start_ the pull.

Pod is created @ 22:42
Image pull starts @ 22:45:12
Image pull finishes @ 22:45:17

[2015-11-05 23:34] brendandburns commented on #16883
@vishh

We need to extend the timeouts and also pre-pull most images to work around these kind of problems.

[2015-11-05 23:37] justinsb opened #16888 "Volume mounting a file is ambiguous (vs a directory)"
I deleted /var/log/kube-scheduler.log, and restarted the kube-scheduler. (on a test cluster, of course!)

When the container restarts, someone does a mkdir on /var/log/kube-scheduler.log.  (that causes kube-scheduler to crash, because it tries logging to that directory as if it were a file).

I believe the problem is that the manifest syntax has no way to differentiate a file vs a directory when t

[2015-11-05 23:37] dchen1107 commented on #16883
@vishh Based on @brendandburns's comment above, it looks like the flakiness is caused by your PR which makes kubelet does serialized image pulling by default. Can you take a look to verify this? If yes, we should fix our tests:

1) Extended the timeout value which I dislike, but can accept it to get rid of flakiness as soon as possible
2) Change the test itself to use cached images on the node. We

[2015-11-05 23:40] vishh commented on #16883
Is this issue critical? The issue is currently marked as P2.

[2015-11-06 00:00] aledbf opened #16891 "Add fields to HTTPIngressRuleValue"
Currently the file [types.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/extensions/types.go#L559) contains a comment `Consider adding fields for ingress-type specific global`

Is possible to define some of this fields?

_I wish it could be possible to add this ones:_
- sessionAffinity
- algorithm
- keepAlive

The it could be possible to define something like:

[code]

Thanks

[2015-11-06 00:28] vishh commented on #14762
@jimmidyson: No. cAdvisor cannot associate LXC containers with docker containers as of now.

[2015-11-06 00:28] vishh commented on #14762
@satheessh: is there a reason for running docker with lxc driver?

[2015-11-06 00:29] dchen1107 commented on #16872
I can reproduce the issue without accessing aws nodes by downgrade my docker version from 1.8.X to 1.7.X. There is no functional breakage, and shouldn't block 1.1 release. I will fix the tests.

On node with docker 1.8.X
[code]
On node with docker 1.7.X which I believe those aws nodes running with:
[code]

[2015-11-06 00:36] dchen1107 commented on #16872
To make my above comment more clear: The feature of kubelet managing container's /etc/hosts file relies on docker/docker#14613, which is only included in docker 1.8.X and above.

[2015-11-06 00:42] bgrant0607 commented on #15032
cc @mansoorj

[2015-11-06 00:43] bgrant0607 commented on #13935
cc @kelseyhightower

[2015-11-06 00:44] bgrant0607 commented on #11764
cc @mansoorj

[2015-11-06 00:54] JunejaTung commented on #16836
@thockin thanks for your attention, underly is the results, it seems run ok?
[code]

[2015-11-06 00:54] brendandburns commented on #16883
No, I don't think its critical.  It's flaked once in the past 30 runs, and it works eventually, if the test didn't timeout. So its more of a test bug than anything else.

[2015-11-06 00:55] bgrant0607 commented on #14376
Still a problem.

[2015-11-06 00:59] bgrant0607 commented on #14376
Easiest thing might be to move the content below to a separate page and add a button to get to it.

[2015-11-06 01:02] bgrant0607 commented on #10781
@vishh This is what I was talking about.

[2015-11-06 01:03] bgrant0607 commented on #2838
cc @mansoorj

[2015-11-06 01:04] bgrant0607 commented on #8493
@mikedanese Is there anything left to do here?

[2015-11-06 01:07] vishh commented on #10781
@bgrant0607: Acknowledged. I will come up with a tutorial soon.

[2015-11-06 01:07] bgrant0607 commented on #11764
Screenshots and ASCII animations would be great, too. Or maybe change the background color of the inline quoted regions to make them pop out more.

[2015-11-06 01:15] bprashanth commented on #16891
I like this idea, but I don't know if this is something we should expose to users. On one hand it makes going from Ingress -> loadbalancer configuration really straightforward, on the other, we're stuck with the same problems we have today (complexity: what's the right value for keepAlive? what about server/client/connection timeouts?).

Another way to address this problem is via admin defined QoS

[2015-11-06 01:16] jlowdermilk commented on #16880
cc @fgrzadkowski

[2015-11-06 01:31] bgrant0607 commented on #16880
cc @vishh

[2015-11-06 01:38] nikhiljindal commented on #16558
Based on more discussions with @erictune and @lavalamp, it seems fine to let each apiserver do their own auth.
Each apiserver should have their own etcd. If they want to use core APIServer's etcd, they should do so using third party resources. This ensures that 3rd party APIServers cannot modify core APIServer's resources.

3rd party servers will register themselves with the core API Server, which

[2015-11-06 01:44] bgrant0607 commented on #11764
My most recent presentation has lots of diagrams that would be useful (many of which have appeared in previous presentations by others):
http://www.slideshare.net/BrianGrant11/wso2con-us-2015-kubernetes-a-platform-for-automating-deployment-scaling-and-operations

[2015-11-06 01:46] bgrant0607 commented on #14745
Done: http://kubernetes.io/v1.1/docs/user-guide/kubectl-overview.html

[2015-11-06 01:46] #14745 closed

[2015-11-06 01:47] bgrant0607 commented on #15741
cc @mansoorj

[2015-11-06 01:53] JunejaTung commented on #16836
@ArtfulCoder thanks for your help, underly is the cmd results, it encounter the same error:
[code]
Detail information for kube-dns:
[code]

[2015-11-06 02:40] amygdala opened #16897 "error in envir var info for enabling daemonsets?"
Am I correct in thinking that here:
https://github.com/kubernetes/kubernetes/blob/master/docs/admin/daemons.md#caveats

it should instruct to export `KUBE_ENABLE_DAEMONSETS=true` instead?
See `cluster/gce/config-default.sh`

I can put in a fix if that's so.  There might be other docs with the same error as well; I can do a scan.

[2015-11-06 02:41] brendandburns commented on #16880
cc @wojtek-t @gmarek

filip is out on vacation.

[2015-11-06 03:04] bprashanth commented on #16871
I'd suspect you can start by checking apiserver logs (/var/log/kube-apiserver.log) where you should see requests tagged with something like `[[kube-controller-manager/v1.2.0 (linux/amd64) kubernetes/65691d5] ` at the frequency mentioned, and then proceed to adding log lines in the various controllers coupled into the kube-controller-manager binary. The controllers are started here: https://github.

[2015-11-06 03:30] paralin commented on #11869
@Smana @derekwaynecarr The openshift example is broken for me too, did you ever find a fix?

[2015-11-06 04:11] stevekuznetsov commented on #11869
The example was last updated about three months ago - I'm not positive it works, but if it doesn't, I'd bet that it will be an entirely different problem - what is failing for you? You might consider opening an issue and putting the details there. If you do, tag me and/or @derekwaynecarr.

[2015-11-06 04:33] lavalamp opened #16899 "Watches should log when they start, too"
Currently watches only log when they complete, which can make analyzing kube-apiserver log files a bit tricky. (did component x never start watching after that list or did apiserver shut down?)

[2015-11-06 04:56] jlowdermilk commented on #16880
HPA, Job, and Ingress tests are now all running (passed in latest run) on http://kubekins.dls.corp.google.com/view/CI%201.1/job/kubernetes-e2e-gce-disruptive-1.1/

[2015-11-06 04:56] #16880 closed

[2015-11-06 04:57] paralin commented on #11869
I would close this one in favor of the issue I'm about to post. I think it's a whole different issue now.

[2015-11-06 04:59] paralin opened #16901 "Update currently broken Openshift-Origin example"
cc @stevekuznetsov @derekwaynecarr

Following the instructions, everything works until:

[code]

Also happens if I replace `kubeconfig.admin` with `kubeconfig`.

[2015-11-06 05:02] Pendoragon commented on #16431
@lavalamp any update?

[2015-11-06 05:52] hongchaodeng commented on #16871
Thanks @bprashanth !
Let me read through the code. I should be able to get some GCE nodes to run cluster and see logs in a few days...

[2015-11-06 05:52] satheessh commented on #14762
@vishh no. Look like it is the default, if  kubernete  cluster is created in amazon web services

[2015-11-06 06:06] lavalamp commented on #16431
@Pendoragon No update.

As far as what the problem is, OPTIONS not having auth headers means we can't tell if the requester is allowed to see the thing they're asking about.

But anyway, as apiserver is not currently (and possibly not ever) hardened against XSS attacks, if you need CORS, you probably need to run an api proxy that *is* hardened against XSS attacks.

[2015-11-06 06:25] errordeveloper commented on #16508
It totally should!

[2015-11-06 06:43] Random-Liu commented on #16772
Close this issue, because it has been done in #16825 :)

[2015-11-06 06:43] #16772 closed

[2015-11-06 07:08] mwielgus opened #16904 "e2e flake: Should scale cluster size based on cpu reservation"
[code]

[2015-11-06 07:13] thockin commented on #16508
heh, we had such a binary and then replaced it with hyperkube, but I think
yes.  Then we can re-use the excellent "hyper-qube" name to mean something
else.

On Wed, Nov 4, 2015 at 1:28 PM, Kelsey Hightower <notifications@github.com>
wrote:

[2015-11-06 07:14] thockin commented on #16836
`cat /etc/resolv.conf`  from inside the failing containr.

On Thu, Nov 5, 2015 at 5:54 PM, Juneja <notifications@github.com> wrote:

[2015-11-06 07:15] wojtek-t commented on #16871
This is strange - I've never seen that. Maybe it's something new that is doing it?

[2015-11-06 07:20] wojtek-t commented on #16860
I think it should currently work.
However, I agree that since we are changing it, it may stop working at some point.

[2015-11-06 08:12] feihujiang commented on #15829
Is there anybody working on this? If not, I'd like to fix this next week.

[2015-11-06 08:17] piosz commented on #16904
The test requires monitoring to be set to googleinfluxdb which is not the default option.

[2015-11-06 08:27] cdpb opened #16906 "Running service made pod CrashLoopBackOff - invalid ip"
Hi there,

I'm running a 3 node coreos kubernetes cluster.

* Kubernetes v1.1.0-alpha.1.1613+ab02443985ed70
 * UPDATE: v1.2.0-alpha.3.185+ff796147f61ab9 didn't fix the problem
* CoreOS 845.0.0

I'm trying to run a docker registry pod:
[code]

* Created with flannel IP: 172.16.92.2

After that I wan't to create a k8s service:

[code]

* Created with k8s service IP: 10.10.240.151

* Everything works

[2015-11-06 09:09] mwielgus commented on #16904
Can we either disable the test in this suit or switch to googleinfluxdb?

[2015-11-06 09:20] piosz commented on #16904
Let's disable it as for now. Historically cluster autoscaling e2e tests are running in kubernetes-e2e-gce-autoscaling suite due to possible issue with GCM quota, though we haven't seen any problem with it for at least last 2 months so we may want to revisit the decision.

@jszczepkowski @fgrzadkowski @ixdy

[2015-11-06 09:21] feihujiang commented on #16742
I tried to fix this.

[2015-11-06 09:30] jdoliner opened #16909 "Error using NewInCluster() on 1.1.0-alpha1"
So I just upgraded to v1.1.0-alpha.1 and one of my pods that's using `NewInCluster()` to get a Kubernetes client is suddenly throwing this error.

[code]

[2015-11-06 09:32] johanhaleby opened #16910 "Add basic authentication support for livenessProbe"
For example:

[code]

[2015-11-06 09:34] #16857 closed

[2015-11-06 09:38] jdoliner commented on #16909
Actually nevermind, just tried redeploying on 1.0.6 and had the same problem.
Does anybody have points on why the token would be missing?

[2015-11-06 09:43] #16292 closed

[2015-11-06 09:46] JunejaTung commented on #16836
@thockin  thanks for your attention, i try `cat /etc/resolve.conf` inside the `skydns` container
[code]
try it in `kube2sky` the results seem the same:
[code]
Tips：I had make a change to `skydns-rc.yaml` and recreate  kube-dns, the change is
add a dot after the parameter `-domain` 's value for skydns container
[code]

[2015-11-06 10:13] resouer commented on #16741
[Update] By help with dns addon, now I have a POC running like this:

[code]
By change the number of replica, you can have a glusterfs cluster as you wish. But I'm not sure how to guarantee every node has a replica running. @thockin I'm also not sure it is proper when, for example, we have 1000 nodes ...

btw, since I created a headless service above, any pod running in this cluster can consume th

[2015-11-06 10:26] rassie commented on #9576
Seems not fixed as of Kubernetes 1.0.7

[2015-11-06 10:39] xinzhangcmu commented on #16431
@lavalamp could you clarify what information would be leaked if we don't check auth on OPTIONS requests? My understanding is that

- the client sending OPTIONS requests only intends to see if the server allows the client (or a certain origin) to further talk to the server for CRUD operations
- Hence, the only information that is leaking by not checking auth on OPTIONS requests is what origins are

[2015-11-06 10:42] feiskyer opened #16913 "hack/verify-generated-docs.sh 'unbound variable' on OSX"
[code]

[2015-11-06 11:19] mwielgus commented on #16734
@deads2k
So you want something like:
[code]
Right?

[2015-11-06 11:39] mwielgus commented on #16732
@deads2k
So the new SubresourceReference would be:
[code]

And BTW, Is there already an elegant way to build RESTClient for a particular apiGroup/apiVersion?.

[2015-11-06 11:47] mwielgus opened #16914 "k8s.io/kubernetes/cmd/libs/go2idl/generator tests seem flaky"
They failed on an unrelated PR: https://app.shippable.com/builds/563c7c07fa4c6c0d002fe407

[2015-11-06 11:51] mwielgus commented on #16913
cc: @eparis

[2015-11-06 11:54] mwielgus commented on #16910
cc: @bgrant0607

[2015-11-06 11:56] mwielgus commented on #16909
Can you please give more information about your environment/platform?

[2015-11-06 12:10] loky9000 commented on #15529
ok i'll try with latest master

[2015-11-06 12:17] saturnism commented on #15924
Actually, would it make sense to do.. `kubectl expose ... --type headless` instead?

[2015-11-06 12:38] deads2k commented on #16732
I would consider dropping `Subresource` and forcing it to always be scale.  Similar in concept to forcing names for interface evaluation in Go.  Also, `Name` is required, so `omitempty` shouldn't apply to that field.

Not that I know of today.  @lavalamp is looking at refactoring `client` so it may get easier, but I wouldn't want to wait for it.

[2015-11-06 12:39] deads2k commented on #16734
Yes, and `Resource` and `Kind` should be mutually exclusive.

[2015-11-06 12:52] JavierLorenzoPouso commented on #473
Is there any tutorial for replicate the master?

[2015-11-06 12:55] mwielgus commented on #16732
I would rather keep the subresource so that some other api object may use this reference in the future.

@bgrant0607  Are you OK with this change?

cc: @jszczepkowski @fgrzadkowski

[2015-11-06 13:11] deads2k commented on #15924
@kubernetes/kubectl This feels more like an edge case than a primary use-case to me.  The command is already a mass of flags, is this common enough for us to add another one?

[2015-11-06 13:14] deads2k commented on #16732
This type isn't a generic something.  Because of the way the codec's generated conversions are written, its currently impossible to reasonably express embedding a type from one APIGroup into another APIGroup.  This is specifically for your use-case.  If you don't need it, I don't think you should add it until something actually needs it.

This type is essentially a clone of `v1.ObjectReference`, y

[2015-11-06 13:50] commixon commented on #16847
Oh, so should I just close the Issue then and not proceed to a PR?

[2015-11-06 14:51] tillrohrmann commented on #15817
Thanks for the explanation @zmerlynn. I think you have to do something similar for Flink as well, since the RPC communication is done via Akka.

What happens on the `JobManager` side is that it is started with a hostname to bind to. The hostname is resolved to an IP which is used as the hostname for the `ActorSystem`. The same thing basically happens on the `TaskManager` side. When used without hi

[2015-11-06 14:59] amygdala commented on #14652
I have seen something that sounds very similar to this, with the 1.1.1 beta build.  Should this fix be in that build?
(David-- I can point you to the internal thread that has more detail on what I saw, if you did not catch it).

[2015-11-06 15:06] smarterclayton commented on #16891
Two thoughts.  One, admin sets up the routing config, so is free to choose to support whatever default algorithm they want, but there are always specific apps that have specific needs.  Second, the list of algorithms in haproxy and F5 is pretty deep, and very powerful.  If we do something simple here, we're basically preventing admins from actually tuning individual apps to leverage the power of t

[2015-11-06 16:02] ihmccreery commented on #16529
Relatedly, we should seriously refactor the way we do uploading and version comparison in `build/common.sh`, (what may become `release/common.sh`).

[2015-11-06 16:14] ArtfulCoder commented on #16836
@JunejaTung For some reason, your busybox pod does not seem to be configured as a DnsPolicy=ClusterFirst pod. It does not have the kube-dns pod ip, nor does it have the search paths.

That seems to be underlying cause.

One last thing to confirm:
1. can you verify that the following command works ?
`kubectl exec busybox -- nslookup kubernetes.default.svc.cluster.local 10.254.237.18`

2. what versi

[2015-11-06 16:29] amygdala commented on #16130
I'm not really the right person to be assigned to this, but leaving it for now.

[2015-11-06 16:42] justinsb commented on #16747
I believe if you set `export AWS_DEFAULT_OUTPUT=yaml` (or indeed any value that isn't recognized) this will happen.

I guess we should probably either unset this env var, or always pass an --output argument.  The latter is probably safer.

[2015-11-06 17:09] bgrant0607 commented on #14908
I could maybe imagine a volumeSelector as an escape hatch, similar to nodeSelector. If we do that, we should use the new-style selector we used for Job.

[2015-11-06 17:10] dchen1107 commented on #16846
@chbatey I believe you are hitting the issue: https://github.com/kubernetes/kubernetes/issues/13492 and https://github.com/kubernetes/kubernetes/issues/12041

cc/ @brendandburns @lavalamp @wojtek-t

[2015-11-06 17:38] dchen1107 commented on #16888
I just realized that this should be a bug which might be caused by some races between the logging file is created initially and Kubelet tries to mount the existing volume since @justinsb mentioned above that he deleted /var/log/kube-scheduler.log. For HostPathVolumeSource type volume, we assume the HostPath is a pre-existing file or directory. But upon NotExist case, we must did some assumption in

[2015-11-06 17:44] vishh commented on #14762
AFAIK, we do not validate kubernetes with LXC. Is there a reason why you
want to use Ubuntu 15.04?

On Thu, Nov 5, 2015 at 9:53 PM, satheessh <notifications@github.com> wrote:

[2015-11-06 17:47] justinsb commented on #16747
I have a fix for this, but it has some horrendous merge conflicts with some other PRs of mine that are in flight.  I suggest `unset AWS_DEFAULT_OUTPUT` for now, and it will hopefully be fixed soon!

[2015-11-06 18:03] janetkuo opened #16927 "Tie endpoints into kubectl describe ingress"
From https://github.com/kubernetes/kubernetes/pull/16852#issuecomment-154271752

cc @bprashanth @feiskyer

[2015-11-06 18:04] mikedanese commented on #16225
#15791 fixed this.

[2015-11-06 18:04] #16225 closed

[2015-11-06 18:06] ihmccreery commented on #16529
#16919 another example.

[2015-11-06 18:15] lavalamp commented on #16431
I was under the impression that OPTIONS also contains a path, and therefore
the server's response would therefore allow someone to tell if a resource
exists or not? If there's no path in OPTIONS (or there is but it can be
ignored) then I have no objection and we can see if @erictune or @stephenR
agree.

On Fri, Nov 6, 2015 at 2:39 AM, xinzhangcmu <notifications@github.com>
wrote:

[2015-11-06 18:19] lavalamp commented on #16562
https://app.shippable.com/builds/563c7c07fa4c6c0d002fe407 (#16914)

Hard to repro flakes that only fail on shippable are basically impossible to debug right now because of this. @ixdy could it be the script that you had stripping the verbose output out?

[2015-11-06 18:21] lavalamp commented on #16732
Group is packed into apiVersion in TypeMeta. I would prefer to do the same here for consistency.

[2015-11-06 18:26] deads2k commented on #16732
I'd prefer not to do that for this struct.  I think it was a mistake to combine two distinct fields in the first place and things would get really strange here.  Most of the time, I don't care about version, so I'll be setting an `apiVersion` field equal to just the `apiGroup`.

[2015-11-06 18:29] lavalamp commented on #16732
Do you still feel that way once
https://github.com/kubernetes/kubernetes/pull/16834 is available for the
type?

I think it's even more confusing to have "apiVersion" in type meta be both
group and version, but apiVersion in HPA be only version.

On Fri, Nov 6, 2015 at 10:26 AM, David Eads <notifications@github.com>
wrote:

[2015-11-06 18:40] deads2k commented on #16732
It's problematic in this case. In the `TypeMeta` case, it doesn't make any sense to have `apiVersion` be just a `group` because that is insufficient information to locate the correct codec.

In the case of this reference object, it almost always makes sense to have just `group` so that the `version` can be negotiated to whatever is available.

[2015-11-06 18:46] ihmccreery commented on #16815
This is probably blocked on at least parts of #16529, because right now our releasing infrastructure expects `gitMajor` and `gitMinor` to be present and updatable.  That should instead be the domain of build, but isn't right now.

[2015-11-06 19:02] mikedanese commented on #16529
This is #8686 and it's super painful right now.

[2015-11-06 19:09] paralin commented on #16901
I finally got it to work! I don't really know exactly what I did. I've been messing with it for 3 hours.

The result:

![](http://i.imgur.com/IKzWLDk.png)

[2015-11-06 19:10] paralin commented on #16901
I think the key was to use this command to generate the secret:

[code]

I'll look into repairing the create.sh script.

[2015-11-06 19:14] mahehss commented on #16747
Hi justinsb,

I just checked. AWS_DEFAULT_OUTPUT is not set.

Thanks,
Mahesh

[2015-11-06 19:15] ihmccreery opened #16934 "Review process for releases"
Right now, there's no good way to do a review for releases.  You can't attach a tag to a PR, so the only way to set the tag is to do just a straight push to upstream.  We also just do a straight push of the versionizing commit (that revs versions in `pkg/version/base.go`).

All of this is implemented in dry-run functionality in `cut-official-release.sh` right now, but there's no good paper trail o

[2015-11-06 19:16] brendandburns opened #16935 "We should use YAML tags to set cluster context"
So that people can do `kubectl create -f <file>` without having to use `kubectl config use-context ...`

@bgrant0607 @jlowdermilk @smarterclayton

[2015-11-06 19:16] brendandburns commented on #16935
@kubernetes/kubectl

[2015-11-06 19:17] ihmccreery opened #16936 "“Copying release artifacts to gs://...“ sometimes hangs"
The step “Copying release artifacts to gs://...“ in `push-official-release` sometimes hangs, maybe when `gcloud` isn't up-to-date?  Presumably it's similar for `push-ci` and `push-dev`.

This needs further investigation.

[2015-11-06 19:18] #15483 closed

[2015-11-06 19:18] #13339 closed

[2015-11-06 19:21] ihmccreery opened #16937 "push-official-release versioning issues"
Two recently-uncovered issues with `push-[official|dev|ci]-release`:

- [ ] they don't check for a valid CI version until after publication, when trying to do version comparison; they should fail fast if it's trying to push a version that's not valid, instead of uploading and then complaining.
- [ ] they should exit 1 on failure, so that if we failed to push a build, Jenkins goes red.

[2015-11-06 19:25] bprashanth commented on #16927
@janetkuo thanks, @feiskyer feel free to assign this bug to me if you don't have time, and I'll get to it when I do

[2015-11-06 19:26] bgrant0607 opened #16938 "Copy relevant useful docs from https://cloud.google.com/container-engine/docs/"
They should have been in github in the first place.

cc @mansoorj

[2015-11-06 19:35] lavalamp commented on #16732
Ah, so you'd like to remove apiVersion entirely and have only apiGroup? I'm
totally fine with that.

On Fri, Nov 6, 2015 at 10:40 AM, David Eads <notifications@github.com>
wrote:

[2015-11-06 19:40] paralin commented on #3885
I would +1 some sort of way to mark a node as unscheduleable *except* for daemons. Or perhaps, marking a pod as something that can override the unschedulable flag.

[2015-11-06 19:41] yifan-gu commented on #16847
@commixon I am working a multinode setup for coreos/gce particularly at this point. Haven't thought about how you can have a generic cloudconfig for every platform?

[2015-11-06 20:14] mahehss commented on #16747
Thanks a lot justin. I was able to solve the problem by setting the AWS_DEFAULT_OUTPUT key to "table". Thanks again.

[2015-11-06 20:14] #16747 closed

[2015-11-06 20:21] yujuhong opened #16943 "RFC: Determine the scalability goal for v1.2 kubelet"
The umbrella issue for kubelet's scalability: #12540

Kubelet manages and monitors all user pods on a node to ensure their container states meet the desired pod specifications. Every pod and/or container Kubelet manages incurs a certain resource overhead even in the absence of active events (i.e., no spec change or container lifecycle events). The exact per-pod overhead varies based on the detaile

[2015-11-06 20:30] derekwaynecarr commented on #16943
@yujuhong - for the 90 pause pods per node use case, do you have a breakdown betweek docker and kubelet for those numbers rather than just combined?

[2015-11-06 20:38] yujuhong commented on #16943
@derekwaynecarr, those are just combined. For 50%th, the numbers vary a lot like I mentioned. As for 70th%, kubelet is ~0.7 core, while docker ~0.8 core.

[2015-11-06 20:41] vishh commented on #16943
Do we have an understanding of the performance bottlenecks in kubelet and docker? Will the current goals be achievable with just kubelet optimizations or will it require docker changes as well?

[2015-11-06 20:53] commixon commented on #16847
Well my proposal is not for multi-node setup, especially with such differences between providers. However I use a cloud-init file to launch a single, all-in-one kubernetes on CoreOS, that works both for local environments (e.g. vagrant) and others as well (I have tested and use it with openstack, ec2, digitalocean and azure). There is no need for complex scenarios, just use the $private_ipv4 and $

[2015-11-06 20:55] jcderr opened #16946 "kube-ui disk usage inconsistently labels filesystems"
When viewing the kube-ui dashboard, the ui shows stats and graphs for 4 filesystems. On each successive update of the UI, the actual filesystem being reported on each line may change.

For instance, my `/var/lib/docker` filesystem is usually reported as `Filesystem # 4`, but will occasionally cause wild swings of the graph because it suddenly gets reported as `Filesystem # 2` for a few updates and

[2015-11-06 21:04] yujuhong commented on #16943
The problem is two-fold:
 1. Each pod worker polls docker directly.
 2. Pod workers periodically wakes up to check even when there are no work to do.

(1) is the main problem as docker gets overwhelmed pretty quickly as we scale the number of pods. (2) is also significant, but not as much as (1).
To reach the goal, we need to tackle both:
 - Using a generic PLEG (with just relisting) would reduce

[2015-11-06 21:16] zmerlynn opened #16949 "Service proxy for cluster IP instead of service name"
Spark is a special snowflake and its WebUI follow-on links are pretty heavily based on having the cluster IPs routable from the browser. Attached is a sample screenshot of what I mean. As part of the drive in #16517, I have the first page working just fine as part of `kubectl proxy`, but, of course, the links to the workers and application itself don't work, because those are cluster IPs.

If we h

[2015-11-06 21:16] jlowdermilk commented on #16205
There's another solution here which from talking with the cloud sdk maintainers is the more recommended approach: have every test fetch gcloud tars from gcs, and install gcloud locally in the workspace. That way different tests can't clobber each other and we avoid any update races. The script [already does this](https://github.com/kubernetes/kubernetes/blob/master/hack/jenkins/e2e.sh#L1464) for t

[2015-11-06 21:32] luxas commented on #13424
@fgrzadkowski
I downloaded `v1.2.0-alpha.3` binaries, copied `hyperkube` to cluster/images/hyperkube and built that image with the right tag.
Then I copied the commands from `docs/getting-started-guides/docker.md` and some secs later the master was up.

But, `kubectl get secrets` doesn't return anything. Exactly the same result as @dalanlan
I'm quite sure that your commit was included in that vers

[2015-11-06 21:35] yujuhong commented on #16936
Not sure if it's related, but there are known "gsutil -m" hang problem that has not yet been fixed: b/22930057

[2015-11-06 21:37] dchen1107 commented on #16943
@yujuhong Can we convert the content of v1.1 Resource Usage to a doc (.md file) like what we discussed the other day? Thanks!

[2015-11-06 21:42] packetcollision commented on #3885
:+1: This will really help with gracefully handling EC2 Spot Instance evictions. The "simplest" version @mml describes above is plenty for this use case. I would just do `kubectl drain --grace=90 $this_node` when the AWS API shows that eviction will happen in 2 minutes.

[2015-11-06 21:44] timstclair commented on #16943
I think a super-fast reaction time is less important with the addition of `ProbePeriod`. If a specific pod has a high requirement for time to restart, then the user could just add a liveness probe with a short period. This approach would scale poorly, but I'm assuming most pods don't have that high of a reaction requirement. On a related note - how does probing factor in to this? Do we have any st

[2015-11-06 21:45] bgrant0607 commented on #16935
What's the scenario?

Also, -f works on directories. What if different files specify different contexts?

An alternative would be to make the files executable, with the first line:
[code]
[code]

[2015-11-06 21:48] vishh commented on #16943
IIUC, focus will be on kubelet optimizations first.

From a user perspective, low latency seems desirable. Based on the [scalability blog](http://blog.kubernetes.io/2015/09/kubernetes-performance-measurements-and.html), the pod-startup times are expected to be lesser than 5 seconds. Would it be fair to expect status updates to be within the same bounds?

Yes. I think scalability is more important

[2015-11-06 21:51] timothysc commented on #13935
Even better, some update to their PR which shows where they are are in the lifecycle.

[2015-11-06 22:00] vishh commented on #8772
@nlamirault: This is expected. The build fix wasn't included in the v1.0 releases. Can you try the latest v1.1 beta release? Sorry for the trouble!

[2015-11-06 22:01] vishh commented on #8772
@thockin: Why do we need golang base container? As of hyperkube containers are packaged with a debian baseimage and a on-static binary built using the regular build pipeline.

[2015-11-06 22:02] vishh commented on #8772
I'm closing this issue since things work as expected.

[2015-11-06 22:02] #8772 closed

[2015-11-06 22:06] derekwaynecarr commented on #16943
@vishh - do you mean scalability on number of nodes in cluster instead of number of containers per node?  In my experience, users running smaller cluster sizes are surprised by the overhead of system daemons on the node.

[2015-11-06 22:15] janetkuo opened #16955 "kubectl annotate should support output format and return success message"
`kubectl annotate pod foo ...` should return something like `pod "foo" annotated`, and should support output format like other commands.