[2020-06-09 20:53] mapdegree commented on #69343
Would be great to include, an essential plugin

[2020-06-09 21:15] chelseychen opened #91965 "Set priority of Event v1 higher than v1beta1 in 1.20"
**What would you like to be added**:

The Event API is being promoted to v1 in #91645 and right now v1beta1 has higher priority than v1 in pkg/apis/events/install/install.go. We should bump this in 1.20.

**Why is this needed**:

The new Event API is being promoted.

[2020-06-09 21:15] chelseychen commented on #91965
/sig instrumentation

[2020-06-09 21:49] #90610 closed

[2020-06-09 21:49] #91912 closed

[2020-06-09 23:18] BenTheElder commented on #91947
/cc @spiffxp @dims

[2020-06-09 23:19] BenTheElder commented on #91911
???

https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-kind-conformance/1270374504111017984

[2020-06-09 23:22] BenTheElder commented on #91911
er, there should just be one ginkgo node in these runs AFAICT

[2020-06-09 23:25] MikeSpreitzer commented on #91732
Can you give a concrete example of something you would like to do but cannot, along with what you tried?

Have you noticed https://github.com/kubernetes/api/blob/afb0842feaf5249db565a4843da5a5de6b28544a/admissionregistration/v1/types.go#L40 ?

DeploymentRollback is not a subresource.  It is a deprecated top-level resource.

[2020-06-10 00:13] liggitt commented on #90277
The API guidelines aspect seems to fall within sig-architecture's charter ("establishing and documenting conventions for system and user-facing APIs"), so I've added the topic to the agenda for the [next sig-architecture meeting](https://github.com/kubernetes/community/tree/master/sig-architecture#meetings) on 6/18 and started a [mailing list thread](https://groups.google.com/forum/#!topic/kuberne

[2020-06-10 00:29] apelisse commented on #90904
Let's keep this open until we're happy with the various things we wanted to fix. Most of them are done, but we're not there yet.

[2020-06-10 00:31] apelisse commented on #91006
I think this bug is fixed by #91748. There are still things we can do better (and we're actively working on these), but that behavior specifically is fixed.

[2020-06-10 00:31] #91006 closed

[2020-06-10 00:55] sinchanroy commented on #24725
+1, our pods gets restarted 200x in case of errors and eating up much of resources. I would voteup for this issue

[2020-06-10 01:04] zjcnew commented on #91941
After testing, access to apiServer and etcd is normal, and the network is normal.

[2020-06-10 01:13] Huang-Wei opened #91972 "[sig-scheduling] SchedulerPreemption [Serial] PreemptionExecutionPath runs ReplicaSets to verify preemption running path [Conformance]Changes"
**Which jobs are failing**:

Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)

**Which test(s) are failing**:

[sig-scheduling] SchedulerPreemption [Serial] PreemptionExecutionPath runs ReplicaSets to verify preemption running path [Conformance]Changes

**Since when has it been failing**:

2020-06-08 22:27 PDT

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blockin

[2020-06-10 01:13] Huang-Wei commented on #91972
cc/ @hasheddan @ahg-g
/assign

[2020-06-10 01:39] Huang-Wei commented on #85677
/reopen
as #91750 regresses - we need to come up with a complete fix.

[2020-06-10 01:44] fisherxu commented on #91753
@fedebongio @kadisi   Now for the watch method, `timeout` is not used in the client side, and it will be passed to apiserver in the URL.

So do we need the `timeout` parameter in client for the `watch`?

[2020-06-10 02:08] draveness commented on #91904
/unassign

[2020-06-10 02:10] zjcnew commented on #91941
apiserver log has request records, such as "Get" "Update" url:/api/v1/namespaces/monitoring/services/alertmanager-operated,user-agent:operator/v0.0.0 (linux/amd64) kubernetes/$Format,client :192.168.254.115 (started: 2020-06-10 01:09:24.623881814 +0000 UTC m=+323.933760916) (total time: 19.345705236s)
"List" url:/api/v1/pods,user-agent:calico-node/v0.0.0 (linux/amd64) kubernetes/$Format,client:192

[2020-06-10 02:13] #86297 closed

[2020-06-10 02:15] wy100101 commented on #86297
I think this is still an issue.

On Tue, Jun 9, 2020, 22:14 Jiajin Zheng <notifications@github.com> wrote:

[2020-06-10 02:23] Yukariko commented on #91668
@joshshn , see #90377
That pr are merged to v1.19.0.beta.
I did cherry-pick that commit into my branch release-1.18.2, then problem is solved.

[2020-06-10 02:33] BenTheElder commented on #91959
The image contents are not present at config validation time, or even when we start setting up the pod.

cri-o, containerd, and dockerd under kubernetes all create local temporary "volume" directories on the host and mount these for `VOLUME`s in the images.

[2020-06-10 02:40] BenTheElder commented on #91959
there are also at least some use cases where this is 100% expected and there's no intention of persisting the storage, i.e. the volumes are just for scratch space.

treating this as an error in the API would also be backwards incompatible, so regardless of what you or I think I don't think the project at large would agree to make this change in V1 pods.

[2020-06-10 02:44] BenTheElder commented on #91963
/sig node

[2020-06-10 02:57] MikeSpreitzer commented on #91963
I have been seeing a similar symptom but with a slightly different error message.  In the kubelet it starts after the initial certificate rotation, and the error message complains about not being able to write to the connection.  I have also seen kube-proxy get stuck in this state.  `strace` and `tcpdump` and `lsof` show no network activity by the troubled processes.  Oddly, the problem strikes on

[2020-06-10 03:10] #88997 closed

[2020-06-10 03:30] tedyu commented on #91963
Kubelet.kubeClient is used for communicating with API server (see call to volumemanager.NewVolumeManager()).

It seems kubeClient needs to be reconstructed when 'use of closed network connection' surfaces.

[2020-06-10 03:33] kadisi commented on #91753
@fisherxu  @fedebongio i don't think that we need the `timeout` parameter in client for the `watch`

[2020-06-10 03:39] john-yick commented on #56038
Just to add I am working on a one-click installation from within China. I have the master-node script mostly setup now. It uses the aliyun CDN for installation and takes ~2-3 mins from a fresh install of CentOs with docker pre-installed to have K8 running.[k8-setup]( https://github.com/john-yick/k8-setup) still learning K8 but it does seem much harder to get things up and running within China, com

[2020-06-10 04:42] jpeach commented on #91353
Closing per discussion in #91599 .

[2020-06-10 04:42] #91353 closed

[2020-06-10 05:33] minzhang28 commented on #91944
I am interested on helping this issue, but I am new to kubernete repo, it could take me sometime

[2020-06-10 06:25] yu2003w commented on #82958
If core-dns doesn't terminate, maybe dns requests still send to the not running pods.
I think this is a problem.

[2020-06-10 07:23] PontusTideman commented on #91820
Then we can close this! 👍

[2020-06-10 07:23] #91820 closed

[2020-06-10 07:54] #91972 closed

[2020-06-10 07:59] taggelos commented on #91944
I found the following which is well documented in "Best Practices for Configuration"

[https://kubernetes.io/docs/concepts/configuration/overview/#container-images](https://kubernetes.io/docs/concepts/configuration/overview/#container-images)

It would be expected to include more information on the options in the main link under
[https://kubernetes.io/docs/concepts/containers/images/#updating-imag

[2020-06-10 08:03] ChrsMark commented on #68522
Hey @dashpole is there any update on this? From what I get it seems that it is not clear yet when changes will happen, however is there any resource (design doc, open discussion etc) where we can keep track of updates even if decisions are not final (I'm interested mostly in `stats/summary` future to be honest)?

@serathius I see that you mentioned about working on proposing replacements for kubel

[2020-06-10 08:25] QianChenglong opened #91979 "kubeadm upgrade causes deploy/coredns error when migrate corefile error"
**What happened**:

kubeadm upgrade causes deploy/coredns error when migrate corefile error.

![image](https://user-images.githubusercontent.com/1881126/84245124-2cb79080-ab37-11ea-95c0-41db4123879c.png)

![image](https://user-images.githubusercontent.com/1881126/84244731-a307c300-ab36-11ea-8730-bbb7eb9c16a6.png)

![image](https://user-images.githubusercontent.com/1881126/84245089-1e697480-ab37-11

[2020-06-10 08:28] QianChenglong commented on #91979
/sig cluster-lifecycle

[2020-06-10 08:28] JoseFMP commented on #51835
For me the namespace is stuck in `Terminating` . No pods are listed. No services... nothing. The namespace is empty. Still... stuck in Terminating.

[2020-06-10 08:50] bverschueren commented on #86352
@tavin: can you verify if #87863 covers your needs ?

[2020-06-10 09:16] #56005 closed

[2020-06-10 09:25] QianChenglong commented on #91979
Close in https://github.com/kubernetes/kubernetes/pull/88811

[2020-06-10 09:25] #91979 closed

[2020-06-10 09:51] tedyu commented on #51835
@bitsofinfo
Can you attach kubelet log (controller-manager log as well) when this happens again ?

[2020-06-10 09:55] tavin commented on #86352
@bverschueren it looks like exactly what I was asking for, thanks

[2020-06-10 10:05] occasionallydavid commented on #91959
Is there some existing policy mechanism that could be reused to push a flag down to the container runtime that might e.g. cause launch to fail? Breaking default semantics would naturally be a greater evil, however there still remains a fairly massive hazard.

[2020-06-10 10:15] zhouya0 commented on #91891
Will solved in this https://github.com/kubernetes/kubernetes/issues/55713

[2020-06-10 10:15] #91891 closed

[2020-06-10 10:49] zhouya0 opened #91981 "ReadOnly mount /var/lib/kubelet/pods/<podID>/etc-hosts"
**What happened**:
https://github.com/kubernetes/kubernetes/blob/b6bdd64b1070781d5a63ab02d533d3b3c88ed2b8/pkg/kubelet/kubelet_pods.go#L298-L304 we have this `etc-hosts` mount in container with `ReadOnly: false`.

So users can exec into container and modify this file, but this file is shared with all containers in the same pod, I don't think it's good to change this file.

I think to solve is simpl

[2020-06-10 10:54] zhouya0 commented on #91981
/sig node

[2020-06-10 11:21] zhipengzuo commented on #91960
is your CRI running normally at that point ?

[2020-06-10 11:23] hakman opened #91982 "Incorrect disk size and usage detection blocks e2e from starting with Kops"
**Which jobs are failing**:
e2e-kops-aws-k8s-latest

**Which test(s) are failing**:
Tests cannot start at all because critical pods cannot be scheuled

**Since when has it been failing**:
We noticed this was happening last week and investigations pointed out eviction manager as the root cause. We disabled out of resource handling for imagefs and things are working again.

We didn't notice this soo

[2020-06-10 11:29] hakman commented on #91982
/sig scheduling
/cc @Huang-Wei @dashpole

[2020-06-10 11:34] hkamel commented on #91878
/sig scheduling

observing time out

[code]

[code]

[2020-06-10 11:37] pandeyvinod commented on #91876
some how i mentioned wrong version in description. correct version was 1.16 as mentioned above.

Looks like its already fixed in the newest release.

[2020-06-10 11:37] hkamel commented on #90686
/sig scheduling

observing time out

`Jun 10 05:42:34.202: INFO: found a healthy node: test1-md-0-4qcf5
[It] runs ReplicaSets to verify preemption running path [Conformance]
  test/e2e/framework/framework.go:597
Jun 10 05:42:42.675: INFO: pods created so far: [1 1 1]
Jun 10 05:42:42.675: INFO: length of pods created so far: 3
Jun 10 05:44:42.765: FAIL: pod sched-preemption-path-3834/pod4 failed to

[2020-06-10 11:38] #90719 closed

[2020-06-10 11:38] #90873 closed

[2020-06-10 11:38] hzxuzhonghu opened #91983 "Make plugins importable for other projects"
### Context

[volcano](https://github.com/volcano-sh/volcano) scheduler is making use of kubernetes' scheduler algorithms. But during the k8s dependency upgrade, we found that the scheduler framework has been refactored.

And we need to use pkg/scheduler/internal/cache.NewSnapshot to initialize the interface that needed to call related plugins. As internal package can not be imported, so i have to

[2020-06-10 11:39] hzxuzhonghu commented on #91983
/sig scheduling

[2020-06-10 11:39] hzxuzhonghu commented on #91983
cc @k82cn

[2020-06-10 11:39] aojea commented on #91774
@hasheddan this test failed only once in the test grid link attached,
also, this search is not showing that is failing excessively https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=Services%20should%20update%20nodePort%3A%20udp

I do not if this already exists, but we should document a common understanding for tagging flaky tests.

I suggest something along this lines :
* 1

[2020-06-10 11:40] hkamel commented on #91860
/sig scheduling

observing a timeout

`Jun 10 05:42:34.202: INFO: found a healthy node: test1-md-0-4qcf5
[It] runs ReplicaSets to verify preemption running path [Conformance]
  test/e2e/framework/framework.go:597
Jun 10 05:42:42.675: INFO: pods created so far: [1 1 1]
Jun 10 05:42:42.675: INFO: length of pods created so far: 3
Jun 10 05:44:42.765: FAIL: pod sched-preemption-path-3834/pod4 failed t

[2020-06-10 11:44] wojtek-t commented on #90047
Reopening - since we need to reenable this test.

[2020-06-10 11:48] aojea commented on #91774
analyzing current failures, and posting for reference in case this repeats againt,
The test does the following
1. create a udp service with 10 pods as backend
2. check that all the endpoints are reachable
(this part works)
3. delete the service
4. check that endpoints are not reachable
(this part fails because is able to reach endpoints-9)
[code]
3.

[2020-06-10 11:49] ahg-g commented on #91904
/help
/priority important-soon

[2020-06-10 11:49] k82cn commented on #91983
/cc @kubernetes/sig-scheduling-feature-requests

[2020-06-10 12:18] sayanchowdhury opened #91985 "[Failing Test] [sig-scheduling] SchedulerPreemption [Serial] PreemptionExecutionPath runs ReplicaSets to verify preemption running path [Conformance]"
**Which jobs are failing**:

`Conformance - GCE - master (ci-kubernetes-gce-conformance-latest)`

**Which test(s) are failing**:

`[sig-scheduling] SchedulerPreemption [Serial] PreemptionExecutionPath runs ReplicaSets to verify preemption running path [Conformance] `

**Since when has it been failing**:

`06-09-20 22:27 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#

[2020-06-10 14:17] hasheddan opened #91990 "[Failing Test] gce-device-plugin-gpu-master (ci-kubernetes-e2e-gce-device-plugin-gpu)"
**Which jobs are failing**:

`gce-device-plugin-gpu-master (ci-kubernetes-e2e-gce-device-plugin-gpu)`

**Which test(s) are failing**:

`Up`

**Since when has it been failing**:

`06-09-20 16:31 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-device-plugin-gpu-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/sig testing
/cc @kubernetes/

[2020-06-10 15:38] jakepaw opened #91992 "HA Kubernetes (v1.17.3) kubeadm init failure"
**What happened**:

Hey everyone! Not sure why this is happening, I have not tried to set up HA k8s before this. Running normal kubeadm init works.... but I am trying to use HA Kubernetes and getting these following errors. Any pointers would be GREAT.

While installing HA kubernetes via command line with kubeadm, I am repeadetly blocked by kubelet message:

kubeadm init --config config.yaml --upl

[2020-06-10 17:38] alculquicondor opened #91994 "Renaming DefaultPodTopologySpread plugin"
As suggested in https://github.com/kubernetes/kubernetes/pull/91793#issuecomment-642138709
This is necessary to avoid confusion between the plugin name and the feature gate that controls #80639

The name change should be fine as the plugin names were alpha, along with the component config API. And now that we are graduating to beta its the perfect time to change it.

One idea would be to call it `

[2020-06-10 23:03] neolit123 commented on #91992
/remove-sig network
/sig cluster-lifecycle
/triage support
/area kubeadm
/remove-triage unresolved

[2020-06-10 23:13] neolit123 commented on #91992
Failed to list *v1beta1.CSIDriver
Failed to list *v1.Service
Failed to list *v1.Node
Failed to get status for pod "etcd-NodeNameMaster

some of these errors are expected until the Node gets authorized.

you seem to have set a lot of custom settings for the kubelet.
what happens if you omit the KubeletConfiguration completely:
[code]

note if something deviates from the kubeadm defaults that are wr

[2020-06-10 23:15] neolit123 commented on #91895
please use the support channels for support questions
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks

/sig cluster-lifecycle
/triage support
/close

[2020-06-10 23:15] #91895 closed

[2020-06-10 23:16] neolit123 commented on #91992
/remove-kind bug

[2020-06-11 00:13] #80639 closed

[2020-06-11 00:14] #91655 closed

[2020-06-11 00:14] #91911 closed

[2020-06-11 00:29] integrii commented on #75890
We're seeing instances in our clusters wherein `kube-proxy` being provisioned races with other containers being built.  This results in missing netfilter rules and services appear to be down for a short period of time.  We detect this blip sometimes with [Kuberhealthy](github.com/Comcast/kuberhealthy), which is our software that runs synthetic checks.  Our DNS checker often spins up very fast on n

[2020-06-11 00:30] shivrajjadhav733 commented on #91880
What do you mean it will automatically add two endpoints?
Does it mean we don't need to add those endpoints in application.yaml  as management:endpoint:health:group ?
Does it mean we don't need to configure that in deployment.yaml under container specs?

[2020-06-11 00:39] liggitt commented on #91868
`--force` sends a PUT to the server correctly. Since the updated content is identical to what is already persisted, there is no change, but this is working as intended.

/close

[2020-06-11 00:39] #91868 closed

[2020-06-11 00:41] msau42 commented on #91001
The earliest timestamp of force detach is:
[code]

Which means that AD controller detected the Pod was deleted 6 minutes earlier, which puts it at 20:16 and it lines up with when delete and the storage protection finalizer are removed. So if we got here, that means for some reason the volume did not get removed from the Node's VolumesInUse.

[2020-06-11 00:41] MHBauer commented on #91263
With #17687 in, it looks like they're running somewhat, but testgrid isn't parsing it right.

[2020-06-11 00:42] michaeljmarshall commented on #61486
Worked for me on EKS 1.16. Thanks!

[2020-06-11 00:57] msau42 commented on #91001
From kubelet logs, this is interesting, but maybe a red herring:

[code]

It doesn't look like we ever successfully mounted the volume because of this, and then I assume the test timed out and we started to teardown, but that failed too:
[code]

[2020-06-11 00:58] msau42 commented on #91001
cc @gnufied to look into the rbac errors during the NodeExpand operation.

I will dig deeper into the mock driver to figure out why it's not able to cleanup.

[2020-06-11 01:00] fisherxu commented on #76338
/reopen

[2020-06-11 01:02] msau42 commented on #91001
Hold on a second. This test case is supposed to create 3 pods on the same node with a volume attach limit of 2. The PV that is having trouble is the 3rd one that's supposed to fail scheduling. So we shouldn't have even started attaching or mounting this PV.

Investigating the test case next...

[2020-06-11 01:12] jakepaw commented on #91992
@neolit123

Thank you for the response! The kubeadm init fails to complete. I omitted and the init still fails to complete. Should my advertiseAddress and bind port be anything different?

- ```kubeadm init```fails out
- not able to see any pods or utilize kubectl as the API server has not started up
- I am letting kubeadm generate one for me
- Will ask admins of load balancer if allowing TLS

[2020-06-11 01:17] neolit123 commented on #91992
what errors are you getting from the kubeadm invocation?
is it just erroring out saying the kubelet is not healthy?

[2020-06-11 01:18] msau42 commented on #91001
Ok I think what's happening is that when the test is cleaning up the 1st pod, that opens up space for the 3rd pod to get scheduled, and kubelet is in the middle of bringing up the 3rd pod when the test starts cleaning up the 3rd pod.

That explains the resize rbac error.

So the main thing to investigate is the cleanup path for a volume that never got successfully published.

[2020-06-11 01:18] jakepaw commented on #91992
Yes:

[code]

[2020-06-11 01:23] neolit123 commented on #91992
this seems like a kubelet misconfiguration possibly caused by the KubeletConfiguration:
[code]

try narrowing down what may be causing that.

[2020-06-11 01:24] neolit123 commented on #91992
a lot of these fields seem like defaults, so i'd just remove the whole segment and only leave parts that actually have to change and let kubeadm apply defaults.

[2020-06-11 01:25] jakepaw commented on #91992
@neolit123 I commented the above out, I was given the same output as before. And yes these were all defaults for the most part.

[2020-06-11 01:25] neolit123 commented on #91992
possibly `journalctl -xeu kubelet` contains more relevant errors.

[2020-06-11 01:29] jakepaw commented on #91992
@neolit123 In my first comment on the bottom below the 'other' section, those are the ```journalctl -xeu kubelet``` logs. They look the same after above changes. Must be a load balancer issue / configuration issue.

[2020-06-11 01:31] #87112 closed

[2020-06-11 01:52] vincent-pli commented on #53331
Seems the issue still there: https://github.com/kubernetes/kubernetes/blob/7766e65a1bc2f85da79c6a30936137dfbaf37fb7/pkg/controller/cronjob/cronjob_controller.go#L162-L168

[2020-06-11 01:54] Huang-Wei commented on #91982
/remove-sig scheduling
/sig node

[2020-06-11 02:30] BenTheElder commented on #88832
another reason these should be versioned in the main repo https://github.com/kubernetes/release/pull/1352

[2020-06-11 02:34] k82cn commented on #91983
IMO, staging is better; if we do not support that, we have to copy it under Apache License :(

[2020-06-11 02:44] guangbaowan commented on #91445
thx for all guys response.   i've check the docs and found things go well.  just dont have checked the iptables.   i will close this issue now . as i cant work on this .

[2020-06-11 02:44] #91445 closed

[2020-06-11 02:59] ylhyh commented on #27362
Same issue here with version v1.17.6:

Deployment with "Recreate" strategy:
[code]

If I try to delete a pod, the old pod is still Terminating, the new pod has already get initialized and Running:
[code]

[2020-06-11 03:00] ylhyh commented on #27362
/reopen

[2020-06-11 03:03] alejandrox1 commented on #91263
yeah...
as per the issue, the problem code is https://github.com/kubernetes/kubernetes/blob/3918393e04324f709832c52ef86cab3ea8e76cd1/test/e2e_node/util.go#L176

but no great insight as to why it is failing.
I was running the tests myself and it worked but now replicating manually seems to fail in the same manner...

[2020-06-11 03:48] tedyu commented on #90346
Pending granular errors to be added.

[2020-06-11 03:48] #90346 closed

[2020-06-11 03:49] #90383 closed

[2020-06-11 03:50] #89699 closed

[2020-06-11 03:52] #89613 closed

[2020-06-11 03:52] #89489 closed

[2020-06-11 03:52] alejandrox1 commented on #91263
Found some interesting looking logs in https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/1270863727700217856/artifacts/n1-standard-16-cos-81-12871-119-0-6ef435af-system.log
[code]

[2020-06-11 03:52] #89493 closed

[2020-06-11 03:54] #89329 closed

[2020-06-11 03:56] #89481 closed

[2020-06-11 03:57] #89439 closed

[2020-06-11 03:57] #86017 closed

[2020-06-11 03:57] #88083 closed

[2020-06-11 04:00] #76718 closed

[2020-06-11 04:51] dghubble commented on #91795
Ah, looks much better. @iwankgb thanks!

[code]

[code]

[2020-06-11 04:58] dhananjaya-senanayake commented on #88912
I also have this issue on k8s v1.16 (AKS).  Startup probe does not appear in the yaml.

[2020-06-11 05:26] Huang-Wei commented on #91983
@k82cn IIRC, it was intentional to move the cache/queue code to internal package, in some release lead by @misterikkit (he/him).

The intention was that cache/queue are quite internal mechanics of the upstream scheduler, so shouldn't support external consumption.

So personally, I quite doubt if it's desired to move the internal stuff back publicly.

cc/ @ahg-g @alculquicondor @damemi

[2020-06-11 05:33] Alien2150 commented on #91880
@shivrajjadhav733 referring to this: https://spring.io/blog/2020/03/25/liveness-and-readiness-probes-with-spring-boot “.. HTTP Probes are only configured for applications running on Kubernetes.”

[2020-06-11 05:42] #91436 closed

[2020-06-11 05:49] BenTheElder commented on #91770
mirrors are typically configured at the container runtime level, as far as I know all major options (containerd, cri-o, dockershim) support this.

[2020-06-11 06:04] BenTheElder commented on #57601
/reopen
/lifecycle frozen

[2020-06-11 06:05] BenTheElder commented on #90653
thank you!

[2020-06-11 06:09] morimoto-cybozu opened #92019 "kube-proxy leaves IPVS weight == 0 after restarting"
**What happened**:

I'm using kube-proxy in the IPVS mode.  When a back-end Pod for a Service becomes unready once and gets ready again while kube-proxy restarts, kube-proxy sets the IPVS weight for the Pod to 0 and does not resume it to 1.

A more precise sequence is as follows:
1. a back-end Pod becomes unready by some reason
2. kube-proxy sets the IPVS weight for the Pod to 0
3. kube-proxy is s

[2020-06-11 06:11] morimoto-cybozu commented on #92019
/sig network

[2020-06-11 06:32] heckad commented on #91960
How to check this?

[2020-06-11 06:50] hkamel commented on #91990
@dims I see the PR merged, however, the job still failing in the recent run 22:31 PDT

W0611 06:08:56.190] 2020/06/11 06:08:56 process.go:155: Step './cluster/log-dump/log-dump.sh /workspace/_artifacts' finished in 2m14.442417098s

`W0611 06:08:44.597] ERROR: (gcloud.compute.scp) [/usr/bin/scp] exited with return code [1].
W0611 06:08:46.070] scp: /var/log/fluentd.log*: No such file or directory
W

[2020-06-11 06:50] lypee opened #92020 "i can`t install dashboard"

[2020-06-11 06:51] k82cn commented on #91983
Honestly, I don-t care about the cache, but the algorithm in upstream dependent on it :(
It's better to decouple algorithm & framework, so the other developer or user can use them on demand.

[2020-06-11 06:53] lypee opened #92021 "i can`t install dashboard"
forgive my bad Engilish
i want to install dashboard ， and i follow the tutorial :https://github.com/kubernetes/dashboard/blob/master/docs/user/installation.md
I use command in that page : kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.0.1/aio/deploy/head.yaml
but terminal display these info : The connection to the server raw.githubusercontent.com was refused - did you s

[2020-06-11 07:01] cwdsuzhou opened #92022 "UpdateStatus func would also update label and annotations"
**What happened**:

When we use UpdateStatus to update pod, we found pod label also updated. Is that by design?

**What you expected to happen**:

only update pod status

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/core/pod/strategy.go#L163-168

we do not ignore label and a

[2020-06-11 07:02] cwdsuzhou commented on #92022
/sig api

[2020-06-11 07:02] cwdsuzhou commented on #92022
/sig api-server

[2020-06-11 07:03] cwdsuzhou commented on #92022
/sig api-machinery

[2020-06-11 07:03] mgxian commented on #89153
Can someone fix this?

[2020-06-11 07:06] cpanato commented on #91985
the last 3 runs everything was green

[2020-06-11 07:12] Huang-Wei commented on #91983
#91029 is created to track separating framework & runtime. But the overall decoupling needs further efforts such as #89930.

[2020-06-11 07:37] #88643 closed

[2020-06-11 07:37] fduyangchao opened #92023 "lots of "Failed" PV found after deleting namespace"
**What happened**:
lots of "Failed" PV found after deleting namespace

**What you expected to happen**:
there should not be so many "Failed" PV

**How to reproduce it (as minimally and precisely as possible)**:
1. kubectl delete namespace <nsName>,
2. restart kubelet during deleting namespace

**Anything else we need to know?**:
kubelet volume manager reconciles the asw/dsw and do unmountVolume()

[2020-06-11 07:38] fduyangchao commented on #92023
/sig kubelet

[2020-06-11 07:39] fduyangchao commented on #92023
/sig storage

[2020-06-11 07:53] #91888 closed

[2020-06-11 08:00] kargakis commented on #27362
@ylhyh see the comment right above you

"recreate deployments wait for the termination of an old version only during a deployment upgrade. The deployment api has been designed with availability in mind and cannot ensure consistency during node upgrades (use PDBs), unexpected node shutdowns, or any other reason that could cause a pod to be recreated (apart from deployment upgrades). If your applica

[2020-06-11 08:03] rvmzes commented on #91944
I'd like to work on this one.

[2020-06-11 08:10] wawa0210 commented on #91944
Very welcome, but yesterday @minzhang28 also mentioned that he is following up on this issue, you can communicate with him before starting

[2020-06-11 08:11] sayanchowdhury commented on #91985
The recent runs are green, so going ahead and closing the issue. Thanks @Huang-Wei

/close

[2020-06-11 08:11] #91985 closed

[2020-06-11 08:38] antoinetran commented on #89091
Should we consider this is not in the scope of CSI, but to be done at each CSI level?

[2020-06-11 09:07] k82cn commented on #91983
That's great if we can get it ready ASAP :) Before that, we have to do hard copy under Apache License.

[2020-06-11 09:15] RobertKielty commented on #91947
Job is still broken look like this may be a boskos issue? Posted a request for help in the prow channel and will follow up later today.

[2020-06-11 09:17] RobertKielty commented on #90736
Checking ...

[2020-06-11 09:32] SataQiu commented on #92019
/assign

[2020-06-11 10:01] jinseu commented on #91676
@kow3ns help ~~~~~~~

[2020-06-11 10:20] bprashanth opened #92030 "make quick-release fails with gcr.io mirror"
Similar to https://github.com/moby/buildkit/issues/1271. The problem might auto fix itself on docker upgrade. Filing this more for google search hits than anything else.

[code]

This is because of `buildx` not finding the image in the default mirror
[code]

The default mirror is configured through `/etc/docker/daemon.json`
[code]

Removing that last line followed by `service docker restart` will

[2020-06-11 10:44] tarokkk commented on #77142
Is there anything we can help about this issue?

[2020-06-11 10:46] ShuLian1984 commented on #76956
I have the same error.
waiting for solution

system info：
`CentOS Linux release 7.8.2003 (Core)
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT

[2020-06-11 10:54] HemanthMudalaiah commented on #41568
/reopen

[2020-06-11 11:19] morimoto-cybozu commented on #92019
I'm trying to fix this issue with [this commit](https://github.com/morimoto-cybozu/kubernetes/commit/e490d5c8cfa8c62d59627faf4cf760001cb15f0e), which removes the graceful termination manager.  Is this too drastic?

[2020-06-11 12:20] hzxuzhonghu commented on #76338
@caesarxuchao Has filed a patch in golang http2 lib ti enable http2 keep alive, I think with next go  release, this issue can be fixed.

[2020-06-11 12:21] k82cn commented on #91983
@hzxuzhonghu , I think we need to follow Apache License to highlight this hard copy.

[2020-06-11 12:24] hzxuzhonghu commented on #91983
Yeah, i did that. https://github.com/volcano-sh/volcano/blob/master/pkg/scheduler/cache/snapshot.go#L17-L18

[2020-06-11 12:30] #90466 closed

[2020-06-11 12:43] cofyc commented on #69507
If we expose storage metrics for volumes which consume local disk storage only, the cardinality can be zero if no pods using the following volumes:

https://github.com/jingxu97/kubernetes/blob/b618411f1edb98afe807866fb3a607356d72ba24/pkg/kubelet/server/stats/volume_stat_calculator.go#L170-L176

The secret volume is not treated as ephemeral storage (both in summary API and evict manager) as it's ba

[2020-06-11 12:53] hkamel commented on #91878
Thanks @Huang-Wei the job is successful since 06-08 04:59 PDT

[2020-06-11 12:59] ghudiczius opened #92033 "Log errors when ip_vs_* kernel modules are not loaded"
**What happened**:

While trying to set up a Kubernetes master with IPVS, kube-proxy fails to add IPVS services.

[code]

**What you expected to happen**:

Expected no such errors or a more detailed message letting me know what file is it trying to access/execute.

**How to reproduce it (as minimally and precisely as possible)**:

Created a single-node cluster using kubeadm on bare-metal gentoo ho

[2020-06-11 13:00] ghudiczius commented on #92033
/sig network

[2020-06-11 13:05] hasheddan commented on #91739
@Huang-Wei this looks like the same test failure we were seeing with https://github.com/kubernetes/kubernetes/issues/91911, any thoughts?

[2020-06-11 13:34] stevengibbszions commented on #88912
I was able to get Startup Probes working on Rancher K8s v1.17.2 by adding the feature gate args to BOTH the kubelet AND the kube-api.

[2020-06-11 13:39] danwinship commented on #88986
Great catch.

I've filed #92035, which changes `KUBE-POSTROUTING` to remove the mark before masquerading the packet, which I think should also fix this. Are you able to test that PR out?

[2020-06-11 13:44] #87136 closed

[2020-06-11 13:44] #87146 closed

[2020-06-11 14:04] shanmukha511 opened #92036 "EFK Not working as expected"
**What happened**:
We have deployed efk from marketplace and finding some  issues.

1. After some days of deploying on GCP UI it shows **"Some components Pending"**
Don't know the reason why it show pending after some days of deploying.

2. Initially we can see fluentd pods logs getting generated  but after some time we see fluentd logs itself not rotating it will get stopped.

3. Have deployed in

[2020-06-11 14:05] shanmukha511 commented on #92036
/sig efk

[2020-06-11 14:08] alculquicondor commented on #87850
/remove-lifecycle stale

[2020-06-11 14:08] liggitt commented on #92022
The original approach to subresources was only concerned with preventing changes to spec and status via the respective endpoints. Changes to metadata were allowed via either endpoint. That is the case for most of the types defined early on in Kubernetes.

Changes to metadata via status subresources were restricted in some later types, notably custom resource types.

[2020-06-11 14:08] #92022 closed

[2020-06-11 14:09] neolit123 commented on #91992
possibly.

closing util we establish this as a core k8s / kubeadm bug.
but feel free to update if you resolve it.

in general the better places for help / support are defined here:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

or #kubeadm on k8s slack.

/close

[2020-06-11 14:09] #91992 closed

[2020-06-11 14:11] shanmukha511 commented on #92036
/apps

[2020-06-11 14:12] neolit123 commented on #91740
i think it used to be like that but i may have broken it with a recent cleanup.

skipping tests in cmd/kubeadm/test if KUBEADM_PATH is not defined messy, but arguably better than moving cmd/kubeadm/test to another location.

[2020-06-11 14:12] shanmukha511 commented on #92036
/sig apps

[2020-06-11 14:24] RobertKielty commented on #91947
Carried out further investigation and with help and signposting from @dims ( TYSM @dims :) ) have made the following observations ...

The containerd version of the job that runs e2e tests in ubuntu works.
The docker version of the job ( the one we are looking at here ) does not work.

Each requests differing project resources from boskos ...

The docker version of the job gets the boskos resource

[2020-06-11 14:32] alculquicondor commented on #91983
To clarify on the reasoning of the snapshot being internal:

We envisioned the scheduler framework to be used by simulators (such as cluster autoscaler) to predict how pods would get scheduled if conditions are changed. Those are only required to implement the `SharedLister` interface. I actually proposed at some point to leave some shared implementation, but the risk was increasing the maintenanc

[2020-06-11 14:36] ahg-g commented on #91904
Hi, any progress on this one @yuzhiquan , I know that you just picked it up, but we need to get this done before the code freeze next week.

[2020-06-11 14:36] shivrajjadhav733 commented on #91880
@Alien2150 That's good to know. I went thru that URL, however these are some questions comes to my mind.

How to add below restriction?
1. Liveness probe should not include backend setup checks like DB. Only want to restart when app is unhealthy.
2. Readiness probe should include backend setup like DB.

The same question I have raised here: https://github.com/kubernetes/kubernetes/issues/91916

[2020-06-11 14:43] yyx commented on #81775
Hello everyone：
      We are very fortunate to tell you that this bug has been fixed by us and has been verified to work very well.  The patch（[ipvs: avoid drop first packet to reuse conntrack](https://lkml.org/lkml/2020/6/11/272)） is being submitted to the Linux kernel community. You can also apply this patch to your own kernel, and then only need to set net.ipv4.vs.conn_reuse_mode=1.
That Can so

[2020-06-11 14:44] yyx commented on #70747
Hello everyone：
      We are very fortunate to tell you that this bug has been fixed by us and has been verified to work very well.  The patch（[ipvs: avoid drop first packet to reuse conntrack](https://lkml.org/lkml/2020/6/11/272)） is being submitted to the Linux kernel community. You can also apply this patch to your own kernel, and then only need to set net.ipv4.vs.conn_reuse_mode=1.
That Can so

[2020-06-11 14:45] yyx commented on #90854
Hello everyone：
      We are very fortunate to tell you that this bug has been fixed by us and has been verified to work very well.  The patch（[ipvs: avoid drop first packet to reuse conntrack](https://lkml.org/lkml/2020/6/11/272)） is being submitted to the Linux kernel community. You can also apply this patch to your own kernel, and then only need to set net.ipv4.vs.conn_reuse_mode=1.
That Can so

[2020-06-11 14:45] ahg-g opened #92037 "Set schedulers default plugins via component config defaulting"
Currently the scheduler's default plugins are set in pkg/scheduler/factory.go through ```Configurator```.

Since the set of plugins that we configure the scheduler with comes from component config, it is more proper to set the default list of plugins through [component config defaulting](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/v1beta1/defaults.go) mechanism.

[2020-06-11 14:46] ahg-g commented on #92037
/milestone 1.20

[2020-06-11 14:46] ahg-g commented on #92037
/milestone v1.20

[2020-06-11 14:47] ahg-g commented on #92037
@adtac I can't assign to you since you are not a member yet, but we will consider this on your plate for 1.20.

[2020-06-11 14:48] adtac commented on #92037
/assign

[2020-06-11 14:50] wonderflow commented on #82407
Some issue here, I did't see any non-structural condition.

[code]

But get nothing:

[code]

[2020-06-11 14:50] Alien2150 commented on #91880
As far as I understand your scenario needs to be implemented manually. They have an API that is invoked in the readiness/liveness chain where you would implement it. My suggestion:

Disable db by default (config is something managment.health.db: false) and then implement your DB check as mentioned above

[2020-06-11 14:58] yuzhiquan commented on #91904
Working on this, and would finish it on friday.

[2020-06-11 15:00] hkamel commented on #91878
/close

[2020-06-11 15:00] #91878 closed

[2020-06-11 15:07] rudolfdobias commented on #89898
Having the same problem here.
[code]

Error cca 3 - 10 times a day:

The service operates normally and responds to /status in 5ms, though.

⚠️  Also, and that is a bigger problem, at similar random times some pods refuse to connect to each other.

Running on Azure Kubernetes Service
V 1.14.8

[2020-06-11 15:19] alculquicondor commented on #91601
Still nothing... Anything else you are using that you think could be impacting? taints, ports, other resources?

[2020-06-11 15:22] presidenten commented on #90293
Same issue on v1.17.4

[2020-06-11 15:25] jvanwygerden commented on #62283
In order to verify K8s resources are using the apps/v1 API version, can anybody confirm the following commands are valid for testing that ?

It is currently the best test I can think of, to verify

____________________

1) K8s Deployments (Command - verify K8s Deployment resource is using apps/v1)

kubectl -n <desired-namespace> get deployments.apps <K8s-deployment> -oyaml | grep apiVersion

# Exa

[2020-06-11 15:26] jvanwygerden commented on #62283
In order to verify K8s resources are using the apps/v1 API version, can anybody confirm the following commands are valid for testing that ?

It is currently the best test I can think of, to verify

1) K8s Deployments (Command - verify K8s Deployment resource is using apps/v1)
kubectl -n get deployments.apps -oyaml | grep apiVersion

Example Output:
apiVersion: apps/v1
              apiVersion: v1

[2020-06-11 15:28] jvanwygerden commented on #62283
In order to verify K8s resources are using the apps/v1 API version, can anybody confirm the following commands are valid for testing that ?

It is currently the best test I can think of, to verify

1) K8s Deployments (Command - verify K8s Deployment resource is using apps/v1)
kubectl -n get deployments.apps -oyaml | grep apiVersion

Example Output:
apiVersion: apps/v1
apiVersion: v1

2) K8s Deploy

[2020-06-11 15:41] aojea opened #92041 "[Flaky test] gci-gce-basic-sctp should create a Pod with SCTP HostPort"
**Which jobs are failing**:

https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-basic-sctp

**Which test(s) are failing**:

sig-network] SCTP [Feature:SCTP] [LinuxOnly] should create a Pod with SCTP HostPort

**Since when has it been failing**:

Test [sig-network] SCTP [Feature:SCTP] [LinuxOnly] should create a Pod with SCTP HostPort has failed 3 times since it last passed at commit/d49d045a

[2020-06-11 15:42] aojea commented on #92041
/assign @janosi
/cc @danwinship

[2020-06-11 15:47] wyardley commented on #62283
For us, using the `last-applied-configuration` field worked pretty reliably. I would suggest using `jq` or `yq` over grep.

[2020-06-11 16:39] gnufied opened #92044 "pvc.Spec.Resources is marked as optional in api-docs but is required via validation"
The doc comments for the field read:

[code]

But looking at validation code, I do not think it is possible to create a PVC without `Resources` field:

[code]

looks like an oversight (unless I missed something).

/sig storage

[2020-06-11 16:49] danwinship commented on #92041
yes, that would break us... the test checks "are we using kubenet", but it didn't occur to me that we would need to deal with kubenet with CRI instead of kubenet with dockershim. It should be easy to make it check for both the dockershim rule and the CNI portmap rule though...

[2020-06-11 16:49] ibuildthecloud commented on #90066
I'm concerned the trade off of document size invalidates the usefulness of this design. Addressing the UX side is tricky, but just the fact that so many objects get much larger really concerns.  I know "kubectl apply" has always bloated things, but only impacted objects directly interacted with with "kubectl apply" which in many cases ends up be small. Now core builtin controllers are adding these

[2020-06-11 16:55] MorrisLaw commented on #81804
/remove-lifecycle stale

[2020-06-11 16:56] MorrisLaw commented on #81804
Hey @alejandrox1 👋

Maybe we can close this now since [PR #85564](https://github.com/kubernetes/kubernetes/pull/85564) has been merged?

[2020-06-11 16:58] Huang-Wei commented on #91739
@hasheddan Could you let me know which k/k commit https://testgrid.k8s.io/sig-release-master-informing#Conformance%20-%20OpenStack is using? I cannot find the commit # on the page so cannot confirm if my fix gets picked up or not.

[2020-06-11 16:59] ibuildthecloud commented on #90066
Sorry for the follow up. I think the designers of this feature should really consider the user feedback of this implementation. I know as a feature is designed there is a lot of discussion during the initial design and alpha phase, but features don't really get seen by users until they hit beta.  So discussions that may have already happened during the alpha phase or earlier must be revisited when

[2020-06-11 17:00] Huang-Wei commented on #91739
Ah, it seems the test suite has only one available node?

[code]

In #91955, we have to change `e2e.skipf` to `e2e.fatalf`.

[2020-06-11 17:16] msau42 opened #92045 "pull-kubernetes-e2e-gce-storage-slow job timing out"
**Which jobs are failing**:
 pull-kubernetes-e2e-gce-storage-slow

**Which test(s) are failing**:
job timesout

**Since when has it been failing**:
6/9/20

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-storage-slow

**Reason for failure**:
It appears that build + cluster creation is taking around 30 minutes, and the job times out after running

[2020-06-11 17:17] msau42 commented on #92045
@kubernetes/sig-storage-test-failures

[2020-06-11 17:22] msau42 commented on #92045
In a run that doesn't timeout, the 267 test cases took 13 minutes to run.
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/91687/pull-kubernetes-e2e-gce-storage-slow/1269946677666516993/build-log.txt

I0608 11:30:05.866] [1m[32mRan 267 of 5102 Specs in 776.539 seconds[0m

[2020-06-11 17:23] janosi commented on #92041
yes, according to the "Changes" link on the dashboard, containerd replaced docker in GCE right before the failures.

[2020-06-11 17:24] msau42 commented on #92045
But in a run that did timeout, the same 267 test cases took more than double the time.
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-gce-storage-slow/1271103557549953026

[code]

[2020-06-11 17:25] janosi commented on #92041
Let's see if I can make it :)

[2020-06-11 17:37] dashpole commented on #58638
Namespace name has already been added: https://github.com/kubernetes/kubernetes/pull/74441.

The only thing potentially missing is namespace UID.  Is that still required?

[2020-06-11 17:44] karolinepauls commented on #74374
[code]
This in a CronJob.

I'm finding that currently, as a Kubernetes admin, correcting this problem is easier than mitigating it.

[2020-06-11 17:45] ahg-g commented on #91994
I think the feature name and the plugin named the same will cause more confustion, what about we name the plugin ```SelectorSpread```, the old priority name. We don't need to mention default at all.

[2020-06-11 17:51] msau42 commented on #74374
Sorry I missed the questions earlier.

If a PVC has a deletion timestamp, then a new Pod cannot start using it. Does that address your concern?

The challenge is a PVC can be shared by multiple Pods on multiple nodes.

[2020-06-11 17:51] alculquicondor commented on #91994
I don't see a problem with "Default", but Selector is fine too. Although the selector aspect of it is more of an implementation detail. Another alternative would be "WorkloadSpread"

[2020-06-11 17:55] portante commented on #58638
Having the namespace "name" and "UID" at the time the logs directory helps avoid unnecessary API calls to avoid ambiguity when archiving logs long term.

Logging subsystems which need to store logs for a "long" time will often be required to make sure that logs from one namespace don't leak into another namespace.  This includes making sure that two separate namespaces which share the same name bu

[2020-06-11 17:58] danwinship commented on #92041
So actually the test is pretty generic (it just looks for `-p sctp` and `--dport 5060`) and it seems like it ought to pass correctly with CNI portmap too. I'm not sure what's failing. You may need to add some debugging...

[2020-06-11 18:16] jmatt-cavli commented on #33777
I had the same issue, but spending some time debugging, I found the issue. It is not a bug in my case. Try checking kubectl describe nodes {node name}, and sum the total cpu requests by other pods.

In my case, there were insufficient cpu resources left. Even though the overall cpu is not much utilised and free resources are available, the cpu requests from each pods are reserved and allocated ded

[2020-06-11 18:29] lavalamp commented on #90066
We have a design which makes the field significantly smaller, at the cost of making it not human readable (illegible without processing). We thought we were going to need it to meet performance goals, but it turned out not necessary. We've also considered having the server omit it in responses (e.g., depending on a query parameter). @ibuildthecloud if you are seeing some performance problem and ca

[2020-06-11 18:31] mazzystr commented on #91656
I'm also having issues with dns.

My env is ....
OS: Fedora 32
Minikube version: v1.11.0
Start command: minikube start --driver=podman --container-runtime=cri-o --disk-size=50g --memory=8096m

Here are some logs....
[code]

[2020-06-11 18:33] damemi commented on #91782
Thank you for this thorough breakdown @ingvagabund! You have explained the questions we're facing perfectly. I am a bit confused by the chart in https://github.com/kubernetes/kubernetes/issues/91782#issuecomment-639084276, is it breaking down "Used (ie, imported from pkg/apis/)" vs "Defined (ie, duplicated into its own definition)"? I ask because some examples, like `NodeSelectorRequirementsAsSele

[2020-06-11 18:37] bryanlarsen commented on #67761
@liggit are you a collaborator?  Can you reopen please?

[2020-06-11 18:38] #91947 closed

[2020-06-11 18:45] ibuildthecloud commented on #90066
@lavalamp Sorry if I seemed to indicated you aren't listening to users. You all are doing a great job. I think I reacted too strongly to a specific comment in this thread.  My fault, sorry for that.

Can you point me to any more context on this. What the new design was how it proved to not be necessary.

My specific concern atm is that I have a couple tools that watch basically the entire cluster.

[2020-06-11 18:46] damemi commented on #91983
Yeah, #89930 is intended to make the framework more portable by breaking internal k/k dependencies and is basically the first step we need to take to do that.

[2020-06-11 18:48] BenTheElder commented on #89859
this is fixed in cAdvisor now (thanks @iwankgb @katarzyna-z !!), but we're still blocked getting the fix into kubernetes.

@dghubble I don't expect kubernetes to release with this unpatched and it is flagged with SIG release, but we are a bit blocked getting it in in the short term ... https://github.com/kubernetes-sigs/kind/issues/1569#issuecomment-642865035

[2020-06-11 18:54] lavalamp commented on #90066
No worries, sounds like I misread, sorry :)

See:
* https://github.com/kubernetes-sigs/structured-merge-diff/issues/99
* https://github.com/kubernetes-sigs/structured-merge-diff/pull/122

Those aged out because we passed scalability tests after [this sequence of PRs](https://github.com/kubernetes-sigs/structured-merge-diff/pull/136).

@apelisse might know if we wrote this up or not.

Yeah that one

[2020-06-11 19:03] cmluciano commented on #86024
@mayankshah1607 Are you still working on this?

[2020-06-11 19:04] cmluciano commented on #86024
/assign

[2020-06-11 19:08] zhan849 opened #92050 "Kube-scheduler: invalid memory address in podFitsOnNode() caused crash"
**What happened**:
kube scheduler has NPE in `podFitsOnNode`

[code]
seems nodeInfo is nil here

**What you expected to happen**:
return proper error when nodeInfo is nil

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.16.8
- Cloud provider or hardware configuration:
- OS (e.g:

[2020-06-11 19:30] BenTheElder commented on #91266
I'm also very interested in the --unsafe-no-fsync functionality for some of our CI, but I believe that landed after the most recent release tag.

[2020-06-11 20:12] janosi commented on #92041
OK, so as I can see, containerd's CRI implementation just ignores all HostPort definitions that do not have TCP or UDP Protocol value.

https://github.com/containerd/containerd/blob/834665d9db028c8733479b5063e4fd477e549364/vendor/github.com/containerd/cri/pkg/server/sandbox_run.go#L417

I.e. containerd will not send HostPort mapping definitions to the CNI if the protocol is not TCP or UDP.

[2020-06-11 20:13] fedebongio commented on #91770
/remove-sig api-machinery
/sig node
/cc @kubernetes/api-reviewers

[2020-06-11 20:14] lavalamp commented on #91800
Closing this -- we can reopen if there's more info.

[2020-06-11 20:15] fedebongio commented on #91848
/cc @deads2k
(we thought you would find this approach interesting and may have an opinion)

[2020-06-11 20:16] fedebongio commented on #91923
/remove-sig api-machinery
/sig node

[2020-06-11 20:17] fedebongio commented on #91960
/remove-sig api-machinery
/sig node instrumentation

[2020-06-11 20:18] fedebongio commented on #91963
/cc @caesarxuchao

[2020-06-11 20:19] ingvagabund commented on #91782
You are right. Entry updated. The table is primarily for pointing out there are serious repositories duplicating the helpers instead of importing them from the main k/k repo.

[2020-06-11 20:19] aojea commented on #92041
seems that is enough reverting this

https://github.com/containerd/cri/pull/911

[2020-06-11 20:23] janosi commented on #92041
Yes, exactly. Introduced right after SCTP support was merged in k8s.

[2020-06-11 20:27] PeiyuanQi commented on #55045
In addition, if PVC is not deleted, when a pod is deleted and restarting, and it restarted on another node, we will get the following error:
[code]

[2020-06-11 20:33] ialidzhikov commented on #92020
Duplicate of #92021

[2020-06-11 20:33] ialidzhikov commented on #92020
/close

[2020-06-11 20:38] ialidzhikov commented on #91951
The `--leader-elect-resource-lock` docs are fixed in the master branch with https://github.com/kubernetes/kubernetes/pull/90173.

[2020-06-11 20:39] aojea commented on #92041
just curious, why do we skip in containerd and allow it with dockershim?

[2020-06-11 20:39] ialidzhikov commented on #91951
/sig api-machinery

[2020-06-11 20:45] msau42 commented on #92045
Looking at the test duration graphs:
https://testgrid.k8s.io/presubmits-kubernetes-nonblocking#pull-kubernetes-e2e-gce-storage-slow&graph-metrics=test-duration-minutes

`Test` duration has increased from 20 mins to 50-60 mins, but I could not spot any obvious increases in individual test case durations, and there are no new test cases added.

[2020-06-11 20:50] #87145 closed

[2020-06-11 21:02] msau42 commented on #92045
This seems to be a problem in CI job too, not just pull, with a clear start around 6/9 afternoon.
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-slow&graph-metrics=test-duration-minutes

[2020-06-11 21:07] bridgetkromhout commented on #92033
/assign @caseydavenport

[2020-06-11 21:08] bridgetkromhout commented on #92019
/remove-triage unresolved

[2020-06-11 21:10] bridgetkromhout commented on #91954
/assign @robscott

[2020-06-11 21:10] bridgetkromhout commented on #91940
/assign @danwinship

[2020-06-11 21:12] bridgetkromhout commented on #91880
/assign @bridgetkromhout

[2020-06-11 21:13] bridgetkromhout commented on #91812
/assign @caseydavenport

[2020-06-11 21:14] bridgetkromhout commented on #91774
/assign @aojea

[2020-06-11 21:16] alculquicondor commented on #84922
/help

[2020-06-11 21:24] bridgetkromhout commented on #91880
Hi, @shivrajjadhav733. The currently-maintained Kubernetes versions (https://kubernetes.io/docs/setup/release/version-skew-policy/) are 1.18, 1.17 and 1.16. I see that you're using Kubernetes 1.13, and if this is caused by a bug, please be aware that the Kubernetes project will not be doing any bugfixes for 1.13. Is it possible for you to reproduce this with a currently-supported version? Thanks!

[2020-06-11 21:24] robscott commented on #91374
Thanks for the great responses here! It looks like this could probably use some updates in the documentation. It looks like the current solution was only introduced in 1.18 and was opt-in. Here's the original PR for context: https://github.com/kubernetes/kubernetes/pull/88786. It looks like there's also a cherry-pick PR open that would bring this back for the next 1.17 patch, but not sure if that

[2020-06-11 21:25] pires commented on #91951
Thank you, @ialidzhikov.

Do you happen to know if there's a plan to default to `leases`?

[2020-06-11 21:36] whut commented on #84201
/remove-lifecycle stale

[2020-06-11 21:37] msau42 commented on #92045
Looking at the CI runs, the run that passed used commit 717b9b769ed7afa1f97f10f1d221e81e53571d84. The following run failed and used commit 6ac3ca4b1793d0eaaaa7d605e5b9b8057000e1ce

Looking between those commits, https://github.com/kubernetes/kubernetes/pull/91684 looks most suspicious.

[2020-06-11 21:42] janosi commented on #92041
Hmm, do you mean why do not we skip in case of containerd? The reason is that I did not remember that containerd PR about the SCTP support.
Let's see if I can skip it.

[2020-06-11 21:54] janosi commented on #92041
Hm, that is not true. My search engine was wrong. After a restart I found usage of that in e2e_node

[2020-06-11 22:02] zhan849 commented on #92050
/cc @Huang-Wei
/sig scheduling

[2020-06-11 22:23] BenTheElder commented on #91881
blocked on https://github.com/kubernetes/kubernetes/issues/91266

[2020-06-11 22:28] pururaj1908 commented on #90277
Hi @Capstan I can do this as my first contribution? I could even help changing the terms in codebase if you want.

[2020-06-11 22:52] #81523 closed

[2020-06-11 23:16] Huang-Wei commented on #92050
@zhan849 which k8s version are you running on?

[2020-06-11 23:46] zhan849 commented on #92050
Hi @Huang-Wei , it's 1.16.8

[2020-06-12 00:24] ZhiFeng1993 commented on #91070
/assign

[2020-06-12 00:30] msau42 opened #92057 "HostPathType Socket e2e tests hang on containerd"
**What happened**:
Once we switched over the default runtime to containerd, the slow ci and pull jobs started timing out. The tests, which used to take 13 minutes, jumped to 30 minutes. https://github.com/kubernetes/kubernetes/issues/92045

This increase in test time is only observed in the slow job, so I suspect the slow job is exercising some functionality that may not be exercised as frequently

[2020-06-12 00:31] msau42 commented on #92057
@kubernetes/sig-node-bugs @kubernetes/sig-storage-bugs

[2020-06-12 00:34] BenTheElder commented on #92057
do we know what tests were regressing?

[2020-06-12 00:35] msau42 commented on #92057
I did some analysis in https://github.com/kubernetes/kubernetes/issues/92045, but basically, no single test stood out in terms of increasing the time took. I suspect that all the test cases started taking a few seconds longer, and the sum of all of contributed to the increase in job time.

[2020-06-12 00:36] msau42 commented on #92057
I was mainly eyeballing the graphs, but we probably should get the raw data and do some more detailed analysis on it

[2020-06-12 00:39] BenTheElder commented on #92045
full diff https://github.com/kubernetes/kubernetes/compare/717b9b769ed7afa1f97f10f1d221e81e53571d84..6ac3ca4b1793d0eaaaa7d605e5b9b8057000e1ce

[2020-06-12 00:40] msau42 commented on #92057
@kubernetes/sig-scalability-bugs do we have scale runs with the [slow] tests?

[2020-06-12 00:41] msau42 commented on #92057
As an experiment, I changed the runtime back to docker in https://github.com/kubernetes/kubernetes/pull/92056, and the slow job tests went back down to 13 minutes.

[2020-06-12 00:43] BenTheElder commented on #92020
/close

[2020-06-12 00:44] #92020 closed

[2020-06-12 00:45] BenTheElder commented on #92021
please file an issue at https://github.com/kubernetes/dashboard/issues
the dashboard maintainers are much more likely to see bugs in their own repo, and this isn't a kubernetes bug

FWIW though: this sounds like an issue with your local environment being able to reach github, the connection to githubusercontent comes from your local machine, not kubernetes.

/close

[2020-06-12 00:45] #92021 closed

[2020-06-12 00:49] msau42 commented on #92045
I confirmed in https://github.com/kubernetes/kubernetes/pull/92056 that it's the change to containerd that caused it

[2020-06-12 00:59] hzxuzhonghu commented on #91800
@lavalamp Let me clarify my use case: I need to startup a controller when acquires leadership, and stop the controller when it loses it.

The `controller `, you can just think it similar as k8s cm. So there is no way to notify the sync handler to quit, except sending a very tricky and special  message

[2020-06-12 01:00] hzxuzhonghu commented on #91800
/reopen

[2020-06-12 01:01] liggitt commented on #91800
It still sounds like the appropriate action would be to stop to workqueue

[2020-06-12 01:11] hzxuzhonghu commented on #91800
Iiuc, if the queue closed, when we want to use it again, need to recreate a new one

[2020-06-12 01:17] rnsv commented on #77666
This is a valid ask.  Allowing kubectl global options to be passed down to plugin will help reuse those options.

[2020-06-12 01:19] liggitt commented on #91800
That's correct. Since a stopped queue with no controller loop actively draining it is effectively a memory leak, that is recommended.

[2020-06-12 01:19] BenTheElder opened #92059 "agnhost e2e image inconsistent versions"
I went to update the image usage after https://github.com/kubernetes/kubernetes/pull/87105 and discovered:
- `test/images/agnhost/VERSION` is `2.18`
- `test/images/agnhost/agnhost.go`'s root command has version `2.17`
- `test/utils/image/manifest.go` has agnhost versions `2.13` and `2.6`

/sig testing
/sig release
/kind bug
/assign

[2020-06-12 02:14] k82cn commented on #91983
But we can not import algorithm directly; that's wired that we dependent on algorithms in upstream and that algortihm dependent on my implementations :(.

[2020-06-12 02:26] msau42 commented on #91001
Looking at [MountVolume](https://github.com/kubernetes/kubernetes/blob/930b3a4df03646ade133a309f67b122a0c573eb8/pkg/volume/util/operationexecutor/operation_generator.go#L615), we try to resize after calling MountDevice, and marking the device as mounted.

The problem appears to be that by the time we call unpublish, the volume has already been deleted, and the [mock driver returns not found](https

[2020-06-12 02:52] povsister commented on #87615
Using kubernetes 1.17.6 and same here. It looks like kubelet is using a dead http2 connection.
I do noticed that the inconsistent default value of `MAX_CONCURRENT_STREAMS` between kube-apiserver and kubelet.

Just set the server-side value to 1000. Will report later.

[2020-06-12 03:11] liggitt commented on #90904
/priority important-soon

lowering priority since the create/update/patch paths are covered by a stop-gap

[2020-06-12 03:27] BenTheElder commented on #90810
Tests with that sort of interactoin that may need to be tagged [Serial] and booted out of presubmit.

[2020-06-12 03:40] Huang-Wei commented on #91994
`SelectorSpread` looks good to me, which is similar to the old priority name SelectorPriority.

[2020-06-12 03:48] kong62 commented on #91900
because of  lost diff label in deploy

  selector:
    matchLabels:
      name: php-apache
      app: hpa-test
      version: v1
  template:
    metadata:
      labels:
        name: php-apache
        app: hpa-test
        version: v1

[2020-06-12 03:48] #91900 closed

[2020-06-12 03:49] oldthreefeng commented on #90293
Same issue on v1.18.0   ~

[2020-06-12 04:23] caesarxuchao commented on #91963
This seems to be a dupe of #87615

https://go-review.googlesource.com/c/net/+/198040 has been merged in Golang. That should fix the issue once Kuberentes can use the feature.

[2020-06-12 04:58] #78756 closed

[2020-06-12 05:02] 13567436138 opened #92062 "kubectl attach doesnot have command line，even press enter"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is

[2020-06-12 05:07] Huang-Wei commented on #92050
@alculquicondor I recalled there is a similar NPE issue you fixed recently? Could you link that here, and then let's check if it's backported to 1.16.8.

[2020-06-12 05:38] Capstan commented on #90277
@pururaj1908 As I'm not a committer or maintainer of k8s, I'd suggest seeing what the outcome of the 6/18 sig-architecture meeting is. My suspicion is that there will be guidance on how to proceed, e.g., what design docs might be necessary for code that would need migration due to release skew between client and server. In the meanwhile, if you've not already, I'd read through https://kubernetes.i

[2020-06-12 06:06] pururaj1908 commented on #90277
@Capstan  Thank you so much for the information. I have read some of the sections provided in the contribution guidelines. I will the look more in style guide section.

[2020-06-12 06:18] weiqiang333 commented on #74491
Restart can be solved temporarily, but it will still appear after a long time, there is no fundamental solution.

[2020-06-12 06:23] uablrek commented on #91812
Seems very similar to; #89392

[2020-06-12 06:48] SataQiu commented on #92062
Looks like it's working?
[code]

[2020-06-12 06:54] MortezaHosseini commented on #46861
I had the same problem.
Reason:
    In my old deployment, I defined some Environment vars literally. But in the new deployment, I was defining them in the secret.

Solution:
I edited current deployment using `kubectl edit <DEPLOYMENT>` and removed the literally defined vars. Then ran `kubectl apply -f <NEW DEPLOYMENT YML FILE>`

Have fun.

[2020-06-12 06:58] arvin6msd commented on #70179
same here as well. Shows 2.5 GiB in kubectl top while docker stats shows only 966Mib

[2020-06-12 07:02] bavarianbidi commented on #68211
Can reproduce the issue with the example from [above](https://github.com/kubernetes/kubernetes/issues/68211#issuecomment-467032048) in three different environments.

* k8s `1.18.3` with `containerd://1.3.4`
* k8s `1.17.6` with `containerd://1.3.4`
* k8s `1.16.6` with `docker://19.3.3`

Steps to reproduce:
1. apply example from [above](https://github.com/kubernetes/kubernetes/issues/68211#issuecomm

[2020-06-12 07:20] angeloudy commented on #24913
It doesn't make sense to me that `kubectl edit` works while `kubectl apply` does not.
With `kubectl apply`, I can easiy update resource settings of hundreds of pods.
I can't go to every single pod and do `kubectl edit`.

[2020-06-12 07:28] smallertomato commented on #30518
+1

[2020-06-12 07:40] br0ziliy commented on #91812
After digging more into two clusters setups we found the issue:

- on v1.18.3 (problematic) cluster we have haproxy-ingress Helm chart version 0.0.26
- on v1.14.3 (working) cluster we have haproxy-ingress Helm chart version 0.0.15

Somewhere between versions 0.0.15 and 0.0.26 haproxy-ingress chart maintainers updated the default value for `spec.service.externalTrafficPolicy` from `Cluster` to `Loc

[2020-06-12 07:52] ymmt2005 commented on #91812
@br0ziliy
Do you give `--ipvs-strict-arp` to kube-proxy?
This option is required for MetalLB.
https://metallb.universe.tf/installation/#preparation

[2020-06-12 08:03] timothyclarke commented on #55045
@pshemk I think your example where the replica count is increasing or decreasing is off topic. The original poster is talking about when a statefulset is removed from the cluster.

I think the state that you describe (scaling up and down), it's generally desirable to keep & re-use the storage eg a DB cluster where additional nodes are read only replica's which would catch up and then start serving

[2020-06-12 08:53] br0ziliy commented on #91812
@ymmt2005 Yes, we do have StrictARP configured for kube-proxy.

[2020-06-12 08:54] MarkPare commented on #69696
Having same issue. I have a cluster used only for ci/cd that runs Jenkins with k8s plugin. When jobs are run, they typically require another node be spun up to run jenkins slave pod. This works fine, but the cluster never scales down when jobs finish. The node lingers with a few system pods running on it and I have to manually delete it.  I can't help but think this is low-priority for google beca

[2020-06-12 09:04] luisdavim commented on #90066
I'm not so much concerned about the output of kubectl, i can use a plugin to filter that out but i am concerned about the increase in the amount of data in etcd.

[2020-06-12 09:24] #91990 closed

[2020-06-12 09:43] vespian commented on #7452
Is there any status update on this issue?

[2020-06-12 09:44] yanchenko-igor commented on #91141
https://github.com/kubernetes/kubernetes/pull/91907 this pr might solve this issue.

[2020-06-12 09:48] yanchenko-igor commented on #72226
https://github.com/kubernetes/kubernetes/pull/91907 this PR solves this issue.

[2020-06-12 10:14] ohadschn commented on #46861
For me the reason was the same env var declared twice

[2020-06-12 10:58] mukgupta commented on #29276
I have the exact same requirement but with for datadog. Did you manage to solve it?

[2020-06-12 11:11] hkamel commented on #91860
/sig remove scheduling

I observing failure since yesterday as the cluster failed to get created using the CloudFormation template

`Attempting to create CloudFormation stack cluster-api-provider-aws-sigs-k8s-io
Error: failed to create AWS CloudFormation stack: ResourceNotReady: failed waiting for successful resource stateError: failed to create AWS CloudFormation stack: ResourceNotReady: failed w

[2020-06-12 11:13] kubealex opened #92066 "kubelet default cgroup driver is not cgroupfs on CentOS7"
From the documentation:

`Please mind, that you only have to do that if the cgroup driver of your CRI is not cgroupfs, because that is the default value in the kubelet already.`

From /etc/sysconfig/kubelet:

[...]KUBELET_EXTRA_ARGS=--cgroup-driver=systemd[...]

It sounds like the usage of the sysconfig file was deprecated, but in this situation:

- file is actually read
- kubelet spins up with sy

[2020-06-12 11:14] kubealex commented on #92066
/sig architecture

[2020-06-12 11:19] hkamel commented on #91860
/remove-sig scheduling

[2020-06-12 11:27] rtheis opened #92067 "Kubernetes scheduler spams cluster with pods in NodeAffinity status"
**What happened**:

A deployment is created that uses a `nodeSelector` after the cluster master is created but before the cluster worker nodes are fully initialized.  During the initialization of the worker nodes, the nodes are temporarily available for scheduling without the necessary label to match the deployment's node selector.  Depending on how long the nodes are available for scheduling with

[2020-06-12 11:27] rtheis commented on #92067
Related to https://github.com/kubernetes/kubernetes/issues/43846 and https://github.com/kubernetes/kubernetes/issues/52902.

[2020-06-12 11:28] rtheis commented on #92067
/sig scheduling

[2020-06-12 11:32] hkamel commented on #91990
@dims I see the issue closed by the PR however the job still failing since 06-10 16:31 PDT

[2020-06-12 11:41] Rajalakshmi-Girish opened #92070 "kubernetes unit tests fail with Panic messages stating "invalid type""
[logs_ci-unit-kubernetes_50_build-log.txt](https://github.com/kubernetes/kubernetes/files/4772888/logs_ci-unit-kubernetes_50_build-log.txt)

**What happened**:
Below are the **27 unit tests** that panic and FAIL while I run "make test"

Also the analysis says that the failure started occurring after the below PR merge:
#https://github.com/kubernetes/kubernetes/pull/90582/commits/283d9f7483d9a5b307

[2020-06-12 11:56] lkeijser commented on #50345
@wanghaibo using your example for our Prometheus instance. Works perfectly, thanks!

[2020-06-12 13:09] hasheddan commented on #91990
@hkamel looks like we just turned green :)

[2020-06-12 13:17] DesistDaydream opened #92072 "k8s related processes Disk read speed Too high"
**What happened**:
k8s related processes Disk read speed Too high
![image](https://user-images.githubusercontent.com/39847025/84505961-338a0300-acf1-11ea-8917-cff055185f9e.png)
This situation will continue to occur until the pod is deleted

This is flanneld's exit log
[code]

**What you expected to happen**:
I hope the disk read speed can be normal

**How to reproduce it (as minimally and precisel

[2020-06-12 13:43] ghudiczius commented on #92033
turns out, that `ip_vs_sed` was not available in the kernel thus https://github.com/kubernetes/kubernetes/blob/v1.18.3/pkg/util/ipvs/ipvs_linux.go#L66 returned the "no such file or directory" error message
while I realize the error message is assembled in the libnetwork module it would be useful to have a more verbose error message

[2020-06-12 13:44] alculquicondor commented on #91983
I don't follow. By algorithm you mean plugins? `SharedLister` interface is in the framework package.

[2020-06-12 13:45] alculquicondor commented on #91994
`SelectorSpread` it is

/good-first-issue
/help

[2020-06-12 13:52] alculquicondor commented on #92050
/close

dup of #89006

Fixed in 1.16.9 https://github.com/kubernetes/kubernetes/compare/v1.16.8...v1.16.9

[2020-06-12 13:52] #92050 closed

[2020-06-12 13:55] neolit123 commented on #92066
depends on the container runtime.
for docker kubeadm will detect your cgroup driver and setup the kubelet accordingly, but of other runtimes you have to do it manually.

setuping your CR with a cgroupdriver of systemd is recommended!

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-drivers
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/inst

[2020-06-12 13:55] neolit123 commented on #92066
/sig node cluster-lifecycle

[2020-06-12 13:55] #92066 closed

[2020-06-12 14:24] jackfarzan commented on #87935
/close

[2020-06-12 14:41] howardjohn commented on #88508
I am a bit surprised as well that there is an official example showing almost identical to my example: https://github.com/kubernetes/client-go/blob/master/examples/fake-client/main_test.go#L42

[2020-06-12 15:03] brianpursley commented on #91740
I'm thinking just update the docs to say don't use `go test ./...` from the repository root.
Besides, there are a number of reasons that won't work, and kubeadm is just one of them.

Also, the more I think about it, I don't really like the idea of conditionally skipping the tests because it could result in the tests being mistakenly skipped when they are supposed to be run... for example, if somed

[2020-06-12 15:03] #91740 closed

[2020-06-12 15:07] ahg-g commented on #92067
by spamming are you referring to scheduler logs? also, why are the nodes not labelled from the get go?

[2020-06-12 15:30] kubealex commented on #92066
no way, this is not true:

Please mind, that you only have to do that if the cgroup driver of your CRI is not cgroupfs, because that is the default value in the kubelet already.

This means that cgroupfs is the default for kubelet, but I just proved that it is not the default value that is assigned when CR != Docker.

[2020-06-12 16:05] pigletfly commented on #72155
is this fixed in https://github.com/kubernetes/kubernetes/pull/86365 ?

[2020-06-12 16:17] rakeshreddybandi commented on #91994
@alculquicondor I am interested on helping this issue. Can I work on this?

[2020-06-12 16:21] arjun921 commented on #89898
I'm facing the same issue as well, increasing timeoutSeconds didn't help.
[code]
Runing on Kubernetes v1.16.7 on AWS deployed via KOPS

[2020-06-12 16:22] jpepin commented on #68522
@ChrsMark I and my team have been following this as well, and working on replacement options for `stats/summary` while we wait for guidance from the kubernetes sigs. Happy to discuss what we've looked at and decided on if it would be helpful, and would be interested in hearing others' solutions as well. My impression is that no in-tree replacement for `stats/summary` is being planned by sig-node o

[2020-06-12 16:24] smekkley commented on #10921
@BharathB23
I made an another issue and it was solved. Not sure if the feature is released.
For now, either use MetalLB if it's on premise or consider migrating to calico and use their experimental BPF engine to replace kubeproxy. The latter might be more future-proof.

[2020-06-12 16:26] msau42 commented on #92057
@mikebrow pointed out that https://github.com/kubernetes-sigs/cri-tools/pull/627 may be relevant

[2020-06-12 16:38] TomaszKlosinski commented on #77662
We're developing our own dashboard and we would like to see this feature implemented too.

[2020-06-12 16:48] karan commented on #92057
/cc karan
/cc @lorqor

[2020-06-12 16:49] msau42 commented on #92045
Temporarily switched the slow job back to docker in https://github.com/kubernetes/test-infra/pull/17924, and jobs are looking good now. Root cause is being investigated in #92057.

/close

[2020-06-12 16:49] #92045 closed

[2020-06-12 16:53] dblackdblack commented on #29276
nope

[2020-06-12 17:28] msau42 commented on #92057
@Random-Liu pointed out that cri-tools is not used in the kubelet path, so that particular issue may not be the cause. But maybe we can investigate image pulling as a first start.

FWIW, there are at least 100+ test cases running in this job that create the same container on the same node multiple times: hostpathtype, multivolume, container restart

[2020-06-12 17:36] pancernik commented on #84922
/assign

[2020-06-12 17:37] alculquicondor commented on #91994
Absolutely. Please assign it to yourself with `/assign`

Keep in mind that code freeze is in June 25th.

[2020-06-12 17:47] rakeshreddybandi commented on #91994
/assign

[2020-06-12 17:47] #91755 closed

[2020-06-12 17:53] alculquicondor commented on #84922
/remove-help

@pancernik is taking over as we haven't heard from the other contributor for a while.

[2020-06-12 19:19] Huang-Wei commented on #91739
@hasheddan not sure we can check the test setup, basically it needs more than 2 nodes for the conformance tests to pass through.

[2020-06-12 19:21] hasheddan commented on #91739
@Huang-Wei thanks! I'll see what I can do :+1:

[2020-06-12 19:54] jingxu97 opened #92081 "Reset default container runtime to docker for windows node"
With PR https://github.com/kubernetes/kubernetes/pull/91684, the default container runtime is set to containerd. However, containerd is not ready for windows yet. There are a number of issues being worked on including https://github.com/containerd/containerd/issues/4320 and https://github.com/kubernetes/kubernetes/issues/92057

For windows node, we need to set default value back to docker now. And

[2020-06-12 19:56] jingxu97 commented on #92081
cc @pjh

[2020-06-12 20:20] misterikkit commented on #91983
One goal of Scheduler Framework is to have other scheduler implementations import certain parts of the scheduler, staging seems like the best way to make that importable.

@k82cn when you say `algorithm` are you just referring to the go package that used to have that name, with all the predicates and priorities?

Another intent with the refactoring effort was to improve the way that other projects

[2020-06-12 20:24] msau42 commented on #92057
I think I found it. All the HostPath Socket tests are consistently never completing.

[2020-06-12 20:26] jingxu97 commented on #92057
https://github.com/containerd/containerd/issues/4320
something might related

[2020-06-12 20:52] neutrongenious commented on #23880
+1 for Metallb

[2020-06-12 21:06] hasheddan commented on #91739
/cc @kubernetes/provider-openstack-misc

[2020-06-12 21:27] BenTheElder commented on #92041
Has a bug been filed upstream in containerd?
Just skipping the tests seems like the wrong approach here.

[2020-06-12 22:08] agilgur5 commented on #34549
So in the current state, this issue delays an error until a PVC request is made instead of erroring out early during admission.

I found out I had two default `StorageClass`es (a new default was [added in `kops` 1.17](https://github.com/kubernetes/kops/pull/8582)) not when the second default was added, but when I added an application with a PVC. This was much further down the line in my cluster se

[2020-06-12 22:11] aojea commented on #92041
sorry, I meant why we are not allowing it in containerd,

@janosi does this feature should work in all container runtimes? CRIO, docker and containerd?

if affirmative, we can submit a PR to containerd/cri to allow SCTP,
I can do it if you don't have time

[2020-06-12 22:12] joelsmith opened #92084 "Security contacts for apiextensions-apiserver not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:17] joelsmith opened #92085 "Security contacts for apimachinery not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:18] joelsmith opened #92086 "Security contacts for api not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:18] msau42 commented on #92057
The test logs don't seem to show up in the artifacts. Running it manually, I see it hung on the exec during BeforeEach():

[code]

However when I do this manually using "kubectl exec" it is fine.

[2020-06-12 22:19] joelsmith opened #92087 "Security contacts for apiserver not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:20] joelsmith opened #92088 "Security contacts for client-go not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:21] joelsmith opened #92089 "Security contacts for cli-runtime not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:22] joelsmith opened #92090 "Security contacts for cluster-bootstrap not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:23] joelsmith opened #92091 "Security contacts for code-generator not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:24] joelsmith opened #92092 "Security contacts for component-base not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:25] joelsmith opened #92093 "Security contacts for cri-api not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:26] joelsmith opened #92094 "Security contacts for csi-translation-lib not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:27] joelsmith opened #92095 "Security contacts for kube-aggregator not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:28] joelsmith opened #92096 "Security contacts for kube-controller-manager not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:29] joelsmith opened #92097 "Security contacts for kubelet not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:30] joelsmith opened #92098 "Security contacts for kube-proxy not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:31] joelsmith opened #92099 "Security contacts for kube-scheduler not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:32] joelsmith opened #92100 "Security contacts for legacy-cloud-providers not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:33] joelsmith opened #92101 "Security contacts for metrics not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:34] joelsmith opened #92102 "Security contacts for node-api not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:35] joelsmith opened #92103 "Security contacts for sample-apiserver not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:36] joelsmith opened #92104 "Security contacts for sample-cli-plugin not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:37] joelsmith opened #92105 "Security contacts for sample-controller not specified or out of date"
The purpose of the `SECURITY_CONTACTS` file for each Kubernetes repository is to provide a list of people who can assist the Kubernetes [Product Security Committe](https://github.com/kubernetes/community/tree/master/committee-product-security) in the event that a security issue related to the repository is discovered or disclosed.  As described in the file, those on the list should agree to our [E

[2020-06-12 22:40] neolit123 commented on #91740
Ack. Thank you for taking the time to look at this.

[2020-06-12 22:43] lavalamp commented on #91800
Right, you should stop the queue in this situation, tear everything down. If you get the election later, just start everything again.

[2020-06-12 22:54] neolit123 commented on #92066
I don't think there is logic in the kubelet for that. It always defauls to
cgroupfs unless something changes it to systemd.

[2020-06-12 23:18] #87135 closed

[2020-06-13 00:02] tallclair commented on #82295
/remove-lifecycle stale

[2020-06-13 00:03] tallclair commented on #75563
Yes, this still needs to be done.

[2020-06-13 00:13] #89956 closed

[2020-06-13 00:17] thockin commented on #89898
I appreciate the extra reports.  It sounds like something is really weird.  I'll repeat myself from above:

I'm afraid the only way to know more is to get something like a tcpdump from both inside and outside the pod, which captures one or more failing requests.

Is that possible?  Without that I am flying very blind.  I don't see this experimentally and I'm not flooded with reports of this, so it

[2020-06-13 01:18] #67718 closed

[2020-06-13 01:48] arjun921 commented on #89898
@thockin I'll try to get a dump if I'm able to replicate this issue consistently, since it tends to happen randomly.
Just to clarify, what exactly did you mean by tcpdump outside the pod?
Did you mean tcpdump of the node where the pod resides?

[2020-06-13 02:09] ChanderG commented on #89031
This tripped me up yesterday. This is the same "feature" as in docker - https://github.com/moby/moby/issues/9098.

If we are not going to fix this, can we at least have a clear warning in the help string? I am personally willing to open a PR if it will be accepted.

[2020-06-13 02:16] abhi1604 commented on #91313
Hi, I am a first time contributor and would be happy to contribute to one of these. @mattjmcnaughton

[2020-06-13 02:19] #86610 closed

[2020-06-13 03:23] jvanwygerden commented on #62283
Thank you for the feedback @wyardley !

[2020-06-13 03:56] tengqm opened #92110 "What will happen to CRD v1beta1?"
The following code snippet is very confusing:

https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1/types.go#L377-L383

[code]

Is v1beta1 deprecated in 1.16 or 1.19? Is it to be removed in 1.19 or 1.22?

Please clarify the exact versions so the many users of CRD v1beta1 APIs know what to do.

[2020-06-13 03:57] tengqm commented on #92110
/sig api-machinery

[2020-06-13 03:58] tengqm commented on #92110
/kind deprecation

[2020-06-13 03:59] tengqm commented on #92110
/unkind feature

[2020-06-13 04:11] zuquan-song commented on #90808
Hi, did the pods eventually dropped to normal number? The HPA would get the highest recommendation within the `--horizontal-pod-autoscaler-downscale-stabilization` period. Or if you custom a behavior, the scale up rule and the scale down rule will affect the time to drop the desired replica numbers

[2020-06-13 04:20] liggitt commented on #92110
Deprecated in 1.16. Planned to be removed in 1.22. We'll update the docs to be consistent before 1.19 is released.

[2020-06-13 04:35] zuquan-song opened #92111 "Suspected bug in HPA"
**What happened**:
While I was reading the autoscaling source code, I found the method calculateScaleUpLimitWithScalingRules in kube-controller-manager/app/autoscaling.go has a bug if we set SelectPolicy MinPolicySelect. Since the default variable result is 0, the final result would be 0 because the min selectPolicyFn. I'm not sure if it is the expected result, but from my perspective, the result

[2020-06-13 04:35] zuquan-song commented on #92111
/sig autoscaling

[2020-06-13 05:03] #65013 closed

[2020-06-13 06:50] hakman commented on #91982
@dashpole I think I tracked the issue to a bug in cAdvisor. I guess we will continue the discussion there.
https://github.com/google/cadvisor/pull/2586

[2020-06-13 08:40] 13567436138 opened #92112 "kubectl port-forward port cann't use name"
**What happened**:
[code]
[code]
if port cann't use name,what is this code for:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`

[2020-06-13 08:42] 13567436138 commented on #92112
/sig cli

[2020-06-13 09:32] rocLv commented on #54918
This worked for me, but I don't know it's meaning. @amacneil

[2020-06-13 09:33] yerzhant commented on #90293
Same issue on 1.17.6
[code]

[2020-06-13 09:40] domgoer commented on #92023
this seems to be related to [#60987](https://github.com/kubernetes/kubernetes/issues/60987)

[2020-06-13 10:18] KabirKwatra commented on #92112
# [Port Forward Usage](https://kubernetes.io/docs/reference/generated/kubectl/kubectl-commands#port-forward)
[code]

You don't specify the protocol, you just pass the port number as the argument.

[2020-06-13 10:30] KabirKwatra commented on #92112
I think you may be able to specify a named port if it is listed in the service definition.
### [Specifying the HTTP and HTTPS ports in a service](https://kubernetes.io/docs/concepts/services-networking/service/#multi-port-services)
[code]

[2020-06-13 10:59] ingvagabund commented on #91845
Hello @kfox1111

Checking https://kubernetes.io/docs/concepts/storage/storage-classes/ I don't see any mention of limits for storage classes. Can you more elaborate on what you want to be added? E.g. with an example?

Setting pod defaults is handled by admission plugins. By project here do you mean a namespace with a set of objects?

By resource proportion do you mean a percentage or setting a fix

[2020-06-13 11:09] ingvagabund commented on #92067
Just to confirm, all the pods in question are still in Pending state, yes?

If the pods are in pending state, all of them will get scheduled eventually once the nodes get their labels.

[2020-06-13 11:31] TBBle commented on #79523
From what I can see, the main issues that remain unresolved since the first PR last year:
* https://github.com/kubernetes/enhancements/pull/1438 is still pending if you need a service that supports _both_ TCP and UDP, e.g., DNS. DNS is also a more-complicated example because it supports TCP and UDP _on the same port number_, and that'll need more refactoring.
* AWS NLB can only do TCP-based health

[2020-06-13 11:34] Binyang2014 opened #92114 "Support fuse volume in k8s"
**What would you like to be added**:
Similar issue: #7890.
Now k8s support CSI. It's easy to integrate new type of volume to k8s.

But for `fuse` based volume, the fuse daemon is placed in CSI daemon, multi-users share same `fuse daemon`. This will cause some resource competing problems.

We should provide a way to let `fuse` based volume put `fuse daemon` into user pod when using `CSI` and `Volum

[2020-06-13 11:34] Binyang2014 commented on #92114
/sig storage

[2020-06-13 11:37] mayankshah1607 commented on #86024
/unassign

[2020-06-13 11:42] rtheis commented on #92067
The pods are not in `Pending` state.  They are actually in `NodeAffinitiy` state.  The pods eventually get scheduled but we are left with anywhere from a few to dozens of these `NodeAffinity` state pods.

Also, we are looking at labeling the nodes via kubelet flags to see if that helps.

[2020-06-13 13:01] tedyu commented on #91881
One remaining item: #92078 for image building

[2020-06-13 15:44] 13567436138 commented on #92112
tcp is my servie pot name,not protocal

[2020-06-13 15:46] 13567436138 commented on #92112
specifiy the pod 's port name,is worked,svc not work

[2020-06-13 16:09] hkamel commented on #91739
/sig scheduling

**FAIL: We need at least two pods to be created butall nodes are already heavily utilized, so preemption tests cannot be run**
` Jun 12 15:14:45.415: FAIL: We need at least two pods to be created butall nodes are already heavily utilized, so preemption tests cannot be run
Full Stack Trace
k8s.io/kubernetes/test/e2e/scheduling.glob..func5.4()
	/home/zuul/src/k8s.io/kubernetes/_outp

[2020-06-13 16:39] #89923 closed

[2020-06-13 16:59] wawa0210 commented on #91783
/assign

@ksubrmnn  @MikkelHegn

I am very confused. The following are my latest and complete test steps, but they have not reproduced

An example of nginx, yaml is as follows:
[code]
It will create a pod running in linux and create a service at the same time, the results are as follows
[code]
[root@10-7-106-220 ~]# telnet 10.96.2.54 80
Trying 10.96.2.54...
Connected to 10.96.2.54.
Escape characte

[2020-06-13 17:06] pvwebb opened #92115 "Geometrically increasing wait times"
What would be friendlier to users and more secure from hackers is a geometrically increasing delay from entering wrong passwords.  For example, for the first three wrong passwords have a delay of 1 min.  If three wrong passwords in a row within the next five minutes, delay 5 min. before accepting the password.  If three wrong passwords in a row within the next 15 min., delay 15 min., and continue

[2020-06-13 18:02] liggitt commented on #92115
Which component are you referring to which accepts a password?

[2020-06-13 19:34] janosi commented on #92041
@aojea Yep, why not. I mean, it could work in all container runtimes. As I understand the containerd implementation is based on a misunderstanding: that the host port mapping loads the SCTP kernel module and that would be bad for those apps that want to use user space SCTP. But as long as there is no SCTP socket created on a node the SCTP kernel module is not loaded.

[2020-06-13 19:36] janosi commented on #92041
I can initiate a discussion with containerd about this.

[2020-06-13 21:21] ahg-g commented on #92067
/remove-kind bug

[2020-06-13 21:37] sftim commented on #87869
I'd still like this, so:
/remove-lifecycle rotten

Hope that's OK.

[2020-06-14 02:00] pvwebb commented on #92115
The delay when a person enters the wrong password for the account to access the OS.  At the corporate level this is usually an account on the domain server.    The most common setting is when a person enters the wrong password three times.  Right now the delay is always the same amount each time.

[2020-06-14 02:10] BenTheElder commented on #92115
Kubernetes doesn't ship an OS, which part of Kubernetes are you referring
to?
This sounds like some third party distro OS, not part of Kubernetes.

On Sat, Jun 13, 2020, 19:00 pvwebb <notifications@github.com> wrote:

[2020-06-14 02:20] pvwebb commented on #92115
My understanding is most OS's (Windows and Linux for example) use Kubernetes for their security.

[2020-06-14 02:25] dims commented on #91990
cool! :)

[2020-06-14 03:00] BenTheElder commented on #92115
I don't think your understanding is correct with regards to this.

From [the readme](https://github.com/kubernetes/kubernetes#kubernetes):

In other words, Kubernetes is used for managing clusters of machines running [containers](https://www.docker.com/resources/what-container).

No, it doesn't. Login characteristics of Windows and Linux are not part of this project.

/close

[2020-06-14 03:00] #92115 closed

[2020-06-14 03:09] BenTheElder commented on #90416
/unassign

[2020-06-14 03:11] zhouya0 commented on #92112
/assign

[2020-06-14 03:12] BenTheElder commented on #72956
/milestone v1.20
I don't think we're quite going to hit 1.19 and that's OK.

Sorry I've become ~inactive here, I've gained more duties and we're struggling with test health right now, I don't expect much time for this myself this release.

[2020-06-14 03:15] BenTheElder commented on #79499
/assign @SataQiu

[2020-06-14 03:15] BenTheElder commented on #92041
https://github.com/containerd/containerd/issues/4321#issuecomment-643711175

seems this dates back to the original SCTP KEP, seems like it should be a pretty simple fix (?)

thanks for filing the bug and for the details there!

[2020-06-14 03:17] zhouya0 commented on #92067
After we add some retry logic and wait time in `getNodeAnyway`  this problem can be solved:
[code]
As you can see this function returns initial node as the first request failed.

[2020-06-14 03:53] BenTheElder commented on #92059
- https://github.com/kubernetes/kubernetes/pull/92106 aligns 1) and 2) (my bad!)
- bumps the manifest and updates for the changes in agnhost. the 2.6 version seems inconsequential, the image is pulled only. (testing private registry)

[2020-06-14 06:16] hkamel commented on #91990
@hasheddan Yes it's indeed ... @dims thanks for the support!

[2020-06-14 07:27] muthu31kumar commented on #85560
Yes. Am too facing issues with the same error on my both K8 cluster running with v1.18.3 and v1.17.3

Any help is appreciated..

[2020-06-14 07:48] #83336 closed

[2020-06-14 07:48] #83826 closed

[2020-06-14 08:36] eddycjy commented on #43916
@LorrieS Did you solve this problem after setting the memory limit and memory request to the same?

[2020-06-14 08:49] #82950 closed

[2020-06-14 08:58] eddycjy commented on #43916
😶 There seems to be no simple solution.

[2020-06-14 11:52] #87016 closed

[2020-06-14 12:02] pvwebb commented on #92115
Thank you

[2020-06-14 12:15] vdemeester commented on #86245
/remove-lifecycle stale

[2020-06-14 12:57] neolit123 commented on #92072
is this happening only for flanneld?
if yes, log an issue in their issue tracker.

if k8s core processes do that too like kube-apiserver please reopen this ticket.

/close
/triage support

[2020-06-14 12:57] #92072 closed

[2020-06-14 13:01] neolit123 commented on #92070
/sig api-machinery

[2020-06-14 14:03] nocanstillbb opened #92124 "kubernetes worknode notready, NodeHasNoDiskPressure"
### node describe
[code]

### df -f
[code]
### env
[code]

[2020-06-14 14:55] #85987 closed

[2020-06-14 15:17] janosi commented on #92041
@aojea @BenTheElder CRI-O seems to have the same issue: https://github.com/cri-o/cri-o/blob/61d79c8266498fc59e868a9e32bd66750b2a5f93/server/sandbox_run.go#L77

[2020-06-14 15:36] DesistDaydream commented on #92072
@neolit123
https://stackoverflow.com/questions/51040525/high-disk-usage-iops-and-bandwidth-by-kubernetes
In this problem, the k8s core process also has this phenomenon

[2020-06-14 15:41] neolit123 commented on #92072
yes i saw that screenshot, but are you able to reproduce the kubelet high CPU usage in your setup?

[2020-06-14 15:43] DesistDaydream commented on #92072
Not high CPU usage, but disk read rate

[2020-06-14 15:50] neolit123 commented on #92072
my mistake, are you able to reproduce the kubelet high diskusage in your setup?

[2020-06-14 15:52] DesistDaydream commented on #92072
I don’t know how to reproduce the problem for now...( ╯□╰ )

[2020-06-14 15:53] neolit123 commented on #92072
i suggest you log an issue for flanneld here first:
https://github.com/coreos/flannel

this repo is for core k8s components only: kube-{apiserver, controller-manager, scheduler}, kubelet

[2020-06-14 16:12] Feder1co5oave commented on #40610
It is a bit sad seeing this feature, with so many practical use cases listed above, left unanswered for so long.
As a fully owned, single tenant Kubernetes user, I take care of both nodes AND pods, and I've been needing this feature for a long time.
It it utterly pointless to set topology information on nodes if that information can not be propagated to pods to implement intelligent, topology-awar

[2020-06-14 16:49] yungvj opened #92125 "Log Kube-proxy traffic routing to determine which pod is active"
Hey guys, I have a simple question which can be a bit "silly" but i can't figure it out.

I have a Kubernetes cluster contained of 2 nodes. On it i managed to properly configure and set a project which has 2 pods for web application and 1 pod for database application. The question would be, how can i determine which pod is active and receiving the request routed by the kube-proxy at a particular m

[2020-06-14 16:50] mikebrow commented on #92041
Just confirming you want this filter to be gone now. Or do you need the filter to be manageable in some way.. filtered by a config switch?

[2020-06-14 18:09] tedyu commented on #92124
Can you attach kubelet log covering the relevant events shown above ?

[2020-06-14 19:05] TLINDEN commented on #89144
Thanks a lot for nothing. Fully automated procedures to make sure no person has to work on posted bugs. Unbelievable.

[2020-06-14 20:00] #87284 closed

[2020-06-14 20:20] natanielmendes commented on #40413
There was a question in my CKAD exam related to that... 2 NetworkPolicies already created were given. The question stated that I could not edit the NetworkPolicy. What should I do in order to have label app=db and app=redis in the same pod?

PS: One network policy had the podSelector with label app=db and the other had the podSelector with label app=redis.

[2020-06-14 20:28] anasalloush commented on #86587
I have the exact same problem..
Installed K8s v1.18 via Kubeadm + Flannel the old way...
The worker node is in "Not Ready" state, not sure why

[2020-06-14 21:10] Nefelim4ag opened #92126 "Kubelet ignore grace period 1.16.10, CRI-O 1.17.4"
On two of our cluster we have strange problem - kubelet ignore grace period of container and just remove it in same second.
as example we have cluster with 3 identical nodes,
but on 3 node all works as expected, on others 2 - i see log like that

Currently i give up, because i just dont know where to look.

[code]

[2020-06-14 21:18] Nefelim4ag commented on #92126
I've delete node from K8s and add it again - that fix the problem

[2020-06-14 21:24] Nefelim4ag commented on #92126
[code]

After node recreation that status dessapear and graceperiod works again

[2020-06-14 22:35] tzago commented on #57673
Had same issue while using my kubernetes  kubeadm lab and the updated procedure is here
https://github.com/kubernetes-sigs/metrics-server

This solved the issue:
horizontal-pod-autoscaler  unable to get metrics for resource cpu: unable to fetch metrics from resource metrics API: the server could not find the requested resource (get pods.metrics.k8s.io)

[2020-06-14 22:49] igcherkaev commented on #50375
Up!

[2020-06-14 23:14] tedyu commented on #92126
Have you seen #91453 ?

[2020-06-14 23:35] olakunleoladimeji commented on #91323
While trying to make a custom build, I  discovered a network issue on the VM which affected all SSL/TLS traffic.

Upon fixing this and rebooting, the issue was fixed.

Thank you all very much

[2020-06-14 23:35] #91323 closed

[2020-06-15 00:23] tymokvo commented on #17088
Just wanted to +1 implementing this.
Our use case is multiple staging versions of an application (one of the use cases the docs suggest for namespaces) that all have a new database that we would like to isolate from one another.

It would be great if we could use one load balancer/ingress to point to services in different namespaces to isolate the versions, but use one TLS cert, one DNS record, et

[2020-06-15 01:29] k82cn commented on #91983
I'd like to import predicates and prioritise :)

IMO, predicates & priorities should be self-contains for other project, e.g. autoscaler as misterikkit@ mentoned; if `SharedLister` is an interface, it's better to have a default implementation for predicates & prioritises. Regarding 'self-contains', I means predicates & prioritise can be imported directly without additional effort; if there is no `

[2020-06-15 01:31] k82cn commented on #91983
+1

[2020-06-15 02:14] JadeQin opened #92128 "cgroup does not exist"
**What happened**:
I have a v1.14.0 cluster and I uprade it to v1.18.3,but some node can not work,it has a error
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]

[2020-06-15 02:21] benzispawn commented on #91313
Hi, I want to help if still need it.

[2020-06-15 03:02] LorrieS commented on #43916
The work around of setting request = to limit did not work for us.   The only thing we reliable use to get around this problem is by ensuring we are running with rhel kernel version of kernel-3.10.0-1075.el7 or greater in combination with the kernel setting --args=cgroup.memory=nokmem.

https://github.com/docker/for-linux/issues/841

[2020-06-15 03:28] smileusd commented on #74374
@msau42  Yes, i agree. We need also add checking pvc deletion timestamp logic for pod creation, so this [pr](https://github.com/kubernetes/kubernetes/pull/89643) is worked. But we need also combine with pending pod check and delete it or recreate pvc like this [solution](https://github.com/mucahitkurt/kubernetes/commit/1ab4b97b8b63228ea25fc541233df15eb0e3d598) ? I think it will cover lots of cases

[2020-06-15 04:01] knight42 commented on #79616
looks like `pkg/kubectl/drain` has been moved to `k8s.io/kubectl`: https://github.com/kubernetes/kubectl/tree/master/pkg/drain.

I think this can be closed now.

[2020-06-15 04:01] TBBle commented on #28241
Looks like it was fixed in March 2019 via #75587, which made the change described in https://github.com/kubernetes/kubernetes/issues/28241#issuecomment-341066009, so that the [DockerConfigProvider gets the URL it's looking up](https://github.com/kubernetes/kubernetes/pull/75587/files#diff-82e3d28f25a0fa876c9517c8e8814ca4), and can extract the registry ID.

It landed in k8s 1.15, but wasn't worth a

[2020-06-15 04:08] #87301 closed

[2020-06-15 04:52] kainwei commented on #44540
For me, the problem is I didn't install the metric server and installing metric server is worked for me:

$ git clone https://github.com/kodekloudhub/kubernetes-metrics-server.git
$ kubectl create -f kubernetes-metrics-server/

reference from : https://stackoverflow.com/questions/52860209/kubernetes-1-11-could-not-find-heapster-for-metrics

hope it can helps.

[2020-06-15 04:52] Huang-Wei commented on #91983
@hzxuzhonghu @k82cn If you just want to import the plugins (predicates and priorities have all been refactored into plugins), I'm confused at this requirement:

Why not importing the plugins directly? I cannot get the point of "use NewSnapshot to initialize the interface ... to call plugins".

I checked the latest code, no plugin code (excluding unit tests) is dependent on the internal "cache" or

[2020-06-15 04:55] Huang-Wei commented on #91983
The only case I can think of is to use pkg/scheduler/internal/cache.NewSnapshot to building tests, but other than that, I don't see anything can prevent users from importing the plugins.

[2020-06-15 05:09] #83608 closed

[2020-06-15 05:19] AkihiroSuda commented on #88553
What's current status?

[2020-06-15 05:30] 13567436138 commented on #92112
that's because your svc port and containerport are different

[2020-06-15 05:58] hzxuzhonghu commented on #91983
The snapshot package is used to build `FrameworkHandle` interface.

[2020-06-15 06:27] MikkelHegn commented on #91783
Original repro came from this Helm chart: https://github.com/helm/charts/tree/master/stable/redis using this values file: https://github.com/helm/charts/blob/master/stable/redis/values-production.yaml.

One difference I spot is that the `targetPort` on the service is the same as the name of the service (as well as the name of the port on the container).

[2020-06-15 06:58] gautierdelorme commented on #90128
Update: https://github.com/go-openapi/errors/pull/21 and https://github.com/go-openapi/validate/pull/126 are both merged. I'll now update K8s deps and tests.

[2020-06-15 07:20] Rajalakshmi-Girish commented on #92070
Sample stacktrace:
=== FAIL: pkg/registry/apps/deployment/storage TestList (6.31s)
I0608 16:47:26.338842   14665 client.go:360] parsed scheme: "endpoint"
I0608 16:47:26.338887   14665 endpoint.go:68] ccResolverWrapper: sending new addresses to cc: [{unix://localhost:10576811193999092490  <nil> 0 <nil>}]
I0608 16:47:26.339843   14665 client.go:360] parsed scheme: "endpoint"
I0608 16:47:26.339872

[2020-06-15 07:58] wawa0210 commented on #91783
@MikkelHegn
I don’t seem to be able to reproduce the example provided by you. Can you reproduce the problem with a simpler nginx (I have nginx yaml in my last reply), after deployment, can you look at the corresponding svc entrypoint

[2020-06-15 08:02] sleshchenko commented on #91732
@MikeSpreitzer Here are references for the concrete real our case, we're listening objects(our workspace CR, deployments, pod, ...) changes by label selector here https://github.com/devfile/devworkspace-operator/blob/master/pkg/webhook/workspace/mutating_cfg.go#L72
and we would like to listen also `pod/exec` by the same objects selector but it does not seem to be possible. So we listen to all `pod

[2020-06-15 08:12] #87304 closed

[2020-06-15 08:38] KlavsKlavsen commented on #78795
The docs clearly says that it follows the master's timezone - yet this issue documents that, even though his master is following PDT timezone - cronjob is following UTZ. So either fix documentation (and document what timezone it actually follows) or find bug?

[2020-06-15 08:49] Rajalakshmi-Girish commented on #92070
@RainbowMango @liggitt

[2020-06-15 09:01] xunchangguo commented on #92128
i have the same error, when from v1.14.0 cluster uprade to v1.18.3,
[code]
when run this, some node can solve. but  it is still has error on some node

[2020-06-15 09:10] messiahUA commented on #51475
kubectl apply --dry-run=client -f manifest.yaml

[code]

[2020-06-15 09:13] #86735 closed

[2020-06-15 09:23] #91600 closed

[2020-06-15 09:42] ysjjovo commented on #87365
/close

[2020-06-15 09:43] #87365 closed

[2020-06-15 09:53] samgoncalves90 commented on #80431
This bug remains at version 1.17, can be reopened? [85769](https://github.com/kubernetes/kubernetes/pull/85769)

[2020-06-15 10:20] serathius commented on #88546
Stumbled on this
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/component-base/logs/logreduction/logreduction.go#L26

[2020-06-15 10:25] via-jordan-sokolic commented on #65500
Thanks @serhatcetinkaya, I was able to resolve this issue with a similar set of steps, however when I went to attach the volume, despite being listed as `available` in the console, I received an error that it was already in use. Shortly thereafter the pod succeeded in mounting the volume by itself.

I guess something is missing in the glue between EKS and the EC2 API and it gets "stuck" in an inco

[2020-06-15 10:33] discordianfish commented on #59376
Giving up and unsubscribing from issue
/cc @fejta Feedback: I don't like it.

[2020-06-15 10:47] max-rocket-internet opened #92137 "Designate or reserve a specific label to indicate "node group""
**What would you like to be added**

To designate or reserve a specific label to be used to show what "node group" a node belongs to. Currently GKE uses `cloud.google.com/gke-nodepool` and EKS uses `eks.amazonaws.com/nodegroup`.

I know node groups don't really exist in the k8s API but they exist on every cloud platform in one form or another.

Maybe `node.kubernetes.io/group`?

**Why is this need

[2020-06-15 10:49] max-rocket-internet commented on #92137
/sig sig-cluster-lifecycle

[2020-06-15 10:49] max-rocket-internet commented on #92137
/sig cluster-lifecycle

[2020-06-15 10:53] JadeQin commented on #92128
@sig node

[2020-06-15 10:55] JadeQin commented on #92128
/sig node

[2020-06-15 11:13] ahg-g commented on #91983
There is no concept of predicates and priorities in the scheduler anymore, please update the title. The description of the issue is also not quite related to the title.

If the ask is to be able to import plugins, then this will be doable as part of the long term plan of  breaking up most of the scheduler code and move it to staging repo: https://docs.google.com/document/d/1WO-ixERpqkCSEXEq30YtEH_

[2020-06-15 11:30] MikkelHegn commented on #91783
@wawa0210 - I had an error in my repro, and I cannot repro this in my setup now. The simple deployment I did is similar to what you've tried above.

We need to go back and look at the original issue reported by one of our customers and see if ew can repro based on that. Stay tuned... :-)

@ksubrmnn - did you find a path in the code, which you suspected had some issues?

[2020-06-15 11:58] jtslear commented on #74352
@kubernetes/sig-testing

PR https://github.com/kubernetes/enhancements/issues/1746 has been pushed to v1.20

PR https://github.com/kubernetes/kubernetes/pull/90832 is not assigned to any milestone.

Should this issue be pushed to v1.20?

[2020-06-15 12:05] jtslear commented on #65200
@kubernetes/sig-api-machinery-bugs

I haven't seen a followup on this issue for awhile.  Is this still planned for the v1.19 release?

[2020-06-15 12:09] danwinship commented on #92041
For TCP and UDP HostPorts, the runtime is expected to do two things:
1. open a listening socket on that port so the kernel will think it's in use and not allocate it to anyone else
2. create iptables rules (or whatever) to route traffic from the host port to the container port

For _SCTP_ HostPorts, the runtime _should_ do the second part (iptables rules), but _should not_ do the first part (liste

[2020-06-15 12:16] jtslear commented on #58012
@justaugustus I see we've updated the description indicating the inclusion into v1.19.  With code freeze closing in, is this still the intention?

[2020-06-15 12:16] #78733 closed

[2020-06-15 12:18] jtslear commented on #89859
@kubernetes/sig-node-bugs with us being blocked at the current moment, should this be pushed to v1.20?

[2020-06-15 12:25] janosi commented on #92041
Exactly.
The current state in the runtimes:
- Docker (dockershim, actually): OK. The logic was been implemented together with the basic SCTP feature, so listening on the host port is filtered for SCTP, but the iptables rules are created
- Containerd (CRI, actually): the patch which was applied 2 years ago filters out every SCTP host port handling, because it filters SCTP ports from the list of por

[2020-06-15 12:28] #86597 closed

[2020-06-15 12:31] ChrsMark commented on #68522
@jpepin happy to join in such a meeting if there is any in the future!

[2020-06-15 12:45] cofyc opened #92141 "scheduler: use http test server to mock external extenders in testing"
With [FakeExtender](https://github.com/kubernetes/kubernetes/blob/1fa20301a0173eb7945ea8b80ac60997adceaffa/pkg/scheduler/core/extender_test.go#L160-L269), the real `Extender` implementation is not tested actually. I would suggest mocking external extenders in our testing code.
/sig scheduling
/kind cleanup

[2020-06-15 12:48] cofyc commented on #92141
In the development of https://github.com/kubernetes/kubernetes/issues/91281, I found it's tricky to add new test cases.
/assign

[2020-06-15 12:52] cofyc opened #92142 "Remove FakeVolumeBinder"
This is part of https://github.com/kubernetes/kubernetes/issues/90962.

We can use the fake client with real implementation in our testing.
/sig storage
/kind cleanup

[2020-06-15 12:52] cofyc commented on #92142
/assign

[2020-06-15 12:57] shivrajjadhav733 commented on #91880
@bridgetkromhout Yes, I have updated to v1.16

[2020-06-15 12:59] shivrajjadhav733 commented on #91880
@Alien2150 Thanks for the response.
The config that you provided will disable db for everything. How to go about disabling for specific scenarios of liveness or readiness? Do we have to override any specific handlers?

[2020-06-15 13:37] alculquicondor opened #92143 "Deprecate Policy scheduling config"
/sig scheduling

As we move forward with graduating component config #89701 (targetting beta for 1.19), Policy APIs are redundant and thus can be removed.

Following API guidelines, we should have a GA alternative for 2 releases. Given current projections, we can remove Policy config in 1.23

[2020-06-15 13:47] smarterclayton commented on #22650
/reopen

[2020-06-15 14:17] alculquicondor commented on #68701
/reopen
/remove-lifecycle rotten

[2020-06-15 14:18] alculquicondor commented on #68701
Maybe we can add this in 1.20

[2020-06-15 14:22] stoyanr commented on #80488
@gnufied @andyzhangx is there any update on this issue? Is the corresponding feature already available in the CSI controller, or any plans about it?

[2020-06-15 14:36] alculquicondor commented on #91983
No? Please refer me to the line were it is required.
You only need to provide an implementation of the `SharedLister` interface.

If we provide an implementation, I'm quite sure you will eventually find it limiting. Specially in the volcano use case, were you have to simulate multiple pods being added and rerun the plugins.
I honestly think you are better off implementing the interface.

Also, are

[2020-06-15 14:48] zigmund opened #92144 "Wrong memory usage output by kubectl top pod and container_memory_working_set_bytes"
Hi there,
we are running tens of services in Kubernetes, mostly golang-writen. Almost all pods are burstable with requests and limits set, resource utilization controlled via prometheus+alerts, some deployments uses HPAs.

And we have issue with exact container of one deployment. That container runs heavy loaded golang image processing program which uses libjpeg-turbo, libwebp and libexiv2 via CGO

[2020-06-15 14:50] humblec commented on #91542
@tallclair it should be `StorageOS` instead of `StorageFS`

[2020-06-15 15:01] naveenb29 commented on #75065
[code]

[2020-06-15 15:10] #84169 closed

[2020-06-15 15:19] BenTheElder commented on #92128
Did you upgrade directly from 1.14 to 1.18? If so that is unsupported afaik, components only support skew of 1 version so you'd need to upgrade to 1.15, 1.16, 1.17, 1.18 ...

[2020-06-15 15:19] #85416 closed

[2020-06-15 15:23] breunigs opened #92145 "Volume not detached if leader election happens before detach is executed"
**What happened**:

Detaching a volume fails when a kube-controller-manager leader election/change happens before the operation is executed or its error is processed. The new leader starts up thinking the volume has been detached already, while it still remains attached from the view of the storage (vsphere in our case). This becomes problematic once a pod wants to re-attach said volume on a diffe

[2020-06-15 15:28] BenTheElder commented on #91751
What is this ask here?

[2020-06-15 15:41] ahg-g commented on #91983
I think the dependency they are referring to comes from the plugins unit tests, we should create a separate testing pkg and cut the dependency on the internal pkg in tests.

[2020-06-15 15:51] eddycjy commented on #43916
@LorrieS Thank you for your reply to delete comments, I will try to upgrade to kernel-3.10.0-1075.el7 and above, but because it is in a production environment, it may require quite tedious processes and time.

Thank you again.

[2020-06-15 16:22] cmluciano opened #92147 "Restructure IngressClass e2e tests for potential Conformance bump"
**What happened**:

The [existing ingressclass](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network/ingressclass.go) make assumptions about no default ingressclass being present and they should be run in Serial mode.

**What you expected to happen**:

These tests should be refactored to not make assumptions about the cluster state, so that they can be added to the conformance sui

[2020-06-15 16:22] cmluciano commented on #92147
/sig network
/assign @cmluciano

[2020-06-15 16:33] zigmund commented on #92144
/sig instrumentation

[2020-06-15 16:48] BharathB23 commented on #10921
Thank you for the response @smekkley!!
I think https://github.com/kubernetes/kubernetes/issues/79866 is the issue that was created. [KEP merge](https://github.com/kubernetes/enhancements/pull/1354) has v1.18 as the milestone, not sure what is the minor version.

[2020-06-15 16:57] bohdantverdyi commented on #30427
/remove-lifecycle rotten

[2020-06-15 17:04] kfox1111 commented on #91845
Hi @ingvagabund

In the quota object (https://kubernetes.io/docs/concepts/policy/resource-quotas/), you can add to the spec things like:
  <storageclassname>.storageclass.storage.k8s.io/requests.storage: 20Gi
  <storageclassname>.storageclass.storage.k8s.io/persistentvolumeclaims: 8

This allows the admins to limit how many volumes can be created and how much capacity is granted, per storage class

[2020-06-15 17:21] ksubrmnn commented on #91783
I didn't repro the issue myself so I've only looked at this secondhand, but I figured we could add a check here to see if the targetport is a string and then iterate through the ports to select the correct one. However, Windows only allows one port per endpoint so we should also be mindful of that.

If this issue is not reproducible, I can close it.

https://github.com/kubernetes/kubernetes/blob/m

[2020-06-15 17:21] sftim commented on #92137
Cluster API also has MachineSets which overlap with this concept quite a bit (not yet officially documented AIUI - see https://github.com/kubernetes-sigs/cluster-api/issues/788)

[2020-06-15 18:07] hasheddan opened #92149 "[Failing Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are failing**:

`gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)`

**Which test(s) are failing**:

`Timeout`

**Since when has it been failing**:

`06-10-20 05:01 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness&graph-metrics=test-duration-minutes

**Reason for failure**:

Timeout

**Anything else we nee

[2020-06-15 18:08] hasheddan commented on #92149
/cc @kubernetes/sig-scalability-bugs

[2020-06-15 18:40] BenTheElder commented on #89859
no, this is a real breakage and should be fixed before 1.19 is released.

On Mon, Jun 15, 2020 at 5:18 AM John T Skarbek <notifications@github.com>
wrote:

[2020-06-15 19:26] jethrogb commented on #62788
/remove-lifecycle stale

[2020-06-15 20:12] aojea commented on #92019
@SataQiu @morimoto-cybozu I suggest you to discuss first some possible solutions with @andrewsykim , he has already written a KEP about graceful termination
https://github.com/kubernetes/enhancements/pull/1607 and this may be impact it

[2020-06-15 20:21] MikkelHegn commented on #91783
Using this chart and values: https://github.com/helm/charts/tree/master/stable/redis using this values file: https://github.com/helm/charts/blob/master/stable/redis/values-production.yaml. I can reproduce not being able to reach the master service from a Windows node. It might be when all services run on a single Linux node, not 100% sure, need some more investigation to figure out what the proble

[2020-06-15 21:18] #79499 closed

[2020-06-15 22:03] fejta-bot opened #92155 "pr:pull-kubernetes-e2e-gce-ubuntu-containerd flaked 49 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-ubuntu-containerd
 Flakes in the past week: **49**
 Consistency: **90.40%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [sig-network] Services should be able to preserve UDP traffic when server pod cycles for a NodePort service | 22 |
| [sig-cli] Kubectl client Simple pod should support inline execution and attach | 12 |
| [

[2020-06-15 23:21] patrick-east opened #92157 "Admission Controller Webhook configuration rule cannot exclude specific resources"
**What would you like to be added**:
The webhook configuration (for both `ValidatingWebhookConfiguration` and `MutatingAdmissionWebhook`, reference https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/) support `rules` to select what types of resources should be sent to the webhook endpoint. The rule definitions can have a set of `resources` which specifies whic

[2020-06-15 23:21] patrick-east commented on #92157
/sig api-machinery

[2020-06-15 23:23] Riaankl opened #92158 "Write checkAPIGroupPreferredVersion Test +Promote - +16 Endpoint coverage"
# Progress <code>[5/6]</code>

-   [X] APISnoop org-flow: [checkAPIGroupPreferredVersionTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/checkAPIGroupPreferredVersionTest.org)
-   [x] Test approval issue: [[kubernetes/kubernetes#92158](https://github.com/kubernetes/kubernetes/issues/92158)]
-   [x] Test pr: kuberenetes/kubernetes [#92619](https://github.com/kubernetes/kubernetes/

[2020-06-15 23:33] BobyMCbobs commented on #92158
/retitle Write checkAPIGroupPreferredVersion Test +Promote - +16 Endpoint coverage

[2020-06-15 23:35] k82cn commented on #91983
hm... which term  are we going to use for that, `plugins`?

That's great we have a long term plan for that :)

[2020-06-15 23:37] maxsmythe commented on #92157
+1 to the ability to carve out certain kinds being useful.

This would allow users to select between a "lock it all down and open up only what we use" approach and the current approach that emphasizes webhook opt-in.

[2020-06-16 00:07] adamhjk opened #92159 "Machine consistent casing"
**What would you like to be added**:

I would like to see a version of the kubernetes object spec's that uses machine consistent casing. The current mechanism is a variant of camelCase, where acronyms that are part of the word are in upper case. Some examples are `hostIP`, `hostIPC`, `hostPID`.

**Why is this needed**:

The kubernetes object API is intended as both a platform for people to write,

[2020-06-16 00:08] adamhjk commented on #92159
/sig api-machinery

[2020-06-16 00:11] ritazh commented on #92157
+1

[2020-06-16 00:22] enj commented on #92157
@kubernetes/sig-api-machinery-feature-requests

Perhaps the OPA approach for configuring a webhook via a YAML manifest is incorrect.  I think it may make more sense for OPA to provide a controller that watches all OPA policies and then generates the appropriate admission webhook on the fly (and deletes it when there are no OPA policies).  This seems more sustainable to me because then the cluster

[2020-06-16 00:26] alejandrox1 commented on #91263
Checking up on this again, wanted to give the job more time to run at at least now it is flaky.
The thing that is going on is definitely related to the cpu manager
[code]

That bit has been continuously showing up in all the system logs.
The cool thing is that the workloads being tested do delete the checkpoint file.
see
* https://github.com/kubernetes/kubernetes/blob/3918393e04324f709832c52ef86ca

[2020-06-16 00:27] alejandrox1 commented on #91263
Also, for future reference: been debugging these test with this command
[code]

[2020-06-16 00:27] adamhjk commented on #92159
FWIW, if this is a thing that's worth having, I'm happy to invest in seeing how to send a patch.

[2020-06-16 00:28] #70816 closed

[2020-06-16 00:41] thepudds commented on #92159
Hi @adamhjk, on mobile, so just a quick note, and sorry if this is off-base.

Regarding:

And:

I just wanted to point you to golint, including:

https://github.com/golang/lint/blob/master/lint.go#L770

Many (but not all) Go codebases follow the initialisms defined by golint. That might help you get to an 80% solution in terms of programmatically knowing the right casing?

That said, I realize tha

[2020-06-16 00:46] patrick-east commented on #92157
Thats an interesting point. I guess the downside is that there would be a window of opportunity when a new CRD is added and the proposed controller detecting it and updating the webhook configuration where policies that would otherwise have been applied were ignored. I would hazard a guess that the folks who want fail-closed admission webhooks would not be keen on having that sort of problem.

[2020-06-16 00:48] adamhjk commented on #92159
@thepudds thank you! Yeah, that was helpfully pointed out to me, and it will help us to get the behavior right - although it remains unfortunate that it has to be that way. For example, we're writing things in Rust and using Serde - so we'll have to have custom field annotations for anything that needs to serialize into a k8s object, which is unfortunate. We can, of course, deal with it - and I su

[2020-06-16 01:14] #91404 closed

[2020-06-16 01:23] wawa0210 commented on #91783
@ksubrmnn @MikkelHegn

The test scenario I described earlier deploys nginx pods (only on linux nodes), and the windows node as a client is completely ok to communicate through clusterip. . I took the time today to try to deploy this redis and then test it

[2020-06-16 01:28] JadeQin commented on #92128
yes,I upgrade directly from 1.14 to 1.18.How can I resolve this problem?Now I delete the `kubeReservedCgroup` and `enforceNodeAllocatable` in `/etc/kubernetes/kubeletConfig.yaml` to  resolve it temporarily.

[2020-06-16 01:30] andyzhangx commented on #90382
user has already set `"--cloud-config=/etc/kubernetes/azure.json", "--cloud-provider=azure"`, and if does not have azure crendentials(sp or managed identity), we should panic directly. Otherwise user may be not aware of that.

[2020-06-16 01:31] andyzhangx commented on #90382
/close
@CecileRobertMichon let me know if you have any question.

[2020-06-16 01:31] #90382 closed

[2020-06-16 02:04] dims commented on #92057
found a work around

[code]

[2020-06-16 02:05] dims commented on #92057
i can easily recreate the problem locally using kubetest + local-up-cluster.sh running against containerd.

[code]

[2020-06-16 02:07] dims commented on #92057
There are some notes on differences between how dockershim and other CRI impls handle this situation:
https://github.com/containerd/cri/blob/master/pkg/server/container_execsync.go#L184-L195

@mikebrow have you run into this before?

[2020-06-16 02:08] kong62 commented on #72811
+1. Hpa based on request is very tasteless!

[2020-06-16 02:20] cofyc commented on #92142
`TestSchedulerWithVolumeBinding` requires this fake implementation and it's hard to remove it in this test because the PV controller is required to bind PV & PVC.

[2020-06-16 02:20] #92142 closed

[2020-06-16 02:26] nocanstillbb commented on #92124
cni network not install

[2020-06-16 02:26] #92124 closed

[2020-06-16 02:27] nocanstillbb commented on #92124
but is so magic this event info

[2020-06-16 02:27] BenTheElder commented on #92128
I don't know, in the future though https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-version-skew
It's not recommended or supported to make a version change that large in any component.

[2020-06-16 02:44] maxsmythe commented on #92157
One area where this breaks down is if the policy admin and the cluster admin are two different people. The biggest reason to avoid webhok calls is to prevent downtime in the webhook from causing resources to become un-modifiable. It is certainly reasonable for the policy admin to say something like "I want everyone to set an owner label on their resources" and for the root admin to specifically ca

[2020-06-16 02:46] maxsmythe commented on #92157
Also, +1 to dynamically configuring the webhook config makes it harder to reason about the state of enforcement if the webhook itself is also dynamically configurable.

[2020-06-16 02:51] willthames commented on #92159
One approach I've taken in the past to this to get reversible camel to snake conversion was to convert `hostIP` to `host_i_p`, but it really depends on how much control you have over the conversion to snake case.

[2020-06-16 02:59] chendave opened #92161 "scheduler_perf: "nil pointer dereference" detected with the metrics other than "Histogram""
**What happened**:
scheduler_perf now is not able to support metrics other than "Histogram", if other type of "metrics" is configured in test, it will throw below exception,
[code]

**What you expected to happen**:
`scheduler_perf` should show helpful error message instead of `panic: runtime error`.

**How to reproduce it (as minimally and precisely as possible)**:
Define testcase with `MetricsCol

[2020-06-16 02:59] chendave commented on #92161
/sig scheduling

[2020-06-16 02:59] chendave commented on #92161
/assign

[2020-06-16 03:06] johngmyers commented on #56306
@hakman That flake is probably #89178

[2020-06-16 03:06] borgerli opened #92162 "aws credentials provider causes ~10s-20s hangup on kubelet's initializing docker runtime"
Following commit in 1.15 on aws credentials provider  causes ~10s-20s delay(kubelet main goroutine hangup) on kubelet's initializing docker runtime for nodes of K8s clusters not running on AWS:

[Refactors and fixes bugs in AWS credentialprovider - 11efc013288a](https://github.com/kubernetes/kubernetes/commit/11efc013288a15322a6abc0852a4859f7b0785dc)

We observed **20s delay** on our 1.16 producti

[2020-06-16 03:07] borgerli commented on #92162
/sig node

[2020-06-16 03:10] spiffxp commented on #74352
/milestone v1.20
Pushed

[2020-06-16 03:12] BenTheElder commented on #92059
2.13 is the last promoted version!?
https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/images/k8s-staging-e2e-test-images/images.yaml

[2020-06-16 03:15] enj commented on #92157
Just wait until the webhook is updated before granting authorization access?  The webhook itself could enforce that if authorization is done via RBAC.  You can also use a CLI based webhook authorizer to lock this down.

I do not think I follow how this is related to the current issue.

You could make it "static" and updated via a script if you really wanted more explicit control.

[2020-06-16 03:22] BenTheElder commented on #92059
https://github.com/kubernetes/k8s.io/pull/958

[2020-06-16 03:34] maxsmythe commented on #92157
In your first post you mentioned that dynamically updating the webhooks would be a better user experience because the user would only have to manage one thing. I was contending that having two control levers with different levels of privilege is a feature, as it allows for organizations to scale operations via specialization and delegation. Such delegation is not currently possible if a root admin

[2020-06-16 03:45] enj commented on #70679
They will be deprecated in 1.22 which is still a year away #90603

[2020-06-16 03:52] windayski opened #92164 "Node become NotReady and got "use of closed network connection" in kubelet logs"
**What happened**:
A node become NotReady. And after check kubelet's log, I got something like:

[code]

Obviously, kubelet loses connection with apiserver due to some network problems. The solution is to restart kubelet. After that, the node become Ready.

But I found a PR here https://github.com/kubernetes/kubernetes/pull/78016 , the kubelet has the ability to force close connections on heartbea

[2020-06-16 03:59] howardshaw commented on #81677
any update?
We are facing the same issue.
Customer may config a small cluster cidr/service ip range, as the cluster get bigger,customer need to add more cluster cidr/service ip range.

[2020-06-16 04:15] zigmund commented on #92144
I was wrong, problem not only with this container.
I'll close the issue and take some time to investigate.

[2020-06-16 04:15] #92144 closed

[2020-06-16 05:25] ffledgling commented on #23880
+1 for metallb, IP pools are often limited in bare-metal deployments and often having two different LBs per-protocol makes it especially annoying from a configuration point of view for applications that try to talk over both UDP and TCP.

[2020-06-16 05:27] adamhjk commented on #92159
That’s a nice hack! I still think we should fix it in the object model, though :)

[2020-06-16 05:32] #86765 closed

[2020-06-16 06:05] Pingan2017 commented on #92164
This seems to be a dupe of #87615

[2020-06-16 06:12] andyzhangx opened #92167 "GetLabelsForVolume panic issue for azure disk PV"
**What happened**:
Overview
========

A persistent volume claim / storage class configured in a certain way can cause all the Kube API servers on an ARO cluster to crashloop.

We’ve seen this issue on a production cluster (ICM 192488792).  In development we have proven one vector by which the cluster could have got into this state but it doesn’t seem that likely.  We wonder if there are other vect

[2020-06-16 06:13] andyzhangx commented on #92167
/assign @andyzhangx

[2020-06-16 06:26] #91490 closed

[2020-06-16 06:34] zhouya0 opened #92170 "Scheduler should care toleration seconds"
**What would you like to be added**:
Scheduler `TaintToleration` plugin should ignore those tolerations with `tolerations seconds`.

**Why is this needed**:
`toleration seconds` should be used  in case like:
- "Pod can continue to run on this node for a period of time before eviction since the node has a new taint now".

But not the case like:
- "Pod can be scheduled to this node which has a taint

[2020-06-16 07:04] Alien2150 commented on #91880
@shivrajjadhav733 I am not too deep into that. But here is my closest guess: This db check needs to be implemented in some code in Spring Boot itself (Probably around DataSource Implementations). So if you adopt that code to match these handlers: (See code samples here: https://spring.io/blog/2020/03/25/liveness-and-readiness-probes-with-spring-boot) it should do the trick.

[2020-06-16 07:05] divyamamidi opened #92171 "log rotation at container level in kubernetes"
We have aks cluster deployed on azure and we want to set log rotation for the containers deployed on the nodes
we have to enable log rotation at conatiner level using yaml configuration which is similar to
"docker run --log-opt max-size=10m --log-opt max-file=5 my-app:latest" using docker containers
how do we achieve this.

I saw configuration to be made at node level to achieve this but how do we

[2020-06-16 07:40] morimoto-cybozu commented on #92019
@aojea
Thank you for your suggestion.  My ongoing fix will be heavily affected by the KEP you pointed out because I'm moving termination responsibility from `graceful_termination.go` to `proxier.go`.
SataQiu's fix, on the other hand, would not be affected because it just adjusts the real server's weight only when the server is not managed by the graceful termination manager.

[2020-06-16 07:50] #88986 closed

[2020-06-16 07:50] #90854 closed

[2020-06-16 08:22] nadav-lavy-exa commented on #87220
I'm having this issue as well.
minikube version: v1.11.0
commit: 57e2f55f47effe9ce396cea42a1e0eb4f611ebbd

[2020-06-16 08:42] fvigotti commented on #91073
got same problem in a old cluster, ( up since 3+years) after updating to kube 1.18 , one node kubelet start logging those errors ( ~10 errors/minute with various resources)
[code]
I've now just restarted kubelet and now seems working again..

[2020-06-16 08:46] nicolacdnll opened #92175 "kubelet can't find predefined cgroup set as cgroupRoot"
**What happened**:

kubelet can't find predefined cgroup set as cgroupRoot (see [docs](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/kubelet/config/v1beta1/types.go)), and it fails to start saying that the cgroup doesn't exist.

[code]

**What you expected to happen**:

I expected Kubelet to accept the cgroup and start using it for all the pods.

**How to reproduce it (as

[2020-06-16 09:00] shay-berman commented on #82407
what is the resolution of this ticket?

[2020-06-16 09:10] serathius commented on #91490
JSON format was implemented. I created a follow up PR updating logging format flag help message https://github.com/kubernetes/kubernetes/pull/92177

[2020-06-16 09:10] morimoto-cybozu commented on #92019
And I think that my ongoing fix is not appropriate for the issue.  It roughly combines the graceful termination functionality with the reconciliation while they may need different intervals.  If I stick to this type of change, I should make a new proposal.
SataQiu's fix seems a right fix.

[2020-06-16 09:18] heckad commented on #89995
@riking how long wait?

[2020-06-16 09:29] yangshuhao commented on #70179
I have the same problem; i want to known, how to solved?

[2020-06-16 10:45] tedyu commented on #92175
Was the log level set at 4 ?
Below is from cgroupManagerImpl#Exists :
[code]

[2020-06-16 10:49] paulfantom opened #92180 "kubelet_running_pod_count includes Completed pods"
**What happened**:
`kubelet_running_pod_count` metric reported too high values due to including terminated pods created as a result of a CronJob (pod status `Completed`).

**What you expected to happen**:
`kubelet_running_pod_count` includes only data about currently running metrics

**How to reproduce it (as minimally and precisely as possible)**:
1. Check value of `kubelet_running_pod_count`
2.

[2020-06-16 10:52] paulfantom commented on #92180
/sig instrumentation

[2020-06-16 11:17] pohly commented on #83323
/cc

[2020-06-16 11:47] jprzychodzen commented on #92149
/assign @knight42
An attempt to fix this was done in #92134

[2020-06-16 11:52] knight42 commented on #92149
@jprzychodzen #92134 just reverts the changes, actually I have opened anthoer PR #92163 to fix this problem, but haven't got a `/ok-to-test` yet.

[2020-06-16 11:52] knight42 commented on #92149
/assign

[2020-06-16 11:58] soltysh commented on #36304
We'll try to address this as part of https://github.com/kubernetes/enhancements/issues/1440

[2020-06-16 12:05] ahg-g commented on #91983
Yes, `plugins`.

To summarize:

1) The short term plan is to remove the unit tests dependency on the internal pkg by offering a testing pkg inside the framework to create Snapshot/SharedLister. However, this is best effort form the scheduler sig, and so no guarantees are offered here.

2) The long term plan is to move the scheduler framework and plugins to the staging repo.

[2020-06-16 12:09] liggitt commented on #92159
Accepting/normalizing incorrect data introduces ambiguities into the system and requires all consumers of API manifests to do similar normalization (reading data out of manifest files is a reasonable thing to do currently, but would be less reasonable if the manifest files could contain any variety of non-normalized fields)

The openapi schema is published with exact field names used in the API… I

[2020-06-16 12:32] nicolacdnll commented on #92175
No, it wasn't. I added it to `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`, and, as you can see below, I got the output you expected! Thank you! (I should have added the `--v` flag before, my bad)

[code]

Looking at this output, the double `.slice` in `pods.slice.slice` caught my attention. I edited the `config.yml` from `cgroupRoot: /pods.slice` to just `cgroupRoot: /pods` and it worke

[2020-06-16 12:32] #92175 closed

[2020-06-16 12:39] zhouya0 commented on #92180
Should we have `false` here? https://github.com/kubernetes/kubernetes/blob/0a1e58913c5f9cbfe0fe46d11d48e6968b7ce11d/pkg/kubelet/pleg/generic.go#L203

[2020-06-16 12:52] esnible commented on #86739
/remove-lifecycle rotten

[2020-06-16 13:00] cofyc opened #92186 "Share pod volume binding cache via framework.CycleState"
This is part of https://github.com/kubernetes/kubernetes/issues/90962.
/sig storage

[2020-06-16 13:00] cofyc commented on #92186
/assign
working on it

[2020-06-16 13:00] cofyc commented on #92186
/kind cleanup

[2020-06-16 13:06] nikhita commented on #91881
/area dependency

[2020-06-16 13:40] mikebrow commented on #92057
Came up here:
https://github.com/containerd/cri/pull/1256

[2020-06-16 13:41] gnufied commented on #80488
@stoyanr as far as I know  CSI controllers don't support this mechanism yet. I haven't yet thought about how this is going to look like. It can be implemented using `VolumeAttachment` API type that now exists for tracking volume attachments or can be implemented using `LIST_VOLUME` RPC call that was introduced in CSI.

[2020-06-16 13:47] paulfantom commented on #92180
I would say yes. The metric name suggests value is only about running containers, so IMHO exited containers shouldn't be included.

Created a PR with this fix in #92187

[2020-06-16 13:52] mikebrow commented on #92057
I think what I said in that PR still applies.. I would expect kubectl -it to have a -d detach mode if background operation is the desired mode see docker exec -d option.

[2020-06-16 14:19] alculquicondor opened #92189 "Add profile label to existing scheduling metrics"
/sig scheduling

Ref kubernetes/enhancements#1451

As described in the [KEP for Multiple Profiles](https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling/1451-multi-scheduling-profiles), we decided to add a profile label to the following metrics:

  - "schedule_attempts_total"
  - "e2e_scheduling_duration_seconds"
  - "scheduling_algorithm_duration_seconds"
  - "scheduling_algo

[2020-06-16 14:20] alculquicondor commented on #92189
cc @ahg-g @Huang-Wei

[2020-06-16 14:26] stoyanr commented on #80488
@gnufied So, even if CSI drivers return `DanglingError` as mentioned above, this wouldn't work, correct? What could we do to raise the priority of the corresponding CSI controller implementation? We saw this issue rather frequently in the past particularly on Azure with the in-tree controllers, then it was fixed with #81266. We planned to enable CSI drivers by default on Azure with 1.19 but are no

[2020-06-16 14:27] rfranzke commented on #80488
cc @andyzhangx

[2020-06-16 14:33] enj commented on #92157
I would argue that it is possible.  The OPA webhook managing controller that I mentioned earlier could be configured with the static negative list (which it would then generate the static positive list from using discovery information) in a way that is only accessible to the root admin and not the policy admin.

I think it is too niche of a feature that only applies to policy enforcing webhooks li

[2020-06-16 14:36] yuzhiquan commented on #91904
Sorry for late pr, but  i misunderstood the issue detail.Still confuse about this `Update the semantics of PreFilter extension point to allow it to act as an early filtering stage`,shoud this issue to update prefilter extention point define?

[2020-06-16 14:51] liggitt commented on #92189
cc @logicalhan

[2020-06-16 15:04] RainbowMango commented on #92070
ETCD has fixed this issue by https://github.com/etcd-io/etcd/pull/12000.

There still no semantic version for ETCD, I suggest updating the ETCD dependency with a pseudo version, can I? @liggitt

[2020-06-16 15:04] RainbowMango commented on #92070
/assign

[2020-06-16 15:15] alculquicondor commented on #92189
cc @ingvagabund

[2020-06-16 15:18] dims commented on #92162
/assign @jaypipes

[2020-06-16 15:20] jpjeery6 commented on #88791
/remove-lifecycle stale

[2020-06-16 15:21] jpjeery6 commented on #88791
Is there any way to do that?

[2020-06-16 15:54] Nefelim4ag commented on #92126
@tedyu, i look at #91453
But i talk not about static pods, and i'm not sure it directly releated.

But from other side that looks similiar:
i.e. mirror pod from api server has been deleted before containers has been stopped.

[2020-06-16 16:01] tedyu commented on #92126
The pod deletion that triggers shutdown of mirror pod doesn't have to be static pod.
If you have time, take a look at the TestDeleteOrphanedMirrorPods case in #91453
[code]

[2020-06-16 16:03] rikatz commented on #88986
To everybody following this issue, @danwinship made a PR that solved the problem (thank you Dan!)

I'm asking SIG Release to cherry pick this to current supported versions (1.18, 1.17 and 1.16) so soon, if approved there will be a new Kubernetes minor release for each of them solving this problem.

Thank you all for the patience, for providing information and helping solving this!

[2020-06-16 16:35] cheftako commented on #91628
Hi @gfelixc, if you still interested, please feel free to pick up this issue. If you have any questions, feel free to reach out on Slack. (I'm cheftako there as well)

[2020-06-16 16:37] thockin commented on #89995
Looking at this issue, I can confirm it, at least superficially - a pod with a perma-failing `startupProbe` is "ready" if there is no readinessGate defined and "not ready" if it is defined.

The question I have is whether we think that is "correct" or not?  Initially I thought it was correct, but the more I think about it the less convinced I am.

If I have defined a startupProbe and it is not pas

[2020-06-16 16:44] adamhjk commented on #92159
@liggitt thanks! Generating from the OpenAPI specification can work. It often requires intervention to be idiomatic - check out this repo as an [for a rust binding as an example]( https://github.com/Arnavion/k8s-openapi), and the list of [fixes here]( https://github.com/Arnavion/k8s-openapi/blob/master/k8s-openapi-codegen/src/fixups/upstream_bugs.rs). That crate (which is excellent) has lots of ex

[2020-06-16 16:53] Riaankl opened #92194 "Write checkServerVersion Test - 1 Endpoint Coverage"
# Progress <code>[6/6]</code>

-   [X] APISnoop org-flow: [checkServerVersionTest.org](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/checkServerVersionTest.org)
-   [X] Test approval issue: [kubernetes/kubernetes#92194](https://github.com/kubernetes/kubernetes/issues/92194)
-   [X] Test pr: kuberenetes/kubernetes [#92532](https://github.com/kubernetes/kubernetes/pull/92532)
-   [x] Two

[2020-06-16 16:54] heckad commented on #89995
Also, the app should not be ready in `terminating` status.

[2020-06-16 17:06] #92161 closed

[2020-06-16 17:09] lavalamp commented on #92157
In general, relying only on front door enforcement and not having a reconciliation plan is not a safe strategy in a distributed system. A common way of making it kind of work anyway is to just report back to the user when their constraint is in place. So, there's already necessarily a delay between "policy is added" and "policy is loaded by all necessary policy enforcers". Adding a script to add o

[2020-06-16 17:10] thockin commented on #89995
Whether a pod is ready while terminating is an entirely different question, IMO.  Apps that server network traffic probably need to "drain" and to do that they need to stay "ready" for a while as upstream LBs de-program.

Let's not conflate issues, please.

[2020-06-16 17:12] avorima opened #92195 "fake client-go panics after deployment scale"
**What happened**:

Scaling and then reading the scaled deployment panics when using a fake client.

**What you expected to happen**:

Reading a recently scaled deployment works when using a fake client.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Running this test results in

[code]

The panic comes from this this type assertion: https://github.com/kubernetes/kuber

[2020-06-16 17:26] caesarxuchao commented on #92157
Can you use the [ObjectSelector](https://github.com/kubernetes/kubernetes/blob/0a1e58913c5f9cbfe0fe46d11d48e6968b7ce11d/staging/src/k8s.io/api/admissionregistration/v1/types.go#L274) to exclude the system-critical resources? Though note that:
https://github.com/kubernetes/kubernetes/blob/0a1e58913c5f9cbfe0fe46d11d48e6968b7ce11d/staging/src/k8s.io/api/admissionregistration/v1/types.go#L270-L271

Ma

[2020-06-16 17:35] dashpole commented on #58638
I brought this up at sig-node today. There was agreement that it was a reasonable request to add namespace UID.  There are still two concerns: scalability of having all nodes watching all namespaces, and the mechanism to expose namespace UID, as there are limitations (which you point out).  For the mechanism to expose metadata, i'd recommend either updating the CRI logging KEP with your proposed c

[2020-06-16 17:37] cben commented on #71685
#72606 was an improment but many of the original observations still stand.
Here's what I found looking at 75 latest PRs (~67 human-written ones if you discount 8 "Automated cherry pick"):

### Few people uncomment & retain the rest

The instruction to "uncomment only one /kind line" seems to suggest keeping all the other options present with `> ` prefix, but few people do that!  I found just 7, of

[2020-06-16 17:40] thockin commented on #89995
https://github.com/kubernetes/kubernetes/pull/92196

The fix seems simple - lets see what CI says.

[2020-06-16 17:43] thockin commented on #30051
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-06-16 17:46] patrick-east commented on #92157
Thanks for all the input @maxsmythe, @lavalamp and @enj ! This is good stuff 👍

Couple of questions to clarify my understanding:

Can you elaborate on that? I was under the impression that things like image scanner integrations, security checks, etc etc were pretty widely spread. Most of those fall into this policy enforcing webhook bucket that setup wide selectors.

Can you elaborate more on this

[2020-06-16 17:50] Random-Liu commented on #92057
https://github.com/kubernetes/kubernetes/issues/92057#issuecomment-644485839

This seems to be a known issue. If an exec:
1) Spawns a long running background process;
2) Leaves the IO of the background process open after exits;
3) Containerd will wait until that IO to be closed before finishing the exec.

It is arguable a bug in containerd, and the behavior of background process spawned by exec wa

[2020-06-16 17:51] caesarxuchao commented on #92157
What do you mean by sub-resources in this case? Can you make an example?

[2020-06-16 18:08] adtac commented on #90724
One potential issue that occurred to me while implementing this is the loss of the ability to do custom ordering when unreserving things if we merge the two into a single plugin. For example, a workload with three reserve plugins A, B, C (in that order) may require the Unreserve method to be called in the reverse order. That is, C may be required to be unreserved before B is unreserved.

This is t

[2020-06-16 18:11] patrick-east commented on #92157
Correct me if I'm wrong, but in theory if I go off and create my own CRD, say its a "blog" object that under the hood will generate deployment(s), service(s), PVC(s), etc. I don't have to expose any sort of template to the end-user to allow them to inject their own labels onto the things the "blog" controller creates automatically. Say I go look at https://operatorhub.io/, what I don't have a good

[2020-06-16 18:11] cben commented on #71685
### Suggestions

It seems delete-all-irrelevant mechanic is better than "uncomment" mechanic.  It avoids markdown pitfall, the end result has less noise, and most people choose it anyway.

What if the template had them without `> ` prefixes?
This would prevent mistakes of the last kind, where `>` prevented bot from seeing contributor's choice!

[code]

A downside is that when somebody is lazy / mi

[2020-06-16 18:12] portante commented on #58638
Great!

Happy to do this.  I am not sure about the KEP process, so if somebody could work with me on that, that would be great.

Not sure a node would need to watch all namespaces.  They just need the UID of the namespace at the time a container for a pod is instantiated on a kubelet.  So a node runs a sub-set of pods, and in turn a sub-set of namespaces.  Seems like having the UID of the namespac

[2020-06-16 18:16] cben commented on #71685
OK, that answers the question about bot & fenced blocks :grin: ^^^^^

/remove-kind api-change
/remove-kind cleanup
/remove-kind documentation
/remove-kind failing-test
/remove-kind feature

[2020-06-16 18:17] cben commented on #71685
/remove-kind design
/remove-kind flake

[2020-06-16 18:19] alculquicondor commented on #90724
The intention is for Reserve/UnReserve to act as "assume" and "cancel-assume", so they are informational [1]. Doing the actual binding of resources should happen in PreBind, just like our VolumeBinding plugin does [2]

The other thing is that plugins should be independent of each other, so order shouldn't matter. However, one thing we should expect from Unreserve calls is for them to be idempotent

[2020-06-16 18:21] liggitt commented on #87869
I'm on the fence here... consistency is generally good. Instant rollout of a settings change across all components is sometimes exactly what you want and is sometimes definitely not what you want. Imagine all kube-proxy instances on all nodes flipping behavior instantly on a configmap change... a bad config push would take down the network on all nodes.

[2020-06-16 18:26] liggitt commented on #89859
If there's any question about being able to pick up a fixed cadvisor soon enough to soak appropriately before 1.19, I'd expect sig-node to roll back cadvisor to the last working commit

[2020-06-16 18:51] tallclair commented on #92157
This is going to apply generally to any admission webhooks that need to operate on ObjectMetadata across resource types. In the case of GateKeeper, as soon as you specify any label constraints (e.g. "objects must have a `who-do-i-notify` label set"), which I expect to be fairly common, you lose any performance benefits to DCC.

Also, while it may be acceptable to have a window of inconsistent poli

[2020-06-16 19:01] tedyu commented on #92057
Among the callers of HandlerRunner#Run is the following from  kubeGenericRuntimeManager#startContainer :
[code]
We should find a proper value for the timeout.

[2020-06-16 19:33] matthyx commented on #89995
Sorry, I don't spend much time on slack... you could have checked the release notes in 1.18 ;-)
Tim's fix seems good, thanks!

[2020-06-16 19:38] cmluciano opened #92198 "Update ingressclass admission controller to handle IngressClass no found"
**What happened**:

The [existing ingressclass admission controller](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/defaultingressclass/admission.go) is susceptible to rejecting pods containing both an ingressclass and an ingress.

**What you expected to happen**:

NotFound lookups should fall back to a live lookup in admission

**How to reproduce it (as minimally and pr

[2020-06-16 19:38] cmluciano commented on #92198
/assign @cmluciano
/sig network

[2020-06-16 19:40] cmluciano commented on #92147
/remove-triage unresolved

[2020-06-16 19:46] #87290 closed

[2020-06-16 19:49] avorima commented on #92195
/sig api-machinery

[2020-06-16 20:03] cmluciano opened #92199 "Add additional e2e test for namespaced IngressStatus"
**What happened**:

apisnoop.cncf.io is lacking tests according to last [June 15th 2020 e2e run](https://apisnoop.cncf.io/ci-kubernetes-e2e-gci-gce/1272622718801416192/beta/networking/readNetworkingV1beta1NamespacedIngressStatus)

**What you expected to happen**:

We need to create a namespaced IngressStatus and list it similar to the [namespaced ConfigMap test](https://github.com/kubernetes/kuber

[2020-06-16 20:03] cmluciano commented on #92199
/assign @cmluciano
/sig network

[2020-06-16 20:24] fedebongio commented on #92110
/assign @deads2k

[2020-06-16 20:26] #90763 closed

[2020-06-16 20:27] fedebongio commented on #92157
/assign @lavalamp @caesarxuchao
wondering if we can discuss this one in the bi-weekly meeting?

[2020-06-16 20:28] fedebongio commented on #92159
/assign @liggitt
thank you for your reply

[2020-06-16 20:30] lavalamp commented on #92157
Yes, this would be a good SIG meeting topic, but tomorrow's meeting might
be too short notice.

On Tue, Jun 16, 2020 at 1:27 PM Federico Bongiovanni <
notifications@github.com> wrote:

[2020-06-16 20:39] deads2k commented on #92157
Reading this made me think of initializers again.  For namespaces, we have use-cases where we would like to allow third party controllers to add resources to a namespace before "normal" content could be created in it.  Things like quota for instance.

The use-case for CRDs wanting admission seems similar.  If we had the concept of an initializer on a CRD, you could avoid gaps and have generic capa

[2020-06-16 20:45] iwankgb commented on #89859
This is up to @dashpole, but I think that code freeze has been postponed until July 9th so it should be possible to prepare a cAdvisor release in time to integrate it.

[2020-06-16 20:46] cmluciano commented on #92199
/remove-triage unresolved

[2020-06-16 20:47] cmluciano commented on #92198
/remove-triage unresolved

[2020-06-16 20:59] lavalamp commented on #92157
Hm, that wouldn't need to be exactly like an initializer in that there's no need to hide the resource from the rest of the system prior to it being installed, since the system already tolerates CRDs that aren't being run due to an error. It could be more like a gate, like the pod readiness gate or whatever.

Another potential puzzle piece: I am thinking that maybe it'd be useful to let e.g. static

[2020-06-16 21:03] ahg-g commented on #90724
I think calling in reverse order makes sense with proper documentation it should be fine.

[2020-06-16 21:04] lavalamp commented on #92157
Right, well, that policy is broken, you can't actually have a policy like that. It has to either except the problematic types or list the protected types. The alternative is to selectively not enforce the policy, at the system administrator's discretion. I think if I were using a system like this I'd want the property that all the policies in the system are enforced exactly as written. Even if tha

[2020-06-16 21:08] mrunalp commented on #92057
We have a similar issue with CRI-O. I agree with @Random-Liu that we should define this clearly and meanwhile setting a timeout makes sense.

[2020-06-16 21:18] patrick-east commented on #92157
But if the webhook can't be called (original scenario being some network issue) then it doesn't really matter what the policy or webhook implementation does. The behavior to skip certain objects has to be on the api server side.

Yes, and I think this is a good summary of what is being proposed. It's a mechanism to allow the system administrator to do just that.

Agree, although it is unclear how

[2020-06-16 21:21] maxsmythe commented on #92157
Excellent points all, I agree a meeting would be good as there is a lot of data bandwidth in this discussion.

A few counter-points:

I think "installed correctly" is a matter of perspective here. In cases where there is a root system admin placed above the policy admin, they would need the ability to scope webhooks such that they don't interfere with cluster ops. NPC is better for validating scop

[2020-06-16 21:36] enj commented on #92157
I would expect statically configured webhooks to still reload their config like we do for CA bundles.

[2020-06-16 22:13] tallclair commented on #92157
Relevant discussion: https://github.com/kubernetes/enhancements/pull/1712#discussion_r417485497

[2020-06-16 22:46] DirectXMan12 commented on #88546
it's pretty trivial, IIRC, to do stuff like this with Zap -- Zap supports sampling of frequent messages ootb, FYI.  It's one of the nicer logr backends, IMO.

[2020-06-17 00:10] Riaankl commented on #90916
/assign @BobyMCbobs

[2020-06-17 00:11] Riaankl commented on #90877
/assign @BobyMCbobs

[2020-06-17 00:11] mrkm4ntr commented on #90724
I don't foresee any problems.  Reverse order seems to be fine.

[2020-06-17 00:32] mrunalp commented on #92057
I have opened https://github.com/kubernetes/kubernetes/pull/92205 to fix the tests.

[2020-06-17 01:15] johngmyers commented on #89178
/remove-lifecycle stale

[2020-06-17 01:16] andrewsykim commented on #92019
/assign

[2020-06-17 01:21] andrewsykim commented on #92019
I think the proper fix here is to track the terminating endpoints (soon available via EndpoitnSlice) and set the weight according to that. However, we can't track the terminating state for Endpoints so we still need to account for that. Not sure yet what the best approach is, will review the PR from @SataQiu soon

[2020-06-17 01:25] RainbowMango commented on #91937
Same issue with https://github.com/kubernetes/kubernetes/issues/92070.

/assign

[2020-06-17 01:38] damemi commented on #89178
/assign

[2020-06-17 01:39] RainbowMango commented on #92070
The required version in k/k go.mod is weird:
https://github.com/kubernetes/kubernetes/blob/f455a143df9dcc0911b5f7ea2449d58801a3f080/go.mod#L102

Do you know why we use this  v0.5.0-alpha.5.0.x instead of v3.4.x ？involved @dims as well.

The etcd commit ID which fixed this issue is `ed04d0d98aad8e41c0176a27a792e8ab114f53e8`, how to get the version for go.mod?

[2020-06-17 01:43] cofyc commented on #90724
Reverse order SGTM

[2020-06-17 01:52] cofyc commented on #83323
@pohly the kep is sent out for the review https://github.com/kubernetes/enhancements/pull/1862

[2020-06-17 01:53] liggitt commented on #92070
etcd was just updated in https://github.com/kubernetes/kubernetes/pull/92075, does that sha not include the fix?

We use a sha in our go.mod because we cannot refer to etcd using a v3.4.x semver version, because it includes a go.mod file and did not rename its module to add a /v3 suffix.

[2020-06-17 02:07] RainbowMango commented on #92070
Unfortunately it does not include the fix. The sha in #92075 is `v0.5.0-alpha.5.0.20200520232829-54ba9589114f` which commit time is `20200520232829`, but this fix's commit time is `20200612231056`.

Do you know how to create a `v0.5.0-alpha.5.0.x-x` kind version used by `go.mod`?

etcd already add /v3 suffix in its module. Should we update the import path accordingly and change it to a semantic ve

[2020-06-17 02:26] denkensk commented on #91492
The second problem was addressed in https://github.com/kubernetes/kubernetes/pull/91986
I will fix the third problem after the preemption is moved into its plugin.

[2020-06-17 02:31] liggitt commented on #92070
Is etcd fixed in the 3.4.x branch?

[2020-06-17 02:41] RainbowMango commented on #92070
No.
https://github.com/etcd-io/etcd/blob/91b1a9182ae66fc62e61f3bd2a6f395554b57abf/etcdserver/etcdserverpb/raft_internal_stringer.go#L163

[2020-06-17 03:05] knight42 commented on #92195
/assign

[2020-06-17 03:08] junneyang commented on #88257
why close

[2020-06-17 03:14] liggitt commented on #92070
Can that fix be picked to 3.4.x compatibly?

[2020-06-17 03:16] junneyang commented on #24725
+1 Our application is designed in such a way if container crash it will start again, if not we want to just ignore the health check error,  We need option "spec.template.spec.restartPolicy" : "OnFailure".

[2020-06-17 03:16] RainbowMango commented on #92070
Sorry, I can't get your point, why you ask? And can you share a guideline about what we should do?

[2020-06-17 03:36] zhouya0 commented on #92170
/sig scheduling

[2020-06-17 03:48] skilxn-go commented on #92170
![image](https://user-images.githubusercontent.com/8231208/84852867-7ac91880-b090-11ea-9094-128100624229.png)
I think the behavior, in this case, is defined clearly.

[2020-06-17 03:56] tedyu commented on #91881
#92078 has been merged.

[2020-06-17 04:17] Rajalakshmi-Girish commented on #92070
looks like it doesnot fix the below error:

[code]

[2020-06-17 05:24] mythi opened #92211 "allow non-root user containers to use devices"
**What happened**:
Detailed report in a [google doc](https://docs.google.com/document/d/1SX4o71AIIrJAzbGJEIfhT2NxQpPvLlrHiZj5uUawWxk/edit)

TL;DR; CRI container runtimes do not follow `securityContext` (`runAsGroup`  / `runAsUser`) when creating `config.json` for device mounts (coming from the device plugins).

This blocks using non-root users with containers that require device resources.

**What

[2020-06-17 05:25] mythi commented on #92211
/sig node
/cc @mikebrow @mrunalp @RenaudWasTaken @kad

[2020-06-17 05:57] #86986 closed

[2020-06-17 06:14] danielqsj opened #92213 "addon-manager should not be blocked by spec conflicts"
**What happened**:

If any specs in addon folders have conflicts with the runtime specs, the addon-manager will not respect the expected specs which defined in addon folders, and it also not continue execute the prune part.

**What you expected to happen**:

If there are conflicts, the addon-manager should use `replace` instead of `apply`, and then the prune part should always be executed.

**How

[2020-06-17 06:31] caesarxuchao commented on #65200
https://github.com/kubernetes/kubernetes/pull/78990 tried to add `resource` and `namespace` field to the `ownerReference`.  It brings us one step closer to fix this issue. @deads2k do you have plan to revive that PR?

[2020-06-17 06:33] liggitt commented on #65200
Something like that, probably the namespace+group+kind+uid coordinates. I had a quick proof of concept around this but hadn't satisfied myself that it behaved well in all conditions.

[2020-06-17 06:34] sayanchowdhury commented on #90761
The runs in last few days have been well under 60m, except for [one](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-master/1272514756925722626)

[2020-06-17 06:46] caesarxuchao commented on #65200
Based on https://github.com/kubernetes/kubernetes/issues/65200#issuecomment-645180760, I see that we are not trying to validate the ownerReference during create/update, but trying to fix cache of gc to make its behavior deterministic, letting gc immediately delete the object if its ownerRef is pointing at wrong namespace/group/kind.

@liggitt can you share the corner cases when you are back?

[2020-06-17 06:56] nodo commented on #91111
/close

[2020-06-17 06:58] nodo commented on #91111
@alculquicondor for some reason the issue wasn't closed automatically and I don't have the permissions to do that : -)

[2020-06-17 06:58] xieyanker opened #92214 "shareProcessNamespace will cause the container no response, and restart docker will waiting for "Loading containers""
**What happened**:

shareProcessNamespace will cause the container no response, and restart docker will waiting for "Loading containers"

**What you expected to happen**:

container has response, and restart docker no problem.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create nginx pod as follows:

[code]

2. Find the `nginx: master process nginx -g daemon off` process,

[2020-06-17 07:04] xieyanker commented on #92214
/sig usability

[2020-06-17 07:23] aojea commented on #91236
/reopen
I'm afraid this is going to be challenging :smile:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=conntrack

[2020-06-17 08:20] sftim commented on #87869
For a cluster-wide implementation that doesn't imply all-at-once changes then, off the top of my head, how about either a ConfigMap of _cluster-scope_ defaults, or its own resource?

You can then put your own mechanism on top to, eg, omit a certain setting from the cluster wide defaults, manage that separately, and maybe one day when all the places are again consistent you go back to configuring a

[2020-06-17 08:27] serathius commented on #88546
Ok, but logr doesn't have methods to control it, meaning this can be set globally during setup.
Are we ok with enabling this mechanism globally? e.g. would it impact HTTP access logs if they are 2 identical repeated requests?

[2020-06-17 08:36] DancingLinks commented on #85499
Hi, I just submit a PR (https://github.com/kubernetes/kubernetes/pull/92210), mainly implement the tedyu's code, may be helpful for this issue.

[2020-06-17 08:41] erenatas commented on #83471
/remove-lifecycle rotten

This issue needs to be taken care of. It is a major problem.

[2020-06-17 08:42] erenatas commented on #83471
/remove-lifecycle stale

[2020-06-17 09:15] absolutejam commented on #53125
This is exactly my use case and it seems like a scheduler level issue, not application level. Having to wrap what seems like correct behaviour in a supervising process adds another level of complication (signal handling etc.)

[2020-06-17 09:23] nikhita commented on #82531
/remove-lifecycle stale

[2020-06-17 09:27] vavenk-ms commented on #76657
We have a similar requirement for having an http health probe with a custom path. According to @pascalgn's comment, we could get an http probe by setting `externalTrafficPolicy: Local` but our service expects health probes on a different path, not `/healthz`. Looks like @pascalgn's proposed solution would work for us too. Are there any workarounds to achieve this currently?

[2020-06-17 09:29] riffling commented on #91752
/committee storage

[2020-06-17 10:53] knight42 commented on #92195
this issue is almost impossible to fix due to the limitation of the current framework.

/unassign

[2020-06-17 11:28] liggitt commented on #92213
I agree the add on manager should continue/report status better, but it's not clear that taking destructive actions by default is desirable.

[2020-06-17 11:53] AmazingTurtle commented on #66607
/remove-lifecycle stale

[2020-06-17 12:32] neolit123 commented on #90761
i'm suspecting slow CPU/network for some of the recent failures.

[2020-06-17 12:35] ArPharazon commented on #82756
/reopen
/remove-lifecycle rotten

[2020-06-17 12:36] ArPharazon commented on #82756
sigh

[2020-06-17 12:41] aroramanish080282 opened #92221 "How to use the existing ELB to load multiple service in EKS environment"
Hi All,

Here, I'm looking for options to use the existing ELB to load multiple service in EKS environment, hoping this will help me to improve the resource utilization and do the cost optimization. With the limited search/googling not able to find a easy possible way to achieve the same.

 Any inputs and ideas on this will be highly appreciated.

[2020-06-17 12:45] matias-devoto commented on #88999
Im having the same problem what was it?

[2020-06-17 12:55] everpeace commented on #85871
/remove-lifecycle stale

[2020-06-17 12:57] bartversluijs commented on #66607
Is there a workaround for this problem? (I couldn't find it on Google) It's a real bummer that I can't access my own domain name from the services that provide content for the domain. I'd like to access other services/pods by using the domain name, because the project works this way and it's weird that it doesn't work out of the box.

For the record, I'm using a DigitalOcean external LoadBalancer

[2020-06-17 13:00] martinlevesque commented on #66607
As far as I know there is no clean workaround. @bartversluijs had the same conclusion - I don't want a load balancer per subdomain simple to hit my own site.

[2020-06-17 13:14] jekakm commented on #66607
@bartversluijs it's depend on cloud control manager, for example DO has this annotation as workaround - https://github.com/digitalocean/digitalocean-cloud-controller-manager/blob/2b8677c5c9f5a32a1ebe7b92cbd2b9687fee6eaa/docs/controllers/services/annotations.md#servicebetakubernetesiodo-loadbalancer-hostname

[2020-06-17 13:19] martinlevesque commented on #66607
@jekakm Can work if you have a small number of sites, but not that great if you have hundred/thousand of hosts.

[2020-06-17 13:19] bartversluijs commented on #66607
@jekakm Yeah, I've mentioned that possibility, but I have multiple domains in my Ingress, and the `nginx-ingress` handles my LoadBalancer. If I've to setup multiple LoadBalancers for all my subdomains with that option, and add an nginx pod to handle the multiple subdomains, it's going to be an expensive mess. Besides that, it's weird that it's even needed IMHO.

[2020-06-17 13:32] jcassee commented on #66607
By the way, using the hostname instead of the IP address has an unfortunate side-effect for us.

We set up our Kubernetes clusters (on DigitalOcean) using Terraform. However, when using the hostname, the IP address is not available. So we cannot use it in our Terraform DNS resources to have the domains pointed to the cluster load balancer.

We work around that by using the DO load balancer REST AP

[2020-06-17 13:51] sslavic commented on #23386
Would it make sense to add an example to the docs? https://kubernetes.io/docs/reference/kubectl/jsonpath/

[2020-06-17 14:02] fatedier opened #92223 "Set pod ready ConditionFalse reason when node not ready"
**What would you like to be added**:
Now, we only set pod ready ConditionFalse when node is not ready.

[code]

Can we also set ConditionFalse reason like `NodeUnreachable`?

**Why is this needed**:
Users or custom controllers can know why the pod is not ready since it's logic is different with kubelet.

From kubelet

[code]

[2020-06-17 14:05] fatedier commented on #92223
/sig node apps

[2020-06-17 14:33] alculquicondor commented on #90724
Thanks guys! Let's proceed with that.

[2020-06-17 14:36] alculquicondor commented on #91111
You should have done `Fixes #91111` in your PR description, instead of `Fixes of #` 😅

Thanks for working on this! But please do the clean up follow up.

/close

[2020-06-17 14:36] #91111 closed

[2020-06-17 14:44] M00nF1sh opened #92225 "aws loadbalancer worker node SG rule logic is not deterministic"
**What happened**:
When multiple securityGroup are specified for AWS ELB type service, a random one will be chosen to grant inbound access to worker node.

**What you expected to happen**:
Always first LoadBalancer securityGroup be chosen to access worker nodes.

**How to reproduce it (as minimally and precisely as possible)**:
use `service.beta.kubernetes.io/aws-load-balancer-security-groups` or

[2020-06-17 14:45] dprotaso opened #92226 "Default PodSpec.enableServiceLinks to false"
**What would you like to be added**:
I would like the default for `enableServiceLinks` to be changed from `true` to `false`

**Why is this needed**:

I think the default behaviour is unexpected for new users. Having this be an opt-in feature may be more predictable.

References:
https://github.com/kubernetes/kubernetes/issues/60099
https://github.com/elastic/cloud-on-k8s/issues/2030
https://github

[2020-06-17 14:49] nodo commented on #91111
My bad sorry for the typo :-)

No worries and I will definitely follow up with the clean up. Thanks for the reviews!

[2020-06-17 14:55] M00nF1sh opened #92228 "AWS LoadBalancer creation fails if secondary CIDR are disassociated and associated"
**What happened**:
If secondard CIDR are disassociated and associated again, AWS LoadBalancer creation fails.
It's due to the VPC state is like
[code]
so CIDRBlock `100.64.0.0/24` is added twice to securityGroup rules, which result in `InvalidPermission.Duplicate: the specified rule already exists` error

**What you expected to happen**:
only associated CIDR are considered when calculate VPC CIDR

[2020-06-17 14:56] deads2k commented on #92157
Yes, similar.  A spec field could indicate that additional .status.conditions are required before serving  the CRD.  This would allow for reaction for admission webhooks or any other awesome thing needed.

[2020-06-17 15:01] dprotaso commented on #92226
Dunno where PodSpec falls - best guess is

/sig api-machinery

[2020-06-17 15:39] adtac opened #92229 "Scheduling framework: test more failure points that trigger Unreserve"
See https://github.com/kubernetes/kubernetes/blob/1b93ae57746e0d7a2a553baa9fc53da399c0bd72/test/integration/scheduler/framework_test.go#L963 - currently there's just one test that triggers Unreserve through a pre-bind failure.

[2020-06-17 15:40] adtac commented on #92229
/sig scheduling

[2020-06-17 15:43] vishiy commented on #68522
@dashpole  - Now that --enable-cadvisor-json-endpoints defaults to false with 1.18, whats the recommended equivalent for /spec/ to get machineinfo ? It would be great if we can provide alternatives for each of the endpoints we are deprecating (and removing).

[2020-06-17 15:55] soltysh commented on #90066
I'm personally leaning towards what @lavalamp proposes, iow. suppresing these fields on a case-by-case, namely edit and describe should not display them. get -oyaml or -ojson should be completely neutral and should always give you full dump of the resource as it exists on the server. I can totally support the exclude fields idea for get, though.

This will be discussed in a few minutes during SIG-

[2020-06-17 16:00] wsams commented on #55046
I've been looking for a feature like this. In the meantime I hacked together this fish function to help display resource usage across all nodes for a given namespace. I haven't taken the time to actually sum resources but shouldn't be hard to implement. This just shows a nicely formatted table for `Non-terminated Pods`.
[code]

[2020-06-17 16:27] mikebrow commented on #92211
Note: The securitycontext (runAsGroup / runAsUser) is explicitly stated to be for the container processes. There is no directive or suggestion in the runtime spec or CRI api that the process uid/gid (linux) should be applied to each device uid/gid. And it is a valid issue to resolve, a means for assigning device uid/gid.

[2020-06-17 16:49] jclangst commented on #82595
Can confirm this appears where using k8s 1.16 on KOPS. It would be phenomenal to get cross-zone load balancing and healthcheck configuration annotations available for the NLB load balancer types. Related: #86624

[2020-06-17 17:07] liggitt commented on #92226
/remove-sig api-machinery
/sig node

Thanks for the request, but changing defaults in an existing API is not backwards compatible, and changing this particular default would break many existing users. Our compatibility guarantees are intended to keep existing API versions operating in backwards compatible ways.

[2020-06-17 17:07] #92226 closed

[2020-06-17 17:08] #82768 closed

[2020-06-17 17:27] dprotaso commented on #92226
Is there an umbrella PodSpec v2 issue that's tracking potential future changes?

[2020-06-17 17:27] maskeda commented on #23404
This is still an issue, if I send a an object with no newline character into a secret, it should come out as an env variable without a newline character. I should not have to add code to mitigate this. Command used:
```kubectl create secret generic pcf-events --from-file=password=password.txt```

[2020-06-17 17:30] marosset commented on #73434
/reopen
/remove-lifecycle rotten

[2020-06-17 17:35] maskeda opened #92231 "Variable in Dockerfile for CMD and ENTRYPOINT not being read when in standard JSON format"
**What happened**:
Variable in Dockerfile for CMD and ENTRYPOINT not being read when in standard JSON format

**What you expected to happen**:
I expect stand alone docker to work the same as docker underneath kubernetes

**How to reproduce it (as minimally and precisely as possible)**:
Dockerfile that works in standalone docker:
[code]

Dockerfile that works in standalone docker and docker with ku

[2020-06-17 17:46] maskeda commented on #92231
/sig usability

[2020-06-17 17:48] hh commented on #90957
/reopen

While we did push through this first iteration, this ticket is for ongoing discussion of watch tooling and refactoring of the approach.

[2020-06-17 17:50] alejandrox1 commented on #91263
Think I found something.
there clearly is an error with the checkpoint file for the cpu manager state.
While browsing through the logs i noticed these bits...

[code]
I added some extra "STEP"s but essentially npb ep runs, pod is deleted (as per the e2e test), then the checkpoint file is removed in a postexec hook.
Notice the timestamp: 13:58:57

Then I was looking for any interesting CPU manager

[2020-06-17 17:52] alejandrox1 commented on #91263
Added some extra logging during the test and the checkpoint file is indeed being updated with the following
[code]

[2020-06-17 18:10] gfelixc commented on #91628
Hi @cheftako. Yes, I'm still interested. Thanks

[2020-06-17 18:15] robscott commented on #47711
A quick follow up to let you know we haven't forgotten about this issue. From what we can tell, this is being caused by an Endpoints informer cache that can potentially be out of date when syncService() runs. Essentially syncService() would be called twice - once for the delete and once for the create event. There's a chance that when the second run of syncService() happens the Endpoints cache may

[2020-06-17 18:37] liggitt commented on #92226
https://github.com/kubernetes/kubernetes/issues/8190 is the closest thing I know of

[2020-06-17 18:38] SumantPangotra opened #92232 "Deployment Label Selector update with apps/v1 not throwing 'field is immutable' error and changes are not getting reflected"
kubectl version --short Client Version: v1.15.0 Server Version: v1.14.10-gke.36

I am trying to update a deployment's Label Selector with apps/v1 API, which as per Kubernetes documentation (documentation) should error out. But in practice kubectl apply -f <filename> is not throwing any error and changes are not visible in deployment.

Existing deployment kubectl get deployment my-deployment -o yam

[2020-06-17 18:38] davejrt commented on #85761
@stephan2012 in your example, the output of describe shows:
[code]

https://cloud.google.com/kubernetes-engine/docs/how-to/updating-apps

[2020-06-17 18:40] SirensOfTitan commented on #76338
@hzxuzhonghu, @paulgmiller: Question: do you have any idea of a reasonable workaround here?  This does indeed seem really rare, but having been affected by it before, it stands as a pseudo black swan event that makes us pretty anxious.

[2020-06-17 18:46] jclangst commented on #82595
For anyone stumbling on this same issue and trying to ensure high-availability before the annotation features are implemented, I have confirmed that you can enable cross-zone load balancing manually via the AWS console and it appears to remain resilient to future service changes. Additionally, I have done some preliminary testing with the passive health checks for NLBs and it appears clusters can

[2020-06-17 18:48] marosset commented on #73434
I have manually validated that termination grace period works today on Windows with recent builds of containerd using this project

https://github.com/marosset/windows-container-graceful-shutdown/tree/master/go

I want to add some e2e coverage in k/k.

[2020-06-17 18:49] alculquicondor commented on #92170
/kind bug

https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/#concepts

[code]

[2020-06-17 18:54] zuozp8 commented on #86246
/remove-lifecycle stale

[2020-06-17 19:09] SumantPangotra commented on #92232
/sig api-machinery

[2020-06-17 19:57] verult opened #92237 "PD in-tree plugin: migrate to stable zone/region labels"
**What would you like to be added**: The PD volume plugin is currently using beta zone/region labels. Stable labels have been introduced

**Why is this needed**: k8s is migrating to stable labels. I'm not sure what the timeline is - following up on that.

/sig storage
/sig gcp
/cc @lookuptable @misterikkit @msau42 @saad-ali

[2020-06-17 19:58] verult commented on #92237
/area provider/gcp

[2020-06-17 20:10] msau42 commented on #92237
We intentionally didn't migrate to the stable labels and instead were going to use CSI migration to convert the beta labels to the csi labels because supporting GA labels would add extra complexity to csi migration. background: https://github.com/kubernetes/kubernetes/pull/81431

However CSI migration timeline is likely to slip. We need to work with sig cloud provider to iron out the timelines. cc

[2020-06-17 20:22] tedyu commented on #92223
See this code:
[code]
Have you encountered a scenario where we come out of the loop via above but NodeUnreachable is also true ?

[2020-06-17 20:22] cheftako commented on #91628
/assign @gfelixc

[2020-06-17 20:23] cheftako commented on #91628
Happy to help, feel free to reach out on this issue or on slack (I'm cheftako there as well).

[2020-06-17 20:32] ksubrmnn commented on #91783
Hi, @wawa0210. This issue was a false repo. The issue was related to shared endpoints across multiple services. Significant refactor work was done in this area recently so we expect that the issue will be resolved in 1.19

[2020-06-17 20:33] nrb commented on #87675
/remove-lifecycle-stale

This is still affecting Velero, though we've worked around it by not using `FromUnstructured` on CRDs returned directly from the Kube API server as Unstructured via a dynamic client. We instead marshal to JSON and back for now.

I  think I may have not explained my case clearly - is there anything I can do or provide to help resolve this?

[2020-06-17 20:33] #91783 closed

[2020-06-17 20:37] PeiyuanQi commented on #86881
is there a new request for tracking this feature or not?

[2020-06-17 20:42] MikkelHegn commented on #91783
This is the actual issue we encountered: https://github.com/kubernetes/kubernetes/issues/91703 - fix is already in...

[2020-06-17 20:51] dprotaso commented on #8190
related to #92226 it'd be nice to drop service links - or make them opt-in rather than opt-out.

[2020-06-17 20:57] desertfury commented on #54491
/assign

[2020-06-17 21:28] DirectXMan12 commented on #88546
hmm... zap's built-in sampler samples of message & level, so yeah, that could happen.  A more complex sampler could do other things.  It think it makes sense to live in the utility library, but my gut also says that it doesn't really make particular sense for individual packages to configure sampling -- I'd imaging folks would want it to be up to the user, like `--v` or `--vmodule`.

If I were an

[2020-06-17 21:35] wktmeow commented on #85418
/reopen

[2020-06-17 21:39] zerkms commented on #57838
/remove-lifecycle stale

[2020-06-17 22:22] PeiyuanQi commented on #86881
/reopen

[2020-06-17 22:25] kubealex opened #92240 "kubelet 1.18.4 cannot be installled on centos7"
**What happened**:

Tried to install k8s following documentation on Centos7
kubelet-1.18.4-0.x86_64 conflicts with containernetworking-plugins-0.8.6-1.el7.x86_64

**What you expected to happen**:
k8s installs

**How to reproduce it (as minimally and precisely as possible)**:
Add k8s repo
try to install packages
watch the conflict

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2020-06-17 22:29] alejandrox1 opened #92241 "Node e2e remote runner is broken"
**What happened**:
Not completely sure what happen but the node e2e test runner is not working and it seems to be due to https://github.com/kubernetes/kubernetes/commit/4c8e5c5a50ba72dcec3fdea06b5d6dd4897dd303#diff-cf414d98f9d30ef4489021c4415e797e
Checked commits before that one (the one right before it is https://github.com/kubernetes/kubernetes/commit/019d3ee4380959d28da07a7b14fc7583833ca433#dif

[2020-06-17 22:31] alejandrox1 commented on #92241
/asign

[2020-06-17 22:31] alejandrox1 commented on #92241
/assign

[2020-06-17 22:43] anderseknert commented on #90817
Maybe missing something obvious, but having worked for quite some time on a custom exec credential plugin it's not really clear to me how a plugin is meant to communicate failures. Our plugin sends the user to do an interactive MFA, but returning from that the only options are to return either a token or a cert - if the external authentication process returns failures, obligations or anything but

[2020-06-17 22:45] alejandrox1 commented on #92241
Interesting thing...
This is the output that the make test-e2e-node command above would output before https://github.com/kubernetes/kubernetes/pull/91543 was merged

[code]

Which is completely different from what happens now

[2020-06-17 22:53] MHBauer commented on #92241
Is there more test output? Do you see it choosing the image?

[2020-06-17 23:21] msau42 commented on #50345
Does the alternative of using [configmap items](https://kubernetes.io/docs/tasks/configure-pod-container/configure-pod-configmap/#add-configmap-data-to-a-specific-path-in-the-volume) or projected volumes work?