[2019-05-08 01:00] k82cn commented on #68357
@bgrant0607 , hm... I can draft a KEP about the motivation and the overall scope of this proposal; as you known, each item, even the sub-items, deserves a KEP on the function detail, e.g. fair-share, indexed job.

Some background here for your reference: we used to have a long long discusion about this (at ~2017); as a result, we incubate kube-arbitrator for it. We renamed kube-arbitrator to kube-

[2019-05-08 01:24] liggitt commented on #77515
I'm also in favor of removing this functionality from the apiserver. Since this is GA behavior, the deprecation period would be 12 months.

[2019-05-08 01:26] liggitt commented on #43932
Some progress, but not a lot. I know @dekkagaijin is working on switching some of the stragglers to use client config and speak to the secured port.

[2019-05-08 01:33] liggitt opened #77573 "TestUnreservePlugin is flaky"
This test just merged in #77457 and is flaky. Example failure in https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/77564/pull-kubernetes-integration/1125927448479797249/

[code]

/sig scheduling
/cc @bsalamat @danielqsj

[2019-05-08 01:37] liggitt commented on #77444
It sounds like you are wanting a way, from inside a pod, to know what address a user outside the cluster should use to speak to the apiserver. There are a few problems I see with that:
* that is not information the apiserver has today, so would require adding configuration to the apiserver
* it is not the case that there is always a single hostname or IP address extra-cluster users should use to s

[2019-05-08 01:41] feiskyer commented on #77511
@stoader thanks for reporting the issue, this is the bug we should fix for sharing resource group.

/sig azure
/kind bug
/assign

[2019-05-08 01:43] danielqsj commented on #77573
It's weird. It was passed yesterday: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/77457/pull-kubernetes-integration/1125654742274412544/

[2019-05-08 02:14] liupeng0518 commented on #76814
Can you provide a link to this bug?

[2019-05-08 02:14] liupeng0518 commented on #76814
@zhaoar92
Can you provide a link to this bug?

[2019-05-08 02:27] dekkagaijin commented on #43932
As of https://github.com/kubernetes/kubernetes/pull/77447, `-gce` test API servers have their insecure port disabled.

[2019-05-08 02:34] liggitt commented on #43932
great, didn't realize we were so close

[2019-05-08 02:37] qianzhangxa commented on #77527
@dims Did you mean `make all GOGCFLAGS=""`? I tried it just now, but the result is same, the binaries are still stripped:
[code]

[2019-05-08 03:01] tedyu commented on #77573
[code]
Should the value of unresPlugin.numUnreserveCalled be included in the error message ?
That would give us some idea how many times Unreserve is called.

[2019-05-08 03:14] danielqsj commented on #77573
@tedyu  yep. Added it in https://github.com/kubernetes/kubernetes/pull/77574. Let's see what happened.

[2019-05-08 03:31] tedyu commented on #77573
When I ran TestUnreservePlugin alone, sometimes it failed.

I doubt moving the reset() call would fix the flaky test.

[2019-05-08 03:33] zijiwork opened #77575 "hpa Unable to get memory metrics"
Hello, guys, I might need your help. I am unable to  get memory metrics when configuring metrics-server.

- Kubernetes 1.13.5
- metrics-server 0.3.1
- kernel
CentOS Linux release 7.6.1810 (Core)    4.4.176-1.el7.elrepo.x86_64 x86_64

[code]

[code]

hpa I can't get memory metrics when I use targetAverageValue.    targetAverageUtilization Parameters can work properly
[code]

[code]

The kube-porxy

[2019-05-08 03:50] zijiwork commented on #77575
@kubernetes/sig-autoscaling

[2019-05-08 03:59] logicalhan commented on #77573
Can we revert the test to unblock CI? It seems to be failing pretty consistently at this point (at least for me).

[2019-05-08 04:02] tedyu commented on #77573
I would propose the following fix:
[code]

[2019-05-08 04:02] tedyu commented on #77573
I ran with the above fix several times where the test passed.

[2019-05-08 04:07] liggitt commented on #77573
Yes, please revert as a first step to unblock others. It can be reintroduced once it's been proved stable in a PR

[2019-05-08 04:21] logicalhan commented on #77573
#77577 to revert.

[2019-05-08 04:48] danielqsj commented on #77573
@tedyu  great thanks. It works. #77574 is updated.
Due to it will be reverted at first, I will open a new PR for review.

[2019-05-08 05:21] adisky commented on #77521
@cjschaef  we are also getting the same error on bash version 4.3
cc @h00130372 @mrhillsman

[2019-05-08 05:56] globervinodhn commented on #77488
Hi @mattjmcnaughton , Thanks for the lead. I shall have a check and would let you know at the earliest if I can make use of the existing use case.

[2019-05-08 06:04] liggitt commented on #77551
broke in #75993, fixed in #77580 (with added tests)

[2019-05-08 06:07] liggitt commented on #77547
I cannot reproduce the issue:

[code]

[code]

[2019-05-08 06:07] globervinodhn opened #77581 "E2E Proposal: To verify 'preferredDuringSchedulingIgnoredDuringExecution' Node Affinity type"
**What would you like to be added**: An E2E test to verify the pod scheduling and execution behavior on NodeAffinity type "prefferedDuringSchedulingIgnoredDuringExecution"

**Why is this needed**: The proposed test ensures that the scheduling and execution behavior of the pod on the nodes is verified for Node Affinity type.

Steps:
1. Create a pod with the necessary label/value for node Scheduling

[2019-05-08 06:12] liggitt commented on #77547
the desired usage is working already. a few examples:

https://github.com/kubernetes/kubernetes/blob/7faeee22b109d644f9a0ed736447e8867cae728e/pkg/kubectl/cmd/apply/apply_test.go#L1305

https://github.com/kubernetes/kubernetes/blob/7faeee22b109d644f9a0ed736447e8867cae728e/pkg/kubectl/cmd/wait/wait_test.go#L108

/close

[2019-05-08 06:12] #77547 closed

[2019-05-08 06:25] krmayankk commented on #68357
@k82cn  has the list of tasks be decided ? I would love to drive the implementation of certain parts of it

[2019-05-08 06:26] krmayankk commented on #69767
/remove-lifecycle stale

[2019-05-08 07:13] krmayankk commented on #66311
@eloyekunle  are you working on this already ?

[2019-05-08 07:14] krmayankk commented on #77505
/sig auth

[2019-05-08 07:16] krmayankk commented on #77482
/sig test

[2019-05-08 07:24] ctrombet commented on #23618
This error is still present

[2019-05-08 07:45] x13n commented on #77492
I'm not sure eyeballing fluentd logs would expose memory problems.

fluentd_status_buffer_queue_length/fluentd_status_buffer_total_bytes metrics might be worth looking at, to confirm that the memory increase is indeed coming from the buffers.

[2019-05-08 08:28] elishemer commented on #73778
/remove-lifecycle stale

[2019-05-08 08:37] kigawas commented on #44273
Same bug on GKE with kubernetes version 1.11.8-gke.6. Fixed after upgraded to 1.12.7-gke.10.

[2019-05-08 08:37] mm4tt commented on #77551
Ah, thanks, I thought https://github.com/kubernetes/kubernetes/pull/75993 could related, but it wasn't really obvious to me that it was the real culprit.
Thanks for fixing, once https://github.com/kubernetes/kubernetes/pull/77580 gets merged we can revert https://github.com/kubernetes/kubernetes/pull/77552

[2019-05-08 08:39] mm4tt commented on #77551
FYI, the temporary workaround seems to be working, the gce-scale-performance is running and not failing anymore on cluster creation - https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1126034395224870915

[2019-05-08 08:56] Sn0rt opened #77586 "if update the TargetPort can I set the item into service controller work enqueue ?"
Hello @justinsb , I have saw the commit `c741b8f3ae8d68a22d556b509979fa4e1a5fa7f7`, can we check the `TargetPort` for enqueue to serivce cotnroller work queue?

basecause of, In many case for Public Cloud, We always abstract a set for health checks
, such as TargetGroup in AWS, instanceGroup in aliyun. We can map `targetPort` to such a collection of instance.

If the service controller to check th

[2019-05-08 09:21] luxas commented on #72975
/wg component-standard

[2019-05-08 09:22] luxas commented on #72975
Yes, definitely

[2019-05-08 09:45] manukasa opened #77588 "when user tries to access kubectl get pods error "The connection to the server localhost:8080 was refused - did you specify the right host or port?""
**What happened**:
I have created a user in my ubuntu box and provided access through rbac to access pods, when he tries to access eg:kubectl get pods -n kube-system he gets the error "The connection to the server localhost:8080 was refused - did you specify the right host or port?"

**What you expected to happen**:
any user with rbac permissions should be able to access

**How to reproduce it (as

[2019-05-08 09:47] kvaps commented on #8876
/remove-lifecycle stale

[2019-05-08 10:41] minhdanh commented on #42649
@diemus What do you mean by using updatestatus here? I tried with `kubect edit cronjob` but it doesn't work.

[2019-05-08 10:48] alanbover commented on #70890
tested on 1.14.

After creating the pod on an empty cluster, on the node that the pod is scheduled kubelet exhausts the whole memory of the node, and after not-too-long, the node becomes unresponsive.

[code]

![imagen](https://user-images.githubusercontent.com/892918/57370045-7644e780-718f-11e9-8b44-adc860c2de8c.png)

![imagen](https://user-images.githubusercontent.com/892918/57370072-865cc700-71

[2019-05-08 11:01] mm4tt commented on #76579
/cc @mm4tt

[2019-05-08 13:03] ponprathip opened #77591 "Not able to Attach Volume using minikube hosted in AWS EC2 instance"
Hi,
 I have brought up minikube setup over AWS EC2 instance . I provisioned EBS Volumes using dynamicstorageclasss option . PVC creation is successful . (verified EBS volume also got created from AWS WUI) .

But when i try to create by application deployment my pod fails with the below error
 AttachVolume.Attach failed for volume "pvc-XXXXX" : error finding instance minikube: "instance not found"

[2019-05-08 14:30] yuchengwu opened #77597 "ReplicaSet leaves inactive pod not counted in its replicas"
**What happened**:
ReplicaSet leaves inactive pod not counted in its replicas

**What you expected to happen**:
ReplicaSet should count all matched pods with its selector

**How to reproduce it (as minimally and precisely as possible)**:
It will be reliably reproduced if somebody can make step 2 happen
step 1. create a deployment with replicas=x
step 2. make some pods created from step 1 inactive,

[2019-05-08 14:32] yuchengwu commented on #77597
Is this a intended behavior?

[2019-05-08 14:35] yuchengwu commented on #77597
/sig apps
/sig sig-apps-bugs

[2019-05-08 14:35] mattjmcnaughton commented on #77546
Thank you for the incredibly detailed issue report @kangarlou :)

I did some poking around, and if [this issue](https://github.com/opencontainers/runc/issues/1193) is accurate and still current, then I believe the issue is that `net.ipv4.route.min_pmtu` is not namespaced (i.e. cannot be set on a per pod/container level). If I'm understanding correctly, we'd need to make changes to the Linux kernel

[2019-05-08 14:43] mattjmcnaughton commented on #77546
This historic issue also seems relevant: https://github.com/kubernetes/kubernetes/issues/29572. Perhaps we were premature to close it.

[2019-05-08 15:11] enj opened #77599 "Token request: opt out of the token controller generated secrets"
The controller manager will optionally use the `TokenRequest` API to provision tokens for controllers.  These SA based controllers no longer need secret based tokens.

Action items:

1. Determine how to opt out of the token controller generated secrets (generically)
1. Use the above generic functionality to make it so that the only tokens for the controller clients are ephemeral and short lived

/

[2019-05-08 15:14] enj opened #77600 "Token request: proactively remove unused secret based SA tokens"
Once it is possible to opt out of secret based SA tokens, any preexisting secrets should be removed.

Action items:

1. Clean up legacy tokens for the controller service accounts after a release

/sig auth
/sig api-machinery

@kubernetes/sig-auth-feature-requests

xref: #70679 #71275 #72179 #77599

/priority important-longterm

[2019-05-08 15:14] jimangel opened #77601 "[Flaking Tests] scheduler.TestUnreservePlugin flaking in ci-kubernetes-integration-master"
**Which jobs are failing**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1126051507540594695

**Which test(s) are failing**:
scheduler.TestUnreservePlugin

**Since when has it been failing**:
Ran 9 times between 5/6 and 5/7, succeeding only once. Not present anywhere else.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#integration-m

[2019-05-08 15:15] enj commented on #71275
Opened #77599 and #77600 to cover the remaining work.

[2019-05-08 15:15] #71275 closed

[2019-05-08 15:16] danielqsj commented on #77601
@jimangel this test was reverted by https://github.com/kubernetes/kubernetes/pull/77577.
It will not block others now.

[2019-05-08 15:20] neolit123 commented on #75780
golang/go#30642

this CVE is DLL injection if system libraries such as an altered winmm.dll are placed in the path of a go compiled binary such as the kubelet, that is because by default Windows search the `.\` path for bundled library overrides.

![kubelet-dep-walker](https://user-images.githubusercontent.com/331852/57386728-9e4b3f80-71bd-11e9-9835-1bcfc9eae932.png)

the linked patch-set in `.10`

[2019-05-08 15:22] jimangel commented on #77601
Thanks @danielqsj !

/close

[2019-05-08 15:24] kinolaev commented on #65387
Hello @andrewsykim! Maybe better way is to check if [service has local endpoints](https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/proxy/iptables/proxier.go#L1200) and then skip [adding KUBE-FW rule](https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/proxy/iptables/proxier.go#L915) to KUBE-SERVICES chain? So, request will be sent to loadbalancer and source IP will be pres

[2019-05-08 15:26] alejandrox1 commented on #77601
Let's maintain this one open so we can keep an eye on it 👀
/reopen

[2019-05-08 15:26] michmike commented on #73489
great news @benmoss and @bclau
Claudio, would you be able to include these tests to our e2e runs? thanks!

[2019-05-08 15:31] krzysied opened #77602 "[Failing Test] Kubemark-5000"
**Which jobs are failing**:
ci-kubernetes-kubemark-gce-scale

**Which test(s) are failing**:
Density test

**Since when has it been failing**:
Run 1125829298771464196. 	2019-05-07 18:27:02 +0000 UTC

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-kubemark#kubemark-5000

**Reason for failure**:
Durring saturation phase only 3816 pods are scheduled.

**Anything else we need to know**:
It

[2019-05-08 15:31] krzysied commented on #77602
/sig scalability

[2019-05-08 15:32] krzysied commented on #77602
/assign @mm4tt
/cc @oxddr

[2019-05-08 15:33] aermakov-zalando opened #77603 "Pod logs: long lines are corrupted when using timestamps=true"
**What happened**:

Docker has a hardcoded 16K limit on log line length, which splits lines longer than that into multiple messages in the log file. `ReadLogs` in [logs.go](https://github.com/kubernetes/kubernetes/blob/255a73ffc64d1c4e0f9a378ebf8d0005edfe6962/pkg/kubelet/kuberuntime/logs/logs.go), however, doesn't account for this when `timestamps` is set to `true` and prints the timestamp in fron

[2019-05-08 15:33] aermakov-zalando commented on #77603
@kubernetes/sig-node-bugs

[2019-05-08 15:33] kinolaev commented on #65387
But this solution will affect traffic from pods, it will not be [routed to ClusterIP](https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/proxy/iptables/proxier.go#L1188).

Then maybe we can replace [drop rule](https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/proxy/iptables/proxier.go#L1201) with something to send traffic to loadbalancer?

[2019-05-08 15:39] alejandrox1 commented on #71627
/remove-lifecycle rotten

[2019-05-08 15:40] alejandrox1 commented on #71627
/priority backlog

[2019-05-08 15:41] mm4tt commented on #77602
It looks like kubemark failed to initialize properly -
[code]

Same thing in the kubemark-100-high-density. I'm 99% sure it's caused by https://github.com/kubernetes/kubernetes/issues/77551, which should get fixed once https://github.com/kubernetes/kubernetes/pull/77580 gets merged.

[2019-05-08 15:51] andrewsykim commented on #65387
I think this will break existing implementations, the fwchain is what routes the LB IPs to the correct chain. Not all LB implementations (think MetalLB) depend on node port for routing.

[2019-05-08 15:54] dcbw commented on #76579
Why is increased kube-proxy logging causing an OOM in the first place? And why is it continuously failing to restore? If it's -4/lock contention, then there are already many fixes in-place (some kernel-side) to handle that. I'm very curious.

[2019-05-08 16:03] tnqn opened #77604 "Pod name is missing in suggested cmd usage when executing `kubectl attach`"
**What happened**:
The pod name is missing in suggested cmd usage when executing `kubectl attach`:
[code]

**What you expected to happen**:
The suggested cmd usage should be a complete cmd like the one got from `kubectl exec`
[code]
**How to reproduce it (as minimally and precisely as possible)**:
Use `kubectl attach` to attach any pod/deployment/service, the PodName will be missing in the suggest

[2019-05-08 16:04] tnqn commented on #77604
/sig cli
/assign @tnqn

[2019-05-08 16:42] systm32 commented on #74340
I have the same issue on Linux 3.10.0-957.1.3.el7.x86_64 with kubernetes v1.13.2

[2019-05-08 16:51] gnufied opened #77608 "Total provisioning metrics are not correct"
The total provisioning time metrics introduced here - https://github.com/kubernetes/kubernetes/pull/66389 are not acurate. This is because, they only measure single execution of provisioning(and deletion) and do not count retries.

These should instead time, total time taken when first PVC was created and time when PVC was actually bound.

/sig storage
cc @bertinatto @msau42

[2019-05-08 16:52] gnufied commented on #77608
For delayed provisioning - this has to be timed differently.

[2019-05-08 16:54] msau42 commented on #77608
cc @yuxiangqian

[2019-05-08 16:57] kangarlou commented on #77546
Matt, thanks for confirming the problem! I found the following comments very helpful:
- https://github.com/opencontainers/runc/issues/1193#issuecomment-261506570
- https://github.com/kubernetes/kubernetes/issues/29572#issuecomment-236193826

Looking at https://github.com/torvalds/linux/blob/e93c9c99a629c61837d5a7fc2120cd2b6c70dbdd/net/ipv4/route.c#L3174, there doesn't seem to be any difference bet

[2019-05-08 17:01] dekkagaijin commented on #43932
It might just be kubemark that still spins up an API server with the insecure port enabled

[2019-05-08 17:07] kinolaev commented on #65387
I tried to exclude node IP with `! -s ${node IP}` from [FW rule in KUBE-SERVICES](https://github.com/kubernetes/kubernetes/blob/release-1.13/pkg/proxy/iptables/proxier.go#L931) chain and it works! What do you think about this solution?

[2019-05-08 17:20] MrHohn commented on #74383
This may need a similar fix as https://github.com/kubernetes/kubernetes/issues/74383 --- we should probably route local nodeport traffic to service chain and don't worry about the source IP preservation.

cc @andrewsykim

[2019-05-08 17:47] yanniszark commented on #54205
This is still an issue in Alpha Clusters.
I encountered this while deploying a GKE 1.13.5-gke.10 alpha cluster.
Shouldn't this issue be re-opened?

cc @pwittrock

[2019-05-08 18:04] andrewsykim commented on #74383
@MrHohn PR I opened the initial PR for that here https://github.com/kubernetes/kubernetes/pull/77523 PTAL and let me know what you think. I think not worrying about source IP preservation and going to service chain makes sense to me

[2019-05-08 18:06] oomichi commented on #77103
I am creating a hacking script which detects what code we need to update for this issue as https://github.com/kubernetes/kubernetes/pull/77612
Still we have almost 400 lines what we need to update at this time.

[2019-05-08 18:07] bgrant0607 commented on #76370
Ref #33041

[2019-05-08 18:08] bgrant0607 commented on #19037
@yujuhong Is this still relevant, or can it be closed?

[2019-05-08 18:09] MrHohn commented on #74383
@andrewsykim Thanks! I was meant to ref your PR but pasted the wrong one :/

[2019-05-08 18:11] bgrant0607 commented on #58050
New Endpoint API: https://github.com/kubernetes/enhancements/issues/752

[2019-05-08 18:14] andrewsykim commented on #74383
Ah, that makes sense. Thanks!

[2019-05-08 18:14] leakingtapan commented on #77389
I confirmed internally. This is expected behavior for `DescribeInstances` and `DescribeVolumes` since ec2 API follows a [eventual consistence model](https://docs.aws.amazon.com/AWSEC2/latest/APIReference/query-api-troubleshooting.html#eventual-consistency) where resource mutation might be not reflected immediately. This could explain why `DescribeInstances` returns a volume in detaching state even

[2019-05-08 18:14] andrewsykim commented on #74383
Let me know if you want me to adapt that PR to also account for node ports

[2019-05-08 18:20] kangarlou commented on #77546
It's probably better to change the docs to set a namespaced sysctl like `net.ipv4.tcp_rmem` or `net.core.somaxconn`.

A good way to figure out what network sysctls are namespaced is to pass `--allowed-unsafe-sysctls=net.*` to kubelet and see all the sysctls listed under `/proc/sys/net` inside the pod.

[2019-05-08 18:23] andrewsykim commented on #65387
I believe there's a similar rule for that already but it doesn't check source IP
[code]

If you jump to FW chain, you end up in XLB chain which drops traffic if there's no local endpoints. Does your test also work on nodes where there's no local endpoints? Can you also verify that your traffic actually goes to the LB and is not being masqueraded through the service chain?

[2019-05-08 18:24] eloyekunle commented on #66311
@krmayankk I didn't get to work on this issue.

[2019-05-08 19:04] deads2k commented on #77444
This has come up before and we attempted to solve it with discovery, but the results were not good.  A few years out and I've never seen the information from the discovery doc used and I know some distributions always hardcode the value or leave it out.

Deciding how particular agents should access the kube-apiserver is outside the scope for the kube-apiserver machinery today and is likely to rema

[2019-05-08 19:04] #77444 closed

[2019-05-08 19:18] bgrant0607 commented on #74405
Other possible scenarios may be in https://github.com/hjacobs/kubernetes-failure-stories

[2019-05-08 19:21] bgrant0607 commented on #75324
Note that this seems to be partly due to an organically evolved pattern to leave broken pods on nodes in order to work around bad controller behavior:
https://github.com/kubernetes/kubernetes/issues/74405
https://github.com/kubernetes/kubernetes/issues/76370
https://github.com/kubernetes/kubernetes/issues/32837
https://github.com/kubernetes/kubernetes/issues/2529

[2019-05-08 19:22] bgrant0607 commented on #74405
This is also a problem for conformance tests and for other clients trying to determine success or failure of workloads:
https://github.com/kubernetes/kubernetes/issues/75324

[2019-05-08 20:10] ejmarten commented on #75726
If you have `kubectl proxy` running, kill it.

[2019-05-08 20:26] kinolaev commented on #65387
Yes, I just added source IP check to this rule on node without local endpoints, local traffic doesn't jump to FW, it doesn't drops in XLB and it goes to LB.
Of course, if you do this on node with local endpoints you will not reach that endpoint (at least when using Metallb).

This solution doesn't work if nodes haven't network access to LB. Your solution haven't this problem. For me it is more imp

[2019-05-08 20:28] benmoss commented on #69904
This was resolved in #74085
/close

[2019-05-08 20:28] #69904 closed

[2019-05-08 20:50] olberger opened #77615 "kubelet fails starting CRI-O containers (Ubuntu 18.04 + systemd cgroups driver)"
**What happened**:

kubelet doesn't seem to be able to manage containers started with CRI-O any more

I'm testing kubelet + CRI-O on an Ubuntu 18.04 server installation, inside a qemu/kvm VM managed by Vagrant (see https://github.com/olberger/vagrant-k8s-kubevirt-katacontainers/tree/539c9d06ffa611aa2d08da6cfa617d42fe218a40), in order to be able to test k8s + KubeVirt + KataContainers, which are al

[2019-05-08 20:53] andrewsykim commented on #65387
Good point, I think `KUBE-MARK-MASQ` might be redundant, will update the PR soon :)

[2019-05-08 21:04] liggitt commented on #75780
latest go 1.11.x is probably a good idea

[2019-05-08 21:05] johnSchnake commented on #77045
So another option which I've been told is more preferable (and is certainly more clear) is `corev1` which actually requires effort to introduce but just like how we are using `e2essh` and `e2elog` it is definitely more clear.

Putting up a PR to change the framework folder to that alias. Will need to be piecemeal since this changes every reference to every core v1 object; there were ~7k in all of

[2019-05-08 21:25] dims commented on #74405
long-term-issue (note to self)

[2019-05-08 21:29] jlegrone commented on #30427
/remove-lifecycle stale

[2019-05-08 21:32] #76975 closed

[2019-05-08 21:40] vllry commented on #68951
/lifecycle frozen

[2019-05-08 21:51] camilamacedo86 commented on #77444
Hi @deads2k and @liggitt,

### Comments in line.

Yes, it is not and because of this its a feature request :-)

Following the possible solutions:
* The attribute can be a []string in this way this value can be 0..N
* Should be great if it could have the cluster hostname/master Virtual IP where the pod is deployed and running if it is a multi-cluster installation.

* Should make sense return the va

[2019-05-08 21:52] ialidzhikov commented on #72757
We should reopen this one as it was closed by one of the PR that cleaned some addons. Still there are more addons to be cleaned up and maybe we still need the documentation on kubectl side for the `kubectl cluster-info`usage of `kubernetes.io/cluster-service`.
@kubernetes/sig-cli-maintainers , wdyt?

[2019-05-08 21:57] sandan commented on #45076
You can get the supported apiVersions with:
[code]

For example:
[code]

[2019-05-08 22:00] #75324 closed

[2019-05-08 22:01] neolit123 commented on #72757
/reopen

[2019-05-08 22:06] yujuhong commented on #19037
Yes, we fixed this a while ago. Found the PR that includes my commit for this bug: https://github.com/kubernetes/kubernetes/pull/22155

[2019-05-08 22:06] #19037 closed

[2019-05-08 22:21] #71034 closed

[2019-05-08 22:52] richstokes commented on #36222
The output of `get configmaps` is ugly. Wether using json or yaml, k8s injects a whole bunch of escape characters and messes up the formatting of the original config file.

It would be very nice to have a switch that tells it to dump the config out "normally"!

[2019-05-08 23:58] jpbetz commented on #64136
I'll follow up on the missing tests. My basic plan is to add integration testing of conversion webhooks based on how we integration admission webhooks in test/integration/apiserver/admissionwebhook/admission_test.go. That way we'd have the conversion webhook handler in the integration test code (not as a published docker image like we use for e2e), once that's in place it should be relatively stra

[2019-05-09 00:14] #76989 closed

[2019-05-09 00:15] #72408 closed

[2019-05-09 00:23] logicalhan commented on #76956
I think everything is potentially registered up to __*three*__ times (#75779).

I also do not believe that the metrics are defunct, since I have seen both them and the registration errors co-existing. I could be mistaken but I believe that the way prometheus identifies the metric in the registry (i.e. a hashed value derived from `prometheus.Desc`) means that even if we create two metric objects (i

[2019-05-09 01:19] rdodev opened #77624 "Kube Components no longer log to STDERR/STDOUT"
**What happened**:

`kubectl log` for kubeapiserver, schedulers and controllermanager only show startup and "stale" data.

**What you expected to happen**:
I expected to see all the logs as they are logged

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl log kube-apiserver-pod-name -n kube-system -f`

**Anything else we need to know?**:
Docs say since the move to klog, l

[2019-05-09 01:19] rdodev commented on #77624
@dims

[2019-05-09 01:22] rdodev commented on #77624
/assign @dims

[2019-05-09 01:33] cheng1li commented on #77251
@derekwaynecarr , @dchen1107 , could you please have a look of this at your convenience? Thanks

[2019-05-09 01:33] neolit123 commented on #73814
/remove-lifecycle stale

[2019-05-09 01:37] cblecker commented on #73814
This should be fixed if you use the options: `GOGCFLAGS="-N -l" GOLDFLAGS=""`.

We're going to use https://github.com/kubernetes/kubernetes/issues/77527 to track getting the docs updated.

/close

[2019-05-09 01:37] #73814 closed

[2019-05-09 01:41] dmlittle commented on #76531
We're seeing the same issues on Ubuntu 18.04.2

### OS
[code]

### Docker
[code]

### Kubelet
[code]

[2019-05-09 01:42] dekkagaijin commented on #43932
Longstanding work item! I M P A C T!
/cc @mwwolters

[2019-05-09 01:47] draveness commented on #77103
Here is the remaining files with `gomega.Expect(err)...`

[code]

I'd like to take files except for `test/e2e/apps` and `test/e2e/lifecycle` since they are already taken.

[2019-05-09 01:50] #76851 closed

[2019-05-09 02:13] zq-david-wang commented on #77597
maybe your pod was evicted (check your pod's status), in that case your pod was just there without anything running, in another word, safe to  deleted but may contain information needs your audit.

[2019-05-09 02:17] truongnh1992 opened #77628 "Measuring the period of downtime when upgrading kubeadm from version 1.13.0 to v1.14.0"
Hi there, could anyone do me a favor, please.

I deployed a Single-Instance Stateful Application on K8S cluster version 1.13.0 (1 master node & 1 worker node)
https://kubernetes.io/docs/tasks/run-application/run-single-instance-stateful-application/

How can I measure the period of downtime when upgrading kubeadm from current version 1.13.0 to v1.14.0?

Thank you.

[2019-05-09 02:20] truongnh1992 commented on #77628
/sig contributor-experience

[2019-05-09 02:29] rdodev commented on #77624
Interesting: in a different cluster (same version/configuration) by setting `--v=5` in the manifest for each of those components does the trick, and `kubectl exec` into those containers show there are no files being written to `/var/log/` so ... perhaps it's the docs that are no longer accurate? :)

[2019-05-09 02:31] jaygorrell opened #77629 "Existing pods after restrictive LimitRange applied may cause issues"
**What happened**:
`LimitRange` was applied to my namespaces with existing pods running. Most of these are lightweight but a few had resource `requests` that exceeded the new `limit`.

For example, an existing container would have:
[code]
Then we applied this:
[code]

After a day or so (not exactly sure, but it wasn't immediate), these existing pods started restarting. Two examples from different

[2019-05-09 02:34] jaygorrell commented on #77629
/sig network

[2019-05-09 03:04] liggitt commented on #77444
The discovery client (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/discovery/discovery_client.go) can be used to interrogate the apiserver for the API groups and versions it is serving. Along with that info, the apiserver can optionally return a set of server addresses. See the serverAddressByClientCIDRs field here:

https://github.com/kubernetes/kubernetes/blo

[2019-05-09 03:07] yuchengwu commented on #77597
From the[ pod status](https://github.com/kubernetes/kubernetes/files/3157804/hbasersjsxgj-4180831554-v80jr.yaml.txt)
[code]
I can see the pod was out of cpu resource and eventually be rejected at the kubelet Admit phase.
Then its status phase changed to Failed and neither kubelet or rs controller will handle it any more, can I think it is a orphan pod now?

Yes, its safe to delete them, but doesn'

[2019-05-09 03:12] #72166 closed

[2019-05-09 03:16] thockin commented on #74322
Too many LBs can not support this -- it will have to be impl-sepcific annotations for now.

[2019-05-09 03:16] #74322 closed

[2019-05-09 03:20] thockin commented on #77512
Dup of https://github.com/kubernetes/kubernetes/issues/49425

[2019-05-09 03:20] #77512 closed

[2019-05-09 03:26] thockin commented on #77468
If you don't have a cloud provider which implements load-balancers, it will stay pending forever

[2019-05-09 03:26] #77468 closed

[2019-05-09 03:27] YoubingLi commented on #77603
@aermakov-zalando
    I will work on it.

/sig cli
/remove-sig node

[2019-05-09 03:28] thockin commented on #77299
If this is implemented anywhere it should be in the network policy implementations (and seriously down-sampled :)

[2019-05-09 03:28] #77299 closed

[2019-05-09 03:31] #76645 closed

[2019-05-09 03:35] BenTheElder commented on #72956
we're getting there! sorry I haven't had time to keep editing that checklist, https://github.com/kubernetes/kubernetes/blob/master/hack/.shellcheck_failures is dwindling!

[2019-05-09 03:37] hero-zhanghao opened #77632 "Allows configmap to reference existing configmap"
**What would you like to be added**:
For example, I have an existing configmap, configured like this:

`
apiVersion: v1
kind: ConfigMap
metadata:
  name: a-config
data:
  application.properties: |-
    test.name=aaa
`
Then, in the subsequent operation, a new project is added. The required configmap is as follows:

[code]
It can be seen that their keys are different, but the values are the same. In

[2019-05-09 03:41] thockin commented on #76517
This is primarily an artifact of the implementation with conntrack.  Conntrack for UDP must time-out, since there's no FIN or anything to know the connection is dead.  This is, more or less, unsolvable in the current implementations.  we could drive the timeout way down, but that can interfere with UDP responses.

[2019-05-09 03:41] #76517 closed

[2019-05-09 03:42] hero-zhanghao commented on #77632
/sign configmap

[2019-05-09 03:43] thockin commented on #76491
Most CNI plugins do not configure both families.  I don't know how it would have worked before except if the kernel was doing some automatic assignment (maybe a sysctl changed?)

Not a kubernetes issue, proper, so I am going to close this out.

[2019-05-09 03:43] #76491 closed

[2019-05-09 03:43] MikeSpreitzer commented on #73390
/remove-lifecycle stale
Being addressed by #73447

[2019-05-09 03:45] #72712 closed

[2019-05-09 03:49] MikeSpreitzer commented on #73389
@liggitt : if I understand this code correctly, the wardle server always fails the availability check.  Does that mean the availability check is wrong, or the wardle server, or ...?  And, does this have anything to do with https://github.com/kubernetes/sample-apiserver/issues/12 ?

[2019-05-09 03:50] #70427 closed

[2019-05-09 03:51] MikeSpreitzer commented on #50564
/remove-lifecycle stale
The comment is still wrong.  Maybe this should be assigned to someone other than @jpbetz ?

[2019-05-09 03:52] thockin commented on #69844
This is not a kube-dns bug but something in the auth setup is not working properly

[2019-05-09 03:54] MikeSpreitzer commented on #68418
/remove-lifecycle stale

[2019-05-09 03:56] thockin commented on #63552
move discussion to https://github.com/kubernetes/kubernetes/issues/69845

[2019-05-09 03:56] #63552 closed

[2019-05-09 04:11] MikeSpreitzer commented on #69319
/remove-lifecycle rotten
Still not fixed.

[2019-05-09 04:12] MikeSpreitzer commented on #69319
/reopen

[2019-05-09 04:35] srudin commented on #41727
Why is this closed? As far as I can see it is still required?

[2019-05-09 04:45] MikeSpreitzer opened #77634 "The comments on SharedInformer are inadequate"
**What happened**:
As a developer, I had important questions about SharedInformer that I could not answer from the comments on it.  Colleagues also have questions.

The comments on SharedInformer mainly contain a contrast with "standard Informer" --- but there no longer is such a thing.  So most of the important facts about SharedInformer are not documented in the comments.

**What you expected to

[2019-05-09 04:46] MikeSpreitzer commented on #77634
@kubernetes/sig-api-machinery-bugs

[2019-05-09 05:31] mkumatag opened #77635 "Migrate test/images to use distroless static image wherever possible"
This task is to start adopting distroless static images wherever possible in the `test/images` directory.

thread from: https://github.com/kubernetes/kubernetes/pull/77625#issuecomment-490747530

[2019-05-09 05:31] mkumatag commented on #77635
/kind cleanup

[2019-05-09 05:31] mkumatag commented on #77635
/sig testing

[2019-05-09 05:31] mkumatag commented on #77635
/cc @mikedanese

[2019-05-09 05:37] thockin commented on #69458
This is not really feasible.  The problem here is that arbitrary Pods don't know which Service they are behind (and could actually be behind both).

The good news is that, I think, you can do this on your own.  If your pod knows that it is behind one or the other but never both, and whether it is a leader or follower, it can switch a single URL internally and do the right thing.

If it does not in

[2019-05-09 05:37] #69458 closed

[2019-05-09 05:42] thockin commented on #67526
I did a quicky prototype of Services with whole IPs.  It works, but it's clunky because the `ports` field carries  information (e.g. protocol) that I need even if I want all ports.  Also because it is required.

While that is not done, maybe the right answer here is just to not specify ports and allow the whole IP?

IPVS is also not able to express ranges easily.

The idea of "all ports > 1024" is

[2019-05-09 05:52] oulydna opened #77637 "pods scheduled to nodes having a high number of mounting points take long time to startup"
**What happened**:
pods scheduled to nodes having a high number of mounting points take long time to startup

**What you expected to happen**:
The number of existing mount points on the node shouldn't affect new pod's starting up time that terribly (at all).

**How to reproduce it (as minimally and precisely as possible)**:
Make a couple of nodes in your cluster have different numbers of mounting

[2019-05-09 05:54] thockin commented on #7433
This is basically the same as https://github.com/kubernetes/kubernetes/issues/28610 so I am closing this one.

@mcginne look at the externalTrafficPolicy field.

[2019-05-09 05:54] #7433 closed

[2019-05-09 05:56] prashantgolash commented on #32220
I have taken a look at the complete flow of the issue. From what I understand, there are a couple of choices

Option - (1) Validate in **[BeforeCreate](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/registry/rest/create.go#L74)** function if an object has both name and generateName and fail the request if that is the case.
Option - (2) in **[BeforeCreate](htt

[2019-05-09 05:57] thockin commented on #67202
I re-read this and it is not clear to me exactly what you want any more.

At first I thought you might be hitting the issue where externalTrafficPolicy does not apply to `externalIPs` (https://github.com/kubernetes/kubernetes/issues/69811).  If so - try setting the LoadBalancerIP in status and see if that works?

Then I thought maybe you were hitting the issue with accessing NodePorts from within

[2019-05-09 05:58] #67183 closed

[2019-05-09 05:58] #67141 closed

[2019-05-09 06:01] #77637 closed

[2019-05-09 06:03] oulydna opened #77638 "pods scheduled to nodes having a high number of mount points take long time to startup"
**What happened**:
pods scheduled to nodes having a high number of mounting points take long time to startup
**What you expected to happen**:
The number of existing mount points on the node shouldn't affect new pod's starting up time that terribly (or not at all).
**How to reproduce it (as minimally and precisely as possible)**:
Make a couple of nodes in your cluster have different numbers of moun

[2019-05-09 06:04] oulydna commented on #77638
/sig storage

[2019-05-09 06:06] thockin commented on #65675
There is not a generic way to do this.  Some clouds support IPv6 and some do not.  GCP does not support IPv6 for the NetworkLB product, which is what backs kube Services.

For clouds that do support IPv6, there needs to be a cloud-specific way to express what you want (e.g. an annotation) until dual-stack support is done.

Getting an IPv6 address for an Ingress should be possible on GCP, but that

[2019-05-09 06:06] #65675 closed

[2019-05-09 06:07] #77462 closed

[2019-05-09 06:08] thockin commented on #65613
This has to be implemented in a cloud-specific way.  You can no-op the standard controller and write your own, as long as you can handle the various features like port remapping and so forth.

[2019-05-09 06:11] thockin commented on #60535
In general, I'd reallllllly rather get rid of the env-var service exposure logic.  It's kind of a mess and a scalability problem.

ExternalName *does* produce a DNS record, which is more powerful than env var anyway.

If there's a good reason that doesn't work -- reopen?

[2019-05-09 06:24] thockin commented on #59119
I confirm this still exists and the analysis by @RobertKrawitz is excellent and very plausible.

WORSE -- it will consider two ports as identical even if they differ in protocol.  Looking at types.go:

[code]

So dear api-machinery people -- how should we be approaching this?  The correct key is really the protocol + port (at minimum) but more even then the original problem exists.  This should re

[2019-05-09 06:28] thockin commented on #59031
It seems unlikely that we will add a cluster-level config for this, but here's an opportunity for a cool ecosystem project.  Something like:

A per-namespace CRD that defines default DNS policy
An admission control webhook that sets DNS policy on pods according to the namespace policy

[2019-05-09 06:30] thockin commented on #58050
I'm duping this with https://github.com/kubernetes/kubernetes/issues/73324

[2019-05-09 06:30] #58050 closed

[2019-05-09 06:32] ponprathip commented on #43063
Currently i am getting the same error using minikube .
I have created the required tags in ec2 instance kubernetes.io/cluster/<clusterid> . find the log trace below
==> kube-controller-manager-minikube_kube-system_kube-controller-manager-705ac94b9d40061711839c6d6c1b4cbde1063ff838a6aa9d85345324926355f0.log <==
{"log":"I0508 13:52:36.711862       1 reconciler.go:288] attacherDetacher.AttachVolume st

[2019-05-09 06:33] thockin commented on #56440
This seems like something service topology could address, if you can describe the backup nodes as a different label.

[2019-05-09 06:34] #56371 closed

[2019-05-09 06:36] hero-zhanghao commented on #77632
/sig configmap

[2019-05-09 06:37] thockin commented on #55405
I don't hate it, but I don't love it.  I can't help but think there has to be some opaque way to do this internal to your app (or in a sidecar that hits the real URL and then converts string-valiation into 2xx or 4xx).

Is there really no better way?

[2019-05-09 06:39] vainu-arto commented on #59031
@thockin What about adding this functionality to PodPresets? That would allow using the existing matcher it has to find the pods where policy needs to be set.

[2019-05-09 06:42] thockin commented on #51891
What doesn't work with hostnet pods and network policy?  I'm not sure I see what that wouldn't work?

[2019-05-09 06:44] zerkms opened #77641 "explain deployment.spec.strategy.rollingUpdate.maxSurge and maxUnavailable wrong defaults"
**What happened**:
`kubectl explain deployment.spec.strategy.rollingUpdate` explains that both `maxSurge` and `maxUnavailable` are `1` by default, while they are `25%` by default.

**What you expected to happen**:
It should be `25%`

**How to reproduce it (as minimally and precisely as possible)**:
`kubectl explain deployment.spec.strategy.rollingUpdate`

**Anything else we need to know?**:

**Env

[2019-05-09 06:49] thockin commented on #45419
I am a little disconnected from this -- do we know what is going on?  Is there a fix @bboreham (since you seemed to know what was up)?  Is there a PR?

[2019-05-09 06:50] andyzhangx commented on #58308
Correction: I found use `docker.io/bitnami/mongodb:4.0.2-debian-9` image based on azure file works now, here is the example:
https://github.com/andyzhangx/demo/blob/master/linux/azurefile/azurefile-mongodb.yaml

[2019-05-09 06:51] zerkms commented on #77641
/sig docs

[2019-05-09 06:51] #44415 closed

[2019-05-09 06:52] #44254 closed

[2019-05-09 06:53] thockin commented on #43633
This is almost certainly not happening in Ingress , but we should keep it in mind for the API to follow Ingress (proposals coming soon?)

[2019-05-09 06:54] #43174 closed

[2019-05-09 06:57] thockin commented on #41881
Ingress is sort of lowest-common-API.  As such it will probably not get more than simple prefix matching.  The KEP to move to GA details some places we can clean up the spec, but it wil not get much more featureful.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md

There will be a followup APi which has possibly more capabilities.

[2019-05-09 06:59] thockin commented on #41442
cosing this in favor of the various individual features being developed

[2019-05-09 06:59] #41442 closed

[2019-05-09 07:00] thockin commented on #40973
I have not heard of this in a long time.  Reopen if we can get a repro...

[2019-05-09 07:00] #40973 closed

[2019-05-09 07:02] deitch commented on #43633
API to follow Ingress, @thockin? Is there a replacement in the works?

[2019-05-09 07:04] thockin commented on #39792
I do not think we want Kubernetes to become a general-purpose DNS server

[2019-05-09 07:04] #39792 closed

[2019-05-09 07:05] thockin commented on #35504
I think the right way to do this would be a CRD and an admission controller webhook.  Fun project

[2019-05-09 07:06] thockin commented on #35504
To be clear, I meant a non-core solution

[2019-05-09 07:08] #32075 closed

[2019-05-09 07:12] fisherxu opened #77644 "InitContainer exec failed when job-pod start, the Restartcount can't used for backoffLimit"
**What happened**:
I create a job with initcontainer with restartPolicy `OnFailure`:
[code]

when the initContainer exec failed and it will be restarted, the pod Phase will be pending all the time.
[code]
but in JobController, the `pastBackoffLimitOnFailure` only care the running pod. So this pod
will be always restarted.

**What you expected to happen**:

when restart count to backoffLimit, the j

[2019-05-09 07:13] fisherxu commented on #77644
/sig apps

[2019-05-09 07:22] dElogics opened #77646 "kubeadm fails with error execution phase upload-config/kubelet: Error writing Crisocket information for the control-plane node: timed out waiting for the condition"
**What happened**:
Kubeadm fails to register node and results in the following error --
\# kubeadm init phase upload-config kubelet -v 10
I0509 12:17:06.897161   13262 initconfiguration.go:105] detected and using CRI socket: /var/run/dockershim.sock
I0509 12:17:06.897514   13262 interface.go:384] Looking for default routes with IPv4 addresses
I0509 12:17:06.897545   13262 interface.go:389] Default

[2019-05-09 07:23] dElogics commented on #77646
/sig cluster-lifecycle

[2019-05-09 07:26] krmayankk commented on #66311
/assign @krmayankk

[2019-05-09 07:26] krmayankk commented on #66311
@tallclair @liggitt @mikedanese  is this still relevant ? Can i start looking into this ?

[2019-05-09 07:29] mm4tt commented on #77538
@freehan, could you take a look?

[2019-05-09 07:30] #77511 closed

[2019-05-09 07:35] AndrewSav commented on #39792
This is a requiest for supporting dns aliases for kubernetes service, it is not a request for kubernetes to become a general-purpose DNS server, that would be ridiculous. Note, that you cannot emulate that with an external general-purpose DNS server, because these, generally don't want to become kubernetes api consumers favouring staying general-purpose DNS servers. That is to say, whatever soluti

[2019-05-09 07:39] warmchang commented on #30698
Hi, is there any plan for this? Thx!

[2019-05-09 07:39] Martynas-P commented on #77557
I would like to work on this, if there are no objections from anyone.

[2019-05-09 07:46] mm4tt commented on #77602
https://github.com/kubernetes/kubernetes/pull/77580 got merged and it looks better now, from the on-going kubemark 5000:
[code]
and it's increasing.

[2019-05-09 07:49] lenoAlex opened #77648 "Does DaemonSet only work in namespace of kube-system?"
Set namespace of monitoring, and Deployed a DaemonSet with no node selector, but it's not running in all of them. Does DaemonSet only work in namespace of kube-system?
my yaml as follows:
[code]

[2019-05-09 07:50] camilamacedo86 commented on #77444
HI @liggitt,

Thank you for share this over the discovery client. If you check [here](https://github.com/aerogear/mobile-security-service-operator/pull/54) my first solution was to add this value hardcode and my idea was to automate it by shell scripts which will be called before the CRs be applied in the cluster.

However, I really would like to get this info by the client API inside of the clust

[2019-05-09 07:53] s-urbaniak commented on #76956
@logicalhan unfortunately the prometheus registry will drop the redundantly registered metrics and return an error. That error is currently just logged.

One way is to specifically analyze the returned error from the registry and use the existing collector reference which I did in #77553. I will also try out using vector metrics instead as it should make the code a bit cleaner.

[2019-05-09 08:05] Rajat-0 commented on #67777
@hprateek43 @akki  corresponding PR is inactive from a long time.

[2019-05-09 08:44] Pingan2017 commented on #77648
b/c u set this : scheduler.alpha.kubernetes.io/critical-pod: ''
critical pod only work in kube-system

[2019-05-09 08:46] kiennguyen294 commented on #52527
I have semilar issue with kube version 1.7.4.
When i create pod, pod is state running but not IP, but after restarted kubelet service, everything went fine.
Help me!

[2019-05-09 08:49] jsafrane commented on #77389
If `DescribeInstances` can return stale data, depending on it in `AttachDisk` (or anywhere else) probably won't help, because we may again get new or stale data "randomly".

We call `DescribeInstances` in `AttachDisk` today to get fresh list of used/free devices. Depending on timing, two cases happen:

* Sometimes it returns that the volume is detaching and I can see `Got assignment call for alrea

[2019-05-09 08:50] pohly commented on #69608
/remove-lifecycle stale

[2019-05-09 08:50] lenoAlex commented on #77648
@Pingan2017 ,thank u

[2019-05-09 08:50] #77648 closed

[2019-05-09 09:09] danielloczi opened #77650 "No DNS resolve for 5 min after node failure (CoreDNS)"
**What happened**: we have a 3 master node setup with 2 CoreDNS pods (default setup). In case of a single node failure (killing the node that hosted one of the CoreDNS pods) DNS resolve stops working for 5 minutes. After the failed node reports 'NotReady', the CoreDNS still reports happy, and after 5mins the pod re-created. I fixed that pod re-creation issue with adding the following tolarations t

[2019-05-09 09:13] danielloczi commented on #77650
@kubernetes/sig-kube-dns

[2019-05-09 09:14] danielloczi commented on #77650
@kubernetes/sig-network-bugs
@kubernetes/sig-network-bugs/sig-kube-dns

[2019-05-09 09:24] danielloczi commented on #77650
Here you can see, that hi5 server was killed, that previously hosted one of the coredns pods. New pod is created:
![image](https://user-images.githubusercontent.com/11349934/57442624-aacaa900-724c-11e9-8985-502f1c267a90.png)
But other pods unable to resolve dns:
![image](https://user-images.githubusercontent.com/11349934/57442693-c6ce4a80-724c-11e9-8c4f-e445e835f57b.png)

Then after ~5 minutes dns

[2019-05-09 09:46] #75582 closed

[2019-05-09 09:50] silenceshell commented on #77209
help...

[2019-05-09 10:10] bboreham commented on #45419
I suspect this symptom can be caused in many ways, and we don't have much to go on for most of the "I have the same problem" comments here.

One of those ways was detailed at https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-405168344 and similar at https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-456081337 - calls into CNI could hang forever, breaking Kubelet.

[2019-05-09 10:23] yanniszark opened #77651 "BoundServiceAccountTokenVolume: kube-proxy doesn't reload ServiceAccount tokens"
**What happened**:

This all happened in a `GKE 1.13.5-gke.10` alpha cluster.

1. `kube-proxy` stopped working and inspecting the logs showed messages like:
[code]
2. Upon inspection of the kube-proxy Pod, I saw it was using the `BoundServiceAccountTokenVolume` feature. Notice that the expirationSeconds is 1 hour. This is exactly how much time kube-proxy was working correctly before it started thr

[2019-05-09 10:25] yanniszark commented on #77651
/sig auth

[2019-05-09 11:42] Bujail opened #77654 "Kubelet restarts Docker daemon frequently in AWS M5 instances"
**What happened**:
Docker daemons are getting restarted frequently.

**What you expected to happen**:
Docker daemon need to be stable.

**How to reproduce it (as minimally and precisely as possible)**:
Cluster created using Kubeadm 1.14.1 in AWS with Instance type m5.xlarge

**Anything else we need to know?**:

Kubelet logs:

[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[

[2019-05-09 11:50] Bujail commented on #77654
/sig-aws

[2019-05-09 11:58] efilipov opened #77655 "Kubelet crashing with SIGSEGV under load"
**What happened**:
Kubelet had crashed one one of the heavily loaded instances in AWS EC2 cluster (r4.8xlarge).

Logs show the following traceback:
[code]

**What you expected to happen**:
Kubelet not to crash.

**How to reproduce it (as minimally and precisely as possible)**:
Reproduction unknown at this point.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kube

[2019-05-09 12:04] efilipov commented on #77655
/sig node

[2019-05-09 12:11] stamm commented on #76664
We tested this patch to kubernetes v1.12.7 and it works well in production.

BTW, I don't know much about SCTP. But question is do we need to threat it as UDP or TCP in this case? But it seems more close to UDP.

[2019-05-09 12:16] caarlos0 commented on #72044
Just had that issue with a `Job` on GKE `1.12.7-gke.7` too.

[2019-05-09 12:35] danwinship commented on #51891
I'm not sure if most plugins allow selecting hostNetwork pods by podSelectors. It would be strange if they did, since then if you have two hostNetwork pods A and B on the same node, and you write a policy saying "allow traffic from A", then that policy has to also allow traffic from B, which would be unexpected and inconsistent with the behavior of non-hostNetwork pods. It would make more sense to

[2019-05-09 12:49] yastij commented on #77655
/assign

[2019-05-09 12:53] yastij commented on #77655
This seems like we don't check if Memory is not `nil` on latest stats

[2019-05-09 13:00] vorozhko commented on #63959
Waiting for this as well on EKS.

Thanks!

[2019-05-09 13:08] alejandrox1 commented on #77601
This looks resolved.
/close

[2019-05-09 13:08] #77601 closed

[2019-05-09 13:09] mborsz opened #77658 "In HA setup, nodes are becoming NotReady in case of single master outage"
**What happened**:

We observed that in HA setup (multimaster setup with GCE L4 Load balancer in front), in case of single master outage,  nodes that were attached to that master are going to NotReady state (are unable to talk to the k8s master).

This is happening because GCE L4 Load balancer is using health check signal only for new connections and all existing ones are kept open until the clien

[2019-05-09 13:13] mm4tt commented on #76490
@misterikkit, another one :) Could you take a look?

[2019-05-09 13:20] bartwensley opened #77660 "Add mechanism to tell kubernetes that a node has gone down"
**What would you like to be added**:

I am interested in reducing the amount of time it takes for an endpoint to be removed from a service when a worker node goes down. I know that the --node-monitor-grace-period can be reduced from the default of 40s, but I'm more interested in a way to trigger this through the API.

For example, if an external entity knows that a node has rebooted, it would be u

[2019-05-09 13:21] bartwensley commented on #77660
/sig node

[2019-05-09 13:35] xuzhenglun commented on #55386
This problem is still there.  any update？

related issue: https://github.com/opencontainers/runc/issues/1844

[2019-05-09 13:36] #56335 closed

[2019-05-09 13:45] sergeohl commented on #61486
For me is not working because we have an internal domain name (not ec2.internal) and all servers have an internal hostname (node-01).

Kube-proxy has to have the same name as the node in the cluster (ip-X-X-X-.ec2.internal). First I tried to override the node name in the cluster with kops setting, but I cannot use nodes' environment variables.

The only solution is to match the kube-proxy hostname

[2019-05-09 14:03] danwinship commented on #67526
Did you comment on the wrong issue? This one is "port ranges for NetworkPolicies", not "port ranges for Services". You can already "not specify ports and allow the whole IP" for NetworkPolicies, it's just that the OP didn't want to.

[2019-05-09 14:03] rcorre opened #77662 "Support service type as a field selector"
**What would you like to be added**:

Allow `services` to be filtered by `spec.type`.

[code]

**Why is this needed**:

It is often important to differentiate between different kinds of services. For example, I'm trying to set up [resource count quotas](https://kubernetes.io/docs/concepts/policy/resource-quotas/#object-count-quota) and want to count specifically how many LoadBalancers each namespa

[2019-05-09 14:09] istikamet opened #77663 "vsphere_volume_util.go:187] Cloud provider not initialized properly"
We are trying to configure vsphere cloud provider according to below support link for dynamic provisioning from vmware. There was  no problem with kubernetres version  v1.8, the issue appeared after deploying new kubernetes cluster with version 1.12.
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/existing.html

**Kubernetes version**
`v1.12.7`

**Environment**
`Cluster:   ma

[2019-05-09 14:12] mattjmcnaughton commented on #77660
Interesting idea - thanks for sharing @bartwensley !

I think this is an idea that, if it had the appropriate buy in, we'd definitely want to create a [Kubernetes Enhancement Proposal (KEP)](https://github.com/kubernetes/enhancements) for. I think responses to this issue (and potentially bringing it up in #sig-node on Slack or attending a sig-node meeting) will be a good guide of whether there's s

[2019-05-09 14:13] mattjmcnaughton commented on #77655
Nice debugging :)

[2019-05-09 14:14] maxdebayser commented on #10421
I you have other workloads on the same node you might want to increase `fs.inotify.max_user_instances` as well. If you hit this limit, the error message is exactly the same.

[2019-05-09 14:18] rcorre commented on #77662
/sig cli

[2019-05-09 14:18] mattjmcnaughton commented on #77546
Agree with all your statements here :)

I'm also surprised that `net.ipv4.route.min_pmtu` ever worked, but perhaps we could sync with the original author of the docs?

+1 to in the meantime changing the docs to a namespaced sysctl.

[2019-05-09 14:29] kwiesmueller opened #77665 "Possible bug when decoding yaml/json into unstructured"
## What happened:
During https://github.com/kubernetes/kubernetes/pull/75917 we discovered a failing test because of wrong int/float conversion on apply.

The problem got traced to how a json string gets decoded by sigs.k8s.io/yaml.
The string is:

[code]

What we saw when unmarshalling this into unstructured was, that the results differ based on what unmarshaller we use and what we target in deta

[2019-05-09 14:31] kwiesmueller commented on #77665
One thing I found so far as well:
https://github.com/kubernetes/kubernetes/blob/95eb3a67020f6eabef08c3e9caf348149f469798/staging/src/k8s.io/apimachinery/pkg/util/json/json.go#L111
[code]
used by k8s.io/apimachinery/pkg/util/json to fix the default gojson behavior. Thing is, sigs.k8s.io/yaml does not use this but the standard library.

[2019-05-09 14:32] liggitt commented on #76676
help fixing this is welcome, though it would only be fixed in releases 1.12+, per https://kubernetes.io/docs/setup/version-skew-policy/#supported-versions

[2019-05-09 14:35] bartwensley commented on #77660
Thanks @mattjmcnaughton for the quick reply! The liveness probe won't help in my case (node rebooting or powered down) because the kubelet isn't there to do the liveness probe.

I will also bring this up on #sig-node, but would be nice to get feedback here as well so it is recorded for posterity.

[2019-05-09 14:36] bjhaid commented on #36858
I started opening a bunch of PRs for this:

https://github.com/kubernetes/kubernetes/pulls?q=is%3Apr+staticcheck

[2019-05-09 14:52] neolit123 commented on #77615
/sig node

[2019-05-09 14:52] neolit123 commented on #77654
/sig node aws

[2019-05-09 14:53] neolit123 commented on #77663
/sig vmware

[2019-05-09 14:54] neolit123 commented on #77658
/sig gcp

[2019-05-09 14:56] neolit123 commented on #77632
not sure if this type of referencing should be exposed on the API level, but will defer to sig-api-machinery for further comments:
/sig apimachinery

[2019-05-09 14:56] neolit123 commented on #77632
/sig api-machinery

[2019-05-09 15:03] aermakov-zalando opened #77666 "Kubectl plugins: support global options"
**What would you like to be added**:

If a `kubectl-foo` plugin binary exists, both `kubectl foo -n namespace` and `kubectl -n namespace foo` should work. Currently, only the first command would call the plugin binary, the second one would complain about a missing command.

**Why is this needed**:

Plugins should work correctly when using custom aliases that e.g. operate on a specific namespace.

[2019-05-09 15:04] aermakov-zalando commented on #77666
@kubernetes/sig-cli-feature-requests

[2019-05-09 15:05] aermakov-zalando commented on #77666
No idea what would be the best way to handle it. The easiest way would be for `kubectl` to transform global options into command arguments, so the two commands would be equivalent.

[2019-05-09 15:12] chrisohaver commented on #77650
Before diving further, trying to understand why adding the tolerations is necessary.

[code]

... are they actually doing anything?  The tolerations say to tolerate unreachable and unready node NoExecutes for zero seconds (which is already the default behavior IIUC).

[2019-05-09 15:20] jorge-fans commented on #44540
I know this `--kubelet-insecure-tls` will make it work. but is important to note that this is useful in test clusters with self-signed Kubelet serving certificates but is not recommended for production usage

[2019-05-09 15:25] thockin commented on #39792
This is what things like external-dns are for - syncing kubernetes
state into some other DNS system.

I don't think it's reasonable for kubernetes core to grow surface area
to cover this because it is a slippery slope -- we start with A
records, but very quickly we need AAAA and PTR, and there will be some
need for CNAME, and TXT.  NOt to mention the auth and security issues
- who is allowed to cl

[2019-05-09 16:12] johnSchnake commented on #76728
See #77359 which tracks updating each set of files; it was too big to do at once. Closing this as duplicate.

[2019-05-09 16:12] #76728 closed

[2019-05-09 16:16] MrHohn commented on #59031
cc @prameshj

[2019-05-09 16:25] draveness commented on #77103
It seems like this issue will be solved after #77627 #77649 #77579 merged.

[2019-05-09 16:33] d4larso opened #77678 "When a Vmware node goes down, Kubernetes is unaware and PV isn't released"
**What happened**:
If a Vmware node with a PV crashes, is shutdown or halted, Kubernetes is unaware and doesn't release the a pod's claim (PVC) on the PV.

**What you expected to happen**:
The PV should become "unattached" so the node and can be picked up for use by a Pod on another node.

**How to reproduce it (as minimally and precisely as possible)**:
Shutdown or halt a vmware VM and note that

[2019-05-09 16:36] d4larso commented on #77678
@kubernetes/sig-vmware-bugs

[2019-05-09 16:37] cblecker commented on #75833
Reopening this so we can verify that everything is back to normal in CI

[2019-05-09 16:48] neolit123 commented on #77628
hi,
it depends on how fast your node machines, how heavy your StatefulSet application is, but i wouldn't expect more than 1 minute of downtime for the setup you are describing.

to gather more responses on the subject try the k8s slack channel #kubeadm or ask on stack-overflow.

thanks.
/remove-sig contributor-experience
/sig cluster lifecycle
/close

[2019-05-09 16:48] #77628 closed

[2019-05-09 16:49] neolit123 commented on #77628
/sig cluster-lifecycle

[2019-05-09 17:09] logicalhan commented on #76956
What do you mean by drop? Prometheus will not re-register the same metric over again but that is by design.

[2019-05-09 17:11] kargakis commented on #74551
I have created a simple client+server reproducer at https://github.com/kargakis/k8s-74551-reproducer

This issue is unfortunate, `kubectl port-forward` makes it very easy for our less kube-experienced developers to leverage our production deployment for development.

[2019-05-09 17:13] apelisse commented on #77665
Why does it matter for us that it is a float or an int? Would something break if someone replaces `1` with `1.0`? I'm pretty sure it shouldn't.

[2019-05-09 17:18] sttts commented on #76490
Fighting with this as well: https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/77207/pull-kubernetes-kubemark-e2e-gce-big/1125824885537378312

[2019-05-09 17:20] s-urbaniak commented on #76956
@logicalhan yes, that is what I meant :-)

[2019-05-09 17:31] aojea opened #77682 "Take advantage of new CNI capabilities"
**What would you like to be added**:

This is a followup on #64393 , since it only added the new CNI capabilities to the dockershim. They shoud be added to the CRI too

**Why is this needed**:

Runtimes should have at least feature parity, we found out that this was missing when trying to use the `ipRanges` capability with https://github.com/kubernetes-sigs/kind/pull/500

[2019-05-09 17:32] aojea commented on #77682
/sig network

[2019-05-09 17:32] aojea commented on #77682
/assign
/cc @BenTheElder

[2019-05-09 17:42] ORESoftware opened #77683 "The following command does not recognize the --output=json flag"
I ran this command:

[code]

and it says

[code]

I would expect this command to optionally output json.

@kubernetes/sig-cli-feature-requests

[2019-05-09 17:43] BenTheElder commented on #77682
cc @Random-Liu @yujuhong for thoughts on this :-)

FWIW kind will be fine without it I think, but I am curious about the parity here.

[2019-05-09 18:11] bgrant0607 commented on #77305
/remove-sig architecture

[2019-05-09 18:25] powereborn opened #77687 "Taint toleration configured on namespace level"
**What would you like to be added**:

The feature that would be interested to add is the capacity to prevent all pods in certain namespaces to be scheduled on some worker with a specific label.

**Why is this needed**:

It's needed notably in the case of a kubernetes multi-tenant cluster. Let's imagine a specific case, you have one customer per namespace. You want to force them to use specific wor

[2019-05-09 18:29] liggitt commented on #77665
cc @sttts

https://github.com/kubernetes-sigs/yaml/pull/14 might be relevant

[2019-05-09 18:35] uruddarraju commented on #70506
yeah. I think it is a valid requirement to have the capability to return 400s with a Mutating Webhook. In most cases, developers would not want to build 2 different admission plugins, one for mutating and one for validation for the same `Kind`. It is convenient to have both mutating and validating logic in one webhook. This also decreases the number of roundtrips from the apiserver for the webhook

[2019-05-09 18:39] oomichi commented on #77103
@draveness

`$ ag -l "gomega\.Expect\(err\)\.NotTo\(gomega.HaveOccurred\(\)\)"` which you are using cannot cover the following case which contains error message:
`gomega.Expect(err).NotTo(gomega.HaveOccurred(), "Failed to get pod %q", pod.Name)`
So still we have a lot of targets at this time :-(

[2019-05-09 18:43] liggitt commented on #76579
Can we bump the level to https://github.com/beorn7/perks/commit/4c0e84591b9aa9e6dcfdf3e020114cd81f89d5f9? I'd like to get rid of the pinned version asap since it means our staging components don't build identically for consumers.

[2019-05-09 18:58] tmlbl commented on #68939
I am running into this trying to run kubelet in standalone mode on `v1.12.8` and it is quite confusing. I can start with:
[code]
But the ostensibly equivalent config file:
[code]
gives the following error:
[code]

[2019-05-09 19:04] xeor commented on #56903
Is this really fixed? I'm having problems when using nodelocaldns, which I'm unsure is a new bug or not.

* A simple `curl service.ns.svc.cluster.local` works instant, but I haveto wait 5 second before I try it again, or I'll get `Name or service not known`
* Tried reinstall test cluster, 1.13, 1.14, weave, calico, proxymode: iptables, ...
* No errors in dns logs

Not sure if I should create a new

[2019-05-09 19:07] haosdent commented on #70585
+1

[2019-05-09 19:19] oomichi commented on #77103
Thank you everyone who are fighting for this issue.
After the pull-kubernetes-verify job of https://github.com/kubernetes/kubernetes/pull/77612 pass, we can close this issue.

[2019-05-09 19:19] oomichi commented on #77103
Feel free to `/retest` on https://github.com/kubernetes/kubernetes/pull/77612 to verify our work status.

[2019-05-09 19:26] haiyanmeng commented on #70890
I am using `docker-containerd-shim`.

[2019-05-09 19:42] #59551 closed

[2019-05-09 19:42] #67047 closed

[2019-05-09 19:46] Quentin-M commented on #56903
It’s a kernel bug, so not fixed. You need kernel 5.1+ to get the full
kernel fixes.

--
Quentin Machu

On May 9, 2019 at 12:07:16 PM, Lars Solberg (notifications@github.com)
wrote:

Is this really fixed? I'm having problems when using nodelocaldns, which
I'm unsure is a new bug or not.

   - A simple curl service.ns.svc.cluster.local works instant, but I haveto
   wait 5 second before I try it aga

[2019-05-09 19:50] prameshj commented on #56903
Please create an issue in kubernetes/dns  and describe your setup and the nodelocaldns image you are using. Are you consistently seeing one resolution work and the following one fail for 5 seconds?

[2019-05-09 19:52] Bruceforce commented on #77615
I can confirm this. If I start cri-o from a systemd service it fails with the above mentioned error message. Starting crio with `/usr/local/bin/crio` without systemd works just fine.

systemd file:
[code]

[2019-05-09 20:09] dims commented on #70890
Ack thanks @haiyanmeng

[2019-05-09 20:11] dannyk81 commented on #56903
@xeor @prameshj we are running K8s 1.13.2 with nodelocaldns on ~10 different clusters (CoreOS 1967.6.0, kernel 4.14.96) and have not had any issues with dns timeouts since moving to this setup across the while fleet.

[2019-05-09 20:19] jennybuckley commented on #77599
/remove-sig api-machinery

[2019-05-09 20:20] jennybuckley commented on #77600
/remove-sig api-machinery

[2019-05-09 20:23] xeor commented on #56903
To clearify.. The problem I see now is not q timeout, but I have to wait 5 seconds between each curl/wget. Normal dns lookups using dig works each time, instant.

I'll check more, and trying the 5.1 kernel tomorrow

[2019-05-09 20:23] jennybuckley commented on #77632
/assign @lavalamp

[2019-05-09 20:32] dannyk81 commented on #56903
@xeor what you are describing doesn't seem at all related to this issue.

the DNS query from networking perspective is the same whether you've initiated it from `dig` or `curl` command.

if `dig` *always* works and curl works only every 5 seconds (?) this sounds like something else all-together, but maybe I misunderstand your test case.

[2019-05-09 20:33] chrisohaver commented on #56903
@xeor, One difference between an explicit `dig`, and the implicit query via `curl`/`wget` etc is that `dig` does not follow search paths by default.  Does dig exhibit the same behavior if you add the `+search` to the dig command?
Another difference is that `curl`/`wget` may be making `AAAA` requests at the same time (`dig` just does an `A` request by default).

Turning on logging in coredns may sh

[2019-05-09 20:49] tallclair commented on #66311
Definitely still relevant, though somewhat nuanced to use correctly. Unless @mikedanese has started working on it, I'd be happy to have you look into it.

[2019-05-09 20:54] tedyu opened #77697 "Cache resource requests per Pod per resource name in getPodsToPreempt"
**What would you like to be added**:
Cache resource requests per Pod per resource name (using a map) and pass it to calls of requirements.subtract() in getPodsToPreempt of preemption

**Why is this needed**:
In requirements.subtract(), we iterate over all containers of the Pod to calculate new quantity.
Such iteration is repeated at the scope of getPodsToPreempt.

Caching can reduce unnecessary re

[2019-05-09 20:55] tedyu commented on #77697
/sig node

[2019-05-09 21:06] dougm commented on #77360
@rhockenbury yes, the solution user setup looks right.  Not sure what the issue is with `-r`.  Can you share your vCenter build number (`govc about`)?  I'll try to reproduce the issue.

[2019-05-09 21:10] johngmyers commented on #60535
The DNS record is not useful when it is a TLS service because the service will almost never have a matching SAN in its certificate. The code in the pod needs to dereference and use the underlying external domain

The documentation at https://kubernetes.io/docs/concepts/services-networking/service/ clearly states that the kubelet adds these environment variables "for each active Service". If Extern

[2019-05-09 21:11] johngmyers commented on #60535
/reopen

[2019-05-09 21:12] rhockenbury commented on #77360
$ govc about -u vcdo
Name:         VMware vCenter Server
Vendor:       VMware, Inc.
Version:      6.7.0
Build:        13007421
OS type:      linux-x64
API type:     VirtualCenter
API version:  6.7.2
Product ID:   vpx
UUID:         f3a891ef-55ed-4737-9cc4-acf69a346b75

[2019-05-09 21:13] #77402 closed

[2019-05-09 21:24] saad-ali commented on #71487
Re opening.

https://github.com/kubernetes/kubernetes/pull/72873 was a temporary work around for this.

https://github.com/kubernetes/kubernetes/pull/73891 is the permanent fix.

[2019-05-09 21:33] johnbelamaric commented on #76585
This is not a Kubernetes issue, you'll need to open this up with the fabric project (I am not even sure what that is...)

/remove-triage unresolved
/close

[2019-05-09 21:33] #76585 closed

[2019-05-09 21:39] villytiger opened #77700 "initContainer metrics fail for cri-o runtime"
**What happened**:
The metrics-server is unable to get metrics for pods with init containers.

**What you expected to happen**:
Metrics for pods with init containers show up.

**How to reproduce it (as minimally and precisely as possible)**:
Create a pod with an init container. Metrics are not gathered for that pod.

**Anything else we need to know?**:
Related to #74310. Must be fixed in v1.14.0,

[2019-05-09 21:44] lavalamp commented on #77632
I understand why this seems appealing, but API Machinery doesn't recommend implementing this as a feature. Why?
* It's possible for users to end up with a large graph of configmaps importing other configmaps. There could even be cycles.
* Kubelet would need to modify a mounted configmap if any of the referenced configmaps changed.
* It will be very difficult for users to figure out where a given v

[2019-05-09 21:44] #77632 closed

[2019-05-09 21:55] MrHohn commented on #74383
Thanks Andrew, since your PR is tackling a more critical use case, feel free to focus on that and we can pick this up in the second pass.

[2019-05-09 22:17] mikedanese commented on #66311
@krmayankk yes please, go ahead.

[2019-05-09 22:29] jiatongw commented on #77197
While I am doing the refactoring, I think maybe we should also move `service_util.go` to `e2e/framework/service`, which this package is in progress. @andrewsykim do you think we should add `service_util.go` to #77095 for tracking?

[2019-05-09 23:01] liggitt commented on #77683
duplicate of https://github.com/kubernetes/kubernetes/issues/25353#issuecomment-422525235

describe does multiple get requests. there is not a single API that encompasses all the information output by describe, and it is not intended to be written to as an API

you can run `kubectl get … -o json` to get the API responses for programmatic use.

/close

[2019-05-09 23:01] #77683 closed

[2019-05-09 23:02] liggitt commented on #77660
Actors other than the kubelet can patch node status if they are aware the node is not on. Can you describe why making use of the existing API is not sufficient?

[2019-05-09 23:08] liggitt commented on #77641
The defaults are different in different API versions. Those are the defaults for those fields in extensions/v1beta1. Use `--api-version=<group>/<version>` to see the docs for the version you are interested in

/close

[2019-05-09 23:08] #77641 closed

[2019-05-09 23:11] dawand commented on #48378
This works. Except that I had to set my KUBECONFIG again since that was changed

export KUBECONFIG=$HOME/.kube/config

[2019-05-09 23:26] bgrant0607 commented on #74405
@liurd

The controller in question was a Deployment?

Do you know what specifically caused the VM to crash? The Kubelet should have put the pods into CrashLoopBackoff, as shown here: http://www.google.com/url?q=http%3A%2F%2Fcloudgeekz.com%2F1605%2Fkubernetes-application-oomkilled.html&sa=D&sntz=1&usg=AFQjCNEoSnD7t17j8cvistbkDoWlB5DAvA

When you mentioned "whole cluster crash", did you also mean th

[2019-05-09 23:45] divyenpatel commented on #75738
@saad-ali Is this disk attached to some other powered on VM. If this is the case, we can not attach it to another powered on VM, and also we can not delete this disk, until disk is detached from the VM.

You have mentioned that "We worked around this by provisioning new PVCs.", means issue is not happening on all disks created on HP 3 PAR Storage Array.

[2019-05-10 00:39] krmayankk commented on #66311
/remove help-wanted

[2019-05-10 00:41] krmayankk commented on #66311
/remove-help

[2019-05-10 00:52] #77655 closed

[2019-05-10 01:00] ross-w commented on #23013
Just hit this problem with v1.14.1. Deployed some identical servers (apart from hostname/IP obviously) from the same configuration management but one was not getting DaemonSets scheduled on it.

Comment https://github.com/kubernetes/kubernetes/issues/23013#issuecomment-206503020 resolved the issue for us. Still strange it happened and why it only happened to one of them.

[2019-05-10 01:07] MrHohn commented on #77135
Good point.. I guess we haven't experienced such problem that much because service controller caches service's previous state. But with finalizer we plan to remove the cache layer, and will have to consider this case.

Sounds viable, though can't easily think of a non-cloud-provider specific solution out of this --- I guess the simplest version would be annotating service with the created resource

[2019-05-10 01:13] oomichi opened #77706 "Use framework.ExpectError() for e2e tests"
**What happened**:

After fixing golint failures under `test/e2e` (now still in progress), we need to put `gomega` for each `Expect()` and `HaveOccurred()`.
Then common error checking code has become like:

`gomega.Expect(err).To(gomega.HaveOccurred())`

We can replace this code with `framework.ExpectError(err)` which is more readable and easy to be understood what the code does.

Now we have foll

[2019-05-10 01:14] oomichi commented on #77706
/sig testing
/kind cleanup

[2019-05-10 01:17] msau42 commented on #69831
/remove-lifecycle stale

[2019-05-10 01:35] diemus commented on #42649
@minhdanh i'm talking about using client go. i don't think  kubectl can change this status

[2019-05-10 01:41] draveness commented on #77103
I just dug around to find the remaining case with the form of `gomega.Expect(err).NotTo(gomega.HaveOccurred(), "Failed to get pod %q", pod.Name)`:

[code]

And I have left a message in https://github.com/kubernetes/kubernetes/pull/77649, the issue will be solved after:

+ https://github.com/kubernetes/kubernetes/pull/77649 update with the cmd I left and merged.
+ #77627 #77649 #77579 merged `gomeg

[2019-05-10 01:43] danielqsj commented on #77706
/assign
PR will be submitted soon.

[2019-05-10 01:46] suigh commented on #77052
@xichengliudui
#77327 (API changes for KEP "Even Pods Spread) can help on this request.

[2019-05-10 01:51] draveness commented on #77103
There are still codes with the form `gomega.Expect(errRW).NotTo(gomega.HaveOccurred(), msg)` when the var does not have name `err`, I could fix the problem after all the above PR get merged.

[2019-05-10 02:05] atoato88 commented on #77103
done #77649.

[2019-05-10 02:33] xichengliudui commented on #77052
thanks.

[2019-05-10 02:36] hero-zhanghao commented on #77632
Thanks for your feedback. If this function is understood according to the idea that configmap is immutable, it really has no great value

[2019-05-10 02:48] danielqsj commented on #77706
Fix the following in https://github.com/kubernetes/kubernetes/pull/77709
[code]

[2019-05-10 02:54] starsy commented on #56903
I did side-by-side tests for dig and curl when investigating this issue in March, it shows only curl will suffer the dns timeout issue, dig was never seen has a problem. Curl leverages libc for dns resolution, however dig uses its own, which I think lead to the behavior difference.

[2019-05-10 03:54] danielqsj commented on #77706
Fix `test/e2e/scheduling/limit_range.go` in #77714

[2019-05-10 03:54] atoato88 commented on #77103
Maybe, following items are target of this issue too.
This is a case that is consisted of multiple lines.

[code]

These were gotten by `grep -n -e "NotTo(.*HaveOccurred"` and filtered in manual way.
It is needed that checks whether it is a target or not by reading each code, because these are just text match.

[2019-05-10 04:17] thehackercat commented on #74011
+1

[2019-05-10 04:40] danielqsj commented on #77706
Fix `test/e2e/node/kubelet.go` in https://github.com/kubernetes/kubernetes/pull/77715

[2019-05-10 04:44] #77634 closed

[2019-05-10 04:45] xeor commented on #56903
Thanks for the tips.. I tried a couple of things

* Added log to coredns and nodelocal
* I was not able to reproduce it using dig, nor with adding `+search`, trying `AAAA` or both (`dig echo-a.np-a.svc.cluster.local. A echo-a.np-a.svc.cluster.local. AAAA`.
* I tested with the full fqdn `echo-a.np-a.svc.cluster.local.`, including the `.`, so search is ruled out.
* `curl -H "host: echo-a.np-a.svc.cl

[2019-05-10 05:07] WanLinghao commented on #77706
Hi, maybe I could take files beneath test/e2e/storage/vsphere/

[2019-05-10 05:09] danielqsj commented on #77706
@WanLinghao oops, I'm finished and prepare for PR.

[2019-05-10 05:09] prameshj commented on #56903
I wonder if the failure is because AAAA query is sent first in this sequence. In the successful case, the request for A query is sent first and probably gets a valid response first. AAAA will get an NXDOMAIN, not sure why the log says NOERROR instead of NXDOMAIN.

[2019-05-10 05:11] WanLinghao commented on #77706
@danielqsj Thank you  That's OK

[2019-05-10 05:14] feiskyer opened #77717 "Some service tags are not supported from Azure LoadBalancer services"
**What happened**:

Azure cloud provider has a limited support for service tags by annotations:

https://github.com/kubernetes/kubernetes/blob/32b37f5a85e8f2987f8367e611147cd4d4dfa4f9/staging/src/k8s.io/legacy-cloud-providers/azure/azure_loadbalancer.go#L96-L97

But according to https://docs.microsoft.com/en-us/azure/virtual-network/security-overview#service-tags, there are actually much more serv

[2019-05-10 05:15] feiskyer commented on #77717
/assign

[2019-05-10 05:17] danielqsj commented on #77706
Fix the following in #77718
[code]

[2019-05-10 05:50] istikamet commented on #77663
/sig storage  /assign

[2019-05-10 05:54] andyzhangx opened #77721 "some azure metrics are wrong"
**What happened**:
Following azure metrics are wrong, `mc.observe` func is invoked twice:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname

[2019-05-10 06:08] WanLinghao commented on #77599
Since patch #72179 would be contained in v1.15, does that mean we should start clean work after v1.15 released?

[2019-05-10 06:09] WanLinghao commented on #77600
Since patch #72179 would be contained in v1.15, does that mean we should start clean work after v1.15 released?

[2019-05-10 06:25] draveness commented on #77103
Yeah, I noticed that and I'll fix all the remaining case after the PRs above get merged :)

[2019-05-10 06:25] krmayankk commented on #77660
@liggitt i think you mean `Actors other than the kubelet can patch pod status if they are aware the node is not on` , right ?

@bartwensley i think what Jordan is trying to say is that you could technically right something that would check if a node is down and using [readiness gates](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#pod-readiness-gate), update the pod readiness ga

[2019-05-10 06:39] danielloczi commented on #77650
I experienced, that some times that after a node failure the coredns pod, which was hosted by the failed node was still there and reporting 'Running' status (the node itself was already 'NotReady'). At first glance i was able to fix this by adding those tolerations. I'm not sure if it is really needed, that was just my attempt to fix the problem. But still if the coredns pod is recreated fast, som

[2019-05-10 06:40] krmayankk commented on #77651
why does kube-proxy need to use the service account token projection feature ? any specific advantage over the older method specifically in regards to kube-proxy ?

[2019-05-10 07:00] Nebulazhang opened #77723 "Add max-requests-inflight of event request"
**What would you like to be added**:

We can use `--max-requests-inflight --max-mutating-requests-inflight` to control the number of the requests. But if too many request about event ,or we use `--etcd-servers-overrides` to override the event etcd and this etcd is too busy. Too many event  requests lead to other resource request may fail. For example , maybe 300 event requests are blocking and 100

[2019-05-10 07:01] Nebulazhang commented on #77723
/sig api

[2019-05-10 07:02] Nebulazhang commented on #77723
/sig api-machinery

[2019-05-10 07:04] mm4tt commented on #76579
@liggitt, given how the revert helped in case of kubemark-5000 I think it's reasonable to bump to [beorn7/perks@4c0e845](https://github.com/beorn7/perks/commit/4c0e84591b9aa9e6dcfdf3e020114cd81f89d5f9)

[2019-05-10 07:05] houjun41544 opened #77724 "kube-scheduler --policy-config-file flag is labeled DEPRECATED"
I noticed that kube-scheduler --policy-config-file flag is labeled DEPRECATED since v1.11.
Without --policy-config-file flag, if I want to use shcheduler extender to add new scheduling rules, how should i do ?

[2019-05-10 07:07] houjun41544 commented on #77724
/sig Scheduling

[2019-05-10 07:09] mm4tt commented on #77602
/close
Closing this one, as of today the density test has passed in both kubemark-5000 and kubemark-100-high-density.

[2019-05-10 07:09] #77602 closed

[2019-05-10 07:16] istikamet commented on #77663
/cc @saad-ali
/cc @divyenpatel

[2019-05-10 07:19] x8091 opened #77725 "Share one master node across multiple clusters"
We need to support multi-tenancy in k8s cluster. I found some articles mention about using namespace isolation for that, but it doesn't suit well in our case. Is there any other way to achieve this?

Actually, it's best for us if we can share one master node across multiple k8s clusters. Is it even possible? If yes, what we need to do?

[2019-05-10 07:51] peter-wangxu opened #77727 "Is it possible for a PV to be mounted on the same node twice"
I am recently working on the CSI plugin... when using PV/PVC with deployment some interesting things occurred.

although the PV/PVC was set as `ReadWriteOnce`, it's possible 2 pods from different replicas that use the same pvc. if both the pods was scheduled to 1 node, the so called `isMultiAttachForbidden` in controller manager cannot detect any issue, instead both pod will be running on the same

[2019-05-10 07:53] #71673 closed

[2019-05-10 07:53] peter-wangxu commented on #77727
/sig storage

[2019-05-10 08:04] amoyx opened #77728 "PLEG is not healthy"
PLEG is not healthy: pleg was last seen active 3m3.928932625s ago; threshold is 3m0s
![image](https://user-images.githubusercontent.com/19795002/57512017-21df6a80-733d-11e9-9360-42feb9ec3a3f.png)
![image](https://user-images.githubusercontent.com/19795002/57512063-43d8ed00-733d-11e9-9854-04b68571fb2d.png)

[2019-05-10 08:08] dohnto commented on #69845
@thockin I am willing to work on this.

1. What should be a next step of mine?
2. Does this need a KEP?.
3. Is a FeatureGate with toggle turning on/off this a right place for this?

Thank you for your answer a guidance.

[2019-05-10 08:34] amoyx commented on #77728
/sig node,
I don't know whether it's Bug Report or Enhancement Request.

[2019-05-10 08:43] mikedanese commented on #77651
When kube-proxy runs in a daemonset, it uses service account credentials. With BoundServiceAccountTokenVolume, those credentials are backed with projected token volumes.

[2019-05-10 08:58] adelina-t commented on #69896
@bgrant0607  aks-engine deployer ( https://github.com/Azure/aks-engine)  still uses hyperkube

[2019-05-10 09:06] xrmzju commented on #42649
i ran into this problem  fro suspending my cronjob overnight. as @diemus suggested, we should ignore the cronjob that missed to many start times because of artificial suspending. update `LastScheduleTime` in cronjob controller when job is suspended  will be the most simple way to solve this problem. and something like below after [this line](https://github.com/kubernetes/kubernetes/blob/release-1.

[2019-05-10 09:16] cjreyn opened #77732 "Make preemption and priorities per namespace"
**What would you like to be added**:
Make preemption and pod priorities per namespace.

**Why is this needed**:
Clusters use namespaces for dev/prod division, or even multi-tenancy. It would be good to not consider pods in a production namespace from being potential victims of preemption.

[2019-05-10 09:29] pawel-furmaniak commented on #63615
@rdzimmer I think your deployment `selector` was matching the `labels` of containers from other deployments in your namespace. In such case you also need to add cpu limits to those containers for the autoscaler to work.

[2019-05-10 09:34] rcoup commented on #20605
Adding a native way to get the current namespace that's simpler than `kubectl config view -o jsonpath="{.contexts[?(.name==\"$(kubectl config current-context)\")].context.namespace}"` would be a win too 😄

As another source of ideas, [kubectx & kubens](https://github.com/ahmetb/kubectx) have been great tools for our team — managing a small set of contexts rather than hundreds of cluster/namespace

[2019-05-10 09:43] fabiand commented on #23864
Side note: Now that multiple interfaces per pod are becoming a standard, it
seems that such an additional interface is the escape hatch to expose port
ranges.

[2019-05-10 10:21] cjreyn commented on #77732
@kubernetes/sig-scheduling-feature-requests
@kubernetes/sig-multitenancy-feature-requests

[2019-05-10 10:41] NicolaiSchmid commented on #23864
@fabiand could you elaborate?

[2019-05-10 10:45] #77717 closed

[2019-05-10 10:52] rgembalik commented on #75401
As per issue above, I haven't noticed the symptoms after upgrading to 1.14. I'll reopen the issue if I observe it again.

[2019-05-10 10:52] #75401 closed

[2019-05-10 11:03] DaiHao commented on #63465
Any progress on this issue? We also encountered this problem.
There are thousands of nodes in our prod cluster and  nodes often go down, which cause daemonset rolling update stucked, this problem really bother us.

[2019-05-10 11:04] DaiHao commented on #63465
@janetkuo PTAL

[2019-05-10 11:07] fabiand commented on #23864
Actually - I was wrong, I ignored the context.
N, even with additional interfaces you can not export ranges _in services_
. It would just allow you to expose a complete IP to the outside of a
cluster, which is similar nbut not the same.

[2019-05-10 11:34] mborsz opened #77733 "NodeLifecycleController is overloading kube-apiserver"
**What happened**:

The current implementation of NodeLifecycleController generates "GET /api/v1/pods?fieldSelector=spec.nodeName=X" request for each node becoming unavailable. This request can be expensive when there is a high number of pods (O(100k)) running in the cluster.

The problem is that to prepare answer for that request, kube-apiserver needs to fetch all the data from etcd and then filt

[2019-05-10 11:36] danwinship commented on #67457
/remove-triage unresolved

[2019-05-10 11:37] danwinship commented on #77130
/remove-triage unresolved

[2019-05-10 11:40] neolit123 commented on #77728
please follow the issue template and provide more details about the problem.
/triage needs-more-information

[2019-05-10 11:42] neolit123 commented on #77700
/sig instrumentation

[2019-05-10 12:18] dims commented on #76579
@mm4tt @liggitt i've filed a PR for beorn7/perks@4c0e845

[2019-05-10 12:30] chrisohaver commented on #56903
@prameshj,

This is expected. If an A record exists for a name, then the AAAA for the same name will return NOERROR, with no record (aka NODATA) if there is no AAAA record.  NXDOMAIN means that the _domain_ does not exist, which isn't true if at least one record exists with that name.

[2019-05-10 12:41] chrisohaver commented on #77650
CoreDNS does not run in a master/slave config.  The two instances are replicas and completely unaware of each other.  Kubernetes provides random load balancing between the two Endpoints via a ClusterIP Service.  This is standard Kubernetes infrastructure - i.e. nothing special that CoreDNS is doing. Perhaps Kubernetes is not updating routes/iptables quickly enough, and continuing (for 5 minutes) t

[2019-05-10 12:56] lbogdan opened #77737 "PVC provisioning delay between 0.5 and 15s"
**What happened**:

When creating a PVC in a storage class managed by [Rook](https://github.com/rook/rook/), it is provisioned (by the rook operator) with a delay varying between 0.5 and 15s.

**What you expected to happen**:

The PVC is provisioned immediately.

**How to reproduce it (as minimally and precisely as possible)**:

Install rook, create a cluster, a pool and a storage class; create a

[2019-05-10 12:57] lbogdan commented on #77737
`kube-controller-manager` log:

[code]

[2019-05-10 12:57] lbogdan commented on #77737
`rook-operator` log:
[code]

[2019-05-10 12:57] aermakov-zalando commented on #77603
The logs are being corrupted by the API endpoint in kubelet, so shouldn't it be in scope of SIG node?

[2019-05-10 12:58] lbogdan commented on #77737
PVC & PV events:

[code]

[2019-05-10 13:00] MartinEmrich opened #77738 "Liveness/Readiness check for external Endpoints Services"
**What would you like to be added**:

Liveness/Readiness checks for external Endpoints.

As I understand, kube-proxy does load-balancing over `Endpoints` with multiple targets like

[code]

But the documentation is not clear (to me) what happens if one of these three backends does not work, but I assume that addresses with the `port` closed are excluded from load balancing? But what about retry in

[2019-05-10 13:00] liggitt commented on #77725
No, one apiserver only serves a single cluster.
/close

[2019-05-10 13:00] #77725 closed

[2019-05-10 13:03] lbogdan commented on #77737
Cc @kubernetes/sig-storage-bugs

[2019-05-10 13:04] MartinEmrich commented on #77738
@k8s-ci-robot Here you go :)

/sig network

[2019-05-10 13:16] danielloczi commented on #77650
Thanks for the info about the CoreDNS infra!
I need to test if I can get a response from the individual pods during that failover situation.
I can do the tests on next Tuesday.
(I have no access for the physical servers currently, and I was unable to repo the issue in the cloud)

[2019-05-10 13:29] wknapik commented on #60751
It would be nice to get some feedback from kubernetes developers. Random number generation is relevant to security, so it's not an issue to be ignored.

Is the haveged daemonset the recommended way to go about solving the problem ? What are the trade-offs, risks and alternatives ?

[2019-05-10 13:44] mm4tt commented on #76579
To summarize what happened this week.

Kubemark 5000 looks better once  [Revert "github.com/beorn7/perks v0.0.0-20180321164747-3a771d992973"](https://github.com/kubernetes/kubernetes/pull/77510) got in.
![3Wb5eK7ZnYu](https://user-images.githubusercontent.com/2604887/57531061-ec388280-7338-11e9-9d86-7a2ee8f03a0e.png)
The two bad runs are due to https://github.com/kubernetes/kubernetes/issues/77602

[2019-05-10 13:56] mm4tt commented on #75833
/assign

[2019-05-10 13:57] mattjmcnaughton commented on #77660
On Thu, May 09, 2019 at 07:36:10AM -0700, Bart Wensley wrote:

Ah yes, great point!

I am looking forward to the discussion on this :) and agree that @liggitt makes
an interesting point that'd be useful to explore further.

[2019-05-10 14:09] mattjmcnaughton commented on #77697
@tedyu did you intend to close your pr for this issue? Do you still think its something worthy of working on?

If not, mind closing the issue? Thanks!

[2019-05-10 14:12] bertinatto opened #77741 "EBS API polling when creating a volume"
**What happened**:

When creating an EBS volume, we're currently waiting for the volume be in the correct state before proceeding:

https://github.com/kubernetes/kubernetes/blob/88ed776c6b447b1882a5fe99df0cfcaba1da4e72/staging/src/k8s.io/legacy-cloud-providers/aws/aws.go#L2398-L2421

However, we're using the interval defined in `encryptedCheckInterval` (e.g., 1 second), which was meant to be used

[2019-05-10 14:17] mattjmcnaughton commented on #77687
Thanks for starting a conversation on this @powereborn :)

I'm wondering if some of the comments in https://github.com/kubernetes/kubernetes/issues/77202 might be pertinent?

Specifically, it could be good to investigate #sig-node on slack and the weekly meetings to see if there are other ways to solve this problem or if there is general interest in your proposed solution.

For the former, it coul

[2019-05-10 14:21] mattjmcnaughton commented on #77654
Hi @Bujail :) Hope we can help you make some progress on this issue.

Do you mind sharing more of the information that is causing you to believe that the Kubelet is responsible for restarting the Docker daemon? My understanding is that Kubelet doesn't actually mange the Docker daemon, it just expects it to be running.[1] My guess is that on Ubuntu 18.04, SystemD is managing the Docker daemon.

1.

[2019-05-10 14:37] jsafrane commented on #77737
Thanks for detailed logs! It seems PV controller races with PVC protection and PVC protection is always first. But the protection controller should not modify PVC at all, it does it only when admission
 plugin `StorageObjectInUseProtection` is probably not running (or broken). Please make sure the admission plugin is enabled, it should add `kubernetes.io/pvc-protection` finalizer to PVC before sto

[2019-05-10 14:44] mattjmcnaughton commented on #77615
Thanks for your detailed report @olberger :)

Just want to do some quick version confirming - you've been using k8s 1.14.1 both when it did and did not work? Any other version changes?

[2019-05-10 14:50] plutoid commented on #77169
same issue on:
 Linux aml 5.0.2-aml-s905 #5.77 SMP PREEMPT Mon Apr 1 17:41:33 MSK 2019 aarch64 GNU/Linux

root@aml:~# cat /etc/os-release
PRETTY_NAME="Debian GNU/Linux 9 (stretch)"
NAME="Debian GNU/Linux"
VERSION_ID="9"
VERSION="9 (stretch)"
ID=debian
HOME_URL="https://www.debian.org/"
SUPPORT_URL="https://www.debian.org/support"
BUG_REPORT_URL="https://bugs.debian.org/"

[2019-05-10 14:51] NicolaiSchmid commented on #23864
And how would you do that?

[2019-05-10 15:06] olberger commented on #77615
Not sure for before, when it used to work, but according to the asciinema recording mentioned above (https://asciinema.org/a/243325), it seems the same.
However, not sure for CRI-O, underlying OS stuff (systemd, kernel, etc.). Sorry.

[2019-05-10 15:08] liggitt commented on #76579
It looks better, but that is likely due to the revert restoring the bug that artificially reports lower latencies at small sample sizes. I expect https://github.com/kubernetes/kubernetes/pull/77735 (which fixes that reporting bug) will likely shift those reported latencies higher again. Note that it is not regressing actual latency, just making the reported latency more accurate at small sample si

[2019-05-10 15:15] fabiand commented on #23864
use multus to provide additional nics to a pod?

[2019-05-10 15:19] lbogdan commented on #77737
Interesting, but I have no custom feature gate settings, and I see `StorageObjectInUseProtection` is enabled by default?

![image](https://user-images.githubusercontent.com/2083930/57537900-e732fd80-734f-11e9-9d8e-fcc8ac93079d.png)

[2019-05-10 15:21] bartwensley commented on #77660
@liggitt Thanks for the suggestion. I had thought of patching the node status, but looking at the code that processes node status changes [1], I don't think that has any effect. The tryUpdateNodeHealth function will only update the observedReadyCondition if the gracePeriod has been exceeded - otherwise the currentReadyCondition and observedReadyCondition are the same and the caller (monitorNodeHea

[2019-05-10 15:36] #72029 closed

[2019-05-10 15:38] bartwensley commented on #77660
@krmayankk - thanks for the suggestion, but the pod readiness gate feature isn't what I am looking for. It would require a spec update to every pod and then when a node went down, would require a status update for every pod on that node. Also, it looks to me like that feature relies on the kubelet, which is not running in the case of a node that is rebooting or has lost power.

[2019-05-10 15:55] gnufied commented on #77741
Yeah I think, this should be considered a regression. Many of our AWS clusters run on very thin margin of API quota and this would tip them over the edge.

[2019-05-10 16:29] someword opened #77745 "Support ipv6 cidr block when creating load balancer security group"
**What would you like to be added**:
Currently when creating a service of type loadbalancer in AWS the service can be configured to whitelist IP ranges.   This is done via the annotation  `service.beta.kubernetes.io/load-balancer-source-ranges` or the parameter `loadBalancerSourceRanges`.   This works great when using ipv4 CIDR ranges like `54.218.18.60/32`.   If you add a valid ipv6 CIDR range li

[2019-05-10 16:30] someword commented on #77745
/sig aws

[2019-05-10 16:32] chrisohaver commented on #56903
I have not dug in deeper yet, but I recall that glibc 2.19 has been associated with some buggy DNS client look up behavior in two recent issues.
coredns/coredns#2802
coredns/coredns#2784

[2019-05-10 16:40] prameshj commented on #56903
I see that glibc 2.16 introduced parallel v4(A) and v6(AAAA) queries.
https://abi-laboratory.pro/?view=changelog&l=glibc&v=2.16.0

As a result of this, if AAAA gets a response first and as @chrisohaver explained, AAAA will say NOERROR, but have no answer, which might make the client error out with "no such hostname"?

[2019-05-10 16:41] tedyu commented on #77697
Planning to leave this open for a few days in case other people implement this caching.

[2019-05-10 16:45] Quentin-M commented on #56903
Not sure how it's still a question of what's technically happening:
https://blog.quentin-machu.fr/2018/06/24/5-15s-dns-lookups-on-kubernetes/

Several fixes have been committed into the kernel to fix the issue. Kernel
5.1 has the final one.

--
Quentin Machu

On May 10, 2019 at 09:43:04, prameshj (notifications@github.com) wrote:

[2019-05-10 17:01] liggitt commented on #77600
We can start considering how we'd enable a service account to indicate it didn't want secret tokens in 1.15, but yes, we would not have the controller-manager switch to using that until at least 1.16

[2019-05-10 17:05] prameshj commented on #56903
Thanks @Quentin-M based on the description given by @xeor , it looks like a different issue than a kernel race and requests being dropped. That's why i was suggesting to open a new issue and discuss there.

[2019-05-10 17:05] chrisohaver commented on #56903
@xeor's issue does not appear to be related to the kernel bug (it is not intermittent, and is reproducible with certain clients and not others).  The only similarity is that there is a 5 second DNS timeout, which is a symptom broadly observable in many unrelated DNS problems (5 seconds being a common default client timeout).

[2019-05-10 17:12] onursatici opened #77746 "Scheduler framework handle should have more of scheduler's state"
**What would you like to be added**:
For plugins to be more extensible, scheduler framework should expose more scheduler state  as part of the framework handle. Examples could be the scheduling queue, or informers.

**Why is this needed**:
As an example with the new QueueSort plugin, custom ordering for the scheduling priority queue can be implemented, but there is no way for the plugin to trigger

[2019-05-10 17:51] yiyijin commented on #68861
@mritunjaykumar  hi, can you please share how you constructed the java object for the jsonpatch?
Thanks a lot!

[2019-05-10 18:26] MrHohn commented on #53451
/assign

[2019-05-10 18:28] oomichi commented on #77706
/assign

[2019-05-10 18:36] Bujail commented on #77654
Hi @mattjmcnaughton I came to that conclusion because of the kubelet logs. Docker daemon will restart just after reporting the 'systemd_test_default.slice: no such file or directory' error. This issue is more related to this [https://github.com/kubernetes/kubernetes/issues/76531](https://github.com/kubernetes/kubernetes/issues/76531)

[2019-05-10 18:42] leakingtapan commented on #77389
I think it is only bad if the volume was previously stuck. But feels acceptable for me if it is being detached and the previous `DescribeVolume` call in `DetachDisk` at least confirmed once.

Confirming internally. But I suspect there isn't any.

As long as the volume is not stuck (unmounted properly), we should be able to attach a detaching volume especially when it is at least confirmed being de

[2019-05-10 19:00] powereborn commented on #77687
Hi Matt,

Actually I think PodNodeSelector in AdmissionController are exactly what I needed !

https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/

[code]

"PodNodeSelector allows forcing pods to run on specifically labeled nodes. Also see the PodTolerationRestriction admission plugin, which allows preventing pods from running on specifically tainted nodes"

It also says

[2019-05-10 19:15] alejandrox1 commented on #76895
no test runs are showing up in testgrid since 4/27
this may related to https://github.com/kubernetes/test-infra/issues/12449

[2019-05-10 19:33] smarterclayton commented on #58711
Significant evidence that this can happen on overloaded 3.11 servers.

This in theory violates the pod phase guarantees and could mean people who assume that pods never transition from failed to succeeded (or indeed, that succeeded means the pod succeeded) could be broken, including pods that call external systems of record.

[2019-05-10 19:35] smarterclayton commented on #58711
https://openshift-gce-devel.appspot.com/build/origin-ci-test/logs/release-openshift-origin-installer-e2e-aws-4.1/773#openshift-tests-featuredeploymentconfig-deploymentconfigs-when-run-iteratively-conformance-should-only-deploy-the-last-deployment-suiteopenshiftconformanceparallelminimal

is a run once pod that appears to fail, is reported to apiserver as failed, and then is subsequently reported t

[2019-05-10 19:37] epollan commented on #38456
I'm seeing evidence that kube-proxy is leaving rules in place when a pod has non-zero inactive connections, even well past the point the pod has actually been deleted.

This is using the ipvs implementation, fwiw.

[2019-05-10 19:46] jpbetz opened #77752 "Transient custom resource failures during CRD storage version update"
Found this last night while adding storage revision integration tests CRDs.

When a CRD is updated, the rest storage for the [old version of the CRD is torn down](https://github.com/kubernetes/kubernetes/blob/07e3b7cdcac30c513d40f5d16f43bc4d2f869f67/staging/src/k8s.io/apiextensions-apiserver/pkg/apiserver/customresource_handler.go#L374), which also immediately closes the etcd client for that stora

[2019-05-10 19:46] alejandrox1 commented on #76895
@wenjiaswe do you have any updates?

[2019-05-10 19:47] xeor commented on #56903
Thanks a lot for pointing in the direction of glibc..!
I just didn't think there had been so many changes, and forgot I was using a `centos 7.0` test-image in my tests (old image with some tools I had on docker-hub)..

It looks like this whole problem is fixed some time between `glibc-2.17-55.el7.x86_64` and `glibc-2.17-78.el7.x86_64`.

I'm not sure if there is much to do about this. At least the

[2019-05-10 19:49] liggitt commented on #77752
duplicate of https://github.com/kubernetes/kubernetes/issues/68508, right?

[2019-05-10 19:53] jpbetz commented on #77752
@liggitt Yes, that's it. Closing this as s duplicate of https://github.com/kubernetes/kubernetes/issues/68508

[2019-05-10 19:53] #77752 closed

[2019-05-10 19:59] wenjiaswe commented on #76895
@alejandrox1 Sorry I didn't follow up since  #74690 was reverted in #77158 and it's not the issue now.

cc @jennybuckley who is helping to take look at gcp test failures.

[2019-05-10 20:07] lbogdan commented on #77737
Good news, seems like adding `StorageObjectInUseProtection` to `kube-apiservers`'s `--enable-admission-plugins` option fixed it!

Thank you again, I'm gonna leave this open, as I still think that the default behavior can be improved, but feel free to close it if you think otherwise.

[2019-05-10 20:33] munsayac13 commented on #75839
I had this issue for few days. What you should do is in your prometheus.yaml config you have to add "metrics_path: /metrics/cadvisor" as shown below:

`  prometheus.yaml: |-
    global:
      scrape_interval: 5s
      evaluation_interval: 5s
    rule_files:
      - /etc/prometheus-rules/cpu-usage.rules
      - /etc/prometheus-rules/instance-availability.rules
    scrape_configs:
      - job_name:

[2019-05-10 20:39] logicalhan commented on #75839
This isn't an apiserver metric, it's actually a kubelet metric, so it's exposed on a different port. Are you using 8080? I think it should be 10255 or something like that.

[2019-05-10 20:41] gnufied opened #77758 "Remount requires flag should be tracked inside desired state of world"
While discussing https://github.com/kubernetes/enhancements/pull/737#discussion_r277895607, we came across a problem that is - the fact that a volume requires remount is tracked inside Actual State of World and not desired state of the world.

Resize required is also currently tracked inside ASOW. Resize required is being fixed - https://github.com/kubernetes/kubernetes/pull/77755 but remount requ

[2019-05-10 21:12] tedyu commented on #77746
bq. when the scheduling conditions change for a pod

Can you give one example of such change ?

Thanks

[2019-05-10 21:16] smarterclayton commented on #77465
I have an outstanding item to replace all List style cast access with an interface method that all lists are required to implement.  That would remove the use of meta.ListAccessor and ForEachItem with equivalents on the object, and we would return the list interface from List methods (e.g. runtime.ObjectList).

We can't know whether the PageFn returns consistent objects - I would probably say we c

[2019-05-10 21:21] smarterclayton commented on #77465
Why is the cron job controller still making live calls to the apiserver?

[2019-05-10 21:21] smarterclayton commented on #77465
Don't use a pager....

[2019-05-10 21:24] johnbelamaric commented on #39792
Why can't you create multiple services (i.e., names) backed by the same nginx pods?

[2019-05-10 21:25] onursatici commented on #77746
Sure, if users have a custom filter plugin that make use of a CRD to decide, it might be useful for them if they could trigger unschedulable pods to be active on any change for that CRD. Currently the only way to do this is to register any custom events to eventhandlers and custom build.

If we are exposing a way to sort the scheduling queue via plugins, it would be beneficial for these plugins to

[2019-05-10 23:05] kraney opened #77764 "DNS hostname "localhost" causes failing apiserver"
**What happened**:
This is on a cluster that I upgrade from 1.11.10 to 1.12.8. It's not clear whether the upgrade is related to the issue or not.

I am seeing apiserver repeatedly fail and be restarted, with this error:
[code]

I have managed a partial diagnosis of the problem. It seems that someone thought it would be cute to create a host by the name of "localhost._default full domain_".

Thus,

[2019-05-11 00:21] subramanian-neelakantan commented on #77535
VCP has zones support. A volume is always provisioned on a shared datastore in vSphere. Without zones, the Volume is placed on a globally shared datastore across all the k8s nodes (VMs). With the use of zones, the datastore needs to be a shared only among the k8s nodes (VMs) in that zone. A Volume is placed on a particular zone by using `allowedTopologies`.

`WaitForFirstConsumer` volume binding m

[2019-05-11 02:11] #71153 closed

[2019-05-11 06:09] jpbetz commented on #77465
+1

I'm in favor of this over what we have today. It prevents the type of accident that happened in this PR.

[2019-05-11 06:47] prashantgolash commented on #77482
I am new to Kubernetes community and interested in contributing to scheduling. Let me know if I can work on this?

/cc @krmayankk

[2019-05-11 11:51] draveness commented on #77746
Do you have any suggestions on how to this? I could do the work since I'm working on the implementation of the QueueSort plugin.

[2019-05-11 12:08] fivefingers1 opened #77771 "Support for MPTCP, Multipath in TCP protocol"
IETF is working on a draft version for TCP which is an extension for Multipath Operation with Multiple Addresses "draft-ietf-mptcp-rfc6824bis-15"

Reference
https://tools.ietf.org/html/draft-ietf-mptcp-rfc6824bis-15

Currently, I am aware that Kubernetes does not support multi-homing and list it as non-goal item.

Reference
https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/00

[2019-05-11 13:22] #69324 closed

[2019-05-11 13:22] renannprado commented on #16448
@adampl I'm not saying it's a solution, it's (or was) a workaround for the current _status quo_.

I'll soon give it a try to @costela's solution soon

[2019-05-11 14:23] #60023 closed

[2019-05-11 14:53] mattjmcnaughton commented on #77654
@Bujail could you please post the Docker logs? I'm hopeful they'll help give us a better picture of what's going on.

This [documentation](https://docs.docker.com/config/daemon/) gives instructions on where they can be found on RHEL.

[2019-05-11 14:55] mattjmcnaughton commented on #77687
Wonderful :) I'm glad that what already exists can help you address your use case.

If you no longer believe this feature is necessary, mind closing it?

As a side note, I'm curious on your thoughts about how we can better document that `AdmissionController` can be used for this purpose. Any thoughts?

[2019-05-11 14:58] RunAtWorld commented on #66031
I have the same error,how to fix?

[2019-05-11 15:08] raelga commented on #49387
/remove-lifecycle stale

[2019-05-11 15:09] wellorange opened #77776 "about exec command"
I execute this command in the chrome browser:
          https://127.0.0.1:10250/exec/default/nginx/21709854-5ae5-4917-899c-91b0e2913741/nginx?command=ls&output=1&stderr=1

The result returned is:
       Upgrade request required

How do I need to change to get the results back correctly?

[2019-05-11 16:03] #77776 closed

[2019-05-11 16:21] matti commented on #69696
@vitaly-karasik aren't the labels:

[code]

[2019-05-11 16:28] standaloneSA commented on #45419
Okay, got a chance to do some debugging on a PLEG swarm (what we've been calling this lately), and I found some correlations between PLEG errors reported by K8s and entries in the Docker.service log:

On two servers, I found this:

From the script that was watching for errors:

[code]

The matching entries in SERVER-A's output from 'journalctl -u docker.service':

[code]

Then, on a different serv

[2019-05-11 16:47] matti commented on #69696
when I describe the poddisruptionbudget:
[code]

[2019-05-11 17:25] matti commented on #69696
FYI: google seems to have changed fluentd etc pods so that they tolerate ALL taints, so workaround described earlier doesn't work.

[2019-05-11 17:26] #71829 closed

[2019-05-11 17:59] liggitt commented on #77666
See https://github.com/juanvallejo/kubernetes/pull/9#discussion_r191944024 and https://github.com/juanvallejo/kubernetes/pull/9#issuecomment-393571640

cc @juanvallejo

[2019-05-11 19:04] kfox1111 commented on #47862
Just tried to do this and found it doesn't work. This would be a useful feature.

[2019-05-11 19:09] matti commented on #69696
I'm 99.9% sure that PodDisruptionBudgets don't help at all - the only way currently is to delete the unwanted nodes.

[2019-05-11 19:40] smarterclayton commented on #58711
[code]

is the failed trace.  A successful trace (when we retry the test a few minutes later is

[code]

[2019-05-11 20:12] smarterclayton commented on #58711
Interesting ordering:

[code]

containers started, but then comes:

[code]

The pod at this point is still running, but we start the deletion process.  The next relevant line here:

[code]

can be printed from one of two spots - `status_manager.go manager.canBeDeleted()`, and `kubelet_pods.go kubelet.podResourcesAreReclaimed()` which is only used by the eviction manager.

[code]

the CNI plugin st

[2019-05-11 20:29] #62299 closed

[2019-05-11 20:29] #59483 closed

[2019-05-11 20:45] alitvak69 commented on #77615
I was looking for some information for days.  I have exactly the same issue when I use podman + systemd on 18.04.2.  It is the same for both 14.15 and 14.18 kernels.  Podman without systemd runs fine.  Podman with systemd fails at runc with the same error

podman[345937]: open /dev/stderr: no such device or address
podman[345937]: NAME: runc - Open Container Initiative runtime
podman[345937]: runc

[2019-05-11 23:07] alejandrox1 commented on #77601
/remove-priority important-soon
/priority critical-urgent

[2019-05-11 23:10] alejandrox1 commented on #77363
/remove-priority important-soon
/priority critical-urgent

[2019-05-11 23:24] alejandrox1 commented on #75326
Tests have been reorganized. Will open a new issues if this test failure appears again.
/close

[2019-05-11 23:24] #75326 closed

[2019-05-11 23:26] alejandrox1 commented on #75643
Tests have been reorganized. Will open a new issues if this test failure appears again.
/close

[2019-05-11 23:26] #75643 closed

[2019-05-11 23:29] alejandrox1 commented on #75039
Tests have been reorganized. Will create a new issue to track this as failures are still ongoing but not in the jobs described in this issue. WIll investigate with sig-node
/close

[2019-05-11 23:29] #75039 closed

[2019-05-11 23:30] alejandrox1 commented on #75045
Tests have been reorganized. Will open a new issues if this test failure appears again.
/close

[2019-05-11 23:30] #75045 closed

[2019-05-11 23:46] alejandrox1 commented on #76898
The test mentioned in this issue is now in:
* https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-cluster
* https://testgrid.k8s.io/sig-release-master-informing#gce-new-master-upgrade-cluster-new

[2019-05-11 23:51] alejandrox1 commented on #76895
The tests mentioned in this issue can now be found in
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-new-downgrade-cluster
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-new-downgrade-cluster-parallel

[2019-05-11 23:53] alejandrox1 commented on #76895
@wenjiaswe Thank you very much for the update.
I will close this issue as the problem  with these tests seems to be about timeout i.e., https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1126813522928340995
/close

[2019-05-11 23:53] #76895 closed

[2019-05-12 00:06] alejandrox1 opened #77784 "[Failing Tests] cluster downgrade e2e tests are timing out"
**Which jobs are failing**:
* ci-kubernetes-e2e-gce-master-new-downgrade-cluster
* ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel

**Since when has it been failing**:
These jobs have been failing since around 5/2

**Testgrid link**:
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-new-downgrade-cluster
* https://testgrid.k8s.io/sig-release-master-informing#gce-master-

[2019-05-12 00:49] draveness commented on #77746
cc/ @bsalamat

[2019-05-12 02:08] andyzhangx commented on #68791
/reopen

[2019-05-12 02:56] k82cn commented on #68357
@krmayankk , as Brian suggested, I'll draft a KEP for this, we'll know the scope and the list of task if everything smooth :)

[2019-05-12 03:13] vllry commented on #77440
/close

[2019-05-12 03:13] #77440 closed

[2019-05-12 03:21] vllry commented on #77738
Only ready pods have an endpoint added to the Endpoints object (there is no concept of health checks at the service/endpoint level). This allows consumers of endpoints to avoid the need to health check. So I'm afraid this would be out-of-scope feature request.

There's lots of ways you could accomplish this, your best bet would be a load balancer rather than external Endpoints. But there's many wa

[2019-05-12 03:21] #77738 closed

[2019-05-12 03:22] vllry commented on #77771
/sig network
/triage unresolved

[2019-05-12 03:24] vllry commented on #77764
I thiiink this is a sig-node issue?

/sig node

[2019-05-12 03:37] thaonguyenct commented on #45419
In my case, I'm using K8s v1.10.2 and docker-ce v18.03.1. I find some logs of kubelet that running on node flapping Ready/NotReady like:

`E0512 09:17:56.721343    4065 pod_workers.go:186] Error syncing pod e5b8f48a-72c2-11e9-b8bf-005056871a33 ("uac-ddfb6d878-f6ph2_default(e5b8f48a-72c2-11e9-b8bf-005056871a33)"), skipping: rpc error: code = DeadlineExceeded desc = context deadline exceeded`
`E0512

[2019-05-12 03:44] johnmcdowall commented on #74266
@CodeCorrupt Any chance you could post a full configuration? I'm running into the same issue just following the official NFS example, and I've tried privileged mode and still can't get it to work.

[2019-05-12 03:50] johnmcdowall commented on #74266
@thockin @YoubingLi I'm not sure I follow what you're saying. The example raised in this issue is pretty much exactly that given in the offical Kubernetes NFS Example: https://github.com/kubernetes/examples/tree/master/staging/volumes/nfs

There are at least two well trafficked blog posts that also detail similar setups: https://estl.tech/multi-writer-file-storage-on-gke-6d044ec96a46 and https://m

[2019-05-12 03:57] sevensees commented on #65732
We met this with with 30 concurrent rolling update against deployments (5 * 1000 replicas and 25 * 75 replicas) in 1.13.4 kubernetes (5000 nodes cluster) and 3.3.11 etcd. The memory will increase extremely from 20+ GB to 110+ GB and eat up all system memory. Then OOM occurs or the system has no response for several minutes. This is reproducible in our cluster.

[2019-05-12 04:26] Bujail commented on #77654
Oops.. Sorry, My bad. The issue was not from the K8s end. There was a misconfiguration at puppet agent part. It was reinstalling docker daemon with another version every 20min(Package name was configured 18.09.5-3.el7 but puppet was trying to install 3:18.09.5-3.el7). But still I can see the   ```/libcontainer_6917_systemd_test_default.slice": none of the resources are being tracked``` and
```Erro

[2019-05-12 04:26] #77654 closed

[2019-05-12 04:34] mattjmcnaughton commented on #77654
On Sat, May 11, 2019 at 09:27:22PM -0700, Bujail Swadiq K K wrote:

Thanks for the update :)

[2019-05-12 05:21] CodeCorrupt commented on #74266
@johnmcdowall Sure!

NFSDeployment.yaml
[code]
(for the volume, you can use whatever, I just have been using a GCP disk)

NFSService.yaml
[code]

Debugging.yaml
[code]

From within the debug container, you should be able to mount the NFS dir. (Assuming you have the NFS server itself configured to export the correct folder/volume)

[2019-05-12 06:50] incubus8 commented on #2630
I just can hope that the kubernetes members prioritize this issue. IMO, It's really a blocker especially from security point of view and becoming vulnerabilities risk :'(

[2019-05-12 08:58] vitaly-karasik commented on #69696
@matti, I have to agree with you - I was under the opinion that PodDisruptionBudgets helps, but I couldn't reproduce this behaviour.

[2019-05-12 10:33] sesispla commented on #75173
We experienced a similar issue during an AKS upgrade from 1.10 to 1.13.5.

We ended up finding that we had 4 DNS servers configured at VNET level, messing up coredns.

Details [here](https://www.sesispla.net/en/azure-aks-1-11-random-dns-resolution-error-after-cluster-upgrade/)

[2019-05-12 12:42] embano1 commented on #77535
Thank you @subramanian-neelakantan for your quick and detailed response! Before I close this issue, let me clarify my understanding two parts in your response:

When you refer to zones, assuming you mean the `[labels]` section in vcp.conf to reflect the tags for zones/region? As per the volume creation (datastore selection) logic described by you, I wonder: is it really needed to specify `allowedT

[2019-05-12 13:26] zanetworker commented on #10834
/remove-lifecycle stale

[2019-05-12 15:52] praseodym opened #77787 "PodSecurityContext RunAsNonRoot API description does not reflect implementation"
The `PodSecurityContext` type has a field called `RunAsNonRoot` to indicate that a container must run as non-root user. The description for this field includes the sentence `If unset or false, no such validation will be performed.`, which would mean that setting the field to `false` or to `nil` (unset) have the same effect:

https://github.com/kubernetes/kubernetes/blob/04f59751ecc4206c8b078d3a29e

[2019-05-12 17:16] vllry commented on #77771
/kind feature

[2019-05-12 17:16] vllry commented on #77771
/remove-triage support

[2019-05-12 17:23] nightwatchcyber opened #77789 "Checksums/signatures for add-ons"
**What would you like to be added**:
Some sort of digital signatures or checksums for add-ons to prevent malicious ones, similar to the way packaging works on Debian, etc.

**Why is this needed**:
To prevent packages being modified with malicious code

[2019-05-12 17:25] nightwatchcyber commented on #77789
/sig committee-product-security

[2019-05-12 17:54] smarterclayton commented on #58711
After adding more debugging output, it looks like this is because TerminatePod stomps the container state info:

[code]

[code]

[code]

[2019-05-12 18:05] smarterclayton commented on #58711
It looks like what happens is:

1. API deletion is observed
2. Some containers begin to shutdown due to syncPod, exiting with code != 0
3. the dispatchWork loop invokes podIsTerminated, which returns true because all containers have exited
4. TerminatePod is then called, which clears container status (this is the bug)
5. The next status manager sync sees that container status is the default values

[2019-05-12 18:26] mattjmcnaughton commented on #77764
Hi @kraney !

Thanks for the detailed issue report!

A couple of questions to gather some more information:

1. From the `kubectl version` output in your error report, it looks like you're using `v1.11.12` on the server. But your post states you've upgrade to `1.12.8`. Do you mind just confirming that you actually are using `1.12.8`? If not, I think upgrading to `1.12.8` is a good first step, as `

[2019-05-12 18:34] mattjmcnaughton commented on #77787
Thanks for reporting this issue.

I think that @kubernetes/sig-auth-bugs would be best able to assist with this.

/sig auth
/remove-sig node

[2019-05-12 18:49] neolit123 commented on #77789
technically if you are applying an addon from a manifest using kubectl, you can have the checksum validation on the manifest itself. so it's already possibly as a step on the operator side.

could you provide more details on what do you have in mind - i.e. implementation details about this feature?

/triage needs-information
/sig auth

[2019-05-12 18:59] nightwatchcyber commented on #77789
I am talking to a case where you doing are apply from URL, like here:
https://www.weave.works/docs/net/latest/kubernetes/kube-addon/#install

kubectl apply -f "https://cloud.weave.works/k8s/net?k8s-version=$(kubectl version | base64 | tr -d '\n')"

I am not seeing a checksum in there

[2019-05-12 18:59] mikedanese commented on #77789
We recommend that you pull images by hashes if you care about this. Kubernetes also supports runtime enforcement:

https://kubernetes.io/blog/2017/11/securing-software-supply-chain-grafeas/

[2019-05-12 19:07] mikedanese commented on #77687
Is this a dupe of https://github.com/kubernetes/kubernetes/issues/61185 ?

[2019-05-12 19:13] neolit123 commented on #77646
[code]
since you have no connectivity to `https://dl.k8s.io/release/stable-1.txt`
your control-plane version will end up as 1.14.1.

it's unclear to me why the above happens give you specify v1.13.5 in the config.

what do you mean by "permission denied everywhere"?
try running `systemctl status kubelet` in a new terminal while `kubeadm init` is running.
if the status is not `active (running) ` af

[2019-05-12 19:21] nightwatchcyber commented on #77789
I read through the post - it discusses checksums on the container images themselves. The YAML file has no checksum, so if a user does apply from URL, there is no protection and the attacker can modify the YAML file and force users to a container of their choice.

It also appears that many add-ons both recommend doing apply URL, and do not use the checksum approach.

[2019-05-12 20:30] liggitt commented on #77787
The pod documentation is correct. If the field is not set or is false, the enforcement is not performed by the kubelet.

However, podsecuritypolicy with a runasuser strategy of mustrunasnonroot will force a pod that has not specified a runAsNonRoot setting or a runAsUser uid to runAsNonRoot: true

The documentation on the MustRunAsNonRoot strategy of podsecuritypolicy should clarify the mutation b

[2019-05-12 20:58] mluscon commented on #70179
/remove-lifecycle rotten

[2019-05-12 20:59] mluscon commented on #70179
`/remove-lifecycle rotten`

[2019-05-12 22:03] kraney commented on #77764
I may have not gotten to 1.12.8 properly at the time of the report; this bug appeared during the process of updating to 1.12.8 using kubeadm. Kubeadm reported the upgrade as successful, which is why I state 1.12.8. However, it seems as though this failure in apiserver was preventing the upgrade from truly finalizing.

I was able to workaround the issue by changing my default domain to one that did

[2019-05-12 23:56] #68638 closed

[2019-05-13 00:11] tedyu commented on #58711
How about adding the following check:
[code]
so that failed state is not rolled back ?

[2019-05-13 01:14] tanshanshan commented on #74689
ref #74947,
I have the same problem, it bring us troubles.

[2019-05-13 01:58] #69971 closed

[2019-05-13 02:16] zq-david-wang commented on #77764
"localhost" should be resolved by /etc/hosts and no DNS server query should be involved, unless you configured your system to make dns server query first.
What's the content of /etc/hosts and /etc/nsswitch.conf, if any, used by your apiserver?

[2019-05-13 02:53] powereborn commented on #77687
I think it's indeed related to 61185 as well.

For the documentation, I would say highlight this feature adding it in https://kubernetes.io/docs/concepts/configuration/assign-pod-node/ page for example,
or https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

Closing this issue, thanks :)

[2019-05-13 02:53] #77687 closed

[2019-05-13 03:33] andrewsav-datacom commented on #42649
To me it sounds like the solution that @soltysh suggested above fits better. `LastScheduleTime` is the time when "the last time the job was successfully scheduled", and you cannot really update it while the job is suspended and cannot run.

[2019-05-13 05:24] yue9944882 commented on #77723
as for events, the admission controller `EventRateLimit` seems sufficient to resolve the issue. otoh, our guys' already been working on building a generic control-plane rate-limiting [WIP feature](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md), which can also help in a more flexible way in the future release.

[2019-05-13 05:35] adisky commented on #77521
@cjschaef any update on this, are you fixing it??

[2019-05-13 05:36] andreykaipov commented on #45300
I've worked around this by writing a small controller to handle master election. For those interested, it's at https://github.com/andreykaipov/active-standby-controller.

It'd be really cool if Kubernetes can support this natively though. The Kubernetes documentation on services mentions in its [future work section](https://kubernetes.io/docs/concepts/services-networking/#future-work) the followin

[2019-05-13 06:03] #65109 closed

[2019-05-13 06:07] krmayankk commented on #64686
/remove-lifecycle stale

[2019-05-13 06:07] krmayankk commented on #64686
/sig apps

[2019-05-13 06:08] krmayankk commented on #64686
/remove-sig node

[2019-05-13 06:09] krmayankk commented on #64686
i think i also saw a proposal for this, forgetting where

[2019-05-13 06:17] wojtek-t commented on #76579
@liggitt - as you expected, the revert increased it again:
http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=APIServer&metricname=DensityResponsiveness&Resource=pods&Scope=cluster&Subresource=&Verb=LIST

But that proves that this is not a cause of regression, but the real bug.
So we should probably get rid of the pin to that old version completely.

[Sorry for delay, I was O

[2019-05-13 06:23] wojtek-t commented on #77733
I've been discussing it with @jpbetz some time ago, and what the way that we're thinking about is:
- use "etcd progress notifications" to ensure that watchcache resource version is being updated frequently even when no objects of a given type are actually changing
- introduce an index in watchcache to handle "spec.nodeName" requests more efficiently
- introduce the following patter for serving "LI

[2019-05-13 06:26] dElogics commented on #77646
By permission denied everywhere I mean this in the kubelet logs --

[code]

[code]

[2019-05-13 07:14] krmayankk commented on #72320
/remove-lifecycle rotten

[2019-05-13 07:16] krmayankk commented on #72320
/sig apps
for comments
was the pod not evicted because of statefulset or because or pdb ? My guess is ,even if you remove the pdb, this wont get evicted by how statefulset is designed

[2019-05-13 07:18] globervinodhn commented on #77488
Hi @mattjmcnaughton, Analysed the predicates.go file mentioned in your comment and below are my observations,
1. The test "validates that NodeAffinity is respected if not matching" checks to ensure that no pods are scheduled on it when the labels do not match.
2. The test "validates that required NodeAffinity setting is respected if matching" checks that the pods are scheduled ontop it when the po

[2019-05-13 07:23] krmayankk commented on #65732
/close
 this was resolved with etcd3, so closing, please reopen if necessary

[2019-05-13 07:23] #65732 closed

[2019-05-13 07:34] andyzhangx commented on #77461
here is the way about how to get MaxDataDiskCount:
https://github.com/andyzhangx/kubernetes/commit/2f54a3190a8e4466d859065c387973dd1a2b4ea1

and then build kubelet, copy kubelet to agent node and then get MaxDataDiskCount data:
[code]

[2019-05-13 08:04] #71935 closed

[2019-05-13 08:08] bertinatto commented on #75484
I'm currently working on some other stuff with tighter deadlines, so I think I can't work on this in the next weeks.

I'll get to it as soon as I can, but If someone wants to take this, feel free to take it.

[2019-05-13 08:27] aojea opened #77799 "KUBE_SERVER_PLATFORMS[@]: unbound variable building images on CircleCI"
**What happened**:

kubernetes images fail to build on CircleCI with the following error
[code]

**What you expected to happen**:

Being able to build kubernetes images on CircleCI

**How to reproduce it (as minimally and precisely as possible)**:

I have a [kubernetes fork](https://github.com/aojea/kubernetes/tree/circleci_master) with the circleCI configuration, also you can access [the job logs

[2019-05-13 08:30] aojea commented on #77799
@mtaufen @thockin I'm pinging you because I know that you are doing some bash script cleaning.
I tried to understand what's the problem and fixing it but my bash skills are getting a bit rusty

[2019-05-13 08:34] adisky commented on #77799
@aojea Most Probably it is same as #77521, we are also facing CI failure due to recent merge.

[2019-05-13 08:44] yjdwbj opened #77800 "busybox can't connect coredns service?"
Hi ,all
  I'm in order create k8s cluster into the virtualbox. but can't connect coredns from cluster networking . thanks for your help.
* version
[code]
* kubeadm init args
[code]
* nodes  info

[code]

[code]

* from master host dig wide port is ok

[code]

* but nslookup for other domains  can't resolve.

[code]

* busybox ping 8.8.8.8 is ok
[code]

[2019-05-13 08:48] sbskas opened #77801 "Upgrading cluster running cri-o from 1.13.5 to 1.14.1 yields errors on runtimeclasses access"
**What happened**:
After upgrade a working cluster from 1.13.5 to 1.14.1 using the kubeadm upgrade apply command, kubelet started to spurt the following error messages :
`kubelet[2635221]: E0513 09:55:54.814239 2635221 reflector.go:126] k8s.io/client-go/informers/factory.go:133: Failed to list *v1beta1.RuntimeClass: runtimeclasses.node.k8s.io is forbidden: User "system:node:node" cannot list resou

[2019-05-13 08:53] sbskas commented on #77801
/sig node

[2019-05-13 09:03] aermakov-zalando commented on #77666
I'd argue that for global arguments the shape is already known, `kubectl options` even prints it out for you. This would allow aliases to work correctly with plugins so kubectl's UX isn't broken.

[2019-05-13 09:05] aojea commented on #77799
indeed @adisky , thanks
closing as duplicate

[2019-05-13 09:05] #77799 closed

[2019-05-13 09:13] onursatici commented on #77746
I think we can pass more state to the framework object on [construction](https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/factory/factory.go#L252). Then we can expose the extra behaviour we want the plugins to have via methods on the `FrameworkHandle` interface. All plugins will have a reference to it as they get the handle on initialisation.

Modifying `FrameworkHandle` would be

[2019-05-13 09:47] lbernail commented on #76664
Thanks for testing!

The PR is limiting graceful termination to TCP which seems the safest. I don't know SCTP but making it behave like TCP would be an easy change.

[2019-05-13 10:42] #77721 closed

[2019-05-13 11:00] luxas commented on #77515
cc @kubernetes/sig-cluster-lifecycle

[2019-05-13 11:22] YoubingLi commented on #77603
@aermakov-zalando

    The log is not corrupted by k8s.

    The same log could be got using "docker container logs -t CONTAINER_ID"

[2019-05-13 11:24] d-baranowski commented on #59113
I'm currently unable to deploy via kubectl apply -f due to this issue. Is there a way around it?

[code]

[2019-05-13 11:26] wozniakjan commented on #70916
/remove-lifecycle stale

[2019-05-13 11:30] ajax-2 opened #77806 "container exit with code 137, and not limit resource"
# error
Hey, All friends, my pod is exit with code 137 when i connect mysql in this pod.

# error message
[code]

# environment
* kubernetes: 1.14.1
* docker: 18.0.9
* mysql: 5.7
* install method: helm

# What
![image](https://user-images.githubusercontent.com/29370146/57617615-ccf95980-75b3-11e9-80eb-f55da4c09427.png)
This is my pod, it's running, enn~ very good!
So i use nextcloud in web, and ex

[2019-05-13 11:31] mysunshine92 commented on #77728
/sig node

[2019-05-13 11:33] mysunshine92 commented on #77728
you can check if container runtime is not respone

[2019-05-13 11:38] mattjmcnaughton commented on #77488
Thanks for the follow up @globervinodhn !

I'm comfortable with that conclusion. Mind closing the issue if you no longer feel this test is necessary? Thanks :)

[2019-05-13 12:02] #77551 closed

[2019-05-13 12:02] mattjmcnaughton commented on #77801
Thanks for reporting @sbskas !

I _think_ (but definitely could be wrong), that @kubernetes/sig-auth-bugs will be best able to assist you with this.

Please feel free to undo my tagging if I'm incorrect :)

/remove-sig node
/sig auth

[2019-05-13 12:02] #77451 closed

[2019-05-13 12:11] vncntvandriessche commented on #12179
We are getting hard by this issue very often:

[code]

As I've understood it now there's several matters that are influencing this issue:

- kubelet has a TTL for connections it conceives as idle
- tunnels are sent to 1 node's kubelet, and not per-se the node where the target pod is running (if that node fails/gets removed [autoscale!] it breaks the connection)

Is there suggested reliable & simpl

[2019-05-13 12:20] adelina-t commented on #73489
/cc @adelina-t

[2019-05-13 12:21] liggitt commented on #77801
/cc @tallclair

do kubelets list runtimeclasses?

[2019-05-13 12:33] dims commented on #2630
long-term-issue (note to self)

[2019-05-13 12:39] neolit123 commented on #77646
i don't think i've seen that many `node "xx" not found` messages in the kubelet logs before.

what happens if you remove this part of you config:
[code]

[2019-05-13 12:40] mborsz opened #77808 "#1126965275330088960 of ci-kubernetes-e2e-gce-scale-performance has failed"
The attempt https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1126965275330088960 has failed. I will write here when I find something.

/kind bug
/assign
/sig scalability

/cc @wojtek-t @mm4tt @krzysied

[2019-05-13 12:44] liggitt commented on #76579
agreed. opened https://github.com/kubernetes/kubernetes/pull/77809 to restore the version prometheus expects to use

[2019-05-13 12:45] davidmccormick commented on #75457
Doesn't it make sense that `kubectl` should support a ROLE label having been set in one of the valid node domains, e.g. `node.kubernetes.io/role`="CustomerA"` so that customers can continue to define specialist node roles (except 'master') and not break current functionality?

[code]
If I transition to using node.kubernetes.io/role="xyz" I get a degraded kubectl experience: -

[code]

[2019-05-13 12:52] aermakov-zalando commented on #77603
@YoubingLi kubelet doesn't rely on Docker when reading logs, it reads the files itself (see the `ReadLogs` code linked in the issue). I don't think Docker would change the forced line splitting (see https://github.com/moby/moby/issues/34855 for example), so this should be fixed in Kubernetes.

[2019-05-13 12:54] andyzhangx commented on #77225
hi @ammills01 I cannot repro your issue, I also checked the code of k8s v1.13.5, the max volume predicate is already there:
https://github.com/kubernetes/kubernetes/blob/v1.13.5/pkg/scheduler/algorithm/predicates/predicates.go#L493

One strange thing in your case is that for that node, it could attach 4 data disks at most, while in your provided JSON file, it only has 3 disks per your node info, h

[2019-05-13 12:59] liggitt commented on #75457
node roles are a natural selector to use for targeting workloads. it is surprising for a node to be able to self-assign a role label and steer workloads to itself (the most obvious unexpected ability would be for a random node to assert it was a master node and steer privileged daemonset pods to itself)

[2019-05-13 13:09] #66393 closed

[2019-05-13 13:12] chrisohaver commented on #77800
Please [enable logging](https://github.com/coredns/coredns/blob/master/plugin/log/README.md) in CoreDNS and verify if any of the CoreDNS pods are receiving requests from your busybox Pod.

[2019-05-13 13:14] mborsz commented on #77808
Right before first restart of kube-apiserver I see in logs a series of POST replicationcontrollers:

[code]

All of them fails with "resource quota evaluates timeout"

[2019-05-13 13:18] neolit123 commented on #75457
@davidmccormick

[code]
makes the regular `kubectl get no` show the role.

[2019-05-13 13:26] AlessioDiama commented on #72969
Hi all,
is there any solution for this issue? I am experiencing the same issue while deploying openstack-helm

[2019-05-13 13:31] wojtek-t commented on #77808
@yliaog @jpbetz

[2019-05-13 13:34] redbaron commented on #65816
Keep it open, still relevant

-------- Original Message --------
On 13 May 2019, 12:10, fejta-bot wrote:

[2019-05-13 13:35] redbaron commented on #65816
/remove-lifecycle stale

[2019-05-13 13:46] mrbobbytables commented on #76269
Just to update the `emeritus_approvers` key has been added in https://github.com/kubernetes/community/pull/3627

It'll have to wait till post-kubecon (too few cycles), but I plan on tackling the first round of pruning k/k based off the inactive users listed here and this spreadsheet listing whos in which owners files:
https://docs.google.com/spreadsheets/d/1Qig_n3Qb-KwK9KAHPRJCBxJLmS3orUF5CBkl0TLT

[2019-05-13 13:51] #75298 closed

[2019-05-13 13:53] MilanDasek opened #77813 "AWS ELB configuration changed"
Hello,

I experienced weird situation where AWS classic ELB was changed.

I have this annotations on service (ingress service)
[code]

which effectively creates ELB with settings that HTTP and HTTPS ports are set to backend ports (which are dynamic like
![image](https://user-images.githubusercontent.com/12279315/57626482-441ff500-7596-11e9-9054-aac589652c58.png)

BUT Instance port for HTTPS is set

[2019-05-13 14:08] mborsz commented on #77808
It's still not clear to me if 'resource quota evaluates timeout' is an effect of the problem or the cause of the problem.

I see that between 1:46 and 2:48 UTC we had tons of 429 responses.
![G3MX5fsD51V](https://user-images.githubusercontent.com/2559168/57627875-27d18780-7599-11e9-8d28-24e8a169a8ce.png)

[2019-05-13 14:11] alejandrox1 commented on #76899
This test is failing with a new error:
[code]

[2019-05-13 14:26] chenliu1993 commented on #70334
the same issue on Kubernetes v1.13.4 too

[2019-05-13 14:32] alejandrox1 commented on #74893
It appears these issues are still ongoing

[2019-05-13 14:33] alejandrox1 commented on #74893
It appears these issues are still ongoing
/remove-milestone v1.14
/milestone v1.15

[2019-05-13 14:43] bclau commented on #76077
Hello,

First of all, the PR https://github.com/kubernetes/kubernetes/pull/46233 you mentioned was closed, but not merged.

Secondly, why do you need to use a private repo for the ``--pod-infra-container-image`` pause image? The general recommendation is to have the image prepulled on your node, or build / tag it there: [1], or use the official Microsoft image ``mcr.microsoft.com/k8s/core/pause:1.

[2019-05-13 14:43] alejandrox1 commented on #76901
Will close this issue. It seems like the skewtest failures are due to other tests failing. However, the other failures are not consistent enough to be consider as "flakes".
/close

[2019-05-13 14:43] #76901 closed

[2019-05-13 14:49] kivagant-ba commented on #13488
What `kubectl` version will have it?

[2019-05-13 14:50] kraney commented on #77764
I know it *should* be, but for some reason it isn't. It does not seem to be related to actual config of the system, as mentioned "ping localhost" directly on the host and even as an exec within the apiserver container resolves localhost correctly. Only within the apiserver process it's behaving this way.

/etc/hosts looks like:
[code]

As you can see, I added an entry (after the problem showed its

[2019-05-13 14:50] mborsz commented on #77808
"resource quotas evaluates timeout" is a red herring here:

[code]

so IIUC resource quota evaluator tries to fetch all resourcequotas in given namespace in order to validate whether they are matched. In case when kube-apiserver is ~unhealthy it's not able to list resourcequotas object in a timely manner and returns error.

[2019-05-13 14:53] wojtek-t commented on #77808
It should list the from internal cache, I think...

[2019-05-13 15:06] luisdavim commented on #16707
I agree this should be /reopen

[2019-05-13 15:06] ahg-g commented on #67019
As @instantlinux mentioned, Docker supports that.

The issue is with dockershim, it sets the UTS mode depending on the network mode irrespective whether or not hostname was set, see [1].

containerd/cri behaves similarly, it does not create a separate UTS namespace in host network mode regardless of hostname, see [2].

[1] https://github.com/kubernetes/kubernetes/blob/bfce916eb15ed270daff49b63ff12

[2019-05-13 15:08] liggitt commented on #68508
/assign

[2019-05-13 15:31] bahar-p commented on #64743
We're still seeing this issue on "3.10.0-957.10.1.el7.x86_64". One of the kube nodes is flooded with:

Node config:

       CPE OS Name: cpe:/o:centos:centos:7
            Kernel: Linux 3.10.0-957.10.1.el7.x86_64
      Architecture: x86-64

[2019-05-13 15:34] scult commented on #7452
Any update on this?

[2019-05-13 15:55] jethrogb commented on #63906
/remove-lifecycle stale

[2019-05-13 15:55] jethrogb commented on #62366
/remove-lifecycle stale

[2019-05-13 16:02] apelisse commented on #13488
Kubernetes 1.15

[2019-05-13 16:21] krzysied commented on #77808
I've observed the same issue in my manual gce 5000 density test run. At some point the controller manager and scheduler are losing leader election, causing them to restart. Then controller manger and scheduler (and other components)  spam apiserever with calls (initialization) causing 429s to show. As usual the log timestamps become messed up.
The apiserver didn't restart though.

[2019-05-13 16:21] dims commented on #58010
@mtaufen i'll try to help, filing a rebase of #71835 in https://github.com/kubernetes/kubernetes/pull/77820

[2019-05-13 16:32] kow3ns commented on #77644
/assign @janetkuo

[2019-05-13 16:32] dpandhi-git commented on #10091
@mtaufen Does this issue still need to work on , or is it taken care as part of #60314. I would like to help on the issue. Haven't done much commit to K8s but I can shadow you and like to help.

[2019-05-13 16:33] matti commented on #69696
but - to me it looks like google might have fixed this: my cluster scaled down to match my workload. Not sure yet.

[2019-05-13 16:37] kow3ns commented on #77597
Is this reproducible with a supported version (1.12 - 1.14)? 1.5 is EOL.

[2019-05-13 16:37] kow3ns commented on #77597
/assign

[2019-05-13 16:37] mikedanese commented on #7452
We are blocked on support for https://tools.ietf.org/html/rfc8441 in x/net/http2 if we don't want to implement something non-standard again.

[2019-05-13 16:39] yliaog commented on #77808
IIUC, 'resource quota evaluates timeout' is the result of api server being unhealthy (overloaded).

[2019-05-13 16:40] djgilcrease commented on #73407
I think this may have been fixed by https://github.com/kubernetes/kubernetes/pull/70805 which is included in 1.14.0 at least it was for my deployments

[2019-05-13 16:41] kow3ns commented on #77396
/assign

[2019-05-13 16:43] kow3ns commented on #77396
We are unlikely to change the v1 Jobs API in order to support this. You can always copy a complete job to create a new one. You can always use a plugin in kubectl as suggested above.

[2019-05-13 16:44] kow3ns commented on #77396
/close

[2019-05-13 16:44] #77396 closed

[2019-05-13 16:45] kow3ns commented on #77396
Another option would be to look at the kubectl restart command.

[2019-05-13 16:46] mattfarina commented on #77396
@mcandre an option is to write your own tooling that:

1. Gets the job you want to rerun and then...
2. Creates a new job based on the completed one

[2019-05-13 16:46] kow3ns commented on #77387
/assign @janetkuo

[2019-05-13 16:47] kow3ns commented on #77216
/remove-sig apps

[2019-05-13 16:47] kow3ns commented on #77216
/sig node

[2019-05-13 16:49] kow3ns commented on #76570
/assign

[2019-05-13 16:50] ammills01 commented on #77225
Hey @andyzhangx , I have not attached anything outside of k8s's control.  From what I gather by the JSON, the 3 disks shown under _volumesAttached_ and _volumesInUse_ are ones in use by other containers running in k8s.  The setting under _allocatable -> attachable-volumes-azure-disk_ and _capacity -> attachable-volumes-azure-disk_ both indicate a capacity of 4.  Looking at the JSON from other node

[2019-05-13 16:51] bclau commented on #76077
Ok, so, I have a couple of updates regarding this.

First of all, indeed, the PR mentioned in the issue was closed without merging, but another one was merged in its stead: [1]

Secondly, it seems that kubelet is trying multiple credential providers, including for azure, aws, gcp, kubernetes secrets, and local configurations, as it can be seen here: [2].

I actually ended up getting it to work by

[2019-05-13 16:54] kow3ns commented on #76435
Have you considered implementing this as an extension. We might be willing to sponsor it as a SIG Apps subproject. Please consider submitting a KEP against SIG Apps.

[2019-05-13 16:54] kow3ns commented on #76435
/assign

[2019-05-13 17:08] YoubingLi commented on #77603
@aermakov-zalando

   Your are right and kubelet read log file from host such as
         /var/log/pods/pods/NAMESPACE_POD-NAME_xxx/....(JSON format)

  I will post a PR for it.

/remove-sig cli
/sig node

[2019-05-13 17:26] #77527 closed

[2019-05-13 17:37] mtaufen commented on #10091
It wouldn't hurt for someone to go through and find instances of "manifest" that really mean "pod" or "static pod." If this is one of your first contributions and you're just trying to get the hang of committing to the project, that's an easy thing to do.

But if you're interested in more serious contributions, I bet you can find something more important to help with. See if there are any open KEP

[2019-05-13 17:56] sbskas commented on #77801
I don't know. They print those errors every seconds without patching the clusterrolebinding/system-nodes.

One important point I forgot to mention in the description is that I'm running  cri-o as runtime.

[2019-05-13 18:06] vkhromov opened #77826 "`kubectl` ignores non-existing config file pointed by the `KUBECONFIG` environment variable"
**What happened**:
[code]

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
None

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):
[code]

- Install tools:
[code]

[2019-05-13 18:07] vkhromov commented on #77826
/sig cli

[2019-05-13 18:14] #51764 closed

[2019-05-13 18:20] wojtek-t commented on #77808
@krzysied  - that is a consequence not a root cause. We're looking for root cause.

@yliaog - where is this timeout coming from? IIRC we're listing from local cache, and we are not creating any resource quotas at all in the cluster, so what may cause that?

[2019-05-13 18:27] smarterclayton commented on #58711
The bug here is resetting the state that the Kubelet has.  The container runtime and status manager are responsible for gathering all the correct container status and adding it to the internal object.  The code path in dispatchWork that triggers resetting container state I think is just not the correct place to handle the specified logic.  Instead, the logic should roughly be:

1. Pods that are ma

[2019-05-13 18:33] yliaog commented on #77808
https://github.com/kubernetes/kubernetes/blob/3d12466c0221549ffd0651668e078b53482bcad2/plugin/pkg/admission/resourcequota/controller.go#L621

it looks that evaluator cannot finish in time (10s)

[2019-05-13 18:49] wojtek-t commented on #77808
Hmm - I looked into the code.
This is what terrifies me a little bit:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/resourcequota/resource_access.go#L123

I think that this logic doesn't make sense (i.e. I don't really see a good reason for handling the case of "no quotas in the lister" differently from "some quotas in the lister" wrt detecting freshness of data - if th

[2019-05-13 18:54] wojtek-t commented on #75833
For me it's pretty clear that this was resolved:

http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness&Resource=pods&Scope=namespace&Subresource=&Verb=DELETE

http://perf-dash.k8s.io/#/?jobname=kubemark-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness&Resource=nodes&Scope=cluster&Subresource=&Verb=LIST

Now there is on

[2019-05-13 18:59] dpandhi-git commented on #10091
Thanks @mtaufen will look around on issues list

[2019-05-13 19:00] wojtek-t commented on #77808
For this run - this is what was most probably the main issue:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadRequestCount&Resource=pods&Scope=cluster&Subresource=&Verb=LIST

We had 3 orders of magnitude more LIST pods calls. Where those were coming from?

[2019-05-13 19:02] cblecker commented on #75833
Opened pick: https://github.com/kubernetes/kubernetes/pull/77831

[2019-05-13 19:03] wojtek-t commented on #76579
This is what we should focus on going forward probably:
http://perf-dash.k8s.io/#/?jobname=gce-5000Nodes&metriccategoryname=APIServer&metricname=LoadResponsiveness&Resource=pods&Scope=cluster&Subresource=&Verb=LIST

The latency of "LIST pods (scope=cluster)" latency was visibly increased. This may be related to the fact the the number of those calls were also increased. Understanding where are tho

[2019-05-13 19:08] liggitt commented on #77808
@liggitt - for thoughts

a scenario where that code would have an impact is in a new namespace being initialized, where something auto-populates the new namespace with quota, then grants permissions to a namespaced user. not sure if that's what @deads2k added that to handle, or if he had something else in mind.

Yeah, that code has been present for 3 years, so I wouldn't expect that to be a cause.

[2019-05-13 19:41] johnSchnake commented on #77045
Multiple conversations on slack and in PRs has me at the understanding that:
 - there is no desire to default to goimports
 - there is little desire for consistency of imported names when otherwise we don't have a reason to touch those lines
 - goimports aliases like v1 on core/v1 code is an annoyance that doesn't generally block PRs but it isn't any form of endorsement of the alias itself and it

[2019-05-13 19:53] dims commented on #77045
@johnSchnake if you can get in some code cleanup when you touch some code, that's perfectly fine as long as it is ok with the reviewers. I don't want to start a "cleanup-all-the-imports-everywhere" right now given all the discussion about the various tools etc.

[2019-05-13 19:53] andrewsykim commented on #73319
/remove-lifecycle stale

[2019-05-13 19:54] liggitt commented on #66688
if we think we're going to loosen this eventually anyway, and it's only a validation change, I'm in favor of doing it before v1. We should make certain the API doc on this field explains the requirements for the field this points to

[2019-05-13 20:03] kfox1111 commented on #2630
I'm hitting this in context of cert-manager managed secrets. I was using an initContainer to copy the certs to the right place and update the permissions. Cert-manager needs to update the secrets in place so that trick won't work. I'll explore the fsGroup workaround.

[2019-05-13 20:09] tpepper commented on #75833
@wojtek-t has SIG Scalability done any one-off custom scale/perf testing with the new golang patch release and the k8s 1.14 branch content?

Do you see this cherry pick as a 1.14.2 release blocker?  Or would a week or two of focused testing with updated golang in the 1.14 k8s branch and a 1.14.3 release by end of May be a sufficiently safe yet expedient response?

[2019-05-13 20:41] imkin commented on #75780
The scope of this issue changes with discussions on https://github.com/kubernetes/kubernetes/issues/73286

If we are updated k8s release-1.12 to golang 1.12, we should also update 1.13

@liggitt @tpepper @feiskyer comments?

[2019-05-13 20:59] dougm commented on #77360
@rhockenbury I can reproduce this, but don't know what the issue is yet.  The version of Go and vSphere have changed since #75742 , but if it was one of those was the cause, I'd expect SAML auth to fail with the govc tags commands too.  All I have to go on for now is the vCenter log message below.  I'll update when I have more info.

[code]

[2019-05-13 21:02] andrewsykim commented on #77197
@jiatongw no that was tracked as part of https://github.com/kubernetes/kubernetes/issues/76206

[2019-05-13 21:03] imkin commented on #71627
This seems to have been addressed at https://github.com/kubernetes/kubernetes/pull/70626
Should we just close this?

[2019-05-13 21:16] neolit123 commented on #77800
/sig network
/remove-kind bug
/triage support

[2019-05-13 21:20] daschott commented on #76316
@jxiewei does this still repro in v1.14?

[2019-05-13 21:21] lavalamp commented on #77723
I agree with @yue9944882; better fix is coming, for now use the EventRateLimit thingy.

[2019-05-13 21:21] #77723 closed

[2019-05-13 21:22] fedebongio commented on #77733
/cc @jpbetz @jingyih

[2019-05-13 21:29] fedebongio commented on #77764
/assign @yliaog

[2019-05-13 21:31] lavalamp commented on #77764
@vllry @mattjmcnaughton This is api machinery, since it's only kube-apiserver with the issue.

/remove-sig node

[2019-05-13 21:46] lavalamp commented on #77764
Actually--is it just kube-apiserver or everything that uses client-go? Does your controller-manager happen to be connecting over localhost?

[2019-05-13 21:48] lavalamp commented on #77764
One theory is that it's related to the pure-go DNS resolver: https://golang.org/pkg/net/#hdr-Name_Resolution; there's an env var to toggle it.

[2019-05-13 22:06] tdmalone commented on #16707
@mikedanese Any possibility of reopening this?

[2019-05-13 22:17] lavalamp commented on #77733
Why doesn't the controller watch all pods and filter locally, like all other controllers?

[2019-05-13 22:18] lavalamp commented on #77733
It needs to do that for correctness, anyway. (Imagine a new pod somehow getting assigned to a node that's already gone unavailable.)

[2019-05-13 22:22] gnufied commented on #71470
We missed fixing this in v1.14. We are working on a fix that will land in 1.15.

[2019-05-13 22:29] lavalamp commented on #65994
Just came across this-- I actually do consider the current state a big bug, but it's not fixable due to api version change rules.

[2019-05-13 22:46] RobertKrawitz commented on #62830
Allowing multiple keys alone won't solve this -- there needs to be a stable sort (relative to the order in the patch) in the case of IP addresses, since IP addresses don't have a meaningful sort order.

[2019-05-13 23:06] mgdevstack commented on #76617
/area conformance

[2019-05-13 23:59] #77372 closed

[2019-05-14 00:06] spiffxp commented on #71627
No, #70626 specifically did _not_ address this issue, this should stay open.  See https://github.com/kubernetes/kubernetes/pull/70626#issuecomment-490144809

[2019-05-14 00:10] draveness commented on #76206
for `test/e2e/framework/metrics_util.go`, the `metrics` directory has already existed. Is it appropriate to move codes to the directory?

[2019-05-14 00:21] #67120 closed

[2019-05-14 00:35] claudineimatos commented on #76531
Here I'm having a slightly different behavior but I'm guess it's also related to kubelet being creating a lot of test containers in background (maybe for readiness or availability check?)
I'm not having the "Error while processing event..."  message constantly on the logs, but my messages log has been flooded with the "Created slice..." and "Removed slice..." messages. So I do not known if it's a

[2019-05-14 00:36] spiffxp commented on #71470
/remove-priority critical-urgent
/priority important-longterm
More representative of how it's actually being treated

[2019-05-14 01:20] gnufied commented on #71470
/milestone v1.15

[2019-05-14 01:35] dims commented on #49402
/milestone v1.16

[2019-05-14 01:36] dims commented on #74379
/milestone v1.16

[2019-05-14 01:44] dims commented on #52128
Let's close this for now since the last comment is from more than a year ago.

[2019-05-14 01:44] #52128 closed

[2019-05-14 01:44] dims commented on #15635
/area code-organization

[2019-05-14 01:49] tiger0425 commented on #71424
AttachVolume.Attach failed for volume "pvc-fbc1494b-758e-11e9-bfc0-005056b4b2af" : node "rancher196" has no NodeID annotation

[2019-05-14 01:54] zq-david-wang commented on #77764
@kraney Can you  clarify whether /etc/hosts and /etc/nsswitch.conf given above is used by your apiserver or just by your host? I assume your apiserver is running inside a container. But I am not sure.  If that is the case, you should check the file inside the container . If there is no nsswitch.conf inside the container, then what @lavalamp mentioned could be possible,  the binary did not check /e

[2019-05-14 02:07] smarterclayton commented on #58711
https://github.com/openshift/origin/commit/4228b5460dbb34e78d01b5bb7729308fc1f6a6b7 removes the call to TerminatePod and seems to not have the issue described.  Can we investigate whether this block is truly out of date and can be removed safely?  What scenario is uncovered now?

[2019-05-14 02:14] tiger0425 commented on #71424
Docker版本 18.9.6
Kubelet版本 v1.12.0
操作系统 CentOS Linux 7
内核版本 3.10.0-957.10.1.el7.x86_64

ttachVolume.Attach failed for volume "pvc-341bbf51-75ed-11e9-bfc0-005056b4b2af" : node "crawler203" has no NodeID annotation

Dashboard/volume/pvc-341bbf51-75ed-11e9-bfc0-005056b4b2af
Volume Details
State:Detached
Health:
Frontend:Block Device
Attached Node & Endpoint :
Size:2 Gi
Actual Size:0 Bi
Base Image:
Eng

[2019-05-14 02:28] kraney commented on #77764
Apiserver is the only process where I've noticed this behavior. It's possible it occurred elsewhere and escaped my attention, if it was the sort of failure that would automatically recover. I think broadly speaking, the processes are not configured to talk over localhost however, this is a multi-node cluster. Apiserver is only using localhost because it's using the LoopbackClientConfig in this par

[2019-05-14 03:04] liggitt commented on #77764
xref https://github.com/kubernetes/kubernetes/issues/69195

[2019-05-14 03:26] kraney commented on #77764
@lavalamp I believe you have pinpointed it.

Looking in https://github.com/golang/go/blob/master/src/net/dnsclient_unix.go, the function `nameList` will put the unadorned name last in the search order unless it has >= ndots in it. The default for ndots is 1, so "localhost" would not have enough and would end up at the last of the list.

Looks to me like a bug in go and k8s is an innocent victim.

[2019-05-14 03:39] kiwik commented on #77521
Same question with @adisky , this issue impact OpenLab cloud-provider-openstack E2E testing job.

[2019-05-14 04:10] liggitt commented on #77801
https://github.com/kubernetes/kubernetes/blob/5f728452ea617df7e0d781d785c6212f199dc680/pkg/kubelet/kubelet.go#L659-L661

this sets up a runtimeclass informer in the kubelet, which needs list/watch

@tallclair, what is the runtimeclass used for in the kubelet? is it required? if so, how are we testing the functionality this enables? can we add test coverage along with the required permissions. if n

[2019-05-14 04:53] #77806 closed

[2019-05-14 04:53] ajax-2 opened #77849 "exit with 137 code, and not limit resource"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-05-14 05:15] RohanKurane commented on #6530
I am running into a issue where if I specify ```privileged:true``` in my Pod deployment file and I use CRI-O runtime, the container does not appear to start with privileged status.
Is there a workaround ?

[2019-05-14 05:19] smarterclayton commented on #58711
I believe a recreate scenario is

1. Create a restart never pod with a single container that runs:

    trap 'exit 3' TERM
    sleep 10 & wait

2. Start a watch
3. As soon as start is observed gracefully delete pod
4. Observe watch events - failed should be observed for both phase and container, and exit code should be 3
5. Error if any event regresses
6. Loop until failure

A variant might be to

[2019-05-14 05:25] kevdrz commented on #74173
Same problem with German Windows.
We even tried replacing the english counters with the german equivalents - no success.

[2019-05-14 05:26] TerraTech commented on #36391
/remove-lifecycle stale

[2019-05-14 06:02] prasus opened #77850 "HA master failover issues."
**What happened**:

We are having a multi master (03 master nodes) setup with keepalived responsible for the master VIP.  The setup is worked fine until last week, One of our master nodes (`kube1`) which was serving our vip got crashed last week causing outage to our kubernetes services.

Ideally, keepalive virtual IP and kubernetes control plane services should fail over to an alternate master no

[2019-05-14 06:11] bsalamat commented on #77746
Adding more state to the FramewrokHandle is possible. Although this is an API change, since adding more methods and state is backward compatible, we can do this. In fact, we started with a FrameworkHandle with minimal functionality, knowing that we will need to add more methods in the future.
I believe your example on monitoring CRD changes would require FrameworkHandle to expose the scheduling qu

[2019-05-14 06:13] wojtek-t commented on #75833
We were doing a bunch of tests to discover the real regression in golang 1.12 - the regression happened within 1.14 release timeframe and the bisection was done on that branch.
So yes - I'm 100% confident that it helps.

Tough question - I would love to see it in 1.14.2, otoh given how long it took to debug and fix it, I can see release team pushing it to 1.14.3. But if we could have that in 1.14.

[2019-05-14 06:14] mborsz commented on #77808
I saw that already -- my interpretation was that they were generated by node-controller because nodes became NotReady, but I will take a closer look if this is a really the case.

[2019-05-14 06:14] wojtek-t commented on #77733
Yeah - exactly. It's for correctness reasons.

[2019-05-14 06:14] feiskyer commented on #75780
release-1.12 is still using Go 1.10.8, upgrading to 1.12 may introduce performance regressions and other issues. Unless we have good ways to validate the performance, I suggest we only upgrade Go to latest patch releases.

[2019-05-14 06:19] #74620 closed

[2019-05-14 06:20] ningning54321 commented on #67457
In my case, the connection is created directly to the pod IP. I am pretty sure the target pod is not being restarted during the connection time.

[2019-05-14 06:36] zhangzheming629 commented on #30042
so what's the solution？Should I change the apiversion？

[2019-05-14 06:43] nagexiucai commented on #77826
v1.10.0 too.

[2019-05-14 06:47] ScorpioCPH commented on #77508
@liggitt Thanks for your explanation, but types of resource is not enough in some scenarios:
- We have one namespace for one user (tenant);
- They deploy some pods with different env labels, such as `app-env=staging` and `app-env=production`;
- They want to config different quota for the different env, as `quota-staging.hard=100 cores`, `quota-production=500 cores`;

So extend the scope selector t

[2019-05-14 06:47] mborsz commented on #77808
kube-controller-manager is restarting every few minutes starting from 01:46:23 to 03:11:34 and then approximately once an hour.

[2019-05-14 07:13] bchazalet commented on #69696
@matti I've applied your poddisruptionbudgets on my GKE cluster, and it does work for me too.

[2019-05-14 07:18] vkhromov commented on #77826
`kubectl` works as expected and prints the error if you specify the path to a non-existing kubeconfig file via the `--kubeconfig=` option:
[code]

[2019-05-14 07:31] matti commented on #69696
@bchazalet I don't have the PDBs anymore and it still works for me.

[2019-05-14 07:51] KevinTHU commented on #77472
I have the same problem, and I think this is because you ever joined fail once, so the '/etc/kubernetes/manifests/etcd.yaml' has been deleted, and so next time you retry join, kubeadm cannot find which etcd cluster to remove your etcd node '10.20.0.100:2379'(but in fact this etcd node does not exist), maybe last time, the etcd.yaml was deleted, but the etcd node '10.20.0.100:2379' is not removed c

[2019-05-14 07:52] KevinTHU commented on #77472
In fact, I think this is a bug, maybe I need to push a PR. ^_^

[2019-05-14 08:05] venthur commented on #68457
Ok, I figured it will be a matter of updating https://github.com/kubernetes/kubernetes/blob/master/build/debs/BUILD -- so that the bash completion file is included. It is just unclear where to get the completion file from during the build process. Can anyone help me out?

[2019-05-14 08:07] ajax-2 commented on #77849
/sig pod-exit

[2019-05-14 08:07] draveness commented on #75674
Hi @kubernetes/sig-apps-feature-requests, do you have any thoughts on this feature?

[2019-05-14 08:35] bchazalet commented on #69696
@matti interesting. What version are running on?

[2019-05-14 08:35] luzhzhsoft opened #77856 "kubectl logs with flag --since-time return logs before the timesamp"
**What happened**:
When I use kubectl logs with flag --since-time .Kubenetes return logs before the timestamp ,not after.For example , timestamp is 2019-05-08T06:02:13.431834004Z ,but log's timestamp
is 2019-05-08T06:02:13.324986342Z.
`kubectl logs --since-time="2019-05-08T06:02:13.431834004Z" --timestamps=true --limit-bytes=1024 auth-develop-2407-74f8c47899-zqnrx -n default-57`

`2019-05-08T06:02

[2019-05-14 08:37] KevinTHU commented on #77472
or you just edit config kubeadm-config, and delete the apiEndpoints and apiServer also for the node you add. this is the key reason, why kubeadm try to dial dial tcp 10.20.0.100:2379. @Xaelias

[2019-05-14 08:49] mrtylerzhou commented on #77801
I also came across with similar problem.Some how,on node upgade to 1.14.1(other nodes are 1.13.1),the nodes shift its state from ready to not ready back and forth.When checking the kubelet log,get similar log information.

[2019-05-14 08:59] w564791 opened #77858 "Duplicate ReplicaSetunder the managed Deploy in the cluster"
**What happened**:
Duplicate ReplicaSetunder the managed Deploy in the cluster
**What you expected to happen**:
about kube-scheduler  ?
**How to reproduce it (as minimally and precisely as possible)**:
i can not reproduce it by  Fixed method
**Anything else we need to know?**:

**Environment**:
- Kubernetes version (1.11.5  and  1.13.4`):
[code]
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (

[2019-05-14 09:07] w564791 commented on #77858
/sig kube-controller-manager
/sig kube-scheduler

[2019-05-14 09:09] maolujun commented on #76531
master node uses cgroupfs. Do not add "exec-opts": ["native.cgroupdriver=systemd"]
Slave node using systemd. Add "exec-opts": ["native.cgroupdriver=systemd"]

[2019-05-14 09:12] Pingan2017 opened #77859 "Init Container will be removed by kubeGC when we set --maximum-dead-containers-per-container=0"
**What happened**:
1.set --maximum-dead-containers-per-container=0
2.  create a deploy with a init container
3. watch the pod status , you will see the change
[code]

**What you expected to happen**:
init container wont't be removed.
   _**we need separate the containerGC and initContainerGC**_

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2019-05-14 09:13] w564791 commented on #77858
/sig kube-scheduler

[2019-05-14 09:14] bainsy88 commented on #70147
I would also like to add my weight behind "Configuring Nodes to Authenticate to a Private Registry" guide not being a good solution, as well as cloud providers already using the mechanism of storing secrets in the .dockercfg (or indeed the containerd equivalent) which is mentioned above, it also seems an anti-pattern that it's required to do something managed by kube.

It also makes debugging imag

[2019-05-14 09:15] Pingan2017 commented on #77859
/sig node
@kubernetes/sig-node-bugs
@kubernetes/sig-node-feature-requests

[2019-05-14 09:33] Pingan2017 commented on #77859
#62362

[2019-05-14 09:46] shahbour commented on #77663
can you send

kubectl describe pod pvpod

I did not understand what is the problem , you said after fixing the UUID vmdk has been created ?

[2019-05-14 09:59] giuseppe commented on #77615
I've tried to reproduce it on 18.04.2 using Podman from `ppa:projectatomic/ppa` but I am not able to reproduce it.  Do you have any reproducer?  How did you install Podman?

[2019-05-14 10:00] istikamet commented on #77663
Thnaks for reply, i meant that in the first place when i run “ vsphere-volume-pvcsc.yaml”  it was not successfully creating the volüme, output of the “kubectl describe pvc” message was No VM found.

[root@kubemaster vcp]#
[root@kubemaster vcp]#
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl describe pod pvpod
Name:               pvpod
Namespace:          default
Priority:           0
Priori

[2019-05-14 10:06] shahbour commented on #77663
did you look at this https://github.com/kubernetes/kubernetes/issues/65933 , share the output of `kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID]'`

[2019-05-14 10:10] hoegaarden commented on #75833
#77831 just merged and we let 1.14 soak for one or two days before we cut `v1.14.2`.

Let's keep this issue open until we have some data on the latencies after that merge.

SIG Scalability, can you please provide some data / graphs about the latency in a (couple of) days for the `release-1.14` branch?

[2019-05-14 10:20] thepiger opened #77860 "k8s-dns ttl never expire"
I have a problem with the resolution of name outside kubernetes (like google or api of service use) wouldn't update because the TTL of the records is setted to a value like 4292482298.
When kubedns' pod start the ttl is correctly setted to 300 and it is refreshed every 5 minutes.
With dig i'm monitoring the ttl count down and i'm seeing that it restart from 300 but after some days of working it ch

[2019-05-14 10:23] istikamet commented on #77663
Let me install jq, i took patching uuid ideas from this ticket.

[root@kubemaster vcp]# kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID]'
-bash: jq: command not found
[root@kubemaster vcp]#

From: Ali Shahbour [mailto:notifications@github.com]
Sent: Tuesday, May 14, 2019 1:09 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Ahmet MERT <ahmet.mert@ibb.gov.

[2019-05-14 10:25] istikamet commented on #77663
[root@kubemaster vcp]#
[root@kubemaster vcp]# kubectl get nodes -o json | jq '.items[]|[.metadata.name, .spec.providerID]'
[
  "kubemaster.ibb.gov.tr",
  "vsphere://4230456E-D8B2-AED1-E270-740256CBD273"
]
[
  "kubenode1.ibb.gov.tr",
  "vsphere://4230B3CC-96D1-A6CD-0D27-0DF5E6ABF7EA"
]
[
  "kubenode2.ibb.gov.tr",
  "vsphere://42301D59-179C-8BB9-9086-B5D6048FDC74"
]
[root@kubemaster vcp]#
[root@kube

[2019-05-14 10:26] thepiger commented on #77860
/sig network

[2019-05-14 10:26] shahbour commented on #77663
Ok after patching did you restart kubelet . And was you able to create vpc vp and vmdk after doing that ?

[2019-05-14 10:26] ylhyh commented on #76077
Yes, %HOMEDRIVE%+%HOMEPATH%  is the right profile path:
HOMEDRIVE=C:
HOMEPATH=\Users\Administrator

[2019-05-14 10:31] istikamet commented on #77663
Many time restarting kubelet didint help, after that recreating vpc vp didnt help.

From: Ali Shahbour [mailto:notifications@github.com]
Sent: Tuesday, May 14, 2019 1:29 PM
To: kubernetes/kubernetes <kubernetes@noreply.github.com>
Cc: Ahmet MERT <ahmet.mert@ibb.gov.tr>; Mention <mention@noreply.github.com>
Subject: Re: [kubernetes/kubernetes] vsphere_volume_util.go:187] Cloud provider not initiali

[2019-05-14 10:42] bclau commented on #76077
Hm, keep in mind that you're trying to run the Kubelet as a service, under the ``LocalSystem`` account, which has a totally different ``HOMEPATH``, which should be something like ``C:\Windows\System32\Config\systemprofile`` (probably).

[2019-05-14 10:44] shahbour commented on #77663
Ok so UUID is their , you have to check the logs and see what is the problem .

After creating the storage class , and trying to create a pvc . what happen , is their any thing in the log .

If nothing then try to make the log more verbose as in the other thread lets see ?

Also in your question you are saying that vmdk is being created but your problem is in mount ?

[2019-05-14 10:46] mszostok commented on #72088
still valid

[2019-05-14 10:49] mszostok commented on #72088
/remove-lifecycle stale

[2019-05-14 11:02] chaudyg opened #77864 "All Pods on an unreachable node are marked NotReady upon the node turned Unknown"
**What happened**:
We reached a corner case in our kubernetes cluster:
1. a network partition between kubelet and the apiserver. ALL our nodes unable to report to the apiserver (misconfiguration of the loadbalancer between kubelet and the apiserver).
2. As expected, after 40 seconds, all the nodes status turn to Unknown.
3. However, at the same time, all the pods on all the nodes were marked NotRe

[2019-05-14 11:18] istikamet commented on #77663
Problem is in mounting volume, as we see in the logs but mounting issues and vsphere cloud provider not initialized properly logs flooding same time. Once i delete the pod logs stop flooding.

İ confused why provider create and attach the volume into virtual machine on vmware esxi host if cloud provider doesnt initialized properly.

From: Ali Shahbour [mailto:notifications@github.com]
Sent: Tuesda

[2019-05-14 11:22] shahbour commented on #77663
I think the cloud provider is working correctly , as you are creating PVC and then it is creating a PV and VMDK . This should be enough to say cloud provider is working correctly .

Share you PVC and POD YAML

[2019-05-14 11:26] jesstruck commented on #65933
Let me suggest a small fix to the above script that supports spaces in  FOLDER path

[code]

[2019-05-14 11:28] jesstruck commented on #65933
Let me suggest a small fix to the above script that supports spaces in FOLDER path
[code]

[2019-05-14 11:38] davidmccormick commented on #75457
I appreciate that we should protect against bad actors, it's just a challenge for our distribution (kube-aws) that relies on setting node labels through Cloud-Formation->Userdata->cloud-config->--node-labels command line parameter.  I suppose we could have some sort of privileged process that is watching for nodes and then labeling them for us - is there an accepted standard approach to this?

[2019-05-14 11:40] davidmccormick commented on #75457
Yes if I used the node-role.kubernetes.io/xyz= label then it's ok - I just can't set that from the kubelet command-line going forwards by the looks of things?

[2019-05-14 11:43] rhummelmose commented on #60807
Probably because the finalizer is supposed to delete an Azure load balancer resource called kubernetes? That seemed to be the case for me.

[2019-05-14 12:04] neolit123 commented on #75457
i agree that there is a disagreement with the kubelet and kubectl here.

ideally the operator should apply the node-role labels manually and not the nodes them self, but if you still want to indicate that nodes are workers on the node sides, you can apply a temporary label using `--node-labels` and then run a "process" on the operator side to catch new nodes with this temporary label, remove the t

[2019-05-14 12:07] dims commented on #58329
/reopen

[2019-05-14 12:23] chaudyg commented on #77864
@kubernetes/sig-node-bugs
@kubernetes/sig-cluster-lifecycle

[2019-05-14 12:31] #68508 closed

[2019-05-14 12:33] neolit123 commented on #77864
/sig apps

[2019-05-14 13:20] mariantalla commented on #71470
/milestone v1.15

[2019-05-14 13:24] Xaelias commented on #77472
Ha wish I had seen this earlier :-)
Long story short, I nuked that cluster. My "data plan" (i.e. my NAS) died a couple days ago. I'm getting it replaced, but I figured it was as good a time as any (since I'm already in the middle of an "outage") to just rebuild from scratch... And get rid of that issue.
Thanks though, I appreciate it. Hope this helps someone else in the future!

[2019-05-14 13:24] #77472 closed

[2019-05-14 13:25] sjenning commented on #58711
This is the PR that added it from the 1.2 days
https://github.com/kubernetes/kubernetes/pull/22155
@Random-Liu

[2019-05-14 13:31] mattjmcnaughton commented on #77850
Thanks for your detailed error report!

A couple questions that I'm hopeful will help with debugging:

1. Was there a specific tutorial/instruction set you followed for setting up your 3 node HA cluster?
2. What machine is IP address `10.23.50.30` (from the logs)?

[2019-05-14 13:37] alitvak69 commented on #77615
I used ceph unit files to run ceph in podman rather than docker.  Systemd
unit successfully starts docker but fails with podman.  I can successfully
run the same podman container run command from the command line.  How were
you trying to replicate this?  Can you post your unit file?

On Tue, May 14, 2019, 5:01 AM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-14 13:41] mattjmcnaughton commented on #77859
Hi @Pingan2017 :)

Thanks for sharing this.

Do you mind providing a little more detail on the actual behavior and the expected behavior? I think I'm not totally following why its a problem to remove the init container if its already completed successfully. Is the issue that Kubelet thinks it hasn't completed successfully and keeps on trying to rerun it, leading to repeated execution of the init c

[2019-05-14 13:43] dims commented on #77521
@kiwik @adisky can you please try this? https://github.com/kubernetes/kubernetes/pull/77867

[2019-05-14 13:43] joost14 commented on #77615
Hi,

I'am having the same problem with Kubernetes with CRI-O. After joining a second worker node it fails to start flannel.
`sudo systemctl status crio` gives the following error:
[code]
What I've tried:
- Installing previous version of Kubernetes (from `1.14.1` to `1.13.4`)
- Installing previous version of crio (from `1.13.1-dev` to `1.12.1-dev`)
- Building runc myself from their github page and

[2019-05-14 13:49] mattjmcnaughton commented on #77864
Thanks for your detailed error report @chaudyg :)

My guess is that, given the integration test, it is intentional that pods become `NotReady` when the node is marked `NotReady`.

I'm wondering, would that behavior have been acceptable if the documentation had been clearer? How could we update the documentation so there were less surprises?

[2019-05-14 13:52] soltysh commented on #77465
There's a plan (https://github.com/kubernetes/enhancements/pull/978) to move it to GA and rewrite the controller not to use live calls anymore but rely on shared informers.

[2019-05-14 13:54] alitvak69 commented on #77615
I wonder if the issue is with systemd and runc.  In both cases, crio and
podman, I see runc help output which tells me that something  is not being
passed to runc that it needs.

On Tue, May 14, 2019, 8:45 AM delighted <notifications@github.com> wrote:

[2019-05-14 13:54] soltysh commented on #76570
I think https://github.com/kubernetes/kubernetes/issues/76370 is related to the same problem.

[2019-05-14 14:07] liggitt commented on #77508
thanks for the feedback. I still don't think label selectors make sense as a quota scope, but am willing to hear thoughts from other quota maintainers

/sig api-machinery

[2019-05-14 14:08] giuseppe commented on #77615
I've only used `--cgroup-manager systemd` so it is different than your test and you confirmed it works from the CLI for you as well.  Could you share your service file so I test it?

[2019-05-14 14:12] joost14 commented on #77615
I've tried systemd and cgroupfs but no luck so far.

[2019-05-14 14:20] aojea commented on #77521
@dims it works with your fix https://circleci.com/gh/aojea/kubernetes/53 ,

[2019-05-14 14:32] chaudyg commented on #77864
Thx @mattjmcnaughton for your reply.

Is seems like an intentional behaviour. But I am failing to grasp the full rational behind it.

What I am convinced of is that having the apiserver unreachable for 40+ seconds should NOT result in a full cluster outage.

They are 2 scenarios in this part of the code:
* The node turns NotReady. In this case I can understand why marking pods as NotReady quickly

[2019-05-14 14:43] giuseppe commented on #77615
so it seems that runc fails to re-open `/dev/stderr`.  That seems like a runc issue, as it doesn't really need to reopen it.
To fix the failure, you could use something like:
[code]

[2019-05-14 14:45] dims commented on #77045
/close

@johnSchnake @draveness ok to close this for now?

[2019-05-14 14:45] #77045 closed

[2019-05-14 14:46] wojtek-t commented on #56071
/remove-lifecycle stale
/lifecycle frozen

[2019-05-14 14:46] neolit123 commented on #77849
thanks for logging the issue. please re-open it once you provide more details about the tools and the OS you are using.

/close

[2019-05-14 14:47] #77849 closed

[2019-05-14 14:47] neolit123 commented on #77858
/sig apps

[2019-05-14 14:48] dims commented on #77135
Removing sig-arch tag, please re-tag us when there is a proposal or KEP

/remove-sig architecture

[2019-05-14 14:50] dims commented on #72975
/sig instrumentation
/remove-sig architecture

[2019-05-14 14:50] hjacobs commented on #77864
@chaudyg thanks for looping me in, please submit the full postmortem on https://github.com/hjacobs/kubernetes-failure-stories when ready :clap:

[2019-05-14 14:50] prasus commented on #77850
Thank you @mattjmcnaughton 🙏  please find the answers furnished below.

1. No, The cluster has been created using `kubeadm` by following the generic instructions.

2. `10.23.50.30` is the virtual IP managed by keepalived. Keepalived HA worked as expected, This vip ( `10.23.50.30`) was initially served by `kube1` and got auto-migrated to `kube2` during incident time.

3. No.

Let me know if you nee

[2019-05-14 14:52] dims commented on #48209
/area code-organization

[2019-05-14 14:56] dims commented on #70137
Do we have any volunteers to find a better spot for storing the list in the comments above?

[2019-05-14 14:58] dims commented on #71202
/remove-sig architecture

please re-tag arch if needed, looks like all items fall under sig-network

[2019-05-14 14:59] alitvak69 commented on #77615
Just an example.  I use ceph-ansible to install cluster so it may need to
install additional daemons like mon before running mgr but the error, in
this case, should be different,

[Unit]
Description=Ceph Manager

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/podman stop ceph-mgr-storage2n1-la
ExecStartPre=-/usr/bin/podman rm ceph-mgr-storage2n1-la
ExecStart=/usr/bin/podman run

[2019-05-14 15:00] alitvak69 commented on #77615
BTW,

I  added projectatomic ppa and used apt-get -y podman to install.  My
podman version is 1.3.0

On Tue, May 14, 2019 at 9:58 AM Sasha Litvak <alexander.v.litvak@gmail.com>
wrote:

[2019-05-14 15:00] cjschaef commented on #77521
Sorry I missed this yesterday. I will try #77867 as well. Otherwise, my assumption was to revert the use of a function, as that creates the scoping problem we've been seeing with `readonly` variables in `bash 4.3`.

[2019-05-14 15:01] dims commented on #55435
@tallclair how long we do want to keep this open? (curious) what could we do to get someone working on this problem?

[2019-05-14 15:02] alitvak69 commented on #77615
Corrected file.

[Unit]
Description=Ceph Manager

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/podman stop ceph-mgr-storage2n1-la
ExecStartPre=-/usr/bin/podman rm ceph-mgr-storage2n1-la
ExecStart=/usr/bin/podman run --rm --net=host \
  --memory=16G \
  --cpus=4 \
  -v /var/lib/ceph:/var/lib/ceph:z \
  -v /etc/ceph:/etc/ceph:z \
  -v /var/run/ceph:/var/run/ceph:z \
  -v /etc/l

[2019-05-14 15:02] dims commented on #70679
@mikedanese i'll remove arch from this now. please re-add when there is a KEP or some other plan for us to look at. is this ok?

/remove-sig architecture

[2019-05-14 15:04] alitvak69 commented on #77615
Would it have an effect system wide?  Can I add it to a unit file or unit
override instead?

On Tue, May 14, 2019 at 9:46 AM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-14 15:09] giuseppe commented on #77615
@alitvak69 yes, I think it is better to add it only to the unit file

[2019-05-14 15:13] alitvak69 commented on #77615
Why would runc work outside of systemd?  And if it needs stderr,  giving it
Null in settings will redirect stderr to Null I presume?

On Tue, May 14, 2019, 9:46 AM Giuseppe Scrivano <notifications@github.com>
wrote:

[2019-05-14 15:14] dims commented on #77521
@aojea i think that would be `make quick-release` not `make quick-release-images`

[2019-05-14 15:16] birdli66 opened #77869 "Attach a static IP by name to a service with type=LoadBalancer"
**What would you like to be added**:

Same as in this 2017 request:
https://github.com/kubernetes/kubernetes/issues/42481

In GCP service of type=LoadBalancer with port mappings is exposed but IP is in 'ephemeral' state, so the 'only' thing missing is to signal to the underlying platform provider e.g. via 'loadBalancerAddressName' that:
- the name is registered for good (kubeDNS??)
- the load load

[2019-05-14 15:22] dims commented on #77521
Also both `make quick-release` not `make quick-release-images` should work now.

[2019-05-14 15:27] birdli66 commented on #77869
@kubernetes/sig-network-feature-requests

[2019-05-14 15:32] ahg-g commented on #69599
I looked at this one, here is a little background some probably already know about:

**Current behavior on the node**
If two services used the same externalIP:port, kube-proxy will setup iptables rules twice for the same externalIP:port. So traffic will be redirected to the endpoints of the service that was processed first.

**Validation**
In the case where ClusterIP is provided in the service spe

[2019-05-14 15:33] yue9944882 commented on #77856
/remove-sig autoscaling
/sig cli

[2019-05-14 15:33] jvoeller commented on #77129
As a workaround I recreated the VM with the _Availability zone_ option and it seems to work so far.

[2019-05-14 15:55] matti commented on #69696
latest gke 12.7 or something like that.

[2019-05-14 15:58] k8s-release-robot opened #77871 "Update publishing-bot for release-1.15"
The branch [`release-1.15`][branch] was just created.

Please update the [publishing-bot's configuration][config] to also publish this
new branch.

[branch]: https://github.com/kubernetes/kubernetes/tree/release-1.15
[config]: https://github.com/kubernetes/kubernetes/tree/master/staging/publishing

/cc @kubernetes/publishing-bot-reviewers
/sig release
/area release-eng
/milestone v1.15

[2019-05-14 16:13] hpandeycodeit commented on #77826
/priority backlog

[2019-05-14 16:15] hpandeycodeit commented on #77826
@vkhromov Thanks for reporting it!
We should change the error message in this case as pointed by you.

[2019-05-14 16:19] nikhita commented on #77871
/assign

[2019-05-14 16:22] sfxworks commented on #77615
[code]
Running into same issues on Ubuntu 18.04.2 using cri-o-1.13 via PPA.

[2019-05-14 16:34] mikedanese commented on #70679
@dims will do. Thanks.

[2019-05-14 16:34] DarrienG commented on #77216
Just as an update - this continues to affect us. We have some crons that have been stuck for up to 11 days. To fix, we kill the pod and the pods create and work almost instantly.

[2019-05-14 16:45] dpandhi-git commented on #77826
Can I take this?

[2019-05-14 16:50] mrunalp opened #77873 "Stop timeout isn't respected at shutdown/reboot"
**What happened**:
Containers are getting terminated by systemd without respecting the `terminationGracePeriodSeconds` set in the pod yaml on reboot or shutdown of a node.

**What you expected to happen**:
`terminationGracePeriodSeconds` is respected by systemd when using systemd as the cgroup manager.

**How to reproduce it (as minimally and precisely as possible)**:
1. Use systemd as the cgroup

[2019-05-14 16:50] lavalamp commented on #77733
@mborsz Can we change the OP to be a bug report about the controller rather than a bug report about apiserver? And/or file a new issue. We won't be changing apiserver to fix this.

[2019-05-14 16:50] mrunalp commented on #77873
cc: @derekwaynecarr @dchen1107

[2019-05-14 17:07] krish7919 commented on #52241
It is frustrating that AWS treats `us-east-1` in a special manner and has a node name separate from the host name in the region which breaks the `externalTrafficPolicy: Local` functionality in a cluster.

[2019-05-14 17:24] brahmaroutu commented on #70137
If we can automate this, we should generate sections with list of tests for privileged, Windows only, linux only into the conformance document itself so that we can track for each of the release. WDYT?

[2019-05-14 17:29] matti commented on #36304
I'm surprised that
[code]
hasn't been mentioned yet

[2019-05-14 17:45] mzyfree opened #77876 "Set kube-proxy bindaddress through kubeadm config file failed"
I want to set kube-proxy bindaddress to ipv6 address [::] through command:
 kubeadm init  --config=./kubeadm_config.yml --ignore-preflight-errors all
But result not function.
The kube-proxy bindadress is always 0.0.0.0
My kubeadm config file:
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: "v1.14.0"
controlPlaneEndpoint: "2000:1691:1111:2222:aaaa:bbbb:cccc:2000"
im