[2016-01-27 22:41] krousey commented on #19960
Closing as I have verified that we do indeed cycle through source ports.

[2016-01-27 22:41] #19960 closed

[2016-01-27 22:42] yujuhong commented on #20231
@piosz  @mwielgus, just in case that you haven't got the chance to look at the heapster failure, the log from the new eventer container is posted above.

[2016-01-27 22:42] lavalamp commented on #19254
@nikhiljindal it looks like it is stuck here: https://github.com/kubernetes/kubernetes/blob/master/pkg/storage/watch_cache.go#L199

Which doesn't look like the httptest.Close race at all to me. It may not be the case that anything has changed here recently. I'm worried that we might have a rare deadlock, that locking is tricky.

Have you tried running with the 'stress' program @krousey told us abo

[2016-01-27 22:43] bprashanth commented on #18969
and startup.log if possible, in case GCS or some other storage location a salt script tries to access 500s

[2016-01-27 22:46] yujuhong commented on #20231
It's sad that the overzealous logging from one container manifested as high docker cpu usage, but don't have any better solution as of today. I'm closing this issue since the root cause has been identified and the PR has been reverted.

[2016-01-27 22:46] #20231 closed

[2016-01-27 22:50] ericchiang commented on #19828
@philips was building a prototype when I hit this. I think I can get a version of the protoc-gen-go binary that has gRPC support but doesn't use `proto.RegisterType` so hopefully not blocking.

[2016-01-27 23:03] nikhiljindal commented on #20229
Summarizing discussion with @thockin, @bprashanth and @lavalamp

- We can let the summarizer decide that should it return the internal IP or the external one or let the summarizer return both and the client can choose which one it should use.
  - Not sure how can client know if its in the same cluster as master.
- One use case where client wants to know both the addresses is when it can talk to se

[2016-01-27 23:06] philips commented on #19828
You can also just cherry pick Yifan's branch and keep going.

On Wed, Jan 27, 2016 at 2:51 PM Eric Chiang <notifications@github.com>
wrote:

[2016-01-27 23:11] yujuhong commented on #15554
As opposed to do something similar to http://perf-dash.k8s.io, @vishh suggested that we send the data to cloud monitoring(?) and set alerts.

@kubernetes/goog-node for suggestions.

[2016-01-27 23:12] dchen1107 commented on #20230
Ok, here is the reason of kubernetes-e2e-gce-serial/312 failure: influxdb container in
monitoring-influxdb-grafana-v2-z7sbj is in crashloop: cc/ @yujuhong somehow I didn't see container logs being collected from failed pod here:

[code]

Luckily I have my local cluster which also run into influxdb-crashloop issue, and I ssh-ed into the node and debugged why:

1) Find previous dead influxdb contain

[2016-01-27 23:15] bprashanth commented on #20229
The public/internal ip problem is harder because the summarizer, apiserver and client can all be in different clusters, and going across the edge will incur NAT. It's easy if there are only 2 parties, the client and some server that responds with a public or private ip, because then we can prefix match for (10., 172., 192., public). I think we'll need to pack more information into the request, per

[2016-01-27 23:15] ihmccreery commented on #20230
Per usual, I'll make the case that our e2e environment should look as similar to prod as possible; if that pod is running in prod systems, it should be running here.  (If it's not, why is it running in e2e?)

[2016-01-27 23:20] yujuhong commented on #20230
The PR only print the logs if the pod becomes not ready *after* the test. I'll send another PR to print the logs for not ready pods even before the test start shortly.

[2016-01-27 23:22] dchen1107 opened #20247 "Consider removing influxdb-grafana-controller from kube-system when running e2e test?"
Forked from #20230, and the detail reason can be found at: https://github.com/kubernetes/kubernetes/issues/20230#issuecomment-175906218

In summary, e2e test keeps reboot the node, which might corrupted checkpoints of influxdb. Most of our users use different backen storage for their heapster, including gke, and openshift. Also our monitoring test should retrieve stats through heapster API only an

[2016-01-27 23:23] dchen1107 commented on #20247
@mwielgus I assigned this to you for triaging. cc/ @vishh

[2016-01-27 23:28] dchen1107 commented on #20230
@ihmccreery Honestly I want to stop having monitoring-influxdb-grafana in prod by default anyway, but of course I cannot make decision by myself here. cc/ @brendandburns @vishh @bgrant0607 @thockin

We did poor job on supporting this, and we don't have much control on it too. Most of our users use different backend storage and monitoring tool. This one now only adds burden to us.

[2016-01-27 23:28] philips commented on #17440
I read through the UAA docs and it seems like the overall proposal is for the API to hold on to sessions? But, it doesn't use cookie headers. Why not just use cookies?

[2016-01-27 23:31] erictune commented on #19780
@lavalamp told me that my suggestion is quite hard to implement in practice without bugs that introduce a cumulative error.  So, I retract my suggestion above.

[2016-01-27 23:32] liggitt commented on #17440
Cookies against an API are dangerous. That requires adding CSRF prevention to the API, which then means non-browser API clients have to jump through hoops.

[2016-01-27 23:40] lavalamp commented on #19161
Let's have this discussion here: #18174

[2016-01-27 23:42] lavalamp commented on #18174
@thockin are you arguing that only kubelet needs to have this logic? How would kube-proxy talk to apiserver? It can't use the service IP...

[2016-01-27 23:44] yujuhong commented on #20230
FYI, #20248

[2016-01-27 23:45] vishh commented on #20230
+1 for not running InfluxDB + Grafana by default moving forward. We have a
few monitoring vendors that have integrated with k8s very well. We can move
the InfluxDB+Grafana support to contrib maybe?
Heapster is still required for the cluster and it can be tested as a
standalone entity.

On Wed, Jan 27, 2016 at 3:29 PM, Dawn Chen <notifications@github.com> wrote:

[2016-01-27 23:46] lavalamp commented on #20136
I see, thanks!

On Wed, Jan 27, 2016 at 1:03 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-27 23:47] lavalamp commented on #19309
Yes, please. Thank you!

On Wed, Jan 27, 2016 at 12:42 AM, TonyAdo <notifications@github.com> wrote:

[2016-01-27 23:47] yujuhong commented on #20224
Failed again: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gke-ci/10466/

[2016-01-27 23:48] ihmccreery opened #20250 "Make our Reboot tests more specific"
Our "Reboot" tests have been causing us a lot of pain recently, but have been uncovering important issues.

In talking with @dchen1107 today, it seems like we need to write more specific reboot tests to catch a variety of underlying issues with the node and various startup and shutdown troubles.

@dchen1107 Can you provide some thoughts on how we might make these tests better or more useful?

[2016-01-27 23:49] bgrant0607 commented on #20230
I like the idea of moving InfluxDB+Grafana to contrib.

[2016-01-27 23:50] ihmccreery commented on #20230
@vishh Please file a bug on removing InfluxDB + Grafana?  These tests seem to have healed with the Heapster fix, so I'm going to close this.

[2016-01-27 23:50] #20230 closed

[2016-01-27 23:53] thockin opened #20251 "Kubelet doesn't detect changes in hostNetwork properly"
dockertools/manager.go: podIfraContainerChanged() checks if the pod is asking for hostNetwork and Docker is not currently using it, but not the other way around.

[2016-01-27 23:58] dchen1107 commented on #20230
I filed  #20247 aleady.

[2016-01-28 00:01] mikedanese commented on #18513
dup of #16055

[2016-01-28 00:01] #18513 closed

[2016-01-28 00:01] mikedanese commented on #18239
dup of #16055

[2016-01-28 00:01] #18239 closed

[2016-01-28 00:03] thockin commented on #18174
I am saying that IF we want to make kube-proxy a daemonset (@mikedanese)
THEN kubelet can not depend on the VIP provided by kube-proxy.

On Wed, Jan 27, 2016 at 3:42 PM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-28 00:11] bgrant0607 commented on #11492
A parameterization solution from the community:
http://code.haleby.se/2015/11/20/simple-templating-engine-in-bash/

[2016-01-28 00:13] yujuhong commented on #20250
Some random thoughts:
 - Validate that the cluster is healthy (nodes/pods are ready) *before* the test and *fail the test immediately* if cluster is unhealthy. Right now even if one node fails, the test'd go ahead and test other nodes.
 - Handle the logging messages better. The interleaved messages from different nodes makes triaging very difficult
 - Perform sanity checks after the reboot, .e.g,

[2016-01-28 00:18] bgrant0607 commented on #18622
Ref #8190

[2016-01-28 00:19] spxtr commented on #18210
And again today: gs://kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/15053

In the last 20 days this has failed ~9 times in that suite, only counting runs where only a few tests failed. 0.8% fail rate.

[2016-01-28 00:19] bgrant0607 commented on #18622
I agree that pluralization is annoying as heck.

[2016-01-28 00:19] bgrant0607 commented on #18623
cc @ghodss

[2016-01-28 02:52] bgrant0607 commented on #18174
We can't assume that external clients do client-side load balancing, so we'll need some kind of server-side load balancing. However even if we put a reverse proxy in front of apiserver, we want the reverse proxy to be HA.

And I do want to run kube-proxy via DaemonSet.

A routable VIP / Anycast could be used, in networks that support that. But not all do.

An external rendezvous point could be use

[2016-01-28 03:01] tobad357 opened #20255 "Job being constanly recreated despite RestartPolicy: Never"
I have a job with the spec as shown below.
During testing we are forcing a non zero exit code and would expect the job to not be recreated.
However the Job controller keeps on creating new pods again and again while I would expect after reading the docs that it would run it once and if it fails it fails.
Are our assumptions incorrect and if they are is there someway we can run an image on the K8S

[2016-01-28 04:07] smarterclayton commented on #19902
As a stop gap to a future client enhancement to accept read horizons, this seems ok to me.

[2016-01-28 04:28] smarterclayton opened #20256 "Kubelet doesn't send proper HTTP error code on container logging errors"
https://github.com/kubernetes/kubernetes/blob/458eb5284abd6933c620ba8ea383032f225e0885/pkg/kubelet/server/server.go#L443

Because this code writes a 200 OK first, the second write (of 500) does not reset the header.  As a result, Kubelet returns a 200 OK on error instead of 500 internal error on logs.  Because apiserver doesn't expect a 500 back (no code up until now has had to deal with it), it's

[2016-01-28 05:21] smarterclayton commented on #19873
Interleaving logs like this can be problematic.  This opens up one connection to each node for each logs.  Are we sure we are ready to support this?

[2016-01-28 05:23] smarterclayton commented on #4526
Fixing this.

[2016-01-28 05:26] mqliang opened #20259 "Sync pods with store before starting controllers"
copy from https://github.com/kubernetes/kubernetes/pull/19043

the framework of controller(`Informer`) works as follows(use ReplicationManager ads example):

2) When restart, Informer first list all pods, and add them to `DeltaFIFO`
3) A Process routine pop pod one by one from `DeltaFIFO` and sync it to `podStore`, and call `ResourceEventHandlerFuncs`.
4) `ResourceEventHandlerFuncs` will list all

[2016-01-28 05:26] mqliang commented on #20259
@smarterclayton @lavalamp

[2016-01-28 05:31] mqliang commented on #20259
I vote for solution 3). Ff there are no better solution.

[2016-01-28 05:34] ramonrue commented on #18174
Just for my personal understanding, why is using the service IP in the kube proxy so wrong?

And if I understood correctly, you want to make the bootstrap like coreos / etcd2 with the discovery tokens?

[2016-01-28 05:51] madhavij commented on #20086
While doing the complete process of installing kubernetes on MacOs using this github repo

and when we try  to run the kubectl binary to get the nodes of the cluster we get the error that says:

Could not read version from the server :get http://<ip>:8080/api dial tcp <ip>:8080 i/o timeout

If you could help out on this

[2016-01-28 06:23] piosz commented on #20231
@yujuhong thanks for the investigation.

[2016-01-28 06:27] thockin commented on #19754
On Wed, Jan 27, 2016 at 4:04 AM, Paulo Pires <notifications@github.com> wrote:

Well aware.  We can't do any better than the cloud provider on this front.

[2016-01-28 06:32] thockin commented on #19033
@smarterclayton I don't know what to do with that.  I don't think that
usage pattern is particularly mainstream.

On Tue, Jan 26, 2016 at 6:28 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-28 06:43] thockin commented on #19854
So say we all.  Now someone needs to implement that.  Updating this bug topic.

[2016-01-28 06:45] thockin commented on #19854
This is a good one for someone from community to jump in on.  Should be pretty simple.

[2016-01-28 06:49] thockin commented on #20200
Alternatively, make a new ConfigMap and do a controlled rollingupdate of
your Pods to a new pod template

On Wed, Jan 27, 2016 at 8:39 AM, Rudi C <notifications@github.com> wrote:

[2016-01-28 06:50] thockin commented on #18455
@pmorie

On Wed, Jan 27, 2016 at 8:23 AM, Rudi C <notifications@github.com> wrote:

[2016-01-28 07:01] thockin commented on #20101
I agree with Brian.  The docs coming out as "The ConfigMap to select from"
[sic] is way better than "The object to select from".

Even LocalObjectRef is very generic

On Tue, Jan 26, 2016 at 11:25 AM, Brian Grant <notifications@github.com>
wrote:

[2016-01-28 07:15] bgrant0607 commented on #15493
@jackgr What is the mismatch here? If it is just resourceVersion, kubectl should retry. It should only bail on a meaningful conflict.

We're working on eliminating flaky tests (and flaky parts of the system).

Also, that log message isn't very useful.

[2016-01-28 07:18] bgrant0607 commented on #17189
This was fixed in December AFAICT. All the links work now.
cc @caesarxuchao

[2016-01-28 07:18] #17189 closed

[2016-01-28 07:19] yifan-gu commented on #20242
@timothysc Thanks for reporting.
/cc @ericchiang

[2016-01-28 07:19] bgrant0607 commented on #17258
@WeixuZhuang Are you still working on this?

[2016-01-28 07:24] bgrant0607 commented on #15584
cc @brendandburns

[2016-01-28 07:28] bgrant0607 commented on #15826
We already have termination message. I originally imagined that a postStop hook could copy the tail of the log into the termination message file. But we still don't have postStop hooks, sadly.
cc @kubernetes/goog-node

[2016-01-28 07:32] bgrant0607 commented on #15834
I'd be ok with this being implemented via the field selector.

[2016-01-28 07:34] bgrant0607 commented on #15924
Closing as dupe of #10294

[2016-01-28 07:34] #15924 closed

[2016-01-28 07:35] thockin commented on #19367
SGTM.  Still need to decide if we allow opt-{in,out} for live updates of
volume-projected secrets,configs,dapi

On Tue, Jan 26, 2016 at 11:07 AM, Andy Goldstein <notifications@github.com>
wrote:

[2016-01-28 07:37] bgrant0607 commented on #16085
@feihujiang Does #19361 address your problem?

[2016-01-28 07:40] bgrant0607 commented on #16108
We shouldn't check in generated files.

[2016-01-28 07:40] zwxzwx18 commented on #17258
I have already finished the code and it has been merged. Any question?

[2016-01-28 07:46] bgrant0607 commented on #16927
Looks like this was fixed.

[2016-01-28 07:46] #16927 closed

[2016-01-28 07:48] ericchiang commented on #20242
Maybe something to do with these test's use of `os.TempDir` [here](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authenticator/token/oidc/oidc_test.go#L295-L299)?

Wasn't able to replicate timeouts like in the pasted code, but need to tweak the tests before running `stress`.

[code]

[code]

[code]

[2016-01-28 07:48] bgrant0607 commented on #16949
Related: #3481

[2016-01-28 07:51] bgrant0607 commented on #17144
Describe actually matches by prefix. #10674
We could do something similar for other commands.
But labels could also be used for this.

[2016-01-28 07:52] bgrant0607 commented on #17340
Appears to have been fixed by #14087

[2016-01-28 07:52] #17340 closed

[2016-01-28 07:54] bgrant0607 commented on #17448
We should have a munger automatically keep these links up to date.

[2016-01-28 07:57] bgrant0607 commented on #17460
At minimum, we could use some documentation about what this means.

[2016-01-28 08:13] glerchundi commented on #20217
@liggitt just to finish this up, how should I revert my failing cluster back to a state where I can connect to the master within Pod and do not have rsa errors y the api-server? ;)

In short, how should I proceed deleting service-account tokens manually in case I change api-server certs, for example, due to a renewal process?

[2016-01-28 08:25] saad-ali opened #20262 "Detailed Design for Volume Attach/Detach Controller"
# Objective
* Make volume attachment and detachment independent of any single nodes’ availability
  * If a node or kubelet goes down, the volumes attached to that node should be detached so that they are free to be attached to other nodes.
* Secure Cloud Provider Credentials
  * Because each kubelet is responsible for triggering attach/detach logic, every node currently needs (often broad) permiss

[2016-01-28 08:28] saad-ali commented on #15524
Here is the detailed design doc for the design we are currently implementing: https://github.com/kubernetes/kubernetes/issues/20262. This will not make it into v1.2 but should be in v1.3.

[2016-01-28 09:07] davidopp opened #20263 "Kubelet should enforce maxPods"
Was there some reason #5547 only added the checking to the scheduler, not Kubelet?

@gmarek

[2016-01-28 09:50] AdoHe commented on #19639
@jackgr if you have make sure about this, please let me know. Thanks :)

[2016-01-28 10:06] soltysh commented on #20199
I'd rather see this as yet another ResourceQuota item an admin could restrict along with cpu and memory rather than having separate max value for ADS.

[2016-01-28 10:12] soltysh opened #20265 "Deprecate specifing resources with space"
Currently when asking for a resource you can do either: `kubectl get pod nginx` or `kubectl get pod/nginx`. The latter syntax is broadly applied and more readable, whereas the former has some drawbacks I've raised in https://github.com/openshift/origin/issues/5685. Given the fact there's a lot of work on api grouping (#20120 and others not mentioned here) I'm proposing to deprecate providing resou

[2016-01-28 10:22] soltysh commented on #20255
This is by design, see [here](https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/jobs.md#handling-pod-and-container-failures). Generally speaking the restart policy is applied to a pod not to a job, as you might understood initially. k8s role is to actually run a pod to successful completion, it cannot judge based on the exit code whether that failure was expected and should re-r

[2016-01-28 10:26] soltysh commented on #19873
/sub

[2016-01-28 10:33] soltysh commented on #19859
Job was done here: https://github.com/kubernetes/kubernetes/pull/14575
DaemonSet is here: https://github.com/kubernetes/kubernetes/pull/19510
ReplicationController stays as is.
Once DS is merged we can close this issue.

[2016-01-28 10:34] tobad357 commented on #20255
Ah ok, thanks then I understand. So while waiting for deployment hooks I could run a pod instead of a job with RestartPolicy Never

Out of interest is it also be design that the JobController creates a never ending stream of Pods which end up in Error state if the Job continues to Error out?
I now took 3-4 min (inc a small timeout) to delete the Job as I had forgotten that it was created and it co

[2016-01-28 10:52] soltysh commented on #20255
1: Yes.

2: The JobController is written in such way it'll try to reach completions.

[2016-01-28 11:33] imesh commented on #16906
Thanks @cdpb!

[2016-01-28 12:23] nawazdhandala commented on #18975
I have the same problem. However rebooting the instance and waiting for it to settle fixes this temporarily (and it does failsafter few hours).

[2016-01-28 12:53] deads2k commented on #20265
I would be happy to see the space based syntax removed.

[2016-01-28 12:53] drngsl opened #20266 "Kubernetes uses Openstack cloud provider, but X509 ERROR occurs"
Hi!
(1)cloud-config for kubelet
/etc/cloud.conf
[Global]
auth-url=https://identity.hybrid.cloud.dt.com:443/identity/v2.0
username=admin
#user-id=ccb1020e9b9e47bd98c4df38cd426590
password=******
region=RegionOne1
tenant-id=a1fa87b6b770496e929685fd5f1e0e18

(2)restart kubelet service with cmd
kubelet --cloud-provider=openstack --cloud-config=/etc/cloud.conf --v=5

(3)Just two logs are printed like f

[2016-01-28 13:09] tsn77130 commented on #8441
Same problem for me, since I am in v1.1.
Before, it worked well.
For now, I have to add --cascade=false when deleting a RC .

but for rolling update, I can't add this option and deleting old RC fails

[2016-01-28 13:19] fgrzadkowski opened #20268 "e2e failure: Kubectl client Simple pod should support port-forward"
Flaked two times in a row recently (builds #10565 and #10562 in e2e-gce)

@kubernetes/goog-ux

[2016-01-28 13:20] fgrzadkowski commented on #20224
And again:

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10565/

Bumping priority to P0

[2016-01-28 14:03] gmarek commented on #20263
IIRC it was written at the time when we stated adding checking in Kubelet. In other words - no reason.

[2016-01-28 14:06] samueltauil commented on #19231
I'm having the same issue here: http://pastebin.com/ENFtqL2G

[2016-01-28 14:10] gmarek commented on #20012
@timothysc - you want to run something like https://github.com/kubernetes/kubernetes/blob/master/test/e2e/resource_usage_gatherer.go on a test filling single Node?

[2016-01-28 14:25] pmorie commented on #18455
@therc updated, thanks for noticing that!

[2016-01-28 14:36] pmorie commented on #17680
@kubernetes/rh-storage

[2016-01-28 14:41] smarterclayton commented on #19033
I'll flip it around to what we get asked for - a more flexible
registry that can mix and match images from multiple external sources
and then expose them to the cluster with homogenous access control,
the ability to keep enough metadata to make image policy decisions on
the cluster (this image failed virus scan, therefore don't let it
run), and the ability to unify multiple clusters with a single

[2016-01-28 14:56] deads2k commented on #18288
Looks like it was broken: https://github.com/kubernetes/kubernetes/pull/20226

[2016-01-28 14:57] tback opened #20270 "Ingress: Majority of faulty pods will take all backends offline"
It seems that a majority of faulty backends will mark all backends as offline while there still healthy pods left. I'd expect the loadbalancer to work as long as a single healthy pod is left.

My example is located here:

https://github.com/tback/k8s-lbtest

(I know that something is fundamentally wrong if the majority of backends is faulty, but taking all backends offline in that case feels like

[2016-01-28 14:59] smarterclayton commented on #20265
We can stop introducing it in new places, but it's going to a long
time before we can remove it.  I would be hard pressed to justify
making out most common cli invocations suddenly stop working for end
users.

[2016-01-28 15:21] timothysc commented on #20012
@gmarek not exactly, we want the system profile of the daemons themselves not the containers.

We do this in a separate experiment using pbench: https://github.com/distributed-system-analysis/pbench on our side.

[2016-01-28 15:26] timothysc commented on #20242
repro on f23 w/go1.5.3 is 100%

[2016-01-28 15:46] timothysc commented on #19660
I believe https://github.com/kubernetes/kubernetes/issues/19801 is related.

[2016-01-28 16:15] matthewdupre commented on #19983
@thockin when is the code freeze for 1.2 going to be?

[2016-01-28 16:35] fgrzadkowski commented on #20011
@hongchaodeng Does it mean we can close this issuse?

[2016-01-28 16:35] hsaputra commented on #15577
This is also happen in Ubuntu 15.10

[2016-01-28 16:42] liggitt commented on #13153
Actually closing

[2016-01-28 16:42] #13153 closed

[2016-01-28 16:42] liggitt commented on #13794
This has gotten worse with the API group discovery... there are multiple version negotiation calls run now with every invocation

[2016-01-28 16:49] ihmccreery opened #20272 "Initial Resources e2es are broken"
According to @piosz, the "Initial Resources" e2e tests are broken (>50% flaky) and should be fixed.

@piosz for priority.

[2016-01-28 16:54] hongchaodeng commented on #20011
@fgrzadkowski
Yes. I confirm it's fixed now.

[2016-01-28 17:01] ihmccreery commented on #19544
Fixed in #20182.

[2016-01-28 17:01] #19544 closed

[2016-01-28 17:01] ihmccreery commented on #19548
Closing in favor of #19542.

[2016-01-28 17:01] #19548 closed

[2016-01-28 17:09] dchen1107 commented on #20224
One more instance: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/10476/

[2016-01-28 17:10] heapifyman commented on #15577
And on Arch Linux but instead of
```getpt failed: No such file or directory```
I get
```getpt failed: access denied```.

[2016-01-28 17:10] dchen1107 commented on #19953
Failed again: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-subnet/1647/

[2016-01-28 17:18] bprashanth commented on #17144
I was thinking specifically of kubectl logs

[2016-01-28 17:32] ericchiang commented on #20242
@timothysc by f23 you mean fedora 23? Odd, that's what I'm using.

I'll try to parse the stack trace and figure out what's going on.

[2016-01-28 17:32] piosz commented on #20272
This is en experimental feature, so there is no high priority right now.

[2016-01-28 17:49] aveshagarwal commented on #20224
I have not looked into depth, but it seems that based on the logs after STEP: restricting to a time range
It seems like that Expect(recent).To(BeNumerically("<", older)) should have <= not < as it may be possible that logs are same for whatever reason.

[2016-01-28 17:51] yifan-gu commented on #20242
@timothysc What's the command you use to run the test?

[2016-01-28 17:58] cjcullen commented on #19231
@samueltauil Your's is a slightly different, but related problem. Right now, we default to a 5 minute streaming-conneciton-idle-timeout in kubelet. I sent out #18552 to address that, but I'll probably just end up rolling it in with #19314.

[2016-01-28 17:59] timothysc commented on #20242
@yifan-gu ```make test```

[2016-01-28 18:02] fgrzadkowski commented on #20011
Great! Thank you!

[2016-01-28 18:02] #20011 closed

[2016-01-28 18:06] lavalamp commented on #19435
Looks like this happened again. @mml, any further ideas?

[2016-01-28 18:07] smarterclayton commented on #19902
We think we may be seeing this in a customer environment with a large cluster, where monitorNodeStatus() gets the List of nodes and doesn't get all of them.  That raises the concern of why monitorNodeStatus isn't using a cache store and list watcher (which is going to have the same behavior, except it will now start seeing its own watch events, but practically that's not a real issue).  The node c

[2016-01-28 18:07] dchen1107 commented on #18969
Ok, did a little bit data processing for recent failure mentioned by @brendandburns above:

Sort and count elements (hostnames) after merging two strings in build.log: "01:27:37 NODE_NAMES=..." and output of kubectl get nodes, found
...
      2 e2e-scalability-minion-w1hw
      2 e2e-scalability-minion-w1st
      2 e2e-scalability-minion-w3hp
      1 e2e-scalability-minion-w5r2

[2016-01-28 18:07] spxtr commented on #19180
gs://kubernetes-jenkins/logs/kubernetes-e2e-gce-parallel/15092

[code]

[2016-01-28 18:14] spxtr commented on #20268
Similarly in e2e-gke-ci 10474 earlier today.

[2016-01-28 18:21] ericchiang commented on #20242
These pass for me when running through the Makefile.

[code]

Logs of a full `make test` [here](https://gist.github.com/ericchiang/72077d8c7df2a48cf4a8#file-k8s_test-txt-L557)

[2016-01-28 18:23] fgrzadkowski commented on #18969
Isn't it that we wait for MIG to actually start all VMs before we do any kube-level verification?

https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/util.sh#L739

[2016-01-28 18:29] timothysc commented on #20242
@ericchiang - what version of golang are you running?

[2016-01-28 18:32] ericchiang commented on #20242
@timothysc sorry should have specified that

[code]

[2016-01-28 18:33] thockin commented on #18210
@bprashanth this is now assigned to you - plans for a fix?

[2016-01-28 18:35] thockin commented on #13515
When we kube-down a cluster, how careful are we to tear down managed objects like LBs?  Where is that happening?

[2016-01-28 18:35] bprashanth commented on #18210
https://github.com/kubernetes/kubernetes/pull/20238 for review

[2016-01-28 18:36] jackgr commented on #15493
@bgrant0607 per discussion on #16543, we can't determine the correct behavior when the resource version changes without more information, so best to catch version mismatch at the client and bail, and let the user replace the object with --force if they want. We can also make the error message less verbose.

[2016-01-28 18:36] thockin commented on #20026
Dup of #20026

[2016-01-28 18:36] #20026 closed

[2016-01-28 18:37] thockin commented on #20027
Dup of #20028

[2016-01-28 18:37] #20027 closed

[2016-01-28 18:38] sa-mao commented on #20088
The fix doesn't work try to update the files
cluster/vagrant/provision-minion.sh
cluster/vagrant/provision-master.sh
replace that
[code]
with that
[code]

[2016-01-28 18:39] thockin commented on #19953
IIUC, the FIX is O(hard).  Is there a short term mitigation?

[2016-01-28 18:40] lavalamp commented on #20224
No, it looks to me like either it's flaky because of the sleep, or it's a legit system problem. I'll take a look.

[2016-01-28 18:41] samueltauil commented on #19231
@cjcullen any changes that could be defined as a parameter ?

[2016-01-28 18:44] davidopp commented on #20011
+1 -- thanks a lot!

[2016-01-28 18:46] roberthbailey commented on #13515
kube-down doesn't tear down any of the managed objects. Each e2e test is supposed to clean up after itself. I imagine that if a test gets stopped abruptly (e.g. it goes past the jenkins timeout and jenkins pulls the rug out from underneath it), then we are likely to leak managed objects that were being used in the test that was running.

@cjcullen

[2016-01-28 18:48] dchen1107 commented on #18969
The initial version I created for kube-level verification did make sure the node is up. But after switching MIG, and introducing config-vm.sh, I don't think we did that. At least I didn't see it from our scripts. Maybe MIG will report failure itself, and I am not aware it?

[2016-01-28 18:50] aveshagarwal commented on #20224
It is possible because based on the logs, kubectl logs with 1s  executed around (Jan 26 22:04:22.895/Jan 26 22:04:22.946) seems to be picking up logs that are older than 1s:
Jan 26 22:04:22.946: INFO: stdout: "1:C 27 Jan 06:04:21.083 are being shown with kubectl logs

Yes manipulating sleep or changing < to <=  would be a work around.

[2016-01-28 18:53] lavalamp commented on #20224
No! I'm pretty sure this is a legit kubelet bug. Might as well remove the test if we're going to do that! :)

Trying to prove it, though. Stand by...

[2016-01-28 18:58] lavalamp commented on #20224
(test time) Jan 28 07:49:07.065 - pod running
(test time) Jan 28 07:49:07.118 - first log result returned
(kubelet time) 28 Jan 15:49:07.047 - timestamp from first log return
(test time) Jan 28 07:49:08.772 - when we request --since=1s
Same log is returned, not filtered at all.

Same log is returned. The logic actually seems good. Time should advance at the same rate on both kubelet and test machi

[2016-01-28 19:03] cjcullen commented on #19231
Yeah. If you want to pass something higher than 5 minutes (or unlimited) into your kubelets, you can specify the `streaming-connection-idle-timeout`. E.g.
`--streaming-connection-idle-timeout=4h` to set it to 4 hours. Or:
`--streaming-connection-idle-timeout=0` to make it unlimited.

[2016-01-28 19:13] krousey commented on #18809
My logging PR is waiting to be merged. In the mean time, I've been running it locally in the kubekins docker image 100 at a time. After 17700 runs, no timeouts, so no useful logs yet.

[2016-01-28 19:15] bprashanth commented on #20268
Hmm, is this the whole ipv6 vs ipv4 thing again? @ncdc

[2016-01-28 19:16] lavalamp commented on #20224
Kubelet logs:

[code]

[2016-01-28 19:18] ncdc commented on #20268
I'm hoping "no". Here's more data:

[code]

[2016-01-28 19:20] guoshimin opened #20280 "Kubelet errs out when AWS node has no public IP address"
I'm trying out v1.2.0-alpha.6. I got `Unable to construct api.Node object for kubelet: failed to get node address from cloud provider: UnknownError: unknown error` in the kubelet log and the node fails to join the cluster. There are two things wrong:

- The error message needs to be better
- It shouldn't be a requirement for nodes to have public IP addresses

The relevant commit: https://github.co

[2016-01-28 19:25] ncdc commented on #20268
Definitely not the same ipv6 vs ipv4 issue from a few months ago. This is in the kubelet log:

[code]

[2016-01-28 19:27] ihmccreery commented on #20097
With @brendandburns' munger, I'm knocking this down to P1.

[2016-01-28 19:30] lavalamp commented on #20224
Here's the kubelet code that handles since:

https://github.com/kubernetes/kubernetes/blob/8e1ca68760b389e1dd73895475fe360623a5180e/pkg/kubelet/dockertools/manager.go#L273

[2016-01-28 19:31] ncdc commented on #20268
I'm leaning toward this not being a kubectl bug. Because the call to socat returned 1, I'm wondering if something went wrong with the command line invocation of socat. I don't have anything definitive yet, but that's my guess. Unfortunately there's no logging of the args, or of the stderr output from socat, so there's not much to go on. We could try adding those 2 things to help with debugging.

[2016-01-28 19:40] lavalamp commented on #20224
The function "now" returns the current local time. I'm reluctant to say this is a UTC/local time problem, because wouldn't that make the test either always fail (or falsely pass)?

[2016-01-28 19:42] ihmccreery commented on #20047
For what it's worth, the current workaround is to comment-out the `HYPERKUBE ... make` line in the `release/cut-official-release.sh` script before trying to release off of 1.1.

[2016-01-28 19:43] lavalamp commented on #20268
@ncdc Do you have time to add that logging?

[2016-01-28 19:45] bgrant0607 commented on #20268
Test case:
[code]

So the call to curl() apparently returned an error.

[2016-01-28 19:47] ncdc commented on #20268
@lavalamp @bgrant0607 yes I will add the logging now

[2016-01-28 19:47] lavalamp commented on #20268
Thanks, Andy!

[2016-01-28 19:49] lavalamp commented on #20224
Assuming that's not the problem, but if not it looks like we just delegate to docker.

[2016-01-28 19:51] bprashanth commented on #20268
yeah it appears to have returned an error because the socat we run in the container on the node to forward ports failed (or something in that pipeline between the kubelet and the container, as you also have noted with the exit 1 log line), thanks for volunteering for adding logs. Fyi V(4) should show up in test logs, though I'm not sure about gke logs which is where the latest failure seems to hav

[2016-01-28 19:53] lavalamp commented on #20224
I will see if I can repro.

[2016-01-28 19:54] bgrant0607 commented on #3683
cc @quinton-hoole

[2016-01-28 19:58] bgrant0607 commented on #3683
This is "Ubernetes clickstop 2".

[2016-01-28 20:05] bgrant0607 commented on #18023
I like this idea, but we should move preferences out of kubeconfig before we add any more. #10693

[2016-01-28 20:05] quinton-hoole commented on #3683
@erictune One way to achieve what you're after is documented in docs/design/federated-services.md in PR #19313.

In summary, user creates a single federated service, which creates the global load balancer you're after, as well as the local services in each cluster.

I don't think that I detailed the health checking proposal there, but I've thought about it and discussed it with a few people and I

[2016-01-28 20:06] bgrant0607 commented on #18023
Would also like user-defined aliases for resources (pods, etc.), which could replace the hardcoded short names.

[2016-01-28 20:06] bgrant0607 commented on #18023
cc @erictune

[2016-01-28 20:07] bgrant0607 commented on #11210
Closing in favor of #18023

[2016-01-28 20:07] #11210 closed

[2016-01-28 20:07] bgrant0607 commented on #18023
This could be a mechanism used to provide a list alias: #11210

[2016-01-28 20:10] bgrant0607 commented on #10693
It's a no-brainer to split out preferences, IMO. If there are no objections, I'd like to do that, at least. At this point, we have several ideas for preferences we'd like to add, but I don't want to add them to kubeconfig.

[2016-01-28 20:18] timothysc commented on #18099
This stem'd as a desired thing to do given the plethora of magic numbers, but given other constraints, we never had it prioritized.

/cc @spiffxp @countspongebob

[2016-01-28 20:40] piosz commented on #18528
It turned out that HPA should be moved out from `extensions` API group (there is no support for multiple versions within the same API group). Additionally there is no clear way how to support cross-group conversions (@lavalamp correct me If I'm wrong). So that to easiest way here is to move HPA related object to `autoscaling/v1` directory and drop support for `extensions/v1beta1`.

@deads2k @liggi

[2016-01-28 20:46] ncdc commented on #18528
@piosz you want to delete HPA from extensions/v1beta1 entirely?

[2016-01-28 20:47] lavalamp commented on #18528
@piosz Like I said in my email--

I think to change groups with conversions, you'd first copy the old object into newgroup/v1beta1, then make the new object in newgroup/v1, provide conversion functions, and then make the registry code and the URL paths for the two different groups under the hood go to the same registry. That last bit is explicitly allowed but I don't have a recent example-- minion

[2016-01-28 20:48] pmorie commented on #20028
@fabioy I'm not certain from looking at #20111 that it would help -- it's a NOP transformation as far as the code in question is concerned, unless I'm missing something.

I will try to reproduce this one independently.

[2016-01-28 20:48] liggitt commented on #18528
What specifically do we lack support for... as far as I know, conversion, registration, and routing all can support this. We supported multiple versions in the legacy group prior to dropping v1beta3... we support multiple versions in some utility groups like the abac policy file serialization format.

Yes, I would be very sad. I would expect to be able to convert across API groups and keep the old

[2016-01-28 20:52] lavalamp commented on #18528
What we don't have support for is moving *only one* of the resources into the next version. We have a rule that a client need only know about one version of any group.

Anyway, we don't want an extensions/v1 group at all, extensions is just a holding ground until we find the right groups.

[2016-01-28 20:53] jdef opened #20285 "rebuild kube-ui image to generate v5"
interested in picking up a change that was recently merged: https://github.com/kubernetes/kube-ui/pull/48

xref https://github.com/mesosphere/kubernetes-mesos/issues/712

[2016-01-28 20:53] piosz commented on #18528
@liggitt @lavalamp you are right. There must be some deprecation period.

[2016-01-28 21:00] loshkovskyi commented on #20146
In Ubuntu 14.04 they use Upstart. Try these commands:
[code]
I was able to reproduce this runtime error and debugging it now.

[2016-01-28 21:04] lavalamp commented on #18528
So I think what you need to do is:

1. Make the autoscaling group.
2. Copy the v1beta1 object into it verbatim.
3. Configure the registry code to expose the same object under both the extensions/v1beta1 and autoscaling/v1beta1 path, adjusting the type and kind as necessary. @nikhiljindal may be able to help.
  1. The old handler needs to start using the correct storage group/version!
4. Add the v1

[2016-01-28 21:08] ncdc commented on #18528
@lavalamp that makes me feel much less concerned. I need to talk about @smarterclayton to see how long we need to keep around support for extensions/v1beta1 in OpenShift.

[2016-01-28 21:09] piosz commented on #18528
@lavalamp thanks for explanation!

@deads2k @liggitt @ncdc apologies for the confusion. I misunderstood what Daniel explained me previously.

[2016-01-28 21:17] mml opened #20287 "kubectl log --since e2e test is hard to debug"
I noticed this flake by looking at the submit queue.  The test is simple, but when it fails, we have no good way to debug it.

[code]

Below is the test in question.  When the test fails, we should print the lines we got in each case.

[code]

[2016-01-28 21:21] ncdc commented on #19466
I have been able to reproduce this locally (hooray!) so I can hopefully determine the root cause soon.

[2016-01-28 21:26] fabioy commented on #20028
#20111 may help reduce flakiness if it's a "/tmp" dir runs-out-of-space issue (since it gives each test a different tmp dir). But, it may not address the underlying problem, if something else is going on.

[2016-01-28 21:29] davidopp commented on #14541
Another example: for node drain, it's useful to divide pods into categories like "replicated" and "unreplicated" (or "protected from accidental drain" and "unprotected from accidental drain"). For example "kubectl drain" has a `--force` flag that means "drain the node even if it is running unreplicated pods" (without the flag, it will refuse to drain a node with unreplicated pods). We have so many

[2016-01-28 21:32] #20171 closed

[2016-01-28 21:33] bgrant0607 opened #20290 "Move MinReadySeconds out of RollingUpdateDeployment"
Discussed here:
https://github.com/kubernetes/kubernetes/pull/20241#issuecomment-176395063

cc @janetkuo @kargakis @ironcladlou

[2016-01-28 21:42] dhawal55 opened #20291 "--label-columns option not working when getting ingress"
```kubectl get ingress -L app_name```

The above command always displays ```app_name``` column as empty even though ingresses have label ```app_name```. The command works for ```svc, rc, & pods``` so i guess this is just missing in the extensions package.

[2016-01-28 21:44] bgrant0607 commented on #15493
@jackgr I don't see any mention of resourceVersion in #16543. It shouldn't be serialized in the annotation, because the user shouldn't specify it in their config. The resourceVersion-based precondition is intended to guard against concurrent read-modify-write operations. kubectl apply should be able retry the entire diff&patch in the case of this type of conflict.

That said, it's not obvious to m

[2016-01-28 21:50] MikeSpreitzer opened #20292 "cluster/ubuntu should be generalized beyond flannel"
The Doc for this suggests that it is not limited to Flannel, and I agree that this is essentially true.  The scripts should be generalized to actually support alternatives.  At least CNI plugins.

[2016-01-28 21:50] MikeSpreitzer commented on #20292
@banix

[2016-01-28 21:52] erictune opened #20293 "Shortening long api group names when typing into kubectl."
# Problem

Need short way to type long resource type names.  Need to handle not only long Kind name (e.g. `replicationController`, but also the length of new API group names (e.g. `batch` which is proposed in #20120), and third-party resource types (e.g. `networkstartup.io/firewall`).
# TL;DR

We want user-defined short resource names &mdash; like `po` for `pods`, but user defined.
They go into a

[2016-01-28 21:53] erictune commented on #20293
@caesarxuchao @deads2k Definitely want your thoughts on this.

@kubernetes/goog-csi may be interested.

@bgrant0607 we talked about this.

[2016-01-28 21:54] MikeSpreitzer commented on #17677
Where is the source for http://kubernetes.io/v1.1/gs-custom.html ?

[2016-01-28 22:02] bgrant0607 commented on #20176
cc @derekwaynecarr

[2016-01-28 22:09] bgrant0607 commented on #19873
Related: #8884, #20293

[2016-01-28 22:10] davidopp commented on #5754
@colemickens

[2016-01-28 22:11] smarterclayton commented on #19873
(note, I want this too, I just want to be sure we're ready to blow up the master)

[2016-01-28 22:13] bgrant0607 commented on #20265
The log command has been inconsistent with others for a long time: #8884, #8448

That's not a good reason to eliminate this syntax from all other commands. It's pretty convenient to be able to specify the resource type just once for many names, without commas or other punctuation. Also, we need to specify just the resource when using a label selector.

[2016-01-28 22:14] ixdy commented on #13485
Hoping this one is gone for good, but I'll track and see.

[2016-01-28 22:14] bgrant0607 commented on #8884
Related: https://github.com/openshift/origin/issues/5685

[2016-01-28 22:14] bgrant0607 commented on #8884
cc @soltysh

[2016-01-28 22:25] MikeSpreitzer commented on #18723
I have drafted a fix, see https://github.com/MikeSpreitzer/kubernetes/tree/issue/18723
Does that look right?

[2016-01-28 22:29] caesarxuchao commented on #20293
cc @janetkuo

[2016-01-28 22:31] bgrant0607 commented on #19805
Some clarifications:
* --prune would apply to annotated resources in the specified namespace
* we'll need a --cascade flag, as with delete, which should default to true
* we may want an option to ask for confirmation once the list of resources to delete is generated
* we may want to narrow the scope of apply (and prune) in the future, by label selector and/or by resource type

[2016-01-28 22:34] #20287 closed

[2016-01-28 22:37] lavalamp commented on #20293
I came here to say we shouldn't allow these in scripts, but it looks like you already got that.

[2016-01-28 22:42] jackgr commented on #15493
I'm sorry, my mistake. You're right that resourceVersion is not in the annotation, and that we should retry on resourceVersion failure.

I was confusing this with the api version change issue discussed in #16543. This is actually a much simpler issue, in the sense that it's an optimistic lock conflict.

If we encounter a lock conflict, then we should fetch a fresh copy of the object, and try again

[2016-01-28 23:02] vishh commented on #19720
FYI: rc2 has been released.

Linux 64bit binary: https://test.docker.com/builds/Linux/x86_64/docker-1.10.0-rc2
Linux 64bit tgz: https://test.docker.com/builds/Linux/x86_64/docker-1.10.0-rc2.tgz

https://github.com/docker/docker/issues?q=milestone:1.10.0+label:status/6-cherry-picked+is:closed

Any updates @Random-Liu ?

[2016-01-28 23:06] bgrant0607 commented on #17561
cc @lavalamp

[2016-01-28 23:11] bgrant0607 commented on #17612
Note that #11338 is still open.

[2016-01-28 23:11] bgrant0607 commented on #11338
See also #17612

[2016-01-28 23:12] yujuhong commented on #20224
I have a theory, but I didn't check thoroughly.

The `Since` field in the log options is UNIX timestamp (integer).
https://github.com/kubernetes/kubernetes/blob/8e1ca68760b389e1dd73895475fe360623a5180e/pkg/kubelet/dockertools/manager.go#L277
The test waits only for 1.5 second, and checks the logs usince sinceSecond=1. The granularity may be too fine for kubelet/docker to handle.

E.g., suppose the

[2016-01-28 23:12] thockin commented on #19762
I know it was spawned from something I said, but I haven't yet heard anyone ask for this.

[2016-01-28 23:15] dchen1107 commented on #19403
cc/ @erictune in case you are running into this issue.

[2016-01-28 23:16] lavalamp commented on #20224
Ah, a rounding problem. Yes, that makes total sense. We should sleep at least 2 seconds, therefore. I'll make a patch.

[2016-01-28 23:16] bgrant0607 commented on #17677
Looks like this was created directly in the gh-pages branch:
https://github.com/kubernetes/kubernetes/blob/gh-pages/_v1.1/gs-custom.md

[2016-01-28 23:17] bgrant0607 commented on #17677
@MikeSpreitzer A PR would be welcome to fix this.

[2016-01-28 23:18] lavalamp commented on #20224
Also if that's the case I should be able to repro.

[2016-01-28 23:24] bgrant0607 commented on #17707
See also #16010

[2016-01-28 23:25] lavalamp commented on #20224
I can't repro locally, but I think it's because of added latency due to my desktop not being located in GCE, unlike the production runs.

[2016-01-28 23:26] smarterclayton commented on #17561
Uh, I wasn't aware of any.  Inline should be easy to fix, it's just truly nested that is ugly.

[2016-01-28 23:28] pmorie commented on #19762
@thockin I don't think anyone wants it, and I don't think it's a great idea for us to do anymore either, shall I close?

[2016-01-28 23:31] Random-Liu commented on #19720
@vishh Thank you very much~

Now the main problem is that the option "-d" is completed [deprecated](https://github.com/docker/docker/blob/master/docs/deprecated.md#old-command-line-options) in docker 1.10, while our ContainerVM is still using it.

@dchen1107 is helping me solving this problem, after that I'll start a cluster and test it ASAP. :)

[2016-01-28 23:33] bgrant0607 commented on #17887
It's unlikely we'll update the 1.1 docs significantly at this point. Updates will be reflected in the 1.2 docs.

@resouer Neither the getting-started guide nor the cluster/ubuntu directory appears removed in HEAD:
https://github.com/kubernetes/kubernetes/tree/master/cluster/ubuntu

[2016-01-28 23:35] yujuhong commented on #19720
@Random-Liu, you can also make a one time change and run any non-reboot tests :-)

[2016-01-28 23:36] bgrant0607 commented on #17895
Maybe this is a result of the change to the v2 registry?
cc @brendandburns

[2016-01-28 23:39] bgrant0607 commented on #17903
Improved support for stateful applications is ongoing. Given that kubectl rolling-update isn't intended for such applications, I'm going to close this.

For now, if you don't want to lose data, I recommend using persistent volumes:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/persistent-volumes.md

[2016-01-28 23:39] #17903 closed

[2016-01-28 23:41] spxtr commented on #19953
kubernetes-e2e-gce #10571
https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/10571/

[2016-01-28 23:41] bgrant0607 commented on #17905
Related: #14541

[2016-01-28 23:42] lavalamp commented on #17561
It should be easy to repro in a unit test if this is the case, right?

[2016-01-28 23:45] saad-ali commented on #19953
Looking into it

[2016-01-28 23:46] bgrant0607 commented on #15666
Related: #16429

[2016-01-28 23:47] bgrant0607 commented on #17951
Closing as dupe of #15666. Will comment there.

[2016-01-28 23:47] #17951 closed

[2016-01-28 23:47] bgrant0607 commented on #15666
The best I can recommend for now is to look at the code:
https://github.com/kubernetes/kubernetes/blob/master/pkg/watch/watch.go

[2016-01-28 23:48] Random-Liu commented on #19720
@yujuhong Thanks, let me try it.

[2016-01-28 23:48] bgrant0607 commented on #16429
Removed documentation label. Documentation issue is #15666

[2016-01-28 23:52] krmayankk commented on #20168
I am using the go client in k8s , something like this and am testing against 1.1.3 release.

 config := client.Config{
        Host: "http://localhost:8080",
    }
    c, err :=client.NewExtensions(&config)
deployments := c.Deployments(ns)
deployment := new(extensions.Deployment)
newdeployment, err2 := deployments.Update(deployment)

Can you try the go client ?

[2016-01-28 23:53] mml commented on #18130
As @mikedanese said this is fixed at head.

[2016-01-28 23:53] #18130 closed

[2016-01-28 23:53] bgrant0607 commented on #17981
Quite a few people have made K8s run on Raspberry Pi:
http://blog.kubernetes.io/2015/11/creating-a-Raspberry-Pi-cluster-running-Kubernetes-the-shopping-list-Part-1.html
https://raspberrypicloud.wordpress.com/2015/08/11/how-to-kubernetes-multi-node-on-raspberry-pi-2s/
http://www.jinkit.com/k8s-on-rpi/
https://github.com/skippbox/k8sonpi
https://github.com/andrewpsuedonym/Kubernetes-Arm-Binaries

[2016-01-28 23:54] thockin commented on #16285
Somehow I lost this one.  Will look at it ASAP

On Thu, Jan 21, 2016 at 3:13 PM, Janet Kuo <notifications@github.com> wrote:

[2016-01-28 23:55] bgrant0607 commented on #18007
See also #13776

[2016-01-28 23:56] bgrant0607 commented on #18168
cc @johndmulhausen

[2016-01-28 23:57] bgrant0607 commented on #18180
Related to #6013.

My preference is Duration.

[2016-01-28 23:58] caesarxuchao commented on #20293
I think we should support both `Matching` and `Extensible short names`. And in kubectl , we should first expand the short name, and then do the matching, which is the current behavior of kubectl.

Regarding to the implementation,
* Matching:
Our current implementation picks the first group that has a match: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/restmapper.go#L560. We ca

[2016-01-28 23:59] bgrant0607 commented on #18180
BTW, @thockin I assumed this is about k8s component binaries. That will be irrelevant, anyway, once we switch to config, where I believe we are using Duration already.
cc @mikedanese

[2016-01-28 23:59] bgrant0607 commented on #18282
cc @derekwaynecarr

[2016-01-29 00:01] bgrant0607 commented on #18282
I agree it shouldn't expect to delete "protected" namespaces. I don't think it should touch kube-system or openshift-infra, either, for example. We may need a way to mark such namespaces in the API.

[2016-01-29 00:02] jlowdermilk commented on #19997
I can look at this.

[2016-01-29 00:03] mikedanese commented on #18180
Ya, and it's easy to do this with unversioned.Duration while we are still binding flags to the componentconfig objects. See:

https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/options/options.go#L132-L134

[2016-01-29 00:05] liggitt commented on #18282
A "write protect" annotation as proposed in https://github.com/kubernetes/kubernetes/pull/17740 that was honored as a (user overrideable, client side) hint would be a lightweight way to prevent fat fingers

[2016-01-29 00:06] bgrant0607 commented on #18064
It is not my intent to support every pod spec knob in run.

Please add kubectl run --edit instead, which would allow editing after generation but before creation.

I thought I had filed an issue for that, but couldn't find it.

[2016-01-29 00:08] bgrant0607 commented on #18363
cc @johndmulhausen

[2016-01-29 00:09] mml commented on #4583
I see #4765 added logging info.  Is there any useful way to access this info programmatically?  E.g., "why is pod foo pending right now?"

[2016-01-29 00:09] bgrant0607 commented on #18363
Good idea.

[2016-01-29 00:11] bgrant0607 commented on #18640
cc @jeffmendoza @amygdala

[2016-01-29 00:12] bgrant0607 commented on #20078
cc @janetkuo @deads2k @kargakis

[2016-01-29 00:13] bgrant0607 commented on #18659
Related: #8341

cc @caesarxuchao

[2016-01-29 00:16] bgrant0607 commented on #18920
cc @a-robinson

[2016-01-29 00:18] bgrant0607 commented on #18977
@cpg1111 What path are you posting to? The namespace must be specified in the path.

[2016-01-29 00:20] bgrant0607 commented on #18977
Related: #6439

[2016-01-29 00:20] bgrant0607 commented on #6439
Applies to namespace, also.

[2016-01-29 00:22] bgrant0607 commented on #6439
Related to this, we need a better way to communicate attributes to handlers in apiserver. Namespace is passed in context. The admission controller now gets a bundle of attributes. Query parameters are passed via specialized Go structs. Other metadata is assumed to be explicit in the resource body for most calls, but this is not always true, such as for subresources.

cc @lavalamp

[2016-01-29 00:23] bgrant0607 commented on #19039
cc @brendandburns

[2016-01-29 00:24] bgrant0607 commented on #19039
It doesn't look like sentinel.py was in the original PR.

[2016-01-29 00:26] thockin commented on #18180
Yeah, I'm fine leaving flags as-is and moving all time-related options to
duration.

On Thu, Jan 28, 2016 at 4:04 PM, Mike Danese <notifications@github.com>
wrote:

[2016-01-29 00:29] bgrant0607 commented on #19071
Ref #19114

cc @uluyol

[2016-01-29 00:30] bgrant0607 commented on #19071
cc @brendandburns

[2016-01-29 00:33] bgrant0607 commented on #19077
See also #19695

cc @vishh

[2016-01-29 00:35] bgrant0607 commented on #19219
Last updated by #18777, I believe.
cc @erictune

[2016-01-29 00:35] bgrant0607 commented on #19219
cc @deads2k

[2016-01-29 00:37] bgrant0607 commented on #19219
See also #20023

[2016-01-29 00:38] bgrant0607 commented on #19227
Ref #16087

[2016-01-29 00:39] bgrant0607 commented on #19227
And #18230

[2016-01-29 00:39] drngsl commented on #20146
@loshkovskyi, thanks.
But I can just get a little info.
And I have updated this version to v1.1.4, but some about x509 error raises.https://github.com/kubernetes/kubernetes/issues/20266
Can you have a look for me?
Thank you!

[2016-01-29 00:40] dchen1107 commented on #18969
We failed at https://github.com/kubernetes/kubernetes/blob/master/cluster/validate-cluster.sh#L62
But this script is used by production and other cloud providers. I definitely don't want to mess up validate_cluster.sh here.

Also there is no proper exit code indicate the detail failure reason. On script exit with code 2 could mean a lot of other reasons.

[2016-01-29 00:41] bgrant0607 commented on #19228
See also #19227, #16087

[2016-01-29 00:42] bgrant0607 commented on #19530
cc @lavalamp

[2016-01-29 00:43] bgrant0607 commented on #19561
@deads2k Is the relative-path behavior documented?

[2016-01-29 00:45] bgrant0607 commented on #19641
Dupe of #17887

[2016-01-29 00:45] #19641 closed

[2016-01-29 00:46] #19252 closed

[2016-01-29 00:47] #20224 closed

[2016-01-29 00:48] davidopp commented on #18969
@dchen1107 I didn't fully understand your response to Filip's question. The line he pointed to calls `gcloud compute instance-groups managed wait-until-stable` from `create-nodes()`. kube-up.sh doesn't do validate-cluster until after that. So how can we be calling validate-cluster before all 1000 nodes are up? Do you think one came up but then already failed before we validate cluster?

[2016-01-29 00:55] bgrant0607 commented on #19654
Services without selectors just don't use the selector. Endpoints are populated via a different mechanism. We've been discussing other ways to specify that (#18610), for multiple reasons. It is pretty obscure.

We don't expect users to read our code documentation, though. :-)

The meaning of nil vs. empty has come up in other contexts, though.

cc @davidopp

[2016-01-29 00:55] bgrant0607 commented on #19721
cc @caesarxuchao

[2016-01-29 00:59] dchen1107 commented on #18969
The point I had is that I am not sure about MIG signal on stable. Is that node up and finish run config-vm.sh, which does a lot of stuff on the node, including installing kubelet binary? Before we are switching to MIG, we checked the node up first, then check Kubelet and docker up or not. Now all logic are removed from validate_cluster.sh since we handle them separately. This is good part. But on

[2016-01-29 01:00] bgrant0607 commented on #19949
Sounds like we need to add some escaping during translation.
https://github.com/kubernetes/kubernetes/blob/gh-pages/_tools/import_docs.sh

[2016-01-29 01:02] lavalamp commented on #19530
There's another request in some issue for these error messages. I said it was hard, because we turn off the objects so early in the process that the api installer code has no idea they are even things.

Maybe we could register dummy objects? Not sure. @nikhiljindal, any thoughts?

[2016-01-29 01:04] bgrant0607 commented on #20018
Highlighting is an interesting idea. Or we could add some kind of a PROBLEMS column.

I'd like to keep get output uniform (columnar, single row per resource) and relatively concise.

We can add as much as we like to describe.

In general, we should suggest to users that they follow up a get with describe if problems are flagged.

[2016-01-29 01:08] bprashanth commented on #20018
Can we flag control the smartness? I find the output type=nodeport dumps out to be mildly annoying

[2016-01-29 01:10] davidopp commented on #18969
Thanks for explaining. (BTW I assume "config-vm.sh" is referringn to "cluster/gce/configure-vm.sh" ?

Should we make config-vm.sh not exit until node, kubelet, and docker are confirmed healthy? It seems that if we could get that into a log somewhere, then we could at least know which component is not coming up, and also if those all pass, then we know the problem is somewhere later.

[2016-01-29 01:13] bgrant0607 commented on #20293
Ref #10693

[2016-01-29 01:20] dchen1107 commented on #18969
yes.

I am not sure I understand what you suggested above. validate-cluster.sh is invoked by kube-up.sh through e2e.go. config-vm.sh is running at each node. The issue here is that validate-cluster.sh exit with code 2, which could be many reasons: VM failed to up, kubelet install issue, podcidr allocation issue, docker is done, ...

[2016-01-29 01:23] bgrant0607 opened #20304 "Document guidance for using kubectl in reusable scripts"
I thought I wrote this down somewhere, but apparently not. Mentioned in #20293.

We change kubectl behavior in order to improve UX. Uses in scripts depend on stable behavior, however. We should provide guidance about how to achieve that.

Off the top of my head:
* Use json or go templates and don't rely on default column output from get
* Specify --output-version, since templates are version-speci

[2016-01-29 01:27] bgrant0607 commented on #20293
We could potentially put official short names into the API discovery info.

That wouldn't address the issue of ambiguity among multiple API groups, though.

[2016-01-29 01:35] thockin commented on #19508
As an aside, even host network mode should find eth0...

[2016-01-29 01:37] bprashanth opened #20306 "e2e failure: kube-up should retry on gcloud failure"
From https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/19970/kubernetes-pull-build-test-e2e-gce/25600/build-log.txt
[code]
Cluster came up but we failed to describe firewalls. Unable to find a bug, though I'm sure people (and I) have seen this before. Maybe just reuse the functions added https://github.com/kubernetes/kubernetes/pull/20158 ?

[2016-01-29 01:40] davidopp commented on #18969
I guess there are two things I am suggesting:
(1) Can we have config-vm.sh do more thorough health-checking of the node components (docker, kubelet, etc.) and logging of the result, so that we can easily find out if there was a problem with docker or kubelet or no problem, without having to dig through their logs
(2) Can we have whatever signal `gcloud compute instance-groups managed wait-until-st

[2016-01-29 02:05] ixdy commented on #18117
Given that we've been building for close to a week with 1.5.3, I'm going to close.

[2016-01-29 02:05] #18117 closed

[2016-01-29 02:10] ixdy commented on #8705
@dchen1107 looks like it. That run used version `v1.2.0-alpha.6.507+c2eb90cc4df191`, but the first build with #20036 was `v1.2.0-alpha.6.511+93168c1edef521`.

[2016-01-29 02:23] MikeSpreitzer commented on #17677
Is there a written procedure for creating a PR for gh-pages?

[2016-01-29 02:42] smarterclayton opened #20309 "reflect.Value.call contains ~90% of the allocations during a convert from internal -> external"
Running a simulated Kube apiserver handling Pod watch events (internal -> external -> encode -> copy to wire), the bulk of the allocations come from `reflect.Value.call` in the generated conversion path (the top level invocation).

[code]

We should consider generating a type switch for the functions and calling them by name - the reduction in call allocations alone probably justifies the effort.

[2016-01-29 02:48] bprashanth commented on #20268
Maybe the nginx pod just needs a readiness probe?

[code]

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-ci/10480/consoleFull

https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke-ci/10480/artifacts/107.178.217.129%3A22-kubelet.log

[2016-01-29 02:50] stliang commented on #10439
I am new to Kubernetes. In a multitenant situation, will Kubernetes get Vault authentication token based on service account?  What if I don't want the operator of Kubernetes to see my secrets.  Is this possible?

[2016-01-29 02:56] smarterclayton commented on #18528
I think you can simply move the Go structs to the new group, keep
register.go in extensions pointing to the structs in the new group (as long
as you are backcompat), and everything should work.  You'll then register
the REST storage object twice - once in extensions, once in the new group.
The API server should correctly set your version to extensions/v1beta1 or
autoscaling/v1whatever on the way o

[2016-01-29 03:10] bgrant0607 commented on #20229
Why do we need a server URL?

I wouldn't create a new struct/endpoint. Adding it to the existing discovery info seems fine.

Whatever our solution is, we should try to apply it to the swagger API, also.

[2016-01-29 03:17] AdoHe commented on #20146
@drngsl From the log you pasted, kubelet is using self-signed certificates, but that's ok, these certificates are not used when you get cloud provider, so I think the problem is that your cloud conf file.

[2016-01-29 03:20] uluyol commented on #19071
Looks like the version rev+image push that was supposed to follow #19114 wasn't completed.

[2016-01-29 03:41] linsun commented on #18723
@jdef @MikeSpreitzer:  I have reworked the patch based on the excellent feedback from Jeff on Mike's patch.   [https://github.com/linsun/kubernetes/commit/ce1e2f0694d753ef92fa34880322dc1cf8bc8cc0]  Let me know any comments you may have.

I'm also interested in any existing testing automation that I can extend.  Else, I can manually test it tmr.  Thanks!

[2016-01-29 03:41] leewill1120 opened #20311 "Where could i get "/etc/kubernetes/manifests""
I could not connect to gcr.io/google_containers/hyperkube, So I tried to build a hyperkube image locally, but i don't have the file "/etc/kubernetes/manifests". Where could i get it?
P.S. line 155 @ https://github.com/kubernetes/kubernetes/blob/v1.1.4/docs/getting-started-guides/docker-multinode/master.sh

[2016-01-29 03:41] bgrant0607 commented on #15313
Copying note from https://github.com/kubernetes/kubernetes/pull/19686/files#r51005929

We should change DefaultDeploymentUniqueLabelKey to "pod-template-hash" (all lowercase, no prefix).

[2016-01-29 03:54] thockin commented on #20311
That is a directory into which you can write pod yaml or json files to run.
On Jan 28, 2016 7:42 PM, "leewill1120" <notifications@github.com> wrote:

[2016-01-29 03:54] #20311 closed

[2016-01-29 03:57] AdoHe commented on #19309
@lavalamp I just open a new PR #20313, would you mind reviewing this? Also I noticed that kubelet has the same problem, should we apply this to kubelet?

[2016-01-29 04:03] AdoHe commented on #20291
@dhawal55 This behavior is right according to code side, when you get ingress, kubectl will not print your `--label-columns` options as separate columns. Maybe this should be made consistent with other resource types.

[2016-01-29 04:04] AdoHe commented on #20291
@erictune can you confirm this?

[2016-01-29 04:31] thockin commented on #19523
Any repro on this?

On Fri, Jan 15, 2016 at 4:05 PM, Tom Denham <notifications@github.com>
wrote:

[2016-01-29 04:33] #20179 closed

[2016-01-29 04:39] guoshimin opened #20314 "Controller should not retry authorizing security group when duplicate rule already exists"
Getting messages like the following repeatedly in the log:
[code]

It seems the controller should just be satisfied that the rule already exists and move on.

[2016-01-29 05:03] guoshimin opened #20316 "Retries too aggressive on AWS"
It seems Kubernetes retries AWS API calls very aggressively. Any time ELB creations fails (admittedly due to configuration errors on my part), Kubernetes retries the calls and soon we are over our API rate limit. It's very disruptive to my coworkers who share the same account.

[2016-01-29 05:10] liggitt commented on #18528
There's already changes proposed to the fields, so a duplicate/conversion would be needed

[2016-01-29 05:24] arulrajnet commented on #20088
@sa-mao Yes. There are ways to fix this. But Its not good idea modifying third party source code on the fly to make it work. That is not future proof also.

Refer these lines in their source code [L203](https://github.com/saltstack/salt-bootstrap/blob/stable/bootstrap-salt.sh#L203) , [L583](https://github.com/saltstack/salt-bootstrap/blob/stable/bootstrap-salt.sh#L583) and [L2988](https://github.c

[2016-01-29 05:37] luxas commented on #17981
Yes, I know. (Cool, the jinkit blog post is about my project)
I'm one of them: https://github.com/luxas/kubernetes-on-arm (on Github since 1st Oct).
The difference is that my project has the most features with addons, sd card writing, `kube-config` and such.
But it would be best if we could get this into k8s mainline.
#19376 would be a great next step to merge

[2016-01-29 05:49] pmorie commented on #20028
@fabioy Spent a little time on this before getting sucked into a meeting vortex but couldn't repro, will try again in the AM

[2016-01-29 05:58] ibotty commented on #20151
I understand the code complexity argument.

I don't think, environment variables are the answer though. Coming from traditional Unix, I mistrust env vars for storing secrets, because they get exposed in proc. They also get shown when exporting the pod/rc declaration in kubernetes.

[2016-01-29 06:04] thockin commented on #18780
Milestones give a sense of urgency, but it sort of overlaps with prio,
unless we redefine prio as importance rather than urgency.

I could maybe get behind something like that

On Thu, Jan 7, 2016 at 6:11 PM, Brian Grant <notifications@github.com>
wrote:

[2016-01-29 06:08] thockin commented on #20151
On Thu, Jan 28, 2016 at 9:58 PM, Tobias Florek <notifications@github.com> wrote:

Using a secret as an env var is new in kube 1.2.  It doesn't show up
in your pod resource because it is late-bound by the kubelet.  Anyone
who can read your /proc/pid/environ can also read your files or ptrace
your process.

[2016-01-29 06:15] caesarxuchao commented on #19721
I thought it was an straight-forward bug, but it's not. I'll talk to @timstclair to see if he can help.

[2016-01-29 06:21] dchen1107 commented on #18343
Close the issue since I didn't verify my theory, and the issue is obsolete.

[2016-01-29 06:21] #18343 closed

[2016-01-29 06:23] dchen1107 commented on #14357
Like what I mentioned above, there is no bug. We also change our image pulling to serialization for 1.1 release. After that, we didn't see NoImage error caused by corrupted image. Close the issue.

[2016-01-29 06:23] #14357 closed

[2016-01-29 06:27] #18931 closed

[2016-01-29 06:46] a-robinson commented on #18920
Thanks for finding this @bgrant0607, this is a nasty regression. I haven't looked at the API code in quite some time now, but I'm not shocked that some sort of refactoring broke this. Sticking into the 1.2 milestone, I can't imagine it's that nefarious of a cause.

[2016-01-29 06:53] roberthbailey commented on #19779
The script changes seem to be working, as the gke resources are now being captured: https://console.developers.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gke-ci/10482/artifacts/gcp-resources-cluster-up.txt

[2016-01-29 07:11] Pensu commented on #17887
@bgrant0607 I want to pick this up. Will send a PR.

[2016-01-29 07:13] bgrant0607 commented on #17887
Thanks @Pensu

[2016-01-29 07:22] janetkuo opened #20319 "kubectl run --expose should check if --image is set before creating services"
`kubectl run --expose` should check if `--image` is set before creating services.

[code]

cc @kubernetes/kubectl

[2016-01-29 07:23] roberthbailey commented on #18969
For (1), right now the last thing that `configure-vm.sh` does is run salt. Then it exits. I don't think it would be too difficult to add a function to hit the kubelet's `/healthz` endpoint and print out a message once it thinks the kubelet is happy. I'm not sure if the kubelet API exposes enough information for the script to block until the kubelet has successfully registered itself with the maste

[2016-01-29 07:24] roberthbailey commented on #18704
@vishh - now that #20134 has merged is there more to do here? Or are we waiting for a reoccurrence of a flake?

[2016-01-29 07:39] bgrant0607 commented on #14956
cc @krmayankk

[2016-01-29 07:40] bgrant0607 commented on #14956
See also #18215

[2016-01-29 07:44] feiskyer commented on #20319
Let me add it.

[2016-01-29 07:45] janetkuo commented on #20319
@feiskyer Thanks!

[2016-01-29 07:55] mateeyow commented on #15103
I also think that there is an error when using the latest `config.json` of docker. This is the json format of `config.json`.

[code]
It does not authenticate when using this format. I have to edit the format to this:

[code]

Removing the entire **auths** object.

[2016-01-29 08:42] xrow commented on #18282
This sounds like an reasonable proposal.

[2016-01-29 09:39] soltysh commented on #20293
This might relate #20265

[2016-01-29 09:43] soltysh commented on #8884
Sign me up, I'll try to find some time and fix it.

[2016-01-29 09:46] HardySimpson opened #20324 "watch node can not recognize kubelet daemon stop and lost connect?"
When WATCH the apiserver and follow status of one node

[code]

It start from a ADD and with MODIFIED every 10 seconds. If manually remove the node

[code]

then the WATCH API will return a DELETE

[code]

But When I stop the kubelet daemon on node, the MODIFY stops, but the status of this node is still ready

[code]

So, if in real world, if one node is down, will k8s master keep assume this node

[2016-01-29 10:04] kargakis commented on #8884
kubectl log pods/mypod should work now

[2016-01-29 10:29] drngsl commented on #20146
@AdoHe , I'm not sure that cloud-config the right for openstack or not. But when I use flocker to connect to openstack, it's ok.

[2016-01-29 10:59] fgrzadkowski commented on #18969
I've just discussed this with Managed Infra folks in WAW and currently there is no generic mechanism to wait for startup script to complete before marking VM as running. In other words it's possible that we might be verifying cluster without waiting for kubelets to even start. The only strange thing is that after all VMs are running (i.e. OS is started) we still wait couple of minutes for initiali

[2016-01-29 11:15] soltysh commented on #19859
@mqliang this can be closed now.

[2016-01-29 11:16] #19859 closed

[2016-01-29 11:35] tback commented on #20270
Clarification: To me this looks like a game of probability. In theory it should be possible that a single faulty node takes down all backends and therefore the whole site.

[2016-01-29 12:09] piosz opened #20327 "e2e flake: Horizontal pod autoscaling (scale resource: CPU) [Feature:Autoscaling] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5"
[code]

related to #20323

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-autoscaling/2631/

[2016-01-29 12:09] piosz commented on #20327
cc @fgrzadkowski @mwielgus

[2016-01-29 12:25] soltysh commented on #8884
Confirmed, @erictune you can close.

[2016-01-29 12:33] AdoHe commented on #20324
@HardySimpson actually kubelet will sync node status periodically, so master will not schedule pod on this node once it realize that the node is down.

[2016-01-29 12:52] deads2k commented on #19561
No.  Opened https://github.com/kubernetes/kubernetes/pull/20328 to describe it.

[2016-01-29 12:52] deads2k commented on #20078
@fabianofranz

[2016-01-29 13:09] mwielgus commented on #20327
Yep, it seems to be some flaky behavior there. Last run failed only 1 test:

Summarizing 1 Failure:

[Fail] Horizontal pod autoscaling (scale resource: CPU) [Feature:Autoscaling] ReplicationController [It] Should scale from 1 pod to 3 pods and from 3 to 5
/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/autoscaling_utils.go:256

Ran 4 of 217 Specs in 4140.259 seconds

[2016-01-29 13:11] deads2k commented on #20293
A few comments:
 1. I'm not sold on using `/`s as delimiters between group and resource.  We tried that briefly, but it led to some sticky code when trying to disambiguate `group/resource` and `resource/name`.  I liked @smarterclayton's suggestion of doing `resource.group/name`.

 1. Currently, we have the "matching" behavior with an error on ambiguous resources.  The `RESTMapper` has that behavio

[2016-01-29 13:43] pweil- commented on #16891
Another recent use case to consider - we recently had a request to be able to use weights on the endpoints of a route in order to provide a way to have percentage based balancing.  This implies knowledge of both the route and the destination to know how to weight the servers properly.

[2016-01-29 14:20] piosz commented on #20327
fixed by #20329

[2016-01-29 14:20] #20327 closed

[2016-01-29 14:27] borg286 commented on #20235
Is it necessary to push etcd images also?

[2016-01-29 14:39] bprashanth commented on #16891
@thockin ;)

[2016-01-29 14:57] linsun commented on #18723
@jdef thanks for your 2nd review.  I've reworked and posted here:  https://github.com/kubernetes/kubernetes/pull/20331/commits

I had thought the other change was not needed since I don't see that file (minion/server.go) handles the cadvisorPort so I hadn't thought of passing it explicitly in the file.

[2016-01-29 14:57] stvnwrgs commented on #20262
Great propsal! Hope this will fix the persistent volume issues we are struggeling with at the moment.

General question: This will result in an minor release right? So the earliest possible release version would be 1.3.0?

@saad-ali i have a few questions/suggestions:

**Attach/Detach Controller**

I think it could be usefull, to write the list of nodes, associated with the volume, directly if a d

[2016-01-29 15:10] cpg1111 commented on #18977
I realize it must be specified in the path, but wouldn't it make sense to use the "default" namespace if not specified?

[2016-01-29 15:12] dcbw commented on #19508
@thockin unless I misunderstand the issue here, there's no requirement that the host's network interface be named eth0.  That hasn't been true on Fedora for years, and any system that uses udev (which a lot of hosts will) won't be using the 'eth' namespace.

[2016-01-29 15:19] swagiaal opened #20332 "SafeFormatAndMount default fstype should be in defaults.go"
SafeFormatAndMount uses ext4 as the default fstype but this value is set inside SafeFormatAndMount instead of defaults.go.

[2016-01-29 15:20] swagiaal commented on #20332
please assign to me

[2016-01-29 15:57] kargakis commented on #12732
Discussed about this today, we want this feature in order to automate securing our internal registry

cc: @pweil- @deads2k

[2016-01-29 16:25] MikeSpreitzer commented on #17677
I would like to make a PR but am having a little trouble with the procedure.  GitHub pages are a bit odd.  Should I be looking for a directory or a branch?  I have been following the procedures at http://kubernetes.io/v1.1/docs/devel/development.html --- which address ordinary directories on the master branch.

[2016-01-29 16:25] bprashanth commented on #16891
Although I don't think we should be specifying weights of endpoints directly. A flexible way to express a control loop between backend <-> loadbalancer that might manifest as weights feels generally more useful. I think we should let the controller decide how it boils reported parameters down into a single integer or % weight.

[2016-01-29 16:34] quinton-hoole commented on #18780
@thockin To be clear my original proposal in this issue is to deprecate "priority" completely, replacing it with orthogonal "importance" and "urgency" labels.  @goltermann proposed a refinement of that, using "milestone" as the equivalent of urgency label (and implicitly removing "priority" and replacing it with "importance").  My proposed migration plan was to convert all high "priority" items to

[2016-01-29 16:47] caseydavenport commented on #19508
@dcbw - yep, that's right.

[2016-01-29 17:11] loshkovskyi commented on #20146
@drngsl, today I'm not able to reproduce the issue on my environment any more. We've switched to using API keys instead of passwords in Keystone. So using the same environment as before, I'm no longer able to catch the panic error. This leads me to a thought that the error had something to do with the password. I had some special symbols in the password (like a dollar sign), whereas the API keys u

[2016-01-29 17:11] dchen1107 commented on #18704
I am closing this one for now since #20134 was merged. Please reopen it if the failure reoccurred.

[2016-01-29 17:12] bgrant0607 commented on #19575
Ok, now we have precedent for the approach in this proposal: rollbackTo #19686. It would sidestep the madness we encountered with PodSecurityContext by storing only one copy.

However, it wouldn't work with kubectl apply, and would likely wreak havok with Template as well -- anything that checks structural equality, so it doesn't solve the "config file" use case.

So, I think we're back to a bidir

[2016-01-29 17:16] bgrant0607 commented on #18780
I am not in favor of an urgency label. Milestones should be used to reflect urgency.

Feel free to rename priority labels to importance, but that's shuffling deck chairs, IMO.

[2016-01-29 17:17] loshkovskyi commented on #19264
I responded in https://github.com/kubernetes/kubernetes/issues/20146. Let's communicate in separate issues to keep things clear.

[2016-01-29 17:24] mwielgus opened #20333 "Unbound variable causes kubernetes-e2e-gke-ci failure"
[code]

[2016-01-29 17:25] thockin commented on #18780
That was really my point.  If we use milestones as an urgency indicator,
the existing P0..P3 labels become a spectrum of importance.  Maybe it's too
granular, but I actually get value from P0 vs P1 vs P2.  I could lose P3

On Fri, Jan 29, 2016 at 9:17 AM, Brian Grant <notifications@github.com>
wrote:

[2016-01-29 17:26] thockin commented on #19508
Ahh, gotcha.  It's the hardcoded "eth0" that is at fault.  Yeah, ok.

On Fri, Jan 29, 2016 at 8:48 AM, Casey Davenport <notifications@github.com>
wrote:

[2016-01-29 17:40] thockin commented on #16891
Somehow I never saw this thread in November, sorry.

This is exactly the debate we've been having internally - how much of each
specific LB do we expose through a generic Ingress.  I am OK to add very
thinly abstracted fields that have reasonable implementations on most/all
LBs.  I am NOT OK adding fields that are specific to haproxy or nginx or
GCE, nor adding enum values that don't work on the v

[2016-01-29 17:50] smarterclayton commented on #19575
So another option I thought of last night... we only accept Base64 input to
those fields today.  Anything that is not base64 will error out.  We could
allow someone to do something similar to the formatting described elsewhere:

[code]

That is a) unambiguous and b) backwards compatible for new servers and c)
will fail cleanly for new clients talking to old servers

On Fri, Jan 29, 2016 at 12:12 P

[2016-01-29 17:56] lavalamp commented on #20306
That's annoying. Why doesn't gcloud internally retry on 5xx errors after a delay?

We could use the --log-http flag to get the RPCs printed over stderr, if that would help debugging.

[2016-01-29 18:03] kylegordon commented on #14366
I'm also having a similar problem during the provisioning of a Kubernetes cluster. Whilst the majority of the process succeeds, it fails when trying to insert the SSH keys to the master node.

[code]

[2016-01-29 18:03] lavalamp commented on #18528
Ah, yeah-- what Clayton says is an improvement on my suggestion.

On Thu, Jan 28, 2016 at 9:10 PM, Jordan Liggitt <notifications@github.com>
wrote:

[2016-01-29 18:06] lavalamp commented on #18528
Yeah, there'd be a duplicate & conversion, but between autoscaler/v1beta1
and autoscaler/v1. Clayton is saying we don't need an *additional* copy in
extensions/v1beta1.

On Fri, Jan 29, 2016 at 10:02 AM, Daniel Smith <dbsmith@google.com> wrote:

[2016-01-29 18:07] erictune opened #20336 "Frequent Apiserver 500 on DELETE pods associated with Key not found from etcd."
Seen in a customer's apiserver log:

[code]

Version is 1.1.4

[2016-01-29 18:10] erictune commented on #20336
Error is coming from DeleteResource: https://github.com/kubernetes/kubernetes/blob/v1.1.4/pkg/apiserver/resthandler.go#L564

[2016-01-29 18:11] erictune commented on #20336
I suspect that debugging will be difficult without repro.  So, next step is to make changes so more information is visible next time.

[2016-01-29 18:12] lavalamp commented on #20293
Do we really want everyone's set of shortcuts to be a special snowflake?
Like, I'm sure anyone else's vim config would be unusable for me. It also
annoys me that git has nonsensical command names unless you add a bunch of
aliases. Do we want kubectl to be similarly user-specific?

As an alternative, suppose we:

* Add a canonical short name, like Brian says
* Add a canonical group search order (Ex

[2016-01-29 18:18] smarterclayton commented on #20293
Problem with any canonical order is that it is not backwards compatible
unless older entries are always first - i.e. alphabetic canonical search
order breaks as soon as you add a new A group to the list.

I don't really want to have extensible short names - I think bash is fine
for that if you really need the power.  We do need a registry of shortcuts,
names, and canonical names IANA style to prev

[2016-01-29 18:20] lavalamp commented on #19309
Thanks, I made a suggestion. Yes, we can double check with @dchen1107, but I think fixing in kubelet is good, too.

[2016-01-29 18:22] lavalamp commented on #20293
I'm operating under the assumption that we force users to spell it out in
scripts-- I think we have to do that no matter what we do. This means
backwards compatibility is not a problem.

On Fri, Jan 29, 2016 at 10:18 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-29 18:22] mml commented on #19435
Gonna dig back in to this today.  @lavalamp do we have logs from the failure?

[2016-01-29 18:23] liggitt commented on #18528
ah, missed "move vs copy" was in reference to v1beta1

[2016-01-29 18:24] smarterclayton commented on #14956
We've been discussing leaning more heavily on `run` in openshift, although we'd probably upgrade the image lookup flow to do pod-ex style things for defaulting.  I think having the option / default to do something reasonable on `run` for exposing a service makes some sense.

[2016-01-29 18:26] lavalamp commented on #19435
@mml Looking at that PR, it should be one of these runs: https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/19947/kubernetes-pull-test-unit-integration/

[2016-01-29 18:30] ihmccreery commented on #6558
Ping on this.  e2e "Pods should get a host IP [Conformance]" is currently disabled everywhere.  Bumping this to `P1` and `flake`.

[2016-01-29 18:32] markturansky commented on #20262
@kubernetes/rh-storage

[2016-01-29 18:34] thockin commented on #20028
Status?  It sounds like this might be a legit "0 disk space case" - is the test ready to handle this?

[2016-01-29 18:35] thockin commented on #19895
Can we get a status update on this issue?

[2016-01-29 18:35] thockin commented on #18210
PR for fix is in.

[2016-01-29 18:35] #18210 closed

[2016-01-29 18:36] ihmccreery commented on #20100
Closed via #20274

[2016-01-29 18:37] fabioy commented on #15176
PR merged, closing this issue.

[2016-01-29 18:37] #15176 closed

[2016-01-29 18:39] bprashanth commented on #20270
@tback see explanation in https://github.com/kubernetes/kubernetes/issues/19927#issuecomment-173703098, duping this bug to that one (also this is not about the Ingress but specifically about GCE L7 -- not nitpicking, just pointing out the difference between the ingress api object and the controller that fulfills it ;)

[2016-01-29 18:39] #20270 closed

[2016-01-29 18:39] mml commented on #19435
@lavalamp am I looking at the right files?  I inspected */build-log.txt and none of them contains a failure of test-update-storage-objects.sh.

[2016-01-29 18:45] jlowdermilk commented on #19878
For someone else who encounters the same problem, `$HOME/.config/gcloud/application_default_credentials.json` can be restored/reset by running `gcloud auth login`.

[2016-01-29 18:54] lavalamp commented on #19435
@ixdy I can't find the failure logs either. Can you help us? Did you tag
the right issue?

On Fri, Jan 29, 2016 at 10:39 AM, Matt Liggett <notifications@github.com>
wrote:

[2016-01-29 18:59] matthewdupre commented on #19983
Written almost all the code; just a little bit more tidying up to add (cleaning up old rules with a different mark when adding rules; as well as when starting the userspace proxy).

I'll have a pull request with you on Monday.

[2016-01-29 19:01] bgrant0607 commented on #19097
Merged

[2016-01-29 19:01] #19097 closed

[2016-01-29 19:02] ihmccreery opened #20338 ""Horizontal pod autoscaling" e2e's are flaky in parallel"
@piosz and I talked yesterday and he said that the HPA tests should run in parallel no problem, but they are flaking.

I'm going to move these into `[Serial]` for now.

E.g. https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/1624

[2016-01-29 19:07] dchen1107 commented on #20100
@piosz I reopen this one. Obviously heapster crashloop due to node reboot causes a lot of test flakiness. Can we make sure it running not flapping after reboot? Thanks!

[2016-01-29 19:14] bgrant0607 commented on #17151
Is anyone working on this for 1.2?

[2016-01-29 19:15] bgrant0607 commented on #17000
We need to ensure this works in Deployment, also.

[2016-01-29 19:16] bgrant0607 commented on #16506
@resouer Yes, I think that doc is sufficient explanation, but hard to find. I'm closing this in favor of #15244.

[2016-01-29 19:16] #16506 closed

[2016-01-29 19:16] ncdc commented on #17151
We started, but priorities shifted. We can wait until after 1.2.

[2016-01-29 19:17] bgrant0607 commented on #15741
cc @johndmulhausen

[2016-01-29 19:19] vishh commented on #20100
Will an explicit test for heapster help here? Such a test will be carry less dependencies and be easier to debug in case of a failure.

[2016-01-29 19:21] davidopp commented on #20338
Can we remove the "flake" label if we're sure they won't flake in serial? (So we don't have to talk about this issue every morning.) I don't think we should close the issue, but we could move it to P1. Ike, what do you think?

[2016-01-29 19:24] nikhiljindal commented on #17000
Fixed by https://github.com/kubernetes/kubernetes/issues/17000.
Verified that the issue does not exist for deployments: https://github.com/kubernetes/kubernetes/pull/19366#issuecomment-170737202

[2016-01-29 19:24] #17000 closed

[2016-01-29 19:24] bgrant0607 commented on #18751
Looks like we need a test for this, also.

[2016-01-29 19:25] bgrant0607 commented on #18206
Ref #15244

[2016-01-29 19:27] bgrant0607 commented on #17460
See also #18206

[2016-01-29 19:27] lavalamp commented on #19997
This sounds very similar to one I recently added logs to. Looking...

[2016-01-29 19:27] freehan commented on #20028
@thockin The test also tries to create a file and check if du metrics reflects it. Should we skip the file creation part if no space available?

[2016-01-29 19:29] bgrant0607 commented on #16981
Doc added

[2016-01-29 19:29] #16981 closed

[2016-01-29 19:30] bgrant0607 commented on #16734
We have agreed on a different approach in #18528.

[2016-01-29 19:30] #16734 closed

[2016-01-29 19:31] bgrant0607 commented on #16702
@andyzheng0831 Are you planning more work for 1.2?

[2016-01-29 19:32] erictune commented on #20336
This appears to happen about 2000 times per day for the last 4 days.

[2016-01-29 19:35] andyzheng0831 commented on #16702
Yes, I am working on this. When it can pass e2e test I will send out for review. What is the code freeze date for 1.2 release?

[2016-01-29 19:36] lavalamp commented on #19997
My logs were added a few hours before @erictune made this bug. The jenkins link doesn't work anymore, though-- will dig and see if I can find the actual logs.

(@erictune-- I would have seen this earlier if you'd added the kind/flake label!)

[2016-01-29 19:36] dchen1107 commented on #16702
Next Friday.

[2016-01-29 19:37] ihmccreery commented on #20161
`ci-test.k8s.io/<suite>/<run>` and `pr-test.k8s.io/<pr>`.  Thanks @thockin!

[2016-01-29 19:38] lavalamp commented on #19997
@erictune do you recall what PR this flaked on?

[2016-01-29 19:38] erictune commented on #20336
The stack trace appears to be always/usually preceded by:
[code]
where XXXX varies and is redacted for customer privacy.

It is followed by a line like this:
[code]

However, it seems like occasionally, a `Key not found` is followed by a 200 instead, though I can't be sure if that is some other goroutine that is mixed into the logs.

[2016-01-29 19:39] ihmccreery commented on #20100
^ @piosz

[2016-01-29 19:40] ihmccreery commented on #20338
@piosz Told me he had no reason to think these tests wouldn't run in parallel, so as far as I'm concerned this is a flaky-in-parallel situation.  Once we have good reason that these shouldn't work in parallel, we ca knock it off.  What do you think?

[2016-01-29 19:46] jlowdermilk commented on #19997
Looking at [test history](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/25720/testReport/junit/%28root%29/Kubernetes%20e2e%20suite/Kubectl_client_Simple_pod_should_support_exec_through_an_HTTP_proxy/history/#) this doesn't seem to be particularly flaky. I could find only [one failure](http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/

[2016-01-29 19:48] lavalamp commented on #19997
@jlowdermilk That's why I added logs, and why I'd like to see the log messages I added in @erictune's reported flake.

[2016-01-29 19:53] freehan commented on #19033
@jbowen93 We could add the `KUBE_ENABLE_CLUSTER_REGISTRY` flag for other k8s providers. That should make it easier to setup kube-registry. But the catch is that it will only come with `emptyDir` as storage backend by default.

[2016-01-29 19:53] bgrant0607 commented on #16508
@jbeda Are you working on this for 1.2?

[2016-01-29 20:00] meonkeys commented on #13305
I've got a repro in my cluster, but it generally takes _6 days_ to surface. Master and worker nodes run CoreOS alpha 928.0.0. See https://github.com/coreos/bugs/issues/254#issuecomment-176509100

[2016-01-29 20:00] nikhiljindal commented on #19254
I ran
[code]
and it hasnt failed in the last 7k runs. Will keep running it for long and maybe try some other combinations (to see if some other test is affecting this)

[2016-01-29 20:02] ixdy commented on #19435
@lavalamp the failing run is in the old sha1-based location for PR logs: https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/1b110bff0b1e8657317234422e48dcc2af8b4e1a/kubernetes-pull-test-unit-integration/10643/

[2016-01-29 20:04] quinton-hoole commented on #18969
@fgrzadkowski @davidopp @roberthbailey @dchen1107
I just took a quick look at kubernetes-e2e-gce-scalability, and in all the history we have (132 runs at 100 nodes per run = 13,200 nodes) there is one single node failure like this (the one @brendandburns reported above).  That's a 0.007% failure rate.  As I mentioned [above](https://github.com/kubernetes/kubernetes/issues/18969#issuecomment-172257

[2016-01-29 20:06] christopherhein commented on #19033
Couldn't we just have other variables for storage solutions like AWS having:

[code]

Which would just have to correlate to:

[code]
In the registry configs

[2016-01-29 20:09] mml commented on #19435
@ixdy thanks.  Same issue as before.  I'll see if anything's changed trying to repro it on my workstation.

[2016-01-29 20:09] erictune opened #20343 "POST in HTTP log should show chosen name"
When someone POSTs and that POST results in a resource being created, the HTTP log (`/var/log/kube-apiserver.log`) should show the name and namespace of the resource that was created.

Currently, it does not.

This makes debugging from kube-apiserver logs difficult.  It makes them less useful as an audit log.
This will probably involve some messy plumbing in the apiserver code.  However, when we h

[2016-01-29 20:12] bgrant0607 commented on #2770
Another approach would be to externalize control so that we could eliminate the cloudprovider API entirely.

[2016-01-29 20:12] ncdc commented on #19466
I have identified a portion of the root cause of this. There is a missing label in a break statement in spdystream. I will be making a PR for that shortly. However, with that issue corrected, I've now exposed a new race condition:

1. client creates streams for error, stdin, stdout, stderr
1. server receives streams
1. server sends reply frames for the 4 streams
1. server sends message over error

[2016-01-29 20:14] davidopp commented on #18969
Yes, I think a slightly modified version of what @quinton-hoole suggested is good.

In particular, I think we should create two versions of this test, one that tolerates single-node failures and one that doesn't. Put the first one in the critical suite and block merges on it, and put the second one in the flaky suite and mark it a P1 and assign someone on node team or control-plane team to make it

[2016-01-29 20:16] davidopp commented on #18969
(And @dchen1107 had also suggested a more tolerant version of this test at the war room this morning.)

[2016-01-29 20:16] freehan commented on #19033
@christopherhein Yes. For aws/gce, we can do something like that.

[2016-01-29 20:17] dchen1107 commented on #18969
@quinton-hoole I agreed with you completely. This is also the point I tried to share with everyone in today's warroom meeting.

Another if we look at history more closely, instance-group failed more often than one node not coming up after instance-group is stabled.

[2016-01-29 20:18] yujuhong commented on #13305
@meonkeys, `docker version` also checks the server version in newer docker (v1.7+?). See https://github.com/kubernetes/kubernetes/issues/17525#issuecomment-158246388
However, the hanging issue seems to only hit `docker ps` and not `docker version`. We've seen it a couple of times in our soak cluster too (#20096).
@dchen1107 did some digging and it seems to be a kernel issue. The best kubernetes ca

[2016-01-29 20:20] quinton-hoole commented on #18969
@davidopp I don't think that the effort and resource expense required to achieve 100% of 1,000 node clusters coming up with all nodes healthy is justified.  I think that we've already spend far too much time on this issue.  I would not suggest spending any more than that required to make the test tolerant of single-node failures, as described above.

[2016-01-29 20:28] davidopp commented on #18969
I disagree. Would you as a user consider it acceptable if asking GCE to bring up 1000 VMs sometimes only brought up 999? I wouldn't be, and I feel the same way about Kubernetes nodes.

I totally sympathize with the test issue, and I'm all for allowing a node failure in the "main" version of the test. But I think it's worth debugging why we can't reliably bring up 1000-node clusters, and having an

[2016-01-29 20:30] ncdc commented on #19466
spdy fix https://github.com/docker/spdystream/pull/65

[2016-01-29 20:41] davidopp commented on #18334
#20158 has been merged, closing.

[2016-01-29 20:42] dchen1107 commented on #18969
@davidopp Can we have SLO with more detail here?

Even we said having all 1000 nodes come up 100% of the time as the goal for GKE. There are many other ways to do it. For example, pushing harder to make instance group updatable, or after a while, and start another instance group with number of missing nodes? Shouldn't using node auto register is relatively easy to solve the problem here? And there

[2016-01-29 20:45] davidopp commented on #20338
I feel like it's OK to move it out of the we-discuss-it-every-morning bucket if we have a way of running the test that doesn't flake. I do agree with leaving as a P1 to figure out why it flakes in parallel.

Anyway, let's give @piosz a day to look into this, and if he can't figure out why it is flaking in parallel in one day, he should continue working on that as a top priority, but at that point

[2016-01-29 20:55] krousey commented on #18809
After 40k runs and checking the PR builder manually for a few days, I'm going to close this. If it happens again, please post logs and I will investigate.

[2016-01-29 21:00] thockin commented on #16285
The problem is that this test depends on the api proxy which doesn't do UDP, as far as I can tell, so it could never have worked when UDP support was added.  I will see what I can do to rectify.

[2016-01-29 21:00] ihmccreery commented on #20338
SGTM!

[2016-01-29 21:05] davidopp commented on #18334
Reopening as #20158 broke the test completely.

[2016-01-29 21:14] smarterclayton commented on #19575
That was supposed to be:

[code]

`key1` is unambiguously not base64, will fail if sent to old servers (or should) and is easy to understand what it is doing (it could be `text(`or `string(`).  This would fit the human expectations for a templating system very well, while still preserving the existing behavior.

[2016-01-29 21:20] ncdc commented on #19466
With some added debugging statements, I'm actually seeing the server send the go away frame before it sends the reply frame for the 4th stream. This happens because the 2 actions are occurring in different goroutines, so it's a race. I'm still trying to think about what we can do to fix this with the current v2 streaming protocol. One thought I have is to add an additional "ready" message that eac

[2016-01-29 21:32] mml commented on #19435
I built a hacked up version of the test that can do 12 runs in a minute by only building the docker container and go code once.  On 100 runs, I didn't get a failure, so now I'll do 720 (1h).

If the flake rate on my workstation is below 1 per hour of wall clock time, I guess I'll need a different approach.

[2016-01-29 21:44] bgrant0607 commented on #19830
See also #2210

cc @erictune

[2016-01-29 21:51] davidopp commented on #6558
Today Kubelet fills PodStatus.HostIP in generatePodStatus() in kubelet.go
Master (e.g. NodeController) is not involved.

Currently the test waits two minutes for a pod to get a HostIP
https://github.com/kubernetes/kubernetes/blob/95f08615020f80f0f1645f6382dc165686bfa549/test/e2e/pods.go#L127

Considering that we have proposed to remove this field completely, I think we should just bump up the time

[2016-01-29 21:52] davidopp commented on #6558
cc/ @dchen1107

[2016-01-29 21:57] roberthbailey commented on #18969
While I agree that configure-vm not finishing might be the *cause* of all nodes not being healthy and we should make it easier to debug, I agree with @davidopp that we shouldn't tolerate a user asking for N nodes and only providing them with X% (where X<100) of them and claiming success. We certainly wouldn't do this for GKE; why would we do it for OSS?

[2016-01-29 22:00] jbeda commented on #16508
*sigh* Not actively.  I could try if you think it is worth pushing for.

[2016-01-29 22:01] davidopp commented on #6558
BTW the title of this issue says "Kubelet shouldn't require apiserver to populate host ip of pods." But it wasn't clear to me where the dependency on the API server is (unfortunately @bprashanth 's original comment points to a very old revision to kubelet.go so I'm not sure which line he was referring to). The work of finding the HostIP seems to be done by Kubelet.GetHostIP() / Kubelet.GetNode() w

[2016-01-29 22:05] bprashanth commented on #6558
I haven't looked at this code recently but nodinfo appears to still be retrieved from a cache populated via apiserver watch: https://github.com/kubernetes/kubernetes/blob/76f8a800edbbdb316cb22b783c465ac3715a4117/pkg/kubelet/kubelet.go#L242

[2016-01-29 22:09] aveshagarwal commented on #20028
On my local VM, I filled /tmp completely:
tmpfs                    3.9G  3.9G     0 100% /tmp

and ran stress tests:
../code/bin/stress ./volume.test -test.run=FlakyTest
3520 runs so far, 0 failures

[2016-01-29 22:10] roberthbailey commented on #19779
I'm going to close this issue now that I've increased our ability to debug. We also haven't seen a new occurrence of leaked routes in this project since I've been tracking this issue.

[2016-01-29 22:10] #19779 closed

[2016-01-29 22:19] bgrant0607 commented on #18528
cc @madhusudancs @erictune

With respect to #19802.

We need to keep around both the old Scale subresource and add the new Scale (not inter-convertible).

The old one will be registered at the current extensions/v1beta1/...replicationcontrollers/.../scale path.

The new one will be registered in the appropriate paths under the parent resources:
api/v1/...replicationcontrollers/.../scale
apis/exten

[2016-01-29 22:20] erictune opened #20350 "Overlapping jobs are easy to create and hard to debug."
A user had created a job with a matches-all selector while playing with jobs.  Then the user made a second job (details unimportant).  The second job would start a pod.  The job controller would notice a pod was created. It would try to match the created pod with a job.  It would match both.  It matched the first because that selector matched everything.  It matched the second because that created

[2016-01-29 22:21] fabioy commented on #20028
@aveshagarwal If you ran the test after PR #20111, then the temp directory it looks for may not be under "/tmp". A lot of tests seemed to then "/tmp.k8s".

[2016-01-29 22:21] erictune commented on #20350
The net effect was that no matter how many jobs the user created in that namespace, none of them ever finished.

[2016-01-29 22:21] bgrant0607 commented on #18528
Oops, forgot one detail: The new Scale type definition will go in the autoscaling group. The old one will remain where it is.

[2016-01-29 22:24] jdef commented on #20285
fixed by #20286

thanks @mikedanese

[2016-01-29 22:24] #20285 closed

[2016-01-29 22:27] davidopp commented on #6558
Ah yes, that looks right, thanks @bprashanth
(well, "right" in the sense of "that's where it gets populated," not in the sense of "it makes sense that kubelet is using code defined in the scheduler predicates for this"...)

@bprashanth while you're here, do you have a suggestion of the best course of action? Long-term we want to get rid of PodStatus.HostIP, but short-term we need to do something a

[2016-01-29 22:28] bgrant0607 commented on #14961
cc @erictune

[2016-01-29 22:28] sdminonne commented on #20350
/sub

[2016-01-29 22:31] erictune commented on #20350
Things that would have made this easier to debug:
- implement controllerRef (need issue #)
- event when Job or other controller deletes pod
  - if event on the first job might not have noticed while looking at second job
  - if event on the pod, currently, you won't easily find events for pods that are now deleted, unless you do `kubectl get pods`
- if `kubectl describe job` would show events for

[2016-01-29 22:31] meonkeys commented on #13305
Right, I meant that maybe it actually said something like this, but I wasn't paying close enough attention:

[code]

[2016-01-29 22:35] sdminonne commented on #20350
@erictune think original issue on overlapping selector is #2210
it contains also the first ref to controllerRef (I think)

[2016-01-29 22:35] bprashanth commented on #6558
It looks like the kubelet already has the node address: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2663, so assuming no one else is going to change the ip, we could just store it in the kubelet and add it for every pod? Unsure if this is a safe assumption.

[2016-01-29 22:37] bprashanth commented on #6558
I also haven't debugged this new set of test failures, so I'm not sure if it's failing for the same reason

[2016-01-29 22:37] bprashanth commented on #6558
... to make on all clouds

[2016-01-29 22:44] ihmccreery commented on #13485
Reopening; saw this again with http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/10591

[2016-01-29 22:52] lavalamp commented on #19254
Thanks for trying!

[2016-01-29 22:59] dhawal55 opened #20352 "JsonPath nested condition and multiple conditions are not working"
I want to get the list of all pods that are ready to take requests. In order to do that I run the following queries:

`kubectl get pods -l app=my-app -o jsonpath='{.items[?(@.status.conditions[?(@.type == "Ready")].status == "True")].status.phase}'`

OR

`kubectl get pods -l app=my-app -o jsonpath='{.items[?(@.status.conditions[*].type == "Ready" && @.status.conditions[*].status == "True")].status

[2016-01-29 23:03] dchen1107 commented on #18969
Sending above response before see both @quinton-hoole and @davidopp's last response:

https://github.com/kubernetes/kubernetes/issues/18969#issuecomment-176952012 &
https://github.com/kubernetes/kubernetes/issues/18969#issuecomment-176955041

I agreed with @quinton-hoole here, it is not worthy the engineering effort on debugging one node failure when the failure rate is < 0.1% here. We should trea

[2016-01-29 23:08] mml commented on #19435
Able to reproduce once I took the sleep back out.

With laborious printf debugging I am tracking down exactly where/why the startup fails.  So far I know that when we call `m.NewBootstrapController().Start()` in master.go, we enter Start() but never return from it.

[2016-01-29 23:13] bgrant0607 commented on #20290
I think we should move MinReadySeconds to DeploymentSpec, since it is used to determine "availability" independent of the rollout strategy.

Needs to be applied to DaemonSet also (by moving it to DaemonSetSpec) @madhusudancs

[2016-01-29 23:14] davidopp commented on #18969
I would suggest that we take this discussion offline, because we're not coming to agreement here.

I've asked @gmarek to clone the test, modify the current version so that it accepts a small number of nodes not coming up (as requested by @dchen1107 and @quinton-hoole), and put the version that requires all nodes to come up into the flaky suite. This will satisfy the requirements of the flake fixit

[2016-01-29 23:17] erictune commented on #20350
@aronchick

[2016-01-29 23:24] davidopp commented on #6558
There isn't a new set of failures - Ike just noticed that the test is disabled, from when this issue was originally opened.

@dchen1107 @yujuhong could one of you comment on whether Prashanth's suggestion
https://github.com/kubernetes/kubernetes/issues/6558#issuecomment-177000958
sounds reasonable?

[2016-01-29 23:24] kargakis commented on #20290
SGTM

[2016-01-29 23:40] bgrant0607 commented on #18969
Failing the whole test is a poor signal. Reporting the number of node failures would provide more information, and we could then set a realistic threshold to guard against regressions, which we could improve over time.

Yes, we should also do what we can to make the failures easier to debug, including making more specific tests, more logging, allowing more failures and aggregating results, etc.

W

[2016-01-29 23:40] dchen1107 commented on #6558
I didn't parse through the entire issue since a lot of information is stale. Yes David is right, we moved to the logic of filling hostIP of Pod from apiserver to kubelet long time ago. Recording to the comment of Prashanth: https://github.com/kubernetes/kubernetes/issues/6558#issuecomment-177000958:

Some users might have node with multiple network interfaces, and want to hostIP with specific one

[2016-01-29 23:42] bprashanth commented on #6558
Fwiw I think we should turn the test on and handle things as they come up. I think the major source of flake was handled when we did: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2663

[2016-01-29 23:43] ihmccreery commented on #18969
For what it's worth, @smarterclayton has done something very similar for large-scale namespace deletion.

[2016-01-29 23:45] bgrant0607 commented on #18969
I'm also 100% certain users would much rather have 999 nodes come up and to have a report saying one failed, with that node being replaced and coming up later, than to have the whole cluster creation process abort in the middle.

[2016-01-29 23:47] mikedanese opened #20355 "Kubelet should not need to restart docker to configure cbr0"
This is trivial using docker 1.9 network with the bridge driver but I'm not sure if that's how we are going to do it. This will allow us to run kubelet and flannel in a daemonset. What's the plan? How much work is this?

[code]
@dchen1107 @bprashanth @kubernetes/goog-cluster

[2016-01-29 23:51] mml commented on #19435
OK, so when we are running the bootstrap, there's a step where we do some "repair" steps.

https://github.com/kubernetes/kubernetes/blob/master/pkg/master/controller.go#L78

We then try to run `repairClusterIPs`.  Sometimes this hangs right away, but sometimes we get `serviceipallocations "" cannot be updated: the provided resource version does not match` and then retry.  Eventually, we hang insid

[2016-01-29 23:53] bprashanth commented on #20355
We won't be using docker's bridge driver (or their plugin model). The pause container will get created with net=none and we'll be using CNI plugins instead. Waiting on: https://github.com/kubernetes/kubernetes/pull/18795.

[2016-01-29 23:57] dchen1107 commented on #13305
@meonkeys after you run docker version, could you please check the return code? supervisord should capture the issue if code is not 0, and try to restart docker daemon.

But if you hit kernel issue like #20096, docker version returns 0, but hang forever. In this case, the only way to do is rebooting the node.

[2016-01-29 23:57] mikedanese commented on #20355
will it still require restarting docker?

[2016-01-30 00:00] bprashanth commented on #20355
No containers will get created on this bridge https://github.com/kubernetes/kubernetes/pull/18795/files#diff-4df925f5ace9ef618b2650b1d3f740c1R119

[2016-01-30 00:03] dchen1107 commented on #20355
Yes, this is what CNI stuff we talked about during the lunch, but I didn't realize a pending pr  #18795 is going to be merged soon. :-) Cool!

[2016-01-30 00:05] bgrant0607 commented on #15313
We should copy all Deployment annotations to the RC of the latest revision in order to capture them in the revision history.

[2016-01-30 00:06] lavalamp commented on #19435
Thanks, that's a good find. @thockin @smarterclayton This code is your
baby, right?

It's weird that a call to etcd would just hang. Maybe some setup bug with
the cache? @mml, can you try to get a stack trace? SIGQUIT usually makes go
programs die with a stack trace, if the http debug endpoint isn't up and
running yet.

On Fri, Jan 29, 2016 at 3:52 PM, Matt Liggett <notifications@github.com>
wrote

[2016-01-30 00:16] bprashanth commented on #20355
configure-cbr0 will still be the default for now. The plan is to move all the networking code out of the kubelet (hairpin, bw-shaping etc) and into a Kubernetes CNI plugin, while ensuring the stability of the existing bridge plugin, before going all in.

[2016-01-30 00:19] macropin commented on #1589
My 2c on this. We're coming over from fleet and we are used to chaining containers together for initialising applications. Without similar functionality in Kubernetes our deployments have become more difficult.

I like the proposal in #1996. @bgrant0607 rejected the proposal on the grounds that it would make for complex restarts and updates. I don't believe this is an issue as the chained containe

[2016-01-30 00:19] bgrant0607 commented on #15313
Other issues that need to be resolved:
#20290
#19111
#17164
#18078
#16737
#3024
#20087

The API also needs to be enabled by default.

[2016-01-30 00:19] ihmccreery opened #20357 "Create a e2e mock that can be copied & edited."
Per a comment in `docs/devel/e2e-tests.md`, we should have a mock e2e test that can be copied.

[code]

[2016-01-30 00:21] mml commented on #19435
The below looks like the thread in question.  I have the full stack trace (all threads) too but I need to slurp it from my workstation over to this laptop.

[code]

[2016-01-30 00:25] mml commented on #19435
By the way, to reproduce on your own

1. Modify test-update-storage-object.sh as below.
2. build/shell.sh
3. hack/test-update-storage-objects.sh

From there you can use ^\ for a stacktrace or ^Z to otherwise inspect things while the processes stay up.

[code]

[2016-01-30 00:28] ihmccreery commented on #20338
These tests actually just seem to be not working on GKE: see http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gke-serial/.

[2016-01-30 00:37] smarterclayton commented on #19435
Is this on metal?

[2016-01-30 00:37] bgrant0607 commented on #1589
Could you please explain more about your use case, @macropin ? Why do have multiple chained containers?

[2016-01-30 00:38] smarterclayton commented on #19435
We fixed `serviceipallocations "" cannot be updated: the provided resource version does not match` last week.

[2016-01-30 00:40] mml commented on #19435
If by metal you mean inside the docker container where the test runs, but that this docker container is on my workstation.  Yeah.

As far as that error message goes, I'm pretty sure I pulled from head this morning, but I can double check.

[2016-01-30 00:41] lavalamp commented on #19435
At first I thought maybe a startup order problem, but I don't see evidence of that.

[2016-01-30 00:42] bgrant0607 commented on #20291
@AdoHe All resources should support --label-columns, yes.

[2016-01-30 00:42] lavalamp commented on #19435
@smarterclayton I think this has your fix, since I see a retry loop in the stack.

[2016-01-30 00:44] bgrant0607 commented on #20291
And --show-labels. :-)

[2016-01-30 00:51] lavalamp commented on #19435
I think this is an off-by-one error. This puts a resource version into the List function, which then blocks with a <, not a <=. It's even worse if we return a resource version +1 like I seem to think we do.

Tagging: @wojtek-t (who is out at the moment)

I think we need to change the wait function it's blocked in. I'm not 100% sure.

We also need to make that timeout, because right now you could t

[2016-01-30 00:51] nikhiljindal commented on #20229
Yes, so master and client will have to agree on a mechanism to get a cluster tag which should be unique for each cluster.

If clients want to talk to that server directly instead of going through the proxy.

The current discovery types are unversioned. I assume that we are allowed to change it because we are adding a field?

You mean the summarizer should merge swagger spec from all individual ser

[2016-01-30 00:53] lavalamp commented on #19435
If my theory is right, editing a service object w/ etcdctl (either once or twice depending on whether we still +1, which I haven't checked) should wake apiserver up.

[2016-01-30 00:56] bgrant0607 opened #20361 "Opportunistic scaling in Deployment"
As discussed here:
https://github.com/kubernetes/kubernetes/issues/16737#issuecomment-175242784
and here:
https://github.com/kubernetes/kubernetes/pull/19343#issuecomment-175307057

We should consider favoring scaling down RCs with not-ready pods (including pending, crashing, etc.).

cc @janetkuo @kargakis

[2016-01-30 00:57] ihmccreery commented on #17873
This test is still marked as `[Flaky]` at `HEAD`.  @yujuhong please send a PR to promote it out of `[Flaky]`?

[2016-01-30 00:58] bgrant0607 commented on #1553
Closing in favor of #18455

[2016-01-30 00:58] #1553 closed

[2016-01-30 00:59] ihmccreery commented on #6541
All of the tests in `monitoring.go` are still labeled `[Flaky]` at `HEAD`.  Please send a PR to promote them out of `[Flaky]` to close this issue.

[2016-01-30 00:59] bgrant0607 commented on #19831
This is a dupe of #1627

[2016-01-30 01:00] mml commented on #19435
Indeed, that did it.

[2016-01-30 01:01] ihmccreery commented on #18952
"Services should serve identically named services in different namespaces on different load-balancers" is still marked as `[Flaky]` at HEAD.  I will send a PR to close this.

[2016-01-30 01:01] bgrant0607 commented on #19831
Unless the issue is really about factoring out common config from the individual components.

[2016-01-30 01:01] lavalamp commented on #19435
Hm, actually I mentally swapped the operand order, so I think the code is right unless the resource version gets incremented somewhere.

[2016-01-30 01:02] ihmccreery commented on #17829
The "DaemonRestart" tests are still labeled `[Flaky]` at `HEAD`.  I will send a PR to promote them.

[2016-01-30 01:02] ihmccreery commented on #19023
The "DaemonRestart" tests are still labeled `[Flaky]` at `HEAD`.  I will send a PR to promote them.

[2016-01-30 01:02] mml commented on #19435
Huh, a single `etcdctl set /registry/services/specs/default/kubernetes VALUE` did what you predicted.

[2016-01-30 01:03] ihmccreery commented on #17518
The "DaemonRestart" tests are still labeled [Flaky] at HEAD. @bprashanth please send a PR to promote them?

[2016-01-30 01:03] bgrant0607 commented on #20200
I agree with @thockin's last proposal. The right thing to do here is create a new ConfigMap and do a rolling update to switch to it, using the new Deployment API.

[2016-01-30 01:04] ihmccreery opened #20362 "NodeOutOfDisk e2e's marked as `[Flaky]`"
#17687 was merged, but the test was never promoted out of `[Flaky]`.  I will send a PR to promote it.

[2016-01-30 01:05] bgrant0607 commented on #20200
To be more clear: That's the recommended solution for the foreseeable future. If it won't work for you, please explain why and reopen the issue.

[2016-01-30 01:05] #20200 closed

[2016-01-30 01:06] therc commented on #18455
Is there any plan to allow consuming ConfigMap items as e.g. command line flags? Even in #18215 I don't see any mentions of CM (the conversation is hard to follow...). And the downward API only sets environment variables. All I want to do is set e.g. the cluster name or some other cluster-wide constant once, then have a bunch of specs reflect that ("--domain=CLUSTER.example.com"). I'm not even tal

[2016-01-30 01:08] jlowdermilk commented on #19997
Could not repro the flake in ~300 runs. Unless it shows up on pr-builder we can probably close this.

[2016-01-30 01:08] therc commented on #20200
But the rolling update would restart all pods, correct? Unless we get smarter updates that, with cooperation of pods, can just reload data.

[2016-01-30 01:08] ihmccreery opened #20363 "Be more conservative with the `[Flaky]` label"
The `[Flaky]` label is just causing us to leave tests unattended:

- https://github.com/kubernetes/kubernetes/issues/17873#issuecomment-177035197
- https://github.com/kubernetes/kubernetes/issues/6541#issuecomment-177035310
- https://github.com/kubernetes/kubernetes/issues/18952#issuecomment-177035567
- https://github.com/kubernetes/kubernetes/issues/17829#issuecomment-177035881
- https://github.c

[2016-01-30 01:09] dchen1107 commented on #20362
cc/ @madhusudancs @davidopp I thought there is no way to make this test deterministic without better disk accounting and with disk scheduling, etc. ... we cannot reliably make this test passed.

[2016-01-30 01:09] bgrant0607 commented on #19736
Very similar to #20018

@brendandburns wrote:

I just helped a user debug an OOM problem.  It's pretty opaque unless you know what you are looking for.

I think that we should augement `kubectl get pods` so that we both highlight pods that we know are having problems, and if we know why they are having problems, we should print some tips to make them better.

I replied:

Highlighting is an interes

[2016-01-30 01:09] bgrant0607 commented on #20018
Closing in favor of #19736

[2016-01-30 01:09] #20018 closed

[2016-01-30 01:09] madhusudancs commented on #20362
Also, please see #20015. This shouldn't be promoted.

[2016-01-30 01:10] ihmccreery commented on #20362
#20015 makes it look like we should either make it `[Feature:NodeOutOfDisk]` or delete the test completely.

[2016-01-30 01:11] ihmccreery commented on #20362
Also see https://github.com/kubernetes/kubernetes/issues/20363.

[2016-01-30 01:11] ihmccreery commented on #17518
Also see https://github.com/kubernetes/kubernetes/issues/20363.

[2016-01-30 01:11] ihmccreery commented on #19023
Also see https://github.com/kubernetes/kubernetes/issues/20363.

[2016-01-30 01:13] lavalamp commented on #19435
Yeah, I can't find any resource version +1, so that is not the problem.

Instead the problem (on second look) is that we take RV from one collection and pass it to the List of another collection. Oops! Since it is a global number, that's why @mml only had to do one modification.

[2016-01-30 01:14] bprashanth commented on #19736
Can we flag control the smartness? I find the output type=nodeport dumps out to be mildly annoying

Fwiw that only applied to `get pods`, describe being verbose is fine IMO

[2016-01-30 01:15] lavalamp commented on #19435
OK, I think it's not as bad as it could have been, now that I understand it. This is a newish feature.

[2016-01-30 01:15] lavalamp commented on #19435
I'll make a quick PR anyway.

[2016-01-30 01:15] #18288 closed

[2016-01-30 01:15] #20211 closed

[2016-01-30 01:18] bgrant0607 commented on #20168
@krmayankk The Go client from what version of K8s? master/HEAD or release-1.1/HEAD, or ???

We've made non-backwards-compatible changes to Deployment since 1.1, so I wouldn't expect a client from the master branch to work with a 1.1 cluster.

[2016-01-30 01:21] bgrant0607 commented on #16737
@mqliang Is this something you'd be interested in working on in Deployment? I'd like to get it into 1.2.

[2016-01-30 01:27] ixdy commented on #20363
using `[Feature:.+]` seems like it's only going to be worse. folks will relabel tests, and then they'll never run anywhere, ever again...

[2016-01-30 01:34] #19563 closed

[2016-01-30 01:35] yujuhong commented on #17873
Since @freehan is the owner of the issue. I'll let him decide whether the test is ready.

[2016-01-30 01:38] bgrant0607 commented on #15310
#20232 (drain shouldn't kill daemons) is also needed.

[2016-01-30 01:39] hongchaodeng commented on #19895
Hi @thockin ,

Not sure if you asking me. I would answer anyway.

Last time I debugged, I couldn't get enough information to find out root cause. I'm blocked by two conditions:

- I need both #19906 and #19910 to have more information. I think #19910 is failed by flaky tests.
- After those two PRs, I need the logs of the failure to do further analysis. Unfortunately I didn't get such failure in ou

[2016-01-30 01:44] mqliang commented on #16737
@bgrant0607 I am interested. I will work on it.

[2016-01-30 01:49] ihmccreery commented on #20363
@ixdy Agreed, but we can also monitor (how?) what `[Feature:.+]`s exist.

[2016-01-30 01:49] lavalamp commented on #20363
We should reopen all of those issues until the tests have been moved back.

[2016-01-30 01:49] #18409 closed

[2016-01-30 01:50] lavalamp commented on #19435
My "quick" PR wants to add a timeout to the cache code. I'll finish it on monday.

[2016-01-30 01:50] ihmccreery commented on #20363
@lavalamp already done.

[2016-01-30 01:53] lavalamp commented on #20363
I think this is just a case of some combination of people writing "fix #blah" in a PR and that auto-closing, and people not being aware of the policy.

[2016-01-30 01:53] ixdy commented on #13485
Final lines of that before being killed:
[code]

Another run which timed out is kubernetes-pull-build-test-e2e-gce/25721. Final lines from that:
[code]

Plus my earlier suspicions in https://github.com/kubernetes/kubernetes/issues/13485#issuecomment-169170964 make me think the kubectl proxy test is lacking a necessary timeout somewhere.

[2016-01-30 02:16] ixdy commented on #19997
I think this test may be hanging our e2e runs occasionally - see https://github.com/kubernetes/kubernetes/issues/13485#issuecomment-177045124.

I'm in well over my level of understanding, but my best guess is that the [`Post`](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/kubectl.go#L308-L326) call isn't returning. @wojtek-t submitted #18340 to add timeouts to client calls, but in

[2016-01-30 02:18] ixdy commented on #13485
Moving discussion of that test case to #19997.

[2016-01-30 02:20] ixdy commented on #19997
GCS permalinks for two failures I suspect recently: https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/10591 and https://storage.cloud.google.com/kubernetes-jenkins/pr-logs/pull/19503/kubernetes-pull-build-test-e2e-gce/25721

[2016-01-30 02:36] freehan commented on #17873
The test has been successful lately. Want to add one more check to improve resilience.

I had a pending PR to remove `Flaky` label. #18910
Will try to merge it on Monday if everything goes well during the weekend.

[2016-01-30 02:54] AdoHe commented on #20291
@bgrant0607 Ok, I will add this today.

[2016-01-30 03:13] #19346 closed

[2016-01-30 03:56] bgrant0607 commented on #16737
@mqliang Great, thanks.

FYI, Deployment PRs in flight:
https://github.com/kubernetes/kubernetes/pulls/janetkuo
https://github.com/kubernetes/kubernetes/pulls/kargakis
https://github.com/kubernetes/kubernetes/pulls/madhusudancs
#18077

[2016-01-30 04:03] bgrant0607 commented on #16737
This is at least one of the places that needs to be changed:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/deployment/deployment_controller.go#L628
[code]

[2016-01-30 04:10] bgrant0607 commented on #15310
Plan for 1.2:

* remove update-related fields from the API (comment them out in at least extensions/v1beta1/types.go)
* permit DaemonSet to be updated but not automatically propagate those changes to pods, as with ReplicationController
* finish the other planned behavioral fixes mentioned above
* enable DaemonSet by default and declare it beta

There would be no rolling-update implementation, but

[2016-01-30 04:15] bgrant0607 commented on #19367
People who don't want changes propagated to pods shouldn't update their ConfigMaps or Secrets. No knobs.

[2016-01-30 04:15] davidopp commented on #15310
I assume "the behavior I proposed above" means updating the PodTemplate would roll out the update one node at a time? Is it possible to also add pause/resume, revision history, rollback, and status in 1.3?

[2016-01-30 05:22] #19111 closed

[2016-01-30 05:35] thockin opened #20365 "KUBE_BUILD_PLATFORMS is not respected"
hack/build-cross sets it without looking at the current value.  And the value has to be an array, which is a bit awkward to use.

[2016-01-30 06:14] thockin opened #20367 "The default build should only compile for amd64"
99% of people do not want or need arm builds.  It should not be part of the default build.  As it is, I can't even figure out how to turn it off.

[2016-01-30 06:20] drngsl commented on #20146
@loshkovskyi .
Thanks for you detailed answer.
My environment now is v1.1.4.
When I replace password with api-key or replace name with user-id,
it prompts that :
I0130 06:15:01.704562   22436 server.go:524] Using self-signed cert (/var/run/kubernetes/kubelet.crt, /var/run/kubernetes/kubelet.key)
could not init cloud provider "openstack": The base Identity V2 API does not accept authentication by A

[2016-01-30 07:15] bgrant0607 commented on #15313
In flight:
* ReplicaSet (like ReplicationController, but with the generalized selector)
* Pause and resume #20087
* Rollback/undo #19686, #19835
* Scale subresource #19802
* stop #18077
* revision info #19581
* rollout history #19893, #20035

Not done yet:
* make deployment the default in kubectl run
* Doc updates

Not going to make it in 1.2:
* Perm-fail and kubectl rollout retry
* kubectl set im

[2016-01-30 08:27] Jaware opened #20369 "local run on docker canot expose ip"
i follow the page http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html
after kubectl expose rc nginx --port=80  ,i can not access to the nginx from 80,then i try the same process  on a public mashine with the --external-ip=...40....181(public ip),the  output  external-ip shows ','+ip, there is a comma before the ip address(why) ,still can not access the nginx even after i set the fire

[2016-01-30 08:27] Jaware opened #20370 "local run on docker canot expose ip"
i follow the page http://kubernetes.io/v1.1/docs/getting-started-guides/docker.html
after kubectl expose rc nginx --port=80  ,i can not access to the nginx from 80,then i try the same process  on a public mashine with the --external-ip=...40....181(public ip),the  output  external-ip shows ','+ip, there is a comma before the ip address(why) ,still can not access the nginx even after i set the fire

[2016-01-30 08:36] henryon commented on #8019
seems this issue exist on version 1.1.7.

[2016-01-30 09:03] #19865 closed

[2016-01-30 09:23] Random-Liu commented on #19720
With the help of @dchen1107, I finally start the cluster successfully. I'll send a PR to add more instruction in the comments, and I'll start running test.

[2016-01-30 09:32] #19781 closed

[2016-01-30 11:31] loshkovskyi commented on #20146
@drngsl, the errors like `The base Identity V2 API does not accept authentication by...` are coming from Keystone. So if your identity service does not accept user ids, then use usernames, etc. I don't think you can do much in this case but to consult with your cloud administrator or cloud provider to find out how to correctly authenticate in Keystone.
Same is for the certificates error. FYI: http

[2016-01-30 11:44] #19939 closed

[2016-01-30 11:53] drngsl commented on #20146
@loshkovskyi , In minion node, I am able to authenticate in Keystone using the `curl` command
[code]

[2016-01-30 12:22] macropin commented on #1589
@bgrant0607 For a database driven web app, we often make use of an intermediate container to ensure that the connected database has been initialised. As a concrete example, this allows us to provide a Wordpress container that is automatically configured with an attached MySQL instance (database and user automatically created). Previously we would have even injected updated environment variables in

[2016-01-30 13:52] mqliang commented on #2210
I am confused about the functionality of  `controllerRef`, since  `controllerRef` and selector may conflict:
* If we match pod based on `controllerRef` totally, I'd like hat the label/selector should be removed.
* If we match pod based on label/selector, `controllerRef` is meaningless.

But if we add a `controllerRef` to track controller ownership(which could also obsolete the created-by pod annot

[2016-01-30 13:53] mqliang commented on #20350
I am confused about the functionality of  `controllerRef`, since  `controllerRef` and selector may conflict:
* If we match pod based on `controllerRef` totally, I'd like hat the label/selector should be removed.
* If we match pod based on label/selector, `controllerRef` is meaningless.

But if we add a `controllerRef` to track controller ownership(which could also obsolete the created-by pod annot

[2016-01-30 18:13] meonkeys commented on #13305
@dchen1107 ah, thanks for the clarification. Yes, next time I get a repro I'll note the return code of `docker version`.

[2016-01-30 20:26] bgrant0607 commented on #15313
Specifically, the user guide needs to be updated.
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md

[2016-01-30 20:40] a-robinson commented on #20370
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-30 20:40] #20370 closed

[2016-01-30 20:40] a-robinson commented on #20369
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-30 20:40] #20369 closed

[2016-01-30 20:49] a-robinson commented on #20266
Closing in favor of your other issue (#20146)

[2016-01-30 20:49] #20266 closed

[2016-01-30 20:52] a-robinson commented on #20255
Sounds like this is resolved.

Also, StackOverflow is the best place to ask questions like this, since it makes the answers much more findable by people who have similar questions in the future.

[2016-01-30 20:52] #20255 closed

[2016-01-30 20:54] a-robinson commented on #20240
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-30 20:54] #20240 closed

[2016-01-30 20:54] a-robinson commented on #20237
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-30 20:54] #20237 closed

[2016-01-30 21:17] a-robinson commented on #20091
1.1.3 looks like it has links to PRs/issues and contributor names to me. Do you mean the 1.1.4 notes?

cc @david-mcmahon

[2016-01-30 21:21] a-robinson commented on #20086
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-01-30 21:21] #20086 closed

[2016-01-30 21:23] #20073 closed

[2016-01-30 21:31] #20319 closed

[2016-01-30 21:40] bprashanth opened #20374 "Kubectl get cluster"
I've observed a fair amount of confusion around the whole kubeconfig/multi cluster thing. Sometimes people ask about lost gke clusters, when really they ran kube-up on gce and wound up with a different context.

Locally I've setup my aliases so `get`, `add`, and `use` cluster work, and I personally find this useful. Maybe we can teach Kubectl to do something like:

[code]

I realize the second one

[2016-01-30 21:48] bgrant0607 commented on #20374
cc @kubernetes/kubectl

[2016-01-30 21:49] bgrant0607 commented on #20350
Umbrella controller issue: #14961

[2016-01-30 21:50] bgrant0607 commented on #20350
See also #19830

[2016-01-30 21:52] bgrant0607 commented on #20350
@erictune That job is blatantly malformed -- no labels in the template and a selector that matches everything. I don't see a reason to not just reject controllers with those problems as invalid.

[2016-01-30 22:07] aronchick commented on #20350
+1 for rejecting the invalid controller (with a clear error reason why) - covered in this issue? https://github.com/kubernetes/kubernetes/issues/5889

[2016-01-30 22:18] thockin opened #20375 "GCE node MIA"
I had a node that was NotReady because kubelet stopped sending updates (don't know why).  I could not SSH into the node either (it just hung).  Nothing in Kubernetes or container VM tried to rectify that situation.

@dchen1107 @mml @alex-mohr @roberthbailey

[2016-01-30 22:35] bprashanth commented on #20375
If you still have it, can you get /var/log after a gce-reset on the node? startup.log would be more helpful but I think that's rewritten on instance reset.

[2016-01-31 01:47] ernestoalejo commented on #15
I am playing with this (removing `--iptables=false --ip-masq=false` from `/etc/default/docker`) in order to receive the real client IP in a `hostPort` pod container. By the moment it seems to work ok in GCE, with iptables proxy mode enabled.

There is something I should watch for while I test it?

[2016-01-31 01:56] thockin commented on #20375
Yeah, it's gone.  I didn't think to look at console before I hit reset.
On Jan 30, 2016 2:35 PM, "Prashanth B" <notifications@github.com> wrote:

[2016-01-31 02:33] bprashanth commented on #20375
I think we should spin up clusters with "Don't delete boot disk with vm", preserve the disk of all vms that failed to come up, and mount it on another vm to poke around for every e2e cluster. Probably the same thing hitting us at https://github.com/kubernetes/kubernetes/issues/18969

[2016-01-31 03:35] aanm opened #20379 "CNI delete invoked twice with non-infra container id"
The network plugin is being called for the infra container.
https://github.com/kubernetes/kubernetes/blob/9fef5f2938bb9db0667de893a5733cb899afd8ed/pkg/kubelet/dockertools/manager.go#L1894

This is causing the network plugin to receive an incorrect container ID, by receiving the infra container ID and not the container ID that is being created.

IMO this code https://github.com/kubernetes/kubernete

[2016-01-31 03:59] michael-golfi opened #20381 "Deployment freezes at 0 and no RC created"
Hi,

I'm having an issue with deployments. When I run through the deployment example I get a hanging deployment.

The yaml file is the same as the example, except I was trying to experiment with updating pod versions.

    apiVersion: extensions/v1beta1
    kind: Deployment
    metadata:
      name: nginx-deployment
    spec:
      replicas: 3
      template:
        metadata:
          labels:

[2016-01-31 04:13] Random-Liu commented on #19720
I don't know whether the test suite I run is correct...
The test I run: `go run hack/e2e.go -v -test`

Docker version:
[code]
My cluster is sync up to: https://github.com/kubernetes/kubernetes/commit/2eac20562ffd46ffe854f381a9eaa9f171132a48

the following result:

[code]

[2016-01-31 04:36] mattjmcnaughton commented on #20243
I think the part about moving `pkg/volume/testing.go` might be a duplicate of https://github.com/kubernetes/kubernetes/issues/16106. I think its useful to keep this open though, to make the change re `MkTmpDir`.

[2016-01-31 04:37] jtblin opened #20382 "Remove AWS NodeAddresses deadcode"
As per comment in [pkg/cloudproviders/cloud.go](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/cloud.go#L101), NodeAddresses is only used in such a way that it returns the address of the calling instance.

Indeed, the [GCE implementation](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L1645) only tries to return the ip addresses

[2016-01-31 05:56] roberthbailey commented on #20375
Was the node up and then went out to lunch of did it fail to ever start in the first place?

[2016-01-31 06:16] smarterclayton commented on #19575
Another option is:

[code]

[2016-01-31 06:17] smarterclayton commented on #20176
@kargakis since we have equivalent code in routes today that needs to be moved into secrets

[2016-01-31 06:18] smarterclayton commented on #20078
Uh.... deleting all contents originally aborted.  Guess that got lost somewhere.

[2016-01-31 06:18] smarterclayton commented on #20078
@kargakis before you remove oc edit... make sure this is fixed :)

[2016-01-31 06:22] smarterclayton commented on #15867
We (Red Hat) only recommend DeviceMapper in production (for Docker, Kube, and OpenShift on RHEL), and basically give the guidance above that Dan mentioned.  RHEL has a taint flag to warn applications when they are exposed to the non-POSIXness while running on Overlay, but we haven't had a sufficiently broad soak on a wide class of real apps yet to get feedback on the prevalence of issues.  I would

[2016-01-31 06:24] smarterclayton commented on #15635
Having to guess whether something is in cmd vs pkg is also a cost - seems like you want a place for libraries, and a place for binaries, but well architected binaries usually just call libraries.  I've liked that cmd is lean (we split cmd into tools/ and cmd/ so we knew what was internal and what was external) so far.

[2016-01-31 07:12] piosz commented on #20338
The reason here is lack of resources. There are 4 HPA tests, each of them runs up to 5 pods with cpu request specified to 500m. So in the worst case we need here 4*5*500m = 10 CPU. Reassigning to @ihmccreery for the decision whether we want to add an extra resources to parallel suite or drop an idea to run those tests there.

The confirmation from logs:
[code]

[2016-01-31 07:25] piosz commented on #20100
From my investigation (local run) it seems that Heapster is not crashlooping after node reboot tests but it rather crashes a number of times during the reboot test which causes BackOff to be increased to 5min or so. Because of that Heapster is not able to recover within the given timeout but shortly after the reboot test is ended it comes back the normal state.

The issue here is the high number o

[2016-01-31 08:09] #19595 closed

[2016-01-31 08:09] #20060 closed

[2016-01-31 08:09] #19591 closed

[2016-01-31 08:14] mqliang commented on #20290
Is there anyone has working on this now? If not, I am glad to help.

[2016-01-31 08:24] danderson commented on #20235
FWIW, it looks like v1.1.7 was released without being pushed to either repository.

[2016-01-31 08:40] luxas commented on #20235
@borg286 `etcd` was pushed by @thockin some days ago. I don't think that's tightly coupled with the release process. Instead, one should push a new `etcd` image when bumping the version numbers.

@danderson Yes, they do it manually right now. #19061 isn't back-ported to `release-1.1` yet.

[2016-01-31 08:44] luxas commented on #19227
@borg286 I think it should work from HEAD now. Maybe you want to try. These instructions on HEAD requires `v1.2.0-alpha.6` and newer and now that's documented.
Maybe this is fixed...

[2016-01-31 09:05] danderson opened #20386 "Document the kubeconfig format"
Currently, AFAICT, the only documentation of the format of kubeconfig is http://kubernetes.io/v1.1/docs/user-guide/kubeconfig-file.html , which provides a couple of examples and a suggestion to use the CLI to manipulate user configurations.

While this is nice as introductory material, it's insufficient as a reference for people building automation. It would be nice to have the kubeconfig format d

[2016-01-31 09:08] davidopp commented on #4432
ref/ #19637

[2016-01-31 09:11] erictune commented on #2770
I don't see the value in forcing a single cloud provider library.

Instead, let each component that needs to interact with the cloud decide what abstraction in wants to use to allow for per-cloud or per-environment implementations.

As an example, kubelet has a credentialprovider abstraction.  It happens to have implementations for ECR and GCR.  But there are no interfaces in pkg/cloudprovider abo

[2016-01-31 10:18] anmolnagpal commented on #7581
I tried to setup Kubernetes using (https://www.cloudgear.net/blog/2015/5-minutes-kubernetes-setup/). But when i try to run getting below error.

F0131 14:14:04.770583   18807 get.go:70] Client error: Get http://localhost:8080/api/v1beta1/pods?namespace=default: dial tcp 127.0.0.1:8080: connection refused

Also when i checked the logs on api container getting this error.

E0131 10:13:06.441264

[2016-01-31 10:25] runseb commented on #19452
@lgomez Hi, I have integrated the k8s single node docker deployment in https://github.com/skippbox/kmachine you might want to try that out.

[2016-01-31 10:29] runseb commented on #19262
Ok so that's a problem with the docker deployment.
Being fixed with https://github.com/kubernetes/kubernetes/pull/19069
so I will close this.

[2016-01-31 10:29] #19262 closed

[2016-01-31 10:32] erictune commented on #20293
we should add short names for objects in github.com/kubernetes/kubernetes.
we can't add them for third-party resources though.

On Fri, Jan 29, 2016 at 10:22 AM, Daniel Smith <notifications@github.com>
wrote:

[2016-01-31 10:40] erictune commented on #19219
What OP said is true for a cluster with v1.1 kubelet, but not for HEAD.  My doc update is for HEAD.

I guess someone could backport a docs correction to v1.1.  not sure that is worthwhile.

 I tested the updated instructions when I did  #18777.

[2016-01-31 11:28] jsravn commented on #20091
Thanks, I've fixed it.

[2016-01-31 12:02] AdoHe commented on #20379
@aanm IIRC....the network plugin will be called just when we have to start a infra container,  if we are starting non-infra container, the network plugin methods will not be called, and of course when we setup pod network, we will pass infra container id to the network plugin.

[2016-01-31 14:28] aanm commented on #20379
@AdoHe but it should not be the infra container ID, it should be the non-infra container ID

[2016-01-31 15:16] borg286 commented on #19227
It is fixed.

[2016-01-31 15:16] #19227 closed

[2016-01-31 15:29] smarterclayton commented on #20293
Changing the group that someone working on the cli gets when they type
"hpa" can be just as bad.  I'd prefer humans get stable ordering and
stable expectations when using defaults as much as possible - that
reduces wear and tear on stackoverflow, our docs, and increases admin
confidence.  Human back compat is an important measure of usability -
"what I did yesterday will be what I do tomorrow".

[2016-01-31 15:44] smarterclayton commented on #20374
Effectively this is what the Openshift "login" and "project" commands do but at a higher level (namespace focused, not cluster focused) with less of a direct link to the internal config.  So I agree this is a pretty relevant use case.  The reason we use login is because that's almost always the entry point to another cluster:

    $ oc login
    Server [https:/:localhost:8443]: _
    Username:

[2016-01-31 16:18] fannaroh commented on #19598
I had the same issue and switched to asm as @raulk suggested. Works like a charm.

[2016-01-31 17:32] erictune commented on #20293
What clayton said makes sense for groups that chose to register their place in the sort order in an official  file.  But we cannot require all resources to do that.

[2016-01-31 17:36] erictune commented on #8884
Thanks!

[2016-01-31 17:36] #8884 closed

[2016-01-31 17:38] erictune commented on #15103
@mateeyow what kubelet version are you running?

[2016-01-31 17:42] kargakis commented on #19873
@kubernetes/kubectl

[2016-01-31 17:48] erictune commented on #10439
@stliang

You can set kubernetes permissions that allow someone to do many, but not all operator tasks without access to secrets.  See https://github.com/openshift/origin/issues/6793

[2016-01-31 17:53] erictune commented on #19873
I have written short shell scripts to do this several times.  If you need
to stop people from blowing up the master then your solution should work
for that case too.

That said, it would be polite for this tool to make the connections
sequentially, not in parallel.

On Sun, Jan 31, 2016 at 9:43 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-01-31 17:55] kargakis commented on #19873
@erictune how about supporting `kubectl logs job/` / `kubectl logs rc/` / etc.?

[2016-01-31 17:56] kargakis commented on #19873
Note that we have already the code in place for logs to support different resources while maintaining backwards compatibility (`kubectl logs PODNAME`)

[2016-01-31 18:32] erictune commented on #19873
sgtm.

On Sun, Jan 31, 2016 at 9:56 AM, Michail Kargakis <notifications@github.com>
wrote:

[2016-01-31 20:17] luxas commented on #20367
Which build do you mean? `make`, `make release`, `hack/build-go.sh`, `hack/build-cross.sh`?
`make` and `hack/build-go.sh` only builds for the host platform.
`hack/build-cross.sh` builds for all cross-platforms (soon four: #19769), well that's the purpose of the script
`make release` runs `hack/build-cross.sh`.
So I wouldn't say there's something strange here. CI builds have to build for all suppor

[2016-01-31 20:26] luxas commented on #20365
This could be improved indeed. Maybe something like
[code]
and
[code]
Haven't tested it though...
But why would one want to change the value?

[2016-01-31 20:44] bprashanth opened #20391 "Flannel and kube-proxy race for postrouting chain"
More recent versions of flannel when started with the --ip-masq flag, force a jump to the FLANNEL chain where there's an 'ACCEPT all traffic from node subnet' rule. i.e something like:

[code]

From: https://github.com/coreos/flannel/blob/master/network/ipmasq.go#L32

Since ACCEPT is a built in target like DROP, it'll stop processing any of the kube service rules. This manifests as a bug that look

[2016-01-31 21:11] Random-Liu commented on #20379
@aanm, I don't know whether I understand your question correctly.

AFAIK, kubelet sets up network for docker pod by:
* Set up network for infrastructure container [here](https://github.com/kubernetes/kubernetes/blob/9fef5f2938bb9db0667de893a5733cb899afd8ed/pkg/kubelet/dockertools/manager.go#L1895).
* Let the other containers share the same network stack by setting docker option `NetworkMode` [here

[2016-01-31 21:15] bprashanth commented on #20379
We execute CNI ADD/DEL for the pod infra container. This allocates an ip for the infra container, and gives it the requested routes etc. All other containers in the pod are joined to the pod infra container via the standard --net=container:hash_of_infra_container options like Random-Liu pointed out.

[2016-01-31 21:18] smarterclayton commented on #19873
Yeah, -l + support for deployments, rc, jobs, etc will be valuable.  We
should also make the parallel behavior clear and potentially limited on the
client side (if you open 50 log sessions to the master you'll be taking
1/8th of the available simultaneous connections to the server in a default
config, etc)

On Sun, Jan 31, 2016 at 1:32 PM, Eric Tune <notifications@github.com> wrote:

[2016-01-31 21:18] smarterclayton commented on #20293
That's fair - but the discovery endpoint will be under our control so we
should work to ensure it is predictable.

On Sun, Jan 31, 2016 at 12:33 PM, Eric Tune <notifications@github.com>
wrote:

[2016-01-31 21:33] smarterclayton commented on #19077
Yeah, very common request.  We've ended up adding heuristics "If PodStatus Pending and no containers, display message to user `Probably Pulling, but we aren't sure the node is there`", etc.

[2016-01-31 21:40] erictune commented on #19873
I'm fine with it refusing to allow `-f` when a selector is used (both `-l`
and `kubectl logs jobs/foo` cases).
That would not require parallel connections.

I'd also be fine with defaulting `--tail=10` in those cases.

On Sun, Jan 31, 2016 at 1:19 PM, Clayton Coleman <notifications@github.com>
wrote:

[2016-01-31 22:18] justinsb commented on #19340
#19354 has now merged, but sadly the merge did not fix the issue.  Oddly an earlier version of the patch _did_ fix the issue, but the final merged version did not.  We had some discussion at https://github.com/kubernetes/kubernetes/pull/19354#issuecomment-177565494 but it wasn't immediately obvious what changed.  Going to try to diff and see if anything leaps out.

[2016-01-31 22:21] smarterclayton commented on #19873
Yeah, omitting follow makes this much easier, with a default tail.

[2016-01-31 22:42] bprashanth opened #20392 "Allow configurable src range for type=loadbalancer firewall"
Users can set an annotation denoting a trusted src range and we can apply that as the --source-ranges of the firewall.

[2016-01-31 22:42] erictune commented on #18372
#4673, #4950 and #4672 seem related.

[2016-01-31 22:52] erictune commented on #18372
Some issue I can think of:
- not all clients will know to read the new secret file without restarting.  For example our own client library doesn't know how to do this.  See  #4672.   Reasoning about whether the change was picked up is hard if you don't restart everything.  Users may know it is safe for individual apps, but any kind of automatic rotation system won't know this.
- if clients keep th

[2016-01-31 23:13] justinsb commented on #19340
OK, so the problem now (which I believe is the same) is that docker can't find cpu.shares.  It logs this:

[code]

However, by launching a docker instance directly (`docker run ubuntu:14.04 sleep 120`) I can see that the path for `cpu,cpuacct` does _not_ include system/system.slice:

[code]

Confusingly, some of the cgroups _do_ contain `system` before `system.slice`, and some do not...

[code]

[2016-01-31 23:17] jimmidyson commented on #19340
I've been able to reproduce this error on a systemd distro (perhaps we should try to get a systemd distro added to the integration tests?). For now I'd recommend running without `--system-container` & `--cgroup-root`.

[2016-01-31 23:21] jimmidyson commented on #19340
OK think I've found the issue - pid 1 is being moved into `/system` cgroup & cgroup paths are constructed from init system cgroup. Testing a fix locally.

[2016-01-31 23:22] jimmidyson commented on #19340
Can you just confirm that `ps -o cgroup 1` shows pid 1 in `/system` cgroup please?

[2016-01-31 23:26] davidopp commented on #19637
@kubernetes/huawei

[2016-01-31 23:27] davidopp commented on #18418
@kubernetes/huawei

[2016-01-31 23:27] davidopp commented on #17470
@kubernetes/huawei

[2016-01-31 23:27] thockin opened #20393 "Controller manager missed a delete"
I had a test namespace, created a mixed-protocol service, and then added an LB.  The controller manager correctly generated an error in logs that mixed-protocol LB is not allowed.  I deleted the namespace.  Controller manager is still logging:

 Ensuring LB for service...

But the namespace doesn't exist any more.

[2016-01-31 23:27] jimmidyson commented on #19340
Fix works for me - PR coming.

[2016-01-31 23:28] davidopp commented on #15675
@kubernetes/huawei

[2016-01-31 23:28] davidopp commented on #12140
@kubernetes/huawei

[2016-01-31 23:29] thockin opened #20394 "Service validation should reject type=LoadBalancer with mixed-protocol ports"
Need to handle create and update

[2016-01-31 23:29] davidopp commented on #20064
@kubernetes/huawei

[2016-01-31 23:32] davidopp commented on #7562
@kubernetes/huawei

[2016-01-31 23:40] erictune commented on #10693
@kubernetes/goog-csi Is discovery data the same for all namespaces, or can different namespaces have different APIs plugged in?  I think different clients can plug in their own thirdparty resources, or run federated apiservers, which serve resource kinds that not all namespaces can see, right?  Do we support that?  If we do or think we will, then I think doing the discovery is more part of `set-co

[2016-01-31 23:44] smarterclayton commented on #10693
Today discovery data is assumed to be the same for all namespaces.  Per
namespace discovery is interesting, but is possibly more closely tied with
"organization" or "large tenants" rather than "small tenants" or "single
admin".  If I divide a Kube cluster up across two or three large teams, I
would expect each team to have a set of plugins, rather than each
individual.

I think for raw kubernetes

[2016-02-01 00:12] aanm commented on #20379
Thanks for the reply @Random-Liu and @bprashanth. I understand your point. Although I don't agree with the fact that the plugin is being called with the infra pod container ID, why is the plugin called with the non-infra pod container ID when the containers are being shut down (CNI DEL)?

Also, the plugin is being called twice when the containers are being shut down:
[code]

[2016-02-01 00:14] thockin opened #20396 "e2e tests are monolithic and have symbol clashes"
Because the e2e tests are just one big mass of code, no sub-packages, we end up with global symbols like "timeout" and a tangle of code calling other code.

We should bust each test into a sub-pkg.

[2016-02-01 01:36] #19504 closed

[2016-02-01 01:55] justinsb commented on #19340
#20395 fixes - thanks so much for fixing so quickly!  (I'll comment on #20395 also)

Before #20395:

[code]

After #20395:

[code]

[2016-02-01 02:09] thinhduckhoi commented on #12269
Seems like nonody care about stackoverflow anymore. I asked some questions on that and didn't even get any answers.

[2016-02-01 02:11] #19323 closed

[2016-02-01 02:20] bprashanth commented on #20379
That sounds like a bug. We should be invoking DEL with the infra container id: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1340

If you can dump a stack trace and figure out what's calling TearDownPod twice, and better yet, why/if we're passing the wrong container id to it, that would be great.

[2016-02-01 02:28] aanm commented on #20379
@bprashanth that output above is from kubelet.log with debug level 4. what else do you want me to look at?

[2016-02-01 02:39] bprashanth commented on #20379
Details of your setup would certainly help.

I'm missing the part of your logs that surfaces this.

 Is your plugin getting invoked twice reliably on every pod delete, or does it just happen sometime? @dcbw has recently spent more time in this area than I have.

[2016-02-01 02:42] Random-Liu commented on #19720
I run the e2e test second time, and got the same result:
[code]

[2016-02-01 02:46] HaiyangDING commented on #18853
@jiangyaoguo is working on the implementation of this.

[2016-02-01 03:10] aanm commented on #20379
Running kubernetes on a single machine with the following command `hack/local-up-cluster.sh` and commit ID:
[code]

list of commands
[code]

kubelet.log

[code]

So container `27125178d3ff` is the non-infra which is the one being called twice.

So far, this happens everytime. Also, theres other thing that is odd, this message log `I0131 19:01:21.523571    5769 cni.go:190] Got netns path /proc/0/ns

[2016-02-01 04:49] Pensu commented on #20396
+1 for pkging the test cases. Makes them much more easier to understand and debug.

[2016-02-01 05:19] a-robinson commented on #20381
@nikhiljindal

[2016-02-01 05:21] a-robinson commented on #20393
This should be fixed by either #19879 or #19173 (which I haven't properly looked through yet...)

[2016-02-01 05:32] nikhiljindal commented on #20381
yes apiserver seems fine.
The controller doesnt seem to be creating the new RC.

Can you please describe the old RC as well?

cc @janetkuo @kargakis

[2016-02-01 05:42] michael-golfi commented on #20381
Sure.

So I wasn't sure if there needed to be a preexisting RC when I tried the deployment. So I tried with and without an old RC and both yielded the same result.

The RC as follows:

    apiVersion: v1
    kind: ReplicationController
    metadata:
      name: nginx
    spec:
      replicas: 2
      selector:
        app: nginx
      template:
        metadata:
          name: nginx
          lab

[2016-02-01 06:25] bprashanth commented on #12269
@thinhduckhoi what's your question?

[2016-02-01 06:41] jimmidyson commented on #19340
Thanks for confirming.

[2016-02-01 07:00] feihujiang commented on #16085
It addresses my problem partially. But ```kubectl config current-context``` just only output the name of current-context.
For example:
[code]
The first problem is the output ```default``` means what? (I look into the codes, and know it means the name of current-context. )
The second problem is it doesn't output the details of the current-context. If I want to know the details of the current-contex

[2016-02-01 08:47] Pensu opened #20399 "Not able to run e2e tests locally"
Hi all,

I have a local kueretes setup on Ubuntu. I am trying to execute e2e tests on this cluster. Here is the result I am getting:
[code]

I am following this guide: http://kubernetes.io/v1.1/docs/devel/e2e-tests.html. I can't see the pod kube-dns-v8-m8drm in "kubectl get pods" either!
Can you please help me figure out what exactly is the issue here? TIA.

[2016-02-01 09:12] paulbellamy commented on #19654
For context, this came up when I was using `k8s.io/kubernetes/pkg/api` (with the client) to gather some stats about the cluster and was surprised when `labels.SelectorFromSet(labels.Set(service.Spec.Selector))` matched all pods when service was the `kubernetes` service.

[2016-02-01 09:14] gmarek commented on #18969
I'm not really sure what are we discussing here. IIUC all comments we all agree that we need to make sure that we start up 100% of requested nodes, but we're OK with tolerating small number of failed nodes in tests until we reach this point.

There're a lot of ways how to get to 100% so maybe we should assign this to a single person and leave the decision on how to proceed up to him/her?

[2016-02-01 09:24] Pensu commented on #20206
Shouldn't it be a vagrant issue? Plus isn't there a provision with script to install wget before using the command?

[2016-02-01 09:27] Pensu commented on #20079
Good idea. The way we have hints in openstack environment? In general terms we can think of something that can filter out or choose some specific hosts, based on the values given.

[2016-02-01 09:35] gmarek opened #20400 "1000 node cluster is failing performance tests"
https://storage.googleapis.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-enormous-cluster/50/build-log.txt

cc @kubernetes/sig-scalability @wojtek-t @alex-mohr @davidopp @fgrzadkowski @brendandburns

[2016-02-01 09:56] thinhduckhoi commented on #12269
@bprashanth finally there was one guy who replied to my question. But seems like we didn't find a solution. Could you take a look at it and find out what happen?
http://stackoverflow.com/questions/35076073/kubernetes-cluster-a-dependency-job-for-kubelet-service-failed/35089108?noredirect=1#comment57973789_35089108

[2016-02-01 10:10] gmarek opened #20402 "Services and endpoints out of sync causing test flake"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10740/

`Services should be able to create a functioning NodePort service` and `Services should be able to change the type and nodeport settings of a service` failed with message:
[code]

cc @thockin @kubernetes/goog-cluster

[2016-02-01 10:13] gmarek opened #20403 "e2e flake: Downward API should provide pod IP as an env var"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/10735/

[code]

I'm not sure who's responsible for Downward API. cc @lavalamp @davidopp @bgrant0607

[2016-02-01 10:18] gmarek commented on #19647
It's failing again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/345/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/357/

and so on.

[2016-02-01 10:18] gmarek commented on #19647
cc @dchen1107 @davidopp

[2016-02-01 10:38] pieterlange commented on #11751
I was just trying if v1.1.7 fixed the EBS cache issue (#18559), but the latest docker images still seem to be missing in GCR (latest is v1.1.4)

@ihmccreery @david-mcmahon could you update gcr.io to also have v1.1.7? I understand this should be fixed per v1.2.0 so this should be one of the last manual pushes. Thanks

[2016-02-01 10:39] AdoHe commented on #19523
@tomdee any progress on this? Guess I meet the same problem when I am using a network plugin to configure network.

[2016-02-01 10:42] shaheemirza opened #20404 "k8s-1.1.4 and k8s-1.1.7 on AWS is not working."
We were trying to deploy k8s on aws.
- KUBE-PROXY is not working at MINION.
- no SALT in /srv/

POC:
![kube-1 1 4-aws](https://cloud.githubusercontent.com/assets/4853436/12715634/90b47c60-c905-11e5-9055-88ea9f1ccb1a.png)

[2016-02-01 11:00] tback commented on #19927
Thanks for the input. We’ll have to do some homework in “pod readiness domain” - point one on your list @bprashanth

To use GCE L7 through ingress we need a reserved IP address and HTTPS so we can point a DNS Record to said IP.
It was my impression that could reserve an IP Address manually through the networking section in GCE.

(I am the user)

[2016-02-01 11:47] jacobtomlinson opened #20410 "Kube binary error messages are very verbose"
When running image `gcr.io/google_containers/hyperkube-amd64:v1.2.0-alpha.6` and receiving an error message it prints the full usage after the error. The usage is 260 lines, not including wrapping.

It may be sensible to have a short help message which prints some high level help information and the command to display the full usage.

[2016-02-01 11:53] AdoHe commented on #20291
@bgrant0607 I add a quick fix to this #20409, would you mind reviewing this? Also I guess it's better to add test in `pkg/kubectl/cmd/cmd_test.go` though I add a test in `pkg/kubectl/resource_printer_test.go` now, I don't add the --show-labels flag here, actually this pr #19689 will add this.

[2016-02-01 12:04] luxas opened #20411 "--restart=always issues in docker-multinode"
Hi,
I've deployed and tested `docker-multinode` a few times now. It worked, with a few issues
- `/dev/pts/ptmx` permissions is set with wrong permissions #18230
- A turndown script is missing, so one have to clean up by hand. Partially related: #19179
- If one runs e.g. `master.md` a few times, many `DOCKER_OPTS`-lines are created in `/etc/default/docker`: https://github.com/kubernetes/kubernetes/

[2016-02-01 12:17] alfred-huangjian commented on #9043
@kubernetes/huawei

[2016-02-01 12:24] #9325 closed

[2016-02-01 12:24] #12912 closed

[2016-02-01 12:24] #15064 closed

[2016-02-01 12:25] #18212 closed

[2016-02-01 12:33] gmarek commented on #20399
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-02-01 12:33] #20399 closed

[2016-02-01 12:34] gmarek commented on #20404
cc @thockin @justinsb

[2016-02-01 12:35] gmarek commented on #20410
cc @bgrant0607

[2016-02-01 13:34] theobolo opened #20413 "[Vanilla Kubernetes] How to fix the /jokolia | /hawtio | /oapi 404 (not found) ?"
Hello everyone,

Kubernetes version : 1.1.7
Fabric8 version : 2.2.107

When i open the Fabric8 console i've some errors about Jokolia, Oapi and Hawtio.

![ussiues](https://cloud.githubusercontent.com/assets/7281773/12718737/d626e612-c8f0-11e5-875c-aba88d10a3a6.png)

Any ideas ?

[2016-02-01 13:34] #20413 closed

[2016-02-01 13:45] piosz opened #20414 "Client generating script doesn't update entry in test clientset"
I created a new API group, then ran `./hack/update-codegen.sh`. The script hasn't updated entry in `pkg/client/testing/fake/clientset.go` so that I had to edit the file manually.

[2016-02-01 13:45] piosz commented on #20414
Assigned @lavalamp for triage.

cc @kubernetes/goog-csi

[2016-02-01 14:17] soltysh commented on #20350
/sub

[2016-02-01 14:29] henryon opened #20416 "when use ./cluster/kube-up.sh provision k8s"
when provision k8s version 1.1.7 on vagrant . there have some issues as below:
==> master: sh: line 1: syntax error near unexpected token `newline'
==> master: sh: line 1: `<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">'
The SSH command responded with a non-zero exit status. Vagrant
assumes that this means the command failed. The output for this command
should be in the log above. Please

[2016-02-01 14:35] ncdc commented on #14711
Dupe of #13585

[2016-02-01 14:35] #14711 closed

[2016-02-01 14:43] gmarek commented on #16627
Can we put making this decision on our 1.3 list?

@bgrant0607 - I'm not quite sure what do you mean by treating "master" nodes as standalone Kubelets and how it relates to self-registration of them. Do we want to drop master self-registration effort?

[2016-02-01 14:48] gmarek commented on #17524
+1 to what @timothysc. We have enough more important things to do. I think we should close this issue.

[2016-02-01 15:02] henryon commented on #20416
I redownload the k8s.tar.gz and rerun script kube-up.sh
found below errors:

<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>302 Found</title>
</head><body>
<h1>Found</h1>
<p>The document has moved <a href="https://copr.fedorainfracloud.org/coprs/saltstack/salt/repo/fedora-21/saltstack-salt-fedora-21.repo">here</a>.</p>
<hr>
<address>Apache/2.4.6 (Red Hat Enterprise Linux) S

[2016-02-01 15:07] wstrange opened #20417 "Add preemptible option for GCE Master"
For development purposes, I'd like to see an option to start the GCE master as a preemptible VM. This allows individual developers gain access to GCE at a very low cost. For many developers, tolerating preemption is going to be acceptable.

I'm happy to submit the PR - it looks like a very simple change.

[2016-02-01 15:08] gmarek commented on #19542
Sorry - I missed this issue. Let's discuss it over VC today.

[2016-02-01 15:31] henryon commented on #20416
I've modified the script of provision-master.sh by replacing

    #wget https://copr.fedoraproject.org/coprs/sgallagh/cockpit-preview/repo/fedora-21/sgallagh-cockpit-preview-fedora-21.repo
    wget https://copr.fedorainfracloud.org/coprs/saltstack/salt/repo/fedora-21/saltstack-salt-fedora-21.repo

I've restart my Mac when rerun deploy script.
but still get errors as below picture.
![Uploading 屏幕快照

[2016-02-01 15:33] henryon commented on #20416
`[root@kubernetes-master yum.repos.d]# ll
总用量 20
-rw-r--r--. 1 root root 1252 11月 22 2014 fedora.repo
-rw-r--r--. 1 root root 1270 11月 22 2014 fedora-updates.repo
-rw-r--r--. 1 root root 1328 11月 22 2014 fedora-updates-testing.repo
-rw-r--r--. 1 root root  388 2月   1 14:50 saltstack-salt-fedora-21.repo
-rw-r--r--. 1 root root  349 2月   1 14:46 sgallagh-cockpit-preview-fedora-21.repo
[root@kubernet

[2016-02-01 15:51] gmarek opened #20418 "e2e flake: Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance]"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/186/
[code]
There are a couple more failures in this suite - all of them looks like some problem with a Node.

cc @kubernetes/goog-gke @kubernetes/goog-node

[2016-02-01 16:01] gmarek commented on #20416
cc @thockin @derekwaynecarr to triage

[2016-02-01 16:01] sdminonne commented on #20350
We discussed this with @soltysh: basically to solve this issue can be solved in three steps:

1. Rejecting malformed job: empty label selector and no labels in the template
2. Adding [more events](https://github.com/kubernetes/kubernetes/issues/20350#issuecomment-176999192)
3. Implementing controller ref (looks quite big)

@erictune I'm Ok to implement the first two points if none is already worki

[2016-02-01 16:02] gmarek commented on #20417
cc @kubernetes/goog-control-plane

[2016-02-01 16:04] bprashanth commented on #19927
@tback great, good I found you :)

In 1.2 we will have https support. This will create a http forwarding rule pointing to a target http proxy, promote the ephemeral IP to a static ip, and create another forwarding rule-> target httpS proxy. Is that enough? This way you can first create the Ingress with a tls section (https://github.com/kubernetes/kubernetes/pull/20142), wait for it to get a static

[2016-02-01 16:07] soltysh commented on #20350
Re 1, does it make sense to reject other objects with such label selector, I'm thinking here specifically about RCs, Deployments?

[2016-02-01 16:07] hongchaodeng commented on #20400
@gmarek Can you share the logs?

I confirmed that it also failed on Kubemark. It's caused by high latency (>1s) api requests. In logs, it showed:
[code]

[2016-02-01 16:09] bprashanth commented on #19523
Closing this in favor of https://github.com/kubernetes/kubernetes/issues/20379 which has more context, even though it came after

[2016-02-01 16:09] #19523 closed

[2016-02-01 16:10] derekwaynecarr commented on #18282
@liggitt - I like the approach of an annotation.

[2016-02-01 16:18] bprashanth commented on #12269
I can try, but the reason no one answered for so long is probably because you're following a totally non-standard setup based on a blog post. I'd suggest picking one of the getting started guides (maybe the one for centos http://kubernetes.io/v1.1/docs/getting-started-guides/centos/centos_manual_config.html?) because the community is familiar debugging those problems, and we can git blame the doc

[2016-02-01 16:24] dcbw commented on #20379
@bprashanth looking into it...

[2016-02-01 16:29] AdoHe commented on #7104
@quinton-hoole @cjellick I met the same problem today when I was running `hack/test-go.sh`, and when I run this command: `curl -v -L http://some.non.existent.foobar`, after two 302 responses, I get a 200 response, so the `TestReadConfigData` just failed, guess we should replace the non-existent to a local url which doesn't exist indeed.

[2016-02-01 16:37] AdoHe commented on #20379
I just add more details here, I am testing our network plugin this afternoon, and also noticed that even I am using a exec network plugin, the `TearDown` method will get called twice, I have looked into this problem and just found some tricky parts, I will put more info here when I am on the office later.

[2016-02-01 16:39] timothysc commented on #20400
Do we have a bi-sect?

/cc @ncdc

[2016-02-01 16:59] jdanielcano opened #20420 "Networking. Kubernetes, direct access to a POD port without expose."
Hello,

We are running a cluster of Kubernetes / Docker and we would like to allow to a container to be accessed from an external IP and a random port if the service running in the container, in this case an Apache Tomcat, has establish a connection first with, for example, a database, in this case we do not know the port.
It means, in a not containerized world, we should have something like this

[2016-02-01 17:25] liggitt commented on #20217
deleting the stale service account tokens and letting the controller manager regenerate them should be sufficient. __If you don't have other secrets you care about__, you can do a blanket delete of ALL secrets (`kubectl delete secrets --all-namespaces`).

If you do have other secrets you want to preserve, you'll likely need to do a fieldSelector of "type=kubernetes.io/service-account-token" to lim

[2016-02-01 17:26] linsun opened #20422 "KUBERNETES_CONTRIB=mesos build/run.sh failed on MacOS with sed error"
Following docs:  https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/mesos-docker.md

I was able to run 'KUBERNETES_CONTRIB=mesos make'.  However, 'KUBERNETES_CONTRIB=mesos build/run.sh' failed with sed error below.

Lins-MacBook-Pro-2:kubernetes linsun$ KUBERNETES_CONTRIB=mesos build/run.sh
+++ [0201 11:40:37] Verifying Prerequisites....
+++ [0201 11:40:38] Building D

[2016-02-01 17:49] caesarxuchao commented on #20414
Glad to hear people starting to use the client-gen! It still needs some improvements. The fake clientset is not auto generated, I'll add the automation soon. For now hopefully it's not too much trouble to manually edit it, it should only require adding a method per group.

[2016-02-01 17:52] bgrant0607 commented on #20291
cc @bprashanth

[2016-02-01 17:53] dchen1107 commented on #18969
@gmarek Thanks for #20407. But this is different from what I proposed above. If we want to treat the test regarding node up as performance regression test, and tolerate small number of failed nodes in node, like one out of 10,000 nodes, we should handle it at higher level, like test harness itself, instead of validate_cluster.sh here. Thinking about our scalability test, we only bring up 100 nodes

[2016-02-01 17:53] bprashanth commented on #20291
@AdoHe thanks for the pr

[2016-02-01 18:00] bgrant0607 commented on #6558
With respect to the long-term future of HostIP: I'm in favor of documenting the field as deprecated and asking users to contact us with their use case if they need it (in the API field documentation).

As long as the field exists, I agree we should test that it's set correctly.

[2016-02-01 18:35] nikhiljindal commented on #19254
I ran it more over the weekend

Just the TestList test:
[code]

The whole suite:
[code]

So the test seems to have been fixed for sure.
We just dont know how it got fixed :)

[2016-02-01 18:40] yujuhong commented on #19647
The 0 pods per node test is more sensitive to noise caused by uneven distribution of cluster add-on pods. I adjusted the limits in #20423 to reflect the current kubelet status and also to account for the noise. Ideally we should disable the cluster add-ons in the cluster, but there is no easy way to do this in the current test framework. I think we should consider moving this test with hard limits

[2016-02-01 18:41] dchen1107 opened #20424 "Error handling on node-not-up in kube-up"
Forked from issue: https://github.com/kubernetes/kubernetes/issues/18969#issuecomment-177010714

Today kube-up asks to bring N nodes, and wait for timeout check the number (M) of Ready nodes. If M is not equal to N, kube-up just simply quit. The user has to restart the entire kube-up process from the beginning. This is really a bad user experience. We should add self-healing so that nodes that fai

[2016-02-01 18:48] thockin commented on #16285
Fixed test is #20426 - it's a doozy.

[2016-02-01 18:57] gmarek commented on #18969
@dchen1107 - I'm not really sure what's your question. We set environmental variables in each suite and we'll continue to do so. Whatever we do on the higher level we want to deflake tests, which requires changes in validate-cluster.sh.

I can easily enough write higher-level regression tests that will parse test logs, but we'd need to decide on what exactly our goal is.

[2016-02-01 18:59] gmarek commented on #19647
@yujuhong - actually it is easy to do during cluster startup. We can create a dedicated Node suite and run Node tests there (if it's not done already).

[2016-02-01 19:01] gmarek commented on #20424
I completely agree. The only question is how high is priority for adding this? I doubt it's 1.2 and I'm not sure if we started 1.3 list. @aronchick

[2016-02-01 19:03] freehan commented on #20028
Closing this issue... Reopen if it comes back.

[2016-02-01 19:04] freehan commented on #20028
Closing this issue... Reopen if it comes back.

[2016-02-01 19:04] #20028 closed

[2016-02-01 19:05] thockin commented on #20402
I have restructured this whole test, but not jacked up this timeout.  I'd like to get that PR in and see if this pops up.  I don't think it's reasonable to raise this timeout more.  I think it should be LESS not more.

[2016-02-01 19:05] davidopp commented on #18969
Please please please please please please please please please please please let's stop discussing this on Github. I will schedule an in-person meeting.

[2016-02-01 19:05] thockin commented on #20100
Why is it crashing?

[2016-02-01 19:06] freehan commented on #17284
Closing this issue. Code fix and e2e tested has been merged.

[2016-02-01 19:06] #17284 closed

[2016-02-01 19:07] piosz commented on #20414
@caesarxuchao it's not hard to manually update the fake client, although the script fails with confusing error, so there would be at least great to add a proper error message.

[2016-02-01 19:07] thockin commented on #19953
any thoughts on this?  If the answer is "not until the real fix", that's what we need to know.

[2016-02-01 19:08] thockin commented on #19895
Both PRs are in.

[2016-02-01 19:10] jlowdermilk commented on #18809
This just failed on [kubernetes-test-go-release-1.1](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go-release-1.1/3433/).

[2016-02-01 19:12] thockin commented on #17518
Status on this?

[2016-02-01 19:13] #19561 closed

[2016-02-01 19:14] bprashanth commented on #17518
It's not flaky, there's a pr to promote it: https://github.com/kubernetes/kubernetes/issues/20373

[2016-02-01 19:22] bprashanth commented on #20402
Looked through the logs and it looks like the same drift problem. Difference between when the first and last kube-proxy grab the node port in question (30207) is 8:43:24 -> 8:44:39 (1.15 drift). The 15s seems to be just from them both starting up 15s apart, the 1m

Fast: https://pantheon.corp.google.com/m/cloudstorage/b/kubernetes-jenkins/o/logs/kubernetes-e2e-gce/10740/artifacts/104.197.227.132%3

[2016-02-01 19:23] Random-Liu commented on #19720
Status update:
After update docker to 1.10-rc2, I can't start up the cluster again, with the error:
`docker: error while loading shared libraries: libsystemd-journal.so.0: cannot open shared object file: No such file or directory`

[2016-02-01 19:25] bgrant0607 commented on #19403
@caesarxuchao As for how to change the name: we could use sed to replace the name. Or we could change the namespace.

[2016-02-01 19:25] freehan commented on #16257
#17741 and #19731 has been merged. Closing this issue...

[2016-02-01 19:25] #16257 closed

[2016-02-01 19:29] bgrant0607 commented on #20403
Previous occurrence #13690

[2016-02-01 19:38] saad-ali commented on #19953
I played with a bunch of hacks, like skipping the teardown step if there are pending setups in progress for a given volume. But they all end up destabilizing the system even more. I'm tempted to just implement the "real fix", but that seems like a bad idea to get in at the last minute. I'll keep experimenting, and see if I can get something before Friday, but let's go with "not until the real fix"

[2016-02-01 19:43] janetkuo opened #20430 "kubectl rollout undo should support --dry-run"
Follow up #19835

@kubernetes/kubectl

[2016-02-01 19:47] yujuhong commented on #20100
There are two issue:.
 1. A functioning heapster sometimes takes a while (a few restarts) to become stable. That's what @piosz said in https://github.com/kubernetes/kubernetes/issues/20100#issuecomment-177421654. This could be due to missing dependency (e.g. influxdb) or other issues. One related issue to fix this is #20247. The bottom line, IMO, is that heapster should not crash so often.
 2. A b

[2016-02-01 19:49] bprashanth commented on #19953
Consider flipping this to a "[Feature:PD]" test if you need time, since it sounds like the problem is well understood

[2016-02-01 19:53] #19494 closed

[2016-02-01 19:55] bgrant0607 commented on #17397
Related: #18467

[2016-02-01 19:56] bgrant0607 commented on #18467
Dupe of #17397

[2016-02-01 19:56] #18467 closed

[2016-02-01 19:59] lavalamp commented on #10693
Discovery is the same for all namespaces. The group/version/kind ontology is separate from the cluster/namespace/object ontology, and I think it should stay that way.

[2016-02-01 20:01] bgrant0607 commented on #17397
Related: #12640

[2016-02-01 20:19] #17524 closed

[2016-02-01 20:20] ixdy commented on #17524
Closing as "mystery still not solved".

[2016-02-01 20:33] yujuhong commented on #19647
@gmarek, we actually just started node conformance tests in http://kubekins.dls.corp.google.com/view/Node/, which one of the v1.2 targets.
It seems like this test might be a good fit there. cc @pwittrock will know more about porting/migrating tests to the node conformance suites.

[2016-02-01 20:40] vishh commented on #19720
Are we using the official debian package for rc2? If yes, can you file an issue against docker for this?

[2016-02-01 20:51] dchen1107 commented on #19720
Looks like docker 1.10-rc2 adds a dependency to libsystemd-journal0 (>= 201) which is not required by docker 1.10-rc1

[2016-02-01 20:52] ixdy commented on #20367
cc @david-mcmahon

[2016-02-01 20:57] davidopp commented on #20400
Removing flake label since this is not a flake. Leaving P0 since this is definitely P0.

[2016-02-01 20:59] timothysc opened #20434 "Default ports and permissions on e2e test containers."
Currently openshift has a different security model applied to containers see: https://docs.openshift.com/enterprise/3.0/architecture/additional_concepts/authorization.html#security-context-constraints as well as https://docs.openshift.com/enterprise/3.0/admin_guide/manage_scc.html.

When running a number of test containers, they open default ports e.g. 80 , and in our env we will often encounter i

[2016-02-01 20:59] lavalamp commented on #19435
OK, #20433 fixes this two different ways.

[2016-02-01 21:00] timothysc commented on #20434
xrefs: https://github.com/kubernetes/kubernetes/pull/12221 , https://github.com/openshift/origin/issues/6882

[2016-02-01 21:01] davidopp commented on #20417
I believe this is already implemented in #12384

[2016-02-01 21:05] jlowdermilk commented on #20096
Potentially related: GKE soak tests started timing out last friday with node readiness problems

[code]

See [kubernetes-soak-continuous-e2e-gke](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-soak-continuous-e2e-gke/)

[2016-02-01 21:09] dcbw commented on #20379
I've attempted to trace the pod killing behavior of Kube from the logs above and I think there's simply some race in Kube that docker manager.go::KillPod() to be called twice.

A possible analysis is this:

1) the API SET (setting pods for source api) triggers an event
2) the event makes syncLoopIteration() run (SyncLoop (UPDATE, "api"))
3) pod_worker.go/UpdatePod() is called and sends the update

[2016-02-01 21:10] Random-Liu commented on #19720
Yeah, I'm using the official debian package for rc2 from http://apt.dockerproject.org/repo/pool/testing/d/docker-engine/

[2016-02-01 21:13] dchen1107 commented on #19647
Yes, one of the reasons we create a separate node test suite is moving this kind of test over. Let's try to move all node level resource tracking tests over to node test suite.

[2016-02-01 21:15] Random-Liu commented on #19720
FYI, I found a similar issue for docker 1.9.1 https://github.com/docker/docker/issues/19230.

[2016-02-01 21:17] wstrange commented on #20417
Hi David

From what I can see looking under cluster/gce/*, the minions are preemptible, but not the master.

Probably off topic for this bug, but would also love to see preemptible for GKE :-) I did raise that issue on the mailing list.

[2016-02-01 21:17] dcbw commented on #20379
@aanm would you be able to reproduce the issue with a higher Kube log level?  level 5 would be great.

[2016-02-01 21:18] bprashanth commented on #20379
@kubernetes/goog-node IIRC management of a pod is centralized in the podworker, which processes updates sequentially.

[2016-02-01 21:23] aanm commented on #20379
@dcbw The infra container is being called once, the non infra container is being called twice. I thought the maximum was level 4. Anyway this is the output with log level 5.

[code]

[2016-02-01 21:27] ihmccreery commented on #18952
This test is still failing in the `-flaky` suites, due to out-of-quota for static addresses.  I cleaned up the quota and will monitor (there are 4 addresses in the project `k8s-jkns-e2e-gce-flaky` as of now).

[2016-02-01 21:27] dchen1107 commented on #19720
No the problem is from our recent debian backport images on which we build containervm-image:

The following packages have unmet dependencies:
 docker-engine : Depends: libsystemd-journal0 (>= 201) but 44-11+deb7u4 is to be installed
                 Recommends: cgroupfs-mount but it is not going to be installed or
                             cgroup-lite but it is not installable

[2016-02-01 21:29] kargakis opened #20435 "kubectl rollout commands should support multiple resources"
@kubernetes/kubectl

[2016-02-01 21:30] linsun opened #20436 "Getting "cannot enable tty mode on non tty input" when running mesos/ci/test-smoke.sh"
$ ./contrib/mesos/ci/test-smoke.sh -v=2

Cleaning work dir
/usr/local/bin/docker
cannot enable tty mode on non tty input
exit status 1

I worked around this by removing -t in the docker run below.  I'm using docker-machine, docker cli, etc installed from 1.9.1 docker toolbox with OS X 10.10.4.   Wanted to open a bug to see if we should push this change to the build script:  contrib/mesos/ci/run-wi

[2016-02-01 21:30] lavalamp commented on #19254
OK. I think your desktop is not going to be able to reproduce the failures, but I'm not convinced another system won't... ;) Let's close this, and if we see another instance we will just have to put our detective hats on and study the log/stack trace.

[2016-02-01 21:30] #19254 closed

[2016-02-01 21:31] slackfarmer commented on #18230
I had the exact same issue. It is the docker command causing this issue and by changing the permissions via `chmod 666 /dev/pts/ptmx` resolved my issue without a reboot.

[2016-02-01 21:32] kargakis opened #20437 "kubectl rollout pause/resume can use PATCH"
`pause`/`resume` just switch .spec.paused in deployments, a field that no other component currently touches. They could use PATCH instead of PUT to reduce conflicts.

@kubernetes/kubectl

@bgrant0607 this is the second issue

[2016-02-01 21:32] erictune commented on #15985
Based on experience with supporting several users in the last week, I now think it is essential to add Job "generating a unique label by default #12298".  After more thought, I think the best way to add is with a breaking API change, which I will explain in that issue.  That means that Job needs one more change before graduation.  Reopening.  I plan to have this in by end of week.

[2016-02-01 21:33] ihmccreery commented on #18952
Also with #20098 in, if this test seems to be going well for a couple of days, I'll promote it out of `[Flaky]`.

[2016-02-01 21:33] qoke commented on #3760
@MikaelCluseau we use the default IPVS behaviour, which does some very light-weight UDP "stickyness"...

-- Quoted from http://kb.linuxvirtualserver.org/wiki/IPVS

Of course, this only works if you have many clients talking to a single service, or a single client with varying source ports. If you have a single high-volume client, all sending traffic from the same source port, and you want to load

[2016-02-01 21:33] awan1 commented on #16737
I'm seeing this issue with doing a [simple rolling update](http://stackoverflow.com/a/30194982/2452770), where I'm just changing the image being used. I wasn't able to figure out if this is a problem being resolved in this issue, or if the work done to close this issue will require me to use Deployments rather than doing a CLI `rolling-update`. Could someone clarify?

[2016-02-01 21:34] erictune commented on #12298
I am going to do this for 1.2.

[2016-02-01 21:37] Miciah commented on #20078
I would use `:cq` in Vim.  It looks like the Emacs equivalent is `M-;` `(kill-emacs 1)` (maybe I'm missing some simpler way—I'm not very proficient with Emacs).

[2016-02-01 21:40] MikeSpreitzer commented on #17677
I think I may have worked it out.

[2016-02-01 21:40] smarterclayton commented on #20078
Humorously, proof this used to work is the comment at the top of the editable section:

[code]

[2016-02-01 21:46] roberthbailey commented on #20418
I've investigated the first failure (`Pods should be restarted with a docker exec "cat /tmp/health" liveness probe [Conformance]`) and the logs are pretty useless:

1. I just found (but apparently this was somewhat common knowledge) that any timestamps printed when you use `By(...)` in tests show the time for when the test ended, so you can't see when each step ran.
1. The timestamps for all of th

[2016-02-01 21:48] BugRoger commented on #19437
I'm sure this is my ignorance but i'm still seeing the bug described here.

Running `hack/update-codecgen` generates types which get rejected by `hack/verify-codecgen`. Obviously also Travis doesn't like them. This is on a branch which does have API changes in it.

Comparing `update-codecgen` and `verify-codecgen` leads me to believe that the code generator produces different code depending on whe

[2016-02-01 21:49] Random-Liu commented on #20379
I haven't gone through all the logs yet. But indeed there is a race between kubelet pod killer and pod worker when killing pod, so it is possible that a pod is killed more than once.

[2016-02-01 21:50] awan1 commented on #16737
Also, is there a way to enable the Deployments API when [creating a cluster container](https://cloud.google.com/container-engine/docs/clusters/operations#creating_a_container_cluster) on GKE? I couldn't figure out how to apply the [enabling Deployments](http://kubernetes.io/v1.1/docs/user-guide/deployments.html#enabling-deployments-on-kubernetes-cluster) instructions to GKE clusters.

[2016-02-01 21:52] BugRoger commented on #18907
I'm sure this is my ignorance but i'm still seeing the bug described here on Linux, Go 1.5.3.

Running hack/update-codecgen generates types which get rejected by hack/verify-codecgen. Obviously also Travis doesn't like them. This is on a branch which does have API changes in it.

Comparing update-codecgen and verify-codecgen leads me to believe that the code generator produces different code depen

[2016-02-01 21:59] roberthbailey commented on #20418
Most of the remaining tests failed because the test pod didn't start within 5 minutes. For the last few, there are errors saying that the Kubelet isn't ready: `INFO: Condition Ready of node gke-jkns-gke-e2e-ci-6ab6c4e9-node-g4b1 is false instead of true. Reason: KubeletNotReady, message: ConfigureCBR0 requested, but PodCIDR not set. Will not configure CBR0 right now`

[2016-02-01 22:00] dcbw commented on #20379
@bprashanth unfortunately the podworker is not the only place delete gets triggered from.  While syncLoopIteration() is indeed synchronous, it just stuffs events into a couple separate channels that are read from other goroutines that can certainly race with each other:

HandlePodDeletions/HandlePodCleanups - both add dead pods to podKillingCh which is consumed by podKiller() which is a goroutine

[2016-02-01 22:01] nikhiljindal opened #20443 "Provide auth as a cluster service"
Forked from discussion in https://github.com/kubernetes/kubernetes/pull/17191

In the final proposal, each federated api server will do auth for the requests they get, but the auth mechanism has to be same across all servers in the cluster (so that clients can contact them via proxy). More details: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/federated-api-servers.md#auth

H

[2016-02-01 22:06] dcbw commented on #20379
Looks like separate pod killing got split out by b906e34576d73a227e751301d1850bc95758ef58 due to performance reasons since pod killing can take a long time.

[2016-02-01 22:07] alex-mohr opened #20445 "GET componentstatuses fails on 1000 node cluster on gce:"
In testing a 1000 node cluster with single master, attempting to health-check the cluster results in errors.

Fetching https://104.155.220.201/api/v1/componentstatuses gives:
429 Too Many Requests 429 HTTP/1.1 1 1 map[Content-Length:[43] Content-Type:[text/plain; charset=utf-8] Date:[Mon, 01 Feb 2016 21:44:14 GMT] Retry-After:[1]]

That consistently happens with both 1.1.7 and 1.2.0-alpha.6.  Look