[2022-03-16 03:53] V0idk commented on #108718
/sig node
/sig network

[2022-03-16 04:01] firewiththeflames opened #108719 "Removal of dockershim in 1.24 is breaking change, bump major version"
### What happened?

Removal of dockershim in 1.24 has potential to break clusters. This is not minor version change

### What did you expect to happen?

Bump of major version

### How can we reproduce it (as minimally and precisely as possible)?

N/A

### Anything else we need to know?

_No response_

### Kubernetes version

[](https://semver.org/#summary)[](https://semver.org/#introduction)Semant

[2022-03-16 04:02] RA489 commented on #100695
/remove-lifecycle stale

[2022-03-16 04:40] Kartik494 commented on #108622
HI @chenhong0129  i have checked it in my environment, pod got delete successfully for me .

[2022-03-16 04:44] Kartik494 commented on #108622
Please find below outputs:

kubectl get pods -n test
NAME                      READY   STATUS    RESTARTS   AGE
test-rs-55758c8f9-5wljj   1/1     Running   0          3m57s

 kubectl get deployments -n test
NAME      READY   UP-TO-DATE   AVAILABLE   AGE
test-rs   1/1     1            1           4m32s

kubectl delete pod test-rs-55758c8f9-5wljj -n test
pod "test-rs-55758c8f9-5wljj" deleted

After

[2022-03-16 04:53] divyenpatel commented on #84226
We have a customer running into detach/delete race with the in-tree plugin.
The fix is only available for CSI customers. Can we fix this issue for the in-tree volume plugins as well?
Customer is not yet ready to move the production workload to CSI.

cc: @xing-yang @msau42 @jsafrane

[2022-03-16 05:05] ashok-arora commented on #108719
/sig release

[2022-03-16 05:08] theAkito opened #108720 "PVC not detecting PV without claimRef"
### What happened?

I have a simple single-node Kubernetes cluster. Nothing out of the ordinary. Straight, by the book standard installation.

I installed the following Helm Chart.

https://github.com/bitnami/charts/tree/master/bitnami/postgresql

I did that already a couple of times.

I created a PV for the PostgreSQL StatefulSet containing the pod accessing the PV.

As usual, I copied over the P

[2022-03-16 05:12] jyotimahapatra commented on #108357
@justaugustus I'm from the bug triage team. I wanted to check if there are more tasks needed to track this to closure. Looks like https://github.com/kubernetes/kubernetes/pull/108480 is merged already.

[2022-03-16 05:19] jyotimahapatra commented on #82531
Hi @liggitt 👋 . I'm checking in from bug triage team. Is this issue being targeted for 1.24 milestone?

[2022-03-16 05:37] yangjunmyfm192085 commented on #108718
@V0idk, From your description, there is a problem with pinging from 10.200.1.1 of node A to pod ip 10.200.2.4 of node B. Don't have a network plug-in, do you directly use docker cni0 to communicate? Is there a route to 10.200.1.1 in the pod of node B (or is there a default route)？

[2022-03-16 05:39] frasertweedale commented on #97149
/reopen
/remove-lifecycle rotten

Resurrecting this issue as I (yes after a long time) submitted a KEP: https://github.com/kubernetes/enhancements/pull/3242

[2022-03-16 05:53] Jungzhang opened #108722 "Create deployment and get deployment apiVersion is inconsistent"
### What happened?

I have a nginx.yaml and use `kubectl applf -f nginx.yaml` create a deployment. The yaml file is:

[code]

My yaml file set apiVersion is `apps/v1`, but I use `kubetctl get nginx-deployment` get apiVersion is `extensions/v1beta1`. The kubectl print is:

[code]

### What did you expect to happen?

The kubectl result and my yaml apiVersion consistent.

### How can we reproduce it

[2022-03-16 05:55] davidstack commented on #107543
@jlsong01  my cluster is 1.20.5.  the key ops is
`then quickly taint the node again (within one minute ) `

[2022-03-16 05:56] Jungzhang commented on #108722
/sig cli

[2022-03-16 06:10] chenhong0129 commented on #108622
Personally, it has nothing to do with updating. We just update the image version of the resource.
This is an occasional problem, According to the test experience, it is easy to reduce the problem when the environment runs for a long time.   What I don't understand is why the mounted directory is not mounted but not empty? I've tried to construct this situation myself:
First, when the pod status is

[2022-03-16 06:11] V0idk commented on #108718
yes, route is ok. the problem is why k8s iptables drop packet from other nodes?

[code]

[2022-03-16 06:25] V0idk commented on #108718
Hi， after remove docker (apt remove docker.io) and reboot,  i don't know why but it‘s working now
@yangjunmyfm192085

[2022-03-16 06:25] #108718 closed

[2022-03-16 06:27] jlsong01 commented on #108722
It can not be reproduced in my cluster with v1.21.0

could you try it with newer version or consider upgrading?

[2022-03-16 06:31] yangjunmyfm192085 commented on #108718
My guess is that docker marked the FORWARD option with: FORWARD DROP. Anyway, your problem is solved.

[2022-03-16 07:12] Jungzhang commented on #108722
@jlsong01 It looks like a k8s version problem. Thanks.

[2022-03-16 07:12] #108722 closed

[2022-03-16 08:25] LinTechSo commented on #62099
Hi all,  got any solution for this?

[2022-03-16 08:38] endocrimes commented on #108719
/kind support
/remove-kind bug
/sig node

[2022-03-16 08:48] endocrimes commented on #108707
Duplicate of https://github.com/kubernetes/kubernetes/issues/108040

/close

[2022-03-16 08:49] #108707 closed

[2022-03-16 08:50] mborsz opened #108726 "kubelet's requests are reported as 'Go-http-client/2.0'"
### What happened?

It looks like kubelet started using generic user agent like "Go-http-client/2.0" and makes it harder to attribute the request to kubelet.

In the past we have used "kubelet" user-agent which was providing some value.

Sample logs: https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gci-gce-scalability/1503729543293177856/e2e-big-master/kube-apiserver.log
[code

[2022-03-16 08:58] pacoxu commented on #108720
/sig storage

[2022-03-16 08:59] endocrimes commented on #108689
/remove-kind bug
/kind feature

It could be helpful to indicate arch in some way but this is populated by the CRI implementation rather than by Kubernetes itself - so isn't particularly straightforward to think about changing.

cc @mikebrow in case he has any suggestions

[2022-03-16 09:03] mborsz commented on #108715
kube-scheduler:

[code]

kube-apiserver:

[code]

[2022-03-16 09:04] yangjunmyfm192085 commented on #108726
/sig node

[2022-03-16 09:09] mborsz commented on #108715
Comparison of https://prow.k8s.io/prowjob?prowjob=bd9b46b8-a45e-11ec-b169-5a15552f8ec8 and https://prow.k8s.io/prowjob?prowjob=6c975cba-a466-11ec-b169-5a15552f8ec8 shows no diff (other than uuid/timestamp changes).

[2022-03-16 09:11] mborsz commented on #108715
https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gci-gce-scalability/1503729543293177856/e2e-big-minion-group-wlt8/containerd.log

[code]

[2022-03-16 09:12] mborsz commented on #108715
Looks like the issue is on containerd level. It's interesting as we do not see any k8s change/prow job configuration change.

[2022-03-16 09:18] Argh4k commented on #108715
For both healthy/unhealthy run we use the same containerd
[code]

[2022-03-16 09:30] pacoxu commented on #108726
The default user agent name is generated like below.
https://github.com/kubernetes/kubernetes/blob/9c97ae286c4dbce137a35fdb3dd79dd2866e71f8/staging/src/k8s.io/client-go/rest/config.go#L498-L506

I am using v1.23.4 and the user agent can show kubelet as the user agent.

[2022-03-16 09:34] matti commented on #54482
workarounding this by abusing "role" so that I can ignore hostname and just look at roles for example in Lens:

<img width="1950" alt="image" src="https://user-images.githubusercontent.com/3893/158560150-5710bf73-18f5-4dd3-98c7-5d2650163dfc.png">

hack here:
https://github.com/matti/k8s-node-watchdog/blob/cd8733d3a82f8b917685c9d906f74595a7bae97b/app/entrypoint.sh#L56-L71

[2022-03-16 09:49] Argh4k commented on #108715
For healthy run:
[code]

For unhealthy run:
[code]

[2022-03-16 10:15] Joseph94m commented on #90158
@neolit123 Hi. Pretty sure I should re-open this issue instead of creating a new one (let me know if this needs a new issue with more details). As per [documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/), installing kubeadm, kubelet and kubectl on rhel releases (el7) using the following configuration where K8S_VERSION=1.19.15

[code]

Results in t

[2022-03-16 10:16] denkensk commented on #91492
I'd like to enhance it in v1.25. @ahg-g  😄

[2022-03-16 10:25] s-urbaniak commented on #108298
@kapiljain1989 sure thing, once https://github.com/kubernetes/kubernetes/pull/106454 is finally merged, you are welcome to contribute :-)

[2022-03-16 10:37] ahg-g commented on #91492
sg :)

[2022-03-16 10:52] dims commented on #108719
thanks for the suggestion @firewiththeflames we will not be doing this at this time.

/close

[2022-03-16 10:52] #108719 closed

[2022-03-16 10:55] Argh4k commented on #108715
Presubmit that uses the same configuration is passing:
![image](https://user-images.githubusercontent.com/22557451/158574468-ec3d7bfa-1d0e-44b3-bf89-d2b543227acb.png)

[2022-03-16 11:31] Nivedita-coder commented on #107530
CI Signal shadow here, still observing flaky behavior.

[2022-03-16 12:01] neolit123 commented on #90158
I did not try such an old version though. Make sure the issue is reproducible with 1.21+

[2022-03-16 12:34] xing-yang commented on #84226
cc @jingxu97 @gnufied

[2022-03-16 12:34] xuchen-xiaoying commented on #108556
@logicalhan hi, We also meet the same problem.

In stress test when pods are created in high throughput, latency until scheduler observe pod creation becomes very high. So when scheduler starts to schedule, the pod may already has been created before 20 seconds ago.

We want to find a metric to reflect the broadcast latency of watch event. Currently distributed tracing in Kubernetes is hard to imp

[2022-03-16 12:42] mborsz commented on #108715
https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gci-gce-scalability/1503729543293177856/e2e-big-minion-group-wlt8/kubelet.log contains the answer:
[code]

[2022-03-16 12:44] rittneje commented on #108708
There are more discrepancies between the two. Client-side apply allows the same env var to appear multiple times. Server-side does not. For example:
[code]

Also, there is a clear bug in server-side apply, because it never respects reordering. First server-side apply this:
[code]
And then server-side apply this:
[code]

Then run `env` inside the container. The value of `FOO` will be reported as `$

[2022-03-16 12:46] mborsz commented on #108715
OK, it looks like we found a root cause.

The question is why we haven't caught this as part of presubmit (which runs the same test as periodic)?

[2022-03-16 12:49] Argh4k commented on #108715
It looks like we have additional argument in periodic configuration compared to presubmit
[code]
which triggered the issue in periodics. We should align their configurations.

[2022-03-16 12:50] serathius commented on #107049
/remove-lifecycle stale
/cc @pohly

[2022-03-16 12:51] serathius commented on #107049
/help

[2022-03-16 12:51] sanposhiho commented on #105291
/remove-lifecycle stale

[2022-03-16 12:55] Argh4k commented on #108715
https://github.com/kubernetes/test-infra/issues/25647 was created for that.

[2022-03-16 13:22] nneram commented on #62821
@MHBauer This flag is used by kubectl for timeout when their is no pod at all. It's calling a function that is attaching a pod given an object (here pod name I guess), but if the pod doesn't exist their is a timeout with a default value:

https://github.com/kubernetes/kubernetes/blob/f06baf9f36a5d973ad84779bbca44f2fb4a93483/staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go#L97

https:/

[2022-03-16 13:31] #108355 closed

[2022-03-16 13:34] Joseph94m opened #108732 "[el7, yum] Signature could not be verified for kubernetes"
### What happened?

reposting following @neolit123 's suggestion : [90158](https://github.com/kubernetes/kubernetes/issues/90158#issuecomment-1068956071)

As per [documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/), installing kubeadm, kubelet and kubectl on rhel releases (el7) using the following configuration where K8S_VERSION=1.21.10 (also trie

[2022-03-16 13:34] Joseph94m commented on #108732
/sig release

[2022-03-16 13:38] gautierdelorme opened #108733 "Waiting containers are marked as Terminated on pod failure"
**What happened**:

A pod failed due to an initContainer failure and the main container was marked as `Terminated`:

[code]

**What you expected to happen**:

The main container should stay in `Waiting` since it hasn't started (as described [in the docs](https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-state-terminated): "_A container in the Terminated state began execut

[2022-03-16 13:39] Joseph94m commented on #108732
In the past, we experienced some similar failures while setting up kubernetes on el7 machines (some centos 7 mirrors were down, sometimes ovh network), but it was never consistently failing.

Right now, I've been experiencing these failures consistently every run since about friday last week

[2022-03-16 14:21] gautierdelorme commented on #108733
Seems like https://github.com/kubernetes/kubernetes/pull/108366 might fix this regression as mentioned by @smarterclayton in https://github.com/kubernetes/kubernetes/pull/108366#issuecomment-1063278740.

[2022-03-16 15:06] liggitt commented on #82531
no, will move to 1.25. go1.18 added support for go workspaces, which might be helpful here (@thockin is carving up the make logic gradually, but that will not complete in 1.24)

/milestone v1.25

[2022-03-16 15:17] TeddyAndrieux opened #108737 "kube-proxy: We should be able to override bind addresses for healthz and metrics"
### What happened?

When we use config for kube-proxy we cannot override the bind addresses for healthz and metrics.

### What did you expect to happen?

I expect the kube-proxy CLI argument to override the value from the configuration file.

### How can we reproduce it (as minimally and precisely as possible)?

A typical use case is, I want to expose the kube-proxy metrics only on the host IP, th

[2022-03-16 15:35] logicalhan commented on #108556
This is not going to work the way you envision because we have this thing called a watch cache and it will keep items in apiserver memory to serve watches quickly. If we were doing what you suggested, then you could end up with high latency measurements for items that entered the watch cache earlier but a watch was initiated later, when the watch latencies would in actuality be fast.

[2022-03-16 15:39] TeddyAndrieux commented on #108737
/sig network

[2022-03-16 16:09] Shreekant1997 opened #108739 "Multiple pods creating random output."
Hi Team,

I am facing issue with the multiple instances of the pods running. So I have an application inside pods that publishes different value to my UI ( Constantly, unless I change the request or stop taking the response) as I request. I have all the communication in place and my entire setup runs perfectly fine with single replicas. But as soon as I move to multiple replicas my entire setup st

[2022-03-16 16:10] markus-wa commented on #108719
how come @dims ?

[2022-03-16 16:15] gjkim42 commented on #88613
The problem is that a pod after activeDeadlineSeconds goes into the `PodFailed` phase before all containers are killed.
And the other parts of the kubernetes think that the containers of the pod with `PodFailed` phase are already killed (so they think that the pod can be deleted immediately).

https://github.com/kubernetes/kubernetes/blob/525b8e5cd6d410034058397b282386f21cbc2f20/pkg/kubelet/kubele

[2022-03-16 16:27] Davidian1024 commented on #79224
I would also like this to be reopened.

[2022-03-16 16:31] natalisucks commented on #104007
Major apologies on the delay here, folks. Heketi maintainers ([as mentioned here](https://github.com/heketi/heketi/issues/1871)) are ready to look at a PR for this change, and I'm soon to create issues in the other two repositories. Will link once created.

[2022-03-16 16:47] Excpt0r opened #108741 "Misleading behaviour of pod deletion with --force --grace-period 0 flags"
### What happened?

The situation is pretty good described in a comment [here](https://github.com/kubernetes/kubernetes/issues/86914#issuecomment-571931346).
The kubectl flag names "--force" and "--grace-period" and corresponding help indicate an IMMEDIAT deletion of the pod and kill of corresponding containers.

Actual behaviour:
- The kube api ressource is deleted immediatly
- The corresponding

[2022-03-16 17:17] aojea commented on #108737
this has been discussed so many times that I honestly lost track current status, there was one time all the flags were going to be deprecated :smile: IIRC

https://github.com/kubernetes/enhancements/pull/2158#discussion_r616788544

current situation is kube-proxy config take precedence over flags

[2022-03-16 17:32] haircommander commented on #106957
@Neraud openshift seems to have hit this case a couple of times and digging into some bugs leads me to *think* it will be fixed with https://github.com/kubernetes/kubernetes/pull/106473/commits/25cf49770c8a91a837aa7e791eb2b177305d9610 and kube 1.24. can you try one of the kube alpha releases? cri-o 1.23.1 should do, or you can try the main branch

[2022-03-16 17:33] haircommander commented on #106957
it's possible it's unrelated, but https://bugzilla.redhat.com/show_bug.cgi?id=2040399 is why I am making this guess

[2022-03-16 17:37] Excpt0r commented on #108741
/sig cli

[2022-03-16 17:43] SergeyKanzhelev commented on #108588
/remove-sig node
/sig network
/remove-kind bug
/kind documentation

[2022-03-16 17:50] SergeyKanzhelev commented on #106083
/triage accepted

Need to understand the root cause as we already have similar issues that may have cAdvisor or inode exhaustion as a root causes.

This may be related to https://github.com/golang/go/issues/47390

[2022-03-16 17:51] SergeyKanzhelev commented on #108555
/remove-sig node

[2022-03-16 17:58] SergeyKanzhelev commented on #90298
/triage needs-information

couple questions:
- does it still repro on latest (spported) kubelet versions?
- does this repro for siginificant time shifts or 1 minute will be enough to trigger? If it only breaks for a big time shifts, it is likely not a supported scenrio

[2022-03-16 18:00] aojea commented on #108588
I'm a bit confused con this sentence, can you please elaborate?
`kubectl` is just an implementation of the API ...

[2022-03-16 18:30] knabben commented on #106718
So for running Windows tests (with 1+ windows nodes) it's REQUIRED to have at least one non-tainted Linux box?

[2022-03-16 18:43] knabben commented on #105815
/remove-lifecycle rotten

[2022-03-16 19:18] atiratree commented on #107333
@brianpursley It should be correct since the byte start of tail (part of implementaion of initReadFrom) and bytes read match. Meaning that when we read 10 bytes we want to start reading 11th one.

The actual problem was that we were running a wrong command when -1 retries is used: please see https://github.com/kubernetes/kubernetes/pull/108748

[2022-03-16 19:36] #100388 closed

[2022-03-16 19:51] dashpole commented on #108551
Looks like audit logging is done via the lumberjack package: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/audit.go#L518.  https://github.com/natefinch/lumberjack.

In your log lines above, how do you know a line is missing?

[2022-03-16 20:38] bobbypage commented on #108594
/assign

[2022-03-16 20:48] TeddyAndrieux commented on #108737
Ok but here it's not only "precedence" since even if the bind addresses are not defined in the config, the flags are still ignored.
And only using config we cannot easily bind on the node IP since the config map is shared for all the cluster

[2022-03-16 20:57] aojea commented on #108737
if the addresses are not defined, they are defaulted ... so they are always "defined" if not by the user, they are by the kube-proxy itself

https://github.com/kubernetes/kubernetes/blob/5c8c1f43fa6fb1eaf00615878c0a7417b9cfc4ce/pkg/proxy/apis/proxyconfig/v1alpha1/defaults.go#L35-L46

yeah, I remember someone reporting this problem too but I think he found a way to solve it, let me try to find the

[2022-03-16 21:16] guettli commented on #66924
Just for the records, I opened a new issue at the bugtracker of busybox: https://bugs.busybox.net/show_bug.cgi?id=14671

[2022-03-16 21:29] RichardoC commented on #108588
Sorry, yes, what I mean is the API calls that kubectl's using don't seem to be documented in the API one pager and there's no explanation of what behaviour it's using

[2022-03-16 21:53] aojea commented on #108588
you mean here?

https://github.com/kubernetes/kubernetes/blob/52ab081283cb6759ac198e141b30caf9b633688b/staging/src/k8s.io/kubectl/pkg/cmd/portforward/portforward.go#L409-L415

the magic happens here
https://github.com/kubernetes/kubernetes/blob/52ab081283cb6759ac198e141b30caf9b633688b/staging/src/k8s.io/client-go/tools/portforward/portforward.go#L41-L56

[2022-03-16 21:59] jiahuif opened #108755 "Include built-in values in OpenAPI schema"
### What would you like to be added?

A mechanism to better document fields that accepts a set of built-in values besides any value.

### Why is this needed?

Many fields of our current API types accept both built-in and custom values. For example, [PodConditionType](https://github.com/kubernetes/kubernetes/blob/v1.23.4/staging/src/k8s.io/api/core/v1/types.go#L2639) can be any of `PodScheduled`, `

[2022-03-16 21:59] jiahuif commented on #108755
/cc @liggitt

[2022-03-16 21:59] jiahuif commented on #108755
/sig api-machinery

[2022-03-16 22:42] Neraud commented on #106957
I'm used to installing a cluster using Debian packages, so it took me a few tries to have a working v1.24 cluster.

I followed the "Without a package manager" [documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) to install from the binaries.

I used Kubernetes `v1.24.0-alpha.3` and CRI-O `1.23.1`.

[code]

I'm not certain everything is working fin

[2022-03-17 03:12] quydox commented on #87225
Hello, I got the same error

Error: cannot find volume "default-token-hthld" to mount into container "api"

It show as warning so service still running

How can you fix this?

Version: 1.20

Thanks,

[2022-03-17 03:26] l1b0k commented on #90298
hi  @[SergeyKanzhelev](https://github.com/SergeyKanzhelev)

1. easy reproduce on latest version
2. 1 minute will be enough to trigger , influence time depends on how long the time shifts.This will recover when time back to now.

This may not concider importent as most user use k8s in cloud , which have ntp configered already.
As my recall , i suffer this as we deliver k8s cluster in a all-in-one s

[2022-03-17 04:10] wangyuan0916 commented on #108551
Hi @dashpole , thank you for your reply!
I found the stageTimeStamp of last massage in previous file is 2022-03-03T14:28:05.235132Z, the first time is 2022-03-03T15:09:03.727966Z in next file.

[2022-03-17 05:57] #62046 closed

[2022-03-17 06:09] liyipeng137 opened #108760 "about kernel oom-killer and cgroup oom"
I limit the memory to 4G, the pod are frequently kernel  oom-killer,I got this information from messages logs
[code]

kernel: memory: usage 4194304kB, limit 4194304kB, failcnt 6553
It looks like the pod  use memory to 4G really

but  my  prometheus shows it only uses 2G ,and then it was be killed  by oom-killer  not cgroup

![oom-killer](https://user-images.githubusercontent.com/73690542/158746903

[2022-03-17 06:45] TeddyAndrieux commented on #108737
Yes sure but to me, those default should come after flags.

A way to solve it, to me something is doable by using an init container that will basically write the kube proxy config but it's sad to need that kind of approach just to set the bind addresses.

I agree that it does not necessarily make sense to provide flags for all config args, but it makes sense to provide some flags for instance spec

[2022-03-17 07:01] aojea commented on #108737
Or settings the bind address to 0.0.0.0 in the configuration

It's like the hostnameOverride this one could be set in the config but we need to have it as a flag as well, and it's what we have today and I think we will keep it

The problem I see here is that flags allow to use dynamic values automatically, and configuration does not, that leaves us with only one choice as you are saying.

@neolit1

[2022-03-17 07:16] pmgk07 commented on #60338
@raphminkyu Sorry for the late reply on this PR. Yes, that looks good enough.

So far these are the files that are in need of refactoring. I grepped on "runtime.GOOS" occurences, might have some false positives.

- pkg/kubelet/cm/devicemanager/manager.go
- pkg/kubelet/kuberuntime/kuberuntime_sandbox.go
- pkg/kubelet/kubelet_test.go
- pkg/kubelet/pluginmanager/pluginwatcher/plugin_watcher.go
- pkg/

[2022-03-17 07:20] #102718 closed

[2022-03-17 07:24] TeddyAndrieux commented on #108737
It's not a solution to me, I do not want to expose metrics on all IPs.

TBH I really don't get why we would keep `hostnameOverride` as a flag and not the bind addresses

[2022-03-17 07:49] TeddyAndrieux commented on #108732
+1, to "workaround" it you can disable `repo_gpgcheck` but I agree that it should be fixed either by updating the documentation or fixing the signature

[2022-03-17 07:51] vanthony022 opened #108762 "Security group of my db Loadbalancer automatically changed to 0.0.0.0/0(worldwide) by clusterRole(i.e eks ClusterRole))"
I'm using EKS version : 1.18,

Steps:
1.I created my database service with Loadbalancer type
2.I gave the security group rule permission to my company ip xx.xx.xx.xx/32
3.I find the that security group changed to worldwide 0.0.0.0/0 again and again.
4.From cloud trail, it showed clusterRole is changed the securitygroup to 0.0.0.0/0 it automatically.

pls let me know the solution
this is critical

[2022-03-17 08:59] teji8895 commented on #73056
Was struggling with this for one month.
For me it was the kubectl version . was v1.10.0
Change the client version same as server version i.e v1.21.0

this made the container not to exit abruptly in 15 minutes.

[2022-03-17 09:08] aojea commented on #108762
This seem an EKS problem or a problem in their cloud-provider controller

[2022-03-17 09:27] aojea commented on #108737
yeah, I was trying to provide a workaround meanwhile we sort out the other problem :)
I agree that seems an incongruence ... but there seems a lot of history on the kube-proxy config/flag I don't have context, I can find a lot of issues and discussions about it but no clear reference to this

[2022-03-17 09:34] mborsz commented on #108726
Interesting... in https://storage.googleapis.com/sig-scalability-logs/ci-kubernetes-e2e-gci-gce-scalability/1503729543293177856/e2e-big-master/kube-apiserver.log I see both kubelet user agent and "Go-http-client/2.0":

[code]

[code]

Moreover, it looks like "kubelet" user agent is used only for events-related calls and other (like leases) are using "Go-http-client/2.0".

[2022-03-17 09:36] MadhavJivrajani commented on #108760
/sig node

[2022-03-17 10:13] vaibhav2107 commented on #106919
/remove-lifecycle stale

[2022-03-17 10:14] vaibhav2107 commented on #106735
/remove-lifecycle stale

[2022-03-17 10:16] vaibhav2107 commented on #106682
/remove-lifecycle stale

[2022-03-17 10:16] kerthcet commented on #106886
/remove-lifecycle stale

[2022-03-17 10:25] TinySong commented on #108760
@LiYiPeng-1 L Please provide the Kubernetes version and kernel version.

[2022-03-17 10:28] mborsz commented on #105884
https://github.com/golang/go/issues/16100#issuecomment-255498503 contains some suggested solution for the issue of blocking Write/Read:

If blocking transformResponseObject is the only problem now, this may be a reasonable solution.

[2022-03-17 10:54] vanthony022 commented on #108762
Is there any solution to this

[2022-03-17 10:55] aojea commented on #108726
interesting , the user agent is added to the request by wrapping the roundtripper, that is added when the client is generated

https://github.com/kubernetes/kubernetes/blob/adb75e1fd17b11e6a0256a4984ef9b18957d94ce/staging/src/k8s.io/client-go/1.4/transport/round_trippers.go#L32-L49

the clientset creation is here https://github.com/kubernetes/kubernetes/blob/dd2596e40d1fbb92fa4825145c4cf8cda1e559f

[2022-03-17 10:58] aojea commented on #108762
I mean, seems a question for EKS not for kubernetes

[2022-03-17 11:31] fun-sudeep commented on #89635
SWCTL-6414: Sometimes, "cleanup" failed complaining "rmtree failed: [Errno 16] Device or resource busy".

[2022-03-17 11:44] neolit123 commented on #108737
IIUC this is a problem only if kube proxy is run as a Daemonset.  If you are managing it in other ways e.g. systemd you could pass a unique config to separete instances.

The OP already has a good attempt at using the downward api. You could also try creating and mounting N config maps that have node specific suffixes in their names. This sort of defaults the DS purpose.

Apparently both kube prox

[2022-03-17 11:44] smira opened #108763 "some Go modules are not tagged for v0.23.5"
### What happened?

Some `k8s.io/` modules don't have a v0.23.5 tag, while others are properly tagged.

E.g. https://pkg.go.dev/k8s.io/kubectl@v0.23.4?tab=versions doesn't have v0.23.5 tag, while https://pkg.go.dev/k8s.io/api@v0.23.5 is fine.

So far I know about the following Go modules which are not tagged:

[code]

### What did you expect to happen?

All modules tagged consistently.

### How ca

[2022-03-17 11:45] smira commented on #108763
/sig release

[2022-03-17 11:53] aojea commented on #108726
/assign

I think that this was my fault, let me check it in more detail

[2022-03-17 11:57] TeddyAndrieux commented on #108737
Ok fine but then how do we manage instance-specific args ? And why are we still able to use the flag for `hostnameOverride` ?

[2022-03-17 12:06] zvonkok commented on #3595
/cc @zvonkok

[2022-03-17 12:26] cyclinder commented on #108255
I didn't see that you wanted to do this patch, I am very sorry and now I unassign it.
/unassign

[2022-03-17 13:03] neolit123 commented on #108737
IIRC some kube proxy flags were overriding config and some didn't, but i don't know the details.

But if a component config renders some key flags to be ignored this means the only way to apply these instance options is to pass separete config.

[2022-03-17 13:33] TeddyAndrieux commented on #108737
It's really sad :disappointed:

[2022-03-17 13:49] dashpole commented on #108551
That does seem quite different from https://github.com/kubernetes/kubernetes/issues/64760.  First, this is the audit log, rather than the API Server log, which are handled differently.  Also, with ~30 minutes of logs lost, It probably isn't a race condition from rotation, as you would see something closer to ~1 minute of logs lost.

Reading the lumberjack docs, it shouldn't be possible to lose log

[2022-03-17 14:26] sbueringer opened #108768 "kubectl should apply OpenAPI schema defaults before OpenAPI schema validation"
### What would you like to be added?

Today kubectl runs OpenAPI schema validation on e.g. `kubectl apply` without applying OpenAPI schema defaults before. (although validation can be disabled with --validate=false).

It would be great if kubectl could apply defaults before validation like the apiserver.

### Why is this needed?

Example:

Let's assume we have the following required port field in

[2022-03-17 14:30] dims commented on #108768
cc @nikhita @palnabarun

[2022-03-17 14:33] Joseph94m commented on #108732
Is your cloud provider also in France/OVH? I was wondering if this was a regional mirror issue thing....

[2022-03-17 14:38] TeddyAndrieux commented on #108732
From what I see it's not a regional mirror issue, I tried on my laptop locally in France and also with some VMs in NorthAmerica

[2022-03-17 14:57] kerthcet opened #108770 "Remove `alwaysCheckAllPredicates` in scheduler configurator"
### What would you like to be added?

Since scheduler Policy API was total removed, we don't support `alwaysCheckAllPredicates` any more. https://github.com/kubernetes/kubernetes/blob/a504daa0484d35d07f144e3f65f5a481570e96ec/pkg/scheduler/factory.go#L66-L67

### Why is this needed?

Remove unsupported configuration.

[2022-03-17 14:57] kerthcet commented on #108770
/sig scheduling
/assign

[2022-03-17 14:57] kerthcet commented on #108770
/cc @Huang-Wei

[2022-03-17 15:04] kerthcet commented on #108770
/sig scheduling
/cc @Huang-Wei

[2022-03-17 16:46] aojea commented on #108726
I think that this was the problem https://github.com/kubernetes/kubernetes/pull/108772

[2022-03-17 16:49] leilajal commented on #108755
/triage accepted

[2022-03-17 16:49] mohamedaminearous opened #108773 "Getting Unauthorized error when connecting to kubernetes cluster using OIDC"
### What happened?

I'm willing to set up OIDC connection to kubernetes via an SSO tool (authentik) using kube-login.
So, I Installed kube-login with krew. Then, I added `oidc-groups-claim` and `oidc-username-claim` to kube-apiserver in the service file of k3s:
[code]
Then I configured the kubeconfig:
[code]
Afterward, I deployed RBAC linked with groups in Authentik.
I got inspired by this [articl

[2022-03-17 16:50] leilajal commented on #108708
/cc @apelisse
/
/triage accepted

[2022-03-17 16:50] leilajal commented on #108657
/triage accepted

[2022-03-17 16:54] mohamedaminearous commented on #108773
/sig auth

[2022-03-17 16:55] aojea commented on #108773
should you open the issue first in the k3s project?

[2022-03-17 17:03] aojea commented on #108773
cool, the you should mention it :+1:

[2022-03-17 17:18] aojea commented on #108737
will bring this topic for today's sig-network meeting https://docs.google.com/document/d/1_w77-zG_Xj0zYvEMfQZTQ-wPP4kXkpGD8smVtW_qqWM/edit , let's see what is the general opinion

[2022-03-17 17:24] neolit123 commented on #108762
please contact EKS support. if they think there is a k8s bug, re-open share the feedback from them. thanks.
/close

[2022-03-17 17:25] TeddyAndrieux commented on #108737
Cool :+1: thank you @aojea

[2022-03-17 17:25] neolit123 commented on #108770
/sig scheduling
(trying to tell the bots to remove `needs-sig`)

[2022-03-17 17:25] neolit123 commented on #108770
/remove-needs sig
/remove-label needs-sig

[2022-03-17 17:26] neolit123 commented on #108770
/sig cli

[2022-03-17 17:28] neolit123 commented on #108543
does not seem like a core k8s issue. try contacting https://github.com/kubernetes-client/csharp
please reopen if there is more proof of a core k8s bug.

/close

[2022-03-17 17:28] #108543 closed

[2022-03-17 17:56] jiahuif commented on #108708
The backport to 1.20 branch was rejected
ref: https://github.com/kubernetes/kubernetes/pull/107570
Unless eks backport it themselves, the only way would be upgrade to 1.21 onwards.

[2022-03-17 18:02] jiahuif commented on #108708
/close
duplicate of https://github.com/kubernetes/kubernetes/issues/104641

[2022-03-17 18:02] #108708 closed

[2022-03-17 18:16] ehashman opened #108774 "[Flaky test] [sig-node] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods"
### Failure cluster [39e8b3298cff6883920e](https://go.k8s.io/triage#39e8b3298cff6883920e)

Test: [sig-node] Density [Serial] [Slow] create a sequence of pods latency/resource should be within limit when create 10 pods with 50 background pods

##### Error text:
[code]
#### Recent failures:
[3/16/2022, 1:18:16 PM ci-kubernetes-node-kubelet-serial-cri-o](https://prow.k8s.io/view/gs/kubernetes-jenkins

[2022-03-17 18:19] leonardpahlke commented on #108307
Friendly ping: [skew-cluster-latest-kubectl-stable1-gce](https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce) still fails

This issue might be release cut blocking.

cc @palnabarun @jimangel

[2022-03-17 18:23] samuelan commented on #108732
I am having same exact issue. Our internal Artifactory repo mirrors the yum repo, but it fails at the repomd.xml signature verification step, just like @Joseph94m experienced.

I know disable repo_gpgcheck works, but it's not good for security reasons.

[2022-03-17 18:24] ehashman opened #108775 "[Flake] [sig-node] Restart [Serial] [Slow] [Disruptive] Kubelet should correctly account for terminated pods after restart"
### Failure cluster [03a28923a9772498aaf8](https://go.k8s.io/triage#03a28923a9772498aaf8)

Test: [sig-node] Restart [Serial] [Slow] [Disruptive] Kubelet should correctly account for terminated pods after restart

##### Error text:
[code]

I've also seen

[code]

on https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-serial-cri-o/1504190296534028288

#### Recent failures:

[2022-03-17 18:29] neolit123 commented on #108732
the problem is not reproducible on Fedora as noted here and comments bellow:
https://github.com/kubernetes/website/issues/32117#issuecomment-1063549918

[2022-03-17 18:31] Huang-Wei commented on #108288
/close

This new meeting has been setup.

[2022-03-17 18:34] Huang-Wei commented on #108770
It's true scheduler doesn't quite use this field anymore, but I'm wondering if some other project like ClusterAutoscaler or simulator still consumes this via [WithRunAllFilters](https://github.com/kubernetes/kubernetes/blob/9e50a332d8fcbec104e7ff90a01aa215c8ea72e6/pkg/scheduler/framework/runtime/framework.go#L204-L206).

[2022-03-17 19:03] neolit123 commented on #108763
/sig architecture
[owner of staging](https://github.com/kubernetes/community/blob/4026287dc3a2d16762353b62ca2fe4b80682960a/contributors/devel/sig-architecture/staging.md)

[2022-03-17 19:16] dcbw commented on #108658
/triage accepted

Seems like https://github.com/kubernetes/kubernetes/pull/107750 will solve the issue with a bit of config on the user's part.

[2022-03-17 19:18] dcbw commented on #108737
/assign dcbw
/assign aojea

[2022-03-17 19:24] dcbw commented on #108579
@robinchia is the problem that if you build with CONFIG_MODULES=y, but CONFIG_IPVS_*=y that /proc/modules will exist and the regex will not be used to detect presence of built-in  modules?

[2022-03-17 19:25] dcbw commented on #108558
@sunnoy can you provide the kube-proxy configuration you're using, including its ConfigMap and any command-line arguments you're using?

[2022-03-17 19:26] dcbw commented on #108558
Also, are any of these IP addresses Service ExternalIPs or LoadBalancer.Status.IPs?

[2022-03-17 19:32] dcbw commented on #108424
@hanamantagoudvk would you be able to add the logs requested by @aojea ? Thanks!

[2022-03-17 19:37] dcbw commented on #108257
PR submitted, so let's review and discuss further there.
/assign dcbw
/triage accepted

[2022-03-17 19:40] uablrek commented on #108658
Sorry, I can't test with --cloud-provider=external or openstack so I unassign.

[2022-03-17 19:42] uablrek commented on #108658
But I have tested with kubelet settings and it [works](https://github.com/kubernetes/kubernetes/issues/108658#issuecomment-1066152936).

[2022-03-17 20:30] thockin commented on #108588
Running kubectl with super-high verbosity does not show the format either.

[code]

A trivial walk through nearby code did not make it clear.

This codepath is really no sig-network - @fedebongio wouldn't this be apimachinery?

[2022-03-17 20:34] thockin commented on #108579
Exactly right - I am not sure the specifics of this case, but I agree with the principle.

[2022-03-17 20:55] thockin commented on #108267
@robscott Do we want to follow-up on this and make controller(s) more graceful in the face of this (unusual) behavior?

Maybe we should open a net-new bug for "Endpoint-related controllers and proxies should ignore terminating Endpointses and EndpointSlices" ?

[2022-03-17 20:55] thockin commented on #108065
Any updates here for triage?

[2022-03-17 20:59] #106274 closed

[2022-03-17 21:00] schollii opened #108778 "Pod should fail when container fails to get created"
### What happened?

A job got created by helm as a pre-upgrade hook; the pod for it got created, but the pod failed to start the container:
[code]
The pod does not seem seem to have reported an error, since helm continued onto the main stage of the release.

Yes I know this could be a bug on helm side, but it seems more likely to be a bug in kubernetes. Eg, the fact that it is a warning, rather th

[2022-03-17 21:19] robscott opened #108779 "EndpointSlice controllers should ignore EndpointSlices that are in a terminating state"
### What happened?

As discussed in https://github.com/kubernetes/kubernetes/issues/108267, Endpoint(Slice) controllers can get stuck if an Endpoints or EndpointSlice resource is stuck in a terminating state.

### What did you expect to happen?

I don't think there's much we can do for Endpoints here since the same name is reused, but EndpointSlice controllers can ignore EndpointSlices in a termin

[2022-03-17 21:19] robscott commented on #108779
/sig network

[2022-03-17 21:19] robscott commented on #108779
/triage accepted

[2022-03-17 21:20] robscott commented on #108267
@thockin good idea, I've created #108779 to track that. I think we can likely close this in favor of that bug.

[2022-03-17 21:28] nirroz93 opened #108780 "Ephemeral storage limits on deployment\replicaset add request on pod"
### What happened?

Adding Ephemeral-storage **limit** on a container in the deployment create a pod with both **request** and **limit** for the ephemeral storage.

### What did you expect to happen?

Should create only limit (not request).

If limits does require requests, I would expect them to be added to the deployment (and replicasets) and not only to the pods. Also, if it is required, didn't

[2022-03-17 21:30] bowei commented on #108523
/cc: bowei

[2022-03-17 21:37] nirroz93 commented on #108780
/sig apps

[2022-03-17 21:38] nirroz93 commented on #108780
/sig apps

[2022-03-17 21:56] nirroz93 commented on #108780
By design for all resource
https://github.com/kubernetes/kubernetes/blob/4d08582d1fa21e1f5887e73380001ac827371553/pkg/apis/core/v1/defaults.go#L150

[2022-03-17 21:56] #108780 closed

[2022-03-17 22:16] uablrek commented on #108065
There is no proof but I would say there are circumstantial evidences;

* The InterfaceAddrs() cast an error and it is involved in assigning addresses to `kube-ipvs0`
* The problem can be "simulated" by messing with addresses on `kube-ipvs0`
* There are interfaces coming and going during the reboot

So yes, I think this is a bug in K8s.

/triage accepted

If my theory about InterfaceAddrs() is corr

[2022-03-17 22:56] Huang-Wei commented on #91633
I'm thinking if it's viable to dump detailed pod's scheduling logs dynamically, on pod's basis. Here is a draft idea: dump the logs (e.g., [score logs](https://github.com/kubernetes/kubernetes/blob/4d08582d1fa21e1f5887e73380001ac827371553/pkg/scheduler/scheduler.go#L1126-L1134)) when a pod carries particular labels/annotations: like "alpha.k8s.io/scheduler-log-level: v10".

The takeaway is in this

[2022-03-17 23:01] shuheiktgw commented on #108307
The error has actually changed since 03-14.

[code]

[2022-03-17 23:23] marosset commented on #97739
I have validated that device assignment (at least when specified like `class/X`) work with Windows nodes running containerd in Kubernetes today.

Setup I used:
- Kubernetes v1.23.4 for all components
- Windows nodes were [NV6](https://docs.microsoft.com/en-us/azure/virtual-machines/nv-series) azure VMs running Windows Server 2019 Datacenter Core
- containerd windows package built from https://gith

[2022-03-17 23:31] serathius commented on #91633
I don't think that k8s user should normally have access to logs. They should still go through cluster SRE to get the scheduler logs. Log verbosity is set in command line flags, as so it normally requires user to be a cluster admin. If we want to implement overriding log verbosity per pod, it should should require a cluster admin level permissions.

[2022-03-17 23:34] thockin commented on #108523
Capturing some notes from sig-net discussion.

We have a lot of things twisted up here.  We've never really written out the "state machine" here specifically, what SHOULD happen to {new | existing} flows when:
1) endpoint becomes unready
2) endpoint becomes terminating
3) endpoint is removed
4) endpoints(lice) becomes terminating (e.g. has a finalizer)
5) service becomes terminating (e.g. has a fi

[2022-03-17 23:47] thockin commented on #108526
@danwinship I think I agree with all of this, except I can't wrap my head around this:

I have read and re-read the text on this, but it's not clicking.  Would another way of expressing this simply be: pod/node to LBIP is a special-case for which ETP=Local is bent to mean "Prefer Local but fall back on Cluster" ?

[2022-03-18 00:11] LiYiPeng-1 commented on #108760
kubernetes  version 1.14.7
kernel  version  3.10.0-1160.11.1.el7.x86_64

I'm not sure if I need to  continue upgrade the  kubernetes version
I hava  alreay  upgrade kubernetes  from  v1.11.4  to v1.14.7

[2022-03-18 00:30] Huang-Wei commented on #91633
It's correct. I was proposing that k8s users toggle enabling logs for suspicious pods, and then the SRE to grab the logs.

We have ways to work it around, like abstracting verbose log as a GVR (under pod's /subresource for example), and make RBAC protected. This is the next step we can discuss after getting a consensus on the "dynamic logging" idea.

[2022-03-18 00:39] yangjunmyfm192085 commented on #108760
Hi, @LiYiPeng-1, From the logs of kernel, it should indeed use 4G. Where does the data source of prometheus come from?
By the way, version 1.23 is available, version 1.14 is a bit old.

[2022-03-18 00:50] LiYiPeng-1 commented on #108760
prometheus get the memory metrics  from  cadvisor  in kubelet

and  my grafana drawing uses  metrics   container_memory_usage_bytes

[2022-03-18 00:57] yangjunmyfm192085 commented on #108760
ok, After upgrading to a newer version, if there is still problem, continue to analyze

[2022-03-18 01:28] neolit123 commented on #108778
/sig apps
for triage.

1.20 went out of support in late Feb 2022:
https://kubernetes.io/releases/

[2022-03-18 01:52] cyclinder commented on #108464
@RSAlderman The current release of 1.24(except master) is all `golang.org/x/crypto v0.0.0-20210817164053-32db794688a5`, Do we all need to upgrade them ？

[2022-03-18 02:07] #108726 closed

[2022-03-18 02:13] kerthcet commented on #108770
There's no place we can config this field `alwaysCheckAllPredicates` now by configure file(before we can apply the change by policy api, but now it's removed). So it seems like unless we support this feature with CC, or this field is useless.

To other projects, it's the same. When they are using legacy policy api, they can configure this field, but once they synced with the latest kubernetes, wit

[2022-03-18 02:23] TBBle commented on #97739
I'm not sure we want to close this ticket just based on my containerd change? Unless we want to _formalise_ (document) that in CRI, Windows Containers pass devices using an `IDType://X`-string or (legacy) `class/GUID`-string in the HostPath, and e.g., consider adding this to critest or something. (Or we want a new ticket _just_ for a potential CRI structural change.)

My change was intended to imp

[2022-03-18 03:42] kerthcet opened #108788 "unroll scheduler.New and remove Configurator"
### What would you like to be added?

1. `Configurator` seems redundant today as it only holds a method of `create` initializing several components, so I'd like to unroll `scheduler.New`  by moving the `create` logic to `scheduler.New`, then `Configurator` can be removed. The benefits:
a) No need to maintain the `Configurator` struct
b) Take all the logics in a glance, easy to read. Before, `creat

[2022-03-18 03:42] kerthcet commented on #108788
/sig scheduling
/assign

[2022-03-18 04:43] blazespinnaker commented on #85963
Has anyone opened a KEP?  It seems like a sensible next step here:

As a use case -

A basic security compliance principle is "[separation of duties](https://csrc.nist.gov/glossary/term/separation_of_duty#:~:text=Definition(s)%3A,one%20who%20can%20prepare%20them.)"

deny override allows authorizations systems to be built which provide for two separate duties:  enablement and disablement.

Additive

[2022-03-18 04:55] vlerenc commented on #78733
@ehashman @bg-chun This is absolutely a bug and real problem to assume something is dead when one doesn't know, especially for brownfield/singleton workloads or when multiple Kubelets are touched at the same time.

I understand that on startup of the pod, the state of the probe must first be successful and that makes a lot of sense, but if the observer (Kubelet) gets restarted, it should never ass

[2022-03-18 04:57] ciberkleid commented on #108573
Worth adding that this is relevant to multiple verbs (get, delete, describe, create, patch, edit, set, diff... others?), and that a warning message is probably sufficient as any other change would break backwards compatibility.

cc @stealthybox

@NikhilSharmaWe Thanks for giving it a shot! I think more conditional logic is required, as well as a separate warning message, but I don't personally hav

[2022-03-18 05:58] hanamantagoudvk commented on #108424
@dcbw @aojea : This issue can be closed as it was not genuine issue. It was looks like false alarm. If i see it again, i will raise it with proper logs.

[2022-03-18 06:14] uablrek commented on #108523
Yes, ABORT. That was a (the?) reason for _not_ loading the sctp kernel module. The user-space sctp stack used AF_PACKET (raw) sockets (I have tried to point out that there are [better options](https://github.com/sctplab/usrsctp/issues/631) nowdays) but a raw socket _clones_ packets, it does not redirect them, so if the sctp module (lksctp) is loaded the _kernel_ will send ABORT on sctp association

[2022-03-18 06:33] Huang-Wei commented on #108770
As I mentioned above, it's still accessible via a framework runtime `Option` **programmatically**, and thus may be still useful. For example, upon a scheduling failure, a ClusterAutoscaler's implementation may choose to dryrun through all filter plugins to ensure a new provisioned node can fit the pod, instead of resolving the failure while failing at another latter filter plugin.

[2022-03-18 06:46] bowei commented on #108523
@thockin : aren't individual endpoint states defined by their conditions, not finalizers?

Use of finalizers as a state signal for Service is an interesting idea, although it couples
resource lifecycle with connection behavior in a subtle way.

[code]

[2022-03-18 07:07] kerthcet commented on #108770
Let me sort out current logic:

1. initialize Configurator here, sine we didn't set the `alwaysCheckAllPredicates `, it's false by default. https://github.com/kubernetes/kubernetes/blob/ad751e8520e875f011744a034fff3becdce46403/pkg/scheduler/scheduler.go#L318-L342
2. invoke `configurator.create()`, `c.alwaysCheckAllPredicates` is still false.
3. build profiles, then `c.alwaysCheckAllPredicts` is al

[2022-03-18 07:37] aojea commented on #108424
/close
Thanks

[2022-03-18 07:38] #108424 closed

[2022-03-18 07:40] kerthcet commented on #108770
Oh, I haven't thought of configuration via programmatically, that saved my concern. But a little strange.

[2022-03-18 08:07] uablrek commented on #108526
@danwinship @thockin

Then there no problem traffic-wise for proxy-mode=iptables and it can be fixed for pod-to-LB/ExternalIP for [proxy-mode=ipvs](https://github.com/kubernetes/kubernetes/pull/97081) (but node-to-LB/ExternalIP is tricky).

Am I guessing right that it is network-policies that becomes a problem? (I don't know much about network-policies, sorry)

[2022-03-18 08:09] teiclap commented on #108523
Sending ABORT when the SCTP host dies is not part of the protocol specification.
It's up to the protocol implementation to instantiate a SIGKILL handler that does ABORT all the existing Associations before dying and it's not guaranteed that such ABORTs will ever reach the peer because of flushing conntrack.

In my opinion shutting down a service should be done in a coordinated way, that is informi

[2022-03-18 08:41] robinchia commented on #108579
@dcbw Partially right. I think that  the value of  "err == os.ErrNotExist" may not be true when the /proc/modules  exist.

[2022-03-18 08:42] shuheiktgw commented on #108715
The job has succeeded consecutively for the last ten runs, so I'm closing this issue 🙏
/close

[2022-03-18 08:42] #108715 closed

[2022-03-18 09:01] TeddyAndrieux commented on #107733
The issue I describe in my previous comment https://github.com/kubernetes/kubernetes/issues/107733#issuecomment-1024859297 is still there in 1.22.8

If I try, in single-node deployment, to edit the kube-apiserver static pod manifest he will never come back (cc @gjkim42 )

[2022-03-18 09:10] aojea commented on #108267
/close
Let's move the conversion there then :)

[2022-03-18 09:10] #108267 closed

[2022-03-18 09:17] sftim commented on #108674
If this issue specifically requires containerd to replicate it, the right place to file it might be https://github.com/containerd/containerd (and, if feasible, provide details for replication with a minimal CRI client, rather than with a kubelet).

[2022-03-18 09:28] xhejtman commented on #108674
I found, that `--serialize-image-pulls=true` fixes the issue. rancher/rke2 sets this to `false` as default.

[2022-03-18 09:34] RSAlderman commented on #108464
@cyclinder my understanding from https://github.com/golang/go/issues/49932 is that to remediate CVE-2021-43565 the go.mod needs to be updated to include golang.org/x/crypto to v0.0.0-20211202192323-5770296d904e. I was just making you aware, in addition to the requested versions 1.21, 1.22 and 1.23, that 1.24 should also be addressed.

[2022-03-18 09:35] aojea commented on #108779
@robscott deleting a service with a finalizer doesn't affect the endpointslice, it doesn't change its status to termination or unready

Repro:
1. `kubectl run test --image httpd --port 80`
2. `kubectl expose pod/test`
3. Add finalizer to the service and delete it, it keeps waiting until the finalizer is removed with the deletion timestamp set.
[code]

Do you mean that when the endpoint slice contr

[2022-03-18 09:42] mohan-nagandlla opened #108793 "access kube-api with DNS"
### What happened?

I am accessing the kube-api with IP address

### What did you expect to happen?

instead of using the IP can i use the DNS

### How can we reproduce it (as minimally and precisely as possible)?

the kubeconf contian only DNS how the public clouds are working same way in on-prem i need to use that DNS to connect the cluster.

### Anything else we need to know?

_No response_

##

[2022-03-18 09:47] pacoxu commented on #108405
https://github.com/kubernetes/kubernetes/issues/108674 mentions that rancher take `--serialize-image-pulls=false` as the default. However, unfortunately he meet a problem during parallel pulling the same image. I will do some test later.

[2022-03-18 09:50] pacoxu commented on #108674
Can you provide some more information so I can do some testing with exact your setups?

[code]

[2022-03-18 09:56] xhejtman commented on #108674
[code]

[code]
[code]

[code]

[2022-03-18 09:58] xhejtman commented on #108674
This is cluster setup with rke2 (https://github.com/rancher/rke2/releases/tag/v1.21.10%2Brke2r1) but using ubuntu's default containerd.

[code]

[2022-03-18 10:05] aojea commented on #108523
+1

+1 though this is still beta, [are we missing something for GA?](https://github.com/kubernetes/enhancements/tree/master/keps/sig-network/1672-tracking-terminating-endpoints) @andrewsykim

https://github.com/kubernetes/kubernetes/blob/a504daa0484d35d07f144e3f65f5a481570e96ec/pkg/features/kube_features.go#L491-L494

+1  with "implementation defined" behavior, or we just say "Close established se

[2022-03-18 10:28] slaskawi commented on #78494
/assign slaskawi

[2022-03-18 10:34] slaskawi commented on #78494
I had a discussion with @s-urbaniak and I'd like to volunteer for this issue.

After carefully evaluating the previous attempt to fix it (https://github.com/kubernetes/kubernetes/issues/78494), I took @liggitt 's suggestion into consideration and proposed a slightly different approach: https://github.com/kubernetes/kubernetes/pull/108794

Please have a look at it when you find a free slot.

[2022-03-18 11:35] shuheiktgw opened #108795 "[Failing test] gce-cos-master-serial"
### Which jobs are failing?

sig-release-master-informing

[gce-cos-master-serial](https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial)

### Which tests are failing?

- ci-kubernetes-e2e-gci-gce-serial.Overall
- ci-kubernetes-e2e-gci-gce-serial.Pod
- Kubernetes e2e suite.[sig-apps] DaemonRestart [Disruptive] Kube-proxy should recover after being killed accidentally
- kubetes

[2022-03-18 12:57] hiddeco commented on #108763
`k8s.io/apiextensions-apiserver` can be added to the list.

https://pkg.go.dev/k8s.io/apiextensions-apiserver@v0.23.5

[2022-03-18 13:19] endocrimes commented on #108678
/triage accepted
/priority important-longterm

[2022-03-18 13:21] awalker125 commented on #108732
I'm seeing this as well. See like the key changed recently "cloud-rapture-signing-key-2022-03-07-08_01_01.pub"

[2022-03-18 13:36] alculquicondor commented on #91633
if it's a subresource, it should probably be a field, instead of an annotation. But also it means you cannot set it during Pod creation. So you could potentially be missing the logs for the first scheduling attempt anyways.

[2022-03-18 13:47] endocrimes commented on #107838
/remove-kind bug
/kind support
/close

Kubernetes restarts containers with exponential backoff by design - https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy - Continuously restarting a workload is not really what the Pod abstraction is built for, as crashing frequently generally implies that there's a problem with the workload or its dependencies and this helps prote

[2022-03-18 13:47] #107838 closed

[2022-03-18 14:57] verb commented on #106365
/remove-lifecycle stale

[2022-03-18 15:23] Cajga opened #108807 "PodSecurity - CLI tool for static analysis"
It would be great if a cli tool could be built which is using the same logic/code then the admission controller which could be used for static analysis of manifests in CI pipelines to verify if they meet the requirements of the different Policy levels.
We are using GitOps for deployment so our pipeline cannot authenticate to the clusters. This prevents us to use `apply dry-run`.

[2022-03-18 15:29] thockin commented on #108523
@bowei

Individual endpoints (as represented in Endpoints and EndpointSlice) don't get finalizers.  We have to rely on the metadata express in-band in those objects.

So I am not sure what youi are asking?

@teiclap

SHOULD is fine, but we need to define what happens when it _isn't_ clean.  Saying "the same effect as unplugging the network cable" is fine in the abstract, but in practice a) that's

[2022-03-18 15:45] jflambert opened #108798 "kubectl patch doesn't have --ignore-not-found"
/sig cli

### What happened?

I use `--ignore-not-found=true` for `delete/stop/get/etc` but it looks like that flag isn't available for `kubectl patch`

### What did you expect to happen?

I want to be able to use `--ignore-not-found=true` in `kubectl patch`

### How can we reproduce it (as minimally and precisely as possible)?

[code]

### Anything else we need to know?

_No response_

### Kubern

[2022-03-18 15:47] jflambert commented on #108798
/sig cli

[2022-03-18 15:55] verb opened #108799 "Cleanup: projected volumes exclude ephemeral containers"
projected volumes exclude ephemeral containers in calculating fs user because "SecurityContext is not allowed" :

https://github.com/kubernetes/kubernetes/blob/0ade4678a7ba527d22f6baa81034dea423267608/pkg/volume/util/util.go#L625-L626

This is no longer technically correct -- ephemeral containers are allowed to specify security context -- but it's a no-op because `ephemeralContainers` is guarantee

[2022-03-18 15:55] verb commented on #108799
/sig storage
/assign

[2022-03-18 16:01] verb commented on #108799
/priority backlog

[2022-03-18 16:05] thockin commented on #108523
I can't empircally prove this.  When I manually flush conntrack while a TCP session is open to a service, the session continues and the conntrack record is restored.  This is not what I expected.  Anyone have more depth on this?

[2022-03-18 16:07] marosset commented on #97739
My apologies - yes we should keep the issue open.
I need to go back and re-read all the discussions in this and other linked issues.

[2022-03-18 16:14] aojea commented on #108523
the iptables DNAT rule is still there, right?

[2022-03-18 16:18] andrewsykim commented on #108523
Just one clarifying point about EndpointSliceTerminatingCondition w.r.t this issue. The API now supports terminating endpoints but we don't do anything in kube-proxy to handle the terminating condition yet. ProxyTerminatingEndpoints allows fallback to those endpoints only when there are terminating endpoints which is addressing a slighly different issue. An alternative approach to ProxyTerminating

[2022-03-18 16:22] aojea commented on #108523
hmm the conntrack entry I see is ESTABLISHED but UNREPLIED

[code]

1. create a persistent connection

[code]

2. delete service and conntrack entry
[code]

3. it seems it will eventually timeout
[code]

[2022-03-18 16:26] thockin commented on #108737
The short story here is "nobody got around to doing something reasonable here".  The component-standardization process fizzled out and nobody stepped up to help drive it.

Ithink the choices are, in preference order:

1) flags *should* override config.  If we can find a way to do that without breaking anyone, I'd be happy.

2) Alternatively, we could define the existing config/flag as being (strin

[2022-03-18 16:45] deed02392 commented on #81089
+1 for, er, `s3curl.pl` :P

[2022-03-18 16:50] thockin commented on #107743
@damalhot when you run that manual curl, is it from the master?

It seems like the master THINKS it is sending th request, but the kubelet is not SEEING the request, so something is between them, eating it.

[2022-03-18 16:55] thockin commented on #108523
initial:
[code]

telnet to svc:
[code]

clear conntrack:
[code]

verify:
[code]

hit enter in telnet (get HTTP response, closes connection):
[code]

[2022-03-18 16:55] robscott commented on #108779
@aojea I don't think we need to do anything special if the Service is waiting to be deleted. There are many legitimate reasons for this to happen, including waiting for infrastructure to be removed. My main concern with a finalizer was that one on an EndpointSlice could cause the controller to get stuck on a Service. We don't have the same risk with a finalizer on a Service - I don't think that wo

[2022-03-18 17:15] thockin opened #108801 "Cleanup: pkg/util/ipset"
As exposed in https://github.com/kubernetes/kubernetes/pull/108351 the validate logic should probably return an `error` and the test should compare the error string with a known value - to prove that it failed for the right reasons.

Additionally the test could uset `t.Run()` to print a helpful name, rather than the comments tracking `// case[3]`

Easy change, good beginner case.

[2022-03-18 17:51] damalhot commented on #107743
Hi Tim,
Yes, I am running that curl from master.
The statement you made - Kubelet not seeing the request - is precisely my issue, which is what I mentioned in my initial post - item 5 and 6. Pasting here again for quick reference.

5. When I run kubelet with -v=8 and run send the HTTP request manually from master node, I can see the request is received by kubelet (whose IPv6 address is 2001:420:db

[2022-03-18 17:51] aojea commented on #108737
@thockin  what about moving those fields from `string` to `*string` on the config type?

[2022-03-18 17:53] SergeyKanzhelev opened #108804 "E2E: E2eNode Suite.[sig-node] RuntimeClass should run a Pod requesting a RuntimeClass with a configured handler [NodeFeature:RuntimeHandler] [cos-stable]"
The test `RuntimeClass should run a Pod requesting a RuntimeClass with a configured handler` should not be skipped on test grid. The handler is preinstalled and it looks like the skipper logic fires the false positive:

https://github.com/kubernetes/kubernetes/blob/6340b19ddac0fb64e13cc54987d001294ef26ab3/test/e2e/common/node/runtimeclass.go#L86

/sig node
/area test
/area kubelet
/kind bug
/prior

[2022-03-18 17:58] #108245 closed

[2022-03-18 18:03] SergeyKanzhelev opened #108805 "Log sampled successful probe execution with higher verbosity"
/sig node
/sig instrumentation
/kind feature
/priority backlog

It will be useful to log successful probes execution details with higher verbosity once in a while. With the default verbosity no information on successful probe execution is reported. Which is fine as it typically very verbose and rarely needed. However if somebody investigating a problem with probes and cannot make sense why they ar

[2022-03-18 18:36] thockin opened #108806 "Cleanup: kube-proxy internal naming"
We have sort of a mish-mash of "service" and "servicePort" and similar.

We should think about changing ALL of the places that actually relate to a service-port (a specific port of a service, not the whole service) and rename them to some new term that means "service port". E.g. "svcpt" or "spt" or "sport".

See https://github.com/kubernetes/kubernetes/pull/106497/commits/8fffae321d66487f776922e0c

[2022-03-18 18:37] ivandir commented on #47862
Also can't wait for this to be implemented. Any updates on the progress being made?

[2022-03-18 18:43] liggitt commented on #108802
Granting at the namespace level was an intentional design decision. PodSecurityAdmission controls the *highest* permission pod allowed into a namespace. It is certainly possible to deploy low-privileged things into a namespace that is more permissive.

Dividing into smaller more granular namespaces is the recommended approach, especially if you do not uniformly trust manifest authors.

Experience

[2022-03-18 18:43] #108802 closed

[2022-03-18 18:45] liggitt commented on #108808
What you're describing is effectively the PodSecurityPolicy API, which proved so difficult to evolve over time that it never had a clear path to graduate from beta to GA.

Experience with that API convinced us that a coarse-grained policy was the correct approach to build into Kubernetes, and to delegate custom policies to external policy systems via admission webhooks.

/close

[2022-03-18 18:45] #108808 closed

[2022-03-18 19:09] gkarthiks commented on #108806
I would like to take this one.

[2022-03-18 19:09] gkarthiks commented on #108806
/assign

[2022-03-18 19:18] thockin commented on #108806
You might want to wait until #106497 lands - it will be a nasty rebase

On Fri, Mar 18, 2022 at 12:10 PM Karthikeyan Govindaraj <
***@***.***> wrote:

[2022-03-18 19:35] alculquicondor opened #108809 "Flaky conformance test: Pods should delete a collection of pods"
### Which jobs are flaking?

pull-kubernetes-e2e-kind-ipv6

### Which tests are flaking?

Pods should delete a collection of pods

### Since when has it been flaking?

According to testgrid, March 18th

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-kind-ipv6&include-filter-by-regex=Pods%20should%20delete%20a%20collection%20of%20pods

### Reason for f

[2022-03-18 20:16] TheDiveO commented on #77142
/remove-lifecycle stale

[2022-03-18 20:26] bobbypage commented on #108809
Looking at https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kind-ipv6/1504881991361761280

The test is here - https://github.com/kubernetes/kubernetes/blob/cd6af9e64b65cb198d633f7c161942b5b9fa155b/test/e2e/common/node/pods.go#L845-L885

It creates 3 pods which go into Failed phase and then expects them to [deleted](https://github.com/kubernetes/kubernetes/blob/c

[2022-03-18 20:33] bobbypage commented on #108809
I suggest we bump the timeout a bit since everything seems to be working, it's just taking a bit longer than the timeout is set to. This also *may* be affected by recent https://github.com/kubernetes/kubernetes/pull/108366 which slightly increases how long it takes for pod to be marked as terminal by kubelet.

[2022-03-18 20:55] cfryanr opened #108814 "Remove the "CSRDuration" feature gate in Kube v.126"
### What would you like to be added?

Remove the "CSRDuration" feature gate starting in Kube v.126.

### Why is this needed?

PR #108782 proposes that the CertificateSigningRequest's Spec.ExpirationSeconds field be promoted to GA in v1.24. It was originally introduced as beta in v1.22 with a corresponding feature gate called "CSRDuration" to optionally disable it (see PR #99494).

If PR #108782 is

[2022-03-18 21:44] gavahi commented on #90345
It seems token is expired or removed. You can create token manually by running this at master node:

kubeadm token create --print-join-command

Use the output as join command.

Ref: https://stackoverflow.com/questions/61352209/kubernetes-unable-to-join-a-remote-master-node

[2022-03-18 21:45] cfryanr commented on #108814
/sig auth

[2022-03-18 23:05] marosset commented on #107258
/close
Please re-open the issue with the requested details if you are still experiencing a problem.

[2022-03-18 23:05] #107258 closed

[2022-03-18 23:06] #108809 closed

[2022-03-18 23:07] marosset commented on #104789
This issue should go to Mirantis for investigation.
@brasmith-ms - What is the best way to loop them in?

[2022-03-18 23:51] jsturtevant opened #108816 "Windows GMSA Full e2e test uses bash to install the plugin"
### What happened?

Cluster api provides a framework to run the e2e tests which uses the conformance image:

https://github.com/kubernetes-sigs/cluster-api/blob/692497dbb340beecc04171ccd73f370f173da3a9/test/framework/kubetest/run.go#L43-L44

The gmsa tests use bash to install the webhook:

https://github.com/kubernetes/kubernetes/blob/4d08582d1fa21e1f5887e73380001ac827371553/test/e2e/windows/gmsa_

[2022-03-19 00:10] jnummelin commented on #108689
@endocrimes any chance you could point me to the correct direction in CRI spec that deals with this? Or is this "behind" CRI thing where the runtimes are responsible providing this?

[2022-03-19 00:27] neolit123 commented on #108793
/sig api-machinery
/remove-kind bug
/kind feature

this was requested somewhere before, but i don't think it had a designated ticket.
re-using `--{advertise|bind}-address` would have some weird implications around the current `net.IP` based validation.

note that even if such a feature lands, i will likely not be backported to older releases.
<1.21 is out of support.

[2022-03-19 02:33] shuheiktgw commented on #108795
It seems to be OK now. I'm closing the issue
/close

[2022-03-19 02:33] #108795 closed

[2022-03-19 03:07] bobbypage commented on #108594
Fixed by https://github.com/kubernetes/kubernetes/pull/108366 which will be cherrypicked into [1.23](https://github.com/kubernetes/kubernetes/pull/108723) and [1.22](https://github.com/kubernetes/kubernetes/pull/108749)

[2022-03-19 04:07] N226335735 commented on #106870
Let you know when I work tomorrow morning I’ll be home tomorrow morning and then
![Uploading 0AF7FE86-3125-44D9-8386-D62C39882511.png…]()

[2022-03-19 04:39] #104052 closed

[2022-03-19 05:00] Huang-Wei commented on #108770
That's exactly what I meant. Given it's a public option in framework, and there is no alternative if we disabled it, it'd be good to check with potential consumers. For now I can think of CA (@MaciekPytel) and k-sigs/scheduler-simulator (@sanposhiho). If they can confirm it's not needed in their usecases, I'm fine with removing `alwaysCheckAllPredicates`.

[2022-03-19 05:15] thockin commented on #108737
would that allow flags to override?

[2022-03-19 05:30] kerthcet commented on #108770
To k/autoscaler, at least these codes are still there together with the legacy policy api. https://grep.app/search?q=alwaysCheckAllPredicates, looking forward to the response.

[2022-03-19 06:39] #105418 closed

[2022-03-19 08:06] pacoxu commented on #108674
https://github.com/containerd/containerd/pull/6478 may fix the problem. You may upgrade the containerd to 1.5.11 or 1.6.

/close

[2022-03-19 08:06] #108674 closed

[2022-03-19 08:26] pacoxu commented on #88613
https://github.com/kubernetes/kubernetes/pull/98507 may fix this. @gjkim42  could you help review the fix?

[2022-03-19 10:43] alonSadan commented on #108802
Thanks @liggitt

[2022-03-19 11:56] endocrimes commented on #108689
@jnummelin https://github.com/kubernetes/cri-api/blob/master/pkg/apis/runtime/v1/api.proto#L1058-L1060

[2022-03-19 13:38] astraw99 opened #108821 "Can we use config file to pass so many args to components, instead of bare cmd flags?"
### What would you like to be added?

Components like kube-apiserver, controller-manager, scheduler, have dozens of options to pass through cmd flags,
which seems clunky.
So can we use a single config file to pass so many args to components, like this:
[code]
instead of currently cmd flags below:
[code]

### Why is this needed?

1. Manually config so many cmd flags is clunky and hard to maintain.

[2022-03-19 13:42] astraw99 commented on #108821
/sig api-machinery

[2022-03-19 13:57] sanposhiho commented on #108770
`alwaysCheckAllPredicates` is not used in sigs/kube-scheduler-simulator. 🙆‍♂️

[2022-03-19 14:04] sftim commented on #108674
/remove-kind bug
/kind support

[2022-03-19 15:33] ialidzhikov opened #108827 "Consider archiving `k8s.io/csi-api` repository"
### What would you like to be added?

I see that the  [`k8s.io/csi-api`](https://git.k8s.io/csi-api) repository does no longer have a staging pkg.
It looks like the staging pkg existed from K8s 1.9 to 1.14 (according to the repo tags).
I would suggest sig-storage to consider archiving this repo if it is no longer used and not supposed to be used. Of course, we should also consider eventual usage o

[2022-03-19 15:35] ialidzhikov commented on #108827
/sig storage
/kind cleanup
/kind deprecation
/remove-kind feature

[2022-03-19 16:01] ialidzhikov commented on #99827
/reopen
/remove-lifecycle rotten

@liggitt @msau42 can add a lifecycle frozen label?

[2022-03-19 16:02] ialidzhikov commented on #99827
@pohly @msau42 please reopen this issue as it is not fixed (closed by the bot due to inactivity).

[2022-03-19 17:40] cawoodm commented on #77903
Is it normal for Kubernetes to load balance traffic to non-existent pods? When our master goes down in a 2 node cluster we are seeing this regrettable behaviour. 50% of traffic fails.

[2022-03-19 18:43] #104463 closed

[2022-03-19 18:43] #105715 closed

[2022-03-20 00:14] dims commented on #108763
@hiddeco @smira please try now. all the tags should be in sync.

Thanks,
Dims

/close

[2022-03-20 00:15] #108763 closed

[2022-03-20 01:20] AkshayPS12 commented on #96717
/assign

[2022-03-20 02:22] ahg-g commented on #108770
this isn't used by cluster autoscaler, we can remove it.

[2022-03-20 05:52] cyclinder commented on #108464
@RSAlderman  Thank for your  the reminder！I will working on this for other releases in 1.24.

[2022-03-20 07:19] uablrek commented on #107743
I have tried and failed to reproduce this problem. You have a dual-stack cluster with IPv4 as default address (kuberneted svc is ipv4) but have flipped the addresses to kubelet to `--node-ip=IPv6,IPv4`, I misunderstod that first. But even with that config `kubectl log` works for me;
[code]
I noted that `kubelet` listens on the ipv6 "any" address even if it's started with `--address=0.0.0.0` (the d

[2022-03-20 07:47] kkkkun commented on #107204
What's your used version of jar `https://github.com/fabric8io/kubernetes-client`?

You can upgrade version great than `4.4.2`?

[2022-03-20 08:33] lhj502819 opened #108830 "externalIPs externalIPs cannot be used"
### What happened?

When I configure the Service to use externalIPs, the machine where the specified externalIP is located cannot communicate with other nodes.

### What did you expect to happen?

How do I allow external access to the service？

### How can we reproduce it (as minimally and precisely as possible)?

 configure the Service to use externalIPs，the machine where the specified externalIP

[2022-03-20 08:39] lhj502819 commented on #108830
/sig Network

[2022-03-20 11:51] #105778 closed

[2022-03-20 13:51] #105818 closed

[2022-03-20 13:52] aojea commented on #108830
that depend on the implementation, so you should open the issue in the CNI plugin project
/close

[2022-03-20 13:52] #108830 closed

[2022-03-20 15:05] kerthcet commented on #108821
At least to kube-scheduler, we have configuration file named `KubeSchedulerConfiguration` , you can refer to this https://kubernetes.io/docs/reference/config-api/kube-scheduler-config.v1beta3/ for details. Can this help you?

[2022-03-20 15:14] astraw99 commented on #108821
@deads2k @liggitt Could you please give some advice here, thanks :)

[2022-03-20 15:25] MadhavJivrajani commented on #108827
/sig architecture
/area code-organisation

[2022-03-20 15:25] MadhavJivrajani commented on #108827
/area code-organization
(sorry, autocorrect)

[2022-03-20 15:27] MadhavJivrajani commented on #108827
/remove-kind deprecation
since not deprecation of a feature :)

[2022-03-20 18:00] guettli opened #108865 "Better docs for role.rules.apiGroups"

[2022-03-20 18:32] ialidzhikov commented on #108827
/cc @msau42

[2022-03-20 21:10] JohnRusk commented on #65954
The fix is now merged to master in #108107

[2022-03-21 00:44] mateuszdrab commented on #62078
I just banged my head against the wall when I realized the downward API doesn't support pulling node labels into pod envs.
Your solution seems like a good workaround, just deployed it and made it work 😊
Though the deployment steps are quite cumbersome as I had to make lots of changes to rename the target namespace and remove the AWS dependencies.
I think a docker hub image + helm chart are needed

[2022-03-21 01:29] 249043822 opened #108836 "Failure cluster [3dc082df...] [sig-node] Summary API [NodeConformance] when querying /stats/summary should report resource usage through the stats api"
### Failure cluster [3dc082dfa0baba15938e](https://go.k8s.io/triage#3dc082dfa0baba15938e)

##### Error text:
[code]
#### Recent failures:
[2022/3/16 20:19:34 ci-cgroup-systemd-containerd-node-e2e](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-cgroup-systemd-containerd-node-e2e/1504069864661192704)
[2022/3/16 07:15:30 ci-cos-containerd-node-e2e](https://prow.k8s.io/view/gs/kubernetes-jenki

[2022-03-21 01:35] maaoBit opened #108837 "ReadyReplicas of StatefuleSetStatus is wrong when failed to create stateful pod"
### What happened?

I create a ResourceQuota with two pods limit in my `test` namespace.
[code]
Then, I create a statefuleSet `busybox` with 3 replicas. As  expected, two pods are created  successfully, and the third pod failed to create.
[code]
But, the ReadyReplicas is not 2 ,but 1.
[code]

### What did you expect to happen?

The ReadyReplicas is correct

### How can we reproduce it (as minimall

[2022-03-21 01:38] maaoBit commented on #108837
/sig apps

[2022-03-21 02:11] pacoxu commented on #108836
dup #104292

[2022-03-21 02:12] pacoxu commented on #104292
Any update on this?

[2022-03-21 04:02] DanielYWoo commented on #68474
If the packet goes to a node without the pods, a second hop is still needed, right?

[2022-03-21 04:05] Kartik494 commented on #108622
It seems like you have closed this issue .Could Please keep it open so that contributors will actively take a look on this

[2022-03-21 04:44] jyotimahapatra commented on #102849
/milestone v1.25

[2022-03-21 05:05] yashsingh74 commented on #108801
/assign

[2022-03-21 05:31] k402xxxcenxxx commented on #92460
I use this trick again to fix the cluster. It encountered the same symptom today.
Here are some update:
1. Blocking api server traffic and unblocking it should work. Between this two steps I wait about 15mins. Whole process takes 30 mins.
2. For `microk8s 1.23`, I use `sudo snap restart microk8s.daemon-kubelite` instead.
3. I use `microk8s dbctl --debug backup` to check if api server is health or

[2022-03-21 05:46] aneeshprodapt commented on #27973
In my case,  "automountServiceAccountToken: false"  entry was their in default ServiceAccount of the namespace. This was causing the issue.

[2022-03-21 05:58] thockin commented on #68474
No, if you send such a packet to a node with no backends, it will be black-holed.

This is a way to build traffic systems, not an all-in-one solution.  Most cloud LBs, for example, are smart enough to health heck the nodes and deselect nodes with no backends.

Kube-proxy even offers a port per-service which will pass more information up.

[2022-03-21 06:20] ahrtr commented on #107150
/remove-lifecycle stale

[2022-03-21 06:57] Shubham82 commented on #108604
Hi @brianpursley
could you please take a look!

[2022-03-21 07:17] wojtek-t commented on #108606
![Screenshot from 2022-03-21 08-16-24](https://user-images.githubusercontent.com/10743879/159218627-08cc2289-0e2c-4a33-82db-0efd42e2731a.png)

@ahg-g - the improvement is great - thanks for pushing that so quickly!

[2022-03-21 07:28] limhawjia commented on #108556
@logicalhan

If I am not mistaken, the problem arises when we receive watch events for changes that have might have happened before the watch was initiated right?

Another example scenario where this could happen is when we initiate a watch for an object with an older resource version. In that case, we would receive watch events for all the changes after the provided resource version. The latencie

[2022-03-21 07:35] ooraini commented on #106957
I'm also hitting the issue in my lab environment(Vagrant). Running Rocky Linux 8.5 Kubernetes 1.22.6 and CRI-O 1.22.2

[2022-03-21 07:41] slaskawi commented on #84571
I'd be happy to look into this!

/assign

[2022-03-21 07:42] aojea commented on #108606
only great? it seems pretty impressive to me :smile:

[2022-03-21 07:47] astraw99 commented on #108720
Please check the StorageClass by `kubectl get sc`, then check the field value of `VOLUMEBINDINGMODE`.
If the value is `WaitForFirstConsumer`, then need the pod to be scheduled successfully first, then bind the PVC/PV.
If the value is `Immediate(default)`, no need to wait the pod to be scheduled, will immediately bind the PVC/PV.

Please see the doc: https://kubernetes.io/docs/concepts/storage/stor

[2022-03-21 08:08] astraw99 opened #108839 "APIServer create got err `IsAlreadyExists`, but the returned obj is just an empty resource struct"
### What would you like to be added?

If APIServer create got err `IsAlreadyExists`, the returned obj should be the current resource obj, instead of a bare resource type with empty fields.

### Why is this needed?

When we create resource, the returned err is checked, and often get err `IsAlreadyExists`, then it is better to
return the current resource obj.

Currently, the returned obj is just a b

[2022-03-21 08:10] astraw99 commented on #108839
/sig api-machinery

[2022-03-21 08:35] Fluxay-666 opened #108840 "kubectl command does not work after nodeport 8080 is applied in a cluster without taint"
Sorry, it's my first time to submit a question, I'm not very good at using it, the following is my question

I executed kubectl get pod but not normal return
[code]

and I found that after executing kubectl config view

[code]
This is the return, but the pod of the cluster is still running normally, I use kubectl get pod --kubeconfig=kubelet.kubeconfig It is possible to return normally

And the me

[2022-03-21 08:53] yangjunmyfm192085 commented on #108836
/cc

[2022-03-21 09:42] sunnoy commented on #108558
/opt/kube/bin/kube-proxy --bind-address=172.20.xx.xx --cluster-cidr=xx.0.0.0/8 --hostname-override=172.20.xx.xx --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig --logtostderr=true --conntrack-min=3200000 --proxy-mode=ipvs

[2022-03-21 09:43] sunnoy commented on #108558
but there is no that IP assigned to some interface,rather strange

[2022-03-21 09:56] chenhong0129 commented on #108622
Sorry， problem not resolved

[2022-03-21 10:04] Shaye-man opened #108844 "Nodes become NotReady when time jumps forward"
### What happened?

When I jump forward the cluster time by one day, I find that all nodes will briefly become "NotReady", like this, after about 10s, nodes will become "Ready" again.

I found that the node lease resource normally updates the renewtime to a day ago in a nodeStatusUpdateFrequency period, and only kube-controller-manager thinks that the node has exceeded the heartbeat detection cycl

[2022-03-21 10:05] Shaye-man commented on #108844
/sig node

[2022-03-21 10:30] wojtek-t commented on #108357
Yes - we want the release note of action-required type that I mentioned above. But we should probably add that on the PR that will be bumping the golang to 1.18 (from the current 1.18-rc)  - although I don't have strong opinion here.

[2022-03-21 10:41] nickekstest commented on #108633
I think you're right about the signers, but even when I try that, it still stops at approved.

Which EKS version are you using?

Could you let me know the values you used for your CSR please?

This is the result when I tried with the snipped you posted:
[code]

[2022-03-21 10:51] hex108 commented on #65797
/reopen

[2022-03-21 10:55] Shubham82 commented on #108633
I am not using any EKS version, I did this on my locally created multinode k8s cluster.

I used the same CSR that you mentioned :
[code]
I think it is something related to EKS

[2022-03-21 10:56] aojea commented on #108737
it will allow to differentiate when users want the field to be defaulted, see https://github.com/kubernetes/kubernetes/pull/104624 for reference, so they can "force" the configuration option to be ""

However, looking at the code, this seems to solve THIS problem but doesn't seem to solve the general problem and we can end in a more inconsistent situation that we have now if we keep adding excepti

[2022-03-21 11:16] nickekstest commented on #108633
Thanks for confirming the CSR.

Sorry, I meant which version of k8s are you using?

[2022-03-21 11:19] vl-shopback commented on #33065
/open

[2022-03-21 11:53] theAkito commented on #108720
Yes, I know. I have already read all the documentation on that topic.

How is that supposed to work, when the volume is waiting for the first consumer, while the pod is waiting for the first volume to be bound, even when all that is set up accordingly, to work with each other?

That also does not explain, why the scenario in question worked all the other times.

For example, I set up further apps

[2022-03-21 11:54] Shubham82 commented on #108633
I am using k8s version: **v1.23.3**

[code]

[2022-03-21 12:15] smira commented on #108763
thanks @dims it works now!

[2022-03-21 12:58] #91808 closed

[2022-03-21 13:09] danwinship commented on #108526
Not exactly...

My argument is that when an external user connects to a LoadBalancer IP, the semantics are "it just works; the user doesn't have to think about traffic policy". And when a pod in a cluster with AWS-style LoadBalancers connects to a LoadBalancer IP, the semantics are "it just works; the user doesn't have to think about traffic policy". The only exception to these LB IP semantics, cu

[2022-03-21 13:16] danwinship commented on #108526
This bug is mostly just about trying to define what the expected behavior is. It's not inspired by difficulty implementing anything, it's inspired by realizing that iptables kube-proxy's internal model is not entirely self-consistent.

[2022-03-21 13:16] ahg-g commented on #108606
/close

This is great! Thanks Wojtek.

[2022-03-21 13:18] damemi commented on #91633
Even from the SRE's standpoint, being able to have a higher log level for specific pods would make filtering through the logs much easier. It would also reduce the noise that you get from actually setting `--v=10`.

[2022-03-21 13:57] alculquicondor commented on #91633
@liggitt do you have any guidance from a sig-auth perspective forhttps://github.com/kubernetes/kubernetes/issues/91633#issuecomment-1071741610 ?

[2022-03-21 14:02] ahg-g commented on #108606
We can also see that this is indeed coming from cutting the 99% percentile of the Filter latency
![BMYKF5zAyTUixvt](https://user-images.githubusercontent.com/40361897/159277430-a617fc7b-e302-4eb5-b131-946f0b4d6c19.png)

[2022-03-21 14:08] ardaguclu commented on #108840
There are 2 possible ways;
* Your api server which is running in `localhost:8080` is not healthy or even not running
* You api server is healthy but running in different hostname. If that is the case, you are using the correct kubeconfig file.
According to your comments, I imagine that your api server is healthy but you are using incorrect kubeconfig file.

Thus, I'd suggest to check your kubeconf

[2022-03-21 14:17] liggitt commented on #91633
pod authors should not have control over scheduler log verbosity... that can expose the scheduler to DOS attacks

[2022-03-21 14:22] alculquicondor commented on #91633
What if we have a quota scope for it?

[2022-03-21 14:32] liggitt commented on #91633
that seems like scheduler-level configuration, which I would not expect to be driven by the pod API

[2022-03-21 14:40] alculquicondor commented on #91633
Yeah, but kube-scheduler configuration is global (affects all pods) and requires restart.

Restarting would clear the cache, which would potentially make the bug we are trying to diagnose disappear.

Here is another alternative: We allow the configuration of a file where SREs can put pod names (or prefixes). We probably need to watch for changes in the file.

[2022-03-21 14:40] logicalhan commented on #108556
/cc @wojtek-t @ptabor

[2022-03-21 14:54] guptadeepali39 opened #108848 "Rollout pods not able to find volume to mount with HPA"
### What happened?

Hi,

I have done the deployment in my AWS cluster with my application using argocd blue green deployment.
Also, I have applied  HPA on it based on the target CPU utilization
Now, when the target increases and as per HPA it tries to create new pods, but in the new pods it is not able to find the volume and it crashes within seconds.
Here, I am using configmaps and mounting them

[2022-03-21 14:58] ravisantoshgudimetla commented on #91633
Trying to understand here. What's wrong with having a virtual apigroup to support RBAC or new field in the pod spec which is RBAC protected. Quota for cases which can impact storage(via increased scheduler logging in this case) is hard to count/measure.

[2022-03-21 14:58] MikeSpreitzer commented on #108043
It seems to me that this bug can not be fixed with `klog` as it is, namely used without a logger object or even a `context.Context`.  The smallest tweak that occurs to me would be to add an option to `klog` to _add_ an output destination, and later remove that addition.  Thus, a test could add logging to its own buffer for the duration of running the code under test.

[2022-03-21 15:20] enj opened #108849 "Plumb request context to client-go credential plugin exec call"
_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/pull/106768#discussion_r787203758_

If the request is terminated (i.e. times out), we should kill the client-go credential plugin instead of waiting for it to complete.  This change should include unit and integration tests.

[2022-03-21 15:20] enj commented on #108849
/triage accepted
/sig auth

[2022-03-21 15:29] trozet commented on #108523
I was doing my test with OVN-Kube on a single node. I think from the discussion on this issue OVN-Kube CNI is going to go with:
1. Service deletion - remove NAT entries and flush conntrack for any protocol
2. endpoint deletion - do nothing for TCP/SCTP.  UDP flush conntrack.

If this issue gets resolved later with a different behavior we will look at moving to that, but in the interim we need a so

[2022-03-21 15:33] leonardpahlke commented on #108307
Hey @eddiezane , what is your take on this issue? It's labeled as release blocking and the next release cut is tomorrow.

/priority critical-urgent
/milestone 1.24

[2022-03-21 15:34] leonardpahlke commented on #108307
/milestone v1.24

[2022-03-21 16:07] neolit123 commented on #108848
/sig autoscaling

[2022-03-21 16:08] neolit123 commented on #108840
/sig cli network

https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
^ might be the better place to ask.

[2022-03-21 16:28] enj commented on #104007
I think the intent here to to remove any mention of the old repo from k/k's go.mod / go.sum - once that is true I think we can close this and #106422 out.  We need to bump the versions of these deps that are used by k/k to include those fixes, which should cause the automatic removal of the old repo from our dep tree.  @natalisucks is that something you can look into?

[2022-03-21 16:37] aojea commented on #108523
@DenisScherbakov is this a fact or just a personal perception?

@teiclap this is confusing me, because in another comment you describe the graceful operation for SCTP

is that another thing like the binding source port, that SCTP applications don't use to  implement this behavior, hence we can be sure the connection can be closed abruptly?

[2022-03-21 16:48] ahg-g opened #108851 "Add Suspend subresource"
### What would you like to be added?

A subresource (similar to `Scale`) to "suspend" apps.

In https://github.com/kubernetes/kubernetes/issues/97170 we added suspend to the job api, which we view as a primitive that higher-level orchestrators can use to support job queuing, all-or-nothing scheduling and whole job preemption. The idea is that jobs managed by a higher level orchestrator should be c

[2022-03-21 18:03] gnufied opened #108854 "Structured logging check only work in GOPATH"
### What happened?

Since migrating to go modules, it is no longer necessary to have kubernetes project in GOPATH. But it appears that if we run `./hack/verify-structure-logging.sh` out of GOPATH we get following errors:

[code]

The checks work fine if ran from GOPATH

### What did you expect to happen?

Checks should work fine regardless of place where kubernetes project was.

### How can we rep

[2022-03-21 18:04] gnufied commented on #108854
/sig release

[2022-03-21 19:03] thockin commented on #108737
downward API may require the thing to be up and running before they can be resolved, so that seems like a bad idea to me.

[2022-03-21 19:04] Huang-Wei commented on #91633
A safe solution to toggle verbosed pod logging would be super helpful to scheduler, and also to the whole k8s ecosystem.

+1, that's what i meant as GVR (not having a physical storage backing it).

[2022-03-21 19:04] #108770 closed

[2022-03-21 19:14] haircommander commented on #106957
ah hah! I found a fix https://github.com/kubernetes/kubernetes/pull/108855 (and found out why it's only being hit in cri-o and not cadvisor)

[2022-03-21 19:15] vteratipally opened #108856 "Failing pull-npd-e2e-kubernetes-gce-ubuntu"
### Which jobs are failing?

Failing pull-npd-e2e-kubernetes-gce-ubuntu
Failing pull-npd-e2e-kubernetes-gce-gci
Failing pull-npd-e2e-kubernetes-gce-ubuntu-custom-flags

are failing

### Which tests are failing?

Failing pull-npd-e2e-kubernetes-gce-ubuntu
Failing pull-npd-e2e-kubernetes-gce-gci
Failing pull-npd-e2e-kubernetes-gce-ubuntu-custom-flags

are failing

### Since when has it been failing?

[2022-03-21 19:26] thockin commented on #108523
@bowei Yeah, I see that behavior when I test.  "helpful".  Sigh.

[2022-03-21 19:33] enj commented on #103499
@helayoty #108852 addresses this issue.

[2022-03-21 19:42] enj commented on #108814
/triage accepted
/milestone v1.26

[2022-03-21 20:30] liggitt commented on #108307
the cluster / test setup seems like it is successfully setting up a cluster and getting a client and server:

[code]

[code]

[2022-03-21 20:30] liggitt commented on #108307
so it doesn't seem at first glance like the cluster version markers are to blame

[2022-03-21 20:36] liggitt commented on #108307
If you look at what's actually timing out, it's the creation of the testing namespace at the beginning of each e2e test.

Which branch's tests are running against the 1.24 server? if 1.23 branch e2e tests are running against a 1.24 server, `CreateTestingNS` will be waiting for service account token secrets to be created, and they are no longer autocreated in 1.24.

Picking https://github.com/kuber

[2022-03-21 20:55] jsturtevant commented on #108816
Conformance image: https://github.com/kubernetes/kubernetes/tree/master/test/conformance

[2022-03-21 20:59] tallclair commented on #84571
@slaskawi Thanks! This will need a KEP to move forward, so that's probably the best place to start. Feel free to ping me on slack if you have any questions.

[2022-03-21 21:06] mmiranda96 commented on #104292
Testgrid has been green for more than a week now. I think this is fixed.
/close

[2022-03-21 21:06] #104292 closed

[2022-03-21 21:28] brendavsantos commented on #108849
Hi! I would like to work on it, can you give me assign?

[2022-03-21 21:37] iXinqi commented on #108816
Hi @jsturtevant, does the "work e2e" test case pass?  Deploying GMSA webhook is the same for both "work e2e" and this test case.

[2022-03-21 21:38] helayoty commented on #105020
@ehashman 👋  the release 1.24 bug triage shadow. Does this issue still target release 1.24?

[2022-03-21 21:40] helayoty commented on #105021
@ehashman @mengjiao-liu  👋  the release 1.24 bug triage shadow. Does this issue still target release 1.24?

[2022-03-21 21:41] helayoty commented on #105978
@liggitt 👋  the release 1.24 bug triage shadow. Does this issue still target release 1.24?

[2022-03-21 21:46] liggitt commented on #105978
That's more a question for @ehashman , not sure what milestone completion of swap-to-beta is planned for

[2022-03-21 21:57] jsturtevant commented on #108816
no, they both fail due to bash not being present in the conformance image.  The gmsa tests themselves pass if I run `e2e.test` locally

[2022-03-21 22:15] jzfb2 opened #108861 "Getting unknown field "HostNetwork" in io.k8s.api.core.v1.PodSpec"
### What happened?

Despite being documented, I'm getting  'unknown field "HostNetwork" in io.k8s.api.core.v1.PodSpec' when setting HostNetwork to true.

Output:
error: error validating "STDIN": error validating data: ValidationError(Job.spec.template.spec): unknown field "HostNetwork" in io.k8s.api.core.v1.PodSpec; if you choose to ignore these errors, turn validation off with --validate=false

#

[2022-03-21 23:08] sftim commented on #108865
/sig auth

[2022-03-21 23:53] neolit123 commented on #108861
/remove kind-bug
/kind support
/sig api-machinery

this sounds like case-sensitive validation.
try `hostNetwork` instead of `HostNetwork`...

[2022-03-22 00:46] #108836 closed

[2022-03-22 01:13] Fluxay-666 commented on #108840
Hello,thanks for your response, I have caused this after applying a svc as follows, I was using the same kubeconfig before

[code]

This is the svc of my application, I don't know what the reason is, after that the kubectl command is no longer available and can be used normally

[2022-03-22 01:25] Fluxay-666 commented on #108840
![image](https://user-images.githubusercontent.com/51819781/159388863-63cb2e51-998d-4542-bdcb-53199720cf91.png)

I feel like it's said here, and after I reboot the problem is solved

[2022-03-22 01:48] RainbowMango commented on #103942
/remove-lifecycle stale

kindly ping @mcbenjemaa. And just a reminder https://github.com/kubernetes-sigs/kustomize/issues/4218 has been closed due to lack of activity.

[2022-03-22 02:01] yangjunmyfm192085 commented on #108854
/sig instrumentation
/cc @pohly

[2022-03-22 02:02] yangjunmyfm192085 commented on #108854
/wg structured-logging

[2022-03-22 02:04] dims commented on #108028
fyi  [Five Things to Prepare for Cgroup v2 with Kubernetes](https://blog.kintone.io/entry/2022/03/08/170206) from @yokaze

[2022-03-22 02:17] neolit123 commented on #108856
/sig node

[2022-03-22 02:40] jzfb2 commented on #108861
Yup, I'll have to look back to see which documentation had is spelled that way.

[2022-03-22 02:40] #108861 closed

[2022-03-22 03:24] kerthcet commented on #103132
/remove-lifecycle stale

[2022-03-22 03:38] limhawjia commented on #108556
Could you clarify which part is untrue?

If you request to watch from version 1 and etcd is on version 10, you would receive all events between 1 and 10 right? I understand that these events may have been buffered and served from the watch cache.

Regardless, since these events happened before the watch was initiated, the delay calculated by the watcher is no longer representative of what we are t

[2022-03-22 04:33] utkarsh348 commented on #108043
This may be similar to #108193. How can I reproduce this issue?

[2022-03-22 04:59] PuneetPunamiya commented on #89898
We have encountered the same issue past many days, initially we thought this problem can be at the api level,
Just wanted to confirm once if this error has some issue with probes

[code]

[2022-03-22 06:28] denkensk commented on #98215
/remove-lifecycle rotten

[2022-03-22 07:38] cxxaa1 commented on #108737
Should this issue be labeled as "priority/important-soon"?

We are doing research about “Effective Issue Priority Prediction".We have developed a tool to automatically label the priority and kind.
We first collected all past issue reports from the kubernetes repository containing the priority label and kind label. We then trained a nlp deep model. The experiments on a dataset of 730 issues show th

[2022-03-22 07:42] cxxaa1 commented on #108732
Should this issue be labeled as " priority/critical-urgent"?

We are doing research about “Effective Issue Priority Prediction".We have developed a tool to automatically label the priority and kind.
We first collected all past issue reports from the kubernetes repository containing the priority label and kind label. We then trained a nlp deep model. The experiments on a dataset of 730 issues show

[2022-03-22 07:46] cxxaa1 commented on #108657
Should this issue be labeled as " priority/critical-urgent"?

We are doing research about “Effective Issue Priority Prediction".We have developed a tool to automatically label the priority and kind.
We first collected all past issue reports from the kubernetes repository containing the priority label and kind label. We then trained a nlp deep model. The experiments on a dataset of 730 issues show

[2022-03-22 08:00] teiclap commented on #108523
@aojea You cannot do any graceful shutdown without involving the whole stack on top of SCTP.
I guess that the requirement is to give to the remote peer a chance to understand that the service has been closed.
You are assuming here that an ABORT message will reach the remote peer, this is not guaranteed as ABORT will not
be replied but let's continue assuming that it will arrive once sent.
Even sen

[2022-03-22 08:01] #108083 closed

[2022-03-22 08:10] pohly commented on #108854
That script also had other problems. I am replacing it in https://github.com/kubernetes/kubernetes/pull/108159 with integration into golangci-lint. That works fine when I check out the code in `/tmp/kubernetes`.

[2022-03-22 08:10] pohly commented on #108854
/assign

[2022-03-22 09:08] mcbenjemaa commented on #103942
I think, i can have some time for this.

[2022-03-22 09:15] mysunshine92 commented on #100965
/reopen

[2022-03-22 10:01] #106517 closed

[2022-03-22 10:18] pohly commented on #106276
Is this still relevant?

If I remember correctly, we came to the conclusion that formatting as multi-line strings is what developers expect also for JSON output.

[2022-03-22 10:51] pohly commented on #106276
https://github.com/kubernetes/kubernetes/pull/108159 contains the conversion of `dumper.go` to `klog.InfoS` without a custom formatter and GitHub will close this issue here once it gets merged. We can reopen if that isn't the right solution.

[2022-03-22 11:09] xiaoping8385 opened #108868 "volumeClaimTemplates in statefulset not work well in windows containerd runtime"
### What happened?

we deployed stateful yaml in windows containerd env, the yaml is like
[code]

but but we found an error like :

[code]

Check the containerd log, we found
[code]

### What did you expect to happen?

it should work the statefulset should be deployed successfully.

### How can we reproduce it (as minimally and precisely as possible)?

deploy the above statefulset.yml to windows c

[2022-03-22 12:16] houjun41544 opened #108869 "Volume with nil volumespec in ASW cannot be attached after detach failure"
### What happened?

There was a running statefulset pod1 c61ec4d5-a31f-44f8-ae5d-80c6fc85b1e0-kafka-1 on node 193.168.0.4 which used an attachable csi volume1 pvc-a8a42021-cf86-48b3-9fcb-619d5a49914c.
After upgrading the k8s cluster, the Pod was not running due to the mount failure and could not  be recovered. The mount failed because the volumeattach could not be obtained while waitingforattach.

[2022-03-22 12:19] houjun41544 commented on #108869
/sig storage

[2022-03-22 12:36] rtheis commented on #102569
/remove-lifecycle stale

[2022-03-22 12:45] danwinship commented on #108523
You're mixing up two entirely unrelated things.

The reason for not loading the SCTP kernel module is that doing so will kill _active_ SCTP connections (because the kernel sees packets it doesn't know about, addressed to an IP that it owns, so it will send responses back to the client telling it "I don't know anything about this connection you seem to be sending packets to", which I guess are ABOR

[2022-03-22 13:24] liggitt commented on #108063
hostPath volumes, certainly

[2022-03-22 13:25] liggitt commented on #108063
api-server unavailability does not result in a nil kubeClient... a nil kubeClient means the kubelet was started in standalone mode and was told not to talk to a kube-apiserver

[2022-03-22 13:33] NikhilSharmaWe commented on #108063
@liggitt So, is the approach used in https://github.com/kubernetes/kubernetes/pull/108442 reasonable ?

[2022-03-22 14:23] kranthiakssy opened #108875 "Dash app webpage is continuously refreshing while using nodeport or clusterIP"
I have created a simple dash web page app that takes the CSV/excel file and plots the data. And I have created a Kubernetes cluster on local ubuntu machines with 1-master and 2-worker nodes to deploy my application. All the nodes, pods, services, deployments, and docker images are running fine. But when I'm using the application, the web page is continuously refreshing in some cases.
1. When acces

[2022-03-22 14:24] wojtek-t commented on #108556
Watchcache isn't strictly related to this problem imho. In the end it just stores the object read (watched) from etcd. So if those objects contain last update time, we will just serve it.

That said I agree with @logicalhan that the fact that you can start the watch from the past makes the problem hard to measure.

Regarding setting "LastUpdateTime" field - I can't find the reference now, but it w

[2022-03-22 14:24] danwinship commented on #108526
yes

IMO no: the argument for special-casing in the LB IP case is that it makes pod-to-LB have the same semantics as external-to-LB. If we special-case pod-to-same-node-NodePort, then that means it _doesn't_ have the same semantics as external-to-NodePort, or even pod-to-other-node-NodePort (where it would depend on whether the other node had endpoints or not).

(And, as above, doing the special c

[2022-03-22 14:40] colearendt commented on #96284
/remove-lifecycle rotten

[2022-03-22 14:42] danwinship commented on #108526
... unless Topology is active, in which case it will only consider some of them.

"Cluster" traffic policy really behaves more like `nil` traffic policy. It doesn't have any behavior of its own, it just means "Local traffic policy isn't in effect".

If you're talking about "clusterIP" there because you're trying to imply "no SNAT" then remember that that doesn't apply with AWS-like load balancers.

[2022-03-22 14:50] rdxmb commented on #96284
hey community,

as commented in https://github.com/kubernetes/kubernetes/issues/96284#issuecomment-848414212 this does not seem as it will be fixed at any time. So we close this?

[2022-03-22 14:52] jsturtevant commented on #108816
/sig testing

[2022-03-22 14:53] colearendt commented on #96284
Does that design proposal live elsewhere? I haven't seen it and the link appears to be dead. It would be nice if there were a way to illustrate that this demand exists, and it seems to me that this issue being open does that 😅 But I also know little about how the formalities around the kubernetes project work.

[2022-03-22 14:53] fhp-kkuphal opened #108876 "Listen-only UDP services drop all but first incoming datagram from a given source"
### What happened?

IPTABLES default FORWARD is set to DENY.  Showing relevant iptables rules with counters

[code]

When created a UDP service, when the first datagram is not responded to (conntrack state is UNREPLIED)

[code]

future packets will be dropped.  Here are the iptables rules after starting syslog stream.  Note only 1 packet is processed by the forwarding rules.

[code]
and with the F

[2022-03-22 14:54] fhp-kkuphal commented on #108876
/sig network

[2022-03-22 14:54] twz123 opened #108877 "kube-proxy container image fails to load gzip compressed kernel modules"
### What happened?

Alpine 3.15 ships with gzip compressed kernel modules. When trying to run the k8s.gcr.io/kube-proxy image inside on such a host, it fails to the load required kernel modules, if they aren't already loaded.

Container logs:

[code]

### What did you expect to happen?

Kernel modules can be loaded by kube-proxy automatically.

### How can we reproduce it (as minimally and precise

[2022-03-22 15:05] aojea commented on #108877
The problem is that iptables is not working inside a container, you need to give more privileges and host network access to kube-proxy, also IIRC , you may need to mount some host folders, I think that you can look other projects like kubeadm, to check how they run kube-proxy in a pod

[2022-03-22 15:40] twz123 commented on #108877
kube-proxy is running as a privileged pod and /lib/modules is added as a hostPath volume. The line above the one you quoted is showing that kube-proxy tries to load the kernel module, but that fails with an "Exec format error". This is the error that the container's `modprobe` gives when trying to load gzip-compressed modules:

[code]

The kernel module is available from within the container (but

[2022-03-22 15:59] twz123 commented on #108877
/sig node

[2022-03-22 16:01] aojea commented on #108877
I see, thanks for the clarification

Then, I think your issue is about the container image used in kube-proxy, right?

[2022-03-22 16:10] fhp-kkuphal commented on #108876
Thanks.  The newest release it appears I have access to on Tanzu Community Edition is v1.21.5.   A couple commits appear to have been done since that release, mostly related to stale UDP connections.  This is not that issue from what I can tell.  This is specifically related to the iptables rules not matching new, unreplied connections as can be seen in the related issues.  Previous troubleshootin

[2022-03-22 16:31] j4m3s-s commented on #108255
No worries @cyclinder. But I'm still not sure where / what to add. Should I only fix the part saying it is only informational ? Is there anything else ? (cc @khenidak @thockin)

[2022-03-22 16:34] samuelan commented on #108732
Here is what I did as a work around till the repo signing key issue is resolved. Just curl down the rpm(s) I needed. In this case, I only needed one, e.g kubectl-1.22.7
COPY kubectl-1.22.7-0.x86_64.rpm /tmp/
RUN rpm --import https://packages.cloud.google.com/yum/doc/rpm-package-key.gpg && \
rpm -K /tmp/kubectl-1.22.7-0.x86_64.rpm && \
yum install -y /tmp/kubectl-1.22.7-0.x86_64.rpm

It has helped

[2022-03-22 16:44] TeddyAndrieux commented on #108732
As a workaround, you just have to set `repo_gpgcheck` to `0`

[2022-03-22 17:03] zolech commented on #81976
Hi. If youre on GKE try this https://cloud.google.com/stackdriver/docs/solutions/gke/managing-metrics

PodMonitor sends metrics compatible with stackdriver and hpa. I don't have any problems anymore with incompatible characters.

[2022-03-22 17:38] lavalamp commented on #108556
You could flip this around and have apiserver measure ping time to its watchers (I think HTTP2 ping goes both ways). And it would be easy for apiserver to measure propagation delay. And you could add these together as an estimate. It wouldn't be perfect but it'd be reasonable and cover every watch message so hopefully a fair sample. And it'd be convenient to have this located in the apiserver metr

[2022-03-22 18:06] marosset opened #108886 "[windows] - Update e2e tests that perform reboots to leverage node.BootId"
### What would you like to be added?

https://github.com/kubernetes/kubernetes/pull/108704 adds `BootId` support for Windows nodes.

We have some e2e tests in https://github.com/kubernetes/kubernetes/blob/master/test/e2e/windows/reboot_node.go to perform a reboot but do not have a great way to determine when the reboot finished.
We should update those tests to look for a change in the BootId prope

[2022-03-22 18:06] marosset commented on #108886
/sig windows
/area test

[2022-03-22 18:13] eddieparker opened #108887 "IndexedJob Restarts Succeeded Pods and Completion Takes Much Longer Than Expected"
### What happened?

I'm using the IndexedJob featuregate to run some ML training.  I spin up an indexed job with 10 parallelism & completions required.

The code internally has a list of tests it wants to run which is < 10.  If it gets assigned an index from k8s that is higher then the number of tests, it early returns (sys.exit(0) in python), otherwise it does an ML training that takes about an h

[2022-03-22 18:23] laiwf94 commented on #81976
Hi @zolech,
I am trying to use hpa to scale the application based on the metrics already sent. PodMonitor doesn't seems to be helpful in scaling the application. Unless you mean that using PodMonitor would somehow change HPA validation to accept special character in their matchLabels?

so I've decided to use `backend_name` instead of `matched_url_path_rule`:

[code]

[2022-03-22 18:46] zolech commented on #81976
PodMonitor helps you to relabel any metric, you can replace problematic characters. It doesn't change HPA validation but as the documentation states, every metric send by PodMonitor is HPA compatible. As in my situation metrics with "@" works with HPA now but it might be either PodMonitor doing (with no relabeling) or kubernetes v1.21.

[2022-03-22 18:46] mkimuram opened #108891 "[flake][sig-node] Pods should run through the lifecycle of Pods and PodStatus [Conformance]"
### Which jobs are flaking?

pull-kubernetes-conformance-kind-ga-only-parallel

### Which tests are flaking?

[sig-node] Pods should run through the lifecycle of Pods and PodStatus [Conformance]

### Since when has it been flaking?

After https://github.com/kubernetes/kubernetes/pull/93459 is merged.

### Testgrid link

https://testgrid.k8s.io/sig-testing-kind#pull-kubernetes-conformance-kind-ga-o

[2022-03-22 18:51] QuinnBast commented on #71191
/reopen

This is still an issue. PostStart does not run after a container gets updated in-place using `kubectl edit` or `kubectl set image` etc.

[2022-03-22 18:57] laiwf94 commented on #81976
Ah. I didn't know that you can re-label the metric with PodMonitor. Good to know that 👍

btw, I have about 20++ path rule need to re-label, so this seems a bit hardcoded solution for me.

Thanks for help anyway! :godmode:

[2022-03-22 19:03] eddieparker commented on #108887
I'm not sure if this is the right sig/wg but please forward if I have it incorrect.

/wg batch

[2022-03-22 19:16] eddieparker commented on #108887
/wg Batch

Maybe I had improper case?

[2022-03-22 19:18] eddieparker commented on #108887
Alright, take three. Stealing this from another issue, apologies if this is the wrong sig/area:

/sig apps
/area batch

[2022-03-22 20:19] fedebongio commented on #108768
/assign @seans3
/remove-sig api-machinery

[2022-03-22 20:20] fedebongio commented on #108793
Not sure about people opinions here, tagging some people to see thoughts:
/cc @lavalamp @deads2k @thockin
/triage accepted

[2022-03-22 20:22] fedebongio commented on #108821
/triage accepted
/cc @lavalamp

[2022-03-22 20:24] fedebongio commented on #108839
Hi @astraw99 thank you for your issue. We triaged it in the meeting, but we will need some more info to try to help you, like steps to reproduce at least.
Thanks!
Fede

[2022-03-22 20:24] fedebongio commented on #108861
/triage accepted

[2022-03-22 20:25] enj commented on #108849
@brendavsantos just type `/assign` and the bot will assign it to you.

[2022-03-22 20:46] lavalamp commented on #108793
Yes, you can use a DNS address to reach apiserver (assuming the DNS address is set up correctly).

I don't understand the question though? What exactly is the OP trying to do? What is not working?

[2022-03-22 20:52] lavalamp commented on #108821
There has been at least one attempt to add config files in addition to flags, but AFAIK it stalled out before it got to apiserver.

The issue is it's fiddly to do something like this while not breaking any current consumers of flags.

I'm not sure we'd say no to someone wanting to try to add this, but it's not high on the priority list?

[2022-03-22 21:00] aojea commented on #108821
kube-proxy moved to config , overriding flags, and is a source of problems , mainly because configuration files can not leverage the downward API for automat per node configurations
https://github.com/kubernetes/kubernetes/issues/108737

[2022-03-22 21:42] neolit123 commented on #108868
/sig windows apps

[2022-03-22 21:46] neolit123 commented on #108875
hi, is "Dash app" this?
https://plotly.com/dash/kubernetes/

it doesn't sound like a core k8s problem, so please report the issue to the "Dash app" authors.
sounds like it might need some adjustments based on service types.

/close

[2022-03-22 21:46] #108875 closed

[2022-03-22 22:19] eddieparker commented on #108887
Just in case it's useful, here's the output of the job when it finally completed.  Notable that it took ~80 minutes to finish, when I'd expect it to take ~5-6 minutes max.

![image](https://user-images.githubusercontent.com/1141487/159585678-95b5dd83-af8c-4495-927d-ce3ec10885bc.png)

[2022-03-22 22:58] eddiezane commented on #107374
This is still flaking quite a bit.

https://storage.googleapis.com/k8s-triage/index.html?test=%5Bsig-network%5D%20v1%20A%20set%20of%20valid%20responses%20are%20returned%20for%20both%20pod%20and%20service%20ProxyWithPath

[2022-03-23 00:03] vteratipally commented on #108856
It is weird that only the presubmits are failing but the not ci jobs. https://testgrid.k8s.io/sig-node-node-problem-detector#ci-npd-e2e-kubernetes-gce-ubuntu. presubmits and ci have the same configuration. Any idea?

[2022-03-23 00:05] vteratipally commented on #108166
https://testgrid.k8s.io/sig-node-node-problem-detector#ci-npd-test is passing right now

[2022-03-23 00:06] vteratipally commented on #108166
it is the presubmits that is failing

[2022-03-23 00:07] brendavsantos commented on #108849
/assign

[2022-03-23 01:28] azeer-esmail commented on #78761
Ok, i think i finally know whats going on, it seems that many people are facing this issue, and since down scaling is important for our model i decided to run some tests, turns out **the problem is in [the calculation](https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#algorithm-details) done by the HorizontalPodAutoscaler controller**: desiredReplicas = ceil[currentReplica

[2022-03-23 01:51] sanposhiho opened #108903 "configure pluginMetricsSamplePercent or CycleState.recordPluginMetrics from outside of scheduler"
### What would you like to be added?

We have `pluginMetricsSamplePercent` which indicates the percentage of plugin metrics to be sampled. But it's `const` and we cannot change the value from outside.
https://github.com/kubernetes/kubernetes/blob/95e30f66c300c76ce21c0ca0e8bc4bf4a45e028f/pkg/scheduler/scheduler.go#L65

It would be nice if there was a way for this to be set up externally.
There are

[2022-03-23 02:19] 249043822 commented on #108805
/triage accepted
/assign

[2022-03-23 02:19] heartlock opened #108904 "resource request > limit in statefulset PodTemplateSpec"
### What happened?

[code]
sts.yaml as below:
[code]
create statefulset succeed, but request mem > limit mem in PodTemplateSpec

### What did you expect to happen?

fail to create statefulset because request mem > limit mem in PodTemplateSpec

### How can we reproduce it (as minimally and precisely as possible)?

kubectl create -f sts.yaml
[code]

### Anything else we need to know?

_No response_

[2022-03-23 02:21] heartlock commented on #108904
sig/api

[2022-03-23 02:29] heartlock commented on #108904
/sig api-machinery

[2022-03-23 02:37] kolyshkin opened #108906 "go1.18: Data race: client-go retry body reset"
### Which jobs are failing?

pull-kubernetes-unit

### Which tests are failing?

pull-kubernetes-unit

### Since when has it been failing?

I guess since update to go 1.18

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-unit

### Reason for failure (if possible)

Seems like a data race which was not detected before (IOW it is now detected thanks to improv

[2022-03-23 02:39] kolyshkin commented on #108906
/sig testing
(I guess)

[2022-03-23 03:32] kranthiakssy commented on #108875
Yeah. This is one I'm using. https://plotly.com/dash/kubernetes/

Thanks for the reply!

[2022-03-23 04:19] YanzhaoLi commented on #108868
This issue is only on windows with containerd as runtime. It works well with docker on windows as runtime. So I'd like to
/sig node

[2022-03-23 05:03] yashsingh74 commented on #108801
It is taken care by @chengleqi

/assign @chengleqi

[2022-03-23 05:31] xcompass opened #108908 "Memory leak on 1.20.14"
### What happened?

Please see details here: https://stackoverflow.com/questions/71519202/kubernetes-memory-leak-troubleshooting

### What did you expect to happen?

No memory leak

### How can we reproduce it (as minimally and precisely as possible)?

I think the memory leak is there but amplified by cronjob, which is frequently creating and tear down the pods. So to reproduce the issue, one woul

[2022-03-23 05:37] xcompass commented on #108908
/sig node

[2022-03-23 05:49] yxxhero commented on #108904
/assgin

[2022-03-23 05:49] yxxhero commented on #108904
/triage accepted
confirm as a bug.

[2022-03-23 05:49] yxxhero commented on #108904
/assign

[2022-03-23 06:07] mohan-nagandlla commented on #108793
hi @lavalamp  I hope the way of questioning is wrong I will ask some more briefly my query was
I have accessed the cluster with IP ex: https://147.x.x.x:6443/ now instead of on this IP I want to access the k8s API with DN ex: https://my-domin.com:6443/ which is resolvable. How do I modify the playbook to append the DN?

[2022-03-23 06:54] MadhavJivrajani commented on #108906
/sig api-machinery

[2022-03-23 07:05] heartlock commented on #108904
Thanks for your reply. I will send a PR to fix it.

[2022-03-23 07:06] yxxhero commented on #108904
/unassign

[2022-03-23 07:06] yxxhero commented on #108904
/assign @heartlock

[2022-03-23 07:12] 249043822 commented on #108775
[code]

another case [sig-node] Container Manager Misc [Serial] Validate OOM score adjustments [NodeFeature:OOMScoreAdj]  affected the Restart test case,  see the kubelet log, the kubelet-container-manager guaranteede9d81584 pod was received almost simultaneously with the restart-test pod

[code]

[2022-03-23 07:25] pacoxu commented on #108587
I still cannot repro it. I wonder if you can test like below:
1. run a pod that will `curl ` continuously and logs the time and `curl` results.
2. add a `PreStop` to curl and log the time & result.

This would help to figure out when the `curl` starts to fail.

/remove-sig cluster-lifecycle
/sig network node

[2022-03-23 07:27] leela-maheshwar commented on #103909
/remove-lifecycle rotten

[2022-03-23 07:29] MadhavJivrajani opened #108910 "go1.18: [Tracker] go1.18 breaks CSR validation (fix pending in go1.18.1)"
### Which jobs are failing?

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

### Which tests are failing?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/108905/pull-kubernetes-integration/1506459579091783680
an instance of a failure, the tests here are the ones failing

### Since when has it been failing?

My guess is since https://github.com/kubernetes/kubern

[2022-03-23 07:29] MadhavJivrajani commented on #108910
/priority critical-urgent
/cc @dims @aojea

[2022-03-23 07:36] nikhita commented on #108910
The failures for https://testgrid.k8s.io/sig-release-master-blocking#integration-master look like they are related to this.

[Example](https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1506511365286662144) below:

[code]

[2022-03-23 07:59] 249043822 commented on #108775
[code]
Since at 0316 21:25:08, the container of pod guaranteede9d81584 has just been creating,  but the test case  [sig-node] Container Manager Misc [Serial] has already finished at 0316 21:25:06, so the test case check condition may be not strict

[code]

[2022-03-23 08:00] MadhavJivrajani commented on #108910
/assign

[2022-03-23 08:01] kickthemooon opened #108911 "Why does readiness probe start late?"
### What happened?

I configured a startup, liveness and readiness probe on my pod.
[code]
I added logging to the probe scripts
[code]

Why is there a 10s gap, sometimes more sometimes less, between the startup probe finishing at 14:57:37 and the readiness probe starting at 14:57:47 without any delays configured?

Why does the readiness probe not start at 14:57:38 immediately after the startup pro

[2022-03-23 08:08] pohly commented on #105841
https://github.com/kubernetes/kubernetes/pull/108159 should finish the conversion.

[2022-03-23 08:09] Shubham82 commented on #108604
Hi @brianpursley
Friendly reminder!

[2022-03-23 08:09] aojea commented on #108910
So,  presubmits jobs didn't catch these things?

[2022-03-23 08:10] 249043822 commented on #108775
/triage accepted
/assign

[2022-03-23 08:12] pohly commented on #108373
/remove-wg structured-logging

This isn't related to logging infrastructure. What gets logged and how is decided by the code owners.

[2022-03-23 08:15] mindw commented on #52172
/remove-lifecycle stale

[2022-03-23 08:16] #101527 closed

[2022-03-23 08:22] yangjunmyfm192085 commented on #108911
/sig node

[2022-03-23 08:40] MadhavJivrajani commented on #108910
A temporary fix, quick fix would be setting the env variable as suggested:

Continuing to look
/sig auth
(for visibility)

[2022-03-23 08:55] yangjunmyfm192085 commented on #108911
From the users, your description is reasonable
But currently the two probes work independently from goroutines.
code show as below:
[code]

The default time interval for each probe is 10s.
After the Startup probe is ready, other probes will actually run,
[code]

and the maximum interval may be 10s.

this implementation logic is also reasonable.
/kind support

[2022-03-23 08:57] yangjunmyfm192085 commented on #108911
/remove kind bug

[2022-03-23 09:01] yangjunmyfm192085 commented on #108911
/remove-kind bug

[2022-03-23 09:02] lukasz-mitka commented on #96283
/reopen

[2022-03-23 09:05] lukasz-mitka commented on #96283
@atzawada Could you reopen this issue. It's still relevant.

[2022-03-23 09:08] kickthemooon commented on #108911
Thanks @yangjunmyfm192085 for the support. Actually I mentioned that this delay is sometimes more sometimes less, so sometimes the readiness probe actually starts 15s or 20s after the startup probe is finished. at least that is what I observed with my timestamps logging in the probe scripts.

What is the source of this information?

[2022-03-23 09:24] fengpengyun opened #110348 "TLS Validation is ambiguous"
[serving](https://github.com/kubernetes/apiserver/tree/master/pkg/server/options/serving.go)
[code]

[2022-03-23 09:24] yangjunmyfm192085 commented on #108911
Yeah, It's here.
	// How often (in seconds) to perform the probe.
	// Default to 10 seconds. Minimum value is 1.
	// +optional
	PeriodSeconds int32 `json:"periodSeconds,omitempty" protobuf:"varint,4,opt,name=periodSeconds"`

[code]

[2022-03-23 09:37] MadhavJivrajani commented on #108910
yeah, I'm wondering this too

[2022-03-23 09:41] aojea commented on #108910
it seems golang has to do a minor release https://github.com/golang/go/issues/41682#issuecomment-1072695832, they are being to strict

[2022-03-23 09:54] aojea commented on #108910
/cc @liggitt

[2022-03-23 10:17] MadhavJivrajani opened #108916 "go1.18: [Tracker] pull-kubernetes-verify failing"
### Which jobs are failing?

https://testgrid.k8s.io/sig-release-master-blocking#verify-master

### Which tests are failing?

[code]

### Since when has it been failing?

23rd March ~14:40 PDT

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#verify-master

### Reason for failure (if possible)

I am not fully sure yet but
https://github.com/kubernetes/kubernetes/pull/108870 c

[2022-03-23 10:33] MadhavJivrajani commented on #108916
`govet` failure is 100% due to https://github.com/kubernetes/kubernetes/pull/108870 because of https://tip.golang.org/doc/go1.18#vet

[2022-03-23 10:51] kickthemooon commented on #108911
I did additional test runs and logged the time it took the pod to be ready after it reached phase Running
[code]
So there is a weird variance that I cannot explain.

[2022-03-23 12:30] denkensk commented on #91492
I draft a doc for this and list some possible solutions. Please help to review it. @ahg-g @Huang-Wei @ryanmcnamara

 https://docs.google.com/document/d/1g2wj8S04M0yTy2t4l4GzrdARtxBpkBTfkJHw0oqBvXM/edit?usp=sharing

[2022-03-23 12:59] dims commented on #108910
presubmits were using image based on golang 1.17, so we hit it AFTER the 1.18 in k/k merged and then the master image was updated from 1.17 to 1.18

[2022-03-23 13:08] RafaelMoreira1180778 opened #108920 ""the HPA was unable to compute the replica count: failed to get memory utilization: missing request for memory/cpu""
### What happened?

I created a deployment, a service and an HPA. I deployed the metrics server and the HPA is throwing errors about requests not defined on the deployment when clearly the resources are requested and limited.

The errors thrown are:

[code]

The deployment has the resources well defined:
<pre>
<details>
$ kubectl get deployment pwa -n pwa -o yaml
apiVersion: apps/v1
kind: Deployme

[2022-03-23 13:10] RafaelMoreira1180778 commented on #108920
/sig Autoscaling

[2022-03-23 13:15] m-yosefpor commented on #84764
/reopen

[2022-03-23 13:15] m-yosefpor commented on #84764
@shuiqing05 can you please reopen this issue?

[2022-03-23 13:32] yangjunmyfm192085 commented on #108920
From the discussion of  [#989](https://github.com/kubernetes-sigs/metrics-server/issues/989), we analyze the problem that should not be part of the metrics-server and need to be analyzed from hpa

[2022-03-23 13:33] deegupt4 commented on #100047
i am still facing this issue on k8s 1.21.2 ,

kubectl get events
 Error: cannot find volume "kube-api-access-4rdxn" to mount into container "busybox"

as per my understanding, it's fix was provided for k8s 1.21.2 (https://github.com/kubernetes/kubernetes/commit/931516a87bc2f75607a29b50045f1c2b8f62b9e2)

[2022-03-23 13:51] deitch commented on #48180
/remove-lifecycle stale

[2022-03-23 13:53] wojtek-t commented on #108357
I have updated the release note in https://github.com/kubernetes/kubernetes/pull/108870 - resolving.

[2022-03-23 13:58] alculquicondor opened #108922 "Flaky integration test TestWebhookAdmissionWithWatchCache"
### Which jobs are flaking?

pull-kubernetes-integration

### Which tests are flaking?

k8s.io/kubernetes/test/integration/apiserver/admissionwebhook.TestWebhookAdmissionWithWatchCache

### Since when has it been flaking?

March 22nd

### Testgrid link

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestWebhookAdmissionWithWatchCache

###

[2022-03-23 13:59] alculquicondor commented on #108922
ah, I think this is tracked in #108910

[2022-03-23 13:59] #108922 closed

[2022-03-23 14:23] lminzhw opened #108923 "Service selector update is ignored when handle update event"
### What happened?

I met this issue when I create a LoadBalancer type service with wrong selector. And my LoadBalancer and cloud-controller-manager did nothing even after I correct my service selector.

I tried to find what happend inside my cloud-controller-manager, and finally I got this func    https://github.com/kubernetes/kubernetes/blob/8dd52e6c5dcd8068ee1080a4b7dcabd0a140a5ee/staging/src/k

[2022-03-23 14:42] liggitt commented on #108916
are we rolling back CI to 1.17 until we have the blockers resolved? otherwise we won't be able to fan out and merge fixes until all presubmit issues are fixed.

are there specific issues for the failures we can fan out to test owners to fix?

[2022-03-23 14:52] MadhavJivrajani commented on #108910
The CI failures should now be fixed on account of: https://github.com/kubernetes/kubernetes/pull/108901
Thanks Dims!

[2022-03-23 14:53] lminzhw commented on #108923
/sig cloud-provider

[2022-03-23 14:56] MadhavJivrajani commented on #108916
The CI failures should now be fixed (temporarily) on account of: https://github.com/kubernetes/kubernetes/pull/108901
Thanks Dims!

Not closing this out as we still need to tweak a few things to be fully back in business.

Other than the usual flakes (already filed as issues by other folks), nothing specific on account of the Go 1.18 switch over @liggitt, will keep a watch to make sure, thanks!

[2022-03-23 14:58] liggitt commented on #108916
I was more looking for the owners of the disabled verify checks to be fixing the issues with them; that's more what I meant

[2022-03-23 14:59] MadhavJivrajani commented on #108916
Ah
@pohly is on it :)

[2022-03-23 14:59] MadhavJivrajani commented on #108916
Slack thread: https://kubernetes.slack.com/archives/C09QZ4DQB/p1648037062792439

[2022-03-23 15:01] MadhavJivrajani commented on #108910
/remove-priority critical-urgent
/priority important-soon

[2022-03-23 15:12] ivandir opened #108926 "Creation of PV then PVC not equivalent to PVC request on Minikube host standard storage class"
### What happened?

Executing kubectl apply on the following yields different results.
[code]
[code]
The above PVC can be attached to a jenkins pod but cannot create directories and files due to permissions issues.

[code]

When it creates the PV automatically from PVC and attaching this same named PVC to jenkins pod it allows for creation of directories without permission issues.

### What did yo

[2022-03-23 15:24] jsturtevant commented on #108886
/triage accepted

[2022-03-23 15:29] fhp-kkuphal commented on #108876
I should also note that for reproduction purposes, using netcat was not a good tool.  I was able to use netcat to send individual packets through the firewall rules specifically because the first packet of a connection is always received.  Using a syslog source will demonstrate that the subsequent packets do not arrive and (as shown in my iptables logs above) rejected because they do not have a ma

[2022-03-23 15:39] lavalamp commented on #108793
What playbook are you referring to?

Who is "I", is it "I, the user with a kubeconfig file"? Or is it "I, kubelet"? Something else? In any case, how am "I" getting "my" kubeconfig file?

Is the DNS name properly configured? (there's a billion ways to do this and you'll find better help on e.g. stackoverflow, most likely)

[2022-03-23 16:07] leonardpahlke commented on #107530
Hello @bowei did you investigated this further? Thanks

[2022-03-23 16:13] leonardpahlke commented on #108307
job is passing :)
/close

[2022-03-23 16:15] JamesLaverack commented on #106917
Hey all.

As we approach the release for Kubernetes 1.24 (scheduled just under a month away on 19th April 2022), we're keeping track of this issue in the release team. Currently this is tracked as a release blocker, but after discussions with the SIG Docs team (cc @nate-double-u) we're under the impression that the docs are in a good enough ™️ state to no longer be blocking.

I'd like to get commu

[2022-03-23 16:16] dims commented on #106917
@justaugustus you had marked this release-blocker way back in December. Looks like we are in much better shape now. So we should remove the release-blocker tag. please revisit this when you get a chance (if you still think this is one).

@JamesLaverack +1 to remove `release-blocker`

[2022-03-23 16:45] #108307 closed

[2022-03-23 16:53] mrbobbytables commented on #106917
I would also +1 removing `release-blocker`. The dockershim docs team has been doing a great job at shoring up the needed docs :)

[2022-03-23 16:56] dashpole commented on #106536
/remove-lifecycle stale

[2022-03-23 17:01] neolit123 commented on #106917
the decision seems up to release, but there are a number of open PRs (maybe some are not tracked in https://github.com/orgs/kubernetes/projects/67):

https://github.com/kubernetes/website/pull/30882
https://github.com/kubernetes/website/pull/32131

first one is rather important and has been in review since December.
without these merging prior to release there is potential of a flow of tickets log

[2022-03-23 17:01] pohly commented on #108916
Actually, I had already prepared [the PR to replace verify-structured-logging.sh](https://github.com/kubernetes/kubernetes/pull/108159) a while ago because the script also had other issues and would have been hard to extend to support also contextual logging checks. It's just a coincidence that the PR is now ready for merging. :grin:

[2022-03-23 17:12] neolit123 commented on #108793
i think the description confused me and the user wanted to allow the kube-apiserver to listen on a hostname and not only IP. sorry about that. for configuring access to using kubeconfig files this falls under support and is not a FR.

please see:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2022-03-23 17:13] #108793 closed

[2022-03-23 17:14] neolit123 commented on #108793
if you really want to modify the scope of the kube-apiserver flags for binding and listening. reopen the issue and provide the details.

[2022-03-23 17:17] SergeyKanzhelev commented on #108804
/assign @bobbypage

[2022-03-23 17:23] SergeyKanzhelev commented on #108774
/triage accepted
/priority important-soon

[2022-03-23 17:27] SergeyKanzhelev commented on #108891
The test is not failing that much looking at the testgrid. Is it actually an issue?

[2022-03-23 17:34] SergeyKanzhelev commented on #108844
What is the scenario when you need to set time forward by one day?

We tend to close this as this is not a supported scenario and the side effect is minimal in this case. Please re-open if you have a legit scenario for changing time forward.

/close

[2022-03-23 17:34] #108844 closed

[2022-03-23 17:36] SergeyKanzhelev commented on #108804
/triage accepted
/priority important-longterm

[2022-03-23 17:39] SergeyKanzhelev commented on #108908
https://github.com/kubernetes/kubernetes/issues/100241 this may have fixed it but wasn't backported to 1.20. Please update to a supported version and try again

/close

[2022-03-23 17:39] #108908 closed

[2022-03-23 17:40] SergeyKanzhelev commented on #108868
/remove-sig node

let sig windows triage it first

[2022-03-23 17:47] SergeyKanzhelev commented on #90298
Can you please give a step by step repro for this? The original bug is saying the time should go back for a long time and then forward again. In general this time jumps causing all sorts of bad behaviors in distribute systems

[2022-03-23 17:53] MadhavJivrajani commented on #108906
/cc @utkarsh348

[2022-03-23 18:06] lapcchan commented on #29903
i am still having this issue on GKE 1.21. drain the node manually can fix this problem

[2022-03-23 18:08] mkimuram commented on #108891
Not so often, but it does happen. So, I think that it is worth fixing.

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-kind-ga-only-parallel/1506333769781481472
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-kind-ga-only-parallel/1505552248724262912
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/dir

[2022-03-23 18:26] ErickStaal commented on #108373
/sig api-machinery

[2022-03-23 18:28] ErickStaal commented on #108373
I added the label api-machinery to this issue, due to garbage collection being in scope of this sig and my issue expresses itself through an error from garbagecollector.go.

[2022-03-23 18:39] Huang-Wei opened #108931 "rethink sorting order of scheduling failure reasons"
### What would you like to be added?

Now the scheduler surfaces a pod's scheduling failure reasons by sorting the messages alphabetically:

[code]

However, on a large cluster or upon diverse failure reasons, due to the message truncation, sometimes you cannot spot the most common failure reasons, and thus hard to troubleshoot. For now, the only way is to dig into the scheduler log, which is not

[2022-03-23 18:39] Huang-Wei commented on #108931
/assign
/sig-scheduling

/cc @ahg-g @alculquicondor @ravisantoshgudimetla

[2022-03-23 18:40] Huang-Wei commented on #108931
/sig scheduling

[2022-03-23 18:43] neolit123 commented on #108926
hi, this might as well be a minikube problem?
i'm going to close the ticket, but please open the issue in the minikube repository and gather feedback from them.

if the minikube maintainers already told you to open a k/k issue, just click the reopen button.

/sig storage cluster-lifecycle
/close

[2022-03-23 18:43] #108926 closed

[2022-03-23 18:46] id-dan opened #108932 "Please join to us #standwithukraine"
Please support Ukraine, more infos here: https://github.com/vshymanskyy/StandWithUkraine

[2022-03-23 18:50] id-dan commented on #108932
/sig docs

[2022-03-23 19:00] neolit123 commented on #108932
@id-dan these are difficult times and i'm sure a lot of people would like to support Ukraine!

our issue trackers are not the right place to bring attention to your efforts, but please use the following:
- comment in #kubernetes-users on k8s slack
- send an email to the k8s mailing list: dev@kubernetes.io
- post in the kubernetes sub-reddit on reddit.com

you can also ask for more options at the #

[2022-03-23 19:04] neolit123 commented on #108932
i might have misunderstood the request, so given your request was to add banners to this repository as well i will reopen the issue and ping contribex.

/reopen
@kubernetes/sig-contributor-experience

[2022-03-23 19:12] neolit123 commented on #108932
/sig contrib-ex

[2022-03-23 19:13] neolit123 commented on #108932
/sig contributor-experience

[2022-03-23 19:17] samirpatry opened #108933 "secret with space after --from-literal=password='password' creates different base64 password."
### What happened?

created secret with regular command but due space after password it generates different base64 string.
e.g

`kubectl create secret generic flux-gitrepo-creds --from-literal=username=samir.patry --from-literal=password='MTQyMzM1MTE0MzE5Ouep7a7j/vXo6CyhD9obRiTB5fj5'  -n flux-system --dry-run=client -o yaml`

`apiVersion: v1
data:
  password: **TVRReU16TTFNVEUwTXpFNU91ZXA3YTdqL3ZY

[2022-03-23 19:18] samirpatry commented on #108933
this need to be part of k8s secrets no ?

[2022-03-23 19:36] qabpea commented on #108523
I am coming in late into this exchange.

TCP, UDP, and SCTP all use 5-tuples to express a connection/flow
TCP and SCTP has state machines defined for setting up and tearing down connections.

There is a big difference in what the expected behavior based on if an ephemeral port is used as the source port or if a "static/configured" port number is used.
Take TCP as an example, TIME_WAIT is there to

[2022-03-23 19:50] mrbobbytables commented on #108932
For banner, the right channel is steering. 👍 If you'd like to discuss, please reach out to steering-private@kubernetes.io

/remove-sig contributor-experience
/committee steering

/close

[2022-03-23 19:50] #108932 closed

[2022-03-23 20:21] #108063 closed

[2022-03-23 20:24] alculquicondor commented on #108931
Was the most repeated reason the one that would have helped diagnose?

I wonder if we need some custom ordering. Volumebinding should certainly rank high.

[2022-03-23 20:30] vteratipally commented on #108856
Skipping the tests for now https://github.com/kubernetes/test-infra/pull/25732

[2022-03-23 20:34] nodesocket commented on #70732
I think the reason why this issue breaks and then seems to magically work is if the Kubernetes worker nodes download the Docker image from the root `containers` then the next time `initContainers` runs it has the Docker image cached _(no auth needed)_. I was able to replicate this error if the Docker image is brand new _(not on any workers)_ and failing to auth using `imagePullSecrets`.

[code]

R

[2022-03-23 20:59] vaibhav2107 commented on #106946
/remove-lifecycle stale

[2022-03-23 21:03] vaibhav2107 commented on #105658
/remove-lifecycle stale

[2022-03-23 21:04] vaibhav2107 commented on #104639
/remove-lifecycle stale

[2022-03-23 21:06] liggitt commented on #108933
I can't reproduce this... both commands result in the same output:

[code]

[2022-03-23 21:07] liggitt commented on #108910
Actually, I think the CSR failures are a go bug we need to wait for go1.18.1 for

[2022-03-23 21:10] lavalamp commented on #108906
I'm hitting this in https://github.com/kubernetes/kubernetes/pull/108717 also.

[2022-03-23 21:17] liggitt opened #108940 "go1.18: Add metrics for SHA-1 certificates that will be rejected by go1.18"
### What happened?

go1.18 dropped support for certificates signed with the SHA-1 hash function - https://tip.golang.org/doc/go1.18#sha1

While this does improve security, and publicly trusted Certificate Authorities no longer issue such certificates, it is possible that user-provided certificates issued by private Certificate Authorities and used in webhooks or aggregated API servers do still use

[2022-03-23 21:35] tallclair commented on #99425
/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2022-03-23 21:38] thockin commented on #108526
For the sake of argument, one COULD say that hitting "mynode:nodeport" is analogous to LBVIP because it's the "backside" of the LB implementation - both assume that the balancer has already selected a node which satisfies ETP.

But more than arguing correctness - it already works, and even if it is weird and wrong, I don't think breaking it is wirth the risk.

(> FTR we could special case just nod

[2022-03-23 21:38] thockin commented on #108526
Is the above properly implementable in terms of IPVS?  @andrewsykim @uablrek

[2022-03-23 21:42] thockin commented on #108821
I recall discussing this with @mtaufen YEARS ago, when this effort kicked off.

I still think it makes sense that flags should override config files, but ISTR some weird corner cases where that was wrong.  I can not recall the cases.  The reason for my belief is that it seems common to want to distribute configs by file-distribution (configmap, ansible, git, etc) but still have locally-defined val

[2022-03-23 21:46] nodesocket commented on #82782
I just encountered this, and created a comment on another GitHub issue that seemed to have more activity. Can anybody confirm this is a known bug?

https://github.com/kubernetes/kubernetes/issues/70732#issuecomment-1076793732

[2022-03-23 21:49] thockin commented on #108523
I think what I was saying was that deleting the conntrack record for a TCP session with DNAT would result in a RST, but I am wrong.  Since that would happen (usually) on the client-node, the next client packet would actually go on the wire (since iptables and IPVS are connection-time hooks (well iptables is, I think IPVS is too)) and presumably go into a black hole.  So my whole premise was flawed

[2022-03-23 22:06] ahg-g commented on #108931
I think we need a better message structure, for example the message could be structured in tuples like this:

{`pluginName`, `nodeCount`, `message`}

and we enforce length limits on the per-plugin message, not the whole message.

"{TaintsTolerations, 10, list of taints not tolerated}, {VolumeBinding, 5, ...}"

This is an just an example structure, feel free to suggest others, but I think this is o

[2022-03-23 22:08] ahg-g commented on #108931
Also, we may want to have a each plugin produce a detailed and summary messages, the former we use for logging the latter for events.

[2022-03-23 22:08] liggitt commented on #108940
it looks like NewMissingSANRoundTripperWrapperConstructor already has all the plumbing, and instead of missing SANs we could check the SignatureAlgorithm and output a distinct metric

[2022-03-23 22:12] matthewygf commented on #108903
Per discussion on sig-scheduling [slack thread](https://kubernetes.slack.com/archives/C09TP78DV/p1647967672841409),  the motivation for this feature is to correlate and identify the root cause of high latency spike in scheduling latency. The potential outcome of this feature can allow users to deduce suitable combination of configuration, i.e. percentageOfNodes + list of plugins.

For example, con

[2022-03-23 22:13] dims opened #108942 "Watch for dependencies that go AWOL or switch licenses"
Problem:
We had an issue in external-dns repository where ( https://github.com/kubernetes-sigs/external-dns/issues/2653#issuecomment-1073115175 )
- The project switched licenses
- The project git repo vanished

Ask:
We need to monitor all kubernetes repos for (At least start with k/k)
  - the licenses of dependencies listed in go.mod are valid ( https://github.com/cncf/foundation/blob/main/allowed

[2022-03-23 22:14] dims commented on #108942
/sig architecture

[2022-03-23 22:23] thockin commented on #108942
This tool has worked well in other (smaller) repos.

[2022-03-23 22:30] #87185 closed

[2022-03-23 22:52] ehashman commented on #107803
Yeah, these appear to be running very different suites.

Containerd is running a very small subset of features https://github.com/kubernetes/test-infra/blob/10530c39ac9ad94b12341738e2697890eaf831d7/config/jobs/kubernetes/sig-node/containerd.yaml#L502-L510

CRI-O is running the full suite of Node tests + anything tagged NodeAlphaFeature, minus Serial/Flaky https://github.com/kubernetes/test-infra/b

[2022-03-23 22:53] ehashman commented on #107803
/unassign @kolyshkin

Perhaps someone can take a look at improving the containerd alpha job coverage?

[2022-03-23 23:04] drivera-armedia commented on #107260
I suspect istio is in the mix. I was having the same issue, and using this command solved the problem for me:

`$ istioctl install --set meshConfig.defaultConfig.holdApplicationUntilProxyStarts=true`

Found it [here](https://discuss.istio.io/t/how-to-hold-a-application-until-proxy-starts/8346).

[2022-03-23 23:33] Huang-Wei commented on #108931
With the shorter msgs, I'm afraid it can still reach the msg [limit](https://github.com/kubernetes/kubernetes/blob/0734820279ccce8c6034d9d122392fe3a0c7535e/pkg/apis/core/validation/events.go#L38) (1024 chars). Note that one plugin can yield different messages. When the limit is hit, we still need to figure out how to prioritize dumping the failure reasons.

[2022-03-24 00:29] thockin commented on #108523
What we really want is a one-time "poison this TCP session" trick.  Once a packet hits it, the poison HAS TO go away (hence an iptables rule is no good).

[2022-03-24 00:31] ehashman commented on #105204
/priority important-soon

[2022-03-24 00:41] liggitt commented on #108904
/remove-sig api-machinery
/sig apps

[2022-03-24 00:41] liggitt commented on #108904
Removing triage label to bump into sig-apps triage flow

[2022-03-24 01:50] sorkinl commented on #60338
@pmgk07 Thank you this helps a lot. We will start with changes going down the list and will reach out if we have any questions.

[2022-03-24 02:34] liggitt commented on #108906
I can reproduce with [stress](https://pkg.go.dev/golang.org/x/tools/cmd/stress) in a standalone test in go1.18 and not in go1.17:

[code]

[code]

[code]

[2022-03-24 02:35] liggitt commented on #108906
https://github.com/golang/go/issues/51799 mentions a race in httptest, but I think that is server-level and I don't think it is related to this

[2022-03-24 02:37] liggitt commented on #108906
I'll open a go issue for tracking

[2022-03-24 02:40] liggitt commented on #108906
cc @smarterclayton ... looks like the test was added in https://github.com/kubernetes/kubernetes/pull/6671, and I'm not 100% sure our calling Seek() on a body of a request already sent to client.Do() is correct

[2022-03-24 03:00] BenTheElder commented on #108916
/triage accepted

[2022-03-24 03:00] BenTheElder commented on #108910
/triage accepted

[2022-03-24 03:04] BenTheElder commented on #108542
we should do this. it is more efficient and we are moving in this general direction

[2022-03-24 03:04] BenTheElder commented on #108542
/triage accepted

[2022-03-24 03:07] BenTheElder commented on #106718
Test pods are generally not going to have any tolerations, so tests are not going to work if there are no ready and untainted nodes.

Without waiting for ready nodes we make the tests less stable.

[2022-03-24 03:08] BenTheElder commented on #105681
/remove-lifecyle rotten
we're on go1.18 now, perhaps this will be resolved?

[2022-03-24 03:23] liggitt commented on #108906
reported in https://github.com/golang/go/issues/51907

[2022-03-24 03:32] 2298814528 opened #108951 "How to specify the network card when initializing with kubedm"
### What happened?

How to specify the network card when executing **"kubedm init"**? Eth0 is used by default, but my public IP is above tunl0

### What did you expect to happen?

I want to use the public IP bound to tunl0 for initialization

### How can we reproduce it (as minimally and precisely as possible)?

kubeadm init --image-repository registry.aliyuncs.com/google_containers --apiserver-ce

[2022-03-24 03:38] nckturner opened #108952 "Remove insecure serving configuration from cloud controller manager libraries"
The [insecure serving configuration](https://github.com/kubernetes/cloud-provider/blob/v0.24.0-alpha.4/app/config/config.go#L37-L38) in the cloud controller manager libraries is deprecated, and similar configuration has been removed from most other components (apiserver https://github.com/kubernetes/kubernetes/issues/91506, kube controller manager https://github.com/kubernetes/kubernetes/pull/1068

[2022-03-24 03:45] Huang-Wei commented on #93500
/remove-lifecycle stale

[2022-03-24 03:46] denkensk commented on #108931
+1
In general, the highest frequency of failure is most likely not the most important.
A simple idea, can we order the failure reasons according to the reverse order of pre-filter or filter execution?

[2022-03-24 03:47] samirpatry commented on #108933
Here dot(.) is space and Unicode Character (U+A0). Issue was due to Unicode Character copied from the webpage. question is why Unicode Character taken into consideration while converting base64 after 'password'?

Working command snapshot:
![image](https://user-images.githubusercontent.com/46788546/159837375-66420dd6-de70-491a-830b-b8f96b5c7174.png)

Non-Working Command snapshot:
![image](https://u

[2022-03-24 03:53] limhawjia commented on #108556
@wojtek-t @lavalamp thanks for the input!

I did some investigating according to what's been said.

First, I have to agree that adding a "LastUpdatedTimestamp" might not be the best approach. It would definitely cause problems for noop updates, rendering them as actual writes. Any potential workarounds that I can think of, such as adding the timestamp after the equality check, or using a custom eq

[2022-03-24 03:55] liggitt commented on #108933
I guess the shell does not consider it an argument delimiter and includes it in the argument data passed to the process

[2022-03-24 04:01] Priyankasaggu11929 commented on #108942
/assign

I'll work on this. Will go through the pointers from the issue description & get back. Thank you!

[2022-03-24 04:22] 249043822 commented on #108774
[code]
Although the pod polling exhausted 4 times (interval 2s, total 6s+) to get pod Running, but from the kubelet log, the time from the pod found to Running status reported is almost less than 5s, so wo may reduce the poll interval to 1s, or make this time https://github.com/kubernetes/kubernetes/blob/5981bfd1896dff69716a98457e7e72ca866dba14/test/e2e_node/density_test.go#L238 more relaxed

[cod

[2022-03-24 04:28] lsc615 opened #108955 "1.23.5 kubeadm init --config= Execution failed. The configuration cannot take effect"
### What happened?

My execution steps are as follows. I'm trying to initialize the master node, but I've finished kubedm init -- config = kubedm config yaml --upload-certs --v=6 | tee kubeadm-init. Log, found kubedm config Yaml's configuration didn't take effect, so I created the Flanner, which caused the Flanner to restart constantly
[code]

### What did you expect to happen?

The pod address is

[2022-03-24 04:32] samirpatry commented on #108933
@liggitt agree on your comment. Any suggestion for end user how it can be avoided .

[2022-03-24 04:34] logicalhan commented on #108556
This would be subject to clock skew issues which, when considering the small amounts of time involved, could render average watch latencies almost meaningless.

Why not instrument your custom controller? You can measure e2e watch latency for any controller which watches objects that it itself writes. For instance, let's say you write to an object. Upon success, you get back an RV. Immediately befo

[2022-03-24 04:36] lsc615 commented on #108955
/remove-kind bug
/kind support
/sig cluster-lifecycle

[2022-03-24 05:07] liggitt opened #108956 "go1.18: tls unit tests don't pass locally"
### Which jobs are failing?

unit tests

### Which tests are failing?

[code]

### Since when has it been failing?

since switching to go1.18

### Testgrid link

_No response_

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

Weirdly, the test is passing in CI (https://testgrid.k8s.io/sig-release-master-blocking#ci-kubernetes-unit&include-filter-by-regex=Tes

[2022-03-24 05:10] thockin commented on #108942
The git-sync repo branch uses it as part of the image build, if that helps
at all.

On Wed, Mar 23, 2022, 9:01 PM Priyanka Saggu ***@***.***>
wrote:

[2022-03-24 05:11] Huang-Wei commented on #108931
Another idea is to give a shortcode (like `SCHED0001`) to each failure reason, and have a central place to lookup the particular human-readable message, so that we can always limit the msg to 1024 characters.

[2022-03-24 05:28] Roronoa-Z3r0 opened #108957 "If the apiserver service uses ipv6, it is impossible to communicate with the apiserver, and ip6tables has no generation rules"
### What happened?

After using the kubeadm init cluster, the apiserver service is ipv6 ip, the apiserver cannot be accessed, and the iptables rule is not generated

### What did you expect to happen?

IPV6 can be used to communicate with the apiserver。
![image](https://user-images.githubusercontent.com/45119426/159848305-e823928f-0ca3-4094-b28f-cf4cb656416e.png)
Here is the case of ipv4
![image](

[2022-03-24 05:29] Kartik494 commented on #106194
@BertelBB If the problem still exist from the deployment given above by @TechnoChimp shouldn't it be modified in example yaml?

[2022-03-24 05:30] Kartik494 commented on #106194
@TechnoChimp Could you please provide example yaml from where you are taking reference for mounting volume?

[2022-03-24 05:31] #96524 closed

[2022-03-24 05:32] Roronoa-Z3r0 commented on #108957
/sig Network

[2022-03-24 06:23] uablrek commented on #108526
Not for `externalTrafficPolicy`;

Please see https://github.com/kubernetes/kubernetes/pull/97081. But https://github.com/kubernetes/kubernetes/pull/97081#discussion_r786059368 by @danwinship makes me realize that there may be more to be done to be compliant;

(IMHO https://github.com/kubernetes/kubernetes/pull/97081 should be merged even if it doesn't solve _all_ problems since it solves the one u

[2022-03-24 06:39] muyangren2 commented on #108933
I can't reproduce this too, as you said your command is not exactly correct (A junk character was inserted between --from-literal=password='MTQyMzM1MTE0MzE5Ouep7a7j/vXo6CyhD9obRiTB5fj5'  and  -n flux-system  ) ，You must have to keep him correct

[2022-03-24 06:53] muyangren2 commented on #108801
/assign

[2022-03-24 07:04] uablrek commented on #108526
Sorry I missed "implementable" for "implemented". I can't see any problems to implement "as if they were sent to the clusterIP", but as mentioned https://github.com/kubernetes/kubernetes/pull/97081 may not be enough.

[2022-03-24 07:17] astraw99 opened #108960 "When no resource found, `client-go` Lister.Get() return a `NotFound` err, but Lister.List() just return nil"
### What would you like to be added?

When no resource found, `client-go` Lister.Get() and Lister.List() both return a `NotFound` err, to keep the error output consistent.

### Why is this needed?

When use the `client-go` Lister to Get or List resource(s), if the resource not found, the Lister.Get() return a `NotFound` err, but Lister.List() just return nil, this is confusing.

To keep the error

[2022-03-24 07:18] wojtek-t commented on #108556
With watchcache, it's highly probable that watch latency will vary significantly across resources. So if your controller is reacting on objects of type Foo, but writing those of type Bar, the watch latency of Bar objects can be low even if the watch latency for objects Foo (which is clearly more important in this aprticular case) is high.

[2022-03-24 07:19] astraw99 commented on #108960
/sig api-machinery

[2022-03-24 08:00] shanghai636848 opened #108961 "osm-init Back-off restarting failed container"
### Which jobs are failing?

modprobe: can't change directory to '/lib/modules': No such file or directory
iptables-restore v1.8.7 (legacy): iptables-restore: unable to initialize table 'nat'
Error occurred at line: 2
Try `iptables-restore -h' or 'iptables-restore --help' for more information.

### Which tests are failing?

osm-init

### Since when has it been failing?

osm-init

### Testgrid link

[2022-03-24 08:01] aojea commented on #108957
Please, don't use screenshots, use text and apply format.

The other matters when you configure your cluster, in this case it seems you have IPv6,IPv4, that means that the primary IP family is IPv6 and the apiserver will have that IP (currently apiserver is single-stack, it will be dual-stack in the future but is not implemented yet)

If you want to use a dual-stack cluster with apiserver service

[2022-03-24 08:04] aojea commented on #108956
seems related
https://groups.google.com/g/golang-nuts/c/RGghq2gTWss/m/7GsudTfCAgAJ

[2022-03-24 08:07] #108957 closed

[2022-03-24 08:08] MadhavJivrajani commented on #108961
/remove-kind failing-test
/close

@shanghai636848 please reopen this issue as a bug report with the relevant details. Or if I am mistaken, please fill in the relevant information about test grid if this is indeed a failing test. Thank you.

[2022-03-24 08:08] #108961 closed

[2022-03-24 08:08] MadhavJivrajani commented on #108961
You can reopen the issue by commenting `/reopen`

[2022-03-24 08:13] aojea commented on #105681
I think that go1.18 consumes more memory https://github.com/kubernetes/kubernetes/issues/108357#issuecomment-1053970948

[2022-03-24 08:19] GOVINDBHAVAN opened #108963 "Docker-Desktop Linux Tech Preview (PopOS/Ubuntu) : NFS MountVolume.SetUp failed for volume : mount failed: exit status 32"
### What happened?

Hello new to Kubernetes, not able to create a pod to use NFS server installed on the host PopOS (Ubuntu) machine from the kubernetes pod. I'm able to ping the host machine from another pods to the host IP: 192.168.43.16

**Error details:**
Events:
  Type     Reason       Age                 From               Message
  ----     ------       ----                ----

[2022-03-24 08:20] 249043822 commented on #107804
[code]
the container could not create 12000/2 pids, and may be killed by kernal

[code]

Does systemd config the TaskMax correctly?

[2022-03-24 08:53] RyanAoh commented on #108837
/assign

[2022-03-24 09:23] RyanAoh commented on #104195
Hi @aojea @liggitt , how about a temporary fix to validate statefulset's name  against DNS label for this issue? As @thockin said,  this would at least fail faster for statefulset, so that it can give a immediate feedback to user.

[2022-03-24 09:33] MadhavJivrajani commented on #108951
/kind support
/sig cluster-lifecycle

[2022-03-24 09:52] CKchen0726 commented on #108498
I took a checking and found that data has the type metav1.Time will not be added into `swagger.json` with "/api/v1/namespaces/{namespace}/pods/{name}/log", other than "io.k8s.api.core.v1.PersistentVolumeClaimCondition", but I don't know why.

Example:
[code]

[2022-03-24 10:57] ArangoGutierrez commented on #108801
https://github.com/kubernetes/kubernetes/pull/108946 fixes this issues
/assign
/unassign muyangren2

[2022-03-24 11:54] kkkkun opened #108975 "TestErrConnKilledHTTP2 failed"
### Which jobs are failing?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/107724/pull-kubernetes-unit/1506951069819736064

### Which tests are failing?

TestErrConnKilledHTTP2

### Since when has it been failing?

https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/107724/pull-kubernetes-unit/1506951069819736064

###

[code]

[2022-03-24 12:07] mohag commented on #107665
kube-scheduler seems to have a similar issue (but a shorter stack trace)

[2022-03-24 12:27] ahg-g commented on #108931
Not a good UX, it feels like one for a washing machine :)

That is actually a good idea, I like it, at least as a starting point.

Yeah, we still need enforce a limit of the total message.

Yes, but we can have logic to aggregate those; for example, imagine a `ErrorMessage` type that `RunFilterPlugins` creates and uses to aggregate the filtering reasons per plugin. And then each plugin should have

[2022-03-24 12:28] astraw99 opened #108977 "Use template metadata.name when creating pods from Job/CronJob"
### What happened?

When create job && cronJob with template metadata name specified, the metadata name of job-name or pod-name will not take effect.

Demo:
cronJob.yaml
[code]
job.yaml
[code]

The job-name created by demo-cronjob is just like `cronjob-name-xxx`, and the pod-name is just like `cronjob-name-xxx-xxx`;
The job-name created by demo-job is just like `job-name`, and the pod-name is just

[2022-03-24 12:29] pohly commented on #108975
/close

This is already tracked in https://github.com/kubernetes/kubernetes/issues/108043. A PR is pending.

[2022-03-24 12:30] #108975 closed

[2022-03-24 12:36] astraw99 commented on #108977
/sig apps

[2022-03-24 12:36] liggitt commented on #108956
yes, though the description in that issue seems to be not just test-related, but actual certificates that previously validated

[2022-03-24 12:42] RinkiyaKeDad commented on #108942
@Priyankasaggu11929 I can also help with this!

/assign

[2022-03-24 12:45] tossmilestone commented on #107483
We have found the issue is still existing at 1.22.8， the #108189 doesn't fix it completely.

[2022-03-24 12:52] pohly commented on #107665
When replacing `klog.Fatal` (useful because it doesn't do structured logging, not just because of the stack trace problem), remember to use `klog.Error` + the new `klog.FlushAndExit`. Updated migration instructions are pending in https://github.com/kubernetes/community/pull/6560

There's also https://github.com/kubernetes/klog/issues/316 - reverting the klog change might be a faster way to address

[2022-03-24 13:07] logicalhan commented on #108556
Yeah, queue depth and all that jazz. But you can still simulate a similar load.

[2022-03-24 13:08] frosk1 commented on #60538
yes of course, I did not see any new issue for the deadlock that has been opened or any updates within a pull request for a suitable solution.

@liggitt any news?

[2022-03-24 13:10] logicalhan commented on #108556
I genuinely thought this was how you guys did scale tests.

[2022-03-24 13:12] logicalhan commented on #108556
Also my suggestion below can definitely be used in production, i.e. the period writing to the object you want to measure the watch latency for.

[2022-03-24 13:15] jsafrane opened #108980 "AzureDisk in-tree tests don't work with CSI migration & single-zone Azure regions"
### What happened?

This test fails on Kubernetes cluster in "westus" region (without any number) and with CSI migration enabled:

`[sig-storage] In-tree Volumes [Driver: azure-disk] [Testpattern: Dynamic PV (delayed binding)] topology should provision a volume and schedule a pod with AllowedTopologies`

Error:
`
failed to provision volume with StorageClass "e2e-topology-84vk7sp": error generating

[2022-03-24 13:17] jsafrane commented on #108980
/priority important-soon
cc @andyzhangx

[2022-03-24 13:17] jsafrane commented on #108980
/sig storage

[2022-03-24 13:24] andyzhangx commented on #108980
@jsafrane per https://kubernetes-sigs.github.io/cloud-provider-azure/topics/availability-zones/#node-labels, `topology.disk.csi.azure.com/zone: "0"` is not a zone, it's actually a fault-domain num. valid zone format is `topology.disk.csi.azure.com/zone: "westus-0"`, could you change the storage class with `topology.disk.csi.azure.com/zone: "westus-0"` setting, and try again? Thanks.

[2022-03-24 13:35] andyzhangx commented on #108980
o, if "westus" region does not support zone, then I think you should test `allowedTopologies` setting in another zone, make sure you have created a zoned node first.

[2022-03-24 13:38] #108043 closed

[2022-03-24 13:39] RafaelMoreira1180778 commented on #108920
@yangjunmyfm192085 from my debugging steps today I managed to isolate the problem to being a namespace problem.

I deployed this sample basic manifest in the `default` namespace:
[code]

And this is what I got:
[code]

I do now know why in a different namespace it throws errors of fetching the resources. I start to wonder if it is an RBAC issue of some sort. But again it's strange because the HPA

[2022-03-24 13:40] jsafrane commented on #108980
I have as SC that works without CSI migration, with CSI migration it does not work. That's a regression. It should not matter if the SC is somehow odd. The labels are selected by test code, some other production code might use these labels too.

[2022-03-24 13:48] yangjunmyfm192085 commented on #108920
Based on your analysis, it is indeed a bit strange. But I don't know much about hpa, I don't know hpa has a problem with rbac, Maybe should we ask hpa about this?

[2022-03-24 13:53] jsafrane commented on #108980
Out of curiosity, how reliable are zone numbers in Azure? I can see `centralus-1` .. `cetralus-3` in a region with zones. If `"0"` is used **only** in regions without a zone, then the translation can translate `"0"` to `""`, which the CSI driver expects.

[2022-03-24 14:03] andyzhangx commented on #108980
@jsafrane I would say that's a wrong usage for zone. following config would create a pv that could only be scheduled to a non-zone node with fault domain `0`, if there is no node supports zone, then `allowedTopologies` should not be set.

[code]

[2022-03-24 14:10] andyzhangx commented on #108980
@jsafrane if we translation "0" to "", then the pv created by that sc could be scheduled to any non zone node with any fault domain. That's a corner case that cluster is not in zone, and user still wants to set `allowedTopologies` in sc

[2022-03-24 14:12] liggitt commented on #108906
Opened https://github.com/kubernetes/kubernetes/pull/108981 to skip the test until the underlying issue can be resolved. This issue must remain release blocking for 1.24 until we resolve the problem, since it does not appear to be a test-only issue.

[2022-03-24 14:23] gfvirga commented on #108498
@CKchen0726, Thanks for checking. I tested the API call and SinceTime query works fine. I will end up using the API directly.

Where do you see that it won't be added? There are a lot of `meta.v1.Time` being used in the API.

[2022-03-24 14:45] liggitt commented on #108940
/assign @stlaz
who offered to pick this up

[2022-03-24 14:52] haoruan opened #108982 "Update to tolerationSeconds doesn't work after tainting node"
### What happened?

Found when playing around the tolerations and taints.
You can still update the `tolerationSeconds` for a pod after a taint with effect `NoExecute` is added to the node , and if you describe the pod, it shows the updated `tolerationSeconds` in Tolerations, but it actually has no effect. The pod still be evicted after the original `tolerationSeconds` of time.

### What did you ex

[2022-03-24 15:03] salarai commented on #79224
+1 for re-open

[2022-03-24 15:13] alculquicondor commented on #108931
So as conclusions (probably good in different PRs):

1. go through all the messages and try to shorten them without losing context
2. order the failure reasons according to the reverse order of pre-filter or filter execution

[2022-03-24 15:17] jsafrane commented on #108980
I am not sure I understand. If I provision a CSI volume in the westus cluster, its PV gets `zone: ""` anyway:

[code]

I have the cluster only with nodes in "westus" region, so all of them are without any zone. What would the CSI driver do if there were nodes in "westus" and say "ukwest", which does not have zones either? I can't test that setup easily, but I think the driver would report `topolog

[2022-03-24 15:30] aojea commented on #79224
This is this way by design

https://github.com/kubernetes/kubernetes/issues/79224#issuecomment-504691320

[2022-03-24 15:31] samirpatry commented on #108933
yes junk character is there as i copied this command from one of site. but this junk character is outside of password . so just trying to understand while converting to base64 why it is taking out side of quote('password').

[2022-03-24 15:34] aojea commented on #108960
I personally feel that this is right:
 Get(name) that doesn't exist -> error,
 List() return empty if there is nothing

[2022-03-24 15:36] andiolsi commented on #79224
It has been a while and after having gained quite a bit more experience that I already had I am absolutely convinced that this wish goes against the way kubernetes works.

It will mostly pose problems on GitOPS deployments and even then tools such as ArgoCD offer solutions. (You decide whether those are good solutions or not)

If one is half way proficient with kubernetes and linux you can just sp

[2022-03-24 15:40] Riaankl commented on #108113
/reopen

[2022-03-24 15:40] alculquicondor opened #108985 "Pending workloads not updated in ClusterQueue status at creation"
### What happened?

When workloads are created, we are not updating the corresponding CQ status.

### What did you expect to happen?

The status to be up to date

### How can we reproduce it (as minimally and precisely as possible)?

Repro: https://github.com/alculquicondor/kueue/commit/1ae8618cb687956bcc6fc361ea839490164faa29

### Anything else we need to know?

This is because we are only queuei

[2022-03-24 15:41] alculquicondor commented on #108985
Oops, wrong project

/close

[2022-03-24 15:48] neolit123 commented on #108951
This has been duscussed many times. You cannot specify the network adapter in k8s components and there are no plans to support this.

You can either change the default route on the host or pin IP addreses for  kubeadm managed components.

/close

[2022-03-24 15:48] #108951 closed

[2022-03-24 15:50] bowei commented on #108523
@thockin you could synthesize a bad packet in the flow -- it might make the conntrack entry get thrown out...

[2022-03-24 15:50] neolit123 commented on #108955
You hava typo in podSubenet. Should be podSubnet.

Kubeadm prints warnings for unknown fields.

/close

[2022-03-24 15:53] neolit123 commented on #108963
/sig storage

[2022-03-24 15:54] neolit123 commented on #108980
/sig storage
/sig cloud-provider
/area provider/azure

[2022-03-24 16:21] neolit123 commented on #108955
/close

[2022-03-24 16:35] ejemba commented on #15478
/reopen

[2022-03-24 16:38] logicalhan commented on #108940
/assign

[2022-03-24 16:42] fedebongio commented on #108922
/triage accepted

[2022-03-24 16:42] logicalhan commented on #108854
/triage accepted

[2022-03-24 16:43] fedebongio commented on #108373
/help
/cc @deads2k
/triage accepted

[2022-03-24 16:43] fedebongio commented on #108940
/triage accepted

[2022-03-24 16:44] neolit123 commented on #108980
/sig storage
/sig cloud-provider
/area provider/azure

[2022-03-24 16:46] logicalhan commented on #108688
/assign @serathius
/triage accepted

[2022-03-24 16:46] fedebongio commented on #108960
Thank you @cyclinder and @aojea
/cc @yliaog in case he has an opinion too
/triage accepted

[2022-03-24 16:46] logicalhan commented on #108688
/wg structured-logging

[2022-03-24 16:53] anfernee commented on #105918
Correct. This has been resolved by #99287. We created this bug in one of the sig-windows meetings when we dig deep for code review. I think this could be closed.

[2022-03-24 17:09] BenTheElder commented on #108940
These restrictions are on the GitHub side, this message is posted when it receives a specific error from the GitHub API while attempting to assign 🙃

https://github.com/kubernetes/test-infra/blob/363df425977893d80cfca70e4895c5e486011764/prow/plugins/assign/assign.go#L191-L192

It is an annoying GitHub limitation, and one that seemingly does not exist in the web client vs the API.

[2022-03-24 17:15] jsturtevant commented on #105918
Thanks for the confirmation! If there are other issues we can follow up with a new issue.
/close

[2022-03-24 17:27] yliaog commented on #108960
agree with @aojea, it is expected to return empty list, as it is not an error.

[2022-03-24 17:57] RafaelMoreira1180778 commented on #108920
@yangjunmyfm192085 how may I get help from them directly?

[2022-03-24 18:36] fedepaol commented on #77662
This would help with loadbalancer implementations too, to save some resources (for example in metallb).

[2022-03-24 18:36] leonardpahlke opened #108989 "[Failing test] Conformance-GCE-master-kubetest2, go get not supported"
### Which jobs are failing?

* Conformance - GCE - master - kubetest2

### Which tests are failing?

* ci-kubernetes-gce-conformance-latest-kubetest2.Overall

### Since when has it been failing?

History goes back to 2022-03-23

### Testgrid link

https://testgrid.k8s.io/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master%20-%20kubetest2

### Reason for failure (if possible)

[code]

##

[2022-03-24 18:37] leonardpahlke commented on #108989
ref: https://github.com/kubernetes/kubernetes/issues/108910

[2022-03-24 19:17] MatTerra commented on #53459
+1

[2022-03-24 19:29] Huang-Wei commented on #89312
/reopen

I think it's still valid. Another usecase is VolumeBinding: with the PreFitlerResult's introduction, it's doable to have a fast path to check pod->pvc-pv and come up with a nodeNames slice.

[2022-03-24 20:12] bobbypage opened #108991 "Add kubelet configuration option to graceful shutdown to toggle if pods are put into terminal phase"
### What happened?

See discussion in https://github.com/kubernetes/kubernetes/issues/104531#issuecomment-982763592

Graceful node shutdown currently places pods into terminal phase upon shutdown. As discussed in https://github.com/kubernetes/kubernetes/issues/104531#issuecomment-982763592 and https://github.com/kubernetes/kubernetes/issues/104531#issuecomment-982766908 some users/distributions wo

[2022-03-24 20:13] bobbypage commented on #108991
/sig node

[2022-03-24 20:14] bobbypage commented on #108991
/cc @smarterclayton @liggitt since per discussion in the [original comment](https://github.com/kubernetes/kubernetes/issues/104531#issuecomment-982763592)

[2022-03-24 21:43] #105683 closed

[2022-03-24 21:53] jsoref opened #108993 "Changelog for 1.21.10 is misleading"
The changelog for 1.21.9 .. 1.21.10 says:
https://github.com/kubernetes/kubernetes/blob/11b3a18cca745485e1033be8d62a1d0cde5a1d1d/CHANGELOG/CHANGELOG-1.21.md#L493-L494

But, 1.21.10 is *not* built with Golang 1.16.13. It is only built with Golang 1.16.14.

I understand that at some intermediate point before 1.21.10 was released, it was built with that, but for me, a user who is potentially upgradin

[2022-03-24 21:56] jsoref commented on #108993
/sig release

[2022-03-24 22:13] D4rk4 commented on #105204
Reproducible on RKE with k8s v1.22.6

[2022-03-25 00:12] dobsonj commented on #61446
/assign

[2022-03-25 00:25] dobsonj commented on #79980
There are two problems:
1) The IsLikelyNotMountPoint() call that [verult already called out](https://github.com/kubernetes/kubernetes/issues/79980#issuecomment-887948656), which is known not to work for bind mounts. The mountpoint never gets found, so volume reconstruction fails with "... is not mounted", the PVC never never gets added to the list of attached volumes, and that's why we end up hitt

[2022-03-25 01:07] zrss commented on #72486
/reopen

[2022-03-25 01:08] Huang-Wei commented on #108931
It's challenging (or basically impossible) to come up with one universal sorting rule to claim that under any circumstance, the first ordered one is always the most important. So we have to find a more practical rule to fit _most_ cases.

@denkensk 's suggested sorting rule reveals another layer of info: the head failure semantically implies "X nodes have passed all other (N - X) nodes". They're l

[2022-03-25 01:10] Huang-Wei commented on #108931
I will let this issue soak for a while, and if no objections, I can get it implemented - basically use the profile's finalized PreFilter/Filter list instead of the static default ones.

[2022-03-25 01:28] vteratipally commented on #108856
/assign @vteratipally

[2022-03-25 01:37] #106746 closed

[2022-03-25 01:42] cyclinder commented on #108960
Lister.Get() return `nil` or `NotFound` err, I think both is ok.  Just look does it need to be consistent with Lister.List()?

[2022-03-25 02:08] dims commented on #108916
we are good now. with https://github.com/kubernetes/kubernetes/pull/108159 and https://github.com/kubernetes/kubernetes/pull/108902 we are back to the full set of verify tests.

[2022-03-25 02:08] #108916 closed

[2022-03-25 02:10] dims commented on #108910
@liggitt do we have commitment from the golang team to ship go1.18.1 with the fix we need in time for 1.24? (what are our chances?)

[2022-03-25 02:21] liggitt commented on #108910
I don't know, but given it is a recovery release fixing a regression, I would expect it sooner than the normal ~month cadence

[2022-03-25 02:33] Nivedita-coder opened #109003 "[Failing test] capz-windows-containerd-master"
### Which jobs are failing?

capz-windows-containerd-master

### Which tests are failing?

Kubernetes e2e suite.BeforeSuite

### Since when has it been failing?

2022-03-20 21:01 IST

### Testgrid link

https://testgrid.k8s.io/sig-release-master-informing#capz-windows-containerd-master

### Reason for failure (if possible)

_No response_

### Anything else we need to know?

_No response_

### Rele

[2022-03-25 02:34] astraw99 commented on #108960
I think it would be easier to handle err by client, if Lister.Get() and Lister.List() err is consistent.

[2022-03-25 02:38] mysunshine92 commented on #89007
/reopen

[2022-03-25 03:07] lsc615 commented on #108955
@neolit123 Thank you very much for you

[2022-03-25 03:14] xuchen-xiaoying commented on #108556
Thanks for your nice suggestion.  I think this is a good bypass approach to measure this metric in practice.

But overall I think Kubernetes is **an event-driven distributed system built on watch mechanism**, that's a big difference from other orchestration systems. **The event broadcast is like message queue in some degree, and the latency is valuable from the view of  event delivery.**

What I w

[2022-03-25 03:21] astraw99 commented on #108821
As the [Configuration as Code](https://www.cloudbees.com/blog/configuration-as-code-everything-need-know) said, maybe we can consider to use config files to pass default args, and keep using cmd flags to do the merge and override.

How do you guys think of using the mixture of them?

[2022-03-25 03:30] liggitt commented on #108821
The componentconfig APIs was what https://github.com/kubernetes/community/tree/master/archive/wg-component-standard spend a fair amount of time trying to sketch out.

Previous discussions on config/flag merging or not, or mixing instance-specific config:
* https://github.com/kubernetes/kubernetes/pull/101273#issuecomment-823357862
* https://github.com/kubernetes/enhancements/pull/1439/files

cc @d

[2022-03-25 03:39] ElvertMora commented on #108801
/assign

[2022-03-25 03:53] ElvertMora commented on #108801
#109007 fix done

[2022-03-25 04:00] CKchen0726 commented on #108498
@gfvirga I try in three ways. Firstly, add a new structure with metav1.Time and exec hack/update-openapi-spec.sh and the new variable will be not added into swagger.json, Secondly, add a new string variable into PodLogOptions and exec hack/update-openapi-spec.sh and the new variable will be added into swagger.json, Finally, change sinceTime to be a string  and exec hack/update-openapi-spec.sh and

[2022-03-25 06:14] mindw commented on #49387
/remove-lifecycle stale

[2022-03-25 06:42] uablrek commented on #108065
Wrote an issue on `go`; https://github.com/golang/go/issues/51934

[2022-03-25 06:47] ViliusS commented on #79224
This is not what this ticket is about. It‘s not about reading ENVIRONMENT variables or replacing Secrets with ConfigMaps, it‘s about how convenient deployment templates could be.

From: andiolsi ***@***.***>
Sent: Thursday, March 24, 2022 5:37 PM
To: kubernetes/kubernetes ***@***.***>
Cc: Vilius Šumskas ***@***.***>; Manual ***@***.***>
Subject: Re: [kubernetes/kubernetes] Reference Secrets from C

[2022-03-25 08:04] xuchen-xiaoying commented on #108556
Thanks for your nice suggestion.  I think this is a good bypass approach to measure this metric by sampling in practice.

But overall I think Kubernetes is **an event-driven distributed system built on watch mechanism**, that's a big difference from other orchestration systems. **The event broadcast is like message queue in some degree, and the latency is valuable from the view of  event delivery.

[2022-03-25 08:05] timoreimann commented on #101878
/remove-lifecycle rotten

[2022-03-25 08:05] piwenzi commented on #106741
i have the same promble,when i attach to pod container

code:
	fmt.Println("podName=", pod.Name)
	req := clientSet.CoreV1().RESTClient().Post().Namespace(pod.Namespace).
		Resource("pods").Name(pod.Name).SubResource("attach").
		VersionedParams(&corev1.PodAttachOptions{
			TypeMeta: metav1.TypeMeta{
				Kind:       "EphemeralContainers",
				APIVersion: "v1",
			},
			Container: debugContainerName

[2022-03-25 08:21] aojea commented on #108556
kubernetes it is an eventual consistent system and it is level triggered, the problem of edge triggered systems and the dependency on the time to react to events is what the [controller pattern solves](https://kubernetes.io/docs/concepts/architecture/controller/) ...

[2022-03-25 08:43] fengpengyun opened #110347 "When complete set default ServerRunOptions,the logic for generating the self-signature can optimize"
[MaybeDefaultWithSelfSignedCerts function](https://github.com/kubernetes/apiserver/blob/master/pkg/server/options/serving.go)

[code]

[2022-03-25 08:44] aojea commented on #108960
I have to disagree :) , is not about consistency, this example in the client-go project illustrate it well

https://github.com/kubernetes/kubernetes/blob/d58f42961cc397b820ea2372a42dee3bc33745eb/staging/src/k8s.io/client-go/examples/in-cluster-client-configuration/main.go#L51-L74

1. if you change the List() behavior to return an error, that is a non backwards compatible change, and you are going

[2022-03-25 08:48] 249043822 commented on #108805
The `trace `https://github.com/kubernetes/utils/tree/master/trace pakacge provides an interface for recording the latency of operations and logging details about all operations where the latency exceeds a limit. so we may realize a similar trace log which could log verbosity with a specific frequency

[2022-03-25 08:51] teiclap commented on #108523
@qabpea Here many people assumes that SCTP is a sort of variant of TCP, but it's quite a different beast.
The approach of conntrack in Linux and the similar mechanism in BSD relies in having a copy of the internal SCTP Host state machine for being capable of properly handling the connections.
At first, such approach doesn't take into account the multihoming feature of SCTP, meaning that a set of c

[2022-03-25 08:57] uablrek commented on #108876
I can confirm a _similar_ problem on K8s `v1.23.4`. On the node where the endpoint POD executes do;
[code]
on the node where the endpoint POD executes, the packets are DROP'ed and not forwarded to the pod, communication is dead. Same for tcp and udp with proxy-mode ipvs or iptables.

I am not sure if this is a bug or a "don't do that" problem.

BTW, what you set as policy on the node where traffic

[2022-03-25 09:22] aojea commented on #108876
these are my forward rules
[code]

IIRC, if you have a conntrack entry like this, that will not match the `-m conntrack --ctstate RELATED,ESTABLISHED` and will fall down to the default
[code]

if that is true, the conntrack related fixes I pasted will solve your problem
https://github.com/kubernetes/kubernetes/issues/108876#issuecomment-1075291844

[2022-03-25 09:23] aojea commented on #108876
ahh , wait, so , you say that this service is one direction only?

[2022-03-25 09:25] uablrek commented on #108876
@aojea Did you set `iptables -P FORWARD DROP`?

[2022-03-25 09:26] aojea commented on #108876
I think that I know the problem, since the traffic is one direction only, the conntrack entry never will move to ESTABLISHED

[code]

so it depends on the default policy

[2022-03-25 09:33] vsxen commented on #106917
In addition, remove kubeadm check for `socat` & netfilter ?
[code]

[2022-03-25 09:55] mengjiao-liu commented on #108610
Use the following command to get the test that takes more time to test as follows:
[code]
output tests:
[code]
Then we need to look at each test that takes a lot of time.

[2022-03-25 10:21] #108645 closed

[2022-03-25 10:55] jnummelin commented on #108689
thanks for the reference to the CRI definition.

hmm
[code]
That might make one to argue that it really _should_ point to the platform/arch digest as that is the "image in use", emphasis on the "in use" part. 😄

But I get the part where this is coming from CRI runtimes and out-of-control from k8s/kubelet point of view. And this is probably also so "standardized" in runtimes that it might be hard t

[2022-03-25 11:07] RafaelMoreira1180778 commented on #108920
@yangjunmyfm192085 I managed to solve the problem.

For anyone wondering what was happening:
- I created a deployment and a service for that deployment, I applied these labels:
[code]
- Then I created a statefulset and a service for that statefulset, and since I use CDK8s I, by mistake, reused the same labels, so what happened was that the pwa deploymen was picking up the pod of the statefulset as

[2022-03-25 11:07] #108920 closed

[2022-03-25 11:14] yangjunmyfm192085 commented on #108920
Thank you for sharing your experience in analyzing this issue.
This should help others.
As for the hpa, I'm not very familiar with it, sorry.

[2022-03-25 11:32] kuntal1996 commented on #91628
Is this issue still open.?

[2022-03-25 12:01] dims commented on #108910
Thanks @liggitt ! Looks like the backport issue is here: https://github.com/golang/go/issues/51852

[2022-03-25 12:15] neolit123 commented on #106917
@vsxen are you sure these are dockershim only?
See the containerd docs https://kubernetes.io/docs/setup/production-environment/container-runtimes/#containerd

Also socat and iptables forwarding are different things, AFAIK. Happy to cleanup some if these checks but we need proof.

[2022-03-25 13:02] fhp-kkuphal commented on #108876
Correct.  In this case it is syslog (UDP).  I can also confirm the information from the other linked issues that this is not a problem with kube-proxy in IPVS mode.

[2022-03-25 13:18] wojtek-t commented on #96497
I'm going to take it - will send out KEP update after code freeze to address the pagination in watchcache which seems to be the biggest blocker now.

[2022-03-25 13:18] wojtek-t commented on #96497
/remove-lifecycle stale
/assign

[2022-03-25 13:27] alculquicondor commented on #108931
Can we get 1 before the codefreeze?

[2022-03-25 14:10] qabpea commented on #108523
@teicap yes I am painfully aware of that TCP and SCTP are very different protocols, I implemented support for both SCTP and SIP in load balancers when I worked at Ericsson :-).
Multihoming in SCTP and MP-TCP is tricky when you do load balancing, you can not be sure that the packets for each direction/flowlet pass through the same device any longer and so on, combine that with direct server return

[2022-03-25 14:20] logicalhan commented on #108556
kubernetes **watch** is eventually consistent. LISTs and GETs are (depending on your query options) **strongly** consistent.

[2022-03-25 14:25] teiclap commented on #108523
@qabpea The conntracker is local, thus is SCTP fails sending HB in the expected time, the SCTP host is gone.
If it's the peer that doesn't send HB, it doesn't matter as it will be always the local SCTP refreshing the tracker by means of the same 4-uple.
You can cover paths towards different destination by trusting outgoing traffic.
There's work ongoing at IETF, please have a look at
https://www.ie

[2022-03-25 14:27] mkimuram commented on #79980
There is an ongoing [work](https://github.com/kubernetes/kubernetes/pull/105833) that changes `IsNotMountPoint` to utilize `openat2(2)` syscall to detect mount point by using [`MountedFast`](https://pkg.go.dev/github.com/moby/sys/mountinfo#MountedFast). By using `openat2(2)`, bind mount will be properly detected fast, but it requires kernel version is v5.6 or later. So, we would be able to also ut

[2022-03-25 14:31] qabpea commented on #108523
@teiclap thanks for the rfc reference, I will read it over the weekend

[2022-03-25 14:45] vsxen commented on #106917
I only find socat in there

https://github.com/kubernetes/kubernetes/blob/v1.23.0/pkg/kubelet/dockershim/docker_streaming_others.go#L44

for br_ netfilter it depends on which cni plugin you use, for example some cni plugin (cilium ovs) don't use bridge.

[2022-03-25 14:46] #105231 closed

[2022-03-25 14:50] tkashem opened #109021 "client-go: Stream does not retry on transient network failure"
### What happened?

`Do` and `Watch` in client-go retry on transient network error, these errors include:
- EOF error
- timeout error

Watch: https://github.com/kubernetes/kubernetes/blob/e7845861a5284ae9eb60268dc8e79e7ce4b34362/staging/src/k8s.io/client-go/rest/request.go#L610-L612

Do and DoRaw: https://github.com/kubernetes/kubernetes/blob/e7845861a5284ae9eb60268dc8e79e7ce4b34362/staging/src/k8

[2022-03-25 14:52] tkashem commented on #109021
/sig api-machinery

[2022-03-25 14:52] tkashem commented on #109021
/cc @deads2k @wojtek-t @MikeSpreitzer

[2022-03-25 15:15] liggitt opened #109022 "integration tests log many "http: TLS handshake error from 127.0.0.1:55336: EOF" errors"
### What happened?

Ran
[code]

### What did you expect to happen?

tests run without TLS errors

### How can we reproduce it (as minimally and precisely as possible)?

Run integration tests

### Anything else we need to know?

This happened on go1.17 and go1.18, so it's not new, but indicates we either have a setup issue in our integration tests, or our logging is outputting errors in situations

[2022-03-25 15:17] matthyx commented on #107802
It fails everytime with the same error cleaning up tons of namespaces:
[code]

[2022-03-25 15:25] aojea commented on #109022
/cc

[2022-03-25 15:33] #108856 closed

[2022-03-25 15:41] aojea commented on #109022
seems to be coming from this poll loops

https://github.com/kubernetes/kubernetes/blob/b7c2faf26c2a25427794478c6265e6d55e8acb5a/test/integration/apiserver/admissionwebhook/admission_test.go#L681-L682

https://github.com/kubernetes/kubernetes/blob/b7c2faf26c2a25427794478c6265e6d55e8acb5a/test/integration/apiserver/admissionwebhook/admission_test.go#L726

https://github.com/kubernetes/kubernetes/blo

[2022-03-25 15:45] endocrimes commented on #108689
I don't think it'd be unreasonable to expose image arch in the spec at all. I know we don't support macOS, but the concept of a platform being able to run multiple arch images isn't _that_ out there long term.

[2022-03-25 16:03] deitch commented on #41881
/remove-lifecycle stale

[2022-03-25 16:11] liggitt commented on #109022
that's... weird... I don't see any reason those would hit TLS EOF errors

[2022-03-25 16:19] aojea commented on #109022
[code]

[code]

[2022-03-25 16:48] 2uasimojo commented on #107454
I'm having trouble understanding why we can't delete the configmaps in version `x+2`. I just tried it and it Worked For Me™. What's the danger/symptom? How can I tell if I've been hit? @tkashem

[2022-03-25 16:57] wojtek-t commented on #107454
You won't be able to reliably rollback if needed.

[2022-03-25 17:22] alculquicondor opened #109026 "apiserver routines failing in integration tests"
### What happened?

A lot of different routines failing just when setting up an apiserver.

Example:

<details>
[code]
</details>

### What did you expect to happen?

No errors

### How can we reproduce it (as minimally and precisely as possible)?

[code]

https://github.com/alculquicondor/kubernetes/commit/cc5321fe372a0d923a7518cb417e917964cded20

### Anything else we need to know?

The test stil

[2022-03-25 17:23] alculquicondor commented on #109026
/sig api-machinery
/sig testing
cc @aojea @liggitt

[2022-03-25 17:32] AuraSinis opened #109027 "1.24 Release Notes: "Known Issues""
This issue is a bucket placeholder for collaborating on the "Known Issues" additions for the 1.24 Release Notes. If you know of issues or API changes that are going out in 1.24, please comment here so that we can coordinate incorporating information about these changes in the Release Notes.

/assign  @AuraSinis  @RinkiyaKeDad @Lp-Francois @csantanapr

/sig release