[2015-08-28 15:39] jcderr commented on #9178
Ok. From a prior comment, I was under the impression that your CF made a new VPC, but going back and reading the full threads in question, I see you were actually talking about `kube-up`.

The only non-stylistic difference in my CF is:

* I allow specification of an external etcd cluster
* Since I talk to an external etcd cluster, my master is in an autoscaling group attached to an ELB

These allo

[2015-08-28 15:49] timothysc commented on #13152
@jayunit100 per our discussions you can probably hit #1 pretty fast.

[2015-08-28 16:23] jayunit100 commented on #13152
For now ignoring proxy part, just focusing on api server append on startup , will see how end points cleanup

[2015-08-28 16:33] yujuhong commented on #12726
@swagiaal, kubelet updates node status now, and if the node status isn't updated for sometime, node controller would deem the node unhealthy.
E.g., if the node knows itself as "93.184.216.34", it'd try to update the status of node "93.184.216.34". The status of node "example.com" would not be updated by anyone, and would eventually become unhealthy.

[2015-08-28 16:35] mikedanese commented on #13152
If it's possible to rip out mastercount with this refactoring, we should do that.

[2015-08-28 16:38] #11707 closed

[2015-08-28 16:53] hurf commented on #10674
@bgrant0607 - the members themselves can choose to show their membership outside the org or not. It will be helpful if members set it to public, for users may know who they should ask for code review.

[2015-08-28 17:10] lavalamp commented on #12726
It fails through the proxy because master's proxy code uses IP address (not hostname) to reach the node. Master is actually doing the right thing there.

Master doesn't directly health check kubelets any more (monit does) so that's why this isn't currently breaking anything. I'm guessing the localhost exception was added because that's how monit health checks; but that's evidence that the original

[2015-08-28 17:11] lavalamp commented on #12231
Sorry, I meant to reopen, too. :)

[2015-08-28 17:13] bprashanth commented on #13270
Nice, so can we close this? you have decent cpu and good perf?

[2015-08-28 17:16] yujuhong opened #13311 "kubelet should clean up more reliably"
kubelet offloads most of the pod-specific work to the per-pod workers (goroutines). This includes creating pod directories and mounting volumes, and killing containers in some cases.
On the other hand, the main kubelet loop performs global cleanup/housekeeping such as unmounting and removing volume/pod directory, and killing containers in some cases.

This creates race conditions that lead to tran

[2015-08-28 17:19] lavalamp commented on #8827
@JeanMertz Yeah I think that will work. But it sounds a bit dangerous to me, because if you don't check what version is currently deployed before you do a rolling update, you won't know what to roll back to should it have a problem?

Perhaps this is style difference, but I think if it were me, I would always use literal version numbers in the config file and track which is the latest stable one el

[2015-08-28 17:25] yujuhong commented on #13257
Let's close this issue now that the PD test is back and running. As the followup, I created a new issue for cleaning up more reliably in kubelet #13311.

[2015-08-28 17:25] #13257 closed

[2015-08-28 17:27] saad-ali commented on #13257
We should also be more careful marking tests flaky. When a test is clearly broken (failing consistently) moving it to flaky just hides the problem and gives a false sense of security.

[2015-08-28 17:34] swagiaal commented on #12726
@yujuhong got it!
@lavalamp I see. The check is no longer correct then and given what @yujuhong explained the check is unnecessary :)
I'll open a PR to remove it.

[2015-08-28 17:43] yujuhong commented on #12726
@swagiaal, thanks!

[2015-08-28 17:43] saad-ali commented on #13311
I think that's a good idea.

We had to work around this in GCE PD attach detach logic: where the attach code, since it is kicked off by pod worker routine, didn't have to worry about blocking while attaching and mounting, but the detach code, since it is kicked off by the kubelet sync loop, had to be very careful about not blocking--and instead had to spin off threads to do clean up asynchronously

[2015-08-28 17:44] iterion opened #13313 "Inconsistent docker root causing fluentd failures"
It seems that there are potentially two separate issues here:
- The inconsistent docker root due to a potential race between kubelet and docker.
- The misconfiguration (on AWS) of fluentd to mount /var/lib/docker instead of /mnt/ephemeral/docker.

For the first issue, perhaps the kubelet should fail if it is not able to retrieve the docker root from docker info?

An alternative solution would be t

[2015-08-28 17:56] iterion commented on #13313
I updated the fluentd pod to look like the following which seems like it has resolved the issue on that node.

[code]

@justinsb based on the above, it definitely seems like this could be an AWS specific problem. I'm not sure what the best approach for a fix would be.

It's also strange that the logging seems to work sometimes, but many times it fails for this reason. I'm investigating what's happ

[2015-08-28 18:07] liggitt opened #13319 "Any panic inside a rest handler causes API server to exit"
panics are not propagated between goroutines, so if a panic occurs inside the goroutine spawned by apiserver/resthandler.go#finishRequest, the API server exits, because the registered recover() handler never intercepts the panic.

[2015-08-28 18:07] yujuhong commented on #13311
PD is definitely a more complicated case as it's shared by pods. We could either
 1. maintain a ref count somewhere, and let the pod worker detach the PD if ref count reaches 0.
 2. create a separate goroutine whose sole responsibility is managing shared resources like this. Individual pod worker can send requests to the goroutine, and this avoids unexpected race conditions.

(2) is theoretically

[2015-08-28 18:11] iterion commented on #13313
Further investigation:

On my cluster on AWS docker info gives:
[code]

Docker info seems to be used by the kubelet to set `dockerRoot` which is then used to create symlinks to the docker logs.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L162

[2015-08-28 18:13] liggitt commented on #13319
To illustrate this, add a `panic("here")` call to a validate function, like `ValidatePod`, start the api server, and attempt to create any pod. The API server exits

[2015-08-28 18:25] iterion commented on #13313
The inconsistency seems to be tied to nodes that defaulted to /var/lib/docker as their docker root.

[code]

Interestingly, on that node docker info still reports docker root as /mnt/ephemeral/docker
[code]

[2015-08-28 18:31] #12053 closed

[2015-08-28 18:54] timothysc commented on #13152
@mikedanese +1

[2015-08-28 19:02] housebolt commented on #10323
+1, if I can't assign my IP address explicitly, then I'm insecure in my knowledge that it will stay there and won't be changed automatically without my knowledge by my cloud provider. This happened to me on a few occasions during the beta phase.

[2015-08-28 19:08] JeanMertz commented on #8827
@lavalamp yeah, but we have a continuous deploy cycle where each commit on master - when the CI is green - is auto deployed.

Transitioning to Kubernetes, we're looking how this workflow fits with the Kubernetes release process.

Unfortunately, I just got this error:

So I guess my above workflow won't work after all. Back to the drawing board.

[2015-08-28 19:23] yujuhong commented on #13305
kubelet checks if docker is up periodically, and should post a "NotReady" node status to the apiserver if docker is unresponsive. Did this not happen in your cluster?

[2015-08-28 19:36] jwforres commented on #13306
@smarterclayton are you proposing that the API would not return the pretty name along with the username, but instead the clients would have to make secondary calls to get the pretty names for the users?

[2015-08-28 19:40] liggitt commented on #13306
there are no pretty names inherent in the user.Info interface, which is what would be used to populate this

[2015-08-28 19:47] thockin commented on #12459
I spent some time looking at this today, and I can't reproduce it.  Why does Gentoo not auto-load the modules?

[2015-08-28 19:49] copejon opened #13321 "local-up-cluster.sh should give an error if openssl fails"
Running hack/local-up-cluster.sh without OpenSLL installed causes the apiserver to timeout.  The error is masked in the script in `function set_service_accounts`.

[2015-08-28 19:50] copejon commented on #13321
@jayunit100

[2015-08-28 19:58] lavalamp commented on #8827
@JeanMertz ah-- in that case, I suggest using the git hash for the version. Has the nice property that you can easily find the exact code that's running.

[2015-08-28 20:08] bprashanth commented on #13305
Might also depend on what you mean by hung, if docker version is working but everything else is not it probably won't trigger the NotReady

[2015-08-28 20:11] sspeiche commented on #13305
@csrwng @wshearn Can you assist in providing the details of what you've seen on your end that is causing it to be stuck in pending?

[2015-08-28 20:15] csrwng commented on #13305
In this case some commands like ```docker images``` were responding, but ```docker ps``` and ```docker run [blah]``` were just hanging

[2015-08-28 20:16] quinton-hoole opened #13323 "Nodes Resize e2e tests run too slowly. Speed them up, or move them out."
We need to get the run time down to the 1 minute range, or else split these tests out into a separate slow-running test job:

* Nodes Resize should be able to add nodes  3 min 30 sec	Passed
* Nodes Resize should be able to delete nodes 3 min 29 sec Passed

A fair amount of the time seems to be spent waiting for the underlying GCE managed instance group to resize.

[code]

[2015-08-28 20:30] liggitt commented on #13319
I think a vulnerability to server exit on any panic-causing bug probably deserved more than a p2 :)

[2015-08-28 20:38] cjcullen opened #13326 "Don't open SSH tunnels into NotReady nodes."
NotReady nodes most likely don't have their network functional, and might even be down completely.

Any arguments?

[2015-08-28 20:38] vishh commented on #13311
Elaborating @yujuhong's option `2`, can PD be managed by a separate PD manager (or a Volume Manager) that understands the issues with PD? Creations and deletions of PD should go through that module.

[2015-08-28 20:50] cjcullen opened #13327 "gce.EnsureTCPLoadBalancer doesn't handle 0 nodes well."
We use the 1st node to compute hostTag: https://github.com/kubernetes/kubernetes/blame/master/pkg/cloudprovider/providers/gce/gce.go#L417

I'm guessing we should just skip the whole function call on zero nodes.

[2015-08-28 20:51] zmerlynn opened #13328 "Include SSH host fingerprint with node registration"
Follow on to #13326. When the node registers with the master, it should probably tell the master its host fingerprint as well. Then when we try to tunnel back, if anything hinky happens like #13326, it's easy to detect.

cc @cjcullen

[2015-08-28 20:51] satnam6502 commented on #12644
I am closing this issue since I have no heard anything back yet, and also because I am leaving Google and Kubernetes today.

[2015-08-28 20:51] #12644 closed

[2015-08-28 20:52] satnam6502 commented on #8001
Un-assinging myself since I am leaving Google and Kubernetes.

[2015-08-28 20:52] satnam6502 commented on #7507
Un-assigning myself since I am leaving Google and Kubernetes.

[2015-08-28 20:55] satnam6502 commented on #12994
Gone.

[2015-08-28 20:55] #12994 closed

[2015-08-28 21:05] JeanMertz commented on #8827
@lavalamp you are right, and in fact that is what we're doing already. Each git commit gets a tagged image in the gcr.io image repository.

However, that does not help me, because we'd still have to update the json file for each commit to master, which gets cumbersome. Automated updates/commits of the json file could be a possibility, but polutes the Git history.

Other than waiting for the multi-

[2015-08-28 21:17] lavalamp commented on #8827
@JeanMertz Sounds like you need to parameterize your config file. e.g. have {VERSION} in the .json file and pipe it through sed or something on the way to kubectl.

I was just chatting with @bgrant0607 about this; parameterization of config files is on our radar, but we don't have a good canned solution yet.

[2015-08-28 21:19] lavalamp commented on #8827
You could potentially also have the script that tags your image also spit out the command line or the config to do the rolling update.

[2015-08-28 21:21] mariomarin commented on #9178
@jcderr I like your approach. However, I want to match kube-up as close as possible and it seems to be using static clustering for etcd, right?

[2015-08-28 21:21] zmerlynn opened #13330 "Cleanup chicken/egg issue in #13281"
See https://github.com/kubernetes/kubernetes/pull/13281#discussion_r38243852

cc @ixdy

[2015-08-28 21:28] timothysc opened #13331 "Significantly larger frequency of "Unexpected EOF during watch stream event decoding: unexpected EOF""
Conditions:
3-node etcd cluster 2.2.0-alpha.1+git
HA active-passive (sched+controller-manager) using pacemaker w/ load-balanced api-servers running v1.1.0-alpha.0.2419+109c3f2b056a68

Prior behavior:
Periodically we would see watch reset with the non-descript  "Unexpected EOF during watch stream event decoding: unexpected EOF", which doesn't really tell us anything useful at all.

Recent behavior:

[2015-08-28 21:32] jcderr commented on #9178
Correct. I would say leave it the way you have it, and maybe call out a more robust production suggestion for standalone etcd, similar to how the CoreOS talks about their clustering setups [here](https://coreos.com/os/docs/latest/cluster-architectures.html).

[2015-08-28 21:50] a-robinson commented on #13035
Only opening the firewall on certain nodes is likely to cause problems, given that we include all of the nodes in the cluster in the GCE Target Pool. If any of those nodes in the target pool don't have the proper firewall, the fraction of requests that the load balancer forwards to them will get dropped on the floor.

At a higher level, there are two levels of selection here for choosing which nod

[2015-08-28 22:08] vishh commented on #9473
Cgroups based interface will work for memory, but it won't work for CPU.

[2015-08-28 22:09] cjcullen opened #13333 "EnsureTCPLoadBalancer always tears down forwarding rule & target pool"
See: https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L363

This means that any controller-manager restart or other sync will cause all external services to get new IPs. I don't think that is good.

[2015-08-28 22:10] cjcullen commented on #13333
Looks like the refactor in #8366 introduced this, so it isn't on the 1.0 branch.

[2015-08-28 22:10] cjcullen commented on #13333
@a-robinson

[2015-08-28 22:41] brendandburns commented on #13032
I think actually a lot of these problems are due to assumptions in the test that the ingress IP address stays constant across a port update, which it didn't.  I've updated the GCE code to make it stay true in: https://github.com/kubernetes/kubernetes/pull/13335

[2015-08-28 22:44] a-robinson commented on #8001
Now that GKE has hit GA, I'll be carving off some time for to get this working for Google Cloud Logging.

[2015-08-28 22:48] bprashanth commented on #13299
to help with debugging can you confirm that the target pool associated with your loadbalancer has session affinity? (you can do this through the console or gcloud)

[2015-08-28 22:49] jimmidyson commented on #8001
@a-robinson We should be able to leverage the fluentd PR you're reviewing - might be best to get all done in one for consistency, translating properties properly for Elasticsearch & GCL as required.

[2015-08-28 22:54] a-robinson commented on #8001
Yup, I'm hoping to be able to use that, but since GCL is going to require some extra work on fluent-plugin-google-cloud anyway I think it makes sense to get the ES improvements in first.

[2015-08-28 22:54] cjellick opened #13337 "Type of object in WatchEvent is incorrect in swagger json schema"
The type of the object property on the WatchEvent in the json schema is reported as a string but in reality it can be the object being watch, a status object, or (I think) a string in case of delete ([basing that assumption off of this bit of documentation](https://github.com/kubernetes/kubernetes/blob/64e5e1a2ddd5b30de6a5139876d41e0a90ecd3ac/pkg/watch/json/types.go#L37))

[2015-08-28 23:05] justinsb opened #13338 "Can we simplify cloud PersistentVolume creation?"
As I understand it, at the moment persistent volume creation is a two-step process:
1. I call the underlying cloud provider to create the volume (e.g. `aws ec2 create-volume`)
2. I edit a template pv.json document to insert the ID of the volume I created, and I then call `kubectl create -f ...`

I propose that the pv.json document tolerate a missing volumeID (or perhaps recognize a magic value), a

[2015-08-28 23:11] cjcullen commented on #13333
@lavalamp

[2015-08-28 23:13] pmorie commented on #9473
@derekwaynecarr i wish it was part of a spec that spanned multiple
container runtimes.

On Friday, August 28, 2015, Derek Carr <notifications@github.com> wrote:

[2015-08-28 23:16] iterion commented on #13313
It seems that there are potentially two separate issues here:

1. The inconsistent docker root due to a potential race between kubelet and docker.
2. The misconfiguration (on AWS) of fluentd to mount /var/lib/docker instead of /mnt/ephemeral/docker.

For the first issue, perhaps the kubelet should fail if it is not able to retrieve the docker root from docker info?

An alternative solution would b

[2015-08-28 23:20] bgrant0607 commented on #12322
Done enough. Will continue to add more things as we think of them.

[2015-08-28 23:20] #12322 closed

[2015-08-28 23:29] iterion commented on #13338
@justinsb I found this https://github.com/kubernetes/kubernetes/pull/10580/files for PVC which is maybe part of changes to enable this or the pool functionality?

I would really like to see this. I was a bit confused when I first used persistent volumes. To me it felt as if the default should be to create a volume on the cloud provider.

[2015-08-28 23:34] lavalamp commented on #13333
I agree we should probably avoid that if possible.

[2015-08-28 23:35] quinton-hoole commented on #13257
@ixdy is anyone working on the PR to move the GKE tests to the config in hack/jenkins/e2e.sh ?  Do you have a PR number? Perhaps someone can pick up where it left off.

@saad-ali Yes, marking tests as flaky is meant to only be done for truly *flaky* tests, precisely because by virtue of being flaky, they provide no useful signal (if they fail, there's likely no regression, and if they pass, they'r

[2015-08-28 23:35] zmerlynn opened #13339 "Alpha release mechanics issues"
This is a tracking bug for all the stuff that's needed to push new 1.1.0-alpha.x releases. I did this mostly manually for alpha.1.

* [ ] We need to fix `mark-new-version.sh` to handle the tag. This isn't a big deal. After you choose a build, you can just tag it on `master` and push the tag and things will just magically work.
* [ ] `build-official-release` isn't accepting the right regex. I hacke

[2015-08-28 23:37] a-robinson commented on #13333
This will be fixed by #13335

[2015-08-28 23:39] ixdy commented on #13257
There was a PR #10960 that never got finished.

[2015-08-29 00:08] zmerlynn opened #13343 "Fix make-release-notes.sh (in kubernetes/contrib)"
The shuffle to contrib means the wrapper script is no longer usable, so relnotes for `1.1.0-alpha.1` are currently lame.

[2015-08-29 00:10] zmerlynn commented on #13343
(https://github.com/kubernetes/kubernetes/releases/tag/v1.1.0-alpha.1 needs to be filled in, and I'm OoO next week.)

[2015-08-29 00:16] thockin commented on #3760
Still TODO: fix hairpin, e2e, enable by default

[2015-08-29 00:26] bgrant0607 commented on #8190
So I don't forget: It's worth investigating API management platforms as a solution to federation. Here's one:
https://getkong.org/

[2015-08-29 01:01] markturansky commented on #13338
We've proposed one way to maintain pools of storage.  https://github.com/kubernetes/kubernetes/pull/6773

When controllers are more pluggable, I think it should be easy to swap out one controller (that binds claims to pools) with another (that creates PVs on demand to the spec in the claim).  Both would watch  PVCs.  The object model doesn't have to change.

Creation on demand has been asked for i

[2015-08-29 01:02] markturansky commented on #13338
@kubernetes/rh-storage

[2015-08-29 01:06] jayunit100 commented on #13321
Yup, just need to check that the command exits 0

[2015-08-29 01:10] dalanlan commented on #13097
/cc @dalanlan

[2015-08-29 01:19] feihujiang commented on #13283
This is fixed by #13179

[2015-08-29 01:21] ghodss commented on #13283
Thank you!

[2015-08-29 01:21] #13283 closed

[2015-08-29 02:01] liggitt commented on #13282
for example, there are debugging transports that dump network traces at levels 6, 7, and 8

[2015-08-29 02:02] liggitt commented on #13282
As long as it goes to 11

[2015-08-29 02:05] liggitt commented on #13266
Usage of singular "log" subresource:
https://github.com/kubernetes/kubernetes/blob/ead7b376162e34f3a75436ef9ee631a1f953089c/pkg/kubectl/cmd/log.go#L149

In general, using a regex for that purpose is not great...

[2015-08-29 02:25] colorzhang commented on #13270
Yes, please. kube-proxy userspace perf has been covered by other threads already. Thanks.

[2015-08-29 02:26] bgrant0607 commented on #8827
It sounds like want you want to do is resolve latest to a specific version at deployment time: #1697

[2015-08-29 02:36] bgrant0607 commented on #8827
FWIW, committing a new version of the config file when deploying a new image version is exactly what we do inside Google.

Though the support isn't built-in, it wouldn't be hard to templatize the image field. You could substitute the tag with a one-line shell script.

I also believe Openshift does what you want, if you want to check that out.

[2015-08-29 03:56] bgrant0607 commented on #12226
Borg has some very large Job objects. We'll just need to add resource sizes to LimitRange and ResourceQuota, IMO.

[2015-08-29 04:02] MikaelCluseau commented on #3760
Hi Tim, sorry for not coming back to you, but we had [some mess](http://pidp.eastwestcenter.org/pireport/2015/August/08-20-02.htm) to handle here... I'll pick the fix hairpin next saturday I think.

[2015-08-29 04:39] brendandburns opened #13346 "We should remove NotReady nodes from a load balancer"
Currently, we add all known nodes, regardless of their status to a load balancer.   We should probably not add `NotReady` nodes, since they aren't health checking.

@a-robinson @thockin

[2015-08-29 04:48] #12726 closed

[2015-08-29 05:37] thockin commented on #12144
@bnprss - could you test the PRs I sent tonight against this issue?  I can
not reproduce it (I an sending 3k QPS at DNS with no problem)

On Tue, Aug 4, 2015 at 9:46 AM, Abhi Shah <notifications@github.com> wrote:

[2015-08-29 06:07] JeanMertz opened #13350 "rolling-update: error: resource name may not be empty"
I'm getting a `resource name may not be empty` error when performing a rolling update. From the looks of it, the update succeeded, but the old rc is never removed.

[code]

[code]

[code]

[code]

[code]

*(note that this json is dynamically updated - `latest` labels are changed to specific versions)*

[2015-08-29 09:21] JeanMertz commented on #8827
@bgrant0607 and @lavalamp thanks for that input.

I guess it's a difference in philosophy, in our strategy:

* every commit in `master` is treated as a release
* the CI is repsonsible for building the (Docker) image after all tests pass, and then triggers a deploy
* Git tags aren't used, instead we rely on Git refs
* each new image gets the current Git ref as its tag
* each new release also update

[2015-08-29 10:59] smarterclayton commented on #13306
And I punted on making the name an object ref because we don't even have a
formal object kind hierarchy for users (in Kube) and it's hard to impose
just one.

On Aug 28, 2015, at 3:40 PM, Jordan Liggitt <notifications@github.com>
wrote:

there are no pretty names inherent in the user.Info interface, which is
what would be used to populate this

—
Reply to this email directly or view it on GitHub
<

[2015-08-29 13:50] resouer commented on #13346
but, I found knowing which Node is NotReady help me to understand what's going on in the cluster. (I can't remember which node I ever added)

[2015-08-29 13:56] resouer commented on #13346
So, I think we should delete the Node after a "slack time"? @brendandburns

[2015-08-29 14:26] gambol99 commented on #11011
Note: the disk formatted check is using: # file -L --special-files /dev/<DEVICE> to verify if the disk is formatted or not. CoreOS doesn't have the 'file' command, so I have to use the temporary hack

[code]

[2015-08-29 14:30] ae6rt commented on #11606
Thanks for filing this.  This affects work I want to do as well.

There is another aspect to this issue that warrants recording.  If I depend on

[code]

for the sole purpose of being able to construct, say, Pod structs in memory in preparation for simple JSON serialization across the wire to the k8s master api-server, I cannot cross compile on my Mac a binary targeted at Linux.  There are compile

[2015-08-29 14:57] gambol99 commented on #11011
CoreOS doesn't have the file command, so to # file -L --special-files /dev/<DEVICE> won't work ... I implement a temporary hack though. I have a alpine container with nothing more than apk-install file

[code]

[2015-08-29 15:23] ae6rt commented on #11606
My needs around the raw types is modest.  For now I can simply use a Go text template operating on a template-ized slug of literal JSON text in my code.

[2015-08-29 15:44] resouer commented on #13203
This is interesting, can you tell us some details for your use case?

[2015-08-29 16:48] amygdala commented on #831
+1, I have just needed something like this as well.

[2015-08-29 16:55] amygdala opened #13353 "the docs need a gitRepo volume example"
The docs need a gitRepo volume example.

[2015-08-29 17:24] pmorie commented on #831
A couple thoughts / ideas:

1.  We should decide whether this feature would depend on the configuration of the host; #8702 deals with generalizing image representation in the API; I'd prefer not to make a docker-only feature if we can avoid it.  I'm not sure that we should go as far as promising to support whatever image format a user wants to use regardless of host configuration, but there is def

[2015-08-29 17:48] navicore opened #13355 "log level from pod via fluentd"
I got here from http://stackoverflow.com/questions/30955142/logseverity-on-aggregated-logs-in-google-container-engine

I'm running with kubernetes on gce with cloud logging enabled and looking at my pods logging output via the cloud logging console.  it is all there (great).

Is there a *best* log format that will facilitate log searches for WARN or ERROR in google cloud logging console?

[code]

[2015-08-29 19:39] JorritSalverda commented on #13203
It's mostly a workaround for go.cd server returning its internal ssl port to the agent on a different port than i would to map ssl to (443 external port, 8154 internal port). See ticket https://github.com/gocd/gocd/issues/1459. In that case having both 443 and 8154 map to 8154 would sort that problem. Outside of this workaround I can't really think of a good reason to use it.

[2015-08-30 04:03] resouer commented on #13203
i see, the reason is that we using dockerport as the key of portbindings[dockerport]=hostip:port that's why the prior one will be replaced. i can fix this in minutes, if any owner think ur case make sense

so #dibs

[2015-08-30 08:17] ntquyen opened #13357 "The secret data is not allowed to be more than 253 characters?"
May be it is the new constraint for creating secret. If so, how do I attach private key for git cloning?

[code]

error:
[code]

[2015-08-30 08:21] resouer commented on #13346
ignore my original comments, since i did not notice the load balancer. then this issue seems more like a bug now. and when node come back, proxy should be able to build the iptables rules. #dibs anyway.

[2015-08-30 08:39] erez-rabih opened #13358 "Using DNS names in Endpoints"
Currently it is only possible to add IP addresses to Endpoints in Kubernetes.
What if I need to add a DNS name instead of IP address as a service endpoint?

The classic use case is AWS RDS instances which provide different Databases as a service.
They provide an endpoint which is a host name and not an IP address.

Is there a way to workaround this limitation?

[2015-08-30 12:32] sroze commented on #10959
FYI, I'm experiencing this in "production" on Google Container Engine too.

[2015-08-30 13:17] bobef opened #13359 "Difference between the kubectrl docs and the getting started guide"
Here http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html it says

[code]

but here http://kubernetes.io/v1.0/docs/user-guide/kubectl/kubectl.html or when you run kubectl there is no `run-container`, only `run`.

[2015-08-30 15:40] apobbati opened #13360 "kubectl port-forward not working on gcloud"
I am having an issue with the `kubectl port-forward` command when interacting with a container cluster on gcloud.

Here's a the log output:

[code]

Is there anything I'm missing here? Can you point me to any troubleshooting guides?
Thanks!

[2015-08-30 17:02] amygdala opened #13361 "should 'gitRepo' volumes have 755 permissions instead of 750?"
As part of a pod, I'm creating a shared volume from a github repo, used by multiple pod containers.
(This is a workaround, as I really would like to use something like 'volumes-from' instead, as discussed in #831).

One of them is an nginx container.  If I run it like this, directly via docker, the volume mount works fine:

    docker run --name frontend -v <frontend_dir>:/usr/share/nginx/html:ro

[2015-08-30 20:47] davidopp commented on #13346
IIUC this is talking about a GCE load balancer, not the endpoints of a service?

[2015-08-30 21:23] smarterclayton opened #13364 "Endpoint watchers cannot assume Ready pods are "Ready" in the presence of process restarts"
If a pod process dies and is restarted by Kube (triggering the ready flag to be reset), there's no guarantee a load balancer watching endpoints sees the pod go back to not ready (kubelet updating status -> endpoints controller -> load balancer watcher) prior to the pod starting to listen on its port.  For any process that opens its TCP port before being ready, this means when a process dies and is

[2015-08-30 21:23] smarterclayton commented on #13364
@kubernetes/goog-cluster @kubernetes/rh-cluster-infra

[2015-08-30 22:15] JeanMertz commented on #10163
Interested in hearing more about this. Where did you get this? Given Alpine's DNS search woes, I'm in search for a replacement, but everything above 20mb seems overkill to run a single binary.

[2015-08-31 00:38] jdef commented on #13284
/cc @sttts

[2015-08-31 00:57] jdef commented on #4951
There needs to be a way to stop the kubelet from making changes at the host level. In certain deployments, kubernetes will be sharing the host machine with other services and should not assume ownership of the entire node (or the settings at the root level of that node). While I can appreciate the need for configuring this setting at the host level, I'm not sure that the kubelet is right place do

[2015-08-31 01:06] jdef commented on #5671
we've started implementing something along these lines. the currently exposed flags of the kubelet aren't quite sufficient since all kubelet-configured container paths, for example DockerDaemonContainer, aren't exposed. we've hacked around this for now, but it would be nice if future changes to the kubelet kept in mind that the kubelet may not be the only service on the host and that other managem

[2015-08-31 01:12] feihujiang commented on #12863
@smarterclayton Is there anybody to work on this? If not, I'd like to volunteer myself.

[2015-08-31 01:18] smarterclayton commented on #12863
No one has worked on this yet, so please.

On Sun, Aug 30, 2015 at 10:13 PM, feihujiang <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 01:50] feiskyer commented on #3350
@jainvipin Will you summit a PR for this?

[2015-08-31 02:13] resouer commented on #13346
@davidopp my bad, I already deleted my original comments, in case of misleading other people ...

[2015-08-31 03:18] resouer commented on #831
@pmorie

1. yes, I agree with you. Docker specific features is not good. At least, we need to decide that based on containerRuntime and warn user

2. actually,copy data out is what I originally trying to do in #12526. but for now Pod doesn't support one-time-off task well: a) RC will continually restart the container, b) restartPolicy is not container specific.

So, as restartPolicy is Pod level,

[2015-08-31 04:57] adyanthaya17 opened #13370 "Application not working on minion node"
I have brought up the wordpress application on the master-minion node but when I try to bring the application on a lone minion node, the wordpress is unable to reach the mysql which also exists on the same node.

Does anyone know why it isn't working? Thank you.

[2015-08-31 06:00] asridharan commented on #12459
@thockin , when you say you weren't able to reproduce it, is this on Gentoo or some other distro? Gentoo allows a lot of flexibility in terms of choosing the kernel options, and the specific modules that get loaded. Going through the Gentoo handbook would give a better idea about this. So on a gentoo installation, though a user might have "emerged" the iptables, its not necessary he would have loa

[2015-08-31 06:39] wojtek-t commented on #13257
@saad-ali Yes, marking tests as flaky is meant to only be done for truly flaky tests, precisely because by virtue of being flaky, they provide no useful signal (if they fail, there's likely no regression, and if they pass, they're likely not fixed yet). Consistently failing tests however (particularly if they were consistently passing before some point), provide a very strong signal as to what int

[2015-08-31 06:42] thockin commented on #3760
This was a note for myself - were you planning to tackle some of this? :)

[2015-08-31 06:56] janosi commented on #831
What do you think about having a "container manager" (e.g. Docker) specific part in the pod manifest? So, the owner of the pod descriptor could define here container manager specific options, and the task of kubelet would be to deliver those options to the container manager when the containers are created. A kind of transparent tool for delivering container manager specific data through the Kubern

[2015-08-31 07:04] MikaelCluseau commented on #3760
Yes, sure, as I said when we were speaking about e2e testing. I'm going to help, Kubernetes is of great help for me, so I'd better master it as much as possible, and what's best than taking bugs? :-) Feel free to suggest anything of higher priority, but I think hairpin is quite good for a start. It should take place in the kubelet and have a flag to enable (disabled by default at first). I'll try

[2015-08-31 07:07] adyanthaya17 opened #13374 "Nodetool status"
Instead of getting 100% I'm getting a '?' in the Owns section as below:

root@minion2:/home/ubuntu/cassandra# kubectl exec -ti cassandra-dtihg -- nodetool status
Datacenter: datacenter1
=======================
Status=Up/Down
|/ State=Normal/Leaving/Joining/Moving
--  Address     Load       Tokens       Owns    Host ID                               Rack
UN  172.17.0.7  96.89 KB   256          ?

[2015-08-31 07:14] MikaelCluseau opened #13375 "Pod-to-self networking require hairpin mode"
Linked to #3760, when using the iptables proxy instead of userspace, a pod can connect to a service IP it serves, looping back to itself. In this case, the Linux bridge implementation stops the packet from being processed because it then has the same input and output interfaces.

The solution to this problem is to enable the hairpin of each port of the virtual bridge where the pods are connected.

[2015-08-31 08:23] davidopp commented on #13284
If this is still flaking, please disable the test until a fix is available.

[2015-08-31 08:58] azr commented on #12391
Hello there !

Just to tell this morning I can read my logs again ! Wohoo !

No need to ssh in the node to get logs ! :)

I'll close the issue for yah, you seem to have plenty to handle.

[2015-08-31 08:58] #12391 closed

[2015-08-31 09:46] hurf commented on #11007
@jiangyaoguo

[2015-08-31 11:03] gmarek commented on #5761
This issue is outdated.

[2015-08-31 11:03] #5761 closed

[2015-08-31 11:04] gmarek commented on #5538
@quinton-hoole what's the best course of action for this? I don't know what's the current state of integration tests nor if we even care.

[2015-08-31 11:04] gmarek commented on #11790
Outdated.

[2015-08-31 11:04] #11790 closed

[2015-08-31 11:05] gmarek commented on #7606
@vmarmol @yifan-gu - can you give any update on this?

[2015-08-31 11:06] gmarek commented on #10080
@quinton-hoole @wojtek-t is this still a thing?

[2015-08-31 11:07] gmarek commented on #8285
cc @fgrzadkowski

[2015-08-31 11:09] gmarek commented on #8335
I believe this is solved by #12962 and things around this.

[2015-08-31 11:09] #8335 closed

[2015-08-31 11:13] gmarek commented on #6363
What do we want to do with this? It seems that some of things brought up are already implemented, but not all issues mentioned in the first entry are solved.

@bgrant0607 @davidopp @smarterclayton

[2015-08-31 11:13] gmarek commented on #5953
@yujuhong, @dchen1107 - do we have any measurements?

[2015-08-31 11:14] gmarek commented on #11631
@smarterclayton - do you think it's fully solved now?

[2015-08-31 11:16] gmarek commented on #5548
I think we can this issue. We have API-server side cache now.

[2015-08-31 11:16] #5548 closed

[2015-08-31 11:19] gmarek commented on #8151
@davidopp @roberthbailey @dchen1107 is this already fixed?

[2015-08-31 11:20] gmarek commented on #13112
I don't see how this is related to the large cluster doc. I believe information about max pods belongs to docs/user-guide/compute-resources.md.

@bprashanth @bgrant0607 @davidopp WDYT?

[2015-08-31 11:51] wojtek-t commented on #10080
Currently it's hacked - to provide a clear and fast solution we need to be able to quickly remove the whole namespace and to do it we need to be able to remove a collection of objects in a single step.
But I think we can close it now as a duplicate of https://github.com/kubernetes/kubernetes/issues/10380

[2015-08-31 12:12] jiangyaoguo commented on #11007
@bgrant0607 @hurf  I'll look into this and fix it.

[2015-08-31 12:20] deads2k commented on #13306
Is knowing a creator valuable without knowing the updaters?  I understand that creator is easy to track since there's guaranteed to only be one of them, but not knowing whether it's changed is kind of a big deal.  What about a `lastUpdater` marker to indicate that something outside of `status` has changed?

[2015-08-31 12:24] FibHeap commented on #13299
Yes ClientIP is set in the TargetPool. Also let me point out that we have two nodes in the target pool.

Also it seems to work when doing a roling update but not if the rc is deleted and recreated.

[2015-08-31 12:25] JeanMertz commented on #10439
/subscribed. Really interested in this capability :+1:

[2015-08-31 12:29] #10080 closed

[2015-08-31 12:43] joshm1 opened #13382 "Suddenly getting TLS Handshake timeout on most requests to the api server"
I'm unable to use `kubectl` because of TLS handshake timeout.

[code]

edit: After several tries I got one to go through, so it's not happening 100% of the time.  But the error has been recorded over 4k times in the logs.

I've also noticed the error is showing up often in `/var/log/kube-apisever.log` from requests from minions.

[code]

I also noticed a lot of `dial tcp 127.0.0.1:8080: connection

[2015-08-31 13:18] smarterclayton commented on #13306
Updater, for the purposes of this discussion, is a more complex creator.
So regardless of whether updater is added, the details about creator here
establish patterns that also apply to updater.

Tracking last update user depends on sorting out last update time as well
(which is extremely difficult to do correctly).  Also, updater on the
object is less useful without the ability to walk history whi

[2015-08-31 13:20] smarterclayton commented on #11631
The iterative part (node controller side, yes).  But not when an end user
deletes a node in the absence of a could provider.  That's dependent on a
GC, but we have a separate issue to track that (right?)

On Aug 31, 2015, at 7:14 AM, Marek Grabowski <notifications@github.com>
wrote:

@smarterclayton <https://github.com/smarterclayton> - do you think it's
fully solved now?

—
Reply to this email di

[2015-08-31 13:47] gmarek commented on #11631
What do you mean by 'not when end user deletes a node in the absence of a cloud provider'? IIRC NodeController removed Pods from explicitly deleted Nodes, as long as it wasn't recently restarted.

[2015-08-31 13:57] aveshagarwal commented on #7304
If nobody is looking into it, I would be happy to work on it.

[2015-08-31 13:59] joshm1 opened #13385 "Pods that fail health checks always restarting on the same minion instead of others?"
Over the weekend in the middle of the night, -I was walking in my sleep-, the `skydns` container in the `kube-dns` pod died.  The exact reason I'm not sure because I couldn't find much detail from the logs, but watching the etcd and skydns logs showed the root issue could've been `etcd`. A theory I have is that the /mnt/emphemeral/kubernetes filesystem was full (it's only 3.75GB and has a few larg

[2015-08-31 14:06] smarterclayton commented on #11631
If node controller is restarted after a user deletes a node it won't clean
the pods off, and then when it starts up again it doesn't know that the
node ever existed.

On Mon, Aug 31, 2015 at 10:47 AM, Marek Grabowski <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 14:08] gmarek commented on #11631
Right, that part is true. I just didn't understood how it relates to existence of a cloud provider. I don't know anything about an issue for GC. @bgrant0607 ?

[2015-08-31 14:19] wojtek-t commented on #13331
I was trying to reproduce this problem. So far I found an issue that the new cache is always returns error 500 when resourceVersion = 0 is passed to watch (previously it just started watching at "now", which wasn't very well defined). I will prepare a PR to fix it.

However, in your logs it seems to be a different issue - so far i wasn't able to reproduce it, but I will continue investigating.

[2015-08-31 14:21] wojtek-t commented on #13331
Actually - I looked deeper into your logs.

The watches that fail on your cluster (i.e. the logs you pasted) are for:
- serviceaccounts
- secrets
- namespaces

I haven't touched the watch for these resources (the new watch is switched on only for pods, nodes and endpoints), which mean it's unrelated to the "new watch in apiserver".
FYI: @timothysc

[2015-08-31 14:36] wattsteve commented on #13338
@justinsb As Mark mentioned in https://github.com/kubernetes/kubernetes/pull/6773 Dynamic Provisioning will allow for storage assets to be automatically created and registered as Persistent Volumes. This is the "cattle storage" model. A Kube Admin can declaratively submit a request to create x amount of persistent volumes for storage type y and Kube will make it happen. The issue is that not all s

[2015-08-31 14:39] derekwaynecarr commented on #9473
@vishh @pmorie - making it part of spec is useful, I just wanted to make sure that people knew there was an alternate method to get memory limits in the interim.

[2015-08-31 14:47] enzomd opened #13387 "Gcloud::Datastore::ApiError: API call to commit was not successful"
[code]
This happens quite often, I do not think I have hit my datastore quota limit.

What are some of the reasons that would cause a write to fail?

[2015-08-31 14:54] rrati opened #13388 "Experimental API client should be part of the client.Interface"
Currently the experimental API client is a separate entity from the stable client interface.  This causes problems if anything in the experimental API needs to be accessed by any component of kubernetes.  The only way a kubernetes process can access anything in the experimental API is to change the function signatures for anything that needs access to the experimental API.  This has large conseque

[2015-08-31 14:55] yujuhong commented on #5953
No, this hasn't been prioritized since before v1.0. I will unassign myself since I won't be able to get to it anytime soon, so people working on scalability can pick it up if necessary.

[2015-08-31 14:55] rrati commented on #13388
@lavalamp @bgrant0607 @smarterclayton @piosz @timstclair @derekwaynecarr

[2015-08-31 14:56] nmabhinandan commented on #1957
We use consul for our (micro) services because it's better than etcd. And we don't wanna run separate etcd cluster just for kubernetes. So +1 for consul.

[2015-08-31 15:21] resouer opened #13389 "Pod life-cycle postStart handler behavior question"
During my work around to fix #12526, it comes to me that postStart life-cycle handler does not work as I expect. Here's the case:

[code]

I mean to start two containers in a Pod, and then copy a file from 'nginx' container to Empty_dir volume.

But this handler will lead the container to Terminated status:

[code]

It seems postStart command is a exec that will replace the original CMD (`nc -l -p

[2015-08-31 15:22] smarterclayton commented on #12545
This is fixed by #12962

[2015-08-31 15:22] #12545 closed

[2015-08-31 15:22] smarterclayton commented on #11631
That's https://github.com/kubernetes/kubernetes/issues/7660

[2015-08-31 15:23] piosz commented on #13388
cc @mwielgus @jszczepkowski

[2015-08-31 15:27] gmarek commented on #11631
I believe that we should close this in favor of #7660 then.

[2015-08-31 15:35] #13387 closed

[2015-08-31 15:35] mbn18 opened #13391 "Use gcloud self encrypted disk with Kubernetes"
I need to encrypt the data on a block device and allow the Pod to access it as a volume.

I noticed its now possible on Google cloud to encrypt a new disk using [Customer-Supplied Encryption Keys][1]

Can I use self encrypted disk with Kubernetes and attach it to the Pod as volume?

If not, is there any other way to encrypt block device (for example LUKS) and use it with Pods?

  [1]: https://clou

[2015-08-31 15:36] derekwaynecarr commented on #13388
My initial thought is that the unversioned client should support the ability to reference an experiemental client via an accessor.

[2015-08-31 15:37] derekwaynecarr commented on #13388
Or we should pass around a client library instead of client.Interface directly and then clients can get the client object they need by version/type.  Agree we definitely need a semantic for this to keep things sane.  Passing client.Interface around now is not sufficient.

[2015-08-31 15:42] thockin commented on #9473
Let's also be clear - upstream kernel folks have, in the past, declared
this as dangerous and broken, and not guaranteed to be supported.

On Mon, Aug 31, 2015 at 7:40 AM, Derek Carr <notifications@github.com>
wrote:

[2015-08-31 15:46] jiangyaoguo commented on #7304
@aveshagarwal Now the kube-proxy has new iptables proxy. I'm waiting for its code stable and make events in userspace and iptables proxy uniformed.

[2015-08-31 15:52] aveshagarwal commented on #7304
@jiangyaoguo Not yet. I am just starting to looking into it. And yes happy to cooperate with you.

[2015-08-31 15:53] kamalmarhubi commented on #8262
Should the "Stdin and TTY" item be checked off now that #12168 has been merged? Is the rest of the status up to date? I'm quite interested in using rkt over Docker and might be willing to do some work here.

[2015-08-31 15:57] thockin commented on #10163
It was a plea for someone to do it, not that someone has done it.

On Sun, Aug 30, 2015 at 3:16 PM, Jean Mertz <notifications@github.com>
wrote:

[2015-08-31 15:57] kamalmarhubi commented on #7203
@yifan-gu did this happen? It seems like v1 API doesn't include this change. I'm interested in non-Docker runtimes and images and am curious what the latest is here.

[2015-08-31 15:59] timothysc commented on #13388
It seems fairly trivial to add to client.Interface, but we just want folks to agree on this one.

[2015-08-31 16:07] pmorie commented on #8379
@davidopp

The specific use case I was thinking of may not be an official one.  I only list it because since you _can_ do it now, someone might be doing it, whether we intended for people to do this or not.  With that in mind, here goes.  Today, I can run the kubelet in run-once mode on a particular host to run things in pods without using the API server.  If I want to run a particular pod this wa

[2015-08-31 16:09] yujuhong commented on #7606
@gmarek, as far as I know @yifan-gu has been working on finishing the rkt package, while I have been working on kubelet's performance issues.  (FYI, @vmarmol went back to the borglet team)

If you have any specific issue about dependencies, feel free to post it here so that we can help.

[2015-08-31 16:12] danielschonfeld commented on #12670
@dchen1107 is this still expected out for v1.1?

[2015-08-31 16:18] gmarek commented on #7606
IIRC there was supposed to be some description of what refactoring @yifan-gu is planning.

[2015-08-31 16:24] thockin commented on #13357
@pmorie

On Sun, Aug 30, 2015 at 1:18 AM, ntquyen <notifications@github.com> wrote:

[2015-08-31 16:24] mikedanese commented on #13388
We should to decide one way or the other for _all_ future API groups. Experimental should not be treated separately from those. @caesarxuchao is the one working on this. Please comment on #12951 (API Group RFC) which has a section on client-side implementation.

[2015-08-31 16:32] mikedanese commented on #13388
We cannot assume that the experimental API is always turned on. We should also be weary of experimental polluting stable systems.

Is the namespace controller an example or an exception? If an existing and stable controller suddenly needs to depend on an experimental API, that seems broken. Do we need to use the experimental client for other existing controllers?

[2015-08-31 16:33] timothysc commented on #13388
@mikedanese it's an example of how it breaks down.  Other users of the client.Interface will need access to experimental api.

[2015-08-31 16:49] mikedanese commented on #13388
@timothysc I buy it. Then the burden is on the reviewers to make sure experimental doesn't leak. FWIW, I hackily added Experimental to client.Interface in https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd in #13182 to get e2e tests to pass until this is solved. I was considering the Daemon Controller PR (and now #13037?) to be blocked until API Group RFC (#12

[2015-08-31 16:51] #13270 closed

[2015-08-31 16:52] lavalamp commented on #13388
We need to add a layer to our api. What is now `c.Pods("foo").Create...` needs to become `c.Core().Pods("foo").Create...`. (Of course, we can pass around c.Core() instead of just c, to reduce code churn.)

The experimental group should be accesed as `c.Experimental().Foo("ns").Create...`.

We could consider moving the namespace parameter into the api group call, but that'd be a much larger change.

[2015-08-31 17:25] derekwaynecarr commented on #9473
@thockin - understood, just wanted to make sure that @justinsb knew that the original location he had been looking for the memory information should be populated in docker 1.8.  This is just one potential stop-gap until real kernel solution is available.

[2015-08-31 17:28] timothysc commented on #13388
@mikedanese yes please, we are blocked on this.

@lavalamp - I LIKE IT! So when can we get it?    ;-)

[2015-08-31 17:32] derekwaynecarr commented on #13388
@timothysc  @lavalamp - i am fine poking through the client patterns to provide a grouping above client.Interface while I wait on some other items to land, but I would want some agreement on naming before proceeding.  I had been burned going too far on client changes in the past before we settled on the *Namespacer pattern ;-)  So if someone wants to put a quick proposal in here that is acceptable

[2015-08-31 17:37] vishh commented on #12375
@dchen1107 @roberthbailey: Can we prioritize this issue? I see quite a few support questions related to this.

[2015-08-31 17:41] ncdc opened #13394 "`echo foo | kubectl exec -i <pod> cat` hangs instead of cleanly exiting"
If you run the following

    echo foo | kubectl exec -i <pod> cat

it will print out foo and hang instead of returning control to the user in the shell. This is due to various changes to how go-dockerclient handles attach and exec.

I am working on a fix and will have a PR soon.

[2015-08-31 17:43] ncdc opened #13395 "kubectl exec -it <pod> bash hangs after you type exit"
If you run the following

    kubectl exec -it <pod> bash
    # exit

it will hang instead of returning control to the user in the shell. This is due to various changes to how go-dockerclient handles attach and exec.

I am working on a fix and will have a PR soon.

[2015-08-31 17:44] ncdc commented on #13137
I am working on a fix for this

[2015-08-31 17:44] vishh commented on #9473
@pmorie: How about exposing the API server APIs via the kubelet in read-only mode?

[2015-08-31 17:47] timothysc commented on #13388
@lavalamp aren't you the gatekeeper here?

@derekwaynecarr +10e256.

[2015-08-31 17:47] caesarxuchao commented on #13388
I already have some work towards this direction on my local branch, but it depends on #13233.

I will incorporate lavalamp's comment https://github.com/kubernetes/kubernetes/issues/13388#issuecomment-136427016 in #12591.

[2015-08-31 17:53] yifan-gu commented on #8262
@kamalmarhubi No jobs have been done for the Stdin & TTY yet, helps welcome :)
The image gc also should be easier than the others.
Enabling as many e2e tests as possible for rkt might be a little painful...

Besides, we are currently design/develop APIs for rkt, which should save us many effort maintaining all these in long term.

[2015-08-31 17:54] JeanMertz commented on #10163
Do'h, now I see the d instead of a t, excuse me.

[2015-08-31 18:08] bgrant0607 commented on #11007
Thanks for the correction, @hurf.

[2015-08-31 18:11] ulucaydin opened #13396 "Provide proxy option when gcr.io is banned"
For enterprises, it's very likely that gcr.io is restricted/banned hence a created Kuberentes cluster on a local environment fails to proceed since it cannot pull images such as gcr.io/google_containers/pause, which are currently hard-coded into the code.

[2015-08-31 18:40] thockin commented on #12459
My concerns are:

a) I shouldn't have to load iptables modules - every doc I can find says so
b) This is *guaranteed* going to drift and be perpetually broken on gentoo

The latter is more significant - how do we head-off all the support
requests?

On Sun, Aug 30, 2015 at 11:01 PM, asridharan <notifications@github.com>
wrote:

[2015-08-31 18:45] asridharan commented on #12459
I agree with your concern. That's the reason I was suggesting earlier that we should leave the headache of actually loading the module to the user. We should inform him explicitly of the missing module, based on the iptables failure, but should let the user deal with the actual loading of the module.

We can also document the required modules upfront for people to have a look at, possibly in the p

[2015-08-31 18:52] lavalamp commented on #13388
I will happily take a change that adds a layer in front. c.Core(), c.Experimental(), etc.

[2015-08-31 18:52] kamalmarhubi commented on #8262
@yifan-gu when you saw developing APIs, do you mean as a Go library, or something akin to the Docker daemon with, eg, an HTTP interface?

[2015-08-31 19:03] jayunit100 commented on #13152
true or false?  ripping out mastercount only has one consequence : stale api-server IPs would be floating around.

thats what im seeing in the code so far, am playing more with it today and diving a little deeper.

[2015-08-31 19:05] caesarxuchao commented on #13388
@derekparke could you wait for my PR which depends on #13233?

[2015-08-31 19:09] derekwaynecarr commented on #13388
sure

On Mon, Aug 31, 2015 at 3:06 PM, Chao Xu <notifications@github.com> wrote:

[2015-08-31 19:36] thockin commented on #12459
yeah, that sounds OK.  I thought maybe I actually was supposed to load
modules on all platforms and they just were pre-loaded on mine, but it's
not.

Is thsi something you can help with, since you have Gentoo and I do not?

On Mon, Aug 31, 2015 at 11:45 AM, asridharan <notifications@github.com>
wrote:

[2015-08-31 19:40] lavalamp commented on #13331
The frequency of these (which are pretty harmless, btw) scales with load on the cluster-- is it possible that load went up?

[2015-08-31 19:43] lavalamp commented on #13337
WatchEvent.Type should always be a string-- if that's not the case, please let us know what you're doing and we'll fix it. The comment you linked to applies to WatchEvent.Object, not .Type. Please reopen if this doesn't match what you see.

[2015-08-31 19:43] #13337 closed

[2015-08-31 19:47] lavalamp commented on #13346
Better yet, why not configure a health check for the load balancer, then we won't have a 5 minute delay where the loadbalancer is sending traffic to a down node?

[2015-08-31 19:47] yujuhong commented on #13236
The e2e tests are randomly failing because network is not configured on node, starting from build http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/8293

`Aug 31 03:22:18.526: INFO: Node e2e-gce-minion-3bxx condition 1/1: type: Ready, status: False, reason: "network not configured correctly", message: "", last transition time: 2015-08-31 03:22:17 -0700 PDT`

[2015-08-31 19:48] lavalamp commented on #13350
Sounds like a kubectl bug.

[2015-08-31 19:51] apobbati commented on #13360
The target pod wasn't listening on all interfaces. Works fine now.

[2015-08-31 19:53] lavalamp commented on #13357
As you can see here, that message is about the key, not the data:

https://github.com/kubernetes/kubernetes/blob/e5ac41331119bb8c67004b8efaa0c3d942b31d3a/pkg/api/validation/validation.go#L1493

So I suspect that your yaml/json is doing something you don't expect. Can you paste it here?

[2015-08-31 20:06] lavalamp commented on #13364
Are you sure? Kubelet should send a not ready status, then restart, then later a ready status. Endpoint controller should remove from the list, then later readd. The only thing not guaranteed here would be the latency between death and removal.

If the stop and restart are so fast that they both happen in a single pass of the endpoint controller, then the pod would stay in the list. If that's a pr

[2015-08-31 20:08] lavalamp commented on #13370
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-31 20:08] #13370 closed

[2015-08-31 20:09] lavalamp commented on #13374
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-31 20:09] #13374 closed

[2015-08-31 20:10] timothysc commented on #13331
@wojtek-t I only looked at the controller manager in that example.  I need to do a more in-depth grok of what's going on.

@lavalamp do you know the root?  The error is so non-descript.  I do notice that it increases with load, but this also seems to increase unnecessary traffic in the system.  When I start shifting the QPS+Burst caps it starts to become troublesome.

[2015-08-31 20:11] lavalamp commented on #13382
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-31 20:12] timothysc commented on #13388
@caesarxuchao what's your ETA, b/c if it's a couple of days out I'm just going to implement.

[2015-08-31 20:13] bprashanth opened #13398 "Gracefully handle cloud provider api downtime"
Kubelet doesn't update node status if it can't access the cloud provider api: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2127 which leads to the whole node NotReady chain reaction nodecontroller side. Feels like the kubelet can just continue using node.Status.Addresses to update status till the partition recovers. Can this lead to split brain?

@roberthbailey

[2015-08-31 20:17] nikhiljindal opened #13399 "Enable testing fields based on util.Time"
Based on discussion https://github.com/kubernetes/kubernetes/pull/12894#discussion_r38253051

There is no way right now to control the behavior of util.Time for tests. Hence, timestamp fields set based on that cant be tested properly.
We need a way to test that.
@bgrant0607 suggested using a simulated clock. util.Now should take a clock interface. We can pass a standard clock in our code, but pass

[2015-08-31 20:18] smarterclayton commented on #13364
So the use case is JBoss, which comes up and starts listening on port 8080 within about ~5-10 seconds.  However, WAR loading takes longer than that - another 10-60s depending on how big your app is.  The ready check guards that latter portion.  So sequence of events is:

1. Pod starts first time, goes ready, added to endpoints list, load balancer sees endpoints change and puts pod in rotation
2. P

[2015-08-31 20:18] yifan-gu commented on #8262
@kamalmarhubi No restful API at this time, we are going to use grpc. It should be easy to generate client bindings, and maybe we will do a more "docker client like" wrapper over the binding.

[2015-08-31 20:22] wojtek-t commented on #13331
@lavalamp - the load went down (looking at scalability tests there is a significant improvement)

[2015-08-31 20:26] wojtek-t commented on #13331
Anyway - let me fix the problem I mentioned above tomorrow and I will continue some investigation.

[2015-08-31 20:29] thockin commented on #13364
I'll fight hard to NOT put kubelet downtime in the critical path for pods.

There's a natural propagation delay here, as you point out.  Could we
mitigate by forcing Kubelet to POST the not-ready status BEFORE restarting
the pod?  At least LB's will have a chance to respond to not-ready before
the port reopens...

On Mon, Aug 31, 2015 at 1:19 PM, Clayton Coleman <notifications@github.com>
wrote:

[2015-08-31 20:31] asridharan commented on #12459
Sure,
 I can have a look at it. Don't have much experience wil GO, but this should be an incentive to pick it up :)

[2015-08-31 20:42] cjcullen commented on #12391
Sorry this fell off my radar, but glad to hear it is working again!!

[2015-08-31 20:44] cjellick opened #13400 "Type of object in WatchEvent is incorrect in swagger json schema"
@lavalamp You asked me to re-open #13337 if I still had an issue. I can't re-open that issue, so I'm creating a new one.

I was referring to WatchEvent.Object as it is described in the swagger API here:
https://github.com/kubernetes/kubernetes/blob/master/api/swagger-spec/v1.json#L11287
It is being defined as a string in the API schema.

I'm currently attempting to attempting to generate structs b

[2015-08-31 20:47] a-robinson commented on #13346
Agreed that health checks make more sense. It's not as general of a solution though since the openstack and AWS cloud providers will need to have health checks added as well, and upgrading to a new version of k8s won't update existing load balancers to have health checks.

The other downside is that GCE health checks require an HTTP endpoint to hit. We can use the kube-proxy's /healthz, but that's

[2015-08-31 20:50] smarterclayton commented on #13364
Hrm - not-ready has to propagate two layers asynchronously so there's
potentially infinite latency.  You'd have to define a minimum bounce
latency in the load balancer which makes you less tolerant to network
flakes.

On Mon, Aug 31, 2015 at 5:29 PM, Tim Hockin <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 20:52] smarterclayton commented on #13152
Yes, and those endpoints would show up in the individual kube-proxies.
Eventually, you could have the kube proxy potentially pointing to someone
else's server that listens on port X that starts getting your master
traffic from nodes.

On Mon, Aug 31, 2015 at 4:04 PM, jay vyas <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-31 20:57] technosophos opened #13401 "Vagrant: Broken EXTRA_DOCKER_OPTS"
During setup of a Vagrant cluster, it is not possible for `$EXTRA_DOCKER_OPTS` to ever get to a master or a minion. A bug in `cluster/vagrant/util.sh` is preventing the `$DOCKER_OPTS` environment from ever being overwritten.

The errant code appears in two places:
https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/util.sh#L151
https://github.com/kubernetes/kubernetes/blob/master/

[2015-08-31 21:07] #13319 closed

[2015-08-31 21:12] apobbati commented on #13360
Actually, its not working properly. The request seems to timeout.
I'm running a single RethinkDB container (https://hub.docker.com/_/rethinkdb/). I have started the rethinkdb server with `--bind all` to listen on all interfaces but it still times out.

[2015-08-31 21:29] caesarxuchao commented on #13388
@timothysc, if you urgently needs the PR, could you take a look at https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd? Basically ot implements the c.Experimental(). Our main concern is how it makes the experimentalConfig [here](https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd#diff-f013b1aafa99ed0c479d939400d636e9R142).

[2015-08-31 21:32] davidopp commented on #8379
Daemon controller takes node selector just like ReplicationController. Can you use that to select which node(s) you want to use? (Or maybe I am misunderstanding the problem.)

[2015-08-31 21:35] davidopp commented on #5953
@kubernetes/rh-scalability @kubernetes/sig-scalability

[2015-08-31 21:40] mikedanese commented on #13388
@timothysc I went down that path and found that to get client.Config and version negotiation working properly in the general case is pretty involved. I recommend doing as little as possible to get unblocked and e2e passing, then you can rebase over @caesarxuchao's work. The client.Interface interface will likely be the same or only slightly different so rebase should be straightforward.

[2015-08-31 21:44] jfoy commented on #13398
I have an internal patch doing exactly this; I'll send a PR when it's ready.

[2015-08-31 21:44] bgrant0607 commented on #13112
The LimitRange documentation was moved to docs/admin, but ResourceQuota was mistakenly left in docs/user-guide. We really should have the full documentation about how to create/update such limits in the admin guide, but user-relevant consequences should be described in the user guide. Using docs/user-guide/compute-resources.md as a home for the latter makes sense to me.

[2015-08-31 21:44] bgrant0607 commented on #13112
cc @derekwaynecarr

[2015-08-31 21:46] amygdala opened #13407 "kube-up.sh should detect an 'out of cores' quota issue and exit"
Seems that kube-up.sh does not react gracefully to not having enough cores to bring up the whole set of nodes.  It should detect and exit.

Instead, it just keeps retrying, apparently indefinitely, e.g.

[code]

[2015-08-31 21:58] karlkfi commented on #12866
In the vein of probe improvements: I'm not sure InitialDelaySeconds is really desirable as currently documented/implemented. I suspect a better option would be one starts probing immediately upon creation but delays interpretation of failed probes as failure until after the designated delay. This would allow probed resources to be found to be alive/ready ASAP, while waiting up to the configured ti

[2015-08-31 22:01] caesarxuchao commented on #13388
@timothysc, after in-person discussion with mikedanese, we think you can incorporate https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd to unblock your PR. We can deal with the experimentalConfig in a separate PR.

[2015-08-31 22:08] aaronlevy opened #13409 "node not found error when using --register-node=false"
When starting the kubelet with --register-node=false, I still see the kubelet continue to try and update its status in the API (which results in "node not found" errors).

I would assume if the node is not registering itself, it also shouldn't try to update the node status.

[2015-08-31 22:11] bprashanth commented on #13112
Only reason I suggested large clustes doc is because there's a correlation between people setting up large clusters and doing things that break out of our safety-sandbox (i.e wanting to use more than max-pods, violate default limit range, use N cores for etcd etc). As long as we link from docs/admin I think they'd find it.

[2015-08-31 22:24] lavalamp commented on #13400
Ah, I'm sorry, I see you are right.

@nikhiljindal What should the swagger be for this field?

[2015-08-31 22:30] lavalamp commented on #13152
@jayunit100 if masters think there is 1 master and there are more than one, then they will constantly fight over writing the endpoints. If they think there are more masters than there really are, then you will end up with stale entries.

[2015-08-31 22:42] lavalamp commented on #13399
We already have (or had) a fake clock in util package. Code that needs to be tested that uses a clock should accept a clock at creation time. Let's avoid making a global fake clock if we possibly can.

[2015-08-31 22:44] ghodss commented on #11492
The templating and parameterization should also be completely decoupled from the config reconciliation process (#1702). That means that there shouldn't be template functions that depend on kubernetes/kubectl/etc. unless it is done in a completely generic way. This way someone can use jinja2, jsonnet, yaml, or whatever other templating method they want and still be able to take full advantage of co

[2015-08-31 22:44] aaronlevy opened #13411 "kube2sky ignores insecure-skip-verify in kubeconfig"
Trying to set insecure-skip-verify:true in a kubeconfig for use by kube2sky.  However, the setting seems to be ignored (API requests fail with "certificate signed by unknown authority").

However, if a server is also specified in the kubeconfig, the insecure-skip-verify flag will be respected, and kube2sky can communicate with apiserver.

[2015-08-31 22:54] nikhiljindal commented on #13400
I guess it should refer to RawExtension model as defined here:  https://github.com/kubernetes/kubernetes/blob/master/pkg/runtime/types.go#L101 (which actually just contains a RawJson string field).
@bgrant0607 is it fine to expose RawExtension as part of our API models?

[2015-08-31 22:54] brendandburns opened #13412 "We should handle flaky cloud provider APIs more gracefully"
From: jonathanbweeks@gmail.com
... we experienced a catastrophic failure this morning when our in-house OpenStack cloud team went to upgrade from Juno to Kilo, and the OpenStack API went away for a period. (We are running Kubernetes on top of Openstack for our internal private cloud.)

We are still trying to completely grok the sequence of events, but from logs and source code inspection (we are o

[2015-08-31 22:55] brendandburns commented on #13412
One option would be to introduce a Node `LameDuck` status/state which basically marked the node as unschedulable for future pods, but otherwise left it in the cluster.

[2015-08-31 22:55] technosophos commented on #13401
FWIW, I am waiting for a Corp CLA to go through before I contribute a patch. If it goes through in time, I'll submit a PR.

[2015-08-31 22:56] brendandburns commented on #13412
@bgrant0607 @thockin @davidopp @lavalamp @smarterclayton

[2015-08-31 22:56] lavalamp commented on #13331
@wojtek-t I'm not sure this is an error; I'd like to remove support for starting a watch without a RV.

Also, I can easily believe that the load goes down when your stuff is turned on. But without your cache, increased load should increase dropped watches, or at least it does so when I last looked into it.

@timothysc Yes, this happens when etcd drops a watch connection. It's possible that apiserv

[2015-08-31 22:58] lavalamp commented on #13400
@nikhiljindal How would RawExtension's fields get exposed? Is there a way to just express "a json object"?

[2015-08-31 23:05] brendandburns commented on #13412
@davidopp said:

First, let me say I'm really sorry about the problem you had.

We are supposed to be rate limiting pod eviction (implemented by podEvictor in controllermanager.go). If this works properly and you do adequate monitoring, it should be possible to catch this kind of problem before it causes a catastrophe. In other words, (2) should eventually happen but it should take a long time.

I

[2015-08-31 23:05] bgrant0607 commented on #13412
What happened exactly? Nodes shouldn't be dependent on a cluster-level control plane.

Additionally, it would be reasonable for Kubelet to cache the information (even persistently -- #489) and not consider the lack of the ability to receive updates to be a problem, at least not for a longer period of time.

As for what type of conditions to add, they should reflect the status of the node, not the

[2015-08-31 23:05] lavalamp commented on #13412
I think the assumption that "cloud provider doesn't respond == node has been ejected" is just plain wrong, and if we model this uncertainty we can respond better in this situation. (If the node has been ejected, the cloud provider should answer the request and be angry at us--not silent.)

I think that probably looks like setting a flag and letting node controller decide if the problem is local to

[2015-08-31 23:06] nikhiljindal commented on #13198
Yes I agree that this is bad and we should fix it.
Wondering if @madhuri-rai07 faced this problem.

[2015-08-31 23:10] nikhiljindal commented on #8087
v1beta1 and 2 have been long gone. Closing the issue.

[2015-08-31 23:10] #8087 closed

[2015-08-31 23:10] brendandburns commented on #13412
fwiw, not scheduling anywhere is a lot better than deleted everywhere.

Let's take a scan at the podController rate limit code and make sure that it's actually working (and that we have an e2e for it ;)

[2015-08-31 23:11] brendandburns commented on #13412
also, @lavalamp the problem isn't that the node has been ejected, it could simply be that it's IP address has changed, in which case pro-actively asking the cloud provider is the only way you could know that.

[2015-08-31 23:14] lavalamp commented on #13412
@brendandburns If the node's IP has changed, then the cloud provider should actually return an error, in which case NotReady is a perfectly good thing to do. If the cloud provider is down, then the connection should not go through or you should get a low-level socket error or something, not a high-level cloud provider error. We should be able to tell the difference.

[2015-08-31 23:23] nikhiljindal opened #13414 "Generate 2.0 swagger spec"
Our swagger spec is as per v1.2.
We need to move to v2.0.

We use https://github.com/emicklei/go-restful to generate our swagger spec, which generates 1.2 spec.
https://github.com/emicklei/go-restful/issues/157 tracks updating it to generate 2.0 spec.

cc @bgrant0607

[2015-08-31 23:24] nikhiljindal commented on #13199
Yes, this was discussed before in https://github.com/kubernetes/kubernetes/issues/4700.
This will be fixed when we move to swagger 2.0: https://github.com/kubernetes/kubernetes/issues/13414

Closing this as a dup of https://github.com/kubernetes/kubernetes/issues/4700

[2015-08-31 23:24] #13199 closed

[2015-08-31 23:25] timstclair commented on #12866
@karlkfi Are you commenting on the API design, implementation, or both? I think that FailureThreshold could make the need for retries obsolete, but this is debatable since a retry would be immediate while the failure threshold would wait for the next probePeriod before retrying.

WRT initialDelaySeconds, what is the motivation for wanting to know whether a Pod is alive before the delay?

[2015-08-31 23:44] nikhiljindal commented on #13198
@adynathos please feel free to send a PR. I would love to see this fixed.

[2015-08-31 23:51] jefferai commented on #1957
@aronchick I don't really understand the question; Kubernetes labels are K/V entries so that seems to just rely on having an underlying K/V capability.

Maybe what you wanted to understand more about is Consul and its service discovery capabilities, and I misunderstood the question.

[2015-08-31 23:56] lavalamp opened #13416 "Occasional NotReady nodes in e2e tests"
In parallel and full tests, I occasionally see a test fail with:

"All nodes should be ready after test, Not ready nodes ..."

It happens frequently enough that we should probably track it down and fix it.

[2015-09-01 00:18] yujuhong commented on #13416
related: #13236

[2015-09-01 00:26] yujuhong opened #13418 "Investigate whether we should spawn off a dedicated goroutine for global cleanup tasks"
kubelet does a series of housekeeping/cleanup tasks, including removing pod directories, unmounting volumes, etc. The housekeeping tasks are currently intertwined with kubelet's main sync loop, and the frequency of housekeeping is uncertain.

We should investigate whether we should decouple housekeeping and individual pod operations by spawning a dedicated goroutine for it, and if we do, what the

[2015-09-01 00:31] yifan-gu commented on #7203
@kamalmarhubi Not yet. But I believe we still want to make multiple image format happen.

[2015-09-01 00:35] bgrant0607 commented on #831
This issue is how to create a convenient, extensible way to get data into volumes. Persistence of local data is another issue -- #7562.  The case of using --volumes-from just to keep track of a shared volume while it's in use isn't relevant to Kubernetes.

I think there are at least 2 cases we could support here:

1. Passive containers, where the image is pulled and the file system (the whole thin

[2015-09-01 00:42] lavalamp commented on #13416
Thank you, I think this is a duplicate.

[2015-09-01 00:42] #13416 closed

[2015-09-01 00:44] lavalamp commented on #13236
Merges are basically blocked because of this.

[2015-09-01 00:45] jfoy commented on #13412
I've submitted #13417 for the original issue, though it's a much more naive implementation than what is discussed here.

[2015-09-01 00:48] lavalamp commented on #13388
I agree that https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd looks like a good start.

[2015-09-01 00:52] karlkfi commented on #12866
@timstclair little of column A, little of column B. The name InitialDelaySeconds is ambiguous that you have to go by the documented/commented description, which describes the implementation. Technically we could change the implementation without changing the API, except that the API would then do something it didn't do before. As long as no one relies on a pod not recieving a probe too soon, it sh

[2015-09-01 00:52] aronchick commented on #1957
@jefferai Hey Jeff - thanks for writing back. Consul solves service discovery, uses an agent, etc. - all very powerfully.

But Kubernetes solves this a different way - it uses a label as a selector, and allows a user to expose that as a service endpoint with no agent. The fact that it uses a K/V store (whatever it might be) under the hood is totally hidden from the user.

For example, let's say yo

[2015-09-01 01:13] yujuhong commented on #13236
FWIW, this is what I saw from my e2e cluster:
[code]

The relevant line with the failure: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container_bridge.go#L76
Manually running `ip link set dev cbr0 down` has never failed for me.

[code]

[2015-09-01 01:17] JanetKuo commented on #13350
I'll take a look.

[2015-09-01 01:20] ghodss commented on #503
Is this now a dupe to #1743? Or do we still want to keep this open for the idea of builds? In which case it may help to close and fork given this issue as-is covers a lot.

[2015-09-01 01:24] ghodss commented on #503
The issue for a job controller is #1624, with the proposal for it at #11746.

[2015-09-01 01:43] timstclair commented on #12866
@karlkfi I agree with what you're saying with regards to the state transition from an implementation standpoint, but I'd worry that representing the state transition logic separately from the probe could add unecessary complexity to the API. I'm too green to make any strong statements about the API structure though.

Also, I believe containers are not restarted based on Readiness state, only Liven

[2015-09-01 01:43] jayunit100 commented on #13152
@lavalamp currently, yes, but that is only the case so long as we keep the `MasterCount` append statements, right?  The "mastercount" removal of endpoints is a side effect of the current list refresher implementation...  If a TTL based mechansim is used, the whole problem goes away ... right?

[2015-09-01 02:12] karlkfi commented on #12866
@timstclair If Probe were only used by pod containers, then the state transition config for pod containers could be in Probe, for simplicity and least change, but adding it to Probe means that the Probe model can only ever be used by other resources that share the same phase transition logic and support the same config options. @bgrant0607 was trying to convince me to not add Phase with my Compone

[2015-09-01 02:18] smarterclayton commented on #13152
I'm not sure a ttl mechanism justifies a special mechanism just for master
endpoints.  Our goal is to keep the list relatively pruned within a
window.  Having another component (endpoints controller?) check
reachability of masters might be a better solution.  I don't want to over
design this component before we consider self hosting (mirror pods ->
endpoints) or bootstrapping (where the bootstrapp

[2015-09-01 02:20] liggitt commented on #13357
underscore isn't an allowed character in secret data keys yet, so id_rsa doesn't match the regex

[2015-09-01 02:33] bgrant0607 commented on #12866
I don't recommend using initialDelaySeconds with readiness probes. We could not share the parameter definitions across readiness and liveness probes, at the cost of a little more code duplication.

I don't see what SuccessThreshold and FailureThreshold have to do with Phase. They are about translation of probe results to condition status.

We could potentially change killing behavior wrt liveness

[2015-09-01 02:36] bgrant0607 commented on #12866
WRT liveness vs. readiness separation: Internally these checks are implemented by 2 entirely different systems. The disadvantage to implementing readiness somewhere else is that it becomes harder for other components to take advantage of the information, which means they have to implement their own checks, which need to be specified in more places (load balancers, application updaters, node update

[2015-09-01 03:06] resouer commented on #13176
@roackb2 any PR is welcome, but I think Tim is already doing something to eliminate userspace proxy, which will improve Service performance remarkably, so ping @thockin

[2015-09-01 03:08] thockin commented on #13176
We will have both the userspace and iptables proxy modes for a while, so performance improvements on kube-proxy are welcome, if they are reasonably simple.

[2015-09-01 03:10] kshelton commented on #2849
Any feedback on the UDP LB implementation?

[2015-09-01 03:17] karlkfi commented on #12866
Perhaps I misinterpreted what you intend to do with the SuccessThreshold and FailureThreshold. I'm not sure what "2 entirely different systems" you mean, either, unless you mean docker vs rkt. I was under the impression that the [kublet prober](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/prober/prober.go) was used for both liveness and readiness probing of pod containers. I as

[2015-09-01 03:19] roackb2 commented on #13176
Ok, thanks for your reply.

[2015-09-01 03:19] resouer commented on #13077
@dalanlan have we work out the kube-down in ubuntu cluster? I think add a  `kubectl delete pods --all` in kube-down make sense.

[2015-09-01 03:19] bgrant0607 commented on #13388
deleteAllContent shouldn't really hardcode all the namespaced resources. That's not at all extensible. (And it's not documented in api_changes.md, AFAIK.) Like kubectl, it should be generic.

The API discovery mechanism(s) we're discussing as part of API groups would improve this greatly.

[2015-09-01 03:41] resouer opened #13424 "[Proposal] kubernetes cluster management using docker containers"
### kubernetes cluster management using docker containers

cc @WIZARD-CXY  @dalanlan

As we have already merged most of our internal code with 'docker-multinode' as planned, see:
https://github.com/kubernetes/kubernetes/pull/11109
https://github.com/kubernetes/kubernetes/pull/12023
https://github.com/kubernetes/kubernetes/pull/10829

We can now update the current bare-metal cluster deployment with

[2015-09-01 03:42] resouer commented on #13424
#dibs @dalanlan

[2015-09-01 03:42] resouer commented on #8798
@roberthbailey @tobegit3hub @WIZARD-CXY  See my new proposal: https://github.com/kubernetes/kubernetes/issues/13424

[2015-09-01 03:52] thockin commented on #13411
@jeffml @mikedanese - what is expected behavior here?

On Mon, Aug 31, 2015 at 3:45 PM, Aaron Levy <notifications@github.com>
wrote:

[2015-09-01 04:05] resouer commented on #13424
#### Pros
1. No distro diversity anymore, this will close a lot of related area cluster issues
2. Much easier to maintain, one distro one manianer, that's wired. Eventually, have will only cloud provider and bare-metal provider
3. Much much easy to test & verify & tear down

#### Cons
1. Docker daemon will be used as a dependency, no plan to use rkt for now
2. Two daemons have to be running, but c

[2015-09-01 04:05] resouer commented on #13424
#dibs @dalanlan @zju-sel

[2015-09-01 04:08] thockin commented on #13346
There's no guarantee that kube-proxy will be up in general.  In Borg we
health-check for a third-party daemon that we know is very very reliable.
We could do the same here.

On Mon, Aug 31, 2015 at 1:48 PM, Alex Robinson <notifications@github.com>
wrote:

[2015-09-01 04:14] thockin commented on #13375
Better heuristic:

for intf in /sys/devices/virtual/net/cbr0/brif/*; do echo 1 > $intf/hairpin_mode; done

The only tricky part is knowing the name "cbr0"

[2015-09-01 04:21] MikaelCluseau commented on #13375
I don't know yet the internals, but I was going to look for the interface holding the pod's IP to set up hairpin on deploy, right after the "pause" container is created.

[2015-09-01 04:21] kshelton commented on #13035
@a-robinson in regards (2) How about only allowing either a) no tags or b) all having matching tags, throwing an exception if there is a mix.  I think the ultimate solution is allowing the user to provide the tag(s) (or defaulting to this method), but I'm am unsure how to plumb that through in a generic way (do the other providers have a tag equivalent?).

In regards to (1), how about changing the

[2015-09-01 04:23] ntquyen commented on #13357
Oh, sorry I though the error is about the value!!! Thanks @liggitt @lavalamp

[2015-09-01 04:23] #13357 closed

[2015-09-01 04:27] thockin commented on #13375
No matter what we do this is going to be a bit hacky - we need to move all
the networking stuff out into a plugin, but we need to solidify the plugin
interface first.

On Mon, Aug 31, 2015 at 9:21 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-09-01 04:31] MikaelCluseau commented on #13375
I'll keep that in mind :-) The main point is that I see this code run in the kubelet, I hope I'm not wrong.

[2015-09-01 05:09] piosz commented on #13236
cc @gmarek

[2015-09-01 05:39] thockin commented on #13375
that's correct :)

On Mon, Aug 31, 2015 at 9:32 PM, Mikaël Cluseau <notifications@github.com>
wrote:

[2015-09-01 06:06] kgrvamsi commented on #13019
@bgrant0607 is this issue can be resolved ?so that i can decommission the servers which i kept them aside untill i see any solution to apply on those servers and get the cluster state back.

[2015-09-01 06:12] davidopp commented on #8151
I think so. The last TODO was to have a test, and I believe we're testing it
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/cluster_upgrade.go#L247

[2015-09-01 06:14] davidopp commented on #6363
Let's keep this issue open for future discussion.

[2015-09-01 06:28] #8151 closed

[2015-09-01 06:35] wojtek-t commented on #6363
Let's keep this issue open for future discussion.

+1

[2015-09-01 06:38] tech2free commented on #10190
The same error, did you get any solution?

[2015-09-01 06:38] JeanMertz commented on #561
I haven't seen this mentioned here, but is there any thought on integrating the new HTTPS LBs on GCE?

https://cloud.google.com/compute/docs/load-balancing/http/ssl-certificates?hl=en_US

We currently create separate RCs to host a standard nginx reverse-proxy with SSL termination for each "real" service that we host on Kubernetes. This is managable so far, but leveraging Kubernetes to auto-create

[2015-09-01 06:39] wojtek-t commented on #13236
This is especially visible on the gce-scalability suite.
Since exactly the same time - not even a single test passed.

There are 3 PRs that could cause that (looking at what was merged around that time):
https://github.com/kubernetes/kubernetes/pull/13356
https://github.com/kubernetes/kubernetes/pull/13237
https://github.com/kubernetes/kubernetes/pull/13296

i think we should try reverting them an

[2015-09-01 06:47] yujuhong commented on #13236
I modified the code to capture the stderr, and `ip addr show cbr0` would sometimes return `Device "cbr0" does not exist.` even though cbr0 was always there.

I am leaning towards the cadvisor PR because
 - cadvisor version bump includes a series PR for monitoring network stats
 - Both times when the PR landed, jenkins started becoming unstable. It is the only common PR.

[2015-09-01 06:53] spothanis commented on #6198
@anguslees @thockin Neutron currently does not allow multiple vips and pools be created with the same name in the same tenant. Since we have to create as many number of vips per service as ports, I think, one way would be to come up with different names for them by appending the derived name with -port

For example for a 2 port service with ports 7077 and 8080
service id:  `040cd118-4dc5-11e5-aefb

[2015-09-01 07:00] wojtek-t commented on #13236
I agree that this one seems the most suspicious. Let's try to revert it.

[2015-09-01 07:14] wojtek-t commented on #13236
I created #13427 to revert the suspicious PR.

[2015-09-01 07:20] #11362 closed

[2015-09-01 07:22] jijun2 opened #13428 "how to completely test guestbook example ?"
I follow the guestbook guide , operate step by step, and everything seems to be OK,
guestbook web can be accessable, but web access very slowly and can't save any message I write,
I use  nodeport type for service,kubectl get pod/node/ is ok,

I think volume configure(no user) maybe the reason of error ?  or other reason?

[2015-09-01 07:44] jimmidyson commented on #13236
I might be missing something, but how could cadvisor dependency affect that? If `cbr0` bridge is present, `ip addr show cbr0` has nothing to do with cadvisor - it's unrelated system command.

I'm looking through the code now to see if I can work out why/if cadvisor affects creating the bridge interface, but can't explain it at the moment.

[2015-09-01 07:49] piosz commented on #13236
I don't have idea how. This is not yet confirmed but the second try of merge this PR causes similar problems which looks at least suspicious.

[2015-09-01 07:49] jimmidyson commented on #13236
OK found a possible cause, working on a fix now. Can someone point out how to run e2e tests myself (preferably just the failing e2e test) so I can test before submitting an updated PR?

[2015-09-01 07:51] piosz commented on #13236
https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#end-to-end-tests

[2015-09-01 07:59] maklemenz commented on #13428
Please ask support questions on stackoverflow. It is very hard to find the real bugs and proposals between all the support questions on github.
Also, please add the logs from `kubectl logs <podId> [<containerName>]`. It is very hard to support you without such informations.

[2015-09-01 08:01] jimmidyson commented on #13236
I can't see the failing e2e tests (please hurry up with the public jenkins ;) - I know it's coming soon). Could someone please post the failure log here or somewhere accessible so I can take a look?

Specifically looking for one of the following errors:

`Error on adding ip table rules` ([source](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L2107))
`ConfigureCBR0 req

[2015-09-01 08:11] wojtek-t commented on #13236
I'm not sure how useful it is, but here is some snippet of logs:

    43816 I0831 10:24:40.182839    3547 server.go:685] POST /stats/container/: (20.972588ms) 0 [[Go 1.1 package http] 10.245.2.4:46973]
    43817 I0831 10:24:40.275565    3547 container_bridge.go:72] Attempting to recreate cbr0 with address range: 10.245.0.1/24
    43818 E0831 10:24:40.286520    3547 container_bridge.go:76] exit sta

[2015-09-01 08:19] jimmidyson commented on #13236
So this is showing that `cbr0` exists but with an incorrect cidr.

Is e2e run with `--v=5` as most of the debug logs relevant to this error are logged at that level?

Sounds like a race to me?

[2015-09-01 08:20] wojtek-t commented on #13331
@wojtek-t I'm not sure this is an error; I'd like to remove support for starting a watch without a RV.

Yes - that sounds like a better idea.

[2015-09-01 08:26] wojtek-t commented on #13236
@yujuhong or @dchen1107 are ones that you need to talk - I'm not very familiar with that parts of the code.

[2015-09-01 08:32] davidopp opened #13429 "Write e2e test for eviction when node is NotReady (with and without grace period)"
ref/ #13412

@gmarek

[2015-09-01 08:34] davidopp opened #13430 "Re-evaluate rate-limiting parameters"
The rate limiter parameters are DeletingPodsQps and DeletingPodsBurst in
cmd/kube-controller-manager/app/controllermanager.go. The defaults should allow 10 NotReady nodes to have their pods evicted right away, and 1 NotReady node every 10 seconds thereafter.

It's very possible these values are too aggressive. For one thing, they really should be expressed as a percentage of cluster size, not in a

[2015-09-01 08:36] piosz commented on #13236
@jimmidyson my personal feeling is that your change didn't break anything but since Heapster is talking with cadvisor all the time the broken network configuration is always detected while querying for stats. Do you know how does the way network is used by cadvisor has changed in the new version you've added?

BTW thank you very much with digging into it!

[2015-09-01 08:42] jimmidyson commented on #13236
@piosz The change is to support Docker >= 1.7, which in previous versions of cadvisor resulted in no network stats (change in how docker networking worked with the introduction of libnetwork).

Digging through the code & looking at the logs, this error is around trying to run the command to recreate `cbr0` ([source](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container_bridge.

[2015-09-01 08:56] jimmidyson commented on #13236
@yujuhong @dchen1107 @piosz @wojtek-t As you've said this is a flaky test, not consistent. Do you have a command (or 2 ;)) I can run that is most likely to cause the failure if I run it repeatedly? What just repeatedly running the following work cause it to fail do you think?

[code]

[2015-09-01 09:03] HaiyangDING opened #13431 "Question on ResourceQuota"
I come up with this question when doing https://github.com/kubernetes/kubernetes/issues/13074

As we know ResourceQuota sets a limitation on the amount of resources that are allowed to be used by the Pods in the same namespace. Meanwhile, we also use resource *request* (not *limit*) to ensure each Pod (Container) to be able to use a certain amount of resource when needed, that is, the amount of "r

[2015-09-01 09:06] jimmidyson commented on #13236
Ah I can just do `go run hack/e2e.go -build -pushup -test -down`

[2015-09-01 09:06] nmabhinandan commented on #1957
@aronchick Yes. But we have to install etcd just for Kubernetes. It would be great if there was an abstraction layer which supports multiple kv store backends.
We're already stuck with 3 systems.
Zookeeper for mesos, kafka, etc.
consul for our app microservices
etcd for kubernetes, weave, calico etc.
It's a pain in the ass to maintain several clusters for same kinda purpose.

[2015-09-01 09:09] CpuID commented on #1957
Exactly what @nmabhinandan said

[2015-09-01 09:17] gmarek commented on #12968
@roberthbailey @jimmidyson - what's the decision around this?

[2015-09-01 09:27] jimmidyson commented on #12968
IMO this is still required until different roles are allowed in kubelet - e.g. read-only role is required for metrics collection, as opposed to the admin role that the master connects to the kubelet as. Not sure of @roberthbailey's position on that. Don't misunderstand me - I really want to get rid of the read-only port, but IMO it's still required at the moment.

@liggitt @smarterclayton Any opin

[2015-09-01 09:28] davidopp commented on #1957
Whatever key/value store we use needs to support watch to work today. And in the future, we plan to take advantage of multi-object transactions (which etcd will support early next year according to their roadmap). We're getting rid of our use of TTLs so that's not needed.

ZK appears to support watch and multi-object transactions. It appears to have a Go client library created by a community membe

[2015-09-01 09:57] gmarek commented on #13429
The test itself should be a simple modification of `e2e/reboot.go`, but we need to consider the cluster as well. Currently there's no way to change the value of flags controlling eviction/grace periods in runtime. If we don't want to wait for a few minutes doing nothing, we'd need to change the behavior of the whole e2e cluster, or spin up a new one for this test only. Both solutions have disadvan

[2015-09-01 10:03] gmarek commented on #13430
I agree with @davidopp, that current constants are too aggressive. The change wouldn't be only in tweaking the values themselves, as they should change in runtime, adapting to the cluster size changes (it gets more important with cluster autoscaling turned on). I'm not quite sure if current implementation of rate limiter allows any updates, but if it don't we'd need to add this feature.

[2015-09-01 10:03] Smana opened #13434 "Can't resolve service names on namespace kube-system"
Hello,

I've deployed my cluster on debian based on https://github.com/CiscoCloud/kubernetes-ansible.
Everything work fine except some addons and i suspect name resolution.

I've a rc defined like this
[code]

So the container connects to a host named "monitoring-influxdb".
Actually this name is well resolved by the dns when i use a "busy-box" pod:
[code]

But inside the monitoring-influx-grafana-

[2015-09-01 10:13] jimmidyson commented on #13236
So running the e2e tests & getting failures due to:

    exit status 1: Cannot find device "cbr0"

when trying to recreate cbr0.

I really can't understand how this could be related to cadvisor but is more likely to be caused by the create/recreate logic in the kubelet & the up/down in the e2e tests.

[2015-09-01 10:19] javapapo opened #13435 "Invalid mirrors for fedora/update deps during kube-up /cluster setup"
It seems that I always get invalid mirrors for sqlite all the time.

`
==> minion-3: Installing, enabling prerequisites
==> minion-3: http://www.nic.funet.fi/pub/mirrors/fedora.redhat.com/pub/fedora/linux/updates/21/x86_64/repodata/3adcf8e530329b8382055194d225bb218301b24dce31f6bec84d4e2147c1b8ee-updateinfo.xml.xz: [Errno 14] HTTP Error 404 - Not Found
==> minion-3: Trying other mirror.
==> minion-

[2015-09-01 10:55] wojtek-t commented on #13236
I don't understand what is the reason, but it seems that reverting this PR helped.
Our scalability tests that were constantly failing since it was merged, now finally passed.
We should probably wait at least one more run, but it seems to be related to your PR.

[2015-09-01 10:58] erez-rabih opened #13436 "Mounting private GitHub repositories in volumes"
Hi,

What is the best practice for mounting private GitHub repositories into pod volumes?
Could not find any example / documentation for that.

Thanks.

[2015-09-01 10:59] piosz commented on #13236
cc @kubernetes/goog-node @vishh @vmarmol @rjnagal

[2015-09-01 11:05] gmarek commented on #13424
cc @fgrzadkowski

[2015-09-01 11:07] gmarek commented on #13428
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-01 11:07] #13428 closed

[2015-09-01 11:08] gmarek commented on #13431
This is a good point. @bgrant0607 @smarterclayton @davidopp

[2015-09-01 11:10] gmarek commented on #13434
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-01 11:10] #13434 closed

[2015-09-01 11:12] gmarek commented on #13436
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-01 11:12] #13436 closed

[2015-09-01 11:14] jimmidyson commented on #13236
Can you point out the constantly failing tests & how to run just those so I can test some fixes I'm making?

[2015-09-01 11:17] wojtek-t commented on #13236
The test that was failing more than 50% of cases was Density tests starting 30 pods per node:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/density.go#L174

However, the issue is that we are running it on 100-node cluster and the size of the cluster seems to be crucial here.

[2015-09-01 11:22] jimmidyson commented on #13236
And before this PR this test was successful 100% of the time? Size of cluster being important would again point towards a race of some kind, more nodes == more chance of it happening.

[2015-09-01 11:37] wojtek-t commented on #13236
Yes - it was constantly passing.

[2015-09-01 11:42] fgrzadkowski commented on #13424
In general I really love the idea with running k8s in docker containers! However the problem with kube-in-docker setup is that does not support mounting any volumes. For the last week I've been trying to workaround this (proper fix on docker side is pending https://github.com/docker/docker/pull/15648#issuecomment-135035817). I managed to fix non-secret volumes (will send PR today), but there is st

[2015-09-01 11:44] fgrzadkowski commented on #13424
Another related issue #11984

[2015-09-01 11:44] roldancer opened #13438 "Permission problem when reading metadata using "Volume Plugi-In""
Hi All,
    I have some "permission" problems reading metadata (labels, annotation),  my image is using the "java" user, but the metadata is mounted as root, I followed the Develper Guide "Chapter 21.4. Using the Volume Plug-in".
Any idea on how to resolve the problem ? is this feature only ready for root containser user ?

[java@test2-1-526qi ]$ whoami
java
[java@test2-1-526qi ]$ cat /etc/metadat

[2015-09-01 11:45] jszczepkowski commented on #13258
The is a problem in the following scenario:
1. A node is removed due to a network partition.
2. The network partition is over, the node becomes ready again.
3. (immediately after 3) A pod is created on the node.
4. Node controllers kills the pod with "reason": "NodeControllerEviction".
The eviction in point 4. is incorrect. There seems to be a bug in node controller.

The whole event of the evicti

[2015-09-01 11:45] jszczepkowski commented on #13258
@smarterclayton

[2015-09-01 11:47] wojtek-t commented on #13258
Nice debugging @jszczepkowski
@gmarek - it would be great if you could fix that soon

[2015-09-01 11:48] WIZARD-CXY commented on #13424
I think it worth a try!

[2015-09-01 12:00] dalanlan commented on #13424
We can simply use flag `----privileged` to bypass the mounting issue in the short term, if that's what you concern most. @fgrzadkowski
And here is what i'm getting via a docker-k8s.
[code]

[2015-09-01 12:03] jszczepkowski opened #13440 ""Autoscaling should scale cluster size based on cpu utilization" e2e test flaky"
The test fails sometimes:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/341/
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-autoscaling/405/

[2015-09-01 12:03] jszczepkowski commented on #13440
CC @piosz

[2015-09-01 12:05] dalanlan commented on #13077
Fair enough. I'll send a pr tomorrow:)

[2015-09-01 12:12] resouer commented on #13424
Yes, actually we have been running `hyperkube kubelet` in privileged mode for a while, see: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh#L138.

It is definitely a work round for now. And we must clarify all limits in docs until the mount issue is fixed in docker side.

We are also considered about two daemons, for now, we think a separ

[2015-09-01 12:20] #12740 closed

[2015-09-01 12:32] wojtek-t commented on #13331
@wojtek-t I'm not sure this is an error; I'd like to remove support for starting a watch without a RV.

BTW - I was trying to understand where those requests are coming from, but I don't know what's happening there. I can see the following logs:

    I0901 11:53:07.556051       5 handlers.go:142] GET /api/v1/watch/nodes?fieldSelector=metadata.name%3De2e-test-wojtekt-minion-b2yd&resourceVersion=: (

[2015-09-01 12:41] wojtek-t opened #13441 "Merge bot cannot merge more than 3 PRs per hour"
Currently running e2e tests on PR builder takes ~22 minutes. However, during those 22 minutes we have:
- 9 minutes of building & starting cluster
- 8 minutes of running tests
- 5 minutes of turning down cluster

We should either try to speed-up cluster up/down operations or use push instead of turning up and down the whole cluster every time.

cc @kubernetes/goog-testing @quinton-hoole

[2015-09-01 13:08] jmferrer commented on #12395
Automatically tested with: https://github.com/jmferrer/ansible-kubernetes-ubuntu

Nice job.

Thank you.

[2015-09-01 13:09] #12395 closed

[2015-09-01 13:21] smarterclayton commented on #12968
Current thinking is either require client cert for metrics agents (yuck,
also would need to be a distinct identity because I don't want cadvisor
able to exec into random containers), or have a unique secret / remote
check made to authorize the metrics agent against the master (use their
service account token directly or check it).

I don't really want to have client certs distributed to metrics ag

[2015-09-01 13:26] drora commented on #12273
+1

[2015-09-01 13:31] hurf opened #13443 "-o option is not working for rolling-update"
The help string shows that rolling-update support -o option, but it's not working.

[2015-09-01 13:41] mlamina commented on #10323
+1
Any idea on when this issue is going to be addressed?

[2015-09-01 14:08] liggitt commented on #12968
That's not strictly true, we can move the cert validation from connection time into an auth filter, just like the API does. If we're going to add multiple authn/authz methods to the kubelet, that's probably the right thing to do.

[2015-09-01 14:13] fgrzadkowski commented on #13424
I don't think that ```--priviliged``` changes anything. Container's rootfs is [rprivate](https://github.com/opencontainers/runc/blob/master/libcontainer/rootfs_linux.go#L411), by [default](https://github.com/docker/docker/blob/master/daemon/execdriver/driver_unix.go#L40). Please see https://github.com/docker/docker/pull/15648 which adds a flag to control this.

How did you setup your cluster? I ch

[2015-09-01 14:13] jimmidyson commented on #12968
+1 to single port, easier to manage connectivity, etc, but then does drive authzn logic into the kubelet where there is none at the moment. Right now, I think there is only a need for full access & metrics access roles so could be a simple access filter just on those rather than a full on authzn filter like in the API server.

[2015-09-01 14:14] liggitt commented on #12968
we'd just set it up as an interface, even if the initial backing impl was a "none, metrics/stats, all" impl

[2015-09-01 14:15] fgrzadkowski commented on #13424
There is a RedHat distro version of docker which carries the SLAVE mount propagation patch (see [comment](https://github.com/kubernetes/kubernetes/issues/11984#issuecomment-127471040)). Maybe you are using it?

[2015-09-01 14:17] jimmidyson commented on #12968
SGTM

[2015-09-01 14:19] gmarek commented on #13438
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-01 14:19] #13438 closed

[2015-09-01 14:28] fgrzadkowski commented on #13424
@dalanlan btw - docker based cluster by default will not generate service account tokens, so I assume you must have been using non-standard setup.

[2015-09-01 14:38] resouer commented on #13424
@fgrzadkowski  I think the difference is in #11984 the author used single node guide from: http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html , in which kubelet is started without privileged mode.

But in original guides proposed by us & brendandburns, we used `--privileged` for all the kubelet container, see:
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started

[2015-09-01 14:42] quinton-hoole commented on #13111
@PhilibertDugas It looks like you might have run into #13345.  The fix for it will probably be in v1.0.5 in the next few days.
@thockin do you remember seeing the above specific error messages in the kube-proxy logs when you were investigating #13345?  Does this one look like the same thing?

[2015-09-01 14:48] wojtek-t commented on #13441
Note that 2.5 PRs per second is an extremely optimistic assumption - it assumes that:
- build is constantly green
- there are no PR-builder flakes (which are happening relatively frequently)

[2015-09-01 14:49] wojtek-t commented on #13441
cc @brendandburns

[2015-09-01 14:50] gmarek commented on #13258
I looked at the code, and I was able to find one problem: because `Accept` in https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/rate_limited_queue.go#L172 is blocking, we might miss the value removal, which would prevent eviction/termination. Because of that if we re-add Node when already waiting on 'Accept' we will remove everything from it (including new stuff).

I'm not r

[2015-09-01 14:56] fgrzadkowski commented on #13424
I checked with docs from HEAD and ```--privileged``` flag. It doesn't work. I linked some issues/prs (see above) which explain why it doesn't work. tl;dr: container's rootfs is private by default, so mounts created by kubelet in a container does not propagate to the host and thus are not copied to the newly created namespace for a new container. There is an experimental code in ```nsenter_mounter.

[2015-09-01 15:21] quinton-hoole commented on #13441
@wojtek-t Note that the PR builder runs multiple e2e test clusters at once.  Currently it has 8 concurrent worker threads, so it can currently test around 20 PR's per hour, and that can be increased arbitrarily.

Having said that, I guess that by it's current design the merge bot needs to run e2e tests strictly in serial?  Even if we make the optimizations that you suggest, it will only increase t

[2015-09-01 15:31] quinton-hoole commented on #13441
cc @ixdy who might have some better ideas?

[2015-09-01 15:41] wojtek-t commented on #13441
I think that 6 PRs/hours would be strictly better - it's more than 100 per day, which I think should be enough for quite some time. I think we don't need to as much right now.

I think the first suggestion makes a lot of sense.

As for your second point, this really assumes that build+up+down is quite fast. Since it's currently not, we're back to the initial point that I mentioned.

[2015-09-01 15:49] #12664 closed

[2015-09-01 15:50] quinton-hoole commented on #13441
Oh, I forgot to mention, doing a push rather than a down/up has the downside that there could well be "state bleed" between test runs.  Storage attached to the VM's, iptables rules in the kernel, connection tracking tables (also int he kernel), that sort of thing.  But we can certainly give it a try.  Should be fairly simple to implement.  @ixdy?

[2015-09-01 15:50] resouer commented on #13424
@fgrzadkowski I think I catch up some of your points now. Could you please give us a example, like a pod.yml for us to reproduce the problem? As it seems our env "works" some how ... I'd like to dig it out.

OTOH, I think we can also mount the entire host filesystem inside kubelet, what do you think?

[2015-09-01 16:08] wojtek-t commented on #13441
Sure - I agree that's not the best solution - I was just brainstorming. And I'm not sure how much we can gain from it.

[2015-09-01 16:13] fotinakis commented on #8756
In addition to the delays and the 4-5% min CPU usage [[link]](https://github.com/kubernetes/kubernetes/issues/8620), polling also seems to add a tremendous amount of data to the host docker daemon log `/var/log/docker.log` and, scarily, consume an equivalent amount of memory.

I recently truncated docker.log after it grew to 3.7GB and that surprisingly also freed 4GB of memory (!). I'm not sure wh

[2015-09-01 16:32] yujuhong commented on #13236
@jimmidyson, here is what I know:

 - kubelet periodically (30s) checks cbr0 to ensure it exists and has the correct CIDR
 - Sometimes, when checking the CIDR, `ip addr show cbr0` would return `exit status 1` (device does not exist). This happens quite regularly (once per minute).
   * Due to the error, kubelet thinks that the CIDR is incorrect, it then tries to bring down cbr0 with `ip link set d

[2015-09-01 16:34] jimmidyson commented on #8756
@fotinakis Re: the memory problem. There is a bug in Docker 1.6 - see docker/docker#9139. Fixed in >= 1.7. Not sure if GCE cotainer-vms run vanilla Docker or a custom build with backported fixes though.

[2015-09-01 16:40] fotinakis commented on #8756
Cool, thanks @jimmidyson. I think container-vms is still running 1.6 so that makes sense.

[2015-09-01 16:45] jimmidyson commented on #13236
Thanks @yujuhong.

Do you mean post-cadvisor PR merge or before? Has this always been happening in your environment? I've seen it even with master after reverting the cadvisor PR, although perhaps not quite as often.

[2015-09-01 16:53] squee1945 opened #13450 "Incorrect config filename yields confusing/unhelpful error message."
If I name my .yaml file as foo.yaml.2b , I get the following unhelpful error message:

  $ kubectl create -f example-pod.yaml.2b
  error: you must provide one or more resources by argument or filename

--v=9 offers no extra help

[2015-09-01 16:55] thockin commented on #13434
Please post the StackOverflow link here - I want to answer this.

On Tue, Sep 1, 2015 at 3:04 AM, Smana <notifications@github.com> wrote:

[2015-09-01 16:59] quinton-hoole commented on #13450
---------- Forwarded message ----------
From: Brendan Burns <bburns@google.com>
Date: Tue, Sep 1, 2015 at 9:56 AM

This has been noted previously.  I _think_ that the problem is that if we don't know what it is, we try to treat it as JSON and of course YAML won't parse as JSON.

We could use heuristics to try to guess (or try both, I suppose)

--brendan

[2015-09-01 17:02] quinton-hoole commented on #13450
Indicating in the error message (or log) that we're assuming the input to be YAML would help.
Or better still, requiring an explicit --format arg unless the file extension is from a small well-defined set (e.g. .yaml, .json etc) might be less confusing.

[2015-09-01 17:16] pmorie commented on #9473
@vishh Do you need a kubeconfig and client in the container to use it?

[2015-09-01 17:34] timstclair commented on #12866
FWIW I'm working on pulling the prober out of the manager as a prerequisite to fixing this issue.

[2015-09-01 17:35] jlowdermilk commented on #13450
This failed because the resource builder expects/requires specific filename extensions:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/resource/builder.go#L167
It does this to allow parsing only schema files in a directory that could contain arbitrary files.

I think the fix is to make the error message print the list of recognized extensions so it looks like
[code]

[2015-09-01 17:44] karlkfi commented on #12866
@timstclair glad to hear it. send me a link when you're done and i'll review it

[2015-09-01 17:51] lavalamp commented on #13396
Proxying to gcr.io is probably a bad idea in such environments, as it'd be circumventing security rules. Instead, you'll need to preload the necessary containers on your nodes.

[2015-09-01 17:51] #13396 closed

[2015-09-01 17:53] lavalamp commented on #13394
dup of #13395?

[2015-09-01 17:54] ncdc commented on #13394
Not a dupe - they have different root causes.

[2015-09-01 17:55] liggitt commented on #13394
one is non-interactive terminating stdin, the other is interacting non-terminating stdin

[2015-09-01 17:55] lavalamp commented on #13391
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-09-01 17:55] #13391 closed

[2015-09-01 18:01] jbweeks commented on #13412
Agreed with @lavalamp above regarding potential handling of the scenario. Perhaps a policy configuration setting to decide between preferring scheduling availability with potentially stale IP address information versus potentially disabling all scheduling? It is a bit of a CAP-type decision -- availability vs potential inconsistency. For our operations, we would prefer to keep scheduling in this c

[2015-09-01 18:02] yujuhong commented on #13236
I was testing my own changes yesterday in my e2e cluster, and this happened often enough that I couldn't finish my e2e test. (the cadvisor PR was still in head yesterday). I reverted the cadvisor PR locally, and the cluster has been up >12 hours without any problem.

Also, I spoke to @vishh, and he said he had some ideas about what may have caused this problem.

[2015-09-01 18:05] vishh commented on #13236
@jimmidyson: Is it possible that the fact that cAdvisor is entering namespaces of other containers affecting kubelet? IIRC, you did lock the runtime thread, so I would not expect that to happen.
Also, since you are getting rid of the namespace entering logic in cAdvisor, should we re-run e2e against a more recent cadvisor dependency?

[2015-09-01 18:14] lavalamp commented on #13389
Did your post start script return an error value? If not, this is a bug.

[2015-09-01 18:17] vishh commented on #9473
I think so. If we ignore access control for now, since the APIs are
read-only, can we skip auth?

On Tue, Sep 1, 2015 at 10:16 AM, Paul Morie <notifications@github.com>
wrote:

[2015-09-01 18:19] jimmidyson commented on #13236
@vishh That was  only idea too but not sure how that affects cbr0 which isn't related to the actual containers network namespace.

Either way, yes we should be using the latest cadvisor now. Let's close this & get a new pr with updated cadvisor godep?

[2015-09-01 18:21] yujuhong commented on #13236
SGTM

[2015-09-01 18:21] #13236 closed

[2015-09-01 18:21] vishh commented on #13236
I was suggesting that one of kubelet's goroutines might accidentally end up
in a docker container's network namespace. It cannot find cbr0 in there.
In any case, closing this PR and moving on latest HEAD SGTM.

On Tue, Sep 1, 2015 at 11:19 AM, Jimmi Dyson <notifications@github.com>
wrote:

[2015-09-01 18:25] lavalamp commented on #13385
There's two things here; first is to figure out what was wrong with your node and start detecting it. Second is the meta-problem of noticing when something is wrong with a node, even if we don't have a detection mechanism for that specific thing.

[2015-09-01 18:28] lavalamp commented on #13411
I think what is happening is that putting the server location in the kubeconfig file makes it not ignore the file.

[2015-09-01 18:29] jimmidyson commented on #13236
That mystery will remain unsolved. I can live with that ;)

[2015-09-01 18:30] lavalamp commented on #13409
I think the expectation is actually that someone else has registered the node, not that the node will exist in the cluster in an unregistered state.

[2015-09-01 18:30] #13409 closed

[2015-09-01 18:35] lavalamp commented on #13401
Yes, that looks like a clear bug. Will look forward to a patch, thank you!

[2015-09-01 18:36] lavalamp commented on #13394
Gotcha, thanks for clarification.

[2015-09-01 18:38] quinton-hoole commented on #13441
@lavalamp purely FYI.  He was trying to unclog the merge queue this morning, and expressed interest in this topic.

[2015-09-01 18:39] jlowdermilk commented on #13450
Hah. Turns out I already fixed kubectl to skip the file extension check in #10866. Should probably cherry pick it so the next 1.0.x gets the fix.

[2015-09-01 18:40] lavalamp commented on #13360
I think in GKE this may be limited to a few minutes? @cjcullen probably knows more.

[2015-09-01 18:43] lavalamp commented on #13441
I think 3 per hour would be OK if everything were constantly green without flakes, which it isn't.

[2015-09-01 18:56] quinton-hoole commented on #13450
For what it's worth, I think that sensible error messages are more important than allowing arbitrary file names, trying to guess the format, and possibly generating confusing error messages.

[2015-09-01 18:59] thockin commented on #13411
Is that "correct"?
On Sep 1, 2015 11:28 AM, "Daniel Smith" <notifications@github.com> wrote:

[2015-09-01 19:23] #13173 closed

[2015-09-01 19:25] #11977 closed

[2015-09-01 19:55] lavalamp commented on #13331
@wojtek-t that's mysterious. The user agent claims to be kubelet, but I agree that reflector should never issue a request like that.

[2015-09-01 20:06] nikhiljindal commented on #13441
There are 34 LGTM'd open PRs right now: https://github.com/kubernetes/kubernetes/labels/lgtm
Can we have them manually merged by oncall until the merge-bot catches up?

[2015-09-01 20:11] quinton-hoole commented on #13441
As far as I know, the merge bot waits for "ok-to-merge".
There are 8 of those:

https://github.com/kubernetes/kubernetes/labels/ok-to-merge

Q

On Tue, Sep 1, 2015 at 1:06 PM, Nikhil Jindal <notifications@github.com>
wrote:

[2015-09-01 20:12] cjcullen commented on #13360
I don't know exactly how `kubectl port-forward` works, but I'm assuming it uses the `/proxy/` endpoint. On GKE, the proxy works through SSH tunnels that are refreshed (closed and replaced) every 5 minutes. I have another issue open tracking the problems with this: https://github.com/kubernetes/kubernetes/issues/12179

It sounds like that may be causing this issue as well?

[2015-09-01 20:16] mbn18 commented on #13391
@lavalamp , thanks for the tip. My Q was first posted at [StackOverflow][1]

Though I am afraid that this feature is not supported yet. As no one answered the question.

[1]: http://stackoverflow.com/questions/32310849/use-gcloud-self-encrypted-disk-with-kubernetes

[2015-09-01 20:17] lavalamp opened #13458 "E2e flake: Kubectl client Kubectl patch should add annotations for pods in rc"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/7136/

[code]

[2015-09-01 20:19] lavalamp commented on #13441
@nikhiljindal I did manually just merge a batch, waiting for all the test runs to be clean before I do more.

@quinton-hoole It only needs ok-to-merge for non-whitelisted contributors; @brendandburns just added a change so it will start asking for the label if it needs it.

[2015-09-01 20:20] lavalamp commented on #13391
Sorry it didn't get an answer-- we're still working the kinks out. I will try to get someone to answer over there.

[2015-09-01 20:24] nikhiljindal commented on #13441
Great thanks @lavalamp!

[2015-09-01 20:25] davidopp commented on #13399
Is the behavior you want in tests "a clock that returns a value I can specify" or "a clock that ticks at a rate I control"? I assume it's the former?

[2015-09-01 20:29] L-MA opened #13459 "Adding coarse-grained security policy at service and namespace levels"
In follow up to the discussion in the [micro-segmentation thread in kubernetes-sig-network] (https://groups.google.com/forum/#!topic/kubernetes-sig-network/bQ0g4ppxu2Q), I would like to propose an API standard for coarse-grained security policy at the service and namespace levels.

I propose adding a `private` option to the `ServiceType` field, where `private` services are only accessible within t

[2015-09-01 20:35] timothysc commented on #13388
The original implementation pretty much needs to get ripped out.

[2015-09-01 20:35] nikhiljindal commented on #13399
Yes. My test just needs the former.
The scenario I want to test is:
When I call a function the first time, it should set a field as per time.Now().
Every time, I call the function again, based on some conditions, it should reset the field to time.Now() or continue using the old value.

I can test it using the later as well, tough.

[2015-09-01 20:50] uluyol commented on #13388
Please see https://github.com/kubernetes/kubernetes/pull/12951#discussion_r37546133. I think we should avoid having a "kubernetes client" which is distinct from an "openshift client" (in terms of type definitions). We could have pkg/kubectl/resource.Helper's wrapping RESTClients for every group, and this would be completely generic.

A small change I would make (as mentioned in the discussion), is

[2015-09-01 20:59] lavalamp opened #13463 "Log spam: <autogenerated>:29: Trying to convert 'conversion.ExternalTestType2' to 'conversion.TestType2'"
This fills up Shippable tests, making them very hard to read.

[2015-09-01 21:00] lavalamp commented on #13463
@wojtek-t Do you know why this is printed so much?

[2015-09-01 21:01] lavalamp opened #13464 "Log spam: Unable to write event: 'fake error' (may retry after sleeping)"
Printed about 1000 times per second. Makes test output hard to read.

[2015-09-01 21:08] bkeroackdsc opened #13465 "CoreOS: discovering node/minion etcd address within pod container"
Similar to the issue described [here](http://blog.dixo.net/2015/02/discovering-etcd-from-inside-a-container-in-coreos/).

My application running within a pod needs to access etcd running within the host CoreOS, so that all pod replicas running on different Kubernetes nodes share the same keyspace (for sychronization purposes).

Is there an easier/less-hackish way to achieve this other than running

[2015-09-01 21:17] lavalamp commented on #13388
Typed client methods should not return runtime.Object, they should return the concrete type (e.g., Pod). See: https://github.com/kubernetes/kubernetes/blob/master/pkg/client/unversioned/pods.go#L85

[2015-09-01 21:23] thockin commented on #10323
@housebolt Interestingly, there is NO WAY to do what you're asking for on AWS, and they seem pretty reliable.

v1.1 will have a fix to prevent load-balancer IPs from getting changed when updating a Service on GCE, so that is part 1.

#13005 proposes support for adding an explicit IP for loadBalancers (at the cost of not working on some platforms)

[2015-09-01 21:23] caesarxuchao commented on #13388
@timothysc, why do we need to undo #12405?  https://github.com/mikedanese/kubernetes/commit/836a473a07ad3009c8a6253df07ca7d16f4951bd  works with #12405.

If you are going to do major changes I'd rather wait until the multiple group support (#12888) is merged.

[2015-09-01 21:30] bkeroackdsc commented on #13465
I suppose the other option is to run etcd within the pod, but I'm not clear on how I could get the etcd to form a single cluster among all the pod replicas.

[2015-09-01 21:31] caesarxuchao commented on #13388
@timothysc, I guess you meant to removing ExperimentalClient() and related stuff from #12405. I'm fine with that.

[2015-09-01 21:42] uluyol commented on #13388
@lavalamp, should we continue to have typed client methods? How does this work with multiple api groups that are versioned independently? I think that running the following isn't too different from our current client.
[code]
We could probably clean up resource.Helper so it's simpler to use. So instead of dealing with a Client (and implicitly a RESTClient), we use a resource.Helper and RESTClient.

[2015-09-01 21:42] caseydavenport commented on #13459
cc @thockin @symmetric

[2015-09-01 21:51] pwittrock commented on #11733
@dalanlan I am taking a closer look at this issue now, but will unavailable for several weeks starting Friday, so may need to hand it off.

[2015-09-01 21:51] lavalamp commented on #13388
Typed clients are nice, it lets the compiler help you. We should autogenerate them.

Generic clients are good too, and those should use runtime.Objects.

We want both.

[2015-09-01 21:56] bgrant0607 commented on #13429
@tmrts is updating the proposal in #6477.

[2015-09-01 21:59] pwittrock commented on #11733
@dalanlan Are you still experiencing this with the most recent code, and are there steps I can take to reproduce locally?

[2015-09-01 22:05] JanetKuo commented on #13350
Updated a PR to fix this.

[2015-09-01 22:09] apeeyush opened #13470 "No documentation on how to use kubelet API"
Hi,

I would like to use the kubelet API from `pkg/kubelet/server.go`. However, I could not find any documentation around it. Could someone pls. point me to the right place? Thanks :)

[2015-09-01 22:24] karlkfi commented on #11040
Since `hack/run-mungedocs.sh` was removed, `make` the binaries locally and exec the `mungedocs` cmd (needs usage docs) to update the toc.

The correct block is now:

[code]

[2015-09-01 22:54] PhilibertDugas commented on #13111
In the end I was able to figure out the issue,

For some reason Flannel and Docker were not under the same subnet anymore.

Flannel would register with a 172.16.28.0/24 subnet and the Docker interface was quite different. Because of this, the other Node would try to reach pods under 172.16.28.0/24 and would timeout because the Docker interface wasn't in that subnet

Not sure how this happened, I h

[2015-09-01 23:12] smarterclayton opened #13476 "Kubelet lists all nodes instead of Get'ing node"
`Kubelet#GetNode` invokes nodeLister.List(), and also the node cache should be using Nodes().Get instead of Nodes.List()  Not sure why the code has a comment that says it can't get a single item (because it can).

[2015-09-01 23:13] smarterclayton commented on #13476
[code]

should be

[code]

[2015-09-01 23:31] pwittrock commented on #11733
@dalanlan  I am guessing that cadvisor cannot figure out which partition contains the docker images.  It could be helpful to have the redacted output from running `docker info`.  Would you run this?

It would also be helpful to add some debug-print statements in cadvisor fs.go and get the output after reproducing.  Specifically:
- in updateDockerImagesPath output "v" and "mountpoint" to figure out

[2015-09-01 23:34] lavalamp opened #13478 "E2e: Services should be able to up and down services"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/7142/

[code]

[2015-09-01 23:34] lavalamp commented on #13478
@quinton-hoole Do you know anything about this?

[2015-09-01 23:36] smarterclayton opened #13479 "Monitoring and managing the quota size of containers and local volumes"
Today no process on the node manages the amount of storage in use for:
- Container CoW layers (the container's writable directory)
- Empty dir volumes
- Docker volumes created implicitly on startup of the container

Since neither Docker nor the host operating system can totally manage this, I think it should be possible to have a management loop in / around the kubelet to control the total usage o

[2015-09-01 23:37] smarterclayton commented on #13479
@twiest @kubernetes/rh-storage @kubernetes/goog-node

[2015-09-01 23:47] smarterclayton commented on #13358
I'd like to add a DNS to a service so that skydns would respond with a CNAME to the provided DNS as well.  It's not quite headless and it's not quite setting the endpoints.

[2015-09-01 23:47] smarterclayton commented on #13358
The CNAME in many cases is superior to setting endpoints, because you can resolve to a destination DNS address for TLS.

[2015-09-01 23:48] smarterclayton commented on #13358
@ncdc re: service linking as we discussed.

[2015-09-01 23:49] JanetKuo commented on #11310
TODOs:
- [ ] kubectl label - suggest a resource type
- [x] kubectl exec - suggest the pod name
- [ ] kubectl rolling-update - suggest the rc name
- [ ] Distribute `contrib/completions/bash/kubectl` with kubernetes binaries
- [ ] Put information about kubectl completion in user guide
  - [ ] docs/getting-started-guides/gce.md

[2015-09-01 23:52] eparis commented on #11310
Maybe add: check that `kubectl log $pod [tab][tab]` is doing the right thing....

[2015-09-01 23:57] quinton-hoole commented on #13478
@lavalamp No, sorry, I don't.

[2015-09-02 00:01] quinton-hoole commented on #13478
That test flaked in #13315 also.
It seems to have failed 2 out of the last 30 runs in kubernetes-e2e-gce-parallel.

[2015-09-02 00:03] ihmccreery commented on #10353
As I'm poking around our testing infrastructure this week, I'll think about this and maybe write something up.

[2015-09-02 00:06] quinton-hoole commented on #13478
@brendandburns you mentioned in email that this test was 50% flaky.  Where did that number come from?  It looks more like 6% as per above. Are you digging the 50% number out of Jenkins somewhere?

[2015-09-02 00:09] ihmccreery commented on #12353
@AnanyaKumar Can you elaborate on what tests have failed?  I would expect that [running e2es](https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#end-to-end-tests) would be a good first step; has that not suited your needs?

[2015-09-02 00:10] mingfang commented on #7351
+1

[2015-09-02 00:21] mingfang opened #13483 "Enhance Rolling-Updates to support updating image with multi-container pods"
As of 1.0.3, rolling-update with --image does not work when pod has multiple containers.
This is the error message
```error: Image update is not supported for multi-container pods```

[2015-09-02 00:22] vsimon opened #13484 "Docker on vagrant broken?"
I'm trying to use docker on a vagrant kubernetes minion but I'm getting a weird error and a crash in the docker logs. Has anybody seen something like this before? I'm using busybox as a minimal example here. Tried this on Kubernetes version 1.0.1 release packages as well as 1.1.0-alpha.1. Same on both.

KUBERNETES_PROVIDER=vagrant cluster/kube-up.sh
vagrant ssh minion-1
Tried to do: sudo docker ru

[2015-09-02 00:27] vishh commented on #13479
* cAdvisor tracks filesystem usage for containers if AUFS driver is enabled. Relevant code [here](https://github.com/google/cadvisor/blob/master/container/docker/handler.go#L262).
* cAdvisor ignores other volumes mounted into a container since it does not understand volume sharing semantics.
* The existing logic can be used for tracking usage of emptyDir volumes.
* One thing to consider is that tr

[2015-09-02 00:37] lavalamp opened #13485 "E2e: jenkins test run timeouts without clear reason"
Both the GKE and Parallel tests recently had a run where they timed out. (after 90 minutes!) This is like 10x longer than the parallel run should be taking.

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-ci/8168/

http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-parallel/7141/

[2015-09-02 00:39] smarterclayton commented on #13479
Sure - this was a discussion today where we looked at the various policy
escape hatches and wanted them closed.

Since aufs isn't a supported FS for us we're looking at devicemapper and
overlay.  We'd be happy to pitch in to gather that data (where possible).

Agree quota may be the best option with supplemental groups - we do expect
to set a number of them downward and would be ok if the kubelet

[2015-09-02 00:43] lavalamp commented on #13485
And the build project, too: http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-build/4473/

[2015-09-02 00:43] lavalamp commented on #13485
@ixdy any ideas?

[2015-09-02 00:57] davidopp commented on #12611
cc/ @thockin (you mentioned something related to this in a meeting today)

[2015-09-02 01:01] lavalamp commented on #13478
@quinton-hoole Brendan was getting that number from the PR builder.

[2015-09-02 01:37] eulerzgy commented on #12722
Hi,
I agree with you , It is imporant to support a simple command for uses,  What is the current progress? @fgrzadkowski

[2015-09-02 01:48] ghodss opened #13488 "Rolling restart of pods"
`kubectl rolling-update` is useful for incrementally deploying a new replication controller. But if you have an existing replication controller and want to do a rolling restart of all the pods that it manages, you are forced to do a no-op update to an RC with a new name and the same spec. It would be useful to be able to do a rolling restart without needing to change the RC or to give the RC spec,

[2015-09-02 01:51] dalanlan commented on #11733
[code]
FYI.
Thx. I'll try from the HEAD later and let you know:)

[2015-09-02 01:52] dalanlan commented on #11733
[code]
FYI.
Thx. I'll try from the HEAD later and let you know:) @pwittrock

[2015-09-02 01:58] jayunit100 commented on #13152
Regarding the `kubectl ...replace` instructions... Is that the preferred way to expose the loadbalancer NodePort
 Or should we plumb the nodeport directly through as a command line option?

[2015-09-02 02:07] timothysc commented on #13152
Baby Steps, try a get and replace the of the object .json.

[2015-09-02 02:23] timothysc commented on #13388
@caesarxuchao Namely referencing the kubectl work.

[2015-09-02 02:28] bprashanth opened #13492 "E2e test schedulers reaction to osciallating nodes"
Observed on @yujuhong s cluster, flipping a node in and out of Unknown (will happen if the kubelet doesn't report node status in ~40s) resulted in the scheduler ignoring the node forever. The scheduler watches nodes filtered on unschedulable, with a relist period of 0, and kubectl describe node showed the right node conditions. Restarting the scheduler fixed it because of the relist.

2 plausible

[2015-09-02 02:31] dalanlan commented on #13424
Fair point. I'd done so many tricks that i could not remember clearly, i'll give you that. @fgrzadkowski
I‘ll try from HEAD and see how it goes later (maybe after #13446 is merged, i guess).

[2015-09-02 02:43] brendandburns opened #13493 "Support encrypted disks in GCE (and other platforms)"
http://stackoverflow.com/questions/32310849/use-gcloud-self-encrypted-disk-with-kubernetes

The user wants to use encrypted disks with their pod.

[2015-09-02 02:49] nikhiljindal commented on #13478
As a data point:
In https://github.com/kubernetes/kubernetes/pull/13419 e2e tests have ran 8 times on the same code.
The tests passed 2 times and failed 6 times.
5 of those failures were due to this issue (service test timing out). 1 failure was due to failure to fetch git repo.

[2015-09-02 02:53] bgrant0607 commented on #13479
Resources on EmptyDir volumes: SGTM. Use ResourceRequirements (requests and limits), exactly like PersistentVolumeClaimSpec:
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L453
but actually support limits as well as requests.

I've heard that not all union filesystem implementations support quota and/or have problems with the implementations. Would love to collapse filesy

[2015-09-02 03:08] bprashanth commented on #13492
@gmarek fyi, since you're at the intersection of nodecontroller, scheduler and kubelet.

[2015-09-02 03:18] quinton-hoole commented on #13478
In that case the failure rate in kubernetes-e2e-gce-parallel (6%) is very different than in the PR tester (60%+?). Both should run identical tests in identical environments. The only difference, off the top of my head, is the name of the GCE project that they run in.

We should double-check that they're identical setups, and check with GCE SRE whether there are any differences between the two proj

[2015-09-02 03:18] kevinliuzhong opened #13494 "kube-proxy: Still can not get client ip via httpRequest using k8s binary include patch #9210"
I used the newly compiled k8s binary which include the patch code #9210, and we configured the kube-proxy to start using following arguments:
[code]
after the cluster is booted, using:`sudo iptables -t nat -L`, got the result as following:
[code]
seems that everything is OK.
However, we still can not get the real client ip, we got the proxy's ip instead. I paste the golang code to get the client i

[2015-09-02 03:30] kevinliuzhong commented on #13494
/cc @BenTheElder  @thockin

[2015-09-02 03:39] thockin commented on #13494
Is this coming in from a load-balancer or a node port?  Or from within the cluster?  We have to NAT for external traffic, still.  All internal traffic should show client IP.

[2015-09-02 03:40] smarterclayton opened #13495 "Allow reflector to have resync externally triggered"
Reminder to myself to add a way to signal the reflector to resync, so that a bunch of stores can trigger resync on an externally driven schedule.  Scenario:
- I have a poller that fires every X minutes that sets the namespaces that are relevant
- I want to resync after I update the namespace list (so that when the namespace list is larger I get everything again)

[2015-09-02 03:49] kevinliuzhong commented on #13494
we config the service as a NodePort, service file
[code]
we run k8s on azure with external load balancer

[2015-09-02 03:50] nikhiljindal commented on #13488
cc @ironcladlou @bgrant0607

Whats the use case for restarting the pods without any changes to the spec?

Note that there wont be any way to rollback the change if pods started failing when they were restarted.

[2015-09-02 03:51] BenTheElder commented on #13494
As far as I know NodePorts still use SNAT.

Quick check against the current source says they still do:
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L641

On Tue, Sep 1, 2015 at 11:49 PM, kevinliuzhong <notifications@github.com>
wrote:

[2015-09-02 03:52] #13494 closed

[2015-09-02 03:52] thockin commented on #13494
Yeah, traffic that comes in on a node port has to be SNATed still.

On Tue, Sep 1, 2015 at 8:49 PM, kevinliuzhong <notifications@github.com>
wrote:

[2015-09-02 03:56] uluyol commented on #13388
@lavalamp, agreed, but how will we handle versioned clients? With v2 onwards won't we have multiple groups that evolve at different rates? Will we just pick a set of versions for those groups and declare it "the set kubernetes API versions" for vN?

[2015-09-02 04:00] #12784 closed

[2015-09-02 04:01] kevinliuzhong commented on #13494
thanks a lot, I will try to config a load balancer

[2015-09-02 04:01] ghodss commented on #13488
Whenever services get into some wedged or undesirable state (maxed out connections and are now stalled, bad internal state, etc.). It's usually one of the first troubleshooting steps if the service is seriously misbehaving.

If the first pod fails as it is restarted, I would expect it to cease continuing or continue retrying to start the pod.

[2015-09-02 04:01] thockin commented on #11795
Is this still valid, or should it be closed?

[2015-09-02 04:02] thockin commented on #11667
@bnprss Sorry I missed this before - what cloud and OS?

[2015-09-02 04:03] #10010 closed

[2015-09-02 04:04] thockin commented on #9395
Is this still something to look into?  Or has it disappeared?

[2015-09-02 04:05] thockin commented on #8891
I think this is working as intended if you have long-lived TCP sessions...

[2015-09-02 04:05] #8891 closed

[2015-09-02 04:05] thockin commented on #8567
@jayunit100 is this something you're still thinking about?

[2015-09-02 04:06] thockin commented on #6910
We will not use route_localnet in the userspace proxy.  We do use it in the iptables proxy.

[2015-09-02 04:06] #6910 closed

[2015-09-02 04:18] caesarxuchao commented on #13388
I think we should allow user to express which version of a group to use in the client config file. Also, all groups should support the major versions vN. If the user picks vN for the entire client, then all typed clients should use vN in default.

[2015-09-02 04:23] smarterclayton commented on #13488
Also, a rolling restart with no spec change reallocates pods across the
cluster.

However, I would also like the ability to do this without rescheduling the
pods.  That could be a rolling label change, but may pick up new dynamic
config or clear the local file state.

On Wed, Sep 2, 2015 at 12:01 AM, Sam Ghods <notifications@github.com> wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-09-02 04:43] resouer opened #13497 "It seems that if wrapped with space, the flags will not work"
for example, I add --allow_privileged=true started with space, it does not work:
[code]
It seems we did not `trim` for the flags for now? Is it a bug?

my binary version is 0.18.2 as you saw.

[2015-09-02 04:45] thockin commented on #13497
Flags are passed to docker and thereby to exec().  If you ran `ls " -l"` it
would be an error - just as this is an error.

On Tue, Sep 1, 2015 at 9:43 PM, Harry Zhang <notifications@github.com>
wrote:

[2015-09-02 04:46] #13497 closed

[2015-09-02 05:00] thockin commented on #13358
Brendan sent #11838 wherein we discussed a bunch of reasons why a hostname
in an endpoints list is a scary idea.  In looking at that PR now, it looks
like some compromise was reached to store a resolved IP rather than the
hostname, but I still don't like it.

Can you explain what this issue is about relative to that PR?

On Tue, Sep 1, 2015 at 4:49 PM, Clayton Coleman <notifications@github.com>
wr

[2015-09-02 05:03] ghodss commented on #13488
@smarterclayton Is that like my option 2 listed above? Though why would labels be changed?

[2015-09-02 05:09] bgrant0607 commented on #13488
Re. wedged: That's what liveness probes are for.

Re. rebalancing: see #12140

If we did support this, I'd lump it with #9043 -- the same mechanism is required.

[2015-09-02 05:11] #13111 closed

[2015-09-02 05:37] erez-rabih commented on #13358
@thockin Storing a resolved IP could not always be achieved.
For example, AWS ELBs are guaranteed to stay under the same host name, but their resolved IP may change and in fact some of the core functionality of ELBs in AWS lays in the fact that they resolve to different IPs upon different requests.
Currently, all external services that relay on dynamic IP resolving, cannot be integrated with Kuber

[2015-09-02 05:48] bgrant0607 commented on #8190
Interesting validation library: https://github.com/pengux/check

[2015-09-02 05:53] bnprss commented on #11667
@thockin
Cloud provider : GCE
Master node: debian as provided by kube-up script
Nodes : coreos (ens4v1 network interface instead of eth0)

I see my issue need more informations that ticket was related to https://github.com/kubernetes/kubernetes/pull/11810

And caused by kubelet iptables calls blocked by kube-proxy updatating xtables.

[2015-09-02 05:57] thockin commented on #11667
Great, hopefully this is all fixed at once, then.

[2015-09-02 05:57] #11667 closed

[2015-09-02 06:00] feihujiang commented on #8190
/s

[2015-09-02 06:02] thockin commented on #13358
They can be used under their real names.  They can not be aliased into
Kubernetes.  That is a desireable feature, but I don't think a hostname
endpoint is the way to implement it.

On Tue, Sep 1, 2015 at 10:38 PM, erez <notifications@github.com> wrote:

[2015-09-02 06:06] wojtek-t opened #13499 "e2e-scalability test suite is broken"
It is constantly failing since run #2312

Suspects (merged around that time):
https://github.com/kubernetes/kubernetes/pull/12963
https://github.com/kubernetes/kubernetes/pull/13227 [probably not]
https://github.com/kubernetes/kubernetes/pull/13345
https://github.com/kubernetes/kubernetes/pull/13426 [probably not]
https://github.com/kubernetes/kubernetes/pull/13386

We should fix this problem befo

[2015-09-02 06:10] ghodss commented on #13488
I suppose this would more be for a situation where the pod is alive and responding to checks but still needs to be restarted. One example is a service with an in-memory cache or internal state that gets corrupted and needs to be cleared.

I feel like asking for an application to be restarted is a fairly common use case, but maybe I'm incorrect.

[2015-09-02 06:10] jdef commented on #11795
Needs more information from @loky9000. It sounds like you are trying to run two pods, and with the expectation that they'll communicate through localhost:xyz-mapped addresses, which will never work because that's not how k8s networking works. Only containers within the same pod can use localhost:xyz. I have no idea how you're setting up kubedns.

This has been sitting a while. Closing out for now,

[2015-09-02 06:10] #11795 closed

[2015-09-02 06:11] resouer commented on #13389
@lavalamp If I do not use postStart, and then `docker exec  "cp /app/myapp.war /work"`, everything is ok.

I also think it is not caused by when doing `cp`, the volume is not ready yet, otherwise that will be a bug too.

[2015-09-02 06:16] wojtek-t commented on #13463
I have no idea...

[2015-09-02 06:27] wojtek-t commented on #13478
This is partially duplicate of #13032

[2015-09-02 07:03] fgrzadkowski commented on #13424
@resouer How to reproduce:

[code]

This is running on GCE VM with Ubuntu 15.04 (but I also checked with Ubuntu 14.10). I have a similar example with GCE PD.

Regarding mounting the entire host filesystem inside kubelet, this will also not help. New mounts will not be propagated anyway.

BTW - I've just realized that listing directory (```ls /var/run/secrets``` in your example) will indeed work, b

[2015-09-02 07:12] a-robinson commented on #13035
Help me understand the use case here and why it's important. From what I see, such a solution's advantages over the current logic are:

1. It's more flexible in that it falls back to using no tags in the case that not all nodes share a tag
1. It can handle a wider variety of prefix-style tags.

However, it still either uses no tags or instance name prefix tags, and incurs extra work in querying GC

[2015-09-02 07:13] bgrant0607 commented on #6363
Update:

* The initial experimental API is in, and improvements are in progress (e.g., #13388).
* Full-blown API groups are in progress, which basically permit sparsely populated API group-versions to enable different APIs to evolve independently, additional discovery mechanisms, and more modular code: #10009, #12951
* Third-party CRUD APIs are in progress: #11781, #13000
* Versioned client is und

[2015-09-02 07:46] tsjsdbd opened #13500 "Change the mechanism of transport packets to kube-proxy"
# Background
As mentioned in the Kubernetes user guide documentation that every node in a Kubernetes cluster runs a kube-proxy. Essentially, Kube-proxy on each node watches the Kubernetes master for any addition and removal of Service. When a proxy sees a new Service, it opens a new random port on the local node, establishes an IPTable redirect from the VIP to this new port, and starts accepting c

[2015-09-02 07:48] gmarek commented on #13492
A reliable repro is needed, or we'll end up on a wild-goose chase.

[2015-09-02 07:56] resouer commented on #13424
@fgrzadkowski  thanks for all your work. me & dalanlan also did a lot of experiments and confirm your issues: the dir is empty. sorry for our carelessness.

hostPath is not influenced as it is send to dockerd to process (correct me if I'm wrong), but other volume types will suffer mount problem.

Now I can followed up all your points when collecting [this blog](https://huaminchen.wordpress.com/201

[2015-09-02 08:03] wojtek-t commented on #13499
cc @smarterclayton @derekwaynecarr

I'm almost sure that #12963 is the reason of this regression. To give a bit more context, all tests are failing with errors like this:

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/load.go:92
deleting rc load-test-small-rc-10
Expected error:
    <*errors.errorString | 0xc20802b070>: {
        s: "timed out waiting for the condit

[2015-09-02 08:26] Hokutosei opened #13501 "printEvent Source to much more cleaner"
Greetings,

currently, when doing `kubectl describe node node-name` then in `From` column, the ui result is

[code]

maybe can do something like this instead? remove `{}` then join it with `,`

[code]

[2015-09-02 08:29] Smana commented on #13434
@thockin  Done

[2015-09-02 08:55] wojtek-t commented on #13499
I would like to avoid reverting this PR and I think we can tweak some values in the test itself to fix that. I did a bit deeper debugging and it seems that what is failing is the function:
waitForRCPodsGone: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/util.go#L1498

I will try to play a little bit with the timeout there - it seems to me that increasing it should help.

[2015-09-02 09:11] 3cky commented on #12663
Done in kubernetes/contrib#53

cc @proppy

[2015-09-02 09:57] jsafrane commented on #13479
Just an idea: what about a new volume plugin, which would create a (sparse) file of a given size on the host, create a filesystem on it and use it instead of emptyDir? That would enforce the quota in pretty hard way, with very little overhead in the OS and without periodical `du -s` polling. In addition, the container would get nice ENOSPC errors when the inner or the outer filesystems gets full,

[2015-09-02 10:08] linzichang opened #13507 "libvirt-coreos kube-up failed"
on master commit d23d083439d4b936ceaa82d562fc9880906412c4

I use libvirt-coreos to run k8s cluster and got an error when kube-up.sh：
rmdir: failed to remove ‘/root/workspace/kubernetes/cluster/libvirt-coreos/libvirt_storage_pool/kubernetes/kubernetes’: Directory not empty

I found that `kubernetes-server-linux-amd64.tar.gz` contain a `addons` dir which is added recently.
And `upload-server-tars` i

[2015-09-02 11:32] kamalmarhubi commented on #8262
That makes sense. Does this mean there will be a new daemon to go along side the metadata service?

[2015-09-02 11:48] jtbcgdv opened #13508 "AWS /mnt/ephemeral/kubernetes runs out of space"
After a couple of days the mount point fills up and the node fails so I have to kill the EC2 instance.  This happens regularly and in different kubernetes clusters

Minion instance size m3.large
AWS region eu-west-1
Kubernetes version 1.0.3

[code]

[code]

[2015-09-02 12:43] jimmycuadra commented on #473
Any updates on this?

[2015-09-02 12:50] timothysc commented on #473
Work is in flight on all pieces atm.

[2015-09-02 12:52] jayunit100 commented on #8567
Ah I haven't checked this for a while but I definitely think it should be done.

[2015-09-02 12:59] onorua opened #13511 "glusterfs volumes are unstable"
### what I have
##### kubelet version
[code]
##### gluster version
[code]
##### endpoint definition
[code]
##### gluster volume info
[code]

##### replication controller which is using all this:
[code]

All this working for some time, until at some point I get following in the log files:
##### kubelet logs
[code]
in the `/var/log/glusterfs/` folder I can see several files like this one:
[code]
but

[2015-09-02 13:12] wojtek-t commented on #13499
It seems that #13505 fixed the problem thus I'm closing it.
Feel free to reopen in case it appears again.

[2015-09-02 13:12] #13499 closed

[2015-09-02 13:21] kshelton commented on #13035
In regards to the security aspect, I disagree.  The tagging from the current master assumes that all the instances are tagged the **same**.  The only security this provides is if you are running other nodes than your cluster in the same project, otherwise traffic would still be allowed to all instances (per the FW rule, not the pool).

With the proposed change, one could tag all the instances with

[2015-09-02 13:38] wojtek-t commented on #13441
I think 3 per hour would be OK if everything were constantly green without flakes, which it isn't.

Maybe that's true, but are quite far from being there. Currently merge-bot is able to merge just few PRs per day due to different flakes.

[2015-09-02 13:45] mwielgus commented on #13484
cc: @fgrzadkowski

[2015-09-02 14:00] smarterclayton commented on #13499
Thanks - glad this was just a timing tweak.

[2015-09-02 14:11] fgrzadkowski commented on #12722
@eulerzgy It seems that currently docker based doesn't work for volumes. PR #13446 fixes some of the problems, but not all. Still secrets doesn't work. Once I fix it I will setup continues e2e tests for this setup and only then will move to making it easier to use.

[2015-09-02 14:26] huang195 opened #13513 "define Docker labels for containers"
Is it possible to define Docker labels for the containers in a POD? I want to set custom labels for the containers so I can see them when I do "docker inspect" on those containers.

[2015-09-02 16:02] pwittrock commented on #11733
To make sure I understand, the issue you are seeing is the message `Image garbage collection failed: non-existent label "docker-images"` in the kubelet.log.  Correct?  And you are running with the /var/lib/docker/ directory as a volume of the container running your kubelet?

If you are able to reproduce, please send along the full command you are running along with a gist of the full kubelet.log f

[2015-09-02 16:20] ihmccreery commented on #3837
Can we close this?  Is this work done?

[2015-09-02 16:33] jayunit100 commented on #13152
[code]

[2015-09-02 16:38] brendandburns commented on #12663
Fixed by https://github.com/kubernetes/contrib/pull/53

[2015-09-02 16:38] #12663 closed

[2015-09-02 16:44] mkulke commented on #8891
Yeah, we eventually nailed down the issue to a bunch of java http clients not closing InputStreams. Still the thought is a bit discomforting that you can easily bring down a cluster with misbehaving workload. (fd and goroutine-threads are being leaked and not returned w/o a restart of the kube-proxy proccess)

[2015-09-02 16:47] ihmccreery opened #13515 "GKE upgrade e2e tests leaking target pools, forwarding rules, and firewall rules"
Our `kubernetes-upgrade-gce` Jenkins job has been broken for quite a while now, and it looks like it's due to target pools and/or forwarding rules leaking and exceeding quota:

[code]

I've cleared out the old rules, and I'll try to diagnose what's leaking them and why.

[2015-09-02 16:50] ihmccreery commented on #13515
This seems like it could be related to #13333, but I'm not sure.

[2015-09-02 17:28] alex-mohr commented on #13478
See also @brendandburns PR https://github.com/kubernetes/kubernetes/pull/13335 about incorrect assumptions the test appears to make?

[2015-09-02 17:31] lavalamp commented on #13499
@wojtek-t Run 2312 took two hours to finish, so it would have been 3:27 MTV time before we knew it was broken. PRs merged when it was known broken:

#11942 mergebot - @brendandburns why did merge bot merge this if scalability was broken?
#13229 It's not clear to me why @a-robinson merged this
#13480 this was me, I was arguably confident enough that this was safe
#13340 docs
#13442 also docs

I thi

[2015-09-02 17:31] wojtek-t commented on #13478
That's a good point - I though it's already merged, but apparently it's not the case.

[2015-09-02 17:32] bgrant0607 commented on #6363
It's also the case that unstable, non-backward-compatible APIs are hostile to extensibility. That's tantamount to declaring that nobody else in the entire Kubernetes community should be able to extend or replace the client or server without replacing/forking both. That's contradictory to our goals and design principles. To me, that suggests the communication point and/or API abstraction were not c

[2015-09-02 17:40] amygdala opened #13517 "displayed number of restarts for a pod is often inaccurate."
I've noticed this to be the case for quite a while now (months).  The displayed number of restarts for a pod always ratchets down to display as '2' after a short while.  e.g.:
https://www.dropbox.com/s/vlzg2f6m1sx8jib/Screenshot%202015-09-02%2010.34.37.png?dl=0
Note the timestamps.

So, it seems that '2' in the pods list should always be interpreted as '>=2'. :)

[2015-09-02 17:46] ironcladlou commented on #13499
#13519 contains a fix for a test compilation error.

[2015-09-02 17:49] a-robinson commented on #13499
Sorry about #13229 -- it had been in merge queue hell for nearly a week and only contained a few trivial, known-safe config changes. I hadn't checked the scalability suite.

[2015-09-02 17:49] yujuhong commented on #13517
@amygdala, we recently fixed the restart count in HEAD, but it hasn't be included in any releases yet. We plan to backport this to v1.0 soon.

[2015-09-02 17:53] wojtek-t commented on #13499
I think only two of these merges were actually problematic. Please keep in mind how long the test takes to run. It's not reasonable for us to merge only one thing every two hours, so scalability is going to break more often than the other tests, since it takes so long to run.

As discussed offline,  I didn't mean that we should merge one thing per hour.
I just meant that we probably shouldn't merg

[2015-09-02 18:10] JanetKuo commented on #13501
How about something like `kubelet on gke-cluster-1-micro-a0f27b19-node-vn5m`?

[2015-09-02 18:22] lavalamp commented on #13388
@uluyol

Versioned clients will be compiled against a specific set of api types. It will take a little bit of thought to do this right, thanks for mentioning it. Worst case, we can offer things like `c.ExperimentalAlpha1().Deployment()...`.

[2015-09-02 18:23] lavalamp commented on #13388
@caesarxuchao

Versions across groups are not logically related (the apis of different groups could evolve at different rates), so we shouldn't do this.

[2015-09-02 18:25] lavalamp commented on #13389
Yes, if the volume is not ready, that would be a separate bug.

[2015-09-02 18:27] filbranden commented on #3837
Yes, as far as I can tell, this is completed. @zmerlynn can confirm for sure.

[2015-09-02 18:28] ericfode commented on #12273
+1

[2015-09-02 18:32] #3837 closed

[2015-09-02 18:55] kamalmarhubi opened #13522 "kubectl's help sometimes prints to stderr"
Help output should always go to stdout for easy paging. This is particularly important for the client, which is what people will use most. Currently the main help output goes to stdout, but subcommands' help goes to stderr:

[code]

Further improvements could be to detect if the output is a terminal, and use `$PAGER`, but making it easy to pipe to `$PAGER` is a great first step!

[2015-09-02 19:02] a-robinson commented on #13035
Yes, I meant that the security is the same at this point in time. Regarding the future, the existing code assumes that all instances *passed to CreateTCPLoadBalancer* are tagged the same. That will automatically adapt to us only passing CreateTCPLoadBalancer the hosts with a service's endpoints on them, enabling cases where pools of machines with different properties have different names and tags.

[2015-09-02 19:36] timothysc commented on #13388
At this point I don't want to conflate the changes, or wait on other potentially destabilizing mods.

I would prefer just to fix experimental, and look at the other issue in their own right.

[2015-09-02 19:53] bprashanth commented on #13492
I came to the same conclusion, which is why the bug is about writing a test. Feel free to P3 if you don't think it's attention worthy. Just documenting that this did happen at least once, and most usual signs (describe node, scheduler logs etc) point at a somewhat serious bug.

[2015-09-02 20:26] a-robinson commented on #13035
We may be able to get by with just a simple cache for the host -> tag mappings, but tags on GCE can be changed while the VM is running so cluster admins would be able to shoot themselves in the foot. They can already shoot themselves in the foot in a variety of ways though, so perhaps that's fine.

[2015-09-02 20:47] kamalmarhubi commented on #13522
This seems like it might be an issue to file against [spf13/cobra](https://github.com/spf13/cobra) or [spf13/pflag](https://github.com/spf13/pflag) instead.

[2015-09-02 21:04] davidopp commented on #6363
To be clear, what I'm proposing is that we be able to create components that offer only an "internal-only" API. A component that exports an "internal-only" API would be part of the system that people aren't expected to extend or replace independently. (Of course, they could submit PRs that we would upstream into these components.) We can put restrictions on these components like: these API objects

[2015-09-02 21:26] quinton-hoole commented on #13478
@ixdy @ArtfulCoder FYI.  Looking into this now...

[2015-09-02 21:34] ihmccreery commented on #11675
This is flaking on roughly 25% of PR builds, so I'm marking it as P0.

[2015-09-02 21:36] ihmccreery commented on #11675
@ixdy @quinton-hoole FYI

[2015-09-02 21:41] timothysc commented on #473
@lavalamp Given the plethora of details and in-flight tickets now, should this one still remain open?

[2015-09-02 21:44] housebolt commented on #10323
@thockin I ran into this issue w/GCE. I'm wondering if I'm just missing some concept that will allow me to set the IP explicitly in GCE without having to worry about instantiating a LoadBalancer. If the IP address stays put then I'm happy, but if a future update breaks this and an RC blows up then my business-critical software goes down with it.

I tried it once by explicitly setting up a network

[2015-09-02 21:47] lavalamp commented on #473
@timothysc is there another blanket issue? If so, we only need one, otherwise we can leave this open.

[2015-09-02 21:50] jimmycuadra commented on #473
Thanks for the update! Which are the issues/PRs I should be tracking to keep up on the details?

[2015-09-02 22:00] ArtfulCoder commented on #13508
@saad-ali

[2015-09-02 22:00] ArtfulCoder commented on #13511
@saad-ali

[2015-09-02 22:03] davidopp commented on #6363
@bgrant0607 and I are going to discuss this further offline.

[2015-09-02 22:08] saad-ali commented on #13508
Looks like InfluxDB slowly eats up all the disk space.
+@kubernetes/goog-node

[2015-09-02 22:10] bgrant0607 commented on #8132
Update from a discussion yesterday:
* We don't have to use the grpc client/server framework in order to use proto, and we don't need to use proto with grpc. They are independent choices. This issue should be just about the encoding, not about the API framework.
* In proto3, we'd need to use messages boxing primtive types for optional fields rather than directly using primitive types.
* Proto2 is s

[2015-09-02 22:12] quinton-hoole commented on #13478
@ArtfulCoder FYI.  The number of nodes being used in PR builder e2e (3) is different than the number in  kubernetes-e2e-gce-parallel (6), for no good reason.  I'm pretty sure that explains the difference in flake rates between the two.  I'll send in a PR shortly to fix that.

[2015-09-02 22:13] saad-ali commented on #13511
@rootfs Can you please take a look at this.

[2015-09-02 22:13] davidopp commented on #6363
But to clarify one thing I said earlier -- the mechanism I'm describing isn't really for "prototype and iterate." Having alpha API versions and the experimental API prefix already give you that capability. It's about components that you want to have an private/internal API "forever."

[2015-09-02 22:14] ihmccreery commented on #11675
Hopefully this has the same root cause as the hypothesized cause of #13478, [not enough nodes](https://github.com/kubernetes/kubernetes/issues/13478#issuecomment-137260462).

[2015-09-02 22:16] bgrant0607 commented on #8132
Also:

* We would not use proto2 support for implicit (non-serialized) defaults.
* We could not support a proto-based encoding type or API version for PATCH, at least not initially
* Clients compiled with static types would get the benefit of compile-time errors, similar to clients of our unversioned client library

[2015-09-02 22:16] #13070 closed

[2015-09-02 22:16] EricSites commented on #10886
How do you remove the certs and tokens from the master? I removed everything under /etc/openshift but still can get a second run of ansible to install. Tried both single master and ha master configs.

[2015-09-02 22:21] JanetKuo commented on #11310
Checklist added

[2015-09-02 22:35] smarterclayton commented on #8132
Re: generating Idl from go structs: +1.

Flat buffers has some space efficiency but the trade off seems smaller
community.  However, as a storage format once we've done one idl generator
another is easier.  Protobufs definitely is a mind share winner.

On Sep 2, 2015, at 6:10 PM, Brian Grant <notifications@github.com> wrote:

Update from a discussion yesterday:

   - We don't have to use the grpc

[2015-09-02 22:37] thockin commented on #13500
Thanks so much for a very well thought out and detailed proposal.

What you describe sounds viable to me - I thought of something similar but only after implementing the existing model, and I was lazy :)  However, there are a few things to discuss.

First, in practical terms, the number of iptables rules doesn't matter much until you hit thousands of rules.  At that point, you could probably work

[2015-09-02 22:46] aronchick commented on #1957
@nmabhinandan @CpuID Can you say more about how this fits into the other KV stores? To your point, you _wouldn't_ maintain etcd at all for Kubernetes. Just think of it like libc - it's there, and it does stuff, but it's not part of anything you'd have to worry about. You would never have to watch it, monitor it, restart it, upgrade it, etc etc.

[2015-09-02 22:53] bgrant0607 commented on #8132
An advantage of BSON is that it's self-describing, which is nice for dynamic types, type extensions, annotations, etc., esp. for logging and debugging. Otherwise, such data would be opaque except to the client(s) that understood it. That has a significant cost, obviously.

[2015-09-02 22:55] thockin commented on #10323
@housebolt yeah, I bet you ran into a "bug" of sorts wherein an update to a Service would release the load-balancer IP (since GCE does not support updating a load balancer).  This is fixed in head-of-tree, but we're still considering #13005 which offers an even stronger guarantee.

[2015-09-02 23:04] vishh commented on #13508
We are starting to work on Disk Space accounting and limiting. For now, I'd
suggest running InfluxDB with a volume and configuring it to store less
data.

On Wed, Sep 2, 2015 at 3:09 PM, Saad Ali <notifications@github.com> wrote:

[2015-09-02 23:07] rootfs commented on #13511
@onorua what you see in kubelet log is a benign debug message from from https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/glusterfs/glusterfs.go#L77.

But that log message occurs when the pod is created/restarted. What caused the pod restart? Can you check if all your resources were migrated correctly during restart? One way to do it IMHO, is to delete and create rc again.

[2015-09-02 23:12] lavalamp commented on #1957
To those of you who want to reuse an existing consul installation for kubernetes: we have been generally recommending that no one share kubernetes' data store. Two reasons are: Kubernetes puts a lot of load on its backend, and security: e.g. the secrets that kubernetes stores are sensitive. Access to the storage backend == root on your cluster.

[2015-09-02 23:18] rootfs commented on #13511
@vmarmol what could cause pod restart?

[2015-09-02 23:22] xiang90 commented on #1957
@jefferai

As an etcd maintainer, I can say this situation has changed. We have done a lot of tests for etcd (More precisely we injected 1000s of failures into etcd clusters we are running everyday.) If you meet any issues, please let us know. We received almost zero bug reports related our new raft from our users since the very beginning actually.

Also as a k8s contributor, I do not really think

[2015-09-02 23:36] rajatchopra commented on #13459
Definitely useful.
Though 'namespace' is assumed here for a group of pods.

An extension of 'group of pods' could be expressed using labels. Say, by using labels.Selector and fields.Selector we could specify who all are allowed to use the service. The advantage is that a service can then define arbitrary set of pods that it is available to, rather than just everyone only and within its namespace.

[2015-09-02 23:39] ihmccreery commented on #3132
We now have PARALLEL test suites in `hack/jenkins/e2e.sh`.

Proposal to close this issue in favor of a work-issue to track moving as many e2es into the parallel suite as possible.

[2015-09-02 23:42] ihmccreery opened #13535 "Don't rely on gcloud for `e2e` tests"
All of our e2e tests should rely on [google-api-go-client](https://github.com/google/google-api-go-client/) rather than `gcloud`.  There are several TODOs of this sort in `cluster_upgrade.go`.

[2015-09-02 23:43] smarterclayton commented on #8132
One of our near term motivations is going to push to extremely high
densities of keys in etcd - millions of keys in some cases - to support
long tail density on non-primary keys (90% inactive users).  Any additional
storage efficiency we can gain (etcd3 spilling keys to disk and using
binary keys and values, protobufs or flatbuffers, compression, wire size)
helps us get there.  So we personally wo

[2015-09-02 23:44] ihmccreery commented on #13535
If we need motivation besides that `gcloud` is a terrible dependency to have, some tests have been brittle because `gcloud` is picky about placement of flags:

[code]

[2015-09-03 00:00] jedsmith commented on #1957
@aronchick

What do you mean by this? You absolutely have to do all of those things with etcd to run *and* scale Kubernetes.

[2015-09-03 00:14] JanetKuo commented on #11262
It can be solved by updating server version of kubectl. To know the version used, simply type `kubectl version`. Please reopen this if it doesn't fix this problem.

[2015-09-03 00:22] bgrant0607 commented on #6363
Every time we create such interdependencies, they also make Kubernetes harder to deploy and upgrade. Many people don't use our /cluster implementation.

We also discussed offline that we could do what we've suggested with the scheduler and its proposed extension API: That when we broke compatibility, WE would fork both sides of the API, so that we wouldn't break users that were dependent on one si

[2015-09-03 00:29] bgrant0607 commented on #6363
I'll also point out that while our external dependencies (Heapster, InfluxDB, etcd, Docker, cAdvisor) have different API conventions, they maintain backward compatibility.

[2015-09-03 00:32] bgrant0607 commented on #8132
We have found benefits to compressing even protobufs in our storage format.

[2015-09-03 00:33] arun-gupta commented on #11262
How do I update server version of `kubectl`?

Does that mean downloading kubernetes.tar.gz and installing the cluster again?

[2015-09-03 00:33] bgrant0607 commented on #8132
Though that may need to be pushed into etcd itself to get the full benefit.

[2015-09-03 00:34] caseydavenport commented on #13459
I agree that label-selection semantics are a powerful and useful addition here, but I think of that as function that should be added to the API after this first baby-step.

As a tactical first step towards richer (label-based) policy, I'd suggest:
[code]
[code]

Pods within an `Open` namespace are accessible cluster-wide, and pods within a `Closed` namespace are only accessible within their own na

[2015-09-03 00:43] satnam6502 opened #13539 "Poor dev start-up experience on Mac OS X (Docker Quickstart Terminal)"
I think the current instructions for getting a dev setup working for Mac OS X needs improvement. On my fresh Mackbook Pro I tried to follow the developer instructions (installed Go and Docker) but I get the error below. Do things not work well with the Docker Quickstart Terminal?

[code]

and `docker run hello-world` works.

[2015-09-03 01:00] mvdan commented on #10938
@saad-ali was this fixed?

[2015-09-03 01:09] JanetKuo commented on #11262
Could you paste the output of `kubectl version`?

[2015-09-03 01:21] bgrant0607 commented on #8132
At some point we'll need to automate the change of storage groups/versions, which is done by a script today. We should also think about how to change the storage format of a running cluster from json to a binary format. Unlike api versions, we don't represent the storage format explicitly.

[2015-09-03 01:24] ghodss commented on #8394
Fixed by #12403

[2015-09-03 01:24] #8394 closed

[2015-09-03 01:31] bgrant0607 opened #13541 "Reusable client/server infrastructure"
Forked from #8190, #8132, #6363, #2742, #2098, and probably other issues.

We need to choose/build a reusable client/server infrastructure, either based on apiserver or something new, such as grpc. While many components will slave off the core apiserver, some won't, and we also want to support federated apiservers.

cc @kubernetes/goog-csi

[2015-09-03 01:32] arun-gupta commented on #11262
[code]

[2015-09-03 01:41] JanetKuo commented on #11262
Do you still see this problem under 1.0?

[2015-09-03 02:09] arun-gupta commented on #11262
Never tried in 1.0. Newer versions were giving problem with Virtual Box 5.0 as explained in #12614.

Will wait for 1.0.5 when that's available.

[2015-09-03 02:19] yifan-gu commented on #8262
@kamalmarhubi Yes. but it's also optional, you don't require it to run rkt. It just provides easy access to the pod/image information.
That means it should run in non-root, and it's failover should not affect running pods.

[2015-09-03 02:20] Hokutosei commented on #13501
Greetings,

thanks for the interest, I thought I may throw hacking on it. btw, how about for `{scheduler }` ?

[2015-09-03 03:11] bgrant0607 commented on #1957
Also note that we're considering moving high-traffic writes of soft state, such as to status, events, and metrics, to another, in-memory backend -- see #6363.

[2015-09-03 03:12] bgrant0607 commented on #1957
I also don't agree with @aronchick that the storage backend wouldn't have to be monitored, upgraded, etc. I do, however, agree with @lavalamp that we recommend not sharing the storage backend with other clients.

[2015-09-03 03:26] jayunit100 commented on #13152
This patch seems to work to fire up the service endpoint https://github.com/jayunit100/kubernetes/commit/1de3e94b98a8e3c767ef9beb151642a8ff7de79f on a nodeport. Its then curlable from the NodePort.  Seems like, so long as apiservers continue to  `Mapped service "default/kubernetes:" to endpoint 192.168.1.190:6443` .    I'll test some more tomorrow.

[2015-09-03 03:27] kamalmarhubi commented on #8262
@yifan-gu ah so it's not used for starting pods?

[2015-09-03 03:33] bgrant0607 commented on #13431
See #12600

[2015-09-03 03:33] #13431 closed

[2015-09-03 03:33] kevinliuzhong commented on #13494
/cc @BenTheElder @thockin
I modified the service file, changing type to LoadBalancer, like this
[code]
but our program still get the proxy internal ip instead of the real client ip.

[2015-09-03 03:39] saad-ali commented on #10938
+@vishh

[2015-09-03 03:45] vishh commented on #10938
I haven't updated kubernetes configs for grafana image recently. IN any case, current heapster head has been updated to use Grafana v2.0 which does not support default dashboards. So we can close this issue.

[2015-09-03 03:45] #10938 closed

[2015-09-03 03:46] mvdan commented on #10938
Great, thanks. I was just going over issues I had opened but forgotten about.

[2015-09-03 03:54] thockin commented on #13494
Sorry - only intra-cluster traffic retains the client IP - anything that
comes in from outside the cluster gets SNAT'ed, until we have a better way
to do direct load-balancing.

On Wed, Sep 2, 2015 at 8:34 PM, kevinliuzhong <notifications@github.com>
wrote:

[2015-09-03 04:47] resouer commented on #13389
@lavalamp I'll dig it through and feedback it here

[2015-09-03 04:51] thockin commented on #8891
We could timeout and terminate the TCP sessions from the middle, I
suppose...

On Wed, Sep 2, 2015 at 9:44 AM, Magnus Kulke <notifications@github.com>
wrote:

[2015-09-03 05:52] roberthbailey commented on #12968
Just getting back to this -- it sounds like the agreement is that we want to deprecate the read-only port (yay!) but we may need to leave it in for a bit longer while we add the appropriate plumbing into the kubelet. If that is the consensus, then we really shouldn't add the concept of a kubelet read-only port to the v1 API.

[2015-09-03 06:05] nmabhinandan commented on #1957
Slightly off topic but shouldn't I use the same etcd cluster for kubernetes and my for own applications? Why?

[2015-09-03 06:07] gtaylor commented on #11760
In the meantime, does anyone have suggestions for how to accomplish this (with Google Cloud DNS in particular)?

[2015-09-03 06:24] davidopp commented on #1957
https://github.com/kubernetes/kubernetes/issues/1957#issuecomment-137270726

[2015-09-03 07:04] roberthbailey commented on #13424
@dchen1107

[2015-09-03 07:10] wojtek-t commented on #13499
@a-robinson

Sorry about #13229 -- it had been in merge queue hell for nearly a week and only contained a few trivial, known-safe config changes. I hadn't checked the scalability suite.

This didn't break scalability suite - it was only merged after it appeared that scalability suite is broken.

[2015-09-03 07:15] roberthbailey commented on #13326
No arguments.

[2015-09-03 07:16] roberthbailey commented on #13328
@gmarek is modifying what information is stored about a kubelet in https://github.com/kubernetes/kubernetes/pull/12655.

[2015-09-03 07:34] kelseyhightower commented on #13424
I've also gone down this path many times, but all the workarounds seemed like overkill. After some time I've come to the conclusion that the Kubelet "owns" the machine. When I stop to consider all the things the Kubelet is responsible for, then it starts to make less sense to have docker or any container run time as a dependency for the Kubelet.

With support for network plugins, it may very well

[2015-09-03 08:04] JanetKuo commented on #13483
Ref #9868

[2015-09-03 08:11] fgrzadkowski commented on #13424
@kelseyhightower I believe that main advantage of using docker for kubelet is that it's more portable - we have all the files, configuration etc bound together.

[2015-09-03 08:49] feihujiang commented on #13004
I checked this unexpected output, I found there is no separation between the name and extra arguments, just use the first argument as the name.  Maybe we could use --name to set name like docker run , or stick to use -- to define extra arguments (a little difficult to implement,  because -- is eated by cobra commander)?  @smarterclayton @bgrant0607 @brendandburns  What's your point?

[2015-09-03 09:20] mkulke commented on #8891
Meditating over this for a little while, I came to the conclusion that this is just the downside of user-space proxying and there is no technically clean mitigation against this.

Sockets stuck in CLOSE_WAIT/FIN_WAIT2 are not supposed to be force-closed by design (you can do some low-level black magic involving ethernet frames, but that won't work on most cloud NICs, i guess).

Just arbitrarily ti

[2015-09-03 09:52] wojtek-t opened #13548 "Uploading logs to GCS may break the whole run on Jenkins"
In our scalability tests it sometimes happens that all tests are passing, but the run is marked red as "failure". This is because uploading logs to GCS sometimes failed with error:

    ---
    [Google Cloud Storage Uploader] Uploading: _artifacts/146.148.94.88:22-kubelet.log
    ERROR: [Google Cloud Storage Uploader] Exception while uploading files: exception uploading file

I've seen 2 examples

[2015-09-03 09:52] wojtek-t commented on #13548
cc @fgrzadkowski

[2015-09-03 10:24] gmarek commented on #13492
Yeah, I'd like to have time to debug this:/

[2015-09-03 10:51] gmarek commented on #13258
Ping @smarterclayton - can you give any input on this? I'm going to debug this in free cycles (which may appear in not-too-distant future or not), so any help with this will be appreciated.

[2015-09-03 11:06] nlamirault commented on #11684
Generating a key for service account :
[code]
and changing apiserver and controllermanager configurati on :

[code]

[code]

Events are :

[code]

$ kubectl -s $K8S_MASTER:8080 get services --namespace=kube-system
NAME      LABELS                                                                         SELECTOR          IP(S)           PORT(S)
kube-ui   k8s-app=kube-ui,kubernetes.io/cluster-service

[2015-09-03 12:10] smileynewbie123 commented on #11893
HI @SunWeicheng0001 , @dalanlan
I am following
http://containertutorials.com/get_started_kubernetes/index.html#installation

I got stuck at same problem as @SunWeicheng0001  was facing.
But However, i am not seeing any thing running

                                                                                                 100% 6494KB   6.3MB/s   00:00
kube-proxy

[2015-09-03 12:46] dalanlan commented on #11893
IIUC, you're using the same tricks as [this guide](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/docs/getting-started-guides/ubuntu.md), which acts as an official one.

[code]
My guess is that you already have another existing etcd binary or service, which may conflict with a new one. A full record of /var/log/upstart/etcd.log would help more.

OTOH this method is not fit for a `sy

[2015-09-03 12:47] timothysc commented on #13152
/cc @danmcp (Leveraging internal service construct)

[2015-09-03 14:27] stevesloka opened #13552 "DNS to a Pod"
I'm looking for a way to TLS everything inside my cluster (even between pods). I have a need for a monitoring tool to reach out to each pod (not through a service) over TLS. My problem is allowing the cert to request correctly. I know SkyDNS only creates entries for svc's, would I have to extend the SkyDNS add-on to also create records for pods? Any other creative thoughts?

[2015-09-03 14:54] pwittrock commented on #8416
Solved by #13087

[2015-09-03 14:55] #8416 closed

[2015-09-03 15:41] jsafrane opened #13556 "Wrong OpenStack + Cinder instance IDs"
I'm playing with Cinder volume plugin and I noticed that it expects that the machine hostname is the same as the OpenStack instance ID.

In our OpenStack deployment, the hostname is `<instance ID>.long.domain.redhat.com`. Kubernetes OpenStack cloud provider, especially `getComputeIDbyHostname()`, takes this long host name and tries to find an instance with this ID, which obviously fails and Cinder

[2015-09-03 15:52] fgrzadkowski opened #13557 "Fix writing secrets in containerized kubelet"
Currently when kubelet is running in a container writing secretes doesn't work. The problematic workflow is:
1. Kubelet mounts ```tmpfs``` as a secret volume using ```nsenter_mounter``` in host's namespace
2. Kubelet reads secretes from API server
3. Kubelet tries to write secretes to the newly created volume, but as it resides in host's namespace it fails.

This will be solved with https://github

[2015-09-03 16:05] spothanis commented on #13556
@jsafrane The main idea is to find out on which node (esp. instance id) this volume operation is supposed to happen, for that I thought hostname was a decent choice and `getComputeIDbyHostname` tries to do that. It checks if the hostname reported by the machine matches server metadata reported by nova for fields -- hostname or name.
In our installation of openstack, hostname reported by the machin

[2015-09-03 16:10] spicyroland opened #13558 "using customized docker image in GCE restarts endlessly"
Hi,
I have a fairly simple setup using a ReplicationController to start a pod using an personal image from docker hub.
[code]

now when I run kubectl create -f my-apache.yml the pod gets never started
[code]

$ kubectl describe pod/my-apache-hz1cw (lists tons of created, started ... etc.)
[code]

this is my Docker I used to build the image.
[code]

when i log  myself into the cluster node and run

[2015-09-03 16:13] bgrant0607 commented on #5754
cc @kelseyhightower

[2015-09-03 16:20] timothysc commented on #13331
I'm going to dig a bit further today, but something doesn't make sense here...

/cc @yichengq

[2015-09-03 16:30] cameronbrunner commented on #9462
I know this is closed now but I just ran into this problem as well when upgrading from v1beta3 to v1.  I was able to track it down to two specific entries in the registry, `/registry/services/endpoints/default/kubernetes-ro` and `/registry/services/specs/default/kubernetes-ro`.  Deleting these with `kubectl` was not possible but I was able to remove them with `etcdctl`.  Once both entries were rem

[2015-09-03 16:33] bgrant0607 commented on #13004
Does exec behave differently?
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/exec.go#L56

[2015-09-03 16:35] bgrant0607 commented on #13004
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/run.go#L57

Yes, exec doesn't have a --command flag, which is nicer (and works correctly):
[code]

[2015-09-03 16:35] thockin commented on #13552
More from IRC:

#260 covers a lot of issues around DNS for pods
#4825 focuses on hostname issues

@bgrant0607 and @smarterclayton since this is the crew that DNS keeps coming back to. :)

Those issues aside, I have already indicated that I'm not against DNS for pods.  It just has to be done in a way that doesn't preclude things like nominal services.  If we can do DNS in a way that doesn't involve

[2015-09-03 16:56] spikecurtis commented on #13459
+1

[2015-09-03 17:07] JanetKuo commented on #11262
@arun-gupta [v1.0.5](https://github.com/kubernetes/kubernetes/releases/tag/v1.0.5) is just released. Please give it a try and this issue should be fixed as well. Please let me know if it works, thanks!

[2015-09-03 17:10] arun-gupta commented on #11262
@JanetKuo Downloading and will let you know.

It's still marked as Pre-release. How is that different from a release?

[2015-09-03 17:11] wojtek-t commented on #13548
Another example of it:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/2328/

[2015-09-03 17:14] yujuhong opened #13562 "Container garbage collection should define MinAge as age since the container termination"
The definition of `MinAge` in Container GC:

[code]

It determines a container's age by looking at its "Created" time. Even if a container has just died, as long as the container was created `MinAge` before, it would be eligible to be GC'd.
This seems arbitrary to me. What we should be looking at is "how long since the container died", so that other components in kubelet has a chance to look at th

[2015-09-03 17:17] vishh commented on #13562
What are the use cases for keeping old containers? AFAIK, we use old
containers for tracking restart counts and providing access to previous
logs. If we can avoid requiring old containers, we can greatly improve disk
utilization.
A container that writes a lot of data to its rootfs causes lots of disk
usage issues. We should try to GC those containers as quickly as possible.

On Thu, Sep 3, 2015 at

[2015-09-03 17:22] vishh commented on #12968
Can you clarify the plumbing required in kubelet?

On Wed, Sep 2, 2015 at 10:53 PM, Robert Bailey <notifications@github.com>
wrote:

[2015-09-03 17:24] liggitt commented on #12968
defining an authentication and authorization interface (probably identical or as similar to the API interfaces as possible), then routing the kubelet handler through filters that authenticate and authorize requests before processing them

[2015-09-03 17:33] mikedanese commented on #12968
And what about profiling (not custom compiled) kubelets? golang/go#11468

[2015-09-03 17:41] Symmetric commented on #13459
I'd suggest a slight change from the above as suggested by @caseydavenport:

    service:
      spec:
        type: [ clusterIP | Closed | NodePort | LoadBalancer ]

The current definition of "clusterIP" is:

That maps onto "Open" as discussed above. Therefore the Service Type that we should add is "Closed", because we can't re-define clusterIP to mean "only accessible to the namespace" for the ca

[2015-09-03 17:42] yujuhong commented on #13562
Even if we write restart counts as labels to the containers, we'd still need to keep a most recently terminated container around before we create a new one (so that we can read the label back).
Reading log is the same situation. The current GC parameters does not guarantee that at all.

Agreed. I'd imagine that the recent per-container backoff limits the rate of generating dead containers, so this

[2015-09-03 17:43] jayunit100 commented on #5180
shall we fix     `return 2 * time.Minute`   in apiserver.go now?

[2015-09-03 17:44] vishh commented on #13562
On Thu, Sep 3, 2015 at 10:42 AM, Yu-Ju Hong <notifications@github.com>
wrote:

Good point.

+1 for marking dead containers for GC.

[2015-09-03 17:53] spikecurtis commented on #13459
Can I suggest `Namespace` rather than `Closed`?  I think "closed" is an ok way to describe a namespace policy, but it's not very intuitive to say a service is "closed".

[2015-09-03 17:54] arun-gupta commented on #11262
@JanetKuo got the following error:

[code]

[2015-09-03 18:15] #13440 closed

[2015-09-03 18:33] saad-ali opened #13565 "Indirect dependency on golang test code introduced unintended CLI flags in Kubernetes binaries"
From @eparis's comment in the Cinder PR: https://github.com/kubernetes/kubernetes/pull/13367#issuecomment-137254241

PR #13367, Cinder Volume Plugin introduced a dependency on

* [`github.com/rackspace/gophercloud/openstack/blockstorage/v1/volumes`](https://github.com/rackspace/gophercloud/blob/master/openstack/blockstorage/v1/volumes/fixtures.go#L6)
* [`github.com/rackspace/gophercloud/openstack/

[2015-09-03 18:33] jefferai commented on #1957
@aronchick I think there is some confusion going on in our discussion, so let me try to clarify:

My point was that because the K/V store is under the hood, whether that is powered by Consul or etcd or ZK shouldn't matter so long as the storage solution supports the K/V store requirements for Kubernetes labels.

If you're using the service discovery capabilities of Consul -- which again, are not a

[2015-09-03 18:34] saad-ali commented on #13565
@spothanis is taking a look

[2015-09-03 18:38] smarterclayton commented on #13552
Can we just give the pod a DNS name equal it its podIP?  Breaks when we
have long DNS names and IPv6.

I really don't want to have reverse lookup for every pod in the system, but
since we say pods are like mini vms and all the cloud providers give you a
DNS record for your VM...

I will say that pods as vms can be a dangerous mindset - we kind of want
pods to be process groups with an ip.  I sort

[2015-09-03 18:38] jefferai commented on #1957
@lavalamp Of course, that's what https://github.com/kubernetes/kubernetes/issues/10439 is about, which has turned partly into a discussion of storing secrets in Vault, and partly a discussion of simply encrypting secrets within Kubernetes so that it doesn't matter what storage backend is used. But then Kubernetes has to manage the master secrets, and that's a hard problem where Vault can be helpfu

[2015-09-03 18:40] satnam6502 commented on #13539
Note that `boot2docker` is deprecated.
https://github.com/boot2docker/osx-installer/releases

[2015-09-03 18:41] satnam6502 commented on #13539
I would offer a fix, but Facebook lawyers are still processing my request to have permission to contribute to Kubernetes.

[2015-09-03 18:50] cameronbrunner opened #13567 "Add support for Quotas on Running Pods"
This is a continuation of a discussion started in the #sig-scheduling kubernetes slack channel between @davidopp, @smarterclayton, and @quinton-hoole.

Fundamentally the quota system prevents the 'creation' of pods but has nothing (as far as I can tell) to do with the 'running' of pods.  There are lots of reasons why a pod can't get get to the 'Ready' state especially in a resource constrained clu

[2015-09-03 18:55] jefferai commented on #12742
Probably whether it makes sense to use something like Vault vs. simply encrypting data at rest in any Kubernetes storage solution depends on whether the extra things Vault does are useful (fine-grained access control, tokens with TTLs and limits on the number of uses, generation of short-lived access to external resources etc.) It's really designed for a wide set of use-cases that may simply not b