[2017-09-25 04:03] #51501 closed

[2017-09-25 04:12] liggitt commented on #52890
inspecting a captured apiserver.log in hex, the character is logged as `0xC2 0xB5`, which is the correct [UTF-8 encoding of µ](http://graphemica.com/%C2%B5)

[2017-09-25 04:17] liggitt commented on #52963
this would just be a poll of the metrics endpoint. would that have a meaningfully different output from `watch kubetctl top ...`?

[2017-09-25 04:27] ailusazh commented on #52902
@lichuqiang we have tried to keep labels in etcd and configuration the same, but there will always be cases of Inconsistent due to negligence, and label node via API is much more convenient. I intend to wait in the admit process until get node info from etcd instead of use initial node info from local configuration. Like this:
[code]
If getNodeFunc() can't success always, the sync pod process will

[2017-09-25 04:32] u2takey commented on #52963
@liggitt no difference, just poll of metrics like watch. (watch cmd may not installed by  none-linux users).

[2017-09-25 04:57] sree2005 commented on #43800
@rajatvikramsingh Please let us know the steps

[2017-09-25 05:02] shyamjvs commented on #51899
Commit c04e516373 is healthy:

[code]

New range - https://github.com/kubernetes/kubernetes/compare/11299e363c538c...c04e516373

[2017-09-25 05:08] NickrenREN opened #52968 "Fix fs resize logic"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
For now, If pv.Spec.Capacity already is of size greater or equal than requested size, `ExpandVolumeDevice` will never be performed, but fs resize may be run.

**What you expected to happen**:
 If pv.Spec.Capacity already is of size greater or equal than requested size, fs resize will not be executed neither

/cc @gnufied

[2017-09-25 05:09] NickrenREN commented on #52968
/sig storage

[2017-09-25 05:32] #49921 closed

[2017-09-25 05:36] knightXun commented on #52963
using '"watch -n 1 'kubectl top node' " can get same result.

[2017-09-25 06:00] shyamjvs commented on #51899
Guess it's the audit json change - will confirm.
I remember from one of the traces (delete pods iirc) that auditing was part of the code block which took almost all the time. Maybe that also explains why we are seeing the increase for mutating calls.

[2017-09-25 06:00] #52784 closed

[2017-09-25 06:06] liggitt commented on #51899
The audit change wasn’t in the range https://github.com/kubernetes/kubernetes/compare/11299e363c538c...c04e516373 ?

[2017-09-25 06:11] shyamjvs commented on #51899
It's the other half which has the bug.

[2017-09-25 06:16] shyamjvs commented on #51899
My original comment had the wrong range, I corrected it immediately - sorry.

[2017-09-25 06:23] lichuqiang commented on #52902
@ailusazh Well, the modification may have effects on the behevior of static pods that don't rely on data in etcd indeed.

[2017-09-25 06:54] andyzhangx commented on #52419
This is becuase in linux, it's using relative symlink, while in windows, it's using absolute symlink, in linux, it's like following:
`
root@k8s-master-C3EE7EE1-0:/var/lib/kubelet/pods/0ac99e1a-4c29-11e7-bc9e-000d3a35d0d5/volumes/kubernetes.io~secret/default-token-fv1fh# ll
total 4
drwxrwxrwt 3 root root  140 Jun  8 09:01 ./
drwxr-xr-x 3 root root 4096 Jun  8 09:01 ../
drwxr-xr-x 2 root root  100 J

[2017-09-25 07:35] ailusazh commented on #52902
Thanks for your reminder. Yes, this does affect static pods, however considered that we don't use static pods, I will add a switch to use this logic.

[2017-09-25 08:07] Jacobh2 commented on #52462
I'm having the same problem with one of three kube-proxy pods:
[code]

[code]

No direct connections to the nodes has been made so any container hasn't been removed manually.

[2017-09-25 08:11] gyliu513 opened #52973 "Daemonset should support `Rereate` Update Strategy"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

If I create a daemonset with hostNetwork, then when upgrade the daemonset, there will be some port conflict.

We should support `Recreate` update strategy for daemonset like deployment.

/cc @janetkuo

/sig apps

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**An

[2017-09-25 08:25] timchenxiaoyu commented on #51187
you should add -v /sys/fs/cgroup:/sys/fs/cgroup:rw append to you run parameter

[2017-09-25 08:31] jayunit100 commented on #50916
Could this be an Etcd / apiserver locking issue, maybe one you only seen when running in high availability mode - If the status of the cache is being Trampled on? ...What happens if two schedulers run at the same time without a both having lock?

[2017-09-25 08:45] roffe commented on #52973
I have tried this on 1.7.6 with a nginx ingress daemonset but cannot  reproduce the bug you are describing.
[code]

When I make changes & apply my daemonset I can, using a watch see that it terminates one pod, then brings a new one up. No port conflicts happening.

[code]

[2017-09-25 08:59] gyliu513 commented on #52973
Can you please remove the `hostPort:` and re-test the case, I think it will be failed.

[2017-09-25 09:04] roffe commented on #52973
Removed whole port section. no error
[code]

[code]

[2017-09-25 09:08] gyliu513 commented on #52973
@roffe How about left `containerPort` but only remove `hostPort`?

[2017-09-25 09:10] roffe commented on #52973
if i remove host port and apply the daemonset again it does not trigger a update of the pods.

I suspect this is due to it running on hostNetwork so the port declarations doesn't really matter

[2017-09-25 09:16] x1957 commented on #52973
I had the port conflict problem.

env:
[code]

I think same to daemonset

[2017-09-25 09:40] hzxuzhonghu commented on #52973
In theory if a daemonset use host network, and listen on port xxx. When update daemonset image, conflict must occur, because currently will create a new pod before shut down the old.
I remember several issues have been raised before.

[2017-09-25 09:43] roffe commented on #52973
@hzxuzhonghu i'm seeing the oposiet behaviour. It terminates first before creating new.

[2017-09-25 09:44] cartmanume opened #52979 "Patching a Pod removes the ownerReferences"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We created a StatefulSet with one replicas to start with, what we wanted to do is to change the label on the Pod so that the Service that will send traffic to this Pod can be controlled depending on the labels that the Pod has. Later on we want to scale and have a hot standby where we do not want any traffic at all until

[2017-09-25 09:51] sttts commented on #51643
With a daily sync you would have had a release-1.8 branch since it was forked in the main repo (beginning of Sept). I don't see how developing in an external repo would improve the lead time here.

[2017-09-25 09:51] roffe commented on #52973
Tried reading through the release logs but can't find anything that the behaviour should have changed between 1.7.3 & 1.7.6

[2017-09-25 09:52] roffe commented on #52973
@gyliu513 you were on 1.7.3 if i don't remember wrong from slack conversation?

[2017-09-25 09:55] cartmanume commented on #52979
@kubernetes/sig-api-machinery-bugs

[2017-09-25 09:59] crassirostris commented on #52973
@roffe Add a non-zero terminationGracePeriodSeconds

[2017-09-25 10:05] zhangxiaoyu-zidif commented on #46636
@x1957
No, no plan for s3fs-fuse currently

[2017-09-25 10:12] gyliu513 commented on #52973
@roffe yes, but I think that both 1.7 and above versions should all have such issues, so that's why I was requesting we should add a new strategy update for daemonset.

[2017-09-25 10:13] FingerLiu commented on #29097
is this command usable with python client??   https://github.com/kubernetes-incubator/client-python

[2017-09-25 10:33] dims commented on #52617
/open

[2017-09-25 10:34] dims commented on #52617
/reopen

[2017-09-25 10:55] myonlyzzy opened #52980 "why I use type: loadbalancer expose a service get EXTERNAL-IP pending? ON GCE。"
I  create a service on k8s cluster that install on gce apiVersion: v1
kind: Service
metadata:
  name: frontend
  labels:
    app: guestbook
    tier: frontend
spec:
  # if your cluster supports it, uncomment the following to automatically create
  # an external load-balanced IP for the frontend service.
  type: LoadBalancer
  ports:
    # the port that this service should serve on
  - port: 80
  s

[2017-09-25 11:20] guangxuli commented on #52391
@gnavgire Are you sure the `extenders` invalid in your workaround? I reproduced the issue, the result seems that the keyword `extenders` works correctly.

[2017-09-25 11:42] sttts commented on #48714
Implemended in https://github.com/kubernetes/kubernetes/issues/48714

[2017-09-25 12:28] cristifalcas opened #52982 "Kubernetes yum repos are not updated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Using the official kubernetes yum repo, I tried to install version 1.6.10. But it seems that the latest version uploaded is 1.6.7. Is this on purpose, an omission or nobody is maintaining this anymore?

**What you expected to happen**:
To install version 1 6.10 from rpms using the official repo.

**How to reproduce it (as

[2017-09-25 12:29] zjj2wry commented on #40422
/cc

[2017-09-25 12:33] cristifalcas commented on #52982
/sig area/build-release

[2017-09-25 12:34] dyatom opened #52984 "***WINDOWS*** build proxy.go fails to build with "go build" command"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Getting this error when building proxy.go

C:\Projects\Go\src\k8s.io\kubernetes>go build cmd/kube-proxy/proxy.go
k8s.io/kubernetes/pkg/kubectl/cmd/util/openapi
pkg\kubectl\cmd\util\openapi\openapi_getter.go:57:42: cannot use s (type *"github.com/googleapis/gnostic/OpenAPIv2".Document) as type *"k8s.io/kubernetes/vendor/github.com/g

[2017-09-25 12:34] cristifalcas commented on #52982
The repo used was the one from https://kubernetes.io/docs/setup/independent/install-kubeadm/

[2017-09-25 12:35] dyatom commented on #52984
@SIG-Windows

[2017-09-25 12:37] rootfs commented on #46636
also see https://github.com/kubernetes/kubernetes/issues/44486 and http://tracker.ceph.com/issues/20851

cc @renhwztetecs

[2017-09-25 12:37] dyatom commented on #52984
@kubernetes/sig-windows

[2017-09-25 13:31] wkruse commented on #50311
Closing it because of https://github.com/kubernetes/kubernetes/pull/36760.

[2017-09-25 13:31] #50311 closed

[2017-09-25 13:43] rvrignaud commented on #40063
Hello,

What is the status of this one ? On my 2 GKE clusters running 1.7.6 I still have a kube-dns deployment configured with only 1 replica.
My `kube-dns-autoscaler` configmap is still:
[code]

[2017-09-25 13:52] ncdc commented on #51013
@jeremyd I would recommend opening a new issue. Your root cause appears to be different (different stack trace).

[2017-09-25 13:54] flyingcougar opened #52988 "Cpu Manager e2e node tests fail"
/kind bug

**What happened**:
Cpu manager node e2e tests fail due to mismatch in cpu assignment.

[code]

Followed by
[code]

This is caused by not detecting whether HT is enabled on platform properly.
`isHTEnabled()` does `lscpu | grep \"Thread(s) per core:\" | cut -c24` whereas on some systems
`-c22` is needed.
`lscpu` output line char should not be hard-coded.

**What you expected to happen**:

[2017-09-25 13:54] mattjmcnaughton opened #52989 "Refactor `a.computeReplicasForMetrics` and `a.ReconcileAutoscaler` methods"
/kind feature

Curiosity question - and apologies if this is not the right place to ask - are there existing opinions on refactoring the `a.computeReplicasForMetrics` and `a.ReconcileAutoscaler` methods in `horizontal.go` into smaller components? Overall, I’ve found the `podautoscaler` package fantastic to work with - the one tricky thing is that (at least for a newcomer), some of the methods can

[2017-09-25 13:54] mattjmcnaughton commented on #52989
/sig autoscaling

[2017-09-25 13:54] dims commented on #49480
Here's a note from @justinsb on another issue - https://github.com/kubernetes/kubernetes/issues/52331#issuecomment-331642854

[2017-09-25 13:57] flyingcougar commented on #52988
/sig node

[2017-09-25 14:01] justinsb commented on #52331
@choury you didn't fill in the "install tool" section - do you know which version of CNI you're using?  Are you using an install tool?

I'm hoping you're using an older version of CNI than 0799f5732f2a11b329d9e3d51b9c8f2e3759f2ff :-)

[2017-09-25 14:26] UnrealCraig commented on #47538
It would be really useful to trigger a cronjob manually

[2017-09-25 14:27] liggitt commented on #52560
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52950/pull-kubernetes-unit/55117/

[code]

[2017-09-25 14:31] luxas commented on #52617
Changed the timeline for this to v1.10, sounds good as an initial plan?

[2017-09-25 14:35] julia-stripe commented on #50916
We run both the scheduler & controller manager with `--leader-elect=true` which should mean only one of them is running at a time. We do have two apiservers running at the same time though, maybe that's related? Will investigate.

[2017-09-25 14:55] liggitt commented on #52984
fwiw, cross-build is green, so windows builds are at least running - https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-cross

[2017-09-25 14:57] shashidharatd opened #52992 "Move federation out of core repo"
This issue is to track all the tasks associated with moving out federation related code out of core `kubernetes` repo into its own repo (`k8s.io/federation`).

Refer to the plan and discussion on moving out federation in this [google doc](https://docs.google.com/document/d/1aMwWigMh7gvihqghIdqqwRRU7-LTH1erKGsHv7rCASo)

/cc @kubernetes/sig-federation-pr-reviews
/assign @irfanurrehman

[2017-09-25 15:16] jdumars commented on #47943
@timothysc @derekwaynecarr @dashpole @dchen1107 I'm going to pull this out of the milestone later today if there is no additional work being done here.

[2017-09-25 15:27] zjj2wry opened #52994 "kubectl set resource can not update multi resource in local"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
my yaml:
[code]
exec kubectl set resources command,just update first object:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
-

[2017-09-25 15:27] zjj2wry commented on #52994
/sig cli

[2017-09-25 15:27] zjj2wry commented on #52994
/kind bug

[2017-09-25 15:27] zjj2wry commented on #52994
/assign

[2017-09-25 15:28] ncdc commented on #52927
This looks quite similar to what I saw when I filed https://github.com/kubernetes/kubernetes/issues/43263

[2017-09-25 15:30] justinsb opened #52996 "Timeout killing sleep pod"
Running the prometheus setup from helm, I noticed that the pod was slow to shutdown, and `kubectl describe` seemed to show that it was because it failed to kill a container running `sleep`

[code]

Extract from pod spec:
[code]

OTOH, we also saw a CNI error, which might have been the real cause, though the timing suggests not:
[code]

[2017-09-25 15:33] ncdc commented on #52927
FYI @krzyzacy

[2017-09-25 15:36] ncdc commented on #52927
/assign @krzyzacy
/unassign

[2017-09-25 15:46] shyamjvs commented on #51899
Update:
- From the above range, the suspicious PRs are:
  - set --audit-log-format default to json #50971
  - Update cos image to cos-stable-60-9592-84-0 #51207
- Most likely it's the first one as mutating requests are the ones which've been affected (and they go through audit-logging code path). Also audit-logging doesn't seem to be turned on in kubemark (where we're not seeing this issue) which

[2017-09-25 15:47] font commented on #50888
@quinton-hoole Correct, not a duplicate. I'd prefer to keep it open so that we get it resolved.

[2017-09-25 16:09] rootfs commented on #50847
@denkensk can you post container's mount output and kubelet log?

[2017-09-25 16:15] kfox1111 commented on #44486
looking at the bug filed here: http://tracker.ceph.com/issues/20851, it looks like the desire is to pass the secret in via cli args? That can be a security risk as it shows up in various other places like 'ps ax'. Couldn't a temporary file or some other mechanism be used instead?

[2017-09-25 16:34] spzala commented on #40827
@hhzguo hello, thanks for asking this question but considering the type of question I would recommend to ask on the #kubernetes-dev or per issue triage guidelines any questions/confusions should be asked on the https://stackoverflow.com/questions/tagged/kubernetes It will help to get you answer quickly. So can you please close this issue as it's not really an issue. Once you get an answer and find

[2017-09-25 16:35] jcbsmpsn opened #52999 "kubelet bootstrap certificate is widely available after boot"
/kind bug

**What happened**:
After a cluster is created using kube-up.sh, it is configured using `--bootstrap-kubeconfig`, so it uses the initial certificates referenced in `/var/lib/kubelet/bootstrap-kubeconfig`, which are `/etc/srv/kubernetes/pki/kubelet.crt` and `/etc/srv/kubernetes/pki/kubelet.key`. These files containing the certificate and key are installed world readable on the node:

[cod

[2017-09-25 16:35] jcbsmpsn commented on #52999
/sig auth

[2017-09-25 16:36] RenaudWasTaken commented on #52560
See: https://github.com/kubernetes/kubernetes/pull/52616

[2017-09-25 16:44] ericchiang commented on #47820
Reopening. Adding to 1.8 because it's effecting our 1.8 branch upgrade tests

https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew

Adding to the 1.8 milestone. We need to determine if this is release blocking or not.

[2017-09-25 16:44] MarkRx commented on #48180
I would like to see this. Our use cases:

- Automatically inject the kubernetes namespace into an environment variable for me. With dozens of different kube templates people sometimes forget to expose it manually (https://kubernetes.io/docs/tasks/inject-data-application/environment-variable-expose-pod-information/)
- Have compute nodes have special knowledge about themselves that can be injected i

[2017-09-25 16:47] ericchiang commented on #50274
This is still failing on some 1.8 upgrade tests https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew#gke-gci-1.7-gci-1.8-upgrade-master

[2017-09-25 16:47] spiffxp commented on #52454
this awaiting approval and cherry-picking of https://github.com/kubernetes/kubernetes/pull/52803

[2017-09-25 16:48] krzyzacy commented on #52927
ouch - okay seems I was following up an out-dated doc, did not aware of your fix for the previous job - thanks for pointing out!

[2017-09-25 16:48] cmluciano commented on #52852
@knagware9 Need more details on what is not creating. Please post logs from the pods and any relevant k8s events.

[2017-09-25 16:51] krzyzacy commented on #50274
do we need to cherrypick the fix into previous branches?

[2017-09-25 16:51] #52072 closed

[2017-09-25 16:51] spiffxp commented on #50945
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=aggregator

Friendly v1.8 release team ping.  This failure still seems to be happening, is this actively being worked? Does this need to be in the v1.8 milestone?

[2017-09-25 16:58] kow3ns commented on #47820
https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew looks like a timeout on heal from the partition
 https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/916 looks like a cluster of failures not directly related to this issue.

[2017-09-25 17:13] yujuhong commented on #52462
@Jacobh2, could you SSH into the node and run `docker ps -a` to see if the exited init container is still visible?

[2017-09-25 17:14] msau42 commented on #52820
FYI, volume reconstruction was not the cause of hostpath nil ptr issue.  I just double checked, hostpath volumes do not create any directory under the pod's volumes. Instead it just bind mounts from the global path directly to the container.  So hostpath volumes will not have any directories under the pod directory to reconstruct.

[2017-09-25 17:16] msau42 commented on #52820
However, this issue could still crop up for other volume plugins that add new fields, don't add the new field to ConstructVolumeSpec(), and make assumptions in the plugin code that the new field is set.

[2017-09-25 17:18] yujuhong commented on #20876
@alok87, please see #20096. A workaround was added to kubelet to avoid triggering this issue long ago. Please open a new issue if you are still seeing this with a recent kubernetes version (1.5+).

[2017-09-25 17:25] jessfraz commented on #52454
Here is the cherry-pick as well https://github.com/kubernetes/kubernetes/pull/53003

[2017-09-25 17:33] spiffxp opened #53004 "v1.8.0 known issues / FAQ accumulator"
Please link to this issue or comment on this issue with known errata for the 1.8.x release. This follows what we have done for prior releases.

We will be populating the "Known Issues" section of 1.8.0 and above release notes based on this issue

FYI @jdumars @radhikapc @bradamant3
cc/ @kubernetes/kubernetes-release-managers

[2017-09-25 17:34] yujuhong commented on #52672
@ssakhuja57, you'd get a better answer filing an issue against the minikube repository https://github.com/kubernetes/minikube

[2017-09-25 17:36] spiffxp commented on #53004
/sig release

[2017-09-25 17:51] tallclair opened #53006 "Introduce buffer to audit log output"
We should introduce a buffer (similar to what we have in the webhook output backend) to the log file output backend. Audit events should be queued on a relatively large buffer chanel, and an output go routine should grab events off the queue and write them to disk. If an audit event is output when the channel is full, it should be dropped (this should be counted by a prometheus metric, and an e2e

[2017-09-25 17:53] justinsb opened #53007 "CNI known issues from 0799f5732f..0.6.0"
So kubernetes is running CNI version 0799f5732f2a11b329d9e3d51b9c8f2e3759f2ff and there were issues where people seemed to assume we were running CNI 0.6.0.  But we chose (https://github.com/kubernetes/kubernetes/issues/49480) not to upgrade to 0.6.0 in 1.8

However, this is now a 1.8 release concern, in that presumably some of the commits in between 0799f5732f and 0.6.0 are important.

Can we ple

[2017-09-25 17:53] MrHohn commented on #52347
@shyamjvs Sure thing, thanks for reporting!

[2017-09-25 17:57] abgworrall commented on #51899
@shyamjvs , that COS image upgrade also upgraded docker (from 1.11 to 1.13), which had some performance impacts - @yguo0905 can assess how closely this matches. If that looks suspicious, then you can try running the test against the newer COS image (`cos-stable-61-9765-66-0`) which has docker 17.03, which had more favorable performance.

[2017-09-25 17:57] justinsb commented on #53007
FYI @jdumars @radhikapc @Bradamant3

[2017-09-25 17:57] spiffxp commented on #53004
/priority important-longterm
/kind cleanup

[2017-09-25 17:58] MrHohn commented on #50274
Sorry I forgot to update here.

https://github.com/kubernetes/kubernetes/pull/52875 is fixing the gke 1.7->1.8 upgrade cases.

I will send a similar fix to 1.6 branch to fix the 1.6->1.8 upgrade cases soon.

[2017-09-25 17:58] liggitt commented on #51899
docker perf probably wouldn't affect API server latency

[2017-09-25 17:59] ralberto commented on #50004
@jingxu97 thanks for your answer.
After shutting down the node, the volume remains attached to the unavailable node indefinitely, it's not detached even after a long period...
You can find the logs that I've recorded in the past in this URL: https://github.com/kubernetes/kubernetes/files/1200204/session.log.gz

Anyway, I'm going to reinstall the cluster from scratch using kubernetes latest version

[2017-09-25 17:59] yujuhong commented on #52939
The fix #45111 was included in 1.7. I uploaded a PR to cherry-pick this back to 1.6: #53008

[2017-09-25 18:00] yujuhong commented on #52939
BTW, the fix was for modifying the manifest file using an editor that would create a dot-prefixed temporary file. If you move the file outside of the directory, modify, and move it back, everything should already work.

[2017-09-25 18:02] shyamjvs commented on #51899
Yes.. Like I mentioned on the slack channel, the issue we're seeing here is on the apiserver side. Besides we're using the new COS image in kubemark (which is running fine).

[2017-09-25 18:13] crassirostris commented on #51899
@shyamjvs You can turn off audit logging for large GCE scale tests until https://github.com/kubernetes/kubernetes/issues/53006 is fixed. This is done by changing the `cluster/gce/test-config.sh` file: switching `ENABLE_APISERVER_ADVANCED_AUDIT` to `false` or completely unsetting it.

[2017-09-25 18:13] tallclair commented on #51899
A couple thoughts on the performance regressions from auditing:

- Audit logging is not enabled by default, it must be explicitly configured (which we do in the testing environment)
- AdavncedAuditing is still in beta
- The specific output format causing the regression is configurable.

With these in mind, I'm inclined to say we should just document this as a known issue and fix it in 1.9 (e.g. ht

[2017-09-25 18:15] spzala commented on #40367
@sc68cal hi, since it's been many months of this issue was last discussed, if you are okay, can we close it considering lack of information per k8s triage guidelines? Per discussion so far it could be an issue or just one time error or some configuration need. If any active users hits it again I am sure they will open another issue. Thanks!

[2017-09-25 18:17] #52203 closed

[2017-09-25 18:21] cjcullen opened #53011 "The kubernetes-dashboard addon does not contain the RBAC binding it needs"
Right now, if you run the dashboard addon (cluster/addons/dashboard/), you'll get 403s for all of the accesses. I'm guessing https://github.com/kubernetes/kubernetes/pull/46750 deleted the ClusterRoleBinding that it was implicitly depending on.

The dashboard yaml should include a dashboard-specific service account, along with a ClusterRoleBinding that grants it all of the (vast) powers it needs.

[2017-09-25 18:22] jamiehannaford commented on #40367
👍 for closing.

/cc @dims

[2017-09-25 18:30] shyamjvs commented on #51899
(As discussed on slack with @liggitt) Not sure if that's the best approach. The purpose of scale-testing is to validate the release and turning it off means we're not really validating it. We're trying to keep the config with which we're scale-testing as close as possible to the release defaults.

That said, I can live with the idea. However, it would be preferable then to also have it disabled by

[2017-09-25 18:38] liggitt commented on #51899
it defaults off in the non-test `config-default.sh file`

[2017-09-25 18:43] rpothier opened #53013 "Kubeadm should check for bridge-nf-call-ip6tables"
BUG REPORT

/kind bug

**What happened**:
Kubeadm checks that bridge-nf-call-iptables (IPv4) is set, but does not check for
bridge-nf-call-ip6tables (IPv6)

**What you expected to happen**:
If IPv6 is being used, then Kubeadm should check for bridge-nf-call-ip6tables

**How to reproduce it (as minimally and precisely as possible)**:
Just running Kubeadm, however it's only a problem when running IP

[2017-09-25 18:43] rpothier commented on #53013
/area ipv6
/area kubeadm

[2017-09-25 18:48] ericchiang commented on #42654
Going to close this issue.

Having shipped the old version of the oidc package in several releases, and hit lots of caveats with lots of providers, I don't think it's worth the risk of updating to the new version of the package. If there's an explicit reason we can do it in the future, but for now we'll continue to maintain the old version for Kubernetes' use.

/close

[2017-09-25 18:48] #42654 closed

[2017-09-25 18:50] grodrigues3 commented on #53007
@bowei fyi

[2017-09-25 18:57] MrHohn commented on #50274
Sent https://github.com/kubernetes/kubernetes/pull/53015 for 1.6 branch.

[2017-09-25 18:57] enisoc opened #53016 "kubelet/config unit test fails in release-1.6 bazel test"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-6/1501

[code]

/assign @yujuhong

Could you look at this or reassign someone? Thanks.

[2017-09-25 19:03] cmluciano commented on #52980
/sig gcp

[2017-09-25 19:05] spzala commented on #40222
@sjenning hello, the hack/update-munge-docs.sh file seems removed from the repo and so I believe we can close this issue? Thanks! /cc @thockin

[2017-09-25 19:17] jdumars commented on #53007
If this becomes a known issue, please track it here:  #53004

[2017-09-25 19:19] BenTheElder commented on #53016
/cc @ixdy

[2017-09-25 19:20] cmluciano commented on #52954
/sig federation

[2017-09-25 19:21] cmluciano commented on #52952
/sig cluster-ops

[2017-09-25 19:22] #40229 closed

[2017-09-25 19:25] rajatvikramsingh commented on #43800
@sree2005 I was getting the pre-flight warning that my machine IP was getting accessed through the proxy server:

 I solved it by adding \<machine IP\> to the no_proxy environment variable so that it is not accessed through the proxy, which you can generally do with the following command in your bash shell:

[code]

After changing the env variable I stopped getting the pre-flight warning and kubea

[2017-09-25 19:28] aveshagarwal commented on #51788
@jminter I am able to reproduce this on latest kube master, and here is an explanation, why this issue is happening:

When DS controller processes a pod template, the pod template does not have updated node selectors. Due to this, the controller creates pod for each node based on the node selectors (either empty or some value) in the pod template. Once pods are created for each node, they go throu

[2017-09-25 19:39] ixdy commented on #53016
well, this is fun - I can't get this to reproduce locally, even if I use bazel 0.5.2.

[2017-09-25 19:53] ixdy commented on #53016
also, this test used to pass - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49833/pull-kubernetes-bazel/33226/?log#log

[2017-09-25 20:14] aveshagarwal commented on #42002
@k82cn I am not sure if this has been discussed. How will the scenario, where a DS' pod's node selector is updated in an admission plugin like PodNodeSelector, be handled? See this issue https://github.com/kubernetes/kubernetes/issues/51788

[2017-09-25 20:26] yujuhong commented on #53016
Strange. The test started failing in http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/periodic-kubernetes-bazel-test-1-6/1322/artifacts/
But there weren't any relevant change in https://github.com/kubernetes/kubernetes/compare/fc4902f588aca0...7093e81946f244

Also can't reproduce as @ixdy said.

[2017-09-25 20:29] spiffxp opened #53018 "v1.8.0 blocking test list"
The 1.8 release team would like to identify the list of tests we are using for go / no-go signal.  This umbrella issue is to gain consensus on (and link to PR's that help with):

- our decision to continue the trend of expecting tests to pass 3 times in a row for go / no-go signal, except for...
- tests we will be willing to relax this expectation (eg: upgrade tests, flaky tests, and long tests)
-

[2017-09-25 20:29] yujuhong commented on #53016
@ixdy has there been any change in the infra side that could've caused this?

[2017-09-25 20:30] spiffxp commented on #53018
@kubernetes/sig-cluster-lifecycle-test-failures @krzyzacy @luxas can you mention this issue in a PR to move the kubeadm jobs?

@kubernetes/sig-federation-test-failures @madhusudancs @csbell if you've got specific issues you're working to make sure the federation jobs are running again, please link here

[2017-09-25 20:37] filmil commented on #52511
Hm, I tested this claim on a GKE deployment and on [k8s-on-GCE][1] deployment.  In both cases, the k8s apiserver does not have access to service DNS names.

- Is your expectation that it would have such access? In that case are GKE and the k8s sample deployments exceptions?
- What does the deployment in which this *is* possible look like?

[1]: https://kubernetes.io/docs/getting-started-guides/gce

[2017-09-25 20:37] #40222 closed

[2017-09-25 20:55] caesarxuchao commented on #52865
cc @mml

[2017-09-25 20:57] pipejakob commented on #53018
I see two completely green runs on 9/22, followed by one that is still running. Is this an argument for adding the test to release-master-blocking? I thought we had gotten messaging from @jdumars during a SIG Cluster Lifecycle to keep the kubeadm e2e tests out of `release-master-blocking`, but that adding them to `1.8-blocking` was still fine.

I similarly see two green runs on 9/22, with the newe

[2017-09-25 20:59] luxas commented on #53018
@spiffxp as discussed on Slack, here's the breakdown of the jobs:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#periodic-kubeadm-gce-1.8 green, exactly the same as https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.8 which also is green

https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-1.7-on-1.8 tests deploying a v1.7 cluster with v1.8 kubeadm CLI, thi

[2017-09-25 21:00] caesarxuchao commented on #52909
cc @jpbetz

[2017-09-25 21:00] luxas commented on #53018
Ah, didn't see @pipejakob's comment, we basically say the same thing :wink:

[2017-09-25 21:12] shyamjvs commented on #51899
Update:
- Prod configs don't have audit logging enabled by default for 1.8, so we're going to skip scale-testing it for the release
- We're not cherrypicking @liggitt 's audit policy change to 1.8 as we're not scale-testing it anyway
- The scalability issue would be solved in 1.9 which is when we'll enable it for our testing (@tallclair / @crassirostris - Could one of you file an issue or add a TO

[2017-09-25 21:15] timothysc commented on #23349
You'll always be limited by the Pod CIDR range based on the networking solution chosen.  The changes are already there, they just need to be defaulted.

[2017-09-25 21:17] crassirostris opened #53020 "[audit] Restore audit logging in the scalability tests"
As a result of https://github.com/kubernetes/kubernetes/issues/51899, audit logging was disabled in the scalability tests by https://github.com/kubernetes/test-infra/pull/4720

After https://github.com/kubernetes/kubernetes/issues/53006 is fixed, those tests should again have audit logging enabled to verify the scalability of this feature.

/cc @tallclair

[2017-09-25 21:17] crassirostris commented on #51899
Filed an issue: https://github.com/kubernetes/kubernetes/issues/53020

[2017-09-25 21:17] dchen1107 commented on #47943
This is not a release blocker for 1.8 according to the analysis at https://github.com/kubernetes/kubernetes/issues/47943#issuecomment-330347721

[2017-09-25 21:21] caesarxuchao commented on #52979
I suspect that the ownerReference was removed by the kube-controller-manager after you changed the pod's label, because the label didn't match the stateful set's selector anymore. You can confirm that by checking the kube-apiserver log.

cc @kubernetes/sig-apps-misc for suggestion on what's the recommended way in your case.

[2017-09-25 21:23] shyamjvs commented on #51899
Kicked the 5k-performance job on CI with audit disabled. Expecting to have a green run (hopefully) by tomorrow.

[2017-09-25 21:24] jdumars commented on #53018
I believe the hope was to ensure it was passing/curated, even if not in release-master-blocking, which appears to have been the case.  I have been struggling to find the right balances with kubeadm, so forgive me if this has gone back and forth some.

Bottom line, if the test is reliable and giving us solid quality signal for the integration post-release, I am fine with it being blocking because i

[2017-09-25 21:32] shyamjvs opened #53021 "Master configs should be similar across kubemark and real cluster"
There are a few flags that are mismatching/missing across both setups. A notable e.g is audit-logging was not turned on for kubemark, but was for real cluster which didn't allow us to catch a serious scalability regression on kubemark (ref: https://github.com/kubernetes/kubernetes/issues/51899). Few other differences:
- admission plugins
- feature gates
- request timeout
- etcd-quorum-read
...

We

[2017-09-25 21:34] spzala commented on #40222
@sjenning thanks!

[2017-09-25 21:35] cblecker commented on #51646
@krzyzacy did this get resolved? I'm guessing so with https://github.com/kubernetes/test-infra/pull/4260

[2017-09-25 21:38] krzyzacy commented on #51646
For now, yes, for future, we'll need to have https://github.com/kubernetes/test-infra/issues/4472

/assign
/close

[2017-09-25 21:38] #51646 closed

[2017-09-25 21:38] MrHohn commented on #40063
@rvrignaud We've updated the default parameters to ensure at least 2 replicas when cluster has >= 2 nodes by https://github.com/kubernetes/kubernetes/pull/42065. Your clusters are using the old default parameters likely due to https://github.com/kubernetes/kubernetes/issues/45851 --- we don't update those params if cluster is upgraded from an older version.

For getting the latest default params f

[2017-09-25 21:42] spiffxp commented on #53018
@pipejakob @luxas ok, thanks for the feedback, between here and slack I have a better understanding

Given that gce-kubeadm-1.8 and periodic-gce-kubeadm-1.8 exercise the same code, how about we keep the higher-frequency periodic in -blocking, and drop the postsubmit?

IMO it's totally fine to move https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce to https://k8s-testgrid.appspot.co

[2017-09-25 21:49] enisoc commented on #52979
Are you sure it still happens if you only *add* a label to the Pod, without changing any existing labels? If @caesarxuchao's explanation is right, then adding a label that was never mentioned in the original StatefulSet spec should not cause the ownerRef to disappear.

I think this technique should work as long as you're careful with your StatefulSet selector. For example, if you intend to change

[2017-09-25 21:50] #51284 closed

[2017-09-25 21:50] #52454 closed

[2017-09-25 21:50] #35613 closed

[2017-09-25 21:57] krmayankk commented on #44339
when moving from 1.5.3 to 1.7 , it seems the annotations for not affinity stopped working. i see they are set in Deployment in the annotations and the pod template but they are copied to pod template  explicitly. Is there a thing we need to do to make it work @davidopp  ?

[2017-09-25 22:04] bamb00 opened #53022 "Kubernetes create symlink /var/log/containers for /var/log/pods/.../*.logs normally is /var/lib/docker/containers"
**What happened**:
The symlink /var/log/containers created by Kubernetes is for /var/lib/docker/containers prior to docker 1.12.5.  In 1.12.6 the path /var/lib/docker/container is replace by /var/log/pods/UID.../*logs.

**What you expected to happen**:
/var/log/containers symlink to /var/lib/docker/containers

**How to reproduce it (as minimally and precisely as possible)**:
- Install docker 1.12.

[2017-09-25 22:17] smarterclayton commented on #53021
You don't have etcd quorum read on?

Oh dear...

On Mon, Sep 25, 2017 at 5:33 PM, Shyam JVS <notifications@github.com> wrote:

[2017-09-25 22:22] guoshimin opened #53023 "daemonset wrongly reports unavailable pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
kubectl rollout status on a daemonset sometimes is stuck forever. The daemonset's status reports unavailable pods even when all pods are running and ready.

[code]
Here's the status section of the daemonset:
[code]

Here's the status sections of the pods:
[code]

[code]

[code]

**What you expected to happen**:
kubectl ro

[2017-09-25 22:25] guoshimin commented on #53023
/sig apps

[2017-09-25 22:40] MrHohn commented on #50274
Both fixes are merged, I will observe the upgrade suites a bit longer before closing.

[2017-09-25 22:50] #52750 closed

[2017-09-25 23:09] liggitt commented on #53011
The current release of the dashboard actually supports running with limited power and having the user log in with an api token

[2017-09-25 23:12] mtaufen opened #53024 "Specifying feature gates as a string of key-value pairs in ComponentConfig structures is awkward"
Currently, feature gates are specified as a string of key-value pairs, e.g. `"a=true,b=false,c=true"`.

This makes sense as a command-line flag, but is awkward in JSON or YAML, which provide natural syntax for expressing a map structure. We should use `map[string]bool` on ComponentConfig structures and allow feature gates to be loaded from this map, rather than from parsing the string of key-value

[2017-09-25 23:33] champtar commented on #30189
@wojtek-t is talking about watch based configmap / secrets update here https://github.com/kubernetes/kubernetes/pull/46470#issuecomment-305094034
Any news about that?
Is there any way to force a config map sync today (k8s 1.7)?

[2017-09-25 23:40] jcbsmpsn opened #53027 "Clean up old versions of rotated keys"
/kind feature

When a cluster is configured with certificate rotation enabled on the kubelet, it creates new keys and gets an associated certificate before the certificate expires. The new key/cert pair are written to written to the directory specified by `--cert-dir=`. The files containing the key/cert pair are named using the date and time rather than replaced, so old versions of the files accum

[2017-09-25 23:40] jcbsmpsn commented on #53027
/sig auth

[2017-09-25 23:40] jcbsmpsn commented on #53027
/assign jcbsmpsn@

[2017-09-25 23:46] jcbsmpsn commented on #53027
/assign @jcbsmpsn

[2017-09-26 00:13] ericchiang commented on #47820
We're starting to evaluate which test results should be removing from our release-blocking tests for 1.8 https://github.com/kubernetes/kubernetes/issues/53018

https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew

The network partition tests have been red for the entire 1.8 cycle, and we even released 1.7 in the same state. I'm going to propose that we remove this issue from the 1.8 milestone

[2017-09-26 00:17] jdumars commented on #53007
@justinsb does this still need to be in the 1.8 milestone, or can I move it to 1.9?

[2017-09-26 00:24] foxish commented on #47820
These appear to have gone red on the 18th around a week ago. (https://k8s-testgrid.appspot.com/release-1.8-all#gce-1.7-1.8-upgrade-master&include-filter-by-regex=Pods%20should%20return%20to%20running%20and%20ready%20state). I think they were green mostly before that.

[2017-09-26 00:24] ixdy commented on #53016
There were quite a few changes in test-infra over that span: https://github.com/kubernetes/test-infra/compare/a9e415c3b...48217f8e2

though nothing that looks super suspicious.

[2017-09-26 00:31] caseydavenport commented on #53007
FYI @dcbw

[2017-09-26 00:36] foxish commented on #47820
The failures appear to be correlated with a certain test-infra change - https://github.com/kubernetes/test-infra/compare/815c71336...f2361a2da
PTAL @krzyzacy

[2017-09-26 00:38] krzyzacy commented on #47820
https://github.com/kubernetes/test-infra/pull/4621

before that the upgrade did not happen, so you cannot count on those results. cc @krousey

[2017-09-26 00:42] pmorie opened #53029 "Should there be an ObjectSemanticDiff method?"
I was recently debugging a failure in the unstructured serialization test for the service-catalog API and realized after some confusion that `ObjectReflectDiff` doesn't implement the same algorithm as `Semantic.DeepEqual`.  I wonder whether there should be a semantic diff method that won't leave you confused about seeing stuff like this:

[code]

/sig apimachinery

[2017-09-26 00:49] justinsb commented on #53007
@jdumars up to you ... personally I think we should wait for the list of important changes, because at least we should document the recommend CNI version (0799f5732f2a11b329d9e3d51b9c8f2e3759f2ff) and make clear that hostPort remains unsupported, but I also just don't know what else is in there.   The promiscuous thing seems odd if the comment is accurate, in that we moved the code from kubelet to

[2017-09-26 00:52] foxish commented on #47820
Had a conversation with @krzyzacy. @ericchiang, that should be fine - the failures appear to be due to test setup issues.

[2017-09-26 01:00] k82cn commented on #42002
@aveshagarwal , nop, I think there's no finial decision for now; maybe we can continue the discuss in 1.9. According to the [sig-apps backlog](https://docs.google.com/spreadsheets/d/1OoQtEFutS8vNhJtFpybBe5bklYkD-9alsaLTwNd_wzA/edit#gid=0), maybe @erictune have some suggestion to move forward :).

[2017-09-26 01:10] guangxuli commented on #52141
@wzhliang hi, sorry, a bit overloaded these days, i will check this issue today, please feel free to contact me if any guys have a quickly shot on this.

[2017-09-26 01:24] tallclair opened #53032 "GCE-specific addons & manifests"
GCE & GKE currently rely on the cluster bringup defined in the `cluster/gce` directory, but there isn't a good way of deploying GCE specific manifests. Currently the 2 approaches are, put it in `/cluster/addons`, which implies it should be generally useful (not GCE specific), or it is synthesized by one of the bash scripts in `cluster/gce`.

[2017-09-26 01:55] zjj2wry commented on #50905
/assign

[2017-09-26 01:55] choury commented on #52331
@justinsb Yes, we got this error  with a version older than 0799f5732f2a11b329d9e3d51b9c8f2e3759f2ff, and I didn't use an install tool.

[2017-09-26 03:04] mengjieli0726 opened #53036 "The api server container can't start as static pod after modify the service-node-port-range=30000-60000"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 bug

**What happened**:
The api server can't start as static pod.
**What you expected to happen**:
After modify api server configuration (service-node-port-range=30000-60000) in json file, api server can't start normally.
**How to reproduce it (as minimally and precisely as possible)**:

1.  Modify the api server  configures data in  api server json

[2017-09-26 03:06] hzxuzhonghu commented on #53027
/assign

[2017-09-26 03:07] hzxuzhonghu commented on #53027
I would like work to delete old certificates.

[2017-09-26 04:01] msau42 commented on #51431
Here's an idea I have to solve this.  The end goals are:
* Every new disk should be a new PV, even if the path and the node name are the same.
* Old/stale PVs cannot be mounted and should be marked with an unhealthy state.
* Users can specify how they want to handle that unhealthy state.

In the plugin:
1.  Add a new UID field to the LocalVolumeSpec.
    1. For filesystem volumes, it's going to be

[2017-09-26 04:21] kow3ns commented on #52979
@cartmanume Is there any chance that you could post the following please?
1. The statefulset selector specification
1. The pods labels prior to the edit
1. The pods labels after the edit

[2017-09-26 04:59] mbohlool commented on #53004
https://github.com/kubernetes/minikube/issues/1996

[2017-09-26 06:03] surajssd commented on #52939
@yujuhong thanks for the pointers, so this seems to be working on the latest Kubernetes!

[2017-09-26 06:03] #52939 closed

[2017-09-26 06:08] wzhliang commented on #52141
thanks @guangxuli

[2017-09-26 06:21] WanLinghao opened #53040 "`kubectl set` commands on ReplicaSet and DaemonSet occasionally return version registration errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
create  a ReplicaSet then change its image by kubectl set image command. It returns an error ocassionally like
error: replicasets/gakki-replicaset no kind "ReplicaSet" is registered for version "apps/v1beta1"

**What you expected to happen**:
image changes without error
**How to reproduce it (as minimally and precisely as

[2017-09-26 06:21] cartmanume commented on #52979
Thanks for the quick support everyone. @enisoc pointed me to the solution, I was not aware of the selector in the StatefulSet, maybe too lazy to read the whole docs...

[2017-09-26 06:21] #52979 closed

[2017-09-26 06:37] hzxuzhonghu commented on #53006
Naturally， os will cache `write to disk data`, these cached data will be written to disk either by fsync or pdflush periodically. @tallclair What do you think is the most  time-costing procedure in audit?

[2017-09-26 07:20] dixudx commented on #53036
I don't think it is a bug. All works well locally.

[code]

[2017-09-26 07:39] Jacobh2 commented on #52462
@yujuhong I filtered out all the containers that did not match on "kube-proxy" and ended up with these:
[code]

[2017-09-26 07:49] r7vme commented on #51835
@igorleao how do you run kubelet? in container? if so can you please post your systemd unit or docker config for kubelet?

We see similar behaviour. We run kubelet as container and problem was partially mitigated by mounting `/var/lib/kubelet` as shared (by default docker mounts volume as rslave). But still we see similar issues, but less frequent. Currently i suspect that some other mounts should

[2017-09-26 08:03] #45843 closed

[2017-09-26 08:04] #47285 closed

[2017-09-26 08:21] crassirostris commented on #53006
The problem is not with the time consumed. The problem is that currently write is performed synchronously with processing the request, which slows the request down

[2017-09-26 08:24] dixudx commented on #53040
@WanLinghao Would you please run `kubectl get nodes` to verify the kubelet version.

[2017-09-26 08:25] andyzhangx commented on #52419
It's related to the docker bug:
Unable to read a symlink in a mounted volume from inside a Windows Container (https://github.com/moby/moby/issues/28401)

[2017-09-26 08:29] WanLinghao commented on #53040
@dixudx
NAME      STATUS    ROLES     AGE       VERSION
node2     Ready     <none>    21d       v1.9.0-alpha.0.721+1a44e26670c9ce
node3     Ready     <none>    21d       v1.9.0-alpha.0.721+1a44e26670c9ce

[2017-09-26 08:47] hzxuzhonghu commented on #53006
@crassirostris

Sure this way it does cost time serializing. Introduce buffer can really reduce api request latency time.

[2017-09-26 08:49] crassirostris commented on #53006
@hzxuzhonghu

It doesn't matter that much if it happens asynchronously

Indeed

[2017-09-26 08:50] hzxuzhonghu commented on #53006
Yes, this is a good point to improve performance.

[2017-09-26 08:54] resouer commented on #52462
It looks like the the initContainer `touch-lock` didn't even start? Have you tried to search `touch-lock` in `kubelet.log` to see what happened to it?

[2017-09-26 09:03] k82cn commented on #49630
A really simple demo here: https://youtu.be/h1HfdqW2J6E , just first step :).

[2017-09-26 09:27] hzxuzhonghu commented on #53006
Now I totally comprehend this.  I am pleased to implement this buffer. @crassirostris @tallclair

[2017-09-26 10:03] crassirostris commented on #53022
/sig node

This is WAI, see the [CRI log management proposal](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/node/kubelet-cri-logging.md). `/var/log/containers/` is going to be deprecated in the future

[2017-09-26 10:03] #53022 closed

[2017-09-26 10:10] gmarek commented on #53021
We don't have etcd quorum read on?! I can only quote Clayton: Oh dear...

[2017-09-26 10:12] gmarek commented on #53021
OK - I asked @mborsz about that and in HA cluster we do enable quorum reads.

[2017-09-26 10:36] shyamjvs commented on #53021
We seem to have etcd quorum reads turned off by default for real cluster (i.e. in [config-test.sh](https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-test.sh#L91)) - and for kubemark we're not specifying the flag (which fwiu also defaults to false). So at least they're the same.

@smarterclayton Should I change the default to true for both? Also given that we're using single e

[2017-09-26 10:46] shyamjvs commented on #53021
Btw - I can't find any non-gke jobs on our CI which have `ENABLE_ETCD_QUORUM_READ=true`.

[2017-09-26 11:13] WanLinghao commented on #53040
@dixudx  did you get same error?

[2017-09-26 11:13] zjj2wry commented on #53040
/sig cli

[2017-09-26 11:37] knagware9 commented on #52852
Ok Thanks....It seems issue with my application ,,same issue I am facing in local enviroment..:)

[2017-09-26 11:43] gmarek commented on #53021
Quorum read in single-master setups doesn't change anything (as there's no quorum).

[2017-09-26 11:55] lichuqiang commented on #53040
@WanLinghao the bug seems has nothing todo with version. It could be easily reproduced with current code from master branch.

[2017-09-26 12:01] WanLinghao commented on #53040
@lichuqiang  I mean the ReplicaSet register process in api-server, not the K8s version.

[2017-09-26 12:05] WanLinghao commented on #53040
@janetkuo  maybe it is related to your patch #49238  please take a look. thanks

[2017-09-26 12:29] pospispa commented on #45143
/kind security

[2017-09-26 12:32] jsafrane commented on #45143
Resuming an old thread..

A/D controller is not a good place for this. It can prevent from one RWO PV to be attached to multiple nodes but it has no way how to prevent from two pods using the same RWO PV on the same node. These two pods expect RWO and can corrupt data of each other.

[2017-09-26 12:36] jsafrane commented on #45143
Regarding finalizers, last time I checked they could be used to delay deletion of something, but they could not prevent it. IMO, when I delete an object with a finalizer, the object gets a grace period and it will be forcefully deleted after this period. The message to user is "hold on, we're working on deleting the object". So a PVC with a finalizer will be deleted even if there is a pod that use

[2017-09-26 12:36] pospispa commented on #45143
Please, let me re-phrase the bug description using Attacker and Victim wording.

1. Admin creates RWX PVs that are ready to be bound to newly created PVCs.
2. Attacker creates PVC1 that bounds to PV1.
3. Attacker creates a pod that uses the PVC1 so the PV1 is mounted to the attacker's pod.
4. The attacker's pod keeps running but the application in the pod is not actively using the mounted PV1.
5.

[2017-09-26 12:41] Jacobh2 commented on #52462
I'm not 100% sure which `kubelet.log` file you mean. If it is a file that should be present on the node, I do not find it under `/var/log/`.

My main concern is: How do I get rid of this pod/node to a healthy one? One idea is to set the node to a state where it won't accept new pods, scale my cluster up by 1 node, and then start to delete pods. My idea is that the replication-sets connected to tho

[2017-09-26 13:18] justinsb opened #53052 "Suspicious retry logic in azure_blobDiskController"
I was looking for examples of our exponential backoff usage, and found some suspicious code.

wait.ExponentialBackoff exits immediately if `err != nil || ok`
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/wait/wait.go#L203-L205

[code]

But in this loop, we always return `err != nil` || `ok`, so we will never retry.

https://github.com/kubernetes/kube

[2017-09-26 13:27] liggitt commented on #45143
That is not correct, finalizers block deletion.

https://github.com/kubernetes/kubernetes/blob/b188868fd929593a0fcf41a7ee2afe3e10b03c39/staging/src/k8s.io/apiserver/pkg/registry/generic/registry/store.go#L886-L889

However, nothing prevents a user with write permissions on a PVC from removing the finalizer. @caesarxuchao, this is why we needed to enforce addition/removal of finalizers.

No, a norm

[2017-09-26 13:34] jsafrane commented on #45143
Ack, they're hidden behind `kubectl get --show-all`.

Still, isn't it a bad UX? Kubectl should display an error that PVC can't be deleted because of something uses it. How is user supposed to know why it's not deleted?

[2017-09-26 13:40] aoe-mak commented on #30656
+1 please. Don´t want to use docker exec -u as a workaround anymore.

[2017-09-26 13:42] liggitt commented on #45143
issuing a delete call, setting a deletionTimestamp and persisting, *is* successful deletion initiation. the UX of things pending deletion could be improved, sure.

[2017-09-26 13:59] jdumars commented on #53007
@justinsb @caseydavenport @dcbw Ok, My inclination is to assume this will _not_ be blocking, but leave it in the 1.8 milestone anyway until tomorrow morning just so we have visibility.  If you work some wizardry that needs to go into 1.8, we'll assess urgency at that point.  Assume this will be work tackled in 1.8.x and 1.9, and if necessary, please wax poetic in the "known issues" issue #53004 so

[2017-09-26 14:02] kad opened #53055 "k8s.io/kubernetes/pkg/util/version Compare() function works incorrectly in case of prerelease builds."
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG

/kind bug

**What happened**:
In some scenarios, v1.Compare(v2) would return expected result  as v2.Compare(v1)
See example code below.

[code]

Notice specifically:
[code]
So, by return value in first case it means that versions equal.

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

Tes

[2017-09-26 14:03] jsafrane commented on #45143
[Namespace finalizer owners](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/architecture/namespaces.md#finalizers) start actively working on deleting stuff in a namespace that's being deleted. User knows it's going to be deleted eventually and it's rather quick in most cases. User can see progress and check what's blocking the deletion. That's what I would call "

[2017-09-26 14:13] smarterclayton commented on #53021
Not true - it changes how etcd responds to certain errors and failure
modes.  Etcd can lose quorum with a single member because the logic is the
same.  We found a lot of subtle changes between quorum mode and non-quorum
mode, most of which weren't impactful, but still matter.  I don't think you
can get stale reads, but it's not a zero impact.

I thought that kubeadm always set it to true but can't

[2017-09-26 14:14] liggitt commented on #45143
Yes, that's how finalizers work. Every finalizer listed in an object's metadata.finalizer should have an associated controller that is responsible for finalizing and then removing that finalizer name. That is why a normal user should not be able to add/remove things from that field.

[2017-09-26 14:34] dixudx commented on #53040
@WanLinghao I did reproduce this error. Please help re-verify whether #53056 fixed it. Thanks.

[2017-09-26 14:34] alok87 commented on #20876
@yujuhong yes it reoccured, couple of times for us under huge load. Not occurred very recently. We are on latest version 1.7.6

[2017-09-26 14:44] gnufied commented on #45143
Does that have to be some special controller? or any controller (say attach/detach) can watch for pod deletion events and remove finalizer from associated PVC objects?

[2017-09-26 14:49] liggitt commented on #45143
It should be a controller built specifically for that purpose. You could go a couple directions:
* wait until pods referenced by a pending-finalization PVC terminate on their own, then remove the finalizer from the PVC
* proactively delete pods that reference a pending-finalization PVC, and once they are deleted, remove the finalizer from the PVC

[2017-09-26 14:58] liggitt commented on #51899
for those following along at home, the test runs are at https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/

[2017-09-26 15:02] shyamjvs commented on #51899
Ok.. so the patch node status issue has been resolved with turning off audit-logging and the situation looks much better. However the delete pods showed trouble in the latest run:

[code]

[2017-09-26 15:02] shyamjvs commented on #51899
The logs are now being uploaded to GCS.. need to wait for a few minutes.

[2017-09-26 15:11] cmluciano commented on #52852
/close

Please reopen or repost on StackOverflow if you continue to have problems

[2017-09-26 15:11] #52852 closed

[2017-09-26 15:12] liggitt commented on #51899
what was delete pods at in the last healthy run (no. 23)?

[2017-09-26 15:23] shyamjvs commented on #51899
For run-23 it was 47.057ms from the [api-responsiveness logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/23/artifacts/APIResponsiveness_density_2017-08-26T03:49:45Z.json). For run-27 it was 558ms (taken from build-log as the api-responsiveness logs was missing):

[code]

We knew commit c04e516 was healthy from https://github.com/kubernetes/kubern

[2017-09-26 15:34] liggitt commented on #51899
The API call to delete a pod doesn't block on docker. I could see it taking longer for the node to shut down a pod, but not increase latency on the actual API calls.

No. That's controlled by `ENABLE_APISERVER_BASIC_AUDIT`, which defaults false.

[2017-09-26 15:42] diogo-reis opened #53059 "When a Pod with a PV is moved to another node stuck in ContainerCreating a long time"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

When i move a Pod with the expression "nodeSelector:" to another Node of the cluster Kubernetes the Pod waiting 8 minutes in the "ContainerCreating" status.

ERRORs:
`Warning		FailedAttachVolume	Multi-Attach error for volume "pvc-7ec40eec-949e-11e7-b96d-fa163ef575ff" Volume is already exclusively attached to one node an

[2017-09-26 15:47] shyamjvs commented on #51899
Makes sense. Unfortunately we missed the master logs due to some test-infra issue (cc @kubernetes/test-infra-maintainers @krzyzacy), which are supposed to be copied from the jenkins worker. I don't see the following calls for the build-log (which usually happen):

[code]

@liggitt One reason why I suspect this happened is because you enabled audit logs to also be copied (which are quite huge).

[2017-09-26 15:47] liggitt commented on #51899
auditing is disabled in this env :)

[2017-09-26 15:48] shyamjvs commented on #51899
Oh yeah.. there's absolutely no audit-logs at all.

[2017-09-26 15:50] mtaufen opened #53060 "Potential file leak"
`pkg/kubelet/kubeletconfig/util/files.ReplaceFile` doesn't call `Close()` when there is a write or sync error. This could result in a file leak. Thanks to @ash2k for recognizing this: https://github.com/kubernetes/kubernetes/pull/52119#discussion_r137916659

Fix in https://github.com/kubernetes/kubernetes/pull/52493

[2017-09-26 15:52] spiffxp opened #53061 "pull-kubernetes-e2e-kops-aws failing"
last good aws presubmit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53028/pull-kubernetes-e2e-kops-aws/50315

first bad: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50627/pull-kubernetes-e2e-kops-aws/50316

based on the infra commit changing between those two, https://github.com/kubernetes/test-infra/pull/4735 looks to be the culprit

FYI

[2017-09-26 15:55] shyamjvs commented on #51899
I'll change the CI job to run just the density test and rekick it. We should have sth in 3-4 hrs.

[2017-09-26 15:55] spiffxp commented on #53061
/priority failing-test

[2017-09-26 15:59] justinsb opened #53062 "Pod with PVC: mount should be retried"
Kubernetes 1.6.2, this may have been fixed since:

I had a prometheus setup from helm.  The main server pod has 3 containers, one of which is bound to a PVC, the other two are not.  The mount of the PVC timed out, because the volume was attached to another instance (and a separate issue about the sleep command not responding to a signal).  But then the pod got "stuck" with 2/3 containers running.

[2017-09-26 16:00] definitelyuncertain opened #53063 "Pod Security Policy does not prevent pods from running as root"
@kubernetes/sig-api-machinery-bugs

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I implement the basic PSP given [here](https://docs.bitnami.com/kubernetes/how-to/secure-kubernetes-cluster-psp/#case-1-prevent-pods-from-running-with-root-privileges), and then run a container that explicitly asks for root privileges as given in the same link, it executes successf

[2017-09-26 16:09] spiffxp commented on #53061
Actually this may be hitting all kops-aws jobs?
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=kops-aws

The ones I care about as a release team member right now are:
- https://k8s-testgrid.appspot.com/kubernetes-presubmits#pull-kubernetes-e2e-kops-aws
- https://k8s-testgrid.appspot.com/release-1.8-blocking#kops-aws-1.8
- https://k8s-testgrid.appspot.com/release-master-bl

[2017-09-26 16:17] mikedanese commented on #50115
https://github.com/kubernetes/community/pull/911 is related to this.

[2017-09-26 16:22] mikedanese commented on #50635
depends on https://github.com/kubernetes/community/pull/911

[2017-09-26 16:31] diogo-reis commented on #53059
/sig storage
cc @kubernetes/sig-storage-bugs

[2017-09-26 16:34] diogo-reis commented on #53059
/sig openstack

[2017-09-26 16:47] britthouser commented on #30656
+1 - kubectl exec is such a massive time saver over docker exec, that it makes me cry everytime I have to revert back to docker exec to specify the user.

[2017-09-26 16:48] ericchiang commented on #53018
I would like to make the network partition upgrade tests as non-blocking for 1.8

https://github.com/kubernetes/kubernetes/issues/47820#issuecomment-332048833

[2017-09-26 16:51] ericchiang commented on #53004
Audit logs can impact API server performance https://github.com/kubernetes/kubernetes/issues/51899

[2017-09-26 16:53] liggitt commented on #30656
considerations:
* uid would need to be part of the exec interface for CRI, and all runtimes would need to support it
* would need to figure out what the authorization check would be w.r.t. pod security policy restrictions on uids

[2017-09-26 16:54] MrHohn commented on #50274
Test is passing now (on both 1.7->1.8 and 1.6->1.8, gce and gke). Closing this issue.

/close

[2017-09-26 16:54] #50274 closed

[2017-09-26 16:55] ericchiang commented on #53018
It was also requested that the stateful set failures not be marked release blocking https://github.com/kubernetes/kubernetes/issues/52808#issuecomment-331311989

[2017-09-26 16:56] ericchiang commented on #52808
Can someone please submit PRs to skip these tests if they're not release blocking? Having tests that we expect to fail produces a lot of overhead trying to capture branch healthiness. cc @kubernetes/sig-apps-test-failures

[2017-09-26 17:01] spiffxp commented on #53018
@ericchiang there is one network partition test I didn't see explicitly called out in #47820 that I haven't marked as non-blocking yet, just since I haven't yet had time to see if that fails for the same reasons as the others; it fails in some upgrade tests where the others don't show up

done (I regret having done this as a github issue, a spreadsheet would've been better, oh well)

[2017-09-26 17:08] liggitt commented on #53061
possible cause - https://github.com/kubernetes/test-infra/pull/4735/files#diff-1348bfba2403286944b343e21e901c14R412

[2017-09-26 17:10] liggitt commented on #53063
some questions:
* are you enabling the PodSecurityPolicy admission plugin?
* what does the pod manifest in the API look like when the pod is running?

[2017-09-26 17:22] Bradamant3 commented on #53004
Do y'all want the writers to add these to the release notes? Or are others shepherding release note content? (The audio discussion in burndown meeting was pretty garbled on my end.)

[2017-09-26 17:25] BenTheElder commented on #53061
https://github.com/kubernetes/test-infra/pull/4749

[2017-09-26 17:26] bamb00 commented on #53022
OK.  I see the proposal to improve kubectl logs usage.  That's down the road.  I need help or understand why the current symlink /var/log/containers is pointing to /var/log/pods/pod_UID/*.logs is also a symlink to /var/lib/docker/containers/...

Is this permanent until the /var/log/containers is replace by /var/log/pods?

[2017-09-26 17:31] yujuhong commented on #20876
@alok87 are you using the GCP+CVM image? If so, you may want to move to an image with a newer kernel. The CVM image has been deprecated

[2017-09-26 17:35] ericchiang opened #53066 "[downgrade test failure] SchedulerPredicates [Serial] validates resource limits of pods that are allowed to run [Conformance]"
cc @kubernetes/sig-scheduling-test-failures
cc @kubernetes/kubernetes-release-managers

Seeing a failure on our downgrade test. Can someone please look at this?

https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew#gke-1.8-1.7-downgrade-cluster

Example failure https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-stable1-gci-stable2-downgrade-cluster/20#k

[2017-09-26 17:36] ericchiang commented on #53066
Since we're so late in the release process and this is the first time we're seeing this fail, going to mark as non-release-blocking for now.

[2017-09-26 17:40] #53062 closed

[2017-09-26 17:41] justinsb commented on #53062
I think this was my fault - I think it was mounting the PVC, but the health check was failing.  I may add a "success" message if nobody has already done this :-)

[2017-09-26 17:45] spiffxp commented on #53066
It fails in more places than just the downgrade job, but when the downgrade job fails that test, that timeout appears to be the consistent error that it fails with
https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=validates%20resource%20limits%20of%20pods%20that%20are%20allowed%20to%20run

[2017-09-26 17:49] definitelyuncertain commented on #53063
I looked around to see if I had to do anything and based on [this](http://cloudgeekz.com/1293/kube-dev-environment-modification.html) and [this](https://github.com/kubernetes/kubernetes/issues/15968), I tried

    export KUBE_RUNTIME_CONFIG="extensions/v1beta1/podsecuritypolicy=true"

I guessed if at all it has to be enabled, this would do it, but it still doesn't work. Should I have enabled it el

[2017-09-26 17:54] crassirostris commented on #53022
Because this is how Kubelet is implemented :) Do you have some problems with that? If so, please describe them

Eventually -- yes, to the configuration and to https://github.com/fabric8io/fluent-plugin-kubernetes_metadata_filter

[2017-09-26 18:03] liggitt commented on #53063
That enables the API objects, but does not enable the admission plugin. You must set the apiserver `--admission-control=...,PodSecurityPolicy,...` flag

[2017-09-26 18:07] definitelyuncertain commented on #53063
I'm supposed to set this in `/etc/kubernetes/manifests/kube-apiserver.json` if I understand correctly, but that isn't present as I mentioned before. Is there any other way I can set it? `kubeadm` also doesn't take this as an argument apparently.

[2017-09-26 18:10] liggitt commented on #53063
in the apiserver manifest kubeadm generates, there should be an arg like `--admission-control=Initializers,NamespaceLifecycle,LimitRanger,ServiceAccount,PersistentVolumeLabel,DefaultStorageClass,DefaultTolerationSeconds,NodeRestriction,ResourceQuota`

modifying that to include PodSecurityPolicy (probably just before ResourceQuota) should enable it

[2017-09-26 18:10] #53063 closed

[2017-09-26 18:12] #48282 closed

[2017-09-26 18:13] mikedanese commented on #48282
This issue is obsolete. Let's open a new one if we still see this.

[2017-09-26 18:16] janetkuo commented on #53040
I saw the same `kubectl set image` error for apps.DaemonSet. These resources were both just bumped to apps from extensions in 1.8.

[2017-09-26 18:30] BenTheElder commented on #53061
Current failures appear to be unrelated and there is plenty of green.
/close

[2017-09-26 18:30] #53061 closed

[2017-09-26 18:55] janetkuo commented on #53040
kubectl set image error comes from https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/set/helper.go#L131

[2017-09-26 19:03] xiangpengzhao commented on #50274
Awesome!

[2017-09-26 19:07] jdumars commented on #53018
@spiffxp live by GitHub.  Die by GitHub.

[2017-09-26 19:16] gnufied opened #53073 "Expand volume metric e2e test"
We should capture mount/unmount metrics, volume delete metrics as well.

/sig storage

[2017-09-26 19:17] gnufied commented on #53073
/assign

[2017-09-26 19:17] crimsonfaith91 commented on #52808
/assign

[2017-09-26 19:17] crimsonfaith91 commented on #52808
@ericchiang I will do it.

[2017-09-26 19:28] derekwaynecarr opened #53074 "Align imagefs eviction defaults with image gc defaults"
**What happened**:
if a node is configured with separate imagefs for container storage, eviction thresholds should align with image gc high threshold.  image-gc high threshold is 85% and imagefs.available eviction should be < 15% to match.

[2017-09-26 19:32] #51418 closed

[2017-09-26 19:32] #50945 closed

[2017-09-26 19:55] mengqiy commented on #53040
Then you will need to update func UpdatePodSpecForObject in your PR.
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory_client_access.go#L236

[2017-09-26 20:05] ludwick commented on #47937
So, I've tried to deleting my schema directory (as suggested) but I get this error if I literally export a deployment then try to apply it:

[code]

I don't even know where to begin debugging this and I'm pretty wary of turning off validation, for obvious reasons. Considering I've deleted the local schema directory and let the client re-create it, surely this couldn't be caused by a stale schema,

[2017-09-26 20:20] derekwaynecarr commented on #49630
@k82cn -- cool demo.  since this will be pursued as a layer above quota, any objecting to close of issue?

[2017-09-26 20:26] dwatrous opened #53077 "kubectl impersonate (--as) doesn't work correctly over HTTP or localhost"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[code]

**What you expected to happen**:
[code]

If the API can't/won't perform impersonation over HTTP or localhost (not sure which) then the client should indicate that rather than print "yes" to the impersonation request. Right now it appears that the impersonation worked and the user does have access, but it's an incor

[2017-09-26 20:37] janetkuo commented on #53040
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory_client_access.go#L236

That function checks internal version of resources.  Internal version DaemonSet and ReplicaSet are both in extensions (not apps).

[2017-09-26 20:51] janetkuo commented on #53040
Also the error is not from `UpdatePodSpecForObject`.

[2017-09-26 21:02] lblackstone opened #53078 "openstack: Service LoadBalancer no longer defaults to external"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Creating a service with `type: LoadBalancer` created a load balancer without a floating IP.

**What you expected to happen**:
Load balancer should have a floating IP assigned by default.

**How to reproduce it (as minimally and precisely as possible)**:
[code]
Deploy this manifest on a `1.8.0-rc.1` cluster and check the re

[2017-09-26 21:03] lblackstone commented on #53078
/sig openstack

[2017-09-26 21:07] janetkuo commented on #53040
The error comes from runtime.Encode:

https://github.com/kubernetes/kubernetes/blob/30f015a6fc13979193a6105890ce91ace651eb5c/pkg/kubectl/cmd/set/set_image.go#L227-L229

[2017-09-26 21:13] jennybuckley opened #53079 "PodPreset Feature Tests Consistently Causing ci-kubernetes-e2e-gci-gce-alpha-features to Fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: [ci-kubernetes-e2e-gci-gce-alpha-features](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-alpha-features/) is consistently failing because of PodPreset feature tests, which require settings/v1alpha1, which is no longer enabled by default
[code]

**What you expected to happen**:

[2017-09-26 21:14] janetkuo commented on #53040
@kubernetes/sig-cli-bugs

[2017-09-26 21:14] jennybuckley commented on #53079
/sig service-catalog

[2017-09-26 21:15] pankajsaha opened #53081 "ps -a"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-09-26 21:15] thedch commented on #36222
I'm also seeing this issue in kube 1.7. During the past few days I have edited a configmap ~110 times, and seen the formatting get destroyed (spaces messed up, `\n` characters visible) twice. I can't determine anything specific that I did in those two edits that would have triggered the formatting messup.

[2017-09-26 21:16] #53081 closed

[2017-09-26 21:23] krzyzacy commented on #52927
@ncdc that's greened now, thanks for the pro tip!

/close

[2017-09-26 21:23] #52927 closed

[2017-09-26 21:28] gnufied opened #53082 "Add e2e tests for volume resizing"
We need e2e test for controller based resizing as we move forward with implementation in 1.9 .

/sig storage

[2017-09-26 21:28] gnufied commented on #53082
/assign

[2017-09-26 21:33] crassirostris commented on #53006
@hzxuzhonghu

I'll be happy to review that

[2017-09-26 21:37] spiffxp commented on #53018
Thanks to https://github.com/kubernetes/test-infra/pull/4727 we can probably rely on kubectl-skew tests, I'll update the list of upgrade tests to include the serial tests and whether they're worth paying attention to

[2017-09-26 21:41] bsalamat commented on #50916
@julia-stripe I would like to help investigate this issue. Given the sequence of events, a race condition between the two API servers could be the cause, but it is hard to tell without further investigation. The fact that it is happening kind of frequently in your cluster is a good thing for debugging. We can try a couple of scenarios, for example running a single API server if possible, or perhap

[2017-09-26 21:46] #45434 closed

[2017-09-26 21:46] #45458 closed

[2017-09-26 21:48] #47297 closed

[2017-09-26 21:48] #47696 closed

[2017-09-26 21:48] #47825 closed

[2017-09-26 21:48] #47826 closed

[2017-09-26 21:48] #47873 closed

[2017-09-26 21:48] #47874 closed

[2017-09-26 21:49] #48166 closed

[2017-09-26 21:49] #48223 closed

[2017-09-26 21:54] montanaflynn commented on #43279
On google container engine I also got two pods that are stuck in Unknown status:

[code]

The other pods of the same deployment are all Running.

Any commands I could run to help debug?

[2017-09-26 21:57] montanaflynn commented on #43279
`kubectl logs` hangs until responding with this error:

[code]

`kubectl exec` hangs for quite awhile before I manually killed the process.

[2017-09-26 22:06] yguo0905 opened #53083 "Consume ImageFS stats from StatsProvider in ImageGCManager"
`ImageGCManager` currently uses the ImageFS stats from cadvisor during image garbage collection. This will not work for containerd, where such stats are provided via CRI instead of cadvisor. We should change the `ImageGCManager` to get the stats from the `StatsProvider`, which abstracts away of cadvisor stats vs CRI stats.

/sig node
/assign
/cc @Random-Liu

[2017-09-26 22:29] lblackstone commented on #53078
@kubernetes/sig-openstack-bugs

[2017-09-26 22:30] mtaufen opened #53084 "Graduate the kubeletconfig API to beta"
Goal is to hit beta in 1.10, wrt https://github.com/kubernetes/features/issues/281

[2017-09-26 22:34] shyamjvs commented on #51899
Seems like the current run is also going to likely fail, as I see the following latency for delete pod calls (in μs):

[code]

From the traces, the only step printed (taking almost all the time) is:

[code]

And that trace seems to correspond to this part of code:
https://github.com/kubernetes/kubernetes/blob/a3ab97b7f395e1abd2d954cd9ada0386629d0411/staging/src/k8s.io/apiserver/pkg/endpoints/handl

[2017-09-26 22:36] shyamjvs commented on #51899
I've added some extra traces in https://github.com/kubernetes/kubernetes/pull/52543 - but I guess I should've added them for after the step instead of before the step (as we're not getting enough info from the current trace of which sub-part above it took maximum time).

[2017-09-26 22:37] spiffxp commented on #53018
https://github.com/kubernetes/test-infra/pull/4749 fixed [#53061](https://github.com/kubernetes/kubernetes/issues/53061) which means kops-aws-1.8 is usable as a blocking job

[2017-09-26 22:42] fejta-bot opened #53086 "Failure cluster [e837dd...] failed 127 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [e837dd3125a9f2e0cf97](https://go.k8s.io/triage#e837dd3125a9f2e0cf97)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    127 builds failed.
Failure stats cover 1 day time range '25 Sep 2017 21:04 UTC' to '26 Sep 2017 21:04 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Up | 2 |

##### Top fa

[2017-09-26 22:42] fejta-bot opened #53087 "Failure cluster [3c8fc4...] failed 34 builds, 1 jobs, and 1 tests over 1 days"
### Failure cluster [3c8fc4181f831cba92a0](https://go.k8s.io/triage#3c8fc4181f831cba92a0)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    1 jobs failed,    34 builds failed.
Failure stats cover 1 day time range '25 Sep 2017 21:04 UTC' to '26 Sep 2017 21:04 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Kubemark MasterLogDump

[2017-09-26 22:49] Surya361 opened #53089 "Pods cannot communicate with service cluster IP mode iptables with macvlan"
/kind bug
/kind feature

**What happened**:
Networking: cni with macvlan
The pods which are deployed are not able to communicate with any service virtual ips, because macvlans dont go through the host system iptables chain rules, which applies DNAT in case of iptables proxy
**What you expected to happen**:
The iptables list should somehow be injected to the macvlan slave interfaces too
**How to re

[2017-09-26 22:51] #53060 closed

[2017-09-26 22:53] spiffxp opened #53091 "[node-e2e flake] [k8s.io] Security Context when creating a pod in the host network namespace should listen on same port in the host network containers"
Failure cluster: https://go.k8s.io/triage#22616c08c9151a6157a1

[code]

This is the most prevalent flake for release-blocking postsubmit kubelet builds, eg:
- [kubelet](https://k8s-testgrid.appspot.com/release-master-blocking#kubelet&exclude-non-failed-tests=&sort-by-flakiness=&width=20)
- [kubelet-1.8](https://k8s-testgrid.appspot.com/release-1.8-blocking#kubelet-1.8&exclude-non-failed-tests=&sor

[2017-09-26 22:54] spiffxp commented on #53091
/kind flake
/priority test-failure

[2017-09-26 22:55] itowlson commented on #53052
That does look suspicious.  What's the expected return of a retryable function (ConditionFunc)?  `(true, nil)` for 'succeeded', `(false, err)` for 'fatal error, do not retry' and `(false, nil)` for 'retryable error, let the retry policy decide whether to try again' (and it's up to the retryable function to log such errors as it encounters them rather than propagating the last error to its caller)?

[2017-09-26 22:56] Surya361 commented on #53089
@kubernetes/sig-network-bugs
/sig network

[2017-09-26 22:57] yujuhong commented on #53091
@feiskyer could you take a look?
/assign @feiskyer

[2017-09-26 23:14] spiffxp commented on #53018
tl;dr I think we have relatively good signal on the release-1.8-blocking board, though it may not be totally green by the time we cut; release-1.8-upgrade-skew board will require more human interpretation, but no wildly unexpected failures thus far

I'm going to try converting this into something easier for human consumption and updating, but too late for east coast consumption today.  It might ha

[2017-09-26 23:32] janetkuo commented on #53040
This needs to be fixed in 1.8, but should not block the release. Will add this to the known issues list in release note.

[2017-09-26 23:35] janetkuo commented on #53004
`kubectl set image` on ReplicaSet and DaemonSet occasionally returns version errors #53040

[2017-09-26 23:50] yujuhong commented on #53083
It's too close to the release. I don't think we can get this fixed for 1.8.1.
We should target this for 1.8.1 though.

[2017-09-26 23:59] sunao-uehara commented on #52817
PING

[2017-09-27 00:08] FengyunPan commented on #53078
Oops, default should be external.
/assign

[2017-09-27 00:21] MrHohn commented on #52462
@Jacobh2 Regarding the logs, you may need to use `journalctl`. Could you try `journalctl -u kubelet`?

Ref: https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/

[2017-09-27 00:21] krzyzacy commented on #53086
https://github.com/kubernetes/test-infra/pull/4749
/assign
/close

[2017-09-27 00:21] #53086 closed

[2017-09-27 00:47] yujuhong commented on #52462
@Jacobh2 could you check the `touch-lock` as @resouer suggested? My guess is the init container was run and *removed* by someone (e.g., kubelet). I'd like to confirm that.
We *might* be able to figure out who (and under what circumstances) removed the init container by looking at the logs.
One possibility is that kubelet aggressively removed the exited init container to reclaim the resource. @dash

[2017-09-27 00:47] justinsb commented on #53052
Your description sounds right.  The pattern seems to be to log the error in the `false,nil` case.   Some other callers seem to stash the error for future use, but most simply return timeout on a timeout (not the "real" error, hence the need to log it).   It's a pretty caller hostile API, IMO :-)

[2017-09-27 00:53] mengqiy commented on #53040
Thanks Janet for debugging this.

From https://github.com/kubernetes/kubernetes/blob/30f015a6fc13979193a6105890ce91ace651eb5c/pkg/kubectl/cmd/set/set_image.go#L227-L229, it is not clear to me why it is intermittent. It should always fails, shouldn't it?

[2017-09-27 00:55] bsalamat commented on #53066
/assign

I looked at the logs. The test creates a few pods to saturate the existing nodes and then creates an additional pod and ensures that this last pod stays pending. The problem we observe is that those saturating pods are often not scheduled, causing a test timeout. Those pods use all the resources on the nodes. So, any small changes to the amount of available node resources or even rounding

[2017-09-27 00:58] zhangxiaoyu-zidif commented on #44486
@kfox1111
Agreed.

[2017-09-27 00:58] k82cn commented on #49630
I'd like to close this one, and refer it to [kube-arbitrator](https://github.com/kubernetes-incubator/kube-arbitrator); that'll be a part of that incubator project.

[2017-09-27 00:58] #49630 closed

[2017-09-27 01:09] jayunit100 commented on #50916
This is easy to test : Kill just an API server and probably  the problem goes away.m, then problem solved : you have a bug in the scheduler lock.

[2017-09-27 01:28] erhudy commented on #47538
Us as well. I'm going to take a hack at this, though I can't assign it to myself.

[2017-09-27 01:38] feiskyer commented on #53091
@yujuhong Looking to the problem

[2017-09-27 01:47] itowlson commented on #47543
For the missing field case, do we have a definitive list of which fields are required?  I can try inferring from code comments, but @discordianfish observes those may be out of date.

[2017-09-27 02:16] m1093782566 opened #53099 "Run IPVS proxier UTs everywhere - include !linux platfrom"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Currently, IPVS proxier only runs in linux platfrom.

**What you expected to happen**:

Run IPVS proxier UTs everywhere, including !linux platfrom, which will help a lot when developing in windows platfrom.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Ku

[2017-09-27 02:17] m1093782566 commented on #53099
/assign @m1093782566

[2017-09-27 02:17] m1093782566 commented on #53099
/sig network

[2017-09-27 02:17] m1093782566 commented on #53099
/area kube-proxy

[2017-09-27 02:18] hchenxa commented on #53036
@dixudx , I can reproduce this issue locally adding service-node-port-range=30000-60000 in apiserver static pod json file.

and I using kubernetes 1.7.3, I am not sure if the 1.8 have the same issues.

[2017-09-27 02:28] jpiper opened #53100 "kubectl fails to create tls secrets when key has passphrase"
/kind bug

**What happened**:

If I have a private key with a passphrase, and I try to create a tls secret I get an error saying it failed to parse the private key

**What you expected to happen**:

I expect kubectl to prompt me to type in the passphrase for said key.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
-

[2017-09-27 02:34] zjj2wry commented on #53100
/assign i will take a look about this

[2017-09-27 02:35] zjj2wry commented on #53100
/sig cli

[2017-09-27 02:47] dixudx commented on #52757
/cc

[2017-09-27 02:51] sjenning commented on #49740
There is still some bug in the http2 implementation in golang.  This only happens if the readiness/liveness endpoint supports http2, as is the case with the docker registry.

I found a hack that should prevent it, but it disables using http2 for probes.  Not sure why you would need any of http2's features for a probe so I don't see it hurting anything:

[code]

This avoids running `ConfigureTransp

[2017-09-27 02:57] sjenning commented on #49740
@jhorwit2 I'd be interested to know does your pod has both readiness and liveness probes defined?  I'm assuming it supports http2 otherwise you wouldn't get the error.

[2017-09-27 03:18] hyperbolic2346 commented on #19937
Eventually, things just worked without any changes. I believe it took a reboot of the master or slave. I haven't seen any issues with this for a long time, so I would assume we have different issues. I would suggest you post on stackoverflow as was requested of me.

[2017-09-27 03:23] ericchiang commented on #53066
The test setups are in the test-infra repo. E.g. https://github.com/kubernetes/test-infra/pull/4659

[2017-09-27 03:27] badounan opened #53102 "The service networks on each node can not communicate with each other"
The service networks on each node can not communicate with each other.

That's why?

[2017-09-27 03:27] JuneZhao commented on #19937
@hyperbolic2346  I have figured it out too, thks

[2017-09-27 03:58] yuexiao-wang opened #53103 "[Test]pull-kubernetes-e2e-kops-aws gets failed"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
pull-kubernetes-e2e-kops-aws failed
There are many same error amog PRs, such as
https://github.com/kubernetes/kubernetes/pull/53035
https://github.com/kubernetes/kubernetes/pull/53047
https://github.com/kubernetes/kubernetes/pull/53098
https://github.com/kubernetes/kubernetes/pull/53094
......

W0927 03:02:38.316] 2017/09/

[2017-09-27 04:00] yuexiao-wang commented on #53103
/sig scalability

[2017-09-27 04:00] spiffxp opened #53104 "pull-kubernetes-e2e-kops-aws failing"
last good aws presubmit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52948/pull-kubernetes-e2e-kops-aws/50600

first bad aws presubmit: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/52634/pull-kubernetes-e2e-kops-aws/50601

based on the infra commit changing between those two, https://github.com/kubernetes/test-infra/pull/4750 looks to be the

[2017-09-27 04:09] spiffxp commented on #53104
from failing build-log.txt (note the overrides)
[code]

from passing build-log.txt (note it's running in parallel)
[code]

[2017-09-27 04:17] sjenning commented on #49740
I have run for a hour now and have yet to see another http2 error after removing the readiness probe.  This supports the theory that a very small timing window where the readiness and liveness probe block one other getting an http2 connection is responsible.  My node is under very light load (two idle pods), so this is not about number of connections; it is about timing.

Additionally, I get error

[2017-09-27 04:20] smarterclayton commented on #49740
Filed an issue with golang yet identifying symptoms?

We definitely do not want to share any possible connection pooling between
liveness and readiness.  We should *not* be using the default transport for
either probe (that results in reuse).

If we can confirm we are sharing a pool with http2 I'm ok to temporarily
disable it until we can track down the cause (if we can't split the pool).

On Sep

[2017-09-27 04:50] BenTheElder commented on #53104
Still waiting on a test after the revert :-/ https://github.com/kubernetes/kubernetes/pull/46662#issuecomment-332404758 No greens yet.

[2017-09-27 04:53] ntfrnzn commented on #50622
I'm commenting here only to give my +1 to the underlying issue, that the error message emitted by the apiserver is not sufficient to begin debugging related problems.

I'm seeing the same error message, my experimental configuration is quite different, but it would be more pleasing if the apiserver told me clearly _why_ it cannot talk to an etcd cluster, _where_ it thinks that etcd cluster is, and

[2017-09-27 05:14] BenTheElder commented on #53104
one green [spotted]( https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/53050/pull-kubernetes-e2e-kops-aws/50669), and it [looks like there are two more](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kops-aws).

[2017-09-27 05:34] krmayankk commented on #53006
audit log is important sensitive information which we should try to make sure it reaches disk at all cost. Does this effort compromises that in favor of optimizing for latency ?

[2017-09-27 05:45] caesarxuchao opened #53109 "Known object count quota problems with uninitialized objects"
### Background: when is quota charged
The object count quota is charged when an object is created, no matter if it's initialized or uninitialized. This is to protect the system from having too many uninitialized objects.

Other quotas are charged when objects are initialized. They don't suffer from the problems.

### Problems with replenishing the object count quota
* if the object is deleted unin

[2017-09-27 05:45] caesarxuchao commented on #53109
/sig api-machinery

[2017-09-27 05:56] #52988 closed

[2017-09-27 05:56] like-inspur opened #53111 "calico node error in kubeadm environment"
[root@master1 ~]# kubectl get pods -n kube-system -o wide
NAME READY STATUS RESTARTS AGE IP NODE
calico-etcd-2p27t 1/1 Running 0 7m 10.110.17.59 master1.kubeadm
calico-node-6753t 1/2 CrashLoopBackOff 6 7m 10.110.17.59 master1.kubeadm
calico-policy-controller-336633499-dn9dp 1/1 Running 0 7m 10.110.17.59 master1.kubeadm

[root@master1 ~]# kubectl log calico-node-6753t -n kube-system calico-node
W09

[2017-09-27 06:00] jianglingxia commented on #50421
can you help me?
1、What is the cloud host name specifically used for?why must change the ip to virtual machine name?
2、in k8s cinder plugin only Interaction to openstack cinder ? not to interact other plugin?
thanks for your reply!

[2017-09-27 06:05] spiffxp commented on #53104
/close
Looks like the revert got it

[2017-09-27 06:05] #53104 closed

[2017-09-27 06:11] caesarxuchao commented on #53004
Object count quota doesn't handle uninitialized objects correctly. https://github.com/kubernetes/kubernetes/issues/53109.

[2017-09-27 06:12] #44448 closed

[2017-09-27 06:12] #52036 closed

[2017-09-27 06:12] #53074 closed

[2017-09-27 06:40] zjj2wry commented on #53100
this validate func check this, not clean about this validation is must.
[code]

[2017-09-27 06:47] nesc58 commented on #50522
I want to use ceph 12.x but I cannot create persist volume claims. The log of the kubernetes-controll-manager contains a lot of this lines:
[code]
# rbd --version
ceph version 0.80.7 (6c0127fcb58008793d3c8b62d925bc91963672a3)
[code]

[2017-09-27 06:55] resouer commented on #52110
@sjenning For any image which has no tag, kubelet will add a default tag `latest`, and default repo `docker.io/library` to it.  So `busybox` will change to `docker.io/library/busybox:latest` and send to dockerd to pull.

But dockerd knows `busybox` and `docker.io/library/busybox:latest` are the same thing, so `dockershim.InspectImageByRef()` should return right `imageID` instead of not found. (as

[2017-09-27 07:24] dixudx commented on #53109
+1. Agree. With `fieldSelector`, this will be quite concise. Currently, `metadata.initializers` is not supported yet. We may need to add it.

[2017-09-27 07:25] hzxuzhonghu commented on #53100
It is not a bug of k8s.  go does not provide a method to load encrypted keyFile.
You can use openssl command to transform `openssl rsa -in encryedprivate.key -out unencryed.key`

[2017-09-27 07:25] AnilPaladugu opened #53117 "kube-dns and weave-net not get starting status was showing like ContainerCreating."
Every 2.0s: kubectl get pods --all-namespaces                                                                                                   Wed Sep 27 12:52:09 2017

NAMESPACE     NAME                                 READY     STATUS              RESTARTS   AGE
kube-system   etcd-vw-srv-001                      1/1       Running             2          55m
kube-system   kube-apiserver-vw-srv-00

[2017-09-27 07:31] jpiper commented on #53100
@hzxuzhonghu - I did that as a workaround, but the error message could be slightly more useful (I understand if go isn't providing anything better then that can be hard)

[2017-09-27 07:35] hzxuzhonghu commented on #53100
[crypto/tls: LoadX509KeyPair can't parse pem file that have password](https://github.com/golang/go/issues/10181)  Maybe k8s need to enrich the ability to satisfy all kinds of scenario.

[2017-09-27 07:55] tsn77130 commented on #36222
I'm still seeing this issue too.
Pushed a lot of identical configmaps, some ones are displaying good, and some other bad.

For example, I have a configmap with 3 files in ; they all are identical except one variable ; 2 of them display normally, and the last one displays with \n ...

[2017-09-27 07:55] Smana opened #53118 "HA is not working when the masters have the same hostname"
/kind bug

@kubernetes/sig-architecture

**What happened**:

This issue have been posted on stackoverflow first : https://stackoverflow.com/questions/46435314/how-to-setup-ha-when-the-masters-have-the-same-hostname

Setting up high availability with 2 masters that have the same hostname but different domain names, for instance:

- foo.domain1.tld
- foo.domain2.tld

We configured the high availabil

[2017-09-27 08:19] Smana commented on #53118
/sig architecture

[2017-09-27 08:46] Jacobh2 commented on #52462
I ran `journalctl -u kubelet > kubelet.log` at the affected node and downloaded that file. Opened it and searched for `touch-lock` and unfortunately it gave zero hits. Is there anything else I can do to find some logs that will help with this?

So just to clarify: If I ssh into the affected node and stop the docker container, kubernetes will see this and restart the correct container? Meaning, I d

[2017-09-27 09:05] ash2k opened #53124 "Update gRPC library to pick up data race fix"
**What happened**:
A test failed in an [unrelated PR](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/49705/pull-kubernetes-unit/55317/) because of the data race in gRPC library. It is documented here https://github.com/grpc/grpc-go/issues/1316 and is fixed already.

An update to the gRPC library is necessary to pick up the fix. Not sure which sig owns this.

/kind bug
/ki

[2017-09-27 09:06] dixudx opened #53125 ""Completed" Container should not be in back-off that resulting in "CrashLoopBackOff""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig scheduling

**What happened**:
Deploy a simple pod that let it exit normally.

[code]

After it finished successfully, the pod run into a back-off loop that kept restarting again to "CrashLoopBackOff".

[code]

[code]
**What you expected to happen**:
To be in "Completed" status

**How to reproduce it (as minimally and precisely as possi

[2017-09-27 09:18] hzxuzhonghu commented on #53118
[code]
the id used should not only contain hostname, a random uid(or hostname+uid) may solve this conflict

[2017-09-27 09:21] elvizlai commented on #52783
I had the same issue on my ubuntu test environment. ClusterIP can NOT access cross node.

[2017-09-27 09:25] gekart commented on #52730
After updating the kernel from 4.4.65 to 4.4.78 the problems seem to disappear. Closing issue.

Remark: There are two (or more) public AWS images for k8s-1.6 k8s-1.6-debian-jessie-amd64-hvm-ebs-2017-05-02 and k8s-1.6-debian-jessie-amd64-hvm-ebs-2017-07-28. If you look at kube-deploy, you will not be able to see the differences between the two build. However, the underlying kernel linux-image-k8s h

[2017-09-27 09:26] #52730 closed

[2017-09-27 09:41] dixudx commented on #53124
@ash2k I create a PR #53128 to update gRPC Godeps. PTAL.

[2017-09-27 09:45] dixudx commented on #52390
ping @gyliu513 @janetkuo Any comments on above options.

[2017-09-27 10:39] imilo commented on #52783
I've also tried to enable **firewalld** and adding routes from https://github.com/coreos/flannel/issues/799 manually - still no luck

[2017-09-27 10:54] shyamjvs commented on #51899
Starting a second round of bisection (with audit-logging disabled) to catch the second regression. Hopefully this one's faster.

[2017-09-27 12:30] jhorwit2 commented on #49740
@sjenning yes, every pod experiencing this issue has a readiness and liveness probe. Also, an easier way to disable HTTP for probes is to set the [`DISABLE_HTTP2`](https://github.com/kubernetes/apimachinery/blob/b166f81f5c4c88402ae23a0d0944c6ad08bffd3b/pkg/util/net/http.go#L83) env var if you want to test it.

@smarterclayton From what I can tell we create new [probe workers](https://github.com/ku

[2017-09-27 12:32] #50499 closed

[2017-09-27 12:32] #52859 closed

[2017-09-27 12:33] bogdando commented on #52527
I have very similar problem with openshift origin v3.6/v3.7 and flannel v0.7.1 w/o cri-o, using host-gw mode. Some configuration snippets JFYI https://pastebin.com/R7sgPcQv .

[2017-09-27 12:38] ccll opened #53133 "'kube-up.sh' should allow user to customize the manifests of the cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

I'm trying to add '--runtime-config=batch/v2alpha1=true' (for CronJob) to the startup command of kube-apiserver.manifest, but the manifest file always reset to original content after reboot. After some digging I found out that GCE VM nodes created with 'kube-up.sh' always completely re-install k8s binaries and manife

[2017-09-27 12:52] shyamjvs commented on #51899
Commit 150a560eed is unhealthy (I'm testing against 2k-node cluster):

[code]

From my previous bisection commit c04e516 was the latest healthy one we know of.

[2017-09-27 13:09] liggitt commented on #51899
Snippet of one of the delete spikes from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/41/ (x is milliseconds, y is time of API call)

<img width="526" alt="screen shot 2017-09-26 at 9 42 15 pm" src="https://user-images.githubusercontent.com/980082/30914948-3e3b1ed2-a363-11e7-8f0b-a47590c41ea9.png">

I'm checking for changes to storage/adm

[2017-09-27 13:16] AnilPaladugu commented on #53117
@kubernetes/sig-user-experience<group-suffix>

[2017-09-27 13:24] jsafrane opened #53134 "Sheduler stops scheduling when PVC gets un-bound"
/kind bug

On AWS or GCE, scheduler has a predicate that count volumes attached to a node so it does not attach more volumes than the platform supports. This predicate returns error and fails to schedule any pod with a volume it encounters a pod a PVC that is not bound.

**Steps to reproduce**:
In namespace1
 - Create a PVC1 (make the PVC bind)
 - Create a pod using the PVC1
 - Delete the PVC1
 -

[2017-09-27 13:26] jsafrane commented on #53134
PR will follow shortly.
/assign

/sig storage
/sig scheduling
@kubernetes/sig-scheduling-bugs @kubernetes/sig-storage-bugs

[2017-09-27 13:31] ddysher commented on #51999
@ConnorDoyle seems device plugin is going alpha in 1.8, is there any example plugin to take a look at?

[2017-09-27 13:34] soltysh commented on #35507
I'm hoping to get to this flake later this week, or Monday next week at latest.

[2017-09-27 13:37] jsafrane commented on #53134
Filled https://github.com/kubernetes/kubernetes/pull/53135 with a fix.

[2017-09-27 13:43] crassirostris commented on #53006
I'll make sure it's configurable and if the security is critical, you can setup synchronous write in your deployment. Having said that, it's critical to be able to accommodate the case where having 100% calls written does not compensate for increased latencies. Does it make sense?

[2017-09-27 14:13] shashidharatd commented on #40536
All the tasks we envisioned are complete and hence closing this issue. If anyone feels this issue needs to be kept open for additional tasks, please feel free to do so.

[2017-09-27 14:14] m1093782566 opened #53137 "Implement delete real server for fakeIPVS and add UTs"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

Currently, the DeleteRealServer() of FakeIPVS is an empty implementation. However, ipvs/proxier needs it, see https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/proxier.go#L1374

It will case an error if we want to add some relevant test cases in ipvs/proxier_test.go.

**What you expected to happen**:

We

[2017-09-27 14:14] m1093782566 commented on #53137
/assign @m1093782566

[2017-09-27 14:16] shashidharatd commented on #50543
GCE PD leaking issue seems to be resolved now by PR #51768. Hence closing this issue.
/close

[2017-09-27 14:17] ITler opened #53138 "Can't create persistent volume claim on AzureGermanCloud"
**Is this a BUG REPORT or FEATURE REQUEST?**:
Not sure, but feels like a bug
/kind bug

**What happened**:
Can't create _persistentvolumeclaim_ as part of statefulset definition.

**What you expected to happen**:
a persistent volume should have been created as defined

**How to reproduce it (as minimally and precisely as possible)**:

    apiVersion: apps/v1beta1
    kind: StatefulSet
    metadata

[2017-09-27 14:22] ITler commented on #53138
@kubernetes/sig-Azure-bugs

[2017-09-27 14:39] liggitt commented on #51899
completed the sweep, no obvious issues related to pods, deletion, admission, etcd, or storage in the range c04e516...150a560

does kubemark 5k have a similar "create a lot of pods"/"delete a lot of scheduled pods in parallel" pattern for pods? wondering why we're not seeing latency issues there

[2017-09-27 14:42] rootfs commented on #44486
@kfox1111 You can hide the original keyring by overriding the args, e.g. like how sshpass does.

[2017-09-27 14:43] jdumars commented on #53018
Thanks @spiffxp for https://docs.google.com/spreadsheets/d/1gCm5s_lzoJdmvjMrfuapeI10sm7J0roiH9WnIKMlsWQ/edit#gid=0

[2017-09-27 14:49] Cryptophobia commented on #50622
Agreed. Better error messages and more error details going up to the api layer errors so we know what kubernetes apiserver is actually trying to.

[2017-09-27 15:02] jdumars commented on #53007
I'm giving this an additional 2 hours before I label it non-release-blocking. @justinsb Any updates here? @caseydavenport

[2017-09-27 15:05] jdumars commented on #51899
FYI all, we already have a verbal approval from Google via @abgworrall to have this as a known issue in 1.8.0 with caveats provided.  I need some help adding this to #53004 so it's described properly for inclusion in the release notes.  In 2 hours I am going to lift the release-blocking label unless more information comes to light and we need to keep it blocking.

[2017-09-27 15:13] erhudy commented on #47538
What I'd like to do (after talking the issue over a bit with @ant31) is add an **AdhocJob** resource type that would reference a particular CronJob for immediate execution, irrespective of the schedule provided for that CronJob.

[2017-09-27 15:27] luxas commented on #53018
I can comment on the kubeadm upgrade job:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle#kubeadm-gce-upgrade-1.7-1.8 is working as expected

Breakdown: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/periodic-kubernetes-e2e-kubeadm-gce-upgrade-1-7-1-8/61

`Master upgrade hpa-upgrade 16m14s` fails
Which is expected because heapster is not deployed

`Timeout waiting for serv

[2017-09-27 15:27] liggitt commented on #53138
fixed by https://github.com/kubernetes/kubernetes/pull/50673?

[2017-09-27 15:31] luxas commented on #40536
@shashidharatd Where is the documentation for this feature?

[2017-09-27 15:34] liggitt commented on #53100
I'd expect a secret containing a password protected key to be a different type. The TLS type is used by things like ingress, and expect a non-password-protected key. You can create a secret with any content you want with `kubectl create secret generic generic --type=... --from-file=tls.crt=/path/to/cert --from-file=tls.key=/path/to/key`

[2017-09-27 15:34] #53100 closed

[2017-09-27 15:41] kow3ns commented on #51907
@notxcain

1. If you're using Akka Cluster you should not have any issues in general. The cluster leader is not the oldest member. It is the first member, in sorted order, that is capable of transitioning to leadership.
1. If you're using ClusterSingletons (which even Typesafe/Lightbend recognizes has some drawbacks and should not be your first design choice), and if I interpret what you are sayin

[2017-09-27 15:44] hanikesn opened #53140 "[1.7.4] Networkpolicis missing from clusterrole admin/edit/view"
We give full access to our namespaces via RBAC by binding the clusterrole `admin` to their user. According to the [documentation](https://kubernetes.io/docs/admin/authorization/rbac/#user-facing-roles) this should give them read and write access to almost all resources in their namespace. This does not seem to apply for [networkworkpolicies](https://kubernetes.io/docs/concepts/services-networking/

[2017-09-27 15:46] hanikesn commented on #53140
/sig auth

[2017-09-27 15:48] kow3ns commented on #51306
I'm closing this for now as this is not a bug.

[2017-09-27 15:48] #51306 closed

[2017-09-27 15:50] ant31 commented on #47538
@erhudy proposed a  new field `triggerOnCreation`, which make sens but would partially adress the issue.

The shortest path I see would be create A job forked from the cronjob. It could be handled on the cli side to begin:

[code]

[2017-09-27 15:51] mcandre opened #53142 "Update es examples to v5"
Presently, the elasticsearch example Kubernetes configurations target elasticsearch v1.7.1, which is quite old. As of this writing, the latest elasticsearch release is v5.6.2, with many deployment changes since then. Could the elasticsearch examples be updated to target the v5 series of elasticsearch?

See https://github.com/pires/kubernetes-elasticsearch-cluster for a more up to date reference co

[2017-09-27 15:52] shashidharatd commented on #40536
@luxas, here is the documentation for running federation with CoreDNS as dns provider. https://kubernetes.io/docs/tasks/federation/set-up-coredns-provider-federation.
In non-cloud environments, we could also use hosted DNS providers such as AWS Route53 or Google Cloud-DNS by specifying the dns-provider configuration as secret to `kubefed init`.

I agree there is no detailed document for user expla

[2017-09-27 15:53] vinayagg commented on #47538
Another option could be to allow multiple schedules for a cron job. in that case
- we could use commandline to add a schedule to run immediately
- it will allow for complex scheduling

[2017-09-27 15:57] shashidharatd commented on #40536
Added a new item to document explaining how to use the hosted DNS providers in non-cloud environments and so reopened this issue.

[2017-09-27 16:09] luxas commented on #40536
Thanks!

[2017-09-27 16:22] shyamjvs commented on #51899
@liggitt Yes, kubemark also runs the same test, creating a similar pattern. For those curious- in short we're doing the following in the density test:
- Saturating the cluster with 30 pods/node i.e. we're creating some RCs adding up to a total of `30 * #nodes` pods
- We're then creating an additional `#nodes` pods (on the saturated cluster) to measure their startup latencies
- We then delete those

[2017-09-27 16:37] jdumars commented on #51899
@abgworrall discussed this internally at Google, and based on the limited circumstances of impact, it can be addressed in 1.8.x.

[2017-09-27 16:39] justinsb commented on #49480
As it seems we probably wanted this in 1.8 but ran out of time, shall we get this into 1.9 now?

[2017-09-27 17:02] luxas commented on #49480
YES! :smile:

[2017-09-27 17:14] ericchiang opened #53145 "[downgrade tests] cluster downgrade should maintain a functioning cluster"
/kind bug

One of our downgrade test started failing last evening https://k8s-testgrid.appspot.com/release-1.8-upgrade-skew#gke-1.8-1.7-downgrade-cluster-parallel

[code]

cc @kubernetes/kubernetes-release-managers
cc @kubernetes/test-infra-maintainers
cc @kubernetes/sig-cluster-lifecycle-test-failures

[2017-09-27 17:29] kfox1111 commented on #44486
its still kind of ugly as there is a period of time, although rather short where it is accessible to outside parties.  The temporary file route is already supported by the client, today I think. So its more secure (slightly), and doesn't need any changes to the ceph code base (preferable for backwards compatibility).

[2017-09-27 17:36] rpothier opened #53147 "ip6tables should be set in the noop plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
NoopNetworkPlugin() sets the IPv4 IP tables, but not the IPv6.
func (plugin *NoopNetworkPlugin) Init() sets net/bridge/bridge-nf-call-iptables to 1.
This also needs to set net/bridge/bridge-nf-call-ip6tables

**What you expected to happen**:
For IPv6 to have parity with IPv4, we need to set the IPv6 pables also.

**How to

[2017-09-27 17:36] rpothier commented on #53147
/sig network
/area ipv6

[2017-09-27 17:39] elvizlai commented on #52783
@imilo try to add param —cluster-cidr to kube-proxy may solve this.

[2017-09-27 18:06] grodrigues3 commented on #51899
@jdumars can we move this out of the milestone then.

[2017-09-27 18:08] msau42 opened #53150 "PVC usage metrics e2e test is flaky"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
[log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1896#sig-storage-serial-volume-metrics-should-create-volume-metrics-with-the-correct-pvc-ref)
[testgrid](https://k8s-testgrid.appspot.com/google-gce#gce-serial&include-filter-by-regex=%5EOverall%24%7C%5C%5Bsig%5C-storage%5C%

[2017-09-27 18:10] msau42 commented on #53150
/assign @gnufied @vkamra

[2017-09-27 18:14] ericchiang commented on #53145
This passed on the latest running. Considering this a flake a non-release blocking.

[2017-09-27 18:15] xiangpengzhao commented on #39994
Already fixed in https://github.com/kubernetes/kubernetes.github.io/pull/3631 by @gyliu513 .

/close

[2017-09-27 18:15] #39994 closed

[2017-09-27 18:15] xiangpengzhao commented on #39994
/assign @gyliu513
/unassign

[2017-09-27 18:16] shyamjvs commented on #51899
Sounds good. As agreed on slack -  once know the fix, we'll backport it to 1.8.

[2017-09-27 18:17] spzala commented on #40090
I am wondering, shouldn't this issue be closed automatically as part of fix 41174 where the issue is mentioned? Thanks!

On a side note, when I run ```build/run.sh make clean``` on a freshly clone repo, I don't see the error related to per-requisite as mentioned in the issue but I see a different error as below. I guess the error on git is about not having git on a newly created container (fbafb16

[2017-09-27 18:20] mikedanese opened #53151 "remove kubelet binding RBAC role"
It is not required now that we have the node authorizer.

[2017-09-27 18:30] bgrant0607 commented on #50475
@monopole

https://github.com/kubernetes/common now exists

common-admins has admin privilege.

Please also create common-maintainers (write) and common-reviewers (read).

[2017-09-27 18:31] bgrant0607 commented on #50475
The client code should live somewhere in API machinery though.

[2017-09-27 18:32] gnufied commented on #53150
/assign @vkamra

[2017-09-27 18:39] shyamjvs commented on #51899
Continuing with the bisect ftw... commit 6b9ce5ba110 is healthy:

[code]

New range: https://github.com/kubernetes/kubernetes/compare/6b9ce5ba1107f885998acfd0f5c2aad629e68fa1...150a560eed43a1e1dac47ee9b73af89226827565

[2017-09-27 18:44] janetkuo commented on #53040
Actually all `set` commands that uses the similar code (`UpdatePodSpecForObject` and then `Encode`) are affected. That includes `set image`, `set env`, `set resources`, and `set serviceaccounts`.

[2017-09-27 18:45] janetkuo commented on #53004
`kubectl set` commands on ReplicaSet and DaemonSet occasionally return version registration errors #53040

[2017-09-27 18:47] liggitt commented on #53040
I'm debugging now

[2017-09-27 18:50] DirectXMan12 commented on #53145
unless I'm misreading that issue, it looks like the test failed because the code that sends signals to (and waits for) the ResourceConsumer failed to be able to contact the master properly.  While I can't see the controller manager logs for make sure that nothing went wrong there, it doesn't actually look like this is the fault of the HPA, or the HPA test.

Looks like the failure was post-upgrade,

[2017-09-27 18:55] tallclair opened #53154 "ENABLE_APISERVER_BASIC_AUDIT configuration out of date"
With 1.8, advanced auditing is enabled by default. This means that the `ENABLE_APISERVER_BASIC_AUDIT` flag is no longer accurate:
https://github.com/kubernetes/kubernetes/blob/e33dd983ed75d15245534c87ddaf843aa617638a/cluster/gce/gci/configure-helper.sh#L1355-L1368
It will no longer enable audit logging (due to lack of a policy file), and would not be "basic" auditing.

This flag should either be r

[2017-09-27 18:57] geekofalltrades commented on #31891
I did open an AWS case to discuss the volumes. They verified from their side that it's because the device name was conflicting:

	'attach-failed'- 'The device "xvdbf" is already defined'.
	'attach-failed'- 'The device "xvdbk" is already defined'. and so on.
There have been approximately 750 volume attach-detach done to this instance in past 5 months; This have resulted in situation that:
	A volume

[2017-09-27 19:03] crassirostris commented on #53154
Thanks a lot for pointing this out!

I think we should not remove the ability have a basic audit enabled in this release. I will create a PR to fix this tomorrow

[2017-09-27 19:15] vkamra commented on #53150
@gnufied @msau42 - You won't be able to assign this to me (not a kubernetes member). Am taking a look.

[2017-09-27 19:16] csbell commented on #50543
Assigning to @wojtek-t to merge #51768 back into 1.7 to go green over there.

[2017-09-27 19:24] liggitt commented on #53040
the issue is here:
https://github.com/kubernetes/kubernetes/blob/e33dd983ed75d15245534c87ddaf843aa617638a/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L483-L498

when it fails, it looks like this:
[code]

when it works, it is called like this:
[code]

[2017-09-27 19:26] liggitt commented on #53040
schema.GroupVersions#KindForGroupVersionKinds lacks information about which group/versions actually contain the kind in question

[2017-09-27 19:29] tallclair commented on #53154
Sounds good. I think we should still mark it as deprecated though (and remove it in 1.9)

[2017-09-27 19:32] crassirostris commented on #53154
SGTM

[2017-09-27 19:35] caseydavenport commented on #53007
A bit late, but I'm not currently aware of a reason this should block 1.8.

[2017-09-27 19:40] spzala commented on #40287
@setyoso hi, are you still running in the issue? Once you deploy example yml file the ```kubectl get pods``` shouldn't be empty. The ```guestbook-all-in-one.yaml``` has been lately updated and you may want to look at it again. Also, as you noticed you can't access service externally without using NodePort or LoadBalancer with service - here is a good doc link https://kubernetes.io/docs/tasks/admin

[2017-09-27 19:50] jeffvance commented on #53150
_volume_metrics.go_ could/should have more logging. either calling `By()` or more calls to `Logf()`.

[2017-09-27 19:56] jeffvance commented on #53150
The `AfterEach` does not appear to have been called since I don't see the `Logf` entry for deleting the PVC. Or, the client is nil and/or the pvc name is ""?

[2017-09-27 19:57] ncdc commented on #52110
Just ran into this. If you up the kubelet's log level to 4, you'll see a "not found" error from https://github.com/kubernetes/kubernetes/blob/e33dd983ed75d15245534c87ddaf843aa617638a/pkg/kubelet/dockershim/libdocker/helpers.go#L92. For example:

[code]

If we look at the code in that helper function, we have this:

https://github.com/kubernetes/kubernetes/blob/e33dd983ed75d15245534c87ddaf843aa6176

[2017-09-27 19:58] #53091 closed

[2017-09-27 19:58] bowei commented on #53007
@justinsb addition of promiscuous mode in CNI was one step towards the transition from kubenet => CNI, but some of the other required pieces (ebtables) are not in place, so the transition has not happened yet.

[2017-09-27 20:01] ericchiang commented on #52973
cc @diegs @rphillips

[2017-09-27 20:02] ncdc commented on #52110
If it wasn't clear, I believe dockershim is what's having the issue. Once the kubelet sends the protobuf message to the dockershim socket to pull the image, it goes from

https://github.com/kubernetes/kubernetes/blob/b80b7b08c953ec8e4dcad5e86474126703d3afca/pkg/kubelet/dockershim/docker_image.go#L71

to

https://github.com/kubernetes/kubernetes/blob/b80b7b08c953ec8e4dcad5e86474126703d3afca/pkg/kub

[2017-09-27 20:07] jdumars commented on #53154
@tallclair is this release blocking?  Please let me know ASAP.

[2017-09-27 20:09] dnardo commented on #53007
@justinsb and we may end up removing that promisc mode work around if we end up going with something like point to point.

[2017-09-27 20:09] janetkuo commented on #53040
@kubernetes/sig-api-machinery-bugs

[2017-09-27 20:13] liggitt commented on #53040
I think the right thing to do here is change `UpdatePodSpecForObject` to work on versioned objects and v1.PodSpec, pass in info.VersionedObject, and encode info.VersionedObject directly

[2017-09-27 20:13] liggitt commented on #53040
testing out a PR now

[2017-09-27 20:17] ncdc commented on #52110
It appears to be this:

https://github.com/kubernetes/kubernetes/blob/b80b7b08c953ec8e4dcad5e86474126703d3afca/pkg/util/parsers/parsers.go#L36

to

https://github.com/kubernetes/kubernetes/blob/b80b7b08c953ec8e4dcad5e86474126703d3afca/vendor/github.com/docker/distribution/reference/normalize.go#L37

to

https://github.com/kubernetes/kubernetes/blob/b80b7b08c953ec8e4dcad5e86474126703d3afca/vendor/g

[2017-09-27 20:21] ncdc commented on #52110
Prior to the PR that bumped docker/distribution, pkg/util/parsers/parsers.go used to have `named, err := dockerref.ParseNamed(image)`, which does not do any normalization (i.e. including "library").

[2017-09-27 20:28] jeroenjacobs1205 commented on #52498
Closing this issue as nobody will ever answer that last question.

[2017-09-27 20:28] #52498 closed

[2017-09-27 20:28] euank commented on #42926
Unfortunately, at the time of the 1.8 release, `docker 17.03-ce` will not be a supported version.

Docker CE releases are only supported for a 4 month period, so 17.03 was EOL'd by August.

That means that Kubernetes still warns on every single version of docker-ce that is supported by upstream.

It seems irresponsible to recommend users use software which will not be receiving security updates.
I

[2017-09-27 20:31] MrHohn commented on #52740
Test is no longer failing since 09/22/2017.

[2017-09-27 20:31] #52740 closed

[2017-09-27 20:39] ncdc commented on #52110
OK, I see why when we bumped to the newer docker/distribution, we switch to using `ParseNormalizeNamed`. It's because `ParseNamed` now requires that the input be in "canonical" format (in this case, has `docker.io` and `library`, if applicable), which you get automatically by calling `ParseNormalizeNamed`...

[2017-09-27 20:44] yuvipanda commented on #36499
I'd like this too :D Where can I send you an email, @msau42?

[2017-09-27 20:47] shyamjvs commented on #51899
Commit 57c3c2c0b is healthy:

[code]

New range: https://github.com/kubernetes/kubernetes/compare/57c3c2c0bc3b24905ecab52b7b8a50d4b0e6bae2...150a560eed43a1e1dac47ee9b73af89226827565
I'm suspecting the following PR (yet to take a closer look):
- Wait for container cleanup before deletion #50350

[2017-09-27 20:51] luxas commented on #42926
Is 1.11-1.13 receiving security updates anymore?

[2017-09-27 20:53] msau42 commented on #36499
@yuvipanda check my github profile

[2017-09-27 20:53] tianon commented on #42926
Only if you pay for the commercially supported edition.

[2017-09-27 20:54] dashpole commented on #52462
Yes, this is possible with the current implementation.  I will post a fix for this.

[2017-09-27 20:55] lavalamp commented on #46351
This doc has mostly been approved by the SIG: https://docs.google.com/document/d/1i0xzRFB-uGLmLYueLMBTpHrOot9ScFxpkkcVcZHVbyA/edit#

(@smarterclayton and myself may hash out some of the language still, but it is close)

TL;DR: **Use etcd-operator to run your own etcd cluster.** If you can sweet talk the cluster admin into using the cluster's main etcd installation, great, but don't count on that.

[2017-09-27 20:55] #46351 closed

[2017-09-27 20:55] tianon commented on #42926
Additionally, as of last night, 17.06 is no longer officially supported in the open source editions of Docker (only 17.07 and now 17.09).

[2017-09-27 20:57] tessiof commented on #42926
You can also move away from docker to cri-o or cri-containerd..

On Sep 27, 2017 5:55 PM, "Tianon Gravi" <notifications@github.com> wrote:

[2017-09-27 21:02] luxas commented on #42926
Which basically means it's pretty hard to keep up with that pace from k8s' PoV? All validated versions (except 1.13) seem EOL'd at this point... (1.11, 1.12, 17.03)

[2017-09-27 21:03] cheftako opened #53159 "Should return an error for namespaced delete collection on non-namespaced resource."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**: If you perform a namespaced delete collection on a non-namespaced resource it will delete ALL instances of that resource. This is especially dangerous as the NamespaceController will issue a namespace delete collection for all resources on the terminating namespace.

**What you expected to happen**: I expected a 4XX error

[2017-09-27 21:03] janetkuo commented on #52390
You can have history jobs garbage collected by setting `.spec.successfulJobsHistoryLimit` and `.spec.failedJobsHistoryLimit` fields.

The old default value is unlimited (keep all history jobs). In 1.8, batch/v1beta1 CronJobs have new default values (keep 3 successful jobs and 1 failed job).

[2017-09-27 21:07] abgworrall commented on #51899
To be clear: my verbal OK was based on: a perf regression that only manifested when audit logging was enabled, and configured a certain way.

It isn't clear to me what the scope of the delete-pods regression, which has now become visible, is; does it affect all large clusters by default ? And what is the impact - an average 25% increase, or a 2500% increase at 99%ile, or what ?

(Apologies if this

[2017-09-27 21:08] gnufied commented on #31891
Also which version of k8s were you running? So just to be clear - k8s attempted attaching volume to `/dev/xvdbf` only after detaching the older volume right?

I can confirm that, I have seen similar thing where a volume was "cleanly" detached and yet next attach to device (after significant time gap like 6-8 hours since last detach) still gets stuck in "attaching" state.  As far as k8s is concerne

[2017-09-27 21:09] janetkuo commented on #52390
Closing, as this is already fixed and [documented](https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/#jobs-history-limits). New default values are also documented in https://github.com/kubernetes/kubernetes.github.io/pull/5556

[2017-09-27 21:09] #52390 closed

[2017-09-27 21:12] euank commented on #42926
@luxas all validated versions have been EOLd. 1.13 CSE ("Commercially Supported Edition") might still be supported, but that's a closed source fork of docker, not docker 1.13.

Kubernetes probably needs to just explicitly not be recommending specific versions of the engine, but rather support a version of the dockerd API.. and then test against upstream to ensure things aren't breaking.

As far as

[2017-09-27 21:13] liggitt commented on #51899
* kubemark does not encounter this issue, even though it runs similar create/delete patterns
* the impact is best seen in https://github.com/kubernetes/kubernetes/issues/51899#issuecomment-332515008

[2017-09-27 21:19] shyamjvs commented on #51899
There are 2 issues:
- Increased latencies for `patch node-status` calls (and a few other calls flakily) which was caused by the audit log change to json. We went about it by disabling audit-logging in our scale-testing (see - https://github.com/kubernetes/kubernetes/issues/51899#issuecomment-331973754) and it's resolved now
- Increased latencies for `delete pods` calls (20ms -> 1.4s) and I'm curre

[2017-09-27 21:25] diegs commented on #52973
Sounds like this might be https://github.com/kubernetes/kubernetes/issues/50477 which was introduced sometime in 1.7 and fixed for 1.8. cc @janetkuo to confirm.

[2017-09-27 21:36] drdeimos commented on #42891
How you fix it?

[2017-09-27 21:39] Calpicow commented on #50878
It doesn't seem like kubelet v1.6+ is properly enforcing memory quotas. Below is a Prometheus graph of a pod with memory request = limit = 2Gi. We see it peaking up to almost double that.

![mem](https://user-images.githubusercontent.com/8184583/30939165-66f32fc6-a391-11e7-8673-4ec532d157ab.png)

[2017-09-27 21:42] cmluciano commented on #53111
/sig network

[2017-09-27 21:44] cmluciano commented on #53117
/sig network

[2017-09-27 21:50] SaranBalaji90 opened #53162 "DynamoDb Support for API Server"
# **DynamoDB Support for API Server**

## **Introduction**
Kubernetes is an open-source software for deploying and managing containerized applications. Kubernetes nodes are broadly classified into two groups, Master and Worker nodes. Master nodes provide the cluster’s control plane and worker nodes runs applications. In Kubernetes control plane, ApiServer acts as front-end component. All other com

[2017-09-27 21:51] cmluciano commented on #53117
@AnilPaladugu Can you clarify what the error you are seeing is? What is the output of

[code]

I'm wondering if Selinux is blocking weave/kube-dns container creation based on this message
[code]

This might require more Security Context settings, but I can't be certain.

What is your installation method for Kubernetes?

[2017-09-27 21:51] cmluciano commented on #53117
cc @bboreham

[2017-09-27 21:53] cmluciano commented on #53102
/sig network

Can you please add more detail on what errors you are seeing?

[2017-09-27 21:55] SaranBalaji90 commented on #53162
cc @deads2k @lavalamp @nckturner @liggitt @smarterclayton @k8s-mirror-api-machinery-pr-reviews Can you please review and give your initial comments on the overall design.

[2017-09-27 21:57] euank commented on #49792
@gyliu513

That's a documented feature; the scheduler avoids allocating the hostport twice. That's the scheduler, not the node iirc.

Why do you have to specify hostport? It's a legacy mechanism. A service / service + nodeport should generally be preferred I think.

@jpiper

That's just a `NodePort`, right? When you expose a service, as a nodeport type, you should get a port you can use.

@felipej

[2017-09-27 22:00] julia-stripe commented on #50916
I updated our configuration today so that the scheduler talks to an API server on localhost. So now the scheduler always sends requests to the *same* API server. Previously the scheduler would choose a random apiserver through a load balancer.

I was super hopeful that this would fix the issue (picking a random apiserver to talk to on every request is a pretty weird thing to do!). But sadly it did

[2017-09-27 22:07] dims commented on #52110
/assign @dims

[2017-09-27 22:12] caseydavenport commented on #53111
/assign

[2017-09-27 22:14] caseydavenport commented on #53111
@like-inspur I don't think this issue is appropriate for the kubernetes repo.

Please let's continue discussion on the issue you raised against Calico: https://github.com/projectcalico/calico/issues/1139

/close

[2017-09-27 22:14] #53111 closed

[2017-09-27 22:25] yujuhong commented on #52110
@ncdc @liggitt could you give steps to reproduce this? We can't reproduce this and many of our e2e tests pull images using unqualified name such as "buxybox"

[2017-09-27 22:26] Random-Liu commented on #52110
@dims @sjenning @ncdc What docker distribution are you using?
I could not reproduce this myself. I don't understand how does the reference `docker.io/busybox:latest` shows up, we never pull image with it.

Is this a problem specific to a docker distribution?

[2017-09-27 22:26] liggitt commented on #52110
run the e2e tests on a centos/fedora/rhel image

[2017-09-27 22:26] jpbetz commented on #46705
Etcd is adding support for fine grained compaction periods, using go Durations, in https://github.com/coreos/etcd/pull/8563. We need to wait until that is available since without only periods of hours can be specified.  It will likely be available in etcd 3.3.

[2017-09-27 22:29] yujuhong commented on #52110
Is there any signal in test-grid for centos/fedora/rhel? Would be nice to catch issues like this sooner than later.

[2017-09-27 22:30] liggitt commented on #52110
there is not, and definitely should be, given that k8s releases rpms as part of each release. will be on the short list for the release retrospective.

[2017-09-27 22:32] Random-Liu commented on #52110
@liggitt I feel like this is a problem in docker distribution in centos/fedora/rhel. Docker should not return `docker.io/busybox:latest` when we are using `docker.io/library/busybox:latest` to pull image.

Should we fix the corresponding docker distribution instead of blocking Kubernete release?

[2017-09-27 22:44] yujuhong commented on #42926
Publishing the Docker API version sounds reasonable.

On the other hand, most of the value of the Docker validation lies within discovering/fixing/working around Docker engine-version-specific bugs. I am not sure I'd compare docker to cgroups or iptables, and I think it's still valuable to publish this information in some form.

Another thing is that we could provide an option (in dockershim) to u

[2017-09-27 22:56] smarterclayton commented on #52110
Since that would mean releasing a new version would regress existing users, we generally say that we'll do our best to tolerate it instead of releasing something known broken.  We've done that with various versions of Docker, systemd, and iptables for years, and I'm sure we'll do our best to do that.  I do agree that this looks like a bug in that docker distribution that should be fixed.

I also a

[2017-09-27 23:13] rootfs commented on #44486
The temporary keyring isn't that secure: if not cleaned, the keyring is exposed. Admittedly, rbd volume has the same issue, but we are going to move away from that model.

[2017-09-27 23:20] kfox1111 commented on #44486
What about a named pipe? pass the keyring info straight through?

[2017-09-27 23:30] SaranBalaji90 commented on #53162
@kubernetes/sig-api-machinery-proposals

[2017-09-27 23:40] Random-Liu commented on #52110
@smarterclayton Thanks!

I agree that we should not break existing users. I'm fine with https://github.com/kubernetes/kubernetes/pull/53161 as long as we keep in mind we made this change, and clean it up in the future.

I think it would be helpful if we could have test coverage on more distros, so that we could have caught similar problems earlier.

[2017-09-27 23:46] vkamra commented on #53150
@jeffvance - will add a couple of Logf() statements to log the samples - you're right that will help.

Once the volume is attached, volume stats are grabbed every `VolumeStatsAggPeriod` interval.

The thing I noticed in the logs is that we issue a delete for the pod at `Sep 25 12:54:41.226`

```Sep 25 12:54:41.226: INFO: Deleting pod pvc-tester-qmdtc```

but the volume only got attached/bound succ

[2017-09-27 23:50] ericchiang commented on #52711
@jicki it's unclear how you've configured your kubelet or cluster. Do you have some reproducible steps to create this error condition? It appears that you're using the CSR endpoints but there's no details on how you configured the kubelet. Did you use a tool like kubeadm? Is this issue exclusive to the 1.8 beta or does it also impact 1.7?

[2017-09-28 00:01] shyamjvs commented on #51899
Ok.. It doesn't seem like a flake. Failed for the second time against 150a560:

[code]

[2017-09-28 00:09] geekofalltrades commented on #31891
This was Kubernetes 1.6.0.

I can only assume that k8s was trying to attach this volume after having detached the older one. Only k8s was managing the volumes attached to this instance; no human operator detached or attached any volumes to it.

[2017-09-28 00:19] lavalamp commented on #53162
Prior situation: https://github.com/kubernetes/kubernetes/pull/31622#issuecomment-327606218

Doc the SIG approved (pending a few changes that won't affect this) earlier today: https://docs.google.com/document/d/1i0xzRFB-uGLmLYueLMBTpHrOot9ScFxpkkcVcZHVbyA/edit#

[2017-09-28 00:20] vkamra commented on #53150
Nevermind - That log message has 2 timestamps in it - the volume was provisioned at `2017-09-25 12:53:26`.

[2017-09-28 00:26] bgrant0607 commented on #53162
@SaranBalaji90

Thank you for your proposal, but I'm sorry, but this is not feasible.

We recently decided to go all-in on etcd3 for the indefinite future, and closed the original long-standing request for pluggable storage backends:
https://github.com/kubernetes/kubernetes/issues/1957

[2017-09-28 00:26] #53162 closed

[2017-09-28 00:26] tallclair commented on #53125
I'm going to close this as WAI. The desired behavior in this case is to set the Pod RestartPolicy to "OnFailure". See https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#restart-policy

[2017-09-28 00:26] #53125 closed

[2017-09-28 00:31] yujuhong commented on #52462
@dashpole, is there any log message from eviction manager that could help us confirm the cause?

Kubelet should attempt to restart the containers, and I believe it should start the init container again as well.

[2017-09-28 00:46] liggitt commented on #53040
Fix in https://github.com/kubernetes/kubernetes/issues/53158

[2017-09-28 00:59] msau42 commented on #52357
That's correct, volume provisioning is not integrated with any pod scheduling requirements like affinity/affinity at the moment.  We're working on a [design](https://github.com/kubernetes/community/pull/1054) to fix this, but it's going to take a few releases.

/assign

[2017-09-28 00:59] msau42 commented on #52357
/close

[2017-09-28 00:59] #52357 closed

[2017-09-28 00:59] dashpole commented on #52462
We should see the following if this was aggressive garbage collection triggered by disk pressure:
`eviction manager: attempting to delete unused containers`
followed closely by:
`Removing container ` + container id

[2017-09-28 01:00] smarterclayton commented on #52110
Agree - I think anyone who causes a release slip is required to make sure
they fix the problem so it can't happen in the future.  And get better all
around testing.

On Sep 27, 2017, at 7:40 PM, Lantao Liu <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Thanks!

I agree that we should not break existing users. I'm fine with #53161
<https://github.com/kubernet

[2017-09-28 01:01] msau42 commented on #51010
@dearboll, did setting a security context work?

[2017-09-28 01:01] msau42 commented on #50983
@bw2, do you still see this issue?

[2017-09-28 01:01] sjenning commented on #52110
I have opened a bug for this https://bugzilla.redhat.com/show_bug.cgi?id=1496630

[2017-09-28 01:01] eswarbala commented on #53162
@bgrant0607 @lavalamp Concern about test and supportability matrix bloat I understand. But there are alternatives and as discussed in the last meeting, CNI sets a good precedence. The networking ecosystem for k8s is vibrant with the CNI infra in place and I think it reasonably avoids overextending the test requirements as well.

It will be nice to at least discuss the possible alternatives here an

[2017-09-28 01:03] vkamra commented on #53150
Pushed https://github.com/kubernetes/kubernetes/pull/53168. The working theory being that volume stats were not collected within the wait earlier being used.

[2017-09-28 01:04] somejfn commented on #52711
@ericchiang I have the same issue bumping the hyperkube version from v1.7.2 to v1.8.0-rc.1.   The 1.7.2 cluster works without issue.
[code]
My setup is a nested k8s control plane (K8sOnK8s) you can find manifest here: https://github.com/somejfn/k8s-on-k8s

[2017-09-28 01:04] spzala commented on #40273
@vincentwu2011 hi, can you please check if the solution provided by @mnowrot works for you since you ran into a similar problem as his with NFS? If so we can close this issue. @mnowrot thanks for your solution.

[2017-09-28 01:08] msau42 commented on #50312
@Stono, @TinySong do you still see this issue?

Can you check kubelet and controller manager logs for error messages related to these volumes?

[2017-09-28 01:15] liggitt commented on #52711
are you starting with a clean etcd store or upgrading an existing cluster that previously ran 1.7.x?

what authorization mode are you using in your cluster?

if you are using RBAC, starting in 1.8, you must either enable the `Node` authorizer mode as well, *or* grant the `system:node` role to your nodes yourself. See the release note associated with https://github.com/kubernetes/kubernetes/pull/49

[2017-09-28 01:16] msau42 commented on #9802
We have local PVs available in alpha as of 1.7.  You specify node affinity on the PV that the scheduler will use to properly schedule the pod to the node where the local volume resides.

/assign

[2017-09-28 01:16] msau42 commented on #9802
/close

[2017-09-28 01:16] #9802 closed

[2017-09-28 01:22] msau42 commented on #13871
This bug is quite old, and we haven't heard any recent reports of this.  Please open a new issue if you still see the problem.
/assign

[2017-09-28 01:22] msau42 commented on #13871
/close

[2017-09-28 01:22] #13871 closed

[2017-09-28 01:24] msau42 commented on #17092
There are quite a few PVC e2e tests now.
/assign

[2017-09-28 01:24] msau42 commented on #17092
/close

[2017-09-28 01:24] #17092 closed

[2017-09-28 01:25] bgrant0607 commented on #53162
@eswarbala I agree that it's possible, but it's not feasible. The API machinery team is stretched too thin.

I suggest getting involved with SIG API machinery and chop wood and carry water for a while, help complete ongoing efforts, fix bugs, and learn the system design and project conventions.

For example, we could use help making the OpenAPI spec more correct and complete:
https://groups.google

[2017-09-28 01:25] msau42 commented on #16155
/assign

[2017-09-28 01:25] msau42 commented on #16155
/close

[2017-09-28 01:25] #16155 closed

[2017-09-28 01:29] spzala commented on #39626
@Raffo hi, wondering, any update on this? Thanks!

[2017-09-28 01:34] msau42 commented on #23525
You can specify pd-standard and pd-ssd in the storageclass now.
/assign

[2017-09-28 01:34] msau42 commented on #23525
/close

[2017-09-28 01:34] #23525 closed

[2017-09-28 01:34] wenlxie commented on #53059
@diogo-reis  What's your k8s version?

[2017-09-28 01:35] trenton42 commented on #13871
@msau42 We haven't experienced this again since my comment above. My suspicion is that it was something to do with our configuration and not a bug in k8s.

[2017-09-28 01:40] resouer opened #53170 "Consider re-organizing `kubelet.cm` package into multiple sub-dirs"
We have shipped many features in `kubelet.cm` with plenty of files. I would suggest re-org `kubelet.cm` into multiple sub-folders like this:

[code]

@vishh  @derekwaynecarr Make sense to you?

[2017-09-28 01:44] jeffvance commented on #53150
@vkamra did you figure out if I was correct in thinking that the framework `AfterEach` was invoked before the local `AfterEach`? That seems very, very unlikely but that is how it looked in the log.

[2017-09-28 01:45] somejfn commented on #52711
Thanks @liggitt.  This must be the problem.  The cluster is setup with a fresh etcd cluster.    Now I did a quick test changing the APIserver to `--authorization-mode=Node,RBAC` and I get the same error.... do I need to create a CRB for the _system:nodes_ group on top of that ?  Im not up 2 speed on how to use the new Node authorizer.

[2017-09-28 01:46] msau42 commented on #24111
This has been implemented.
/assign

[2017-09-28 01:46] msau42 commented on #24111
/close

[2017-09-28 01:46] #24111 closed

[2017-09-28 01:53] msau42 commented on #39201
StorageClasses are now GA, and we don't support the alpha annotation anymore.  Please remove the alpha annotation from your PVC, and it should use the default storageclass.

[2017-09-28 01:53] WanLinghao commented on #53159
can you give an example in detail?
by the way ,what is fischers, I don't remember k8s has this kind of resources.

[2017-09-28 01:55] msau42 commented on #41485
docs have been updated
/assign

[2017-09-28 01:55] msau42 commented on #41485
/close

[2017-09-28 01:55] #41485 closed

[2017-09-28 01:57] yujuhong opened #53171 "kubelet converts and validates pods multiple times"
To read a pod manifest file from disk (or from the http source), kubelet execute the following code to
 1. Decode a on-disk v1 pod manifest to an internal pod object (the defaults are applied in this process).
 2. Validate the internal pod.
 3. Convert the internal pod back to a v1 pod.
https://github.com/kubernetes/kubernetes/blob/64fde98206fcb764958d62a1a4a03c0420d72b45/pkg/kubelet/config/common

[2017-09-28 01:58] gnufied commented on #41102
/close

[2017-09-28 01:58] #41102 closed

[2017-09-28 01:58] liggitt commented on #52711
there's more info at https://kubernetes.io/docs/admin/authorization/node/

to be authorized by the node authorizer, your node credentials should have group `system:nodes` and username `system:node:<nodeName>`

[2017-09-28 02:00] somejfn commented on #52711
Will do my homework.  Thanks again !

[2017-09-28 02:00] yujuhong commented on #53171
/cc @caesarxuchao for suggestions on defaulting and conversion.

[2017-09-28 02:03] msau42 commented on #44370
/cc @kubernetes/sig-storage-bugs

[2017-09-28 02:19] #52711 closed

[2017-09-28 02:20] resouer commented on #53170
/sig node

[2017-09-28 02:21] ccll commented on #53133
@kubernetes/sig-cluster-lifecycle-feature-requests

[2017-09-28 02:24] #53103 closed

[2017-09-28 02:44] vkamra commented on #53150
@jeffvance - I believe you're right that the framework `AfterEach` is being invoked before the local one. I observe the same in a [different](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-serial/1896#sig-scheduling-schedulerpredicates-serial-validates-maxpods-limit-number-of-pods-that-are-allowed-to-run-slow) test as well, so I don't think it's specific to

[2017-09-28 02:47] liggitt commented on #53159
those are sample resources used as examples/tests

[2017-09-28 02:55] liggitt commented on #53140
network policies fall into the category of objects a cluster-level admin could use to constrain a namespace (similar to resourcequota), and are therefore not included in the list of objects editable by a namespaced admin by default

a relevant discussion happened at https://kubernetes.slack.com/archives/C0EN96KUY/p1504021636000705

[2017-09-28 02:55] #53140 closed

[2017-09-28 02:57] liggitt commented on #53079
does the alpha CI job enable alpha API versions?

[2017-09-28 03:04] nutchalum opened #53178 "New Federation API Resource for ClusterDaemonSets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
I want a to have a new federation api resource _**ClusterDaemonSets**_

**What you expected to happen**:
This works a little like **_DemonSets_** resource.
_**DemonSets**_ makes sure every nodes must have a pod running in it.
_**ClusterDaemonSets**_ makes sure every clusters must have a pod running in it.

For example

[2017-09-28 03:05] nutchalum commented on #53178
/sig federation

[2017-09-28 03:06] gyliu513 commented on #52973
Thanks @diegs, I think that this is fixed in 1.8, close this for now.

[2017-09-28 03:06] #52973 closed

[2017-09-28 03:14] ucookie commented on #49804
i meet the same.
you can try this.
$ cat /etc/kubernetes/apiserver
find the “KUBE_ADMISSION_CONTROL="--admission_control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota"
”
second: delete "ServiceAccount"
finnaly: restart kube-apiserver service

you try "kubectl get pods"

[2017-09-28 03:23] kweisamx opened #53180 "Kubectl binary execute worng"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When I get the kubectl binary with
`curl -LO https://storage.googleapis.com/kubernetes-release/release/`curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt`/bin/darwin/amd64/kubectl
`
from the document [doc](https://kubernetes.io/docs/tasks/tools/install-kubectl/)

I do the step and execute the bi

[2017-09-28 03:26] zjj2wry commented on #53180
what your system? seems you download darwin kubectl

[2017-09-28 03:29] zhxqgithub commented on #39026
@jamstar I have the same problem when i add （ip hostname）in /etc/hosts , you said we should add node names in DNS server , how to config it ,you mean I set something in kube-dns config ???

[2017-09-28 03:31] kweisamx commented on #53180
I use the Linux Mint 18.3, but the kernel is the same like Ubuntu 16.04

[2017-09-28 03:35] #52110 closed

[2017-09-28 03:47] spzala commented on #39505
@k82cn Hi Klaus, wondering if this is still a valid request/issue since docs dir has changed a lot in last few months as part of moving doc files. I also run ./hack/update-generated-docs.sh and I see nothing was changed per git status. I hope I didn't misunderstand the request but wanted to bring the finding to your attention :). Thanks!

[2017-09-28 04:00] zjj2wry commented on #53180
you should download a linux kubectl instead of mac.

[2017-09-28 04:04] jeremywu0127 commented on #43212
still on kubernetes 1.6.4 on aws,  service which type is load balancer in our cluster are all pods-associated, but still have thousands of CLOSE_WAIT

[2017-09-28 04:13] lavalamp commented on #53162
If you really have to do this, a shim that converts etcd3 protocol to DynamoDB is the only option I see. That makes the magnitude of what you'd be undertaking clear. We intend to start using arbitrarily large portions of the etcd3 feature set, so it would have to be a really good shim.

The doc I linked contains a list of the directions we want to evolve in. But we're not ready to do that at the m

[2017-09-28 04:19] hzxuzhonghu commented on #51306
@kow3ns  Though you closed the issue, I think the pvc validation is necessary when create statefultset. Validation should cover all possible parts.

[2017-09-28 04:21] gyliu513 commented on #49792
@euank The reason is that I want to have my own load balance cross different kubernetes clusters via calico host port feature.

Suppose I have two clusters, each cluster have 3 worker nodes, and I want to start 6 pods on each cluster with calico host port, then it will be failed, as I can at most create 3 pods on each cluster on each cluster. But if we can generate the hostPort dynamically, then I

[2017-09-28 04:47] dolftax commented on #53170
@resouer I'm working on this.

[2017-09-28 04:57] kweisamx commented on #53180
oops!
That my fault ,thank you!

[2017-09-28 04:57] #53180 closed

[2017-09-28 05:05] euank commented on #49792
@gyliu513 How is that use case not covered by using a NodePort, and not setting any hostports at all?

[2017-09-28 05:06] dixudx commented on #53171
@yujuhong If no one is working on this, I will take it.

[2017-09-28 05:18] jpiper commented on #49792
@euank

My use case is specifically if I want to be able to access _each_ of the pods in my deployment individually from outside of the cluster (i.e. each pod must be able to identify it's own specific endpoint).

As far as I understand, A NodePort only allows you to load balance between all the pods in the deployment, but in the case of Cassandra (or kafka, HDFS,or another similarly clustered app

[2017-09-28 05:26] eswarbala commented on #53162
@lavalamp Appreciate the explanation. As far as the user benefit in enabling different datastore implementations, it enables K8s usage in environments with certain data policies. I think this [comment](https://github.com/kubernetes/kubernetes/issues/1957#issuecomment-137616217) from 2 years ago about data policy requirements, still stands.  We did consider the etcd3 shim, but it seemed more natura

[2017-09-28 05:42] resouer commented on #53170
@dolftax Please note that the other files I did not mentioned belong to existing folders. For example, `containermanager`.

[2017-09-28 05:44] resouer commented on #53170
@kubernetes/sig-node-pr-reviews Please help to confirm if this refactor is worthy.

@dolftax Please keep a eye on this issue.

[2017-09-28 05:46] gyliu513 commented on #49792
@euank I do not want to use `NodePort` because the `NodePort` will re-direct my request to the pods which may not located on the specified node and thus the performance is bad; With calico host port, I can access the pod directly to get better performance.

[2017-09-28 05:50] xiang90 commented on #53162
@lavalamp @SaranBalaji90

Luckily, etcd already has a 100% compatible built-in shim. We had the plan to do etcd atop cloud spanner, tikv, etc.

All you need to do is to implement a small interface: https://github.com/coreos/etcd/blob/master/mvcc/backend/backend.go#L49-L60. Then you can start a one node etcd as an etcd-shim to that backend.

[2017-09-28 05:54] #52378 closed

[2017-09-28 05:59] Jacobh2 commented on #52462
@dashpole I searched for `Removing container` in the log and found this:
[code]

Then I searched for `eviction manager: attempting to delete unused containers` and found this:
[code]
Directly following each row in the log of this, there was also this logged:
`Sep 17 14:03:48 gke-<CLUSTER-NAME>-default-pool-e103106a-jv06 kubelet[1329]: I0917 14:03:48.067510    1329 helpers.go:1067] eviction manager

[2017-09-28 06:03] Jacobh2 commented on #52462
I ssh into the affected node again and ran `df -h` and there was at most used 37% of disk-usage, so it doesn't look like it was disc-pressure?

[2017-09-28 06:06] stormltf commented on #51835
here，i also have this problem.
v1.7.0     CentOS Linux 7 (Core)   3.10.0-514.el7.x86_64

{"log":"I0926 21:43:19.657117   33651 kubelet.go:1894] SyncLoop (DELETE, \"api\"): \"wireless-4288731784-72rn8_meipu(8e8eeecc-a265-11e7-b693-246e9607517c)\"\n","stream":"stderr","time":"2017-09-26T13:43:19.657380927Z"}

{"log":"E0926 21:43:33.430083   33651 nestedpendingoperations.go:262] Operation for \"\\\"k

[2017-09-28 06:36] Jacobh2 commented on #52462
I also ran `docker stop <container-hash>` on the node, but running `kubectl -n kube-system get pods` still shows:
[code]
But interestingly, the `fluentd-gcp-v2.0-wdsg2` seems to have been restarted recentrly!

[2017-09-28 06:44] resouer commented on #52462
@Jacobh2 As you mentioned above, the iptables on this node has been updated (means kube-proxy container has start to work)? While initContainer in same Pod is still `Waiting`, am I right?

[2017-09-28 07:51] Jacobh2 commented on #52462
@resouer The Init Containers in the kube-proxy pod still has state `Waiting` with reason `PodInitializing`. But I guess the iptables has been updated since the fluentd-pod has been restarted.

[2017-09-28 08:05] m1093782566 commented on #31712
/assign @m1093782566

[2017-09-28 08:09] #48222 closed

[2017-09-28 08:09] #48301 closed

[2017-09-28 08:37] verb opened #53188 "Ephemeral Containers: Allow setting security context"
Ephemeral containers are required to have an empty `securityContext`. We've received some requests to allow the security context to be configured:

- https://github.com/kubernetes/kubernetes/issues/53188#issuecomment-540951404: Using `NET_ADMIN` with ephemeral containers
- https://github.com/kubernetes/enhancements/pull/1272#issuecomment-542149026: More permissive security profile for ephemeral co

[2017-09-28 08:40] r7vme commented on #51835
@stormltf Can you please post your kubelet container configuration?

[2017-09-28 08:42] verb opened #53189 "Ephemeral (Debug) Containers need a configurable pull policy"
Part of #27140, this issue should be resolve before the feature exits alpha.

Ephemeral Containers are currently always created with pull policy Always, which means they will not work with offline installations with pre-pulled images.

**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQuEST

/kind feature
/sig node
/assign @verb

[2017-09-28 08:42] krish7919 commented on #48705
@rocketraman Sorry for the late comment.
I can consistently reproduce this error when the LB facing service restarts. So, if your public facing Kubernetes service is always up, this should not be seen anymore.

[2017-09-28 08:56] diogo-reis commented on #53059
My k8s version  is v1.7.5.

[2017-09-28 09:08] xinxiaogang opened #53191 "All endpoint controller workers stuck at http call because of missing timeout setting"
**What happened**:
We use OpenStack as our cloud provider. We meet an issue that some controllers stuck because all workers routine stuck at http call to OpenStack services because of rabbitmq issues.

Stuck routine call stack:
[code]

Checked the openstack cloud provider that there is no HttpClient.Timeout set which means no timeout during http call. I think we should set at least the default htt

[2017-09-28 09:12] FengyunPan opened #53193 "ServiceController doesn't sync the status of LoadBalancer service into apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
If user creates a loadbalancer service, ServiceController will create a cloud loadbalancer for this service.
If the cloud loadbalancer is broken (or deleted) on cloud, ServiceController doesn't update the status of this service and kubernetes still think that this service is in a normal status.

**What you expected to hap

[2017-09-28 09:14] davidegrohmann commented on #51701
An update, the problem is actually worse now, we not only leak the target pool, but also the firewall rule and health check associated to it.

[2017-09-28 09:23] stormltf commented on #51835
@r7vme
[code]

[code]

[2017-09-28 09:31] FengyunPan commented on #53193
/sig network

[2017-09-28 09:42] dixudx commented on #53191
/sig openstack
/kind feature

@xinxiaogang PTAL PR #53195.

[2017-09-28 10:03] sctlee commented on #46482
Hi, there:
I also encountered this problem “Failed Get Resource Metrics”, but I found I didn't registry heapster api😳.
Is there any docs about how to registry heapster api?

[2017-09-28 10:09] Raffo commented on #39626
I compiled my own kubectl from sources since my initial report and achieved much better performances. Since some release, I did not notice this problem again. I will close the issue now, please feel free to reopen it in case it is needed.

[2017-09-28 10:09] #39626 closed

[2017-09-28 10:10] bay1ts commented on #52694
thanks a lot!!!

[2017-09-28 10:10] #52694 closed

[2017-09-28 11:28] merakdu opened #53199 "how to resize tty by k8sapi"
how to  resize tty by k8sapi,i can not find the rezie api,how to resize it

[2017-09-28 11:30] andyzhangx commented on #53138
@liggitt Yes, and there is a cherry pick PR https://github.com/kubernetes/kubernetes/pull/52962 which is going to fix it in v1.7

[2017-09-28 11:48] andyzhangx commented on #53138
For another issue ```If changing StorageClassName to managed-standard creation of pvc succeeds, but mounting to pod during container creation fails```
That’s because your k8s cluster is based unmanaged VM, you could not attach managed disk to unmanaged VM, you could find detail doc here:
https://kubernetes.io/docs/concepts/storage/persistent-volumes/#new-azure-disk-storage-class-starting-from-v172

[2017-09-28 11:52] dims commented on #51899
@dashpole @liggitt @smarterclayton could it be https://github.com/kubernetes/kubernetes/pull/50350 (based on the last range posted by shyam)

[2017-09-28 11:52] zhangxiaoyu-zidif opened #53200 "[kubectl]kubectl describe/get ds seem not to sync data in time"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I have 20 nodes, which all statify with daemonset.
So 20 daemonset pods should run normally.
While I restart some of these nodes, not counting times, and when I recheck the daemonset pods.
I found that *kubectl describe ds* and *kubectl get ds* both went wrong.
And 20 daemonset pod keep running.

here is the print of above

[2017-09-28 11:55] zhangxiaoyu-zidif commented on #53200
/sig cli

[2017-09-28 11:59] zhangxiaoyu-zidif commented on #53200
more detailed print:
[code]

[2017-09-28 12:01] ITler commented on #53138
Will give it a try with managed VMs. Thank you for your support.

[2017-09-28 12:03] MortenChristiansen opened #53201 "Environment variables containing colon not allowed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**Problem:**
Kubernetes does not support `:` in environment variables. I can see that the subject has recently been discussed in [PR #48986](https://github.com/kubernetes/kubernetes/pull/48986). .NET Core uses `:` to replace config variables as mentioned in [this comment](https://github.com/kubernetes/kubernetes/pull/48986#issuecomment-

[2017-09-28 12:05] shyamjvs commented on #51899
Fyi - I ran two more rounds of bisection after that and found:

Commit 78c82080 is unhealthy:

[code]

and commit 6a314ce3a9cb is healthy:

[code]

The new range is: https://github.com/kubernetes/kubernetes/compare/6a314ce3a9cb...78c82080

[2017-09-28 12:43] dims commented on #51899
/me increases his stakes on https://github.com/kubernetes/kubernetes/pull/50350/commits/9ac30e2c280f61a9629f3334f7e6e6424b7fb5f8

[2017-09-28 13:33] resouer commented on #53201
/sig api

[2017-09-28 13:40] luxas commented on #53133
kube-up has been deprecated for a while, you should not use it for new clusters unless you really have to.
Can you maybe use [kubeadm](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/) instead, which supports this feature?

cc @roberthbailey

[2017-09-28 13:52] jsravn commented on #43988
Is anyone else also seeing messages like
[code]
when this happens? Looks like some bug in dockershim.

[2017-09-28 13:53] liggitt commented on #51899
the commit title certainly seems related, but I've been over that commit a dozen times and don't see *anything* that crosses a boundary outside the kubelet that would affect API server latency. We'll see, I suppose.

[2017-09-28 14:05] zihaoyu commented on #43988
Just an update, we have switched to Calico CNI with k8s v1.7.6. The errors have disappeared.

In v1.7 `--enable-cri` is always `true` I believe.

[2017-09-28 14:06] shyamjvs commented on #51899
Actually one hypothesis I have is because that change (iiuc) makes kubelet send delete pod request only after container has been deleted, maybe the rate/distribution of those calls has changed. While in kubemark, the kubelets are not running any real containers, so they can just immediately delete the pod object (which might be leading to a uniform distribution of those calls). Wdyt?

[2017-09-28 14:08] derekwaynecarr commented on #53170
If you have a PR or branch I can look at, I am +1 on cleaning up the structure.

[2017-09-28 14:08] spzala commented on #39626
@Raffo very nice. Thanks for the quick reply and closing issue!

[2017-09-28 14:09] derekwaynecarr commented on #53170
I cant tell what is a folder or not a folder in this hierarchy, so a branch is probably the best thing I can look at to know what is proposed.

[2017-09-28 14:11] shyamjvs commented on #51899
@kubernetes/sig-node-bugs Does kubelet container GC happen periodically? As in that case, all the containers that are deleted in one batch might lead to a bulk of `delete pods` request at once. Or maybe sth else I'm missing?

[2017-09-28 14:16] liggitt commented on #51899
see the analysis of the delete call distribution in https://github.com/kubernetes/kubernetes/issues/51899#issuecomment-332515008

the first half of the graph and the second have almost identical numbers of delete calls, yet the first half remains perfectly responsive and the second accumulates dramatic latency. I don't think it's as simple as a thundering herd.

[2017-09-28 14:16] shyamjvs commented on #51899
Just finished checking.. commit bcf22bcf6 is also healthy:

[code]

And in the 3 commits left (https://github.com/kubernetes/kubernetes/compare/bcf22bcf6...78c82080), this one is most likely the cause. There's another one touching pod deletion (#51186), but that's some change on the kubectl side and kubectl shouldn't be used in our test nor in any major control-plane component iiuc.

[2017-09-28 14:21] jamstar commented on #39026
@zhxqgithub you need to have your nodes resolution in DNS.  on your nodes, doing a nslookup should work for all your other nodes in your cluster.   I resolved it by standing up a DNS server that had the nodes in it.  I believe it might be possible to add the nodes to kube-dns but i have not done that.

my cluster has 3 dns levels. resolve.conf has  kube-dns is first,  the nodes dns is a second  (o

[2017-09-28 14:26] shyamjvs commented on #51899
@liggitt Could you obtain the graph for an x-range longer than 60s (the deletion happens for > 30 mins)? Was it just a single spike or there are multiple of them? And are they periodic? Maybe those spikes occur when multiple nodes have their gc phase coinciding?

[2017-09-28 14:31] MortenChristiansen commented on #53201
@kubernetes/sig-apps-feature-requests

[2017-09-28 14:37] resouer commented on #53170
@derekwaynecarr Thanks for quick response.

@dolftax Please work out a PR with `[WIP]` in the title for further discussion.

[2017-09-28 14:39] erhudy commented on #47538
Based on the above discussion, I hacked together a proof-of-concept at https://github.com/bloomberg/kubernetes/tree/feature/create-ad-hoc-job-from-cronjob. You can execute something like
[code]
and it will create **blah** from the JobSpec in **some-cronjob**. I feel that this is a sufficient solution and it's not necessary to do anything that would result in API changes, because the nature of this

[2017-09-28 14:47] tvalentyn commented on #5607
Thanks @vishh, I understand that there may be a better way for Kubernetes to manage GPUs devices eventually. It is still work in progress, right?

Since issue refers to mounting any device to the container (including GPU devices), I would still ask stakeholders to clarify current status. We can use `--device` to add devices with docker, but with `kubelet`, AFAIK we don't have such option.  Perhaps

[2017-09-28 14:54] jsravn commented on #43516
https://github.com/kubernetes/kubernetes/issues/48638 may be related - client-go can silently wedge, causing updates to stop reaching the apiserver without any visible logs. I also suspect there are some other wedging/apiserver/etcd problems that cause lost updates (I'm looking at one right now which seems to follow a PLEG failure, only a kubelet restart fixes it :|). But it's very hard to get to

[2017-09-28 15:00] stephanlindauer commented on #37705
@KptnKMan any result on your investigation?

[2017-09-28 15:03] jsravn opened #53207 "kubelet status updates wedging after failed CRI call"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
Occasionally our nodes stop reporting their status to apiserver, and get marked as NotReady. However, they remain connected to the apiserver and receive the update to delete all their pods - which they do.

[code]

In this example, the node last reported at 7:55:44.

This always seems to happen after I see thes

[2017-09-28 15:05] shyamjvs commented on #51899
cc @dashpole @dchen1107

[2017-09-28 15:11] pvanderlinden commented on #40908
I have a similar problem. The pod:
- container 1: python application providing queuing to control the workload
- container 2: java application: standford corenlp http server

The reason container 1 needs to be stopped is because it will warm up the second container (which takes about a minute), before connecting to the broker.

[2017-09-28 15:12] liggitt commented on #51899
![screen shot 2017-09-28 at 11 12 19 am](https://user-images.githubusercontent.com/980082/30974571-f7623de8-a43d-11e7-9302-644662e55418.png)
![screen shot 2017-09-28 at 11 12 01 am](https://user-images.githubusercontent.com/980082/30974570-f75ef336-a43d-11e7-8c0e-29096f21fc58.png)

[2017-09-28 15:31] jennybuckley commented on #53079
@liggitt this file has AllAlpha=true

Maybe ci-kubernetes-e2e-gce-alpha-api would be better?

[2017-09-28 15:58] shyamjvs commented on #51899
Beautiful! Thanks a ton for the graphs.
So it indeed seems quite periodic.. Btw - I think the 2 minutes pattern is related to how we're deleting the saturation pods (that I explained in https://github.com/kubernetes/kubernetes/issues/51899#issuecomment-332577238) towards the end of the density test. We're deleting those RCs (each has 3000 replicas) at approx 2 mins interval:

[code]

The no. of th

[2017-09-28 15:59] caseydavenport commented on #49792
@gyliu513 As mentioned above, you could use a service-per-pod.  Then, so long as you know the node that the Pod is running on (which you need to anyway for the hostPort approach) and you direct your traffic to that node then the traffic won't get redirected and will behave similar to hostPorts.

Would that work for your case?

[2017-09-28 16:09] dolftax commented on #53170
@resouer Working on it.

[2017-09-28 16:15] dashpole commented on #52462
The `Removing container` line should come from here: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kuberuntime/kuberuntime_container.go#L813.
However, it looks like it is logged with V(4), so it may not appear in your logs...

[2017-09-28 16:16] dashpole commented on #52462
`eviction manager: attempting to delete unused containers` is only triggered under disk pressure, so you definitely had disk pressure at some point in the past.  But we do not know for sure if the container was removed by kubelet garbage collection.

[2017-09-28 16:16] shyamjvs commented on #51899
fyi - I confirmed that it is this PR that's causing the issue. The commit just before it is healthy:

[code]

Options we have:
- revert the commit and then fix the issue in 1.9 (I prefer this, unless the fix is trivial enough to go into 1.8)
- fix it - potentially pushing the release further behind (if we also want to have enough confidence on release quality)
- let it be and document this as a kn

[2017-09-28 16:16] liggitt commented on #51899
I can see how waiting for container gc on the kubelet side before issuing the delete API call would batch the delete calls. Seems like a kubelet-induced thundering herd, when deleting massive numbers of pods across massive numbers of nodes. kubemark's gc is stubbed since there are no real containers, so this isn't observed there

[2017-09-28 16:19] shyamjvs commented on #51899
Yup.. what I was thinking too - https://github.com/kubernetes/kubernetes/issues/51899#issuecomment-332847171

[2017-09-28 16:28] liggitt commented on #51899
cc @dashpole @vishh @dchen1107
from introducing PR (https://github.com/kubernetes/kubernetes/pull/50350)

[2017-09-28 16:36] dashpole commented on #51899
I can post a PR to revert the key portion of #50350.

[2017-09-28 16:37] jdumars commented on #51899
@dashpole thank you!

[2017-09-28 16:40] shyamjvs commented on #51899
I guess we should also wait until the fix is tested too (add ~2 more hours for it).

[2017-09-28 16:51] dashpole commented on #51899
PR posted: #53210

[2017-09-28 16:51] filmil opened #53211 "Use of KUBERNETES_RELEASE env variable doesn't consistently work for semver labels."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Not possible to update a K8S release using the documented `$KUBERNETES_RELEASE`.
See below.  Using a `-rc1` suffix will fail.  But 1.8.0 is not released yet, so can't specify that either.

[09:45:32] fmil@fmil:~/tmp/k8s
$ KUBERNETES_RELEASE=v1.8.0-rc1 ./script.sh
'kubernetes' directory already exist. Should we skip downl

[2017-09-28 16:54] dchen1107 commented on #51899
@dashpole and I had an offline discussion, and plan to revert portion of #50350. The original pr was introduced because without that change, Kubelet disk eviction manager might delete more containers unnecessarily.

We should improve disk management with more intelligence to take proactive action, instead of relying on the periodical gc.

[2017-09-28 16:54] filmil opened #53212 "Install script refuses to work with the existing downloaded k8s release"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[09:52:14] fmil@fmil:~/tmp/k8s
$ ./script.sh
Found preexisting kubernetes.tar.gz, release v1.8.0-rc.1
Downloading kubernetes release v1.7.6
  from https://dl.k8s.io/v1.7.6/kubernetes.tar.gz
  to /usr/local/google/home/fmil/tmp/k8s/kubernetes.tar.gz
Is this ok? [Y]/n
n
Aborting.

**What you expected to happen**:
I would ha

[2017-09-28 16:55] jessicaochen opened #53213 "No Ability to Skip Certain Upgrade Tests"
There is no way to choose to skip certain upgrade tests as they are [hardcoded](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/lifecycle/cluster_upgrade.go#L42). This is problematic when some of the upgrade tests make assumptions that may not apply to a setup (eg. StorageClass, heapster, cloud provider).

/kind bug

[2017-09-28 16:55] jessicaochen commented on #53213
/cc @luxas @krousey

[2017-09-28 16:56] knepperjm commented on #37205
Does this flag even exist any longer?

[2017-09-28 16:56] filmil commented on #53212
Sorry, no idea what sig is appropriate, so didn't label.

[2017-09-28 16:57] jessicaochen commented on #53213
/sig cluster-lifecycle

[2017-09-28 16:58] Jacobh2 commented on #52462
Ok, interesting. Does this mean that you cannot have a node-disk at 32 GB, or the fact that I now appear to have ~63% free that it apparently succeeded to clear unneeded files, but that the disk pressure also triggered this problem?

[2017-09-28 17:00] luxas commented on #53213
cc @kubernetes/sig-cluster-lifecycle-bugs @kubernetes/sig-testing-bugs @krousey

[2017-09-28 17:01] luxas commented on #53133
But generally, should kube up add this functionality anymore?

[2017-09-28 17:05] yujuhong commented on #52462
I think it's the later. The node was under disk pressure, and the GC kicked in and cleaned up the space. The only thing was that there was a bug that caused the exited init container to be cleaned up in the process too.  @dashpole's PR should fix that.

[2017-09-28 17:08] gnufied opened #53214 "Multi Attach PVC errors and events are too noisy"
/kind bug

We have heard from multiple users that - whenever they do a rolling deployment, this error pops up and it causes unnecessary churn since eventually detach succeeds and error goes away.

We need to find a middle ground and perhaps log this error more "responsibly" .

cc @kubernetes/sig-storage-bugs @sjenning

[2017-09-28 17:08] Jacobh2 commented on #52462
Cool! Thank you for all your help and information! Hope to see Google cherry-picking this fix into 1.7.X soon!

[2017-09-28 17:09] gnufied commented on #53214
/assign

[2017-09-28 17:14] SleepyBrett opened #53215 "Docker version not parsed properly. (17.06.1-ce)"
/kind bug

**What happened**:
I haven't seen any ill effects of this yet, but they may be subtle and I haven't had a chance to rundown the codepaths.

Error in my 1.7.6 kubelet logs:
Unable to parse docker version "17.06.1-ce": illegal zero-prefixed version component "06" in "17.06.1-ce"

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
Install a

[2017-09-28 17:17] krousey commented on #53213
This is an unfortunate side effect of how the upgrade tests had to be written. Because of the way Ginkgo's test runner works, the upgrade tests had to be written as a single Ginkgo test case to allow for the level of coordination needed. The fact that they show up as separate rows is only because the upgrade framework writes out its own JUnit files. This means that Ginkgo focus and skip flags don'

[2017-09-28 17:21] Calpicow commented on #50878
Further testing shows it does not happen with `--cgroups-per-qos=false` and `--enforce-node-allocatable=` set in kubelet.

[2017-09-28 17:23] roberthbailey commented on #53133
kube-up is already really flexible (since we've historically used it to e2e test new features) so much of the configurability is already there, just really difficult to discover and use.

We've been only adding new features to kube-up to enable testing and aren't planning to take feature requests for general functionality improvements. But since most new features require testing, the side effect o

[2017-09-28 17:24] yujuhong commented on #53215
kubelet should only parse the docker API version, not the docker engine version.
What's the output of `docker version`?

[2017-09-28 17:26] MrHohn commented on #51701
@davidegrohmann Sorry, this fell of my radar.

Sounds like you are on GKE? If so, I think many of the master logs are not visible to user.

It shouldn't matter how you delete the service, eventually the service deletion operation is passed into service controller, which should correspondingly cleanups the LB resources.

In GCE cloud provider implementation, target pool deletion is coupled with fir

[2017-09-28 17:29] mml opened #53216 "Bug in "validates resource limits of pods that are allowed to run""
[This](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scheduling/predicates.go#L233) is the test.  It uses cached results from listing the nodes, and they are inaccurate by the time the test runs.  In particular, the cached size is usually the full size of the machine (2000 millicores in my tests), but by the time the test runs, the kubelet has reduced the machine size to 1930 milli

[2017-09-28 17:31] mml commented on #53066
@bsalamat see my analysis in #53216.

[2017-09-28 17:32] mml commented on #53216
cc @bsalamat

[2017-09-28 17:40] MrHohn opened #53217 "[CLEANUP] Service controller should not import node label constants from kubeadm"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Ref https://github.com/kubernetes/kubernetes/pull/44745, https://github.com/kubernetes/kubernetes/pull/53146.

service_controller pacakges imports couple node labels constants from kubeadm, which will eventually be moved to https://github.com/kubernetes/kubeadm.
https://github.com/kubernetes/kubernetes/blob/422f5e37b9b4570

[2017-09-28 17:40] MrHohn commented on #53217
/sig network

[2017-09-28 17:42] caesarxuchao commented on #49391
cc @janetkuo

[2017-09-28 17:47] janetkuo commented on #49391
From https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#making-a-new-api-version:

However it's not done in 1.8, so the doc should be updated.

I'm also curious about the rule of group and version number in the priority list. I'm adding a new API version `apps/v1` in 1.9.

[2017-09-28 18:15] bsalamat commented on #53216
Thanks @mml for looking into it. I was also working on this in parallel yesterday and [my PR](https://github.com/kubernetes/kubernetes/pull/53169) should address the problem that you have observed as well. The new code creates one pod per node and does not use "all" the CPU on a node. It uses most of the CPU and leaves some room for overheads. So, I believe it will address the problem.

[2017-09-28 18:15] pmichali commented on #25543
@Random-Liu, @alexbrand I'm seeing the same issue when running kubeadm-dind-cluster, where kube-proxy is failing to come up, because it is trying to write to /sys/module/nf_conntrack/parameters/hashsize. This is on the filesystem sysfs, which "mount" shows is rw (so it passes the R/W check in kube-proxy code), but the filesystem is not writeable.

Within kube-proxy:
sysfs on /sys type sysfs (rw,no

[2017-09-28 18:40] mml commented on #53216
Closing this as a dup of #53066

[2017-09-28 18:40] #53216 closed

[2017-09-28 18:58] leblancd commented on #1443
I have created a [Kubernetes IPv6 deployment guide](https://github.com/leblancd/kube-v6) based on a forked release containing several outstanding PR's. The guide will be transitioned into upstream Kubernetes documentation for the 1.9 release. Feel free to use the guide in the interim for test/dev efforts. I would appreciate any feedback.

[2017-09-28 19:01] liggitt commented on #53004
strawman text for release note known issue:

[2017-09-28 19:01] yujuhong opened #53221 "RFC: Validate Docker against the Docker API versions"
Forked from discussion in https://github.com/kubernetes/kubernetes/issues/42926#issuecomment-332657084 and https://github.com/kubernetes/kubernetes/issues/42926#issuecomment-332676692.

**Problem**

Questions were raised that the validated Docker version (1.13.1/17.06-CE) has already been EOL'd before kuberentes v1.8 is release. Although some users may get longer support terms from commercially -s

[2017-09-28 19:01] yujuhong commented on #42926
FYI, I filed a new issue for using the docker API version: #53221

[2017-09-28 19:07] leblancd commented on #1443
@valentin2105 : Services/externalIPs should work with required cherry picks. See the [Kubernetes IPv6 deployment guide](https://github.com/leblancd/kube-v6) which refers to [Kubernetes IPv6 Version v1.9.0-alpha.0.ipv6.0](https://github.com/leblancd/kubernetes/releases/tag/v1.9.0-alpha.0.ipv6.0). I would appreciate any feedback.

[2017-09-28 19:10] dchen1107 commented on #53221
Thanks for filing the proposal, @yujuhong. I included this topic for next week's sig-node. cc/ @euank could you also join the sig-node meeting next Tuesday at 10:00am?

[2017-09-28 19:11] dchen1107 commented on #53221
cc/ @jdumars 1.8 release manager for the inputs on the release quality.

[2017-09-28 19:12] mml commented on #51422
Yes.  That bug is #44005.

[2017-09-28 19:15] mml commented on #50121
FYI #44005 is a bug for a future API linting tool that would have caught this.

[2017-09-28 19:30] lachie83 commented on #1443
@leblancd thank you very much for putting this together!

[2017-09-28 19:40] jdumars commented on #51899
While this is in the 1.9 milestone, there is every expectation that this will be resolved at the earliest responsible moment in a 1.8 patch release.  The full decision-making process around this can be viewed at https://youtu.be/r6D5DNel2l8

[2017-09-28 19:44] leblancd commented on #1443
@lachie83 : YW on behalf of the IPv6 working group: @danehans, @pmichali, @rpothier, @aanm, and the sig-network team.

[2017-09-28 19:46] ironcladlou opened #53224 "Promote alternate API representations to beta"
This is to track a discussion around promoting alternate API resource representations (https://github.com/kubernetes/kubernetes/pull/33900, https://github.com/kubernetes/community/pull/123) to beta. More specifically, the `PartialObjectMetadata` type via `Accept` header media type parameters is important for:

* Garbage collector optimization (https://github.com/kubernetes/kubernetes/issues/49718,

[2017-09-28 20:14] thockin commented on #48675
I am looking at ways to make this clearer and easier to debug

[2017-09-28 20:25] janetkuo commented on #52271
I believe this is a bug introduced by #51911, therefore mark this as a bug instead of feature.

etcd will also be removed by `make clean`, which isn't right.

[2017-09-28 20:27] dims commented on #53215
@SleepyBrett yes please show us your `docker version` as @yujuhong mentioned.

Also fyi, looking at the code in 1.7.x branch, a couple of validations are skipped if we are not able to parser the docker api version, see here:
https://github.com/kubernetes/kubernetes/blob/release-1.7/pkg/kubelet/dockershim/cm/container_manager_linux.go#L94

[2017-09-28 20:30] krmayankk commented on #53006
thanks @crassirostris my preference would be to keep the default as no buffering when making it configurable. I didnt understand how does one setup "synchronous write in your deployment" and how that will affect audit logs reaching disk. My worry is mainly around a crash where the buffered audit logs dont reach the disk and are lost

[2017-09-28 20:36] jdumars commented on #53221
I'll try and attend the SIG meeting if I can.  At first glance, I think this seems very reasonable.  It might be worth review in SIG Architecture as well.  @bgrant0607 and @jbeda might have some additional input.

[2017-09-28 20:39] yujuhong commented on #53221
/cc @abgworrall

[2017-09-28 20:40] rocketraman opened #53226 "Azure CNI IP addresses exhausted, old pod IPs not being reclaimed?"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:

I have a Kubernetes 1.7.5 cluster which has somehow gotten into a broken state. Scheduling a new deployment fails. The events are:

[code]

The dashboard looks like this:

![image](https://user-images.githubusercontent.com/53049/30989414-a1cad736-a46b-11e7-84f0-4a65ea066b3f.png)

Eventually, the dashboard show

[2017-09-28 20:43] rocketraman commented on #53226
@kubernetes/sig-node-bugs

[2017-09-28 20:43] caesarxuchao commented on #53224
/sub

[2017-09-28 20:50] cblecker commented on #52271
@janetkuo where is the local etcd being stored? do you have details on the bug?

[2017-09-28 20:55] mml commented on #52271
Are you talking about builds that take place *outside* of a docker container (or bazel sandbox)?  I don't think we should offer any guarantees about getting a good build outside of docker or a bazel sandbox.

If our containerized build is pulling in the wrong files, though, it seems we could fix that by writing code that is more specific about what it includes.

[2017-09-28 20:59] rocketraman commented on #53226
Adding @kubernetes/sig-azure-bugs since this appears to be an issue with allocation of IP addresses using the Azure CNI plugin.

[2017-09-28 20:59] lavalamp commented on #52271
Yeah this is a terrible thing to do to people, I have all sorts of stuff in some of my kubernetes directories that I would not be happy if make clean obliterated.

[2017-09-28 21:00] caesarxuchao commented on #52271
I have dozens of utility shell scripts and example yaml files that are ignored via `.git/exclude/info`. I lost all of them after `make clean` T_T

[2017-09-28 21:02] #52999 closed

[2017-09-28 21:10] lavalamp commented on #52511
I think there is one concrete problem that everyone can agree on:

* authz webhook doesn't respect the networking rules. Given the input mechanism, it ought to:
  * parse the DNS name
  * if it's a k8s service, use the service resolver to find an endpoint
  * use the dialer to dial the endpoint

This would at least make it possible to dial out to nodes in all possible cluster configurations and re

[2017-09-28 21:14] janetkuo commented on #52271
etcd installed by hack/install-etcd.sh is in .gitignore too, so gets deleted by `make clean`:

https://github.com/kubernetes/kubernetes/blob/b6f6419423fc372a5e0a039153ff24b203ef8d8f/.gitignore#L60-L62

[2017-09-28 21:21] bgrant0607 commented on #53221
@jdumars This is squarely within the domain of SIG Node.

[2017-09-28 21:31] ncdc commented on #53199
@merakdu assuming you want to do this via an interactive exec or attach session, take a look at `pkg/kubectl/cmd/exec.go`, specifically the part that calls `t.MonitorSize()` and where the `sizeQueue` is passed to `p.Executor.Execute()`.

[2017-09-28 21:44] lavalamp commented on #53162
@eswarbala I'm not aware of a big Kubernetes user blocked by such a policy. But assuming they exist, we have to balance that sort of request with what is healthy for the project.

I won't deny that orgs often have bizarre policies. But to me (and speaking strictly for myself here) a policy which is read to mean that Kubernetes can't use etcd ought also be read to mean that e.g. windows can't use i

[2017-09-28 21:54] MrHohn commented on #52580
Tests are not longer failing on those jobs.

/close

[2017-09-28 21:54] #52580 closed

[2017-09-28 21:59] #53150 closed

[2017-09-28 22:13] sc68cal commented on #40367
It was not a one time error. I ran it multiple times, tried multiple different configurations over a period of two weeks before I gave up on it.

So, feel free to close the issue, however I wonder how well this way of deploying kubernetes is really supported.

[2017-09-28 22:25] dchen1107 commented on #53170
Thanks for taking the task to clean up the code structure, and am looking forward to reviewing your pr. But I am not sure what you proposed above is the right sub-dirs structure.

[2017-09-28 22:31] cheftako commented on #53159
As @liggit mentioned they are our aggregator sample resources. The code for them can be found under https://github.com/kubernetes/kubernetes/tree/master/staging/src/k8s.io/sample-apiserver. We currently have to resources there flunders and fischers. I recently changed flunders to be a namespaced resource but left fischers as a not namespaced resource so we could test both behaviors.

[2017-09-28 22:34] liggitt commented on #53159
That was the intent as well, as the RootScopedResources portion of the registration indicates. The strategy was a copy/paste error we should figure out how to make impossible

[2017-09-28 23:18] xsgordon commented on #40367
@sc68cal indeed. We have added a note.to the v1.8 release notes deprecating it in preparation for potential removal (https://github.com/kubernetes/features/pull/481). I have had reports that users have run it successfully on v1.7 though.

[2017-09-28 23:37] cblecker commented on #52271
@janetkuo Got it. Yeah, that's a problem.

I opened https://github.com/kubernetes/kubernetes/pull/53235 to move to a back to a static list of files to clean. It is more correct than a revert as it adds missing patterns, and it's safer than an `rm -rf`.

[2017-09-28 23:53] spzala commented on #40367
@sc68cal thanks for the quick reply! and @xsgordon thanks much Steve for sharing the deprecation PR and success with the latest version. I believe it's safe to close the issue now. @dims please close it if you think so too. Thanks!!

[2017-09-29 00:20] smarterclayton commented on #53224
I need to get the proposal cleared.

Right now we have two alpha features in place that leverage it (but are not consumed externally):

1. Server side get (Table) which was continued but not completed in 1.8
2. PartialObjectMetadata, intended for garbage collector.

The outstanding negotiation issue was raised in the proposal was "familiar name" mime types like `application/json+meta.k8s.io+v1+tab

[2017-09-29 00:45] ncdc commented on #51046
What about just having `UnstructuredObjectConverter`'s `ConvertFieldLabel` just return the passed in label and value without any "conversion" for now?

[2017-09-29 00:54] resouer commented on #53207
/sig node

[2017-09-29 01:05] resouer opened #53236 "Tracking work to deprecate alpha taint key and camelCase taint key"
Original bug report: #51246

However, this is a issue which may break existing user's system, we should make sure everything is under control during fix. Use this umbrella issue to track all work across the kubernetes org.

PR: use `not-ready` taint and auto replace `notReady` taint on node with it. #51266
- [x] with release-note
- [x] with proper milestone (1.9)
- [x] with tests
- [x] pass final

[2017-09-29 01:09] dchen1107 commented on #53207
@jsravn Thanks for reporting this. Yes, having goroutine dump might help to understand this infrequent failure.

[2017-09-29 01:12] liggitt opened #53237 "CertificateManager blocks kubelet start if auto-approval is not enabled"
Reported in https://github.com/kubernetes/kubernetes/pull/53231

Scenario (CentOS 7):
- install 1.7.x packages for kubelet on nodes.
- install cluster with kubeadm init stable-1.7
- use kubeadm to upgrade control plane to 1.8.0-rc.1
- on nodes which still run 1.7.x kubelet, install new rpms for 1.8.0.rc.1 where certificate-rotation is enabled.
- systemctl daemon-reload, systemctl restart kubelet.

[2017-09-29 01:21] hzxuzhonghu commented on #53006
@krmayankk  if use buffer, audit events lost is inevitable when crash. As like webhook backend, still exist this risk. But to improve apiserver qps, something should comprise. By the way, we still reserve the synchronous write mode, which is configurable.

[2017-09-29 01:26] ericchiang commented on #53237
I think this is because of the bootstrap kubeconfig flag. If you only provide the cert rotation flag it should only bootstrap in the background. That's what we where doing for bootkube where we need to start static pods while we're doing our initial cert rotation

[2017-09-29 01:27] dolftax commented on #53170
Sure. Will discuss over the PR. That would be better.

[2017-09-29 01:33] kad commented on #53237
a bit of debug shown that `getCurrentCertificateOrBootstrap()` returns on the last line `return &bootstrapCert, true, nil`. So, kubelet has valid cert, but still wants to rotate it. That in theory should be a valid scenario.
Question is: why it's not automatically approved then ? Even if cert will be in proper place, does that mean that automatic rotation wouldn't work for expired certs ? Or I'm m

[2017-09-29 01:35] liggitt commented on #53237
no, it's because when a `--kubeconfig` file is provided containing only cert/key data, the cert manager blocks on Start() until a CSR is approved

[2017-09-29 01:36] liggitt commented on #53237
proposed fix in https://github.com/kubernetes/kubernetes/pull/53238

[2017-09-29 01:38] timothysc commented on #53237
/cc @mattmoyer

[2017-09-29 01:41] liggitt commented on #53237
@luxas what does `kubeadm` set up for auto-approval of node self certificate requests during an upgrade to 1.8?

[2017-09-29 01:45] liggitt commented on #53237
@kubernetes/sig-auth-bugs for cert manager hang
@kubernetes/sig-cluster-lifecycle-bugs for kubeadm auto-approval setup issues upgrading to 1.8

[2017-09-29 01:47] msau42 commented on #51431
For the immediate term, we'll fix this GCE issue by making the filesystem mount pts and block devices for local SSDs have a UID in their file name.

Then if a pod tries to mount an old volume, it will get a "path does not exist" error.

[2017-09-29 01:49] msau42 commented on #51431
/cc @davidz627

[2017-09-29 01:52] liggitt commented on #53237
looks like kubeadm upgrade instructions indicate approval of CSRs for upgrades nodes is expected:

http://kubernetes-io-vnext-staging.netlify.com/docs/tasks/administer-cluster/kubeadm-upgrade-1-8/

I'd expect that only to be required once certs expired, not automatically required as part of upgrade

[2017-09-29 01:58] pipejakob commented on #53237
@liggitt Yeah, I [added](https://github.com/kubernetes/kubernetes.github.io/pull/5678) that step to the kubeadm upgrade instructions last-minute today when the problem was discovered and we didn't think we would have a solution in time for 1.8.0. Manually approving the CSRs seems to work fine, but is a less-than-stellar upgrade experience.

[2017-09-29 02:00] liggitt commented on #53237
lowering priority a notch, since the upgrade procedure is at least documented, and `--rotate-certificates` does not default to true for all installations (specific deployment methods like kubeadm enable it)

[2017-09-29 02:08] pipejakob commented on #53237
In case it helps, kubeadm 1.8 code for starting the controller manager is [here](https://github.com/kubernetes/kubernetes/blob/release-1.8/cmd/kubeadm/app/phases/controlplane/manifests.go#L207), and the RBAC rules for auto-approval are [here](https://github.com/kubernetes/kubernetes/blob/release-1.8/cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.go#L69).

[2017-09-29 02:09] pipejakob commented on #53237
Also, I'm not sure if we have any other docs that need to be updated regarding upgrading kubelet, since this isn't a kubeadm-specific problem.

[2017-09-29 02:09] liggitt commented on #52622
barring evidence that the polling causes any issues, the additional complexity doesn't seem appropriate

[2017-09-29 02:09] #52622 closed

[2017-09-29 02:15] zjj2wry commented on #52787
@mahdix `kubectl create command` now just add image, because we want it enough simple. but now 1.8 support `kubectl set env command`. you can use `kubectl create deploy a --image=xxx --dry-run -o yaml | kubectl set env --local -f - 'env=prod' -o yaml `. hope this can help you

[2017-09-29 02:18] liggitt commented on #53237
the combination of enabling rotation and not setting up auto-approval is what bit kubeadm here

* `--rotate-certificates` is a deployment-specific choice, and is not true by default. `kubeadm` is the only deployment I see that enables it on upgrade to 1.8
* the auto-approval rules at https://github.com/kubernetes/kubernetes/blob/release-1.8/cmd/kubeadm/app/phases/bootstraptoken/node/tlsbootstrap.g

[2017-09-29 02:19] dims commented on #40367
/assign

Thanks @spzala @xsgordon @sc68cal

[2017-09-29 02:19] dims commented on #40367
/close

[2017-09-29 02:19] #40367 closed

[2017-09-29 02:20] pipejakob commented on #53237
Ah, understood. It wasn't until I was looking at the RBAC rules myself just now that I realized we must have missed that. Definitely needs to get fixed in kubeadm.

[2017-09-29 02:25] itowlson commented on #47543
The existing tests around validation are a bit confusing.  The `TestCloudDefaultConfigFrom*` tests (which are really just testing that backoff and rate limiting are defaulted to false, not testing any other defaults) expect to be able to use a config JSON/YAML containing only the AAD client ID and secret, e.g. no resource group ID.  Is that really a valid cloud config?

[2017-09-29 03:02] dearboll commented on #51010
@msau42  It works. Thank you all very much.

[2017-09-29 03:03] #51010 closed

[2017-09-29 04:18] #52462 closed

[2017-09-29 04:23] ccll commented on #53133
@roberthbailey Thanks! I'll try `RUNTIME_CONFIG` and `kubeadm`.
Closing now.

[2017-09-29 04:23] #53133 closed

[2017-09-29 04:31] lumjjb opened #53243 "Running of Initializers and GenericAdmissionWebhook seem to be out of order."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
With `Initializers` and `GenericAdmissionWebhook` enabled. When an initializer for a `pod` was registered and a webhook registered for operations `CREATE, UPDATE` for  resources `pods` was created.
Upon creation of a `pod`, the webhook was provided the action to allow/deny the pod before the initializer was allowed to ini

[2017-09-29 04:39] lumjjb commented on #53243
/sig api-machinery

[2017-09-29 04:44] pipejakob commented on #53237
I've created a PR for the documentation fix for kubeadm upgrades: https://github.com/kubernetes/kubernetes.github.io/pull/5683

We still need a kubeadm code fix to add the RBAC rules, hopefully to get into 1.8.1.