[2019-11-07 17:38] mark007 commented on #84935
@kubernetes/sig-usability-feature-requests

[2019-11-07 17:46] krzysied commented on #84931
Apiserver logs (ragrding node status):
[code]

[2019-11-07 17:49] cprivite commented on #74151
Just to clarify since this seems to be sitting stale for a while, I believe @bazzargh is saying that being able to set to "vm.panic_on_oom = 1" would be a desirable thing to do nowadays and kubelet is still preventing people from doing so.

[2019-11-07 18:01] sethp-nr commented on #77019
I've not made any progress against this ticket, and as far as I know it's still an issue. However, I haven't seen it in a long while since our tooling's better about populating the tags before the controller-manager looks for the security groups.

[2019-11-07 18:03] #76085 closed

[2019-11-07 18:10] clarklee92 commented on #84928
I think the resource prefix is necessary, and there are many ways to implement your usage. The change is not worth it for k8s.

[2019-11-07 18:17] krzysied commented on #84931
Can someone give a hint what sets the pod ready status to true, when node is ready again?

[2019-11-07 18:39] andrewsykim commented on #82163
Been steeping on this for a bit now and I'm not sure there's much we could change. The biggest limitation is that we **need** to bind addresses to a dummy device, otherwise local routes aren't picked up by the kernel -- and as a result, a process binding to 0.0.0.0 on the host also binds to addresses on the dummy device (i.e. cluster IPs). Even if we don't use a dummy interface, we still need to b

[2019-11-07 18:43] alculquicondor commented on #72547
I can think of 2 nexts steps that could happen in any order:

1. Flatten `Configurator` and `ConfigFactoryArgs`: basically make them a single struct by:
  1. exporting the fields in `Configurator` that correspond to `ConfigFactoryArgs`.
  1. Get rid of `NewConfigFactory`. This can be something like `Configurator.setup` that is called before any of the `Configurator.Create*` methods.
1. Make `Confi

[2019-11-07 18:47] alculquicondor opened #84936 "Improve performance of EvenPodSpread (priority and predicate)"
In the light of a new performance test that compares EvenPodSpread with SelectorSpread (#84606), it seems that EvenPodSpread can be faster.

Let's investigate if we can achieve parity by carefully building the data structures.

/sig scheduling

[2019-11-07 18:54] alculquicondor opened #84938 "update-bazel.sh fails"
**What happened**:

[code]

**What you expected to happen**:

Command runs and bazel dependencies are updated.

**How to reproduce it (as minimally and precisely as possible)**:

Execute the command with go 1.13.4, on master

**Anything else we need to know?**:

I'm not sure if this only affecting me. However, this was working yesterday, before #82809. I installed go from official source and start

[2019-11-07 18:54] dims commented on #81760
/close

TL;DR we are not moving the binary/image from k/k, we have an alternative container image based on a script now.

[2019-11-07 18:54] #81760 closed

[2019-11-07 18:55] alculquicondor commented on #84938
/sig release

cc @liggitt

[2019-11-07 19:02] Jefftree opened #84940 "pull-kubernetes-conformance-image-test failing"
**Which jobs are failing**:

pull-kubernetes-conformance-image-test (dev, 1.14, and 1.15)

**Since when has it been failing**:

Seems to be failing since a month ago: https://prow.k8s.io/job-history/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-conformance-image-test?buildId=1181331007953965056

**Testgrid link**:

https://k8s-testgrid.appspot.com/conformance-all#conformance-image,%20master

[2019-11-07 19:14] liggitt commented on #84938
I cannot reproduce. What do you get when you do the following:

[code]

[2019-11-07 19:17] liggitt commented on #84928
the name output works as an input to `kubectl get`

if you want alternate output, you can use -o jsonpath and extract one or more fields yourself

/close

[2019-11-07 19:17] #84928 closed

[2019-11-07 19:37] patoarvizu commented on #81020
I think it's because the `nodeSelector` in your pod doesn't match the `nodeAffinity` in your `PersistentVolume`. You're requesting a volume in `node4` but asking to schedule the pod in `node2`, so Kubernetes won't ever be able to bind them together.

[2019-11-07 19:51] liu-cong opened #84943 "Scheduler service_affinity_test.go should use a fake SharedInformerFactory and call New"
**What would you like to be added**:
The test should call service_affinity.New directly instead of creating predicates and priorities. This requires a fake SharedInformerFactory to be used as an option for the framework. The fake SharedInformerFactory should return a fake service lister that returns the services in test.

There might be other cases like this too. We should fix them.

https://githu

[2019-11-07 20:07] alculquicondor commented on #84938
[code]

And then the same failure when running `./hack/update-bazel.sh:29`

[2019-11-07 20:11] liggitt commented on #84938
what does `go env` show for you?

[2019-11-07 20:19] alculquicondor commented on #84938
[code]

[2019-11-07 20:24] alculquicondor commented on #84938
FWIIW, `update-codege.sh` just works, which uses `make` and `kube::util::find-binary`. Is it worth moving update-bazel to make?

[2019-11-07 20:25] liggitt commented on #84938
no, the existing make stuff actually has to be rewritten to work with go modules... we don't want to move more stuff to it

[2019-11-07 20:26] liggitt commented on #84938
my `go env` looks very similar to yours, and I still can't reproduce this :-/

[2019-11-07 20:31] alculquicondor commented on #84938
Maybe it's a bug in go for linux? I'll ask folks if they can reproduce.

[2019-11-07 20:33] liggitt commented on #84938
does the `go install` that exits with code 1 give any more info?

[2019-11-07 20:46] PatrickLang commented on #84804
per @jterry75 this should work in containerd/cri

https://github.com/containerd/cri/blob/9f79be1b887af3df40f1e807ad2a1aedf0b931ad/pkg/containerd/opts/spec_windows.go#L137

[2019-11-07 20:51] alculquicondor commented on #84938
Yes, basically that it's not resolving vendors and it only looks into the GOPATH:

[code]

[2019-11-07 21:20] jennybuckley commented on #84797
/assign @cheftako

[2019-11-07 21:20] jennybuckley commented on #84797
/assign @logicalhan

[2019-11-07 21:21] jennybuckley commented on #84805
/remove-sig api-machinery

[2019-11-07 21:22] jennybuckley commented on #84850
/assign @tedyu

[2019-11-07 21:22] jennybuckley commented on #84880
/assign @sttts

[2019-11-07 21:23] jennybuckley commented on #84903
/cc @logicalhan

[2019-11-07 21:23] jennybuckley commented on #84903
/assign @yliaog

[2019-11-07 21:24] jennybuckley commented on #84908
/assign @liggitt

[2019-11-07 21:28] #84787 closed

[2019-11-07 21:28] #80224 closed

[2019-11-07 21:31] Xtigyro commented on #62099
That's another approach for a workaround: https://github.com/Xtigyro/puppetserver-helm-chart/compare/v1.0.0...v1.0.1

[2019-11-07 21:31] alculquicondor commented on #84938
This is the diff between my normal `go env` and one run from inside `update-bazel.sh` right before the failure:

[code]

[2019-11-07 21:32] liggitt commented on #84938
seems unlikely. CI runs on linux and runs update-bazel.sh as part of every presubmit

[2019-11-07 21:33] liggitt commented on #84938
The GO111MODULE and GOBIN settings are intentionally set in the script to get consistent results regardless of user settings. We still have build tooling that requires $GOPATH

[2019-11-07 21:38] alculquicondor commented on #84938
If I do `export GO111MODULE="off"` manually and then run: `go install ./github.com/bazelbuild/bazel-gazelle/cmd/gazelle`, then I get the same error related to skipping the vendor.

[2019-11-07 21:42] jterry75 commented on #84804
I re-read @adelina-t's report here. Is the ask that we handle this case in CRI? I think the caller should be responsible for setting appropriate measures on the API. It looks like @adelina-t fully understood this "works" and based on the error message it does indeed pass them through its just that we do not honor a "fix-up" here but I also dont think we should at the CRI layer.

[2019-11-07 21:47] bverkron commented on #65958
In our case UAC was enabled for the user on a new server build and that produced this same error when attempting to pull an image from Artifactory. After UAC was disabled it worked.

[2019-11-07 22:06] alculquicondor commented on #84938
Looking at golang/go#29670, it seems that the common factor with my case is that my clone of k8s is not in the GOPATH. This is something I recently changed when upgrading to 1.13, so that I can switch go versions more easily in the future.

According to https://github.com/kubernetes/kubernetes/blob/8618c093692f753c0fad1a4ab00912e9f218872a/hack/lib/init.sh#L25-L29
scripts can opt-in if they don't r

[2019-11-07 22:12] liggitt commented on #84938
not yet, too many of our build tools still depend on $GOPATH

[2019-11-07 22:15] alculquicondor commented on #84938
I'm referring just to `update-bazel.sh`

[2019-11-07 22:18] liggitt commented on #84938
you're not going to have a good time outside of $GOPATH, generally, until we can flip on module support for all build scripts

[2019-11-07 22:24] zouyee opened #84947 "clean up PriorityFunction"
**What would you like to be added**:

1.  clean up PriorityFunction
2. clean up PriorityFunctionFactory
3. rename PriorityFunctionFactory2

/sig scheduling
cc @ahg-g

[2019-11-07 22:26] zouyee commented on #84947
/assign

[2019-11-07 22:40] alculquicondor commented on #84938
Well, going back to my old setup works. Thanks for all the help.

/close

[2019-11-07 22:40] #84938 closed

[2019-11-07 23:03] DeySouvik commented on #84601
@bg-chun : I totally agree with you that both the changes are required. I think the point 2 will be covered as a part of 84869,
@cbf123 : are we taking care of point 1 also in there.
Do suggest the best way forward to have both the issues covered. If we think we can take care of both , then i can go ahead and close this issue with the reference of 84869.

[2019-11-07 23:08] #72661 closed

[2019-11-07 23:08] #78377 closed

[2019-11-07 23:26] ravisantoshgudimetla commented on #84601
(I think we can use cadvisor/info/v2/Topology structure rather than the list of resources)

Can you talk a bit more about how you want to use it in the scheduler? Because scheduler watches for node and pod objects only

While it may not guarantee, would it be `okay`, if we have an entity that evicts pods that are continuously rejected by Kubelet?

[2019-11-07 23:54] renjian52 commented on #84931
I also find this bug and It is introduced by  https://github.com/kubernetes/kubernetes/pull/77661. when I   rollback this PR, This bug is fixed

[2019-11-07 23:57] drnic opened #84949 "[kubelet] help to describe the schema for config options"
**What would you like to be added**:

Currently `kubelet -h` includes 150 flags, of which 80+ flags that are "DEPRECATED: This parameter should be set via the config file specified by the Kubelet's --config flag."

But it does not indicate what the YAML/JSON path is for that same config value in the KubeletConfiguration file.

The URL that it provides for more information https://kubernetes.io/doc

[2019-11-08 00:08] bdowling commented on #79110
Would be nice to see this fixed...

[2019-11-08 00:13] Nuru commented on #67577
CoreOS kernel 4.19.82 has the fixes: https://github.com/coreos/linux/pull/364
CoreOS Container Linux 2317.0.1 (alpha channel) has the fixes: https://github.com/coreos/coreos-overlay/pull/3796 http://coreos.com/releases/#2317.0.1

Backports to Linux stable appear to be stalled [because the patches do not apply cleanly](https://lore.kernel.org/stable/20191104110832.GE1945210@kroah.com/). @chiluk Are

[2019-11-08 00:20] bdowling commented on #82723
@ZP-AlwaysWin not sure what is different from what you added, my point is the default run errors out, if the other generators are depricated, the default generator or options for restart policy should change.

I can submit a PR, but I was looking for support/ agreement before I put in the effort.

[2019-11-08 00:27] tedyu commented on #84931
@renjian52
If you have a chance, can you see if the following fixes the issue you faced (without reverting #77661) ?
[code]

[2019-11-08 00:51] blakebarnett commented on #67577
@Nuru, I backported the patch and made stretch packages and a kops 1.11-friendly AMI if you'd like to test:

https://pm-kops-dev.s3.amazonaws.com/kernel-packages/linux-4.19.67-pm_4.19.67-1_amd64.buildinfo
https://pm-kops-dev.s3.amazonaws.com/kernel-packages/linux-image-4.19.67-pm_4.19.67-1_amd64.deb
https://pm-kops-dev.s3.amazonaws.com/kernel-packages/linux-image-4.19.67-pm-dbg_4.19.67-1_amd64.deb

[2019-11-08 00:58] zouyee commented on #84949
/sig kubelet
/remove-sig cli

[2019-11-08 01:15] zhangguangguang opened #84955 "Get https://[::1]:6443/api/v1/namespaces/x/resourcequotas: dial tcp [::1]:6443: connect: network is unreachable"
When I create Deployment,pod creation failed,

Events:
Type Reason Age From Message
Warning ReplicaSetCreateError 4m29s (x16 over 7m12s) deployment-controller Failed to create new replica set "jenkins-dev-76c4d4bc": Get https://[::1]:6443/api/v1/namespaces/jenkins-dev/resourcequotas: dial tcp [::1]:6443: connect: network is unreachable

Kubernetes version: v1.16.2

[2019-11-08 01:15] #84925 closed

[2019-11-08 01:25] zhangguangguang opened #84956 "Get https://[::1]:6443/api/v1/namespaces/x/resourcequotas: dial tcp [::1]:6443: connect: network is unreachable"
When I create Deployment,pod creation failed,

Events:
  Type     Reason                 Age                     From                   Message
  ----     ------                 ----                    ----                   -------
  Warning  ReplicaSetCreateError  4m29s (x16 over 7m12s)  deployment-controller  Failed to create new replica set "jenkins-dev-76c4d4bc": Get https://[::1]:6443/api/v1

[2019-11-08 01:26] #84955 closed

[2019-11-08 01:27] zhangguangguang commented on #84956
Kubernetes version: v1.16.2

[2019-11-08 01:30] zhangguangguang commented on #84956
But after restarting the master node, The fault disappears

[2019-11-08 02:50] tykytyz commented on #84767
@opengers Thanks for the valuable suggestion,  currently I'm using headless service as a work around, will work the ipvs timeout setting when the cluster is free for it.

[2019-11-08 02:50] #84767 closed

[2019-11-08 02:52] zq-david-wang commented on #84876
https://github.com/AdoptOpenJDK/openjdk-jdk10u/blob/89fdfabc1a51964b32744cc21f4523051d490468/src/hotspot/os/linux/osContainer_linux.cpp#L583-L590

openjdk would treat share=1024( request=1000m) as "no share setup"
No sure whether you are using openjdk, most likely your jvm has similar behavior.

[2019-11-08 02:57] liggitt commented on #84912
Nodes are not permitted to assert their own roles labels. Node roles are typically used to identify privileged or control plane types of nodes, and allowing nodes to label themselves into that pool allows a compromised node to trivially attract workloads (like control plane daemonsets) that confer access to higher privilege credentials. See the design discussion in https://github.com/kubernetes/en

[2019-11-08 02:57] #84912 closed

[2019-11-08 03:06] liggitt commented on #84949
There can be multiple versions of the config file (current version is v1beta1, v1 can restructure options if required). I think it would make more sense to have example config files that output commented versions of every possible field, along with their API doc, and the CLI flag they correspond to in a comment, than to try to put the config file structure in the flag help.

[2019-11-08 03:12] ahg-g commented on #84943
/help

[2019-11-08 03:30] pdzwart-atlassian opened #84959 "client-go - ThreadSafeMap indicies - empty sets not deleted - memory increase with high cardinality short lived resources"
**What happened**:

@kubernetes/sig-api-machinery-bugs

Consider this use case, a k8s cluster with many short lived name spaces with a high cardinality. (Think UUIDs).

Over time, some of the `threadSafeMap` indices contain string sets for each name space with no objects in the backing string sets; which are never reused.

Leads to process memory increasing over time until the process exceeds avai

[2019-11-08 03:40] pdzwart-atlassian commented on #84959
/sig api-machinery

[2019-11-08 03:43] tedyu commented on #84959
As of commit 9dfcc369b48f3aae5cd0d2bd0d4c7b9061ed0b0c, I don't see threadSafeMap.updateIndicies() - probably refactored.

[2019-11-08 03:57] ahg-g commented on #84890
This is the last issue related to phase 1 migration.

[2019-11-08 04:13] #78840 closed

[2019-11-08 04:14] awprice commented on #84959
@tedyu I'm not sure I follow, but `updateIndicies` is stll present - https://github.com/kubernetes/client-go/blob/master/tools/cache/thread_safe_store.go

[2019-11-08 04:17] mrkm4ntr commented on #84943
/assign
/remove-help

[2019-11-08 04:18] jamesjmurtagh commented on #72803
/reopen

What's the status on this? I haven't seen any indicators that this has been addressed.
Sorry if I've misused the 'reopen' command.

[2019-11-08 04:20] pdzwart-atlassian commented on #84959
Nah, my bad; didn't spell the method right originally in the text.

[2019-11-08 04:36] neolit123 commented on #84743
/remove-kind bug

[2019-11-08 04:37] tedyu commented on #84959
One option is to mark the time when set becomes empty:
[code]
We can clean Index entry when certain period has passed since the set becomes empty.

[2019-11-08 04:53] awprice commented on #84959
@tedyu I really don't think that solution is a viable and adds unneeded complexity. You would then need to have something running in the background to prune empty sets.

The solution proposed in the original post is the most straight forward, when the set is empty - delete it. If something is then created that needs the set, it will be recreated when needed.

[2019-11-08 05:08] camrossi commented on #63005
I am also having the same issue where the CNI plugin pods are evicted basically killing the node. Seems really strange there is no way to protect the CNI pods/DaemonSets

[2019-11-08 05:08] tedyu commented on #84959
I think that is fine.

[2019-11-08 06:03] zouyee opened #84969 "./hack/verify-codegen.sh failed"
**What happened**:
[code]

**What you expected to happen**:
./hack/verify-codegen.sh succeed

**How to reproduce it (as minimally and precisely as possible)**:
./hack/verify-codegen.sh

**Anything else we need to know?**:

**Environment**: Darwin MacBook-Pro.local 18.7.0 Darwin Kernel Version 18.7.0
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g

[2019-11-08 06:16] zouyee commented on #84969
cc @liggitt

[2019-11-08 06:19] cofyc commented on #74609
/remove-lifecycle rotten

any way to specify propagation policy via `kubectl delete` now?

[2019-11-08 06:26] Davidrjx commented on #83063
@aojea so your idea or rough steps?

[2019-11-08 06:31] adisky commented on #81117
@dims @liggitt Thanks for the attention, we are using it as a fallback option mostly for test and dev env, we are working to remove them.

[2019-11-08 06:54] langecode commented on #81905
Thank you for the feedback. Digging deeper into the cadvisor metrics I also discovered that `container_memory_working_set_bytes` would be the correct timeseries not `container_memory_usage_bytes`. I has just stitched together some Grafana dashboards based on coreos kube-prometheus - and they used the `container_memory_usage_bytes` metric.

[2019-11-08 07:15] kiddingl opened #84974 "Why are there so many versions of k8s?"
I am a new learner, I am intered in k8s. but I am confused that k8s have too many versions(1.1*，1.2，1.3...), I don't konw how to learn it,.
Have anyone give me some advice?

[2019-11-08 07:50] mozhuli commented on #84898
cc @m1093782566

[2019-11-08 07:52] #84457 closed

[2019-11-08 07:58] wojtek-t opened #84976 "Should DeleteOptions be also parsed from url Params?"
Currently, `DeleteOptions` can be parsed in two ways:
- from request body:
https://github.com/kubernetes/kubernetes/blob/91bddd13485082892be8e8e471e358be317c4e9b/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L84
 [that's what all the client libraries are setting]
- alternatively from url params:
https://github.com/kubernetes/kubernetes/blob/91bddd13485082892be8e8e471e358be317c4e9b/

[2019-11-08 07:59] wojtek-t commented on #82484
There is one more question to answer in this case. But I opened a dedicated bug for it:
https://github.com/kubernetes/kubernetes/issues/84976

Closing this one as done now.

[2019-11-08 07:59] #82484 closed

[2019-11-08 08:06] #84969 closed

[2019-11-08 08:20] hex108 commented on #79159
/remove-lifecycle rotten

[2019-11-08 08:32] yehaifeng opened #84978 "docker get stuck"
**What happened**:  NodeNotReady, and docker get stuck

**What you expected to happen**: NodeReady

**How to reproduce it (as minimally and precisely as possible)**: I don not know, because it's the first time I've had this problem.

**Anything else we need to know?**:
The cmd `docker ps` has no response.

kubelet logs:
Nov 08 16:25:22 paas-node010014.99bill.com origin-node[29837]: I1108 16:25:22.

[2019-11-08 08:34] ToughLama commented on #84956
遇到这种报错，很无奈

[2019-11-08 09:01] yehaifeng commented on #84978
/sig node

[2019-11-08 09:19] KeyaJohn commented on #77971
hi,   my  k8s  version  is  1.13.2,
Can't you do it?

[2019-11-08 09:20] KeyaJohn commented on #77971
hi, my k8s version is 1.13.2, no?

[2019-11-08 09:47] oxddr commented on #84863
/reopen

Let's wait for the test to pass
/assign

[2019-11-08 09:55] oxddr commented on #84910
Test were failed due to problems with Prow. Opened a separate issue https://github.com/kubernetes/test-infra/issues/15165 to track this.

/close

[2019-11-08 09:55] #84910 closed

[2019-11-08 09:59] mengqiuyuwl opened #84979 "all pod of one node: pod running but Conditions:Ready :False,so endpoints is none"
**What happened**:
reboot one node
**What you expected to happen**:
all pods are ready
**How to reproduce it (as minimally and precisely as possible)**:
reboot vm
**Anything else we need to know?**:
k8s cluster: two master three node
appearance：
kubectl get pod -o wide|grep oasis-ui-admin
oasis-ui-admin-7cd99ff45d-dt98g                  1/1     Running             0          28h     172.34.70.27

[2019-11-08 10:14] krzysied commented on #84931
I haven't find a way to reproduce this issue every time, so it is hard for me to say if it fixes the issue.

Can you say more about what issue this patch addresses? Is there a problem with statusManager having wrong/old pod status?

[2019-11-08 10:14] alenkacz opened #84980 "[Failing test] Conformance-GCE-master (ci-kubernetes-gce-conformance-latest)"
**Which jobs are failing**:
Conformance-GCE-master

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
11-07 14:41 PST probably after this PR got merged https://github.com/kubernetes/kubernetes/commit/62f66ea2f

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-release-master-blocking#Conformance%20-%20GCE%20-%20master

**Reason for failure**:
[code]

**Anything else

[2019-11-08 10:19] alenkacz commented on #84980
/assign draveness ahg-g

[2019-11-08 10:22] zhxqgithub commented on #21613
@laverite I have the issue with you(linux kernel 4.9.2), It was stuck in prerouting chain  dnat to pod ip when debug iptables. However, change the rp_filter 1 to 0 can solve the problem.
net.ipv4.conf.all.rp_filter = 0
net.ipv4.conf.default.rp_filter = 0

make sure your pod's peer veth rp_filter = 0.  eg:
net.ipv4.conf.vethxxxxxxx.rp_filter = 0

another confuse things:centos with kernel with 4.14

[2019-11-08 10:25] lmdaly commented on #83482
Documentation PR: https://github.com/kubernetes/website/pull/17451

[2019-11-08 10:40] shyamjvs opened #84981 "Node leases not being GC'd"
I recently observed that node lease objects are staying around even after nodes got deleted. It seems like there is no reconcile logic for deleting orphaned node lease objects anywhere in the k8s control-plane. This is leading to stale objects piling up in etcd over time. Even worse if nodes are being created/deleted at a high rate.

Wojtek pointed me to kubelet code [here](https://github.com/kube

[2019-11-08 11:14] cofyc opened #84982 "Garbage collector should orphan ControllerRevisions created by Statefulset when deleteOptions.OrphanDependents is true"
**What happened**:

- Create a stateful set
- Delete with propagationPolicy=Orphan
- ControllerRevisions owned by stateful set will be deleted

**What you expected to happen**:

ControllerRevisions owned by stateful set should be orphaned.

**How to reproduce it (as minimally and precisely as possible)**:

- Create a stateful set
- Delete with propagationPolicy=Orphan
- Check controller revisions

[2019-11-08 11:16] woody2011 commented on #70179
same problem

[2019-11-08 11:31] ahg-g commented on #84980
it is actually after https://github.com/kubernetes/kubernetes/pull/84806, which was trying to fix

[code]
WaitForStableCluster is timing out, sadly there are not enough logs from the test to understand why, but likely because there are pods in a namespace other than kube-system from previous tests that never get deleted.

[2019-11-08 11:41] wojtek-t commented on #84981
I think that at the kubelet level, we should introduce an invariant that Lease object is created after the Node object is created - i.e. by changing
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodelease/controller.go#L92

That said, given that we may have leaked some Leases already, we need to extend nodelifecyclecontroller to:
- periodically list leases (from the local cache)

[2019-11-08 11:46] alenkacz commented on #84980
@ahg-g oh I see... so you think it's a flake? Or we need one more fix to the WaitForStableCluster?

[2019-11-08 11:50] ahg-g commented on #84980
We need to fix WaitForStableCluster again.

/cc @damemi

[2019-11-08 11:55] cofyc commented on #84982
/sigs apps
/assign

[2019-11-08 12:02] droslean opened #84985 "[Failing Test] aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)"
**Which jobs are failing**:
`aks-engine-azure-1-16-windows (ci-kubernetes-e2e-aks-engine-azure-1-16-windows)`

**Since when has it been failing**:
`6th Nov 15:47 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#aks-engine-azure-1-16-windows

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alejandrox1

[2019-11-08 12:02] droslean commented on #84985
/sig windows
/milestone v1.17
/priority critical-urgent

[2019-11-08 12:21] #78167 closed

[2019-11-08 12:51] krzysied commented on #84931
I've re-run the test. There was also a problem with hollow-nodes. This time test didn't have problem with pods. k8s build included patch posted above.
@tedyu It looks like your patch helps. I still would like to hear some backstory of what happens there.

[2019-11-08 12:58] tedyu commented on #84981
How about the following as a starter ?
[code]

[2019-11-08 13:01] tedyu commented on #84931
My patch refines the code to achieve what #77661 intended to do.

Can you say more about problem with hollow-node ?
Please post log snippet if you have it.

Thanks

[2019-11-08 13:10] draveness commented on #82635
ref: https://github.com/kubernetes/enhancements/issues/382

[2019-11-08 13:12] ansongoldade commented on #84817
I was writing the contents to a file to eliminate quoting issues you brought up `kubectl patch deployment foo --type json -p $(cat patch.json) --v=8`. I was seeing the different behavior with this approach as well.

[2019-11-08 13:16] liggitt commented on #84817
Using cat within a subshell still needs to be quoted

[2019-11-08 13:20] ansongoldade commented on #84817
Based on what you are saying wouldn't it be `kubectl patch deployment foo --type json -p '$(cat patch.json)' --v=8` (single quotes)?

[2019-11-08 13:22] wojtek-t commented on #84981
How does it going to help? NodeLifecycleController is currrently not updating leases (by design), so changing anything in its internal state won't change anything.

[2019-11-08 13:32] liggitt commented on #84817
single quotes prevent the subshell from being evaluated :-/

[2019-11-08 13:44] Prodian0013 commented on #83063
@Davidrjx what's your setup? os, k8s version, cri, networking plugin, etc...

[2019-11-08 13:45] liggitt commented on #84976
Passing a body in delete requests is not uniformly supported by http libraries, so I would not expect us to drop support for options in the URL

Agree. xref https://github.com/kubernetes/kubernetes/issues/21476

[2019-11-08 13:45] tirelibirefe commented on #75040
Is there any update about the problem?

[2019-11-08 13:46] liggitt commented on #84974
Releases are made quarterly. See https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-versions for details. Using the latest stable release is recommended.

/close

[2019-11-08 13:46] #84974 closed

[2019-11-08 13:46] ansongoldade commented on #84817
So then I guess I need to put single quotes in the patch file I'm creating in order to ensure it's evaluated correctly. I'll give that a shot in order to make it resilient. Just for context, the script I'm writing takes an image tag that was generated during the build phase and then tries to update the patch content with that image tag. Substituting the content in the patch content and then having

[2019-11-08 13:51] wojtek-t opened #84990 "Defaulting seems to be broken for autoscaling/v2beta2 api group"
This function is defined and not used anywhere:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v2beta2/defaults.go#L30

The reason seem to be the missing tag here:
https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/autoscaling/v2beta2/doc.go#L18

[code]

That said - it seems to be causing some test failures.

Please take a look and fix.

@kubernetes/sig-autosc

[2019-11-08 14:04] liggitt commented on #82694
#82693 likely fixed this. no flakes are currently observed.

/close

[2019-11-08 14:04] #82694 closed

[2019-11-08 14:13] renjian52 commented on #84931
hi, @tedyu . I have already test your fix in kubelet_getters.go and it can solve this bug. Still, I have a suggestion. Could you use UpdatePod() function in podManager instead of directly changing pod status in podManager by p.Status=status? If some other codes also use this direct way to modify pod infos in podManager, it will be very hard to trace pod infos are modified by which code , still the

[2019-11-08 14:20] renjian52 commented on #84979
It seems same as https://github.com/kubernetes/kubernetes/issues/84931

[2019-11-08 14:21] chrigl commented on #81117
@liggit @dims @cji  AFAIK is the only use for this testing. Would it be appropriate to move this code into `openstack_test.go`?

[2019-11-08 14:21] wojtek-t commented on #84931
@mfpierre @Random-Liu @dashpole @yujuhong - FYI

[2019-11-08 14:21] wojtek-t commented on #84931
@kubernetes/sig-node-bugs

[2019-11-08 14:23] #78023 closed

[2019-11-08 14:29] liu-cong commented on #84645
#84635

[2019-11-08 14:29] #84645 closed

[2019-11-08 14:31] smourapina commented on #78893
Friendly reminder that code freeze is rapidly approaching and will take place in November 14th. Is this issue still on track for 1.17? Otherwise we will need to move it to 1.18 milestone.

[2019-11-08 14:32] smourapina commented on #78904
Friendly reminder that code freeze is rapidly approaching and will take place in November 14th. Is this issue still on track for 1.17? Otherwise we will need to move it to 1.18 milestone.

[2019-11-08 14:33] smourapina commented on #76342
@bclau @johnSchnake Friendly reminder that code freeze is rapidly approaching and will take place in November 14th. Is this issue still on track for 1.17? Otherwise we will need to move it to 1.18 milestone.

[2019-11-08 14:34] smourapina commented on #77019
@nckturner @justinsb @sethp-nr Friendly reminder that code freeze is rapidly approaching and will take place in November 14th. Is this issue still on track for 1.17? Otherwise we will need to move it to 1.18 milestone.

[2019-11-08 14:34] tedyu commented on #81117
Submitted a PR to move password retrieval to openstack_test.go

[2019-11-08 14:34] smourapina commented on #82158
@verb Friendly reminder that code freeze is rapidly approaching and will take place in November 14th. Is this issue still on track for 1.17? Otherwise we will need to move it to 1.18 milestone.

[2019-11-08 14:47] atooki commented on #84743
I reinstalled that particular machine to fix my problem but found a possible solution when I tried joining the existing machines that had failed joining wiht `kubeadm`:

- `kubeadm reset`
- `rm -r` /var/lib/etcd
- `sudo snap remove kubeadm`
- `sudo snap remove kubelet`
- `systemctl stop etcd`
- `systemctl daeomon-reload`

After that they were able to join the new machine.

[2019-11-08 14:47] #84743 closed

[2019-11-08 14:48] liu-cong commented on #84306
I am running into the same `connection refused` error as @ingvagabund after upgrading to go 1.13.4. I am not sure if this is related to the go version upgrade but I was able to run the benchmark tests before upgrading with
[code]

@ingvagabund Can you share some experience on getting around this error?

[2019-11-08 14:48] tedyu commented on #84931
@renjian52
I have added log for status update over #84951

w.r.t. using UpdatePod() function in podManager, the review / test may take more time. I will think about it meanwhile.

[2019-11-08 14:51] wojtek-t commented on #84976
Thanks Jordan.

Adding "help-wanted" label, so to quickly summarize, we need to create a manual conversion function here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/conversion.go
We need to double check how much we can auto-convert, I think the only one is "[]string -> Preconditions" and auto-generate the url.Values->DeleteOptions (there a

[2019-11-08 14:53] markyjackson-taulia commented on #80916
I haven't heard back on this. I did try a slack dm as well. I am going to move this in to v1.18 milestone.
/milestone v1.18

[2019-11-08 14:53] #84817 closed

[2019-11-08 14:56] markyjackson-taulia commented on #76624
@jpbetz @deads2k thoughts on moving this to v1.18 milestone? Code freeze is 11/14. A decision will need to be made by latest this coming Sunday 11/10

[2019-11-08 14:58] verb commented on #82158
@smourapina This is blocked on #82192. This is trivial to fix if #82192 lands, but I think it's a high risk of slipping.

[2019-11-08 14:59] markyjackson-taulia commented on #75551
@mikedanese Any update?

[2019-11-08 15:05] rajansandeep opened #84993 "Push the CoreDNS 1.6.5 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.6.5 image is available in docker coredns/coredns:1.6.5

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/assign @thockin

/sig network
/sig cluster-lifecycle

[2019-11-08 15:49] yue9944882 commented on #79768
/lifecycle frozen

[2019-11-08 15:50] tpepper opened #84995 "[Failing Test] sig-release-1.16-blocking (gce-cos-k8sstable1-alphafeatures)"
**Which jobs are failing**:
sig-release-1.16-blocking (gce-cos-k8sstable1-alphafeatures)

**Which test(s) are failing**:
BeforeSuite, Overall, Test

**Since when has it been failing**:
Nov. 4, 2019

**Testgrid link**:
https://testgrid.k8s.io/sig-release-1.16-blocking#gce-cos-k8sstable1-alphafeatures

**Reason for failure**:
Possibly relevant log bits:
[code]

[code]

[code]

[code]

**Anything els

[2019-11-08 15:52] gongguan commented on #84976
/assign

[2019-11-08 16:06] chrisohaver commented on #84993
/remove-triage unresolved

[2019-11-08 16:25] #78752 closed

[2019-11-08 16:31] tpepper commented on #84995
#84215 metrics change has been checked by @deads2k who reports it looks pretty unlikely to be related.

[2019-11-08 16:45] mcortinas opened #84997 "Adding new handler, postReady hook"
Hi,

 I'm checking that there are not a post ready handler in POD lifecycle
 https://kubernetes.io/docs/tasks/configure-pod-container/attach-handler-lifecycle-event/

 I'm solving a race condition in haproxy-ingress controller and this should be so usefull.
 https://github.com/jcmoraisjr/haproxy-ingress/issues/442

Marc

[2019-11-08 16:46] mcortinas commented on #84997
/sig feature-requests

[2019-11-08 16:46] mcortinas commented on #84997
/sig proposals

[2019-11-08 16:47] mcortinas commented on #84997
/sig community/question

[2019-11-08 16:48] mcortinas commented on #84997
/community/question

[2019-11-08 16:53] mcortinas commented on #84997
/community question

[2019-11-08 16:58] mcortinas commented on #84997
@kubernetes/sig-contributor-experience-proposals

[2019-11-08 17:00] #84326 closed

[2019-11-08 17:01] #84980 closed

[2019-11-08 17:02] yastij commented on #84995
From the logs:

[code]

Events are being emitted here, so #84465 shouldn't have an impact. cc @liggitt @wojtek-t

[2019-11-08 17:05] lavalamp commented on #84001
If you have any websocket watchers, I think it's worth the experiment to pick this (or search in your logs for the message it prints when it leaks): https://github.com/kubernetes/kubernetes/pull/84693

[2019-11-08 17:14] wojtek-t commented on #84981
Actually, I looked deeper into the code, and generally, even if we create the Lease without OwnerReferences, in the next update we will try to update it:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/nodelease/controller.go#L101

So the only situation when we will not try to update it is when going via the fallback path:
https://github.com/kubernetes/kubernetes/blob/master/pkg/k

[2019-11-08 17:19] liggitt commented on #84995
the last successful run of that job was v1.15.6-beta.0.14+0f71449be978a5

the first failed run of that job was v1.16.3-beta.0.36+3d9fbfdd606aaa

is 11/4 when we cut the 1.17 branch and the ci-kubernetes-e2e-gce-cos-k8sstable1-alphafeatures job switched which branch it was running against?

[2019-11-08 17:24] MnvS commented on #60134
Facing same issue on Amazon Linux 2

[2019-11-08 17:37] liggitt commented on #84995
I see this in the logs of the failed 1.16 run:

kube-apiserver:

alpha1="
kube-proxy:

Enabling the endpoint slice feature without enabling the corresponding API isn't going to work well.

I think the test config for these jobs is at https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/generated/generated.yaml

ci-kubernetes-e2e-gce-cos-k8sstable1-alphafeatures, ci-kubernete

[2019-11-08 17:42] liggitt commented on #84995
looks like https://github.com/kubernetes/test-infra/pull/15023/files#diff-b2787d91828c393fb737a765222c471aR4012-R4013 moved that job into the 1.16-blocking dashboard as of 10/30

That said, the job references `--extract=ci/k8s-stable1`, and I'm not sure how to track which release that symbol refers to and when it changed from meaning "1.15.x" to "1.16.x"

[2019-11-08 17:52] Rand01ph commented on #80875
@verb Hi, I have open a PR for this, PTAL.

[2019-11-08 17:58] liggitt commented on #84995
opened https://github.com/kubernetes/test-infra/pull/15193 to at least fix the API enablement issue

I still would like to know which alpha job was running against the 1.16 branch prior to 11/4

[2019-11-08 18:01] liggitt commented on #84995
Found it. https://testgrid.k8s.io/sig-release-1.17-blocking#gce-cos-k8sbeta-alphafeatures&width=20 ran against 1.16 until 10/30

Last run against 1.16.x:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatures/1189715945615003656

First run against 1.17.x:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-alphafeatur

[2019-11-08 18:01] liggitt commented on #84995
Notably, that means that between 10/30 and 11/4, we didn't have coverage of the 1.16 branch. I would have expected the jobs that refer to beta/stable1/stable2/stable3 to all switch at the same time

[2019-11-08 18:12] #84908 closed

[2019-11-08 18:12] liggitt commented on #84995
found one more difference between the beta job and the stable{1,2,3} jobs; opened https://github.com/kubernetes/test-infra/pull/15196

[2019-11-08 18:18] alejandrox1 commented on #84995
/cc @justaugustus @cpanato

[2019-11-08 18:19] ryanarifin134 commented on #80431
/assign

[2019-11-08 18:33] cji commented on #81132
/remove-lifecycle stale

[2019-11-08 18:48] andrewsykim opened #85005 "Investigate Transitive Deps from docker/libnetwork"
**What would you like to be added**:
github.com/docker/libnetwork has a lot of transitive deps but we only use its (relatively small) `ipvs` package for kube-proxy. Luckily because it doesn't use go modules yet, updating it doesn't actually update it's transitive deps, but if/when it does, managing it's transitive deps will be a pain because of its overlapping transitive deps to our other dependen

[2019-11-08 18:48] andrewsykim commented on #85005
/area dependency code-organization
/sig architecture

[2019-11-08 18:49] andrewsykim commented on #85005
/sig network

[2019-11-08 18:57] hvaara commented on #78064
I'm unable to reproduce this on Ubuntu 18.04.3:
[code]

[code]

Do you still see this @draveness?

[2019-11-08 19:00] caesarxuchao opened #85007 "Promote RemainingItemCount to GA"
It was promoted to beta in 1.16 (https://github.com/kubernetes/kubernetes/pull/81682).

We will promote it to GA in 1.18 if we don't receive negative feedback.

/sig api-machinery
/assign @caesarxuchao
cc @liggitt

[2019-11-08 19:01] andrewsykim commented on #85005
/remove-triage unresolved

[2019-11-08 19:18] marc1161 commented on #65835
So that means that docker secrets path is not compatible with kubernetes secrets path, doesnt it? Is it there a way to change at least docker secrets path so they can be the same?

[2019-11-08 19:36] Nuru commented on #67577
@blakebarnett Thanks for your effort, and sorry to bother you, but I'm more than a little confused.

- "stretch" is based on Linux 4.9, but all your links are for 4.19.
- You say you backported "the patch" but there are 3 patches (I guess the third is not really important:
  1. 512ac999   sched/fair: Fix bandwidth timer clock drift condition
  2. de53fd7ae sched/fair: Fix low cpu usage with high t

[2019-11-08 19:52] blakebarnett commented on #67577
No I used the stretch-backports kernel, which is 4.19, as it has a great deal of fixes we also needed on AWS (especially for M5/C5 instance types)

[2019-11-08 20:26] jasonchester commented on #47368
/remove-lifecycle stale

[2019-11-08 20:29] #77104 closed

[2019-11-08 20:29] #76135 closed

[2019-11-08 20:35] jterry75 commented on #84610
@adelina-t - This cant be right? `alpine`? What is the Windows process container image?

[2019-11-08 20:40] liggitt commented on #84995
with the job config change to enable alpha APIs, the latest run passed: https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sstable1-alphafeatures

[2019-11-08 20:40] #84995 closed

[2019-11-08 20:41] ubhide commented on #72226
I also ran into this issue. Running kubernetes 1.15.4

[2019-11-08 20:44] wojtek-t commented on #84981
@shyamjvs #84998 is generally ready modulo unit test that I would like to add for it

[2019-11-08 20:44] technosophos commented on #72051
The solution we implemented in Helm was to trap that particular error and print a warning about the offending registration.

[2019-11-08 20:48] monotek commented on #81289
Thanks for the link :)
Not sure if the "CHANGE-CAUSE" table in rollout history makes any sense without this ¯\_(ツ)_/¯

[2019-11-08 20:52] chiluk commented on #67577
I have backported these patches and submitted them to the linux-stable kernels

[2019-11-08 21:08] dims commented on #84940
Looks like CSI folks saw it too:
https://github.com/kubernetes-csi/csi-release-tools/issues/38

and they just switched to building kind from source with a SHA:
https://github.com/kubernetes/test-infra/pull/14948/files

[2019-11-08 21:09] dims commented on #84940
chatter on slack : https://kubernetes.slack.com/archives/CEKK1KTN2/p1573247137404700

[2019-11-08 21:09] dims commented on #84940
fix ( https://github.com/kubernetes-sigs/kind/pull/963 ) will be in next release of kind

[2019-11-08 21:12] andrewsykim commented on #84906
/assign

[2019-11-08 21:33] farrukh90 commented on #71556
This is still an issue. can we reopen it?

[2019-11-08 21:39] jiahuif opened #85015 "Add logging in csr.WaitForCertificate"
**What would you like to be added**:
Currently, during kubelet bootstrapping, while waiting for the node certificate being signed, there is no logs showing what is happening. I would like to add some logging to `WaitForCertificate` for easier troubleshooting.

https://github.com/kubernetes/kubernetes/blob/c97fe5036ef3df2967d086711e6c0c405941e14b/staging/src/k8s.io/client-go/util/certificate/csr/cs

[2019-11-08 21:40] liggitt commented on #71556
This is working as designed. `v1` is preferred when no version is specified in a kubectl get command. You can get the autoscaling/v2beta1 representation of your HPA by running `kubectl get hpa.v2beta1.autoscaling -o yaml hpa-demo`

[2019-11-08 22:14] tedyu commented on #85015
The ListFunc and WatchFunc would be called multiple times during this period.
I think we should control the frequency of logging (by remembering the timestamp of last log).

[2019-11-08 22:36] stackboy83 commented on #20092
Hi,
I have created and deployed a service similar to below.. however I am not to connect to the ports sometimes TCP/UDP

apiVersion: v1
kind: Service
metadata:
  name: dns
spec:
  selector:
    …
  clusterIP: …
  type: NodePort
  ports:
  - name: dns
    port: 53
    nodePort: 30053
    protocol: UDP
  - name: dns-tcp
    port: 53
    nodePort: 30053
    protocol: TCP

Example:
$ telnet 192.168.99

[2019-11-08 22:45] cbf123 commented on #84601
Currently the scheduler is aware of the CPU and memory resources that each node has, and uses that to do a basic filtering to rule out nodes which cannot support the pod.

The goal is to be able to also look at CPU and memory (and PCI devices, and any other devices) on a per-NUMA-node basis if that's what the node specifies (via the topology manager policy currently) or if that's what the pod or c

[2019-11-08 22:59] stackboy83 opened #85020 "NodePort allocation conflates TCP and UDP"
**What happened**:
I have created and deployed a service similar to below in minikube environment.. however I am not to connect to the ports sometimes TCP/UDP
[code]
**What you expected to happen**:
I should able to connect both the TCP and UDP connection with same port

**Environment**:
[code]
Ref: #20092

[2019-11-08 23:03] stackboy83 commented on #85020
@kubernetes/sig-contributor-experience-nodeport

[2019-11-08 23:45] cbf123 commented on #84479
I think I found a corner case in your final patch.  If the device plugin is slow to start up (or to notice that kubelet has restarted) , then kubelet can try to regenerate topology hints before the device plugin is available to report the device affinity.

In this case kubelet will log "Resource X does not have a topology preference", and will return a topology hint of {000000000000000000000000000

[2019-11-08 23:49] johnbelamaric commented on #81052
/assign

[2019-11-09 00:27] carnott-snap opened #85022 "cannot find replacement package to k8s.io/kubernetes@1.12.6/..."
**What happened**:
I would like to use the `k8s.io/kubernetes/pkg/cloudprovider/providers/aws` package version that is compatible with the other `kubernetes-1.12.6` libraries that I am importing. I am aware that we should not import `k8s.io/kubernetes` directly, per kubernetes/kubernetes#81878. I looked in [kubernetes/cloud-providers-aws](https://github.com/kubernetes/cloud-provider-aws), however

[2019-11-09 00:29] carnott-snap commented on #85022
/sig cloud-provider

[2019-11-09 01:11] mengqiuyuwl commented on #84979
Is this a bug?

[2019-11-09 01:12] shyamjvs commented on #84981
/release-blocking

[2019-11-09 01:12] mengqiuyuwl commented on #84979
Is this a bug?

[2019-11-09 02:31] zghnr1993 commented on #78685
HI
Did you solved this issue ? I encountered this issue two . but i don't know why. and i have some investigated .found iptables random probability is 0.5 ,0.33 . but i found netfilter said random is between 1-99 . following is netfilter site was written: "**> The probability in percentage of the match. If omitted, a probability of 50% percent is set. Percentage must be within : 1 <= percent <= 99

[2019-11-09 02:43] #84308 closed

[2019-11-09 02:44] #72404 closed

[2019-11-09 02:44] #82714 closed

[2019-11-09 02:51] zghnr1993 commented on #64580
i'm wondering too . why many request go to same pod .

[2019-11-09 02:56] yuyulei commented on #83733
PTAL @kow3ns @janetkuo @smarterclayton

[2019-11-09 03:36] #72551 closed

[2019-11-09 03:36] #73551 closed

[2019-11-09 03:36] #40635 closed

[2019-11-09 03:36] #75704 closed

[2019-11-09 04:37] #77764 closed

[2019-11-09 05:38] #78925 closed

[2019-11-09 06:12] shibataka000 commented on #84142
#### In `Step3`
- CPU Utilization of Pod-1 is `1 / 100 = 0.01`.
- CPU Utilization of Pod-2 is `1 / 100 = 0.01`.

So CPU Utilization of Deployment is `(1 + 1) / (100 + 100) = 0.01`.

[code]

So calculated number of replicas is `1`. But `minReplicas` is `2`, so as a result, new number of replicas is `2`.

#### In `Step 5`
New Pod-3 is created due to RollingUpdate with `maxSurge: 1` and `minUnavailab

[2019-11-09 06:13] shibataka000 commented on #84142
I'd like to fix this issue in #85027 .

[2019-11-09 06:41] ToughLama commented on #84956
@习近平

[2019-11-09 07:35] klueska commented on #84479
Yes. I can see how that would happen. It would have happened even before the last patch. Should be easily addressable by moving the logic to restore hints for containers that already have devices above the check whether the current resource is a „plugin“ resource yet or not.

[2019-11-09 08:33] Nadya24 opened #85028 "Hi! Why am I see it programm in my computer/process? I never use it."

[2019-11-09 09:42] #78927 closed

[2019-11-09 09:42] alenkacz commented on #84980
Thanks @ahg-g for such a quick turnover!

[2019-11-09 10:23] ahg-g opened #85031 "TestPreemptionRaces is Flaky"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
TestPreemptionRaces

**Testgrid link**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-integration/1193004486889574400/

/sig scheduling
/help

[2019-11-09 10:32] zouyee commented on #85031
/remove-help
/assign

[2019-11-09 10:43] #84890 closed

[2019-11-09 11:39] ahg-g commented on #83554
/close

Thanks to all who contributed to this critical task.

[2019-11-09 11:39] #83554 closed

[2019-11-09 11:40] samczsun opened #85033 "panic when running `kubectl diff` on malformed spec"
**What happened**:
I tried to `kubectl diff` with a Deployment spec that was roughly shaped like this (note that the `imagePullSecrets` is invalid, since it should be a list of `LocalObjectReference` instead of `string`). This caused kubectl to fail to create a three-way patch and panic.
[code]

<details>
<summary>Click here for the stacktrace</summary>

[code]
</details>

**What you expected to h

[2019-11-09 12:08] zouyee commented on #85033
/sig cli

[2019-11-09 12:53] gongguan commented on #85033
Made a pr which may fix this bug.

[2019-11-09 13:46] zouyee commented on #85033
/assign

[2019-11-09 14:48] tedyu commented on #84479
How about this change ?
[code]

[2019-11-09 15:18] gongguan commented on #84936
`buildPodTopologySpreadMap` is expensive and will influence the result. Could it be initialized once outside the loop?
https://github.com/kubernetes/kubernetes/blob/9920b733ba56f908d48dc7d0a30bc90d28d015a4/pkg/scheduler/algorithm/priorities/spreading_perf_test.go#L63

[2019-11-09 16:03] voor commented on #62421
/remove-lifecycle stale

[2019-11-09 16:29] alculquicondor commented on #84936
That goes against the purpose of the test: an end-to-end comparison.

[2019-11-09 16:46] ssup2 commented on #84435
I find out that controller-manager loads cloud_config when initializing it.

[2019-11-09 16:46] #84435 closed

[2019-11-09 16:49] tedyu commented on #84479
See if #85038 does what @klueska described above.

[2019-11-09 17:24] liggitt commented on #85028
It's unclear what this issue is asking.

If you're looking for help, check [Stack Overflow](https://stackoverflow.com/questions/tagged/kubernetes) and the [troubleshooting guide](https://kubernetes.io/docs/tasks/debug-application-cluster/troubleshooting/).

You can also post your question on the [Kubernetes Slack](http://slack.k8s.io/) or the [Discuss Kubernetes](https://discuss.kubernetes.io/) fo

[2019-11-09 17:24] #85028 closed

[2019-11-09 17:50] rnsv opened #85039 "Support for NodePort in apiserver's enable-aggregator-routing"
**What would you like to be added**:
I would like apiserver support NodePort routing when enable-aggregator-routing is enabled

**Why is this needed**:
I have my apiserver running as a systemd service(kube-proxy is not running on the node) .  To support APIServices like metrics-server, I have enabled enable-aggregator-routing flag in apiserver config.  As this resolves to EndPoint IP:Port, I have

[2019-11-09 17:54] rnsv commented on #85039
@kubernetes/sig-api-machinery

[2019-11-09 18:05] tedyu opened #85040 "node-e2e-containerd fails with image notFound error"
**Which jobs are failing**:
pull-kubernetes-node-e2e-containerd

**Since when has it been failing**:
Nov 9th, 2019

**Testgrid link**:
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/84951/pull-kubernetes-node-e2e-containerd/1193222671123353600/build-log.txt

**Reason for failure**:
[code]
**Anything else we need to know**:

[2019-11-09 18:46] droslean commented on #84183
@listx The job is still failing, even after the images were published.

Can you check?

[2019-11-09 19:40] neolit123 commented on #84369
/close

[2019-11-09 19:40] #84369 closed

[2019-11-09 19:40] neolit123 commented on #84460
/sig cli

[2019-11-09 19:41] neolit123 commented on #82889
/area kubeadm
/sig cluster-lifecycle

[2019-11-09 19:42] neolit123 commented on #84368
/sig release

[2019-11-09 19:43] neolit123 commented on #84682
/sig testing
try asking in the #sig-testing channel on k8s slack.

[2019-11-09 19:43] neolit123 commented on #85040
/sig node

[2019-11-09 19:44] neolit123 commented on #85020
/sig network

[2019-11-09 19:44] neolit123 commented on #85020
try asking in #sig-network on the k8s slack.

[2019-11-09 19:44] neolit123 commented on #84778
/sig node

[2019-11-09 19:44] neolit123 commented on #84762
/sig node

[2019-11-09 19:45] neolit123 commented on #84698
/sig apps

[2019-11-09 19:45] neolit123 commented on #84979
closing as duplicate of https://github.com/kubernetes/kubernetes/issues/84931
please continue the discussion there.

/close

[2019-11-09 19:45] #84979 closed

[2019-11-09 19:46] neolit123 commented on #84580
/sig api-machinery

[2019-11-09 19:47] neolit123 commented on #84461
/sig apps

[2019-11-09 19:52] #78890 closed

[2019-11-09 20:03] 0xlen commented on #84214
I think it obviously is an issue worth to discuss, I can simply reproduce similar problem as below:

#### 1) Run a Pod on Node

- Client Version: version.Info{Major:"1", Minor:"13+", GitVersion:"v1.13.7-eks-c57ff8", GitCommit:"c57ff8e35590932c652433fab07988da79265d5b", GitTreeState:"clean", BuildDate:"2019-06-11T03:47:47Z", GoVersion:"go1.11.5", Compiler:"gc", Platform:"linux/amd64"}
- Server Vers

[2019-11-09 20:36] smarterclayton commented on #83733
Unfortunately to maintain forward compatibility, we would not be able to change the behavior of update.  Instead, we always have to add a new field or enumeration.  Update behavior is also expected to be controlled by the update strategy, so this would not be an appropriate way to proceed.

If you would like to propose improving the update strategy with a policy, let's open a new issue and then we

[2019-11-09 20:36] #83733 closed

[2019-11-09 20:41] chiluk commented on #70585
I think this can probably be closed.  If people start hitting throttling again, this can probably be re-opened/revisited.

[2019-11-09 20:53] #77789 closed

[2019-11-09 22:13] aojea commented on #73360
/close
This should be fixed by these PRs that ensure that the KUBE-MARK-DROP rule exists:
https://github.com/kubernetes/kubernetes/pull/84422
https://github.com/kubernetes/kubernetes/pull/82214

[2019-11-09 22:13] #73360 closed

[2019-11-09 22:48] divyenpatel commented on #75040
@tirelibirefe

Are you using vSphere 67u3 builds?

[2019-11-09 23:25] tirelibirefe commented on #75040
Hello;
No not 6.7u3; I use 6.7 GA. The documentation says 6.0+ is enough.
https://vmware.github.io/vsphere-storage-for-kubernetes/documentation/prerequisites.html
Does it has to be 6.7u3 ?

[2019-11-10 00:53] #81117 closed

[2019-11-10 01:18] AlyRagab commented on #84697
Any update EncryptionConfiguration status ?

[2019-11-10 02:47] dims commented on #78904
@tnozicka still up for trying to do this in the next couple of days?

[2019-11-10 04:33] fsadykov opened #85050 "Please add regulations exception for kubectl"
Hello Kubernetes,

Currently we use `grep` or `awk` to grep all matched pods.
[code]

Please add the regulations exception  so we can grep the pods.

[code]

In case of one pod in the deployments we should be able to use.
[code]

currently we are repeating our self with
[code]

Please add regulations exception and it will be very useful. Thank you

@kubernetes/sig-cli-feature-requests

sig/kuberne

[2019-11-10 04:46] #85050 closed

[2019-11-10 04:48] fsadykov opened #85051 "Please add regular expression to kubectl"
Hello Kubernetes,

Currently we use `grep` or `awk` to grep all matched pods.
[code]

Please add the regular expression so we can grep the pods.

[code]

In the case of one pod in the deployments, we should be able to use.
[code]

currently we are repeating our self with
[code]

Please add regular expression and it will be very useful. Thank you

/sig_kubernetes_sig-cli-feature-requests

[2019-11-10 05:01] #77209 closed

[2019-11-10 05:06] archmangler commented on #77086
Is there a way to do  this without using the proxy? In the environment we're currently using, there is no option to use the kubectl proxy on the bastion node.

[2019-11-10 05:17] fanux commented on #73779
install 1.16.2 has this issue too:
[code]

[2019-11-10 09:05] #77856 closed

[2019-11-10 09:05] #76325 closed

[2019-11-10 10:06] #78969 closed

[2019-11-10 11:27] avarf commented on #81220
/remove-lifecycle stale

[2019-11-10 12:21] draveness commented on #70585
👍

/close

[2019-11-10 12:23] mikkeloscar commented on #77603
/remove-lifecycle stale

[2019-11-10 13:39] shinebayar-g commented on #13479
/remove-lifecycle rotten

[2019-11-10 13:39] shinebayar-g commented on #13479
/reopen

[2019-11-10 14:44] 0anton commented on #51835
Same here: pod stuck in terminating phase for more then 3 hours. Container is successfully terminated, but Kubernetes still believes it needs to wait for something..

[code]

[code]

[2019-11-10 15:53] neolit123 commented on #73779
@fanux

if you call `kubeadm init` it will create the `/var/lib/kubelet/config.yaml` file and the kubelet should start. without kubeadm feeding it this config, it's crashlooping.

[2019-11-10 16:49] markyjackson-taulia commented on #80515
@liggitt I wanted to circle back around on this. We are 4 days out from code freeze. If this is still good based on #80572 just note here. Judging from the looks of it we are still good

[2019-11-10 16:52] markyjackson-taulia commented on #75551
Sent a slack DM and will wait till 5 pm pst. If no response I will have to move this out of v1.18 milestone

[2019-11-10 17:03] BSWANG commented on #72472
/remove-lifecycle rotten

[2019-11-10 17:13] #77928 closed

[2019-11-10 17:39] #84947 closed

[2019-11-10 17:52] hprateek43 opened #85070 "Update Bazel Script Broken"
**What happened**:
I ran update-bazel.sh to update the bazel files. Instead it threw me this error

[code]

**What you expected to happen**:
The bazel build  files should have been updated. Instead I got a package error.

**How to reproduce it (as minimally and precisely as possible)**:
Setup a go 1.13 environment and run `hack/update-bazel.sh`

**Anything else we need to know?**:
NONE

**Environm

[2019-11-10 17:53] hprateek43 commented on #85070
@liggitt Tagging for reference

[2019-11-10 18:14] #74572 closed

[2019-11-10 18:14] #73867 closed

[2019-11-10 18:15] josiahbjorgaard commented on #65200
@liggitt Could you confirm the status of this issue with regard to v1.17 and the recent PR referencing it? Should we have that PR in the milestone?

[2019-11-10 18:17] josiahbjorgaard commented on #68244
@mtaufen Code freeze is nearly here... will you be finished by Thursday EOD Pacific time, or should we bump this to v1.18?

[2019-11-10 18:23] josiahbjorgaard commented on #70189
@bclau @PatrickLang The v1.17 code freeze is this Thursday, end of day Pacific time. Will this issue be closed by then?

[2019-11-10 18:52] liggitt commented on #85070
what does `go env` output for you? Does a `make clean` help? Is your kubernetes checkout within your $GOPATH?

[2019-11-10 19:16] josiahbjorgaard commented on #62046
@PatrickLang Code freeze for v1.17 is upcoming this Thursday, should this issue be moved to v1.18?

[2019-11-10 19:18] josiahbjorgaard commented on #81491
@alejandrox1 Should this issue be moved to v1.18?

[2019-11-10 19:19] josiahbjorgaard commented on #82296
/milestone v1.18

[2019-11-10 19:19] liggitt commented on #80515
Yes this should merge early in the week

[2019-11-10 20:44] kikisdeliveryservice commented on #81490
Hi @spiffxp @alejandrox1 @yujuhong,

Is this still a 1.17 target or can we move it to 1.18?  Code Freeze is Nov. 14th.

Thanks!

[2019-11-10 20:46] kikisdeliveryservice commented on #81052
hi @johnbelamaric is this still targetting for 1.17 or can we move to 1.18? Code freeze is Nov 14th.  thanks!

[2019-11-10 20:47] kikisdeliveryservice commented on #82428
Following up: is this still intended for 1.17 or can we move it to 1.18?

-Bug Triage Team

[2019-11-10 21:17] #78154 closed

[2019-11-10 21:20] neolit123 commented on #81129
/remove-lifecycle stale

[2019-11-10 21:21] omerlh commented on #59888
Also seeing similar issue with nginx ingress, hpa on memory and Kubernetes 1.12.

[2019-11-10 22:49] liggitt commented on #85051
Labeling related pods and then using label selection (via --selector) is the recommended method for selecting groups of pods

[2019-11-10 23:18] #78550 closed

[2019-11-10 23:26] rnsv opened #85073 "Support for node-role.kubernetes.io and kubernetes.io/role in Kubelet config not working"
**What happened**:
Starting v1.16.x, the support to set node-role.kuberetes.io and kubernetes.io/role label using --node-labels option has stopped working because of this PR https://github.com/kubernetes/kubernetes/pull/79305.  This breaks the existing functionality as ```kubectl get nodes``` is not showing ROLES any more

**What you expected to happen**:
The system should allow setting node-role.

[2019-11-10 23:32] tedyu commented on #85073
It seems this was due to klog.Warningf being changed to Error (which should be conscientious decision).

[2019-11-10 23:40] liggitt commented on #85073
This is a duplicate of #84912

See https://github.com/kubernetes/kubernetes/issues/84912#issuecomment-551362981 and the referenced design for the reasons it is not desireable for kubelets to self-select their roles.

[2019-11-10 23:40] #85073 closed

[2019-11-10 23:40] josiahbjorgaard commented on #83259
@mikedanese Code freeze is in just a few days on Thursday, EOD, pacific time. Let us know if we should move this out of the v1.17 milestone.

[2019-11-11 00:25] fanux commented on #73779
I create this file myself and join get stuck.

[2019-11-11 00:44] neolit123 commented on #73779
the file is managed by kubeadm, so you should not create it.

[2019-11-11 01:02] thockin commented on #81301
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2019-11-11 01:35] JokerDevops opened #85074 "Is this a dashboard bug? I used kubernetes version 1.16.2 and dashboard version v2.0.0-beta4."
My dashboard was accessible at first, but when it was running for a while, it was not accessible. The dashboard pod log is as follows:
[code]

[2019-11-11 01:42] Aisuko commented on #61005
/remove-lifecycle stale

[2019-11-11 01:49] ahmad-diaa commented on #72547
Do we still need to export the fields even if `factory.go` is now part of the `scheduler` package?

[2019-11-11 02:26] dims commented on #81565
the CI job is green for a while now - https://testgrid.k8s.io/sig-testing-misc#local-up-cluster,%20master%20(dev)&width=20

/close

[2019-11-11 02:27] #81565 closed

[2019-11-11 02:30] dims commented on #77024
we are left with just kustomize here:
[code]

[2019-11-11 02:30] dims commented on #77024
we will need progress in https://github.com/kubernetes/kubernetes/issues/82905 for this to wrap up.

[2019-11-11 02:31] dims commented on #82905
/assign @Liujingfang1

[2019-11-11 02:33] xing-yang commented on #81318
/remove-lifecycle stale

[2019-11-11 02:42] liggitt commented on #67602
This was due to the kube-controller-manager specifically pinning its supported content types to protobuf. It needed to indicate it accepted proto or json. Fixed by #77817, #84692, #85076,

[2019-11-11 02:43] liggitt commented on #85074
probably a better question for https://github.com/kubernetes/dashboard/

[2019-11-11 02:43] #85074 closed

[2019-11-11 02:56] derekwaynecarr commented on #75482
Are you able to address this by performing a power cycle?  Typically, we do not recommend updating the host without rebooting it.

[2019-11-11 03:35] ricky1993 commented on #83997
In our scenario, we have implemented the feature @answer1991  mentioned above for avoiding 5k kubelet List pod request penetrating to the etcd.
But I think it's just a workaround way. /readyz and request priority & fairness feature would be more graceful.

[2019-11-11 03:37] feiskyer commented on #78893
@smourapina yep, #84700 is working on this.

[2019-11-11 05:22] feiskyer commented on #78893
After digging into docker SDK, the http header customization is not supported: both authConfig and ImagePullOptions don't support customize http header refer https://github.com/kubernetes/kubernetes/blob/71a7be41e0518a7df549eb1fa7b51e7c647d985b/pkg/kubelet/dockershim/docker_image.go#L106-L109.

[2019-11-11 05:22] #78893 closed

[2019-11-11 05:22] hprateek43 commented on #85070
go env

[code]

`make clean` does not help. The error still persists.

Isn't `GOPATH` deprecated in 1.13+, where `GOMOD` is enabled by default ?

[2019-11-11 05:25] SataQiu commented on #84869
/unassign

[2019-11-11 05:27] SataQiu commented on #84869
I think this feature needs support from `kubelet`.

[2019-11-11 05:35] liggitt commented on #85070
Modules are enabled by default, but gopath may still be used, and the kubernetes build scripts have not yet been updated to work with gomodules. See https://github.com/kubernetes/kubernetes/issues/82531 for the work remaining to do that

[2019-11-11 05:38] liggitt commented on #85070
Closing as a duplicate of https://github.com/kubernetes/kubernetes/issues/82531

/close

[2019-11-11 05:38] #85070 closed

[2019-11-11 05:41] #83876 closed

[2019-11-11 05:54] bg-chun commented on #84601
@ravisantoshgudimetla
[code]
=> I don't have clear picture yet, I think maybe we can make new node(v2?) obejct based on `cadvisor/info/v2/Topology` to demonstrate resources per NUMA node then we can put new algolithm(that find propoer node based on topology manager policy or topology requirement from pod spec in the future) somewhere in schduler package.

While it may not guarantee, would it be ok

[2019-11-11 06:33] yue9944882 commented on #84976
this should also be properly reflected in the openapi v2 spec. currently there's no such query param "precondition" published in all delete apis. (ref https://github.com/kubernetes/kubernetes/issues/34856)

[2019-11-11 06:59] #81966 closed

[2019-11-11 07:57] AaronLux opened #85080 "Resource status should be synchronized on each display interface."
The display of resource status should be synchronized on each display interface.

After the resource declared by the yaml file of the resource is edited by the kubectl edit command, the corresponding yaml file should be modified synchronously or through a mechanism to reflect the change of the resource declaration.

[2019-11-11 08:00] zehuaiWANG opened #85081 "kubernetes deployment rollout update don't have partition feature"
as we know, statefulset have the feature to do partation rollout update, so why deployment don't have such like feature.

[2019-11-11 08:13] cdelacruzpinto commented on #57801
I'm having the following problem:

- I Have a pull docker token from Gitlab (they allow to create accounts that allow only pulling from the registry of a single project), which expired, and two namespaces with same container image deployed. Both deployments in both namespaces pull using the same secret.
- In one of the namespaces, I replaced the secret and deleted the deployment. Created it again.

[2019-11-11 08:17] riffling opened #85082 "externalTrafficPolicy=Local doesn't work when the firewalld is running"
**What happened**:

1) deploy the docker registry.
2) Expose the service as NodePort like below
apiVersion: v1
kind: Service
metadata:
  labels:
    k8s-app: kube-registry
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: KubeRegistry
  name: kube-registry
  namespace: core
  resourceVersion: "3306662"
  selfLink: /api/v1/namespaces/core/services/kube-registry
  uid: 40a02758-f491-

[2019-11-11 08:19] gongguan commented on #84789
/close

[2019-11-11 08:20] #84789 closed

[2019-11-11 08:22] riffling commented on #85082
/sig network

[2019-11-11 08:34] ProgramerGu commented on #84340
Do you mean like k8s-device-plugin?

[2019-11-11 08:38] idouba opened #85083 "Could Resource of RBAC Rule be described by labels"
Instead of currently use resourceNames to describe the Resource of Role，Could labels be used to select the matched resources, since we  can not enumerate all the resource names in case resource is dynamically created.

[2019-11-11 08:53] tnozicka commented on #53023
Is status.observedGeneration matching the metadate.generation when you see a mismatch? I can't tell from the partial dumps.

[2019-11-11 09:00] tnozicka commented on #84068
@wking I think we currently report those as events which reference the RS, so you see it if you'd do `kubectl describe` or get events directly - would it help your use case?

[2019-11-11 09:03] YueHonghui commented on #84340
@ProgramerGu No, the problem is not how to add custom devices/resources and schedule it, this can be resolved by k8s-device-plugin. The problem is that some resources(such as IP or ENI-on-aws) is pod level but the only place to put resource requirements to pod spec is container level. In our case, now we push down such resource requirements from pod level to container level by choosing a container

[2019-11-11 09:22] pujunYang opened #85085 "xxx"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2019-11-11 09:22] #85085 closed

[2019-11-11 09:38] kevin-wangzefeng commented on #85083
/sig auth

[2019-11-11 09:44] tnozicka commented on #79590
/remove-sig apps
/sig scheduling

[2019-11-11 10:00] andyzheung opened #85087 "I can't curl through http proxy, but why?"
I want to use kubectl proxy to visit k8s api:

kubectl proxy --port=8080 &
![image](https://user-images.githubusercontent.com/22912347/68578536-2aac2700-04ad-11ea-85f8-8a0fa9cb0f17.png)

but I can't access it by:
![image](https://user-images.githubusercontent.com/22912347/68578548-30097180-04ad-11ea-8df6-10ea13913a72.png)

[2019-11-11 10:29] #73843 closed

[2019-11-11 11:19] max-rocket-internet commented on #84142
@shibataka000 as workaround, can we just set `minUnavailable: 1` to solve it?

[2019-11-11 11:28] ingvagabund commented on #84306
@liu-cong can you share logs from your run?

[2019-11-11 11:29] njuicsgz commented on #58217
it's gone after reboot the node~

[2019-11-11 11:31] #78483 closed

[2019-11-11 11:50] pjbgf commented on #73275
I would agree with @Random-Liu and I think this has now been fixed (https://github.com/docker/engine/pull/178) as I could not reproduce this with docker 18.09.7.

[2019-11-11 12:09] kevin-wangzefeng commented on #85083
Duplicate with https://github.com/kubernetes/kubernetes/issues/56582, https://github.com/kubernetes/kubernetes/issues/44703. Closing this.

[2019-11-11 12:09] kevin-wangzefeng commented on #85083
/close

[2019-11-11 12:09] #85083 closed

[2019-11-11 12:12] blurpy commented on #75414
Hi, I'm back.

We are rolling out 1.14.8, and the backported fix for coredns works nice for us.

However, I'm preparing an upgrade to 1.15.5, and I have the exact same issue again. As soon as the master is unavailable (like during kubeadm upgrade), coredns goes into CrashLoopBackOff.

I diff'ed the deployments of coredns in 1.14.8 and 1.15.5, and the only difference between them is that 1.15.5 is

[2019-11-11 12:38] paalkr commented on #84142
@shibataka000 , just to make sure this is not forgotten
Specifying `maxUnavailable: 0` also results in an uncontrolled roll out. Please verify that the fix in https://github.com/kubernetes/kubernetes/pull/85027 also apply to the `maxSurge: 1` and `maxUnavailable: 0` scenario as well.

[2019-11-11 12:50] paalkr commented on #84142
@max-rocket-internet , if I'm not mistaken this bug is related to `maxUnavailable: 0`, not `minUnavailable: 0`. So specifying `minUnavailable: 1` won't help.

[2019-11-11 13:02] max-rocket-internet commented on #84142
Sorry, I meant `maxUnavailable: 0` but copy pasted the incorrect text. I think `minUnavailable` is simply a typo.

So, as workaround, can we just set `maxUnavailable: 1` to solve it?

[2019-11-11 13:10] paalkr commented on #84142
`maxUnavailable: 1` is really not a good workaround. Say you have a deployment with 200 pods, `maxUnavailable: 1` would slow down the roll out dramatically, as only one new pod could be created at a time, instead of all 200.

If the startup time for your pod is 10 seconds, replacing all 200 pods would take 10 seconds with `maxUnavailable: 0` and 2000 seconds (33.3 minutes) with `maxUnavailable: 1`

[2019-11-11 13:21] shibataka000 commented on #84142
@paalkr  @max-rocket-internet I'm sorry. `minUnavailable` is typo. `maxUnavailable` is correct.

[2019-11-11 13:37] kevtaylor commented on #82577
@msau42 Do you want me to put in a PR to switch the e2e tests to conformance level?
If so, just need some advice on that - seems like to just change `It` to `ConformanceIt` ?
Do we then need to leave the `[sig-storage]` tags - or remove them?
Any other additional tags that we need?

[2019-11-11 13:49] #69376 closed

[2019-11-11 13:50] shibataka000 commented on #84142
@max-rocket-internet

Unfortunately no. When I try scenario described in https://gist.github.com/skaji/575e4a383fac0f0d11b5b51220a6049c with `maxUnavailable: 1`, HPA scale deployment regardless of current load. `len(metrics)` become `3` depends on timing.

[2019-11-11 13:56] josiahbjorgaard commented on #76064
@cadmuxe Will it be merged by this Thursday for v1.17 code freeze?

[2019-11-11 13:58] liggitt commented on #65200
no, that PR is not planned to merge as is. the changes required to fix this issue are too risky for this point in the release, will defer to 1.18

/milestone v1.18

[2019-11-11 14:05] benmoss commented on #78565
/close

[2019-11-11 14:05] #78565 closed

[2019-11-11 14:05] benmoss commented on #78857
/close

[2019-11-11 14:05] #78857 closed

[2019-11-11 14:43] nicam commented on #28321
Which one is correct? :D

[2019-11-11 14:46] kremers commented on #70485
Same issue with trident v19.10.0

[2019-11-11 14:57] liu-cong commented on #83415
#83674 fixed this.

[2019-11-11 14:57] #83415 closed

[2019-11-11 15:02] klueska opened #85093 "Topology Manager for 1.18 Tracking Issue"
This issue is used to track the enhancements we plan to make to the `TopologyManager` in the 1.18 timeframe. As part of the 1.18 release, we plan to graduate the `TopologyManager` to `beta`.

The tracking issue for the full `TopologyManager` feature can be found here:
kubernetes/enhancements#693

The following document outlines the enhancements we plan to make in 1.18 (some of them were already co

[2019-11-11 15:12] liu-cong commented on #80272
/help
/good-first-issue

[2019-11-11 15:13] liu-cong commented on #80272
At the time of writing, only RunScorePlugins and RunPreFilterPlugins are tested. We should continue to add tests for other extension points.

[2019-11-11 15:16] klueska commented on #83479
I have updated the description for this issue to only include the PRs we actually plan on getting into 1.17 at this point. The only remaining PR is the documentation one from @lmdaly. All others have been merged already.

Unfinished work has been pushed out to a tracking issue for 1.18:
https://github.com/kubernetes/kubernetes/issues/85093

[2019-11-11 15:17] klueska commented on #85093
/sig-node

[2019-11-11 15:18] klueska commented on #85093
/sig node

[2019-11-11 15:30] alculquicondor commented on #72547
You are right, we don't. But since we are planning of getting rid of `Configurator` altogether, I think it's fine to export so that we can distinguish input vs calculated fields.

[2019-11-11 15:34] #79024 closed

[2019-11-11 15:43] jacksontj commented on #73157
This should have nothing to do with the cloud providers? The issue here is that in an ipv6 cluster you can still sometimes have some ipv4 addresses for things (e.g. LoadBalancers -- as a very concrete example DigitalOcean doesn't do ipv6 load balancers) and then kube-proxy attempts to use those ipv4 addresses in ip6tables which breaks the entire chain generation. So as it stands today it takes a s

[2019-11-11 15:52] liggitt commented on #67602
/close

[2019-11-11 15:52] #67602 closed

[2019-11-11 15:52] wking commented on #84068
In that case, I might as well get the pods directly, right?  And while that would work, this feels like something that should happen in the controller (who is already looking at the pods and summarizing them numerically).  Use case is operators that manage deployments, e.g. openshift/library-go#575 to replace messages like "I'm one ready, upgraded pod short of being happy" (not very actionable) wi

[2019-11-11 16:00] jmcmeek commented on #84931
Is this issue the same problem?  Sure looks like it: https://github.com/kubernetes/kubernetes/issues/82346

I've been following that issue in hopes of a fix as we see this happen a few times a day (several large clusters).  Very happy to see progress.

[2019-11-11 16:51] alculquicondor commented on #83574
Please stay tuned until after the code freeze.

[2019-11-11 16:52] kfox1111 commented on #75482
No. Sometimes upgrading the container engine may cause it to loose track of containers unsafely but persistently (storage). The instructions say, to clean off 'all' containers off of the system before upgrading the container runtime. Daemonsets are ignoring this and not actually draining. (Sometimes useful). There needs to be an easy way to completely remove all running kubernetes managed containe

[2019-11-11 17:26] PatrickLang commented on #84610
@jterry75 the tagging needs to follow the same naming as on Linux. It's not very intuitive. Windows images are substituted by changing the registry name, not the image name. This is documented here https://github.com/kubernetes-sigs/windows-testing/

So @adelina-t - can we proceed with moving off the nginx image? I think we should move this to an image that's better supported on all OS + architect

[2019-11-11 18:10] pjbgf commented on #84623
On a fresh install the issue is reproducible in both dockershim and cri-o.

[2019-11-11 18:27] msau42 opened #85101 "Add Container Storage Interface integration to conformance"
**What would you like to be added**:
Continuing the discussion in https://github.com/kubernetes/kubernetes/issues/65155#issuecomment-510247066, while we can't test provider-specific CSI drivers in conformance, we can test provider-agnostic drivers like CSI hostpath, and make sure that K8s distributions are properly supporting the CSI interface.

There are some challenges that need to be solved bef

[2019-11-11 18:32] msau42 commented on #85101
/assign

[2019-11-11 19:03] adelina-t commented on #84610
@PatrickLang yeah, I already have this PR for this: https://github.com/kubernetes/kubernetes/pull/84788

[2019-11-11 19:20] akutz opened #85103 "Go modules failing with "kubernetes-1.15.4" and "k8s.io/apimachinery" when GOPROXY disabled"
**What happened**:
Running `go mod download` with `GOPROXY` disabled in a project that references `k8s.io/apimachinery@kubernetes-1.15.4` fails with either:

**Go 1.12**

[code]

or

**Go 1.13**

[code]

The failures occur because `f2f3a405f61d` was pushed as [a branch](https://github.com/kubernetes/apimachinery/commit/f2f3a405f61d) to the API machinery repository, confusing the Go module solver.

[2019-11-11 19:20] akutz commented on #85103
/sig apimachinery

[2019-11-11 19:21] Huang-Wei commented on #84306
Maybe #85090 helps.

[2019-11-11 19:21] akutz commented on #85103
/sig api-machinery

[2019-11-11 19:32] cblecker commented on #85103
/assign

[2019-11-11 19:33] ahg-g commented on #84306
Yes, it fixed the problem Cong was having.

[2019-11-11 19:38] ejweber commented on #75191
Apologies for the extreme delay in keeping up with this issue. I believe the issue with ignored mount options may be more generally related to the way the Linux mounter (/pkg/utils/mount/mount-linux.go) handles mount options, although I don't have enough experience with other volume plugins to speak authoritatively on the issue. I recommend we try to get the basic changes suggested above into the

[2019-11-11 19:44] carnott-snap opened #85105 "remove redundant replace block"
**What would you like to be added**:
I would like to see the removal of unnecessary `replace` blocks within component repos. E.g. `k8s.io/api`:
[code]

**Why is this needed**:
This `replace` contains two override types. The first is a noop, `k8s.io/apimachinery` is required at `v0.0.0-20191109100837-dffb012825f2`, so this `replace` only serves to confuse consumers and suggest that the `replace` is

[2019-11-11 19:50] carnott-snap commented on #85105
/sig release

[2019-11-11 20:05] akutz commented on #85103
I can confirm that deleting the offending branch has resolved the issue. @ncdc also confirmed this in a private Slack thread.

[2019-11-11 20:07] cblecker commented on #85103
Root cause was identified as human error. Branch has been deleted, and functionality returned to normal.

/close

[2019-11-11 20:07] #85103 closed

[2019-11-11 20:27] george-angel commented on #46287
/remove-lifecycle stale

[2019-11-11 20:56] #85033 closed

[2019-11-11 21:03] xzhang007 commented on #60807
We met with the same issue, when deleting a namespace, it will stuck in 'Terminating' state. I followed the stpes above to remove 'kubernetes' in finalizer in the yaml file. It works.

However, we don't know why we need to do extra steps. It should do kubectl delete ns foonamespace and it should delete. Can anyone give me a reason? Thank you!

[2019-11-11 21:11] bjhaid commented on #65502
This PR:

https://github.com/kubernetes/enhancements/pull/919

was merged a while ago, should this issue be closed? cc @Joseph-Irving

[2019-11-11 21:16] thyarles commented on #60807
Hello @xzhang007,

If you discover why the namespace deletion stucks in Terminating state, please, let me know. I tried for a while a good answer, but nothing. Then I made a script to make my life easier until discover and fix the cause.

Thank you.

[2019-11-11 21:18] xzhang007 commented on #60807
@thyales it seems I did not find an answer up to now.

[2019-11-11 21:22] johnbelamaric commented on #82577
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md

Please do that ASAP if you want it to make the release!

[2019-11-11 21:22] johnbelamaric commented on #82577
You can leave the sig-storage tags

[2019-11-11 21:25] fabiand commented on #60807
In our case we discovered that one of the webhhoks and finalizers we were
using was reaching out to a pod which was living in the namespaces that got
deleted.
Once the pod got deleted, the termination was stuck.

[2019-11-11 21:28] johnbelamaric commented on #85101
@brahmaroutu is working on a KEP for this

[2019-11-11 21:34] johnbelamaric commented on #85101
Privileged is not ideal but other things also need privileged too. Eventually maybe we will be able to segregate those but we cannot now.

[2019-11-11 21:37] thockin commented on #84993
Pushed to staging, promotion process is in progress.

On Fri, Nov 8, 2019 at 8:07 AM chrisohaver <notifications@github.com> wrote:

[2019-11-11 21:46] msau42 commented on #82577
sgtm!

[2019-11-11 21:53] msau42 commented on #51835
Can you check your kubelet logs and see if there's any messages about volume unmount failing, or orphaned pods?

[2019-11-11 22:08] ejweber commented on #75191
To clarify my previous comment, during Attach, the FC volume plugin mounts an FC volume to a global path with no mount options. During Mount, the Linux mounter bind mounts (-o bind) and bind remounts (-o bind,remount) an FC volume to a Pod specific path with mount options. However, the bind remount action is only capable of applying a limited number of mount options (those not on the list are sile

[2019-11-11 22:24] thockin commented on #82125
#84422 feels weird - it makes sure the chain exists but doesn't configure it.  Which means we could actually do the WRONG things by jumping to an empty chain.  It almost feels like we should configure it fully or not at all (better to fail with a useful error).

If we move the MASQ logic exclusively to kubelet, we get rid of duplicate work, but we take a subtle, implicit dependency in kube-proxy.

[2019-11-11 22:29] davidz627 commented on #80069
/remove-lifecycle rotten

[2019-11-11 22:29] davidz627 commented on #80488
/remove-lifecycle stale

[2019-11-11 22:46] #78535 closed

[2019-11-11 23:03] Random-Liu commented on #84623
I think we can always set `AllowPrivilegeEscalation=false` for pause container.

And for pause container, I think it makes sense to set a default seccomp profile inside the container runtime? It seems that the seccomp profile for pause container shouldn't be configurable by users, because the behavior is fixed for a dedicated pause container image, we know exactly what it needs.

@pjbgf Hm, why `A

[2019-11-11 23:47] shalini-b opened #85114 "Kubernetes allows editing AccessMode after PV is created and bound to PVC"
Initial State of bound PVC and dynamically provisioned PV with Access Mode as `ReadWriteOnce`
[code]

[code]

I tried editing the `Access Modes` field to `ReadWriteMany` in the PV by running the command below:
[code]

Now I can see the Access Modes as `RWX`
[code]

**Expected behavior:**
The attribute `Access Modes` should be immutable after creating PVC and PV. Edits on this attribute should not

[2019-11-12 00:04] aojea commented on #82125
I think @uablrek was looking deeper into this , but my understanding is that kube-proxy configures rules that uses DROP in two places
https://github.com/aojea/kubernetes/blob/1ca0ffeaf2c4401549b82f549f7481313308d4b9/pkg/proxy/iptables/proxier.go#L1044

https://github.com/aojea/kubernetes/blob/1ca0ffeaf2c4401549b82f549f7481313308d4b9/pkg/proxy/iptables/proxier.go#L1281
because kubelet only configur

[2019-11-12 00:35] catman002 opened #85116 "a quick installation k8s tool: ek8"
Recommend a quick installation k8s tool: ek8, one command to complete the installation。
Please pay attention to！
https://github.com/catman002/kubernetes-ek8/releases

[2019-11-12 01:12] shalini-b commented on #85114
/remove-sig vmware

[2019-11-12 01:18] josiahbjorgaard commented on #62046
/milestone v1.18

[2019-11-12 01:23] shalini-b commented on #85114
/kind bug

[2019-11-12 01:40] hzxuzhonghu commented on #65502
Nope, this should be closed when the feature is implemented.

[2019-11-12 02:49] k-toyoda-pi opened #85118 "Unify aliases under test directory for "k8s.io/apimachinery/pkg/api/errors""
**What happened**:
Many files under test directory import `"k8s.io/apimachinery/pkg/api/errors"`.
But, different aliases are defined for each file.

For example,
[code]
[code]
We can get more readability if the aliases are unified.
I suggest that we unify the alias to "apierrs" because many files use it.

https://github.com/kubernetes/kubernetes/pull/85078 adds "apierrs" to `hack/.import-aliases`.

[2019-11-12 02:53] valentin2105 commented on #78900
Any solution out there ?
My k8s-ipv6 (v1.10.6) on Stretch work fine, but my new node in Debian buster doesn't work due of Gluster 5.5.

[2019-11-12 02:54] k-toyoda-pi commented on #85118
/remove-kind bug

[2019-11-12 03:12] wwj-2017-1117 commented on #69523
Incompatible between golang-1.12 and golang-1.13 versions.

[2019-11-12 04:30] yuxiangqian commented on #81318
cc @yuxiangqian @boylee1111

[2019-11-12 04:30] yuxiangqian commented on #81318
/assign @yuxiangqian

[2019-11-12 04:31] yuxiangqian commented on #81318
target 1.17 instead of 1.16

[2019-11-12 04:50] brycesteinhoff commented on #77745
I'm having this same issue as well.

[2019-11-12 05:29] pjbgf commented on #84623
That's awesome, @Random-Liu, thank you. I will give it a go on a PR for that.

Historically, Docker always applied the seccomp profile very early in the process of starting  containers, which meant that things such as drop caps and setuid had to be included in the users seccomp profile. From version 1.12, they added the option of executing it as the very last thing just before the `exec` when `All

[2019-11-12 05:44] danielqsj commented on #85118
/assign

[2019-11-12 05:52] charleszheng44 commented on #80272
@liu-cong please let me know if you still need help. I would love to add unit tests for the framework.

[2019-11-12 05:54] #74317 closed

[2019-11-12 06:12] tatsuhiro-t commented on #60295
I encountered this issue too and found that kubectl label --local is quite handy:

[code]

and you can pipe it to kubectl apply -f- to send it to server.

[2019-11-12 06:55] Thoro commented on #65502
The PR also suggestions something different, it solves the issue of istio, but it does not solve the ordered startup / shutdown of containers

[2019-11-12 07:16] wojtek-t commented on #81360
/remove-lifecycle stale

[2019-11-12 07:42] liggitt commented on #85080
It's unclear what this is asking for. Can you describe what steps you would want to perform and what the desired outcome would be? After performing a change via `kubectl edit`, the updated resource is persisted in the API server and can be fetched/displayed.

[2019-11-12 07:43] liggitt commented on #85116
This might be better shared via the user forum, mailing list, or slack.

/close

[2019-11-12 07:43] #85116 closed

[2019-11-12 07:45] omitrowski commented on #60987
same on kubelet --version
Kubernetes v1.16.1
no cloud provider, bare-metal
`Nov  9 03:13:08 web3 kubelet[101376]: E1109 03:13:08.718119  101376 docker_sandbox.go:267] Failed to stop sandbox "29f12ebaa015f3741ef64008d26df8218de8e0b3202043c14872def39bd2e428": operation timeout: context deadline exceeded
Nov  9 03:13:09 web3 kubelet[101376]: E1109 03:13:09.783250  101376 remote_runtime.go:243] StopCo

[2019-11-12 08:40] jethrogb commented on #62366
/remove-lifecycle stale

[2019-11-12 08:42] kevtaylor opened #85122 "Promote e2e tests for VolumeSubpathEnvExpansion to Conformance"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind api-change
/sig storage
/sig node
/sig testing

**Description:**
Promote e2e tests for VolumeSubpathEnvExpansion to Conformance as it is GA approved.

Related Issues:
GA Upgrade: https://github.com/kubernetes/kubernetes/pull/82578
Feature Request: https://github.com/kubernetes/features/issues/559
KEP: https://github.com/kubernetes/enhancements/bl

[2019-11-12 08:42] kevtaylor commented on #85122
/assign @kevtaylor

[2019-11-12 09:08] jeff-knurek commented on #60807
@xzhang007 have you looked at the answer @alvaroaleman provided? For us that was enough to find out what the cause was.

----
also, when this issue was closed, there was a new ticket referenced to discuss how to make it clear why the namespace is stuck in Terminating. I suggest you take the conversation there instead of this closed issue.

[2019-11-12 09:10] #80269 closed

[2019-11-12 09:12] zrss commented on #70496
/cc

[2019-11-12 10:00] kiddingl opened #85126 "version:1.11.8 failed to upgrade to version:1.12.0"
**What happened**:
[code]
My etcd cluster is setup by yum installing and is not pod running on k8s. My  cluster don't have /etc/kubernetes/manifests/etcd.yaml
**What you expected to happen**:
successfully upgrade to version 1.12.0

**How to reproduce it (as minimally and precisely as possible)**:
You should setup etcd cluster with yum installing

**Anything else we need to know?**:
My kubeadm-conf

[2019-11-12 10:06] sttts opened #85127 "nullable in OpenAPI schema breaks server-side-apply"
With `nullable: true` in a CRD we get:
[code]

This is because gnostic's OpenAPI proto types have no nullable support.

Luckily CRDs keep working because in the upper error case we don't stop serving, just set the SSA schema to nil.

[2019-11-12 10:26] tedyu commented on #84931
@renjian52
Can you attach kubelet log (without the patch) somewhere and share the URL ?

Thanks

[2019-11-12 10:26] venthur commented on #68457
/remove-lifecycle stale

feels like i got promoted to a human cronjob

[2019-11-12 10:30] irajdeep commented on #84184
@yue9944882 I can on this if no one else is currently working on it.

[2019-11-12 11:38] skilxn-go opened #85130 "Add ondelete updateStrategy for deployment workload"
**What would you like to be added**:
Add ondelete updateStrategy for deployment.

**Why is this needed**:
For example, our service/workload is stateless. However people may still want to control the detail of pods' updating.
I can achieve this by using a StatefulSet, but I think if deployment supports this kind of updateStrategy is more suitable (for that we don't need any other feature of a State

[2019-11-12 11:40] skilxn-go commented on #85130
/sig cluster-lifecycle

[2019-11-12 11:43] skilxn-go commented on #85130
I can do some work around this feature if that's acceptable

[2019-11-12 11:51] #80147 closed

[2019-11-12 12:06] blurpy commented on #75414
I see from the history of the coredns addon that coredns was reverted from 1.5.0 to 1.3.1 without adding the emptyDir hack in 1.15.0-rc1. So it looks like a regression.

[2019-11-12 12:14] xujihui1985 commented on #26275
is there any chance to reopen this issue?

[2019-11-12 12:54] danwinship commented on #82125
Hm... I was worrying about the case of:
1. admin restarts iptables/firewalld, flushing all iptables rules.
2. kube-proxy's `iptables.Monitor` triggers, kube-proxy tries to reload rules, but fails because one of the thousand iptables rules tries to jump to `KUBE-MARK-DROP` which doesn't exist.
3. later, kubelet's `iptables.Monitor` triggers, kubelet recreates `KUBE-MARK-DROP`.
4. later, kube-proxy

[2019-11-12 12:56] Davidrjx commented on #70161
@ndesh26 how did you specify --kube-reserved or/and --system-reserved, especially for cgroup?

[2019-11-12 13:01] munnerz commented on #85130
I think this would fall under sig-apps, as they own Deployment code 😄

/sig apps

[2019-11-12 13:01] munnerz commented on #85130
/unsig cluster-lifecycle

[2019-11-12 13:09] yue9944882 commented on #84184
@irajdeep sure, feel free to tag me to ask for reviewing..

[2019-11-12 13:15] tirelibirefe commented on #75040
@divyenpatel
Today I upgraded one of my vsphere's from 6.7GA to 6.7U3; nothing changed.

[2019-11-12 13:19] lukaszo commented on #67730
/reopen

[2019-11-12 13:20] lukaszo commented on #67730
Issue still exists so reopening

[2019-11-12 13:21] lukaszo commented on #67730
/remove-lifecycle rotten

[2019-11-12 13:25] cobalamin commented on #48948
/remove-lifecycle stale

[2019-11-12 13:28] lukaszo commented on #67730
@lbernail  @Lion-Wei any updates?

[2019-11-12 13:49] wojtek-t commented on #84452
I'm fairly close with it (as you can see in https://github.com/kubernetes/kubernetes/pull/84441), but I doubt I will get that to 1.17 unfortunately.

[2019-11-12 14:02] vgurev commented on #70334
I have the same issue Docker version 18.09.7, kubernetes v1.16.2, Ubuntu 16.04

[2019-11-12 14:21] dims commented on #26275
/reopen

[2019-11-12 14:38] xzhang007 commented on #60807
@jeff-knurek  That should be the right way.  Thank you.

[2019-11-12 14:41] ndesh26 commented on #70161
@Davidrjx You need to specify those options when starting kubelet. I hope that helps.

[2019-11-12 15:31] cbf123 commented on #84601
I had been thinking that kubelet could recognize that it can't fit the pod and explicitly send it back to the scheduler rather than failing it multiple times and having something else evict it.  But if that doesn't make sense within the overall design then something that evicted a failing pod would be better than nothing.

I agree though that it'd be better for the scheduler itself to be NUMA-awar

[2019-11-12 15:34] pperiyasamy commented on #81728
I just noticed the host's /sys directory as volume mount inside the pod which was the reason pod's cpuset.cpus file just having host's file content.
closing the issue.

[2019-11-12 15:48] irajdeep commented on #84184
awesome, I will
/assign

[2019-11-12 15:58] ryedin commented on #74741
This appears to be true still (normal Jobs with `ttlSecondsAfterFinished: 0` don't get removed for me), so I have the job as well as the pod sitting there indefinitely

[2019-11-12 16:18] akavel commented on #34274
Guys, so this is now both `"priority/important-soon"`, and `"lifecycle/rotten"`; can you make a grown-up decision on it and remove one of those labels? doesn't make much sense to see them both applied. The docs [still contain the section warning that this is alpha functionality](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/#alternative-kubectl-apply-f-directory-pru

[2019-11-12 16:22] liu-cong commented on #80272
@charleszheng44 We still need help for this. Feel free to add more unit tests. Let me know if you need any help. Thanks!

[2019-11-12 16:30] alculquicondor opened #85140 "Make algorithm source an option of scheduler.New"
**What would you like to be added**:
Make algorithm source an option of `scheduler.New` and add the default one.

**Why is this needed**:

To easy the usage of `scheduler.New`. Today, users have to manually create an algorithm source when they only want the default behavior

https://github.com/kubernetes/autoscaler/pull/2515#discussion_r344750419

/sig scheduling
/help
/good-first-issue

[2019-11-12 16:33] tedyu commented on #74741
@ryedin
See if #85141 fixes the issue you described above.

[2019-11-12 16:48] PatrickLang opened #85142 "Windows CRI-ContainerD: some paths have / instead of \\"
**What happened**:

Many tests are failing using Kubernetes 1.17/master branch with ContainerD on Windows. Digging into the kubelet logs, there's a failure starting containers with `c: The parameter is incorrect.`

There was a private fix in jterry75/cri for this, we're going to test it and move it to containerd/cri if it works.

[code]

**What you expected to happen**:

No errors starting contain

[2019-11-12 16:48] PatrickLang commented on #85142
cc @adelina-t

will add more info shortly, needed a quick tracking #

[2019-11-12 16:55] josiahbjorgaard commented on #18394
/milestone v1.18

(No activity during this cycle)

[2019-11-12 16:59] josiahbjorgaard commented on #73723
@apelisse Can we move this to the v1.18 milestone as code freeze is in a couple of days?

[2019-11-12 17:06] #84959 closed

[2019-11-12 17:21] cardil opened #85143 "Passing labels as number results in misleading error"
**What happened**:
Creating a resource labeled with numeric value resultd in misleading message.

Error says: `ReadString: expects " or n, parsing XX`

**What you expected to happen**:
As labels must have values as string, error should be: `ReadString: expects ", parsing XX` or even better `ReadString: expects string value, parsing XX`

**How to reproduce it (as minimally and precisely as possible

[2019-11-12 17:23] cji commented on #81124
/remove-lifecycle stale

[2019-11-12 17:23] cji commented on #81143
/remove-lifecycle stale

[2019-11-12 17:23] cji commented on #81112
/remove-lifecycle stale

[2019-11-12 17:26] cardil commented on #85143
/sig api-machinery

[2019-11-12 17:41] charleszheng44 commented on #80272
/assign

[2019-11-12 18:08] andrewsykim commented on #81775
@lbernail I'm not able to reproduce the case where a real server isn't deleted for up to 15m because of the remote host dying. I tested this by opening a telnet connection to a pod in a remote host and then shutting down that remote host. Maybe I'm missing a step here to reproduce it.

[2019-11-12 18:12] rajansandeep commented on #84993
Image is live
/close

[2019-11-12 18:12] #84993 closed

[2019-11-12 18:15] andrewsykim commented on #81775
Nvm, I was able to reproduce by taking down the network interface instead of nuking the VM.

[2019-11-12 18:23] apelisse commented on #73723
Of course

[2019-11-12 18:23] #84850 closed

[2019-11-12 18:25] mattsdevop commented on #69697
Experiencing on v1.14.6. reported my issue here initially: https://github.com/longhorn/longhorn/issues/722 as I am also using Longhorn. Longhorn appears to do what it's supposed to by deleting the volume. Attempting to delete the pvc via the API results in the pod stuck in `removing` status `waiting on kubernetes.io/pv-protection`
[code]

[2019-11-12 18:32] glasser commented on #45509
Unfortunately statefulset doesn't really solve this problem either — it lets you delete a specific pod, but only the highest-numbered one!  I suppose you can try to go out of your way to put more load on smaller-numbered pods though.

While I agree that the cleanest solution in general is "scale down, let controller choose a pod to kill, use hooks/signals to drain the chosen pod", there still is s

[2019-11-12 18:46] alculquicondor commented on #85040
/sig testing

[2019-11-12 18:49] alculquicondor commented on #85040
/remove-sig testing

[2019-11-12 19:04] DeySouvik opened #85148 "downwardAPI volumes should also have hugepages-<size> exposed to the pod through resourceFieldRef."
**What would you like to be added**:
Currently the resourceFieldRef only exposes the cpu/memory and ephemeral-storage limit and requests to the POD. The hugepages information is not retrieve through the same mechanism.
POD manifest :
apiVersion: v1
kind: Pod
metadata:
  name: isbc
  namespace: development
  labels:
    name: isbc
  annotations:
    k8s.v1.cni.cncf.io/networks: pkt0-conf, pkt0-conf

[2019-11-12 19:06] liggitt commented on #85143
Thanks for the report, but null is also accepted for string fields by the json parser, so the string token must begin with " or n (for null)

The current message, along with the context of what part of the manifest was not valid, should provide enough information to resolve the issue

/close

[2019-11-12 19:06] #85143 closed

[2019-11-12 19:08] liggitt commented on #85022
https://github.com/kubernetes/legacy-cloud-providers/tree/master/aws is the current home of that code (from 1.15+).

/close

[2019-11-12 19:08] #85022 closed

[2019-11-12 19:13] hypnoglow commented on #85140
/assign

[2019-11-12 19:14] DeySouvik commented on #85148
@kubernetes/sig-node-feature-requests
@kubernetes/sig-service-catalog-feature-requests
@kubernetes/sig-scheduling-feature-requests
@kubernetes/sig-instrumentation-feature-requests
@kubernetes/sig-network-feature-requests
@kubernetes/sig-architecture-feature-requests
/wg resource-management

[2019-11-12 19:39] lbernail commented on #81775
I typically test this by triggering a kernel panic

[2019-11-12 19:51] #84906 closed

[2019-11-12 19:51] #83356 closed

[2019-11-12 19:57] ryedin commented on #74741
Sorry, not power user enough yet to test some arbitrary branch of the kube api. Looking at the code in the PR, I guess it seems good :)

Looking at the diff led me to believe that I could maybe get around this issue by specifying a non-zero positive value, but that appears to also not work.

/shrug

fwiw, this is on `v1.14.7`

[2019-11-12 20:01] ryedin commented on #74741
I'm guessing my issue is more just how my current server (docker desktop with kubernetes enabled) has chosen to implement the garbage collection (or not).

we're in early phases of modernizing our app, so this is all the data I have right now (still in local testing, then will move to EKS/eksctl, etc).

Apologies if all I've done is add noise to this issue xD

[2019-11-12 20:01] #79071 closed

[2019-11-12 20:01] #78211 closed

[2019-11-12 20:28] frapposelli commented on #75175
@krishn10 @BrandonStiff @rleonardibm @tiempososcuros @framegrace @Ptyool
Is this still an issue with more recent versions of k8s?

/remove-lifecycle stale
/lifecycle frozen

[2019-11-12 20:42] apelisse commented on #85127
Thanks for reporting!

[2019-11-12 21:04] apelisse commented on #85127
I think it should be "This is because gnostic's OpenAPI **v2** proto types have no nullable support.".
The problem is that we're not supposed to pass-in v3.

[2019-11-12 21:08] apelisse commented on #85127
Source: #77354

[2019-11-12 21:09] apelisse commented on #85127
https://github.com/kubernetes/kubernetes/pull/77354/commits/c0617933d4bec5b00dbbfcd24edb7d7e7fc5509d#diff-2f720a7e61a4ddfcfe9a9e353be8784b

[2019-11-12 21:13] apelisse commented on #85127
OK, We'll write a test and fix this, thanks Stefan!

[2019-11-12 21:16] mazamats commented on #60807
If anyone is looking to find the root cause of the problem, run `kube get apiservice` and see which one is showing `Failed`

In our case it was a botched upgrade of `cert-manager` which broke the finalizer. https://github.com/jetstack/cert-manager/issues/1582

[code]

[2019-11-12 21:28] liggitt commented on #84956
can you provide the apiserver invocation and network environment (ipv4/v6/dual)? what does `/healthz` return?

[2019-11-12 21:30] fedebongio commented on #85039
/assign @caesarxuchao

[2019-11-12 21:50] #83416 closed

[2019-11-12 21:58] jsmilani commented on #84603
Final update. Using calico and upgrading centos kernel to >5.3 seemed to resolve all the networking issues in our setup.

[2019-11-12 21:58] #84603 closed

[2019-11-12 22:12] kachkaev commented on #62822
/remove-lifecycle stale

[2019-11-12 22:33] richstokes commented on #46381
Running into the same issue as above: The kubectl config view --flatten will only keep the user and token for the first one it encounters, which defeats the purpose of trying to merge it in the first place.

This is really annoying since its best practice to use unique tokens, but this command is truncating them when trying to merge multiple accounts/contexts into one file.

[2019-11-12 22:39] MrHohn opened #85155 "Cleanup the unneeded cache layer in service controller"
**What would you like to be added**:

There are a bunch of codes in service controller that implements a service cache layer to ease controller to know what load balancer needs to be deleted. They need to be cleaned up such that controller should no longer rely on this cache:
https://github.com/kubernetes/kubernetes/blob/81e9f21f832f88422f1ccf5b8aa90de7cf822132/pkg/controller/service/controller.go

[2019-11-12 22:39] MrHohn commented on #85155
/assign

[2019-11-12 22:43] MrHohn commented on #85155
/sig network
/kind cleanup
/remove-kind feature

[2019-11-12 22:43] liggitt commented on #46381
It keeps all uniquely named users/clusters. If you have user stanzas with the same name, keeping all of them would make the resulting file ambiguous.

[2019-11-12 22:47] richstokes commented on #46381
So how can you merge multiple files that have the same username but different tokens?

[2019-11-12 22:48] liggitt commented on #46381
you cannot; those are effectively the same user stanza, and can only have a single bearer token

[2019-11-12 22:51] richstokes commented on #46381
So if you run multiple clusters you should use a different/unique username on each? Very unintuitive.

[2019-11-12 22:57] MrHohn commented on #85155
/remove-triage unresolved

[2019-11-12 23:22] liggitt commented on #46381
If you want to merge them into a single kubeconfig, yes

[2019-11-12 23:31] andyzhangx opened #85159 "vmss dirty cache issue"
**What happened**:
vmss dirty cache issue, caused by https://github.com/kubernetes/kubernetes/pull/83102

**What you expected to happen**:
clean vmss cache should happen after disk attach/detach operation, now it's before those operations, which would lead to dirty cache.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kub

[2019-11-12 23:37] andyzhangx opened #85160 "regression unit tests addressing azure disk dirty cache issue"
**What would you like to be added**:
regression unit tests should be added, to address azure disk dirty cache issue
https://github.com/kubernetes/kubernetes/pull/85158

**Why is this needed**:

/kind test
/assign
/priority important-soon
/sig cloud-provider
/area provider/azure

[2019-11-12 23:45] dchen1107 commented on #85040
/assign @Random-Liu

[2019-11-13 00:11] msau42 commented on #80186
/remove-lifecycle rotten
cc @bertinatto

[2019-11-13 00:30] kikisdeliveryservice commented on #81490
/milestone clear

[2019-11-13 00:31] kikisdeliveryservice commented on #81491
/milestone clear

[2019-11-13 00:31] carnott-snap opened #85161 "cannot find replacement package to k8s.io/kubernetes@1.15.4"
**What happened**:
I would like to use the `k8s.io/kubernetes/cmd/kubeadm/app/util/kubeconfig` and `k8s.io/kubernetes/pkg/kubectl/cmd/util` packages in the 1.15.x line. Unfortunately, both appear to only exist in this repo, and iirc we should not import `k8s.io/kubernetes` directly, per kubernetes/kubernetes#81878.

**What you expected to happen**:
There should be an importable location to use thi

[2019-11-13 00:33] carnott-snap commented on #85161
/sig cluster-lifecycle cli
cc: @liggitt

[2019-11-13 00:33] kikisdeliveryservice commented on #82428
/milestone clear

[2019-11-13 00:36] kikisdeliveryservice commented on #81052
/milestone v1.18

[2019-11-13 00:43] carnott-snap commented on #85105
cc: @liggitt

[2019-11-13 00:45] liggitt commented on #85161
Making kubeadm code available for consumption is tracked in https://github.com/kubernetes/kubernetes/issues/78534

Most kubectl packages are exported to https://github.com/kubernetes/kubectl as of 1.16 (e.g. https://github.com/kubernetes/kubectl/tree/master/pkg/util)

[2019-11-13 00:45] #85161 closed

[2019-11-13 00:50] 2rs2ts commented on #74741
I don't know if the shrug label deprioritizes this but if it does can we /unshrug cuz this issue is actually pretty nasty when it happens

[2019-11-13 00:54] liggitt commented on #85105
The golang.org/x dependencies track the branch that corresponds to the go version we build with, and in some cases (like golang.org/x/net) are embedded into the stdlib. The go project and go modules do not provide a better way to pin to those versions.

For the peer dependencies, see https://github.com/kubernetes/kubernetes/issues/84608 and https://github.com/kubernetes/enhancements/pull/1350 for

[2019-11-13 00:55] verult commented on #73972
This might not be right:

https://github.com/kubernetes/kubernetes/blob/81e9f21f832f88422f1ccf5b8aa90de7cf822132/pkg/controller/volume/attachdetach/reconciler/reconciler.go#L162

To be safe, we should return multi-attach forbidden if there exists ReadWriteOnce in the access mode list

[2019-11-13 00:58] rimaulana commented on #84366
What you mentioned is correct that security group is created before the creation of CLB. Kubernetes will call ensureLoadBalancer [1][2] during the creation of CLB, It will use either the assigned security group (via annotations) [3] or create a new one [4] by calling buildELBSecurityGroupList [5][6] before creating the ELB [7].

What interesting is when Kubernetes delete a service [8]. It will fir

[2019-11-13 00:58] liggitt commented on #85105
where would be helpful to document the golang.org/x/… reason?

[2019-11-13 01:01] liggitt commented on #85105
We'll have to deal with that if/when we encounter it, but since we update every go release, it hasn't been an issue.

[2019-11-13 01:17] tedyu commented on #73972
I think @verult is right.
Created #85166

[2019-11-13 01:31] Davidrjx commented on #70161
@ndesh26 options specified in kubeletconfiguration seems invalid. in my case, config looks like
[code]

[2019-11-13 01:32] Davidrjx commented on #70161
i am not sure whether reserved cgroups configs are right or not

[2019-11-13 02:03] denkensk commented on #85140
/remove-help

[2019-11-13 02:07] ryedin commented on #74741
omfg I had no idea that would happen. TIL (+oops)

[2019-11-13 02:10] dims commented on #74741
/unshrug

:)

[2019-11-13 02:14] bbtong commented on #81121
Still open -- anyone actively working on this? Would like to attempt if not. :)

[2019-11-13 02:25] carnott-snap commented on #85105
I can understand academically why it may be safer to pin to your release's branch, but none of your consumers see this override. Has this caused breakage? Should we be pushing the Go authors to be releasing the extended standard library with release specific versions? E.g. `golang.org/x/v13/...`.

I realise there are different concerns when building the kubernetes binaries and consuming the kubern

[2019-11-13 02:33] liggitt commented on #85105
It guarantees that the versions used when tidying for publication match the version used by all other components in a k8s.io/kubernetes build. We can look into making the publishing bot remove them if they are indeed no-ops and match the require statement

[2019-11-13 02:48] liggitt commented on #85105
cc @sttts

[2019-11-13 02:54] skilxn-go commented on #85130
/unsig cluster-lifecycle

[2019-11-13 02:55] skilxn-go commented on #85130
/remove cluster-lifecycle

[2019-11-13 02:56] skilxn-go commented on #85130
/remove-sig cluster-lifecycle

[2019-11-13 02:56] skilxn-go commented on #85130
Thanks~:D

[2019-11-13 03:00] #76308 closed

[2019-11-13 03:12] rnsv commented on #85039
@caesarxuchao I made the following changes in staging/src/k8s.io/apiserver/pkg/util/proxyproxy.go to test it out locally and it works fine.
[code]
Looking for suggestions.  (Reference to original file below)
https://github.com/kubernetes/kubernetes/blob/bb55aa7c54c327fc0d71671e978e7626ce366497/staging/src/k8s.io/apiserver/pkg/util/proxy/proxy.go#L78-L85

[2019-11-13 03:28] ahg-g commented on #72547
Ahmad, thanks a lot of all the work you did on cleaning, I think we are done for this release. In the next release we will remove ```algorithm_factory.go``` as part of phase 2 migration of the framework, but ```factory.go``` will stay for a while until we deprecate Policy, we will perhaps rename it to indicate that it represents the policy-to-framework plugin translation layer.

I think we can off

[2019-11-13 03:51] liggitt commented on #85039
NodeName may happen to be an IP or routable address, but definitely isn't required to be, fyi

[2019-11-13 04:09] liggitt commented on #85105
we use `go mod edit` to manipulate the go.mod file, and it doesn't provide comment edit capability currently

[2019-11-13 04:13] josiahbjorgaard commented on #74375
/milestone v1.18

(no activity during this release cycle, but potentially important for the next one)

[2019-11-13 04:16] josiahbjorgaard commented on #76342
/milestone v1.18

[2019-11-13 04:16] josiahbjorgaard commented on #77019
/milestone v1.18

[2019-11-13 04:17] josiahbjorgaard commented on #82158
/milestione v1.18

(code freeze is near)

[2019-11-13 04:18] josiahbjorgaard commented on #68244
/milestone v1.18

[2019-11-13 04:22] josiahbjorgaard commented on #83479
@klueska Will you please make sure to close the issue once all v1.17 is complete?

[2019-11-13 04:23] josiahbjorgaard commented on #75482
/milestone v1.18

[2019-11-13 04:23] josiahbjorgaard commented on #73723
/milestone v1.18

[2019-11-13 04:27] josiahbjorgaard commented on #82158
/milestone v1.18

[2019-11-13 05:11] liggitt commented on #85114
In general, write access to PV spec is highly privileged. We don't allow changing type (volumesource is immutable), but most other things are.

Does this cause critical issues like data loss or disruption to the PVC consumer, or inappropriate permissions accessing the data?

[2019-11-13 05:11] liggitt commented on #85114
cc @msau42

[2019-11-13 05:33] FloraSaysGoodmorning commented on #59888
same thing in v1.13
[code]

[2019-11-13 06:08] thockin commented on #82125
Making them distinct would be nice...  Even using the same bits numbers but
having them manage their own chains would give us flexibility.

That said, KUBE-MARK-MASQ roughly constitutes an API at this point...

On Tue, Nov 12, 2019 at 4:55 AM Dan Winship <notifications@github.com>
wrote:

[2019-11-13 06:54] #76093 closed

[2019-11-13 07:54] k2huang commented on #84729
/reopen

[2019-11-13 07:55] lujinda commented on #84729
/reopen

[2019-11-13 07:57] k2huang commented on #84729
This PR(https://github.com/kubernetes/kubernetes/pull/84801) only fixed endpointslock and leaselock, but configmaplock has the same issue and also need to be fixed

[2019-11-13 08:17] pansue opened #85186 "flannel pod on one node got oom killed hunded times"
on the control panel node:
NAMESPACE     NAME                                 READY   STATUS    RESTARTS
kube-system   kube-flannel-ds-amd64-n8tjz          1/1     Running   221

on the work node , the kernel log:

Nov 13 16:06:25 CD-GIT-RS2 kernel: Memory cgroup stats for /kubepods/burstable/pod4c39301c-8a11-4fd5-ac98-b50565616bc2/0a38e7b20761dbe902dc98ec3d423188161a5a7e7a06f95d223072c53a606ee7:

[2019-11-13 08:33] charleszheng44 commented on #80272
Hi, @liu-cong I created a PR (#85188) refers to this issue. Would you like to have a look?

[2019-11-13 08:47] pjbgf opened #85191 "Specially crafted seccomp profiles may trap containers on exit loop indefinitely"
**What happened**:

Containers get stuck at `Running` state and CPU spikes at 100% usage indefinitely until a user manually stops it.

**What you expected to happen**:
1. Not be able to create a custom seccomp profile that cannot exit itself.
OR
2. Container to finish execution and move to `Completed` state.

**How to reproduce it (as minimally and precisely as possible)**:

1. Place the contents

[2019-11-13 09:01] cwen0 commented on #65502
@kerneltime Hi, I have the same issue when using fuse in Kubernetes. How do you temporarily solve this issue? Thanks!

[2019-11-13 09:10] soltysh commented on #74741
This issue should've been fixed with https://github.com/kubernetes/kubernetes/pull/71801 (which is 1.14) can you check controller-manager logs (or events) for lines pointing that the job is being removed. Check https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/cronjob/cronjob_controller.go#L373 for what kind of logs/events you want to look for. Additionally I'd need to see if you

[2019-11-13 09:14] pjbgf commented on #85191
Related to https://github.com/moby/moby/issues/40205

[2019-11-13 09:24] k-toyoda-pi commented on #81427
@oomichi I created new PR for log function. Could you review it at your convenience? Thanks.

[2019-11-13 09:33] danielqsj opened #85193 "Sort out the dependency in e2e framework"
**What would you like to be added**:

As discussed in https://github.com/kubernetes/kubernetes/pull/84439/files#r345375300, we should sort out the dependency in e2e framework.
For example, the https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/pods.go has a dependency of `e2epod "k8s.io/kubernetes/test/e2e/framework/pod"`.

/sig testing
/kind feature
cc @oomichi

**Why is this

[2019-11-13 09:48] like-inspur opened #85195 "fluentd-es-configmap use old config queue_limit_length"
fluentd-es-configmap use old config queue_limit_length which referencing https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml
But fluentd docs says "This parameter is for v0.12 compatibility. Use total_limit_size instead for v1 configuration.",  which referencing https://docs.fluentd.org/configuration/buffer-section#argument

[2019-11-13 09:56] like-inspur commented on #85195
/sig log

[2019-11-13 10:03] alenkacz opened #85196 "[Failing test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
gce-cos-master-alpha-features
conformance-GCE-master
skew-cluster-latest-kubectl-stable1-gce
gci-gce-ingress
gce-cos-master-scalability-100

**Which test(s) are failing**:
test start up

**Since when has it been failing**:
12th November 23:16 PST

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**

[2019-11-13 10:05] #81728 closed

[2019-11-13 10:10] rforberger opened #85197 "kubectl: error: error: could not get a token from the cache or provider: error while authentication: invalid token and you need to remove the cache: could not decode the json of token: json: cannot unmarshal array into Go struct field StandardClaims.aud of type string"
**What happened**:
I get the error message
[code]

when using any kubectl command. My kubernetes uses OpenID as authentication (keycloak).

I have been told on Stackoverflow that this is a kubectl bug with the GO implementation, which does not support the return of an Array instead of a string in the audience field for the JWT. The RFC of JWT tells that it's allowed to return an Array instead of a

[2019-11-13 10:13] behos opened #85198 "Using resourceVersion on different annotate requests does not guarantee atomic updates"
**What happened**:

Running annotations on multiple nodes at the same time unexpectedly succeeds.

[code]

Each node receives a success with its own updates in the response and the same _new_ resourceVersion.

**What you expected to happen**:

I expect that only one of these annotations would succeed with every other one getting a conflict error.

**How to reproduce it (as minimally and precisely

[2019-11-13 10:26] erik-wramner commented on #64137
@derekrprice we are also in AKS and are doing reboots with `drain`, `vm restart` and `uncordon`. It is messy. In your script you are just updating `/host/var/run/reboot-required`. Is that enough to make AKS restart the node with drain and uncordon automatically? Sounds too good to be true.

Also if you managed to convince support to do something about it I would appreciate a heads up as that could

[2019-11-13 10:28] rforberger commented on #85197
/sig cli

[2019-11-13 10:34] zhaofengcumt opened #85199 "if --client-ca-file and --requestheader-client-ca-file have something different"
K8S version : 1.13.12

[code]

[2019-11-13 10:43] its-dave commented on #71612
I'd also like to see this issue re-opened, as currently there's no way (that I can tell) to have the `AGE` column and a custom column appear in the same output

[2019-11-13 11:00] behos commented on #85198
@kubernetes/sig-cli-bug

[2019-11-13 11:05] markyjackson-taulia commented on #76624
I have had no response after several tries, moving to milestone v1.18
 /milestone v1.18

[2019-11-13 11:08] markyjackson-taulia commented on #76624
I have had no response after several tries, moving to milestone v1.18

[2019-11-13 11:09] markyjackson-taulia commented on #76624
/milestone v1.18

[2019-11-13 11:09] markyjackson-taulia commented on #80515
@liggitt Code freeze is tomorrow, this still going to make it?

[2019-11-13 11:22] mbelchin commented on #83900
Hi again,

Any news on this ?

Just in case of newer versions will fix the issue, I was able to upgrade Kubernetes to 1.15.3, as well as OS, Docker and Weave and still having the same issue: Not able to see the real client IP.

These are the new versions:

- Kubernetes version (use kubectl version):

[code]

- OS version:
[code]

- kernel:
`Linux mstr-lruh 4.4.0-166-generic #195-Ubuntu SMP Tue Oct

[2019-11-13 12:13] FengyunPan2 opened #85203 "GetDiskFormat can't work on util-linux 2.33.2"
\1. GetDiskFormat works fine on util-linux 2.23.2
\# blkid -v
blkid from util-linux 2.23.2  (libblkid 2.23.0, 25-Apr-2013)
\# blkid   -p -s TYPE -s PTTYPE -o export /dev/loop3
DEVNAME=/dev/loop3
PTTYPE=dos

\2.GetDiskFormat can't work on util-linux 2.33.2
/ # apk info blkid
blkid-2.33.2-r0 description:
block device identification tool
blkid-2.33.2-r0 webpage:
https://git.kernel.org/cgit/utils/util

[2019-11-13 12:16] FengyunPan2 commented on #85203
/sig volume

[2019-11-13 12:22] FengyunPan2 commented on #85203
/sig storage

[2019-11-13 12:44] pansingh-qt commented on #81976
Any solution received so far?

[2019-11-13 12:58] DavadDi commented on #81775
In my scenario the `/proc/sys/net/ipv4/vs/drop_entry` kernel option can help to reduce the numberr of InActConn.

From: https://docs.huihoo.com/hpc-cluster/linux-virtual-server/HOWTO/LVS-HOWTO.operation.html
## 27.26.5. InActConn with drop_entry defense strategy
repeating the control experiment above, but using the drop_entry strategy (see the DoS strategies for more information).
director:/etc/lv

[2019-11-13 13:03] blurpy opened #85205 "1.15 CoreDNS immediately crash if Kubernetes apiserver is unavailable"
**What happened**:

When the apiserver is unavailable, CoreDNS pods crash while trying to write log files to the read only file system.

**What you expected to happen**:

CoreDNS should continue to run even if the apiserver is unavailable for a short period of time. Log files should be written to an emptyDir.

**How to reproduce it (as minimally and precisely as possible)**:

Restart the apiserver

[2019-11-13 13:05] blurpy commented on #85205
/sig cluster-lifecycle

(Just guessing based on the original issue)

[2019-11-13 13:16] damien-roche commented on #26202
No need to make a big issue out of it. `apply -f` should Just Work. If it screws up my cluster that's my problem, right? Get out of the way Kube. You're meant to help not hinder.

One alternative I can see is to fire up another deployment with a different selector and update services to apps in that deployment, destroy the old deployment. Bit messy and plenty could go wrong. Hopefully you remove t

[2019-11-13 13:16] davidmogar opened #85206 "HorizontalPodAutoscaler misbehaving when using a custom metric"
**What happened**:

The HorizontalPodAutoscaler is scaling unnecessarily and removing pods leaving the system in an unstable status.

**More info**:

I have an HorizontalPodAutoscaler defined like this:
[code]
Here I'm using a custom metric provided by Prometheus Adapter. The configmap contains this configuration for the metric:
[code]
Basically I'm collecting the usage across all the pods in a na

[2019-11-13 13:22] davidmogar commented on #85206
@kubernetes/sig-scalability-bug

[2019-11-13 13:24] liggitt commented on #80515
yes, https://github.com/kubernetes/kubernetes/pull/80572 is still planned

[2019-11-13 13:28] aspyct commented on #28969
/remove-lifecycle stale

[2019-11-13 13:33] yue9944882 commented on #79472
/lifecycle frozen

for now it's pending under 1.18 milestone

[2019-11-13 13:36] Multiply commented on #74551
I can also reliably reproduce it, but trying to fetch a 6MB file over a simple http server.

[2019-11-13 13:39] liggitt commented on #83222
Custom resources bake in many of the lessons we've learned over the last five years building APIs, and allowing unconditional update is not a best practice. It makes it too easy to overwrite data unintentionally. You can use patch updates without a resourceVersion set to overwrite fields regardless of current content, if desired.

/close

[2019-11-13 13:39] #83222 closed

[2019-11-13 14:08] dims commented on #57291
cc @krmayankk @alejandrox1 "tech debt"?

[2019-11-13 14:15] liggitt commented on #85196
broken by https://github.com/kubernetes/kubernetes/pull/76586

[code]

[2019-11-13 14:16] alenkacz commented on #71541
Anyone can help here? It's constantly red for several days, it's not even flaking anymore in our release dashboards

https://testgrid.k8s.io/sig-release-1.17-informing#gce-cos-k8sbeta-serial

/priority important-soon

[2019-11-13 14:37] alculquicondor commented on #72547
sg
Thanks a lot team
/close

[2019-11-13 14:37] #72547 closed

[2019-11-13 14:54] droslean commented on #80534
/reopen

Reopening since the job is not green. @bclau @listx

[2019-11-13 14:56] droslean commented on #80534
https://github.com/kubernetes/kubernetes/pull/84046

[2019-11-13 14:59] chrisohaver commented on #85205
/assign @chrisohaver

[2019-11-13 15:00] droslean opened #85213 "[Failing Test] gce-cos-master-default (ci-kubernetes-e2e-gci-gce)"
**Which jobs are failing**:
`gce-cos-master-default (ci-kubernetes-e2e-gci-gce)`

**Since when has it been failing**:
`13th Nov 22:46 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-default

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alejandrox1
/sig cluster-lifecycle
/priority critical-urgent

[2019-11-13 15:00] droslean commented on #85213
/milestone v1.17

[2019-11-13 15:03] droslean opened #85214 "[Failing Test] gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)"
**Which jobs are failing**:
`gce-cos-master-reboot (ci-kubernetes-e2e-gci-gce-reboot)`

**Since when has it been failing**:
`13th Nov 23:41 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-reboot

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alejandrox1
/sig cluster-lifecycle
/milestone v1.17
/priority crit

[2019-11-13 15:06] droslean opened #85215 "[Failing Test] gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)"
**Which jobs are failing**:
`gce-cos-master-slow (ci-kubernetes-e2e-gci-gce-slow)`

**Since when has it been failing**:
`12th Nov 23:08 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-slow

**Reason for failure**:
[code]
**Anything else we need to know**:
/cc @alenkacz @hasheddan @alejandrox1
/milestone v1.17
/priority critical-urgent
/sig cluster-lifec

[2019-11-13 15:11] liggitt commented on #85215
root cause is #76093
fix in #85210

see https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-slow/1194535565735759876/artifacts/bootstrap-e2e-master/kube-master-installation.log:
[code]

[2019-11-13 15:11] liggitt commented on #85213
root cause is #76093
fix in #85210

see https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1194516437415235587/artifacts/bootstrap-e2e-master/kube-master-installation.log:
[code]

[2019-11-13 15:12] liggitt commented on #85196
root cause is #76093
fix in #85210

[2019-11-13 15:12] tedyu commented on #84729
@k2huang
I created #85216 to address what you pointed out.

[2019-11-13 15:16] liggitt commented on #42885
The `all` alias is no longer documented or its use encouraged, because it cannot be safely changed  without breaking existing scripts. Ingress resources won't be added to that alias.

/close

[2019-11-13 15:16] #42885 closed

[2019-11-13 15:31] liggitt commented on #85214
broken in #76586, revert in https://github.com/kubernetes/kubernetes/pull/85220

[2019-11-13 15:39] liggitt commented on #81873
fyi, `kubectl drain` supports `--pod-selector` to filter down to specific pods

[2019-11-13 15:42] liggitt commented on #81333
a timeout is now set and the goroutine leak is resolved. can this be closed?

[2019-11-13 15:46] michaelgugino commented on #81333
@liggitt I believe so.

[2019-11-13 15:57] #81333 closed

[2019-11-13 16:10] aermakov-zalando commented on #67455
/remove-lifecycle rotten

[2019-11-13 16:25] mm4tt opened #85221 "Kube-controller-manager loosing lease watch in large clusters resulting in nodes becoming not-ready"
/sig scalability

Debugging below done by @mborsz:

Failed test attempt: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1193936861135900677

It failed with a number of "WaitingFor*Pods: objects timed out" errors (46 failed objects in total).

Sample failing pods:
```[measurement call WaitForControlledPodsRunning - WaitForRunningJobs error: 3 objects ti

[2019-11-13 16:25] mm4tt commented on #85221
/assign

[2019-11-13 16:42] mm4tt commented on #85221
Looking further at this it seems that number of LIST leases by kube-controller-manager increased significantly ~week ago in large scale tests (both gce and kubemark).

**GCE**:
![WJLunjYyOZV](https://user-images.githubusercontent.com/2604887/68783565-7a205d80-063b-11ea-9d68-93d31d8baa23.png)

**Kubemark**:
![emycLv3fFgL](https://user-images.githubusercontent.com/2604887/68783570-7b518a80-063b-11ea

[2019-11-13 16:47] mm4tt commented on #85221
There are actually two issues here:

1. Given that we switched from non-paginated LIST calls to paginated the 10x increase in # calls is expected, but what is worrying is that we already had ~50 LISTs in every test. Such LIST happens only when watcher restarts which shouldn't happen in a healthy cluster

This will be address in https://github.com/kubernetes/kubernetes/pull/85219

2. We need to fig

[2019-11-13 16:50] mm4tt commented on #85221
/milestone v1.17

[2019-11-13 16:56] smourapina commented on #78904
@dimn @tnozicka Just a last reminder that we are pretty close to code freeze for 1.17 (tomorrow EOD PST).

[2019-11-13 16:57] michaelgugino commented on #76619
/remove-lifecycle rotten

[2019-11-13 16:57] michaelgugino commented on #76619
/reopen

[2019-11-13 17:20] derekrprice commented on #64137
@erik-wramner, it's not too good to be true if you've installed [kured](https://github.com/weaveworks/kured).  Once that is installed, just touch that file and you will get a controlled rolling reboot.  This is the method that MS recommends for [installing kernel and security patches](https://docs.microsoft.com/en-us/azure/aks/node-updates-kured).

No luck with MS support yet.  As near as I can te

[2019-11-13 17:21] ceejoyce commented on #77225
We're experiencing the same issue on aks 1.13.12 using 2x B2s VMs allowing 8 disks in total.
Deployments are failing because `Code="OperationNotAllowed" Message="The maximum number of data disks allowed to be attached to a VM of this size is 4." Target="dataDisks"` one of the nodes has no disks attached.

Both nodes state the allocatable and capacity as 4 so it slike they're not being updated as d

[2019-11-13 17:22] nimakaviani commented on #83628
@freehan can you share your thoughts on this?

[2019-11-13 17:26] kfox1111 commented on #31824
Now that there is a wg-multitenancy, should we close this?

[2019-11-13 17:43] tedyu commented on #57291
The backoff is used in Kubelet#syncPod

To make the MaxContainerBackOff flexible, maybe we can add a new pod Annotation, say, kubernetes.io/max.backoff (expressed in Seconds), so that kubelet can pick up.

[2019-11-13 18:05] cchildress commented on #74151
Yes, I think that's their point.

My larger point and a big part of why I wanted to file this issue is I think it is very bad behavior for the kubelet to silently override node configuration that is being explicitly declared by an administrator on the node.
I'm perfectly happy to see kubelet check node conditions and refuse to start and/or print a nice warning if you have something configured on t

[2019-11-13 18:18] tnozicka commented on #78904
I am sorry I won't make for this release, will try to add those in 1.18

[2019-11-13 18:18] songbeng commented on #84808
Closing this as it seems to be an issue on BCF binaries in /opt/cni/bin.

[2019-11-13 18:18] #84808 closed

[2019-11-13 18:22] msau42 commented on #83351
@kubernetes/sig-storage-misc
Let's document some recommendations in https://github.com/kubernetes/website/pull/17432
cc @bertinatto

[2019-11-13 18:37] derekwaynecarr commented on #84601
The SIG Scheduling and Node communities collaborated in a Resource Management WG where we established a roadmap and plan that resulted in device plugins, cpu manager, hugepages, and topology manager all getting introduced in the community.  At that time, we had deferred the idea of a scheduler having an intra-node topology view because we felt the kubelet was the intra-node scheduler and the polic

[2019-11-13 19:11] cbf123 commented on #84601
It seems to me that helper functions could be written such that the cluster scheduler used literally the same code as kubelet and wasn't explicitly aware of the policy modes.

Without the cluster scheduler being topology-aware the usefulness of a topology-aware kubelet is limited (at least in a stock Kubernetes system) as the cluster scheduler can easily choose a node that cannot possibly run the

[2019-11-13 19:31] tirelibirefe commented on #61279
It looks like the problem is related with the "bug" in described in the following page:
https://github.com/kubernetes/kubernetes/issues/75040

I'm trying to get the answer of question "the bug has been fixed or not."

[2019-11-13 20:32] cji commented on #81125
/remove-lifecycle stale

Any further discussion on this? Should we consider implementing the mitigations @mikedanese suggests?

[2019-11-13 20:57] msau42 opened #85233 "CVE-2019-11255: CSI volume snapshot, cloning and resizing features can result in unauthorized volume data access or mutation"
**Am I vulnerable?**

CSI snapshot, cloning and resizing features are affected. Prior to Kubernetes 1.16, these features were all alpha and disabled by default. Starting in Kubernetes 1.16, CSI cloning and resizing features are beta and enabled by default.

These features also require CSI drivers to be installed in a Kubernetes cluster and the CSI driver also has to support those features. An unof

[2019-11-13 20:57] msau42 commented on #85233
/assign

[2019-11-13 21:01] #84178 closed

[2019-11-13 21:04] #85140 closed

[2019-11-13 21:04] #85159 closed

[2019-11-13 21:32] bazzargh commented on #74151
Yes @cprivite and @cchildress that's my issue with it - I do want to set `vm.panic_on_oom`, because from what we've seen, OOMing causes undesirable side effects and we'd like to reap those nodes; and eviction does not cure OOMs caused by non-k8s components. And if we're going to reap the nodes anyway, preventing us using this setting just complicates how we can implement that.

[2019-11-13 21:41] mm4tt commented on #85221
Logs when then 400 errors occurred

**api-server**

[code]

**kube-controller-manager**
[code]

[2019-11-13 21:53] HankTheCrank commented on #70202
I know this is old but I wanted to comment here as I too had this issue, but in my case it was a symptom to a different issue. In my case, there was no subnet.env file but it was not getting created because my flannel daemonset was failing. The error from the pod (kubectl --namespace=kube-system logs <POD_NAME>) showed "Error registering network: failed to acquire lease: node "<NODE_NAME>" pod cid

[2019-11-13 22:15] misterikkit opened #85238 "vSphere storage plugin: Create volume can fail indefinitely"
**What happened**:

In some cases, a create volume request can succeed in vSphere but time out in the vSphere storage plugin. This request will be retried, but fails with `VMDK already exists` on subsequent attempts.

As a result, the PersistentVolume object never gets created, and the pod requesting it never starts. Recovery requires manual steps.

**What you expected to happen**:

Since vSphere

[2019-11-13 22:16] misterikkit commented on #85238
/sig storage

[2019-11-13 22:17] misterikkit commented on #85238
Fixed by https://github.com/kubernetes/kubernetes/pull/84211

[2019-11-13 22:17] #85238 closed

[2019-11-13 22:46] Seculin commented on #67676
There is any update on this ?
Working on multiple clusters on the same time, the config.lock boring me ... how can we remove or resolve this ?

[2019-11-13 22:50] #82141 closed

[2019-11-13 22:52] #85215 closed

[2019-11-13 23:03] IAkumaI commented on #60807
Hi.
I my case namespace stucks in Terminating when https://github.com/rancher/rancher/issues/21546#issuecomment-553635629

Maybe it will help.

[2019-11-13 23:24] axozoid commented on #82067
Why this has been closed? I can't see any solution here :(

[2019-11-13 23:55] justinsb commented on #43784
@cheftako - did you set `--anonymous-auth=false` on kube-apiserver?  It's about figuring out a healthcheck for that configuration, assuming we can't use the insecure port, and it gave me a 401 last I checked.

[2019-11-14 00:26] gnufied opened #85248 "Handle volume unmount timeout for volumes in more graceful way"
Creating this as a follow up from - https://github.com/kubernetes/kubernetes/pull/82492#issuecomment-553660309

When a volume is unmounted and unmount times out because of `NodeUnpublishVolume` call timing out then volume may still be unmounted behind the scenes by CSI driver and this could cause a unmounted volume to be present i ASOW.

/sig storage

[2019-11-14 01:08] Jefftree opened #85250 "[Umbrella Issue] Network Proxy Egress Endpoints for Beta"
Based on the [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md#kubernetes-api-server-outbound-requests), this is the list of all egress endpoints required to be implemented for network proxy.

- **Merged: (#82048)** ~~ETCD It is possible to make etcd talk via the proxy. The etcd client takes a transport. (https://github.com/etcd-io/etcd/b

[2019-11-14 01:13] neolit123 commented on #85126
your etcd config does not seem correct:
[code]

it should look like:
[code]

notice the "external" part, look at the go types for more details:
https://github.com/kubernetes/kubernetes/blob/release-1.12/cmd/kubeadm/app/apis/kubeadm/v1alpha2/types.go#L195

if you do the above this should not fail:

/triage support
/remove-kind bug
/area kubeadm
/sig cluster-lifecycle

i'm going to have to close thi

[2019-11-14 01:13] neolit123 commented on #85126
/close

[2019-11-14 01:13] #85126 closed

[2019-11-14 01:18] rnsv commented on #85039
There are couple of options that I could think of to overcome the challenge.
1. Introduce another option in api-server along side --enable-aggregator-routing that tells whether to use PodIP or NodePort
2. Deprecate --enable-aggregator-routing and provide a new option that explicitly tells what option to use for aggregator routing.  For example --aggregator-routing-type = ClusterIP | EndpointIP | N

[2019-11-14 01:18] cheftako commented on #43784
No. I tested on a 1.17 build. I just checked the manifest for the kube-paiserver and the anonymous-auth flag was not present. I checked the logs and it looks like the flag defaults to "--anonymous-auth=true" I did have to set a "-k" on the curl, so it would ignore the certificate issue.

[2019-11-14 01:27] #68791 closed

[2019-11-14 01:28] #71541 closed

[2019-11-14 01:52] felix0080 commented on #24725
why closed,this issue is important

[2019-11-14 01:54] zhucan opened #85253 "'ExternalExpanding' Ignoring the PVC: didn't find a plugin capable of expanding the volume; waiting for an external controller to process this PVC"
**What happened**:
When expanding volume, the controller manager logs such as:
![image](https://user-images.githubusercontent.com/13997135/68819974-be0b7500-06c4-11ea-8da8-93e5eb2751a3.png)

expand failed

**What you expected to happen**:
I want to expand successfully
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernet

[2019-11-14 01:55] zhucan commented on #85253
/assign @gnufied

[2019-11-14 02:17] ahg-g commented on #71859
This is done as well.

/close

[2019-11-14 02:18] #71859 closed

[2019-11-14 02:39] tedyu commented on #85253
Can you post more of the controller manager logs preceding the occurrence of this error ?

thanks

[2019-11-14 02:45] gnufied commented on #85253
If you are trying to expand an iSCSI volume then that is not supported by in-tree driver and you must use some sort of out-of-tree driver that supports volume expansion via CSI.

This looks like a case where in-tree expand_controller is simply waiting for out-of-tree controller to expand the volume. Do you have such a driver deployed?

[2019-11-14 02:46] liggitt commented on #85198
resourceVersion only increments when the bytes persisted to etcd change

two patch requests both setting identical patches can go in either order and the second is a no-op, meaning it doesn't increment the resourceVersion

[2019-11-14 02:49] zhucan commented on #85253
@gnufied I had deployed the csi driver. It can be used on kubernetes v1.15.0

[2019-11-14 02:51] zhucan commented on #85253
@tedyu
![image](https://user-images.githubusercontent.com/13997135/68822721-a6d08580-06cc-11ea-990b-94422a538e2d.png)

[2019-11-14 02:54] zhucan commented on #85253
@tedyu @gnufied why no volume plugin matched？

[2019-11-14 02:57] giggio commented on #69262
I'm having a similar issue, but I'm on 1.14.8. I don't know if https://github.com/Azure/AKS/issues/1278 is related, but these disk attachments seem to not be working properly on aks with vmms.

[2019-11-14 03:07] justinsb commented on #43784
`anonymous-auth=false` is the key bit of this issue - I'll update the original issue description to clarify that what I called kubeadm discovery == anonymous-auth.

[2019-11-14 03:09] shimmy568 commented on #84203
Seems to be a problem with [this](https://github.com/shimmy568/kubernetes/blob/82600c2b0e1f0ff1f007479eaf874560bcf81244/staging/src/k8s.io/client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion.go#L57). Since we're creating the request with all empty fields. Not sure what the best way it to resolve this. The best thing I came up with is to use [a fake rest client](https://github.com/shimmy568/

[2019-11-14 03:32] liggitt commented on #85213
revert merged, job is green again

[2019-11-14 03:33] liggitt commented on #85196
revert merged, job is green

/close

[2019-11-14 03:33] #85196 closed

[2019-11-14 03:34] #85213 closed

[2019-11-14 03:34] liggitt commented on #85214
revert merged, job is green again

/close

[2019-11-14 03:34] #85214 closed

[2019-11-14 03:36] liggitt commented on #82158
/milestone v1.18

[2019-11-14 03:51] kiddingl commented on #85126
thank you

[2019-11-14 03:55] akazemis commented on #53533
this feature is really needed in some use cases. currently we're using k8s for machine learning and sometimes we need to load big models in memory (in our case sometimes 500MB per api request!) , and the limits of physical memory are causing serious issues. If we had the virtual memory as an option we'd be good.

Any chance this ticket gets back to the roadmap again?

[2019-11-14 04:12] yuyulei opened #85256 "Statefulset support to update pods parallelly"
**What would you like to be added**:
Now StatefulSet's  update strategy including: RollingUpdate and OnDelete.

RollingUpdate, meaning update pod one by one.
OnDelete, meaning updata after deleted.

I suggest a new policy "Parallelly". This policy also need "partition" field.

For example, given statefulset with {name: demo, replicas: 5, policy: Parallelly, partition: 2}, then the statefulset cont

[2019-11-14 04:12] yuyulei commented on #85256
/sig apps

[2019-11-14 04:13] yuyulei commented on #85256
PTAL @smarterclayton

[2019-11-14 04:18] RainbowMango commented on #85040
Who is handling this issue?

[2019-11-14 05:14] jackie-qiu commented on #45419
Recover from PLEG is not healthy issue
# Disable docker and kubelet auto start, reboot and then clean the kubelet pods and docker files:
systemctl disable docker && systemctl disable kubelet
reboot
rm -rf /var/lib/kubelet/pods/
rm -rf /var/lib/docker

# start and enable docker
systemctl start docker && systemctl enable docker
systemctl status docker

# Because /var/lib/docker has been cleaned, ple

[2019-11-14 05:45] #72139 closed

[2019-11-14 06:29] mohithg commented on #65502
I have a similar use case, I have a sidecar container which needs to be started before the main container is started because it watches for the changes in the file system, is there a temporary solution to this?

[2019-11-14 06:38] liggitt commented on #75957
see also a request to allow forcibly draining nodes (https://github.com/kubernetes/kubernetes/issues/83307) or requesting a drain in a way such that pods that could not be immediately evicted are marked for later eviction/cleanup (https://github.com/kubernetes/kubernetes/issues/66811)

[2019-11-14 06:38] mm4tt commented on #85221
So what happens here is:

1. Watch in reflector ends with an error different than `410` so the `lastSyncResourceVersion` doesn't get reset to `""`
2. The next list is issued with `ResourceVersion` set to `lastSyncResourceVersion`
3. First page is fetched successfully, the next page is requested with the `Continue`we got from the first page and  `lastSyncResourceVersion` `ResourceVersion`
4. The se

[2019-11-14 06:41] liggitt commented on #77383
what is the benefit to PDBs allowing a controller object they don't understand (and which doesn't support a generic scale subresource) to block eviction?

[2019-11-14 06:50] Davidrjx commented on #78645
https://github.com/kubernetes/kubernetes/issues/78645#issuecomment-536543651 i have same error line, is it affective?

[2019-11-14 06:51] mm4tt commented on #85221
@jpbetz @liggitt @smarterclayton @wojtek-t FYI

[2019-11-14 06:51] behos commented on #85198
I suspected this could have been the case (one being a no-op that is) so I tried something different as well, by setting an additional annotation which was unique to each process:

[code]

This had the same result with both calls succeeding and the cm ending up with the values of one of these commands (I guess whichever one got there last).

The verbose output of the command looks like 2 requests

[2019-11-14 06:56] bg-chun commented on #84601
@derekwaynecarr
` This means the topology manager feature and alignment of cpu and huge pages should be our priority at the node level before delegating responsibility to the cluster scheduler.`
=> I totally agree with it, and it is the main reason why I am dealing with [hugepages ](https://github.com/kubernetes/kubernetes/issues/84526)and [memory manager ](https://github.com/kubernetes/enhancemen

[2019-11-14 07:12] behos commented on #85198
Actually I think I just figured this out:

When adding the `--resource-version` attribute all this does is that it sets it in the `updated` object here:

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/annotate/annotate.go#L378

Once this is set, then it's diff'ed with the original object in order to make the patch body here:

https://github.com/kubernetes/kubectl/blob/master/pkg/cmd/ann

[2019-11-14 07:13] #80515 closed

[2019-11-14 07:16] wojtek-t commented on #85221
Great finding.

[2019-11-14 07:22] rickypai commented on #74265
@bowei I still think this is useful and am willing to work on this if you think the idea is reasonable. Otherwise, we can just close this. We ended up using another workaround for this internally, but having this be supported by the API would be useful.

[2019-11-14 07:26] wojtek-t commented on #84981
#84998 was merged - I don't think the other part is release blocking.

[2019-11-14 07:29] Davidrjx commented on #29927
@YueHonghui oh great, i have not gone through related code. in that case you mentioned, need to cleanup manually, right?

[2019-11-14 07:32] wuestkamp commented on #24725
I also think it would be great to reopen this.

[2019-11-14 07:35] timyinshi opened #85261 "when pod restart how to kill pause container"
when my pod restarted,it has a error,the reason is my subpath file is not umounted,so the new container can not mount to subpath file.
my reqeust is : when my pod restart,how to kill pause container,if that can be done,the subpath file can be make to a new one,then pod can restart without error.

the error:
Nov 14 14:46:44 inspurtest13-rxhqqwykww-slave-0 kubelet[9128]: E1114 14:46:44.715538    912

[2019-11-14 07:36] timyinshi commented on #85261
/sig node
/kind bug

[2019-11-14 08:01] mm4tt commented on #85221
/milestone v1.17

[2019-11-14 08:39] lubinsz opened #85267 "Getting a Arm64 CI for kubernetes"
Hi all,

Since the conformance test for arm64 has been running successfully for a long time.
(https://k8s-testgrid.appspot.com/sig-node-arm64)
It would be a good idea to have a CI setup for Arm64,  so that future stuff doesn't break on it.

I summarized some tasks.

Tasks:
* [ ] add several Arm64 servers into k8s CI system
* [ ] apply for free Arm64 machines on this page: https://github.com/WorksO

[2019-11-14 08:40] lubinsz commented on #85267
/sig testing

[2019-11-14 09:30] jsafrane commented on #85248
Can we mark the volume as Uncertain after *any* TearDown failure? Who knows what part of TearDown / NodeUnpublish / NodeUnstage succeeded and what part failed, IMO we should not start using the volume.

Kubelet will then retry TearDown periodically and if a pod is created later, it will switch to SetUp.

[2019-11-14 09:48] felixbuenemann commented on #53533
Sounds like a case for mmap.

[2019-11-14 09:56] RainbowMango opened #85270 "Allow show hidden metrics"
**What would you like to be added**:
Add a flag `--show-hidden-metrics-for-version` to following binaries:
- [x] kube-apiserver https://github.com/kubernetes/kubernetes/pull/84292 by @RainbowMango
- [x] kube-scheduler https://github.com/kubernetes/kubernetes/pull/84913 by @serathius
- [x] kube-proxy #85279 by @RainbowMango
- [x] kube-controller-manager #85281 by @RainbowMango
- [x] kublet  #85282

[2019-11-14 10:10] jsafrane commented on #83351
Since it's CSI driver vendor thing, it should be covered also in https://github.com/kubernetes-csi/docs.

[2019-11-14 10:14] juanbaio10 opened #85271 "Unable to manage multiple clusters with same user but different token"
Hi all,

I´m not able to configure kubeconfig to manage multiple kubernetes clusters with same user.
I followed [kubernetes documentation](https://kubernetes.io/docs/tasks/access-application-cluster/configure-access-multiple-clusters/) but my use case is a little bit different.
-I have 2 kubernetes clusters(v1.13.5 and v1.15.5).
-In both of them I have the same username(same display name and same

[2019-11-14 10:30] juanbaio10 commented on #85271
@kubernetes/sig-cluster-ops-<group-suffix>

[2019-11-14 10:37] juanbaio10 commented on #85271
@kubernetes/sig-cluster-ops

[2019-11-14 10:47] varuzam commented on #53023
I have the similar problem.
[code]

status.observedGeneration = metadata.generation if it helps

[2019-11-14 10:48] oxddr opened #85276 "Clusters don't come up in scalability tests"
**Which jobs are failing**:
gce-cos-1.17-scalability-100
gce-master-scale-correctness
gce-master-scale-performance

**Which test(s) are failing**:
Up

**Since when has it been failing**:
11/13

**Testgrid link**:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-cos-1.17-scalability-100
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness
https://k8s-testgrid.ap

[2019-11-14 10:50] clarklee92 commented on #85270
/assign
Could I deal this?   I want pick two task: kube-controller-manager and kubectl.
Thank you very much.

[2019-11-14 10:54] saravanakumarangamuthu commented on #78761
@cmanzi  do you recommend to putting this flag --metric-resolution=5s (the default is 60s), on metrics-server? https://stackoverflow.com/questions/53725248/how-to-enable-kubeapi-server-for-hpa-autoscaling-metrics  as recommened on this link?

[2019-11-14 10:55] saravanakumarangamuthu commented on #78761
@mesutcelik  you mean to put this on HPA configuration?

[2019-11-14 10:59] oxddr commented on #85276
Based on systemd.log: bootstrapping script on master wasn't able to download K8s binaries:
[code]

[2019-11-14 11:01] oxddr commented on #85276
Requested binaries are available at the moment - I've just downloaded them from the same url (https://storage.googleapis.com/kubernetes-staging-dc037634a5/e2e-big-devel/kubernetes-server-linux-amd64.tar.gz).

[2019-11-14 11:10] zhouya0 opened #85277 "Make quick-release-images error"
**What happened**:
When i do some command like :
[code]
An error will happen due to `KUBE_BUILD_PULL_LATEST_IMAGES=n`:
[code]

**What you expected to happen**:
The sell is excuted normally.

**How to reproduce it (as minimally and precisely as possible)**:

Set `KUBE_BUILD_PULL_LATEST_IMAGES=n ` and run `make quick-release-images`
**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2019-11-14 11:20] mesutcelik commented on #78761
It needs to be in `kube-controller-manager` as mentioned here though I haven't configured it myself.
https://stackoverflow.com/a/56905137/456602

[2019-11-14 11:23] RainbowMango commented on #85270
@clarklee92
All the implementation has been done at local. They will be fired soon after basic testing.

If you are interested in contributing to sig instrumentation in the future, I can get you support for that.  Please feel free to contact me.

[2019-11-14 11:30] clarklee92 commented on #85270
@RainbowMango ok, thanks.

[2019-11-14 11:40] fankangbest opened #85280 "CSI failed to load vol_data.json because vol_data.json is removed"
**What happened**:
Pod is deleted with csi volume left on node, and kubelet runs with errors:
[code]

After kubelet restarting, orphan pod is found:
[code]

**What you expected to happen**:
1. volume can be deleted correctly;
2. pod can't be deleted if volume is left on node.

**How to reproduce it (as minimally and precisely as possible)**:
1. create a pod with cri volume
2. touch a file in volum

[2019-11-14 11:43] fankangbest commented on #85280
/assign

[2019-11-14 12:15] lhsm commented on #80089
/remove-lifecycle stale

[2019-11-14 12:23] gongguan commented on #84976
/remove-kind help
Should this issue be closed?

[2019-11-14 12:32] derekwaynecarr commented on #84601
@bg-chun thank you for the document.  I like a number of the ideas proposed and it’s very limited impact on the pod spec.  A key reason we proceeded down the path we are on was a strong desire to not expose intra-node assignment in pod spec, and I think your doc keeps the API simple by taking the existing node policies under development and bringing the policy into the spec without the detail on w

[2019-11-14 12:33] wojtek-t commented on #84976
Yes - thank you!

[2019-11-14 12:33] #84976 closed

[2019-11-14 12:34] oxddr commented on #85276
Should be fixed by https://github.com/kubernetes/kubernetes/pull/85220. Let's wait for the next run of gce100.

[2019-11-14 12:35] rene-demonsters commented on #83024
Duplicate of https://github.com/kubernetes/kubectl/issues/762

[2019-11-14 12:36] BenTheElder commented on #80089
Re-reading this:

143 is an application specific exit code. SIGTERM is a signal, not an exit code.
Non-zero exit codes are not success.

https://pubs.opengroup.org/onlinepubs/009695399/basedefs/stdlib.h.html

If you'd like a non-zero exit code to be ignored, you can wrap your process like this:
[code]

It is not normal to exit non-zero on Linux / POSIX except when the process is in error.

If you'

[2019-11-14 12:36] #80089 closed

[2019-11-14 12:41] #78963 closed

[2019-11-14 12:41] #78971 closed

[2019-11-14 12:43] wojtek-t commented on #83375
/assign @mm4tt
He is already working on adding an explicit test for it.

[2019-11-14 13:08] Davidrjx commented on #56006
@KeithTt @ghost cert config you specified located in snippet?
[code]

[2019-11-14 13:14] Davidrjx commented on #56203
@gogeof did you tried coredns?

[2019-11-14 13:28] liggitt commented on #85221
Does this mean we have no tests that actually check if a reflector works with paging?

[2019-11-14 13:30] Tazminia commented on #7923
Hello,

Is this still relevant ?

[2019-11-14 13:34] liggitt commented on #85221
I see, it's the rare situation where "Watch in reflector ends with an error different than 410" that is untested. Can we set up a unit test that exercises this scenario by wrapping etcd3 storage to allow injecting an error in a watch attempt (similar to how we wrapped storage to test stale behavior in https://github.com/kubernetes/kubernetes/pull/77619/files#diff-39b0a4b10a2dce3e57aeba748879b097R1

[2019-11-14 13:42] eduardobaitello commented on #72220
/remove-lifecycle rotten

[2019-11-14 14:03] wojtek-t commented on #85221
I don't think it's the case - see https://github.com/kubernetes/kubernetes/pull/85272 . It clearly seems to be that pager wasn't properly tested.
The problem seems to be that we're testing it with artifical stuff, whereas in real life etcd would return "bad request" errors.

[2019-11-14 14:18] guillaumedossantos commented on #84730
I found a workaround.

- Don't use oidc-groups-claim and oidc-required-claim
- In Azure, go to the Properties of the API server App.
- Select Yes in "User assignment required"
- In "Users and groups" add the specific Security Group you want to filter on
- To test : Remove yourself from the Security Group
- Wait for the token to expire (in my case it was 1 hour)
- You can't log in anymore

[2019-11-14 14:18] #84730 closed

[2019-11-14 14:19] liggitt commented on #85221
Right, I'd like to see if we can trigger the error condition in a way that the restart/paging requests go to a real storage backend.

[2019-11-14 14:26] liggitt commented on #85198
You're correct. Opened #85285 to fix this

[2019-11-14 14:35] lmdaly commented on #84601
/cc

[2019-11-14 14:43] mkumatag commented on #75114
@AnitaNayak

[2019-11-14 14:43] mkumatag commented on #75114
/reopen

[2019-11-14 14:43] #78981 closed

[2019-11-14 14:44] mkumatag commented on #69358
/cc @AnitaNayak

[2019-11-14 14:51] liggitt commented on #85271
The name of the user stanza only carries meaning in the local kubeconfig file. It is not sent to the server, and can be any string you want. Think of the users section as a map of name to config stanza.

This is the config you would use to accomplish what you want:

[code]

[2019-11-14 14:51] #85271 closed

[2019-11-14 14:55] liggitt commented on #85199
Yes, they are different.

--client-ca-file specifies the CA bundle used to verify client certificates where the authentication information is contained in the certificate subject

--requestheader-client-ca-file specifies the CA bundle used to verify the identity of an authenticating proxy, before trusting authentication information sent in headers like `X-Remote-User`.

See https://kubernetes.io/d

[2019-11-14 14:55] #85199 closed

[2019-11-14 15:03] gnufied commented on #85248
Yes, we can totally do that. The reason, I want to push this scenario for another PR is because of testing required. It is bit complicated to setup the tests to exercise all these scenarios and could easily take a day

[2019-11-14 15:09] tnozicka commented on #53023
says desired 21, up to date 18, so it seems like some pods may have older podspec? (Rolling update is in progress or maybe you have OnDelete strategy.) Can you get the full yaml for the DS and matching DS controller logs?

Likely one of the new pods didn't become available and the rollout is waiting. fluent-bit-q85qp seems to be restarting.

[2019-11-14 15:55] liggitt commented on #75957
That's not workable, a pod create and pdb create request could arrive simultaneously that would violate this invariant (or a second PDB could be created later).

At first glance, this seems similar to a single resource needing to update multiple ResourceQuota objects to be admitted. Is there a reason we cannot honor more than one PDB?

[2019-11-14 16:00] liu-cong commented on #84306
The way our benchmark tests run is:
1. Prepare a cluster with given number of `nodes` and `existingPods`
2. Start benchmark timer and wait until `minPods` number of pods are scheduled.
3. The go benchmark takes care of calculating the average time taken per pod by doing `totalTime/minPods`

We override `b.N` to be `minPods`. In fact, the only thing we need from the go benchmark tool is to calculat

[2019-11-14 16:00] adelina-t commented on #84804
@PatrickLang This does not work in containerd/cri, as all the mutually exclusive values are passed along : https://github.com/containerd/cri/blob/9f79be1b887af3df40f1e807ad2a1aedf0b931ad/pkg/containerd/opts/spec_windows.go#L160-L171

[2019-11-14 16:01] mikedanese commented on #84729
I added a unit test. configmap does not have this problem:

https://github.com/kubernetes/kubernetes/blob/d1e8702d36947ccc23ad820eaae7f4afbaf0b058/staging/src/k8s.io/client-go/tools/leaderelection/leaderelection_test.go#L132-L152

[2019-11-14 16:02] mikedanese commented on #84729
https://github.com/kubernetes/kubernetes/blob/d1e8702d36947ccc23ad820eaae7f4afbaf0b058/staging/src/k8s.io/client-go/tools/leaderelection/resourcelock/configmaplock.go#L51-L53

[2019-11-14 16:02] #84729 closed

[2019-11-14 16:18] liggitt commented on #75957
tentatively labeling this as a bug; it's clear this was intentional, but it's not clear why this behavior is correct

[2019-11-14 16:27] Nurza commented on #36222
An easy one liner to remove trailing whitespaces in a ConfigMap:

`kubectl get -o yaml cm [YOUR CONFIGMAP NAME] | sed -E 's/[[:space:]]\\n/\\n/g' | kubectl apply -f -`

[2019-11-14 16:34] tnozicka opened #85295 "Conformance test "should invoke init containers on a RestartNever pod" doesn't meet conformance requirements"
**What happened**:
Conformance test "should invoke init containers on a RestartNever pod" doesn't meet conformance requirements on conditions and events as stated here https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/conformance-tests.md#conformance-test-requirements

This is following up on https://github.com/kubernetes/kubernetes/pull/75111/files#r330271089

[2019-11-14 16:51] pfalomorblab commented on #52729
the wiki page has been removed. How can i see the link?

[2019-11-14 16:51] tedyu commented on #75957
Looking at the code, it seems we may be able to accommodate more than one PDB.
In the first round, pass dry-run being true to EvictionREST#checkAndDecrement and see if there is any non-nill error returned by any PDB.
If there is no non-nil error, we can go through PDBs again without dry-run.

[2019-11-14 17:08] deiga commented on #82949
Flake #85222

[2019-11-14 17:39] mortent commented on #77383
I can't think of many good reasons why someone would want to set PDBs on cronjob (or any other resource that doesn't support scale). Maybe there are some use cases around batch workloads? Are you suggesting we could remove support for PDBs on pods that doesn't have a known controller or the scale subresource?
For the particular situation in this issue this would mean that we could ignore the pods

[2019-11-14 17:41] kushalgangan opened #85296 "Support multiple services under one apiservice"
**What would you like to be added:** Currently when we create a new resource of type 'APIService', we can point it to a single service. It would be nice to have the ability to point to multiple services and expose them under a single API.

**Why is this needed:** I am trying to use HPA with external metrics. I am creating an APIService with the name 'v1beta1.external.metrics.k8s.io'. I would like

[2019-11-14 17:42] kushalgangan commented on #85296
/sig scalability

[2019-11-14 17:43] kushalgangan commented on #75786
/remove-lifecycle stale

[2019-11-14 17:43] kushalgangan commented on #75786
/reopen

[2019-11-14 17:45] kushalgangan commented on #85296
/sig autoscaling

[2019-11-14 17:46] #75136 closed

[2019-11-14 17:46] cblecker commented on #85277
/sig release
What version of bash are you using?

[2019-11-14 17:47] tedyu commented on #75957
I have a patch ready implementing the above suggestion.

[2019-11-14 17:47] kushalgangan commented on #85296
/sig external.metrics.k8s.io

[2019-11-14 17:52] ryedin commented on #74741
@soltysh I'm unsure how to get the log/event data you are asking for, but here is the yaml from a pod that has been in the cluster for > 16 hours after the job completed. This is from installing the kubeapps helm chart yesterday while playing around.

The container terminates fine, of course, but the pod(s) and the job(s) just remain indefinitely.

[code]

and again, this is on docker desktop, `ku

[2019-11-14 18:05] #84296 closed

[2019-11-14 18:19] ryedin commented on #74741
and the corresdponding job yaml:

[code]

and the results of `kubectl -n kubeapps describe job apprepo-sync-stable-kfx5c`:

[code]

not sure why I don't see any events here.

I'll leave it to you experts to decide whether we chalk this up to "docker desktop kube sucks" for now.

[2019-11-14 18:21] adelina-t commented on #84804
/assign adelina-t

[2019-11-14 18:35] mortent commented on #75957
I think that sounds like a reasonable solution.

My only question is what happens if something fails during the process of updating the PDBs. This would mean that disruptionsAllowed has been decremented on only some of the PDBs. I think this should eventually get resolved as the entries on the DisruptedPods map time out. Also, this should be a similar situation to what currently happens if we fail

[2019-11-14 18:50] mortent opened #85300 "Improve e2e test coverage for PDBs"
**What would you like to be added**:
PDBs are moving towards GA, but it currently has insufficient test coverage in the e2e tests. We should make sure the e2e tests cover all the PDB endpoints as described in https://github.com/kubernetes/kubernetes/pull/84740#issuecomment-553745672

**Why is this needed**:
As part of the promotion of PDBs to GA, we will promote these to conformance tests.

/sig a

[2019-11-14 19:05] fejta-bot opened #85303 "pr:pull-kubernetes-node-e2e-containerd flaked 43 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e-containerd
 Flakes in the past week: **43**
 Consistency: **95.00%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| Node Tests | 41 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2019-11-14 19:17] msau42 commented on #85233
/area security
@kubernetes/sig-storage-bugs

[2019-11-14 19:33] jacksontj commented on #73172
@thockin any thoughts on adding an option to allow the caller to enable/disable redirect following? Just ran into this and it is a bit odd to me that it follows redirects by default (definitely seems to break the principle of least surprise)

[2019-11-14 20:43] bewing opened #85306 "Support externalTrafficPolicy on ClusterIP"
Currently, `externalTrafficPolicy` is only supported on NodePort endpoints, and uses the `KUBE-XLB-*` iptables chain for the service to only load balance to Pods on the Node.  The assumption is that an external load balancer has knowledge of the pods, and has purposely steered to this node and port, and that we should not use kube-proxy to send it to another Node.

When using k8s on bare metal, Ca

[2019-11-14 20:44] bewing commented on #85306
/sig network

[2019-11-14 20:55] PatrickLang commented on #85142
We tried a workaround in https://github.com/containerd/cri/pull/1335, no success. Still discussing how to move past this

[2019-11-14 21:23] sarveshkaushal opened #85310 "Delete deployment with pods"
**What happened**:
Deleting a deployment using cURL doesn't delete pods.

**What you expected to happen**:
Both deployment and pods under it are deleted.
**How to reproduce it (as minimally and precisely as possible)**:
I am running k8 locally using docker for desktop on Macos.
The following curl in my local just deletes the deployment and doesn't terminate pods:
`curl -k -X DELETE -H 'Accept: app

[2019-11-14 21:24] sarveshkaushal commented on #85310
/sig api-machinery

[2019-11-14 21:27] sarveshkaushal commented on #85310
Refer this link: https://github.com/kubernetes-client/java/issues/779

[2019-11-14 21:29] msau42 commented on #85233
/close

[2019-11-14 21:29] #85233 closed

[2019-11-14 22:07] robscott commented on #85306
/assign @thockin

[2019-11-14 22:07] nckturner commented on #72533
/remove-area provider/aws
/area provider/azure

[2019-11-14 22:08] davidz627 opened #85313 "Dedupe pluginName->Feature mappings for CSIMigration"
/kind cleanup
/sig storage
/cc @ddebroy @liggitt

The logic is basically a giant switch statement but is sort of error prone (in terms of duplicating code and updating it in several places). We want to dedupe this logic as much as possible and have every component use a helper function that can stay up to date

Logic was introduced here: https://github.com/kubernetes/kubernetes/pull/83098/files

[2019-11-14 22:08] stephen-dahl commented on #29789
I am looking for an annotation to set the loadbalancers name. something like `service.beta.kubernetes.io/aws-load-balancer-name=my-loadbalancer`
In aws's ui you can give it a name and aws will prefix the loadbalancer address with it

[2019-11-14 22:08] robscott commented on #85082
/assign @danwinship

[2019-11-14 22:09] dcbw commented on #85082
@erig0 might be interested too

[2019-11-14 22:09] robscott commented on #85020
/assign @danwinship

[2019-11-14 22:10] robscott commented on #84997
/assign @freehan

[2019-11-14 22:13] robscott commented on #84898
/assign @dcbw

[2019-11-14 22:14] robscott commented on #84794
/assign @chrisohaver

[2019-11-14 22:14] thockin commented on #85306
What you want is service topology.  Conveniently the alpha PR for that got approved today!

[2019-11-14 22:14] #85306 closed

[2019-11-14 22:15] robscott commented on #84716
/assign @rajatchopra

[2019-11-14 22:15] adampl commented on #45419
@jackie-qiu Better blow up your server with a grenade or drop it form the 10th floor, just to make sure the issue never happens again...

[2019-11-14 22:16] robscott commented on #84671
/assign @rikatz

[2019-11-14 22:16] dcbw commented on #84898
@mozhuli Kubernetes tries to be somewhat network plugin agnostic, and these kinds of capabilities are network plugin specific. That said, there have been discussions around supporting some kind of pod annotation prefix, where annotations with the prefix could be passed down to CNI and thus network plugins. There's also overlap with the annotatoins that the Network Plumbing Working Group has standa

[2019-11-14 22:17] dcbw commented on #84898
/remove-triage unresolved

[2019-11-14 22:18] robscott commented on #84505
This seems to be working as intended.

/close

[2019-11-14 22:18] #84505 closed

[2019-11-14 22:19] thockin commented on #81729
@khenidak Do we need to catch this for dual-stack?

[2019-11-14 22:25] andrewsykim commented on #84438
/assign

[2019-11-14 22:32] 2rs2ts commented on #82923
This affects 1.15.5 too. And I don't see any notes about it in 1.15.6's release notes, so I assume it affects that version too.

[2019-11-14 22:49] davidz627 commented on #68586
/remove-lifecycle rotten

[2019-11-14 22:50] davidz627 commented on #68528
/remove-lifecycle rotten

[2019-11-14 22:51] #71579 closed

[2019-11-14 22:51] davidz627 commented on #79355
/remove-lifecycle stale

[2019-11-14 22:54] Cynerva opened #85314 "kubectl create role for podsecuritypolicies fails"
**What happened**:

I followed documentation for PodSecurityPolicies from the official docs ([link](https://kubernetes.io/docs/concepts/policy/pod-security-policy/#run-another-pod)). It indicates that you can create a Role granting access to a PodSecurityPolicy by using the `kubectl create role` command. However, the example command fails:

[code]

**What you expected to happen**:

The example com

[2019-11-14 22:56] Cynerva commented on #85314
@kubernetes/sig-cli-bugs

[2019-11-14 22:59] robscott commented on #85148
It looks like this ended up with a few too many sigs assigned, removing the ones that are not related, though I think this may only actually be relevant to sig-node.

/remove-sig network service-catalog instrumentation architecture

[2019-11-14 23:10] multi-io commented on #80968
I just hacked this https://github.com/multi-io/kube-pod-update-status to fix pods broken by this in a cluster.

[2019-11-14 23:36] rally25rs commented on #66020
Is there a solid recommendation on how to proceed here? I am in the same situation where an `initContainer` needs different access than the actual `container` and would rather not just starting granting privileges to the `default` service account.

[2019-11-14 23:40] jacksontj opened #85315 "add API to watch pods on Kubelet"
**What would you like to be added**:
Today there is a `/pods` endpoint to get the current state/status of pods. Unfortunately if I want to keep track of the current state of pods on a kubelet I have to poll this endpoint. Since the majority of other k8s APIs also have a watch mechanism -- it seems like an oversight that the kubelet API doesn't have the same

**Why is this needed**:
This will allow

[2019-11-14 23:41] jacksontj commented on #85315
/sig sig-node

[2019-11-14 23:42] jacksontj commented on #85315
@kubernetes/sig-node-feature-requests

[2019-11-15 00:07] dstrimble commented on #60807
https://medium.com/@newtondev/how-to-fix-kubernetes-namespace-deleting-stuck-in-terminating-state-5ed75792647e

This worked like a champ for me

[2019-11-15 00:31] mikedanese opened #85317 "benchmark inline GC in expiring cache and maybe drop the background goroutine"
Let's figure out if this is something we should do ASAP.

[2019-11-15 00:32] liggitt commented on #85315
this is a duplicate of https://github.com/kubernetes/kubernetes/issues/84248

cc @tallclair
/close

[2019-11-15 00:32] #85315 closed

[2019-11-15 00:37] PatrickLang commented on #84804
/milestone v1.18

[2019-11-15 00:39] #85198 closed

[2019-11-15 00:58] liggitt opened #85320 "TestVolumeBinding top flake in pull-kubernetes-integration"
**Which jobs are failing**:
pull-kubernetes-integration

**Which test(s) are failing**:
TestVolumeBinding

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-flakiness=&width=5

**Reason for failure**:
Unknown

**Anything else we need to know**:

/sig storage scheduling

[2019-11-15 01:01] liggitt commented on #85320
Failures today:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1195072320641699844
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1195103275389554688
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-integration/1195059876619882496
https://prow.k8s.io/view/gcs/kubernetes-je

[2019-11-15 01:03] liggitt commented on #85320
@kubernetes/sig-testing this test is not appearing in [triage](https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&job=pull-kubernetes-integration&test=TestVolumeBinding) or [flakes-latest.json](http://storage.googleapis.com/k8s-metrics/flakes-latest.json), despite failing dozens of times a week. Are those data sources pulling in test-integration results?

[2019-11-15 01:27] msau42 commented on #85320
/assign @msau42 @cofyc

[2019-11-15 01:32] thockin commented on #7923
This is almost certainly still true, but finding them will be harder now.

I find > 700 "go something" calls in the codebase.  Maybe smarter analysis could find oddball cases?

[code]

[2019-11-15 01:42] ddebroy commented on #85313
/assign

[2019-11-15 01:50] #81318 closed

[2019-11-15 01:54] #79004 closed

[2019-11-15 01:58] saad-ali commented on #85253
Did you make sure that the feature gate(s) are enabled? `--feature-gates=ExpandCSIVolumes=true` and `--feature-gates=ExpandInUsePersistentVolumes=true`. CSI volumes are alpha in 1.14 and disabled by default.

See https://kubernetes-csi.github.io/docs/volume-expansion.html

[2019-11-15 02:11] zhucan commented on #85253
@saad-ali  --feature-gates=ExpandCSIVolumes=true & --feature-gates=ExpandInUsePersistentVolumes=true has beed added in apiserver & controller-manager & kubelet(only work node)

[2019-11-15 02:16] saad-ali commented on #85253
@gnufied thoughts?

[2019-11-15 02:39] zhouya0 commented on #85277
Thanks for your reply.
[code]

[2019-11-15 02:41] gnufied commented on #85253
What is the volume type? Can you post PV & PVC's yaml? If it is of type CSI then message printed by expand_controller is correct.  Expansion of CSI volumes is handled by - https://github.com/kubernetes-csi/external-resizer

[2019-11-15 02:53] jacksontj commented on #85315
@liggitt thanks, I'll subscribe to the other issue :)

[2019-11-15 02:58] zhucan commented on #85253
@gnufied
**pvc yaml**
![image](https://user-images.githubusercontent.com/13997135/68913553-a00e4500-0796-11ea-85fd-d7258dc79bd6.png)

**pv yaml**
![image](https://user-images.githubusercontent.com/13997135/68913600-c6cc7b80-0796-11ea-932e-4a5c3c01cb2a.png)

[2019-11-15 03:01] fankangbest commented on #85280
/sig node

[2019-11-15 03:14] gnufied commented on #85253
synced offline on Slack - it looks like @zhucan does have external resize controller running but it is unable to connect to CSI driver socket and hence is not processing CSI resizing requests.

I dunno how CSI external-resizer is deployed in his case but external resize-controller must have access to CSI socket inside the *Pod*. In v0.3.0 - the external-resizer will crash if it can't connect to CS

[2019-11-15 03:18] zouyee commented on #81001
/remove-lifecycle stale

[2019-11-15 03:32] zhucan commented on #85253
@gnufied @saad-ali Thanks for your help, because of the socket dir is empty that I hadn't set it, so it can't connected to the socket.
![image](https://user-images.githubusercontent.com/13997135/68915070-9c30f180-079b-11ea-95eb-4fa1f1ac2fc4.png)

[2019-11-15 03:37] #85253 closed

[2019-11-15 03:37] #73773 closed

[2019-11-15 03:49] zhouya0 commented on #85314
It's because the the group is defined as `extensions`
https://github.com/kubernetes/kubernetes/blob/cb2684c41671f78563f8e92b6c5fafbf45471534/staging/src/k8s.io/kubectl/pkg/cmd/create/create_role.go#L63

/assign

[2019-11-15 04:07] fankangbest opened #85325 "Image on container side differs between new-pull image and already-exists image"
**What happened**:
When we create a pod with a new pulling image, the container's image looks like: xxxx/xxxx/mysql@sha256:29c23bee9310943cd6bad4d856b37656e0b38a7d3698962f6b628be3f96cc049. However, when we create a pod with image already existing on node, the container's image looks like: sha256:f6c9bc518181fbfadf74033c751a45d569c4729c0ef838310527f31d9124d3a3.

Is this a bug, or just by design?
**

[2019-11-15 04:09] fankangbest commented on #85325
/sig node

[2019-11-15 04:55] andrewsykim commented on #84041
FYI https://github.com/kubernetes/kubernetes/pull/83576 is merged, @opengers are you able to work on this? Otherwise i can get to it in the next week or so

[2019-11-15 05:47] josiahbjorgaard commented on #70189
/milestone v1.18

(code freeze v1.17)

[2019-11-15 05:47] josiahbjorgaard commented on #83259
/milestone v1.18

(v1.17 code freeze)

[2019-11-15 05:48] josiahbjorgaard commented on #76064
/milestone v1.18

(v1.17 code freeze)

[2019-11-15 05:48] josiahbjorgaard commented on #83479
/milestone clear

(v1.17 code freeze)

[2019-11-15 05:48] josiahbjorgaard commented on #85221
/milestone v1.18

(v1.17 code freeze)

[2019-11-15 05:49] josiahbjorgaard commented on #79523
/milestone v1.18

(v1.17 code freeze)

[2019-11-15 05:50] josiahbjorgaard commented on #84724
/milestone clear

(v1.17 code freeze)

[2019-11-15 05:59] ninja- commented on #69696
@sebastiansirch I updated to 1.14 from 1.13 and it didn't help :(

[2019-11-15 06:06] ninja- commented on #69696
kubectl create poddisruptionbudget kube-proxy-pdb --namespace=kube-system --selector=component=kube-proxy --max-unavailable 1
kubectl create poddisruptionbudget fluentd-gcp-pdb --namespace=kube-system --selector=k8s-app=fluentd-gcp --max-unavailable 1
kubectl create poddisruptionbudget prometheus-to-sd-pdb --namespace=kube-system --selector=k8s-app=prometheus-to-sd --max-unavailable 1

these PDBs

[2019-11-15 06:15] 2quarius commented on #51090
Got this problem again

[2019-11-15 07:19] cwdsuzhou commented on #85114
@liggitt  should we add Access Mode to validation.

From this case, if a PV having mode RWO changed to  RWX, then this PV may be mount to other nodes, but the driver may not support that

[2019-11-15 07:27] wojtek-t commented on #85221
@josiahbjorgaard - this is a regression introduced in 1.17, I actually believe we should fix that in 1.17.

[2019-11-15 07:44] kautsig commented on #66450
For those suffering this issue, here is how to debug it:

1) Check if there is a difference between your resource and the applied one `kubectl diff -f deployment.yaml`. If this gives you an empty result, I would expect a "unchanged" message on apply.
2) Run `kubectl apply -f deployment.yaml -v=8`
3) Look for the `PATCH` request. The line above it should contain the `Request Body:`
4) Analyze the p

[2019-11-15 07:56] ninja- commented on #69696
I double checked and looks like the 1.14 update does fix this (the update button only updated the master at first) :o even with no PDBs

[2019-11-15 08:00] uziela opened #85330 "Jobs with certain naming fail"
**What happened**:
When creating a kubernetes job, its pod status immediately turns to "terminating". I noticed that it happens only when my job name starts with "train". If I name the job "train", "train1", "train2" or similar when the problem occurs. If I name the job in any different way, for example "test1", then it runs successfully.

**What you expected to happen**:

Job running sucessfully

[2019-11-15 08:17] RainbowMango opened #85331 "kube-controller-manager panic when setting LabelManagedBy label to endpointSlice"
**What happened**:
kube-controller-manager panic for `fatal error: concurrent map iteration and map write`

[code]

**What you expected to happen**:
no panic.

**How to reproduce it (as minimally and precisely as possible)**:
No idea.  I guess it's hard to reproduce.

**Anything else we need to know?**:
Found from here:
https://github.com/kubernetes/kubernetes/pull/83837#issuecomment-553715114

`p

[2019-11-15 08:18] RainbowMango commented on #85331
/sig scheduling

[2019-11-15 08:23] mgdevstack commented on #85295
I'll be away for two weeks. Post, I can look into it for fix.

[2019-11-15 08:23] davidmogar commented on #85206
@kubernetes/sig-scalability-bug
/sig scalability

[2019-11-15 08:36] jeffdesc commented on #2630
I would need this as well (pretty urgently), because we have software not starting due to permissions not being able to be different then `0600`. If we could mount the volume under a specific UID my (and other's) problem will be solved.

[2019-11-15 08:46] tamalsaha opened #85332 "kubectl edit deploy fails with error: map: map[] does not contain declared merge key: name"
**What happened**:

I am trying to use `kubectl edit deploy` to change the args of a container. It fails with

[code]

**What you expected to happen**:

I expected kubectl edit to succeed.

**How to reproduce it (as minimally and precisely as possible)**:

https://gist.github.com/tamalsaha/cbaab32c1048040911d82d8cef098e60

You deployment yaml is original.yaml
Then I use kubectl edit to change the

[2019-11-15 08:48] tamalsaha commented on #85332
/sig apimachinery

[2019-11-15 08:48] tamalsaha commented on #85332
/sig apimachinery

[2019-11-15 08:49] droslean opened #85333 "[Failing Test] capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capg-conformance-stable-k8s-master (ci-cluster-api-provider-gcp-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`13th Nov 19:30 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capg-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alej

[2019-11-15 08:49] tamalsaha commented on #85332
/sig api-machinery

[2019-11-15 08:58] MikkelHegn commented on #84804
I suggest the title of this issue is change to not be confused with the limitations of not having hard limits for CPU resources in Windows: https://github.com/kubernetes/enhancements/blob/master/keps/sig-windows/20190103-windows-node-support.md#v1container

@adelina-t - Is the work to implement the weights at the kubelet level, to allow this specification?

[2019-11-15 09:07] keyingliu opened #85334 "kubelet may use stale node info to predicate pods"
**What happened**:
kubelet may use stale node info to predicate pods

**What you expected to happen**:
pod should not be rejected

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
If new labels are labeled in a node, and pods use nodeSelector,
kubelet may reject the pods at kubelet restarting because node
cache is not populated and kubelet stil

[2019-11-15 09:08] keyingliu commented on #85334
/sig node

[2019-11-15 09:11] keyingliu commented on #85334
@danielqsj

[2019-11-15 09:25] droslean opened #85335 "[Failing Test] capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)"
**Which jobs are failing**:
`capa-conformance-stable-k8s-master (ci-cluster-api-provider-aws-make-conformance-stable-k8s-ci-artifacts)`

**Since when has it been failing**:
`13th Nov 15:54 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#capa-conformance-stable-k8s-master

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alej

[2019-11-15 09:29] droslean opened #85336 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:
`gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)`

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
`15th Nov 18:48 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @alenkacz @hasheddan @alej

[2019-11-15 09:36] RainbowMango commented on #85331
Sorry, I didn't realize it. I should have a search before firing an issue.

I recommend adding this issue to your PR. e.g.
[code]

[2019-11-15 09:36] shaopenghui commented on #82126
I also have this problem
I found that the state of the containers is running when I describe pod
However, in fact, this container does not exist
k8s version:1.15.3
docker version:1.13.1

[2019-11-15 09:39] robscott commented on #85331
Updated, thanks!

[2019-11-15 09:42] dsayan154 commented on #60295
@tatsuhiro-t when I pipe the output to kubectl label -f- --dry-run -o yaml --local, the metadata.namespace is getting overriden

[2019-11-15 09:45] droslean opened #85337 "[Failing Tests] gce-windows-master && gce-windows-1.17"
**Which jobs are failing**:
`gce-windows-master`
`gce-windows-1.17`

**Which test(s) are failing**:
[code]

**Since when has it been failing**:
`14th Nov 13:11 PST`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-informing#gce-windows-master
https://testgrid.k8s.io/sig-release-1.17-informing#gce-windows-1.17

**Reason for failure**:
Check https://prow.k8s.io/view/gcs/kubernetes-jenk

[2019-11-15 09:46] droslean commented on #84867
/close

Tracking #85337

[2019-11-15 09:46] #84867 closed

[2019-11-15 09:46] ChanKunggc commented on #82126
I have the same problem. Can ofiicals provide some idea about thie problem?

[2019-11-15 09:47] shaopenghui opened #85338 "k8s Pod running but describe pod can see :Liveness probe errored: rpc error: code=Unknow desc = Error: no such container xxxxxxx , docker ps -a has no such container"
**What happened**:
After reboot my linux vm,rabbit cluster not healty

kubectl get pod|grep rabbit,see:
rabbitmq-2-0 1/1 Running 0 9d 172.34.230.185 192.168.56.88

but kubectl describe pod rabbitmq-2-0,see:
Normal Pulled kubelet, 192.168.56.88 Container image "h3crd-wlan1.chinacloudapp.cn:5000/rabbitmq:v5" already present on machine
Normal Created kubelet, 192.168.56.88 Created container
Normal St

[2019-11-15 09:47] #84183 closed

[2019-11-15 09:47] mengqiuyuwl commented on #82126
@neolit123 neolit123
@k8s-ci-robot
i upgrade docker version and k8s version but problem exists
k8s version:1.15.3
docker version:1.13.1

[2019-11-15 09:52] lianjiantaoyi commented on #85338
I had the same problem，does anyone have any idea？

[2019-11-15 09:58] droslean commented on #80534
/reopen

#84046 Doesn't resolve the issue.

@dims @listx @bclau ^^^^

[2019-11-15 10:02] #77041 closed

[2019-11-15 10:02] #79100 closed

[2019-11-15 10:27] shaopenghui commented on #85338
There's the same problem #82126[https://github.com/kubernetes/kubernetes/issues/82126](url)
@k8s-ci-robot

[2019-11-15 10:42] zmlpjuran commented on #71677
Hi guys, I hope that you have vendor specific rpm tags in the scope (ie: Vendor and Distribution).
Do you plan to fill it them statically or just in CI/CD?

[2019-11-15 10:57] #84668 closed

[2019-11-15 11:03] liggitt commented on #85221
/milestone v1.17
as noted above, this is a release blocking bug

[2019-11-15 11:03] #78228 closed

[2019-11-15 11:08] liggitt commented on #84724
/milestone v1.17
This is a bug I would consider release blocking

[2019-11-15 11:12] gongguan opened #85341 "Make GetPodServices as a scheduler helper"
After [#84280](https://github.com/kubernetes/kubernetes/pull/84280) merged.
GetPodService only used by scheduler, could it be moved to scheduler as TODO said?
https://github.com/kubernetes/kubernetes/blob/8548a253de80c787dbcd2b022faffc75c7c23025/staging/src/k8s.io/client-go/listers/core/v1/service_expansion.go#L34-L36
Or leave it in consistent with other expansion files?

/assgin

[2019-11-15 11:13] gongguan commented on #85341
/kind clean up
/cc @deads2k

[2019-11-15 11:26] #84716 closed

[2019-11-15 11:27] cjreyn commented on #84716
Closed. This seems to be related to the CNI. Tried weave-net and the correct broadcast address is returned.

[2019-11-15 11:49] varuzam commented on #53023
@tnozicka
No rollout update is in progress. Yes, the DS has OnDelete strategy. But how can it cause the problem?
When the problem happened a while ago I restarted all the pods and everything became good. But then the mismatching desired/available/ready pods happened again without any external interventions. I mean No one has touched the DS since it became OK.  The only thing I have found that some

[2019-11-15 11:56] aojea commented on #81729
This will be fixed by the kube-proxy docker image update #82966

[2019-11-15 12:10] mm4tt opened #85342 "Kube-proxies EndpointSlice WATCH restarts overloading control-plane"
The regression is caused by two changes:
* Changes in reflector (https://github.com/kubernetes/kubernetes/pull/83520) which results in issuing LIST with RV="" (meaning it will go to etcd) on WATCH restarts caused by 410 (RV too old) errors

* Enabling EndpointSlice API without bumping the cache size for EndpointSlices (will be fixed in https://github.com/kubernetes/kubernetes/pull/85339). The defa

[2019-11-15 12:10] mm4tt commented on #85342
/priority critical-urgent

This is a release blocker

[2019-11-15 12:32] rforberger commented on #85197
The problem disappeared without intervention on setup. Don't understand it. I leave the bug report open anyway, since someone might want to look into it.

[2019-11-15 12:33] brightzheng100 commented on #46822
I'm also very confused while thinking which component should be updated to enable (or disable) a feature.

Let’s take `RotateKubeletClientCertificate` as an example.
From the command line reference doc, it looks like we have to update any of below components:
- cloud-controller-manager
- kube-apiserver
- kube-controller-manager
- kube-proxy
- kube-scheduler

But I'm not sure, frankly speaking, if

[2019-11-15 12:51] #85221 closed

[2019-11-15 12:54] woodcockjosh commented on #2630
You can run a job as part of your deployment to update the volume permissions and use a ready state to check for write permission as a workaround. Or you can use fsGroup to specify the group for the volume and add the application owner to the group that owns the volume. Option 2 seems cleaner to me. I used to use option 1 but now I use option 2.

[2019-11-15 13:03] gongguan commented on #85341
/remove-kind bug

[2019-11-15 13:29] ingvagabund commented on #84306
I am inclined to suggest the same. Increasing `b.N` still does not give asymptotic results. Also, it's not reasonably applicable for `BenchmarkScheduling/5000Nodes/1000Pods-4` which takes "forever".

[2019-11-15 13:43] liu-cong commented on #84306
I do find that b.N does change for the smaller tests (e.g., 100Nodes/100Pods). But I don't find these small tests important. And you are right, I checked that for the large test, b.N won't be adjusted by go bench since it takes long.

I my opinion, we can have a test case with 1000 nodes and one with 5000 nodes. For each one we schedule 1000 pods and calculate the average time.

[2019-11-15 13:44] jkaniuk opened #85343 "Addon Manager: wrong processing of KUBECTL_EXTRA_PRUNE_WHITELIST"
**What happened**:
Regression in 1.17 introduced by #82237
When there are several items passed using KUBECTL_EXTRA_PRUNE_WHITELIST flag,
cluster/addons/addon-manager/kube-addons.sh generates wrong flags for kubectl:

[code]

Which causes:

[code]

**What you expected to happen**:
It should generate:

[code]

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else

[2019-11-15 13:50] jkaniuk commented on #85343
/assign

[2019-11-15 13:56] chrisohaver commented on #84794
Can you share the output of ...
`kubectl -n kube-system describe deployment coredns`
and ...
`kubectl -n kube-system describe pod coredns-5644d7b6d9-6xdmm`

Can you give a bit more detail on "coredns can not work as domain name resolution."
e.g. Can you give an example a situation where id doesn't work as expected ...
1. what name you are querying
2. how you are querying it (e.g. with dig, nslooku

[2019-11-15 13:56] ingvagabund commented on #84306
Just to share my measurements:

[code]

First column denotes benchmark time in seconds, other colums are individual average `ns/op` times provided by the benchmark tests. All the measured times are quite alternating around. It might be different for benchmark times that are multiples of 10s.

[2019-11-15 13:57] wojtek-t commented on #85343
@kubernetes/sig-release @guineveresaenger @alenkacz - FYI

This seems like a regression in 1.17, so we should merge fix in 1.17.

[2019-11-15 14:06] blodone commented on #78664
+1 it should be configurable. Using remote attached disks like ceph would destroy the usability of kubectl. Also it would be nice if an option like --no-cache would exist

[2019-11-15 14:15] JulienBalestra commented on #67789
/remove-lifecycle stale