[2020-03-27 21:35] Arabus opened #89598 "kubernetes.io release notes outdated in latest version"
**What happened**:
Visited https://kubernetes.io/docs/setup/release/notes/
It shows the release notes for v1.17

**What you expected to happen**:
See the release notes for v1.18

**How to reproduce it (as minimally and precisely as possible)**:
Open https://kubernetes.io/docs/setup/release/notes/ in any browser or with curl

[2020-03-27 21:39] rikatz commented on #89520
Made a [gist](https://gist.github.com/rikatz/807c68ebbd73cba7c2e759a5586e366b) trying to reproduce this in my environment but didn't got this error. I may try this on some older kernel like from CentOS 7

Added exactly the same IPVS configuration here:

[code]
And when running this 'gist/program' pointing to the IPVS from the DNS (fd00:10:96::a port 53 UDP) got the expected result:

[code]

Maybe

[2020-03-27 21:46] the-redback commented on #2707
Although I was able to use dot in both Deployment and statefulsets, I am still facing problem while editing pod's env with a dot (via kubectl). Is it expected behavior?

[2020-03-27 21:50] tyates-indeed opened #89599 "Custom deployment spec does not merge VolumeMounts for InitContainers"
**What happened**:
I created a custom deployment spec for a hello-world function that mounts `emptyDir` to `/tmp` for both `containers` and `initContainers`:

[code]

**What you expected to happen**:
I expect the created function to have the volume mounts correctly merged with my custom deployment spec. The merge works correctly for `containers` but does NOT work for `initContainers`. When I fetch

[2020-03-27 21:52] #89599 closed

[2020-03-27 21:52] tyates-indeed commented on #89599
Closing as this is the wrong repo. Meant to create this in Kubeless.

[2020-03-27 21:57] neolit123 commented on #89512
not sure i understand. if you join a node named "foo" to a cluster that already has "foo", the new "foo" will remain NotReady but the existing "foo" will also become NotReady due to the crash loop of control-plane components. not sure how age matters here.

are you suggesting the Node having status NodeReady but with condition Unknown:
https://github.com/kubernetes/api/blob/master/core/v1/types.go

[2020-03-27 22:00] Arabus commented on #89598
/sig docs

[2020-03-27 22:03] jtigger opened #89600 "kubectl describe secrets skips annotations by default"
**What would you like to be added**:
Adjust the behavior of `kubectl describe secrets` such that _all_ annotations are omitted from the output, by default.

Users who wish to view annotations, include a flag (e.g. `--show-annotations`).  Or are directed to use the `kubectl get secret -o yaml` command.

**Why is this needed**:
For the same reason that `kubectl describe secrets` skips the `lastAppli

[2020-03-27 22:18] tallclair commented on #89377
This was fixed by https://github.com/kubernetes/kubernetes/pull/87913

[2020-03-27 22:18] jtigger commented on #89600
/sig cli

[2020-03-27 22:19] tallclair commented on #89378
This was fixed by https://github.com/kubernetes/kubernetes/pull/87669

[2020-03-27 22:51] galakt commented on #26895
/reopen

[2020-03-27 22:52] kvaps commented on #89512
Unfortunately intentionally or accidentally, but this check does not work:

[code]

In b117a92#diff-3c566a0c1e3b213a34b39503abf4fc11R150, you're checking just existence of condition with `type == Ready` but you also have to check the `status` of this condition

[2020-03-27 22:55] kvaps commented on #89512
This variant is working fine:
https://github.com/kubernetes/kubernetes/pull/89602/files

[2020-03-27 22:59] neolit123 commented on #89512
it did work in my tests.
i guess, it would not work for the case where the condition is still present but not True, so your PR makes sense.

[2020-03-27 23:01] neolit123 commented on #89512
but that does not help you with your use case, right?

[2020-03-27 23:03] kvaps commented on #89512
This change is fine for me, because I need to rejoin nodes only after reboot. Usually it takes more than 30 seconds (it's a time when node is coming from `Ready` to `Unknown` state.)

[2020-03-27 23:03] gauravsofat commented on #89458
/assign @gauravsofat

[2020-03-27 23:06] neolit123 commented on #89512
so by the time you reboot the NodeReady condition now has a `Unknown` status instead of `Ready`?
does `--node-monitor-grace-period` affect this? it's default is 40s?

[2020-03-27 23:07] pjh commented on #88974
I'll check these jobs again after https://github.com/kubernetes/kubernetes/pull/89601 and https://github.com/kubernetes-sigs/windows-testing/pull/154 merge.

[2020-03-27 23:09] neolit123 commented on #89512
you might want to lower that value.

also see my comment about "release note" on the PR.

[2020-03-27 23:16] kvaps commented on #89512
You're right it is 40 seconds:
[code]

[2020-03-27 23:21] neolit123 commented on #89512
ok, i will send a cherry pick for the PR to 1.18

[2020-03-27 23:35] abhiraut commented on #87709
Yes. Distinguishing ingress and egress for logging would be helpful.

In this case, we can follow NetworkPolicy principles, i.e. As long as there is a policy which enables logging, we log them.

This is where I am struggling a bit, although the per rule logging for Allow is desired, I am not sure how I feel about about having a NetworkPolicySpec.LoggingPolicy field AND a NetworkPolicyIn[E]gressRul

[2020-03-28 00:05] duboc commented on #89597
I want to help on this one!

[2020-03-28 00:06] duboc commented on #89597
/assign @duboc

[2020-03-28 00:12] #84539 closed

[2020-03-28 00:35] rikatz commented on #89597
Go for it :)

[2020-03-28 02:09] 372046933 commented on #87277
Great. Better with a model serving like seq2seq with dynamic RNN

[2020-03-28 02:56] yanghaichao12 commented on #89377
@tallclair thank you

[2020-03-28 03:54] loozhengyuan commented on #87840
@julianvmodesto I am running the cluster on GKE, so recently I took some time to implement [Application-layer Secrets Encryption](https://cloud.google.com/kubernetes-engine/docs/how-to/encrypting-secrets) as per your suggestion. Unfortunately, even though the secrets are encrypted-at-rest in `etcd`, they [are decrypted when I access them](https://kubernetes.io/docs/tasks/administer-cluster/encrypt

[2020-03-28 04:28] loozhengyuan commented on #87840
@apelisse Thanks for sharing your thoughts on this. Though I don't think there is a good way to handle this, I think that implementing a flag would at least make `kubectl diff` safe for use in CI/CD pipelines. Even if secrets diffs are suppressed, I can combine with the use of `kubectl apply --server-dry-run` to determine if a secret is expected to be changed in that run or otherwise.

[2020-03-28 07:11] #89512 closed

[2020-03-28 07:22] SataQiu commented on #89520
After some study, I find that this issue most likely is caused by the low linux kernel version.
I have reproduced this problem on `Linux CentOS 3.10.0-693.el7.x86_64`.

Accroding the code, netlink will try to get `d.AddressFamily` attribute, but I find the kernel just does not support it :(

This is the `Destination Attributes` defined in `/usr/include/linux/ip_vs.h` (kernel 3.10)
[code]
No `IPVS_

[2020-03-28 07:29] SataQiu commented on #89520
Here is the `Destination Attributes` defined in `docker/libnetwork`:
https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/docker/libnetwork/ipvs/constants.go#L76-L89
[code]

[2020-03-28 08:29] SataQiu commented on #89598
/assign

[2020-03-28 08:55] zhouya0 commented on #89600
/assign I think this make sense.

[2020-03-28 09:17] uablrek opened #89610 "Dual-stack with base family IPv6: Services with ipFamily:IPv4 gets ipv6 addresses"
**What happened**:

When K8s is started in dual-stack mode with IPv6 as the "main" (or base) family services specified with ipFamily:IPv4 still get a ipv6 `ClusterIP`;

[code]
The `loadBalancerIP` is expicitly set to "10.0.0.0" using [assign-lb-ip](https://github.com/Nordix/assign-lb-ip).

**What you expected to happen**:

Services with ipFamily:IPv4 shall get ipv4 ClusterIP addresses.

**How to r

[2020-03-28 09:20] uablrek commented on #89610
/sig network
/cc @aramase @aojea

[2020-03-28 10:00] uablrek commented on #89610
The problem seem to be;
[code]
The problem occurs when an ipv6 range is specified first, even in an ipv4-based dual-stack cluster. But the ipv6 range *must* be specified first otherwise the "kubernetes" service gets an ipv4 address but an ipv6 backend;
[code]
Perhaps the way to fix this problem is to make sure the `kubernetes` service address is from the right family and require that the order to

[2020-03-28 10:34] chendave commented on #81920
/remove-lifecycle rotten

[2020-03-28 11:42] uablrek commented on #89610
There seem to be a `--secondary-service-cluster-ip-range` option;
https://github.com/kubernetes/kubernetes/blob/b4c82622ec9d1e58ae2c9f901e51353f0661cf20/cmd/kube-apiserver/app/options/validation.go#L59

But I can't see it in the help printout. I will try to use it...

[2020-03-28 11:49] uablrek commented on #89610
[code]
:disappointed:

[2020-03-28 12:38] seanturner83 commented on #75457
Sorry but if an attacker can change the flags on your kubelet don't you have bigger issues than them changing the node label?

[2020-03-28 12:38] uablrek commented on #89610
Here it where the kubernetes service address is set;
https://github.com/kubernetes/kubernetes/blob/a75ee745fbc5fe72f073202f0f1ce01a2d2fdff9/pkg/master/services.go#L47

[2020-03-28 13:28] Blunderchips commented on #71647
Has this issue been resolved? @yue9944882 did not seem to help.

[2020-03-28 14:40] qw1mb0 opened #89611 "Kubernetes API-server certificate expired client"
**What would you like to be added**:
Add a label or metric with the Common Name of the certificate and the IP-address where the request is made to the kubernetes api-server.

**Why is this needed**:
Kubernetes api-server has the metrics apiserver_client_certificate_expiration_seconds_bucket: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/authentication/reques

[2020-03-28 14:42] qw1mb0 commented on #89611
/sig auth

[2020-03-28 15:02] SataQiu commented on #89610
/assign

[2020-03-28 15:07] dims commented on #87420
@dcantah i've raised a PR that effectively removes cri-api from the hcsshim root go.mod by adding a separate go.mod for the test directory, please take a look:
https://github.com/microsoft/hcsshim/pull/789

[2020-03-28 15:36] danwinship commented on #87709
I think the best way to define this depends on the exact use case (which means we need good, accurate, complete user stories in the KEP that we can weigh different approaches against).

From customer requests I've seen, I suspect that what most people want is "log every pod ingress attempt that is rejected because of NetworkPolicy" (or the corresponding egress version, or both). IOW, I suspect mos

[2020-03-28 16:28] #84557 closed

[2020-03-28 16:31] spiffxp commented on #89573
/close
Back to passing

[2020-03-28 16:31] spiffxp commented on #89572
/close
Back to passing

[2020-03-28 16:31] #89573 closed

[2020-03-28 16:32] #89572 closed

[2020-03-28 17:31] erwbgy commented on #39188
Likewise and when updating the second entry, running "kubectl apply" doesn't change the values and "kubectl replace" is required.

[2020-03-28 19:31] #29346 closed

[2020-03-28 20:06] tedyu opened #89613 "Remove VolumeSubpathEnvExpansion feature gate in 1.19"
**What would you like to be added**:
We can remove VolumeSubpathEnvExpansion feature gate in 1.19

**Why is this needed**:
[code]
/sig node
/assign

[2020-03-28 20:19] zimmertr commented on #53248
Using @weibeld's solution [here](https://github.com/kubernetes/kubernetes/issues/53248#issuecomment-480036473), we can also create a shell function ourselves to effectively replicate the feature we desire. For example:

[code]
[code]

This function accepts two arguments, one Namespace and one ServiceAccount. If I search the `kubernetes-dashboard` namespace for my personal ClusterAdmin ServiceAccou

[2020-03-28 20:24] owenson commented on #43633
+1

[2020-03-28 20:32] #82379 closed

[2020-03-28 20:32] #82530 closed

[2020-03-28 21:47] rhuss commented on #82942
/remove-lifecycle stale

[2020-03-28 22:01] tedyu opened #89614 "Kubelet#generateAPIPodStatus misses EphemeralContainerStatuses"
**What happened**:
In Kubelet#generateAPIPodStatus, when composing allStatus, EphemeralContainerStatuses was missed.

**What you expected to happen**:
EphemeralContainerStatuses should be considered for allStatus.
Kubelet#convertStatusToAPIStatus covers ephemeral containers.

In Kubelet#syncPod(), when the pod is not runnable, we should mark reason for waiting in all container statuses, including

[2020-03-28 22:34] #81999 closed

[2020-03-28 22:34] #84564 closed

[2020-03-28 23:31] softwood777 opened #89617 "softwood"

[2020-03-29 00:03] liggitt commented on #89611
Adding an unbounded value as a metric label causes problems with metric cardinality

cc @logicalhan

[2020-03-29 00:17] #89617 closed

[2020-03-29 00:48] tedyu commented on #79492
@robottaway
Do you still see this problem in your cluster ?

Thanks

[2020-03-29 03:26] tedyu opened #89621 "Remove nested loop in kubeGenericRuntimeManager#purgeInitContainers"
**What would you like to be added**:
kubeGenericRuntimeManager#purgeInitContainers can fulfill the purge using one iteration over podStatus.ContainerStatuses

**Why is this needed**:
Currently we establish the set of init container names. A nested loop matches name from ContainerStatus with one of the init containers and prunes the matching init container.

The purge can be done in linear complexi

[2020-03-29 03:27] tedyu commented on #89621
[purge-init-container.txt](https://github.com/kubernetes/kubernetes/files/4398243/purge-init-container.txt)

[2020-03-29 03:39] #72782 closed

[2020-03-29 03:44] elsesiy commented on #74178
Shall not be stale 👍

[2020-03-29 03:44] elsesiy commented on #74178
/remove-lifecycle stale

[2020-03-29 04:48] cy503328434 opened #89622 "Access through clusterip very slow on other node but works well using nodePort"
here is my version info
NAME           STATUS   ROLES    AGE   VERSION   INTERNAL-IP     EXTERNAL-IP   OS-IMAGE                KERNEL-VERSION                CONTAINER-RUNTIME

k8s-master01   Ready    master   82m   v1.18.0   1.2.3.4   <none>        CentOS Linux 7 (Core)   3.10.0-1062.12.1.el7.x86_64   docker://19.3.8

k8s-node01     Ready    <none>   78m   v1.18.0   1.2.3.5   <none>        CentOS

[2020-03-29 04:53] arunbpt7 opened #89623 "Modify StorageClass reclaimPolicy: Retain"
Hi,

Is it possible to modify existing StorageClass reclaimPolicy to Retain . The current Retain Policy is Delete by default.

[2020-03-29 05:37] fengzixu opened #89624 "PodRequestsAndLimits function needs to consider the storage resource"
**What would you like to be added**:

According to the discussion of https://github.com/kubernetes/kubernetes/pull/89222#issuecomment-601839468, we want to call the `PodRequestsAndLimits` to get all resource requests.Not only for sig-scheduling, we also need to get the resource request and limit in one place across the whole kubernetes code base.

We found the `PodRequestsAndLimits` doesn't consid

[2020-03-29 05:38] fengzixu commented on #89624
/sig sig-scheduling
/sig api-machinery

[2020-03-29 05:45] fengzixu commented on #89624
/sig scheduling

[2020-03-29 06:55] #89624 closed

[2020-03-29 07:23] qw1mb0 commented on #89611
Yes, I understand the problem.

Maybe we should add some metric or label for apiserver_request_*.

[2020-03-29 08:44] #81308 closed

[2020-03-29 09:05] ayanamist commented on #60748
/remove-lifecycle stale

[2020-03-29 10:16] fengzixu opened #89627 "Unify the calculating resource request/limit into one place"
**What would you like to be added**:

I want to unify all methods of "Calculating Resource" into one place.

**Why is this needed**:

When I worked on this PR(https://github.com/kubernetes/kubernetes/pull/89222) of sig-scheduling,  we found we should use the unified function to calculating the resource request.

So we find there are two methods in https://github.com/kubernetes/kubernetes/blob/5713

[2020-03-29 10:16] fengzixu commented on #89627
/sig api-machinery
/sig scheduling

[2020-03-29 10:21] MartinForReal opened #89628 "kubeadm can't join existing cluster if conntrack is not installed on Coreos"
**What happened**:
failed to join node using kubeadm because conntrack is not found on ContainerLinux distributions.

**What you expected to happen**:
kubeadm should work without any error.

**How to reproduce it (as minimally and precisely as possible)**:
execute
`kubeadm init phase preflight`
on ContainerLinux
[code]

**Anything else we need to know?**:

related issue:

https://github.com/kubern

[2020-03-29 10:23] MartinForReal commented on #89628
/sig node

[2020-03-29 10:24] MartinForReal commented on #89628
/area kubeadm
/feature bug
/sig cluster-lifecycle

[2020-03-29 10:32] MartinForReal commented on #89628
/sig docs

[2020-03-29 10:58] CasperLiu commented on #61670
Hello,
@mtaufen  @dashpole
Could you please explain what's the status of Kubelet --experimental-allocatable-ignore-eviction?

Thanks a lot in advance!

[2020-03-29 11:04] fengzixu commented on #89627
So i think we may need to refactor the function of calculating resource request/limit.

1. GetResourceRequest
2. GetResourceLimit
3. PodRequest
3. PodLimit

Those methods include single and batch operation, they are more flexible for users.

[2020-03-29 11:06] fengzixu commented on #89627
@liggitt What do you think?
/cc @ahg-g @Huang-Wei

[2020-03-29 11:45] zhming0 commented on #89526
This issue duplicate with #89610. This one can be closed

[2020-03-29 12:32] 41tair commented on #77258
The problem is still in 1.18.0

[2020-03-29 12:42] yangxikun opened #89630 "Job Controller: job.Status.Failed is incorrect in some cases"
**What happened**:

The job yaml:

[code]

The job is finished and has one failed pod, but job.Status.Failed = 0.

[code]

**What you expected to happen**:

job.Status.Failed = 1

**How to reproduce it (as minimally and precisely as possible)**:

Just apply the yaml above, and sometimes can reproduce.

**Anything else we need to know?**:

In job_controller.go:syncJob:

* active: means the number o

[2020-03-29 12:46] yangxikun commented on #89630
/sig apps

[2020-03-29 12:48] #83938 closed

[2020-03-29 13:49] #84109 closed

[2020-03-29 14:23] yuzhiquan commented on #89190
@serathius  The klog 1.0.0 version  looks like no SetLogger method, should update klog version in vendor?

[2020-03-29 14:40] serathius commented on #89190
@yuzhiquan yes, forgot about that. I remember @44past4 saying that it will require some changes, but shouldn't be to hard. I will help with it if needed.

[2020-03-29 15:01] luarx commented on #88273
Thanks @robscott for that suggestion! That took is ok but I think that ksniff is more focused as a tool to debug some pods when you suspect that something is not working as expected.

I was thinking on a system that allows me to **monitor network traffic and configure Prometheus alerts** if there are more X reqs/second, a huge amount of 5xx Htth responses... to be able to pay attention to those al

[2020-03-29 15:07] tedyu commented on #89630
The suggested fix should take pod.spec.restartPolicy into account.

[2020-03-29 15:08] cfabio opened #89632 "NodePort accessible only from host where POD is running"
**What happened**:
I have a 1 master 2 slaves Kubernetes cluster, nodes IP addresses are 192.168.122.[110-111-112]/24.
Deployment and Service defined as follows:
[code]

**What you expected to happen**:
I would expect to be able to reach the service exposed on port 31883 from every IP of the cluster, this worked fine in Kubernetes version 1.15 and 1.16.
Since Kubernetes 1.17.0 this is not the case

[2020-03-29 15:50] alban opened #89633 "kubenet: repeated ebtables rule causes bad network performances (v1.16 and v1.17 only)"
kubenet: repeated ebtables rule causes bad network performances (v1.16 and v1.17 only)

**What happened**:

Updating Kubernetes from 1.14 to 1.16 caused applications to have bad network performances. Other parameters were not changed: same distribution, same kernel, etc.

**What you expected to happen**:

Applications' network performances should not drop when updating Kubernetes.

**How to reprod

[2020-03-29 15:54] alban commented on #89633
/sig network

[2020-03-29 16:02] YangLu1031 commented on #88011
Oh, missed to add the new log file to collector list.

[2020-03-29 16:02] tedyu commented on #89633
[code]
Please attach the program.
[code]
I don't see description for troubleshooting procedure.

[2020-03-29 16:10] alban commented on #89633
@tedyu I included them in the collapsible section `<details> ... </details>`. But I can add them in full here as well.

### Go program

[code]

### Description for troubleshooting procedure

Run the following command:

[code]

Among other things, the following stack was often printed:
[code]
This hinted that the bad performances were around the kernel function [ebt_ip_mt()](https://github.com/torv

[2020-03-29 16:25] tedyu commented on #89633
thanks for the information

[2020-03-29 16:43] aojea commented on #89628
@MartinForReal you can ignore the error in kubeadm if you want,  as explained in the error message, using the flag `--ignore-preflight-errors=`

[2020-03-29 16:49] MartinForReal commented on #89628
@aojea I think we need to add some comments for coreos installations. So that the user will not get confused.

related issue: #59286

[2020-03-29 17:16] k2huang opened #89635 "Pod cannot be deleted from cluster because its volume directory can't been removed by kubelet"
**What happened**:
Pod keeps terminating state forever after trigger deleting pod via `kubectl delete` command. And the following kubelet error logs was found:

`
I0306 00:36:16.988704   11502 util.go:189] "/var/lib/kubelet/pods/6e3bdbf0-5eff-11ea-991c-7cd30ac0ac2a/volumes/kubernetes.io~nfs/bach-hadflow" is unmounted, deleting the directory
E0306 00:36:16.988816   11502 nestedpendingoperations.go:

[2020-03-29 17:16] k2huang commented on #89635
/sig node

[2020-03-29 17:16] k2huang commented on #89635
/assigin

[2020-03-29 17:17] k2huang commented on #89635
/assign

[2020-03-29 17:54] tedyu commented on #89621
[purge-init-container.txt](https://github.com/kubernetes/kubernetes/files/4399409/purge-init-container.txt)

[2020-03-29 18:43] aojea commented on #89526
/close
so we can track this properly in one place only

[2020-03-29 18:44] #89526 closed

[2020-03-29 20:51] wyardley commented on #34146
/remove-lifecycle stale

[2020-03-29 20:59] toadjaune commented on #76957
/remove-lifecycle stale
I'll have some time to take care of this, eventually.

[2020-03-29 21:00] #89621 closed

[2020-03-29 21:03] neolit123 commented on #89632
/sig network

[2020-03-29 21:10] neolit123 commented on #89628
conntrack is already a kubelet dependency in the RPM spec:
https://github.com/kubernetes/release/blob/master/cmd/kubepkg/templates/latest/rpm/kubelet/kubelet.spec#L19

in terms of container linux you can send a PR for this area of the k8s.io website:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl
https://github.com/kube

[2020-03-29 21:39] tedyu commented on #89635
Can you post more of the kubelet log regarding 6e3bdbf0-5eff-11ea-991c-7cd30ac0ac2a ?

Thanks

[2020-03-29 22:41] BobyMCbobs opened #89637 "Write AppsV1DaemonSet resource lifecycle test - +6 endpoint coverage"
# Identifying an untested feature Using APISnoop

According to this APIsnoop query, there are still some remaining DaemonSet endpoints which are untested.

[code]

[code]

# API Reference and feature documentation

-   [Kubernetes API Reference Docs](https://kubernetes.io/docs/reference/kubernetes-api/)
-   [client-go - DaemonSet](https://github.com/kubernetes/client-go/blob/master/kubernetes/type

[2020-03-29 22:47] corpulent commented on #62594
This worked for me.  Why does this work?

[2020-03-30 02:20] k2huang commented on #89635
Sorry, I don't save it. Could you please check my analysis?

[2020-03-30 02:49] tedyu commented on #89635
Looking at recent e2e test log, I saw:
[code]
It seems the subpath in your example was slightly different from e2e test run.

The code has moved quite a bit between 1.16 and 1.19
When you have time, see if the problem can be reproduced using 1.19
[code]
It seems the window of exposing this problem is kind of short.

Thanks

[2020-03-30 04:38] anguslees commented on #75457
The goal is to stop sideways movement: a compromise of a single node (and kubelet) should not allow you to take over other nodes or other pods.  Arbitrarily changing the labels on your own node is/was one way you could cause new "interesting" pods (like k8s master pods) to be scheduled on you that might in turn expose more interesting privileges, secrets, etc.

[2020-03-30 05:41] uablrek commented on #89520
@SataQiu Good finding.

So, we can conclude that this really is kernel version dependent. It is hard to know what to do about it. We must check the family. I would propose that we make it work for ipv4 with some fallback and put a requirement on kernel version for ipv6-only/dual-stack. But the decision is others to make.

/cc @andrewsykim @thockin

[2020-03-30 05:46] uablrek commented on #89520
/cc @m1093782566

[2020-03-30 06:04] uablrek commented on #89520
The symbol in the kernel tree https://github.com/torvalds/linux/blob/7111951b8d4973bda27ff663f2cf18b663d15b48/include/uapi/linux/ip_vs.h#L404

The `IPVS_SVC_ATTR_AF` for service family https://github.com/torvalds/linux/blob/7111951b8d4973bda27ff663f2cf18b663d15b48/include/uapi/linux/ip_vs.h#L360 seems very old. Since the service must have the same family as the real-servers perhaps is can be used

[2020-03-30 06:07] uablrek commented on #89520
The commit that adds the symbol;https://github.com/torvalds/linux/commit/6cff339bbd5f9eda7a5e8a521f91a88d046e6d0c
Seem to go into linux-3.18

[2020-03-30 06:12] superbrothers commented on #89140
This bug also affects Kustomize, which probably won't be resolved in the Server-side apply.

[2020-03-30 06:45] mudverma commented on #89532
@uablrek Yes, no CNI for now provides pod to pod guarantees (if we can call that a reservation).  However Calico provide traffic shaping (limitation) that too locally and not between a pair of pods.

Yes Bandwidth reservation is actually hard. But there are clear use-cases if such a thing would exist. Even best-effort guarantees if not absolute.

If there is a possibility to connect offline, we ca

[2020-03-30 06:50] smileusd commented on #89513
Thanks. And I try to fix this issues https://github.com/kubernetes/kubernetes/pull/89643.

[2020-03-30 06:59] RikuXan commented on #87615
I can also confirm this on Kubernetes 1.17.4 deployed through Rancher 2.3.5 on RancherOS 1.5.5 nodes. Restarting the kubelet seems to work for me, I don't have to restart the whole node.

[2020-03-30 07:13] smileusd commented on #89513
duplicated with #74374

[2020-03-30 07:13] #89513 closed

[2020-03-30 07:27] smileusd commented on #74374
Ac

My concern is that pod could be any status even pod could be "Running". Because after user delete pod, pod recreate and then user delete pvc but user don't know pod has been recreate. So the pvc finalizer will not be removed. It is dangerous for user data if pod evicted, pvc also deleted.

[2020-03-30 07:48] duylong commented on #89520
I did not know the minimum required for the kernel version, I was using the stable and official version of RHEL7.

My kernel version is:
[code]
Currently the max version in the repository is:
[code]

According to the documentation (https://access.redhat.com/articles/3078), I should switch to RHEL8 if I want a recent kernel :-\

[2020-03-30 07:54] uablrek commented on #89520
There is no minimum kernel version requirement afaik. So I think this must be fixed for ipv4-only clusters IMO. However ipv6-only and dual-stack are in "alpha" so a requirement on kernel version *might* be ok, but I can't say myself.
A complication is that the problem is not in k8s itself but in a 3rd party lib.

[2020-03-30 07:56] smileusd commented on #74374
@msau42 The problem is not create pvc or create pod, the problem is when delete pod, the finalizer is not removed. I think finalizer add and remove should finish by kubelet not controller-manager. It will produces gap between pod and pvc. If pod deleted and pvc's protection also need to removed immediatly before pod cleaned by apiserver.

[2020-03-30 08:13] grant-zietsman commented on #38075
I also reproduced this, unfortunately. Tried to use kubectl to access a cluster from an unauthorised account. Then, switched to the authorised account but the invalid authentication was cached. To resolve it, I set the `users[*].user.auth-provider.config.expiry` to an expired date.

[2020-03-30 08:19] SupermanCj commented on #88808
Hello, I also encountered the same problem. have you solved the problem?

[2020-03-30 08:22] jsafrane commented on #79980
/remove-lifecycle rotten

[2020-03-30 08:24] aojea commented on #89520
ipv6 is beta since 1.18 :smile:

[2020-03-30 08:58] uablrek commented on #70020
/reopen

[2020-03-30 09:14] yangxikun commented on #89630
I had test pod.spec.restartPolicy = Never, the problem also exists.

And I found another problem, if pod.spec.restartPolicy = Never, the BackoffLimit implement is not be accurate enough(It depends on the number of requeue).

In one sync, JobController detect the job enter jobFailed: `exceedsBackoffLimit = true, len(pods) = 7, active = 2, succeeded = 0, failed = 5`, then delete pods and update job.

[2020-03-30 09:18] alban commented on #89633
Additional troubleshooting information:

In order to see which ebtables command is executed by the kubenet plugin, I run the [BCC execsnoop tool](https://github.com/iovisor/bcc/blob/master/tools/execsnoop_example.txt) running for a while:

[code]

And then I noticed the following:
[code]

I've edited the mac address. We can see ebtables executed with the parameter `10.2.207.1/24`.

[2020-03-30 09:33] sttts commented on #85127
/reopen

This still happens in slightly different shape:

[code]

This comes from `x-k-int-or-string`: https://github.com/openshift/api/blob/master/quota/v1/0000_03_quota-openshift_01_clusterresourcequota.crd.yaml#L43

[2020-03-30 09:44] jmagnusson commented on #24873
@vhosakot Small simplification to your script.

You can replace: `kubectl api-resources | awk '{print $1}' | grep -v '^NAME'`
With: `kubectl api-resources -o name`

[2020-03-30 10:09] #84634 closed

[2020-03-30 10:15] ciiiii opened #89647 "Redundant code in deployment_controller"
It looks like redundant code appears in [pkg/controller/deployment/recreate.go](https://github.com/kubernetes/kubernetes/blob/a329e679223fe1a420d89f5e49f80019ad81a93d/pkg/controller/deployment/recreate.go#L28).
[code]
**FilterActiveReplicaSets** filter with *(rs.Spec.Replicas) >0,
[code]
And **scaleDownOldReplicaSetsForRecreate** judge that again.
[code]

/sig api-machinery

[2020-03-30 10:38] willzhang opened #89648 "curl -sSL https://xxxxxxx/kubernetes.repo -o /etc/yum.repos.d/"
**What would you like to be added**:
support:
[code]
**Why is this needed**:
the offical repo content is too lang, and i don't want to copy and paste it everytime, and it so ugly write it to my shellscript, take too many line!!!
[code]

[2020-03-30 11:44] wojtek-t commented on #80857
/remove-lifecycle stale
/lifecycle frozen

[2020-03-30 12:00] blackbird-47 commented on #53023
I'm on v1.14.7, facing the same issue. Most of the times daemonset rollout gets stuck, the number of available pods don't increase and `kubectl rollout status` just keeps running forever.
For now, restarting the daemonset does seems to be a workaround, it does work and all pods get updated and subsequently become available.

[2020-03-30 12:13] itshikanov commented on #89468
quay.io/coreos/flannel:v0.11.0

[2020-03-30 12:47] lalwk opened #89650 "Cannot make WMI call to server from pod"
**What happened**:
Get-WmiObject return into an error when calling to a remote server with fqdn.
Get-WmiObject : The RPC server is unavailable. (Exception from HRESULT: 0x800706BA)

**What you expected to happen**:
Get a list of WMI objects on the targeted server.

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a windowscontainer with a GMSA attached .

**Anything else we

[2020-03-30 12:48] lalwk commented on #89650
/sig windows

[2020-03-30 13:06] uzuku commented on #84130
/reopen

[2020-03-30 13:12] #84632 closed

[2020-03-30 13:21] fingolfi commented on #50375
+1

[2020-03-30 13:36] mcobzarenco commented on #78795
I arrived at this issue having the same issue, so I certainly agree, but at the same time I can also see why core devs would not want to maintenance burden -- timezones are a mess at the whims of governments (e.g. see Russia cancelling DST)

[2020-03-30 13:48] embano1 commented on #89488
Sorry for my delayed reply, wanted to do some more tests before replying.

@jingyih

I can confirm this scenario. **However**, the tests that I did and which caught my attention because it was not what I expected from reading the doc string was to not shut down the peers but **isolate one peer**, i.e. simulate a partition which technically is also a "lost leader" scenario.

In this case I saw the

[2020-03-30 14:02] #87964 closed

[2020-03-30 14:22] 1194570458 opened #89651 "--replicas has been deprecated"
kubectl run nginx --image=nginx --replicas=5

Flag --replicas has been deprecated, has no effect and will be removed in the future.

- Kubernetes version (use `kubectl version`): 1.18.0
- OS (e.g: `cat /etc/os-release`): ubuntu 18.04

[2020-03-30 14:22] dElogics commented on #23349
We had production systems running 600 pods/node.

The only issue we faced was that on a kubelet restart, the node flaps between read and notReady (PLEG issues). Solution is to delete the docker directory and restart kubelet and docker together.

Another issue was this, but I'm not sure if it was related to too many pods/node --
https://github.com/moby/moby/issues/5618

[2020-03-30 14:36] gnieto commented on #84926
It has been a while since we got this error and I'm not sure if we saw this error.

What I experienced is that the order is changed by Kubernetes or by some call to AWS. It took me not more than 3 attempts to get this behavior. There's something I can do to help you reproduce the error? Do you need more details of our setup?

This was a misconfiguration on our side. When we noticed that this setup

[2020-03-30 14:42] jtigger commented on #89600
I'm delighted!

I do.  I will.

[2020-03-30 15:16] andrewsykim commented on #89520
/assign

[2020-03-30 15:22] #89574 closed

[2020-03-30 15:27] kvp-cs commented on #89087
Thank You Victor, this information would help me know the Allowed-CPUSet before starting the application threads and hence I can pin the threads to specific CPU (from this set).

However it would be great if some command like kubectl get pods/node/cluster-info could show the same info - some centralized place where I can see which CPUs of a node are busy and which are free.

[2020-03-30 15:49] apelisse commented on #87840
We could possibly add a parameter `--exclude` which would take GVKs (or a simplified form) of types that we want to ignore?

[2020-03-30 15:50] apelisse commented on #85127
That's a fairly different bug but yes, thanks!

[2020-03-30 15:55] neolit123 commented on #89651
/sig apps
/remove-kind bug
/triage support
/kind documentation

[2020-03-30 15:55] neolit123 commented on #89648
/sig release

[2020-03-30 16:11] YangLu1031 commented on #88011
Added the fix: https://github.com/kubernetes/kubernetes/pull/89634

[2020-03-30 16:22] moserke opened #89655 "Do not use LabelSelector in HPA"
As part of an HPA definition in v2beta2 a `MetricIdentifier` can be defined on `ExternalMetricSource` and `ObjectMetricSource`.  Part of this definition includes a `selector` that is the `LabelSelector` type from `meta`.  We should not use a label selector here, or have a different implementation.  By using a label selector we are placing kubernetes system constraints on non-kubernetes components.

[2020-03-30 16:23] moserke commented on #89655
/sig autoscaling

[2020-03-30 16:30] dashpole commented on #61670
@CasperLiu the flag existed to ensure kubelets running 1.7 could keep Allocatable the same when upgrading to 1.8.  Normally, `Allocatable = Capacity - Eviction Threshold - Reserved`.  Even when setting Reserved = 0, subtracting the eviction threshold would make this a breaking change from 1.7, as Allocatable would decrease.

We should probably remove the flag, but no one has gotten around to doing

[2020-03-30 16:46] hien commented on #88986
I've tested with k8s 1.18.0 on ubuntu 16.04 and i got same problem. Disabling the tx and rx offload  method only works ok with calico not flannel

[2020-03-30 17:00] davesargrad commented on #88986
Thanks @hien. Its good to see that the community shares my concern.

[2020-03-30 17:09] kvaps opened #89657 "Can't update Jobs, field is immutable"
**What happened**:
When I updating Job objects I see the next error:
[code]

**What you expected to happen**:
Job object is updated

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:
no

**Environment**:
- Kubernetes version (use `kubectl version`): `v1.17.4`, `v1.18.0`
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-

[2020-03-30 17:10] kvaps commented on #89657
/sig apps

[2020-03-30 17:16] #84636 closed

[2020-03-30 17:22] jfoy commented on #75890
/remove-lifecycle rotten

[2020-03-30 17:29] everett-lacey commented on #32457
Is there any resolution to this issue? I am experiencing the same thing currently on GKE and would like to know if anything can be done short of manually changing this on every node in the node pool.

[2020-03-30 17:50] tomasnorre commented on #59078
/remove-lifecycle stale

This find this a topic.

[2020-03-30 18:02] chorus12 opened #89658 "Kubelet service installation on container Linux - fails for v1.18"
**What happened**: Installation documentation is incorrect

**What you expected to happen**:
When installed for **container linux** according to the link - https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
the kubelet service does not work.

The problem is in the code below:
`curl -sSL "https://raw.githubusercontent.com/kubernetes/kubernetes/${RELEASE}/build/de

[2020-03-30 18:04] #89598 closed

[2020-03-30 18:07] chorus12 commented on #89658
/sig Docs

[2020-03-30 18:11] hasheddan opened #89659 "[Flaky Test] gce-master-scale-correctness (ci-kubernetes-e2e-gce-scale-correctness)"
**Which jobs are flaking**:

`ci-kubernetes-e2e-gce-scale-correctness`

**Which test(s) are flaking**:

`[sig-cli] Kubectl client Simple pod should return command exit codes`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

**Reason for failure**:

(will update once https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-sca

[2020-03-30 18:58] MorrisLaw commented on #88820
/area provider/digitalocean

[2020-03-30 18:58] dharmab opened #89663 "Kubernetes 1.18 re-introduces previously fixed Azure AD OIDC regression"
https://github.com/kubernetes/kubernetes/pull/87590 re-introduced the regression previously reported in https://github.com/kubernetes/kubernetes/issues/87464. Please see #87464 for technical details of the change and how it blocks cluster upgrades.

As a result, **There is no upgrade path for Kubernetes clusters using Azure AD OIDC to upgrade from 1.17.X to 1.18.0**.

This change should be reverte

[2020-03-30 18:59] dharmab commented on #89663
/sig cloud-provider

[2020-03-30 19:15] alculquicondor commented on #87703
#88027 is done

[2020-03-30 19:16] alculquicondor commented on #84936
/assign

[2020-03-30 19:17] #82869 closed

[2020-03-30 19:38] jpbetz commented on #89488
@embano1 I'm in favor of you opening a new against etcd for the watch not being closed in the lost leader scenario (and linking to this discussion). If it turns out it is a duplicate we can always mark as such.

[2020-03-30 19:38] liggitt commented on #89663
Can you provide more details of what you are seeing?

As I understand it, the regression reported in https://github.com/kubernetes/kubernetes/issues/87464 was between kubectl and API server oidc authentication. That was introduced in 1.17.1, and fixed in 1.17.2 by reverting https://github.com/kubernetes/kubernetes/pull/87540.

https://github.com/kubernetes/kubernetes/pull/87590 did not reintroduce

[2020-03-30 20:17] hrbasic commented on #74651
I think that you can configure global pod eviction via apiserver: [https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/](url)
I didn't try this, but as I can see there are options: --default-not-ready-toleration-seconds and --default-unreachable-toleration-seconds.

[2020-03-30 20:34] fejta commented on #80120
/close

[2020-03-30 20:34] #80120 closed

[2020-03-30 20:51] tedyu commented on #85740
@hysystem
Do you encounter this problem on recent kubernetes release(s) ?

[2020-03-30 20:59] gyuho commented on #89488
https://godoc.org/github.com/etcd-io/etcd/clientv3#Watcher has some detailed watch behaviors.

[code]

[code]

[2020-03-30 21:01] gyuho commented on #89488
FYI. There was a bug in `WithRequireLeader`. The fix was backported to >= v3.3.19 and v3.4.5 https://github.com/etcd-io/etcd/pull/11687.

[2020-03-30 21:42] oomichi opened #89668 "hack/verify-import-boss.sh outputs a lot of warning messages"
**What happened**:
When running `hack/verify-import-boss.sh`, the script itself succeeds but it outputs a lot of warning messages.
It is better to solve such warning messages:
[code]
**What you expected to happen**:

We'd like to see clean result without warning messages.

Ref: https://github.com/kubernetes/kubernetes/pull/89235

**How to reproduce it (as minimally and precisely as possible)**:

W

[2020-03-30 21:44] oomichi commented on #89668
/sig testing

[2020-03-30 21:56] jstangroome commented on #23349
@dElogics how many containers per Pod? With PLEG issues the container count can be an important factor. I learned from a sig-scalability talk at Seattle Kubecon 2018 that scalability performance tests only use 2-container Pods.

[2020-03-30 22:50] #89109 closed

[2020-03-30 23:17] alastairpat opened #89671 "Azure AD authentication adds excessive 'spn:"
**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is a network-rela

[2020-03-30 23:17] #89671 closed

[2020-03-30 23:23] alastairpat opened #89672 "Kubectl - Azure AD authentication adds excessive 'spn:' to SPN"
**What happened**:
When using kubectl, authentication fails with the below error
`E0331 10:18:17.205561   46266 azure.go:154] Failed to acquire a token: refreshing the expired token: refreshing token: adal: Refresh request failed. Status Code = '400'. Response body: {"error":"invalid_resource","error_description":"AADSTS500011: The resource principal named spn:spn:spn:spn:spn:spn:spn:spn:spn:spn:s

[2020-03-30 23:24] alastairpat commented on #89672
/sig cli

[2020-03-30 23:26] alastairpat commented on #89672
Kubectl version 1.18.0
Kubernetes version 1.16.6

[2020-03-30 23:28] neolit123 commented on #89658
the location of the files changed.
you can download them from here:
https://github.com/kubernetes/release/tree/master/cmd/kubepkg/templates/latest

xref
https://github.com/kubernetes/kubernetes/issues/88832

/remove-sig docs
/sig cluster-lifecycle
/remove-kind bug
/kind documentation

logged this k/kubeadm issue:
https://github.com/kubernetes/kubeadm/issues/2097

/close

[2020-03-30 23:28] #89658 closed

[2020-03-31 00:08] #89185 closed

[2020-03-31 00:09] #88011 closed

[2020-03-31 00:30] kcao3 commented on #89595
It turned out the root cause of the issue is because the etcd cluster was recovered INCORRECTLY from multiple snapshots  - each snapshot was created independently from each etcd member.
In other words,  To restore/recover an etcd cluster, ONLY ONE single snapshot of the keyspace from ANY etcd member in a healthy cluster MUST be used.

[2020-03-31 00:30] #89595 closed

[2020-03-31 01:24] oomichi commented on #89668
- `W0330 21:36:00.599390    5864 parse.go:227] Ignoring directory k8s.io/kubernetes/pkg: No files for pkg "k8s.io/kubernetes/pkg"`
https://github.com/kubernetes/gengo/blob/master/parser/parse.go#L228

- `W0330 21:36:00.600120    5864 parse.go:246] Ignoring child directory k8s.io/kubernetes/pkg/api: No files for pkg "k8s.io/kubernetes/pkg/api"`
https://github.com/kubernetes/gengo/blob/master/parser

[2020-03-31 01:26] incfly commented on #57923
/cc @incfly

[2020-03-31 02:23] pjh commented on #88974
Tests are still failing today because `e2eteam/httpd:2.4.38-alpine` is crashing when we prepull it. I swear it was working last week so I'm not sure what changed, but anyway https://github.com/kubernetes-sigs/windows-testing/pull/157 will hopefully fix it.

[2020-03-31 03:04] neolit123 commented on #89595
this is stated in the etcd docs that i linked above:

https://github.com/etcd-io/etcd/blob/master/Documentation/op-guide/recovery.md#restoring-a-cluster

[2020-03-31 03:38] smijolovic opened #89675 "go-bindata/... matched no packages"
kubernetes 1.18.0
go 1.13.9 and 1.14.1

make what=cmd/kubeadm
+++ [0331 03:30:37] Building go targets for linux/amd64:
    ./vendor/github.com/go-bindata/go-bindata/go-bindata
go: warning: "k8s.io/kubernetes/vendor/github.com/go-bindata/go-bindata/..." matched no packages
+++ [0331 03:30:39] Building go targets for linux/amd64:
    cmd/kubeadm
go: warning: "k8s.io/kubernetes/vendor/github.com/go-b

[2020-03-31 04:58] hprateek43 commented on #84338
@alculquicondor #89070 seems to be approved. Raising a PR for this

[2020-03-31 05:37] #89478 closed

[2020-03-31 05:38] k2huang commented on #89635
The prefix `/var/lib/kubelet` can be specified by kubelet option <--root-dir>, which is not this issue key point.
I have check master brach code, and I think this issue is still existing. Please focus on the user case:
The first container of Pod is pulling a big image by kubelet, user trigger `kubectl delete pod`, then kubelet volume manager goroutine will trigger to unmount volume (because `IsPod

[2020-03-31 05:44] uablrek commented on #89632
Proxy-mode `ipvs` or `iptables`?

[2020-03-31 06:13] fanglijun commented on #72680
Update systemd from `30.el7_3.9` to `67.el7_7.4` solved this.  Thanks @noyessie !

[2020-03-31 06:47] Colstuwjx commented on #55045
@dsu-igeek  Any updates?

@zhangxiaoyu-zidif Could you share with us about your solution details?

The most pain point is that we could NOT automatically delete the PVCs after StatefulSet has been deleted, and I agree with @bcollard [suggestion](https://github.com/kubernetes/kubernetes/issues/55045#issuecomment-510031585), do something depends on the reclaim policy.

[2020-03-31 07:57] insider89 commented on #70044
Same for me on AWS ELS 1.15. I've just upgraded from 1.14 and running `sonobuoy run --plugin e2e`, in result got the same errror
`{kubelet ip-10-6-100-106.eu-west-1.compute.internal} FailedMount: MountVolume.SetUp
  failed for volume \"racey-configmap-6\" : couldn't propagate object cache:
  timed out waiting for the condition\nMar 30 17:41:44.553: INFO: At 2020-03-30
  17:35:49 +0000 UTC - event

[2020-03-31 07:58] uablrek commented on #89632
It seems I can reproduce this problem. It is not consistent, I can reach the nodeport on *some* nodes. Not only the one where the pod is executing. But on some nodes it doesn't work.

I *never* get this problem with `proxy-mode=ipvs`, only with iptables.

@cfabio If possible try with proxy-mode=ipvs.

/assign

[2020-03-31 08:20] mrunix1998 commented on #10383
you can login in docker first then put imagePullPolicy in yaml file

[2020-03-31 08:20] feiskyer commented on #89663
same questions with @liggitt. @dharmab could you share the details of the issues you met?

[2020-03-31 08:32] zqzzq opened #89679 "The endpoint cannot update synchronously when pod is updated"
**What happened**:
When I update the pod, the corresponding endpoint cannot be updated synchronously.
The pods:
[code]
The ep:
[code]
The log of kube-controller-manager:
[code]
In the error logs the ResourceVersion is 9925092, but when get ep the ResourceVersion  is 9879479.
Query etcd directly:
[code]
The cache of endpoint controller is synchronized:
[code]
Does anyone can help me? Very thanks!
*

[2020-03-31 08:33] lewandom opened #89680 "kubeadm 1.17 uses wrong SupportedEtcdVersion for 1.16"
**What happened**:

When upgrading from 1.16 to 1.17 using kubeadm, occassionally a wrong etcd image version (3.3.17-0) is being used. Looks like this happens due to a bug in kubeadm code, introduced in https://github.com/kubernetes/kubernetes/commit/706cde51c512d8d07e35fc815af4439108a587f9.

**What you expected to happen**:

kubeadm consequently uses etcd image version 3.3.15-0.

**How to reprodu

[2020-03-31 08:34] zqzzq commented on #89679
/sig api-machinery

[2020-03-31 08:36] lewandom commented on #89680
/sig cluster-lifecycle

[2020-03-31 08:55] embano1 commented on #89488
Thank you @gyuho and @jpbetz for your feedback.
After reviewing the docs and https://github.com/etcd-io/etcd/issues/8980 I think the issue with `Watch()` and how to deal with partitions is still open (see TODO below).

[code]

The scenario where clients (Watchers or any client indirectly consuming from an etcd `Watch()`) would hang (forever?) is when the client gets partitioned with the correspond

[2020-03-31 09:00] zzzkl commented on #87733
k8s 1.17.2 also meet this error, is this a bug?

[2020-03-31 09:03] fdegir commented on #80152
I'm aware that this issue is closed with no additional comments from maintainers but I just wanted to comment here in case if others end up reading the discussion.

We noticed exact same problem in our CI which uses K8s conformance tests to verify the deployment. Cluster consists of 3 nodes - 1 jumphost which is a VM and where the tests are driven. The remaining 2 nodes are baremetal nodes with wi

[2020-03-31 09:13] adamdougal commented on #77058
Definitely not rotten :(

[2020-03-31 09:15] jzdayz opened #89682 "Kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd""
**What happened**:

kubelet

[code]
**What you expected to happen**:
success up
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
cat /etc/docker/daemon.json
[code]
cat /etc/sysconfig/kubelet
[code]
**Environment**:
- Kubernetes version (use `kubectl version`): 1.18.0
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):

[2020-03-31 09:25] yuzhiquan commented on #89190
/assign
/remove-help

[2020-03-31 09:52] kevinresol commented on #79523
People have been trying to be constructive here. But the team doesn't even try to tell us what is pending. Sad.

[2020-03-31 09:57] PHameete commented on #79523
Would also love to see this feature for EKS - and am willing to help out. Even if we could get it in 1.19 it would still take a long time to become available in EKS (which is currently at 1.15). So the sooner we can start work on this - the better :-)

[2020-03-31 10:17] royyeah commented on #79523
+1 Also hope we could get in 1.19 and happy to help out!

[2020-03-31 10:17] ipochi commented on #89633
The mentioned fix [c5002a3](https://github.com/kubernetes/kubernetes/commit/c5002a348e3021861730502011197614477adb39) has been back ported to 1.17.3 ([4a8b94e](https://github.com/kubernetes/kubernetes/commit/4a8b94ed2b10086b11fde5522fb50c121ffa178a)) and 1.16.8 ([32a8be1](https://github.com/kubernetes/kubernetes/commit/32a8be11426a61e61af508f700a615028f609ec9)) releases.

[2020-03-31 10:30] blackwith commented on #83125
Exactly same issue as @wmgroot but removing  `type : directory` does not work.

/reopen

[2020-03-31 10:33] ashish1586 commented on #68542
Hi,

i have created kubernetes cluster using ansible  scripts.  my cluster is ready and when i run the below command it says the status is not ready. Can anybody tell me the reason.

kubectl get nodes -o wide.

When i run kubectl get pods --all-namespaces, it says that my core dns pods are not running.

NAMESPACE     NAME                                 READY   STATUS    RESTARTS   AGE
kube-system

[2020-03-31 10:35] HasBert commented on #79271
@timyinshi Can you provide more information how you solved this issue, please?

[2020-03-31 10:49] alban commented on #89633
Thanks @ipochi! I will close the issue then.

[2020-03-31 10:49] #89633 closed

[2020-03-31 11:02] attlee-wang commented on #86942
@jianxingzhe  I have a similar problem at [86626](https://github.com/kubernetes/kubernetes/issues/86626), and it is difficult to reproduce it. Since you can reproduce it, you can add some log debugging and help us solve this problem.

[2020-03-31 11:10] neolit123 commented on #68542
make sure you install a CNI plugin:
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/create-cluster-kubeadm/#pod-network

[2020-03-31 11:20] timyinshi commented on #79271
@HasBert  i have a docker proxy to get images from google.com,the error's mean didn't get the e2e images.

[2020-03-31 11:24] ashish1586 commented on #68542
I ran this command and got below error-

root@instance-4:/home/devops/.kube# kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/2140ac876ef134e0ed5af15c65e414cf26827915/Documentation/kube-flannel.yml
error: Missing or incomplete configuration info.  Please point to an existing, complete config file:

  1. Via the command-line flag --kubeconfig
  2. Via the KUBECONFIG environment var

[2020-03-31 11:27] neolit123 commented on #68542
try `sudo kubectl --kubeconfig /etc/kubernetes/admin..conf ....`
also try WeaveNet instead of flannel.

[2020-03-31 11:34] ashish1586 commented on #68542
with sudo also giving same error

[2020-03-31 12:08] uablrek commented on #89632
Weirdest finding today? Well here it is;

**On nodes where *no* pod has *ever* executed forwarding to NodePort doesn't work(?!)**

It works to access the nodeport from within a node where no pod has executed but traffic from an external source to the nodeport via such a node does not work.

Tested on K8s v1.16.7, v1.17.3, v1.18.0.

So it is not bound to K8s > v1.16.x

@cfabio Can it be that when y

[2020-03-31 12:09] uablrek commented on #89632
My first idea was that some kernel module was not loaded, but `lsmod` was identical.

[2020-03-31 12:18] cfabio commented on #89632
I am currently playing with IPVS to see if it makes any difference.

Before rolling back to v1.15.* and v1.16.* I killed the cluster (drain, delete nodes, remove-etcd-member, cleared up iptables, etc) and started again from scratch.

I'll run your Alpine daemonset and let you know about that.

[2020-03-31 12:20] yrwal opened #89685 "kube-apiserver and kube-scheduler doesn't expose kubernetes_build_info on /metrics"
**What happened**:
After I updated from version 1.16.8 to 1.18.0, the kube-apiserver and kube-scheduler doesn't expose kubernetes_build_info on /metrics any more.

**What you expected to happen**:
The kube-apiserver and kube-scheduler should expose this metric.

**How to reproduce it (as minimally and precisely as possible)**:
kube-apiserver
$ curl -s -k --cert ./client.crt --key ./client.key http

[2020-03-31 12:27] yrwal commented on #89685
/sig instrumentation

[2020-03-31 13:00] kcao3 commented on #89595
Based on my painful experience, it's a 'MUST' rather a 'should'. Anyway, thank you for your kind support.

[2020-03-31 13:06] neolit123 commented on #89595
agreed. you can PR the change in their docs.

[2020-03-31 13:16] cfabio commented on #89632
@uablrek here is what I did:
+ configured a cluster with KubeProxy in iptables mode, executed my usual MQTT broker POD and as expected the NodePort was open only on the host where the POD is being run.
Your Alpine DaemonSet runs just fine but the issue with the MQTT broker is still there.
+ killed the cluster and rebuilt it with kubeProxy in `ipvs` mode, even in this case NodePort is accessible on

[2020-03-31 13:19] uablrek commented on #89632
The error printouts are caused by this problem;
https://github.com/kubernetes/kubernetes/issues/89520

It is not present in k8s v1.17.x.

[2020-03-31 13:22] uablrek commented on #89632
An advantage with ipvs is that it is easier to troubleshoot. When you use proxy-mode=ipvs, do;
[code]
on nodes where forwarding doesn't work.

[2020-03-31 13:25] gavinfish commented on #77058
/remove-lifecycle rotten

[2020-03-31 13:26] uablrek commented on #89632
This is how it looks on my test system. My test server uses port 5001 instead of 1883 otherwise I took your manifests more or less as-is;
[code]

[2020-03-31 13:27] fyatzeck opened #89686 "Unexplained DNS request timeouts from all pods"
**What happened**:

Kubernetes DNS queries suddenly began timing out across an entire cluster.  This includes both remote hosts and internal service DNS lookups.  Checking logs, many pods were reporting EAI_AGAIN error apparently indicating Kubernetes DNS server failed or timed out while fulfilling the request.  There are similar issues raised but no real root cause stated.

Example of one pod app

[2020-03-31 13:29] adelca commented on #56620
Why was this closed?

[2020-03-31 13:31] cvernooy23 commented on #62861
also having this issue on 1.16.2

[2020-03-31 13:37] cfabio commented on #89632
Here is the output of `ipvsadm -Ln` command executed on a node where NodePort is filtered:
[code]

[2020-03-31 13:44] uablrek commented on #89632
Looks good actually. The entry in ipvs is there with 2 inactive connections. Your problem seem to be another than the one I found :disappointed:

[2020-03-31 13:48] cfabio commented on #89632
The way I have setup KubeProxy to work with IPVS is the following:
+ `kubectl edit configmap kube-proxy -n kube-system` and changed `mode: ""` to `mode: ipvs`.
+ `kubectl delete po -n kube-system kube-proxy-***` and deleted every kube-proxy pod.
+ `kubectl logs kube-proxy-*** | grep -i "using ipvs"` checked that the freshly started kube-proxy pods actually use ipvs.
+ rebooted the machines of the

[2020-03-31 14:03] csasfr commented on #89682
Same issue with the same configuration

[2020-03-31 14:06] alculquicondor commented on #88634
Do we actually need those? Alternatively, do we need to comply to OpenAPI? The extenders API is about IPC and not resources (definition or storage).
What are the precedents to this? The closer I can think of is the communication between kube-apiserver and kubelet around resources usage. IIRC, kubelet offers a GRPC server and some basic json endpoints.

It might be worth asking the API folks for gu

[2020-03-31 14:11] uablrek commented on #89632
Yes looks ok, but I might have missed something. To use `kubeadm` use a config file with the `--config` param and add att the end;
[code]

[2020-03-31 14:15] Firescar96 commented on #11690
I'm currently experimenting with running ftp servers inside k8s and I ran across this issue. FTP servers have a passive mode where they take one port from a pool and allocate it to a client. The client can send messages over that port til they disconnect.

[2020-03-31 14:21] MorrisLaw commented on #69293
We're holding off on this a bit. I'm not sure it will be needed based on prior discussions with @andrewsykim @bowei

The issue is that this is highly provider dependent. Due to provider centricity, might not make sense to pursue this too heavily. I'm open to discussion and other suggestions though.

[2020-03-31 14:26] alculquicondor commented on #85686
@ingvagabund aren't you working on this?

[2020-03-31 14:37] #83224 closed

[2020-03-31 14:40] cfabio commented on #89632
@uablrek manually changing kube-proxy configuration by editing the `configmap` or rebuilding the cluster from scratch using `kubeadm --config` doesn't seem to make any difference; in both cases kube-proxy PODs logs are spammed with the error:
[code]
This is the yml file used to build the cluster with `kubeadm --config`:
[code]
At this point the only thing I can think of is trying to use an OS with

[2020-03-31 14:41] uysalnet commented on #75175
Is there any update or fix regarding this issue?

[2020-03-31 14:45] uablrek commented on #89632
The "parseIP Error" is in k8s v1.18.0 only. It should work for v1.17.3 for instance.

[2020-03-31 14:51] tedyu commented on #89635
thanks for the reply.
[code]
Looking at Kubelet#podAndContainersAreTerminal (in master branch), it seems we should take PodPending phase (where image is being pulled) into account.

[2020-03-31 14:57] alculquicondor commented on #84338
/reopen

[2020-03-31 15:13] uablrek commented on #89358
I can confirm the theory. sessionAffinity with timeout < 120s will get timeout = 120 sec.

I don't know any way to fix this. Ipvs has a number of sysctl's but I can't any obvious candidate (I have *not* investigated that in any depth).

[2020-03-31 15:13] sbhnet commented on #88947
This issue often occurs on slow machines.

[2020-03-31 15:16] alculquicondor commented on #86942
Could you try to repro in 1.16 or above? We have migrated a lot of checks to internal caches so it's possible that this problem is solved.
Also, getting fixes for 1.13 is pretty much impossible, as we only maintain the last 3 releases.

[2020-03-31 15:17] pytimer opened #89689 "kubectl get events LAST SEEN is <unknown>"
**What happened**:

When use `kubectl get events` show events, some events `LAST SEEN` is `<unknown>`,  i use `kubectl get events -o json` found these events `firstTimestamp` is null. I want to know why?

I compared to v1.11.6, events have no this problem.

**What you expected to happen**:

I want to know why some events firstTimestamp is null.

**How to reproduce it (as minimally and precisely as

[2020-03-31 15:23] alculquicondor commented on #86626
@wojtek-t can something be done about such old versions in kube-apiserver if #73845 is the culprit?

@snowplayfire @attlee-wang could you try to repro in 1.16+?

[2020-03-31 15:29] neolit123 commented on #88947
what are the specs of a machine where are you seeing this?
did you try the liveness probe fix here?
https://github.com/kubernetes/kubeadm/issues/1380#issuecomment-459970197

[2020-03-31 15:29] wojtek-t commented on #86626
restarting scheduler would help

[2020-03-31 15:36] andrewsykim commented on #89358
We added flags to configure those timeouts in https://github.com/kubernetes/kubernetes/pull/85517.

[2020-03-31 15:38] andrewsykim commented on #89358
I think in this case we need to configure `--ipvs-tcpfin-timeout`?

[2020-03-31 15:48] neolit123 commented on #89680
can you show the error message? are you sure it's not this warning:
https://github.com/kubernetes/kubeadm/issues/2065

this commit updated the versions for 1.16, 17 and added a version for 18:
https://github.com/kubernetes/kubernetes/commit/706cde51c512d8d07e35fc815af4439108a587f9#diff-c0a37094ae1c8cb6223a3822eb66f9f0R427-R429

/area kubeadm
/triage needs-information

[2020-03-31 15:48] uablrek commented on #89358
I will try and see if it helps. I will test on v1.18.0.

[2020-03-31 15:50] neolit123 commented on #89675
/triage support

try:

[code]

[2020-03-31 15:50] neolit123 commented on #89675
/sig release
/area kubeadm

[2020-03-31 15:56] alculquicondor commented on #86626
I meant to ask if we can patch and fix the underlying issue. I'm inclined to close this issue if we can't repro in 1.16+

[2020-03-31 16:02] kishorejm commented on #60140
Does anyone have a solution for this problem. Facing the same issue.

[2020-03-31 16:03] wojtek-t commented on #86626
Hmm - are you asking about the correct PR? It was merged in 1.14 and cherrypicked to 1.11-1.13...

[2020-03-31 16:04] uablrek commented on #89358
I am using a kube-proxy config file;
[code]
But;
[code]

[2020-03-31 16:07] SandeepPissay commented on #75175
cc @manojvs157

[2020-03-31 16:08] alculquicondor commented on #86626
Then you meant this was the fix, rather than the culprit? That would make more sense given than OP is running v1.12.4

Although @snowplayfire says the bug is still there for them. Could you confirm the version you are running?

[2020-03-31 16:12] Piknik1990 opened #89690 "How has the apiserver pod run without any apiserver?"
Hello, everybody!

I have been being a non-programing question. When anybody initialize a master-node in a kubernetes-cluster, they are see a generating of apiserver manifest then this pod running.

[code]

Who does apiserver pods starting via manifest (with API) if apiservice is down and a 6643 port is not listened?

The manifest file has the "apiVersion" parameter and apiserver must be up.
[code

[2020-03-31 16:14] ingvagabund commented on #85686
@alculquicondor I am not. IIRC, we were waiting until the suite is refactored and metrics are collected. We first need some referential values before we can say if a run of the suite over a PR is good enough or not. @liu-cong did I miss anything?

[2020-03-31 16:21] uablrek commented on #89358
It does not seem to help. I used the above and sessionAffinity timeout 30s;
[code]
Then I do 10 connects, wait 60s and then 10 more;
[code]
Still sticky after 60s and the inactive connections are lingering;
[code]

[2020-03-31 16:27] prameshj commented on #80152
The issue was closed by the reporter after some amount of debugging. Feel free to open a new issue with the logs, if you are still hitting this.

[2020-03-31 16:36] Piknik1990 commented on #89690
/sig cluster-lifecycle

[2020-03-31 16:54] kwiesmueller commented on #82046
/cc @jpbetz

[2020-03-31 16:57] fdegir commented on #80152
The deployment wiped out but I’ll keep an eye on our CI and open a new issue when this happens again and provide the logs.

[2020-03-31 17:48] coltonstapper commented on #89076
@jpbetz the reason is that when the API Server is under large CPU stress from the spike in requests from the kubelets which are doing per-request TLS, and the handshakes timeout for all Kubelets, they retry almost immediately and it can end up being a DDOS-like effect on the cluster.

There's been additions in place to add jittered exponential backoff, but that doesn't apply to things like Kubelet

[2020-03-31 17:54] #87282 closed

[2020-03-31 18:21] kwiesmueller commented on #88975
Closed by https://github.com/kubernetes/website/pull/19286
/close

[2020-03-31 18:21] #88975 closed

[2020-03-31 18:22] hasheddan commented on #89659
Ref: https://github.com/kubernetes/test-infra/issues/17012

[2020-03-31 18:26] weinong commented on #89672
@alastairpat can you confirm whether your original kubeconfig already has `spn:` in apiserver-id or not?
in the mean time, you may try https://github.com/Azure/kubelogin
it can convert your kubeconfig from azure module to exec module and do the token thing outside kubectl

[2020-03-31 19:29] Huang-Wei commented on #89433
## Items

- [ ] Optimize PodTopologySpread Filter #89665
- [x] Optimize preferred spreading for hostname topology #89487

[2020-03-31 19:34] ingvagabund commented on #89521
1. will be resolved through: https://github.com/kubernetes/perf-tests/pull/1081

[2020-03-31 19:35] andrewsykim commented on #89520
I opened a PR to fix this in moby/ipvs https://github.com/moby/ipvs/pull/15

If someone w/ a cluster on the older kernel version can test it that would be great, otherwise I will setup a cluster to validate this some time this week.

[2020-03-31 19:39] rikatz commented on #89520
Instead of bootstraping a whole cluster right now (pretty busy here) I can use the Gist I've mentioned to check in a CentOS 7.1 if it faces the problem before and after the patch. At least to have some more test right now

[2020-03-31 19:46] spiffxp commented on #86206
I agree with @alejandrox1 above.  It's time to rethink all of this.

The original intent of #34059 was that there was no explanation provided alongside these checks.  Why was _this particular error_ not expected? etc. This specific anti-pattern was difficult to debug and triage from logs alone.

It's not clear to me how or why we got from there to what appears to either be:
- move toward "must onl

[2020-03-31 20:04] spiffxp commented on #34059
About 50% of the Expect(No)Error calls still lack an explanation
[code]

However, the unexplained errs are happening far less frequently: https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=not%20to%20have%20occurred

https://github.com/kubernetes/community/blob/fc892d4d1697f63794efa4b06e83d05092b470ff/contributors/devel/sig-testing/writing-good-e2e-tests.md#debuggability (which c

[2020-03-31 20:05] jcrowthe commented on #89663
As I was the OP who opened  #87464, I went and tested this.

I do not see a functionality change in 1.18 that breaks Azure AD OIDC. Upgrades between the two versions appear seamless at this time. I tested with a mixture of kubectl versions as well.

[2020-03-31 20:06] tedyu opened #89699 "Tighten the pattern for locating legacy symlinks"
**What would you like to be added**:
Use more specific pattern for finding legacy symlinks.

**Why is this needed**:
Currently the search under legacyContainerLogsDir uses *.log pattern.
In logSymlink(), the actual pattern is:
[code]
Note: podFullName contains an '_'

We can tighten the pattern to reduce the number of osInterface.Stat() calls.

We should take the symlink name length limit of 255 i

[2020-03-31 20:07] alexeldeib commented on #54923
/remove-lifecycle stale

[2020-03-31 20:09] spiffxp commented on #34059
/close
Since my comment just bumped the recency of this, I'm going to play the role of @fejta-bot for today.

Rotten issues close after 30d of inactivity.
Reopen the issue with `/reopen`.
Mark the issue as fresh with `/remove-lifecycle rotten`.

[2020-03-31 20:09] #34059 closed

[2020-03-31 20:10] apelisse commented on #89627
/assign @yliaog

[2020-03-31 20:30] weinong commented on #89663
@dharmab do you happen to have `spn:` prefix in apiserver-id in kubeconfig?

in the meantime, you may consider to use https://github.com/Azure/kubelogin which uses exec plugin.

[2020-03-31 20:41] alculquicondor opened #89701 "Promote kubescheduler.config.k8s.io to beta"
**What would you like to be added**:
Promote `kubescheduler.config.k8s.io` to Beta by introducing `kubescheduler.config.k8s.io/v1beta1`

/sig scheduling
/wg component-standard

**Why is this needed**:

kube-scheduler has shipped with support for `kubescheduler.config.k8s.io/v1alpha1` since k8s 1.12 and we shipped version `v1alpha2` since k8s 1.18
The most significant changes have been around suppo

[2020-03-31 20:43] alculquicondor commented on #89701
cc @liggitt @lavalamp @mtaufen @ahg-g @Huang-Wei

[2020-03-31 20:48] liggitt opened #89702 "Propagate context deadline in TokenReview REST handler"
The TokenReview REST handler constructs a new request and passes it through the authentication handler. Any deadline associated with the original context is not passed down.

We should propagate the original context deadline/cancellation, either by wrapping the parent context, or by extracting/propagating the deadline, or by waiting on the original context's Done() channel and propagating a cancel

[2020-03-31 20:54] UnwashedMeme commented on #89672
[code]
At this point if I remove the tokens and try to reauth i get the error described above.

I've tried it both ways with apiserver-id having an `spn:` initially and not, both lead to the same behavior in the end.

[2020-03-31 20:54] wfagan commented on #89383
/wg security-audit

[2020-03-31 21:13] weinong commented on #89672
@UnwashedMeme i know what's going on now. will prepare a fix.

[2020-03-31 23:06] #89535 closed

[2020-03-31 23:13] weinong commented on #89663
@jcrowthe i confirmed a bug #89672 where the token audience `spn:` prefix got added apiserver-id in kubeconfig when you run kubectl multiple times.

[2020-03-31 23:43] #84936 closed

[2020-03-31 23:59] adampl commented on #75378
/remove-lifecycle rotten

[2020-04-01 00:00] dcantah commented on #87420
@dims @liggitt https://github.com/microsoft/hcsshim/pull/789 has been merged

[2020-04-01 01:26] msau42 commented on #69528
Sorry for the delay. I thought about it some more, and I think allowing modification to PV.NodeAffinity is going to open up a few holes that we won't be able to recover from. cc @cofyc for any additional thoughts.

In the scheduler, there are some situations to consider:

1. pv is already bound, and then node affinity changes. You can have a race where scheduler decided on a node before seeing the

[2020-04-01 02:08] dims commented on #87420
@dcantah @liggitt this turned out nicely, please see https://github.com/kubernetes/kubernetes/pull/89710

@dcantah can you please cut a release/tag that we can use to vendor the dependency back into kubernetes.

[2020-04-01 02:09] timchenxiaoyu opened #89711 "cephfs down lead kubernetes crush"
cephfs down --> docker inspect hang -->pleg unhealth -->all kubelet not ready -->k8s cluster down

[2020-04-01 02:09] timchenxiaoyu commented on #89711
/sig node
/sig cluster-lifecycle
/sig storage

[2020-04-01 02:28] liggitt opened #89712 "[Flaky test] TestSubresourcePatch resource version changes on no-op status patch of custom resource"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
TestSubresourcePatch

**Testgrid link**:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&sort-by-failures=&include-filter-by-regex=TestSubresourcePatch&width=5

**Reason for failure**:
Unknown. A diff with the original object would be helpful.

[code]

**Anything else we nee

[2020-04-01 02:40] canerbis opened #89714 "node is NotReady"
Dear anyone.
I am experiencing the problem like this.
I have installed many times for multi master of k8s.
I think both master2 and master3 has the previous configurations.
Could you know how to remove configurations related to k8s ?
I had removed yum remove kubectl,kubeadm and kubelet.
But It seems to remain files related to k8s.

1.kubectl get node

[root@k8s-master1 ~]# kubectl get node
NAME

[2020-04-01 03:03] #89519 closed

[2020-04-01 03:34] bgrant0607 commented on #10179
Apparently immutability is just being implemented for ConfigMaps and Secrets right now:
https://github.com/kubernetes/enhancements/issues/1412

[2020-04-01 04:04] tedyu commented on #89711
Can you give some detail on cephfs going down ?

Thanks

[2020-04-01 05:07] cofyc commented on #69528
As @msau42 said, this will lead to some unrecoverable situations. Making PV properties immutable, components can assume they are unchangeable and make internal optimizations.

In your case, it's the same volume attached to different nodes. However, from Kubernetes's view, they are different volumes on different nodes. You should create a new PV for it or unbound the original PV from PVC and recrea

[2020-04-01 05:10] tanjunchen commented on #81052
/cc

[2020-04-01 05:28] gavinfish commented on #89701
/cc

[2020-04-01 06:08] MartinForReal commented on #89714
have you tried executing `kubeadm reset `?

[2020-04-01 06:09] MartinForReal commented on #89714
/sig cluster-lifecycle

[2020-04-01 06:10] MartinForReal commented on #89714
/area kubeadm

[2020-04-01 06:23] dcantah commented on #87420
I'll consult with the team tomorrow :)

[2020-04-01 07:04] ScrapCodes opened #89719 "[Flaky Test] pull-kubernetes-integration / run_kubectl_apply_tests"
**Which jobs are flaking**:
pull-kubernetes-integration
**Which test(s) are flaking**:
run_kubectl_apply_tests
**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=run_kubectl_apply_tests&width=5

**Reason for failure**:
A test has a precondition that no pods should be up, but, previous test's deployment did not fully delete.

[2020-04-01 07:05] ScrapCodes commented on #89719
/sig testing

[2020-04-01 08:18] feiskyer opened #89721 "Azure zones are not in lower cases"
**What happened**:

Azure cloud provider gets the availability zone from IMDS directly and the zone is usually in lower cases in most regions. But there're chances this is not true in some regions, hence customer's workloads depend on availability zone may not work.

**What you expected to happen**:

The  availability zone is always in lower cases.

**How to reproduce it (as minimally and precisel

[2020-04-01 08:18] feiskyer commented on #89721
/assign

[2020-04-01 08:57] zhouya0 commented on #89685
/assign

[2020-04-01 09:01] SataQiu commented on #89358
It looks like kube-proxy has configured the ipvs correctly 😕
If we configure a K8s Service `sessionAffinity` timeout time to 20s, just like:
[code]
Then check ipvs rules, we can find something like this:
[code]
`persistent` means `sessionAffinity` is enabled.
`20` is the timeout time.
Ref: http://www.linuxvirtualserver.org/docs/persistence.html

[2020-04-01 09:03] timchenxiaoyu commented on #89711
mount pod to cephfs

 /var/lib/kubelet/pods/8775eb17-73f5-11ea-837f-fad2d3138100/volumes/kubernetes.io~cephfs/dev-dev type ceph (rw,relatime,name=xxx,secret=<>,acl,wsize=16777216)

then  shutdown ceph  mds and  osd

[2020-04-01 09:14] prometherion opened #89723 "Backward support for old KVM virtio-scsi driver"
**What happened**:

After upgrading the hypervisor's QEMU version from 2.11 to 4.0 Pods were unable attach an already node mounted volume.
The root cause is that newer versions of QEMU apparently changed the way how the disks ID format being handled in `/dev/disk/by-id`: with this change, volumes attached on an OpenStack cluster using newer KVM driver doesn't work.
To address it, we had to create

[2020-04-01 09:17] prometherion commented on #89723
/sig cluster-provider

[2020-04-01 09:20] prometherion commented on #89723
/sig cloud-provider

[2020-04-01 09:22] uablrek commented on #89632
@cfabio SInce the problem I had when reproducing this issue does not seem to be the same as yours I can't take this much further. Since the problem does not appear in other cluster it must be something in your environment. I have not time to duplicate your setup but can only give some advice for trouble-shooting.

At least the ipvs setup seems OK so next step may be some traffic monitoring with `t

[2020-04-01 09:38] yuzhiquan commented on #86843
/cc

[2020-04-01 09:45] feiskyer commented on #89721
Fixed by #89722.

[2020-04-01 09:45] #89721 closed

[2020-04-01 09:49] cfabio commented on #89632
@uablrek thanks for the suggestion.
If I may ask, what operating system did you use for your tests?
The issue I am facing with NodePort (iptables and ipvs) might be related to CentOS 7.

[2020-04-01 10:17] george-angel commented on #65012
/remove-lifecycle stale

[2020-04-01 10:20] megastallman commented on #85548
We are still experiencing the same issue on Kubernetes 1.15. Applying very ugly workarounds, like restarting our API-clients. Still it needs investigation.

[2020-04-01 10:37] ScrapCodes commented on #89719
Pasting the failed tests' output, for easy reference:

[code]

[2020-04-01 10:40] ScrapCodes opened #89728 "[Flaky Test] TestNominatedNodeCleanUp"
**Which jobs are flaking**:
pull-kubernetes-integration

**Which test(s) are flaking**:
TestNominatedNodeCleanUp

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestNominatedNodeCleanUp&width=5
**Reason for failure**:
[TODO]

**Anything else we need to know**:
- links to go.k8s.io/triage appreciated
https://storage.goog

[2020-04-01 10:44] blurpy commented on #64529
I'd like that option too! Reopen?

[2020-04-01 11:04] uablrek commented on #89632
I use an image I built myself. Bare minimum BusyBox based. It removes interference from other things and give control over tool versions. E.g my kernel is linux-5.6. I tried btw to back down to linux-3.10 but then `cri-o` (my CRI-plugin, replaces docker) stopped working because some ff-overlay feature was missing. So I dropped that track.

[2020-04-01 11:07] uablrek commented on #89632
But the 3.10 kernel in CentOS 7 *is* very old. So IMHO it is worth upgrading just to rule out kernel-version problems at least.

[2020-04-01 11:32] lbogdan opened #89729 "kube-proxy panics with SIGSEGV on first run"
**What happened**:
When creating a new `1.18.0` cluster using `kubeadm`, `kube-proxy` panics with SIGSEGV on first run:

[code]

Note that after the crash the pod restarts, and the second run is successful:

[code]

and everything seems to be working as expected.

**What you expected to happen**:

`kube-proxy` starts successfully the first time.

**How to reproduce it (as minimally and precisely a

[2020-04-01 11:35] lbogdan commented on #89729
/sig network

[2020-04-01 12:18] brianpursley commented on #86130
/sig api-machinery

[2020-04-01 12:19] brianpursley commented on #86130
/remove-sig cli

[2020-04-01 12:20] brianpursley commented on #86130
/remove-area cli
/area api

[2020-04-01 12:20] brianpursley commented on #86130
/area api

[2020-04-01 12:21] brianpursley commented on #86130
/remove-area kubectl

[2020-04-01 12:22] marouanabbessi commented on #55410
any ETA when support for initcontainers will be provided by PodPreset ?

[2020-04-01 12:30] maikelvl commented on #63371
We also encountered this. 😒

[2020-04-01 12:31] rikatz commented on #89520
@andrewsykim with a small test, it worked fine.

Environment: CentOS 7.1 - Kernel 3.10.0-229.el7.x86_64 + ipvsadm 1.2.1
Pre-loaded some IPv6 rules into ipvs:

[code]

I've used [this](https://gist.githubusercontent.com/rikatz/807c68ebbd73cba7c2e759a5586e366b/raw/585cec16acdafddcc1c98822f31af0c0f79b68ab/ipvs-test.go) code, searching for the following structure:

[code]
I then call ``toIPVSService``

[2020-04-01 12:45] dharmab commented on #89663
I think some wires were crossed in my environment, since I'm having trouble reproducing OIDC issues.

Since #89672 exists with more details, I'll close this report.

Additionally, I'd like to express an apology for the abrasive tone in the original report. It's been a very long and stressful month, but that didn't need to be reflected in the bug report. Thanks @weinong, @feiskyer and @liggitt for

[2020-04-01 12:45] #89663 closed

[2020-04-01 13:25] michidk commented on #79224
+1 for reopen

[2020-04-01 13:39] ncdc commented on #55410
This was fixed in 1.14.

[2020-04-01 13:49] mydockergit opened #89731 "Failed to use some of Kubelet APIs: "Moved Permanently""
**What happened**:
I used Kubelet API describe [here](https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authorization/#kubelet-authorization) and received an error:
[code]
It happens also with the API `/logs`.
With `/spec` I received 404:
[code]

The undocumented API: `curl -ks https://127.0.0.1:10250/pods` works for me.

**What you expected to happen**:
To s

[2020-04-01 13:50] init6tech commented on #45300
Hi @amelbakry I tried with your active-passive script and it is working fine but after couple of minutes standby pod is also becoming active. Could you please help me on this

[2020-04-01 13:51] mydockergit commented on #89731
/sig api-machinery
/sig docs

[2020-04-01 14:05] rajivmucheli opened #89733 "Unable to scarpe kubelet_volume * metrics, other kubelet metrics are scraped."
Hi,

I set the below in my prometheus-server:

  # Scrape kubelet metrics.
  kubelet:
    allowedMetrics: []

Which means it scrapes all kubelet metrics, unfortunately i dont see  kubelet_volume * metrics.

FYI : https://github.com/kubernetes/kubernetes/blob/release-1.18/pkg/kubelet/metrics/metrics.go

I did refer the below PR's but all off them are closed with solutions which doesnt help me:

htt

[2020-04-01 14:11] rajivmucheli commented on #89733
/sig apps
/sig openstack
/sig storage

[2020-04-01 14:12] rajivmucheli commented on #89733
/sig cloud provider

[2020-04-01 14:57] Lincoln-dac opened #89734 "apiserver panic'd on GET /api/v1/events"
**What happened**:
api-server logs error logs
Apr 01 22:43:44 dcn-kube06 kube-apiserver[69454]: E0401 22:43:44.164834   69454 wrap.go:32] apiserver panic'd on GET /api/v1/namespaces/default/pods
Apr 01 22:48:48 dcn-kube06 kube-apiserver[69454]: E0401 22:48:48.135963   69454 runtime.go:73] Observed a panic: &errors.errorString{s:"killing connection/stream because serving request ti
Apr 01 22:48:48

[2020-04-01 15:03] dnaeon commented on #89368
@jpbetz any update on this one? Do you need any additional info that I can provide?

Thanks!

[2020-04-01 15:24] bibekmantree opened #89737 "/dev directory size inside pod in newer version of kubernetes is only 64M size."
/sig cloud-provider
/sig node
/sig release
/sig storage

**What happened**:

In k8s/gke node version 1.12.10-gke.22:  the "/dev" directory size inside a pod, come around half of the underlying node memory size.

Where as in latest  node version, it comes **fix only 64M.** But I want a larger size of /dev inside my pod.

**What you expected to happen**:

in newer GKE  Node versions (1.14.10-gke.27)

[2020-04-01 15:59] JESWINKNINAN commented on #89682
Hi @jzdayz,
This is due to the Cgroup driver used in the Kubelet. Either the Kubelet and Docker should run as using systemd driver or with the Cgroupfs. Systemd is recommended.

[2020-04-01 16:01] #80972 closed

[2020-04-01 16:16] JohnGalt1717 opened #89738 "Allow ConfigMap injection into any field"
**What would you like to be added**:
All yaml files and any field should allow the injection of a value from a config map something like this: $(config-map-name/key)  When this syntax was used you could inject it anywhere into anything including in the middle of other strings.

somefield: some-($config-map-name/key)-value

or
somefield: (config-map-name/key)

**Why is this needed**:
This would all

[2020-04-01 16:42] JohnGalt1717 commented on #89738
/sig cli

[2020-04-01 16:58] orodbhen commented on #79384
@liggitt I'm seeing this error with a project that depends only on the device plugin API. It seems like that ought to work without importing all of kubernetes.

[2020-04-01 17:00] senosigit commented on #78761
install HPA use helm version 2.14, it's work for me. after 5-6 minutes pods scale down

[2020-04-01 17:03] git-hemant commented on #58512
+1

[2020-04-01 17:04] spiffxp opened #89740 "[Flaky Test] [sig-apps] ReplicationController should test the lifecycle of a ReplicationController"
**Which jobs are flaking**:
- pull-kubernetes-e2e-gce
- pull-kubernetes-e2e-kind

**Which test(s) are flaking**:
- [sig-apps] ReplicationController should test the lifecycle of a ReplicationController

**Testgrid link**:
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-e2e-gce&include-filter-by-regex=ReplicationController%20should%20test&width=10
- https://testgrid.k8s.io/p

[2020-04-01 17:09] liggitt commented on #79384
It is, for kubernetes 1.12+, at https://github.com/kubernetes/kubelet/tree/master/pkg/apis/deviceplugin

[2020-04-01 17:26] nikhita commented on #75960
For the record - the godeps instance has now been removed. Ref: https://github.com/kubernetes/k8s.io/issues/500#issuecomment-607379410

[2020-04-01 17:58] hh commented on #86288
/reopen
@BobyMCbobs can you put the checkboxes at the top for your apisnoop org pr, the test, and link to the promotion PR? I think we are ready.

[2020-04-01 17:58] hh commented on #86288
/open

[2020-04-01 18:11] sagarvelankar opened #89742 "Like Checkpointing, save Container Memory and Writable Layer to Persistent Storage after it is live and ready so that new containers can be created instantaneously from this memory image"
**What would you like to be added**:

After a container is live and ready as per the liveness and readiness probes, its memory and container writable layer should be saved to persistent storage using some solution like Checkpoint/Restore In Userspace (CRIU) so that new containers can be spawned using this image in addition to the docker image for faster boot time.

**Why is this needed**:

When we

[2020-04-01 18:12] porrascarlos802018 commented on #89336
Can you share some insights when this could be get fixed?

[2020-04-01 18:16] sagarvelankar commented on #89742
/sig Node

[2020-04-01 18:48] hh commented on #88302
/open
/reopen

We need this open to track the test promotion and flakyness.
We can't write a promotion PR until the test has no flakes for 2 weeks.

[2020-04-01 18:55] enj commented on #89702
/priority important-soon

[2020-04-01 18:56] enj commented on #89672
/priority important-soon

[2020-04-01 19:02] enj commented on #89611
I think #89305 is a better approach for including metadata from authenticators that is not bounded by the cardinality requirements of metrics.

/priority important-longterm

[2020-04-01 19:14] tedyu commented on #89742
[code]
After the container is ready, it would take traffic. Do you want the initial traffic to be persisted as well ?

[2020-04-01 19:26] apelisse commented on #89712
OK Trying to reproduce, see what's going on.

[2020-04-01 19:28] hh commented on #87762
/reopen
/open
Needs promotion!

[2020-04-01 19:32] devarshigoswami commented on #72158
If this issue hasn't been resolved, can I take it up??

[2020-04-01 19:35] hh commented on #87762
/retitle Promote CoreV1Endpoints test - +4 coverage

[2020-04-01 19:37] hh commented on #86288
/retitle Promote CoreV1Event test - +5 coverage

[2020-04-01 19:38] hh commented on #86288
/assign @BobyMCbobs

[2020-04-01 19:39] hh commented on #88302
/retitle Promote CoreV1ReplicationController lifecycle mock test - +7 coverage
Need to verify two weeks on non-flakeyness.

[2020-04-01 19:43] hh commented on #85876
/close
This  ticket is replaced by #89135

[2020-04-01 19:43] #85876 closed

[2020-04-01 19:44] enj commented on #88422
What is the use case exactly?  It would make more sense for the plugin to return a token/cert for the actual user you want to be.  Since the plugin has no input information, how would it know what user to impersonate?

/priority awaiting-more-evidence
/triage needs-information

[2020-04-01 19:46] hh commented on #82313
/close
We are focusing on stable endpoints not parameters for now.
We can reopen when we have behaviors up and running.

[2020-04-01 19:46] #82313 closed

[2020-04-01 20:01] huffmanca commented on #88848
/assign huffmanca

[2020-04-01 20:05] #77864 closed

[2020-04-01 20:07] ottoyiu commented on #68211
Can still replicate this with k8s 1.14.8 and Docker 19.03.1

[2020-04-01 20:12] apelisse commented on #89712
Clearly this is because SSA is updating the tracked entry's time. It happens when the two request don't happen in the same second. Having a `time.Sleep(time.Second)` between the two requests makes this into a definitive error.

[2020-04-01 20:13] apelisse commented on #89712
/wg apply

[2020-04-01 20:30] timoreimann commented on #88902
We discussed this in today's SIG meeting: I'm going to check if the controller really does not allow concurrent reconciles (this was my assumption/understanding but chances are I missed something). If it turns out to support that I think we should be good. Otherwise, we can explore possibilities to distinguish between different retry strategies possibly based on errors returned.

[2020-04-01 20:32] timoreimann commented on #88820
Outcome of today's SIG meeting: I am going to put together a PoC PR to showcase what an implementation based on labels (and using the existing cluster name flag for the sake of being the easiest) could look like. The result should help us to decide how to move forward, which could be a KEP if the idea finds agreement.

[2020-04-01 20:42] BobyMCbobs commented on #87762
This doesn't have an APISnoop PR because [it exists in master](https://github.com/cncf/apisnoop/blob/master/tickets/k8s/CoreV1Endpoints.org) (the exact process wasn't in place properly when the original mock test ticket was made) @hh

[2020-04-01 20:48] neolit123 commented on #89714
not that 1.15 is no longer supported. please upgrade to 1.16.

`kubeadm reset...` should suffice to clear configuration.

this will uninstall the binaries and their deployed configuration such as systemd files.

i don't see any relevant errors in the kubelet log.

to get more help on your "node is notReady" problem try the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPP

[2020-04-01 20:48] #89714 closed

[2020-04-01 21:00] mandava999 commented on #45300
@init6tech  while running active-passive script i think i am not able to get hostname. can you share your script used in statefullset.

[2020-04-01 21:10] apelisse commented on #89712
This seems to be because of ["status-wiping"](https://github.com/kubernetes/kubernetes/issues/75564).

A repeated patch like `{status:{num:999}, spec:{num:999}}` will always trigger a new managedFields entry to be created, since it's always going to change the object (status or spec will be wiped depending on the endpoint), so the patch will always cause the object to change, which will always cau

[2020-04-01 21:16] jemc commented on #83242
/remove-lifecycle stale

[2020-04-01 21:38] ucabsdp opened #89744 "HPA on GKE uses aggregated node CPU utilisation and not pods in targeted deployment"
**What happened**:
HPA is scaling with respect to overall CPU utilisation of the node

**What you expected to happen**:
HPA should autoscale only with respect to CPU utilisation of the pods from the target deployment

**How to reproduce it (as minimally and precisely as possible)**:
Following the example here https://cloud.google.com/kubernetes-engine/docs/how-to/horizontal-pod-autoscaling,

and m

[2020-04-01 21:40] ucabsdp commented on #89744
/sig Autoscaling

[2020-04-01 21:50] poochwashere commented on #79365
I had a `linkerd` proxy container injected into the pods with no `request` nor `limits` defined. Once I defined them and reinitiated the deployments hpa was happily working.

[2020-04-01 22:01] BobyMCbobs commented on #89740
https://github.com/kubernetes/kubernetes/pull/89746 attempts to resolve this issue

[2020-04-01 22:05] BobyMCbobs commented on #86288
This test was written before the tickets were stored in APISnoop branches. Unsure what to do with it in regards to the APISnoop PR

[2020-04-01 22:14] dinvlad commented on #80963
It seems that GCP [docs](https://cloud.google.com/kubernetes-engine/docs/how-to/horizontal-pod-autoscaling) document this as such:
[code]
which is much more preferable over %, imo.

[2020-04-01 22:14] #85398 closed

[2020-04-01 22:37] neolit123 commented on #89675
/remove-kind bug

[2020-04-01 22:39] alvaroaleman commented on #86792
/assign

I went ahead and created a PR for this. The current behaviour is a huge footgun and we neither mention that in the godocs nor do we provide a safe alternate.

[2020-04-01 23:37] ahg-g commented on #89006
/close

[2020-04-01 23:37] #89006 closed

[2020-04-01 23:39] MikeSpreitzer commented on #40403
/remove-lifecycle rotten
/reopen

[2020-04-01 23:41] ahg-g commented on #89410
/close

@xtroncode  pls let us know if this PR fixed the problem.

[2020-04-01 23:41] #89410 closed

[2020-04-01 23:43] MikeSpreitzer commented on #40403
This is still very relevant.

Let me add one more bit of functionality, or clarify item (3) (depending on how you view it).  Effective permissions come not only from ABAC and RBAC, but authorization plugins, in-process admission plugins, and admission webhooks.  Consider the case of a kubelet that needs an informer on Pod objects that are placed on the kubelet's Node but not the rest.  Today that

[2020-04-01 23:46] MikeSpreitzer commented on #40403
https://github.com/kubernetes/kubernetes/issues/58262#issuecomment-357567574 contains the remark

but I do not follow the logic.  Presumably someone who wants filtering in list will want the same filtering in watch; a matched pair of list and watch make a functional informer.  What am I missing?

[2020-04-01 23:49] liggitt commented on #40403
The ACLs controlling which items are in the returned set are not represented in the resourceVersion, so the handoff between list and watch (or between one watch connection and the next) can become inconsistent if those ACLs change.

[2020-04-02 00:09] thockin commented on #87884
@dcbw ping

[2020-04-02 00:10] thockin commented on #86889
ping @caseydavenport

[2020-04-02 00:11] #84794 closed

[2020-04-02 00:18] Nowaker commented on #57601
This is a valid security concern, shouldn't be closed.

/reopen

[2020-04-02 00:37] skilxn-go commented on #89742
/cc

[2020-04-02 00:49] fengzixu commented on #89627
@apelisse PTAL. If the issue was validated, I will do it.

[2020-04-02 01:15] MikeSpreitzer commented on #40403
So I see two approaches to this filtering.  One, which the other posters here seem to assume, is that the filtering is implicitly imposed on each request.  That's nice and convenient, but maybe a little too magic.  The other approach has the client express the filtering while the authorization and admission control approve it.  This has the advantage that there is no invisible modulation of the re

[2020-04-02 01:23] neolit123 commented on #89734
1.15 is out of support. is this reproducible with > 1.16?

/sig api-machinery

[2020-04-02 01:24] neolit123 commented on #89734
this is also an RC version and not a final release of k8s.

[2020-04-02 01:27] neolit123 commented on #89690
hi, please try asking questions on the support channels instead of the issue tracker:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

not sure i understand the question. the apiserver instance is managed by the kubelet. when you write a YAML file in that folder the kubelet will start this as a static pod.

it appears that your control-plane is healthy.

/triage support
/close

[2020-04-02 01:27] #89690 closed

[2020-04-02 01:32] neolit123 commented on #89689
@pytimer please try providing reproduction steps and example event YAML.
also more details about your setup should help.

/sig instrumentation

[2020-04-02 01:32] jalberti commented on #7890
@thockin I just came across https://github.com/kubernetes/kubernetes/issues/7890#issuecomment-173822787 again, and want to remark that FUSE daemons do not require privileges anymore since http://lkml.iu.edu/hypermail/linux/kernel/1806.0/04385.html. Knowing this, is there a way to make this FUSE discussion a priority? Unfortunately I have not found a way to get the fuse device into my unprivileged

[2020-04-02 01:32] neolit123 commented on #89686
/sig network

[2020-04-02 01:33] neolit123 commented on #89686
/remove-kind bug
/triage support

[2020-04-02 01:48] zhouya0 commented on #89685
@yrwal I submit this PR to fix this https://github.com/kubernetes/kubernetes/pull/89724, but I think it's not easy to get merged.

[2020-04-02 02:02] cuisongliu opened #89749 "cronjob not create job"
[code]

kubernetes version： v1.14.3

I watch code find

https://github.com/kubernetes/kubernetes/blob/5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0/pkg/controller/cronjob/cronjob_controller.go#L117

at this code before:

[code]

find pager code define:

https://github.com/kubernetes/kubernetes/blob/5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0/staging/src/k8s.io/client-go/tools/pager/pager.go#L56

find it

[2020-04-02 02:04] #89749 closed

[2020-04-02 02:07] danche opened #89750 "TopologySpreadConstraint suppprt specific TopologyKey's values"
**What would you like to be added**:
[code]
to support TopologyKeyValues parameter
[code]

/sig scheduling

**Why is this needed**:
I'm developing the operator with a distributed database. For data security and performance needs to deploy the system to only three zones.

[code]

[2020-04-02 02:12] cuisongliu opened #89751 "cronjob can't create job"
**What happened**:

[code]

kubernetes version： v1.14.3

I watch code find

https://github.com/kubernetes/kubernetes/blob/5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0/pkg/controller/cronjob/cronjob_controller.go#L117

at this code before:

[code]

find pager code define:

https://github.com/kubernetes/kubernetes/blob/5e53fd6bc17c0dec8434817e69b04a25d8ae0ff0/staging/src/k8s.io/client-go/tools/pager/pag

[2020-04-02 02:18] cuisongliu commented on #89751
/sig apps

[2020-04-02 02:18] skilxn-go commented on #89750
/assign

[2020-04-02 02:21] cuisongliu commented on #89751
/sig scalability

[2020-04-02 02:26] #89672 closed

[2020-04-02 02:53] enj commented on #40403
How would the client express that?  For example, how would a client ask for "show me my namespaces."

[2020-04-02 03:04] adammw commented on #88422
We're currently implementing OIDC authentication for users via a 'helper script' which authenticates via a browser in exchange for providing a token to kubectl.

The use case here is to provide a mechanism by which users can 'request' extra permissions out-of-band, and have the plugin implement it by impersonating other groups. For example, by default the user themselves may not have write access,

[2020-04-02 03:20] Huang-Wei commented on #89750
@danche You can define a NodeAffinity along with the TopologySpreadConstraints. Internally, TopologySpreadConstraints logic will only consider the Pods located at the nodes which satisfies NodeAffinity. See the [4th convention](https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#conventions) explained in the official document:

[2020-04-02 03:29] MikeSpreitzer commented on #40403
@enj : how are you supposing "my namespaces" is represented?  The earlier discussion suggested labels on the namespace.  So that could be expressed already with a request to get namespace objects restricted by a label selector.

[2020-04-02 03:31] pryan-branch commented on #70010
also on 1.15.7

[2020-04-02 03:44] danche commented on #89750
ok, thank you very much. I got it

[2020-04-02 03:44] #89750 closed

[2020-04-02 04:19] MikeSpreitzer opened #89755 "watch does not work for GET of an individual object"
**What happened**:
I fetched the `master` branch of k/k and used `hack/local-up-cluster.sh`  to create a simple cluster for testing.  In another shell I tried to watch one individual object, but I did not get a stream of notifications (only the initial object).  Following is a typescript; note the immediate completion (there was no ^C).
[code]

**What you expected to happen**:
I expected behavior

[2020-04-02 04:20] MikeSpreitzer commented on #89755
@kubernetes/sig-api-machinery-bugs

[2020-04-02 04:36] MikeSpreitzer commented on #89755
`curl 'http://localhost:8080/api/v1/nodes/127.0.0.1?watch=1&resourceVersion=100'` also returns one object and immediately completes.

[2020-04-02 05:05] pytimer commented on #89689
@neolit123 I add example YAML and `kubectl get events` results.

I find only the event that source is  `default-scheduler` have this problem.

I use `kubectl get events -n kube-system -ojson` to get the event detail information, I found v1.17.2 scheduler events object different from v1.11.6. I see the kubectl code, i found kubectl get `firstTimestamp` as `LAST SEEN` value, but this field is null i

[2020-04-02 05:10] cuisongliu commented on #89751
#77465  repeat

[2020-04-02 05:10] #89751 closed

[2020-04-02 05:14] #70020 closed

[2020-04-02 06:10] Xenwar opened #89757 "As of v1.18.0 release kubelet.service and 10-kubeadm.conf not provided as documented"
**What happened**:
Starting v1.18.0 release kubelet.service and 10-kubeadm.conf downloads not provided

**What you expected to happen**:
As describe in [Documentation](https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/#installing-kubeadm-kubelet-and-kubectl), under 'Container Linux', I tried to download the two files with curl, but got 404. Previous releases sti

[2020-04-02 06:13] Xenwar commented on #89757
/sig release

[2020-04-02 06:28] SataQiu commented on #89729
/assign

[2020-04-02 06:39] onesolpark commented on #89682
check it there aren’t any config files or environment variables that are used for running kubelet

Best way to check it would be
1. check kubelet process (e.g. ps -ef | grep kubelet) to see all the args

2. If kubelet is using dynamic config check ConfigMap kubelet-config-1.18 in Kube-system to see if cgroupDriver is specified as you desire

[2020-04-02 06:49] liaotx opened #89758 "etcd backup and restore questtion"
in my env ,i had try to backup my data via etcd ，when i restore my data ,my node doesn't restore . my node is in a not ready status .

i want to know this  etcd  will not restore  node while that  status is not-ready ?

this is a common question about etcd but not associate my env.

thanks!

[2020-04-02 07:03] sirsikar-lalit commented on #89758
etcd backup and restore is context aware of machines - needs to be performed on same set of machines with similar ip-address and hostname.

Ref: https://elastisys.com/2018/12/10/backup-kubernetes-how-and-why/

I tested backup from one cluster and restore to another cluster, etcd captures exact nodes, pods, svc etc. information alongwith cluster ip-address, node-port ip address - exact replica over

[2020-04-02 07:08] liaotx commented on #89758
thanks , there is in a same env ,but my node is a fake node what use a yaml to add.
so i want to know that in a same env ,etcd will restore my fake node when my node status is not-ready?

[2020-04-02 07:14] liggitt commented on #89755
watch only operates on lists. To watch a single object, watch with a fieldSelector of metadata.name=$name

[2020-04-02 07:14] #89755 closed

[2020-04-02 07:17] liggitt commented on #89734
Timeouts are handled as panics, that looks like what happened: "killing connection/stream because serving request timed out"

[2020-04-02 07:40] liggitt commented on #89738
Building in templating was discussed at length early on in the project (e.g. https://github.com/kubernetes/kubernetes/issues/11492,
https://github.com/kubernetes/kubernetes/issues/13241#issuecomment-233731291, https://github.com/kubernetes/kubernetes/issues/23896). There are [many templating tools available](https://github.com/kubernetes/kubernetes/issues/23896#issuecomment-313544857), but templat

[2020-04-02 07:40] #89738 closed

[2020-04-02 09:25] SataQiu commented on #89729
According to the panic output, the crashed code is https://github.com/kubernetes/kubernetes/blob/v1.18.0/pkg/proxy/ipvs/proxier.go#L1903

[code]
For some reason, `proxier.ipvs` might be nil, we should always check it before using.

[2020-04-02 10:02] SataQiu commented on #89701
/cc

[2020-04-02 10:20] sagarvelankar commented on #89742
Thanks for the reply. We do not want to persist initial traffic. The Container Memory and Writable Layer Image should be taken before the container's pod IP is added to the service endpoint object so that it does not contain any initial traffic data.

[2020-04-02 10:28] cfabio commented on #89632
I setup a brand new cluster made of 3 CentOS 8 nodes (1 master 2 slaves) and tried every combination of Kubernetes versions 1.18.0, 1.17.4 and 1.17.3 with `ipvs` and `iptables`; the situation is exactly the same as what I had on CentOS 7, same issues, same errors.
Network configuration is:
+ master 192.168.122.120
+ slave1 192.168.122.121
+ slave2 192.168.122.122

Choosen backend is `ipvs`.
Config

[2020-04-02 10:57] zffocussss commented on #69262
same here

[2020-04-02 10:57] Djabx opened #89762 "kubectl diff does apply"
**What happened**:

`kubectl diff` modify my deployements.

**What you expected to happen**:

I expect the diff command to not change my deployments !

**How to reproduce it (as minimally and precisely as possible)**:

Here is what I've done

1) Create a simple pod `test.yaml`
[code]

`kubectl apply -f test.yaml`

[code]

2) Modify the pod

[code]

3) Make a diff: `kubectl diff -f test.yaml`
[code

[2020-04-02 10:59] zffocussss commented on #69262
It takes about 10 minutes to recover from the FailedMount messages.

[2020-04-02 11:01] Djabx commented on #89762
/sig cli
/wg apply

[2020-04-02 11:02] andyzhangx commented on #69262
@zffocussss what's your k8s version?

[2020-04-02 11:03] andyzhangx commented on #69262
there is a new vhd disk feature based on azure file which could attach/detach disk < 1s, consider that as an option if you have concern about disk attach/detach time cost: https://github.com/kubernetes-sigs/azurefile-csi-driver/tree/master/deploy/example/disk

[2020-04-02 11:04] zffocussss commented on #69262
AKS v1.14.8

[2020-04-02 11:05] andyzhangx commented on #69262
@zffocussss for this specific issue,  aks 1.15.x won't have this issue.

[2020-04-02 11:11] zffocussss commented on #69262
hi @andyzhangx ,I am not dare to upgrade.because my stateful rabbitmq with pvc can not started because of failmount of PVC!

[2020-04-02 11:12] xiegang1 opened #89763 "Temp RBAC is needed to easy the management of the auth"
**What would you like to be added**:
We need a RBAC setting with TTL. I.E, this RBAC config could be deleted/expired after a specified time.
**Why is this needed**:
In large cluster, there could be many hundreds of deployment in one namespace, and owned by different developers. Usually they should not have permission to each other's deployments. To achieve this, we usually need to configure RBAC f

[2020-04-02 11:14] andyzhangx commented on #69262
@zffocussss  you could scale your statefulset to 0 replica, and pvc disk would be detached. After upgrade, scale back to original count.

[2020-04-02 11:15] xiegang1 commented on #89763
/sig <auth>

[2020-04-02 11:15] glyn opened #89764 "Improve or document behaviour of YAML decoder"
**What would you like to be added**:

Remove, or at least document, what appear to be restrictions in the way YAML is handled by the API machinery YAML utility.

**Why is this needed**:

I tried using the API machinery YAML utility to split a stream of YAML documents into individual documents. It doesn’t seem to cope with certain cases and I am wondering if that was intentional, a restriction, or

[2020-04-02 11:16] glyn commented on #89764
/sig api-machinery

[2020-04-02 11:26] zffocussss commented on #69262
okay,let me have a try.

[2020-04-02 11:28] zffocussss commented on #69262
I use helm to deploy.how can I restore to two replicas after upgrading k8s version?

[2020-04-02 11:30] andyzhangx commented on #69262
`kubectl scale statefulest xx --replicas=x ...`

[2020-04-02 11:56] neolit123 commented on #89689
thanks for adding the examples.
#instrumentation on slack might know more about this.

[2020-04-02 12:04] zffocussss commented on #69262
it works

[2020-04-02 12:10] neolit123 commented on #89757
the fix is up but not approved yet.

please watch:
https://github.com/kubernetes/website/pull/20021

/close

[2020-04-02 12:10] #89757 closed

[2020-04-02 12:29] kayrus commented on #36141
/remove-lifecycle rotten

[2020-04-02 12:35] zhouya0 commented on #89762
/assign

[2020-04-02 12:51] JohnGalt1717 commented on #89738
This isn't templating persay. It's injection anywhere of ConfigMaps so that it isn't on the Kind to have programmed it to use ConfigMaps.  Right now it's basically impossible without using a 3rd party tool to actually create environment configurations. Even using Kconfiguration you still end up with settings in multiple files that you have to update instead of one shared file as would be the case

[2020-04-02 13:14] orodbhen commented on #79384
@liggitt Thanks. My bad. Looks like it was another dependency causing the issue. A sub component of a vendor parent project, with the parent listing k8s as a dep.

BTW, what is the expected import path for the device plugin API? It's not in the k8s docs, and all the examples I've seen use `k8s.io/kubelet/pkg/apis/deviceplugin/v1beta1`.

[2020-04-02 13:22] #84709 closed

[2020-04-02 13:27] liggitt commented on #79384
That's the correct import path. That module is located at https://github.com/kubernetes/kubelet/blob/v0.18.0/go.mod (the latest release is v0.18.0, corresponding to Kubernetes v1.18.0)

[2020-04-02 13:56] dims opened #89769 "Panic in conformance test (1.17.3)"
Found in local testing. Looks like it's coming from:
https://github.com/kubernetes/kubernetes/blob/v1.17.3/test/utils/deployment.go#L201

[code]

[2020-04-02 13:56] dims commented on #89769
/area conformance

[2020-04-02 14:00] zzzkl opened #89770 "Utilization disapear when setting HPA cpu AverageValue and Utilization both"
**What happened**:
when setting cpu AverageValue and Utilization both, the Utilization will disapear. yaml like:
[code]
i get only:
[code]

**What you expected to happen**:
want to get both type.
**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply -f hpa.yaml
**Anything else we need to know?**:
metric-server: v0.3.6
**Environment**:
- Kubernetes version (use `kubectl ve

[2020-04-02 14:00] zzzkl commented on #89770
/sig Autoscaling

[2020-04-02 14:08] dims commented on #89769
/sig testing

[2020-04-02 14:09] MikeSpreitzer opened #89772 "Describe how resource namespace and name are determined for get/list/watch requests, in authorization and API Priority and Fairness"
**What happened**:
I have a client that needs to watch just one object, and I want to write RBAC that grants it only the privilege to watch one object.  But I can not do that because a watch only operates on lists.
#89755

**What you expected to happen**:
I expected to be able to write a client that watches only one object and grant it only the privilege to do that.

**How to reproduce it (as mini

[2020-04-02 14:10] MikeSpreitzer commented on #89772
@kubernetes/sig-api-machinery-feature-requests

[2020-04-02 14:16] liggitt commented on #89772
watching a single item (e.g. namespaces) with `fieldSelector=metadata.name=mynamespace` can be authorized with the following role:

[code]

[2020-04-02 14:17] liggitt commented on #89772
Added in https://github.com/kubernetes/kubernetes/pull/63469, available since 1.11

[2020-04-02 14:19] liggitt commented on #89763
Thanks for the feature request. This was previously discussed and decided against doing in-tree. See https://github.com/kubernetes/kubernetes/issues/87433#issuecomment-582618496

[2020-04-02 14:19] #89763 closed

[2020-04-02 14:48] gavinfish commented on #89699
/assign

[2020-04-02 14:58] barucoh opened #89775 "Enhance HighAvailability with preferredDuringSchedulingPreferredDuringExecution"
**What would you like to be added**:
`preferredDuringSchedulingPreferredDuringExecution` as an extra Anti-Affinity option, or something similar that would achieve HA with Scalability in a long term.

**Why is this needed**:
Currently in case we want to have HA across zones for a specific Deployment we can either use  `preferredDuringSchedulingPreferredDuringExecution` or `requiredDuringSchedulingP

[2020-04-02 15:01] barucoh commented on #89775
/sig scheduling

[2020-04-02 15:04] JensErat opened #89776 "Restarting kubelet while fsGroup is applied results in pod getting started with mixed group ownership"
**What happened**:

Volumes with a large number of files take quite some time when getting mounted if `fsGroup` enforces the group ID. If kubelet gets restarted for whatever reason during this time, the disk is already mounted but the `chgrp`-operation has not finished, permissions have only partially been applied.

**What you expected to happen**:

All files have `fsGroup` group ownership.

**How

[2020-04-02 15:07] captncraig commented on #89762
I've also hit this with configmaps unexpectedly updating while running diff. On both AKS and GKE kubernetes 1.14 and 1.15. Kubectl 1.18 local.

[2020-04-02 16:07] ucabsdp commented on #89744
The hpa is very sensitive to labels and was matching `app` labels for deployments

[2020-04-02 16:07] #89744 closed

[2020-04-02 16:07] captncraig commented on #89762
This issue is not present in kubectl version 1.17.4. Downgrading my local client made diffs work as expected again.

[2020-04-02 16:21] jingyih opened #89779 "Update to etcd 3.4.7 in Kubernetes 1.19 release"
We just recently update to etcd 3.4.4 in 1.19 release cycle. Let's update to **etcd 3.4.7** to pick up few bug fixes and performance improvements. Notably:
 - Fix a bug in clientv3 `WithRequireLeader `. (https://github.com/etcd-io/etcd/pull/11687)
 - Fix memory leak in lease. (https://github.com/etcd-io/etcd/pull/11731)
 - Improve etcd server performance during compaction. (https://github.com/etcd

[2020-04-02 16:21] jingyih commented on #89779
/remove-kind bug
/assign

[2020-04-02 16:22] jingyih commented on #89779
/cc @dims @wojtek-t @jpbetz @wenjiaswe

[2020-04-02 16:35] lavalamp commented on #88091
/assign

Taking an AI to at least write up some options for this.

[2020-04-02 16:37] lewandom commented on #89680
@neolit123 we're customizing the cluster's `imageRegistry` to a local one, e.g.:

[code]

We're copying only a minimum required subset of images required to upgrade from version to version - currently, our upgrade chain is 1.13.0 => 1.14.10 => 1.15.11 => 1.16.8 => 1.17.4.

If you take kubeadm 1.16.8, the correct etcd version is 3.3.15, not 3.3.15.

[code]

Same thing if we look at line 427 in `rel

[2020-04-02 16:44] thockin commented on #89729
Do we understand WHY it is nil?

[2020-04-02 16:47] MikeSpreitzer commented on #89772
@liggitt : where is that documented?

[2020-04-02 16:47] lbogdan commented on #89729
One more thing I've noticed while fiddling with the cluster is that if I remove the node and re-join it, `kube-proxy` starts just fine, so I'm guessing it has to do with the initial state of the server.

[2020-04-02 16:51] thockin commented on #89686
It might help to walk through this doc:  https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/

Unfortunately, there isn't much to go on in this report.  Hopefully that doc helps pinpoint where things are disconnecting.

Another approach might be to tcpdump the traffic from the node (root netns) and see what's happening there.

This does not seem to be a bug, per se, so I am go

[2020-04-02 16:51] #89686 closed

[2020-04-02 16:54] fentas commented on #45419
We running ` v1.16.7` with minimal load on AWS provisioned by kops with the kops debian image with upgraded kernel to 4.19 using cilium v1.6.5.
:man_shrugging: So it is still there :/

But have to investigate further.
_sidenote_ happened also with ubuntu provisioned by kubespray with `v1.16.4`

Only happened with `c5.large` ec2 nodes

Docker was in both cases 18.04. So I will try to upgrade docker

[2020-04-02 17:00] thockin commented on #89679
@apelisse - you removed machinery, but there's at least some suspicion that machinery is not syncing....

@zqzzq A couple things.

First, endpoints do not update synchronously.  They update "eventually".  That said, this log does not look normal at all.

Can you say more about what was happening in the system at this time?

Is it under heavy load?

Is it happening on just one master or all?

Did i

[2020-04-02 17:03] apelisse commented on #89679
/assign

[2020-04-02 17:10] andrewsykim commented on #85643
FYI I opened a WIP PR to get a better idea of the work involved https://github.com/kubernetes/kubernetes/pull/89780. Going to continue discussing in the KEP PR https://github.com/kubernetes/enhancements/pull/1607

[2020-04-02 17:12] thockin commented on #89632
Both IPVS and iptables modes us iptables for NodePort forwarding, I believe.  But there are no other reports of this happening, so I don't buy that it is broken IN GENERAL.

I am (obviously) more inclined to blame flannel, but before I do that maybe we can rule out the iptables parts.

Can you provide a full `iptables-save` (feel free to redact IPs if you need, just replace them with unique identi

[2020-04-02 17:13] mbelchin commented on #83900
Still suffering the issue

[2020-04-02 17:14] caseydavenport commented on #86889
@hbagdi I think I'm still a bit confused. It sounds like you are setting `externalTrafficPolicy: Local` on the kong service in order to preserver the source address - is that correct?

If so, I'm surprised that traffic routed via another node in the cluster that is not running a kong pod works _at all_, since I would expect that kube-proxy rules would only be forwarding traffic only to node-local

[2020-04-02 17:16] thockin commented on #89729
That would be my guess too.  And that sort of race is worth fixing :)

On Thu, Apr 2, 2020 at 9:47 AM Bogdan Luca <notifications@github.com> wrote:

[2020-04-02 17:16] neolit123 commented on #89680
this is not a faulty commit because it bumped both etcd for 1.17 (to be released at the time) to `v3.4.3` and the 1.16 version to `v3.3.17-0` (which included critical etcd fixes).

that is true for kubeadm 1.16, but not for kubeadm 1.17.
note that kubeadm can deploy kubernetes version 1.X and 1.X-1, and there could be cases where we have to bump the etcd version for 1.X-1 too. there are cases wher

[2020-04-02 17:18] liggitt commented on #89772
It's scattered around a few places:

https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#resource-operations-read

[Filtering to a single item with a `metadata.name` field selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/field-selectors/#supported-fields):

[RBAC authorization rules for a single item](https://kubernetes.io/docs/reference/access-authn-aut

[2020-04-02 17:22] hasheddan opened #89782 "[Failing Test] gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)"
**Which jobs are failing**:

`gce-cos-master-alpha-features (ci-kubernetes-e2e-gci-gce-alpha-features)`

**Which test(s) are failing**:

[code]

**Since when has it been failing**:

`4/2/20 3:07 PDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-alpha-features

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/

[2020-04-02 17:24] andrewsykim commented on #89729
@lbogdan do you see anything in the logs in the form:
[code]
??

[2020-04-02 17:25] andrewsykim commented on #89729
I think somewhere here https://github.com/kubernetes/kubernetes/blob/release-1.18/cmd/kube-proxy/app/server_others.go#L111-L114 we're failing to initialize the IPVS interface. We probably shouldn't ignore the error from `CanUseIPVSProxier` also :grimacing:

[2020-04-02 17:26] lbogdan commented on #89729
@andrewsykim Nope, I posted the (full) logs in the issue description.

[2020-04-02 17:26] andrewsykim commented on #89729
Thanks

[2020-04-02 17:27] hasheddan commented on #89659
closing this in favor of https://github.com/kubernetes/kubernetes/issues/87851

/close

[2020-04-02 17:28] #89659 closed

[2020-04-02 17:30] thockin commented on #89532
The short answer is that k8s does not have such support right now, nor any open proposals to add it.

The longer answer is that I am not sure this is something Kubernetes itself should tackle, at lest not in "core".  If some implementations (CNI vendors or clouds or ...) want to get together and work on a proposed API and behavioral spec that could be implemented in their own ways, nobody would ob

[2020-04-02 17:30] #89532 closed

[2020-04-02 17:49] chenkaiyue commented on #88912
@Waitfish have you opened StartupProbe feature-gates?

[2020-04-02 17:51] andrewsykim commented on #89729
@lbogdan do you happen to have a start up script that loads the necessary IPVS modules or is it preloaded on your nodes? Wondering if there could be a race between when the modules get loaded and when proxy starts up. Either way we should log the error (https://github.com/kubernetes/kubernetes/pull/89785).

[2020-04-02 17:54] lbogdan commented on #89729
@andrewsykim Neither, but if you give me the module list I can try to load them before creating the cluster to see if I still get the panic.

[2020-04-02 18:08] MikeSpreitzer commented on #89772
@liggitt : the surprise is that field selectors on metadata.namespace and metadata.name contribute to the authorization decision.  For example, https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources "RBAC refers to resources using exactly the same name that appears in the URL for the relevant API endpoint" and continues with an example showing a URL for an individual,

[2020-04-02 18:13] thockin commented on #89440
It sounds like this is a dup of #88543.  Closing in favor of that one.

[2020-04-02 18:13] #89440 closed

[2020-04-02 18:14] caesarxuchao commented on #87615
If the underlying issue was "http2 using dead connections", then restarting kubelet should fix the problem. https://github.com/kubernetes/kubernetes/pull/48670 suggested reducing TCP_USER_TIMEOUT can mitigate the problem. I have opened https://github.com/golang/net/pull/55 to add client-side connection health check to the http2 library, but it's going to take more time to land.

If restarting kube

[2020-04-02 18:17] mike-stewart commented on #48180
/remove-lifecycle stale

[2020-04-02 18:19] thockin commented on #89392
Just to clarify:

You have a master which is running pods.

You power off that aster.

The pod gets migrated (after how long?) to another node.

But IPVS is not updated?

Can we take a step back - is it that the IPVS rules did not get updated or that the Endpoints resources did not get updated?  Can you reframe the issue in terms of Service and Endpoints?

[2020-04-02 18:24] smijolovic commented on #89675
Same results:

make clean
make all WHAT=./cmd/kubeadm

+++ [0402 18:21:31] Verifying Prerequisites....
+++ [0402 18:21:51] Building go targets for linux/amd64:
    ./vendor/k8s.io/code-generator/cmd/deepcopy-gen
+++ [0402 18:22:02] Building go targets for linux/amd64:
    ./vendor/k8s.io/code-generator/cmd/defaulter-gen
+++ [0402 18:22:09] Building go targets for linux/amd64:
    ./vendor/k8s.io/c

[2020-04-02 18:25] tallclair commented on #78737
/remove-lifecycle rotten

@msau42 - did the deprecation notice make it into 1.18?

/cc @dekkagaijin

[2020-04-02 18:26] thockin commented on #89208
Is this a bug or should it be closed?

[2020-04-02 18:26] #89084 closed

[2020-04-02 18:35] lewandom commented on #89680
@neolit123 to make me get that right, is the below correct?
- when using kubeadm 1.16.8 to install kubernetes 1.16.8, etcd 3.3.15 will be deployed,
- when using kubeadm 1.17.4 to install kubernetes 1.16.8, etcd 3.3.17 will be deployed.

Is that a correct behavior?

[2020-04-02 18:35] liggitt commented on #89772
Agree adding details about how resource name is determined to https://kubernetes.io/docs/reference/access-authn-authz/authorization/#review-your-request-attributes and https://kubernetes.io/docs/reference/access-authn-authz/rbac/#referring-to-resources would make sense.

[2020-04-02 18:43] thockin commented on #88698
I don't know this environment - when a packet arrives at a node through the LB, what does it look like?

There are 2 general answers:

1) { src_ip = real_client,   dst_ip = LB,   dst_port = service_port }  // VIP-like
2) { src_ip = LB,   dst_ip = node,   dst_port = node_port }  // proxy-like

[2020-04-02 19:03] lavalamp commented on #88091
Here's the options as I see them: https://docs.google.com/document/d/1_Oo9YTjjV6SQYtCP1k3gTqzwRkaKY1phGULz-G49cIk/edit (shared with the sig & working group lists).

[2020-04-02 19:10] thockin commented on #88458
I am very much in favor of this.  Being correct and precise in these flags is valuable.

To convince myself you were right, I wrote this program:

[code]

And then I ran it for various inputs:

[code]

In these flags and docs, we should be clear that if you are specifying a v6 addr and port you have to use `[ip]:port` syntax.

Or maybe we should just audit and fix ALL such places to support and do

[2020-04-02 19:13] liggitt commented on #89772
reopened as doc issue

[2020-04-02 19:13] thockin commented on #88390
Assigning to GCP folks, removing sig-net

[2020-04-02 19:13] serathius opened #89788 "Automatically assign reviewer from sig-instrumentation to PRs changing metrics"
**What would you like to be added**:
Automatically assigning reviewer from sig-instrumentation to PRs changing metrics

**Why is this needed**:
Having sig-instrumentation reviewer will help improving quality of metrics in k8s.

There were two ideas for this:
* Move all metrics to subdirectories with label in OWNERS
* Implement plugin in prow (proposed by @logicalhan)
* Presubmit that comments on P

[2020-04-02 19:24] neolit123 commented on #89680
i would say, yes it is correct.
ideally the 3.3.17 etcd bump should have also been backport to kubeadm 1.16 as it includes security patches.

[2020-04-02 19:26] logicalhan commented on #89788
Yay!! Awesome!!

[2020-04-02 19:27] thockin commented on #86907
Service controller does very generic work and then passes control to the cloud-provider.  It has no idea how to query whether the cloud-provider's LB implementation has been deleted, or mutated, or deactivated or whatever, or whether that is even a sensible statement.

If we want to make this YET ANOTHER cloud-provider callback, we could, but it seems to me that just doing it from within the cloud

[2020-04-02 19:30] MikeSpreitzer commented on #89772
@liggitt : BTW, using Kind=namespace is confusingly degenerate.  I had a colleague test with Kind=ConfigMap, specifying both namespace and name in field selectors NOT the URL's path.  He found that the SubjectAccessReview created for his Authorization webhook contained the name but not the namespace!  This was in release 1.14.

[2020-04-02 19:34] neolit123 commented on #89675
i reproduced the warning locally, but i do not know where it's coming from.
possibly something in `build/root/Makefile.generated_files`

the warning itself seems harmless.

/help
requesting help to debug why this warning is showing up.
the reproduction steps are in the comment above.

thanks.

/remove-triage support

[2020-04-02 19:37] neolit123 commented on #89675
removing area/kubeadm as this also happens for `make all WHAT=./cmd/kubelet`

/remove-area kubeadm

[2020-04-02 19:41] andrewsykim commented on #89729
For kernel <4.19:
[code]

For >= 4.19:
[code]
ip_vs
ip_vs_rr
ip_vs_wrr
ip_vs_sh
nf_conntrack
[code]

[2020-04-02 19:49] thockin commented on #86866
I don't understand what this means.  It sounds to me like something is coallescing requests and reusing connections

[2020-04-02 19:52] thockin commented on #86587
Can we close this and re-open if we get new signal?

[2020-04-02 19:55] thockin commented on #86471
Please take a look at https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ and reopen this if that doesn't address your issue :)

[2020-04-02 19:55] #86471 closed

[2020-04-02 19:56] thockin commented on #87603
@MrHohn this one seems important.

[2020-04-02 19:56] neolit123 commented on #89776
/sig storage

[2020-04-02 19:57] lewandom commented on #89680
Understood, in such case I'm closing this as working as designed.

[2020-04-02 19:57] #89680 closed

[2020-04-02 20:02] thecloudgeek commented on #63883
curious to understand what the f/w issue was too

[2020-04-02 20:05] thockin commented on #85552
I don't think this is something we can support generically without significant API machinery support, which is not on the roadmap.  We could add labels but ... why?  There are a lot of dimensions that we will end up having to cover.  Type alone is not really sufficient, since the hierarchy of types is breaking down (e.g. the proposal to have LB without NoePort).  So we'd need a whole family of lab

[2020-04-02 20:09] apelisse commented on #89679
I'm trying to look at this but I know very little.

/cc @lavalamp @wojtek-t

[2020-04-02 20:14] fedebongio commented on #89712
/assign @kwiesmueller

[2020-04-02 20:47] thockin commented on #85020
Docs is the "easy way" for sure. :)

I don't think the live migration is HARD, it's just tedious.

[2020-04-02 20:59] thockin commented on #83900
Hi, sorry this got lost.

It's hard to know exactly what's happening here.  It obviously works for some of us, or we'd have a lot more reports.

What kube-proxy mode are you running?

Can you paste a complete `iptables-save` from a node that is not working?

You switched CNIs along the way, which could have very material impact on this - can you help to rule that out?

Can you capture a tcpdump?

[2020-04-02 21:41] thockin commented on #84885
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-04-02 21:41] thockin commented on #84821
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-04-02 21:42] thockin commented on #83900
Hi, sorry this got lost.

It's hard to know exactly what's happening here.  It obviously works for some of us, or we'd have a lot more reports.

What kube-proxy mode are you running?

Can you paste a complete `iptables-save` from a node that is not working?

You switched CNIs along the way, which could have very material impact on this - can you help to rule that out?

Can you capture a tcpdump?

[2020-04-02 21:42] andrewsykim commented on #89358
/remove-triage unresolved

[2020-04-02 21:42] andrewsykim commented on #89520
/remove-triage unresolved

[2020-04-02 21:42] andrewsykim commented on #89520
Thanks @rikatz just waiting on https://github.com/moby/ipvs/pull/15 now

[2020-04-02 21:44] andrewsykim commented on #89729
/remove-triage unresolved

[2020-04-02 21:47] liggitt commented on #89734
see https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/timeout.go#L245-L257

/close

[2020-04-02 21:47] #89734 closed

[2020-04-02 21:47] caseydavenport commented on #89622
There was some recent discussion around performance issues with VXLAN checksum offload which manifested themselves when using Flannel or Calico in VXLAN mode - I wonder if that is what you're hitting here.

Here's the mailing list thread: https://groups.google.com/forum/#!topic/kubernetes-sig-network/JxkTLd4M8WM

I bring it up because accessing the pod or service IP will likely use flannel's VXLAN

[2020-04-02 21:50] thockin commented on #83723
This is a big part of why the annotations were considered a poor API.  There's no CNI calls after startup to re-program these.

The most correct answer is that we're probably not going to fix this until we have a more complete overhaul of the network plugin system, which includes some impact on pod lifecycle.

[2020-04-02 21:50] caseydavenport commented on #89622
/assign

[2020-04-02 21:55] caseydavenport commented on #89455
I don't think this is an issue with Kubernetes - if anything I'd recommend asking the Istio folks.

One thing to check is if there is a problem scheduling pods. For example, if your nodes are NotReady or if there are other taints which might be preventing scheduling of those pods.

Try `kubectl describe deployments` and `kubectl describe nodes` to get more information about why the pods aren't bei

[2020-04-02 21:55] #89455 closed

[2020-04-02 21:57] caseydavenport commented on #89383
@wfagan I believe this is what you're looking for: https://github.com/containernetworking/plugins/tree/v0.7.5

/close

[2020-04-02 21:57] #89383 closed

[2020-04-02 21:58] zimmertr commented on #33618
Neither of the posted solutions are working for me with Packer/Vagrant and RHEL 7 using Kubeadm to bootstrap a v1.18.0 cluster.

Some network information:
[code]

The `calico-node` daemonset also has `IP_AUTODETECTION_METHOD` set to `interface=eth1`. This is because my Vagrant VMs come up with `eth0` populated with `10.0.2.15/24`. I'm not sure why. But `eth0` has the proper IP Address supplied via

[2020-04-02 22:00] caseydavenport commented on #88090
/area test
/remove-kind bug
/kind cleanup

I don't think this is a bug in k8s, just a missing test.

[2020-04-02 22:05] caseydavenport commented on #51665
I think we can close this? This looks like it comes from a time prior to KEPs, and there doesn't actually seem to be any discussion on this issue.

/close

[2020-04-02 22:05] #51665 closed

[2020-04-02 22:08] rikatz commented on #89597
/remove-triage unresolved

[2020-04-02 22:08] rikatz commented on #89597
/remove-triage unresolved

[2020-04-02 22:09] rikatz commented on #86587
By now I think so

/close

[2020-04-02 22:09] #86587 closed

[2020-04-02 22:09] raftAtGit commented on #23726
one possible cause of this problem is, the `current context` in kube config is deleted with some tool and no current context remains.

check with:
[code]
and if there is no `current` context, make one current with:
[code]

[2020-04-02 22:20] thockin commented on #83628
You say "predefined" but it took me a minute to understand what this really meant.  Do you mean that the condition doesn't exist but is presumed to be true?  You can't create a pod and set `spec` and `status` at the same time, so you would have to first set it to true, and then set it to false.

Is that right?

@freehan if a readinessGate condition reverts from true to false, does readiness gate k

[2020-04-02 22:22] thockin commented on #83606
For people seeing this - please run through https://kubernetes.io/docs/tasks/debug-application-cluster/debug-service/ and if you still can't figure it out, come back to this.

[2020-04-02 22:22] #83606 closed

[2020-04-02 22:29] rikatz commented on #89597
/remove-triage unresolved

[2020-04-02 22:30] aojea commented on #24552
@robscott @thockin do you think this was solved by endpoint slices?

[2020-04-02 22:30] thockin commented on #83400
This came up in another context, and I think my comment https://github.com/kubernetes/enhancements/pull/1329#pullrequestreview-305298224 still is how I feel.

NetworkPolicy is all about allowing connections, and not at all about denying them.  I think you don't want NetworkPolicy, you want to set bounds for NetworkPolicy.

E.g. The example you specified isn't sufficient, because any other policy c

[2020-04-02 22:30] PxyUp opened #89797 "gRPC health probe proposal"
Hello kubernates team, I wanna implement grpc probe to be natively inside kubernates.

**What would you like to be added**:
gRPC health probe based on grpc health protocol

**Why is this needed**:
Will be consistent; grpc it is popular protocol for build microservice, so will be nice have it from box; 3rd part solution (extend docker image)

So if you give me green light , I am ready to implement

[2020-04-02 22:30] #84586 closed

[2020-04-02 22:31] thockin commented on #83400
I went ahead an re-titled this.  I like the idea, but it would need a KEP :)

[2020-04-02 22:32] PxyUp commented on #89797
/sig cluster-lifecycle

[2020-04-02 22:35] aojea commented on #44918
After being discussed in the KEP https://github.com/kubernetes/enhancements/pull/1534 current size seems enough, we can always revisit if we start to see limitations on the address size.

[2020-04-02 22:35] aojea commented on #44918
/close

[2020-04-02 22:35] robscott commented on #24552
Thanks for catching this! I've tested EndpointSlices with Services backed by 50,000 pods and performance has seemed relatively reasonable, definitely much improved over anything that Endpoints could offer. Unfortunately this will not be completely solved until nothing relies on Endpoints and end users could safely disable the Endpoints controller. I do think this is likely solved enough to close a

[2020-04-02 22:36] #24552 closed

[2020-04-02 22:39] tedyu commented on #89699
Please note that container name may contain dash:

kube-controller-manager-cert-syncer-6

[2020-04-02 22:43] aojea commented on #73158
/close
fixed by https://github.com/kubernetes/kubernetes/pull/87699

[2020-04-02 22:44] #73158 closed

[2020-04-02 22:45] aojea commented on #81675
/close

per last comment

[2020-04-02 22:45] #81675 closed

[2020-04-02 22:49] aojea commented on #69811
/close

Fixed by https://github.com/kubernetes/kubernetes/pull/88786

[2020-04-02 22:49] #69811 closed

[2020-04-02 22:52] aojea commented on #87197
/remove sig-network

[2020-04-02 22:56] aojea commented on #88720
/close

It seems it was also reported and solved here
https://github.com/kubernetes/dashboard/issues/5038#issuecomment-605649980

[2020-04-02 22:56] #88720 closed

[2020-04-02 23:01] fedebongio commented on #89734
/assign @liggitt

[2020-04-02 23:01] fedebongio commented on #89764
/help-wanted
We need to evaluate if is an easy fix, or at least document it if it's not

[2020-04-02 23:01] fedebongio commented on #89772
/remove-sig api-machinery
/sig auth

[2020-04-02 23:02] aojea commented on #89782
@fedepaol sorry for tagging you but seems that you added these tests that are failing 😅 , can you please take a look?

https://github.com/kubernetes/kubernetes/pull/87926

[2020-04-02 23:02] BenTheElder commented on #87197
I did take a look at upgrading this and it is going to be a bit involved, unfortunately some of the scripts use whatever qemu is installed to the host :man_facepalming:

I have a partial attempt at it somewhere but other things came up, I'm not sure if I have the bandwidth for this right now.

[2020-04-02 23:19] aojea commented on #87884
The network subsystem has to be configured using the corresponding kubelet flags,
https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/network-plugins/#usage-summary

By default , it uses `/opt/cni/bin/`,  but it can be modified using the corresponding flags in the kubelet, there is no autodiscovery

https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/

[

[2020-04-02 23:21] aojea commented on #89622
should we aggregate/redirect all these flannel/slowness/vxlan issues?

[2020-04-02 23:25] tisc0 commented on #2630
Hi,
I've seen all around the Internet the workaround with that weak initContainer running as root.
I've also been struggling with fsGroup, which apply only on the scope of the pod, not on each container in a pod, which is [also] a shame.
Just build a custom image (nonroot-initContainer) based on alpine, with sudo installed and custom /etc/sudoers giving my non-root user full power to apply the chm

[2020-04-02 23:37] hbagdi commented on #86889
I'm sorry about all the confusion in this thread. The `externalTrafficPolicy` is named in such a way that it is almost impossible to figure out which one does what. And cloud provider implementations (except Google) not respecting that makes the whole thing more difficult.

Here is the thing to clear out the confusion between the traffic policy:

- *Local*: In this case, only the worker nodes that

[2020-04-02 23:46] MikeSpreitzer commented on #89772
While the target object name specified in either the URL's path or the URL's query will be considered in authorization and in APF, a target object namespace specified in the URL's query will be ignored by authorization and APF.

[2020-04-02 23:47] lavalamp commented on #89471
The linked code triggers when the generate name feature is used and it happens to choose an already existing name. In that case, retrying actually is OK, because the server will probably not try the same name again.

So, although surprising, I think this is WAI. Please reopen if that doesn't seem right.

[2020-04-02 23:47] #89471 closed

[2020-04-02 23:47] aojea commented on #40270
I think that this is no needed for this because TCP has it owns congestion control mechanism.

However, if there is still interest, the problem I see here is to define network congestion; is having 90% BW in bytes/per second for more than X mins? or a limit based on packet per second?
The later has a worse impact on the host performance than the former, also the BW problem is solved by TCP control

[2020-04-02 23:49] liggitt commented on #89772
limiting a watch to a single namespace was already possible via the URL path, so the fieldSelector inspection method for extracting request attributes was not extended to namespace

[2020-04-02 23:50] aojea commented on #30338
/close

Seems this is being discussed and distributed here
https://github.com/kubernetes/release/issues/885

[2020-04-02 23:51] #30338 closed

[2020-04-02 23:54] lavalamp commented on #89772
It's VERY confusing to having namespace selection possible in both the URL path, and via field selection, and have them checked differently.

That said, it isn't a security bug since the power to list over all namespaces (e.g., omit namespace in the path) is a superset of the power to list particular namespaces.

Why do we permit field selection of metadata.namespace at all?

[2020-04-02 23:55] msau42 commented on #85101
/lifecycle frozen

[2020-04-02 23:57] msau42 commented on #85101
@huffmanca would you be able to look into promoting the skip attach and pod info csi mock volume tests to conformance now that the features are GA?

[2020-04-02 23:58] liggitt commented on #89772
My guess is the same code was used for field extraction for downward API and fieldSelector matching long long ago

[2020-04-03 00:00] vaxinate commented on #77216
I have a similar problem to @colindean , or one very similar to it on version 1.14. Has anyone seen this recently on newer versions?

[2020-04-03 00:02] msau42 commented on #85972
/lifecycle frozen

[2020-04-03 00:02] lavalamp commented on #89772
We should either deprecate and remove that ability, or make it checked the same either way.

And document this in the mean time.

Does anyone even use this? It might not be hard to remove?

[2020-04-03 00:02] msau42 commented on #85661
/lifecycle frozen

[2020-04-03 00:05] aojea commented on #87197
/help-wanted

I think that maybe somebody can step up to help with this 😅

[2020-04-03 00:05] msau42 commented on #85659
/lifecycle frozen

[2020-04-03 00:06] msau42 commented on #68528
This is addressed in the CSI driver. We don't plan to address the race for in-tree.
/close

[2020-04-03 00:07] #68528 closed

[2020-04-03 00:10] lavalamp commented on #89772
(I don't actually want to know the answer, it was probably me, but in my defense, it would have been written before RBAC was a thing.)

[2020-04-03 00:17] karim-manaouil opened #89798 "Where exactly the metrics handlers are called in the apiserver ?"
Hi all,

Briefly, I want to know where exactly and during which phase of the HTTP request handling, the logic for processing apiserver_request_duration_seconds metric is called  ?

Grepping the source tree shows that the metric is a histogram that is [defined here](https://github.com/kubernetes/kubernetes/blob/5978856c4c7f10737a11c9540fe60b8475beecbb/staging/src/k8s.io/apiserver/pkg/endpoints/metr

[2020-04-03 00:18] davejhahn commented on #78761
I'm having the same problems described by others.  Using k8s 16.7 in Azure.  What I see is scale up works fine (with metrics from cpu and memory), and scale down does happen, but it falls short of the minreplicas.  In my case, I have that set as 1, and it falls back down to 2, 4, etc.... and stays there.  kubectl get hpa shows everything well below the thresholds.  This is a test environment only

[2020-04-03 00:23] #89610 closed

[2020-04-03 00:26] andrewsykim commented on #89358
From http://www.linuxvirtualserver.org/docs/persistence.html I think the key point here is:
[code]

I don't think "inactive connections" are considered "expired" so in this case as long as there are inactive connections, the persistence timer is not started. I think if we lower tcpFinTimeout enough (< 15s because that's the interval between connections) it should work. I'll verify shortly.

[2020-04-03 00:49] jingxu97 commented on #52172
/reopen

[2020-04-03 01:33] tedyu commented on #52172
/remove-lifecycle rotten

[2020-04-03 01:33] #77047 closed

[2020-04-03 01:41] chenkaiyue commented on #88912
@surekhakallam you mean  readiness probe ran before liveness probe or just Startup probe doesn't work?

[2020-04-03 01:42] zhouya0 commented on #89762
This PR will fix it. https://github.com/kubernetes/kubernetes/pull/89795 :)

[2020-04-03 01:53] Waitfish commented on #88912
Thanks!
I find this url now.
https://kubernetes.io/zh/docs/reference/command-line-tools-reference/feature-gates/

So it need to open StartupProbe feature-gates if use StartupProbe

[2020-04-03 01:55] carlvine500 commented on #26309
I resolved this by coredns docker ：

**step1: config Corefile**
in Corefile maybe you should change k8s master config refer: https://coredns.io/plugins/kubernetes/
[code]
**step2:config docker and then start it **
[code]
**step3: config nginx and then reload**
[code]

[2020-04-03 02:03] #85919 closed

[2020-04-03 02:07] gnufied commented on #82190
I am using this as a top-level issue to track some of the remaining issues and hence keeping this open for now.

/remove-lifecycle stale

[2020-04-03 02:08] gnufied commented on #82190
/remove-lifecycle rotten

[2020-04-03 02:16] MikeSpreitzer commented on #89772
Yes, I found code from colleagues doing that.  Apparently the authors were unaware that there was any important difference between the two ways of specifying the namespace.  [In fact there is: putting the namespace in the URL path makes the client work with fewer privileges.]  Given the lack of documentation, this is not inexcusable.

[2020-04-03 02:42] MikeSpreitzer commented on #89772
Since _this_ PR is in k/k, let's use it for fixing the comments in the code.  I made a PR in the doc PR (https://github.com/kubernetes/website/issues/20071) for the user-facing doc work.

[2020-04-03 02:48] andy-wolf168 commented on #88964
This issue has been resolved. https://github.com/kubernetes/kubernetes/pull/86195
Thank you very much. @tedyu

[2020-04-03 02:58] EvanPrivate commented on #89520
same issue,sloved by update kernel to 5.X

[2020-04-03 03:19] ApsOps commented on #40270
In my experience, TCP congestion control alone isn't sufficient. From my limited understanding, a saturated NIC would still lead to increased latencies. There's also a significant UDP traffic in most k8s clusters, mainly for DNS and statsd/datadog metrics.
I guess a bad NIC might also lead to network issues on a node.

So I'd still like at least one of these to be possible:
- make bandwidth schedu

[2020-04-03 03:46] spiffxp commented on #89740
Turns out triage was running off of stale data
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=ReplicationController%20should%20test

[2020-04-03 03:57] soolaugust opened #89800 "Kubernetes still pull image while imagePullPolicy is IfNotPresent and local image exist."
**What happened**:

Kubernetes still pull image while imagePullPolicy is IfNotPresent and local image exist.

**What you expected to happen**:

Kubernetes use local image instead of pull from remote registy.

**How to reproduce it (as minimally and precisely as possible)**:
1. download `k8s.gcr.io/kube-proxy:v1.17.1` locally.
2. use kubeadm to create kubernetes v1.17.1.
3. wait and see.

**Anythin

[2020-04-03 04:20] #89208 closed

[2020-04-03 04:28] andy-wolf168 opened #89802 "kubernetes v1.11.8: watch of *v1.Service ended with: too old resource version"
**What happened**:
[code]

1. The node1 reboot while creating service (selector={app=app-dc1}), and create successed with resourceVersion=3597644:

` Service(apiVersion=v1, kind=Service, ...}, clusterName=null, creationTimestamp=2019-09-11T05:18:16Z, deletionGracePeriodSeconds=null, deletionTimestamp=null, finalizers=[], generateName=null, generation=null, initializers=null, labels={app=dc}, name=

[2020-04-03 04:36] #84587 closed

[2020-04-03 04:38] yangxikun commented on #89657
spec.Completions， spec.Selector，spec.Template is not allowed to be updated.

[2020-04-03 04:40] #89260 closed

[2020-04-03 04:41] uablrek commented on #89358
@andrewsykim I set tcpFinTimeout=30 but connections are still sticky after 60s, please see https://github.com/kubernetes/kubernetes/issues/89358#issuecomment-606731216

[2020-04-03 05:09] brancz commented on #69507
/remove-lifecycle stale

On a second thought, since these metrics would be on the kubelet, the cardinality on this endpoint would be practically limited, and people for whom the cardinality is too high to ingest into prometheus can just drop them at ingest time via metric relabeling.

[2020-04-03 07:21] uablrek commented on #78994
Try to add;
[code]
in the env for the `calico-node`.

[2020-04-03 07:22] dashpole opened #89807 "Kubelet should evict before hitting the allocatable threshold for PIDs"
This is a follow-up to https://github.com/kubernetes/kubernetes/issues/89284.  cc @gongguan

/kind enhancement
/sig node
/priority important-soon

**What would you like to be added**:
The kubelet should perform eviction before the node allocatable threshold for PIDs is hit.

**Why is this needed**:
In the current state, if the node allocatable threshold is hit before the node eviction threshold is

[2020-04-03 07:23] dashpole commented on #89807
@derekwaynecarr adding container-level pid metrics to the summary API seems excessive... I wonder if we should accept an internal version of the summary API or something to avoid having to expose every metric we perform eviction on...

[2020-04-03 07:23] duylong commented on #89520
I didn't want to wait, I updated to kernel-lt in the version 4.4 . The problem is solved on my side :)

[2020-04-03 08:02] fedepaol commented on #89782
@aojea no problem! Sorry I broke CI :sweat_smile:

Now, I tried to reproduce it locally, and it looks like the netserver pod is crash looping because of:

[code]

Which is something we added as part of https://github.com/kubernetes/kubernetes/pull/87926
(see https://github.com/kubernetes/kubernetes/pull/87926/files#diff-9d927f627bf4d72d93edb3072c92a201R101)

When testing locally I tampered the agn

[2020-04-03 08:08] lbogdan commented on #89729
@andrewsykim I can confirm that, if I explicitly preload the `ipvs` modules, `kube-proxy` starts successfully the first time.

[2020-04-03 08:23] hakman commented on #78994
@uablrek I set the mode to "append" and run a new Kubernetes e2e test, but still the test related to this issue fails:
[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kops/8836/pull-kops-e2e-kubernetes-aws/1245979204193882112

[2020-04-03 08:29] uablrek commented on #78994
It was worth a try I guess. Can you see if the iptables rules are re-arranged so cali-FORWARD really comes after KUBE-* ?

[2020-04-03 08:35] tanjunchen commented on #89651
/assign
@neolit123
could you give more any information or documents about this?Thanks

[2020-04-03 08:44] aojea commented on #89782
@claudiubelu can you help/point/guide us with the agnhost version bump?

[2020-04-03 08:44] oxddr opened #89811 "[Failing Test] gce-master-scale-correctness: [sig-cli] Kubectl client Simple pod should support inline execution and attach"
**Which jobs are failing**:
gce-master-scale-correctness

**Which test(s) are failing**:
[sig-cli] Kubectl client Simple pod should support inline execution and attach

**Since when has it been failing**:
Last fail on 04/02. Two more flakes in last month.

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-correctness

**Reason for failure**:
[code]

**Anything else we

[2020-04-03 08:47] lbogdan opened #89812 "kube-apiserver exits with panic instead of error if not able to connect to etcd"
**What happened**:
When joining a new control plane node with stacked `etcd`, while the local `etcd` server starts and joins the `etcd` cluster, `kube-apiserver` can't connect to it and panics:

[code]

**What you expected to happen**:
Not sure if this is a bug per se, because in the end the `kube-apiserver` static pod restarts and starts successfully after the `etcd` server joins the cluster, but

[2020-04-03 08:49] lbogdan commented on #89812
/sig api-machinery

[2020-04-03 08:52] fedepaol commented on #89782
Also, another possible hurdle will be if the CI nodes do not have the sctp module loaded, but we need to get there first

[2020-04-03 09:00] tanjunchen commented on #89597
@duboc
any progress?  I can resolve  it  if you don't have  time.

[2020-04-03 09:00] aojea commented on #89782
hmm I see that this PR is adding that check

https://github.com/kubernetes/kubernetes/pull/88196/files#diff-0271719631052475f016fe6a805146d4R84-R85

[2020-04-03 09:01] tanjunchen commented on #89597
/remove-help

[2020-04-03 09:11] fedepaol commented on #89782
Not sure about that. My understanding is that the PR is checking that the module is not loaded after creating a sctp service (which, in theory, would happen when running a proper sctp application). As of today, the agnhost image is not equipped (yet) with such capability, so the loading is not supposed to happen.
See also https://github.com/kubernetes/kubernetes/pull/88196/files#r387876381

[2020-04-03 09:16] zbindenren opened #89813 "kubectl apply dos not work for environment variables in podpresets."
**What happened**:

I have the following podpreset.yaml:
[code]
I run:

[code]

Then I change the yaml to (see changed value):
[code]

I run the apply command again:

[code]

Then I check if the environment value has changed:

[code]

Interestingly I see the change in the annotation, but not in the env section.

**What you expected to happen**:
I would expect the following output:
[code]
**How to

[2020-04-03 09:18] zbindenren commented on #89813
/sig cli

[2020-04-03 09:34] SataQiu commented on #89358
The connections in the `TIME_WAIT` state will extend the duration of session timeout!

If you set sessionAffinity timeout as 5s. When a client accesses a VIP, ipvs will create a record with a state of `NONE`, with the expire time 5s. At the same time, a record with a state of `TIME_WAIT` is also created, with the expire time 120s. Both times decrease with the clock. In this case, the timeout of `T

[2020-04-03 09:40] SataQiu commented on #89358
Maybe we should always set sessionAffinity timeout greater than 2MSL.

[2020-04-03 09:41] kgamanji commented on #84244
Both of these suggestions fixed the kube-proxy state

[2020-04-03 09:45] claudiubelu commented on #89782
Sure. It's pretty straight-forward, and I have updated the README file to add information about this process: https://github.com/kubernetes/kubernetes/tree/master/test/images#making-changes-to-images

- make the necessary changes, and make sure to bump the agnhost/VERSION, and the version in agnhost/agnhost.go
- merge the PR.
- check the image building job here: https://testgrid.k8s.io/sig-testing

[2020-04-03 09:46] hakman commented on #78994
@uablrek Actually you were right, something was wrong in my test. After fixing it, all green:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/pull/kops/8836/pull-kops-e2e-kubernetes-aws/1245999707415646208

So, this solution works. Thanks :).

@caseydavenport Does this look ok from your point of view? Would it be safe to change the default for `FELIX_CHAININSERTMODE` to "append"?

[2020-04-03 09:48] fedepaol commented on #89782
@claudiubelu thanks!

[2020-04-03 09:53] gongguan commented on #89807
One concern on container level pid: how to distinguish whether pod `shareProcessNamespace` in  criStats when we need to add Pod pid stats like [cpu](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/stats/cri_stats_provider.go#L468).

[2020-04-03 10:18] zhouya0 commented on #89813
https://github.com/kubernetes/kubernetes/issues/45499

[2020-04-03 10:22] zbindenren commented on #89813
@zhouya0 thanks. That will probably not change soon. Closing issue.

[2020-04-03 10:22] #89813 closed

[2020-04-03 10:33] zhouya0 commented on #89800
Can you check if the image `k8s.gcr.io/kube-proxy:v1.17.1` exists on the node where the pod is schduled?

[2020-04-03 11:37] oxddr commented on #88808
I wasn't able to reproduce it at HEAD. `KUBE_BUILD_PLATFORMS=linux/amd64  make kubemark GOFLAGS=-v GOGCFLAGS="-N -l"` worked just fine.

[2020-04-03 12:22] mars1024 opened #89816 "unexpected podIP and hostIP in pod"
**What happened**:

Unexpected podIP and hostIP in pod, just like
[code]

**What you expected to happen**:

This is a host-networking pod, podIP and hostIP in status should be node's internal IP.

**How to reproduce it (as minimally and precisely as possible)**:

Set kubelet's cloud provider to `external`, then set some invalid addresses to node.

**Environment**:
- Kubernetes version (use `kubect

[2020-04-03 12:28] huffmanca commented on #85101
I can look into this!

[2020-04-03 12:28] huffmanca commented on #85101
/assign

[2020-04-03 12:32] neolit123 commented on #89651
hi, try asking in the #sig-apps or #sig-cli channels on k8s slack.

[2020-04-03 12:44] #84760 closed

[2020-04-03 13:06] flaviamissi commented on #87341
Hey @kazimsarikaya !

Don't mean to barge in here, but if the problem is solved shouldn't this issue be closed?

[2020-04-03 13:08] #87341 closed

[2020-04-03 14:06] codesome opened #89820 "Workload updates do not honor PodDisruptionBudget"
**What happened**:

I have 2 StatefulSets with 1 pod in each StatefulSet with a common label lets say `name: mycode`.

I have set up a `PodDisruptionBudget` on `name: mycode` with `minAvailable: 1`.

I applied a change using `kubectl apply` to both StatefulSets at the same time.

Both the pods terminated at the same time without honoring the `PodDisruptionBudget`.

**What you expected to happen**:

[2020-04-03 14:07] codesome commented on #89820
/sig scheduling

[2020-04-03 14:45] ahg-g commented on #81719
/close

The evaluation framework is in place now.

[2020-04-03 14:45] #81719 closed

[2020-04-03 14:51] andrewsykim commented on #89358
Yeah I was thinking about this but given we check 10 times that would make the session affinity tests really log. If there's another way to do this we should consider that. Maybe have the exec affinity pod send a FIN everytime so IPVS knows to close out the connection?

[2020-04-03 14:58] andrewsykim commented on #89358
Either way, it sounds like IPVS doesn't _really_ respect session affinity because of the behavior w.r.t TIME_WAIT connections :thinking:

[2020-04-03 15:04] obeyda commented on #55046
any update on this?

[2020-04-03 15:06] andrewsykim commented on #89358
We should atleast update existing docs with this limitation. Even if we add a fix now, previous versions are clearly impacted.

[2020-04-03 15:12] jtigger commented on #89600
/assign

[2020-04-03 15:19] ddl-retornam commented on #55046
A good way to stay updated is to subscribe to notifications on this issue.
leaving comments like this spams everyone silently following the issue for updates — 20 at last count ( not including you) — and doesn't help in getting the underlying issue resolved.

Hope this helps.

[2020-04-03 15:22] berthoug opened #89824 "External CA mode fail during kubelet-finalize"
**What happened**:
I set up the external CA following the instruction in https://kubernetes.io/docs/setup/best-practices/certificates/
I put the ca.crt in /etc/kubernetes/pki, created the different certificates and configurations (as indicated [here](https://kubernetes.io/docs/setup/best-practices/certificates/#configure-certificates-for-user-accounts)
When I run kubeadm init it fails with the fol

[2020-04-03 15:24] gongguan commented on #89729
According to this log `I0401 11:10:20.858228       1 server_others.go:259] Using ipvs Proxier.` , we can confirm second `CanUseIPVSProxier` check success, missing modules loaded after first failed check.
Reproduced this issue without loading `ip_vs` module and fix it in [#89823](https://github.com/kubernetes/kubernetes/pull/89823). It works without loading `ip_vs` module.

[2020-04-03 15:28] leexiaominghub opened #89826 "what is the difference among ServiceAccountTokenVolumeProjection & TokenRequestProjection & BoundServiceAccountTokenVolume?"
when I want to project a serviceaccounttoken to pod in order to use SDS of istio, according to docs of k8s, I found these three
feature gate related with it:

1.ServiceAccountTokenVolumeProjection
2.TokenRequestProjection
3.BoundServiceAccountTokenVolume

which confuse me.

what is the difference among them? thanks a lot

**Which jobs are failing**:
TokenRequestProjection
**Which test(s) are faili

[2020-04-03 15:28] berthoug commented on #89824
/sig auth
/sig Cluster Lifecycle
/sig Docs

[2020-04-03 16:53] ingvagabund commented on #85948
/close

[2020-04-03 16:53] #85948 closed

[2020-04-03 16:57] duboc commented on #89597
Hi @tanjunchen this should be done this weekend, thank you for your help!

[2020-04-03 17:02] rikatz commented on #88986
@hien is your environment virtual? I'll create some labs right now, and try to reproduce this here.

[2020-04-03 17:04] errordeveloper commented on #25625
/remove-lifecycle stale

On Fri, 3 Apr 2020 at 12:43, fejta-bot <notifications@github.com> wrote:

[2020-04-03 17:33] rikatz commented on #85395
Hi Tim, sorry if I'm being to much explicit, usually I write while thinking :)

In my opinion we can have 3 scenarios/points where something might be balanced:

1) DNS (as the original issue description), with weighted SRV records that might be balanced (for SIP, XMPP and other stufffs like that) so this is in the "Service" layer (or maybe make CoreDNS understand that). This is much more related t

[2020-04-03 17:42] whites11 opened #89831 "NodePort not accessible on LAN address if Pod is not running in the node"
I have a `NodePort` service backed by a few `Pods`.
On every node of the cluster (master or worker) I can reach the service just fine on either localhost or the LAN IP of the node.
If I try to reach the NodePort of a different node:

- it works just fine if the destination node is running the pod
- it doesn't work if the destination node is NOT running the pod (TCP handshake doesn't get an answer)

[2020-04-03 17:44] whites11 commented on #89831
/sig network

[2020-04-03 17:49] rikatz commented on #87277
@372046933 trying not to be annoying (sorry about asking this much) but what's your network card model? There's a similar issue here (https://github.com/kubernetes/kubernetes/issues/88986) which is also baremetal and might be suffering from the same problem.

As a test, is it possible to you to upgrade your kernel to another version, or maybe use another Operating System?

There's some discussion

[2020-04-03 17:50] rikatz commented on #88986
@davesargrad @hien

Trying not to be annoying (sorry about asking this much) but what's your network card model? There's a similar issue here (https://github.com/kubernetes/kubernetes/issues/87277) which is also baremetal and might be suffering from the same problem.

As a test, is it possible to you to upgrade your kernel to another version, or maybe use another Operating System?

There's some di

[2020-04-03 17:52] craiglpeters commented on #78947
/remove-lifecycle rotten

[2020-04-03 17:56] jsolbrig commented on #73666
This feature would be very useful.

[2020-04-03 18:00] rikatz commented on #87277
@372046933 I'm moving this discussion to #88986 as this seems to be duplicated.

Thank you

/close

[2020-04-03 18:00] #87277 closed

[2020-04-03 18:01] colltoaction commented on #26923
This is relevant for me the same way as for @krancour. Would it be fair to say that having a `minimum-container-ttl-duration` aligned with our fluentd configuration would be enough to preserve logs? I understand that if fluentd is stuck we would still lose logs, but I think we can take that risk. E.g we could set `minimum-container-ttl-duration` to 10 minutes.

Also, I see that `--minimum-containe

[2020-04-03 18:01] serathius commented on #89788
Updated issue to list two ideas for solution. I will look for someone from sig-testing/prow who can help us decide.
PTAL @logicalhan

[2020-04-03 18:04] serathius commented on #89788
/sig testing

[2020-04-03 18:04] logicalhan commented on #89788
I prefer the second option, because we can do it without buy-in (so we can just do it) from all the other SIGs (except testing, of course), so I suspect it's faster/easier to accomplish.

[2020-04-03 18:21] rikatz commented on #88023
I'll aggregate all the vxlan/flannel slow issues into #88986

Let's follow there

/close

[2020-04-03 18:51] pwittrock commented on #89600
Thanks for filing this.

@soltysh @seans3 this will break backwards compatibility on describe, but I think we have said in the past that the describe output is not stable.

How much does this just apply to secrets versus all resources -- e.g. other tools could store sensitive data in annotation for other resources.  The last-applied annotation is a special case since kubectl owns it.

Perhaps we s

[2020-04-03 18:53] liggitt commented on #89600
what is the threat model being addressed here, that the output of describing a secret would be logged?

[2020-04-03 19:44] rikatz commented on #89632
@cfabio please take a look into https://github.com/kubernetes/kubernetes/issues/88986

So far, if this is the same case as I'm seeing (CentOS 7.7, Kernel 3.10.0-1062.*, flannel + vxlan) you should disable tx offloading in the source of the communication and it will work.

I've been taking a look into ClusterIP cases but can confirm that this happens also with NodePort (made a test with your case).

[2020-04-03 19:45] rikatz commented on #89622
/close

We'll deal with all those CentOS 7 + vxlan + tx offload issues in #88986

[2020-04-03 19:46] #89622 closed

[2020-04-03 19:48] rikatz commented on #89468
@uablrek @itshikanov Let's move this to #88986 as this is a duplicate of the vxlan + offloading case

@itshikanov right now, you can test if the performance improves by disabling tx offload in all your flannel interfaces (all nodes). The problem happens in the source and not destination:

[code]

[2020-04-03 19:48] rikatz commented on #89468
I'll close and if this happens to be a different problem from the referenced issue above, please feel free to reopen.

@uablrek tks for the help in this issue :D

/close

[2020-04-03 19:49] #89468 closed

[2020-04-03 19:58] rikatz commented on #89468
Duplicate of #88986

[2020-04-03 19:59] Huang-Wei commented on #84922
+1 on making `FeatureGates` a common struct in component-base.

[2020-04-03 20:06] rikatz commented on #28483
@thockin I'm passing through some very old issues (like this one), do you still think we should move with this one and change the Service Object?

In my opinion this still can be useful but with EndpointSlices and the other moves, I don't know if in a near future this will still make sense.

If so, I can try to make a PoC here

[2020-04-03 20:07] rikatz commented on #24553
Should we keep this open with EndpointSlices also going on?

[2020-04-03 20:14] rikatz commented on #41881
@deitch Kubernetes 1.18 has been released with some enhancements, as you can see here: https://kubernetes.io/blog/2020/04/02/improvements-to-the-ingress-api-in-kubernetes-1.18/

One of them is the support for wildcard in hostname, and a better handling of Path.

As a remember that this an API change and also needs some attention of each ingress controller implementation, do you think it's enough a

[2020-04-03 20:15] aojea commented on #24553
ping @robscott  ;)

[2020-04-03 20:24] andrewsykim commented on #89520
Thanks for confirming. We'll still try to get https://github.com/moby/ipvs/pull/15 in since I'm sure other folks with older kernels will run into this issue.

[2020-04-03 20:24] andrewsykim commented on #89520
/retitle parseIP error with IPVS proxy

[2020-04-03 20:25] neolit123 commented on #89824
/remove-sig auth docs
/area kubeadm

[2020-04-03 20:26] andrewsykim commented on #89597
/area ipvs

[2020-04-03 20:32] neolit123 commented on #89824
yes it is, because there is no way for us to tell if the user set the value to false or the defaulting of go structs set the value of false. if the KubeletConfiguration had `*bool` it would have been possible.

you can skip this phase with `--skip-phases=kubelet-finalize/experimental-cert-rotation` but before we do that i would like understand more about the issue.

this guide there is valid. it m

[2020-04-03 20:35] neolit123 commented on #89824
/priority awaiting-more-evidence

[2020-04-03 20:37] spiffxp commented on #78749
/remove-lifecycle rotten
/assign @hh
Which of these remain uncovered by conformance tests?

[2020-04-03 20:43] liggitt commented on #89820
PodDisruptionBudget only limits pod evictions, which I think are only used when draining nodes.

When applying a new statefulset, the statefulset controller makes decisions about how to roll out the new pods based on the update strategy. Kubectl doesn't modify the pods directly (that is true for all workload API objects... the controller managing the object controls rollout of the new child object

[2020-04-03 20:43] liggitt commented on #89820
This is likely a documentation issue around what PodDisruptionBudget's intended use is, rather than a bug

[2020-04-03 21:05] davesargrad commented on #88986
Thanks for staying on top of this @rikatz

[2020-04-03 21:12] davesargrad commented on #88986
[code]

[2020-04-03 21:19] jtigger commented on #89600
If we found that omitting the `last-applied-configuration` annotation was addressing a valid threat, I thought it would follow that the same threat applies to _all_ annotations on a Secret since _any_ could contain sensitive data.

I've found myself conditioned to think of `kubectl describe secret` as "safe."  For example, when recording a demo, I wouldn't put it past myself to do this when verify

[2020-04-03 21:39] Jefftree commented on #85964
This is completed.

/close

[2020-04-03 21:39] #85964 closed

[2020-04-03 22:43] aojea commented on #71565
/reopen
/assign

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=%5C%5Bsig-network%5C%5D%20Network%20should%20set%20TCP%20CLOSE_WAIT%20timeout#7c197d63d1e41fc6f9ad

Looking at one job seems that the pod that is acting as a server is restarted continuously,

`I0403 12:08:23.039136    1387 status_manager.go:570] Patch status for pod "e2e-net-server_network-1968(ba1aaafa-f6b

[2020-04-03 22:44] aojea commented on #71565
/open

[2020-04-03 23:34] disconnect3d commented on #85314
Since this issue is still valid for some people out there and a workaround might sometimes be helpful, here it is: specify `--resource=podsecuritypolicies.extensions` instead of `--resource=podsecuritypolicy` when creating a role.

[2020-04-03 23:49] lukeschlather commented on #86388
/remove-lifecycle stale

[2020-04-04 00:01] lukeschlather commented on #28746
I'm confused by your comment "Once
we've proven a client experience improvement we can consider a server side
approach."

Do you mean that we need to make sure the APIs are solid before we provide client tools that call them in the way people would expect them to work?

I created #86388 which is another tool that kind of does something similar, it seems like there are a lot of instances where you

[2020-04-04 00:24] dhineshbabuelango opened #89844 "Not able to reach any services in any namespaces from one particular namespace(getting 502 bad gateway error)"
**What happened**:
I am running kubernetes as managed service in AWS(EKS). There is one namespace from which I ma not able to reach any services from any other namespaces. Getting 502 bad gateway error. I am able to resolve the svc hostname from my namespace which is having issue, even able to telnet but when I try to hit getting below error

![image](https://user-images.githubusercontent.com/5199

[2020-04-04 02:49] spiffxp opened #89847 "[Failing Job] pull-kubernetes-node-e2e-containerd is timing out"
**Which jobs are failing**:
pull-kubernetes-node-e2e-containerd

**Which test(s) are failing**:
Timeout

**Since when has it been failing**:
- Last good run (2020-04-03 11:00:09 +0000 UTC): https://prow.k8s.io/view/gcs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-node-e2e-containerd/1246029654804926464
- First bad run (2020-04-03 12:37:42 +0000 UTC): https://prow.k8s.io/view/gcs/kubernetes

[2020-04-04 03:09] admilazz opened #89849 "X-Stream-Protocol-Version header is not parsed correctly"
**What happened**:

I'm trying to establish a SPDY connection to exec into a pod. I sent this header:

    X-Stream-Protocol-Version: v4.channel.k8s.io, v3.channel.k8s.io, v2.channel.k8s.io, channel.k8s.io

The request failed with Forbidden - unable to upgrade: unable to negotiate protocol: client supports [v4.channel.k8s.io, v3.channel.k8s.io, v2.channel.k8s.io, channel.k8s.io], server accepts [v

[2020-04-04 03:12] admilazz commented on #89849
/sig api-machinery

[2020-04-04 03:22] #85887 closed

[2020-04-04 03:46] SataQiu commented on #89831
Duplicated with #89632 ?

[2020-04-04 03:54] pytimer commented on #87615
I have the same issue with v1.17.2 when restart network, but only one of node have this issue(my cluster have five nodes), i can't reproduce it. Restart kubelet solved this problem.

How can i avoid to this issue? Upgrade the latest version or have other way to fix it?

[2020-04-04 04:22] liggitt commented on #89812
Yeah, the storage signature needs adjusting to propagate the error:

https://github.com/kubernetes/kubernetes/blob/d236162778960d99a9b051b91fd62f7ea156cdf8/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresourcedefinition/etcd.go#L58-L59

/remove-kind bug
/kind cleanup
/priority backlog

[2020-04-04 05:24] SataQiu commented on #89358
Ref: https://github.com/moby/moby/issues/35082#issuecomment-382790576

[2020-04-04 05:41] #87800 closed

[2020-04-04 06:10] zouyee commented on #89701
/cc

[2020-04-04 06:25] ILovetheEarth opened #89855 "Nguyentiensy"

[2020-04-04 06:45] whites11 commented on #89632
I think I'm facing this same issue on two different clusters.
Not using flannel (AWS CNI and Azure CNI).
kube-proxy in iptables mode.

[2020-04-04 10:28] whites11 commented on #89632
For what it's worth, I can't reproduce this issue with a multi-node `kind` kubernetes v1.16.3 cluster.

[2020-04-04 12:29] subos2008 commented on #24957
This issue was linked from https://github.com/kubernetes/kubernetes/issues/29761 (and the source issue closed).

That original issue is saying we want to restart containers when secrets change. I see that as a simpler case than the more complex issue of signalling here. Secrets can be set in the environment, the viewable environment is in some ways set on process startup, so if a secret used to se

[2020-04-04 12:58] #89855 closed

[2020-04-04 13:35] 372046933 commented on #87277
@rikatz Thanks very much. I'll follow the issue there.

[2020-04-04 14:08] 372046933 commented on #88986
Do you mean disable the offload feature on the node where pod is deployed?  I found that `tcp segmentation-offload` is on in all nodes. And each nodes have two NICs that are managed by 802.3ad

[2020-04-04 14:09] #84855 closed

[2020-04-04 14:13] SataQiu commented on #89358
Emm... I have sent a PR(#89854) to test whether increasing the session affinity timeout can make CI pass. It seems to work well. This is not the best solution, but it can temporarily make CI work.
If there's another way to do this we should consider that.

[2020-04-04 14:18] balraj111 opened #89856 "Unable to add topologyKey: kubernetes.io/hostname in service"
**What happened**:
My requirement is that i want to send data to the local daemonset using service.
I dont want to use hostnetwork as well as Nodeport.

So, I created service with topologyKey :kubernetes.io/hostname and I enabled ServiceTopology and EndpointSlice in kube-proxy
this is my kube-proxy daemonset snippet:
    spec:
      containers:
      - command:
        - /usr/local/bin/kube-proxy

[2020-04-04 14:43] cfabio commented on #89632
@thockin `iptables-save` from slave1 (the one where the POD is in execution):
[code]
`iptables-save` from slave2:
[code]

@rikatz disabing TX and RX offload for flannel.1 interface on every node of the cluster (`ansible centos7-k8s-local -u root -a "ethtool --offload flannel.1 rx off tx off"`) seems to be an effective workaround on CentOS 7 with Kubernetes 1.18.0, Flannel and IPVS.
I wonder what t

[2020-04-04 14:54] tedyu commented on #89849
Thinking of the following change:
[code]

[2020-04-04 14:55] #89682 closed

[2020-04-04 15:17] liggitt commented on #89849
Since none of the accepted protocols include a comma, we should probably just iterate over all the headers, split by `","`, trim each resulting item, omitting empty strings when computing clientProtocols, regardless of the number of headers.

[2020-04-04 15:19] whites11 commented on #89632
It would be awesome to have an `iptables-save` example for a cluster not facing this issue to compare the iptables rules.

[2020-04-04 15:25] tedyu commented on #89849
[code]
The request from this issue is about X-Stream-Protocol-Version header.
Can you clarify which other header(s) should be parsed ?

If the change above is in the right direction, I can send a PR.

[2020-04-04 15:30] liggitt commented on #89849
Iterate over `req.Header[http.CanonicalHeaderKey(HeaderProtocolVersion)]`

[2020-04-04 16:11] #75488 closed

[2020-04-04 16:19] tedyu commented on #89812
/assign

[2020-04-04 18:48] neolit123 commented on #89816
/sig node

[2020-04-04 18:50] neolit123 commented on #89816
side note, <1.16 is unsupported by the k8s project.
please upgrade.

[2020-04-04 19:04] uablrek opened #89859 "Zero cpu's (cpu: 0) reported for nodes on K8s built on "master""
**What happened**:

When using K8s built on the master branch `v1.19.0-alpha.1.295+873fe1478a7984` the number of cpu's is 0 (zero);

[code]
Output from `kubectl describe node vm-002` [describe-node.txt](https://github.com/kubernetes/kubernetes/files/4432234/describe-node.txt)

**What you expected to happen**:

On `v1.18.0` and all others down to `v1.9.x` "cpu: 2" is reported, and the same is expec

[2020-04-04 19:06] uablrek commented on #89859
/cc @dashpole

[2020-04-04 19:14] #84783 closed

[2020-04-04 19:17] uablrek commented on #89859
Here is the kubelet log: [kubelet.log.txt](https://github.com/kubernetes/kubernetes/files/4432280/kubelet.log.txt)

[2020-04-04 19:35] maikelvl commented on #489
@smekkley Aaron Levy said in his talk:

https://www.youtube.com/watch?v=EbNxGK9MwN4&t=2488

@aaronlevy, do you still agree with this? 🙂

[2020-04-04 19:43] saraAlizadeh opened #89860 "Kubernetes Deletes Pods Periodically"
/sig storage
/priority critical-urgent
Hi everyone,
I'm experiencing something really weird in my cluster.
All my pods that have a pvc, are terminated periodically every 1 minute (approximately).

they are recreated again, terminated again and so on.

this has caused sooo many problems, like many many orphaned pod. work load is not deniable.

I see lots of error logs in my monitoring stack. which

[2020-04-04 20:16] admilazz commented on #89849
Thanks for the quick update. I don't know what the expected HTTP behavior is when you use multiple headers and also have lists in each header, but if the same rule applies that multiple headers should be treated the same as one header with the items separated by commas, then presumably:

    Foo: a, b
    Foo: c, d

should be the same as

    Foo: a, b, c, d

in which case @liggitt's suggestion of

[2020-04-04 20:19] admilazz commented on #89849
That said, presumably this could also be handled in a lower layer - in the HTTP layer where headers are parsed - which might fix similar bugs with other headers that might exist elsewhere. (I think the only general exception to the equivalency rule is the Set-Cookie header because in practice cookies can contain commas but aren't quoted.)

[2020-04-04 20:34] tedyu commented on #89859
It seems the node vm-002 couldn't be found, one example:
[code]
In 1.18-, there shouldn't be such log.

[2020-04-04 20:45] tedyu commented on #89859
Can the problem be reproduced with commit 7398c83afdfbf0497b8b924b9af6af40ab6c6f2b ?

thanks

[2020-04-04 20:51] alvaroaleman commented on #86792
This got fixed in https://github.com/kubernetes/kubernetes/pull/89747, `SelectorFromSet` will not attempt to validate anything and instead just construct an invalid selector that will then get rejected by the server.
/close

[2020-04-04 20:52] #86792 closed

[2020-04-04 21:16] #80428 closed

[2020-04-04 21:16] #81007 closed

[2020-04-04 21:18] alvaroaleman commented on #89820
@liggitt shouldn't the statefulset controller (and all other workload controllers for that matter) evict pods rather than deleting them? PDBs are pretty useless if the only thing that respects them is node draining

[2020-04-04 21:55] liggitt commented on #89849
That's correct.

Given all the currently supported protocols are available in all supported kubernetes versions (the most recent protocols were added in #13885 in v1.2.0 and in #26541 in v1.4.0), I'd probably just pick the specific protocol you want. If you wanted to detect a protocol failure, the X-Accepted-Stream-Protocol-Versions header is sent on a forbidden response due to protocol negotiatio

[2020-04-04 21:56] dims commented on #89859
@dashpole this one right? https://github.com/google/cadvisor/pull/2427

@uablrek can you please try pinning the vendored dependency of cadvisor to something earlier than when this was merged and let us know?

`9921cb3e218588027c037a68da71052b1cd985bb`

[2020-04-04 22:42] lrouquette opened #89862 "Liveness probe failed: OCI runtime exec failed"
**What happened**:
Command-based liveness probes are randomly failing with the below error:

This is a major problem for probes configured with `failureThreshold: 1` as the container is restarted, potentially causing outages.

**What you expected to happen**:
No failures, ideally.
More importantly, since it is the k8s component executing the command that failed, before the command itself is execut

[2020-04-04 22:43] lrouquette commented on #89862
/sig node

[2020-04-04 23:13] tedyu commented on #89862
Have you taken a look at https://github.com/opencontainers/runc/issues/1884 ?

[2020-04-05 00:01] lrouquette commented on #89862
/close

[2020-04-05 00:02] #89862 closed

[2020-04-05 00:08] Alcatros commented on #68211
Just had this in production, anyone knows how i can fix this ?

[2020-04-05 00:46] admilazz commented on #89849
That's good to know. I can just stick to v4, then, since I don't expect to need anything that old. :-)   Thanks.

[2020-04-05 00:57] #89729 closed

[2020-04-05 01:48] sarbajitpattanaik opened #89865 "Facing issue while adding a windos server 2019 worker node to K8 master"
Hi All, having this issue, if you can help:

kubeadm join 10.96.164.243:6443 --token v0rzbf.d8xwioz762gx957z --discovery-token-ca-cert-hash sha256:2f855d5997c18d54a677bef407b0954b2cde979503b0c313152276c40d5b9b4f --v=5
W0404 18:43:17.974224    2676 join.go:346] [preflight] WARNING: JoinControlPane.controlPlane settings will be ignored when control-plane flag is not set.
I0404 18:43:17.976219    267

[2020-04-05 02:02] gavinfish commented on #79606
I think this feature has not been implemented yet.
/reopen
/remove-lifecycle rotten

[2020-04-05 03:22] #51271 closed

[2020-04-05 04:26] zhangtbj opened #89866 "Is there any security issue when I open the chown or dac_override capabilities in kubernetes"
Hi all,
As a Kubernetes cluster admin, I was asked to enable the **chown**, **dac_override** and **fowner** Linux capabilities in the SHARED Kubernetes cluster for some special Pods.
But I found it is horrible to open these capabilities in Container: https://www.redhat.com/en/blog/secure-your-containers-one-weird-trick

I would like to know if the Pods can ONLY use these capabilities on the files/

[2020-04-05 04:28] zhangtbj commented on #89866
/sig security

[2020-04-05 05:50] uablrek commented on #89859
Um, how do I do that?

I altered "go.mod" but is made no difference. As much as I like go I dislike the "vendor" thing so I have not learned about it (and to be honest I hoped I shouldn't have to).

Anyway, you are right. I made a "git blame" on go.mod and found that the cadvisor was updated in this commit;
[code]
I checked out the commit before that and rebuild/run;
[code]
Then I checked out 4274

[2020-04-05 07:20] uablrek commented on #89859
Found it. Required kernel config;
[code]
Wthout this config the directory `/sys/devices/system/node/` does not exist and https://github.com/google/cadvisor/blob/16ebc4c053a49948dbb1dc75c64efcef86638b50/utils/sysfs/sysfs.go#L103 will fail. An error branch is taken here https://github.com/google/cadvisor/blob/16ebc4c053a49948dbb1dc75c64efcef86638b50/utils/sysinfo/sysinfo.go#L195-L202 and the cpu's w

[2020-04-05 07:57] shashank-k opened #89868 "static pod manifest updates are not reflected in the API server"
**What happened**:

I am trying to implement OIDC to Kubernetes but the I am getting the following error
[code]

Further checking I found the following issues

- when describing the api-server pod the ODIC flags are not found
[code]

My updated manifests look like below

[code]

I reckon there is a issue already open for the same but I am already using version 1.17 in which this issue should have

[2020-04-05 07:58] shashank-k commented on #89868
/sig Auth

[2020-04-05 08:03] shashank-k commented on #89868
Kubelet has been restarted as well

[2020-04-05 08:09] whites11 commented on #89632
I realised that changing the `Service`'s `externalTrafficPolicy` from `Local` to `Cluster` makes the networking work again. Not really a solution in my case, but it might help explaining the behaviour.

[2020-04-05 08:09] whites11 commented on #89831
I realised that changing the `Service`'s `externalTrafficPolicy` from `Local` to `Cluster` makes the networking work again. Not really a solution in my case, but it might help explaining the behaviour.

[2020-04-05 08:20] uablrek commented on #89831
For externalTrafficPolicy:local your problem *is* the expected behavior, at least for now. To be able to preserve the client address no NAT can be made on the node where the request is made, so the reply will not find it's way back. AWS will make sure that *external* traffic will only be routed to nodes where the pod is actually running. So traffic coming from an external client should always work

[2020-04-05 08:21] #89831 closed

[2020-04-05 08:48] whites11 commented on #89831
Thank you for your explanation @uablrek
Can you please just clarify how AWS is able to route the traffic to the right nodes? Any documentation I can read about this? I'd be interested in making this work on `Azure` as well.

[2020-04-05 08:50] juliantaylor commented on #68211
To work around the problem ensure that your deployments recreate the pods when you configmaps change, for example by adding a checksum of the configmaps to the annotations of the deployment/statefulset pod template.

[2020-04-05 09:09] uablrek commented on #89831
I have no direct experience of AWS (nor Azure) but all public cloud providers must ensure this. They have a controller that watches services of type:LoadBalancer and make sure traffic is routed to only to nodes with endpoints for services with externalTrafficPolicy:local.

It is trickier when you have a private cloud. You must ensure this yourself or use something that have the support, e.g metall

[2020-04-05 09:10] deitch commented on #41881
Hi @rikatz . Unless I misunderstood the release notes (thanks for referencing them here; I read the k8s 1.18 release notes in general, and missed the ingress part. Oops. :-) ), it doesn't do it.

The wildcard support listed there is `*.foo.com`, while this is looking for the exact opposite, `api.*`. However, if the wildcard support is more generalized and I misunderstood, such that `api.*` and `we

[2020-04-05 09:13] jjangga0214 commented on #86865
/remove-lifecycle stale

[2020-04-05 11:12] praseodym commented on #79234
/remove-lifecycle stale

[2020-04-05 11:20] adampl commented on #47202
@johnnyshields you should probably ask @soltysh to reopen.

[2020-04-05 12:13] 1nfility commented on #65500
Same issue here aswell.

[2020-04-05 13:03] ik9999 commented on #87615
I've fixed it by running this bash script every minute:
[code]

[2020-04-05 13:25] megarocks commented on #79224
+1

[2020-04-05 13:44] iwankgb commented on #89859
@uablrek have you been using publicly available kernel buil or Linux distro? It would help us to replicate your problem.

[2020-04-05 15:13] uablrek commented on #89859
I build the kernel locally. It is not in any distro. My env is; https://github.com/Nordix/xcluster

But the problem would be the same for any installation without `CONFIG_NUMA=y`. I think very few are running K8s on non-standard distros, so this problem is not urgent I think. But if someone upgrade and have this problem they may fail to see the problem until suddenly some pods would not run. That

[2020-04-05 15:16] Moshem123 commented on #68941
Amazing. Wasted 3 hours investigating this. Turns out  calico-kube-controller didn't have any pods running.

[2020-04-05 15:20] uablrek commented on #89859
With `CONFIG_NUMA=y` everything works fine in my system.

[2020-04-05 15:29] robinwangrubin commented on #86471
I really appreciate your reply, I'm 100% sure about that both of my pods can be accessible. But only the Cluster IP can't be accessible.  I followed the official document to deploy K8S cluster.  The issue confused my for half a year.

[2020-04-05 15:30] robinwangrubin commented on #86471
I do have read the debug-service. but i still cannot finger it out.

[2020-04-05 16:02] andrewsykim commented on #89358
cc @lbernail

[2020-04-05 16:12] uablrek commented on #89859
Reading more code I think NUMA (Topology) may be a new feature in v1.19, right?

If so, my problem is no fault at all just a consequence of me using "master". If that is the case, sorry to waste your time and again thanks for your effort.

But mention in the release-note that NUMA must be configured in the kernel. I have seen issues complaining about warnings/errors when a statically built kennel

[2020-04-05 16:45] dims commented on #89859
@uablrek thanks for digging into this. We really need to support the previous scenario or get cadvisor to fail fast with a clear enough error message instead of what we do now.

cc @liggitt @dashpole

[2020-04-05 16:45] dims commented on #89859
/milestone v1.19
/priority critical

[2020-04-05 16:46] dims commented on #89859
/assign @dashpole

[2020-04-05 17:15] serathius commented on #89788
/cc @alvaroaleman

[2020-04-05 17:18] liggitt commented on #89868
static manifests are manager by the kubelet

/remove-sig auth
/sig node
/area kubelet

[2020-04-05 18:04] alvaroaleman commented on #89788
Hm, this is not a problem that has an obvious ideal solution. The prow plugin has the drawback that development will be cumbersome, because you only get feedback when a new version of Prow is deployed, which happens once a day at most.

Another option could be to build a tool that runs in a presubmit and comments with a `/cc $some_metrics_reviewer` on the pull if need be. This would require settin

[2020-04-05 18:22] neolit123 commented on #89865
please open the same issue in https://github.com/kubernetes-sigs/sig-windows-tools
thanks
/close

[2020-04-05 18:22] #89865 closed

[2020-04-05 19:19] ssasso opened #89869 "Masquerading is done by kube-proxy in ipvs mode also if LoadBalancer with externalTrafficType: Local"
**What happened**:
When using kube-proxy in ipvs mode, Masquerading is done also for LoadBalancer service types even if in externalTrafficType: Local. The traffic arrives at the service with the local worker node ip address as source.

**What you expected to happen**:
I am expecting that, when externalTrafficType is set to Local, no source NAT is done. This will allow to preserve the Client Source

[2020-04-05 19:21] ssasso commented on #89869
/sig network

[2020-04-05 19:38] #78554 closed

[2020-04-05 19:38] #84935 closed

[2020-04-05 20:49] mitar commented on #69637
/remove-lifecycle stale

[2020-04-05 20:51] AndrewSav commented on #47202
While I'd love this to be re-considered, I think the chances are slim. The team got together, discussed it and decided that this would cause too much additional work. This is not something that has changed since then, so the decision has not likely changed either.

[2020-04-05 20:54] mterron commented on #47202
Just take a look (and contribute!) to CronJobber. It does what everyone wants.

A PR rebased on the latest version of the CronJob controller would be great but it works perfectly as it is.

[2020-04-05 20:57] mdedetrich commented on #47202
They should then at least be consistent and remove the current implementation of cronjob then because its very misleading (to say the least).

[2020-04-05 21:09] AndrewSav commented on #47202
@mterron the problem with that one, is it was patched almost a year a go and has not been updated since, in the meanwhile we had a dozen of point releases of kubernetes with improvements and security fixes. So one cannot be confident running the stale contorller that he is getting advantage of all the latest changes and feature in cubernetes in this area.

[2020-04-05 21:15] mterron commented on #47202
@AndrewSav and that's why I was asking for help with it. I've done everything I can. I'm not sure there's any security risk with it though,  Kubernetes changes all the time but it doesn't mean that the change is meaningful in a security sense.

Having said that, a rebase would be cool, feel free to contribute and help with it.

[2020-04-05 21:29] AndrewSav commented on #47202
@mterron you are the author of that one aren't you? So given that even you cannot find time to do that, it is not likely that people would contribute into something that is no longer active. Would be extremely nice though, I agree. When that project was first pushed, I briefly considered if I gamble on it and put it into my clusters, and then I thought that chances of it being maintained are not g

[2020-04-05 21:35] mterron commented on #47202
No, I'm not the author. I'm just a user that contributes to projects I use when I can.
I understand where you are coming from but I think your expectations are a little high for something people do in their spare time for the benefit of the community.

[2020-04-05 21:40] #76316 closed

[2020-04-05 21:42] AndrewSav commented on #47202
@mterron I think I'm on the level with my expectations. If anything, they are low. That's the main reason I refrained from using the linked work in my clustres.

[2020-04-05 21:56] Bessonov commented on #57660
/remove-lifecycle stale

[2020-04-05 21:58] glebovmaksim commented on #79224
+1 to reopen

[2020-04-05 22:15] liggitt commented on #89820
I'll let sig-apps answer in more detail, but my understanding is that the disruption budgets are intended to cover cross workload eviction of pods for reasons unrelated to a requested rollout of a new version, like node drains.

Most workload API objects have rollout strategy options that describe the options available for controlling rollout of new versions.

[2020-04-05 22:37] benlangfeld commented on #47202
@AndrewSav you should do a diff between cronjobber and the upstream cronjob controller. Last time I did (1.17) there was no difference. The upstream cronjob controller is effectively unmaintained by your definition.

The upstream controller also has horrific performance characteristics, which of course cronjobber inherits.

[2020-04-05 23:06] ahg-g commented on #89701
I am not sure " Add types for scheduling plugin Args #87784" is part of this, we can always add those  later, but they are not blockers.

[2020-04-05 23:08] ahg-g commented on #86126
/close

this is actually done.

[2020-04-05 23:08] #86126 closed

[2020-04-05 23:25] tedyu commented on #89868
@shashank-k
Was reconciliation involved ?
You would see the following in kubelet.log:
[code]

[2020-04-06 00:01] balraj111 commented on #89856
After enabling ServiceTopology and EndpointSlice in api-server ,kube-scheduler and kube-controller it works

[2020-04-06 00:01] #89856 closed

[2020-04-06 00:17] balraj111 opened #89871 "Using service topologyKey hostname pods are sending data to the daemonset of the other node"
What happened:
Using service topologyKey hostname pods are sending data to the daemonset of the other node

apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
    app: my-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 9376
  topologyKeys:
    - "kubernetes.io/hostname"

What you expected to happen:
Pods only send data to the local daemonset

How to repro