[2016-03-02 06:46] nikhiljindal commented on #22300
#22305 fixed a bug due to which template hash was not being added to pods..
It is possible that that PR fixed this issue.

[2016-03-02 06:58] caesarxuchao commented on #22271
I think this is https://github.com/kubernetes/kubernetes/issues/19403 all over again. The Cassandra pod hasn't been assigned a node when the deletion happens, so it will be deleted with `grace period=0`(https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/pod/strategy.go#L115).
After receiving the deletion request from kubectl, APIServer *may* get context-switched before it actually d

[2016-03-02 07:09] tspecht commented on #22273
Yeah. Sorry for the stupid question, but how do I update my client?

[2016-03-02 07:09] davidopp commented on #21731
@justinsb Do you have an update on this?

[2016-03-02 07:10] davidopp commented on #20643
@justinsb Can you list the relevant PRs so we know when we can close this or at least downgrade it to P2? Thanks!

[2016-03-02 07:11] davidopp commented on #21382
ping

[2016-03-02 07:13] davidopp commented on #21806
no problem - hoping for a quick recovery!

[2016-03-02 07:14] wojtek-t commented on #12742
@erictune - yes - you can assume that support for protobufs will be done for 1.3

[2016-03-02 07:18] AdoHe commented on #22273
@tspecht you can checkout to `v1.2.0-alpha.8`, and run `make all` or `make all WHAT=cmd/kubectl`, thus you can get find latest kubectl under `_ouput` dir.

[2016-03-02 07:19] wojtek-t commented on #22262
Selectors have a fast reverse-lookup procedure.

@lavalamp Can you briefly describe it?

The number of matching RC, RS, services should be pretty low,

I agree. It should be O(1) in all reasonable cases.

I assume the problem is that finding that currently involves looping over all of them?

One thing is looping over all of them.
But the biggest issue is that we are looping over all pods, which is

[2016-03-02 07:21] AdoHe commented on #22296
This is strange:
[code]
why `edit` command needs this yaml file.

[2016-03-02 07:22] caesarxuchao opened #22337 "kubectl code cleanup: overhaul the resource alias introduced #6573"
https://github.com/kubernetes/kubernetes/pull/6573 introduces the alias for resources. As our code base evolves, this code needs overhaul. I've noticed several problems:
1. `aliasToResource` is a global variable, so every `DefaultRESTMapper` has the same alias map. https://github.com/kubernetes/kubernetes/blob/master/pkg/api/meta/restmapper.go#L492
   (This hasn't caused any bug yet because the pr

[2016-03-02 07:23] AdoHe opened #22338 "should we support mismatched client server?"
FYI. I meet this problem when answering user question #22273, I am thinking whether we should support mismatched client server communication? Guess we should.

[2016-03-02 07:24] resouer opened #22339 "rkt runtime apiVerson() returns binVersion?"
@yifan-gu I encountered this when fixing another issue, correct me if I made mistake :)

In apiVersion() :  https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/rkt/rkt.go#L1064

It seems rkt runtime returns `binVersion` instead of `apiVersion`, is this a bug?

[2016-03-02 07:28] wojtek-t opened #22340 "e2e flake: density and load are failing with too high latency of api calls"
Examples:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4970/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4955/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4967/

@gmarek

[2016-03-02 07:28] wojtek-t commented on #22072
All of the failures from @saad-ali are a different issue. One of them is because of failing kubelet, and for the others I just opened #22340 for it

[2016-03-02 07:29] wojtek-t commented on #22324
Closing as duplicate of #22340 - this is exactly the same

[2016-03-02 07:29] #22324 closed

[2016-03-02 07:36] fejta commented on #22291
http://submit-queue.k8s.io/#/history was restarted and doesn't preserve state I suspect is the problem. Going to ignore for now.

[2016-03-02 07:36] #22291 closed

[2016-03-02 07:37] chrislovecnm commented on #14642
@saad-ali ouch man ... 2-5 months? This has been open a long time.  I assume that this problem has caused a major re-write?  This is still on my oh crap tracking list with c-levels, please let us know when you have a closer ETA.  We have not hit it again, but I am waiting for the next time it nips us ... Having mysql not restart gracefully is ZERO fun.

[2016-03-02 07:44] smarterclayton commented on #20497
Having gone back to this for a few hours, I walk back a little my
support for separating force deletion and the termination period,
because it allows a new class of object - ghost pods.  These are pods
that are undergoing graceful termination, are *intended* to be on
nodes (if only to get clean shutdown) but for which no record exists
in the API.

That is the primary reason why grace period 0 is r

[2016-03-02 07:56] caesarxuchao commented on #22271
I think we can just ignore the error if api server replies the DELETE request with a "not found" error, i.e., ignore the "not found" error at this line: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/delete.go#L193

Because `kubectl delete` always issues a GET before issue DELETE, if user is deleting a resource that is never created, he'll still get the "not found" error.

[2016-03-02 07:57] tspecht commented on #22338
Just my (user) input: At least tell the user in a proper way and not throw JSON unmarshalling errors? ;)

[2016-03-02 08:02] tspecht commented on #22273
Works like a charm! Thanks a thousand times :)

[2016-03-02 08:05] davidopp opened #22341 "e2e kube-up flake: (gcloud.compute.instances.describe) Could not fetch resource"
[code]

[2016-03-02 08:31] metral opened #22342 "kubectl apply doesn't remove container args"
I'm running into an oddity where, as the title says, an update to a Deployment is not fully applying the new PodTemplateSpec onto the previous version, as components of the previous version remain around after the update.

I'm running v1.2.0-alpha8 on CoreOS 835.9.0

Here's an example of creating a Deployment (v1), and applying an update (v2) which simply removes certain parts of the original spec

[2016-03-02 08:37] metral commented on #22342
Tagging @bgrant0607 @nikhiljindal since I've seen both of your names across the Deployment code & issues :)

[2016-03-02 08:47] bgrant0607 commented on #22342
cc @janetkuo @kargakis

[2016-03-02 08:52] mdshuai opened #22343 "Pod is disappeared after exceed activeDeadlineSeconds"
[code]

[2016-03-02 08:54] bgrant0607 commented on #22342
@metral

RollingUpdate is the default update strategy:
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md#strategy

Change it to Recreate if you want all the pods updated immediately.

I assume that when you get the Deployment, the args are gone?

Does the status claim that all replicas have been updated?

Also, we're actively fixing lots of bugs in Deployment and

[2016-03-02 08:58] mdshuai commented on #22343
@pmorie

[2016-03-02 09:03] gmarek commented on #22181
I'm looking into it in free cycles.

[2016-03-02 09:03] kshcherban commented on #20786
With GCE (google container engine) (kubernetes 1.1.8) i can use private registry neither with putting customized .dockercfg into /root (tried also / and /var/lib/kubelet) nor with secret (kubernetes.io/dockercfg).

I see in kubelet logs on one of nodes:
[code]

Error means that docker tried to pull image without auth.

[2016-03-02 09:06] metral commented on #22342
https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/deployments.md#strategy

This `git-sync` container and another are sidecars to a main container in a Pod of mine, and I need the strategy to be RollingUpdate to minimize downtime for the main container, but I wish I could use Recreate for the side-car containers and RollingUpdate for the main.

If i'm understanding you correctly,

[2016-03-02 09:07] gmarek commented on #19895
@dchen1107 - do you have an idea how to 'create a deterministic environment' in a running cluster in other way than running those tests sequentially and waiting for all non-system namespaces to be deleted?

We can create completely artificial environment and rewrite this into integration tests, but I don't think it's a good idea. The situation in which we currently are, i.e. we can't make cluster

[2016-03-02 09:08] gmarek commented on #21563
@davidopp PTAL #22261

[2016-03-02 09:08] wjiangjay opened #22344 "Please provide some mechanism for giving specific pull secrets to pull infra image which is on an authenticated registry"
checked with the code on https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#1612

[code]

It pulll the infra image with the hardcode "nil" pullsecrets, so we can not pull an infra image on an authenticated registry.

Actually we can pre-pull the image on every node, but this is not a good idea.

[2016-03-02 09:12] davidopp commented on #19895
FWIW I think @dchen1107 actually was suggesting that we rewrite this one as well as #22181 and #22189 as integration tests. It might be OK to do it but I haven't had a chance to look at the tests carefully yet.

[2016-03-02 09:14] tspecht commented on #22273
Sorry for reopening this:
I successfully created the deployment and can see it using

[code]

However I don´t see any RC popping up for this? How can I troubleshoot this?

[2016-03-02 09:14] kargakis commented on #22337
cc: @deads2k

[2016-03-02 09:15] bgrant0607 commented on #22300
Another failure. kubernetes-jenkins/logs/kubernetes-e2e-gke/2063

Some of the new logging looks odd, too. Still more information, though.

[code]

[2016-03-02 09:15] mdshuai commented on #22344
@kubernetes/rh-cluster-infra

[2016-03-02 09:17] jianlinliu commented on #22344
Add some detail steps:
1. set up openshift v3 on an clean rhel os without pre-pulling infra images
2. Make sure point infra image to an authenticated registry.
imageConfig:
  format: <authenticated-registry>/openshift3/ose-${component}:${version}
  latest: false
3. Trigger the first deployment.
$ oc get po
NAME                       READY     STATUS              RESTARTS   AGE
docker-registry-1-de

[2016-03-02 09:37] gmarek commented on #19895
Rewriting this into integration tests will certainly help. The question is are we happy with the state, when we can't make the cluster stable.

[2016-03-02 09:41] mysterytree opened #22346 "What's the difference between type: NodePort & type: LoadBalance"
[code]
[code]
Two methods all support loadbalance .

[2016-03-02 09:46] kargakis commented on #22308
@bgrant0607 can you link any issues that need to be fixed before we proceed here?

[2016-03-02 10:09] gmarek commented on #22189
OK, I finally understood @yujuhong comment: https://github.com/kubernetes/kubernetes/issues/22189#issuecomment-190499518

This test indeed prints pods that Kubelet thinks are on them, and there's only 104 of them (not 110 as scheduler seems to think). This suggests that indeed there might be a bug in scheduler cache @wojtek-t @davidopp @dchen1107 @hongchaodeng

[2016-03-02 10:13] gmarek commented on #21947
As it keeps coming up: I think this is a problem, that we should fix for 1.3, but it's not serious enough to make some serious changes so close to release. To deflake tests (a bit), we can nuke (scale rc to 0) all addon pods at the beginning of the test, start them again and hope that scheduler will put them on some other Nodes. Resource usage spreading would work in our favor, but preferring Node

[2016-03-02 10:17] sdminonne commented on #7562
/sub

[2016-03-02 10:30] cheyang commented on #22335
But my issue with k8s `1.1.2` is
-  If I run

[code]
I can't see sNAT for all in iptables

[code]

- Then If I run
[code]
I am able to see sNAT for all in iptables this time
[code]

- The difference is '--v=1',  I want to know is what '--v=1' affects?

[2016-03-02 10:31] gmarek commented on #22259
It happened on my own 100 node cluster. It happens way to often to ignore this if we want to claim that we support 1000 node ones. cc @davidopp

[2016-03-02 10:42] piosz commented on #19403
This happened again:
[code]
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22171/kubernetes-pull-test-unit-integration/17070/

[2016-03-02 11:22] wojtek-t commented on #22340
@davidopp

We started looking into it with @gmarek and it clearly looks like a regreesion (or even few regressions).

Below observations are based on http://perf-dash.k8s.io/

1. looking into "List" "pods" "Density" graph - it seems like a regression around 4915 run
2. looking into "Get" or "Put" or "List" "replicationControllers" "load" graph - it seems like a regression around 4948 run (similarl

[2016-03-02 11:30] gmarek commented on #22340
@ixdy @spxtr - are any of you aware of any configuration changes made last weekend?

[2016-03-02 11:36] wangkirin commented on #11893
@dalanlan  sorry to bother you : )
when I tried to install k8s on ubuntu 14.04 ,I met similar problem with @SunWeicheng0001 ,
when executing `kube-up.sh`, everything seems ok

[code]
and there are some error info in `kube-controller-manager.log `
[code]

in `kube-proxy.log`, there are following errors , and the `10.67.147.210` is the address of master node
[code]

and other logs seems ok,
could yo

[2016-03-02 11:44] dalanlan commented on #11893
@wangkirin Please check out whether the components are functioning well or not. The log for kube-controller-manager is fine though.

[2016-03-02 11:55] gmarek commented on #22189
I'm trying to reproduce it locally without any success yet.

[2016-03-02 11:58] wojtek-t commented on #22340
Or to be more clear:
- the first one was Sunday 28th Feb ~noon PST time
- the second one Monday-Tuesday around midnight

[2016-03-02 12:41] erimatnor opened #22351 "Can not authenticate with service-account default token"
I have a pod that uses the default service account token in the pod to speak to the API server. However, sometimes this token cannot be used to authenticate with the API server and the logs give this error:

[code]

The same thing happens when manually reading the token from the service account secret with `kubectl` and using the token to `curl` the API server using the token.

It appears that the

[2016-03-02 12:42] deads2k commented on #22337
I don't see aliases are related the `RESTMapper`.  Aliases are about mapping one virtual resource to multiple actual resources (probably `map[string][]GroupResource`) and will only work effectively if the code making use of them understands the one to many expansion which is distinct from all the other `RESTMapper` functions.

I think I'd like to see a new interface for the expansion plumbed throu

[2016-03-02 12:57] erimatnor commented on #22351
Update: deleting the default token secret and letting Kubernetes create a new secret solved the problem. Still, it is a bit concerning that Kubernetes can allow invalid token secrets to stick around.

[2016-03-02 13:02] jimmycuadra commented on #11935
@piosz Yes, please! Very interested in this.

[2016-03-02 13:07] justinsb commented on #21382
This is PR #21471

[2016-03-02 13:13] wojtek-t commented on #22340
It's possible that the failures in load test were cause by #22340 which I already reverted.

However, there is still a problem of the first regression, which couldn't be related, because by PR was touching explicitly load test, and the regression is visible in density.

[2016-03-02 13:17] gmarek commented on #22189
I managed to get repro, and it's pretty straightforward - just run the test twice. Second run should fail. If not, repeat until it does.

[2016-03-02 13:26] wojtek-t commented on #22340
Looking into logs of apiserver of one of the failed runs:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-scalability/4970/consoleFull

It failed on "POST pods" requests (which was extremely high).

However, looking into its logs, I'm seeing a tens of traces like these:

    I0302 01:55:54.442176       6 trace.go:57] Trace "Create /api/v1/namespaces/e2e-tests-dens

[2016-03-02 13:36] gmarek commented on #22340
Looking at metrics we embed in results I notices that in load test there was a HUGE (<10x) spike in `kubelet_pod_worker_latency_microseconds` for `sync`:
[code]

This is consistent - minimums from 90 percentile from runs before 4935 are around 10k, from 4936 it > 100k. Nothing of substance was merged in 4936, so I expect some environment change. CC @yujuhong @ixdy @spxtr

[2016-03-02 13:51] pweil- commented on #22159
:+1:

[2016-03-02 13:51] pires commented on #4841
I don't think this is an issue anymore since services are much more powerful these days and satisfy the external access requirement.

[2016-03-02 13:51] #4841 closed

[2016-03-02 13:58] justinsb commented on #21895
Fix is in #21987 (waiting on #21907)

[2016-03-02 14:03] pmorie opened #22354 "Detect version mismatches between nfs client and nfs server"
We should look into checking the client and server NFS versions and validate the combination to provide debugging info when diagnosing issues with NFS mounts.  I don't know of a 100% portable way to do this, but generally rpcinfo can be used to get information about which versions a server supports and nfsstat can be used to get version information about the client.

@thockin @jmccormick2001 @kube

[2016-03-02 14:11] rootfs commented on #22354
[mount.nfs](http://linux.die.net/man/8/mount.nfs) is able to try v4 first, and fall thru to v3 if server doesn't support v4. That sort of serves the purpose.

`rpcinfo` results aren't really reliable: the NFS program and port can be registered but there is no guarantee the ports are served by NFS RPC daemons.

[2016-03-02 14:42] aveshagarwal commented on #19403
This error  "nodecontroller.go:331] pods "redis-proxy" not found" here seems related to the error in https://github.com/kubernetes/kubernetes/issues/22271 .

[2016-03-02 14:42] gmarek commented on #22189
#22355 will make things normal again. Repro from my previous comment is reliably working, so it should be easier to debug. The problem looks like cache not handling correctly Pod removal and keeping some ghost pods in itself.

Reassigning to @hongchaodeng

[2016-03-02 14:53] derekwaynecarr commented on #22340
@gmaerk @wojtek-t - I am unable to see the logs referenced, but am I understanding correctly that 90% of the time, the call is taking 10ms, but it peaks at ~2s?  My review of the density test appears to show that it creates a single namespace and basically adds variable amounts of pods in that namespace per node.  Nothing in that test screams out to me for why admission is chugging.

There were re

[2016-03-02 14:56] aveshagarwal commented on #22271
@caesarxuchao But as per cassandra test in hack/test-cmd.sh, cassandra pods are being created successfully, then why wouldn't they be assigned to a node? Also its not clear what is causing those pods to disappear that leads to this error. So it seems that the root cause is something else.

[2016-03-02 14:57] justinsb commented on #21731
Just testing the PR now :-)

[2016-03-02 15:00] bgrant0607 commented on #22342
What do `get pods -l name=git-deployment` and `get rs -l name=git-deployment` show?

[2016-03-02 15:02] wojtek-t commented on #22340
@derekwaynecarr

@gmaerk @wojtek-t - I am unable to see the logs referenced, but am I understanding correctly that 90% of the time, the call is taking 10ms, but it peaks at ~2s? My review of the density test appears to show that it creates a single namespace and basically adds variable amounts of pods in that namespace per node. Nothing in that test screams out to me for why admission is chugging.

[2016-03-02 15:02] ncdc commented on #21806
PR submitted for this - PTAL!

[2016-03-02 15:04] luxas commented on #17524
/cc @luxas

[2016-03-02 15:07] huang195 commented on #22237
I still seem to have this problem, but there's a workaround.
If I just `git clone` a fresh local repo and compile by `KUBERNETES_CONTRIB=mesos ./build/run.sh hack/build-go.sh`, it would result in the problem described above. But if I compile `release-1.1` first (which compiles fine), and then switch back to `master` branch and do another compile, it now works. This seems to be reproducible.

[2016-03-02 15:08] aveshagarwal commented on #22271
Just wondering that is there a possibility that time between creation and deletion of a pod is so less that the pod has not yet been scheduled to a node before deletion causing this kind of race condition?

[2016-03-02 15:11] justinsb opened #22359 "AWS: Jessie image should include Docker & Salt"
It looks at least like we're not installing Salt...

[2016-03-02 15:17] ncdc commented on #13585
@maclof we might be able to get away without a new v3 protocol version. If the client tries to create a stream type the server doesn't support, the client will receive an error back from the server for that stream. It would probably be sufficient to check for absence/presence of an error and proceed accordingly.

I do wonder about the websocket version of this, though. It may require a new subprot

[2016-03-02 15:26] #22315 closed

[2016-03-02 15:44] mwielgus commented on #20888
Probably. Please reopen if not.

[2016-03-02 15:44] #20888 closed

[2016-03-02 15:44] #11370 closed

[2016-03-02 15:45] piosz opened #22363 "Add more e2e tests for HPA"
* lightweight test which can be run in gce suite
* test which verifies that version v1 works

[2016-03-02 15:49] levmichael3 commented on #22142
Issue resolved. Its an older version. Thanks!

Sent from TypeApp

On Feb 28, 2016, 11:58, at 11:58, TonyAdo <notifications@github.com> wrote:

[2016-03-02 15:53] derekwaynecarr commented on #22340
@wojtek-t - we do not create a limit range by default in a namespace, and I do not think it should cause problems.

[2016-03-02 15:59] #15727 closed

[2016-03-02 16:09] steveeJ commented on #21923
@yifan-gu I'm not sure of the use-case.

* Why can't k8s not just use the hostname that rkt generates?
* How should rkt register itself to machined when a hostname is given?
* Could it suffice to update any additional hostname in the SkyDNS service running for the cluster?

In any case:
* In case of multiple networks, which IP should be used for the given hostname?

[2016-03-02 16:16] chbatey opened #22364 "Replication controller logs errors for full quotas"
The daemons log a lot of Errors for what seems like normal operational events. We're currently building out our monitoring for our clusters and we'd rather treat Errors as something that needs a platform member to look at asap. Here's an example:

[code]

This for us is business as usual as each team can use their allocated resources as they place. I'd rather this kind of message be logged at Info

[2016-03-02 16:19] AlbertoPeon opened #22365 "Updating gophercloud dep to last version"
We'd like to update the last gophercloud into kubernetes as it provides interesting bugfixes. I tried to do a merge request myself by following: https://github.com/kubernetes/kubernetes/blob/master/docs/devel/development.md#godep-and-dependency-management
but following the recipe didn't provide the expected results.

Could anyone update to the latest gophercloud?

/cc @spothanis as you did the las

[2016-03-02 16:20] therc opened #22366 "fluentd setup doesn't log any errors if ES returns 403s"
I had to use sysdig to figure what was happening on the wire:

`{"create":{"_index":"logstash-2016.03.01","_type":"fluentd","_id":"AVM0mi2HQ9RDUs1Z9dZu","status":403,"error":"ClusterBlockException[blocked by: [FORBIDDEN/8/index write (api)];]"}},`

I know that logging every failure creates a DoS vector, but perhaps `--emit-error-log-interval` could help here, assuming it does what I believe and ho

[2016-03-02 16:32] spiddy commented on #13299
I confirm, I can reproduce the same issue.

[2016-03-02 16:33] AdoHe commented on #21353
@nikhiljindal I have fixed this on my local, will open a PR asap.

[2016-03-02 16:33] arun-gupta commented on #22294
@thockin Here is what I changed:

[code]

Service looks like:

[code]

Can I run these `ip addr show` and `iptables-save` using kubectl? Amazon requires the private key for the launched instance. Where do I locate it?

[2016-03-02 16:39] ncdc commented on #22344
cc @kubernetes/rh-cluster-infra @kubernetes/sig-node do you all think we should add a flag to the kubelet to specify a pull secret to use to retrieve the pod infra container?

[2016-03-02 16:40] spiddy commented on #13299
Also seems to work when pods are stopped manually (stopped the pod where my IP was sending traffic and the sticky session redirected me consistently to another pod afterwards). Also RC replace is possible without triggering this issue (basically what the rolling update does).

[2016-03-02 17:02] ArtfulCoder commented on #20475
Assigning to @bprashanth
Seems that promiscous mode is not set on docker0 bridge on vagrant.

[2016-03-02 17:04] ArtfulCoder commented on #20475
Kubelet log says  ` Hairpin mode set to promiscuous-bridge but configureCBR0 is false`

[2016-03-02 17:04] wallnerryan commented on #12716
:+1: saw this today with 1.2-alpha.6 on CentOS 7. Everything was working correctly but this error threw us off for a bit digging around and debugging

[2016-03-02 17:05] ArtfulCoder commented on #20475
changing priority to P1, since it might be impacting other cloud providers...

[2016-03-02 17:06] jdef commented on #22237
related? http://stackoverflow.com/questions/14739188/how-to-fix-this-error-runtime-main-undefined-main-init

[2016-03-02 17:06] thockin commented on #22346
Support questions like this are better handled on StackOverflow where a larger community can see them and respond.  Also please make sure you have read over docs, and if they are not clear enough, please let us know.

http://docs.k8s.io/v1.1/user-guide/services.html

[2016-03-02 17:06] #22346 closed

[2016-03-02 17:06] jdef commented on #22237
possible culprit: https://github.com/kubernetes/kubernetes/blob/master/contrib/mesos/cmd/km/hyperkube_test.go#L18

[2016-03-02 17:07] jdef commented on #22237
upstream does this too:
https://github.com/kubernetes/kubernetes/blob/master/cmd/hyperkube/hyperkube_test.go#L19

[2016-03-02 17:26] bgrant0607 opened #22368 "Facilitate ConfigMap rollouts / management"
To do a rolling update of a ConfigMap, the user needs to create a new ConfigMap, update a Deployment to refer to it, and delete the old ConfigMap once no pods are using it. This is similar to the orchestration Deployment does for ReplicaSets.

One solution could be to add a ConfigMap template to Deployment and do the management there.

Another could be to support garbage collection of unused Confi

[2016-03-02 17:29] pmorie opened #22369 "Validate that a container does not try to mount two volumes to the same path"
Currently there is no validation to prevent a container from doing this, but there should be.

@derekwaynecarr

[2016-03-02 17:30] bprashanth commented on #20475
If configure-cbr0 is false it means the kubelet backs off from configuring anything on cbr0, or whatever your container bridge is. This includes promiscuous mode. The right fix is to modify the vagrant script to use --hairpin-mode=hairpin-veth. Anyone who wants to send a patch, feel free to do so, otherwise I'll probably get to this when I can.

[2016-03-02 17:35] therc commented on #22309
This is how to reproduce. Something to do with ports defined *and* hostNetwork. You can guess which ones crash loop and which don't:

[code]

I guess port definitions don't make any sense when using the host network? I was just trying to convert an existing setup away from pod networking.

[2016-03-02 17:35] thockin commented on #22369
It's really not even "the same path" but "any sub-path of another mount".
E.g. if I mount vol-a on /foo and volb-b on /foo/bar, any other container
using vol-a gets, at best, a `bar` directory that is empty.

On the other hand - is this really a bad thing to allow?  It seems a little
delicate but not invalid.  Mounting onto the exact same path is not likely
to be useful, I guess, whereas sub-mount

[2016-03-02 17:40] mikedanese commented on #22309
Thanks for the easy repo. I'm wondering if this is just for daemonsets or also rc's that have hostNetwork and a port

[2016-03-02 17:40] mikedanese commented on #22309
cc @kubernetes/goog-node

[2016-03-02 17:53] ihmccreery opened #22370 "Kubelet resource usage tracking flaked after node upgrades from v1.1 to v1.2"
**Kubelet [Serial] [Slow] regular resource usage tracking for 35 pods per node over 20m0s**

*/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/kubelet_perf.go:241 Mar 2 01:13:42.318: CPU usage exceeding limits: node gke-upgrade-gke-1-1-master-29bb566f-node-im5r: container "/kubelet": expected RSS memory (MB) < 78643200; got 79212544*

**Kubelet [Serial] [Slow] regular

[2016-03-02 17:54] ihmccreery commented on #22370
@dchen1107 for triage, then we can prioritize.

[2016-03-02 17:56] spiddy commented on #20022
This seems to be a duplicate of #13299

[2016-03-02 18:01] caesarxuchao commented on #22271
Hi @aveshagarwal

The log says its created successfully means the pods spec is written into the etcd, it doesn't indicate the pod has been assigned or is running.

As I said, this log entry
[code]
indicates the node controller has successfully deletes the pod, and the root cause is the race between api server deleting a pod and other components deleting the pod.

[2016-03-02 18:05] spxtr commented on #10423
We now get logs when kube-up fails, which recently happened [here](https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-gce/12631/) :)

Still some work to do here, I'll leave this issue open until timeouts are handled properly and `test/e2e/core.go` points here.

[2016-03-02 18:06] arun-gupta commented on #22294
@thockin @justinsb helped me login into the cluster and here are the outputs:

`ip addr show` gives:

[code]

and `iptables-save` does not show any output.

[2016-03-02 18:11] derekwaynecarr commented on #22369
For context, I ran into this for the following scenario:

1.  I have some files that are secret in a `Secret`
2.  I have some files that are not secret in a `ConfigMap`
3.  My application expects the set of files to be in `/etc/myapp/config`
4.  I wanted to mount both to the same path, but then realized, we probably don't support this ;-)

I am not sure how uncommon this is where applications co-m

[2016-03-02 18:12] caesarxuchao commented on #19403
I think the issue in #22271 is the same.
The last few lines of logs:
[code]
The symptom seems to align with my hypothesis in https://github.com/kubernetes/kubernetes/issues/22271#issuecomment-191097981. `nodecontroller.go:331] <nil>` suggests the nodecontroller has successfully deleted a pod (probably "redis-master"), so kubectl fails with `pods "redis-master" not found`. I'll add more logs in nod

[2016-03-02 18:12] huang195 commented on #22237
@jdef are you able to reproduce this problem in your environment with a freshly cloned local repo? The error message above seems to complain about `k8s.io/kubernetes/contrib/mesos/cmd/k8sm-executor`, which only have main.go and doc.go files.

[2016-03-02 18:14] krousey commented on #21862
As it is, there's not a lot of logs to help diagnose this. From what I can tell, the test timed out and also there were some network errors. @spxtr told me that #10423 is tracking the log collection issue and he hopes to have it fixed soon. I'm going to close this. Reopen if it occurs again and hopefully we'll have logs then.

[2016-03-02 18:14] #21862 closed

[2016-03-02 18:16] dchen1107 commented on #22370
@yujuhong I am about re-assign this to you since you are checking other resource usage tracking flakiness too. I think this is one of upgrade failures with lowest priority. I marked this as P1 for now to make sure there is no obvious failure in new kubelet source.

[2016-03-02 18:19] thockin opened #22371 "kubectl edit: no such file"
This used to work...

[code]

[2016-03-02 18:20] yifan-gu commented on #21923
One thing I can think of is we should keep the UX same for different container runtimes. Currently when using docker, the hostname is set to the pod name, so I think that's what users will expect for rktnetes.

Good question, if two pods have the same name, they will conflict with each other. Maybe as we discussed OOB, we can keep the `rkt-uuid` for registering, but set the hostname to the pod nam

[2016-03-02 18:21] janetkuo commented on #22371
@kubernetes/kubectl

[2016-03-02 18:23] lavalamp commented on #21887
If the problem is really bad, we could toss it somewhere on GCS?

[2016-03-02 18:24] thockin commented on #20022
Dup of #13299

[2016-03-02 18:24] #20022 closed

[2016-03-02 18:24] spothanis commented on #22365
Back when I was did it, the thing that didn't work was https://github.com/kubernetes/kubernetes/issues/10195. I followed the worked around described in the issue. Not sure what is happening now.

[2016-03-02 18:26] dchen1107 commented on #22322
I assume you are referring memory-exceeded OOM killer here. We asked docker to provide such information a while back, and looks like there is a regression now: https://github.com/docker/docker/issues/18510

[2016-03-02 18:27] metral commented on #22342
Here are the dumps of `kubectl ... -o yaml` for each

http://sprunge.us/JBdB

http://sprunge.us/cfbg

[2016-03-02 18:29] lavalamp commented on #22300
It seems like "test-recreate-controller-75g21" was in the list but stopped existing before it could be modified? Perhaps a node died and a pod was recreated?

[2016-03-02 18:35] pwittrock commented on #21605
Following up on this, it looks like go panics on SIGTERM, and the exitcode 2 is from the panic.  I have verified this by adding a panic("DONE") to serve_hostname.go and it exits 2 immediately.

I have a PR to add a signal handle to serve_hostname that should tell us if it is indeed getting a SIGTERM, or panicing for some other reason.  kubernetes/contrib#529

[2016-03-02 18:37] yujuhong commented on #22370
I already reassigned it to myself :-)

The kubelet on "gke-upgrade-gke-1-1-master-3e56fd74-node-rnnh" used a lot of memory (140 MB) **even before the test begins**.
[code]

There kubelet.log is incomplete and does not cover the time span where this test was run. I'll add more debugging information in the test.

[2016-03-02 18:37] thockin commented on #13299
I honestly am stumped by this.  I can not reproduce at head:

[code]

So this is either fixed at head or there's SOMETHING else happening.  Can someone who sees this bug try a head cluster (1.2 alpha)?

[2016-03-02 18:38] janetkuo commented on #22371
Filed #22373 to fix this

[2016-03-02 18:38] thockin commented on #13299
In fact, I will leave the LB up for a while - go ahead and try it against my head cluster.

[2016-03-02 18:44] alex-mohr commented on #21563
Sorry re: last comment.  There are still a bunch of rate limit exceededs when creating a cluster, but it seems to eventually come up.  And the rate limit exceededs eventually stop.  It's not great, but does eventually result in a functional cluster, so may be enough to unblock 1.2 and pick improvements to 1.2.x?

FWIW, I suspect the current triggers for rate limits are some of the following:
- Get

[2016-03-02 18:45] thockin commented on #22369
So I think we should validate that two volume Mounts don't use the same
path, because it is just impossible to imagine a case where that is useful
or correct.

As for mixing different sources in a single virtual mount dir, or even
projecting single files into extant dirs - we have issues open for those.
I think the latter is way more interesting in general.

On Wed, Mar 2, 2016 at 10:12 AM, Derek

[2016-03-02 18:46] jdef commented on #22237
Haven't attempted to reproduce as per your exact steps. But my typical flow
after switching between branches is to "make clean all" -- that has worked
every time for me. I'm a little swamped today, but I'll try to circle back
around to this

On Wed, Mar 2, 2016 at 1:13 PM, Hai Huang <notifications@github.com> wrote:

[2016-03-02 18:47] yifan-gu commented on #22339
@resouer Thanks for catching this, This is added originally in
https://github.com/kubernetes/kubernetes/pull/19675/files . I think I had some misunderstood of the change. Will push a fix.

[2016-03-02 18:50] hongchaodeng commented on #22189
Thanks folks for helping with it.

I found the root. If you look at the scheduler log, it has a long list of error messages.
In the scheduler cache I added a strong check with state machine.
I have gone through several refactoring in the scheduler cache and unfortunately in the last round I neglected something to update the pod state. I apologize for it.

Should be easy to fix. I will add a test f

[2016-03-02 18:50] thockin commented on #22290
kube2sky still does a pod watch, which might blow out resources.

Have we settled on a way to allocate resources for kube-system pods that considers cluster size?  This is going to keep biting us.

[2016-03-02 18:53] bprashanth commented on #22290
Yeah I noticed that. That's the most likely suspect.

I'm planning to extend https://github.com/kubernetes/kubernetes/issues/21500 to do it

[2016-03-02 18:55] janetkuo commented on #22302
This should be fixed by #22305. Please reopen if it happens again.

[2016-03-02 18:55] #22302 closed

[2016-03-02 18:56] thockin commented on #22290
Maybe I misunderstand #21500 (skimmed) - is it going to be parameterized?  On what?

[2016-03-02 18:57] thockin commented on #21692
ping for triage and status on where this is in the work queues

[2016-03-02 18:58] imkin commented on #22317
I ran ./hack/update-generated-docs.sh and see this error.

I am on ubuntu -wily

 ./hack/update-generated-docs.sh
+++ [0302 10:54:45] Building go targets for linux/amd64:
    cmd/gendocs
    cmd/genkubedocs
    cmd/genman
    cmd/genbashcomp
    cmd/mungedocs
# k8s.io/kubernetes/cmd/gendocs
_output/local/go/src/k8s.io/kubernetes/cmd/gendocs/gen_kubectl_docs.go:51: undefined: cobra.GenMarkdownTree

[2016-03-02 18:58] roberthbailey commented on #21563
Have you tested since https://github.com/kubernetes/kubernetes/pull/22099 was merged? Prior to that PR every node was making calls to the GCE API on startup.

[2016-03-02 18:58] thockin commented on #21681
demoting to P2, even though there is a PR in flight

[2016-03-02 18:59] thockin commented on #21651
I will circle back to this PR today, if it is ready for re-review

[2016-03-02 19:01] nikhiljindal commented on #22300
Happened again: https://github.com/kubernetes/kubernetes/pull/22332#issuecomment-191242971

[code]

[2016-03-02 19:02] thockin commented on #21523
Dawn or Yu-Ju - anything I can do to help?  This is tough one...

[2016-03-02 19:07] dchen1107 commented on #21523
@gmarek Can you send the logs on my way? Thanks!

[2016-03-02 19:08] alex-mohr commented on #21563
@roberthbailey Yes, it was sync from Monday evening, so did include #22099.

[2016-03-02 19:13] fejta commented on #18037
Jenkins is ran AWS tests on 3/1 and 2/29

[2016-03-02 19:14] davidopp commented on #22309
cc/ @kubernetes/goog-cluster

[2016-03-02 19:14] fejta commented on #22077
You should be unblocked now. Assign back to me if this is not the case.

[2016-03-02 19:15] alex-mohr commented on #22290
Re: OOM suspected, do we generate events in those cases?  How is a user supposed to debug such issues if it's in their pods instead of ours?  Can we do something better re: introspectability that will help both them and us?

[2016-03-02 19:16] bprashanth commented on #22290
@alex-mohr https://github.com/kubernetes/kubernetes/issues/22322

[2016-03-02 19:17] roberthbailey commented on #21563
Bummer.

[2016-03-02 19:17] bprashanth commented on #22322
@dchen1107 I'm asking that we send an event if we notice OOMKilled:true in docker inspect. If there's a regression we won't send the event, but in the happy case this will help.

[2016-03-02 19:19] nikhiljindal commented on #22273
In 1.2, deployment creates replica set instead of replication controller.
You can run `kubectl get rs` to get the replica set.

[2016-03-02 19:19] #22273 closed

[2016-03-02 19:23] saad-ali commented on #14642
I hear ya @chrislovecnm. Hang tight! We're working on https://github.com/kubernetes/kubernetes/issues/21931 It'll be part of 1.2.X and will greatly reduce the bite of this issue, by gracefully handling volumes on restart.  And the new controller shouldn't be too much longer either (i.e. before 1.3 release).

[2016-03-02 19:24] liggitt commented on #18760
the flag compatibility would be ideal, but I could live with a break there as long as we keep the ability to run against secured etcd

[2016-03-02 19:25] liggitt commented on #18760
either way, if the flag changes (from a config file to cert/key/ca args), or the format of the config file changes, we need a release note

[2016-03-02 19:25] alex-mohr commented on #21563
@lavalamp Perhaps you'd be interested in extending the charter of the (Google) CSI team to include the GCE cloudprovider bits?  Seems like there's a lot of overlap in terms of approach between preventing k8s clients from swamping k8s master and preventing k8s from swamping GCE?

[2016-03-02 19:25] liggitt commented on #18760
it's not quite fair to tag this as a breaking change, since the break happened when the flag was removed, but I want to make sure we call out what people need to do to continue running secured

[2016-03-02 19:25] derekwaynecarr commented on #20475
@ArtfulCoder on vagrant, you should be able to read kubelet logs from the journal.

[code]

[2016-03-02 19:26] lavalamp commented on #22340
I haven't finished reading, but could RC put increase be caused by something starting to use patch, which does a retry loop in apiserver on a conflict?

[2016-03-02 19:27] therc commented on #22309
I did a mass replace (apiVersion, kind, metadata/name, template/metadata/*) and see no crashes.

[2016-03-02 19:27] ghodss commented on #13585
As a simpler intermediate solution I'm sure it would be helpful to have the columns and lines at least set when kubectl exec starts, and as a subsequent enhancement have it always stay up to date as your terminal resizes.

[2016-03-02 19:28] caesarxuchao commented on #22271
Sent https://github.com/kubernetes/kubernetes/pull/22376 to show what pod nodecontroller has deleted.

[2016-03-02 19:28] davidopp commented on #22340
@fejta
@kubernetes/goog-testing

[2016-03-02 19:28] ncdc commented on #22309
@mikedanese do you need help debugging this? cc @sjenning

[2016-03-02 19:28] caesarxuchao commented on #22271
I'm closing this issue in favor to #19403.

[2016-03-02 19:28] #22271 closed

[2016-03-02 19:29] caesarxuchao commented on #19403
Sent #22376 to show what pod nodecontroller has deleted.

[2016-03-02 19:29] lavalamp commented on #22340
My reading of the perf dashboard is that 4938 is the first bad run.

[2016-03-02 19:30] spxtr commented on #18037
The cluster successfully comes up, but the two tests: `Services should be able to up and down services` and `SSH should SSH to all nodes and run commands` are failing. We can either close this and open a new issue or just track those here.

On release-1.1 branch there are lots of tests failing, but I don't think that's a priority.

[2016-03-02 19:30] ncdc commented on #13585
@ghodss that still requires all the plumbing to be able to have the client inform the server of the terminal size

[2016-03-02 19:31] ncdc commented on #13585
I have a prototype from months ago that implemented this. It's just a matter of finding some time to see it through to completion.

[2016-03-02 19:32] lavalamp commented on #22340
(Looking at pod delete there's a very clear bump there on 50%ile)

[2016-03-02 19:33] dchen1107 commented on #22340
cc/ @Random-Liu who is doing perf validation for docker 1.9.1 release.

[2016-03-02 19:33] justinsb commented on #21563
Did you see the shared-rate limiter we put in for AWS?  It's not the bestest, but maybe we could use it for GCE also!  Maybe with some improvements from getting more eyes on it!

https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/retry_handler.go

[2016-03-02 19:33] fejta commented on #22340
@ixdy says nothing has changed on the jenkins/infra side.

[2016-03-02 19:34] derekwaynecarr commented on #22340
how often is this test run?  is it per PR or daily?  when was it last run?

[2016-03-02 19:35] lavalamp commented on #22340
Actually my hypothesis for pod delete is https://github.com/kubernetes/kubernetes/pull/22156-- if you look at the load test instead of the density test, it ramps up slower.

[2016-03-02 19:35] maclof commented on #13585
@ncdc I was going to work on this on top of what you had implemented, but I haven't had the time. I am planning to work on it if nobody gets to it sooner.

[2016-03-02 19:37] pwittrock commented on #21605
bumped the version to 1.4.  Is there a way to query gcr.io to see what tags exist for an image?

[2016-03-02 19:37] Random-Liu commented on #22309
I reproduced this and found nothing wired in kubelet log, except that after the pod is added:
`I0302 19:27:07.744667    3364 kubelet.go:2364] SyncLoop (ADD, "api"): "ds-crash-vjqo4_default(c0bd8808-e0ac-11e5-a1b4-42010af00002)"`

There is a following update:
`I0302 19:27:07.860128    3364 kubelet.go:2367] SyncLoop (UPDATE, "api"): "ds-crash-vjqo4_default(c0bd8808-e0ac-11e5-a1b4-42010af00002)"`

Af

[2016-03-02 19:38] ncdc commented on #13585
It might be worth waiting until the 1.2 branch is created. Once that's done, I'll rebase #16451 and hopefully get that in, and then you could come on top of that.

[2016-03-02 19:38] lavalamp commented on #22340
That adds back a second write in the delete path, which adds to the number of updates RCs have to process, which could cause more status writes and hence more conflicts.

Hm, but that means we should have seen unexplained an improvement when the change that #22156 rolled back went in?

[2016-03-02 19:40] maclof commented on #13585
Sounds good to me. I'll keep an eye on that issue.

[2016-03-02 19:41] janetkuo commented on #22300
There's a "pod not found" error when we try to label it in `labelPodsWithHash`.

[2016-03-02 19:42] quinton-hoole commented on #22077
Yup, I think we're sorted thanks.  Will get back to you if I hit any snags.

[2016-03-02 19:42] gy8 commented on #13585
thanks guys!

[2016-03-02 19:42] janetkuo commented on #22300
Perhaps the pod is about to be deleted (rs scale down) when we list it and deleted when we label it.

[2016-03-02 19:43] jayunit100 commented on #18162
Ok, crafted two PRs to get us going.

- #22379
- #22380

[2016-03-02 19:53] davidopp commented on #21563
I think it makes sense to keep all of the cloud provider stuff as part of control-plane team for now, and I agree with Justin we should look at these problems holistically since the same themes will probably crop up on every cloud provider.

Whether anyone (on any team) has time to make the improvements in time for 1.2 is another story....

[2016-03-02 20:03] #20594 closed

[2016-03-02 20:06] gmarek commented on #10423
@spxtr - I can't thank you enough!

[2016-03-02 20:07] dmcnaught commented on #21692
I think this relates - updating the 1.2alpha8 cluster to use heapster v0.20.0-alpha9 and heapster_grafana:v2.6.0-2 worked for me:
https://github.com/kubernetes/heapster/issues/1003

[2016-03-02 20:07] gmarek commented on #22189
@hongchaodeng - no worries, I'm glad that's a small fix.

[2016-03-02 20:15] drocsid commented on #19033
I'm using the registry on a coreOS kubernetes cluster. The way I'm using it is to build and push images from a jenkins image that is running locally on the cluster. Since I don't have anything but a commodity hardware setup, I don't have the storage options of GCS or S3. It makes sense to me to tweak the registry image to accept an environment variable to configure this, if possible. That way we c

[2016-03-02 20:15] sjenning commented on #22309
@Random-Liu i am seeing this in the logs as well.

I also see this which is a little strange:

[code]

[2016-03-02 20:18] therc commented on #22309
I see all of the above, too.

[2016-03-02 20:25] janetkuo commented on #22300
We should ignore NotFound error when retrying labeling pods.

[2016-03-02 20:30] jchauncey opened #22382 "Expose controller manager and scheduler metrics"
Right now when you provision a new k8s cluster the `controller manager` and `scheduler` are bound to the loopback interface which makes it difficult to fetch their metrics. In this particular case I would love to know how long it is taking for pods to be scheduled on the cluster and be able to graph that over time.

[2016-03-02 20:30] bh016088 commented on #21613
I am having a similar problem.  I am not as familiar with the networking internals of Kubernetes as you, so bare with me.

My problem is when the service IP of the kube-dns service is assigned a cluster IP on the same subnet leased by flannel to a kube-node, you can't route to it from containers that live on that host.

I.E.
-Node1 is leased 172.16.34.0/24, Node2 is leased 172.16.35.0/24, Node3 is

[2016-03-02 20:36] ncdc commented on #22309
I think I found the root cause of this. https://github.com/kubernetes/kubernetes/blob/d7a7f87eeefd8abbe55c8c01ecf327653a2432d1/pkg/controller/daemon/controller.go#L597 adds a "new" pod that represents a potential pod for this particular node, and then it grabs all the pods for this DS/node and puts them in the list too. If a pod has already been created on this node for this DS, you end up with th

[2016-03-02 20:46] wojtek-t commented on #22189
@hongchaodeng - thanks for debugging! I will take a look into your new PR tomorrow.

[2016-03-02 20:51] bgrant0607 commented on #22371
Dupe of #22296

[2016-03-02 20:51] bgrant0607 commented on #22296
Using #22371

[2016-03-02 20:51] #22296 closed

[2016-03-02 20:52] #17632 closed

[2016-03-02 20:53] bgrant0607 commented on #17542
It's --validate.

[2016-03-02 20:53] janetkuo commented on #22300
Filed #22384 for not found error

[2016-03-02 20:53] vishh commented on #22317
@bgrant0607: Do you know who maintains the docs scripts?

[2016-03-02 20:56] wojtek-t commented on #22340
My reading of the perf dashboard is that 4938 is the first bad run.

@lavalamp
There are some issues with numbers - there may be few numbers off, if there are runs where cluster didn't started correctly. So it probably is not exactly 4938, but something around.

how often is this test run? is it per PR or daily? when was it last run?

@derekwaynecarr
We are running these tests in a loop - so gener

[2016-03-02 21:00] wojtek-t commented on #22340
BTW - note that #22349 helped with load test, but didn't fix the problem completely.

[2016-03-02 21:06] bh016088 opened #22385 "Can't route to Service from pod when Cluster IPs are on the same subnet"
I am seeing some strangeness I would like to discuss with the community.  I noticed it with DNS first but it turns out every service is having this issue.

Notes:
-multi-node on-premise Centos Kubernetes cluster.
-Kube v1.1.4, Docker v1.9.1, Flanneld v0.5.3.

When you dynamically allocate a Service Cluster IP it will give it an IP in the range of your service-cluster-ip-range.  I have also set my

[2016-03-02 21:12] fejta opened #22386 "Start collecting azure, aws cbuild logs others are running"
For our testgrid (currently just internal)

[2016-03-02 21:14] mikedanese commented on #22309
@ncdc the given example does not use a host port, just a named container port

[2016-03-02 21:16] mikedanese commented on #22309
@ncdc although the newPod logic seems like it is wrong for the reason you descirbe...

[2016-03-02 21:16] fejta commented on #21420
@jlowdermilk any progress?

[2016-03-02 21:17] bprashanth commented on #21523
We merged https://github.com/kubernetes/kubernetes/pull/22293 and expect this to be v. rare. If that's not the case (because honestly we haven't 100% understood the core problem and haven't invested time in a reliable repro) we need to discuss.

[2016-03-02 21:18] fejta opened #22387 "Unversion our test infrastructure"
Possibly by creating a testinfra repro

[2016-03-02 21:19] ncdc commented on #22309
@mikedanese in the example above, even though only containerPort is set, hostPort is set to match containerPort (maybe because hostNetwork is true)? And yes, the newPod logic needs some TLC :-/

[2016-03-02 21:22] janetkuo opened #22388 "Deployment controller should handle errors better when retrying updates"
For example, ignore pods not found error when trying to label it. https://github.com/kubernetes/kubernetes/issues/22300#issuecomment-191413641

We should also avoid retrying when the error is perm-failed (retry won't help), and emit events. We should also have pre-condition for retrying updates.

@kubernetes/sig-config

[2016-03-02 21:25] kargakis commented on #22342
I think I noticed this today when I was playing around with `apply`. And I think it's a problem specific to `apply`. @metral can you try to use `kubectl edit` (once https://github.com/kubernetes/kubernetes/pull/22373 is fixed) or `kubectl replace` and re-apply the change?

[2016-03-02 21:27] erictune opened #22389 "Improvements to API Documentation"
Here are some suggestions for improving our API documentation.

By API documentation, I mean:
- _Operations_: http://kubernetes.io/v1.1/docs/api-reference/v1/operations.html
- _Definitions_: http://kubernetes.io/v1.1/docs/api-reference/v1/definitions.html
- and so on for [other api groups](http://kubernetes.io/v1.1/docs/api-reference/extensions/v1beta1/operations.html) and newer versions (like 1.2

[2016-03-02 21:28] erictune commented on #22389
@lavalamp @bgrant0607 since we talked about this

@johndmulhausen the section "CSS Changes" is stuff that may be most immediately actionable for you.

@nikhiljindal since you last touched swagger generation I think.

[2016-03-02 21:28] bprashanth commented on #21605
@pwittrock thanks for the contrib pr

[2016-03-02 21:29] nikhiljindal commented on #21753
All the three failures mentioned above are the cases where we failed to add pod templete hash to the pod, which should be fixed by https://github.com/kubernetes/kubernetes/pull/22305.
Lets see if we get another failure of this type, now that the PR is merged.

[2016-03-02 21:37] yujuhong commented on #22259
@gmarek, do you have any log from the failure (kubelet, docker, kern). That'd definitely help.

We don't see this happening in jenkins enough to gather more information, so we don't have a reliable repro yet.

[2016-03-02 21:41] mwielgus commented on #21692
Yep, this should be fixed with heapster v0.20.0-alpha10 and grafana v2.6.0-2.

[2016-03-02 21:46] lavalamp commented on #22262
Oh, I missed that. We should just maintain a node-to-pod map. Then we don't have to worry about the selectors for a bit probably. And you must have meant O(#pods **+** #matching (RS, RC, services))? Surely we don't stack those two things, I can't imagine why we would do that?

[2016-03-02 21:47] lavalamp commented on #22262
(The selector speedup involves keeping indexes & merging sets-- I can look that up after 1.2 or @bgrant0607 might just know off the top of his head where it's documented)

[2016-03-02 21:48] bh016088 commented on #22385
Okay, I think I figured out the problem.  By changing the following argument on the kube-apiserver binary (--service-cluster-ip-range) to a subnet not available for flannel leasing, the service can't possibly get an IP in the same subnet as a pod.

[2016-03-02 21:48] #22385 closed

[2016-03-02 21:52] janetkuo commented on #22300
Changing the title since the "failed remove pods" error mode should be fixed by #22305.

[2016-03-02 21:53] lavalamp commented on #21563
agree w/ @davidopp. Happy to consult though, if needed/desired.

[2016-03-02 22:04] ixdy commented on #17536
I intend to delete the `conformance-test-v1` branch this week, since per #18162 we intend to use test tags + the release branches. Any objections to my doing this?

@erictune @kubernetes/sig-testing

[2016-03-02 22:05] yujuhong commented on #22259
It's obvious that docker is in a bad state that kubelet wasn't able to perform any meaningful operations. In fact, cadvisor didn't even finish initialization after kubelet restarts.
However, there is no suspicious messages in kern.log, so I think docker may be fixable through restarts. We need a better docker health in the daemon babysitter for docker.

[2016-03-02 22:12] timothysc commented on #22007
This is very similar to http://zookeeper.apache.org/doc/trunk/recipes.html#sc_leaderElection use of sequence number.

[2016-03-02 22:18] gmarek commented on #22259
Both me and @wojtek-t are seeing this quite frequently. I'll grab logs for you tomorrow if it's still needed.

[2016-03-02 22:26] yujuhong commented on #22259
Sure. Thanks! If we can get docker log with `--log-level=info`, that'd be great.

[2016-03-02 22:32] ihmccreery commented on #17536
SGTM.

[2016-03-02 22:32] ihmccreery commented on #17536
cc especially @spiffxp @jayunit100.

[2016-03-02 22:35] spiffxp commented on #18162
@ixdy it's probably a matter of digging up links that prove each of the items above has been addressed; PR's linked by @jayunit100 and work previously done by @ihmccreery have probably addressed the documentation concerns

two biggest things are probably:
- release-1.0: do we want to invest the time backporting all the release-1.1 cherry picks?  do we document it as a special case?
- aws: what hap

[2016-03-02 22:35] Random-Liu commented on #21125
Status update: Offline discussed with @dchen1107 and @bgrant0607 about this today. @bgrant0607 also thinks 2) is the way we should go.

[2016-03-02 22:37] justinsb commented on #18037
@spxtr those are failing on 1.2?  The default SSH username changed to "admin" if you're using jessie, which is now the default if you don't set KUBE_OS_DISTRIBUTION.  So KUBE_SSH_USER needs to be changed from ubuntu -> jessie.  I can file a PR for that.

I think service up and down is a flake, but I've seen it come and go also.

I would hope 1.1 should pass tests, but that shouldn't be a priority

[2016-03-02 22:39] yujuhong commented on #22025
We already have a workaround for the root cause in #19118 .

If the node is transitioning from ready to unready frequently, I'd like to take a look at the kubelet.log/supervisord.log to figure out the cause.

[2016-03-02 22:41] erictune commented on #17536
Ok

On Wed, Mar 2, 2016 at 2:33 PM, Isaac Hollander McCreery <
notifications@github.com> wrote:

[2016-03-02 22:41] spxtr commented on #18037
SGTM

[2016-03-02 22:44] arasheedu opened #22390 "vsphere support with provided kube.vmdk needed changes"
For a POC, I have been working on bringing up a Kubernetes cluster in an ESXi/VSphere environment (this is within a cloud provider so think nested VMs ) using the kube-up scripts. A few things with the vsphere support affected me, but I was able to finally work through all of them :-)

I had to use ESXi 6.0 as I had no luck with 5.1 from the "govc" tool

My environment being behind a proxy - I had

[2016-03-02 22:53] erictune commented on #22159
And seccomp modes and filters?

On Wed, Mar 2, 2016 at 5:52 AM, Paul Weil <notifications@github.com> wrote:

[2016-03-02 22:55] spiffxp commented on #17536
SGTM as well

[2016-03-02 23:09] tanen01 commented on #20475
@rideswitch thanks for checking this. I think we are both on the same page now. I first encountered this issue while trying out the new "iptables" mode. This was supposed to be a major highlight in k8s v1.1 release as it was said to improve "network tail latency by 80%".
Regarding the "other" issue you were seeing with kube-proxy not accepting --proxe-mode, I think you were using k8s v1.0.3 in tha

[2016-03-02 23:12] mml commented on #12611
@mqliang Having budgets match pods by label/selector makes it possible for each pod to be managed by multiple budgets.  We'd have to define the semantics (do we debit all budgets?  do we evict only if all budgets say it's OK?  do we define tie-breaking semantics?).  This is similar to the problem with multiple controllers "pointing" to the same pod, which we also need to resolve with `controllerRe

[2016-03-02 23:17] rideswitch commented on #20475
@tanen01 ok, sounds good.  Thanks so much for your help.
@bprashanth my kubelet doesn't support --hairpin-mode

[2016-03-02 23:21] jlowdermilk commented on #21940
More recents hits from kubernetes-e2e-gce:
[kubernetes-e2e-gce/12642](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/12642)
[kubernetes-e2e-gce/12648](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce/12648)

[2016-03-02 23:22] nikhiljindal commented on #19680
Another problem is that we use the same Pod model for different operations like create and update and the validations for both are different.

[2016-03-02 23:22] nikhiljindal commented on #22389
Related https://github.com/kubernetes/kubernetes/issues/19680

cc @caesarxuchao

[2016-03-02 23:24] bprashanth commented on #21940
My pr is still pending unfortunately, it's a rats nest. Hopefully in by today.

[2016-03-02 23:26] davidopp commented on #12611
+1 to @mml's comments above.

[2016-03-02 23:26] jlowdermilk commented on #22340
Currently causing roughly 1 in 5 runs of kubernetes-e2e-gce-scalability to fail. Recent hits:
[kubernetes-e2e-gce-scalability/4995](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4995)
[kubernetes-e2e-gce-scalability/4988](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4988)
[kubernetes-e2e-gce-scalability/4984](http

[2016-03-02 23:30] metral commented on #22342
@kargakis

I just confirmed that using `kubectl replace` instead of `kubectl apply` does in fact work, so it appears that `kubectl apply` is the culprit here.

Thanks for the tip!

[2016-03-02 23:37] spxtr commented on #18162
Here's the latest kubernetes-e2e-aws results: https://cloud.google.com/console/storage/kubernetes-jenkins/logs/kubernetes-e2e-aws/160/

We only run this once a day.

[2016-03-02 23:39] bgrant0607 commented on #18206
We should document the maximum backoff interval, how long the container needs to run successfully before the crashloop state is reset, and other things, like changing the image, that could reset the crashloop state.

cc @dchen1107

[2016-03-02 23:39] bgrant0607 commented on #18206
See also #17460

[2016-03-02 23:40] bgrant0607 commented on #21000
Paused deployments can't be resized and don't clean up old ReplicaSets. Fix is in progress (#20273), but didn't make it into 1.2.

[2016-03-02 23:42] yujuhong commented on #19895
How often does this test fail after adding the "waiting for the cluster to stabilize" function and why does it fail? I think for the majority of the time, this test should pass in our test environment, assuming nothing else can assign pods to nodes.

[2016-03-02 23:45] davidopp commented on #17851
@mml said he could look at this; @mikedanese is extremely overloaded right now

[2016-03-02 23:47] yujuhong commented on #22343
You pod has terminated. kubectl, by default, does not show pods in the terminated states anymore. Try `kubectl get pods -a --namespace=dma`
[code]

[2016-03-02 23:49] mml commented on #21690
yaml-quote is only used to generate kube-env.  @innovia Can you paste the kube-env strings for the master and nodes, with any obfuscations you feel necessary (certs, passwords, etc.)?

[2016-03-02 23:49] mml commented on #17851
@roberthbailey when you saw this, was it mac only?  and was it trying to bring up on AWS?

[2016-03-02 23:52] dchen1107 commented on #21523
#21703 and #22293 are merged to remove potential corrupted docker checkpoint files on every docker daemon restart. I can reproduce the issue very easily at node bootup time without those two prs.

But like I mentioned above, we might still run into this issue with churn of massive docker container creation and deletion. It should be very rare, and when we run into that issue:

* All pre-existing c

[2016-03-02 23:52] thockin commented on #21613
Support questions like this are better handled on Stack Overflow, where more people can see them.

In this case, you have an invalid configuration.  You can not use the same IP range for Services and Pods.

[2016-03-02 23:52] dchen1107 commented on #21523
cc/ @thockin @bgrant0607 @bprashanth

[2016-03-02 23:56] Ya5e opened #22396 "Document PVCs in user guide thorough walkthrough"
The [Kubernetes User Guide: Managing Applications](http://kubernetes.io/v1.1/docs/user-guide/README.html) describes Kubernetes concepts but does not include claims.

It would be beneficial to describe a *_claim *_for multiple reasons.

Its important to have some context when dealing with storage for example.

[2016-03-02 23:59] bgrant0607 commented on #21753
I haven't seen this recur for a while, so closing. We can reopen if it's not fixed.

[2016-03-02 23:59] #21753 closed

[2016-03-02 23:59] dmcnaught commented on #17851
@mml I see on Mac and AWS.

[2016-03-03 00:01] thockin commented on #21523
I want to see a doc that covers Docker versions and known issues, so that
WHEN this blows up, we can point people to it.  Sadly, we're stuck with a
string of Docker releases, none of which are "good".  It sounds like 1.9 is
the "least bad".

On Wed, Mar 2, 2016 at 3:52 PM, Dawn Chen <notifications@github.com> wrote:

[2016-03-03 00:03] jlowdermilk commented on #21420
I haven't actually started on this, been busy with GKE work for 1.2. I can get it done before next Monday.

[2016-03-03 00:03] bprashanth commented on #20930
Another issue was brought up on https://github.com/kubernetes/kubernetes/issues/20475. There's a segment of users who might've had --configure-cbr0=false (so we won't set promiscusou mode now) AND still be using docker0 and taking advantage of the fact that previously we were always setting the hairpin flag on their veths.

The new default of "hairpin-mode=off" protects them from the kernel bug. H

[2016-03-03 00:05] bprashanth commented on #20475
The issue described by @ArtfulCoder is captured in https://github.com/kubernetes/kubernetes/issues/20930#issuecomment-191501848, however I don't think @rideswitch is running into it because they're not using HEAD and they do have the hairpin flag set on all veths https://github.com/kubernetes/kubernetes/issues/20475#issuecomment-191056975.

[2016-03-03 00:06] mml commented on #21523
+1 @thockin

[2016-03-03 00:07] #21970 closed

[2016-03-03 00:08] mml commented on #17851
@dmcnaught can you share your kube-envs on https://github.com/kubernetes/kubernetes/issues/21690#issuecomment-191498328 ?

[2016-03-03 00:13] a-robinson commented on #21484
http://pr-test.k8s.io/22367/kubernetes-pull-build-test-e2e-gce/31438/

[2016-03-03 00:13] dmcnaught commented on #21690
@mml Here's my kube-up envs for this:
export KUBERNETES_PROVIDER=aws
export NUM_NODES=1
export KUBE_AWS_ZONE=us-east-1c
export AWS_S3_REGION=us-east-1
export KUBE_AWS_INSTANCE_PREFIX=k8s
export MASTER_SIZE=m3.medium
export NODE_SIZE=m3.xlarge
export AWS_SSH_KEY=$HOME/.ssh/k8s

[2016-03-03 00:19] mml commented on #21690
@dmcnaught I'm not looking for the environment on your machine.  kube-up generates a yaml file that becomes embedded in the startup script passed to the ami.  I'm looking for the contents of this file.

See https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/util.sh#L995

[2016-03-03 00:21] roberthbailey commented on #17851
It happens on GCE as well when using a Mac.

[2016-03-03 00:21] roberthbailey commented on #17851
And I've heard reports that it doesn't happen when you run kube-up on linux.

[2016-03-03 00:22] dchen1107 opened #22398 "Scheduler never discount the deleted pods on a node when calculating max-pods"
While debugging another issue, I found my pods pending forever:

[code]

Checking the reason on why pending, it looks like all hit max-pods limit here

[code]

But all my nodes are pretty empty except kube-system pods. I double checked the deleted pods, none of them are showed:

[code]

At this stage, I believe it must be scheduler issue which caches a wrong number. So I restarted my scheduler, an

[2016-03-03 00:23] dchen1107 commented on #22398
cc/ @yujuhong

[2016-03-03 00:24] dchen1107 commented on #22398
@davidopp @gmarek This issue might also cause some flakiness with SchedulerPrediction.

[2016-03-03 00:24] dmcnaught commented on #21690
This file? (Hasn't been updated locally)
kubernetes-1.2.0-alpha8/cluster/aws/util.sh
-rwxr-xr-x@ 1 duncan.mcnaught  staff    52K Feb 19 19:00 /Users/duncan.mcnaught/kubernetes-1.2.0-alpha8/cluster/aws/util.sh

[2016-03-03 00:28] erictune commented on #15103
The only thing to do here is to cherry-pick a change to the 1.1 release branch and then to the docs branch to explain how to do this on 1.1.  I didn't do that because it is a pain to deal with the branches, and 1.2 is coming soon.

 The docs at HEAD are correct for the code at HEAD, and when 1.2 releases, then the docs and 1.2 will be in sync.  Unless I'm missing something.

[2016-03-03 00:28] erictune commented on #15103
I removed the 1.2 milestone.

[2016-03-03 00:28] davidopp commented on #20497
@smarterclayton I don't fully understand your last comment. IIUC you are concerned about pods that are still on Kubelet but have been deleted from etcd by the master. I don't see how the proposal will make that worse. Any time you issue the delete from the master instead of from Kubelet, you can end up in this scenario. We already do it today in some circumstances.

My understanding of (3) is that

[2016-03-03 00:29] mml commented on #21690
No, that file generates the file I am interested in.  The file will have been handed to AWS as the --user-data flag to run-instances.

[2016-03-03 00:33] mqliang commented on #12611
@mml Sounds reasonable to me, agree! :+1:

[2016-03-03 00:33] mml commented on #17851
@roberthbailey I don't have a Mac right here.  Can you attach the kube-env that was generated?  There will be a kube-env key in the metadata from `gcloud compute instances describe kubernetes-master` (also one from a node please?).  Feel free to obfuscate passwords, tokens, certs, keys.

[2016-03-03 00:35] dmcnaught commented on #21690
Where does it get added? user-data is encrypted by the looks of it.

[2016-03-03 00:36] yujuhong commented on #22398
When did you build your cluster? #20669 (which adds the scheduler cache) was just reverted this morning (ref: #22189).

[2016-03-03 00:36] mikedanese commented on #22398
cc @hongchaodeng

[2016-03-03 00:36] thockin commented on #21284
I am open to better answers here.  I guess this will alleviate itself as we move more logic down towards plugins.

[2016-03-03 00:38] Stephenitis commented on #3920
+1

[2016-03-03 00:38] davidopp commented on #22398
Sorry Mike, didn't mean to unassign you - looks like a race condition in the UI.

[2016-03-03 00:39] davidopp commented on #22398
(I mean, the reason I didn't see you had assigned this to yourself was due to a race condition. Not that this bug is due to a race condition. :) )

[2016-03-03 00:39] dchen1107 opened #22399 "kubectl run --replicas=N doesn't work"
I tried to do some stress test against my cluster by running cmd: ./cluster/kubectl.sh run hostnames --image=kubernetes/serve_hostname --replicas=200 --port=9376 --labels=app=hostnames

It failed immediately with error:

[code]

kubectl get pods shows I only have one pod, not 200 replicas:

[code]

Also kubectl get replicaset shows I only asked for one copy:

[code]

This is definitely a regressio

[2016-03-03 00:39] bgrant0607 commented on #22270
Reviewed the revision-setting code. This is believed to be fixed. We should document the revision-setting protocol.

[2016-03-03 00:40] Morriz opened #22400 "Unable to write event, worker trying to talk to apiserver on port 80??"
I now get these in my worker's kubelet output:

[code]

I also wonder why its trying to talk over 80 to apiserver directly

[2016-03-03 00:41] lavalamp commented on #22399
I think this is caused by the scale work that hasn't been done, which @madhusudancs is implementing right now, but I'll verify

[2016-03-03 00:42] yujuhong commented on #22398
The PR was already reverted (#22189)

[2016-03-03 00:44] dchen1107 commented on #22398
@yujuhong I built my cluster yesterday afternoon. So it is possible the issue is resolved by reverting that bad pr. @mikedanese you can quickly verify it by reproduce that daemonset issue which you are working on. :-)

[2016-03-03 00:44] janetkuo commented on #22371
cc @bprashanth @AdoHe from the dupe PR

[2016-03-03 00:45] Morriz commented on #22400
strange thing is, on my master I see this in the kubelet logs:

[code]

[2016-03-03 00:55] bgrant0607 commented on #20572
We should add UID as a precondition to pod delete.

As for GET, we don't have an index by UID currently.

What I'd really like to do is store resources by UID in etcd, and create name records as symlinks, instead by storing resources by name. But I want multi-object transactions in etcd (coming in etcd3) before we do that.

[2016-03-03 00:55] mikedanese commented on #22398
I will verify, https://github.com/kubernetes/kubernetes/pull/20857 is not reverted

[2016-03-03 00:56] a-robinson commented on #22270
We just hit this again in the PR builder:
https://github.com/kubernetes/kubernetes/pull/22367#issuecomment-191512507

[2016-03-03 00:57] #22371 closed

[2016-03-03 00:58] bgrant0607 commented on #12143
This is an impediment to 3rd-party clients. We've reached the point that we need to do this, so that ecosystem developers don't have to reverse-engineer kubectl.

Cascading deletion (#1535), especially for Deployment, is one of the big ticket items in this area.

cc @lavalamp

[2016-03-03 01:03] bgrant0607 commented on #19680
Also #22389

We've reached the point where we desperately need good API documentation.

cc @lavalamp

[2016-03-03 01:05] justinsb opened #22403 "Jenkins AWS e2e: SSH username for jessie is admin"
The SSH username to get onto our jessie based images is 'admin'.  So we need to change KUBE_SSH_USER from ubuntu -> admin.

This should allow the SSH test to succeed.  (Without it, it will definitely fail anyway)

[2016-03-03 01:06] arun-gupta commented on #22294
Complete instructions to run Kubernetes on Amazon are now available at: http://blog.couchbase.com/2016/march/kubernetes-cluster-amazon-expose-service

The main difference was to use `kubectl describe service couchbase` and use the `LoadBalancer` attribute to access the exposed service.

[2016-03-03 01:07] bgrant0607 commented on #22399
It should have nothing to do with scale. The Deployment is created with the desired number of replicas:
[code]

@dchen1107 The error implies that a Deployment of that name already existed. Is that possible?

cc @janetkuo @nikhiljindal @kargakis

[2016-03-03 01:09] justinsb commented on #22294
Let's leave this open until we've solved the issue here.

@thockin is the IP really supposed to work on AWS.  How does it work on GCE (any docs on it)?

[2016-03-03 01:11] thockin commented on #20930
OK.  I revisited the final design of this flag, and I guess we should leave it.

As for configure-cbr0=false, I think we should never have been setting hairpin in that case, but we probably need to continue to make it work.  As far as I can see the default is promiscuous bridge, though, not "off".  The logic here is a little twisty.  PR coming, which I hope will clean up a bit.

[2016-03-03 01:11] bgrant0607 commented on #11606
See also #5660

[2016-03-03 01:13] hongchaodeng commented on #22398
Thanks @mikedanese for pointing it out.

We already found the root problem of e2e test failure caused in #20669 and are trying to fix it in another PR. In the meantime, I don't think #20857 is related since it's not actually changing the logic. And it's merged 3 weeks ago not causing failures.

[2016-03-03 01:14] bprashanth commented on #20930
Yeah, its promiscusou bridge, but we won't touch the bridge if --configure-cbr0 is false (we don't know which bridge to set it on), so it's "all off" aka "none" if you set: --configure-cbr0=false --hairpin-mode=promiscuous-mode

[2016-03-03 01:15] thockin commented on #20930
maybe we should default back to hairpin-veth if !CBR0

[2016-03-03 01:16] bgrant0607 commented on #21479
See also #14280

[2016-03-03 01:16] thockin commented on #20930
I think we should preserve behavior.  Talk me out of it?

[2016-03-03 01:18] bgrant0607 commented on #20133
See also #20656

[2016-03-03 01:19] janetkuo commented on #22399
FWIW it didn't fail on my machine. Maybe there's already a existing "hostnames" deployment with 1 replica?

[2016-03-03 01:20] mikedanese commented on #22398
@hongchaodeng Do you thinkt the cause of the failure would explain this? Or does this look like something else?

[2016-03-03 01:23] #22343 closed

[2016-03-03 01:24] bgrant0607 opened #22405 "Supported versioned client libraries in multiple languages"
We need (in priority order):
- Go
- Python
- Javascript
- Java
- Ruby

See also #22389

cc @lavalamp

[2016-03-03 01:24] thockin commented on #20930
It's a little clumsy that the default values are promiscuous and !cbr0, which is basically invalid.  But I don't am not sure that changing the defaults is worth the risk at this point (the risk of missing some salt or something)

[2016-03-03 01:24] bgrant0607 commented on #22389
Filed a separate issue for client libraries: #22405

[2016-03-03 01:26] bprashanth commented on #20930
I think the old behavior was wrong to begin with (setting hairpin on all interfaces annoyed some people: https://github.com/kubernetes/kubernetes/pull/21328). I also think a majority of people using --configure-cbr0 will either be using a differnet networking solution like ovs (in which case setting hairpin might actually expose them to the bug for no reason -- doubtful though) or something like f

[2016-03-03 01:27] lavalamp commented on #22399
Oh, the error even says "deployments" in it. ...I must be tired.

On Wed, Mar 2, 2016 at 5:19 PM, Janet Kuo <notifications@github.com> wrote:

[2016-03-03 01:28] bgrant0607 commented on #19403
Anywhere where we delete lists of pods (and other resources), including those filtered by label selector, we should ignore not-found errors. There are such loops in the controller reapers for cascading deletion.

cc @janetkuo @kargakis @soltysh

[2016-03-03 01:29] thockin commented on #20930
The old behavior WAS wrong, but configure-cbr0=false is the default and it seems that a lot of people followed instructions that did not involve changing that.  They are already living with the issue, I'd rather them make an explicit choice to switch to promiscuous mode rather than have something that used to work stop working.

[2016-03-03 01:33] bprashanth commented on #20930
Fair enough, though it stopped working for a bug that is exacerbated by kernel iptables proxy. This is the moral equivalent of us picking "sane defaults".

[2016-03-03 01:33] bgrant0607 commented on #21479
#22384 is moving these to their own util packages for now.

[2016-03-03 01:34] bgrant0607 commented on #21479
cc @janetkuo @nikhiljindal

[2016-03-03 01:40] saad-ali opened #22407 "NFS Example is misleading"
We had a customer get confused by the NFS example: https://github.com/kubernetes/kubernetes/tree/master/examples/nfs

They did not realize that the NFS Server setup by https://github.com/kubernetes/kubernetes/blob/master/examples/nfs/nfs-server-rc.yaml and https://github.com/kubernetes/kubernetes/blob/master/examples/nfs/nfs-server-service.yaml was not backed by a persistent store and should not b

[2016-03-03 01:41] wangkirin commented on #11893
@dalanlan
the output of  `ps -ef | grep kube` in master node is
[code]
and `kubectl get nodes` is
[code]

seems the cluster is running well? but why it cannot pass the cluster validation : (

[2016-03-03 01:42] jlowdermilk opened #22409 "gce kube-down still brittle"
Test runs occasionally fail to tear down 1 or more resources due to transient issues. When this happens it breaks that test job because kube-down never completely cleans up and you have to manually delete resources.

Example from [kubernetes-e2e-gce-scalability/4998](https://storage.cloud.google.com/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/4998)

[code]

[2016-03-03 01:50] yujuhong commented on #22322
We [set the ContainerStatus.Reason to OOMKilled](https://github.com/kubernetes/kubernetes/blob/6dee237d858daad29a402f9316a6df52ad95d0a4/pkg/kubelet/dockertools/manager.go#L362). @bprashanth, do you just want an event?

[2016-03-03 01:57] dalanlan commented on #11893
@wangkirin Odd indeed. I'll dig it up once i'm available.
Feel free to create several pods to test it out before you can make sure the cluster is running properly.

[2016-03-03 01:59] huang195 commented on #22237
Sure, whenever you get a chance. After compiling release-1.1 and then switching back to master, I'm able to compile it fine. I tried your "make clean all" suggestion. After I compiled release-1.1, I switched back to master, did a "make clean all", and the same problem is happening again. It seems compiling master with KUBERNETES_CONTRIB=mesos in a "clean state" (whatever that means) is failing.

[2016-03-03 02:01] janetkuo commented on #22270
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22367/kubernetes-pull-build-test-e2e-gce/31448/
Seems unrelated to revision number. The rs isn't scaled up as expected.
[code]
[code]

[2016-03-03 02:06] janetkuo commented on #22300
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/22009/kubernetes-pull-build-test-e2e-gce/31430/ is another "pod not found" failure mode, which is expected to be fixed by #22384.

[2016-03-03 02:09] hongchaodeng commented on #22398
Yes. Once we fix it this will be likely fixed. They are the same symptom in my mind

[2016-03-03 02:12] caesarxuchao commented on #19403
#22048 makes `kubectl delete` safely ignore the NotFound error. #22408 forces `kubectl delete` to issue a "GET" before submitting "DELETE". The "GET" will effectively check if the user is trying to delete a resource that is never created, so if later the API server sends a NotFound error in response to the "DELETE" request, kubectl can safely ignore it.

[2016-03-03 02:13] vishh commented on #22344
Why is the infra image in a different repo? Why not use the default infra image?

[2016-03-03 02:15] eparis commented on #22344
People use computers disconnected from the internet and/or may not trust the pause image created by google...

[2016-03-03 02:52] fejta commented on #22341
Looks like it got to check-cluster in kube-up:
https://github.com/kubernetes/kubernetes/blob/c9accdfd573bf5986a1a3f90f378cd75e8ee2de1/cluster/gce/util.sh#L530

which called detect-master
https://github.com/kubernetes/kubernetes/blob/c9accdfd573bf5986a1a3f90f378cd75e8ee2de1/cluster/gce/util.sh#L761

which tried to find the master ip:
https://github.com/kubernetes/kubernetes/blob/c9accdfd573bf5986a1

[2016-03-03 03:19] timothysc commented on #22184
The same could have been said for etcd, but we forced the kraken behind the storage interface, as well as several other dependency sprawls in the codebase.

[2016-03-03 03:25] fejta commented on #21887
https://github.com/kubernetes/kubernetes/blob/b7a89bfd475ed993801cd1f1a00c13862e28fd16/hack/jenkins/test-dockerized.sh#L29

[code]

Looks like it failed on `go get github.com/tools/godep`:
https://github.com/kubernetes/kubernetes/blob/b7a89bfd475ed993801cd1f1a00c13862e28fd16/hack/jenkins/test-dockerized.sh#L29

We should probably put this in a retry loop or else do something more fancy

[2016-03-03 03:26] derekwaynecarr opened #22413 "Confusing results from discovery client confuses namespace deletion"
If I do the following:

[code]

Looking at the configuration in master.go I find this confusing:
https://github.com/kubernetes/kubernetes/blob/master/pkg/master/master.go#L681

If you follow it to its implementation, we are registering an object into storage that does nothing but implement `New()` but supports no verbs.  Swagger does the correct thing and only returns support for `replicationcontr

[2016-03-03 03:27] fejta commented on #21991
Let's punt this until we're actually using 1.10 again

[2016-03-03 03:27] #21991 closed

[2016-03-03 03:28] fejta commented on #22190
OnGCE() in metadata.go needs to get updated to retry on 500 errors, as by metadata server will be down by design during migrations and upgrades.

[2016-03-03 03:32] fejta commented on #21769
@spxtr how will your log collection improvements change this?

[2016-03-03 03:36] fejta commented on #21512
So the plan is to punt all of the `should be able to change the type and ports of a service test` to the slow suite?

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L406

[2016-03-03 03:44] #21359 closed

[2016-03-03 03:47] bprashanth commented on #22322
Usually I come back and the containers in crash loop backoff or Error, and `-o yaml |grep -i oom` shows nothing, so I'm guessing we clobber it?

2 things would make life easier:

1. Communicate OOMKill clearly in a non-clobbering way
2. Surface tasks *in* containers getting killed because of a memory limit (this can be hard, but just throwing it out there). I.e kern.log has:
[code]
I believe this

[2016-03-03 03:52] bprashanth commented on #21512
If we must have a lower runtime and are ok not running type=loadbalancer tests per pr (don't remember how that email discussion panned out), then we'd move just the type=loadbalancer tests out: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/service.go#L501. Unfortunately that would involve duplication, since we need to setup a service of some other type, verify it works, then switch

[2016-03-03 04:02] smarterclayton commented on #20497
My point was that forceful delete *should* be logically equivalent to
a grace period of zero, because we do not want to support scenarios
where a pod does not exist, but the kubelet must continue to treat the
pod as being in graceful termination.

Force deleting a pod is saying "I want this gone now".  If you don't
want it gone now, you provide a grace period (I am willing to wait X
seconds for th

[2016-03-03 04:11] bgrant0607 commented on #21523
ref #21000

[2016-03-03 04:15] bgrant0607 commented on #22262
Selector indexing: #4817

[2016-03-03 04:15] bgrant0607 commented on #22262
API for reverse selector lookup: #1348

[2016-03-03 04:16] bgrant0607 commented on #22262
ControllerRef backpointers to controller: #14961

[2016-03-03 04:20] bgrant0607 commented on #22317
cc @eparis @caesarxuchao @nikhiljindal @pwittrock @johndmulhausen

[2016-03-03 04:21] bgrant0607 commented on #22317
If we want Mac OS to work, we need CI for it.

[2016-03-03 04:29] jdef commented on #22237
very strange. we don't have that problem in our CI setup and I don't
experience that on my dev box.

what version of Go are you building with? I'm using 1.4.2

On Wed, Mar 2, 2016 at 9:00 PM, Hai Huang <notifications@github.com> wrote:

[2016-03-03 04:41] AdoHe commented on #22405
+1  I can help with Go&Javascript&Java

[2016-03-03 04:42] #21761 closed

[2016-03-03 04:44] thockin commented on #22407
This is a great use for the new auto-provisioning, for those platforms that
support it.

On Wed, Mar 2, 2016 at 5:41 PM, Saad Ali <notifications@github.com> wrote:

[2016-03-03 05:05] thockin commented on #22294
You have to run iptables-save as root.  If it shows nothing, your system is totally completely broken :)  That said, I don't think I need it.

The external IPs service is really very dumb.  It simply says that the node will accept packets destined for the specified IP addresses (on the service port(s)).  You have to arrange for packets to arrive at the node with destip=52.34.79.170 (in this case).

[2016-03-03 05:05] #22294 closed

[2016-03-03 05:42] bks7 commented on #21613
@thockin This is not our case. Look carefully we use 10.254.0.0/16 for Service IPs and 172.18.0.0 for Pods.

[2016-03-03 06:02] thockin commented on #21613
Apologies, I closed the wrong issue

[2016-03-03 06:19] ntquyen opened #22415 "Pod is reported as running while it is not"
I'm getting a weird bug: The pod is reported as running via k8s api-server. But the container that runnig the application was actually exited, only the pause container `gcr.io/google_containers/pause:0.8.0` is running, not the actual container.

[code]

As you can see, the node container was exited 11 hours ago, but the `/pause` is still running, that why it is reported as running.
I noticed this

[2016-03-03 06:23] roberthbailey commented on #17851
From kubernetes-master:

[code]

[2016-03-03 06:23] gmarek commented on #19895
We don't have this data yet - waiting for namespace deletion was added two days ago.

[2016-03-03 06:23] roberthbailey commented on #17851
From a node:

[code]

[2016-03-03 06:35] justinsb opened #22417 "AWS: Docker debian repo was down"
Salt failed to download the docker deb file which we're using on AWS.

We should figure out a way to retry the download or similar.  Maybe another helper script.

[2016-03-03 06:58] thockin commented on #10732
Alpine now has support for DNS search paths, but ONLY in the alpine:edge container.  Once that gets promoted to a :latest image, I would feel comfortable telling people to go nuts.  In the mean time, please try it out!

[2016-03-03 06:59] wojtek-t commented on #22398
#20857 shouldn't be a problem in my opinion

[2016-03-03 06:59] AdoHe commented on #22415
cc @kubernetes/sig-node

[2016-03-03 07:00] #22096 closed

[2016-03-03 07:10] Random-Liu commented on #22415
@ntquyen Could you please post your pod spec? And it would be even better if you could post kubelet.log. :)

[2016-03-03 07:16] wojtek-t commented on #22262
Oh, I missed that. We should just maintain a node-to-pod map.

This one we already have - it doesn't help.

Then we don't have to worry about the selectors for a bit probably. And you must have meant O(#pods + #matching (RS, RC, services))? Surely we don't stack those two things, I can't imagine why we would do that?

No, I actually meant: O(#pods x #matching (RS, RC, services))
Just need to look

[2016-03-03 07:23] thockin commented on #22335
We apply the masquerade by a mark.  Grepping for MASQUERADE won't show you the diff.  Try diffing the whole `iptables-save` output.

[2016-03-03 07:34] ntquyen commented on #22415
Below is my pod spec:

[code]

and kubelet log:
[code]

I think there was something wrong with the host, because that most of the pods running in that host got the same issue.
[code]

That is the VM `10.9.8.34`. It looks fine to me:
[code]

[2016-03-03 07:48] #19457 closed

[2016-03-03 07:51] #21654 closed

[2016-03-03 07:51] thockin commented on #21654
I thought we had a notion of max-precision, but I guess I should STFU and
eat my words :)

On Mon, Feb 22, 2016 at 10:53 AM, Daniel Smith <notifications@github.com>
wrote:

[2016-03-03 07:53] bprashanth commented on #22399
I've run into this before. It's weird because scale has trained us to do:
kubectl scale --replicas=5
Ctrl^R, backspace, --replicas=1

So why not just apply the scale to the existing deployment if everything else checks-out?

[2016-03-03 07:54] bprashanth commented on #22399
I'm guessing Dawn just did the crtl^r bit and replaced --replicas in:
./cluster/kubectl.sh run hostnames --image=kubernetes/serve_hostname --replicas=200 --port=9376 --labels=app=hostnames

[2016-03-03 08:00] thockin commented on #22159
something like https://github.com/kubernetes/kubernetes/pull/22419 ?

On Wed, Mar 2, 2016 at 5:52 AM, Paul Weil <notifications@github.com> wrote:

[2016-03-03 08:01] thockin commented on #22159
Retitled to better reflect current needs :)

[2016-03-03 08:01] woodbor commented on #21923
@yifan-gu : :+1: IMHO - it could be the similar mechanism like rkt now fill `/etc/resolv.conf` file (I mean through cmd line flags in kubelet). And then we can drop the mounts for `/etc` files in generated pod manifest, which the root cause for that was docker, what do you think ?

[2016-03-03 08:06] bprashanth commented on #22364
I suspect it's just logging the error returned by the apiserver on failed create. It doesn't know to differentiate this from other legitimate errors. I suspect it's getting back a 403, which could mean user doesn't have access, admission controller failed etc. IMO these actually make more sense as events.

[2016-03-03 08:15] ntquyen commented on #22415
When I restarted the kubelet on that host, everything went back to normal. But it makes me concern, maybe when the pod/rc was deleted by `kubectl delete` it was de-register from the api-server, but somehow the container couldn't be killed?

[2016-03-03 08:59] wojtek-t commented on #22340
OK - I just debugged one of the issues here.

The problem with POST pods (which seems to be the most important problem for now) is again the problem with client throttling - @davidopp @lavalamp - FYI :) [again, 5th time during last 2 weeks or so]
Looking into logs from apiserver we have:

    W0302 21:38:27.990221       5 request.go:627] Throttling request took 1.08136749s, request: GET:http://127

[2016-03-03 08:59] AdoHe commented on #22088
Meet this problem again #22420:
[code]
[https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/22420/kubernetes-pull-build-test-e2e-gce/31487/build-log.txt](https://console.cloud.google.com/m/cloudstorage/b/kubernetes-jenkins/o/pr-logs/pull/22420/kubernetes-pull-build-test-e2e-gce/31487/build-log.txt)

[2016-03-03 09:12] sdminonne commented on #21654
You asked 4.1Gi and quota reports 4402341478400m. We all agree that is the same value but why not in Kb then?

[2016-03-03 09:19] gmarek opened #22421 "Add metric for client rate limiter saturation (for all clients)"
As we found out recent regression was caused by hitting rate limit in one of components (#22340). It's not the first time it hits us, so we really need to make sure it will be easier to debug in future. To do this we can add a per-client prometheus metric exposing rate limiter saturation level. cc @smarterclayton @lavalamp @wojtek-t @fgrzadkowski @davidopp

I see two options. Either make client ra

[2016-03-03 09:23] wojtek-t commented on #22421
@kubernetes/sig-scalability

[2016-03-03 09:32] innovia commented on #21690
@mml what do you mean by  kube-env string, do you mean my kobe config?

[2016-03-03 09:34] spiddy commented on #13299
Well I followed your steps, and I still get the issue. My env is GCE and server is v1.1.8

[code]

[code]

[2016-03-03 09:35] wojtek-t opened #22422 "Admission controllers can cause unnecessary significant load on apiserver"
Recently we observed high latencies on POST pods on our scalability tests.
For more context see: https://github.com/kubernetes/kubernetes/issues/22340

It appeared to be throttling related, e.g.:

[code]

As an example look at resource quota admission controller.
In https://github.com/kubernetes/kubernetes/pull/20446 there was some fallback added to use lru cache in case of on objects.
However, no

[2016-03-03 09:36] wojtek-t commented on #22340
I've opened #22422 for a proper fix, but temporarily I'm going to just increase QPS limit for admission controller clients. But we should solve it properly for 1.3 (it probably is not a blocker for 1.2)

[2016-03-03 09:48] wojtek-t commented on #22340
#22423 should stop the bleeding in POST pods operations (and potentially other failures too)

[2016-03-03 10:02] batazor commented on #19593
Thank you @mikedanese. You saved a lot of my time.

[2016-03-03 10:03] wojtek-t commented on #22072
Fixed by #22284

[2016-03-03 10:03] #22072 closed

[2016-03-03 10:07] kargakis commented on #20519
I think this is intentional

[2016-03-03 10:10] piosz commented on #15732
cc @mwielgus

[2016-03-03 10:24] gmarek commented on #20497
IIUC @davidopp is distinguishing two cases: Kubelet is alive, and Kubelet is dead and want to have two separate 'grace period 0' calls for them, as the effects of deleting Pod in those cases are different. If Kubelet is alive and is able to handle 'forceful' deletion request it will e.g. unmount PD from the pod, thus making it reusable. If Kubelet is dead we will indeed release the name of the pod

[2016-03-03 10:37] fgrzadkowski opened #22424 "Print timestamp of the last known metrics when describing HPA"
This will increase debugability.

[2016-03-03 10:42] legionus opened #22425 "panic at interface conversion"
[code]

I found it in openshift project but this code is the same:

https://github.com/openshift/origin/blob/master/Godeps/_workspace/src/k8s.io/kubernetes/pkg/controller/daemon/controller.go#L139

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L139

[2016-03-03 11:15] gmarek commented on #22259
I'm seeing this in gce soak cluster now. I guess it's better than logs:)

[2016-03-03 11:54] wernight commented on #10732
@thockin Yes I saw that but I tried and it seems the DNS lookup is still broken even if I use latest `alpine:edge` and latest Kuberentes.

[2016-03-03 11:54] Goblain opened #22427 "parsers.go uses removed docker parsers.ParseRepositoryTag(image)"
Hoped to built a simple ingress controller based on Go examples in kubernetes/contrib. I'm facing an issue though: When I do `go get k8s.io/kubernetes/pkg/client/unversioned` the result is
[code]
I tried to trace it and it led me to https://github.com/kubernetes/kubernetes/blob/master/pkg/util/parsers/parsers.go and with parsers.ParseRepositoryTag to https://github.com/docker/docker/commit/4352da7

[2016-03-03 11:56] t5unamie opened #22428 "docker logs ID"
There is a situation right now where by you can't list off stopped containers/POD's.

The reson this is important is because the function "docker ps -a" and "docker log ID" allowed you to troubleshoot.

If you want people to love Kub's it must be easy to troubleshoot containers that won't start. As allowing people to troubleshooting a container in a vast cluster will allow them to not have to find

[2016-03-03 12:08] Goblain commented on #22427
seems that current implementation used in docker moved to `github.com/docker/distribution/reference`

[2016-03-03 12:34] AdoHe commented on #22427
@Goblain you must use a higher version docker, IIRC this is not moved in docker 1.9.1

[2016-03-03 12:46] AdoHe commented on #22428
@t5unamie IIUC you want to be able to list stopped containers/POD's, I think `kubectl get pods --show-all=true` can give you all pods info(include terminated pods). Besides pod is the smallest deployable unit of kubernetes.

[2016-03-03 12:54] fgrzadkowski opened #22431 "HPA defaults are confusing"
I have the following situation:

1. HPA created via extensions/v1beta1 will have a default value for cpu target utilization set for 80% directly in object (and etcd)
2. HPA created via autoscaling/v1 will not have defaults applied, but HPA controller will use some default policy if nothing is set

When I create HPA via autoscaling/v1 I get the following responses from apiserver:
[code]

This is co

[2016-03-03 12:58] liggitt commented on #20519
I hope not… it's almost unusable to do it that way, and it didn't used to do that. Editing a list of objects at once is much more understandable, imo

[2016-03-03 13:04] piosz commented on #20084
Closing in favor of #22176

[2016-03-03 13:04] #20084 closed

[2016-03-03 13:06] wojtek-t commented on #22340
I'm decreasing priority after merging #22423 - please increase it again if you see those failures again.

[2016-03-03 14:00] rootfs commented on #22407
The example README needs to be augmented to reflect the case that we don't have an NFS auto provisioner yet. The NFS shares have to be manually created and PVs have to match them. @saad-ali @thockin is it a good plan for short term fix?

A better NFS implementation on k8s probably has to wait for the arrival of NFS auto provisioner. Once we settle on the framework on provisioning non-Cloud storage

[2016-03-03 14:25] stevesloka opened #22433 "AWS EBS Volume Only Mounts Once"
I have an EBS volume created. When I mount the volume to a pod it will mount successfully. If I then kill the pod and re-create the volume will not get attached. If I restart the kubelet on that node, the volume will then mount correctly.

Interestingly enough, it did work as expected once. So maybe there's a timing issue somewhere. I am running this pod on the same node over and over.

Kube Versi

[2016-03-03 14:30] ncdc commented on #22413
cc @deads2k @smarterclayton

[2016-03-03 14:30] ncdc commented on #22413
cc @piosz @mwielgus

[2016-03-03 14:32] t5unamie commented on #22428
Hi Adohe,

I cam across a situation as follows. I started a Jenkins slave through the Jenkins plugin "Kubernetese plugin". this starts a slave using an online image to run as a slave temporarily. However, when the container failed, the POD did not show up at all in the output of "kubectl get pods".

Also, when running "kubectl logs PODID" on POD's which have failed containers and not starting corr

[2016-03-03 14:47] yujuhong commented on #22259
@gmarek, looking now. Thanks!

[2016-03-03 14:48] deads2k commented on #22413
The dummy extensions resource is broken and we've reached agreement that we should move the scale subresource to the legacy kube group.  @madhusudancs

Of course, that raises the next problem of needing to indicate that a given resource accepts a kind from a different group/version. :)

[2016-03-03 14:54] eparis opened #22435 "Jenkins is regularly getting stuck never completing"
... so PRs hang 'pending' and will never get into the submit queue or will get kicked out after they wait and hour for jenkins to return.

[2016-03-03 14:55] eparis commented on #22435
This is a dupe of https://github.com/kubernetes/contrib/issues/536
@eparis @lavalamp @mwielgus @gmarek @fgrzadkowski @ixdy

[2016-03-03 14:56] bgrant0607 commented on #22435
cc @fejta

[2016-03-03 14:58] eparis commented on #22435
I'm compiling a list of all PRs that look to be stuck on Jenkins....

[2016-03-03 14:58] bgrant0607 commented on #22435
cc @wojtek-t

[2016-03-03 15:03] erictune commented on #12742
One issue with the serializer approach.  It would not allow the secrets to be stored in an HSM, which some customers have asked for. That would require a different storage backend, rather than a different serializer.  I'm going to try to meet with some HSM users to understand the use case better.  Let me know if you have experience and are interested.

[2016-03-03 15:10] derekwaynecarr commented on #22422
@wojtek-t - thanks for the analysis.  @deads2k - fyi, this is an interesting side-effect of the LRU cache pattern, not sure if we have adopted it in other places as well, but good to keep in mind.

[2016-03-03 15:11] eparis commented on #22435
All PRs with LGTM that have been hanging in Jenkins for more than 1 hour.

https://github.com/kubernetes/kubernetes/pull/20578
https://github.com/kubernetes/kubernetes/pull/20851
https://github.com/kubernetes/kubernetes/pull/21335
https://github.com/kubernetes/kubernetes/pull/21645
https://github.com/kubernetes/kubernetes/pull/21851
https://github.com/kubernetes/kubernetes/pull/21904
https://githu

[2016-03-03 15:13] wallnerryan opened #22436 "invalid volume specification on reschedule"
Kubernetes 1.2.0 and 1.1.1
Docker 1.10.2
Flocker 1.10.2

The spec below works fine on creation, but when I kill a node and the scheduler reschedules the POD the below error occurs

[code]

spec with volumes
[code]

[2016-03-03 15:15] bgrant0607 commented on #22431
Long-standing issue: #3955

I doubt this is easy to change in the short term. Too high risk for 1.2, anyway.

As far as the API machinery, this is working as intended.

This is a bug in the HPA implementation.

That field was always set in extensions/v1beta1, so leaving it unset would technically be a breaking change in behavior. Honestly, leaving it unset is not something we normally do in the AP

[2016-03-03 15:17] derekwaynecarr commented on #22422
To clarify, it was adopted in `LimitRange` and `ResourceQuota` admission plug-ins in separate PRs.

[2016-03-03 15:17] yujuhong commented on #22259
node: jenkins-e2e-minion-ltx6
kubelet version: `kubernetes_build_info{gitCommit="e7d0f06c4aa4375034542b376fbf4c1f16d1fecc",gitTreeState="clean",gitVersion="v1.2.0-alpha.8.709+e7d0f06c4aa437",major="1",minor="2+"} 1`

Basically, the node hit https://github.com/docker/docker/issues/9605 (a known issue), and docker hung. There is not much we can do other than rebooting the node.

kern.log:
[code]

su

[2016-03-03 15:17] huang195 commented on #22237
I'm also using 1.4.2 inside of the kube-build Docker container.

[code]

[code]

It's very strange that we're using the same Go version and my build environment is standardize since it's encapsulated inside of a Docker container, and yet the result is different.

[2016-03-03 15:20] derekwaynecarr commented on #22340
@wojtek-t - the LRU cache pattern was introduced in `LimitRange` and `ResourceQuota` to address other flakes where indexes were slow to populate.  If they continue to cause problems, we can look to provide alternate solutions to those flakes or do the lock on `List` semantic you described if an index is empty.

[2016-03-03 15:20] aveshagarwal commented on #22309
Seems like, 2 PRs https://github.com/kubernetes/kubernetes/pull/22412 and https://github.com/kubernetes/kubernetes/pull/22416 addressing this issue, one could be closed I think.

[2016-03-03 15:21] bgrant0607 commented on #22431
Actually, this seems like the correct behavior to me.

[2016-03-03 15:21] eparis commented on #22435
PRs without LGTM but have 1.2 milestone:

https://github.com/kubernetes/kubernetes/pull/20044
https://github.com/kubernetes/kubernetes/pull/21400
https://github.com/kubernetes/kubernetes/pull/21910
https://github.com/kubernetes/kubernetes/pull/21966
https://github.com/kubernetes/kubernetes/pull/22345
https://github.com/kubernetes/kubernetes/pull/22432

[2016-03-03 15:23] bgrant0607 commented on #22431
Is that an older version of kubectl, or does kubectl GET the object using extensions/v1beta1 by default?

[2016-03-03 15:26] bgrant0607 commented on #22431
Ok, 2 weird issues here:
1. That GET via /apis/extensions/v1beta1 doesn't set the field to 80 by default
2. That kubectl is still using /apis/extensions/v1beta1 by default

[2016-03-03 15:26] wojtek-t commented on #22422
@derekwaynecarr - it took me some time, but was useful experience. Thanks for assigning yourself.

[2016-03-03 15:28] yujuhong opened #22437 "e2e flake: deployment should delete old replica sets [pods not found]"
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/31484
https://cloud.google.com/console/storage/kubernetes-jenkins/pr-logs/pull/22233/kubernetes-pull-build-test-e2e-gce/31484/

[code]

[2016-03-03 15:29] erictune commented on #22159
Lemme compare that to
https://github.com/kubernetes/kubernetes/pull/22402

On Thu, Mar 3, 2016 at 12:01 AM, Tim Hockin <notifications@github.com>
wrote:

[2016-03-03 15:29] wojtek-t commented on #22340
@derekwaynecarr - I hope my workaround is good enough for 1.2. But we should provide some locking (or potentially some other solution) for 1.3 to solve it properly.

[2016-03-03 15:32] gmarek commented on #22259
Are we restarting Kubelet when docker dies, or there's some other reason why supervisor does this? I imagine that the correct behavior in such case is keeping the Kubelet alive and posting some kind of NotReady status with the description of the problem.

[2016-03-03 15:34] fgrzadkowski commented on #22431
Kubectl uses `extensions/v1beta1` by default. AFAIU it's impossible to configure it in kubectl, i.e. user cannot print object in either `autoscaling/v1` or `extensions/v1beta1`.

I think the problem is that `kubectl` and other clients see a different object version than what apiserver returns.

From HPA features perspective I think that the apiserver side is working ok.
1. If we create object in `

[2016-03-03 15:41] derekwaynecarr opened #22438 "RFE: Improve ability to associate a resource to its namespace lifetime"
An OpenShift user requested the following

Today I can do it by watching and recording the create and delete events for a namespace, then associate any resources to that namespace, but it doesn't seams to be the best approach. Namespaces can be destroyed and recreated by a different user with same name.
I'm looking for something like automatically adding an annotation containing namespace's uid to

[2016-03-03 15:42] justinsb commented on #22435
#21907 also.  That one needed a squash anyway, so I squashed, repushed and re-added LGTM.  Will be interesting to see what happens...

[2016-03-03 15:48] yujuhong commented on #22259
I agree that we should try decoupling kubelet and docker liveness check. As a matter of fact, I removed the docker healthz/ in kubelet for this reason.
Currently, kubelet healthz endpoint checks if syncloop is running, and syncloop wasn't being run because docker was not ready.  A right step forward is to log syncloop timestamp as long as the loop is not hung.

[2016-03-03 15:48] bgrant0607 commented on #22431
This field probably needs to be set in conversion rather than in defaulting.

[2016-03-03 15:49] eparis commented on #22435
looking at the jenkins 'status' of #21907 it looks like it is going to be ok. The busted ones are linking something like:
[code]

And a working PR looks like:
[code]

So none of that `$%7BghprbPullId%7D` or `$%7BBUILD_NUMBER%7D` crap in the status link...

[2016-03-03 15:50] bgrant0607 commented on #22431
I think you're also running into #13929

[2016-03-03 16:01] yujuhong commented on #19895
Let's keep this on hold until we have more data...

[2016-03-03 16:03] thockin commented on #22436
This suggests to me that the flocker driver is not producing a path on the node that can be mounted.  If it returns "", we would pass ":/usr/share/nginx/html" to docker and get something like that error.

@lukemarsden @agonzalezro who can we bother when it comes to potential bugs in the flocker driver?

[2016-03-03 16:03] yujuhong commented on #22259
@vishh, AFAIK, `cadvisor.Start()` will fail if it cannot talk to docker, and it will not retry even if docker comes back. Is that true?
If so, we'll have no option but to kill kubelet even if docker becomes ready, until we change cadvisor's initialization behavior.

[2016-03-03 16:07] wallnerryan commented on #22436
@thockin (desclaimer, i work at clusterhq) I can bother the right people but I want to make sure of a few things first. Odd thing is I've run this exact use-case before with it working no problem with kubernetes 1.1.1. It might be an issue with docker version being used?

[2016-03-03 16:08] thockin commented on #22244
We can make it assume the IP if the IP exists, but why does it exist?  That sounds like someone didn't clean up properly.

[2016-03-03 16:08] wallnerryan commented on #22436
@thockin
My theory was correct, reverting to docker 1.9.1 this works fine

[2016-03-03 16:08] yujuhong commented on #22322
What does LastTerminationState show? Even if the current state is waiting, the last termination state should still have the relevant information. Of course, if docker never reported that the container was OOMKilled, it wouldn't have shown.

[2016-03-03 16:08] timothysc commented on #22438
/cc @kubernetes/rh-storage

[2016-03-03 16:10] gmarek commented on #22181
I haven't seen that recently. Open when it reappears.

[2016-03-03 16:10] #22181 closed

[2016-03-03 16:10] wallnerryan commented on #22436
so I tested it with docker 1.9.1 and the ":/usr/share/nginx/html" error went away but received
[code]

when the scheduler rescheduled the node

[2016-03-03 16:11] fgrzadkowski commented on #22431
I think we agree that we've made a breaking change between `extensions/v1beta1` and `autoscaling/v1` by not setting defaults. This introduced the problem that clients reading through `v1beta1` will see cpu utilization set to 80% even if they haven't expected this (`autoscaling/v1` should not change the object). HPA controller will also see this default even for objects created via `autoscaling/v1`

[2016-03-03 16:12] gmarek commented on #19895
It failed in gke suite. It seems to be some other kind of error. Wrote #22440 to help investigate.

[2016-03-03 16:12] ncdc commented on #22438
cc @kubernetes/rh-cluster-infra

[2016-03-03 16:12] derekwaynecarr commented on #22438
/cc @kubernetes/rh-cluster-infra

[2016-03-03 16:16] DirectXMan12 commented on #22431
cc @kubernetes/rh-cluster-infra

[2016-03-03 16:19] ncdc commented on #22431
cc @deads2k

[2016-03-03 16:20] gmarek commented on #22435
7B and 7D are '{' and '}' - looks like a change from " " to ' ' in some bash script...

[2016-03-03 16:20] wallnerryan commented on #22436
for example: this blog ( https://clusterhq.com/2015/12/22/ha-demo-kubernetes-flocker/ ) demos kubernetes 1.1.1 doing the same exact usecase without issue. So trying to find what the difference is.

[2016-03-03 16:21] thockin commented on #22244
a PR is in flight

[2016-03-03 16:23] eparis commented on #22435
@gmarek but only 'sometimes'  :-(   which makes me think it might have to do with which builder ? maybe?

[2016-03-03 16:23] deads2k commented on #22431
@kubernetes/rh-ux @kargakis I remember seeing activity on our side related to this particular setting on an HPA.

[2016-03-03 16:24] Goblain commented on #22427
well, it seems that `godep` was the thing I was missing from the picture

[2016-03-03 16:24] #22427 closed

[2016-03-03 16:24] thockin commented on #22436
Yeah, all those errors are coming from Docker.  We can/should probably
sanity check volumes more in Kubelet before passing to Docker - as you are
tracking this bug, maybe you could help on that? :D

On Thu, Mar 3, 2016 at 8:21 AM, Ryan Wallner <notifications@github.com>
wrote:

[2016-03-03 16:25] gmarek commented on #22435
If it happens only for some builds (I thought that we have problems with all of them), then it's certainly one of the builders. @ixdy is probably the best person to ask.

[2016-03-03 16:25] bgrant0607 commented on #22431
We were trying to not break 1.1 hpa controller, which we would if the field were ever unset in v1beta1.

I recommend setting the field in conversion and document the rest as known issues

[2016-03-03 16:27] eparis commented on #22435
Its a LOT of them, but not all  :-(

[2016-03-03 16:27] bgrant0607 commented on #22431
Another option is a sentinel value for "up to controller", like 0 or -1

[2016-03-03 16:27] yujuhong commented on #22259
@k8s-oncall, I rebooted jenkins-e2e-minion-ltx6 in the gce-soak suite due to reason stated in https://github.com/kubernetes/kubernetes/issues/22259#issuecomment-191810457

[2016-03-03 16:29] AdoHe commented on #22438
curious about what will happen if such a primary key is deleted.

[2016-03-03 16:30] wallnerryan commented on #22436
@thockin happy to help. Just for clarification, your suggesting that the kubelet may need some changes/optimizations for sanity checking volumes before passing to docker api?

[2016-03-03 16:31] roberthbailey commented on #17851
If it helps, here's the place in the script where the error is printed:

[code]

[2016-03-03 16:34] thockin commented on #22436
yeah.  For example, if a volume driver's GetPath() ever returns "", Kubelet
should fail the pod and blame the driver, rather than pass that through to
docker.

On Thu, Mar 3, 2016 at 8:31 AM, Ryan Wallner <notifications@github.com>
wrote:

[2016-03-03 16:36] DirectXMan12 commented on #22431
Personally, I'd argue that changing the behavior of `extensions/v1beta1` could be very confusing for users, especially if they were counting on the "default to 80%" behavior, and then suddenly it wasn't there.

This also sounds reasonable.  I'd argue for either option 2 or the sentinel value.  The sentinel value seems to prevent most of the issues I have with options 1 and 2 (it doesn't break `ext

[2016-03-03 16:36] wallnerryan commented on #22436
Right, okay, I will dig into this and hopefully have some more info. Thanks.

[2016-03-03 16:46] mattbates commented on #22436
@thockin I'm looking after the Flocker driver - will dig into this. Thanks @wallnerryan for the report.

[2016-03-03 16:51] gmarek commented on #22259
Is it possible to do it for v1.2 (as a cherry-pick, as I don't believe it's possible to do in a day...)? I, for one, think that it's important to handle this is some reasonable fashion (i.e. at least emit a message that will tell user what to do if it happens - and judging by the number of times we run into it, it'll happen a lot).

@davidopp @alex-mohr @roberthbailey @bgrant0607

[2016-03-03 16:57] thockin commented on #22407
Sorry, I mean that the NFS example could use auto-provisioning of a backing
store (PD or EBS) to provide a more robust NFS server.  Yes, provisioning
of NFS has to wait for the general provisioning scaffolding.

On Thu, Mar 3, 2016 at 6:01 AM, Huamin Chen <notifications@github.com>
wrote:

[2016-03-03 17:02] thockin commented on #21654
It would be nice to know that, for some resources, units less than 1 are
nonsense.  I am not sure how hard that will be (I suspect not worthwhile).
It's less-than-ideal from a UX point of view.  Maybe we should allow some
small number of decimal places if they are a perfect fir for right-sizing a
quanitity.  4.1G is MUCH friendlier than 4402341478400m or even 4402341478
(assuming the extra 0.4 byt

[2016-03-03 17:08] dchen1107 commented on #22399
Here is the output of get deployments:

[code]

[2016-03-03 17:12] ixdy commented on #22435
Looking. I'm not really sure what's happening. I upgraded the Github PR plugin last night, to see if it fixed any bugs that may have prevented those few PRs from scheduling, but it seems to have made things worse. I'm currently suspicious of jenkinsci/ghprb-plugin/pull/273, though still looking through recent commits.

[2016-03-03 17:13] bgrant0607 commented on #22431
Ok, at the office now.

What's the storage version?

[2016-03-03 17:14] binarybana commented on #831
Joe Beda also talked about this composability in Midas in this [lovely blog post](https://www.eightypercent.net/post/new-container-image-format.html).

For our use case, layering static docker images would be fantastic. We often have medium sized static assets (< 4GB) that get reused by thousands of pods in a read-only fashion. Reusing the docker image cache for these types of assets would be much

[2016-03-03 17:14] bgrant0607 commented on #22431
We should also document that users should use the v1 API until kubectl, the apiserver, and HPA controller all have been updated.

ref #4855

[2016-03-03 17:14] bgrant0607 commented on #22431
should not use

[2016-03-03 17:18] bgrant0607 commented on #22431
Does version negotiation across API groups work yet @lavalamp ?

If not, and we moved kubectl to v1 by default, then a newer kubectl wouldn't work with older apiservers.

[2016-03-03 17:20] bgrant0607 commented on #22431
Ref #14895

[2016-03-03 17:20] fgrzadkowski commented on #22431
@bgrant0607 Storage version is currently `extensions/v1beta`.

@DirectXMan12 The behavior would be still the same (it so happens that the current default policy in HPA controller is using 80% utilization). The difference would be that the object would not have this field set after creation.

[2016-03-03 17:21] ixdy commented on #22435
For added fun, PR Jenkins also just fell over. Shaping out to be a great Thursday so far.

[2016-03-03 17:24] ixdy commented on #22435
I think it might be jenkinsci/ghprb-plugin#273. It looked neat (it is supposed to cancel builds if a PR is updated, I think), but it looks like it's fundamentally broken:
[code]

[2016-03-03 17:24] bdurette commented on #20466
I can echo that having containers mount subpaths would be very useful for us. This could solve a couple of issues for us:

1. The limited number of persistent disk mounts is an issue for us. However, if container visibility could be restricted to individual subpaths, then it would solve that for us because we could share pds between pods. We don't care that they are separate disks if the container

[2016-03-03 17:25] bgrant0607 commented on #22431
@fgrzadkowski Does any part of HPA not work at the moment, or you're just worried it would appear odd to the user?

[2016-03-03 17:32] ixdy commented on #22435
I disabled that feature ("Cancel build on update") and triggered #21907 successfully, so we might be OK. Probably need to explicitly trigger everything with a pending status, though (at least the LG'd ones).

[2016-03-03 17:35] ixdy commented on #22244
@thockin see the referenced internal bugs. gcloud is returning "Internal Error" after the first request, but it probably shouldn't be, since the request apparently succeeded.

[2016-03-03 17:35] fgrzadkowski commented on #22431
The behavior of HPA controller is correct, because the default values set for objects in version `extensions/v1beta1` is the same as the default policy which is hardcoded in HPA controller (targeted for `autoscaling/v1` objects).

From user perspective, the problem that I see is that kubectl prints something else that apiserver returns and something which I wouldn't expect from the documentation.

[2016-03-03 17:43] jodem opened #22444 "Enabling AWS Loadbalancer support on a MESOSPHERE setup"
Hi all,

I gave kubernetes a try by installing kubernetes package on an existing (aws hosted) mesosphere DCOS cluster with the install package command.

I am able to do all the things I did on my MESOS/Marathon POC. I am quite happy with K8 features, service discovery is made easier and the namespace feature is a must . The big missing thing right now on my K8 POC is the ELB registration of servic

[2016-03-03 17:44] bprashanth commented on #22322
It oom killed multiple times, then probably restarted for some other reasons and enters "Error" with a random exit code. I can report specifics when it happens again.

[2016-03-03 17:45] fgrzadkowski commented on #22431
From a slightly different side - my understanding is that if we introduce a breaking change in beta API then it means we not only include this change in v1, but also change beta API. Is my understanding correct? If that's the case, then I guess we should just change `extensions/v1beta1` and stop setting defaults for newly created objects.

[2016-03-03 17:46] ixdy commented on #22435
I re-queued all LGTM'd `priority/P1` pending-status PRs. There were no `priority/P0` PRs that I could find.

We probably need to re-queue the rest of the LGTM'd PRs at some point.

[2016-03-03 17:47] ixdy commented on #22435
fyi @kubernetes/goog-testing (should've CC'd earlier)

[2016-03-03 17:50] dchen1107 commented on #22259
AFAIK, there are two separate issues:

* One is syncloop takes long time, but eventually it finishes. We are working on reproducing this issue, and finding the root cause. The root cause could be docker operations are taking a long time, a bug in kubelet, etc. There is no kernel issue with hung task. The node can be self-recovered by either restarting docker or restarting kubelet. Can we use this

[2016-03-03 17:52] eparis commented on #22435
@k8s-bot test this, issue #22435

[2016-03-03 17:55] bacongobbler commented on #7891
I can reliably reproduce this problem on v1.1.7 with the following pod template: https://gist.github.com/bacongobbler/fde2b8668aae775c6df1

Log output:

[code]

[2016-03-03 17:56] kargakis commented on #13929
@kubernetes/kubectl

[2016-03-03 17:57] lavalamp commented on #22437
@janetkuo for triage. :)

[2016-03-03 17:58] liggitt commented on #16039
c.f. #13929

[2016-03-03 17:59] kargakis commented on #22431
Does this really matter since the controller will use the same default value in case it is unspecified in the hpa?

[2016-03-03 18:00] spxtr commented on #21769
I can make the change in #22374 on PR Jenkins and then we'll get more logs for this sort of thing.

[2016-03-03 18:02] bacongobbler commented on #7891
strike that; something else fishy is going on. Even with the readinessProbe removed the pod is dying. I'll investigate. Disregard!

[2016-03-03 18:03] dchen1107 commented on #22399
@bprashanth I did apply the scale to the existing deployment, but failed too. I couldn't find the initial failure reason now. But even the previous one failed, but it still create deployment object. Close the issue.

[2016-03-03 18:03] #22399 closed

[2016-03-03 18:06] liggitt commented on #22431
internally it might behave the same, but a missing field can break clients that depend on the defaulting behavior of extensions/v1beta1, and don't handle a nil value

agree on setting in conversion to extensions/v1beta1, though it makes me question moving the default from API-level (where it can be known by all API consumers, and reasonably handled when converting to extensions/v1beta1) to control

[2016-03-03 18:07] bgrant0607 commented on #22431
I would just document this.

Users should not use the v1 API until kubectl, the apiserver, and HPA controller all have been updated, and when they do use it, the 1.2 kubectl will show the targetCPUUtilizationPercentage as 80 in the case that it is unset, which is how HPA interprets the value in 1.2.

[2016-03-03 18:09] bprashanth commented on #22437
Apparently we're trying to label a "pods \"test-cleanup-controller-k84p3\" not found"," @nikhiljindal

[2016-03-03 18:09] eparis commented on #22435
I just hit up any PR with the 1.2 milestone that was hanging.

[2016-03-03 18:09] bprashanth commented on #22437
Ah, I see we have https://github.com/kubernetes/kubernetes/pull/22384

[2016-03-03 18:10] bprashanth commented on #20910
I believe this is fixed

[2016-03-03 18:10] #20910 closed

[2016-03-03 18:12] bgrant0607 commented on #22431
@liggitt

Yes, that's the reason we made default logic explicit.

In this case, one could argue that user-specified target utilization is a constraint on the auto-scaling behavior, which is expected to become more sophisticated over time -- think of it similar to nodeSelector's affect on scheduling policy.

[2016-03-03 18:23] pwittrock commented on #22317
Moving the scripts to run in docker containers may be the way to provide cross platform support (albeit through a vm under the covers)

[2016-03-03 18:29] smarterclayton commented on #22438
I'm wondering if we would want it to be cluster identified as well.  This
is kind of what selfLink was originally envisioned to be, except that we
don't enforce its non mutation.

On Mar 3, 2016, at 10:42 AM, Derek Carr <notifications@github.com> wrote:

An OpenShift user requested the following

Is there any way to tie resources (pod, pvc, secrets, bc, etc) to it's
belonging namespace without loo

[2016-03-03 18:29] dchen1107 commented on #22428
@t5unamie  kubectl get pods --show-all=true should give the terminated pods. For a given pod and container, kubectl logs --previous show you logs of previous failed container.

[2016-03-03 18:30] philips commented on #13760
cc @aaronlevy @mikedanese @pb0 @derekparker

[2016-03-03 18:33] thockin commented on #13760
For teh sake of our busting-at-the-seams issue list, I'm going to close this.  If anyone feels it needs more discussion, please object. :)

[2016-03-03 18:33] #13760 closed

[2016-03-03 18:36] fgrzadkowski commented on #22431
Ok, I'll close this issue and open a separate to document this properly.

[2016-03-03 18:39] thockin commented on #22244
Ah, that makes more sense.  Yeah, that's pretty wrong :)

On Thu, Mar 3, 2016 at 9:36 AM, Jeff Grafton <notifications@github.com>
wrote:

[2016-03-03 18:41] thockin commented on #10732
How so?  It works for me.

[code]

On Thu, Mar 3, 2016 at 3:55 AM, Werner Beroux <notifications@github.com>
wrote:

[2016-03-03 18:41] jlowdermilk commented on #22338
Client and server of different versions can communicate in any api groups they both support. However from what I understand the `extensions/v1beta1` api is only required to be compatible between releases. It may or may not have breaking changes at an arbitrary HEAD commit. If you're running code from HEAD, the client and server should be the same version.

[2016-03-03 18:42] bgrant0607 commented on #22437
This is a dupe of #22300

[2016-03-03 18:44] bgrant0607 commented on #22388
NotFound at least needs to be handled in 1.2.

[2016-03-03 18:45] wallnerryan commented on #22436
@mattbates I just verified this same use case running and working on a different set up. heres the breakdown.

[code]

The setup with the error above

OS: `CentOS 7`
Tried: `Kubernetes/Kubelet 1.2.0 and 1.1.1`
Tried: `Docker 1.8.7, Docker 1.10.2,  Docker 1.9.1` (docker 1.8.7 1.9.1 has the `API Error` while 1.10.2 had the `Invalid volume specification`
Flocker: `Flocker 1.10.2`

[2016-03-03 18:46] bgrant0607 commented on #22364
See also #21912

[2016-03-03 18:46] hongchaodeng opened #22448 "Upgrade to etcd v3 plan"
The etcd team has do a lot work to make etcd v3 works efficiently in large scale. Recently we have done a prototype that successfully ran k8s with etcd v3 :) Now I think it’s time for us to start initial discussion and work on the upgrade of etcd in Kubernetes.
## What’s new in etcd v3

First, I want to point out the major benefits of etcd v3:
- We would get rid of relist problem in most cases. et

[2016-03-03 18:48] xiang90 commented on #22448
/cc

[2016-03-03 18:49] fgrzadkowski opened #22449 "Document that using autoscaling/v1/HPA might return unexpected results until 1.3"
Ref https://github.com/kubernetes/kubernetes/issues/22431#issuecomment-191876983

[2016-03-03 18:52] bgrant0607 commented on #22338
Deployment was alpha in 1.1 and was disabled by default. We've made a number of breaking API changes. An old kubectl isn't going to work. We'll document this.

[2016-03-03 18:53] thockin commented on #13299
If you try it against my LB (108.59.82.253) what happens?

Can you also `kubectl get svc -o yaml` and look at the load-balancer in
gcloud and check the affinity?

Can you also tell me which proxy-mode you are in (userspace or iptables)
and/or run `iptables-save` on a node (any node) for me?

On Thu, Mar 3, 2016 at 1:35 AM, spiddy <notifications@github.com> wrote:

[2016-03-03 18:55] bgrant0607 commented on #22364
Events are preferred. Closing in favor of #21912.

[2016-03-03 18:55] #22364 closed

[2016-03-03 19:00] thockin commented on #21923
Faced with multiple interfaces, one of them has to be "primary".  For lack of any better information, we should probably start with the first one.

Hostname is something that users will be able to set (they have been asking for it for a long time).  Like it or not, there is a body of software that makes assumptions about hostnames, and we need to accommodate that.

[2016-03-03 19:00] bgrant0607 commented on #22338
See also #20587, #5889, and search for other issues mentioning "validation". Don't disagree that it should be made more user-friendly.

[2016-03-03 19:11] bprashanth opened #22451 "Updating pod-template-hash race"
I'm just documenting a half debug that i did because it's weird, but don't have time to go down a rabbit hole.
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-build-test-e2e-gce/31298/consoleFull
https://github.com/kubernetes/kubernetes/pull/22203#issuecomment-191162549
Failed because 2 pods weren't deleted. I think I see the following:

1. update pod with pod-tempate-hash
2. update r

[2016-03-03 19:12] errordeveloper opened #22452 "End-to-end tests rely on SSH key path"
I am not entirely sure why the test suite needs to SSH into node in the first place, but it definitely should not hardcode SSH key path and use keychain instead.

This is an error I'm seeing while running the suite agains my cluster which is being deployed in a non-upstream fashion.

[code]

[2016-03-03 19:20] ixdy commented on #22435
Jenkins seems to be working now, so closing.

[2016-03-03 19:20] #22435 closed

[2016-03-03 19:21] Perfect-Web commented on #22178
same happens to me

[2016-03-03 19:22] steveeJ commented on #21923
@thockin

This could be solved by introducing a *primary* property for networks that is handed down all the way to CNI.

@yifan-gu

Which of the following information related to the pod has to be consistent with the hostname set by k8s?
* machined registered name (this probably effects cAdvisor because it occurs in the cgroup name-scheme)
* DNS forward/reverse
* `gethostname()` inside the Pod
* */

[2016-03-03 19:22] jwforres commented on #22431
From my understanding of what changed, this now means that a client will have no idea what parameters are being used to auto-scale (when the default is used).  This is a big usability problem... think about it from a common user workflow:

1) I'm not sure what scaling parameters I want, I'll pick the default to start with
2) Something's not right and I'm not autoscaling soon enough, I should proba

[2016-03-03 19:25] smarterclayton commented on #22421
I am very strongly in favor of making rate limiter injectable.

[2016-03-03 19:30] nikhiljindal opened #22454 "Discuss what to do with kubectl flags that take in a single api version"
Problem: We have kubectl flags (--api-version and --output-version) that take an API version. These were designed when we had just one group and it was expected that just specifying the version will be enough.
But, we now have multiple groups with potentially multiple versions in each group. We have replaced version by groupVersion at most places, but these kubectl flags remain.

This issue is to

[2016-03-03 19:30] nikhiljindal commented on #22454
Some options:
* Update the existing flags to take a list of group versions
* Deprecate and remove the existing flags and introduce new ones.

[2016-03-03 19:30] bgrant0607 commented on #22342
And:
`kubectl get deployment git-deployment -o yaml`

[2016-03-03 19:37] justinsb opened #22455 "AWS btrfs: We should tweak GC policy"
btrfs is prone to running out of disk before it runs out of disk.

We may be able to tweak image-gc-low-threshold to make this less likely with k8s:
https://github.com/kubernetes/kubernetes/blob/HEAD/docs/admin/garbage-collection.md

[2016-03-03 19:38] imkin commented on #22435
https://github.com/kubernetes/kubernetes/pull/20851 is still not getting any love :-(

[2016-03-03 19:38] #22244 closed

[2016-03-03 19:39] #8347 closed

[2016-03-03 19:41] #21681 closed

[2016-03-03 19:42] eparis commented on #22435
I will get it retriggered.

[2016-03-03 19:42] jeremyeder commented on #19655
@yujuhong @timothysc here you go.

It submits 40 creates, waits for all of them to be fully running, then waits 180 seconds, then submits another 40, up to 240 total.  The bumps that appear every 180 seconds are when the test submits 40 pod-create operations.  The larger bump at the end is when the test deletes the entire namespace.

Here's the data from OpenShift 3.1 (note the Y-axis).

Before:
!

[2016-03-03 19:46] metral commented on #22342
Here you go: http://sprunge.us/aNWC

[2016-03-03 19:52] bgrant0607 commented on #22454
Related to #14318

[2016-03-03 19:54] rvrignaud opened #22456 "LoadBalancer type service load balance traffic on pods in different namespace"
Hello,

I use a GKE cluster (master and nodes in 1.1.8 version). I'm using the iptables mode for kube-proxy.
In this cluster I have multiple namespaces.
In one of the namespace I have a service defined as:
[code]

When I use the public IP of this service, requests are loadbalanced between pods in 2 different namespaces (int and int2) that matches the selector "frontend".
In the "int" namespace I h

[2016-03-03 19:55] bprashanth opened #22457 "Go 1.6 seems to irritate build-go"
I don't see any problems, not with build-go at least, but the spew of random junk is jarring. Maybe this is just my environment?

[code]

[2016-03-03 20:00] deads2k commented on #22454
I could see allowing multiple `--api-version` arguments in the format "group/version", where it means "if you're requesting something from this group, use this version".  Since we disambiguate resource groups based on `kubectl get resource.group`, this allows easy, orthogonal use.  It would also allow clean merging of preferences from a `kubeconfig` file.

I see `--output-version` as a congruent f

[2016-03-03 20:08] timothysc commented on #19655
Going to call this one done!

[2016-03-03 20:08] #19655 closed

[2016-03-03 20:20] smarterclayton commented on #22454
I would agree that --api-version=group1/version1,group2/version2 is
what I would expect, rather than a new flag.

[2016-03-03 20:51] rootfs commented on #22407
That's a cool idea!

[2016-03-03 20:57] timothysc commented on #21081
During our @kubernetes/sig-scalability we had discussed whether golang 1.6 w/ http2 might be a clean way of dealing with this.  As http2 supports connection multiplexing.

[2016-03-03 21:06] caruccio commented on #22438
AFAIU  `selfLink` alone isn't enough to distinguish which namespace a resource belongs to. Namespace's name may (and will) duplicated over time.

Other possible easy solution would be to add `openshift.io/encoded-deployment-config` to `dc`, so one can start from a pod through `rc`, `dc` and finally `namespace`, referencing cluster unique UIDs only. However, IMHO, this is a very expensive path beca

[2016-03-03 21:06] caesarxuchao commented on #22337
Thanks @deads2k. I agree it shouldn't be part of the RESTMapper.

[2016-03-03 21:12] nikhiljindal commented on #22454
Do you still want --api-version if we allow users to specify the version with resource? Like `kubectl get deployments.extensions.v1beta1`?

[2016-03-03 21:17] bgrant0607 commented on #22431
@jwforres Good point.

However, we do report the observed utilization in status. Presumably the user would need to set a target lower than the current utilization in your scenario.

Longer term, it's a question of the degree to which the user should have direct control over the policy via threshold knobs, or whether we should express higher-level intent via some other means.

[2016-03-03 21:18] #15193 closed

[2016-03-03 21:24] nikhiljindal commented on #14318
As per discussion with @lavalamp the updated consensus is to deprecate the apiversion field from kubeconfig (ignore it if its present).
Users will specify the version, if they want as part of the kubectl command. So that commands have the same behavior no matter where and by which user they are run.

[2016-03-03 21:24] nikhiljindal commented on #14318
https://github.com/kubernetes/kubernetes/pull/22410 deprecates that field

[2016-03-03 21:25] davidopp commented on #22309
I don't understand the explanation of the problem (or, as a result, Mike's PR). If a pod from the DaemonSet is already running on the node, why would you try to schedule another pod from the same DaemonSet there? Shouldn't isRunning be true here https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L403)
and as a result you wouldn't try to schedule another daemon

[2016-03-03 21:26] hongchaodeng commented on #22448
@wojtek-t @gmarek @timothysc @lavalamp @smarterclayton @xiang90 @HardySimpson

This is a fork from #20504. Besides introducing the benefits of etcd3, I want to discuss specifically what we are going to deal with storage.Interface and etcdHelper struct.

Please feel free to "at" more people if needed.

[2016-03-03 21:27] hongchaodeng commented on #20504
I opened #22448 for a specific discussion of next step. Please feel free to discuss any thoughts there.

[2016-03-03 21:30] deads2k commented on #22454
I think so.  Remember that we also have automatic disambiguation of resources based on preferences.  I can specify `kubectl get deployments,something-else-in-extensions --api-version=extensions/v1beta1`.  I think these have value as orthogonal preferences.

[2016-03-03 21:30] janetkuo commented on #21716
@caesarxuchao is #22418 going to address this?

[2016-03-03 21:32] janetkuo commented on #21716
This is happening again in #22384.

[2016-03-03 21:32] nikhiljindal commented on #22454
Why have 2 ways to do the same thing?

Why not write the same command as `kubectl get deployments.extensions.v1beta1,something-else-in-extensions.extensions.v1beta1`?

[2016-03-03 21:33] ncdc commented on #22309
@davidopp the bug is in `dsc.nodeShouldRunDaemonPod`. It tries to determine, in part, what the effect would be if you added a pod for the current daemon set to the node (does it exceed resources? does it have a conflict hostPort?). The bug was that it was double-counting the pod for the daemon set if it had already been created and scheduled to the node, resulting in a false positive that there wo

[2016-03-03 21:34] caesarxuchao commented on #21716
#22418 shouldn't affect this issue.

[2016-03-03 21:35] ncdc commented on #22448
cc @kubernetes/rh-cluster-infra

[2016-03-03 21:39] aveshagarwal commented on #22454
From usability point of view, it would be better to have kubectl get resource1,resources2.. --api-version=group1/version1... when requesting multiple resources in the same group/version pairs.

[2016-03-03 21:40] davidopp commented on #22309
My point is that if the pod for the daemon set has already been created and scheduled to the node,
(1) why would the logic I mentioned allow you to get to the point of testing whether a second pod on the same node is feasible? shouldn't the code I mentioned prevent you from even considering putting a second pod from the same daemonset on the same node?
(2) if you did get there, isn't it correct to

[2016-03-03 21:41] ncdc commented on #22309
@davidopp it's not actually considering if it should schedule a second pod from the same daemonset onto the node. It's just determining generally if the daemonset should run on node x. And the bug was that it was double counting.

[2016-03-03 21:43] mikedanese commented on #22309
What @ncdc. Look how shouldRun is used https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/daemon/controller.go#L399-L418

[2016-03-03 21:43] nikhiljindal commented on #22454
Based on discussion with @lavalamp, here is what we can do:

* 1.2: Stop using apiversion field from kubeconfig. Users should specify the apiversion in the command, if they want, so that the command produces the same output when run on any machine or by any user.  #14318
* 1.2: Deprecate --api-versions field from kubectl. The flag doesnt work today anyway. We will instead, later, allow users to sp

[2016-03-03 21:44] krousey commented on #22448
cc @kubernetes/sig-api-machinery

[2016-03-03 21:45] ncdc commented on #22309
The logic in nodeShouldRunDaemonPod is supposed to work like this (portions excluded):

1. Get a list of all pods on node x
1. Make sure the list includes a pod for this daemonset
1. Check to make sure that we aren't exceeding allocable resources
1. Check to make sure we don't have a hostPort conflict

The problem is in step 2 - it wasn't checking to see if node x already had a pod for this daemon

[2016-03-03 21:48] bgrant0607 commented on #21716
We should delete hpa first, so it doesn't might the rc reaper.

[2016-03-03 21:49] bgrant0607 commented on #21716
fight

[2016-03-03 21:49] bgrant0607 commented on #21716
[code]

[2016-03-03 21:53] timothysc commented on #22448
@hongchaodeng You can write a totally parallel implementation behind the storage interface and leave the existing one as is.  Startup could be conditionalized behind a factory.  I think we'd have to migrate the capabilities through the storage interface eventually, but this ripples all through the registry.

Lastly, someone is going to need to update sky-dns, where last I looked, we were using a r

[2016-03-03 21:58] vishh opened #22464 "NodeStatus should include lack of CPU hardcapping support"
A mis-configured kernel could result in lack of cpu hardcapping support on one or more nodes. For v1.2, cpu hardcapping will not be a hard requirement.
Until that situation changes, let's update the NodeStatus to include a message that indicates unavailability of cpu hardcapping.

[2016-03-03 21:59] pwittrock commented on #21605
@bprashanth my pleasure

Pull #22443 to move serve_hostname into the kubernetes/kubernetes repo from contrib

[2016-03-03 22:01] janetkuo commented on #21716
Filed #22466

[2016-03-03 22:06] yifan-gu commented on #21923
I think except for the machined registered name (as we discussed yesterday, it can cause problems if two pods with the same pod name try to register with machined), other things should be consistent with the hostname set by k8s. Point me out if I am wrong @thockin

[2016-03-03 22:08] caseydavenport opened #22469 "Kubernetes Network Policy"
Raising this issue to track the status of network policy in Kubernetes so it isn't hidden within the network SIG.

Current rough plan:
- [x] Short-term: Define v1alpha1 network policy using API extensions.
- [x] Medium-term [v1.3]: Implement as Kubernetes v1beta API object. (#25638)
- [x] Medium-term: Refine and add to API based on user-feedback.
- [x] Long-term: Implement as first-class API in k8

[2016-03-03 22:11] #21651 closed

[2016-03-03 22:15] spxtr commented on #10423
Ok, #22374 is in so we should get logs for kubernetes-e2e-* jobs and PR Jenkins jobs on timeout.

[2016-03-03 22:17] tomdee commented on #22469
CC @philips

[2016-03-03 22:21] Random-Liu opened #22470 "Kubelet: Cleanup node status related unit test in kubelet_test"
There is quite a number of duplicated code in different node status related test functions, such as mock cadvisor intialization, expected node status etc.

It should be cleaned up. :)

[2016-03-03 22:25] caseydavenport commented on #22469
I don't know everyone's GitHub names, so please do summon those that I haven't included!

@thockin @dcbw @jainvipin @lxpollitt @MikeSpreitzer

[2016-03-03 22:28] spxtr commented on #10423
I'm gonna call this done.

[2016-03-03 22:28] #10423 closed

[2016-03-03 22:29] spxtr commented on #21769
Okay, from now on we should get logs from this.

[2016-03-03 22:29] janetkuo commented on #22270
Looking at [controller-manager log](https://00e9e64bac724a900d1e930d5494461c0bef781c9e0e98dc4f-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F22367%2Fkubernetes-pull-build-test-e2e-gce%2F31448%2Fartifacts%2F104.154.105.154:22-kube-controller-manager.log?qk=AD5uMEuFmiHyu2xY6fmHOsmrZRvGQart7t4iR-5PnRs1WL9FvOO3pjpdfFNci9feiZpF8v1to9FHeVibxb-YRAOmgIa

[2016-03-03 22:32] ixdy commented on #20778
Has anyone seen this happening recently?

[2016-03-03 22:37] thockin commented on #9107
I'm tagging people who own docs that I think (with a very casual glance) don't include DNS as part of cluster turnup.  Please take a look at your docs and either convince me that they do bring up DNS properly and I just missed it, or craft a PR that includes DNS turnup.  I'd love to say DNS is required, but we don't want a bunch of docs that don't tell people how to do that.

@kolyshkin CentOS man

[2016-03-03 22:38] madhusudancs opened #22471 "Document multiple scheduler feature."
We need a doc that explains how to setup and run multiple schedulers in a cluster. In addition, the doc should also explain how the pods can be scheduled using these schedulers.

cc @davidopp @roberthbailey

[2016-03-03 22:40] janetkuo commented on #22270
I noticed that the expectations is {add: 0, delete: 1}, which should come from rs controller. In rs controller, we use ExpectDeletions, which sets add to 0. Maybe `ExpectDeletions` clears the add expectation so that the controller didn't know it should create a pod for the new RS?

[2016-03-03 22:43] mikedanese commented on #22398
I was not able to reproduce on head

[2016-03-03 22:43] #22398 closed

[2016-03-03 22:44] mikedanese commented on #22025
I think we can fold this discussion into #20497

[2016-03-03 22:44] #22025 closed

[2016-03-03 22:45] davidopp commented on #22471
You're planning to write this, correct? If so, please assign to yourself.

[2016-03-03 22:56] davidopp commented on #18558
This just flaked again
pull/22254/kubernetes-pull-build-test-e2e-gce/31586
but it's a different error message so probably a different cause. Still, seems better to reuse the same issue, so I'm reopening.

[code]

[2016-03-03 22:56] janetkuo commented on #22437
#22384 is merged. The not found failure mode should be gone.

[2016-03-03 22:56] janetkuo commented on #22300
#22384 is merged. The not found failure mode should be gone.

[2016-03-03 22:57] goltermann commented on #19071
@amygdala are you finishing this off?  I guess we need to repush that image?

[2016-03-03 22:59] djosborne commented on #9107
@caseydavenport

[2016-03-03 23:02] deads2k commented on #22454
Even the end goal for 1.3 still makes this painful for a user.  The vast majority of the time users won't have to specify a group.  The explicit group disambiguation should be the exception, but being able to specify a preferred version for an API group is also pretty normal to do, especially during transitions.  The "normalness" of specifying back when we had three versions was how we ended up wi

[2016-03-03 23:03] janetkuo commented on #18558
The server returns key not found  when we try to delete the job at the clean up step.

cc @kubernetes/sig-api-machinery

[2016-03-03 23:07] smarterclayton commented on #18558
That's #22418, isn't it?

On Thu, Mar 3, 2016 at 5:03 PM, Janet Kuo <notifications@github.com> wrote:

[2016-03-03 23:10] spxtr commented on #18116
I'm not sure that this is useful as a tracking issue, although the underlying issue still remains. For instance, `kubernetes-e2e-gce-flannel` has been broken for a long time, but nobody cares. Technically it has an owner, but that doesn't mean the owner needs to fix it anytime soon.

Soak tests are a long-term goal on their own that deserve their own issue.

I don't think we're going to get owners

[2016-03-03 23:13] caseydavenport commented on #9107
@thockin @djosborne I think it is best we just remove the Fedora+Calico guide, at least temporarily.  It is quite outdated and needs a full re-write, but I don't think we have time to get it into a suitable condition for v1.2.

PR: https://github.com/kubernetes/kubernetes/pull/22475

[2016-03-03 23:18] #22319 closed

[2016-03-03 23:19] #18463 closed

[2016-03-03 23:19] #21716 closed

[2016-03-03 23:19] caesarxuchao commented on #18558
I'm not sure if it's #22418. I looked for log entry `nodecontroller.go:331 <nil>` which indicating nodecontroller deleted the pod before kubectl, but I didn't see it in the log. I don't know if there is another controller race with kubectl here.

[2016-03-03 23:21] #22309 closed

[2016-03-03 23:21] #18751 closed

[2016-03-03 23:24] Snake231088 commented on #12062
I've same issue.
I've 2 VM running on Virtual Box, 1 master/minion and 1 minion.
For testing i've shutting down the minion, after that i expected that the node (minion) was unreachble but after 10 minutes the status was Ready and also the pods status scheduled on the minion (dead) was still Ready.
(Sorry for my English)

[2016-03-03 23:26] enlinxu commented on #9125
Hi,
Is there any update on this in terms of all iptables version?

[2016-03-03 23:30] thockin commented on #9125
Not really.  Not much work has been done here, unfortunately

On Thu, Mar 3, 2016 at 3:26 PM, Enlin Xu <notifications@github.com> wrote:

[2016-03-03 23:31] Snake231088 commented on #12062
kubectl get no
`NAME           LABELS                                                  STATUS    AGE
172.17.4.100   kubernetes.io/hostname=172.17.4.100,role=loadbalancer   Ready     2d
172.17.4.200   kubernetes.io/hostname=172.17.4.200                     Ready     2d  (STOPPED)`

kubectl describe no 172.17.4.200 (the minion killed)
`Name:			172.17.4.200
Labels:			kubernetes.io/hostname=172.17.4.2

[2016-03-03 23:32] madhusudancs commented on #22471
@davidopp Yeah. Assigned it to myself.

[2016-03-03 23:35] smarterclayton commented on #18558
Job controller and kubectl?

[2016-03-03 23:40] thockin commented on #22456
That should not be.  Services do not cross namespaces.  I can not reproduce this behavior at all - are you sure this is what you're seeing?

Can you send me `iptables-save` from a node?

[2016-03-03 23:45] davidopp commented on #22106
@justinsb were you planning to look into the "timeout that needs boosting" in the 1.2 timeframe? If not, please remove the v1.2 milestone from the issue.

[2016-03-03 23:47] janetkuo commented on #18558
cc @soltysh

[2016-03-03 23:51] davidopp commented on #21382
#21471 has been merged, so closing.

[2016-03-03 23:51] #21382 closed

[2016-03-04 00:00] ixdy commented on #20778
Answering my own question: looking at PR Jenkins, a few timeouts over the last few days, though not as frequent as it used to be. Also, each one looks slightly different:
* http://pr-test.k8s.io/22410/kubernetes-pull-build-test-e2e-gce/31469/
* http://pr-test.k8s.io/22331/kubernetes-pull-build-test-e2e-gce/31269/
* http://pr-test.k8s.io/22311/kubernetes-pull-build-test-e2e-gce/31255/
* http://pr-t

[2016-03-04 00:01] justinsb opened #22479 "AWS: Document ownership and 2 security group trick"
I should document how the KubernetesCluster tag implies ownership, and how if you want to modify a security group or IAM policy you should add a second one (where only one is tagged)

See e.g. https://github.com/kubernetes/kubernetes/pull/21987#issuecomment-191923383 but this has come up a lot.

[2016-03-04 00:05] dchen1107 opened #22480 "Kubelet failed to delete pods which has container(s) stucking at waiting state (failed to docker creation)"
This is a regression for sure.

I tried to reproduce docker hung issue (https://github.com/kubernetes/kubernetes/issues/22259) the all morning by scale up one replicaset from 0 to 300 and scale down another one from 300 to 0 in my 3-nodes cluster. After several rounds to scale up and scale down testing, I have a pod staying on terminating state forever.

[code]

Here is the related to kubelet logs

[2016-03-04 00:06] lavalamp commented on #22262
Oh, for the spreading? We should just maintain pod <-> "spreading group" map. It's silly to recreate that every time (sorry, haven't looked at the code).

[2016-03-04 00:08] dchen1107 commented on #22480
Actually containers of pod hostnames-new-1098102898-69mbn are removed by gc already:

[code]

[2016-03-04 00:09] dchen1107 commented on #22480
https://github.com/kubernetes/kubernetes/issues/20497

[2016-03-04 00:19] lavalamp commented on #22413
This was added because we didn't have cross-group registration. @madhusudancs is implementing that. Unfortunately it would break old clients if we removed this now. But we won't do this again ever in the future. Maybe we can remove in 1.3, but probably we have to live with it until 1.4.

[2016-03-04 00:19] davidopp commented on #20916
Any thoughts on next steps for this issue? (It's marked P0 v1.2).

It doesn't sound like we've identified an actual code bug here. The fix for #10423 has been merged, so we can get better logs in the future. I'd propose we close this issue for now. Any objections?

[2016-03-04 00:23] lavalamp commented on #22340
Awesome. Super glad we (you) added those messages!

On Thu, Mar 3, 2016 at 7:29 AM, Wojciech Tyczynski <notifications@github.com

[2016-03-04 00:24] bprashanth commented on #20916
we *just* merged: https://github.com/kubernetes/kubernetes/pull/22192, which is the fallout from the debugging in https://github.com/kubernetes/kubernetes/issues/20916#issuecomment-190331119. I want to see why/if/for how long the metadata server is hanging. Previously we weren't timing out requests, so there's a chance we won't hit that failure mode if it was a GET hang of some sort that came afte

[2016-03-04 00:24] bprashanth commented on #20916
I'm reassigning to myself so I can take a look with the next failure.

[2016-03-04 00:25] derekwaynecarr commented on #9107
@thockin

Vagrant runs DNS by default

https://github.com/kubernetes/kubernetes/blob/master/cluster/vagrant/config-default.sh

# Optional: Install cluster DNS.
ENABLE_CLUSTER_DNS="${KUBE_ENABLE_CLUSTER_DNS:-true}"
DNS_SERVER_IP="10.247.0.10"
DNS_DOMAIN="cluster.local"
DNS_REPLICAS=1

On Thursday, March 3, 2016, Casey Davenport <notifications@github.com>
wrote:

[2016-03-04 00:25] lavalamp commented on #22421
The things I care about are:
* each registered metric has a name that makes it easy to identify the rate
limiter
* hard to accidentally make a rate limiter without also registering the
metric

On Thu, Mar 3, 2016 at 11:25 AM, Clayton Coleman <notifications@github.com>
wrote:

[2016-03-04 00:25] nikhiljindal commented on #22454
Re checking output-version and convert: It works but does not error if the output version value is inapplicable.

I created an hpa using ` kubectl.sh create -f docs/user-guide/horizontal-pod-autoscaling/hpa-php-apache.yaml`
docs/user-guide/horizontal-pod-autoscaling/hpa-php-apache.yaml is in extensions/v1beta1.

Running `kubectl get hpa -o yaml` prints the output in `autoscaling/v1`.
Running `kube

[2016-03-04 00:25] thockin commented on #21923
CNI plugins are supposed to be independent, right?  What is a CNI
plugin going to DO with that information?

[2016-03-04 00:26] thockin commented on #21923
We don't want pod hostnames in DNS unless explicitly put them there.

On Thu, Mar 3, 2016 at 2:06 PM, Yifan Gu <notifications@github.com> wrote:

[2016-03-04 00:27] janetkuo commented on #22270
[code]
Before we performed the rollback, the rs test-rollback-no-revision-deployment-2791990575 is scaled down to 0, and the expectation is set to {add: 0, delete: 1}, but it's never met even after the pod is deleted, and it's why the rs controller didn't create new pods when we scale up this rs a while later.

[2016-03-04 00:29] lavalamp commented on #22431
Added to my 1.3 list.

On Thu, Mar 3, 2016 at 7:15 AM, Brian Grant <notifications@github.com>
wrote:

[2016-03-04 00:30] nikhiljindal opened #22484 "scheme.ObjectKind() returns arbitrary API group for *extensions.HorizontalPodAutoscalers"
From https://github.com/kubernetes/kubernetes/issues/22454#issuecomment-192034464

`kubectl get hpa -o yaml` prints the output in `autoscaling/v1` but `kubectl.sh convert -f docs/user-guide/horizontal-pod-autoscaling/hpa-php-apache.yaml` prints the output in `extensions/v1beta1`

We should have one default group version for all kubectl commands for hpa.

@kubernetes/kubectl @piosz @kubernetes/auto

[2016-03-04 00:30] dchen1107 commented on #22480
From what I observed,

* the containers of that pod are killed (actually never really run), and dead containers are gc-ed too.
* DeletionTimestamp is properly set on pod, and kubelet does know it. So kubelet stop to retry to start the container.

[2016-03-04 00:31] mikedanese commented on #21367
In the last 1860 runs these are the failures:

http://ci-test.k8s.io/kubernetes-e2e-gce/11401 (catastrophic failure?)
http://ci-test.k8s.io/kubernetes-e2e-gce/11613 (ginkgo node timeout)
http://ci-test.k8s.io/kubernetes-e2e-gce/11477 (container runtime is down on a node, evrything is slow, eventually the build times out)
http://ci-test.k8s.io/kubernetes-e2e-gce/11291 (catastrophic failure in the s

[2016-03-04 00:33] thockin commented on #9107
Thanks.

On Thu, Mar 3, 2016 at 4:25 PM, Derek Carr <notifications@github.com> wrote:

[2016-03-04 00:33] davidopp commented on #20916
OK, but can you re-title this issue so it's just about trying to read from the metadata server?

[2016-03-04 00:34] mikedanese commented on #21367
The 11401, 11291, 11274 failures look like #20910

[2016-03-04 00:34] pstauffer opened #22485 "fixing detecting docker version"
In the getting-started-guides matches the detection of the docker version not with a version 1.1x.

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh#L108

https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/worker.sh#L105

[2016-03-04 00:42] dchen1107 commented on #22415
@ntquyen when you said kubernetes claim the pod is running, are you referring the container(s) in that pod are running, or pod itself? Can you run command kubectl describe pods <podname>?

[2016-03-04 00:43] pstauffer commented on #22485
I found the original pull request for this docker version detection... Maybe this can help for understanding.
https://github.com/kubernetes/kubernetes/pull/20281

[2016-03-04 00:43] davidopp commented on #22334
This has started passing enough that we can start filing individual bugs for failures. I'll do that now.

[2016-03-04 00:43] #22334 closed

[2016-03-04 00:44] saad-ali commented on #22407
Bare minimum we should add a comment saying the NFS server created by this example is not backed by persistent storage (it is a toy example).

Better, as @thockin suggested, would be to modify the example to back the NFS server with a GCE PD.

[2016-03-04 00:45] davidopp opened #22489 "e2e flake: Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/741/
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce-serial/733/

[2016-03-04 00:46] davidopp commented on #22489
[code]

cc/ @dchen1107 @gmarek

[2016-03-04 00:47] thockin commented on #20466
I'm fine with the idea.  Help wanted - we're buried :)

This seems like a pretty approachable problem for someone who was only a little familiar with kubernetes

[2016-03-04 00:51] derekwaynecarr commented on #22045
This PR should merge soon that updates namespace deletion and adds additional validation that a LIST returns an empty set for each API resource.

https://github.com/kubernetes/kubernetes/pull/21400

I want to keep this open until we verify we no longer see the flake, and have been looking at where else we can add logging in the interim to determine where the root cause problem is since it's not cl

[2016-03-04 00:51] davidopp opened #22491 "GKE e2e flake: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1"
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/691/

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/horizontal_pod_autoscaling.go:62
Mar  3 08:59:13.439: Number of replicas has changed: expected 3, got 4

cc/ @mwielgus @piosz

[2016-03-04 00:52] davidopp commented on #19681
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke-serial/690/

[2016-03-04 00:52] lavalamp commented on #22454
Hopefully it's deployments.v1beta1.extensions?

@deads2k I make two strange claims.

Claim 1: maintaining a list of group-version pairs is actually a worse experience than not.

First, I note that all of your config files have a group/version embedded in them. So for any `-f blah.yaml` operation, you don't need to deduce anything. That leaves get/list operations. I maintain that probably, you want

[2016-03-04 00:53] bgrant0607 commented on #22338
Probably should be documented in the known-issues list: #21000

[2016-03-04 00:53] thockin commented on #7562
hostpath PV is for devel and debug.  Not for production.

I think we all agree some form of PV backed by local-media is useful, but I
think that's as far as we have gotten

On Mon, Feb 29, 2016 at 6:05 AM, chengyli <notifications@github.com> wrote:

[2016-03-04 00:55] thockin commented on #19029
Minhan, is this something you're still hoping to look at, or overflowed?

On Mon, Feb 29, 2016 at 11:03 PM, Minhan Xia <notifications@github.com>
wrote:

[2016-03-04 01:00] freehan commented on #19029
I will submit PR shortly.

[2016-03-04 01:02] bgrant0607 commented on #22270
@janetkuo Expectations record what the controller did, not what it should do. It uses them to determine when it's observed its actions via the watch stream. However, it doesn't seem to be 100% accurate.

This could be another bug in handling of graceful termination. Or, if Delete ever returned true even though the delete already happened, that would be a problem. #22418 could make this problem wor

[2016-03-04 01:04] thockin commented on #19029
oh, fantastic.  Way better answer than I expected.

On Thu, Mar 3, 2016 at 5:01 PM, Minhan Xia <notifications@github.com> wrote:

[2016-03-04 01:07] bgrant0607 commented on #22270
ExpectCreations and ExpectDeletions do clear prior expectations, but that's because it's assumed that prior expectations have either been met or have expired.

[2016-03-04 01:17] davidopp commented on #7562
In the past @bgrant0607 has said this is very related to PetSet, and I agree. We should consider doing both at the same time (though they can be parallelized, I think). @thockin WDYT?

[2016-03-04 01:27] alfred-huangjian commented on #22448
cc @kubernetes/huawei

[2016-03-04 01:37] yujuhong commented on #22480
Some clarification: The bug was introduced very recently, and it'd only happen if the creation/starting of the POD infra container **permanently** fails. This should not occur often.

[2016-03-04 01:41] derekwaynecarr commented on #22045
my other thought if this continues to happen is the admission controller in NamespaceLifecycle is not getting notification of the namespace phase change and deletion fast enough , and a pod is being admitted even after a namespace no longer exists by another latent controller.  If that is the source I am not sure of the resolution.   We could require an admission controller to take part in namespa

[2016-03-04 01:46] #22085 closed

[2016-03-04 01:47] bprashanth commented on #20916
Hmm, but I don't even know if that's the problem

[2016-03-04 02:01] hongchaodeng commented on #19681
Can you share the log? I can help with debugging.

[2016-03-04 02:02] mdshuai commented on #20199
RC control a pod with activeDeadlineSeconds!=nil and restartPolicy=always. it will always recreate a pod after exceed deadline seconds.
should make restartPolicy!=Always

[2016-03-04 02:04] ihmccreery opened #22494 "Kubelet should respect ACPI shutdown"
If I shut off my instance, it should receive an [ACPI](https://en.wikipedia.org/wiki/Advanced_Configuration_and_Power_Interface) shutdown signal, (e.g. [in GCE](https://cloud.google.com/compute/docs/instances/stopping-or-deleting-an-instance#delete_timeout)).  Kubelet should respect that signal and self-evacuate, or, at least, signal to the node controller that it's going down and is `NotReady`.

[2016-03-04 02:05] ihmccreery commented on #7351
I believe (1) and (2) in the original comment are distinct ((1) being initiated through the API somehow, (2) being initiated by the node or cloud provider), and so I've separated (2) out into #22494.

[2016-03-04 02:07] Stephenitis commented on #3945
@davidopp It works just fine until a container in the pod dies and the kubernetes pause container remains.

I have a issue with setting the hostport on my spec where if a container in the pod fails this container still remains preventing the pod from restarting.
docker ps yields
[code]

When I inspect the pod
[code]

[2016-03-04 02:30] AdoHe commented on #13929
It seems some TODOs still not finished, will pick one.

[2016-03-04 02:51] AdoHe commented on #22484
I could see we should use `autoscaling/v1` as the default group version for hpa.

[2016-03-04 02:53] AdoHe commented on #22469
@kubernetes/sig-network

[2016-03-04 02:54] liggitt commented on #22484
Depends. @deads2k and @lavalamp had discussed an ordering determined from the server's discovery doc, I believe

[2016-03-04 02:55] AdoHe commented on #22448
/cc

[2016-03-04 02:59] mikedanese commented on #19681
@hongchaodeng can you see this: http://ci-test.k8s.io/kubernetes-e2e-gke-serial/690/

[2016-03-04 03:00] xiang90 commented on #22448
@timothysc

etcd uses gRPC for client/server communication. So in the context of etcd + k8s, this is relevant. This is not API sever + other components through gRPC,

[2016-03-04 03:00] thockin commented on #7562
I think it is orthogonal to petset.  For environments without networked
storage, local PV is a solution where there wasn't a good one before.  For
environments with "special" storage, local PV is an enabler.  For petset,
local PV is no better than network storage, if it is available.
On Mar 3, 2016 5:17 PM, "David Oppenheimer" <notifications@github.com>
wrote:

[2016-03-04 03:26] bprashanth commented on #22270
We need to establish what gets set when for graceful termination. The rc manager is expecting:

1. an update followed by a delete, where the update contains a deletion timestamp (the delete can show up first and the rc manager will handle that case, as long as the update DOES show up).
2. OR a straight DELETE with deletionTimestamp==nil, this should actually never happen because we always update t

[2016-03-04 03:34] wattsteve commented on #7562
@thockin can you clarify why you feel that hostPath is for devel and debug? Why is a mount of a local disk perceived as less reliable than a mount of a network disk? For the node instances of on-premise scale out platforms like Cassandra, Mongo, GlusterFS, HDFS, etc., local disk is preferred to network disk for performance reasons.

[2016-03-04 03:35] bprashanth commented on #22270
Also yes, this is a bad way to handle graceful termination for any controller. It's fickle. It was tacked on after the initial design and we didn't really bother redesigning anything to accomodate it better (honestly I hardly understood the details when it first went in). That's why I want the details abstracted out into the informer https://github.com/kubernetes/kubernetes/issues/22150.

[2016-03-04 03:50] kshelton opened #22498 "Unable to use client certificates with etcd after change to new client"
When the switch to the new client occurred, client certificate support wasn't included.

[2016-03-04 03:53] justinsb opened #22499 "AWS: Check e2e on release-1.1 branch"
Splitting out a piece of #18037 : to check the 1.1 e2e tests on AWS.  Apparently they are not happy?

https://github.com/kubernetes/kubernetes/issues/18037#issuecomment-191471196

[2016-03-04 03:54] justinsb commented on #22403
(This is a piece of #18037)

[2016-03-04 03:54] justinsb commented on #18037
Opened those two issues; closing this one.

[2016-03-04 03:54] #18037 closed

[2016-03-04 04:03] thockin commented on #7562
hostPath PV (as opposed to plain hostPath) was added for development.  The
scheduler is 100% unaware of it, and so can NOT make any guarantees about
"persistence" of that data.

On Thu, Mar 3, 2016 at 7:35 PM, Steve Watt <notifications@github.com> wrote:

[2016-03-04 04:25] #22081 closed

[2016-03-04 04:55] #22198 closed

[2016-03-04 05:09] hongchaodeng commented on #19681
The scheduler log was empty when I downloaded (multiple times).

[2016-03-04 05:10] #19403 closed

[2016-03-04 05:12] nikhiljindal commented on #22484
Yes. I think we had decided to keep extensions/v1beta1 as the default in 1.2.
Will switch to autoscaling/v1 in 1.3.

[2016-03-04 05:16] hongchaodeng commented on #19681
I just looked at the client log. It already looked like a hardware crash.

There were only 3 nodes while I thought there should be 4nodes, right?
[code]

[2016-03-04 05:25] bgrant0607 commented on #22270
The controller is operating on stale state, so it could very well call Delete on pods that are already terminating.

[2016-03-04 05:29] bprashanth commented on #22270
It should be filtering out pods with the timestamp set: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go#L495, and only invoking delete on the remaining pods: https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/replication/replication_controller.go#L469

[2016-03-04 05:29] bgrant0607 commented on #22270
Yes, but that's racy.

[2016-03-04 05:30] bprashanth commented on #22270
ah, you mean if someone else is deleting while they're scaleing. Yes, but I didn't see that in the logs?

[2016-03-04 05:31] bgrant0607 commented on #22270
Hmm. Ok, good point.

[2016-03-04 05:33] #14765 closed

[2016-03-04 05:33] #21701 closed

[2016-03-04 05:33] bprashanth commented on #22270
Unless we have overlapping label selectors or we changed selectors while the rc was waiting for pods. These won't surface in the logs currently.

[2016-03-04 05:37] bgrant0607 commented on #22270
I only see the one delete in the API server log.

Deployment does change selectors during adoption, but the pod<->controller relationship doesn't change.

[2016-03-04 05:40] bprashanth commented on #22270
The log might be misleading, it only shows the incoming requests, not if the apiserver applied some update internally while processing the delete.

[2016-03-04 05:40] bgrant0607 commented on #22270
What do you think about changing the expectation timeout to (numExpectations / 3 + 10) seconds or something along those lines?

[2016-03-04 05:44] bgrant0607 commented on #22270
Not that we shouldn't try to understand what's going on here.

[2016-03-04 05:44] bprashanth commented on #22270
If it's set too short the rc will surely overshoot, it's safer to just ignore graceful deletion in rcs like the other controllers, if we're willing to do that. But I still feel this bug shouldn't be happening with the right deletes.

[2016-03-04 05:51] bgrant0607 commented on #22270
Deployment controller observes the deletion immediately after ReplicaSet deletes it, but it doesn't look like ReplicaSet ever observes it.

[2016-03-04 05:58] bgrant0607 commented on #22270
Well, we could add logging for the case where DeletionTimestamp was set.

During graceful deletion the pod is updated without an API call, so if that event weren't reported, that could explain this.

[2016-03-04 06:05] bgrant0607 commented on #18558
We shoudn't be returning raw etcd errors.

[2016-03-04 06:07] bgrant0607 commented on #22437
Closing. We can reopen if not fixed.

[2016-03-04 06:07] #22437 closed

[2016-03-04 06:07] bgrant0607 commented on #22300
Closing. We can reopen if not fixed.

[2016-03-04 06:11] bgrant0607 commented on #22270
Is there a failure scenario that could cause the update to be missed, like broken watch connection?

What about:
[code]
?

Does that log anything?

[2016-03-04 06:33] gmarek commented on #12062
I need logs from controller-manager and api-server. Also please paste the `describe` result for healthy kubelet for comparison.

[2016-03-04 06:35] bprashanth commented on #22270
If RS gets the delete with a timestamp set, it will wait for the update that changed the timestamp (because it shouldn't double count the delete). So if it gets one delete and that delete has a timestamp it will be confused.

We should be handling cases like that in the informer. It will generate events based on what it considers an update/delete etc. i.e if we relist and notice a pod is missing (

[2016-03-04 06:37] gmarek commented on #22421
@lavalamp - this is why I even thought of the second option. Client has a name, so it's pretty easy to get a name, and it's also quite easy to get the metric registered (I believe). The problem is that we'll need to require some non-obvious arguments during client creation (http server?), so maybe we should have two versions: 'internal' and 'external' client. @bgrant0607

I can make rate limiter i

[2016-03-04 06:41] AdoHe commented on #22484
I would help with updating `kubectl get hpa` behavior.

[2016-03-04 06:55] bgrant0607 commented on #22421
Do we even have an external client yet, or just versioned and unversioned?

[2016-03-04 07:13] bprashanth commented on #22270
I dislike the hack. Going to start with logging: https://github.com/kubernetes/kubernetes/pull/22503

[2016-03-04 07:17] zreigz commented on #4869
I have been using Ubuntu 15.10 with docker 1.10.2. I've tested docker-multinode solution and I did't notice any mount problem. I checked logs from my journalctl and doesn't show errors for docker. I've created some pods from example directory and I added kubernetes dashboard to cluster and everything works fine.

[2016-03-04 07:22] wojtek-t commented on #22421
@bgrant0607 - the latter

[2016-03-04 08:00] rvrignaud commented on #22456
I'm sure. This have been working well for me for months.
I'm sending you the iptables-save privately.

[2016-03-04 08:23] wojtek-t commented on #21484
This happened again:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gce/12730/

[2016-03-04 08:32] gmarek commented on #18969
We have a run into it in http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-kubemark-gce-scale/830/console for 11 nodes. We do have logs from the kubelet that failed to become registered (jjgh), but they are empty. It looks like a VM issue, as kern.log is also empty. Or we somehow failed to download logs... @spxtr

[2016-03-04 08:36] piosz opened #22505 "Make sure HPA works for Deployments and enable appriopriate e2e tests"
In #19840 @madhusudancs disabled e2e tests which verify that HPA can scale Deployment. There is the following comment there:

Since #18528 is fixed should we re-enable the tests? Is there anything that should be fixed before?

@bgrant0607 @fgrzadkowski @janetkuo @mwielgus

[2016-03-04 08:37] wojtek-t commented on #22262
Oh, for the spreading? We should just maintain pod <-> "spreading group" map. It's silly to recreate that every time (sorry, haven't looked at the code).

hmm - it probably should be "pod labels <-> spreading group" - this may be more efficient.

[2016-03-04 08:42] jayme-github opened #22506 "json: cannot unmarshal number into Go value of type string"
I belive this is similar to #2763. I'm unable to create the rc from the following yaml template:

[code]

[code]

Quoting the `replica` value works around this.

[2016-03-04 08:45] madhusudancs commented on #22505
@piosz What I wanted from #18528 is now being tracked in #21549. There are a bunch of PRs we need to get done before enabling these e2e tests. I don't think it can be enabled yet.

Relevant PRs:
1. #21966
2. #21910
3. And I am working on a PR which I haven't even published yet.

[2016-03-04 08:48] newjueqi opened #22507 "can not delete endpoint in special namespace"
i found one endpoint follow:

[code]

then I want to delete " glusterfs-cluster" use follow commond:
[code]
or
[code]
or
[code]

is it something wrong with my commond?

[2016-03-04 08:49] madhusudancs commented on #21549
@davidopp I posted an update here - #22505. Sorry, seeing this now. PR #21909 was merged yesterday, so we can close this issue. Issue #22505 should track the WIP PRs.

[2016-03-04 08:49] #21549 closed

[2016-03-04 08:50] bgrant0607 commented on #22259
@gmarek Yes, we expect to cherrypick some PRs after cutting the branch.

[2016-03-04 08:51] piosz commented on #22505
Thanks for the update. So once you are done please re-enable them.

[2016-03-04 08:51] wojtek-t commented on #22448
I agree with @timothysc - we should start with implementing v3 etcd implementation behind currently existing interface. Once we have this working, we can start extending/changing it to make benefits of etcd v3, but that's a second step in my opinion.

Regarding gRPC - I think there are few points here:
- does etcd v3 support only gRPC or also JSON? I though both, am I right?
- eventually, we defin

[2016-03-04 08:52] madhusudancs commented on #22505
@piosz sure, will do.

[2016-03-04 08:53] wojtek-t commented on #20504
We should probably deduplicate issues. @lavalamp - are you fine with closing this one?

[2016-03-04 08:53] wojtek-t commented on #21484
And one more:
http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-e2e-gke/2190/

[2016-03-04 08:53] fgrzadkowski commented on #22505
@madhusudancs What will happen if you don't merge those PRs before the cut? Does the current code work without your changes? Can we scale Deployment and ReplicaSet (we run tests for Replication controller so this should work).

[2016-03-04 08:54] Toplife opened #22508 "Can we dynamc set args flow replicas number?"
**test.yaml**
Flow below .yaml, id for app,and it`s unique,If I changed replicas value,how to set different in each container app?
Please help...Thanks.

[2016-03-04 08:54] wangjia184 commented on #14642
+1

`gcloud compute instances detach-disk NODE --disk DISK`

[2016-03-04 08:59] mdshuai opened #22509 "Create/Update quota should calculate the current used resouce quota"
When create/update quota,if current used quota > the quota we will create/update, should failed.
we should calculate the current resource quota

[code]

[2016-03-04 09:06] wojtek-t commented on #22340
Scalability suite didn't failed in last 30 runs (since I merged the fix). I'm closing this issue. We should reopen it if that happens again, but I think it is now fixed.

[2016-03-04 09:06] #22340 closed

[2016-03-04 09:12] gmarek commented on #22165
It happened again in 'normal' scalability test: http://kubekins.dls.corp.google.com/view/Scalability/job/kubernetes-e2e-gce-enormous-cluster/79/consoleText

Proxy to `a8po` was hanging for 6 hours.

[2016-03-04 09:24] thriqon commented on #22457
This might be caused by [hack/lib/version.sh#117](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/version.sh#L117):
[code]

 The test only checks for go 1.5. Maybe it should read:

[code]

(from [hack/lib/golang.sh#L282](https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L282))

[2016-03-04 09:58] Snake231088 commented on #12062
Can you tell me how paste code in the right mode? :D

[2016-03-04 10:02] caesarxuchao opened #22512 "Two more problems with Deployments"
We discovered these problems when I prepared for the demo.
The deployment config file I used:

[code]

The first problem occurs when I rolling update it with the following command:

[code]

**The problem is when the v1 rs scrolls down from 1 to 0, it gets scrolled up to 4 and then to 0.**

Then I use this command to roll back:

[code]

**The problem is the v1 rs get scrolled from 0 to 3 at once, a

[2016-03-04 10:06] bengong2015 opened #22514 "ReplicationController transfer docker run arguments"
How to build replication controller in order to run docker container with arguments (e.g. docker run --add-host xxxxx:xxxxx --rm ...)?
I tried to add 'env' in container section but doesn't work.
Thanks.

[2016-03-04 10:06] Snake231088 commented on #12062
controller-manager.log (master):
[code]

api-server (master):
[code]

describe minion (dead):
[code]

[2016-03-04 10:49] soltysh commented on #18558
Looking at logic and logs here's possible situation:
1. first we scale the job down and controller removes the pod
[code]
2. kubectl stop additionally lists all the pods associated with a job, since it's looking for dead pods [see here](https://github.com/kubernetes/kubernetes/blob/3b4ce5ed33d7789ed6f5779959c03bc5b4d28577/pkg/kubectl/stop.go#L341-L354). Apparently we listed that pod, which was des

[2016-03-04 11:14] soltysh commented on #18558
Going through the code, is it possible, since pods have `ReturnDeletedObject` set to `true`, that during `finalizeDelete`'s reach to `Decorator` we have a mismatch between cache and storage, which leads to above error?

[2016-03-04 11:19] soltysh opened #22517 "kubectl edit job returns apiVersion: extensions/v1beta1"
Steps to reproduces:

[code]

In the editor you'll see `apiVersion: extensions/v1beta1` instead of `batch/v1`. It does not matter if you create a job using above command or if you create one with explicit `batch/v1.

@erictune

[2016-03-04 11:21] fgrzadkowski commented on #4869
Can you post command that you've used to start kubelet in docker?

[2016-03-04 11:21] fgrzadkowski commented on #4869
How did you verify mounts? What kind of volumes have you used for this?

[2016-03-04 11:22] soltysh opened #22518 "kubectl run generator for jobs is job/v1beta1"
@erictune with your recent changes, where you moved jobs from `extensions/v1beta1` to `batch/v1` shouldn't we update the generator name to `job/v1` at least?

[2016-03-04 11:23] ntquyen commented on #22415
@dchen1107 The pod was reported as running, it means the kubernetes api server return the pod is running by the command `kubectl get po...`. But the actual container was not running at the moment.

When I run `kubectl get po ...`, it return the pod is running, but when I run `kubectl log ...` it hangs, no return anything.

[2016-03-04 11:45] #22363 closed

[2016-03-04 11:46] zreigz commented on #4869
I've just execute this script: https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker-multinode/master.sh without any modification. When master was created I started adding pods and checked journalctl logs if there are errors for docker

[2016-03-04 12:31] piosz commented on #22484
It seems that #19941 is not fixed yet.

When I build locally using just `make` I've got object in version `autoscaling/v1`. When I build locally using `make quick-release` I've got object in version `extensions/v1beta1`.

[2016-03-04 12:32] piosz commented on #19941
Reopened due to https://github.com/kubernetes/kubernetes/issues/22484#issuecomment-192261836

[2016-03-04 12:46] deads2k commented on #22454
I think I could buy claim 1, but I'd like to have a working implementation go in for the same release where we disable the flag entirely and I think we might want to have different preferred orderings for clients and servers (right now the preferred ordering is static regardless of server or client).  I left the option open and made sure that when used in combination with a discovery doc, disambig

[2016-03-04 12:57] deads2k commented on #22484
Can you show me the `kubectl get hpa --v=8` command?  `autoscaling` isn't in the priority list at all.

[2016-03-04 13:09] piosz commented on #22484
I'm compiling with go 1.6.
[code]

[2016-03-04 13:11] deads2k commented on #22484
So that one is dealing in `hpa.extensions`, do you have the alternate example that gives you `hpa.autoscaling` too?

[2016-03-04 13:12] deads2k commented on #22484
Oh neat.  It's getting the correct resource and then mutating the kind.  That's pretty cool, but not a `RESTMapper` problem

[2016-03-04 13:18] markturansky commented on #7562
Right.  There is no way currently for the scheduler to  know on which node to place a pod with a claim to a hostPath PV.

But if you wanted to add NodeName to HostPath ...

[2016-03-04 13:21] piosz commented on #22484
Isn't it `autoscaling` group?

[2016-03-04 13:26] fgrzadkowski commented on #4869
In your example some volumes doesn't work, e.g. Downward API (and many others). We hacked some volumes (e.g. Secrets and Service Accounts), but not all of them.

You need to:
1. Remove `--containerized` flag to disable hack that we introduced
2. Add `:slave` (or some other option) to docker volumes mounted to kubelet container - you need at least `/var/log/kubelet` (and maybe more)
3. Remove `/roo

[2016-03-04 13:30] liggitt commented on #19941
Not a RestMapper issue according to https://github.com/kubernetes/kubernetes/issues/22484#issuecomment-192278990 ?

[2016-03-04 13:36] deads2k commented on #22484
The `RESTMapper` is giving correct information, which results in hitting this URL: `https://<ip>/apis/extensions/v1beta1/namespaces/default/horizontalpodautoscalers`.  The response from that URL is wrong because its converting the object into a different group on the way out, but that's a server-side flaw, not a `RESTMapper` or client problem.

I just want to be sure we're looking in the correct l

[2016-03-04 13:41] piosz commented on #22484
So closing #19941

[2016-03-04 13:41] piosz commented on #19941
Closing as described in https://github.com/kubernetes/kubernetes/issues/22484#issuecomment-192287988

[2016-03-04 13:41] #19941 closed

[2016-03-04 13:45] zreigz commented on #4869
Thanks for comments. I will try this. To be 100% sure (because I am rookie in this subject )
After modification which you mentioned I should create some pod with volume.
For example:
[code]
 Description about it I can find probably here: http://kubernetes.io/v1.0/docs/user-guide/volumes.html
Am I right?

[2016-03-04 13:54] liggitt commented on #22484
Incorrect group serialization on the server side is p0

[2016-03-04 13:55] liggitt commented on #22484
Do we want a new issue for that, or to adjust this to cover the server side problem?

[2016-03-04 14:00] #15759 closed

[2016-03-04 14:07] smarterclayton commented on #20497
During the original design discussions, we distinguished the following conditions:

1. User is willing to wait to know the pods has been terminated
2. User is unwilling to wait for the pod to complete terminating

The current implementation removes the ability of the user to have a third outcome, which is intentional (as discussed above).  I think grace-period=1 is functionally identical to the sc

[2016-03-04 14:21] errordeveloper commented on #22452
Having looked at `pkg/util/ssh.go`, I found that `Auth: []ssh.AuthMethod{ssh.PublicKeys(signer)}` is used, and using agent would require a bit more code, but there is [`golang.org/x/crypto/ssh/agent`](https://godoc.org/golang.org/x/crypto/ssh/agent) package for it.

[2016-03-04 14:23] liggitt commented on #22498
dupe of https://github.com/kubernetes/kubernetes/issues/18760

[2016-03-04 14:23] #22498 closed

[2016-03-04 14:25] thecanadianbaker commented on #18885
Per [documentation](https://github.com/kubernetes/kubernetes/tree/master/examples/rbd#how-to-use-it) providing `secretName` should override `keyring`. Also, the [examples](https://github.com/thecanadianbaker/kubernetes/blob/master/examples/rbd/rbd-with-secret.json#L21-L40) exclude the keyring key when defining a secret.

Which needs to be updated, the docs or the check?

[2016-03-04 14:29] fgrzadkowski commented on #4869
Looks good. Please also test other volumes (e.g. Downard API, Secrets, EmptyDir).

[2016-03-04 14:29] smarterclayton commented on #22448
We probably want gRPC early so that we can send binaries with protobuf,
rather than the escaped form in JSON.  I'd rather move away from assuming
JSON now in the generic storage.  Is the only concern about gRPC that it's
going to complicate our internal code path?

On Fri, Mar 4, 2016 at 2:51 AM, Wojciech Tyczynski <notifications@github.com

[2016-03-04 14:37] wojtek-t commented on #22448
I think that in the generic storage we don't have any assumption about JSON - it is only assumed in the etcd implementation of storage.Interface and only at the implementation level.

I'm definitely not concerned about code complication - I'm more worried if it won't complicate upgrade path (i.e. from 1.2 to 1.3 supporting etcd v3).
But I'm fine with starting with gRPC too if you think that won't

[2016-03-04 14:43] derekwaynecarr commented on #22509
I am not sure I agree...  an administrator may want to reduce the quota to prevent the creation of new resources while letting currently consumed resources run to completion.  Are there other negative side-effects?

[2016-03-04 14:48] smarterclayton commented on #7562
You still haven't responded to my "emptyDir should be added to PV for
the same reason" issue.  HostPaths suck to work with and encourage bad
app/image design (assume ability to run as root, chown, and selinux
relabel)

[2016-03-04 14:53] bgrant0607 commented on #5121
Bump.

[2016-03-04 14:53] smarterclayton commented on #7562
We have users in production today using hostPath PV to point to NFS,
Gluster and (I think) AFS/GFS shares that are mounted on all nodes.
So hostPath is a production story as well.

The devel story should be emptyDir PV because it doesn't require root
in the container to be useful or to have a bunch of perm hacks.

[2016-03-04 14:55] smarterclayton commented on #22165
I'd prefer to fix this with go context, deadlines, and the http.Client
changes in 1.5 across the board if possible (not opposing targeted
fixes, but we're not handling timeouts well in general, not just
here).

Another thing for 1.3

[2016-03-04 14:56] rootfs commented on #22407
I'll get access to GCE and create an example as @thockin suggested.

[2016-03-04 14:56] smarterclayton commented on #22421
One point to be careful of - unbounded metrics growth if someone
creates new client names dynamically or adds metrics with high
cardinality.  Has bit us before.

[2016-03-04 14:59] deads2k commented on #22484
Taking a deeper look, looks like the server response correctly for the URL, but a client-side conversion is happening to a different group for display and for some reason `kubectl` is asking for more discover information *after* the list request.

[2016-03-04 15:02] bgrant0607 commented on #22484
Let's just use this issue, if a new one wasn't created already

[2016-03-04 15:04] liggitt commented on #22484
I'm not seeing that behavior. How are you triggering that?

[2016-03-04 15:06] bgrant0607 commented on #17851
I'm punting this from the 1.2 milestone. We don't package these scripts in the release, anyway.

[2016-03-04 15:06] huang195 commented on #22237
Closing this since there's a workaround and this can't seem to be reproducible by others.

[2016-03-04 15:06] #22237 closed

[2016-03-04 15:07] zreigz commented on #4869
Thanks for explanation. Now everything is clear for me. No more questions.

[2016-03-04 15:15] piosz commented on #22484
`make clean & make` with go in version 1.6

[2016-03-04 15:30] xiang90 commented on #22448
@wojtek-t @smarterclayton

gRPC wont be a problem. etcd client does all the work. kubernetes storage layer should not even know about it unless you do not want to introduce any gRPC dependencies.

[2016-03-04 15:32] wojtek-t commented on #18558
@soltysh - I'm pretty sure that we are not setting Decorator for any type in k8s (IIUC, this was added as needed for Openshift). But it is not set in any of our tests.

[2016-03-04 15:33] wojtek-t commented on #22448
I agree that storage interface shouldn't expose any gRPC-related things

[2016-03-04 15:34] soltysh commented on #18558
@wojtek-t hmmm, isn't [this](https://github.com/kubernetes/kubernetes/blob/3b4ce5ed33d7789ed6f5779959c03bc5b4d28577/pkg/registry/pod/etcd/etcd.go#L65-L66) a decorator being set on a pod registry?

[2016-03-04 15:39] wojtek-t commented on #18558
@soltysh - not it's something different; this is decorator around storage, which is something different than what is called in generic/etcd: "e.Decorator"

[2016-03-04 15:42] soltysh commented on #18558
@wojtek-t my bad, thanks for clearing that up.

[2016-03-04 16:04] kshelton commented on #22498
I've been looking for an open issue/pr for this since December - strange how github search couldn't find it.

[2016-03-04 16:17] thockin commented on #22506
Let's play "find the place where YAML is too subtle for humans to
use" :)  Our clue is that it thinks it is parsing a number.

First instance.  Try "1" or "one" :)

Second instance

[2016-03-04 16:24] wernight commented on #10732
I changed an Nginx from Debian to Alpine and after the change it says:

    2016/03/04 16:12:53 [emerg] 1#0: host not found in upstream "php" in /etc/nginx/conf.d/default.conf:39

`php` is an existing service name. The only thing that changed is the image. Services and so one remained as before.

I changed the Nginx configuration so that it doesn't try to reach `php` and did:

    $ nslookup php

[2016-03-04 16:24] liggitt commented on #22484
I see it now with go1.5.3 and go1.6. difference in behavior between go versions points to reliance on map iteration order or import+init() order, neither of which are stable

[2016-03-04 16:26] goltermann opened #22523 "Fix new vet issues"
These creep in over time.  Fix the current batch:
https://goreportcard.com/report/k8s.io/kubernetes#go_vet

[2016-03-04 16:30] goltermann opened #22524 "Add go_vet to presubmit"
We'd like to stay vet clean, and aren't too far away.

[2016-03-04 16:31] mkulke commented on #22063
I looked a bit more into the problem, it's definitely not a low hanging fruit. Changing this behavior (from using `Pod.Spec.NodeName` to `Node.Status.Addresses` of the respective node) will require changes in a lot of places. It would mean that we have to defer the TLS cert generation in kubelet until the Addresses list is populated (so we can use those as alt subject in cert).

This list in turn

[2016-03-04 16:38] #21636 closed

[2016-03-04 16:39] justinsb commented on #13892
Maybe ... but I think a 10 second delay sounds more like mongodb polling?   How about if we collaborate on putting an example into the examples/ dir:  If we can get that working, you'll know the problem isn't k8s!  Hopefully we'll find the same problems you're hitting. Would you mind opening a new issue and tagging me?

[2016-03-04 16:50] hd51515 commented on #22255
i made some progress but now it failed further down. here is the log snippet

sudo ./build/run.sh hack/build-cross.sh

+++ [0304 08:44:32] Verifying Prerequisites....
+++ [0304 08:44:32] No docker host is set. Checking options for setting one...
+++ [0304 08:44:32] docker-machine was found.
Machine "kube-dev" is already running.
./build/../build/common.sh: line 211: DOCKER_MACHINE_NAME: readonly v

[2016-03-04 16:53] erictune commented on #2456
seems obsolete

[2016-03-04 16:53] #2456 closed

[2016-03-04 16:54] zmerlynn commented on #17851
Aren't they packaged indirectly through https://get.k8s.io/ ?

[2016-03-04 17:01] dmcnaught commented on #17851
@bgrant0607 These errors are coming up for gce and aws deployments from OSX.
My experience this morning: (doesn't look good even if there is no downstream issue)

Generating certs for alternate-names: IP...
/Users/username/kubernetes-1.2.0-alpha8/cluster/../cluster/../cluster/aws/../../cluster/common.sh: line 420: @: unbound variable
/Users/username/kubernetes-1.2.0-alpha8/cluster/../cluster/../cl

[2016-03-04 17:01] bgrant0607 commented on #22270
@bprashanth

I'd like to count and log the number of expirations, as well

If we invalidate the cache, will that force a re-list? If so, it seems like we should invalidate the cache when we expire expectations.

[2016-03-04 17:06] bgrant0607 commented on #22270
Also, I agree expiration itself is a hack (or a failsafe, depending on your point of view), but so long as we have it, it makes sense to scale with the number of expectations, which can range from 1 to 500. For 1 expectation, it's not a great failsafe, and for 500, it may not be long enough.

Even after we figure this out, we need to eliminate the stair-stepping caused by the burst-and-wait approa

[2016-03-04 17:07] luxas commented on #22457
See #22149 where I have a fix for it

[2016-03-04 17:07] t5unamie commented on #22428
thanks got it - sorry about that

[2016-03-04 17:10] justinsb opened #22527 "AWS: We should be able to select private subnets"
For private ELBs, we should still select private subnets.

This was broken by the subnet selection logic recently, so we should fix this regression.

[2016-03-04 17:12] liggitt commented on #22454
Agree with @deads2k, I always set --output-version when writing a template or jsonpath script

[2016-03-04 17:13] derekwaynecarr commented on #22045
@wojtek-t - have you seen any more occurrences of this flake?

my other theory is that a pod was not being terminated due to the root cause of https://github.com/kubernetes/kubernetes/issues/22025

if the flake is no longer occurring, any more objections to closing?

[2016-03-04 17:15] luxas commented on #22039
I'm working on multi-arch support #17981. See also all linked issues and especially #19769, where official ARM binaries are created. I'm also working on `ppc64le` and `arm64` support, and in the beginning I had those arches in the PR, but was forced to remove them when we reverted to `go1.4.2`. I have a #22149 for bumping go, but it seems we have a long way to go before we may do that.

But since