[2018-05-31 03:40] thedodd commented on #44273
Also seeing this issue on GKE as of `1.10.2-gke.3`.

[2018-05-31 04:08] gyliu513 opened #64545 "cannot create an external load balancer with mix protocols"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

I was trying to create a loadbalancer service with mix protocols but it failed to create with error `cannot create an external load balancer with mix protocols`, what is the reason that we cannot create an external load balancer with mix protocols?

[code]

[code]

[2018-05-31 04:08] gyliu513 commented on #64545
/sig network

[2018-05-31 04:31] wgliang commented on #64545
@gyliu513
invalid load balancer with mix protocols.

[2018-05-31 04:42] gyliu513 commented on #64545
@wgliang can you please show more detail why a loadbalancer with mix protocols are invalid? How to handle the case if a service exposed mix protocols and want to be a loadbalancer service?

[2018-05-31 04:51] resouer commented on #64413
@Random-Liu Yes, I actually re-used `dockerref` in parser so all the corner cases you mentioned have been covered, I just amended a test in  #64487 to verify it.

[2018-05-31 05:37] wgliang commented on #64545
@gyliu513
#20600 add service validation for mix protocol.
u can see at:
https://github.com/kubernetes/kubernetes/blob/a762ea1beb2ad012c22b6d4b9d4d4cf8834e1aa9/pkg/apis/core/validation/validation.go#L3619-L3633

Mix protocols just not support service.Spec.Type = core.ServiceTypeLoadBalancer
and the issue is #20394 if you need.

[2018-05-31 06:05] nikita15p opened #64546 "Stuck at Container Creating while applying taints with NoExecute effect"
/kind bug

[2018-05-31 06:07] nikita15p commented on #64546
/sig node

[2018-05-31 06:23] james-callahan opened #64547 "CSR requested extensions ignored"
/kind feature

**What happened**:

Emitted certificate did not contain expected extensions

**What you expected to happen**:

Extensions from "requested extensions" should be in emitted cert.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

Observe that the input CSR contains a requested extension:

[code]

Observe that the output cert does not contain the extension:

[c

[2018-05-31 06:39] gyliu513 commented on #64545
I saw that in https://github.com/kubernetes/kubernetes/issues/20394 , there are someone still asking why we have this guard, and no answer yet. Let me post a question in dev mail list.

[2018-05-31 06:44] james-callahan commented on #64547
CC @kubernetes/sig-cluster-lifecycle-bugs

This doesn't feel like it belongs with cluster-lifecycle, but from my searching they are the only SIG that touches the certificate code?
Marking as a bug as ignoring a 'critical' extension should be considered a bug.

[2018-05-31 06:52] qiyongxiao commented on #63804
hello, I get the same issues on k8s-1.10.3 and docker-1.13.1
`May 31 14:39:56 kubernetes-master03v.azurecnn.juejin.id kubelet[15447]: E0531 14:39:56.969090   15447 summary.go:102] Failed to get system container stats for "/system.slice/docker.service": failed to get cgroup stats for "/system.slice/docker.service": failed to get container info for "/system.slice/docker.service": unknown container "

[2018-05-31 07:17] #64507 closed

[2018-05-31 08:23] stang opened #64549 "PV randomly take up to few minutes to attach"
**BUG REPORT**:

/kind bug

**What happened**:
When using a `pvc` with a `deployment`, we observe a delay (that randomly vary between 15 sec and up to few minutes) between the volume's creation and when it is attached to the pod.

**What you expected to happen**:
The volume should be attached reasonably quickly after it's created, and within a predictible delay.

**How to reproduce it (as minimall

[2018-05-31 08:34] soltysh commented on #64362
@AishSundar it looks like #64439 fixed the problem from looking at the test grid. Feel free to close this issue, since I remember you're tracking all of that.

[2018-05-31 08:49] wknapik commented on #58212
/remove-lifecycle stale

[2018-05-31 08:56] islinwb commented on #64545
@gyliu513 https://github.com/kubernetes/kubernetes/pull/64471 relevant?

[2018-05-31 09:07] gyliu513 commented on #64545
Thanks @islinwb this is exactly what I want!

[2018-05-31 09:09] gyliu513 commented on #64545
Duplicate with https://github.com/kubernetes/kubernetes/issues/23880

[2018-05-31 09:09] #64545 closed

[2018-05-31 09:30] redbaron commented on #64549
cc /sig api-machinery

[2018-05-31 10:03] frankh commented on #44273
This just happened to me on AWS, cluster created using `kops`

Kubernetes version 1.10.3

[2018-05-31 11:05] MrSaints commented on #44273
This has been occurring sporadically for me since upgrading to 1.10.2 on GKE (running f1-micro instances).

[2018-05-31 11:09] qiyongxiao opened #64552 "already in flight abandoning"
hi, I am use the kubernetes(1.10.3) and docker(1.13.1). And I exec the command:
`kubectl create -f influxdb.yaml`
and the docker show the issues was this:
`May 31 18:53:59 kubernetes-master01v dockerd-current[75498]: W0531 10:53:59.280830       1 factory.go:1304] Request for pod kube-system/monitoring-influxdb-55bbd4b96-97dp7 already in flight, abandoning
May 31 19:02:18 kubernetes-master01v docke

[2018-05-31 11:19] mrdfuse commented on #60140
I don't get the error, but copying for a single file of 350mb, or a large number of files and directories never completes. Looking at the target container, kubectl cp stops copying randomly.

[2018-05-31 12:07] qiyongxiao commented on #62897
@BumwooPark Ok,I have solved it.thanks

[2018-05-31 12:11] afathima94 commented on #6570
Hi,
I am also facing the same issue

Attempt 26 to check for salt-master [salt-master not working yet]
Attempt 27 to check for salt-master [salt-master not working yet]
Attempt 28 to check for salt-master [salt-master not working yet]
Attempt 29 to check for salt-master [salt-master not working yet]
Attempt 30 to check for salt-master [salt-master not working yet]
Attempt 31 to check for salt-mast

[2018-05-31 12:39] fasaxc commented on #44873
Looks like `vgo` is gaining traction before `dep` has even reached GA...

[2018-05-31 12:40] KIVagant commented on #56903
@Quentin-M , I've been waiting for a while and now can say that `insert_failed` column is not increasing when I'm getting new DNS errors in the application log.

[code]

[2018-05-31 12:48] dims commented on #64547
/sig auth

cc @mikedanese

[2018-05-31 13:23] wenlxie opened #64557 "RBD block device missed after docker/kubelet restart"
In our env, restart docker will caused kubelet and container restart.

I start a pod with following pod yaml
[code]
It use PVC's block volume mode and the device will be mapped to `/dev/vda` inside the container

After I create the pod, everything is fine. I can see the device inside the container.
But after I restart docker, as I mentioned, kubelet and all of the container will be restart.

After

[2018-05-31 13:39] leifmadsen commented on #58220
Closing as a backport to 1.9 is no longer necessary (release containing fixes is available).

[2018-05-31 13:39] #58220 closed

[2018-05-31 13:48] 372046933 commented on #61381
controller-manager starts up but warning message is generated, I think that is expected behavior

[2018-05-31 13:50] prateek2408 commented on #62153
Is there any progress on this ?

[2018-05-31 14:22] AishSundar commented on #63622
@rramkumar1 @liggitt this flake is now blocking this test from being promoted to Conformance suite in 1.11. Is it something we can investigate and resolve soon (today or tomorrow) to increase changes of getting this into 1.11? If not this test has to wait until 1.12 to be promoted.

[2018-05-31 14:23] AishSundar commented on #64362
Closing the issue now !

[2018-05-31 14:23] #64362 closed

[2018-05-31 14:26] dixudx commented on #64522
/assign

since I'm the owner of this feature.

[2018-05-31 14:27] dixudx commented on #64522
And #62159 just fixes a bug for containerized kubelet when the mount file is an empty file.

[2018-05-31 14:29] dixudx commented on #64522
@msau42 @jsafrane Are we going to enable these tests in v1.11? We're getting code freeze soon.

[2018-05-31 14:36] msau42 commented on #64522
There is a local containerized cluster pull and CI job that we can probably leverage.  Right now it only runs conformance tests, we may be able to add new suites to enable other tests. Cc @childsb who is the owner for the containerized testing effort?

[2018-05-31 14:40] dims commented on #64522
yes, seems to be holding up pretty well - https://k8s-testgrid.appspot.com/conformance-providerless#local-up-cluster-containerized,%20master%20(dev)

[2018-05-31 14:50] pmichali commented on #63922
I had run E2E tests three times, using CNI 0.7.1 and creating the bridge right after CNI plugin config file is created. Each time, the bridge had zero, but then changed during the test run, getting pod MACs. Amazingly, I didn't see any kube-dns restarts, but on the fourth E2E run, kube-dns restarts occurred - so I must have been lucky on the first three.

[2018-05-31 14:50] liggitt commented on #63622
all I see in the test run logs is 404 errors coming back from that check. @cheftako can you see anything useful in the container logs for the aggregated server?

[2018-05-31 15:09] hoegaarden commented on #64222
/assign @mariantalla @hoegaarden

[2018-05-31 15:13] feiskyer commented on #62047
/status in-progress

[2018-05-31 15:13] feiskyer commented on #61579
/status in-progress

[2018-05-31 15:37] lavalamp commented on #44873
I filed #63607 about figuring out our vgo strategy, though that is from the perspective of what we publish and this seems to be about how we consume.

[2018-05-31 16:03] duke66 opened #64561 "v1.10.3 with vagrant"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I am try to install kubernetes in vagrant local at macbook:
download https://github.com/kubernetes/kubernetes/releases/tag/v1.10.3 this and try to run:
KUBERNETES_PROVIDER=vagrant kubernetes/cluster/kube-up.sh

i got error with verify-kube-binaries:
"... Starting cluster using provider: vagrant
... calling verify-prereqs

[2018-05-31 16:27] danwinship commented on #51891
This got auto-closed but I'm not sure it should have... it was idle more out of indecisiveness than apathy.

/reopen
/remove-lifecycle rotten
/lifecycle frozen

[2018-05-31 16:28] terinjokes commented on #61952
@Alex-II Cobra creates an instance of the `FlagSet`, so I think the correct code should have been `command.Flags().SetNormalizeFunc(utilflag.WordSepNormalizeFunc)`

[2018-05-31 16:31] Quentin-M commented on #56903
@KIVagant What about on the hosts themselves (conntrack -S)?

[2018-05-31 16:33] dashpole commented on #63204
/status in-progress

[2018-05-31 17:17] jpbetz commented on #47532
Thanks @xiang90. I'd like to stay closely involved in this issue. I'd be happy to contribute to any proposal/implementation you're planning, and if you get too busy let me know and I can step in.

[2018-05-31 17:20] yujuhong commented on #62808
IMO, the testing configuration should not deviate too much from the default. If this issue cannot be fixed in time, I'd suggest removing the flag from `config-test.sh` for 1.11 so that we can observe clear test signals. We can re-enable it once the code freeze is over.

[2018-05-31 17:42] jpbetz commented on #47532
To summarize at least one way this impacts scalability- Short lived pods can create round 10 events per pod. So if we assume a system where etcd can scale to 400k leases, the sustained limit would be **~10 pod creation/sec** of sustained load over the course of an hour (--event-ttl defaults to 1h).

[2018-05-31 17:45] jberkus commented on #60712
So the only thing getting done on this for 1.11 is server-side-printing by default?  Is that correct?

[2018-05-31 17:47] AishSundar commented on #63622
/cc @jennybuckley @fedebongio

[2018-05-31 17:50] cblecker commented on #64303
https://k8s-testgrid.appspot.com/presubmits-kubernetes-scalability#pull-kubernetes-kubemark-e2e-gce-big

cc @ixdy @BenTheElder @cjwagner @krzyzacy

[2018-05-31 17:53] cblecker commented on #64303
more recently it's still failing, but with different errors

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-kubemark-e2e-gce-big/9164?log#log

[2018-05-31 17:58] mtaufen commented on #64413
ugh

[2018-05-31 17:59] krzyzacy commented on #64303
cc @shyamjvs
`Timeout waiting for all hollow-nodes to become Running.`

[2018-05-31 18:01] cblecker commented on #64303
Yeah, the hollow nodes look to be throwing errors (https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-kubemark-e2e-gce-big/9164/artifacts/e2e-batch-9164-ac87c-minion-group-b2hg/kubelet-hollow-node-26mfd.log):
[code]

[2018-05-31 18:06] yastij commented on #56796
/remove-lifecycle stale

[2018-05-31 18:09] aleksandra-malinowska commented on #59826
Based on this [comment](https://github.com/kubernetes/kubernetes/pull/64201#issuecomment-392086703), it won't be in 1.11? Is there any chance this issue could be fixed earlier?

[2018-05-31 18:15] ostromart opened #64563 "Update istio addon manifest to 0.8"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig cluster-lifecycle

https://istio.io/
Current addon version is 0.6, 0.8 is needed since it's LTS and has features critical for Istio (specifically automatic auto-injection support).

[2018-05-31 18:16] nikhita commented on #59826
@aleksandra-malinowska The PR and this fix are not really related so it is possible for us to have the fix earlier. I added a comment https://github.com/kubernetes/kubernetes/pull/64310#issuecomment-393624866 to make sure that there is consensus about getting some of the fixes right away (and not wait for the original big PR).

[2018-05-31 18:34] abdennour commented on #55894
You should upgrade your cluster. If you are using minikube under OSX, here we go:

[code]

[2018-05-31 18:45] #58633 closed

[2018-05-31 18:45] mikedanese commented on #64547
The approvers should be responsible for validating the extension requests? That seems like an easy thing to forget to do, which would lead to unvalidated data signed into the certificate by the root CA.

Critical is an attribute of the extension not the extensions request.

[2018-05-31 18:45] pmichali commented on #63922
@squeed Here is a summary and some questions...

Using CNI 0.7.1, if I have the k-d-c startup script create the CNI config file and then immediately add a bridge, the bridge does not have a MAC, and later, it dynamically uses MAC from enslaved interfaces. If I create a second bridge (much later, but before any pods created), the bridge **will** have a MAC address.

Is there some delay, from when t

[2018-05-31 18:46] dlaidlaw commented on #61199
Closing, since the AWS tags are sufficient for AWS usage. I still think it should be standardized for audit purposes, however.

[2018-05-31 18:46] #61199 closed

[2018-05-31 18:48] shyamjvs commented on #62808
Thanks Yuju - that was also my thinking.

On Thu, May 31, 2018, 7:21 PM Yu-Ju Hong <notifications@github.com> wrote:

[2018-05-31 19:10] ncdc opened #64566 "code-generator: generate-groups.sh doesn't support running from other directories"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I cloned `k8s.io/code-generator` and tried to run `generate-groups.sh` from my project's directory (`~/go/src/github.com/heptio/ark`). It failed:

[code]

**What you expected to happen**:
It should work without error. We need to support running the script from other projects so the generators can locate and use the go sou

[2018-05-31 19:25] yanweiguo opened #64568 "Bad stream parameter for fluentd detect_exceptions plugin"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`stream` field is used as `stream` parameter for all fluentd configurations to collect container logs:

* https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/fluentd-es-configmap.yaml#L141
* https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-gcp/fluentd-gcp-co

[2018-05-31 19:41] fturib commented on #64450
pinging @soltysh, @pwittrock, @AdoHe, @luxas to be sure you are aware of this issue in the e2e for sig-cli conformance, in env kubeadm + gce.

[2018-05-31 19:52] mtaufen commented on #61649
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61650
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61651
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61652
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61654
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61655
/milestone clear

[2018-05-31 19:52] mtaufen commented on #61656
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61657
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61658
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61659
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61660
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61661
/milestone clear

[2018-05-31 19:53] mtaufen commented on #61662
/milestone clear

[2018-05-31 19:54] mtaufen commented on #61663
/milestone clear

[2018-05-31 19:54] mtaufen commented on #61664
/milestone clear

[2018-05-31 19:54] mtaufen commented on #61666
/milestone clear

[2018-05-31 19:54] mtaufen commented on #61667
/milestone clear

[2018-05-31 19:54] mtaufen commented on #61668
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61669
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61670
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61671
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61672
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61673
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61674
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61675
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61676
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61677
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61678
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61679
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61680
/milestone clear

[2018-05-31 19:55] mtaufen commented on #61681
/milestone clear

[2018-05-31 20:17] liggitt opened #64571 "TestVersionedClusterScopedCRD is flaky"
both in PR and CI runs

see https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestVersionedClusterScopedCRD

/assign @mbohlool

[2018-05-31 20:19] ericchiang opened #64572 "docs/api-reference: don't generate HTML documents in kubernetes/kubernetes"
/kind feature
/sig docs

cc @kubernetes/sig-docs-maintainers

**What happened**:

When changing API comments or fields, I'm required to run ./hack/update-api-reference-docs.sh after generating OpenAPI definitions. This generates HTML documents which don't appear to be consumed by anything in the kubernetes/kubernetes repo.

The generation script takes over 2 minutes to run and calls docker.

**Wha

[2018-05-31 20:21] fedebongio commented on #64290
/cc add @jpbetz

[2018-05-31 20:27] fedebongio commented on #64484
/assign @wenjiaswe

[2018-05-31 20:29] ekcheu commented on #55471
Had similar issues with kube-router.. and technically still have them.  Only way to get it to work is more or less wipe out all iptable rules before booting the server, by disabling the iptables service.  Although iptables services still gets brought up by kubernetes anway - just without the custom rules you put in.

Some of these networks I think are not playing nice with iptables.

[2018-05-31 20:30] fedebongio commented on #64549
/remove-sig api-machinery

[2018-05-31 20:31] fedebongio commented on #64566
/assign @yliaog

[2018-05-31 20:31] fedebongio commented on #64571
/assign @mbohlool

[2018-05-31 20:34] bidyut1990 commented on #55170
@nilanjan-samajdar   I did a kubectl reset and it does remove the admin.conf file for me. But I am running into this issue regardless. Is this something to do with the older calico setup. So for background, I had done a kubectl init without the "pod-network-cidr" required for calico and had setup calico on the master node as well. But sensing that this wouldnt work, i did kubectl reset, wiped off

[2018-05-31 20:34] lavalamp commented on #64496
hm, yes that is a reasonable expectation but the timeout isn't enforced until after the body has been read, I think.

[2018-05-31 20:38] lavalamp commented on #64496
(looks at call stack) Oh, sorry, right. The timeout did trigger. But I think the connection is locked up inside the go http stack on a read, and that's why it was unable to close/send stuff.

I bet if you tell it you'll send 2 bytes, send 1, then after 60+ seconds have gone by send the 2nd one, then you'll get a timeout error message.

The fix is likely to not be easy :/

[2018-05-31 20:49] wojtek-t commented on #62808
+100

@dashpole @yujuhong - given that code freeze starts in few days (according to https://github.com/kubernetes/sig-release/blob/master/releases/release-1.11/release-1.11.md on Tuesday) I would suggest the following:
- given that you still don't have strategy to fix that (or did it change since yesterday?), I'm suggesting disabling the feature now (to fix scalability tests and allow uncovering o

[2018-05-31 20:51] lyonssp commented on #52919
/reopen

I am also encountering this issue.  It doesn't seem like the original reporter actually had their issue resolved, they just used an alternative method of declaring their bearer token.  I am not in a position to keep my secrets under source control, so the `bearer_token` declaration will not work for me.

I am confirm that the file I am specifying has no newline in it, yet Prometheus is at

[2018-05-31 20:56] jennybuckley commented on #63622
Update:
I have been trying to reproduce this failure on my own test cluster (go run hack/e2e.go ...) and it has passed 128 times in a row so far.

[2018-05-31 20:56] bidyut1990 commented on #55170
Just tried the same kubectl init command with sudo privilege  after removing older contexts and now calico doesnt give me those errors. SO i think it worked!
But on the other hand, i see that kube-dns pod is not starting and remains in ContainerCreating state. Should this be a problem .
Also "calico-node" pod is in CrashLoopBackOff state. Any experts?

[2018-05-31 20:57] mml commented on #55271
/remove-lifecycle stale

[2018-05-31 20:57] mml commented on #59829
/remove-lifecycle stale

[2018-05-31 21:00] dashpole commented on #62808
I have a fix strategy.  I have implemented and tested it, but still have to clean it up and unit test it.  The problem was pretty fundamental to how we implemented memcg notifications, so it is a decently large change, which is why it is taking some time... I expect to be done by tomorrow.

I think we should still disable it for now.  I can re-enable it in the same PR as the fix.  So if it gets in

[2018-05-31 21:12] BenTheElder commented on #63622
Looking through recent results this crops up as a flake in presubmit and CI across many configurations... I don't think how we run the test jobs should be affecting this in the slightest. In fact anything marked conformance really shouldn't be affected by job config (!) Not sure what's wrong here, but it looks like a pretty typical flakey test (some race / buggy setup/teardown?)

nb that `go run h

[2018-05-31 21:16] AishSundar commented on #63622
@jennybuckley does the API server logs throw any light on whats happening on CI test cluster.

[2018-05-31 21:17] saad-ali opened #64576 "Kubelet plugin registration is alpha so it should be flag gated"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
PR https://github.com/kubernetes/kubernetes/pull/63328 introduced a new kubelet plugin registration mechanism. It is not flag gated.

**What you expected to happen**:
 Since this feature is alpha, it should be flag gated and disabled by default (opt-in).

**How to reproduce it (as minimally and precisely as possible)**:

[2018-05-31 21:19] redbaron commented on #64549
@fedebongio , from logs it looks like it takes 2.5 minutes by attachdettach-controller to react to node status update sent by kubelet.

[2018-05-31 21:35] jennybuckley commented on #63622
The teardown for the aggregator test is wrong, it tries to delete the deployment "sample-apiserver" when the deployment is actually named "sample-apiserver-deployment", but I don't think that's the issue. It's been like that since the test was added. I'll look for conflicts with other tests.

[2018-05-31 21:41] yujuhong commented on #64413
@resouer I am not sure that we can reasonably assume all container runtimes use `docker.io` as the default registry, AND follow all the flexible interpretations in `dockerref`.
(I know it's not configurable in docker, but that doesn't mean other runtimes or forks do not allow any override)

If we had to assume there is a single default registry per kubernetes cluster, we should at least make it co

[2018-05-31 21:41] lavalamp commented on #63622
We should probably go ahead and fix that anyway, it might be stomping on
another test...

On Thu, May 31, 2018 at 2:36 PM Jenny Buckley <notifications@github.com>
wrote:

[2018-05-31 21:41] msau42 opened #64578 "Subpath env expansion alpha tests failing"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs

**What happened**:
Looks like the newly added tests are failing:
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-alpha

[2018-05-31 21:42] msau42 commented on #64578
/assign @kevtaylor

Also random question to @kubernetes/sig-node-test-failures, why is the same test run 4 times?

[2018-05-31 21:42] msau42 commented on #64578
cc @kevtaylor

[2018-05-31 21:44] juanvallejo commented on #60712
@jberkus

This as well as the second item from the list "Move the OpenAPI column rendering for CRD to the server in the CRD implementation" were completed for 1.11

[2018-05-31 21:51] AishSundar commented on #64158
Tests are passing now !

[2018-05-31 21:51] #64158 closed

[2018-05-31 21:55] aabed commented on #49263
I am suffering from the same problem
Kubernetes 1.10.3 on AWS using kops

[2018-05-31 21:55] chrissnell opened #64579 "Downward API shows incorrect values for cpu.request/cpu.limit when exposed through volumeMount"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
 Using the Downward API as a disk volume, I am getting incorrect values for `cpu.request` and `cpu.limit`.

**What you expected to happen**:
I expect to see the same values for `cpu.limit` and `cpu.request` that I see when I run `kubectl describe pod <...>`.

**How to reproduce it (as minimally and precisely as possible)*

[2018-05-31 21:58] chrissnell commented on #64579
/sig scheduling

[2018-05-31 22:01] yliaog commented on #64333
I think this particular use case, "having AlwaysPullImages and webhook for injecting sidecar with 'IfNotPresent' image pull policy", is not legit.

If the cluster admin really mean to enable AlwaysPullImages, he should really fix the webhook to ensure the sidecar container also uses AlwaysPull policy.

[2018-05-31 22:16] stonefury opened #64580 "kube-proxy iptables random routing is inefficient"
I've learned recently that userspace routing was replaced with iptables routing in k8s, and iptables uses random pod selection for load balancing.

This means most of the time we have pods that are idle.  If it were round-robin then we would guarantee to distribute evenly.

Is this the only option we have available right now?

Thanks

sig/network

[2018-05-31 22:24] juanvallejo opened #64581 "SkewTest failing Kubectl client [k8s.io] Kubectl apply should apply a new configuration to an existing RC"
Failing Job
--------------
[skew-cluster-latest-kubectl-stable1-gke](https://k8s-testgrid.appspot.com/sig-cli-master#skew-cluster-latest-kubectl-stable1-gke)

Gubernator logs
---------------------
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-master-new-gci-kubectl-skew/9015

Triage
--------
https://storage.googleapis.com/k8s-gubernator/triage/index.html?si

[2018-05-31 22:55] roycaihw commented on #59501
/remove-lifecycle stale

[2018-05-31 22:59] shyamjvs commented on #62808
Sgtm - thanks @dashpole.

On Thu, May 31, 2018, 11:01 PM David Ashpole <notifications@github.com>
wrote:

[2018-05-31 23:02] tanelso2 opened #64583 "kubectl config view --minify does not work with --context"
/kind bug

**What happened**:
Current context was set to cluster1.
Ran `kubectl config view --minify --context=cluster2` and got back information about cluster1 instead.

**What you expected to happen**:
I expected the output to be the cluster2 information

**How to reproduce it (as minimally and precisely as possible)**:
Have two contexts in your kube config, A and B
Run `kubectl config use-conte

[2018-05-31 23:04] jberkus commented on #60712
OK, those are both merged, so should we change the milestone on this issue?

[2018-05-31 23:05] tanelso2 commented on #64583
@kubernetes/sig-cli-bugs

[2018-05-31 23:08] jennybuckley commented on #63622
The namespace controller polls each of the api groups periodically, and it gets this error from the /apis/wardle.k8s.io/v1alpha1 endpoint a couple of times. Maybe related?
[code]
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/64337/pull-kubernetes-e2e-gce/38798/artifacts/e2e-38798-674b9-master/kube-controller-manager.log

[2018-05-31 23:20] #60999 closed

[2018-05-31 23:43] resouer commented on #64413
@yujuhong Thanks yuju, I totally understand your concern. I think this compromise is acceptable, as the only flaw will be: `docker.io/image:tag` can not be matched with `image:tag`.

I will update  #64487 and ping you folks when it's ready.

[2018-05-31 23:45] misterikkit commented on #57362
@steveperry-53 This is fixed, right?

[2018-05-31 23:59] parvez84 opened #64586 "Kube-DNS Name does not resolve."
kind bug

**What happened**:

DNS lookup from within the pod fails. When using name to resolve.

If you don't see a command prompt, try pressing enter.
[ root@curl-775f9567b5-ktcf5:/ ]$ nslookup 10.96.0.1
Server:    10.96.0.10
Address 1: 10.96.0.10

Name:      10.96.0.1
Address 1: 10.96.0.1

-- Returns just the IP.

[ root@curl-775f9567b5-ktcf5:/ ]$ nslookup kubernetes.default
Server:    10.96.0.1

[2018-06-01 00:37] liggitt commented on #63622
unclear... I opened https://github.com/kubernetes/kubernetes/pull/64587 to capture the state of the APIService, extension server pods, and those pod logs in failures cases

[2018-06-01 00:41] Azerothian commented on #58686
/remove-lifecycle stale

[2018-06-01 00:47] steveperry-53 commented on #57362
Yes this is fixed.

[2018-06-01 00:48] daurnimator commented on #64547
Yes!

Indeed. So you might want to error for a request containing such extra extensions. Or prompt the user with an "are you sure". Or require the approved to specify the extensions allowed at some sort of configuration time.
What's not good is silently ignoring them...

Good point!
However, the extensions request *is* paid attention to (e.g. a SAN request goes in there).
Is it okay to only half u

[2018-06-01 00:48] #57362 closed

[2018-06-01 00:49] james-callahan commented on #64547
Yes!

Indeed. So you might want to error for a request containing such extra extensions. Or prompt the user with an "are you sure". Or require the approved to specify the extensions allowed at some sort of configuration time.
What's not good is silently ignoring them...

Good point!
However, the extensions request *is* paid attention to (e.g. a SAN request goes in there).
Is it okay to only half u

[2018-06-01 01:10] islinwb commented on #64586
/sig network
@parvez84 What's the content of `/etc/resolv.conf`?

[2018-06-01 01:13] islinwb commented on #64580
@stonefury Maybe you should try `ipvs`.

[2018-06-01 01:39] hzxuzhonghu commented on #64496
Yes, not easy. A way is to auto close the connection(hijack) from server side. But i am not sure whether there are other issues.

[2018-06-01 01:45] zong400 opened #64589 ""/tmp/docker -c /tmp/k.conf " process use 100% CPU"
/kind bug

**What happened**:
"/tmp/docker -c /tmp/k.conf " process use 100% CPU

[code]

[code]

**How to reproduce it (as minimally and precisely as possible)**:
process will keep restart when I killed it.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.10.3
- Cloud provider or hardware configuration: 4core 8g mem
- OS (e.g. from /etc/os-rel

[2018-06-01 01:48] gnufied opened #64590 "Improve usability of CSI operation metrics"
The operation metrics emitted by k8s usually contain plugin name as a dimension. The plugin name is typically obtained by calling `GetPluginName` interface function. But for CSI plugins, this is hardcoded to return "kubernetes.io/csi" and whenever a user is running multiple CSI plugins - he won't be able to distinguish between metrics emitted for CSI volumes.

/sig storage

[2018-06-01 02:07] gnufied commented on #64270
Should be fixed by https://github.com/kubernetes/kubernetes/pull/64288

[2018-06-01 02:07] #64270 closed

[2018-06-01 02:13] k82cn commented on #64533
@misterikkit , I think that because kubelet also use scheduler's predicate for admit; and in scheduler's admit, it need NodeInfo :). I think this is a requirement to scheduler to make `algorithm` to be a lib for other components :)

[2018-06-01 02:19] parvez84 commented on #64586
Inside the busybox pod:

[ root@curl-775f9567b5-ktcf5:/ ]$ cat /etc/resolv.conf
nameserver 10.96.0.10
search default.svc.cluster.local svc.cluster.local cluster.local np.costco.com corp.costco.com costco.com
options ndots:5

on the host:

[root@Master]# kubectl get svc
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   ClusterIP   10.96.0.1    <none>        443/TCP   4h

[2018-06-01 02:26] misterikkit commented on #64533
You make a good point. This goes back to the question I raised a while back about the scheduler's go interface. I would love to export the needed parts without exporting our cache implementation.

[2018-06-01 02:38] XinhaiWang commented on #54910
I follow the instruction below in order to fix kube-dns crashloopbackoff error. But after changing the configuration, I got The connection to the server 10.10.80.105:6443 was refused - did you specify the right host or port?

docker log
`
Jun 01 10:36:25 shawujing dockerd[18901]: time="2018-06-01T10:36:25.335825435+08:00" level=warning msg="failed to retrieve docker-runc version: exec: \"docker-ru

[2018-06-01 02:43] npu21 commented on #39657
@jingxu97 I have walked around almost all the issues regarding Ceph RBD snapshot support. As you know, Ceph is widely used as k8s storage provider and this is a high priority user case. I have develop a RBD snapshot feature based on our incubator project https://github.com/kubernetes-incubator/external-storage, can i make a pull request or contribute in another way?
Thanks!

[2018-06-01 03:01] #61074 closed

[2018-06-01 03:06] c6h3un commented on #59478
We also have the same problem, the apiserver panics with `fatal error: concurrent map writes`. We follow the steps as below,
- Deploy apiserver with static pod  (run with k8s.gcr.io/kube-apiserver-amd64:v1.10.2 image)
- Setup kubelet and kube-controller-manager to use accessible and writeable volume plugin directory
- Deploy rook operator, rook cluster with block storage ([Quickstart](https://rook

[2018-06-01 03:30] kargakis opened #64594 "x509: certificate is valid for hcp-kubernetes, kubernetes, ..., but not kuberetes.default"
[code]
@kubernetes/sig-azure-misc how can that happen?

cc @Cecilerobertmichon

[2018-06-01 03:42] droidzhangy opened #64595 "Startup the process slowly in pods with large cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We built a large cluster(about 40 nodes) on AWS using kops and create 1000 pods directly(do not use rc), we found a strange appearance:
with 3 nodes and creating 70 pods, it took about 1~2 seconds to startup the process in each pod, everything works well;
with 40 nodes and creating 1000 pods, in the beginning of creating,

[2018-06-01 03:55] droidzhangy commented on #64595
So we draw a conclusion, with the grows the nodes and pods, the process in the pod is affected(in our situation, it affect the time of startup).
That's we could not understand.

[2018-06-01 04:01] integrii commented on #60140
I found the issue here in our environment.  We had blocked ICMP packets in the SG attached to the ENI of our API ELB (CLB these days).  This meant that requests to fragment large packets were not getting back to the ELB.  Because of that, the packet was never re-sent by the ELB, which meant it was lost.  This breaks the TCP session and the connection resets.

In short, make sure that ICMP is allow

[2018-06-01 04:35] bgrant0607 commented on #39824
cc @kubernetes/sig-cli-feature-requests  @kubernetes/sig-apps-feature-requests

[2018-06-01 04:45] bgrant0607 commented on #24744
See also:
https://github.com/kubernetes-sigs/kustomize

[2018-06-01 05:00] m1093782566 commented on #59402
I think all of them are already in.

[2018-06-01 05:00] #59402 closed

[2018-06-01 06:05] wojtek-t commented on #63030
The mitigation for two different issues are now merged - I have a hope that we may finally be out of regressions.

[2018-06-01 06:16] resouer commented on #64413
I'd choose to keep the normalization workaround in scheduler for 1.11 since this exception is not common.

[2018-06-01 06:27] paulopez78 commented on #40244
+1

[2018-06-01 06:31] krmayankk commented on #64586
/area dns

[2018-06-01 06:32] krmayankk commented on #64586
can you give more details, are you trying to do a reverse lookup for a pod ip ? See if things mentioned here would help https://github.com/kubernetes/dns/pull/232

[2018-06-01 07:59] vagharsh opened #64602 "system stuck on reboot"
/kind bug

Mounted Volumes : NFS server is on the same machine, mounted via PV-PVC

**What happened**:
after deploying some pods as RS and and mounting them with PVC, they run without issues. but once i try to `reboot` my host it gets `stuck` on un-mounting pod volumes.
`Stop job was running for ( /var/lib/kubelet/pods/UUID..... )`
the systems reboots if i perform `reboot -f` or `reboot now`

**Wh

[2018-06-01 08:05] jsafrane opened #64603 "Need documentation of containerized kubelet"
/kind bug
/sig storage

We need some document that would capture design of containerized kubelet.

* How kubelet  + `pkg/util/mounter` + `pkg/util/nsenter` come together.
* What's expected to be set in the container that runs kubelet.
  * It needs `-v /:/rootfs:ro`
  * It needs `-v /var/lib/kubelet:/var/lib:kubelet:rw:rslave`
  * It must be privileged.
  * Anything else?
* How is it tested in e2e.

[2018-06-01 08:06] vagharsh commented on #64602
/sig-Storage

[2018-06-01 08:08] kevtaylor opened #64604 "Upgrade VolumeSubpathEnvExpansion to Beta"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature
/sig storage
/sig node
/milestone v1.12

**Description:**
This is the issue that is used to upgrade VolumeSubpathEnvExpansion to beta.

* Update flags in kube_features.go to beta
* Remove e2e Alpha references
* Update docs at website
* Update release notes

/assign @kevtaylor
/cc @msau42

Related Issues:
Alpha PR implementation: (#49388)

[2018-06-01 08:17] wojtek-t commented on #47532
@jpbetz - can you describe it in more details? I'm afraid I don't really understand the math behind this.

[2018-06-01 08:39] nikhita commented on #64290
/cc @sttts @deads2k

[2018-06-01 08:49] shyamjvs commented on #64303
I took a look into this and it's a regression which started causing failures in our kubemark jobs. E.g https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500
The diff https://github.com/kubernetes/kubernetes/compare/15cd35528...6b2172741 has a handful of PRs and https://github.com/kubernetes/kubernetes/pull/63328 is the cause (as it's the only one on which kubemark-500 presubmit fa

[2018-06-01 09:01] nikhita commented on #51476
/remove-lifecycle stale
/lifecycle frozen

[2018-06-01 09:07] waldauf commented on #48798
Hello K8s folks!

I had many times the same problem. For example - something went wrong during my K8s initialization and I had to use `kubeadm reset` and initialize K8s again. After run initialization command I got in kubelet log this error:
[code]
... I was mad from this error message - nothing helped. So I said myself - at first initialization it run but re-initialization didn't. So it isn't cau

[2018-06-01 09:16] nikhita commented on #50342
/remove-lifecycle stale
/lifecycle frozen

[2018-06-01 09:17] nikhita commented on #60082
/remove-lifecycle stale

[2018-06-01 09:18] nikhita commented on #53159
/remove-lifecycle stale

[2018-06-01 09:18] nikhita commented on #57983
/remove-lifecycle stale

[2018-06-01 09:19] nikhita commented on #55037
/remove-lifecycle stale
/lifecycle frozen

[2018-06-01 09:30] nikhita commented on #57705
/remove-lifecycle rotten

[2018-06-01 09:33] nikhita commented on #64227
/kind bug

[2018-06-01 09:35] nikhita commented on #49465
Looks like the blocker was fixed in https://github.com/kubernetes/kubernetes/pull/64174 🎉

I will move forward with the fix.

[2018-06-01 09:36] nikhita commented on #49465
/assign

[2018-06-01 09:39] KIVagant commented on #56903
[code]

All other nodes show similar statistic with `insert_failed=0 drop=0 early_drop=0 error=102 search_restart=0`

[2018-06-01 09:48] nikhita commented on #53959
Fwiw, a change log for client-go, api, apimachinery exists in https://github.com/kubernetes/client-go/blob/master/CHANGELOG.md. We have been updating it for every Kubernetes release.

Maybe we should include a change log for all api-machinery related staging repos.

/cc @sttts @caesarxuchao
/remove-lifecycle stale

[2018-06-01 10:04] dixudx commented on #64583
/assign

Filed #64608

[2018-06-01 10:43] nikhita commented on #31792
/remove-lifecycle stale

still relevant

[2018-06-01 10:50] shyamjvs commented on #64303
/status approved-for-milestone

[2018-06-01 10:54] vikaschoudhary16 commented on #64303
@shyamjvs I spent some time but could not find how #63328 is making it fail.
Anyways, once https://github.com/kubernetes/kubernetes/pull/64605, is merged, #63328 will not impact any CI job.

[2018-06-01 10:59] shyamjvs commented on #64303
@vikaschoudhary16 Thanks for response. That PR seems to be hiding the real issue by feature-gating it off. That works to fix the failure, but it still means we have the issue present.
I'm ok with merging #64605, but we do need to ensure that it's fixed (as it'll anyway come up later when you move to beta).

[2018-06-01 11:05] vikaschoudhary16 commented on #64303
[code]

Based on these logs, i can say that #63328 is not the cause. feature gate is only protecting the start of plugin watcher but from logs it is clear that plugin watcher started fine and kubelet givinf some errors which looks unrelated to plugin watcher.

At least by merging feature gate, we will gate to know if this job passes now. I will look more deeper in plugin watcher PR then bby creati

[2018-06-01 11:08] jonduttweiler commented on #55170
Hello  @bidyut1990 , you should check what's happen in these pods using kubectl logs <pod_name> , try first with calico-node, because the dns pod may need this to boot,
Greetings,
Jonatan

[2018-06-01 11:10] vikaschoudhary16 commented on #64303
@shyamjvs
Initially i thought that may be plugin watcher server is getting stuck and blocking kubelet start but from logs i can see that this is not the case. I am almost certain that #63328 is not the culprit. :)

[2018-06-01 11:15] shyamjvs commented on #64303
That strategy sgtm.

It's a clear regression if you look at this job https://k8s-testgrid.appspot.com/sig-scalability-kubemark#kubemark-500. And among the diff of 5 PRs, yours was the only one which failed the kubemark-500 presubmit (explained in https://github.com/kubernetes/kubernetes/issues/64303#issuecomment-393814632). So I'm not sure about that :)

Btw, could you please provide the source fo

[2018-06-01 11:19] vikaschoudhary16 commented on #64303
@shyamjvs  (https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-kubemark-e2e-gce-big/9164/artifacts/e2e-batch-9164-ac87c-minion-group-b2hg/kubelet-hollow-node-26mfd.log) its the same that @cblecker shared above.

May be i am missing something, will go through the code again.

[2018-06-01 11:20] cofyc commented on #64474
@msau42 I found why the tests failed, see my analysis of logs: https://github.com/kubernetes/kubernetes/pull/64610#issuecomment-393848378. I created a PR (https://github.com/kubernetes/kubernetes/pull/64610) trying to fix the issue. I am still investigating kubelet and trying to reproduce the issues locally.

[2018-06-01 11:29] nikhita opened #64612 "JSON decoders should be case sensitive"
Our current json decoders are case-insensitive. Creating a deployment with a field `spec.replicAs: 3` will fail kubectl validation with:

[code]

If we use `--validate=false`, the deployment configuration is accepted and the json decoder unmarshals it as `spec.replicas: 3`.

IMO we should not allow wrongly named fields even if they differ only in case sensitivity. Also, custom resources validation

[2018-06-01 11:48] zloo commented on #64137
Hi @kaspernissen . I think we're experiencing something similar in our cluster (we're using 1.10.2 though).

Could you please look at `systemd-cgls -a` and look for lines that look like this:
`  ├─run-re016aa97d850410186c0dd748c267fdd.scope`
directly under `system.slice` ?

[2018-06-01 12:32] #63615 closed

[2018-06-01 12:41] wojtek-t commented on #64303
To clarify - the problem we have is the following:

[code]

[2018-06-01 12:43] wojtek-t commented on #64303
And i actually think that the logs @cblecker pasted may be a red-herring and the issue seem to be what I mentioned above...

[2018-06-01 12:44] vikaschoudhary16 opened #64614 "Plugin watcher server failing sometimes with err: too many open files"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
pull-kubernetes-kubemark-e2e-gce-big was failing consistently after #63328 merge. On looking through logs found that kubelet is failing to start on some of the nodes because plugin watcher server failed to start with:

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-kubemark-500-gce/14430/artifacts/ku

[2018-06-01 12:45] vikaschoudhary16 commented on #64614
/assign @vikaschoudhary16

[2018-06-01 12:45] shyamjvs commented on #64303
That's right and also what I've conveyed to @vikaschoudhary16 on the slack channel.

[2018-06-01 12:46] vikaschoudhary16 commented on #64303
On some of the hollow nodes, following error is found in the logs:

So it is indeed the plugin watcher on some of the nodes that is making kubelet fail. For now,  #64605 is the stop gap fix to get job running.
This is the issue for tracking this https://github.com/kubernetes/kubernetes/issues/64614 before graduating plugin watcher to beta.

[2018-06-01 13:02] RickNEP commented on #62099
@liggitt you should be able to control the readOnly option and accept the security vulnerability. Default should be set to true if this is preferred, but you should be able to take the risk with this breaking change.

[2018-06-01 13:12] frederic-loui opened #64615 "containerd[<*>]: time="2018-06-01T14:58:55+02:00" level=error msg="Failed to resize process <*>""
/kind bug

**What happened**:
When pod is queried everything is fine the expected answer come back but I get an error systematically.

**What you expected to happen**:
Get the answer but not the following error:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
Deploy a pod or a service like kube-dns

**Anything else we need to know?**:
container runtime used is containerd 1

[2018-06-01 13:13] edganiukov opened #64616 "`PodTolerationRestriction` admission controller: add default cluster tolerations to the default whitelisted tolerations"
**What happened**:
After enabling the admission controller "PodTolerationRestriction",  I've added to the `scheduler.alpha.kubernetes.io/tolerationsWhitelist` namespace annotation and to the Pod spec a toleration (e.g `[{"operator": "Exists", "key": "node-role.kubernetes.io/master", "effect": "NoSchedule"}]`).
But it doesn't allowed to schedule a Pod and fails with an error:
[code]

To solve the i

[2018-06-01 13:13] bgrant0607 commented on #60001
I'd like to find better solutions to cluster-scoped policies. Cluster-scoped resources have proven to be somewhat unmanageable due to the lack of finer-grain scoping and delegation with potentially large numbers of namespaces, ugliness of cluster- and namespace-level flavors of resources. As much as possible, we should prefer namespace-scoped resources and establish a convention for  namespaces to

[2018-06-01 13:21] anuraaga commented on #62099
Thanks for the info, I can see the security implications here. But considering the fact that it is completely breaking, I still wonder whether a minor version update is appropriate for it, even when there is a fallback. It might be but needs to be coordinated with the major cloud providers, I follow GKE release notes continuously but there was no mention that an auto-upgrade would introduce breaki

[2018-06-01 13:22] anuraaga commented on #62099
Thanks for the info, I can see the security implications here. But considering the fact that it is completely breaking, I still wonder whether a minor version update is appropriate for it, even when there is a fallback. It might be but needs to be coordinated with the major cloud providers, I follow GKE release notes continuously but there was no mention that an auto-upgrade would introduce breaki

[2018-06-01 13:22] liggitt commented on #62099
Setting the feature gate `ReadOnlyAPIDataVolumes=false` allows just that as noted in the release notes - https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG-1.9.md#changelog-since-v193

[2018-06-01 13:33] davidkarlsen commented on #42306
@marksutherland Yes - I believe the same, controller manager uses the node DNS - not the cluster-dns.

[2018-06-01 13:52] RickNEP commented on #62099
ReadOnlyAPIDataVolumes=true|false (DEPRECATED - default=true)

Running k8s 1.10.3

[2018-06-01 13:55] #64576 closed

[2018-06-01 14:01] hargoniX opened #64617 "Can't run a manifest file from the docs."
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
I was following this getting started guide from the Kubernetes docs: https://kubernetes.io/docs/getting-started-guides/scratch/ and everything worked fine until [here](https://kubernetes.io/docs/getting-started-guides/scratch/#apiserver-controller-manager-and-scheduler), I tried to use this config file
[code]
with the comm

[2018-06-01 14:14] hargoniX commented on #64617
/sig docs

[2018-06-01 14:34] #58628 closed

[2018-06-01 14:43] #57009 closed

[2018-06-01 14:49] jsravn commented on #62099
@anuraaga is being nice about it but I agree with him completely, and probably more strongly. Breaking your contract with users is about the worse thing an open source project can do. Breaking change in a patch version is never the right choice, except in very extreme situations. This should have been opt-in not opt-out. Release notes are not good enough either when the versioning docs imply we ca

[2018-06-01 15:01] canhnt commented on #42306
If we run kube-controller-manager as a pod  and with dnsPolicy is ClusterFirstWithHostNet, then it's possible to resolve internal k8s service like Heketi.

[2018-06-01 15:08] StevenACoffman commented on #60295
This would be nice. Alternatively:
[code]

[2018-06-01 15:35] pmichali commented on #63922
I'm making changes for k-d-c under https://github.com/kubernetes-sigs/kubeadm-dind-cluster/pull/135. Please review there.

If folks have responses for the questions, above, please let me know so I can adjust my changes, as needed.

[2018-06-01 15:45] sathishbitsg commented on #48240
Any update on this? I'm also having the same issue.

[2018-06-01 16:19] lmdaly commented on #49964
/remove-lifecycle rotten

[2018-06-01 16:21] AishSundar commented on #63030
Will monitor the runs and keep the issue updated

[2018-06-01 16:23] jpbetz commented on #47532
So I'm extrapolating here, but the math here is:
[code]

[2018-06-01 16:27] AishSundar commented on #63030
/status in-progress

[2018-06-01 16:29] shyamjvs commented on #64303
Thanks @vikaschoudhary16!
/close

[2018-06-01 16:29] #64303 closed

[2018-06-01 16:30] djschny commented on #60903
Thanks for the discussion here, I recently thought there was a bug in the documentation as well since it talks about nodes instead of pods for Access Modes.

What concerns me the most here is that from a user perspective it is all presented in an abstracted way between the Pod spec, PVC, and PV that makes it look like it’s all pod level, but it’s not.

In this secnario, if a PV has and `accessMode

[2018-06-01 16:33] shyamjvs commented on #62808
Ref umbrella - https://github.com/kubernetes/kubernetes/issues/63030

[2018-06-01 16:33] AishSundar opened #64619 "[Failing Test] : gce-ingress-1.11 job failing on Kubetest timeout in 1.11-release-blocking"
## Failing Job

* [sig-release-1.11-blocking#gce-ingress-1.11](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gce-ingress-1.11)

## Error
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/2747#timeout

## Build Log
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/2747?log#

[2018-06-01 16:37] AishSundar opened #64620 "[Failing Test] : gke-ingress-1.11 job failing to checkout Boskos project 1.11-release-blocking"
## Failing Job
* [sig-release-1.11-blocking#gke-ingress-1.11](https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gke-ingress-1.11)

## Error
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cos-k8sbeta-ingress/2836

Something went wrong: failed to prepare test environment: --provider=gke boskos failed to acquire project: resource not found

/kind bug
/

[2018-06-01 16:45] cblecker commented on #64303
Thank you both, @vikaschoudhary16 @shyamjvs!

[2018-06-01 16:45] AishSundar commented on #64620
/status approved-for-milestone

[2018-06-01 16:45] AishSundar commented on #64619
/status approved-for-milestone

[2018-06-01 16:47] Quentin-M commented on #56903
So unfortunately it does seem that the issue you are having is different
than the one experienced by various folks here, and that is related to a
conntrack race,

[2018-06-01 17:05] RenaudWasTaken commented on #64303
I'm seeing [an error (line 8)](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/batch/pull-kubernetes-kubemark-e2e-gce-big/9164/artifacts/e2e-batch-9164-ac87c-minion-group-l416/kubelet-hollow-node-zv5kz.log) much more early in the process that seems related:
[code]

Are the kubelet ran on the same node?

Given that fsnotify needs to keep at least one file opened for each path / file

[2018-06-01 17:05] RenaudWasTaken commented on #64614
I'm seeing an error (line 8) much more early in the process that seems related:

E0530 16:39:48.380138      10 file_linux.go:61] Unable to read config path "/tmp/hollow-kubelet.850040081/static-pods428572988": unable to create inotify: inotify_init: too many open files
Are the kubelet ran on the same node?

Given that fsnotify needs to keep at least one file opened for each path / file it watches

[2018-06-01 17:17] jaredallard commented on #45976
We're seeing this in GKE as well as in a kops deployed AWS environment. We're starting to move this up into our production environments, but if DNS has transient issues it's a bit concerning. Reading through this thread, it looks like we don't really have a full idea of what's causing this do we?

[2018-06-01 17:40] vikaschoudhary16 commented on #64614
@RenaudWasTaken similar was my guess on underlying host limits. Will verify with test PR.

[2018-06-01 18:13] AishSundar commented on #64620
From offline discussion with @krzyzacy looks like there is a resource leak with a new NIG in place. @rramkumar1 can you PTAL

/assign @rramkumar1
/sig network
@kubernetes/sig-network-bugs

[2018-06-01 18:20] BenTheElder commented on #64620
adding that this leak affects on the ingress job GCP project pool so while this will block those jobs it shouldn't affect other testing in the meantime

[2018-06-01 18:26] mitchellmaler opened #64623 "Run job on each node once to help with setup"
Hello,

I am looking to see if it is possible to have a job run on each node in the cluster once. Right now our cluster is dynamically provisioned and scaled and was looking to use the kubernetes job and cronjob feature to run things to setup the node once it is provisioned or have a cron make sure something is cleaned up on each node.

[2018-06-01 18:30] rramkumar1 commented on #64620
@freehan has a script to clean up the leaked NEG resources. Hopefully things should clear up after we run it.

[2018-06-01 18:42] gnufied opened #64625 "kubeadm token test is flaky"
Just got this while running the tests:

[code]

[2018-06-01 18:43] msau42 opened #64626 "TestVolumeBinding flakes"
**Is this a BUG REPORT or FEATURE REQUEST?**:
@kubernetes/sig-storage-bugs
/assign

**What happened**:
Here's some failures
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64447/pull-kubernetes-integration/14448/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/64478/pull-kubernetes-integration/13886

[2018-06-01 18:44] jennybuckley commented on #63622
@liggitt
It flaked again since your PR merged
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/26059#sig-api-machinery-aggregator-should-be-able-to-support-the-17-sample-api-server-using-the-current-aggregator

[2018-06-01 18:47] jennybuckley commented on #63622
All I'm seeing is
[code]

[2018-06-01 19:08] pv93 commented on #48968
This error is still occuring to me, running GKE 1.9.6-1. Running a pod with a gce-pd PVC. The odd thing is that this error pops up immediately on creation of the pod and its associated PVC. My guess is that the old one has not been deleted in GCP, even though it's gone from Kubernetes and from GCE console. This is a really big problem and is making it impossible to run any stateful apps in my clus

[2018-06-01 19:12] #63813 closed

[2018-06-01 19:12] #61456 closed

[2018-06-01 19:12] #64566 closed

[2018-06-01 19:13] mitchellmaler commented on #64623
/sig sig-apps

[2018-06-01 19:44] timothysc opened #64627 "Find a new home for bootstrap tokens consts & utilities"
**This is a CLEANUP/ REFACTOR **:
During 1.11 release, as part of https://github.com/kubernetes/kubernetes/pull/64408/commits/33f59e438e93b824492caff5d39fd143b43eac9a there were concerns raised by @lavalamp regarding whether the aforementioned code belongs there, or in a different location.

from slack:
[code]

The purpose of this issue is to find that home in the 1.12 cycle.

/kind cleanup
/cc @k

[2018-06-01 19:48] #30042 closed

[2018-06-01 20:29] jiayingz opened #64632 "From 1.11, an extended resource reported by a device plugin can be left on a node after node upgrade even though its device plugin never registers back"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

In 1.11, https://github.com/kubernetes/kubernetes/pull/61877 removed externalID from Node.Spec which used to be used by kubelet to detect node recreation in certain environments during node upgrade. This changed node upgrade behavior in those environments because in pkg/kubelet/kubelet_node_status.go tryRegisterWithAPISe

[2018-06-01 20:29] jiayingz commented on #64632
/sig node

[2018-06-01 20:30] jiayingz commented on #64632
/cc @ConnorDoyle @vishh @mindprince @vikaschoudhary16 @RenaudWasTaken @derekwaynecarr @dchen1107

[2018-06-01 20:49] #43634 closed

[2018-06-01 20:55] aabed commented on #61901
the problem was solved with those versions

Kube 1.10.3
Calico-node v2.6.7
Calico-cni v1.11.2

[2018-06-01 20:57] joekohlsdorf commented on #45976
This comment explains the root cause pretty well: https://github.com/weaveworks/weave/issues/3287#issuecomment-387178077

We have switched our resolvers to TCP and since not seen these issues anymore. This is still better than the 4ms artificial delay which was suggested in the weave issue and is much easier to implement.

[2018-06-01 21:14] davidz627 opened #64635 "In-Tree Storage Plugin to CSI Migration Framework"
/kind feature
/sig storage
/assign
/cc @saad-ali @jsafrane

See design: https://github.com/kubernetes/community/pull/2199
[TODO: Update to actual file when PR Merged]

This issue is to track work being done on the migration.

[2018-06-01 21:15] RenaudWasTaken commented on #64632
Having extended resources be a concept encapsulating both device plugin
resources and user set resources (opaque int resources) has been a hassle
to deal with.

We should also consider a few alternatives :
- separating them from a code perspective (i.e: different fields in node
status) .
- separating them from a name (/dns) perspective.

[2018-06-01 21:23] #64265 closed

[2018-06-01 21:30] sbezverk opened #64637 "pluginwatcher there is no de-register method"
Right now the driver registration only registers drivers, not clear how to de-register a driver when the driver is terminated.

[2018-06-01 21:33] sbezverk opened #64638 "pluginwatcher registration of existing socket after kubelet restart"
ON kubelet restart pluginwatcher should re-register all existing sockets and have a mechanism to retry re-registration since there is a possibility that kubelet is up but the driver bits are not ready yet.

[2018-06-01 21:45] saad-ali commented on #64637
If a plugin is removed, we have no way to deregister it. If a plugin is uninstalled, should the kubelet be alerted so it can do some cleanup? Probably not a blocker for 1.11, but let's think about it.

CC @jiayingz @vikaschoudhary16 @vishh @vladimirvivien @sbezverk @RenaudWasTaken

[2018-06-01 21:47] saad-ali commented on #64638
When kubelet pluginwatcher starts it does not appear to register existing sockets, only new sockets that generate inotify. We should scan for and register existing sockets when kubelet first starts.

CC @jiayingz @vikaschoudhary16 @vishh @vladimirvivien @sbezverk @RenaudWasTaken

[2018-06-01 21:48] saad-ali commented on #64638
We should fix this before 1.11 ships.

[2018-06-01 21:50] #23839 closed

[2018-06-01 21:55] jiayingz commented on #64632
Agree with @RenaudWasTaken If we do need to support the use case of exporting a resource in node status capacity/allocatable not through Kubelet, seems better to introduce special naming convention for such resources.

[2018-06-01 22:03] jiayingz commented on #64638
As I remember, when plugin watcher restarts, it first walks through the plugin dir and re-registers any existing plugin.

[2018-06-01 22:06] radeksimko commented on #44539
/remove-lifecycle stale

[2018-06-01 22:07] dims commented on #64514
/close

[2018-06-01 22:07] #64514 closed

[2018-06-01 22:09] sbezverk commented on #64638
@jianglingxia I tried it once and I did not observe re-register behaviour, but still it is possible that I had something wrong. What I suspect that since pluginwatcher was switched to react on events generated by inotify, the existing sockets might be missed.
There is a second part of the issue, if kubelet is up and tries to re-register drivers and drivers pods are not up, gRPC connections will ti

[2018-06-01 22:16] arikkfir commented on #62382
FWIW,(assuming I'm not missing something) I can confirm on GKE 1.10.2-gke.3 (latest as of Jun 2nd) the `backoffLimit` is still broken. The following job spec endlessly creates pods:
[code]

[2018-06-01 22:51] #42465 closed

[2018-06-01 23:27] stonefury commented on #64580
Oh wow, didn't know that was in the pipeline. It's beta I see, but still, is this to replace iptables mode, or just an alternate mode?  Either way, thanks for that @islinwb

[2018-06-02 00:03] ftripier commented on #24803
Bump.

[2018-06-02 00:08] madhanrm commented on #62047
@PatrickLang  docker already queries HNS for endpoint stats.

[2018-06-02 00:26] jingxu97 commented on #43672
/reopen

[2018-06-02 00:29] dims commented on #64580
@stonefury it will be GA in 1.11 - https://github.com/kubernetes/kubernetes/pull/58442

[2018-06-02 00:53] #57341 closed

[2018-06-02 00:53] #24762 closed

[2018-06-02 00:53] #50210 closed

[2018-06-02 00:53] #24758 closed

[2018-06-02 00:53] #57739 closed

[2018-06-02 00:53] #24759 closed

[2018-06-02 01:12] bgrant0607 commented on #60001
A relevant/example issue regarding defaulting/overrides/mutations:
https://github.com/kubernetes/kubernetes/issues/64333

[2018-06-02 02:03] liggitt commented on #62538
#64153 is merged, will be in 1.10.4, planned for 6/6

[2018-06-02 02:03] #62538 closed

[2018-06-02 02:05] islinwb commented on #64580
@stonefury  Currently IPVS is an alternate mode but I guess someday most people will use it.  It takes round-robin as the default load balancing algorithm and you can choose others. (See the ipvs docs ([1](https://kubernetes.io/docs/concepts/services-networking/service/#proxy-mode-ipvs), [2](https://github.com/kubernetes/kubernetes/blob/85f9108df1cc45e844f79d2bae0ca40baf2ee7a6/pkg/proxy/ipvs/READM

[2018-06-02 02:12] vikaschoudhary16 commented on #64637
@saad-ali we discussed it already in the first meeting. If plugin uninstalls, grpc will pick that up and kubelet component can unregister it. later when the plugin will reapear, watcher will pick it up and send a register request to kubelet component.
/cc @jiayingz

[2018-06-02 02:31] liggitt commented on #64612
Actually, we switched to json-iter in 1.8:
[code]

checking against 1.7, ugorji was case-sensitive:
[code]

and json-iter in 1.8 is not:
[code]

[2018-06-02 02:37] paulbsch opened #64647 "need a multi-arch kube-proxy image to allow a single daemonset to support multiple-arch nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
After joining a new ppc64le node to the k8s cluster, the kube-proxy DaemonSet fails on the new node.

**What you expected to happen**:
It was expected that the kube-proxy DS would "just work" as it does when adding an amd64 node to the cluster.

**How to reproduce it (as minimally and precisely as possible)**:
Set up an a

[2018-06-02 02:44] liggitt commented on #64612
/priority important-soon

[2018-06-02 02:44] liggitt commented on #64612
@kubernetes/sig-api-machinery-bugs

[2018-06-02 02:55] #56897 closed

[2018-06-02 03:04] joejulian opened #64649 "kube-apiserver 1.10.[0-5] & 1.11.0 uses up all available cpu on arm64"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I upgraded kube-apiserver on a Raspberry Pi 3 cluster and after it begins adding the http listeners, the cpu usage goes up on all processors to use every available cycle and all attempts to connect to the api via https (6443) or http (8080) time out.

Since I host etcd on the controller nodes, it also becomes unresponsiv

[2018-06-02 03:05] bgrant0607 commented on #41442
@chino See https://github.com/kubernetes/kubernetes/issues/28610

[2018-06-02 03:07] joejulian commented on #64649
I've tried profiling this, but since it doesn't respond to the http interface, I can't get it that way. I've tried hacking in the ability to write profile data to a file, but the os.Exit in the fatal error log causes the defers to get skipped the the profile file to remain empty or have corrupted data if I do get it to write.

[2018-06-02 03:07] joejulian commented on #64649
/sig api-machinery

[2018-06-02 03:17] liggitt commented on #63622
I don't think that's related... I see 10-30 of those same rejections in apiserver logs of successful test runs (for example, search https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/64641/pull-kubernetes-e2e-gce/39140/artifacts/e2e-39140-674b9-master/kube-apiserver.log for `403 [[sample-apiserver/v0.0.0`). I don't see anything in the test setup that grants the sample apiserver permiss

[2018-06-02 03:27] andrewwatson opened #64650 "Tainted preemptable GKE nodes come back with no taint"
I created a node pool that was tainted so i could dedicate them to running vault and then all the other pods were to run in the default pool.  I made both pools preemtable to save money but when the nodes get nuked they come back without the taint and my pods start getting scheduled on them when they aren't supposed to.

I have to re-taint the nodes, delete the pods that were scheduled incorrectly

[2018-06-02 04:11] bgrant0607 commented on #42594
cc @apelisse @pwittrock @mengqiy

[2018-06-02 04:51] nilebox commented on #42594
Yes, it was fixed in #64034, followed with #59851, #63979 and #64375

[2018-06-02 04:52] liggitt commented on #62099
I agree with you. Preventing data loss and closing severe security vulnerabilities are among the few reasons such a break would even be considered, and both of those factors were part of this decision.

[2018-06-02 04:54] liggitt commented on #45539
This issue was about not assuming objectmeta fields are mutable via status. The ability to add/remove arbitrary finalizers shouldn't inherently accompany the ability to write status of an object.

[2018-06-02 05:08] anuraaga commented on #62099
I just wonder whether the proper communication was taken with the cloud vendors. It's a hard decision to make a breaking change with a patch release but at least can be better if users are made aware, at least in e.g., the GKE release notes. If there's a process for such a notification via the cloud vendors, I think it will allow people to worry less when using auto-upgrade. Or is the ball in thei

[2018-06-02 05:13] liggitt commented on #64647
daemonsets can specify a node selector to limit their arch-specific image to run on matching nodes

[2018-06-02 06:59] #36701 closed

[2018-06-02 07:01] frederic-loui commented on #64615
This is strange as the container is running and answering ...
I get this answer each time I'm requesting something a pod.

Le sam. 2 juin 2018 à 00:31, Lantao Liu <notifications@github.com> a écrit :

[2018-06-02 08:31] mitchellmaler commented on #27081
Why was this closed?

Telling people to add a annotation to an already depoyed deployment/statefulset using patch is not that user friendly and many have called it a hack.

This sounds like a useful command to add to allow a rolling redeployment even when nothing changed.

[2018-06-02 10:58] #64341 closed

[2018-06-02 11:35] huang-jy opened #64653 "'Timeout expired waiting for volumes to attach/mount for pod'"
/kind bug

**What happened**:
I created a deployment on a AWS k8s cluster, and that is using a PVC to a PV that is attached to an already-existing 3TB EBS volume

The cluster mounts the volume onto the worker node successfully and I can `cd` into the directory successfully (i.e. it's a clean disk and doesn't require fsck). However, k8s returns a timeout attaching it into the pod

If I delete the d

[2018-06-02 11:37] huang-jy commented on #64653
/sig aws

[2018-06-02 11:53] rramkumar1 commented on #64619
@AishSundar Hmm, I'm not seeing anything related to leaked resources anymore unless I'm completely missing something. Is it possible that this test just needs a larger timeout?

[2018-06-02 12:02] rramkumar1 commented on #64620
It looks like stuff has been cleaned up in all ingress projects. @krzyzacy Can you confirm?

[2018-06-02 12:41] rramkumar1 commented on #59662
/close

[2018-06-02 12:41] #59662 closed

[2018-06-02 12:42] rramkumar1 commented on #59215
/close

[2018-06-02 12:42] #59215 closed

[2018-06-02 12:44] ustcyue commented on #62382
we used the latest v1.10.3 release but backoffLimit is still broken

`Client Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2bba0127d85d5a46ab4b778548be28623b32d0b0", GitTreeState:"clean", BuildDate:"2018-05-21T09:17:39Z", GoVersion:"go1.9.3", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"10", GitVersion:"v1.10.3", GitCommit:"2

[2018-06-02 13:12] ash2k opened #64655 "Data race in pkg/kubelet/config.watchFileChanged"
**What happened**:
Unit test failed with a data race in a seemingly unrelated PR https://github.com/kubernetes/kubernetes/pull/63284
Logs: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/63284/pull-kubernetes-bazel-test/47917/
[code]

I couldn't find an existing report about the issue so here it is.

/kind bug
/sig cli

[2018-06-02 13:44] zhangguanzhang opened #64656 "about the topologyKey"
Why use key name to select node？
Normal people use:
[code]
If I follow your requirements:
[code]
I think this is not in accordance with human habits

[2018-06-02 14:17] RenaudWasTaken commented on #64637
I've added a few comments to make this more explicit in PR#64621

[2018-06-02 15:07] #41204 closed

[2018-06-02 15:07] #53405 closed

[2018-06-02 15:30] FrederikNS commented on #48180
I have since understood, that this is exactly what [Admission Controllers](https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/) are for. They grab a configuration and either modifies, rejects or accepts the config, before it is actually added to the Kubernetes API Controller.

[2018-06-02 16:20] bgrant0607 commented on #39144
cc @apelisse

[2018-06-02 16:47] krzyzacy commented on #64620
Yup it looks fine now. We probably should add the script in janitor itself?

[2018-06-02 17:09] #47777 closed

[2018-06-02 17:44] trondhindenes opened #64659 "Kubelet disregards "hostname-override" if cloud-provider=aws is set"
/kind bug

**What happened**:
Given a kubelet configured with `--cloud-provider=aws`, `--hostname-override=ldm-0110069` and `--register-node=true`, the kubelet still tries to register with the api server as the "aws-specified" hostname (for example `ip-something.eu-west-1.compute.internal`). This is problematic for custom provisioners if the configured node cert doesn't include the "aws-format" no

[2018-06-02 17:50] trondhindenes commented on #64659
/sig aws

[2018-06-02 18:06] resouer commented on #63842
@bsalamat This issue also needed to be approved for 1.11 milestone.

[2018-06-02 18:33] liggitt commented on #64659
/close

duplicate of https://github.com/kubernetes/kubernetes/issues/54482

when using `--cloud-provider`, the cloud provider is authoritative on the node name and addresses

that cannot be overridden via a kubelet flag, or the other components (apiserver, controller manager, etc) would have no trustworthy way of know what node name corresponded to a particular AWS instance.

See work in progress

[2018-06-02 18:33] #64659 closed

[2018-06-02 18:36] liggitt commented on #64647
/close

[2018-06-02 18:42] trondhindenes commented on #64659
Thanks. I still think the cloud-provider flag could have been documented better, it's next to impossible to figure out what it actually does (and doesn't). Thanks for replying anyway.

[2018-06-02 18:56] paulbsch commented on #64647
I am well aware that a node selector can be used.  That is what we are doing now.  But it is a hack.  The default should "just work".

Adding a new non-amd64 node should not result in kube-proxy immediately failing on it because the default daemon set is amd64 arch specific.  If kube-proxy is meant to "just work" clusterwide, a node selector should not be needed.  Please use the manifest-tool so t

[2018-06-02 19:11] paulbsch commented on #64647
The current kube-proxy daemon set  implementation is not properly architected, IMHO.  Please re-open this @kubernetes/sig-architecture-bugs

[2018-06-02 19:11] #57565 closed

[2018-06-02 19:11] liggitt commented on #64647
ah, this was a comment about the kube-proxy image, not the daemonset functionality
/reopen

[2018-06-02 19:17] liggitt commented on #64647
the kube-proxy addon daemonset is probably @kubernetes/sig-cluster-lifecycle-feature-requests

the multi-arch kube-proxy image to support that daemonset might be @kubernetes/sig-release-feature-requests

[2018-06-02 19:36] abdennour commented on #64561
I have the same environment and I am facing the same issue.

BTW, I go to vagrant and I left minikube because its connection keeps losing since the last upgrade ( 1.10)/

[2018-06-02 19:55] #59451 closed

[2018-06-02 20:10] abdennour commented on #64561
Ok, so seems I  caught the issue. I moved the folder (kubernetes) after running `curl -sS https://get.k8s.io | bash`. This move broke the **symbolic link** `./client/bin` which a link of `/Path/Before/Move/kubernetes/platforms/darwin/amd64`. And since I moved the folder, `/Path/Before/Move/kubernetes/platforms/darwin/amd64` is no more exist.

## solution:
- Check the symbolic link of `./client/bin

[2018-06-02 20:17] abdennour commented on #64561
After a deep dive into the code of this repository, I realized that `verify-kube-binaries` is missing function which currently exists in `./cluster/common.sh`.

## solution:

[code]

[2018-06-02 20:28] dims commented on #64647
Looks like it's coming from here:

https://github.com/dims/kubernetes/blob/master/cmd/kubeadm/app/phases/addons/proxy/manifests.go#L75

/assign @luxas
/sig cluster-lifecycle

Lucas,
Do we want to avoid the `{{ .Arch }}` references?

[2018-06-02 20:31] abdennour commented on #64234
same problem so far.

[2018-06-02 20:39] liggitt commented on #64659
That's fair. Opened https://github.com/kubernetes/kubernetes/pull/64661 and https://github.com/kubernetes/website/pull/8873 as a start

[2018-06-02 20:46] liggitt commented on #62295
fyi, I'm documenting the current state of cloud provider node name computation and requirements in https://github.com/kubernetes/website/pull/8873

as this issue is resolved and a method for computing compatible Kubernetes Node names from arbitrary OpenStack instances is implemented, please update the OpenStack section of that document to describe the new method, any configuration requirements, et

[2018-06-02 21:04] bgrant0607 commented on #9043
Example: change to affinity: #57181

[2018-06-02 21:04] bgrant0607 commented on #57181
Noted in #9043

[2018-06-02 21:46] milosgajdos83 commented on #61901
Do you know the root cause @aabed ? Which one of those components were at fault and how?

[2018-06-03 00:29] raffaelespazzoli commented on #41193
/sig apps

2018-06-02 15:12 GMT-04:00 fejta-bot <notifications@github.com>:

--
ciao/bye
Raffaele

[2018-06-03 00:37] mbohlool commented on #64571
Interesting fact: `TestVersionedNamspacedScopedCRD` is not flaky, only `TestVersionedNamspacedScopedCRD`. The test codepath for these two are almost identical. I wonder if this is a real bug not a flaky test.

[2018-06-03 01:55] aabed commented on #61901
I really don't know the root cause
but we started cluster with kops, it was k8s 1.9.3
the problem existed

after upgrading to 1.10.3 it disappeared

in both cases Calico versions were the same

so I'd say it was solved by upgrading kubernetes itself

[2018-06-03 02:10] ash2k commented on #51457
/assign

[2018-06-03 02:18] #57452 closed

[2018-06-03 03:48] brendandburns commented on #64234
+1, I'm seeing this as well...

Downgrading to 1.10.2 fixes things:

[code]

[2018-06-03 03:50] brendandburns commented on #64234
@luxas

[2018-06-03 04:20] #57405 closed

[2018-06-03 04:49] atombender commented on #62099
I'm dismayed that this option was broken *while still silently allowing* `readOnly: false`. If this feature is now unsupported, the API machinery should now refuse a pod spec when a secret or configmap has `readOnly: false` and it won't be enforced.

[2018-06-03 05:41] aalubin commented on #62382
This issue prevents us from rolling 1.10 to all clusters

[2018-06-03 05:54] kevtaylor commented on #64578
@kubernetes/sig-node-test-failures can anyone shed some light on why events are not being returned from a pod in the alpha suite? This has a 1 minute pod timeout and everything works fine locally

[2018-06-03 06:05] kevtaylor commented on #64578
@msau42 I suggest unless anyone can define why the events do not appear, we disable that part of the test and just check for error. If you are okay with that please reopen the bug and I'll put in a new fix

[2018-06-03 06:42] nikita15p commented on #64546
I was trying to apply the taint on the node with key=value:effect NoExecute
Then applied following pod spec to the node using command kubectl create -f tc1.yaml
**tc1.yaml**
apiVersion: v1
kind: Pod
metadata:
  name: nginx-with-NoExecutetolerations
spec:
   tolerations:
  - key: "key"
    operator: "Equal"
    value: "value"
    effect: "NoExecute"
  containers:
  - name: nginx-with-NoExecutetoler

[2018-06-03 07:30] dElogics commented on #45419
@integrii
No it happens on the latest centOS too. Got it reproduced once.

[2018-06-03 07:36] ConnorDoyle commented on #64632
We had a discussion in another issue about using the check point to keep the node in not ready until all expected device plugins have re-registered. Is that option still on the table?

I’m hesitant to suggest changing the semantics of extended resources again, at least until we are sure it’s a valid long term solution.

[2018-06-03 08:04] dElogics commented on #45419
Ok, I would like to change on what I said earlier -- the container runtime will suddenly go down complaining

skipping pod synchronization - [PLEG is not healthy:...

While docker is running file. In the mean time restarting kubelet makes PLEG healthy and the node is up again.

docker, kubelet kube-proxy are all set to RT priority.

[2018-06-03 08:05] clouless commented on #47862
I would also love to see UDP Port Forwarding happen :)

[2018-06-03 08:27] darxtrix commented on #55722
Hi @thockin, can I take this up ? It would be a good starter issue for me.

[2018-06-03 10:40] houz42 opened #64667 "[Feature Request] Pod can be scheduled with specified scheduler extenders instead of all."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig scheduling

**What happened**:

Currently, if scheduler extenders are declared in scheduler policy config file, all extenders will be invoked for all pods when scheduling, which may be not necessary all the time.

When I needed a subset of my pods be scheduled with default polices and my own policy, while others be not, I had to add

[2018-06-03 10:48] houz42 commented on #64667
@resouer, @ravisantoshgudimetla  can you kindly review this request and tell if it is doable. And if it does, I want to try it. But I am not sure if I am capable for this,  I have not dived deep enough into the internal scheduler code.

[2018-06-03 11:27] #57819 closed

[2018-06-03 11:50] alvaroaleman opened #64668 "Support clusterIPs as endpoints in services"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature
/sig network

This is a follow-up on #40870 which has been closed by updating the documentation via kubernetes/website#8028 to state

Also it was mentioned that one could use services of type `ExternalName` instead. However I think this does not cover all use-cases because:

* `ExternalName` services can only be used in-cluster, they can

[2018-06-03 11:51] alvaroaleman commented on #40870
I created #64668 to clarify if we want this.

[2018-06-03 12:41] joaocc commented on #60751
/remove-lifecycle stale

[2018-06-03 12:52] dims commented on #62382
/milestone v1.11

Looks like we have a couple of PR(s) in progress and feels like we should get this fixed by the time we ship 1.11, please let me know if this fine or not.

[2018-06-03 12:54] dims commented on #62099
@liggitt please see last comment, do we need to do anything by the time we ship 1.11?

[2018-06-03 12:58] dElogics commented on #45419
One more thing -- on restarting kubelet, the same thing happens unless I restart docker.

I tried using curl on the docker's socket, and it's working fine.

[2018-06-03 13:00] liggitt commented on #62099
No, rejecting previously persisted API objects as invalid would cause far more compatibility problems

[2018-06-03 13:10] aalubin commented on #62382
@dims I think that this issue should be fixed in 1.10 regardless of 1.11 as this issue causes serious cluster stability, for a fairly common scenario.
Specifically for us, migration to 1.11 adds complexity and risk due to the change in the way nvidia GPUs are managed, so it will take us some time to upgrade to 1.11.

[2018-06-03 13:29] #36220 closed

[2018-06-03 13:43] zhangguanzhang commented on #54870
I think the backoffLimit doesn't work at all. My kubernetes version is 1.10.3
[code]

[2018-06-03 14:15] dims commented on #62382
@aalubin y, guess my question is ... is it fixed in master? (and hence already fixed for 1.11), if not, do we need to get this fixed in master/1.11 and backport to 1.10

[2018-06-03 14:19] houz42 commented on #64667
@kubernetes/sig-scheduling-feature-requests

[2018-06-03 15:42] wojtek-t commented on #64303
We run mutliple "hollow-kubelets" on the same node - yes.A simple fix would be to raise that limit or have less kubelet per node.nb

Less kubelets per node is not an option - we do ran many of them to reduce costs.
Raising a limit might be a good fix.

[2018-06-03 16:49] arikkfir commented on #62382
Unless I'm mistaken, the `Job` objects are considered stable APIs right? (since they are under the `batch/v1` group). If so, I also think this should be fixed in the next 1.10 point release.

In general, like @aalubin we would also rather to be able to use `Job`s without being forced to upgrade to 1.11.

[2018-06-03 17:39] cblecker commented on #62382
This is a regression in functionality, and when the proper fix is determined, it should be cherry picked back to 1.10. We need it fixed in master first, however.

I'm going to escalate this to sig-apps to see if we can get the right resources.

[2018-06-03 18:07] jhorwit2 commented on #64616
/sig scheduling

[2018-06-03 18:15] cblecker commented on #49789
Sorry for the delay. The issue is that your `GITHUB_USER` is set incorrectly. Because you're using the vmware org fork for your branch instead of your personal fork, try the following before running:

[code]

/remove-lifecycle stale

[2018-06-03 18:16] cblecker commented on #62382
cc: @jberkus @MaciekPytel
This will need to merge into master, and then be cherry picked back to 1.10

[2018-06-03 19:35] #40850 closed

[2018-06-03 20:08] ghorofamike opened #64671 "ks8 mixing public and private interfaces regardless of node-ip, apiserver-advertise-address"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

[code]
same deal with helm install of charts:
[code]

**What you expected to happen**:
`kubectl  exec` would give a shell on pod
`helm install`  would  apply the manifest

**How to reproduce it (as minimally and precisely as possible)**:

   1. Install ks8  version 1.1.10 , multiple nodes
   2. Apply weave  network
   3.

[2018-06-03 20:11] ghorofamike commented on #64671
/sig network
/sig node

[2018-06-03 21:37] #42861 closed

[2018-06-03 22:38] #57531 closed

[2018-06-03 23:43] liggitt commented on #64671
The kubelet reports addresses it is aware of (both DNS and IP). Which ones it reports varies by cloud provider, detected hostname, node-ip, etc. You can see the reported addresses in node status with `kubectl get node <name> -o yaml`

When kube-apiserver needs to contact the kubelet, it uses one of the addresses reported by the kubelet. Which one depends on the order of address types specified by

[2018-06-04 01:55] hzxuzhonghu commented on #56816
/close

[2018-06-04 01:55] #56816 closed

[2018-06-04 01:56] #60784 closed

[2018-06-04 02:00] resouer commented on #64667
@houz42 One thing I am not clear is, why don't use default scheduler + one scheduler extender? You have many extenders for different pods to use?

[2018-06-04 02:27] k82cn commented on #63842
/status approved-for-milestone

As we sync up in last meeting, we'd like to get this done in 1.11 :)

[2018-06-04 02:28] k82cn commented on #63842
/status in-progress

[2018-06-04 02:53] houz42 commented on #64667
@resouer

No, only one.

Only a subset of my pods need to be scheduled by this extender, others need not.

[2018-06-04 03:04] resouer commented on #64667
If the request is about: allow pod to choose specific extender by name, it is a valid request.

Actually I recalled discussed this with someone on some existing issue ...

[2018-06-04 03:09] hzxuzhonghu commented on #64496
We can set http.Server.ReadTimeout to tackle with this issue. And I have verified it did effect.

[2018-06-04 03:40] houz42 commented on #64667
Yes, that's what I mean.

By the way, can you tell if there is too much work to do , or maybe, less than 200 lines of code.

[2018-06-04 03:43] #51779 closed

[2018-06-04 03:52] wackxu commented on #40358
@k82cn Does  `SelectorSpreadPriority` can implements this?

[2018-06-04 04:19] yue9944882 commented on #64655
/sig node

[2018-06-04 04:32] loveai88 opened #64676 "match pause pod can not found"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I found that some pod not has match pause container,so kubelet can not stop the pod .How dose it happened.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (1.8.5):
- Cloud provider or hardware c

[2018-06-04 04:36] wgliang commented on #64667
@resouer
Yes, maybe this issue related #59555 I had submit.

[2018-06-04 04:44] #57643 closed

[2018-06-04 05:29] houz42 commented on #64667
@k82cn
Resource type of GPU in pod specification has changed from `alpha.kubernetes.io/nvidia-gpu` to `nvidia.com/gpu` on 1.8. Our old scheduler is written based on 1.7. When we deploy all our apps and jobs on a new cluster running 1.9, we have updated our pod specs (`alpha.kubernetes.io/nvidia-gpu` to `nvidia.com/gpu`), but forgotten to update our scheduler at the first time. Our scheduler could

[2018-06-04 05:29] houz42 commented on #64667
@k82cn
Resource type of GPU in pod specification has changed from `alpha.kubernetes.io/nvidia-gpu` to `nvidia.com/gpu` on 1.8. Our old scheduler is written based on 1.7. When we deploy all our apps and jobs on a new cluster running 1.9, we have updated our pod specs (`alpha.kubernetes.io/nvidia-gpu` to `nvidia.com/gpu`), but forgotten to update our scheduler at the first time. Our scheduler could

[2018-06-04 05:33] k82cn commented on #40358
Something similar with `SelectorSpreadPriority` maybe helpful. `SelectorSpreadPriority` dependents on `ReplicaSet`, `StatefulSet` and so on, which should be avoid. I think there's also a proposal/option to use OwnerReference, but I can not remember the comments for it :).

[2018-06-04 05:41] dixudx commented on #64647
@paulbsch A dirty workaround for this is to pull `gcr.io/google_containers/kube-proxy-ppc64le:v1.10.3` and rename to `gcr.io/google_containers/kube-proxy-amd64:v1.10.3`.

The kube-proxy is running as daemonset, created during `kubeadm init`. That means the kube-proxy image arch keeps consistent with your master node. Currently we don't have a multi-arch kube-proxy image yet. We have to explicitly

[2018-06-04 05:54] k82cn commented on #64667
@houz42 , if the customized extender/scheduler uses `gpu` info, it still need to update :) In default scheduler, it's handled by a general scalar resource; that may not enough for some case.

[2018-06-04 06:05] lovejoy commented on #54671
JUST FOR SOMEBODY WHO CARE ABOUT THE PostStartHook Event Message
"the msg is empty " have really already been fixed in https://github.com/kubernetes/kubernetes/pull/56959
It's in release 1.7.12 but it seems the release note didn't mention this

[2018-06-04 06:08] hzxuzhonghu opened #64677 "storage: duplicated conformance cases"
There are many duplicated conformance cases in both `test/e2e/common/projected.go` and `test/e2e/common/downwardapi_volume.go`

1. should provide container's cpu limit

1. should provide container's memory limit

1. should provide container's cpu request

1. should provide container's memory request

1. should provide node allocatable (cpu) as default cpu limit if the limit is not set

1. should p

[2018-06-04 06:08] hzxuzhonghu commented on #64677
/sig storage

[2018-06-04 06:21] IlyaSemenov commented on #44370
/remove-lifecycle stale

I believe the problem needs to be fixed ("" updated to nil automatically), or at least the error messages should more explanative.

https://github.com/kubernetes/kubernetes/issues/44370#issuecomment-366984826 still reflects the sum of the problem from user perspective, and https://github.com/kubernetes/kubernetes/issues/44370#issuecomment-367120100 the internals.

[2018-06-04 06:28] mbohlool commented on #64136
@liggitt The link to the comment on flaky watch tests are not working. If you have the related issue/pr link handy, can you please put it here?

[2018-06-04 06:34] matteosilv commented on #60703
/remove-lifecycle stale

[2018-06-04 06:52] nikhita commented on #60512
/remove-lifecycle stale

[2018-06-04 06:58] gmile commented on #31307
@yanhongwang @orinciog I'm yet to try this out, but I just figured its possible to provide certain containers with [`NET_BIND_SERVICE`](http://man7.org/linux/man-pages/man7/capabilities.7.html) linux capability, which should allow container to run on a privileged port.

Learned this from "[Deploy Træfik using a Deployment or DaemonSet](https://docs.traefik.io/user-guide/kubernetes/#deploy-trfik-us

[2018-06-04 07:10] AishSundar commented on #64620
test is passing now https://k8s-testgrid.appspot.com/sig-release-1.11-blocking#gke-1.11

[2018-06-04 07:10] #64620 closed

[2018-06-04 07:15] AishSundar commented on #64619
@rramkumar1 I see this in the [build log](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/2778?log#log)

 Error while deleting the ingress e2e-tests-ingress-q86mp/pre-shared-cert with class : ingresses.extensions "pre-shared-cert" not found

W0604 05:13:24.245] 2018/06/04 05:13:24 main.go:309: Something went wrong: encountered 2 errors: [e

[2018-06-04 07:18] AishSundar commented on #63030
@shyamjvs @wojtek-t I still see [the gce-scale-performance job](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gce-scale-performance) fail alternatively on either the Density or the Load test for 30 pods. Does [#62808](https://github.com/kubernetes/kubernetes/issues/62808) address the remaining issue?

[2018-06-04 07:33] Turkeh commented on #59376
I'm having this issue too when pulling images down from ec2. After some time the pod stands up without issue though.

[2018-06-04 07:41] wojtek-t commented on #63030
@shyamjvs - I looked into run 161, and that will be tricky.
We don't have logs from that particular moment in time, because of log-rotation.
Last log from the previous file:
[code]
First log from the next file:
[code]

However, I looked into the code and we obviously have one problem with the code itself - note that scaler retries only conficts;https://github.com/kubernetes/kubernetes/blob/master/

[2018-06-04 07:41] huangjiasingle commented on #58801
@fejta-bot  l can't find the reason of that. l add some log information to the source code of deploy controller, it's not happend ofen

[2018-06-04 07:46] CaoShuFeng commented on #64623
https://kubernetes.io/docs/concepts/workloads/controllers/daemonset/

[2018-06-04 07:47] #63235 closed

[2018-06-04 08:10] feiskyer commented on #51540
@PatrickLang Could you update the current status?

[2018-06-04 08:11] feiskyer commented on #50752
@karataliu Could you update the current status?

[2018-06-04 08:28] JoshuaAndrew opened #64685 "kube-scheduler does not dynamically load scheduler policies in configmap"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When trying to use the Scheduler Policy on a ConfigMap the **kube-scheduler** will not work after modifying the configmap online. kube-scheduler does not dynamically load values in configmap

**What you expected to happen**:

   kube-scheduler can dynamically load values in policy configmap.

**How to reproduce it (as min

[2018-06-04 08:28] JoshuaAndrew commented on #64685
/sig scheduling

[2018-06-04 08:54] hzxuzhonghu commented on #64685
`policy-configmap` is a deprecated flag. should stop using it.

[2018-06-04 08:57] tonyaw opened #64686 "pod of deployment can't be deleted during the eviction after node becomes "NotReady""
**Is this a BUG REPORT or FEATURE REQUEST?**:
kind bug

**What happened**:
When node is down(I stopped kubelet), kube-controller-manager tries to evict pods after 5mins of node becomes "NotReady".
During the eviction, kube-controller-manager tries to delete the pod. Because it is not a force deletion, the apiserver waits for confirmation from the kubelet. Because kubelet is gone, this deletion ope

[2018-06-04 09:05] JoshuaAndrew commented on #64685
@hzxuzhonghu   I  know that.   I should use --config

[code]
Even  if I switch to  --config param, kube-scheduler does not dynamically load scheduler policies in configmap too.

[2018-06-04 09:12] bboreham commented on #38890
/remove-lifecycle stale

[2018-06-04 09:39] nikhita commented on #64483
/area custom-resources

[2018-06-04 09:50] hzxuzhonghu commented on #64685
@JoshuaAndrew I do not see any document saying scheduler will dynamically load scheduler policies in configmap.

[2018-06-04 09:55] JoshuaAndrew commented on #64685
@hzxuzhonghu   you mean that it not a bug  ,but new feature ?

[2018-06-04 10:02] sttts commented on #64483
I like "schema" as well 👍🏼 It's certainly more than validation.

Just for reference: https://github.com/kubernetes/kubernetes/pull/63604

We support that already :)

[2018-06-04 10:18] jsafrane commented on #64522
In https://github.com/kubernetes/test-infra/pull/8199 I made pull-kubernetes-local-e2e-containerized to run also all test with `[ContainerizedKubelet]` string. I'm enabling some tests (subpath!) in https://github.com/kubernetes/kubernetes/pull/64687, feel free to suggest more tests.

[2018-06-04 10:19] chrissound opened #64689 "Kubernetes not terminating old pods in deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

It seems a deployment has gotten stuck. How can I diagnose this further?

    kubectl rollout status deployment/wordpress
    Waiting for rollout to finish: 2 out of 3 new replicas have been updated...

It's stuck on that for ages already. It is not terminating the two older pods:

    kubectl get pods
    NAME                         READY

[2018-06-04 10:32] juan-vg commented on #61170
Same behavior in v1.10.3

I agree with @egrimley: that info should be propagated to kubelet **including those on the slave nodes** when joining the cluster

On the other hand @AmedeeBulle, my hostname properly resolves to my public address, which is different from my host-network/service-network address. I don't believe that behavior is the expected. Not for me at least

[2018-06-04 10:47] chrissound commented on #58179
I0604 10:47:38.019536   24351 loader.go:357] Config loaded from file /home/chris/.kube/config
I0604 10:47:38.110420   24351 round_trippers.go:436] GET https://35.189.227.220/swagger-2.0.0.pb-v1 304 Not Modified in 86 milliseconds
I0604 10:47:38.186463   24351 decoder.go:224] decoding stream as YAML
I0604 10:47:38.210341   24351 round_trippers.go:436] POST https://35.189.227.220/apis/apps/v1beta2/n

[2018-06-04 10:49] chrissound commented on #64689
/sig deployment

[2018-06-04 10:50] chestack commented on #17088
my workaround:

1.  serviceA in namespaceA
2. create serviceB in namespaceB
[code]
3. add ingress rule into ingressB in namespaceB
[code]

[2018-06-04 10:51] chrissound commented on #64689
/sig i-give-up

[2018-06-04 10:59] robhaswell commented on #64668
In the same section as the updated documentation there is this example:

I don't know how you can point a service to another service while still observing the restriction "They cannot be the cluster IPs of other Kubernetes services either because the kube-proxy component doesn't support virtual IPs as destination yet."

If my understanding is correct and these are conflicting statements then at ve

[2018-06-04 11:44] toredash commented on #59418
/remove-lifecycle stale

[2018-06-04 11:48] cynepco3hahue opened #64691 "Kubectl does not update correctly a node hugepages state"
/kind bug

**What happened**:
Node information does not mirror current status of hugepages.

For example my node02 has:
[code]
but node describe shows
[code]

**What you expected to happen**:
I expect that node describe will show me that I have only 481Mi of hugepages allocatable

**How to reproduce it (as minimally and precisely as possible)**:
- create a pod with hugepages
- allocate this hugepa

[2018-06-04 12:02] sttts commented on #64136
@mbohlool agree about "split customresource_handler.go". I want to approach that after 1.11 is out. But this has not too much to do with versioning.

[2018-06-04 12:06] zioproto commented on #56795
I was looking exactly for this ! Is there any plan to actually implement this feature ?

[2018-06-04 12:06] jwcesign commented on #50748
I got the same problem.... /usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --pod-manifest-path=/etc/kubernetes/manifests --allow-privileged=true --network-plugin=cni --cni-conf-dir=/etc/cni/net.d --cni-bin-dir=/opt/cni/bin --cluster-dns=10.96.0.10 --cluster-domain=cluster.local --authorization-mode=Webhook --client-ca-file=/e

[2018-06-04 12:15] loveai88 opened #64694 "limitrange api can not work with decimal"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I want to set default memory limit in a namespace,and I use the api like this
`http://localhost:8080/api/v1/namespaces/default/limitranges`
with
[code]

However it return the value like this
[code]

the value of defaultRequest memory is not 0.6Gi.

I try some different value 0.3Gi,0.8Gi,1.1Gi,1.5Gi,only 0.5Gi and 1.5Gi w

[2018-06-04 12:47] zloo commented on #64137
Hi everyone,

We believe we're having the same issue. We were able to identify that every run of a cronjob with a mounted secret causes the OS to leak one more cgroup, as evidenced by `systemd-cgls -a | egrep "run-.*scope"`

This in turn causes huge CPU and memory load for kubelet, at least in part because we scrape the cAdvisor statistics, which include cpu and memory usage for every cgroup prese

[2018-06-04 12:55] islinwb commented on #64689
/sig apps

[2018-06-04 12:55] vikaschoudhary16 commented on #64137
/assign @vikaschoudhary16

[2018-06-04 12:57] ghorofamike commented on #64671
with your suggestion, this is what  `kubectl get node <name> -o yaml` results in

[code]
but my problem persists,
[code]

[2018-06-04 12:58] dims commented on #64137
cc @soltysh

Do we want to mark this to block v1.11 release?

[2018-06-04 13:00] houz42 commented on #64667
@k82cn yes, my extender would need to update, or it may return wrong priority score. But at least, pods requesting gpu would never been scheduled to a machine without gpu, cause these nodes would be filtered out before my extender been called.

[2018-06-04 13:12] liggitt commented on #64671
And you started your apiserver with `--kubelet-preferred-address-types=InternalIP` to prefer the internal IP over the hostname?

[2018-06-04 13:14] ghorofamike commented on #64671
with your suggestion, this is what  `kubectl get node <name> -o yaml` results in

[code]
but my problem persists,
[code]

[2018-06-04 13:20] luxas commented on #58010
/remove-lifecycle rotten

Now is a good time for someone to send a PR for this we can merge early in the v1.12 cycle

[2018-06-04 13:22] krzysied commented on #64030
As you can see above, I've created PR for etcd metrics. However, I think we should discuss about which metrics we really want to collect. Currently I've added support only for etcd_disk_backend_commit_duration_seconds, etcd_debugging_snap_save_total_duration_seconds, etcd_disk_wal_fsync_duration_seconds, peer_round_trip_time_seconds.

- Do we need all of those metrics?
- Is there any other metric

[2018-06-04 13:23] liggitt commented on #64333
I also had a hard time understanding if Istio cared about the pull policy of the container it injects, or if it was just trying to mimic the server-side defaulting behavior.
* If Istio does care and requires PullIfNotPresent, then yes, it cannot coexist with AlwaysPull.
* If it *doesn't* care, then this is a specific case of two components having opinions about different fields in the same part of

[2018-06-04 13:24] ghorofamike commented on #64671
I put the string  `KUBE_API_ARGS="--kubelet-preferred-address-types=InternalIP,InternalDNS,Hostname"`  in my  /etc/kubernetes/apiserver  , but its not reflected in the api pod commands which look like:

[code]
externalIP still has priority over internalDNS contrary to my config. Im i messing with the configuration?

[2018-06-04 13:39] luxas commented on #64234
Thanks for the ping. I don't have much time to debug this, but here are possible clues where to dig:
 - https://github.com/kubernetes/kubernetes/compare/v1.10.2...v1.10.3
   - Shows that something changed in kubelet wrt mount propagation (e.g. https://github.com/kubernetes/kubernetes/pull/62633)
   - Some of these changes use `sync/atomic` functions in the testing code, which is always a suspiciou

[2018-06-04 13:45] liggitt commented on #64671
I think kubeadm writes the options directly into the pod manifest. In any case, the InternalIP address type has priority over Hostname.

A few other questions, trying to understand your environment:
* Did you change your kubelet port to 10010? Typically that is 10250
* From the machine running the API server, what does `curl -vvv -k https://devks8hundredandtwentynine9jmte9uvi5:10250/healthz` retur

[2018-06-04 13:49] dims commented on #64691
/sig node

[2018-06-04 13:51] dims commented on #64694
/sig node

[2018-06-04 13:52] dims commented on #64686
/sig node

[2018-06-04 13:53] wojtek-t commented on #63486
/assign @MaciekPytel
/assign @DirectXMan12

[2018-06-04 13:55] dims commented on #64676
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 13:55] dims commented on #64676
/close

[2018-06-04 13:55] #64676 closed

[2018-06-04 13:56] ghorofamike commented on #64671
here

[code]
but your statement got me curious so,

[code]

10010 is used by containerd,  and its using the public interface.

[2018-06-04 13:56] dims commented on #64656
please reopen with pointer to whatever example / sample / doc that you are looking at.

/close

[2018-06-04 13:56] #64656 closed

[2018-06-04 13:59] dims commented on #64625
@gnufied let's please move this to https://github.com/kubernetes/kubeadm/issues/

/close

/sig cluster-lifecycle

[2018-06-04 13:59] #64625 closed

[2018-06-04 13:59] paulbsch commented on #64647
Hi @dixudx ..  Yes, that is what we are doing now.  But it's a bit of a hack.  That is why I opened this ticket looking for a multi-arch image.  Thanks!

[2018-06-04 13:59] dims commented on #64595
/sig node

[2018-06-04 14:00] dims commented on #64589
/close

[2018-06-04 14:00] #64589 closed

[2018-06-04 14:03] wojtek-t commented on #62064
Given that we hopefully debugged and fixed the regressions (at least we are in much better shape now) and the fact that there are no concrete action items here, I'm closing this one.

[2018-06-04 14:03] #62064 closed

[2018-06-04 14:05] dims commented on #64561
@abdennour thanks. Looks like we removed support for vagrant in 1.10, so closing this issue.

https://github.com/kubernetes/kubernetes/pull/58118

/close

[2018-06-04 14:05] #64561 closed

[2018-06-04 14:07] dims commented on #64552
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:07] dims commented on #64552
/close

[2018-06-04 14:07] #64552 closed

[2018-06-04 14:08] wojtek-t commented on #60097
This happened also recently:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/155

[2018-06-04 14:09] wojtek-t commented on #60120
How did you deploy those pods?
If those were simple pods (not part of a deployments, ReplicaSet or sth like that), they won't be recreated - that's a core design principle for pods - once attached to a node, they are not moved.

[2018-06-04 14:10] wojtek-t commented on #59175
/sig testing

[2018-06-04 14:11] wojtek-t commented on #59395
Closing due to lack of information for any debugging.

[2018-06-04 14:11] #59395 closed

[2018-06-04 14:14] #58521 closed

[2018-06-04 14:17] wojtek-t commented on #63030
@krzysied - can you please take a look into the two AIs from above ^^

[2018-06-04 14:17] dims commented on #64498
@wgliang it could be as simple as supporting double quotes `"` around the value like so

[code]

[2018-06-04 14:17] shyamjvs commented on #63030
I agree with Wojtek that it's an unrelated flake, which needs to be addressed by making our test framework more robust.
And for the part about log-rotation setup - it's also another thing we should try to improve.

 @krzysied - If you might be interested taking a look into it.

[2018-06-04 14:17] dims commented on #64498
/sig node

[2018-06-04 14:19] dims commented on #64430
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:19] dims commented on #64430
/close

[2018-06-04 14:19] #64430 closed

[2018-06-04 14:19] dims commented on #64284
@ericxnelson let's use the one @flx42 pointed out. please add any more feedback there.

/close

[2018-06-04 14:19] #64284 closed

[2018-06-04 14:20] dims commented on #64385
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:20] #64385 closed

[2018-06-04 14:23] shyamjvs commented on #63030
I'm going to wait for one more run to confirm we're not suffering from any other scalability issues. And it things look good, I'll bump down the priority and kick it out of release blockers.

[2018-06-04 14:24] dims commented on #64259
/sig aws

[2018-06-04 14:24] dims commented on #64254
/sig cli

[2018-06-04 14:25] dims commented on #64171
Please move this to https://github.com/kubernetes/kubeadm/issues/

/close

[2018-06-04 14:25] #64171 closed

[2018-06-04 14:28] dims commented on #64145
/sig testing

[2018-06-04 14:28] dims commented on #64133
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:28] #64133 closed

[2018-06-04 14:29] dims commented on #64131
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:29] #64131 closed

[2018-06-04 14:29] shyamjvs commented on #62064
Yes, we seem to be in a good shape now. FTR I'm pasting below perf-dash showing latencies are back to normal values:

![patch](https://user-images.githubusercontent.com/4333971/40923026-06e42066-6814-11e8-87ff-0748f048bba2.png)

We can reopen this if we find some issue later.
/close

[2018-06-04 14:30] dims commented on #64089
marking this as wont-fix per last comment from @liggitt

/close

[2018-06-04 14:30] #64089 closed

[2018-06-04 14:32] dims commented on #64073
/close

looks like original problem from @prafull01 was a local configuration error

[2018-06-04 14:32] #64073 closed

[2018-06-04 14:35] dims commented on #63916
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-04 14:35] #63916 closed

[2018-06-04 14:36] dims commented on #64010
/sig api-machinery

[2018-06-04 14:57] chrissound commented on #64689
Figured it out. It's because I set the replica count to high. It seems it terminate the old pods unless all the new pods (replicas) will be able to fit.

I don't think this behavior is desirable, surely it should just deploy as many new pods as it can?

[2018-06-04 15:28] ericxnelson commented on #52757
+1

Thanks!

[2018-06-04 15:30] dims commented on #63204
/status in-progress

( per @dashpole )

[2018-06-04 15:36] MikeSpreitzer opened #64698 "available_controller.go gets persistent errors after etcd servers run out of space and recover"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I filled up my etcd servers --- they got to their 2 GB limit of back-end storage.  I eventually realized what happened, and recovered by compacting, defragging, and turning off the alarms.  After that the kube api-servers mostly recovered.  But there remains some constant complaining.  Here is an example excerpt from an a

[2018-06-04 15:37] dims commented on #64698
/sig api-machinery

[2018-06-04 15:44] DeliangFan opened #64699 "Need to clear the sandbox if it fails to create"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:

Create a Pod, if ds.client.CreateContainer returns error(such as "runContainer: operation timeout: context deadline exceeded") during SyncPod, the network will not be setup while the sandbox remains success in docker. As a result, during the next SyncPod, the because the sandbox pod is created, the network will never be

[2018-06-04 15:56] gnufied opened #64701 "Start resize admission controller by default"
Since volume expansion is going beta in 1.11, we need to enable resize feature gate by default.

xref : https://github.com/kubernetes/kubernetes/issues/64295

/sig storage

cc @saad-ali

[2018-06-04 15:56] gnufied commented on #64701
/assign

[2018-06-04 16:08] DeliangFan commented on #64699
/sig network

[2018-06-04 16:11] gnufied commented on #64701
grr I forgot this was already fixed - https://github.com/kubernetes/kubernetes/pull/64288

[2018-06-04 16:11] #64701 closed

[2018-06-04 16:13] rramkumar1 commented on #64619
@AishSundar Can we first try increasing the timeout and see what happens? I suspect that maybe the timeout is causing some resource leaks but I'm not sure.

[2018-06-04 16:17] tutaidalal opened #64702 "Success to pull docker imge using docker pull command but still getting error in kubectl describe - rpc error: code = Unknown desc = Error response from daemon:"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-06-04 16:18] mtaufen commented on #43931
/remove-lifecycle rotten

[2018-06-04 16:19] tutaidalal commented on #64702
I have a private docker hub and from there I am able to pull docker image using docker pull command. But when I am using helm chart and starting the pod its showing the below error -

Events:
  Type     Reason                 Age                From                     Message
  ----     ------                 ----               ----                     -------
  Normal   Scheduled              1m

[2018-06-04 16:20] tutaidalal commented on #64702
Specially could not identify the meaning of - "rpc error: code = Unknown desc"

[2018-06-04 16:32] jiayingz commented on #64632
@ConnorDoyle We did implement the mechanism to use check point data to determine previously registered device plugin resource and keep the resource not ready till the expected device plugin re-register. It helps normal node reboot case but not for node upgrade/recreation case, because boot disk is recreated in the later case and the check point data is also gone.

[2018-06-04 16:38] mitchellmaler commented on #64623
@CaoShuFeng I guess a daemonset would work but I was looking more towards the job/cron-job api to have something scheduled from the kubernetes side. I guess I could create a container with a cronjob which is ran from a daemonset.

[2018-06-04 16:42] G-Harmon commented on #42885
/remove-lifecycle stale

[2018-06-04 16:58] codebreach commented on #56903
We are also facing this GKE and is making the everything unusable.
The CloudSQL proxy sidecar fails with i/o timeouts on DNS.

I have verified that I can access using ClusterIP but not using DNS.

Is there a workaround for GKE-Container OS users?

[2018-06-04 17:07] PatrickLang commented on #51540
/milestone 1.12

I don't think anyone is working on this for 1.11, moving to 1.12.

[2018-06-04 17:08] AishSundar commented on #63030
Thanks @shyamjvs and @wojtek-t for followup.

[2018-06-04 17:08] DeliangFan commented on #64699
Close this please

[2018-06-04 17:10] soltysh commented on #61474
On a recent systemd (`238-8.git0e0aa59.fc28`) on F28 the problem is back with latest [master](https://github.com/kubernetes/kubernetes/commit/1635393bd1cb21e82fbc899ce7fd6a997194abe2).

[2018-06-04 17:13] AishSundar commented on #64619
The only concern with increasing the timeout straight away is that the same job passes consistently on all other branches (master, 1.9, 1.10). So does this point to a legit 1.11 issue? Is this a global timeout we will be increasing for the job in all places?

@BenTheElder @krzyzacy thoughts on increasing the timeout as the first step?

[2018-06-04 17:16] jmontleon commented on #61474
It's a new bug. Similar workaround is possible.

https://bugzilla.redhat.com/show_bug.cgi?id=1584909

[2018-06-04 17:16] krzyzacy commented on #64619
sure

[2018-06-04 17:21] filbranden commented on #61474
Please see projectatomic/runc#10, which apparently hasn't been given attention yet...

But actually, I think you need to pull more from upstream runc into that repository (as that one commit seemed to be part of a larger overhaul there.)

Should we close this one again?

Cheers,
Filipe

[2018-06-04 17:22] rramkumar1 commented on #64619
FWIW, we aren't having any failures in our ingress-gce jobs:

https://k8s-testgrid.appspot.com/sig-network-ingress-gce-e2e#ingress-gce-e2e-release-1.1 (Ignore the failure to acquire project errors)

The release-1.1 job tests v1.1.1 of GLBC which is used in k8s 1.11. Note that this test in on GCE not GKE.

[2018-06-04 17:40] liggitt commented on #64671
ah, so apiserver->kubelet was fine, it was kubelet->cri that is the issue. check the `--container-runtime-endpoint` arg to the kubelet... I expect you'll see the public IP there

[2018-06-04 17:45] msau42 commented on #64578
@kevtaylor it looks like node alpha suite is having some other issues right now that are preventing the tests from being run.  So it's not clear right now if the fix helped or not.

[2018-06-04 17:50] TheKevJames commented on #63494
@mbohlool looks like the openapi fix has not changed anything on my side. Happy to post more logs if need be, but it looks like everything is still returning the same result.

[2018-06-04 17:57] yujuhong opened #64704 "Node e2e alpha test suite is broken"
https://k8s-testgrid.appspot.com/sig-node-kubelet#kubelet-alpha

Broken by https://github.com/kubernetes/kubernetes/pull/64154

[code]

/cc @msau42

[2018-06-04 18:00] honi commented on #56795
Can somebody please give some pointers on how / where this could be implemented? Thanks!

[2018-06-04 18:03] apelisse commented on #39144
@rijuchatterjee Some thoughts:
- You should **apply** your files next time rather than create: `kubectl apply -f service.yaml`
- You can recreate a new service and replace, etc ... (not recommended)
- You can `kubectl edit service test-service` and update the port, that should work (I just tested)

Possible improvements:
- why don't we have `--save-config` by default on `kubectl create` in the fir

[2018-06-04 18:03] #39144 closed

[2018-06-04 18:10] BenTheElder commented on #62382
@kubernetes/sig-apps-bugs PTAL

[2018-06-04 18:22] dims commented on #64704
/status approved-for-milestone

yes, we have to fix this quickly!

[2018-06-04 18:27] ghorofamike commented on #64671
Close, but not a public ip,  here is what i have:
[code]
What should these two become to make it work with the private inet interfaces?

[2018-06-04 18:32] sbezverk opened #64710 "pluginswatcher validation of returned driver endpoint"
During the registration process, CSI registration side car returns the endpoint of CSI driver. PluginsWatcher should validate passed the endpoint and fail the registration if the endpoint points to a non-existing path.
/kind bug
/sig storage

[2018-06-04 18:37] rrichards commented on #59376
I am seeing this same issue when using gcr.io (google container registry). What is interesting however is that doing a 'docker pull' works without issue every time.

[2018-06-04 18:38] liggitt commented on #64671
that looks right.

looks like the `--stream-addr` arg to cri-containerd might be the issue:

https://github.com/kelseyhightower/kubernetes-the-hard-way/issues/301#issuecomment-362058036

[2018-06-04 18:39] saad-ali commented on #64710
CC @jiayingz @vikaschoudhary16 @vishh @vladimirvivien @sbezverk @RenaudWasTaken

[2018-06-04 18:42] qmalexander commented on #60087
/close

[2018-06-04 18:42] #60087 closed

[2018-06-04 18:42] Random-Liu opened #64711 "Add e2e test for different kinds of `HostPathType`"
We added different kinds of host path type in https://github.com/kubernetes/kubernetes/pull/46597.

[code]

However, we don't seem to have e2e test coverage for most of them.
[code]

In https://github.com/kubernetes/kubernetes/pull/61460, we define that container runtime should return error if host path does not exist, and kubelet will make sure the host path exist. However, I'm not confident enou

[2018-06-04 18:44] nicksardo opened #64712 "GCE: Operation ratelimiting does not poll on an interval"
/kind bug

**What happened**:
When the service controller with the GCE cloudprovider creates resources, it polls GCP for the status of the operation. The polling interval was replaced with a token bucket ratelimiter; we actually need both an interval and ratelimiter.

As a result, API calls to GCP may burst unnecessarily.

**What you expected to happen**:
Operations should be polled on a set inter

[2018-06-04 18:45] miry commented on #36567
I had the same issue with kubectl 1.10. It seems related to buffer.

[2018-06-04 18:48] nicksardo commented on #64712
/sig gcp

[2018-06-04 18:52] bgrant0607 commented on #61142
@feellifexp The short answer is theoretically yes, in practice it would be hard. Almost nothing in pods is mutable currently.

See also #9043.

[2018-06-04 18:53] msau42 commented on #64711
I already opened a bug here:
https://github.com/kubernetes/kubernetes/issues/64522

[2018-06-04 18:53] vikaschoudhary16 commented on #64710
Not every watcher consumer will expect this additional endpoint to be non-empty. Validation should happen at CSI component, IMO. For example, for device plugins, empty endpoint is not an issue.

[2018-06-04 18:54] Random-Liu commented on #64711
@msau42 Cool, will link and close this one.

[2018-06-04 18:54] Random-Liu commented on #64522
Ref https://github.com/kubernetes/kubernetes/issues/64711#issue-329171077

[2018-06-04 18:54] #64711 closed

[2018-06-04 18:59] Lisaliubopeng commented on #48378
root:~/k8s# cat 04-config.sh
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config
sudo chmod 777 $HOME/.kube/config
export KUBECONFIG=/etc/kubernetes/kubelet.conf
export KUBECONFIG=/home/ubuntu/.kube/config
kubectl get nodes
root:~/k8s#

[2018-06-04 19:00] Lisaliubopeng commented on #48378
Config as the following lines, _$kubectl get nodes_ works:

_root:~/k8s# cat 04-config.sh
mkdir -p $HOME/.kube
sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
sudo chown $(id -u):$(id -g) $HOME/.kube/config
sudo chmod 777 $HOME/.kube/config
export KUBECONFIG=/etc/kubernetes/kubelet.conf
export KUBECONFIG=/home/ubuntu/.kube/config
kubectl get nodes
root:~/k8s#_

[2018-06-04 19:05] lavalamp commented on #55722
Semantic deep equal is a pretty specialized thingy, I'd be surprised if
something else were a good replacement.

On Sun, Jun 3, 2018 at 1:28 AM Ankush Sharma <notifications@github.com>
wrote:

[2018-06-04 19:06] lavalamp commented on #64496
Oh, I didn't dare hope that go's HTTP library would help us here. Happy to
look at a PR setting that!

On Sun, Jun 3, 2018 at 8:10 PM Zhonghu Xu <notifications@github.com> wrote:

[2018-06-04 19:07] ghorofamike commented on #64671
I just landed on the same issue.  but  with `cri-containerd-cni-1.1.0`    release,  i cant see the option since they merged

[code]
but as they merged things up  according to the readme on  containerd/cri github   "`cri-containerd is transitioning from a standalone binary that talks to containerd to a plugin within containerd`"   i looked in the plugin doc here `https://github.com/containerd/cri/b

[2018-06-04 19:11] bidyut1990 commented on #55170
@jonduttweiler - Thanks for the tip. I went ahead with Weavenet for the pod network as of now. If i switch back and face this issue with calico , then i ll try your advise.

[2018-06-04 19:17] lavalamp commented on #39144
I think we likely will change POST to store the user's intent rather than
change kubectl create.

On Mon, Jun 4, 2018 at 11:05 AM Antoine Pelisse <notifications@github.com>
wrote:

[2018-06-04 19:17] ghorofamike commented on #64671
ahh, scratch that, it gets a shell , that seems like it does not receive my commands whatsoever

[code]

[2018-06-04 19:33] pikrzysztof opened #64714 "Autocompletion fails on abbrieveated flags (i.e. works on `--namespace` fails on `-n`"
This works:
[code]

This doesn't:
[code]

Strangely, this works in both cases:
[code]

[code]

Didn't investigate other flags.

[2018-06-04 19:44] unclewizard opened #64715 "terminationGracePeriodSeconds is overloaded"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Currently, terminationGracePeriodSeconds is used for both normal termination and when a liveness probe fails. I have a service that serves long-running connections, and which uses a long termination period to allow those connections to drain during normal termination of services. However, this causes problems when the se

[2018-06-04 19:47] apelisse commented on #39144
Yes, right.

[2018-06-04 19:54] BenTheElder commented on #64619
from a [recent job](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/2785/?log#log):

[code]
That is a resource leak, not a timeout. Above in the log you can see the e2es pass and ginkgo exits cleanly then kubetest calls e2e-down.sh, which is erroring with the error pasted above.

[2018-06-04 19:59] #41600 closed

[2018-06-04 20:08] TheKevJames commented on #63494
Ah, I spoke too soon, got a bit different output from the `gcr.io/google_containers/kube-apiserver-amd64` container this time around:

[code]

[2018-06-04 20:17] seanknox opened #64716 "v1.10.3 kube-controller-manager crashes after Azure provisioning load balancer"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**:
- Created a service of type `LoadBalancer` on Azure.
- The service is created successful and a LoadBalancer with public IP is created on Azure.
- kube-controller-manager goes into a crashloop

[code]

**What you expected to happen**: LoadBalancer service receives public IP and is available for traffic

**How to

[2018-06-04 20:20] seanknox commented on #64716
/sig api-machinery
/sig azure

[2018-06-04 20:23] seanknox commented on #64716
Logs of the initial request to create the load balancer service:

[code]

[2018-06-04 20:27] vosmith commented on #60937
Hi @roycaihw , does this include upgrading to using the `enum` property in the specs?

For objects like the `io.k8s.api.core.v1.Container.ImagePullPolicy` the type is `string`, which could benefit from stricter definitions.  I just had a case where the `ImagePullPolicy` was set to `always` instead of `Always` which passed the yaml lint check, but failed to deploy.

[2018-06-04 20:29] seanknox commented on #64716
/remove-sig api-machinery

[2018-06-04 20:30] seanknox commented on #64716
fyi @jessfraz @khenidak

[2018-06-04 20:31] khenidak commented on #64716
@feiskyer FYI

[2018-06-04 20:32] seanknox commented on #64716
BTW, this is with an Availability Set.

[2018-06-04 20:35] heybuddy commented on #64715
/sig cluster-lifecycle

[2018-06-04 21:05] rramkumar1 commented on #64619
@BenTheElder  Just based on the snippet, it seems like disks are being leaked too? This might be a larger problem than just ingress if that is true.

[2018-06-04 21:18] vishiy opened #64720 "Node shutdown & deployment with replicas"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
We have a deployment with replicas: 1
We deploy it in a 3 agent node K8S cluster (k8s 1.8.13) and it gets deployed to a node (say agent node-0). When I shutdown node-0, the rs does not get rescheduled (its been more than an hour now).
I have checked that the selector labels are correct and we have plenty of capacity in the cluster (

[2018-06-04 21:19] danbeaulieu commented on #49792
We are prototyping moving a docker-based homegrown orchestration system over to k8s and this functionality is important. The existing orchestration relies on random port assignment done by docker to ensure that even though each of the thousands of containers are essentially identical they can be addressed individually via a host ip and unique port pair. We would similarly like to run each containe

[2018-06-04 21:20] seanknox commented on #64716
Update: my azure.json was missing:

`"securityGroupName": "${NETWORK_SECURITY_GROUP}",`

Once I added it LoadBalancer services work. Still, we shouldn't panic in the main loop on this.

[2018-06-04 21:24] khenidak commented on #64716
Thanks @seanknox. I think we can close this issue. Create another for handling errors in both the cloud provider and the controller.

[2018-06-04 21:30] mikedanese commented on #64632
Kubelet's device manager should recover gracefully from a deleted checkpoint. It should be able to identify which resources in the pod object are extended resources and it should remove them. Checkpoints can disappear for any number of reasons and kubelet needs to react appropriately.

cc @liggitt since this is fallout from #61877. Device manager was relying on node object deletion/recreation to f

[2018-06-04 21:33] vladimirvivien opened #64722 "CSI support for block volumes"
Add code to allow CSI to provide API support for external CSI drivers to support block volumes.

**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

[2018-06-04 21:37] BenTheElder commented on #64619
@rramkumar1 yeah that's my thought, but it almost definitely won't be fixed by bumping the timeout and I don't think infra changes will fix it, smells like a bug in k8s tests / up-down. @krzyzacy any ideas there?

[2018-06-04 21:46] ravisantoshgudimetla opened #64725 "Remove rescheduler once scheduling DS pods by default scheduler moves to beta."
/kind feature

Plan to remove rescheduler

For pods generated by DS controller, if we use default-scheduler for scheduling, since priority and preemption is going to beta in 1.11, we except the preemption to happen but as of now, the `scheduling DS pods by default scheduler` is still in alpha and we need to rely on rescheduler to make enough space for pods scheduled by DS controller. Once it moves

[2018-06-04 21:47] ravisantoshgudimetla commented on #64725
/sig scheduling
/assign @ravisantoshgudimetla

[2018-06-04 21:49] bgrant0607 commented on #39144
@lavalamp @apelisse The reasons that --save-config isn't on by default are:
1. It could cause confusing behavior if a user isn't expecting it
2. It had a noticeable impact on the scalability tests

[2018-06-04 21:56] lavalamp commented on #39144
I don't believe it's possible for the scalability tests to be affected much
by what kubectl does--most objects are made by controllers, not kubectl,
assuming kubectl is used at all for anything during the tests. We will have
to watch out for this for server side resources, though.

I'm much more worried about confusing users, if you have an example.

On Mon, Jun 4, 2018 at 2:50 PM Brian Grant <not

[2018-06-04 21:57] krzyzacy commented on #64619
I mean, we aborted in middle of kube-down, that's not a good state..

If the test indeed takes more time now I think bump timeout should help.

[2018-06-04 21:59] apelisse commented on #39144
The fact that `kubectl create` and `kubectl apply` do two different things is much more confusing to me (and based on this issue, I'm tempted to say I'm not alone).

[2018-06-04 22:11] #48648 closed

[2018-06-04 22:34] ahakanbaba opened #64730 "Provide a way to enable etcdv3 client logging."
/kind feature

Can we provide a way to enable etcd clientv3 logging at the apiserver side ?
The etcd.clientv3 interface is instantiated [here](https://github.com/ahakanbaba/kubernetes/blob/4f1489edf0675718bb4a5ac754677e2450215d17/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L44) and it does not set a Logger.

Without a logger object, etcd.clientv3 object discards the [l

[2018-06-04 22:38] ahakanbaba commented on #64730
@kubernetes/sig-instrumentation-feature-requests

/sig Instrumentation

Adding instrumentation SIG because the descriptions says

Covers best practices for cluster observability through metrics, logging, and events across all Kubernetes components

[2018-06-04 22:40] ahakanbaba commented on #64730
Since this is regarding the API server, maybe the API machinery SIG is also relevant. I do not know about the etiquette about adding multiple SIGs to an issue. Please add them is you think is appropriate.

[2018-06-04 23:14] bgrant0607 commented on #49239
We need to take this into account when we redesign the Endpoints API

[2018-06-04 23:29] misterikkit commented on #58222
The current plan is to do this in 1.12. Can someone update the milestone?

[2018-06-04 23:29] bgrant0607 commented on #41711
The ConfigMap API isn't the right place to express this.

This is covered by other issues, such as #24744. Apply does both creation and update, so they need to be handled the same.

PTAL
https://github.com/kubernetes-sigs/kustomize
https://github.com/kubernetes/community/blob/master/keps/sig-cli/0008-kustomize.md

[2018-06-04 23:35] resouer commented on #58222
Milestone already cleared

[2018-06-04 23:38] bgrant0607 commented on #25320
cc @kubernetes/sig-scheduling-proposals

[2018-06-04 23:47] bgrant0607 commented on #30558
PTAL:
https://github.com/kubernetes-sigs/kustomize
https://github.com/kubernetes/community/blob/master/keps/sig-cli/0008-kustomize.md

[2018-06-04 23:48] bgrant0607 commented on #22368
PTAL:
https://github.com/kubernetes-sigs/kustomize
https://github.com/kubernetes/community/blob/master/keps/sig-cli/0008-kustomize.md

[2018-06-04 23:57] wgliang commented on #64498
/cc

[2018-06-04 23:59] bgrant0607 commented on #5721
This is being covered by things like the Application API, workload-specific controllers, etc.

[2018-06-04 23:59] #5721 closed

[2018-06-05 00:09] bgrant0607 commented on #59151
Optional server-side validation is #5889

Coordination of exposure of new features with cluster upgrades is #4855

[2018-06-05 00:11] bgrant0607 commented on #13488
@kubernetes/sig-apps-feature-requests @kow3ns @janetkuo

[2018-06-05 00:16] bgrant0607 commented on #13488
@gjcarneiro Did you have a RESTART_xxx env var in the configuration you applied, or not? If not, then I'd expect apply to ignore the extra env var in the live state.

cc @apelisse

[2018-06-05 00:19] wgliang commented on #64714
/sig kubectl

[2018-06-05 00:19] dean-luka commented on #58486
Another option would be to add keep alive packets to kubectl so that connection doesn't die.
Sometimes we don't have control of haproxy, sometimes people in charge for haproxy would refuse to raise timeout, and sometimes it's not even good to raise timeout so much cause it will keep hanging connections longer.
Is it possible to send keep alive packets from kubectl and maybe even configure it insid

[2018-06-05 00:20] superbrothers commented on #62255
This issue was already fixed by https://github.com/kubernetes/kubernetes/pull/63914.

/close

[2018-06-05 00:20] #62255 closed

[2018-06-05 00:28] dims commented on #64730
@ahakanbaba this patch seems to work against master - http://paste.openstack.org/show/722687/ - want to play with it and propose a PR?

[2018-06-05 00:28] k82cn commented on #58222
/milestone v1.12

[2018-06-05 00:37] essamhassan commented on #64694
@loveai88 just to make sure I understood this correctly.

I can see `"defaultRequest":{"memory":"0.6Gi"},` failed to parse 0.6 to 600mi is that correct?

[2018-06-05 00:42] stewart-yu commented on #64716
/cc

[2018-06-05 00:48] fkorotkov commented on #60146
Since `gitRepo` can be a potential security vulnerability, having `remoteArchive` might be a good thing. Please don't close the issue! 😅

[2018-06-05 01:02] jennybuckley commented on #56761
/close
because #59073 merged.

[2018-06-05 01:02] #56761 closed

[2018-06-05 01:06] resouer commented on #64667
/assign

[2018-06-05 01:07] rramkumar1 commented on #64619
Looks like increasing the timeout worked?

See latest run: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-cos-k8sbeta-ingress/2788

[2018-06-05 01:07] k82cn commented on #25320
/assign

Let me go through current status of Taint/Toleration. Currently, `Unschedulable by Taints` is supported as an alpha feature, `TaintBasedEviction and TaintNodesByCondtion` are alpha; but no impact to Taint/Toleration graduation.

[2018-06-05 01:08] loveai88 commented on #64694
@essamhassan yes,`0.5Gi` can parse to `512Mi `,why `0.6Gi` not parse to `614Mi` ,and what is `644245094400m ` means?

[2018-06-05 01:09] #59177 closed

[2018-06-05 01:12] bgrant0607 commented on #25238
cc @apelisse re. apply behavior

[2018-06-05 01:18] k82cn commented on #64667
@houz42 , if my understanding is right, you expect http extender can reduce such kind of "compatibility" issue; but I think the issue is still here if you use `gpu` (or such kind of resource) in your customized scheduler/extender :) I'm not sure the complexity of your scheduler, and the effort changing from a customized scheduler to extender.

And a kindly reminder, we did not provide version cont

[2018-06-05 01:27] CaoShuFeng commented on #64623
:+1:

[2018-06-05 01:34] bgrant0607 commented on #25908
cc @kow3ns @janetkuo

[2018-06-05 01:40] bgrant0607 commented on #45717
Documentation:
https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/#taint-based-evictions

Could definitely be more clear. Not possible to find without knowing the name of the taint.

[2018-06-05 01:44] #60180 closed

[2018-06-05 01:44] #64120 closed

[2018-06-05 01:44] #63354 closed

[2018-06-05 01:50] liggitt commented on #64632
+1

Node API object deletion/recreation was only for the case where you have a completely different instance (and deletion was only done because the external ID was made immutable). Deletion/recreation in response to an upgrade or machine restart is a form of data loss (admin-added taints, labels, etc, are unrecoverable)

[2018-06-05 01:50] hzxuzhonghu commented on #64730
I can do that.

[2018-06-05 01:51] hzxuzhonghu commented on #64730
/assign

[2018-06-05 01:56] #64007 closed

[2018-06-05 02:02] bgrant0607 commented on #60930
I believe this is explained here:
https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#handling-pod-and-container-failures

cc @soltysh @janetkuo @kow3ns @erictune

[2018-06-05 02:05] #56934 closed

[2018-06-05 02:09] houz42 commented on #64667
@k82cn, you are right. I propose this request as extender is much smaller than a scheduler and easier to debug or upgrade. I am prefer to maintain a custom extender rather than a scheduler if I have to.

[2018-06-05 02:17] bgrant0607 commented on #28486
A straightforward solution would be to use finalizers on the pods to prevent deletion until the job was deleted, though that would obviously inhibit GC, which could be problematic for large jobs.

A refinement to that would be to create the pods with the finalizer and then remove the finalizer once the pod's completion has been accounted for. That would require a short dance:
1. Add the pod to a l

[2018-06-05 02:17] WanLinghao opened #64734 "API proposal for subject locator"
/kind feature
I noticed  that currently we lacks a way to locate subject, for example, a admin want to know who can perform pod deletion in namespace "default". Currently it may be a little difficult to achieve this , since the admin must get all the clusterrolebinding/clusterrole, rolebinding/rolebinding in namespace default and then traverse by some sort of hand-writing script.
I think we need s

[2018-06-05 02:17] WanLinghao commented on #64734
/sig auth

[2018-06-05 02:26] liggitt commented on #64734
This is the ResourceAccessReview API proposed in https://github.com/kubernetes/community/blob/master/contributors/design-proposals/auth/enhance-pluggable-policy.md#resourceaccessreview, but not yet implemented.

Implementing such an API on top of multiple authorizers, especially when those authorizers are combined with earlier authorizers denying preemptively, raises some interesting questions abo

[2018-06-05 02:27] wgliang commented on #64498
/assgin

[2018-06-05 02:27] liggitt commented on #64734
We would want this as a general authorization API, like subjectaccessreview, not an RBAC-specific API

[2018-06-05 02:27] wgliang commented on #64498
/assign

[2018-06-05 02:28] feiskyer commented on #64699
/close

[2018-06-05 02:28] #64699 closed

[2018-06-05 02:32] feiskyer commented on #50752
Still much work to do, move out of v1.11.

[2018-06-05 02:37] stewart-yu opened #64735 "[node-e2e]Help wanted"
**Is this a BUG REPORT or FEATURE REQUEST?**:
help wanted

Others

**What happened**:
When i run `node e2e` in container, and using docker installed in node.
But got lots of  error  like that:
[code]
docker run command like that:
[code]
`mount type of file` do not match, But running thoes case passed in node. Does i missing something to mount? or else?

**What you expected to happen**:
thoes case

[2018-06-05 02:37] stewart-yu commented on #64735
/sig testing

[2018-06-05 02:40] apelisse commented on #25238
Yeah, we intend to not re-default after creation (discussion to be finalized). My opinion (and it seems to be confirmed by this issue) is that people remove fields because they don't want to manage them, not because they want the default value (they should specify the default value if that's what they want). Obviously, elements of a map/list are different, and IMO, should be removed when the creat

[2018-06-05 02:56] k82cn commented on #64667
That makes sense to me, thanks :)

[2018-06-05 03:01] #42594 closed

[2018-06-05 03:02] bgrant0607 commented on #45539
@deads2k Are you working on this? If not, please unassign.

[2018-06-05 03:03] PiiTan opened #64736 "Missing etcd.yaml"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
On this page
https://kubernetes.io/docs/admin/high-availability/building/

The link to etcd.yaml returns 404
https://kubernetes.io/docs/admin/high-availability/etcd.yaml

**What you expected to happen**:
Sample etcd.yaml to be present

**How to reproduce it (as minimally and precisely as possible)**:
Open a browser and n

[2018-06-05 03:05] bgrant0607 commented on #27081
Dupe of #13488

[2018-06-05 03:16] jhorwit2 commented on #64736
/sig docs

[2018-06-05 03:29] AishSundar commented on #64619
@rramkumar1 yes indeed. Thanks all closing the issue.

[2018-06-05 03:29] #64619 closed

[2018-06-05 03:35] jhorwit2 commented on #64714
/sig cli

[2018-06-05 03:48] bgrant0607 commented on #64647
I don't know that mixed-ISA clusters are supported.

cc @kubernetes/sig-scheduling-feature-requests

[2018-06-05 04:15] cofyc commented on #64626
/assign

[2018-06-05 04:53] AishSundar commented on #64450
There was one more instance of this test failing 1.8 GCE Conformance tests.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-gce-conformance-stable-1-8/188

The expectation for the conformance suite is to be flake free. @soltysh, @pwittrock, @adohe, @luxas is there a fix being investigated or worked on? Thanks.

[2018-06-05 04:53] AishSundar commented on #64450
/cc
/cc @BenTheElder

[2018-06-05 04:58] wgliang commented on #64736
/assign

[2018-06-05 05:33] feiskyer commented on #64716
/assign

[2018-06-05 05:35] nikhita commented on #60810
/remove-lifecycle stale

[2018-06-05 05:51] feiskyer commented on #64716
Filed #64739 to fix this

[2018-06-05 05:52] #59717 closed

[2018-06-05 05:55] jiayingz commented on #64632
@ConnorDoyle how about during node registration reconciliation, we reconcile extended resources by setting their capacity to zero? That means any external controller that exports extended resources by directly patching node status capacity/allocatable needs to re-do that after any kubelet restart, which I guess is already what they are doing to handle node upgrade. The required change should be sm

[2018-06-05 06:02] JoshuaAndrew commented on #64685
@bsalamat  @k82cn  any ideas?

[2018-06-05 06:13] liggitt commented on #64632
what are the implications of doing that on every kubelet process restart? does available resource flutter impact already-running workloads on a node (does the kubelet evaluation of PodFitsResources evict running workloads? does any controller notice workloads running on a node are using resources the kubelet says it doesn't have, and evict them?)

[2018-06-05 06:13] ahakanbaba opened #64740 "Provide a way to enable etcdv3 client prometheus metics"
/kind feature

Can we provide a way to enable etcd clientv3 prometheus metrics at the apiserver side ?
The etcd.clientv3 interface is instantiated [here](https://github.com/ahakanbaba/kubernetes/blob/4f1489edf0675718bb4a5ac754677e2450215d17/staging/src/k8s.io/apiserver/pkg/storage/storagebackend/factory/etcd3.go#L44) and it does not enable metrics.

In example_metrics_test.go file in coreos/etcd,

[2018-06-05 06:13] ahakanbaba commented on #64740
@kubernetes/sig-instrumentation-feature-requests

[2018-06-05 06:17] ahakanbaba commented on #64740
This issue is quite similar to #64730

[2018-06-05 06:30] brancz commented on #64740
Yes, this is a good idea, in fact we just released a new version of the [grpc-go-prometheus](https://github.com/grpc-ecosystem/go-grpc-prometheus/releases/tag/v1.2.0) package required for this.

[2018-06-05 06:45] stealthybox commented on #54252
related:
- https://github.com/kubernetes/kubeadm/issues/282
- https://github.com/kubernetes/website/pull/4164/files

[2018-06-05 06:47] yue9944882 commented on #64694
`m` means the quantity is shown with the scale of `10^-3` for a minimum precision loss. So `644245094400m ` is the same as `644245094400 * 10^-3`. I agree that it looks weird THO, but current expression is not arithmetically wrong.

[2018-06-05 06:49] thockin commented on #23404
@Franselbaer What problems?  This whole "bug" seems to have been errant newlines.  Storing a multi-line string should be fine.

@zezuladp Your point is good - there are better ways than echo :)

[2018-06-05 06:53] loveai88 commented on #64694
so the 644245094400m use byte unit?

[2018-06-05 06:56] wgliang commented on #64740
/assign

[2018-06-05 06:57] wgliang commented on #64740
I can do it.

[2018-06-05 07:02] #56463 closed

[2018-06-05 07:11] wgliang commented on #64740
oh, maybe I should use the new features to implement, I will continue to modify it.

[2018-06-05 07:11] kargakis commented on #42534
This has been mostly fixed ever since we switched to use controller references.

/close

[2018-06-05 07:11] #42534 closed

[2018-06-05 07:14] krmayankk commented on #47992
/area dns

[2018-06-05 07:14] soltysh commented on #54870
See #62382.

[2018-06-05 07:15] krmayankk commented on #47992
/assign @krmayankk

[2018-06-05 07:15] soltysh commented on #62382
The fix is ready for review and will be cherry-picked for the next 1.10 release.

[2018-06-05 07:16] hzxuzhonghu opened #64742 "Should support auto sync etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-06-05 07:20] hzxuzhonghu commented on #64742
/sig api-machinery

[2018-06-05 07:20] hzxuzhonghu commented on #64742
/assign

[2018-06-05 07:28] m1093782566 commented on #60871
/close

[2018-06-05 07:28] #60871 closed

[2018-06-05 07:30] Random-Liu commented on #64522
@dixudx IIUC, the default host path type is `HostPathUnset`. And when host path type is `HostPathUnset`, we expect container runtime to create the host path if it doesn't exist (docker is doing that today).

Is that true? If it is, we should revert part of https://github.com/kubernetes/kubernetes/pull/61460

[2018-06-05 07:33] brancz commented on #64740
@wgliang are you referring to injecting the registry to use? Yes I would very much appreciate that, even if we (for now) inject the `prometheus.DefaultRegisterer`, that will allow us to modify that more easily in the future.

[2018-06-05 07:33] dixudx commented on #64522
@Random-Liu Correct. This is mainly for backwards compatibility.

[2018-06-05 07:34] Random-Liu commented on #64522
@dixudx I see. If so, I'll change CRI definition. :) Thanks

[2018-06-05 07:36] lrepolho commented on #50499
Maybe you're here because you made the same mistake as I did: My image was trying to execute an ENTRYPOINT in a file that didn't exist. I discovered that by executing: ```kubectl inspect pod <podname>```

[2018-06-05 07:39] dixudx commented on #64522
@Random-Liu SGTM. Refer to [my comments in #61460](https://github.com/kubernetes/kubernetes/pull/61460#discussion_r176016174).

[2018-06-05 07:43] pshizhsysu opened #64743 "kernel:unregister_netdevice: waiting for eth0 to become free. Usage count = 1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When deleting a pod in k8s cluster, it got stuck in state "Terminating" for long. The host pod located in kept printing error message as follows:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes

[2018-06-05 07:50] feiskyer opened #64744 "Standalone dockershim doesn't start"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When starting standalone dockershim, it always quit without any errors. This blocks CI for CRI tools.

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): master
- C

[2018-06-05 07:51] feiskyer commented on #64744
/sig node

[2018-06-05 08:07] soltysh commented on #64581
It looks like that was related to something else, since this hasn't happened since than.

[2018-06-05 08:07] #64581 closed

[2018-06-05 08:11] #56017 closed

[2018-06-05 08:34] rijuchatterjee commented on #39144
Thanks @apelisse that actually works. can you also help me in starting a postgres container? I am trying to deploy a postgres image from my registry to my cloud environment with kubernetes by using a yaml file. I need to know the command to start the postgres which needs to be mentioned in the yaml file.

[2018-06-05 08:39] soltysh commented on #64137
No, this is one of the reasons we need https://github.com/kubernetes/kubernetes/issues/17130 solved, so it's a known issue.

[2018-06-05 08:47] soltysh commented on #60930
That is correct, this is not a bug. The restart policy you're pointing to is about Pod, not a job itself. Have a look at https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy how to actually fail a job.

[2018-06-05 08:47] #60930 closed

[2018-06-05 08:49] soltysh commented on #28486
I was also thinking about some kind of observed generation, similarly to how deployments handle. But in the case of a job it might be working slightly different.

[2018-06-05 08:54] soltysh commented on #60712
@jberkus updated milestone.

[2018-06-05 09:01] Fedosin opened #64751 "Add cli support to "exec" auth plugin"
Now it's possible to configure third-party auth providers using `kubectl config set-credentials` command with `--auth-provider` option.

It's nice to have the same possibility for the recently added `exec` [plugin](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins).
Example: To specify the executable path we can run `kubectl config set-credentials

[2018-06-05 09:02] Fedosin commented on #64751
I'm going to start working on this when the API is promoted to beta.

[2018-06-05 09:16] #64704 closed

[2018-06-05 09:16] #57371 closed

[2018-06-05 09:24] JamesTGrant opened #64753 "Feature request. Trigger pod deletion if CPU resource threshold reached/exceeded"
Is this a BUG REPORT or FEATURE REQUEST?:

    Uncomment only one, leave it on its own line:

/kind feature

I have CPU requests and limits. I'd like another setting: kill off pod if definedd  CPU limit is reached. This way, if an application goes awry and hits the CPU limit K8s can terminate the pod.
I don't mind if this is instantaneous or the threshold must be reached for a period (in my applic

[2018-06-05 09:44] MasayaAoyama commented on #64649
@joe2far
Hello, I faced nearly problem.

Do you use etcd v2?
If we use etcd v2, we need "--storage-backend=etcd2" options.
But api-server logs don't notice to us.

[2018-06-05 09:48] mgdevstack opened #64754 "Issue on downloading OS dependent etcd binary if etcd soft link points to non-relevant pre-existing binary"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
During k8s cluster launch, `etcd-v${ETCD_VERSION}-*` is checked and if any etcd binary is found regardless of current OS Distribution, expected etcd binary is not downloaded and etcd soft link is not updated to point desired etcd binary, so cluster creation fails.

**What you expected to happen**:
Along with expected etcd

[2018-06-05 10:09] MaciekPytel commented on #60511
/remove-lifecycle stale

[2018-06-05 10:18] shyamjvs commented on #63030
@krzysied Btw, to add some context - we were seeing losses in the past during log-rotation and made some changes in our large-cluster test setup to help with it.
See https://github.com/kubernetes/kubernetes/issues/49941 for ref. You might find some clues there.

[2018-06-05 10:20] wklken commented on #48219
@dixudx I wonder the #63910 is the same problem as this issue report.
the numberic temporary file created by vim will case the `not restart`?  If the content of the temporary file is not the same as the source file, kubelet will just complain and do nothing.

[2018-06-05 10:21] shyamjvs commented on #63030
Maybe experiment by setting `LOGROTATE_MAX_SIZE` quite high that rotation never takes place? (I don't know what the consequences of this will be though)

[2018-06-05 10:46] kevtaylor commented on #64578
@msau42 it failed again. I did a comparison of a locally running one and the alpha suite. In the log file https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-alpha/2084 there are these references
[code]

But in the locally running tests I don't see that step
[code]

This running
[code]
[code]

[2018-06-05 10:48] wojtek-t commented on #63030
No - we've been there already. You're ending up with files of a size that you can't easily open anywhere :)

BTW - the first point (fixing retries) is significantly more important than fixing log rotation.

[2018-06-05 11:02] shyamjvs commented on #63030
Sgtm - let's neglect the log-rotation for now (I think it's a hard problem in general from stories @crassirostris used to tell me:)

/assign @krzysied

[2018-06-05 11:02] rfranzke opened #64759 "Azure Resource Manager limits hit when creating LB services with 1.10.3"
/kind bug
/sig azure

**What happened**:
I have upgraded a small 15 node cluster from version 1.9.7 to 1.10.3 that runs ~50 pods and 4 services of type `LoadBalancer`. The upgrade went smooth. When creating a new service of type `LoadBalancer` then the new LB is pending and is not getting created because the ARM limits are hit:
[code]
The are other applications which do calls with the same user to

[2018-06-05 11:04] alonbl commented on #49817
Hi,
Anyone knows if there is a standalone KMS plugin for HashiCorp Vault?
I see there is for GCP and Azure, but I cannot find vault.
Thanks!

[2018-06-05 11:06] jonduttweiler commented on #55170
@bidyut1990  When something crashes, your best friends are the logs.

[2018-06-05 11:11] wojtek-t commented on #63030
Given that the last run also succeeded (well, test-infra part failed to update build log, but test passed), I'm removing it from release blockers list.

[2018-06-05 11:12] wojtek-t commented on #63030
Actually, it's not marked as release blocker...

[2018-06-05 11:18] shyamjvs commented on #63030
I've removed all the milestone related labels (as it's not really relevant for the remainder of this issue imo).

@kubernetes/test-infra-maintainers - Could someone explain what went wrong with this run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/162 ? (I see not all artifacts are present)

[2018-06-05 11:34] wojtek-t opened #64760 "Missing logs when log rotation happens"
In scalability tests, we are loosing even up to 1 minute of logs when log rotation is triggered.
We should try to avoid loosing logs at all if possible.

An example of that is described in:
https://github.com/kubernetes/kubernetes/issues/63030#issuecomment-394262786

@kubernetes/sig-scalability-bugs @kubernetes/sig-instrumentation-bugs
@shyamjvs @krzysied

[2018-06-05 11:35] wojtek-t commented on #63030
I filed https://github.com/kubernetes/kubernetes/issues/64760 for the logrotation thing.
Let's fix the retries and close this bug when that is fixed.

[2018-06-05 11:51] kedizhou opened #64762 "kubernet 1.10 kubeadm tools usage promber"
i use kubenetes 1.10 biray package,when i use （cause i thought specify image mirror address）:
kubeadm init --config init.yaml
block on stage with "init ........",my question is:
1.this stage is downing images?
2.kubeadm init kit will auto boot/start docker  kubenetns manage images?

[2018-06-05 11:51] kedizhou opened #64763 "kubernet 1.10 kubeadm tools usage promber"
i use kubenetes 1.10 binary package,when i use （cause i thought specify image mirror address）:
kubeadm init --config init.yaml
block on stage with
"""
[init] This might take a minute or longer if the control plane images have to be pulled.
[kubelet-check] It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10255/healthz' failed wit

[2018-06-05 11:54] dims commented on #49817
@alonbl looks like @kksriram has an implementation here - https://github.com/oracle/kubernetes/pull/4

[2018-06-05 12:10] StephenSorriaux commented on #61062
Encountered same problem today with the following environment:

Environment:

Kubernetes version (use kubectl version): 1.9.6
Cloud provider or hardware configuration: cloud AWS
OS (e.g. from /etc/os-release): CentOS Linux release 7.2.1511 (Core)
Kernel (e.g. uname -a): 3.10.0-693.17.1.el7.x86_64
Install tools: custom using ansible

[2018-06-05 12:11] #64716 closed

[2018-06-05 12:12] alonbl commented on #49817
@dims it looks like this is not a standalone module, but the old implementation of merging into k8s codebase.

[2018-06-05 12:18] ghuntley commented on #35054
Popping into here to chime in with the same feedback as the op. The CLI args are underdocumented. Thank-you @xmik for linking to https://kubernetes.io/docs/reference/kubectl/cheatsheet/#kubectl-output-verbosity-and-debugging. I'm not yet in a position where would be comfortable raising a PR for this but this totes needs to happen.

[2018-06-05 12:31] sbezverk commented on #64637
@vikaschoudhary16 how pluginswatcher informs in-tree part of driver that the socket is gone and the driver needs to be de-registered?

[2018-06-05 12:45] dims commented on #64751
/sig auth

[2018-06-05 12:46] dims commented on #64763
duplicate of https://github.com/kubernetes/kubernetes/issues/64762

/close

[2018-06-05 12:46] #64763 closed

[2018-06-05 12:47] dims commented on #64762
Can you please request this in the kubeadm repo? https://github.com/kubernetes/kubeadm/issues/

/close

[2018-06-05 12:47] #64762 closed

[2018-06-05 12:49] dims commented on #64754
@mgdevstack do you have a patch that you are working on? we don't really support local-up-cluster on macos yet.

/sig testing

[2018-06-05 12:49] dims commented on #64753
/sig node

[2018-06-05 12:49] dims commented on #64743
/sig network

[2018-06-05 12:50] robinwu0411 opened #64764 "Deployment on Google cloud kubernetes"
I'm trying to create a deployment on kubernetes cluster on google cloud via bitbucket pipelines. I have docker-compose file and use kompose to convert it to the format which can be run on kubernetes...and i'm trying to create it locally and send it to kubernetes cluster using TCP connection.....but I always got this error:
FATA Error while deploying application: Get http://localhost:8080/XXX: dial

[2018-06-05 12:50] dims commented on #64702
/sig node

is there any clue in the docker daemon logs?

[2018-06-05 12:50] dims commented on #64722
/sig storage

[2018-06-05 12:56] bclau opened #64765 "tests: Secrets related tests fail to create running pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig testing

**What happened**:

The following tests fail to pass:

    Secrets should be consumable from pods in volume with mappings [NodeConformance] [Conformance]
    Projected should be consumable from pods in volume with mappings [NodeConformance] [Conformance]
    Secrets should be consumable from pods in volume with mappings and Ite

[2018-06-05 13:05] #64583 closed

[2018-06-05 13:16] #49804 closed

[2018-06-05 13:18] liggitt commented on #64765
/sig storage

[2018-06-05 13:35] k82cn commented on #64647
The requirement is: only use "gcr.io/google_containers/kube-proxy" in DaemonSet yaml file, and the kubelet will download the correct image according to the ARCH info. It's more about image registry's feature; and it seems some registries had supported that: https://github.com/estesp/manifest-tool#known-supporting-registries .

[2018-06-05 13:39] msau42 commented on #64765
@kubernetes/sig-storage-bugs

[2018-06-05 13:44] zloo commented on #64137
@soltysh I think that the dangling cgroups might be a separate issue, and #17130 and the cgroups issue both contribute to high cpu load and memory consumption.

[2018-06-05 13:56] dixudx commented on #64647
@k82cn Yeah, gcr.io has already supported multi-arch. But actually all the images now are architecture specific, like `hyperkube-amd64` and `hyperkube-ppc64le`. We've not built any multi-arch images right now.

[2018-06-05 13:57] krzysied commented on #63030
@wojtek-t I've created PR with retries fix.

[2018-06-05 14:00] krzysied commented on #64760
I've investigated logs problem. I think it's because of logrotate copytruncate option which according to documentation can cause some data loss during log rotation.
I don't think this problem can be fixed by only changing logrotate configuration. Either we keep original log file and copy data to different one, or we have to create new one and somehow redirect apiserver logs to it.

[2018-06-05 14:07] lanxenet commented on #45419
+1
Kubernetes: 1.10.2
Docker: 1.12.6
OS: centos 7.4
Kernel: 3.10.0-693.el7.x86_64
CNI: calico

[2018-06-05 14:23] soltysh commented on #64137
I agree with @zloo I spoke about the shared informers that I aware of.

[2018-06-05 14:27] jgrobbel opened #64771 "Scheduling daemonset on busy cluster doesn't rebalance pods"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have busy 4 node clusters which we deploy to many times a day. Of interest is that we run 3  Daemonsets which are infrequently updated. However when they are updated and redeployed I often see that the scheduler has filled the node with other pods, such that now the daemonset pod won't fit on this particular node. I h

[2018-06-05 14:43] jgrobbel commented on #64771
/sig scheduling

[2018-06-05 15:18] ericchiang commented on #64751
/assign @Fedosin

[2018-06-05 15:21] fturib opened #64774 "New e2e testsuites for DNS scale fail to setup the cluster"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

For these 2 test suites visible in the testgrid at network-gce :
http://k8s-testgrid.appspot.com/sig-network-gce#gce-coredns-performance
http://k8s-testgrid.appspot.com/sig-network-gce#gce-kubedns-performance

the testsuite cannot setup correctly the cluster, due to a firewall issue (I think)
See part of the build log below:

[code

[2018-06-05 15:22] apelisse commented on #39144
@rijuchatterjee You should ask your question on #kubernetes-users on slack, or on the kubernetes-users@googlegroups.com mailing list. I'm sure there is also plenty of resources online.

[2018-06-05 15:29] kksriram commented on #49817
@alonbi
We expect to release a standalone version in a couple of weeks

[2018-06-05 15:36] fturib commented on #64774
@chrisohaver : I finally create this issue to get help.

@shyamjvs , @wojtek-t : any idea on why the firewall rules cannot be set ?
Could you indicate how to investigate this issue ?
Thanks..

[2018-06-05 15:36] fturib commented on #64774
/sig network
/sig scalability

[2018-06-05 15:40] abushoeb commented on #44540
Hey, I'm using k8 1.7 and running hepaster. When I run $ kubectl top nodes --heapster-namespace=kube-system, it shows me "error: metrics not available yet". Any clue for tackling the error?

[2018-06-05 15:42] abushoeb commented on #17512
@xmik Hey, I'm using k8 1.7 and running hepaster. When I run $ kubectl top nodes --heapster-namespace=kube-system, it shows me "error: metrics not available yet". Any clue for tackling the error?

[2018-06-05 15:46] alonbl commented on #49817
@kksriram thanks! if possible please paste here the URL of the repo :)

[2018-06-05 16:00] xmik commented on #17512
@abushoeb:
1. I don't think `kubectl top` supports flag: `--heapster-namespace`.
2. If you see "error: metrics not available yet", then you should check heapster deployment. What its logs say? Is the heapster service ok, endpoints are not `<none>`? Check the latter with a command like: `kubectl -n kube-system describe svc/heapster`

[2018-06-05 16:04] Deccoy opened #64776 "Kubelet does not start on Linux Kernel without SWAP Support"
**Is this a BUG REPORT or FEATURE REQUEST?**

/kind bug

**What happened:**

The following check at the startup of kubelet always fails if the Linux kernel is compiled without swap support (-> /proc/swaps does not exist).

(https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/container_manager_linux.go)
[code]
The following code change may be possible here:

[code]

[2018-06-05 16:06] Deccoy commented on #64776
/sig cli

[2018-06-05 16:07] shyamjvs commented on #64774
I think it's because the name is too long. There's a limit of 64 chars or sth for resource names on GCP. Try changing the --cluster arg to `gce-coredns-perf` or sth.

[2018-06-05 16:12] PatrickLang commented on #62047
Thanks for getting the PR merged! Is anything else needed for this issue?

[2018-06-05 16:15] kargakis commented on #38761
/remove-lifecycle rotten

[2018-06-05 16:27] joejulian commented on #64649
Nope, etcd 3.2.13 per https://github.com/kubernetes/kubernetes/pull/57480

[2018-06-05 16:29] aveshagarwal commented on #64771
@jgrobbel priority and preemption feature in 1.11 and "scheduler DS pods by default scheduler" (https://github.com/kubernetes/kubernetes/pull/63223) should address this once DS pods are created with a high priority.

[2018-06-05 16:35] fturib commented on #64774
@chrisohaver proposed a fix here : https://github.com/kubernetes/test-infra/pull/8127
it is now merge. Need to verify the next run of these testsuites
within 0 to 6 hours from now.

@shyamjvs : Thanks for your advise !

[2018-06-05 16:37] awly commented on #61796
Looks like this can be closed now @ericchiang ?

[2018-06-05 16:41] msau42 commented on #64578
/reopen

[2018-06-05 16:54] aveshagarwal opened #64779 "Pod stuck into terminating and kubectl delete does not return"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. Create a deployment
[code]
2. deployment works fine and the pod is creating correctly as shown here:

[code]
3. Edit the deployment with an non-existence (erroneous) volume as follows:
[code]
add following (non-existent and erroneous volume) to the pod spec:

[code]
add following to the container spec:

[code]

4. Noti

[2018-06-05 16:54] aveshagarwal commented on #64779
/sig storage
/sig node
/sig cli
/sig apps

[2018-06-05 16:58] aveshagarwal commented on #64779
Please note the flag keep-terminated-pod-volumes is set to false in kubelet.

[2018-06-05 17:11] mkumatag commented on #64647
I have pending PR in releases project for creating manifest for those - https://github.com/kubernetes/release/pull/516

[2018-06-05 17:13] mpashka commented on #59112
/remove-lifecycle stale

[2018-06-05 17:20] #53073 closed

[2018-06-05 17:20] ericchiang commented on #61796
@awly yep. Thanks for everyone's help through this release!

/close

[2018-06-05 17:20] #61796 closed

[2018-06-05 17:20] ericchiang commented on #61796
(I'll be opening a docs RP in a bit for all the features that made it into 1.11)

[2018-06-05 17:22] krzyzacy commented on #63030
@shyamjvs last line of the log:
[code]

I think that gcloud cp call did not finish. Again I saw logexporter failed on >1k nodes, is this normal? We probably should retry?

[2018-06-05 17:23] jiayingz commented on #64632
For extended resources exported through device plugin, kubelet device manager will handle their restarts, currently based on checkpoint data and in the future, we will explore whether we may store this information in some form of API. If the checkpoint data is gone, pods will fail kubelet admission handling and the pod's controller should recreate a new pod.

For extended resources exported by an

[2018-06-05 17:24] jgrobbel commented on #64771
@aveshagarwal
Thanks for the link. I didn't realise DS pods weren't being scheduled by the same thing as other pods (default scheduler).

Though I am a bit curious about the design here. It seems to suggest daemonsets are best effort, and if you really want to ensure they run on all nodes you will need to raise their priority. In my case the daemonsets typically monitor the application (like Datad

[2018-06-05 17:27] jingxu97 commented on #39657
Hi @npu21, currently we are working on moving snapshot API in-tree. After this is approved, I will let you know so you can help us on supporting Ceph RBD snapshot feature. Thanks a lot!

[2018-06-05 17:31] ncdc commented on #39657
@jingxu97 has there been any talk about storage providers that potentially may want or need to ship snapshots outside of the storage cluster (e.g. ceph, portworx, dotmesh), and how that would be configured if the snapshot API types move in-tree?

[2018-06-05 17:33] aveshagarwal commented on #64771
Then I'd say its a different problem where cluster is not balanced as desired. For issues like this, you could look into something like https://github.com/kubernetes-incubator/descheduler .

[2018-06-05 17:37] davidz627 opened #64781 "Refactor volume.Attacher interface so that MountDevice is no longer coupled with Attach"
Currently MountDevice and Attach are part of the same interface volume.Attacher. This means that any plugin implementing Attach MUST also implement MountDevice and vice versa.

In practice this is not a strict requirement, there are use cases where you may want one or the other alone. Ideally you should be able to implement MountDevice without an Attach. Looking forward, these interfaces are also

[2018-06-05 17:44] jingxu97 commented on #39657
Hi @ncdc, do you mean how provider can migrate the snapshots from one place to others? Currently users have to manually move the snapshots and then they can create volume from the snapshots with the snapshot and PVC/PV API. Please let me know if you have other thoughts about it. Thanks!

[2018-06-05 17:44] msau42 commented on #64781
Is this related? https://github.com/kubernetes/community/pull/1683

[2018-06-05 17:45] abushoeb commented on #17512
@xmik you are right, the heapster wasn't configured properly. Thanks a lot. It's working now. Do you know if there is a way to get real-time GPU usage information? This top command only gives CPU and Memory usage.

[2018-06-05 17:50] RenaudWasTaken commented on #64632
Having an external controller watching the nodes status update to repatch the nodes sounds like a bad "user" experience.

maybe looking at it from a user's perspective and then figuring out what we'll do is a better way to look at this?

The behavior I'd expect to see is the following:
- For non device plugin extended resources
   - A user patches the node status with the extended resource
   - If

[2018-06-05 17:51] ncdc commented on #39657
@jingxu97 that's not exactly what I meant. If you look at AWS EBS volumes, for example, when you use the AWS API to create a snapshot of an EBS volume, the snapshot is placed in s3 in the same region as the EBS volume itself. For example, if the EBS volume is in us-east-1a, its snapshot is placed in s3 in the us-east-1 region.

Storage providers such as Ceph, Portworx, and Dotmesh are in-cluster s

[2018-06-05 18:09] abushoeb commented on #44540
@xmik thanks for the help. Is there a way to get GPU usage information?

[2018-06-05 18:16] jingxu97 commented on #39657
@ncdc thanks for the detailed explanation. We do have some discussion around it and we need to take portability into consideration. For the first version of snapshot API, we might try to incorporate this local/remote information. We will definitely discuss this in the detailed API design.

[2018-06-05 18:20] mgdevstack commented on #64754
@dims, #64782 is fixing this issue. Though I use Mac as my workstation but sometimes need local-cluster to test codebase so I mapped (softlinked) my GOPATH in virtual machine keeping separate bin directory. Everything is running perfectly fine after making changes mentioned in this PR.

So thought to submit small optimization on etcd installation logic.

[2018-06-05 18:23] xmik commented on #17512
I don't know that.  :(

[2018-06-05 18:23] jiayingz commented on #64632
I think in 1.12 time frame, we should start to scope the work on improving extended resource life cycle. Right now, as we are approaching 1.11 code freeze timeline, I am trying to figure out a solution that is least surprise to any existing workloads.

Till 1.11, if there is indeed a real use case where an external component directly patches node status capacity to export a resource, the solution

[2018-06-05 18:35] #64093 closed

[2018-06-05 18:36] dims commented on #64776
/sig node

[2018-06-05 18:37] jfrederickson opened #64783 "kubectl pkcs11 smartcard support"
IMO, it would be nice if kubectl was able to take advantage of x509 client certificates stored on an attached smartcard. When using client certs for user authentication, this keeps the private key (in theory) safe from exfiltration in the event of e.g. malicious browser extensions. For a client cert that potentially has admin access to a k8s cluster, this is very desirable.

This may be a long-ter

[2018-06-05 18:38] jfrederickson commented on #64783
/sig cli

[2018-06-05 19:04] abushoeb commented on #60742
I can access http://hostip:4194/metrics but I don't see any metrics with `container_accelerator` though I have GPU machines in the cluster. Could someone please tell me how to get GPU usage?

[2018-06-05 19:32] vishh commented on #64632
+1 for considering reverting #61877 for v1.11 timeframe. What would be the side-effect of that @liggitt @mikedanese ?

Ownership of fields in the Node object has been a long standing issue. For example node labels suffered from the same issue.
I do agree that kubelet has to be resilient and has to recover from control plane data loss with minimal impact on running applications.

Having to expose a

[2018-06-05 19:51] dims commented on #64764
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2018-06-05 19:51] #64764 closed

[2018-06-05 19:53] liggitt commented on #64632
it would delay removal of the self-deletion permission for yet another release (already pushed to 1.12 because of version-skew), meaning node taints would not be usable for isolating compromised nodes until at least 1.14 (because the associated kubelet could simply delete/re-register their Node object).

according to https://github.com/kubernetes/kubernetes/issues/63505#issuecomment-388217003, eve

[2018-06-05 20:03] soltysh opened #64787 "Do not use NumReques in job controller to count backoff"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently our job controller is using `NumRequeues` on a queue to figure out how many times an object has been requeued which means how many retries were processed against that object. This is ok in the simple use case, but not in job controller where requeues happen because of a failed status update or a few other cases

[2018-06-05 20:06] wojtek-t commented on #64760
I don't think anyone has ever said so.

[2018-06-05 20:14] davidz627 commented on #64781
Ah I was unaware of this, it looks like a design that addresses this exact issue. Will see if we can get the work restarted on this after codefreeze

[2018-06-05 20:30] john-delivuk commented on #56430
After enabling the `--enable-aggregator-routing=true` flag I still continue to continue to see the same behavior. I also notice that this seems to be prevalent when we scale, our prod infrastructure which is much larger suffers, but I don't notice any issues in our dev, and testing environments.

[2018-06-05 20:32] jiashenC commented on #61277
I have a same issue on AWS server, and it turns out my EC2 instance blocks the incoming traffic. I resolved the issue by opening more accesses for Inbound rules.

[2018-06-05 20:33] saad-ali opened #64788 "ConfigMap/Secret Volume can become orphaned at termination if a required configmap/secret never exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Reported by @cduchesne

When you deploy a pod with a non-existent ConfigMap or Secret, and then terminate it before it ever starts up, it will leave an unclean configmap/secret volume path on host fileystem. This will result in "orphaned pod" errors for said pod until kubelet is restarted or configmap/secret directories a

[2018-06-05 20:37] lavalamp commented on #56430
How many replicas of the metrics apiserver are you running? Maybe it just
can't keep up with the load? If we can reproduce this with sample
apiserver, that might be good--we could then fix & verify via test that an
aggregated apiserver that's struggling shouldn't interfere with the rest of
the control plane.

On Tue, Jun 5, 2018 at 1:32 PM John Delivuk <notifications@github.com>
wrote:

[2018-06-05 20:40] #63317 closed

[2018-06-05 20:43] mikedanese commented on #64632
The feature that would be slipping is https://github.com/kubernetes/community/pull/911 which is particularly critical for @kubernetes/sig-cluster-lifecycle-feature-requests and @kubernetes/sig-auth-feature-requests because it's required to run a cluster with dedicated nodes securely. We would be slipping another release on something that is already painfully slow due to backward compatibility cons

[2018-06-05 20:50] gnufied commented on #64788
This is related to https://github.com/kubernetes/kubernetes/issues/64779 I am looking into it.

/assign

[2018-06-05 20:55] ConnorDoyle commented on #64632
The node feature discovery project only deals with node labels, and not extended resources. NFD fairly recently added the ability to run as a daemon, but also retained the option to publish labels once and exit.

[2018-06-05 20:59] jiayingz commented on #64632
So far, it sounds https://github.com/kubernetes/kubernetes/pull/64784 is perhaps the most realistic solution for 1.11 time frame.

Although we want to support good user experience, I do feel we need to balance the complexity we need to add into the system v.s. the use cases we want to optimize for. I feel the ask for the external component to repatch node status capacity after kubelet restart seem

[2018-06-05 21:18] glb commented on #63629
Update: did an install following [Kubernetes The Hard Way](https://github.com/kelseyhightower/kubernetes-the-hard-way) but using the built binaries from my build, but they didn't seem to do anything particularly different.

Next step will be to attempt to work through the various components that are involved a bit more systematically and see whether I can figure out what I missed.

[2018-06-05 21:26] #64765 closed

[2018-06-05 21:31] #64578 closed

[2018-06-05 21:47] AishSundar opened #64789 "[Failing Tests] All GKE related jobs are failing in release-master-blocking, upgrade, 1.11 release-blocking jobs"
## Failing Jobs
* [gci-gke](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke)
* [gci-gke-slow](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-slow)
* [gci-gke-reboot](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gke-reboot)
* [gke-gci-master-gci-1.10-downgrade-cluster-parallel](https://k8s-testgrid.appspot.com/sig-release-master-upgrade

[2018-06-05 21:51] saad-ali commented on #64789
Common error appears to be:

[code]

[2018-06-05 21:51] hh opened #64790 "Set user-agent per test in e2e framework"
In order to identify which e2e test is hitting a specific API endpoint

Given an e2e test using [e2e/framework/utils](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/framework/util.go#L2019-L2034)
When the user agent is set via [client-go config](https://github.com/kubernetes/client-go/blob/master/rest/config.go#L86-L87)
Then we will be able to [log which e2e test called a specific A

[2018-06-05 21:59] hh opened #64791 "Add user-agent to audit-logging"
In order to identify which e2e test (or other client) is hitting a specific API endpoint

Given an API call with [user agent set](https://github.com/kubernetes/kubernetes/issues/64790)
When the event is written to the audit-logging faciliites
Then the log will include the user-agent

Prior discussion: https://groups.google.com/d/msg/kubernetes-sig-api-machinery/R-z_NjiLzmg/q1kWg9jSAQAJ

/kind feat

[2018-06-05 22:03] hh commented on #64791
Related: [Set user-agent per test in e2e framework](#64790)

[2018-06-05 22:03] hh commented on #64790
Related: [Add user-agent to audit-logging](#64791)

[2018-06-05 22:18] tkyang99 commented on #33777
Having the same issue here. I have many nodes with just 3% CPU utilization but for some reason new pods are not being allocated to them.

[2018-06-05 22:40] saad-ali commented on #64789
Failures seem to align with when https://github.com/kubernetes/kubernetes/pull/62005 was merged. But nothing in that PR seems suspicious. Having @mikedanese verify. Bringing up my own cluster on head to try and get a live cluster.

[2018-06-05 23:10] dashpole commented on #63204
arg, another backwards-incompatible godep conflict.  Ill have to do a godep udpate in cAdvisor before I can update them in k/k

[2018-06-05 23:13] thockin commented on #57130
I'd rather start at the other end, and figure out the details.  Let's brainstorm.

If we make a CNI IPAM driver that supports reading an annotation we either have to pass the name of that annotation to the IPAM driver (making an out-of-the-box default hard) or we standardize the name (in which case it might as well be a field, maybe?).

If we leave it as a field (maybe deprecate the old and come u

[2018-06-05 23:42] wgliang commented on #64776
/assign

[2018-06-06 00:30] PatrickLang opened #64801 "Feature+Docs: PodSecurityPolicy for Windows"
Most of the fields in [PodSecurityPolicy](https://kubernetes.io/docs/concepts/policy/pod-security-policy/) today cannot be implemented in Windows since they're based on Linux namespace and UID/GID assumptions.

We need a feature proposal to add or modify what can be implemented on Windows to achieve use cases such as:

- Restricting host path mounts (allowedFlexVolumes, allowedHostPaths)
- Restric

[2018-06-06 00:30] PatrickLang commented on #64801
/sig windows

[2018-06-06 00:30] PatrickLang commented on #64801
/assign

[2018-06-06 00:45] chinuy opened #64802 "In low memory, critical pods should not be the eviction candidates"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In low memory, crucial pods are candidates for eviction.

**What you expected to happen**:
Evict only non-critical pods

**How to reproduce it (as minimally and precisely as possible)**:
1. minikube start  --extra-config=kubelet.eviction-hard="memory.available<500Mi"
2. create a pod (I used [memory-demo](https://github.co

[2018-06-06 00:46] janetkuo commented on #64313
I filed #64797 to fix it.

As mentioned in the PR, this is because that DaemonSet controller races with garbage collector when it tries to update DaemonSet status of the DaemonSet being deleted.

Here's what happened:
1. Someone/something performs a foreground deletion on a DaemonSet
1. DaemonSet finalizer and DeletionTimestamp are both set
1. DaemonSet history objects (ControllerRevisions) and po

[2018-06-06 00:48] chinuy commented on #64802
/sig scheduling

[2018-06-06 01:14] k82cn commented on #59194
Update the status: the functional codes are merged; the doc PR is opened (https://github.com/kubernetes/website/pull/8842), waiting for review :)

[2018-06-06 01:30] tallclair commented on #64801
I'd like to redo PodSecurityPolicy at some point, and don't necessarily see it progressing to GA in its current form. Given that, I think it will be useful to understand the windows requirements for PodSecurityPolicy to inform the design of the successor, but I don't think it's worth investing in retrofitting the current PSP for windows.

[2018-06-06 01:31] k82cn commented on #33777
What's the version? any log ? The original issue is happened in 1.3.x, really old one.

I'd like to close this old issue, and please feel free to open a new one with more info, e.g. log, version :)

[2018-06-06 01:49] hzxuzhonghu commented on #64791
If no one is working on this, I can pick it up.

[2018-06-06 02:03] feiskyer commented on #64801
Any timeline for this?

[2018-06-06 02:15] feiskyer commented on #64759
/cc @brendandburns

[2018-06-06 02:29] #34728 closed

[2018-06-06 02:29] #39308 closed

[2018-06-06 02:29] #23913 closed

[2018-06-06 02:29] #31270 closed

[2018-06-06 02:36] hzxuzhonghu commented on #64791
/cc @tallclair

[2018-06-06 02:36] hzxuzhonghu commented on #64791
/sig auth

[2018-06-06 03:10] feiskyer commented on #62047
@PatrickLang Almost done. There're only container's network stats left now. It seems no easy way to collect that. Let's close this one.

/close

[2018-06-06 03:10] #62047 closed

[2018-06-06 03:23] calebamiles opened #64806 "v1.11 known issues / FAQ accumulator"
Please link to this issue or comment on this issue with known errata for the 1.11.x release. This follows what we have done for prior releases.

We will be populating the "Known Issues" section of 1.11.0 and above release notes based on this issue

**cc: @jberkus, @nickchase, @marpaia, @kubernetes/kubernetes-release-managers**

[2018-06-06 03:30] karlkfi opened #64807 "Feature: Specify groups on ServiceAccounts"
/kind feature

User accounts can specify which groups they are in when using the PKI CSR flow (using the org field of the subject), but the ServiceAccount API doesn't seem to have a groups field.

AFAICT, the only way to add ServiceAccounts to groups would be using an auth proxy, which seems like overkill for something that is available elsewhere in the API.

Suggested API:

[code]

[2018-06-06 03:46] jhorwit2 commented on #57841
@m1093782566 @rramkumar1 is this a blocker for GA? This seems like a serious gap in functionality from iptables mode especially with IPVS becoming the new default.

[2018-06-06 03:55] jhorwit2 commented on #57841
cc @thockin

[2018-06-06 03:59] jingax10 commented on #64789
I have a quick try to reproduce one of the failure test cases by

gcloud container clusters create --addons=HttpLoadBalancing,HorizontalPodAutoscaling,KubernetesDashboard --machine-type=n1-standard-2 --image-type=gci --num-nodes=3 --cluster-version=1.11.0-beta.1.222+f16c15909adccc test-ff924dde89

The cluster isn't up.

What I observed is the following:

1) kubelet on master is in crash-loop due t

[2018-06-06 04:09] liggitt commented on #64807
Service accounts are not intended to be a replacement for general user management. They are inherently members of three groups:
* `system:authenticated`
* `system:serviceaccounts`
* `system:serviceaccounts:<namespace>`

There are no plans to allow specifying groups for service accounts in this way. Allowing service accounts to be granted arbitrary group names allows them to interfere with the conf

[2018-06-06 04:09] #64807 closed

[2018-06-06 05:01] m1093782566 commented on #57841
@jhorwit2

I don't think this issue should be a blocker for IPVS GA. Per discussion, the graduation criteria are:

a) CIs are green

b) necessary documents are available there

Please note that iptables is still the default mode though IPVS have become GA.

Anyway, my team will take a look at this issue.

cc @Lion-Wei @islinwb @stewart-yu

[2018-06-06 05:43] cblecker commented on #62382
Reopening for cherry pick.

[2018-06-06 05:50] rramkumar1 commented on #57841
@jhorwit2 at this point, I don’t think this should block GA. However, we should prioritize releasing a fix for this in a patch release.

[2018-06-06 05:50] feiskyer commented on #55867
For AKS users, upgrade to v1.9.6 or configure kubelet according to https://github.com/kubernetes/kubernetes/issues/55867#issuecomment-380813755 could solve the issue.

[2018-06-06 05:58] Lion-Wei commented on #57841
Problem is we don't know whether this is what we needed. I mean, some people like this graceful termination, some people don't.
Even for iptables proxy mode, UDP type connection don't support graceful termination, and people seems not rush to fix it.

[2018-06-06 06:00] m1093782566 commented on #57841
I think it should a interesting topic for next sig-network call?

[2018-06-06 06:00] Hardy2015 commented on #56799
/remove-lifecycle stale.

[2018-06-06 06:02] Noah-Huppert opened #64814 "Kubectl Get All Does Not Show Persistent Volume Claims"
**What happened**:
When I run `kubectl get all` Persistent Volume Claims are not listed.

Instead I must run `kubectl get pvc`.

[code]

**What you expected to happen**:

I expected `kubectl get all` to list all resources.

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a Persistent Volume Claim
2. Run `kubectl get all`

**Anything else we need to know?**:

N/A

**Env

[2018-06-06 06:08] Noah-Huppert commented on #64814
/sig cli

[2018-06-06 06:32] hzxuzhonghu commented on #64790
If we want to only set User-Agent in a common place, 　I think add `	config.UserAgent = f.BaseName
` here can work well.

https://github.com/kubernetes/kubernetes/blob/fd044d152ee13a6cb812e4c3e7504ee8e24b5b8c/test/e2e/framework/framework.go#L154-L157

[2018-06-06 06:32] hzxuzhonghu commented on #64790
cc @sttts @tallclair @CaoShuFeng

[2018-06-06 06:34] prashantabkari commented on #63804
+1 Same issue.

[2018-06-06 06:45] liggitt commented on #64814
Unfortunately, the guidelines around the `all` alias that make it hard to delete unrecoverable data also exclude listing PVCs this way. See https://github.com/kubernetes/community/blob/master/contributors/devel/kubectl-conventions.md#rules-for-extending-special-resource-alias---all

/close

[2018-06-06 06:45] #64814 closed

[2018-06-06 07:06] sudeeshjohn opened #64816 "kubeadm init --kubernetes-version ci/latest is failing to fetch images"
**Is this a BUG REPORT or FEATURE REQUEST?**: yes

kind bug

**What happened**:
kubeadm init --kubernetes-version ci/latest is failing to fetch images

**What you expected to happen**:
initiate and start the cluster
**How to reproduce it (as minimally and precisely as possible)**:
Get the latest build kubeadm and run 'kubeadm init --kubernetes-version ci/latest'
[code]

**Anything else we need to

[2018-06-06 07:08] sudeeshjohn commented on #64816
/sig Kubeadm

[2018-06-06 07:09] Noah-Huppert commented on #2630
Could someone clarify what the general solution to this issue is? I think a nice clean resolution to this very long thread would be extremely helpful.

I found 2 workarounds in the comments with reports of varying degrees of success.

I've tried both of them with no success. But I don't want to declare these methods as fully not working in case I implemented them incorrectly.

[2018-06-06 07:15] mengqiy commented on #48957
/remove-lifecycle stale

[2018-06-06 07:42] shaileshsutar88 opened #64818 "Remote command execution fails with command info on kubernetes container."
$kubectl version
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.8", GitCommit:"e8c167a115ec662726904265d17f75a6d79d78d8", GitTreeState:"clean", BuildDate:"2017-10-01T00:19:21Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"5", GitVersion:"v1.5.8", GitCommit:"e8c167a115ec662726904265d17f75a6d79d78d8", GitTreeState:"c

[2018-06-06 07:53] rfranzke commented on #64759
I did the following exercise: I tried creating a LB in the 1.10.3 cluster, it didn't work. Then I downgraded the cluster to 1.9.8, and after that the LB was immediately created.

After that I was trying the same in another cluster and another subscription, however, this cluster is 1.10.3 with 10 nodes and only 2 existing LBs. Creating a new LB failed as well due to ARM rate limit (in this subscrip

[2018-06-06 07:59] feiskyer commented on #64759
I suspect this is related to rate limiting, but need more dive to identify which limits are hit.

[2018-06-06 08:11] mkumatag commented on #64816
Seems like param has been changed in https://github.com/kubernetes/kubernetes/pull/63504, can you please check what happens if you specify - `ci-cross/latest`

[2018-06-06 08:18] sneko opened #64819 "Randomly one of my node becomes "NodeNotReady", and its pods fail"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
@kubernetes/sig-node-bugs
/sig node

**What happened**:

Hi! Each time, after a few hours, one of my node (randomly) goes in the status "NodeNotReady"... Without doing anything! Moreover the pods of this node either go in PENDING state or they have errors like (depending of the tool):

"Liveness probe failed: Get http://100.96.11.54:9090/-/h

[2018-06-06 08:21] ApsOps commented on #25456
I'm *still* hitting this on `k8s v1.9.6` and `Docker version 17.03.2-ce, build f5ec1e2` based on kops AMI.

@dchen1107 This is kinda critical issue since it doesn't resolve itself and containers get stuck in `Terminating` and `ContainerCreating`. Can we please bump the priority?

/cc @kubernetes/sig-node

[2018-06-06 08:47] mmack commented on #64816
I see the same problem after upgrading docker on coreos from 17.12.1-ce to 18.03.1-ce.

[2018-06-06 08:52] nikolas-hermanns commented on #51884
I met the same issue. But from your answers I cannot see the solution. Should I edit the deamon set somehow?

[2018-06-06 09:00] vfreex commented on #20227
@dims Thank you. Sorry for my late update because I was so busy recently. I've rebased the PR so that it can be tried with the latest version.
Since it involves many SIGs, it could not be easy to get approved. I am planning to open a KEP to track this issue. Do you have any suggestions or anyone I can ask for help?

[2018-06-06 09:22] jgrobbel commented on #64771
@aveshagarwal
Yes looks like the behaviour `descheduler` gives is what I expected from the "default scheduler". Though sadly it's not yet production ready.

Anyway great, thanks for the info. I can now make a plan.