[2018-07-09 11:51] tamalsaha commented on #65968
I have found a workaround. Run the `make` command which generated the files. I committed them in my fork and using that to vendor. This has unblocked me.

[2018-07-09 12:43] mohammedzee1000 opened #65972 "Failing Test: [sig-storage] PersistentVolumes-volumeMode tests are failing [Feature:BlockVolume]"
# Failing Jobs

[sig-release-master-blocking#gci-gce-alpha-features](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-alpha-features)

# Failing Tests

[sig-release-master-blocking#gci-gce-alpha-features-ceph#should create sc, pod, pv, and pvc, read/write to the pv, and delete all created resources](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-

[2018-07-09 12:58] fudali113 opened #65973 "CRD validation resource immutable"
**Is this a BUG REPORT or FEATURE REQUEST?**:
FEATURE REQUEST

/kind feature

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

I want some of my fields to be immutable in CRD, can I do that?

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configu

[2018-07-09 12:59] ling2yt opened #65974 "when i use the exec RestApi, i got the error message "x509: certificate is valid for 127.0.0.1, not xx.xx.xx.xx""
first i test with https but get 400:upgrade response

then i test with websocket, and get "Can't connect to console: x509: certificate is valid for 127.0.0.1, not xx.xx.xx.xx" when i use NewClient() or Dialer.Dial(url,req.Header) to create the client conn

is it sth related to the Bearer token?

i put it in the request's header

[code]
anything wrong?

[2018-07-09 13:06] wojtek-t commented on #62592
Closing as obsolete.

[2018-07-09 13:06] #62592 closed

[2018-07-09 13:08] wojtek-t commented on #64022
https://github.com/kubernetes/autoscaler/pull/1041 + https://github.com/kubernetes/kubernetes/pull/65864 should at least partially help

[2018-07-09 13:19] liggitt commented on #65974
what server are you contacting at `wss://xx.xx.xx.xx:8080/r/projects/...`? that context root isn't a standard kube API

[2018-07-09 13:30] mkumatag commented on #65973
/sig api-machinery

[2018-07-09 13:32] mkumatag commented on #65973
what do you mean by immutable? do you want to have something you don't want to change after creating it?

[2018-07-09 13:35] #55202 closed

[2018-07-09 13:38] mattfarina commented on #65968
/sig architecture

[2018-07-09 14:07] szuecs commented on #62628
@xiaoxubeii @Quentin-M  what is the current favorite workaround for this?

We run flannel with vxlan and have here and there bleeps in out monitoring spike dns request up to 5s. One time probably (not 100% sure) we had a production incident, because of that.

Should I port the script referenced by @Quentin-M to flannel or is there already something else?

[2018-07-09 14:08] mgcrea opened #65976 "Pod hostIP/hostPort settings not respected (highjacked ports on other host IPs)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm using a proxy-pod to forward both `80/http` and `443/https` privileged ports to an `ingress-nginx` service using the following configuration:

[code]

However, when I start this service, it somehow highjacks the ports for other host IPs as well.

I have a legacy nginx-proxy running on the same server, inside docker b

[2018-07-09 14:11] mgcrea commented on #65976
/sig network

[2018-07-09 14:12] mkumatag commented on #38067
@dims you have covered it really well.. :)

[2018-07-09 14:40] #51457 closed

[2018-07-09 14:43] sngchlko opened #65977 "Dynamic provisioned cinder PVs have not a region label at the time of creation"
Cinder-based dynamic PVs don't have a region label at the time of creation.
But PersistentVolumeLabelController in the cloud-controller-manager labels the PVs based on their region.
Cinder plugin should add the region label to the PVs at the time of creation regardless of cloud-controller-manager.

**What happened**:
[code]
**What you expected to happen**:
[code]

/kind bug
/sig openstack

[2018-07-09 14:47] dkirrane commented on #65933
Same issue with VCP manually enabled with required control plane flags (not using vcp-uxi scripts)

`kubectl -n kube-system logs kube-controller-manager-master1 -f`
[code]

`kubectl version`
[code]

I also checked the `vsphere.conf` on one of the worker nodes 'minion1'. It has the key `vm-uuid=4200ea21-067b-885f-dd8b-692790feaf2d` and can confirm with govc that the uuid is correct
[code]

[2018-07-09 15:18] sethvargo commented on #61573
I agree. Who do we need to get in agreement that printing the full CA is the best path forward?

[2018-07-09 15:20] mohammedzee1000 commented on #65972
/milestone 1.12

[2018-07-09 15:30] bgrant0607 commented on #65936
cc @kow3ns @saad-ali

[2018-07-09 15:35] liggitt commented on #61573
the data is not omitted for security purposes, but to make the output more readable. see https://github.com/kubernetes/kubernetes/pull/7007

REDACTED is misleading... it should probably be "elided" or "..."

[2018-07-09 15:37] mkumatag commented on #65969
what is this storage class pointing to - `volume.beta.kubernetes.io/storage-class: fast` can you describe this as well?

[2018-07-09 15:40] DazWilkin commented on #65930
I mis-filed this and will move it to Kubernetes Examples:

https://github.com/kubernetes/examples/issues/249

[2018-07-09 15:40] #65930 closed

[2018-07-09 15:40] mkumatag commented on #65969
/sig node
/sig storage

[2018-07-09 15:42] liggitt commented on #61573
you can add --raw to view full content

[2018-07-09 15:46] sethvargo commented on #61573
@liggitt that's the crux of this issue - REDACTED is misleading. However, @ibrasho pointed out that other "long" fields are still completely printed in plain text such as client certs, so I think we need to revisit the "readability" argument. What do you think?

[2018-07-09 15:52] ritazh commented on #65953
Ah yes...this was also reported here: https://github.com/Azure/kubernetes-kms/issues/25 will update the manual-install doc to include the creation of the storage account in addition to the key vault.

[2018-07-09 16:00] loewenstein commented on #65583
This looks like a severe issue, anybody looking into it?

Just ran into it myself.

[2018-07-09 16:07] liggitt commented on #61573
they are not... client cert/key are elided in the same way for the same reason:

https://github.com/kubernetes/kubernetes/blob/5232ad4a00ec93942d0b2c6359ee6cd1201b46bc/staging/src/k8s.io/client-go/tools/clientcmd/api/helpers.go#L90-L95

[code]

something like "++data+omitted++" could be better

If the intent of config view without --raw specified is to be readable (which it currently is), printing

[2018-07-09 16:33] fudali113 commented on #65973
Yes，i want to some field can't be change。Is there any way? @mkumatag

[2018-07-09 16:42] awly commented on #31563
https://github.com/kubernetes/kubernetes/blob/5e8b64f990a4274e8f2d9a6bea05b8beb6214d2b/pkg/kubelet/apis/kubeletconfig/v1beta1/types.go#L170 and Alpha feature implementing this is available.

/close

[2018-07-09 16:42] #31563 closed

[2018-07-09 16:44] sethvargo commented on #61573
Hmm what about:

[code]

I'm pretty sure that would give us a valid b64 string (8+12=20%4=0) and it would subtly hint that the data isn't a secret.

[2018-07-09 16:50] yingnanzhang666 commented on #65954
@wojtek-t
- It runs based on release 1.9, it seems #59871 is introduced from release 1.10. I can cherry-pick and retest in my env.
- As to the 40cores, actually there are total 80 cores for the master node, and the limit resource for etcd and apiserver are 50% of total cores. So apiserver can use 40 cores at the most.
- Is there a plan to add index for NodeName?
- any comments for listing through

[2018-07-09 16:51] msau42 commented on #61563
@pawelprazak yes, but actually, that fix caused another regression, which has been fixed by https://github.com/kubernetes/kubernetes/pull/64351

[2018-07-09 16:52] arturalbov commented on #3595
@eyalzek Thanks! It works

[2018-07-09 17:18] mattfarina commented on #65098
/cc @enisoc @foxish @janetkuo @smarterclayton

Do we have any context why StatefulSet doesn't have this property but others do? Any thoughts on adding it?

[2018-07-09 17:22] discordianfish commented on #40610
/remove-lifecycle stale
/lifecycle freeze

[2018-07-09 17:23] discordianfish commented on #62078
/remove-lifecycle stale
/lifecycle freeze

[2018-07-09 17:35] derekwaynecarr commented on #64801
@PatrickLang we need to clarify the pod spec for windows before making updates around the policy discussion.

[2018-07-09 17:38] thockin commented on #65928
This is one of those cases that kills perf in build systems.  E.g. Go fails or used to in the same way - if you remove a file it doesn't see that any file has a timestamp newer than the result, so it clearly doesn't need to rebuild.  We get around that for Go files by checking the timestamp of the directory itself, as long as we are considering the directory at all.

The key is that last statement

[2018-07-09 17:40] #59049 closed

[2018-07-09 17:42] foxish commented on #65098
IIRC, StatefulSet does not have the notion of "availability" in the same way that a deployment or replicaset has. It seems like a useful addition to me.

[2018-07-09 17:46] nikhita commented on #65973
No, there is no way to mark fields as immutable right now.

OpenAPI schema does have a construct called `readOnly` (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields-20) but we don't support that right now. Would need to investigate if we could indeed support it.

/area custom-resources
/cc @sttts

[2018-07-09 17:47] #65814 closed

[2018-07-09 18:00] enisoc commented on #65098
For context, I think the reason StatefulSet doesn't have this is because MinReadySeconds at the workload controller level was considered deprecated at that time, but the replacement (MinReadySeconds at the Pod level) never materialized.

https://github.com/kubernetes/community/pull/478
https://github.com/kubernetes/community/pull/503#discussion_r109486980
https://github.com/kubernetes/kubernetes/i

[2018-07-09 18:16] thockin commented on #65928
also curious - when I remove the openapi definition from staging/src/k8s.io/api/batch/v2alpha1/doc.go, I get a new change to pkg/apis/batch/v2alpha1/zz_generated.conversion.go:

[code]

@sttts

[2018-07-09 18:36] ixdy commented on #65968
/assign

I am sorry. I thought this would be safe, since we already had several generated files which were not checked into the repo, but this was wrong.

I will add `pkg/generated/bindata.go` back to master and release-1.11 while we figure out the plan.

x-ref #8830

[2018-07-09 18:46] tallclair commented on #26093
I was thinking about this a bit over the weekend, and have an idea I'd like to float before writing a more formal proposal. It's not a complete solution to this problem, but should help:

1. For every command that is exec'd, introduce a new package for that command (e.g. `k8s.io/command/git`)
    i. In that package, there is a dedicated object for building out the command arguments, and then exec'

[2018-07-09 18:48] wongma7 commented on #65777
the driver is not being installed on kubelet
[code]
I am doing some more investigating, have my own cluster up.

[2018-07-09 18:53] wongma7 commented on #65777
On ubuntu, we set the flexvolume install dir to --volume-plugin-dir=/home/kubernetes/fl
exvolume
Small oversight, I'll make a PR shortly

[2018-07-09 18:55] mengqiy commented on #63939
I guess we can shut those tests down.

[2018-07-09 19:00] mengqiy commented on #63939
Just found that this test has already be shutdown. Last run was at 05/16.

Its replacement is https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kustomize-periodic-default-gke/

/close

[2018-07-09 19:00] #63939 closed

[2018-07-09 19:02] thockin commented on #65928
something like this seems to work for openapi, need to recreate for otehrs...

[code]

[2018-07-09 19:05] thockin commented on #65928
@sttts that other file is not related - it looks like it was not updated at some point, but should have been...

[2018-07-09 19:12] thockin opened #65988 "Code gen is out of sync"
@sttts it looks like something is up on master.  Clean checkout, touch staging/src/k8s.io/api/batch/v2alpha1/, then `make generated_files` -- produces a delta.

[code]

[2018-07-09 19:15] thockin commented on #65988
[code]
That comes out clean.

[code]

That comes out clean.

That dir, and who knows how many others, is missing some metadata to allow conversions

[2018-07-09 19:16] #65778 closed

[2018-07-09 19:17] liggitt commented on #65988
I'm not seeing that...

[code]

do you have a stale `conversion-gen`?

[2018-07-09 19:18] liggitt commented on #65988
ah, missed the `touch staging/src/k8s.io/api/batch/v2alpha1` step

[2018-07-09 19:19] ravisantoshgudimetla opened #65990 "Remove kubelet preemption logic"
**What happened**:

Since, we have preemption logic in kube-scheduler to preempt pods while placing critical pods, the logic in kubelet for preemption could be removed.

As of now, the edge case stopping this is:
(from offline discussion with Bobby)
- DS controller critical pods are directly bound to node without resource checking. As a result, we need some preemption logic in kubelet to ensure th

[2018-07-09 19:22] jomeier commented on #65936
Any help on how to properly take care about this situation is deeply appreciated.

[2018-07-09 19:24] liggitt commented on #65988
looks like it might be the v2alpha1 conversion referencing a v1 type... if the generation processes both the v1 and v2alpha1 packages, it finds the v1 conversion. if it only processes the v2alpha1 package, it doesn't and reverts to the reflection-driven path

[2018-07-09 19:33] tshaynik opened #65991 "Kubelet fails to authenticate to apiserver due to expired certificate"
/kind bug
/sig auth

**What happened**:
My team is having an issue with TLS bootstrap, running Kubernetes 1.10.5. We set --experimental-cluster-signing-duration to 24h on the kube-controller-manager. Some nodes are being deallocated over night, and when they come up, Kubelet goes into a failed state. It appears that it recognizes that the certificate expires and attempts to bootstrap using the tok

[2018-07-09 19:40] smarterclayton commented on #65098
We should poke the pod level discussion.

On Mon, Jul 9, 2018 at 2:01 PM, Anthony Yeh <notifications@github.com>
wrote:

[2018-07-09 19:48] rphillips commented on #26093
@tallclair This proposal is extremely valuable. Being able to audit what tools are shelled out to helps with security, packaging, and maintenance. We could ship an image or package of standard 'shell utilities', be able to upgrade them and audit them for security vulnerabilities when needed.

Couple thoughts:

1) There should be a mechanism of extracting the utility's version... Semver might be ne

[2018-07-09 19:57] roycaihw commented on #65121
This is a known issue caused by lacking of `OneOf` support for types that set `ReturnDeletedObject: true` in their storage configuration. We cannot specify multiple schema for returned object in our spec until we support OpenAPI v3. Ref https://github.com/kubernetes/kubernetes/issues/60937. Closing

/close

[2018-07-09 19:57] #65121 closed

[2018-07-09 20:00] dashpole commented on #65990
Another edge case we may want to consider is static pods.  If a new static pod is created, or if the kubelet restarts after a static pod had failed, it may be rejected without this feature.

I believe the kubelet is priority-aware.  It will not "preempt" a pod with node or system critical priority during kubelet admission, as it considers those pods to also be "critical".  It may preempt some "hig

[2018-07-09 20:18] webbrandon commented on #51835
Forcing the delete worked for `kubectl delete po $pod --grace-period=0 --force`.  The `--now` flag wasn't working.

[2018-07-09 20:20] ddebroy commented on #65977
Will it make sense to enhance the PersistentVolumeLabel admission controller (although now deprecated) to add labels for Cinder volumes as done for [EBS](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/storage/persistentvolume/label/admission.go#L112) and [PD](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/storage/persistentvolume/label/admissio

[2018-07-09 20:21] aniket-s-kulkarni commented on #58786
/remove-lifecycle stale

[2018-07-09 20:30] fedebongio commented on #65885
/cc @lavalamp

[2018-07-09 20:31] fedebongio commented on #65954
/cc @yliaog @roycaihw

[2018-07-09 20:31] fedebongio commented on #65973
/cc @mbohlool

[2018-07-09 20:37] mujtabaahmed1991 commented on #62109
@k82cn I am interested to take it as my first-good-issue. Allow me to help you with that :)

[2018-07-09 20:39] xyklex commented on #10421
This issue was causing my k8s workers to freeze and not responding to any action, I restart it but when begins to starting the pods it freeze again.

That issue was happening on `Oracle Linux 7.4` using `Docker 17.06.2.ol` and `k8s 1.8.14`
[code]

Using `fs.inotify.max_user_watches=1048576` solve the issue with pods starting.

[2018-07-09 20:45] liggitt commented on #65991
/cc @smarterclayton @mikedanese @awly

[2018-07-09 20:47] liggitt commented on #57316
addressed by no-op conversion, released in 1.11

/close

[2018-07-09 20:47] #57316 closed

[2018-07-09 20:47] caesarxuchao commented on #65569
@frittentheke the error message you pasted in https://github.com/kubernetes/kubernetes/issues/65569#issuecomment-400984893 is the cause of the problem. Unfortunately the message didn't say what field of the Pod was mutated.

Could you check the apiserver log to see if it contained more detail?

This is a long shot, try to disable the limit range admission plugin, see if that fixes the problem?

[2018-07-09 20:49] khogeland opened #65994 "NamespaceSpec and ObjectMeta both contain a "finalizers" field"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`Namespace` has two finalizers fields: `Namespace.ObjectMeta.finalizers` and `Namespace.Spec.finalizers`. `NamespacedResourcesDeleter` uses `NamespaceSpec.finalizers` and `ObjectMeta.finalizers` appears to be unused/ineffective (please correct me if I'm wrong).

**What you expected to happen**:

`NamespacedResourcesDelet

[2018-07-09 20:50] khogeland commented on #65994
/sig api-machinery

[2018-07-09 20:59] ravisantoshgudimetla commented on #65990
Thanks @dashpole.

You are right that kubelet is priority aware till system critical priorities. What I meant earlier is kubelet is not aware of "high priority" pods which are non-critical, which you already mentioned.

Coming to static pods, I don't know the historical background of static pods in kubernetes but the places, I have seen them being used are self-hosted clusters, which are anyways g

[2018-07-09 21:08] keko00 opened #65995 "error after install kubelet kubeadm kubectl"
after install fresh kubelet kubeadm kubectl i got that kubelet could not able to work as well it's stuck in loop try to start and its start for some Seconds and then it's stopped again as show in screen shots
version of kubelet v1.11.0
![screenshot from 2018-07-09 23-00-35](https://user-images.githubusercontent.com/24421498/42476042-e9ca8f9a-83cc-11e8-9c10-00eca42e02b5.png)
![screenshot from 2018-

[2018-07-09 21:08] dashpole commented on #65990
Static pods are not always system critical.  There are (somewhere out there) users of standalone kubelet: kubelet with no apiserver who just run static pods.
I try to differentiate "kubelet preemption" which occurs at admission time when the requests of a new pod don't fit within the allocatable of a node, and "kubelet eviction" which occurs when node resources run low.  The eviction strategy docu

[2018-07-09 21:20] thockin commented on #65988
touch staging/src/k8s.io/api/batch/v2alpha1/, then make generated_files

[2018-07-09 21:20] thockin commented on #65988
try just touching the one

[2018-07-09 21:29] liggitt commented on #65995
did you run through the kubeadm setup instructions? the kubelet installs in a state that leaves it looping, waiting for configuration.

https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions

[2018-07-09 21:43] #51785 closed

[2018-07-09 21:46] smarterclayton commented on #65991
I'm sad, because I thought this was fixed.

/assign

[2018-07-09 21:46] dashpole commented on #65990
Yes, This is what I mean above by `If needed, we could change the kubelet preemption algorithm to be priority aware.`

[2018-07-09 22:18] mikedanese commented on #65991
At a certain point we talked about a mode for the CertificateManager where it always uses it's bootstrap kubeconfig to request a certificate. This is the type of pickle I hoped to avoid in that mode. I'm worried that the current method is too fragile to be used practically with small rotation periods.

[2018-07-10 00:15] neolit123 commented on #63195
hm, BTW `Completed` is not an official `v1` status. it's matches this condition `Failed || Succeeded`, so i don't think it should be documented unless it has to be made an official one.

but then looking at the above log it has `exit 0` for the single container in the pod, so not sure why the status is not `Succeeded` in the first place.

is that a UX bug?

/cc @kubernetes/sig-cli-bugs

[2018-07-10 00:31] dims commented on #26093
@tallclair some similar work from openstack

- https://docs.openstack.org/oslo.rootwrap/queens/user/usage.html
- https://specs.openstack.org/openstack/oslo-specs/specs/juno/rootwrap-daemon-mode.html#daemon-starting

[2018-07-10 00:57] k82cn commented on #62109
@mujtabaahmed1991 , great, please go ahead :)

[2018-07-10 00:59] mlda065 commented on #65221
I get the same behaviour on AKS and also a different deployment done with Rancher.

[2018-07-10 01:10] BenTheElder commented on #58170
filing this against [test-infra](https://github.com/kubernetes/test-infra) instead will get more eyes, fejta-bot is project wide and this repo has wayyyy too many issues.

It also doesn't close them after 90 days, it marks them stale after 90days with a comment, then if there is no response it marks them rotten with another comment after another 30 days, and then after _another_ 30 days it closes

[2018-07-10 01:13] tristanz commented on #61937
Is there any known workaround the avoids kernel recompilation?  This is severe regression (breaks all workloads on loaded clusters) and appears to affect RHEL 7.x on 1.8.x and up.

[2018-07-10 01:18] w1ndy commented on #61937
Does anyone have luck with newer kernels on CentOS 7? Elrepo-kernel seems like a good option.

[2018-07-10 01:46] andyxning commented on #61994
/remove-lifecycle stale

[2018-07-10 02:28] #58170 closed

[2018-07-10 02:37] sngchlko commented on #65977
#59845 for removing PVL admission controller is waiting for #65592.
I think the PVL admission controller will be removed soon.

[2018-07-10 02:39] hzxuzhonghu commented on #65966
obvious network problem

[2018-07-10 03:02] yue9944882 commented on #65517
@sttts SRY, I should have put it clearer.. I just mean that this issue is sort of fundamental and obviously have been existing for a long time.

[2018-07-10 03:06] warmchang commented on #61937
@w1ndy , the company Redhat how to deal with this? The RHEL 7.x use the 3.10 kernel, and the OCP (openshift) would have this issue too.

[2018-07-10 03:28] yue9944882 commented on #65994
Hi, @khogeland `ObjectMeta.finalizers` is used for generic use and these finalizers will be processed by generic store logic and gc mechanism which is inside the apiserver. As for `NamespaceSpec.finalizers` is dedicated for namespace controller which is in the another component. As you can see they are processed by separated controllers so it's questionable to merge these finalizers into the one c

[2018-07-10 03:39] #65883 closed

[2018-07-10 04:33] Lion-Wei commented on #57841
@jsravn Hi, I already sended a pr to fix this issue.
Not support graceful time configurable, but I think that's not necessary.
And maybe we need further discussion if we want iptables UDP support this.

[2018-07-10 04:37] hariprasadsly opened #66013 "Unable to connect to master node from worker node in kubernetes"
I am new to  Kubernetes . When I am running the kubectl get pod I am getting the following error.

[root@kubernetes-workernode1 ~]# kubectl get pod
E0710 10:04:07.577240   31002 round_trippers.go:169] CancelRequest not implemented
E0710 10:04:39.578067   31002 round_trippers.go:169] CancelRequest not implemented
E0710 10:05:11.578828   31002 round_trippers.go:169] CancelRequest not implemented
E07

[2018-07-10 05:30] skeetwu commented on #65967
/sig kubelet

[2018-07-10 05:46] mengqiy commented on #33766
/remove-lifecycle stale

[2018-07-10 06:07] #65775 closed

[2018-07-10 06:11] lambertpan commented on #65544
It is working for me now. I used t2.small so I updated the MAX_POD to '8'. It seems 'calico' is a choice for not limiting the pod counts [refer](https://aws.amazon.com/blogs/opensource/networking-foundation-eks-aws-cni-calico/) .

[2018-07-10 06:39] wangbaifeng commented on #62310
mark

[2018-07-10 06:44] mujtabaahmed1991 commented on #62109
/assign

[2018-07-10 06:47] nikhita commented on #50048
/remove-lifecycle stale

[2018-07-10 07:21] xiaoxubeii commented on #65967
I think they restore to pre-1.10 behavior which uses instance name, you can view #63903

[2018-07-10 07:30] mohammedzee1000 commented on #65972
/milestone 1.12

[2018-07-10 07:30] mohammedzee1000 commented on #65972
/milestone v1.12

[2018-07-10 07:49] ensonic commented on #43409
Any chance this can be backported in to older releases? Alternatively is there a workaround to give all IAM project owners the cluster-admin role (on GKE)?

[2018-07-10 08:17] pictolearn commented on #65937
I came across the same issue using KOPS.  I have followed whatever was specified here https://medium.com/@while1eq1/using-amazon-efs-in-a-multiaz-kubernetes-setup-57922e032776 but my pod file look different with an nginx instance trying to mount to the EFS cluster

Here is how the nginx yaml looks

`apiVersion: apps/v1 # for versions before 1.9.0 use apps/v1beta2
kind: Deployment
metadata:
  name:

[2018-07-10 08:33] michaelgeorgeattard opened #66015 "Kubernetes scheduler very slow"
**What happened**:

Scheduling of pods is incredibly slow. Affecting all deployments in cluster, across namespaces.

For example scaling `nginx-ingress-controller` from 0 to 1, has already taken 10mins+ without any pods starting up.

Probably unrelated, but before problem occured, I was experimenting with liveliness+readiness probes, configuration which has since been removed.

**What you expected

[2018-07-10 08:36] EamonKeane commented on #65936
@jomeier 's solution (remove foreground finalizer) worked for me. The pod wasn't there when I ssh'd into the machine and I also reset the VM to no avail.

[2018-07-10 08:41] #66015 closed

[2018-07-10 08:42] nikhita commented on #62326
/remove-lifecycle stale

[2018-07-10 08:42] michaelgeorgeattard opened #66016 "Very slow pod scheduling"
**What happened**:

Scheduling of pods is incredibly slow. Affecting all deployments in cluster, across namespaces.

For example scaling `nginx-ingress-controller` from 0 to 1, has already taken 10mins+ without any pods starting up.

Probably unrelated, but before problem occured, I was experimenting with liveliness+readiness probes, configuration which has since been removed.

**What you expected

[2018-07-10 08:54] #59596 closed

[2018-07-10 09:07] sttts commented on #65988
[code]

That are not many input dirs. The generator does not see any custom conversion funcs in v1.

[2018-07-10 09:08] yastij commented on #56694
/remove-lifecycle stale

[2018-07-10 09:09] w1ndy commented on #61937
@warmchang I'm not affiliated with Redhat but I believe they are working on this. See https://bugzilla.redhat.com/show_bug.cgi?id=1507149

[2018-07-10 09:33] michaelgeorgeattard commented on #66016
As an update, clearing out CRDs created by https://github.com/OrleansContrib/Orleans.Clustering.Kubernetes seems to have solved the issue.

Feel free to close the issue.

[2018-07-10 09:33] skeetwu commented on #65967
@xiaoxubeii  thanks for your reply.
I viewed [#63903](https://github.com/kubernetes/kubernetes/pull/63903) , it looks like they haven't resolved this issue thoroughly, just restored the old method.
unless openstack can sync metadata with instances' hostname, there may be no way to fix this issue perfectly.

[2018-07-10 09:46] #63727 closed

[2018-07-10 09:46] #65777 closed

[2018-07-10 09:56] altairpearl commented on #38633
Any update on this?

[2018-07-10 10:05] wgliang commented on #66016
/close

[2018-07-10 10:05] #66016 closed

[2018-07-10 10:11] dohnto opened #66017 "kubectl create dry run does not respect multiple yaml documents"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If using `kubectl create --dry-run --output=yaml`, kubectl does not respect multiple yaml documents separated by "---" and outputs a single yaml file.

**What you expected to happen**:

Generate multiple YAMLs.

**How to reproduce it (as minimally and precisely as possible)**:

1. Lets suppose we have a document `input.y

[2018-07-10 10:14] dohnto commented on #66017
/sig cli

[2018-07-10 10:19] xiaoxubeii opened #66018 "Support IPVS DR mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
As known IPVS become GA in 1.11, but it is based on IPVS NAT. Is it necessary to support IPVS DR mode? I have time to achieve this.

**What you expected to happen**:
Support IPVS DR mode.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kuberne

[2018-07-10 10:19] xiaoxubeii commented on #66018
/sig-network

[2018-07-10 10:22] shyamjvs commented on #60097
cc @mborsz - If you can take a look.

[2018-07-10 10:23] chen-joe1015 commented on #61005
the same problem +1

[2018-07-10 10:50] redbaron commented on #43607
/remove-lifecycle stale

[2018-07-10 10:50] redbaron commented on #43607
/lifecycle frozen

[2018-07-10 11:00] juv opened #66020 "Container-level usage of field "serviceAccountName""
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
The field `spec.serviceAccountName` is currently assigned to all containers as well as initContainers.

**What you expected to happen**:
I expect the field `spec.serviceAccountName` to be defined on a container-level rather than a deployment-level, so that the containers and initContainers are able to use different ser

[2018-07-10 11:20] george-angel commented on #59438
I'm getting this exact same problem:

[code]

[2018-07-10 11:53] de1m opened #66021 "FlexVolue (1.10.4): err=no volume plugin matched"
/kind bug

**What happened**:
I've a example pod and will mount a smb mount
[code]
### kubelet.env
[code]

**What you expected to happen**:
I've copy in the folder /var/lib/kubelet/volume-plugins/exec the project from https://github.com/sigma/cifs_k8s_plugin/blob/master/cifs.sh
and now I get the error:
[code]
I've tested also with another FlexVolume pluging, but I get the same behaviour.
### Folde

[2018-07-10 11:55] de1m commented on #66021
/sig bug

[2018-07-10 12:35] liucimin commented on #65976
hostPort would just change the iptables in the node by docker.

could do you tell us the iptables rules in nat table?

iptables -t nat -nvL

[2018-07-10 12:43] KrzysztofKarol commented on #64437
@NimalanNR I had same problem when I tried to run it as a root.
Works for "normal" user.

[2018-07-10 12:44] wojtek-t commented on #65954
Many people will be happy to help with reviewing - I'm not aware of anyone planning to do that soon.

This is clearly a tradeoff - if there are small amount of calls, it sounds much better. If there are a lot of calls, that may cause what you described. There isn't a single obvious solution here.

[2018-07-10 12:44] wojtek-t commented on #65954
@kubernetes/sig-scalability-bugs @shyamjvs - FYI

[2018-07-10 12:56] frittentheke commented on #65569
@caesarxuchao bullseye!

I just removed the LimitRanger and all pods stuck in Terminating were gone immediately after.

[2018-07-10 13:01] philicious commented on #58742
I would also like to see this feature as described by OP

/reopen
/remove-lifecycle stale

[2018-07-10 13:01] haiduc32 opened #66022 "Windows NAT, port mapping doesn't work"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT
/kind bug

**What happened**:
Port mappind does not work on Windows Server 2016 and 1709, with NAT network. When deploying a container with port mapping, the port is available on the IP of the container, on the host node, but is not availbale on the IP of the host.
The port is mapped to the kubelet/pause container, but it does not respond on

[2018-07-10 13:03] shyamjvs commented on #65954
Interesting to know. I did such an experiment in the past in our scalability tests (but I'm sure it's definitely post-1.9) where I killed apiserver in b/w density test to see what happens when it comes up. It took a few seconds to recover, but eventually things were fine (also what I'd expect for). One difference there however is that it's single master setup and we have 64 cores (as noted above).

[2018-07-10 13:04] szuecs commented on #62628
FYI: https://github.com/coreos/flannel/pull/1001#issuecomment-403802099
And the "port to flannel" https://github.com/szuecs/flannel-tc

[2018-07-10 13:10] shruthibhaskar commented on #61113
/remove-lifecycle stale

i am facing the same issue. Kindly someone help with this!

[2018-07-10 13:12] ibrasho commented on #61573
Only valid characters are `A-Za-z0-9+/=`. And adding a prefix from the certificate only complicates things.

`DATA+OMITTED` is a suitable usable option. I'll submit a PR to continue the discussion there.

[2018-07-10 13:12] wojtek-t commented on #65954
also @jpbetz @mborsz
My personal suspicion is cpu-starvation of etcd causing missing/lost etcd heartbeats and thus triggering etcd reelections significantly contributing to problems in multi-etcd setup.

[2018-07-10 13:21] haiduc32 commented on #66022
/sig windows

[2018-07-10 13:22] kmova commented on #59040
/remove-lifecycle stale

[2018-07-10 13:45] inge4pres commented on #58131
Hi @liggitt

I appreciate the explanation, at the same time we see the behaviour of `kubectl get deployments.v1.apps test-nginx` is showing deployment that is stored as `extensions/v1beta1` in etcd.
We'd expect that specifying the schema version would not result in fetched objects with a different apiVersion, otherwise when performing migrations how are we supposed to understand what is running wi

[2018-07-10 13:53] msau42 commented on #65972
This should be fixed by https://github.com/kubernetes/test-infra/pull/8607

[2018-07-10 14:01] george-angel commented on #59438
No, I'm sorry, that was my fault, I had to fix netpols to allow apiserver to access metrics-server pod.

[2018-07-10 14:30] gnufied commented on #62392
/remove-lifecycle stale

[2018-07-10 14:37] shyamjvs opened #66026 "Investigate higher latency of 'delete RC' calls"
The recent 5k-performance run (https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/177) failed due to high latency of delete RC calls:

[code]

This might be a flake (we'll know that soon) or a regression. @wojtek-t suspects that it maybe related to change enabling advanced audit-logging in our tests (https://github.com/kubernetes/test-infra/pul

[2018-07-10 14:39] liggitt commented on #66020
/sig auth

@mikedanese a possible future extension to ServiceAccountTokenProjection could be to allow specifying the service account name

[2018-07-10 14:39] Duchoudh opened #66027 "Limit iops per container"
**Is this a BUG REPORT or FEATURE REQUEST?**:

kind feature

**What happened**: Disk I/O overload on the nodes due to heavy block I/O of application containers

**What you expected to happen**: Limit iops/bps per container in a pod

**How to reproduce it (as minimally and precisely as possible)**: Run a docker container hosting an application that uses high iops.

**Anything else we need to know?*

[2018-07-10 14:42] AishSundar commented on #65972
/priority important-soon

@mohammedzee1000 I suggest we use the above priority label to indicate it needs faster attention vs longterm

[2018-07-10 14:42] AishSundar commented on #65972
/remove priority important-longterm

[2018-07-10 15:10] zegl commented on #65500
@jiashenC Did you figure out what the problem was? I've seen the same issue as you.

estarting the kubelet fixes the problem temporarily.

[2018-07-10 15:12] drakonstein opened #66029 "Additional Ceph RBD creation options"
/kind feature

**What happened**:
Creating a Ceph RBD PV defaults to --order 22 which is 4MB block sizes that the data stored on a Ceph RBD is stored in the Ceph cluster as.  That is the Ceph default if you don't specify a different block size.

**What you expected to happen**:
It would be nice to be able to specify this in the StorageClass.  The value passed to order is 2^n.  So 22 is 2^2 = 4.  2

[2018-07-10 15:13] wongma7 commented on #65777
They are still failing, I am having another look

[2018-07-10 15:19] liggitt commented on #65988
/assign

fixed in #66030

[2018-07-10 15:21] jsafrane commented on #60894
`ISCSIVolumeSource.Portals` is vaguely described as "target portal ips for high availability", without describing what the "high availability" means. Should we assume that it means multipath? Then Kubernetes can **always** wait for multipath device to appear when more that one `Portal` is specified.

Would it break anything? Does anyone run multiple portals for the same volume **without** multipat

[2018-07-10 15:23] IvanovOleg opened #66031 "Missing import apiextensionsfeatures in kube_features.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): 1.11.0
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release): Windows
- Kernel (e.g. `uname

[2018-07-10 15:23] jiashenC commented on #65500
I guess the issue is because multiple mounts are using the same claim and volume. I create multiple claims backed by different volumes and it solves my issue.

[2018-07-10 15:35] shyamjvs commented on #66026
On looking into the [apiserver logs](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/177/artifacts/gce-scale-cluster-master/kube-apiserver.log-20180709-1531141211.gz) , I've found that these increased latencies are observed for a time window of few tens of seconds:

[code]

[2018-07-10 15:54] tpepper commented on #66029
/sig storage

[2018-07-10 15:55] vladimirvivien commented on #65770
One way to avoid all of these scenarios is to require Driver developers to use a namespaced dir structure for registration.  That should be doable now that pluginwatcher supports nested dir structure.

[2018-07-10 16:12] danwinship commented on #48107
docker does iptables stuff internally in some cases, so that might be it. Your network plugin might also be doing stuff as part of pod setup.

[2018-07-10 16:19] kivoli commented on #57280
We’re having the same issue with 1.10, flannel and containerd. Clearing out `/var/lib/cni/networks/cbr0` is sufficient …

I adapted a [one-liner from 2016](https://github.com/kubernetes/kubernetes/issues/34278#issuecomment-254686727) from #34278 for `crictl`:
[code]
Thanks, @bprashanth.

[2018-07-10 16:51] rootfs commented on #60894
@jsafrane yes, the iscsi portals were made possible by @humblec  for HA/mpio use case (see #39345). The lack of concrete description makes it less obvious though.

[2018-07-10 17:02] #59699 closed

[2018-07-10 17:10] liggitt commented on #65974
I can't tell from your description, is the "xx.xx.xx.xx" in the "Can't connect to console: x509: certificate is valid for 127.0.0.1, not xx.xx.xx.xx"" error the same as the "wss://xx.xx.xx.xx:8080" address?

[2018-07-10 17:10] mshaverdo commented on #65943
@caseydavenport, yes, `host-local` is a node-wide network solution, but it is a particular case. In general, network is a cluster-wide, in my opinion.

Container ID is already accessible via k8s API. I made a dirty hack to release IPs of Replica Set pods, using Container ID from pod status and hard-coded runtime type, plugin params, network plugin name, nonMasqueradeCIDR, etc.

Wild guess: maybe,

[2018-07-10 17:11] shyamjvs commented on #66026
From the traces, almost all time of the operation seems to go into [etcd write operation](https://github.com/kubernetes/kubernetes/blob/029213748a27164b74335b71255ee6e77f0ab3bc/staging/src/k8s.io/apiserver/pkg/endpoints/handlers/delete.go#L122-L132) iiuc:

[code]

Since the [audit step](https://github.com/kubernetes/kubernetes/blob/029213748a27164b74335b71255ee6e77f0ab3bc/staging/src/k8s.io/apiser

[2018-07-10 17:12] shyamjvs commented on #66026
Btw @mborsz - one thing we should try to confirm here is if this is a flaky issue.

[2018-07-10 17:39] amitmawkin commented on #65221
same behavior on AKS

[2018-07-10 17:48] PatrickLang commented on #26093
+1 here. This will make it easier to make sure all OS or distro-dependent exec calls are audited and sanitized.

[2018-07-10 17:51] jomeier commented on #65569
Could you describe this procedure a little bit more, please?

[2018-07-10 18:14] liggitt commented on #65557
addresses by https://github.com/kubernetes/kubernetes/pull/65768 and https://github.com/kubernetes/kubernetes/pull/65717

/close

[2018-07-10 18:14] #65557 closed

[2018-07-10 18:15] liggitt commented on #65818
master and v1.11 pick have merged, can close this tracking issue

/close

[2018-07-10 18:15] #65818 closed

[2018-07-10 18:36] nicksardo commented on #65675
GCP supports IPv6 for only SSL/TCP Proxy LBs - not for the network LBs that are created by Kubernetes for services of type LoadBalancer. An alternative that works today is using ingress and providing an IPv6 address.

[2018-07-10 18:38] nsidhaye commented on #58742
/reopen
/remove-lifecycle rotten

[2018-07-10 18:58] bradjones1 commented on #65675
@nicksardo Thanks, I'm new to GCP so the terminology is still settling in. So the load balancer that gets generated by the K8s API is sort of a fourth, non-UI-creatable load balancer type? It operates as a TCP LB but it's with a more limited feature set than the TCP LB I could create through the console?

Looks like you're a GCP engineer; any thoughts on whether this is roadmapped or not, or is IP

[2018-07-10 19:16] nicksardo commented on #65675
All LB types are capable of being manually created via GCP Console, API, and CLI. The distinction is that K8s creates the type without a proxy (connection termination) (https://cloud.google.com/load-balancing/docs/network/setting-up-network). The proxy type is created with different GCP API resources (https://cloud.google.com/load-balancing/docs/tcp/setting-up-tcp) and not supported by the K8s ser

[2018-07-10 19:36] shyamjvs commented on #59567
/remove-lifecycle stale

On Tue, Jul 10, 2018, 9:08 PM fejta-bot <notifications@github.com> wrote:

[2018-07-10 19:40] bradjones1 commented on #65675
@nicksardo Thanks and understood. So as I understand it, then, the limitation is in the K8s API call not requesting an IPv6 address? You can create TCP (non-proxy) load balancers in the UI, however that isn't helpful for connecting to a K8s cluster in the sense that it wouldn't have the correct metadata, etc. for the cluster to update backends and the like?

[2018-07-10 19:43] bradjones1 commented on #65675
@nicksardo Thanks and understood. So is there any configuration inside GCP that would get to the desired result of an IPv6 address in front of a K8s service with a network LB? I poked around a bit initially to see if I could, say, put a Proxy LB with the other LB behind it as a backend, but that seems 1) impossible and 2) too cute.

[2018-07-10 19:46] #65988 closed

[2018-07-10 19:46] #16971 closed

[2018-07-10 20:13] amitvashist7 commented on #24711
I was using the below command with wildcard & it failing:

**# kubectl create -f metrics-server/*.yaml**

Then I simply specify the directory which contains multiple yaml definitions;

root@kube-master:~/kubernetes-project# **kubectl create -f metrics-server**
clusterrolebinding.rbac.authorization.k8s.io/metrics-server:system:auth-delegator created
rolebinding.rbac.authorization.k8s.io/metrics-ser

[2018-07-10 20:24] coffeepac commented on #65355
elasticsearch image 2.2.0 now exists.  apologies for the delay.

[2018-07-10 20:24] w-leads commented on #65933
I linked my PR to this issue, but sorry, it seems to be a different issue.
Would you please  provide a whole controller-managers log with log level(-v) 4?

[2018-07-10 20:29] ryanmcnamara commented on #61998
As an update, fixing the equality check will not be sufficient because it is possible for multiple controller revisions to be created that are *actually equal*, including the same hash, that have the same revision number.

I believe the fix will need to be
1. Prevent equal controllerrevisions with the same revision number from being created
2. Stably sort the controllerrevisions so that the contro

[2018-07-10 21:03] jiashenC commented on #34267
I am on **kubernetes** 1.10.3. Upon ELB creation, no instance is registered to ELB. I don't see any error message. How can I resolve the issue?

[2018-07-10 21:05] ravisantoshgudimetla commented on #65557
@liggit, I think we should let https://github.com/kubernetes/kubernetes/pull/65643 merge before closing this issue.

[2018-07-10 21:09] #65704 closed

[2018-07-10 21:19] liggitt commented on #65557
the critical issue was protecting the feature. #65768 and #65717 do that effectively. if we want configuration to let it be re-expanded in a controlled way, that's fine, but the critical issue is resolved

[2018-07-10 21:33] ravisantoshgudimetla opened #66042 "Critical pods should be restricted to a set of configurable namespaces."
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind feature

**What happened**:

Critical pods should be restricted to a set of configurable namespaces instead of kube-system.

More info: https://github.com/kubernetes/kubernetes/issues/65557#issuecomment-400885001

/assign @aveshagarwal

/cc @sjenning @derekwaynecarr @liggitt @bsalamat

[2018-07-10 21:34] ravisantoshgudimetla commented on #65557
Ok, I have created another issue to track the enhancement.

[2018-07-10 21:36] ravisantoshgudimetla commented on #66042
/sig scheduling

[2018-07-10 21:36] jibinjohnbabu commented on #49440
Franky I don't understnad any of the resolution give here , I'm facing the below error in some of my pods when I try to do an ELK deployment in my kubernetes cluster

No nodes are available that match all of the following predicates:: MatchNodeSelector (1), PodFitsHostPorts (5), PodToleratesNodeTaints (1).  any help ?

[2018-07-10 21:50] jpbetz commented on #49746
/cc @wenjiaswe

[2018-07-10 21:59] RenaudWasTaken commented on #65770
Hello Vladimir Vivien !

Can you highlight for this would resolve the use cases highlighted in my
first post?

Thanks!

On Tue, Jul 10, 2018, 17:56 Vladimir Vivien <notifications@github.com>
wrote:

[2018-07-10 22:02] nicksardo commented on #58500
/close

[2018-07-10 22:02] #58500 closed

[2018-07-10 22:09] dng-dev opened #66044 "nlb on aws should filter instance types for target groups"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
The Service with the annotation NLB produced an error
`
  Warning  CreatingLoadBalancerFailed  3s (x6 over 25m)   service-controller  (combined from similar events): Error creating load balancer (will retry): failed to ensure load balancer for service monitoring/cluster-monitoring-nginx-ingress-controller: Error registering targets

[2018-07-10 22:50] Proteles commented on #57904
https://www.codeday.top/2017/06/22/29521.html link broken

please provide actual content for solution.

[2018-07-10 22:54] yujuhong opened #66046 "Image garbage collection is always disabled in kubelet in 1.11"
In the `StartGarbageCollection` function, there is a `defer close(stopChan)` that always runs and closes the channel when returning. This means that instead of running periodically, the image garbage collection will be terminated immediately when the function returns.

https://github.com/kubernetes/kubernetes/blob/91e7b4fd31fcd3d5f436da26c980becec37ceefe/pkg/kubelet/kubelet.go#L1247-L1253

The bug

[2018-07-10 22:59] yujuhong commented on #66046
BTW, when the threshold is set to 100% (the use case that the originally wanted to fix), the code tried sending to a closed channel and triggered a panic.

[2018-07-10 23:11] wongma7 commented on #65436
Did you enable feature gate only on the controller manager or did you enable it on your kubelets as well? If only controller manager I think that would explain this behaviour.

[2018-07-11 00:02] #65159 closed

[2018-07-11 00:07] dlbarduzzi opened #66050 "Fluentd kubernetes filtering logs based on log level"
Hi guys...I'm new to fluentd and this may be a silly question, but I haven't found a solution so far. How can I filter kubernetes logs based on log level? For example, if I want to discard "DEBUG" logs from applications sending to Elastic Search.

[2018-07-11 00:12] rocketraman commented on #52847
/remove-lifecycle stale

[2018-07-11 00:19] alisondy commented on #37598
/remove-lifecycle stale
Running into this issue aswell.

[2018-07-11 00:20] dbarduzzi commented on #66050
This is not a bug, just help that I need and would like to know if anyone has implemented something like that. @kubernetes/sig-contributor-experience-bug

[2018-07-11 00:38] janetkuo commented on #40422
/remove-lifecycle rotten

[2018-07-11 00:41] tallclair commented on #20151
https://diogomonica.com/2017/03/27/why-you-shouldnt-use-env-variables-for-secret-data/
Leaking env vars through debug endpoints is a common attack vector

There are a few tools you could use to accomplish this today:
- Perform the operations that need the secrets in an init container (if possible)
- Startup as root, and drop to an unprivileged user after the initialization (a good practice anyway,

[2018-07-11 00:46] ryanmcnamara commented on #65159
🎉 thanks!

[2018-07-11 01:32] liucimin commented on #65976
@mgcrea
Thx for the reply about the iptable rules.
According to  the describe from u, I guess the cni plugin u used dont use the pod's data clearly.
Maybe in the cni flannel,The flannel just change the rule by the hostport.
And it think all the ip packets in the host must do the dnat and snat.
I think flannel dont catch the hostip in the pod's yaml.

[2018-07-11 01:43] tubzby commented on #65042
After deploy again it's working now.

[2018-07-11 02:23] alisondy commented on #37598
/remove-lifecycle stale

[2018-07-11 02:29] zhouhaibing089 commented on #65954
In a case like this where a large amount of data stored in etcd plus many clients initiate list requests with rv=0, I think it might not be a bad idea to:

1. Add rate limits. The max-inflight-requests is just a number without considering the storage size, but actually the size is an important factor. I think it would always be a good idea to protect the apiserver from hitting too heavily.
2. Opti

[2018-07-11 02:37] rkttu-devsisters commented on #65163
I think this is something I did not mention, so I leave more comments. The current version of Windows Server 1803 is version 10.0.17134.1. Will upgrading to a newer version of Windows Server 1803 resolve the problem?

[2018-07-11 02:57] lf1029698952 commented on #65966
Thank you for your reply, The possible problem occurs between apiserver and etcd, I will continue to observe my cluster.

[2018-07-11 03:00] #56100 closed

[2018-07-11 03:39] CaoShuFeng commented on #66050
The log line format is:
[code]

We can know whether this is a info, warning, error or fatal.

But we can't know the log level, currently.

[2018-07-11 03:39] CaoShuFeng commented on #66050
Agree this is reasonable feature request.

[2018-07-11 03:57] orainxiong commented on #65392
Maybe I hitted a similar case but not the same.

The general sequence as below :
* Config `volumes.kubernetes.io/controller-managed-attach-detach` in order to have the attach/detach controller being in charge of  `attaching` and` detaching` operations both;
* Create a `statefulset` with volumes provisioned by `glusterfs`;
* Use `iptables` to simulate a master-worker network partition failure. As a

[2018-07-11 04:03] coffeepac commented on #65042
any objection to me closing this?

[2018-07-11 04:12] clkao commented on #57094
With https://github.com/kubernetes/kubernetes/pull/46079, 1.11.0 `kubectl describe node` actually prints GPU allocated, but not with percentage of capacity like gpu/mem:

[code]

[2018-07-11 04:35] #59764 closed

[2018-07-11 04:52] zl4bv commented on #65221
Seeing this too on EKS. Downgrading kubectl to v1.10.3 seems to work around this issue.

[code]

[2018-07-11 05:19] geekgonecrazy commented on #64743
![image](https://user-images.githubusercontent.com/51996/42551820-d874b31a-849e-11e8-8547-47307e74e072.png)

Getting this on GKE also.  I upgraded to 1.10.3-gke.0 after digging a bit and seeing this kernel issue: https://github.com/moby/moby/issues/5618 seemed like most reports were linux kernel 4.14 or higher was fixing.

For a few weeks it seemed to be gone, but now back in full force.  Happens

[2018-07-11 05:21] CaoShuFeng commented on #66017
When we run with `--dry-run=false` we don't have `---` either.

[2018-07-11 06:50] pdecat commented on #64743
Looks like #65342 means nodes will be recreated as soon as the node problem detector sees the unregister_netdevice error 3 times in 20 minutes in kmsg.

[2018-07-11 06:55] geekgonecrazy commented on #64743
It does seem to go very long periods before this starts happening.  But this definitely is not the ideal solution.

This issue makes it seem that if I turn network policy off the issue would go away for good?

[2018-07-11 06:59] humblec commented on #60894
@redbaron was it working perfectly with older kube versions and the issue started to pop up recently or from `v1.9`?  Why I am asking is, multipath support was added in kube `v1.6` (` on Feb 14, 2017`) and atleast I havent seen this issue reported till this report or very recently. Gluster team were also using multipathing feature for quite some time where we always got mpath device mounted reliab

[2018-07-11 07:01] pdecat commented on #64743
Was about to ask, but you seem to confirm you are using Calico too.

Can you check your GKE logs for `Hairpin` messages? These happen right after a node is created/recreated.

[2018-07-11 07:10] cybersuv commented on #65969
Can anyone help me here ?

[2018-07-11 07:16] cofyc commented on #64626
More recent failures from https://k8s-testgrid.appspot.com/presubmits-kubernetes-blocking#pull-kubernetes-integration&include-filter-by-regex=TestVolumeBinding&include-filter-by-regex=TestVolumeBinding%24:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65886/pull-kubernetes-integration/18493
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/658

[2018-07-11 07:17] zhouhaibing089 commented on #66050
Not sure whether this will help: https://docs.fluentd.org/v0.12/articles/filter_grep, you can add an `exclude` for DEBUG logs pattern.

[2018-07-11 07:31] mgxian commented on #63128
when I add following args it works.
when get logs , apiserver need talk to kublet in auth
the apiserver-kubelet-client must have the right permission (group like system:masters)
[code]

[2018-07-11 07:35] xiaoxubeii commented on #65967
I dont think so. I have tested it and found if changes instance name in OpenStack Dashboard, it will only change `display_name` in nova DB not `hostname`.

Your example also imply that:

1. create a 'bbbb-node-4' instance
2. edit this instance's name to "vm-10-10-10-10" in openstack dashboard.
3. curl -s http://169.254.169.254/openstack/2012-08-10/meta_data.json
[code]

You cannot modify instance

[2018-07-11 07:39] ceshihao commented on #66050
A Fluentd filter plugin

https://github.com/Soluto/fluent-plugin-kubernetes-log-level

[2018-07-11 07:44] nagapavan commented on #65937
/sig api

[2018-07-11 08:32] WanLinghao commented on #66020
@liggitt @mikedanese I am glad to take on this job if you guys don't mind

[2018-07-11 08:34] #66046 closed

[2018-07-11 09:02] tanwanhui opened #66060 "Kubernetes 1.7 : expired certificate"
/sig cluster-lifecycle-bugs

Hi guys... I created a cluster with etcd and kuberbetes 1.7 a year ago. But the certificate I used has expired in recent days. So I recreated these certificates and restarted my cluster, but it didn't work as if the certificate was not replaced. Is there a document for replacing the TLS certificate of kubernetes 1.7?

[2018-07-11 09:07] yassermog commented on #44665
if you are using minikube then try
$ minikube delete
then
$ minikube start

[2018-07-11 09:07] honkiko opened #66062 "Local externalTrafficPolicy is not respected for ipvs NodePort"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig network
/area kube-proxy
/area ipvs
/assign @honkiko

**What happened**:
When externalTrafficPolicy=Local, all endpoint addresses are added as RealServer for the NodePort VS.
When accessing NodePort, if the request is directed to an **remote**  pod, the response will not go back to the node because it's not masqueraded. Client will see a

[2018-07-11 09:09] shigy123456 opened #66063 "how to update node status"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
when one node is not ready in k8s cluster,the pv in the node can not detach,so i want to update the node status to detach the volume,in this way ,my pv will attach to another node,my question is how to update the node status,what is the command?

**What you expected to happen**:
 i want to update the node status to detac

[2018-07-11 09:10] #66060 closed

[2018-07-11 09:14] tanwanhui opened #66065 "kuberbetes1.7 expired certificates"
/sig cluster

Hi guys... I created a cluster with etcd and kuberbetes 1.7 a year ago. But the certificate I used has expired in recent days. So I recreated these certificates and restarted my cluster, but it didn't work as if the certificate was not replaced. Is there a document for replacing the TLS certificate of kubernetes 1.7?

[2018-07-11 09:53] pdecat commented on #64743
Old, but related https://github.com/kubernetes/kubernetes/issues/25793#issuecomment-221034631:

[2018-07-11 09:55] redbaron commented on #60894
@humblec,

we started with  1.9.x on kubelets, so can't tell much about mounting behaviour of previous versions.

it is going to fail, but it is fine, nodes should be correctly configured. Lets say you specify fsType, but given FS module is not loaded by kernel, or now mkfs.<FS> binary is available to the kubelet, mount is going to fail and thats OK IMHO. Kubelet shouldn't try to fallback to anyth

[2018-07-11 10:10] shyamjvs commented on #64030
@krzysied Your PR https://github.com/kubernetes/kubernetes/pull/64695 is merged but it seems like we're still not collecting the etcd metrics (i.e I don't see an EtcdMetrics file in [artifacts](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/15381/artifacts/)). Could you PTAL and make sure it works?

[2018-07-11 10:13] mattthelee commented on #2630
@thockin another use-case: I'm trying to run an ELK statefulset. The pod has an Elasticsearch container running as non-root. I'm using a volumeClaimTemplate to hold the elasticsearch data. The container is unable to write to the volume though as it is not running as root. Changing the fsGroup has had no effect. K8s v.1.9 . Also the pod has multiple containers and i don't want to use the same fsgro

[2018-07-11 11:01] toredash commented on #59418
/sig nodecontroller

[2018-07-11 11:33] Bregor opened #66067 "DNS is broken in Ubuntu 18.04 due to CNI hostport rules"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In Ubuntu 18.04 DNS queries are being served via `systemd-resolved` daemon which is listening on `127.0.0.53:53` and serves queries only from `127.0.0.1/8`.
The only line in `/etc/resolv.conf` is `nameserver 127.0.0.53`, and this file is managed by systemd.
Once any pod with `hostPort` notation appears on the host, `kubel

[2018-07-11 11:48] wojtek-t commented on #65954
This is planned for a long time, just noone had capacity to do that. https://github.com/kubernetes/kubernetes/pull/63719 was one attempt but we believe that we need more holistic look into the problem so asked for KEP.
In fact we already have rate-limitting, it's just not well tuned and not finegrained enough (e.g. list counts the same way as get of a single object). Once we fix that we should be

[2018-07-11 11:56] pdecat commented on #64743
I have dug further into the logs of one affected nodes and here is what happens before the first `unregister_netdevice` occurrence:

[code]

[2018-07-11 12:34] pdecat commented on #64743
Related https://github.com/kubernetes/kubernetes/issues/45419#issuecomment-389228355

[2018-07-11 13:00] pdecat commented on #64743
Potential fix included in kernel v4.15 for a very similar issue https://github.com/torvalds/linux/commit/4ee806d51176ba7b8ff1efd81f271d7252e03a1d

exiting, close immediately and do not wait for FIN sequence.

never exit while the socket is open.  However, kernel sockets do not take a
reference to their net namespace, so it may begin exiting while the kernel
socket is still open.  In this case if t

[2018-07-11 13:17] krzysied commented on #64030
I see there is a problem. I'm working on it.
I'll write back as soon as I find the cause.

[2018-07-11 13:26] YP28 opened #66068 "Custom OwnerReference definitions to allow easy cleanup"
/kind feature

**What happened**:
We'd like to specify custom `ownerReferences` in our resources.

At this moment, we deploy every branch on our development cluster automatically. We just now tried doing the same for a new application, however, that application includes `ClusterRole`s and `ClusterRoleBinding`s. These are cluster scoped, and will not be automatically cleaned by our cleaner that jus

[2018-07-11 13:42] bswartz commented on #60894
I'm fairly confident that adding a wait loop for the multipath device in the case when there are 2 or more portals in the PV spec won't cause any regressions.

The thing that gives me pause is that there are cases when there's a single portal in the PV spec, but the device still supports multipath and the existing sendtargets command is the mechanism for finding those other paths. I'm wondering if

[2018-07-11 13:46] rootfs commented on #60894
@redbaron

`find_multipaths = yes` is the default on RHEL 7, see [here](https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/7/pdf/dm_multipath/Red_Hat_Enterprise_Linux-7-DM_Multipath-en-US.pdf)

[2018-07-11 13:51] rootfs commented on #60894
@bswartz

Did you mean Multiple Connection Per Session (MC/S)? I don't think this is supported in open-iscsi. Open-iSCSI only supports MPIO (multiple portals)

[2018-07-11 13:57] bswartz commented on #60894
I don't understand the move by RedHat to default to find_multipaths = no. It basically guarantees bad behavior in cloud-oriented use cases when there's a temporary path failure.

My reading of the linked document is that the main motivation for changing the default is to avoid the need to setup a correct blacklist. It seems to me that correct behavior is more important that avoding some work up fr

[2018-07-11 14:17] redbaron commented on #60894
@rootfs ,

AFAIK multipathd (binary) in RHEL 7 defaults to `find_multipaths = no`, but configuration utility they ship writes config with `find_multipaths = yes`,  that utility needs to be called explicitly

[2018-07-11 14:23] #59658 closed

[2018-07-11 14:33] liqlin2015 commented on #61938
Still get this issue with kubernetes 1.11.0.  See below iptable rules in my host,

[code]

[2018-07-11 14:34] joshshn opened #66070 "cpu.cfs_quota_us value incorrectly reported for kubernetes pod as -1"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

Started a kubernetes pod with cpu limits and cpu resources as 8 as in the snippet of the deployment yaml shown below:

          resources:
            limits:
              cpu: 8
              memory: 12Gi
              hugepages-2Mi: 1024Mi
            requests:
              cpu: 8
              memory: 12Gi

Checking the cpu.c

[2018-07-11 14:58] george-angel commented on #4672
/remove-lifecycle stale

[2018-07-11 14:58] fudali113 opened #66071 "oldJob create by curInterface"
https://github.com/kubernetes/kubernetes/blob/82c986ecbcdf99a87cd12a7e2cf64f90057b9acd/pkg/controller/job/job_controller.go#L323

Here should be ` oldJob: = old. (* batch Job) `?

[2018-07-11 14:59] shyamjvs opened #66072 "Flakes in kubemark-scale with RC creation"
It seems like load test is occasionally flaking in kubemark-5000 job due to errors like:

[code]

This happened twice in the last week:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1083
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/1094

/assign @mborsz
If you could take a look into it.

c

[2018-07-11 14:59] george-angel commented on #35941
/remove-lifecycle stale

[2018-07-11 15:04] neolit123 commented on #65933
AFAIK, dumping the flags suggests an invalid flag being passed.

[2018-07-11 15:07] RRAlex opened #66073 "k8s.gcr.io/elasticsearch:v6.2.5 does not exist"
/kind bug

**What happened**:

Trying to upgrade the fluentd-elasticsearch add-on, at:
https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/fluentd-elasticsearch/es-statefulset.yaml

I'm unable to pull "k8s.gcr.io/elasticsearch:v6.2.5":
`Failed to pull image "k8s.gcr.io/elasticsearch:v6.2.5": rpc error: code = Unknown desc = Error response from daemon: manifest for k8s.gcr.io/elasti

[2018-07-11 15:08] carlosedp commented on #64357
@njohnsn Have you deployed K8s with IPVS mode? Can you test deploying on IPTables mode to check if it´s something related to an incompatibility on Weave side?

[2018-07-11 15:30] mborsz commented on #66072
Sure,
I see in logs
[code]
but can't see anything like
[code]

Which suggests that the issue happens somewhere  between them.

I think it's something with 'NewPodStore'
https://github.com/kubernetes/kubernetes/blob/dacb9ad6920a533d08711b7f7e06ba01f2851a08/test/utils/pod_store.go#L40-L66

Tomorrow will continue debugging.

[2018-07-11 15:33] krzysied commented on #64030
I've found out why there is no etcd metrics collected. All of our executed runs don't contain my PR. I verified that etcd metrics are collected during presubmit checks, thus it should work for out normal test runs.

The issue here is that for some reason all of recent test runs are using kubernetes commit 7bf40d2c6 (which at this point is 2 days old). We should investigate why the newest one aren'

[2018-07-11 15:35] shyamjvs commented on #64030
The commit seems to be stationary for our [gce-100 job](https://k8s-testgrid.appspot.com/sig-scalability-gce#gce) for a long time. @krzyzacy @BenTheElder Any idea what's happening?

[2018-07-11 15:39] krzysied commented on #64030
cc @kubernetes/test-infra-maintainers

[2018-07-11 16:01] BenTheElder commented on #64030
The build job is failing, so it's getting the last good build. No idea why we didn't get an alert yet, investigating. https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-build/41170/

[2018-07-11 16:14] dbarduzzi commented on #66050
@zhouhaibing089 found that yesterday and implemented. It does not work with v0.12, but it does with v1.1 and newer. So, for now I will be filtering the logs using the "grep" config.

[2018-07-11 16:28] cjbottaro commented on #40651
Any idea how to use the `metadata.name` of a statefulset to get a key in a `configmap`?

[2018-07-11 16:30] andrewsykim commented on #43173
/area cloudprovider
/sig cloud-provider

[2018-07-11 16:31] andrewsykim commented on #29789
Same problem with other cloud providers

/area cloudprovider
/sig cloud-provider

[2018-07-11 16:35] timothysc commented on #38067
/cc @liztio @chuckha  - re: sonobuoy multi-arch support.

[2018-07-11 16:35] shahbour commented on #65933
can you please point me about the flags where are they dumped ?

[2018-07-11 16:57] jpbetz commented on #65954
Which version of etcd?

[2018-07-11 17:09] ixdy commented on #64030
fix for the build job in #66076.

[2018-07-11 17:41] w-leads commented on #65933
@shahbour thanks for providing the log
[code]

kube-master has proper uuid, but others don't. Would you please check followings?
1.  the uuid file ("/sys/class/dmi/id/product_serial") for worker nodes
2. kubernetes nodename and providerID which is generated using uuid. If uuid is properly read by vsphere cloud provider, it's set to like "vsphere://\<uuid\>"
[code]

[2018-07-11 17:57] shahbour commented on #65933
@w-leads thanks, I see something wrong here for
[code]

[code]

I just noticed also that externalID for the nodes is different from master

[2018-07-11 17:59] suman-ganta commented on #39626
I'm running into this problem recently. the server response via curl is just fine. But kubectl takes a lot of time to respond. Anyway to troubleshoot?

kubectl version
Client Version: version.Info{Major:"1", Minor:"11", GitVersion:"v1.11.0", GitCommit:"91e7b4fd31fcd3d5f436da26c980becec37ceefe", GitTreeState:"clean", BuildDate:"2018-06-27T20:17:28Z", GoVersion:"go1.10.2", Compiler:"gc", Platform:"l

[2018-07-11 18:21] jayunit100 opened #66081 "Misleading EmptyDir default."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If you mess up your `persistentVolumeClaim` definition, then you get an emptyDir for free :)

**What you expected to happen**:

You should just get complete scheduling failure, because the volume is undefined.

(even though its a semantic issue, for people that ship kubernetes YAMLs to customers, this can result in criti

[2018-07-11 18:22] jayunit100 commented on #66081
@k8s-mirror-storage-proposals @kubernetes/sig-storage-bugs

[2018-07-11 18:46] msau42 commented on #66081
Hm my kubectl correclty errored due to the bad yaml:
[code]
[code]

[2018-07-11 18:53] washingtoneg commented on #46257
/reopen
/remove-lifecycle rotten

[2018-07-11 18:54] Raffo commented on #39626
@suman-ganta did you try compiling your own?

[2018-07-11 18:59] jayunit100 commented on #66081
what version

[2018-07-11 19:22] mcfedr commented on #25908
Without meaning to complicate the matter further, it would also be useful to be able to run a "sidecar" style container alongside `initContainers`.

My use case is similar to people here, I need to run cloud sql proxy at the same time as an initContainer that runs database migrations. As initContainers are run one at a time I cannot see a way to do this, except to run the proxy as a deployment+ser

[2018-07-11 20:11] msau42 commented on #66081
I am on head:
[code]

[2018-07-11 20:16] msau42 commented on #66081
cc @k8s-mirror-api-machinery-bugs

[2018-07-11 20:40] jennybuckley commented on #62130
/remove-lifecycle stale
This still needs to be tested, it should stay open until #62143 merges.

[2018-07-11 20:52] BenTheElder commented on #64030
fix is merged, next run (very soon) should pick it up and put up a new build
I'm also following up on getting a sig testing alerts group and expanding our alerting.

[2018-07-11 20:55] msau42 commented on #65285
In the dynamic provisioning e2e tests, there are some lines like this that also need to be reverted: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/volume_provisioning.go#L718

[2018-07-11 20:58] andrewsykim commented on #43173
My take on this is to move `cloudprovider.GetLoadBalancerName()` as a provider-specific method, have existing providers use the current naming scheme (service UUID) and once providers go out-of-tree have them deal with transitioning to use better names. Thoughts?

[2018-07-11 21:00] andrewsykim commented on #43173
This also gives each provider flexibility on how to transition (annotations vs labels, etc)

[2018-07-11 21:03] liggitt commented on #66081
probably a duplicate of https://github.com/kubernetes/kubernetes/issues/5889

[2018-07-11 21:04] nckturner commented on #43173
@andrewsykim that method seems reasonable to me.  It is certainly something we'd like to see customizable!

[2018-07-11 21:05] liggitt commented on #66081
I also get a client-side error:

[code]

[2018-07-11 21:06] liggitt commented on #66081
closing since this can't be reproduced on master, and we have existing feature request issues for server-side opt-in of strict schema validation

/close

[2018-07-11 21:06] #66081 closed

[2018-07-11 21:09] aojea commented on #65995
@keko00 have you checked if kubelet and docker are using the same cgroup?

https://github.com/kubernetes/kubeadm/issues/103

[2018-07-11 21:11] liggitt commented on #66071
/sig apps
/assign

good catch

[2018-07-11 21:18] rkumarcisco commented on #24137
hi @jomeier You can permanently delete the pod by the work around u mentioned above.

**Here is the flow**
-bash-4.2$ kubectl get deployments
NAME                                        DESIRED   CURRENT   UP-TO-DATE   AVAILABLE   AGE
bald-hog-jenkins                            1         1         1            1           12m
chaoskube-chaoskube                         1         1         1

[2018-07-11 21:30] liggitt commented on #66081
Submitting that to the server is equivalent to submitting a volume with no type defined, which defaults to emptyDir

[2018-07-11 21:34] keko00 commented on #65995
Now after running kube init i couldn't continue initialization and got this error in kubelet status
i uesd in installation kubernetes doc
![screenshot from 2018-07-11 23-30-49](https://user-images.githubusercontent.com/24421498/42600526-f360ead0-8562-11e8-80d0-5ed4614fa8ad.png)

[2018-07-11 21:35] liggitt commented on #66081
See https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/defaults.go#L65

[2018-07-11 21:35] msau42 commented on #66081
Ah, I see the defaulting [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/defaults.go#L65).  That's an odd default policy, as it also overwrites any fields for the volume source.

[2018-07-11 21:37] msau42 commented on #66081
And it can cause applications to still come up successfully and write away thinking that their data will be persisted.

[2018-07-11 21:45] hexate commented on #65583
I am also experiencing this issue

[2018-07-11 21:46] liggitt commented on #66081
There are no other fields in the volume source if all the pointer fields are nil

 I agree we wouldn't recommend setting the default that way now, but we're not going to change that and break currently valid pod specs

[2018-07-11 21:55] keko00 commented on #65995
@aojea after i changed cgroup in kubeadm.conf to be like docker cgroup and trt again kube inite i got other error this time as showed
![1](https://user-images.githubusercontent.com/24421498/42601399-c9e767e4-8565-11e8-8d8a-54eec56d6587.png)
![2](https://user-images.githubusercontent.com/24421498/42601411-d1dd2d26-8565-11e8-96d7-e67d51d5d58d.png)

[2018-07-11 22:10] PatrickLang commented on #65713
I'm seeing this once per minute:
[code]

@feiskyer or @andyzhangx is this something you could look at? I'm filing a few more bugs on things showing up in logs that look like code that is not implemented or should be skipped on Windows

I tested with Kubernetes 1.11, acs-engine 0.19.2 to deploy the cluster, and Windows Server version 1803 nodes.

[2018-07-11 22:15] yasker opened #66086 "Creating the pod requested bidirectional propagation will succeed even when kubelet/kubeapi 's `MountPropagation = false`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create a pod with `MountPropagation: bidirectional` in a cluster with both kube-apiserver and kubelet have `MountPropagation = false`. The creation will succeed. And the `mountPropagation` option for the volume would be removed silently from the pod's spec.

**What you expected to happen**:
The pod creation should fail in

[2018-07-11 22:15] frittentheke commented on #65569
@jomeier I simply removed LimitRanger from the list of admission controllers to be loaded and restarted the API server  ... see https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers for how that's done.

[2018-07-11 22:18] yasker commented on #66086
/sig api

[2018-07-11 22:19] PatrickLang opened #66087 "Windows kubelet - failed to construct signal: "allocatableMemory.available" error"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig windows

**What happened**:

This is being logged on kubelet stderr on Windows frequently.

[code]

**What you expected to happen**:

I would expect this metric to be implemented, and no error logs

**How to reproduce it (as minimally and precisely as possible)**:

- Deploy a cluster, I used acs-engine 0.19.2 with Kubernetes 1.11 on Wind

[2018-07-11 22:19] PatrickLang commented on #65713
/kind bug

[2018-07-11 22:28] PatrickLang opened #66088 "Windows - eviction manager: no observation found for eviction signal nodefs.inodesFree"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig windows

**What happened**:

This is being logged on kubelet stderr on Windows frequently. INode exhaustion isn't a problem on Windows, so I think it would be best to comment this check out of the eviction code.

[code]

**What you expected to happen**:

I would expect this metric to be implemented, and no error logs

**How to reproduce

[2018-07-11 22:37] jethrogb commented on #62366
/remove-lifecycle stale

[2018-07-11 23:05] mhuxtable commented on #25908
@mcfedr There's a reasonably active [enhancement proposal](https://github.com/kubernetes/community/pull/2148) which might appreciate that observation regarding init container behaviour. It's unclear to me whether that's in-scope for this proposal, or a related improvement, but I think it's sufficiently related that it makes sense to raise for consideration.

Potential implementation/compatibility

[2018-07-11 23:12] geekgonecrazy commented on #64743
Yup I get hairpin messages:
[code]

This is the rabbit hole I went down that made me think the newer kernel version would solve.  But it didn't seem to.

I was on the kubernetes slack a few weeks back and someone mentioned a flag that disabled ipv6 that also relieved the problem.

[2018-07-11 23:16] 2rs2ts commented on #53347
Ok I don't know who to assign this issue to...

/remove-lifecycle stale

[2018-07-11 23:29] liggitt commented on #66086
https://github.com/kubernetes/kubernetes/blob/df1d9b9e98fc13f3a4009a736aee05993198dd06/staging/src/k8s.io/api/core/v1/types.go#L1687-1692

[2018-07-12 00:00] yasker commented on #66086
Example yaml:
[code]

Result:
1. With MountPropagation = true
[code]
2. With MountPropagation = false
[code]

[2018-07-12 00:06] TallOrderDev commented on #58357
/remove-lifecycle stale

[2018-07-12 00:08] janetkuo opened #66093 "Workload controller's template hash label and resource names inconsistency"
/kind bug
/sig apps

From https://github.com/kubernetes/website/issues/7577.

We used template hash value to create unique & idempotent resources names in workloads controllers. For example, Deployment creates RS with name `<deployment-name>-<hash>`. Since 1.8, those names are safely encoded, e.g. becomes `<deployment-name>-<safe-encoded-hash>`, but the hash value used  for pod-template-hash label

[2018-07-12 00:22] liggitt commented on #66086
That is working properly. Disabling the feature gate makes the apiserver act as though the feature doesn't exist, which means dropping the related API field (as would have happened had you submitted that pod spec to an old API server)

[2018-07-12 00:29] yasker commented on #66086
OK. Then seems the only way to know if it succeeds or not is to check the result pod's spec and compare it to the spec we've set.

Thanks @liggitt .

[2018-07-12 00:29] #66086 closed

[2018-07-12 01:38] feiskyer commented on #66088
Agreed. There's no inodes concept on Windows. Let me see how to remove those warnings.

[2018-07-12 01:47] feiskyer commented on #65713
Yep, this should be omitted for Windows.

[2018-07-12 01:47] feiskyer commented on #65713
/assign

[2018-07-12 02:14] skeetwu commented on #65967
@xiaoxubeii  got it, thanks for your help.

[2018-07-12 02:15] #65967 closed

[2018-07-12 03:41] bswartz commented on #60894
@redbaron

I would be inclined to agree, except that someone added the sendtargets logic to the iscsi code. This code exists for no reason other than to allow finding multiple path given a single path. In fact the existing NetApp dynamic provisioner (Trident) relies on that behavior currently to get multipath support (this is something I've fixed and will upstream shortly).

If we decide that PVs

[2018-07-12 04:01] joshshn commented on #66070
@kubernetes/sig-scheduling-bugs

[2018-07-12 04:37] #47057 closed

[2018-07-12 04:51] nikhita commented on #66031
Closing because the master currently builds fine and this should be fixed if `k8s.io/apiserver` is in your gopath. Please feel free to reopen if you still come across an issue.

/close

[2018-07-12 04:51] #66031 closed

[2018-07-12 05:42] huangjiasingle opened #66101 "kubeadm config image list: the image k8s.gcr.io/pause-amd64:3.1 should named k8s.gcr.io/pause:3.1"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

**What happened**:
when l use the kubeadm init cluster, first l use: kubeadm config image list to list the images of dependense. so l pulled those images by myself. notic: k8s.gcr.io/pause-amd64:3.1, but kubeadm init, l view the kubelet log, it's to pull k8s.gcr.io/pause:3.1.
**What you expected to happen**:
kubeadm config image list:
the i

[2018-07-12 05:43] suman-ganta commented on #39626
No, I figured this is caused by the following call - Not sure why it is timing out -
[code]

[2018-07-12 05:49] YP28 commented on #66068
@liggitt do you see any way to work around this?

I assume it's not possible to make the apiserver dynamically retrieve the uid of the parent resource on-apply?

[2018-07-12 06:04] krmayankk commented on #65943
@caseydavenport Could this also affect the default (non CNI way) of allocating and releasing IPS ?

[2018-07-12 06:05] krmayankk commented on #65870
@kow3ns WDYT ?

[2018-07-12 06:11] jasonyihk commented on #65575
On Mac:

brew info & brew switch will be much easier if you need to handle multiple cluster with different version.

[2018-07-12 06:16] shahbour commented on #65933
@w-leads  great news for me 👍  , after updating the node info everything worked perfectly.  I don't know if it is correct to set it manually as i did not do that first time but now it is working

[code]

One thing I noticed while updating kubernetes through kubeadm , is that on master it worked perfectly without any issue while on nodes the kubelet did not start and I had to manually create the fi

[2018-07-12 06:20] krmayankk commented on #65853
@softputer this needs a slightly more detailed description. I believe you can configure each pod behind a service and if the pod is not ready for whatever reason, it wont get added as an endpoint to its services and hence wont loose requests

[2018-07-12 06:32] liqlin2015 opened #66103 "IPVS is not working with hostport"
## Is this a BUG REPORT or FEATURE REQUEST?

Choose one: BUG REPORT

## Versions

**kubeadm version** (use `kubeadm version`):

**Environment**:
- **Kubernetes version** (use `kubectl version`): 1.11.0
- **Cloud provider or hardware configuration**: None
- **OS** (e.g. from /etc/os-release): Ubuntu 16.04
- **Kernel** (e.g. `uname -a`):
- **Others**:

## What happened?

I'm trying to set up a kuber

[2018-07-12 06:32] liqlin2015 commented on #66103
/kind bug

/sig network

[2018-07-12 06:35] liqlin2015 commented on #66103
@m1093782566 @Lion-Wei @honkiko Have you guys get into this issue? Any comments?

[2018-07-12 06:51] honkiko commented on #66103
What is expected to reach by accessing 10.0.0.1 443 ?  Is 10.0.0.1 node IP or ClusterIP?

[2018-07-12 07:18] YP28 commented on #66068
/sig apimachinery

[2018-07-12 07:20] yue9944882 commented on #66017
Sort of related #58834

[2018-07-12 07:23] cofyc commented on #64626
@msau42 I submitted a PR to fix recent PVAssumeCache.Assume out-of-sync failures: https://github.com/kubernetes/kubernetes/pull/66106.

[2018-07-12 07:23] pdecat commented on #64743
@geekgonecrazy you mentioned you were hitting the issue with GKE version 1.10.3-gke.0 which is no longer available for new clusters, do you still have nodes with this version to check their COS image version?

Did you hit the issue with GKE 1.10.5-gke.0 which has the fix for sure?

[2018-07-12 07:30] DreadPirateShawn commented on #63171
In fact, I filed a dupe -- see #50850 for original tracking.

[2018-07-12 07:30] #63171 closed

[2018-07-12 07:37] sagyvolkov opened #66108 "kubelet 1.11 won't start because /var/lib/kubelet/config.yaml is missing/empty on brand new install"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
no /var/lib/kubelet/config.yaml after brand new install of kubelet 1.11

**How to reproduce it (as minimally and precisely as possible)**:
did a simple install "yum install -y kubelet kubeadm kubectl"

when trying "systemctl start kubelet" the service doesn't start and enters into an endless loop:
Jul 12 03:17:40 116AV-4.

[2018-07-12 07:39] chenqiangzhishen commented on #33777
the same issue.

[code]
we run pods with the same limit and request value of cpu(400m)/mem (1Gi), every node with 32core cpu, 128 mem, exclude the system resource part, we would run at least 60*24=1224 pod, but only runs the total of 906 pods.
when pick one node to  verify,  it really does not meets the full resoure. (only 43%)
[code]

[2018-07-12 07:43] shyamjvs commented on #62468
I think we can close this issue as we've fixed this for our scalability tests and no active production-related concerns have been raised for more than a release now. Reopen if needed.

/remove-lifecycle stale
/close

[2018-07-12 07:43] #62468 closed

[2018-07-12 07:43] originsmike commented on #56038
This recently got much easier. Now, you can get `kubeadm init` to succeed inside China...in 10 minutes.

@maguowei has a good start for installing kubeadm and related tools from mirrors.aliyun.com's repo.

As far as I know, kubelet still needs a bit of manual configuration:

[code]

Then, you can modify kubeadm's imageRepository setting to direct it to download container images from Aliyun's mirro

[2018-07-12 07:52] frittentheke commented on #65569
@caesarxuchao is the PR, https://github.com/kubernetes/kubernetes/pull/65987, which @klausenbusk referenced the bugfix for this, or just something similar?

[2018-07-12 07:57] gyliu513 commented on #65791
@kubernetes/sig-cluster-lifecycle-misc can anyone help check this issue? I cannot define the `API_HOST` now with `hack/local-up-cluster.sh`.

[2018-07-12 07:57] huangjiasingle commented on #66101
/sig Kubeadm Adoption

[2018-07-12 08:04] feiskyer commented on #62514
/remove-lifecycle stale
/sig azure

[2018-07-12 08:15] 12beseuahmad opened #66109 "deleting jobs using kubernetes golang api show success without any error, but still shows up the job in kubernetes cluster"
BUG REPORT

/kind bug

**What happened**:
i am using Azure kubernetes cluster, i have a service running that is watching for the jobs to get completed and when it gets completed i intend to delete that jobs. The behaviour showed by the service is that on deleting the job using golang api, the call succeeds without any error but the jobs still remain on the server. also i am watching for modified e

[2018-07-12 08:19] mbohlool commented on #65790
I am trying to at least solve the problem for conversions. With this strategy field we can achieve that. Maybe another solution would be having a featureFlagMap that sets a bit for each feature we support in CRD. each API server validate this map on serving to make sure all set bits are supported otherwise refuse to serve it and set the status of the CRD to unservable. When a CRD added by user, th

[2018-07-12 08:22] RushPu opened #66110 "hang on "kubectl delete" command"
/kind bug

**What happened**:
hang on "kubectl delete" command on my deployer machine, but can run other commands as usual
![image](https://user-images.githubusercontent.com/7221798/42620783-8b810d32-85ee-11e8-862b-af4ed0c8a856.png)
can run "kubectl delete" command on master node, deployer and master have the same ~/.kube directory.

**What you expected to happen**:
delete some resource

**How to

[2018-07-12 08:33] dgabrysch commented on #35062
Hi,

looks very promising - how do I get this code change running on RHEL 7? :dancer:

[2018-07-12 08:34] nikhita commented on #66101
This is fixed in https://github.com/kubernetes/kubernetes/pull/65920 by @dims! :tada:

Closing.
/close

[2018-07-12 08:34] #66101 closed

[2018-07-12 08:34] #66062 closed

[2018-07-12 08:43] krzysied commented on #64030
@ixdy @BenTheElder Thanks for the fix!

@shyamjvs Etcd metrics are available in [artifacts](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/15414/artifacts/) directory now.

[2018-07-12 08:56] ash2k commented on #62500
/remove-lifecycle stale

[2018-07-12 09:08] ensonic opened #66113 "Error message "the server could not find the requested resource" lacks context"
**What happened**:
E.g. try to list a custom resource, that is not deployed. All you get is "the server could not find the requested resource". (probably comes from here: https://github.com/kubernetes/kubernetes/blob/HEAD/staging/src/k8s.io/apimachinery/pkg/api/errors/errors.go#L342)

**What you expected to happen**:
The error message should contain the type of the resource:
"the server could not

[2018-07-12 09:11] jasonrichardsmith opened #66114 "field label spec.serviceAccountName not supported"
Is this a BUG REPORT or FEATURE REQUEST?:

/kind feature

What happened:

When trying to list object using field spec.ServiceAccountName, we are getting the below error message.

field label not supported: spec.serviceAccountName

What you expected to happen:

To be able to fetch pods using the list and watch based on the field 'spec.serviceAccountName'

How to reproduce it (as minimally and preci

[2018-07-12 09:12] jasonrichardsmith commented on #66114
/sig architecture

[2018-07-12 09:16] shyamjvs commented on #64030
Thanks everyone for looking into it.

@krzysied - The [values](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-scalability/15414/artifacts/EtcdMetrics_density_2018-07-12T07:08:11Z.json) seem to be rounded to integers and a bit crude. Is it possible to make it more accurate, for e.g by using smaller units or sth?

[2018-07-12 09:22] shenshouer commented on #29731
How to ?

[2018-07-12 09:33] shyamjvs commented on #66026
So the next run also failed similarly suggesting that this is likely not a flake - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/178

I took a look at CPU-usage of apiserver and it seems to have increased b/w runs 176 and 177 by more than 5 cores:

![api-cpu](https://user-images.githubusercontent.com/4333971/42624994-fd413c44-85c6-11e8-9c8

[2018-07-12 09:38] shyamjvs commented on #66026
Interestingly, there's also some increase in CPU usage of etcd (which I wouldn't expect to be caused by audit-logging (at least in a direct way) unless I'm missing something):

![etcd-cpu](https://user-images.githubusercontent.com/4333971/42625429-0ed93d5c-85c8-11e8-8c59-7a5b6e41afa5.png)

[2018-07-12 09:43] krzysied commented on #64030
@shyamjvs  I'm afraid that is impossible without making changes to the etcd. The problem is that we are using histograms as metrics. We have number of samples in a group but not samples distribution. We can only calculate in which buckets x'th percentile is.
Also, those histogram buckets start from 1ms and grow exponentially, so 1ms is our lower limit.

[2018-07-12 09:59] shyamjvs commented on #66026
Looking at the k/k [diff](https://github.com/kubernetes/kubernetes/compare/86b9a5322...4bb3a2a55) - I can't find anything obviously bad.
From test-infra [diff](https://github.com/kubernetes/test-infra/compare/e66e2e5dd...4c0d1dff8), the only suspicious change is the audit-logging one - https://github.com/kubernetes/test-infra/pull/8604

I plan to proceed here as follows:

- Disable audit-logging t

[2018-07-12 10:00] liucimin commented on #65976
@mgcrea
Could do u use "docker inspect containerid " to show us the container's portsbind in the container?

[2018-07-12 10:07] liucimin commented on #65976
@mgcrea
Hi mgcrea.
Maybe i know why this happen.
Maybe It is not the flannel's problem.
I will try to fix this.
/assign liucimin

[2018-07-12 10:13] nikhita commented on #52745
/remove-lifecycle rotten

[2018-07-12 10:14] redbaron commented on #58131
This is an interesting topic, which doesn't have much coverage in Kubernetes community.

What stored version is used for? Does stored api version influence behaviour of controllers, in other words can they potentially interpret same values and fields differently depending on the stored object's api version? Is it possible find out stored API version of the object without querying etcd directly?  W

[2018-07-12 10:23] liggitt commented on #66110
this is caused by a switch to kubectl to use "foreground deletion" in 1.11.0 that relies on server-side garbage collection being responsive to clean up the resource and its dependents, and blocks until it does.

the hang means that your controller manager isn't running, or the garbage collection controller isn't responsive at the moment you are deleting the object.

because of interactions like th

[2018-07-12 10:33] nikhita commented on #64821
xref https://github.com/kubernetes/kubernetes/issues/52745

[2018-07-12 10:34] dims commented on #29731
@shenshouer see https://github.com/kubernetes-incubator/cri-o

[2018-07-12 10:44] juris opened #66119 "PVC does not have all the labels when created from volumeClaimTemplate in StatefulSet."
/kind bug

**What happened**:
PVC does not have all the labels when created from volumeClaimTemplate in StatefulSet.

For example, if I define the following claim template as a part of STS manifest:
[code]

It produces the following PVC:
[code]

Two labels defined. Only one label present :(

**What you expected to happen**:
I expect PVC to have both labels.

**How to reproduce it (as minimally and

[2018-07-12 10:49] huangjiasingle commented on #66101
@nikhita thank you !

[2018-07-12 10:52] yue9944882 commented on #66114
@jasonrichardsmith You might do it by jsonpath filter 😀

[code]

[2018-07-12 11:03] jasonrichardsmith commented on #66114
@yue9944882 I intend to utilize it in the client-go list as an option
https://godoc.org/k8s.io/apimachinery/pkg/apis/meta/v1#ListOptions

[2018-07-12 11:14] krzysied commented on #64030
The result will look better (every number with . looks more reliable), but I don't think it will give as more information about actual distribution.

This one sounds really good. Especially the "fraction of count" part. Plotting this graphs on perf-dash is doable.

[2018-07-12 11:18] vikaschoudhary16 commented on #65773
created PR for moving design from gdoc to community repo: https://github.com/kubernetes/community/pull/2369

[2018-07-12 11:18] shyamjvs commented on #64030
Alright then, let's proceed that way. Btw - this approach in general would unlock a whole new class of metrics to be plottable on perf-dash.

[2018-07-12 11:20] CaoShuFeng commented on #66114
Not all fields are supported for field selector.

There is a doc about field selector which is still under review: https://github.com/kubernetes/website/pull/9174/files

As far as I can see, supported field selectors for pods are listed here:
https://github.com/kubernetes/kubernetes/blob/bc98f7a5f2086a62af80ad92f7201e7af5e0ef03/pkg/apis/core/v1/conversion.go#L157

[2018-07-12 11:29] evgkrsk commented on #62061
Same issue with 1.9.5.

[2018-07-12 11:52] wackxu commented on #66119
/assign

[2018-07-12 11:52] mgdevstack opened #66124 "Conformance Discussion to promote e2e tests which validate initContainer PodSpec"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Evaluating e2e tests based on available [PodSpecs](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2473) options which are covering important aspects with user scenarios and **_eligible to promote for conformance_**.

**What you expected to happen**:
These 4 e2e tests evaluate different [Po

[2018-07-12 11:54] mgdevstack commented on #66124
@kubernetes/sig-node-feature-requests

[2018-07-12 11:59] redbaron commented on #58131
@liggitt , thanks for clarifying, it seems that internal version can affect users only when apiserver can't decode stored objects, which shouldn't happen unless conversion controller is implemented. It explains why this topic is not covered widely - there is no much user-visible effect, which  just shows great work Kubernetes developers are doing.

For curious minds,   I found an extensive doc des

[2018-07-12 12:01] wackxu commented on #66119
But the `selector`  is a field of `volumeClaimTemplates` and is used to query over volumes to consider for binding. That is to say, the label is already in the field of `pvc`, Do we really need add the label to the `Labels`.

[2018-07-12 12:03] wackxu commented on #66119
And the `Labels` of pvc is come from `set.Spec.Selector.MatchLabels` not `volumeClaimTemplates.Spec.Selector.MatchLabels`.

[2018-07-12 12:05] wgliang commented on #66113
/assign

[2018-07-12 12:08] FengyunPan2 opened #66125 "Can't delete the 'Unknown' pod from dead node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When node becomes 'NotReady', the 'Unknown ' pod can't be deleted.

\# kubectl get pod kubernetes-dashboard-db4db8c77-4qqvm -n kube-system
NAME                                   READY     STATUS    RESTARTS   AGE
kubernetes-dashboard-db4db8c77-4qqvm   1/1       Unknown   0          3h
\# kubectl delete pod kubernetes-dashboard-db4db

[2018-07-12 12:08] sttts commented on #65790
A bitfield won't help if the users creates a CRD object in an old cluster. The user can then create one version of objects and read them back in another version and get unexpected results.

I have the feeling we are trying to solve one special case of a much more generic problem here, namely subversions of kinds and handling of unknown fields.

[2018-07-12 12:11] aojea commented on #65847
I think that I hit the same issue https://k8s-gubernator.appspot.com/pr/65824  and this test is flaky

The link to the failing job is https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65824/pull-kubernetes-bazel-test/52347/

Looking at the log the `Timeout` and the `Connection reset by peer` looks suspicious ç

[code]

[2018-07-12 12:12] FengyunPan2 commented on #66125
/sig node

[2018-07-12 12:17] phantooom opened #66128 "how to config Session Affinity when install cluster?"
`/sig service`
**What happened**:
i install k8s the k8s service Session Affinity is ClientIP
i have three node and tree ingress-nginx  when  a node down ingress-nginx may be can not init because of the session  ingress-nginx always connect a down node ip . the ingress-nginx will crash.
so when i install a new k8s cluster i will manual config k8s service, set Session Affinity: None。
1. is it a bug

[2018-07-12 12:47] christian-posta commented on #40968
that really sucks. what happened to @smarterclayton suggestion of `kubectl config set-ns` ?

[2018-07-12 13:08] shyamjvs commented on #66026
/assign

[2018-07-12 13:19] liggitt commented on #65790
I don't think it is urgent. You should not start using a new CRD conversion feature until your apiservers are upgraded and you will not roll back. Even if we added a conversion type discriminator field, that wouldn't protect from dropping unknown conversion-related fields when setting status via an old API server.

Documentation should be clear that any new conversion methods should only be used o

[2018-07-12 13:50] nikhita commented on #60070
/remove-lifecycle stale

[2018-07-12 14:06] Rachel-ResDiary opened #66130 "kubectl apply --dry-run --recursive experiences a race condition when applied to a directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

I ran `kubectl apply --recursive --dry-run -f .` in a directory with sub-folders. The order in which the yaml files were applied did not reflect their alphabetical order. Instead, longer running files could finish later than shorter running files whose filename was alphabetically later. e.g. : `aaa.my-k8s-file.yaml` might finish la

[2018-07-12 14:07] yingnanzhang666 commented on #65954
@jpbetz etcd is v3.1.9.
@wojtek-t test with #59871, after cache is ready, it indeed reduce a lot of time for serving list request with fieldSelector. But when cache was been initializing, the list hit etcd will give a huge pressure to etcd, also drag the time of cache ready. What I did now is return err for LIST with resourceVersion=0 until cache is ready, meanwhile ignore `runtime.HandleError` fo

[2018-07-12 14:10] juris commented on #66119
Ah! It makes sense now. Thank you for the explanation.

[2018-07-12 14:18] Rachel-ResDiary commented on #66130
@wg-apply

[2018-07-12 14:20] ResDiaryLewis commented on #66130
I'd just like to add, this happened because we were dry running CRDs and resources that depended on these CRDs. We're trying to validate our Kubernetes YAML.
You can replicate this by making a folder with a CRD yaml with `name=test_crd` and a resource with `Kind=test_crd`, then running `kubectl apply -f . -R --dry-run`. This succeeds in creating the resource *if* the CRD yaml file is created first

[2018-07-12 14:24] liggitt commented on #66130
doesn't `--dry-run` skip actually creating objects? what would you expect the dry run creation of a custom resource to do if the CRD doesn't actually exist on the server?

[2018-07-12 14:31] Rachel-ResDiary commented on #66130
I've tested doing a **dry-run** with two files, one of which creates a CRD, the other of which consumes it. That works, but only because the race condition lands in my favour in that limited scenario. An object created by one Yaml file is available to another within the same **dry-run**.

In answer to your question, I'd expect **dry-run** in combination with **recursive** to work sort-of-like a da

[2018-07-12 14:31] ensonic commented on #66113
Awesome, thanks for quick action.

[2018-07-12 14:32] whereisaaron commented on #61117
@albertvaka out of memory on a node can cause this, and when it happens the node can't update its own node status to say so. You might find the hyperkube process has leaked to use multiple GB of RAM. This might not be your problem but one idea to check.

[2018-07-12 14:34] mohammedzee1000 opened #66132 "Failing Test: [sig-aws] Kops aws tests are failing [BeforeSuite]"
# Failing Jobs
[sig-release-master-blocking#aws](https://k8s-testgrid.appspot.com/sig-release-master-blocking#aws)

# Failing Tests
[pull-kubernetes-e2e-kops-aws](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-kops-aws)

# Triage Results
[Kops BeforeSuite](https://storage.googleapis.com/k8s-gubernator/triage/index.html?job=kops&test=BeforeSuite)

[2018-07-12 14:35] mohammedzee1000 commented on #66132
/kind bug

[2018-07-12 14:41] liggitt commented on #66130
That is not accurate. Dry run doesn't set up any inter-object relationships within the run, it simply skips all writes to the server. I expect this is only working for you in scenarios where the CRD was actually already created previously on the server.

that is not what --dry-run does. it simply skips writes to the server. every individual object in every file is processed individually.

[2018-07-12 14:43] mikedanese commented on #66020
This needs some thought before we follow through. I haven't had time to write up my concerns yet. I think there might be better ways to achieve the same result.

[2018-07-12 15:03] ResDiaryLewis commented on #66130
We tested this on a cluster that had never had the CRD applied to it before and you're correct. However, it succeeds sometimes on our cluster that has previously had the CRD on it. We then used `kubectl proxy` on that cluster and saw that a reference to `/apis/monitoring.coreos.com` still existed despite deleting all CRDs. Could this be related?

Thanks for helping. Rachel said she'd write this up

[2018-07-12 15:05] Rachel-ResDiary commented on #66130
@liggitt You're right. I'm not sure why, but this appeared to work for me, because a cluster on which I had _previously_ applied then deleted a CRD still seemed to have it cached somewhere. This became apparently when I tried doing a similar `kubectl apply --recursive --dry-run -f .` on a completely new cluster on which the CRD had never been applied.

I'm not sure whether the fact that `dry-run`

[2018-07-12 15:08] liggitt commented on #66130
Deletion of a CRD blocks until garbage collection completes deleting all the custom instances. The CRD status should display that info in status.

discovery information is cached for a short period of time, so if you previously created and then deleted the CRDs, you might still have cached discovery information in ~/.kube/cache/discovery

Positive hits in the local discovery cache are not generall

[2018-07-12 15:10] ssboisen commented on #49817
Hi @kksriram any progress on making the vault KMS plugin standalone? Thanks for working on this!

[2018-07-12 15:14] liggitt commented on #66125
see https://github.com/kubernetes/kubernetes/issues/35145#issuecomment-254917371 for why the node controller does not hard delete pods

if the user wants to give up pod safety and manually delete the pods, they can use `kubectl delete --force --grace-period=0 ...`

[2018-07-12 15:20] Rachel-ResDiary commented on #66130
@liggitt Thanks very much for your help. 👍 Looks like we'll need to find another way to check whether our Yaml files with dependencies upon one another are valid as a collective. Maybe applying them to a fresh cluster overnight or something. Anyway, thanks.

[2018-07-12 15:36] Rachel-ResDiary commented on #66130
Closing: works as designed.

[2018-07-12 15:36] #66130 closed

[2018-07-12 15:37] liggitt commented on #66108
you must run `kubeadm init` per the setup instructions to create the required configuration.

see https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions

/close

[2018-07-12 15:37] #66108 closed

[2018-07-12 15:42] michaelkoro commented on #60987
I'm having the same issue with kubernetes 1.8.5, rancher 1.6.13, docker-ce17.03.02.
I think the kubelet should be able to acknowledge this problem, which obviously doesn't not happen..

[2018-07-12 15:54] liggitt commented on #65816
I wouldn't recommend doing that, because of server and memory load. I meant validation of local file existence and parsing, valid config file, etc.

[2018-07-12 15:56] mjaow opened #66133 "many orphan CLOSE_WAIT connections to kube-apiserver"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I have a cluster with 400 nodes and 16,000 pods.Recently, I found many orphan CLOSE_WAIT connections to kube-apiserver and They block request of client.
When I restart apiserver,everything works fine.But after several hours,orphan CLOSE_WAIT connections show and block request again.
After google,I realize that CLOSE_WAIT

[2018-07-12 15:58] mjaow commented on #66133
/sig api-machinery

[2018-07-12 16:01] neolit123 commented on #66067
/cc @kubernetes/sig-network-bugs

[2018-07-12 16:04] neolit123 commented on #65165
/cc @kubernetes/sig-cluster-lifecycle-bugs
/cc @kubernetes/sig-node-bugs

let's decide if this has to be moved in the `k/kubeadm` repo. thanks!

[2018-07-12 16:04] vladimirvivien commented on #65770
@RenaudWasTaken

As I mentioned, I believe there is support for nested plugin registration dirs.  Maybe an adopted convention is to ask driver author to provide a name spaced directory to avoid collision, i.e.:
- `./<driver-type>/<vendor-org>.<driver-name>`
- Examples: `./csi/k8s.nfs.sock`;  `./csi/aws.csi-driver.sock`; `./device/nvidia.gpu.sock`

That way there should not be any collision during

[2018-07-12 16:06] neolit123 commented on #65315
please, close this one and move create a new one in the `kubernetes/kubeadm` repo.

[2018-07-12 16:08] KIVagant commented on #56903
@mikksoone, no, I haven't. We decided to move the most problematic service out of K8s because we also found couple of critical issues not related to this one. After this I didn't research this problem with DNS.

[2018-07-12 16:15] neolit123 commented on #65995
kubeadm since 1.11 sets automatically the cgroup driver for the kubelet.

i see a missing container reference in the second to last image, which suggests that you are getting a "running state", of sorts and this issue is no longer about installing kube* tools.

the report is incomplete and it is unclear, which:
- k8s version you are using
- OS you are running on.

[2018-07-12 16:24] smarterclayton commented on #66125
Or they can delete the node object, which will cause the pods to be force deleted.

[2018-07-12 16:30] mrostecki opened #66134 "pkg/util/mount: Error when mount source in /proc/self/mountinfo is empty"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When `/proc/self/mountinfo` contains any line with empty mount source, kubelet fails with the following error:

[code]

**What you expected to happen**:

This error shouldn't occur and mountinfo lines with empty mount source should be parsed properly.

**How to reproduce it (as minimally and precisely as possible)**:

[c

[2018-07-12 16:31] mrostecki commented on #66134
/sig node

[2018-07-12 16:38] dims commented on #66134
@mrostecki what about one in moby? ( https://github.com/moby/moby/blob/master/pkg/mount/mountinfo_linux.go#L12-L107 ) i believe that's where the other ones originated from. Also see that the one in moby was updated. Guess we need to check if that still has the problem you are attempting to fix as well

https://github.com/moby/moby/commit/c611f18a7f16d8aa878a5a5c7537d23a0937c40a

[2018-07-12 16:40] mrostecki commented on #66134
The implementation of mountinfo parser which is working with empty sources is i.e. in Cilium:

https://github.com/cilium/cilium/blob/master/pkg/mountinfo/mountinfo.go

That's because `strings.Fields` trimps multiple spaces, using `strings.Split(s, " ")` splits by one space, which is more convenient for parsing mountinfo.

Since there is a lot of software written in Go which is using mountinfo and

[2018-07-12 16:41] dturn opened #66135 "1.10.0 ProgressDeadlineSeconds default added to v1beta1 deployment"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I create a deployment with `apiVersion: extensions/v1beta1 ` and no `progressDeadlineSeconds` set, the resource is actually created with `"progressDeadlineSeconds": 600`. This does not happen in 1.9.x versions of Kubernetes.

**What you expected to happen**:

I expect the resource to not have a `progressDeadlineSeco

[2018-07-12 16:43] mrostecki commented on #66134
@dims The implementation in Moby looks good, they're using `strings.Split` and doing that in similar way as Cilium. I will check it manually later.

Although running container with Moby/Docker after creating a mount with empty source will fail, because runc is parsing mountinfo incorrectly.

[2018-07-12 16:46] dturn commented on #66135
/sig apps

[2018-07-12 17:24] discordianfish commented on #43357
I have the exact same problem on a 1.10.3 cluster:

describe hpa:
[code]

controller manager logs:
[code]

[2018-07-12 17:40] liggitt commented on #66125
/close

[2018-07-12 17:40] #66125 closed

[2018-07-12 17:56] kelf commented on #65583
Same issue.  I've had to change the service name on each deploy as a work around.

[2018-07-12 18:09] keko00 commented on #65995
@neolit123
OS version: Centos 7.5
k8s version: v1.11.0

[2018-07-12 18:23] mikedanese commented on #66020
We discussed this on the original TokenRequest proposal:

https://github.com/kubernetes/community/pull/1973#discussion_r178581137

Some thoughts:

* I'm worried about breaking the API contract of PodSecurityPolicy where a pod running as a specific service account must run in a specific context. This is especially important as we start to use the kube service account to authenticate to services ins

[2018-07-12 18:59] kyessenov commented on #24725
Another example that is difficult to handle: sidecars and sidecar proxies, in particular. If an application container does not properly clean up after itself (e.g. UDS sockets), then the pod stays alive since the sidecar is still running. The application keeps trying to restart, and keeps failing since it attempts to use some resources that have not been cleaned up.

[2018-07-12 19:01] wsong commented on #65118
Incidentally, if I pass in `--healthz-port=0` as a CLI arg, I get this error when I start up the `kube-proxy`:

[code]

So the `--healthz-port=0` arg is completely broken on Kube 1.11.

I think this was introduced with this PR:

https://github.com/kubernetes/kubernetes/pull/49087

On this line, Kubernetes validates the `HealthzBindAddress`, but it doesn't check to see if it's blank:

https://githu

[2018-07-12 19:16] kksriram commented on #49817
We should have something next week. Will update here with a link

[2018-07-12 19:48] phagunbaya commented on #62770
Experiencing the same. Any help?

[2018-07-12 19:58] smarterclayton commented on #40968
We should really get set-ns in place.  It's just an oversight.

On Thu, Jul 12, 2018 at 8:48 AM Christian Posta <notifications@github.com>
wrote:

[2018-07-12 20:03] debianmaster commented on #40968
please make this happen!

[2018-07-12 20:03] liggitt commented on #40968
or let you pass `--current-context` in lieu of a name to set-context, which would let you set any of the fields in the current context, not just namespace

[code]

[2018-07-12 20:12] deads2k commented on #65612
Is anyone working on this already?

@p0lyn0mial this could be a way to ease into the generator space.  Generators like this can be really helpful when trying to create typed resources.

[2018-07-12 20:14] fedebongio commented on #65994
/cc @caesarxuchao

[2018-07-12 20:14] deads2k commented on #65612
Here is a good example of the register.go that includes a non-package matching group name: https://github.com/kubernetes/api/blob/master/rbac/v1/register.go

[2018-07-12 20:15] fedebongio commented on #66068
/cc @caesarxuchao @janetkuo

[2018-07-12 20:15] fedebongio commented on #66133
/cc @cheftako

[2018-07-12 20:16] derekperkins opened #66137 "StatefulSet: update forbidden because of PVC storage units"
/kind bug

When deploying a StatefulSet, I included a PVC that specified `2048Gi` for the storage capacity. `kubectl apply` worked perfectly. Running `kubectl apply` again without making any changes failed with the error:

[code]

After comparing the server-side yaml to my original, I noticed that it had changed the storage capacity of my PVC to `2Ti`. Changing my original from `2048Gi` to `2Ti` a

[2018-07-12 20:22] derekperkins commented on #66137
@kubernetes/sig-storage-bugs

[2018-07-12 20:31] caesarxuchao commented on #65994
We can't tighten the validation, since that would be backwards incompatible.

We can update the namespace registry to respect metadata.finalizer as well.

[2018-07-12 20:33] msau42 commented on #66137
cc @k8s-mirror-api-machinery-bugs

This is probably an issue for any resource.Quantity type.

[2018-07-12 20:42] seeb0h commented on #34856
Same as @caesarxuchao.
`propagationPolicy`  is not working with this query: `https://my-ip/apis/batch/v1/namespaces/default/jobs/downloading-inputs-5694510977777664?propagationPolicy=Background`

[code]

version 1.10.5-gke.0 (Google Cloud)

[2018-07-12 20:45] tsuna commented on #24913
@bgrant0607 JFYI, using a deployment doesn't fix the problem here, at least with v1.9.6 editing the limit in the deployment doesn't cause any change to be rolled out by the controller.

[2018-07-12 20:48] msau42 commented on #64626
I wonder if this could be the same issue as https://github.com/kubernetes/kubernetes/issues/64239

[2018-07-12 20:53] #50857 closed

[2018-07-12 21:49] MrHohn opened #66141 "[Failing job] ci-kubernetes-e2e-gce-cosbeta-k8sdev-nosnat"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind e2e-test-failure
/sig network

**What happened**:
From sig-network dashboard (https://k8s-testgrid.appspot.com/sig-network-gce#cosbeta-no-snat), cosbeta-no-snat job is consistently failing since 07/09/2018 with below error:
[code]

@kubernetes/sig-network-test-failures
cc @mtaufen @bowei @jingax10

[2018-07-12 21:54] #54650 closed

[2018-07-12 22:05] caesarxuchao commented on #66068
Requiring ownerRef.UID makes it impossible to describe ownerships in static config files. If we were going to re-implement the garbage collector from scratch, I would make ownerReference.UID optional.

[2018-07-12 22:14] #64985 closed

[2018-07-12 22:35] janetkuo commented on #61430
/remove-lifecycle stale

[2018-07-12 22:38] robodendron opened #66142 "Ability to use ECDSA CA key with `kubeadm init`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

`/etc/kubernetes/pki/ca.key` exists and is in ECDSA format:

[code]

**What you expected to happen**:

`[certificates] Generated <key>.`

**Anything else we need to know?**:

[This](https://github.com/kubernetes/kubernetes/blob/v1.11.0/cmd/kubeadm/app/phases/certs/pkiutil/pki_helpers.go#L199-L206) seems to be the cul

[2018-07-12 22:49] MrHohn commented on #66141
From the error message it seems like the test instance timed out connecting to the node on port 31235, which feels like a firewall issue. But in e2e test we explicitly allow external traffic on ports 30000-32767.

Also I failed to reproduce this locally.

[2018-07-12 23:50] liggitt commented on #66068
What would you want GC do without that data:
* leave uid empty and be vulnerable to delete/recreate scenarios?
* fill in missing uids with actual uids via GC controller on first observation?

[2018-07-13 00:18] Proteles commented on #65863
But what about new installs of 1.11.0 (NOT upgrades)
getting the same error on a clean CentOS

and what to do in the meantime until 1.12 is released?

[2018-07-13 00:24] liggitt commented on #65863
New installs require running `kubeadm init`

See https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#instructions

[2018-07-13 01:54] chenqiangzhishen commented on #33777
workaround by restart kube-scheduler, then everything goes ok...

[2018-07-13 01:58] #59765 closed

[2018-07-13 01:58] chenqiangzhishen commented on #33777
workaround by restart kube-scheduler, then everything goes ok...

[2018-07-13 02:00] wenwu449 opened #66146 "ServiceController: LoadBalancer service may get ExternalIP <pending> forever."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Create a load balancer service and update it immediately, the ExternalIP of the service may be <pending> forever, even the load balancer has get the IP.
**What you expected to happen**:
The ExternalIP of a load balancer service should be updated when the load balancer get the IP.
**How to reproduce it (as minimally and pr

[2018-07-13 02:39] liqlin2015 commented on #66103
10.0.0.1 is the clusterIP of kubernetes service.

[code]

[2018-07-13 02:44] cofyc commented on #66134
`/proc/<pid>/mounts` has same issue too.

`util-linux` has [libmount library](https://mirrors.edge.kernel.org/pub/linux/utils/util-linux/v2.21/libmount-docs/) which contains mountinfo/mounts parsers, probably we can have a mount parser library in go for same purpose.

[2018-07-13 03:28] cofyc opened #66148 "Add more integration tests for volume related predicate invalidations"
- [ ] CheckVolumeBinding predicate invalidation on PV update
  - Why we need to invalidate CheckVolumeBinding predicate cache on PV update: https://github.com/kubernetes/kubernetes/pull/66106
- [ ] invalidate CheckVolumeBindingPred/NoVolumeZoneConflictPred predicates cache when a WaitForFirstConsumer storage class is deleted
  - See https://github.com/kubernetes/kubernetes/pull/65616

Related issu

[2018-07-13 03:29] cofyc commented on #66148
@kubernetes/sig-storage-feature-requests
/assign

[2018-07-13 04:01] mjaow commented on #66133
Should I add apiserver (3->5)，or offline some server connected to apiserver?

[2018-07-13 05:48] SunnyDou opened #66150 "In the cluster HA state, the controller manager cannot lock the leader."
/sig cluster
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
**What happened**:
When I create the HA of the kubernetes master node (3 nodes), when the controller manager of the first node gets the leader state, the second node can still get the leader. In this case, multiple secrets are created in the same sa. And the secrets bound by sa that are queried on different master nodes are incon

[2018-07-13 05:53] ixdy commented on #65968
Fix should land in 1.11.1.

[2018-07-13 05:53] #65968 closed

[2018-07-13 05:54] krmayankk commented on #66150
/sig cluster

[2018-07-13 05:54] krmayankk commented on #66150
/sig api-machinery

[2018-07-13 06:00] GoodJoey opened #66151 "what is imagefs, how to increase imagefs?"
Hi, on some nodes of my cluster, i get this error: The node is low on resource: imagefs.
I'm pretty sure there are still lots of spaces on the nodes.
So, is there any way to increase the imagefs of the nodes? Thanks very much.
my kuber version is 1.9.0

[2018-07-13 06:05] #40968 closed

[2018-07-13 06:13] krmayankk commented on #66137
/sig api-machinery

[2018-07-13 06:16] m1093782566 commented on #66103
cc @Lion-Wei

[2018-07-13 06:31] sadlar commented on #50305
@XericZephyr https://github.com/kubernetes-incubator/kube-aws/issues/1307  i find someway to change it .

[2018-07-13 06:43] mckingho commented on #13776
Is this command working on `remote pod -> remote pod`? I tried with `kubectl cp podA:/app/a.tar.gz podB:/app/` and got `error: open /app: permission denied`.
Is it unsupported or permission issue that i set unproperly? I can cp from podA to local and then cp from local to podB inconveniently.

[2018-07-13 06:50] miaoshixuan commented on #63648
Your  rbd storageclass config missed `imageFeatures: "layering" `

[2018-07-13 06:54] miaoshixuan commented on #63648
also you can set `imageFormat: "1" `

[2018-07-13 07:11] anupam4881 commented on #65464
Dear Team,

any help will he appreciate, during deployment we are getting this error some time also during creation of new services.

[2018-07-13 07:22] lanchongyizu commented on #65207
[code]

Hi @pmoncadaisla, I triage it in local cluster with the master code, but couldn't reproduce the issue. We can find that the CPU resources requested by successful history jobs have been released.

In addition, in your case above, if the successful history job doesn't release the requested CPU/Mem resource, thus the node would fail other pods that request more CPU/Mem resource than the node'

[2018-07-13 07:32] pmoncadaisla commented on #65207
Hi @lanchongyizu , it didn't seem to be a problem with the UI, because it happened that more and more nodes there added because of the cluster auto scaler, and no containers were running in many nodes.

Is there anything you want me to check?

[2018-07-13 08:24] jontis commented on #65221
command to refresh snap of kubectl to 1.10.5 where kubectl cluster-info dump works for me :
`sudo snap refresh kubectl --channel 1.10/stable`

[2018-07-13 08:37] SunnyDou commented on #66150
The reason is due to data inconsistency in different nodes in my etcd cluster.

[2018-07-13 08:37] #66150 closed

[2018-07-13 08:40] nikhita commented on #65464
@anupam4881 This doesn't look like a Kubernetes bug. Please re-post your question to [Stack Overflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requests,
and to make it easier for you to find answers to frequently asked questions and
ho

[2018-07-13 08:40] #65464 closed

[2018-07-13 08:57] jontis opened #66153 "kubectl get svc streamwatcher.go:109] Unable to decode an event from the watch stream: stream error"
/kind bug

**What happened**:
Installed dask on EC2 kubernetes.
Then
$ kubectl get svc --namespace default -w fantastic-hare-dask-jupyter
NAME                          TYPE           CLUSTER-IP       EXTERNAL-IP        PORT(S)        AGE
fantastic-hare-dask-jupyter   LoadBalancer   10.152.183.209   abe472d9e8676...   80:31526/TCP   21m
E0713 10:51:20.601473   22966 streamwatcher.go:109] Unable to

[2018-07-13 08:59] p0lyn0mial commented on #65612
/assign @p0lyn0mial

[2018-07-13 09:03] sta-szek opened #66154 "Add deployment/pod/container state"
/kind feature
First of all I tried to search for similar issue but there is too much of them and I couldn't find nothing.
If this is duplicate please close it.

It would be nice to see
* container status -- taken from kubectl describe pod...   -- currently we cannot see that and have to use kubectl
* see why it failed  --   again, i have to ue kubectl
* see it's lifecycle -- e.g. it was moved to a

[2018-07-13 09:05] #58308 closed

[2018-07-13 09:05] miaoshixuan commented on #63648
You install your cluster with kubespray, I found that kubespray run controller-manager in hyperkube image.you should upgrade ceph verion of hyperkube image.

[2018-07-13 09:10] sta-szek commented on #66154
@kubernetes/sig-ui-feature-requests

[2018-07-13 09:16] lanchongyizu commented on #65207
Hi @pmoncadaisla Could you try `kubectl describe node` when the issue happens? And I will triage `Kubernetes version (use kubectl version): v1.9.7` later when I got time.

[2018-07-13 09:35] nikhita commented on #65994
maybe a use case for ratcheting validation: https://github.com/kubernetes/kubernetes/pull/64907?

/cc @liggitt

[2018-07-13 09:47] xiaoxubeii opened #66155 "KubeProxyConfiguration lacks of HealthzPort to disable health check server"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/kind feature

**What happened**:
`KubeProxyConfiguration` lacks of `HealthzPort` to disable health check server. The issue is relevant to #65118.

**What you expected to happen**:
Add `HealthzPort` to `KubeProxyConfiguration`.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2018-07-13 09:48] xiaoxubeii commented on #66155
/sig network

[2018-07-13 09:48] xiaoxubeii commented on #66155
/assign

[2018-07-13 09:51] xiaoxubeii commented on #65118
I think we should also add `HealthzPort` to `KubeProxyConfiguration`, i will implement it.

[2018-07-13 09:51] nikhita commented on #66113
/sig api-machinery
/kind enhancement

[2018-07-13 10:04] nzoueidi commented on #66151
You may look at: kubernetes/kubernetes#9518

[2018-07-13 11:07] #58004 closed

[2018-07-13 11:07] #58146 closed

[2018-07-13 11:07] #55559 closed

[2018-07-13 11:18] mvernimmen commented on #51835
Having the same problem (pods remain in terminating because a file within the pod can't be unmounted because the device is 'busy') on 1.10.5. For me using the `--grace-period=0 --force` will result in the mountpoint to continue to exist. Eventually I ended up with over 90000 mountpoints, which severely slowed down the cluster. The workaround here is to do a find in the pod's folder and recursively

[2018-07-13 11:29] dick-twocows opened #66159 "pod stuck in terminating after node crash"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Node crashed and pods are stuck in terminating.

Events:
  Type     Reason         Age                    From                   Message
  ----     ------         ----                   ----                   -------
  Normal   Killing        25m (x65928 over 11d)  kubelet, 130.61.58.85  Killing container with id docker:

[2018-07-13 12:14] discordianfish commented on #43357
I've deleted the HPA but something is still scaling my deployment up and down.

[2018-07-13 12:31] bobhenkel commented on #60807
Same issue on an EKS 1.10.3 cluster:
[code]

[2018-07-13 13:11] xiaoxubeii commented on #66146
/sig network

[2018-07-13 13:19] slecrenski opened #66161 "externalIPs Service Abstraction not preserving real client-ip even when using externalTrafficPolicy"
**Is this a BUG REPORT or FEATURE REQUEST?**:  BUG REPORT

/kind bug
/sig network

**What happened**:

Background:

I am using Kubernetes externalIPs attribute in an nginx-ingress-controller service to bind to port 80/443 on each K8s Node.  This allows me to not really require a Load Balancer and use the Native features of Kubernetes.  Traffic can just ingress to any node and it is routed as neces

[2018-07-13 13:45] discordianfish commented on #43357
I think I solved this issue by restarting the apiserver (which I did to enable request logging to figure out what exactly is updating the deployment), which doesn't really make sense..

The day before we observed the issue we had a misbehaving application that send lots of update attempts to a configmap, causing high(er) load on the apiserver. We didn't observe any direct issues due to that but ma

[2018-07-13 13:49] sivarajp commented on #45419
+1
Kubernetes: v1.8.7+coreos.0
Docker: 17.05.0-ce
OS: Redhat 7x
CNI: Calico
Kubespary 2.4

[2018-07-13 13:59] bnason opened #66162 "Pod seemingly not using imagePullSecrets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

Followed the guide at https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/ in order to pull an image from a private registry and this is the error I receive:

**What you expected to happen**:

The image should be pulled successfully.

**How to reproduce it (as minimally and precisely as p

[2018-07-13 14:03] liggitt commented on #66162
/sig node

[2018-07-13 14:05] piosz commented on #55725
@bmoyles0117 PTAL

[2018-07-13 14:06] komljen commented on #45419
With latest stable CoreOS `1745.7.0` I don't see this issue anymore.

[2018-07-13 14:22] habeebshk opened #66163 "Kubernetes Ingress Isssue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
hey , i am setting up a cluster for an api service which is supposed to return error 404 and say cannot get, but when i try to expose it using ingress, its failing health checks saying something like backend instances are unhealthy .
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

[2018-07-13 14:33] bnason commented on #66162
It seems like the recommended command for creating the secret is creating a `kubernetes.io/dockercfg`.

If I manually create a `kubernetes.io/dockerconfigjson` with the yaml below, authentication works.

[code]

[2018-07-13 14:42] bnason commented on #66162
This is user error. The secret was created using a 1.9 client days ago which created it as a `dockercfg`. Using the up to date kubectl correctly creates a `dockerconfigjson` which works fine.

[2018-07-13 14:42] #66162 closed

[2018-07-13 14:46] karlhungus commented on #62120
Going to close this as fixed by cancellable leader election

[2018-07-13 14:46] #62120 closed

[2018-07-13 14:55] mrostecki commented on #66134
I created a repo with mountinfo parser based on Cilium, Kubernetes and Moby: https://github.com/mrostecki/gomountinfo

Please take a look and let me know what do you think. I will try to take care of godocs and add `/proc/<pid>/mounts` support soon (for now it only handles `self`).

[2018-07-13 15:24] liggitt commented on #66110
fixed in #66024, will be in 1.11.1
/close

[2018-07-13 15:24] #66110 closed

[2018-07-13 15:24] liggitt commented on #66159
/sig node

[2018-07-13 15:46] MrHohn commented on #62479
/remove-lifecycle stale

[2018-07-13 15:47] robodendron commented on #66142
/sig cluster-lifecycle

[2018-07-13 15:56] liggitt commented on #65994
No, both API fields have meaning and can be used to good effect:
* `metadata.finalizers` can be populated just like any other object, and dealt with consistently. We would not break this.
* `spec.finalizers` has special access patterns for namespaces (the `/finalize` subresource), which we also would not break.

I think the action items here are:
* fix the namespace registry custom Delete implemen

[2018-07-13 16:00] thockin commented on #65663
This works for me from an unauthenticated machine.  Is it still happening or transient?

[2018-07-13 16:02] Rajczyk commented on #62594
I'm seeing this as well.

[2018-07-13 16:10] MaciekPytel commented on #43357
I think a possible explanation for issue reported by @discordianfish could be informer missing a delete event for HPA? My guess would be that restarting apiserver forced informer to re-list resources, which would explain why it solved the issue.

@kubernetes/sig-api-machinery-bugs Does the above make any sense?
@bsalamat That looks similar to the issues with scheduler missing delete events. Have w

[2018-07-13 16:17] barnsnake351 commented on #65879
This issue is affecting our installations as well. Setting the kubelet flag `--root-dir`, as mentioned in #65110, to the value referenced by our symlink from /var/lib/kublet seems to resolve the issue.

We noticed this specifically on pods which use volume subPath mounts. The source was either a configMap or secret in most cases

Example recurring error in kubelet logs manifests as a `device or re

[2018-07-13 16:37] azzaka commented on #65863
I printed a new join command. Ran it and ignored pre-flight errors so i didn't need to run kubeadm reset. The node rejoined and looks healthy.

[2018-07-13 17:03] msau42 commented on #65972
These tests have been removed from the suite as it requires special node setup that our CI does not have.

/assign
/close

[2018-07-13 17:03] #65972 closed

[2018-07-13 17:35] caseydavenport commented on #65943
Is the pod sandbox container ID available? i.e. the `pause` container ID? Last I checked it was only the user-specified containers that had IDs available through the API.

[2018-07-13 17:39] jpbetz commented on #65954
52 seconds? Wow. Do you run a single etcd cluster or have you split out a separate one for events? E.g. `-etcd-servers-overrides=/events#<semi-colon-separated-list-of-etcd-endpoints>` ?  I'm curious if you may have encountered https://github.com/kubernetes/kubernetes/issues/47532

[2018-07-13 17:46] timothysc commented on #53213
@stevekuznetsov @BenTheElder - Is there anyone on test-infra side looking at this?  From what I saw it was totally a test-infra issue.

[2018-07-13 17:52] liggitt commented on #66137
fix is in #66165 with picks open to 1.11, 1.10, 1.9

[2018-07-13 18:01] BenTheElder commented on #53213
No? This is a bug in the test framework, not the infra.

[2018-07-13 18:08] fspaniol opened #66170 "Copy command no longer copies contents of folder"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
After upgrading to Kubectl v1.11 the `kubectl cp` command is copying the whole folder whereas, in previous versions, it would copy only its contents.

**What you expected to happen**:
To either copy the folder itself or its contents, but the behavior should not change.
I would think that copying the folder would be more intuitive, m

[2018-07-13 18:10] geekgonecrazy commented on #64743
The above is from a recently upgraded 1.10.5-gke.0 so the hairpin message does occur.  I haven't gotten any occurrences of:

or other PLEG issues yet.  But when I upgraded to 1.10.3 I didn't have any node issues for a while either so still watching and waiting.  :(

[2018-07-13 18:32] fspaniol commented on #66170
/sig sig-cli
/kind bug

[2018-07-13 18:36] integrii commented on #45419
How long have you been watching after updating @komljen? For us, this takes awhile to occur?

[2018-07-13 19:15] #59816 closed

[2018-07-13 19:20] oCHRISo commented on #62594
Found the same on kube 1.8 with the above basic config

[2018-07-13 19:46] komljen commented on #45419
I had those issues every few days on one large CI environment, and I think I tried everything without success. Changing OS to above CoreOS version was the key, and I don't see this for one month already.

[2018-07-13 19:51] oivindoh commented on #45419
I haven’t seen the issue for over a month either; without any changes, so I wouldn’t be so quick to declare the patient healthy :-)

[2018-07-13 20:16] #42164 closed

[2018-07-13 20:20] raul-barreto opened #66176 "Not able to access nodePorts"
**What happened**:
The services can be installed and in the logs it's exposed on a node port but I can't access the nodePort from the node neither externally.

**What you expected to happen**:
Be able to access the node Port.

**How to reproduce it (as minimally and precisely as possible)**:
Created a instance on AWS with the AMI ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20180627 (ami

[2018-07-13 20:34] rhyspowell opened #66178 "cloud-controller-manager not finding kubeconfig file"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

/sig cloud-provider

**What happened**:
[code]

trying to run cloud-controller-manager and setting the --kubeconfig and file is never found

**What you expected to happen**:
file is found and data processed

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
[root@ip-10-15-74-86 ~]#

[2018-07-13 20:55] sivarajp commented on #45419
@komljen  We run centos 7. Even today one of our node went down.

[2018-07-13 21:00] david972 commented on #42616
@pieterlange
I missed something.
How can you fix it with strip tcp proxy protocol with NGINX ?

[2018-07-13 21:04] timothysc commented on #65165
closing due to stale feedback.

If you still have an issue, please reopen in https://github.com/kubernetes/kubeadm

[2018-07-13 21:04] #65165 closed

[2018-07-13 21:05] timothysc commented on #65451
Upgrades that skip versions is not supported and documented.
v1.75 to v1.9.x is unsupported -> closing.

[2018-07-13 21:05] #65451 closed

[2018-07-13 21:09] timothysc commented on #65995
closing this issue.

If you are still seeing an issue please open in the kubeadm repo here - https://github.com/kubernetes/kubeadm

[2018-07-13 21:09] #65995 closed

[2018-07-13 21:11] timothysc commented on #66142
@robodendron - thank you for reporting - if you are still having an issue please feel free to log an issue in the kubeadm repo - https://github.com/kubernetes/kubeadm

xref: https://github.com/kubernetes/kubeadm/issues/984

[2018-07-13 21:11] #66142 closed

[2018-07-13 21:16] timothysc commented on #65071
I'm closing this issue here, if you are still having an issue please reopen in the kubeadm repo - https://github.com/kubernetes/kubeadm

Please keep in mind there have been massive refactoring in the v1.11 upgrade code, so it's possible you issue no longer exists.

[2018-07-13 21:16] #65071 closed

[2018-07-13 21:18] yastij opened #66181 "detach volumes from nodes when nodeShutdown is applied"
As planned for 1.12 in kubernetes/features#551:

After #60009, the next step is to add the logic to the reconciler to detach the volumes when the nodeShutdown taint is applied.

/assign
/sig storage
/kind feature

looping @jingxu97

[2018-07-13 22:18] #50363 closed

[2018-07-13 23:04] #66093 closed

[2018-07-13 23:36] verult commented on #65392
@orainxiong is the terminationGracePeriod set inside the statefulset?

[2018-07-14 00:17] janetkuo commented on #55346
This is a regression and the fix was just merged: #66094

[2018-07-14 00:40] jiayingz commented on #65773
@RenaudWasTaken  thanks a lot for filing this work tracker!

Some items we may also add to 1.2 or 1.3 releases may include:
- Adding design doc. I think Vikas already has a PR for this.
- Some e2e test plan. For device plugin, I think we also would like to get upgrade/downgrade parts well tested before enabling the feature by default.
- Handling fsnotify watcher errors.

Personally, I also would l

[2018-07-14 01:00] #65244 closed

[2018-07-14 01:55] verult opened #66184 "Structural validation of AllowedTopologies field in StorageClass"
/kind feature

The `AllowedTopologies` field essentially has the type `set( map(string, set[string]))`, but currently there is no validation for set and map semantics, i.e. unique elements / keys.

Having this validation at API level removes logic to validate at the volume plugin level.

~~In addition, validation will reject empty sets and empty maps.~~
edit: this check will not be added in cases

[2018-07-14 01:57] verult commented on #66184
/assign

[2018-07-14 02:05] linyouchong opened #66186 "redundant running container exists"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
docker restart container of Pod
some times,there will be 2 running containers exits

**What you expected to happen**:
it should be only one running containers

**How to reproduce it (as minimally and precisely as possible)**:
1. Start a pod with one running container (exclude the pause container)
2. Run cmd: docker stop xx

[2018-07-14 02:13] linyouchong commented on #66186
/sig-node

[2018-07-14 02:30] linyouchong opened #66189 "eviction_manager didn't start with invalid kubelet flags"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
start kubelet with `--enforce-node-allocatable=pods,kube-reserved,system-reserved` and without `--system-reserved`
e.g.
/usr/bin/kubelet --v=9 --address=0.0.0.0 --hostname-override=10.114.51.205 --kubeconfig=/etc/kubernetes/kubelet.kubeconfig --pod-manift-path=/etc/kubernetes/manifests --log-dir=/root/info/logs/k8s --fail-

[2018-07-14 02:31] linyouchong commented on #66189
/sig node

[2018-07-14 02:31] tubzby commented on #65663
It's ok now.

[2018-07-14 02:40] laevilgenius commented on #60694
I've got the same issue in v1.11.0.
Worked it around by removing the `return` statement here:
https://github.com/kubernetes/kubernetes/blob/91e7b4fd31fcd3d5f436da26c980becec37ceefe/pkg/volume/plugins.go#L596

[2018-07-14 03:46] edwardsun9 opened #66195 "Custom Cluster Can't Deploy Application"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
I have build a single master custom cluster without any security checking:
authorization-mode=AlwaysAllow and schema=http

Now, every service work properly (maybe or maybe not)
[code]
But it's able to deploy any application !
I tried offical document sample
`kubectl create -f  https://k8s.io/examples/controllers/nginx-dep

[2018-07-14 03:49] edwardsun9 commented on #66195
/sig apps

[2018-07-14 04:41] liggitt commented on #66178
Are you mounting in that file to that location?

[2018-07-14 06:13] edwardsun9 commented on #66195
And I haved tried run the nginx image with docker directly which will work too
[code]

[2018-07-14 06:15] edwardsun9 commented on #66195
And the nodes status is also ready:
[code]

[2018-07-14 06:26] Sn0rt opened #66204 "can we support create extended-resources with yaml ?"
/kind feature
/sig node

In really world,many resources have been limited.
such as elastic network interface, which only can be created 8 or less, it's limited by `qemu`.

I found that we can create a extended-resources to describe the limit, however,
the `curl` is not producted method.

can we imporve this ?
example
[code]

[code]

and we can modify the nodeSelector to create the extern resource,

[2018-07-14 08:01] sttts commented on #62323
/remove-lifecycle stale

[2018-07-14 08:02] sttts commented on #65612
/cc @pwittrock

For inspiration also take a look at https://github.com/kubernetes-sigs/kubebuilder/blob/master/samples/full/controller/src/samplecontroller/pkg/apis/samplecontroller/v1alpha1/zz_generated.kubebuilder.go.

[2018-07-14 08:11] orainxiong commented on #65392
`terminationGracePeriod` is 0 if I remember correctly.

[2018-07-14 08:16] IvanovOleg commented on #66031
`# k8s.io/kubernetes/pkg/features
..\..\go\src\k8s.io\kubernetes\pkg\features\kube_features.go:415:48: cannot use "k8s.io/apiextensions-apiserver/pkg/features".CustomResourceValidation (type "k8s.io/apiextensions-apiserver/vendor/k8s.io/apiserver/pkg/util/feature".Feature) as type "k8s.io/apiserver/pkg/util/feature".Feature in map key
..\..\go\src\k8s.io\kubernetes\pkg\features\kube_features.go:41

[2018-07-14 08:17] TerraTech commented on #36391
/remove-lifecycle rotten

[2018-07-14 09:45] pieterlange commented on #42616
https://github.com/kubernetes/ingress-nginx/blob/master/docs/user-guide/exposing-tcp-udp-services.md

[2018-07-14 11:31] #59806 closed

[2018-07-14 17:49] rchicoli commented on #55713
I am not quite sure, if this is related to this issue. Let me know, if I should create a new one.
After restarting the cluster, Kubernetes API is reporting wrong POD status.
As you can see all Nodes are offline (kubelet and docker are not running), so I expected at least an Unknown Pod status. Somehow it shows running, even after few minutes later.

[code]
I am using the latest kubernetes version

[2018-07-14 18:12] abh commented on #42649
@gtaylor

You have to delete and re-create to get unstuck; or set startingDeadlineSeconds higher than the time since the job was last run. There was the other use case of "if the cluster has been off", too, but I think this is the primary issue -- the suspend is impractical to use because of this.

[2018-07-14 18:31] Jeffwan commented on #64580
@thockin

I use socket to connect to  a cluster IP which has many backend pods listening on same port. I notice random is totally not guaranteed. I disable sticky session on Service level (by default) but I am wondering if iptable proxy mode has something in-built to reuse address of backend pod.

I send ~1000 request and they all go to same pod.

[2018-07-14 19:40] rhyspowell commented on #66178
ahh, sorry completely missed that. On with the next problem its throwing up

Thanks for pointing out the obvious

[2018-07-14 19:40] #66178 closed

[2018-07-14 20:40] #43806 closed

[2018-07-14 20:42] RobertDiebels commented on #45726
/remove-lifecycle stale

[2018-07-14 21:41] #27945 closed

[2018-07-14 21:41] #33508 closed

[2018-07-14 23:05] manjotpahwa1 commented on #43953
@jingax10

[2018-07-14 23:50] wking commented on #25625
I don't think I understand this well enough to know if the drain code should be moved to the server or not, but at least for Go projects we should be able to help clients by moving the logic from `pkg/kubectl/cmd/drain.go` into somewhere under `staging/src/k8s.io/client-go/`.  Is there any appetite for that?  It would allow Go clients to drain nodes without vendoring all of the command-line parsin

[2018-07-15 00:41] thessem commented on #45746
/remove-lifecycle stale

[2018-07-15 04:59] evanrich opened #66216 "kubernetes not respecting apparmor profile?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
I'm trying to deploy unifi video from ubiquiti in a pod, using this docker image: [https://github.com/pducharme/UniFi-Video-Controller](https://github.com/pducharme/UniFi-Video-Controller)  based on the documetation, it says I need to use "--security-opt apparmor:unconfined" to get around issues mounting tmpfs, but when

[2018-07-15 05:56] Lion-Wei commented on #66103
https://github.com/kubernetes/kubernetes/issues/61938
I think this is same issue, and should have been solved in 1.11. : )

[2018-07-15 07:44] nckturner commented on #66132
Who actually owns these tests/has access to the infrastructure/etc? I'd be happy to help out but I don't know where to start.

[2018-07-15 07:45] nckturner commented on #62185
/remove-lifecycle stale

[2018-07-15 08:59] subinmt opened #66217 "Fetch Custom logs From Plain Text File For EFK Stack"
I have collected some logs/data from my server and stored in a text file. Now I want to display these logs/data to my own Kibana. After a detailed googling I could understand that, its possible by indexing/inputting my logs/data text file to Fluentd. How can I do this?
/sig scalability to apply the sig/scalability label

[2018-07-15 09:52] YoniTapingo commented on #45976
@joekohlsdorf "We have switched our resolvers to TCP" Could you elaborate on how you made the change?

[2018-07-15 11:13] edwardsun9 commented on #66195
I found some error logs in Controller-Manager complain missing Token, after disable all admission plugins, there issue got resolved.

[2018-07-15 11:13] #66195 closed

[2018-07-15 12:56] #56930 closed

[2018-07-15 13:06] liggitt commented on #66216
The annotation should go on the template, since you want it to end up on the pod object:

[code]

[2018-07-15 14:03] nikhita commented on #62329
/remove-lifecycle stale

[2018-07-15 14:04] nikhita commented on #62329
There is also the issue that go-openapi for openapi v3 is not maintained: https://github.com/kubernetes/kubernetes/issues/62326.

[2018-07-15 15:43] nikhita commented on #48211
/remove-lifecycle stale

[2018-07-15 17:00] #59869 closed

[2018-07-15 17:57] IvanovOleg opened #66220 "DNS resolution issue in the kube-system namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig bugs

**What happened**:
I have a statefulset configuration with 3 replicas. If I deploy it to the default namespace, pods can resolve each other DNS. If I deploy the same statefulset to the kube-system namespace, they can't.

**What you expected to happen**:
Pods can resolve each other in the same namespace regardless of it's name

**H

[2018-07-15 19:45] liggitt commented on #66220
What dns names are they attempting to resolve?

[2018-07-15 20:11] IvanovOleg commented on #66220
cassandra-*.cassandra.kube-system.svc.cluster.local

[2018-07-15 20:12] evanrich commented on #66216
@liggitt  aww man thank you so much.   Been banging my head on this for hours.

[2018-07-15 20:12] #66216 closed

[2018-07-15 21:09] whereisaaron commented on #44954
@irfanurrehman this is an issue for anyone running more that one cluster, it is not specifically a federation issue. I have the same use case as @tback. The ability to tag resources and back-ups with a unique/stable identifier that tracks it back to the cluster.

[2018-07-15 21:15] RenaudWasTaken commented on #65770
@vladimirvivien currently we don't require the socket name to be equal to the name advertised (i.e the name field in the gRPC API).

I don't believe we should adopt a convention on the full name either. As mentioned in the first post a legitimate use case for this discussion here is a plugin "upgrading" following a 0 downtime scheme.

To give a full example:
1. The NVIDIA device plugin 1.9.1 regis

[2018-07-15 21:21] RenaudWasTaken commented on #65773
@jiayingz do you mind creating an issue for handling fsnotify watcher errors and the e2e tests?
I've added the tasks to the tracker.

[2018-07-15 21:32] RemingtonReackhof commented on #30507
/close

[2018-07-15 21:32] #30507 closed

[2018-07-15 23:01] ravisantoshgudimetla commented on #22212
/remove-lifecycle stale

xref: https://github.com/kubernetes/kubernetes/issues/65990

[2018-07-15 23:06] #54932 closed

[2018-07-16 00:07] #59839 closed

[2018-07-16 00:37] rkttu-devsisters commented on #65163
@PatrickLang @daschott I've built it in another environment, but this time with the HTTP pod liveness check, there is a constant restart in the Pod. After the vNIC is randomly deleted according to the situation, it seems that the liveness check algorithm fails and the pod is continuously rebuilt. The conclusion seems to be the problem of WINCNI.

[code]

[2018-07-16 01:17] zhangmingld opened #66221 "shall we add a image gc white list that the kubelet imge gc will ignore?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
In some offline environment,we will load some images for furture use , so if the  disk usage exceeds the image-gc-high-threshold ,kubelet mya delete it, because of the offline, so the pod will never start

we use kubernetes as a basci platform, so we do not have a image registry

**What you expected to happen**:
Shall

[2018-07-16 02:09] #53810 closed

[2018-07-16 02:58] ervikrant06 opened #66222 "Unable to change the default storage class."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Not able to change the default storage class.
**What you expected to happen**:
Default storage class to change.
**How to reproduce it (as minimally and precisely as possible)**:
[code]
But after few mins.
[code]
**Anything else we need to know?**:
Tried to remove the annotation but no luck.

**Environment**:
- Kubernetes

[2018-07-16 05:14] nikhita commented on #66135
/cc @enisoc @janetkuo

[2018-07-16 05:15] nikhita commented on #49038
/lifecycle frozen

[2018-07-16 05:16] nikhita commented on #44620
/remove-lifecycle stale
/area test

[2018-07-16 05:33] nikhita commented on #49734
/remove-lifecycle stale

[2018-07-16 06:13] #38006 closed

[2018-07-16 06:33] MrHohn commented on #53754
/remove-lifecycle stale

[2018-07-16 07:13] m1093782566 commented on #62574
/close

[2018-07-16 07:13] #62574 closed

[2018-07-16 07:15] #62613 closed

[2018-07-16 07:18] nikhita commented on #51290
/lifecycle frozen

[2018-07-16 07:34] andyzhangx commented on #64686
/kind bug

[2018-07-16 07:34] mechpen commented on #45419
I found the cause of this problem in our cluster. In summary, the bug is caused by a CNI command (calico) that never terminates, which causes a dockershim server handler to stuck forever. As a result, the RPC calls `PodSandboxStatus()` for a bad pod always timeout, thus makes the PLEG to be unhealthy.

Effects of the bug:

- The bad pod stuck in `Terminating` state forever
- Other pod states could

[2018-07-16 07:38] ejc3 opened #66230 "Prevent mass livenessProbe failures from taking down all pods in a Deployment"
**What happened**:

A livenessProbe failed across all pods in a deployment, which took the application down. Given it affected all pods, it would have been better in this instance for the application to continue in a degraded state versus being hard down. However, if this type of failure happened only on a subset of pods, then having the pods restart would have been the right behavior.

Because of

[2018-07-16 07:40] andyzhangx commented on #64686
If we have a statefulset with one pod running on node#1, if I shut down node#2, the pod in statefulset will always be in `Unknown` state forever, the new pod could not be started any more, this is a critical bug.
[code]

$ kubectl describe po statefulset-azuredisk1-0
[code]

Workaround is delete the pod manually by:
[code]

FYI @feiskyer @khenidak @brendandburns

[2018-07-16 07:48] deitch commented on #45419
@mechpen I am glad someone found an answer somewhere. I don't think that applies here (we are using weave, not calico, at least in this cluster; I use calico elsewhere and have been driving the multi-arch of it), and we haven't seen similar error messages.

If it does show up, though, you said:

Configurable? Or requires `kubelet` modification?

[2018-07-16 07:50] IvanovOleg commented on #66220
Sorry. It was my fault. Everything works fine.

[2018-07-16 07:50] #66220 closed

[2018-07-16 07:53] DevOps-Alvin opened #66231 "metrics-server error "Client.Timeout exceeded while awaiting headers""
I have the following error when I view api status after deploying metrics-server in k8s v1.10.2.

[root@master-1 metrics-server]# kubectl get apiservices v1beta1.metrics.k8s.io   -o yaml
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  annotations:
    kubectl.kubernetes.io/last-applied-configuration: |
      {"apiVersion":"apiregistration.k8s.io/v1beta1","kind":"APIService","met

[2018-07-16 07:59] mechpen commented on #45419
@deitch this error could happen to weave as well, if a weave CNI command does not terminate (could be caused by low level bugs shared by all systems).

The fix requires kubelet code changes.

[2018-07-16 07:59] #65355 closed

[2018-07-16 08:09] CaoShuFeng commented on #66204
Is [custom resource](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/) what you want?

[2018-07-16 08:58] cpointner commented on #51017
/remove-lifecycle stale

[2018-07-16 09:01] originsmike commented on #56038
I completed the networking part and wrote a more-or-less complete guide: https://github.com/kaiterra/misc/blob/master/kubernetes-china-aliyun.md

[2018-07-16 09:17] Nurza commented on #66151
Same problem here.
Some pods on a node in my cluster (k8s 1.10.4) was evicted.

When I do a 'kubectl describe pod XXXXX':

[code]

[2018-07-16 09:40] yue9944882 commented on #66222
/sig api-machinery
/assgin

[2018-07-16 09:41] yue9944882 commented on #66222
/assign

[2018-07-16 09:42] irfanurrehman commented on #44954
@whereisaaron @patrickf55places [cluster-registry](https://github.com/kubernetes/cluster-registry) was incubated exactly to store and manage information about the k8s clusters in multi-cluster scenario, not limited to federation. Please check once if that solves your use cases, else:
1 - You can please post your queries at slack either in sig-multicluster (if you see relevance) or kubernetes-dev
2

[2018-07-16 09:42] csghuser commented on #53886
@bschwartz757 Your link appears to be dead now. Is this the page you are referring to?

https://github.com/kubernetes/ingress-gce/tree/master/examples/websocket

(thanks btw 🙂 )

With that solution, are you able to have more than one pod per node?

[2018-07-16 09:42] Sn0rt commented on #66204
@CaoShuFeng 是的，这个是描述node的

[2018-07-16 09:42] JulienBalestra commented on #61717
@dashpole @yujuhong I understand that the source of truth is currently the API server and that details can be retrieved there.  We have however found this to be a scaling challenge.

In our use case, we are a monitoring application that runs as a DaemonSet.  Monitoring systems such as ours need to continuously refresh the PodList because Kubernetes operators want a real time feedback on applicatio

[2018-07-16 09:58] miry commented on #49108
I had the same issue for v1.11. Pod has state Terminating. Container is alive on node in Docker 1.13. Describe shows `Killing container with id docker://containernaem:Need to kill Pod`

[2018-07-16 10:00] yue9944882 commented on #66222
/remove-sig api-machinery

[2018-07-16 10:04] rawmu opened #66234 "PODs are not visible with DNS name to other POD when they are in NotReady State"
/kind bug

**What happened**:
PODs are not visible with DNS name to other POD(s) when they are in Not Ready State
i have created PODs using statefullset and created headless service,when i ping/run nslookup with their DNS names before they are actually ready i got below output
Server:    10.96.0.10
Address 1: 10.96.0.10 kube-dns.kube-system.svc.cluster.local

nslookup: can't resolve 'xxxxx-server-

[2018-07-16 10:10] yue9944882 commented on #66222
/sig cluster-lifecycle

[2018-07-16 10:11] yue9944882 commented on #66222
@ervikrant06 The cause is that kube-addon-manager is reconciling the standard storage class.

[2018-07-16 10:13] yue9944882 commented on #66222
/remove-sig api-machinery

[2018-07-16 10:41] daixiang0 opened #66236 "incorrect calico log level when network unreachable"
/kind feature

**What happened**:

When network unreachable, calico log is as below:
[code]

**What you expected to happen**:

This log should in ERROR level and stream is stderr

**Environment**:
- Kubernetes version (use `kubectl version`):`Client Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.7", GitCommit:"dd5e1a2978fd0b97d9b78e1564398aeea7e7fe92", GitTreeState:"clean", BuildDate

[2018-07-16 10:41] daixiang0 commented on #66236
/kind feature-requests

[2018-07-16 10:43] daixiang0 commented on #66236
/sig  feature-requests

[2018-07-16 10:47] daixiang0 commented on #66236
/sig feature

[2018-07-16 10:50] daixiang0 commented on #66236
sig/network

[2018-07-16 11:18] tanshanshan commented on #65452
Look like this pr #59102 about this problem

[2018-07-16 11:23] sujithvs74 commented on #66231
I am also getting same error with kubernetes v1.11.0 version.

[2018-07-16 11:28] daixiang0 opened #66237 "image pull error"
/kind bug

**What happened**:

I want to deploy a pod using `k8s-device-plugin:1.9`:

[code]

I do not find symlink or file named as above with `find`, then i login test-0 node and run below cmd:
[code]
The result makes me confused.

I think it maybe last failure lead some symlink or file do not clean then result in pullError.

But i reboot this machine still failed.

**Environment**:
- Kubernetes

[2018-07-16 11:30] daixiang0 commented on #66237
/sig cluster-lifecycle

[2018-07-16 12:06] ankon commented on #29838
This is still driving me nuts everytime I'm investigating a failing pod, so I'd like to keep this open.

[2018-07-16 12:38] OJezu commented on #59811
Issue ceased after migration to AKS from ACS.

[2018-07-16 12:38] #59811 closed

[2018-07-16 12:44] wojtek-t opened #66239 "Reduce flakiness of density test"
Based on this run:
https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/179/build-log.txt
there are a couple things that went wrong:

1. Since failure of deleting RC shouldn't break the whole test:
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/scalability/density.go#L365
[That should just cause an error, but don't break the whole test]

2.

[2018-07-16 12:59] discordianfish commented on #48396
/remove-lifecycle stale
/lifecycle freeze

[2018-07-16 13:11] liggitt commented on #27308
https://github.com/kubernetes/kubernetes/pull/64608 added code to honor `--context` in `kubectl config view --minify` in 1.11, so you can now do the following:
[code]

[2018-07-16 13:16] yue9944882 commented on #66222
hi @ervikrant06 I'm not really sure about the actual command to fix this. But you could log into the `minikube` VM and do the same modification as the PR above does, then restart minikube.

[2018-07-16 13:25] mshaverdo commented on #65943
@caseydavenport
yep, unfortunately, you are right, `pause` container ID isn't available through the API.
But, maybe, you have ideas about this problem?

[2018-07-16 13:30] cu12 commented on #63005
Facing the same issue with the same things tried.

@mdianjun did you find the solution?

[2018-07-16 13:31] surajnarwade opened #66240 "Failing Test: gke-gci-1.10-gci-master-upgrade-cluster"
**Failing Jobs**

https://k8s-testgrid.appspot.com/sig-release-master-upgrade#gke-gci-1.10-gci-master-upgrade-cluster

[2018-07-16 13:34] mohammedzee1000 commented on #66240
/kind bug
/sig cluster-apps
/priority failing-test
/priority important-soon
/milestone v1.12

[2018-07-16 13:34] mohammedzee1000 commented on #66240
/sig apps

[2018-07-16 13:35] mohammedzee1000 commented on #66240
@surajnarwade can you also add links to the failing jobs?

[2018-07-16 13:36] surajnarwade commented on #66240
@mohammedzee1000 , link to failing job is: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/2288

[2018-07-16 13:41] mprokopov commented on #65575
I've resolved the same issue by downgrading to 1.10.2

`brew switch kubernetes-cli 1.10.2`

[2018-07-16 13:42] haoqing0110 opened #66241 "kubelet fails to start when set --protect-kernel-defaults=true."
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
1. Set `--protect-kernel-defaults=true` in kubelet.service, reload & restart kubelet.service, it runs well.
2. Restart host. kubelet.service fails to start. Below is the log from `journalctl -u kubelet `
[code]
[code]
3. Remove `--protect-kernel-defaults=true`, and restart host, kubelet.service can run successfully.

Why this happen

[2018-07-16 13:47] liggitt commented on #66234
are you setting `publishNotReadyAddresses: true` on the service?

[2018-07-16 13:54] shyamjvs commented on #66239
Yes, I definitely agree we should improve our deletions logic - it's not very robust currently. I can remember some RC deletion timeout flakes even from our smaller jobs.

I was suggesting such an idea (in a very rough sense) to you sometime ago if you remember - but in a more general sense, solving for all such flakes instead of doing point-by-point. My idea's roughly the following:

- whenever s

[2018-07-16 13:57] shyamjvs commented on #66239
cc @mborsz (who's currently looking into addressing our test flakiness)

Maciej - Would you be willing to look into this?

[2018-07-16 13:58] rawmu commented on #66234
no,is this on headless service ?

[2018-07-16 14:34] jmcshane commented on #45976
I just wanted to jump in on this issue as the problems I am experiencing in my environment are extremely similar to the OP. Java containers specifically, no dnsmasq messages about `Maximum number of concurrent DNS queries`, but packets dropped before sending the query to the external DNS server.

I have attempted adding `options single-request-reopen` to the resolv.conf file of pods, but after doi

[2018-07-16 14:34] mohammedzee1000 commented on #66240
@surajnarwade thanks
/sig cluster-lifecycle

[2018-07-16 14:35] fpytloun commented on #58338
I have just the same issue - using NodePort with externalTrafficPolicy=Local does not work and I cannot see correct source IP from pods.
Does anyone came up with solution or workaround to this issue?

[2018-07-16 14:38] fpytloun commented on #52096
I have just the same issue - using NodePort with externalTrafficPolicy=Local does not work and I cannot see correct source IP from pods.
Does anyone came up with solution or workaround to this issue? Or is there any up-to-date open issue? Everything I found is closed without solution for this problem.

[2018-07-16 14:46] yingnanzhang666 commented on #65954
@jpbetz actually, I have already separated events to a different cluster. Do you think whether it is a good option to separate pods into different etcd? Since long transaction will affect other operations.

[2018-07-16 14:48] yastij commented on #57690
/remove-lifecycle stale

[2018-07-16 15:08] joekohlsdorf commented on #45976
@YoniTapingo I run this little script from my container entrypoint:

[code]

You could also do it in a preStart lifecycle hook if you have root or sudo.

[2018-07-16 15:19] geekgonecrazy commented on #64743
For this cluster i'm going to try taking calico out of the equation and see if what ever this kernel bug is... if its only effecting me if calico is in the mix.

[2018-07-16 15:22] #59925 closed

[2018-07-16 15:42] krishicks commented on #65718
@liggitt 1.11 does not work without `-o json`. This is talking to a 1.8.10 server.

[2018-07-16 15:43] simo5 commented on #18982
OCSP works great for serving certs, not so great for client certs though ...

[2018-07-16 15:48] liggitt commented on #65718
Correct. Server versions prior to 1.9 had a bug that would not let them respond correctly to requests with Accept headers including mime types they did not support. This was fixed in 1.9

[2018-07-16 15:55] mohammedzee1000 opened #66243 "Failing Test: [sig-networking] Loadbalancing: L7 GCE [Slow] [Feature:NEG]"
# Failing Jobs
[sig-release-master-blocking#gci-gce-ingress](https://k8s-testgrid.appspot.com/sig-release-master-blocking#gci-gce-ingress)

# Failing Tests
[rolling update backend pods should not cause service disruption](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/18796)
[should be able to switch between IG and NEG modes](https://k8s-gubernat

[2018-07-16 15:55] joshbenner commented on #45976
I was seeing this a lot, and confirmed I was seeing conntrack-related packet drops. We have applications performing a very large number of lookups, some external, but many internal to the cluster (so default resolver was not an option).

I was able to fix by setting a very high value on kube-proxy's conntrack commandline parameter:

`--conntrack-min=536870912`

The nodes seem to have been stable f

[2018-07-16 15:56] bboreham commented on #45976
@joekohlsdorf `use-vc` is a neat trick, but do note it is a glibc option, not supported by other implementations such as musl (used in alpine base images, for instance).

The most relevant point I could find about DNS TCP support in musl is: https://twitter.com/RichFelker/status/994629795551031296

[2018-07-16 15:58] mohammedzee1000 commented on #66243
/sig network

[2018-07-16 15:59] mohammedzee1000 commented on #66240
/cc @tpepper @AishSundar

[2018-07-16 16:05] j0nesin commented on #65583
We rolled back to 1.9.x.  All is well.  Will wait for a fix.

[2018-07-16 16:23] #57960 closed

[2018-07-16 16:23] #59969 closed

[2018-07-16 16:49] Huang-Wei commented on #62109
@k82cn I can actively work on this.

(I'm not a member yet, so `/assign` wouldn't work I guess)

[2018-07-16 16:50] merlineus commented on #56903
https://github.com/kubernetes/kubernetes/issues/56903#issuecomment-359897058 doesn't work for me too.

Host: Debian GNU/Linux 9 (stretch)   4.9.0-6-amd64
Image: Ubuntu 16.04

[2018-07-16 17:00] rehevkor5 commented on #24677
My K8S->Splunk logging is currently broken by issues in the (mostly inactive) https://github.com/brycied00d/fluent-plugin-splunk-http-eventcollector plugin, but I notice that Splunk has https://github.com/splunk/fluent-plugin-splunk-hec as well as https://github.com/splunk/splunk-connect-for-kubernetes so I'm going to give one of those a try.

[2018-07-16 17:03] joejulian commented on #64649
Built with go1.11beta1 which contains several changes to math/big specifically to address performance issues with arm64. Since these functions are used with encryption, they have a direct affect on establishing TLS communications. That build allowed the TLS connections to establish within the timeout (10s) whereas they were not before.

I'll try extending the timeouts and building with go1.10 agai

[2018-07-16 17:05] chrisohaver commented on #63900
@yinwenqin, still an issue?

[2018-07-16 17:49] daviddyball commented on #60345
I've also been bitten by this issue. I'm running `1.9.3` and can't delete a secret that was created via Helm (chart was `kubernetes-dashboard`, but I doubt the chart was the issue).

Resolved by manually jumping into one of the `etcd` containers running on a master and doing

[code]

Annoying, but now resolved :-/

[2018-07-16 17:55] enisoc commented on #66135
I was able to reproduce this with kubectl v1.9.8 and cluster v1.10.5.

The response from the server upon creation indicates that `progressDeadlineSeconds` is getting filled in immediately during the admission flow:

[code]

I believe this rules out any of the kubectl or controller-side changes in #61419, since the request is correct and the controllers can't impact the response synchronously like

[2018-07-16 17:58] bschwartz757 commented on #53886
@csghuser looks like the link you posted goes to the right place. As far as running multiple pods on a single node, it sounds like @Kenblair1226 found that's not possible.

[2018-07-16 18:02] bbhoss commented on #58692
In order to remain consistent with every other CLI tool that provides this sort of interface, I think you should be able to provide absolute paths to copy, which seems to be the issue here?

[2018-07-16 18:12] djsly commented on #65991
Hello, we are currently setting cert rotation to be happening every 24h.

Our users are deallocating their VM overnight to reduce the cloud cost.

Anything we could look into as a quick fix? Or is the current recommendation *not* to use Cert Rotation until it moves out of Beta?

thanks!

[2018-07-16 18:14] DirectXMan12 commented on #51650
/remove-lifecycle stale

cc @mwielgus re the new changes

[2018-07-16 18:15] enisoc commented on #66135
In 1.10, we switched to `apps/v1` as the storage version: #58854

@liggitt Is it expected that the storage version defaulting code would always be executed, in addition to the request version for a `create`? If so, it seems impossible to ever keep `progressDeadlineSeconds` unset in v1.10+ because the `apps/v1` defaulting code will always fill it in.

[2018-07-16 18:25] #58136 closed

[2018-07-16 18:27] DirectXMan12 commented on #57660
/remove-lifecycle stale

[2018-07-16 18:29] vanobig opened #66248 "l follow on logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-16 18:33] DirectXMan12 commented on #56297
Hmm... this fell of my radar a bit.  If you go directly to the node, do you get a response?

[2018-07-16 18:47] DirectXMan12 commented on #59888
/close

[2018-07-16 18:47] #59888 closed

[2018-07-16 18:50] DirectXMan12 commented on #56335
@foxish yes, it's on the list of things we're discussing.

[2018-07-16 18:51] #65953 closed

[2018-07-16 18:55] foxish opened #66250 "ci-gce-kubeadm-1.11 tests failing in release-1.11"
ci-gce-kubeadm-1.11 tests are currently failing and blocking the cut of 1.11.

[code]

Ref: http://k8s-testgrid.appspot.com/sig-release-1.11-blocking#ci-gce-kubeadm-1.11

cc/ @timothysc @luxas

[2018-07-16 18:58] foxish commented on #66250
cc/ @kubernetes/sig-cluster-lifecycle-bugs

[2018-07-16 19:02] yliaog commented on #65954
pods are tightly coupled with replicaset, deployment, separating pods alone may have unexpected consequences.

what are the cpu / memory usage for api server , and etcd? trying to see if the problem can be mitigated by simply throwing in more cpu / ram

[2018-07-16 19:41] timothysc commented on #66250
/assign @timothysc

[2018-07-16 20:01] #65663 closed

[2018-07-16 20:16] embano1 commented on #64021
Update after discussion with @jiatongw on open questions for phase 1:

vSphere categories map to Kubernetes well-known labels (region and zone), e.g.

[code]

These categories would be applied on a VM-level to allow drift detection, e.g. after vMotion. Also, these tags may only be associated with VMs and only one tag per category is allowed (options in vSphere when creating categories).

Categorie

[2018-07-16 20:22] #66248 closed

[2018-07-16 20:22] vanobig commented on #66248
Created by mistake

[2018-07-16 20:50] ceridwen commented on #32220
/remove-lifecycle stale

[2018-07-16 20:53] russt commented on #65221
also verified regression from 1.10.5.  brew install:

[2018-07-16 20:56] ishaniGupta27 commented on #58145
So, If I do not enable **manage-security-groups**, This should work? I am getting the following error:
rror creating load balancer (will retry): failed to ensure load balancer for service default/lbs-test: error creating LB floatingip {FloatingNetworkID:6580471a-cac0-4f03-ae2e-77ddfb76b181 FloatingIP: PortID:b66ec9b2-e622-401c-ac3c-297ef0583f5c FixedIP: TenantID:}: Resource not found

[2018-07-16 20:59] whereisaaron commented on #44954
Thanks @irfanurrehman! I took a look at cluster-registry. I can see how it would be a useful and important component for federation, providing a top-down collection of clusters. However, I couldn't spot any bottom-up identity provided to clusters? If you are a running in a cluster, how do you know what your cluster's identity is within the cluster-registry?

The registry assigns a name based on cl

[2018-07-16 21:09] mbohlool commented on #65790
Can you explain this a little more?

[2018-07-16 21:42] timothysc commented on #66250
Jul 12 11:40:44 e2e-165-471dd-master startup-script: INFO startup-script: /startup-y1g0u54q/tmp0_6vup9v: line 211: kubeadm: command not found
Jul 12 11:40:44 e2e-165-471dd-master startup-script: INFO startup-script: Return code 127.

Something changed on the deployment w/test-infra.  I don't see any PRs that would affect this way.  Initial error doesn't look like us.

/cc @kubernetes/test-infra-ma

[2018-07-16 21:48] BenTheElder commented on #66250
Nothing changed infra side between the last success the failures https://github.com/kubernetes/test-infra/compare/6050551de...fbe6fd779

We also didn't deploy anything on 07/11 or 07/12 (see #testing-ops on slack)

Almost all of the kubeadm deployment logic is in kubernetes-anywhere. I have no idea if anything changed there.

[2018-07-16 21:49] timothysc commented on #66250
Did something change with the release tooling?

Here is the link to the log above - https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-11/165/artifacts/e2e-165-471dd-master/serial-1.log

[2018-07-16 21:53] BenTheElder commented on #66250
a few things changed with those, mostly related to kubeadm debs for actual releases https://github.com/kubernetes/release/commits/master

[2018-07-16 21:53] liggitt commented on #66135
Yes. Defaulting happens whenever a serialized version is read. That happens when reading from etcd or an incoming update request, no differently than when reading from an incoming create request.

If anything interacts with it via the v1 API, or it persists to v1 in storage, that is correct. To introduce a new field that has a default value in newer API versions, and preserve the semantic meaning

[2018-07-16 22:03] msau42 commented on #66184
Thanks for catching this.  Would you be able to implement this for this release?  We want to try to go beta if we can, and we won't be able to strengthen validation once that happens.

[2018-07-16 22:11] enisoc commented on #66135
@liggitt Thanks for clarifying.

So to summarize: in order to fix this, we would need to change the `extensions/v1beta1` code to explicitly default `progressDeadlineSeconds` to some non-`nil` value that has the same behavior that `nil` currently has.

@janetkuo Would defaulting to `progressDeadlineSeconds: 0` work for this purpose? What happens currently if you set it to 0 instead of `nil`?

@dtur

[2018-07-16 22:42] grayluck opened #66255 "ip-masq-agent has insufficient tolerations and is not being scheduled to all nodes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
ip-masq-agent should be scheduled on all the nodes and has the same toleration as the deamon set `calico-node`.

See the difference:
https://github.com/kubernetes/kubernetes/blob/HEAD/cluster/addons/ip-masq-agent/ip-masq-agent.yaml#L55-L56

https://github.com/kubernetes/kubernetes/blob/HEAD/cluster/addons/calico-policy-co

[2018-07-16 22:42] grayluck commented on #66255
/sig cluster-lifecycle

[2018-07-16 23:02] k82cn commented on #62109
@Huang-Wei , thanks very much for your contribution! Please go ahead to open PRs for that, and ping me :)

[2018-07-17 00:07] krmayankk commented on #66135
Should we move this back to nil in 1.10 or this would cause unexpected behavior for someone upgrading from 1.9 to 1.10 ? We do expect the defaults (unset values) to not change during upgrades .

[2018-07-17 00:14] freehan commented on #66243
This should be able to fix it
https://github.com/kubernetes/kubernetes/pull/65641

[2018-07-17 00:18] liggitt commented on #66135
Adding a default value semantically equivalent to an inset value to extensions/v1beta1 would be less disruptive

We expect the *meaning* to not change. It is usually acceptable to set a default on a field that previously did not exist or have a value if it matches the meaning of the field being missing.

[2018-07-17 00:39] obenziane21 opened #66258 "Inject Container OS environments using ETCD or otherwise"
I'd like a recommendation solution from anyone for using service discovery
We want to have the ability to start up containers and automatically inject `application`, `databases`, etc... `environment variables` from one central tool.
I could not find anything like that using `ETCD` or maybe I'm missing something in there ?

[2018-07-17 00:58] janetkuo commented on #66135
Setting it to `0` is currently not allowed in validation because `.spec.progressDeadlineSeconds` must be greater than `.spec.minReadySeconds` and `.spec.minReadySeconds` must be greater than 0. To solve this we'll need to relax its validation and set it to `0` (if unset) in `extensions/v1beta1` defaulting. We also need to change deployment controller code to make sure it sees `0` as "progressDeadl

[2018-07-17 01:30] timothysc commented on #66250
The test failures are caused by this cherry-pick - https://github.com/kubernetes/kubernetes/pull/65921

[2018-07-17 01:33] mattes commented on #50977
This behavior is also affecting NodePort Services.

@MrHohn, it's not perfect but sounds like a good short term fix to me. We don't have use cases where we look at the source IP, but I can't speak for others.

[2018-07-17 01:37] timothysc commented on #66250
[code]

Looks like it's failing to find cri-tools 1.11.+... It's in the release repo, but it's consuming bazel artifacts in the tests.
@luxas @Random-Liu @chuckha

[2018-07-17 01:52] alfred-huangjian commented on #63048
@jiayingz @lichuqiang Infiniband Partition Key is something like ETH vlan.  In order to support mutli-tenant  over one single cluster, we need  assign each tenant/namespace a unique partition ID so that only the container in the same namespace can communicate with each other by using RDMA. However we need to configure the Infiniband Interface and set the suitable pkey id. But currently the device

[2018-07-17 01:54] zanhsieh commented on #65936
@jomeier I have encountered similar issue during patching k8s 1.9.3 -> 1.9.6 (configmap formed volume become read only cause pods previously depend on it infinitely on terminating state). The workaround (you might already know) is to go to etcd (in master or container within master) and use etcdctl to clean it up.

Hope this help and sorry if my workaround doesn't help you.

[2018-07-17 02:23] orainxiong commented on #65936
Ah, I know a little bit about it. I hope it is helpful.

Normally, `kubernetes` is able to detect an unreachable node, and the existing `control-plane` will subsequently evict pods on the unreachable node, and then `kube-scheduler` will automatically reschedule evicted pods to another available node.

I think the root cause is most likely about garbage collection policy. there are 3 variants for t

[2018-07-17 02:29] Tizeen commented on #63648
@miaoshixuan
thanks. I change use glusterfs storage.

[2018-07-17 02:29] #63648 closed

[2018-07-17 02:32] #52214 closed

[2018-07-17 02:32] #59998 closed

[2018-07-17 03:19] deshui123 commented on #2799
we also are not allowed to use medium strength encryption(key lengths at least 64 bits and less than 112 bits, or else that uses the 3DES encryption suite.)
My kubectl version is 1.10.2, but I dod't find the flag which can set TLS  version.
Could you please the guide/cli for the flag？

[2018-07-17 03:45] hzxuzhonghu commented on #66231
/assign

[2018-07-17 04:08] hzxuzhonghu commented on #66231
I have tested with `v1.11.0-alpha.0` and there is no such issue. I think you may have set  `https_proxy` in your env ot your cluster ip is not accessble.

One way to check is curl  https://10.10.84.147:443 by hand.

[2018-07-17 04:36] jomeier commented on #65936
Hi,

how can we set the garbage collection policy e.g. to background mode during the initial creation of the pods within the yml file?

Greetz,

Josef

[2018-07-17 04:54] feiskyer opened #66265 "Support InstanceShutdownByProviderID for Azure"
Implement proposal #58635 for Azure

We should implement `InstanceShutdownByProviderID()` interface in Azure cloud provider. `InstanceShutdownByProviderID()` returns true if the instance is in stopped state to detach volumes. But if instance is deleted we should not return error.

Related features: https://github.com/kubernetes/features/issues/551
Related proposal: https://github.com/kubernetes/ku

[2018-07-17 04:54] krmayankk commented on #66258
@obenziane21 please follow guidelines when opening issue and provide additional details with better example of what you want to achieve. I don't fully understand your scenario, but please read this https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#initializers and see if it helps.

[2018-07-17 04:54] krmayankk commented on #66241
/sig node

[2018-07-17 05:04] bgrant0607 commented on #21912
They should also report the reason(s) why the desired state can't be realized in the status, such as in conditions. This enables higher-level controllers, which don't/can't watch events, as well as users, to make decisions.

[2018-07-17 05:12] DevOps-Alvin commented on #66231
I did not set https_prxoy. I used a binary deployment. The master node only installs apiserver, controller-manager, scheduler and is only responsible for managing the cluster. The node node is a kubelet or a proxy.

[2018-07-17 05:17] divyangjp commented on #58145
@ishaniGupta27 Yes. Don't specify `manage-security-groups` and `node-security-group` at all in config. The LoadBalancer(s) will by default apply the security rules in the security-group `default`.

[2018-07-17 05:34] liqlin2015 commented on #66103
@Lion-Wei They are similar issues. And issue #61938 is fixed in Kubernetes 1.11.0.

You can see my append above. It's the sequence of PREROUTING of iptable rules. We cannot make sure `KUBE-SERVICES` rule is always ahead of `CNI-HOSTPORT-DNAT` rule. I think they are generated by different process. `KUBE-SERVICES` is generated by kube-proxy, and `CNI-HOSTPORT-DNAT` is generated by CNI plugin. You ca

[2018-07-17 05:38] lkumar-88 opened #66268 "Unable to access the Host IP on LAN from inside the Pod of kubernetes."
**What happened**:
One kubernetes cluster is running on one Host (192.168.1.11) and a mongo-pod(mongo1:27017-container port) is running inside kubernetes with service type as NodePort(31167).

On Another Host(192.168.1.12), i am also running another instance of mongo-pod (mongo2) inside different kubernetes cluster with service-type as NodePort(30449).

Now, i need to configure the replication par

[2018-07-17 05:46] krmayankk commented on #66230
liveness is currently only checked at the node level by kubelet and there is no coordination centrally for it. It sounds like you need a liveness probe that accounts for a global view. You could implement that with a http liveness probe that queries a central db to get a global view of the world. I agree with the part that if liveness could potentially bring down the app, it could use the eviction

[2018-07-17 05:47] krmayankk commented on #66204
/sig scheduling

[2018-07-17 05:48] krmayankk commented on #66204
@Sn0rt do you mean that curl is unprotected and it should be secure. Can you more clearly describe what you want ?

[2018-07-17 05:55] andyzhangx opened #66269 "Enable dynamic azure disk volume limits"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

This is an azure cloud provider implementation related to feature: [Dynamic Maximum volume count](https://github.com/kubernetes/features/issues/554)

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes v

[2018-07-17 06:09] hzxuzhonghu commented on #66231
Can you access  https://10.10.84.147:443 by hand? Is the container network ok?

[2018-07-17 06:17] DevOps-Alvin commented on #66231
Yes, and other addons are completely normal

[2018-07-17 06:19] cofyc commented on #60002
@msau42 I've been working on related issues, I'll take this.
/assign

[2018-07-17 06:29] Sn0rt commented on #66204
@krmayankk

[2018-07-17 06:33] Lion-Wei commented on #66103
That's right. Since `KUBE-SERVICES` and `CNI-HOSTPORT-DNAT` is generated by different process, we can't guarantee the order, even using `iptables -I`.
On kube-proxy side, clusterIP addresses have to be treated as local, so ipvs rules can work. On cni plugin side, match `dst-type=local` to do DNT for hostPort pod also very reasonable.
So, for now, the only way I have to solve this problem is make s

[2018-07-17 06:40] hzxuzhonghu commented on #66231
I do not find kube-proxy.

Can you access from master ?

[2018-07-17 06:41] hzxuzhonghu commented on #66231
/remove sig-apimachinery

[2018-07-17 07:15] #66137 closed

[2018-07-17 07:24] sanjid133 opened #66273 "Kubelet with "--cloud-provider=external" is not working with kubernetes v1.11"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
1. Set `KUBELET_EXTRA_ARGS=--cloud-provider=external` in /etc/default/kubelet file.
2. Restart kubelet. And run :
[code]
3.
[code]
4.
[code]
**What you expected to happen**:
Runing cloud controller manager. and remove the taint `node.cloudprovider.kubernetes.io/uninitialized` from node.
**How to reproduce it (as minimall

[2018-07-17 07:34] sttts commented on #65790
An apiserver roundtrips CRDs (like every other resource) during update. @liggitt refers to status updates because these happen without user intervention. If you now have conversion related fields in your CRD spec, even a status update of that CRD will let those new fields not roundtrip in an old apiserver (after rollback). So in any case you will have dataloss (in this case after moving forward ag

[2018-07-17 07:48] Mr-Right2 opened #66274 "-i"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

[2018-07-17 07:54] astefanutti commented on #56297
@DirectXMan12 no response either. I've created #62544 that fixes the issue. I think there has been a refactoring introduced in version 1.8 that broke the sequence of objects initialisation for that endpoint.

[2018-07-17 08:03] aditrades commented on #63854
It worked like a charm on Azure, Thanks 👍

[2018-07-17 08:09] leeivan opened #66275 "Error building GCE/GKE provider: google: could not find default credentials"
@kubernetes/test-failures
root@kube-dev:~/gowork/src/k8s.io/kubernetes# go run hack/e2e.go -- --test
2018/07/17 03:51:04 e2e.go:79: Calling kubetest --verbose-commands=true --test...
2018/07/17 03:51:04 process.go:153: Running: ./hack/e2e-internal/e2e-status.sh
Project: kube-e2e-benchmark
Network Project: kube-e2e-benchmark
Zone: us-central1-b
Client Version: version.Info{Major:"1", Minor:"12+", G

[2018-07-17 08:10] dohnto opened #66276 "kubectl convert removes .metadata.namespace since v1.11.0"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`kubectl convert` version **v1.11.0** started to remove `.metadata.namespace` field from my manifests.

**What you expected to happen**:

Keep `.metadata.namespace` as in previous versions.

**How to reproduce it (as minimally and precisely as possible)**:

First let me present the behaviour using kubectl v.1.10

[code]

[2018-07-17 08:11] dohnto commented on #66276
/sig cli

[2018-07-17 08:16] leeivan opened #66277 "could not find default credentials"
[code]
/sig test-failures
/area e2e

[2018-07-17 08:21] warmchang commented on #62538
@liggitt @george-angel
I am wondering why this dialTimeout parameter of etcd only affects version 1.10.
As @george-angel 's description, the 1.9 (either 1.9.3 or 1.9.6) is not affected.

[2018-07-17 08:35] leeivan commented on #66277
test-failures

[2018-07-17 08:38] leeivan commented on #66277
sig/tesing

[2018-07-17 08:38] #66275 closed

[2018-07-17 08:45] MIBc commented on #39414
The yejw5 's reply explain the problem @ZhengRongTan

[2018-07-17 08:47] leeivan opened #66279 "Error building GCE/GKE provider: google: could not find default credentials"
[code]
/sig test-failures
/area e2e-test

[2018-07-17 08:47] #66277 closed

[2018-07-17 08:49] vh commented on #46574
It seems fluent-bit stackdriver plugin is already implemented.
https://github.com/fluent/fluent-bit/issues/116

[2018-07-17 08:54] resouer commented on #64667
@houz42 One thing I want to add is, the current scheduler extender has a `IsInterested()` interface. Do you think it's enough to solve your problem? e.g. you can basically use labels or annotations to choose what extender to match.

[2018-07-17 08:58] simo5 commented on #18982
Smart cards are often not smart enough :-)
Besides that I am not a aware of an RFC that defines how to do OCSP stapling for client certs, both RFC6066 and RFC6961 only describe how to ask stapled responses from a server, I see no mechanism to ask for a stapled response from a client.

[2018-07-17 09:02] simo5 commented on #18982
Unless you meant that servers will do OCSP stapling, while client certs are validated via OCSP, that is possible I guess, but error prone as it relies on the OCSP responder to be highly available again.

In general it seems like the best scenario is to use OCSP stapling for server certs and CRLs for client certs, as that keeps all the work on the server side, and can all be done ahead of time.

[2018-07-17 09:13] nikhita commented on #66274
This is not a valid issue. Please reopen adding details asked in the template.

Closing.
/close

[2018-07-17 09:13] #66274 closed

[2018-07-17 09:36] hzxuzhonghu commented on #66231
@sujithvs74
First:  make sure kube-proxy is up on your master.

Second:  make sure apiserver can access metric-server service. If not, it seems that your container network is not ok.  Check whether your cni plugin is well installed.

[2018-07-17 09:42] haoqing0110 opened #66281 "Best practice to generate --tls-cert-file and --tls-private-key-file for thousands of kubelets?"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

What's the best practice to generate `--tls-cert-file` and `--tls-private-key-file` for thousands of kubelet?

I know if `--tls-cert-file` and `--tls-private-key-file` are not provided, there will be self-signed certificate and key by default. BUT that's not what I want.
As CIS(Center for Internet Security) suggests, I want to spec

[2018-07-17 09:44] cofyc commented on #64626
@msau42 Not sure yet, but there are some other flakes:

- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65616/pull-kubernetes-integration/19472
- https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/65616/pull-kubernetes-integration/19468

I'll keep tracking this issue.

/reopen

[2018-07-17 10:00] cofyc commented on #64626
Oh, my mistake, these are failures tests of https://github.com/kubernetes/kubernetes/pull/65616 when PR is not completed.

/close

[2018-07-17 10:00] #64626 closed

[2018-07-17 10:00] yue9944882 commented on #66276
confirmed this BUG.

/assign

[2018-07-17 10:13] idobry opened #66283 "Kubectl mismatch version between client and server result in stuck pods in Termination"
/kind bug

**What happened**:
Installed kubctl-cli throgh brew. At the time on my pc kubectl version version was 1.11.0 and the server was 1.9.3.
While I was working on my cluster I tried to delete a pod named X, the command got stuck so I had to stop it (ctrl+c) and pod X got stuck in a Termination state.
I tried to SSH into the hosted node and manually delete the pod but no success, also tried t

[2018-07-17 10:21] nikhita commented on #65517
/remove-shrug

[2018-07-17 10:21] nikhita commented on #65517
/unshrug

[2018-07-17 10:24] Mr-Right2 commented on #66274
Whoopsie. I accidentally fell asleep on the keyboard without realizing I was opening an issue. Will try to solve my personal issues in private from now on :)

[2018-07-17 10:35] irfanurrehman commented on #44954
@whereisaaron you understood cluster-registry correctly. What I know is that a [field in the common  object metadata](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L251) was reserved for the info you are looking for, but so far never actually used. I believe there must have been questions to be answered and the api machinery folks co

[2018-07-17 11:00] krzysied commented on #64030
PR for perfdash changes: https://github.com/kubernetes/perf-tests/pull/160

[2018-07-17 11:05] hzxuzhonghu commented on #66231
@sujithvs74 Absolutely not

[2018-07-17 11:06] yue9944882 commented on #66276
hi @dohnto I'm afraid you have to run with `--local=false`, or `kubectl` doesn't know if the converting resource is namespaced or not. Does it solve your problem?

/unassign

[2018-07-17 11:08] tamalsaha opened #66285 "Kubernetes does not consider ignored openapi prefixes"
We use EAS to implement admission webhook following the pattern shown here: https://github.com/openshift/generic-admission-server . In our EAS, we have one apigroup for AdmissionReview and other api groups for EAS resources.

We like to enable openapi handler in our EAS. But one of the issue is that [`AdmissionReview api types`](https://github.com/kubernetes/api/blob/master/admission/v1beta1/types

[2018-07-17 11:09] dhirajnair commented on #10322
Hi, I would like to pick this up as my first item. This one being an old item, please confirm if this is still an issue.
I have taken fork of k8 and run the unit tests successfully.
Any pointers on how to get started with this item will be appreciated.

Thanks
D

[2018-07-17 11:10] tamalsaha commented on #66285
I have opened https://github.com/kubernetes/kubernetes/pull/66286 and https://github.com/kubernetes/kube-openapi/pull/92 prs to address this issue. PTAL.

[2018-07-17 11:11] tamalsaha commented on #66285
/sig api-machinery

cc @deads2k @sttts  @liggitt @lavalamp @seans3 @mbohlool @apelisse

[2018-07-17 11:19] wenlxie opened #66287 "Scheduler and pv_controller info not sync caused volume reclaimed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
1. I create a pod with local volume
2. The scheduler start to do bind, it will make pv pv.spec.claimref.name = pvc.name
3. pv controller will call syncVolume to make pv bound , then syncClaim will make pvc bound.
But from the log, I find that after step 2, pv controller start to reclaim the pv  because pvc not in cache.
l

[2018-07-17 11:38] rajula96reddy commented on #44325
Hey! I was wondering, what is the status on building these missing images for s390x?

[2018-07-17 11:55] erdun opened #66288 "DaemonSet faild and lost connection with node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
### first Time

node: pre
system user: docker
kubernete user: fe-pre

node: monitor
system user: docker
kubernete user: fe-base

kubernete create -f [prometheus](https://github.com/erdun/prometheus-tmp)   (node monitor)
with error [logs](https://gist.github.com/erdun/f831a85e9eb9f61cb6eb86d204e57ad3)

node:lost connection with pre n