[2016-06-26 18:46] jbeda commented on #16508
Summarizing/copying discussions from kubernetes-dev thread.

From @karlkfi:

Response from @thockin:

My thoughts align with Tim.  We aren't talking about joining things in to a single process at run time and so this is largely a packaging thing (with caveats around binary size and init mem/cost).

---
With respect to naming.

@thockin:

@duglin:

@thockin:

I agree with @duglin.  In the end state

[2016-06-26 19:43] davidopp commented on #28082
Also, when we do this we can add validation the ensures forgiveness is only used with a toleration with effect NoExecute.

[2016-06-26 19:59] #28074 closed

[2016-06-26 20:26] mark-adams commented on #28086
Is it possible that the trailing newline in the base64-encoded secret could be causing the problem?

[2016-06-26 20:31] Random-Liu commented on #28047
The test is testing image pulling, while the image pulling is indeed flake:
[code]

[2016-06-26 21:20] hongchaodeng commented on #27519
@lavalamp
In last week's @kubernetes/sig-api-machinery meeting, I think we have talked about too many separate things, which didn't lead to any conclusion on this issue.

Now let's focus on original reason of this redesign, focus on the pure goal of eliminating the race in informer. Do we want to make the race free something that is easy to reason about? If so, let me give the following comparison

[2016-06-26 21:46] thockin commented on #10294
That was closed for lack of owner-time.  If you have time to work on it, I think this change is relatively easy.  Adding a `--cluster-ip` should not be very hard.

[2016-06-26 21:51] ghodss commented on #16508
+1 on renaming to `kube` (we should take the opportunity to do the change now, and I agree with @jbeda that 'hyper' will only continue to be a vestigial overhang), and +1 to package shell scripts at /usr/bin/apiserver, etc. that replicate the old functionality. Those scripts should be prepackaged in the hyperkube image, but also be available in the repo for consistency for anyone doing packaging (

[2016-06-26 22:36] kant111 opened #28089 "parsing error when using the existing CIDR"
I am using kubernetes 1.2.4 release

<img width="1012" alt="screen shot 2016-06-26 at 3 13 42 pm" src="https://cloud.githubusercontent.com/assets/5432406/16365393/aabbbe86-3bb3-11e6-81bd-2615a166174a.png">

**Here are environment variables I used**

[code]

[2016-06-26 22:46] k8s-merge-robot opened #28091 "[k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1578/

Failed: [k8s.io] SchedulerPredicates [Serial] validates that NodeSelector is respected if not matching [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-26 23:08] kant111 commented on #28089
@justinsb

[2016-06-26 23:08] girishkalele commented on #28089
@kant111

Could you also mention the version - is this master/HEAD ? Is this release1.3 branch code ?

[2016-06-26 23:09] girishkalele commented on #28078
@bprashanth

[2016-06-26 23:12] bgrant0607 commented on #16508
`kube` seems a better fit for either a cluster management CLI (e.g., `kube deploy`) or for a monokube-like all-in-one binary than for hyperkube, which still has to be run N times. Anyway, if we rename hyperkube, that will break people, too.

Once everything is in a container, we should be able to fetch them all dynamically. The main benefit from hyperkube would then be reduced startup latency (pul

[2016-06-27 00:05] Random-Liu commented on #27847
This is the same with #27952, which has confirmed to be a network issue. Close this one. :)

[2016-06-27 00:05] #27847 closed

[2016-06-27 01:22] YingBurden commented on #28009
@harryge00 api-server  is a process ， I can find profiles in the “/etc/default/kube-apiserver”
http://kubernetes.io/docs/getting-started-guides/ubuntu/

[2016-06-27 01:48] karlkfi commented on #16508
I don't mind 'kube' as the binary name. If we're doubling down on a monolithic design, then this will make it easier to deploy.

But I would like to reiterate my long standing complaint against monolithic monorepos. Having components that aren't microservices has always felt like a step backwards in time to me. Microservices have many benefits, and we're realizing none of them by having multiple b

[2016-06-27 02:54] resouer commented on #17676
The current implementation is not aware of ENVs in git command string, see: https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/git_repo/git_repo.go#L171

@stp-ip We can change the log contents, that's easy. I wonder if anyone feels like to send a patch to fix this? It's straightforward.

[2016-06-27 03:17] thockin commented on #16508
On Mon, Jun 27, 2016 at 10:49 AM, Karl Isenberg
<notifications@github.com> wrote:

I don't see why repo needs to conflate with binaries.

It is.  It's a separate process which anyone can turn off and replace.
That has nothing to do with being in the same repo or not, and
everything to do with API.

This sounds great, but the support will be a nightmare.  What version
combinations of {apiserver, sc

[2016-06-27 03:17] MikeSpreitzer commented on #28073
It looks like #28087 is taking care of cluster/images/hyperkube/Makefile

[2016-06-27 03:19] harryge00 commented on #28009
You should provide more information about your problem. Such as how you run your api-server.

[2016-06-27 03:56] krmayankk commented on #28078
@bprashanth thanks will give it a try and update by tomorrow. BTW the error i saw was on GCE. Also just an FYI the zookeeper example in the contrib repo worked though

[2016-06-27 04:14] thockin commented on #17676
I still think the right answer is to make sidecar containers work.  It's a little more cumbersome but please consider - if we keep extending gitRepo, we have no basis on which to deny the inevitable hgRepo and svnRepo and httpGet and scpVolume and bitTorrent and ...

We should make it easier to side-car properly, instead.  To prove how "easy" it is, I did this:

   https://github.com/thockin/rando

[2016-06-27 04:14] #17676 closed

[2016-06-27 04:14] thockin commented on #17676
BTW: https://github.com/kubernetes/contrib/tree/master/git-sync is the repo for git-sync

[2016-06-27 04:57] davidopp commented on #27882
Can you clarify what you mean by "gone"?

To answer your question -- NodeController used to sync nodes against the cloud provider (treating the cloud provider as the source of truth), so "delete node" didn't really do anything unless you also deleted the VM in your cloud provider. (And in fact "delete node" wasn't necessary, because once it was deleted from the cloud provider, the NodeController w

[2016-06-27 05:13] davidopp commented on #25160
We recently added a PodScheduled PodCondition
https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L1348

It starts out as
{ Type:PodScheduled, Status: ConditionFalse, Reason: "" }

If the pod is successfully scheduled, it goes to
{ Type:PodScheduled, Status: ConditionTrue, Reason: "" }

If the pod is infeasible on all nodes, it goes to
{ Type:PodScheduled, Status: Condition, R

[2016-06-27 05:19] matchstick commented on #27691
There has been more investigation in this issue. This update is where we try to sum up where we are. There has been some back and forth in slack and emails and folks on the state of this issue. Also some new data is showing up.

Assumptions
------------------
Facts we are pretty sure are true are listed below: Some of this is new data I got from consulting with Ted Tso and other Kernel folks in Go

[2016-06-27 05:28] sols1 commented on #27882
Is kubernetes supposed to work on bare metal cluster (which is what I am doing)?

In bare metal cluster there is no cloud provider.

By "node was already gone" I mean that the node was switched off to another cluster (and it was a while).

Waiting does not help - the node and pods that were running on the node do not disappear no matter how long you wait.

What do you mean by saying "kill the kube

[2016-06-27 05:28] bprashanth commented on #28078
Yeah there's a chance the base image might be broken. The redis i pointed you at is running in an e2e rigth now so i know that image is working, the one in contrib uses a smaller base (which is overall desirable) but I haven't got a chance to test it yet

[2016-06-27 05:34] davidopp commented on #27882
Kubernetes supports bare metal clusters, hence my comment

If the node is no longer in touch with the master (killing the kubelet process such that it doesn't restart is one way to do that; shutting off the machine is another) and you do "kubectl delete node" then the node should be deleted from the master's state and the pods evicted. If that's not happening, it's a bug. As a starting point, can

[2016-06-27 05:47] thockin commented on #27882
You shouldn't need to delete the node, though.  When kubelet stops checking
in, all the pods should be deleted...  It sounds to me like THAT is the
bug, here...

On Sun, Jun 26, 2016 at 10:35 PM, David Oppenheimer <
notifications@github.com> wrote:

[2016-06-27 05:49] matchstick commented on #27691
For those who are curious how I am determining a filesystem error I am basically downloading many jenkins runs and then running the following command:

[code]

Generally I am finding errors of the like:
[code]

[2016-06-27 05:49] sols1 commented on #27882
Why do I need to do `delete node` if the node is already down? Why doesn't kubernetes itself detects such a situation and handles it correctly (just like with pods)? This looks like a bug.

Yes, if I do `delete node` manually, then pods that were running on the node do not disappear - it doesn't matter how long you wait. This is another bug.

I cannot do `kubectl describe pod` right now since it w

[2016-06-27 05:49] resouer commented on #17676
@thockin Why should we do b) ? And how we define that when dest is `.`?

[2016-06-27 05:54] davidopp commented on #27882
Yes, sorry, I mis-read the issue. As @thockin alluded to, the pods should be evicted once the node stops heartbeating for 5 minutes (actually it's 5m40s). You don't need to delete the node. The behavior is the same on bare metal and cloud.

The next time you see this, please send the information about the pod that I described in my previous comment, as it will help us debug. Also do the same (desc

[2016-06-27 05:55] thockin commented on #17676
Without b) you can't use the git-content as the interlock, you have to add
a surrogate file.  Consider I have a 10GB repo to pull and dest = /data.
As soon as git starts pulling, that directory exists, but clearly all 10 GB
has not been pulled down.

On Sun, Jun 26, 2016 at 10:50 PM, harry <notifications@github.com> wrote:

[2016-06-27 05:56] fejta commented on #27517
Most recent one is a git clone flake:

[code]

[2016-06-27 06:07] bryk commented on #28007
@harryge00 the CLI proposed here would open the Dashboard UI if it is installed on your cluster.

[2016-06-27 06:15] nikhiljindal commented on #28073
Thanks for filing this @MikeSpreitzer.

@madhusudancs Can you fix the other instances?

Marking this P1 since we will need to cherrypick the fixes in 1.3.

[2016-06-27 06:19] k8s-merge-robot opened #28096 "[k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5838/

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27360

[2016-06-27 06:37] nikhiljindal commented on #23653
Remaining 1.3 tasks (things we couldnt get to in time for 1.3 cut, but should fix now):

- [ ] Get our current service e2es to pass on jenkins
- [ ] Add federation e2e to tests that merge bot runs (#26723 @quinton-hoole)
- [ ] Add more test cases to our service e2e
- [ ] Add documentation for setting up federation control plane (@nikhiljindal, kubernetes/kubernetes.github.io#662)
- [ ] Add documen

[2016-06-27 06:39] k8s-merge-robot opened #28097 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1619/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27479 #27675

[2016-06-27 07:24] Kapaski opened #28098 "[Question] Delete resource and its associated resources with Rest API"
Hello Guys,

I'm running v1.2.2 k8s in a cluster, and currently I have a requirement that is using the rest API from k8s API server, to delete a k8s job resource once it is successfully done. I've noticed with `kubectl`, the pod this job created was also deleted, but with rest API, this seems not doing the same, ie. I can delete the job through v1.DeleteOptions API but the Pod will not be deleted

[2016-06-27 07:31] jianzhangbjz opened #28099 "How to get the version of kubernetes?"
I git clone it, and compile them. And exec "kubectl version", results below:
Client Version: version.Info{Major:"1", Minor:"2+", GitVersion:"v1.2.0-alpha.4.9404+6b9400d7899eee", GitCommit:"6b9400d7899eeeddae81f93bdb33ccebb3293971", GitTreeState:"clean", BuildDate:"2016-06-22T03:14:13Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"2", G

[2016-06-27 07:46] janetkuo commented on #20435
Is this done?

[2016-06-27 07:49] k8s-merge-robot opened #28100 "[k8s.io] MirrorPod when create a mirror pod should be recreated when mirror pod forcibly deleted {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/5391/

Failed: [k8s.io] MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suite}

[code]

[2016-06-27 08:02] chowyu08 commented on #14232
@yidinghan @luispabon ;I have the same issue , is still a issue now?

[2016-06-27 08:08] luispabon commented on #14232
Still is, on 1.2.4

[2016-06-27 08:09] thockin opened #28101 "manual conversion should call autogenerated ones first"
Manually-written conversions should be special-cases ONLY.  They should all call the autoConvert... form first.  For example: Convert_batch_JobSpec_To_v1_JobSpec

We have a LOT of manual conversion code, and anything that doesn't call autoConvert first is suspect.

[2016-06-27 08:19] brenarth commented on #28086
Sure enough, encoding the secret using `echo -n | base64` gets things working correctly. Should have read the documentation more thoroughly... This is specifically called out here: http://kubernetes.io/docs/user-guide/secrets/#creating-a-secret-using-kubectl-create-secret

[2016-06-27 08:19] #28086 closed

[2016-06-27 08:29] jstrachan commented on #27876
just to confirm; after installing bash-completion via:
[code]
then things all worked fine! :)

I just had to ensure that `/usr/local/etc/bash_completion.d` was writable by brew

[2016-06-27 08:29] #27876 closed

[2016-06-27 08:45] shayderi opened #28103 "After upgrading docker version from 10 to 11 'cAdvisor' not reporting metrics on 'Pods'"
Hi
We currently solved the problem by returning back to docker version 10 (1.10)

Any help on the issue will be appreciated

Thanks

[2016-06-27 08:45] runseb commented on #24343
How about picking one component and breaking it into a separate repo to exercise the change needed and define a process. We won't be breaking all at once.

In some other projects, this would start with a [PROPOSAL] and then a [VOTE] on the mailing list.

Start with `kubectl` maybe, or something less controversial even like _examples_.

[2016-06-27 09:14] sttts commented on #28076
First analysis: the `TestControllerSync` test waits for a number of API server changes and then check the test outcome. Depending on the timing, it might happen that a claim does not go to phase "bound" directly, but is put into "Pending" first (e.g. due to version conflicts when persisting). The phase change to "Pending" is counted as a API server change as well and the outcome check comes too ea

[2016-06-27 09:24] sttts commented on #28076
/cc @jsafrane

[2016-06-27 09:26] sttts commented on #28076
Not only version conflicts, but also a race between a claim being seen by the `PersistentVolumeController`  before the volume is seen leads to a temporary `Pending` phase of a claim, compare https://github.com/sttts/kubernetes/blob/07471cf90f786ae83013a7a8c8d1479f3c32b26c/pkg/controller/persistentvolume/controller.go#L168-L168

[2016-06-27 09:38] sttts commented on #28076
I wonder whether this phase transition is intended:
- phase is `api.ClaimBound`, `annBindCompleted` is **not** set
- the controller does not find the corresponding volume (yet)
- the controller sets the phase **back** to `Pending`.

@jsafrane can you comment on this?

[2016-06-27 09:39] sttts commented on #28076
Here is log of the situation:
[code]

compared to a log of a successful run:
[code]

[2016-06-27 09:47] evmin commented on #17676
My concern would be that while this improvement request is closed the sidecar option does not eventuate.

The fantastic example with https://github.com/kubernetes/contrib/tree/master/git-sync shows how cumbersome the implementation could be with the logic spread across three layers - script, docker and kubernetes.

That's exactly what I would like to avoid.

My 2 cents.

In either case - I would l

[2016-06-27 10:13] chengzhang1016 opened #28105 "Proportional scaling down cannot get expected result in unpause. Also, Proportional scaling down can get expected result in pause but cannot keep after resume."
Description of problem:
kubernetes/deployment: Proportional scaling down cannot get expected result in unpause. Also, Proportional scaling down can get expected result in pause but cannot keep after resume.

Version-Release number of selected component:
[code]

How reproducible:
Always

[Problem 1]: Proportional scaling down cannot get expected result in unpause.
Steps to Reproduce:
Step 1. Genera

[2016-06-27 10:19] k8s-merge-robot opened #28106 "[k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4809/

Failed: [k8s.io] kubelet [k8s.io] Clean up pods on node kubelet should be able to delete 10 pods per node in 1m0s. {Kubernetes e2e suite}

[code]

[2016-06-27 10:34] jianzhangbjz commented on #19235
Hi All,
**exec 'etcdctl --no-sync --endpoints http://127.0.0.1:4001 set /hello world' or 'curl -L -X PUT http://127.0.0.1:2379/v2/keys/hello -d value="world"', still get the error:**
Error:  client: etcd cluster is unavailable or misconfigured
error #0: dial tcp 127.0.0.1:4001: getsockopt: connection refused
curl: (7) Failed to connect to 127.0.0.1 port 2379: Connection refused
**How can to solve

[2016-06-27 10:45] karlkfi commented on #16508
From experience, one binary per repo makes building, packaging, learning, and management so much simpler. If you want to release multiple independent microservices together as one product, then use an integration repo that bundles them. But what we have now isn't microservices, it's just a bunch of tightly coupled components. So if you want to release them all as a single binary, go ahead. But if

[2016-06-27 10:53] kargakis commented on #28105
Can you post the command for starting the second replica set? If the rollout is healthy (ie. you roll out to something that is working) then this is expected because the deployment is ongoing.

cc: @kubernetes/deployment

[2016-06-27 11:02] wmengRH opened #28107 "customized seccomp profile does not work"
Pod cannot start when customized seccomp profile indicated.
Both unconfined and docker/default profile work fine.

Client Version: version.Info{Major:"1", Minor:"4+", GitVersion:"v1.4.0-alpha.0.882+700fbd0543e38c", GitCommit:"700fbd0543e38c610c124ae55e49039b2b34cca9", GitTreeState:"clean", BuildDate:"2016-06-27T02:37:26Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version:

[2016-06-27 11:03] jsafrane commented on #28076
This is fallout of #28002, caches are not initialized properly in unit tests. Patch will follow shortly.

[2016-06-27 11:41] sttts commented on #28107
Which docker version?

[2016-06-27 11:44] sttts commented on #28107
[code]

[code]

[2016-06-27 12:09] sttts commented on #28107
Though in my case that's maybe expected because `docker run` is supposed to consider the argument as a file name.

[2016-06-27 12:14] sttts commented on #28107
but:
[code]
With Docker 1.11 this works fine. I believe to have seen that with Docker 1.12 the colon syntax was even deprecated, switching to `=` completely.

[2016-06-27 13:08] timothysc commented on #16508
Static initialization is my biggest concern.  If you strace some of the binaries initialization you'd be horrified by what is happening.

/cc @kubernetes/rh-cluster-infra @ingvagabund

[2016-06-27 13:15] zmerlynn commented on #27699
They build off of `master` or `release-1.3`, etc. The actual tag point for the release is somewhat special.

[2016-06-27 13:24] timothysc commented on #26394
@yujuhong do you have a list of items that you could federate?  In general, the responsiveness of the kubelet is an issue.

/cc @kubernetes/rh-cluster-infra @rrati

[2016-06-27 13:38] aveshagarwal commented on #28103
@kubernetes/rh-cluster-infra

[2016-06-27 13:48] ncdc commented on #28107
Docker 1.10 requires a `:` separator (`seccomp:...`). 1.11 adds support for using `=` as a separator; it still supports `:` but lists it as deprecated. 1.13 will remove support for `:` and instead require `=`.

[2016-06-27 13:56] rootfs commented on #27691
@matchstick thanks for the info!

About the mount namespace theory, is GKE running kubelet in containerized mode? There is a recent change #27380 on mount refcount.

[2016-06-27 14:13] ApsOps commented on #10294
@thockin Okay, thanks for the info. I've been thinking of contributing for quite some time, so I'd love to try here (I'm a golang beginner). I just setup the development environment right now.

I wanted to clear a few things here.

1. Do we try to assign any value given to `--cluster-ip`, or do we only support `--cluster-ip=None`?
2. Should we only support `--cluster-ip=None`, or `--type=Headless`

[2016-06-27 14:28] derekwaynecarr commented on #28103
More information is needed:

1. is this docker installed from your distro or from docker?
1. can you paste the output of `docker info`
1. what cgroup driver is used for docker?

[2016-06-27 14:29] agutierrezl opened #28113 "IAM_PROFILE hardcoded"
Hi,

You have hardcoded the IAM_PROFILE for nodes and master. From config-default.sh:

`IAM_PROFILE_MASTER="kubernetes-master"`
`IAM_PROFILE_NODE="kubernetes-minion"
`

It would be nice if you let this as custom variables. It will let you have multiples clusters running with different IAM permission.

[2016-06-27 14:39] agutierrezl commented on #28113
Something like this will be enougth:

`IAM_PROFILE_MASTER=${IAM_PROFILE_MASTER:-kubernetes-master}`
`IAM_PROFILE_NODE=${IAM_PROFILE_NODE:-kubernetes-minion}`

Regards

[2016-06-27 14:43] ingvagabund opened #28115 "kubectl replace: --force options is broken be design"
When replacing an existing pod, the ``kubectl replace --force`` command fails as it tries to create a pod with a name that is still used by terminating pod.

How does the ``--force`` option works?

1. ``kubectl replace`` deletes a pod (e.g. mypod)
1. ``kubectl replace`` creates a new pod with the same name (mypod)

What happens? As the command tries to recreate the pod, it fails as the ``mypod`` i

[2016-06-27 14:46] ingvagabund commented on #28115
``--force`` option introduce by https://github.com/kubernetes/kubernetes/pull/10358

[2016-06-27 14:48] ingvagabund commented on #28115
With ``--grace-period`` set to positive value, what should be the default behaviour of the command? When set to ``100s``, should the command hang for ``100s`` and then create the pod? Or is there a way to create a callback (inside a scheduler?) that creates the pod once the current one is deleted?

[2016-06-27 15:18] jbeda commented on #16508
@karlkfi -- you have some valid concerns here for sure.  Having a "omnibus" binary doesn't prevent us from breaking out parts of k8s into smaller repos (and sharing useful stuff outside of k8s -- see https://github.com/jbeda/go-wait).  A couple of points though:

* I agree that having a single binary and build process makes it difficult to have truly decoupled services.  In some ways it is moving

[2016-06-27 15:20] yujuhong commented on #27779
There are multiple test failures (incl. but not limited to the mirror pod tests) and all on the coreos image. This seems similar to #27498

[2016-06-27 15:27] yujuhong opened #28118 "node e2e: collect logs within only the relevant time frame"
Example: https://console.cloud.google.com/storage/kubernetes-jenkins/pr-logs/pull/28025/node-pull-build-e2e-test/12221/

The test ran into a known kernel issue (unregister_netdevice,  #27498), However, besides that, the docker log is full of deletion errors such as

[code]

It seems like something (kubelet?) was trying to delete containers whose name was extracted from "Exited (137) 8 minutes ago"

[2016-06-27 15:28] yujuhong commented on #28118
/cc @kubernetes/sig-node @yifan-gu @euank @tmrts

[2016-06-27 15:34] xiangpengzhao commented on #27882
I once met the similar situation in my env. I thought it was the time setting of the env then, so I ignored the issue and reset my VM. I will try to reproduce the issue.

[2016-06-27 15:35] aveshagarwal commented on #28103
@shayderi Yeah it would be good to provide more info about your setup as @derekwaynecarr said.

I tested this on fedora 24 by upgrading to docker 1.11 from 1.10. I created a simple pod, and then `curl http://127.0.0.1:10255/stats/summary`  or `curl http://127.0.0.1:10255/stats/<pod>/<container>` .
And it worked correctly.

[2016-06-27 16:09] smarterclayton commented on #16508
It's about half and half on static init.  Almost all of it is solvable, but
it's tough to catch new regressions and it's a bit tricky to profile
(sampling profilers don't do well on short executions).

On Mon, Jun 27, 2016 at 11:18 AM, Joe Beda <notifications@github.com> wrote:

[2016-06-27 16:17] timothysc opened #28121 "flake: k8s.io/kubernetes/pkg/controller/persistentvolume TestControllerSync"
Came up from: https://github.com/kubernetes/kubernetes/pull/28114

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28114/kubernetes-pull-test-unit-integration/32813/#k8siokubernetespkgcontrollerpersistentvolume-testcontrollersync

Ran several times locally, could not reproduce.

[2016-06-27 16:22] lavalamp commented on #27519
@hongchaodeng

I'm severely lacking in design review bandwidth right now. Given that we've
fixed the races, is this urgent? This is not something I want to change
without giving it a lot of attention to get it right and I just don't have
attention to spare right now, since this is not on my list of priorities
for 1.4...

On Sun, Jun 26, 2016 at 2:20 PM, Hongchao Deng <notifications@github.com>
wro

[2016-06-27 16:24] comcast-david commented on #28038
The cluster in reference is a 3-node cluster with a separate master.  The issue has been observed in a much larger cluster with an identical configuration.  Worth mentioning we're running kube 1.2.0.

The kubelet runs with the following parameters:

[code]

[code]

cbr0 doesn't exist on this system.  We have a `docker0` interface for which all hairpin values are set to 0.  None of the other virtua

[2016-06-27 16:29] euank commented on #28118
Because the date for that is the 22nd and the actual failed run was on the 27th, I'm fairly confident that's a red herring.

It's wroth noting that the reboot line appears after those errors, and I don't see anything like it after that (during the actual test run).
[code]

My guess is when the image was created, someone manually typed `docker rm -f $(docker ps)`, accidentally omitting the `-q`, an

[2016-06-27 16:30] stensonb commented on #27884
FYI - I've got another node stuck in this state again...different node than the first, same software versions (OS, docker, kubelet, etc).

@vishh what sort of custom kubelet binary are you suggesting?  maybe we can crank up the logging to something like "TRACE" so that when it gets stuck again, we'll have some better details...

[2016-06-27 16:35] xiang90 commented on #27519
@lavalamp I feel this is urgent since we want to push forward the shared informer stuff in 1.4. We'd better to get a solid implementation of informer with clear APIs guarantee soon.

[2016-06-27 16:36] hongchaodeng commented on #27519
Can you reason about how the race has been fixed? This is something that we are worried about given shared informer will introduce more complicated concurrency patterns. It is also what this proposal tries to reach.

[2016-06-27 16:42] lavalamp commented on #27519
I was under the impression we'd already merged the shared informer stuff.
Is there more to do? Is there an issue I should be following?

On Mon, Jun 27, 2016 at 9:36 AM, Hongchao Deng <notifications@github.com>
wrote:

[2016-06-27 16:46] yujuhong commented on #28118
Thanks for looking into this!

+1 for this, but we should use "the last boot before the test begins" because the node could've rebooted during the tests.

[2016-06-27 16:47] hongchaodeng commented on #27519
Here are the questions that I believe we need to answer and document clearly, so that we can have a correctness review of the shared informer and write tests: https://github.com/kubernetes/kubernetes/issues/27984

[2016-06-27 16:52] jlowdermilk commented on #28121
This is the sole cause of flakes in the [test-go job](http://kubekins.dls.corp.google.com/view/Critical%20Builds/job/kubernetes-test-go/). Failures all look like
[code]

[2016-06-27 17:10] ncdc commented on #28115
You could watch for the resource to be deleted and create after you see the deletion happen

[2016-06-27 17:13] lavalamp commented on #27984
I recommend writing tests demonstrating (lack of?) desired behaviors.

[2016-06-27 17:21] comcast-david commented on #28038
I enabled TRACE logging for iptables and made two requests.  One worked (the SEP pointed to a remote node), one didn't.

Working trace:

[code]

---

Broken trace:

[code]

The client times out at this point.  After the client hits ctrl+C, the below is logged:

[code]

---

In addition, here is the complete set of service endpoints:

[code]

---

The two requests differ in terms of the `KUBE-SEP`

[2016-06-27 17:24] ivan4th commented on #25106
Didn't manage to reproduce the issue on current master. Also tried to add `panic()` traps to `func (x *Container) CodecDecodeSelf()` and `func (x *Handler) CodecEncodeSelf()` to pkg/api/types.generated.go and they aren't being hit by kubectl client code. Did domething change there?

[2016-06-27 17:25] #27962 closed

[2016-06-27 17:26] #22883 closed

[2016-06-27 17:27] #22386 closed

[2016-06-27 17:27] spxtr commented on #22580
This is pretty much done now that there is a non-blocking section.

[2016-06-27 17:27] #22580 closed

[2016-06-27 17:28] euank commented on #27228
We can close this since rkt v1.9.1 is released and the tests are happy under rktnetes there. We've already also documented that you should use v1.9.1 and updated the required version I believe.

[2016-06-27 17:30] jlowdermilk commented on #28121
Dupe of #28076

[2016-06-27 17:30] #28121 closed

[2016-06-27 17:45] vishh commented on #27884
To increase logging level, you can set `--vmodule=*=10`.
By `custom` binary I meant running a purpose built kubelet with periodic
cpu usage dumps.

On Mon, Jun 27, 2016 at 9:31 AM, Bryan Stenson <notifications@github.com>
wrote:

[2016-06-27 17:49] osterman commented on #28063
Thanks! We'll be upgrading to 1.3 as soon as it's cut.

[2016-06-27 17:50] cjcullen commented on #27612
I'm seeing another x509 failure in gke-serial: https://github.com/kubernetes/kubernetes/issues/27537#issuecomment-228630948

[2016-06-27 17:52] yujuhong commented on #27884
You could also use a simple script to probe kubelet periodically to gather goroutine stacktraces, profile cpu usage, etc. This way, you wouldn't need a custom binary.

This is unusaul. How many pods/containers and what type of pods were you running on each node?

[2016-06-27 17:54] zmerlynn commented on #27612
This seems to be fixed. Please reopen if not?

[2016-06-27 18:05] stensonb commented on #27884
Thanks @vishh ;  I just restarted all of my kubelets with "--vmodule=*=10"...maybe that will give us some results.

@yujuhong : there are between 100-150 containers running per node (half of those are the pause/2.0 image from google)...and the containers vary from java apps, golang, node, php...all coming from different base images (though, mostly from the "official" releases of ubuntu, alpine, et

[2016-06-27 18:11] goltermann commented on #25543
Keeping in v1.3 until we decide on Docker 1.11 for sure.

[2016-06-27 18:12] dharmisha commented on #19293
Even I am facing the same issue, please let me know a solution to this problem

[2016-06-27 18:14] zmerlynn commented on #25543
The `kube-proxy` issue seems to be present on old and new docker alike, sadly.

[2016-06-27 18:28] freehan commented on #28038
It looks like hairpin mode is not set correctly. Can you take check the `--hairpin-mode` flag on kubelet? Or just `ps aux|grep kubelet`

[2016-06-27 18:30] freehan commented on #28038
also grep `hairpin` in kubelet log

[2016-06-27 18:33] smarterclayton commented on #25106
No one has fixed this to my knowledge, and I don't see evidence of a fix.

[2016-06-27 18:50] dharmisha opened #28123 "I get an error while executing kubectl exec command. I get the following error:- Error from server: Upgrade request required"
Please provide me a solution to this issue

[2016-06-27 18:56] krousey opened #28124 "container "runtime" exceeding expected RSS memory"
We seemed to have curbed the kubelet memory issues in #27456, but the runtime issues remain.

[code]

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-soak-continuous-e2e-gce/5807 has a lot of these.

This can likely be de-duped to an auto-filed issue when the soak tests are added to the munger.

[2016-06-27 18:57] krousey commented on #27456
Closing and leaving the "runtime" container issues to be investigated in #28124

[2016-06-27 18:57] #27456 closed

[2016-06-27 18:59] Random-Liu commented on #25543
I opened a docker issue here https://github.com/docker/docker/issues/24000. Feel free to supply information on that issue.

[2016-06-27 19:01] yifan-gu opened #28125 "rktnetes testing: e2e artifacts should include kernel logs, and rkt api-service logs"
Today the rktnetes jenkins job only grabs/uploads kubelet logs [example](https://console.cloud.google.com/storage/browser/rktnetes-jenkins/logs/kubernetes-e2e-gce/3351/artifacts/jenkins-e2e-minion-group-5n6v/)

We need to fix this and enables the testing infra to get logs from journal logs instead of copying files.

cc @kubernetes/sig-rktnetes @kubernetes/sig-testing

[2016-06-27 19:19] vishh commented on #28051
This is a known issue and that's why the feature is still `alpha`. There is no concept of label ownership as of now since labels can be added to the node object from multiple sources.
We need to update kubelet to checkpoint the flags that it currently owns and use that knowledge while updating flags in the future.

A possible workaround meanwhile will be that of having kubelet delete existing flag

[2016-06-27 19:21] matchstick commented on #28076
@jsafrane This looks like it may still be unresolved. Do you think that your PR #28002 was the complete fix? Or is there more work to be done?
@goltermann I added this to v1.3 milestone.
@thockin is going to take a peek too.

[2016-06-27 19:37] sttts opened #28128 "Data race in GoRoutineMap (persistentvolume unit tests)"
[code]

[2016-06-27 19:38] sttts commented on #28128
Here are the full logs: https://00e9e64bac0b9ff11a1ca37abfead292d320aebac41f44f7c4-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F28102%2Fkubernetes-pull-test-unit-integration%2F32793%2Fartifacts%2Fjunit_v1,autoscaling-v1,batch-v1,batch-v2alpha1,extensions-v1beta1,apps-v1alpha1,federation-v1alpha1,policy-v1alpha1,rbac.authorization.k8s.io-v1alpha

[2016-06-27 19:39] sttts commented on #28076
I think even with the caches being repaired, the version conflicts can still occur.

Moreover, the test has a number of data races: https://github.com/kubernetes/kubernetes/issues/28128

[2016-06-27 19:52] timothysc opened #28130 "Idea Vetting: Event storage as an introspective service."
The basic premise is if there is an event_storage service, which is essentially a apiserver+etcd pod, that any requests made to /events would be proxied to that introspective service and not hit the main api-servers.

/cc @kubernetes/sig-scalability @rrati

[2016-06-27 20:02] davidopp commented on #28130
As you know we currently store events in a separate etcd in large clusters; is there evidence that API server is the bottleneck?

In any event (pun fully intended), there has been previous discussion in #4432 and #19637. Could we dupe this issue with #19637 to avoid proliferation of issues?

[2016-06-27 20:10] timothysc commented on #28130
This is essentially the easiest way I can think of to address #19637, without having to do a bunch of refactoring.

[2016-06-27 20:10] ivan4th commented on #25106
Were you using unmodified redis-master-controller.json for the test above, or did you add init containers to it? I've tried removing JSON tags from Volumes and Containers fields of PodSpec in pkg/api/types.go and doing `hack/update-codegen.sh` + rebuilding k8s, but to no avail.

[2016-06-27 20:12] davidopp commented on #28130
So maybe add this to #19637, or even re-title that one and add your comment to it, rather than creating a new issue? I hate to nitpick individual issues but we have a huge problem we too many open issues.

[2016-06-27 20:12] timothysc commented on #28130
k, I'll close and add on there.

[2016-06-27 20:12] #28130 closed

[2016-06-27 20:19] timothysc commented on #19637
Perhaps the easiest way to offload out of the main api-server would be to proxy /events to an introspective service running an api-server+etcd as a pod, provided the service exists otherwise default to original behavior.

Problem with complete offload (a.k.a kafaka) today, is that we would need to proliferate connection+sec details to all clients + update all backing client init functions...

/cc

[2016-06-27 20:19] dcbw commented on #27398
There's always going to to be PodIP, and that's the single "default" address that all pods are reachable via.  Until we have some way throughout the entire k8s API to specify pod address lists and some mechanism for matching addresses with intentions (eg, "I want an address that allows me to access the pod's [health check | storage network | whatever]") we can't answer the question about multiple

[2016-06-27 20:24] philips commented on #18735
@mikedanese I put this doc together, does it help? https://docs.google.com/document/d/1VNp4CMjPPHevh2_JQGMl-hpz9JSLq3s7HlI87CTjl-8/edit?usp=sharing

[2016-06-27 20:24] ixdy commented on #28125
https://github.com/kubernetes/kubernetes/blob/master/cluster/log-dump.sh is the script to update.

We already use `journalctl` for some logs.

[2016-06-27 20:31] yifan-gu commented on #28125
@ixdy Thanks for the reference :)
I assign this to @euank who is working on setting up pr testers for rktnetes. We can probably address the issue at the same time.

[2016-06-27 20:32] yifan-gu commented on #27228
Closing.

[2016-06-27 20:32] #27228 closed

[2016-06-27 20:38] zmerlynn commented on #10367
This bug is obsolete. I removed this code in 5a031bf52c988686db49815bf2ce09b21c27239b.

[2016-06-27 20:38] #10367 closed

[2016-06-27 20:45] janetkuo commented on #26834
The failure mode is different.

The old replica sets are scaled down to 1, and the new one is scaled up to 4. However, the new replica set only creates 2 replicas before timeout (spec.replicas=4, status.replicas=2).

[2016-06-27 20:50] pwittrock commented on #27476
cc @pwittrock

[2016-06-27 20:57] justinsb commented on #27691
Interesting.... on AWS I _think_ that EBS will avoid unmounting a volume if it sees that it is "in use".  So sometimes you'll see an EBS detach take forever, and it will be because you still have it mounted.  I don't know exactly how they do that though and what "in use" means :-)

So I'm not entirely sure how the test was passing on AWS if I was switching between hosts and it was staying mounted

[2016-06-27 21:09] rootfs commented on #27691
@matchstick great! finger crossed to see what comes next. I unfortunately cannot create a gke cluster (some weird errors), but if there is any difference between gce and gke? I wonder that may point to something.

[2016-06-27 21:14] janetkuo commented on #26834
I saw an event in kube controller log for scaling the new RS up to 4, and the new RS spec.replicas is updated to 4, but there's no action from replica set controller before timeout. Maybe the RS controller does not see the RS update, or there's a problem in its expectation?

cc @madhusudancs

[2016-06-27 21:18] #28076 closed

[2016-06-27 21:37] thockin commented on #28076
#28108 Just went in.  I have been running this one on repeat for a while, and it has not flaked, whereas it was about 1/3 before.  I will let it run for another hour and if it doesn't flake, I will close this.

[2016-06-27 21:51] bprashanth commented on #26834
I probalby won't be able to debug this because I'm helping out with the storage fire. You should be able to check the expectations for a given pod and trace back and forth from there, look for lines like:

Observing replica count
[code]

Expectations:
[code]
Create/deletes
[code]

If you see a set expectations line and some uneven lowerered lines, the rc might be hanging (ie set to 4, lowered only

[2016-06-27 22:00] dcbw commented on #26102
As I mentioned above, the downside here is that the network plugin is tied to the runtime.  You cannot use the same network plugin with whatever runtime you choose, let's say docker or rkt.  You must either specify somehow out-of-band via rkt- or docker- specific mechanisms what network plugin this particular pod needs, and/or the network plugin itself must have specific code for either docker or

[2016-06-27 22:00] caesarxuchao commented on #26834
Yes, I will take a look.

[2016-06-27 22:12] thockin commented on #28076
I have run this test about 110 times now, and see no flakes.

[2016-06-27 22:14] roberthbailey commented on #28076
This just flaked in #27937, but that may not have included #28108.

[2016-06-27 22:16] philips commented on #27885
I am confused on what is going on here.

During the release burndown @mike-saparov mentioned that we are considering recommending Docker v1.9 for k8s v1.3 because of this Kernel bug. However, it seems more reasonable to document it and ask the distros to patch their Kernels.

Can someone give an update on what the current thinking is for the release?

[2016-06-27 22:18] thockin commented on #28076
OK, Let's keep an eye on it..

[2016-06-27 22:22] thockin commented on #28128
I'm running this in a loop with all current patches in, to see if I can repro

[2016-06-27 22:40] rata commented on #27885
@philips: Maybe trying to reproduce helps you to have a better idea? That's the only thing I can add, the rest of the message is mostly about that and nothing else. So feel free to ignore :-)

I can easily reproduce this using a a pod with two containers: a) privileged container with debian jessie with docker 1.11.2 or 1.10.3 from docker repos (it happens with both), b) docker-gc branch "fixes" fr

[2016-06-27 22:51] mml opened #28135 "federation service controller has trouble deciding when there is no delta"
E.g.,

[code]

See also #28134

[2016-06-27 22:53] thockin commented on #28128
Why does this test have THOUSANDS of goroutines?

[2016-06-27 22:53] mml commented on #28135
@kubernetes/sig-cluster-federation

[2016-06-27 23:03] dchen1107 commented on #27885
@philips We didn't recommend Docker 1.9 for k8s v1.3 yet, also what we discussed at burndown meeting has nothing to do with this issue. For this one, we plan to document it, or suggested the user of the node-problem-detector to upgrade their detector so that the kernel issues are visible to the end users. Also the users can understand why their applications being restarted or why their nodes being

[2016-06-27 23:03] sijnc commented on #24687
I got this example working, however during testing the busybox rc (replicas=2) I noticed that both busybox pods seemed to write to the file at the same time (first entry). Where all other cat file commands show only one host like the second one. Is this normal?

[code]

[2016-06-27 23:18] gregory-lyons commented on #17676
@thockin I've coded up an implementation of atomic initial pulls using your suggested method, but there doesn't seem to be an easy way to extend that to the refresh pulls. What about the possibility of cloning the repo twice? One copy pulls while the other serves content, and then swap atomically when a pull is complete.

[2016-06-27 23:49] quinton-hoole commented on #28135
Yes, I actually anticipated that problem.  There is a fairly simple fix.  This should not present a significant issue in the real world, but worth fixing.

https://github.com/kubernetes/kubernetes/blob/master/federation/pkg/federation-controller/service/dns.go#L208

[2016-06-27 23:54] quinton-hoole commented on #28135
@mml This is simply because these are two different instances of ResourceRecordSet being compared, each with different internal field values, but identical external field values. I will replace the == with an equivalent() function, which only compares external fields.

[2016-06-28 00:05] madhusudancs commented on #28073
#28132 undoes quite a bit of what #27986 introduced and moves the parameter substitution to node bootstrap scripts. Changes in #28040 are still valid but #28132 fixes this issue for other provider/node image combinations.

[2016-06-28 00:06] MHBauer commented on #28128
It only has thousands with a large `count` because these guys build up:
[code]

My guess is someone eventually calls `wait.JitterUntill` with `wait.NeverStop`. I saw a similar occurrence in #26387.

[2016-06-28 00:06] jingxu97 commented on #27691
From my testing, gce also produce the same error. So you can also try the
test with gce cluster.

On Mon, Jun 27, 2016 at 2:10 PM, Huamin Chen <notifications@github.com>
wrote:

--
- Jing

[2016-06-28 00:09] thockin commented on #28128
The data race is obvious once you look into it.  Sigh.

[2016-06-28 00:21] thockin commented on #28128
`pkg/util/goroutinemap.GoRoutineMap` offers a Wait() method, which calls down into a `waitgroup.Wait()`.  The problem is that docs for `waitgroup.Add()` say (emphasis mine):

`Note that calls with a positive delta that occur when the counter is zero must happen before a Wait.`

Specifically, this means that once you call `GoRoutineMap.Wait()` you can never call `.Run()` again.  We need a different

[2016-06-28 00:24] thockin commented on #28128
As far as I can tell this ONLY affects tests

[2016-06-28 00:30] mike-saparov commented on #27885
@dchen1107 thanks for clarification!

[2016-06-28 00:37] cjcullen commented on #27506
[code]

We were able to call `kubectl get nodes`, but then immediately failed on the `kubectl get cs` call.

[2016-06-28 00:40] aaronlevy opened #28138 "Implement a kubelet pod api"
I couldn't find a specific issue for this, and I've heard various incantations of a similar feature:

It would be nice from the bootstrapping perspective to allow an api client to target the kubelet directly. Essentially being able to push pod manifests to the kubelet, which once an api-server is available would be persisted as if they had been created via calls directly to the apiserver.

Related

[2016-06-28 01:00] dchen1107 commented on #27691
I ran the experimental test with kubernetes 1.3 beta2 & docker 1.9.1 to narrow down the issue. The first run failed with the same issue: (http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-pd-test/15/)

[k8s.io] Pod Disks [Flaky] should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow]

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e

[2016-06-28 01:04] mikedanese commented on #28138
cc @bgrant0607 @dchen1107

[2016-06-28 01:12] kant111 opened #28139 "AWS specific configuration doesn't change the Kube-DNS to the specified DNS_SERVER_IP"
[code]

I used the above configuration to bring up the cluster as recommended in this doc https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/options.md
however the DNS lookup between services don't seem to work as **Kube-DNS** points to 10.0.0.10 while the **cluster-dns** points to  100.64.0.10.

I am using kubernetes 1.2.4 release version

[2016-06-28 01:13] kant111 commented on #28139
@justinsb

[2016-06-28 01:22] thockin commented on #17676
If we did that, it would have to be an option, because it will use more
disk space and bandwidth.  Ideally we would only re-pull if there were
changes.  Maybe something like:

pull to data.1
ln -s data.tmp data.1
mv data.tmp data # atomic
copy data.1 to data.2
while true
  try pull into data.2
  if changed
    ln -s data.tmp data.2
    mv data.tmp data
    rm -rf data.1
    copy data.2 to data.3

[2016-06-28 01:35] rootfs commented on #27691
@matchstick @dchen1107

I am not convinced this is a kube issue after some investigation. It is more likely a gce issue.

I just ran gcloud attach-disk and detach-disk, no Pod or container was created in between commands
[code]

and I got the same message in kern.log
[code]

[2016-06-28 01:36] rootfs commented on #27691
@jingxu97 ^^^

[2016-06-28 01:36] imkin commented on #27947
can you please share you environment variables?

env | grep GOVC

[2016-06-28 01:40] chengzhang1016 commented on #28105
@kargakis
Generate a deployment with two RSs:
Step1: Create deployment with below yaml file:
[code]
Step2: Edit deployment, and change image from `nginx:1.7.1` to nginx:abc`
[code]

[2016-06-28 01:41] kevin-wangzefeng commented on #28082
/cc @Dingshujie

[2016-06-28 01:52] rootfs commented on #24687
@sijnc yes, that's how the example works. There are 2 replica writing to the nfs share. What you see from curl is the current snapshot of the file.

[2016-06-28 02:07] imkin commented on #22390
I am the maintainer for these scripts. Unfortunately the pull request to update the maintener is not getting any response.

@arasheedu Can you please point to me which version of getting-started-docs are you following?

[2016-06-28 02:09] justinsb commented on #17084
Can someone clarify the issue here?

Defaults:
1. VPC CIDR is 172.20.0.0/16,  Amazon DNS is at 172.20.0.2
2. The "k8s network" is 10.0.0.0/8 or 100.64.0.0/10 (this is NON_MASQUERADE_CIDR)

So pod traffic to the DNS servers should be NAT-ted?

The case when this doesn't happen is if VPC CIDR overlaps NON_MASQUERADE_CIDR, but in that case I think this is the least of your problems :-)

Is it the ove

[2016-06-28 02:11] philips commented on #246
I feel like the primary task is largely done and then some. Here is the current status of self-hosted and bootkube thread: https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/p9QFxw-7NKE/jeYJF1hBAwAJ

[2016-06-28 02:13] philips commented on #489
As part of the [bootkube discussion](https://groups.google.com/d/msg/kubernetes-sig-cluster-lifecycle/p9QFxw-7NKE/jeYJF1hBAwAJ) we have implemented a minimal [checkpoint in userspace](https://github.com/coreos/bootkube/tree/master/cmd/checkpoint#checkpoint) to be scheduled alongside the kubelet.

[2016-06-28 02:22] cjcullen commented on #27612
Finally got inside a running Jenkins VM for this. Here's what the kubecfg file looks like:
[code]

[2016-06-28 02:23] saad-ali commented on #27653
The design for this should also handle `VolumesInUse()` gracefully--i.e. if a pod continues to live after kubelet is restarted, it should have no gap in being reported in the Node's `VolumesInUse` status.

[2016-06-28 02:25] thockin commented on #27653
status on this?

[2016-06-28 02:27] saad-ali commented on #27653
Punted to post 1.3. Hopefully part of 1.3.x release

[2016-06-28 02:30] AdoHe commented on #28138
/cc

[2016-06-28 02:35] AdoHe commented on #28115
@ingvagabund have you ever tried to set `--grace-period=0`, I think this will do a non graceful deletion. `--force` should make sure the old resource is deleted before it creates a new resource, if not, that's a bug. @kubernetes/kubectl

[2016-06-28 02:41] saad-ali opened #28141 "Allow Kubelet Node Status to be updated on demand"
The kubelet volume manager depends on the `VolumesInUse` field of the node status being updated before it can proceed with attaching a volume. Since node updates happen periodically on kubelet it can take as much as 10 seconds before the field is updated.

Consider a force sync for the node status update code, something like:

[code]

Where the `forceSync` channel can be passed to the volume manag

[2016-06-28 02:50] thockin commented on #28141
What if we could make the whole cache be write-through?

[2016-06-28 03:13] pwittrock commented on #27442
@ahuffman would you be willing to create a PR to fix the documentation against the kuberrnetes/kubernetes.github.io repo?

[2016-06-28 04:34] thockin commented on #28101
This should wait until after the big conversion-gen and Makefile refactoring goes in.

[2016-06-28 05:02] krmayankk commented on #27247
@thockin  what do you think about this one ?

[2016-06-28 05:20] thockin commented on #27247
I don't think this is the right approach.  It's fairly complex to describe and overlaps with nascent NetworkPolicy.  Unless you're running out of NodePorts (in which case I am impressed), it's a false economy.  It doesn't offer real multi-tenancy, because pods in overlay1 can still access nodes in overlay 2 (or can't access nodes at all, in which case this matters not at all).  I'd rather think ab

[2016-06-28 05:26] saad-ali commented on #27691
Ok, I was able to grab the process that was holding onto a mount in a different mount namespace immediately after we unmount the device:
[code]

The `sleep 6000` process corresponds to the container created by the test: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/pd.go#L457

The process disappears after a few seconds (minutes?).

It exists holding on to the mount in both failing

[2016-06-28 05:33] k8s-merge-robot opened #28142 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull from private registry with secret {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/5441/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should be able to pull from private registry with secret {E2eNode Suite}

[code]

[2016-06-28 06:14] #27040 closed

[2016-06-28 06:20] mikedanese commented on #27822
I have not been able to look at this yet.
[code]
Looks like the kubeconfig is not getting created properly

[2016-06-28 06:25] shayderi commented on #28103
Hi,
more details:
1. docker installed from docker
2. docker info:
 - Execution-driver : native-0.2
 - Operatins system : Ubuntu 14.04.2 LTS
 - Kernel version : 3.16.0-30 generic
3. I think we use the default cgroup driver (we didn't change)
4. Kubernetes version : release 1.1.7

Thanks.

[2016-06-28 06:25] Random-Liu commented on #28142
[code]
This is the same with https://github.com/kubernetes/kubernetes/issues/28047.
Close this one.

[2016-06-28 06:25] #28142 closed

[2016-06-28 06:31] hhy5861 opened #28144 "About redis from the main issue, I can not connect master service ip connection pod slave"
I am from official instances did a redis master-slave, but I can not connect to the master service allocation in the slave containers such as ip: 10.254.31.52, contrary came in they could not connect to the master slave service assigned ip ask this. what causes the network can not communicate?

Thank you!

service ip
![1](https://cloud.githubusercontent.com/assets/8274977/16405760/ab25f4ba-3d3c-11

[2016-06-28 06:36] chengzhang1016 opened #28145 "kubernetes/deployment: Proportional scaling while rolling out have unexpected result in unpause"
Description of problem:
kubernetes/deployment: Proportional scaling while rolling out have unexpected result in unpause.

Version-Release number of selected component (if applicable):
[code]

How reproducible:
Always

[Problem]: Proportional scaling and rollout have unexpected result in unpause.
Steps to Reproduce:
Step 1. Generate a deployment with two RSs, as below:
Deployment.replicas=10
maxSur

[2016-06-28 06:54] liggitt commented on #27922
The policy rules are strictly additive, so you can't do `*`-resourcequota, which is what it sounds like you want.

The new RBAC authorizer allows you to define a clusterrole that specifies permissions on multiple resources, then bind that role to multiple users in multiple namespaces

[2016-06-28 07:18] ghodss commented on #23104
@lavalamp @bgrant0607 Do you know if upgrading kubelet from 1.2.0 to 1.3.0 will bounce the containers?

[2016-06-28 07:29] #25835 closed

[2016-06-28 08:06] spacexnice opened #28148 "k8s kube-up.sh install script does not support systemd?"
i found that kube-up.sh does not work on ubuntu 16.04LTS ?   because service etcd start goes to systemctl etcd start ,which not work?

[2016-06-28 08:11] ingvagabund commented on #28115
@AdoHe

[code]

[2016-06-28 08:14] klaus commented on #24687
I now got the example working, I still think [my comment](https://github.com/kubernetes/kubernetes/issues/24687#issuecomment-227956585) is not fully voided by this.

I am running a k8s 1.4.2 local cluster via docker. This funnily selects quite old components, esp. the DNS component is outdated / not working and throwing a lot of messages. I did initially not see them as the cluster was behaving qu

[2016-06-28 08:14] ingvagabund commented on #28115
[code]

Though the help says the ``--grace-period`` is to be used only with ``--force``, it returns the error above.

[2016-06-28 08:17] workhardcc opened #28149 "error log "cannot be updated: the object has been modified; please apply your changes to the latest version and try again" both in node and deployment"
kube version:1.22
There are a lot of error log in kube-controller-manager.WARNING as below:

On my watch node and deployment are both ok. Those error occur at regular intervals（a few minutes）, every node or deployment may encounter this problem.
Means that my kube-controller-manager has a bad network？ Or there are too many service in my cluster,kube-controller-manage can not afford it ?

[2016-06-28 08:54] jsafrane commented on #28128
No, we pass a stop channel to `wait.JitterUntil` and it should stop. However, `JitterUntil()` calls `Controller.processLoop()` which calls `cache.Queue.Pop()` and this one blocks until there is an item in the queue. It does not return when the stop channel is closed.

Anyway, let's focus on the flake here. How can I reproduce it? I have very good experience with `stress -p 100 -timeout 30s ./persi

[2016-06-28 08:58] xrow commented on #14935
@derekwaynecarr

We were wondering. Should we use this setting in combination with vm.panic_on_oom=1 or vm.panic_on_oom=0?

We had issues due to this setting. We are in a situation were we had deadlocks in the database and the apache threads were piling up and consuming alle memory. Then the OOM killer came and was killing all  of the threads except the apache threads. It was picking for example o

[2016-06-28 08:59] trodriguez-photobox commented on #23198
I spent several days trying to get it working but I couldn't. Then I tried with the AWS install method.

[2016-06-28 09:05] jianzhangbjz commented on #23273
@thockin Thanks, I encounter the same indent error and have fixed it now. But, are there any docs about the indent  grammar?

[2016-06-28 09:24] #27645 closed

[2016-06-28 10:00] jianzhangbjz opened #28152 "the yaml format of support GPU"
Hi guys,

Have someone know the yaml format of supporting GPU devices?
the  [kubernetes/docs/proposals/gpu-support.md](https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/gpu-support.md) just said:
"User creates a pod using the image, **requiring alpha.kubernetes.io/nvidia-gpu: 1**"
But, what is the right format of this yaml?

[2016-06-28 10:09] asalkeld commented on #17344
Note #21805 (Remove host command sniffing from CanSupport), should this issue be closed now, or is there still something to do still?

[2016-06-28 10:14] jsafrane commented on #28128
@sttts, can you please retest with #28153? I cannot reproduce the race, it always ends up in "limit on 8192 simultaneously alive goroutines is exceeded, dying" before any real race.

[2016-06-28 10:16] javiercr opened #28154 "Kubelet restarted randomly"
We have a production web app running on a GKE cluster with 2 nodes (Kubernetes v1.2). Today the the app suddenly started returning 502 errors (as the health check for the web service was failing).

Right after this happened I run `kubectl get events` and this was the output:

[code]

This node `gke-app-8d801be1-node-d0jh` is in fact the one that has allocated all the pods for the web app.

After a

[2016-06-28 10:24] kargakis commented on #28145
Your deployment is not paused and you request a new rollout with your template change. All new pods should go to the new replica set. This is not a bug but a feature.

cc: @kubernetes/deployment

[2016-06-28 10:58] kargakis commented on #28145
Reopening because when the new replica set is created and scaled up, it is the only one that has the updated annotations (the other replica sets haven't noticed the new size of the deployment). This means that we will treat the following sync as a scaling event rather than a rollout.

[2016-06-28 11:06] stephenemslie opened #28155 "kube-addon-update.sh causing high load on AWS master directly after kube-up."
I'm seeing high load on a fresh kubernetes master node on AWS. It seems to be caused by `kube-addon-update.sh`.

Steps to reproduce:

[code]

ssh into the newly created master and run `top`.

[code]

vmstat produces the following:

[code]

That CPU context switch number looks high to me, and if you watch `top` for a while, you see `python` processes starting and stopping very fast (on average, the

[2016-06-28 11:10] jnardiello opened #28156 "Properly expose counter states and generally better metrics to Prometheus"
I'm trying to implement a metric tracking states of each pod. Goal is to be able to detect if a pod gets continuously restarted in a given period of time, highlighting a problem on the pod.

Here is the current data exposed by `container_tasks_state`: http://pastebin.com/z1KixQCC

The value of this metric is extremely limited as all values are all set to 0 and there's currently no way to access `i

[2016-06-28 11:29] asalkeld commented on #6650
Do we want to still have this bug open?
If you look here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e/volumes.go
NFS, Gluster, iSCSI, RBD, CephFS, Cinder and GCE PD tests exist.

Is it not better to create an issue for the remaining volume types so it is more obvious what is still to be done?

[2016-06-28 11:52] sttts commented on #28128
@jsafrane rebased onto #28153 and tests are running now.

[2016-06-28 11:55] vklonghml opened #28157 "[QUESTION]Couldn't find an endpoint for default/svc: missing endpoints"
Hi, all:

i encounter a problem as follows:
1)k8s version:1.1.8
2)create a pod,service, and i just can't visit the service of the pod
3)here are the definitions of pod and service, endpoint:
kubectl get pod/p1 -o yaml
apiVersion: v1
kind: Pod
metadata:
  annotations:
    netID0: 13a72e9b-fd9e-4383-8d29-fabf1ec19d89
  creationTimestamp: 2016-06-28T19:26:50Z
  labels:
    id: p1
  name: p1
  namespa

[2016-06-28 12:01] klaus commented on #28099
You have the client (kubectl) and the server (usually running on port :8080).
Yes, as you can see from Your Post You are running '1.2.0' kubectl (client) against 1.2.2 (server)

[2016-06-28 12:15] resouer commented on #28141
ref: https://github.com/kubernetes/kubernetes/issues/25231

[2016-06-28 12:18] jsafrane opened #28158 "Closing a stopChannel does not stop a controller"
Let `ctrl` be a `Controller` returned by `framework.NewInformer()`. Following code does not stop the running controller:

[code]

The controller is stuck in `k8s.io/kubernetes/pkg/client/cache.(*DeltaFIFO).Pop()` call, where the channel is ignored. This clutters all stack dumps when unit tests are running in sequence (`go test -count 10000`) and make race detection crash ("limit on 8192 simultaneo

[2016-06-28 12:54] #27608 closed

[2016-06-28 13:18] comcast-david commented on #28038
--hairpin-mode is set to the default, but is falling back to hairpin-veth when the kubelet starts:

[code]

After restarting the kubelet, hairpin_mode is set to 0 for all of the bridged networks. Is this expected?

[code]

Worth mentioning that we're running the kubelet in containerized mode.  Could that be a factor?

[2016-06-28 13:21] aveshagarwal commented on #23636
@yujuhong @ncdc Would like to know if we want to keep it open and take further action, or close by documenting this as know issue/working as expected?

[2016-06-28 13:33] saad-ali commented on #27691
This means that the volume manager is not waiting for containers to gracefully terminate.

The pod is removed from volume manager (triggering unmount) when it is deleted from the kubelet pod manager: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/volume/populator/desired_state_of_world_populator.go#L119

Kubelet deletes the pod from pod manager as soon as it receives a delete pod

[2016-06-28 13:51] asalkeld commented on #26750
Seems to be used by kubectl too:
[code]

Do you want to move anything not used by kubectl into pkg/controller/deployment/util.go?

[2016-06-28 14:05] lukaszo commented on #26810
I believe it's tracked here #22205

[2016-06-28 14:15] vefimova commented on #27723
cc @kubernetes/kubelet Hey guys, can someone clarify on above questions?

[2016-06-28 14:58] sttts commented on #28128
The tests of https://github.com/kubernetes/kubernetes/pull/28102 run out of (8192) go routines, rebased on this PR.

[2016-06-28 15:01] elemoine commented on #28035
@vishh there is a "reported by @elemoine" in the middle of the kubelet logs I provided. It is probably not where you intended to add that.

[2016-06-28 15:03] chengzhang1016 commented on #28145
Yes, I think should do scaling up before create a new RS in this case.

[2016-06-28 15:13] kargakis commented on #28145
Is this the intention of someone who deploys and scales at the same time?

[2016-06-28 15:22] timothysc commented on #18386
@mikedanese I was thinking of creating a simple interface and wrapping the endpoint details behind that interface.

create
get
update
describe

thoughts?

[2016-06-28 15:42] krousey commented on #28124
#28124

[2016-06-28 15:53] purplesmurf1510 commented on #27947
GOVC_NETWORK=LabOnDemand
GOVC_INSECURE=true
GOVC_URL=https://$USERNAME:$PASSWORD@192.168.***.***:9443/sdk
GOVC_DATACENTER=ESX Lab
GOVC_DATASTORE=Datastore01
GOVC_RESOURCE_POOL=Resources

[2016-06-28 15:59] yujuhong commented on #28124
I created a cluster and ran a scrip to repeatedly create/delete pods overnight, but couldn't reproduce this issue.

Uploaded PR #28131 to enable the debug mode in docker, so that one can run pprof to get more useful information from the soak cluster.

[2016-06-28 16:06] mtaufen commented on #28084
@mikedanese @yujuhong can one of you take a look at this?

In `test/e2e/container_probe.go`, it doesn't look like the `makePodSpec` function sets the `RestartPolicy` field of the `podSpec`. IIRC the default `RestartPolicy` is `Always`, right? It looks like this test hasn't changed in a long time though, so I'm confused as to why we would expect the pod not to restart.

Also, random note, looks lik

[2016-06-28 16:11] yujuhong commented on #28084
@mtaufen, readiness probe failure only means that the container is not ready (but it could very well be running). kubelet only restarts containers when "liveness check" fails.

Feel free to fix it! :)

[2016-06-28 16:18] #28069 closed

[2016-06-28 16:19] matchstick commented on #27691
Glad to see that I think we have root caused the problem and can now attempt a fix.

@rootfs Just to make sure it's clear for all. The kern.log messages you saw are A-OK messages to have the kernel report. Breaking them down as I understand them below.

These messages below are normal for when a new drive is attached:

[code]

And these mean the drive is cleanly detached. We see these messages wit

[2016-06-28 16:22] yujuhong commented on #28084
The node got restarted in the middle of the test.

From startupscript.log:
[code]

The node rebooted and came back around 11:05:21. All other logs showed the same symptom. Not sure what caused the reboot.

[2016-06-28 16:26] ivan4th commented on #25106
Sorry, managed to reproduce it after all.

[2016-06-28 16:36] pcm32 opened #28167 "kubectl logs should allow to discriminate between pod's stderr and stdout"
In the current state, invocation of `kubectl logs pods/my-pod` provides mixed stderr and stdout from the pod. For certain applications, it is important to be able to separate stderr from stdout. I haven't found any way of separating stderr from stdout through `kubectl logs...`.

[2016-06-28 16:38] cjcullen commented on #27612
I looked at the ModifyConfig code closer, and it is doing inidividual writes for each section of the kubeconfig. That now means that some sections can succeed, while others fail (because the file is being locked). We should be able to fix this by batching up the writes for each possible destinationFile and issuing a single `WriteToFile` per file at the end of `ModifyConfig`.

[2016-06-28 16:40] krousey commented on #27612
To be fair, this could happen before the file locking too. The file locking just adds another failure path, but prevents corruption.

[2016-06-28 16:46] dchen1107 commented on #28154
@javiercr on each node, we also has babysitters to check daemons' health. For example, kubelet might be restart if syncLoop take too long (like 5 min) or PLEG (pod life event generator)  is not healthy. Most time it is due to one docker operation hang, and retry should resolve the issue normally. When babysitter detects such issue, it tries to self-healing by restarting kubelet. Restarting kubelet

[2016-06-28 16:50] elemoine commented on #28035
@timstclair I don't know the cAdvisor and Kubernetes code bases, but I've been wondering if the problem could be related to the container namespace. The [`getDockerContainer` function](https://github.com/kubernetes/kubernetes/blob/eeda4c79155a2b90fdb45848c133428a19502ef7/vendor/github.com/google/cadvisor/manager/manager.go#L553-L566) would indeed not find the Docker container if it's namespace is

[2016-06-28 16:50] matchstick commented on #27653
OK we need to make sure we don't lose track of this one, but it is not blocking 1.3 release. Raising to P0 and removing from 1.3 milestone.

[2016-06-28 16:51] wonderfly commented on #25215
It took a few iterations but we just had our first green docker validation build (checkout the internal Jenkins instance), and you can see the GCI image version, k8s commit number, and docker version (1.12.0-rc2), that it was run against.

So I think my share of the issue is done. I will continue helping you guys for questions, but this should be assigned to someone else now. @dchen1107 I don't ha

[2016-06-28 16:56] lethe3000 commented on #16836
I launched two services: busybox and nginx, and I can resolve each, but such logs rolling in skydns:
`2016/06/28 16:46:25 skydns: failure to forward request "read udp 127.0.1.1:53: i/o timeout"
2016/06/28 16:46:26 skydns: failure to forward request "read udp 127.0.1.1:53: i/o timeout"
2016/06/28 16:46:26 skydns: failure to forward request "read udp 127.0.1.1:53: i/o timeout"
2016/06/28 16:46:26 sk

[2016-06-28 16:59] k8s-merge-robot opened #28168 "[k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19366/

Failed: [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor should generate node condition and events for corresponding errors {Kubernetes e2e suite}

[code]

Previous issues for this test: #28069

[2016-06-28 17:04] nhlfr commented on #28035
I'm going to work on this.

[2016-06-28 17:10] jingxu97 commented on #27653
The root cause of this also a race condition during pod deletion and
unmount file system. Maybe we can discuss the solution with the other flaky
test bug #27691.

On Tue, Jun 28, 2016 at 9:51 AM, Michael Rubin <notifications@github.com>
wrote:

--
- Jing

[2016-06-28 17:13] mtaufen commented on #28084
Interesting. Thanks for looking into this. Out of curiosity, would there be a way (maybe via the test framework) to make the tests robust to reboots?

Typo fix in #28169.

[2016-06-28 17:20] Random-Liu commented on #25215
@wonderfly Thanks a lot! I've assigned myself. And will leave unassign to @dchen1107. :)

[2016-06-28 17:27] yujuhong commented on #28084
"kubelet" itself should be robust against reboots, and it did correctly restart all the containers in this case. It's hard to be tolerant to reboots when you want to test a specific behavior :)

[2016-06-28 17:28] vishh commented on #14935
@xrow panic on oom should be disabled. vm.panic_on_oom=0

We have user space memory eviction in v1.3. Take a look at this feature - https://github.com/kubernetes/kubernetes.github.io/pull/718

[2016-06-28 17:30] ivan4th commented on #25106
I'm working on this issue.

[2016-06-28 17:32] pigmej commented on #16508
I see one big problem with this approach. Let's say I have 500 nodes k8s cluster, and that I have automated deployment that will be capable of building/testing and deploying cluster (full CI/CD).

If I will have possibility to have only one binary which is hyperkube how could I then detect which kubernetes components are affected by my change? If I would have separate binaries I could easily compa

[2016-06-28 17:36] mkumatag commented on #28152
The mentioned doc is just a proposal and not implemented I feel. If it gets implements the mentioned tag goes as annotation in the pod yaml, you can refer - [Annotations](http://kubernetes.io/docs/user-guide/annotations/) for more information.

[2016-06-28 17:38] mtaufen commented on #28084
Ok, true, this is a hard thing to do :).

I just had an idea for this test. Is there a reboot count that is tracked anywhere? We could store an `initialRebootCount` at the beginning of the test and check `restartCount - (rebootCount - initialRebootCount) == 0` rather than just `restartCount == 0`.

[2016-06-28 17:43] gregory-lyons commented on #17676
I'm not sure the rename way is going to work. I'm admittedly not super familiar with volumes, but it seems that I'm unable to do a rename that replaces the directory that holds the mounted volume.

E.g. I've mounted an emptyDir volume at /git in the git-sync container, but trying to atomically replace /git with the tempdir gives an error with "Device or resource busy."

Given that the mounted volu

[2016-06-28 17:46] yujuhong commented on #28084
I think it's a burden for the developers to write their tests to be reboot-proof, and honestly, random node reboots should not happen that often.
On the other hand, it's valuable to surface the fact that the node rebooted during the test. It helps with faster triaging :)

[2016-06-28 17:54] mtaufen commented on #28084
That's a very good point. Where do you think a good place would be to surface that information?

[2016-06-28 17:57] mkumatag commented on #28148
what `KUBERNETES_PROVIDER` are you using and how are you running this script?

[2016-06-28 17:59] yissachar opened #28171 "Minikube Getting Started Guide should include instructions for downloading kubectl"
The [Docker Getting Started Guide](http://kubernetes.io/docs/getting-started-guides/docker/#download-kubectl) contains instructions for downloading kubectl. The [Minikube guide](http://kubernetes.io/docs/getting-started-guides/minikube/) doesn't contain these instructions but it should if it's now the recommended way of running Kubernetes locally.

[2016-06-28 18:04] yujuhong commented on #28084
After a tests failed, the e2e framework dumps a lot of information. It can probably also include "reboots" in a prominent place.

[2016-06-28 18:11] Random-Liu commented on #28168
The fix https://github.com/kubernetes/kubernetes/pull/28092 is merged at https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19368/.
Close this one. :)

[2016-06-28 18:11] #28168 closed

[2016-06-28 18:16] bprashanth commented on #28078
@krmayankk did it work?

[2016-06-28 18:21] dmcnaught opened #28174 "AWS: Service annotation so that ELBs are created with cross-zone load balancing enabled."
According to @justinsb this doesn't currently exist, but we should add it for 1.3.1 or 1.4

Currently you can manage outside of Kubernetes with the AWS API.

[2016-06-28 18:22] kwilliams057 opened #28175 "Running bare metal K8s. Kube-proxy get x509: certificate signed by unknown authority but all other components able to run with certs"
Running version Kubernetes v1.3.0-beta.2

/usr/bin/kube-apiserver --logtostderr=true --v=4 --etcd-servers=http://localhost:2379 --allow-privileged=true --advertise-address=MASTER_IP --service-cluster-ip-range=10.10.1.0/24 --client-ca-file=/srv/kubernetes/ca.crt --tls-cert-file=/srv/kubernetes/server.crt --tls-private-key-file=/srv/kubernetes/server.key --kubelet_certificate_authority=/srv/kubernet

[2016-06-28 18:27] yifan-gu commented on #26201
Should be fixed by kubernetes/kubernetes.github.io#741

[2016-06-28 18:36] jbeda commented on #16508
@pigmej I think that monitoring the current versions of server components is a problem worth solving, for sure.

While we'll want to make sure that different versions of kubernetes work across versions in order to enable upgrading, I don't think large amounts of skew would be advised or tested.  It is a great goal to drive toward stronger interfaces and more decoupling (as @karlkfi is bringing up

[2016-06-28 18:38] imkin commented on #27947
there could be something specific in your username/password that is confusing the govc.
That is the reason why the docs for the vsphere ask you to set the following env variables.

export GOVC_URL='hostname' # hostname of the vc
export GOVC_USERNAME='username' # username for logging into the vsphere.
export GOVC_PASSWORD='password' # password for the above username
export GOVC_NETWORK='Network Nam

[2016-06-28 18:41] pigmej commented on #16508
@jbeda I'm not even saying about mixing versions. Imagine, you have 1.3.0 deployed on big production cluster, you have also automatic CI/CD stuff for K8S.
And then you need to urgently patch something in kube-scheduler which can be kinda safely fixed and swapped fast (even in big and HA envs). But having one single binary will cause problems for automated envs, because you will be unable to check

[2016-06-28 18:55] gregory-lyons commented on #17676
^Nevermind, ignore above comment. I see what you are saying about keeping data in a subdir of DEST, I was thinking about the case of pulling in the volume root.

[2016-06-28 19:51] ivan4th commented on #25106
Apparently this one's red herring after all! [Here's](https://github.com/kubernetes/kubernetes/blob/700fbd0543e38c610c124ae55e49039b2b34cca9/test/e2e/kubectl.go#L1316) the place in e2e tests themselves where internal representation is being used. That's why I was unable to reproduce the problem when not running e2e tests. Not quite sure it even needs to be fixed. Sample output after adding Printfs

[2016-06-28 19:58] ivan4th commented on #25106
On second thought, it confused the hell out of me, so maybe I should fix the test.

[2016-06-28 20:10] chengzhang1016 commented on #28145
Yes. I want to scale up and change pod template(create a new RS) at the same time in unpause for this case. All rs should do proportional scale(not only the new rs). I think the expect result should be same as after resume in pause.

[2016-06-28 20:12] bgrant0607 commented on #1294
This functionality won't be in core Kubernetes.

[2016-06-28 20:12] #1294 closed

[2016-06-28 20:14] mikedanese opened #28180 "Everything but serviceaccount/token controller supports ECDSA"
Apiserver and kubeconfig all work using ECDSA keys for PKI but the service account controller supports only RSA because our jwt code assumes RSA although this is not a requirement of jwt in general:

https://github.com/kubernetes/kubernetes/blob/master/pkg/serviceaccount/jwt.go#L63

This produces a cryptic non-fatal error in the early controller-manager boot that could be easily missed and pods wi

[2016-06-28 20:23] osterman commented on #13621
@janetkuo: We always see the terminated pods despite not passing `--show-all`

![image](https://cloud.githubusercontent.com/assets/52489/16430996/3dfdc6dc-3d33-11e6-8a7b-b304d9c8387a.png)

IMO `desired` = `current` = `0` = `terminated` :)

Am I misunderstanding what it means to be "terminated" or is this a bug? . I can file an issue in that case.

[2016-06-28 20:23] lvthillo commented on #26259
@dims I tried your solution on origin 1.2.0 (--pidfile in /etc/sysconfig/docker and restart). The logs aren't showen anymore. But I don't have enough knowledge about this issue. Hope it's a right solution.

[2016-06-28 20:26] liggitt commented on #28180
there was no particular reason for excluding it. looks like https://github.com/dgrijalva/jwt-go has added support for ecdsa since I pulled it in... bumping and allowing rsa or ecdsa keys would make sense to me

[2016-06-28 20:30] kargakis commented on #28145
A change in the deployment template is an explicit request for rolling out the new template when the deployment is not paused. This means that we shouldn't do proportional scaling but infer to the strategy. Scaling cannot happen beforehand if it was changed in the same request. If you want to scale before you roll out, you will need to separate your requests.

[2016-06-28 20:38] colemickens commented on #26810
I believe that #22205 is about having the scheduler respect affinity contraints for daemonset pods.

In this case, the scheduler already knows how to use node selectors... I'm just seeking to have kubelet automatically label nodes that are marked `--register-schedulable=false` so that I can use that label in the daemonset's node selector.

(Unless there's already a label/mechanism to do this?)

[2016-06-28 20:48] matchstick opened #28183 "e2e pd tests should centralize their code for graceful and ungraceful testing"
We are in the process of writing some new tests that perform almost identical tasks (working with PDs). The difference is that one of them needs to do this with graceful deletion of pods and one should exercise the ungraceful path.

Right now in the interest of getting airmiles for 1.3 we are just copy and pasting the two routines but we need to centralize the code for maintainability and ease of

[2016-06-28 20:50] lavalamp commented on #23104
@davidopp did our manual upgrade testing include looking for this?

[2016-06-28 20:51] jmhodges opened #28184 "secrets guide references rolling-update and could use deployment version of language"
In http://kubernetes.io/docs/user-guide/secrets/#secret-and-pod-lifetime-interaction, there is mention of using `rolling-update` in order to update the secrets in some pods, but there is no language for what to do for pods controlled by a deployment. It would be nice for it to have some.

I'm not actually sure what that deployment language would be, however. Perhaps one of y'all do.

[2016-06-28 20:54] kargakis commented on #26750
Totally agreed.

cc: @kubernetes/deployment

[2016-06-28 20:57] jlowdermilk commented on #27517
Most recent cause of flakes was #28076, and job has been green since that fix went in. Closing.

[2016-06-28 20:57] #27517 closed

[2016-06-28 21:00] jlowdermilk commented on #26877
@gouyang your comment in https://github.com/kubernetes/kubernetes/pull/26879#issuecomment-226064133 suggests this is fixed. Please reopen if that is not the case.

[2016-06-28 21:00] #26877 closed

[2016-06-28 21:00] kargakis commented on #26750
We may want to consider a pkg/controller/deployment/util package.

[2016-06-28 21:00] matchstick commented on #27691
@kubernetes/sig-storage
Another interesting fact we learned. This should never happen when the default grace period is not set to 0. With a graceful shutdown of pods we should see no corruption. Our early tests supports this. @jingxu97 is now extending our e2e tests so they include both graceful and ungraceful shutdown of pods. Check out #28181.

That said we still need to handle the ungraceful ca

[2016-06-28 21:04] imkin commented on #3630
Both the issues mentioned were closed. Can we please close this issue.

[2016-06-28 21:06] imkin commented on #10417
The debian image has been update in january 2016. We also have anew guide. Lets please close this issue.

@mikedanese can you please close this one?

[2016-06-28 21:08] imkin commented on #20980
@a-robinson can this issue be closed?

[2016-06-28 21:09] kargakis commented on #28184
cc: @kubernetes/deployment

Related issues: https://github.com/kubernetes/kubernetes/issues/13488, https://github.com/kubernetes/kubernetes/issues/9043

[2016-06-28 21:12] yujuhong commented on #23636
@aveshagarwal, I don't think we will take further action for the 1.3 release since the impact is very limited. I would like to keep the issue open to see for a while to see if this happens with a newer docker version and whether we can alleviate the impact (which is already very limited) for the 1.4 release.

[2016-06-28 21:21] a-robinson commented on #20980
Looks like it, thanks!

[2016-06-28 21:21] #20980 closed

[2016-06-28 21:24] ddska opened #28185 "kube-apiserver crashes when configured via insecure connection"
I've set up kubernetes v1.2.4  (also tried v1.3.0-beta.2) on AWS according to http://kubernetes.io/docs/getting-started-guides/aws/.
Then I changed on master node configuration of kube-apiserver to be able to access it via http by adding to  `/etc/kubernetes/manifests/kube-apiserver.manifest`:

[code]

After this changes I can make requests via http, but a few minutes later server stops responding

[2016-06-28 21:24] lavalamp commented on #27582
IMO you should handle cleanup like this by `defer`ing a call to the cleanup command (if it is possible).

[2016-06-28 21:36] #26833 closed

[2016-06-28 21:37] thockin commented on #26750
My thinking is that the path should reflect the context.  These are utils
SPECIFICALLY about deployments, so pkg/controller/deployment/util even
pkg/api/deployment would be better.

We do have a precedent of util functions related to specific API kinds
being in `pkg/api/<kind>`

On Tue, Jun 28, 2016 at 6:52 AM, Angus Salkeld <notifications@github.com>
wrote:

[2016-06-28 21:38] jlowdermilk commented on #26928
@netroby it seems solutions for your use case exist, but maybe are not well documented. If you have specific setup problems, recommend posting for help on [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

[2016-06-28 21:38] #26928 closed

[2016-06-28 21:45] jlowdermilk commented on #26954
@xiaochunyn looks like your issue was resolved, so closing this. For future reference, you will usually get faster response posting for help on [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

[2016-06-28 21:45] #26954 closed

[2016-06-28 21:45] MHBauer commented on #28158
see #28128 as an example

[2016-06-28 21:48] yifan-gu opened #28187 "rkt: Support per container volume mount relabel"
Today when selinux is enabled, rkt will relabel the mount volumes with randomly generated labels per pod. But docker supports finer grain control by per container relabeling with the [`:Z` option](https://docs.docker.com/v1.10/engine/userguide/containers/dockervolumes/#volume-labels) which makes the volume accessible by only one containers.

This feature needs support from upstream rkt.

cc @kuber

[2016-06-28 21:48] jlowdermilk commented on #26965
Closing as resolved . In the future @sbilali, you will usually get faster responses if you post these kinds of questions on [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

[2016-06-28 21:48] #26965 closed

[2016-06-28 22:09] jlowdermilk commented on #27002
See the troubleshooting guide](http://kubernetes.io/docs/admin/cluster-troubleshooting/) for next steps. For future reference, you will generally get much faster responses if you post help/debugging questions on [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

[2016-06-28 22:09] #27002 closed

[2016-06-28 22:19] jlowdermilk commented on #27030
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs and feature request/proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find answers/solutions to a similar issue that will work for you. The Kubernetes team regularly scans stackoverflow and will try to ensure questi

[2016-06-28 22:19] #27030 closed

[2016-06-28 22:24] jlowdermilk commented on #26989
cc @mattmoor

[2016-06-28 22:24] k8s-merge-robot opened #28188 "[k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19376/

Failed: [k8s.io] Networking should provide Internet connection for containers [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26171

[2016-06-28 22:27] jlowdermilk commented on #27046
See http://stackoverflow.com/questions/35582153/logging-to-the-google-cloud-in-google-container-compute-engine-with-go

[2016-06-28 22:27] #27046 closed

[2016-06-28 22:33] #10417 closed

[2016-06-28 22:35] gtank commented on #28180
I'll take a look at this if no one else is. Deploying RSA in new projects makes me sad.

[2016-06-28 22:39] jlowdermilk commented on #27051
Do you mean that the container was failing immediately and being restarted? Seems like "already attached" should not be an error. Also, sounds like image is not gracefully terminating, so consider filing issue against https://github.com/sonatype/docker-nexus3/issues.

[2016-06-28 22:42] virtuald opened #28189 "hyperkube static pods not suitable for offline usage / private registries"
In particular, if you're on a network that's disconnected from the internet completely, it's difficult to use the hyperkube image as it currently stands because the static pods all have hardcoded URLs for docker images in them.

From my limited perspective, it seems like the best way to solve this is to provide an argument to kubelet that allows it to rewrite registry URLs on the fly -- so if you

[2016-06-28 22:49] jlowdermilk commented on #27056
There is an oauth2 token authenticator webhook implemented in https://github.com/kubernetes/kubernetes/tree/master/plugin/pkg/auth/authenticator/token.

[2016-06-28 22:52] jlowdermilk commented on #27073
Message at the top of http://kubernetes.io/docs/getting-started-guides/vagrant/ indicates the vagrant guide is now superseded by [Minikube](http://kubernetes.io/docs/getting-started-guides/minikube/).

[2016-06-28 22:52] #27073 closed

[2016-06-28 22:55] ericchiang commented on #27056
@jlowdermilk I believe this is asking to add an example of a server side implementation that receives a webhook.

We've got an internal POC that I've been meaning to open source, but have gotten a little busy lately. Regardless of who adds one, it might be a good addition to the contrib directory.

[2016-06-28 22:58] jlowdermilk commented on #27081
Reusing image labels is discouraged, but does tend to be a valid use case for development. See https://github.com/kubernetes/kubernetes/issues/23497#issuecomment-212021092 for discussion around the same issue for rc rolling-updates. Last I heard, deployments was explicitly not supporting same-image updates, but that may have changed.

[2016-06-28 22:58] osterman opened #28190 "Feature Request: `kubectl` should output `AGE` as elapsed time in current state"
## what

`kubectl` should calculate the `age` as the time elapsed in the current state (e.g. `Running`, `ContainerCreating`, `Terminating`, etc)
## why

(IMO) Confusing UX: hard to tell if something is "stuck" if it's always outputting the total elapsed time. E.g. I thought this container was stuck in a `terminating` state.
## example

![image](https://cloud.githubusercontent.com/assets/52489/1643

[2016-06-28 22:59] #27836 closed

[2016-06-28 23:00] freehan commented on #28038
Is `hairpin_mode` set to 1 before restart?

Do you see something like [this](https://github.com/kubernetes/kubernetes/blob/release-1.2/pkg/kubelet/dockertools/manager.go#L1899) in kubelet log?

as long as kubelet has permission to operate in/sys/devices/virtual/net

[2016-06-28 23:19] jlowdermilk commented on #27116
cc @saad-ali, @justinsb

[2016-06-28 23:27] yujuhong commented on #13311
At the least we should know whether the worker for a pod is still inflight, and only cleans up afterwards.
(I had an outdated PR to add this to pod workers: #20465)

Some more caveats:
 - What if pod worker is stuck and unresponsive? This should be rare now that we have timeout for docker operations, but we need to be careful anyway.
 - Need to stop kubelet from creating a new worker for the pod d

[2016-06-28 23:28] jlowdermilk commented on #27355
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs and feature request/proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find answers/solutions to a similar issue that will work for you. The Kubernetes team regularly scans stackoverflow and will try to ensure questi

[2016-06-28 23:28] #27355 closed

[2016-06-28 23:31] #27497 closed

[2016-06-28 23:34] vishh opened #28192 "Handle systemd cgroups driver in docker runtime"
Kubelet has a feature that lets users specify the parent cgroups hierarchy to use for docker containers - `--cgroup-root`. This flag is currently defaulted to "", which means that the runtime can choose to parent the containers under any cgroup of their choice.
#27204 is adding support for pod level cgroups and improving Quality Of Service. Kubelet will be managing cgroups as part of this feature.

[2016-06-28 23:36] jlowdermilk commented on #27642
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-28 23:36] #27642 closed

[2016-06-28 23:39] vishh commented on #27204
@dubstack Make it explicit that this feature will be opt-in and requires all the sub-features mentioned above to be completed for v1.4.

[2016-06-28 23:42] dubstack commented on #27204
Yes I will expand on the description to more elaborately cover my work.

[2016-06-28 23:48] yujuhong commented on #27691
There has always been race conditions for non-graceful termination of pods. It happened rarely in v1.2 because the cleanup code (which unmounts the volumes) queried the container runtime (cache) to see if there were any running containers associated with this pod, and only unmounted the volumes if there were such containers. @saad-ali's PR (#28181) restores this check in the volume manager.

That

[2016-06-28 23:48] bprashanth commented on #27754
Log rotating once an hour is apparently not enough, reports are coming in of apiserver logs growing to fill up the /var partition on a 1000 node cluster. @kubernetes/sig-scalability @kubernetes/goog-node can we rotate based on size instead?

[2016-06-28 23:52] erictune commented on #28180
Go for it George

On Tue, Jun 28, 2016 at 3:36 PM, George Tankersley <notifications@github.com

[2016-06-28 23:53] chrislovecnm opened #28194 "GCI Master image logging and disk configuration"
Hi all

I am having the master /var partition fill up within less than 24 hours.

Obligatory version

[code]

[code]

Two biggest files in logs

[code]

kube-apiserver.log snippet

[code]

The cluster is 1009 nodes running in muitple AZ in GCE.  It was created with 4 calls to `kube-up.sh`.  The master was set to 20 GB on the persistent disk, for etcd, but I do not believe that there are options to

[2016-06-28 23:55] chrislovecnm commented on #28194
cc: @thockin @bprashanth @Random-Liu

[2016-06-28 23:55] bprashanth commented on #27754
oh hmm, maybe the fix just wasn't in 1.3 beta. @chrislovecnm what's the output of `sudo systemctl list-timers` on your master?

[2016-06-28 23:56] bprashanth commented on #28194
Duping into https://github.com/kubernetes/kubernetes/issues/27754

[2016-06-28 23:56] #28194 closed

[2016-06-28 23:58] chrislovecnm commented on #27754
1. We may want to put `/var/log` in its own partition or disk.  Also putting the containers on to its own partition.
2. May want to assess using sizing for masters: SM, MED, LARGE, XL, XXL, etc.  This sizing could include CPU, Memory, Disk, etc.

[2016-06-28 23:59] Random-Liu commented on #27754
@chrislovecnm I still can't get into your master. Can you check whether https://github.com/kubernetes/kubernetes/pull/27409 is included in your master?

[2016-06-28 23:59] jlowdermilk commented on #27694
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-28 23:59] #27694 closed

[2016-06-29 00:03] chrislovecnm commented on #27754
I have log rolling, from that PR, but if they will up before they get rolled :)  Or do we have problems with the log rolling?

[code]

[2016-06-29 00:04] #27758 closed

[2016-06-29 00:04] bprashanth commented on #27754
So whens the next timer? (sudo systemctl list-timers) and what's the size right now (ls -lh)?
It still makes sense to rotate on size, though if you don't have the fix, it probably isn't urgent.

[2016-06-29 00:07] chrislovecnm commented on #27754
[code]

[2016-06-29 00:13] bgrant0607 commented on #26707
See also #7470

[2016-06-29 00:14] thockin commented on #27754
5GB for logs is just tooooo small

[2016-06-29 00:16] bprashanth commented on #27754
I thought that was a dynamic sizing based on cluster size. If not it probably should be. Eitherway, 5GB in 1 hour?

[2016-06-29 00:18] thockin commented on #27754
I'm not excusing the size of our log, but 5 GB is pretty stingy by ANY
definition.

On Tue, Jun 28, 2016 at 5:17 PM, Prashanth B <notifications@github.com>
wrote:

[2016-06-29 00:19] jlowdermilk commented on #27931
Can you be more specific about cluster setup? What's the version of kubernetes/host os/setup guide you are using?

[2016-06-29 00:20] jlowdermilk commented on #27931
Really tho, this question would be better posted on [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions get responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution.

[2016-06-29 00:20] #27931 closed

[2016-06-29 00:21] mikedanese commented on #28013
Kubeconfig is failing to create here too.

[2016-06-29 00:21] chengzhang1016 commented on #28145
OK. By the way, what is the expect results for Step 3 ?

[2016-06-29 00:25] chrislovecnm commented on #27754
@thockin not only just logs. That is all of var ...

[2016-06-29 00:27] bgrant0607 commented on #28138
Also relevant: #16627

[2016-06-29 00:34] bgrant0607 commented on #2098
This is fairly out of date at this point.

[2016-06-29 00:34] #2098 closed

[2016-06-29 00:34] dchen1107 commented on #27754
The default logrotate is daily, hourly. I don't think gci changes that. In this case, even there is a size config like 100M for rotation, I don't think it checks your log file size often enough. Should the low hanging fruit here is make it run hourly?

Also agreed 5GB is too small for /var ...

[2016-06-29 00:37] thockin commented on #17676
Yeah, you got it. :)

On Tue, Jun 28, 2016 at 11:56 AM, Gregory Lyons <notifications@github.com>
wrote:

[2016-06-29 00:37] bprashanth commented on #27754
I think it *does* run hourly, that's why i asked for the timer list
[code]

[2016-06-29 00:38] thockin commented on #27754
it should be 100GB, at least

On Tue, Jun 28, 2016 at 5:35 PM, Dawn Chen <notifications@github.com> wrote:

[2016-06-29 00:52] AdoHe commented on #28158
Generally I think we should fix this #23715, which gives `wait.Until` a chance to stop the inner goroutine.

[2016-06-29 00:57] AdoHe commented on #28190
When we say `AGE`, we are referring time over the whole lifecycle of pod, not just in one phase. @kubernetes/kubectl

[2016-06-29 01:05] mattmoor commented on #26989
cc @jonjohnsonjr

[2016-06-29 01:08] mattmoor commented on #26989
IMO this is a pretty easy "won't fix".  All other registries will do something similar and you'll end up with a redirect to S3/CloudFront, which is virtually identical.

I'd recommend following whatever solution Kubernetes has in place for air gapped clusters.

[2016-06-29 01:11] bprashanth commented on #26989
Outside the scope of this bug, but maybe we can do something about McAfee profiling GCS as a virus vendor? Closing.

[2016-06-29 01:11] #26989 closed

[2016-06-29 01:13] bgrant0607 commented on #9125
cc @kubernetes/sig-network @timstclair @vishh

[2016-06-29 01:33] cjcullen commented on #27612
@krousey: Agreed.

I think #28197 should prevent the token refresh case from causing kubeconfig data loss. We still won't have a fully parallelizable ModifyConfig, but that is lower priority.

[2016-06-29 01:33] thockin commented on #28128
The data race is verifiable by inspection, we don't really need a repro.

On Tue, Jun 28, 2016 at 7:59 AM, Dr. Stefan Schimanski <
notifications@github.com> wrote:

[2016-06-29 01:51] jianzhangbjz commented on #28099
@klaus Thanks a lot! I'm clear now.

[2016-06-29 01:51] #28099 closed

[2016-06-29 01:52] enlinxu commented on #9125
Thanks Brian.
Here are the use cases I mentioned to Brian after we met at DockerCon.
1. By exposing the number of transaction by counting the tcp connection at the service level, to understand the application demand, and scale out/in application automatically to assure QoS.
2. By exposing the end-to-end traffic information, we can get the communication pattern between the pods, and when an intelli

[2016-06-29 01:58] jianzhangbjz commented on #28152
@mkumatag Thanks, please refer this discussion [Hui-Zhi/kubernetes](https://github.com/Hui-Zhi/kubernetes/issues/1).
I created s Pod Yaml as Hui-Zhi mentioned in that issue. But it came error, there [ Error: "nvidiaGPU" is Invalid value #3 ](https://github.com/Hui-Zhi/kubernetes/issues/3) do you have any ideas?

[2016-06-29 01:59] zmerlynn commented on #27444
We're up to 40m now. :(

![screenshot from 2016-06-28 18 58 57](https://cloud.githubusercontent.com/assets/4942464/16438209/69b692fc-3d62-11e6-9828-bda92482f7af.png)

[2016-06-29 02:02] zmerlynn commented on #27444
I really want the `kubernetes-build` job to be down at manageable levels as well, because it's not un-often tied to humans watching the results (Hi!). Given that it used to be down in the single digits, this is ... :(

[2016-06-29 02:14] saad-ali commented on #27116
@quinton-hoole

[2016-06-29 02:34] jianzhangbjz opened #28199 ""requests: alpha.kubernetes.io/nvidia-gpu: 1", Error: mapping values are not allowed in this context"
Hey guys,

Here, I added "--experimental-nvidia-gpus=1" arguments into function of start_kubelet in /hack/local-up-cluster.sh, and the local cluster running, the cluster info like below:
[code]
It seems running normal for supporting GPU devices, but when I create Pod, it return error:
[code]
the Pod Yaml content as below:
[code]
Have someone know the solution?

[2016-06-29 02:40] quinton-hoole commented on #27116
@erez-rabih The answer is 1.

It's documented in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/multiple-zones.md

Please do let us know if anything is unclear, or if you struggled to find the above documentation.

Regards

Quinton

[2016-06-29 02:40] #27116 closed

[2016-06-29 03:00] spxtr commented on #27444
I would be okay with the `kubernetes-build` job doing a quick-release, pushing that to whatever CI bucket we're using, and the other jobs using that.

We would need another job (merge-blocking, but that shouldn't be a problem) doing a full cross-platform build.

[2016-06-29 03:28] lavalamp opened #28200 "Remove junit/xunit reporting from postsubmit tests"
Make sure everything that was "unstable" now fails.

The purpose of this is to get rid of the dependencies of jenkins and simplify our test output.

Known things that need to change:
- kubemark test results.

[2016-06-29 03:40] bgrant0607 commented on #24114
cc @kubernetes/sig-cluster-lifecycle

[2016-06-29 03:57] bgrant0607 commented on #24114
@luxas
docker-multinode has a Flannel dependency. How is that different than a Weave dependency? Eventually we'd like to support all networking options via composition, but we'll need a default, and all options are vendor-specific.

[2016-06-29 04:12] bgrant0607 commented on #27723
@vefimova Why do you want multiple handlers per type? What is the specific use case? Why won't a sidecar work?

I think the bigger issue with readiness probes is #14848

[2016-06-29 04:20] bgrant0607 commented on #27081
@jlowdermilk is correct.

@rwillard If you want to trigger a rollout, change an innocuous field in the pod template, such as an annotation. You also need to ensure imagePullPolicy is Always.

[2016-06-29 04:20] #27081 closed

[2016-06-29 04:43] erez-rabih commented on #27116
@quinton-hoole thanks for the pointer it clearly answers my question.

[2016-06-29 04:48] bgrant0607 commented on #24343
@runseb We decided we wanted to move out examples a long time ago. The challenge is finding someone to do the required work, and someone to review the necessary changes.

[2016-06-29 04:50] bgrant0607 commented on #24343
@karlkfi Made some great points here: https://github.com/kubernetes/kubernetes/issues/16508#issuecomment-228638360

[2016-06-29 05:04] caesarxuchao commented on #26834
In the controller manager logs:
[code]
and
[code]
The RS controller never saw the generation updated from 2->3. That is, it never saw the Deployment controller scaled it up, which corresponded to generation 3.

Also in the controller manager log:
[code]
This shows the deployment controller did scale up the replicaset.

So the cause is RS controller missed an update of the RS. There were several re

[2016-06-29 05:07] bgrant0607 commented on #16508
cc @kubernetes/sig-cluster-lifecycle

[2016-06-29 05:12] bprashanth commented on #26834
Can you find the update in the apiserver logs?

[2016-06-29 05:48] caesarxuchao commented on #26834
Yes, in apiserver log:
[code]
And there is a build-log entry shows the generation 3 RS with spec.replicas=4:
[code]

[2016-06-29 05:54] krmayankk commented on #28078
@bprashanth yes the e2e one did work. In petsets, is it guaranteed that the pods belonging to the petset will always get the same ip when they are deleted and automatically re-created so that the endpoints in the service will be always the same

[2016-06-29 06:27] hekike commented on #27046
@jlowdermilk thanks!

[2016-06-29 06:33] davidopp commented on #23104
Yes, upgrading kubelet from 1.2 to 1.3 restarts the containers on the node. I thought this was WAI? We can look into it if that's not supposed to happen.

[2016-06-29 06:34] nhlfr commented on #28035
I couldn't reproduce this on master. So it seems that's an issue occurring only on 1.2.x version.

[2016-06-29 06:45] krmayankk commented on #27247
@thockin thanks we are indeed solving this for our infrastructure. We want to run different customers on different network boundaries segregated by acls, since we dont yet trust the container as a security boundary. So for the same k8s cluster, we have two sets of minions for two different customers.  the nodes in one set can never talk to nodes in another set, which also means the pods in one set

[2016-06-29 07:01] RobDeBagel opened #28205 "Path to server tarball in openstack-heat cluster setup is invalid in release builds"
https://github.com/kubernetes/kubernetes/blob/master/cluster/openstack-heat/util.sh#L112

The path to the server tarball resolves to:
`<ROOT_DIR>/_output/release-tars/kubernetes-server-linux-amd64.tar.gz'`

`_output` is hardcoded, and does not exist in release builds (v1.3.0-beta.2) The file in question is located at:
`<ROOT_DIR>/server/kubernetes-server-linux-amd64.tar.gz`

Correcting the path is

[2016-06-29 07:37] asalkeld commented on #26750
Thanks for the feedback, I'll move this to a standalone package as suggested. Also I didn't have to move any tests - so none of these  had unit tests! I'll look at improving that..

[2016-06-29 07:37] gregory-lyons commented on #17676
How about a (string) flag/environment variable GIT_SYNC_ATOMIC_SUBDIR? If it is empty string (which is default), we don't worry about "acting atomically" and pull right into DEST. If a string is provided, that string is used as the target subdir of DEST for pulling.

That way you can use a single flag/variable to specify both your desire for atomic behavior and where you expect the data to end up

[2016-06-29 07:41] ghodss commented on #23104
It would be much preferable if it *didn't* restart the pods. It makes the upgrade/downgrade maintenance much easier to schedule, perform, and roll back, especially in bare metal environments.

[2016-06-29 07:50] ajtrichards opened #28210 "kube-dns - cannot use short dns entry"
We've come across an issue where we have 2 services running; auth-api and rabbit-mq. From the auth-ui pod we are trying to get it to find the rabbit-mq pod so it can read from the queues.

When we use a short DNS name: `rabbitmq-master`, I get the following error;

[code]

If I use the full DNS name: `rabbitmq-master.default.svc.cluster.local`, it works OK:
[code]

So we could just use the full DN

[2016-06-29 07:57] piosz commented on #23104
If you are using cluster/gce/upgrade.sh script this is expected bheavior.  We use MIG rolling-update feature which basically recreates new VMs using the new startup script. kube-push was supposed to do in-place upgrades but it doesn't work.

[2016-06-29 08:01] davidopp commented on #23104
Yeah, from the first entry in the issue it looks like Sam was doing a manual version of kube-push. It would be great if we could test that scenario.

[2016-06-29 08:21] gregory-lyons commented on #17676
Or perhaps there's a better way that involves changing "GIT_SYNC_DEST" to make it more like the equivalent in gitRepo: https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/types.go#L748

We would have a default mount location for the emptyDir volume (e.g. /git), and then the optional GIT_SYNC_DEST (or _TARGET, _DIRECTORY, whatever) is a subdir within the volume directory. If GIT_SYNC_DE

[2016-06-29 08:26] kargakis commented on #26750
Let's move those utils in pkg/controller/deployment/util. A bunch of them take clients as arguments and I am not sure we want them under pkg/api

[2016-06-29 08:28] vefimova commented on #27723
@bgrant0607 I got the point with sidecar containers, I just want to get more clarification on questions in  https://github.com/kubernetes/kubernetes/issues/27723#issuecomment-227814633 comment regarding their usage.

[2016-06-29 08:29] lvthillo commented on #26259
@Gnouc How does your /usr/bin/docker looks like?
Still same issue on ```
oc v1.2.0
kubernetes v1.2.0-36-g4a3f9c5
[code]

[2016-06-29 08:33] #27691 closed

[2016-06-29 08:40] Gnouc commented on #26259
@lvthillo Here is it:
[code]

Change the shebang to `#!/bin/bash`, then `exec ${DOCKERBINARY} "$@"` to `exec -a docker ${DOCKERBINARY} "$@"`

[2016-06-29 08:45] lvthillo commented on #26259
@Gnouc Thanks for the fast reply.
Now my /usr/bin/docker looks like this:
[code]

I restarted everything:
[code]

in logs:
` E0629 10:42:53.022798    9519 container_manager_linux.go:267] failed to detect process id for "docker" - failed to find pid of "docker": exit status 1`

[2016-06-29 08:48] jsafrane commented on #28158
I think that `wait.Until` will end the controller goroutine (its stop channel was closed), however we need a way to break `DeltaFIFO.Pop()`, so `wait.Until` can actually stop.

[2016-06-29 08:49] lvthillo commented on #26259
What I don't really understand is the fact that:
[code]

[2016-06-29 08:51] nhlfr commented on #27974
I'm working on this.

[2016-06-29 09:07] khanamura commented on #26259
"/usr/bin/docker" is not used from the systemd.
See /usr/lib/systemd/system/docker.service

[2016-06-29 09:09] lvthillo commented on #26259
@khanamura
What should I edit?
[code]

[2016-06-29 09:12] Gnouc commented on #26259
@lvthillo Change `sh -c '/usr/bin/docker-current ...` to `sh -c 'exec -a /usr/bin/docker-current ...`

[2016-06-29 09:19] khanamura commented on #26259
@lvthillo
Change sh -c '/usr/bin/docker-current ... to sh -c 'exec -a **docker** /usr/bin/docker-current ...

and then

# systemctl daemon-reload
# systemctl restart docker.service
# systemctl restart origin-node.service

[2016-06-29 09:31] lvthillo commented on #26259
@khanamura @Gnouc Thanks, it works

[2016-06-29 09:55] kargakis commented on #28145
You don't test proportional scaling in step 3, you test the rollout strategy. What you saw is expected.

[2016-06-29 10:06] k8s-merge-robot opened #28214 "[k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13097/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26970 #27691

[2016-06-29 10:10] chengzhang1016 commented on #28145
OK. Thank you so much.

[2016-06-29 10:45] ajtrichards commented on #28210
There was one key piece of information that I missed off this issue... we were using `alpine:3.3` as our base image and that doesn't support the `search` directive in the `/etc/resolv.conf`.

After upgrading to `alpine:3.4` the issue is resolved.

Hopefully this will be of use to someone.

[2016-06-29 10:45] #28210 closed

[2016-06-29 11:01] lukaszo commented on #26892
Fix is merged

[2016-06-29 11:01] #26892 closed

[2016-06-29 11:03] errordeveloper commented on #16508
Copying what I've said on the list....

[2016-06-29 11:05] pskrzyns commented on #26201
@yifan-gu:
problem with creating kube-dns (should be solved by https://github.com/coreos/rkt/pull/2769)
there is not implemented port forwarding
and there is problem with etc/hosts so "DNS should provide DNS" tests are failing
kubenet won't work
additionally i was testing it using flannel only, so i don't know how it looks with other configuration

[2016-06-29 11:21] Hui-Zhi commented on #28152
@mkumatag @jianzhangbjz My branch works fine with GPU and I have tested, but the code not ready for sending a pull request.

[2016-06-29 11:37] saad-ali commented on #27477
Fixed with https://github.com/kubernetes/kubernetes/issues/27477. Will re-open if needed.

[2016-06-29 11:37] #27477 closed

[2016-06-29 12:35] ivan4th opened #28218 "Printing v1 API objects causes protobuf warnings"
See examples e.g. in #26763, #26202 and #26840
The problem is that fields like `HTTPGetAction.Port` (of type `intstr.IntOrString`) in pkg/api/v1/types.go can't be handled by protobuf (there's several such fields), and String() methods of v1 API objects in generated.pb.go use `proto.CompactTextString()`. This causes confusing messages like

[code]

while priting error messages referencing v1 API ob

[2016-06-29 12:37] ivan4th commented on #26840
@smarterclayton the reason for proto warnings is #28218, and internal representation isn't involved at all in kubectl apply (see my comments for #25106)

[2016-06-29 12:50] justinsb commented on #24343
I agree that github is not good at big repos.  But it's not clear that splitting into multiple repos is going to be any better.  We had one separate repo (contrib) and it was _worse_ on all the axes we are critiquing the main repo for: PRs and issues remained unattended, and they were less discoverable for being split across repos.  We should prove with one extra repo that it is an improvement, be

[2016-06-29 13:10] kargakis opened #28219 "kubectl rollout undo should support --dry-run"
@kubernetes/kubectl @kubernetes/deployment

[2016-06-29 13:36] javiercr commented on #28154
@dchen1107 is there any way to find out what happened? I took a look to the kubelet.log but I didn't find anything conclusive. Thanks!

[2016-06-29 13:40] k8s-merge-robot opened #28220 "[k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1597/

Failed: [k8s.io] Kubelet [Serial] [Slow] [k8s.io] regular resource usage tracking resource tracking for 35 pods per node {Kubernetes e2e suite}

[code]

[2016-06-29 13:42] ncdc commented on #28192
@vishh Fedora, Centos, and RHEL all use the systemd cgroups driver with docker OOTB. We really really need this to work with systemd from the start because of this.

[2016-06-29 13:42] timothysc commented on #16508
If we're asking for ponies... I do have a request that if we smash all the binaries, to do it on a major version bump and change it the name to just ```kube``` , channel the cleanliness of ```git```.

[2016-06-29 14:04] ingvagabund opened #28221 "dockermanager: semver is not parsed correctly"
History class:

1) docker [api]version retrieval refactored, removing the semver support [1],
2) support for semver reverted by [2],
3) support for semver removed again by [3],
4) no support for semver by docker/engine-api [4],

W.r.t to 2), the semver parser was implemented by calling NewVersion of go-semver [5] repository which (as a side effect) thrown away everything after ``-`` character (inc

[2016-06-29 14:12] ingvagabund commented on #28221
I would suggest to put a  code pruning everything after the ``-`` character (including) into ``Compare`` [1] method before the version itself is passed to ``engine-api`` version parser.

[1] https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/docker_manager.go#L925

[2016-06-29 14:16] aveshagarwal commented on #28221
@kubernetes/rh-cluster-infra

[2016-06-29 14:20] jbeda commented on #16508
Agree with Kube and some inspiration of git. (It is not known as super easy
to use though...)

What will constitute a major version bump? That seems like a huge rat hole.
On Wed, Jun 29, 2016 at 6:43 AM Timothy St. Clair <notifications@github.com>
wrote:

[2016-06-29 14:51] bgrant0607 commented on #27723
@vefimova Documenting the sidecar approach would be useful. I view it as a just a tip about how to use the system. @johndmulhausen and/or @pwittrock can guide you towards our new task-oriented doc templates.

Probes are specified and evaluated on a per-container basis. You could run a single sidecar with different API endpoints for querying about different containers and liveness vs. readiness, or

[2016-06-29 15:10] yujuhong commented on #27498
To run kubenet on a node, the framework needs to download and unpack the cni plugin in `/opt/cni`
kubelet needs to run with `--network-plugin=kubenet` and a fixed pod CIDR (since there is no node controller) `--pod-cidir=10.180.0.0/24`
I did those in #28196, but it failed on the trusty images because `nsenter` is not installed. We need to either install this in the node e2e framework, or bake it i

[2016-06-29 15:21] markine commented on #23142
Hello,

Seeking clarification: what's the recommended way for Kubernetes end users to get CPU limits working on AWS? Is using the wily image a well supported and stable config?

jessie is the default image for AWS installs for kubernetes v1.2.4. Out of the box the AWS installation silently fails to enforce CPU limits. The message "WARNING: CPU hardcapping unsupported" in Node status is an obscure/

[2016-06-29 15:29] goltermann commented on #28135
@mml @quinton-hoole we're probably building 1.3.0 today, so this one's likely out unless it's on a cherrypick list in an hour.

[2016-06-29 15:34] #24858 closed

[2016-06-29 15:50] geriBatai opened #28225 "kubectl apply for service errors on spec.ports[0].name"
Kubectl fails modifying existing service resource when changing it's ports. To reproduce:

kubectl version 1.2.4
api version 1.2.2

original spec, for kubectl create:

[code]

modified spec, for kubectl apply:
[code]

Running kubectl apply on the second definition generates the following error:

[code]

Debug info shows that it fails PATCH command, because generated diff omits "name". Excerpt from

[2016-06-29 15:58] goblain opened #28226 "Zone dependant mount target for NFS (or referencing AZ based services in zone agnostic way)"
AWS announced general availability of the EFS today and I'm looking into possibility of using it with my k8s cluster. The tricky part here is that I run a multi-AZ setup hence it would be optimal if I could mount from NFS server (aka EFS mount target) in the same zone, so obviously

[code]

will not do the trick... initially my idea was that it would be nice if I could reference node label in serv

[2016-06-29 16:01] euank commented on #27498
@yujuhong I believe updating [setup_host.sh](https://github.com/kubernetes/kubernetes/blob/084b598f4d82694b05e98e87dff46698bfd87e6d/test/e2e_node/environment/setup_host.sh) is the best way to bake it into the image, and I also think that should be preferred over installing it each time. You could do the same with CNI.

Thanks for working on this!

[2016-06-29 16:19] luispabon commented on #25257
@justinsb the cluster was deployed with the kubernetes-provided aws cloud scripts (kube-up).

[2016-06-29 16:52] Random-Liu commented on #28221
@ingvagabund I filed an issue before https://github.com/kubernetes/kubernetes/issues/24076.

When I initially added engine-api client, there is no version compare function in engine-api. After a while, they added it, so I changed the docker manager to use it.

But, yes, it's version check is relatively simple and doesn't support semver. :(

[2016-06-29 16:59] thockin commented on #21493
We're not implementing gRPC health checks right now, so I am closing this.

[2016-06-29 17:03] mtaufen commented on #27582
Reopened wrt @lavalamp's suggestions. PR coming soon.

[2016-06-29 17:06] mikebrow opened #28227 "Need some changes to makefile & golang.sh to support support debug builds"
To source debug Kubernetes binaries with tools like delve there is a need to provide debug build options to the glang compiler.  Specifically we need to be able to pass `-gcflags "-N -l"` to each go install, go build, and go test command  specified in hack/lib/golang.sh  These options turn off optimizations and inlining.  Thx to @derekparker for pointing out the need for `-gcflags "-N -l"`...

The

[2016-06-29 17:10] mitsuh commented on #14232
Still an issue.

[2016-06-29 17:15] thockin commented on #27723
I'd love some better documentation on this, or even a good example of a multiplexing healthcheck.

You can have as many sidecars as you want.  The "sidecar" designation isn't anything real - it's just human-centric nomenclature that indicates it is not part of the "main app".  You can have multiple sidecars running, each exposing a different port.

You can health-check the health-checker, though I

[2016-06-29 17:16] thockin commented on #27723
We can keep the discussion going, but I don't think we're going to add multiple handlers right now.

[2016-06-29 17:16] #27723 closed

[2016-06-29 17:24] kfox1111 opened #28229 "node anti-affinity"
I'd like to be able to specify in a rc/deployment that the pod members should land on nodes that have a certain set of labels, but that the value should be different for each member.

So, for example, say I tag my nodes with which rack, and chassis (multiple nodes per power supply), they are located in. I may want to say, node-anti-affinity: [rack, chassis]. This spreads out the failure domain as

[2016-06-29 17:28] yifan-gu commented on #26201
@pskrzyns Thanks, I will do an update on the known issues today as well.

[2016-06-29 17:32] sols1 commented on #27882
3 nodes up:

[code]

14 shuts down:

[code]

1 hour later the pods are still "running" on 14:

[code]

Even after `kubectl delete node` the pods are still "running":

[code]

[2016-06-29 17:40] a-robinson opened #28230 "Make GCI journal logs exported by fluentd more user-friendly in the log viewer"
This missed the cut due in the rush for 1.3, but exporting all of the journald fields is pretty excessive - most of them are unnecessary and just get in the way. For example, this is all the info that gets exported for a typical message (in addition to the metadata attached by fluentd):

[code]

And since "MESSAGE" is capitalized, it doesn't get special cased by the log viewer as the main content

[2016-06-29 17:41] Random-Liu commented on #28221
@ingvagabund On second thought, I believe the compare function in engine-api https://github.com/docker/engine-api/blob/master/types/versions/compare.go#L10 is just used to compare api version.

We should change the code to parse docker version with go-semver.

[2016-06-29 17:44] thockin commented on #24343
On Wed, Jun 29, 2016 at 5:51 AM, Justin Santa Barbara
<notifications@github.com> wrote:

To be fair, this is tragedy of the commons.  contrib is nobody's
problem, so that's who babysits.  If, hypothetically, we moved
kube-proxy to a different repo, you can be confident that I would
attend to it.

I'd like to hear more on the openstack experience here.  Having worked
with docker and libnetwork, the

[2016-06-29 17:50] sols1 commented on #27882
[describe_node_14.txt](https://github.com/kubernetes/kubernetes/files/339855/describe_node_14.txt)
[describe_node_14_2.txt](https://github.com/kubernetes/kubernetes/files/339857/describe_node_14_2.txt)

[get_node_14.txt](https://github.com/kubernetes/kubernetes/files/339858/get_node_14.txt)
[get_node_14_2.txt](https://github.com/kubernetes/kubernetes/files/339859/get_node_14_2.txt)

[describe_pod_

[2016-06-29 17:52] #25541 closed

[2016-06-29 17:58] yujuhong commented on #27498
I updated the PR to install nsenter on the trusty images. As for cni, I still keep it in the node e2e framework to install it every time because 1) it only downloads from GCS and untar a file of ~14MB, 2) the tarball is maintained and updated by @freehan.  It'd be an extra burden to update the images just for cni updates.

[2016-06-29 17:59] emaildanwilson opened #28231 "In 1.3, kubelet cloud-provider setting is not respected when --cloud-provider="""
It appears that the kubelet will detect and use the cloud provider as detected by cadvisor thus overriding the cloud provider passed in at runtime: https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/kubelet/kubelet.go#L1117. This will break our private cloud configuration where we do not use our cloud provider's load balancing and instead use our own load balancing tier. In my opinion,

[2016-06-29 18:02] yifan-gu commented on #27498
@yujuhong OK with the plan.

[2016-06-29 18:02] dubstack commented on #28192
@ncdc We intend to make this work on systemd systems before it becomes an opt-out in v1.5. Ideally we would like to achieve this in the v1.4 itself. So its really important for us to achieve the first milestone as early as possible. Then we will work on adding support for it with systemd cgroup drivers for the second milestone. But in any case this will be an opt-in in v1.4. So we don't effect exi

[2016-06-29 18:05] ncdc commented on #28192
As long as it doesn't break on systemd systems, which it sounds like you're saying, then no objections here. However, we will try to do everything we can to help make this work with systemd in v1.4. Please let us know how we can help. I really want to get this feature in with systemd support if at all possible.

[2016-06-29 18:06] yujuhong commented on #28231
If you specify any cloud provider through flags, it will be used by kubelet (see https://github.com/kubernetes/kubernetes/blob/release-1.3/pkg/kubelet/kubelet.go#L1068). It's only when you *don't* specify any cloud provider that kubelet will detect the cloud provider from the machine info, as described by the comment.
[code]

[2016-06-29 18:08] emaildanwilson commented on #28231
that's exactly my situation, I want to run in our private cloud environment without any of the cloud integration.

[2016-06-29 18:17] yujuhong commented on #28231
Ah I see. I guess specifying an empty string is the same as not specifying any cloud provider.

This auto-detection feature was introduced by #21373
/cc the author and reviewer to see if this is an intended behavior: @enoodle @vishh

[2016-06-29 18:32] ravilr commented on #28229
you may also want to look at https://github.com/kubernetes/kubernetes/blob/master/docs/design/podaffinity.md . i believe it is going to be part of 1.3 release as an alpha feature.

[2016-06-29 18:35] jlowdermilk commented on #28009
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-29 18:35] #28009 closed

[2016-06-29 18:36] bgrant0607 commented on #27980
cc @kubernetes/sig-cluster-lifecycle

[2016-06-29 18:37] bgrant0607 commented on #27980
ref #489

[2016-06-29 18:38] erictune commented on #2211
@olegshaldybin this is related to https://github.com/olegshaldybin/kubernetes/blob/protected-attributes/docs/proposals/protected-attributes.md and #27330

[2016-06-29 18:38] cjcullen commented on #27612
Made a new PR #28232 to address comments from #28197.

[2016-06-29 18:40] yifan-gu commented on #28192
+1

Which distro in node e2e doesn't support systemd? Shouldn't node e2e tests the latest stable distros ? @vishh

[2016-06-29 18:40] marun commented on #28171
+1 Just ran into this.

[2016-06-29 18:43] yujuhong commented on #23104
I agree that we should test all supported upgrade processes, but where can I them in the documentation?

If in-place upgrade is supported officially, we should prioritize this issue.

[2016-06-29 18:49] euank commented on #28192
Another option here would be to skip the test for now on CoreOS until the code can support a docker daemon running with the systemd cgroup driver.

If the goal of the node_e2e images is to ensure that these node features work on various distros, then that seems like the most honest way to represent that no, this feature is known not to work on that distro by default.

Is there a reason this isn't

[2016-06-29 18:52] jlowdermilk commented on #28098
Reaping of owned resources should probably be moved to the server, but it's done client side right now. If you want to delete managed pods via the api, you'll have to get them using the selector. See https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/stop.go for how this is done for each collection type.

[2016-06-29 18:54] jlowdermilk commented on #28123
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-29 18:55] #28123 closed

[2016-06-29 18:57] jlowdermilk commented on #28144
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-29 18:57] #28144 closed

[2016-06-29 18:58] jlowdermilk commented on #28148
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-29 18:58] #28148 closed

[2016-06-29 18:59] davidopp commented on #23104
I think there's a spectrum--we don't have to say we "officially support" in-place upgrade (and definitely nobody is recommending to make kube-up.sh work in time for the 1.3 release), but it seems like it would be nice if we can ensure that upgrading kubelet doesn't cause the containers to restart.

OTOH, my understanding is that we qualify only one specific Docker version with each Kubelet version

[2016-06-29 19:33] ghodss commented on #23104
We haven't seen any specific issues reported with Kube 1.2 and Docker 1.10, so we've already upgraded our prod clusters to Docker 1.10 (which was a pain because of the killing of containers). Also I would imagine in the future that hopefully if a new version of Docker breaks kube, we'd do a point release for it so that kube is forwards compatible with newer Docker versions.

And yes, Docker is mov

[2016-06-29 19:33] yifan-gu commented on #27204
Notes for support this with rkt:

Since rkt is spawned by systemd already, I think we can specify the [Slice](http://man7.org/linux/man-pages/man5/systemd.cgroup.5.html) to be one of the qos classes, and then the process in the rkt pods will all be put into the slice, (the slice will be created by systemd if not existed already).

Need to check how this affects the cgroup discovery of rkt pods tho

[2016-06-29 19:34] ghodss commented on #23104
That's all I'm asking for.

[2016-06-29 19:42] dubstack commented on #28192
@ncdc Yes we would not break existing users who do not opt-in for this feature in v1.4 . We add a flag to the kubelet for specifying if the user wants to enable the cgroup hierarchy. If the flag is not specified the system will behave as expected using both systemd and cgroupfs cgroup drivers.

Thanks for offering your help. We would like to have some systemd expertise when we start working on  ad

[2016-06-29 19:54] jlowdermilk commented on #28149
I believe that is a benign error. Kubernetes objects have a resource version that is unique for each update. If an update comes in that has an out of date resource version, it is rejected to prevent racing updates clobbering each other. We should have this documented somewhere, but it is implementation detail.

[2016-06-29 20:01] vishh commented on #28192
@euank

This is not possible with the node e2e infra today. Like I mentioned, @mtaufen is working on adding support for customized kubelet flags in testing. So its just a matter of time before we let distros have customized configuration.

It is the goal and we have not yet reached that goal yet. Feel free to help @mtaufen or improve the infrastructure in other means to reach this goal.

We have a

[2016-06-29 20:03] vishh commented on #28192
@yifan-gu

All other images excepting CoreOS don't use systemd cgroups driver.

This is the goal. But, we do not have the necessary infrastructure changes in place to achieve this goal. Will CoreOS be able to help bridge the gap? As I mentioned another option is to run a separate test suite with customized configuration until upstream k8s can support configurable node e2e test infra.

[2016-06-29 20:12] nikhiljindal opened #28235 "Allow reusing api deep copy functions without having to register all of them"
Right now, federation-apiserver depends on `pkg/api` (https://github.com/kubernetes/kubernetes/blob/2127a40596dfc08dfe95ed1a76034d00d17ef66e/federation/apis/core/deep_copy.go#L20) to reuse some of the deep_copy_generated funcs related to Service. As a side effect of that dependency, deep copy functions for _all_ v1 api resources are registered to the schema automatically: https://github.com/kubern

[2016-06-29 20:17] timstclair opened #28236 "[e2e_node flake] 10 minute pause between receiving and adding pod"
Seen on PR builder on coreos-stable20160622-image:
[code]

In the time it took for the SyncLoop to run, the test timed out, which caused a cascade of other issues. It also looks like the Kubelet never received the delete event, and instead continues to attempt to sync the pod with errors like:
[code]

Full test logs [here](https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs

[2016-06-29 20:17] timstclair commented on #28236
/cc @kubernetes/sig-node

[2016-06-29 20:17] yujuhong commented on #23104
My point is that we already know that there are issues (e.g, api changes) that may cause kubelet to restart the containers. AFAIK, nothing has changed after that. Unless this is prioritized, it's unlikely that these issues will get resolved automatically. That's why "nice-to-have" may not mean much...

We only test one docker version exhaustively, but generally each release is compatible with 2~3

[2016-06-29 20:21] vishh commented on #28231
@emaildanwilson Legitimate concern. I'm posting a fix. Do you consider this to be a regression or are you just getting started with k8s.

[2016-06-29 20:21] saad-ali commented on #16305
With `goroutinemap` and `operationexecutor`, `keymutex` is no longer needed. All of this code can be removed.

[2016-06-29 20:32] jlowdermilk commented on #28152
As mentioned, this is a proposed feature that isn't in review yet. Feel free to continue discussion offline or in https://github.com/Hui-Zhi/kubernetes/issues/3

[2016-06-29 20:32] #28152 closed

[2016-06-29 20:35] euank commented on #28236
From kern logs: `Jun 29 04:21:20 localhost kernel: unregister_netdevice: waiting for vethfcfaeac to become free. Usage count = 1`

This is a dupe of #27498

[2016-06-29 20:36] karlkfi commented on #24343
Blaming github for not being good at big repos is perhaps missing the point. Even if the tooling were perfect, having large repos fundamentally suppresses the single responsibility principle in favor of promoting a cultural responsibility that doesn't exist in OSS. If no one is maintaining a chunk of code, that code should be allowed to languish neglected, not drag down the rest of project. Having

[2016-06-29 20:37] jlowdermilk commented on #28157
Please post your question to  [stackoverflow]
(http://stackoverflow.com/questions/tagged/kubernetes).

We use github issues to track bugs, feature requests, and proposals. Help/support questions will be responded to much faster on stackoverflow, and you may find someone else has already posted a similar question and found a solution. The Kubernetes team regularly scans stackoverflow and will try t

[2016-06-29 20:37] #28157 closed

[2016-06-29 20:38] jlowdermilk commented on #28171
cc @mikedanese

[2016-06-29 20:40] vishh commented on #27204
Can `rkt` instead accept a pod level cgroup that kubelet provides and use
that instead?

On Wed, Jun 29, 2016 at 12:34 PM, Yifan Gu <notifications@github.com> wrote:

[2016-06-29 20:46] jlowdermilk commented on #28185
I don't know if apiserver still supports running with insecure mode, but I suspect not. If you need http for testing/dev, can you run [`kubectl proxy`](http://kubernetes.io/docs/user-guide/kubectl/kubectl_proxy/) and use http against local endpoint?

[2016-06-29 20:51] jlowdermilk commented on #28199
As stated https://github.com/kubernetes/kubernetes/issues/28152#issuecomment-229479162, this feature isn't ready for review yet. In the meantime questions should be directed to @Hui-Zhi.

[2016-06-29 20:51] #28199 closed

[2016-06-29 20:53] jlowdermilk commented on #28205
cc @elsonrodriguez

[2016-06-29 20:55] timstclair commented on #28236
Thanks!

[2016-06-29 20:55] #28236 closed

[2016-06-29 20:58] nikhiljindal commented on #28235
Its not just deep copy funcs, auto generated conversion funcs have the same problem. They are also all auto registered just by depending on `pkg/api`: https://github.com/kubernetes/kubernetes/blob/ec518005a89ea0b2094f3ae3e565eaa30816d8ce/pkg/api/deep_copy_generated.go#L35.

To fix it, we should generate an addDefaultingFuncs() method instead of generating the init() method.
We can then call that m

[2016-06-29 21:02] ddska commented on #28185
OK, I can use proxy for sure. But if these params for insecure mode are deprecated, shall we denote this fact in https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/admin/kube-apiserver.md?

[2016-06-29 21:04] rmazlumyan opened #28241 "Cross-account ECR Support (Specify RegistryIds to GetAuthorizationTokenInput)"
I would like to be able to use AWS ECR registry across accounts.
Would it be feasible to add RegistryIds as input to GetAuthorizationTokenInput?

https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go#L194

[2016-06-29 21:11] jlowdermilk commented on #28185
The params should be removed if they are deprecated, but I'd like someone more familiar with apiserver to confirm. cc @lavalamp @nikhiljindal

[2016-06-29 21:14] luxas commented on #17981
@david-mcmahon Did you get my email message I sent some days ago?

[2016-06-29 21:15] fejta commented on #27444
@zmerlynn how about creating a `kubernetes-build` that does a fastbuild and a `kubernetes-build-all` that does everything?

[2016-06-29 21:19] thockin commented on #28235
What is the optimization you're making here?  Is it that you don't want to
link all the copy functions?  Or is there some downside to having copy
functions registered that you don't need?

Manually maintaining a subset of functions is tricky - you need the full
set of functions for all transitively used types, which you'd have to
manage on your own.  Or you can just register "all".

On Wed, Jun 29

[2016-06-29 21:19] Random-Liu commented on #28154
@javiercr Go into your node, and check `/var/log/supervisor/supervisord.log`? It will show whether your kubelet was unhealthy and it restarted it.

[2016-06-29 21:20] zmerlynn commented on #27444
Yeah, especially if `kubernetes-build-all` isn't the thing publishing the `latest.txt`.

We could alternately do something crazy and split out `latest.txt` by arch, i.e. `latest-amd64.txt`, but it's already somewhat combinatoric how many latests we publish. :)

[2016-06-29 21:22] luxas commented on #27076
Small question:
Which versions of docker are supported in the v1.3 release and which versions are targeted for v1.4?

(Couldn't find the info anywhere else)

[2016-06-29 21:24] luxas commented on #27444
I don't see a case where latest-amd64 would be anything else than latest-arm...
Why not just do a quick release in the PR e2e test and a full release build somewhere else (in a SQ-blocking test or a pre-commit Jenkins test)

[2016-06-29 21:26] kargakis commented on #28067
[code]
DeletionTimestamp:2016-06-25T01:52:29-07:00
Jun 25 01:52:40.927: INFO: Err : timed out waiting for the condition

So the pod is set for deletion but it is never deleted
cc: @vishh @yujuhong @saad-ali might it be related to kubelet?

[2016-06-29 21:28] goltermann commented on #24518
@madhusudancs can this be closed now?

[2016-06-29 21:29] yujuhong commented on #23104
FWIW, I did a manual upgrade from v1.2 to v1.3 and did not notice any container get restarted.
 1. Create a 1.2 cluster
 2. Create some pause pods
 2. Run `./cluster/gce/upgrade.sh` to upgrade the master node (i.e., creating a new master instance).
 3. Swap the kubelet binary built with HEAD on the rest of the nodes

Most of the default cluster addon pods got recreated to upgrade to newer versions

[2016-06-29 21:32] zmerlynn commented on #27444
@luxas: Because if `kubernetes-build` is fastbuild, the it won't be uploading the binaries for all architectures, so the `latest.txt` file is a bit of a lie in that case.

[2016-06-29 21:39] euank commented on #27204
Right now it can't, but we could probably add something akin to `cgroup-parent`.. though we could also just as easily use `cgexec` from whatever non-systemd process spawns rkt.

However, so long as rktnetes has a hard dependency on systemd anyways, it seems like we could have systemd use the pod-level cgroup as the parent and just abstract that implementation detail away suitably so it has the sam

[2016-06-29 21:39] ncdc opened #28243 "`kubectl get` displays an empty list + returns an error when trying to get a nonexistent resource"
[code]

Prior to #23673 and #26686, we did not display the empty list; we only displayed the error. I'm guessing we don't want to display the empty list, do we?

@kubernetes/kubectl @kubernetes/rh-ux @kubernetes/rh-cluster-infra @smarterclayton @liggitt

[2016-06-29 21:39] #24518 closed

[2016-06-29 21:39] ncdc commented on #28243
cc @deads2k

[2016-06-29 21:43] thockin opened #28244 "Idea: explore iptables NFQUEUE to inject PROXY headers"
I am not sure this is possible, but it is intriguing.  We can capture some packets in iptables with the NFQUEUE target, and process them in userspace with something like https://git.netfilter.org/libnetfilter_queue/.  If we capture the start of a TCP session, could we inject a PROXY protocol (http://www.haproxy.org/download/1.5/doc/proxy-protocol.txt) header?  This would be an option, obviously.

[2016-06-29 21:49] goltermann commented on #24614
https://goreportcard.com/report/k8s.io/kubernetes#misspell has been pretty accurate historically.

[2016-06-29 21:51] goltermann commented on #22799
does this issue still exist?

[2016-06-29 21:52] goltermann commented on #20999
These are all working now (https://k8s-testgrid.appspot.com/k8s#gce-examples) can we close?

[2016-06-29 21:54] goltermann commented on #19720
time to close this one?

[2016-06-29 21:54] krousey commented on #24614
@goltermann shellcheck, not spellcheck

[2016-06-29 21:54] wernight commented on #24925
@erictune Can you please explain what you mean?

[2016-06-29 21:55] vishh commented on #27204
We'd like to keep QOS policies within Kubelet to make sure that the core
features of k8s works the same way across deployments. This aligns with the
new Container Runtime Interface as well.

On Wed, Jun 29, 2016 at 2:39 PM, Euan Kemp <notifications@github.com> wrote:

[2016-06-29 21:55] goltermann commented on #24614
reading too many issues in a row...carry on

[2016-06-29 22:11] emaildanwilson commented on #28231
@vishh Thank you. We're running on 1.2.4 and won't be running on 1.3 for a few months yet anyways and was just testing to look for future issues when I found this.

[2016-06-29 22:28] lavalamp commented on #28185
Insecure mode works fine, all our master components talk over the insecure port (if they are on the same VM). Are you sure that whatever triggered that message was actually talking over the insecure port? The secure port is still the thing that gets advertised and published. Not sure off the top of my head if you can adjust flags to get the insecure port published. But even if you could, probably

[2016-06-29 22:28] pwittrock commented on #27723
@vefimova Would you be interested in adding a focussed "task" document for this.  See the [instructions here](http://kubernetes.io/docs/templatedemos/).

[2016-06-29 22:31] lavalamp commented on #28235
Let's revisit this after I get my fixes re: this setup stuff in.

On Wed, Jun 29, 2016 at 2:19 PM, Tim Hockin <notifications@github.com>
wrote:

[2016-06-29 22:32] timothysc commented on #19720
I believe so, yes.

[2016-06-29 22:33] erictune commented on #24925
Say your pod has a container that asks for `100m`.

- If it is scheduled onto a node with 1 core, then the container gets 102 cpu shares (`round(0.1 * 1024 * 1)`)
- if it is scheduled onto a node with 4 cores, then the container gets 409 cpu shares (`round(0.1 * 1024 * 4)`)
- if it is scheduled onto a Intel Xeon E5-2687W v4 Twelve-Core Broadwell, which has 24 hardware threads, then the container g

[2016-06-29 22:36] yujuhong commented on #19720
@timothysc, do we need any documentation for the v1.3 release or is that covered in other issues?

[2016-06-29 22:39] Random-Liu commented on #28100
Both of the 2 occurrence are https://github.com/kubernetes/kubernetes/issues/27498.
[code]
and
[code]

[2016-06-29 22:40] Random-Liu commented on #28100
Close this one since dup to #27498.

[2016-06-29 22:40] #28100 closed

[2016-06-29 22:42] Random-Liu commented on #27885
XREF https://github.com/kubernetes/kubernetes/issues/27885

[2016-06-29 22:42] philk commented on #26787
It looks like this is the problem you're hitting (me as well). It seems like based on the comment this is a known issue but I'm not sure why the requirement for one and only one security group. AFAIK best practice is to split up specific permissions across security groups and add them as needed to instance types.

[2016-06-29 22:48] euank commented on #28192
Issue ref'd above has a slight bit more discussion.

If we can, I'd rather be able to skip the test for a specific distro until we have a better solution (feature supports coreos, etc) so we don't lose coverage of a more-or-less-default CoreOS image.

It seems to me like the relative difference in work between skipping a distro and updating the coreos image with the overhead the current process ha

[2016-06-29 22:57] erictune commented on #27968
David asked for an example of a Job YAML that would run for a few minutes, and a some test criteria for a manual test that when the cluster was upgraded, and nodes and master replaced, that the job still finished.  I provided this one:

[code]

@gmarek manually tested that the job kept running despite an upgrade during that `1800` second period.  It did, which was good.

We noted that the `kubectl

[2016-06-29 22:57] #27968 closed

[2016-06-29 23:00] mml opened #28248 "Back federation etcd with persistent storage"
As mentioned in kubernetes/kubernetes.github.io#662, the federation etcd will lose its state any time the pod dies, unless we modify `federation/manifests/federation-apiserver-deployment.yaml` to add a PVC.

We'll also need to create a PV *and* modify the turnup script to create the backing volume in the cloud provider.

@kubernetes/sig-cluster-federation

[2016-06-29 23:07] david-mcmahon commented on #17981
@luxas Yes and I replied.

[2016-06-29 23:09] euank commented on #27204
Right, so the interface expresses QoS in the form of saying "here's your parent cgroup under which all containers must run" and then that happens. Why does it matter if that's done via rkt the runtime doing it or rktnetes the abstraction over rkt doing it?

I think you misunderstood what I said; I'm not saying that kubelet doesn't create a pod level cgroup and hand it off to the kubelet -> rktnete

[2016-06-29 23:14] polvi commented on #24963
looks like this was fixed in #25938, so I'm closing.

[2016-06-29 23:14] #24963 closed

[2016-06-29 23:18] mml commented on #28248
@erictune FYI I believe this is a showstopper.

[2016-06-29 23:22] lavalamp commented on #28225
@foxish this might be a decent starter bug.

[2016-06-29 23:23] k8s-merge-robot opened #28250 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull non-existing image from gcr.io {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/5552/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull non-existing image from gcr.io {E2eNode Suite}

[code]

[2016-06-29 23:24] lavalamp commented on #28218
@smarterclayton

[2016-06-29 23:27] lavalamp commented on #26570
This means you're hitting a slow path and it should be fixed. @smarterclayton

[2016-06-29 23:28] lavalamp commented on #26570
What version were you running at? Is this reproducible at head?

[2016-06-29 23:31] stevekuznetsov commented on #26570
We figured out this was due to the `ListMeta` not implementing the correct `Accessor`... I think @smarterclayton has a pull to address it.

[2016-06-29 23:33] lukaszo commented on #22205
It looks like no one is working on it so I've looked at the code.
It should be easy to change `nodeShouldRunDaemonPod` in `pkg/controller/daemon/controller.go` to use GeneralPredicates.
Unfortunately  I see one issue. In current implementation of `nodeShouldRunDaemonPod` when there are no free resource or there is a port conflict it generates Event. GeneralPredicates does not generate any events s

[2016-06-29 23:34] lavalamp commented on #25252
Note that fixing this may make kubectl complain about mismatched versions much more frequently...

[2016-06-29 23:36] mikedanese commented on #22205
@lukaszo that event is not part of the api so it wouldn't be breaking compatibility to change it. Is there any way to surface failure cause of GeneralPredicate to the user?

[2016-06-29 23:39] lavalamp commented on #23749
@goltermann is this still happening to you?

[2016-06-29 23:42] bprashanth commented on #28078
no ip is not guaranteed. only DNS and hostname. See: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.3/docs/user-guide/petset.md

[2016-06-29 23:42] yujuhong commented on #27076
@luxas release v1.3 should be compatible with docker v1.9, 1.10, and 1.11. The version that we did thorough testing in GCE+GCI is docker v1.11.

We don't have a target for v1.4 yet.

[2016-06-29 23:43] lavalamp commented on #22904
sounds like this is WAI

[2016-06-29 23:43] #22904 closed

[2016-06-29 23:49] erictune commented on #2212
No plans to improve ABAC.  It will continue to exist for bootstrapping and back-compat purpose, but closing this.

[2016-06-29 23:49] #2212 closed

[2016-06-29 23:50] matchstick opened #28252 "Verify device is unmounted before detach via open O_EXCL"
@kubernetes/sig-storage  @thockin
Kubernetes requires that volumes are unmounted in all mount namespaces before letting the system know that it is safe to detach. While the kernel provides a simple technique for ext4 (namely seeing if /sysy/fs/ext4 has any entry for the mounted filesystem) this is not a portable solution.

Luckily there is a portable solution. We can use the O_EXCL flag. From the

[2016-06-30 00:00] yujuhong commented on #28231
@vishh I assigned this issue to you since [you are working on a fix](https://github.com/kubernetes/kubernetes/issues/28231#issuecomment-229476178), and I can't assign this to @enoodle anyway :-)

[2016-06-30 00:10] sputnik13 commented on #17324
It seems like the Ingress Resource is an implementation of this idea where a user posts an Ingress (a claim) and the Ingress Controller asynchronously delivers on the claim.  While there are definite PROs to this, how can disparity in capabilities between cloud providers be communicated to the user?  For instance AWS and GCE have different capabilities in Load Balancers.  Specifically, GCE support

[2016-06-30 00:10] sputnik13 commented on #17324
@pmorie do you have a draft of the writeup @thockin mentioned available somewhere?

[2016-06-30 00:20] goltermann commented on #23749
I don't see it now, so I suspect it got fixed along the way.  Closing.

[2016-06-30 00:20] #23749 closed

[2016-06-30 00:37] k8s-merge-robot opened #28255 "[k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull image from invalid registry {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/5556/

Failed: [k8s.io] Container Runtime Conformance Test container runtime conformance blackbox test when running a container with a new image should not be able to pull image from invalid registry {E2eNode Suite}

[code]

[2016-06-30 00:55] k8s-merge-robot opened #28257 "[k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6072/

Failed: [k8s.io] Services should work after restarting apiserver [Disruptive] {Kubernetes e2e suite}

[code]

[2016-06-30 01:04] bprashanth commented on #28257
This is
[code]

duping into https://github.com/kubernetes/kubernetes/issues/27011

[2016-06-30 01:04] bprashanth commented on #27011
GKE staging just failed with the upgrade failure on https://github.com/kubernetes/kubernetes/issues/28257

[2016-06-30 01:10] mml commented on #28248
OK.  @thockin implied I could use `volume.alpha.kubernetes.io/storage-class` to get this provisioned on-demand.  AFAICT, [this is enabled by default](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/options/options.go#L79), and since it makes our life easier I am trying to get this to work in my test cluster, but so far no joy.  Any obvious mistake?

[code]

[2016-06-30 01:13] smarterclayton commented on #28243
We don't, asking for a singular resource is an error and should not print
the list.

On Jun 29, 2016, at 2:39 PM, Andy Goldstein <notifications@github.com>
wrote:

$ kubectl get pod/foo -o yaml
apiVersion: v1
items: []
kind: List
metadata: {}
pods "foo" not found

Prior to #23673 <https://github.com/kubernetes/kubernetes/pull/23673> and
#26686 <https://github.com/kubernetes/kubernetes/pull/26686>,

[2016-06-30 01:21] mml commented on #28248
I needed to not specify a `volumeName`.

[2016-06-30 01:24] thockin commented on #28248
whew!

On Wed, Jun 29, 2016 at 6:22 PM, Matt Liggett <notifications@github.com>
wrote:

[2016-06-30 01:30] cjcullen opened #28260 "Rework kubeconfig reading/writing to be less complex/racy"
Following up on the discussion from #28197.

Parallel calls to ModifyConfig can do bad things to your kubeconfig file(s). We put together some quick fixes (#28034 & #28232), neither of which were all that satisfying because of the complexity of loading/storing kubeconfig from multiple locations.

@krousey @deads2k @jlowdermilk @ghodss

[2016-06-30 02:03] smarterclayton commented on #26570
This was fixed and merged in 1.3 by
https://github.com/kubernetes/kubernetes/pull/27168

On Jun 29, 2016, at 4:31 PM, Steve Kuznetsov <notifications@github.com>
wrote:

We figured out this was due to the ListMeta not implementing the correct
Accessor... I think @smarterclayton <https://github.com/smarterclayton> has
a pull to address it.

—
You are receiving this because you were mentioned.
Reply

[2016-06-30 02:03] #26570 closed

[2016-06-30 02:03] smarterclayton commented on #28218
I'm pretty sure this is because it's actually printing internal objects, not v1.  We don't have proto defined on internal objects (unlike json).

[2016-06-30 02:05] smarterclayton commented on #28218
Nm, my brain interposed this with another issue I was investigating.

[2016-06-30 02:08] smarterclayton commented on #28218
What code is printing them?  I wouldn't expect String() to get invoked during apply (except maybe for glog?)

[2016-06-30 02:49] smarterclayton commented on #28260
Maybe the real question is - why are we concurrently writing / reading from kubeconfig?  When as a user will that result in a great outcome?

[2016-06-30 02:54] #28128 closed

[2016-06-30 03:02] workhardcc commented on #28149
Thanks for relay!
I know there is a resource version such as ` "resourceVersion": "1837492"` when minion's kubelet GET from MASTER apiserver. Then kubelet use this resourceVersion upload self-health status to kube master.
So it means that the resourceVersion which minion's kubelet  want upload is mismatch the resourceVersion in kube master?
 If yes, why those mismatch happened? If mismatch happene

[2016-06-30 03:27] jlowdermilk commented on #28149
In most cases the upload is retried automatically. Like I said, the error is benign. You can ignore this message.

[2016-06-30 03:44] thockin commented on #28252
I tested this on a machine, seems to work.  A simple C program as an
example.

#include <unistd.h>
#include <stdio.h>
#include <sys/fcntl.h>
#include <stdlib.h>

int main() {
int fd = open("/dev/sdb", O_RDONLY|O_EXCL);
if (fd < 0) {
perror("busy");
exit(42);
}
sleep(10000);
return 0;
}

On Wed, Jun 29, 2016 at 4:51 PM, Michael Rubin <notifications@github.com>
wrote:

[2016-06-30 04:25] k8s-merge-robot opened #28264 "[k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13100/

Failed: [k8s.io] Pod Disks should schedule a pod w/ a readonly PD on two hosts, then remove both. [Slow] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27477

[2016-06-30 04:40] chowyu08 commented on #14232
me too ,but  still thanks!

2016-06-30 1:10 GMT+08:00 mitsuh <notifications@github.com>:

[2016-06-30 05:33] k8s-merge-robot opened #28266 "[k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19436/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run --rm job should create a job from an image, then delete the job [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26728

[2016-06-30 05:37] jianzhangbjz commented on #28152
@jlowdermilk Ok, thanks.
@Hui-Zhi I added test steps in [Hui-Zhi#3](https://github.com/Hui-Zhi/kubernetes/issues/3), please help check it, thanks.

[2016-06-30 05:46] #28248 closed

[2016-06-30 05:49] k8s-merge-robot opened #28267 "kubernetes-kubemark-500-gce: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3813/

Run so broken it didn't make JUnit output!

[2016-06-30 06:11] quinton-hoole opened #28269 "e2e Test failure: kubernetes-e2e-gce-federation fails with Service found: true, waiting for service found: true"
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation
16:35:59 STEP: Service found: true, waiting for service found: true, trying again in 2s
16:35:59 Jun 29 16:35:59.215: INFO: Unexpected error occurred: timed out waiting for the condition

This is almost definitely a bug in the e2e test code (or at least rubbish logs).

[2016-06-30 06:12] quinton-hoole commented on #28269
cc: @mml @nikhiljindal @madhusudancs FYI
I'll fix it in the morning.

[2016-06-30 06:25] workhardcc commented on #28149
Thanks! I understand!
By the way, when I create more then 1000+ svc, there are a lots of warning log in kube-controller-manager.WARNING. Is that benign too?

[2016-06-30 06:32] surajssd commented on #26010
Closing in favour of https://github.com/kubernetes/kubernetes.github.io/issues/758

[2016-06-30 06:32] #26010 closed

[2016-06-30 06:50] #20999 closed

[2016-06-30 07:13] MHBauer commented on #27543
I'd like to give this a try. See if I can understand how to use godep.

[2016-06-30 07:20] chengzhang1016 opened #28271 ""kubectl scale rs" work confused in pause and unpause deployment."
Description of problem:
"kubectl scale rs" work confused in pause and unpause deployment. It should work and have a consistent behaviour in pause/unpause.

Issue 1: Total replicas number will over max.deployment.replicas if scale up rs in unpause.
For example:
I have a Deployment with two RSs:
deployment.replicas = 10
maxSurge=3
maxUnavailabl=2
RS1.replicas = 8
RS2.replicas = 5

Unpause deployment

[2016-06-30 07:25] CsatariGergely opened #28272 "Support configuration of shmsize for a pod"
Docker implemented modifiable shmsize (see [1]) in version 1.9. It should be possible to define the shmsize of a pod on the API and Kubernetes shall pass this information to Docker.

[1]: https://github.com/docker/docker/pull/16168

[2016-06-30 07:30] CsatariGergely opened #28273 "Create tmpfs mount in a container from any directory"
Docker implemented the support to mount tmpfs volume on top of any directory in a container (see [1](https://github.com/docker/docker/pull/13587)). Kubernetes should also support this functionality by exposing this possibility on its API.
This would be needed to allow --read-only containers, but the content of these directories could be still modified.

[2016-06-30 07:39] Random-Liu commented on #28273
@CsatariGergely Have you checked the `Memory` mode emptyDir, which mounts tmpfs into specified directory in container. http://kubernetes.io/docs/user-guide/volumes/#emptydir

[2016-06-30 07:41] Random-Liu commented on #28272
Also ref https://github.com/kubernetes/kubernetes/issues/24588#issuecomment-212936192. :)

[2016-06-30 07:51] ivan4th commented on #28218
E.g. this line https://github.com/kubernetes/kubernetes/blob/ef0c9f0c5b8efbba948a0be2c98d9d2e32e0b68c/pkg/kubectl/cmd/apply.go#L178
Caught it by adding debug.PrintStack() to protobuf code

[2016-06-30 07:52] kargakis commented on #28271
You are not supposed to scale replica sets for deployments.

cc: @kubernetes/deployment

[2016-06-30 07:52] #28271 closed

[2016-06-30 07:59] ivan4th commented on #26840
@pigmej handed this issue to me. Found out that the root of the problem is that when init containers annotations are re-generated on the server side they may not match the original annotation string (due to formatting, extra fields like volumeMounts and so on). Working on the fix

[2016-06-30 08:04] janosi commented on #28272
I am not sure I can see that discussion in that issue about exposing ShmSize on the Kubernetes API :( As I understand, that discussion is about how to use the Docker API after it introduced the ShmSize attribute.

[2016-06-30 08:04] ivan4th commented on #28218
Here's [one of the important lines](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/generated.pb.go#L574)  appearing in protobuf error stack trace,

[2016-06-30 08:06] janosi commented on #28273
The --tmpfs option on the Docker API is about moving the content of an existing directory of a container into tmpfs when the container is started. E.g. /run or /var (or any other directory, of course). So, it preserves the content of the directory, and at the same time it moves that into a tmpfs.
I think, it is not possible with emptyDir.

[2016-06-30 08:08] krmayankk commented on #25628
i can help fix this as my first contribution to Kubernetes. I would need some help though.

[2016-06-30 08:14] k8s-merge-robot opened #28274 "kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12422/

Run so broken it didn't make JUnit output!

[2016-06-30 08:25] ingvagabund commented on #260
PetSets example with etcd cluster [1].

[1] https://github.com/kubernetes/contrib/pull/1295

[2016-06-30 08:26] Random-Liu commented on #28272
I should say "in which we also mentioned whether we should expose shmsize in container configuration."

[2016-06-30 08:28] janosi commented on #28272
@Random-Liu All right, thank you! I missed that point.

[2016-06-30 08:35] Random-Liu commented on #28273
[code]
https://docs.docker.com/engine/reference/commandline/run/#/mount-tmpfs-tmpfs

@janosi I can't tell there is any difference with emptyDir.

[2016-06-30 08:43] hongchaodeng commented on #27548
@pwittrock
Thanks for raising the issue. We are optimizing the storage layer and definitely would like to hear more feedback!
Some questions:
- Indexing labels and fields are pretty straight-forward. Other than these two, is there anything else to be indexed?
- Re. multi-key transaction, can you clarify more about:

[2016-06-30 08:52] janosi commented on #28273
@Random-Liu Please refer to [1], "Other cool stuff".
I.e. if the directory exists in the container image, the content of that is tar'd and moved into the new (and true, initially empty) tmpfs.

[1] http://www.projectatomic.io/blog/2015/12/making-docker-images-write-only-in-production/

[2016-06-30 09:02] k8s-merge-robot opened #28275 "[k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/19443/

Failed: [k8s.io] Kubectl client [k8s.io] Kubectl run pod should create a pod from an image when restart is Never [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #27507

[2016-06-30 09:05] mfanjie opened #28276 "session affinity services support in federation"
@quinton-hoole @nikhiljindal

One thing need to discuss with you about k8s services.
in single k8s cluster when users define service.spec.sessionAffinity=ClientIP, then the service will be session affinity, means if there are multiple calls from single clientIP, those calls will be redirected to the same pod, so the session context could be reused.

Per my understanding, in k8s, for the case that

[2016-06-30 09:07] ingvagabund commented on #28221
@Random-Liu agree with you. Thanks for the patch and additional unit-tests.

[2016-06-30 09:10] asalkeld commented on #24343
From my experience in openstack, splitting the code up into x code bases had lots of pros and cons, but given the eventual size of it now, was just simply necessary.

pros:
- much easier for a newbie to start contributing as the size of code to absorb is so much smaller (one service)
- people can specialize on one service
- reviews are easily scoped to the project so you don't have to know about e

[2016-06-30 09:14] hpejustin commented on #23726
I also met that problem and my apiserver is not failed,all the process(apiserver,controller-manager,schdeuler,kublet and kube-proxy) runinng normally. My docker version is  1.11.2,if anyone knows how to resolve this problem?

[2016-06-30 09:21] Random-Liu commented on #27754
Just FYI, I'm able to get into the master now.

The /var is not full yet (but may be full soon?):
[code]

[code]
The disk usage of `/var/lib` is mainly contributed by `overlayfs`.
The disk usage of `/var/log` is mainly contributed by apiserver log and journald.
[code]
apiserver log did rotate:
[code]

[2016-06-30 09:22] k8s-merge-robot opened #28277 "Services should be able to change the type and ports of a service {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4953/

Failed: Services should be able to change the type and ports of a service {Kubernetes e2e suite}

[code]

[2016-06-30 09:54] Trane9991 opened #28278 "Redis HA cluster example persistence"
Hello,
I'm having an issue with making Redis HA Cluster persistent.
This example https://github.com/kubernetes/kubernetes/tree/release-1.3/examples/redis uses emptyDisk storage. Is it possible to make it work with Google Persistent Volume?

I'm tried to separate redis on 3 pods with volume each, but there is a problem with redis-master(bootstrap pod), where can it take data if need to redeploy clu

[2016-06-30 09:58] asalkeld commented on #7296
I can pick this one up (doing it as a part of some create sub commands).

[2016-06-30 10:02] soltysh commented on #27968
Eric, did you open an issue for that, can you please link it?

[2016-06-30 10:07] rhcarvalho opened #28280 "kubectl exec: -t does not set TERM"
There is a known Docker issue (docker/docker#9299) that `docker exec -t` does not set `TERM` while `docker run -t` does.

Users run into problems running applications that rely on `TERM` after running `kubectl exec`, e.g.:

[code]

A proposed solution is to inherit the value of `TERM` from the environment where `kubectl` is run, or as a last resort default to `xterm`, same value as used by Docker

[2016-06-30 10:32] k8s-merge-robot opened #28283 "[k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5966/

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a RW PD, gracefully remove it, then schedule it on another host [Slow] {Kubernetes e2e suite}

[code]

[2016-06-30 10:36] nhlfr commented on #24343
How we are going to handle cross-repo dependencies in merge bot? Are we going to look for messages like `Depends-On: github.com/something/something#111` in pull request descriptions or we have some better ideas to do that?

I think that's one of the major problems, especially when we want to separate kubectl to the another repo - API changes will mostly require dependent commits in kubeapi-server

[2016-06-30 11:01] mwielgus opened #28285 "Builder has troubles with gettting src files from github."
[code]

More available here:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/28279/kubernetes-pull-verify-all/2669/

[2016-06-30 12:03] deads2k commented on #28260
Our ops team hit it too.  For us, it's usually happening when running multiple parallel maintenance/test scripts using the same creds that all create new-projects.  For kube, I think its happening because they're refreshing a token every five multiple from multiple parallel scripts.

[2016-06-30 12:46] wernight commented on #24925
@erictune My initial question which I think is still unresolved (documentation isn't improved) is about allowed ways to mark `cpu:` shares and limits in Kubernetes. So far there is the `XXXm` notation and the `XXX%` notation which are not documented and which mean different things.

[2016-06-30 13:15] lukaszo commented on #12744
@davidopp I think it's finished in #20204. Can it be closed or is there something more to be done?

[2016-06-30 13:21] ncdc commented on #28243
I have a local change that does this:

[code]

It still seems a little strange, if you ask me... Also, if you mix getting a pod that does exist with one that does not:

[code]

Is this acceptable?

[2016-06-30 13:32] sttts commented on #28243
IMO it's more natural to have no list for `k get pod/foo pod/bar -o yaml`.

Also the error message "pod**s** not found" is strange.

[2016-06-30 13:35] ncdc commented on #28243
Yeah, I think if you ask for a list of things and they're all 404, it probably makes sense to return no list. What about in my 2nd example, where you ask for 2 pods and it can only find 1?

Agreed about the error message, but let's leave that oddity for another issue if that's ok? 😄

[2016-06-30 13:43] deads2k commented on #28243
I think its a little weird that asking for one resource by name and getting no results is different than asking for two resources by name and getting no results.

[2016-06-30 13:45] sttts commented on #28243
For the text output the behavior is certainly fine to print out 1 pod + 1 error.

[2016-06-30 13:46] sttts commented on #28243
An alternative to get it consistent: print an empty yaml list also for `k get pod/foo -o yaml`

[2016-06-30 13:46] ncdc commented on #28243
That's what master currently does

[2016-06-30 13:48] sttts commented on #28243
Oh right, that's what this issue is all about :)

[2016-06-30 13:54] deads2k commented on #28243
You could also go the other way and have no list output if you requested single resources that all 404.

Truth be told the empty list plus error plus non-zero return code doesn't bother me.

[2016-06-30 14:07] juanvallejo opened #28288 "oc get secret <token_name> returns base64 encoded values in output"
I want to use a service account secret token to authenticate API calls. When using "kubectl describe secret <token>" to get the value of the secret token it is valid. When using "kubectl get secret <token> -o (yaml | json)>" I get a different value for the same token that is invalid. "kubectl get" is easier to parse output using kubectl get secret <token> --template='{{.data.token}}'

##### How re

[2016-06-30 14:08] akostadinov commented on #28243
I think printing empty list when one resource was requested is a bad thing. It basically returns different data type than requested by user. In the one case it is a single resource and in the other case it is a list. A script can certainly handle that but it looks ugly and inconsistent to me.
Another thing is that returning different exit code depending on data format requested is also weird and c

[2016-06-30 14:24] eparis commented on #28252
Even so, this just makes the race smaller, right? We might still have that instant where a pod mounts it after the open() call?   Unless this `fd` prevents anything using mouting the fs on that block device...

[2016-06-30 14:25] liggitt commented on #28288
no, the template output has to handle binary data, so the base64-encoded version is correct. we don't want to generically display `[]byte` fields as strings

a helper for creating/getting a service account token specifically could be useful (we have those cli helpers in openshift, and those could be upstreamed if there's agreement where they should go)

[2016-06-30 14:25] #28288 closed

[2016-06-30 14:40] javiercr commented on #28154
@Random-Liu this is what I have for the last few days:

[code]

I think one of the restarts matches the date and time when I noticed this issue. How can I avoid `docker` and `kubectl` to be restarted?

[2016-06-30 15:15] johanhaleby opened #28290 "Google Container Engine and Java memory consumption"
I have a hard time figuring out why my Java application consumes so much memory when deployed to a Google Container Engine cluster. The memory that is consumed by the JVM application when deployed to a Google node seems to be proportional to the number of cores available on the node. Even if I set the JVM max memory consumption (Xmx) to 128Mb it takes about 250Mb on a 1 core machine (*this* is und

[2016-06-30 15:32] matchstick commented on #28252
@eparis Hopefully this code is run after we believe the pods have been cleaned up. So the goal here is to have some signal outside of the kubernetes internal code to double check that nothing has a mount after the kubernetes code believes it has been unmounted, or that the cleaning up of a pod did not result in a leak of a mount.

We should not have a race at this point since we are hoping that wh

[2016-06-30 15:33] liggitt opened #28291 "rbac does not authorize non-resource urls correctly"
Verb is not considered when authorizing a non-resource request, which means that any verb is allowed if a user has even read access to the given non-resource URL:

[code]

[2016-06-30 15:35] ericchiang opened #28292 "Improve performance of RBAC authorizer for beta"
Alpha currently uses a naive implementation to achieve the desired behavior. Would be nice to make some improvements for beta so a possible stable release would have fewer architectural changes.

Caching is a small change that will likely be very beneficial. @liggitt has also brought up that our use of `ConfirmNoEscalation` can also be rethought.[0]

https://github.com/kubernetes/kubernetes/pull/2

[2016-06-30 15:39] quinton-hoole commented on #28276
@mfanjie Your analysis is correct.  In practice this is less of an issue that it might seem at first, as clients don't typically perform a DNS lookup for each connection.  They look up an address, and then use it until is stops working.  So between DNS lookups, session affinity will be preserved.  We have some plans to improve upon this in v1.4.

[2016-06-30 16:13] krousey commented on #28124
I redeployed the GCE soak tests yesterday to pick up #28131 to help you debug faster. I verified that docker is running with this flag on the nodes. So as soon as it re-occurs on https://k8s-testgrid.appspot.com/google-soak#soak-continuous-e2e-gce&width=20&sort-by-failures= , you should be able to debug it.

Just out of curiosity, what sort of debugging does that flag enable?

[2016-06-30 16:17] krousey commented on #27612
@cjcullen can this be closed now?

[2016-06-30 16:26] k8s-merge-robot opened #28293 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13102/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26175 #26846 #27334

[2016-06-30 16:38] k8s-merge-robot opened #28295 "kubernetes-test-go: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/13696/

Run so broken it didn't make JUnit output!

[2016-06-30 16:41] erictune commented on #24925
There is not an `XXX%` notation.

[code]

[2016-06-30 16:46] sputnik13 commented on #24343
WRT Openstack, having many repos does make it easier to get things merged, but at the same time there's a lot of infrastructure required to support building and validating against dependencies.  Openstack has a separate infrastructure team who manages these systems, not sure whether kube has or is prepared to have the same.

That said, having to go through the full gamut of checks and whatnot for

[2016-06-30 16:48] erictune commented on #27968
Covered by  item 6 in #14186

On Thu, Jun 30, 2016 at 3:03 AM, Maciej Szulik <notifications@github.com>
wrote:

[2016-06-30 16:49] virtuald commented on #24824
@MartinPyka did you get this figured out, seems related to https://github.com/kubernetes/kubernetes/issues/28189 .

[2016-06-30 16:51] virtuald commented on #28189
Running offline is further complicated by the fact that there are other pods that make their way into the hyperkube image, so there needs to be a good way to discover which images actually need to be downloaded. I think I have a way forward with that -- but `hyperkube kubectl convert ... ` doesn't seem to work without a connection to the API server for some reason. I'm sure I'm missing something..

[2016-06-30 16:53] sputnik13 commented on #24343
I almost forgot, there's definitely downsides to the Openstack ci/cd stack...  from time to time I've had patches sit on the check/gate queue for half a day or longer because many of the check/gate jobs take up to an hour to do end to end testing of all depdent components, and this gets especially horrible close to release times around the bi-annual Openstack Summit.

[2016-06-30 16:58] erictune commented on #25067
I would like a ScheduledJob to be able to trigger a workflow.  One way it could do that is to run a job that is just a kubectl command that creates a workflow object and waits for it to finish, and if it is restarted, it checks if it already exists and waits for it.  We should document that pattern.

The other way is to extend the ScheduledJob object to be able to create arbitrary objects rather t

[2016-06-30 17:02] sols1 commented on #27556
It looks like after several days the memory consumption by api server stabilizes in the 500-600 MB range, so closing this.

<img width="1017" alt="screen shot 2016-06-30 at 9 58 29 am" src="https://cloud.githubusercontent.com/assets/17886050/16496994/a348a698-3ea9-11e6-9e0b-c8f1d195f82f.png">

[2016-06-30 17:02] #27556 closed

[2016-06-30 17:11] virtuald opened #28296 "regression: hyperkube kubectl convert broken"
It seems that this used to work, but something is broken in 1.3.0-beta.2

[code]

[code]

I've tried specifying the `--local` flag explicitly and various combinations of flags, and it doesn't seem to make any difference.

[2016-06-30 17:19] erictune commented on #8723
Quota seems good for nodePort.

For LoadBalancer, I was hoping we could express this via RBAC.  Some roles can expose things to the internets, and some can't.

[2016-06-30 17:28] yujuhong commented on #27498
Seeing the error message again after switching to kubenet+hairpin-veth

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/25873/node-pull-build-e2e-test/12765

@freehan do you want to take a look at the logs?

[2016-06-30 17:28] k8s-merge-robot opened #28297 "[k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-slow/5976/

Failed: [k8s.io] Pod Disks Should schedule a pod w/ a readonly PD on two hosts, then remove both gracefully. [Slow] {Kubernetes e2e suite}

[code]

[2016-06-30 17:33] vishh commented on #28192
@euank

Skipping tests based on distro is not an option for this specific case. Since kubelet configuration is unified across all test nodes, once this feature is enabled via flags on a node using systemd cgroups driver, no pods will start.
IMHO, the two options are:
1. Setup a per-node kubelet configuration (I think this makes the node e2e framework complex. #27980 is the best way to achieve this

[2016-06-30 17:37] freehan commented on #27498
let me take a look

[2016-06-30 17:43] virtuald opened #28298 "kubectl convert --local outputs extra content to stdout"
Mildly annoying, but if you use `kubectl convert --local`, then the very first line of stdout is always:

[code]

[2016-06-30 17:47] rmmh commented on #28295
[code]

[2016-06-30 17:48] freehan commented on #27498
urrrh... we hit it again. Switching back to `promiscuous-bridge`

[2016-06-30 17:50] rmmh commented on #28274
dupe of #28267

[2016-06-30 17:50] #28274 closed

[2016-06-30 17:51] jlowdermilk commented on #28149
That warning should be self-explanatory. Apiserver is getting too many requests so it is ratelimiting them.

Closing the issue since neither of these are actionable. For future reference, we recommend people post support/help questions on [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes). We use github issues primarily for bug and feature tracking. Support questions typically g

[2016-06-30 17:51] #28149 closed

[2016-06-30 17:55] freehan commented on #27489
`kubenet` + `hairpin-veth` does not work out. #27498

Need Plan B

[2016-06-30 17:55] liggitt commented on #27152
I *really* don't want to give controllers the ability to impersonate any user they want. I'd rather see us define the permissions each controller needs and give it a service account with just those permissions.

[2016-06-30 17:57] virtuald commented on #28296
Aha, the problem is that the extended API functionality is called, which tries to contact the API server.

The workaround is that you can do `--include-extended-apis=false`, but the command should force it to false (or give an error if it's true) if `--local` is specified.

[2016-06-30 17:57] jlowdermilk commented on #28267
Cluster failed to come up in 5min
[code]

The cluster start time correlates with a [GCE incident](https://status.cloud.google.com/incident/compute/16012) that was causing packet loss on new vms, so I suspect that's what caused it. Haven't seen any failures since this singular one.

[2016-06-30 17:57] #28267 closed

[2016-06-30 17:57] dchen1107 commented on #28231
@emaildanwilson Thanks for testing our 1.3 release candidate, and reporting this regression to us. We are including the fix to 1.3.

[2016-06-30 17:58] yujuhong commented on #28067
@kargakis, GKE uses a serialized image puller and [doesn't have image prepulling enabled](https://github.com/kubernetes/kubernetes/issues/25277#issuecomment-228576741) yet. I sampled two failures in this issue, and they were all caused by the delay of pulling images.

[2016-06-30 17:58] erictune commented on #24925
I think maybe you are talking about the % that is shown in `kubectl describe node foo`.

`XXX%` is not an acceptable format for CPU in a pod spec.

It is shown as a convenience in kubectl describe nodes. In that case, percent-cpu = node-capacity / pod-request-or-limit
So a node with capacity 2 , with pod with request 100m has request of `0.100 / 2 = 0.05 = 5%`

[2016-06-30 18:00] euank commented on #27498
There's a difference in the above kernel log; the device is not a `vethxxx` interface but rather an `eth0` interface (presumably the one within a container's net ns since there is no eth0 on the host). I think all the prior instances of this were veths on the host.

[2016-06-30 18:04] deads2k commented on #27152
If I'm reading the comments correctly, it sounds like restricting individual controllers to their minimal permissions is a first step for @erictune's proposal too.  Otherwise, a user who can delete nodes with an unrestricted controller account could delete nodes.

I also have reservations about having controllers impersonate users.  I'm of the opinion that if I grant someone the ability to create

[2016-06-30 18:10] ivan4th commented on #28218
A part of output from failed `kubectl apply` with `debug.PrintStack()` in protobuf code:
[code]

Obtained by changing protobuf code:
[code]

[2016-06-30 18:10] ivan4th commented on #28218
Note `k8s.io/kubernetes/pkg/api/v1.(*Pod).String(0xc820354000, 0x0, 0x0)` line

[2016-06-30 18:12] rchandh opened #28301 "Docker remote api not working for rc created using kubernetes"
I have created a kubernetes cluster yesterday and I am using docker remote api to get performance metrics of containers by listening to unix:///var/run/docker.sock of each container.
With kubernetes cluster, I ran spark using the .yaml files available in kubernetes/examples/spark.
When i query stat using docker remote api for all the spark containers, I am getting
HTTP/1.1 200 OK
Content-Type: app

[2016-06-30 18:17] jlowdermilk commented on #28171
By the way, we encourage anyone to propose improvements/fixes to docs. You can do so pretty easily by clicking the pencil icon in the top right corner of every page of http://kubernetes.io/docs/

[2016-06-30 18:19] jlowdermilk commented on #28227
That pattern sounds reasonable. cc @spxtr

[2016-06-30 18:34] jlowdermilk commented on #28278
Check out the redis petset example: https://github.com/kubernetes/contrib/tree/master/pets/redis, which uses persistent volume claims. Feature is alpha in 1.3, will be the way to do stateful apps on kubernetes going forward. @bprashanth, do we have a doc page for petset yet?

[2016-06-30 18:36] spxtr commented on #28227
Sounds reasonable to me. Right now we don't always go through the makefile, so the changes should happen in golang.sh.

[2016-06-30 18:38] jlowdermilk commented on #28285
This could be problems with the github jenkins plugin (which is flaky and overall pretty bad), but github was also [briefly down](https://status.github.com/) this morning.

[2016-06-30 18:52] jlowdermilk commented on #28290
Have you tried setting [resourceRequirements](https://github.com/kubernetes/kubernetes/blob/release-1.2/docs/design/resources.md#resource-specifications) in the [container spec](http://kubernetes.io/docs/api-reference/v1/definitions/#_v1_container)? The JVM settings you're seeing might be an artifact of the container vm node image, but setting explicit limits should override.

[2016-06-30 18:54] #22436 closed

[2016-06-30 19:01] krmayankk commented on #3338
@lavalamp was this only about json or also yaml parser. Would using ugorji improve error handling for kubernetes manifests as well or is this in different context ?

[2016-06-30 19:08] k8s-merge-robot opened #28306 "kubernetes-e2e-gce-examples: broken test run"
Failed: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/12437/

Run so broken it didn't make JUnit output!

[2016-06-30 19:27] #28231 closed

[2016-06-30 19:50] #23933 closed

[2016-06-30 19:56] #19845 closed

[2016-06-30 19:57] #19408 closed

[2016-06-30 20:06] ivan4th commented on #26840
It appears that the problem can be solved by a simple patch:

[code]

But before I write tests and submit a PR, I'd like to make sure that it's ok to ignore changes
in init container annotations at least until they're moved out to a full-fledged PodSpec property,
or should it be possible to change init container images? (is it really needed?)

[2016-06-30 20:14] bgrant0607 commented on #28243
cc @metral @janetkuo @erictune

[2016-06-30 20:15] lavalamp commented on #3338
@krmayankk Not really sure what you're asking. I think there are other issues for this topic. ugorji is only json.

[2016-06-30 20:22] yujuhong commented on #28124
I know it at least enables the /debug/pprof endpoint.

[2016-06-30 20:55] euank commented on #28192
I think the right way to switch it would be to drop a file at `/etc/systemd/system/docker.service.d/override.conf` with

[code]

[2016-06-30 20:59] krmayankk commented on #3338
@lavalamp  basically if there are errors in the yaml that kubectl consumes, i dont see lot of very easily diagnosable error information in it. Wanted to know if ugorji solves that or not ?

[2016-06-30 20:59] jlowdermilk commented on #27011
Unrelated. GKE staging failure is trying to upgrade with wrong version. Will look into on #28257

[2016-06-30 20:59] #27011 closed

[2016-06-30 21:08] cjcullen commented on #27612
I believe so. #28232 has been merged, and gke-serial has had 6 greens in a row since that (hopefully I'm not jinxing it).

[2016-06-30 21:08] #27612 closed

[2016-06-30 21:11] harlowja commented on #24343
Since it seems like we can't even figure out what we as a group _want_ let me try to summarize at least my perspective on that (a ideal end-state that I think would be nice +- other random notes/thoughts):

* Easily isolated code-bases that can come into existence easily or be removed from existence (if they do not thrive) easily; this helps create a community that isn't afraid to change things or

[2016-06-30 21:13] lavalamp commented on #3338
No, it doesn't. There's another issue about that floating around somewhere.

On Thu, Jun 30, 2016 at 1:59 PM, krmayankk <notifications@github.com> wrote:

[2016-06-30 21:16] cjcullen commented on #27537
All of these were the x509 error from #27612. I believe #28232 has fixed that problem.

[2016-06-30 21:16] #27537 closed

[2016-06-30 21:20] metral commented on #28243
There are currently 2 open PR's that resolve this issue: https://github.com/kubernetes/kubernetes/pull/28251 and https://github.com/kubernetes/kubernetes/pull/28294, where the latter has additional tests for `test-cmd.sh`.

Think we're just waiting on someone more informed to advise which route is preferred, and then merging that PR in

[2016-06-30 21:22] jlowdermilk commented on #28257
I see what happened. This cluster was launched at version 1.3.0-beta.2, which was the default in staging for testing. Then in the middle of the e2e run, the server-side default version was changed back to 1.2.5, which prompted the above rejection. We don't often do version skew testing in staging, but I'll add this project to the whitelist anyway.

[2016-06-30 21:22] #28257 closed

[2016-06-30 21:22] cjcullen commented on #27506
It looks like all of these consecutive failures were from the overwriting of the latest.tx file (https://github.com/kubernetes/test-infra/issues/240), which has been fixed.

[2016-06-30 21:22] #27506 closed

[2016-06-30 21:23] ncdc commented on #28255
@Random-Liu I can reproduce this pretty reliably (I haven't seen it pass yet) locally on my Fedora 24 VM. The pod coming back from the apiserver literally only has 1 thing in its status: phase=Pending. There is nothing else.

[2016-06-30 21:27] ncdc commented on #28255
Scratch that, local test environment issue.

[2016-06-30 21:31] ncdc commented on #28243
+1

[2016-06-30 21:42] Random-Liu commented on #28255
@ncdc This is a bug. I'm in a meeting today, will send fix later today. :)

[2016-06-30 21:43] #27498 closed

[2016-06-30 21:44] bprashanth commented on #28278
Yes only in github till the release, though: https://github.com/kubernetes/kubernetes.github.io/blob/release-1.3/docs/user-guide/petset.md

[2016-06-30 21:45] bprashanth commented on #28278
@Trane9991  For a simple master/slave setup see https://github.com/kubernetes/kubernetes/issues/28078#issuecomment-228629148. If you'd like to contribute your sentinel (or any other HA) example, please do so, ask away if you have more questions.

[2016-06-30 21:48] chrislovecnm commented on #27086
@janetkuo should we close this??

cc: @bgrant0607

[2016-06-30 21:48] smarterclayton commented on #26840
It should be possible to change images on init containers.

The bug is using unmarshal to internal, VS using a decoder call

[2016-06-30 21:50] mikebrow commented on #28227
@spxtr right!  The point on makefile was to make sure it would work for building from makefile as well as from the scripts.

Suggestion would be for no change to the defaults development or release build.  One would have to set an environment variable GOGCFLAGS for makefile or KUBE_GOGCFLAGS for the scripts.

For example:

`$ KUBE_GOGCFLAGS="-N -l" hack/build-go.sh`
or
`GOGCFLAGS="-N -l" make`

Th

[2016-06-30 21:53] smarterclayton commented on #28218
Passing the object as a string to Sprintf in pkg/kubectl/cmd/apply.go is
not correct.  We should be using the raw bytes or calling encode (raw bytes
are better).  This is really a bug in the output code (although we should
come up with a fix for IntOrStr separately).

On Jun 30, 2016, at 11:11 AM, Ivan Shvedunov <notifications@github.com>
wrote:

Note k8s.io/kubernetes/pkg/api/v1.(*Pod).String(0xc

[2016-06-30 21:57] smarterclayton commented on #28260
As mentioned on the other thread, that's implicitly broken (I don't
consider calling writing to the same config to change context , even with
locks, valid).

On Jun 30, 2016, at 5:03 AM, David Eads <notifications@github.com> wrote:

Maybe the real question is - why are we concurrently writing / reading from
kubeconfig? When as a user will that result in a great outcome?

Our ops team hit it too. F