[2019-04-15 09:13] wojtek-t commented on #76579
/assign @oxddr

[2019-04-15 09:53] oxddr commented on #76579
I'll have a look.

[2019-04-15 09:55] OlegPS commented on #22024
These messages creates noise in the logs with warn severity. If you make it informational that will be right, as this is just a "normal course of operations". Thanks!

[2019-04-15 10:19] nikopen commented on #70503
/reopen

[2019-04-15 10:22] timoreimann commented on #76205
@dims I think that should work, yeah. What I am wondering though is whether this is the way we want to go with long-term. It feels odd to me to have a specific GCE-only parameter be part of the generic bootstrapping process which we then need to handle in a special way.

If it's about getting a fix out ASAP (and think about a possibly better design later), I'm all on-board with your patch. :+1:

[2019-04-15 10:27] adracus commented on #76143
Indeed I deleted the PV, however shouldn't Kubernetes be responsible for cleaning up related resources? What are the semantics if a deletion doesn't cleanup the resources it owns?
For reference, a similar problem / discussion happens for Services and their LoadBalancers:
https://github.com/kubernetes/cloud-provider/issues/16

[2019-04-15 10:31] dims commented on #68357
@k82cn This Issue does not cover the rename of kube-batch or the proposal for a new name or scope. Was there any other public discussion?

[2019-04-15 10:43] dims commented on #76205
@timoreimann the right thing to do is to get the sig-gcp folks to refactor that flag properly (and/or) remove the gce provider entirely (as a out of tree provider over time).

[2019-04-15 10:44] dims commented on #76205
@timoreimann let's stop the bleeding where external providers have to make unnecessary changes like you mentioned (fake flag). can you please file a PR with the patch i proposed?

[2019-04-15 10:54] #74432 closed

[2019-04-15 10:55] jboero commented on #33618
I know this thread is super long and pretty old but I figured I'd play my $0.02 for anyone else that comes along it.  I also have many interfaces and struggle with kubeadm across various versions.  I find that the best way to deploy my single-node for a local dev environment is to use a dummy interface.  As you can't kubeadm on loopback (how annoying) and I've rarely been successful with default r

[2019-04-15 10:59] wenma commented on #70044
I also faced this problem, then I restart the docker daemon, and it reocverd.
error log:
[code]
then reocverd with:
[code]

[2019-04-15 11:20] oxddr commented on #76589
Hi @chenliu1993, it seems that your pod/container is crash looping. Can you check logs (```kubectl logs ${POD_NAME}```) for any obvious issues?

[2019-04-15 11:21] oxddr commented on #76589
/triage needs-information

[2019-04-15 11:22] WanLinghao commented on #76589
You didn't specify command entry point for them.
Try `kubectl run busybox-1 --image=docker.io/library/busybox:latest --replicas=2 -- sleep 3000`
And then you can attach into container via:
kubectl exec -it  busybox-1-xxxxxx  -- /bin/ash

[2019-04-15 11:22] WanLinghao commented on #76589
Feel free if you want to reopen this
/close

[2019-04-15 11:22] #76589 closed

[2019-04-15 11:49] grzesiek opened #76597 "Notifications API"
**What would you like to be added**:

High-level Notifications API, where a notification is a Kubernetes resource:

[code]

This is a little bit different than admission webhooks, because there is no need to mutate / validate an operation on a resource. Also, the notification is being triggered after persisting a resource in etcd, instead of executing the webhook before that happens.

This is simi

[2019-04-15 11:50] namreg opened #76598 "kubelet doesn't restart static pods after eviction"
**What happened**:
Kubelet does not restart static pods after eviction.

**What you expected to happen**:
Kubelete restarts static pods when eviction condition has not already met.

**How to reproduce it (as minimally and precisely as possible)**:
Create a static pod in the pod manifests folder with the following spec:
[code]

Then, for example, emulate DiskPressure node condition:
[code]
Make sur

[2019-04-15 11:52] namreg commented on #76598
@kubernetes/sig-node-bugs

[2019-04-15 11:56] grzesiek commented on #76597
@kubernetes/sig-api-machinery-feature-requests

[2019-04-15 12:09] timoreimann commented on #76205
@dims will do, thanks!

[2019-04-15 12:11] adracus commented on #76143
Related: https://github.com/kubernetes-csi/external-provisioner/issues/195

[2019-04-15 12:14] #76571 closed

[2019-04-15 12:21] virendra-sharma commented on #76380
@liggitt , Please help me to understand steps to provide "pod spec from apiserver". however if you looking for spec provided for pod, then i have already attached used YAML's.

[2019-04-15 12:30] liggitt commented on #76380
`kubectl get pod <name> -o yaml`

[2019-04-15 12:31] liggitt commented on #76380
Specifically, I want to see if the runAsGroup field was persisted.

[2019-04-15 12:32] sshuvaev commented on #76155
@neolit123
This is does not fix my issue.
kube-proxy can't start before calico-node.
Calico-node in pending status becouse of can not pull image
Node status also notready becouse of cni not ready.
In my serviceaccount and daemonset I point calico to my private registry.
Kubelet throw:
Apr 15 15:15:35 k8s-n2-test.test kubelet[13267]: I0415 15:15:35.359271   13267 docker_service.go:253] Docker cri n

[2019-04-15 12:59] liggitt commented on #76093
I'll defer to @cblecker / @thockin on the proposal

[2019-04-15 13:25] vitaly-karasik commented on #69696
@matti ,@ariskay, is this possible with a single node pool or I have to create a few node pools?

[2019-04-15 13:36] jansmets opened #76604 "kubelet fails to start with custom docker root dir"
Kubelet v1.14.1 fails to start when the Dcker Root dir is changed from the default.
[code]
[code]

I am running kubelet in a container that mounted volume `/data/docker:/data/docker:rw`
(also `/var/lib/kubelet` is mounted that way)
[code]

[code]

When I also change the 'host side' `/var/lib/kubelet` to `/data/kubelet`,  kubelet starts.
[code]

When all the above is attempted with k8s `v1.13.5` it

[2019-04-15 13:49] duglin commented on #45509
Just brainstorming on ideas on how a user can ask for this... what if we allowed them to use a new field called `spec.terminatePods` which includes a list of pod names to delete and upon doing so it'll decrease the `spec.replicas` and removes that pod from the `terminatePods` list.  This is similar to Finalizers.  I think this should remove the race condition people are worried about when trying t

[2019-04-15 14:01] gertvdijk commented on #75701
@neolit123

Say what? That's how it got broken in the first place as shown in my [earlier comment](https://github.com/kubernetes/kubernetes/issues/75701#issuecomment-476757653)!

[2019-04-15 14:07] chrisohaver commented on #76569
[code]

kubelet defaults to using `/etc/resolv.conf` of the node it's running on.  Are you trying to set it to something else?
Is `195.135.195.135` one of the upstream DNS servers you want to use?  If so, it appears to not be reachable from your pod network.

[2019-04-15 14:13] #71127 closed

[2019-04-15 14:22] alejandrox1 opened #76609 "[Failing Test] listResources step failing"
**Jobs affected by failures**:
* `ci-kubernetes-e2e-gci-gce`
* `ci-kubernetes-e2e-gce-device-plugin-gpu`
* `ci-kubernetes-e2e-gci-gce-slow`
* `ci-kubernetes-e2e-gci-gce-alpha-features`
* `ci-kubernetes-e2e-gci-gce-scalability`
* `ci-kubernetes-e2e-gci-gce-ingress`
* `ci-kubernetes-e2e-gci-gce-reboot`

**Which test(s) are failing**:
* In `ci-kubernetes-e2e-gci-gce`
  * [`listResources After`](https

[2019-04-15 14:30] jansmets commented on #76604
/sig bug

[2019-04-15 14:31] jansmets commented on #76604
/sig bugs

[2019-04-15 14:40] ryandawsonuk commented on #76304
Thanks!

[2019-04-15 14:45] WoLfulus commented on #41881
+1 for this... I'm trying to map `*.*.domain` and I can't :(

[2019-04-15 14:50] liggitt commented on #76304
@fejta @sttts once a go.mod file is present in a given tag, go expects (and requires, in some cases, for version auto-selection) the module name to reflect the major version, so for go version upgrades to work completely the way you would expect, k8s.io/client-go v12.x.x would need to rename the module to ks8.io/client-go/v12, and all import paths would have to change

[2019-04-15 14:56] tedyu commented on #76544
ping @lbernail

[2019-04-15 15:11] ravi-mrk opened #76611 "Need a command that can update RAM and CPU resources when increased on individual nodes in a Kubernetes cluster."
**What would you like to be added**:
Need a command that can update RAM and CPU resources when increased on individual nodes in a Kubernetes cluster without restarting kubelets on all those nodes.
**Why is this needed**:
I have a kubernetes cluster of more than 50 nodes in an Openstack on-prem infrastructure. Currently, increasing the RAM and CPU values on these nodes needs restarting the Kubelets

[2019-04-15 15:15] ravi-mrk commented on #76611
/sig sig-scheduling
/sig sig-scalability
/sig sig-cli

[2019-04-15 15:20] frapposelli commented on #75175
/assign @SandeepPissay

PTAL

[2019-04-15 15:22] raoofm commented on #72128
thanks @huangjiasingle, I'll try

[2019-04-15 15:26] stafot commented on #75189
@MrHohn At first I want to apologize for my late response.
In the case I noticed these errors the Node was on a healthy state and became `NotReady` for unknown reasons. I agree that possible `kube-proxy` failures probably are not related with the cause of node failure they are look more probably as a symptom. My theory is that Node was not able even to run `kubelet` to restart `kube-proxy`, `kube-

[2019-04-15 15:52] divyenpatel commented on #75040
@mylesagray I see you are getting this error.

[code]
I guess this is happening in the PKS deployed Kubernetes Cluster. Please provide correct configurations in the `cloud-provider.ini ` file as below.

Here is the example of config file

[code]

for `resourcepool-path`, please refer examples specified here - https://github.com/kubernetes/kubernetes/pull/66261#issue-201808649

[2019-04-15 15:54] Raffo commented on #68731
@ikercrg I'm seeing the same issue, can you share some more info and if you found the root cause of this?

[2019-04-15 15:55] codenrhoden commented on #64953
/remove-lifecycle stale

[2019-04-15 16:38] lavalamp commented on #76597
I don't think we need to build this into apiserver, I think it can be built as a CRD + external controller. See e.g. the garbage collector and resource quota controllers as examples of controllers that watch everything.

If you want to see literally every state transition ("edge"), then an external controller won't guarantee that (although in practice, it will be very close). However, we recommend

[2019-04-15 16:47] Raffo commented on #68731
/reopen

[2019-04-15 16:57] andrewsykim commented on #76205
Thanks for reporting this issue @NeilW and thanks for following-up @timoreimann!

Agreed with everything @dims said. I can't recall why that flag was added in there in the first place, I think it was required to get the reference CCM implementation working with GCE. Apologies that it broke other implementations. The proposed changes makes sense to me as well. We have some work coming up (likely in

[2019-04-15 17:07] mgdevstack opened #76617 "Fix: Use image util package to grab registry instead of static image path"
Use image util package [[link](https://github.com/kubernetes/kubernetes/blob/master/test/utils/image/manifest.go)] to grab registry instead of using static image path to pull container images.

Reference: https://github.com/kubernetes/kubernetes/pull/75631#pullrequestreview-226247855

[2019-04-15 17:08] mgdevstack commented on #76617
/sig testing

[2019-04-15 17:10] neolit123 commented on #75701
@gertipoppel

feel free to comment in here:
https://groups.google.com/forum/#!topic/kubernetes-sig-release/zkYkzzMGjic

[2019-04-15 17:17] neolit123 commented on #76155
i did not talk about CNI plugins in my post above.
you might have to modify the CNI plugin manifests to point to your private registry.
...or just prepull the CNI images.

[2019-04-15 17:36] roycaihw commented on #44620
/remove-lifecycle rotten

[2019-04-15 17:38] roycaihw commented on #56428
fixed by https://github.com/kubernetes/kube-openapi/pull/120

/close

[2019-04-15 17:38] #56428 closed

[2019-04-15 17:40] roycaihw commented on #68787
/remove-lifecycle stale

[2019-04-15 17:49] hprateek43 commented on #76598
@mattjmcnaughton Hey Matt, I am new here. Can you give me a small head start on what probably is the issue here and what might be a good patch for this condition? Not looking to take over, but looking forward to some leads in the code where I can understand this issue further.

[2019-04-15 17:55] Cherishty opened #76619 "pod status shows "CrashLoopBackOff" but pod phase shows "Running""
**What happened**:
Here is a pod called _test-worker-0_ which created by **stateful set**. I run some command contains **exit 0 ** in this pod, so that the status keeps `"CrashLoopBackOff"` when I run
`kubectl get pods test-worker-0`

However, when I catch the phase field via `kubectl get pods test-worker-0 -o yaml`, it always shows as `“Running”`. The same issue happen via invoking kube-client py

[2019-04-15 18:11] mrbobbytables commented on #72956
The remaining ones in `test/images/volumes` should be fixed in #74601
[code]

[2019-04-15 18:22] tallclair opened #76620 "Implement PodSecurityPolicy "AllowedCSIDrivers""
**What happened**:

The `AllowedCSIDrivers` field was added to the PodSecurityPolicy API in v1.14, but was never implemented. Having that option unimplemented can give a false sense of security, as a user might _think_ they have restricted CSI driver options, but haven't actually done so.

**What you expected to happen**:

When PodSecurityPolicy is enabled, no pods should be able to be created wit

[2019-04-15 18:46] #76340 closed

[2019-04-15 18:46] #75567 closed

[2019-04-15 19:09] jtackaberry commented on #76424
Also seeing this (v1.14.1).  This is enough:

[code]

[code]

[2019-04-15 19:18] #65452 closed

[2019-04-15 19:20] gnufied opened #76623 "Skip PVC protection tests in environments where there is no default storageclass available"
We should be able to skip pvc protection e2es in environments that don't have any default
storageclass available (such as baremetal). Currently they fail on waiting for default storageclass.

/sig storage

cc @kubernetes/sig-storage-misc

[2019-04-15 19:24] jtackaberry commented on #76424
Passing `--feature-gates=RuntimeClass=false` mitigates.  I suppose this is a quirk of running the kubelet in standalone mode on 1.14.

[2019-04-15 19:32] tomerleib commented on #68447
Same problem

OS: CentOS 7.4
Kubernetes: 1.12.5
NetworkManager not installed.

Some of the nodes does not have this issue while others do

[2019-04-15 19:37] ryanmcnamara opened #76624 "Pod reflector getting delete events with nil object"
**What happened**:

We are seeing nil objects on pod DELETE watch events in the reflector used by the pod cache of the apiserver. When this happens, the reflector is unable to process the delete event and does not remove the object from its cache. The error handling is [here](https://github.com/kubernetes/client-go/blob/master/tools/cache/reflector.go#L343). Note that the reflector does not re lis

[2019-04-15 19:40] ryanmcnamara commented on #76624
/sig api-machinery

[2019-04-15 19:40] ryanmcnamara commented on #76624
A couple thoughts have have on remediation
1. In the event that the reflector sees a nil event, should it restart its list watch process? It seems to me that it can no longer guarantee that it has received all events up to a resource version it has processed, which is particularly bad for delete events
2. Is it possible to spread the load of kube controller manager across all apiservers? I believe

[2019-04-15 19:50] juborto commented on #72782
I experienced the same issue. I suppose that the `revision` number is not taking into account when the format option `-o` is passed also, and the result is always given on the latest revision loaded.

[2019-04-15 19:58] neolit123 commented on #76619
/sig node
/sig cli

[2019-04-15 19:59] neolit123 commented on #76604
/sig node

[2019-04-15 20:00] neolit123 commented on #76575
/sig azure
/sig instrumentation

[2019-04-15 20:01] neolit123 commented on #76569
/sig network
/triage needs-information

[2019-04-15 20:04] soapergem commented on #63371
I ran into this issue today as well, and it makes the CronJob object in Kubernetes basically unusable. It's a common workflow for us to effectively suspend Cron tasks in reaction to certain conditions (whether those are Kubernetes jobs or external tasks running on a schedule). But if we suspend it for too long in K8S, the CronJob may never start again? That's disastrous. This object honestly isn't

[2019-04-15 20:07] dims commented on #63371
long-term-issue (note to self)

[2019-04-15 20:22] timoreimann commented on #76205
Submitted a fix at https://github.com/kubernetes/kubernetes/pull/76627.

[2019-04-15 20:22] roycaihw commented on #76469
cc @cheftako

[2019-04-15 20:24] timoreimann commented on #76205
@andrewsykim in general, I'd be interested in helping on the move of `cloud-controller-manager`. However, I likely won't have many cycles available until post-KubeCon EU. If the effort is low-priority and/or can wait until end of May / June though, I'd be happy to help.

[2019-04-15 20:25] roycaihw commented on #76609
/assign

[2019-04-15 20:27] roycaihw commented on #76624
/assign @jpbetz @deads2k

[2019-04-15 20:33] andrewsykim commented on #76205
@timoreimann I don't think we'll get to this until the v1.16 release cycle so I will loop you in then :)

[2019-04-15 20:39] liggitt commented on #76624
https://github.com/kubernetes/kubernetes/pull/73845 was picked into v1.12.6 and might be relevant

[2019-04-15 20:42] timoreimann commented on #76205
@andrewsykim oh please do then, that's a convenient timeline for me. 🙂

[2019-04-15 20:43] liggitt commented on #76624
was this a HA etcd cluster?

[2019-04-15 20:47] andrewsykim commented on #76205
Sounds great @timoreimann! Here's the backlog tracking issue https://github.com/kubernetes/cloud-provider/issues/29

[2019-04-15 20:48] jiatongw commented on #76206
Hey guys, `service_util.go` is also hard to maintain: 1600+ lines of code and many of them have no comments..

[2019-04-15 20:50] roycaihw commented on #76609
/unassign
/sub

[`ci-kubernetes-e2e-gci-gce` history](https://prow.k8s.io/job-history/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce) shows that the last occurrence of `listResources` failure happened at [7 hours ago](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1117776990951182338)

As the first comment suggested, I'll wait to see if further action needs to be

[2019-04-15 20:56] ryanmcnamara commented on #76624
@liggitt yes it was, cluster size of 3, during the issue the load goes up on the etcd instances, but not concerningly so

[2019-04-15 21:05] gridworkz commented on #61117
Thanks for this - I lost two nodes over the weekend - flapping. I'll try this next time it happens. I've also brought this up with the folks at OpenEBS just to notify them. They never heard of it. (Not an OpenEBS issue but I know some guys over there who are much smarter than me).

[2019-04-15 21:09] plumdog commented on #55045
@zhangxiaoyu-zidif I'm really interested in seeing this option added.

Is the PR still being worked on? The review mentions "the KEP process". Has anything been discussed or decided?

[2019-04-15 21:18] thzois commented on #76569
@chrisohaver I am not trying to set it to anything. The /etc/resolv.conf is the default from the VPS and it is generated by a NetworkManager.

[2019-04-15 21:20] #69521 closed

[2019-04-15 21:22] msau42 commented on #71105
/reopen

[2019-04-15 21:23] msau42 commented on #71105
/remove-lifecycle rotten

[2019-04-15 21:23] msau42 commented on #71105
/help

[2019-04-15 21:29] chrisohaver commented on #76569
Multiple things going on here possibly:

1. Presumably `195.135.195.135` one of the upstream DNS servers in your /etc/resolv.conf...
It appears to not be reachable from your pod network, hence the error message. So, need to figure out why your pod network cannot reach `195.135.195.135`.

2. Recent versions of busybox have a bug that prevent dns short name resolution.  Try the fqdn `kubernetes.defa

[2019-04-15 21:32] thzois commented on #76569
I did tried the second one. It still cannot be resolved. For the first one, where should I start?

[2019-04-15 21:43] yujuhong commented on #75147
Hmm...the Azure test job has a pretty long ginkgo.focus string. I didn't notice that before.
[code]

IMO, the main test job should not include "Feature". One of the reasons to add "Feature" is to run it in a separate suite. At least that's how we configured GCE test jobs.
For example, the Density tests should probably best not to be run with other tests simultaneously, so having a separate test su

[2019-04-15 21:59] andrewsykim commented on #76206
Seems like `util.go` is blocking a lot of the other files, I'm going to take a look at it today if folks don't mind

[2019-04-15 22:25] SandeepPissay commented on #75175
@krishn10 The above log indicates incorrect user name or password. Are you sure that the username/pwd was correct?

Btw, I'm wondering why kubelet is trying to connect to vSphere. You should not be specifying vsphere.conf file in kubelet params if you are not using zones feature. Are you using zones feature?

[2019-04-15 22:50] yuwenma opened #76629 "Provide pretty debug tooling for distroless-based images"
**What would you like to be added**:
Provide a standard, easy to use debugging workflow for all contributors who work on a k8s container based on distroless
**Why is this needed**:
Distroless doesn't contain shell. Thus, the widely used debugging approaches (e.g. entrypoint or kubectl exec) no longer work for distroless-based images. We'd like to come up with some tooling (or maybe a handbook) abo

[2019-04-15 23:00] MrHohn commented on #75189
I agree :) Just wanted to make sure I understand the issue here.

So it seems like we may not be able to proceed without further information. Do you mind if we close this issue for now and reopen it once you see another occurrence?

[2019-04-15 23:14] rmt commented on #72236
For the kids wanting to try this at home, the following will drop all host packets except for those going to service IPs:
[code]
I imagine the actual implementation in kube-proxy might not want to drop _all_ packets, though, so the implementation will probably be slightly different.. but for me, this replaced my catch-all DROP rule.

[2019-04-15 23:45] chrisribble commented on #74052
Wouldn't the most desirable behavior here be:
- If any metric cannot be calculated, mark is as null/unknown and continue to check other values
- If highest scale up suggested by known metric values is higher than current scale, scale up to the highest known value
- If any values are unknown and highest scale up suggested is lower than current scale, do nothing (this avoids scaling down when you fa

[2019-04-16 00:36] saad-ali commented on #76538
/sig storage

[2019-04-16 00:44] chenliu1993 commented on #76589
No logs out from kubectl logs pos_name

[2019-04-16 00:49] chenliu1993 commented on #76589
Thank you , issue solved!

[2019-04-16 00:52] chenliu1993 commented on #76589
Could you explain why after adding "-- sleep 3000" then it works? Why this command "sleep"?

[2019-04-16 01:05] #67717 closed

[2019-04-16 02:02] rhockenbury commented on #75299
Any further updates / investigation on this?

[2019-04-16 02:13] cizixs commented on #76570
/sig apps

[2019-04-16 02:19] zhangxiaoyu-zidif commented on #55045
@plumdog  Yes, I am vey happy that you are interested in it. This KEP is onging. When I commited the proposal, I will ping you

[2019-04-16 02:43] YoubingLi commented on #76202
@nerusnayleinad

   I don't think it is a bug.

  Please refer  the doc in **[volumes/#hostpath](https://kubernetes.io/docs/concepts/storage/volumes/#hostpath)**

       when Kubernetes adds resource-aware scheduling, as is planned, it will not be able to account for resources used by a hostPath

/remove-kind bug

[2019-04-16 02:57] mysunshine92 commented on #76619
what is the pod's restartPolicy, if restartPolicy is Always，kubelet will always restart the pod，so the phase is Running。

[2019-04-16 02:58] mysunshine92 commented on #76619
what is the pod's restartPolicy? if restartPolicy is Always，kubelet will always restart the pod，so the phase is Running.

[2019-04-16 03:03] Wade201801 commented on #45419
+1
k8s v1.13.4
docker-1.13.1-94.gitb2f74b2.el7.x86_64

[2019-04-16 03:21] akki commented on #67777
@hprateek43 I think this PR is currently active: https://github.com/kubernetes/kubernetes/pull/68800

[2019-04-16 03:26] #63389 closed

[2019-04-16 03:29] hprateek43 commented on #71134
@Nefelim4ag Is this up for grabs?

[2019-04-16 03:53] luweiv9988 commented on #76580
/sig scheduling

[2019-04-16 04:01] #76581 closed

[2019-04-16 04:01] liggitt commented on #72794
the selector is part of the deployment's scale subresource, which you can grab in a hacky way like this:

[code]

[2019-04-16 04:35] 1090223 commented on #76493
OS is CentOS 7.5, Kubernetes major version:1 and minor:12 , cluster is setup on CentOS 7.5 servers. One is master  and other is worker node. Please tell a way by which i can troubleshoot this issue.

[2019-04-16 04:49] WanLinghao commented on #76589
Each container needs a entry point, it would execute this entry point after boot. Here we assign it sleep so it would not exit. You may also try
`kubectl run busybox-1 --image=docker.io/library/busybox:latest --replicas=2  -- /bin/ash`
Then you could observe that the container exit as soon as booting.  Since it boot the container, execute /bin/ash command, completed, exit.

[2019-04-16 05:21] stafot commented on #75189
@MrHohn Yes, make sense. I am closing, and I will reopen upon reoccurrence with as many details I could share at this point.

[2019-04-16 05:21] #75189 closed

[2019-04-16 05:38] matti commented on #69696
works with single or multiple node pools. I don't understand your question.

[2019-04-16 06:10] jiatongw commented on #76206
I can do a first step clean of `framework/service_util.go`

[2019-04-16 06:19] virendra-sharma commented on #76380
Please fine pod spec from apiserver in below output.

[code]

[2019-04-16 06:31] #75970 closed

[2019-04-16 06:56] Cherishty commented on #76619
Yes, and for stateful set pod will always restart if failed.
But I still wonder why the status in "phase" field does not match, and how can I handle "CrashLoopBackOff" message for the pod in stateful set?

[2019-04-16 07:01] vitaly-karasik commented on #69696
@matti  - i meant single [node] pool vs a few  pools.

[2019-04-16 07:23] matti commented on #69696
I understood that, but I don't understand the question still.

[2019-04-16 07:32] sshuvaev commented on #76155
I'm did so on first node and all worked fine.
So, there is no way to pull cni image on a new node?

[2019-04-16 07:44] vitaly-karasik commented on #69696
I just saw in https://discuss.kubernetes.io/t/gke-scaled-down-nodes-wont-terminate/4699 that you're using a few pools as a workaround for a similar issue, so I'm curious if it's possible to use taint workaround with a single pool.

[2019-04-16 07:51] adelina-t commented on #75147
Ok, so at the moment on Azure we have indeed a pretty long focus string. We have the usual suspects: conformance, nodeConformance and sig-windows as well as some non conformance tests: CronJobs , ResourceQuota and SchedulerPreemtion that were considered relevant to show a fully functioning cluster for the release. We don't explicitly exclude all Feature tests, only the ones that the cluster is not

[2019-04-16 08:00] Joseph-Irving commented on #76619
`CrashLoopBackOff` isn't actually a Pod Phase it's a container error state https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/container/sync_result.go#L28. It can be found in `containerStatuses[i].state.waiting.reason: "CrashLoopBackOff"`
E.g
[code]
You can see the Pod phases here https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2160.

[2019-04-16 08:10] dajudge commented on #70047
Any updates on this? This is in fact a real use case...

[2019-04-16 08:55] paphillon commented on #43516
We have the same problem in Azure, random skipped heartbeats and most of the time it recovers without the pods being re-scheduled. It's a 12 node cluster and it usually affects 1 to 4 nodes at a time, picked up by kubewatch. This is a custom k8s setup with similar configuration on-prem where we do not see this problem.
K8s version - 1.13.5, saw this with 1.12.x as well.

[2019-04-16 08:56] wangzhenhui1992 opened #76642 "Get error when create pods with kubectl and minikube on win10"
Error
[code]
kubectl version
[code]

minikube version
[code]

create-pods.yaml
[code]

[2019-04-16 09:11] #74038 closed

[2019-04-16 09:25] grzesiek commented on #76597
Thanks for the reply @lavalamp!

What do you mean by "an external controller"? Do you suggest to implement this feature outside of a Kubernetes. This is something we are considering too, but I believe that this could be a very generic mechanism that would solve most of use cases and could be useful for other users too. We can implement an external controller, but this way others will need to imple

[2019-04-16 09:30] ktsakalozos opened #76645 "Headless services differ between userspace and iptables proxy-mode"
**What happened**:
When creating two services one of which headless against the same deployment the userspace and iptables proxy modes have different behaviors.

**What you expected to happen**:
Both userspace and iptables proxy modes to be transparent to the user. Also seems userspace mode is not compliant with what is described in the docs: https://kubernetes.io/docs/concepts/services-networking

[2019-04-16 10:05] neolit123 commented on #76155
also the worker nodes need to have access to the registry.

[2019-04-16 10:50] kahootali commented on #72017
Fixed this, the issue was with that some of my nodes had taints due to which the pods were unable to be scheduled there, added this toleration
[code]
and it got scheduled on all nodes.

[2019-04-16 10:50] #72017 closed

[2019-04-16 10:57] gadiener commented on #65387
Same here.

[2019-04-16 11:20] dims commented on #69896
/remove-lifecycle rotten

[2019-04-16 11:23] wojtek-t commented on #75833
I'm sorry for delay with update here - the current update is as following:
- after the next round of bisections, we know that:
ea27cd35fa07b874b3dff5d2f83dd401a361865e  is a good one
6f4dc1ccf9735013fdb7cd044bda29d19bebb906  is a bad one

During my discussions with golang folks, the outcome was that we believe that
8e093e7a1cd8a092f23717cb8f34bca489a3eee5 is the faulty one, as it adds a bunch of s

[2019-04-16 11:26] nikhita commented on #69896
/help

[2019-04-16 11:26] #49867 closed

[2019-04-16 11:41] dims commented on #75833
Very very cool! thanks @wojtek-t

[2019-04-16 11:41] dims commented on #75833
cc @liggitt

[2019-04-16 12:02] adampl commented on #58788
@zhangxiaoyu-zidif please reopen

[2019-04-16 12:26] ahmadalli commented on #56903
@jcperezamin could you please explain more? how did you solve it?

[2019-04-16 12:29] wojtek-t commented on #76579
I took a quick look into this one and looked into PRs merged between runs when it started failing:
https://github.com/kubernetes/kubernetes/compare/f873d2a05...aa7406460
But I didn't find anything really suspicious.

So I looked a a bit into graphs and my current hypothesis is that the regression actually happened before. This is based on looking into some graphs in perf-dash:

![Screenshot from 2

[2019-04-16 12:34] ktsakalozos commented on #76645
/sig network

[2019-04-16 12:36] dims commented on #71430
@mariantalla is this still a problem? please close it if this is not needed

[2019-04-16 12:41] azoaib commented on #50295
I am using docker-for-mac, got the same issue but restarting docker daemon solved the issue.

[2019-04-16 13:11] chenliu1993 commented on #76589
Got it! Thank you！

[2019-04-16 13:16] chenliu1993 commented on #76589
Thank you!
But why it will exit as soon as booting? Why is it not openning a tty like "kubectl exec -it busybox-1-xxxxxx -- /bin/ash"

[2019-04-16 13:19] chenliu1993 commented on #76589
Thank you!
But why it will exit as soon as booting? Why is it not openning a tty like "kubectl exec -it busybox-1-xxxxxx -- /bin/ash"
And why after "sleep 3000", the container will not show "Completed" status. Is it supposed to complete after 3000?

[2019-04-16 13:29] dims commented on #65825
/close

let's reopen this when there is more info available

[2019-04-16 13:29] #65825 closed

[2019-04-16 13:33] liggitt opened #76649 "Add integration testing for admission webhooks"
Part of admission webhook GA tasks

Would have caught https://github.com/kubernetes/kubernetes/issues/76107 and https://github.com/kubernetes/kubernetes/issues/75193

Setup:
* Use `framework.StartTestServer` (or something similar) to start a test API server with mutating and validating webhook admission plugins enabled
* Start a recording webhook listener in process (using http.NewTestServer or so

[2019-04-16 13:38] dims commented on #71888
/sig release

[2019-04-16 13:49] liggitt commented on #76597
Is there a reason you are not using the [watch API](https://kubernetes.io/docs/reference/using-api/api-concepts/#efficient-detection-of-changes)?

[2019-04-16 13:50] liggitt commented on #76620
agree it's a hard requirement, but if the field is not enabled yet, I think it's still considered part of the feature

[2019-04-16 13:59] mattjmcnaughton commented on #76598
On Mon, Apr 15, 2019 at 10:50:03AM -0700, Harsh Prateek wrote:

Hi @hprateek43! I will definitely share what I find as I go - I'll be honest,
I'm not definite yet on the proper patch, so it will be an adventure for us both
:)

[2019-04-16 14:00] sudy1 commented on #76531
I have the same problem, how to fix ?

[2019-04-16 14:06] raj12892 commented on #66748
Disable the swap permanently by commenting swap entry in /etc/fstab and reboot you system.
systemctl status kubelet. #should be in running state.
systemctl start Kubelet.  #if not started
finally if service is failing to start  use 'journalctl -xeu kubelet' to find out the root cause.
kubectl get services.     #finally to check the services are running or not.

[2019-04-16 14:09] dims commented on #67732
we can close this right?

/close

[2019-04-16 14:09] #67732 closed

[2019-04-16 14:11] liggitt commented on #76380
thanks. based on the persisted data, your runAsGroup field is getting dropped because you do not have the alpha feature enabled on your server:

[code]

The feature graduated to beta in 1.14 and is enabled by default. Upgrading your apiserver and kubelets to 1.14 would let you make use of this.

/close

[2019-04-16 14:11] #76380 closed

[2019-04-16 14:12] liggitt commented on #76469
thanks for the PR, but I don't think we're ready to drop this yet, based on existing use by other components. See comment at https://github.com/kubernetes/kubernetes/pull/76648#discussion_r275795527

/close

[2019-04-16 14:12] #76469 closed

[2019-04-16 14:15] Ramyak commented on #72916
/remove-lifecycle stale

[2019-04-16 14:28] dims commented on #76269
+1 from me @mrbobbytables

[2019-04-16 14:30] nerusnayleinad commented on #76202
/sig feature

[2019-04-16 14:33] batman1911 commented on #66748
Check if your SELinux is disabled or not. If its running, run the command setenforce 0, and restart the kubelet services. If it works, change selinux permissive permanently in its conf file and when you restart the machine it wont give you any issues.

[2019-04-16 14:36] nerusnayleinad commented on #76202
Thanks for the answer, but that's one horrible news you gave me.

The PV (even though it is hostPath) is a kubernetes object, and I can't retrieve if with `kubectl get pv`. Independently of anything, there is no logic behind it, and it should be considered as bug.

[2019-04-16 14:42] matti commented on #69696
Oh now I got it: nope, if you taint your single pool, the google managed pods can not run anywhere.

what you can do is to create a single preemptible f1-micro pool for google pods to be ashamed for their existence.

[2019-04-16 14:58] vitaly-karasik commented on #69696
Thank you, got it.
In fact, it seems that I fixed my cluster downscaling using  poddisruptionbudget for kube-system pods, based on https://github.com/kubernetes/autoscaler/blob/master/cluster-autoscaler/FAQ.md#how-to-set-pdbs-to-enable-ca-to-move-kube-system-pods

[2019-04-16 15:01] matti commented on #69696
Can you share that config so that I understand that better?

[2019-04-16 15:02] vitaly-karasik commented on #69696
Sure:

kubectl create poddisruptionbudget kube-proxy-pdb --namespace=kube-system --selector=app=kube-proxy --max-unavailable 1
kubectl create poddisruptionbudget fluentd-gcp-pdb --namespace=kube-system --selector=app=fluentd-gcp --max-unavailable 1
kubectl create poddisruptionbudget prometheus-to-sd-pdb --namespace=kube-system --selector=app=prometheus-to-sd  --max-unavailable 1

[2019-04-16 15:18] nikoul commented on #56903
If it can help others, here is what I had to do :
- move from alpine to debian
- add `options single-request` to /etc/resolv.conf
Now the issue is gone.

[2019-04-16 15:28] ababkov commented on #59477
Yep see this same issue as well - particularly problematic for queue workers where log output can be very high in bursts.

[2019-04-16 15:34] Raffo commented on #68731
Given that yesterday I was also fooled by this, I think this deserves a better explanation.

There is no issue of any sort and the behaviour is the expected one: whenever you have a service, some kubernetes defined environment variables for the service will be added as documented here: https://kubernetes.io/docs/concepts/services-networking/service/#environment-variables .

This behaviour can be s

[2019-04-16 15:34] matti commented on #69696
so by default maxunavailable is 0 and therefore the node pool can not scale to zero?

how many node pools do you have? a single pool can not scale to zero (?) -- just asking because you mentioned "single" nodepool earlier.

[2019-04-16 15:38] #71057 closed

[2019-04-16 16:00] liggitt commented on #76624
The nil prevObject from etcd is alarming, and needs investigation/correction, but there are a few things we can do in the meantime to make ourselves more resilient:

On the server side, when parsing events from etcd3, we should not see a delete event with a nil prevvalue, and if we do, [parseEvent()](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd

[2019-04-16 16:06] chrisohaver commented on #76569
I'll have to pass the mic to someone more versed at troubleshooting cluster network problems.

[2019-04-16 16:29] dineshgovindasamy commented on #74541
@nagiesek any updates on the runtime configs merge in Windows CNI?

[2019-04-16 16:36] SleepyBrett commented on #71712
Stripping the unix:// from the runtime-endpoint did not solve this problem for me.

I still get the same errors about missing cpu usage metrics, When I run top pods I get the following errors in the metrics-server for pods that are on my crio nodes:

[code]

[2019-04-16 16:48] ahmadalli commented on #56903
@nikoul isn't there any workarounds on alpine?

[2019-04-16 17:29] stickyd commented on #56903
@ahmadalli for me I was able to get Alpine to respect the timeout in `/etc/resolv.conf`, setting it to 1 decreased the impact of this. It still happened just as frequently, but took my 5/10/15 second timeouts to 1/2/3 seconds. Eventually I moved to Debian though.. This is a very frustrating problem.

I don't know too much about it, and I ran into all this after I made the Debian switch, but there

[2019-04-16 17:33] tedyu commented on #73958
Clicking on the above link doesn't seem to how a particular comment - maybe the comment was marked resolved ?

[2019-04-16 17:35] amargherio opened #76657 "Support additional health probe types for Azure Load Balancer"
**What would you like to be added**: Support for additional load balancer health probe configurations (specifically HTTP and HTTPS) for Azure Load Balancers.

**Why is this needed**: The generated Azure Load Balancers for `LoadBalancer` type services only support TCP health probes. Those guarantee that the backend pool consists of nodes listening on the target port but do not validate whether or n

[2019-04-16 17:37] liggitt commented on #76624
/priority critical-urgent

[2019-04-16 17:42] ryanmcnamara commented on #76624
@liggitt the server side changes you're proposing make sense to me, if you'd like I can make the change (at least to error on nil event in the etcd watcher) and test it out in production today.

[2019-04-16 17:42] #72103 closed

[2019-04-16 17:44] tedyu commented on #72758
ping @derekwaynecarr @smarterclayton

[2019-04-16 17:46] patrickdk77 commented on #56903
Just to be clear though, using options single-request doesn't resolve the issue, it just makes it 99% unlikely to happen for most people. The problem of two packets coming in right back to back can still happen, but without it sending them back to back, it's really unlikely to happen.

And as he also stated above, decresing the timeout so that it retries more often also helps give it a working cha

[2019-04-16 17:51] fabiorauber commented on #56903
The only solution for me was to upgrade the hosts’ kernel from 4.15 to 4.18 (Ubuntu 18.04). No more issues since then.

[2019-04-16 17:56] liggitt commented on #76624
getting a fix started/tested would be great. I'd like @jpbetz to ack that we should never see a delete event from etcd without a prevValue present

[2019-04-16 17:57] tallclair opened #76660 "Deprecate kubelet cAdvisor-based endpoints"
The cAdvisor port, which exposed the raw cAdvisor UI & API was removed in Kubernetes 1.12.

Now, we should also begin the deprecation process for the Kueblet API endpoints that are backed by the cAdvisor API. These are legacy endpoints, that expose undocumented APIs that don't conform to Kubernetes API standards. They no longer have any internal usage, as we moved core components to the summary AP

[2019-04-16 17:57] prameshj commented on #56903
Have you tried using the Nodelocal DNSCache addon?
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns/nodelocaldns

It runs a local cache on the node and avoids netfilter/conntrack for cache misses. It talks to kube-dns/coreDNS on cache misses and those connections are via TCP.

[2019-04-16 18:00] roycaihw commented on #76609
among the latest 20 runs of `ci-kubernetes-e2e-gci-gce` (between `2019-04-16 01:54:44 +0000 UTC` and `2019-04-16 16:25:53 +0000 UTC`) I see only one `listResource` [failure](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce/1118113197740527617)

[code]

which is likely be triggered by timeout
[code]

[2019-04-16 18:01] rmb938 commented on #75701
I posted a comment on that topic (pending moderator approval apparently) however it has been open since April 3rd and hasn't hasn't had any discussion since the 8th.  It is now April 16th with this github issue being open since March 25th.

This issue **MUST** be moved forward, if it is not we are going to start seeing 3rd party packages being built.

[2019-04-16 18:05] stuart-mclaren opened #76661 "Bogus kubeconfig prevents "kubectl version --client=true" returning client version"
**What happened**:
A kubeconfig error prevented getting the client version

$ kubectl version --client=true
Error in configuration:
* unable to read client-cert ...client.crt for minikube due to open .../client.crt: no such file or directory

**What you expected to happen**:
$ kubectl version --client=true
Client Version: version.Info{Major:"1", Minor:"10+", GitVersion:"v1.10.13-01-eks", GitCommit

[2019-04-16 18:06] vitaly-karasik commented on #69696
There is one node pool for now, with min 2 and maximum 8 nodes.
 And it had 4 or 3 nodes (don't remember exactly), while I expected downscale to 2 nodes.

[2019-04-16 18:18] stuart-mclaren commented on #76661
https://github.com/kubernetes/kubernetes/pull/76662

[2019-04-16 18:18] sepich opened #76664 "ipvs UDP to garbage collect realServers"
**What happened**:
We're running `syslog` pod behind `service` and sending logs via UDP to it.
It is k8s v1.13.3 with ipvs services.
When `syslog` pod gets restarted logs getting blackholed.
Simplified example on a node:
[code]
So, old pod had IP 192.168.129.116, new pod - 192.168.128.193.
Weight correctly forwards all new traffic to new pod, but there are some `InActConn` which are still sending

[2019-04-16 18:20] yuwenma commented on #76629
@yujuhong Do you mind sharing more context about the debug container here?

[2019-04-16 18:24] pjh opened #76666 "Windows tests failing on GCE with "Couldn't delete ns" timeouts"
**Which jobs are failing**:
https://testgrid.k8s.io/google-windows#windows-gce&width=20&show-stale-tests=
https://testgrid.k8s.io/google-windows#windows-prototype&width=20&show-stale-tests=
https://testgrid.k8s.io/google-windows#windows-gce-1.14&width=20&show-stale-tests=

These test jobs started timing out on 04-15. We believe this is due to a change in the Windows image that is being used for th

[2019-04-16 18:25] pjh commented on #76666
/assign peterhornyack
/cc yujuhong
/sig windows

[2019-04-16 18:25] pjh commented on #76666
/assign pjh

[2019-04-16 18:27] munai-das opened #76667 "Kubernetes secrets get fails with Error from server: illegal base64 data at input byte 3 after encrypting the etcd database"
**What happened**:

[code]

this is the output most of the times. It sometimes gives the correct output also.

**What you expected to happen**:
[code]

**How to reproduce it (as minimally and precisely as possible)**:

For encryption of etcd I followed [docs](https://v1-12.docs.kubernetes.io/docs/tasks/administer-cluster/encrypt-data/)

Encryption Config with aescbc
[code]
[code]

Create a secret

[2019-04-16 18:33] yujuhong commented on #76629
@verb is working on debug containers and the plan is to have alpha with 1.15.

Tracking issue: https://github.com/kubernetes/enhancements/issues/277
KEP: https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/20190212-ephemeral-containers.md

[2019-04-16 18:35] pjh commented on #76666
Version information for our March Windows image:

[code]

Version information for our April Windows image (captured manually since the timed-out test runs are failing to grab the artifacts from the Windows nodes):

[code]

[2019-04-16 18:35] pjh commented on #76666
cc @yujuhong

[2019-04-16 18:38] pjh commented on #76666
Example failing test run: https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-windows-gce-k8sbeta/1117867576618127362. There are about 18 failures that look like this:

[code]

These numerous failures are causing the test run to hit the 2-hour timeout.

[2019-04-16 18:48] nagiesek commented on #74541
Sorry, forgot to update, the runtime DNS was merged in https://github.com/containernetworking/plugins/pull/271

[2019-04-16 18:53] yujuhong commented on #75421
@nagiesek thanks for the help. Have you found anything interesting with the traces?

/cc @lzang

[2019-04-16 18:53] pjh commented on #76666
cc @PatrickLang @dineshgovindasamy

We're seeing test failures that correlate with us starting to use a new Windows Server 1809 image. Previously we were running our 1809 nodes with these hotfixes: `KB4470788`, `KB4489899`. Yesterday we started running with those hotfixes removed and these hotfixes applied instead: `KB4493510`, `KB4493509`. All of these KBs are described as Security Updates.

Does

[2019-04-16 19:01] jimangel opened #76670 "[Failing Test] testing/load/config.yaml failing on master-informing"
**Which jobs are failing**:

- `ci-kubernetes-e2e-gce-scale-performance`

**Which test(s) are failing**:

- `testing/load/config.yaml`

**Since when has it been failing**:

- Flaking since 02-21
- Failing since 04-10

**Testgrid link**:

https://k8s-testgrid.appspot.com/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:

`[measurement call APIResponsiveness - APIRes

[2019-04-16 19:07] matti commented on #69696
Okay got it. Thanks for the PodDisruptionBudget tip!

[2019-04-16 19:19] boluisa commented on #75175
@SandeepPissay on line 263, it looks like SecretCredentialManager struct is not being imported from  any package within package Vsphere. hence, while vs.isSecretInfoProvided is true, secretCredentialManager is not being updated or is probably set to Nil.

[2019-04-16 19:35] shaneutt opened #76671 "Transient Non-Authoritative DNS Responses Returned for kubernetes.default.svc.cluster.local"
**What happened**:

I made multiple DNS queries from within a pod to `kubernetes.default.svc.cluster.local`.

**What you expected to happen**:

I expected all queries to return `aa` flags and be authoritative responses, but instead some responses included `aa` and some did not.

**How to reproduce it (as minimally and precisely as possible)**:

I can reproduce this in a [kind](https://github.com/k

[2019-04-16 19:41] neolit123 commented on #76667
/triage support
/sig api-machinery

[2019-04-16 19:41] neolit123 commented on #76671
/sig network

[2019-04-16 19:42] neolit123 commented on #76664
/sig network

[2019-04-16 19:43] neolit123 commented on #76661
i'm sorry but 1.10 and 1.11 are no longer supported.
please upgrade to 1.12 at the minimum.

if the problem persist re-open this ticket.
/sig cli
/close

[2019-04-16 19:43] neolit123 commented on #76657
/sig azure

[2019-04-16 19:44] neolit123 commented on #76642
/close
please re-open this ticket in the kubernetes/minikube issue tracker.

[2019-04-16 19:44] #76642 closed

[2019-04-16 19:45] neolit123 commented on #76629
/sig node

[2019-04-16 19:46] neolit123 commented on #76661
actually you have a PR for this in master.
/reopen

[2019-04-16 20:07] Benjamintf1 commented on #72944
When referencing certificates in the context of a service, a secret is used. Why should this be any different?

[2019-04-16 20:09] shoucongc opened #76674 "Next steps after Events API v1beta1: migrate all components; event style guide; pipeline for persistent event storage"
**Overview**:
After [kubernetes/enhancements#383](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/instrumentation/events-redesign.md) is implemented ([#65782](https://github.com/kubernetes/kubernetes/pull/65782)), new v1beta1 events API will be ready to use. ([Latest approved design doc](https://github.com/kubernetes/community/blob/master/contributors/design-propo

[2019-04-16 20:12] yastij commented on #76674
/sig scalability
/sig instrumentation

[2019-04-16 20:14] jzebor opened #76676 "CVE-2019-11244: `kubectl --http-cache=<world-accessible dir>` creates world-writeable cached schema files"
In kubectl v1.8.0+, schema info is cached in the location specified by `--cache-dir` (defaulting to `$HOME/.kube/http-cache`), written with world-writeable permissions (rw-rw-rw-).

If `--cache-dir` is specified and pointed at a different location accessible to other users/groups, the written files may be modified by other users/groups and disrupt the kubectl invocation.

CVSS score: CVSS:3.0/AV:L

[2019-04-16 20:15] ryanmcnamara commented on #76624
@liggitt took an initial stab: https://github.com/kubernetes/kubernetes/pull/76675

Splitting up the changes to
1. Return an error on delete event parse with nil prevKV
2. Treat all unexpected states in the reflector as errors

The pr addresses 1

[2019-04-16 20:15] shoucongc commented on #76674
/assign shoucongc
/assign yastij

[2019-04-16 20:20] jzebor commented on #76676
/sig product-security

[2019-04-16 20:22] rochaporto commented on #75113
Sorry for the delay, thanks for the feedback.

Yes, this is something that would be useful for us. I'll start a discussion as suggested.

[2019-04-16 20:24] shaneutt commented on #76671
In retrospect this is looking like a non-issue. The problem appears to be occurring for cached results only (you can delete `cache 30` in the `coredns` `corefile` and this will make all results come back as authoritative) and cached results are non authoritative.

[2019-04-16 20:27] prinf commented on #75918
Having the same on 1.12.6-gke.10

[2019-04-16 20:28] pjh commented on #76666
Dinesh looked at the OS version differences and did not find anything obviously related to namespace or endpoint deletion. Thanks a lot for checking.

Another thing that may have changed when our image changed is the Docker version that's installed. Looking into this now.

[2019-04-16 20:30] Nefelim4ag commented on #71134
@hprateek43, i'm not sure that i fully understand.

But you can grab that issue, if you wish.

[2019-04-16 20:39] shoucongc commented on #76674
/cc gmarek
/cc wojtek-t
/cc piosz

[2019-04-16 20:40] zbutt-muvaki commented on #72775
I can confirm... I am having exact same issue as above running on GKE. Runs stable as 1 pod but on a new deployment i get some crazy amounts of pods that spin up... currently they are higher than my current max and i have 2 versions of the pod deploying... which is very dangerous for us.

version: 1.12.6-gke.10

deployment yaml
`
  strategy:
    rollingUpdate:
      maxSurge: 30%
      maxUnavaila

[2019-04-16 20:41] yastij commented on #76674
cc @wojtek-t

[2019-04-16 20:42] shoucongc commented on #76674
cc @gmarek @piosz

[2019-04-16 20:50] rgembalik commented on #75401
Has anyone investigated this issue deeper? Any clues where to look? How to start? I know this might not be a popular issue and I am sorry for pushing it this hard, but in our case it is critical and I would appreciate the help. This is literally happening a few times a week, leading to multiple nodes crashes if unnoticed. There is a point after which hard reboot is the only option which is incredi

[2019-04-16 21:19] msau42 commented on #75401
Is it possible to repro the issue with a small example?

Can you check /proc/self/mountinfo, which can give more detailed information about bind mounts?

[2019-04-16 21:25] pjh commented on #76666
Our Docker version changed from Docker version 18.09.3, build 142dfcedca to Docker version 18.09.5, build be4553c277. This seems like the probable cause of the behavior change but I haven't confirmed this.

Working on gathering HNS etc. traces from a Windows node while reproducing the failure.

[2019-04-16 21:26] rgembalik commented on #75401
I can't - I am not really sure what causes it and in what circumstances. I discovered it a few times when our nodes were super taxed with io. Since then I added zabbix metrics for it and usually I am learning about it from grafana graph dedicated for comparing unique mount count vs total mounts count. Currently, I am even running cronjob every 10 minutes, to make sure that this does not get out of

[2019-04-16 21:36] discordianfish commented on #14040
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-04-16 22:07] smarterclayton commented on #72758
/remove-lifecycle stale

[2019-04-16 22:17] yujuhong commented on #76666
What we are seeing is that pause containers sometimes cannot be terminated:
[code]
This doesn't always happen. Some tests still pass.

[2019-04-16 22:31] smarterclayton commented on #72758
The code is confusing since it looks like it's adding things to the list, but it's really just priming a cache.  The real check is:

[code]

in deleteAllContent

[2019-04-16 22:39] yujuhong commented on #76666
We are having a hard time stopping the pause container (`e2eteam/pause:3.1`) in GCE with the latest Windows server image.

Kubelet is full of timeout messages:
[code]

Docker log is full of errors:
[code]

When I tried stopping the pause container manually with `docker stop`, the command basically hangs.

@PatrickLang  Do you have any idea why this may happen?

[2019-04-16 22:57] pjh commented on #76666
I've uploaded test artifacts from a repro of the issue at https://github.com/pjh/kubernetes/tree/76666-timeouts/e2e-artifacts-timeout-repro-1/e2e-test-peterhornyack-windows-node-group-31ht. That directory contains an HNS trace that I captured using the commands shared at https://github.com/kubernetes/kubernetes/issues/75421#issuecomment-479694924.

I didn't manage to collect logs using the collect

[2019-04-16 23:07] phenixblue opened #76680 "Pod request objects generated from Job's don't have "metadata.name" field set during Admission Review"
**What happened**:

Pod request objects generated by a Job are sent to admission controllers without the `metadata.name` field being specified.

**What you expected to happen**:

I see the `metadata.generateName` field, but would expect the name to have been generated prior to the object being submitted to the admission controller similar to how deployments seem to handle it.

**How to reproduce i

[2019-04-16 23:19] thardie commented on #41965
This seems like it's still an issue. Has no one used client certs to talk to a docker registry?

[2019-04-16 23:51] joakime commented on #76491
I'm experiencing this same issue.
The choice of ubuntu 18.10 or 18.04.1 seems to make no difference.  17.10 also worked for me.

[2019-04-16 23:58] neolit123 commented on #76680
@kubernetes/cloud-provider-vsphere-maintainers
/sig cloud-provider

[2019-04-17 00:56] pjh commented on #76666
Update: I reproduced the error again, this time with collectlogs.ps1 output from before and after running the e2e test. Artifacts are [here](https://github.com/pjh/kubernetes/tree/76666-timeouts/e2e-artifacts-timeout-repro-with-collectlogs/e2e-test-peterhornyack-windows-node-group-31s1), repro commands for posterity [here](https://github.com/pjh/kubernetes/blob/76666-timeouts/e2e-artifacts-timeout

[2019-04-17 01:16] pjh commented on #76666
Also, I was able to reproduce the issue in 3 out of 5 manual runs with `--ginkgo.focus="should\sserve\smultiport\sendpoints\sfrom\spods"`.

[2019-04-17 01:31] cam-cen commented on #70421
/remove-lifecycle stale

[2019-04-17 01:31] johnbelamaric commented on #72149
I am not able to reproduce this in the latest 1.12 e2e tests. If you can consistently reproduce it please reopen.

[2019-04-17 01:33] johnbelamaric commented on #72149
/triage not-reproducible
/close

[2019-04-17 01:33] #72149 closed

[2019-04-17 01:36] madhanrm commented on #76666
I0417 00:18:25.405448    1524 fake_cpu_manager.go:45] [fake cpumanager] RemoveContainer (container id: c62d22d668a805bb2138d5387c7baa1c5d427cfc4e0ab15ceb54ff7df001fd93)     => [Kubelet] Container is removed or attempted to be stopped

5735	None	2019-04-16T17:18:26.4763887	0.0000269	3992	1972	Microsoft_Windows_HyperV_Compute	ContainerStopped: containerId=c62d22d668a805bb2138d5387c7baa1c5d427cfc4e0a

[2019-04-17 01:36] andyzhangx opened #76684 "Add support for azure disk to csi-translation-lib"
**What would you like to be added**:
Azure is not listed as "migratable" in staging/src/k8s.io/csi-translation-lib/translate.go.

could refer to https://github.com/kubernetes/kubernetes/pull/72938
**Why is this needed**:

[2019-04-17 01:37] andyzhangx commented on #76684
/sig azure
/assign

[2019-04-17 01:37] andyzhangx opened #76685 "Add support for azure file to csi-translation-lib"
**What would you like to be added**:
Azure is not listed as "migratable" in staging/src/k8s.io/csi-translation-lib/translate.go.

**Why is this needed**:

/sig azure
/assign

[2019-04-17 01:44] madhanrm commented on #76666
This is coming from GitHub
https://github.com/Microsoft/hcsshim/blob/4e93834c8eda905fd06c8d71e6f982faa84294a9/internal/hcs/system.go#L331

[2019-04-17 01:56] yujuhong commented on #76666
Yep, it's from the hcsshim. That's why I filed an issue there to see if anyone could help shed some light on why we're getting this error frequently: https://github.com/Microsoft/hcsshim/issues/567

[2019-04-17 02:03] yujuhong opened #76686 "GCE/Windows: docker logs in test clusters should include timestamps"
/cc @pjh @mtaufen

[2019-04-17 02:40] andyzhangx commented on #76575
I tried by `aks engine v0.34.0` on chinaeast2, metric server works well:
[code]

@chicago7  the only difference is I set network plugin and policy as following:
[code]

I am not sure `calico` works on azure china now.

[2019-04-17 02:41] saad-ali commented on #76620
CC @msau42

[2019-04-17 03:45] irvifa commented on #70674
@Asgoret how you perform the update?

[2019-04-17 04:02] feiskyer opened #76687 "SLB backend pools are empty if outbound rules are defined in a separate backend pool"
**What happened**:

SLB backend pools are empty if outbound rules are defined in a separate backend pool.

This is because, although we added the check for not adding the backend pools from different LBs, the lbName is not checked:

https://github.com/kubernetes/kubernetes/blob/fe8cd08a1be83e659f6a51d70a5b35b329ba40cc/pkg/cloudprovider/providers/azure/azure_vmss.go#L783-L799

The new backend pool'

[2019-04-17 04:05] jmillikin-stripe opened #76688 "AWS provider with multi-domain cluster hardcodes node names to "master-dummy""
**What happened**:
The AWS provider supports running the control plane and Kubelet in separate AWS accounts. This is typically used for access control or to simplify certain forms of audit logging.

Unfortunately the provider's logic to detect the node name is incomplete, and hardcodes the Kubelet's reported node name to `"master-dummy"` when the master is in a different account. As a result, the

[2019-04-17 04:05] jmillikin-stripe commented on #76688
/sig aws

[2019-04-17 05:09] WanLinghao commented on #76660
/cc

[2019-04-17 05:47] johnSchnake commented on #76342
Findings so far:
 - 2 images (Cuda images for GPU/vector stuff) take up 4GB of the total 7. This obviously makes it clear that the best approach wont necessarily be to focus on combining 20 other golang images to save 50MB. Instead, perhaps focus should be on splitting up the "master map" of images into focused sections so that it is more clear what each testing set needs?
    - there are 2 versio

[2019-04-17 06:09] sshukun commented on #34059
I have raised a PR(#76692) trying to improve the error messages in bootstrap related file and I am also trying to follow #67619.
I am new to GO and kubernetes and this is my first PR, so I am happy to get any feedback.

[2019-04-17 06:48] sshuvaev commented on #76155
My nodes have access to registry:
[k8s-n2-test /]# docker login private.registry
Authenticating with existing credentials...
Login Succeeded
Kubelet runnin as follow:
/usr/bin/kubelet --bootstrap-kubeconfig=/etc/kubernetes/bootstrap-kubelet.conf --kubeconfig=/etc/kubernetes/kubelet.conf --config=/var/lib/kubelet/config.yaml --cgroup-driver=systemd --network-plugin=cni --pod-infra-container-image=p

[2019-04-17 07:00] Reamer commented on #66437
I doesn't have access to a running ceph cluster, anymore. So I'll close this issue. If someone other get the same problem, please reopen a new issue.
/close

[2019-04-17 07:00] #66437 closed

[2019-04-17 07:07] CallMeFoxie opened #76693 "IPv6 randomly not assigned with kubelet 1.13.5 or 1.14.1 and Calico"
/kind bug

**What happened**:
I've already created the issue on Calico side, but this might be relevant here as well (I have no idea on whose side the issue is): https://github.com/projectcalico/calico/issues/2553

Basically - after updating kubelets 1.12.5 to 1.13.5 the IPv6 of the pod sometimes disappears or does not get assigned to the host veth interface. However it happens very randomly (abou

[2019-04-17 07:11] CallMeFoxie commented on #76693
/sig networking

[2019-04-17 07:31] gaiastackorg opened #76695 "support label selector in MutatingWebhook"
**What would you like to be added**:
In webbook, I would like to add a `labelSelector` to filter which object should be called with webhook, just like `namespaceSelector `

**Why is this needed**:

In [istio](https://github.com/istio/istio), we use `MutatingWebhook` to inject sidecar into pod. For now, webhook only supports `namespaceSelector`, so when the namespace match, all pod in the namespace

[2019-04-17 07:32] #76695 closed

[2019-04-17 07:33] andyliuliming opened #76696 "The docker vendored here is too old, is it possible to upgrade it?"
**What would you like to be added**:

**Why is this needed**:

[2019-04-17 07:35] ChenLingPeng opened #76697 "support label selector in MutatingWebhook"
**What would you like to be added**:
In webbook, I would like to add a `labelSelector` to filter which object should be called with webhook, just like namespaceSelector

**Why is this needed**:

In [istio](https://github.com/istio/istio), we use `MutatingWebhook` to inject sidecar into pod. For now, webhook only supports `namespaceSelector`, so when the namespace match, all pods in the namespace w

[2019-04-17 07:54] #48787 closed

[2019-04-17 08:07] wojtek-t commented on #76579
I took a look into those 93 PR merged in the period mentioned above. And there are exactly 6 that which impact I couldn't exclude immediately (though in most cases I highly doubt they may cause it):
[I highly doubt] https://github.com/kubernetes/kubernetes/pull/74877
[in theory probable] https://github.com/kubernetes/kubernetes/pull/75389
[I doubt, but...] https://github.com/kubernetes/kubernetes/

[2019-04-17 08:36] mariantalla commented on #71430
It seems this specific issue isn't 🤔 vsphere conformance tests are still failing/flaking in master-informing (they've moved there since this issue was opened), but with different errors.Example runs:
* [Conformance - vSphere-cloud-provider](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cloud-provider-vsphere-conformance-latest/1118002720343592960)
* [Conformance - vSphere](https://prow.k

[2019-04-17 08:36] #71430 closed

[2019-04-17 09:06] zigmund opened #76699 "Slow connect (TCP retransmits) via NodePort"
**What happened**:
In out archutecture we have some kinda external (out-of-cluster) Ingress Controller, based on HAProxy + self-written scripts for Kubernetes service discovery (2 instances). ~60 Kubernetes services exposed via NodePort on 8 Kubernetes nodes. Each node runs kube-proxy in iptables mode.

Everything worked fine. But after cluster got more load (HTTP requests per second / concurrent

[2019-04-17 09:10] zigmund commented on #76699
@kubernetes/sig-nework-bugs

[2019-04-17 09:10] chicago7 commented on #76575
@ andyzhangx thanks for your reply, i will try it

[2019-04-17 09:11] zigmund commented on #76699
/sig network

[2019-04-17 09:37] chicago7 commented on #76575
@andyzhangx  i change the network plugin and policy value. but the issue still happened.

NAME                                            READY     STATUS             RESTARTS   AGE
azure-cni-networkmonitor-2272p                  1/1       Running            0          3m
azure-cni-networkmonitor-4bt9n                  1/1       Running            0          3m
azure-ip-masq-agent-ftwzn

[2019-04-17 09:41] dionysius opened #76700 "go mod import of kubernetes modules, golang.org/x/text is referenced to a non-existent version"
Hi, I'm coming from https://github.com/golang/go/issues/31487#issuecomment-484005323

Because this issue applies to probably all repos of kubernetes (seen here, in apimachinery, ...), I allow me to post here. For some reason, your `go.mod` file - currently in `master` - references `golang.org/x/text` with the tag `v0.3.1`, but there is no such tag there (see issue above for details)

**What happen

[2019-04-17 09:44] dionysius commented on #76700
/sig api-machinery
/sig contributor-experience

[2019-04-17 09:56] szuecs commented on #56903
@prameshj nodelocal DNSCache won't fix the problem of reaching CoreDNS serviceip from the nodelocal cache.

[2019-04-17 10:25] jvoeller opened #76701 ""No cloud provider specified" kube-controller-manager"
**What happened**: While trying to provision a volume for my Windows cluster I ran into the following issue. When I want to create Pod with the following yaml file

[code]
the kubelet gives the following error:

The kube-controller-manager logs also say that no cloud provider has been specified.

I passed the cloud-config flag to to kube-controller-manager and specified `"cloud": "AzurePublicCloud

[2019-04-17 10:25] jvoeller commented on #76701
/sig windows

[2019-04-17 10:46] neolit123 commented on #76693
/sig network
/kind ecosystem

[2019-04-17 10:52] neolit123 commented on #76696
/sig node
it was recently updated to 18.09.4:
https://github.com/kubernetes/kubernetes/pull/75843

the project does not officially support a newer version.

[2019-04-17 10:54] neolit123 commented on #76676
@jzebor if you think this is serious, send an email https://kubernetes.io/docs/reference/issues-security/security/#report-a-vulnerability
thanks!

/close

[2019-04-17 10:56] neolit123 commented on #76676
you can also add me on CC neolit123 at gmail.com
i'd be interested about the explanation for this part:

[2019-04-17 10:56] matte21 opened #76703 "Race condition in PVC protection controller can lead to deletion of PVC used by Pod"
**What's the problem**:

The [PVC protection controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/volume/pvcprotection/pvc_protection_controller.go) aims to prevent deletion of PVCs used by Pods, as described [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/storage/postpone-pvc-deletion-if-used-in-a-pod.md). To that end, when it pr

[2019-04-17 10:58] wojtek-t commented on #73958
Maybe I don't know. But anyway https://github.com/kubernetes/kubernetes/pull/76702 is what I had on my mind works with the current implementation of bookmarks, but didn't work with the initial one.

[2019-04-17 10:58] ghouscht opened #76704 "cgroup driver "systemd" does not work with custom CPU CFS quota period"
**What happened**:
I installed a cluster with kubeadm (1.14.1) and cgroup driver `systemd` with a custom cpu cfs quota period. Pods are unable to start with the following message:
[code]
If I understand the [cgroup-drivers documentation](https://kubernetes.io/docs/setup/cri/#cgroup-drivers) correct, it's recommended to use the `systemd` driver on a systemd managed OS, but this currently blocks us

[2019-04-17 10:59] matte21 commented on #76703
@kubernetes/sig-storage-bugs

[2019-04-17 10:59] ghouscht commented on #76704
/sig node

[2019-04-17 11:16] dims commented on #76696
/close

[2019-04-17 11:16] #76696 closed

[2019-04-17 11:22] dims commented on #76700
cc @liggitt

[2019-04-17 11:34] jvoeller commented on #76701
/sig azure

[2019-04-17 12:12] ShuYingya commented on #72604
Fixed in https://github.com/kubernetes/kubernetes/pull/75458

[2019-04-17 12:12] #72604 closed

[2019-04-17 12:35] varyumin commented on #70493
I had a similar problem. I helped only deleted POD's kube-dns

[2019-04-17 12:42] thaJeztah opened #76706 "Add redirects to godoc.org for k8s.io vanity URLs"
**What would you like to be added**:

Visiting the vanity URLs used to import kubernetes Go packages (for example [`k8s.io/client-go`](https://kubernetes.io/client-go) will make me arrive at a 404 on the website:

<img width="459" alt="Screenshot 2019-04-17 at 14 37 00" src="https://user-images.githubusercontent.com/1804568/56288098-4cfbe300-611e-11e9-8035-f68cf01eb444.png">

It's common to redire

[2019-04-17 12:43] eyalzek commented on #66450
This is also the case for `StatefulSet` resources that define `volumeClaimTemplates`. Even though the resource is unchanged, `kubectl` will still try to patch the claim template. Can be reproduced with the following minimal yaml:

[code]
Applying for the first time:

[code]

and on any subsequent `kubectl apply`:

[code]

Increasing verbosity shows that `kubectl` attempts to submit the following p

[2019-04-17 12:44] thaJeztah commented on #76706
@kubernetes/sig-docs-feature-requests

[2019-04-17 12:50] thaJeztah commented on #76706
Hm, I should probably have opened this in https://github.com/kubernetes/website. I just spotted a redirects file there; https://github.com/kubernetes/website/blob/master/static/_redirects

[2019-04-17 12:56] chrisohaver commented on #76671
This is due to cache, sometimes the answer is coming from the cache, but when the cache entry is expired, the answer are coming directly from the authoritative source.

Not per my knowledge.  Answers that come from cache are not authoritative.  I think the reasoning behind this policy is that the cached entry could in fact be no longer present in the authoritative server, despite the TTL.

[2019-04-17 13:00] grzesiek commented on #76597
Watch API is indeed not something that makes sense in our case, I'm aware that it exists, but thanks for mentioning it.

I agree that an external controller makes sense here. Because we are using Kubernetes with Knative, I'm going to check [KubernetesEventSource](https://github.com/knative/docs/tree/master/docs/eventing/samples/kubernetes-event-source) before taking a stab at implementing the cont

[2019-04-17 13:00] #76597 closed

[2019-04-17 13:00] rtheis commented on #73698
We hit the problem again on Kubernetes version 1.12.7.

[code]

[code]

[2019-04-17 13:03] liggitt commented on #76700
It's actually `v0.3.1-0` which is go's way or expressing "a commit after v0.3.1 that is not on a tag.

See https://tip.golang.org/cmd/go/#hdr-Pseudo_versions

/close

[2019-04-17 13:03] #76700 closed

[2019-04-17 13:10] rtheis commented on #73698
Here's the combined API server logs which may help identify the timing issue:
[code]

[2019-04-17 13:11] shaneutt commented on #76671
This makes sense, I just wanted to double check. Thanks @chrisohaver :+1:

[2019-04-17 13:11] #76671 closed

[2019-04-17 13:11] ramnes commented on #52218
@dmick I'm not sure which MR allowed this, but I can definitely use `-c` with both `-f` and `-l`!

[2019-04-17 13:31] moduspwnens opened #76708 "Generated clients do not include limit and continue parameters for listing custom resources"
The generated client methods for listing Kubernetes native resources include the "limit" and "continue" parameters, but the specs for listing custom resources do not.

See below docs for the Python and Java clients (e.g.) listing namespaced pods:
https://github.com/kubernetes-client/python/blob/master/kubernetes/docs/CoreV1Api.md#list_namespaced_pod
https://github.com/kubernetes-client/java/blob/m

[2019-04-17 13:35] chrisohaver commented on #56903
NodeLocalDNS uses TCP connections from the local DNS servers to the cluster DNS service IP, which are more robust than UDP.  That is, a single pack drop kills a UDP transaction, TCP recovers comparatively instantly via handshaking and resending.

[2019-04-17 13:45] thaJeztah commented on #76706
Opened a pull request in the website repository; https://github.com/kubernetes/website/pull/13861

[2019-04-17 13:47] BradleySheppard commented on #43916
I seem to be having the same issue with some IO intensive Pods we are running. Tried setting the memory request and limits equal, however the page cache still continues to grow until eventually Pods are being evicted. The QoS class on these Pods weren't "guaranteed", as the CPU amount was still burstable with different requests and limits. Going to try setting the QoS class to guaranteed with non-

[2019-04-17 13:48] dims commented on #76706
Thanks @thaJeztah !

[2019-04-17 14:00] #58931 closed

[2019-04-17 14:05] liggitt commented on #76676
Adjusted the CVSS score to https://www.first.org/cvss/calculator/3.0#CVSS:3.0/AV:L/AC:L/PR:L/UI:R/S:U/C:N/I:L/A:N to indicate user interaction is required (since they must specify a non-default cache option pointed at a shared writeable location)

[2019-04-17 14:09] liggitt commented on #76676
There are two places this should be done:

PathPerm and FilePerm should be set here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/discovery/cached/disk/round_tripper.go#L37-L40

the temp file and final file should have stricter permissions (probably 0660) here:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/discovery/cached/di

[2019-04-17 14:18] liggitt commented on #76697
this is planned in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/00xx-admission-webhooks-to-ga.md#object-selector and tracked in https://github.com/kubernetes/enhancements/issues/492

/close

[2019-04-17 14:18] #76697 closed

[2019-04-17 14:21] liggitt commented on #76680
name generation happens as part of storage, in order to be able to retry if a conflict is detected.

the generated name is available to validating webhooks (which run after all modifications to the object are complete), but not to mutating webhooks

/close

[2019-04-17 14:21] #76680 closed

[2019-04-17 14:22] liggitt commented on #76667
/cc @immutableT @smarterclayton

[2019-04-17 14:24] liggitt commented on #76676
/cc @deads2k @caesarxuchao

[2019-04-17 14:42] weibeld commented on #53248
There's also the [rbac-lookup](https://github.com/reactiveops/rbac-lookup) tool. It allows to display all the (Cluster)Roles and (Cluster)RoleBindings for subjects (users, ServiceAccounts, groups).

You can display all the (Cluster)Roles and (Cluster)RoleBindings for a specific ServiceAccount like this:

[code]

[2019-04-17 14:47] liggitt commented on #76701
can you provide your full kubelet and controller-manager invocations?

[2019-04-17 14:59] andrewsykim commented on #76206
@johnSchnake and I started writing down some ways to break up `util.go` here https://docs.google.com/document/d/1zvbr8iun_L2OkHvucnstFhcxsWS7wyqfRQ9UztBZWgw/edit. Please take a look, if we agree we can start breaking up this work into smaller chunks.

[2019-04-17 15:04] draveness commented on #76206
Is there anything else I could do for this issue? I have refactored files that I claimed. :)

[2019-04-17 15:17] mikeparker opened #76714 "PKI creation using now.UTC breaks after system clock drift corrections"
We're tracking a rare bug in Docker Desktop where users are getting the error message:
`the certificate is not valid yet` (see: https://github.com/docker/for-win/issues/2913)

This can be reproduced by manually changing your system clock forwards and backwards, but we believe it can also occur naturally when a system clock drifts forwards and a reboot or other sync corrects the system clock backwa

[2019-04-17 15:18] SleepyBrett opened #76715 "kube 1.13.5 - Nodes backed w/ CRI-O unable to properly autoscale pods due to metrics-server/kubelet issue"
**What happened**:
I built a cluster with a mix of docker and cri-o nodes in order to a/b test the runtimes.

After observing the logs of the metrics-server and running some tests with the HPA I determined that if the 'seed' pod landed on a cri-o node the hpa would be ineffective. I dug in a bit.

Logs from the metrics server contained large blocks of similar lines, all referencing cri-o nodes (in

[2019-04-17 15:19] mikeparker commented on #76714
From previous thread, @liggitt said:

[2019-04-17 15:20] discordianfish commented on #63022
/reopen
/remove-lifecycle stale
/remove-lifecycle rotten
/lifecycle freeze
/cc @fejta Feedback: I don't like it.

[2019-04-17 15:24] jvoeller commented on #76701
i'm sorry, do you mean their yaml definition / arguments from the powershell scripts?

kube-controller-manager
[code]

kubelet

[code]

[2019-04-17 15:27] kfox1111 commented on #76629
Until debug containers, I've been using this:
https://github.com/pnnl-miscscripts/miscscripts/tree/master/bin

[2019-04-17 15:30] andrewsykim commented on #76206
@draveness I think we can break up `utils.go` into smaller tasks, I'll update the issue description once we've agreed on how to do this

[2019-04-17 15:37] willzhang opened #76717 "SupportIPVSProxyMode: true"
this option is not support for kubernetes v1.14.0,is it should  update or  how can i enable ipvs mode ?
https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/ipvs/README.md

...
kubeProxy:
  config:
    featureGates:
      SupportIPVSProxyMode: true
    mode: ipvs
...

[2019-04-17 15:37] liggitt commented on #76701
it doesn't appear that you specified --cloud-provider to either kubelet or controller-manager. that is what the error message is indicating must be set.

/close

[2019-04-17 15:37] #76701 closed

[2019-04-17 15:38] tedyu opened #76718 "buildPortsToEndpointsMap should use flattened value type"
**What would you like to be added**:
roundrobin#buildPortsToEndpointsMap should use flattened value type - []string

**Why is this needed**:
Currently buildPortsToEndpointsMap uses []hostPortPair as value type.
Looking at the calls to this func:
[code]
We always flatten the value before using it.

[2019-04-17 15:39] tedyu commented on #76718
sig/network

[2019-04-17 16:05] bitglue commented on #43916
@BradleySheppard Perhaps you need to adjust your [eviction thresholds](https://kubernetes.io/docs/tasks/administer-cluster/out-of-resource/). Or perhaps your pods are not being evicted, but rather OOM killed for exceeding their limit.

[2019-04-17 16:16] jvoeller commented on #76701
yes, but with that flag kube-controller-manager goes into a CrashLoopBackoff, because it can't read the azure.json.

 But that's a different issue, right?

[2019-04-17 16:20] liggitt commented on #76701
specifying --cloud-provider actually makes it read your cloud config, which apparently is inaccessible

[2019-04-17 16:23] jguitard commented on #71887
Seeing the same messages:

k8s:  v1.12.3
Docker version: 18.06.1-ce, build e68fc7a
Kernel: 4.9.0-8-amd64 #1 SMP Debian 4.9.144-3.1 (2019-02-19) x86_64 GNU/Linux
OS: Debian GNU/Linux 9 (stretch)
Hardware configuration: QEMU/KVM (baremetal)

[2019-04-17 16:24] jvoeller commented on #76701
yes, it seems so. moving the config to /etc/kubernetes/pki/azure.json it seems to make it accessible again, as a workaround.

[2019-04-17 16:29] pjh commented on #76666
Forcing the Docker version to be 18.09.3 (instead of 18.09.5) with our April 1809 image did not help with this issue. However, pinning our Windows nodes back to our 1809 image from March did restore our tests: https://testgrid.k8s.io/google-windows#windows-prototype&width=20.

This seems to indicate that the problem is in HCS or hcsshim, as Madhan and Yu-Ju noted above.

@PatrickLang @dineshgovind

[2019-04-17 16:41] rarchk opened #76721 "[Flaking Tests] diffResources flaking in ci-kubernetes-e2e-gci-gce-ingress"
**Which jobs are failing**:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-ingress/1118406477329993731

**Which test(s) are failing**:
diffResources

**Since when has it been failing**:
has been flaking since 04-06

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-ingress&width=5&show-stale-tests=

**Reason for failure**:

Error:

[2019-04-17 16:41] alex-leonhardt commented on #58987
@krmayankk this would be great to get in, is there anything that needs doing / that's blocking this?

[2019-04-17 16:43] alejandrox1 commented on #76721
/milestone v1.15

[2019-04-17 16:58] munai-das commented on #76667
The issue was with my base image in AMI. It is CIS Level 1 benchmark image. Causing some network partition that made many functionalities like the above fail. I reverted back to latest Centos7 image it worked okay. So closing the issue now.

[2019-04-17 16:58] #76667 closed

[2019-04-17 17:12] pjh opened #76725 "gcepd "provisioning should provision storage with ..." tests failing in master"
These two tests started failing on 04-04:
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (ntfs)][sig-windows] provisioning should provision storage with defaults
[sig-storage] In-tree Volumes [Driver: gcepd] [Testpattern: Dynamic PV (ntfs)][sig-windows] provisioning should provision storage with mount options

Last passing run: https://prow.k8s.io/view/gcs/kubernetes-jenkin

[2019-04-17 17:12] pjh commented on #76725
/assign jingxu97
cc @yujuhong

[2019-04-17 17:17] johnSchnake opened #76726 "SubjectAccessReview endpoint should exist for providers other than GKE explicitly"
**What would you like to be added**:
The function `WaitForNamedAuthorizationUpdate` in `test/e2e/framework/auth/helpers.go` should check for GKE and allow a missing SubjectAccessReview endpoint. If we get a 404 on another provider an error should still be returned.

GKE doesn't enable the SAR endpoint.  Without this endpoint, we cannot determine if the policy engine has adjusted as expected.  In t

[2019-04-17 17:20] johnSchnake commented on #76726
/sig testing
/area test
/area test-framework

[2019-04-17 17:21] carlf opened #76727 "kube-proxy does not exit after --cleanup"
**What happened**:
I ran the following to clean up kube-proxy rules:

[code]
It did not exit after finishing the cleanup.

**What you expected to happen**:
I expected kube-proxy to cleanup and exit.

**How to reproduce it (as minimally and precisely as possible)**:
Build cluster with kubeadm
Run the docker command above

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (u

[2019-04-17 17:25] johnSchnake opened #76728 "Test framework log functions should be put into their own package"
**What would you like to be added**:
Log functions in all the `*.util` files/packages for the framework should be centralized into their own package outside of the framework.

**Why is this needed**:
As part of #76206. Avoids import cycles and encourage further breaking down of the large framework package.

/sig testing
/area test
/area test-framework
/kind cleanup

[2019-04-17 17:29] carlf commented on #76727
@kubernetes/sig-network-bugs

[2019-04-17 17:43] neolit123 commented on #76725
/sig gcp

[2019-04-17 17:55] vladimirvivien opened #76729 "Apply pod SecurityContext rules for CSI ephemeral volumes"
**What would you like to be added**:
Add support for CSI ephemeral volumes to use pod security policy to restrict drivers.

**Why is this needed**:
The [KEP for inline CSI ephemeral](https://github.com/kubernetes/enhancements/blob/master/keps/sig-storage/20190122-csi-inline-volumes.md#specifying-allowed-inline-drivers-with-podsecuritypolicy)  support mentions the ability to control volume access u

[2019-04-17 17:55] vladimirvivien commented on #76729
/assign

[2019-04-17 18:13] jingxu97 commented on #76725
I think this PR https://github.com/kubernetes/kubernetes/pull/76300 should fix the issue

[2019-04-17 18:16] aranair commented on #63959
.... As a workaround, I'm just manually creating a second NLB (with EIPs) and changing the listeners to forward the traffic to the automatically created target groups (from the 1st NLB).

[2019-04-17 18:22] ylacaute opened #76730 "Edit service kubernetes-dashboard failed with ClusterIP"
##### Environment

[code]

##### Steps to reproduce

With a running cluster with a single node master :
Add the dashboard:
[code]
Then edit the config by changing type ClusterIP to NodePort :
[code]
Everything ok, then do it again and change type NodePort to ClusterIP :
[code]

##### Observed result

We are unable to save back to ClusterIP type with the following output :
[code]
##### Expected res

[2019-04-17 18:23] BradleySheppard commented on #43916
@bitglue They are definitely being evicted. I'll take a look at the eviction thresholds, although we are running in EKS, so whatever the default is for that we are using. The client is a NodeJS client, so I may look into limiting it from the Node level by restricting the memory usage there.

[2019-04-17 18:28] mayakacz commented on #75899
@ritazh this may be of interest to you
This is similar to https://github.com/Azure/kubernetes-keyvault-flexvol. Would a CSI with this functionality, allowing you to mount secrets as a volume, meet your needs? Why or why not?

[2019-04-17 18:35] cleverguy25 commented on #75899
I am sure we could make that work, however this is some extra capabilities that mastering the actual secret in Kubernetes would give us, like tracking which secrets are in use by which pods.  Mounting as several different volumes could work too, but gets tedious in a hurry.  There are also lots of charts like Istio that already use secrets that are not as secure as we would like and would want to

[2019-04-17 18:43] tedyu opened #76731 "Unmerge should restore ServicePortName originally in EndpointsMap"
**What would you like to be added**:
Unmerge should restore ServicePortName originally in EndpointsMap

**Why is this needed**:
Currently during Merge(), ServicePortName is overwritten by entry from other EndpointsMap.
During Unmerge(), such entry would be deleted.
Meaning, Merge() followed by Unmerge() may produce a different EndpointsMap compared with the original.

[2019-04-17 18:43] tedyu commented on #76731
sig/network

[2019-04-17 19:09] cpuguy83 commented on #70029
/remove-lifecycle-stale

[2019-04-17 19:13] ritazh commented on #75899
Here is the csi driver for secrets store. It currently supports both Azure Key Vault and Hashicorp Vault. https://github.com/deislabs/secrets-store-csi-driver

One possible way is to get the volumes of the pod, then filter on flexvolume/csi volume. I will add this to our backlog for keyvault-flexvol and the secrets csi driver.

This is probably the hardest hurdle to overcome as users will need to

[2019-04-17 19:18] krisdock commented on #76531
Seeing the same on Bionic.

[code]

[2019-04-17 19:23] janitha09 opened #76733 "Setting the context to a namespace that doesn't exist should tell you that the namespace doesn't exist"
**What would you like to be added**:

A warning or error letting the user know that they are attempting to switch to a namespace that doesn't exist

`kubectl config set-context --current --namespace=foo`

Prevent the namespace switch - stay where you are

**Why is this needed**:

User friendliness, prevent user from entering limbo space.

[2019-04-17 20:16] thzois commented on #76569
Could it be similar issue: https://github.com/kubernetes/kubeadm/issues/1056#issuecomment-413235119 ?

[2019-04-17 20:28] chrisohaver commented on #76569
I don't think the source of the problem is in CoreDNS.  CoreDNS displays those errors because the network cannot route requests your upstream DNS server.  Something is not right with the Pod networking in the cluster.

Your Pod network needs to be able to route to 195.135.195.135, or DNS will not work correctly.

[2019-04-17 20:31] dims commented on #72538
/close

seems like we have been doing ok with the versions we picked. So let's close this out

[2019-04-17 20:31] #72538 closed

[2019-04-17 20:34] dims commented on #69474
@rmmh do we want to do this?

[2019-04-17 20:39] mm4tt commented on #74213
Closing, as this is basically done in a minimal version.

Other improvements will be tracked in separate issues.

/close

[2019-04-17 20:39] #74213 closed

[2019-04-17 21:03] liggitt commented on #76370
Backoff per instance, per generation, seems appropriate.

We want to make sure whatever rate-limit mechanism we get doesn't affect:
* initial scale up of a new instance
* rollout of a modification to spec (generation change)
* reaction to scale change
* reaction to a node draining and rapidly deleting pods scheduled on it

Things controllers can observe that are a signal we should back off:
* fail

[2019-04-17 21:20] nagiesek commented on #75421
@yujuhong The cause might be related to #76666, but right now we're still trying to root cause the issue.

[2019-04-17 21:37] dims opened #76738 "[sig-release] Umbrella issue for a job that signs artifacts and uploads them to a GCS bucket"
Currently we need googlers to build, sign and upload deb/rpm artifacts. We need a prow job(s) that can do this. Ones that can be triggered by the sig-release team when they cut the release.

- [ ] Find OWNERS for the deb and rpm definitions and associated scripts.
- [ ] We need a CNCF owned signing key. (We need to build a web of trust that signs this key, until then we can just use a temporary ke

[2019-04-17 21:38] dims commented on #76738
cc @timothysc
/sig release

[2019-04-17 21:39] timothysc commented on #76738
/assign @akutz

[2019-04-17 21:45] dims commented on #64878
/remove-lifecycle stale

@derekwaynecarr @tuminoid is this still an issue?

[2019-04-17 21:49] tedyu opened #76739 "Unify roundrobin from userspace and winuserspace"
**What would you like to be added**:
Provide necessary abstraction between the two roundrobin files so that common logic is reused

**Why is this needed**:
The two files, one from pkg/proxy/userspace and one from pkg/proxy/winuserspace, are very similar.
If there is bug fixed in one file, similar fix should be applied to the other file. However, the second fix may be omitted.

[2019-04-17 21:49] dims commented on #71168
/close

[2019-04-17 21:49] #71168 closed

[2019-04-17 21:50] tedyu commented on #76739
sig/network

[2019-04-17 22:10] m1kola commented on #52218
@ramnes @dmick it looks like I *unintentionally* allowed to use `-c` with `-f` and `-l` in #67573, but It will only work if all pods matching a selector provided in `-l` will contain a container with a name specified in `-c`. See the example below, but it's basically how it was described in https://github.com/kubernetes/kubernetes/issues/52218#issuecomment-328510265 and https://github.com/kubernet

[2019-04-17 22:50] neolit123 commented on #76718
/sig network

[2019-04-17 22:51] neolit123 commented on #76718
/remove-kind feature
/kind cleanup

[2019-04-17 23:02] bitglue commented on #43916
Also keep in mind you must set the memory limit for _all_ pods, and then ensure the total allocatable RAM on the node is less than the eviction threshold. Otherwise you'll probably just end up with other pods evicted, like you say.

[2019-04-17 23:06] yujuhong opened #76740 "kubelet does not report `usageNanoCores` for node on Windows"
**What happened**:

`usageNanoCores` is not reported for `node` on Windows.
[code]

**Environment**:
- Kubernetes version (use `kubectl version`): Kubernetes v1.15.0-alpha.1.76+d48509bdf01ee1-
- Cloud provider or hardware configuration: GCE
- OS (e.g: `cat /etc/os-release`): Windows 1809
- Kernel (e.g. `uname -a`):
- Install tools:
- Others:

/cc @dashpole @feiskyer

[2019-04-17 23:38] davidz627 commented on #68586
/remove-lifecycle rotten

[2019-04-17 23:40] davidz627 commented on #68528
/remove-lifecycle rotten

[2019-04-17 23:41] aledbf commented on #484
ref: https://github.com/deislabs/osiris/

[2019-04-17 23:44] davidz627 commented on #64429
/remove-lifecycle stale
/lifecycle frozen

[2019-04-17 23:44] davidz627 commented on #68261
@msau42 can this issue now be safely closed that #75129 has merged

[2019-04-17 23:46] jingxu97 commented on #57923
@sebasmannem @jrnt30, sorry for the delay. But could you describe more details about the problems? When you try to use defaultMode and/or fsgroup in the Pod spec, what is the resulting permission of the files? Thanks!

[2019-04-18 00:10] msau42 commented on #68261
Yes I think so
/close

[2019-04-18 00:10] #68261 closed

[2019-04-18 00:11] liggitt commented on #76733
All the `kubectl config ...` methods are intentionally local only, with no server contact required. `kubectl get ns <name>` can tell you if a namespace does not exist

[2019-04-18 00:14] liggitt commented on #76733
Changing the behavior to require server contact would be a breaking change. Adding a flag for a user to opt into the warning/error would not be significantly better than `kubectl get ns foo && kubectl config set-context --current --namespace=foo`

/close

[2019-04-18 00:14] #76733 closed

[2019-04-18 01:21] WanLinghao commented on #76728
/cc

[2019-04-18 02:34] MikeSpreitzer commented on #73128
The description of the issue is not very clear but it does indicate some complexity.

What is meant by "I have some deployment"?  The helm chart for postgresql includes a StatefulSet but not a Deployment object.

What is meant by "My deployment pod 1"?  What is meant by "My statefulset pod1" (i see this does not match the name given earlier for the pod in the postgresql StatefulSet)?

I presume th

[2019-04-18 04:01] vllry commented on #76727
/assign @vllry

[2019-04-18 04:42] 1090223 commented on #76493
@neolit123 Any suggestion from your side?

[2019-04-18 04:43] mcrute opened #76747 "Tag expression results in EC2 API throttling"
**What happened**:
When scaling and attaching volumes to very large Kubernetes clusters running on AWS the cloud provider is returning EC2 API throttling errors when attempting to add nodes to the cluster and attach volumes to the nodes.

The reason for this is due to the way the AWS cloud provider uses tags. The tags query combines both a legacy tag and a modern tag into a logical OR filter. This

[2019-04-18 04:51] yuchengwu opened #76748 "statefulset missing .status.updateReplicas in ready status"
**What happened**:
Statefulset missing .status.updateReplicas when all stateful pod running and ready

**What you expected to happen**:
Statefulset should keep .status.updateReplicas when all stateful pod running and ready

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a statefulset, EG busybox
[code]
2. Wait all pod running and ready, check statefulset status
[code]

[2019-04-18 04:57] prabhakar-pal commented on #44951
Hi the issue in v1.10.0

[2019-04-18 04:57] yuchengwu commented on #76748
/sig apps

[2019-04-18 04:59] mcrute commented on #76747
/assign

[2019-04-18 05:07] yuchengwu commented on #76748
dup of https://github.com/kubernetes/kubernetes/issues/52653

fixed by https://github.com/kubernetes/kubernetes/pull/62943

closing it

[2019-04-18 05:07] #76748 closed

[2019-04-18 05:45] thzois commented on #76569
I changed the nameservers to the ones from Google. I get the same error..

[2019-04-18 05:58] #76687 closed

[2019-04-18 06:23] kidrocknroll commented on #76424
It is indeed fix my problem.. But i met another strange problem while i was trying to startup kube-master node. I was wondering if there were something wrong with the document or i just got a misunderstanding. So I drop out from init kube-master cluster with external etcd and startup by create a cluster from stacked etcd-cluster。Anyway，thanks a lot。

[2019-04-18 06:23] #76424 closed

[2019-04-18 06:33] vllry commented on #76717
/remove-sig storage

[2019-04-18 06:33] mcfedr commented on #52218
Its great behavoir, I think it would be slightly improved by not erroring if the selector finds pods without matching container, but just ignored these pods.

[2019-04-18 06:35] BenTheElder commented on #74308
AFAICT this is resolved, thanks @MrHohn!

there are still some failures in triage with this, but they seem to be on runs with _many_ failures like https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster-parallel/1117379878698618883

[2019-04-18 06:36] BenTheElder commented on #74308
/remove-triage unresolved
/close

[2019-04-18 06:36] #74308 closed

[2019-04-18 06:36] prameshj commented on #75954
/remove-triage unresolved

[2019-04-18 07:26] yanghaichao12 commented on #76704
In addition to this, are there other pods with this problem? i'v tried just now and nothing is wrong:
`Containers: 11
 Running: 6
 Paused: 0
 Stopped: 5
Images: 10
Server Version: 17.03.2-ce
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 64
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: systemd
Plugins:
 Volume: local
 Network: bridge hos

[2019-04-18 07:28] clkao commented on #72294
/remove-lifecycle stale

[2019-04-18 07:52] ghouscht commented on #76704
Yes every pod which has resources configured fails. Forgot to mention, that you need to set limits and/or requests in your deployment to see the described behaviour. Pods with no limits/requests set are not affected (makes sense, as the kubelet does not need to write to the cgroup config files for those pods)

Example resources configuration for a deployment:
[code]

[2019-04-18 08:02] rgembalik commented on #75401
[umount_mountinfo_2019-04-17_20-10-01.log](https://github.com/kubernetes/kubernetes/files/3093306/umount_mountinfo_2019-04-17_20-10-01.log)
[umount_mountinfo_2019-04-18_07-40-02.log](https://github.com/kubernetes/kubernetes/files/3093307/umount_mountinfo_2019-04-18_07-40-02.log)
@msau42 Here are logs from two separate incidents. It's not really that separated, as those were caught on prod server,

[2019-04-18 08:13] yanghaichao12 commented on #76704
below is my definition，it still work well.
[code]

I think this error is caused by docker, not kubelet. and you can try like this and see what happens：
[code]

[2019-04-18 08:17] szuecs commented on #56903
@chrisohaver then I agree that it makes sense of course :)

[2019-04-18 08:40] yanghaichao12 commented on #76699
Is the route from haproxy2  to 12328 and from haproxy2  to  456 different?

[2019-04-18 08:43] dkwakkel commented on #42544
+1, resulting in less configuration.

[2019-04-18 08:45] j4fm commented on #42544
+1, this would simplify things for statefulset pod name resolution

[2019-04-18 08:46] zigmund commented on #76699
@yanghaichao12 routes absolutelly the same. Both haproxies in same /24 network. All kubernetes nodes in same /24 network.

[2019-04-18 08:50] verb commented on #76629
Since we've been working on this since before distroless containers were called distroless containers, our original feature request #27140 is probably difficult to discover. I've updated #27140 to refer to distroless explicitly and will close this as a duplicate.

Thanks for your feature request, we also think it's important. :+1:

/assign @verb
/close

[2019-04-18 08:50] #76629 closed

[2019-04-18 08:50] zigmund commented on #76699
Also kubernetes nodes connected to network with lacp bonds. To check if problem in bond balancing I've disassemblied bond on 8 node and connected with one interface. But nothing changed.

[2019-04-18 08:57] xichengliudui opened #76757 "Failed to compile kubernetes"
**What happened**:
Failed to compile kubernetes

**What you expected to happen**:
Kubernetes compiled successfully

**How to reproduce it (as minimally and precisely as possible)**:
[code]

**Anything else we need to know?**:
I want more information to be thrown when the compilation fails

At present
[code]
Go version
[code]

[2019-04-18 08:59] xichengliudui commented on #76757
[code]
Based on these four lines of information, I don't know what went wrong.
I need to compile k8s, if you can help me, please tell me. Thank you very much.

[2019-04-18 09:00] Asgoret commented on #70674
@irvifa
I deploy configmap, then notify for deploy again, then start deploy task. So, for example: 1 (running) -> 2 (aborted) -> 3 (running). Here is ansible tasks:
[code]

[2019-04-18 09:02] yanghaichao12 commented on #76699
have you check conntrack numbers，like this：

[code]

[2019-04-18 09:13] brancz commented on #57660
/remove-lifecycle stale

[2019-04-18 09:14] YoubingLi commented on #76604
@jansmets

   Can you share more log about this issue?

[2019-04-18 09:16] zigmund commented on #76699
@yanghaichao12 yes, these numbers are monitored.
[code]

[2019-04-18 09:41] oxddr opened #76760 "Prometheus related errors in build-log.txt"
Not a failing test per-se, but I found following errors in build log:
[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-performance/1118424348374339585

/assign @mm4tt
looks related to your current work.

[2019-04-18 09:43] oxddr commented on #76579
Last two runs have also failed density tests.

Interestingly 5000 kubemark tests are passing just fine. I'll have a look at PR listed above and try to narrow down them down.

[2019-04-18 09:43] mm4tt commented on #76760
/sig scalability

/assign @krzysied
Krzysiek, it's the code you added recently, could you take a look?

[2019-04-18 09:50] dparalen opened #76761 "kubernetes v1.14.1 node.spec.podCIDR missing in worker nodes"
Hi,

I've noticed the `node.spec.podCIDR` was missing on my worker nodes, though the master node does provide both the key and value for the `node.spec.podCIDR` treat:
[code]

As a consequence, e.g the [ kube-router ](https://www.kube-router.io/) (v0.2.5) worker daemon fails to start with an error like this:

[code]

IIRC this used to work just OK in kubernetes v1.13.z

**What happened**:
`node.sp

[2019-04-18 10:12] willzhang commented on #76717
i use this way ,but i don't know is it a good way

[code]
the result is
[code]

[2019-04-18 10:36] zhiweiv commented on #76740
I reported same issue a few days ago, no feedback yet.
#75934

[2019-04-18 11:04] krzysied commented on #76760
- https://github.com/kubernetes/perf-tests/pull/507 - fix for the missing argument.
- The api responsiveness prometheus measurement is enabled in all tests of the k8s head version. This measurement shouldn't cause the test to fails. The logic behind adding it was to compare its results with old api responsiveness measurement's.
- This measurement uses prometheus server. If there measurement is ena

[2019-04-18 11:20] aswanevelder commented on #43279
`kubectl delete pods --all --grace-period=0 --force`

[2019-04-18 11:25] oxddr commented on #76579
At this point, we are still not sure, what is the last good commit. Assuming that the regression has happened before f873d2a0567057ebe8eaa19526513d4e265055e3 and we may get lucky so that load test doesn't fail, the last good run may go back up to f6c51d6e9923431a6a46597a837c0ff58c50dd80.

Next steps:
1) Re-run load test to check whether reverting commits from https://github.com/kubernetes/kubernet

[2019-04-18 11:27] neolit123 commented on #76493
i think you will get better feedback in community forums like stackoverflow or reddit.
i haven't seen much talks about wildfly in k8s, which leads me to believe that the k8s maintainers and people who monitor the issue tracker cannot answer your question.

i'm going to have to close this ticket, but feel free to try the above recommendation - e.g.:
https://stackoverflow.com/search?q=%5Bkubernetes%

[2019-04-18 11:27] #76493 closed

[2019-04-18 11:32] wgliang commented on #69768
/reopen

[2019-04-18 11:49] mengxifl opened #76764 "provided port is already allocated？？？？"
HI
I have one problem

I have two slave nodes. I have three services like this

A node  | A service -- Nodeport--use port 123
B node  | B service -- Nodeport -- use port 123

i want to client access A service this is A app and access B service this is B app and client user app add Different host address. like this yaml

apiVersion: v1
[code]

B service
[code]
Is there a way？ Or maybe I configured

[2019-04-18 12:19] wojtek-t commented on #75833
Just to give an update on that.

- we fully confirmed that the regression is due to 8e093e7a1cd8a092f23717cb8f34bca489a3eee5 (using go1.12.1 with manually reverted that commit reverts the behavior)
- however, according to golang fokls that commit was fixing some things, and there are couple commits built on top of them after 1.12, so it's not-trivial to revert it (we are still looking for other op

[2019-04-18 12:27] zbialik opened #76766 "Need ability to create "dummy" node for cluster backed by a cloud-provider"
@kubernetes/sig-node-feature-requests
@kubernetes/sig-node-bugs
@kubernetes/sig-node-api-reviews
@kubernetes/sig-cloud-provider-feature-requests
@kubernetes/sig-cluster-lifecycle
@kubernetes/sig-api-machinery-feature-requests

/sig node
/sig cloud-provider
/sig cluster-lifecycle
/sig api-machinery

**What would you like to be added**:
Ability to create a "dummy" node using a yaml template and not

[2019-04-18 12:32] mm4tt commented on #76490
@misterikkit, friendly ping :)

[2019-04-18 13:21] montanaflynn commented on #14040
I'm creating or replacing a configmap from a file and use this pattern:

[code]

[2019-04-18 13:30] feiskyer commented on #76740
yep, only usageCoreNanoSeconds is reported for node CPU now. We should probably add a cache for usageCoreNanoSeconds and calculate usageNanoCores based on it.

[2019-04-18 13:31] waynr commented on #72985
@fturib

Hey, thanks for your patience in waiting for a response from me. I'm not sure I could reproduce the problem since I have since left the employer I was working for when I ran into this problem initially.

To summarize what I remember of the problem:

* I was building a cluster with kubespray ansible playbooks
* in my setup I was setting `cluster_name=<user-specified-cluster-name>` rather t

[2019-04-18 13:41] chrisohaver commented on #76569
Can your Pods route to anything outside of your cluster?

[2019-04-18 13:50] liggitt commented on #76757
The compile errors you are getting are in the go stdlib. Check your go installation and ensure it is correct.

/close

[2019-04-18 13:50] #76757 closed

[2019-04-18 14:04] mattjmcnaughton commented on #76715
Thanks for reporting and linking the issues @SleepyBrett ! I agree that a cherry pick is a good idea. Creating one now, and I will tag you :) I figure it makes sense to do 1.13 and 1.12?

[2019-04-18 14:05] Aisuko commented on #61005
The same issue with you guys, I used kuberouter and  I deleted the pod of kubeproxy. The cluster cannot communicate with each other,  so, I have to deploy the kubeproxy to kubenetes,  the kube-proxy pod was running status, but it could not create iptables policy.

[code]

[code]

[2019-04-18 14:37] justaugustus commented on #76738
/priority critical-urgent
/milestone v1.15

[2019-04-18 14:43] sandeepsharip commented on #74551
What's the fix for this

[2019-04-18 14:48] realpkya commented on #70685
How did you specify `feature gate` for kubelet?

[2019-04-18 14:49] tpepper commented on #76738
This covers a set of mechanism points, but our current issue is largely one of policy in my opinion.

What dependencies are named inside the deb/rpm definition metadata?  Are they specified as '=' to a version, '>=' to a version, or without a version?  If versioned, do we insure all non-archived packages have the highest preferred version (re-packaging old builds to enforce fresh dependency versio

[2019-04-18 14:50] baasbank commented on #68026
@dims Hi. I opened a PR -> https://github.com/kubernetes/kubernetes/pull/76771

[2019-04-18 14:59] timothysc commented on #76738
@tpepper add it to the list.

[2019-04-18 15:01] dims commented on #76738
@timothysc @tpepper i added it as item number 2, presumably the OWNERS from item number 1 will help define this policy.

[2019-04-18 15:01] dorsany commented on #53889
in my case I had to:

[code]

and:

[code]

then reinstall

[2019-04-18 15:03] hprateek43 commented on #71134
@Nefelim4ag This issue points to an old k8s release. Any idea if it is patched in recent releases or is still open?

[2019-04-18 15:14] zhan849 opened #76772 "kube-scheduler overcommits pods result in kubelet rejection"
**What happened**:

We are creating 30 Pods at a time, each requesting 32Gi memory, and kube-scheduler seems to schedule all of them on to the same node (only 70Gi allocable memory) all at once, and resulted in kubelet's rejecting pod due to OutOfmemory. The node is approximately able to run 2 of such pods so and there are 2 pods started running on the same node but all others got `OutOfmemory`

[

[2019-04-18 15:21] AhmedMoAli commented on #76575
Hello,

Any feedback about this ticket?

[2019-04-18 15:27] akutz commented on #76738
Hi @tpepper,

I could be mistaken, but I believe the intent of documenting the issue is to facilitate a discussion that results in a community-approved, well-documented approach. At that point it is up to the community to actually participate and follow through on their agreement, which the correct processes built on the proper tooling *can* help ensure. For example, a staging area for artifacts t

[2019-04-18 15:31] akutz commented on #76738
Hi All,

I'm wondering...should this issue be a KEP? With all due respect to @dims, should the above list be a foregone conclusion on the prescribed process? As @tpepper said, the process needs community buy-in, or the whole things falls flat. To that end, doesn't it make sense to socialize the design and discussion in the manner which other K8s features are handled?

[2019-04-18 15:35] w3irdrobot opened #76774 "http-cache keeps 401 responses"
**What happened**:

Started to get `error: You must be logged in to the server (Unauthorized)` responses when interacting with minikube using `kubectl`. I decided to delete my minikube instance and recreate it, but that didn't solve the problem. Verbose output from `kubectl get po` returned the following:

[code]

I still got these response even when minikube was not running. Also, hitting it dire

[2019-04-18 15:36] searsaw commented on #76774
/sig cli

[2019-04-18 15:44] justaugustus commented on #76738
@akutz -- I can draft one.

[2019-04-18 15:45] dims commented on #76738
@akutz added slight variations of the 3 points to the list.

@akutz this is a brain dump from my experience, AFAIK, there has never been a full workflow with steps proposed, this is the attempt (not trying to push for this to be authoritative)

@justaugustus thanks! please go for it.

[2019-04-18 15:47] dims commented on #76738
@akutz we also have a tendency to go off into the weeds very quickly, so hopefully a check list will help inform the KEP :)

[2019-04-18 15:52] brancz commented on #49746
/remove-lifecycle stale

[2019-04-18 15:59] justaugustus commented on #76738
/assign @justaugustus @tpepper

[2019-04-18 16:02] akutz commented on #76738
Hi All,

This is likely out-of-scope of the spec, but it will be necessary as an implementation detail so I'm adding it here.

Prow currently lacks the ability for people in the OWNERS file to manually trigger post-submit and periodic jobs. The release jobs would likely be one of those. Currently the only way to manually trigger these job types is with API server access and rights. Steve Kuznetsov

[2019-04-18 16:16] justaugustus commented on #76738
@akutz -- can you open an issue in k/test-infra, tag us, and cross-link it here, so it doesn't get lost in the discussion?

[2019-04-18 16:28] mml commented on #52218
@m1kola tests and doc updates very much welcome, thanks!  I think the tweak @mcfedr describes provides the most value to users.

[2019-04-18 16:37] wwitzel3 commented on #71714
/remove-lifecycle rotten

[2019-04-18 16:52] SleepyBrett commented on #76715
Well I don't think the cherry pick actually solves the problem. I went ahead and build a side cluster on 1.14.1 and the problem still persists. It makes CRI-O absolutely useless w/ metrics server as far as i can tell, which means I get to run retired heapster until someone figures out where the fault lies.

[2019-04-18 16:54] AaronM04 commented on #36653
I am also experiencing this issue. With my phone's stopwatch functionality, I timed running `kubectl` on Windows 10 (64 bit), and it took 30.72 seconds.

[2019-04-18 16:59] m1kola commented on #52218
@mml @mcfedr I'm not sure how I feel about ignoring pods without the container user explicitly asked us about. Sounds like something that will make UX ambiguous.

I read `kubectl logs -lapp=logging_test -f -c logging-container-2` as

not as

Perhaps we should consider doing one of the following:

* Keep the existing behaviour (error, if there one or more of the matching pods doesn't contain a requ

[2019-04-18 17:01] daminisatya commented on #68026
Working on

[code]
Will open a PR soon.

@dims

[2019-04-18 17:01] MrHohn commented on #75660
@freehan Might need to cherrypick to 1.11 as well?

[2019-04-18 17:06] kivagant-ba commented on #67225
Any workarounds for old cluster versions?

[2019-04-18 17:17] kfox1111 commented on #27140
Until this support lands, I've been using this to debug:
https://github.com/pnnl-miscscripts/miscscripts/tree/master/bin

[2019-04-18 17:21] freehan commented on #75660
Oh i see

[2019-04-18 17:23] jsco2t commented on #20352
/remove-lifecycle stale

[2019-04-18 17:25] caseydavenport commented on #72712
This looks like the smoking gun to me! Something wrong with kube-proxy on the nodes that aren't working.

I haven't seen this behavior before, but it sounds like a bug. How easy is this to reproduce? Does it happen regularly?

/remove-triage unresolved

@himanshurajput32 What log level did you have set for kube-proxy? It might make sense to increase the verbosity to see if there are logs being pro

[2019-04-18 17:28] mml commented on #52218
That seems like a good backward-compatible approach, I agree.

[2019-04-18 17:29] fl-max commented on #76531
I am experiencing the same issue

### OS
[code]
### Docker
[code]

### Kubelet
[code]

### Things I've tried

1. Enabling `CPUAccounting` & `MemoryAccounting` on the kubelet service based on [this old thread](https://github.com/kontena/pharos-cluster/pull/446)
2. Upgrading SystemD based on [this comment](https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/opencontainers/runc/lib

[2019-04-18 17:30] caseydavenport commented on #72462
The `init:0/1` message indicates it is a problem with the init container (`install-cni`) which installs the CNI plugins for flannel.

I think this error is just a result of the flannel pod not being started - the `/run/flannel/subnet.env` file gets written by flannel when it starts, but flannel hasn't started.

Can you check the logs of the init container for the stuck pod? It might explain what i

[2019-04-18 17:33] janitha09 opened #76782 "kubectl describe pv <pv name> should tell the user what nodes the hostpath was created on"
**What would you like to be added**:

This is the result of mounting an AWS EFS on my nodes

[code]
I would like the output to show the mount "events" like so:
[code]

**Why is this needed**:

If something prevented the mount from existing on the node or the permissions were wrong the user would need to check the each node one by one. The pod description does give hints to what is going on, it is

[2019-04-18 17:40] jingxu97 commented on #76725
assign @pjh for syncing the prototype test branch

[2019-04-18 17:47] cwdsuzhou commented on #76782
You could use “kubectl describe xxx”

[2019-04-18 17:56] liggitt commented on #67840
after discussion, we've decided to pursue a constrained openapi v3 schema for GA, rather than invent a new schema language

/close

[2019-04-18 17:56] #67840 closed

[2019-04-18 18:03] StevenACoffman commented on #56903
Also worth noting is that for docker, /etc/resolv.conf is copied from the host when a container is started, so baking a resolve.conf into the container won't change anything.  Not sure about the behavior for other runtimes.

[2019-04-18 18:18] liggitt commented on #69467
closing due to lack of information. feel free to reopen with reproducer information

/close

[2019-04-18 18:18] #69467 closed

[2019-04-18 18:24] yuwenma commented on #76629
Thanks Lee (and Yu-Ju)! I'll refer to #27140 for future conversations. This debugging tool is really important and helpful to rebasing distroless images.

[2019-04-18 18:26] caseydavenport commented on #72462
/remove-triage unresolved

[2019-04-18 18:28] #76454 closed

[2019-04-18 18:29] liggitt commented on #76782
`kubectl get .. -o yaml` just prints the content of the API object. `kubectl describe` will show recorded events related to the object

/close

[2019-04-18 18:30] tedyu opened #76783 "Use read lock in ServeHTTP"
**What would you like to be added**:
Use read lock in ServeHTTP

**Why is this needed**:
Currently ServeHTTP (in healthcheck.go) takes the write lock:
[code]
Since it only reads from h.hcs.services, holding read lock should suffice.

[2019-04-18 18:33] caseydavenport commented on #71692
Did flannel finish initializing on the nodes? The flannel daemonset has an init container that installs the CNI configuration file to `/etc/cni/net.d` - if the file isn't present, then it's likely because flannel hasn't installed it.

This is the init container that usually installs the config:
[code]

Also noticed that the link you provided for flannel uses `-amd64` images, but in the OP it looks

[2019-04-18 18:33] tedyu commented on #76783
cc @m1093782566

[2019-04-18 18:40] liggitt commented on #76766
@andrewsykim, wasn't there an existing issue for telling a cloud provider to ignore a node?

[2019-04-18 18:51] M00nF1sh commented on #72635
Hi, the issue is caused by unrobust handling in securityGroups.  The currently IPPermission is identified as [permission+description here](https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/aws/sets_ippermissions.go#L142). So, `17.0.0.0/8 without description` and `17.0.0.0/8 with description` will be considered as too different rule, and the aws cloud provider will tr

[2019-04-18 19:00] cjcullen commented on #76726
I think that comment no longer applies, and we can just remove that GKE special case. IIRC, GKE didn't initially enable serving the authorization.k8s.io group, but it does now.

[2019-04-18 19:02] codereflection commented on #72712
I am seeing a similar issue using NodePort on a 3 node cluster running v1.13.4.  I have a pod running on a single node, and kube-proxy shows that it's opening the ephemeral port on each of the cluster nodes, but attempting to access the pod's services on the nodes where the pod is not running results in connection timeouts.  netstat does show that the port in question is definitely listening on al

[2019-04-18 19:08] liggitt commented on #65196
this is working as designed with respect to custom resources

/close

[2019-04-18 19:08] #65196 closed

[2019-04-18 19:12] bsalamat commented on #76772
The scenario that you describe does not look like a corner case. It is a very common scenario that the scheduler should be able to handle well. It is surprising that it doesn't work for you. In fact we have numerous tests that verify this behavior. Can you share more spec about the node and pod configuration? For example, it would be great if you could run `kubectl describe pod ...` or `kubectl de

[2019-04-18 19:23] neolit123 commented on #76730
/sig ux

[2019-04-18 19:29] caseydavenport commented on #72712
@codereflection To me, this sounds likely to be a different issue. Maybe a routing or network policy issue?

[2019-04-18 19:31] fturib commented on #72985
/close

[2019-04-18 19:33] rajansandeep commented on #72985
/assign
/close

[2019-04-18 19:33] #72985 closed

[2019-04-18 19:38] khogeland opened #76787 "Attempting to resubmit Pod causes incorrect ResourceQuota usage"
**What happened**:

When attempting to resubmit a pod that is subject to a resource quota, the request is rejected but the pod's resources are added to the resource quota's current usage.

**What you expected to happen**:

The request should be rejected without any side effects.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

**Envir

[2019-04-18 19:39] khogeland commented on #76787
/sig api-machinery

[2019-04-18 19:49] johnSchnake commented on #74282
Convergence of effort; found that @liggitt was working on nearly the same thing here https://github.com/kubernetes/kubernetes/pull/76654 as I was working on my PR. It uses label selectors rather than my approach which was going to be using regexp or globbing. His is very idiomatic and still accomplishes the same goal.

If you know of a case where this wouldn't satisfy our need, please speak up, ot

[2019-04-18 19:50] tamalsaha opened #76789 "Support customizing kubectl describe response for CRDs"
We develop a database operator project called kubedb.com. Using CRDs, users can deploy databases on Kubernetes. One of the things we would like to do is show more useful information to the user when `kubectl describe` command is used. Currently we have built a separate cli for this. It will be better for UX if kubectl describe could be customized. Here is an example of extra information we show:

[2019-04-18 19:51] tamalsaha commented on #76789
/sig cli
/sig api-machinery

[2019-04-18 19:54] tamalsaha commented on #76789
xref: https://github.com/kubernetes/enhancements/issues/515

[2019-04-18 19:55] mrrandrade commented on #64002
I know the issue is closed, but I'm guessing random people might get here with the same problems.

Our situation was similar to the one reported by **sporkmonger**, but caused by a faulty metrics server instalation instead of certmanager:

[code]
After removing the metricserver apiservice namespace eventually went away.

[2019-04-18 20:03] janitha09 commented on #76782
[code]

[2019-04-18 20:07] chrisghill opened #76790 "Intermittent DNS resolution failures in Pods, but only right after Pod creation"
**What happened**:
~10% of brand new pods are failing DNS resolution right after they are created.  I have a CronJob that runs once per minute and will perform `dig www.github.com` 5 times with a 1 second sleep between each try. ~90% of the time all 5 calls will succeed, but ~10% of the time the first call will fail with the message:
[code]

**What you expected to happen**:
DNS to reliable resolve

[2019-04-18 20:09] timothysc commented on #76738
PSA - I've ask @thockin and @spiffxp for a concrete backlog which will overlap with some of the above and may expand some of the items as well.

[2019-04-18 20:13] chrisghill commented on #76790
@kubernetes/sig-network-bugs

[2019-04-18 20:14] Nefelim4ag commented on #71134
@hprateek43, i think that not fixed in recent releases, i.e. more over, only recently K8s fixed static pod eviction with pod priority =)

I think currently #76598 more related to problem.

[2019-04-18 20:16] fedebongio commented on #76676
/help

[2019-04-18 20:16] jfbus commented on #56903
Note for Go users on Alpine: the Go 1.13 DNS resolver will support use-vc (golang/go#29594) and single-request (golang/go#29661).

[2019-04-18 20:17] fedebongio commented on #76708
/assign @jpbetz

[2019-04-18 20:17] fedebongio commented on #76766
/remove-sig api-machinery

[2019-04-18 20:19] fedebongio commented on #76774
/assign @apelisse

[2019-04-18 20:22] fedebongio commented on #76787
/assign @yliaog

[2019-04-18 20:23] liggitt commented on #76787
xref https://github.com/kubernetes/kubernetes/issues/51820

[2019-04-18 20:24] fedebongio commented on #76789
/assign @jpbetz

[2019-04-18 20:27] stealthybox commented on #76676
/assign

[2019-04-18 20:35] g9rga commented on #70732
Have the same issue(

[2019-04-18 20:39] tamalsaha commented on #76789
cc: @liggitt

[2019-04-18 20:40] tamalsaha commented on #76789
/area custom-resources

[2019-04-18 20:51] tamalsaha opened #76794 "Support log filters for Audit events"
We are looking to use Audit sinks for a number of use-cases which requires us to know parts of the resource yaml. Using `Request` log level produces too much data. Rather we would like to provide a json filter (like you find in GraphQL) and receive only those fileds in the audit event. Does this sounds like a reasonable feauture request? If so, we would like to work it through the KEP etc.

I wrot

[2019-04-18 20:53] tamalsaha commented on #76794
/sig api-machinery
/area apiserver

/cc @tallclair @liggitt @pbarker

[2019-04-18 20:58] ramnes commented on #52218
It seems more intuitive to me that the pods without the container simply get ignored, as @mcfedr proposed in the first place. After all, we don't print an error when we do `kubectl get pods -l app=foobar` and a pod doesn't match!

It seems to me that the real improvement would be the other way around, i.e. printing logs of all containers of the given pod by default, rather than forcing the user to

[2019-04-18 21:07] freehan commented on #76731
Can you link the code here ? Or submit a PR even better?

[2019-04-18 21:08] johnbelamaric commented on #72149
/remove-triage unresolved

[2019-04-18 21:09] freehan commented on #76718
Can you point to the code? Or submit a PR?

[2019-04-18 21:09] chrisghill commented on #76790
Additonally, here is my cluster config from `kops get -o yaml`:
[code]

[2019-04-18 21:13] freehan commented on #76645
Headless service does not involve proxies. Can you double check your setup?

[2019-04-18 21:14] freehan commented on #76585
Can you provide more information?

[2019-04-18 21:21] freehan commented on #76447
File a KEP?

[2019-04-18 21:27] freehan commented on #75290
Ping

[2019-04-18 21:28] freehan commented on #75173
Reopen if this is still an issue.

[2019-04-18 21:28] #75173 closed

[2019-04-18 21:29] freehan commented on #73481
Reopen if it is still an issue.

[2019-04-18 21:29] #73481 closed

[2019-04-18 21:30] #71086 closed

[2019-04-18 21:31] liggitt opened #76797 "CVE-2019-11243: v1.12.0-v1.12.4, v1.13.0: rest.AnonymousClientConfig() does not remove the serviceaccount credentials from config created by rest.InClusterConfig()"
The `rest.AnonymousClientConfig()` method return a copy of the provided config, with credentials removed (bearer token, username/password, and client certificate/key data).

In the following versions, `rest.AnonymousClientConfig()` did not effectively clear service account credentials loaded using `rest.InClusterConfig()`:
* v1.12.0-v1.12.4
* v1.13.0

**What is the impact?**
* `k8s.io/client-go` u

[2019-04-18 21:31] #76797 closed

[2019-04-18 21:36] roycaihw commented on #71925
/assign

[2019-04-18 21:51] roycaihw commented on #65973
/remove-lifecycle rotten

[2019-04-18 21:53] geranim0 commented on #48378
My problem was I had custom certificates I had created during the KubeEdge Getting Started guide. Not messing around with ssl and kubeedge made it work.

[2019-04-18 21:53] freehan commented on #70945
@lzang

[2019-04-18 21:55] freehan commented on #70493
@lzang

[2019-04-18 21:55] jpbetz commented on #76789
Just chatted with @DirectXMan12, @mbohlool, @roycaihw about this. Some options for customizing describe for CRDs might be:
- via `additionalPrinterColumns`
- via annotations in the OpenAPI schema for the CRD
- via a webhook extension (this might be more general than just describe)

This would require some careful thinking and a design.

Does all the information you're displaying in the describe ou

[2019-04-18 21:56] freehan commented on #70493
@andrewsykim

[2019-04-18 21:57] freehan commented on #70427
ping?

[2019-04-18 21:57] andrewsykim commented on #70493
Possibly related https://github.com/kubernetes/kubernetes/issues/76338?

[2019-04-18 21:58] zhan849 commented on #76772
Thanks @bsalamat

I did some investigation and found out that we have some old logic that handles sidecar termination, and caused pod termination phase to be reflected to scheduler earlier than pod is actually terminated on node. Scheduler is perfectly fine. Closing the issue

[2019-04-18 21:58] freehan commented on #70229
This is not an K8s issue? should be a kernel bug?

[2019-04-18 22:00] freehan commented on #70020
Ping? still an issue?

[2019-04-18 22:10] tamalsaha commented on #76789
I am not sure I understand the difference among these sentences. The way it works now is that a user creates a Postgres crd object. Then the operator/controller for that CRD provisions Statefulset, service(2, one for primary, one for read replicas), secret, etc. The operator can take period backup snapshots(a crd in its own right). So, it can be a list of rows. We don't show any data from the post

[2019-04-18 22:15] pbarker commented on #76794
being worked on here https://github.com/kubernetes/kubernetes/pull/71230

[2019-04-18 22:27] codereflection commented on #72712
@caseydavenport Possibly a routing issue.  Running a TRACE on iptables shows that the packets to the ephemeral port  are being explicitly dropped by the KUBE-FIREWALL rule on nodes where the pod is not running.

[2019-04-18 22:28] liggitt commented on #76787
This is working as designed. Admission is consulted before etcd, and quota reservation happens in admission. Recovery of over-reservation happens in the background via controller.

/close

[2019-04-18 22:28] #76787 closed

[2019-04-18 22:30] janitha09 commented on #76782
/reopen

[2019-04-18 22:30] liggitt commented on #76789
Attaching additional information for use by describe in server-side responses is not a capability built-in resources have today, so I don't consider it a GA blocker for CRDs. As https://github.com/kubernetes/enhancements/issues/515 progresses, additions to CRDs to allow attaching additional object links can be done as a post-GA enhancement.

[2019-04-18 22:31] roycaihw commented on #76789
IIRC the displayed information requires reading related built-in resources

my understanding of option 2 is that we 1) add field in CRD API for indicating what resources are related, 2) have a [server-side describe](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/api-machinery/server-get.md#background) mechanism to retrieve and display the related resources

we pr

[2019-04-18 22:44] liggitt commented on #76782
what does `kubectl describe pvc/data-kafka-janitha-0 -n kafka` show?

[2019-04-18 22:44] jpbetz commented on #76789
Agree this should not be a GA blocker.

Yes, some `kubectl describe` output shows data not available via `kubectl get -oyaml`. For example `kubectl describe node..` includes a table of the "Non-terminated Pods" on the node in the output. Describe fetched this data from the pod resources to produce it's output.

[2019-04-18 23:16] m1kola commented on #52218
`-l` and `-c` have established meanings:

* `-l` filters pods
* `-c` makes your choice more precise. If a pod has two or more containers you specify which one you want to read. Alternatively you can explicitly say that you want to read from all using the `--all-containers` flag instead of `-c`)

Also I'm not sure that ignoring by default is more intuitive: for many people (including me) explicit i

[2019-04-18 23:20] andrewsykim commented on #76766
@liggitt yeah we had some discussions for this in https://github.com/kubernetes/kubernetes/pull/73171. Not something that is high priority for the SIG right now but we would be open to KEPs to discuss this further :)

[2019-04-18 23:22] dmick commented on #52218
I think it's reasonable to error if the combination of -l and -c results in nonexistent containers.  The command is literally saying "I can't fulfill your restrictions; make them less stringent."

[2019-04-18 23:49] roycaihw commented on #58603
fixed by https://github.com/kubernetes/kubernetes/pull/71192

feature being tracked by https://github.com/kubernetes/enhancements/issues/692

/close

[2019-04-18 23:49] #58603 closed

[2019-04-18 23:50] roycaihw commented on #57042
/remove-lifecycle rotten

[2019-04-19 00:13] soromamadou commented on #50295
hello,
be sure to not run your command as root. You need to use user account

[2019-04-19 00:19] cleverguy25 commented on #75899
While I am sure the CSI thing could work, and we could work solution by solution to pivot to this, I had really envisioned that would be a sort of interface supported by Kubernetes for secrets similar to CSI, CNI, except for secrets.  That way when I provision a native K8S secret or mount that secret it would be stored securely using my platforms secret management.  Then I dont have to warn my tea

[2019-04-19 00:23] vllry commented on #73698
/assign @vllry

[2019-04-19 00:32] liggitt commented on #75899
Access to secrets via the k8s API implies many things that you may not be comfortable with:
* it is difficult to target secrets to a particular purpose or audience (e.g. "kubelet can use my image pull secret, but no one else can")
* Some purposes ("deliver this secret to a pod as an envvar") require other actors (like the kubelet) to have access to the secret's contents.
* uniform access to a non-

[2019-04-19 00:32] #75899 closed

[2019-04-19 00:35] liggitt commented on #53455
Sounds good. Closing this here then.

/close

[2019-04-19 00:35] #53455 closed

[2019-04-19 00:41] cleverguy25 commented on #75899
Isn't all this true of the Secrets API  in Kubernetes today?

________________________________
From: Kubernetes Prow Robot <notifications@github.com>
Sent: Thursday, April 18, 2019 5:34 PM
To: kubernetes/kubernetes
Cc: Cleve Littlefield; Mention
Subject: Re: [kubernetes/kubernetes] Allow support for pluggable secret storage (#75899)

@liggitt<https://github.com/liggitt>: Closing this issue.

In re

[2019-04-19 00:49] liggitt commented on #75899
Yes. Making secrets from external stores available as kubernetes secrets implies allowing access patterns that run counter to typical secret managers' policies (listing of large numbers of secrets, handing secrets to intermediaries instead of delivering them wrapped, etc). That's the main reason mechanisms to deliver specific secrets directly to consumers via volume mounts were being pursued inste

[2019-04-19 01:00] yanghaichao12 commented on #76699
have you check conntrack state? are there any "INVALID" connection? or what's the result:
[code]

[2019-04-19 01:07] cleverguy25 commented on #75899
I envisioned that there would still be a some sort of secrets reference system, such as a secret k8s manifest that referenced the secret in the cloud provider store and allowed for role based access.  That the k8s platform would invoke a common interface to get those secrets when needed, and the design could enable this securely.   Feels like this was closed a bit early rather then consider how th

[2019-04-19 01:13] draveness commented on #76447
Does it mean that we should create an endpoint instead of service every time external service is accessed after kubernetes supports this feature?

[2019-04-19 01:14] khanghyxda opened #76802 "Kubernates Ingress deploy Angular assets(image) not show"
I use Docker to package the Angular project(Container use Nginx). When running on Docker, the image show ok, but when deploying Kubernates using Ingress, all images in assets folder does not appear.

Content-Type running on Docker. It' OK.
![image](https://user-images.githubusercontent.com/5491573/56399908-e1d01f00-628b-11e9-8dd6-adc71873e98b.png)

But when running on Kubernates. Content type alwa

[2019-04-19 01:34] #71181 closed

[2019-04-19 01:48] xichengliudui commented on #76585
Is here: https://github.com/xichengliudui/public-repo/blob/master/logs-03.md

[2019-04-19 02:05] m1093782566 commented on #76664
cc @lbernail

[2019-04-19 02:13] zq-david-wang commented on #76704
Could be a systemd issue, you may try upgrading your systemd. I am running centos7 with systemd219, everything works fine.  (I think you can verify it by manually writing to some cpu.cfs_period_us under systemd managed cgroup directory, e.g. "echo 5000 > /sys/fs/cgroup/cpu,cpuacct/system.slice/system-getty.slice/cpu.cfs_period_us", if it yield "invalid argument", most likely your systemd does not

[2019-04-19 02:35] #70661 closed

[2019-04-19 02:36] #75352 closed

[2019-04-19 03:34] YoubingLi opened #76811 "[ k8s 1.14 ] Fail to apply cgroup configuration in Coredns pod"
**What happened**:

The status of Coredns pod is "CrashLoopBackOff"

**What you expected to happen**:

The status of Coredns pod should be "running"

**How to reproduce it (as minimally and precisely as possible)**:

OS: redhat 7.2
Install kubernetes 1.14 with flannel plugin

---- kubectl get pods -n kube-system
NAME                              READY   STATUS             RESTARTS   AGE
coredns-fb

[2019-04-19 03:37] YoubingLi commented on #76811
/sig network
/kind bug

[2019-04-19 03:37] k82cn commented on #67225
@kivagant-ba , which version of k8s are you using? If it's sunset, you have to merge the pr yourself :).

I think restart kubelet trigger delete/add to make sure it sync .

[2019-04-19 03:41] YoubingLi commented on #76811
kubectl describe pod -n kube-system coredns-fb8b8dccf-flx5s

Name:               coredns-fb8b8dccf-flx5s
Namespace:          kube-system
Priority:           2000000000
PriorityClassName:  system-cluster-critical
Node:               ib22b08/9.21.53.78
Start Time:         Thu, 18 Apr 2019 22:48:18 -0400
Labels:             k8s-app=kube-dns
                    pod-template-hash=fb8b8dccf
Annotations:

[2019-04-19 04:08] khanghyxda commented on #76802
/sig gke

[2019-04-19 04:39] ktsakalozos commented on #76645
@freehan proxy-mode is the mode kube-proxy operates in. Kube-proxy is present in any setup.

[2019-04-19 04:58] 4c74356b41 commented on #72533
yep, no istio for us either

[2019-04-19 05:05] YoubingLi commented on #76811
The issue has been resolved after applied the solution of https://github.com/kubernetes/kubernetes/issues/54910

/closed

[2019-04-19 05:05] #76811 closed

[2019-04-19 05:11] hprateek43 commented on #71863
@misterikkit I am picking up this issue. I almost have a patch ready and will be opening a PR shortly.

[2019-04-19 05:17] cwdsuzhou commented on #76782
I remember `kubectl describe pvc xx`  can show pvc mounted by which pod in k8s 1.13+, would this meet you requirement?

[2019-04-19 05:27] MarvinMiao commented on #13382
same to me

[2019-04-19 05:41] Manikantayalagandala commented on #58882
Hi

Hi ,
Actually we I tried above i got

Error from server (AlreadyExists): error when creating "ClusterRoleBinding": clusterrolebindings.rbac.authorization.k8s.io "kubeadm:node-proxier" already exists

still my problem exists , any help ???

[2019-04-19 06:32] cizixs commented on #75954
@xiaoxubeii more information is needed to reproduce this issue. Can you provide Service and Statefulset yaml files(with sensitive data removed of course)?

[2019-04-19 06:33] lixianyang commented on #70082
Same issue in etcd 3.3.10

[2019-04-19 06:35] vllry commented on #76802
This is most likely due to an nginx misconfiguration.

/close

[2019-04-19 06:35] #76802 closed

[2019-04-19 06:39] #76502 closed

[2019-04-19 06:49] tamalsaha opened #76813 "Support authentication in AuditSink client config"
We are looking to send audit sink events to a external remote server. As things stand now, there is no way to provide Authorization header for these http requests. We would like to provide a token in the AuditSink via secret so that the sink server endpoint is authenticated.

https://github.com/kubernetes/api/blob/b8e4ab4b136a5ad597a48852189425fece12fdff/auditregistration/v1alpha1/types.go#L133

I

[2019-04-19 06:50] zhaoar92 opened #76814 "HPA works, but memory usage shows unknown"
**What happened**:
I deployed the HPA, it actually works when I stress memory in the Pod, It can be scaled up.
But when I run the command: "kubectl get hpa",  It can't show the current memory's usage.
[code]
metrics api is OK:
[code]
I can see the log in kube-controller-manager.log
[code]

my hpa's yaml:
[code]

I run command  "kubectl get hpa -o yaml", I can only see CPU in the status, there's no

[2019-04-19 06:50] tamalsaha commented on #76813
/cc @tallclair @liggitt @pbarker

[2019-04-19 06:52] Manikantayalagandala commented on #67123
Hi ,
getting this error in kube-proxy log

"E0416 07:35:19.868483
  1 reflector.go:126] k8s.io/client-go/informers/factory.go:133: Failed to list *v1.Endpoints:
Get https://X.x.x.x:6443/api/v1/endpoints?labelSelector=%21service.kubernetes.io%2Fservice-proxy-name&limit=500&resourceVersion=0:
dial tcp x.x.x.x:6443: connect: connection refused"

any help ??

[2019-04-19 06:53] vllry commented on #76727
/remove-triage unresolved

[2019-04-19 07:01] w564791 commented on #72395
I have the same problem with v1.13.4

[2019-04-19 07:04] hormes commented on #73958
As we used a cyclic buffer here, we have to copy them to prevent being modified. After thinking about it, a linked block list may help to solve the problem.

[2019-04-19 07:04] w564791 commented on #72395
I have the same problem with v1.13.4,The --pod-eviction-timeout function does not seem to be working at all  ,I set the following parameter `--node-monitor-period=1s  --node-monitor-grace-period=10s  --pod-eviction-timeout=40s` , But the pod is always rescheduled after 5 minutes of the node down

[2019-04-19 07:21] oxddr commented on #76579
The first re-run wasn't successful - master become unreachable, causing test to crash. I am going to re-run it again.

[2019-04-19 07:29] zhaoar92 commented on #76814
I see it's a bug has already been repaired. I closed it

[2019-04-19 07:29] #76814 closed

[2019-04-19 07:50] luisdavim commented on #68397
/remove-lifecycle stale

[2019-04-19 07:58] ramnes commented on #52218
@m1kola I've read your comments and I understand your point completely. My point is just that:

would be way simpler than:

Now it's just a matter of opinion, and I'm very probably missing some context here, so I'm not sure it's worth continuing this discussion; feel free to throw tomatoes at me!

[2019-04-19 08:05] #64604 closed

[2019-04-19 08:15] Rand01ph commented on #69896
@nikhita I would like to work on it!

[2019-04-19 08:39] yue9944882 commented on #76708
/cc @brendandburns

[2019-04-19 09:02] Rand01ph commented on #69896
It seems like this issue was already solved in #69832 ?

[2019-04-19 09:37] FX-HAO commented on #76598
I think that kubelet currently doesn't rerun evicted pods after the node goes under pressure from out of resource. I don't know whether it's the design on purpose, I am still learning the codebase :P

[2019-04-19 09:37] KomorkinMikhail commented on #70020
/remove-lifecycle stale

[2019-04-19 09:39] KomorkinMikhail commented on #70020
@freehan
Hi, yes this is still an issue.There is a PR #74073 to fix it, but it's on review for a long time.

[2019-04-19 09:59] TheoBrigitte commented on #55946
I also ran into an issue where 4 out of 11 nodes where tainted with `NodeWithImpairedVolumes=true:NoSchedule`, this resulted in many pods not being scheduled, some documentation would be appreciated.

How about something along those lines ?

What is the procedure to follow when such taint is observed, reboot the node and manually remove the taint ?

[2019-04-19 10:10] kivagant-ba commented on #67225
Sorry, I didn't say
[code]

[2019-04-19 10:26] m1kola commented on #52218
I would probably agree with this if we were talking about about new functionality: not about changing UX of existing commands/options.

I'm very interested to hear opinions of people from the [sig-cli](https://github.com/kubernetes/community/tree/master/sig-cli). They have more experience with `kubectl` than I and will probably be able to see more implications... Or just tell us that it's fine to

[2019-04-19 10:35] cizixs commented on #75890
We have the same feature requirement, and have come with up a design and implementation running in our kubernetes cluster.

And we would love to share and contribute to this.

[2019-04-19 10:43] #65080 closed

[2019-04-19 10:54] ateleshev commented on #58987
It has already fixed in master branch

[2019-04-19 10:55] ateleshev commented on #58987
/close

[2019-04-19 10:55] #58987 closed

[2019-04-19 11:26] cmoulliard opened #76820 "Kubelet : Failed to start ContainerManager Cannot set property TasksAccounting, or unknown property."
## Issue

During process starting kubelet v1.14.1 on Centos7, the service exists
and the journal reports such error

[code]

The root cause is certainly due to such messages :
[code]

How can it be resolved ?

### Infos

Docker
[code]

OS
[code]

Kubernetes
[code]

[2019-04-19 11:29] yastij commented on #75890
@cizixs - can you share some thoughts and use cases here ?

[2019-04-19 12:07] 0x2d3c opened #76822 "k8s dashboard style error"
Docker                           `17.03.2-ce`
Browser :                      `Chrome 73.0.3683.103 Linux`
Kubernetes:                `v1.14.0`
Dashboard:                 `k8s.gcr.io/kubernetes-dashboard-amd64     v1.10.1`

Screenshot:
![k8s-dashboard](https://user-images.githubusercontent.com/20468895/56423399-782d3080-62de-11e9-80c6-a5d541604c94.png)

[2019-04-19 12:44] bymafmaf commented on #58987
@ateleshev could you point to the related PR so that we can check which versions got it?

[2019-04-19 12:49] pigletfly commented on #76822
This issue may be moved to https://github.com/kubernetes/dashboard

[2019-04-19 12:53] 0x2d3c commented on #76822
thanks

[2019-04-19 12:54] #76822 closed

[2019-04-19 12:55] ateleshev commented on #58987
@bymafmaf https://github.com/kubernetes/kubernetes/pull/74941

[2019-04-19 12:57] k82cn commented on #67225
I think we still support 1.12 for now :) let's cherry pick it if not and wait for next 1.12 release.

[2019-04-19 13:03] liggitt commented on #75899
Something like that can be built externally (see https://github.com/godaddy/kubernetes-external-secrets as an example)

In general, tight coupling like that is avoided when possible.

No deprecation is currently planned. These are alternate methods with different tradeoffs for security, ease of use, and applicability to different cluster environments.

[2019-04-19 13:16] liggitt commented on #76813
see https://github.com/kubernetes/kubernetes/pull/73536 and https://github.com/kubernetes/enhancements/pull/658

/close

[2019-04-19 13:16] #76813 closed

[2019-04-19 13:19] liggitt commented on #36666
@tallclair is this still needed with the current plans for the streaming server?

[2019-04-19 13:21] cmoulliard commented on #76820
@kubernetes/sig-cluster-lifecycle-bugs

[2019-04-19 13:50] wojtek-t commented on #68190
Seems obsolete now.

[2019-04-19 13:50] #68190 closed

[2019-04-19 13:52] bymafmaf commented on #58987
@ateleshev Thanks a lot!

[2019-04-19 14:01] bclau opened #76825 "tests: nettest should retry Kubernetes API connection"
**Which jobs are failing**:

N/A

**Which test(s) are failing**:

    [k8s.io] [sig-node] PreStop should call prestop when killing a pod [Conformance]

**Since when has it been failing**:

N/A

**Testgrid link**:

N/A

**Reason for failure**:

When spawning a Pod, it's container might start before all its networking plumbing has been completed. Thus, if the container tests / needs its network conn

[2019-04-19 14:13] claudiubelu opened #76827 "test images: GOARM variable missing"
**What happened**:

Building the image binaries requires the GOARM variable to be set. Because it is not defined in all Makefiles, cannot ``make`` the image binaries for the images in question.

**What you expected to happen**:

``make`` should succeed.

**How to reproduce it (as minimally and precisely as possible)**:

    git clone https://github.com/kubernetes/kubernetes
    cd kubernetes/test/

[2019-04-19 14:16] codereflection commented on #72712
My issue turned out to be having `externalTrafficPolicy` set to `Local`, which has the documented behavior of what I described. TIL.

[2019-04-19 14:26] timothysc commented on #76344
Well there are some broader questions I have about some of the serial tests.  I would think it should be the exception versus the norm that we are forced to run things serially and if we should try to fix most of the tests to be able to run in parallel.

This is not an easy answer, but I do think it's the right one.  Some tests are just poorly written to be run in a parallel fashion.  On the sonob

[2019-04-19 14:51] neolit123 commented on #76204
the related PR merged.

[2019-04-19 14:51] #76204 closed

[2019-04-19 14:52] sashayakovtseva commented on #75549
@dims Still having the same issue on 1.14. Any help or comments? I confirm kubelet logs have correct runtime version:
[code]

[2019-04-19 14:56] aranair commented on #57250
Isn't this only the case when `externalTrafficPolicy` is set to Local? If that is set to Cluster, the health check would be done on the traffic port (and since the port is opened up on all the nodes, they should all pass the health checks.)

Side note, I enabled proxy support on the target groups of a cluster-health-checked NLB that health-checks on the traffic port and it seems to work fine.. hmm

[2019-04-19 15:00] timothysc commented on #76344
/assign @johnSchnake @figo

[2019-04-19 15:32] alejandrox1 commented on #76609
Thank you for looking into this @roycaihw
Will be closing this since the failures haven't reoccurred in the last couple days.
/close

[2019-04-19 15:32] #76609 closed

[2019-04-19 15:35] neolit123 opened #76832 "[e2e] Add import restrictions file to the e2e testing framework"
we need to add such a file under:
test/e2e/framework

see this file as an example:
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/.import-restrictions

xref: https://github.com/kubernetes/kubernetes/issues/75601

/help
/good-first-issue
/area e2e-testing-framework
/sig testing
/kind cleanup

[2019-04-19 15:36] neolit123 commented on #76832
/remove-good-first-issue
/remove-kind feature

[2019-04-19 15:38] alejandrox1 commented on #75328
This failure seems to have been resolved.
/close

[2019-04-19 15:38] #75328 closed

[2019-04-19 15:40] neolit123 opened #76833 "[e2e] document e2e testing framework local testing for contributors"
write documentation under test/e2e/framework or under the community repo on how to test your changes locally using kind/kubetest.

xref https://github.com/kubernetes/kubernetes/issues/75601

/assign
/kind documentation
/area e2e-test-framework

[2019-04-19 15:40] neolit123 commented on #76833
/sig testing
/priority important-longterm
/remove-kind feature

[2019-04-19 15:41] neolit123 commented on #76832
/priority important-longterm
/area e2e-test-framework

[2019-04-19 15:49] timothysc commented on #76832
/assign @johnSchnake

[2019-04-19 15:57] mauilion commented on #76447
Another solution to this is to use pod presets.

https://kubernetes.io/docs/concepts/workloads/pods/podpreset/

Otherwise the request is to file a Kubernetes Enhancement Proposal with the changes you'd like to see.

[2019-04-19 16:02] dreverri commented on #57250
Yes, this is related to `externalTrafficPolicy: Local`. A cluster health checked NLB will use a TCP health check on the traffic port which won't care about the proxy protocol:
https://github.com/kubernetes/kubernetes/blob/d7103187a37dcfff79077c80a151e98571487628/pkg/cloudprovider/providers/aws/aws.go#L3409

If `externalTrafficPolicy` is `Local`, Kubernetes forces the allocation of a health check n

[2019-04-19 16:09] johnbelamaric commented on #76438
Liveness and readiness probes are per *container*. They are not for a service, but are local to the specific node. So trying to put a service name in there does not make sense.

/close
/remove-triage unresolved

[2019-04-19 16:09] #76438 closed

[2019-04-19 16:22] calder commented on #45419
@kubernetes/sig-network-bugs @thockin @spiffxp: Friendly ping. This seems to have stalled again.

[2019-04-19 16:40] it-praktyk commented on #72990
The issue is still unresolved.

[2019-04-19 17:31] cwdsuzhou opened #76836 "Bug exist in Pod Priority and Preemption"
**What happened**:

I set up a cluster with 2 nodes. I used 2 rs to test preemption.  2  yamls of rs are as flow:

[code]
[code]

1. I first created  the rs webcritial.
2. created  the rs webcritial1.

results are like this:

![image](https://user-images.githubusercontent.com/12230714/56435685-f5bb6580-630b-11e9-824c-cf350dae8571.png)

![image](https://user-images.githubusercontent.com/12230714/56

[2019-04-19 17:31] cwdsuzhou commented on #76836
/sig scheduling

[2019-04-19 17:32] cwdsuzhou commented on #76836
/assign

[2019-04-19 17:36] cwdsuzhou commented on #76836
I would send a PR to fix the issue. I found the priority of pod  has not be set as the doc mentioned.
https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/

![image](https://user-images.githubusercontent.com/12230714/56435873-9742b700-630c-11e9-9aee-3aaee67d555f.png)

[2019-04-19 17:41] Huang-Wei commented on #76836
This sounds like the priority admission plugin isn't enabled in your cluster.

[2019-04-19 17:43] Huang-Wei commented on #76836
I mean `plugin/pkg/admission/priority/admission.go`, you need to enable it in apiserver: https://kubernetes.io/docs/reference/access-authn-authz/admission-controllers/#which-plugins-are-enabled-by-default.

[2019-04-19 17:59] janitha09 commented on #76782
The PV is the abstraction to the OS function that creates the mount so it is my opinion that the information should be there also. (Scream as close to the problem as possible). The example below is for a success case. There really isn't "much" (any) information in the pvc or pv. When there is a problem, it comes down to "experience" - knowing where to check, the pod and only the pod has events.
[c

[2019-04-19 18:19] cwdsuzhou commented on #76836
Thanks for your help. Though I enabled `NamespaceLifecycle, LimitRanger, ServiceAccount, TaintNodesByCondition, Priority, DefaultTolerationSeconds, DefaultStorageClass, PersistentVolumeClaimResize, MutatingAdmissionWebhook, ValidatingAdmissionWebhook, ResourceQuota`,  preemption still can not work

[2019-04-19 18:23] Huang-Wei commented on #76836
@cwdsuzhou did you enable `Priority` in apiserver?

[2019-04-19 18:23] lersouza commented on #76447
@draveness , actually it would be only in the case that the cluster is behind a corporate proxy and the application need to access an external service (for instance, Google reCaptcha). This is based on the approach described [here](https://cloud.google.com/blog/products/gcp/kubernetes-best-practices-mapping-external-services).

[2019-04-19 18:27] lersouza commented on #76447
@mauilion . I think it is the case of an Enhancement Proposal. The main goal is to make it easy external access through a corporate proxy, like Squid.

[2019-04-19 18:29] cwdsuzhou commented on #76836
@Huang-Wei  I have enabled it in apiserver, not include other controle plane components

[2019-04-19 18:31] aaron-prindle opened #76842 "Umbrella Issue for Priority and Fairness for API Server Requests"
This is to track the changes required for the RequestManagement alpha feature, now that it's KEP has been approved. A more verbose version of the work is being tracked can be found in [this spreadsheet](https://docs.google.com/spreadsheets/d/11v3P9btqqwjlZHpHIarUQoMjse_fU_I_CVCH7QVSXN4/edit?usp=sharing), but are being duplicated here for more transparency.

Will update this list as more tasks aris

[2019-04-19 18:31] #76842 closed

[2019-04-19 18:38] tallclair commented on #76660
Based on the [Kubernetes Deprecation Policy](https://kubernetes.io/docs/reference/using-api/deprecation-policy/#deprecating-a-feature-or-behavior), I think this needs to be rolled out over 1 year.

Proposal:

1. [v1.15] Add a flag: `--enable-cadvisor-endpoints`, default to true, mark as deprecated, document deprecation plan in flag description.
2. [v1.17] Default the flag to disabled.
3. [v1.19] R

[2019-04-19 18:42] BenTheElder commented on #69896
I don't think the hyperkube code was changed in that PR, only the image?

[2019-04-19 18:50] cwdsuzhou commented on #76836
works now, thanks, reason is that pods with system-node-critical priorityClass is not permitted in default namespace.

thanks @Huang-Wei

[2019-04-19 18:50] #76836 closed

[2019-04-19 18:52] pjh commented on #76725
I just rebased and force-pushed the test branch (https://github.com/pjh/kubernetes/tree/windows-gce-poc), so these tests should go green now.

[2019-04-19 18:52] #76725 closed

[2019-04-19 18:56] dims commented on #76660
@tallclair are we trying to do the same in this? https://github.com/kubernetes/kubernetes/issues/68522

[2019-04-19 19:18] tallclair commented on #76660
Ah, thanks for linking the two. This is a subset of the action items from that bug. I'll add it to the description.

[2019-04-19 19:20] tallclair commented on #76660
Although, the proposed timeline is different.... I'll sync up with @dashpole when he's back in office. Maybe this is a duplicate?

[2019-04-19 19:20] mattjmcnaughton commented on #76598
cc @wu8685

Quick question that I'm hoping you'll have some insight on - I'm looking at `pkg/kubelet/config/file.go#newSourceFile` and seeing that it, along with the other configs, is sending `op: kubetypes.SET` PodUpdates. However, I'm also seeing that `pkg/kubelet/kubelet.go#syncLoopIteration` ignores all `kubetypes.SET` ops. I must be missing something, but I'm curious why all the different con

[2019-04-19 20:10] rajansandeep opened #76845 "Push the CoreDNS 1.5.0 image in gcr.io"
Need to push the latest CoreDNS image to gcr.io
The 1.5.0 image is available in docker coredns/coredns:1.5.0

This is the script used for pushing the image:

[code]

/cc @chrisohaver
/assign @thockin

@fturib

/sig network
/sig cluster-lifecycle

[2019-04-19 20:29] aaron-prindle opened #76846 "Umbrella Tracking Issue For WIP Alpha Feature - Priority and Fairness For API Server Requests"
This is to track the changes required for the RequestManagement alpha feature, now that it's [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md) has been approved. A more verbose version of the work can be found in the below [spreadsheet](https://docs.google.com/spreadsheets/d/11v3P9btqqwjlZHpHIarUQoMjse_fU_I_CVCH7QVSXN4/edit?), bu

[2019-04-19 20:29] aaron-prindle commented on #76846
Relevant Documents :

- [KEP](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190228-priority-and-fairness.md)
- [Simplified Proposal for Alpha](https://github.com/kubernetes/enhancements/pull/933)
- [BucketClasses for Rate-Limiting Tiers](https://docs.google.com/document/d/1BtwFyB6G3JgYOaTxPjQD-tKHXaIYTByKlwlqLE0RUrk/edit#heading=h.kg8s7unxoq91)
- [Bucket-Based In-

[2019-04-19 20:45] sbezverk commented on #76649
/unassign

[2019-04-19 20:57] jthera commented on #57801
I think there's a subset of folks experience this who are running a private repo with self-signed certs.    Deploying a replicaset to 3 nodes including the master (it's a test cluster in a private LAN, no judging!) all the deployments to the master are fine, all the deployments to remote nodes are failing with "certificate signed by unknown authority"

Unlikely that this is a bug - more likely jus

[2019-04-19 21:11] liggitt commented on #76649
/assign

[2019-04-19 21:20] geerlingguy commented on #75683
Confirmed that bumping to 1.13.5 (or later) fixes this.

[2019-04-19 21:44] Huang-Wei commented on #69735
/remove-lifecycle stale

I met this issue as well.

[2019-04-19 21:45] Huang-Wei commented on #69735
/sig scalability

[2019-04-19 21:54] avaslev commented on #50295
If after running `sudo cp /etc/kubernetes/admin.conf $HOME/ && sudo chown $(id -u):$(id -g) $HOME/admin.conf`
Command `kubectl config view` display like this:
[code]
Running this command `unset KUBECONFIG` solved it.

[2019-04-19 22:20] neolit123 commented on #76827
/sig testing

[2019-04-19 22:24] neolit123 commented on #76764
/remove-kind feature
/triage support

hi, if you are not getting a response you can try on reddit or stackoverflow.

[2019-04-19 22:25] neolit123 commented on #76783
/sig network

[2019-04-19 22:25] neolit123 commented on #76825
/sig node

[2019-04-19 22:26] neolit123 commented on #76825
/remove-sig node
/sig testing

[2019-04-19 22:34] neolit123 commented on #76820
/remove-sig cluster-lifecycle
(i don't see how this can be caused by kubeadm)
/sig node

please investigate your systemd settings:
https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html
https://github.com/Icinga/icinga2/issues/5611

[2019-04-19 22:35] neolit123 commented on #76714
@kubernetes/sig-cluster-lifecycle
/sig api-machinery

[2019-04-19 22:36] neolit123 commented on #76714
/sig cluster-lifecycle

[2019-04-19 22:52] christopherhein opened #76851 "Component Base KEP Link in readme."
**What happened**:
Looks like KEP organization changed and the component-base kep in the readme doesn't link anymore.

**What you expected to happen**:
Link to go to the right document.

**How to reproduce it (as minimally and precisely as possible)**:
click link - https://github.com/kubernetes/component-base/blob/master/README.md

**Anything else we need to know?**:
n/a

**Environment**:
n/a

[2019-04-19 22:55] christopherhein commented on #76851
/sig cluster-lifecycle
/sig api-machinery

[2019-04-19 23:40] snuxoll commented on #66607
If I’m being quite honest this behavior goes against the principle of least surprise. If I want kube-proxy to route my traffic I would use a ClusterIP service or similar and configure the application to use it, if I am hitting a LoadBalancer provided by a cloud provider there is likely to be a specific reason for that and kube-proxy shouldn’t try to second guess it.

[2019-04-19 23:41] realpkya commented on #70685
I was facing the problem and can confirm now it's working fine in `v1.12.7`

[2019-04-19 23:51] BenTheElder commented on #68091
remove-lifecycle stale
someday...

[2019-04-19 23:56] #71239 closed

[2019-04-20 01:58] yanghaichao12 commented on #76531
@fl-max is it fixed after upgrading systemd?

[2019-04-20 02:42] justinsb commented on #45173
So here's where I think we are:

We have a service that is http internally, on port 80:

[code]

We want to expose that externally, so we add service of `type: LoadBalancer`.  That works except that now our http service is exposed on the internet (on port 80), and we would like it to be encrypted.

We could change our service to port 80 and 443 and manage TLS in our app.  That should also work, bu

[2019-04-20 03:32] liggitt commented on #76107
once https://github.com/kubernetes/kubernetes/pull/76849 merges, this is reproducible by commenting out these exclusions:
[code]

and running `go test ./test/integration/apiserver/admissionwebhook -v -run /scale$`

[2019-04-20 05:01] #69562 closed

[2019-04-20 05:07] draveness commented on #76447
After I checked out the link you provided, I think I could open a KEP to discuss the feasibility and implementation of this feature. What do you think of this? :)

[2019-04-20 07:26] Rand01ph commented on #69896
@BenTheElder Yes, thanks for your comment, can i try to fix it ?

[2019-04-20 08:01] draveness commented on #75817
Maybe we could have something like the liveness probe in the pod which check the context before actually schedule the job.

[code]

[2019-04-20 08:25] kevin-wangzefeng commented on #75890
Having a controller to add taints to block node readiness during initialization may not work well under race condition. To complete this solution, you can make nodes born with that taint.

[2019-04-20 10:06] #63390 closed

[2019-04-20 10:15] iMartyn commented on #45173
Personally I think we should deprecate the syntax for this annotation and start fresh with a clean implementation on this one.  Something that fits a good set of cases and is documented why the choices were made.  I tried reaching out to the original author for comment and got no reply.

I think the simple case can and should be fixed - i.e. 99%* of people if giving a certificate name do not want

[2019-04-20 12:08] #71312 closed

[2019-04-20 13:46] yue9944882 commented on #76846
/cc @deads2k
/assign @adohe @wu8685 @KevinWang15

[2019-04-20 13:46] yue9944882 commented on #76846
/assign

[2019-04-20 14:09] AndrewDryga opened #76861 "grpc: the connection is unavailable on Google Kubernetes Engine"
**What happened**:

Our pods are failing to deploy and getting stuck after being successfully deployed. Once pod is stuck you can try deleting it and a new pod would be created (which can also get stuck), the old one would still be there and won't be removed even in 24 hours.

[code]

Pods can get stuck both in init state:
[code]

And after it was in Running state for a while:
[code]

As a GKE cus

[2019-04-20 14:12] AndrewDryga commented on #76861
/sig gcp

[2019-04-20 14:46] AndrewDryga commented on #76861
I have upgraded the master node to `1.12.7-gke.7` and deleted pod which is stuck, it fixes the issue temporarily but we can't run upgrades once something is stuck and we don't have access to K8S master nodes.

[2019-04-20 15:19] zhangguanzhang opened #76864 "err svc default/kubernetes's clusterip"
[code]
**What happened**:
[code]
It should be `10.97.0.1` not the `10.96.0.1`

[2019-04-20 15:44] zhangguanzhang commented on #76864
and I use the kubeadm at the `https://labs.play-with-k8s.com`
[code]

[2019-04-20 16:09] zhangguanzhang commented on #76864
It seem .... not only the v1.13.5

[2019-04-20 16:24] willzhang commented on #75414
the question is how to mounting an EmptyDir to /tmp?

[2019-04-20 16:31] oxddr commented on #76579
Reverting commits from https://github.com/kubernetes/kubernetes/issues/76579#issuecomment-483982376 didn't help and load test has failed. I'll have a look at earliest commits then.

[2019-04-20 17:13] #39178 closed

[2019-04-20 17:24] yue9944882 commented on #76864
97 -> 1100001
96 -> 1100000

the tailing 4 bits are masked/omitted

/triage support
/close

[2019-04-20 17:24] #76864 closed

[2019-04-20 17:30] suryastef commented on #70202
in my case, using centos in DO , the file /run/flannel/subnet.env exist, but same issue: `/run/flannel/subnet.env: no such file or directory`

at first I tried different subnet while running `kubeadm init --pod-network-cidr=192.168.255.0/24`

I tried @discostur solution, with changing the file manually, but the subnet.env restored to its original state when I restarted the master

this only solved

[2019-04-20 17:39] mattjmcnaughton commented on #76715
Just to get some more info - can you verify that the metrics-server works using docker on 1.14.1? Additionally, can you verify that when using 1.14.1 you're still not seeing `usageNanoCores` included in the `metrics-server` logging that you posted above in your original bug report?

[2019-04-20 18:03] neolit123 commented on #76851
/assign @luxas @sttts

[2019-04-20 18:03] cofyc commented on #75326
hi, @msau42
I guess, this flakiness and https://github.com/kubernetes/kubernetes/issues/75196 are because of this race condition (https://github.com/kubernetes/kubernetes/issues/75345). It has been fixed in https://github.com/kubernetes/kubernetes/pull/75458.

I've reproduced this issue, after kubelet restarts, kubelet does not try to unmount the volume. (example: https://transfer.sh/lPoY3/k8s-753

[2019-04-20 18:39] liggitt commented on #76329
/close

[2019-04-20 18:39] #76329 closed

[2019-04-20 18:41] liggitt commented on #76094
Fixed in https://github.com/kubernetes/kubernetes/pull/76253

/close

[2019-04-20 18:41] #76094 closed

[2019-04-20 18:58] discostur commented on #70202
Try checking kube-proxy logs... it could be there is something wrong with it and the flannel error is only related to kube-proxy error...

Am 20.04.2019 um 19:32 schrieb Surya Stefanus <notifications@github.com<mailto:notifications@github.com>>:

in my case, using centos in DO , the file /run/flannel/subnet.env exist, but same issue: /run/flannel/subnet.env: no such file or directory

at first I t

[2019-04-20 19:15] #70972 closed

[2019-04-20 21:17] #70017 closed

[2019-04-21 00:10] liggitt commented on #51476
Validation now occurs prior to quota admission

/close

[2019-04-21 00:10] #51476 closed

[2019-04-21 00:11] liggitt commented on #54430
Fixed in https://github.com/kubernetes/kubernetes/pull/75972

/close

[2019-04-21 00:11] #54430 closed

[2019-04-21 00:22] liggitt commented on #74456
/remove-sig api-machinery
/sig node

[2019-04-21 00:28] Huang-Wei commented on #68701
/remove-lifecycle stale

[2019-04-21 00:52] liggitt commented on #75788
/close

all registered resources must be accessible for namespace cleanup to complete

[2019-04-21 00:52] #75788 closed

[2019-04-21 01:24] liggitt commented on #68225
Once you submit a semantically valid patch, the server response is identical in behavior to fetching the object, applying the patch yourself, then submitting the resulting JSON as an update. Unknown fields are dropped by the API server on update

/close

[2019-04-21 01:24] #68225 closed

[2019-04-21 01:27] liggitt commented on #67974
@andrewsykim are you still seeing this? Without more details or a reproducible setup, this isn't likely to get attention

[2019-04-21 01:29] liggitt commented on #68227
Not sure if it's related or not, but two of the annotations needed to be quoted ("true", and "5")

/remove-sig api-machinery

[2019-04-21 01:49] Ultimator14 commented on #70229
I'm using docker swarm on some Raspberry Pis and also get kernel panic from the 'iptables-restor' command. I assume it's either a docker or a kernel issue.
Kernel version 4.19.34 on Alpine Linux.

[2019-04-21 04:25] justinsb opened #76873 "Flag deprecation messages should be sent to klog"
Flag deprecate messages e.g. `Flag --resource-container has been deprecated, This feature will be removed in a later release.` are sent only to stderr (I believe), and are not logged to the log-file.

With the move to make the logfiles canonical, and to stop redirect stdout/stderr to log files, we should probably tackle this if we expect deprecation notices to be seen.

[2019-04-21 08:08] saschagrunert commented on #73132
Closing for sake of wrong scope.

[2019-04-21 08:08] #73132 closed

[2019-04-21 12:11] hawran commented on #72782
Which is pretty confusing.
The question is: _Is it a feature or a bug_?

[2019-04-21 13:05] andrewsykim commented on #67974
I wasn't able to reproduce this so I think it's okay to close, thanks for following up!

/close

[2019-04-21 13:05] #67974 closed

[2019-04-21 14:07] leonj1 commented on #76075
I get the same `Observed a panic: "invalid memory address or nil pointer dereference"`
[code]
[code]
[code]
[code]
[code]
[code]
Etcd cluster is online and healthy.
`kubeadm init --config=config.yml` used to install K8s.
Scheduler, apiserver, and controller-manager do start up.

Snippet of journalctl log with --v=9
[code]
[code]

[2019-04-21 16:00] shashankv02 commented on #59343
/remove-lifecycle stale

This is what I am looking for. Surprising that this is not more common issue.

[2019-04-21 16:18] neolit123 commented on #76075
this is an odd case because the v1.14.2-beta.0 e2e tests pass:
https://k8s-testgrid.appspot.com/sig-cluster-lifecycle-all#kubeadm-kind-1.14
also i did not see such failures back in `.0` and `.1`

the last two entries in the logs come from:
https://github.com/kubernetes/kubernetes/blob/release-1.14/pkg/kubelet/kubelet.go#L1972
https://github.com/kubernetes/kubernetes/blob/release-1.14/staging/src/k

[2019-04-21 18:38] #71257 closed

[2019-04-21 23:21] Jeffwan commented on #68605
/reopen

[2019-04-21 23:37] vivpm6ue commented on #49964
@ConnorDoyle is there any way to try out the Topology Manager or the following module?

https://github.com/kubernetes/community/pull/1680

Are there instructions or Is there a daemonset/yaml/config of the ongoing work on this that I can install on my multi-NUMA SRIOV bare metal K8s setup to give it a try?

[2019-04-22 00:59] petrokashlikov opened #76880 "Allow scaleUpLimit parameter to be configurable"
**What would you like to be added**:
I would like scaleUpLimit parameter to be configurable to accommodate various scenarios

**Why is this needed**:
As per current motivation in code comments

[code]
this parameter calculation formula was made up for above reasons. But right now HPA is used more widely, based not only on CPU metrics, but various custom metrics. Also cluster sizes are different an

[2019-04-22 01:04] petrokashlikov commented on #76880
/sig scalability

[2019-04-22 01:11] petrokashlikov commented on #76880
sig/autoscaling

[2019-04-22 01:11] dims commented on #75549
@sashayakovtseva can you check if you are seeing any errors on the singularity CRI service logs? ( coming from this line https://github.com/sylabs/singularity-cri/blob/master/pkg/server/runtime/runtime.go#L183 )

[2019-04-22 01:44] daixiang0 commented on #76438
@johnbelamaric hi, for fluentd, per pod need to connect es, check connection to es make sense.
In the other way. in one cluster connect to one service in other cluster is also a case, it maybe not very common. but add comment for this could be better for new users

[2019-04-22 04:46] everpeace commented on #49964
I would really love kubernetes to support this and am interested in this topic.  In our use case,  we would like to allocate multiple GPUs and multiple NICs with socket(PCI level) affinity to containers for high performance distributed deep learning workloads.

[2019-04-22 04:48] #63503 closed

[2019-04-22 04:57] shinebayar-g commented on #56903
I'm using Prometheus Blackbox exporter to monitor our websites
This is global probe duration graph for all websites, as you see all of sites getting random 5s spike here and there frequently.
![image](https://user-images.githubusercontent.com/3091558/56483357-1c3ff300-64fc-11e9-816d-ce8d0e42d81f.png)

This is zoom in of single spike. Resolve step is taking exact `5.01` second always.

![image](htt

[2019-04-22 05:57] ymmt2005 commented on #76105
@krmayankk @cjschaef @liggitt
I wonder whether this is a bug in implementation or a document.
Is this really a documentation issue?

[2019-04-22 06:22] yue9944882 commented on #76764
node port has to be cluster-wide unique and it's defaulted to be in the port range `30000-32767`. the node-port services are supposed to be accessed via `<node-ip>:<node-port>` instead of `<externalIP>:<node-port>`.

/close

[2019-04-22 06:22] #76764 closed

[2019-04-22 06:29] cizixs commented on #75890
## User Case

* CNI service: we implemented CNI with a  running service, pods can only be scheduled to the node when CNI service is up and running
* monitor agent: monitoring data is very important for us, running application with no metrics is considered serious problem
* ...

## Design

Add a APIServer admission, add a taint to newly added node, so nodes are not schedule-able even if kubelet is

[2019-04-22 06:31] Rajat-0 commented on #76880
@petrokashlikov this might help you.
https://github.com/kubernetes/kubernetes/pull/74525

[2019-04-22 06:31] cizixs commented on #75890
@yastij The above is the main logic, we can help to proposal a KEP to illustrate in detail.

[2019-04-22 06:35] SyedFarazUmar commented on #71711
Hi All,
          I am also facing a similar issue:

cord@node1:~$ kubectl get nodes
Error from server (Timeout): the server was unable to return a response in the time allotted, but may still be processing the request (get nodes)

------------------------------------------------------------------------------------------------------------------------------------------

cord@node1:~$ kubectl versio

[2019-04-22 06:50] SyedFarazUmar commented on #60957
++ Facing similar issue, getting the following alert whenever I am trying to run a kubectl command:

cord@node1:~$ kubectl get nodes
Error from server (Timeout): the server was unable to return a response in the time allotted, but may still be processing the request (get nodes)

++ It was running 2 days back but now I am facing this issue.
++ Version:
cord@node1:~$ kubectl version
Client Version:

[2019-04-22 07:42] jcperezamin commented on #56903
apiVersion: extensions/v1beta1
kind: DaemonSet
metadata:
  annotations:
  generation: 1
  labels:
    addonmanager.kubernetes.io/mode: Reconcile
    k8s-app: kube-dns
    kubernetes.io/cluster-service: "true"
  name: nodelocaldns
  namespace: kube-system
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: nodelocaldns
  template:
    metadata:
      annotations:
        pr

[2019-04-22 07:56] jeffcai commented on #61007
this issue was resolved or it works as designed? thanks,

[2019-04-22 08:05] sashayakovtseva commented on #75549
@dims No errors from Singularity-CRI side

[2019-04-22 08:54] C0NO commented on #34238
**how could change that timers ? i do not have kube-controller-manager on my cli.I have only kubeadm kubelet and kubectl**

[2019-04-22 09:35] Bevisy opened #76892 "Set the svc nodeport to 6443 causes the cluster to not work properly"
**What happened**:
Set the svc nodeport to 6443 causes the cluster to not work properly. Because port 6443 will be occupied.
i didn't find the same issue so create this issue. i just want to know that if there are some ways to avoid this.

**Environment**:
- Kubernetes version (use `kubectl version`): v1.11.0
- OS (e.g: `cat /etc/os-release`): centos 7.5
- Kernel (e.g. `uname -a`): 3.10

[2019-04-22 09:37] Bevisy commented on #76892
/sig network

[2019-04-22 09:53] manukasa commented on #70202
Thanks this worked for us

[2019-04-22 09:53] #71367 closed

[2019-04-22 09:54] RamanPndy commented on #70202
this solution worked for me. but i've one doubt. What are the means of these values and how flannel is using these values?

[2019-04-22 10:06] SyedFarazUmar commented on #60957
Resolution:

[2019-04-22 11:25] rtheis commented on #73698
We hit the problem again, but this time on 1.13.5.

[2019-04-22 11:27] dims commented on #75549
weird!!! thanks for confirming @sashayakovtseva i'll have to install the CRI to debug ... unless someone else want to try to do that before me.

[2019-04-22 12:59] wiwiwa commented on #71887
Same issue

k8s: v1.14.1
Docker Version: 18.09.4-ce
Linux k8s-2 5.0.5-arch1-1-ARCH #1 SMP PREEMPT Wed Mar 27 17:53:10 UTC 2019 x86_64 GNU/LinuxGNU/Linux

cgroup-driver: systemd

[2019-04-22 13:16] liggitt commented on #76105
yes, RunAsGroup does not support MustRunAsNonRoot

[2019-04-22 13:39] alejandrox1 opened #76895 "[Failing Test] up failing in master-upgrade"
**Which jobs are failing**:
* `ci-kubernetes-e2e-gce-master-new-downgrade-cluster`
* `ci-kubernetes-e2e-gce-master-new-downgrade-cluster-parallel`

**Which test(s) are failing**:
* `Up` ([spyglass](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-master-new-downgrade-cluster/1120304086290272258))

**Since when has it been failing**:
4/16.
It is also interesting to notice

[2019-04-22 13:41] cwdsuzhou commented on #75545
@vladimirvivien hi, If this has fixed now?
If not, could I join you? Since this is already an alpha feature, but currently it can not use now.

[2019-04-22 13:51] fl-max commented on #76531
@yanghaichao12  Nope.

[2019-04-22 13:54] alejandrox1 opened #76896 "[Failing Test] openstack conformance is failing in master-informing"
**Which jobs are failing**:
`ci-cloud-provider-openstack-acceptance-test-e2e-conformance`

**Which test(s) are failing**:
`Overall` ([spyglass](https://prow.k8s.io/view/gcs/k8s-conformance-openstack/periodic-logs/ci-cloud-provider-openstack-acceptance-test-e2e-conformance/1555907386))

**Since when has it been failing**:
Since 4/18.

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-in

[2019-04-22 13:56] alejandrox1 commented on #76896
/cc @mrhillsman I know that you were working on this already. Would you mind taking a look at it again?

[2019-04-22 14:03] rosti commented on #76075
Some list watcher is causing the panic. Problem is, the panic is recovered and re-panicked (line 189), so we have no backtrace to where exactly it happened.
https://github.com/kubernetes/kubernetes/blob/b7394102d6ef778017f2ca4046abbaa23b88c290/staging/src/k8s.io/client-go/tools/cache/reflector.go#L182

[2019-04-22 14:04] kellanburket opened #76897 "Master doesn't attempt to attach FlexVolume"
**What happened**:
As reported [here](https://stackoverflow.com/questions/55749835/kubernetes-1-14-master-doesnt-attach-flexvolume)

**What you expected to happen**:
Master should attempt to attach flexVolume.

**How to reproduce it (as minimally and precisely as possible)**:
Attempt to load a pod using the [dummy-attachable](https://github.com/kubernetes/examples/blob/master/staging/volumes/flexv

[2019-04-22 14:04] kellanburket commented on #76897
/sig/storage

[2019-04-22 14:07] smourapina opened #76898 "[Failing Test] [sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is gracefully deleted while kubelet is down [Disruptive][Slow]"
**Which jobs are failing**:
`ci-kubernetes-e2e-gce-new-master-upgrade-cluster` - `master-upgrade/gce-new-master-upgrade-cluster`
`ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new` - `master-upgrade/gce-new-master-upgrade-cluster-new`

**Which test(s) are failing**:
`[sig-storage] CSI Volumes [Driver: csi-hostpath-v0] [Testpattern: Dynamic PV (default fs)] subPath should unmount if pod is grace

[2019-04-22 14:08] alejandrox1 opened #76899 "[Failing test] vSphere conformance tests failing in master-informing"
**Which jobs are failing**:
* `ci-cloud-provider-vsphere-conformance-latest`
* `ci-vsphere-conformance-latest`

**Which test(s) are failing**:
* `Overall` ([spyglass](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-cloud-provider-vsphere-conformance-latest/1120179766796750848))

**Since when has it been failing**:
The latest round of failures started on 4/12.

**Testgrid link**:
* https://

[2019-04-22 14:09] chrisohaver commented on #75414
https://github.com/coredns/deployment/pull/138

On Apr 20, 2019, at 12:26 PM, willgithub <notifications@github.com<mailto:notifications@github.com>> wrote:

the question is how to mounting an EmptyDir to /tmp?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_kubernetes_kubernetes_is

[2019-04-22 14:11] #71594 closed

[2019-04-22 14:14] liggitt commented on #71162
@mikedanese, do you have opinions on this?

[2019-04-22 14:14] smourapina commented on #76898
/kind flake

[2019-04-22 14:14] alejandrox1 commented on #76899
.milestone v1.15

[2019-04-22 14:15] alejandrox1 commented on #76899
/milestone v1.15

[2019-04-22 14:17] liggitt commented on #52511
routing of authorization webhook network connectivity is included in https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190226-network-proxy.md#kubernetes-api-server-outbound-requests

/close

[2019-04-22 14:17] #52511 closed

[2019-04-22 14:20] smourapina opened #76901 "[Failing Test] SkewTest failing in master-upgrade:gce-new-master-upgrade-cluster-new"
**Which jobs are failing**:
[sig-release-master-upgrade#gce-new-master-upgrade-cluster-new](https://testgrid.k8s.io/sig-release-master-upgrade#gce-new-master-upgrade-cluster-new)

**Which test(s) are failing**:
[SkewTest](https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-upgrade-cluster-new/1117872109163384835)

**Since when has it been failing**:
Since 4/15, bu

[2019-04-22 14:33] nikhita commented on #76269
Related https://github.com/kubernetes/community/pull/3627

[2019-04-22 14:34] calind commented on #71162
Our current workaround is to authenticate in our dashboard using auth0 then do an impersonated request to apiserver.

[2019-04-22 15:11] mrhillsman commented on #76896
/cc @dims
ack @alejandrox1
will consult with the team. i thought that overall failure cell was a result of tests being back active and only have one result set.

[2019-04-22 15:22] seanjfellows commented on #61007
I was testing this last week and it is not resolved. I don't think it is reasonable to say this is working as designed.

[2019-04-22 15:28] MikeSpreitzer commented on #76846
It's probably time to rebase the feature branch, to pick up the work in `master` before there is any work in the feature branch.

[2019-04-22 15:38] mrhillsman commented on #76896
@alejandrox1 I have found the issue, maybe others will/have experienced it. Also, for OpenLab at least, the change would need to happen within kubernetes/test-infra and I do not know who to reach out to but here it is.

When we run conformance we use the upload_e2e.py script[0]. Within this file there is a regex match used to create finished.json which Overall uses to color its cell red or green:

[2019-04-22 15:43] MikeSpreitzer commented on #76703
This is the same as https://github.com/kubernetes/kubernetes/issues/75980

[2019-04-22 16:10] dobesv commented on #61007
Seems there is a PR to fix it, but it hasn't been reviewed or merged.

[2019-04-22 16:37] smourapina commented on #76670
Commit that broke this test was [aa7406460](https://github.com/kubernetes/kubernetes/commit/aa7406460), corresponding to [PR #75217](https://github.com/kubernetes/kubernetes/pull/75217).
Assigning /sig api-machinery

[2019-04-22 16:38] smourapina commented on #76670
/sig api-machinery

[2019-04-22 16:41] dims commented on #76896
@mrhillsman please file a PR with a fix to the regex :)

[2019-04-22 16:49] gcoscarelli commented on #43916
Hi, we are experiencing a similar issue. We have java based service running in pods that have 3GB QoS memory settings.
The service is disk intensive (keeps git repos), so eventually we hit this limit. We first thought that java was being OOMed but after some tests we realized that just with a plain pod (no java) doing file creations (via dd command) we still reached that limit, Kernel memory went

[2019-04-22 16:51] davejrt commented on #75683
Closing as installing 1.13.5 addresses this issue

[2019-04-22 16:51] #75683 closed

[2019-04-22 16:52] gnufied commented on #55946
Yeah the generation procedure is drain the node and reboot it and manually remove the taint. @akumria sorry for super late response but we can document this https://kubernetes.io/docs/concepts/storage/volumes/#awselasticblockstore .

[2019-04-22 16:52] gnufied commented on #55946
/reopen

[2019-04-22 16:52] gnufied commented on #55946
/remove-lifecycle rotten

[2019-04-22 17:20] ymmt2005 commented on #76105
Got it.  Thank you!

[2019-04-22 17:24] mikedanese commented on #71162
There are two features here that are probably both a good idea.

There are various scenarios where multiple clients make sense. E.g. you want to give a dashboard a separate client ID than your kubectl kubeconfig.

More generally, a flexible configuration of the authenticator chain would allow a webhook or oidc authenticator to appear twice. I could suppose a few use cases for this but they wouldn'

[2019-04-22 17:44] #76107 closed

[2019-04-22 17:44] #67221 closed

[2019-04-22 17:44] #76649 closed

[2019-04-22 18:16] BenTheElder commented on #76896
Is something else wrapping the output? I didn't think ginkgo did that. I've never seen wrapped output from running the tests directly or from sonobuoy. :O

[2019-04-22 18:43] alejandrox1 commented on #76670
/cc @kubernetes/sig-api-machinery-test-failures

[2019-04-22 19:51] vladimirvivien commented on #75545
@cwdsuzhou yes, fix is merged.  Please test with https://github.com/kubernetes/kubernetes/pull/75844

[2019-04-22 20:01] bowei commented on #76504
@dims -- yes that would be great, but isn't that effort not yet complete? (please correct me if I'm wrong)

[2019-04-22 20:05] vladimirvivien commented on #76620
/assign

[2019-04-22 20:06] vladimirvivien commented on #76729
Closing, duplicate - https://github.com/kubernetes/kubernetes/issues/76620

[2019-04-22 20:06] #76729 closed

[2019-04-22 20:30] vladimirvivien commented on #75353
This issue was fixed with a series of PRs
- https://github.com/kubernetes/kubernetes/pull/76151
- https://github.com/kubernetes/kubernetes/pull/76089
- https://github.com/kubernetes/kubernetes/pull/75844
- https://github.com/kubernetes/kubernetes/pull/75692

[2019-04-22 20:30] #75353 closed

[2019-04-22 20:33] vladimirvivien commented on #75494
This was fixed. See #75354

[2019-04-22 20:33] #75494 closed

[2019-04-22 20:38] vladimirvivien opened #76906 "Add CSI e2e tests for inline ephemeral volumes"
**What would you like to be added**:
Currently there are no end-to-end tests to check ephemeral volume support.

**Why is this needed**:
Since https://github.com/kubernetes-csi/csi-driver-host-path/pull/10 introduced support for ephemeral volumes, e2e can be added.

[2019-04-22 20:38] vladimirvivien commented on #76906
/sig storage
/assign

[2019-04-22 20:53] liggitt opened #76907 "Complete integration testing for admission webhooks"
https://github.com/kubernetes/kubernetes/pull/76849 added integration testing of admission webhooks, both validating and mutating.

It tests all resources/subresources/verbs found via discovery, with the exception of some resources that require special setup or testing, or which are not sent to admission today.

As part of completing webhook admission, we should resolve the TODOs in that test:

ht

[2019-04-22 20:54] liggitt commented on #76907
we can shard the work for these out, so leave a comment indicating you're starting working on one

[2019-04-22 21:04] sbezverk commented on #76907
I will work on this one.

[2019-04-22 21:19] caesarxuchao commented on #76794
/cc @lavalamp

[2019-04-22 21:21] janitha09 commented on #76782
And here is an invalid permission example.

It appears that the PV and PVC are oblivious to the access privileges the container could or will have. Each could be created independently
Is there an example of the container or pod pushing events through to the dependent infra - look here this is the root of your problem?
I haven't followed the bread crumbs to the event infrastructure at this time any

[2019-04-22 21:27] tsuna opened #76908 "Basic auth header isn't URL encoded when making OAuth2 requests"
**What happened**

Using OpenID Connect as an authentication provider with a client-secret that contains a special character like the `+` sign leads to refresh tokens not working because `kubectl` doesn't URL encode the client-secret before base64-encoding the basic auth header.

**What you expected to happen**

`kubectl` should URL encode the client-secret as per the OAuth2 spec.

**How to reprod

[2019-04-22 21:28] tsuna commented on #76908
/sig auth

[2019-04-22 21:37] #76623 closed

[2019-04-22 21:47] tsuna commented on #76908
Hmm it turns out that we just need to update the version of `golang.org/x/oauth2` that is vendored in k8s. Pulling in the aforementioned fix is enough to fix the problem.

[2019-04-22 22:08] Huang-Wei commented on #73743
FYI: I happened to replace `bx` with `ibmcloud` in #76909.

[2019-04-22 22:34] spzala commented on #73743
@Huang-Wei thanks!

[2019-04-22 22:44] mrbobbytables commented on #73743
Thank you! 👍

[2019-04-22 22:45] mattjmcnaughton commented on #76761
/assign @mattjmcnaughton

I'd be happy to look into this :)

[2019-04-22 23:16] andrewsykim commented on #76504
Yeah the effort is still on-going. The out-of-tree mechanism has been supported for a while but providers need to implement and drive adoption. Ideally if you want a new feature, add it out-of-tree and get users using the out-of-tree provider. IMO the more features we allow in-tree, the harder we make migration in the future. We realize this is a hard ask for users with existing clusters, we have

[2019-04-22 23:27] verult commented on #73972
Jumping on this bug again. @gnufied curious about your thoughts on my last comment

[2019-04-22 23:48] chenbr commented on #63371
I just ran into this now.. when we can expect a fix?

[2019-04-22 23:58] jeffcai commented on #61007
yes, I looked into the master branch code, not fixed yet, just curious about it, it would not be fixed or as dobesv said it will be merged/fixed latter with that PR.

[2019-04-23 00:39] ryanjfrizzell commented on #70202
This will get it started, but it won't survive a reboot...still struggling with this myself

[2019-04-23 00:56] mortent commented on #75957
Can you explain a little bit why you want to do this? As you seem to have found out, I think it is currently considered an error to have a pod covered by more than one PDB.

[2019-04-23 00:58] YoubingLi commented on #76820
systemd is used by docker basing on the output of "docker info".

Cgroup Driver: systemd

You should check the configuration file /etc/docker/daemon.json and kubelet.service, and ensure both of them use the same driver for cgroup driver.

[2019-04-23 01:04] YoubingLi commented on #76820
/remove-kind bug

[2019-04-23 02:18] yanghaichao12 commented on #76531
https://bugzilla.redhat.com/show_bug.cgi?id=1370299

[2019-04-23 03:01] Coderhypo commented on #76892
Can you run `lsof -i tcp:6443` and find who used it？

[2019-04-23 03:20] sbezverk commented on #76907
I will pick this one as well.

[2019-04-23 05:25] ChchPtatoFvr commented on #50375
Count me in too! :+1:

[2019-04-23 06:07] simple-easy commented on #72635
Thanks for comment. But sometimes we may not always monitor the SG rules, so when we modify the 'loadBalancerSourceRanges' directly, it will not be sure whether our changes will take effect. This is really bad. It will be better to drop the modify when the change is conflict with the SG rule. This can makes the 'loadBalancerSourceRanges' always same with the SG rules.

[2019-04-23 06:53] lionelboeyopc commented on #67702
I'm still getting this error with v1.12

  Type           Status  Reason                   Message
  ----           ------  ------                   -------
  AbleToScale    True    SucceededGetScale        the HPA controller was able to get the target's current scale
  ScalingActive  False   FailedGetResourceMetric  the HPA was unable to compute the replica count: unable to get metrics for resour

[2019-04-23 06:56] dixudx commented on #64878
Not an issue any more. It is docker library that does the autocompletion, not Kubernetes. So if we really want to fix this up, some code changes should be made there.

[2019-04-23 07:00] brancz commented on #76715
Thanks for reporting this. Can you be more specific in what the result was when you did this?

[2019-04-23 07:25] irvifa commented on #68369
Seems like this is related to #11237

[2019-04-23 07:27] irvifa commented on #70674
Mine seems like related to #11237

[2019-04-23 07:35] Asgoret commented on #70674
@irvifa As i can see it's familiar tasks for stateful variables... I think there is no forward mechanism for update deployment config

[2019-04-23 07:37] ctxrag commented on #70411
same here. Facing a lot after upgrading to k8s 1.12.5

[2019-04-23 07:46] #69735 closed

[2019-04-23 07:46] michalschott opened #76928 "proxy protocol support in kube-apiserver"
**What would you like to be added**:
Proxy Protocol support for kube-apiserver

**Why is this needed**:
When inspecting audit logs I've noticed load balancer private address is passed to the API - this makes bit harder to inspect API usage. Currently when enabling audit logs and enabling proxy-protocol on AWS ELB results in:
[code]

I'd like to see real-user-IP address in audit logs.

[2019-04-23 07:50] michalschott commented on #76928
@kubernetes/sig-api-machinery

[2019-04-23 07:50] sashayakovtseva commented on #75549
I tried to debug kubelet but it looks like during `kubectl describe no` it already receives this `Unknown` version from a different k8s component (is that API server? not sure which component responses to kubelet in that case). Searching k8s source code didn't help much. Hope that helps you and thank you for response!

[2019-04-23 07:50] michalschott commented on #76928
/sig api-machinery

[2019-04-23 08:06] zigmund commented on #76699
Yes, there are many invalid connections according to `conntrack -S` and the counters keep growing.

Also there are many `insert_failed` connections with iptables 1.6.1 and only few with iptables 1.6.2. (https://tech.xing.com/a-reason-for-unexplained-connection-timeouts-on-kubernetes-docker-abd041cf7e02). But seems it influences only outgoing connections from containers to outside world.

Tried bot

[2019-04-23 08:15] CallMeFoxie commented on #76693
Tried with kubelet 1.14.1, same thing.

I have no idea what host config could make this happen, more so if kubelet 1.12.5 works fine :|

[2019-04-23 08:22] tuminoid commented on #64878
Using k8s 1.13.5 and RHEL's Docker 1.13.1, the issue is fixed. K8s now manages to pull the correct image from private registry and does not go for docker.io as expected.

/close

[2019-04-23 08:22] #64878 closed

[2019-04-23 08:37] Pingan2017 opened #76930 "do not evict a DaemonSet Pod"
**What happened**:
a daemonset pod will be evicted by kubelet when met eviction signal.
**What you expected to happen**:
do not evict a daemonset pod, since the Pod is immediately recreated and rescheduled back to the same node.
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cl