[2017-07-10 20:01] luxas commented on #48690
I definitely think that we should look into that. Seems like credential providers are only called from the node though, so it might be harder to implement... @wlan0 thoughts on that?

[2017-07-10 20:03] tallclair commented on #48561
/cc @crassirostris

[2017-07-10 20:08] xiangpengzhao commented on #48701
/remove-sig network
/sig storage

[2017-07-10 20:11] rpothier opened #48727 "kubenet failure in generateHardwareAddr with IPv6"
BUG REPORT:

/kind bug

**What happened**:
When using kubenet with IPv6, the Pos fails to come up,
and the following error message is seen.
NetworkPlugin kubenet failed to set up pod "my-alpine-1022664534-30ms5_default" network: generateHardwareAddr only support valid ipv4 address as input

**What you expected to happen**:
The pod should come up.

**How to reproduce it (as minimally and precisely

[2017-07-10 20:11] rpothier commented on #48727
/sig network

[2017-07-10 20:12] rpothier commented on #48727
/area ipv6

[2017-07-10 20:12] xrl opened #48728 "Cinder volume refuses to stay mounted to pod-assigned host"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/sig storage
/sig openstack

**What happened**:

I scaled a StatefulSet and the new pods never go to Running.

**What you expected to happen**:

I expected the volume to mount, the pod to be satisfied, and things to start running.

**How to reproduce it (as minimally and precisely as possible)**:

Create a StatefulSet with a volume template,

[2017-07-10 20:13] rpothier commented on #48727
/assign @rpothier

[2017-07-10 20:21] yujuhong commented on #48219
If the temporary file did not contain the pod manifest, then that's not the problem. Can you post your kubelet log again but this time, include the messages around/before you edit the file. I don't think the log you [posted before](https://github.com/kubernetes/kubernetes/issues/48219#issuecomment-312283905) is complete

[2017-07-10 20:21] luxas commented on #48687
@liggitt This looks pretty strange ^

[2017-07-10 20:38] dashpole commented on #48483
cc @grobie
Ok, so I have tracked the issue down to https://github.com/google/cadvisor/pull/1460.
Specifically, changing `prometheus.MustRegister(` to `r := prometheus.NewRegistry; r.MustRegister(` caused the metrics to no longer be displayed on the kubelet's port `10250/metrics`, and only on port `4194/metrics`.
Based on [the original issue](https://github.com/google/cadvisor/issues/1459), I don't

[2017-07-10 20:43] yujuhong commented on #48465
The log reading code in kubelet mimics what's in the moby/docker code, so both of them use the same seek method.

@WIZARD-CXY, as @crassirostris mentioned, parsing a 10MB log should not take a minute in typical conditions. What's the size of your log and could you rotate the logs more frequently if the file sizes are too large?

I'd like to confirm the impact of this issue before diving in to opti

[2017-07-10 20:45] wlan0 commented on #48690
@luxas I reached out to @erictune about this a few months back. We haven't really progressed on this much however.

It is possible to do a external credential provider implementation just like the external cloud provider implementation.

It depends on how we decide to implement the external credential provider. If we use a asynchronous plugin model (like for cloud-providers), it'll be tricky.

We

[2017-07-10 20:53] armandocerna commented on #45626
On nodes where I am experiencing this issue my docker logs are filled with

```Jul 10 20:48:21 ip-10-189-53-119 dockerd[26909]: time="2017-07-10T20:48:21.615490771Z" level=error msg="Handler for GET /v1.24/containers/f54d3da0e331c1696de2736af16ff81a77fe92fb7058d16ef1496277275eec12/json returned error: open /var/lib/docker/overlay/7b9ba5ec3009cd5130f435a0482159b9d8004e28dbf55935464e5422d4273001/low

[2017-07-10 20:56] caseydavenport commented on #47642
/close

[2017-07-10 20:56] #47642 closed

[2017-07-10 20:57] caseydavenport commented on #2139
/close

[2017-07-10 20:57] #2139 closed

[2017-07-10 20:57] mtanino commented on #48639
@jsafrane

[2017-07-10 20:57] luxas commented on #48690
@wlan0 How important is it? Can it be done via a DaemonSet?

[2017-07-10 21:00] henriquetruta opened #48732 "kubefed should emit error when passing invalid dns-provider"
/kind bug

**What happened**:
I've misspelled the dns-provider (put googlecloud-dns instead of google-clouddns) when running `kubefed init`
It successfully ran and said everything was ok. However, federation-control-plane pod entered in CrashLoopBackOff and I could only see the error in the pod's logs:
```F0710 20:15:37.946633       1 controllermanager.go:174] Cloud provider could not be initializ

[2017-07-10 21:05] henriquetruta commented on #48732
/sig federation

[2017-07-10 21:13] wlan0 commented on #48690
@luxas, It's possible via a daemon set. But we should talk about this in more detail.

Its not important for the cloud provider changes. It's a separate feature.

[2017-07-10 21:13] luxas commented on #48690
Agreed.

[2017-07-10 21:15] joshwget commented on #48690
Should we move this discussion to a separate Github issue then?

[2017-07-10 21:15] caseydavenport commented on #48719
/area kube-proxy

[2017-07-10 21:17] liggitt commented on #48687
indeed... that comes from https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/admission/noderestriction/admission.go#L211

[2017-07-10 21:21] luxas commented on #48687
@liggitt It's not the first time I see users reporting that... I can't really say what the problem is
Maybe we should do `%q` instead of `%s` consistently?

[2017-07-10 21:23] luxas commented on #48690
@joshwget Feel free to spawn a new issue for that

[2017-07-10 21:30] grobie commented on #48483
@dashpole Removing side effects by using package globals in a library was actually the intension of the cAdvisor issue and PR. I proposed the change in cAdvisor independent of any work in Kubernetes for the needs of a different project. Not using globals in libraries follows best practices established in the go community, like described in https://peter.bourgon.org/go-best-practices-2016/.

If the

[2017-07-10 21:44] Dao007forever commented on #46641
https://github.com/kubernetes/kubernetes/issues/46641

Looks like the same problem.

[2017-07-10 21:53] spxtr commented on #48721
I enabled [node auto repair](https://cloud.google.com/container-engine/docs/node-auto-repair) on GKE which should mitigate this for my cluster. @dashpole, should I close this issue?

[2017-07-10 21:54] Dao007forever commented on #41916
@obeattie Would you mind posting your patch of TCP_USER_TIMEOUT? Did you change only `kubernetes/staging/src/k8s.io/client-go/rest/request.go`?

[2017-07-10 21:55] dashpole commented on #48721
Yep.  That sounds like a good solution for now.

[2017-07-10 22:20] chrislovecnm commented on #45626
/sig node

[2017-07-10 22:53] davidopp commented on #5507
@gmarek I am not sure this is obsolete -- AFAIK it was never implemented.

[2017-07-10 22:53] davidopp commented on #5507
(Whether we do it as an opaque resource or as an integer resource is a separate issue.)

[2017-07-10 23:17] bsalamat commented on #48176
/assign

[2017-07-10 23:18] bsalamat commented on #48176
I am going to convert some of our e2e tests to integration tests this week.

[2017-07-10 23:23] tallclair commented on #48297
Do you know what kinds of changes we can expect?

[2017-07-10 23:36] fraenkel commented on #48297
The only one the I identified as part of the release notes is

The metric request_duration_microseconds is now request_duration_seconds.

Other than that the remaining issues was battling testcases that load etcd in process which loads the old handler which conflicts with the new handler since we are using the same metric names for the rest.

[2017-07-10 23:45] cmluciano commented on #27134
/close

all issues have merged PRs

[2017-07-10 23:45] #27134 closed

[2017-07-10 23:49] alexandercampbell opened #48738 ""kubectl create" subcommands need to validate printer flags before creating a resource"
/kind bug

**What happened**:

I ran

[code]

The deployment "test-output" was created, but then I got this error message: `error: output format "invalid" not recognized`.

**What you expected to happen**:

The "kubectl" command should have errored out immediately when I provided a bad "--output" flag.

This is because the logic currently runs:
1. Create deployment. [code](https://github.com/kuber

[2017-07-10 23:55] alexandercampbell commented on #48738
/sig cli

[2017-07-10 23:57] fraenkel commented on #48297
The one change I didn't make since its more a choice is with regard to the type of metric, Summary vs Histogram. The comment is regarding to aggregation across instances. Given we use this in various places, we could distinguish when aggregation is more common and use Histograms.

[2017-07-11 00:05] pjanuario commented on #23404
I had exactly the same problem and took me a bit until I found out this was the reason... :/

[2017-07-11 00:18] freehan commented on #48719
`KUBE-SERVICES` is also attached to `PREROUTING`. So if the iptables rules for the service are present, it should work.

Correct me if I am wrong, I feel this mostly happens between the gap of service creation and the actual iptables rule got installed.

I think we should be conservative about flushing TCP entries. I do not want to disrupt service accidentally. One real solution is to add a servic

[2017-07-11 00:46] saad-ali commented on #46244
@codablock Could you please take a look at this test. It was added in PR https://github.com/kubernetes/kubernetes/pull/45346.

As of July 10, 2017, it was the one of the [flakiest tests in the past week](https://storage.googleapis.com/k8s-metrics/flakes-latest.json).
<details>

[code]

</details>

[2017-07-11 00:55] euank commented on #45688
What Container Linux version are you reproducing this on, @lorenz?

We included a kubelet-wrapper change in [1353.8.0](https://coreos.com/releases#1353.8.0) which fixes an issue with the same symptoms.

[2017-07-11 01:06] xilabao opened #48743 "self link error of generic resources in describe command"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

**What happened**:
self link error in print unstructured content
**What you expected to happen**:

ref to https://github.com/kubernetes/kubernetes/pull/46017

[2017-07-11 01:13] therc opened #48744 "kube-dns pods get traffic after they're gone"
/kind bug

**What happened**:

 * Drained and rebooted a bunch of nodes

 * Traffic moves smoothly from machine to machine, without disruption, EXCEPT for one service that saw occasional DNS lookup errors.

What was going on? I eventually found that this was correlated with nodes running kube-dns pods. The errors appeared whenever one of the DNS pods got terminated. This actually happened before,

[2017-07-11 01:14] msau42 commented on #48463
Validating this may be challenging as the validation path in the API server would have to evaluate the node selector, go to each of the nodes (if it evaluates to more than one.  this could also be a problem in the future if you use the pv node affinity for things like regions or zones that could have a lot of nodes), gain access to the host system, and check that the path exists.

If you use the e

[2017-07-11 01:14] dixudx commented on #9085
/cc

[2017-07-11 01:16] therc commented on #48744
@kubernetes/sig-network-bugs

[2017-07-11 01:24] rkasdf opened #48745 "pods have a bug of recreate hosts file."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

I'm using k8s 1.6.4, when I create a pod with more than one container, I add some hosts to the /etc/hosts when I start one of the container in the pod, but the hosts file changed at first but then change to the initial pods hosts.

**What you expected to happen**:
The hosts in the pod will keep changed at the lifetime of

[2017-07-11 01:29] rkasdf commented on #48745
@kubernetes/sig-node-misc

[2017-07-11 01:33] #48721 closed

[2017-07-11 01:56] supereagle opened #48747 "Cleanup the conversion of ObjectReference"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Now the `k8s.io/kubernetes/pkg/api/v1` and `k8s.io/client-go/pkg/api/v1` has been consistent in `k8s.io/api/core/v1` by PR #44784. There is no need to convert *v1.ObjectReference to *clientv1.ObjectReference in [pkg/kubelet/events/event.go](https://github.com/kubernetes/kubernetes/blob/886e04f1fffbb04faf8a9f9ee141143b2684ae68/pkg/ku

[2017-07-11 02:35] WIZARD-CXY commented on #48465
@yujuhong The log size is very large (apiserver log). I think about the log-rotate solution too, but it is not enough IMHO, Because if we rotate the log per day, what about querying the log of day before yesterday? For very large logs we should use elasticsearch to do the log search job. But I think it is still nice to use binary search to speed up the log search when using kubectl

[2017-07-11 02:43] WIZARD-CXY commented on #48465
I thought it was a easy piece of work to do only to find I am wrong because it is not straightforward to jump to arbitratry line of a log file which binary search requires. But I think if we code up this feature using one day's time, it is worth doing. :)

[2017-07-11 02:50] cleverlzc commented on #16836
Ok，many thanks! @bowei  I have solved this problem. The file `/etc/resolv.conf` content of busybox or healthz container is inherited from the file `/etc/resolv.conf` of the pyhical machine or VM. But, inner container, we must manually add `search xxx_domain` to the file `/etc/resolv.conf` of container.For example:
[code]

[2017-07-11 02:59] liggitt commented on #48617
It actually wasn't, the cert was getting generated with the incorrect hostname there as well.

kubeadm needs to be able to be told an explicit hostname to use for the master kubelet

/assign @luxas

[2017-07-11 02:59] k82cn commented on #42002
+1 to conformance tests for replacement scheduler

After went through the discussion, I'm also not sure about DaemonSet :). I think it dependents on our expectation to the replacement scheduler, e.g. will replacement scheduler support NodeAffinity?

regarding dry-run, prefer to add some annotations to Pod instead of exposing REST from default-scheduler; it introduce extras dependency between compo

[2017-07-11 03:17] m1093782566 opened #48749 "MountPath inside container should be an absolute path"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

mount a hostPath type volume to a Pod.

[code]

[code]

Then, Pod failed as RunContainerError.

[code]

**What you expected to happen**:

kube-apiserver should validate it and make sure `mountPath` inside container should be an absolute path.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we nee

[2017-07-11 03:26] bsed commented on #12925
i have same problem

[2017-07-11 03:34] c-knowles commented on #45627
Following the above advice from @gladiatr72, we've tried to delete the init container annotations prior to new deploys and thought it might help someone facing the same issue. Our init containers don't change so frequently and we just started using them a bit more so we needed a workaround for these issues on k8s 1.6.4.

If we only delete the annotations, they seems to get restored immediately fro

[2017-07-11 03:39] liggitt commented on #45627
the population of the annotations happens during conversion, and can be removed in 1.8 (since the oldest supported kubelets will be at 1.6, which recognizes the API fields)

[2017-07-11 03:44] c-knowles commented on #45627
@liggitt Thanks, understood. Looking forward to it! Hopefully the above can help someone needing a workaround before 1.8.

[2017-07-11 04:52] supereagle commented on #48745
The same with issue #44473, has been fix by PR #45329, but not cherry-picked into release-1.6.  I will create  a PR to cherry pick this into release-1.6.

[2017-07-11 05:33] piosz commented on #30507
@RemingtonReackhof cool, thanks for letting us know.

cc @kubernetes/sig-cli-misc

[2017-07-11 05:33] piosz commented on #30507
@kubernetes/kubectl-maintainers

[2017-07-11 05:56] gyliu513 commented on #48463
@msau42 Yes, but I think that for this local storage issue, if introducing the validation is complex, we need at least document such issues.

[2017-07-11 06:26] FengyunPan commented on #48728
"failed to list openstack instances"--- It seems that controller manager can't list instance from nova, and I suspend token is timeout.
Can you try this: restart controller manager, then attach volume.
Or try latest version k8s.

[2017-07-11 06:46] FengyunPan commented on #47548
"failed to list openstack instances"--- It seems that controller manager can't list instance from nova, and I suspend token is timeout.
Can you try this: restart controller manager, then attach volume?

[2017-07-11 06:49] rushabhnagda11 commented on #46340
Facing the exact same issue, better filing it against acs-engine?

[2017-07-11 07:18] davidopp commented on #47867
@bsalamat @k82cn I guess the current behavior is OK because it is conservative (scheduler considers the resources to be in use even though kubelet considers them free). And actually it seems that scheduler is more "correct" than kubelet, since the resources really aren't usable until the pod is deleted, right? (IIUC that was Vish's original point)

[2017-07-11 07:34] izakp commented on #42957
What would be the expected behavior if the cluster in a hybrid network topology, i.e. nodes exist in both private and public subnets?  It would follow that when creating an internet-facing service ELB, you would want to attach the ELB to only those nodes in public subnets, and when creating an internal service ELB you would want to attach the ELB to nodes only in private subnets, no?  I am current

[2017-07-11 07:40] zhangqx2010 commented on #48687
Thanks for update! @luxas @liggitt
You bro really throw the right clue to me.
For security reason I hidden the real hostname for my servers.
In UAT env, my servers hostname is upper case while in kubelet logs I saw the name is lower case.
So at this time I changed my hostname to lower case and tried kubeadm join command, the cluster was set up.

So my issue is solved. (you can choose close this is

[2017-07-11 07:45] ddysher commented on #48463
You can go ahead and document it [here](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume).  It's tricky to surface the errors :)

[2017-07-11 07:53] fasaxc commented on #48719
@freehan Are you sure about that?  It's not what I was seeing. However, I think I tested _that_ behaviour on 1.6.6 (whatever GKE had available at the time), so it could have been added in 1.7.

[2017-07-11 07:56] matthiasr commented on #48483
My understanding from the comments so far is that it is desirable to be able to disable unauthenticated metrics ports but the normal, authenticated kubelet port should unconditionally include these metrics? That may change in a future release but it was the case so far and the 1.6->1.7 change was unintentional and unannounced.

[2017-07-11 07:57] luxas commented on #48483
That has been the case earlier, and is a behavior we must/should continue to have.

We haven't had a flag so far, so having that reporting always on for now is fine. We _might_ be able to add a flag, but no one has asked for it AFAIK, so for now it makes sense to always enable.

[2017-07-11 07:58] luxas commented on #48483
Correct

Correct, and I think we're planning to fix it in a v1.7 patch release

[2017-07-11 07:59] brian-brazil commented on #48483
It my opinion that cadvisor stats don't belong mixed in with the stat of the kubelet itself. These stats have different audiences (one is the cluster admin, the other is roughly cluster users), and putting them out through the same endpoint means that if e.g. you're a cluster admin you have to filter out all these uninteresting (and expensive) metrics just to see kubelet health.

[2017-07-11 08:05] luxas commented on #48483
@brian-brazil Happy to have that discussion in sig-instrumentation, but IMO, it's more important to fix this issue, get things back to normal, and then plan for a possible deprecation and removal (after ~6 months) of the feature when we have a viable alternative.

[2017-07-11 08:32] reza-ebrahimi commented on #42040
if you run docker pull inside your VM it should just works without any
problem, I assume that there is no problems about internet connection of VM
or any proxy behind your connection inside VM, the problem of myself is I
was tried to pull it to docker's VM not the minikube VM, when you run
"minikube start" it will create a VM and put anything necessary about
kubernetes startup inside it, but when

[2017-07-11 08:37] reza-ebrahimi commented on #42040
if you run docker pull inside your VM it should just works without any
problem, I assume that there is no problems about internet connection of VM
or any proxy behind your connection inside VM, the problem of myself is I
was tried to pull it to docker's VM not the minikube VM, when you run
"minikube start" it will create a VM and put anything necessary about
kubernetes startup inside it, but when

[2017-07-11 08:42] killy001 commented on #42465
does the capacity work well ? when the volume size more than the capacity, there is nothing happened, why?

[2017-07-11 08:42] h0tbird commented on #45398
Our CI/CD pipeline is using `helm` and we hit this issue as well.
[code]
I don't know how to avoid this problem other than removing the `PodDisruptionBudget` object.

[2017-07-11 08:43] andrey01 commented on #48617
Right, that did "work" for us because 1.6.6 did not do a node authorization which is a new feature of 1.7.0 :-)

[2017-07-11 08:45] jsafrane commented on #48504
What Cinder provisioner does is that it lists nodes from API server. They have region+zone labels and we can be sure they belong to the right cluster. On the other way, this list is not cached... Perhaps we could enhance `Provision()` call with a node informer?

[2017-07-11 08:51] simonswine commented on #36485
@yujuhong I think you linked to wrong PR: https://github.com/kubernetes/kubernetes/pull/47599. Thanks for fixing that, I can have a look at backporting it, but we need to make sure it will be considered as a bugfix and accpeted for backporting

[2017-07-11 08:53] rmt opened #48754 "Kubelet fails to download Infra-Pod from ECR"
/kind bug
/sig aws

**What happened**:

When trying to bootstrap an EC2 instance using docker images from ECR, every image works _except_ for the pod infra container image (as supplied to kubelet via the --pod-infra-container-image argument).  If I pre-download the image (docker login & docker pull), then it works.  Subsequent static pods configured by Kubelet, also using the same ECR registry, wo

[2017-07-11 08:57] thockin commented on #5607
/dev/fuse and /dev/kvm are pretty fundamentally different than
/dev/nvidia-* and I think they warrant a different solution.

Interestingly, to use /dev/fuse you have to be running with privileges
anyway (right?) so you can literally hostPath mount /dev/fuse today.  Not a
great answer, but it seems to work.

As for an API - what I want to avoid is codifying linuxisms into the kube
API any more than

[2017-07-11 09:14] xingzhou commented on #48602
root cause is that the `humanreadableprinter` does not attach the handlers for different types of objects, I'm making a patch and submit the fix then.

[2017-07-11 09:19] yastij commented on #48150
@timothysc @spiffxp @fejta @liggitt  - closing the issue, it seems that it doesn't happen anymore. do anyone knows the root cause of this and why this happened ? Thanks !

[2017-07-11 09:19] #48150 closed

[2017-07-11 09:24] yastij commented on #48716
/remove-kind bug
/kind support

[2017-07-11 09:25] yastij commented on #48716
please see : https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#limitations

as it states:

- Deleting and/or scaling a StatefulSet down will not delete the volumes associated with the StatefulSet. This is done to ensure data safety, which is generally more valuable than an automatic purge of all related StatefulSet resources.

[2017-07-11 09:45] jsafrane commented on #48416
Admission webhooks looks nice, however I see several issues:

* They are not enabled by default in any installation tool I checked (kubeadm, kops, cluster/kube-up.sh).
* While writing such webhook does not look complicated, deploying one in a default installation is a different matter.
* To keep things synchronous, we would need to run just one "master" instance of the webhook pod. What happens wh

[2017-07-11 09:48] luxas commented on #48617
Exactly. This is a dupe of https://github.com/kubernetes/kubeadm/issues/330 (BTW, please file kubeadm issues there).

We have PRs in flight for this, see: https://github.com/kubernetes/kubernetes/issues/48538 and https://github.com/kubernetes/kubernetes/issues/48594. The `--node-name` flag will be available in v1.7.1

[2017-07-11 09:48] #48617 closed

[2017-07-11 10:06] grobie commented on #48483
I started working on a fix, will send a PR today.

[2017-07-11 10:59] jsafrane commented on #42465
@killy001, `PVC.spec.capacity` is user's request for storage, "I want 10 GiB volume". `PV.spec.capacity` is actual size of the PV. PVC can bind to a bigger PV when there is no smaller available PV, so the user can get actually more than he wants.

Similarly, dynamic provisioning works typically in bigger chunks. So if user asks for 0.5GiB in a PVC, he will get 1 GiB PV because that's the smallest

[2017-07-11 11:06] codablock commented on #46244
@saad-ali A fix can be found in https://github.com/kubernetes/kubernetes/pull/48757

[2017-07-11 11:47] ianchakeres commented on #48463
@gyliu513 - I think the [external-storage/local-volume provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/local-volume/provisioner) would help avoid this problem. It could perform validation before adding PVs. In the future it could monitor them.

[2017-07-11 12:29] luispabon commented on #43632
We have, and found it way too cumbersome for local development.

In contrast, docker-compose is a lot easier, more concise, and we have yet to find any environment-y issues caused by difference between these two, except for this one issue we fortunately have a workaround for (HOSTALIASES).

We use the exact same base container images for development as well as builds. From the point of view of the

[2017-07-11 12:33] gyliu513 commented on #48463
Yes, but the problem is that if a user does not use local volume provisioner but use the steps same as what I did, will still failed. So I think maybe document this behavior somewhere would be better. @ianchakeres

[2017-07-11 12:35] lev-kuznetsov commented on #48361
This looks great! If this is adopted, is this a client side only change or I would have to update the cluster as well?

[2017-07-11 12:39] krish7919 commented on #48705
Ok, so this happened again on Azure Container Service and this affected our live instance used for a demo. And now I am of the opinion that this is not because of a startup dependency problem, but can hit anytime the kube-proxy hits the above error/stacktrace.

[2017-07-11 12:57] urzds commented on #43389
Would be great to see those. Maybe they could be merged upstream?

[2017-07-11 12:57] crassirostris commented on #48465
If it's about apiserver logs, even GCE setup rotates it once every 100MB and reading it from the beginning can actually cause some delays. If using a third-party solution is not an option, binarysearching the offset seems reasonable

You just have to linearly find the next `\n` after selecting the middle point. It works fine, I've seen this approach used before on many-GB files.

[2017-07-11 13:01] drigz opened #48759 "Bad error message: No nodes are available that match all of the following predicates:: Insufficient cpu (1)."
/kind bug

**What happened**:

I got the error "No nodes are available that match all of the following predicates:: Insufficient cpu (1)."

![image](https://user-images.githubusercontent.com/632207/28069338-6992c5fa-6649-11e7-87c1-f72d6d8c262f.png)

**What you expected to happen**:

Error message has just one colon (not "::") and does not contain a double negative. For example, I might expect:

No

[2017-07-11 13:17] cbonte opened #48760 "No InternalIP when upgrading to kubernetes >= 1.6.5 with VSphere Cloud Provider"
**BUG REPORT**:

/kind bug

**What happened**:
After upgrading the kubernetes cluster from 1.6.4 with the VSphere Cloud Provider enabled to 1.6.5/1.6.6 or 1.6.7, the cluster nodes don't have anymore InternalIPs

[code]

Several issues occur at this step.
For example, it breaks heapster with such an error :
[code]
**What you expected to happen**:
The node should have an InternalIP.

**How to reprod

[2017-07-11 13:18] drigz commented on #48759
@kubernetes/sig-ui-misc

[2017-07-11 13:31] cbonte commented on #48760
/area area/platform/vsphere area/cloudprovider

[2017-07-11 13:36] supereagle commented on #48747
Will submit the cleanup after PR #48669 merged.

[2017-07-11 13:47] ianchakeres opened #48761 "[Flake] pull-kubernetes-kubemark-e2e-gce test SUCCESS marked as failed"
**Is this a BUG REPORT or FEATURE REQUEST?**: Flake

/kind flake

**What happened**:  I submitted PR (https://github.com/kubernetes/kubernetes/pull/47999) and k8s-ci-robot reported a failure for pull-kubernetes-kubemark-e2e-gce. When I check the test output [link](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47999/pull-kubernetes-kubemark-e2e-gce/38859/), I see that the

[2017-07-11 13:49] ianchakeres commented on #48761
/sig testing

[2017-07-11 14:07] ijumps commented on #44298
@caseydavenport Hi, I got the same error. It's looks more like a bug for my situation. I create a new issue here: https://github.com/projectcalico/cni-plugin/issues/352

[2017-07-11 14:16] ianchakeres commented on #48761
![screen shot 2017-07-11 at 9 42 45 am](https://user-images.githubusercontent.com/4367440/28072731-e8fc311e-6621-11e7-8679-89388d8e7bf0.jpg)
![screen shot 2017-07-11 at 9 41 55 am](https://user-images.githubusercontent.com/4367440/28072737-ecbed310-6621-11e7-8695-0fad324b78c0.jpg)

[2017-07-11 14:26] liggitt commented on #48687
Node API objects names must be lower-case, so the hostname is lower-cased to comply with the API validation.

[2017-07-11 14:26] #48687 closed

[2017-07-11 14:28] liggitt commented on #48687
@luxas, it seems likely these are upgraded installations from the previous version, where the master node client cert was generated with a non-lowercased username. I thought kubeadm upgrades were not supported from 1.6 to 1.7.

In any case, a check should be done as part of that phase to ensure the cert is valid (has not expired, has the expected signer, username, and groups)

[2017-07-11 14:42] luxas commented on #48687
@liggitt Manual upgrades from v1.6->v1.7 are supported.
Automated upgrades coming in v1.7: https://docs.google.com/document/d/1PRrC2tvB-p7sotIA5rnHy5WAOGdJJOIXPPv23hUFGrY/edit#

[2017-07-11 14:43] WIZARD-CXY commented on #48465
My approach is using binary search on file size.First seek to middle of the file and then look around for the line and get time of this line then decide which half to jump to.

[2017-07-11 14:44] crassirostris commented on #48465
@WIZARD-CXY Yup, I meant exactly that, sorry for confusing

[2017-07-11 14:44] liggitt commented on #48687
What's involved in a manual upgrade? Where is that documented? Does it involve removing/regenerating the credentials and manifests that were modified in 1.7?

[2017-07-11 15:06] cbonte commented on #48760
/sig cluster-ops
/sig network
/area platform/vsphere
/area cloudprovider

[2017-07-11 15:22] xiangpengzhao commented on #48759
/sig scheduling also

[2017-07-11 15:23] xiangpengzhao commented on #48754
/sig node

[2017-07-11 15:23] xiangpengzhao commented on #48749
/sig storage

[2017-07-11 15:24] xiangpengzhao commented on #48747
/sig api-machinery

[2017-07-11 15:25] xiangpengzhao commented on #48743
/sig cli

[2017-07-11 15:26] lorenz commented on #45688
@euank After some tests I think you're right. I tried to reproduce on the two machines on 1409.5.0 and it cleans up pods properly. The only machine where it doesn't is the one still on 1298.7.0 (soon going to get updated). So I think we can (at least for my problem, not sure about the other ones) close this as fixed in CoreOS 1353.8.0.

[2017-07-11 15:26] #45688 closed

[2017-07-11 15:34] therc commented on #48744
Nevermind, I think I found the real problem. kube-proxy does try to flush UDP conntrack state, but there is no conntrack binary on the nodes:

`E0710 23:09:00.647925  865 proxier.go:794] conntrack return with error: Error looking for path of conntrack: exec: "conntrack": executable file not found in $PATH`

[2017-07-11 15:34] #48744 closed

[2017-07-11 15:46] yastij commented on #48760
/sig cloud

[2017-07-11 16:06] stangrin1 commented on #33789
- [ ]

- 1.

[2017-07-11 16:09] msau42 commented on #48463
I don't think this is a new issue.  If you try to create, as an example, an invalid nfs PV or gluster PV, you will not see the error until mount time.

[2017-07-11 16:41] yujuhong commented on #48465
Indeed, this is a "nice" feature to have, but not a necessity since logs can be archived and searched more efficiently in other manners.

By default in a GCE cluster, kubelet on the master node does not serve logs (`--enable-debugging-handler=false`), so this is not really an issue.

I am not against optimizing the seeking, but I do have some doubts on whether the benefits outweigh the extra compl

[2017-07-11 16:45] xrl commented on #48716
@yastij I think there is some confusion. The problem has nothing to do with the state of PVC/backends. The problem is that Pod could not be removed because there was data leftover in a kubernetes directory on the kube-node.

[2017-07-11 16:46] xrl commented on #48716
@yastij please add the kind/bug back to the ticket and remove support. Thanks!

[2017-07-11 16:48] zmerlynn commented on #48513
As of now, we won't be able to schedule anything there, and thus won't get logs from it.
At some point we may be in better position, when we will be able to schedule on not-ready nodes (this is planned, there is an open issue for it), but still if kubelet will be down we won't be able to gather logs using this approach.

It's worse than this. The most common case I want logs when kubelet is down i

[2017-07-11 16:53] zmerlynn commented on #48513
Ah, I re-read the PR. You're ensuring logexport on the node is working or SSHing when it isn't. And it keeps the original use of the cloud provider to get the node list. SGTM.

[2017-07-11 17:08] 007 opened #48767 "kubectl doesn't override certificate-authority from cmdline"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
* Created cluster with `kops`, which generated its own self-signed certificate and put `certificate-authority-data` in `~/.kube/config`.
* Put `master` (API) nodes behind HTTPS ELB and added [Amazon-hosted certificate](https://aws.amazon.com/certificate-manager/) for SSL termination.
* Run any `kubectl` command that has t

[2017-07-11 17:10] 007 commented on #48767
@kubernetes/sig-cli-misc

[2017-07-11 17:20] crassirostris commented on #48465
That's a great point, thanks

Sure, and big thanks for that! :)

Additionally, I've just realized that apiserver logs are not written to the stdout of the process in some setups. Also, in the future, we might want to read previous rotations of the container's log, which will also reduce the value of the binary searching in a single file. Also there's a CRI format issue regarding using end line as

[2017-07-11 17:21] bsalamat commented on #47867
@davidopp I agree. The current behavior is correct, but a bit conservative. Basically, the scheduler side is more conservative and waits until a pod is deleted from the cache before considering its resources released. That said, I believe resources of terminated-but-not-deleted pods are usable on nodes (should be verified). So, the current behavior is a bit less than ideal in terms of efficiency,

[2017-07-11 17:25] kow3ns commented on #28706
/close

[2017-07-11 17:25] #28706 closed

[2017-07-11 17:26] kewu1992 commented on #45368
Sorry I came late but it looks like the kernel panic of COS posted on the [comment](https://github.com/kubernetes/kubernetes/issues/45368#issuecomment-302467853) is not the same as the original issue because the stack traces are different.
So the kernel panic of COS on the [comment](https://github.com/kubernetes/kubernetes/issues/45368#issuecomment-302467853) should be a separate issue and we have

[2017-07-11 17:30] nicksardo commented on #48690
+ @cheftako

[2017-07-11 17:40] neverfox commented on #18233
Is it not possible and easier to simply empower the user by adding an option for "unexceptional" status codes? They could declare 200-only or all-but-errors.

[2017-07-11 17:41] k8s-merge-robot opened #48768 "Failure cluster [2a5ab8...] failed 381 builds, 28 jobs, and 17 tests over 1 days"
### Failure cluster [2a5ab861c1de4ade5f12](https://go.k8s.io/triage#2a5ab861c1de4ade5f12)
##### Error text:
[code]
##### Failure cluster statistics:
17 tests failed,    28 jobs failed,    381 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl cli

[2017-07-11 17:41] k8s-merge-robot opened #48769 "Failure cluster [a9e453...] failed 381 builds, 28 jobs, and 9 tests over 1 days"
### Failure cluster [a9e453c4ca9b8e328f1b](https://go.k8s.io/triage#a9e453c4ca9b8e328f1b)
##### Error text:
[code]
##### Failure cluster statistics:
9 tests failed,    28 jobs failed,    381 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl clie

[2017-07-11 17:41] k8s-merge-robot opened #48770 "Failure cluster [b0ac8e...] failed 381 builds, 28 jobs, and 7 tests over 1 days"
### Failure cluster [b0ac8e3395e1a4ad2501](https://go.k8s.io/triage#b0ac8e3395e1a4ad2501)
##### Error text:
[code]
##### Failure cluster statistics:
7 tests failed,    28 jobs failed,    381 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl clie

[2017-07-11 17:41] k8s-merge-robot opened #48771 "Failure cluster [1abdc1...] failed 381 builds, 28 jobs, and 2 tests over 1 days"
### Failure cluster [1abdc16c77f928c54461](https://go.k8s.io/triage#1abdc16c77f928c54461)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    28 jobs failed,    381 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl clie

[2017-07-11 17:41] k8s-merge-robot opened #48772 "Failure cluster [c4c989...] failed 381 builds, 28 jobs, and 1 tests over 1 days"
### Failure cluster [c4c989877505fcf67164](https://go.k8s.io/triage#c4c989877505fcf67164)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    28 jobs failed,    381 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Kubectl clie

[2017-07-11 17:41] k8s-merge-robot opened #48773 "Failure cluster [5e0e27...] failed 185 builds, 23 jobs, and 1 tests over 1 days"
### Failure cluster [5e0e2741a79ee16c32c8](https://go.k8s.io/triage#5e0e2741a79ee16c32c8)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    23 jobs failed,    185 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sho

[2017-07-11 17:41] k8s-merge-robot opened #48774 "Failure cluster [160696...] failed 185 builds, 20 jobs, and 3 tests over 1 days"
### Failure cluster [160696582bc425641952](https://go.k8s.io/triage#160696582bc425641952)
##### Error text:
[code]
##### Failure cluster statistics:
3 tests failed,    20 jobs failed,    185 builds failed.
Failure stats cover 1 day time range '10 Jul 2017 17:23 UTC' to '11 Jul 2017 17:23 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sho

[2017-07-11 17:51] jingxu97 commented on #48212
close this issue after PR is merged

[2017-07-11 17:52] tuliomonteazul commented on #40307
Even though increasing the limit is a solution, the root cause may be that old table entries are not being deleted after a cluster autoscale down.
There is a fix for it that may be released soon: https://github.com/kubernetes/kubernetes/issues/47524

[2017-07-11 17:56] yastij commented on #48716
Hmm thought that you were only talking about statefulSet volumes removal, indeed i mis-read what you wrote.

/remove-kind support
/kind bug

[2017-07-11 17:58] yujuhong commented on #36485
Oops.. I fixed that. Thanks.

I am not sure about backporting such a huge change and risking the possibility of destabilizing the previous releases. For 1.7, this may still be viable, though not very desirable. For 1.6, there were two different implementations (cri and pre-cri) and quite a lot of change has happened since then.

Init containers have been there for many releases and I don't think t

[2017-07-11 18:07] adityakali commented on #45368
@simonswine @jezell

That panic has been fixed in all currently COS milestones >= 59. i.e. including the latest cos-stable-59 which GKE is using. (Internal tracking issue b/62255954).
So if you are using the latest k8s/GKE version with COS, you shouldn't see it.

[2017-07-11 18:19] cmluciano commented on #48773
/remove-sig network

/sig cli

Issues seem to mirror https://github.com/kubernetes/kubernetes/issues/48768 in that kubectl cannot be found in the skew dir

[2017-07-11 18:20] cmluciano commented on #48774
/remove-sig network

/sig cli

Issues seem to mirror https://github.com/kubernetes/kubernetes/issues/48768 in that kubectl cannot be found in the skew dir

[2017-07-11 18:28] dimm0 opened #48776 "OIDC with CiLogon - client_id string failing because of ',' symbol"
**What happened**:
When using OIDC plugin with CiLogon, the client-id is causing problems.
First, I can't add it to the client config file:

#kubectl config set-credentials user1  --auth-provider-arg=client-id="myproxy:oa4mp,2012:/client_id/<my_client_id_string>"

error: Error: invalid auth-provider-arg format: 2012:/client_id/<my_client_id_string>

The comma is causing it to fail, and everything

[2017-07-11 18:36] erictune commented on #42002
To allow bootstrapping a scheduler pod onto a cluster, there needs to be some type of controller that does not depend on the scheduler itself.    Given that there has to be something that does it, I don't see why DaemonSet can't be that thing.

[2017-07-11 18:42] dimm0 opened #48777 "OIDC with CiLogon - failing with --oidc-username-claim=email"
/kind bug
/sig auth

**What happened**:
When using OIDC plugin with CiLogon for authentication and having api-server configured with "--oidc-username-claim=email", I get an error:

[code]

CiLogon is not returning email_verified field, but according to the [example](http://openid.net/specs/openid-connect-core-1_0.html#UserInfoResponse) the email-verified field is optional and can default to false.

[2017-07-11 18:46] dimm0 commented on #48777
/kind bug
/sig auth

[2017-07-11 18:46] dimm0 commented on #48776
/kind bug
/sig auth

[2017-07-11 18:48] RemingtonReackhof commented on #30507
Due to the differences in accepted object types between the `ResourcePrinter` and the `metrics_printer`, particularly that `RuntimeSort` uses a slice of runtime objects and `metrics_printer` uses `ResourceList`, I think it would be best to define a separate sort for the metrics objects that get passed to `metrics_printer`.

On top of this, I find that the format for values `--sort-by` uses, i.e.,

[2017-07-11 18:50] mengqiy commented on #48209
This list is all the utility kubectl imports, and where they should go.
[code]

[2017-07-11 19:45] davidopp commented on #42002
Bootstrapping was discussed earlier in the thread (though perhaps not thoroughly), see https://github.com/kubernetes/kubernetes/issues/42002#issuecomment-291759682

[2017-07-11 20:41] lavalamp commented on #48700
It appears that the events etcd cluster is misconfigured or down. Otherwise apiserver looks OK.

I am not sure where you got the `Observed a panic: "multiple NewLogged calls!" (multiple NewLogged calls!)` line from, it doesn't appear in the apiserver log you linked.

[2017-07-11 20:41] caseydavenport commented on #48510
/assign

[2017-07-11 20:46] caseydavenport commented on #48528
I wonder if there is a plan floating around for how to move from old-style selectors to the newer syntax. Anyone have a link?

Sounds like a worthwhile improvement - folks can create Deployments with selectors which can't be expressed on a Service today, which isn't great.

[2017-07-11 20:50] spzala commented on #32672
@theothermike hi, this seems like a known issue and there seems no real fix for it. i.e. you must specify type correctly.. I would suggest to look at the discussion here https://github.com/kubernetes/kubernetes/issues/2763 Lots of good comments from @liggitt This was another similar issue reported and closed https://github.com/kubernetes/kubernetes/issues/28974  If you are okay with it we should c

[2017-07-11 20:51] rushtehrani commented on #45626
Not sure if this helps, but I am only getting this issue with this [Jupyter image](https://hub.docker.com/r/jupyter/datascience-notebook/).  I haven't dug in much to figure out why yet.

[2017-07-11 21:01] shyamjvs commented on #48700
@lavalamp The apiserver.log is very big (~23GB) and it takes super long to load, so searching in browser doesn't work well. I just downloaded it  and verified that we do have such logs:

[code]

And I've checked the etcd-events logs and everything seems ok with it (like before). I'm almost sure the problem is in apiserver as PATCH node-status, POST pod-bindings, etc are failing:

[code]

[2017-07-11 21:09] shyamjvs commented on #48700
Also the test is failing due to failure responses on create RC requests. It seems to be something around apiserver's client-side logic rather than etcd side (https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/filters/wrap.go#L34).

[2017-07-11 21:12] shyamjvs commented on #48700
Reassigning it to you. Feel free to give it back as apt :)

[2017-07-11 21:21] bamb00 commented on #48520
From this link https://kubernetes.io/docs/tasks/debug-application-cluster/debug-cluster/
the kubelet.log should be in /var/log/kubelet.log.  I'm running CentOS 7.3.

[2017-07-11 21:31] freehan commented on #48719
@fasaxc
Check the `nat` table.

[2017-07-11 21:32] kargakis commented on #23211
We discussed this briefly in the sig-apps meeting yesterday and I am echoing bits from the discussion: the bar for new features is very high at this point (1.8) for various reasons: 1) we want to bring StatefulSets and DaemonSets on par feature-wise as much as possible (API consistency) 2) we need more feedback on the existing features; lots of good work has gone in 1.7 and we need to verify it. I

[2017-07-11 21:33] lavalamp commented on #48700
hm, I am not sure why vim didn't find that. grepping seems to work.

[2017-07-11 21:35] bamb00 commented on #48520
Fluentd needs the path to the kubelet log file.  Looks like kubelet.log file is located in /var/log for Ubuntu and CentOS does not.  Can I explicitly set kubelet.log to a path like /var/log/ in CentOS?

[2017-07-11 21:38] victorgp commented on #41038
Kubernetes is a critical piece in the infrastructure of anyone using it and letting it be vulnerable due to weak ciphers i think is a big issue.
I understand it is not easy to agree what ciphers to set and specially, what order, so if we want to make kubernetes secure, then let's let the users select their own ciphers with their own order.

Yes, it would be an extra parameter in the apiserver and

[2017-07-11 21:47] thomastaylor312 commented on #48777
I also just ran into this issue while using Okta

[2017-07-11 21:47] kargakis commented on #11505
We discussed this briefly in the sig-apps meeting yesterday and I am echoing my thoughts during the discussion: IMO auto-pausing is a knob that we generally need in Deployments; there is consensus that workload controllers (Deployments,  StatefulSets, DaemonSets, Jobs, etc.) are building blocks for higher-level orchestrators/worklflow engines, and this feature will enable advanced use-cases includ

[2017-07-11 21:52] #45170 closed

[2017-07-11 21:56] dcbw opened #48780 "pull-kubernetes-e2e-kops-aws docker build timeout"
https://prow.k8s.io/log?pod=pull-kubernetes-e2e-kops-aws-34285

[code]

[2017-07-11 22:02] crassirostris commented on #48520
@bamb00 Sure, it's not controlled by Kubernetes or kubelet though, it's part of the deployment. For example, if you're using init scripts, just fix the init script for kubelet. If you're using systemd, then logs are in journald, but you can change that probably in the unit file. And so on.

[2017-07-11 22:37] #48593 closed

[2017-07-11 22:39] lavalamp opened #48782 "k8s.io/apiserver: Too many requests handler double-calls NewLogged"
Example call stack from #48700:

[code]

We should fix this and **add an integration test that sets the limit low and exercises apiserver when it is getting too many requests**.

[2017-07-11 22:41] lavalamp commented on #48700
I filed https://github.com/kubernetes/kubernetes/issues/48782

I think the issue is being triggered by having more requests in flight than allowed. I think there is a flag that can be set higher, or you can try to figure out what is causing the big increase in requests.

[2017-07-11 22:47] thomastaylor312 commented on #48777
This is happening right [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/plugin/pkg/authenticator/token/oidc/oidc.go#L243). I am willing to submit a patch for this if we are ok with defaulting it to `false`

[2017-07-11 22:51] kow3ns commented on #48591
@gyliu513 This isn't a bug. Autoscaling isn't implemented for StatefulSets or DaemonSets.  Auto-scaling a stateless application based on cpu utilization generally makes sense. Autoscaling a stateful workload based on that criteria can often do more harm (at least in the short term) than good. If you are asking for an implementation of horizontal Pod auto-scaling for StatefulSet you should open thi

[2017-07-11 22:54] kow3ns commented on #48466
@kubernetes/sig-apps-feature-requests

[2017-07-11 23:01] gyliu513 commented on #48591
Thanks @kow3ns , can you please explain more for why scale a statefulset often do more harm than good?

[2017-07-11 23:02] krzyzacy commented on #48688
/close

[2017-07-11 23:02] #48688 closed

[2017-07-11 23:02] thomastaylor312 commented on #42654
PR open to fix the header parsing: https://github.com/coreos/go-oidc/pull/153

[2017-07-11 23:07] cblecker commented on #48780
/assign

[2017-07-11 23:07] cblecker commented on #48780
Fixed in https://github.com/kubernetes/kubernetes/pull/48762
/close

[2017-07-11 23:07] #48780 closed

[2017-07-11 23:07] paroque28 commented on #11626
Is it possible to use RBAC with Keystone groups? Thanks

[2017-07-11 23:36] caesarxuchao commented on #48209
Are you referring to the deepcopies? https://github.com/kubernetes/kubernetes/blob/master/pkg/api/v1/helper/helpers.go#L428-L429

The function can have the runtime.Scheme as its input, then it doesn't depend on pkg/api

[2017-07-12 00:10] crassirostris opened #48785 "k8s.io/kubernetes/federation/pkg/kubefed/init TestCertsTLS fails a lot"
PRs cannot be merged b/c of constantly failing test that is completely unrelated to the PR. Examples:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48713/pull-kubernetes-unit/40103/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48726/pull-kubernetes-unit/40094/
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48310/pull

[2017-07-12 00:17] k82cn commented on #48759
I think that should be fixed in https://github.com/kubernetes/kubernetes/pull/48172#discussion_r124696546

[2017-07-12 00:22] abgworrall commented on #47304
I'm seeing these same `k8s.io/kubernetes/federation/pkg/kubefed/init` errors in PRs against the 1.7 (#48726) and 1.5 branches (#48310) . Does this fix need to be backported ?

[2017-07-12 00:44] abgworrall commented on #47304
Oh wait, I can see it in 1.7, I'll rebase now :)

[2017-07-12 01:27] rickypai commented on #43632
that's unfortunate. I guess minikube does have overhead since you have to run it inside a VM on your mac machines.

But since all components are written in go and cross-compiled in darwin, I wonder if you could setup your own etcd (homebrew has this), then your own kubelet. Docker you can run Docker on Mac, then just have kubelet talk to the local docker socket.

This sounds like it would work wit

[2017-07-12 01:56] yifan-gu commented on #48427
I guess one thing I don't understand is why mounting the `/run/netns` via `ip netns add` will cause the problem here?

[2017-07-12 01:58] yifan-gu commented on #48427
Reviewed the WIP patch, want to see if there are better options than using cgo + lockosthread. Especially for cgo I am not sure if there will be some build problem with that?

[2017-07-12 02:10] CaoShuFeng opened #48787 "New daemon set to support isolated coredump for namespaces/users"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
Now linux coredump doesn't support namespace.
So all containers in kubelet node share the same /proc/sys/kernel/core/core_pattern kernel parameter. Coredump files from differnet pods/namespaces/users have to share the same core_pattern kernel parameter.
**What you expected to happen**:
Coredump files from different na

[2017-07-12 02:15] CaoShuFeng commented on #48787
I commit this issue to see whether this idea is acceptable to the community.
I will start writing this daemon set if the community says OK.

[2017-07-12 02:20] frankgreco commented on #45019
shouldn't this issue be opened in the [client-go](https://github.com/kubernetes/client-go) repo?

[2017-07-12 02:22] FengyunPan commented on #43909
@anguslees I think there are two ways to fix conflict about getPortByIp():

[2017-07-12 02:27] FengyunPan commented on #43909
@anguslees I think there are two ways to fix conflict about getPortByIp():
1.specify a network id on openstack cloud config file, IP is unique in a network, so we can get unique port for a IP.
2.add interface of “nova interface-list” for gophercloud's openstack, then use the interface to get port id.
# nova interface-list 6589f647-6c06-47e8-aa7e-436678dee8b0
+------------+-------------------------

[2017-07-12 02:30] zhangqx2010 commented on #48687
Also when kubeadm 1.7 doc release, lower-cased hostname may described as a best practice.

[2017-07-12 03:00] #28962 closed

[2017-07-12 03:00] #48743 closed

[2017-07-12 03:35] #48331 closed

[2017-07-12 04:32] IanLewis commented on #48586
I can confirm that downgrading to 17.03 works.

Also of note is that, if using docker-machine, the docker on the VM also needs to be downgraded.

[2017-07-12 04:32] #48586 closed

[2017-07-12 04:44] supereagle commented on #48776
I think it is not a bug, but a usage error. `--auth-provider-arg` is an array for multiple values, which are separated by comma. So it is not recommended that the values contain commas.

[code]

[2017-07-12 05:03] supereagle commented on #48745
This bug is not caused by the code mentioned by @rkasdf.
Even this code has logical error, but it has no effect on the result: no matter whether the host file exists or not, it will always be recreated.

[2017-07-12 06:07] fogongzi opened #48790 "kube-control-manager hanged by "attempting to acquire leader lease...""
@kubernetes/sig-controller-manager-bugs
/area [controller-manager]
/kind [bug]
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug
/area controller-manager

I install kubernetes 1.7 on ubuntu 17.04. The master includes three nodes and owns high availability by etcd election. Only a node (10.71.156.238) with kube-control-manager looks good. The other two nodes(10.71.156.176,10.71.156.170) with kub

[2017-07-12 06:09] #47718 closed

[2017-07-12 06:22] luxas commented on #48687
@liggitt https://kubernetes.io/docs/tasks/administer-cluster/kubeadm-upgrade-1-7/
Credentials are not modified in any way.

However, an upgrade wasn't the case here as he used v1.7 from `init` time. In any case, what occured here will be fixed with: https://github.com/kubernetes/kubernetes/pull/48594

[2017-07-12 06:28] xingzhou commented on #48361
till now, I think the change is only limited to kubectl

[2017-07-12 06:54] shrinandj commented on #45887
I am a bit confused about the exact workaround (also based on bug-[44737](https://github.com/kubernetes/kubernetes/issues/44737)).

Ideally, I would also like to only implement init, mount and unmount. To do that, should I do the following:

1. Start kubelets with --enable-controller-attach-detach=false.
2. Do not implement the getvolumename call-out. Does this mean that if the volume-plugin is in

[2017-07-12 07:08] #47205 closed

[2017-07-12 07:08] rkasdf commented on #48745
I know your point, I think this is important to provide a way for users who use k8s below version 1.7 to add hosts, but the recreating /etc/hosts will make the user who use scripts  adding hosts failed. Since you know the bug, I will close the issue.

[2017-07-12 07:08] #48745 closed

[2017-07-12 07:18] taherv commented on #16405
For those interested, this project (https://github.com/codedellemc/dvdcli) includes a "docker volume plugin api client" which can talk to a docker volume plugin without docker.

Maybe a flexvolume driver could be built by mapping flexvolume operations to dvdcli commands ?

[2017-07-12 07:30] thockin commented on #16405
This would be an appropriate use of a flex plugin

On Wed, Jul 12, 2017 at 12:19 AM, Taher Vohra <notifications@github.com>
wrote:

[2017-07-12 07:45] mliker commented on #37625
Hi, I am also experiencing this, however, I am running openshift origin 1.5.1 (kubernetes master v1.5.2+43a9be40). I am using dynamic provisioning. Although I haven't noticed anything being broken, the log lines are unsettling and repeat periodically:

[code]

storage class def:
[code]

service and endpoints were created by heketi:

[code]

Dynamic pvc claim in dc of docker-registry:
[code]

[2017-07-12 08:03] ace13 opened #48792 "Kubelet tries to use system-wide http_proxy setting for communicating with local pods"
/kind bug

**What happened**:
An additional proxy server was set up for our internal Kubernetes cluster, to replace one that had been running as an internet-accessible Kubernetes node.
This means that the proxy no longer has access to the Kubernetes CIDRs, which the old one had.

At this point, liveness and readyness checks started failing for all pods, corresponding to entries in the proxy access

[2017-07-12 08:07] chesterlai opened #48793 "HorizontalPodAutoscaler FailedComputeMetricsReplicas"
**What happened**:
Fail to use hpa, the status is unknown
kubectl get hpa
NAME         REFERENCE               TARGETS           MINPODS   MAXPODS   REPLICAS   AGE
php-apache   Deployment/php-apache   <unknown> / 50%   1         10        1          15m

**What you expected to happen**:
it should have value on targets

**How to reproduce it (as minimally and precisely as possible)**:
always

**Any

[2017-07-12 08:10] chesterlai commented on #48793
@kubernetes/sig-api-machinery

[2017-07-12 08:12] chesterlai commented on #48793
/sig @kubernetes/sig-api-machinery
/sig sig-api-machinery

[2017-07-12 08:14] chesterlai commented on #48793
/sig api-server

[2017-07-12 08:15] chesterlai commented on #48793
/kind bug
/sig sig-api-machinery
/sig api-machinery

[2017-07-12 08:18] FengyunPan opened #48795 "Ouput some strange log when starting kube-controller-manager"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/no

**What happened**:

After starting kube-controller-manager, get the following log:
/-------
W0712 06:40:45.824073       1 controllermanager.go:449] Unsuccessful parsing of cluster CIDR : invalid CIDR address:
W0712 06:40:45.824133       1 controllermanager.go:453] Unsuccessful parsing of service CIDR : invalid CIDR address:
I0712 06:40:45.824600

[2017-07-12 08:18] jeevarathinam-dhanapal opened #48796 "Kubernetes pods logs file is not symlinked to docker-container logs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
kubernetes pod logs are not linked to the respective docker container log file.
kubectl logs -f <pod-name> throws "no such file or directory" error

**What you expected to happen**:
Even after the kubelet restart, "kubectl logs -f <pod-name>"  should show the logs

**How to reproduce it (as minimally and precisely as pos

[2017-07-12 08:30] PLoic opened #48798 "network plugin is not ready: cni config uninitialized"
Hello, I want to do a fresh install of kubernetes via kubeadm, but when I start the install I'm stuck on

`[apiclient] Created API client, waiting for the control plane to become ready`

When I do a `journalctl -xe` I see :

`Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized`

And I don't why I

[2017-07-12 08:32] PLoic commented on #48798
/kind bug

[2017-07-12 08:43] tobegit3hub commented on #5607
Thanks @thockin . We have tested that mounting `/dev/fuse` as `hostPath` could not work so we have to run `Pod` with privileges in Kubernetes.

However, if we have native `docker`, we can mount `/dev/fuse` with `--device` which will work. And we can not pass the parameter of `--device` in Kubernetes yet.

That's our requirements and it would be great if it supports for `docker` and other container

[2017-07-12 08:44] feiskyer commented on #48796
/sig node

[2017-07-12 08:47] maci0 commented on #5607
exactly, years ago it used to work in docker with `--bind` but later they introduced `--device` and it stopped working with `--bind`.
Thats why `hostPath` is not a feasible option.

[2017-07-12 09:02] yastij commented on #48716
ping @janetkuo

[2017-07-12 09:19] jeevarathinam-dhanapal commented on #48796
/kind bug

[2017-07-12 09:20] PLoic commented on #48798
/sig area/kubeadm

[2017-07-12 09:25] crassirostris commented on #48785
Seems like https://github.com/kubernetes/kubernetes/pull/48764 will fix it, closing

[2017-07-12 09:25] #48785 closed

[2017-07-12 09:27] feiskyer commented on #48796
Docker container's log file is linked at pod creation time, it should not change on restarting kubelet. Did your pod be also restarted after kubelet? Is there any error message in kubelet's log?

[2017-07-12 09:28] FengyunPan opened #48800 "The DeleteRoute() of OpenStack cloudprovider run panic"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind bug

**What happened**:
After starting controller manager, get the following panic:
/----------------------------------
I0712 08:54:30.845526       1 routecontroller.go:175] Deleting route 10.245.1.0/24 10.245.1.0/24
I0712 08:54:30.845548       1 routecontroller.go:146] Creating route for node ab-6l35lzekrg-0-7igjn3vr43tw-kube-minion-abhezrwnquc

[2017-07-12 09:46] FengyunPan commented on #48800
cc @kubernetes/sig-openstack-bugs

[2017-07-12 09:48] yastij commented on #48716
@xrl -my guess is that this is the correct behaviour:

when trying to clean we use:
[code]
but since you are running a StatefulSet volumes are not removed, hence this condition is defaulting to true : https://github.com/kubernetes/kubernetes/blob/release-1.5/pkg/kubelet/kubelet_volumes.go#L109 with no error, that's why you are seeing the nil.

this was fixed in 1.6 i think in order to distinguish

[2017-07-12 09:50] johnzheng1975 commented on #17088
For scenario “B**regor commented on Jun 13**”, the solution from "**aledbf commented on Jun 13**", **not work** .

Here is example in AWS:
Per solution, each namespace must generate one ELB (load balance)
However, in AWS route 53, one domain www.abc.com can only point to single ELB (load balance).

So, you cannot combine all namespace api into one domain: www.abc.com
You have to divide api into di

[2017-07-12 09:59] crassirostris opened #48802 "Refactor sig/instrumentation e2e tests organization"
- Move sig/instrumentation e2e tests to a separate directory
- Add a new tab to testgrid with all sig/instrumentation tests

[2017-07-12 10:02] zhangqx2010 opened #48803 "kube-dns keeps crash loop"
/kind bug

**What happened**:
Using kubelet 1.7, after setting up kube cluster. The kube-dns pod keeps crash loop.

[code]

[code]

[code]

[code]

[code]

[code]

[code]

**Anything else we need to know?**:
Looking up for similar issue. and found #27671. But I'm not sure whether it is the same issue.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

- OS (e.g. from /etc/os-r

[2017-07-12 10:04] zhangqx2010 commented on #48803
/sig cluster-lifecycle

[2017-07-12 10:13] tsmetana commented on #44858
One thing with the `Attached` attribute that is actually quite serious problem I didn't fully realize: it changes the behaviour in an incompatible way. Any external application assuming the volume present in the `VolumesAttached` is really attached and fully accessible would break. So in the end @jingxu97 was right: the simplest way to fix this is to add another array. I really don't like the data

[2017-07-12 10:31] benbc commented on #48422
@supereagle I'm not sure what I was doing differently. I am now seeing (on GKE) the error log `event.go:259] Could not construct reference to: '&v1.ObjectReference{Kind:"Pod"...`, which is suspect _is_ fixed by the PR you pointed to.

Kubernetes 1.6.7 is not yet available on GKE, so I can't test the fix in my exact environment.

I'll mark this as closed and reopen it if the problem turns out not t

[2017-07-12 10:31] #48422 closed

[2017-07-12 11:56] #47914 closed

[2017-07-12 12:00] cbonte commented on #48760
Performing some more tests on a mini instance outside of the production cluster, I think I've identified the issue.
The configuration required to start kubelet with the `--node-ip` option (otherwise the wrong IP/interface is used to communicate between nodes). The issue is triggered when this option is set.

The `vsphere` cloud provider looks OK. But the issue is located here :
https://github.com/

[2017-07-12 12:03] csarora commented on #8211
I am getting same error on centos and k8 v1.6.6 , all other commands work only exec gives error sending request.

`root@dotricorder03-master-01 templates]# kubectl exec -it kafka-0 /bin/sh`

`error: error sending request: Post https://172.22.16.69:6443/api/v1/namespaces/default/pods/kafka-0/exec?command=%2Fbin%2Fsh&container=kafka&container=kafka&stdin=true&stdout=true&tty=true: EOF
`

[2017-07-12 12:10] krogon-dp commented on #17088
@johnzheng1975: The issue is about cross-namespace rule definitions in ingress. You seems to have conceptual problem on AWS, even before the traffic goes to k8s cluster. If you choose single domain you are stick to single ELB. If you are using subdomains, you are free to choose - single/multiple ELB. You have to choose.

PS. To generate many ELB create multiple kubernetes services (type LoadBalanc

[2017-07-12 12:57] cbonte commented on #48760
/sig node

[2017-07-12 13:10] huornlmj commented on #41038
Yes I agree that users should be able to determine and configure the ciphers to use.

[2017-07-12 13:14] ncdc commented on #8211
@csarora that is a different error (yours is `EOF`, this issue was about x509 certificate hostname verification). I'd recommend either posting on stackoverflow or creating a new issue here.

[2017-07-12 13:17] yastij commented on #48760
ping @kerneltime

[2017-07-12 13:21] ncdc commented on #27790
The `Requeue` function no longer exists. I don't believe there is anything similar to it after grepping through the code. Closing, but please reopen if needed.

[2017-07-12 13:21] #27790 closed

[2017-07-12 14:18] adam-sandor commented on #16863
I managed to solve this for Spring by replacing dots with underscores. I'm running the PetClinic example in Kubernetes like with these env params:
[code]

[2017-07-12 14:21] ravisantoshgudimetla commented on #48646
@bsalamat I can pick this up, in case you haven't started implementation. I think this could be broken down into further tasks, based on https://github.com/kubernetes/community/pull/745/files like:

- Implement a  queue which holds the incoming pods in scheduler.
- Modify scheduler logic to pre-empt some pods based priority scheme described in above doc.
etc. WDYT?

[2017-07-12 14:21] bradbeam commented on #48716
I'm not sure I'm authoritative here, but in researching this the updated kubelet-wrapper was released with coreos 1353.8.0

[2017-07-12 14:27] dcbw commented on #48798
@PLoic you get this error because no CNI network has been defined in /etc/cni/net.d and you're apparently using the CNI network plugin.  Something has to write a config file to that directory to tell the CNI driver how to configure networking.  I'm not sure what/how kubeadm does that though, so I'll leave that to @jbeda or other kubeadm folks.

[2017-07-12 14:32] yastij commented on #48716
@bradbeam - seems that these issues appeared in coreos/bugs#1831

[2017-07-12 14:52] stuart-warren opened #48811 "kube-proxy should report it's own version information"
**BUG REPORT**:

/kind bug

**What happened**:
We run the kube-proxy in a self hosted manner via hyperkube and the kubelet in rkt on the host.

After deploying a new version of a kube-proxy daemonset I noticed that the nodes `.status.nodeInfo.kubeProxyVersion` field was still showing the old version information.

This appears to be due to the kubelet assuming that the kube-proxy is the sameversion

[2017-07-12 14:53] stuart-warren commented on #48811
/sig node

[2017-07-12 15:01] shyamjvs commented on #48700
@lavalamp The issue is not due to 429s. We have them happening all the time during scale tests (even before this failure). However they were handled gracefully. After digging up a bit it seems like the apiserver panic'ing is indeed the root cause, as it results in the response code being 0 which makes the e2e.test client think that it failed to create stuff.

[2017-07-12 15:05] #48570 closed

[2017-07-12 15:05] shyamjvs commented on #48700
Looking at the diff of the commits when this started failing (https://github.com/kubernetes/kubernetes/compare/bce32b66c...9dd6a935fc58a7)

[2017-07-12 15:11] yastij commented on #48811
/area kube-proxy

[2017-07-12 15:14] shyamjvs commented on #48700
All of them seem fine except PR #48445 (cc @deads2k @sttts ) which I'm almost 100% sure is the reason for this.
IIUC moving the PanicRecovery handler to after the MaxInflight handler is causing NewLogged to be called twice (while previously it was called only in MaxInflight).

[2017-07-12 15:19] shyamjvs commented on #48700
I think we can get rid of the logging in inflight handler now that PanicRecovery does it anyway at the end. Will send a PR for this.

[2017-07-12 15:23] dcbw commented on #43567
I think kubeadm should be setting up networking here, if it's not using kubenet?  i think this is a configuration issue that's not really related to sig/network.

[2017-07-12 15:32] ncdc opened #48814 "AWS cloud provider doesn't support assuming roles"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: It's not possible to configure the AWS cloud provider to assume a role

**What you expected to happen**: It should be possible to assume a role

**How to reproduce it (as minimally and precisely as possible)**:

1. Create a new EC2 VM using an assumed role such that only that role can see the VM
1. Set the envi

[2017-07-12 15:54] jdumars commented on #48690
/sig azure
Adding for visibility only

[2017-07-12 16:03] #46244 closed

[2017-07-12 16:11] cbonte commented on #48760
Modifying the code like this solved the issue :
[code]
which returns :
[code]
I guess it can be done in a cleaner way, but it was to quickly test the fix.

[2017-07-12 16:11] eparis opened #48816 "LoadBalancerRR: log message spam"
/kind bug

**What happened**:
We constantly log message like
[code]
at V(2) that don't tell any useful information.

https://github.com/kubernetes/kubernetes/pull/48635

[2017-07-12 16:17] kargakis commented on #43567
/remove-sig network
/sig cluster-lifecycle

[2017-07-12 16:28] divyenpatel commented on #48760
CC: @BaluDontu @luomiao @tusharnt

[2017-07-12 16:41] JulienBalestra commented on #48427
### Issue

@yifan-gu the issue come with the following steps:

1. system boot
2. systemd unit `ExecStart=<rkt --net=someNetwork my-aci:1>`

    - new netns like `/run/netns/cni-a4c0c2ab-358a-7c56-af6d-3bd3e078b1a5`

3. systemd unit `ExecStart=<kubelet>`
4. kubelet **RunPod** `hostNetwork: false`

    - called `ip netns add`: mounted `/run/netns` tmpfs
5. `my-aci:1` loose its cni-netns

### Solutio

[2017-07-12 16:45] alindeman commented on #48483
@grobie Do you expect to change it back so that `:10255/metrics` includes cAdvisor metrics? Or will the fix be something different? I ask because this broke prometheus-operator's ability to scrape cAdvisor metrics, and I'm wondering if I should propose a change to prometheus-operator to look for metrics on the cAdvisor port, or just hold out for cAdvisor metrics to come back on port 10255.

[2017-07-12 16:59] xiangpengzhao commented on #48798
xref: #43567

[2017-07-12 17:04] xiangpengzhao commented on #48792
/sig node
/sig network

[2017-07-12 17:07] csarora opened #48819 "kubectl exec fails : error sending request on centos 7 & k8s v1.7.0"
**OS :** Centos 7 Vsphere VM
**k8s version :** v1.7.0 + Weave Networking , single master node installation with **proxy enabled**
Installed k8 successfully using **kubeadm init --kubernetes-version v1.7.0**
all the pods are up and new deployment get success .
**## Issue : Kubectl exec fails**

`[root@dotricorder03-master-01 ~]# kubectl exec -it busybox /bin/sh
error: error sending request: Post ht

[2017-07-12 17:07] grobie commented on #48483
@alindeman I understood the request to bring back cAdvisor metrics on `:10255/metrics` for now to restore the 1.6 behavior.

I'm still trying to find the best way to restore the old behavior and test the fix, and given the recent events at SoundCloud I'm also quite busy at the moment, but should have a PR ready by tomorrow.

[2017-07-12 17:08] alindeman commented on #48483
@grobie Thanks for working on it :heart:

[2017-07-12 17:27] sharcs-lukasz commented on #43516
Hi All,
We are observing the same problem, I believe. Cluster in GKE with +20 nodes and over 60 pods.
Cluster was stable until early this week. We observe frequent repair operations and nodes are failing, meaning they go into NotReady state. Inspecting such nodes gives:

  Type                  Status          LastHeartbeatTime                       LastTransitionTime                      Reason

[2017-07-12 17:57] #48816 closed

[2017-07-12 18:05] smarterclayton opened #48820 "Convert all remaining printers to TableHandlers (from Handlers)"
Will allow us to continue moving Get to the server side and reusing the code.  Each resource type can be done as a separate commit / PR.

[2017-07-12 18:11] fabianofranz commented on #48820
Examples:

https://github.com/kubernetes/kubernetes/pull/48022
https://github.com/kubernetes/kubernetes/pull/48034

[2017-07-12 18:12] fabianofranz commented on #48820
cc @wanghaoran1988

[2017-07-12 18:16] luxas commented on #48690
Probably makes sense to label this with all cloud related SIGs...

[2017-07-12 18:30] mikedanese opened #48825 "Upgrade failure: SchedulerPriorities [Serial] Pod should avoid to schedule to node that have avoidPod annotation"
SchedulerPriorities [Serial] Pod should avoid to schedule to node that have avoidPod annotation 1m7s
[code]

Looks like the node name is too long

@kubernetes/sig-scheduling-bugs @pwittrock @krousey

[2017-07-12 18:37] ncdc commented on #48819
What do you mean by "with proxy enabled"?

Can you check the log files for the apiserver, kubelet, weave (?) and see if you see any errors?

@liggitt do you remember any EOF errors around exec/spdy?

[2017-07-12 18:41] arunmk commented on #48331
Is there a way to know the release for which this fix is scheduled?

Thanks

[2017-07-12 18:44] bsalamat commented on #48646
@ravisantoshgudimetla I am already working on this, but this is one of the five issues listed in https://github.com/kubernetes/kubernetes/issues/47604. Feel free to pick any other one. Those are mostly around the idea of adding priority to ResourceQuota and would make more sense if you started by adding a design doc on that topic.

[2017-07-12 18:47] spzala commented on #28545
@jsoriano +1 @y2kenny hi, can you please verify if this is still an issue or can we close it please? Thanks!

[2017-07-12 18:52] #47791 closed

[2017-07-12 18:52] msau42 opened #48832 "Need e2e tests for local persistent volumes"
Basic tests for now:

- Single pod
- Multiple pods sharing
- Read/write
- Mount/unmount

[2017-07-12 18:52] msau42 commented on #48832
/assign @ianchakeres

/sig storage

[2017-07-12 19:12] dimm0 commented on #48776
The OAuth spec is not prohibiting any symbols in the client-id string. And it's not working as an array with comma either..

I understand why --auth-provider-arg=client-id=a,b wouldn't work, but IMHO --auth-provider-arg=client-id="a,b" should be treated as a string

And the main problem is on the server side. It's working for verifying the existing token, but not working for refreshing one.

[2017-07-12 19:25] liggitt commented on #48819
No. @tallclair this ring any bells around the CRI redirect paths?

[2017-07-12 19:40] julianvmodesto commented on #34710
@bgrant0607 and @soltysh was there discussion about solving this for non-CronJob-spawned Jobs?

[2017-07-12 19:44] tallclair commented on #48819
I have seen an EOF error before, but I can't remember what the context was. I think we need to see the logs to comment further.

[2017-07-12 19:48] janetkuo commented on #48245
/sig node

I'm not sure what terminated the container. Maybe sig nodes team can help answer this quesiton. Would kubelet ever send `SIGINT`? @kubernetes/sig-node-bugs

[2017-07-12 19:58] julianvmodesto commented on #26909
@liggitt hmm, I don't see that RBAC output error.

[code]

[2017-07-12 19:59] julianvmodesto commented on #26909
Is there a PR number?

[2017-07-12 20:21] caseydavenport commented on #48510
I've managed to re-create this and I'm looking into the cause.

Looks like, at least in my repro scenario, the kubelet restart occurs at such a time that the CNI plugin execution isn't occurring and thus is leaving the pod sandbox without networking configured.

When the kubelet starts back up it tries to sync the pod, notices that that sandbox container already exists, and thus skips CNI executio

[2017-07-12 20:35] bklau commented on #16405
@thockin @taherv  That's good news.  Hope it gets traction...

[2017-07-12 21:08] #46629 closed

[2017-07-12 21:08] #48800 closed

[2017-07-12 21:23] mattbates commented on #39989
@nikhiljindal @quinton-hoole We'd also be keen to read the design doc (if it can be found) and also perhaps help contribute here too. We're seeing increasing interest in cross-region/cloud federation.

[2017-07-12 21:42] kow3ns commented on #48591
HPA based on CPU makes two assumptions.

1. CPU varies with direct proportion to QPS
1. QPS is load balanced, and when auto scaling occurs, the increased capacity of a new Pod will decrease the per Pod QPS, and therefore will decrease the per Pod CPU utilization.

Stateful workloads may violate .1. For example, log structured merge trees and append only btrees may cause CPU spikes during compactio

[2017-07-12 22:07] foxish opened #48839 "SIG Apps Test Reorganization"
- [x] Label & move all sig-apps owned tests
    - [x] Workload controller tests (https://github.com/kubernetes/kubernetes/pull/48828)
    - [x] Disruption controller tests (https://github.com/kubernetes/kubernetes/pull/48827)
    - [x] [Network partition tests](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/network_partition.go) co-owned with sig-network
    - [x] Upgrade tests (htt

[2017-07-12 22:09] crimsonfaith91 commented on #48839
@foxish i will work on moving upgrade tests.
/assign @crimsonfaith91

[2017-07-12 22:20] mattmoyer commented on #48814
I think using the default credential provider chain in aws-sdk-go is probably the best option. I'm not sure if we need to copy the logic vs. just vendoring the package.

[2017-07-12 22:20] spzala commented on #9012
@thockin hi, I could recreate it with v1.6.4 and I was wondering if there are two issues here - bad message and also wrong message?
`spec.selector:` is not required. The only required section is `spec.template`.
I got this output:
[code]

[2017-07-12 22:21] ncdc commented on #48814
We already have it vendored, fyi

[2017-07-12 22:34] gyliu513 commented on #48591
Thanks @kow3ns for the detailed explanation, there is already a feature request https://github.com/kubernetes/kubernetes/issues/44033 , so I will close this one.

[2017-07-12 22:34] #48591 closed

[2017-07-12 22:36] kuroneko25 commented on #33483
Are there any docs published?

[2017-07-12 22:57] k82cn commented on #44188
/reopen

[2017-07-12 23:02] janetkuo opened #48841 "DaemonSet to support "add first, then delete" rolling update"
DaemonSet currently supports "delete first, then add" rolling update strategy.

This is a feature request for DaemonSet to support "add first, then delete" rolling update. This can be done with a new upgrade strategy. Users will use `maxSurge` in addition to `maxUnavailable` in this new upgrade strategy. With this, each node can have at least one Daemon pod running on it during a rolling update.

[2017-07-12 23:27] k82cn commented on #48841
/cc

[2017-07-12 23:46] kow3ns commented on #44033
@kargakis @smarterclayton @adohe @Tedezed

Before we enable this feature I think we need to consider a few things.

CPU based auto-scaling works well if the following is true
1. The CPU utilization of the application being scaled varies with direct proportion to QPS
1. The application is load balanced, and adding capacity in the form of a Pod will decrease individual Pod QPS, and, therefore, indiv

[2017-07-12 23:48] dashpole opened #48843 "Deprecate and remove flags and conditions replaced by eviction flags and conditions."
The deprecated flags are documented [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/kubelet-eviction.md#deprecation-of-existing-features).
- [x]  1.6: #41941 Depreciate the `--low-diskspace-threshold-mb` and `--outofdisk-transition-frequency` kubelet flags.
- [x]  1.7: #46448 Set the default for `--low-diskspace-threshold-mb` to 0, which causes the OutOfDis

[2017-07-12 23:49] dashpole commented on #48843
cc @vishh @derekwaynecarr
/sig node

[2017-07-12 23:50] wongma7 commented on #48701
this is working as intended, kube can't/won't enforce the capacity of PVs, the capacity field on PVs is just a label. It's up to the "administrator" i.e. the creator of the PV to label it accurately so that when users create PVCs that needs >= X Gi, they get what they want.

For a hostPath PV, assigning a capacity may be difficult when the user can use as much free space as there is at that host p

[2017-07-12 23:55] msau42 commented on #43640
I updated the list with the 1.8 plan.

[2017-07-12 23:56] crimsonfaith91 commented on #48839
@foxish i will also work on adding sig owners for statefulset test clusters.

[2017-07-13 00:24] #48700 closed

[2017-07-13 00:26] sudharkrish commented on #48643
Please help
@kubernetes/sig-api-machinery
/sig api-machinery

[2017-07-13 00:39] mengqiy commented on #41913
Should be fixed by #48786

[2017-07-13 01:18] shiywang commented on #48602
dup of https://github.com/kubernetes/kubectl/issues/43

[2017-07-13 01:23] #48568 closed

[2017-07-13 01:24] nicksardo opened #48848 "GCE: Services (LoadBalancer) with static ip causes panic in 1.7"
/kind bug

**What happened**:
Services of type LoadBalancer (GCE) with IP addresses promoted to static (by user or by orphan) cause the service controller to panic. The constant panicking will cause a reboot loop of the pod.

**How to reproduce it (as minimally and precisely as possible)**:
1. Create a service on GCP
2. Expose it
3. In the GCP Console, promote the IP address of the LB to static.

[2017-07-13 01:25] nicksardo commented on #48848
/sig network
/assign
/area platform/gce

[2017-07-13 01:27] nicksardo commented on #48848
cc @bowei

[2017-07-13 02:02] BeHiz commented on #41130
Would love help on how to implement AntiAffinity on StatefulSet (no two nodes should run same statefulset service).
I could not find an example of where to put the AntiAffinity entries as part of StatefulSet tags

[2017-07-13 02:06] killy001 commented on #48701
@wongma7  How can I limit the shared hostPath volume size?

[2017-07-13 02:16] xiangpengzhao commented on #48701
local volume type might be useful for you. See:https://kubernetes.io/docs/concepts/storage/volumes/#local

[2017-07-13 02:18] zhangqx2010 commented on #48803
After delete calico, kube-dns come back.
It looks likely due to the calico yaml not compatible with kube 1.7.
Trying to figure out the issue.

[2017-07-13 02:19] dixudx commented on #48841
/cc

[2017-07-13 02:24] luomiao commented on #48760
@cbonte
Thanks for filing this issue related to vSphere cloud provider.
I agree with your analysis.
It seems the current `setNodeAddress` function assumes that the IP address specified by user can only be InternalIP.
Your fix to `kubelet_node_status.go` is a better solution than work-around in cloud provider.

[2017-07-13 02:40] #46070 closed

[2017-07-13 02:42] WIZARD-CXY commented on #48465
@crassirostris I understand your concern. close for now

[2017-07-13 02:42] #48465 closed

[2017-07-13 03:02] wanghaoran1988 commented on #48820
I will babysit this

[2017-07-13 03:39] justlooks opened #48850 "node can not join cluster"
Environment:

Kubernetes version (use kubectl version): v1.7.0
Cloud provider or hardware configuration**:
OS (e.g. from /etc/os-release): CentOS 7
Kernel (e.g. uname -a): Linux k8s-master 3.10.0-514.6.2.el7.x86_64
Install tools: Kubeadm
Others:
docker version : Docker version 1.12.6,
My RPM version :
docker-1.12.6-16.el7.centos.x86_64.rpm
kubectl-1.7.0-0.x86_64.rpm
kubernetes-cni-0.5.1-0.x86_64.r

[2017-07-13 03:41] justlooks commented on #48850
/area [kubeadm]

[2017-07-13 03:54] bowei commented on #48803
cc: @dnardo

[2017-07-13 03:56] bowei commented on #48803
@dnardo -- nevermind, this isn't related to network policy

[2017-07-13 04:07] cleverlzc commented on #18227
Hi，@2opremio    I also got these errors  ＂ chgrp: invalid group: 'kube-cert'.＂Why are you "Setting CERT_GROUP=id -g"?

[2017-07-13 04:45] shiywang commented on #48820
just have a question here, resource like `externaladmissionhookconfigurations ` we just print `[]string{"NAME", "AGE"}`, and I think it's already covered by [AddDefaultHandlers](https://github.com/kubernetes/kubernetes/blob/1108738200331ace6c4752fb10ecf417d9e99a32/pkg/printers/internalversion/printers.go#L259-L259), so it's not necessary to add extra handler for resource only print `NAME` and `AGE

[2017-07-13 05:22] gyliu513 commented on #41130
@BeHiz as we want to update the document, so you may want to update the document here https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/workloads/controllers/statefulset.md

For an example of `Affinity`, please refer to https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/concepts/configuration/assign-pod-node.md#inter-pod-affinity-and-anti-affinity-beta-f

[2017-07-13 06:17] xingzhou opened #48851 "Kubectl should print out flex volume information"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
While using `kubectl describe pv flex-volume` to describe a flex-volume pv, the `source` section is empty.

**What you expected to happen**:
Need to print out the flex-volume info, like Drive, FSType, like other type of volume.

**How to reproduce it (as minimally and precisely as possible)**:
Create a PV with flex-vol

[2017-07-13 06:19] xingzhou commented on #48851
/sig kubectl
/sig storage

[2017-07-13 06:55] alioliver commented on #48798
@dcbw Hi dabw  Environment   same but  I get this same  error

[2017-07-13 06:58] liqlin2015 commented on #48841
See this doc https://kubernetes.io/docs/tasks/manage-daemon/update-daemon-set/

[2017-07-13 06:59] #48848 closed

[2017-07-13 07:16] alahijani commented on #16863
I was able to sidestep this issue in .Net Core by replacing colons with double underscores.

[code]

[2017-07-13 07:22] PLoic commented on #48798
It's seem to working by removing the` $KUBELET_NETWORK_ARGS ` in `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf`

[2017-07-13 07:27] kargakis commented on #48841
Can't it be added in the existing RollingUpdate strategy? Why?

[2017-07-13 07:29] tiendungitd commented on #48798
removing $KUBELET_NETWORK_ARGS not work with me.

[2017-07-13 08:04] clenimar commented on #48703
cAdvisor was reporting an almost-full filesystem. I changed the docker storage driver from devicemapper to overlay, and also increased the partition size (from 5 GB to 10 GB). Now the threshold stopped being met, but the eviction signals continues. See the logs from kubelet service:
[code]

[2017-07-13 08:30] feiskyer commented on #39130
Seccomp is addressed at #46332.

[2017-07-13 08:35] feiskyer commented on #34040
The feature has been moved to [cri-tools](https://github.com/kubernetes-incubator/cri-tools), and https://github.com/kubernetes/features/issues/292.

[2017-07-13 08:35] feiskyer commented on #34040
Closing it here.

[2017-07-13 08:35] feiskyer commented on #34040
/close

[2017-07-13 08:35] #34040 closed

[2017-07-13 08:37] ddysher commented on #48832
Let's extend this issue to also include provisioner e2e test?

[2017-07-13 09:06] k8s-merge-robot opened #48863 "Failure cluster [87a6d0...] failed 101 builds, 16 jobs, and 1 tests over 1 days"
### Failure cluster [87a6d0068c40bae8e0e4](https://go.k8s.io/triage#87a6d0068c40bae8e0e4)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    16 jobs failed,    101 builds failed.
Failure stats cover 1 day time range '12 Jul 2017 07:55 UTC' to '13 Jul 2017 07:55 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Services sho

[2017-07-13 09:08] luxas commented on #18227
@cleverlzc Please don't use this method anymore, it has been deprecated for a long time and is now removed officially. I'd suggest you use kubeadm instead.

[2017-07-13 09:13] csarora commented on #48819
@ncdc Proxy enabled means in our vpshere centos VM we first export proxy ,  http_proxy , https_proxy and no_proxy.
@tallclair   this EOF error for kubectl exec occurs ony for v1.6.*+ or v1.7  but for  v1.5.* works fine on same VM, for v6 too all PODS are coming up successfully only exec fails.
Is it something to do with hostname of VM ?

[2017-07-13 09:28] pavels opened #48865 "kube-apiserver 1.7 breaks high availability"
/kind bug

**What happened**:

while migrating from 1.4 to 1.7 (and to etcd V3 api) we found that our high availability setup broke. We have setup very similar to this: https://kubernetes.io/docs/admin/high-availability/ - we have 3x complete control plane (etcd with 3 nodes + 3 api servers, 3 controllers and 3 schedulers) and we have haproxy on each worker node load balancing the api servers (kub

[2017-07-13 09:29] alioliver commented on #48798
@PLoic also not work with  me

[2017-07-13 09:29] #46769 closed

[2017-07-13 09:29] piosz commented on #46769
Closing per https://github.com/kubernetes/kubernetes/issues/46769#issuecomment-307236102

[2017-07-13 09:32] krish7919 commented on #48705
Update: I think [this commit](https://github.com/kubernetes/kubernetes/commit/41c4e965c353187889f9b86c3e541b775656dc18) already fixes the issue and azure needs to update to v1.7.

/sig azure

[2017-07-13 09:33] bruceauyeung opened #48866 "pod status is always terminating"
**Is this a BUG REPORT or FEATURE REQUEST?**:
BUG REPORT

/kind bug

**What happened**:
i have a k8s cluster(1.6.4), all components run as static pods expect that kubelet runs as a normal docker container(bootstrapped by a systemd service). all conponents are started using hyperkube image
now i shutdown a node (saying node A ), user pods on that node successfully migrate onto another node
but afte

[2017-07-13 09:34] paurullan commented on #17088
I can confirm that we made work cross namespace on GKE 1.6.4 and traefik.
The trick was to use the current (2017-07-13) stable helm.

Then, every namespace can have its ingress (referencing its own services) and the main controller aggregates the routes. Just awesome.

https://docs.traefik.io/user-guide/kubernetes/

[2017-07-13 09:36] bakkerpeter commented on #43633
+1

[2017-07-13 09:37] fasaxc commented on #48719
@freehan `nat.PREROUTING`does jump to `nat.KUBE-SERVICES` but that ends up being a no-op because there are no entries in the per-endpoint chain.  The `REJECT` rule is in `filter.KUBE-SERVICES` and I don't see that being hit.

On GKE, with kubenet (or on a manually set-up cluster with Calico), my test packets hit `filter.FORWARD`, which doesn't link to `filter.KUBE-SERVICES`.  If I manually add a l

[2017-07-13 09:55] CaoShuFeng commented on #48561
I am very glad to implement the first one if no one has started it.

[2017-07-13 10:03] yastij commented on #48866
/sig node
/area kubelet

[2017-07-13 10:04] yastij commented on #48850
/area kubeadm

[2017-07-13 10:06] lukaszo commented on #48841
+1 for changing RollingUpdate strategy. If maxSurge defaults to 0 it will be backward compatible.

[2017-07-13 10:14] csarora commented on #48819
I am able to resolve the issue , it was proxy issue . closing it

[2017-07-13 10:14] #48819 closed

[2017-07-13 10:16] csarora commented on #44662
@lnquy try export proxy
export no_proxy="127.0.0.1, localhost,  {{ YOUR_MASTER_IP }}"
This worked for me and now i am closing the issue

[2017-07-13 10:16] #44662 closed

[2017-07-13 10:20] krogon-dp commented on #17088
This is exactly the same as currently nginx controller works. The issue is to enable in single namespace reference to services in other namespace. Such feature is implemented in [voyager ingress controller ](https://github.com/appscode/voyager/blob/master/docs/user-guide/ingress/named-virtual-hosting.md#cross-namespace-traffic-routing):

    apiVersion: voyager.appscode.com/v1beta1
    kind: Ingre

[2017-07-13 10:26] shyamjvs commented on #48782
Should be fixed by the above PR. Closing it.

[2017-07-13 10:26] #48782 closed

[2017-07-13 10:54] fabiand commented on #46351
Picking up @deads2k initial comment again. I understand that UAS can provide a wider range of API endpoints and formats. But on the other hand I would assume that it will be used to have something like what CRDs provide, just with validation and authorization. Thus I'd also expect that it will be "simple" objects (json/yaml based) which follow the general "rules" of CRDs. In those cases, I suppose

[2017-07-13 11:35] pgnaleen commented on #44298
root@microServEnv3:~# kubectl get pods --all-namespaces --show-all
NAMESPACE     NAME                                    READY     STATUS

[2017-07-13 11:38] pgnaleen commented on #44298
![image](https://user-images.githubusercontent.com/6938631/28164578-afe3e070-67ed-11e7-9fbb-6caaeb1c8de7.png)
i cant run a pod they are going to fail. I am new to kubernetes. i think problem may be cni network i can't setup flenal net work or wave net. dns server also not going to show as running. please help me.

[2017-07-13 11:43] luxas commented on #48841
I guess it would be possible with the current strategy. If MaxUnavailable is 0 I guess the end result is that the controller will add a new Pod before removing the old one.

Do we even need to add a MaxSurge option for this to work?

[2017-07-13 12:04] drigz commented on #48759
@k82cn Thanks for the pointer. I think that fixes the colon, but the double-negative is still there.

Maybe "No nodes are available: Insufficient cpu" would make more sense?

[2017-07-13 12:16] gwenywar commented on #37471
Has anyone found a workaround for this issue? I am running Kubernetes GitVersion:"v1.6.3" on `Linux minsky1 3.10.0-514.16.1.el7.ppc64le #1 SMP Fri Mar 10 13:08:23 EST 2017 ppc64le ppc64le ppc64le GNU/Linux`and I get the same error message when  run `ku exec -it sparkmaster-4180548331-b3lkq bash` with just `Unable to use a TTY - input is not a terminal or the right kind of file` and the terminal ju

[2017-07-13 12:17] kargakis commented on #48841
Any alterantives?

[2017-07-13 13:05] thomasmodeneis commented on #45525
Strage issue, have you tested this on k8s 1.6.6 ?
I have the following cfg and it works like a charm...

[code]

Cheers.

[2017-07-13 13:23] dobbymoodge commented on #48438
This is expected behavior, but since only engineers at Amazon expect this behavior I'm going to say it's still a bug. Here's the _official response_ I got from AWS Support:

The suggestion to validate the key *before* calling `CreateVolume` does seem to work, at least from the cli:

[code]

[2017-07-13 13:49] jkemp101 commented on #40442
I'm having similar issues on my `1.4.8` cluster.  Its running on AWS with eight Debian Jessie nodes using kops and `4.4.36-k8s` kernels.  Relatively small with only about 2000 iptable rules so I don't think its the kernel bug mentioned above.

It does appear to be a contention issue because the errors occur during deployments.  Its looks like there are more errors for faster/larger the deployments

[2017-07-13 13:53] erictune commented on #2209
I consider the original request resolved by github.com/istio/istio

Thank you all the Istio project members, for an amazing project that works great with Kubernetes, and which closes this 2.5 year old Kubernetes FR!
 @frankbu @andraxylia @rshriram @sebastienvas   @ldemailly @ayj @geeknoid @douglas-reid @ensible @ @myidpt @kyessenov @mandarjog @lookuptable @liamawhite @zackbutcher @smawson @greghan

[2017-07-13 13:53] #2209 closed

[2017-07-13 14:00] pichouk commented on #23920
Maybe I miss something but it appear not working with Kubernetes `1.7.0` for me.

[code]
Pushing this :
[code]

I try to curl my ingress controller, but didn't work :
[code]

I checked and the container does not seems to listen on the node port.

[2017-07-13 14:04] ianchakeres commented on #47978
I'm seeing this flake on this PR today: https://github.com/kubernetes/kubernetes/pull/47999

Test output: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/47999/pull-kubernetes-federation-e2e-gce/14454/

[2017-07-13 14:13] mikedanese opened #48876 "1.7 upgrade tests are failing in lots of different ways"
They need to be triaged and issues need to be created.

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster

@krousey
/sig cluster-lifecycle

[2017-07-13 14:15] redbaron commented on #23920
@pichouk do you have hostPort in your CNI plugin config?

[2017-07-13 14:43] pichouk commented on #23920
@redbaron I'm not sure of how to verify this.

I'm using Weave and I try to look on some documentation by myself but didn't find something relevant to help me.
My `/etc/systemd/system/kubelet.service.d/10-kubeadm.conf` looks like this :
[code]

And `/etc/cni/net.d/10-weave.conf`
[code]

[2017-07-13 14:57] jsafrane commented on #48438
@dobbymoodge thanks for the feedback from Amazon. I'll add such check to AWS cloud provider to work around this.

/assign

[2017-07-13 15:02] clenimar commented on #26909
@julianvmodesto are you using the RBAC authorizer? Once you activate it (by passing --authorization-mode=RBAC to the API server), it should display the non-cryptic output error.

[2017-07-13 15:07] castrojo commented on #48850
/sig cluster-lifecycle

[2017-07-13 15:08] liggitt commented on #26909
the `clusterroles.rbac.authorization.k8s.io "prometheus" is forbidden: attempt to grant extra privileges: [{[get] [] [nodes] [] []} {[list] [] [nodes] [] []} {[watch] [] [nodes] [] []} {[get] [] [services] [] []} {[list] [] [services] [] []} {[watch] [] [services] [] []} {[get] [] [endpoints] [] []} {[list] [] [endpoints] [] []} {[watch] [] [endpoints] [] []} {[get] [] [pods] [] []} {[list] [] [po

[2017-07-13 15:13] kanor1306 opened #48878 "Network policy examples not working"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I followed the examples in https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ and I didn't manage to get the network isolation, I could access the deployed nginx even without the label.

**What you expected to happen**:
I expected the nginx pod to be isolated from pods without the label access: "t

[2017-07-13 15:19] kanor1306 commented on #48878
@kubernetes/sig-network

[2017-07-13 15:23] kanor1306 commented on #48878
/sig network

[2017-07-13 15:30] DockerAsura opened #48880 "How to create K8S cluster with non-root user?"
Hi There,

How to create K8S cluster with non-root user?
Include..
etcd
flannel or Calico
K8S API
kubelet....etc

Regards
Kumar

[2017-07-13 15:35] DirectXMan12 commented on #48458
@kubernetes/sig-node-bugs @kubernetes/heapster-maintainers

@ahawkins is it just the metrics through Heapster?  If you look at the Prometheus metrics exposed by Kubelet, or at the summary endpoint `$KUBELET/stats/summary`, do you get the same numbers as through Heapster?  Just want to make sure it's not a Heapster issue.

[2017-07-13 15:38] gmarek opened #48882 "Listing routes in GCE cloud provider doesn't work"
NetworkProjectID defaults to project number, but when we compare r.Network and gce.networkURL we get url with project name in the first, and project number in the latter. Hence no routes are listed.

@kubernetes/sig-network-bugs

[2017-07-13 15:40] dims commented on #47966
/close

[2017-07-13 15:40] #47966 closed

[2017-07-13 15:47] caseydavenport commented on #23920
@pichouk you'll need to add the portmap plugin to your CNI config.

Theres [an example using Calico here](https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/calico-policy-controller/calico-node-daemonset.yaml#L86) - should be similar for Weave.

/assign

[2017-07-13 15:49] caseydavenport commented on #23920
Closing as fixed in v1.7.0

/close

[2017-07-13 15:49] #23920 closed

[2017-07-13 16:04] mattmoyer commented on #45978
There's another recent string of failures for this: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/?

For example, the most recent: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-federation/5221/
[code]

[2017-07-13 16:06] mattmoyer commented on #46690
Is this a duplicate of https://github.com/kubernetes/kubernetes/issues/45978?

[2017-07-13 16:12] victorgp commented on #41038
I've made this pull request to address this issue, for the moment only for apiserver: https://github.com/kubernetes/kubernetes/pull/48859

if you want to test it out, this is a ciphers combination i tested without the weak ones:

[code]

[2017-07-13 16:16] destijl commented on #12742
@kksriram @sakshamsharma has a implementation for a KEK/DEK scheme that uses Google KMS to store the key. You should talk and align with that implementation:

https://github.com/kubernetes/kubernetes/pull/48574

[2017-07-13 16:57] smarterclayton opened #48885 "Enabling PSP after a cluster is already running can lead to pods that not mutable"
openshift/origin#15188 highlighted that some mutating admission controllers can result in failure to update pods (which includes removing finalizers) unless they are disabled.  PSP is affected by this, but it is likely that users will want to turn PSP on for existing clusters and still have some mechanism for grandfathering old pods (i.e, don't break the cluster).

Needs to be resolved before PSP

[2017-07-13 17:04] foxish commented on #48839
@crimsonfaith91, for some reason, the [GKE tests](https://k8s-testgrid.appspot.com/sig-apps#gke) aren't populating; can you take a look?

[2017-07-13 17:05] foxish commented on #48839
Same with flaky and serial tests.

[2017-07-13 17:07] foxish commented on #48839
Looks like a GKE issue is also happening. Cluster-up fails. https://k8s-testgrid.appspot.com/google-gke

[2017-07-13 17:08] ixdy opened #48887 "windows/amd64 cross-build is broken: vendor/github.com/docker/docker/pkg/term/windows"
The windows/amd64 cross-build has been failing since yesterday morning.
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/2320:
[code]

It looks like #47140 is the culprit. The Azure dependencies were updated, but docker wasn't updated to support the changes until 1.12, and we vendor 1.11.

/assign @brendandburns
/cc @krousey @kubernetes/sig-windows-bu

[2017-07-13 17:10] csbell commented on #45978
Looking into it.

On Thu, Jul 13, 2017 at 9:05 AM, Matt Moyer <notifications@github.com>
wrote:

[2017-07-13 17:15] ixdy commented on #48887
hm, I guess sig-windows is probably not the right group here. sorry for the spam!

[2017-07-13 17:17] crimsonfaith91 commented on #48839
Definitely! Look at them now. Thanks! @foxish

[2017-07-13 17:31] janetkuo commented on #48841
This is required for DaemonSet controller to know how many more replicas the users allow it to create.

The reason that we need a new strategy is that current RollingUpdate strategy requires `MaxUnavailable > 0`. Changing that requirement wouldn't be backward compatible. We can implement this without a new strategy by changing that validation in a new API version, but the controller logic needs to

[2017-07-13 17:44] msau42 opened #48889 "Need local volume in-tree deleter"
For users that statically create local volumes, instead of using the provisioner, there needs to be an in-tree deletion routine so that deleting the PV will not fail.  It can just be simple and remove the contents.  For more advanced scrubbing options, the external provisioner should be used instead.

/sig storage

[2017-07-13 17:44] brendandburns commented on #48887
I'll get a fix for this sometime today...

apologies!

[2017-07-13 17:45] msau42 commented on #48889
cc @groundnuty

[2017-07-13 18:03] Winbobob commented on #14586
I am not sure this is the right place to post. But when I have the error `No nodes are available that match all of the following predicates:: PodFitsHostPorts (1).` on my Minikube, I did not find many related posts. So I just write here for future reference.

[2017-07-13 18:07] crimsonfaith91 commented on #48839
Update: The GKE cluster is down. Reached out to primary on-call. He will find the GKE cluster maintainers to investigate it.

[2017-07-13 18:19] emaildanwilson commented on #14586
@Winbobob This means that there are no available nodes in your kubernetes cluster that have the hostPort free that is being requested. In the example you referenced I see three hostPorts being specified (80, 443 & 18080. You should check to see if something is already using those ports on your node(s).  I'd suspect it would be another pod using hostPort as well.

[2017-07-13 18:32] caesarxuchao opened #48893 "Controllers keeps creating extra controllees if initialization is slow"
In 1.7 we introduced the concept of [initialization](https://github.com/kubernetes/kubernetes/blob/v1.7.0/staging/src/k8s.io/apimachinery/pkg/apis/meta/v1/types.go#L225). By default, clients won't see uninitialized objects.

Controllers (replicaset, deployment, job, etc.) have to observe the uninitialized controllees they create, otherwise the controllers continue to create more controllees (thank

[2017-07-13 18:32] crassirostris commented on #47978
+1

/cc @madhusudancs @nikhiljindal Please take a look!

[2017-07-13 18:34] msau42 commented on #48889
I remember the problem now with implementing delete in tree.  Delete is called by the master controller and not the kubelet, so we are not able to access the local volume to do any cleanup.  That is why we had to implement it in the external provisioner, which runs as a daemonset on every node.

I will update the user guide to document this limitation.

[2017-07-13 18:35] cblecker commented on #47361
I'd be okay with separating it out, but it depends on if it's worth the level of effort. much of the docs and man pages are built directly based off the code in k/k, and at least if they're all in the same repo we can easily run CI on them. It's tougher to run cross repo CI to ensure things are updated, but not impossible. This may also naturally go away as we split things up.

I'd talk to sig-cli

[2017-07-13 18:39] nicksardo commented on #48848
#46733

[2017-07-13 18:58] #48889 closed

[2017-07-13 19:18] numbsafari commented on #41039
Unfortunately, I don't have the personal cycles to contribute on this issue. However, if there's a way I could perhaps help sponsor the work to be done so that it gets prioritized and actually in for 1.8, please let me know.

I know everybody's busy, so, not posting this as judgement, but just trying to think how else I can help at this stage.

[2017-07-13 19:41] tallclair commented on #48561
Note that the first one is a breaking change, since it would mean we populate the `APIVersion` differently. I think it should be done in the transition to the Beta API, rather than an augment to the alpha API.

[2017-07-13 19:46] bboreham commented on #48798
@PLoic at [step 3](https://kubernetes.io/docs/setup/independent/create-cluster-kubeadm/#pod-network) which pod network did you install?  There are various choices, and troubleshooting after that depends on the specific case.

[2017-07-13 20:15] #1574 closed

[2017-07-13 20:16] githubvick opened #48900 "Service discovery doesn't happen immediately -"
[yaml.txt](https://github.com/kubernetes/kubernetes/files/1146549/yaml.txt)
[log.txt](https://github.com/kubernetes/kubernetes/files/1146521/log.txt)

**Is this a BUG REPORT or FEATURE REQUEST?**:

bug

**What happened**:

A kube service is created, the subsequent pod is not able to discover the service immediately but only after a couple of minutes as shown in the logs.

**What you expected to ha

[2017-07-13 20:16] cblecker commented on #48880
/assign

[2017-07-13 20:16] cblecker commented on #48880
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-07-13 20:16] #48880 closed

[2017-07-13 20:17] githubvick commented on #48900
[log.txt](https://github.com/kubernetes/kubernetes/files/1146542/log.txt)

[2017-07-13 20:18] davidopp commented on #19080
https://groups.google.com/forum/#!topic/kubernetes-users/eUUrdlBwa7g

[2017-07-13 20:19] githubvick commented on #48900
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: mongodbdepl
  labels:
    name: mongodb
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: mongodb
    spec:
      containers:
      - resources:
          limits:
            cpu: 0.3
        image: mongo
        imagePullPolicy: IfNotPresent
        name: mongodb
        ports:
          - containerPort: 270

[2017-07-13 20:38] janetkuo commented on #47978
It's been consistently failing across PRs since 2017-07-13 00:12 PDT: https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-federation-e2e-gce?before=14360

[2017-07-13 20:39] janetkuo commented on #47978
/assign @madhusudancs
/assign @nikhiljindal

[2017-07-13 20:41] lavalamp commented on #48820
fyi @bryk

[2017-07-13 20:43] caesarxuchao commented on #48747
/sub

[2017-07-13 20:43] fncmedia commented on #13776
Should it be possible to copy files of an completed pod? I failed on trying. Docker cp makes it possible when using on kubernetes node but this does not solve our issue.

[2017-07-13 20:49] mbohlool commented on #48675
@nikhita if you do a `make clean_generated` and then `make generated_files` does it fix the problem?

[2017-07-13 20:52] lavalamp commented on #48633
cc @mbohlool

[2017-07-13 20:56] lavalamp commented on #48603
@dchen1107 @davidopp What sig owns the node controller?

[2017-07-13 20:57] caesarxuchao commented on #48564
/sub

[2017-07-13 21:00] davidopp commented on #48603
For the last half-year or so, no SIG has owned the NodeController. @gmarek has been the owner/maintainer out of the goodness of his heart, but this is not a tenable long-term situation. Finding a SIG to own it has been on my TODO list for many months but previous efforts were not successful. I will send email to some relevant SIG leads to see if we can find an owner.

[2017-07-13 21:00] dcbw commented on #48798
@PLoic also, kubelet logs would be great

[2017-07-13 21:00] davidopp commented on #48603
But I guess for this particular issue, we can hope @gmarek can take a quick look at it...

[2017-07-13 21:00] lavalamp commented on #48561
Please note that SIG API doesn't own the *contents* of apis and we don't need to own issues like this one.

[2017-07-13 21:05] lavalamp commented on #48528
Reverse label selector queries is a longstanding request. #1348.

[2017-07-13 21:05] ericchiang commented on #48561
I think the GKE audit policy really demonstrated how many edge cases there are when composing an audit policy. Don't capture the request body of TokenSubjectReview, ignore kube-proxy watching endpoints, etc.

It'd be great to formalize that knowledge somehow. Either by creating a default audit policy in the API server (like default RBAC roles), or by having a real example audit policy in documenta

[2017-07-13 21:06] lavalamp commented on #48527
We cannot fix this for existing APIs easily. We mandate *.k8s.io for new APIs.

[2017-07-13 21:07] timothysc commented on #48841
So we need this for some of the self hosting work.  @janetkuo is this planned for 1.8?

[2017-07-13 21:10] lavalamp commented on #48503
@mml suggests that the rewriter could at least leave an HTML comment behind explaining it has helpfully "fixed" your HTML.

[2017-07-13 21:15] lavalamp commented on #48472
@kubernetes/sig-docs-maintainers for the documentation issue

@deads2k @smarterclayton I am not sure who owns the label selector parameter, does one of you know? It does seem like it should support both syntaxes.

[2017-07-13 21:31] gmarek commented on #48603
I don't think it's strictly node controller issue. IIUC the problem is with Service (if that's what you mean by L3LB) and the fact that NC marks Pods running on Unreachable Nodes as 'Unknown'. I guess service controller removes such Pods from Endpoints and does all the magic around this (@improbable-yifan please correct me if that's not the case). I think that what @improbable-yifan suggested is a

[2017-07-13 21:48] caseydavenport commented on #48528
Perhaps I misunderstood, but I didn't think this was a request for reverse-label selector queries.

I interpreted this to be "Add [set-based label selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement) support to Services"

[2017-07-13 22:14] csbell commented on #47978
/assign

[2017-07-13 22:18] thomastaylor312 commented on #42654
@ericchiang The PR with the updated Godeps for the new go-oidc code is open here: #48907

[2017-07-13 22:23] csbell commented on #47978
This is on its way to being resolved.

A networking bug was introduced in #48642 that affected LoadBalancer services. Until midnight yesterday, nobody but Federation and a non-blocking presubmit networking test had noticed the bug.

Federation's target clusters used in pull-federation-e2e-gce are built at midnight every night (see federation buildcop [playbook](https://github.com/madhusudancs/comm

[2017-07-13 22:43] JulianWei commented on #47264
Is there any workaround?

[2017-07-13 22:48] nicorevin opened #48912 "emptyDir with medium: Memory mounts a tmpfs volume without nosuid,nodev,noexec"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
It is recommended to mount tmpfs with `nosuid,noexec,nodev` options.

**Environment**:
- Kubernetes version (use `kubectl version`): Client Version: v1.7.0 Server Version: v

[2017-07-13 22:56] nicorevin commented on #48912
@kubernetes/sig-storage-misc

[2017-07-13 23:17] MrHohn opened #48913 "gke/util.sh should log error when failed to execute commands"
From https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke/11888?log#log. The test suite first timeouted creating cluster, and later failed on deleting cluster as well. Pasted some logs below:
[code]

It isn't obvious enough which commands failed because we tend to run commands with `--quite` flag without logging the error.

/sig testing

[2017-07-13 23:25] kargakis commented on #48841
We also need to deprecate/remove TemplateGeneration so bumping to v1beta2 makes sense to me. Do we need to bump the rest of the apps group?

[2017-07-13 23:33] MartinodF commented on #47264
@JulianWei you can just go back to specifying your init containers using the beta annotation (`pod.beta.kubernetes.io/init-containers`), it works correctly. When this bug is fixed, you will be able to use the stable `InitContainers` field. A bit annoying, but easy to fix :)

[2017-07-13 23:36] janetkuo commented on #41913
@Thermi Would you clarify what "terminated" means to you? Did you mean the pods that are "complete" (either Succeeded and Failed), or the pods that are deleted completely from the cluster?

@mengqiy #48786 fixes a bug of `kubectl get pods` not hiding some complete (evicted) pods by default. The behavior that @Thermi described is different -- some pods aren't visible even through `kubectl get pods

[2017-07-13 23:57] liggitt commented on #48885
As long as a cluster admin has access to a PSP that allows the pod, they can remove the offending pod.

Controller-wise, it's not different from removing PSP permissions from a service account while there are still pods present that were only allowed because of those permissions.

[2017-07-14 00:02] smarterclayton commented on #48893
I'm hesistant to jump into this without a discussion of the tradeoffs.  The clients should wait in many cases, and if they aren't waiting that's a bug.

[2017-07-14 00:02] jingxu97 commented on #34401
cc @fabioy
It seems like we still don't have document for this default setting?

[2017-07-14 00:04] smarterclayton commented on #48893
Observing uninitialized entries is a hammer, I want to make sure this is a nail first.

Can I get an example of the problem?

[2017-07-14 00:04] janetkuo commented on #48841
Bumping DaemonSet to apps/v1beta2 is planned for 1.8. Supporting this feature is not planned for 1.8.

By the end of 1.8, Deployment, ReplicaSet, StatefulSet, DaemonSet will be in apps/v1beta2

[2017-07-14 00:05] smarterclayton commented on #48893
Also, are these controllers tolerant of watch delays?  If not it's a problem with the controllers (in some cases)

[2017-07-14 00:11] smarterclayton commented on #48893
GenerateName is definitely part of the problem - controllers that rely heavily on it to create aren't tolerant to any sort of mismatch between actual and observed.  If we end up watching uninitialized there we also need to verify they are not outracing their caches

[2017-07-14 00:13] #48832 closed

[2017-07-14 00:37] smarterclayton commented on #41913
The log you paste looks like an issue where the kubelet has a deleted pod still in its list and is processing it.  There have been a few reasons this could happen on the node.

[2017-07-14 00:38] smarterclayton commented on #47264
In 1.8 we should remove the beta annotation since init containers are GA.

On Jul 13, 2017, at 7:33 PM, Martino di Filippo <notifications@github.com>
wrote:

@JulianWei <https://github.com/julianwei> you can just go back to
specifying your init containers using the beta annotation (
pod.beta.kubernetes.io/init-containers), it works correctly. When this bug
is fixed, you will be able to use the sta

[2017-07-14 00:44] crimsonfaith91 opened #48916 "[ignore] Testing issue for sig-mention-handler"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-07-14 00:49] caesarxuchao commented on #48893
That's why i opened an issue first ;)

As i mentioned in the initial comment, rc and rs are protected by the expectation system. I missed daemonset and job controller in my earlier grep, they also use the expectation system, so they should be fine. Cronjob controller only creates Job instead of creating pods directly, so it should be ok. That said, i haven't checked if these controllers perform co

[2017-07-14 00:52] caesarxuchao commented on #48893
@kelseyhightower with which controller did you see the problem?

[2017-07-14 01:03] cleverlzc commented on #18227
Well，thanks for your suggestion！ @luxas

[2017-07-14 01:04] jeevarathinam-dhanapal commented on #48796
There is no error messages in the kubelet logs. After the kubelet restart, it looks like, the link is either broken or the pod is looking for logs in a file which is not created.

"kubectl logs -f kong-m90qh
failed to open log file "/var/log/pods/abc424df-4d8b-11e7-82ef-06a653f2b1ab/kong_6.log": open /var/log/pods/abc424df-4d8b-11e7-82ef-06a653f2b1ab/kong_6.log: no such file or directory"

[2017-07-14 01:26] smileprem commented on #47992
Hi - Is there any update on this?. We have the exact requirements where I need to access the individual pods created by deployment, via FQDN. Its a surprise that the FQDN & IP address is set in the Pod, but No DNS entry to resolve them, from other pods.

@spil-dennis Did you manage to find any work-arounds?

[2017-07-14 01:34] maxim28 commented on #47695
@rushabh268

hi, i also met this error like you. have you fixed this error? how?

[2017-07-14 01:37] rushabh268 commented on #47695
@maxim28 I had to downgrade to 1.6.6 since I couldn't get any clear solution. I am still not sure why I was hitting this error in the first place.

[2017-07-14 01:42] maxim28 commented on #47695
@rushabh268 maybe it is caused by 1.7, i also use this version

[2017-07-14 01:48] andrewmclagan commented on #34401
Is this GCE specific?

[2017-07-14 01:54] timothysc commented on #48302
/cc @kubernetes/sig-testing-bugs

[2017-07-14 01:55] crimsonfaith91 commented on #48916
@grodrigues3 Is it `@kubernetes/contributor-experience-<group-suffix>` or `@kubernetes/sig-contributor-experience-<group-suffix>`?

[2017-07-14 02:07] indigoid commented on #43744
Just noting that I am in the same situation as @ostankin — trying to build a Kubernetes environment that our PCI-DSS auditor folks are happy with

[2017-07-14 02:19] JulianWei commented on #47264
@MartinodF, thank you

[2017-07-14 02:35] aloisio31 commented on #48528
@lavalamp My issue has nothing to do with _reverse label selector_. I mean **create** a _service_ which has [set-based label selector](https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#set-based-requirement). @caseydavenport knows clearly.

[2017-07-14 02:39] rafaelsilvaa10 opened #48918 "Help LivenessProbe Kubernetes"
Hello,

 I am testing the LivenessProbe in kubernetes. I tried to simulate a possible failure.
[....
    livenessProbe:
          httpGet:
            path: /
            port: 8074
          initialDelaySeconds: 120
          timeoutSeconds: 1
....]

I put it to start the check after 2 minutes.
In my container there is not port 8074. That is when I do a get curl IPContainer:8074/    ;...Will give

[2017-07-14 02:46] cofyc commented on #38923
hi, guys,

Now you can avoid using customized `kube-controller` image, [external-storage](https://github.com/kubernetes-incubator/external-storage) [out-of-tree RBD provisioner](https://github.com/kubernetes-incubator/external-storage/tree/master/ceph/rbd) is merged, you can use it instead。Here is guide:

1, Deploy standalone `rbd-provisioner` controller:

Note: Currently v0.1.0 is latest version,

[2017-07-14 02:52] githubvick commented on #47711
I'm facing same issue with Nginx by trying to expose the nodePort for Nginx-ingress-controller pod

[code]

[2017-07-14 02:57] cblecker commented on #48918
/assign

[2017-07-14 02:58] cblecker commented on #48918
Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messa

[2017-07-14 02:58] #48918 closed

[2017-07-14 03:11] justinsb commented on #48814
No particular objection.  But ... is there a use case for bringing up a cluster in this way?  It feels very metal ;-)

[2017-07-14 03:16] cblecker commented on #48916
@crimsonfaith91 the latter :)

[2017-07-14 03:18] yekaifeng commented on #41428
If a scheduler leader is not able to renew() leader lock in etcd for a period longer than leader-elect-renew-deadline, which because of whatever reasons (api-server down, etcd leader switch, network unsable),  it should switch to follower mode and continue running instead of dying. When the running environment resume normal,  it can continue to acquire() for leader.

Consider such situation: 5 sch

[2017-07-14 03:19] MrHohn commented on #47711
@githubvick  Try `kubectl get pod --selector=app=nginx-ingress`.

[2017-07-14 03:36] githubvick commented on #47711
[code]

[2017-07-14 03:40] MrHohn commented on #47711
@githubvick Your service is using `name=nginx-ingress` while your pods are using `app=nginx-ingress`.

[2017-07-14 04:04] wilhelmguo opened #48920 "one node down, but pods on the node status.phase still Running"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
[root@docker3006 ~]# kubectl get nodes
NAME                           STATUS     AGE       VERSION
docker3005.se.zzzc.qihoo.net   NotReady   18h       v1.7.0

Here is the pod json.

{
  "kind": "Pod",
  "apiVersion": "v1",
  "metadata": {
    "name": "nginx-test-1771026684-wj1sm",
    "generateName": "nginx-test-1771026684-",
    "n

[2017-07-14 04:10] crimsonfaith91 commented on #48916
@cblecker Many thanks! :)

[2017-07-14 04:55] supereagle commented on #48920
/sig node
/sig bug

[2017-07-14 05:00] bsalamat commented on #41428
@yekaifeng Please note that a new scheduler is created as soon as a scheduler exits. So, in the scenario that you described, you will have 5 new schedulers.

[2017-07-14 05:02] justinsb commented on #34866
/sig network

Network owns the servicecontroller, IIUC

[2017-07-14 05:33] supereagle commented on #48920
/kind bug

[2017-07-14 05:43] #48059 closed

[2017-07-14 05:43] #48749 closed

[2017-07-14 05:46] feiskyer commented on #48878
@kanor1306 https://kubernetes.io/docs/tasks/administer-cluster/declare-network-policy/ is for kubernetes v1.7 now. Should refer to https://github.com/kubernetes/kubernetes.github.io/blob/release-1.6/docs/concepts/services-networking/network-policies.md since you are using kubernetes v1.6.

[2017-07-14 05:50] cblecker commented on #48478
Fixed in our repo by https://github.com/kubernetes/kubernetes/pull/48762

[2017-07-14 05:50] #48478 closed

[2017-07-14 05:54] feiskyer commented on #48878
@dcbw @thockin Is possible to add a link to v1.6 documentation?

[2017-07-14 06:00] tiendungitd commented on #48798
try to apply this plugin: kubectl apply --filename https://git.io/weave-kube-1.6
it works for me.

[2017-07-14 06:05] spil-dennis commented on #47992
For now i'm setting hostname and updating /etc/hosts with <pod-ip-with-dashes>.<namespace>.pod.cluster.local on pod startup.

However that hostname is deprecated behaviour afaik, but for now it's still added to DNS.

Cheers,
Dennis

[2017-07-14 06:08] xiangpengzhao commented on #48920
ref: #45016
See discussion in #45465

/cc @derekwaynecarr @xiang90

[2017-07-14 06:17] xiangpengzhao commented on #48916
/sig contributor-experience
test label

[2017-07-14 06:25] xiangpengzhao commented on #48916
@kubernetes/sig-contributor-experience-bugs
test notification when having label.

[2017-07-14 06:34] xiangpengzhao commented on #48916
@crimsonfaith91 I test #2956 (#3398) as above, it works as expected. Thanks!

[2017-07-14 07:09] ryanlyy opened #48923 "cni0 does not forward IP packet among containers but arping works after installed k8s 1.7"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
In Ubuntu 16.04.2 LTS (GNU/Linux 4.4.0-62-generic x86_64), I installed k8s using kubeadm. After that I create two centos container using kubectl. When ping from one container to another container, it fails. I tried apring from one container to another container seems it works well.

tcpdump show cni0 receives ICMP msg from

[2017-07-14 07:14] ryanlyy commented on #48923
/sig networking

[2017-07-14 07:16] ryanlyy commented on #48923
@kubernetes/sig-network-bugs

[2017-07-14 07:17] ryanlyy commented on #48923
@kubernetes/sig-network-bugs

[2017-07-14 07:18] yekaifeng commented on #41428
@bsalamat I guess, in your practice, you were using service guarding tool such as systemd or supervisord. So that it spawns a new one as long as the old one exited.

For sure it works for most cases. While it will hide some deep system issues and make them difficult to exposed, such as network turbulence, etcd3 leader switch frequenly ... In addition, it brings extra dependency.

[2017-07-14 07:20] kanor1306 commented on #48878
Oh of course, I didn't realize about the NetworkPolicy changes from 1.6 to 1.7. Thanks @feiskyer !

I will close the issue.

[2017-07-14 07:20] #48878 closed

[2017-07-14 07:23] xiangfeiz opened #48924 "hyperkube v1.7.0 gave warning on duplicate proto type registered"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
# kubectl version
2017-07-14 00:22:33.842797 I | proto: duplicate proto type registered: google.protobuf.Any
2017-07-14 00:22:33.843078 I | proto: duplicate proto type registered: google.protobuf.Duration
2017-07-14 00:22:33.843115 I | proto: duplicate proto type registered: google.protobuf.Timestamp
Client Version: versi

[2017-07-14 07:26] xiangfeiz commented on #48924
@kubernetes/sig-cli-bugs

[2017-07-14 07:26] CaoShuFeng commented on #48561
Thanks for pointing it out!

[2017-07-14 07:29] barnettZQG opened #48925 "Questions about container IO limits ."
kubernetes version:
`1.6.3-release`
system:
`centos 7.3 /3.10.0-514.21.2.el7.x86_64`
The phenomenon is as follows:
The IO write speed of containers managed by k8s is limited to 1-30mb/s.
However, the use of docker run directly to the container IO write speed and the host quite. I looked at the k8s pod level of the cgroup structure. Did not find io limit related settings.
Please help me !!!

[2017-07-14 07:32] #48668 closed

[2017-07-14 07:35] barnettZQG commented on #48925
/sig bug

[2017-07-14 07:59] WIZARD-CXY commented on #48920
I think it is not a bug at least for me. You can read the doc https://kubernetes.io/docs/concepts/architecture/nodes/ to know more.

[2017-07-14 08:02] sttts commented on #48675
@mbohlool a clever `find ...  | xargs rm` which is probably equivalent to `clean_generated` helps.

[2017-07-14 08:03] WIZARD-CXY commented on #48649
Look forward to

[2017-07-14 08:07] pgnaleen commented on #38118
in my case i didn't implemented flannel pod network correctly.
https://github.com/coreos/flannel

i ran this
kubeadm init --pod-network-cidr=10.244.0.0/16

then after setup is done. i ran following command
kubectl apply -f kube-flannel.yml
https://github.com/coreos/flannel/blob/master/Documentation/kube-flannel.yml

this is wrong if you also ran this command also run following command

kubectl app

[2017-07-14 08:14] gmarek opened #48926 "Allow defining different timeouts for different verbs in client go"
Or at least different for steaming and non-streaming calls. This is required to introduce meaningful timeout in Kubelet that wouldn't cause frequent watch relists. #48640

@kubernetes/sig-api-machinery-feature-requests @kubernetes/sig-scalability-misc @derekwaynecarr

[2017-07-14 09:03] #47015 closed

[2017-07-14 09:03] #48825 closed

[2017-07-14 09:12] dixudx commented on #44557
/cc

[2017-07-14 09:16] orangedeng opened #48927 "`kubectl get` can describe the custom resource definition"
/kind feature

**What happened**:
`kubectl get`  in kubectl 1.7.0 and cluster 1.7.0

[code]

**What you expected to happen**:
there is an `customresourcedefinition` in the list and tells the short-cut was `crd`.

**How to reproduce it (as minimally and precisely as possible)**:
none

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud

[2017-07-14 09:16] unixwitch opened #48928 "Webhook authz no longer includes URL parameters"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I configured a webhook authz service like this:

[code]

`/etc/kubernetes/kubeconfig/webhook-authz` looks like this:

[code]

When Kubernetes tried to authorize a user, it made a request to `https://some.authz.service/authz`, without the URL query string (`cluster=staging`).

**What you expected to happen**:

I expected t

[2017-07-14 09:16] unixwitch commented on #48928
/sig auth

[2017-07-14 09:26] matlockx opened #48929 "hostname-override is ignored when a cloud provider is configured"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
When using the hostname-override flag and a cloud provider the hostname-override value gets ignored. See

https://github.com/kubernetes/kubernetes/blob/7df2bce1ece551800edb1a8f1f62adecbd11cff5/pkg/kubelet/kubelet.go#L308
and
https://github.com/kubernetes/kubernetes/blob/7df2bce1ece551800edb1a8f1f62adecbd11cff5/pkg/kubelet

[2017-07-14 09:27] matlockx commented on #48929
If you consider this a bug too, I can provide a PR.

[2017-07-14 09:41] kpostrup commented on #44317
The `cqlsh` util is included with the previous version of the image:
* `gcr.io/google-samples/cassandra:v11`

[2017-07-14 09:48] chesterlai commented on #48793
@lavalamp
hi
I guess the problem comes from k8s-api can not recognize the data .
Do you think change the label to sig/autoscaling  is a better idea?

[2017-07-14 09:58] ljb-2000 commented on #48798
@PLoic @dcbw 　I install flannel plugin of k8s(1.7)  still get this same error   ,Can you provide a solution?
------
Jul 14 17:57:20 node2 kubelet: W0714 17:57:20.540849   17504 cni.go:189] Unable to update cni config: No networks found in /etc/cni/net.d
Jul 14 17:57:20 node2 kubelet: E0714 17:57:20.541001   17504 kubelet.go:2136] Container runtime network not ready: NetworkReady=false reason:Netwo

[2017-07-14 10:08] trunet commented on #43856
@djsly did you manage to make this works?

I'm also running 1.7 with --cgroup-driver=systemd on RHEL 7.3 and during kubelet restart needed to pick new certificates every week, it fails and show "NotReady" on the node list.

the slice delete also didn't work. my only option is stop kubelet, stop docker, start docker, remove all stopped containers and start kubelet again, than it starts ok.

[2017-07-14 10:11] WIZARD-CXY commented on #43783
Any update on this? Our team can help with this feature implemented.

[2017-07-14 10:19] matlockx commented on #48929
@kubernetes/sig-node-bug

[2017-07-14 11:01] matlockx commented on #48929
@kubernetes/sig-node-bugs
/sig node

[2017-07-14 11:05] gmarek commented on #48638
#48926 is a blocker for this.

[2017-07-14 11:43] #48225 closed

[2017-07-14 11:56] enj commented on #48885
@kubernetes/sig-auth-misc

[2017-07-14 12:09] w17chm4n opened #48937 "Cannot deploy GlusterFS through Kubernetes - "Couldn't find an alternative telinit implementation to spawn""
**BUG REPORT**:

 /kind bug

**What happened**:
I'm running a simple Kubernetes cluster with master and one node. All basic PODs are deploying successfully (ie. weave-net) but when I try to deploy GlusterFS as a POD -  container creation fails with error:

This is a result of failing to perform

from ```gluster/gluster-centos``` docker file.

The weird part is that if I run this image directly on

[2017-07-14 12:11] w17chm4n commented on #48937
@kubernetes/sig-node-bugs
/sig node

[2017-07-14 12:33] fabiand commented on #28610
Ping?

[2017-07-14 12:39] w17chm4n commented on #48937
One update - I can deploy this POD with no problems on `1.6.4-00` version of k8s.

[2017-07-14 12:58] ncdc commented on #48814
I am testing some things on AWS in an assumed role. I spin up a VM, clone kube/kube, run `hack/local-up-cluster.sh`. Without some sort of change, there's no way for the AWS cloud provider to find my instance using the assumed role.

[2017-07-14 13:04] arussellsaw commented on #28610
@thockin is this still the relevant issue? you mentioned this work was ongoing at the London Kubernetes meetup a few weeks ago

[2017-07-14 13:14] djsly commented on #43856
Try 1.6.7. They cherry picked the fix.  I haven't seen the issue after upgrading.

[2017-07-14 13:14] githubvick commented on #47711
Sorry, didn't notice that

[2017-07-14 13:22] trunet commented on #43856
Unfortunately I can't because we're using some 1.7 new features. Will this fix be ported to 1.7?

[2017-07-14 13:26] timothysc commented on #47920
So I created my own and just moved on, but it's clear upstream should be the source, but there are a lot of weird suppositions in the tests that should be factored out, I'll start to create some PRs on those.

[2017-07-14 13:38] shyamjvs opened #48938 "How many and how big services should kubernetes scale to?"
A placeholder issue for the discussion we had on the email thread just to have a proper record.
Here's a (somewhat) abridged copy of that discussion:

--------------------------------------------------------------------------------------------------------------------------------

@gmarek :
I'd like to get your opinion on the number of Services that we want to support in the cluster plus and how ma

[2017-07-14 13:39] shyamjvs commented on #48938
cc @kubernetes/sig-scalability-misc @kubernetes/sig-network-misc

[2017-07-14 13:47] djsly commented on #43856
hummI guess you might be getting affected by a new issue ?

https://github.com/kubernetes/kubernetes/commit/a92007b43c939e2b4c1d72ee92be269074962437

Looks like 1.7.0 was the first branch to receive the runc bump.  1.6 was cherry picked after.

[2017-07-14 13:50] trunet commented on #43856
hmmm... interesting. I think this is a new bug. I will open a new issue about it

[2017-07-14 14:04] justinsb commented on #48814
Is there a reason you aren't using an instance profile?

[2017-07-14 14:10] luxas commented on #48841
So this "add first, then delete" strategy will _not_ make v1.8, right?
That'd be unfortunate. We can work around it I _think_, but it'll be hacky for sure.

SGTM :+1:

[2017-07-14 14:13] ncdc commented on #48814
I didn't know those existed! Will the aws sdk be able to use that to pick up the assume role info?

[2017-07-14 14:18] jbeda commented on #48814
To be clear, instance profiles work if you set up the instance with them
from the start. When using EC2 as dev machine for development it may be
needed to use the on disk creds w/ roles.

Deviating from standard sdk behavior seems strange if there is no explicit
reason.
On Fri, Jul 14, 2017 at 7:13 AM Andy Goldstein <notifications@github.com>
wrote:

[2017-07-14 14:21] ncdc commented on #48814
I can do a PR to either remove the custom credentials setup or copy the logic from the sdk, whatever we decide upon.

[2017-07-14 14:32] warmchang commented on #29913
nice job! :+1:

[2017-07-14 14:33] warmchang commented on #30294
nice job! :+1:

[2017-07-14 14:34] warmchang commented on #28789
nice job! :+1:

[2017-07-14 14:34] liggitt commented on #26247
it appears this was already done - https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-controller-manager/app/core.go#L135-L153

[2017-07-14 14:40] wongma7 commented on #26247
yes, we can close this https://github.com/kubernetes/kubernetes/pull/41273

[2017-07-14 14:42] luxas commented on #47695
@maxim28 @rushabh268 In `v1.7.1` you can use the `--node-name` flag to explicitely set the node name to your liking so that flag and the node API object name (can be set via `--hostname-override` on the kubelet as well) match

[2017-07-14 14:48] fire commented on #32266
Ping! Is there any new developments on this?

[2017-07-14 14:55] #26247 closed

[2017-07-14 14:58] liggitt opened #48941 "PV controller should not depend on 15 second resync to be responsive"
PV controllers now use shared informers as of #41273

They default to a 15 second resync period, and depend on the resync to be responsive to PVC binding. Such a short resync period does not work well with other clients of the shared informers (like garbage collection), and depending on registration order, may not be honored (if the shared informer is already running, the PV binder's resync reques

[2017-07-14 14:58] liggitt commented on #26247
Great. Opened related issue around the excessively short PV/PVC resync period - https://github.com/kubernetes/kubernetes/issues/48941

[2017-07-14 15:19] wongma7 commented on #48941
@jsafrane fyi. You want to work on this? :) I'm not sure anybody else *can*...

[2017-07-14 15:55] luxas opened #48945 "Make the BootstrapTokenAuthenticator only act on prefixed tokens"
Discussed in the sig-cluster-lifecycle meeting...
Currently the BootstrapTokenAuthenticator decides whether a given token is a bootstrap token by looking at the format `<six chars>.<sixteen chars>`.
However, it might be better to only support tokens with a specific `k8s-bt` prefix or something so that the "fast route" will be faster when we move this to beta.
Also this might reduce possible confus

[2017-07-14 15:56] luxas commented on #48945
This would include making kubeadm add the prefix when talking to v1.8-something masters as well

[2017-07-14 15:59] bnerd commented on #48937
@w17chm4n I am hitting the same bug on a freshly installed k8s cluster `v1.7.0` running on `Ubuntu 16.04.2` installed via kubeadm plus weave-net with a currently unsupported docker version.

[code]

For me, downgrading to a supported docker version helped to resolve this issue (v1.12):

* https://docs.docker.com/cs-engine/1.12/#install-on-ubuntu-1404-lts-or-1604-lts

[2017-07-14 16:03] cmluciano commented on #48923
What release of docker is this?

[2017-07-14 16:09] w17chm4n commented on #48937
@bnerd - Thanks for the info!
@kubernetes/sig-node-bugs - Well we can confirm that kubernetes is not working properly with Docker 1.29 and 1.3 😛

[2017-07-14 16:14] yujuhong commented on #48937
This is not really a bug since kubernetes doesn't support the docker version you use yet, but feel free to send a patch if you find the problem.

[2017-07-14 16:28] crimsonfaith91 commented on #48916
@xiangpengzhao Thanks for verify them! :)

[2017-07-14 16:31] jsafrane commented on #48941
I will look at it, we already have a cache of PVs/PVCs and doing manual sync should be easy. I need to think about possible races.

[2017-07-14 16:38] rcorre opened #48948 "kubernetes is CPU-hungry on minikube"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When running kubernetes 1.7 on minikube, CPU usage for the `VBoxHeadless` process is constantly around 100%.

**What you expected to happen**:

CPU usage closer to 10%, as it is when running 1.6.4

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

This could b

[2017-07-14 16:41] xiangpengzhao commented on #48927
/sig cli
yeah we should do it. @adohe

[2017-07-14 16:45] ericchiang commented on #48777
This is a dup of https://github.com/kubernetes/kubernetes/issues/46806

[2017-07-14 16:46] xiangpengzhao commented on #48927
/assign will fix it.

[2017-07-14 16:47] thomastaylor312 commented on #48777
Thanks for catching that @ericchiang

[2017-07-14 16:48] smileprem commented on #47992
Ok. In my case, the ip address of the other pods are not known at creation time (will be created later) and with auto-scaling, it would change frequently.  Thanks for the reply.

[2017-07-14 17:03] grodrigues3 commented on #48916
Nice @crimsonfaith91.  Thanks for testing

[2017-07-14 17:03] #48916 closed

[2017-07-14 17:19] jamstar commented on #39026
Just an additional note as i revisit this issue.   For the latest round of problems i had, the node names need to be in the DNS server.  having them in the /etc/hosts was not sufficient.   I believe if you use --hostname-override and set that value to the IP addresss, you can avoid the dns issue.

[2017-07-14 17:22] kensimon opened #48951 "Consider adding a "Stopped" Node Condition"
**Is this a BUG REPORT or FEATURE REQUEST?**: Feature Request
/kind feature

Opening this issue for general discussion, and to maybe bring to sig-node on to get feedback.

This is heavily related to #46442, which was discussed in sig-aws today.  I consider this not a dupe though, since I think the feature goes beyond just unifying cloud provider behavior.

In sig-aws there was a discussion about t

[2017-07-14 17:30] kow3ns commented on #29276
@lukaszo @kargakis @davidopp

DeamonSet is meant to run one copy of Pod on every node that matches the NodeSelector. What would PodAffinity PodAntiAffinity do here?

I can image that hard PodAntiAffinity might be used to indicate "put a Pod on every Node that matches your NodeSelector except for Nodes that have Pod x", but users could achieve the same functionality with a more restrictive NodeSele

[2017-07-14 17:34] ericchiang commented on #48777
Going to close as a duplicate.

[2017-07-14 17:34] #48777 closed

[2017-07-14 17:41] cmluciano commented on #17348
/close

[2017-07-14 17:41] #17348 closed

[2017-07-14 17:42] cmluciano commented on #17805
/assign

[2017-07-14 17:42] cmluciano commented on #17805
/close

[2017-07-14 17:42] #17805 closed

[2017-07-14 17:43] bsalamat commented on #41428
@yekaifeng Kubelet creates a new scheduler. This is a very common practice to have watchdogs for critical system components that recreates them when they exit.

[2017-07-14 17:44] cmluciano commented on #19927
/unassign @bprashanth

@thockin I noted a PR removing bprashanth from OWNERS files. I think we need another owner here from the gce team

[2017-07-14 17:46] cmluciano commented on #20567
@kubernetes/sig-network-misc Do we think this is still relevant?

[2017-07-14 17:46] xiangpengzhao commented on #48579
I try the case without the second `ports` line, the issue also exists. So I believe there IS a bug here.
Seems like there might be two issues here:
- a port is lost as is described in this issue.
- we shouldn't allow to configure two `ports` lines in the manifest. i.e. we should add validation for this case.

[2017-07-14 17:47] cmluciano commented on #17080
@nicksardo Is this still relevant?

[2017-07-14 17:47] cmluciano commented on #17080
/unassign @bprashanth

[2017-07-14 17:48] cmluciano commented on #20567
/assign

assigning to me for now since bprashanth does not work on the project anymore

[2017-07-14 17:49] rootfs opened #48953 "Need to enforce RWO for FC PV"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
RWO FC PV is not enforced. As a result, such PV can be attached to multiple nodes and led to data corruption.

**What you expected to happen**:
RWO FC PV should be single attached

**How to reproduce it (as minimally and precisely as possible)**:
- Create a FC PV
- Create 2 Pods that claim this FC PV
- If Pods are running

[2017-07-14 17:49] rootfs commented on #48953
/sig storage

[2017-07-14 17:50] cmluciano commented on #23583
/unassign @bprashanth

@kubernetes/sig-network-bugs Anyone know if this is something that is still happening frequently?

[2017-07-14 17:56] cmluciano commented on #25745
/close

this appears fixed in later releases of the gce ingress controller

[2017-07-14 17:56] cmluciano commented on #26447
/assign

[2017-07-14 17:56] cmluciano commented on #26447
/close

[2017-07-14 17:56] #26447 closed

[2017-07-14 17:58] cmluciano commented on #24041
/unassign @bprashanth

@kubernetes/sig-network-feature-requests  Any takers on an owner for this?

[2017-07-14 17:59] spzala commented on #47361
@cblecker thanks much!! You mentioned about splitting things up, is there a splitting plan already out somewhere that can be reviewed or it's more like in verbal discussion? Thanks!

[2017-07-14 18:00] cmluciano commented on #27294
@sputnik13 Are you still working on this?

[2017-07-14 18:05] cmluciano commented on #48303
/unassign @bprashanth

/assign

[2017-07-14 18:07] cmluciano commented on #48303
This seems to be a symptom of the too many static routes error.

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-qa-slow-m58/3002

I wonder if there is a way to increase this to a higher value of 10.

Any thoughts @MrHohn

[2017-07-14 18:09] cmluciano commented on #48863
/unassign @bprashanth

/assign

[2017-07-14 18:09] cmluciano commented on #48863
/close

testgrid status is back to green

[2017-07-14 18:09] #48863 closed

[2017-07-14 18:09] rcorre commented on #48948
/sig scalability

Really no idea if that is the right group, but none seemed completely appropriate

[2017-07-14 18:11] luxas commented on #48841
@janetkuo Thanks. @aaronlevy said he'd be able to put resources from CoreOS on it this cycle if sig-apps approved. We'd really want to get this, but I also understand the reasoning behind stability.

What do you think @kubernetes/sig-apps-feature-requests? Would this be possible to get into v1.8 if you'd get some folks dedicated to implementing it?

[2017-07-14 18:12] rrati opened #48954 "Make the cluster-id tag required for aws"
/kind feature

A Kubernetes cluster in AWS can run without the cluster-id being set on nodes, but odd issues can pop up.  If multiple clusters exist in the same AZ under the same user account, then things can get even more interesting.  We should make tagging the AWS instances required and fail to start the cluster if they are not set.  If either KubernetesCluster or kubernetes.io/cluster is set t

[2017-07-14 18:24] crimsonfaith91 opened #48957 "no generator for statefulset and daemonset"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: There is no generator for statefulset and daemonset listed [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory_client_access.go#L461-L488).

**What you expected to happen**: There is one for statefulset and daemonset.

**How to reproduce it (as minimally and precisely as possible)**: N

[2017-07-14 18:29] crimsonfaith91 commented on #48957
/sig-cli

[2017-07-14 18:37] nicksardo commented on #47985
My changes were ingress specific for when the apiserver is unavailable after disruption (what's happening here).

[2017-07-14 18:37] MrHohn commented on #48303
IMO bumping quota may not help too much here :)

Logs from https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-gci-qa-slow-m58/3004:
[code]

Appear to be the same issue that fixed by #46997. This CI is running k8s v1.5.6 and the fix was already cherrypicked into 1.5 (#47147), not sure why it still hit that error.

FYI other GKE failures were caused by #48642 and

[2017-07-14 18:42] MrHohn commented on #48303
My mistake, the fix is not in v1.5.6 and it is not released yet.

[2017-07-14 19:03] wongma7 commented on #48912
I don't follow why this is needed, emptyDir creates a new tmpfs "device" from nothing by doing "mount -o tmpfs tmpfs <emptyDir mountpoint>" and the only thing that then has access to that device is the pod. I think the advice about "noexec" etc. is about /tmp specifically not tmpfs in general

[2017-07-14 19:36] cmluciano commented on #48303
Ok, so we are probably waiting on 1.5.7?

[2017-07-14 19:37] wongma7 commented on #48954
cc https://github.com/kubernetes/kubernetes/issues/48504 . When an AWS cluster is not tagged, volumes may get provisioned in zones outside cluster and they'll be unexpectedly unusable by the user

[2017-07-14 19:39] cmluciano commented on #47985
The history looks to be green for the referenced test. Everything look good from your point @monopole ?

[2017-07-14 19:42] cblecker commented on #47361
There's been a number of mentions of it in the community meeting and on the dev lists. For example, this was a recent thread on it from sig-cli: https://groups.google.com/d/msg/kubernetes-dev/DyvuR2SzREU/q16gul3oAwAJ

[2017-07-14 19:43] kargakis commented on #48841
I would be fine with having this, it brings DaemonSet RollingUpdates on par with Deployments and since we will release v1beta2 in 1.8, it's a chance to get it in the existing strategy as opposed to a separate one.

[2017-07-14 19:48] cmluciano commented on #48792
@kubernetes/sig-network-misc

[2017-07-14 19:50] enj opened #48959 "NotFound errors do not line up with API endpoint's group version"
Currently it is possible to `GET` a specific `resource.group` and have the `NotFound` response point to a different group:

[code]

This is because `registry.Store` uses the `QualifiedResource`'s group information in `NotFound` errors instead of the current endpoint's group information.

@kubernetes/sig-api-machinery-misc

[2017-07-14 19:50] cmluciano commented on #19333
Adding https://github.com/kubernetes/kubernetes/issues/19333#issuecomment-199396785 as an ingress controller.

This is a useful feature, but I'b not sure if we have any owners.

[2017-07-14 19:52] cmluciano commented on #48811
@kubernetes/sig-network-feature-requests

[2017-07-14 19:54] divyenpatel commented on #48929
For vSphere cloud provider, vm name should match with the node name.

Kubernetes sends hostname to the vsphere cloud provider and then vsphere cloud provider finds vm reference using this name for attaching and detaching disk to the vm.

https://github.com/vmware/kubernetes/blob/master/pkg/cloudprovider/providers/vsphere/vsphere.go#L686
https://github.com/vmware/kubernetes/blob/master/pkg/cloudpro

[2017-07-14 19:56] danodob commented on #48371
Actually what ReSearchITEng is referring to in [#43819](https://github.com/kubernetes/kubernetes/issues/43819)  is the reverse cgroup driver configuration. It is the same thing I am running into as well. Docker is using cgroupfs whilst kubelet is using systemd. Every other issue/thread I have read references the opposite.

[2017-07-14 19:58] danodob commented on #43819
@ReSearchITEng, have you had any luck with this issue? I ran into it as well. Moving kubelet cgroup to cgroupfs removed the error but everything else I read points to both docker and kubelet using systemd.

[2017-07-14 20:02] MrHohn commented on #48303
Yep that is my thought too :)

[2017-07-14 20:02] nicorevin commented on #48912
@wongma7 then it is docker who is wrong. Try `docker run --tmpfs /lol smth`

[2017-07-14 20:05] MrHohn commented on #48303
Checked a bit, v1.5.7 was already released but doesn't have this fix neither (https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG.md#v157). We should wait for v1.5.8.

Though I wonder why this CI uses v1.5.6 instead of the latest one (v1.5.7)?
cc @krzyzacy

[2017-07-14 20:07] spzala commented on #47361
@cblecker thanks!!

[2017-07-14 20:18] ncdc opened #48962 "Discovery is missing shortNames for svc and netpol"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**: API discovery is missing `shortNames` for `svc` and `netpol`

**What you expected to happen**: it ideally shouldn't be missing, as these are defined [here](https://github.com/kubernetes/kubernetes/blob/b1040171b68217dccb617de85defa4a5063c638b/pkg/kubectl/kubectl.go#L46-L141), which is used by `kubectl` when resolving shor

[2017-07-14 20:18] ncdc commented on #48962
/sig api-machinery

[2017-07-14 20:18] ncdc commented on #48962
cc @kubernetes/sig-api-machinery-bugs

[2017-07-14 20:47] crimsonfaith91 commented on #48839
/open

[2017-07-14 20:53] crimsonfaith91 commented on #48839
@foxish Do you mind to reopen this issue? I used `fixes` rather than `xref` for one of my PRs, resulting with this issue got closed when the PR was merged.

Perhaps we can also list a task (#48895) about creating a subdirectory `upgrades/apps` and moving sig-apps upgrade tests there.

[2017-07-14 20:53] crimsonfaith91 commented on #48839
Update: GKE tests are still failing.

[2017-07-14 21:02] foxish commented on #48839
Will keep this issue open till all the dashboards are alive, in order to track.
Thanks @crimsonfaith91 for all the changes to improve our test organization.

[2017-07-14 21:17] luxas commented on #48191
@mikedanese are you working on this or should I send a PR?

[2017-07-14 21:45] krzyzacy commented on #48303
which job?

[2017-07-14 21:55] kingdonb commented on #48161
I will gladly sign a Contributor Agreement, but I think I still need a reviewer.  Can anyone confirm this change?

[2017-07-14 22:30] caesarxuchao commented on #48209
[client-go/util/jsonpath](https://github.com/kubernetes/client-go/tree/master/util/jsonpath) should be move to k8s.io/util as well.

[2017-07-14 22:32] dadicool commented on #44085
For those landing here, a separate path to get the mount point to have the right permissions is to add this annotation to the PV metadata:

[code]

This makes the plugin mount the volume in the Pod under those UID,GID. Obviously, this implies that one knows what those are for their workload in the container ...

[2017-07-14 22:49] saad-ali opened #48968 "Deployments with GCE PD fail with "...is already being used by...""
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

From user report on [reddit](https://www.reddit.com/r/kubernetes/comments/6na6ef/gce_does_not_release_persistent_volume_from_node/):
[code]

Other reports here:
* https://github.com/kubernetes/kubernetes/issues/19953#issuecomment-272181659

**What you expected to happen**:
Volume should attach to new node without issue.

[2017-07-14 22:50] saad-ali commented on #19953
Instead of re-opening this bug, I've created a new bug: https://github.com/kubernetes/kubernetes/issues/48968 Please carry on conversation there

[2017-07-14 23:34] supereagle commented on #48962
@ncdc  Your analysis is right. If you are not working on this, I think I can submit a PR to fix it.

[2017-07-14 23:45] lukaszo commented on #29276
@kow3ns some use cases are described in the PR https://github.com/kubernetes/kubernetes/pull/31136

[2017-07-14 23:48] MrHohn commented on #48303
@krzyzacy Sorry for the delay, I meant `ci-kubernetes-e2e-gce-cosbeta-k8sstable2-slow`. Took a look at the [config](https://github.com/kubernetes/test-infra/blob/master/jobs/config.json#L902-L921) seems like it is using `--extract=ci/latest-1.5`.

[2017-07-14 23:52] krzyzacy commented on #48303
huh? it's using ci/latest-1.6

[2017-07-14 23:52] MrHohn commented on #48303
Humm..It became `ci/latest-1.6` now.

[2017-07-14 23:54] krzyzacy commented on #48303
😏 magic

[2017-07-14 23:55] MrHohn commented on #48303
I see, I got the wrong CI name. The one I was looking is `ci-kubernetes-e2e-gce-gci-qa-slow-m58`.

[2017-07-14 23:56] davidopp commented on #29276
@kow3ns it's not an unreasonable question. Thinking out loud here, I could imagine you might want to run one daemon per rack, e.g. to control some rack-level hardware resource. (Pod affinity is harder to justify.)

[2017-07-14 23:58] MrHohn commented on #48303
Turned out this CI is using GCI builtin k8s version, we can't control that :)
[code]

[2017-07-15 00:02] piersbarrios commented on #48371
This can be closed as going onto the 1.7.1 (with other issues though)

[2017-07-15 00:04] msau42 commented on #48968
The initial report mentions that the node was not healthy, so the pod got rescheduled.  Does that trigger the update strategy (recreate or rollingupdate)?

[2017-07-15 00:16] crimsonfaith91 commented on #48957
@mengqiy
/sig cli

[2017-07-15 00:20] ixdy commented on #48887
And now [we're broken again](https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-cross-build/2369):
[code]

It seems that #48308 updated the docker dependency, which made the `go-ansiterm` revert in #48933 now incorrect.

cc @karataliu @yguo0905 @yujuhong @dchen1107

[2017-07-15 00:21] wongma7 commented on #48912
Good point, I dug up the issue that led to that https://github.com/moby/moby/issues/12143 . I'm hardly qualified to talk about security issues so I'll defer to the reviewers :). The only thing I'll add for the reviewers to consider is that the docker options are easily overridable, whereas an emptyDir user will be stuck with noexec no matter what.

[2017-07-15 00:23] caseydavenport commented on #48510
Hacked up a tentative fix here: https://github.com/kubernetes/kubernetes/pull/48970

Haven't been able to repro yet.

[2017-07-15 00:24] jackfrancis opened #48971 "azure cloudprovider-enabled kubelet not backing off for errors"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

In certain large cluster scenarios we would like to anticipate kubelet behavior hitting request limits, and backoff in response. E.g.,

[code]

**What you expected to happen**:

This is a request for add'l backoff coverage, so nothing surprising.

**How to reproduce it (as minimally and precisely as possible)**:

Bui

[2017-07-15 00:28] jackfrancis commented on #48971
/sig azure

[2017-07-15 00:34] #45546 closed

[2017-07-15 00:51] ncdc commented on #48962
I am not currently working on this. If you have time, we'd definitely
appreciate the help. Thanks!

On Fri, Jul 14, 2017 at 7:35 PM Robin Yue <notifications@github.com> wrote:

[2017-07-15 01:32] mengqiy commented on #48957
I think it is a feature rather than a bug.
/kind feature
/remove kind feature

Not sure if there are any concern to add generator for statefulset and daemonset?
@kubernetes/sig-apps-feature-requests Thoughts?

[2017-07-15 01:32] mengqiy commented on #48957
/remove kind bug

[2017-07-15 01:38] crimsonfaith91 commented on #48957
@mengqiy Thanks for correcting it! :)

[2017-07-15 01:39] liggitt commented on #48928
I agree the query is stripped, though I'm seeing the same behavior in every release back to 1.2.x where the webhook authorizer was introduced.

I'm not sure we want to add support for query parameters in the url... can you make it a path segment instead?

[2017-07-15 01:49] karataliu commented on #48887
@ixdy twists and turns here
Yeah, since we have got an updated docker version now, we can revert the go-ansiterm version downgrade change #48933. Thanks for the follow up.

Is the cross-build test a required one for check-in now? If it is, then no such breaks should happen.

[2017-07-15 02:01] cblecker commented on #48887
It isn't by default.. I believe this is because it's long running and resource intensive.

@ixdy: is it potentially worth adding Godeps to the cross-build [run_if_changed list](https://github.com/kubernetes/test-infra/blob/3b0fbf35c9f1e4a91b75ea141d3cf4d3da051c39/prow/config.yaml#L102)? I don't know if this could prevent this in the future, or if it would just consume a lot of resources for very l

[2017-07-15 03:18] k8s-merge-robot opened #48973 "Failure cluster [4c3f2f...] failed 88 builds, 2 jobs, and 1 tests over 1 days"
### Failure cluster [4c3f2f715c59d784a341](https://go.k8s.io/triage#4c3f2f715c59d784a341)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    2 jobs failed,    88 builds failed.
Failure stats cover 1 day time range '14 Jul 2017 02:46 UTC' to '15 Jul 2017 02:46 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| BeforeSuite | 2 |

####

[2017-07-15 04:30] matlockx commented on #48929
Ok, in that case the fix would be make it clear in the documentation, that override Hostname might be ignored when using a cloud provider. I ran into this when using kubespray. Kubespray always sets the node name to the unqualified name. When we updated the cluster then and activated the cloud provider all nodes weren't any longer registered, because their node names changed and they didn't re-reg

[2017-07-15 04:36] k82cn commented on #48527
ok; so we can close this issue I think :).

----
Da (Klaus), Ma (马达) | PMP® | Software Architect, IBM Cloud private
Development
IBM Spectrum Computing, IBM System
+86-10-8245 4084 | klaus1982.cn@gmail.com | http://k82.me

On Fri, Jul 14, 2017 at 5:06 AM, Daniel Smith <notifications@github.com>
wrote:

[2017-07-15 04:37] yuvipanda commented on #48968
We've run into this a lot too, and we weren't using deployments. We were simply spawning pods that had a PD attached. After the pods were killed, the disks don't seem to be detached from the underling VM automatically, sometimes for hours? When the pods come back up on a different machine, we often get this exact same error error (and it sometimes clears up in a few minutes, often not).

We wrote

[2017-07-15 05:06] supereagle opened #48975 "Remove duplicated import and wrong alias name of package k8s.io/api/core/v1"
**Is this a BUG REPORT or FEATURE REQUEST?**: No

**What happened**:
Now the `k8s.io/kubernetes/pkg/api/v1` and `k8s.io/client-go/pkg/api/v1` has been consistent in `k8s.io/api/core/v1` by PR #44784.
There are 2 problems left:
* For the import `clientv1 "k8s.io/api/core/v1"` in some packages like [cmd/kube-proxy/app/server.go](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-proxy/app

[2017-07-15 05:08] supereagle commented on #48975
/sig api-machinery

[2017-07-15 05:15] justinsb commented on #29480
The question in my mind is whether we should (and if not, why not), and whether we should split off logging from the other privileged flags.  Reopening.

[2017-07-15 07:48] colemickens opened #48980 "azure: automatic ACR docker cred integration doesn't work with UseManagedIdentity"
/kind bug

The support for Managed Identity Extension in Azure is incompatible with automatic ACR integration. ACR currently only supports authentication with an admin password (which is generally discouraged) and `client_id`/`client_secret` auth with AAD Service Principals.

/sig azure

[2017-07-15 07:49] colemickens commented on #48980
/sig azure

[2017-07-15 09:30] tamalsaha commented on #48968
We also see this issue happening. The most annoying thing about GCE is that it does "silent" migration of VMs, after which PVs are not released. So, when Kubernetes wants to start pod on that node, it fails with resource already in use type error.

cc: @sadlil

[2017-07-15 09:52] wawastein commented on #48968
Hello, I'm original reddit poster. Couple more details.

Deployment in question (sans sensitive info):

[code]
The PVC:
[code]
Last time I observed behavior in question, it was induced by faulty job producing high number of faulty pods, which generated disk pressure. Redis was scheduled to different node and the rest is history.
Please let me know if I can be of any additional help.

[2017-07-15 10:14] w17chm4n commented on #48937
@yujuhong I was thinking about your comment and I think it is still a bug since downgrading Kubernetes to 1.6 fixes the problem while having the same setup as described above. So something have changed in 1.7. But yeah. Will try to investigate on my own.

[2017-07-15 10:47] purplesword commented on #41580
I have exactly same issue as @csandanov with 1.6.7 for a elasticsearch 5.5 pod.

`Init Containers:
  sysctl:
    Container ID:
    Image:             busybox
    Image ID:
    Port:
    Command:
      sysctl
      -w
      vm.max_map_count=262144
    State:              Waiting
      Reason:           PodInitializing
    Ready:              False
    Restart Count:      0
`

[2017-07-15 11:12] nicorevin commented on #48912
This is what I was thinking about as well.
On the one hand it would probably be good to _allow_ users to mount tmpfs with possibility to run executables.
On the other hand one container == one process. Kubernetes has elaborated this principle by introducing pods as a matter for [composite container applications](http://blog.kubernetes.io/2015/06/the-distributed-system-toolkit-patterns.html) thus e

[2017-07-15 12:53] k82cn opened #48982 "If node is unreachable, also set NetworkUnavailable/InodePressure to Unknown"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

If node is unreachable, NodeController only set `v1.NodeOutOfDisk`, `v1.NodeMemoryPressure`, `v1.NodeDiskPressure` to unknown; it's better to also set NetworkUnavailable & InodePressure to unknown.

[2017-07-15 12:57] k82cn commented on #48982
/sig node

[2017-07-15 15:14] xiangpengzhao commented on #48692
There is no LB for headless service. Why do you need LB for a headless service? Any more details about your use case?

See: https://kubernetes.io/docs/concepts/services-networking/service/#headless-services

/sig network

[2017-07-15 15:26] xiangpengzhao commented on #48714
/sig api-machinery

[2017-07-15 15:29] xiangpengzhao commented on #48787
/sig node
/cc @vishh

[2017-07-15 15:46] sebgoa commented on #24343
examples have been moved out to https://github.com/kubernetes/examples , breadcrumbs is left behind in all READMEs.

There is still some cleanup to do (build, tests, API docs) , but all examples are now gone.

[2017-07-15 15:49] xiangpengzhao commented on #48865
/sig cluster-ops maybe

[2017-07-15 15:59] liggitt commented on #48865
yes, quorum read is expected to be on in HA envs. you are correct that that should be better documented/enforced.

the API server has a watch cache, but attempts to watch from newer resource versions should block until the API server observes the events from the underlying etcd. get/list operations do not use the API cache unless explicitly opted into with a `resourceVersion=0` parameter.

I know

[2017-07-15 16:03] xiangpengzhao commented on #48982
Isn't `NetworkUnavailable` a known condition if node is unreachable?

[2017-07-15 16:57] luxas commented on #46822
Absolutely agree, I think this would be a good improvement for v1.8

cc @jamiehannaford I guess your PR can address this issue? It will solve the problem for kubeadm at the same time...

[2017-07-15 17:02] ahmetb commented on #17080
I'm trying to see if there's a precedent for moving vendor-specific docs to the website (excluding the installation/setup guides). I think the rule of thumb nowadays is to keep the website vendor-neutral. That said, we can split the large README.md s into smaller markdowns, and link to their GitHub pages from the docs website where appropriate.

[2017-07-15 17:29] liggitt opened #48984 "spurious changes in types.generated.go with hack/update-all.sh"
I'm seeing changes show up in types.generated.go when running hack/update-all.sh that are unrelated to the changes I'm making, and cause CI to fail.

Example:
https://github.com/kubernetes/kubernetes/pull/45294/commits/4774babcacf1d8ae34e2300c8cc48f1ad6ca77bc#diff-84c1f4a54ef63a83dfee0975f6895d71
https://k8s-gubernator.appspot.com/pr/45294
https://k8s-gubernator.appspot.com/build/kubernetes-jenkin

[2017-07-15 17:56] liggitt commented on #48945
the authenticator is already working from a cache of the bootstrap tokens, so the lookup is essentially free. combined with the format check, I think we already have a pretty fast path.

[2017-07-15 18:02] jamiehannaford commented on #46822
Yeah, sure. I'll work on something and submit it sometime this week.

@xiangpengzhao If you'd like to review when it's ready that'd also be great.

[2017-07-15 18:10] xiangpengzhao opened #48985 "Consider splitting CHANGELOG in separate files"
The CHANGELOG becomes longer and longer as we have more and more releases (though we remove some oldest releases changelog). It also has bad order of releases (not listed by version but release date). This make it hard to read.

How about splitting it?

- create a sub-dir `CHANGELOG` in repo root
- every release has its own changelog file with name `version name.md` in the above dir.
- the changel

[2017-07-15 18:16] xiangpengzhao commented on #46822
@jamiehannaford Sure. I'm look forward to your PR! Please ping me when it's ready. Thanks for your work!

[2017-07-15 19:02] kargakis commented on #39975
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48030/pull-kubernetes-bazel/30316/

[2017-07-15 20:05] bbzg commented on #27813
I recently upgraded to kubernetes 1.7 with RBAC on GKE, and I am seeing something similar:

[code]

GKE Cluster logs (slightly redacted):

[code]

I have tried figuring out what the cause might be, but have not found anything except this thread. I suppose I should post something on stack overflow, but trying here first.

What can I do to get Ingress working again in my cluster?

Thanks!

[2017-07-15 20:18] vdavidoff commented on #48703
I just upgraded from 1.6.0 to 1.7.1 and am seeing these every 10 seconds in kubelet's log.
`W0715 20:17:26.539314   13810 helpers.go:771] eviction manager: no observation found for eviction signal allocatableNodeFs.available`

[2017-07-15 23:23] chrislovecnm commented on #48841
/cc

[2017-07-15 23:33] chrislovecnm commented on #24343
Is anyone working on a generic release process? If not I am raising my hand to help with that and get a release process for kops.

One hurdle is that we need a place to put bits and containers.

[2017-07-15 23:45] xiangpengzhao commented on #48163
Letting anyone do `/approve no-issue` will encourage people to do more for community. But will this be safe enough? If a new contributor who is not so familiar with the code in a PR do a `/approve no-issue` and then the PR is merged, potential bug may be missed in this process. OTOH, OWNERS of that code can (relatively) review the code better and approve more carefully.

Of course, this is just a

[2017-07-16 00:13] #46932 closed

[2017-07-16 00:30] k82cn commented on #48982
`NetworkUnavailable` is the status of container, e.g. CNI is not ready. If node is unreachable, it should be Unknown.

[2017-07-16 00:37] k82cn opened #48987 "Refactor NodeController to use evictor objects instead of flag"
**Is this a BUG REPORT or FEATURE REQUEST?**:
enhancement/cleanup

/kind feature

**Description**:
NodeController uses `useTaintBasedEvictions` to distinguish taint-based-eviction and default-pod-eviction; this tag is scattered around the code :(. The proposal is to create an interface `Evictor` and two implementation: TaintEvictor & DefaltEvictor for code cleanup.

[2017-07-16 00:37] k82cn commented on #48987
/sig node

[2017-07-16 00:38] k82cn commented on #48987
no sig own NodeController now; added to sig-node temporarily :).

[2017-07-16 00:44] xiangpengzhao commented on #48982
Thanks for explanation!

[2017-07-16 02:06] bjhaid commented on #48215
@deads2k I got something working here:

https://github.com/bjhaid/kubernetes/commit/3d685f1404a9aefd801701942b29b7abc95913f4

It's doesn't have tests, but I have tested it from the command line and it works as expected, I can maybe add tests and move the logic to a separate function if you think this makes sense

[2017-07-16 03:18] k8s-merge-robot opened #48990 "pr:pull-kubernetes-node-e2e flaked 53 times in the past week"
### Flaky Job: pr:pull-kubernetes-node-e2e
 Flakes in the past week: **53**
 Consistency: **93.40%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| [k8s.io] Security Context when creating a pod in the host network namespace should listen on same port in the host network containers | 7 |

[Flakiest Jobs](https://storage.googleapis.com/k8s-metrics/flakes-latest.json)

[2017-07-16 07:10] m1093782566 opened #48992 "Implement ipvs util package"
PR #46580 "Implement IPVS-based in-cluster service load balancing" looks a bit huge and it's not easy to review. I admit PR #46580 has many files changed and it costs time to review and fix comments. Should we split the original work into small ones and do that one by one?

In my view, PR #46580 can be cut into at least 2 smaller ones - implementing ipvs util package and godeps = 1 PR, main part o

[2017-07-16 07:12] loewenstein commented on #37838
@verb Sorry I didn't find time to respond earlier. The work you are doing looks interesting and I agree that it suffices for the immediate use case of debugging.

However, it does not help in my case. I really need to change _the real containers_. In a certain sense I am trying to integrate a "vm scheduler" with kube. I.e. BOSH has a similar feature set to Kubernetes. The users defines the desired

[2017-07-16 08:15] k82cn opened #48995 "Remove the backward compatibility code for kubelet 1.2 in NodeController."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

There are some code in NodeController for kubelet 1.2 compatibility, which should be removed now.

[2017-07-16 08:21] k82cn commented on #48995
/sig node

[2017-07-16 11:48] shiywang commented on #48503
@lavalamp I would like to take a look on this one, could you assign to me ?

[2017-07-16 12:24] k82cn commented on #48987
/cc @gmarek

[2017-07-16 15:02] gogeof commented on #48703
## not just update face this problem, but also use kubeadm to create k8s cluster. I check the event of kubelet , and shows like follow:

[code]

[2017-07-16 17:04] divyenpatel commented on #48929
@matlockx we are tracking this issue and make it clear in the documentation - https://github.com/vmware/kubernetes/issues/200

[2017-07-16 19:14] davidopp commented on #47867
I thought @vishh was saying the opposite (see my first entry in this issue). Maybe e can clarify.

[2017-07-16 20:12] vdavidoff opened #48998 "kubelet "Unable to mount volumes" for short lived pod that ran to completion/mounted volumes successfully"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
While reviewing kubelet logs after a 1.6.0 -> 1.7.1 upgrade, I noticed errors indicating failure to attach volumes to a pod (spawned by a cronjob) for which I know the volume attachment was successful. These errors show up after the only container in the pod has already exited, with its execution and kubelet logging prior

[2017-07-16 20:23] jdumars commented on #48900
/sig azure

[2017-07-16 20:26] jdumars commented on #46340
/sig azure

[2017-07-16 20:27] jdumars commented on #40724
/sig azure

[2017-07-16 21:00] timoreimann commented on #47180
@tnozicka did you create an issue in kubernetes/kubectl? If so, would you mind linking to it? Thanks!

[2017-07-16 21:02] vdavidoff commented on #48998
Not to confuse the issue, but I just found errors in the `controller-manager` logs that I think might also be similar in that they could be related to the short-liveness of the container/pod. These are happening for the same pod in both 1.6.0 and 1.7.1.

[code]

[2017-07-16 23:15] timoreimann commented on #30120
Duplicate of the much older #2707.

[2017-07-16 23:24] #30120 closed

[2017-07-16 23:27] caesarxuchao commented on #48893
related https://github.com/kubernetes/kubernetes/issues/22061

[2017-07-16 23:29] psyhomb commented on #10456
You can maybe try this concept with consul and traefik
https://github.com/psyhomb/k8s-deployer

More in depth explanation
https://github.com/psyhomb/k8s-deployer/tree/master/traefik#more-in-depth-explanation

[2017-07-16 23:33] #41573 closed

[2017-07-17 00:41] fogongzi opened #49000 "kube-control-manager hanged by "attempting to acquire leader lease...""
/sig controller-manager
/sig bug
@kubernetes/sig-controller-manager-bugs
/area [controller-manager]
/kind [bug]
Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug
/area controller-manager

I install kubernetes 1.7 on ubuntu 17.04. The master includes three nodes and owns high availability by etcd election. Only a node (10.71.156.238) with kube-control-manager looks good. The other two nodes(10.7

[2017-07-17 00:43] fogongzi commented on #49000
/sig bugs

[2017-07-17 01:04] #47173 closed

[2017-07-17 01:33] xrmzju commented on #42433
so, is there any conclusion of this problem? I ran into this problem too..

[2017-07-17 01:37] caesarxuchao commented on #48984
Perhaps it's because https://github.com/kubernetes/kubernetes/blob/master/hack/update-codecgen.sh#L74-L75 and that we moved the types.go to k8s.io/api.

`my_prefix` was added in https://github.com/kubernetes/kubernetes/pull/25240. I don't understand why we needed to limit the tsort within k8s.io/kubernetes. @thockin do you remember? Can we just update my_prefix to `vendor/k8s.io/api` to fix the pr

[2017-07-17 02:07] dixudx commented on #49000
@fogongzi Would you pls paste your configurations on Apiserver and controller-manager. I don't think this is a bug.

[2017-07-17 02:57] ZhenyangZhao commented on #39026
@jamstar Thanks a lot. I had resolved this problem.

[2017-07-17 03:00] #47313 closed

[2017-07-17 03:04] zhangqx2010 commented on #48803
Find something that may cause this problem.

1. I need to manually configure one static ip for cbr. (following: https://kubernetes.io/docs/getting-started-guides/scratch/#networking)
2. Calico will use the old ip address for new deployment if calico has been deployed earlier. Even when I delete the cache /var/etcd/calico-data/ , which I think is really strange. And I also investigated the etcd con

[2017-07-17 03:04] #48803 closed

[2017-07-17 03:19] k8s-merge-robot opened #49002 "Failure cluster [b76964...] failed 96 builds, 27 jobs, and 2 tests over 1 days"
### Failure cluster [b76964c41e6ff770deba](https://go.k8s.io/triage#b76964c41e6ff770deba)
##### Error text:
[code]
##### Failure cluster statistics:
2 tests failed,    27 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '16 Jul 2017 02:32 UTC' to '17 Jul 2017 02:32 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| job-upgrade | 27 |
| d

[2017-07-17 03:19] k8s-merge-robot opened #49003 "Failure cluster [7b4c6f...] failed 96 builds, 27 jobs, and 1 tests over 1 days"
### Failure cluster [7b4c6fae48bcc90a4979](https://go.k8s.io/triage#7b4c6fae48bcc90a4979)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    27 jobs failed,    96 builds failed.
Failure stats cover 1 day time range '16 Jul 2017 02:32 UTC' to '17 Jul 2017 02:32 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| daemonset-upgrade | 27

[2017-07-17 03:25] Kenblair1226 commented on #48725
Hi @nicksardo , may I ask why this was closed?
I got this message when doing `kubectl describe ingress`

Events:
  FirstSeen	LastSeen	Count	From			SubObjectPath	Type		Reason		Message
  ---------	--------	-----	----			-------------	--------	------		-------
  2d		5m		648	loadbalancer-controller			Warning		GCE :Quota	googleapi: Error 403: Insufficient Permission, insufficientPermissions

Which confus

[2017-07-17 03:39] jianzhangbjz commented on #38596
Sure, close it.

[2017-07-17 03:39] #38596 closed

[2017-07-17 03:50] duan-yue commented on #48790
hanging with "attempting to acquire leader lease..."  is not bug, kube-controller-manager is designed to act as that. There is always only one controller-manager working and others attempt to acquire leader lease periodically.

[2017-07-17 04:02] davidopp commented on #42433
It would be great if someone in the community could dig into this.

[2017-07-17 04:02] abraithwaite commented on #36141
I want this functionality.

[2017-07-17 05:01] paulwalker commented on #47448
Using master branch of helm and tiller does not seem to resolve the issue for at least the concourse chart. How can I workaround this for a 1.7.0 GKE cluster?

[2017-07-17 05:40] dixudx commented on #44676
Dup of issue #47264. [Refer this comment](https://github.com/kubernetes/kubernetes/issues/47264#issuecomment-311584187).

[2017-07-17 06:07] jicki commented on #48703
[code]

me too

[2017-07-17 06:08] fogongzi commented on #49000
@dixudx ,Thanks for your reply. My Apiserver configuration is:
[Unit]
Description=Kubernetes API Service
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd.service

[Service]
EnvironmentFile=-/etc/kubernetes/config
EnvironmentFile=-/etc/kubernetes/apiserver
ExecStart=/usr/local/bin/kube-apiserver \
        $KUBE_LOGTOSTDERR \
        $KUBE_LOG_LEVEL \

[2017-07-17 06:18] matlockx commented on #48929
👍 @divyenpatel so i close this here?

[2017-07-17 06:39] jejer commented on #42690
Same error in openstack enviroment.

[2017-07-17 06:56] gmarek opened #49005 "Master in scalability suite for 1.7 branch does not come up"
It happened 3 times in a row. Last failure:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1-7/93

@kubernetes/sig-scalability-bugs @wojtek-t @shyamjvs

[2017-07-17 07:04] malc0lm commented on #47671
I think [Line 242](https://github.com/kubernetes/kubernetes/blob/204fb62d4931b036732eeeca9e362c833ccc7a3b/pkg/client/leaderelection/leaderelection.go#L242) has already check your problem. It means that if local LeaderElector's observedRecord is not equal with leader's, it will update to leader's "oldLeaderElectionRecord" which is obtained by [Line 226](https://github.com/kubernetes/kubernetes/blob

[2017-07-17 07:18] wojtek-t commented on #49005
However, gci-scalability is passing - this is probably some configuration issue.

[2017-07-17 07:39] PLoic commented on #48798
Sorry for the delay, I was using Weave, I will try to update kubernetes to 1.7.1 and with the new version of weave

[2017-07-17 07:54] vikaschoudhary16 commented on #46837
@jmzwcn will not it work if something like `TopologyKey: "IDC"` is used in the podAntiAffinity term as explained [here](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/podaffinity.md#anti-affinity) ?
Looks like this functionality is implemented as well and [non-node topology key is allowed](https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/

[2017-07-17 08:03] bbzg opened #49008 "GKE Multi Zone Cluster: Pods in primary zone are unscheduled (then re-scheduled) every 5 minutes"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

* Created a multi zone GKE cluster
[code]

* Created a new node pool:
[code]
Please note that `gcloud alpha node-pools create` does not have the `--additional-zones` parameter available (as opposed to `gcloud alpha clusters create`)

* Deleted the old `default` node pool

After a while, my system looks like this:
[code]

[2017-07-17 08:05] bbzg commented on #49008
/sig autoscaling

[2017-07-17 08:07] gmarek commented on #48987
I think it's more a cleanup that feature. Also as we're most likely going to remove 'normal eviction' after 'taint-based eviction' are in GA I'm not completely convinced that it's worth doing. But if someone has free cycles then by all means he/she's free to do it, as this is a good pattern.

[2017-07-17 08:43] sttts commented on #48959
We have the request context to get the request info which then has the endpoint `GroupResource`.

[2017-07-17 08:46] shiywang commented on #48959
@sttts @enj I would like to take a look this one, could you assign to me ?

[2017-07-17 09:19] sttts commented on #48714
@maleck13 are you working on this? Would assign the issue then.

[2017-07-17 09:20] mikebryant commented on #46733
The 1.7 controller-manager has a significant regression in openstack: #47651 / #47602

[2017-07-17 09:21] sttts commented on #24343
Just something I noticed this morning about our release process: we have `release-*` branches for staging repos, but no tags. This makes vendoring tedious.

[2017-07-17 09:25] sttts opened #49011 "Exported staging repos are not tagged"
We synchronize master and release *branches* between the k8s.io/kubernetes repo and the staging repos (k8s.io/api, k8s.io/apiserver, ...), but we don't tag the later on releases. Everybody vendoring the staging repos has to manually extract the right revision somehow, e.g. via the `kubernetes-sha`.

IMO we should add tagging of the staging repos to the release process.

[2017-07-17 09:25] sttts commented on #49011
/cc @caesarxuchao @kubernetes/sig-release-misc

[2017-07-17 09:30] crassirostris opened #49012 "Stackdriver Logging soak tests are timing out"
There's a problem b/c pods are created to run on all nodes, but run sequentially, effectively multiplying testing time

[2017-07-17 09:30] shyamjvs commented on #49005
Seems to be some problem with stopping the docker daemon (as iirc we change docker config and then restart it):

[code]

(ref: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1-7/91/artifacts/e2e-scalability-1-7-master/docker.log)

While usually after this we have the following:

[code]

(ref: https://storage.googleapis.com/kubernetes-jenkins/logs/c

[2017-07-17 09:31] #39975 closed

[2017-07-17 09:33] wojtek-t commented on #49005
Why we are not seeing it in any other tests then?

[2017-07-17 09:36] shyamjvs commented on #49005
Trying to figure out

[2017-07-17 09:37] unixwitch commented on #48928
Hm... I thought I'd tested this, but obviously not enough since I just tried it on 1.6 and indeed it doesn't work.

We can work around this by moving the parameter into the URL path, although it would be helpful if it was noted in the [webhook documentation](https://kubernetes.io/docs/admin/authorization/webhook/).  (We can't make authz decision on user alone as the decision is based on the list o

[2017-07-17 09:47] xingzhou commented on #48953
I think #47333 might cover this

[2017-07-17 09:57] guillelb commented on #48703
An me.
k8s version: v1.7.0
OS: Ubuntu 16.04.2 LTS

Kubelet log (every 10 seconds):
[code]

[2017-07-17 10:06] nlamirault commented on #48378
Same error for my installation. Switch to v1.6.5 and 1.6.7 it works fine.

[2017-07-17 10:30] duan-yue commented on #48792
For merely livenessProbe, I find the proxy is set [here ](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/net/http.go#L64-L67), it only reads NO_PROXY and excludes ip in NO_PROXY.  So we can exclude all hosts who have the same cidr as k8s cluster.  If you think this solution is feasible, I would like to submit such a patch. @xiangpengzhao @cmluciano

[2017-07-17 11:42] PLoic commented on #48798
I updated all my components and it seems to works  ! :)

[2017-07-17 12:00] hanikesn commented on #17525
We definitely still have the problem that the docker daemon gets stuck, but the scheduler will still schedule pods to this node. They will never get started, but also not rescheduled.

[2017-07-17 12:18] jamstar commented on #39026
@ZhenyangZhao yes, it was not as much for you and more in case anyone else google's that error and ends up at this ticket.

[2017-07-17 12:22] shyamjvs commented on #49005
This seems to not happen for any other release 1.7 jobs I checked, even ones with debian as the node OS (though it doesn't really matter as the master is still gci).
For e.g - https://k8s-testgrid.appspot.com/release-1.7-all#gce-release-1-7

[2017-07-17 12:23] shyamjvs commented on #49005
I triggered the job manually and checking what is the problem live.

[2017-07-17 12:27] shyamjvs commented on #49005
It seems to magically work now and TBH I have no idea why. Seems to be some transient failure, though let's wait to check if it passes for some runs before closing the issue.

[2017-07-17 12:54] dims commented on #42690
/sig openstack

[2017-07-17 12:56] noam-fairfly commented on #44273
Same

[2017-07-17 12:59] smarterclayton commented on #48893
Will queue this up to go over.  @soltysh had work queued for cronjob and
job to address the need to resync frequently, so he can verify in those.

On Sun, Jul 16, 2017 at 7:27 PM, Chao Xu <notifications@github.com> wrote:

[2017-07-17 13:00] ami-fairfly commented on #44273
Happening to us on AWS as well

[2017-07-17 13:00] ace13 commented on #48792
If kubelet is able to append the cluster CIDR to its NO_PROXY variable itself then that would definitely solve the issue for me.

Certainly more appropriate than my current workaround of running a tainted k8s node on the proxy server.

[2017-07-17 13:01] smarterclayton commented on #48912
Fine grained controls on emptydir aren't a bad idea, but for backwards
compatibility we'd need to preserve today's behavior AND have a PSP rule to
control them.

On Sat, Jul 15, 2017 at 7:12 AM, Nick Revin <notifications@github.com>
wrote:

[2017-07-17 13:09] liggitt commented on #47448
the API change was reverted for 1.7.0. What error are you seeing against 1.7.0?

[2017-07-17 13:17] liggitt commented on #48959
I think I would have expected distinct rest stores serving the two groups, each with their own qualifiedresource

[2017-07-17 13:30] timothysc commented on #48041
Taints and Tolerations are an opt-in feature except for the defaults placed on masters.  Wouldn't it be more prudent to have a design guide around the feature and include initializers?  Right now we have so many features, but we are severely lacking on documentation on best practices of those features.

/cc @jbeda

[2017-07-17 13:37] gmarek opened #49023 "API changes devel doc is (very) outdated"
E.g. it still refers to `pkg/api/v1/...`
Just take a look: https://github.com/kubernetes/community/blob/master/contributors/devel/api_changes.md#changing-versioned-apis

@kubernetes/sig-api-machinery-bugs

[2017-07-17 13:38] vikaschoudhary16 commented on #48811
@cmluciano If anybody has not started working on this already, i would like to look into it. Can you please assign this to me?

[2017-07-17 13:42] dixudx commented on #48811
@vikaschoudhary16 Already WIP in PR #48988.

[2017-07-17 13:43] k82cn commented on #48982
will not set NetworkUnavailable & InodePressure to unknown, refer to https://github.com/kubernetes/kubernetes/pull/48983#issuecomment-315624739 .

[2017-07-17 13:54] strowi opened #49024 "podSecurityPolicy missing documentation for creating pod-creating objects"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Setting up PSP with RBAC after following the [docs](https://github.com/kubernetes/examples/blob/master/staging/podsecuritypolicy/rbac/README.md), i'm unable to create daemonsets/deployments.

**What you expected to happen**:
- privileged users should be able to run daemonsets/deployments etc.
- unprivileged users should b

[2017-07-17 14:06] strowi commented on #49024
/sig auth

[2017-07-17 14:21] nicorevin commented on #48912
Ok, to summarize:
1. add support for `emptyDir.mountOptions`
2. extend PSP to allow user to pass mount options along with the volume types.
3. Leave the defaults as they are right now.

[2017-07-17 14:27] deads2k commented on #48215
Yeah, it looks close enough to be worth a pull and some tests

[2017-07-17 14:28] shyamjvs commented on #49005
It failed again for the timer triggered run - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scalability-release-1-7/95
This is strange as it passed on manual trigger and I checked that the only args that are different for kubetest across both are:

[code]

@kubernetes/test-infra-maintainers Seems like some pure jenkins issue. I'll try to reproduce this.

[2017-07-17 14:34] liggitt commented on #48928
Agree the docs should be updated.

If you're looking for other ways to plumb that info (and your webhook doesn't already make use of authentication info from the apiserver), you can put basic auth or bearer token credentials in the authz webhook config, and that will be sent to the webhook as an authorization header. Your bearer token could be "cluster=staging", for example.

[2017-07-17 14:35] deads2k commented on #48959
Why wouldn't we want to share most of the storage.  The same get,list,watch caches as a for instance.

[2017-07-17 14:38] exarkun commented on #43212
What version of Kubernetes is it expected that this issue is resolved in?  The problem still manifests on my Kubernetes 1.6.3 deployment.

[2017-07-17 14:44] maleck13 commented on #48714
@sttts Happy to have it assigned to me. However I cannot work on it immediately

[2017-07-17 14:45] liggitt opened #49027 "Orphaned objects cannot be deleted once their namespace is removed"
If namespaced resources exist, but their associated namespace does not, the namespace lifecycle admission plugin prevents their cleanup.

The lifecycle admission plugin should not prevent deletion of these objects... it's job is to prevent creation of objects in terminating namespaces, and create/update of objects in missing namespaces.

[2017-07-17 14:47] gnufied commented on #48998
/sig storage

[2017-07-17 14:51] bjhaid commented on #48215
Thanks ❤️ I'll clean it up and send in a PR

[2017-07-17 14:56] PLoic commented on #45956
@erikbgithub @dcbw I try with the 1.7.1 version and I had the same behavior

[2017-07-17 15:12] johanneswuerbach opened #49028 "hpa scales below MinReplicas if desiredReplicas is zero"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

hpa scales to `1` if desiredReplicas is zero

**What you expected to happen**:

hpa scales to MinReplicas if desiredReplicas is zero

**How to reproduce it (as minimally and precisely as possible)**:

Create a hpa with minReplicas set. E.g.

[code]

Create an `api` deployment with zero cpu usage. The deployment will star

[2017-07-17 15:21] Sispheor commented on #29166
Same for me, maybe a missconfig

This is what I've done:
Create the disk (via vsphere plugin)
[code]

On the ESXI, I can see that it has been created in `/vmfs/volumes/S_DOKKERVMPool/dockvols/_DEFAULT/test1.vmdk`

I create a pod declaration
[code]

Here is the output
[code]

Logs on the node
[code]

[2017-07-17 15:35] derekwaynecarr commented on #48926
@gmarek - thanks for following up on this.  agreed completely.

[2017-07-17 15:41] Fizzadar commented on #47893
We are also seeing this issue, our uwsgi app is returning a 302 to the check and then being immediately nuked:

[code]

[2017-07-17 15:43] #46330 closed

[2017-07-17 15:50] liggitt commented on #49024
the documentation is missing a section on what you need to do to create pod-creating resources

PSP permissions must be granted to the service account specified in the pod spec