[2021-05-13 07:05] chendave opened #101967 "[arm64] several e2e storage testcases are failed due to the ceph is not ready"
#### What happened:
When I run some e2e storage testcases locally, below testcases as an example,

[code]

I consistently saw the below error message,

[code]

#### What you expected to happen:
ceph should be deployed successfully and testcase should pass.

#### How to reproduce it (as minimally and precisely as possible):
Run the testcases mentioned above.

e.g.
[code]

#### Anything else we need

[2021-05-13 07:05] chendave commented on #101967
/sig testing
/sig storage

[2021-05-13 07:05] chendave commented on #101967
/assign

[2021-05-13 07:52] Estherbdf commented on #43459
Could you please give a example show how an attacker can create a pod without serviceaccount?

[2021-05-13 07:53] kyrieSun-wow opened #101968 "kube-proxy failed to clear conntrack for SCTP for the pod which is removed from service"
kube-proxy failed to clear conntrack for SCTP for the pod which is removed from service

#### What happened:
Pod A stop replying the readinessProbe, the corresponding endpoint was removed from service, and so was the corresponding iptables rules, but the conntrack of pod A is stay still. At that time, client sent the SCTP heartbeat to this service via externalIp, this packet still be forwarded to

[2021-05-13 07:55] primeroz commented on #100467
FYI this is also present in gke `1.18.17-gke.700` , i did hope they would backport the patch since yesterday the .700 was released to stable channel but that is not the case.

Luckily, for us, this is only an issue with `preemptible` nodes since that is effectively a node restart

Will wait for 1.18.19 impatiently. :crossed_fingers:

[2021-05-13 08:12] mborsz opened #101969 "Optimize kube-root-ca.crt watches"
#### What would you like to be added:

With BoundServiceAccountTokenVolumes feature, all kubelets started watching 'kube-root-ca.crt' configmap, in each namespace that has a pod running on the given kubelet.

All such configmap has exactly the same data:, usually specified in --root-ca-file flag:

https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/certificates/rootcacertpublisher/

[2021-05-13 08:24] pacoxu commented on #101968
/sig network

[2021-05-13 08:25] pacoxu commented on #101965
/sig auth

[2021-05-13 08:26] pacoxu commented on #101965
/sig cluster-lifecycle
/area kubeadm

[2021-05-13 08:27] pacoxu commented on #101965
/cc @SataQiu

[2021-05-13 08:37] lunhuijie opened #101970 "When referencing a package named "github.com/mrunalp/fileutils", ci found that there are two variables undefined"
#### What happened:
I wrote a test case and referenced this package（github.com/mrunalp/fileutils） to copy the folder，the function is fileutils.CopyDirectory. CI reported an error.
![image](https://user-images.githubusercontent.com/45219809/118100646-45948a00-b409-11eb-9348-425e0ff43b10.png)

#### What you expected to happen:
CI pass without "pull-kubernetes-typecheck — Job failed."
#### How to rep

[2021-05-13 08:41] lunhuijie commented on #101970
@mrunalp I read the relevant source code and found that there is a definition. So why is CI but could you help me take a look?
I would be very grateful for your help!

[2021-05-13 08:59] sbueringer commented on #92601
/reopen
/remove-lifecycle rotten

[2021-05-13 09:03] lunhuijie commented on #101970
/sig testing

[2021-05-13 09:06] koryaga commented on #101755
Hi. Guys, am I understanding correct that this request is under assessment by kuber community ?

[2021-05-13 09:12] aojea opened #101972 "[Failing job] ci-kubernetes-e2e-gci-gce-network-proxy-{grpc|http-connect} jobs are failing"
#### Which jobs are failing:

ci-kubernetes-e2e-gci-gce-network-proxy-http-connect
ci-kubernetes-e2e-gci-gce-network-proxy-grpc

#### Which test(s) are failing:

A lot of them

#### Since when has it been failing:

Most probably since https://github.com/kubernetes/kubernetes/pull/101164

#### Testgrid link:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=Kubectl%20logs%20shou

[2021-05-13 09:15] aojea commented on #101972
lol,
duplicate of https://github.com/kubernetes/kubernetes/issues/101879

[2021-05-13 09:15] #101972 closed

[2021-05-13 09:59] PicoCreator commented on #101933
There might be an overestimation on the average k8s operator - most of us do not know how to write a "custom namespaced controller" 😅

That being said, I am trying to read up on guides to write one myself (and post it here) to help future searches. And a few others I know of who are using the less then ideal stop gap measures.

[2021-05-13 10:06] HongjiangHuang commented on #101970
[Here](https://github.com/kubernetes/kubernetes/tree/master/test/typecheck) detect [fileutils](https://github.com/mrunalp/fileutils/blob/master/fileutils.go) package not support windows-386 and windows-arm

[2021-05-13 10:14] Morriz commented on #71647
can you share your solution?

[2021-05-13 10:51] ha5ky opened #101974 "UnsafeGuestkindToResource returns a wrong plural"
#### What happened:
When I wrote the unit test, I call the NewSimpleClientset function and use the ObjectTracker.Add method then the Add method call the UnsafeGuestkindToResource function, and I found that there were some problems with the plural generated by the UnsafeGuestkindToResource function.
For example,  the kind is gateway, the function generated "gatewaies".
#### What you expected to hap

[2021-05-13 11:42] zouyee commented on #73189
https://github.com/kubernetes/kubernetes/issues/73189#issuecomment-479278959

[2021-05-13 11:44] Marcus1911 commented on #101968
@kyrieSun-wow As a troublesooting, did you try to reproduce that same scenario with just one subflow?

[2021-05-13 11:47] kyrieSun-wow commented on #101968
Do you mean just one SCTP association? If so,yes,there is only one SCTP association in my cluster,and this issue recurs 100%.

[2021-05-13 12:06] kyrieSun-wow opened #101978 "k8s service HA support"
For an application that needs service HA,  it becomes impossible to uniquely identify a client.

#### What happened:
- My application running in k8s as service
- Service owns endpoint_A(active) and endpoint_B(standby)   (Status transition by controlling readinessProbe)
- endpoint_A and endpoint_B share one common external redis-cluster
-  Client establishes SCTP association to external_ip of servi

[2021-05-13 12:21] andyzhangx commented on #99342
containerd windows tests pass for in-tree azure disk & file drivers now:
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure-file-windows-containerd
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-e2e-aks-engine-azure-disk-windows-containerd

Will run a few days, enable it by default if it's stable eno

[2021-05-13 12:21] andyzhangx commented on #99342
/close

[2021-05-13 12:21] #99342 closed

[2021-05-13 12:22] andyzhangx commented on #99342
special thanks to @kevpar for the containerd fix, really appreciate that!

[2021-05-13 12:34] rikatz commented on #101594
/triage accepted

PR will close this ;)

[2021-05-13 12:44] #101594 closed

[2021-05-13 13:03] liggitt commented on #101969
The injection uses a generic configmap projected volume, this would require special-casing this config map in the kubelet, which I would not expect to do.

Clients don't know when a new CA will be added as part of a rotation, well ahead of the expiry of any of the certs in the bundle.

[2021-05-13 14:12] #101930 closed

[2021-05-13 14:27] #94013 closed

[2021-05-13 15:04] joshross12 commented on #69676
@yashbhutwala did you find a solution?

[2021-05-13 15:08] silashansen commented on #53059
Same issue here on k8s 1.15 on AWS, provisioned with kOps.

After setting up _Cluster Autoscaler_ together with _Horisontal Pod Autoscaler_, this has become a huge problem, as nodes come and go all the time, based on demand.

I've been forced to add `safe-to-evict: false` to all deployments tha tuse pods with PV's, which defeats some of the purpose of autoscaling.

Is this a problem with EBS attac

[2021-05-13 15:15] gavinfish commented on #94696
/remove-lifecycle stale

[2021-05-13 15:30] VladimirKhvostov opened #101985 "kubectl cp command fails when passing full Windows path such as c:\Temp\foobar.txt"
#### What happened:
The following command fails on Windows:
`kubectl cp c:\Temp\foobar.txt "pod-name:/tmp/forbar.txt" `
reporting the following:
`error: one of src or dest must be a local file specification`

This issue was already reported https://github.com/kubernetes/kubernetes/issues/77310 and fixed, but regression was introduced in kubectl v1.20.
This command copies file successfully in if ku

[2021-05-13 15:41] knabben opened #101986 "E2E Node flags organization"
#### What would you like to be added:

Remove specific node configuration flags from the main `framework.TestContext` struct, they do share a lot of code but have different bootstrap approaches, and flags are oddly distributed across the test framework.  (some examples in the xref file).

#### Why is this needed:
To fix the lack of standardization in the addition of new flags and ensure proper sep

[2021-05-13 15:41] knabben commented on #101986
/sig node
/area testing

[2021-05-13 15:42] knabben commented on #101986
/area test

[2021-05-13 15:45] SergeyKanzhelev commented on #101986
/triage accepted

[2021-05-13 15:48] apelisse commented on #97733
/lifecycle frozen

[2021-05-13 15:50] apelisse commented on #101755
Yeah, I investigated that, most of the memory allocation comes from `k8s.io/kubernetes/vendor/k8s.io/kube-openapi/pkg/handler.(*OpenAPIService).UpdateSpec`. It allocates a large amount of memory, and it's not clear why, but neither how we could fix it.

[2021-05-13 16:48] ehashman commented on #101902
/triage accepted

[2021-05-13 17:15] ehashman commented on #53533
My proposal has been accepted for the 1.22 cycle.

We will proceed with the implementation described in the design doc: https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/2400-node-swap

[2021-05-13 17:15] sgarg04 commented on #81026
@pritishnahar95 I am also trying to do the same for pod and node events, Is there any resolution (or a way ) yet?

[2021-05-13 17:30] ehashman commented on #101714
/help cancel
as we have lots of eyes on this, thanks everyone!

[2021-05-13 17:30] ehashman commented on #101714
ah it's
/remove-help

[2021-05-13 17:32] ehashman commented on #101714
/triage accepted

[2021-05-13 18:00] BenTheElder commented on #101970
this is not a bug, it's as mentioned above: typecheck ensures that the kubernetes will compile for all supported platforms by typechecking it.

you must either use cross platform code, or have platform specific versions gated by build tags / platform specific files.

/remove-sig testing
/remove-kind bug
/close

[2021-05-13 18:00] #101970 closed

[2021-05-13 18:01] BenTheElder commented on #101967
is this happening in CI? please provide links to occurences?

[2021-05-13 18:09] BenTheElder commented on #101944
You can just set `KUBE_TIMEOUT=--timeout=300s` instead of modifying the file

https://github.com/kubernetes/kubernetes/blob/9739592e849c95f0cfc38cf9c1cbf241460096bb/hack/make-rules/test.sh#L62

Well I can't either, but this is only an excerpt of the log ..

From what I see the first test mentioned passed, any the rest is cut off. With some lines removed for brevity you can see the test log is like

[2021-05-13 18:56] gnufied commented on #101791
if we never umount the volume, then I would think pod will never get deleted and hence no force detach will be performed even after 6 minutes I think.

[2021-05-13 19:01] Marcus1911 commented on #101968
If you could share your repo with docker image and configmap, I can try to reproduce the error and so we can check version and dive in the problem.
Also reading another issues, it sounds that SCTP has increased the issues amount last weeks.

[2021-05-13 19:02] damemi commented on #99139
/sig scheduling
we also hit a similar problem before, and as @liggitt pointed out [tightening the validation in place](https://github.com/kubernetes/kubernetes/pull/92714) is not possible for compatibility reasons, which led to https://github.com/kubernetes/kubernetes/pull/93660 (where we just solved the problem at the point of consumption)

We did briefly discuss ratcheting the change in as menti

[2021-05-13 19:11] alculquicondor commented on #99139
There are 2 basic requirements for tightening validation:

1. We should allow an invalid field if the old object didn't pass the tighter validation. We can reject during create.
2. We can only do it for things that wouldn't have worked down the line (in kcm, scheduler, etc). In the case of the scheduler, if an invalid Pod ends up being unschedulable, then tightening validation doesn't make things

[2021-05-13 19:26] jingxu97 commented on #101791
the current logic in attach_detach controller will consider Pod is terminated if (pod.DeletionTimestamp != nil && notRunning(podStatus.ContainerStatuses)), even pod cannot be completely removed from API server, detach might still happen, I think.

[2021-05-13 19:38] qeternity commented on #45419
I do not think this is an issue with runc. We have two clusters and one is experiencing this issue. Both running ubuntu 20.04, k8s 1.20.5, runc rc93, and containerd 1.3.3. But the problematic cluster is running docker 20.10.2, and the stable cluster is running 19.3.8.

[2021-05-13 20:00] neolit123 commented on #101978
/sig network

[2021-05-13 20:01] neolit123 commented on #101963
/sig node

[2021-05-13 20:02] neolit123 commented on #101963
/sig scheduling

[2021-05-13 20:02] neolit123 commented on #101974
/sig api-machinery

[2021-05-13 20:02] neolit123 commented on #101963
/sig scheduling node

[2021-05-13 20:04] neolit123 commented on #101985
/sig cli windows

[2021-05-13 20:10] caesarxuchao commented on #101974
/cc @jpbetz

[2021-05-13 20:11] caesarxuchao commented on #101974
/triage accepted

[2021-05-13 20:11] caesarxuchao commented on #101942
/cc @roycaihw
/triage accepted

[2021-05-13 20:13] caesarxuchao commented on #32220
@lavalamp do you know someone who's interested working on this? We will come back on this issue in the next triage meeting.

[2021-05-13 20:26] eddiezane commented on #100539
/close

[2021-05-13 20:26] #100539 closed

[2021-05-13 20:27] #92515 closed

[2021-05-13 20:27] #97186 closed

[2021-05-13 20:27] eddiezane commented on #101891
There's CVE history for `kubectl cp`. I don't think we want to suppress any warning messages.

Efforts to improve it should be put towards https://github.com/kubernetes/kubernetes/issues/58512

[2021-05-13 20:31] SergeyKanzhelev opened #101989 "Kubelet CPU perf regression 1.20->1.21 (10-15%)"
/cc @ehashman
/cc @bobbypage

#### What happened:

1.21 kubelet shows perf degradation on our tests. Also here https://bugzilla.redhat.com/show_bug.cgi?id=1953102.

The root cause seems to be runc, should be fixed here: https://github.com/kubernetes/kubernetes/pull/101888.

This issue is to discuss backporting of the fix to 1.21 release.

#### What you expected to happen:

Kubelet doesn't show sig

[2021-05-13 20:31] SergeyKanzhelev commented on #101989
/sig node

[2021-05-13 20:37] eddiezane commented on #101891
@soltysh @tallclair if y'all disagree feel free to reopen.

/triage unresolved
/close

[2021-05-13 20:38] #101891 closed

[2021-05-13 21:10] thockin commented on #101706
/triage accepted

[2021-05-13 21:10] #101706 closed

[2021-05-13 21:11] thockin commented on #101680
/triage accepted
/assign daschott

[2021-05-13 21:13] thockin commented on #101679
/triage accepted

Seems like a missing check for ""

[2021-05-13 21:13] alculquicondor commented on #96515
/remove-lifecycle stale

For separation of concerns, I believe the scheduler shouldn't do this calculations. It should just rely on the phase set by the kubelet.
One particular reason: if the kubelet stopped accounting for this terminated pod and the node crashes and restarts, the pod will be restarted. So the kubelet should signal somehow to the apiserver that it's no longer accounting for the Po

[2021-05-13 21:15] #101679 closed

[2021-05-13 21:28] puerco commented on #100460
/assign

[2021-05-13 21:46] tamalsaha opened #101991 "Is []byte string or array for schema generation pov"
#### What happened:
I am running kubebuilder controller-tools over `CertificateSigningRequestSpec`.

[code]

I am getting the following error:

[code]

I see that this is coming from https://github.com/kubernetes-sigs/controller-tools/blob/9cd8c2840e842554b3264634e3956e9f4d1c5497/pkg/crd/markers/topology.go#L103-L105

My question is where is the bug here? Is `[]byte` an array or a string?

#### Wh

[2021-05-13 21:46] tamalsaha commented on #101991
/aig api-machinery

[2021-05-13 21:47] tamalsaha commented on #101991
/sig api-machinery

[2021-05-13 22:25] gnufied commented on #101791
I think if kubelet is alive and container process are reporting "Terminated" state, then yeah you are right. I want to run some tests though , just to be sure though.

[2021-05-13 22:56] Huang-Wei commented on #98898
/remove-lifecycle stale

[2021-05-13 23:00] roycaihw commented on #101942
Could you change the issue title to "API server validation error message misses ^ and $ in regexp format (which is not accurate)"?

[2021-05-13 23:05] roycaihw commented on #101942
To be fair, the rest of the error message is human-readable and (most importantly) accurate:

[2021-05-13 23:24] inboxamitraj commented on #55713
same issue on v1.21.0

[2021-05-13 23:27] inboxamitraj commented on #55713
fixed in 1.21.0 pods moved to healthy worker01 node from worker02 node which went down.
vagrant@master01:~$ k get pods -o wide
NAME                          READY   STATUS        RESTARTS   AGE     IP          NODE       NOMINATED NODE   READINESS GATES
test-deploy-686f764bd-4vsqh   1/1     Running       0          5m53s   10.32.0.3   worker01   <none>           <none>
test-deploy-686f764bd-5nvz6

[2021-05-13 23:33] Huang-Wei commented on #101849
Sure, feel free to raise a PR updating the doc.

[2021-05-14 00:09] michaelgugino commented on #101933
@PicoCreator yes, there's a need for many of these small types of add-ons IMO.  I'm sure this exact thing lives on github somewhere.

As far as creating a controller/operator, the easiest way is to use controller-runtime/kubebuilder.  It's mainly focused on creating controllers for CRDs, but you can build controllers that reconcile built-in types much the same way: https://book.kubebuilder.io/intr

[2021-05-14 00:12] IAXES opened #101994 "Question - customizing Service (ClusterIP) load balancer logic"
Is it possible to override the load balancing logic that Service (i.e. ClusterIP) objects use? For example, I'd like to be able to customize a service that is associated with a deployment that scales up to 2000 pods. Due to the non-uniform setup (i.e. heterogeneous workloads across different types of nodes with different compute capabilities), I'd like to have more control over how requests are ro

[2021-05-14 00:28] IAXES commented on #101994
/sig network

[2021-05-14 00:53] kyrieSun-wow commented on #101968
Ah , sry,my repo and manifest is related to the business of my company, I can not share them with you,but for reproducing  this issue, any SCTP association will work, you just need to remove the pod from the service by not responding to the ReadInessProbe.

[2021-05-14 01:48] wangyysde commented on #101821
Thanks.

[2021-05-14 01:48] #101821 closed

[2021-05-14 03:33] Dylan-ci commented on #62577
HI, I test it success with steps as shown down！
docker run -itd --name golang golang
docker cp k8s.io/kubernetes/ golang:/opt/
docker exec -it golang bash
apt update && apt-get install rsync
cd /opt/kubernetes && make WHAT=cmd/kubeadm

[2021-05-14 04:33] #94745 closed

[2021-05-14 04:37] jaibheem commented on #101855
I found that the diff shown above is valid as these default values will be updated by the MutationWebhook. It could be a bug in my Controller, which is causing the issue. Closing the issue. Thank you

[2021-05-14 04:37] #101855 closed

[2021-05-14 05:53] chendave commented on #101967
Hey, Ben,

I update the issue description a little bit, this won't be an issue on X86 which is currently the default arch CI is running, but tons of testcases will fail on ARM64 due to this issue.

Eventually, we hope the k8s will have a ARM CI along with the more adoption of arch beside the X86, and thus, those e2e testcases should workable on ARM64 firstly.

I will explain why it failed on ARM64

[2021-05-14 06:09] sanposhiho commented on #101849
Okey thanks 😊
/assign

[2021-05-14 06:19] TCeason commented on #101942
Done. Your description is more accurater.

[2021-05-14 07:13] aojea commented on #101879
/reopen

The status of these jobs is still completely red https://testgrid.k8s.io/sig-api-machinery-network-proxy#Summary

:thinking: the fix merged with the job `pull-kubernetes-e2e-gce-network-proxy-grpc`  failing, maybe is unrelated but we should have the jobs green.

[2021-05-14 07:24] aojea commented on #101904
this is one of the challenges with the Loadbalancer flakes, we have some unknowns that probably will never be able to control ...
the error message is misleading though, is not that ESIPP is not working, is that the connection times out ...

[code]

we need to be able to know where is the connection drop, where is the client running @BenTheElder in this setup? it is a pod in one of the prow cluste

[2021-05-14 07:39] saschagrunert commented on #100460
Going one step back since I think the `kubernetes.tar.gz` exists for historical reasons:
https://github.com/kubernetes/kubernetes/blob/master/build/README.md#releasing

The client and server binaries we're part of this bundle, which is not the case any more:
https://github.com/kubernetes/kubernetes/blob/e8cf412e5ec70081477ad6f126c7f7ef7449109c/build/lib/release.sh#L548
https://github.com/kubernete

[2021-05-14 07:55] ydp commented on #101622
hit again, it‘s easy to reproduce if there is nfs service in the cluster.

[2021-05-14 07:59] aojea commented on #101910
@dylex what if you "indicate" the nodes to use the INTIF for the services subnet

[code]

[2021-05-14 08:01] aojea commented on #101765
+100

can we take the same approach that we did with network policy?
separate folder and running parallel to current ones?
That turned out to work out very well IMHO and zero disruption

[2021-05-14 08:27] jc-lab commented on #101650
Anyone can give me a hint? :'-(

[2021-05-14 08:56] fasaxc commented on #93925
We ran a v1.21 test with similar results:
* At some point things got overloaded and PLEGs went unhealthy as above.
* After tearing down the test, kubelets started reporting ready again (eventually, but it took an hour or so).
* We shut down the nodes to save money before the test was fully torn down so we're not sure if there were any left over terminating pods at the end of it all.

[2021-05-14 09:28] aojea commented on #101994
I think that your request is related to the Service Topology topic, the load balancer logic for Service is left to the component that implement the Services logic, that by default is kube-proxy in kubernetes.

Kubernetes exposes fields in the Service and EndpointSlices objects that can be consumed by the implementations to define their own loadbalancing, see [related discussion in the mailing list

[2021-05-14 09:37] aojea opened #102006 "L7 GCE Ingress failing tests"
#### Which jobs are failing:

GCE Ingress tests

#### Which test(s) are failing:

Loadbalancing: L7 GCE [Slow] [Feature:Ingress]

#### Since when has it been failing:

05-14

#### Testgrid link:

https://testgrid.k8s.io/sig-network-gce#gci-gce-ingress-manual-network
https://testgrid.k8s.io/sig-network-gce#gci-gce-kube-dns-nodecache
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingres

[2021-05-14 09:39] aojea commented on #102006
/sig network

[2021-05-14 09:50] aojea commented on #102006
I think that the solution is to solve #95309 and move all the e2e code in tree from to ingress v1beta1 to v1,
@deads2k @liggitt  can you confirm?

[code]

cc: @bowei @swetharepakula @robscott

[2021-05-14 09:51] aojea commented on #95309
/remove-lifecycle stale
/priority important-soon

[2021-05-14 09:51] TinyWhite1997 commented on #101887
i find the same issue here [#81775](https://github.com/kubernetes/kubernetes/issues/81775) . it's still open.

[2021-05-14 09:52] fasaxc commented on #93925
Certainly looks like the bug that was leaving one container up has gone but under overload, looks like kubelet can get stuck unable to finish tear down of long-dead pods.

[2021-05-14 09:55] aojea commented on #101968
This was fixed by @uablrek https://github.com/kubernetes/kubernetes/issues/70020 in 1.19 :thinking:
Lars you are much into SCTP than me, do you think that current cleanup  is not enough and we should also flush the entries here?
https://github.com/kubernetes/kubernetes/blob/e8cf412e5ec70081477ad6f126c7f7ef7449109c/pkg/proxy/iptables/proxier.go#L1669-L1680

[2021-05-14 10:10] aojea commented on #101978
So, you want to implement an HA active service using ClusterIP, and the readiness probe indicates the active backend.

I think that this is because the traffic is masquerade, and we use --random-fully , so after nat the source ports are random
[code]
that was implemented to solve a bug
[code]

If you are creating traffic inside the cluster, you should be using ClusterIP as destination instead of E

[2021-05-14 10:58] dims commented on #100460
+1 to put the word out and remove it completely if no one depends on it.

[2021-05-14 11:00] BenTheElder commented on #100460
I'm not confident that CI is not using these versioned scripts, in fact i'm fairly sure that it is. However it would not be pulling it from github.

[2021-05-14 11:20] mengjiao-liu commented on #101927
https://github.com/kubernetes/kubernetes/issues/101927

There's a finalizer [here](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/legacy-cloud-providers/vsphere/vsphere.go#L512) that trips up the test case.

vsphere_test.go TestSecretUpdated `klog.InitFlags(nil)` set flag `logging.addDirHeader` and  `k8s.io/kubernetes/vendor/k8s.io/legacy-cloud-providers/vsphere/vclib.(*VS

[2021-05-14 11:58] adampl commented on #57424
Does anyone know if anything has been done about it?

[2021-05-14 11:59] andrewsykim commented on #101887
@TinyWhite1997 is your scale test using TCP or UDP traffic?

[2021-05-14 12:09] dylex commented on #101910
@aojea Oh, that's a good idea, to fix the source ip for the original packet. It does seem to fix requests from the host. I'll try it, thanks!

[2021-05-14 12:13] adampl commented on #55713
Also fixed on 1.19 and 1.20, and latest 1.18 probably too.

[2021-05-14 12:17] verb opened #102008 "kubectl debug compatibility with pre-1.22 ephemeral containers API"
#### What would you like to be added:
#101034 changed the Kind used with the `/ephemeralcontainers` subresource from `EphemeralContainers` to `Pod`. This change will break old clients. (The ephemeral containers API is still in alpha, so this is acceptable.)

Currently, compatibility is broken in both directions:
1. kubectl versions prior to 1.22 are incompatible with server version 1.22
2. kubectl

[2021-05-14 12:18] verb commented on #102008
@soltysh @eddiezane what do you think about adding this backwards compatibility behavior to kubectl?

[2021-05-14 12:19] adampl commented on #55713
Apparently there is still some issue: #101674

[2021-05-14 12:42] serathius commented on #100748
/area logging

[2021-05-14 12:54] m4nu56 commented on #28167
We also would greatly benefit from having the stdout and stderr separated when reading the logs with `kubectl logs ..`. Is there any chance this could be resolved in the future ?
Do you guys have any alternative solution that doesn't require to run sidecar containers along to collect the stderr of the aimed container ?

[2021-05-14 13:03] kaivalya-d opened #102009 "Ingress creating fails with "context deadline exceeded" after applying Network Security Policy"
**NGINX Ingress controller version:** v0.45.0

**Kubernetes version (use kubectl version):** 1.19.7

**Environment:** Private Azure Application

**Cloud provider or hardware configuration:** Microsoft Azure
**OS (e.g. from /etc/os-release):** Linux
**Install tools:** -
**Others:** Applied Network Policies on the AKS clusters.

**What happened:**
We created one application on Microsoft Azure cloud

[2021-05-14 13:29] liggitt commented on #102006
Anything using v1beta1 ingress must move to v1 ingress to work against the master branch or 1.22+ API servers. That user-agent looks like `nginx-ingress-controller`, not a manifest

[2021-05-14 13:30] vivekab commented on #99005
I want to take this one. Are there any open tweaks that I can work with?

[2021-05-14 13:31] verb commented on #98362
containerd/containerd#5008 has been resolved. containerd plans to support namespace targeting in the 1.5 release.

[2021-05-14 13:32] verb commented on #98362
/close

[2021-05-14 13:33] #98362 closed

[2021-05-14 13:37] ahg-g commented on #96515
I don't think the concern is about kubelet restarts. I think it is more about the dependency on the pod's restart policy, which the scheduler should be agnostic to since restartPolicy is a node-level feature.

Specifically, looking at the container status is not enough to determine if the resources can be reclaimed or that the pod will eventually be deleted. For example, for pods with restart poli

[2021-05-14 13:41] gavinfish commented on #88797
/remove-lifecycle stale

[2021-05-14 13:49] pravarag commented on #90402
@alculquicondor apologies for any delays in finishing the above draft PR as I'm currently recovering from Covid-19. I'll get back to it once things settle on my end.

[2021-05-14 13:57] IAXES commented on #101994
@aojea This is awesome, and exactly what I was looking for. Thanks!

I'm going to close the issue/ticket, as this gives me the "springboard" I need. Hopefully if other people encounter this topic in the future they add their 2 cents to it as well.

[2021-05-14 13:57] #101994 closed

[2021-05-14 14:14] liggitt commented on #101927
the use of a runtime finalizer is suspect... that's the only use in our codebase and makes unit testing really hard.

also, the use of the global logger in TestSecretUpdated is suspect... the code under test should be structured to allow testing the results without plumbing through the global logger

[2021-05-14 14:34] aojea commented on #95309
@cmluciano are you still interested in working on this?
it seems that we need it now

[2021-05-14 15:05] eddiezane commented on #102008
Are we able to detect this and fail gracefully client side with a warning to users to upgrade their client?

Agree that this fix is the important one.

I wonder if a commit for backwards compatibility is something we can cherry pick to other release branches? Seeing as earlier branches will have both structs it might even be cleaner to do version conditional in kubectl there?

@puerco is that some

[2021-05-14 15:17] superbiche commented on #45419
A downgrade of runc/containerd fixed this issue on 3 clusters we maintain. All were deployed this year. If you're experiencing this issue, trying to downgrade is definitely worth it

[2021-05-14 15:37] puerco commented on #102008
Just to make in my head a matrix of effects/noneffects, please confirm for me if these are right:

1. Kubectl 1.22 will have the compatibility logic baked in. So it will be able to talk to older servers.
2. Cherry-picking that logic to older branches would not alter in any way how pre-1.22 kubectls interact with old (pre 1.22) servers.
3. The cherry-pick would only add the needed logic to allow ol

[2021-05-14 15:42] neolit123 commented on #101965
there is a duplicate issue from the past about this.

--cluster-signing-duration does not control the signing duration of certificate that the kubeadm CA key signs directly without controllers. the flag only controls the duration for certificates signed by the kube-controller-manager. such a certficate would be the kubelet client certficate when a node joins a cluster.

kubeadm does not allow you

[2021-05-14 15:42] #101965 closed

[2021-05-14 15:47] neolit123 commented on #102009
/sig network

[2021-05-14 15:50] Fabian-K opened #102013 "CR creation failing with "Failed calling webhook [...] connection refused" for some time"
#### What happened:

I´m deploying [tekton-pipeline](https://github.com/tektoncd/pipeline) to a fresh kind cluster. tekton-pipeline defines a `Task` CRD and registers for the CRD
a `MutatingWebhookConfiguration` together with the matching webhook `Deployment` and `Service`. After the deployment,
I´m waiting for the webhook pod to be ready. Next, I´m trying to create a `Task` instance. This fails f

[2021-05-14 15:52] Fabian-K commented on #102013
/sig api-machinery
/sig network

[2021-05-14 16:32] tonybenchsci commented on #95449
Relates to https://github.com/kubernetes/kubectl/issues/981 and would be useful

[2021-05-14 16:37] njuptlzf commented on #98612
I researched this and found that the line https://github.com/kubernetes/kubernetes/blob/49a60be8ab5578097dc2dd2b851213d9f8ca1105/staging/src/k8s.io/apimachinery/pkg/runtime/scheme.go#L511 threw an error.

and
[code]

[code]

I am a rookie of Scheme, and I think if the target is a suitable GV, it will be converted correctly?
@liggitt

[2021-05-14 16:40] liggitt opened #102016 "[Flaky] k8s.io/apiserver/pkg/server/filters - TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter"
#### Which jobs are flaking:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=RACE&test=TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter

#### Which test(s) are flaking:

TestPriorityAndFairnessWithPanicRecoveryAndTimeoutFilter

#### Testgrid link:

#### Reason for failure:

[code]

Seen in PR runs like https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/1

[2021-05-14 16:40] liggitt commented on #102016
/cc @tkashem @deads2k

[2021-05-14 16:43] fasaxc commented on #93925
OK, we've done another run on v1.21 and this time we certainly have pods stuck in Terminating state even after we've stopped the test and given it an hour to cool down and terminate pods etc.  Listing pods, I see pods stuck in Terminating for a long time.  The nodes that have the stuck pods are all NotReady.

Logging onto a node, I see that the CPU is 80% idle so the overload condition really has

[2021-05-14 16:44] tkashem commented on #102016
/assign

[2021-05-14 16:50] ahg-g commented on #101776
The feature looks reasonable. +1 to writing a KEP to discuss API options, but a label selector seems like the most natural approach.

[2021-05-14 16:56] fasaxc commented on #93925
Here is a log from a node that recovered on its own.  Not obvious to me what caused it to start to recover.

[kubelet-recovered.log.gz](https://github.com/kubernetes/kubernetes/files/6480150/kubelet-recovered.log.gz)

[2021-05-14 16:58] ahg-g commented on #101820
This is useful. how do you suggest we log this information? note that there are two dimensions for each pod: plugin and node score.

Also, we need to limit the log length, we can't simply log the score for each node in clusters with large number of nodes.

[2021-05-14 17:02] ahrtr commented on #98612
I ran into the same issue in my cluster with version 1.20.5. I also saw an error message "auth: revision in header is old" which was returned by etcd. I am not sure whether the two error messages are related.

`    982 I0514 07:26:02.755480       7 controller.go:609] quota admission added evaluator for: endpointslices.discovery.k8s.io
    983 I0514 07:26:04.740052       7 controller.go:609] quota

[2021-05-14 17:08] kfirfer opened #102017 "FailedGetResourceMetric"
Hello

From time-to-time(once or twice a day) Im getting those kubelet events , relates to HPA:
[code]

Kubernetes version: 1.20.5
Topology cluster: 3 master nodes
OS: Ubuntu 20.04.2

[2021-05-14 17:08] kfirfer commented on #102017
/sig autoscaling

[2021-05-14 17:29] striver619 commented on #95279
@LappleApple
Could you please do me a favor?

[2021-05-14 17:32] verb commented on #102008
Correct.

I haven't prototyped it, but this should be possible. We could trigger the logic on a server error that indicates it received an unexpected Kind.

That being said, I don't think it's worth cherry-picking forward compatibility into older versions of kubectl. This is for an alpha feature that must be explicitly enabled with the `EphemeralContainers` feature flag. It's not unreasonable to r

[2021-05-14 17:33] ahg-g commented on #101963
I think there is a misunderstanding with regards to the semantics of node.status.Allocatable.

There are two fields in status:
- `node.status.Capacity` represents the total amount of resources available on the node (e.g., 2 cpu cores).
- `node.status.Allocatable` represents the total amount of resources available to allocate to pods, not what is left (e.g., 1920 mcpu, because 80 mcpu is reserved f

[2021-05-14 18:13] Huang-Wei commented on #101776
Basically, we can implement it with or without API changes.

The 2nd option I mentioned above can work without API changes. It lets the users define their custom rules to identify "which kind of pods should be ignored by extenders", and use an annotation to communicate with scheduler. That annotation can be imposed in the yamls in the CI/CD phase, or guarding by custom logic in admission webhook.

[2021-05-14 18:33] tallclair opened #102019 "FR: Safer rollout of admission webhook updates"
#### What would you like to be added:

A mechanism to gradually roll out (and roll back) admission webhook configuration (`ValidatingWebhookConfiguration1 and `MutatingWebhookConfiguration`) updates (or additions). This should apply to the whole admission configuration, including the `clientConfig`, `rules`, `matchPolicy`, etc.

Some ideas for features that would be nice to have:

- Control the pe

[2021-05-14 18:33] tallclair commented on #102019
/sig api-machinery

[2021-05-14 19:01] ahg-g commented on #101776
The second option means we need to pre-define an annotation that the scheduler understands, correct? I think it is better to give users the flexibility via labelSelector; besides, we should avoid using annotations as an API wherever possible.

[2021-05-14 19:26] imaravind007 commented on #93188
Hey is anyone working on this?

[2021-05-14 19:30] SabarishMN commented on #93188
let us collaborate :)

[2021-05-14 19:51] MarkusH commented on #65973
/remove-lifecycle rotten

[2021-05-14 19:57] sayotte commented on #81089
Postgres also brought me here, specifically for server certs/keys.

For those in the same boat, it seems noteworthy that at least in PostgresQL-10.x (I haven't checked 11+), it will not detect a change in the cert file on disk and reload. So if you don't plan to manually rotate certs (which you shouldn't, if you're using cert-manager), you need a "helper" process to watch for cert changes and send

[2021-05-14 19:58] MadhavJivrajani commented on #84353
/assign
I can try taking a look at this again, I'm relatively new here which is why I'll probably take a few days getting the required context down if that's okay. Will keep you updated on this issue @verb 😄

[2021-05-14 21:28] jeremyje opened #102023 "GCE Windows: Fluentbit crash loops on Windows Event Log Ingestion"
#### What happened:
On Windows 20H2 we are observing crashloops with fluent-bit due to a malformed Windows Event Log entry in the Security log.

#### What you expected to happen:
Fluent-bit to not crash loop.
#### How to reproduce it (as minimally and precisely as possible):
Bring up a GCE Windows cluster on Windows 20H2. You may see a loss of logs.

#### Anything else we need to know?:

#### Envi

[2021-05-14 21:28] lavalamp commented on #102019
#92157 is a different request, but it contains some related discussion.

[2021-05-14 21:45] verb commented on #84353
@MadhavJivrajani Great, thanks for taking up the feature! The KEP mentions this briefly and may be a good place to gather context:

https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/277-ephemeral-containers#identifying-pods-with-ephemeral-containers

[2021-05-14 22:37] #97248 closed

[2021-05-14 23:37] #88142 closed

[2021-05-15 00:37] #96587 closed

[2021-05-15 00:57] dimm0 commented on #69699
This still doesn't work in k8s 1.20.5. I tried setting `fsGroupChangePolicy: "OnRootMismatch"` and enabling featureGates in apiserver/controller/kubelet (even though those should be already enabled by default)

Anything else I could try?

[2021-05-15 01:24] nmajin commented on #45419
I am seeing a similar issue with runc version `runc version spec: 1.0.1-dev`. Although not sure if this is completely related, It appears twistlock daemonset could also be causing this issue. We are still digging, but just curious if any of this is related to the node Ready/NotReady issue I am seeing.

[2021-05-15 02:11] MainPoser opened #102026 "Pods is running when Node in NotReady state"
#### What happened:
1.when a node is down, the POD state is running(I waited more than five minutes)

#### What you expected to happen:
1.The status of the three pods will be updated to terminating. When all worker nodes are restarted, the pod will be re deployed
#### How to reproduce it (as minimally and precisely as possible):
1.I have a cluster of one master node and three worker nodes.
2.Then

[2021-05-15 02:18] MainPoser commented on #102026
/sig cluster-lifecycle

[2021-05-15 02:54] TinyWhite1997 commented on #101887
It's TCP. I just use the http_load tool to test nginx service. whether it is ClusterIp or NodePort or LoadBalancer will get the same result. For reference [#81775](https://github.com/kubernetes/kubernetes/issues/81775), it may be an ipvs problem, so I switched to iptables and got the result I wanted.

[2021-05-15 04:43] gjkim42 opened #102029 ""kubetest --extract=vX.Y.Z" command fails because of get-kube scripts"
#### What happened:

`kubetest --extract=vX.Y.Z` command fails because of https://get.k8s.io.

I think the link https://get.k8s.io is from k/k's `cluster/get-kube.sh`
Am I right??

@BenTheElder @dims

#### What you expected to happen:

kubetest command succeeds

#### How to reproduce it (as minimally and precisely as possible):

With `gsutil` installed,

[code]

OR

[code]

#### Anything else we n

[2021-05-15 04:45] gjkim42 commented on #102029
/sig release
/sig testing

[2021-05-15 04:47] alegmal commented on #25238
This scenario is different from the one that is supposedly fixed because initial deployment had no replicas set?

[2021-05-15 05:08] gjkim42 commented on #102029
/assign

[2021-05-15 05:20] gjkim42 commented on #102026
I think this has been fixed. You can update the k8s cluster to v1.18.17 or the latest version
https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.18.md#changelog-since-v11816
https://github.com/kubernetes/kubernetes/pull/98943

/close

[2021-05-15 05:21] #102026 closed

[2021-05-15 06:48] BenTheElder commented on #101967
/triage accepted

[2021-05-15 06:50] BenTheElder commented on #101944
/triage needs-information

[2021-05-15 06:52] BenTheElder commented on #100273
This should probably be brought up somewhere with more visibility to see if anyone has concerns with date-sha, but otherwise I think this is
/triage accepted

[2021-05-15 08:08] sladyn98 commented on #100748
@serathius So currently the e2e tests do not actually read and test what the logs return the current job added just makes sure that kubelet is running https://github.com/kubernetes/test-infra/pull/21332/files#r594444594. Would we want to write similar tests for the different control planes while we start migration or do you have something else in mind with respect to the automated testing ?

[2021-05-15 08:30] cndoit18 commented on #101784
I think this is caused by Helm. You can try to create issue to Helm community.

[2021-05-15 08:52] AbdulBasitAlvi commented on #99675
@nikhita any remaining task? I would like to pick the remaining ones

[2021-05-15 08:56] pohly commented on #101911
The driver used so far did not properly tracked "is published": it used a single boolean, but in these tests the volume gets published multiple times at different paths. https://github.com/kubernetes-csi/csi-driver-host-path/pull/292 fixes that and the error message becomes a bit different:
[code]

In other words, there *is* a missing NodeUnpublishVolume call - not sure why I missed that when grep

[2021-05-15 09:44] AbdulBasitAlvi commented on #99675
/assign
Working on these:
 ./staging/src/k8s.io/api/apps/v1/types.go
 ./staging/src/k8s.io/api/apps/v1beta1/types.go

[2021-05-15 09:53] serathius commented on #100748
Yes, currently we just test if Kubelet is running to test that flag is working and if enabling json doesn't cause panics. This exact issue proposes to expand this to other control plane, but your idea would be a great follow up. Would be great to propose a test plan that will specify what we want to test and how. If you have ideas some ideas could you collect hem in some issue so we can discuss.

[2021-05-15 10:24] xigang commented on #78376
The same problem: `because the volume is missing or the volume mount is nil`

[2021-05-15 10:59] ianroberts commented on #831
I have a similar requirement in my project - I'm building a platform that exposes a number of REST services for language processing.  This includes tools like speech recognition which are structured as an "engine" (a few MB in size, the code that implements the service) and a separate "model" (1-5GB in size, for each specific language/domain/etc.).  The two can evolve independently, and we might h

[2021-05-15 13:30] rexagod commented on #97292
/assign

[2021-05-15 14:05] libaoan commented on #99005
Hi, guys
I'm a newguy, let me try agian
/assign

[2021-05-15 14:20] MG2R commented on #63858
For anyone operating a k8s cluster, running into this error and not being sure what the actual problem is... If you run this `docker inspect $(docker ps -a  | cut -d ' ' -f1 | tail -n+2) | wc -c`, you'll see that a message describing all containers currently known to docker is bigger than the limit the Kubelet has set for gRPC messages (16MB at the time of writing).

This either means you have a L

[2021-05-15 16:51] Huang-Wei commented on #101776
Yes, let's just brainstorm to list all the options first, and then analyze their pros/cons in the KEPs.

BTW: another option is to make `extenders` profile-leveled. We used to discuss this in other contexts, but seems it also fit this requirement.

[2021-05-15 17:44] mailhari commented on #101776
What is profile-leveled? It is completely new to me. Is it for having multiple extenders?

[2021-05-15 17:46] mailhari commented on #101776
Meanwhile, I am still drafting the KEP here .. https://github.com/mailhari/enhancements/commit/d10d3faa9eda9288b113373628e5801c619fd5fc

One I hear the confirmation, will create a PR for KEP for pros and cons.

[2021-05-15 17:47] BenTheElder commented on #100748
There's no portable way to get these logs. There are non portable ways but those cannot be used in a standard e2e test.

[2021-05-15 18:09] Huang-Wei commented on #101776
@mailhari for now, the extenders is defined as a [global argument](https://github.com/kubernetes/kubernetes/blob/b9ddee497a2fed32f70ccdd03a145f497564b348/pkg/scheduler/apis/config/types.go#L105) of scheduler configuration, which means every pod's scheduling to subjected to calling those extenders. But if move `extenders` into the [profile](https://github.com/kubernetes/kubernetes/blob/b9ddee497a2f

[2021-05-16 01:49] yzz-ihep commented on #97444
I have the same issue.
I use glusterfs.
Pod can not be terminated and there is a directory in "/var/lib/kubelet/pods/" contains pv's data on node.
If I delete that directory, the pod will be terminated.

[code]

[2021-05-16 05:46] mailhari commented on #101776
@Huang-Wei So an extender cannot register in multiple kube-schedulers - hope that is not a valid scenario in the first place?

[2021-05-16 05:46] mailhari commented on #101776
Got it. Deleted my previous comment.

[2021-05-16 07:36] mailhari commented on #101776
I hope the spec.schedulerName can be modified by mutatingwebhook during pod creation.

[2021-05-16 08:36] pacoxu commented on #101902
#99875 updated the cAdvisor to 0.39.0 for kube v1.21.1.
We can test if this is fixed in 1.21.

[2021-05-16 08:49] #97061 closed

[2021-05-16 09:25] uablrek commented on #101968
It looks like it would be needed. I actually did not test the previous fix myself, but the SCTP application developers discovering the problem did. I have not heard of any problems since.

So, it is not so easy for me to test (for triage) and fix. I will try to get time this week. But is actually seem not so hard to fix if it only is the code pointed out above anf if you have an SCTP test-env setu

[2021-05-16 10:47] mailhari commented on #101776
@Huang-Wei @wojtek-t Created
https://github.com/kubernetes/enhancements/pull/2750

FYI This is my first PR and first KEP to kubernetes repo. Please let me know if anything else is missing.

[2021-05-16 14:20] sladyn98 commented on #100748
Oh so for the standard e2e tests it might be good enough to just test the startups of these control planes with the logging enabled.

[2021-05-16 15:22] yashwanthkalva commented on #101784
Hi @cndoit18
Though I gave example of helm chart as input, we think its k8s issue.
This issue happens during kubectl apply, we can see that rendered manifests post template rendering has only 2 ports with updated values. The issue happens during apply step.

[code]
From,
Yashwanth

[2021-05-16 15:37] cndoit18 commented on #101784
I tried it and didn't find this error. What is your kubectl version?

[2021-05-16 18:07] Riaankl commented on #95129
/remove-lifecycle stale

[2021-05-16 18:19] AbdulBasitAlvi commented on #101933
I can try and develop a patch for this.
/assign

[2021-05-16 18:55] #96700 closed

[2021-05-16 19:55] #97190 closed

[2021-05-16 22:55] #97325 closed

[2021-05-16 23:55] #97373 closed

[2021-05-17 00:36] jayunit100 commented on #10410
Yup ! as an example, i use https://gcsweb.k8s.io/gcs/kubernetes-release-dev/ci/v1.22.0-alpha.1.98+2d13e0be08ecf7/ ! thanks for this

[2021-05-17 00:50] gjkim42 commented on #102029
Need cherry-picks for 1.21, 1.20 to address this.

`get.k8s.io` is updated but downloaded `get-kube.sh` downloads release.tar.gz and executes its `cluster/get-kube-binaries.sh`

https://github.com/kubernetes/kubernetes/blob/cdf1b17bb8bcbf8a420d7e0a11336d09b0c37730/cluster/get-kube.sh#L99-L108

/reopen

[2021-05-17 01:06] njuptlzf commented on #96319
Hey, @tallclair, this feature is very interesting.
Some fields have been added. In your expectation, how does IncludeDataPolicy work with DataPolicyPassword, DataPolicyToken, DataPolicySecurityKey?

[2021-05-17 01:43] sanwishe commented on #101902
@pacoxu  It seems that this pr [google/cadvisor#2800](https://github.com/google/cadvisor/pull/2800) actually is concerning container's create_time，not start time. The comment form [google/cadvisor#2800#issuecomment-778109005](https://github.com/google/cadvisor/pull/2800#issuecomment-778109005) had point out the problem:

[2021-05-17 03:25] pacoxu commented on #102006
https://storage.googleapis.com/k8s-gubernator/triage/index.html#5a9d456b310fc98c6425
![image](https://user-images.githubusercontent.com/2010320/118428645-82f76100-b702-11eb-8cc6-2675eb227cd1.png)

/priority critical-urgent

[2021-05-17 03:33] pacoxu commented on #101894
This is fixed.
![image](https://user-images.githubusercontent.com/2010320/118429179-abcc2600-b703-11eb-9114-7e95f0c112da.png)

[2021-05-17 03:42] njuptlzf commented on #96319
Oh sorry, the link is wrong, the text has been corrected, how to eliminate the mentioned?

[2021-05-17 05:31] #101963 closed

[2021-05-17 05:42] wzshiming commented on #101985
/assign

[2021-05-17 05:57] wojtek-t commented on #86484
/remove-lifecycle stale

[2021-05-17 06:55] #96923 closed

[2021-05-17 08:02] ezloj commented on #51475
/remove-lifecycle stale

[2021-05-17 09:18] cwdsuzhou commented on #96478
/remove-lifecycle

[2021-05-17 09:56] #97384 closed

[2021-05-17 10:00] dgrisonnet opened #102051 "kubectl top pod doesn't account for the whole pod resource usage"
#### What happened:

The kubectl top command doesn't take into account the resource usage of the whole pod as stated in the command documentation. It only accounts for the resource usage of the containers. This is because [PodMetrics](https://github.com/kubernetes/metrics/blob/v0.21.0/pkg/apis/metrics/types.go#L63-L74) only account for containers resource usage and not the resource usage of the wh

[2021-05-17 10:01] wzshiming opened #102052 "ApiServer `--kubelet-timeout` does nothing"
#### What happened:
Configured `--kubelet-timeout` but no effect.

#### What you expected to happen:

#### Anything else we need to know?:
Check the code and found the `--kubelet-timeout` does nothing.

https://github.com/kubernetes/kubernetes/blob/1d38084930b56be9b5830c20bd5b464b1f955047/cmd/kube-apiserver/app/options/options.go#L252-L253
https://github.com/kubernetes/kubernetes/blob/1d38084930b5

[2021-05-17 10:01] dgrisonnet commented on #102051
/sig instrumentation
/sig cli

[2021-05-17 10:20] aojea commented on #102006
/assign

https://github.com/kubernetes/kubernetes/pull/102030

[2021-05-17 10:20] aojea commented on #95309
/assign
https://github.com/kubernetes/kubernetes/pull/102030

[2021-05-17 10:31] KeithTt commented on #70082
Same error here, my colleague upgrade kubernetes cluster from 1.6.4 to 1.18.19, and this error occurs.

Everything is working before upgrade.

I can execute kubectl commands, but controller manager and scheduler are unhealthy, I do not know why.

[code]

[2021-05-17 10:51] dgrisonnet opened #102056 "HPA ExternalMetricSource selectors shouldn't be bound to Kubernetes standards"
#### What happened:

By implementing the ExternalMetrics API in prometheus-adapter, we've got a couple of reports from our users that the HPA selector for ExternalMetrics prevented them to select some label values. For instance, in their cases the `#` and `/` characters were forbidden by Kubernetes so they couldn't autoscale their application as they wanted.
- https://github.com/kubernetes-sigs/pr

[2021-05-17 10:56] #96841 closed

[2021-05-17 11:33] NorseGaud commented on #70082
What does your disk situation look like? SSDs?

[2021-05-17 11:52] matthyx commented on #99697
/assign

[2021-05-17 11:58] Meegada-Mahesh commented on #94892
@jai hey man you working on this ??

otherwise i will assign my self

[2021-05-17 12:05] pohly commented on #101913
https://prow.k8s.io/job-history/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-network-proxy-grpc?buildId=1385142123086483456 started failing close to (at?) merging of #100637 according to
https://github.com/kubernetes/kubernetes/pull/100637#issuecomment-841890515

Could be a coincidence.

/cc @caesarxuchao

[2021-05-17 12:11] ahg-g commented on #87526
I think we can close this, removing the internal field will be part of policy API deprecation.

[2021-05-17 12:11] #87526 closed

[2021-05-17 12:13] pohly commented on #101911
`/var/lib/kubelet/pods/d59e856f-66fa-44a8-af87-7410a1062e38/volumes/kubernetes.io~csi/pvc-4436c639-17da-4cb0-a22f-b83bfd3d54f8/mount` remains published in https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-21-test-on-kubernetes-1-21/1393524350702850048/artifacts/default/csi-hostpathplugin-0/hostpath.log

[2021-05-17 12:15] pohly commented on #101911
Note that there is an error in that previous log snippet:
[code]

A known issue?

[2021-05-17 12:28] liggitt commented on #100895
The only times I'm aware of where we've tightened validation in GA types is when it invariably led to a broken result. I'm not sure this qualifies.

[2021-05-17 12:30] liggitt commented on #100895
I think a good first step would be to snapshot the current golang IP and CIDR parsing and transition our API validation calls to that. That insulates us from golang changes that would prevent us from quickly adopting a new golang version.

Then we can figure out whether we also want to tighten validation and how to do in the least disruptive way possible independently.

[2021-05-17 12:31] liggitt commented on #100895
It would be good to target this for 1.22

[2021-05-17 12:44] imriss commented on #72226
@nerzhul and @javsalgar, It seems that it is more related to an AMI release than the k8s release. I had the same issue with an AMI version for k8s 1.19, and it was resolved after I upgraded the AMI version to v20210414 (based on this comment https://github.com/awslabs/amazon-eks-ami/issues/195#issuecomment-821195669 here https://github.com/awslabs/amazon-eks-ami/issues/195).

[2021-05-17 12:46] matthyx commented on #99697
Hello @phil9909 !

I have tried to reproduce your issue with kind on a 1.20.2 cluster and everything seems normal to me...
If I create 2 pods with the following spec:
[code]

I can see they both restart and backoff at various intervals:
[code]

[2021-05-17 12:47] matthyx commented on #99697
Could you tell me in what it differs from what's described in the doc: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/

[2021-05-17 12:56] matthyx commented on #101585
/assign

[2021-05-17 12:57] matthyx commented on #101585
/triage accepted

[2021-05-17 13:13] jayunit100 opened #102058 "replace docker.io from hybrid network tests"
#### What happened:
for the windows test

[code]

Im seeing
[code]
in some e2es im running on 1.22...

#### What you expected to happen:

We wouldnt have docker.io in our e2e tests hardcoded /

#### How to reproduce it (as minimally and precisely as possible):

Run  `./e2e.test --provider=local --kubeconfig=/home/kubo/.kube/config --dump-logs-on-failure=false --ginkgo.focus='Hybrid cluster network

[2021-05-17 13:13] jayunit100 commented on #102058
/sig windows

[2021-05-17 13:14] jayunit100 commented on #102058
/assign @perithompson

[2021-05-17 13:14] perithompson commented on #102058
/assign

[2021-05-17 13:14] perithompson commented on #102058
/triage accepted

[2021-05-17 13:32] alculquicondor commented on #88634
/lifecycle frozen

[2021-05-17 13:39] matthyx commented on #101585
@chaodaiG do you have an example of a pod spec for that?

[2021-05-17 13:45] matthyx commented on #101585
Normally init containers should be `ready` only after they have successfully ran, or if they have succeeded their readinessProbe:
https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/kubelet/prober/prober_manager.go#L262-L270

[2021-05-17 13:49] matthyx commented on #101585
I think in your case the initContainer was stuck running and therefore never returned its status...

[2021-05-17 14:19] chaodaiG commented on #101585
See https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101434/pull-kubernetes-e2e-capz-ha-control-plane/1387147612502626304, click on `YAML` at the bottom of the page

[2021-05-17 14:20] #102058 closed

[2021-05-17 15:09] matthyx commented on #101585
Awesome!
So I think it really happened as I have described... initContainer was stuck forever, didn't exit with success and thus never updated its status to `ready`.
Maybe you could follow this advice: https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#detailed-behavior

[2021-05-17 16:07] kfox1111 commented on #88622
Still a problem. Worked around it for now. Should be fixed eventually though.

/remove-lifecycle stale

[2021-05-17 16:13] neolit123 commented on #102052
/sig api-machinery node

[2021-05-17 16:23] enj commented on #96319
This would require its own design/KEP in addition to the existing data policy KEP.  There are concerns around performance, backwards incompatibility, etc.

[2021-05-17 16:26] enj commented on #95966
/assign @liggitt

[2021-05-17 16:53] msau42 commented on #85476
/remove-lifecycle rotten

[2021-05-17 16:53] msau42 commented on #85476
/triage accepted

[2021-05-17 16:54] enj commented on #82468
If we would need to define a new header anyway, why not create a header like `X-Remote-Kubernetes-User-Info` and have the value be a JSON marshaled (and possibly base64 encoded) struct:

https://github.com/kubernetes/kubernetes/blob/4425fd6bfeef7f433c79e3f50e292a11681436cc/staging/src/k8s.io/api/authentication/v1/types.go#L102-L119

This would eliminate the need for multiple headers all together a

[2021-05-17 16:55] pohly commented on #101911
Is https://github.com/kubernetes/kubernetes/issues/96759 an explanation for the `failed to fetch token` error or for the unexpected deletion of `vol_data.json`? At first glance I don't see anything in that issue that would explain the latter.

[2021-05-17 16:55] yunhjiang commented on #100473
/sig auth

[2021-05-17 16:56] yunhjiang commented on #100473
/reopen

[2021-05-17 17:00] yunhjiang commented on #100473
/remove-sig

[2021-05-17 17:01] yunhjiang commented on #100473
/remove  sig/api-machinery

[2021-05-17 17:23] yunhjiang commented on #100473
/close

[2021-05-17 17:23] #100473 closed

[2021-05-17 17:29] MorrisLaw commented on #101841
/assign @bhcleek

[2021-05-17 17:43] therealaditigupta commented on #23726
My issue happened on RHEL and it turned out that my Docker daemon was inactive.

How to fix this issue:
Check Docker status: sudo service docker status
Restart the Docker engine: sudo service docker restart
Check the status again -- it should be up and running now

[2021-05-17 17:44] justaugustus commented on #90277
/help
This doesn't currently have an assignee. Is someone interested in helping drive this to completion?

[2021-05-17 17:48] justaugustus commented on #94901
/help
This currently has no assignee. Is someone interested in taking this up?

[2021-05-17 18:52] rsparulek opened #102073 "K8S 1.21 : Kubelet fails to start when setting memory-manager-policy as "static" or "none" in kubelet arguments"
K8S 1.21 : Kubelet fails to start when setting memory-manager-policy as "static" or "none".
[code]

Feature gate has also been enabled for apiserver/kube-controller-manager/scheduler/kube-proxy services
[code]

Kubelet arguments
[code]
#### What happened:
K8S 1.21 : Kubelet fails to start when setting memory-manager-policy as "static" or "none"

#### What you expected to happen:
No errors must be

[2021-05-17 18:55] neolit123 commented on #102073
/sig node

[2021-05-17 19:00] gnufied commented on #69699
@dimm0 can you provide more details ? Do you see volume being recursively chown/chmod'ed on each mount even if you set `fsGroupChangePolicy: "OnRootMismatch"` ? Can you post your pod spec and logs from kubelet? The `OnRootMismatch` policy is not designed to fix first time recursive chown of volumes, it only guarantees no recursive chown will be performed if fsgroup already matches.

[2021-05-17 19:28] johnSchnake opened #102075 "Hardcoded test images prevent passing in airgap environment"
#### What happened:
Numerous sig-storage tests hardcode the registry/image for tests, meaning they can't be overridden by custom values and therefore can't pass in an airgap setting.

#### What you expected to happen:
It should make use of templates and checking the registry/image location at runtime.

#### Anything else we need to know?:
xref: https://github.com/vmware-tanzu/sonobuoy/issues/1264

[2021-05-17 19:37] ehashman commented on #102016
/sig api-machinery

[2021-05-17 19:37] ehashman commented on #101008
/sig architecture

[2021-05-17 19:38] ehashman commented on #100783
/sig testing

[2021-05-17 19:38] ehashman commented on #100274
/sig testing

[2021-05-17 19:39] ehashman commented on #99716
/sig api-machinery

[2021-05-17 19:39] ehashman commented on #82647
/sig security

[2021-05-17 19:40] ehashman commented on #19831
/remove-lifecycle frozen

I was going to put SIG Cluster Lifecycle on here but seems @neolit123 has removed it. Is there anything left to do? I think this can perhaps be closed.

[2021-05-17 19:53] astoycos commented on #102009
/area network-policy

[2021-05-17 20:03] dimm0 commented on #69699
Yes. I'm running jupyterhub with non-root account, and users are having issues starting containers with volumes having many (>400K) files. Also I verified that if I set the fsGroup in pod's securityContext, files get chowned. I tried starting the pod several time with the same volume and manually chowning files inside the volume between restarts.

Ok, I'll post logs

My pod:

[code]

[2021-05-17 20:08] msau42 opened #102076 "e2e failure: [sig-storage] Dynamic Provisioning DynamicProvisioner [Slow] should provision storage with different parameters"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-slow

#### Which test(s) are failing:
 [sig-storage] Dynamic Provisioning DynamicProvisioner [Slow] should provision storage with different parameters

#### Since when has it been failing:
5/13

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-slow

#### Reason for failure:
v1beta1.StorageClass got removed in htt

[2021-05-17 20:09] msau42 commented on #102076
/assign @mauriciopoppe
can you help take a look?

[2021-05-17 20:09] msau42 commented on #102076
/triage accepted

[2021-05-17 20:09] msau42 commented on #102076
/sig storage

[2021-05-17 20:09] astoycos commented on #102009
@kaivalya-d Which CNI is this using? Based on our initial observation this is most likely a configuration or CNI problem.  Also in which namespace is your ingress controller running?

[2021-05-17 20:16] msau42 opened #102077 "e2e failures: all pdcsi tests"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-serial

#### Which test(s) are failing:
All gce pd csi tests

#### Since when has it been failing:
5/14

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-storage-kubernetes#gce-serial

#### Reason for failure:
Likely related to the removal of v1beta1 storage objects in https://github.com/kubernetes/kubernetes/pull/99840. The provisione

[2021-05-17 20:16] msau42 commented on #102077
/assign @mattcary

/sig storage
/triage accepted

[2021-05-17 20:30] dimm0 commented on #69699
[kubelet.log](https://github.com/kubernetes/kubernetes/files/6496732/kubelet.log)

vol-pod2 pod

[2021-05-17 20:55] aojea commented on #101887
so, can we close it @TinyWhite1997 ?

[2021-05-17 21:24] JacobHenner commented on #87615
I've also experienced this issue in EKS on a node running the `v1.18.9-eks-d1db3c` kubelet.

@champtar could you comment on why you think the disk speed is related?

[2021-05-17 21:31] thockin commented on #101607
If you configure the nf_conntrack_tcp_timeout_syn_recv and nf_conntrack_tcp_timeout_syn_sent timeouts down (say 6 and 12 seconds instead of 60 and 120) does that solve your problem?

Can you run a daemonset that does that?

[2021-05-17 21:34] champtar commented on #87615
I'm seeing etcd response times in the multiple seconds range

[2021-05-17 21:39] thockin commented on #101529
For "Local" services, the healtcheck needs to target the per-service `healthCheckNodePort` which is an HTTP endpoint that returns true ONLY IF there is at least 1 pod for that specific service on that node.  See staging/src/k8s.io/cloud-provider/service/helpers/helper.go func `GetServiceHealthCheckPathPort()` which is called in staging/src/k8s.io/legacy-cloud-providers/aws/aws.go but maybe that's

[2021-05-17 21:39] #101529 closed

[2021-05-17 21:41] thockin commented on #101216
@robscott is this a case where AppProtocol helps?

[2021-05-17 21:45] rsparulek commented on #102073
@neolit123 Can someone provide some pointers on this issue ? This is a specific use case for which we need to use the alpha feature `MemoryManager`. Is this a known issue or some mis-configuration for kubelet ?

[2021-05-17 21:46] thockin commented on #101165
The usual process is cordon (no new pods); drain (remove old pods); shutdown.  It's not clear to me whether that is what is being done here.  During the drain, some pods may still be ready, and as such take traffic.

Am I misunderstanding?

[2021-05-17 21:52] neolit123 commented on #102073
did you try `--memory-manager-policy=Static` ?

this might be an inconsistency in capitalization for configuration values:
https://github.com/kubernetes/kubernetes/blob/9fd42639a07f44097ec733f2ef2a780895505c08/cmd/kubelet/app/options/options.go#L544

/kind support

[2021-05-17 21:57] rsparulek commented on #102073
@neolit123 That worked! Thanks for your pointers. I guess then the Memory Manager documentation needs an update

https://kubernetes.io/docs/tasks/administer-cluster/memory-manager/

[2021-05-17 21:59] neolit123 commented on #102073
i think a user reported the uppercase "Static/None" problem already, but i cannot find the issue.

[2021-05-17 22:05] #57534 closed

[2021-05-17 22:06] rsparulek commented on #102073
Thanks @neolit123 !

Also, when setting `reserved-memory` as a part of the kubelet configuration; is it also necessary to also provide the `kube-reserved` and `system-reserved` configurations as follows

[code]

[2021-05-17 22:08] BenTheElder commented on #102075
/sig storage
/remove-sig testing
sig storage owns their manifests for their test cases. SIG testing owns the framework to lookup images but not doing it in all the test cases.

[2021-05-17 22:08] BenTheElder commented on #102029
cc @amwat

[2021-05-17 22:10] neolit123 commented on #102073
these are questions for the kubelet maintainers.

[2021-05-17 23:03] robscott commented on #101216
Hey @Chauhan619 do you know which Ingress controller/implementation you're using for this? It's possible that setting AppProtocol on the backend Service ports could help here, but would likely depend on the Ingress implementation you were using.

[2021-05-17 23:24] msau42 commented on #101911
#96759 could explain why a volume got unmounted too early (while a container was still being started). The side effect of this is that data could still be left on disk (because data was writing to the boot disk instead of the volume), and rmdir may fail because there's still data in the directory. However I'm not sure would cause the publish/unpublish count discrepancy.

For the projected volume e

[2021-05-17 23:38] gnufied commented on #69699
@dimm0 so what is the bug? Is recursive permissions not being skipped as expected? You appear to be using flexvolume version of rook plugin - not sure if that could be the reason(should not be). But it is very hard to tell based on attached logs.

Next steps:
1. Can you try and create a minimal working example and verify mount times by creating lots of files in the volume and see if using `fsGroup

[2021-05-17 23:41] rsparulek commented on #102073
This is a known issue and tracked by some other bug. Closing this as the valid values are Static/None

https://github.com/kubernetes/kubernetes/blob/9fd42639a07f44097ec733f2ef2a780895505c08/cmd/kubelet/app/options/options.go#L544

[2021-05-18 00:05] dimm0 commented on #69699
Exactly. How can I debug this?

There's CSI plugin, but some (older) volumes are still flexVolumes. The volume in question is CSI.

I tried creating just a single file in the volume, chown it to 22:22, then kill the pod and create again. The file inside is 22:100 after pod start.

I can give you access to the namespace if you want.. I have a minimal example above. Can send configs.

Is chowning sh

[2021-05-18 00:06] dimm0 commented on #69699
Is it something to do with the CSI driver, or it's fully on kubernetes side? Should I bug rook guys about this?

[2021-05-18 00:16] vivekpatani opened #102078 "etcd changes: namespace quota management"
The etcd community is evaluating the introduction of namespace quota management within etcd. It addresses storage isolation and multi tenancy among other things.

Proposal: https://docs.google.com/document/d/1POdNdFBgpcGqLwurZjy8qQki6beOoVIcElTqHy4DnnA/edit?usp=sharing
Relevant etcd issue: https://github.com/etcd-io/etcd/issues/10084
Meetup Link: https://youtu.be/xya5d-j0c6c

We'd like to get feed

[2021-05-18 00:20] vivekpatani commented on #102078
`sig/api-machinery`

[2021-05-18 01:08] liufen90 opened #102079 "add https-proxy's certification setting to kubeconfig"
Now kubeconfig has supported to set http-proxy. There could be potential scenarios where certain clusters require the usage of an HTTPs proxy to be accessible for safety. It would be useful to have https-proxy's certification as a per cluster setting on the kube config so that it is easy to talk to clusters that require and don't require the usage of a https proxy.

[2021-05-18 01:09] Rajalakshmi-Girish commented on #101657
@pacoxu The issue still exists.
Can you please reopen?
[code]

[2021-05-18 01:11] Rajalakshmi-Girish commented on #101657
@pacoxu I am not sure if you can access this link for our CI job. Can you please check?
https://prow.ppc64le-cloud.org/view/s3/prow-logs/logs/postsubmit-master-golang-kubernetes-unit-test-ppc64le/1394427387789185024
The above tests have been failing every day in our jobs!

[2021-05-18 01:17] liufen90 commented on #102079
/sig  cli

[2021-05-18 01:24] pacoxu commented on #101657
/reopen

[2021-05-18 01:35] lyyao09 commented on #94970
/remove-lifecycle rotten

[2021-05-18 04:46] mauriciopoppe commented on #102076
@msau42 I run the test with the latest from master without removing the beta test and it failed with a different error before getting to the beta test part:

[code]
[code]

Do you have any idea what would've happened in my setup? I redeployed k/k using master HEAD

[2021-05-18 05:00] msau42 commented on #101911
Ok I did some more digging with the failure in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-csi_csi-driver-host-path/289/pull-kubernetes-csi-csi-driver-host-path-1-21-on-kubernetes-1-21/1392389060202336256 and have a good theory as to what's going on.

First question, why is the volume being torn down and then remounted for the *same* pod ID? I think we are hitting this o

[2021-05-18 05:04] msau42 commented on #101911
So two possible fixes to investigate:

1) Is it possible to not add volumes to dsw if the pod is terminating? cc @jingxu97
2) Get rid of that RemoveAll call in orphaned volume cleanup

[2021-05-18 05:09] mauriciopoppe commented on #102076
For this testcase:

[code]

I saw that the provisioned PD has a size of 1.5Gi according to kubernetes:

[code]

And in gcloud

[code]

It's really interesting that the test was expecting 2Gi to be created, is this something that was changed recently?

[2021-05-18 05:13] Meegada-Mahesh commented on #94892
/assign

[2021-05-18 05:21] msau42 commented on #102076
The logs you posted are showing pd csi as the provisioner. Were you testing with the intree driver or csi driver? The CSI driver should [round up](https://github.com/kubernetes-sigs/gcp-compute-persistent-disk-csi-driver/blob/1b79ce76d40b99b76133478c0ce0554597aed299/pkg/gce-cloud-provider/compute/gce-compute.go#L478) to the nearest Gb. I believe intree does the [same](https://github.com/kubernetes

[2021-05-18 05:22] pacoxu commented on #102079
a feature request ？`/kind feature`

[2021-05-18 05:24] pacoxu commented on #102078
/sig api-machinery
/kind feature
To add this proposal to Kubernetes, https://github.com/kubernetes/enhancements is the right place to add a KEP.

[2021-05-18 05:27] mauriciopoppe commented on #102076
I think I did intree because I didn't send `--storage.testdriver` as an argument in my command: `./hack/ginkgo-e2e.sh --ginkgo.focus=$(ginkgo_escape_testname "DynamicProvisioner [Slow] should provision storage with different parameters") --allowed-not-ready-nodes=10`

[2021-05-18 05:35] mauriciopoppe commented on #102076
mmm something interesting about my setup is that I created the cluster with the CSIMigration turned on

[code]

Do you think that might be forcing the usage of `pd.csi.storage.gke.io`?

[2021-05-18 05:41] pacoxu commented on #102075
/cc @pohly

`gcr.io/k8s-staging-cs` -> `gcr.io/gke-release` ->  `k8s.gcr.io/sig-storage`
https://github.com/kubernetes/kubernetes/blob/master/test/e2e/testing-manifests/storage-csi/gce-pd/controller_ss.yaml#L24

https://github.com/kubernetes/k8s.io/pull/952

[2021-05-18 06:00] msau42 commented on #102076
Yes likely. Try with CSIMigration off and see if that helps. If so, then this potentially seems like a rounding bug with the csi driver

[2021-05-18 06:09] msau42 commented on #101911
Another consideration:

3. Can the orphaned pod logic also check if the volume is still in the dsw?

[2021-05-18 06:44] frapposelli commented on #76506
/remove-lifecycle stale

[2021-05-18 06:54] RinkiyaKeDad commented on #98698
/remove-lifecycle stale

[2021-05-18 06:56] chendave commented on #101182
close by https://github.com/kubernetes/kubernetes/pull/100637

[2021-05-18 06:56] #101182 closed

[2021-05-18 07:13] mohjam2004 opened #102085 "Losing allocated IPs during conformance (was Service endpoints latency should not be very high)"
Hi
This is the failure:

Summarizing 1 Failure:
[Fail] [sig-network] Service endpoints latency [It] should not be very high  [Conformance]
/workspace/anago-v1.18.3-beta.0.58+d6e40f410ca91c/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/network/service_latency.go:129

latency is good when it is checked one by one:
![image](https://user-images.githubusercontent.com/592244

[2021-05-18 07:20] mohjam2004 commented on #102085
sig/network

[2021-05-18 07:51] pacoxu commented on #101657
- [periodic-kubernetes-unit-test-ppc64le](https://prow.ppc64le-cloud.org/prowjob?prowjob=4df7f7b4-b763-11eb-b926-3eb8c12c8462) downloads go from url="https://storage.googleapis.com/golang/go${GOLANG_VERSION}.linux-ppc64le.tar.gz"
- [postsubmit-master-golang-kubernetes-unit-test-ppc64le](https://prow.ppc64le-cloud.org/prowjob?prowjob=a4620ab5-b785-11eb-837c-0234662505dc) downloads go from `curl -X

[2021-05-18 07:57] pacoxu commented on #102085
/sig network
/kind support
/remove-kind failing-test

[2021-05-18 08:18] pohly commented on #101911
This `RemoveAll` was what I was looking for :grin: Thanks for taking a look.

It looks like this will be non-trivial to fix. Shall we release csi-driver-host-path with command line parameter that controls whether it warns or errors out when deleting a volume that is in use?

Then in Kubernetes, we can disable the strict check and thus update the sidecars and drivers without causing additional test

[2021-05-18 08:34] jai commented on #94892
Haven't assigned myself as I was going to bring it up at the upcoming SIG Node meeting but if you're ready to get started go for it.

Let me know if you end up not working on it, this issue has been bouncing around a while and I'd like to make sure it gets moving at some point.

FYI minutes/agenda of SIG Node https://docs.google.com/document/d/1Ne57gvidMEWXR70OxxnRkYquAoMpt56o75oZtg-OeBg/edit#head

[2021-05-18 08:37] mohjam2004 commented on #102085
This problem is new to me and I didn't have this failure before.

[root@lb1 global]# sonobuoy version
Sonobuoy Version: v0.18.4
MinimumKubeVersion: 1.16.0
MaximumKubeVersion: 1.18.99

my kubernetes version: rancher/hyperkube:v1.18.3-rancher2

[2021-05-18 08:50] pohly commented on #102075
There is support for patching the registry in those manifest files:
https://github.com/kubernetes/kubernetes/blob/5c586201186b1f31d16257511baef7793112ae76/test/e2e/storage/utils/create.go#L625-L637

For which test or job is that not working?

I have never tried that feature, but presumably it's to be used by copying the required images into a local registry and then overriding k8s.gcr.io/sig-stora

[2021-05-18 09:09] BenTheElder opened #102087 "[1.19, 1.20] make release fails due to k8s.gcr.io/build-image/debian-iptables for wrong platform"
#### What happened:

`make release` failed like so on 1.20.7:

[code]

Similar failure happens cross compiling in 1.19

#### What you expected to happen:

`make release` should not fail. I have all the pre-reqs installed, I am able to cross compile Kubernetes on 1.21, 1.18, 1.17, 1.16, 1.15, 1.14 ...

#### How to reproduce it (as minimally and precisely as possible):

I think you just need docker

[2021-05-18 09:18] uablrek commented on #101968
I thought the important thing was to test if a connection is still active when the service endpoint is removed so I tried a different approach;

1. Connect via SCTP through a service
2. Remove that service
3. Check if the connection is still alive

**And it is! But it is the same for UDP and TCP!**

The problem only exist for `proxy-mode=iptables`, so @kyrieSun-wow, please try `proxy-mode=ipvs` if

[2021-05-18 09:20] AbdulBasitAlvi commented on #101784
Hi @yashwanthkalva,
I also tried to recreate the issue using the following steps

1. Created a nginx deployment and service using the following template
[code]

2. Created it using the command `kubectl apply -f nginx.yml`

Output:
[code]

3. Edit the deployment and apply the changes using the command: `kubectl apply -f nginx.yml`

Output:
[code]

To me it also looks like a Helm issue rather than a

[2021-05-18 09:22] wangyysde commented on #102079
/kind feature

[2021-05-18 09:36] BenTheElder commented on #102087
seems to succeed on 20.10.5 / macOS 🤔

[2021-05-18 09:37] uablrek commented on #101968
For UDP, yes. But TCP and SCTP have connections, so you would have to re-connect and then be connected to B.

[2021-05-18 09:37] pacoxu commented on #84764
Does the killing container process in [277-ephemeral-containers/README.md#killing-ephemeral-containers](https://github.com/verb/kubernetes-enhancements/blob/master/keps/sig-node/277-ephemeral-containers/README.md#killing-ephemeral-containers) implemented?

Current behavior:
[code]
/assign
I would like to help to implement it or testing with this.

[2021-05-18 09:55] Rajalakshmi-Girish commented on #101657
Yes the go versions for both the jobs are different and it is **intentional:**

`periodic-kubernetes-unit-test-ppc64le`: It is meant to run Kubernetes unit tests with the stable version of golang
`postsubmit-master-golang-kubernetes-unit-test-ppc64le`: It is meant to run Kubernetes unit tests with golang built from the master branch of https://github.com/golang/go

As I mentioned in the descriptio

[2021-05-18 10:37] harche opened #102092 "crio cgroup v1 node conformance test failing after runc update"
#### Which jobs are failing:
All crio node conformance jobs which use cgroup v1 such as,
[Node Conformance Periodics](https://prow.k8s.io/?job=*ci-crio-cgroupv1-node-e2e-conformance*)
[Node Conformance Presubmit](https://prow.k8s.io/?job=*pull-kubernetes-node-crio-e2e*)

#### Which test(s) are failing:
[sig-node] Summary API [NodeConformance]

#### Since when has it been failing:
From this [commit

[2021-05-18 10:37] harche commented on #102092
/sig node

[2021-05-18 10:38] harche commented on #102092
/cc @mrunalp @ehashman @kolyshkin

[2021-05-18 10:39] harche commented on #102092
/cc @giuseppe

[2021-05-18 10:40] harche commented on #102092
Output of the failed tests,

[code]

[2021-05-18 10:42] harche commented on #102092
/cc @odinuge

[2021-05-18 11:31] jonassteinberg1 commented on #76146
hit this this morning after my kind cluster restarted.  curious what the resolution could be.

[2021-05-18 12:06] neolit123 commented on #102073
/reopen

So that at least the docs are fixed.

[2021-05-18 12:28] pjbgf commented on #82647
/remove-lifecycle rotten

[2021-05-18 12:39] odinuge commented on #102092
Thanks for pinging @harche!

Yeah, the new runc release still need a fair bit of work before properly working with k8s. There might be other edge cases as well... :/

This might be related to what I mentioned here (although not 100% sure about this one): https://github.com/kubernetes/kubernetes/pull/101888#pullrequestreview-661762880

I have an somewhat old PR here: https://github.com/kubernetes/k

[2021-05-18 12:49] andreibelov commented on #16707
agree with  @lllamnyp.
A good example of that would be aws-cli with both --query AND --output available.

[2021-05-18 12:52] Michael-Sinz commented on #93474
/remove-lifecycle stale

[2021-05-18 12:53] #101967 closed

[2021-05-18 12:54] Michael-Sinz commented on #93474
This still happens with kubectl 1.21.0

[code]

[code]

[code]

[2021-05-18 13:04] Michael-Sinz commented on #93474
We have to currently either bypass RBAC (not a good idea) or try to come up with command timings from the outside.  The problem is that command timings are non-trivial.  For example, "kubectl drain" can have some rather long execution times that are not due to timeouts making connections to the cluster API server.  Even something as simple as "kubectl get pods", depending on the arguments given an

[2021-05-18 13:12] aojea commented on #101968
the connections, in iptables mode,  are simply natted, conntrack is only an "observer", it doesn't interact with the connections, the endpoints (client, server) are the ones in charge of the connection..
do you mean that something has to reset the connection when the service is deleted?

[2021-05-18 13:27] muhammedbuvaydani opened #102095 "can not start kubernetes after restart server"
hi , I installed the cluster in my ubuntu Server and it was working perfect , then suddenly my server crashd and  I have to restart it , after reboot the machine  , I get this error
`The connection to the server 10.50.1.11:6443 was refused - did you specify the right host or port?`
when I run journalctl -x command to check the error I have this
[code]

the ip of the server is same , and node name

[2021-05-18 13:35] liggitt commented on #101989
The runc bump to rc94 is being reverted due to behavior changes around cgroups that need adjusting to. That seems likely to complicate taking rc94 back to the release-1.21 branch.

How can the performance regression in runc between rc92 (in Kubernetes 1.20) and rc93 (in Kubernetes 1.21) be resolved in a way that doesn't require bumping to rc94?

[2021-05-18 13:37] dengruilong commented on #81775
What's the conclusion for this issue? Does it really work after removing the ActConn&InActConn checking? The master branch still not accept your suggestion?

[2021-05-18 13:46] muhammedbuvaydani commented on #102095
/sig  bug

[2021-05-18 13:47] muhammedbuvaydani commented on #102095
/sig network
/kind support
/remove-kind failing-test

[2021-05-18 14:01] uablrek commented on #101968
Yes. Below the loadBalancerIP is `10.0.0.79:7009`, on the node where traffic enters a conntrack entry is created;
[code]
I think this is actually where the NAT state is stored, so the conntrack _is_ involved. When the service is removed the iptables rules are removed but the conntrack entry remains. And it is sufficient for keeping the connection alive.

And this it very easy to test by anyone sin

[2021-05-18 14:05] verb commented on #84764
@pacoxu Awesome, thanks! Removing ephemeral containers is approved in the KEP, but it hasn't been implemented yet. You'll need to change the update validation to allow removing the ephemeral container, taking care to continue denying any other modification. Also note the new requirement to check container statuses for name collisions.

You'll also need to update the kubelet to kill a container tha

[2021-05-18 14:23] verb commented on #101609
#84764 is about modifying the API to allow removing or replacing ephemeral containers (currently this is disallowed). Let's make this issue about deciding how `kubectl debug` should handle this situation when it occurs.

/remove-sig node
/sig cli
/triage accepted
/assign

@KlavsKlavsen What behavior do you expect when you run `kubectl debug` with the name of an ephemeral container that's still run

[2021-05-18 14:25] jkaniuk opened #102096 "E2E kube-dns-autoscaler tests should belong to sig-networking, not sig-autoscaling"
I believe that tests in test/e2e/autoscaling/dns_autoscaling.go should belong to sig-networking, e.g.:

`[sig-autoscaling] DNS horizontal autoscaling kube-dns-autoscaler should scale kube-dns pods in both nonfaulty and faulty scenarios`

/assign @prameshj
/cc @wojtek-t
/sig networking
/sig autoscaling

[2021-05-18 14:28] gnufied commented on #69699
if you increase the log level of KCM to 3, you should be able to see following message whenever applicable:

"klog.V(3).InfoS("Skipping permission and ownership change for volume", "path", mounter.GetPath())"

[2021-05-18 14:47] aojea commented on #101968
right , NAT uses the conntrack table, but if we delete the conntrack entry we don't let the TCP connections to end gracefully and both extremes have to timeout. Once conntrack "sees" the close handshake it removes the entry ...

We've seen similar reports here https://github.com/kubernetes/kubernetes/issues/101607 and here https://github.com/kubernetes/kubernetes/issues/100698 , check the latest o

[2021-05-18 14:48] saschagrunert commented on #102087
I'll give this a look tomorrow.

[2021-05-18 14:50] mkorbi commented on #102006
- https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress
- https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-correctness

[2021-05-18 15:24] timebertt opened #102097 "Garbage collect VolumeAttachments of migrated in-tree volumes"
#### What happened:

_Context:_ When a cluster has dangling `VolumeAttachment`s caused by restarts of kube-controller-manager (like described in https://github.com/kubernetes/kubernetes/issues/77324), the attach/detach controller tries to clean them up on startup (ref https://github.com/kubernetes/kubernetes/pull/96617).
For this, it iterates over all `VolumeAttachment`s and finds the responsible

[2021-05-18 15:25] timebertt commented on #102097
/sig storage
cc @Jiawei0227

[2021-05-18 15:29] mrunalp commented on #101989
cc: @kolyshkin @AkihiroSuda

[2021-05-18 15:30] uablrek commented on #101968
https://github.com/kubernetes/kubernetes/issues/101607 is different since it about connections setup, but https://github.com/kubernetes/kubernetes/issues/100698 is the same problem.

There is a difference between terminating the pod and remove the endpoint from the service while the POD is still living (but not ready as in this issue). In the first case I would agree that the conntrack entry shoul

[2021-05-18 15:42] uablrek commented on #101968
Here is an example on the client-side (external) with `ipvs` when the service is removed;
[code]
Data will accumulate in the `Send-Q` until the connection is terminated by the client.

[2021-05-18 15:44] aojea commented on #101968
great explanation, I'm leaning towards documentation , @thockin this is a good reading ^^^ can you weigh in?

[2021-05-18 15:51] aojea commented on #101879
the http job was been fixed but the grpc job still fails, most errors have the following message

[code]
https://testgrid.k8s.io/sig-api-machinery-network-proxy#ci-kubernetes-e2e-gci-gce-network-proxy-grpc&width=5

[2021-05-18 15:52] aojea commented on #101879
@Jefftree can you please take a look to the grpc one to see if is the same issue or a new one?

[2021-05-18 15:54] aojea commented on #99801
If we remove kops and the ci-kubernetes-e2e-gci-gce-network-proxy-grpc jobs from the query ,
 this test only fails on jobs that have a a high rate of failures, investigated here https://github.com/kubernetes/kubernetes/issues/100047#issuecomment-811513297

https://storage.googleapis.com/k8s-gubernator/triage/index.html?test=KubeProxy%20should%20set%20TCP%20CLOSE_WAIT%20timeout%20&xjob=kops%7Cci-ku

[2021-05-18 16:16] thejoycekung opened #102099 "[Failing Test] [sig-storage] CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] tests - pod not running"
#### Which jobs are failing:
ci-kubernetes-e2e-gci-gce-serial (gce-cos-master-serial)

#### Which test(s) are failing:
CSI Volumes [Driver: pd.csi.storage.gke.io][Serial] tests

#### Since when has it been failing:
May 14
24727b521...ee9f365c5

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-cos-master-serial

#### Reason for failure:
Pod is not Running, e.g.:
[code]

[2021-05-18 16:28] Jiawei0227 commented on #102097
Hey, thanks for reporting this bug!! I will try to come up with a fix.
BTW, wondering what's the symptom you observed except for the log. Is there any volume operation(attaching/detaching/mounting/unmounting/creation/deletion) not working? This, to my understanding, will only make dangling attachment not working properly but I guess normal operation should work, is it?

[2021-05-18 16:28] jsturtevant opened #102100 "Kubernetes e2e suite.[sig-node] Pods should run through the lifecycle of Pods and PodStatus [Conformance]"
#### Which jobs are flaking:

https://testgrid.k8s.io/sig-windows-signal#aks-engine-windows-containerd-master

#### Which test(s) are flaking:

Kubernetes e2e suite.[sig-node] Pods should run through the lifecycle of Pods and PodStatus [Conformance]

#### Testgrid link:

https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/ci-kubernetes-e2e-aks-engine-azure-master-windows-containerd/139450006784233

[2021-05-18 16:36] jkaniuk commented on #100705
/reopen

[code]

Looks that ComputeCPUMemFraction took only 12 minutes, but it stuck later, on `Waiting for running...`

It is scheduling one pod per each node: https://github.com/kubernetes/kubernetes/blob/release-1.21/test/e2e/scheduling/priorities.go#L567

Which is waiting 5s to be ready: https://github.com/kubernetes/kubernetes/blob/release-1.21/test/utils/runners.go#L905

5k nodes * 5s = ~7h

[2021-05-18 16:37] thejoycekung opened #102101 "[Failing Test] ci-kubernetes-e2e-ubuntu-gce CSI volumes AfterSuite failing"
#### Which jobs are failing:
ci-kubernetes-e2e-ubuntu-gce (gce-ubuntu-master-default)

#### Which test(s) are failing:
AfterSuite

#### Since when has it been failing:
Unknown, at least May 3 according to TestGrid

#### Testgrid link:
https://testgrid.k8s.io/sig-release-master-informing#gce-ubuntu-master-default

#### Reason for failure:
[code]

If you dig through the logs, it looks like these are

[2021-05-18 16:44] thejoycekung commented on #102099
/close

dupe of #102077

[2021-05-18 16:44] #102099 closed

[2021-05-18 16:44] #100259 closed

[2021-05-18 16:47] gregswift commented on #93019
+1 to @JarnoRFB 's point about wanting to use node's disk or ram

Statefulsets are very focused on order and ensuring consistency of pod=disk.

For the use case I was describing I just need more specific storage than `emptyDir` provides, and to be able to hand that volume off to another pod if the pod has to go away.  I don't care about state, IP, name, etc for the pod.  Just that something takes

[2021-05-18 16:49] thejoycekung commented on #102077
is #102101 also related to this? if so we can close it

[2021-05-18 16:59] alculquicondor commented on #100705
/assign @damemi

Can you do the pod creations in parallel?

[2021-05-18 17:01] jkaniuk opened #102102 "[Test Failing] "Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec" in gce-master-scale-correctness"
#### Which jobs are failing:
gce-master-scale-correctness

#### Which test(s) are failing:
Loadbalancing: L7 [Slow] Nginx should conform to Ingress spec

#### Since when has it been failing:
5-14

#### Testgrid link:
https://k8s-testgrid.appspot.com/sig-scalability-gce#gce-master-scale-correctness

#### Reason for failure:
[code]

#### Anything else we need to know:
update to handle beta removals

[2021-05-18 17:05] msau42 commented on #102077
No I don't think it's related at first glance.

[2021-05-18 17:07] msau42 commented on #102101
@gnufied @pohly  do you remember any changes made recently regarding namespace cleanup?

[2021-05-18 17:07] msau42 commented on #102101
@kubernetes/sig-storage-test-failures

[2021-05-18 17:11] jkaniuk commented on #102102
/sig network

[2021-05-18 17:18] timebertt commented on #102097
The consequence of the leftover `VolumeAttachment`s in our case is that volumes are not detached on infrastructure provider side when moving pods with volumes between nodes, e.g. because of rolling updates/eviction/etc.. This in turn causes the new `VolumeAttachment`s on the new nodes to fail with logs similar to this one:
[code]
(we observe the same for GCP)

I can also work on a fix tomorrow, if

[2021-05-18 17:29] damemi commented on #100705
Yes, good idea. I'll update to do that

[2021-05-18 17:40] pohly commented on #102101
Sorry, no I don't.

The last change in the cleanup.go file was:

commit 708261e06c754ed9f757e1c91fd12e446857b702
Author: Hemant Kumar
Date:   Tue Apr 7 19:19:34 2020 -0400

    Make AfterSuite hooks ordered

[2021-05-18 17:54] spiffxp commented on #101528
/assign

[2021-05-18 17:58] ehashman commented on #101989
/triage accepted

[2021-05-18 18:01] ehashman commented on #101989
/cc @dims

[2021-05-18 18:02] yashikabadaya commented on #102008
I'd like to take up this task.

[2021-05-18 18:11] kolyshkin commented on #101989
This would require a fork of runc with the backport of https://github.com/opencontainers/runc/pull/2921.

I think it makes more sense to fix rc94 test failures (looking at it).

[2021-05-18 18:13] gnufied commented on #102101
is usually a symptom that points to a problem in tests elsewhere. Looking at the failure in more detail we see:

[code]

So deletion of test namespace timed out and that kind of triggered a race. But this test was going to fail anyways because test namespace deletion should not time out. We have to investigate why is namespace deletion timing out.

[2021-05-18 18:14] liggitt commented on #101989
was it just test failures? I can't tell from https://github.com/kubernetes/kubernetes/pull/101888#issuecomment-843377061 whether there's a functional change needed or not. If it is only test changes, that seems more plausible to backport.

[2021-05-18 18:52] prameshj commented on #102096
These tests are run on sig-network testgrid as well in https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial and https://k8s-testgrid.appspot.com/sig-network-gce#gci-gce-serial-kube-dns and those failures do come to sig-network. Right, @aojea ?

[2021-05-18 19:08] krtk6160 opened #102104 "[sig-cli] Kubectl get pods takes a long time after context switch"
#### What happened:
After switching context from minikube to gke, kubectl get pods (and any other kubectl command) takes anywhere from 60s to 120s.

#### What you expected to happen:
It should be much faster.

#### How to reproduce it (as minimally and precisely as possible):
With current context being minikube, switch context to gke, then run `kubectl get pods`

#### Anything else we need to know

[2021-05-18 19:10] krtk6160 commented on #102104
/sig cli

[2021-05-18 19:14] cjcullen opened #102106 "CVE-2021-25737: Holes in EndpointSlice Validation Enable Host Network Hijack"
#### Issue Details
A security issue was discovered in Kubernetes where a user may be able to redirect pod traffic to private networks on a Node. Kubernetes already prevents creation of Endpoint IPs in the localhost or link-local range, but the same validation was not performed on EndpointSlice IPs.
This issue has been rated Low ([CVSS:3.0/AV:N/AC:L/PR:H/UI:N/S:U/C:L/I:N/A:N](https://www.first.org/

[2021-05-18 19:21] cjcullen commented on #102106
This was fixed by https://github.com/kubernetes/kubernetes/pull/101084

[2021-05-18 19:21] #102106 closed

[2021-05-18 19:23] dims commented on #102106
i was just about to link... thanks @cjcullen !

[2021-05-18 19:41] mauriciopoppe commented on #102076
Thanks @msau42, I tried with `CSIMigration=false` and it did indeed round up to 2Gi.

[2021-05-18 19:44] odinuge commented on #101989
Did you take a look at my comment in https://github.com/kubernetes/kubernetes/pull/101888#pullrequestreview-661762880 @kolyshkin?

I also wrote it in a bit more detail here: https://github.com/kubernetes/kubernetes/pull/101888#issuecomment-843496893

(It is getting late in Europe right now, so I will probably not answer before tomorrow)

[2021-05-18 19:50] odinuge commented on #101989
Isn't it possible to create a new branch from `rc93` and cherry-pick the changes, and then cut a new release?

[2021-05-18 20:18] fedebongio commented on #32220
/help

[2021-05-18 20:18] fedebongio commented on #32220
/triage accepted

[2021-05-18 20:18] aojea commented on #102096
I don't see any network check on these tests, they are asserting only that the scaling work, so I think that autoscsaling should own them.
However, there are no written rules AFAIK and if someone sees a possible network problem they should tag sig-network, as prameshj says in previous comment we already monitor that job

[2021-05-18 20:18] Jiawei0227 commented on #102097
That would be nice! Really appreciate it.

Yep, sounds like a good idea. If you could also help to verify the fix in your environment that would be awesome

[2021-05-18 20:19] fedebongio commented on #99716
/help
/triage accepted

[2021-05-18 20:19] fedebongio commented on #101991
/assign @DirectXMan12 @kevindelgado
/triage accepted

[2021-05-18 20:21] fedebongio commented on #102013
/assign @roycaihw
/triage accepted

[2021-05-18 20:21] Jiawei0227 commented on #98281
/reopen

@xing-yang Has vsphere made the fix?

[2021-05-18 20:21] fedebongio commented on #102016
/triage accepted

[2021-05-18 20:23] fedebongio commented on #102052
/assign @yliaog
/triage accepted

[2021-05-18 20:26] fedebongio commented on #102078
/cc @hexfusion
/cc @jpbetz

As we went through this one and discussed it, feels like a great candidate to present and discuss in the bi-weekly SIG API Machinery meeting. Let me know if you need help presenting it (I'm @fedebongio also on slack)

thanks!
/triage accepted

[2021-05-18 20:26] AndrewSav commented on #47202
Just be aware that now we have "CronJobControllerV2", (in beta, enabled by default) which may significantly deviate from what was used as a base for https://github.com/hiddeco/cronjobber . Some tech news sites reported that  "CronJobControllerV2" is a new implementation, and is not a bugfix/improvement of the original one, so if you are running https://github.com/hiddeco/cronjobber you are running

[2021-05-18 20:59] julianvmodesto opened #102110 "Make validation.totalAnnotationSizeLimitB public"
#### What would you like to be added:

Expose totalAnnotationSizeLimitB in the validation package:

https://github.com/kubernetes/kubernetes/blob/c24f2f8225be0aaf6f7f4743d7fc283040cfbf0d/staging/src/k8s.io/apimachinery/pkg/api/validation/objectmeta.go#L36

#### Why is this needed:

This value is useful for validating annotations outside of the validation package, such as in SSA: https://github.com

[2021-05-18 21:00] julianvmodesto commented on #102110
/assign

[2021-05-18 21:03] dims commented on #101989
@odinuge the `runc` project it's hard to get a release out. they don't maintain branches and rc94 is already out. there will be more confusion around what to call this new release too (rc931???). it's a mess. So no we have to move forward, help them fix what needs to be fixed and push for a rc95 out quickly if not a 1.0.0 final of runc.

[2021-05-18 21:03] aojea commented on #102085
yeah, but the goal is to verify the cluster, one by one is not something you'll run in production, right?

you have latencies in the order of 5 seconds, that is very very high,
do you have low resources CPU, memory?
what is your network bandwidth?
are these raspberries or some small device?

[2021-05-18 21:03] hexfusion commented on #102078
I look forward to the presentation, and in the meantime will review the proposal in more depth.

[2021-05-18 21:04] yliaog commented on #102052
the flag is passed to the following code, does it not work?

https://github.com/kubernetes/kubernetes/blob/22ec3b0eddf2bea9d7137516c15d85d17f059357/pkg/kubelet/client/kubelet_client.go#L54

	// HTTPTimeout is used by the client to timeout http requests to Kubelet.
        HTTPTimeout time.Duration

[2021-05-18 21:21] xing-yang commented on #98281
@Jiawei0227 Not yet.  @divyenpatel is going to make the fix.

[2021-05-18 21:23] olix0r commented on #100802
Possibly related to https://github.com/kubernetes/kubernetes/pull/79018 and https://github.com/containerd/containerd/issues/4771

This bug can prevent a controller we're working on from enumerating nodes in a cluster, as we hit deserialization errors if any node in the cluster exposes an image with `names: null`. It seems like #79018 proposed to address this by using the image ID instead of its na

[2021-05-18 22:30] aojea commented on #102077
@prameshj these are failing in sig-network testgrid too, https://testgrid.k8s.io/sig-network-gce#gci-gce-serial-kube-dns-nodecache

 I've found them when you mentioned it in the dns autoscale issue, kudos to her

[2021-05-18 22:40] arcivanov commented on #98860
@damemi have you found anything? I just had K8S 1.18.18 put ALL my nodes on one node.

[code]
istiod and istio-ingressgateway have TSCs.

[2021-05-18 22:42] arcivanov commented on #98860
In the latter case killing pods one by one did NOT get them rescheduled to other nodes.

[2021-05-18 22:59] ltagliamonte-dd commented on #92928
i'm on Kubernetes `v1.18.9` and also start noticing the same errors in the events stream.

[2021-05-18 23:02] robscott commented on #92928
Hey @ltagliamonte-dd, unfortunately we can no longer patch v1.18 so the mitigation for this only made it back as far as 1.19.

[2021-05-18 23:02] olix0r commented on #100802
Looking at the sources, it looks like the image list is constructed here:

https://github.com/kubernetes/kubernetes/blob/af46c47ce925f4c4ad5cc8d1fca46c7b77d13b38/pkg/kubelet/nodestatus/setters.go#L465-L479

It's not clear to me how it's even possible for `Names` to be uninitialized? I'll try to figure out how we got into this state...

[2021-05-18 23:38] spiffxp commented on #100274
/wg k8s-infra
/milestone v1.22

[2021-05-18 23:55] cndoit18 commented on #59343
I need this support, I will continue watching it.

[2021-05-19 00:27] jsturtevant opened #102113 "[sig-windows] [Feature:Windows] GMSA Full [Serial] [Slow] GMSA support works end to endChanges"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-containerd-serial-slow-master
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-dockershim-serial-slow-master

#### Which test(s) are failing:
[sig-windows] [Feature:Windows] GMSA Full [Serial] [Slow] GMSA support works end to endChanges

#### Since when has it been failing:
5/12/

[2021-05-19 00:31] jsturtevant opened #102114 "[sig-windows] Kubernetes e2e suite.[sig-autoscaling] [Feature:HPA] Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicationController Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stabilityChanges"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-windows-master-release#aks-engine-windows-dockershim-serial-slow-master

#### Which test(s) are failing:
Kubernetes e2e suite.[sig-api-machinery] Namespaces [Serial] should ensure that all pods are removed when a namespace is deleted [Conformance]Changes
Kubernetes e2e suite.[sig-api-machinery] Namespaces [Serial] should ensure that all serv

[2021-05-19 01:11] nmante commented on #71647
This worked for my environment as well.

[2021-05-19 01:53] RolandMa1986 commented on #101784
Hi @yashwanthkalva,
I can recreate the same error now. Please check the doc [In-place-updates-of-resources](https://kubernetes.io/docs/concepts/cluster-administration/manage-deployment/#in-place-updates-of-resources). If you are trying to update a deployment without `kubectl.kubernetes.io/last-applied-configuration` annotation.  `kubectl apply` will fall back to 2-way diff.
That means the `kubectl

[2021-05-19 02:14] #102023 closed

[2021-05-19 02:42] mengjiao-liu opened #102116 "[Flaky] k8s.io/kubernetes/pkg/volume/csi TestAttacherMountDeviceWithInline"
#### Which jobs are flaking:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&text=DATA%20RACE&test=TestAttacherMountDeviceWithInline

- ci-kubernetes-generate-make-test-count10
- pr:pull-kubernetes-unit
- ci-kubernetes-unit
- ci-kubernetes-generate-make-test-count10

#### Which test(s) are flaking:
TestAttacherMountDeviceWithInline

#### Testgrid link:

#### Reason for failure

[2021-05-19 02:42] mengjiao-liu commented on #102116
/assign

[2021-05-19 02:42] olix0r commented on #100802
I was just able to trigger this with `k3d` though I imagine this can be caused with other environments with a similar workflow:

[code]

To get into this state, I first built my app with `docker build . -t myapp:v0` and then imported it into the local k3d cluster with `k3d image import myapp:v0`.

Then, I made some changes to my application and built it again with the same tag, and imported into t

[2021-05-19 02:46] mengjiao-liu commented on #102116
/sig sig-storage

[2021-05-19 02:46] mengjiao-liu commented on #102116
/sig storage

[2021-05-19 03:31] zc2638 opened #102120 "How to forcibly delete resources in MutatingWebhook"
#### What happened:
[code]
#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Anything else we need to know?:

/help-wanted

[2021-05-19 03:59] mohjam2004 commented on #102085
Hi, Aojea. Thank you for your reply.
I have checked my CPU and RAM resource consumption during the conformance test (as depicted).
I don't have any resource shortage.
my node network interfaces are Gig.
as I mentioned, I didn't have this issue with my conformance test before and my resources haven't changed since then.
Regards

![image](https://user-images.githubusercontent.com/59224403/118754209-

[2021-05-19 04:46] adisky commented on #95932
closing this issue, as It has been fixed by #99880
/close

[2021-05-19 04:46] #95932 closed

[2021-05-19 05:10] uablrek commented on #102095
It looks like the `kube-apiserver` has not started. (i.e. not sig/network)

[2021-05-19 05:14] uablrek commented on #102095
How to check that depends on how K8s was installed. That is one of the headers in the **K8s issue template**. It is there for a reason, please use it next time.

[2021-05-19 05:15] #90168 closed

[2021-05-19 05:32] uablrek commented on #99162
This problem is probably related to #81775.

[2021-05-19 05:32] #99397 closed

[2021-05-19 06:17] timebertt commented on #102097
Ok, great. Will try to come up with a fix.
/assign

Definitely! I'll try my best and let you know if I need some help :)

[2021-05-19 06:27] wilsonehusin commented on #96692
/remove-lifecycle stale

there is work in progress 😄

[2021-05-19 06:33] #102076 closed

[2021-05-19 07:09] KlavsKlavsen commented on #101609
@verb I would expect it to reattach to a running debug container.. so I could f.ex. start a tcpdump - and get back to it later.. and I would be happy for having a "default timeout - for auto cleanup" setting.. so it would automaticly remove debug containers if I forgot.. and then I'd like settings for creating an extra debug container (ie. by giving it a different name than default 'debug')  and a

[2021-05-19 07:34] uablrek commented on #99162
This problem is fixed with a kernel patch by @andrewsykim and included in linux >=5.9, please see https://github.com/kubernetes/kubernetes/pull/102122.

I have made a PR https://github.com/kubernetes/kubernetes/pull/102122 that leaves net.ipv4.vs.conn_reuse_mode=1 for kernels >=5.9.

I have successfully tested with the PR applied on linux-5.12.1.

[2021-05-19 07:35] harche commented on #102092
Tests passing now after https://github.com/kubernetes/kubernetes/pull/102094 is merged

[2021-05-19 07:35] #102092 closed

[2021-05-19 07:47] uablrek commented on #99162
When https://github.com/kubernetes/kubernetes/pull/102122 is merged I will close this issue. I marked my kernel bug-report as resolved/patch-already-exists.

@aaronbbrown Sorry for the not very user-friendly fix since you have to upgrade the kernel. But working with kernel functions, that's the way it is.

[2021-05-19 07:55] aojea commented on #102085
please, don't paste screenshots, those are hard to read, there is the possibility to add formatting to the test or to upload logs attaching them to the comment.

50s latencies, definitively something is wrong there,
this is really weird, what are those events about "ClusterIPNotAllocated"?

what do you mean by that?
is the first time you see this issue in this cluster and it was working before?
yo

[2021-05-19 07:56] uablrek commented on #81775
Please test with PR https://github.com/kubernetes/kubernetes/pull/102122 applied and kernel >= 5.9 if possible.

[2021-05-19 08:03] uablrek commented on #90042
I think this is a duplicate of https://github.com/kubernetes/kubernetes/issues/81775. If that issue is fixed by PR https://github.com/kubernetes/kubernetes/pull/102122 I will close this issue also.
If possible, please try to re-create the problem in this issue with kernel >=5.9 and PR #102122 applied.

[2021-05-19 08:13] odinuge commented on #101989
@dims:

Well, when it comes to such things as naming etc. I am quite pragmatic, and would like to solve the problems as safe and efficient as possible. However, if the runc people doesn't do that, that is totally fine, and I have no objections on that. :smile: We also lack some sig-node CI coverage on older releases, making backporting huge dependency changes a bit risky.

Not sure if we are talki

[2021-05-19 08:19] pacoxu commented on #102120
/kind support
/remove-kind bug

[2021-05-19 08:21] muhammedbuvaydani commented on #102095
@uablrek thanks for help .  I installed k8s using this commands
 apt-get install -y kubelet kubeadm kubectl
and I using this command for init
kubeadm init
and the cluster working without any problem till I restart the Machine
/sig  api

[2021-05-19 08:22] muhammedbuvaydani commented on #102095
area/api

[2021-05-19 08:22] muhammedbuvaydani commented on #102095
/sig  area/api

[2021-05-19 08:23] muhammedbuvaydani commented on #102095
/area/api

[2021-05-19 08:24] muhammedbuvaydani commented on #102095
/area apiserver

[2021-05-19 08:25] Umair841 commented on #52521
is there any way to add a pod based on events coming from another pod ??

[2021-05-19 08:26] mohjam2004 commented on #102085
Hello again,
You are right, this is really weird.
I don't know what causes this log "ClusterIPNotAllocated". I think this error can cause the latency of SVCs become higher (the process of assigning IP to SVCs takes longer- I think this way and I'm not sure this is true).
I have run the cluster conformance test (with sonobuoy) for about one  year and I have not this error so far. I get this error a

[2021-05-19 08:26] saschagrunert commented on #102087
The issue is that the architecture specific images had the wrong architecture in their manifest. This has been already fixed a while ago. I think a mitigation would be to backport #98529 or update the base images for the release branches.
[code]

Backporting the #98529 seems better to me, I'll propose that change.

[2021-05-19 08:27] uablrek commented on #102095
This may be an `Ubuntu` problem. I think "kubeadm init" may not be sufficient. My guess is that some `systemd` or docker setting is also required for the K8s master processes (including the kube-apiserver) to be started automatically on reboot.

I am not installing like this myself, so I can't say exactly what is missing.

[2021-05-19 08:31] aojea commented on #102085
I will explore that path, that is not normal , how many services do you have `kubectl get services -A` and what is your service cidrs configuration?
Please, check that all the apiservers have the same cidr configured for the service subnet

[2021-05-19 08:34] BenTheElder commented on #102087
My only concern with backporting https://github.com/kubernetes/kubernetes/pull/98529 would be potenetially introducing the requirement of buildx (I think prior to this building a release didn't require it?) which might increase the minimum docker version?

I'm not sure why the cross builds are working on the mac, but I wonder if perhaps docker began tolerating this again in one of the patch releas

[2021-05-19 08:53] mohjam2004 commented on #102085
**I have 44 services:**

[root@lb1 rke]# kubectl get services -A | wc -l
44
[root@lb1 rke]#

**This is some of my services:**

[root@lb1 rke]# kubectl get services -A
NAMESPACE                   NAME                                       TYPE        CLUSTER-IP       EXTERNAL-IP   PORT(S)                                                       AGE
argo                        argo-server

[2021-05-19 08:54] wangyysde commented on #102102
xref: #102030

[2021-05-19 09:01] muhammedbuvaydani commented on #102095
I installed  Kubernetes on another ubuntu machine and I have the same problem, docker is already installed and it is enabled to run on reboot,
could u please guide me if my installation is wrong, what is the best way?

[2021-05-19 09:03] aojea commented on #100895
just to be clear, the problem is with the "stored" IP values only in Spec, right?

[2021-05-19 09:11] omegazeng commented on #58065
use socks5
[code]

[2021-05-19 09:20] #101137 closed

[2021-05-19 09:38] victor-sudakov commented on #55713
I seem to have this issue with v1.21.0 on Debian10/amd64, a test cluster of 1 master and 3 worker nodes:

I create a pod without a nodeSelector, find the node it is running on, and shut down or poweroff  its host emulating hardware failure or maintenance. I expect my pod to be recreated at another healthy node, but  this never happens. I have to reapply the pod definition to make it run again and

[2021-05-19 09:39] unmarshall opened #102127 "NetworkPolicy: Support deny action"
Hello,

We have a use case where we have a limited set of pods/namespaces for which egress should be blocked and there is an unknown number of pods/namespaces/external endpoints to which it should be allowed.

This feature is provided by calico and is pretty useful (https://docs.projectcalico.org/archive/v3.19/security/calico-network-policy#features). Is there a pull to bring this into native K8S

[2021-05-19 09:44] kyrieSun-wow opened #102128 "The second unsolicited packet sent by POD is not forwarded in accordance with Conntrack"
The second unsolicited packet sent by POD is not forwarded in accordance with Conntrack

#### What happened:
k8s env:
- service type: loadbalancer (coodinate with metalLB in layer 3:BGP)
- service attribute: externalTrafficPolicy : local   (To get the real source ip of client)
- pod num: only one for this service

scenario:
1. A client sent SCTP init and HEARTBEAT to loadbalancerIP of service (pod

[2021-05-19 09:57] discordianfish commented on #71024
The error is quite misleading though, would be great if that could be fixed.

[2021-05-19 09:59] wenlxie opened #102130 "Rbd device become chaos in some of k8s minion node"
#### What happened:
We are using rbd block device, which have zfs pool created on it.
After we upgrade to k8s 1.18. One issue found that rbd block device become chaos.

- [ ] There is duplicated device under /dev/rbd*
![image](https://user-images.githubusercontent.com/7530735/118793481-3a3ed400-b8cb-11eb-8d07-d96ac914e138.png)

You can see that rbd0 and rbd1 has the same inode.

![image](https://u

[2021-05-19 10:13] pacoxu commented on #101657
With #101757,  `reflect.ValueOf(pluginFactory).Pointer()  != reflect.ValueOf(val).Pointer()` is false

[code]
@cherrymui Per #101657 (comment), do you mean that we should change to `reflect.ValueOf(pluginFactory).Interface()  != reflect.ValueOf(val).Interface()`?

[2021-05-19 10:22] uablrek commented on #100698
Please see also; https://github.com/kubernetes/kubernetes/issues/101968#issuecomment-843272392

[2021-05-19 10:34] chendave opened #102132 "Properly sore the node when pod doesn't request but node has"
#### What would you like to be added:
See the details here: https://github.com/kubernetes/kubernetes/pull/101946/files#r632039984

How to properly handle the below two cases? Extended resource "gpu" as an example here,
- a Pod doesn't request gpu, and the evaluating Node doesn't have gpu resource
- a Pod doesn't request gpu, and the evaluating Node has gpu resource

This will impact all those scor

[2021-05-19 10:35] chendave commented on #102132
/sig scheduling

[2021-05-19 10:50] wenlxie commented on #102130
/sig storage

[2021-05-19 11:13] artemlops commented on #63543
+1 for the issue. I don't really understand why ConfigMap is restricted for pods only.

[2021-05-19 11:37] FingerLiu commented on #27404
/reopen still need this to analyze node usage.

[2021-05-19 11:40] verb commented on #101609
@KlavsKlavsen Reattaching to ephemeral containers by name is already possible via `kubectl attach`. We could perhaps automatically reattach when `--interactive` or `--attach` is specified and the command hasn't changed, but this implicit action might surprise some users. At the same time, I'd like `kubectl debug` to be as convenient as possible.

As a thought experiment, what should happen if 2 di

[2021-05-19 11:57] elChipardo commented on #101674
Hi guys, I got the same issue on a Kubernetes cluster v1.19.7.
However, this has been fixed recently in:
- v1.21.0: [PR]: https://github.com/kubernetes/kubernetes/pull/96876) // [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1200)
- v1.19.9: [PR](https://github.com/kubernetes/kubernetes/pull/98140) // [CHANGELOG](https://github.com/kub

[2021-05-19 12:01] elChipardo commented on #55713
Hi guys, I got the same issue on a Kubernetes cluster v1.19.7 i.e. some nodes did not get the taint `NoExecute` as expected.
However, this has been fixed recently in:
- v1.21.0: [PR](https://github.com/kubernetes/kubernetes/pull/96876) // [CHANGELOG](https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.21.md#changelog-since-v1200)
- v1.20.5: [PR](https://github.com/kubernetes

[2021-05-19 12:09] forever765 commented on #76146
It is incredible that this problem has existed for more than 2 years and has not been solved. I encountered this error when deploying k8s using binary files, I tried v1.18 - v1.21, and I checked all the search results on google. Unfortunately, it took me 3 days to still not be able to solve this problem.

[2021-05-19 12:09] KlavsKlavsen commented on #101609
Its what I intuitively had expected (and thought it did - until I realized I had 30+ new containers in the pod :)

you could "complain about a missing --attach" - as a debug container by that name is already running (and then when I had just run it the second time - it would also complain and tell me to add --attach to reattach to default named container 'debug' - or ask to set name specificly to

[2021-05-19 12:28] Sin4wd opened #102134 "Wrong scheduler behaviour when setting high memory_request like 50E"
#### What happened:
A pod with memory request of 50E scheduled on a 8GB node!
- I believe this number caused some overflow or something in `kube-scheduler`. The scheduler passes the pod and this problem spreads afterwards.
- I'm not aware of the severity of issue but I can imagine scenarios that this could cause damage to cluster's workload.(Fortunately in our case bunch of Alerts and Metric infec

[2021-05-19 12:30] Sin4wd commented on #102134
/sig scheduling

[2021-05-19 12:57] gaorong opened #102136 ""scheduler: non-compatible change in default topology spread constraints""
#### What happened:

From v1.19, the scheduler use `PodTopologySpread` plugin to do default spreading, with the following constraints, and the original `SelectorSpread` is disabled by default.

[code]
These default constraints suppose nodes have a `topology.kubernetes.io/zone` label. The algorithm will ignore nodes that don't have all the required topology keys presented when scoring.

https://git

[2021-05-19 13:06] adtac commented on #99605
/assign @sanposhiho

[2021-05-19 13:17] bagnaram commented on #58065
Unfortunately this will not work because kubectl utilizes UDP streaming which is not subject to SOCKS5 proxying

[2021-05-19 13:32] sanposhiho commented on #99605
/assign

[2021-05-19 13:49] gaorong commented on #102136
A potential fix would like  [this](https://github.com/gaorong/kubernetes/commit/0d50540312832a822d03141f699e1982f7ee4065): In the default constraints case, we do not ignore nodes in prescore phase, so nodes with no topology-labels will be grouped to an empty-value topology and count pod per topology normally. At the later score phase, those empty-value topology's scores will not be added to the fi

[2021-05-19 14:08] aaronbbrown commented on #99162
Thanks, @uablrek !

[2021-05-19 14:19] Hamza-Lachi opened #102139 "Can't Get The Logs i/o timeout"
Hi, i have created my deployments and when i try to look at logs of any pod i'm getting this issue

`Error from server: Get "https://192.168.1.109:10250/containerLogs/default/crm-dev-fe-55b9cd7c86-zlzkd/crm-dev-fe?follow=true": dial tcp 192.168.1.109:10250: i/o timeout`

when i run `kubectl get pods -o wide` i can see my pods

[code]

but when i run this command `kubectl logs -f crm-dev-rapi-894c8

[2021-05-19 14:27] shanguanggouyan opened #102140 "Failed while requesting a signed certificate from the master:"
#### What happened:
After I inputed:sudo kubeadm init

it happened:
It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get "http://localhost:10248/healthz": dial tcp 127.0.0.1:10248: connect: connection refused.

The log:
base) ubuntu@master:~$ systemctl status kubelet
● kubelet.service - kubelet:

[2021-05-19 14:27] Hamza-Lachi opened #102141 "Can't see the logs of pod"
#### What happened:

whenever i check logs of any pod from my master server `kubectl logs -f crm-dev-rapi-894c8fb99-9fdks`  i get this issue.

`Error from server: Get "https://192.168.1.109:10250/containerLogs/default/crm-dev-rapi-894c8fb99-9fdks/crm-dev-rapi?follow=true": dial tcp 192.168.1.109:10250: i/o timeout`

#### What you expected to happen:

it should show me the logs of my pod

#### kube

[2021-05-19 14:28] shanguanggouyan opened #102142 "Failed while requesting a signed certificate from the master:"
#### What happened:
After I inputed:sudo kubeadm init

it happened:
It seems like the kubelet isn't running or healthy.
[kubelet-check] The HTTP call equal to 'curl -sSL http://localhost:10248/healthz' failed with error: Get "http://localhost:10248/healthz": dial tcp 127.0.0.1:10248: connect: connection refused.

The log:
base) ubuntu@master:~$ systemctl status kubelet
● kubelet.service - kubelet:

[2021-05-19 14:29] shanguanggouyan commented on #102142
Kubernetes version (use kubectl version):V1.21.0
Cloud provider or hardware configuration:
OS (e.g: cat /etc/os-release):Ubuntu
Kernel (e.g. uname -a):
Install tools:

[2021-05-19 14:37] rbq commented on #94280
I think `kubectl proxy` (and derived projects) should at least fail with an error if connecting to an endpoint with a path is not possible.

Stripping away the path prefix when using Rancher seems to connect to the management cluster instead. Operator Framework uses `kubectl proxy` code to connect your locally developed Operator to the configured context—or so the devs thought. For me as an end us

[2021-05-19 15:10] creydr commented on #99828
@mowangdk I worked in #102074 on this as well, but kept your changed files untouched (as written in my PR description). @GreenApple10: same for you.
I hope this is OK for you.

[2021-05-19 16:05] liggitt commented on #100895
unless we think we have status writers setting weird non-normalized values for IPs, probably so

[2021-05-19 16:07] terinjokes commented on #58065
The implementation from #84205 has worked well for us, we've patched kubectl internally with it.

[2021-05-19 16:09] logicalhan commented on #102056
/triage accepted
/cc @brancz @logicalhan @ehashman

[2021-05-19 16:12] logicalhan commented on #102051
/triage accepted

[2021-05-19 16:13] logicalhan commented on #102051
/remove-sig cli

[2021-05-19 16:18] logicalhan commented on #101851
/triage accepted

[2021-05-19 16:18] logicalhan commented on #101851
/assign @ehashman

[2021-05-19 16:19] logicalhan commented on #101745
/kind support
/triage accepted

[2021-05-19 16:20] roycaihw commented on #102013
Thanks for the detailed report! Your steps look correct.

I was thinking of https://github.com/kubernetes/kubernetes/issues/54712, but in your case the API server was already trying to contact the webhook backend, so likely that's unrelated.

I'm leaning towards that the pod falsely reported being ready when it still couldn't handle the connection. It would be great if you could have a separate cl

[2021-05-19 16:20] ahg-g commented on #98746
Here is the plan:

1. [] Add Score extension point for Fit plugin. This needs to be added to both v1beta1 and v1beta2.
1. [] Add validation in v1beta1 such that Fit Score plugin is not used with LeastAllocated, MostAllocated or RequestedToCapacityRatio.
1. [] Deprecate leastAllocated, mostAllocated or requestedToCapacityRatio in v1beta2
1. [] One of the following two:
 - Make algorithmProvider.Reg

[2021-05-19 16:21] logicalhan commented on #101425
/triage accepted
/assign @serathius
/sig cloud-provider

[2021-05-19 16:35] eddiezane commented on #98368
/priority backlog

[2021-05-19 16:37] chrishenzie commented on #96177
/remove-lifecycle stale

[2021-05-19 16:38] Huang-Wei commented on #99182
/remove-lifecycle stale

[2021-05-19 16:59] liggitt opened #102145 "Track unwanted dependencies, add ratcheting presubmit"
#### What would you like to be added:

Add a file to track dependencies we want to remove or avoid picking back up. Examples:
* github.com/go-kit/kit
* k8s.io/klog (as opposed to k8s.io/klog/v2)
* github.com/go-openapi/{analysis,spec,strfmt,validate}
* http://github.com/influxdata/influxdb1-client
* go.mongodb.org/mongo-driver
* github.com/hashicorp/hcl
* github.com/hashicorp/golang-lru
* github.c

[2021-05-19 17:00] chenrui333 opened #102146 "kubernetes-cli 1.21.1 does not build on apple arm"
#### What happened:

kubernetes-cli 1.21.1 does not build on apple arm

#### What you expected to happen:

Build should be green like the previous release.

#### How to reproduce it (as minimally and precisely as possible):

See Homebrew/homebrew-core#77160

#### Anything else we need to know?:

#### Environment:
- Kubernetes version (use `kubectl version`): 1.21.1
- Cloud provider or hardware con

[2021-05-19 17:03] TiloGit commented on #89898
seems IBM reached the same conclusion:
https://delivery04.dhe.ibm.com/sar/CMA/OSA/08xbj/1/odlm-dns-patch-37137-20200508-readme.html
https://www.ibm.com/docs/en/cpfs?topic=issues-pods-restart-frequently

They offer a job to do the update of Pods for `single-request-reopen` on OCP, might work on K8s as well.
`oc run dns-patch-job --image quay.io/opencloudio/dns-patch:1.0.0 --restart=Never`
see above

[2021-05-19 17:03] cherrymui commented on #101657
No. In general comparing `Value.Interface()` is the right thing to do. But if the Value is actually a `func`, which is not comparable, comparing `Interface()` will panic.

[2021-05-19 17:24] cynepco3hahue opened #102148 "The whole node-kubelet-serial job is failing because of global timeout"
#### Which jobs are failing:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

#### Which test(s) are failing:

Impossible to say, the lane is failing because of the global timeout and does not have any attached artifacts.

#### Since when has it been failing:
At least for two weeks

#### Testgrid link:
https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial

#### Reason for failu

[2021-05-19 17:24] fromanirh commented on #102148
/cc

[2021-05-19 17:32] hexfusion commented on #102078
I can't make the call today if the presentation takes place could someone record it, please. Otherwise, I will try hard to make the next call.

[2021-05-19 17:35] liggitt commented on #102145
/sig architecture
/triage accepted
/help

[2021-05-19 17:40] liggitt commented on #102120
mutating webhooks do not give control over DeleteOptions

[2021-05-19 17:40] #102120 closed

[2021-05-19 17:49] Fabian-K commented on #102013
Thank you for looking into this! As far as I understood, tekton-pipelines is using https://github.com/knative/pkg for the implementation. With this, the pod is not only responsible for serving the actual requests but also generating the certificate for the webhook and updating the webhook config once done (?!). In addition, it does not seem to take that into account for the readiness handler. (det

[2021-05-19 18:01] smarterclayton opened #102149 "Short running pods take very long to teardown"
In master we continue to see instances of short running pods failing to terminate quickly, due to races between sources of truth.

https://github.com/kubernetes/kubernetes/pull/102025#issuecomment-843622820 stops e2e tests from "cheating" and bypassing kubelet shutdown, and as a result some tests fail predictably (garbage collection lots of short running pods for testing various behaviors).  The l

[2021-05-19 18:01] smarterclayton commented on #102149
/sig node

[2021-05-19 18:09] MadhavJivrajani commented on #84353
Hey @verb! Quick update, I think I'm a little comfortable with the related topics and what needs to be done. I will start working on sending a PR to update the KEP. Will keep you posted, thanks! 😄

Also, quick question: is `StartEphemeralContainer` as mentioned in the KEP, implemented yet? Because I was unable to find a reference to it, the only way I could find that emphemeral containers are star

[2021-05-19 18:17] ahg-g commented on #102136
There are two options:
1) Add `topology.kubernetes.io/zone` label to the nodes. This is reasonable since this label (along with topology.kubernetes.io/region) is now standard: https://github.com/kubernetes/enhancements/tree/master/keps/sig-architecture/1659-standard-topology-labels

2) Update the default pod spreading constraints in the scheduler CC to only use the hostname constraint.

@alculquic

[2021-05-19 18:19] ahg-g commented on #101803
/help

[2021-05-19 18:19] ahg-g commented on #101803
/triage accepted

[2021-05-19 18:21] alculquicondor commented on #98860
Have you tried 1.19?
The spreading scoring in 1.18 had serious limitations that were fixed in 1.19. Unfortunately, the fix didn't qualify for backporting.

[2021-05-19 18:23] alculquicondor commented on #102136
My suggestion was to special case the system defaulting to still provide some spreading if the zone label doesn't exist https://github.com/kubernetes/kubernetes/issues/98480#issuecomment-768365650

Feel free to implement that suggestion. This should apply for backporting.

[2021-05-19 18:23] alculquicondor commented on #102136
/triage accepted

[2021-05-19 18:24] alculquicondor commented on #102136
cc @Huang-Wei who was in the previous thread.

[2021-05-19 18:24] alculquicondor commented on #98480
/close
in favor of #102136

[2021-05-19 18:24] #98480 closed

[2021-05-19 18:24] ahg-g opened #102151 "Deprecate AlgorithmProvider flag and algorithmProvider scheduler pkg"
#### What would you like to be added:

1. Remove [AlgorithmProvider](https://github.com/kubernetes/kubernetes/blob/8c0d06aad87047235beafd14546ff8418499b17e/cmd/kube-scheduler/app/options/deprecated.go#L50) flag. This flag was marked as deprecated since v1.17, we can remove it now.
2. Remove the [algorithmprovider](https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/algorithmprovider

[2021-05-19 18:25] alculquicondor commented on #102136
Btw, in the meantime, you can disable the feature gate `DefaultPodTopologySpread`

[2021-05-19 18:41] swatisehgal commented on #102073
/priority backlog
/triage accepted

[2021-05-19 18:41] swatisehgal commented on #102073
/cc @cynepco3hahue

[2021-05-19 18:51] BenTheElder commented on #102146
this isn't specific to arm. you need gnu coreutils to run the build scripts, it's failing because it's trying to use gnu date options. a lot of the scripts use gnu options. in this case it's related to reproducible builds and setting SOURCE_DATE_EPOCH. IIRC homebrew could also set SOURCE_DATE_EPOCH to avoid this.

[2021-05-19 18:52] BenTheElder commented on #102146
xref: https://github.com/kubernetes/kubernetes/pull/100044

[2021-05-19 18:53] ahg-g commented on #98746
I created https://github.com/kubernetes/kubernetes/issues/102151 to remove algorithmProvider pkg.

[2021-05-19 19:11] swatisehgal commented on #101945
/cc

[2021-05-19 19:27] Huang-Wei opened #102154 "sched: revisit preference algorithm of extended resources in heterogeneous env"
In https://github.com/kubernetes/kubernetes/pull/101946#discussion_r634645359, we found that if extended resources are specified in scheduler plugin args, it's actually not properly scored on a heterogeneous cluster - i.e., machines may have or not have that extended resource. This problem exists in plugins `LeastAllocated`, `MostAllocated` and `RequestedToCapacityRatio`, and will also impact `Bal

[2021-05-19 19:28] Huang-Wei commented on #102154
/cc @alculquicondor @chendave

[2021-05-19 19:28] Huang-Wei commented on #102154
/triage accepted

[2021-05-19 19:30] alculquicondor commented on #101894
/priority critical-urgent

[2021-05-19 19:33] alculquicondor commented on #102154
So to clarify: the desired final score for node3 should be `(50+50)/2`, rather than `(50+50+0)/3`.

[2021-05-19 19:36] Huang-Wei commented on #102154
Yes, it shouldn't be `(50+50+0)/3`. Probably we will change to `(50+50)/2`, or `(50+50+100)/3`. We can discuss the implementation details later.

[2021-05-19 19:44] aojea commented on #96177
are we going to try to go to ginkgo v2?

[2021-05-19 19:59] SerialVelocity commented on #101378
Same here. It might be related to the upgrade from rook 1.5.x to 1.6.2, but not sure. Could it be something they added to deal with K8s 1.21 but it causes issues for 1.20?

Kubernetes should handle this gracefully no matter what though

[2021-05-19 20:29] Huang-Wei commented on #102136
@alculquicondor 's suggestion looks good, but where should can we achieve that? Not during init time as `defaultConstraints` is instantiated without knowing the underlying node labels:

https://github.com/kubernetes/kubernetes/blob/bc637a7a07cf917140daa3bd434eac9bbd8fe92c/pkg/scheduler/framework/plugins/podtopologyspread/plugin.go#L97-L99

If in runtime, that implies we have to do it in every scor

[2021-05-19 20:30] Huang-Wei commented on #102136
This may work except for the unnecessary calculation on the "artificial" empty-value topology.

[2021-05-19 20:35] alculquicondor commented on #102136
Yes, it should be in runtime. We already iterate over all the nodes in `PreScore`, so I don't see why it wouldn't work.

Something like that, but it should be done just for the `System` defaulting mode. If the cluster administrator set another default, we assume they know what they are doing.

[2021-05-19 20:44] serathius commented on #72775
/reopen

[2021-05-19 21:15] ahg-g commented on #102136
This isn't pretty, but I guess we have to do it because it was a breaking change.

[2021-05-19 21:26] mitchellhuang commented on #102097
Yep, we observed this after experiencing the #101737 bug. We ended up manually creating a cleanup script to check EC2 <-> K8s VA if it was actually attached or not, otherwise delete VA. My understanding is with #101737 fixed we will no longer have this issue, but it would be nice to have the garbage collection logic work for volumes regardless +1

[2021-05-19 21:32] roycaihw commented on #100802
Sorry for the late reply.

https://github.com/kubernetes/kubernetes/issues/100802#issuecomment-843622746 @olix0r That's interesting. I agree with you it seems impossible for `Names` to be nil. I wonder if there is a bug in [autoConvert_core_ContainerImage_To_v1_ContainerImage](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/v1/zz_generated.conversion.go#L2938-L2942) that convert

[2021-05-19 22:06] vivekpatani commented on #102078
@hexfusion we weren't able to discuss this in detail due to lack of time, will continue discussion in the upcoming biweekly, you don't miss a whole lot (regarding this issue).

[2021-05-19 22:09] roycaihw commented on #100802
I can reproduce it by changing [the code](https://github.com/kubernetes/kubernetes/blob/43c39ea7dabf1264c771e307b0769586465cabaa/pkg/kubelet/nodestatus/setters.go#L467-L468) to `names := []string{}`. Either I missed something basic or there is a bug in the conversion & serialization pipeline.

[2021-05-19 22:25] #101758 closed

[2021-05-19 23:20] roycaihw commented on #100802
I think I understand what happened:

If an image has neither `RepoDigests` nor `RepoTags`, kubelet sets `ContainerImage.Names` to `[]`. However, when the `v1.Node` object gets persisted to etcd in protobuf, the data is stored as `null`-- protobuff doesn't distinguish `null` and `[]`: https://github.com/kubernetes/kubernetes/pull/45294. Although we ask JSON API clients to tolerate `null` values for

[2021-05-19 23:29] Huang-Wei commented on #98860
@alculquicondor from the original yaml's description, this problem is about Filter, not Score.

[2021-05-19 23:33] Riaankl commented on #100547
/open

[2021-05-19 23:34] Riaankl commented on #100547
/reopen

[2021-05-19 23:37] Riaankl commented on #100546
/reopen

[2021-05-19 23:45] olix0r commented on #100802
I'm not familiar enough with the internals of etc protobuf serialization to know whether this feasible in this context, but in other applications I've used wrapper messages to avoid this ambiguity. For example:

[code]

This lets the value-ness of the names field be encoded distinctly from the list itself.

[2021-05-19 23:53] olix0r commented on #100802
Another instance of this issue discussed here https://github.com/kubernetes/kubernetes/issues/93606

[2021-05-19 23:53] roycaihw commented on #100802
Kubernetes python client fix is tracked in https://github.com/kubernetes-client/python/issues/895#issuecomment-844567240.

https://github.com/kubernetes/kubernetes/issues/100802#issuecomment-844561253 contains some API change suggestions for SIG node to consider, which could benefit JSON API clients:

/unassign
/remove-sig api-machinery
/remove-triage accepted

let's see if someone from SIG node c

[2021-05-20 00:01] roycaihw commented on #100802
https://github.com/kubernetes/kubernetes/issues/100802#issuecomment-844571579 thanks! But isn't that a breaking change if an old client talks to a new server?

https://github.com/kubernetes/kubernetes/issues/100802#issuecomment-844574338 ah awesome! Probably we should just send a PR to SIG node to mark the field as optional

/help

[2021-05-20 00:03] roycaihw commented on #100802
/assign

actually let me open one real quick

[2021-05-20 00:11] olix0r commented on #100802
As I said, I'm not really clear on where etcd protobuf clients are implemented or how public that API is. Generally, though, it could be done gracefully via a deprecation cycle.

* A new field is introduced and the prior field is considered deprecated;
* Writers write *both* the deprecated field and the new type field;
* The API server continues to read the deprecated field for one major version.

[2021-05-20 00:20] roycaihw commented on #100802
that makes sense. Our proto definitions and clients are generated from the types.go files, so supporting the deprecation logic in the clients does sound like more work

[2021-05-20 00:23] #95309 closed

[2021-05-20 01:23] apratina opened #102160 "The resourceVersion for the provided list is too old"
We get the following error msg at the time of executing `kubect get pod` command.

Error:

[code]

Here are the details of k8s version:

- Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.4", GitCommit:"e87da0bd6e03ec3fea7933c4b5263d151aafd07c", GitTreeState:"clean", BuildDate:"2021-02-18T16:12:00Z", GoVersion:"go1.15.8", Compiler:"gc", Platform:"darwin/amd64"}
- Server Versio

[2021-05-20 01:24] neolit123 commented on #102142
please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

this is not a relevant error. it's likely the kubelet is failing due to other reasons in the logs.

/close
/kind support

[2021-05-20 01:24] #102142 closed

[2021-05-20 01:37] KeithTt commented on #70082
@NorseGaud Not SSD...

But I do not think it is the reason, this cluster was created half a year ago, and run healthily.

[2021-05-20 01:45] wzshiming commented on #102148
It seems to be the impact after this PR https://github.com/kubernetes/test-infra/pull/21828

/cc @odinuge

[2021-05-20 01:51] wenlxie commented on #102130
I checked more of this issue.

There are symbol links under : /var/mnt/kubelet/plugins/kubernetes.io/rbd/volumeDevices/
![image](https://user-images.githubusercontent.com/7530735/118906090-a06d3a80-b94f-11eb-8793-9108e2d206c0.png)

But actually it doesn't points to the right device:
![image](https://user-images.githubusercontent.com/7530735/118906127-baa71880-b94f-11eb-9f01-6b0fa48e78bc.png)

We c

[2021-05-20 02:47] #102116 closed

[2021-05-20 03:12] chendave commented on #102132
forgot to cc you @Huang-Wei @alculquicondor

close this one as it is duplicated with https://github.com/kubernetes/kubernetes/issues/102154

[2021-05-20 03:12] #102132 closed

[2021-05-20 03:15] XuanYang-cn commented on #26093
/joke

[2021-05-20 03:37] pacoxu commented on #102160
Would you run `kubectl get pod --v=4` or --v=6 to get more info about the request to apiserver?

/kind support
/remove-kind bug
According to current descriptions, we cannot figure out whether this is a bug.
/priority awaiting-more-evidence

[2021-05-20 03:48] Haleygo commented on #102151
/assign

[2021-05-20 04:01] pacoxu commented on #102134
/assign
I will try to reproduce it today.

[2021-05-20 05:04] pacoxu commented on #102134
`Ei` works.

https://github.com/kubernetes/kubernetes/blob/ea0764452222146c47ec826977f49d7001b0ea8c/pkg/apis/core/resource.go#L27-L35

[code]

You can check https://github.com/kubernetes/kubernetes/issues/49442#issuecomment-320879475 as well.

[2021-05-20 05:08] scardena commented on #32051
using jsonpath can help too, if you want to check for more than 1:
[code]

[2021-05-20 05:37] pacoxu commented on #102140
More kubelet.log is needed to figure out the problem. (`kubeadm init` logs will help as well)

[2021-05-20 05:41] pacoxu commented on #102141
#102139 is dupped. You may close one.

[2021-05-20 05:49] g3rzi commented on #101695
Any update on this issue?

[2021-05-20 06:13] apratina commented on #102160
Let me try to gather some more detail. In the mean time could you share some more details on what does this msg mean and why we should see this?

[2021-05-20 06:32] akhilerm commented on #85624
/remove-lifecycle stale.

[2021-05-20 06:32] odinuge commented on #102148
It has been failing for months, if not years... :/

It did consistently do this before kubernetes/test-infra#21828 as well, but we no longer see any OOMs now tho. So it might be possible that the tests run fine, and that we only need to increase the timeout to get it properly working. Would be awesome if someone could take a look at it.

[2021-05-20 06:36] chendave opened #102166 "Move volume as a default resource for node resource plugins."
#### What happened:
See the discussion here,
https://github.com/kubernetes/kubernetes/pull/101946#discussion_r631829448

We can move volume as a default resource, and refactor the function like  `balancedResourceScorer` and `resourceAllocationScorer.score` to make the code more concise.

#### What you expected to happen:

#### How to reproduce it (as minimally and precisely as possible):

#### Any

[2021-05-20 06:36] chendave commented on #102166
/kind feature

[2021-05-20 06:38] chendave commented on #102166
/remove-kind bug

cc @alculquicondor @Huang-Wei

[2021-05-20 06:39] chendave commented on #102166
/assign

[2021-05-20 06:42] gjkim42 commented on #61937
cc @ehashman @bobbypage @dims

Does sig-node aware of this issue?
I think every cluster hosted by CentOS 7 has had this issue.

[2021-05-20 06:44] odinuge commented on #102148
/cc @harche

[2021-05-20 07:37] navist2020 commented on #102095
It seems kubernetes cluster is not reset normally.
Maybe you can try to execute the following commands:
[code]
My cluster uses centos instead of ubuntu. Some commands and file path should be replaced.

[2021-05-20 08:01] odinuge commented on #102148
If selecting `show stale tests`, you see that the test run sometimes, even though it looks like it times out every time.

https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-serial&show-stale-tests=

[2021-05-20 08:02] pacoxu commented on #102145
I may help with it.
/assign

[2021-05-20 08:05] leonK-BO commented on #58065
How did you patch kubectl internally with that? Could you provide a short how to?

[2021-05-20 08:10] chendave commented on #102154
+1 to `(50+50+100)/3` so that node3 will be preferred compared with node2

[2021-05-20 08:38] cynepco3hahue commented on #102073
Please also refer to @smarterclayton comment - https://github.com/kubernetes/kubernetes/pull/95479#discussion_r525215186

[2021-05-20 08:39] odinuge commented on #102148
Hmm, yeah, it looks like the apiserver dies because of too many open files, and the e2e suite doesn't restart it...

[2021-05-20 08:40] odinuge commented on #102148
/triage accepted
/priority important-soon

[2021-05-20 08:43] fromanirh commented on #102148
@odinuge great catch! :) Now I wonder (and I'll check reviewing the tests) that is intentional for the test to kill the apiserver. I wonder how it is supposed to work in the ad-hoc environment the `e2e_node` tests run into.

[2021-05-20 08:56] odinuge commented on #102148
I know a lot of tests are intentionally killing and restarting kubelet, but I don't think that killing the apiserver is wanted. From the tooling where it is started, it looks like there is no tooling around restarting it;

https://github.com/kubernetes/kubernetes/blob/925900317e43e58435082f624f5969e3cfe25c67/test/e2e_node/services/apiserver.go#L58-L117

[2021-05-20 08:57] TinyWhite1997 commented on #101887
yes

[2021-05-20 09:01] cynepco3hahue commented on #102073
@neolit123 I updated the documentation - https://github.com/kubernetes/website/pull/28056

[2021-05-20 09:02] fromanirh commented on #102148
Yep, this is what I was thinking. Restarting/killing kubelet is fine, and supported, we do it in quite some places (at very least cpu, topology manager e2e tests, also memory manager tests if memory serves). It's killing apiserver and/or etcd, and in general everything-but-kubelet which looks suspicious **in the context of the e2e_node tests**.

Maybe these tests are just misplaced? should they be

[2021-05-20 09:09] odinuge commented on #102148
Yeah. I think a simple "restart" apiserver if it dies would work. It would however mask potential performance issues, so I think the best option long term is to look at why the apiserver dies; and try to fix that.

I think that isn't possible, since the tests in `node-kubelet-serial` need to be serially executed, and they require full access over kubelet and its lifecycle, together with modifying

[2021-05-20 09:21] fromanirh commented on #102148
This surely fixes the current issue, and we could do that. But I wonder if it is the right thing to do in the e2e_node flow. I mean: should we handle these restarts in the special purpose reduced environment? are these tests already abusing this environment?
I'll start doing some archeology in git history as soon as I have more time to spend on this issue.

Good point. I agree.

[2021-05-20 09:28] odinuge commented on #102148
I'll start doing some archeology in git history as soon as I have more time to spend on this issue.

Agree!

I guess we can do something like this: https://github.com/kubernetes/kubernetes/pull/102169 and see if it mitigates the issue. In case it is actually running with `1024`, that isn't a realistic production environment anyways. What do you think about that?

[2021-05-20 09:31] fromanirh commented on #102148
This looks like a fine change and we should most likely fix the open files issue anyway. So thanks for sending the PR!

[2021-05-20 09:33] odinuge commented on #102148
I also found an instance of `E0510 14:49:01.733215    3236 dynamic_serving_content.go:164] key failed with : open /var/run/kubernetes/apiserver.crt: too many open files`, and that doesn't look that good :sweat_smile:

Would be nice if anyone could take a look at increasing the timeout in test-infra as well, and see if that makes any difference.

[2021-05-20 09:37] mengjiao-liu commented on #101927
/cc liggitt

[2021-05-20 09:39] aojea commented on #101887
awesome, thanks
/close

[2021-05-20 09:39] #101887 closed

[2021-05-20 10:18] carlosjpr-collab opened #102170 "Failed to try resolving symlinks when i do kubectl logs"
I am tring to get log from a cronjob pod using this command
` kubectl logs pod_name
`
 But i am seeing this error:
`
 failed to try resolving symlinks in path "/var/log/pods/default_kubernetes-1621505400-jwt8r_09be41c0-af2f-4e74-b2a6-fdb44525be14/kubernetes-api/0.log": lstat /var/log/pods/default_kubernetes-api-1621505400-jwt8r_09be41c0-af2f-4e74-b2a6-fdb44525be14/kubernetes-api/0.log: no such fil

[2021-05-20 10:30] ialidzhikov commented on #87336
/remove-lifecycle stale

[2021-05-20 11:35] jayunit100 commented on #101870
thanks @pacoxu !

[2021-05-20 11:35] #101870 closed

[2021-05-20 12:22] odinuge commented on #101989
Have anyone verified and gathered data on weather #102147 / #101888 do fix this performance regression, and how much the change is? It is probably not critical for merging it into master, but it would make sense to back a backport with some data about the performance increase/decrease seen with the fix. @kolyshkin or @SergeyKanzhelev?

[2021-05-20 12:24] Karthik-K-N commented on #100127
Following are the steps followed and suspected causes for UT failures
* Test will pass when tried with go test
* Test will pass when tried with make test WHAT=./cmd/genkubedocs  
* The test will fail when race detector flag is introduced(go test -race )
* When try to build the genkubedoc binary , Build was successful but the run will panic with 2 different panics on alternative runs
* Tried to bui

[2021-05-20 12:38] jtyr commented on #58065
@leonK-BO You can try this:

[code]

This is using a [patch](https://github.com/jtyr/kubernetes/commit/43deaf0ba43ee5d257418fd95e9a93c5d4afa0c5) that I have extracted from the #84205.

[2021-05-20 12:40] liggitt commented on #102145
yeah, that was added sort of ad-hoc, and doesn't do the ratcheting bit we want (record a dependency we have but don't want, once we no longer use it, require moving it to the forbidden list)

[2021-05-20 12:54] leonK-BO commented on #58065
Thanks for the short guide. I tried it and I think it worked (how can I verify that?). But I still get an error:

`kubectl exec -i -t -n lens-metrics prometheus-0 -c prometheus "--" sh -c "clear; (bash || ash || sh)"
Error from server (BadRequest): Upgrade request required`

Any idea what this can be?

[2021-05-20 13:37] yashwanthkalva commented on #101784
Hi @RolandMa1986,

Are you suggesting to use the "last-applied-configuration" annotation in our charts/manifest always ?
We never used this annotation in our charts. Please let us know what is the value we need to provide for this annotation.
Does it mean use has to always provide last update configuration annotation.

Above all this issue is intermittent but did happen multiple times to use. Is i

[2021-05-20 13:50] dprotaso commented on #99867
Unsure - I'm not familiar with `kubectl` source

[2021-05-20 14:32] RolandMa1986 commented on #101784
The "last-applied-configuration" annotation is generated by the `kubectl apply ` command automaticlly. This [doc](https://kubernetes.io/docs/tasks/manage-kubernetes-objects/declarative-config/) explains more details.

You have to check whether the annotation was lost when the error happening.

[2021-05-20 14:49] sladyn98 commented on #99270
I guess for this issue as specified @serathius we would need to first discuss which flags would we like to support, are there any factors to consider while having this discussion ?
1) --add-dir-header
2) --alsologtostderr
3) --log-backtrace-at
4) --log-dir
4) --log-file
5) --log-file-max-size
6) --logtostderr
7) --one-output
8 --skip-headers
9 --skip-log-headers
10 --stderrthreshold
11 --vmodule
1

[2021-05-20 14:56] sladyn98 commented on #100748
@serathius I was thinking that we could get started with maybe writing similar to https://github.com/kubernetes/test-infra/pull/21332 one for the remaining components and then maybe find a way of checking the logs generated as we have bigger discussions
a) kube-apiserver --> Completed
b) etcd --- > TODO
c) kube-scheduler ---> TODO
d) kube-controller-manager --> TODO

[2021-05-20 15:03] ahg-g opened #102179 "Optimize calculating the DefaultSelector in the scheduler"
For default pod spreading, for each pod we compute a selector that defines the set of pods that the incoming pod should be spread against. This is done by listing all Services, ReplicaSets, Deployments in the namespace and testing which ones with a selector that matches the pod labels.

This is very expensive at scale (e.g., thousands of replicasets in the same namespace).

To address this issue,

[2021-05-20 15:12] alculquicondor commented on #98860
Ah, missed that.

[2021-05-20 15:14] sftim opened #102180 "Source for Namespace API reference omits details of .status.phase"
#### What happened:
Spotted during triage for https://github.com/kubernetes/website/issues/28062 - @Ivo-Peterka visited https://k8s.io/docs/concepts/overview/working-with-objects/namespaces/
The source of https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/namespace-v1/ suggests that readers look elsewhere for a list of Namespace phases:
https://github.com/kubernetes/kubernetes/b

[2021-05-20 15:15] alculquicondor commented on #102166
Note that I would rather remove the entire logic, as it never graduated to beta and it's been a while. But @ravisantoshgudimetla has to confirm if we can do that.

[2021-05-20 15:19] alculquicondor commented on #102154
why should be preferred? Should it be for both Least and Most?

I'm thinking that the preference should be on the user. In this case, they could set up a node label and do preferred node affinity.

[2021-05-20 15:41] mkimuram commented on #102130
@wenlxie

Thank you for your investigation and reporting the issue.

Yes. That PR changes it to be bind mount, instead of symlink.
Could you check the mappings are correct by the below command?
[code]

Or you can check if the device number of the bind mounted device matches to the actual device, like checking if "252, 16" is the same as the one of the expected rbd*. If there's wrong mapping, this

[2021-05-20 16:03] dprotaso commented on #76951
/lifecycle frozen

I believe @mikebrow is working on this

[2021-05-20 16:24] smarterclayton commented on #102149
https://github.com/kubernetes/kubernetes/issues/88766 is related to this, as is https://github.com/kubernetes/kubernetes/pull/98507

After some discussion, the core race is that only syncPod (and the pod worker) knows whether container starts are in progress, and therefore is the only component that can also safely answer "are all containers for a pod stopped" within the kubelet.  Other components

[2021-05-20 16:38] Huang-Wei commented on #102154
The extended resource can be thought of as "scarce" resources, so favoring node3 over node1/node2 literally means "don't interrupt node1/node2". But the preference algorithm needs to be designed sophisticatedly - here the score on cpu/mem gets a tie, so it's easy to say node3 is favorable, but what if scoring on cpu/mem on node3 is lower? should we still consider node3? or, to what extent it's low

[2021-05-20 16:57] mmiranda96 commented on #102148
/cc

[2021-05-20 17:16] alculquicondor commented on #102179
I'm experiment about how far I can get improving `LabelSelectorAsSelector`.

Otherwise, the matching code is coming from the lister, which is under apimachinery, so the way we are matching might have a reason. Perhaps @liggitt can shed some light?

/sig api-machinery

[2021-05-20 17:17] alculquicondor commented on #102179
I'm referring to this function https://github.com/kubernetes/kubernetes/blob/29e4fdab4d644af51c1fa2623bf0e78f3dd6383b/staging/src/k8s.io/client-go/listers/apps/v1/replicaset_expansion.go

[2021-05-20 17:24] ahg-g commented on #102179
I think using ownerReference is very a reasonable approach, we should do that regardless.

[2021-05-20 17:40] alculquicondor commented on #102154
I think we have consensus that we need to improve the algorithm :)

[2021-05-20 17:44] serathius commented on #100748
sound good.
FYI Etcd is not a kubernetes component as so it's out of scope of this issue.

[2021-05-20 18:14] terinjokes commented on #58065
That looks like a different error related to your environment, without this patch exec requests to a SOCKS5 proxy fail with `EOF`.

Are you setting the `HTTPS_PROXY` environment (or corresponding proxy setting in `~/.kube/config`) to include `socks5://`?

[2021-05-20 18:18] ehashman commented on #61937
CentOS 7 is a much older kernel than what we test CI on in SIG Node/upstream Kubernetes (currently the 5.4.x series). People are welcome to experiment with kernel parameters and share workarounds for their own distributions/deployments but any support will be best effort.

[2021-05-20 18:28] #97402 closed

[2021-05-20 19:50] alculquicondor commented on #102179
I shaved about 10% from the entire scheduling cycle time by managing slices better. More than that, it would require some refactoring to add a parsing option to skip validation. ReplicaSet and StatefulSet correctly validate selectors at creation, so it should be safe to do that. Skipping validation would shave other 50%, according to the profiles we have.

[2021-05-20 20:00] ahg-g commented on #102179
Again, why do we have to do a brute force search if we can simply look it up.

[2021-05-20 20:03] alculquicondor commented on #102179
I'm guessing because of adoption. But I'll let Jordan confirm.

[2021-05-20 20:04] ahg-g commented on #102179
Adoption will lead to ownerReference being updated by the adopting controller.

[2021-05-20 20:14] #100802 closed

[2021-05-20 20:16] fedebongio commented on #102179
/cc @liggitt @jiahuif
also cc @apelisse because of ownerreference
/triage accepted

[2021-05-20 20:17] fedebongio commented on #102019
@tallclair is this something you are planning to prepare a KEP for? Thanks

[2021-05-20 20:17] jwolfe-ns commented on #86914
We have a test case for this also that we haven't been able to implement, so we are interested in this also.

- `docker rm -f` causes the container to just be restarted within the pod
- `--force --grace-period=0` still sends a SIGTERM, it just seems to follow up quickly with a SIGKILL
- `--force --grace-period=1` ignores `--force`, as it requires `--grace-period=0`

[2021-05-20 20:18] fedebongio commented on #101468
/triage accepted

[2021-05-20 20:18] fedebongio commented on #101435
/triage accepted

[2021-05-20 20:23] neolit123 commented on #102146
/sig cli
/kind support

[2021-05-20 20:28] #85334 closed

[2021-05-20 20:36] neolit123 commented on #102160
related: https://github.com/kubernetes/kubectl/issues/965
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/etcd3/errors.go#L35

IIUC, this can happen in a case with a lot of pods and slow etcd response times.

/sig cli api machinery

[2021-05-20 20:36] neolit123 commented on #102160
/sig api-machinery

[2021-05-20 20:36] neolit123 commented on #102170
/sig cli

[2021-05-20 20:37] neolit123 commented on #102141
/close

[2021-05-20 20:37] #102141 closed

[2021-05-20 20:40] #102139 closed

[2021-05-20 20:41] neolit123 commented on #102127
/sig network
/kind feature

[2021-05-20 20:42] neolit123 commented on #101657
/sig scheduling

[2021-05-20 20:44] neolit123 commented on #102140
i already responded to a similar issue from yesterday i think?

10248 is the kubelet healtz port. if it's failing then the kubelet is not healthy. you need to look at the kubelet logs.

this is likely not the cause of the problem.

please use the support forums for cluster setup help:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close
/kind support

[2021-05-20 20:44] #102140 closed

[2021-05-20 20:45] neolit123 commented on #102128
/sig network

[2021-05-20 21:08] liggitt commented on #102179
they aren't affected by https://github.com/kubernetes/kubernetes/issues/99139 ?

Using ownerReference would miss spreading for a selecting service ... is that important?

[2021-05-20 21:15] alculquicondor commented on #102179
Ah, they would. I was assuming the existing validation was complete.

Services are and would be handled separately, still by listing all of them.

Maybe the `GetPodReplicaSets` was meant to only be used by kcm? Then scheduler can just rely on the owner references wrt ReplicaSet and StatefulSet. Just trying to get the history right before we proceed.

[2021-05-20 21:19] alculquicondor commented on #102179
btw, we already skip validation for Services' selectors :)

[2021-05-20 21:26] kolyshkin commented on #61937
I strongly suggest employing a workaround described at https://github.com/kubernetes/kubernetes/issues/61937#issuecomment-721049972

Also, since runc v1.0.0-rc94 runc never sets kernel memory (so upgrading to runc >= v1.0.0-rc94 should solve the problem).

[2021-05-20 21:35] swatisehgal opened #102190 "PodResource API: Inability to account for available CPUs as guaranteed pods can belong to shared pool"
Guaranteed pods with non integral request (request=limit) obtain CPUs from the shared pool and from the Pod resource API there is no way to determine exactly what forms shared pool.

From the client point of view, a podresource (corresponding to a pod running on a node) could belong to a shared pool or be exclusively allocated CPUs which would mean that there is no way of evaluating the remaining

[2021-05-20 21:36] swatisehgal commented on #102190
/sig node

[2021-05-20 21:36] kolyshkin commented on #101989
@odinuge My performance analysis (of runc's libcontainers/cgroups/fs.GetStats) are at https://github.com/opencontainers/runc/pull/2921. I haven't done any testing with Kubernetes and/or cAdvisor, only relying on info gathered in https://bugzilla.redhat.com/show_bug.cgi?id=1953102

[2021-05-20 21:55] swatisehgal opened #102191 "PodResource API: Clarify the behavior of GetAllocatableResources() endpoint"
#### What happened:
Based on the explanation in [2403-pod-resources-allocatable-resources](https://github.com/kubernetes/enhancements/blob/master/keps/sig-node/2403-pod-resources-allocatable-resources/README.md), it appears that getAllocatable() endpoint can be queried periodically to evaluate the available resources on a node which can be misinterpretted as "free/unallocated resources" i.e. resou

[2021-05-20 22:00] swatisehgal commented on #102190
/assign

[2021-05-20 22:00] swatisehgal commented on #102191
/assign

[2021-05-20 22:59] ehashman opened #102194 "[Failing test] pull-kubernetes-e2e-gce-alpha-features failing e2e-up"
### Failure cluster [ea6679417165f10786e6](https://go.k8s.io/triage#ea6679417165f10786e6)

##### Error text:
[code]
#### Recent failures:
[5/20/2021, 5:30:16 AM pr:pull-kubernetes-e2e-gce-alpha-features](https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/101742/pull-kubernetes-e2e-gce-alpha-features/1395356176467628032)
[5/20/2021, 4:06:46 AM pr:pull-kubernetes-e2e-gce-alpha-features](htt

[2021-05-20 23:55] swatisehgal commented on #102191
Website Doc update: https://github.com/kubernetes/kubernetes/issues/102191
KEP update: https://github.com/kubernetes/enhancements/pull/2761

[2021-05-21 00:16] #88197 closed

[2021-05-21 01:07] kyrieSun-wow commented on #102128
NOTE: SCTP multihomed issue

[2021-05-21 01:26] wenlxie commented on #102130
@mkimuram

This is a node that has the issue for /dev/rbd5.

![image](https://user-images.githubusercontent.com/7530735/119068149-294ea980-ba16-11eb-9ae5-9c614beee0e1.png)

![image](https://user-images.githubusercontent.com/7530735/119068170-379cc580-ba16-11eb-85fd-f73295fd0a97.png)

I think current behavior is ok, just need to handle the symbol link created before your PR.
I had a PR to fix this

[2021-05-21 01:58] chendave commented on #102166
kindly ping @ravisantoshgudimetla for any thoughts? https://github.com/kubernetes/kubernetes/pull/101946 is blocking due to this feature, so far we have three choices,
- Define the volume as a default resource just like the cpu and memory,  so that it will be considered if user don't specify any resource explicitly.
- Treat it as an extended resource, this will be something like "gpu" or "hugepage

[2021-05-21 02:38] wangkai1994 commented on #90042
@uablrek ok, thanks

[2021-05-21 02:48] pacoxu commented on #102180
Only found in  https://kubernetes.io/docs/tasks/administer-cluster/namespaces/.

[NamespaceStatus docs](https://kubernetes.io/docs/reference/kubernetes-api/cluster-resources/namespace-v1/#NamespaceStatus) seems to be a better place.

[2021-05-21 02:52] mmbb3721 opened #102198 "kubernetes service SCTP couldn't support SCTP restart"
#### What happened:
1. deploy a kubernetes service with loadBalancerIP which acts as SCTP server
2. client setup sctp association with the k8s service by loadBalancerIP
3. the service app crashed and a new app is created to take over. since the pod stays up, the service inherit the old pod ip and loadBalancerIP
4. the new app recover sctp association info (local addr+port, remote addr+port), and s

[2021-05-21 02:53] mmbb3721 commented on #102198
/sig network

[2021-05-21 05:15] pzheng1025 commented on #100802
Thanks for the fix @roycaihw. I am using [Rust k8s-openapi](https://github.com/Arnavion/k8s-openapi).

[2021-05-21 05:18] olix0r commented on #100802
@pzheng1025 it turns out that `k8s-openapi` already has a fix on master (https://github.com/Arnavion/k8s-openapi/commit/0a9d7e4 -- not yet on crates.io) and I've put up a PR to make it usable from kube-rs (https://github.com/clux/kube-rs/pull/531)

[2021-05-21 05:41] shawel opened #102199 "Kubernetes upgrade from 1.15.12 -> 1.16.15 failed using kops"
Rolling upgrade done using kops 1.18 aborted
Other nodes are still in version 1.15.12 and working
Some master nodes have upgraded to 1.16.15

Node does not get to ready mode!  ??
kubectl describe node ip-172-20-60-239.ec2.internal  has the following status

[code]

[2021-05-21 05:52] uablrek commented on #102128
Kube-proxy mode? ipvs or iptables?
What CNI-plugin? And in case of `Calico`, what backend?

[2021-05-21 06:32] uablrek commented on #102128
Actually I don't think there are any sctp multihoming tests in the K8s CI (right @aojea ?).

So unless some sctp developer steps up to take this issue, can you provide some test application, or point to any test application to use?

A minute of google'ing got me this; https://stackoverflow.com/questions/6342617/sctp-multihoming
Do you think it's sufficient?

[2021-05-21 06:40] harche commented on #102148
@odinuge https://github.com/kubernetes/test-infra/pull/22290. Still work in progress though.

[2021-05-21 07:09] kyrieSun-wow commented on #102128
root@casammek8s:~# curl localhost:10249/proxyMode
iptables

CNI-plugin:
calico    BGP overlay

backend: A private software deployed as deployment, two worker nodes and only one pod per worker node.

####More info
![Uploading k8s_sctp_restart_issue.png…]()

[2021-05-21 07:33] kyrieSun-wow commented on #102128
This is not very similar to the issue I met

[2021-05-21 07:49] BenTheElder commented on #102199
This issue should be filed with kops at https://github.com/kubernetes/kops/issues. We don't provide support for kops here and 1.16 and 1.15 are out of support. The last 1.18.X release was just cut. https://kubernetes.io/releases/

[2021-05-21 07:49] #102199 closed

[2021-05-21 07:52] BenTheElder commented on #102170
/sig node
/remove-sig cli
(symlink resolving errors are from kubelet, not kubectl)

[2021-05-21 07:55] uablrek commented on #102128
@janosi Can you please take a look at this?

[2021-05-21 07:58] aojea commented on #102128
nope, AFAIK we have "hello-world" sctp tests XD

[2021-05-21 08:12] sishbi opened #102203 "CVEs remain in kubectl v1.18.19 + v1.19.11"
#### What happened:

There are a number of CVEs reported against the GoLang version (go1.13.15) that is used by Kubernetes v1.18.19 and I cannot see evidence in the issues list / release notes that the fixes have been applied or whether the GoLang version has been updated (the fixes are in go1.15.9).
I also cannot find any information about whether the fixes have been applied to v1.19.11 either.

[2021-05-21 08:15] sishbi commented on #102203
/sig release
/sig security
/committee product-security

[2021-05-21 08:58] perithompson commented on #98102
I could be wrong I seem to see this alot with more concurrent pod creations, if I keep my requests limited it seems to be less of an issue https://github.com/jayunit100/kubernetes/tree/jay-netpol-win reproduces this issue pretty consistently

[code]

changing number of workers to 1 seems to flow ok but having 3 workers run these executes freezes up pretty quickly
[code]
then I cant even stop the c

[2021-05-21 09:00] perithompson commented on #98102
reading back, it seems to line up that CPU stress is quite a large contributing factor

[2021-05-21 09:31] #97387 closed

[2021-05-21 09:35] mythi commented on #92211
@haircommander @mikebrow @kad I've updated both cri-o and containerd PRs. I hope I captured everything what was discussed:

- add a TODO note about user namespaces (I did also follow-up this topic in k/e #2101)
- for containerd, add a note about using uid/gid on _linux_ and that username is not valid
- we agreed to focus on addressing the non-root runAsUser/runAsGroup lottery and skip changes when

[2021-05-21 09:51] ilourt commented on #101199
For me this is a bug. As long as the element is uniquely defined without the namespace I don't understand why the namespace must be specified.

For example I use a base for defining my structure and I use kustomize to provide several env (staging, dev, prod..). So I want the namespace to be overriden as long as other things. I don't want to specify the resource from the base in every resources I p

[2021-05-21 10:00] #102102 closed

[2021-05-21 10:01] jkaniuk commented on #102006
Looks fixed, thanks!

![image](https://user-images.githubusercontent.com/5487158/119120199-5017da80-ba2c-11eb-95f2-de050e0ba434.png)

[2021-05-21 10:01] jkaniuk commented on #102006
/close

[2021-05-21 10:02] #102006 closed

[2021-05-21 11:07] yuzhiquan commented on #99270
I will have enough time in next week, may we can move on this @serathius

[2021-05-21 11:09] kartikv11 commented on #71647
This worked for me too. Thanks.

[2021-05-21 11:10] sladyn98 commented on #99270
@yuzhiquan Great, I could help you with implementing some of these flags as well. Let me know and we can sync up on this

[2021-05-21 11:37] matthyx commented on #81301
@thockin is it still something that requires a fix in the current API?
/assign

[2021-05-21 11:41] matthyx commented on #96614
/assign

[2021-05-21 11:44] aduncmj opened #102208 "all components of k8s are repeatedly deleted and created"
Hi all,

As shown below, the status of all components of k8s is between pending and running

![image](https://user-images.githubusercontent.com/30764902/119131069-96405e80-ba6b-11eb-8e52-d0c7edf26fff.png)

![image](https://user-images.githubusercontent.com/30764902/119131102-a0faf380-ba6b-11eb-847f-5d6a2b40a196.png)

And logs from `journalctl -f -u kubelet` indicates pods are outdated. Some of det

[2021-05-21 11:57] matthyx commented on #100277
/assign
@Dingshujie I think it is reasonable from the kubelet point of view to not assume the container is ready without having run a probe itself (by that I mean the new instance of the kubelet) and changing this would have too much implications.

If you want to make sure your service is always available, you should consider adding replicas.

[2021-05-21 13:37] damemi commented on #98860
@arcivanov sorry, I haven't had a chance to look into this more since I commented originally.

It is definitely some kind of bug if all the pods ended up on 1 node as you said in https://github.com/kubernetes/kubernetes/issues/98860#issuecomment-843614367. The `DoNotSchedule` filter plugin shouldn't allow this at all, so something is clearly broken if that's the case

[2021-05-21 13:44] timscm opened #102210 "ping6 service-name and ping6 node-ip do not work for dual-stack IPv6 address"
#### What happened:
1. I used `kubeadm init --config kubeadm.yaml` to install k8s cluster.
2. then I run `kubectl apply -f calico_etcd.yaml` to provide k8s cni.
3. then next, I run `kubectl apply -f my.yaml` to create deployment, 2 replicas.
4. then next, I run `kubectl apply -f mysvc.yaml` to create service, configurated ipFamilyPolicy: PreferDualStack
5. now I run `kubectl describe pod my-76dc8c

[2021-05-21 13:56] timscm commented on #102210
/sig network

[2021-05-21 14:14] RupakRath commented on #34046
kubeadm join 10.0.0.46:6443 --token v86r90.a9wqmkf2f1goq76m --discovery-token-ca-cert-hash sha256:7ecc7acf44910f118cf5abc1529537badc2a03863063a2b0a9b82fa059120e77
[preflight] Running pre-flight checks
        [WARNING IsDockerSystemdCheck]: detected "cgroupfs" as the Docker cgroup driver. The recommended driver is "systemd". Please follow the guide at https://kubernetes.io/docs/setup/cri/

stucked

[2021-05-21 15:21] kishorj commented on #84366
/remove-lifecycle rotten

[2021-05-21 15:33] gaffneyd4 commented on #45234
For anyone else who showed up here wondering why `service.beta.kubernetes.io/aws-load-balancer-target-node-labels` wasn't working for you, in my case it was because I'm running a version before v1.19 [when this feature was released](https://github.com/kubernetes/kubernetes/pull/90943). 🤦‍♂️

[2021-05-21 16:49] jzhoucliqr commented on #102194
same as this:  https://github.com/kubernetes/kubernetes/pull/100651#issuecomment-842455589
"Failed to set feature gates from initial flags-based config" err="unrecognized feature gate: DisableCloudProviders"

[2021-05-21 17:02] javajon commented on #79606
@nayarly Raises a good question in that conflation and confliction between _rollout status_ and _wait condition_ causes confusion for learners.

[2021-05-21 17:02] alculquicondor commented on #102194
Broken by kubernetes/test-infra#22035

If #100136 is not ready, why merge that?

cc @cheftako

[2021-05-21 17:04] alculquicondor commented on #102194
Also, it looks like pull-kubernetes-e2e-gce-alpha-features is part of presubmits now?

[2021-05-21 17:30] ahg-g opened #102211 "Move scheduler plugin defaulting to ComponentConfig defaulting logic"
Currently if the user sets a plugin configuration, parsing and defaulting for unset parameters for a plugin config is properly handled during [conversion](https://github.com/kubernetes/kubernetes/blob/fed3a4520d99a2d99fd4ed0f7edf1ac79e7253e7/pkg/scheduler/apis/config/v1beta1/conversion.go#L162).

However, in the case were the user doesn't specify a plugin config at all, then generating a default p

[2021-05-21 17:43] adampl commented on #101674
@elChipardo the OP says it occurs on v1.20.6, so it must be a different issue, or it hasn't been completely fixed.

[2021-05-21 17:45] mattcary commented on #102077
As Michelle predicted, eg from the provisionner.

[code]

Created https://github.com/kubernetes/kubernetes/pull/102212.

[2021-05-21 17:49] adampl commented on #55713
@elChipardo Did you actually read the preceding comment of @victor-sudakov ? He mentions v1.21.0

[2021-05-21 18:11] BenTheElder commented on #102203
Well 1.18.X is now out of support https://kubernetes.io/releases/ and won't see any further releases.

For 1.19.11: https://github.com/kubernetes/kubernetes/blob/master/CHANGELOG/CHANGELOG-1.19.md#changelog-since-v11910

For 1.19.9:

So 1.19.X hasn't been using <= go1.15.9 for some time. This is in the release notes / changelog.

You can use 1.19 kubectl for a 1.18 cluster. https://kubernetes.io/r

[2021-05-21 18:30] kashifest commented on #101607
This option has been tried and it helps when the client do not sent TCP SYN  in this time window. But what we have seen is that some of the clients were very aggressive and thus the configuration has to be even smaller numbers and eventually depends on the client behaviour. So we were looking at an option that will clear the entry when a matching service is added to iptables.

[2021-05-21 18:37] sishbi commented on #102203
Thank you @BenTheElder for your quick response.
Based on your information we will upgrade the kubectl binary to v1.19.x so that we get these fixes.
This issue can now be resolved.

[2021-05-21 18:37] #102203 closed

[2021-05-21 18:42] sanposhiho commented on #99605
Hi team :D
Here is the detailed proposal.

I'd love to hear any advice or point out where I'm wrong.

---

## What user can

This section describes the features covered by this description. These features are the starting point of the simulator and expected to be expanded in the near future. (So I'm not going to talk about affinity etc. here.)

- Users can create/delete pods and nodes.
- Users don

[2021-05-21 18:47] arcivanov commented on #98860
Thing is as you can see in the logs @damemi, with `29 nodes evaluated, 11 nodes were found feasible.` this shouldn't happen even if ScheduleAnyway.

[2021-05-21 18:48] arcivanov commented on #98860
@alquicondor we're about to release with 18 and I can't really switch to 19 in the last moment.

[2021-05-21 18:57] RouR opened #102214 "--all-namespaces does not work with kubectl describe pods"
--all-namespaces does not work with `kubectl describe pods --all-namespaces  some-pod-name`

```error: a resource cannot be retrieved by name across all namespaces```

#### Expected
Flag --all-namespaces is works

#### Known workaround
`kubectl describe pods --namespace=pod-namespace some-pod-name`

Similar issue https://github.com/kubernetes/kubernetes/issues/26303

#### Environment:
v1.20.6

`ku

[2021-05-21 18:59] RouR commented on #102214
/sig cli

[2021-05-21 19:10] alculquicondor commented on #99605
The proposal above sounds like a visualization of the decisions taken by a scheduler (after binding).
This is a great first step!
Have you thought of visualizing more data? In particular, it would be good to visualize which nodes were deemed feasible (passed the filters) and what scores they got, perhaps even per plugin.

[2021-05-21 19:12] alculquicondor commented on #98860
Does this change if you remove the TSC? Are the 29 nodes supposed to be feasible?

[2021-05-21 19:16] destijl opened #102215 "Update lz4 in debian-base:buster-v1.6.0 (latest) to patch CVE-2021-3520"
Need to update debian-base for this vuln: https://security-tracker.debian.org/tracker/CVE-2021-3520.

AIUI the "buster" naming scheme is the most modern and v.1.6.0 is the latest version:

[code]

We're running lz4 1.8.3-1 and need to be on 1.8.3-1+deb10u1

[code]

[2021-05-21 19:16] destijl commented on #102215
/sig release

[2021-05-21 19:25] deads2k commented on #102019
This looks too significant to make progress as an issue.  To pursue this, I think a design will be needed.  @tallclair do you already have a design in mind that you would like to describe at a sig-apimachinery meeting?

[2021-05-21 19:29] pjh commented on #96915
hi @tosi3k, we have https://github.com/kubernetes/test-infra/pull/22292/ created to start using log dumping from test-infra rather than from k/k/cluster/log-dump. I [searched test-infra](https://github.com/kubernetes/test-infra/search?q=USE_TEST_INFRA_LOG_DUMPING) and it looks like the USE_TEST_INFRA_LOG_DUMPING setting is only used in two places so far, which is less than I expected. Is this righ

[2021-05-21 19:58] ehashman commented on #102194
I think it's always been part of presubmits? It's needed in order to test alpha feature e2es in PRs.

[2021-05-21 20:32] #96692 closed

[2021-05-21 21:32] dims commented on #102215
@destijl how exactly is `lz4` triggered? is that problem that a scanner saw it or is it something that can really trip one of the k8s components?

[2021-05-21 23:42] ash2k commented on #99177
/remove-lifecycle stale

[2021-05-22 00:01] theunrealgeek commented on #96717
I should start getting some free time starting June and get PRs towards fixing this issue

[2021-05-22 00:06] destijl commented on #102215
Scanner finding, I doubt this is reachable, but we need to stay green on scans.

[2021-05-22 00:31] ehashman opened #102219 "[kubelet] Log line does not properly print UID"
#### What happened:

Consider the following log line:

[code]

#### What you expected to happen:

I expected the podUID to be printed rather than an address/pointer.

#### How to reproduce it (as minimally and precisely as possible):

Run a static pod on a non-standalone kubelet, watch logs for mirror_client entries.

#### Anything else we need to know?:

Fix is this line:

https://github.com/kube

[2021-05-22 00:43] #98537 closed

[2021-05-22 00:46] dims commented on #102215
@destijl +1 to update periodically for sure :)

[2021-05-22 04:05] TBBle commented on #92963
/remove-lifecycle stale

[2021-05-22 04:39] echarles commented on #71647
Worked for me.

[code]

[2021-05-22 05:28] uablrek commented on #102210
ICMP-echo is not load-balanced by K8s (kube-proxy) so `ping` (or `ping6`) to a service address (clusterIP, nodePort or loadBalancerIP) is not intended to work.

That makes this issue a feature request, not a bug.

/kind feature
/remove kind-bug

[2021-05-22 05:29] uablrek commented on #102210
/remove-kind bug

[2021-05-22 05:33] uablrek commented on #102198
/area sctp
(just trying...)

[2021-05-22 06:14] Sin4wd commented on #102134
Actually I didn't use the "E" myself. I tried 5000... testing adding one zero at a time to reproduce the problem. Kubernetes itself translated my number to this. Thus maybe there is a bug somewhere in the manifest sanitizer code.

[2021-05-22 07:04] mcnesium commented on #56402
/remove-lifecycle stale

[2021-05-22 07:32] vivekskrishna commented on #91728
Hi @nysan , can you please let me know why you closed this issue? any outcome for this feature request?

[2021-05-22 07:52] odinuge commented on #102148
After some digging, I found out that the reason for the lack of stdout and artifacts from this test suite is the way it is killed upon the timout. When the global timeout is exceeded, SIGINT is sent to all the processes. If we ignore the first SIGINT in node-e2e, we can print logs to stdout and fetch artifacts. In case the test is still running 15 minutes later, it will be killed via SIGKILL.

See

[2021-05-22 07:59] fromanirh commented on #102148
this is a good idea, but is seems racy because it seems there is a hidden assumption we have enough time to collect the log and the artifacts. Which is a big step forward anyway! but let me ask: do we have a simple way to, once the process receives SIGINT, start explicitely the process of waiting for childs to end, collect logs + artifacts and then terminate (instead of just ignoring the signal an

[2021-05-22 08:06] odinuge commented on #102148
Thanks for looking @fromanirh!

The executor will wait 15min before sending SIGKILL. That should be ok with time. If that doesn't work, we can increase that later.

Since the runner will send SIGINT to all children processes, the SSH connections, they will be terminated by SIGINT. Printing of logs and collection of artifacts will therefore start imminently after getting the SIGINT. This worked wel

[2021-05-22 08:14] fromanirh commented on #102148
The thing that worries me it seems we only rely on time and to a lot of implicit assumptions in general.

I fully ack we are in deep red zone and we need to fix the lane. I'm totally onboard with the urgency (and the sorry state of the lane in general). I think we should not rush fixes in anyway which could make our life harder in the future.

OTOH it seems that better and more robust handling of

[2021-05-22 08:20] odinuge commented on #102148
Yeah, completely agree! This definitely needs some more love. There are so many layers of things, making it all fuzzy and hard to reason about, and debug... :/

Maybe someone from sig-testing have more insight into what we should do, and how we should do it.

[2021-05-22 08:56] Belly-Buster commented on #101056
Downgrading containerd from 1.4.4 to 1.4.3-1 resolved this issue for me.

[2021-05-22 09:10] zquestz commented on #69314
Thank you! This thread was a lifesaver. When I updated to 1.19 it refused to use my existing static IP! I ha had no issues upgrading for years, so I never thought that would happen. Took down all my sites. =\

Found this thread, added the annotation to the ` ingress-nginx-controller` service and it brought everything back to life.

That options should be more clearly documented!

[2021-05-22 09:44] timscm commented on #102210
No, as mentioned in the description, the ping service-name CAN work. But ping6 to service name does NOT work. And the ICMP-echo is just my testing method to check the network connection, it's not the purpose. Could you please double check this?

[2021-05-22 09:59] uablrek commented on #102210
Ping to let's say a `clusterIP`, which is what the service-name resolves to on the cluster, works _only_ with `proxy-mode=ipvs` and _only_ because the clusterIP is actually locally assigned to the `kube-ipvs0` device.

So what you ping is a local address, not any pods. So you can remove all pods and ping to the clusterIP _will still work_!

Also try `proxy-mode=iptables` and `ping` will not work f

[2021-05-22 10:14] zioproto commented on #69314
Hello @zquestz ,

I would like to better understand what happened to document correctly what went wrong in the upgrade from Kubernetes 1.18 to 1.19.

Your `ingress-nginx-controller` was using a Static IP of `PREMIUM` or `STANDARD` tier ?

If it was `STANDARD` tier how did you configure it ? Did you change the default GCP project tier to `STANDARD` ?

https://cloud.google.com/network-tiers/docs/usi

[2021-05-22 10:20] timscm commented on #102210
According your information, so eventhough the ICMP-echo does not work, the network is still can be connected? I tested this because I want the pod IPv6 address can connect to the other service by service name, but I check this by using ping6, it shows me doesn't work, any another testing method can I use?

And the second question is the pod ipv6 address can not access the node physical address out

[2021-05-22 10:29] zquestz commented on #69314
Be happy to help. Been running Kubernetes on GCE for several years now. Never had a problem before. Will answer inline below.

It was unannotated. However the IP it was using was a static standard IP, since I set the default tier in my environment to standard networking.

Yes. I changed it to standard because I got hit with a horrific bill when my public ipfs node got hit with a lot of Asian traff

[2021-05-22 10:48] uablrek commented on #102210
Yes, with TCP (or UDP or SCTP if you use those)

For TCP you must try to connect. You can disconnect immediately if succesful.

A bit unclear. I guess your pods can't connect to an ipv6 address outside the cluster?

If so, it is a CNI-plugin problem. Not K8s. For `Calico` you must proably specify;
[code]

[2021-05-22 11:00] timscm commented on #102210
But when I try run ping6 service name, the command result show me: unknown host mysvc, may this be the issue of coredns? May coredns do not resolve the dns name to IPv6?

Oh, I see. I will try this configure item later.

[2021-05-22 12:07] asmeikal commented on #89156
This issue is breaking requests from the JavaScript client: `Date` fields are [formatted](https://github.com/kubernetes-client/javascript/blob/master/src/gen/model/models.ts#L1976) to ISO 8601 with millisecond precision, but if the field is a `MicroTime` the request fails due to a parsing error.

[code]

[2021-05-22 12:26] serathius commented on #101851
/help
Will not have time to work on this. Feel free to grab it.

[2021-05-22 13:15] yangjunmyfm192085 commented on #101851
@serathius Can we start this work?

[2021-05-22 13:20] serathius commented on #101851
I have already discussed it on SIG Instrumentation meeting, Would be good to present this issue on SIG Node meeting and get their opinion, before starting coding. Would you be interested in leading the discussion?

[2021-05-22 13:29] yangjunmyfm192085 commented on #101851
ok, Let me prepare it.

[2021-05-22 16:44] yliaog commented on #89156
i agree with the proposal given in comment https://github.com/kubernetes/kubernetes/issues/89156#issuecomment-629884397

[2021-05-22 19:39] #43992 closed

[2021-05-22 23:21] aojea commented on #102210
for resolving dual-stack services you need a newer coredns version that is still not shipped with kubeadm
https://github.com/kubernetes/kubernetes/issues/99751

[2021-05-23 00:29] cnphil opened #102228 "Failing Test `vendor/k8s.io/kube-aggregator/pkg/apiserver TestProxyCertReload` due to hardcoded certificate expiration"
#### Which jobs are failing:
pull-kubernetes-unit

#### Which test(s) are failing:
vendor/k8s.io/kube-aggregator/pkg/apiserver TestProxyCertReload

#### Since when has it been failing:
May 22, 2021

#### Testgrid link:
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/92739/pull-kubernetes-unit/1396247373138628608

#### Reason for failure:
Certificate hardcoded on line 853 in unit test[1

[2021-05-23 00:30] cnphil commented on #102228
/sig api-machinery

[2021-05-23 00:30] vsxen commented on #102160
https://github.com/kubernetes/kubernetes/issues/72187

[2021-05-23 00:33] cnphil commented on #102228
Wow seems liggitt has a PR for this already: https://github.com/kubernetes/kubernetes/pull/102224

[2021-05-23 03:15] #102228 closed

[2021-05-23 03:43] #97364 closed

[2021-05-23 04:55] sechunOH commented on #72811
I think about this for a while with cluster-autoscaler together.

CA may manages increase of cluster nodes with resource requests.
( = new pod will be in pending state if there is no enough resource. k8s maybe determine it with request)

If hpa manages scaling with resource limits, no pod horizontal scaling occurs when all the resources of node are used, because pods cannot use more resource upto

[2021-05-23 06:44] MadhavJivrajani commented on #102219
/assign

[2021-05-23 06:47] fromanirh commented on #102190
/triage accepted

[2021-05-23 06:47] fromanirh commented on #102190
/cc

[2021-05-23 07:40] judab5ericom opened #102230 "startupProbe being ignored after restarting the pod"
/sig architecture
/wg K8s Infra
#### What happened:
Kubernetes bring up Container successfully perform StartupProbe properly,
a few minutes later I make the POD restart by fail the Liveness Prob.
The  container goes down and in the next creation of the POD the startupProbe does not run at all,
the container starts directly with Liveness and Readiness while startupProbe skipped

#### What you expec

[2021-05-23 07:46] judab5ericom commented on #102230
/sig architecture
/wg K8s Infra

[2021-05-23 08:23] sanposhiho opened #102231 "replace klog.Fatal and os.Exit for defer funcs"
Hello, team 👋

#### What happened:

The defer function will not be called if os.Exit(1).
https://play.golang.org/p/f7IjXeb62dd

https://golang.org/pkg/os/#Exit

Now, the entry points of some Kubernetes components use defer functions to flush logs.

For example, kube-scheduler
https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/scheduler.go#L41
[code]

When `command.Execute()` r

[2021-05-23 09:34] sanposhiho commented on #99605
I hadn't thought of that. Thanks
I think it's very interesting! I'll think about it as a future expansion. 👍

[2021-05-23 09:52] odinuge commented on #102051
Hi @dgrisonnet ,

Can you elaborate more on what you mean with this? What else is running inside a container other than the containers and the pod sandbox?

[2021-05-23 10:36] serathius commented on #102051
Even though both tools share a similar name kubectl top was not designed to give a as detailed view as it's linux counterpart. It was a side effect of designing an autoscaling pipeline as so it doesn't care about container runtime overhead nor being supper accurate.

Same as Core Metrics Pipeline, kubectl top was designed for scalable, easy to setup resource autoscaling, leaving problems mentioned

[2021-05-23 10:59] odinuge commented on #102230
/cc @matthyx

[2021-05-23 11:39] yash-saini275 commented on #102179
/assign

[2021-05-23 12:36] gautierdelorme commented on #102214
@RouR `kubectl describe pods --all-namespaces` should work. As for passing the name it seems to be by design: https://github.com/kubernetes/kubernetes/issues/15834#issuecomment-249568245.

[2021-05-23 12:50] RouR commented on #15834
Disagree.
Need easy way to troubleshouting the problem "why pods is stuck in Pending status".
It's tiring for every pod to find who created it and in which namespace. In the logs there is only the name of the pod.
https://github.com/kubernetes/kubernetes/issues/102214

[2021-05-23 13:17] ahg-g commented on #102179
/assign

[2021-05-23 13:29] sanposhiho commented on #101803
Hello, I want to take this one.
/assign

[2021-05-23 17:06] sanposhiho commented on #101803
This issue shows two optimizations, (1)volume count caching and (2)pre-calculating with PreFilter, does this discussion conclude that the former(1) does not need to be done?

I've created a PR for the latter(2) for now. #102235

[2021-05-23 18:43] #42544 closed

[2021-05-23 20:33] ryanlelek commented on #66607
Commenting for support/+1 that self-referencing the cluster from within would be useful

@mkreidenweis-schulmngr 's hair-pin solution (kind of) worked but didn't pick up the correct name of the pod(s) to reroute to and would have worked with further digging.
Setting up a separate cluster solved the issue in the meantime.

Thanks for your work on this

[2021-05-23 21:24] matthyx commented on #102230
/assign
Will take a look on Tuesday... I think this was fixed on master but not sure about cherry picks.
I'll search once back in front of a real computer...

[2021-05-23 21:24] matthyx commented on #102230
/sig node

[2021-05-23 21:43] shashi47 commented on #71647
I faced the same issue with three manager cluster and I was accessing it through ucp client bundle. I figured out 2 out of 3 manager nodes were in not ready state. On debugging further I found space issue on those not ready boxes. After cleaning a little (mainly /var folder) and restart docker, those nodes came to ready state and I'm not getting this error.

[2021-05-23 21:46] serathius opened #102237 "Create integration tests of k8s.io/component-base/logs library"
To test json logging in core Kubernetes components, we are rolling out a set of e2e Kind test https://github.com/kubernetes/kubernetes/issues/100748. Running Kind cluster with json tests the components in exact configuration as it will be deployed on cluster, but it has couple of downsides:
* Hard to test configuration matrix - requires recreating cluster
* There is no portable way to get logs for

[2021-05-23 21:49] serathius commented on #100748
/wg structured-logging

@BenTheElder As getting core components logs is not portable, we could test a container with same logging library and using Kubenetes logs API to access logs. Created https://github.com/kubernetes/kubernetes/issues/102237 to track it

[2021-05-23 22:55] dims commented on #83094
/reopen
/remove-lifecycle rotten