[2020-07-31 20:16] Huang-Wei commented on #93547
True. Indeed I think we're lacking in a tool to quickly identify whether a new plugin can resolve a particular need, while not breaking existing behavior. For example, we may come up with a simulator tool, by giving some workload presets and expected scheduled result, and automatically run the simulator to check if a new plugin can make most of the cases better, or not. Also this should be able to

[2020-07-31 20:19] amdonov opened #93615 "PodSecurityPolicy admission plugin selects and uses policy that service account is not authorized to use."
**What happened**:

I created a restrictive PodSecurityPolicy, restricted, that is available to all service accounts and authorized users. I created a permissive PodSecurityPolicy, privileged, that is only authorized for use by service accounts in specific namespaces. It is not available in the psp-example namespace. I confirmed these settings with the following commands.

[code]

I enabled the Po

[2020-07-31 20:23] damemi commented on #93547
It's going to create work for the users either way, whether it's considering how a new plugin will interact with the others vs considering how to tweak the configuration and understanding that new formula. I think understanding a simple, new plugin is easier than configuring a complex one that performs differently based on inputs by merging separate plugins.

I do agree that it shouldn't be enable

[2020-07-31 20:24] adtac commented on #93547
Is it possible to have the same plugin with different plugin args and different weights enabled? If not, that's another point to consider by fitting all use-cases in one configurable plugin.

[2020-07-31 20:26] liggitt commented on #93604
it actually looks like this test was added during the 1.19 dev cycle and cherry-picked back to 1.18/1.17, which is why release-1.18 is failing :-/

[2020-07-31 20:37] amdonov commented on #93615
/sig/auth

[2020-07-31 20:39] gprakriya opened #93616 "Following instructions to install production environment"
**What happened**: Kubelet would not start, brand new installation. (Following instructions ; Bootstrapping clusters with kubeadm

**What you expected to happen**: Expected kubelet to start

**How to reproduce it (as minimally and precisely as possible)**: Per instructions, i was at the end to start the kublelt

**Anything else we need to know?**: Brand new installation

**Environment**: centos 7.

[2020-07-31 20:40] amdonov commented on #93615
/sig auth

[2020-07-31 20:45] jaredhancock31 commented on #93576
Oh well, worth a shot.

So is there a recommended solution for this scenario then? I've seen a lot of discussions on slack/SO/etc around this, each with their own hacks. None appear particularly compelling, imo. We aren't looking to persist gigs worth of data or anything - just want to be able to handle a few MBs should the config warrant it.

We can close this issue, but if any of you have proven

[2020-07-31 20:47] #93561 closed

[2020-07-31 20:51] #92953 closed

[2020-07-31 21:29] Jiawei0227 commented on #93358
One thing I find also need to be improved is:
We are not waiting for the CSI driver pod actually being deployed to do the work. Instead, we are only checking if the CSIDriver object being created:
https://github.com/kubernetes/kubernetes/blob/0051d65f9f30db724dfb88256f70c23e37f6b257/test/e2e/storage/csi_mock_volume.go#L1427

This seems faulty because the CSIDriver object does not mean the driver p

[2020-07-31 21:35] liggitt commented on #93604
figured it out... the controller sync is updating the DS, which is triggering an update event and adding an extra enqueue which the test did not account for

[2020-07-31 21:36] liggitt commented on #93604
possible test deflake in https://github.com/kubernetes/kubernetes/pull/93605

[2020-07-31 22:24] liggitt commented on #93609
@vareti sounds good, thanks! I added some initial thoughts in the description if you want some ideas. Feel free to reach out in slack in the #sig-apimachinery channel as you go

[2020-07-31 23:15] Maxpain177 commented on #87249
Any news?

[2020-07-31 23:20] Maxpain177 commented on #88939
The same problem

[2020-08-01 01:22] #60665 closed

[2020-08-01 02:13] liggitt commented on #93615
What does the following return?

[code]

[2020-08-01 02:32] cofyc commented on #93009
Even if I check the PV/PVC assume cache and wait for PV/PVC are added into the cache, the PV/PVC objects may not be added in a long time. It seems that the fake client has a bug that registered event handlers may not be called.

[2020-08-01 02:34] amdonov commented on #93615
kubectl --as=system:serviceaccount:kube-system:replicaset-controller -n psp-example auth can-i use podsecuritypolicy/privileged
Warning: resource 'podsecuritypolicies' is not namespace scoped in group 'policy'
yes

I allowed service accounts all existing namespaces to use the privileged policy so I didn't break anything by enabling the PodSecurityPolicy plugin. My plan was to remove that permissio

[2020-08-01 02:40] dims opened #93620 "Document requirements for adding new architectures"
Need to follow up on:
- https://github.com/kubernetes/kubernetes/issues/87056#issuecomment-666493661

/sig architecture
/assign

[2020-08-01 02:43] liggitt commented on #93615
The permissions of the service account of the pod AND the identity creating the pod (in this case, the replicaset controller) are consulted and if either has the ability to use the policy, the pod is allowed.

See guidance in https://kubernetes.io/docs/concepts/policy/pod-security-policy/#authorizing-policies:

[2020-08-01 02:45] dims commented on #67721
/reopen

[2020-08-01 02:47] dims opened #93621 "Remove support for s390x"
We still don't have any CI jobs for this architecture, so we should just remove support for it.

It's been close to 2 years since we opened this issue - https://github.com/kubernetes/kubernetes/issues/67721

[2020-08-01 02:47] dims commented on #93621
/sig release
/sig testing

[2020-08-01 02:48] dims commented on #93621
cc @bradtopol @estesp

[2020-08-01 02:59] amdonov commented on #93615
Thanks for your help. I did not release that another account was in the mix. I thought --use-service-account-credentials=true caused the controller to use the sa specified in the securityContext.

[2020-08-01 02:59] #93615 closed

[2020-08-01 04:56] nathanleyton commented on #52817
I am also facing this issue. We have pods which have a lot of cleanup to do during shutdown, it can take up to 5 mins to terminate gracefully. During this time the livelinessProbe is detecting failure and restarting the pod. not really what we want. I am unable to prevent the service that handles the liveliness check from stopping while the cleanup is happening. It would be better if the pod was i

[2020-08-01 05:18] knight42 opened #93623 "Failing Test: pull-kubernetes-verify - publishing-bot"
**Which jobs are failing**:
pull-kubernetes-verify

**Which test(s) are failing**:
publishing-bot

**Since when has it been failing**:
07-31 12:23 PDT

**Testgrid link**:
https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-verify

**Reason for failure**:
missing pyyaml module

**Anything else we need to know**:
Running case: verify.publishing-bot
+++ working dir: /home/prow/go/s

[2020-08-01 05:21] knight42 commented on #93623
/sig testing

[2020-08-01 06:38] uablrek commented on #93598
/remove-triage unresolved
/triage duplicate

Ref https://github.com/kubernetes/kubernetes/issues/91940

[2020-08-01 06:39] uablrek commented on #93598
/close

[2020-08-01 06:39] #93598 closed

[2020-08-01 07:00] hgliu1985 opened #93624 "fail to deploy pod when setting NodeAffinity in yaml"
Hello everyone, I want to deploy just one pod on a node, I set the NodeAffinity and PodAntiAffinity for the deployment.
However after the deployment finishes,  there are two pods on the node, one is failed, and another one is running.
This is my yaml file as below,

apiVersion: apps/v1
kind: Deployment
metadata:
  name: &cluster_name him123
  namespace: mynamespace
  labels:
    application: him

[2020-08-01 07:00] nilsonsfj commented on #72597
/remove-lifecycle rotten

[2020-08-01 07:03] hgliu1985 commented on #93624
/wg k8s-infra

[2020-08-01 08:30] #88795 closed

[2020-08-01 12:54] cofyc commented on #93009
The share informer with the fake client may miss events of objects which are created before caches are synced.

[code]

it's better to create testing objects before starting the informers

[code]

[2020-08-01 12:59] cofyc commented on #93009
Although the event handlers may not finish when the caches were synced in theory, however, it seems it's not necessary to wait for PV/PVC assume cache to be synced practically.

I've run a thousand times (parallel: 10) with [this patch](https://github.com/kubernetes/kubernetes/pull/93629) locally and no failures.

[2020-08-01 13:34] saintube commented on #68026
@dims I have fixed `/pkg/controller/podgc` #68181

#93628

[code]

[2020-08-01 15:36] #88583 closed

[2020-08-01 16:25] liggitt commented on #93623
due to python3 bump in test-infra kubekins; being reverted in https://github.com/kubernetes/test-infra/pull/18603

[2020-08-01 19:35] edernucci commented on #90066
If your editor is `vi`, you can enter `:/^spec:` right after `kubectl edit ...` in order to get your cursor on the interesting part of YAML. This solved my workflow for now.

[2020-08-01 20:40] matthyx commented on #52817
I will take that point and propose a shutdown probe to API sig.

[2020-08-01 21:02] JeremyJeanson commented on #52096
Please reopen.

It is not solved. I use a local kubernetes cluster and my pods are not able to see source IP as expected.

[2020-08-01 21:20] liggitt commented on #93623
Resolved by test-infra revert

[2020-08-01 21:20] #93623 closed

[2020-08-01 21:21] dex4er commented on #93209
I would like to add this comment only because of my frustration after I spent hours to find out why `kubectl delete pod` doesn't generate `SIGTERM` as it was documented.

Of course it happened because of `STOPSIGNAL` in Dockerfile. Unfortunately it was totally not clear and almost impossible to find. Actually `strace` on custom `command` (`ENTRYPOINT`) made this troubleshooting possible.

[2020-08-01 22:14] liggitt commented on #90761
Is that test now named https://testgrid.k8s.io/sig-release-1.19-informing#kubeadm-kinder-upgrade-1-18-1-19 ?

[2020-08-01 22:39] aojea commented on #93568
seems that node-local-dns only supports IPv4

https://github.com/kubernetes/dns/blob/5596a13a266c3d8fd650e5c89f2e23eac8822db7/cmd/node-cache/app/cache_app.go#L138

[2020-08-02 00:45] #88821 closed

[2020-08-02 01:16] andrewsykim commented on #93514
/area provider/aws

[2020-08-02 01:17] andrewsykim commented on #93390
/area provider/aws

[2020-08-02 01:17] andrewsykim commented on #92783
/area provider/aws

[2020-08-02 01:30] #93462 closed

[2020-08-02 02:30] liggitt commented on #87807
opened https://github.com/kubernetes/kubernetes/pull/93633

[2020-08-02 03:00] abdennour commented on #75402
I have EKS 1.17 and cluster-autoscaler chart v7.0.0 ... Issue still persists.
Any fix deadline ?

[2020-08-02 03:21] #93525 closed

[2020-08-02 04:49] #87224 closed

[2020-08-02 04:49] #82668 closed

[2020-08-02 06:32] reith opened #93634 "Using standard kubernetes verbs for subresources"
It's not obvious to me whether it's good practice to use interfaces defined in `k8s.io/apiserver/pkg/registry/rest` for subresource implementation or not, but it somewhat works. For example there is `NamedCreater` that helps creating subresource and it is documented so. I Also used `Lister` and `Watcher` in my REST implementations; for listing `client-gen` generated client nicely, for `Watcher` it

[2020-08-02 06:36] reith commented on #93634
/sig architecture-feature-requests

[2020-08-02 06:37] reith commented on #93634
/sig architecture

[2020-08-02 06:42] reith commented on #93634
/sig api-machinery

[2020-08-02 08:37] monotek commented on #79432
/remove-lifecycle stale

[2020-08-02 08:53] #86756 closed

[2020-08-02 08:53] #88836 closed

[2020-08-02 11:21] #93400 closed

[2020-08-02 12:24] jayunit100 commented on #93568
looks like whatever's calling `func (runner *runner) checkRuleWithoutCheck(table Table, chain Chain, args ...string) (bool, error)` might need to have a log msg b4 it

[2020-08-02 12:25] mattfenwick commented on #93568
/assign

https://grep.app/search?q=error%20checking%20rule

[2020-08-02 12:28] AkashSarda commented on #93094
Hi is this still a sig network issue?

@SetarehStar have you tried Akshay's update?

Let us know to close on this.

[2020-08-02 13:20] aneesinaec commented on #58908
I hit the same issue in an EKS 2 node cluster.
Client Version: version.Info{Major:"1", Minor:"18", GitVersion:"v1.18.4", GitCommit:"c96aede7b5205121079932896c4ad89bb93260af", GitTreeState:"clean", BuildDate:"2020-06-17T11:41:22Z", GoVersion:"go1.13.9", Compiler:"gc", Platform:"linux/amd64"}

Any quick help?

[2020-08-02 13:58] #88835 closed

[2020-08-02 13:59] vigneshsolution opened #93635 "server version and client version in Kubernetes (kubectl version)"
Hi all,

I'm new to kubernetes world. Recently I have installed k8's 1.18 in my cluster.
But when i am checking for the kubectl version i could see two different parameters "server version" & "client version".
Can anyone explain me what is this exactly.
Will this version mismatch cause issue in cluster ?

updating necessary outputs below

root@testserver:~# uname -v
#33~18.04.1-Ubuntu SMP Fri Jun

[2020-08-02 17:01] #88851 closed

[2020-08-02 17:27] rikatz commented on #93635
Hello,

It means that the api-server you're connecting to is v1.17.2.

Since you're using kubeadm, check the manifest from kube-apiserver in "/etc/kubernetes/manifests/kube-apiserver.yaml" the field "image":

[code]

There's no problem using a major version of kubectl with one version difference from your cluster (like client v1.18 and server v1.17), it's not recommended that you have a big differ

[2020-08-02 17:27] rikatz commented on #93635
/close

[2020-08-02 17:27] #93635 closed

[2020-08-02 17:55] neolit123 commented on #90761
yes.
i see some occasional flakes of not being able to complete the conformance suite in 25 minutes (parallel).

[2020-08-02 18:03] neolit123 commented on #90761
/retitle [Flaky Test] kubeadm-kinder-upgrade-1-18-1-19 (ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-1-19)

[2020-08-02 18:52] liggitt commented on #93485
Solid green since that merged, thanks

[2020-08-02 18:52] #93485 closed

[2020-08-02 19:03] senthilnathan commented on #93575
/sig instrumentation

[2020-08-02 19:03] senthilnathan commented on #93575
/assign

[2020-08-02 19:03] #88852 closed

[2020-08-02 20:23] jherrera123 commented on #88919
/unassign

[2020-08-02 22:12] BenTheElder commented on #92937
Regarding specifically having a lot running in presubmit:
- I moved `pull-kuberntes-cross` from `run_if_changed` top optional / periodic
- On the master branch (not the older ones) @liggitt moved `verify-files-remake` to optional / periodic
- We're enacting some CI policies https://github.com/kubernetes/test-infra/issues/18551

We still appear to have have 15 jobs running on _every_ PR.

Some of t

[2020-08-02 23:22] dims opened #93637 "Fix root OWNERS approvers"
[code]

Follow up from: https://github.com/kubernetes/kubernetes/pull/85638#issuecomment-563356854

@bgrant0607 @brendandburns @dchen1107 @lavalamp @liggitt @smarterclayton @thockin @wojtek-t , your thoughts please!

[2020-08-02 23:28] dims commented on #93637
/sig contributor-experience

[2020-08-02 23:28] dims commented on #93637
/committee steering

[2020-08-03 00:09] #88677 closed

[2020-08-03 00:20] sbangari commented on #93229
@robscott This issue happens when multiple Services are referencing a same POD. I mean the same backend IP address but different ports. i.e. the POD is hosting two workloads on different ports.

[2020-08-03 00:27] sbangari commented on #93229
/sig windows

[2020-08-03 00:28] liggitt commented on #93229
Is this only observed in windows environments?

[2020-08-03 00:36] robscott commented on #88375
/reopen
/remove-lifecycle rotten

[2020-08-03 00:43] krmayankk commented on #4855
@bgrant0607  why is this frozen ? it seems it was originally created for 1.0 in 2015, but has lot of relevant details that could become a documentation link or KEP for how clusters should be upgraded , but not sure i have seen any of those documentation.

[2020-08-03 00:46] liggitt commented on #93450
Pending pick to etcd 3.4.x in https://github.com/etcd-io/etcd/pull/12189

[2020-08-03 00:57] bgrant0607 commented on #4855
@krmayankk It's fine to close this issue, though AFAIK, neither the upgrade/downgrade sequencing, nor lifecycle stages, nor teardown operations, nor the other proposals mentioned above (https://github.com/kubernetes/kubernetes/issues/4855#issuecomment-359481116) have been implemented. More specific issues, such as #54522 have been filed.

/close

[2020-08-03 00:57] #4855 closed

[2020-08-03 02:28] dims commented on #92937
@BenTheElder i'd prefer using `pull-kubernetes-e2e-gce-ubuntu-containerd` over `pull-kubernetes-e2e-gce`. (COS vs Ubuntu and newer containerd)

[2020-08-03 02:31] liggitt commented on #92937
If we have exposure to ubuntu nodes and newer containerd via pull-kubernetes-e2e-kind, would pull-kubernetes-e2e-gce be a better choice?

[2020-08-03 02:50] dims commented on #92937
@liggitt unfortunately kind does not do a "real" multi-node with cloud init etc :(

[2020-08-03 03:11] #88880 closed

[2020-08-03 05:06] bcdunbar commented on #73412
Experienced the same and had used the above method to rectify. Can't find any information about how and why this happens in Azure File Storage. Does anyone have any ideas? Concerned now that this may happen again without warning, so will need to consider moving MongoDB out of a container and to something external.

[2020-08-03 05:56] amboowang commented on #24725
+1 need it can be configured as onFailure or Never. Always is not fit for the real case here.

[2020-08-03 06:11] wojtek-t commented on #87808
/remove-lifecycle stale

This has been partially addressed by #87811 but we need to verify if we need more.
/lifecycle frozen

[2020-08-03 06:17] skriesch commented on #93621
I want to add CI jobs for s390x. I create that with qemu.

[2020-08-03 06:23] wojtek-t commented on #93599
Oops - sorry for that.
It seems it is basically this comment: https://github.com/kubernetes/kubernetes/pull/92644#discussion_r447850444 that I blindly applied without e2e retesting (the problem seem to be lack of tests, which is a bit surprising because bugs in my previous implementations were caught by tests).

@logicalhan ^^

BTW - this has been cherrypicked to previous releases:
1.16: https://g

[2020-08-03 06:25] ialidzhikov commented on #93599
I can file the automated cherry-pick PRs once the PR against the master branch is merged. :)

[2020-08-03 06:42] chendave opened #93639 "cannot redirect log by the option: --log-dir or --log-file"
**What happened**:
start the scheduling service with the option of --log-dir  or --log-file, but logs is not redirected to specified file, or the directory,

[code]

**What you expected to happen**:
those options should be supported

**How to reproduce it (as minimally and precisely as possible)**:
start the service with command like this,
[code]

**Anything else we need to know?**:
Did some early

[2020-08-03 06:42] chendave commented on #93639
/sig scheduling

[2020-08-03 06:56] bertinatto commented on #84585
/remove-lifecycle stale

[2020-08-03 07:02] chendave commented on #93639
false negative, just need to disable "logtostderr" is good to go,
[code]

[2020-08-03 07:02] #93639 closed

[2020-08-03 07:16] andyzhangx commented on #73036
@gnufied do you know how to cancel volume resize? e.g. current size is 4TB, and resize to 6TB failed, how can I change back to 4TB?

[2020-08-03 07:19] kumarks1122 commented on #16906
I also got this issue. Your solution solved it. Thanks, @cdpb !!

[2020-08-03 08:17] demon999 commented on #70179
Same issue
pod.memory.cache increase.

[2020-08-03 08:18] wojtek-t commented on #93599
Reopening - since we need to cherrypick it still.

[2020-08-03 08:19] jkaniuk commented on #93506
Another 2 runs OOMed:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1289169373948284931
- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1289531731606507520

[code]

[code]

/reopen

[2020-08-03 08:27] gobomb opened #93641 "Panic in event handler will be blocked by defer func but it should propagate up"
**What happened**:

When use client-go to build the client, we implement the event handler for some k8s resourses. Sometime it will panic (maybe cause by the unexpected nil pointer bug), the process will not crash after panic.

**What you expected to happen**:

When we use event handler with informer in client-go, sometime it will panic in handler, we expect the process will crash.

**How to repro

[2020-08-03 08:28] Boran commented on #86531
/reopen

[2020-08-03 08:28] Boran commented on #86531
/remove-lifecycle rotte

[2020-08-03 08:29] Boran commented on #86531
Hmm, how to keep this open then, it is still a real problem and biting people...

[2020-08-03 08:54] mjrepo2 opened #93644 "After k8s upgrade, ETCD landed in different versions"
**What happened**:
kubernets etcd version are different from each other (1 out of 3) after upgrade from v1.17.6 to v1.18.3

**What you expected to happen**:
kubernetes to hold the versions in sync, that they continue to work together.

**How to reproduce it (as minimally and precisely as possible)**:
Unknown -- behavior is seen after upgrading k8s components from v1.17.6 to v1.18.3

**Anything els

[2020-08-03 09:00] ialidzhikov commented on #93599
I now opened the cherry-picks:
1.16 - https://github.com/kubernetes/kubernetes/pull/93644
1.17 - https://github.com/kubernetes/kubernetes/pull/93643
1.18 - https://github.com/kubernetes/kubernetes/pull/93642

[2020-08-03 09:38] ivanangelov commented on #92639
Hello @robscott,

I would kindly ask you to answer my previous question so we could have some clarity about how to proceed forward with the issue.

[2020-08-03 10:13] wojtek-t commented on #93506
That seems really ridiculous to me. The fact that our performance tests can work with 16GB makes it super strange that simple correctness tests require 32GB+...

[2020-08-03 10:14] wojtek-t commented on #93506
@liggitt @BenTheElder ^^

[2020-08-03 10:18] gobomb commented on #93641
/sig api-machinery

[2020-08-03 10:23] neolit123 commented on #93644
this seems like an administration issue.
each version of kubernetes usually comes with a different version of etcd.

are you using an external or stacked etcd cluster?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/

for stacked, if you are using `kubeadm upgrade` you should call the command on all control-plane nodes.
for external, kubeadm does not manage the et

[2020-08-03 10:24] neolit123 commented on #93644
one of the etcd members has a newer version, so it seems like the etcd member upgrade was not completed.

[2020-08-03 10:26] dk-do commented on #93644
Yes - looks same for me.
But how to fix this when the builtin K8S etcd is used?

[2020-08-03 10:26] neolit123 commented on #93616
kubelet would crashloop until one calls `kubeadm init/join` on the node.

for general support questions try using our support channels and #kubeadm on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/triage support
/sig cluster-lifecycle
/close

[2020-08-03 10:26] #93616 closed

[2020-08-03 10:27] jpbochi commented on #93392
@agniveshadhikari I ran into the same problem. As it turns out, there was an instance of `challenges.acme.cert-manager.io` that was still `pending`. I tried a simple delete on that resource, but this command also got stuck.

Then, I tried this trick:

1. *Either* run this:
`kubectl proxy &`
*or* run this is a separate shell session / terminal tab:
`kubectl proxy`

2. Get a json with the resource y

[2020-08-03 10:27] neolit123 commented on #93644
do you mean "stacked" etcd?
https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/ha-topology/

if you are using "stacked" etcd. you can use `kubeadm upgrade plan/apply`.

[2020-08-03 10:28] neolit123 commented on #93644
please read this carefully: https://kubernetes.io/docs/tasks/administer-cluster/kubeadm/kubeadm-upgrade/

[2020-08-03 10:32] dk-do commented on #93644
@neolit123

Yes - we are using stacked etcd.

This is exactly what we did...
Can we just run the update on the remaining masters again?

[2020-08-03 10:35] neolit123 commented on #93644
i doubt if `kubeadm upgrade` was run on all control-plane nodes that it did not upgrade etcd too.

you could try. using `kubeadm upgrade apply` would be better.
alternatively you can go on each /etc/kubernetes/manifests/etcd.yaml file and upgrade the etcd image version.

[2020-08-03 10:38] neolit123 commented on #93644
hope you get it fixed, i'm going to close this as it seems like a support ticket and not a bug / FR.

to get discussions with users that are already using kubeadm you can use #kubeadm on k8s slack or the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

thanks
/close

[2020-08-03 10:38] #93644 closed

[2020-08-03 10:59] paulfantom commented on #92180
Closing as this is fixed in https://github.com/kubernetes/kubernetes/pull/85983

[2020-08-03 10:59] #92180 closed

[2020-08-03 11:24] jkaniuk commented on #93506
/reopen
Leaving discussion open

[2020-08-03 11:29] wybrobin commented on #75832
I have the same problem, how to solve it?

[2020-08-03 11:32] dhineshbabuelango opened #93647 "Pod Getting stuck while starting/terminating with error "context deadline exceeded""
**What happened**:
Most of the kubernetes pod while deploying gets stuck for 10 mins atleast with error context deadline exceeded and the same happens while terminating as well.

**What you expected to happen**:
Pods should be deployed and terminated without getting stuck

**How to reproduce it (as minimally and precisely as possible)**:
Unkonwn

**Anything else we need to know?**:
We have one pod

[2020-08-03 11:50] jayunit100 commented on #92929
/remove-triage unresolved

[2020-08-03 11:50] jayunit100 commented on #92929
I think we can close it's been a few weeks on this one ...

[2020-08-03 11:50] jayunit100 commented on #92929
/close

[2020-08-03 11:51] #92929 closed

[2020-08-03 11:53] jayunit100 commented on #88375
@guang550

[2020-08-03 11:57] qingchen1203 opened #93648 "The system-reserved parameter has no effect"
**What happened**:
The system-reserved parameter has no effect in kubelet node.

**What you expected to happen**:
The resource usage of pod   be restricted in kubelet. Or, Does anyone tell me this phenomenon is normal?

**How to reproduce it (as minimally and precisely as possible)**:
Hi，guys:
I encountered some confusing phenomena during the test and found that the resource usage of pod still can

[2020-08-03 12:00] qingchen1203 commented on #93648
/sig node Thank you very much for answering my questions, it caused me a big problem :)

[2020-08-03 12:18] Ladicle opened #93649 "Pods that exceed the ephemeral storage limit are recreated with no backoff"
**What happened**:

Pod status becomes backoff as well as when CPU/memory exceeds the resource limit.

[code]

**What you expected to happen**:

Prevent Pods from recreating in a short time.

**How to reproduce it (as minimally and precisely as possible)**:

Apply the following manifest with the ephemeral-storage limit set to 0:

[code]

**Anything else we need to know?**:

When CPU and memory res

[2020-08-03 12:21] Ladicle commented on #93649
/sig node

[2020-08-03 13:01] rikatz commented on #93624
/remove-wg k8s-infra
/sig scheduling
/remove-kind bug
/triage unresolved

[2020-08-03 13:03] gongguan commented on #93649
Same as [#89007 ](https://github.com/kubernetes/kubernetes/issues/89007)
Same scenario of statefulset [#89067 ](https://github.com/kubernetes/kubernetes/issues/89067)

[2020-08-03 13:05] gongguan commented on #93649
/sig app

[2020-08-03 13:06] gongguan commented on #93649
/sig apps

[2020-08-03 13:10] gitlawr commented on #93609
@liggitt I would like to work on master.TestReconcilerMasterLease.
Seems like a lot of the time is used for starting apiservers, I think we can do that concurrently.

[2020-08-03 13:17] liggitt commented on #93609
@gitlawr, thanks I've put your name by that test

[2020-08-03 13:33] AndrienkoAleksandr commented on #71350
/remove-lifecycle stale

[2020-08-03 13:43] rikatz commented on #93556
**https://bi.docker.oraclecorp.com/v2/: x509: certificate signed by unknown authority** means that the docker daemon from the worker node pulling the image does not recognize the certificate being used in the registry.

PTAL https://docs.docker.com/engine/security/certificates/

[2020-08-03 13:52] thomacos commented on #88554
@claudiubelu @adelina-t
From your perspective, does the following make sense to you?
1. Prepare a device plugin test pod image containing https://github.com/aarnaud/k8s-directx-device-plugin.
2. Create a yaml file similar to https://github.com/kubernetes/kubernetes/tree/master/test/e2e/testing-manifests/sample-device-plugin.yaml.
2. Use the test https://github.com/kubernetes/kubernetes/tree/master

[2020-08-03 14:29] hasheddan opened #93651 "[Flaky Test] run_kubectl_apply_tests (ci-kubernetes-integration-master)"
**Which jobs are flaking**:

`integration master (ci-kubernetes-integration-master)`

**Which test(s) are flaking**:

`test-cmd.run_kubectl_apply_tests `

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/sig cli
/cc @kubernetes/ci-signal @soltysh
/milestone v1.20
/prority important-soon

[2020-08-03 14:34] saschagrunert opened #93652 "Kubeadm creates /var/lib/kubelet with 0700 permissions"
**What happened**:

The kubeadm `/var/lib/kubelet` dir does not allow non-root read-access per default:
https://github.com/kubernetes/kubernetes/blob/ec560b9737537be8c688776461bc700e8ddedb9d/cmd/kubeadm/app/phases/kubelet/config.go#L181-L184

To be able to rely on rootless directories inside this path, it would be nice if we could create the directory with `0755` for example.

**What you expected

[2020-08-03 14:34] saschagrunert commented on #93652
/sig cluster-lifecycle

[2020-08-03 14:38] gnufied commented on #73036
@andyzhangx  You can use - https://docs.openshift.com/container-platform/4.5/storage/expanding-persistent-volumes.html#expanding-recovering-from-failure_expanding-persistent-volumes

[2020-08-03 14:45] pohly commented on #79980
/remove-lifecycle rotten

[2020-08-03 15:08] hasheddan commented on #92702
@RobertKielty @aojea job has been looking green lately, can this be closed?

[2020-08-03 15:13] liggitt commented on #93651
after creating the CRD, before applying the CR, kubectl should wait until `kubectl api-resources` includes `resources                                      mygroup.example.com`:

https://github.com/kubernetes/kubernetes/blob/ec560b9737537be8c688776461bc700e8ddedb9d/test/cmd/apply.sh#L124-L148

[2020-08-03 15:13] liggitt commented on #93651
/assign @soltysh @seans3

[2020-08-03 15:40] grosser commented on #87833
/lifecycle frozen

[2020-08-03 15:57] toadjaune commented on #76957
/remove-lifecycle rotten

[2020-08-03 16:01] liggitt commented on #93392
Make a PUT call removing any finalizer

I think these steps can be simplified to:
[code]

[2020-08-03 16:20] BenTheElder commented on #93652
Aren't the contents of /var/lib/kubelet sensitive? I don't think they should be world-read / execute.

[2020-08-03 16:22] liggitt commented on #93652
yes, they definitely are (they include kubelet credentials in /var/lib/kubelet/pki, etc)

[2020-08-03 16:22] liggitt commented on #93652
I also would not expect manifests and volumes to be world-readable by default

[2020-08-03 16:24] liggitt commented on #93652
This is not a bug, it is intentional.

A feature request to set a different owner (but not world-readable) could be reasonable, but the current defaults seem reasonable to me.

/remove-kind bug
/kind feature

[2020-08-03 16:25] liggitt commented on #93652
Why does the operator need to place files inside the /var/lib/kubelet dir? I would not expect add-on operators to live inside that directory

[2020-08-03 16:42] knight42 commented on #93651
/assign

@liggitt is this issue related to #65517?

[2020-08-03 16:53] liggitt commented on #93651
no, this is simply kubectl trying to apply a CR before the server has made the API available

[2020-08-03 16:56] neolit123 commented on #93652
given `MkdirAll` is a no-op if the directory exists, you could pre-create the directory with the desired permission bits.
admittedly, 755 is the common permission for sub-folders of /var/lib, with a few exceptions including /kubelet, /etcd.

this is a bit odd, because a 755 would still require root to create the operator sub-directory, which means the operator cannot create its location to store s

[2020-08-03 17:00] sbangari commented on #93229
Yes this happens only on Windows environments

[2020-08-03 17:00] knight42 commented on #93651
Got it! and I have filed #93657 to address this issue.

[2020-08-03 17:13] Imunhatep commented on #90066
From my point of view, operators care less about added fields to kubernetes resources.
What is really needed, is the way to get resource yaml/json EXACTLY as its been applied.

So.. the essence:
[code]

[2020-08-03 17:14] robscott commented on #93229
Thanks @sbangari, can you provide more information about the version of Kubernetes you're using? Do you know what proxier mode kube-proxy is running with? Maybe winkernel? I'm not as familiar with the Windows implementation here, adding @kumarvin123 to help debug this.

/assign @kumarvin123

[2020-08-03 17:14] neolit123 commented on #93647
hello, this seems like a request for support. please try the #kubernetes-users or the other support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
also you could try getting support from AWS EKS.

please re-open this ticket if there is a confirmed core k8s bug.
thanks
/close

[2020-08-03 17:15] neolit123 commented on #93647
/triage support

[2020-08-03 17:15] apelisse commented on #90066
I know some people are working on an export command (@seans) which seems unrelated to this issue?

[2020-08-03 17:15] #93647 closed

[2020-08-03 17:25] saschagrunert commented on #93652
Thank you all for the insights. The main intention was to run the operator without having a need to reconfigure the kubelets seccomp root. So our first step was to create a subdir in `/var/lib/kubelet/seccomp/operator` and chown it to the desired rootless user from an init container. That way the main execution container does not need to run as root U/GID. Profiles would then be namespaced under t

[2020-08-03 17:25] #93652 closed

[2020-08-03 17:35] saschagrunert commented on #93652
@liggitt just saw that we require that path from 1.23: https://github.com/kubernetes/kubernetes/commit/ee3c1aeac662c03e6bdbb2d3d0ea4da3e4d0563d#diff-440efa89fc197eb244da0254f14241aaR408

This makes it basically impossible to run a feature on top of seccomp profiles rootless, without running the kubelet rootless (which is not possible right now).

[2020-08-03 17:47] liggitt commented on #93652
It seems appropriate to either:
* require the same filesystem permissions as the kubelet to install seccomp profiles, or
* use root permissions to explicitly create and grant a different user/group permission to manage seccomp profiles

[2020-08-03 17:48] itaysk commented on #90066
in my experience it is possible to dump a pod yaml and create a new pod from it without cleaning up all the redundant fields (export), except for the case where moving between namespaces

[2020-08-03 17:54] itaysk commented on #90066
regarding the "way to get resource yaml/json EXACTLY as its been applied" - I completely agree with @Imunhatep . I have tried to add a feature to kubectl-neat that leverages managedFields to keep only fields managed by kubectl. but the problem is that with with derived resources, for example if the user created a deployment, this feature works on the deployment, but then the replicaset and pods ar

[2020-08-03 17:56] robscott commented on #92639
Thanks for the reminder, sorry I missed your follow up question! Although the API will support referencing arbitrary resources, it will depend on implementations to define which resources they want to support targeting. If you're planning on using a specific implementation, it might be good to ask the maintainers if they have plans to support targeting additional resource types in 1.19+. With that

[2020-08-03 17:59] lavalamp commented on #90066
Follow the owner / controller refs back to the source object?

[2020-08-03 17:59] tpepper commented on #92587
/assign @justaugustus

[2020-08-03 18:16] itaysk commented on #90066
Yes I have thought about it. this tool was supposed to be able to work without api access, but I already compromised on that requirement.
There's also the issue that feature this needs to be individually coded for every supported scenario, meaning explicitly for the deployment->RS->pod, it wouldn't support any yaml it received.
And finally, when exploring this I found some cases where the field tr

[2020-08-03 18:25] BenTheElder commented on #93621
Is this SIG Arch (seem to be owning policy?) or SIG Testing / Release? (the latter to enact I suppose?)

What release is this targeted at?
This should be straightforward to fix and I'd assign for sig-testing, but I'm not sure if we're looking to do that actually.

[2020-08-03 18:26] #88402 closed

[2020-08-03 18:51] Imunhatep commented on #90066
Get yaml/json as its been applied by controller-manager, as managedFields are added later. Correct me here, but probably this added on processing the request by kubeapi.

ATM I see 2 possible approaches here:
keep the list of fields reflecting current resource state, e.g. status, managedFields e.t.c. and hide it on export.
Or to keep kind of a copy of applied resources (original request?) before "

[2020-08-03 18:58] Huang-Wei opened #93659 "[Flaky Test] scheduler integration test TestPostBindPlugin"
**Which jobs are flaking**:

- ci-kubernetes-integration-master
- pull-kubernetes-integration

**Which test(s) are flaking**:

TestPostBindPlugin

**Testgrid link**:

- https://testgrid.k8s.io/sig-release-master-blocking#integration-master&width=5&include-filter-by-regex=test%2Fintegration%2Fscheduler
- https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-integration&width=5&incl

[2020-08-03 19:00] Huang-Wei commented on #93659
It flaked two times recently:

- https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-integration-master/1290289726128918530
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93629/pull-kubernetes-integration/1290061473413861376

[2020-08-03 19:22] ZhiFeng1993 commented on #92911
Sounds good. I looked around for places to add documents to, do you have an idea where should it live?

[2020-08-03 20:05] msau42 opened #93662 "Cleanup wait forever loops in pv_controller_test.go"
**What happened**:
There are some places in pv_controller_test.go that wait for conditions [without any timeout](https://github.com/kubernetes/kubernetes/blob/e4472ca48629eb4fb8a3febcfd84438c296c0520/pkg/controller/volume/persistentvolume/pv_controller_test.go#L160). We should update all the places to set something like `wait.ForeverTestTimeout`

/help
/good-first-issue

[2020-08-03 20:07] msau42 commented on #93662
/kind cleanup
/remove-kind bug

[2020-08-03 20:28] damemi commented on #93624
Could you give some more info on the pods (like with `kubectl describe <pod>`?) If you're adding the node label after creating the deployment that would explain the affinity failure but I don't know if that causes a 2nd pod to be created

[2020-08-03 20:36] thockin commented on #93637
Without a way to self-limit, I think the group should be kept very small.  As I think about it, I intentionally DON'T approve PRs because I don't want it to apply too broadly.

I suggested on slack for contribex: What if I could `/approve <dir>` and that would only count as approval for that specific
directory?  I often want to /approve an API change but not the whole PR.  Talking to other root-OW

[2020-08-03 20:42] dims commented on #93637
@spiffxp @nikhita WDYT?

[2020-08-03 21:14] brianpursley commented on #30861
/remove-area kubectl

This doesn't sound like a kubectl issue. When I try to create a secret using `kubectl create secret` it base64-encodes it for me.
[code]

If I try to create a secret using `kubectl apply -f` with a secret manifest that has not base64-encoded the value, like this...
[code]
... It does not create the secret and I get a message saying `Illegal base64 data`:
[code]

This issue ha

[2020-08-03 21:26] EtnaRyanK commented on #20227
+1

[2020-08-03 21:46] brianpursley commented on #65517
Here is a little more info, and here is how I am able to reproduce it (kubectl version 1.18.0 and cluster version 1.19.0-beta.2):
[code]

[code]

A couple interesting things i noted...
* If I deleted by `~/.kube/http-cache` and re-ran it, I could not reproduce it. It is only the first time the short name was EVER used that this occurs. I only tried from one client machine, so I'm not sure this is

[2020-08-03 23:58] brianpursley commented on #42217
I think this might be fixed now.

Using the steps in the issue description, when I save the changes, it immediately reloads vim with the following message at the top:

[code]

I tried several versions of kubectl back to 1.15.11, so I'm not sure at what point this might have been fixed.

[2020-08-04 00:28] andrewsykim commented on #92708
/remove-area ipvs

[2020-08-04 00:29] andrewsykim commented on #92708
/remove-sig network

[2020-08-04 00:31] andrewsykim commented on #89358
I'm going to close this for now, I have it on my TODO to add docs for IPVS which will include this gotcha as long as other things we need to document (like sysctls).

[2020-08-04 00:31] andrewsykim commented on #89358
/close

[2020-08-04 00:31] #89358 closed

[2020-08-04 00:32] andrewsykim commented on #90435
Closing this, @xishengcai please reopen if you have more information to share.

[2020-08-04 00:32] andrewsykim commented on #90435
/close

[2020-08-04 00:32] #84805 closed

[2020-08-04 00:32] #90435 closed

[2020-08-04 00:33] andrewsykim commented on #88212
Closing since above issues should fix this. https://github.com/kubernetes/kubernetes/pull/93445 will also help but seems like the performance issues mentioned in the original description have been addressed.

[2020-08-04 00:33] andrewsykim commented on #88212
/close

[2020-08-04 00:34] #88212 closed

[2020-08-04 00:36] andrewsykim commented on #93175
Is this referring to the node IP of the proxier or the node IP of the apiserver?

[2020-08-04 00:42] andrewsykim commented on #84322
So I think this is actually a problem in the kernel as it tries to reuse source ports in the IPVS connection tracking table. I think this was actually fixed in a recent kernel patch http://patchwork.ozlabs.org/project/netfilter-devel/patch/20200708161638.13584-1-kim.andrewsy@gmail.com/.

Some workarounds that would work now is to set the IPVS TCP/UDP timeout to a lower value so that a deleted RS e

[2020-08-04 00:44] andrewsykim commented on #84322
Gonna go ahead and close this since this is a kernel issue and we added flags to configure the IPVS timeouts in https://github.com/kubernetes/kubernetes/pull/85517

Feel free to reopen if you think this doesn't address the original issue.

[2020-08-04 00:44] andrewsykim commented on #84322
/close

[2020-08-04 00:44] #84322 closed

[2020-08-04 00:50] spiffxp commented on #93637
I want to get @cjwagner's input, I think he's got the most prior experience with approvers and repoowners

I think it's a good idea.  My gut tells me it would be somewhat involved, N weeks ish

[2020-08-04 00:51] zhouya0 commented on #93662
I can try to fix this :)
/assign

[2020-08-04 00:54] spiffxp commented on #93637
I also think, separately, that we should consider hitting root OWNERS a failure mode and immediately address by adding OWNERS in a deeper/more relevant dir.

It used to be that the approval message would suggest the fewest possible approvers who could cover N OWNERS files but I _think_ it now outputs leaf approvers.

Something like: either the root owner should boostrap a deeper file with themselv

[2020-08-04 00:55] bgrant0607 commented on #93637
Regarding removing people from root approvers, I volunteer to be moved to emeritus status, as I can't respond to most/any PR approval requests, anyway.

[2020-08-04 01:01] bgrant0607 commented on #93637
Do we have a way to audit uses of root OWNERS approval power? If not, that would be useful to implement.

I used to get regular pings to approve changes to CHANGELOG.md. CONTRIBUTING.md and .gitignore were recently updated.

go.mod already has a distinct reviewer set.

[2020-08-04 01:46] #92158 closed

[2020-08-04 02:07] chasebolt commented on #89898
experiencing this issue in multiple GKE clusters. just started about 5 days ago. right now i'm having to drain the bad node and remove it from the pool. running `1.16.9-gke.6`

[2020-08-04 02:14] BenTheElder commented on #93637
Unfortunately the go.mod reviewer set cannot actually approve (it doesn't
function) so mostly it just results in auto assigning the entire team to
review every PR touching go.mod, with liggitt doing the actual approval
typically.

I don't think such a tool exists.

On Mon, Aug 3, 2020 at 6:01 PM Brian Grant <notifications@github.com> wrote:

[2020-08-04 02:14] BenTheElder commented on #93637
plenty of files can't be moved out of the root easily (think go.mod, go.sum, .gitignore ...) and lots of tools are unhappy with symlinks.

[2020-08-04 02:31] HuangShujun opened #93666 "The GID defined by "USER" in Dockerfile does not work in container of Pod"
**What happened**:
Use USER 999:999 in Dockerfile to add default uid and gid,   then start the container in Pod , its UID is 999, but its GID is 0.

In container started by Docker the ID is correct
docker run --entrypoint /bin/bash -it abc:latest
bash-5.0$ id
uid=9999 gid=9999 groups=9999

But start as Pod, the gid is 0

kubectl exec -it test /bin/bash
bash-5.0$ id
uid=9999 gid=0(root) groups=0(ro

[2020-08-04 02:54] SetarehStar commented on #93094
The issue has been resolved for me.

Root cause:
Http Listener must specify a non-empty value for either ‘hostName’ and ‘hostNames’ property, but not both, which will cause failure. Previously, the new ‘hostNames’ property is not visible in "Portal" and that might cause confusion. Fortunately, it is lighted on Azure Portal now.

Resolution:
It is resolved after the ‘hostNames’ property is lighted

[2020-08-04 02:55] SetarehStar commented on #93094
Yes that was the issue. Microsoft support replied the same answer to me. Thanks!

[2020-08-04 03:07] denkensk commented on #93500
---
I simulated it. Maybe we can just expose the function of `assumePod` and `forgetPod` in frameworkHandle other than cache itself. In this way, the cache is not seriously affected.

---
This plugin needs to be manually disabled by the user. It is enabled by default.  I feel that this scene may be similar to `defaultBind`.

@alculquicondor

[2020-08-04 03:53] wjun commented on #93565
@alculquicondor @ahg-g If we switch to 1.19 when it is ready, this issue will be resolved automatically, or depending on the worker nodes loads, there is still possibility that topologySpreadContraints is not satisfied, with the default scheduler weights of scores?

[2020-08-04 03:55] HuangShujun commented on #93666
/help

[2020-08-04 04:38] Navaneeth-pk commented on #60807
Tried a lot of solutions but this is the one that worked for me. Thank you!

[2020-08-04 04:39] Navaneeth-pk commented on #60807
Tried a lot of solutions but this is the one that worked for me. Thank you!

[2020-08-04 04:39] Navaneeth-pk commented on #60807
Tried a lot of solutions but this is the one that worked for me. Thank you!

[2020-08-04 04:45] BenTheElder commented on #92702
/close

[2020-08-04 04:45] #92702 closed

[2020-08-04 04:52] EronWright commented on #86666
To help others who build a custom apiserver with [apiserver-builder-alpha](https://github.com/kubernetes-sigs/apiserver-builder-alpha), generate protobuf converters for your api with:
[code]

To be honest, the command doesn't work for me because it doesn't pass the `--go-header-file` argument to `go-to-protobuf`, but from the output you'll work out the `go-to-protobuf` command to use.

See also: [

[2020-08-04 04:53] k4korea commented on #68669
apiVersion: v1
data:
  config: |-
    apiVersion: kubeproxy.config.k8s.io/v1alpha1
    bindAddress: 0.0.0.0
    ...
    kind: KubeProxyConfiguration
    # Change 127.0.0.1:10247 -> 0.0.0.0:10249
    metricsBindAddress: 0.0.0.0:10249
    ...
kind: ConfigMap
metadata:

kubectl delete po kube-proxy-xxxx -n kube-system

[2020-08-04 04:53] colotiline commented on #89898
My issue was in a REST API dependency that was checked by readinessProbe. Doubles readinessTimeout helped.

[2020-08-04 05:12] brendandburns commented on #93637
I'm with @bgrant0607 that I'm ok being moved to emeritus, I don't think I have approved a PR in > 1 year. I'm also happy to continue if that is preferrable, as can be seen from the stats, I'm not abusing the power :)

[2020-08-04 06:19] BenTheElder commented on #93652
https://github.com/kubernetes/kubernetes/commit/ee3c1aeac662c03e6bdbb2d3d0ea4da3e4d0563d#diff-440efa89fc197eb244da0254f14241aaR408  -- the PR seems to just be moving the flag to config. You can still configure this.

[2020-08-04 06:28] abhty822 opened #93668 "Process Env then allow Env to replace existing values and Env don't have to guarantee the order"
**What would you like to be added**:
Process Env then allow Env to replace existing values and Env don't have to guarantee the order
**Why is this needed**:
**For example**：
[code]
The above example，$(MY_POD_NAME) cant use MY_POD_NAME
I think it can be improved

/sig node
/sig apps

[2020-08-04 06:28] mayankshah1607 commented on #92674
Hi @alejandrox1
Should we be moving the `gci-init.yaml` and `cos-init-live-restore.yaml` files to `test-infra/jobs/e2e_node`? I see that they're being used for various configs.
It also seems like we can delete `docker-validation/` (it is being handled in `test-infra/jobs/e2e_node/benchmark_config.yaml`) and `conformance/`

[2020-08-04 06:31] abhty822 commented on #93668
I reviewed the code
https://github.com/kubernetes/kubernetes/blob/9fb34eddedca31c9e36b0adfeda6219a0efa6cb4/pkg/kubelet/kubelet_pods.go#L598
**In this code，only put "container.EnvFrom" to "tmpEnv" ,but "container.Env" is assign values in order
This leads to the above problems**

[2020-08-04 07:35] everpeace opened #93671 "Device Plugin: Add PreStartTimeoutSeconds field in DevicePluginOptions"
**What would you like to be added**:

I would like to make KubeletPreStartContainerRPCTimeoutInSecs configurable.

**Why is this needed**:

Currently, kubelet calls device plugin's `PreStartContainer ` endpoint with [hardcorded timeout (`KubeletPreStartContainerRPCTimeoutInSecs=30`)](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cm/devicemanager/endpoint.go#L175-L179).

But our

[2020-08-04 07:36] everpeace commented on #93671
/sig node

[2020-08-04 07:56] n1koo commented on #92382
I've just somehow gotten the same issue(?). Not sure what changed actually, haven't added any new clusters or changed config.

[code]

A few runs of:

[code]
[code]
[code]

I'm also using `oh-my-zsh` `kubectl` plugin which leverages the command to show current context and thats what got me digging as shell got so much slower than usual

[2020-08-04 08:05] mitar commented on #69640
/remove-lifecycle stale

[2020-08-04 08:37] kkendzia opened #93674 "NodePort is not exposed over the kube-ipvs0 interface"
We are currently migrating from Docker Swarm to k8s (bare metal) and we cant reach the SFTP service in the pod.
Service:

But I can't reach it even from the same server: (Timeout added for demonstration)

The server itself is reachable from a different pod in the same namespace - therefore I guess it has probably something to do with the NodePort expose itself or the configuration.

Exposing the s

[2020-08-04 08:37] pohly commented on #90752
/remove-lifecycle stale

[2020-08-04 08:38] kkendzia commented on #93674
/sig Network

[2020-08-04 08:39] kkendzia commented on #93674
I got the same issues with the official helm chart "lamp"

[2020-08-04 08:44] jkaniuk commented on #93506
64Gi is too much, we need to find a proper limit:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-scale-correctness/1290256507270598656
`Job execution failed: Pod scheduling timeout.`

/cc @jprzychodzen

[2020-08-04 09:31] cn-mayank commented on #81723
We would also benefit a lot from this information, struggling with gke without this at the moment

[2020-08-04 10:21] mm4tt commented on #93608
This can be done similarly to the node-labels flag - https://github.com/kubernetes/kubernetes/blob/8d54a84507c622e1552373d5d125c84ee22d1465/cmd/kubemark/hollow-node.go#L90

/good-first-issue
/help-wanted

[2020-08-04 10:26] thomacos commented on #88554
/assign @thomacos @claudiubelu @adelina-t

[2020-08-04 10:31] neolit123 commented on #93533
@nickperry any updates? can this ticket be closed?

/remove-kind bug
/triage support

[2020-08-04 10:33] neolit123 commented on #93386
you can also use the support channels for general questions:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

/close

[2020-08-04 10:33] #93386 closed

[2020-08-04 10:34] neolit123 commented on #93393
/sig network
/remove-triage support
/triage unresolved

[2020-08-04 10:35] adelina-t commented on #88554
@thomacos It makes sense, with maybe the exception of 2. Create yaml file. I think we can create the pod spec directly in test code, something like this: https://github.com/kubernetes/kubernetes/blob/a097243cbae780f5e2dadc4630f4204fc6500f97/test/e2e/apps/daemon_set.go#L183-L184

I find it's much cleaner to have everything we need contained in the test code.

[2020-08-04 10:35] neolit123 commented on #92574
/remove-kind bug
/triage support

[2020-08-04 10:36] neolit123 commented on #92574
you can try asking for help on the support channels or #sig-auth on k8s slack:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-08-04 11:21] kshitijcode commented on #93608
I can try to fix this :)
/assign

[2020-08-04 11:38] bboreham commented on #93641
Thanks for finding this!

Personally I think any lines of the form `defer wg.Wait()` are a bug waiting to happen, and in all the cases introduced by #46094 are unnecessary - we can simply call `wg.Wait()` at the end.

[2020-08-04 11:44] kshitijcode commented on #93608
@mm4tt : Is setting `--register-with-taints` of type map ?

[2020-08-04 11:47] kitttsu commented on #84925
In my case,I enabled to IPv6 on k8s'master node then I solved similar problem.

[2020-08-04 11:55] cwsolee commented on #93621
@BenTheElder Hi Ben, my team start looking at adding s390x test, you probably saw our PR https://github.com/kubernetes-sigs/kind/pull/1705 which is part of that. Or feel free to let me know if we should help with other task.

[2020-08-04 12:09] neolit123 commented on #92647
this is unsupported for the time being, please see:
https://github.com/kubernetes/kubernetes/issues/18226#issuecomment-430510491

/close

[2020-08-04 12:10] #92647 closed

[2020-08-04 12:12] JohnJAS opened #93682 "kube-proxy v1.19.0-rc.3 add reject rules in iptables"
**What happened**:
I was do the test of upgrading k8s to 1.19.x , but after updating kube-proxy binary to v1.19.0-rc.3, all services on this node are unavailable. Details below.

Lots of **REJECT** rules are added into iptables. It said they have no endpoints but they acctually have and they work on the other nodes not upgraded.
_...
REJECT     udp  --  anywhere             172.17.17.78         /*

[2020-08-04 12:15] kshitijcode commented on #93100
@soltysh Can I assign this issue to me  if its not taken ?

[2020-08-04 12:22] JohnJAS commented on #93682
/sig network

[2020-08-04 12:30] aojea commented on #93682
@JohnJAS can you describe better your upgrade process?
Have you upgraded the apiserver and the controller-manager before kube-proxy?
kube-proxy 1.19 is using endpointslices instead of endpoints, if the endpointslice controller is not running, kube-proxy won't be able to work correctly (Rob please correct me if I'm wrong)
/cc @robscott

[2020-08-04 12:33] radunicolae opened #93684 "kube-controller-manager modifies ELB listeners and removes HTTPS protocol from ELB"
**What happened**:
kube-controller-manager modifies ELB listeners, replacing the HTTPS Load Balancer Protocol with HTTP

**What you expected to happen**:
I was expecting the ELB not to get modified

**How to reproduce it (as minimally and precisely as possible)**:
It has happened twice on the same service, I haven't tried to reproduce it
**Anything else we need to know?**:

**Environment**:
- Kube

[2020-08-04 12:33] radunicolae commented on #93684
@kubernetes/sig-aws-misc

/sig aws

[2020-08-04 12:40] radunicolae commented on #93684
@kubernetes/sig-cloud-provider-bugs

[2020-08-04 12:44] rickard-von-essen commented on #80633
This also breaks running k8s on ChromeOS inside Crostini (Linux Debian LXC container).

[2020-08-04 12:53] aojea commented on #93393
thanks for updating the issue, but this was already answered here

https://github.com/kubernetes/kubernetes/issues/93393#issuecomment-663397487

since we didn't have any answer in more than 10 days I'll close it
/close

[2020-08-04 12:54] #93393 closed

[2020-08-04 12:59] JohnJAS commented on #93682
hi aejea,
apiserver, controller, scheduler, kubelet were upgraded before I upgarde kube-proxy service. After failed. I replace the kube-proxy 1.19.0-rc3 with 1.19.0-beta2 binary,  and it works. The REJECT rules are removed from iptables. So I think it might be some changes in the rc build cause this issue

[2020-08-04 13:04] liggitt commented on #93682
adding to the milestone for investigation/triage

[2020-08-04 13:06] thomacos commented on #88554
Thanks, @adelina-t!

We created a fork for the Windows device plugin e2e tests at https://github.com/Kerstin08/kubernetes_device_plugin_e2e_test.

May I ask you the following?

We don't understand https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/device_plugin_test.go#L89-L96.
It seems to create a daemon set, but returns a specific pod. Does this code automatically return the (fir

[2020-08-04 13:21] adelina-t commented on #88554
Hm, I don't think it creates a daemon set at all. It just uses reads the daemonSet spec from the file and uses that to fill in the create the pod spec it returns. In turn, you can see it creates that pod here: https://github.com/kubernetes/kubernetes/blob/master/test/e2e_node/device_plugin_test.go#L133 . It specifically creates a pod, no mention of a daemonSet creation. But this is just at first g

[2020-08-04 13:29] jetersen commented on #45419
a docker restart on all my workers fixed my issue.

[2020-08-04 13:32] thomacos commented on #88554
Since, from our understanding, a daemonSet is the normal way of creating device plugins, why is this test not using a daemonSet?
What approach should be use for our e2e test?
Our assumption was to create a daemonSet (as we are doing for our real use-cases).
Or would you suggest to use the approach of directly creating a device plugin pod without using a daemonSet as done in https://github.com/kube

[2020-08-04 13:35] aojea commented on #93682
interesting, endpoint slices in kube-proxy was enabled in rc0
https://github.com/kubernetes/kubernetes/commit/8039cf9bb1a3d3c600c0eaf35b53b008f0226ffc

@JohnJAS do you have logs that you can attach to the issue, running kube-proxy with 1.19.0-rc3?
preferably if you can run kube-proxy with the -v7 flag to add more verbosity

[2020-08-04 13:36] adelina-t commented on #88554
I don't really understand why they designed the test the way they did. I suspect it's because it's just simpler to use a pod. However, a test should be an automation of a real world, so if usage in real use-cases says DaemonSet, you can do that.

[2020-08-04 13:40] thomacos commented on #88554
Do you by chance have sample code around for creating a DaemonSet?

[2020-08-04 13:44] neolit123 commented on #93684
/area provider/aws

[2020-08-04 13:44] thomacos commented on #88554
Yes, indeed, we should have found that by ourselves.
Thanks!

[2020-08-04 13:45] neolit123 commented on #93666
/remove-help
/remove-bug
/triage support

please read here:

https://kubernetes.io/docs/tasks/configure-pod-container/security-context/

/close

[2020-08-04 13:46] #93666 closed

[2020-08-04 13:46] neolit123 commented on #93666
for general support questions please use the support channels:
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md

[2020-08-04 14:02] AntonSmolkov commented on #87615
I know this is silly, but must work as a temporary workaround:
<details><summary>Expand yaml</summary>
<p>

[code]

</p>
</details>
(This is rancher specific, but can be easily adapted to any distribution using docker)

Amount of time for `sleep` and `--since` must be less than cluster's `pod-eviction-timeout` (5m by default)

BTW -  `docker pause nginx-proxy` on rancher worker node makes kubelet

[2020-08-04 14:16] jprzychodzen opened #93685 "Performance test in 5k scale failed with because of fatal error: runqsteal: runq overflow error"
**Which jobs are flaking**:
ci-kubernetes-e2e-gce-scale-performance

**Which test(s) are flaking**:
testing/load/config.yaml

**Testgrid link**:
https://testgrid.k8s.io/sig-scalability-gce#gce-master-scale-performance

**Reason for failure**:
Kube-apiserver has panicked during 'Delete SVCs' step with  message `fatal error: runqsteal: runq overflow`.

**Anything else we need to know**:

* https://p

[2020-08-04 14:18] alculquicondor commented on #93500
then this plugin will have a single line of code (calling assumePod).

You are right in that this is similar to defaultBind. The advantage there was that there are no internal dependencies. Just API calls.

[2020-08-04 14:19] jprzychodzen commented on #93685
@kubernetes/release-engineering PTAL

[2020-08-04 14:23] alculquicondor commented on #93565
there is always going to be that the constraints are not satisfied. That's how scoring works. If other scores are more important, we are going to honor them.

What changes in 1.19 is that topology spreading has more meaningful scores that achieve better spreading.

[2020-08-04 14:23] alculquicondor commented on #93565
/close

[2020-08-04 14:24] #93565 closed

[2020-08-04 14:24] BenTheElder commented on #93685
https://github.com/golang/go/issues/40457

[2020-08-04 14:25] BenTheElder commented on #93685
There may(?) be an rc2 https://github.com/golang/go/issues/40544#issuecomment-668107314

[2020-08-04 14:27] thomacos commented on #88554
Thanks a lot for the help!

May I ask another question?
When having created a busybox test pod as in
https://github.com/kubernetes/kubernetes/blob/a5b89b8e3c533923cdcb7d85abe53dc601ebed7e/test/e2e/windows/device_plugin.go#L64-L65
is it easily possible to run a command inside the pod which writes a file and then verify the content of that file?

In our case we want to run
[code]
inside the pod and

[2020-08-04 14:31] bradtopol commented on #93621
Hi @dims Thanks for the heads up!  I believe @cwsolee and her team will start addressing this. Can you help her to navigate the needed KEPs or architectural reviews to be able to proceed with this work?  Thanks!

[2020-08-04 14:31] JohnJAS commented on #93682
@aojea Here is the kube-proxy log on my k8s 1.19.0-rc2 env. It looks like the endpoint slice config controller is the key point. Is kube-controller-manager not including the endpoint slice config controller?
[kube-proxy.log](https://github.com/kubernetes/kubernetes/files/5022663/kube-proxy.log)

[2020-08-04 14:46] mm4tt commented on #93685
/milestone v1.19

[2020-08-04 14:49] zepatrik opened #93686 "Atomic Writer creates symlink for configmap files before the files are created"
**What happened**:

When writing a kubernetes configmap proof file watcher I noticed that symlinks to files are created before the files themselves exist (step 7 in https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/util/atomic_writer.go). This results in an error when the file watcher tries to read the file on it's corresponding CREATE event.

**What you expected to happen**:

The at

[2020-08-04 14:52] zepatrik commented on #93686
/sig storage

[2020-08-04 14:57] aojea commented on #93682
what if kube-proxy is the sympton?

@JohnJAS do you have endpointslices objects in the cluster for all the services? i.e.

[code]

also I think that controller-manager logs should be useful too

[2020-08-04 15:09] adelina-t commented on #88554
You can do something like this: https://github.com/kubernetes/kubernetes/blob/edbbb6a89f9583f18051218b1adef1def1b777ae/test/e2e/node/kubelet.go#L110

[2020-08-04 15:34] denkensk commented on #93500
----
yes, you are right. In the end, it might be just single line of code in `defaultReserve`(calling assumePod) and `defaultUnReserve`(calling forgetPod). But it makes all phases of scheduling can be implemented by plugins in Framework.
This increases the flexibility of our framework. Meanwhile，it also protects the cache of scheduling.
@alculquicondor

[2020-08-04 15:39] adtac commented on #93117
I've updated the doc to make the syntax a bit more concise whilst keeping the same functionality, PTAL. This should reduce config toil a lot. Writing the same workload in the new yaml format will require fewer lines in most cases.

[2020-08-04 15:52] robscott commented on #93682
Agree that this seems to indicate that there are not enough EndpointSlices in the cluster. The kube-proxy log shared only seems to be processing 1 EndpointSlice, the one created by the API Server. I believe that would be created as long as the API Server had the EndpointSlice feature gate enabled, something that happened by default in Kubernetes 1.17.

Thanks to your detailed information around ho

[2020-08-04 15:53] tehleet commented on #93390
https://docs.aws.amazon.com/eks/latest/userguide/delete-cluster.html

[2020-08-04 15:53] #93390 closed

[2020-08-04 15:54] jean-edouard commented on #90759
/remove-lifecycle stale

[2020-08-04 15:56] liggitt commented on #93682
That is an invalid upgrade. Skipping a version on control plane upgrades is not supported. See https://kubernetes.io/docs/setup/release/version-skew-policy/#supported-component-upgrade-order for supported upgrade order and permitted version leaps.

[2020-08-04 15:58] liggitt commented on #93682
As @robscott notes, the 1.18 controller-manager started writing endpointslices, and the 1.19 kube-proxy component will start consuming them. Ensure all control plane members are at 1.18 before beginning the 1.19 upgrade.

[2020-08-04 15:58] liggitt commented on #93682
/close

[2020-08-04 15:58] #93682 closed

[2020-08-04 16:04] bcanozter commented on #93538
Oh ok. Apparently I missed that detail. Thanks.

It is still problematic with ` kubectl rollout restart deploy ` because the pod from `rollout restart` sees that nodes aren't available, where older replicas running. Is there a solution to this? If I use `preferredDuringSchedulingIgnoredDuringExecution` then it is likely that replicas ends up on the same node.

![image](https://user-images.githubus

[2020-08-04 16:06] alculquicondor commented on #93500
That's not a "why" :)

Could you clarify what is the underlying need? I don't think there is enough justification for a "cleanup".

[2020-08-04 16:18] spiffxp commented on #92937
https://github.com/kubernetes/test-infra/issues/18530 describes some of the more immediate changes we're making around resource requests etc.  Doesn't cover any of the specifics around shuffling jobs around or optimizing specific jobs being discussed above.

[2020-08-04 16:23] denkensk commented on #93500
I am trying to implement `GPU Topology Scheduling For Distribute Training of PodGroup` base on framework.  We need to choose the best topology at once for podGroup and use pod group as a unit to reserve resources at `Reserve`. So I want to implement my own `assumePod` in `Reserve` other than use the `defaultReserve`. @alculquicondor

[2020-08-04 16:28] hasheddan opened #93688 "[Flaky Test] [sig-instrumentation] MetricsGrabber should grab all metrics from a ControllerManager (ci-kubernetes-e2e-ubuntu-gce-containerd)"
**Which jobs are flaking**:

` gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)`

**Which test(s) are flaking**:

`[sig-instrumentation] MetricsGrabber should grab all metrics from a ControllerManager`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

**Reason for failure**:

[code]

**Anything else we need to know**:

/sig

[2020-08-04 16:30] alculquicondor commented on #93500
Can't you do that in Reserve plugins? That's what we do for volumes.

[2020-08-04 16:33] alculquicondor commented on #93500
Is that different from the co-scheduling plugin? Since the scheduler can only schedule one pod at a time in its current architecture, I don't see how you would achieve scheduling multiple pods at the same time without significantly changing the scheduler.

[2020-08-04 16:38] Huang-Wei commented on #93538
@bcanozter that's as expected as you only have 2 topology domains (nodes).

One option is to change `.spec.strategy.type` to "Recreate" (instead of default "RollingUpdate"), if it's accpectable.
The other option is to use the PodTopologySpread feature, so that you can spread the pods evenly onto the 2 nodes.

[2020-08-04 16:45] denkensk commented on #93500
---
Yes, This is the biggest problem in the framework scheduling workload of AI/ML.

---
Simply, it is to find other pods belonging to the same pod group through one pod. Then scheduling multiple pods as the same time. This may look like Co-scheduling.

[2020-08-04 16:54] bcanozter commented on #93538
`Recreate` strategy is not feasible. I will look into the `PodTopologySpread` feature. Thank you.

[2020-08-04 16:54] #93538 closed

[2020-08-04 16:58] #93659 closed

[2020-08-04 16:59] shahrukh330 commented on #63371
+1 for a fix for this issue. Ran into this issue on prod.

[2020-08-04 17:17] logicalhan commented on #76302
/remove-lifecycle stale

[2020-08-04 17:31] bboreham commented on #45419
@jetersen do you have "live-restore" enabled on Docker?
The default is to restart all containers when you restart Docker, which is a pretty large hammer to hit the problem with.

[2020-08-04 17:49] alculquicondor commented on #93117
lgtm

[2020-08-04 18:09] BenTheElder commented on #92937
- For the purposes of testing Kubernetes, multi-node X operating system is not really relevant. (multi-node logic is not OS specific and happens at a higher layer, also relatively few tests depend on multi-node)
- cloud-init is not something we should be focused on testing in kubernetes presubmit (!)
- The nodes are real enough for the most part. The current gap in test coverage is artificial and

[2020-08-04 18:20] tpepper commented on #93685
/priority critical-urgent
Can @kubernetes/sig-scalability-leads affirm whether this should be considered Kubernetes 1.19 release blocking?  It's currently considered a golang 1.15 release blocker, so implicitly it is a Kubernetes 1.19 release blocker.  But if the golang community were to change its stance, what would we do?

[2020-08-04 18:36] cjwagner commented on #93637
This sounds good to me, here are my two cents:
Addressing https://github.com/kubernetes/test-infra/issues/7690 by rewriting the `approve` plugin would allow the plugin to support the OWNERS file regular expression filtering. That would help with defining different approvers for files in the same directory like what might be desired for `go.sum` or files with specific extensions. Adding support for

[2020-08-04 18:52] lavalamp commented on #93637
Would it be enough to make root owners non-recursive? Would e.g. adding new top-level directories play nicely with that?

[2020-08-04 19:14] jlegrone commented on #91074
We have this asynchronous "plan, approve, apply" use case in mind as well, and it would be very useful if we could guarantee that the plan displayed to a human approver will never do something unexpected when applied.

We care about values as well. So far I think these two options have been raised:

1. Specify which fields should be forced (error out if new conflicts are detected)
2. Error out if

[2020-08-04 19:22] jetersen commented on #45419
@bboreham not as big as destroying and recreating the cluster 😅

[2020-08-04 20:15] apelisse commented on #93609
cc @immutableT Are you interested in looking at the KMS test?

[2020-08-04 20:16] apelisse commented on #93634
/sig auth

[2020-08-04 20:17] apelisse commented on #93641
/assign @cheftako

[2020-08-04 20:18] liggitt commented on #93634
Subresources don't distinguish between collection and individual access patterns. They're intended to be scoped to a single resource.

[2020-08-04 20:32] Huang-Wei commented on #93117
LGTM as well.

[2020-08-04 20:41] cbf123 opened #93691 "fix for https://github.com/kubernetes/kubernetes/issues/68211 not working on 1.18.1 with containerd"
**What happened**:
I patched back https://github.com/kubernetes/kubernetes/pull/89629/commits/6c2562a579b2356c54898d262ec578d5fded1e24 to 1.18.1 and while the code applies cleanly the meaning of the variables doesn't correspond directly.

I used dlv to look at the values of mntInfo.Root and subpath.Path at the point in the code corresponding to line 117 of  pkg/volume/util/subpath/subpath_linux.go

[2020-08-04 20:41] cbf123 commented on #93691
/sig storage

[2020-08-04 20:44] cbf123 commented on #93691
As a second data point:
(dlv) print mntInfo
k8s.io/kubernetes/vendor/k8s.io/utils/mount.MountInfo {
        ID: 799,
        ParentID: 50,
        Major: 0,
        Minor: 164,
        Root: "/..2020_07_30_18_30_50.335642872/ext-ca.crt",
        Source: "tmpfs",
        MountPoint: "/var/lib/kubelet/pods/bcc46dfe-9fe5-4188-83f0-54cfd0504bc2/volume-subpaths/ext-cacrt/c-beat-setup/5",
        Option

[2020-08-04 20:54] spencerhance opened #93693 "[Failing Test] sig-network-ingress-gce"
**Which test(s) are failing**:

* ~~[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should support multiple TLS certs~~

* ~~[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] multicluster ingress should get instance group annotation~~
* ~~[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should conform to Ingress spec~~
* ~~[sig-network] Loadbalancing: L7 GCE [Sl

[2020-08-04 20:54] liggitt opened #93694 "Kubectl skew tests are failing"
**Which jobs are failing**:

* ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew
* ci-kubernetes-e2e-gce-stable1-beta-gci-kubectl-skew

https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=Kubectl&job=skew

**Which test(s) are failing**:

Steadily failing tests making signal from the skew jobs unusable:
* `[sig-cli] Kubectl client Kubectl rolling-update should support rolling-updat

[2020-08-04 20:54] spencerhance commented on #93693
/sig network

[2020-08-04 20:55] liggitt commented on #93694
cc @hasheddan

I think you looked at some of these and it looked like kubectl tests were making use of deprecated functionality. Detecting/omitting tests of deprecated functionality in the release the function is removed seems reasonable.

[2020-08-04 20:56] liggitt commented on #93693
adding to the milestone for investigation, since ingress was touched this release

/milestone v1.19

[2020-08-04 21:18] JnMik commented on #77081
It's an everyday problem.
I managed multi Kubernetes stacks and I face issues of resources not fully deleted every single day.

Classic deployment error:
Error: Failed to create deployment: object is being deleted: deployments.apps "dashboard" already exists

Racing condition in pipelines and stuff like that, really annoying

[2020-08-04 21:27] liggitt commented on #93694
/milestone v1.19

adding to the milestone for sig-cli to resolve the root cause ... these jobs are the primary way we know we're meeting our kubectl compatibility commitments

[2020-08-04 21:28] liggitt commented on #93694
/assign @soltysh @seans3

[2020-08-04 21:29] liggitt commented on #93691
does that mean https://github.com/kubernetes/kubernetes/pull/93272 was a flawed cherry-pick?

[2020-08-04 21:36] aojea commented on #93674
The NodePort is exposed in the node/host IP, not in the pod IP, however your log is misleading, it shows that the connection is established but not able to complete the session exchange

...

[2020-08-04 22:06] msau42 commented on #93691
We don't seem to run containerd tests on older releases. Will revert the changes for now until we can do  more testing.

[2020-08-04 22:10] msau42 commented on #93691
/assign

[2020-08-04 23:36] jsturtevant commented on #88974
The set of tests that were running because they on an older cross-build version has been resolved by kubernetes/test-infra#18290.

There is a new set of tests that are failing:

[code]

These tests look specific to GCE.  Maybe @pjh might know what is happening in them?

[2020-08-04 23:36] reith opened #93699 "UserInfo.UID is not passed by client-go"
It looks UserInfo.UID is newer than other fields and while #49677 added it SubjectAccessReviewSpec for webhook authorization, it's still not being sent by client-go in headers. Also there is no flag in APIServer to process those headers. As a result all authorizers needing that, may not work correctly for SubjectAccessReviews made by kube-aggregator extensions.

**What happened**:

Our webhook aut

[2020-08-04 23:37] reith commented on #93699
/sig auth
/sig api-machinery

[2020-08-04 23:46] msau42 commented on #93552
@kubernetes/sig-storage-misc

[2020-08-04 23:51] reith commented on #93634
And is architecturally wrong to be able to consider subresource as lists? There may not be many user-cases but at-least it *can* give us more specific authorization and more fine grained APIs by applying filtering like the use-case i mentioned.

[2020-08-04 23:57] liggitt commented on #93634
All existing servers parse those URLs into fixed verbs today. I would expect very strong evidence this is required (and that different levels of read access to a subresource are valuable) to justify making different versions of API servers disagree on authorization for a given request.

[2020-08-05 00:07] logicalhan commented on #90908
/cc @logicalshark

[2020-08-05 00:14] zhouya0 commented on #93694
/assign

[2020-08-05 00:26] jsturtevant commented on #64801
I went through the Pod Security Standards doc and mapped each to what can/should apply to windows and things that don't make sense. If folks want to have a look and leave comments we can discuss at a sig-windows meeting: https://docs.google.com/spreadsheets/d/1Snhqtnu38I2Sqa7UQQbD3ZwYTkXMo7L81lUHSmh7buU/edit?usp=sharing

For areas where the security context was causing issues with PSP these PR's s

[2020-08-05 00:30] slconley commented on #77920
was a cause ever discovered for this issue? I am experiencing something very similar.

[2020-08-05 01:01] thtanaka opened #93700 "Regression for kubeadm reset --force (unmount /var/lib/kubelet/ directory)"
**What happened**:
Running `kubeadm reset --force` unmount `/var/lib/kubelet` directory.
This happens previously and has been fixed by the following PR: https://github.com/kubernetes/kubernetes/pull/71663
But seems like there is a change in the reset code path since 1.15

**What you expected to happen**:
Mounted `/var/lib/kubelet` shouldn't be unmounted when running `kubeadm reset --force`

**How

[2020-08-05 01:02] ciiiii commented on #89647
/remove-lifecycle rotten

[2020-08-05 01:02] ciiiii commented on #89647
/remove-lifecycle stale

[2020-08-05 01:03] #93700 closed

[2020-08-05 01:16] robscott commented on #93374
#93520 is still the best approach I can come up with here. It is ready for review if anyone has time to take a look.

[2020-08-05 01:43] BarnumD commented on #73412
In my case, I believe the kubernetes host ran out of RAM and was killing the container.  The container would start back up and try to rescue the database, eating up RAM until it was killed again.  This would keep repeating.  I imagine the files were getting locked somewhere during this process.  I had to increase my kubernetes VM memory size.  Since then I haven't had this issue.

[2020-08-05 02:58] JohnJAS commented on #93682
Hi @robscott

Thanks for your analysis.

Yes, after I upgrade all cluster components, then I upgrade kube-proxy, it works.

But now I have a small question, I try to disable the feature-gate of EndpointSlice in kube-proxy but it doesn't work.

`--feature-gates=EndpointSlice=false,EndpointSliceProxying=false`

Then I add this configuration in controller manager but not work neither.

Is the feature

[2020-08-05 03:03] HuangShujun commented on #93666
Actually I still do not get answer . Because the container images already set UID and GID by USER command

[2020-08-05 03:16] liggitt commented on #93599
Fix and picks are merged

[2020-08-05 03:16] #93599 closed

[2020-08-05 03:18] liggitt commented on #93685
This is already fixed in https://github.com/golang/go/commit/6b4dcf19fa493905689dedc27f2232b74c366057 and will be in go1.15 (master is not yet open for go1.16)

[2020-08-05 03:29] gobomb commented on #93641
Your fix looks better.  I think using `defer` is easy to make mistakes . It not only defers the execution of a function, but also has some side effects ...

[2020-08-05 03:30] RameshJampana opened #93705 "e2e test failed with admission webhook and CustomResourceConversionWebhook"
Hi Team,
Can you please look into this issue.
PLUGIN STATUS RESULT COUNT
e2e complete failed 1

Our k8s environment uses proxy and is this causing these failures? Please let us know whether e2e runs behind the proxy? or we need any argument to pass while running with proxy.
attached tar file for the latest run with 20 tc failures(all related to admission web hook and crd)
please let me know if any

[2020-08-05 03:31] RameshJampana commented on #93705
/sig-api-machinery

[2020-08-05 04:09] robscott commented on #93682
Hey @JohnJAS, that's a good question. The only thing that changed around those feature gates in the 1.19 release is the default value for the `EndpointSliceProxying` feature gate. That's still checked [in the iptables proxier](https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L288) and elsewhere. What is happening when it "doesn't work"? Disabling the `EndpointSlic

[2020-08-05 04:56] yongruilin opened #93708 "Probe API HTTPHeader with ValueFrom"
**What would you like to be added**:
The HTTPHeader [api](https://github.com/kubernetes/api/blob/4859c947397736b7b452bf4564e7b9b231a5b8f7/core/v1/types.go#L2034) only support plaintext. Maybe we can have something like this
[code]
**Why is this needed**:
We are implementing our own probe controller using the probe API. It would be helpful if have a `valueFrom` field added to HTTPHeader so that the

[2020-08-05 06:00] wojtek-t commented on #93685
That sounds like non-negligible problem, so I think it should be release blocking.
But given Jordan`s comment above it probably isn't a big problem - thanks Jordan for tracking this!

[2020-08-05 06:46] RameshJampana commented on #93705
@neolit123
Could you please check, as informed i have created new issue https://github.com/kubernetes/community/issues/5006#issuecomment-668528266

[2020-08-05 07:13] anguslees commented on #53533
I did not.  (I did dig into the docker code a bit, but I've forgotten all about it by now and would need to start again)

Other volunteers welcome!  I hope I did not steal the oxygen from someone by saying I would work on this and then failed to follow through :(

[2020-08-05 07:19] manjeetsorout opened #93711 "node get DiskPressure status true"
my pod status shows as "PENDING". When I run kubectl describe pod on the pod, I get the following:
NAME                                READY   STATUS    RESTARTS   AGE
nginx-deployment-6b474476c4-dq26w   0/1     Pending   0          37m
nginx-deployment-6b474476c4-wjblx   0/1     Pending   0          37m

**What happened**:
If I check on my node health, I get:

Taints:             node.kubernetes.

[2020-08-05 07:22] manjeetsorout commented on #93711
/sig node
/sig storage

[2020-08-05 07:46] huangxinxin-szu commented on #93559
i have noticed this problem also, and sometimes, it seems to be work normally.

[2020-08-05 07:47] huangxinxin-szu commented on #93559
i have noticed this problem also, and sometimes, it seems to work normally.

[2020-08-05 07:57] pmmalinov01 commented on #67455
This is still the case. If you want to patch a node capacity field via kubectl patch like:
`kubectl patch node kind-control-plane --type='json' -p='[{"op": "add", "path": "/status/capacity/example.com~1dongle", "value": "5"}]'`
It still accepts it and prints out the patched is applied. But when you check that is not the case

[2020-08-05 08:06] kkendzia commented on #93674
So the thing I found out is:

I can't access the NodePort over the kube-ipvs0 interface (But this is possible with ingress - LoadBalancer). I also can't access it by localhost but eth0 is working properly.

This means that when I have 2 worker nodes then I have to know which host the pod is deployed on and nodePort is not cluster-wide but just bound to the node itself?

[2020-08-05 08:43] bibinphilip opened #93712 "start-stop-daemon: failed to exec `/usr/local/bin/kubelet': No such file or directory"
OS: Alpine v3.11.6
Kubernetes v1.18.6
Downloaded Kubelet file from: storage.googleapi.com/.../amd64/kubelet
Kubelet service is not working in worker node. Though kube-proxy service is running. I have attached the error file and service file of the kubelet.

Error: start-stop-daemon: failed to exec `/usr/local/bin/kubelet': No such file or directory

I have tried to start the service with "sudo rc-

[2020-08-05 08:50] aojea commented on #93674
I think that's working as expected ... but I'm not completely sure, that's more a support question for some IPVS guys :smile:

with NodePort The port is exposed in all nodes, exposing services/apps in kubernetes is different than in docker swarm, you have a nice explanation here
https://medium.com/google-cloud/kubernetes-nodeport-vs-loadbalancer-vs-ingress-when-should-i-use-what-922f010849e0

For

[2020-08-05 09:07] kkendzia commented on #93674
Ok thats what I thought!

This wasn't meant to be a support thingy - I was kind of sure that this is an IPVS issue anyway (https://github.com/kubernetes/kubeadm/issues/2205 corroborate my assumption)! But thanks anyway!

[2020-08-05 09:08] radunicolae commented on #93684
I think I found the problem, I redeployed the app in a test cluster and namespace and to my surprise the SSL cert was not applying.
This were my original annotations:
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: "http"
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: "CERT_ARN"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "https"

They led to the ELB

[2020-08-05 09:31] jdomag opened #93713 "AWS ELB forwards traffic to deleted pod"
**What happened**:
I have a deployment with 2 pods and LoadBalancer service associated that expose ELB in AWS.
When i do `kubectl delete pod xyz` i see that a pod got removed from list of endpoints however traffic from outside a cluster is still reaching the pod that being deleted (during its gracefull shutdown period).

**What you expected to happen**:
When the pod gets deleted from endpoint list

[2020-08-05 09:32] mb-m commented on #93409
@liggitt @caesarxuchao @roycaihw please let me know if there's anything more you need from me

[2020-08-05 09:35] aojea commented on #93674
ahh ok, sorry, but then you should reformulate the question because it's not clear what is the problem, the link that you point is about dual stack, is not related to this issue by your description

Is your question then that you expose a nodeport and ... "I can't access the NodePort over the kube-ipvs0 interface (But this is possible with ingress - LoadBalancer). I also can't access it by localho

[2020-08-05 10:01] MilovdZee commented on #30961
Some better error messages would be very nice. I made a tab mistake and the error message does not help.

[2020-08-05 10:05] #85560 closed

[2020-08-05 10:07] kwiesmueller commented on #92844
/wg api-expression

[2020-08-05 10:07] kwiesmueller commented on #89954
/wg api-expression

[2020-08-05 10:24] kkendzia commented on #93674
Yeah... Probably my question isn't that clear. Let's close this down and I open up something at stackoverflow.

What's very misleading in the [doc ] https://kubernetes.io/docs/concepts/services-networking/service/#nodeport
)is

So kube-proxy has "nodePortAddresses: null" but it's not reachable on all interfaces with ipvs. With iptables it's working (just confirmed it with a test cluster)

[2020-08-05 10:31] zffocussss commented on #54610
@andyzhangx ,Hi andy,I come from AKS documents.I have a question like @arsalans .please see the below configuration
[code]
If I have set up an azure file share which quota is 1G on azure storage service,how much capacity should I specify in the PV defination or storage in PVC.I am confusing about the actual size of mount data.
there are three size.
1. the real size(quota) in azure file share
2.cap

[2020-08-05 10:33] nikhita commented on #93637
I think we'll need a KEP for the approval plugin revamp before moving onto the implementation (I have previously looked at the plugin and have bandwidth to work on this now).

The KEP would cover:

- Support for granular approval -  `/approve <dir|file>`
- Support for regex filtering for approvers in OWNERS - https://github.com/kubernetes/test-infra/issues/7690
- Ability to track usage of blanket

[2020-08-05 10:44] aojea commented on #93674
/retitle  NodePort is not exposed over the kube-ipvs0 interface
/triage unresolved
/area ipvs

That's a fair question, @andrewsykim @uablrek  can you please confirm if this is the expected behavior for IPVS? not exposing NodePorts on the kube-ipvs0 interface?

[2020-08-05 11:01] andyzhangx commented on #54610
@zffocussss the size in three configs should be identical. If you bring your own file share, k8s won't check if size in 2 or 3 is not identical to in 1. To make your config more simple, it's better make them identical.

[2020-08-05 11:31] georgettica commented on #93559
so I found out that in [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/job/job_controller.go#L509) the test is `times + 1` so this can cause the issue.. it has been there from the beginning of the codes inception..

WDYT?

[2020-08-05 11:54] uablrek commented on #93674
`kube-ipvs0` is usually "down" and it is a "dummy-interface" meaning it can't be used for traffic, it server only as a place-holder for addresses. If you explicitly use kube-ipvs0 and it fails the simple answer is; don't do that.

[2020-08-05 11:54] claudiubelu commented on #93048
The test passed 2x consecutively. We can close this now.

https://testgrid.k8s.io/sig-windows-sac#aks-engine-azure-windows-2004-master

/close

[2020-08-05 11:54] #93048 closed

[2020-08-05 12:03] RameshJampana commented on #93705
@caesarxuchao @liggitt @sttts @deads2k @lavalamp
sig/api-machinery

[2020-08-05 12:09] neolit123 commented on #93705
/sig api-machinery

[2020-08-05 12:09] neolit123 commented on #93705
/remove-triage support
/kind failing-test

[2020-08-05 12:10] sharkymcdongles commented on #79365
I suspect the reason most of us are here is our beloved nginx-ingress-controller fails to autoscale leading to many tears and much frustration. It seems the chart is giving same labels to defaultbackend causing this issue. Set this in your values yaml to get around it:

[code]

Feel free to change the labels to whatever you want if you want to be more creative. :D

[2020-08-05 12:11] neolit123 commented on #30961
the library that is used for YAML -> JSON conversion is located here:
https://github.com/kubernetes-sigs/yaml

contributions are welcome!
/unassign

[2020-08-05 12:21] liggitt commented on #93705
can you provide more details about your setup:
* what kind of proxy are you using? How is it set up?
* what are the apiserver flags/config?
* what is the full error of the test failure (especially including the line that the timeout occurs on)?

[2020-08-05 12:42] jdomag commented on #93713
/sig cloud-provider
/sig network

[2020-08-05 12:50] kkendzia commented on #93674
This means that under any circumstances when using NodePort I shouldn't access the service over an IP of interface kube-ipvs0 but i.e. eth0. loopback isn't working either btw.

[2020-08-05 13:09] wojtek-t commented on #90652
/remove-lifecycle stale

[2020-08-05 13:23] vladikr commented on #90759
@rhatdan Could you please advise on this?
Thanks!

[2020-08-05 13:25] andrewsykim commented on #90652
I think https://github.com/kubernetes/kubernetes/pull/93569 will be the last PR required for this.

One other optimization that can be made is to cache the instance metadata but I think that's a provider specific implementation

[2020-08-05 13:28] wojtek-t commented on #90652
Plus enabling it for GCE if we decide to remove it from the first PR. But yeah, in general I agree.

[2020-08-05 13:28] neolit123 commented on #93708
/sig api-machinery

[2020-08-05 13:32] liggitt opened #93715 "data race in TestUpdateNodeStatusWithLease"
https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93605/pull-kubernetes-bazel-test/1290329488629960704
[code]

the test sets `kubelet.machineInfo.MemoryCapacity` in an unprotected way that races with the background eviction manager goroutine, which calls GetCachedMachineInfo, also in an unprotected way

_Originally posted by @liggitt in https://github.com/kubernetes/kubernetes/pull/93605

[2020-08-05 13:32] hasheddan commented on #58211
Closing this out with https://github.com/kubernetes/website/pull/21278

/close

[2020-08-05 13:32] #58211 closed

[2020-08-05 13:35] liggitt commented on #93715
reproduced by looping on the offending line in the test:

[code]

and then testing with -race:
[code]

[2020-08-05 13:37] SerheyDolgushev commented on #17512
Simple and quick hack:
[code]

[2020-08-05 13:40] uablrek commented on #93674
You should use a _real_ address of the node when accessing NodePort (not necessarily from eth0). The addresses on kube-ipvs0 are virtual addresses that should be used when you are not using the NodePort, such as a loadBalancer address or a clusterIP and then with the "service port" e.g 443 and not the node-port in the 30000- range.

The loopback issue is covered in https://github.com/kubernetes/ku

[2020-08-05 13:41] boniek83 commented on #17512
Device plugins are not there. They should be. Such devices are resources as well.

[2020-08-05 13:43] kkendzia commented on #93674
Thank you very much for this explanation!
/triage resolved

[2020-08-05 13:43] #93674 closed

[2020-08-05 13:48] liggitt commented on #93715
it looks like most of the places that set `kubelet.machineInfo = machineInfo` or set subfields of machineInfo after calling newTestKubeletWithImageList or newTestKubelet are unsafe... the eviction manager is already started, and is racing in the background reading the cached machineInfo struct

[2020-08-05 13:52] Tioborto commented on #32457
any ETA ? @thockin

[2020-08-05 13:55] hasheddan opened #93716 "[Flaky Test] [sig-scalability] there should be no high-latency requests (ci-kubernetes-e2e-gci-gce-scalability)"
**Which jobs are flaking**:

`gce-cos-master-scalability-100 (ci-kubernetes-e2e-gci-gce-scalability)`

**Which test(s) are flaking**:

`testing/density/config.yaml`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-cos-master-scalability-100

**Reason for failure**:

[code]

**Anything else we need to know**:

This only happened once: https://prow.k8s.io/view/gcs/kuberne

[2020-08-05 13:57] mm4tt commented on #93716
This is a flake (unfortunately, our performance tests are flaky) and should not be considered a release blocker

[2020-08-05 13:57] bobveznat commented on #90794
Looks like we lost some momentum here and I'd like to avoid this falling into the abyss of bugs that never get fixed. When this bug is triggered the outcome is pretty terrible and once it does happen it is very difficult to dig into and understand what actually happened. Did we ever get this routed to the right owner?

[2020-08-05 13:58] hasheddan commented on #93716
@mm4tt thanks! I'll bump milestone and indicate not urgent

/milestone v1.20
/priority important-longterm

[2020-08-05 13:58] neolit123 commented on #93694
this test:

was removed with the "rolling-update" command removal in 1.18:
https://github.com/kubernetes/kubernetes/pull/88057/commits/932500c0151a4f0926cf07e63068248540b22f90#diff-fde2ce0a73639d19347a5ea6fe001ba6L325

a failing job such as `ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew`:
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-new-master-gci-kubectl-skew/129

[2020-08-05 14:01] wojtek-t commented on #93716
Yeah - we did a bunch do deflake our tests in previous months, but it was mostly focused on 5k-node tests (and they indeed are quite stable now).
But there is a bunch of work in front of us to deflake the smaller ones too (which aren't super bad, but are not where we would like them to be). We will be further looking into those issues.

[2020-08-05 14:06] liggitt commented on #90794
adding sig-node leads for triage/routing. this seems like a clearly reproducible bug with significant correctness issues.

/assign @derekwaynecarr @dchen1107

[2020-08-05 14:10] neolit123 commented on #93694
this file also has a variety of different labels that have to be double checked if returning the expected versions WRT the SIG CLI/kubectl tests..:
https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cli/sig-cli-config.yaml

[code]

/sig release

[2020-08-05 14:11] hasheddan commented on #93694
@neolit123 hmm I think we may want `ci/1.18-latest` here. I am not sure why the `stable-*` versions appear to be a cycle behind though. Taking a look.

/cc @kubernetes/release-managers

[2020-08-05 14:14] neolit123 commented on #93694
there is no `ci/1.18-latest`:

[code]

but i do know there is a:
[code]

in fact this gives a more recent/valid version and we use it in the kinder e2e tests.
a problem with that is that someone (or automation) has to update https://github.com/kubernetes/test-infra/blob/master/config/jobs/kubernetes/sig-cli/sig-cli-config.yaml each release.

[2020-08-05 14:16] hasheddan commented on #93694
I think the version builds are not honoring `extra-publish-file`: https://github.com/kubernetes/test-infra/blob/b7c645aa693d4ec7e7797d999d977538e356ff23/config/jobs/kubernetes/sig-release/release-branch-jobs/1.18.yaml#L217

[2020-08-05 14:17] neolit123 commented on #93694
i think the version markers / labels are worthy of a KEP where we can define what is redundant and what we need.

[2020-08-05 14:18] damemi opened #93718 "Scheduler should log processed component config"
**What would you like to be added**:
When setting a non-default component config (especially custom profiles/plugin configurations), the scheduler should at least log what plugins have been enabled at startup.

**Why is this needed**:
Debugging the scheduler almost always requires knowing what plugins are enabled. Usually, it is safe to assume that the default registry is being used but this is ob

[2020-08-05 14:19] alculquicondor commented on #93718
I would expand it to print the whole configuration.

We print all command line args, so it makes sense.

[2020-08-05 14:21] damemi commented on #93718
@alculquicondor good point it should print the whole config

[2020-08-05 14:22] liggitt commented on #93409
the primary thing at this point would be to see if the issue could be reproduced on a supported version (1.16+) or on master, ideally in an isolated test case

[2020-08-05 14:31] ahg-g commented on #93718
+1 to printing the whole configuration once initialized.

[2020-08-05 14:36] derekwaynecarr commented on #90794
@bobveznat @pires thanks for the detailed report and reproducer.  to help accelerate this, do you have a form of your reproducer we could add in the e2e suite (even if its failing initially)?

[2020-08-05 14:36] liggitt commented on #90794
custom taints are considered disruptive, so it couldn't run in the main suite

[2020-08-05 14:39] liggitt commented on #65200
I'm working on a fix for this for the 1.20 timeframe

[2020-08-05 14:39] cristichiru opened #93719 "Volumes accept anything as volume type without complaining, and defaults to emptyDir"
**What happened**:

Created a confirgmap:

[code]

Wanted to mount a configmap, but made a small mistake (can you spot it?):

[code]

I was using subPath to mount a specific file instead of a directory:

[code]

But would fail because:

[code]

Peaking the actual pod yaml, surprise: emptyDir!

[code]

**What you expected to happen**:

- Fail to create the statefulset or deployment, because volume

[2020-08-05 14:43] jayunit100 commented on #68704
I think there's something wrong with this test - im seeing it fail as well.

[2020-08-05 14:48] jayunit100 commented on #56763
4.19.126-1.ph3 <- seems like im getting failures in this test on this kernel as well.

[2020-08-05 14:52] pires commented on #90794
It's been a while since I wrote tests for the e2e suite but if you are available over slack in case guidance is needed, I'm willing to put the effort.

[2020-08-05 14:55] pires commented on #90794
Do all suites need to pass for a fix to be merged? I'd assume it is the case, otherwise how would a regression be prevented after the fix lands?

[2020-08-05 14:56] cristichiru commented on #93719
/sig storage

[2020-08-05 15:15] liggitt commented on #93693
what is the difference between that job and https://testgrid.k8s.io/google-gce#gci-gce-ingress?

[2020-08-05 15:17] derekwaynecarr commented on #90794
@pires i was more inquiring if there was a test that could automate the reproduction, so even just a linked commit may be helpful for someone that wants to pick this up.

[2020-08-05 15:42] liggitt commented on #90794
looks like a unit test could reproduce the issue, opened a WIP fix in https://github.com/kubernetes/kubernetes/pull/93722

[2020-08-05 16:16] iguoyr commented on #93188
@soltysh  Hi, Can I help with this issue?

I have some questions to above description:
1. Does `--dry-run=client` need to have the same strategy as `--local`?
2. Is there more detail about the second approache? (my first thought: add `--local` flag to ClientConfig, if `--local` is true, catch the ErrEmptyConfig, otherwise, return the error.)

[2020-08-05 16:43] salanki commented on #70010
Having issues in 1.18.6 with this as well.

[2020-08-05 16:58] jayunit100 opened #93724 "The test TCP CLOSE_WAIT test needs to be documented and verified on different environments"
**What happened**:

*UPDATE*
For newer k8s versions I think this test is fixed, but I think still we should rename and maybe comment what its purpose is a little bit better.

*ORIGINAL POST*
This is still true for some versions of k 1.16, so might wanna back port, but probably low priority.
 By default, this test will fail:
[code]
won't pass with tools like sonobuoy and so on.

**What you expected

[2020-08-05 16:58] jayunit100 commented on #93724
/sig network

[2020-08-05 16:58] jayunit100 commented on #93724
/assign

[2020-08-05 17:13] jpbetz commented on #92844
Fixed via https://github.com/kubernetes/website/pull/22412

[2020-08-05 17:13] #92844 closed

[2020-08-05 17:23] thomacos commented on #88554
@adelina-t

My colleague @Kerstin08 created a first implementation of the e2e test:
https://github.com/Kerstin08/kubernetes_device_plugin_e2e_test
It is not tested yet, because we don't know how to setup the e2e testing environment.
Any feedback so far?

It is possible to run that new test directly in the Kubernetes GitHub test infrastructure by this test robot via "/test something"?
If yes, what

[2020-08-05 17:27] jayunit100 commented on #93724
I guess only thing to do now is improve the description of the test and comment it etc, make sure we know what its failure modes are.

otherwise sounds like @aojea has fixed these issues in 1.19+

[2020-08-05 17:30] aojea commented on #93724
yeah, it only worked for ssh environments and it was flaky.
xref https://github.com/kubernetes/kubernetes/pull/87080

[2020-08-05 17:36] sfph commented on #83242
Would it make sense to have another command which polls for a pod simply to exist?  Then wait could optionally call that command if a knob is provided and allow it to 'share' its timeout.  That sleep is a real bummer :)

[2020-08-05 17:47] jpbetz commented on #89273
Yes, this is fixed by #92661 and the docs changes in https://github.com/kubernetes/website/pull/22412

[2020-08-05 17:47] jpbetz commented on #89273
/close

[2020-08-05 17:47] #89273 closed

[2020-08-05 18:14] pires commented on #90794
@derekwaynecarr our code is not publicly accessible, I'm sorry. PR linked by @liggitt seems to cover both the fix and the test that proves it.

[2020-08-05 18:40] cmluciano commented on #82125
/remove-lifecycle stale

[2020-08-05 19:01] divyenpatel opened #93727 "Volume expansion request should not reach to CSI driver, if in-tree plugin is not capable of expanding volume"
**What happened**:
When the CSI migration is enabled, Kubernetes is sending a request to expand the volume to CSI even when the in-tree plugin is not supporting the volume resize.

**What you expected to happen**:
When the migration is enabled, Kubernetes should not send a request to expand the volume to CSI when in-tree plugin is not capable of extending volume.

**How to reproduce it (as minimal

[2020-08-05 19:02] divyenpatel commented on #93727
/sig stroage

[2020-08-05 19:02] xing-yang commented on #93727
/sig storage

[2020-08-05 19:19] adtac commented on #85686
/assign

[2020-08-05 19:32] tpepper commented on #93694
Also https://github.com/kubernetes/sig-release/issues/759

[2020-08-05 19:38] adtac opened #93729 "scheduler_perf: MixedSchedulingBasePod does not finish"
**What happened**: The `BenchmarkPerfScheduling/MixedSchedulingBasePod` performance benchmark does not finish even after 10 minutes of waiting. This is because the nodes do not have a `failure-domain.beta.kubernetes.io/zone` label set but the pod affinity rules in the benchmark's pod spec expects one:

https://github.com/kubernetes/kubernetes/blob/382107e6c84374b229e6188207ef026621286aa2/test/inte

[2020-08-05 19:39] adtac commented on #93729
/sig scheduling
/sig testing
/kind bug

[2020-08-05 20:08] BenTheElder commented on #85686
cc @liggitt

please see: #92937 ... we're not the most enthused about adding more jobs, I understand the desire to test this though

[2020-08-05 20:10] adtac commented on #85686
I'm more interested in having this periodically tested (similar to the kubemark?). Running the benchmarks as a presubmit might be a bit of an overkill.

[2020-08-05 20:11] liggitt commented on #85686
+1 to running as a periodic job

[2020-08-05 20:13] liggitt commented on #85686
it looks like https://testgrid.k8s.io/sig-scalability-benchmarks#scheduler and https://testgrid.k8s.io/sig-scalability-benchmarks#scheduler-perf need some attention ... once those are green, let's think about whether they give the signal we need for this

[2020-08-05 20:21] imabelli opened #93731 "Kubeadm, Kubelet Debian package dependency on Kubernetes-cni"
Why do Kubeadm and Kubelet Debian packages depend on Kubernetes-cni Debian Package?

For my use case, I do not need a CNI, as my pods do not communicate with each other. I hope to save as much disk space as possible. Do some essential functions of the Kubelet or Kubeadm depend on Kubernetes-cni even though I don't need a CNI?

[2020-08-05 20:29] ahg-g commented on #85686
The problem with those tests is that they take a very long time to run all the tests (likely in the order of an hour or more), and we keep adding more test cases. May be we should configure CI to run on selected ones only.

[2020-08-05 20:32] adtac commented on #85686
Tests with `500Nodes` in their name are a good fit IMO, so we could add that to the regex used in the `-run` argument. They're certainly smaller than the 5000-node tests (about 3-5x faster from what I've seen).

[2020-08-05 20:56] dvonthenen commented on #93533
/assign

Will take a look at updating the chart

[2020-08-05 21:13] pires commented on #90794
/remove-lifecycle frozen

[2020-08-05 21:16] #79773 closed

[2020-08-05 21:17] celestehorgan commented on #90277
/wg naming

[2020-08-05 21:19] liggitt commented on #90794
frozen keeps the bot from auto-closing

[2020-08-05 21:22] grosser opened #93734 "Api server should report metrics about etcd requests"
I'm trying to add a monitor for "api cannot talk to etcd" and the only thing I found was monitoring the metrics etcd emits, which does not cover any network interruptions. Are there metrics for this ? ... if not, are they easy to add ?

[2020-08-05 21:23] grosser commented on #93734
/sig api-machinery

[2020-08-05 21:28] jpbetz commented on #92913
Looks like the follow up needs to include:
- Figure out how we are going to make `metav1.LabelSelector` atomic everywhere. Fixing it by making individual changes to everything that uses it seems like a poor long term solution. So I'll look into the possibility of LabelSelector declaring itself as atomic.
- Find other types that should be atomic everywhere and apply the same treatment

[2020-08-05 21:28] jpbetz commented on #92913
/assign

[2020-08-05 21:36] raravena80 opened #93736 "Add ability to specify multiple container images for one container for redundancy"
**What would you like to be added**:

Ability to specify more than one container image (container registry) per container in a pod.

**Why is this needed**:

This has probably come up a few times and there are some solutions that improve the redundancy of container images on the server side, but they may seem heavy handed for some users. For example, [Harbor][https://goharbor.io], [Quay][https://q

[2020-08-05 21:37] raravena80 commented on #93736
/sig node

[2020-08-05 21:41] nickperry commented on #93533
It sounds like the VMware people are happy with hostNetwork: true and it's just an issue at this present time with a discrepancy in their helm chart installation.

So if there's no more general support (i.e. beyond the VMware case) for the principle of having CoreDNS available prior to node.cloudprovider.kubernetes.io/uninitialized taint being removed, sure, go ahead and close. I have workaround f

[2020-08-05 22:17] #60903 closed

[2020-08-05 22:32] Riaankl commented on #92273
fixed by #93487
/close

[2020-08-05 22:33] #92273 closed

[2020-08-05 23:54] liggitt commented on #93734
The API server includes the ability to communicate with etcd in its health check. You can specifically monitor this at /healthz/etcd

[2020-08-05 23:54] smarterclayton commented on #93736
Both containerd and cri-o supports the concept of fallback of known registries or repositories across clusters.  That would be a good place to start, since registry resilience tends to be cluster wide, not just per pod.

[2020-08-05 23:55] liggitt commented on #93727
Isn't that a bug in the storage class specification?

[2020-08-05 23:58] grosser commented on #93734
Thx, that could be useful to make a custom monitor.
Ideally something like the metric that kubelet provides about its connection to the api server would be nice.
kubelet_docker_operations_errors_total or rest_client_requests_total

[2020-08-06 00:00] liggitt commented on #93734
cc @logicalhan

[2020-08-06 01:21] liggitt commented on #93736
Agree a node-level container registry fallback or configuration is a better place for this than plumbing it all the way from the pod through CRI

[2020-08-06 01:32] divyenpatel commented on #93727
@liggitt
Is there a way we can block patching of storage class with `allowVolumeExpansion` if provisioner is `kubernetes.io/vsphere-volume`? If we can do then it will help.

[2020-08-06 02:36] raravena80 commented on #93736
Perhaps this can be more of a documentation request. i.e recommendations for redundant registries for K8s nodes using containerd/crio-o. Also, including something like don't use the FQDN or unique_id of the registry if you'd like to have redundancy.

Use:

[code]

as opposed to:

[code]
or
[code]

[2020-08-06 02:43] serain commented on #78761
I have the same issue but none of the fixes here are working for me. I'm running 1.16 on digitalocean's DOKS managed k8s.

My CPU util target is 80%.

`kubectl describe hpa` constantly reports below target.

HPA always maxes out.

[2020-08-06 02:53] gitlawr commented on #90066
Before this is addressed in kubectl get, `kubectl-neat` works perfectly for me. I can display or hide those fields at will.
e.g.
[code]

[2020-08-06 02:54] ssup2 commented on #75262
Hello. To solve this problem, I developed a kubernetes controller called ipvs-node-controller. ipvs-node-controller works on all kubernetes worker nodes and adds iptables DNAT rules from CLUSTER-IP to Load Balancer IP. Please try this and give me feedback. Thanks.

https://github.com/kakao/ipvs-node-controller

[2020-08-06 03:13] sayanchowdhury opened #93740 "[Flaky Test][sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should conform to Ingress spec"
**Which jobs are flaking**:
`gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)`

**Which test(s) are flaking**:
`[sig-network] Loadbalancing: L7 GCE [Slow] [Feature:Ingress] should conform to Ingress spec`

**Testgrid link**:
https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:
[code]

**Anything else we need to know**:
/cc @kubernetes/sig-network-misc @ao

[2020-08-06 03:43] bradbehle commented on #76338
I recently saw this same problem on Kubernetes 1.17 as well

[2020-08-06 05:27] allanchau commented on #62156
/reopen

[2020-08-06 05:28] allanchau commented on #62156
This is also happening on v1.18.3. Can it be reopened?

[2020-08-06 05:32] liggitt commented on #93727
Validation like that could be added with an admission webhook, if desired. I would not anticipate special-casing storageclass validation for in-tree -> CSI drivers.

[2020-08-06 06:36] Telzeng opened #93741 "error converting fieldPath: field label not supported: status.podIPs."
Hi,

To support dual stack. Add one env in the pod.
        - name: POD_IPs
          valueFrom: { fieldRef: { fieldPath: status.podIPs } }

created pod on the cluster with kubernetes API server 1.16. met the following error. another cluster with 1.17 work well.
  Warning  FailedCreate      84s (x19 over 23m)  statefulset-controller  create Pod pg-0 in StatefulSet db-pg failed error: Pod "pg-0" is

[2020-08-06 07:12] duyanghao opened #93742 "Add attachdetach timer config parameters to kube-controller-manager options"
**What would you like to be added**:
Refs #66603

[2020-08-06 07:13] duyanghao commented on #93742
/sig storage

[2020-08-06 07:26] #88956 closed

[2020-08-06 09:13] jjmengze opened #93744 "scheduler PreFilter NodePorts plugins clean up getContainerPorts Loop naming"
When I learned more about the entire kubernetes scheduler frame from the source code.

I noticed that this is the getContainerPort function of nodeport plugins in the PreFilter stage.

This is the original code as following as bellowing.It is seems to me  that the naming and use of for loops is not very good for reading
[code]
how about let's revise the naming as bellowing.
[code]

[2020-08-06 09:18] jjmengze commented on #93744
/sig scheduling
/good-first-issue

[2020-08-06 09:28] #88922 closed

[2020-08-06 09:28] yanqd0 commented on #24709
By default, there is a label named 'job-name' in every Pod triggerred by a Job.

[code]

[2020-08-06 09:35] ohthehugemanatee commented on #53331
I'm running into this with an easy-to-reproduce example, and IMO it validates that other examples were from before default `.spec.backoffLimit`.

[code]

I made a mistake and forgot that `some-service` is listening on port 3000, not 80. So curl fails to connect and times out. Came back in the morning and I had 5 empty pods in status `Error`. Looks like the default `.spec.backoffLimit` value worked

[2020-08-06 09:43] ivanvtimofeev opened #93746 "HTTP healtz check entrypoints disappear"
**What happened**:
HTTP healtz check entrypoints (for kube-scheduler pod http://127.0.0.1:10251/healthz and for kube-controller pod  http://127.0.0.1:10252/healthz ) disappear in 1.16.13 version. This led to kubernetes 1.16.13 containers deployed by kubespray fails due to liveness check.

**What you expected to happen**:
I expect healtz entrypoints will apper back again, and k8s will not fails due

[2020-08-06 09:51] Dingshujie opened #93747 "Node changes to NotReady after restarting kubelet"
**What happened**:
systemctl restart kubelet, then node post not ready status at beginning, and after a while, update to ready.
this may lead service controller to update load balncer hosts, may cause service access failure

**What you expected to happen**:
node post ready status

**How to reproduce it (as minimally and precisely as possible)**:
create serveral pods in this node, and restart kubel

[2020-08-06 10:31] ingvagabund commented on #93117
@adtac thanks for that, can't wait to see it in work :)

[2020-08-06 10:45] lbogdan commented on #88574
Any updates on this? I have the same issue, with a single master `kubernetes` `v1.19.0-rc.3` and `etcd` `v3.4.9-1`.

[2020-08-06 10:49] ivanvtimofeev commented on #93746
/sig api-machinery

[2020-08-06 11:02] justaugustus commented on #92272
@dominicgunn -- reports like this are exactly why hyperkube is deprecated. See this recent thread for further context: https://groups.google.com/d/msg/kubernetes-sig-release/2Eyoxk0muGI/KVnc12cdAgAJ

We have no tests running against hyperkube to validate functionality and no one who has stepped to own this over multiple cycles.
Right now, we're prioritizing security updates over anything else, whi

[2020-08-06 11:14] dominicgunn commented on #92272
Wow, I hadn't even realized hyperkube was deprecated, I'm so out of the loop, thanks for sharing that.

[2020-08-06 11:16] neolit123 commented on #93533
thanks,
i will be watching if we see similar requests from users and reconsider adding the taint.

/close

[2020-08-06 11:17] #93533 closed

[2020-08-06 11:27] neolit123 commented on #93731
historically the kubeadm, kubelet and kubernetes-cni package had weird inter-dependencies.
kubeadm depends on kubelet and both depend on -cni.
ideally we should decouple all of them.

but, i'd estimate that 98+% of the users want the CNI plugins, so at one point we also decided that the plugins should be added to the kubelet package so that we can remove kubernetes-cni.

this broke a lot of users.

[2020-08-06 11:27] #93731 closed

[2020-08-06 11:38] tekumara commented on #75565
I'm experiencing 50% CPU usage when Kubernetes on Docker Desktop Mac is idle, no running pods.

I'm using Docker 2.3.3.0 (46574) Edge with Kubernetes v1.18.3.

I've given the VM 4G RAM, 1GB swap.

After a factory reset, *com.docker.hyperkit* on the host uses ~5% CPU .

When I enable Kubernetes, *com.docker.hyperkit* CPU jumps to 50%.

Using *justincormack/nsenter1* to enter the the VM, I see CPU i

[2020-08-06 11:40] FrediWeber opened #93748 "Kube-Scheduler metrics misleading error message if not authenticated"
**What happened**:
Kube-Scheduler exposes metrics in a secure manner (TLS and authentication required) on port 10259 by default. If one does not authenticate itself, the error message displayed is:
`: no kind is registered for the type v1.Status in scheme "k8s.io/kubernetes/pkg/api/legacyscheme/scheme.go:30"`

**What you expected to happen**:
Kube-Scheduler should emit a clear and understandable e

[2020-08-06 11:40] FrediWeber commented on #93748
/sig scheduling instrumentation

[2020-08-06 12:17] pires commented on #90794
Ah, sorry then.

[2020-08-06 12:20] hasheddan commented on #88996
Tracked at https://github.com/kubernetes/kubernetes/issues/92468

/close

[2020-08-06 12:20] #88996 closed

[2020-08-06 12:22] hasheddan commented on #92468
@soltysh I just observed this flake again. It looks like it has been an issue for some time as #88996 was also tracking. Is there someone from @kubernetes/sig-cli-misc who can look into this?

[2020-08-06 12:35] hasheddan commented on #93740
xref https://github.com/kubernetes/kubernetes/issues/93693

[2020-08-06 12:40] neolit123 commented on #93741
/sig api-machinery

[2020-08-06 12:41] hasheddan opened #93749 "[Flaky Test] [sig-storage] CSI mock volume CSI attach test using mock driver should not require VolumeAttach for drivers without attachment"
**Which jobs are flaking**:

`gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)`

**Which test(s) are flaking**:

`[sig-storage] CSI mock volume CSI attach test using mock driver should not require VolumeAttach for drivers without attachment `

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gce-ubuntu-master-containerd

**Reason for failure**:

This ap

[2020-08-06 12:43] neolit123 commented on #93746
please log this ticket in the kubespray repository.
the kubespray maintainers should be already aware that kubeadm (used by kubespray) switched to pass --port=0 to the kube-scheduler and kube-controller-manager, which disabled HTTP serving.

your option is to use health checks the secure ports via HTTPS.

/close
/remove-sig api-machinery
/sig cluster-lifecycle

[2020-08-06 12:43] #93746 closed

[2020-08-06 12:43] neolit123 commented on #93746
/remove-kind bug
/triage support

[2020-08-06 12:44] dza89 opened #93750 "Limitrange request causes indefinite amount of pods spawned"
**What happened**:
Pods keep spawning indefinitely with OutOfcpu error

**What you expected to happen**:
A single error returned

**How to reproduce it (as minimally and precisely as possible)**:

Add limitrange:
[code]

Make sure your nodes have less resources available then 1 CPU (set high for this example)

Do a dummy deployment without any resources set

**Anything else we need to know?**:

My

[2020-08-06 12:44] dza89 commented on #93750
/sig scheduling

[2020-08-06 12:46] hasheddan commented on #93688
@kubernetes/sig-instrumentation-misc

[2020-08-06 13:06] bibinphilip opened #93751 "the server doesn't have a resource type "NodeName""
I created a Kubernetes cluster on Ubuntu 20.04 (Master) having worker node (k8s-wn02) on Debian.

The command "kubectl get nodes" shows both the nodes  are Ready. Howerver, the command "kubectl describe k8s-wn02" gives the following error, same goes for the describe of master node:

"the server doesn't have a resource type k8s-wn02"

I have verified the environment variable KUBECONFIG is set prope

[2020-08-06 13:10] marvelTracker opened #93752 "Pod's labels weren't created after K8s Deployment"
I'm running a K8s cluster on rasberry pi(Ubuntu 20.04) . When I try to deploy the following K8s deployment, the labels 'rel' and 'env' weren't created on pods.

K8s Versions:

Client Version: version.Info{Major:"1", Minor:"14", GitVersion:"v1.14.7", GitCommit:"8fca2ec50a6133511b771a11559e24191b1aa2b4", GitTreeState:"clean", BuildDate:"2019-09-18T14:47:22Z", GoVersion:"go1.12.9", Compiler:"gc", Pla

[2020-08-06 13:21] Zheaoli commented on #93752
emmmm, I guess you want to add **rel: beta** and **env: prod** in your pod ? If I'm right, maybe you can change your deployment file like this

[code]

[2020-08-06 13:23] Zheaoli commented on #93752
here's the documents

https://kubernetes.io/docs/concepts/workloads/controllers/deployment/#pod-template

[2020-08-06 13:23] Zheaoli commented on #93752
/close

[2020-08-06 13:57] khatrig commented on #87470
Facing this issue where pod in ContainerCannotRun state stay in terminating state forever and have to be deleted manually.

**kubelet logs on the node will keep on logging -**

Aug 06 06:42:20 node8 kubelet[54811]: E0806 06:42:20.575711   54811 status_manager.go:375] Status update on pod default/pod-mscqc-4lrx2 aborted: terminated container docker attempted illegal transition to non-terminated sta

[2020-08-06 13:57] khatrig commented on #87470
Related issue - https://github.com/kubernetes/kubernetes/issues/76382

[2020-08-06 14:28] cablespaghetti commented on #93750
Oh great it's not just us! We're also on EKS v1.16. This started last week for us...I wonder if it's an EKS problem specifically...

[2020-08-06 14:33] #88843 closed

[2020-08-06 14:33] dza89 commented on #93750
@cablespaghetti
Hmm, it was exactly the same for us. After swapping to the latest EKS AMI. I suspect a different version of the kubelet.
Maybe it's not limited to limitrange? Removing this however did fix our issue.

[2020-08-06 14:38] neolit123 commented on #93205
i think the question is how to get information on how a running k8s control-plane binary is configured?
if so, this is currently not possible. if you are using flags you could look at the begging of the logs of these components.

if you want to create a feature request for that please log a separate ticket and mark it with `/kind feature`.
for general support questions please use https://github.co

[2020-08-06 14:38] #93205 closed

[2020-08-06 14:40] michaelgugino opened #93753 "local-up-cluster.sh scheduler terminated unexpectedly"
**What happened**:
Attempting to run hack/local-up-cluster.sh deploys a cluster locally, but the scheduler terminated unexpectedly.  This results in pods not getting scheduled to the kubelet.

**What you expected to happen**:
Scheduler doesn't fail and pods are run as expected.

**How to reproduce it (as minimally and precisely as possible)**:
Followed instructions here: https://github.com/kuberne

[2020-08-06 14:40] michaelgugino commented on #93753
/sig scheduling

[2020-08-06 14:46] cablespaghetti commented on #93750
I'm downgrading to ami-05ac566a7ec2378db which is from May but was the previous AMI we were running. Will feedback if that fixes it...

[2020-08-06 14:49] wawa0210 commented on #93748
/assign

[2020-08-06 14:57] wawa0210 commented on #93748
/unassign

[2020-08-06 14:59] breizh5729 commented on #93416
@liggitt do you have a example more precise for a namespace ?

[2020-08-06 15:01] liggitt commented on #93416
not sure what you're asking for ... [admission webhooks can intercept and modify pods as they are created](https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/). One could be written to set priorityClassName based on the namespace of the incoming pod, rather than a cluster-wide default.

[2020-08-06 15:01] gogineni99 commented on #49466
+1

[2020-08-06 15:09] breizh5729 commented on #93416
@liggitt liggitt
this is exactly what i need but i dont quite understand how to do it, do you have a simple example for that

[2020-08-06 15:19] liggitt commented on #93416
you could look at the code used to test admission webhooks for an example of writing a webhook that modifies pods as they are created:

https://github.com/kubernetes/kubernetes/blob/2a3a36842f8ab91a3658da38a237225e8988f0df/test/images/agnhost/webhook/main.go#L211-L238

https://github.com/kubernetes/kubernetes/blob/2a3a36842f8ab91a3658da38a237225e8988f0df/test/images/agnhost/webhook/main.go#L91-L16

[2020-08-06 15:28] dza89 commented on #93750
You don't have anything else, like a policy that applies resources on the container level?

[2020-08-06 15:31] rhatdan commented on #90759
If the containers in a pod share PID and/or IPC Namespaces, they need to share the same SELinux MCS Label.  If they share storage in multiple containers, the storage needs to be labeled with a non private label or the levels need to be the same or the label of the storage has to be container_file_t:s0, so all containers can write to it.

[2020-08-06 15:37] mattfenwick commented on #93568
Looks like there's already a logging statement for running iptables checks: https://github.com/kubernetes/kubernetes/blob/master/pkg/util/iptables/iptables.go#L448

Perhaps the log level was too low for that log message to get tripped?

[2020-08-06 15:41] jean-edouard commented on #90759
@rhatdan thanks, that makes sense.
Do you also agree that there is a bug here that needs to be fixed?
i.e. auto-SELinux-level should behave the same regardless of other SELinux pod settings?

[2020-08-06 15:46] jayunit100 commented on #93568
hi Matt, ok so your looking at the logs?  If you want you can edit `/var/lib/kubelet/kubeadm-flags.env` in kind will allow you to play with the logging verbosity of Kubelet.
If you decide its a good idea to  surface this info then you can test there (`systemctl restart Kubelet.service`).
Make sure it doesn't log spam and it gives useful info

[2020-08-06 15:48] cablespaghetti commented on #93750
We don't no. Just heard back from AWS:

[2020-08-06 15:48] SataQiu commented on #93753
/cc

[2020-08-06 16:01] harsha-s opened #93755 "output of kubectl certificate deny command says approved instead of denied"
**What happened**:
master $ kubectl certificate deny agent-smith
certificatesigningrequest.certificates.k8s.io/agent-smith approved
master $ kubectl get csr
NAME          AGE     REQUESTOR                 CONDITION
agent-smith   4m16s   agent-x                   Denied
akshay        6m26s   kubernetes-admin          Approved,Issued
csr-2ws5g     23m     system:bootstrap:96771a   Approved,Issued
cs

[2020-08-06 16:02] SataQiu commented on #93753
/assign
Thanks @michaelgugino ! I'm going to check this again.

[2020-08-06 16:04] dijitali commented on #20352
Looks like there's one in the process of being drafted:
https://tools.ietf.org/html/draft-goessner-dispatch-jsonpath-00

[2020-08-06 16:04] knight42 commented on #93755
dup with #91876

/close

[2020-08-06 16:05] #93755 closed

[2020-08-06 16:07] wawa0210 commented on #93748
If ok, I can try this fix

/assign

[2020-08-06 16:08] jpbetz opened #93756 "Add admission webhook example"
**What would you like to be added**:

Add a skeleton admission webhook that performs a simple admission operation and that can be used as a starting point for developers that need to build their own admission webhooks.

**Why is this needed**:

It is not obvious how to construct how to construct a skeleton admission webhook. Providing an example that applies best practices would be valuable to the

[2020-08-06 16:08] jpbetz commented on #93416
I don't think we had one. I've created https://github.com/kubernetes/kubernetes/issues/93756 and assigned it to myself.

[2020-08-06 16:09] jpbetz commented on #93756
xref https://github.com/kubernetes/kubernetes/issues/93416

[2020-08-06 16:09] rngy opened #93757 "Discussion of Priority and Fairness End-to-End Tests for Beta"
## Priority and Fairness End-to-End Tests

## Basic CRUD

Should we create tests around the creation, modification and deletion of the `flowcontrol.apiserver.k8s.io` objects ? For example, adding an invalid FlowSchema with a misconfigured PriorityLevelConfiguration and verifying that the Status appropriately reflects its invalidity. I’m assuming the controller tests will suffice and we don’t need

[2020-08-06 16:11] rngy commented on #93757
cc/ @lavalamp @MikeSpreitzer @yue9944882 @deads2k

[2020-08-06 16:15] gnufied commented on #93727
I tend to agree with @liggitt here. A Storageclass explicitly provisions only in-tree volumes and even if migration is enabled, the volumes provisioned by it are not expected to magically gain new capabilities and hence there is no fix needed in k8s IMO.

[2020-08-06 16:33] lavalamp commented on #93757
* We don't need to test that invalid items are rejected, unit tests are better for that.
* We should try to exercise the basic features (exempt, queue...)
* We should not rely on the debug endpoint, since we want this to be a conformance test eventually
* Metrics scraping is also a little questionable.
* I think we should exercise fair queueing (make two new PLs at different shares, saturate both,

[2020-08-06 16:34] cbf123 commented on #93691
Is there anything I can investigate to help out?  I don't really know this code very well, so I don't know what it's *supposed* to be doing. :)  But I can reproduce the problem and dig up variable contents.

[2020-08-06 16:35] #93604 closed

[2020-08-06 16:53] hasheddan commented on #73099
@aojea any updates here?

[2020-08-06 17:08] hakman commented on #92925
@wu105 found this looking for other stuff but seems related to the fact that in some cases Kubernetes doesn't detect the right partition for for images.
https://github.com/google/cadvisor/pull/2586

[2020-08-06 17:13] breizh5729 commented on #93416
thank @jpbetz @liggitt
I will wait your example for that

[2020-08-06 17:15] aojea commented on #73099
nope, totally agree with the description, is racy by design, couldn't find any way or trick  to avoid the randomness

[2020-08-06 17:18] tvvignesh commented on #87747
/remove-lifecycle stale

[2020-08-06 17:31] cmluciano commented on #85892
/remove-lifecycle stale

[2020-08-06 17:36] #78702 closed

[2020-08-06 17:37] neolit123 commented on #93752
the above comments is valid. you should place the labels at the pod template.

^ also, please upgrade kubectl, this is unsupported skew:
https://kubernetes.io/docs/setup/release/version-skew-policy/#kubectl

/remove-kind bug
/triage support
/sig apps
/close

[2020-08-06 17:37] #93752 closed

[2020-08-06 17:39] neolit123 commented on #93757
/sig api-machinery
/area test
/kind feature

[2020-08-06 17:39] neolit123 commented on #93662
/sig storage

[2020-08-06 17:47] ebartz commented on #85519
/reopen

[2020-08-06 18:19] dza89 commented on #93750
Ah ok, I saw it happen numerous times with init containers.
Removing the limitranger worked because then there were no more resources definined.
/close

[2020-08-06 18:19] #93750 closed

[2020-08-06 18:32] jingxu97 opened #93759 "Use powershell command Get-item. target to get target symlink issue"
As a workaround solution for issue, https://github.com/golang/go/issues/39786, I used powershell command "(Get-Item -Path %s ).Target" to get the target symlink. However, it does not work under following situation.
1. PD disk attached to Windows node, partitioned and formatted
2. create a symlink /var/lib/kubelet/plugins/... to the volume
3. create a symlink for pod volume to the above link /var/l

[2020-08-06 19:04] cbf123 commented on #93691
I'm not sure if it should go here or in another separate issue.  I've made a modified version of the patch for  https://github.com/kubernetes/kubernetes/issues/68211 using !strings.Contains(subpath.Path, mntInfo.Root) for the comparison instead of testing for equality.

Even with that though I'm seeing a scenario where sometimes for some containers that use configmap subpaths they're showing as "T

[2020-08-06 19:06] mattmceuen commented on #83242
FYI that I've hit this issue for a `node` type as well:

`+ kubectl --kubeconfig /tmp/targetkubeconfig wait --for=condition=Ready node --all --timeout 900s
error: no matching resources found`

It appears to have been a race condition for me as well (I was looping on the command above, waiting for the apiserver to become ready).  On retesting it worked fine.

[2020-08-06 19:11] jayunit100 commented on #93724
im going to close this as its minor enough that no issue is needed, and I think it will work for > 1.19

[2020-08-06 19:11] #93724 closed

[2020-08-06 19:12] jayunit100 commented on #93094
ok, lets close this issue then ?

[2020-08-06 19:13] jayunit100 commented on #93091
/unassign

[2020-08-06 19:13] jayunit100 commented on #90838
/unassign

[2020-08-06 19:14] jayunit100 commented on #92559
/remove-triage unresolved

[2020-08-06 19:15] jayunit100 commented on #92559
/close

[2020-08-06 19:15] #92559 closed

[2020-08-06 19:16] jayunit100 commented on #92559
Im closing this because I think at this point, its been a couple of weeks and we now know that this needs to be taken up with the folks that set the defaults in kubeadm and the kubeadm operator -- its happening at the sig-cluster-lifecycle level and so on, and probably will involve follow up work with the coredns operator stuff, so its not (I think) any longer a bug in any sense from the networkin

[2020-08-06 19:18] adtac opened #93760 "scheduler_perf: support multiple node labelling strategies"
**What would you like to be added**: `scheduling_perf_test.go` only supports one node labelling strategy currently. However, I don't see any reason why multiple node labelling strategies cannot be supported at the same time. Solving overlapping labels from different strategies would be an interesting problem to solve; we could simply catch these at config parse time and fail immediately.

**Why is

[2020-08-06 19:19] adtac commented on #93760
Perhaps the user could specify an ordered list of node labelling strategies and the testing framework will patch nodes with one strategy after another?

[2020-08-06 19:19] vi7 commented on #87615
Temp workaround for those who are running K8S on VMWare vSphere - [disable DRS](https://docs.vmware.com/en/VMware-vSphere/7.0/com.vmware.vsphere.resmgmt.doc/GUID-C21C0609-923B-46FB-920C-887F00DBCAB9.html) for the K8S VMs, that'll prevent vSphere from moving VMs among hypervisors thus eliminating any network disconnections which are causing troubles for the Kubelets

[2020-08-06 19:25] alculquicondor commented on #93760
sg, but let's defer until the ongoing refactoring is finalized. Also, provided that we already have a testcase we can not write with the current templates.

[2020-08-06 19:26] jayunit100 commented on #93397
/remove-triage unresolved

[2020-08-06 19:26] adtac commented on #93760
Yeah, agreed, I don't have plans to add features to the in-tree framework anymore; only bug fixes (like the MixedScheduling PR).

[2020-08-06 19:27] jayunit100 commented on #92618
/remove triage-unresolved.

[2020-08-06 19:28] jpbetz commented on #93416
Just to set expectations, I don't know exactly when I'll be able to start on this. It will be at least a week or two until I start.

[2020-08-06 19:30] ntippabhatla opened #93761 "Changing the log directory from /var/logs/messages"
I am trying to configure the kubelet using kubelet --log-dir="xxxx", the new path, but it gives an error and doesn't run. I want to change the log directory from /var/logs/messages, since the last time I spinned the cluster up, it occupied all the space and as a result there was Diskpressure: True. So now I changed the docker log directory to a different place and also want to change kubelet log d

[2020-08-06 19:31] aramase commented on #93094
@jayunit I think we can close this.

@SetarehStar If you hit have any issues while trying out AGIC, please feel free to open an issue here - https://github.com/Azure/application-gateway-kubernetes-ingress/issues

/close

[2020-08-06 19:31] Gabisonfire commented on #88574
Experiencing this as well after a power loss.

[2020-08-06 19:31] #93094 closed

[2020-08-06 19:40] vincepri commented on #91615
@liggitt Should this issue be reopened given that the patch was reverted / never merged for older versions?

[2020-08-06 19:44] divyenpatel commented on #93727
code change made here - https://github.com/kubernetes/kubernetes/pull/93738/files is preventing in-tree volumes to gain expand capability via CSI migration. For in-tree plugins that already support volume resize, functionality-wise this change is not breaking anything.

[2020-08-06 19:49] jayunit100 commented on #92618
ah I see

[code]

So you can see it is getting hung up on host `10.36.0.13`.  The other hosts (10.42.0.9,10.40.0.8,10.47.0.43, 10.45.0.16) all seem to be working good.  So I would hypothesize here that 10.36.0.13 is broken somehow.

- Can you remove that node from your cluster and retry the tests ?
- If you run the `--focus=intra-pod` test multiple times , and confirm wether this is the only node

[2020-08-06 19:52] logicalhan commented on #93734
@grosser what kind of setup do you have for your control-plane? Do you have a control-plane kubelet?

[2020-08-06 20:05] grosser commented on #93734
yes, api server runs as pods / with a kubelet

[2020-08-06 20:09] caesarxuchao commented on #93699
cc @lavalamp @deads2k

[2020-08-06 20:09] gnufied commented on #93727
Even if that were the case - IMO the root cause of the problem is, admin should not have enabled expansion for in-tree Storageclass.

External-resizer should handle unimplemented error and not retry volume expansion. We can file a bug against external-resizer for that.

Another problem with https://github.com/kubernetes/kubernetes/pull/93738 is, it is making a very subtle change into expansion con

[2020-08-06 20:12] caesarxuchao commented on #93708
/sig node
@kubernetes/api-reviewers
/remove-sig api-machinery

[2020-08-06 20:14] caesarxuchao commented on #93741
/sig node

[2020-08-06 20:16] caesarxuchao commented on #93756
Let's take a look at what kubebuilder does, probably there is already a good example.

[2020-08-06 20:16] jayunit100 commented on #92618
ah I see

[code]

So you can see it is getting hung up on host `10.36.0.13`.  The other hosts (10.42.0.9,10.40.0.8,10.47.0.43, 10.45.0.16) all seem to be working good.  So I would hypothesize here that 10.36.0.13 is broken somehow.

- Can you remove that node from your cluster and retry the tests ?
- If you run the `--focus=intra-pod` test multiple times

[2020-08-06 20:16] caesarxuchao commented on #93757
cc @yliaog

[2020-08-06 20:19] lavalamp commented on #93699
cc @liggitt @mikedanese @enj

[2020-08-06 20:24] logicalhan commented on #93734
You can monitor the kubelet, it'll effectively tell you the same thing. The kublet exposes a `/metrics/probes` path which will tell you the failure counts or something similar (I don't remember the metric format off the top of my head).

https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/server/server.go#L86

[2020-08-06 20:56] mtaufen commented on #68244
/remove-lifecycle stale

[2020-08-06 21:01] dcbw commented on #93091
Let's close this one and pursue the issue in the CNI project with the issue you filed there: https://github.com/containernetworking/plugins/issues/512

[2020-08-06 21:01] dcbw commented on #93091
/remove-triage unresolved

[2020-08-06 21:03] dcbw commented on #92125
@ntippabhatla this would require further debugging. Do you know what mode kubeproxy is using? IPVS? iptables?

[2020-08-06 21:04] bridgetkromhout commented on #93740
/assign @bowei

[2020-08-06 21:05] bridgetkromhout commented on #93713
/assign @andrewsykim

[2020-08-06 21:06] bridgetkromhout commented on #93712
/assign @caseydavenport

[2020-08-06 21:07] bridgetkromhout commented on #93693
/assign @robscott

[2020-08-06 21:07] bridgetkromhout commented on #93568
/assign @jayunit100

[2020-08-06 21:07] rikatz commented on #91809
/close

[2020-08-06 21:08] #91809 closed

[2020-08-06 21:08] rikatz commented on #91331
/close

Closing due to lack of response, please feel free to reopen if you have any further information

[2020-08-06 21:08] bridgetkromhout commented on #93568
/assign @bowei
/assign @prameshj

[2020-08-06 21:08] #91331 closed

[2020-08-06 21:10] bridgetkromhout commented on #93545
/assign @thockin

[2020-08-06 21:10] bridgetkromhout commented on #93536
/assign @bowei
/assign @robscott

[2020-08-06 21:11] bridgetkromhout commented on #93267
/remove-triage unresolved
/kind feature

[2020-08-06 21:12] rikatz commented on #93267
/assign

I'm also assigning myself so I won't forget this issue :)

[2020-08-06 21:14] rhatdan commented on #90759
Yes containers joined to the same pod should be getting the same labels.  This works correctly with CRI-O.

[2020-08-06 21:14] bridgetkromhout commented on #92861
/remove-triage unresolved
/kind bug

[2020-08-06 21:15] bridgetkromhout commented on #92776
@robscott to follow up - this is failing because garbage collection is taking too long

[2020-08-06 21:24] jean-edouard commented on #90759
@rhatdan very interesting, could you please give me more details on your setup?
Having an environment that doesn't reproduce the issue might help debug it... So far I have seen it on every k8s environment I tried.
Thank you!

[2020-08-06 21:31] thockin commented on #93545
If you are bringing up the "new" nodes with the same name as the old nodes and changing things like podCIDR, you have to delete the Node resource.  That is not an updateable field.

There's not a good way to do this automatically from the node itself without introducing new security problems.  Cloud controllers generally handle this async by validating that the VMs exist.

Sorry it's not a better

[2020-08-06 21:35] thockin commented on #91954
If this still reproduces, please reopen.

[2020-08-06 21:35] #91954 closed

[2020-08-06 21:36] thockin commented on #90996
Is this one still active?

[2020-08-06 21:41] sethev commented on #93545
No, that's definitely not what happened. We delete the nodes before bringing in new ones (which is why they didn't have a podCIDR assigned). All of the "spec.podCIDR: Forbidden" occurred before any worker node had been touched.

[2020-08-06 21:42] sethev commented on #93545
The sequence of events was: 1.16 kube-controller-manager started and failed with this message on all of the existing nodes in the cluster.

[2020-08-06 21:58] thockin commented on #92889
I am OK to loosen this for searches.  We have to do it in 2 steps though.  First we cut a release that allows the new extended names to persist across updates (but not net-new usage), then we cut a release that allows new usage.

This is small, but still warrants a KEP.  It should be an easy-ish one to write,

Volunteers?

[2020-08-06 22:03] rikatz commented on #62720
@nevola thanks for the presentation in the meeting.

Now my question is: do you want to continue with this issue open, or move the discussion to sig-network mailing list and then see if this can became a KEP or a feature proposal?

As a  side comment, I've made some confusion and though your project and @sbezverk were the same, really sorry! You both should have warned me earlier :)

[2020-08-06 22:07] cbf123 commented on #68211
has anyone confirmed whether the fix works when using containerd directly on current kubernetes?  It doesn't seem to work on 1.18.1.

[2020-08-06 22:10] rikatz commented on #93267
@thockin I'll move forward with this, do you mind? (maybe you want something to have fun and want to implement this) :)

Otherwise, if you want to unassign yourself and don't get spammed, is up to you! :)

[2020-08-06 22:11] caseydavenport commented on #93712
This seems to suggest that the service attempting to run a binary that isn't present on the host. What does `which kubelet` show?

Either way, I don't think this is a bug in kubernetes itself, so I'm going to close this issue.

/remove-sig network
/remove-triage unresolved
/close

[2020-08-06 22:13] robscott commented on #93693
Also assigning @spencerhance since I think he's already looking into this:
/assign @spencerhance

[2020-08-06 22:16] prameshj commented on #93568
Not yet, node-local-dns is not supported to run on ipv6-only clusters.

[2020-08-06 22:16] prameshj commented on #93568
/remove-triage unresolved

[2020-08-06 22:19] sethev commented on #92889
thanks @thockin  - i can take a stab at the KEP!

[2020-08-06 22:44] bart0sh commented on #93323
@cynepco3hahue any news? Have you managed to reproduce the issue locally?

[2020-08-06 22:48] spencerhance commented on #93693
Oh nice, prow can actually assign me now 😆

[2020-08-06 23:04] thockin commented on #93545
Interesting.  @khenidak FYI

That error only comes from cases where someone is trying to change podCIDR.  So somehow it fell into the path of needing to update the CIDR (including checking that `len(node.Spec.PodCIDRs) == 0`) and then finding later that this is not true.

15->16 is when podCIDR got pluralized - suspect.

Clue: "spec.podCIDR: Forbidden: node updates may not change podCIDR" - this m

[2020-08-06 23:05] thockin commented on #93545
NOTE: If I am right, I am surprised we didn't see more occurrences of this.

[2020-08-06 23:16] #93715 closed

[2020-08-07 00:18] JasonRD commented on #68211
I think you should check the latest release version.
在 2020年8月7日 +0800 06:08，Chris Friesen <notifications@github.com>，写道：

[2020-08-07 00:48] robscott commented on #85572
/remove-lifecycle stale

[2020-08-07 01:55] liggitt commented on #93751
Describe requires the type and name: `kubectl describe node k8s-wn02`

[2020-08-07 01:55] #93751 closed

[2020-08-07 01:58] liggitt commented on #93727
I agree. This is a misconfiguration, and it is the responsibility of the storage class creator to accurately describe the CSI driver's capabilities.

[2020-08-07 02:23] Yangstatus commented on #93747
I hope the following tips have helped you:

[root@node-01 testnginx]# cat test-nginx.yaml
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: my-nginx
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: my-nginx
    spec:
      tolerations:
      - key: "node.kubernetes.io/unreachable"
        operator: "Exists"
        effect: "NoExecute"
        tolerationSecon

[2020-08-07 02:37] yue9944882 commented on #93757
to verify the requests can be correctly classified, how about we make use of the [response headers](https://github.com/kubernetes/kubernetes/blob/92e51c19017a9e417df291e469ffebb13b6b51e2/staging/src/k8s.io/apiserver/pkg/server/filters/priority-and-fairness.go#L39-L40)? we can do a test like: make two PLs, and two clients w/ different identities then make the clients are hitting different FS/PL.

[2020-08-07 02:48] yue9944882 commented on #93361
i think it makes sense to hide the debugging endpoints (pprof and flowcontrol) from users.. IIRC the dumpping endpoint for gc controller in KCM is also invisible. if we're listing them in the index, we should better make sure there're explicit RBAC rules protecting these endpoints..

[2020-08-07 02:54] everpeace commented on #93591
Thank you for opening the issue!

Current `Less` function takes two `PodInfo`s and this is assumed to be _pure_ function.  So, every pod update will be informed to scheduling queue and scheduling queue to maintain its rank in the internal heap.  So, if the function is _impure_, for example, `Less(podInfoA, podInfoB)` depends on some __external__ information like fair share or other associated reso

[2020-08-07 02:58] yue9944882 commented on #93361
it makes sense to me hiding the debugging endpoints from users in the root index, but what @MikeSpreitzer purposing is to list the existing paths under `/debug` prefix. obviously the users already knows the existence of debugging endpoints when they're looking for `/debug`, so it's probably not a good idea to make the endpoints completely invisible from users..

    "/livez/etcd",
    "/livez/log"

[2020-08-07 03:26] Zheaoli commented on #92382
@n1koo Thanks for providing more information

Would you mind to check the latency between your laptop and your cluster's apiserver?

[2020-08-07 03:30] agoodgithubname commented on #92128
I have met the error:
[code]
and my solution is:
modify(or add ,if it don't exists) the option in the `kubelet.service` file
[code]
and then, kubelet service work.

I refer to the paragraph：

from https://kubernetes.io/docs/tasks/administer-cluster/reserve-compute-resources/#kube-reserved
and my understanding is :
I choose `systemd` for cgroups driver of kubelet(option:--cgroup-driver=systemd), so

[2020-08-07 04:45] yliaog commented on #93757
what about using a test aggregated apiserver to serve different PLs, and with different the response latency

[2020-08-07 06:03] Dingshujie commented on #93747
thanks, but these can't not solve the problem, my pods already have these toleration for 300 seconds,  this is for no eviction.

[2020-08-07 06:14] bibinphilip commented on #93712
The "kubelet" executable file is in the location "/usr/local/bin/" and the "which" command shows the path too. FYI the "kube-proxy" service gets started, so seems problem with the kubelet on Alpine OS.  @caseydavenport , Could you please re-verify the problem with the attached files in this issue?

[2020-08-07 07:02] BenTheElder commented on #73099
Specific sub-tests were fixed previously, but this one sub-case:

That one we can't use the "Wait for stdin input to signal we're attached" hack, so it's just racy.

We could remove that case maybe. I'm not sure who I'd want to weigh in on that, probably someone more active in node / CLI.

[2020-08-07 07:56] aojea commented on #93281
/help wanted

[2020-08-07 07:58] aojea commented on #93281
/help wanted
/good-first-issue

[2020-08-07 08:01] aojea commented on #93281
/remove-good-first-issue
the agnhost promotion process is not something easy for new contributors

[2020-08-07 08:21] zhiweiv opened #93771 "kubelet panic with fatal error: concurrent map writes"
**What happened**:
Windows kubelet panic occasionally on nodes which have high volume of pods run and delete.
[code]
Full logs:
[kubelet.err.log.zip](https://github.com/kubernetes/kubernetes/files/5040144/kubelet.err.log.zip)

Preliminary investigate result: https://github.com/Azure/AKS/issues/1765#issuecomment-670382606

**How to reproduce it (as minimally and precisely as possible)**:
Run high v

[2020-08-07 08:23] zhiweiv commented on #93771
/sig windows

[2020-08-07 08:26] nevola commented on #62720
Hi @rikatz sure, we can close this issue. Probably we'll continue discussing further via other channels.
Thank you!

[2020-08-07 08:26] #62720 closed

[2020-08-07 08:26] knight42 commented on #93771
/assign

I would like to give this a shot.

[2020-08-07 08:28] knight42 commented on #93771
/remove-sig windows
I think this is not a window specific problem.

/sig node
/area kubelet

[2020-08-07 09:00] knight42 commented on #93771
@zhiweiv Hi! Thanks for your report, I have filed #93773 to address this issue.

[2020-08-07 09:01] Walid47 commented on #93568
Thank you @prameshj for letting me know, and thank you all for your efforts following through with the issue, I'll keep watch for any future updates on the feature.

[2020-08-07 09:25] Rand01ph commented on #93281
@aojea Hi, I would like to contribute to this.

[2020-08-07 09:28] denkensk commented on #93591
---
Can you add more details? I think the PodInfo update operation will need to the resort of heap. How to achieve this？
@everpeace

[2020-08-07 10:19] cynepco3hahue commented on #93323
@bart0sh I already have a fix that is waiting for merge - https://github.com/kubernetes/kubernetes/pull/93328

[2020-08-07 10:41] alexcpn commented on #60807
Better https://stackoverflow.com/a/59667608/429476

[2020-08-07 10:57] tnozicka commented on #92520
fixed in https://github.com/kubernetes/kubernetes/pull/93617
/close

[2020-08-07 10:58] #92520 closed

[2020-08-07 11:21] bboreham opened #93775 "Incorrect comment in runtime ObjectKind interface"
The statement "returns [...], or nil" cannot be true since the return type is a struct:

https://github.com/kubernetes/kubernetes/blob/97c5f1f7632f2d349303515830be76f6c1084b19/staging/src/k8s.io/apimachinery/pkg/runtime/schema/interfaces.go#L26-L28

https://github.com/kubernetes/kubernetes/blob/97c5f1f7632f2d349303515830be76f6c1084b19/staging/src/k8s.io/apimachinery/pkg/runtime/schema/group_versio

[2020-08-07 12:13] dims commented on #87056
@huchengze please see https://github.com/kubernetes/community/pull/5014

[2020-08-07 12:14] dims commented on #93621
@bradtopol @estesp wrote up a WIP to provide guidance - https://github.com/kubernetes/kubernetes/issues/93620

[2020-08-07 12:29] cwsolee commented on #93621
@dims Thanks, will certainly take a look at that along with what we've been working on.

[2020-08-07 13:00] SataQiu commented on #93753
Hi @michaelgugino! I just cannot reproduce this issue based on the latest code.
I tried many times (on CentOS 7 system), but it seemed to work just fine!
[code]

[code]

[2020-08-07 13:02] SataQiu commented on #93753
/triage needs-information

[2020-08-07 13:10] SataQiu commented on #93775
@bboreham  I can file a PR to fix the incorrect comment if you don't mind :)

[2020-08-07 13:24] killy001 commented on #51018
@jingxu97 still not resolved this problem.

[2020-08-07 13:40] killy001 commented on #50369
@NickrenREN  It is useful for me. Thank you for reply.

[2020-08-07 13:40] killy001 commented on #50369
@jianzhangbjz  Thanks.

[2020-08-07 13:50] hasheddan opened #93780 "[Flaky Test] [sig-storage] TestVolumeBinding experiencing pod scheduling timeout (ci-kubernetes-integration-master)"
**Which jobs are flaking**:

`integration-master (ci-kubernetes-integration-master)`

**Which test(s) are flaking**:

`TestVolumeBinding`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#integration-master

**Reason for failure**:

[code]

**Anything else we need to know**:

/priority important-soon
/sig storage
/cc @kubernetes/ci-signal @kubernetes/sig-storage-misc
/milest

[2020-08-07 13:51] hasheddan commented on #93780
Could be that we just need to bump up the timeout.

[2020-08-07 13:56] bboreham commented on #93775
Sure, I didn't get round to it yet.

[2020-08-07 14:12] hasheddan opened #93782 "[Flaky Test] [sig-scheduling] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied. [Conformance]"
**Which jobs are flaking**:

`kind-ipv6-master-parallel (ci-kubernetes-kind-ipv6-e2e-parallel)`

**Which test(s) are flaking**:

`[sig-scheduling] LimitRange should create a LimitRange with defaults and ensure pod has those defaults applied. [Conformance]`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#kind-ipv6-master-parallel

**Reason for failure**:

[code]

**Anything

[2020-08-07 14:16] #93090 closed

[2020-08-07 14:24] huang-jy opened #93783 "Inability to create pods creates a snowball effect in Kubernetes cronjobs"
**What happened**:
A misbehaving webhook causes Kubernetes to "snowball" CronJob-related Jobs and pods.

During this time, Kubernetes seemingly **ignores** the HistoryLimit and concurrencyPolicy directives in a CronJob.

**What you expected to happen**:
Kubernetes to respect CronJob settings and values even if there's a misbehaving webhook or some other scheduling problem.

**How to reproduce it (

[2020-08-07 14:25] huang-jy commented on #93783
/sig api-machinery

[2020-08-07 14:45] fcantournet opened #93784 "kubectl drain uses 200% cpu."
Running :
[code]
cpu usage goes to 2 cores @ 100%

**What you expected to happen**:
Way lower cpu usage.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration: GKE
- OS (e.g: `cat /etc/os-release`):
[code]
- Kernel (e.g. `uname -a`):  Linux felix-Latitude-7490 5.3.0-62-generic #56~18.04.1-Ubuntu SMP Wed Jun 24 16:17:03 UTC 2020 x86_64 x86

[2020-08-07 15:02] divyenpatel commented on #93727
closing this issue.

@gnufied as you mentioned in the slack conversation, if we can stop re-try expansion if the driver returns `Unimplemented`, it will work. I will create a bug for external-resizer.

@liggitt we will also explore the option of adding an admission webhook in the vSphere CSI driver to help protect such accidental unsupported changes on the storage class.

[2020-08-07 15:02] #93727 closed

[2020-08-07 15:11] rikatz commented on #93784
Hey @fcantournet

I just did not understood, the cpu goes to 200% in the node or in the place where kubectl is running?

Thanks!

[2020-08-07 15:39] michaelgugino commented on #93753
Updated to latest k8s master, things are working normally.  Did a diff between the current master tip (97c5f1f7632f2d349303515830be76f6c1084b19) and aa0632208ec0a2191e956d86f3406afbb497b881, nothing related found.

Checked out aa0632208ec0a2191e956d86f3406afbb497b881 to see if I still encountered the error, error is no longer present.

Based on the original error message 'converting (v1alpha1.Lead

[2020-08-07 15:49] aojea commented on #93281
good, thanks

[2020-08-07 15:51] liggitt commented on #93685
will be addressed as part of #93484

[2020-08-07 15:51] ericgomes56 opened #93786 "Kubernetes Worker Node Error -- error uploading crisocket"
**What happened**:
I'm trying to join a worker node to my Kubernetes cluster and I receive the following panic/error:

kubeadm join 192.168.1.130:6443 --token k1xuqq.w1tfgkrsadzktlg2 --discovery-token-ca-cert-hash sha256:9df53aa3420d122e2b379b7348df3a12b94f4710bf89781d09696a1c8a0743ee

[kubelet-start] Waiting for the kubelet to perform the TLS Bootstrap...
I0807 11:45:23.000604   18663 cert_rotati

[2020-08-07 15:54] ericgomes56 commented on #93786
/sig cluster-lifecycle

[2020-08-07 16:03] stantonk commented on #48180
There is definitely a strong need for a built-in solution to this.

[2020-08-07 16:08] msau42 commented on #93749
I wonder if the generated namespace suffix is not unique enough.

cc @Jiawei0227 to take a look

[2020-08-07 16:15] zhouya0 opened #93788 "Scheduler registering info shows in --version flag"
Using scheduler like `scheduler --help` or `scheduler --version`, it always get unwanted output like:
[code]
It simply because when adding the flags in scheduler, it will try to look up the `ListAlgorithmProviders()`
[code]
And this will invoke:
[code]
Since `version` flag already has `verflag.PrintAndExitIfRequested()` to prevent running other code when having `--version`:
We should not print the

[2020-08-07 16:16] zhouya0 commented on #93788
/sig scheduling

[2020-08-07 16:23] nckturner commented on #92799
/assign @wongma7

[2020-08-07 16:29] nckturner commented on #93059
/assign @M00nF1sh

[2020-08-07 16:52] msau42 commented on #93780
/assign @cofyc
I belive some changes were made to this test recently

[2020-08-07 17:11] ZhiFeng1993 commented on #93609
@liggitt I'd like to work on master.TestKMSHealthz

[2020-08-07 17:12] liggitt commented on #93609
thanks, I added your name. you might check with @immutableT to see if he has suggestions or has started looking at this

[2020-08-07 17:13] velkhatib opened #93791 "Udp service not working on 1 node"
**What happened**:
Udp service is not working with 1 node. (3 others are ok)

**What you expected to happen**:
Udp K8s service is working in my 4th node

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
I have build a 3 nodes cluster about 6 months and I have just add a node

- Cluster of 4 nodes. 3 are running and working well.
- Core DNS is i

[2020-08-07 17:15] velkhatib commented on #93791
/sig network

[2020-08-07 17:16] Jiawei0227 commented on #93749
We do check if the namespace already exists here:
https://github.com/kubernetes/kubernetes/blob/a6405451674428172956116b4c93710ac03ebddd/test/e2e/framework/util.go#L346

[2020-08-07 17:20] msau42 commented on #93749
For CSI tests, we generate a 2nd namespace for the driver. Does that use the same method? cc @gnufied

[2020-08-07 17:22] Jiawei0227 commented on #93749
Another look at the raw-log. It seems like we do deleted the namespace in another test...
This namespace was in the testcase namespace in that test. And it is also the csi-driver namespace for this test. And after the first test terminated, that namespace get deleted. That's why the second test failed.

[2020-08-07 17:24] ZhiFeng1993 commented on #93609
thanks @liggitt

@immutableT please let me know if you've started looking. I'll let you have it. :)

[2020-08-07 17:35] apelisse commented on #91074
Here's a solution that I have in mind. It would only solve the problem for server-side apply, but since this is eventually (and hopefully soon) will be the only available option, I think that's fine. I'm treating both the diff/apply or list-conflict/force use-cases the same here:

1. On apply, including on dry-run and conflicting request, always returns a header with the hash of the list of fields

[2020-08-07 17:42] immutableT commented on #93609
@ZhiFeng1993 I have not yet.
If you are interested in working on this then by all means go ahead.

[2020-08-07 17:56] robscott commented on #92928
As a quick update, https://github.com/kubernetes/kubernetes/pull/93520 should fix this.

[2020-08-07 18:17] Jiawei0227 commented on #93749
Okay, I found the issue.
This happens because of the cleanup mechanism in CSI mock volume.
https://github.com/kubernetes/kubernetes/blob/a6405451674428172956116b4c93710ac03ebddd/test/e2e/storage/drivers/csi.go#L216
So Let's say we have two testcases A and B.
1. Testcase A is in namespace `random-X` and it creates a namespace for its CSIDriver called `random-Y`
2. Testcase B is in namespace `random

[2020-08-07 18:19] Huang-Wei commented on #93782
It seems this job failed just once since Jul 23, so I'm wondering is it a must for 1.19?

[2020-08-07 18:26] aeciopires commented on #17512
Hello!

I created this script and share it with you.

https://github.com/Sensedia/open-tools/blob/master/scripts/listK8sHardwareResources.sh

This script has a compilation of some of the ideas you shared here. The script can be incremented and can help other people get the metrics more simply.

Thanks for sharing the tips and commands!

[2020-08-07 18:36] gnufied commented on #93749
We have to delete the first namespace (which includes test pods), otherwise if you delete them after deleting the driver pods - we will have pods stuck forever in terminating state.

We could try naming driver namespace differently but it sounds like then this could still happen.  Have we considered first 6 chars of SHA1 or something similar for namespaces? (I know shas can collide too)

[2020-08-07 18:38] Huang-Wei commented on #93788
@zhouya0 that's annoying. Can you help to fix it?

[2020-08-07 18:56] ravisantoshgudimetla commented on #92963
When sandboxpod is created, it needs to handle WindowsOptions
    CRI needs to deal with this logic and currently only receives linux related parameters

Thank you for creating this issue @wawa0210. We have a similar problem in the OpenShift too, however I think we can make the changes to code currently without adding a new api for WindowsPodSandBox, considering securityOptions are the only ones w

[2020-08-07 18:58] hasheddan commented on #93782
@Huang-Wei Given this is a conformance test I would prefer we at least know what is causing the issue

[2020-08-07 19:01] msau42 commented on #93749
Maybe try both 2) and 3) to reduce the changes of collision

[2020-08-07 19:05] adtac opened #93792 "new scheduler_perf framework: allow users to specify default pod and node specs"
Note: this issue should be viewed in the context of https://github.com/kubernetes/kubernetes/pull/93252.

**What would you like to be added**: Each workload currently requires the user to specify the node/pod specs explicitly. While this is sometimes useful in certain workloads, for around half the workloads, all benchmarks use the same pod and node specs across all `CreateNodes` and `CreatePods`

[2020-08-07 19:05] adtac commented on #93792
/sig scheduling
/sig testing

[2020-08-07 19:05] adtac commented on #93792
/assign

[2020-08-07 19:10] adtac opened #93793 "new scheduler_perf framework: add a sleep timer op"
Note: this issue should be viewed in the context of #93252.

**What would you like to be added**: Currently we support three types of ops: `CreateNodes`, `CreatePods`, `Barrier`. This issue proposes adding a `Sleep` op that would simulate user action by causing the main thread to sleep. Note: I don't have a use-case for this in mind, but one can come up with trivial and contrived examples easily.

[2020-08-07 19:14] adtac opened #93794 "test/integration/framework/perf_utils.go: refactor CleanupNodes to only delete nodes created by itself"
**What would you like to be added**: `CleanupNodes` currently enlists all nodes and deletes *all* of them. This is unintuitive as each node preparer should probably only cleanup the nodes it created.

/sig scheduling
/sig testing
/assign

[2020-08-07 19:18] adtac opened #93795 "test/integration/scheduler_perf: make sure each testCase and workload has a unique name"
Note: this issue should be viewed in the context of #93252.

**What would you like to be added**: When parsing the performance-config.yaml file, make sure each testCase and workload has a unique name. This can also be implemented by changing the yaml file's structure into maps instead of arrays (as suggested by @alculquicondor), but this will result in a loss of test/workload order (i.e. a `5000No

[2020-08-07 19:22] matthias50 opened #93796 "Kubelet on Azure is making vmss calls even when useInstanceMetadata is set to true"
**What happened**:

Kubelet is logging error messages every 10 seconds indicating failed vmss calls because of rate limiting. These calls prevent the subscription from recovering from whatever was the original cause of the rate limiting by making these API calls continuously.

**What you expected to happen**:
Kubelet does not make these API calls when useInstanceMetadata is set to true in the clou

[2020-08-07 19:32] matthias50 commented on #93796
/sig cloud-provider

[2020-08-07 19:32] matthias50 commented on #93796
/area provider/azure

[2020-08-07 19:38] Frondall opened #93801 "Packet loss with NodePort port forwarding, no SYN-ACK being sent by worker node"
**What happened**:
When trying to access a port that is forwarded with NodePort, large packet loss is being seen (upwards of 80% packet loss).
This is occurring on a freshly installed Kubernetes cluster running on baremetal and using kube-router as the networking interface. This occurs both locally on the node itself (i.e. curl http://localhost:<node_port>) and remotely (i.e. curl http://<node_ip>

[2020-08-07 19:43] Frondall commented on #93801
/sig network

[2020-08-07 19:56] alejandrox1 commented on #92911
I think we could start with a README in https://github.com/kubernetes/kubernetes/tree/master/test/e2e/framework

[2020-08-07 20:24] msau42 commented on #93691
Unsure if they're related. I plan to spend some time next week to investigate this further.

[2020-08-07 20:56] Mr-Howard-Roark opened #93802 "If Kubelet Tries To Chown Files Any Time It Sees fsGroup Then That Can Catastrophically Impact Shared File Systems"
**What happened**:
Based on the below references, I am concerned about the implications of including fsGroup in a pod that mounts shared file system volumes.  Many companies have multiple workflows that utilize the same shared file system whether onprem, in the cloud, or in containers and if someone mounts a pod that utilizes a Volume for that shared file system and unwittingly includes fsGroup be

[2020-08-07 21:04] BenTheElder commented on #93484
1.15rc2 is out. we're using it in kind and kubetest2

[2020-08-07 21:05] BenTheElder commented on #93685
1.15rc2 is out. we're using it in kind and kubetest2
kubernetes will take a bit longer. it's pretty involved still and depends on the golang docker image

[2020-08-07 21:21] Mr-Howard-Roark commented on #93802
/sig architecture

[2020-08-07 21:23] mariusmotea commented on #70411
I also receive lot of `tls: client offered an unsupported` records. I discover these are generated by HAproxy healt check `ssl-hello-chk` witch use only SSLv3, while apiserver require TLS. I switch to `check-ssl` which use openssl implemention and disable the verification because the certificates are self signed, generated by kubeadm.
Here are my changes:
[code]

[2020-08-07 21:55] #93527 closed

[2020-08-07 23:06] thockin commented on #93545
I suspect that we could "simply" check both podCIDRs and podCIDR in the controller.  The node would not get assigned a 2nd CIDR, but I am assuming that the node will eventually be upgraded, too, so not a huge deal.

[2020-08-07 23:09] lavalamp commented on #88889
/reopen
/lifecycle frozen

[2020-08-07 23:20] kfirfer commented on #70411
Happens to me as well
and im not using HAproxy

Fresh installed with kubeadm with v1.18.6, having 2 control plane nodes

From APIserver pods:
[code]

From etcd pods:
[code]

[2020-08-07 23:36] grosser commented on #93734
from /metrics/probes I only got
[code]
so not very helpful ... from the /healthz/etc endpoint I only get `ok` so can graph that over time, but some kinda of count / duration metric would be nice to see trouble brewing before it's down

[2020-08-07 23:48] thockin commented on #93545
Something like:

[code]

[2020-08-07 23:49] thockin commented on #93545
The next question is do we have other instances of this as we pluralize?  I have a hunch...

[2020-08-07 23:50] logicalhan commented on #93734
Is your etcd not managed by the control plane kubelet? (That would be a necessary condition for this)

[2020-08-07 23:58] zhouya0 commented on #93788
@Huang-Wei  Ok I'll take care of this.
/assign

[2020-08-08 00:16] spiffxp commented on #92937
https://github.com/kubernetes/test-infra/issues/18729 covers reevaluating merge-blocking jobs

[2020-08-08 00:23] liggitt commented on #93802
I think this is covered by https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/695-skip-permission-change which is a feature in progress to allow controlling whether a permission change is attempted

/remove-sig architecture
/sig storage
/remove-kind bug
/kind support

[2020-08-08 01:06] #81469 closed

[2020-08-08 01:39] grosser commented on #93734
it's on a different host
either way these checks are only "healthy true/false" which I already
covered, I was interested failure rates and request times from api servers
perspective

On Fri, Aug 7, 2020 at 4:50 PM Han Kang <notifications@github.com> wrote:

[2020-08-08 01:46] logicalhan commented on #93734
It's a counter, so it would actually let you infer the rates.. it's a moot point though since your control plane kubelet isn't monitoring your etcd instance.

[2020-08-08 02:09] grosser commented on #93734
ahh ok I'd be able to do result=successful over result=failed
but yeah that would be on a different host so no really correlated

[2020-08-08 02:42] andyzhangx opened #93805 "SMB mount issue"
**What happened**:
https://github.com/kubernetes/kubernetes/pull/73661 not fixed the SMB mount issue totally, when there is a SMB mount with same remote path, original SMB mapping would be removed and SMB mapping re-established, that would cause temporally data inaccessible with the original container.

#### fix
should change `isSMBMappingExist` to `isSMBMappingValid`
https://github.com/kubernetes

[2020-08-08 03:08] #86746 closed

[2020-08-08 03:11] zerkms commented on #30656
/remove-lifecycle stale

[2020-08-08 03:14] scott2449 commented on #78761
My issue was this. I was trying to track it down for like 6 weeks, read this and many other posts but completely missed the point that it's the selectors of the scaleTargetRef that you need to make sure are only selecting the pods in the deployment. Deployment, ReplicaSets, etc.. will apparently work perfectly fine with selector that is selecting pods from other deployments, but fail hard when you

[2020-08-08 03:38] moret commented on #86436
/remove-lifecycle stale

[2020-08-08 09:16] hsjalilian commented on #39792
Hi,

Is there any way to map "a.domain.com" to "a-domainservice"?
i want connect microservice applications together  with domain name , but domain resolve service name in cluster.

Thanks,

[2020-08-08 10:12] rhatdan commented on #90759
My setup is just a standard CRI-O configured setup.  CRI-O understands that containers that share IPC and/or PID Namespaces need to share the same SELinux label.  I believe as long as the kubernetes yaml file does not override the SELinux label, it should just work out of the box.  Thousands of OpenShift users are getting this without setting anything up.

[2020-08-08 11:47] mattfenwick commented on #93568
@prameshj I put together a patch to [report a log warning in the case of using node-local-dns on an IPv6 cluster](https://github.com/mattfenwick/dns/pull/1) to make it more clear in this case what the issue is.

Do you think it's worth moving forward with adding that log statement?  (I know I'd have to redo the patch differently, I did it a really dumb way and sure there's a much much better way :

[2020-08-08 13:24] liggitt commented on #93783
cc @kubernetes/sig-apps-bugs

[2020-08-08 13:58] liggitt commented on #91615
yes, we can keep this open until the release branches are patched. json-patch just cut a v4.8.0 release we can use for those, opening PRs now.

[2020-08-08 15:54] vincepri commented on #91615
I noticed we're using `v0.0.0-20200808040245-162e5629780b` instead of the actual git tag `v4.8.0`.

When I tried using the tag I got the error
[code]

Unfortunately, even if we have a replace directive in controller-runtime, this won't be enough because controller-runtime doesn't generate any binary, all the projects using it (through kubebuilder and whatnot) will have to have the replace directiv

[2020-08-08 16:15] liggitt commented on #91615
See https://github.com/evanphx/json-patch/pull/113

[2020-08-08 17:09] Mr-Howard-Roark commented on #93802
It seems like most people are focusing on the performance issues and occasionally similar to the issue you link to under Motivation they mention that one pod that mounts a shared file system volume with fsGroup could impact another pod that uses that volume; but, it doesn't seem like people are thinking about the very bad consequences for companies that rely on shared file systems throughout their

[2020-08-08 17:25] Isan-Rivkin commented on #87844
/remove-lifecycle stale

[2020-08-08 18:00] StrikerExtreem commented on #70411
One of my raspberrypi nodes was update from kernel 4.19 to kernel 5.4 on raspbian, after that, TLS Handshake errors occurred. Reverting back to 4.19 seems to solve it. Maybe this will help investigating.

[2020-08-08 18:17] liggitt commented on #93783
Based on the description, this is not specific to webhooks but could occur when any admission plugin (like resourcequota) prevents creation of pods for a job

[2020-08-08 18:23] #88692 closed

[2020-08-08 18:49] mohag commented on #53201
/remove-lifecycle stale

Still present

[2020-08-08 18:55] huang-jy commented on #93783
Possible, but I haven't tested anything using resourcequota. But then again, if resourcequota was rejecting the pod, it should show up on the events entries on the job and/or cronjob object; and the pod creation would be rejected outright, and not delayed.

The snowball effect happens when the pod creation takes longer than normal, and it is this delay that seemingly causes these problems.

[2020-08-08 19:23] frittentheke commented on #73628
/remove-lifecycle stale

[2020-08-08 19:23] kopal2212 opened #93818 "Prestop hook are not being triggered when container in the pod gets restarted"
**Usecase:** We want a file to be exported to S3 if the container running in pod gets restarted due to OOM error, so we are passing a script in pre stop hook to achieve it, But we are unable to achieve it since pre stop hook is not being triggered.

**What happened**:
_**Scenario 1:**_ when a pod is deleted manually using kubectl delete or using liveness probe, _the pre-stop hook is being triggere

[2020-08-08 19:25] kopal2212 commented on #93818
@kubernetes/sig-cluster-lifecycle-bugs

[2020-08-08 21:12] zerkms commented on #89938
/remove-lifecycle rotten

[2020-08-08 21:28] AndrewSav commented on #14040
/remove-lifecycle stale

[2020-08-08 22:09] thatguyjono94 opened #93819 "Log streaming disconnects after a while"
**What happened**:
Running `kubectl --context minikube logs --since=3s -f api-5684fc7b49-49jlt -c api --namespace kludge` to get live logs disconnects unpredictably between 6 - 10 hours usually.

**What you expected to happen**:
It should never disconnect until instructed. I'm running my cluster in a minikube environment.
**How to reproduce it (as minimally and precisely as possible)**:
Running li

[2020-08-08 22:10] thatguyjono94 commented on #93819
When I ran this command individually it ran for 10 hrs before disconnecting (no message was given after dc). I still don't know what causes the underlying issue. Based on my research it could be the following:

Apparently log rotation disconnects log streaming (kubernetes/kubernetes#28369). I'm not sure though if it's something that's being done by default in a minikube environment.

There still c

[2020-08-08 22:27] #88809 closed

[2020-08-08 22:30] liggitt commented on #93819
That is not what I would expect. The API server and kubelet have timeouts associated that ensure all connections are eventually closed. Multiple hours is actually longer than I would have expected the connection to remain open (1-2 hours would have been my guess)

[2020-08-08 22:43] fejta-bot opened #93820 "pr:pull-kubernetes-e2e-gce-100-performance flaked 18 times in the past week"
### Flaky Job: pr:pull-kubernetes-e2e-gce-100-performance
 Flakes in the past week: **18**
 Consistency: **93.60%**

#### Flakiest tests by flake count:
| Test | Flake Count |
| --- | --- |
| ClusterLoaderV2 | 12 |
| Timeout | 9 |
| TearDown | 4 |
| testing/density/config.yaml | 4 |

#### Previously closed issues for this job flaking:
#83529 #62592 #73884 #83870 #87468 #86562 #81890 #67295

[Flaki

[2020-08-09 00:04] thatguyjono94 commented on #93819
@liggitt thanks for the response. A command like `kubectl exec` has a request timeout flag which can be set to never expire. Although `kubectl logs` doesn't. The issue I guess for me is that when I'm developing locally, after a while I don't get my http request logs as the stream closes. And I need to re-establish the connection. Is this expected behavior and is `kubectl logs` with the `follow` fl

[2020-08-09 00:16] liggitt commented on #93819
Regardless of what the client-side timeout is set to, a server side timeout always governs.

Yes, clients need to be prepared to reestablish dropped connections.

[2020-08-09 00:26] fzyzcjy commented on #66924
@gogene P.S. In 2020.08, the 1.32.0 still has problem in nslookup. (2 years has passed...)

[2020-08-09 01:40] alam0rt commented on #93744
/assign

[2020-08-09 02:06] hasheddan opened #93822 "[Flaky Test] verify.govet passes entire source tree resulting in high memory usage"
**Which jobs are flaking**:

`pull-kubernetes-verify`

**Which test(s) are flaking**:

`verify.govet`

**Testgrid link**:

https://testgrid.k8s.io/presubmits-kubernetes-blocking#pull-kubernetes-verify

**Reason for failure**:

Test is passing the entire source tree causing the OOM exceptions due to new limits placed on job in https://github.com/kubernetes/test-infra/pull/18610

[code]

**Anything

[2020-08-09 02:09] liggitt commented on #93822
We could experiment with passing one file, one package, or a fixed number of packages at a time to see if there's a good balance between speed and memory consumption

[2020-08-09 02:10] liggitt commented on #93822
something like `xargs -L 100 go vet ...` could be useful for bounding what we make vet deal with at once

[2020-08-09 02:11] hasheddan commented on #93822
@liggitt SGTM!

/assign

[2020-08-09 02:31] #88085 closed

[2020-08-09 03:59] blackjackyau opened #93824 "Recommendation of service DNS name best practise"
**What would you like to be added**:
- The service DNS name of `${service-name}.${namespace}.svc.cluster.local` is not Kube DNS optimized, do provide the  recommendation/best practices documentation

**Why is this needed**:
Refers to this https://stackoverflow.com/questions/63315217/openshift-kubernates-kube-dns-best-practise-ndots-5

[2020-08-09 04:01] blackjackyau commented on #93824
/sig network
/sig docs

[2020-08-09 04:33] #89075 closed

[2020-08-09 07:06] chiducaf opened #93825 "/open"
/open

_Originally posted by @chiducaf in https://github.com/kubernetes/kops/issues/964#issuecomment-671016315_

[2020-08-09 07:07] chiducaf commented on #93825
#

[2020-08-09 07:07] #93825 closed

[2020-08-09 07:15] manjeetsorout opened #93826 "Back-off restarting failed container"
**What happened**:
Back-off restarting failed container
**What you expected to happen**:
message "Back-off restarting failed container" shouldn't in the Events message

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:
kubectl describe pods wordpress-5bbd7fd785-p4s9r:

Name: wordpress-5bbd7fd785-p4s9r
Namespace: default
Priority: 0
Node: manjeet

[2020-08-09 08:35] uablrek commented on #93801
This seems to be a problem with the data-path. K8s does not handle the data-path, directly that is handled by the "CNI-plugin" in your case `kube-router`.

So this is likely a `kube-router` (setup?) problem, not something that can be fixed in K8s.

If you install kube-router with `generic-kuberouter-all-features.yaml` then kube-router will also do the job of `kube-proxy` which setup the iptables r

[2020-08-09 09:06] cofyc commented on #93780
https://github.com/kubernetes/kubernetes/pull/93555 may resolve this issue.
I'll check the failure results after this PR is merged.

[2020-08-09 10:03] chendave opened #93828 "merge `NodeUnschedulable` with `TaintToleration` filter plugin together"
**What would you like to be added**:
`TaintToleration` is a plugin that checks if a pod tolerates a node's taints
`NodeUnschedulable` is plugin which check if the pod tolerates one specific taint `node.kubernetes.io/unschedulable` and the implied impact for the taint of `node.Spec.Unschedulable`.

`TaintToleration` could cover all the usecases of `NodeUnschedulable` well (some tweak might be neede

[2020-08-09 10:03] chendave commented on #93828
/sig scheduling

[2020-08-09 10:04] chendave commented on #93828
/cc @ahg-g  @Huang-Wei  @alculquicondor  what do you think? Do I miss something that both of them must co-exist in scheduling.

[2020-08-09 10:11] draveness commented on #93828
`node.Spec.Unschedulable` was supposed to be deprecated, but we can't remove it from the node unless we have a new major API version. https://github.com/kubernetes/kubernetes/issues/69010

I think should keep the `NodeUnschedulable` plugin until the API version bumped to v2 (not in the near future IMO)

[2020-08-09 10:49] xopham commented on #30603
We ran into the same issue to ensure integrity and authenticity of docker images. Since we saw this issue in several projects and could not find a proper solution, we build an admission controller that integrates image signature verification via Notary (essentially very similar to DCT) and some extra features like allow listing. Project is available here: https://github.com/sse-secure-systems/conn

[2020-08-09 11:40] #68939 closed

[2020-08-09 11:40] #89049 closed

[2020-08-09 12:11] odinuge commented on #88197
This is now fixed inside of runc here: https://github.com/opencontainers/runc/pull/2343, so should work in v1.19 when it is released!

/close

[2020-08-09 12:24] cofyc opened #93830 "Scheduler should forget the pod when the reverse plugins fail"
This is a bug found in https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/93555/pull-kubernetes-integration/1292393344655167493.

The scheduler fails to schedule the pod `pv-w-prebound` on the first try due to PV is out of sync.

[code]

This may happen because the PV/PVC may be modified before the scheduler binder assumes them.

However, the scheduler skips the pod update event and never

[2020-08-09 12:24] cofyc commented on #93830
/sig  scheduling
/sig storage
/assign
/priority critical-urgent

[2020-08-09 13:02] jayunit100 opened #93832 "Should/Can we have a utils function for making decisions based on dualstack support ?"
**What would you like to be added**:

(modified this from my original description, where I linked to node IP metadata, probably not a good example)
convenience methods for detecting wether or not a cluster supports different networking modes,
- IPv6 services supported
- IPv6 pods supported
- DualStack supported
per Khaled's comment, there's also probably some value in being able to query other met

[2020-08-09 13:02] jayunit100 commented on #93832
/sig network

[2020-08-09 13:03] jayunit100 commented on #93832
@khenidak  any thoughts here since your adding the ipv6 services stuff?  not sure if this is a valid ask or not, but filed the issue just in case

[2020-08-09 13:03] jayunit100 commented on #93832
/assign

[2020-08-09 13:07] jayunit100 commented on #93801
/assign @eth0xfeed

[2020-08-09 13:11] eth0xFEED commented on #93801
I can take a look , thanks @jayunit100 !

[2020-08-09 13:11] eth0xFEED commented on #93801
/assign

[2020-08-09 13:14] jayunit100 commented on #93791
/assign

[2020-08-09 13:27] jayunit100 commented on #93791
To clarify, just a few starter questions ...

- DNS works on all nodes but one?
- Can you show us the routing rules to core dns ?
- What happens if you run `kubectl scale deployment coredns -n coredns`
- Out of curiosity what is your node ip range ?
- Can you run the Kubernetes e2e test suite and tell us what tests fail/pass ?   A good start is `sonobuoy run --e2e-focus='intra-pod'`

[2020-08-09 13:27] jayunit100 commented on #93791
/remove-triage unresolved

[2020-08-09 13:35] jayunit100 commented on #93824
per conversation w @eth0xfeed - ndots indicator (precursor to search) he's going to self-assign this I think

[2020-08-09 13:35] jayunit100 commented on #93824
/assign @eth0xFEED

[2020-08-09 13:35] eth0xFEED commented on #93824
/assign

[2020-08-09 13:49] jayunit100 opened #93833 "Breadth first polling in intra-pod networking Conformance verification"
**What would you like to be added**:

Right now we poll one node at a time for intra-pod tests.  We ultimately fail a test if any one node is unreachable.

If we instead polled all nodes, multiple times, and collected the number of times a node was unreachable, this would
- tell us what % of nodes on the cluster were broken, rather then just telling us the first node that was broken.
- not break t

[2020-08-09 13:50] jayunit100 commented on #93833
/sig network

[2020-08-09 13:50] jayunit100 commented on #93833
/assign

[2020-08-09 14:43] #89058 closed

[2020-08-09 14:50] liggitt commented on #93826
This is working as intended, surfacing the fact that the container has restarted many times, and that the kubelet is no longer restarting it as aggressively/quickly. The next recommended action is to view container logs to determine the cause for the restart.

[2020-08-09 14:50] #93826 closed

[2020-08-09 15:16] testbsstest commented on #50295
Thank you. it works well 💯

[2020-08-09 15:44] #89034 closed

[2020-08-09 15:56] eth0xFEED commented on #93824
@blackjackyau There is documentation on changing this value at the pod level , [pod DNS config](https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/#pod-dns-config), however I'm not sure if your question is related to a single pod and DNS resolution attempt or something else.

Please provide more details on your environment and specific issue which you are facing and will try t

[2020-08-09 16:01] jayunit100 commented on #93833
/remove-triage unresolved

[2020-08-09 16:06] jayunit100 opened #93835 "Salt / _PILLAR_ references in DNS parts of the codebase - what's the plan to remove?"
**What happened**:

There are a lot of `_PILLAR_` variables (i.e. around the DNS area) which need to probably be removed over time, as I think were not coupled to salt anymore.

**What you expected to happen**:

Salt variable semantics wouldn't be coupled into the codebase.

**How to reproduce it (as minimally and precisely as possible)**:

(`grep -I` for `_pillar_` in the codebase)

**Environment

[2020-08-09 16:07] jayunit100 commented on #93835
/sig @kubernetes/goog-gke

[2020-08-09 16:08] jayunit100 commented on #93835
/sig network

[2020-08-09 16:47] blackjackyau commented on #93824
@eth0xFEED
yes, it is at the pod level. i was performing a nslookup -debug and looked at the DNS resolution.
the environment tested has the default setup where `ndots = 5` and i was wondering since `ndots = 5` is the default setting.
should we document the use of DNS name `${service-name}.${namespace}.svc.cluster.local.` as the optimized DNS name by default ?

[2020-08-09 17:22] liggitt commented on #93685
Fixed by https://github.com/kubernetes/kubernetes/pull/93827#issuecomment-671074415

[2020-08-09 17:22] #93685 closed

[2020-08-09 17:29] 0x4139 commented on #71904
is there any plan to support the binaries inside the kube-controller-manager or we are stuck to using and external provisioner while the docs specify that the rbd provisioner is supported internaly?

[2020-08-09 18:08] raelga commented on #78352
/remove-lifecycle stale

[2020-08-09 18:17] laurybueno commented on #17512
For my use case, I ended up writing a simple `kubectl` plugin that lists CPU/RAM limits/reservations for nodes in a table. It also checks current pod CPU/RAM consumption (like `kubectl top pods`), but ordering output by CPU in descending order.

Its more of a convenience thing than anything else, but maybe someone else will find it useful too.

https://github.com/laurybueno/kubectl-hoggers

[2020-08-09 18:31] thatguyjono94 commented on #93819
@liggitt is there a way to set these server timeouts?

[2020-08-09 18:42] trishankatdatadog commented on #30603
Very interesting! Have you looked into [Portieris](https://github.com/IBM/portieris)?

In the meantime, you might be interested in our Notary-v2 GitHub [repo](https://github.com/notaryproject) and Slack [channel](https://app.slack.com/client/T08PSQ7BQ/CQUH8U287). If that becomes a widely-adopted standard, we might be able to convince k8s to use it...

[2020-08-09 20:29] MikeSpreitzer commented on #44995
/reopen
I have this exact use case now.  I have an out-of-tree object type that embeds a `v1.PodTemplateSpec`.  I would like my custom apiserver to invoke the regular code for validating a `v1.PodTemplateSpec`.  I realize that the actual validation works against the internal AKA unversioned type.  I would be happy if my own internal AKA unversioned type could include the one for PodTemplateSpec.

[2020-08-09 21:05] george-angel commented on #46287
/remove-lifecycle stale

[2020-08-09 22:09] aojea commented on #93091
/close

[2020-08-09 22:09] #93091 closed

[2020-08-09 22:17] aojea commented on #93741
This is correct, this was added in 1.17 and since is an alpha feature is not going to be backported to 1.16

xref: https://github.com/kubernetes/kubernetes/pull/83123

/close

[2020-08-09 22:17] #93741 closed

[2020-08-10 01:48] ZhiFeng1993 commented on #93609
@immutableT  I looked into `TestKMSHealthz` and I haven't found a good way to speed up the test according to the strategies @liggitt suggested: the activities are in sequence so I couldn't really parallelize anything. Also I have't found any timeout defined.

Any thoughts/suggestions?

[2020-08-10 02:40] blackjackyau commented on #93824
inconsistency on documentation
`${service-name}.${namespace}.svc.cluster.local` without dot from
https://github.com/kubernetes/website/blob/master/content/en/docs/concepts/services-networking/dns-pod-service.md

and `${service-name}.${namespace}.svc.cluster.local.` with dot from
https://github.com/kubernetes/dns/blob/master/docs/specification.md

If `${service-name}.${namespace}.svc.cluster.local.

[2020-08-10 02:49] unullmass commented on #30603
I recommend taking a look at this Docker plugin implementation (
https://github.com/intel-secl/secure-docker-plugin/tree/v2.2.0) to
understand how container create requests to the Docker Daemon API are
intercepted by this Authorization plugin and allowed or disallowed based on
image trust status (Notary check). This is part of a larger project called
Intel Security Libraries for Data Center (https

[2020-08-10 03:01] hoyho opened #93840 "kubeadm deploy failed when using non-default etcd port"
**What happened**:
kubeadm is not support using non-default etcd port
for exemple, when install with a local etcd using following config:
kubeadm.yaml
[code]
kubeadm will generate an incorrect yaml for static pod  of etcd

This is because some various are hard coded
[code]

**What you expected to happen**:
kubeadm should use user's ectd config rather than hard coding those ports
for example,use 33

[2020-08-10 03:04] hoyho commented on #93840
/sig sig-cluster-lifecycle

[2020-08-10 03:05] hoyho commented on #93840
/sig cluster-lifecycle

[2020-08-10 03:42] #90794 closed

[2020-08-10 04:43] lentzi90 commented on #78621
/remove-lifecycle rotten

[2020-08-10 04:55] warmchang commented on #39261
Try "Content-Type: application/merge-patch+json" or "Content-Type: application/strategic-merge-patch+json".

FYI: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#patch-operations

[2020-08-10 05:30] masaeedu opened #93842 "Pods scheduled on Windows node show as "running" even when the Windows node is shut down"
**What happened**:

I deployed a mixed cluster with a Linux master node, a Linux worker node, and a Windows worker node. I scheduled a pod containing a Windows Server container onto the Windows node using:

[code]

The pod shows up as running:

[code]

However, after I shut down the Windows node and wait for 3 minutes, I still see:

[code]

The same problem occurs with pods scheduled via a daemons

[2020-08-10 05:30] #81368 closed

[2020-08-10 05:30] masaeedu commented on #93842
/sig network

[2020-08-10 05:30] masaeedu commented on #93842
/sig windows ?

[2020-08-10 06:19] mikkeloscar commented on #77603
/remove-lifecycle stale

[2020-08-10 06:20] mikkeloscar commented on #75674
/remove-lifecycle rotten

[2020-08-10 06:33] xopham commented on #30603
@trishankatdatadog thanks!
We checked out Portieris and I think it's a great solution. Only roadblock seemed to be the lack of support for other registries which was critical for us: https://github.com/IBM/portieris/issues/51

Excited to see the work on Notary-v2! So much going on in the field :-) Might see if we can get involved there

[2020-08-10 06:41] rajatjindal commented on #79395
Also spent few hours trying to debug this.

I am willing to submit the PR for this. I can see that we can go one of the following routes:

1. add message to command line argument to specify the need of 'system:authentocated' group OR
2. when impersonating group, automatically add 'system:authenticated' to the group list

I think the option 2 will be most user friendly (unless we think it will trig

[2020-08-10 06:57] dazinator commented on #78139
Hitting this on azure web app for windows containers, running a aspnet core 3.1 docker image.

[2020-08-10 07:15] Zheaoli commented on #93842
/sig node

[2020-08-10 07:19] Zheaoli commented on #93818
/assign

[2020-08-10 08:07] hoyho commented on #92287
/cc

[2020-08-10 08:13] sbalinen opened #93845 "Allow wildcards in resourceNames field of RBAC Roles"
With helm3 secrets are being used as a default storage driver. I want to give the service account delete permissions only on the secrets being created by HELM but not others as mentioned below but this is not working. Any particular reason why wildcards are not allowed currently?

- apiGroups: [""]
   resources: ["secrets"]
   resourceNames: ["sh.helm.release.*"]
   verbs: ["delete"]