[2020-06-17 23:53] tstraley opened #92242 "kubeadm and kubelet 1.15 fail to install on centos 7 after patches released today"
**What happened**:

Attempted to install kubernetes 1.15 binaries following documentation on Centos 7 (https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/) and received failures:
[code]

**What you expected to happen**:
Expected these to all install successfully as suggested by the documentation and based on this working prior to today.

**How to reproduce it (as

[2020-06-17 23:57] tstraley commented on #92242
/sig release

[2020-06-18 00:02] MHBauer commented on #92241
I can't find the magical args to run remotely, but I do appreciate the command to test this.

[2020-06-18 00:09] bgrant0607 commented on #8190
This issue should really be moved to a doc (or multiple docs, as not everything is API machinery) and updated.

[2020-06-18 00:11] alejandrox1 commented on #92241
There is but im trying to figure out what are the parts that matter :sweat_smile:

---

This may help make some sense of the runner...
* The entrypoint intho the e2e tests is here https://github.com/kubernetes/kubernetes/blob/7b0d7847ecd915f3d74a14501222e49f07526081/test/e2e_node/runner/remote/run_remote.go#L324

During e2e tests, the runner stands up a kubelet and the part that handles that is de

[2020-06-18 00:38] ju187 commented on #92242
Got the same errors on 1.17.4, 1.17.6 and 1.18.3

[2020-06-18 00:40] MHBauer commented on #92241
I'm on a mac, and it seems to be building for darwin, and then copying those over to gcloud and blowing up.

I have tried setting `export KUBE_BUILD_PLATFORMS='linux/amd64'` or some combination with darwin/amd64, but then the build just straight up doesn't work with output from `hack/lib/golang.sh` complaining about
`go install: cannot install cross-compiled binaries when GOBIN is set` and I'm out

[2020-06-18 00:47] neolit123 commented on #92240
/sig release
/triage support

unless i'm mistaken the latest PATCH version of 1.18.0 would include the CNI plugins inside the kubelet package and you don't have to install kubernetes-cni or containernetworking-plugins anymore.

for more questions try asking in #sig-release on k8s slack.

[2020-06-18 00:54] swamibluedata commented on #92242
We are seeing the issue as well

[2020-06-18 01:23] alejandrox1 commented on #92241
ha linux support strikes again!
i'll continue working on this and putting as much info as i find here.
but you should make an issue about the problem you found! I don't know if it is possible (I recall there being some other issues about building Kubernetes on mac) but i think it may be useful to look into it a bit :thinking:

[2020-06-18 01:25] vaghesh commented on #92242
Same issue observed for 1.17.0

[2020-06-18 01:34] alejandrox1 commented on #92241
ight, after a looooong time bisecting the commit history of all of k/k, not just for k/k/test/e2e_node - I've been reading and reading #91543 and it looks ok.
I discovered that the test runner works ok in https://github.com/kubernetes/kubernetes/commit/3509b46fc6fe2bb5ee3ab9cdca0c3e4f93025042
but then breaks on the next commit at https://github.com/kubernetes/kubernetes/commit/3f8bb1bf50fb5a13a582

[2020-06-18 01:35] alejandrox1 commented on #92241
By the way, this is the commit history for the days around which the test runner broke https://github.com/kubernetes/kubernetes/commits/master?after=7b0d7847ecd915f3d74a14501222e49f07526081+244

[2020-06-18 01:35] ankeesler commented on #90817
@anderseknert - could you return a non-0 exit code from your plugin? Looks like today that non-0 exit code should tell `kubectl` (or some other `client-go` consumer) that the exec credential plugin failed[0]. At least for `kubectl`, the `stderr` output from the plugin shows up on the `stderr` output stream of the `kubectl` process[1].

[0] https://github.com/kubernetes/kubernetes/blob/7b0d7847ecd9

[2020-06-18 01:50] verult commented on #75782
The mount latency also includes `WaitForAttach()` today, which might not be desirable

[2020-06-18 01:58] crawdaddy18 commented on #92242
Same here, help please!!

[2020-06-18 02:40] hzxuzhonghu commented on #76338
That will require hacking into kube-proxy, and do something periodically like kubelet, like getting a particular object, if it fails with network error, then disconnect the underlying tcp connection and reconnect.

[2020-06-18 02:41] zjj2wry commented on #92214
/cc

[2020-06-18 02:43] k-toyoda-pi commented on #81657
`hack/.staticcheck-failures` has some files yet.
Although there is not much progress, do we still need the cleanup?

[2020-06-18 03:00] enj commented on #89114
/remove-lifecycle stale

[2020-06-18 03:16] braedon commented on #66607
@bartversluijs @martinlevesque

Unless I'm missing something about your issue/requirements (entirely possible), `do-loadbalancer-hostname` fixes the issue per loadbalancer, not per subdomain. You shouldn't have to change your loadbalancer/ingress structure at all.

The DO documentation is rather confusing on this point, but it doesn't actually matter what hostname you provide for `do-loadbalancer-

[2020-06-18 03:18] rrcosta commented on #85625
I am having the same problem.... ;(

**`kubectl get pods`**

[code]
**`kubectl describe pods`**

[code]

**`kubectl version`**

[code]

**` uname -a`**

`Darwin MacBook-Pro-de-Rafael.local 18.7.0 Darwin Kernel Version 18.7.0: Mon Apr 27 20:09:39 PDT 2020; root:xnu-4903.278.35~1/RELEASE_X86_64 x86_64`

[2020-06-18 03:25] dkoshkin commented on #92242
Seeing this in all 1.16.x, 1.17.x and 1.18.x versions that are not the latest patches.

[2020-06-18 03:27] SataQiu commented on #92170
/assign

[2020-06-18 03:28] SataQiu commented on #92170
/unassign

[2020-06-18 03:31] enj commented on #91913
/assign @ankeesler

[2020-06-18 03:38] mattilindstrom commented on #92242
Having the same issue with `kubelet-1.14.7-0.x86_64`, system version `CentOS Linux release 7.8.2003 (Core)`.

[2020-06-18 03:41] hwdef commented on #92242
/cc

[2020-06-18 03:57] fatedier commented on #92223
@tedyu The pod was already in NotReady condition? So `utilpod.UpdatePodCondition` will return false and do nothing.

[2020-06-18 04:13] #92112 closed

[2020-06-18 04:14] 13567436138 opened #92244 "kubectl diff error"
**What happened**:
[code]
I don't know why?
**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and ver

[2020-06-18 04:25] zhouya0 commented on #92244
/assign

[2020-06-18 04:36] 13567436138 commented on #92244
the reason seams that diff commnad dis not use field-manager

[2020-06-18 06:04] TeroPihlaja commented on #45419
We are seeing very similar issues (docker ps works but docker inspect for example gets stuck). We are running kubernetes v1.17.6 with docker 19.3.8 on Fedora CoreOS.

[2020-06-18 06:06] sergeyberezansky commented on #50375
+1

[2020-06-18 06:35] yasongxu commented on #70251
/reopen

any plan for this issue ？   #64787，same problem at  k8s  v1.19 version

[2020-06-18 06:57] yasongxu opened #92245 "Job's backoffLimit not correct"
**What happened**:

when I create a job like this :

[code]
 job will eventually fail after it creates 5 failed pods, but it should be 6 failed pods.

[code]

[code]

**Environment**:
kubernetes version : 1.16.8 、 1.19.0

same issue

https://github.com/kubernetes/kubernetes/issues/70251
https://github.com/kubernetes/kubernetes/issues/64787

or any plan for this issue  #64787 ?

[2020-06-18 07:01] kubealex commented on #92240
I'm not installing any other package than kubelet/kubeadm/kubectl, following the documentation.

I am just adding this repo:
https://packages.cloud.google.com/yum/repos/kubernetes-el7-\$basearc

and running yum install kubelet kubeadm kubectl

[2020-06-18 07:06] frittentheke commented on #84366
/remove-lifecycle stale

[2020-06-18 07:06] bartversluijs commented on #66607
@braedon So correct me if I'm wrong, but I can put, for example, `ingress.mydomain.com` as a hostname and from there on, I can resolve every domain I've put in my Ingress file. Even if it's `test.mydomain.com`, because it doesn't add the iptables rules in the proxy?

This would probably solve my problem. Only thing is, does it work when I add the annotation `do-loadbalancer-hostname` to the Ingres

[2020-06-18 07:08] frittentheke commented on #84366
This is somewhat similar to https://github.com/kubernetes/kubernetes/issues/53451 regarding dangling resources

[2020-06-18 07:11] vklohiya commented on #92242
I am also observing same issue with kubeadm-1.16.2-0.x86_64, System Version CentOS Linux release 7.3.1611 (Core)

[2020-06-18 07:17] lukaszbudnik commented on #45509
kruise CloneSet did the trick and works like a charm for me.
Still would be nice to have such functionality provided out of the box.
My use case is application that processes jobs from the queue. We process millions of jobs every month. Jobs are running for a few minutes (with some jobs taking up to an hour!) so when I'm scaling in I have to be sure that I don't terminate any running jobs.
For now

[2020-06-18 07:50] braedon commented on #66607
Yip, adding `do-loadbalancer-hostname: "ingress.mydomain.com"` works by causing k8s to _not_ add a problematic iptables rule, so it fixes internal routing for any domain/subdomain, no matter what domain is used to do it. Once it's in place, any internal traffic to the loadbalancer external IP (regardless of the hostname that resolved to it) will be correctly routed to the loadbalancer external IP,

[2020-06-18 07:56] bartversluijs commented on #66607
@braedon I'm trying this at the moment. It's definitely something to keep in mind to add it **after** the LoadBalancer has been deployed and update it. But my only problem is how to add it to my Ingress controller. Because the Ingress Controller creates a LoadBalancer internally (using helm), so I can't change it. So I'm figuring out if it's possible to add the annotation to the Ingress.yml file.

[2020-06-18 08:11] braedon commented on #66607
@bartversluijs Ahh, I see. I'm pretty sure the annotation can only be on the LoadBalancer Service itself - it changes how DO configures the loadbalancer, so isn't specific to any ingress rule.

What helm chart are you using? It should have an option to set the service annotations. e.g. it looks like the `stable/nginx-ingress` chart has a `controller.service.annotations` object.

[2020-06-18 08:22] #87374 closed

[2020-06-18 08:38] ensonic commented on #80399
Nice to see the work to support $XDG_CACHE_HOME in PR#91020. For ~/.kube/config shouldn't this use XDG_CONFIG_HOME?

[2020-06-18 08:39] sujithvs74 commented on #92242
we are also facing same issue with 1.17.5 version of kubelet.

[2020-06-18 08:44] MarcoPalomo opened #92248 "[ERROR] plugin/errors: 2 selasticsearch.k8smon.svc.k8smon.svc.cluster.local. AAAA: dial tcp 10.7.50.50:53: i/o timeout"
Hello /sig Network ,
I use the DNSCache manifest for getting all the dns request cached. I try to understand how to not get theses false requests like "podname.namespace.svc.podname.namespace.svc.cluster.local"

**What happened**:

[INFO] Added back nodelocaldns rule - {filter OUTPUT [-p udp -s 10.45.0.50 --sport 53 -j ACCEPT]}
[INFO] Added back nodelocaldns rule - {raw OUTPUT [-p tcp -d 10.45.0.5

[2020-06-18 08:48] yasongxu commented on #92245
/sig apps

[2020-06-18 09:04] jorenvs commented on #45509
We're using @bsklaroff 's approach atm, with a slight difference to make it a little less hacky:
Added the "cluster-autoscaler.kubernetes.io/safe-to-evict": "false"  annotation to the pod spec. This should avoid the node being down scaled (still testing this part)

Our python code to do the scheduling using the kubernetes python library:

[code]

[2020-06-18 09:10] MarcoPalomo commented on #92248
/sig Network

[2020-06-18 09:21] shadowXVll commented on #92242
Same here with update to 1.14.10

[2020-06-18 09:32] clarketm commented on #59376
/lifecycle frozen

[2020-06-18 09:40] derori commented on #92242
Download rpm files, and `rpm -ivh xxxx` ?

[2020-06-18 09:42] nikhita commented on #92244
/sig cli

[2020-06-18 09:53] nikhita commented on #91220
/remove-kind bug

[2020-06-18 10:05] xieyanker commented on #92214
/sig node

[2020-06-18 10:15] dmitry-irtegov opened #92250 "hyperkube: kube-proxy 1.16.11 does not work on CentOS7"
**What happened**:
We install k8s 1.16.11 on CentOS 7.7.1908 (Core) node using custom installer
kubelet and CNI binaries are extracted from k8s.gcr.io/hyperkube-amd64:v1.16.11 image.
Everything works, except kube-proxy (and, obviously, anything that depends on it).
It spams log with the message:
[code]
Service IP are not available from this node.

**What you expected to happen**:
kube-proxy works.

[2020-06-18 10:38] remoe commented on #71706
I had a similarly error with 1.13.5. It was "fixed" after upgrading the memory of the controller node(s) from 2GB to 3GB :)

[2020-06-18 10:41] borgerli commented on #54967
# Reason

This problem happens when kube-proxy is deployed as DaemonSet, and eanables `static` cpu-manager-policy for kublet on k8s clusters older than 1.16( I verified 1.14, but not 1.15)

As discussed, this problem relates to the `resource-container` parameter of kube-proxy. Although it's deprecated, its default value is still `kube-proxy`, and kube-proxy under version 1.16 will still create the

[2020-06-18 10:49] davidkarlsen commented on #92242
How can this be worked around on ubuntu?
[code]

[2020-06-18 11:02] serathius commented on #91050
/cc @lavalamp

[2020-06-18 11:17] tusharsonawanes commented on #92242
Same issue observed

[2020-06-18 11:25] dejo1307 commented on #92242
Same issue on CentOS 7 with the latest updates.

[2020-06-18 11:29] nikhita opened #92253 "Rewrite typecheck using go/packages to be module friendly"
Ref: https://github.com/kubernetes/kubernetes/pull/92212#issuecomment-645277504
For https://github.com/kubernetes/kubernetes/issues/82531

Today, the [typecheck](https://github.com/kubernetes/kubernetes/tree/master/test/typecheck) tool uses the `go/types` package for type checking. This is a legacy package and doesn't work without GOPATH -- which means it isn't truly compatible with go modules.

T

[2020-06-18 11:33] justaugustus commented on #92240
Closed as duplicate of https://github.com/kubernetes/kubernetes/issues/92242. Please follow that issue for updates.
/close

[2020-06-18 11:33] #92240 closed

[2020-06-18 11:34] justaugustus commented on #92250
/sig release
/area release-eng
/priority critical-urgent
cc: @kubernetes/sig-network-bugs @kubernetes/release-engineering

[2020-06-18 11:40] justaugustus commented on #92242
(Related to bundling CNI in the kubelet package: https://github.com/kubernetes/release/pull/1309, https://github.com/kubernetes/kubernetes/issues/91507, https://github.com/kubernetes/release/issues/1345, https://github.com/kubernetes/release/issues/885)

[2020-06-18 11:44] inoam commented on #88310
fixed on: https://github.com/kubernetes/kubernetes/pull/88324

[2020-06-18 11:44] #88310 closed

[2020-06-18 11:45] justaugustus commented on #92242
As a general note, [Kubernetes 1.15 is out of support](https://github.com/kubernetes/sig-release/blob/master/releases/patch-releases.md#115-and-older).

For those that are attempting to install packages for Kubernetes >= 1.16, are you also having issues with the **_latest_** packages (kubelet, kubectl, kubeadm @ 1.18.4, 1.17.7, and 1.16.11)?

[2020-06-18 11:51] kad commented on #92211
@mikebrow OCI runtime spec expects that device node ownership is optional and can be provided. But we have a disconnect in conversion CRI -> OCI... so we are trying to find best way to solve it: either it is explicitly comes from CRI (and then some ways inside kubelet to populate it) or make it as expectation to runtimes (cri-o, containerd) to not assume host OS ownership, but look at container pr

[2020-06-18 12:03] kubealex commented on #92242
yes. 1.18.4 here

[2020-06-18 12:04] dejo1307 commented on #92242
Actually, 1.17.7 works (I wasn't aware of that one at all, I do know (and just tested) the same issue was there with 1.17.6).

[2020-06-18 12:10] justaugustus commented on #92242
(Release Managers are investigating in Slack: https://kubernetes.slack.com/archives/C2C40FMNF/p1592480243361500?thread_ts=1592480243.361500&cid=C2C40FMNF)

[2020-06-18 12:40] blurpy commented on #92242
Yes, but I would appreciate if you don't break 1.15 for those of us who are still on that version for the time being.

[2020-06-18 12:58] hkamel commented on #91860
/assign

[2020-06-18 13:01] Riaankl commented on #90957
/reopen

While we did push through this first iteration, this ticket is for ongoing discussion of watch tooling and refactoring of the approach.

[2020-06-18 13:02] #92167 closed

[2020-06-18 13:03] #92057 closed

[2020-06-18 13:04] #92110 closed

[2020-06-18 13:05] Riaankl commented on #90881
/reopen

#90880 Merged. Promotion to be created

[2020-06-18 13:09] matthyx commented on #89995
/reopen
Until we merge all related PRs...

[2020-06-18 13:16] waeleethecoolboy111 opened #92255 "i am getting error while making replicaset"
And this is my error:

waleed@waleed-Ubuntu:~/Desktop/Kubernetes$ kubectl create -f rs.yaml
error: error parsing rs.yaml: error converting YAML to JSON: yaml: line 7: mapping values are not allowed in this context

and this is my coding in the file

kind: ReplicaSet
apiVersion: apps/v1beta2
metadata:
name: myrs
spec:
replicas:5
selector:
matchlabels:
app: rsexample
template:
metadata:
labels
app:

[2020-06-18 13:24] ankeesler commented on #91913
/assign

[2020-06-18 13:35] superseb commented on #92250
What binaries are you extracting? The base image for hyperkube got bumped from v1.16.10 to v1.16.11 (and 1.17.7 and 1.18.4) from Debian 9 (stretch) to Debian 10 (buster). And Debian 10 has uses nftables by default (https://wiki.debian.org/iptables). Still depends on what you are extracting from the hyperkube image if this is what is affecting you.

[2020-06-18 13:37] BedivereZero commented on #92242
`dnf install` is working
The problem may be YUM

[2020-06-18 14:05] rubenstolk commented on #40244
It would be really helpful if this was intelligent enough to figure out that the listener on port 80 should be HTTP and not HTTPS. Or have an annotation to identify each port differently.

[2020-06-18 14:17] mikebrow commented on #91981
A container writing to `/etc/hosts` is not recommended because "Modification not using HostAliases is not suggested because the file is managed by Kubelet and can be overwritten on during Pod creation/restart" and also because "If you make manual changes to the hosts file, those changes are lost when the container exits."

However, there exist instances where kubernetes users write to /etc/hosts f

[2020-06-18 14:19] dmitry-irtegov commented on #92250
/opt/cni/* and /hyperkube for k8s 1.16.*
/opt/cni/* and /usr/local/bin/kubelet for k8s 1.17 and 18

We do NOT extract iptables binary, and the error is obviously produced by kube-proxy container which we do not touch.

[2020-06-18 14:19] ingvagabund commented on #92189
Both `CounterOpts` [1] and `HistogramOpts` have `ConstLabels` field which I presume you plan to use to set the profile label?

The code under [clusterloader2/pkg/measurement/common/scheduler_latency.go](https://github.com/kubernetes/perf-tests/blob/f3cf096d437805dd51e27b406f32f1af2e42307d/clusterloader2/pkg/measurement/common/scheduler_latency.go#L212) does not take histogram labels into account.

[2020-06-18 14:22] mrunalp commented on #91981
Changing this to read-only will break legacy workloads that depend upon being able to write to this file. @joelsmith was looking into this and one idea was making this file managed by the container runtime.

[2020-06-18 14:24] alculquicondor commented on #92189
I'm migrating to the Vec counterparts, like `HistogramVec`

Thanks for the pointers. What's the easiest way to run the perf tests to make sure they work?

[2020-06-18 14:56] ingvagabund commented on #92189
Yeah, that is more natural.

Through PR against perf-tests and checking CI artifacts. Feel free to lemme know if you need any help.

[2020-06-18 14:58] alculquicondor commented on #92170
/sig node

@damemi you are the owner of the feature. Any comments?

[2020-06-18 15:10] SergeyMuha commented on #43784
As a workaround I did
`TOKEN=$(kubectl get secret $SECRET_NAME -o jsonpath='{.data.token}' | base64 --decode)`
and then added in `/etc/kubernetes/manifests/kube-apiserver.yaml`

[code]
So that kubelet are able to check

[2020-06-18 15:39] paulgmiller commented on #76338
So last year we cherry picked some metrics with the hope that we could either alert or set a kube proxy liveness probe against the metrics. (restart if no updates from api server in a long time).
cherry pick of #74027: proxy: add some useful metrics #78602

We also have a theory that a change in the network setup between our nodes and the managed control plane may have made this much less likely b

[2020-06-18 15:45] SaranBalaji90 commented on #80996
When externalTrafficPolicy is local, HTTP protocol is used for health check and when its cluster  mode, TCP protocol is used. Looks like NLB doesn't support updating the protocol. So instead of updating the TG we should recreate the TG with right protocol.

Code reference
For Local policy
https://github.com/kubernetes/kubernetes/blob/fbcd0f84d83ca6099c19176a82f20ae67d4a4f97/staging/src/k8s.io/lega

[2020-06-18 15:51] damemi commented on #92170
@alculquicondor sorry, meant to comment on this the other day but got distracted.

I'm not sure this is a bug, because ignoring tolerations with tolerationSeconds set seems to go against the purpose of tolerations. In the docs you quoted,

But if we have a tolerationSeconds set, the taint is not un-ignored just because there is a timer on when it is no longer tolerated. I think the current behavio

[2020-06-18 15:55] aojea commented on #92250
This seems a duplicate of https://github.com/kubernetes/kubernetes/issues/71305#issuecomment-597493439

[2020-06-18 16:06] alculquicondor commented on #92170
I actually misunderstood the issue at the beginning. I agree that this is a gray area that is not properly defined.

Perhaps the toleration with `tolerationSeconds` should influence scoring, in a similar fashion to `PreferNoSchedule`. But that would be a new feature.

[2020-06-18 16:08] hklohar commented on #92242
+1 blocking installation for lot of servers

[2020-06-18 16:10] dmitry-irtegov commented on #92250
This is not duplicate, because CentOS 7 does NOT use nf_tables, and that issue about machines which do (say, CentOS 8).

[2020-06-18 16:23] bartversluijs commented on #66607
Adding this to Ingress isn't possible. So you've to apply your own values.yaml to the Ingress you're using.
Look for (probably) `service:`. The annotations will be empty. If you add `service.beta.kubernetes.io/do-loadbalancer-hostname: "YOUR_HOSTNAME"` as an annotation to the service, it works!

Thanks @braedon for commenting. I had given up on this until you came along!

[2020-06-18 16:24] andrewsykim commented on #66607
FYI there's progress happening in this KEP https://github.com/kubernetes/enhancements/pull/1392

[2020-06-18 16:30] #87388 closed

[2020-06-18 16:30] kfox1111 commented on #80228
Still relevant.

/remove-lifecycle stale

[2020-06-18 16:32] lavalamp commented on #84797
We discussed this at the SIG meeting and we're recommending that people in this situation can use some or all of these techniques:
a) use the authn/authz webhooks to ensure that their health check agent is never denied
b) make a lightweight separate process to proxy healthcheck info
c) rename or explain the purpose of the public info viewer role - consumers of a cluster do need to be aware of what

[2020-06-18 16:46] SaranBalaji90 opened #92263 "AWS LoadBalancer creation fails if loadBalancerSourceRanges contains VPC CIDRs"
**What happened**:

Created VPC with 2 CIDRs and wanted to allow traffic from one of the CIDRs. Using loadBalancerSourceRanges to restrict the traffic from one of the CIDR fails the service creation as the healthz ingress rule collides with client ingress rule.

Error seen on the service events:
[code]

Manifest used

[code]

**What you expected to happen**:

One of the following to happen
1. Comb

[2020-06-18 16:51] rikatz commented on #91331
Hi folks.

This is a kindly reminder that if this issue got no attention in the next 14 days it will be closed.

Please take a look at **https://github.com/kubernetes/kubernetes/issues/91331#issuecomment-638472197** for the necessary information.

Thank you

[2020-06-18 16:52] rikatz commented on #91331
/triage needs-information

[2020-06-18 16:56] SaranBalaji90 opened #92264 "Updating AWS LoadBalancer service.beta.kubernetes.io/aws-load-balancer-security-groups doesn't clean up old rules"
**What happened**:
After updating "service.beta.kubernetes.io/aws-load-balancer-security-groups" to new set of security group, new rules were added as expected but old rules was not removed, thereby leading to unmanaged rules on the worker node SG.

Manifest used
[code]

**What you expected to happen**:
After the new security groups are added to the loadbalancer, we should remove the old security

[2020-06-18 17:04] mrueg commented on #88142
/remove-lifecycle rotten

[2020-06-18 17:21] aojea commented on #92250
well, that's what the output you pasted said :smile: , that's what I assumed it was the same issue :sweat_smile:

[2020-06-18 17:22] MarkusH commented on #65973
/remove-lifecycle stale

[2020-06-18 17:30] #81817 closed

[2020-06-18 17:30] damemi commented on #92170
Currently, if a pod has a `tolerationSeconds` and is scheduled to a node with a matching taint, then that taint is removed from the node before the pod's `tolerationSeconds` is up, will the pod still be evicted? If not, this could also be a use case to continue supporting scheduling with tolerationSeconds because it's not guaranteed the pod will be evicted due to a taint that was present at schedu

[2020-06-18 17:45] unixfox commented on #69699
/remove-lifecycle stale

[2020-06-18 17:56] alejandrox1 commented on #92241
This magically started working after some 50 failures yesterday.
So i'll try and replicate the failure to see why they were happening but otherwise lowering the priority on this
/priority-remove critical-urgent
/priority important backlog

[2020-06-18 17:56] thockin commented on #89233
/lifecycle frozen
/remove-lifecycle stale
/remove-lifecycle rotten

[2020-06-18 17:56] alejandrox1 commented on #92241
/remove-priority critical-urgent

[2020-06-18 18:04] Ferroman commented on #92242
Same issue with the kubelet-1.16.2-0

[2020-06-18 18:08] mikebrow commented on #92211
right.. my concern is making sure we have a path to the end goal for how we want to fix the disconnect. See ongoing thread/discussion in the google doc comments.

[2020-06-18 18:31] #64137 closed

[2020-06-18 18:31] #86779 closed

[2020-06-18 19:02] lostpoint-ru opened #92266 "whitelisted sysctls are silently ignored and not applied"
I'm trying to host previously tested on microk8s openvpn deployment, this time on freshly installed vanilla kubernetes and unable to enable net.ipv4.ip_forward sysctl in openvpn pod.

I created a test stand vm to re-check and reproduce the problem.

- took a fresh **Ubuntu 20.04** install
- installed default **docker-ce/containerd/docker-ce-cli/kubeadm/kubecli/kubelet** according to kubernetes.io

[2020-06-18 19:14] lostpoint-ru commented on #92266
/sig Node

[2020-06-18 19:15] karlkfi opened #92267 "Feature Request: Deployment Blue/Green Strategy"
**What would you like to be added**:
Deployment has a strategy field in the specification that could be enhanced to add a new option, maybe named `Replace` or `BlueGreen` (naming up for debate).

This new strategy could use a new label (naming up for debate) to distinguish between blue and green ReplicaSets, allowing for two different Services to point at the pods, one for blue and one for green.

[2020-06-18 19:28] matthew-mcdermott commented on #92242
+1 👀

[2020-06-18 19:37] thockin commented on #23404
I suspect your file has the trailing newline in it.

On Wed, Jun 17, 2020 at 10:28 AM Douglas A. Maske <notifications@github.com>
wrote:

[2020-06-18 20:12] fedebongio commented on #92232
/cc @apelisse
/sig apps
/remove-sig api-machinery

[2020-06-18 20:14] CecileRobertMichon commented on #92242
@justaugustus ran into the same issue trying to build CAPZ images for v1.16.11, v1.17.7 and v1.18.4

[2020-06-18 20:15] krmayankk commented on #92267
/assign @janetkuo @kow3ns @krmayankk

[2020-06-18 20:27] msau42 opened #92269 "Don't collect metrics if csi migration is not being tested"
**Which jobs are flaking**:
pull-kubernetes-e2e-gce

**Which test(s) are flaking**:
storage tests

**Testgrid link**:
https://storage.googleapis.com/k8s-gubernator/triage/index.html?text=metrics%3A%20the%20server%20is%20currently%20unable%20to%20handle%20the%20request

**Reason for failure**:
Probably unnecessary load on the metrics endpoints.

[code]

**Anything else we need to know**:
- links to

[2020-06-18 20:28] msau42 commented on #92269
@kubernetes/sig-storage-test-failures

[2020-06-18 20:30] msau42 commented on #92269
The logic  [here](https://github.com/kubernetes/kubernetes/blob/master/test/e2e/storage/testsuites/base.go#L697) is supposed to ignore the metrics results if the test job is not configured to test csi migration. However, this is checked after trying to collect metrics from all the nodes. We should probably move this check earlier to reduce load on the metrics endpoints.

[2020-06-18 20:31] alculquicondor commented on #92189
It looks like the measurements will continue to work with the new profile label. Basically the code would merge all the values together at this point

https://github.com/kubernetes/perf-tests/blob/f3cf096d437805dd51e27b406f32f1af2e42307d/clusterloader2/pkg/measurement/common/scheduler_latency.go#L179

And that is fine even if we chose to have multiple profiles by default. Unless we really needed t

[2020-06-18 20:32] msau42 commented on #92269
However, once csi migration is enabled by default, this problem will come back. But maybe by that time we could remove the metrics check from the tests altogether since we would have also removed all the in-tree plugin code at the same time.

[2020-06-18 20:33] ankeesler commented on #91913
this seems to be the case (i wrote my stream of consciousness notes below). i am having trouble understanding why we need a new client per described object...do you have any historical context here/thoughts of why this would be the case?

---

1. for each of the `pods`, we create a `describe.ResourceDescriber`: https://github.com/kubernetes/kubernetes/blob/aa348b15770e27df927203bb7cac8c154b42c44f/

[2020-06-18 20:35] msau42 commented on #92269
cc @mattcary

[2020-06-18 20:37] mattcary commented on #92269
Thanks, I'll look at this in the next few days.

[2020-06-18 20:39] msau42 commented on #92269
Interesting observation from the triage link is it appears to fail more in the last week.

[2020-06-18 20:39] ahg-g commented on #92189
aggregating all attempts under one graph is fine, we have postfilter extension point latency which should give us a good idea of the impact of preemption if it gets executed.

I would like to expand on the perf tests we have for kubemark to include cases that include preemption, so once those are in, we can reevaluate the metrics.

[2020-06-18 20:46] bcanozter commented on #92255
**Example**

[code]

https://kubernetes.io/docs/concepts/workloads/controllers/replicaset/

If your pasted code actually looks like that in your yaml file then it won't work. You should follow the syntax rules.

[2020-06-18 21:05] cici37 opened #92270 "Set up the public feature gates for CCM"
**What happened**:
The utility model which sets up the public features gates now is not public which is not easy to be consumed by CCM.

**What you expected to happen**:

Set up the public feature gates for CCM to consume.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud p

[2020-06-18 21:20] santi69 commented on #92242
same here +1. Installing 1.16.0 in centos 7. The workaround is not helping on a full cluster setup.
i get infinite hang on [preflight] Running pre-flight checks step. Not able to move forward that.
is there any other alternative?

[2020-06-18 21:24] anderseknert commented on #90817
Thanks @ankeesler! Yeah, it's been a while since I worked on our plugin but I think we ended up doing something like that but thinking it didn't feel very "native". Good to know that it is. I think it would make a good addition to the [docs](https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plugins) on the topic as they currently say nothing about dealing

[2020-06-18 21:25] saschagrunert commented on #92242
Hey, do you have a reproducer? Right now we assume that the latest versions work fine and only
previous releases are affected by this issue.

[2020-06-18 21:26] szuecs commented on #91981
As far as I understand the problem starts when podX modifying the file and podY will get this unexpected change.
We could let it writeable, but the bind mount that shares host‘s /etc/hosts file with pods can be changed like: copy hosts file and bind mount the copy. This can be done for each pod, so it’s not shared anymore.
Does it make sense?

[2020-06-18 21:31] santi69 commented on #92242
with older version we are able to reproduce. I tried atleast in 3 of our environments.
And unluckily we can just jump on to new versions.. We have to stick to 1.16.0

[2020-06-18 21:35] xmudrii commented on #92242
@CecileRobertMichon @justaugustus @saschagrunert Are you eventually trying to install the kubernetes-cni v0.8.6 package using apt/apt-get? I’ve looked at the PR linked by GitHub and relevant files, and it seems like this might be the case.

If it is the case, it’s not possible because kubernetes-cni v0.8.6 package doesn’t exist, instead, all needed files come with the Kubelet package.

[2020-06-18 21:42] dalehamel commented on #40157
It is the Kernel oomkiller that is killing pods, so maybe the kernel can also be the solution here?

In reading the [kernel docs](https://www.kernel.org/doc/Documentation/cgroup-v1/memory.txt), It looks like the cgroup memory controller (v1) has had support for indicating the memory pressure for at least 10 years now:

[code]

If a pod is able to mount and write to its own cgroup, It may be the ca

[2020-06-18 21:45] santi69 commented on #92242
just running yum install kubelet-1.16.0-0.x86_64 ends up with the below error

[code]

[2020-06-18 22:05] memorais commented on #92242
Same thing here trying to install 1.15.10-0 on a CentOS 7.

[2020-06-18 22:22] Vascko commented on #90710
I see the cadvisor PR has been merged. Is that going to be in v1.19? Couldn't find it in the commits for v1.19

[2020-06-18 22:28] Vascko commented on #90710
Looks like runc still hassn't had a release after rc10 (rc90 seems to just fix a versioning issue)

[2020-06-18 22:32] waynr opened #92272 "hyperkube kubelet: KillPodSandboxError ... networkPlugin cni failed to teardown pod ... network: neither iptables nor ip6tables usable"
**What happened**:

* I attempted to bump the 1.16, 1.17, and 1.18 versions in my team's kubernetes image repo to 1.16.11, 1.17.7, and 1.18.4, respectively.
* The images built successfully but none of the e2e tests we run, including the kubernetes conformance e2e tests, ever actually ran correctly without a clear indication as to why -- ginkgo was just mysteriously succeeding without any tests pas

[2020-06-18 22:45] dirkmueller commented on #89554
/reopen

This issue is still unfixed as of today. here is a reproducer that helps doing the reverse test on a x86_64 machine:

x86_64

standard_init_linux.go:211: exec user process caused "exec format error"

So this is an image where the base os is actually arm64. starting with v1.18.0 and still as of today (v1.18.5-rc.0 and v1.19.0-beta.2) the uploaded -arm64 image is actually an *amd64* image.

[2020-06-18 22:45] JustDoItSascha commented on #68705
Same Problem here. Just mongo databases without much traffic. Suddenly the CPU goes up to 100%.

[2020-06-18 22:47] Riaankl opened #92273 "Missing "Release" Metadata in Conformance Tests"
# Summary:
The 17 test listed below show up in the [conformance.yaml](https://github.com/kubernetes/kubernetes/blob/master/test/conformance/testdata/conformance.yaml) without release metadata:
ie. release: ""
The Release information was not included as a comment above the test function.
This hampers proper analysis of Conformance history in APISnoop.

# List of tests without "Release" Metadata:
-

[2020-06-18 22:47] BenTheElder commented on #89554
IIRC the fix was reverted due to not working in the release pipeline.
I did say that would hurt @cpanato  @justaugustus :upside_down_face:
https://github.com/kubernetes/kubernetes/pull/92042

[2020-06-18 22:48] BenTheElder commented on #89554
/reopen

[2020-06-18 22:48] Riaankl commented on #92273
/sig testing
/sig architecture
/area conformance

[2020-06-18 22:58] ialidzhikov opened #92275 "hypekube kube-proxy: Chain 'KUBE-MARK-DROP' does not exist"
**What happened**:
kube-proxy v1.16.11 fails to execute iptables-restore:
[code]

The same setup work perfectly fine with kube-proxy v1.16.10.

**What you expected to happen**:
kube-proxy to be able to execute iptables-restore.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[cod

[2020-06-18 23:01] ialidzhikov commented on #92275
/cc @kubernetes/sig-network-bugs

[2020-06-18 23:02] maskeda commented on #23404
I'm sorry but I guarantee you my multiple files do not. I only use *NIX type systems, my vim editor linters and syntax checks everything and I commit my code with overcommit checks. This is a problem with the secrets system. I sanity check everything.

[2020-06-18 23:02] ialidzhikov commented on #92275
/sig release
/area release-eng

[2020-06-18 23:05] santi69 commented on #92242
No luck with --setopt=obsoletes=0 option. I hangs in

[code]

[2020-06-18 23:08] david-enli opened #92276 "problem encountered while using HostNetworkDNSPolicy"
Hi all, first time posting and apologize if doing it wrong. With the new release of k8s 1.16.10 , our pure storage CSI node plugin (pods) for iscsi deployed by DaemonSet start to have issue to talk to K8S service..

We deploy CSI node plugin pod on each master and worker nodes. However, it looks like network routing on worker nodes is problematic.
It looks like master have correct routing to our i

[2020-06-18 23:10] mikebrow commented on #91981
He only mentioned one pod in the description of the problem. Yes, your suggested resolution makes sense for the problem you described,.. and each pod already has it's own hosts file see example in the title of the issue.

[2020-06-18 23:12] david-enli commented on #92276
/sig network

[2020-06-18 23:15] msau42 commented on #78756
I believe @cofyc is working on a design for this

[2020-06-18 23:20] Huang-Wei commented on #92170
IMO "NoExecute" more describes the **runtime** behavior, and it shouldn't behave like a "super-set" of "NoSchedule" no matter tolerationSeconds is set or not.

In @zhouya0's case:

- If the node is added system-level taints (i.e., the node becomes unhealthy), Kubernetes (node lifecycle manager) is responsible of applying "NoExecute" taint, **as well as** "NoSchedule" taints. So the workloads, in m

[2020-06-18 23:22] cici37 commented on #92270
/sig cloud-provider

[2020-06-18 23:22] cici37 commented on #92270
/assign

[2020-06-18 23:23] cici37 commented on #92270
/assign @cici37

[2020-06-18 23:25] waynr commented on #92272
So after thinking about this a little more, I think the problem for me might be the use of debian 9 as a base image rather than debian 10, since according to https://wiki.debian.org/nftables:

So my options are probably:

* configure my images starting with 1.16.11, 1.17.7, and 1.18.4 to use the nftables backend for iptables since in debian 9 the default seems to be the legacy backend (whatever th

[2020-06-18 23:55] karlkfi commented on #92267
Example of how traffic shifting might work:
1.  User creates Deployment with strategy=RollingUpdate and label app=X & Service A with selector app=X
1.  Controller creates initial ReplicaSet A with labels app=X and color=blue
1. User adds Service A selector color=blue to pin that DNS/IP/Ingress to route to the current revision.
1. User changes Deployment strategy=BlueGreen and updates the docker im

[2020-06-19 00:07] karlkfi commented on #92267
I forgot the obvious default:
The old ReplicaSet should be scaled to zero as soon as all the pods in the new ReplicaSet are Ready. That way the default has no manual gate and automatically completes.

That would mean that a continuation gate is optional and opt-in. If that’s the case, it seems potentially reasonable to have a Boolean field that needs to be flipped every time you want a change to k

[2020-06-19 00:32] thockin commented on #23404
OK, watch:

[code]

[code]

[code]

Note - no newline at end.

[code]

[code]

And finally:

[code]

Note, no newline.

On Thu, Jun 18, 2020 at 4:02 PM Douglas A. Maske
<notifications@github.com> wrote:

[2020-06-19 00:36] pururaj1908 commented on #91938
@aojea I am interested in taking up this issue. But as this will be my first time contributing in the project, I will need some elaborate explanation to understand what exactly needs to be done. Thanks.

[2020-06-19 00:57] enj commented on #90817
@anderseknert thanks for your feedback.  We really appreciate having real world usage data to help us understand if `exec` is ready to GA.

I think that the [KEP](https://github.com/kubernetes/enhancements/tree/master/keps/sig-auth/541-external-credential-providers) fails to outline how to communicate failure correctly.

We describe how standard input is used:

And standard output:

But we fail to

[2020-06-19 01:45] krmayankk commented on #92267
i like the simple idea of putting a knob(strategy) that keeps both ReplicaSet around and signal someway the other RS should go away. There is a lot of logic that goes in Deployment controller to manage these ReplicaSets and i would like that not replicated in external controllers if possible. Here is one [example](https://argoproj.github.io/argo-rollouts/)  which actually manages ReplicaSets for p

[2020-06-19 02:00] AndreMouche commented on #92126
/sig test

[2020-06-19 02:03] #85894 closed

[2020-06-19 02:03] #90844 closed

[2020-06-19 02:03] johnfedoruk opened #92280 "Annotating Cronjobs"
**What would you like to be added**:

As of Kubernetes 1.17.4, annotating cronjobs is not supported.

Example:

[code]

**Why is this needed**:

Annotated cronjobs could be of value for maintaining a history record of previously deployed versions and supporting rollbacks.

[2020-06-19 02:04] #90058 closed

[2020-06-19 02:05] johnfedoruk commented on #92280
/sig cli

[2020-06-19 02:11] enj commented on #91913
I do not think there is any way for `UpdateTransportConfig` to know when the associated client is no longer needed (and I do no think we can ignore the input `c.Dial` in an attempt to share a single dialer across all clients).  That is, `onRotateList` grows without bound and we "leak" clients.  A bandage solution would be to cache the `describer` based on the `mapping` (in a function local map):

[2020-06-19 02:25] ju187 commented on #92242
I went pass this issue on 1.17.7 and 1.18.4  However the cluster still could not setup as I stuck on the wait-control-plane 40s timeout error.

    On Thursday, June 18, 2020, 4:05:43 PM PDT, santi69 <notifications@github.com> wrote:

No luck with --setopt=obsoletes=0 option. I hangs in
[execute] [init] Using Kubernetes version: v1.16.0
            [preflight] Running pre-flight checks

—
You are

[2020-06-19 02:32] parvaths1118 commented on #92242
Hello ,

I am getting this error while installing 1.18 version...it looks like the issue is relevant here,Kindly can you let me know if this is the same issue we are talking here.
[root@k8smasternode1 kubespray]# yum install -y kubelet kubeadm kubectl --disableexcludes=kubernetes
Loaded plugins: langpacks, product-id, search-disabled-repos, subscription-manager
This system is not registered with a

[2020-06-19 02:33] waynr commented on #92272
Okay I think I've gotten past the previous error but now I am running into a missing package:

incriminating kubelet log message:
[code]

iproute2 installed in v1.18.3:
[code]

iproute2 not installed in v1.18.4:
[code]

[2020-06-19 02:47] waynr commented on #92272
/sig release

[2020-06-19 02:57] karlkfi commented on #92267
It’s worth also considering Canary strategy while brainstorming what fields to add for BlueGreen. It might lead to a more elegant API, even if we decide not to implement Canary and leave that for the traffic routing LB layer to handle.

If you manage Canary at the L7 LB layer, that allows use of headers and session stickiness, which is a requirement for many (but not all) cases to achieve consiste

[2020-06-19 03:28] pacoxu commented on #92170
It should influence scoring, no matter tolerationSeconds is small or big. This behavior is not wrong, but not proper to fall into a loop(schedule - evict) util it is scheduled to a better node.

1. As TaintBasedEvictions feature is enabled by default, this will influence most pods of a cluster.
2. According to https://github.com/kubernetes/kubernetes/issues/84298, too big tolerationSeconds is not

[2020-06-19 03:36] aaasolo opened #92282 "Adding OVS bridges to Kubernetes worker-nodes break the Pod Network"
**I have set up a multi-node Kubernetes cluster in CentOS. Currently using Weave Net for the pod network.**

Scenarios:
1. Before adding OVS bridges to the worker nodes, the network works as expected (eg. pod **can communicate** with another pod in the other node).
2. However after adding OVS bridges to the worker nodes (a simple `ovs-vsctl add-br br1`), the network breaks (eg. pod **can't communi

[2020-06-19 03:47] aaasolo commented on #92282
/sig network
/sig node

[2020-06-19 03:52] cofyc commented on #78756
yes, this is a general issue, but it's hard to have a general solution.

I plan to write a cloud controller to automate the recovery process in the cloud first. I've created a track issue in `sig-storage-local-static-provisioner` project: https://github.com/kubernetes-sigs/sig-storage-local-static-provisioner/issues/202

[2020-06-19 03:59] knight42 commented on #92280
@johnfedoruk you have specified the wrong apiVersion. please try `kubectl annotate cronjob.v1beta1.batch ...` or simply `kubectl annotate cronjob ...`

[2020-06-19 04:38] lubinszARM commented on #86295
Hi @dims
We have finished the items listed above.
Please see the following link as reference:
https://k8s-testgrid.appspot.com/conformance-arm
https://k8s-testgrid.appspot.com/sig-node-arm64

So, can I submit a PR into k8s/community to declare support arm64 ?
Maybe here:
https://github.com/kubernetes/community/blob/a8944bea54d4bb854bdd5da98ecae3ebc7a18d9a/contributors/design-proposals/multi-platfo

[2020-06-19 04:40] kbruner commented on #70189
Hello! As this issue seems to depend on PR https://github.com/kubernetes/kubernetes/pull/83730 which has been pushed to v1.20, should this issue also be pushed to that milestone?

[2020-06-19 04:56] BenTheElder commented on #86295
Personally I would prefer to see signal for each release monitored by @kubernetes/sig-release before calling something "supported".

https://testgrid.k8s.io/sig-release-1.18-blocking etc.

[2020-06-19 05:49] bsdnet commented on #92241
I am wondering whether we can come out some better bi-sect tool :). I closely monitor sig-node-containered tests those days. I saw sometimes some tests suddenly stopped working. After a couple of runs, it succeeds again.

[2020-06-19 05:49] lubinsz commented on #86295
Hi @BenTheElder
Got it.
Thanks for your help.

[2020-06-19 05:51] BenTheElder commented on #86295
please note that this is just where I think the project should go with this, I've been a bit involved but I do **not** own this (and I'm not actually sure who does?)

[2020-06-19 05:54] BenTheElder commented on #92282
you should file a bug against weave. https://github.com/weaveworks/weave/issues

while kubernetes does contain code for implementing pod networks, it's not being used if you use weave.

weave's interaction with OVS bridges is something the weave maintainers should look into, and not part of kubernetes.

/close

[2020-06-19 05:55] #92282 closed

[2020-06-19 05:58] BenTheElder commented on #92255
/triage support

[2020-06-19 06:00] #91658 closed

[2020-06-19 06:03] BenTheElder commented on #92155
@aojea @dims there's that kubectl attach / exec test flaking outside of kind. (and UDP services...)

I think storage test flake here is may be related to https://github.com/kubernetes/kubernetes/issues/92269

[2020-06-19 06:11] BenTheElder commented on #92126
/sig node

[2020-06-19 06:15] tuminoid commented on #85894
Thanks @aojea !

[2020-06-19 06:19] bbhenry commented on #79224
Yes, please re-open this for all the benefit explain above. There's no additional security issue since we can already reference secrets from using envFrom. Enabling this feature is just going to make everyone's life easier.

[2020-06-19 06:22] uablrek commented on #89392
I have not done a proper follow-up on this, sorry. I can't test a HA-setup with haproxy at the moment so I can't verify it but here is my conclusion;

The problem happens only in a K8s HA-setup with haproxy. It is most likely not a bug in K8s code but in interaction between haproxy and K8s. The correction described in https://github.com/kubernetes/kubernetes/issues/89392#issuecomment-626146425 sho

[2020-06-19 06:22] uablrek commented on #89392
/remove-triage unresolved

[2020-06-19 06:24] uablrek commented on #89392
/remove-triage needs-information
/remove-triage not-reproducible

[2020-06-19 06:37] 928234269 opened #92284 "No configmap and service kind events."
kubectl apply -f service.yaml

[code]
kubectl get event |grep service

k8s env: v1.17.0

[2020-06-19 06:47] xanthoc commented on #59876
/reopen

[2020-06-19 06:50] xanthoc commented on #59876
I just do as below:
path: /some/funny/loc
type: DirectoryOrCreate
Everything looks fine; I mean I got data consistency. But I can't locate /some/funny/loc in my host. Where can I locate the '/some/funny/loc'?

[2020-06-19 06:54] 928234269 commented on #92284
sig/api-machinery

[2020-06-19 07:00] fatedier commented on #90262
@liggitt Hi, any update on this issue? We need this feature too.

[2020-06-19 07:16] jslay88 commented on #23404
`cat -e /secret/password` and you should see a `$`. vi/vim also will show it with `:set list`

[2020-06-19 07:19] nikhita commented on #92253
This is being fixed in https://github.com/kubernetes/kubernetes/pull/92212

[2020-06-19 07:21] enxebre commented on #65973
cross referencing wip for this is here
https://github.com/kubernetes/enhancements/blob/8b9b994136371f1bc938aabf012f4c45535d684c/keps/sig-api-machinery/20190603-immutable-fields.md
And https://github.com/kubernetes/kubernetes/pull/83743

[2020-06-19 07:30] mayankshah1607 commented on #91994
@rakeshreddybandi Are you still working on this one?

[2020-06-19 07:34] ciiiii opened #92285 "ClusterIP allocator error"
**What happened**:
+ when upgrading cluster from v1.15.11 to v1.16.10, kubeadm update/create kube-dns with ClusterIP `10.12.0.10`, it failed with `spec.clusterIP: Invalid value: "10.12.0.10": provided IP is already allocated`, but no service use `10.12.0.10`.
+ And I dump data from `/registry/ranges/serviceips` in etcd, it show that `10.12.0.10` not allocated.
+ After 1min or more, the error gone.

[2020-06-19 07:37] ciiiii commented on #92285
/sig api-machinery

[2020-06-19 07:40] ialidzhikov commented on #92275
Okay, seems that iptables version is bumped in hyperkube. It seems to me related.

[code]

[2020-06-19 07:42] pacoxu opened #92287 "iops limit for pod/pvc/pv"
**Latest Updated on Nov 2023**

https://github.com/kubernetes/enhancements/tree/master/keps/sig-storage/3751-volume-attributes-class
- v1.29: api merged in https://github.com/kubernetes/kubernetes/pull/121104
- v1.30 WIP: https://github.com/kubernetes/kubernetes/pull/118863
- https://github.com/kubernetes-csi/external-provisioner/pull/1068

**Important Status  Updated**

https://github.com/kuberne

[2020-06-19 07:47] AntonSmolkov commented on #87615
Rancher/RKE

Add to cluster definition:

[code]

Check on master-node:
[code]

[2020-06-19 07:58] ialidzhikov commented on #92275
On the other hand for the same kube-proxy image we have:
[code]

[2020-06-19 07:59] ialidzhikov commented on #92275
/assign @justaugustus

[2020-06-19 08:08] ialidzhikov commented on #92275
And `k8s.gcr.io/kube-proxy:v1.16.11` is working perfectly fine while `k8s.gcr.io/hyperkube:v1.16.11 /hyperkube kube-proxy` is failing with the iptables-restore execution.

[2020-06-19 08:21] aojea commented on #91938
@pururaj1908 I do not have clear that this is an easy change or if it is worth the effort, after considering the answers and checking the code again
If you don't mind I'll close this to avoid more confusion, if I come back to it or I find another good first issues I'll let you know
Thanks for stepping up :smile:
/close

[2020-06-19 08:21] #91938 closed

[2020-06-19 08:58] SvenMW commented on #70082
this really seems to be related to poor disk performance for etcd.
apparently this only works with ssd like performance.

[2020-06-19 09:16] muvaf opened #92290 "Deprecation notice of CRD can be printed in kubectl commands"
**What would you like to be added**:

When a CRD is deprecated, we are able to put a deprecation notice in its code but this isn't actually visible to the end-user. What I'd like to see is something like:
[code]

**Why is this needed**: In order to let users know it's not going to be supported in the next releases.

I believe an annotation on CRD or a string field in spec to include the deprecatio

[2020-06-19 09:18] muvaf commented on #92290
/sig api-machinery

[2020-06-19 09:21] vpnachev commented on #92275
This looks like related to the change of the base image with https://github.com/kubernetes/kubernetes/pull/91388

[2020-06-19 09:26] aojea commented on #92155
I think that the only option for `[sig-cli] Kubectl client Simple pod should support inline execution and attach` is adding the `[Flaky]` tag :shrug: , there is one issue describing the problem and seems is not possible to get rid of the race

For the UDP ones, I have some ideas, checking the host stats and skip, ... but this needs some experimentation

[2020-06-19 09:26] nfyxhan opened #92292 "StatefulSet: detailed revision view return a revisions list"
**What happened**:
build kubectl
[code]
when I view the statefulset with a revision, it return a list of the statefulset revisions
[code]

**What you expected to happen**:
when I view the statefulset with a revision, it return the pod template just like deployment and daemonset
[code]
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environm

[2020-06-19 09:28] nfyxhan commented on #92292
/sig cli

[2020-06-19 09:45] ahoehma commented on #60807
Hmm ... I have this problem right now :)
Today I did an update of my eks cluster from 1.15 to 1.16.
Everything looks fine so far.
But my development ns "configcluster" was a kind of "damanged".
So I decide to clean it up.

k delete ns configcluster
....
now this hangs (3h +) :/

[code]

[2020-06-19 09:46] #87398 closed

[2020-06-19 10:22] kycfeel opened #92296 "Configmap mounted with subPath doesn't get reloaded automatically"
**What happened**:
The configmap mounted with `subPath` is not getting reloaded automatically.

**What you expected to happen**:
The configmap change gets updated to a mounted pod automatically.

**How to reproduce it (as minimally and precisely as possible)**:
Mount a file stored as configmap to a pod with `subPath`, make a change at the configmap, and watch the change gets updated to the contain

[2020-06-19 11:01] mahendra-gefen commented on #92242
Can anyone tell how to add this flag in my ansible playbook.

[2020-06-19 11:08] kycfeel commented on #92296
/sig api-machinery

[2020-06-19 11:11] pckhoi opened #92297 "Container image is different from pod spec."
**What happened**:

I updated my deployment with new image (new tag) and the pod run fine but my changes doesn't seem to load. I run `kubectl get pod <pod name> -o yaml` and discovered the container was using an old image despite pod image already updated:

[code]

**What you expected to happen**:

Container image should be the same as in pod spec.

**How to reproduce it (as minimally and precisel

[2020-06-19 11:18] anton-r commented on #92242
@mahendra-gefen You need to add it when you install the packages.

Example:

yum install -y kubelet-$KUBERNETES_VERSION kubernetes-cni-0.7.5 --setopt=obsoletes=0

[2020-06-19 11:19] pckhoi commented on #92297
/sig node

[2020-06-19 11:20] anton-r commented on #92242
@mahendra-gefen Sorry didn't read your question on my first reply. You'll probably have to set it in yum.conf in order for this to work with ansible.

[2020-06-19 11:25] chenpfeisoo commented on #91047
/sig-testing

[2020-06-19 11:27] brancz commented on #67126
/remove-lifecycle stale

[2020-06-19 11:28] brancz commented on #80623
/remove-lifecycle stale

[2020-06-19 11:36] kevinlmadison commented on #92242
[code]

This worked for me, right before I installed the k8s stuff.

[2020-06-19 11:47] parvaths1118 commented on #92242
I have changed the playbook with "obsoletes=0" but i  am getting below error while executing from ansible playbook...Any help on this would be appreciated .

fatal: [k8sworkernode1.test.nimblestorage.com]: FAILED! => {"attempts": 4, "changed": false, "msg": "No package matching 'socat' found available, installed or updated", "rc": 126, "results": ["All packages providing libselinux-python are up t

[2020-06-19 11:49] buxizhizhoum opened #92298 "Is it possible to handle connection reset by peer exeception in this library?"
**Handle the connection reset by peer exeception**:

**I am using KubernetsPodOperator in airflow, which deps on this library, and when there is no log from pod for a long time there is an exeception:
[2020-06-17 15:04:53,084] {connectionpool.py:750} WARNING - Retrying (Retry(total=2, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ProtocolError('Connection aborte

[2020-06-19 12:04] pawanpraka1 opened #92299 "[CSI] kubelet is not calling NodeUnpublish for some pods after node reboot"
**What happened**:

I have 2-3 pods in running state and I am shutting down one of the node and after 5 minutes I am starting the node, here a new pod will be created since 5 min time interval has been passed and old pod will be in terminating state. The issue is, sometimes for one pod I am not getting the unpublish call. For the other pods I am getting the unpublish call, which is what expected a

[2020-06-19 12:07] pawanpraka1 commented on #92299
/sig csi

[2020-06-19 12:18] mahendra-gefen commented on #92242
@kevinlmadison

[2020-06-19 12:19] mahendra-gefen commented on #92242
@kevinlmadison @anton-r
Thanks for your help man.
Saved my day.

[2020-06-19 12:30] kubealex commented on #92242
Workaround for 'obsoletes' doesn't work for 1.18.4.

[2020-06-19 12:31] tedyu commented on #92297
Your server runs v1.16.8
Do you have plan to upgrade server to 1.18 ?

Please attach kubelet log covering the start of container using dev-1592562956 image.

Thanks

[2020-06-19 12:47] liticia-hub opened #92300 "Kubeadm init failed"
**kubeadm init --cri-socket /var/run/crio/crio.sock**
The **errors** I got while executing **" journalctl -xeu kubelet"**

- remote_runtime.go:105] RunPodSandbox from runtime service failed: rpc error: code = Unknown desc = fork/exec /usr/libexec/crio/conmon: permission denied

- kuberuntime_sandbox.go:68] CreatePodSandbox for pod "kube-apiserver-machine_kube-system(84511f3da39909b347af9553d96f900

[2020-06-19 12:49] so-jelly commented on #68827
I have a use case for this:  I have a pod that uses a significant amount of persistent disk I/O. (gke per_vm throttling)   I want other compute (only) intensive workloads colocated so I do not want to allocate all compute resources for this purpose as previously suggested.   I do want my i/o intense workloads (in different namespaces) on separate nodes.

[2020-06-19 13:07] neolit123 commented on #92300
please try the support channels first.
https://github.com/kubernetes/kubernetes/blob/master/SUPPORT.md
also #kubeadm on k8s slack.

this issue tracker is for confirmed bugs and features.
if you confirm this as a kubelet / kubeadm bug,, please re-open the ticket.

thanks
/close

[2020-06-19 13:08] #92300 closed

[2020-06-19 13:08] neolit123 commented on #92300
/sig node cluster-lifecycle

[2020-06-19 13:21] liggitt commented on #92296
/remove-sig api-machinery
/sig storage
/cc @msau42

This is a duplicate of https://github.com/kubernetes/kubernetes/issues/50345#issuecomment-368630265, which was documented and closed as a known limitation.

/close

[2020-06-19 13:21] #92296 closed

[2020-06-19 13:22] wojtek-t commented on #91236
We're hitting this really frequently in 5k-node tests.

So I started looking a little bit into that.
I don't have full understanding of what exactly is happening, but I already see a couple things that may be causing issues:

- when creating the first pod, you wait for corresponding endpoint for that being created; but that doesn't mean that kube-proxy was actually programmed correctly at that tim

[2020-06-19 13:23] liggitt commented on #92290
This is planned/tracked as part of https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/1693-warnings (see the custom resource definition section of that design) and will likely being implemented in 1.20

[2020-06-19 13:23] #92290 closed

[2020-06-19 13:37] ialidzhikov commented on #92299
/sig storage

[2020-06-19 13:38] hasheddan commented on #90736
@RobertKielty any updates here?

[2020-06-19 13:42] zystem opened #92305 "Kube proxy is blocking LIST requests intended to be forwarded through `kubectl proxy`"
**What happened**:
I created a very basic Nginx replication controller, and a service that points to that Nginx server.

Then, I use kubectl proxy and do this request:

`curl -X GET http://localhost:8001/api/v1/namespaces/default/services/nginx:80/proxy/`

This works fine. But! When I do this request:

[code]

I get that error message.

**What you expected to happen**:

The proxy would successfull

[2020-06-19 13:47] hasheddan opened #92306 "[Flaky Test] gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)"
**Which jobs are flaking**:

`gce-ubuntu-master-containerd (ci-kubernetes-e2e-ubuntu-gce-containerd)`

**Which test(s) are flaking**:

* `[sig-network] Networking Granular Checks: Services should update endpoints: http`
  * issue: none
* `[sig-storage] Downward API volume should provide container's memory request [NodeConformance] [Conformance]`
  * issue: https://github.com/kubernetes/kubernetes/

[2020-06-19 13:52] juliantaylor commented on #92275
the same affects kubernetes 1.17.7 when updating from 1.17.5
the kube-proxy and kubelet hyperkube image appear to require the same version of iptables to work together:

kubelet hyperkube 1.17.7 + kube-proxy 1.17.7 = ok
kubelet hyperkube 1.17.5 + kube-proxy 1.17.5 = ok
kubelet hyperkube 1.17.5 + kube-proxy 1.17.7 = ok
kubelet hyperkube 1.17.7 + kube-proxy 1.17.5 = bad

on 4.19.128-flatcar flatcar

[2020-06-19 13:55] liggitt commented on #92305
LIST is not a recognized http method. API list requests are normal http GET requests, made to an endpoint that returns a list response.

Using GET is the correct approach.

[2020-06-19 13:55] #92305 closed

[2020-06-19 13:57] majst01 commented on #92275
Confirmed the same problem here, upgraded a gardener seed cluster from:
1.16.10 -> 1.16.11 networking is borked.

[2020-06-19 13:58] rakeshreddybandi commented on #91994
Hi @mayankshah1607 I am working on it and I will be creating a PR soon

[2020-06-19 14:02] glittershark commented on #44273
seeing this on 1.15.9-gke.24

[2020-06-19 14:17] jayunit100 commented on #91236
thanks wojtek, have been slammed but Ill try to collect more data on it this wknd as well.

[2020-06-19 14:30] wmuizelaar opened #92307 "anyOf schema validation doesn't work as expected"
**What happened**:
I created a CRD:

[code]

The special interesting section from this is that the trustees should be an array that can consist of both users and groups, identified by their email address. So when I submit this:

[code]
it works fine.

When I submit this:
[code]
it also works fine.

But when I try to combine both kinds of values:

[code]
it gives out an error:
[code]

**What you ex

[2020-06-19 14:33] ialidzhikov commented on #92275
/kind regression

[2020-06-19 14:34] wmuizelaar commented on #92307
/sig api-machinery

[2020-06-19 14:51] #78479 closed

[2020-06-19 15:02] AlfredoFausto commented on #92242
Thanks! It works.

[2020-06-19 15:07] cprivite commented on #74011
@bowei There is no linked PR that says we should use the flag instead. There was a linked PR that said there were some previous bugs that would have led to preferring the default to be disabled. As those bugs are disabled and literally everyone and their mother wants this exposed by default now, can we reopen this and get it enabled by default?

[2020-06-19 15:08] cprivite commented on #74011
/reopen
/open
/dontknowthebotcommands

[2020-06-19 15:09] nodox commented on #83332
can confirm we're having this issue as well

[2020-06-19 15:18] damemi commented on #92170
I think adding a score based on the tolerationSeconds is reasonable. Maybe an inverse of the tolerationSeconds set? eg, higher tolerationSeconds gives a higher score than lower tolerationSeconds.

This would make sense because, like you said, a low tolerationSeconds is more likely to cause an eviction loop while a high tolerationSeconds is less likely to have any effect.

[2020-06-19 15:21] rkojedzinszky commented on #91073
I think this problem is getting serious. I am not 100% sure, but today, during node restarts (including masters) coredns was migrated multiple times, and unfortunately, kube-proxy pods had not received the updated situation, thus, dns resolution was not working inside the cluster. After detecting this, a simple restart of all kube-proxy pods resolved our problem. There were no network issues durin

[2020-06-19 15:40] moshinde commented on #50295
I faced this issue when I installed kubectl with root and initialized kubernetes cluster with different user.
Using the same user resolved this issue

[2020-06-19 15:50] anderseknert commented on #90817
Appreciate hearing that @enj 👍 If I was to write a new exec credential plugin from scratch today I might have done some things differently knowing what I know now, but the idea at the time was to extend an existing company tool that retrieved credentials (ID token) with an `--exec` option, which would do pretty much the same but save the credentials to a kubeconfig file and then print them in the

[2020-06-19 15:52] BenTheElder commented on #92298
the python client is here with their own issue tracker https://github.com/kubernetes-client/python
please file an issue with their tracker
/close

[2020-06-19 15:52] #92298 closed

[2020-06-19 16:19] bowei commented on #74011
Copying link to comment from Jordan as to why this is not open by default:

https://github.com/kubernetes/kubernetes/pull/74300#issuecomment-510906208

[2020-06-19 16:20] vryzhenkin commented on #88752
/remove-lifecycle stale

[2020-06-19 16:21] vryzhenkin commented on #89175
/remove-lifecycle stale

[2020-06-19 16:24] marosset commented on #70189
/milestone 1.20

The OS fix is now expect to be available as part of August Windows patches and then changes to the kubelet will need to follow.

/cc @immuzz

[2020-06-19 16:26] s3rj1k commented on #62720
/reopen

[2020-06-19 16:27] s3rj1k commented on #62720
@nevola Please reopen it again :)

[2020-06-19 16:53] #86420 closed

[2020-06-19 17:02] danwinship commented on #91940
/remove-triage unresolved

[2020-06-19 17:08] bobhenkel commented on #60807
How do we get more exposure to this thorn in the foot issue?

On Fri, Jun 19, 2020 at 4:46 AM Andreas Höhmann <notifications@github.com>
wrote:

[2020-06-19 17:14] yrro commented on #29838
While waiting for the new `oc events` command, I came up with the following:

[code]

You can use it like: `oc-events -A`, `oc events -n foo`, etc.

[2020-06-19 17:20] lonnix opened #92313 "Default namespace changes when kubectl run from inside pod"
**What happened**:
I deployed a pod to my cluster (call it the host pod) and ran `kubectl` commands from inside that pod without specifying a namespace. When I ran `kubectl get pods` I got back a list of all pods in the same namespace as the host pod

**What you expected to happen**:
I expected to get back a list of pods from the `default` namespace because I did not specify a namespace

**How to

[2020-06-19 17:27] lonnix commented on #92313
/sig cli

[2020-06-19 17:43] maskeda commented on #23404
My apologies, you are absolutely correct, I see the ```$``` at the end of the string. I digress, I will add ```cat -e``` into my vim configuration. This is a miss on my part.

[2020-06-19 17:54] #83514 closed

[2020-06-19 18:19] alejandrox1 commented on #91263
Well, we are improving little by little https://testgrid.k8s.io/sig-node-kubelet#node-kubelet-flaky
Since #92234 merged we have had more green runs.
Sometimes the e2e tests here fail on the ubuntu image but the tests have been consistently passing on COS.

[2020-06-19 18:24] alejandrox1 commented on #91263
New kind of flake has been showing up, e.g., https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/ci-kubernetes-node-kubelet-flaky/1273938706700439557
[code]

[2020-06-19 18:33] alejandrox1 commented on #91937
Seeing the same in https://github.com/kubernetes/kubernetes/issues/91263 but only sometimes

[2020-06-19 18:35] liggitt commented on #92313
The default namespace for the in-cluster configuration injected into each pod is the namespace matching the running pod.

This is described at https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod

[2020-06-19 18:35] #92313 closed

[2020-06-19 18:35] karlkfi commented on #92267
This is exactly what I was thinking.

This enhancement wouldn't completely replace existing tools that do blue/green, it would just provide a lower level abstraction that would satisfy basic use cases (blue/green rollout without validation or with manual validation). It would then allow the higher level abstractions to be thinner and focus on what makes them unique, rather than what they all have

[2020-06-19 18:37] #90768 closed

[2020-06-19 18:38] joelsmith opened #92315 "CVE-2020-8558: Node setting allows for neighboring hosts to bypass localhost boundary"
CVSS Rating:

In typical clusters: medium (5.4) [CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:U/C:L/I:L/A:N](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:U/C:L/I:L/A:N)

In clusters where API server insecure port has not been disabled: high (8.8) [CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H](https://www.first.org/cvss/calculator/3.1#CVSS:3.1/AV:A/AC:L/PR:N/UI:N/S:U/C:H/I:H/A:H)

A s

[2020-06-19 18:50] shaozi commented on #78795
I did not see it mentioned here, so I copy and paste the link for a cronjob controller for Kubernetes with support for time zones:

https://github.com/hiddeco/cronjobber

I have been using it since

[2020-06-19 18:58] kbruner commented on #70189
/milestone v1.20

[2020-06-19 19:06] alejandrox1 opened #92317 "Use PrepullList in e2e framework"
Similar to https://github.com/kubernetes/kubernetes/issues/90277 we should switch up from "WhiteList" to "AllowList" in the e2e framework.

**What would you like to be added**:
Within the e2e framework, there is a definition of a set of images to be used for a test suite:
https://github.com/kubernetes/kubernetes/blob/403716626d126c850c233a85977de0e6ce60d8ec/test/e2e/framework/pods.go#L60-L63

We s

[2020-06-19 19:15] nevola commented on #62720
/reopen

[2020-06-19 19:18] spiffxp commented on #92317
Yes I'm in favor of changing them.  But I'm not sure `allowlist` makes sense here, this isn't necessarily being used as a filter.

It looks like node, common and pods all use something for prepulling / describing images used in test.  Maybe something like 'PrePulledImagesList`?

[2020-06-19 19:18] BenTheElder commented on #92317
+1

Let's please clean these up.
I will personally prioritize review and approve fixes for this, you can comment `/assign @bentheelder` to assign me on any associated Pull Requests.

/help
/good-first-issue

[2020-06-19 19:19] BenTheElder commented on #92317
/remove-help
/remove-good-first-issue
oops, it seems @alejandrox1 is already working on this.
+1 to @spiffxp's comment.

[2020-06-19 19:29] BenTheElder commented on #92306
xref: https://github.com/kubernetes/kubernetes/issues/92155

[2020-06-19 19:29] alejandrox1 commented on #92317
/retitle Use PrepullList in e2e framework

and thank you @spiffxp @BenTheElder for the comments.
Ima leave these 2 labels for now
/help
/good-first-issue

Just wanted to get an example out there.
Gonna try and find more instances of this kind of thing in /test.

[2020-06-19 19:31] alejandrox1 commented on #92317
on a second thought, https://github.com/kubernetes/kubernetes/pull/92318#discussion_r443010567, let me just do this one and ill search for more "good first issues" since we have some consensus about this.
/remove-help
/remove-good-first-issue
/assign

[2020-06-19 19:35] jslay88 commented on #23404
All good, we all are here to learn.

[2020-06-19 19:36] alejandrox1 opened #92319 "Rename CommonImageWhiteList"
**What would you like to be added**:
We should come up with a better name for `CommonImageWhiteList`:
https://github.com/kubernetes/kubernetes/blob/403716626d126c850c233a85977de0e6ce60d8ec/test/e2e/common/util.go#L60-L64

**Why is this needed**:
From #90277

/sig testing
/priority important-soon
/cleanup
/help
/good-first-issue

[2020-06-19 19:40] alejandrox1 opened #92320 "Rename NodeImageWhiteList"
**What would you like to be added**:
We should come up with a better name for `NodeImageWhiteList`:
https://github.com/kubernetes/kubernetes/blob/403716626d126c850c233a85977de0e6ce60d8ec/test/e2e_node/image_list.go#L46-L48

**Why is this needed**:
From #90277

/sig testing
/priority important-soon
/cleanup
/help
/good-first-issue

[2020-06-19 19:40] markyjackson-taulia commented on #92317
I am +1 for this

[2020-06-19 19:57] kishorj opened #92321 "Make the AWS NLB health check configurable"
/sig aws
/kind feature
**What would you like to be added**:
Additional  annotations for configuring the AWS NLB health checks
**Why is this needed**:
Currently, the health check for AWS NLB uses default values and not configurable. Support additional service annotations to specify the protocol, path, port for the AWS NLB health checks.

[2020-06-19 19:57] kishorj commented on #92321
/sig aws

[2020-06-19 20:02] kishorj commented on #92321
/sig cloud-provider

[2020-06-19 20:02] RobertKielty commented on #92319
/assign

[2020-06-19 20:02] kishorj commented on #92321
/area provider/aws

[2020-06-19 20:03] liggitt commented on #92307
This is working properly. Your current schema expresses the following:

`spec` must be validated by any of the following:
1. a `trustees` property whose items all match `^group...`
1. a `trustees` property whose items all match `^user...`

To apply the anyOf rules per-item, you need to put the anyOf attribute inside the items schema definition like this:
[code]

[2020-06-19 20:03] #92307 closed

[2020-06-19 20:09] BenTheElder commented on #92155
that seems fair honestly re: `[Flaky]` tag ...

the only thing is tagging a test flaky almost means removing it :shrug:

[2020-06-19 20:11] liggitt commented on #90904
This is resolved in 1.16.11+, 1.17.7+, 1.18.4+

[2020-06-19 20:11] #90904 closed

[2020-06-19 20:13] liggitt commented on #91621
This is resolved in 1.16.11+, 1.17.7+, 1.18.4+

[2020-06-19 20:13] #91621 closed

[2020-06-19 20:20] hasheddan commented on #92317
+1 please feel free to tag me for reviews as well

[2020-06-19 20:36] wfernandes commented on #92320
@alejandrox1 I'd like to help out with this.
/assign

[2020-06-19 20:38] wfernandes commented on #92320
Whoops...never mind. It seems like you have a PR for it already.
/unassign

[2020-06-19 20:38] Leulz commented on #72811
To add to this: if you have a container using CPU requests different from its CPU limits, the HPA using the requests makes no sense. After all, if requests != limits, we want the CPU usage to be able to surpass the CPU requests.

But if the HPA will scale up based on CPU requests, then the horizontal scaling will be done without allowing the container to be able to deal with its workload normally

[2020-06-19 20:41] wfernandes commented on #92320
And I misread the changes you made in #92318. I'm back on this one.
/assign

[2020-06-19 20:45] thockin commented on #23404
Awesome.  These bugs serve as historical record, so it's great to really work through problems that users really hit.  Thanks for confirming.  Hopefully the next person who stumbles on this will find this bug and know what they are doing wrong.

Now, I wonder if the CLI should maybe warn if it finds a trailing newline, or even have a --strip-trailing-newline flag ? :)  @kubernetes/sig-cli-misc

[2020-06-19 20:48] wfernandes commented on #92320
I'm going to rename this to `NodeImageAllowList`. Please let me know if there are any objections or if there are things that I should be considering.

[2020-06-19 20:52] alejandrox1 commented on #92320
@wfernandes please feel free to take it.
I'm only changing ImageWhileList withint test/e2e/framework/pods.go.

[2020-06-19 21:02] msrinivascharan opened #92322 "Kubernetes documentation is not working fine from last few days"
i observed a major cosmetic change happened to Kubernetes documentation recently, before to that search option was pretty good. Now, it’s not working fine

If I type “security context” or “resource requests” in the search box, in the results, it is showing “fetching results….”, no result even after 15 minutes waiting also.

It works with single words like “security” and “resources” like that, but

[2020-06-19 21:28] rikatz commented on #92284
@928234269 I didn't get it. I've created the same service here, but I can't remember if services generates any sort of events. Maybe when they're of a type LoadBalancer.

Do you have any specific case of services generating events?

Thank you

[2020-06-19 21:33] rikatz commented on #92284
/assign
/remove-triage unresolved
/triage needs-information

[2020-06-19 21:38] bcanozter commented on #92297
What is the imagePullPolicy set to?

[2020-06-19 21:44] aojea commented on #73099
/reopen

[2020-06-19 21:45] aojea commented on #92155
https://github.com/kubernetes/kubernetes/issues/73099

🤷

[2020-06-19 21:59] BenTheElder commented on #92322
the documentation is in github.com/kubernetes/website
/sig docs

I believe this is a dupe of https://github.com/kubernetes/website/issues/21808
/triage duplicate
/close

[2020-06-19 21:59] #92322 closed

[2020-06-19 22:46] AndrewSav commented on #60807
@bobhenkel well this issue is closed, so effectively this means that there is no issue (as far as any actionable items are concerned). If you need practical help with dealing with a similar situation, please read the thread above, there are some good pieces of advise there (and also some bad ones).

[2020-06-19 22:59] #76794 closed

[2020-06-19 23:01] weinong opened #92326 "Pulling Azure Container Registry image using Managed Service Identity may fail"
**What happened**:
When Managed Service Identity (MSI) is used to pull images from Azure Container Registry (ACR), it may fail with `Failed to pull image "<redacted>.azurecr.io/<redacted>": rpc error: code = Unknown desc = Error response from daemon: Get https://<redacted>.azurecr.io/v2/<redacted>: unauthorized: authentication required` even though the MSI has reader access to the ACR. It will rec

[2020-06-19 23:05] weinong commented on #92326
/area provider/azure

[2020-06-19 23:05] weinong commented on #92326
/sig cloud-provider

[2020-06-20 00:12] dashpole commented on #68522
@vishiy You can run cAdvisor as a daemonset to get the exact same information.  Or, i'd recommend checking out the prometheus node exporter, which has most of the same information available in prometheus format, which IMO is easier to integrate into popular monitoring pipelines.

[2020-06-20 00:35] techwhizbang commented on #67761
I am also seeing this issue sporadically in our production clusters. While low volume it is still disruptive and annoying since it causes our API calls to fail and additional boilerplate checks in our client code are needed to retry when this happens.

Can this be re-opened please?

[2020-06-20 01:01] #51641 closed

[2020-06-20 01:20] pururaj1908 commented on #91938
@aojea Alright. Thanks for the info. I will also look for any other open issues in the meantime.

[2020-06-20 03:49] #92244 closed

[2020-06-20 03:50] 13567436138 opened #92332 "kubectl apply success but add server-side flag apply failed"
**What happened**:
[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- Cloud provider or hardware configuration:
- OS (e.g: `cat /etc/os-release`):
- Kernel (e.g. `uname -a`):
- Install tools:
- Network plugin and version (if this is

[2020-06-20 03:51] 13567436138 commented on #92332
/sig cli

[2020-06-20 04:18] BedivereZero commented on #92242
I install via `dnf` success on centos 7，maybe temporary resolution。
[code]

[2020-06-20 04:42] therealbubbasour commented on #88986
thx @rikatz @davesargrad . I experience a very similar issue on K3s and I've tried to report it (https://www.reddit.com/r/rancher/comments/hcfnkv/k3s_64s_delay_accessing_a_service_on_nodeport/). Is there a way I can incorporate this fix, or would I have to wait for the K3s community to build a new release?

[2020-06-20 04:50] #91560 closed

[2020-06-20 04:50] #91654 closed

[2020-06-20 04:52] #92320 closed

[2020-06-20 05:03] MarkRose commented on #88986
It looks like it won't be part of a release until mid-July.

[2020-06-20 05:20] BenTheElder commented on #92320
ultimately was changed to NodePrePullImageList because that's what it's actually used for, not for any sort of filtering.

[2020-06-20 05:44] #91944 closed

[2020-06-20 06:08] davesargrad commented on #88986
@therealbubbasour glad to see you found this issue.. @rikatz and others have done an excellent job of consolidating all many disparate reports that relate to this, under this. I've been monitoring the progress all along. I feel that we are close.

I found that I spent a lot of time up front isolating the problem and eliminating elements. It took me a lot of learning about k8s, to finally get to th

[2020-06-20 06:57] pckhoi commented on #92297
imagePullPolicy was "IfNotPresent".

This morning I scale up the GKE node pool again and the problem was gone. Whenever I update PodSpec the container image update accordingly. Also looks like GKE doesn't expose kubelet logs anywhere.

If anything I want to downgrade server to 1.14 or 1.15. Never had this problem until I switched to GKE regular channel which is currently 1.16.8.

[2020-06-20 07:14] #92059 closed

[2020-06-20 07:44] skycastlelily2 opened #92334 ""kubectl create -f "failed with normal user"
**What happened**:
[core@localhost bin]$   mkdir -p $HOME/.kube
[core@localhost bin]$   sudo cp -i /etc/kubernetes/admin.conf $HOME/.kube/config
cp: overwrite '/var/home/core/.kube/config'? yes
[core@localhost bin]$   sudo chown $(id -u):$(id -g) $HOME/.kube/config

[core@localhost bin]$  kubectl create -f https://raw.githubusercontent.com/cilium/cilium/v1.8/install/kubernetes/quick-install.yaml
e

[2020-06-20 08:22] therealbubbasour commented on #88986
Hi @davesargrad, I'm not 100pct sure this is my problem, but I suspect it as the behavior with delay with requests to NodePorts is in the same roundabouts. However, I haven't seen or experienced anything alike in the past.

I had a quick look at the patch and it seems rather complicated, is there any temporary solution/workaround I can do to be able to proceed with my metallb/k3s learnings? If I'm

[2020-06-20 08:53] davesargrad commented on #88986
@rikatz I am not sure it actually makes sense to close this issue, until a test is run to verify that it truly is gone. I do see the other issue that has been written, that hopefully will drive the resolution. However, I'd recommend closing this issue, only once a final test has proven the fix.

[2020-06-20 09:09] #87367 closed

[2020-06-20 09:13] juliantaylor commented on #88397
/remove-lifecycle rotten

[2020-06-20 09:33] BenTheElder commented on #92334
Did you set KUBECONFIG env to point to the admin conf?
If the env is set this path is used instead of home.

[2020-06-20 09:35] Sanket110297 commented on #72051
**Solution:**

The steps I followed are:

1. `kubectl get apiservices` : If metric-server service is down with the error CrashLoopBackOff try to follow the step 2 otherwise just try to restart the metric-server service using `kubectl delete apiservice/"service_name"`. For me it was v1beta1.metrics.k8s.io .

2. `kubectl get pods -n kube-system` and found out that pods like metrics-server, kubernete

[2020-06-20 10:59] therealbubbasour commented on #88986
I deleted the SVC of type LoadBalancer and tried to hit both direct PodIP and ClusterIP.

Directly hitting **PodIP** is obviously the fastest: **0m0.019s** to render nginx landing page.
Given a service with type **ClusterIP** 5 endpoints (nodes) all on the same LAN, it takes significantly more time: **0m1.044s**.

Even if a forwarding may happen in iptables by kube-proxy, still 1.sec+ seems too hi

[2020-06-20 11:11] maxcanna commented on #89301
Fixed in #89919

[2020-06-20 11:11] maxcanna commented on #89301
/close

[2020-06-20 11:11] #89301 closed

[2020-06-20 11:26] fatkun opened #92337 "Mistake use obj as prevObj in onEndpointSliceUpdate"
**What happened**:
Mistake use obj as prevObj， prevEndpointSlice := obj.(*discovery.EndpointSlice)

https://github.com/kubernetes/kubernetes/blob/0a91893126e6becf60777d0f14ade79e4058bc06/pkg/controller/endpointslice/endpointslice_controller.go#L406-L416

**What you expected to happen**:

prevEndpointSlice := prevObj.(*discovery.EndpointSlice)

**How to reproduce it (as minimally and precisely as p

[2020-06-20 11:30] fatkun commented on #92337
/sig network

[2020-06-20 12:30] aojea commented on #92337
/remove-triage unresolved

PR for fixing it #92339

Thanks @fatkun

[2020-06-20 12:54] liggitt commented on #62366
The underlying issue is being tracked in https://github.com/kubernetes/kubernetes/issues/58477

[2020-06-20 12:54] #62366 closed

[2020-06-20 12:57] liggitt commented on #92334
The KUBECONFIG envvar isn't propagated to the sudo-run command by default, so the existing kubeconfig filepath is not being honored. To propagate that, do `sudo -E KUBECONFIG ...`

[2020-06-20 12:57] #92334 closed

[2020-06-20 12:58] liggitt commented on #92334
Also, the attempt to copy to the home dir is evaluating $HOME in the current user's context. It is likely $HOME has a different value when running as sudo

[2020-06-20 13:13] liggitt commented on #92332
cc @apelisse

[2020-06-20 13:17] liggitt commented on #86033
Your apps/v1 manifest looks correct, this appears to be working as intended.

`kubectl get deployment` prefers reading in extensions/v1beta1 format if it is available on the server for backwards compatibility reasons. You can also fetch the apps/v1 version by doing `kubectl get deployment.v1.apps ...`

[2020-06-20 13:17] #86033 closed

[2020-06-20 14:08] msrinivascharan commented on #92322
yes.. i just checked now, it's working fine.

if i type a search keyword like "redins prob"  intentionally wrong spelling, its showing suggestion with right spelling, like as earlier. seems everything ok.

[2020-06-20 14:14] #86255 closed

[2020-06-20 14:22] 928234269 commented on #92284
So the service itself will not provide events？ I want to understand this.

So service will not provide events? thank you.

[2020-06-20 14:37] therealbubbasour commented on #88986
I changed Flannel backend from vxlan to host-gw and the problems with floods of checksum errors and delay in svc/nodeport responses seem to be completely gone now.
Hitting a service/nodeport now to render nginx landing page takes 0.03s.

[2020-06-20 15:44] BenTheElder commented on #92322
If you see something like this in the future please file the bug against https://github.com/kubernetes/website/, the folks that manage the site will see the issue much more quickly if you file it against their repo.

[2020-06-20 16:20] jherrera123 commented on #90709
/assign

[2020-06-20 16:24] BenTheElder commented on #92275
Worth noting that hyperkube is not being supported going forward. It's definitely a regression in these releases, but know that it's not something the project plans to ship in 1.18+ IIRC ...

The base image change likely pulled in the kubernetes 1.17+ fixes for the normal kube-proxy base image (debian-iptables) to autodetect iptables vs iptables_nft usage on the host and match.

I haven't seen any

[2020-06-20 16:25] BenTheElder commented on #92275
xref https://github.com/kubernetes/kubernetes/issues/92272

[2020-06-20 16:50] rahulchheda opened #92346 "Remove Mutex Thread locking unlocking from Loggin Format"
**What happened**:

According to this comment, there is no need for mutex thread locking and unlocking In Logging Format.
ref: https://github.com/kubernetes/kubernetes/pull/92177#discussion_r442897848

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`

[2020-06-20 16:52] rahulchheda commented on #92346
/sig api-machinery
/sig clustre-lifecycle
/sig instrumentation

[2020-06-20 16:52] rahulchheda commented on #92346
/sig cluster-lifecycle

[2020-06-20 17:17] #80272 closed

[2020-06-20 17:52] vanakema commented on #89271
I'd LOVE this as a feature.

[2020-06-20 18:16] casidiablo commented on #81723
This does not seem like a crazy request... in fact, it should have been an obvious feature.

Is this hard to implement or something? I bet this is something a core member can knock in a couple of hours.

[2020-06-20 18:37] serathius commented on #92346
/retest

[2020-06-20 19:21] danwinship commented on #88986
Note that the problem can also be (mostly) worked around by upgrading to a kernel with the checksum fix (https://github.com/kubernetes/kubernetes/issues/88986#issuecomment-635367089) or by disabling checksum offload on the relevant network interfaces (eg, https://github.com/kubernetes/kubernetes/issues/88986#issuecomment-601506516 gives the command for flannel; some of the other xref'ed bugs may g

[2020-06-20 19:31] danwinship commented on #92275
I think the problem is that the hyperkube image, unlike the "real" kube-proxy image, _doesn't_ have the autodetect stuff, and so "hyperkube kube-proxy" just uses whatever the default version of iptables is in its container. So when the image got updated to the new debian base, it flipped from always-use-iptables-legacy to always-use-iptables-nft.

[2020-06-20 20:36] apelisse commented on #92332
This is a duplicate of https://github.com/kubernetes-sigs/structured-merge-diff/issues/130.

We're very aware of this bug, and we're working on getting this fixed. @jennybuckley.
In the mean time, I would suggest you add the `TCP` protocol for your nginx container to work-around the problem.

[2020-06-20 20:36] #92332 closed

[2020-06-20 21:01] komoo1 commented on #64689
"able to fit" implies that if you set number of replicas as 5 and only 3 replicas are achievable, then the deployment should proceed. Also, see @kow3ns comment above

[2020-06-20 21:58] jherrera123 commented on #89964
I looked at the conversion.go files, we have 72 conversion.go files, and everytime a new API version is created or new objects are added, new sets of conversion files are needed. Also, we cherry pick which fields we wan't to save in the code when we convert to older APIs. This is very fragile and isn't maintainable long term.

I suggest an automatic mechanism to convert between objects (internal a

[2020-06-20 22:22] #81310 closed

[2020-06-20 22:39] liggitt commented on #89964
We have automatic conversions between internal and external wherever possible. Only mismatched fields/types need custom conversions.

[2020-06-20 23:23] #87469 closed

[2020-06-21 00:24] #87476 closed

[2020-06-21 02:20] andyxning commented on #55071
I think we need more detailed doc about controllerrevision resource just like DaemonSet/StatefulSet. This is useful for contributors.

[2020-06-21 03:11] zhouya0 commented on #92170
Agree, @damemi . I'll try to make another PR.

[2020-06-21 03:42] fatedier opened #92352 "Export new constructor for SharedIndexInformer"
**What would you like to be added**:
Current constructors:

[code]

Could we export a new constructor to pass a custom indexer which is created by `NewIndexer(DeletionHandlingMetaNamespaceKeyFunc, indexers) now`.

**Why is this needed**:
In my scenario, custom controller will cache many resources from all federated clusters. However, it only cares about a few fileds of these resource.

For example

[2020-06-21 03:43] fatedier commented on #92352
/sig api-machinery

[2020-06-21 03:44] andyxning commented on #29276
We have somewhat the same requirements about scheduling the daemonset pods with affinity with app pods and anti-affinity with nodes not running the app pods after app pods are deleted from the nodes. Any suggestion?

[2020-06-21 05:14] pckhoi commented on #92297
Looks like kubelet logs can be accessed via journalctl on node vm. But anyway there's no log survived from then after I scaled down the node pool.

[2020-06-21 08:25] zhangguanzhang commented on #86715
/remove-lifecycle stale

[2020-06-21 08:35] justaugustus commented on #92250
/assign
I'm attempting a fix in https://github.com/kubernetes/kubernetes/pull/92354.

[2020-06-21 08:36] justaugustus commented on #92272
/assign
/priority critical-urgent
/area release-eng

I'm attempting a fix in https://github.com/kubernetes/kubernetes/pull/92354.

[2020-06-21 08:37] justaugustus commented on #92272
cc: @kubernetes/sig-network-bugs @kubernetes/release-engineering

[2020-06-21 08:38] justaugustus commented on #92275
/assign
/priority critical-urgent
/area release-eng

I'm attempting a fix in https://github.com/kubernetes/kubernetes/pull/92354.

cc: @kubernetes/sig-network-bugs @kubernetes/release-engineering

[2020-06-21 09:05] aojea commented on #90961
/close
no response for a month, seems related to the cloud-provider and a similar issue was opened and closed by the same user in the cloud-openstack-provider
https://github.com/kubernetes/cloud-provider-openstack/issues/1091

[2020-06-21 09:05] #90961 closed

[2020-06-21 09:12] cwdsuzhou commented on #90116
Is it work for overlay?

[2020-06-21 09:23] skycastlelily2 commented on #92334
I haven't set KUBECONFIG, I just follow the steps listed in https://kubernetes.io/docs/setup/production-environment/tools/kubeadm/install-kubeadm/
and then kubeadm init.
But the value is somehow set to /etc/kubernetes/admin.conf,and kubectl create -f works with normal user works after I unset it.

[2020-06-21 09:33] #82234 closed

[2020-06-21 09:34] skycastlelily2 commented on #92334
The issue is described as follows,though I didn't know why"The connection to the server localhost:8080 was refused" is shown with sudo one
[core@localhost bin]$ kubectl create -f https://raw.githubusercontent.com/cilium/cilium/v1.8/install/kubernetes/quick-install.yaml
error: error loading config file "/etc/kubernetes/admin.conf": open /etc/kubernetes/admin.conf: permission denied

[core@localhost

[2020-06-21 10:24] farah commented on #92245
I'll have a look at it, thanks.

/assign

[2020-06-21 11:04] rangapv commented on #33766
Hi,

Any fix on this. I am having the same issue when i delete the LoadBalancer and re-
apply the service as ClusterIP it gives me the error ...

Error Message:
The Service "web2-service" is invalid: spec.ports[0].nodePort: Forbidden: may not be used when `type` is 'ClusterIP'

Thanks
Ranga

[2020-06-21 11:28] farah commented on #92044
@gnufied nice catch.

Can I send a fix for it or are you already on it?

[2020-06-21 12:08] iamchuckss commented on #92321
/assign

[2020-06-21 12:29] vsxen commented on #92284
I think it is useful.
Ex
[code]

ping https://github.com/kubernetes/enhancements/issues/383

[2020-06-21 12:36] #83878 closed

[2020-06-21 13:37] #87490 closed

[2020-06-21 13:49] sftim commented on #88651
/sig node

[2020-06-21 13:53] eplightning commented on #90293
Happens on v1.18.3 as well.

This issue only occurs when container has some fsGroup set in its securityContext AND volume being mounted is either secret or a configmap. I guess they are being re-mounted every 70s or so.

It's okay when the volume being mounted is a standard PV - log only appears once and doesn't get repeated.

[2020-06-21 14:15] ahg-g commented on #88195
/close

[2020-06-21 14:15] #88195 closed

[2020-06-21 15:38] xwu2git opened #92358 "data disk partition size"
**What happened**:

The host OS is CentOS 7.6. There is about 50GB in the root partition. So I moved the docker engine data root /var/lib/docker to be under /mnt/storage, which has about 1.8TB. Kubernetes continues to use /var/lib/docker and starts to evict PODs that use anywhere close to 50GB.

**What you expected to happen**:

Kubernetes follows docker to use the same docker engine data root sto

[2020-06-21 15:50] xwu2git commented on #92358
/sig storage

[2020-06-21 15:54] uzxmx commented on #56038
@john-yick In a bare-metal or development machine, I highly recommend using [kubespray](https://github.com/kubernetes-sigs/kubespray). You can configure to use mirrors for images which are slow to download in China. Also if you like using terminal to work, I recommend using vagrant + kubespray to do some experiments of k8s cluster. I made [my own k8s box](https://github.com/uzxmx/boxes/tree/master

[2020-06-21 16:14] lippertmarkus commented on #79359
@JocelynBerrendonner any news about that? I'm also running into this issue with newer Windows Versions and can't stay on build 17763.1039

[2020-06-21 18:56] hkamel opened #92360 "[Flaky Test] integration-master (ci-kubernetes-integration-master)"
**Which jobs are failing**:

**Which test(s) are failing**:

**Since when has it been failing**:

**Testgrid link**:

**Reason for failure**:

**Anything else we need to know**:

panic: test timed out after 2m0s
goroutine 45 [running]:
testing.(*M).startAlarm.func1()
	/usr/local/go/src/testing/testing.go:1377 +0x11c
created by time.goFunc
skipped 104 lines unfold_more
	/usr/local/go/src/os/exec/ex

[2020-06-21 19:25] xander-sh commented on #92242
@mahendra-gefen you can use custom conf file for yum
https://docs.ansible.com/ansible/latest/modules/yum_module.html#parameter-conf_file

[code]

yum_temporary.conf
[code]

[2020-06-21 19:26] jherrera123 opened #92361 "Unit tests in uploadconfig pkg fail with timeout errors"
**What happened**:
Running `make test` fails consistently with timeout errors

`panic: test timed out after 2m0s`

[code]

[out.txt](https://github.com/kubernetes/kubernetes/files/4810133/out.txt)

**What you expected to happen**:
Unit tests should complete without any errors. If this was a configuration problem (e.g. unsupported go version), then I should see a meaningful error rather than just a

[2020-06-21 19:28] jherrera123 commented on #92361
/sig testing

[2020-06-21 19:32] xander-sh commented on #92242
@parvaths1118  You need to install socat and conntrack-tools packages
conntrack-tools.x86_64 1.4.4-7.el7
socat.x86_64 1.7.3.2-2.el7

[2020-06-21 19:33] jherrera123 commented on #92361
/assign

[2020-06-21 20:12] brianpursley commented on #90739
Possibly related to https://github.com/kubernetes/kubernetes/issues/89414

[2020-06-21 20:47] nilsonsfj commented on #72597
Still need the feature.

On Sun, Jun 21, 2020, 22:44 fejta-bot <notifications@github.com> wrote:

[2020-06-21 21:52] Riaankl commented on #90914
/reopen
PR #91230 Merge and soaking

[2020-06-21 22:00] capacman commented on #13136
+1 in enterprise environment this is necessary. Is there any other solution?

[2020-06-21 22:19] Riaankl commented on #90921
/reopen
#90941 On hold & soaking

[2020-06-21 22:28] #90709 closed

[2020-06-21 22:33] Riaankl commented on #90913
Test PR #91259 Merged 17 Jun. Waiting for 2 weeks

[2020-06-21 22:46] #87444 closed

[2020-06-21 22:46] #87472 closed

[2020-06-21 22:46] Riaankl commented on #90912
/reopen
#91259 Merge 17 July 2020

[2020-06-21 22:52] liggitt commented on #92361
Issues targeted at the specific problematic packages and responsible SIGs will be more effective in getting this addressed

[2020-06-21 23:46] Riaankl commented on #90913
@heyste
Test to be created using "Polling" and not "Watch tooling"

[2020-06-21 23:47] #87477 closed

[2020-06-22 00:01] enj commented on #90533
This cert cache needs to support audit annotations, i.e. #90140.

[2020-06-22 01:41] ahg-g commented on #92170
It is indeed not well defined in the docs, but if I were to implement this now, I would probably implement it such that ```tolerationSeconds``` is for running pods only, and that a pod shouldn't be scheduled on the node otherwise.

However, I don't know if we can change the current behavior since it is a v1 api, and so we need to update the docs to clarify the scheduler's current behavior and reco

[2020-06-22 01:59] lyveng commented on #86944
This bug is specific to dockershim and doesn't happen in containerd. We found this when we were evaluating moving to containerd and tried reproducing this bug on containerd.

[2020-06-22 02:00] rakeshk121 opened #92364 "Pod/Container directory which used to mount nfs path gets empty after deployment"
The following is my kubernetes deployment, pv and pvc-yaml template:
[code]
Here after the deployment when I `exec` inside the container(using `oc exec` or `kubectl exec` command) and check the folder `/pythonApp/configs`, it is found to be empty. Actually it is supposed to be having some configuration files from image that is used.

Is this issue due to `/pythonApp/configs`  is mounted to the per

[2020-06-22 02:06] thockin commented on #33766
How are you applying this change?

On Sun, Jun 21, 2020, 4:04 AM rangapv <notifications@github.com> wrote:

[2020-06-22 02:08] Nanduyana commented on #82169
this syntax doesnt work me -
kubectl version
Client Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.7-eks-1861c5", GitCommit:"1861c597586f84f1498a9f2151c78d8a6bf47814", GitTreeState:"clean", BuildDate:"2019-09-24T22:12:08Z", GoVersion:"go1.12.9", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"14+", GitVersion:"v1.14.9-eks-f459c0", GitCommit:"f

[2020-06-22 02:11] rakeshk121 commented on #92364
When i describe the pod, i find that the volume the pod is using is of type -> EmptyDir, which means it is not using the PVC/PV.
[code]

[2020-06-22 02:26] yuzhiquan commented on #86944
`CNI` code do not run in kubelet main loop, but in `CRI` implement, so it's depend on the cluster `CRI` version.

[2020-06-22 02:27] zhouya0 commented on #92170
@ahg-g I totally agree with @Huang-Wei too. Adding a `NoSchedule` taint will solve the problem. Perhaps what we need to change is the improvement of the use documents of the `taint`.
Move `TolerationSeconds` to score plugin can also solve the problem but also changes the current behavior. So just now I'll close my PR and waiting for more evidence.
But open this issue to be discussed :)

[2020-06-22 02:32] zhouya0 commented on #92297
You can check this PR https://github.com/kubernetes/kubernetes/pull/88839. Seems the same problem. But my solution seems not accepted.

[2020-06-22 03:12] ignorantshr opened #92366 "After reboot Centos7 server , the k8s cluster cann't up."
**What happened**:
After reboot centos7 servers, kubernetes cluster can not up.

**What you expected to happen**:
After reboot centos7 servers, kubernetes cluster can up automatically.

**How to reproduce it (as minimally and precisely as possible)**:
reboot a k8s cluster that running on centos7, with one manager and one worker.

**Anything else we need to know?**:
according to `/var/log/messages`

[2020-06-22 03:30] ignorantshr commented on #92366
/sig cluster-lifecycle

[2020-06-22 04:08] l1b0k opened #92368 "Delete Pod is stuck at `Terminating`"
**What happened**:  Delete Pod is stuck at `Terminating`

**What you expected to happen**:  Delete Pod.

**How to reproduce it (as minimally and precisely as possible)**:

Two main factors
1. time skew
2. kubelet restarted

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): v1.15

`containerGC` should clean all exited containers when Pod is `Termina

[2020-06-22 04:30] enj commented on #90817
Yeah that will be part of the doc updates for GA, per the KEP note:

I think part of the issue here is that an exec based model is inherently limited to environment vars + stdin as input, and stdout + stderr as output.  Since all these are global to the binary, it is trivial for them to get polluted accidentally.  These are probably not the best building blocks for an API, but it is trivial to pri

[2020-06-22 04:55] cbrunnkvist commented on #57198
I can reproduce this and yes the error is/was quite misleading (especially when the error was not happening on my machine but in a CI environment):

*kubectl v1.13.5*:
[code]

*kubectl v1.16.6-beta.0*:
[code]

[2020-06-22 05:18] hkamel commented on #92360
/retitle [Flaky Test] integration-master (ci-kubernetes-integration-master)
/remove-kind failing-test
/kind flake

[2020-06-22 05:23] zryfish commented on #82402
Ran into the same issue here,  @niklun how do you solve this?

[2020-06-22 06:07] l1b0k commented on #92368
/sig node

[2020-06-22 06:26] yeganeahmadnejad commented on #86281
hi
because of https://github.com/kubernetes/kubernetes/issues/90589 issue I had to upgrade my kube cluster form 16.4 to 18.2
and have same problem
I0622 05:36:20.336626       1 request.go:621] Throttling request took 3h32m8.394756742s, request: GET:https://192.168.100.68:6443/apis/storage.k8s.io/v1/volumeattachments/csi-3dee2b16f91302d22fe3b48c80316885378019fa46ddb38eaede2a8454f8a211

[2020-06-22 07:03] wojtek-t commented on #91236
It seems that my PR didn't really help much. We should dig deeper, but I would need someone with more networking expertise to look a bit into https://github.com/kubernetes/kubernetes/issues/91236#issuecomment-646632777

[2020-06-22 07:03] wmuizelaar commented on #92307
Thanks - that indeed works. I assumed (wrongly) that because of all the hints that are given in the docs, this kind of construction would be conflicting with the requirement of a structural schema. Would it be a good idea to add a more extensive example? If so, I'm willing to create a docs-PR

[2020-06-22 07:17] niklun commented on #82402
@zryfish It is not solved. Using port-forward when I need to access an internal api with dryRun... not the best solution in the long run.

[2020-06-22 07:17] niklun commented on #82402
/remove-lifecycle rotten

[2020-06-22 07:52] 0dragosh commented on #90130
@bvivi57 What was the problem and how did you fix this exactly?

I'm having the same issue and I'm stuck.

[2020-06-22 07:54] weiqiangt opened #92369 "Move pkg/proxy to k8s.io/kube-proxy"
**What would you like to be added**:

Could you please move pkg/proxy to k8s.io/kube-proxy as an individual module?

**Why is this needed**:

Some CNIs would like to implement their own kube-proxy like component to gain more performance and thus would like to reuse kube-proxy code.  e.g. https://github.com/vmware-tanzu/antrea/pull/772 .

[2020-06-22 08:14] alikhil commented on #83111
/remove-lifecycle stale

[2020-06-22 08:21] vickyvikas7988 commented on #87490
no response

[2020-06-22 08:25] velickym commented on #72597
Still needed.

[2020-06-22 08:31] pacoxu commented on #77801
This works for me.

[2020-06-22 08:37] rkojedzinszky commented on #91073
I am trying to dig this. Now, I've written a little go prog which uses the same reflector what kubelet uses. It just starts a watch for CSIDrivers, and I've made client-go to print the last resourceVersion. Starting the program multiple times (i.e. connecting to different masters) produces the following:
[code]
Right now I dont exactly know what url is being fetched and what arguments are passed i

[2020-06-22 08:58] stephan2012 commented on #85761
@davejrt: Thanks for the pointer. This stresses that something went wrong because `824637049880` does not look like a reasonable number of replicas.

[2020-06-22 09:14] ak2766 opened #92371 "Only 1 etcd visible in componentstatuses output - HA k8s cluster in stacked etcd mode"
**What happened**:
After deploying a 3 controller node k8s cluster in HA in stacked etcd mode, `componentstatuses` had this:
[code]
**What you expected to happen**:
According to Kubernetes - The Hard Way, `componentstatuses` should have had output similar to below:
[code]

**How to reproduce it (as minimally and precisely as possible)**:
Deploy a k8s cluster following this documentation:
https://k

[2020-06-22 09:29] ak2766 commented on #92371
/sig cluster-lifecycle

[2020-06-22 09:39] povsister commented on #87615
Setting `MAX_CONCURRENT_STREAMS` to `1000` on APIserver have no effect on this issue.
I believed this is caused by a flaw in `golang http2 Transport`. See above

[2020-06-22 10:12] jlacoline opened #92373 "RoleBinding referring to cluster-admin grants access to privileged psp"
**What happened**:

A RoleBinding referring to the `cluster-admin` role grants `use` verb on `privileged` podsecuritypolicy to the user within the current namespace.

**What you expected to happen**:

According to the [documentation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles), in the case of a `RoleBinding` (not `ClusterRoleBinding`), I can expect the user to

[2020-06-22 10:15] AntonSmolkov commented on #87615
Had this issue again this night.
Seems like setting ‘MAX_CONCURRENT_STREAMS ‘ did not help☹️

[2020-06-22 10:24] wojtek-t commented on #91236
Actually - it seems only failures from one group are on non `kind`. So maybe that's actually related.

The non-kind related ones look like:
[code]

[2020-06-22 10:29] wojtek-t commented on #91236
OK - for this one, I actually know what is happening - I will send out a PR with a fix for this too.

[2020-06-22 10:36] KevinWang15 commented on #27308
my solution here

* it doesn't touch KUBECONFIG so multiple tabs using different contexts are possible
* it can work wonders with iTerm2
* it is very simple & extensible

add the following to your shell rc file (~/.bashrc or ~/.zshrc, etc.)

[code]

[2020-06-22 10:39] aojea commented on #91236
@wojtek-t for the KIND jobs @BenTheElder already increased the resource requests on some of the jobs,  there are issues on KIND jobs with kube-proxy not able to take the iptables lock and not being able to create the iptables rules for the services until the next resync

[2020-06-22 10:39] nikhita commented on #92280
Please see @knight42's comment above https://github.com/kubernetes/kubernetes/issues/92280#issuecomment-646421950 for fixing this. Closing the issue, please reopen if you run into any problems!

/close

[2020-06-22 10:39] #92280 closed

[2020-06-22 10:54] nikhita commented on #91244
As mentioned in https://github.com/kubernetes/kubernetes/issues/75537#issuecomment-475466491, this is to prevent unauthorized users sniffing the existence of namespaces.

Closing this issue since it is a duplicate of https://github.com/kubernetes/kubernetes/issues/75537. Please reopen if needed!

[2020-06-22 10:54] #91244 closed

[2020-06-22 10:58] nikhita commented on #91087
@manojchandrabss This looks like a question best suited to a Kubernetes
user forum. Please re-post your question to [Stack Overflow](http://stackoverflow.com/questions/tagged/kubernetes)
or our [Discussion Forums](https://discuss.kubernetes.io).

We are trying to consolidate the channels to which questions for help/support
are posted so that we can improve our efficiency in responding to your requ

[2020-06-22 10:58] #91087 closed

[2020-06-22 11:05] nikhita commented on #90329
@ankitm123 :wave: Thanks for the initial investigation on this issue! Just wanted to check if you are still working on this :)

[2020-06-22 11:08] ingvagabund commented on #92189
If I read the `github.com/prometheus/client_go/prometheus` code correctly, after extending the labels with the profiles, i.e.:
[code]

[scheduler_latency.go](https://github.com/kubernetes/perf-tests/blob/f3cf096d437805dd51e27b406f32f1af2e42307d/clusterloader2/pkg/measurement/common/scheduler_latency.go#L176-L180) will still accept the histogram. Though, you will not be able to distinguish extensio

[2020-06-22 11:12] nikhita commented on #89125
/remove-lifecycle stale

[2020-06-22 11:15] irozzo-1A opened #92374 "Add URL support in APIService"
**What would you like to be added**:

The [aggregation layer](https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/apiserver-aggregation/) allows to extend the KAS with additional APIs through APIService resources. Currently external extensions API servers can only be referenced through [ServiceReferences](https://github.com/kubernetes/kubernetes/blob/5e0bd8a44c129f513b42a6b86799ef9

[2020-06-22 11:20] irozzo-1A commented on #92374
/sig cloud-provider

[2020-06-22 11:20] wojtek-t commented on #91236
@aojea https://github.com/kubernetes/kubernetes/pull/92375 is to fix the flakes I mentioned above;
all other flakes seem to be kind-oriented to me (which I'm not super familiar with).

[2020-06-22 11:23] irozzo-1A commented on #92374
/assign @cheftako

[2020-06-22 11:25] irozzo-1A commented on #92374
/cc @caesarxuchao @deads2k

[2020-06-22 11:42] manojchandrabss commented on #91087
@nikhita Thanks for your response, I've posted this is stack overflow and kubernetes discussion forums

[2020-06-22 12:04] gavrilfb commented on #37471
The original issue mentions "Ubuntu" as the OS, how the hell did it derail into "Windows" issue?
People, try to read the context and create another issue if your systems are not similar enough, please.

[2020-06-22 12:17] nicolacdnll opened #92377 "Terminate Guaranteed pods without changing their cgroup cpuset"
**What would you like to be added**:

I would like that pods spun with a Guaranteed QoS class stay in this QoS class for their entire lifecycle, including when they are terminating. Or, at least, I would like to have a mechanism to force this. Currently, this is not the case and, right before terminating a pod, Kubernetes ~~changes the QoS class from Guaranteed to Burstable (in my tests)~~ resets

[2020-06-22 12:21] yqwang-ms commented on #86373
/remove-lifecycle stale

[2020-06-22 12:22] rikatz commented on #92284
@vsxen but what you've posted is (IMO) a little bit different from this issue, is like using Events as AuditEvents right?

If so, it seems that the KEP that you've posted is more related to Events scalability and Events v1 API than something related to Auditing objects Events (if I'm wrong, can you please point me to the right issue?)

I don't know if there's some issue about posting audit into Ev

[2020-06-22 12:25] vboulineau commented on #68522
@dashpole I understand that external replacements are the way to go. It works well for Linux as we always have the possibility for a container to have similar level of host access than the Kubelet.

However, I believe that's not an option on Windows. AFAIK, anything running as a container (and until privileged containers are supported on Windows) cannot provide the same metrics than the Kubelet (c

[2020-06-22 12:33] bvivi57 commented on #90130
Sorry, I don't know exactly what the origine of my problem was. I simply recreated my cluster using a new configuration file with kubeadm.

This is the latest version of my file.

[code]

[2020-06-22 12:42] rikatz commented on #92284
@928234269 actually who provides events are the Controllers of that sort of object. I don't know if there's some sort of reconciliation in Service Objects other than allocating a NodePort (when the svc type is of NodePort) or an IP Address for LoadBalancer (and this is made by the cloud controller manager, outside Kubernetes code, so it's each cloud provider call to send events or not).

I took a

[2020-06-22 12:43] #92284 closed

[2020-06-22 12:44] liuxu623 opened #92378 "Pod status ready condition is incorrect"
**What happened**:
- kubelet pod status cache ready condition is `true` and node system hangs
- controller-manager update pod status ready condition to `false` because node `NotReady`
- node system recovery and kubelet update node status to `Ready`
- but kubelet doesn't update pod status ready condition to `true`, because cache is `true`

**What you expected to happen**:
kubelet update pod status

[2020-06-22 12:47] zgfh opened #92380 "kubeadm:need a way to config the memory of coredns"
**What would you like to be added**:
in my cluster ,coredns have be oomkilled many times
k8s: 1.15.4
pod: 1000
node: 10

**Why is this needed**:
for now, I change the memory limit by `kubectl -n kube-system  edit deployments coredns`
but if there is a way to change coredns memory, it will be good for me to install a new cluseter

and i find there is a env dns_memory_limit :https://github.com/kuber

[2020-06-22 12:52] liuxu623 commented on #92378
/sig node

[2020-06-22 13:12] liggitt commented on #92307
structural schemas limit what can be set inside anyOf: disallowed fields are `description`, `type`, `default`, `additionalProperties`, `nullable`. Validation fields like `pattern` can be set inside anyOf. See https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/#specifying-a-structural-schema

If an example of valid `anyOf` use inside a structural schema

[2020-06-22 13:30] m1o1 opened #92382 "kubectl config current-context is slow"
**What would you like to be added**:
If possible, it would be great to have `kubectl config current-context` performance be improved.

**Why is this needed**:
I sometimes do commands thinking my context is one thing, but end up modifying a cluster I didn't intend to. To help avoid this, I changed my shell prompt to print out my kubectl context. But since the command is slow, every command I run in

[2020-06-22 13:34] ecourreges-orange opened #92383 "imagePullPolicy does not default to Always for :latest images with ephemeral containers"
**What happened**:
`kubectl alpha debug` reused my previous `:latest` image that is not pullable anymore.
**What you expected to happen**:
`kubectl alpha debug` to always pull the latest `:latest` image.
As per documentation [here](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#ephemeralcontainer-v1-core), excerpt:
[code]
**How to reproduce it (as minimally and precisely as p

[2020-06-22 13:35] VigneshSP94 commented on #92378
I just did a quick test -

#create a pod
[code]

#stop kubelet
`[root@localhost .kube]# systemctl stop kubelet`

#check the node status
[code]

#check the pod status after node goes to NotReady state
[code]

#start kubelet
[root@localhost .kube]# systemctl start kubelet

#check the node status, wait for it to become ready.
[code]

#now the pod status goes to True again, I am unable to replicate th

[2020-06-22 13:41] wawa0210 commented on #92383
/sig node

/assign

[2020-06-22 13:53] ecourreges-orange commented on #92383
/sig CLI

[2020-06-22 13:59] liggitt commented on #92159
The fixups I see in the linked example seem to be mostly around types and optionality, not about specific field name casing. Issues for bugs in the openapi spec are certainly welcome (incorrect return types, incorrectly indicated optionality, etc), but I don't anticipate changing the way field names are handled.

/close

[2020-06-22 13:59] #92159 closed

[2020-06-22 14:01] #85818 closed

[2020-06-22 14:02] brianpursley opened #92384 "kubeadm init should not set --allow-privileges=true in the default generated kube-apiserver.yaml manifest"
**What would you like to be added**:
When initializing a cluster using kubeadm, don't set `--allow-privileged=true` in the generated kube-apiserver.yaml

**Why is this needed**:
According to the documentation, [the default value for `--allow-privileged` flag of apiserver is false](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-apiserver/).

But when you use kubeadm to initi

[2020-06-22 14:03] brianpursley commented on #92384
/sig cluster-lifecycle
/area kubeadm

[2020-06-22 14:06] rangapv commented on #33766
I did a kubectl apply -f ./web20service.yaml
However when I add a --force flag  as mentioned by @sivaprakash123 ; it seems to work, I don't know if that is advisable to do .
Regards
Ranga

[2020-06-22 14:13] alculquicondor commented on #89036
/remove-lifecycle stale

cc @adtac

[2020-06-22 14:13] liuxu623 commented on #92378
@VigneshSP94 I think maybe kubelet loss pod update event, I'm tyring reproduce this.

[2020-06-22 14:15] YuLimin commented on #54542
check the status of getenforce & sestatus, and

swapoff -a

setenforce 0 to Permissive

then retry it.

[2020-06-22 14:16] alculquicondor commented on #88614
@vincent-pli do you still need this?

[2020-06-22 14:23] adtac commented on #89036
/assign

[2020-06-22 14:24] alculquicondor commented on #92170
/remove-kind bug
/kind feature

Changing scoring is not so bad as long as it only affects workloads which use a specific API (such as this one).

But @Huang-Wei's suggestion (using a `NoSchedule` toleration as well) sounds like a good way for users to explicitly say if they are ok with their workloads being scheduled in a node where they will be eventually evicted.

In that case, we just update th

[2020-06-22 14:28] YanzhaoLi commented on #78494
Why do we need a cache here, why not just use a new client each time? Are there any drawbacks?

[2020-06-22 14:31] alculquicondor commented on #92189
Correct

If we leave the perf code as is, they will be aggregated together. Do you think we should distinguish?
This describes our options:

[2020-06-22 14:34] alculquicondor commented on #86373
cc @adtac

[2020-06-22 14:46] brianpursley commented on #92384
Closing this issue to move it to the k/kubeadm repo issue list.

New issue is https://github.com/kubernetes/kubeadm/issues/2190

[2020-06-22 14:46] #92384 closed

[2020-06-22 14:50] ingvagabund commented on #92189
I don't think that's to be discussed in this PR (`Add profile label to existing scheduling metrics`).
Though, aggregation of the attempts assumes you will observe even the failed attempts. Is there a specific case where those are use full? Though, I am not opposed to that. In which case the `result` label is needed.

[2020-06-22 14:51] ingvagabund commented on #92189
(4) keep the metric as is and just add the profile label

[2020-06-22 14:54] tejaswiniVadlamudi commented on #68522
I'm trying to understand the changes, does k8s plan to remove CAdviosor metrics from kubelet?
I can deploy a CAdvisor myself as a daemonSet but do I get disk or PVC metrics which I get from kubelet?
What we have today and what we are going to achieve later seems skeptical for me. Could anyone help me to understand?

[2020-06-22 14:57] BenTheElder commented on #91236
We did not adjust the CPU on all jobs yet, pending how to manage that on prow ...

I do see just a few other flakes at the bottom of the triage dashboard that look like timeouts instead.

[2020-06-22 14:57] xwu2git commented on #92358
BTW, adding --docker-root /mnt/storage to kubelet does not help.

[2020-06-22 15:04] ingvagabund commented on #92189
My interpretation of `e2eSchedulingLatency` is the time spend on successfully scheduling a pod plus time spent on evaluation the bind operation (no matter if bind operation succeeds or not). So we know what's the worst/average/min time of a single completed scheduling cycle. If the scheduling fails in the middle (e.g. due to score/filter error), we don't care much unless the errors happens too fre

[2020-06-22 15:17] hasheddan commented on #91292
@MHBauer @vpickard Seeing some pretty regular timeout here now, any insight?

[2020-06-22 15:21] jlacoline commented on #92373
/sig auth

[2020-06-22 15:21] wawa0210 commented on #92383
From the code

https://github.com/kubernetes/kubernetes/blob/8815a1da595ff9d2d381559ef43fe989332d9cf9/staging/src/k8s.io/kubectl/pkg/cmd/debug/debug.go#L126

The default value of the image pull is `PullIfNotPresent`. Perhaps it is better to set the image pull strategy according to the properties of the image. I will submit a pr later, try

[2020-06-22 15:22] alculquicondor commented on #92189
Recording all latencies is important to understand and estimate the throughput of the scheduler in a running cluster.

If you only check successful attempts and you have a significant amount of unschedulable pods, the latency reported by the metric is not representative.

[2020-06-22 15:28] lavalamp commented on #33766
"--force" is very poorly named: it deletes and recreates the object, which
for service might lose an external LB IP address.

But it's very difficult to say what went wrong without the original object
(including last applied annotation) and the manifest you attempted to
apply. Did you try to change the service type?

On Mon, Jun 22, 2020 at 7:07 AM rangapv <notifications@github.com> wrote:

[2020-06-22 15:34] hasheddan commented on #91548
@BenTheElder any updates here? These jobs have seen quite a few flakes recently

[2020-06-22 15:35] soltysh commented on #90066
During the aforementioned sig-cli we agree that for now we'll continue with hiding those fields from `kubectl edit` as implemented in https://github.com/kubernetes/kubernetes/pull/91946 with remarks from Daniel addressed. For other commands we will not be doing anything, yet.

[2020-06-22 15:46] hasheddan commented on #92360
/assign

[2020-06-22 15:46] rangapv commented on #33766
Yes , I did change the service type ... is it forbidden ...
Regards
Ranga

[2020-06-22 15:56] lavalamp commented on #33766
No, but you have to unset a field the system set for you. Mengqi explained
the situation earlier in the thread.

This is likely to remain a friction point until we implement some form of
union. Which is on the list, but won't make the next release.

On Mon, Jun 22, 2020, 8:47 AM rangapv <notifications@github.com> wrote:

[2020-06-22 15:56] cmluciano commented on #91090
/remove-triage unresolved

[2020-06-22 15:59] adamhjk commented on #92159
@liggitt thank you so much for the consideration, thoughtful feedback, and your time.

[2020-06-22 16:01] #92380 closed

[2020-06-22 16:02] rangapv commented on #33766
Will do! so basically follow Mengqi solution for now....
which is ..

use kubectl edit to remove type: LoadBalancer, loadBalancerSourceRanges and spec.ports[0].nodePort. It should work.
Or you can do kubectl get-modify-kubectl replace.

Regards
Ranga

[2020-06-22 16:02] hasheddan commented on #92360
Seeing `k8s.io/kubernetes/cmd/kubeadm/test/cmd.TestCmdInitConfig/can_load_current_component_config` spiking significantly (https://testgrid.k8s.io/sig-release-master-blocking#integration-master&&graph-metrics=test-duration-minutes)

[2020-06-22 16:04] JocelynBerrendonner commented on #79359
@lippertmarkus : Two fixes were merged to the master branch a couple of weeks ago.
kubernetes/kubernetes#91886
kubernetes/kubernetes#91706

AFAICT there is no kubernetes releases yet that include these fixes, but I am expecting the next v1.19.x to include these.

[2020-06-22 16:05] JocelynBerrendonner commented on #79359
@Keith-Mange and @sbangari, FYI.

[2020-06-22 16:07] mike-stewart commented on #63214
/remove-lifecycle stale

[2020-06-22 16:08] immuzz commented on #70189
@marosset yes it is expected be part of August Windows release

[2020-06-22 16:09] hasheddan opened #92386 "[Flaky Test] conformance-ga-only (ci-kubernetes-conformance-kind-ga-only)"
**Which jobs are flaking**:

`[Flaky Test] conformance-ga-only (ci-kubernetes-conformance-kind-ga-only)`

**Which test(s) are flaking**:

`[sig-network] DNS should provide DNS for services [Conformance]`
`[k8s.io] Container Lifecycle Hook when create a pod with lifecycle hook should execute prestop exec hook properly [NodeConformance] [Conformance]`
`[sig-apps] Deployment deployment should delete

[2020-06-22 16:44] tedyu commented on #92368
Do you have a test which shows the problem ?

[2020-06-22 16:46] yuga711 commented on #86281
I think [the PR](https://github.com/kubernetes/kubernetes/pull/92015) has not been merged into 1.18 yet?

[2020-06-22 16:47] BenTheElder commented on #92386
Is this really priority critical urgent for two flaked runs?
/sig architecture
/remove-sig testing

[2020-06-22 16:48] Huang-Wei commented on #88614
@vincent-pli Once the PostFilter extension point is out, users can choose to implement their victims deletion logic - either deleting them directly or update and then delete.

[2020-06-22 16:49] BenTheElder commented on #92361
/remove-sig testing
Unless we expect some broad testing change (like reconfiguring go test) this isn't SIG testing.
This is SIG storage, node, and cluster lifecycle

[2020-06-22 16:50] BenTheElder commented on #92360
/remove-sig testing
/sig cluster-lifecyle

[2020-06-22 16:50] hasheddan commented on #92386
@BenTheElder we can likely bump it down in priority. However, it has been flaking somewhat regularly (every ~8 runs or so) and given that it is a `master-blocking` job I would like to address it sooner rather than later.

/priority important-soon

[2020-06-22 16:51] hasheddan commented on #92386
/remove-priority critical-urgent

[2020-06-22 16:51] BenTheElder commented on #92360
SIG testing does not own kubeadm
SIG testing owns test tooling, frameworks, CI infra, etc.

[2020-06-22 16:51] liggitt commented on #92361
/sig node
/sig cluster-lifecycle
/sig storage

tagged the right sigs, though per-package issues are far more likely to drive getting this fixed

[2020-06-22 16:52] BenTheElder commented on #92360
/sig cluster-lifecyle

[2020-06-22 16:53] BenTheElder commented on #92360
/sig cluster-lifecycle

[2020-06-22 16:54] BenTheElder commented on #92306
/remove-sig testing

[2020-06-22 16:54] tstraley commented on #92242
@saschagrunert @justaugustus - Just checking in to see if you have any updates on this bug or an ETA on the formal fix? Thanks in advance.

[2020-06-22 16:56] andfom83 commented on #20352
/reopen

[2020-06-22 16:58] BenTheElder commented on #91075
Integration tests are also expected to run on developer machines...
This test sounds overly expensive?

[2020-06-22 16:59] BenTheElder commented on #91195
/remove-sig testing
/close

[2020-06-22 17:00] #91195 closed

[2020-06-22 17:00] BenTheElder commented on #91195
Dashboards are green.
Wasn't SIG testing

[2020-06-22 17:01] BenTheElder commented on #88752
/remove-sig testing
SIG testing owns the frameworks, CI, etc. SIG autoscaling is responsible for their tests.

[2020-06-22 17:03] BenTheElder commented on #88742
Not surprisngly 2.X isn't compatible with 0.X

A new enough bazel will actually automatically respect .bazelversion though, behaving like bazelisk.

You can either upgrade, use bazelisk, or use this version.
/close

[2020-06-22 17:04] #88742 closed

[2020-06-22 17:05] BenTheElder commented on #89103
/priority backlog
Consider a design for test-infra and filing there.

[2020-06-22 17:06] BenTheElder commented on #89431
/sig node
/remove sig-testing
SIG testing owns the frameworks, CI etc. SIG node owns their tests.

[2020-06-22 17:07] BenTheElder commented on #90651
/sig apimachinery
/remove-sig testing
SIG testing owns the CI, frameworks, guidance etc. SIG apimachinery owns their tests.

[2020-06-22 17:07] BenTheElder commented on #90651
/sig api-machinery

[2020-06-22 17:08] BenTheElder commented on #90651
@kubernetes/sig-api-machinery-bugs

[2020-06-22 17:10] BenTheElder commented on #90686
/remove-sig testing
SIG testing doesn't own cluster API or the scheduling tests.

[2020-06-22 17:10] BenTheElder commented on #90761
/remove-sig testing
SIG testing does not own kinder.

[2020-06-22 17:11] BenTheElder commented on #90712
/area conformance

[2020-06-22 17:12] BenTheElder commented on #92253
/lifecycle active

[2020-06-22 17:12] BenTheElder commented on #92319
/lifecycle active
/remove-help

[2020-06-22 17:12] BenTheElder commented on #92317
/lifecycle active

[2020-06-22 17:13] BenTheElder commented on #91860
/remove-sig testing

[2020-06-22 17:14] BenTheElder commented on #91860
/sig cluster-lifecycle

[2020-06-22 17:15] BenTheElder commented on #91739
Conformance tests may never skip. That would defeat the purpose.

[2020-06-22 17:18] BenTheElder commented on #91739
This is maybe
/sig cloud-provider
The tests are WAI, this cluster is not passing.
/remove-sig testing
/remove-sig scheduling

[2020-06-22 17:19] BenTheElder commented on #90955
/sig scalability
/remove-sig testing

[2020-06-22 17:20] hasheddan commented on #91739
@BenTheElder Openstack team is discussing in Slack :) Their job config is outside of Kubernetes org, but I'll make sure to xref any PR's here.

[2020-06-22 17:22] shivrajjadhav733 commented on #91880
@Alien2150 @bridgetkromhout Well, I did below things.
I upgraded springboot version from 2.1 to 2.3. With that I started seeing default endpoints like /actuator/health/readiness and /actuator/health/liveness
I see both are those are UP.

However, to suffice need of the two scenarios:
1. Liveness probe should not include backend setup checks like DB. Only want to restart when app is unhealthy.
2. R

[2020-06-22 17:29] detiber commented on #90686
I believe this has already been resolved thanks to the work of @justinsb
/close

[2020-06-22 17:30] #90686 closed

[2020-06-22 17:36] neolit123 commented on #90761
looks like the most prominent recent flakes are caused by the inability to prepare the node image or upgrade all nodes in less than 10 minutes.

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-kinder-upgrade-1-18-master/1275041617769664515/artifacts/task-01-add-kubernetes-versions-log.txt

https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kub

[2020-06-22 17:45] nikhita commented on #90931
/cc @ykakarap

[2020-06-22 17:48] lavalamp commented on #20352
That's not a neutral, authoritative standard. I'd want something like: https://tools.ietf.org/html/rfc6901

Also, use `jq` :)

[2020-06-22 17:49] patrick0057 commented on #22650
Hi, just checking back in.  Can we get an update on this issue by any chance?

[2020-06-22 17:53] theonlijuan commented on #70082
3.4.3 same errors.

Beginning to occur hourly now. Seems to be continuously restarting kube-controller-manager and kube-scheduler.

[2020-06-22 17:59] zhan849 commented on #88378
/remove-lifecycle rotten

[2020-06-22 18:02] apelisse commented on #90931
@lavalamp Noted, I'll make sure this is in the agenda for the next sig-cli meeting.

[2020-06-22 18:09] Alien2150 commented on #91880
@shivrajjadhav733 why did you include api in the probe? The basePath is not setting in your application.yml as far as i can see. So it should be just /actuator/health/liveness.

[2020-06-22 18:11] BenTheElder commented on #87876
/sig network
@danwinship SIG testing owns frameworks, CI infra, etc. We don't own testing CNIs
If SIG Network doesn't own this issue, I'd say this isn't owned upstream and should be closed.

[2020-06-22 18:12] BenTheElder commented on #87876
Arm64 compatibility of various vendor tools doesn't seem like something we should be tracking upstream, tentatively.
The vendors should handle this.

[2020-06-22 18:12] BenTheElder commented on #87876
/remove-sig testing
/remove-sig network
(sorry I meant to settle on removing sig-testing)

[2020-06-22 18:13] koehn commented on #70082
I doubt this is your issue, but for me this turned out to be related to an increase in memory consumption for the k8s master nodes. When I switched to a VM with 8GB of RAM instead of 4GB, all my problems went away and everything worked perfectly.

Again, probably not your issue, but just in case, I had to share.

[2020-06-22 18:14] BenTheElder commented on #88190
@caesarxuchao are you still seeing this?

[2020-06-22 18:15] BenTheElder commented on #87807
This one _is_ SIG Testing :upside_down_face:
Staticcheck is being updated and the typechecker tool in-tree is being rewritten. #92253

[2020-06-22 18:17] AndiLi99 commented on #73625
/assign AndiLi99

[2020-06-22 18:18] BenTheElder commented on #86295
If SIG Testing does own this, then as a chair I am -1 until @kubernetes/ci-signal @kubernetes/sig-release is monitoring actionable signal to ensure release validty across all releases.
I think SIG release nominally owns this, with some input from e.g. SIG Node.
/sig node
/sig release
CPU builds upstream is coming up in SIG Architecture at the next meeting hopefully, though again I think SIG Releas

[2020-06-22 18:27] BenTheElder commented on #85686
I would prefer that we run this in postsubmit and have the SIG monitor the dashboard.

We can scale up running many more tests better by running them on-merge instead of on every potential commit pre-merge. There's far less to test this way, and much clearer signal. Just building all the code across N presubmits is getting rather expensive.

Doing this in postsubmit doesn't require any input from

[2020-06-22 18:27] xing-yang commented on #73625
Hi @AndiLi99, there's an PR opened for this a while ago: https://github.com/kubernetes/kubernetes/pull/79015.  It needs an update.  Can you help review that one?  Thanks.

[2020-06-22 18:36] alculquicondor commented on #85686
Maybe @adtac could pick this up if it still makes sense

[2020-06-22 18:49] wojtek-t commented on #91236
Actually - almost all failures are effectively timeout. The top one that is
[code]
is actually also a timeout. Didn't look into kind failures, but this may easily be related to iptables issues.

[2020-06-22 18:53] neolit123 commented on #92371
componentstatus is pending deprecation:
https://github.com/kubernetes/enhancements/issues/553

please use etcdctl to check etcd cluster health - e.g.
`etcdctl ... endpoint health ...`

/remove-kind bug
/triage support
/close

[2020-06-22 18:53] #92371 closed

[2020-06-22 18:53] ahg-g opened #92388 "Run Scheduler integration benchmarks as kubemark benchmarks"
We have a number of benchmarks set up as [integration tests](https://github.com/kubernetes/kubernetes/blob/master/test/integration/scheduler_perf/config/performance-config.yaml). Those benchmarks are valuable for development since one can run them locally.

We also have benchmarks running on full (e.g., gce-5000Nodes) and kubemark (e.g., kubemark-5000Nodes) clusters continuously and the results ar

[2020-06-22 18:53] BenTheElder commented on #68026
/remove-sig testing
SIG testing doesn't own code failing lints, we own the linter. :upside_down_face:

[2020-06-22 18:54] adtac commented on #92388
/assign

[2020-06-22 18:56] ahg-g commented on #92388
the code is in the following repo: https://github.com/kubernetes/perf-tests/

[2020-06-22 18:58] BenTheElder commented on #89175
@alejandrox1 @aojea
/sig network

[2020-06-22 19:00] BenTheElder commented on #89292
@alejandrox1  -- potentialy an issue for staging the framework

[2020-06-22 19:01] BenTheElder commented on #85267
/triage duplicate
there are several other issues covering aspects of this topic
/close

[2020-06-22 19:01] #85267 closed

[2020-06-22 19:01] BenTheElder commented on #81804
ping -- scanning for signs of life :alien:

[2020-06-22 19:02] BenTheElder commented on #72630
@neolit123 was this resolved, I seem to remember it was but I wasn't involved there.

[2020-06-22 19:04] BenTheElder commented on #72956
Updated the checklist, rebasing a PR I have open for log-dump.sh

[2020-06-22 19:06] #87288 closed

[2020-06-22 19:08] Huang-Wei commented on #92388
I recalled we used to have those metrics in perf-dash, but maybe it's somehow removed.

[2020-06-22 19:11] spiffxp commented on #89292
We're currently using import-boss to prevent integration tests from importing e2e.

ref: https://github.com/kubernetes/kubernetes/blob/master/test/integration/.import-restrictions

[2020-06-22 19:12] BenTheElder commented on #44772
/remove-sig testing
SIG testing owns the framework, Network should write the test.

[2020-06-22 19:16] damemi opened #92389 "kubectl does not filter correctly with --since-time at fractions of a second"
**What happened**:
When using `--timestamps=true` and `--since-time`, `kubectl logs` does not filter correctly, and logs that appear fractions of a second before the specified `since-time` are still printed. It seems that it is only filtering at a whole second level.

**What you expected to happen**:
`--since-time` should filter at the precise timestamp provided

**How to reproduce it (as minimall

[2020-06-22 19:17] neolit123 commented on #92361
fix for cmd/kubeadm/app/phases/uploadconfig:
https://github.com/kubernetes/kubernetes/pull/92390

[2020-06-22 19:18] ahg-g commented on #92388
The one you are referring to where the integration tests themselves.

I am suggesting we translate some of the integration test benchmarks to kubemark ones, which is a lot more realistic.

[2020-06-22 19:19] neolit123 commented on #72630
yes, it was resolved.
/close

[2020-06-22 19:20] #72630 closed

[2020-06-22 19:24] saschagrunert commented on #92242
Unfortunately not a concrete ETA but we’ll tackle that issue very soon. Probably this week, sorry for the circumstances.

[2020-06-22 19:26] BenTheElder commented on #44248
As long as there is a deprecation period, non-core test systems should move off of them at the earliest opportunity, and I agree that it is on them.

kops does not block the main repo, though [kind](https://github.com/kubernetes-sigs/kind) does and is used now to ensure that clusters can pass conformance without any non-GA features ...
There we get to cheat a bit by mostly using kubeadm defaults,

[2020-06-22 19:29] tpepper commented on #86295
I agree.  "Supported" is a strong word.  In the broadest sense it depends on some subset of the contributor base in SIG(s) deciding that intent, then encoding it in tests, which are running successfully and consistently, which then SIG Release accepts as a release blocking test (eg: as per https://github.com/kubernetes/sig-release/blob/master/release-blocking-jobs.md, which itself doesn't define "

[2020-06-22 19:32] BenTheElder commented on #86206
+1 @spiffxp
I'm inclined to close this in favor of a new issue when a proposal is agreed upon that is more productive than this mechanical substitution
/close

[2020-06-22 19:32] #86206 closed

[2020-06-22 19:40] BenTheElder commented on #91548
In presubmit we blocked some test cases that are being worked on (e.g. conntrack related tests have problems on multiple platforms).
If we need we can remove these from the release signal too, but I hope we'll actually get the issues addressed.
I'm also not sure off the top of my head which jobs are getting experimental increased CPU requests besides presubmit. I'm concerned that the current CI ho

[2020-06-22 19:41] justinsb commented on #44248
Could kubernetes have a mode where we "treat warnings as errors", i.e. make using a deprecated field stop the process from starting?  Then some of the kind / kubeadm / kops etc tests could be run in that mode, and this would also ease the burden for the whole ecosystem (e.g. customers rolling their own deployments).

In general I think we could get more reliable signal via a mechanism like this.

[2020-06-22 19:53] ahg-g commented on #92189
You will be able to break it down result (scheduled, unscheduled and error), so the information is not lost.

[2020-06-22 20:26] coltonstapper commented on #90533
@enj ack, thanks!

[2020-06-22 20:31] bowei commented on #44772
@BenTheElder is there an upgrade framework sig-net can integrate into?

[2020-06-22 20:32] damemi commented on #92389
/cc @soltysh

[2020-06-22 20:33] Huang-Wei commented on #92388
I see the point. Need to check kubemark is using prometheus or golang benchmark metric in the output, and hopefully we can adapt current scheduler perf tests properly without too much burden.

[2020-06-22 20:34] aojea commented on #89175
this is a tricky thing, in my opinion. Some installers use the defaults for configuring the cluster an the host system, then run sunobouy or e2e tests directly, using non-defaults may break things in the ecosystem. Also, this is a conformance test, we should have buy-in from the conformance group.

For coverage, I think that this feature is well covered, it has unit tests for the non-defaults and

[2020-06-22 20:46] rahulchheda opened #92393 "Add validation for unsupported logging flags for component-base"
**What happened**:

This issue is to track validation of unsupported logging flags for component-base.

**What you expected to happen**:
ref: https://github.com/kubernetes/kubernetes/pull/91532#discussion_r443556847
ref: https://github.com/kubernetes/kubernetes/pull/92177#discussion_r442920887
**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

*

[2020-06-22 20:46] rahulchheda commented on #92393
cc: @serathius

[2020-06-22 20:47] rahulchheda commented on #92393
Enclosed in: https://github.com/kubernetes/enhancements/issues/1602

[2020-06-22 20:56] BenTheElder commented on #44772
cluster-lifecycle is running a form of kubeadm upgrade tests with "kinder", I'm not super familiar with what tests they run or the framework.

the kubernetes/kubernetes test framework sig-testing owns has some upgrade stuff but that been more or less (more?) removed from CI due to nobody maintaining the actual cluster functioning... SIG release, cluster lifecycle etc. removed it due to lack of sup

[2020-06-22 21:10] oomichi commented on #81804
Yeah, I think we can close this issue thanks to @MorrisLaw work.

[2020-06-22 21:13] BenTheElder commented on #81804
/close

[2020-06-22 21:13] BenTheElder commented on #81804
thanks all!

[2020-06-22 21:14] #81804 closed

[2020-06-22 21:15] BenTheElder commented on #89175
/area conformance

[2020-06-22 21:21] neolit123 commented on #90761
https://github.com/kubernetes/kubeadm/pull/2193

[2020-06-22 21:22] BenTheElder commented on #92386
1 in 8 runs is a pretty good pass rate for kubernetes :+)

Not-too long ago we bumped the time on this, because it was simply timing out due to conformance tests getting slower / more tests ...

This job doesn't run frequently enough to have many runs since then.https://github.com/kubernetes/test-infra/pull/18010

[2020-06-22 21:28] BenTheElder commented on #92386
will bump the CPU req for this job, looks like etcd timeouts.
also looking forward to https://github.com/etcd-io/etcd/pull/11946 whenever etcd. has a release with it and kubernetes catches up ...

[2020-06-22 21:41] harper1011 opened #92396 "Kubelet does not remove resources from node that are no longer reported by device plugin but rather updates their capacity/allocatable to 0"
**What happened**:

kubelet does not remove resources from node that are no longer reported by device plugin but rather updates their capacity/allocatable to 0
Original issue was reported to https://github.com/intel/sriov-network-device-plugin/issues/245

**What you expected to happen**:
The resources which are no longer reported by device plugin (within a given time period) will be removed from n

[2020-06-22 21:46] Ajitesh13 commented on #7923
Hello, can I take this issue?

[2020-06-22 21:59] liggitt commented on #92374
/remove-sig cloud-provider
/sig api-machinery

[2020-06-22 22:02] #84926 closed

[2020-06-22 22:02] #92225 closed

[2020-06-22 22:02] #92228 closed

[2020-06-22 22:02] #92337 closed

[2020-06-22 22:04] liggitt commented on #92373
This is working as designed. The `use` permission on the `podsecuritypolicies` resource is checked within the namespace where the pod is created. This allows granting a user the ability to create privileged pods in one namespace, but not in another. For more details, see:

The cluster-admin clusterrole grants access to all verbs on all resources. A rolebinding to that clusterrole grants all permis

[2020-06-22 22:04] #92373 closed

[2020-06-22 22:13] jherrera123 commented on #92361
@neolit123 I'm going to open two more issues for the other two packages and work on them

[2020-06-22 22:24] neolit123 commented on #92361
sounds good, in that case please close this one.

[2020-06-22 22:44] jherrera123 opened #92397 "Unit tests in reconciler fail with timeout errors"
What happened:
Running make test fails consistently with timeout errors

panic: test timed out after 2m0s

FAIL	k8s.io/kubernetes/pkg/kubelet/volumemanager/reconciler	120.031s

[out.txt](https://github.com/kubernetes/kubernetes/files/4810133/out.txt)

What you expected to happen:
Unit tests should complete without any errors. If this was a configuration problem (e.g. unsupported go version), then

[2020-06-22 22:44] jherrera123 commented on #92397
I'm going to work on this issue

/assign

[2020-06-22 22:45] jherrera123 opened #92398 "Unit tests in csi package fail with timeout errors"
**What happened**:
Running `make test` fails consistently with timeout errors

`panic: test timed out after 2m0s`

[code]

[out.txt](https://github.com/kubernetes/kubernetes/files/4810133/out.txt)

**What you expected to happen**:
Unit tests should complete without any errors. If this was a configuration problem (e.g. unsupported go version), then I should see a meaningful error rather than just a

[2020-06-22 22:47] jherrera123 commented on #92398
I'm going to work on this issue

/assign
/sig storage

[2020-06-22 22:48] jherrera123 commented on #92361
New issues for reconciler and csi packages:
#92397, #92398

[2020-06-23 00:00] vincent-pli commented on #88614
@alculquicondor @Huang-Wei
Thanks, I still need the feature, does the `PostFilter extension` you mean the `scheduler framework`: https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/?

[2020-06-23 00:11] #85506 closed

[2020-06-23 00:44] Huang-Wei commented on #88614
Yes. In 1.19, we proposed the PostFilter extension point, and the defaultpreemption plugin is being developed. Basically this plugin is an in-tree implementation, but you can implement your own as the alternative.

[2020-06-23 00:52] jherrera123 commented on #92397
/sig storage

[2020-06-23 01:22] BenTheElder commented on #88061
/sig storage
/remove-sig testing

[2020-06-23 01:23] BenTheElder commented on #92319
@RobertKielty what happened with https://github.com/kubernetes/kubernetes/pull/92327 ?

[2020-06-23 01:28] BenTheElder commented on #89788
definitely x-ref https://github.com/kubernetes/test-infra/issues/13994 for the second choice.

this issue is probably best tracked in k/test-infra

https://github.com/kubernetes/kubernetes/pull/90220 seems like a positive step towards implementing this.
at worse you can review PRs after the fact.

@liggitt set up something similar w/ a label for API review

[2020-06-23 01:28] BenTheElder commented on #89431
/remove-sig testing

[2020-06-23 01:30] BenTheElder commented on #66859
pretty sure we settled on privileged being required for conformance is fine, there's no reason local-up cluster couldn't allow this? cc @dims

[2020-06-23 01:36] BenTheElder commented on #88039
/assign @BobyMCbobs @spiffxp
/remove-lifecycle rotten

[2020-06-23 01:38] BenTheElder commented on #84615
Is this done or still active?
It shouldn't both be marked "help wanted" and "lifecycle/active"

[2020-06-23 01:39] hugohyliang commented on #88999
I used Kubeadm to install a Kubernetes 1.81 cluster and I encountered the same problem

[2020-06-23 01:41] dims commented on #66859
Correct @BenTheElder

[2020-06-23 01:42] BenTheElder commented on #66859
/close
please re-open if this is incorrect, but AFAICT this is working as intended, the cluster should be configured to allow the test.

[2020-06-23 01:42] #66859 closed

[2020-06-23 01:52] jherrera123 commented on #92397
Closing. This problem has come up in the past, the solution is to just increase the timeout. I missed this the first time I read the doc.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md#unit-tests

[code]

[2020-06-23 01:52] #92397 closed

[2020-06-23 01:52] jherrera123 commented on #92398
Closing. This problem has come up in the past, the solution is to just increase the timeout. I missed this the first time I read the doc.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md#unit-tests

[code]

[2020-06-23 01:53] #92398 closed

[2020-06-23 01:53] l1b0k commented on #92368
For now i can not reproduct this.
Here is the Pod info.
[code]

And `Terminating` last several hours  until i manually recoverd.

[2020-06-23 01:54] jherrera123 commented on #92361
Closing. This problem has come up in the past, the solution is to just increase the timeout. I missed this the first time I read the doc.

https://github.com/kubernetes/community/blob/master/contributors/devel/sig-testing/testing.md#unit-tests

[code]

[2020-06-23 01:54] #92361 closed

[2020-06-23 01:59] BenTheElder opened #92402 "fix staticcheck failures"
Many of our packages are failing [staticcheck], we should fix all of them. See previously https://github.com/kubernetes/kubernetes/issues/36858 https://github.com/kubernetes/kubernetes/issues/90208 https://github.com/kubernetes/kubernetes/issues/81657

/help

To fix these, take a look at [hack/.staticcheck_failures] for a list of currently failing packages.

You can check a package by removing it

[2020-06-23 02:00] BenTheElder commented on #92402
/good-first-issue

[2020-06-23 02:04] BenTheElder commented on #36858
We do run staticcheck now and we've had various PRs regarding fixing code bugs and removing them from the failures list, but there are still many failing packages ...

I think fixing the failures should be a distinct bug from adding staticcheck to CI (done in https://github.com/kubernetes/kubernetes/pull/81189) and is mostly what has been discussed here after the initial comment.
I've filed a "goo

[2020-06-23 02:04] #36858 closed

[2020-06-23 02:09] BenTheElder commented on #81657
we should fix all of these but this page is not loading so well with so many comments.
moving to a new issue https://github.com/kubernetes/kubernetes/issues/81657
/close

[2020-06-23 02:10] #81657 closed

[2020-06-23 02:10] BenTheElder commented on #90208
it is not, and we've had many issues for this. spoke to dims and de-duping on this new "help wanted" issue https://github.com/kubernetes/kubernetes/issues/92402
/close

[2020-06-23 02:11] #90208 closed

[2020-06-23 02:28] BenTheElder commented on #14460
we would need gofuzz to use an interface instead of a concrete type in their own interface, I think

`fuzz.Interface` is:
[code]
where `fuzz.Continue` is a struct:
[code]
with a collection of methods.

fuzz.Continue could be instead:
[code]

and then we could use a local identical interface. https://play.golang.org/p/JOzEab2izmD

this would require API changes upstream due to callers accessing the

[2020-06-23 02:57] hellogdc commented on #92402
/assign

[2020-06-23 02:59] skilxn-go commented on #92402
/assign @hellogdc

[2020-06-23 03:02] skilxn-go commented on #92402
/unassign @hellogdc

[2020-06-23 03:03] skilxn-go commented on #92402
Sorry, didn't notice this before.

[2020-06-23 04:00] BenTheElder commented on #92402
thanks :-)
yeah, I think people tend to not work on issues that are already assigned, but I don't think anyone one person is going to get PRs in for all of this, there's lots of room for many to work on this :-)

[2020-06-23 04:34] RobertKielty commented on #92319
I redid it here https://github.com/kubernetes/kubernetes/pull/92359

[2020-06-23 04:47] liggitt commented on #91075
on my laptop:

[code]

that doesn't seem awful to me

[2020-06-23 05:00] #92326 closed

[2020-06-23 05:04] justaugustus commented on #92242
@blurpy -- Apologies for the brief response. What I was trying to imply is that those _who are able to move to a more recent version of Kubernetes_ are likely to have better luck with this issue. I was also using that message to inquire if only older versions were affected or newer versions as well.

It is never our intention to impair a user's ability to consume Kubernetes.
In fact, we opted to b

[2020-06-23 05:15] BenTheElder commented on #91075
it doesn't look like this fails often currently.
https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=TestMaxResourceSize

[2020-06-23 05:24] povsister commented on #87615
Hi guys. I think finally I have tracked down this issue. We have the same issue happened last night. But successfully recovered with a modified kubelet.

It's not a Kubernetes bug, it's about golang's standard `net/http` package which `client-go` is using,too.
I believe there is a flaw in `golang.org/x/net/http2/transport.go`

Already have this reported to golang official. Waiting for some discuss

[2020-06-23 05:25] justaugustus commented on #92242
/assign @saschagrunert @justaugustus

[2020-06-23 05:30] BenTheElder commented on #90830
/remove-sig testing

I have no idea what ESIPP is :O

[2020-06-23 06:33] aojea commented on #90830
@MrHohn should we remove the ESSIP tests?

https://github.com/kubernetes/kubernetes/issues/64124

[2020-06-23 06:54] #92319 closed

[2020-06-23 07:11] dghubble commented on #91795
Looks like the cadvisor fix to restore using SMT-disabled systems could be added to kubernetes in https://github.com/kubernetes/kubernetes/pull/91366

[2020-06-23 07:16] joakimr-axis commented on #72956
It sure is pretty close now!

[2020-06-23 07:19] shadowXVll commented on #92242
Thanks guys for you effort. To go to the new version is nice option, but update process itself presumes that it must be performed from minor to minor version, actually that where we are stuck when try to update from 1.13 to 1.14.10 and more till 1.18.

[2020-06-23 07:32] answer1991 opened #92406 "storage transformer plugin envelope enable remote KMS plugin"
**What would you like to be added**:

For now, storage transformer plugin [envelope](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/storage/value/encrypt/envelope/grpc_service.go) can only work with a localhost KMS plugin.
We want to deploy the KMS plugin as a remote service on several SGX node(s) to ensure the memory safety, then storage transformer plugin e

[2020-06-23 07:35] answer1991 commented on #92406
@mikedanese @liggitt

kindly ping, any comments?

[2020-06-23 07:45] BenTheElder commented on #92402
/lifecycle active
I opened a simple one for a package I own, https://github.com/kubernetes/kubernetes/pull/92408
In this case we only use the type in a special compilation mode, so we can just ignore the warning. It's not the best example PR, but it does take care of `pkg/util/coverage`.

[2020-06-23 07:49] #90504 closed

[2020-06-23 07:54] gacalheiros commented on #70179
I am also facing this issue.
Kubernetes: 1.15.6
docker: 18.09.4

[2020-06-23 08:08] pjbgf commented on #53188
@verb I would concur with your suggested implementation, as it would allow cluster admins to have some control over what capabilities can be used within the cluster.

In terms of usage, I think that once that flag is enabled, a cluster admin would need to temporarily assign a less restrictive PSP to the service account that is being used in the pod. At the end of the debugging session, the ephemer

[2020-06-23 08:09] pjbgf commented on #53188
This issue is still relevant.

/remove-lifecycle stale

[2020-06-23 08:31] SataQiu commented on #92389
/assign

[2020-06-23 08:45] apyrgio commented on #89062
Is there something new on this front? If it's resolved, we can safely close this issue. Else, it should remain open.

[2020-06-23 08:51] NahisWayard commented on #71887
/remove-lifecycle stale

[2020-06-23 08:56] guikcd commented on #71887
Exemple temporary fix is to disable logging these kind of messages: https://www.ibm.com/support/pages/recurring-messages-complain-scope-libcontainer-nnnnn-has-no-pids-refusing

[2020-06-23 09:07] ingvagabund commented on #92189
Given https://github.com/kubernetes/kubernetes/pull/92202 merged, it might be useful to update help text of `e2e_scheduling_duration_seconds`. Right now it is `E2e scheduling latency in seconds (scheduling algorithm + binding)` [1] which historically meant `scheduling_algorithm_duration_seconds` + `binding_duration_seconds`. Which is no longer reflected in #92202 given `scheduling_algorithm_durati

[2020-06-23 09:28] daixiang0 opened #92410 "kubelet: log related flags can not work"
**What happened**:

I specify kubelet log file and find it over my config, then i add debug code:
[code]

Seems flags do not parse as expected.

**What you expected to happen**:

Parse flag as expected.

**How to reproduce it (as minimally and precisely as possible)**:
Add following lines and build `kubelet`:
[code]

/sig cli
/sig apps

[2020-06-23 09:28] SataQiu commented on #92317
+1 for this

[2020-06-23 09:33] daixiang0 commented on #92410
/sig/cli

[2020-06-23 09:44] JasonRD commented on #86942
Having the same problem with scheduler predicate extender, like @jianxingzhe describe above, the root cause is inconsistent nominatedPodMap. In one scheduling cycle, pod will be process in the sequence of predicate, preempt, assumed, bind.
My scenario is:

1. In the scheduling cycle A, podA is being scheduling, It is changed by scheduler extender, such as update pod annotations, etc.
2. The Kubern

[2020-06-23 09:54] wojtek-t commented on #91236
After my second deflaking PR, we seem to be in the stage where:
1. kind tests are failing on dozens of different things (probably iptables-issues related)
2. gce tests are failing only on NodePort tests on "Failed to connecto to backend 1" which it would be great if someone else could look into (kube-proxy seemed to be programmed correctly based on logs)

[2020-06-23 09:57] akingscote commented on #85565
Im finding this problem when trying to use a private AKS cluster with internal load balancer. Not sure what you mean by cleaning up.
Hopefully you dont mean:
https://docs.microsoft.com/en-us/azure/load-balancer/configure-load-balancer-outbound-portal#clean-up-resources

[2020-06-23 09:59] ragunathan23 opened #92411 "Kube api server timed out for webhook configuration"
**What happened**:
Kube api server timed out when injecting webhook configuration with following error:

dispatcher.go:181] Failed calling webhook, failing closed sidecar-injector.istio.io: failed calling webhook "sidecar-injector.istio.io": Post https://istiod.istio-system.svc:443/inject?timeout=30s: context deadline exceeded

**What you expected to happen**:
The kube api server webhook request s

[2020-06-23 09:59] xwdreamer commented on #82997
@mikechen66 , what's the difference between vxlan and host-gw
![image](https://user-images.githubusercontent.com/1173919/85390326-42877580-b57b-11ea-849c-76041ff347fd.png)

[2020-06-23 10:08] Abhishek1121-tech opened #92412 "IPv6 NodePort not binding with ipvs"
Hi i am facing a issue on dual stack k8 cluster ipv6 service (Nodeport) not binding on cluster node.
PFA,
![0-02-03-a5775b8afecc4fce4ca2363a9505c500d3ef6da36bc443dc1ad757c33ec33d93_1f805a9b72495d](https://user-images.githubusercontent.com/62426428/85391266-8ff9e780-b567-11ea-8317-cf61752b3c40.jpg)

[2020-06-23 10:08] Abhishek1121-tech commented on #92412
/sig network

[2020-06-23 10:10] ragunathan23 commented on #92411
/sig api-machinery

[2020-06-23 10:15] tyrken commented on #81412
We run a CronJob (https://github.com/kubernetes-sigs/descheduler) and noticed that the "CompletedJobs" it periodically produces are included in the reported metric `kubelet_running_pod_count`.  Ideally they shouldn't...

[2020-06-23 10:34] tavin commented on #81089
I also need to mount a secret file in the home directory of a non-root user, and the file may not have group/world permissions. At least the `awaiting-more-evidence` flag should be removed from this issue?

[2020-06-23 10:50] matias-devoto commented on #88999
i tried changing the cidr of the pods on my init because it was colapsing with other net

[2020-06-23 11:08] xiaopeng-han commented on #92402
good

[2020-06-23 11:45] lechen26 commented on #42649
same as on GKE 1.16.8-gke.15

[2020-06-23 12:08] OpsPita commented on #90079
@sowhatim i feel your pain but in GCP ,
I got this problem also with Google filestore And GKE cluster

I have 2 Clusters , 1 prod - 1 dev

Prod sits on eu-west-2a
Dev sits on eu-west-3a

Google Filestore sits on eu-west-2a.

Meaning Prod cluster is ok and he can mount the volumes to all pods (ReadWriteMany).

But Dev cluster struggle to mount the volumes we reach  timeout .

[code]

[2020-06-23 12:47] WoodProgrammer commented on #68669
some of old kubernetes version that you need to set it without port. I just set metric parameter like that `--metrics-bind-address=0.0.0.0` without port and it works.

Kubernetes version: `v1.11.10`

[2020-06-23 12:54] fl-max opened #92431 "Updating --node-cidr-mask-size value ignored"
**What happened**:
Upgraded from `v1.15.x` to `v1.16.11` and my Worker nodes (5 of the 6) started firing `NetworkUnavailable: RouteController failed to create a route` events.

Controller-Manager is throwing the following error:
```controller_utils.go:254] Error while processing Node Add/Delete: failed to allocate cidr from cluster cidr at idx:0: CIDR allocation failed; there are no remaining CIDR

[2020-06-23 12:56] fl-max commented on #92431
/sig Network

[2020-06-23 13:39] squeed commented on #76338
I would argue that Kubernetes v1.14 so old that this issue should probably be closed. If anyone can reproduce it for a recent version on an open-source control plane, then we can look in to it.

[2020-06-23 13:42] jakepaw commented on #91992
Issue was not K8s related, thank you for addressing some issues it could have been. My F5 load balancer was not working correctly for this setup, I went on to use HAproxy with keepalived on two load balancer servers.

Cluster is running perfectly and as expected now.

[2020-06-23 13:50] alculquicondor commented on #86942
@JasonRD what version are you running?

[2020-06-23 13:53] tedyu opened #92432 "prestop hook execution should respect grace period override"
**What happened**:
Currently in kubeGenericRuntimeManager#killContainer, the grace period override is applied after the execution of prestop hook:
[code]
If the gracePeriodOverride specifies smaller value (compared to pod.DeletionGracePeriodSeconds, e.g.), this means the override is ineffective
because the total duration from request to terminate until the actual shutdown would be longer than what

[2020-06-23 13:54] tedyu commented on #92432
/sig node

[2020-06-23 14:07] tedyu commented on #92432
[pod-del-grace-period-override.txt](https://github.com/kubernetes/kubernetes/files/4819897/pod-del-grace-period-override.txt)
Proposed fix

[2020-06-23 14:23] dElogics commented on #23349
Single container per pod.

[2020-06-23 14:34] liggitt commented on #84922
Once again, we disagree :-)

Merging CLI and config file feature flags makes it difficult to understand and validate a configuration file, especially when feature enablement factors into validation ("field A is required if feature B is enabled, field X may not be set when feature Y is disabled", etc)

[2020-06-23 14:39] jpbetz commented on #89356
`resourceVersion` documentation is being updated as part of https://github.com/kubernetes/kubernetes/pull/91505. Because resource version semantics are quite involved, we are linking to https://kubernetes.io/docs/reference/using-api/api-concepts/#resource-versions.

I agree `Namespace` needs work.

[2020-06-23 14:43] vincent-pli commented on #88614
@Huang-Wei
Glad to hear that, thanks.

[2020-06-23 14:43] #88614 closed

[2020-06-23 14:51] takakawa commented on #66421
same problem with k8s v1.18.3
`
E0623 22:03:40.147960   35377 fsHandler.go:118] failed to collect filesystem stats - rootDiskErr: could not stat "/var/lib/docker/overlay2/ea530e7d335a9f8dcafead409294cf42476eb57d86c7b0b0e34d281a53393032/diff" to get inode usage: stat /var/lib/docker/overlay2/ea530e7d335a9f8dcafead409294cf42476eb57d86c7b0b0e34d281a53393032/diff: no such file or directory, extraDiskE

[2020-06-23 15:10] alculquicondor commented on #83834
/remove-lifecycle stale

cc @adtac for future reference

[2020-06-23 15:16] alculquicondor commented on #84922
What about having the flag take full precedence and overriding the config file configuration (instead of piecewise)? And emitting a `log.Warning` when this happens.

[2020-06-23 15:44] brianpursley commented on #39188
This is a fun one!

I'm going to tag this for api-machinery instead of cli, because it doesn't seem like this really isn't something that will be fixed in the cli.

/remove-sig cli
/remove-area kubectl
/sig api-machinery

It seems there are a few possible approaches that could address this (please add others if you know of any):

### 1. Change the merge key for [Service.Ports](https://github.com/k

[2020-06-23 15:48] liggitt commented on #84922
The most confusing bit is having a config file that isn't honored (needing the full invocation to know whether the fields in the config file will be honored). I don't think piecemill or total override makes that much of a difference in that respect.

[2020-06-23 15:48] erwbgy commented on #39188
For option 1 could a default name be added if it doesn't exist, something like port1, port2 etc ?

[2020-06-23 16:03] rata commented on #92432
@tedyu it is true that the `gracePeriodOverride` pointer is ignored for that. However, I'm not sure when that is used.

If you run `kubectl delete --grace-period 5 pod prestop` for example, it doesn't set `gracePeriodOverride` but it sets `pod.DeletionGracePeriodSeconds`.

To verify, I just added some log lines, here is the diff:
[code]

And just running with a simple pod (I put it at the end), I

[2020-06-23 16:03] robertdavidsmith opened #92436 "CpuManagerPolicy static doesn't work with pods that run to completion on k8s 1.18"
**What happened**:
I built a small cluster with cpuManagerPolicy static.

I submitted a test k8s job with parallelism 80 (80 is more than there are cores on my cluster). The test job just returns a non-zero exit code.

Some pods ended in state Error as expected but others failed with UnexpectedAdmissionError.
[code]

Describing one pod gives more info:

[code]

If you modify the pod to return 0 yo

[2020-06-23 16:12] nirvanagit commented on #91686
Hi, we are facing the same issue, when using Istio. Pilot's heapdump showed the exact behavior as reported by @howardjohn.

[2020-06-23 16:14] howardjohn commented on #91686
I am about 90% sure this is an Istio bug and not a k8s bug. We had various reports about the handler being blocked in Istio which would explain this. I figured this was a k8s issue initially as it was at the root of the flame graph, but I think that was just my own misunderstanding

[2020-06-23 16:17] robertdavidsmith commented on #92436
/sig node

[2020-06-23 16:21] brianpursley commented on #39188
Yes, I think that would be part of option 1.

You still have existing services out there with a single port without a name though. I'm not sure how you can still allow those to be updated.

[2020-06-23 16:34] verb commented on #89306
/remove-lifecycle stale

[2020-06-23 16:46] kwiesmueller commented on #91395
/cc @jennybuckley

[2020-06-23 16:52] saschagrunert commented on #86882
I think this can be closed.
/close

[2020-06-23 16:53] #86882 closed

[2020-06-23 17:04] holmesb commented on #47202
I agree that "**cronjobs**" on kubernetes should have time-zone support because Kubernetes clusters run on Linux which provides this.  Are we rejecting this notion because some party has designs on running Kubernetes or variant on Windows in the distant future?  Pretty weak reason to reject this issue if the case.  Please can we at least add the "triage/unresolved" tag to distinguish this from iss

[2020-06-23 17:11] alculquicondor commented on #84922
Then, alternatives:

1. Go with status-quo from other components: piecewise override (and a warning)
1. Only honor config file, and an error in the case where the flag is used when a file is used. This should force providers to migrate.
1. Do 2, but for 1.20, given the amount of new features we have on v1beta1.

@mtaufen any thoughts?

[2020-06-23 17:13] shivrajjadhav733 commented on #91880
@Alien2150 That was typo from my end while putting it here. Just to note: this issue is resolved and can be marked as closed.

[2020-06-23 17:13] #91880 closed

[2020-06-23 17:27] blurpy commented on #92242
I completely understand, I did not mean to complain about the breakage itself. I was worried that it would be left broken for 1.15 due to it being out of support.

Great news, thank you!

[2020-06-23 17:38] tedyu commented on #92432
In the current sidecar implementation, the sidecar containers are killed following the termination of normal containers.
This may not give sidecar containers enough time to gracefully terminate.

[2020-06-23 18:02] rata commented on #92432
@tedyu not sure I follow, what do you mean with not having enough time to gracefully terminate? Even if it takes more than terminationGracePeriod seconds to kill a pod with sidecar containers, nothing will be interrupted, right? Or am I missing something?

[2020-06-23 18:06] tedyu commented on #92432
The termination of normal containers may exhaust the whole grace period, leading to direct killing of sidecar containers.

[2020-06-23 18:09] dimon222 commented on #45509
Randomly noticed this in newsfeed. Apparently it has somewhat this feature included.
https://thenewstack.io/introducing-cloneset-production-grade-kubernetes-deployment-crd/

[2020-06-23 18:21] Queuecumber commented on #91940
So basically dual-stack currently doesn't work at all on bare metal?

[2020-06-23 18:46] BenTheElder commented on #14460
much more elegant: we can only implement this method in code at test time
I'll file a PR.

[2020-06-23 18:58] BenTheElder commented on #14460
/assign

[2020-06-23 19:38] atomaras commented on #45509
@dimon222 this CloneSet doesn't solve the main use case people are asking for which is deciding at runtime which worker pods to ignore during scale down because they are currently performing some operation that should not be interrupted. These worker pods randomly pick up work from a queue so you can't know before hand which pods are "busy" or not.
There are only 2 ways of solving this:
1) the pre

[2020-06-23 19:54] aramase commented on #92431
@fl-max Changing the `node-cidr-mask-size` is not allowed by design. Please see this thread - https://github.com/kubernetes/kubernetes/issues/90922. This has been marked as a feature request and there is a KEP linked in that issue to support this.

[2020-06-23 19:55] tcz001 commented on #86531
any idea to add a execution rule for init container, once it's complete k8s should ignore the deletion of container

[2020-06-23 20:12] fl-max commented on #92431
@aramase Yea, I had seen that but was hoping it was more to do with having variable-sized CIDRs per node and that `node-cidr-mask-size` wasn't a permanent attribute.

Although we'd occasionally see CIDRNotAvailable errors In `v1.15.1`, the `NetworkUnavailable` taint was never applied and Pods would still schedule. After the upgrade, this is not the case.

Are you aware of any sort of workaround fo

[2020-06-23 20:19] fedebongio commented on #92285
/remove-sig api-machinery
/sig network

[2020-06-23 20:19] fedebongio commented on #92346
/assign @lavalamp
(just for consistency, the PR is approved already)

[2020-06-23 20:20] fedebongio commented on #92352
/cc @wojtek-t @cheftako @jpbetz

[2020-06-23 20:21] fedebongio commented on #92374
/cc @Jefftree

[2020-06-23 20:21] fedebongio commented on #92389
/remove-sig api-machinery

[2020-06-23 20:23] fedebongio commented on #92411
/assign @jennybuckley @cheftako

[2020-06-23 20:30] matthyx commented on #52817
/reopen

[2020-06-23 20:31] matthyx commented on #52817
/remove-lifecycle rotten
/assign @ashleyschuett

[2020-06-23 20:32] luigibk opened #92439 "Add DeleteRule method + broute table to ebtables util"
**What would you like to be added**:

The ebtables utility in  https://github.com/kubernetes/kubernetes/blob/master/pkg/util/ebtables/ebtables.go is missing 3 useful features:

- `DeleteRule` method in its Interface
- `broute` table
- `brouting` chain

**Why is this needed**:

The missing features are useful to allow for:
- rule deletion as there is a way to add (ensure) a rule but not removing it

[2020-06-23 20:47] danwinship commented on #91940
Well, as you said, pods are dual-stack, nodes/hostNetwork pods aren't. This is why it's still an alpha feature.

[2020-06-23 20:52] Queuecumber commented on #91940
I'm not OP. What are the implications of having dual stack pods but not nodes?

[2020-06-23 21:13] tedyu commented on #92432
@rata
Does the above answer your question ?

[2020-06-23 21:22] danwinship commented on #91940
mostly just that hostNetwork pods will be single-stack.

[2020-06-23 22:02] justaugustus commented on #92242
UPDATE: We've chosen https://github.com/kubernetes/release/pull/1375 as the path forward and that PR has merged.

While we (SIG Release) maintain the debian package definitions and rpm specs, the actual packages have to be built by a specific team at Google to be published to the apt/yum repos (which are Google-owned).

I'm coordinating this now and will continue to send updates throughout the wee

[2020-06-23 22:10] luigibk commented on #92439
/sig-network

[2020-06-23 22:40] AndrewSav commented on #67526
/remove-lifecycle stale

[2020-06-23 23:27] BenTheElder commented on #92431
/area kubeadm

[2020-06-23 23:32] BenTheElder commented on #92386
no flakes since the config tweak, but it only runs twice a day. it is running more tests again (new conformance tests)

[2020-06-23 23:33] BenTheElder commented on #92386
we could run it more often if necessary.

[2020-06-24 00:12] neolit123 commented on #92431
the flag value is hardcoded for ipv4 to /24, for ipv6 it can take the value from the pod cidr, which is messy, but ultimately the result of some decisions in core.
https://github.com/kubernetes/kubernetes/blob/master/cmd/kubeadm/app/phases/controlplane/manifests.go#L294

@fl-max i'm ok if you'd like to open the same issue in k/kubeadm, link to https://github.com/kubernetes/kubernetes/issues/90922

[2020-06-24 00:12] #92431 closed

[2020-06-24 00:12] neolit123 commented on #92431
also note it's unlikely we can backport a "fix" for this and a change can only land in the latest kubeadm.

[2020-06-24 00:15] neolit123 commented on #92431
...or even better i will just add an item in the list here:
https://github.com/kubernetes/kubeadm/issues/1612

[2020-06-24 00:40] semoac commented on #52817
1.16.9 here. Same issue.

[2020-06-24 00:55] Nowaker commented on #82440
Not rotten please.

[2020-06-24 01:25] oomichi commented on #80177
I am trying to reduce references of master nodes in those e2e tests as possible to solve this issue.

/assign @oomichi

[2020-06-24 01:30] Queuecumber commented on #91940
I used the trick described at https://github.com/kubernetes/kubernetes/issues/42125 to add the second InternalIP to the nodes manually (`--cloud-provider=external' and using curl to add the IP) and this seems to have resolved IPv6 pod-to-pod connectivity issues I was seeing. I think it may be missing routes without this as @wxdlong described above, I still have no IPv6 connectivity to the internet

[2020-06-24 01:34] RainbowMango commented on #92410
/cc

[2020-06-24 01:41] dims commented on #92402
updating to golang 1.14 yielded a bunch more of staticcheck issues:
https://github.com/kubernetes/kubernetes/pull/92438/files#diff-a96dcfd21feac9b3c56dab4636566c5bR10-R17

[2020-06-24 02:02] Queuecumber opened #92451 "Dual Stack Caveats"
**What would you like to be added**: Better documentation of the caveats for building a dual stack cluster

**Why is this needed**:

Based on the language at https://kubernetes.io/docs/concepts/services-networking/dual-stack/ dual stack sounds like an alpha, but functional, experience. There are a number of caveats to this, and I think in particular the "Known Issues" section needs to be updated.

[2020-06-24 02:03] Queuecumber commented on #92451
/sig network

[2020-06-24 02:16] JasonRD commented on #86942
@alculquicondor we are running version 1.14 on production environment, and have test version 1.17.7, 1.18.2, which also have the problem.

[2020-06-24 02:51] felix0080 commented on #88791
The way I can think of is to intercept from webshell

[2020-06-24 03:04] damemi commented on #92389
@fedebongio sorry if api-machinery wasn't the right sig, but I intentionally tagged them because I think this may be a client issue (not specifically a cli bug) and was hoping to get some input from that side as well to diagnose. Is there a different sig that should be tagged for that?

[2020-06-24 03:49] cscetbon commented on #91395
@tamalsaha hey did you make some progress on that issue. I got the same with operator-sdk

[2020-06-24 04:08] justaugustus commented on #92242
All --
We've published new packages that unbundle the CNI plugins from the kubelet, as well as updated the kubernetes-cni package to 0.8.6. Can a few of you test your installation flows again and report back?

Thanks for your patience as we work through this!

[2020-06-24 04:45] leuvataral commented on #73760
/reopen /remove-lifecycle rotten

[2020-06-24 04:46] leuvataral commented on #73760
/reopen

[2020-06-24 04:46] leuvataral commented on #73760
/remove-lifecycle rotten

[2020-06-24 04:49] lubinszARM commented on #86295
/cc @tinatsou

[2020-06-24 04:50] tinatsou commented on #86295
Got you @lubinszARM

[2020-06-24 05:08] bbhupati commented on #44540
Thanks lot Kaniwei, its worked for me

[2020-06-24 05:16] lubinszARM commented on #86295
@tpepper @BenTheElder @dims
Hi,
What do you think of the word ‘initial support’?
Can I submit a PR into k8s/community to declare initial support arm64 ?
Thanks.

[2020-06-24 05:26] sampadsaha5 commented on #92242
Thank you for the update.
I tried installing the latest version.
`yum install -y kubelet kubeadm kubectl`
It worked absolutely fine.
[code]

[2020-06-24 05:42] gongx commented on #89922
I am very interested in this issue. I read some of the source codes about the replica-set. It looks like during the scaling down,  we are using ActivePodsWithRanks to sort and pick deletion candidates. Does this the right place to check? If it is, maybe we can customize the rank value based on the affinity or anti-affinity to solve it.

[2020-06-24 05:52] phillewis commented on #92242
Thanks for the fix.  Just successfully installed 1.17.3

[2020-06-24 06:03] Huang-Wei commented on #89922
It's pretty challenging to do the ranking in controller-manager side as you have to know the whole cluster's status to do the right decision. That's out of controll-manager's knowledge.

[2020-06-24 06:29] TBBle commented on #80996
Per discussion on https://github.com/kubernetes/cloud-provider-aws/issues/87, this is still a problem in 1.14 and 1.15, and the [relevant code](https://github.com/kubernetes/kubernetes/blob/b67e7d6e2cacb1af3b4f366531166dfe71c2866a/staging/src/k8s.io/legacy-cloud-providers/aws/aws_loadbalancer.go#L530) hasn't changed in master.

I posted more details in https://github.com/kubernetes/cloud-provider-

[2020-06-24 06:44] mrkm4ntr opened #92458 "Pre-assumed volumes are not checked to see if they are actually bound"
I was reading codes around volume binding plugin, I found that pre-assumed volumes are not checked to see if they are actually bound.

For example,
1. Pod A has PVC A and assumes it will be bound to PV A.
2. Pod B also has PVC A and consider it is bound to PV A because it is pre-assumed by Pod A.
3. Scheduler fails to schedule Pod A and revert assumed PVC A.
4. In scheduling cycle of pod B, there

[2020-06-24 06:44] mrkm4ntr commented on #92458
/sig scheduling

[2020-06-24 06:44] mrkm4ntr commented on #92458
@cofyc Is my understanding correct? If so, I'd like to fix this using permit extension point.

[2020-06-24 07:01] cofyc commented on #92458
I guess pod B should not be scheduled as PVC A does not pass this check here until it's fully bound by the PV controller.

[code]

a binding goroutine will be started for pod B too and fails when "Scheduler fails to schedule Pod A and revert assumed PVC A".

[2020-06-24 07:11] barucoh commented on #89922
Personally, one of the requirements to be truly production ready is this.
If the cluster cannot guarantee we have availability across hosts/zones/regions at any given time and only during deployment time, trusting the system becomes really hard.

@gongx In my case, as I wanted to enforce availability across zones, I was forced to have a number of deployments, 1 per AZ with an HPA each. :cry:

[2020-06-24 07:21] mrkm4ntr commented on #92458
I think the PVCs passed to `isPVCFullyBound` are cached PVCs or APIPVCs that assumed in this scheduling cycle (matchedBindings and provisionedClaims below).
https://github.com/kubernetes/kubernetes/blob/b67e7d6e2cacb1af3b4f366531166dfe71c2866a/pkg/controller/volume/scheduling/scheduler_binder.go#L257
So, I think pre-assumed PVCs are not checked.

[2020-06-24 07:24] ciiiii commented on #92285
@fedebongio It's not a network problem, only error in api-server I think.

[2020-06-24 07:28] cofyc commented on #92458
no

- for static binding, we didn't assume PVC (we pre-bind the PV and wait for the PV controller to bind it with the PVC)
- for dynamic binding, we just set the `selected-node` in the PVC annotation

[2020-06-24 07:35] NadamHL opened #92460 "apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}"
My k8s cluster suddenly has the context canceled error

k8s： 1.15.2
etcd Version: 3.3.12
kernel： 4.4.198
centos：7.5.1804

E0624 14:31:52.060269    6964 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context canceled"}
E0624 14:34:58.480620    6964 status.go:71] apiserver received an error that is not an metav1.Status: &errors.errorString{s:"context c

[2020-06-24 07:54] mrkm4ntr commented on #92458
Ah, I see. Assumed but not bound PVC has only annotation, but not `Spec.volumeName`. The PV controller set it.
Thanks!

[2020-06-24 07:54] #92458 closed

[2020-06-24 07:58] cofyc commented on #92458
yes, the scheduler (volume binding) just trigger the binding process

[2020-06-24 08:06] mrkm4ntr commented on #92458
Thank you! I clearly understood.

[2020-06-24 08:09] ashleyschuett commented on #52817
/assign

[2020-06-24 08:18] invidian commented on #88253
/remove-lifecycle stale

[2020-06-24 08:51] shadowXVll commented on #92242
Hi guys, successfully installed 1.14.10, 1.15.10 and 1.16.3.
Seems like it's working, thanks a lot!

[2020-06-24 09:19] mayankshah1607 commented on #91628
Hi @gfelixc . Are you still working on this one?

[2020-06-24 10:07] gfelixc commented on #91628
Hi @mayankshah1607, Yes, I'm still working on it

[2020-06-24 10:31] dims commented on #86295
@lubinsz we don't want to introduce new terminology as we don't have a written description of what it means. sorry. Looks like the steps at this point are as follows:

0) how do we answer the question - Can anyone outside of your engineering org be able to replicate the conformance tests? (do you need a patch to golang or docker/containerd/runc or any local modifications that is not available publ

[2020-06-24 10:36] ragunathan23 commented on #92411
Any help, much appreciated!

[2020-06-24 10:50] liorokman commented on #11986
See https://github.com/kubernetes/enhancements/pull/1592

[2020-06-24 11:07] fscz commented on #89898
/remove-triage unresolved

[2020-06-24 11:08] fscz commented on #89898
/help-wanted

[2020-06-24 11:15] blueabysm commented on #42306
still unsolved in 1.17

[2020-06-24 11:28] StefanSa opened #92463 "Upgrade to v18.4 failed, cannot install both kubelet-1.18.4-1.x86_64 and kubelet-1.18.4-0.x86_64"
**What happened**:
on the master `centos-8` there is the following error message when trying to update the packages.

[code]
We don't see this problem in the nodes `centos-7`
Likewise, we did not see this error in the master `centtos-8` in the last update to v18.3.

**How to reproduce it (as minimally and precisely as possible)**:
yum update / dnf update

**Environment**:
- Kubernetes version (use

[2020-06-24 11:34] StefanSa commented on #92463
/sig Release

[2020-06-24 12:04] tnqn opened #92464 "exec probe timeout failures cannot trigger container restart"
**What happened**:
When using containerd as CRI runtime, a Pod with exec liveness probe cannot be restarted by timeout errors, though the errors were detected and liveness probe events were recorded correctly:
[code]
[code]

The reason is the errors other than `exec.ExitError` are converted into `Unknown` Result with error returned, causing kubelet throws away the result.
https://github.com/kubern

[2020-06-24 12:08] tnqn commented on #92464
Created https://github.com/kubernetes/kubernetes/pull/92465 which may fix this.

[2020-06-24 12:40] tnqn commented on #92464
/sig node

[2020-06-24 12:47] verb commented on #84764
/remove-lifecycle stale

[2020-06-24 12:50] tyrken commented on #81412
Links to PRs trying to fix this:
* https://github.com/kubernetes/kubernetes/pull/85983 (looks stale)
* https://github.com/kubernetes/kubernetes/pull/92187 (hopeful)

[2020-06-24 12:56] jvanz commented on #90293
I'm seeing the same issue. I'm willing to fix it.

[2020-06-24 13:10] Queuecumber commented on #92451
As an update, if I switch the order of the service IP cidrs so that Ipv4 is first (and therefor the default) e.g.:

[code]

Then I can make an IPv6 service by requesting it using the `ipFamily` field e.g.:

[code]

Gives an IPv4 and an IPv6 service:

[code]

It's only when the default service type is IPv6 that I cannot create an IPv4 service by requesting it in the `ipFamily` field, so I think thi

[2020-06-24 13:16] espears1 commented on #28149
@j3ffml Unfortunately in some scenarios it's not easy to ignore this error. For example, if you use kubernetes through the Python client, this error will create an ApiException and halt code execution. You can't always guarantee that this 409 "object has been modified" error will leave your kubernetes environment in the correct state (eg with retries or cleanups), so you can't simple catch that ex

[2020-06-24 13:57] rata commented on #92432
@tedyu oh, I understand now, thanks! My understanding, however, is that it doesn't do that (reading the KEP, not the implementation). If all the time is elapsed, 2 seconds (the `minimumGracePeriodInSeconds` as defined in `kuberuntime/kuberuntime_manager.go`) should be used.

[2020-06-24 13:58] gnufied commented on #92044
@farah no, I am not working on a fix. feel free to open one.

[2020-06-24 14:19] zioalex commented on #81289
/reopen this issue is still present in version 1.17.0 .

[2020-06-24 14:27] tedyu commented on #92432
My comment yesterday was based on the following func
[code]
in #80744 which is called in terminating sidecars.

[2020-06-24 14:32] fl-max commented on #92431
@neolit123 If I understand the code base you linked correctly, the `maskSize` variable is hardcoded as the _default_ value [here](https://github.com/kubernetes/kubernetes/blob/release-1.16/cmd/kubeadm/app/phases/controlplane/manifests.go#L291) but can be overridden using the `node-cidr-mask-size` mask in the extraArgs field for controllerManager [here](https://github.com/kubernetes/kubernetes/blob

[2020-06-24 14:39] Queuecumber commented on #92451
And I was able to confirm that the internet from pods issue was indeed a calico configuration problem.

[2020-06-24 14:39] pslobo commented on #59888
I'm still seeing a similar issue and I'm running 1.16.9 on GKE.

[code]

[2020-06-24 14:42] Joseph-Irving commented on #92432
For some context with regards to the Sidecar KEP, the intended behaviour is for Sidecars and Containers to share the Grace period, with the caveat that if the Containers use up all the grace period the sidecars will still be given the minimum (2 seconds) so that they don't get hard killed.

I used Grace period override as a way of recording the time elapsed by the Container termination so that I c

[2020-06-24 14:44] alculquicondor commented on #86942
I don't have time to work on this, but here are my thoughts.

We call `skipPodUpdate` at 2 points:

1. When the update is received and we try to update our cache.
1. When we just initiated another scheduling cycle. At this point, we know if a pod was assumed or not, but we don't know if binding will succeed. Is there a reason it wouldn't other than apiserver having an unexpected error?

So, in 2,

[2020-06-24 14:45] hasheddan opened #92468 "[Flaky Test] [sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]"
**Which jobs are flaking**:

`skew-cluster-latest-kubectl-stable1-gce (ci-kubernetes-e2e-gce-master-new-gci-kubectl-skew)`

**Which test(s) are flaking**:

`[sig-cli] Kubectl client Kubectl logs should be able to retrieve and filter logs [Conformance]`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#skew-cluster-latest-kubectl-stable1-gce

**Reason for failure**:

[code]

[2020-06-24 14:51] hasheddan opened #92469 "[Flaky Test] gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)"
**Which jobs are flaking**:

`gci-gce-ingress (ci-kubernetes-e2e-gci-gce-ingress)`

**Which test(s) are flaking**:

`diffResources`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-blocking#gci-gce-ingress

**Reason for failure**:

[code]

**Anything else we need to know**:

/cc @kubernetes/ci-signal
/priority important-soon
/milestone v1.19

[2020-06-24 14:54] alculquicondor commented on #91994
@rakeshreddybandi is the PR ready? Even though Code Freeze is July 9th, keep in mind that some reviewers might be out next week for holidays in north america.

[2020-06-24 14:57] hasheddan opened #92470 "[Failing Test] gce-master-scale-performance (ci-kubernetes-e2e-gce-scale-performance)"
**Which jobs are failing**:

`gce-master-scale-performance (ci-kubernetes-e2e-gce-scale-performance)`

**Which test(s) are failing**:

`testing/density/config.yaml`

**Since when has it been failing**:

`06-22-20 12:02 CDT`

**Testgrid link**:

https://testgrid.k8s.io/sig-release-master-informing#gce-master-scale-performance

**Reason for failure**:

[code]

**Anything else we need to know**:
/sig

[2020-06-24 15:00] hasheddan commented on #92470
@kubernetes/sig-scalability-bugs is anyone aware of if any of the changes listed [here](https://github.com/kubernetes/kubernetes/compare/4c8207dc1...9cd906e93?) could have introduced these failures?

[2020-06-24 15:02] ksummersill2 commented on #34583
So I do have a question. If I just put the PVC into the specific availability. zone. Does that allow the other pods on different nodes to use it?

[2020-06-24 15:15] tstraley commented on #92242
Tested that we are able to install our 1.15 versions properly now. Thanks for the fixes 👍

[2020-06-24 15:15] #92242 closed

[2020-06-24 15:28] neolit123 commented on #86295
maybe one day each k8s release would enumerate the list of architectures / OSes that are supported:
- what targets the build-system supports.
- artifacts for which ones are shipped on release.
- which ones are e2e tested either by the k8s project or via federated signal and what is the signal health.
- where is help wanted.

[2020-06-24 15:36] karthikdialpad commented on #61336
This problem still persists. is there any workaround available?

[2020-06-24 15:39] liggitt commented on #91913
nice investigation, thanks!

We should do *something* to improve describe (even if we're also able to improve the tlsCache hits)... constructing 1500 clients to describe 40 pods is egregious, and just figuring out the inputs to determine a tlsCache hit is more expensive than I'd want to pay 1500 times.

I agree it would be good to improve this, though the ability to compare opaque inputs for cache

[2020-06-24 15:41] pigletfly commented on #88523
/remove-lifecycle stale

[2020-06-24 16:03] sarabjeetdhawan commented on #23880
I desperately need this on my MetalLB setup. This is needed for the DNS pod serving on both TCP and UDP port 53.

[2020-06-24 16:03] brianpursley commented on #90931
This PR was merged recently that I think will prevent this:
https://github.com/kubernetes/kubernetes/pull/90225

[2020-06-24 16:05] apelisse commented on #90931
I don't think the two are related. `--force` is now error-ing when used with `--dry-run=server`, but it'll still fail with server-side apply.

[2020-06-24 16:06] brianpursley commented on #90931
You're right... my recall was bad.  I deleted my comment where I thought https://github.com/kubernetes/kubernetes/pull/90225 was this, but it is not.  Sorry about that

[2020-06-24 16:14] adampl commented on #23880
Comments should rather go to the KEP issue: https://github.com/kubernetes/enhancements/issues/1435 or the PR: https://github.com/kubernetes/enhancements/pull/1438

[2020-06-24 16:21] sarabjeetdhawan commented on #23880
Actually, this workaround by creating 2 separate services with "metallb.universe.tf/allow-shared-ip: "true" " annotation works fine. Just tested it:

https://github.com/kubernetes/kubernetes/issues/23880#issuecomment-445879863

[2020-06-24 16:24] fl-max commented on #92431
Follow up... I **may** have found a workaround/fix.

**WARNING: The below steps may have unintended consequences and could leave your cluster in an unhealthy state.**

I found this thread ([63390](https://github.com/kubernetes/kubernetes/issues/63390#issuecomment-475158370)) about changing the `Node.spec`'s PodCIDR. I was able to successfully change the Pod CIDR by doing the following, starting wi

[2020-06-24 16:34] alculquicondor commented on #86942
Actually, annotations are skipped from updates. So this might be related to the race conditions that @Huang-Wei was working on for 1.19

[2020-06-24 16:54] TBBle commented on #92321
Related currently-open issues: #86624, #82595, #81469 and https://github.com/kubernetes/cloud-provider-aws/issues/51.