[2015-08-24 21:03] roberthbailey commented on #13102
To answer your original questions:

1. Setting REGISTER_MASTER_KUBELET to true should be all that you need to do.
1. I left it set to false in the e2e suites because not all of the e2e tests were passing with it set to true (not because the apiserver was crash-looping though).

@dchen1107 and @bgrant0607 mentioned elsewhere that we should register the master node but in an unscheduleable state. Th

[2015-08-24 21:05] #12446 closed

[2015-08-24 21:08] quinton-hoole commented on #12804
Fixed by #12824

[2015-08-24 21:08] yujuhong commented on #13102
One major difference I can think of is that supervisord checks more frequently (10s vs. ~2min by monit). If both kubelet and supervisord want to restart docker, they could fight forever?

[2015-08-24 21:09] nikhiljindal commented on #13083
cc @caesarxuchao

[2015-08-24 21:09] yujuhong commented on #13102
Agreed. We don't want other pods to schedule on the master for now.

[2015-08-24 21:18] roberthbailey commented on #13102
It seems like a not-so-good design to have two parts of our system that are trying to start docker.

[2015-08-24 21:19] liggitt commented on #6846
There were two issues... one was multiple test cases reusing the same port and deferring the close until the end of the function, not the end of the loop... that was fixed in #12162

The other issue was with the fake stream returning an EOF on a Write(), fixed in #13107

[2015-08-24 21:22] thockin commented on #831
@saad-ali another for the queue

[2015-08-24 21:25] erictune commented on #11626
@uruddarraju

Do not bother whitelisting these users:
[code]
I do not believe they are used.  I think all plugins run using the default service account for the kube-system namespace.  I filed https://github.com/kubernetes/kubernetes/issues/13110 to clean these accounts up by the next release.

In order to allow bootstrapping the system, and to allow evolving the system to support [dynamic clusteri

[2015-08-24 21:28] erictune commented on #11626
@uruddarraju Also, what "roles" are you using in keystone?  Thoughts on how to map to specific permissions?

If you have reader and writer roles within a namespace/tenant, I think those mostly map in the obvious way.  Except, maybe readers can create events?  And maybe readers cannot read secrets.

[2015-08-24 21:28] erictune commented on #11763
Yes to union of authorizers.
See comment here https://github.com/kubernetes/kubernetes/issues/11626#issuecomment-134385069

[2015-08-24 21:29] PhilibertDugas opened #13111 "kube-proxy throwing i/o timeout"
Hi,

I've been seeing this alot of these in the kube-proxy logs, not sure how to deal with them:

![selection_182](https://cloud.githubusercontent.com/assets/5460957/9452918/0f97a4c6-4a85-11e5-8f3c-9ccb2ac80459.png)

I'm running kubernetes 1.0.1 on a bare-metal Ubuntu 14.04 installation

I also have a HAProxy sitting in front of the kubernetes cluster doing health check via HTTP.

Noticed many hea

[2015-08-24 21:34] thockin commented on #13073
All signs point to `GCECloud.computeHostTag()`, whose comment starts with "This is kind of hacky, but"

@a-robinson do you have bandwidth for this?

[2015-08-24 21:39] bprashanth opened #13112 "Document max-pods"
Hit irc at least twice:
I have a beefy node, how do i test how many pods i can put on it? there seems to be a hard limit.

Maybe we can append some text about max-pods and limit ranges to our large cluster or production pods docs? (https://github.com/kubernetes/kubernetes/blob/release-1.0/docs/admin/cluster-large.md, http://kubernetes.io/v1.0/docs/user-guide/production-pods.html). Limits already h

[2015-08-24 22:13] a-robinson commented on #13073
Sure, I'll take a look

[2015-08-24 22:39] bprashanth opened #13117 "Etcd integration test data race"
[code]

https://app.shippable.com/builds/55db8d0237ac070c002cc6e4
@wojtek-t

[2015-08-24 22:39] a-robinson commented on #13073
Hi @smakam. Thanks for linking to the tool you used to create your cluster, it's very helpful for getting to the bottom of issues like this!

I see at least three problems keeping this from working for you:

1. The bootstrap tool you used is registering nodes with the fully qualified hostname (k8s-node-1.c.coreostest-1026.internal), rather than just the GCE VM name (k8s-node-1).

2. The GCE cloud

[2015-08-24 22:42] a-robinson commented on #13073
However, after typing that I went to look for a more full guide on how to use it, and saw the bootstrap tool you used linked to in our docs 😩

@erictune, is there any reason not to replace the couple guides in [our mess of CoreOS getting started guides](https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos.md) that relate to GCE with using our normal cluster/kube-

[2015-08-24 22:55] a-robinson commented on #13073
Re issue 1: the cloudprovider code has actually been fixed in #12438 to strip out everything after the first dot, but that was never cherry-picked into release-1.0. I'll propose cherry-picking it and a generalization of the "removing 5 characters" into release-1.0.

[2015-08-24 22:56] #6846 closed

[2015-08-24 22:56] #11961 closed

[2015-08-25 00:09] dalanlan commented on #12526
I have good reasons to believe it could cause something like race condition w/o polling.
OTOH I cannot see why flag `copyData` matters if we take polling into consideration.

[2015-08-25 00:35] dalanlan commented on #12856
To be honest, i dont fancy this myself. Yet my partner insists and i'm just trying to make sure that he hits a dead end :-(

What if the user set `--maximum-dead-containers-per-container` to 0? It's kinda tricky, yet permitted.
/cc @yujuhong

I'm not sure how semantic problems matter, yet i'm fine with that if you insists.
/cc @bgrant0607

[2015-08-25 01:07] caseydavenport opened #13123 "iptables based Kube-proxy should support NodePort"
Creating a new issue since I couldn't find one already, but do close and redirect me if one already exists.

#9210 Replaced the userspace kube-proxy (behind a feature flag for now) but still has a bit to go before feature parity with the userspace proxy.  One missing feature is support for NodePort, which we've suggested can be implemented in iptables using a combined SNAT/DNAT rule which looks so

[2015-08-25 01:09] caseydavenport commented on #13123
@thockin @Symmetric

[2015-08-25 01:26] dalanlan commented on #12703
This feature is coming soon. See kubernetes/kube-ui/issues#5

[2015-08-25 02:31] bgrant0607 commented on #12545
The scheduler shouldn't be where we enforce who's allowed to use what machine. That needs to be pushed down to kubelet.

[2015-08-25 02:34] bgrant0607 commented on #12545
Or potentially admission control -- I'd be fine with that.

Defaulting the node selector is effectively how we implement "dedicated machines" in Borg.

[2015-08-25 02:40] bgrant0607 commented on #9044
Re. nodeName: see #12545.

[2015-08-25 02:53] bgrant0607 commented on #1627
For comparison, a Mesos/Marathon configuration example: http://blog.codeship.com/one-command-to-mesos-with-docker-compose/?utm_source=twitter_edgar&utm_medium=tweet&utm_campaign=Docker

[2015-08-25 03:02] mikedanese commented on #13102
I don't think this is entirely a supervisord issue. That was a red herring. I didn't really explain it clearly in the earlier issue. Here is what is happening:

1. master kubelet starts up with the default cidr specified [here](https://github.com/kubernetes/kubernetes/blob/9f32599beeb6e76bbe9fc38ef3fcfecb8aa843a0/cluster/aws/templates/salt-minion.sh#L29), `10.123.45.1/30`
2. apiserver starts
3. ku

[2015-08-25 03:13] resouer commented on #12526
@thockin That's because I think we can use `Empty_dir` to imitate `volumes-from` within a Pod, instead of redefine a new volume type.

The reason we can not achieve this currently, is that when mounted a `Empty_dir`, the original files in the mount point inside container A will be hided.

But, if we can add a `copyData` flag to container A, and use kubelet copy all the original files in A's mount

[2015-08-25 03:20] gizmonicus opened #13125 "Glusterfs volume type does not attempt to mount all availabe endpoints"
I have a demo cluster with 2 minions and one master. I have set up gluster-server on both minions with a replication factor of 2, meaning that any single node could fail and any pods that mount the gluster volume should be re-scheduled to the healthy node. However, this does not always work. Here is the error message generated by kubelet on my healthy minion:

Aug 24 22:49:43 kube1 kubelet[1279]:

[2015-08-25 03:37] bgrant0607 commented on #3752
Technically, any change here would break all API versions. In practice, I doubt many care that much about the length.

1123 is on the edge, since it would change the validation regexp, which might be duplicated in client-side validation code. I'd be inclined against this, unless there is a compelling reason.

Allowing subdomains is not viable.

[2015-08-25 03:40] bgrant0607 commented on #5472
Inspiration: https://github.com/tcnksm/boot2kubernetes

[2015-08-25 03:41] bgrant0607 commented on #5472
Config is being worked on as part of #12245.

[2015-08-25 03:58] erictune commented on #11477
@arun-gupta  can you go to https://github.com/orgs/kubernetes/teams/kubernetes-collaborators and then ask to join that team?  That will allow us to assign you to the issue.

[2015-08-25 04:01] mikedanese commented on #11477
Likely because of the switch he was unassigned. This is resolved #12110 is merged.

[2015-08-25 04:01] #11477 closed

[2015-08-25 04:14] arun-gupta commented on #11477
thanks @mikedanese, received the invite.

[2015-08-25 04:18] thockin commented on #13123
I'm confused.  NodePorts are in and have worked for a week.  #12764

How are you observing that they don't work?

On Mon, Aug 24, 2015 at 6:09 PM, Casey Davenport <notifications@github.com>
wrote:

[2015-08-25 04:26] bgrant0607 commented on #11775
Please repost your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see message

[2015-08-25 04:26] #11775 closed

[2015-08-25 05:03] dalanlan commented on #12526
I'm sorry but are you sure? I'll bet #12588 is able to use emptyDir to get this work.

[2015-08-25 05:39] davidopp commented on #12545
I don't think the knowledge of who's allowed to use what machine should be in the Kubelet. It certainly has to be somewhere else as well (either in the admission controller or the scheduler), and this seems like the kind of thing our system design should not require to be in two places.

Given that, my point is that you can't allow end-users to set nodeName, because that would allow them to violat

[2015-08-25 05:48] resouer commented on #12526
@dalanlan Nope.

Check the `pod.yaml` I posted at the very beginning:  you always need to explicitly `cp file` to dir, and you can also find #12588 also did that.

That's why I want `volumes-from` style:
[code]
See, no `cp` at all, but B can consume `/file` now.

And in Pod, I expect:
[code]

Again, no `cp`, but tomcat can consume `/myapp.war` in `/home`.

Why no `cp` is important?
1. you cannot d

[2015-08-25 05:52] roberthbailey commented on #13102
How long do you need to stop supervisord to reach a steady state?

As mentioned above, monit was only doing a healthcheck every 2.5 minutes. supervisord is doing a healthcheck every 10s. I bet that the 2.5 minute interval was sufficiently long for this change to not create a cycle when I was originally testing it using monit.

[2015-08-25 06:15] wojtek-t commented on #13117
I'm reverting the change in #13128

[2015-08-25 06:29] pencilcheck opened #13129 "google-fluentd using a lot of memory which got killed by kernel every 2~3 secs"
One of the compute engine instance created by the container clusters has a fluentd that keeps crashing and using over 100% CPU.

Displaying the serial-port log of the node reveals that the process got killed by kernel cause it uses a lot of memory
https://gist.github.com/pencilcheck/4d0700869fdd435e4593

And the reason why it is using a lot of memory is unknown because there is no log when I try t

[2015-08-25 06:30] wojtek-t commented on #13117
The change was reverted.

[2015-08-25 06:43] wojtek-t commented on #13117
BTW - it seems like the problem with non-thread-safe etcd client (not with the cacher itself).
The original problem was described here:
https://github.com/kubernetes/kubernetes/issues/7566

The solution for it is to switch to the new client which is thread-safe:
https://github.com/kubernetes/kubernetes/issues/11962#issuecomment-126202783

[2015-08-25 07:11] marekbiskup commented on #11310
@nikhiljindal , please cofirm that the bash completion file is distributed with k8s binaries:

namely contrib/completions/bash/kubectl

For me it looks like it isn't.

[2015-08-25 07:24] nikhiljindal commented on #11310
cc @eparis

[2015-08-25 07:45] f-higashi commented on #13097
I added detail below.

[code]

basci_auth.csv
[code]
auth_policy.jsonl
[code]

[code]

When I modify auth_policy.jsonl such bellow,  kubectl command is success. but off course alice can access other namespaces.
[code]

in success case, kube-apiserver output bellow

[code]
in fail case, kube-apiserver output only one line

[code]

[2015-08-25 08:18] davidopp commented on #1627
I hope we end up with something as simple...

[2015-08-25 09:50] wb14123 commented on #12964
Any update on this? I cannot use kubernetes in production if this problem is not solved. Or do you have a work around, like define a service with the glusterfs endpoints?

[2015-08-25 10:08] davidopp commented on #6559
SGTM

[2015-08-25 10:08] #6559 closed

[2015-08-25 10:30] jszczepkowski commented on #11748
The feature is done, e2e tests are passing.

[2015-08-25 10:30] #11748 closed

[2015-08-25 10:35] javapapo commented on #9134
+1 indeed it would be nice if it was added.

[2015-08-25 10:46] crigor commented on #8211
I've run into this issue as well. exec fails while the other commands work.

[code]

[2015-08-25 11:31] fgrzadkowski commented on #11984
@eparis @smarterclayton
Would it help if we manually change mount namespace for kubelet using ```mount --make-rshared``` command? I have to admit that this is completely unknown area for me, so it's just shooting in the dark :)

[2015-08-25 12:05] smarterclayton commented on #11984
Maybe?  I haven't tried it.

On Tue, Aug 25, 2015 at 8:32 AM, Filip Grzadkowski <notifications@github.com

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 12:13] cosminilie commented on #8910
@pmorie your are right,the tenant live longer than the container.  As for your second question, yes the containers serve more than one tenant at a time.

Sorry for taking so long to respond.

[2015-08-25 12:20] smarterclayton commented on #12087
Can you link the PRs for this feature to this issue so we can coordinate those with folks?

[2015-08-25 12:30] jszczepkowski commented on #12087
Done

[2015-08-25 13:48] markturansky opened #13136 "Allow NFS to accept a Secret for authentication"
@smarterclayton from internal email discussion:

The original request received was to authenticate with Kerberos.

@kubernetes/rh-storage

[2015-08-25 13:57] liggitt opened #13137 "`createStreams` returns a reset errorStream"
There was a refactor that moved the creation of exec streams into its own function in `kubelet.go#createStreams`. That introduced a bug with this code:
[code]

Previously, the deferred reset would occur after the stream was finished being used, but now that the stream creation occurs in its own function, it renders the stream useless.

cc @ncdc

[2015-08-25 14:01] markturansky commented on #12084
@thockin @smarterclayton where did this land?

Tim argued we should not allow a bound PV to be deleted.  Clayton said we should delete the PVC in a recon loop and I logically walked through what happens if we did.  Alternatively, we can unbind the PVC.

This issue is flagged P1 and is not difficult to fix, so long as we know what to do.

[2015-08-25 14:13] rootfs opened #13138 "Containerize exec"
# Containerized exec

[exec interface](https://github.com/kubernetes/kubernetes/tree/master/pkg/util/exec) invokes executables that are installed on the host. Containerized exec aims to augument the existing exec interface so Kubelet can execute commands that are not only installed on host but also available on containers, so storage plugins can configure runtime environment without depending on t

[2015-08-25 14:15] rootfs commented on #13136
I think this deserves a more generic discussion: how to feed volume plugin mounters more options. There are NFS mount time options (including security type, uid, gid, soft/hard, nfs version, fscache, etc) that we want to pass to the NFS mounter. Similarly, we want to pass options into Glusterfs mounter.

The Kerberos discussion could have implications on minion configuration. Minions have to join

[2015-08-25 14:30] ncdc commented on #13138
@rootfs we already support running commands in containers. As a remote client you can run `kubectl exec`, which ultimately uses the Kubelet to exec the desired command in a container. Is this different from that?

[2015-08-25 14:31] smakam commented on #13073
hi @a-robinson
Thanks for your detailed response.

Is my understanding correct that there is an issue with bootstrap tool as well as with computeHostTag cloudprovider code?

The fix that you pointed out in #12438 - are you proposing that the fix to be put in mainstream gce release? From the above link, I see that the fix is committed? Do I need to update gce?

On the procedure to start the cluster

[2015-08-25 14:35] smarterclayton commented on #12084
So there are two issues to consider.  Why does the admin delete the PV, and
what processes may wish to delete PVs automatically without needing to know
about PVCs?  For the former, if the admin deletes it, does that mean she
expects the PVC to lose access to that disk.  For the latter, if the real
volume is deleted, does the controller loop that manages volume creation
need to indicate that the PV

[2015-08-25 14:40] smarterclayton commented on #12545
To mention, pull #12962 changes the behavior of ordering of deletion (a node will not be deleted as long as we observe pods scheduled to that node, minus the possible race of a nodeName being targeted between the window when delete completes and the node is created).

[2015-08-25 14:47] jjfiguep commented on #12665
Hello @bprashanth, sorry for my late response.

I have had some unexpected events and I could not to deploy the haproxy pod yet, but I have done a quick read and maybe it can help me.
I can´t check it soon but it is good to know that there are a possible solution. From my side we can close this issue and reopen it if I need more help in the future.

Thanks a lot for your help, I am very grateful.

[2015-08-25 14:49] rootfs commented on #13138
@ncdc There is a distinction. `kubectl exec` is cli initiated by apiserver, while `containerized exec` is invoked as function calls `kubelet`. The idea is to use containers to wrap various executables such as `/sbin/mount.nfs`, `rbd`, `iscsiadmin`, and `safe_format_and_mount`, etc.

The implementation of this `containerized exec` will certainly borrow from `kubectl exec`.

Thanks

[2015-08-25 14:54] ncdc commented on #13138
@rootfs ok, that's where I assumed you were headed. Can you give an example of how/where you'd use this? We already have

[code]

so I'm curious what sort of changes are necessary (if any) to support your use cases.

[2015-08-25 15:03] markturansky commented on #12084
If a PV has been deleted and a PVC remains bound to it, any future pod using that PVC will fail.  Currently running pods would already have mounted the volume.

There are 3 errors the user will encounter when running a pod:

1.  Error finding claim (if we cascade delete the PVC after PV delete)
2.  Unbound error (if we unbind the PVC after PV delete)
3.  Missing PV (if we do nothing)

The first tw

[2015-08-25 15:08] rootfs commented on #13138
@ncdc yes, this interface will be heavily and (thus shameless) borrowed.

My understanding is
* when invoking a container to execute a command, `kubelet` doesn't have the PodUID yet.
* the command is expect to return eventually (not long running), so there is timeout mechanism has to be put into place.

[2015-08-25 15:12] ncdc commented on #13138
I'm pretty sure that PodUID isn't required for exec to work.

Note: there's unfortunately no way using the default exec handler (which uses the `docker exec` API) to forcibly kill an exec'd process. I'm not sure how you'd add in a timeout mechanism easily.

[2015-08-25 15:15] timothysc commented on #12467
@gmarek we bypass those steps and run everything raw, so we're unaffected.. for once ;-)

[2015-08-25 15:18] rootfs commented on #13138
from my poor code reading, the container is still expected to be (already) running so kubelet can find it (vs in containerized exec, the container is invoked from images)

the timeout mechanism doesn't have to be a `docker exec` option, one rough approach is to use timeout(1)

`docker exec container timeout 30 some_command`

[2015-08-25 15:32] smarterclayton commented on #12084
I don't think end users will have the authority to view a PV.  So the last
one won't be possible from describe in any system that is imposing real
security on the system.

Does the kubelet today assume that it has access to manipulate PVs (or at
least read them)?

On Tue, Aug 25, 2015 at 12:03 PM, Mark Turansky <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 15:33] smarterclayton commented on #13136
Can we init and join multiple kerberos domains on the host in any way?  For
instance, joining as multiple UIDs in different sessions?

On Tue, Aug 25, 2015 at 11:16 AM, Huamin Chen <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-25 15:37] markturansky commented on #12084
the last error happens when a pod is trying to launch.   The persistent-claim volume plugin returns those 3 errors in order.

So, the user cannot see the PV, but they will get an error at runtime if the PV does not exist.

[2015-08-25 15:39] markturansky commented on #13108
A little clarification:

* Preserve 1.0 API backwards compatibility
  * Add pvc.Spec.VolumeNames[] to internal & v1 types
  * Add pvc.Spec.Singleton to internal & v1 types
  * Remove pvc.Spec.VolumeName from internal
  * Use conversions to translate between v1 and internal types
  * Use internal pvc.spec.VolumeNames[] for binding

I believe the annotation naming convention "rc/$PVC.Name" -> $PV.Na

[2015-08-25 15:41] #10555 closed

[2015-08-25 15:46] rootfs commented on #13136
good point, yes, it is possible configure multiple kerberos realms, still I am not sure how to avoid UID collision if same UIDs exist in different kerbors realms.

[2015-08-25 15:59] derekwaynecarr commented on #3476
I think this is done.  Any issues closing this issue out?

[2015-08-25 16:00] rootfs commented on #13136
This multi domain issue seems already addressed in this [nfsv4 draft](https://tools.ietf.org/html/draft-ietf-nfsv4-multi-domain-fs-reqs-04):

[code]

[2015-08-25 16:16] pmorie commented on #13136
@markturansky What does it mean to 'deliver a keytab to the node' ?

[2015-08-25 16:17] yujuhong commented on #13129
cc @kubernetes/goog-gke

[2015-08-25 16:17] smarterclayton commented on #13136
Secret reference in the volume definition, just like Gluster and Ceph?

On Aug 25, 2015, at 1:16 PM, Paul Morie <notifications@github.com> wrote:

@markturansky <https://github.com/markturansky> What does it mean to
'deliver a keytab to the node' ?

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/13136#issuecomment-134656700>
.

[2015-08-25 16:18] ncdc commented on #13138
Ohhhh are you saying you want to do the equivalent of `docker run`?

[2015-08-25 16:39] markturansky commented on #13136
I prefer injecting a secret into a volume, because that can also work with persistent volumes.  Kubelet can look up the secret and inject it securely into the volume.

That's what I did in this PR:  https://github.com/kubernetes/kubernetes/pull/7150 but that was crudely applied to all volumes.    We can instead make an AuthenticatableVolumePlugin interface and implement as supported by plugins.  A

[2015-08-25 16:41] rootfs commented on #13138
right, should have been more explicit :)

[2015-08-25 16:51] rootfs commented on #13136
Distributing and synchronizing keytab in a large scale environment is scary. I wouldn't be surprised if people prefer some sorts of key management like KDC/AD.

[2015-08-25 16:52] liggitt commented on #6878
I think this was fixed by #9119

[2015-08-25 17:20] smarterclayton opened #13145 "Mark node unschedulable before beginning eviction"
It would be better if we record on the node the unschedulable nature of the node before we begin eviction (to guarantee no overlap).  This may not be necessary if we implement a garbage collector controller for pods assigned to nodes which don't exist.

[2015-08-25 17:21] a-robinson commented on #13073
Your understanding is mostly correct -- the cloudprovider code wasn't actually broken, but it wasn't as lenient as it could be in terms of accepting different node names. The bootstrap tool is applying incorrect tags to the nodes, which the cloudprovider code is unlikely to be lenient enough to handle anytime soon, since it would require much more knowledge of the infrastructure.

Both #12438 and

[2015-08-25 17:26] a-robinson commented on #13073
I've also opened a PR to fix the tag assigned by the bootstrap tool - https://github.com/rimusz/coreos-multi-node-k8s-gce/pull/9

[2015-08-25 17:27] RichieEscarez commented on #12728
Hi @nikhiljindal, I found that you added the script to process these API links so that it opens the HTML preview - #11569, can you please help update the script so that it points to the kubernertes/kubernetes GitHub repo?

Note, for these API files, i see that they dont show in the target folder until tag v1.0.2 (they are not in v1.0.1 as the previous url indicates):
https://github.com/kubernetes/

[2015-08-25 17:32] bgrant0607 commented on #13145
We should not do this. The unschedulable field is for administrative use. Reporting the node as not ready should be sufficient.

cc @gmarek

[2015-08-25 17:35] a-robinson commented on #13129
Hi @pencilcheck, thanks for reporting the issue!

The most likely issue is that your project doesn't have cloud logging enabled. Fluentd tries to write your logs to the Cloud Logging API for your project, but if the API isn't enabled its requests will fail. When its requests fail, it will build up a backlog of logs that it wants to send in memory. It's supposed to start dropping logs before it get

[2015-08-25 17:41] RichieEscarez opened #13149 "Update the link processing script to redirect the html preview links to kubernetes.io"
As part of the file processing (for publishing docs to gh-pages) can you please update the scripts so that it finds and changes the 'HTML preview links' that are used to display the API files from within master (vs showing the html code)?

For links to the API in the files that we publish to kubernetes.io, we want those links to open the version of the API docs what we've published in the site.

I

[2015-08-25 17:42] smarterclayton commented on #13145
He was the one who proposed it :)

NotReady would be the equivalent - it's possible we shouldn't try to evict
a node that is not marked as NotReady.  The situation here was guarding
against scheduling during eviction.  While that's no guarantee (and
NotReady should already be set before we begin eviction), we discussed
adding that check as an extra guard.

On Tue, Aug 25, 2015 at 2:32 PM, Brian Gr

[2015-08-25 17:46] fgrzadkowski commented on #4869
I need a clarification here.

It seems that there is some support for running kubelet in a container by using ```nsenter``` to run mounting commands so that they are visible on the host.
@smarterclayton explained that the problem is that with docker 1.7 containers are run with mount propagation set to PRIVATE. However I don't understand why this results in ```nsenter``` mounter not working any mor

[2015-08-25 17:50] lavalamp commented on #12084
referential-integrity problem to solve - we can't just back-link everything.

Late to the party. But traditionally, this problem is solved via having a
database enforce this. I know NoSQL thingies are all the rage, but if the
data actually references itself, it just may not be appropriate.

On Fri, Jul 31, 2015 at 9:54 AM, Tim Hockin <notifications@github.com>
wrote:

[2015-08-25 18:00] lavalamp commented on #12143
The most obvious (to me) way of implementing these potentially long running operations, is to have an (e.g.) RollingUpdateOperation API type; you'd POST one of these to apiserver, the spec would have relevant parameters (old RC, new RC, etc), and the controller that does the work would update the status so you could watch that to see progress.

That's a lot of work to implement an operation, thoug

[2015-08-25 18:03] lavalamp commented on #12179
This sounds like a good idea. It will be important not to leak these; if
they don't auto-close, then you'll have to find a way to see how many
connections they have, or write code to manually keep counts.

On Mon, Aug 3, 2015 at 5:40 PM, CJ Cullen <notifications@github.com> wrote:

[2015-08-25 18:06] pires commented on #11975
Have you guys tried https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/coreos/coreos_multinode_cluster.md?

[2015-08-25 18:08] pires commented on #11884
AFAIK no one has maintained CloudFormation files in a while and I am looking for them to become deprecated with #9178.

[2015-08-25 18:14] bgrant0607 commented on #13019
@kgrvamsi Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for users to find answers to frequently asked questions and how to address common use cases.

Either some

[2015-08-25 18:14] #13019 closed

[2015-08-25 18:19] smarterclayton commented on #12143
For lightweight operations as long as the status can be used as an atomic
checkpoint by the controller AND your spec can describe the desired state
(as per RCs and replicas), it's enough to use a controller.  For rolling
updates we've said that belongs in a deployment object.

For deletion of RCs we have graceful deletion, where we can potentially
describe the mapping between a graceful request to

[2015-08-25 18:22] lavalamp commented on #12290
Yeah, it's a pain to import our client right now.

We have work in progress to reduce the number of imports needed. We'll also definitely be investigating 1.5's new vendoring system.

We definitely can't do rewriting in our main repo, various downstream consumers have this as a requirement (including red hat and google). (Although if you want to make local clones that rewrite before you import int

[2015-08-25 18:28] pires commented on #11709
That's not an error. `flannel` should be running. Can you please run `ifconfig grep flannel`?

You should see something like:
[code]

[2015-08-25 18:31] pires commented on #9178
After https://github.com/kubernetes/kubernetes/pull/13151 is merged, we're only missing DNS integration and API authentication.

[2015-08-25 18:36] justinsb commented on #11884
I think that is probably right @pires (though @philips may be able to corral someone into taking up the maintenance).  The problem is that there is so much logic in bash & salt that it is a lot of work for CloudFormation templates to keep up.

I am conducting a small experiment to see what happens if we rewrite the bash logic in go.  The hope is that it could then:

1) give a similar "it just work

[2015-08-25 18:42] timothysc opened #13152 "Enumerating options on Load-balanced apiservers."
Over time we've discussed several options regarding how we wish to provide active-active HA on the api-servers.  Currently "we"/Red Hat support this by updating the apiservers to use a common virtual IP(VIP) that is used by both an external load-balancer and is referenced by the kube-proxy and kubelet.

However, in the past we have discussed other options, including leveraging a discovery service.

[2015-08-25 18:48] mamikonyana commented on #11947
Sure, I though admins close issues.

[2015-08-25 18:48] #11947 closed

[2015-08-25 19:09] pires commented on #11884
@justinsb I'm all in for that and I was hoping for the [reworked Kubernetes CLI](https://github.com/kubernetes/kubernetes/issues/5472) to _land_ before jumping into implementing the CoreOS provider for it.

[2015-08-25 19:10] smarterclayton opened #13153 "Client negotiation is too aggressive, makes disconnected operation hard"
Negotiation is only required when the server doesn't support the requested client version.  The requested client version is always known (whether default from code or specified by the user).  We should probably only negotiate in the presence of a failure to access an endpoint that should exist, or during a client action that mimics "establish config to new server".  On high latency connections, th

[2015-08-25 19:16] pires commented on #3525
Having a tool which _anyone_ can extend with their own provisioning solution would be really nice. Looking forward for #5472.

[2015-08-25 19:22] lavalamp commented on #13152
IMO, we already provide most of the mechanisms to accomplish this. apiservers populate a "kubernetes" service's endpoints with their IP addresses. We should leverage all the work we've put into making services work.

The remaining piece, as far as I see it, is to make clients (primarily kubelet & kube-proxy) periodically get and locally store this list; they can then use it on a reboot/restart to

[2015-08-25 19:28] timothysc commented on #13152
@lavalamp The question I always have is: "Should the kubelet and proxy know any details at all, or simply rally through a VIP, or common endpoint?"  if so, why?

[2015-08-25 19:37] lavalamp commented on #13152
Downsides to VIPs etc:
* Requires either more advanced networking, or more services (load balancer). Seems SPOFy.
* We preach services to our users. If we can't use our own services for the things we need to do, then something is wrong. If we can't eat our own dogfood, we need to fix the dogfood, not make a special variety of dogfood that only we are allowed to eat.

[2015-08-25 19:50] lavalamp commented on #12976
(My guess: remove the ```-s, "http://10.1.0.1"```; kubectl should be able to find the apiserver without this.)

[2015-08-25 19:51] lavalamp commented on #4610
I believe the resize e2e test should cover this case? If that's passing, we can probably close this.

[2015-08-25 19:55] davidopp commented on #13152
@mikedanese

[2015-08-25 19:56] lavalamp commented on #13057
I agree the errors need to be abstracted away. Absolutely. My goal is that nothing under pkg/registry should care about the backing storage. StorageInterface should abstract away everything.

[2015-08-25 19:56] davidopp commented on #3525
@mikedanese

[2015-08-25 20:02] smarterclayton commented on #13057
To do that we'll need to change StorageInterface to do more of the things
that genericetcd is doing today.  We should probably clarify what those
parts are (guaranteed update, maybe delete).  Right now, the
StorageInterface is not the most efficient implementation for guaranteed
update of an object stored in a DB row, and it's likely that some of the
flows in genericetcd would be incorrect if a DB

[2015-08-25 20:12] RichieEscarez commented on #13149
@thockin, @nikhiljindal, would either of you be able to help here while krousey is OOO?

[2015-08-25 20:26] RichieEscarez opened #13157 "Some Getting Started topics do not map to the navigation menu"
Ive found that there are some lower-level getting started pages that are not yet mapped to the navigation menu. For navigational purposes (usability), we need to find and ensure all Getting Started topics are mapped to their corresponding parent containers in the nav menu so that their location gets indicated. To do this, the missing topics need to be listed in the nav_v1.0.html file, under their

[2015-08-25 20:28] davidopp commented on #13145
I agree this is not necessary. As @gmarek said when he suggested it:

Let's cross that bridge if we come to it.

[2015-08-25 20:29] smarterclayton commented on #13145
Ok, superseded by garbage collector and existing code.

[2015-08-25 20:29] #13145 closed

[2015-08-25 20:36] bgrant0607 commented on #12090
See also #9044.

[2015-08-25 20:36] bgrant0607 commented on #9044
See also #12090

[2015-08-25 20:50] markturansky commented on #13108
@smarterclayton just had a conversation with @thockin and @saad-ali about this PR.  They would like to know if this PR as suggested has value apart from how it might be used in nominal services.

It was Tim's opinion that solving the hostname issue in nominal services would potentially open a different way of allocating volumes than what this issue describes.   The implementation described in this

[2015-08-25 20:59] goltermann commented on #3185
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 20:59] #3185 closed

[2015-08-25 21:00] goltermann commented on #3422
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:00] #3422 closed

[2015-08-25 21:03] goltermann commented on #4933
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:03] #4933 closed

[2015-08-25 21:05] goltermann commented on #5388
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:05] #5388 closed

[2015-08-25 21:07] smarterclayton commented on #13108
All the use cases I have today for nominal services overlap to some degree
with PVC.  The *identity* that comes with nominal service seems like it
maps to a single volume.  So similar in concept to what you describe above,
but if the pod identity flows down into the pod I think it would be better
for the pvc volume to be parameterized by identity.  I don't have a
concrete case today where I would

[2015-08-25 21:08] goltermann commented on #5816
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:08] #5816 closed

[2015-08-25 21:08] goltermann commented on #6120
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:08] #6120 closed

[2015-08-25 21:09] #6184 closed

[2015-08-25 21:11] goltermann commented on #6311
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:11] #6311 closed

[2015-08-25 21:12] goltermann commented on #7428
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:12] #7428 closed

[2015-08-25 21:14] #7701 closed

[2015-08-25 21:15] #8608 closed

[2015-08-25 21:20] goltermann commented on #8619
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:20] #8619 closed

[2015-08-25 21:22] goltermann commented on #9124
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:22] #9124 closed

[2015-08-25 21:23] goltermann commented on #8995
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:23] #8995 closed

[2015-08-25 21:25] goltermann commented on #9386
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:25] #9386 closed

[2015-08-25 21:26] goltermann commented on #9704
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:26] #9704 closed

[2015-08-25 21:27] #10029 closed

[2015-08-25 21:28] goltermann commented on #10082
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:28] #10082 closed

[2015-08-25 21:28] #10213 closed

[2015-08-25 21:30] goltermann commented on #10486
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:30] #10486 closed

[2015-08-25 21:31] timothysc commented on #13152
@lavalamp so what is your answer then for external clients?  Use NodePort and expose the introspective service?

[2015-08-25 21:32] goltermann commented on #10297
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:32] #10297 closed

[2015-08-25 21:32] goltermann commented on #10441
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:32] #10441 closed

[2015-08-25 21:33] goltermann commented on #10599
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:33] #10599 closed

[2015-08-25 21:34] goltermann commented on #10929
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:34] #10929 closed

[2015-08-25 21:35] uruddarraju commented on #11626
@erictune

I can take up all 3 if they are not immediate, I can try to squeeze in a PR sometime in the next 2 weeks. Is that OK ?

Unfortunately, keystone gives a platform to define roles and how there roles are interpreted (readers/writers) is left to the systems authorizing against keystone. We use 2 roles at ebay (admin and member) and my initial commit is going to grant any user "who is a part

[2015-08-25 21:42] jayunit100 opened #13160 "k8petstore doesn't support non-default namespaces."
Looks like the `nodeport` upgrade broke namespaces in k8petstore.

 #8145 fixes this.  If someone can do a quick review, it also adds a smoke test.

However, I'm creating this as a separate issue (in case #8145 is blocked, I will create an individual PR here for fixing k8petstore-nodeport.sh )

[2015-08-25 21:46] RichieEscarez opened #13162 "URLs that only point to a GitHub directory do not show in the navigation menu on kubernetes.io"
**Problem**

URLs that do not specify the full URL (URLs that point to a directory and exclude the filename README.html), do not display in the navigation menu.

In the GitHub repo, the corresponding REAME.md file automatically opens. On GitHub Pages where Kubernetes.io is hosted, corresponding index.html files get displayed (someone has added in renamed copies of the README files (index.html) to

[2015-08-25 21:48] #11744 closed

[2015-08-25 21:50] #11950 closed

[2015-08-25 21:52] goltermann commented on #12006
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:52] #12006 closed

[2015-08-25 21:52] pnovotnak commented on #12167
bump

[2015-08-25 21:52] goltermann commented on #12073
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:52] #12073 closed

[2015-08-25 21:53] pnovotnak commented on #12179
bump

[2015-08-25 21:53] #12082 closed

[2015-08-25 21:54] goltermann commented on #12132
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:54] #12132 closed

[2015-08-25 21:54] goltermann commented on #12265
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:54] #12265 closed

[2015-08-25 21:55] #12266 closed

[2015-08-25 21:55] thockin commented on #13149
I'm pretty slammed at the moment, but I'll put it into the hopper.  If
someone gets there first, that would be great.

On Tue, Aug 25, 2015 at 1:13 PM, RichieEscarez <notifications@github.com>
wrote:

[2015-08-25 21:56] #12389 closed

[2015-08-25 21:57] goltermann commented on #12400
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 21:57] #12665 closed

[2015-08-25 21:59] #12774 closed

[2015-08-25 22:00] #12780 closed

[2015-08-25 22:01] #12814 closed

[2015-08-25 22:02] #12877 closed

[2015-08-25 22:04] RichieEscarez opened #13163 "The navigation menu for landing pages that contain only a TOC close and reopen on each click"
The navigation menu appears to blink (open and close) because the page gets fully reloaded each time these pages are clicked on/navigated to in the menu.

Example: http://kubernetes.io/v1.0/gs-custom.html
*(after first opening the page, clicking on that topic or its siblings (excluding the GKE link) from in the nav menu, you see that the menu closes and reopens)*

These landing pages include TOC's

[2015-08-25 22:04] #12905 closed

[2015-08-25 22:06] goltermann commented on #12995
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:06] #12995 closed

[2015-08-25 22:08] #12465 closed

[2015-08-25 22:08] goltermann commented on #13064
We’re going through support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to

[2015-08-25 22:08] #13064 closed

[2015-08-25 22:08] goltermann commented on #13027
We’re going through support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to

[2015-08-25 22:08] #13027 closed

[2015-08-25 22:08] #7306 closed

[2015-08-25 22:09] #13085 closed

[2015-08-25 22:09] Symmetric opened #13164 "Vagrant provisioner fails with "cluster/../cluster/../cluster/vagrant/util.sh: line 267: KUBECONIG: unbound variable""
in commit 43821684, the following typo was introduced:

[code]

Looks to be benign, since that's the last thing the provisioning scripts do, but the user does get a backtrace.

PR incoming to fix this...

[2015-08-25 22:10] #5739 closed

[2015-08-25 22:11] goltermann commented on #7350
We’re going through support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to

[2015-08-25 22:11] #7350 closed

[2015-08-25 22:14] technosophos opened #13166 "kube-start.sh error: "KUBECONIG: unbound variable""
At the end of running a vagrant provision on OS X, the kube-start command produces the following error: `./cluster/../cluster/../cluster/vagrant/util.sh: line 263: KUBECONIG: unbound variable`

Looks like it should be `KUBECONFIG`.

[2015-08-25 22:15] zmerlynn opened #13167 "Automated policing of `release-1.0` for non-cherry-pick PRs"
We need to keep the release branch free of non-cherry-pick PRs in general, but the GitHub UI doesn't throw it in peoples faces, so things like #12939 slip in (and I've had to close 2-3 others). This is probably a good use for bots.

@brendandburns, up for a little more automation?

[2015-08-25 22:16] goltermann commented on #7831
Closing in favor of #7581

[2015-08-25 22:16] #7831 closed

[2015-08-25 22:17] #7879 closed

[2015-08-25 22:19] goltermann commented on #7933
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:19] #7933 closed

[2015-08-25 22:20] #7954 closed

[2015-08-25 22:23] goltermann commented on #8042
Closing as this doesn't appear to be reproducing currently.  Please reopen if you see it happening with Kubernetes 1.x

[2015-08-25 22:25] #8214 closed

[2015-08-25 22:25] bgrant0607 commented on #4855
@pwittrock

[2015-08-25 22:26] a-robinson commented on #13073
@smakam, I'm going to mark this as closed since the changes that we know were needed to make the bootstrap tool work are now into the 1.0 branch and the bootstrap tool, respectively. Feel free to reopen if it doesn't in fact work once 1.0.4 is available.

If you have more trouble getting kube-up.sh to work with CoreOS, we request that you open a question on StackOverflow so that it's easier for ot

[2015-08-25 22:26] #13073 closed

[2015-08-25 22:27] #8589 closed

[2015-08-25 22:27] #10327 closed

[2015-08-25 22:33] yujuhong commented on #13166
Thanks for reporting. This has just been fixed by #13154

[2015-08-25 22:33] #13166 closed

[2015-08-25 22:34] yujuhong commented on #13164
Thanks for reporting. This has just been fixed by #13154

[2015-08-25 22:34] #13164 closed

[2015-08-25 22:36] a-robinson opened #13168 "Document that CoreOS clusters can be created on GCE using the standard cluster/kube-up.sh"
The fact that we have a reasonably well-supported script for setting up a multi-node CoreOS cluster on GCE is either not present in our docs or very hard to find (since I haven't seen it). This leads users to try less well-supported solutions, as occurred in #13073.

There are so many CoreOS-related options in our [getting-started-guides](https://github.com/kubernetes/kubernetes/tree/master/docs/g

[2015-08-25 22:50] lavalamp commented on #12226
Implementation note: the easiest way to do this in go is to just stick variables of type json.RawJSON in the structure; that way, you don't even unmarshal them if you don't need to.

It would be a breaking change to start doing this for annotations, however. Do we want to encourage people to store this much data in their objects?

[2015-08-25 22:51] goltermann commented on #10737
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:51] #10737 closed

[2015-08-25 22:52] goltermann commented on #10774
#10829 is merged.

[2015-08-25 22:52] #10774 closed

[2015-08-25 22:52] goltermann commented on #10793
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:52] #10793 closed

[2015-08-25 22:53] goltermann commented on #10852
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:53] #10852 closed

[2015-08-25 22:55] goltermann commented on #11157
Does the #12421 merge cover this?

[2015-08-25 22:55] #11304 closed

[2015-08-25 22:56] goltermann commented on #11654
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 22:56] #11654 closed

[2015-08-25 22:58] #12068 closed

[2015-08-25 23:00] goltermann commented on #12191
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:00] #12191 closed

[2015-08-25 23:00] #12256 closed

[2015-08-25 23:06] goltermann commented on #12788
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:06] #12788 closed

[2015-08-25 23:10] goltermann commented on #10190
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:10] #10190 closed

[2015-08-25 23:12] goltermann commented on #10278
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:12] #10278 closed

[2015-08-25 23:12] #10831 closed

[2015-08-25 23:12] goltermann commented on #10973
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:12] #10973 closed

[2015-08-25 23:14] goltermann commented on #11342
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:14] #11342 closed

[2015-08-25 23:14] goltermann commented on #11665
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:14] #11665 closed

[2015-08-25 23:15] #11674 closed

[2015-08-25 23:15] pwittrock commented on #13080
kubernetes was updated with the current cadvisor f1e8cb180d475860e8f3e3878125ccec309727fc

[2015-08-25 23:16] goltermann commented on #11752
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:16] #11752 closed

[2015-08-25 23:16] lavalamp commented on #12634
See my comment here https://github.com/kubernetes/kubernetes/pull/12530/files#r37931263

Is this really necessary?

[2015-08-25 23:17] goltermann commented on #11923
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:17] #11923 closed

[2015-08-25 23:18] #13080 closed

[2015-08-25 23:18] goltermann commented on #12071
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:18] #12071 closed

[2015-08-25 23:19] goltermann commented on #12135
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:19] #12135 closed

[2015-08-25 23:21] goltermann commented on #8197
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:21] #8197 closed

[2015-08-25 23:23] goltermann commented on #9778
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:23] #9778 closed

[2015-08-25 23:23] lavalamp commented on #11304
It sounds like there was some transient (?) error between etcd and apiserver.

[2015-08-25 23:25] goltermann commented on #11909
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:25] #11909 closed

[2015-08-25 23:27] goltermann commented on #13111
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:27] goltermann commented on #13034
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-25 23:27] #13034 closed

[2015-08-25 23:32] #12065 closed

[2015-08-25 23:43] lavalamp commented on #12726
Master's expectation looks wrong.

[2015-08-25 23:43] vishh commented on #11733
@pwittrock

[2015-08-25 23:45] lavalamp commented on #13152
We should expose apiserver to external clients the same way we expose all other services to external clients: NodePort or ExternalLoadBalancer.

[2015-08-25 23:49] JanetKuo commented on #11310
I confirmed and it isn't.

[2015-08-26 00:08] caseydavenport commented on #13123
Yikes, not sure how I missed #12764.  I'm seeing them not work right now, but it could be that I don't have the right code.

I'll close this for now on the assumption that I'm just not up to date, and re-open if I find a bug.  Thanks!

[2015-08-26 00:08] #13123 closed

[2015-08-26 00:40] bgrant0607 commented on #12907
I agree we should do something to more clearly differentiate how actively supported each port/configuration is, though it's not clear what/how/when exactly.

A number of these guides also correspond to code in /cluster and/or /cloudprovider. I wouldn't want to move the (poorly named) "getting-started guide" and not the corresponding code.

[2015-08-26 00:45] markturansky commented on #13108
@smarterclayton thanks.  It'll be interesting to see how the nominal services discussion plays out.  I'll close this issue.

[2015-08-26 00:45] #13108 closed

[2015-08-26 01:08] hurf opened #13173 "Auto-create replication cotroller first when using '-f' to expose it."
When using `kubectl expose -f nginx-controller.yaml --port=80 --target-port=8000` to expose an rc, if the rc is not created yet, it will report `Error from server: replicationControllers "nginx-controller" not found
`.
Can we create the rc first instead of throw this error? Since `-f` implies that resource has been passed to the command and `expose` actually does a `create` work.

@kubernetes/kube

[2015-08-26 01:51] huangyuqi commented on #13077
Thanks for your comment. I think that "kubelet" or "kubectl" can not apperceive the action of cluster down,  because it is carried out by script "kube-down.sh". So there are two ways to fix this issue, one is that before tearing down the cluster, delete the volume by the kubelte's api manually ; another is script.
In addition, we just want a clean enviroment for deployment. It is just a issue abou

[2015-08-26 02:13] bgrant0607 commented on #6347
Closing in favor of #5774

[2015-08-26 02:13] #6347 closed

[2015-08-26 02:16] bgrant0607 commented on #5774
@resouer why do you want to update resources of a running pod, as opposed to replacing the pod? Docker restarts the container, regardless, and pods of continuously running applications should be running under replication controllers, so rolling-update could be used to roll out updated limits.

[2015-08-26 02:18] bgrant0607 commented on #12893
Closed by #12895

[2015-08-26 02:21] bgrant0607 commented on #12069
Max pods should be for protecting Kubelet due to scaling limitations.

[2015-08-26 02:37] bgrant0607 commented on #1957
Using consul for DNS is not what this issue is about. If you'd like to publish endpoints to consul, that should get its own issue, but I don't think anything prevents anyone from writing an addon that does exactly that. Feel free to send a PR to the contrib repo.

[2015-08-26 02:53] thockin commented on #13123
Please holler if you can make a case that doesn't work.
On Aug 25, 2015 5:09 PM, "Casey Davenport" <notifications@github.com> wrote:

[2015-08-26 02:57] bgrant0607 commented on #12692
FWIW, the Kube UI is now in a separate repo: https://github.com/kubernetes/kube-ui

Also, please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers t

[2015-08-26 02:57] #12692 closed

[2015-08-26 03:01] evanphx opened #13174 "Brand new cluster out of space on first image pull"
My first pod of a brand new cluster on AWS is dead in the water because of a disk space issue. I'm not immediately sure if this is docker or kubernetes fault, but I'm starting here.

The output from `kubectl describe pod catalog` is:

[code]

I ssh'd into the node and, sure enough, it's out of disk space. Here is the output from df:

[code]

It appears that docker is using `aufs` as the driver (as

[2015-08-26 03:04] bgrant0607 commented on #11233
Blocked on #10693

[2015-08-26 03:06] evanphx commented on #13174
Welp, I know why that mount point is full:

[code]

I didn't disable the by default influxdb, etc monitoring and it appears that it has eaten 100% of the allocated space for empty-dir type volumes?

Which brings up a really good question: empty-dir volumes have an extremely low size limit?

/cc @pauldix

[2015-08-26 03:12] bgrant0607 commented on #10836
kubectl expose should not dump the resource. See https://github.com/kubernetes/kubernetes/issues/5906#issuecomment-117832140 and #12845.

cc @hurf

[2015-08-26 03:14] smarterclayton commented on #13173
I don't think we should create an RC in this case.  The user can kubectl
create -f nginx-controller.yaml.  In this case it's clear the user might
want to create that object.  In other contexts (reading a directory) it's
more likely an error.  We should require explicit input to create something
since it's not much harder to run oc create.

On Tue, Aug 25, 2015 at 10:08 PM, Victor HU <notifications

[2015-08-26 03:21] bgrant0607 commented on #10674
@smarterclayton @deads2k Are you dependent upon the prefix-matching feature in any way? I was kind of surprised that this existed.

@feihujiang Thanks for volunteering to help. I'll try to reprioritize some kubectl issues and let you know which ones are most important.

cc @kubernetes/kubectl

[2015-08-26 03:23] smarterclayton commented on #10674
Brendan added that - not dependent on it.  Haven't used it myself (or noticed it yet).

[2015-08-26 03:27] bgrant0607 commented on #13085
Please see http://kubernetes.io/v1.0/docs/user-guide/connecting-applications.html

[2015-08-26 03:38] bgrant0607 commented on #4610
Supposedly clusters are scalable, so closing.
cc @jszczepkowski

[2015-08-26 03:38] #4610 closed

[2015-08-26 03:41] roackb2 opened #13176 "Performance improvement in ProxyLoop by goroutine"
I found that running our web on Kubernetes is a little bit slower and seems related to kube-proxy, so I'm trying to improve performance of it.

Digging into the code, at `/pkg/proxy/userspace/proxysocket.go`, in the `tryConnect` function, there's a TODO:

[code]

And I think it would be better if we could, in the function `ProxyLoop`, extract the part of tryConnect to a function and run it as goro

[2015-08-26 03:46] justinsb commented on #13174
Sorry.  This makes sense, and I actually just hit the same thing today.  (Which makes we wonder if this is somehow new behaviour, although I normally run btrfs and this is specific to not-btrfs, so it could just be a coincidence).

Here's the relevant code: https://github.com/kubernetes/kubernetes/blob/master/cluster/aws/templates/format-disks.sh#L129-L152

So in the aufs case we set up LVM to com

[2015-08-26 04:03] evanphx commented on #13174
Seems like empty-dir volumes shouldn't be in the ephemeral at all. Especially since they can (and will) cause kubernetes to lose functionality over it's own ephemeral dir if there is a space issue. And I doubt you want to use quotas or something to limit the size of an empty-dir within the ephemeral mount.

If you want to limit the size of empty-dir's best to make a new volume (perhaps configured

[2015-08-26 04:04] evanphx commented on #13174
@justinsb Is there anything I can do to work around this for now? Should I edit `format-disks.sh` and rebuild the cluster? Is there an easy way to control where empty-dir's go?

[2015-08-26 04:17] evanphx commented on #13174
Hm, seems like empty-dir's are perfect for ephemeral though.... :( Really, it's depends on usage. If a pod wants an empty-dir to store up to 1MB, it's perfect. But it's usage like influxdb's that break it entirely. Maybe empty-dir needs an option that specifies the max size and kubernetes can make a decision about where to put it based on that request?

[2015-08-26 04:22] evanphx commented on #13174
Looking through the `format-disks.sh` I see that the situation is avoided entirely if the instance has no ephemeral volumes, so I'm tearing down the cluster and rebuilding it with `m4`s instead, since they don't have ephemeral storage.

[2015-08-26 04:30] bgrant0607 commented on #12084
Validation across objects can't be synchronous and is racy: #2457

Cascading deletes: I think we need a general GC controller for that, such as for existence dependencies: https://github.com/kubernetes/kubernetes/issues/1535#issuecomment-91413501

[2015-08-26 04:35] bgrant0607 commented on #12084
If behavior is going to be different than node deletion, there had better be a compelling reason.

Node deletion causes pods on that node to be deleted. The equivalent here would be to delete the PVCs, which in turn would cause the pods attached to them to fail.

[2015-08-26 04:40] erictune commented on #11626
@uruddarraju Sure, take all 3.  I'm out rest of this week and next, so I can review PR after that.

Full access, by namespace, seems fine.  No need to handle reader role at this time if that is not what you need.

[2015-08-26 05:26] bgrant0607 commented on #11793
I posted some thoughts on initializers recently: https://github.com/kubernetes/kubernetes/issues/3585#issuecomment-132855944

[2015-08-26 05:29] #12468 closed

[2015-08-26 06:15] luxas commented on #9778
Yeah, I was thinking about closing it, it may work now with newer k8s (1.0.1) and docker (1.7.1)
Will try again

[2015-08-26 06:24] hurf opened #13178 "Clarify documentation about `kubectl expose`"
In the document, `expose` should take rc and service as input. I tried `kubectl expose po nginx --port=80 --target-port=8080` and `kubectl expose -f pod-nginx.yaml ...`, they all worked (when pod has labels).

Another thing is, in `expose` command, service name is duplicated from input resource name(when `--name` is not specified), if service with same name already exsits, it will return an error.

[2015-08-26 06:29] bgrant0607 commented on #13102
Kubelet should persist state it fetches from apiserver (aka checkpointing) #489. In this case the assigned cidr should be checkpointed, before reconfiguring Docker. Even tmpfs would survive a kubelet restart.

But, yes, it's suboptimal that we have 2 mechanisms restarting Docker.

And we shouldn't confuse liveness and readiness. Kubelet shouldn't die if Docker is down, assuming I'm interpreting th

[2015-08-26 06:34] bgrant0607 commented on #12090
And #4855

[2015-08-26 06:37] hurf commented on #13173
Whether the input is a file or a directory, `expose` only accepts one single resource, if multi-resources inputted, `expose` will return an error. Acutually `expose` is always dealing one resource, so I think create the rc when reading a directory wouldn't bring an error.

Indeed it's not hard to use `create` command first, I'm just trying to make it more convinient for users.

[2015-08-26 06:39] hurf commented on #10836
@bgrant0607 - again `rc hostname exposed`?

[2015-08-26 06:52] bgrant0607 commented on #11470
Meeting summary:

* Drop bind and unbind. They are insufficient and unnecessary.
* We need to align the extension HTTP(S) API design with other HTTP-based extensions, such as the cloudprovider #10503
* For reasons described above, this specific extension API would be tied to the existing scheduler
* This API would be implemented behind existing fit and prioritization plugin and configuration mecha

[2015-08-26 06:58] roberthbailey commented on #13102
Do you think the supervisord monitoring should only restart the kubelet if it isn't alive, but not restart it if it is alive but not ready? It seems like we could pretty easily get into a state where the kubelet is alive but never becomes ready.

[2015-08-26 06:58] bgrant0607 commented on #11793
I agree with the approach of using an admission-control plugin to select a scheduler. I don't want to bake the policy into the system, and I want to make it possible for users to specify a scheduler in the case that they are running their own.

Resource QoS is per-resource, per-container, so choosing a scheduler based on QoS isn't as straightforward as one might like, though it is true that criter

[2015-08-26 07:04] bgrant0607 commented on #12744
It might be useful for replication controller manager to reuse the prioritization logic, also. #4301

[2015-08-26 07:04] bgrant0607 commented on #12744
We may need to omit external extensions: #11470

[2015-08-26 07:22] feihujiang commented on #13178
@hurf OK, I'd like to fix the first bug.

[2015-08-26 07:25] hurf commented on #10836
It seems only local generated object is printed out, I'll print the created object in the fix.

[2015-08-26 07:35] bgrant0607 commented on #2210
The relationship between a controller and the pods whose lifecycles it manages is exclusive: there can be only one controller.

In other cases of such exclusive relationships we have an established pattern. The binding of a pod to a node is an example: the pod refers to the node. PersistentVolumeClaim to PersistentVolume is similar.

Controllers are a well established pattern in Kubernetes. We hav

[2015-08-26 07:36] winniwinter commented on #13136
Hey,
I have to set the credentials for the nfs share. I'm hosting kubernetes on Azure and I created a file share container storage that can be mounted as nfs. But to do this I have to set some additional parameters like username and password

[2015-08-26 07:42] gmarek commented on #12634
This was the decision we made, plus it's probably bad to allow usage of predefined/hardcoded port only.

[2015-08-26 07:50] davidopp commented on #11793
If by "auto-scaling" you mean "setting initial resource request" and by "same issue" you mean "a way to set fields of the Pod.Spec during the admission process" then I agree. Otherwise can you explain what you mean?

BTW is there an issue on initializers? I know we've talked about but I couldn't find an issue. My mental model has been "using an admission control plugin to set field(s) of a Pod.Spe

[2015-08-26 08:01] pencilcheck commented on #13129
Yes, the logging API was already enabled. That's why I was confused.

[2015-08-26 08:04] mcadam commented on #11975
yes I tried I am using that currently but it is not a hand key version, like authentication you need a ssh tunnel, you dont have all the addons, the UI doesnt work.

[2015-08-26 08:08] ngbinh commented on #11975
I had the same problem with @mcadam on 1.0.3.

[2015-08-26 08:52] jimmidyson opened #13189 "Zero network traffic from Kubelet stats/metrics on docker >= 1.7"
Bug is in cadvisor, fix is merged - will submit a PR to bump cadvisor dependency.

[2015-08-26 08:56] xsamurai opened #13190 "AWS & Coreos broken"
It seems coreos cluster is not currently deployable with the current configuration.  Reviewing the code in cluster/aws/utils.sh :

 815    grep -v "^#" "${KUBE_ROOT}/cluster/aws/templates/common.sh"
  816     grep -v "^#" "${KUBE_ROOT}/cluster/aws/templates/format-disks.sh"
 817     grep -v "^#" "${KUBE_ROOT}/cluster/aws/templates/setup-master-pd.sh"
 818     grep -v "^#" "${KUBE_ROOT}/cluster/aws

[2015-08-26 09:05] resouer commented on #5774
@bgrant0607  Actually, I don't. Just try to track the original issue.

Honestly, I think we should implement the limit/request model completely in prior to this.

[2015-08-26 09:15] fgrzadkowski commented on #10009
To be honest I don't what's the value of some many api groups. Why not start with something simple (like introducing experimental) and introduce new groups only if we see a good use-case for it?

[2015-08-26 09:51] javapapo commented on #12773
+1

1.0.3 validated not working. The setup is stuck on the Waiting for each minion to be registered with cloud provider.

I have 1.0.2 working  as well (not only 1.0.1)  - along with the patch to the 2 .sh files. as indicated  [here](https://github.com/kubernetes/kubernetes/pull/12237/files).

[2015-08-26 09:53] javapapo commented on #12854
Small comment version 1.0.2 works as well, as long as you perform the small change as indicated [here] (https://github.com/kubernetes/kubernetes/pull/12237/files)

[2015-08-26 10:00] pires commented on #11975
@mcadam there is no UI nor secure API access, indeed. But it's better than not having a cluster, am I right? Joke aside, it would be great if the alternative CoreOS documentation would include this.  I will be adding it to #9178

[2015-08-26 10:00] pires commented on #9178
Note to anyone interested: some people also want the UI, since this is part of the Kubernetes official release.

[2015-08-26 10:09] bliss commented on #12100
Good day!
After some playing around EBS persistent storage have found out that pod creation stucks always after attaching a EBS volume with message 'Image: nginx is ready, container is creating'. This is config being fed to kubernetes:
[code]
Such a pod without EBS volume section (empytDir) successfully becomes running. Is this a kubernetes or config issue ? Thank you.
kubernetes version
`
kubelet

[2015-08-26 10:12] lzephyr9 opened #13195 "Problem with setting policy config at kube-scheduler"
I'm running k8s cluster on Centos  VMs (1 master and 2 minions).
If add "--policy-config-file=/var/lib/policy/scheduler-policy.json" to KUBE_SCHEDULER_ARGS in /etc/kubernetes/scheduler file and did systemctl daemon-reload and systemctl restart kube-scheduler
From log I can see creating scheduler with algo provider 'DefaultProvider', creating scheduler with fit predicates 'map[HostName:{} ... and p

[2015-08-26 10:15] piosz commented on #9623
Enabling kube-proxy on master node will be useful for Autoscaling purposes where we connect from master node (api-server and controller-manager) to cluster services running on nodes (InfluxDB and Heapster). I'm adding PR which turns it on.

[2015-08-26 10:18] sdminonne commented on #2210
@bgrant0607

Just a fact: in case `controllerRef` will be added to pod  I would say that the label selector should be removed by controllers (to avoid inconsistency), right?

If I had to choose between adding `controllerRef`, removing `label selector` and adding generation of unique labels by default I would vote for adding `controllerRef`. My point is that  labels should be kept as much as possib

[2015-08-26 11:34] mwielgus opened #13198 "Swagger - usage of path:* as variable name results in broken java code"
[code]

Swagger generated code:
[code]

[2015-08-26 11:35] mwielgus opened #13199 "Swagger - generate proper type information for maps"
The current spec results in creating a placeholder-type objecty "Any".

[2015-08-26 12:08] adynathos commented on #13199
I am trying to generate a Java client library for Kubernetes using the published swagger spec and [swagger-codegen](https://github.com/swagger-api/swagger-codegen).

The spec contains invalid type information ```"type": "any"``` for fields that should contain maps.

Example:
* ```ResourceRequirements``` contains field ```limits``` which has type ```map[ResourceName]resource.Quantity``` (```Resourc

[2015-08-26 12:18] arun-gupta commented on #11119
https://github.com/kubernetes/kubernetes/issues/12692 reports similar issue and was closed. Seems like its a "question" as opposed to "bug" and so need to be asked on stackoverflow. And so posted the question at: http://stackoverflow.com/questions/32226436/kubeui-not-loading-up-with-vagrant

[2015-08-26 12:22] jimmidyson opened #13200 "Prometheus container metrics not exposed if cadvisor http server is disabled"
If `--cadvisor-port=0` is passed to the kubelet, container metrics are not included in the Prometheus metrics endpoint.

[2015-08-26 12:23] bliss commented on #11011
Good day!
After some playing around EBS persistent storage have found out that pod creation stucks always after attaching a EBS volume with message 'Image: nginx is ready, container is creating'. This is config being fed to kubernetes:
[code]
Such a pod without EBS volume section (empytDir) successfully becomes running. Is this a kubernetes or config issue ? Thank you.
kubernetes version
`
kubelet

[2015-08-26 12:27] jfchevrette commented on #12854
+1 I'm unable to get 1.0.3/1.0.4 running because nodes will not register

[code]

[2015-08-26 12:51] JorritSalverda opened #13203 "Kubelet manifest doesn't allow multiple host ports to map to the same internal port"
Where the following command

[code]

Results in the following bindings:

[code]

Trying to do the same in the kubelet manifest:

[code]

Results in the last port mapping overriding the second one:

[code]

[2015-08-26 13:09] markturansky commented on #12084
The user has reasonable expectations that pods under an RC get recreated.  There is no analog that recreates deleted claims.

@bgrant0607 currently, the pods won't fail unless the volume is gone from the physical infrastructure.  Event then, I think it would only be write errors in the container logs.  Are you suggesting we delete the PVC and also purposefully fail all pods with those volumes curr

[2015-08-26 13:10] smarterclayton commented on #11470
Meeting summary:

   - Drop bind and unbind. They are insufficient and unnecessary.

In the proposal, or our API?

[2015-08-26 13:12] mwielgus commented on #13199
cc: @nikhiljindal

[2015-08-26 13:12] smarterclayton commented on #13173
We generally don't do it anywhere else (scale, label, annotate).  I don't
think it's necessary for adding it to those commands, so we don't want to
introduce an inconsistent (surprising) behavior to just one command.

On Aug 26, 2015, at 3:37 AM, Victor HU <notifications@github.com> wrote:

Whether the input is a file or a directory, expose only accepts one single
resource, if multi-resources inpu

[2015-08-26 13:13] mwielgus commented on #13198
cc: @nikhiljinda, @adynathos

[2015-08-26 13:19] justinsb commented on #5472
I'm working on a little experiment to replace the bash scripts that launch a cluster (starting with AWS) with a go program.  It is only an experiment, but I'd like to coordinate with any other efforts that may still be ongoing!  I am excited to see #12245 - I figure I can maybe try to use that config blob on the "deploy machine" also (so we would get one source of truth).

Problem statement: We ha

[2015-08-26 13:21] justinsb commented on #11884
@pires thanks for the link.  I posted a similar blurb there to try to coordinate efforts.

Also I meant to include a link: https://github.com/justinsb/contrib/tree/installer/installer

Doesn't actually deploy anything yet, but I'm not trying to keep it a secret!

[2015-08-26 13:37] justinsb commented on #11011
@bliss are you running on CoreOS or Ubuntu?

If you `kubectl get pods` and run `kubectl describe pod <podid>` for the non-starting pod you will the events for that pod, which typically (hopefully) include an error message describing any launch problems.  (I don't know if this also works on the RC i.e. `kubectl describe rc testreplica`).

If that doesn't include any useful information, the ultimate

[2015-08-26 14:04] smarterclayton commented on #12084
To be clear, I was not suggesting unbinding a claim. Claim binding is one
way, if you need the same data under a new claim an admin has to create
that for you after the old claim is deleted.

On Aug 26, 2015, at 10:09 AM, Mark Turansky <notifications@github.com>
wrote:

The user has reasonable expectations that pods under an RC get recreated.
There is no analog that recreates deleted claims.

@bgr

[2015-08-26 14:13] fgrzadkowski commented on #4869
@smarterclayton @pmorie Can you guys please explain why using ```nsenter``` is not sufficient with docker 1.7?

[2015-08-26 14:17] smarterclayton commented on #4869
My understanding was that docker mounts containers in its own private
special namespace now, so even when you mount on the host, dockers
namespace for containers is a child and doesn't inherit.  I think your fix
made it so that they do.  Is it easy to get that workaround in code and
doesn't have bad side effects (Eric?)?  If so that's something we can
definitely use.

On Aug 25, 2015, at 2:47 PM,

[2015-08-26 14:20] markturansky commented on #12084
I was thinking through unbinding a claim as an alternative, but I see
deleting is cleaner.  You originally suggested we delete PVCs in a control
loop.

I think the only remaining question is whether or not to terminate all pods
currently using that claim?

On Wed, Aug 26, 2015 at 10:05 AM, Clayton Coleman <notifications@github.com>
wrote:

[2015-08-26 14:22] wojtek-t commented on #10475
This has finally been reenabled today. So far, our e2e tests look ok I will be watching them, but I hope that this is finally done.

[2015-08-26 14:35] jayunit100 commented on #5472
thanks for sharing this idea.  the scripts do need to be cleaned up, is  **python**  on the table for this work? or is Go a hard requirement?  Seems like a scripting language would more natural fit for the broader ops community.

[2015-08-26 14:36] smarterclayton commented on #12084
I don't think so - we don't try to provide guarantees like that for other
things.  It's assumed the admin removed the underlying resource if they
wanted that behavior.

On Aug 26, 2015, at 11:20 AM, Mark Turansky <notifications@github.com>
wrote:

I was thinking through unbinding a claim as an alternative, but I see
deleting is cleaner. You originally suggested we delete PVCs in a control
loop.

I

[2015-08-26 14:48] ravigadde commented on #11470
@smarterclayton - In the proposal.
@bgrant0607 - Thank you for the summary.

[2015-08-26 14:54] markturansky commented on #12084
Ok.

Assuming a recon loop deletes PVCs when their backing PV is deleted, the
expected system behavior, as I understand it:

1.  Future pods get a "Claim not found" error and fail.
2.  Running pods w/ active mount of PV/C will continue to run.
2a. If the volume is in the physical infrastructure, the pod functions
normally.
2b. If the volume is gone from the physical infrastructure, containers
expe

[2015-08-26 14:58] amygdala commented on #10367
This should probably be its own issue, but just a note that the emitted info:
+++ kubernetes-server-linux-amd64.tar.gz already staged ('rm ./cluster/../cluster/gce/../../cluster/../_output/release-tars/kubernetes-server-linux-amd64.tar.gz.sha1' to force)

is incorrect.  The files are named *.uploaded.sha1, apparently.

[2015-08-26 15:00] amygdala opened #13208 "kube-up.sh info to stdout on how to force GCS restaging is incorrect"
the emitted info on how to force re-staging:
+++ kubernetes-server-linux-amd64.tar.gz already staged ('rm ./cluster/../cluster/gce/../../cluster/../_output/release-tars/kubernetes-server-linux-amd64.tar.gz.sha1' to force)

is incorrect. The files are named *.uploaded.sha1, apparently.

(it looks like an easy fix-- I'll just take it).

[2015-08-26 15:01] justinsb commented on #5472
@jayunit100 I don't think anything is off the table (?) - certainly not from my point of view.  My thought was that go is the language we're using elsewhere, and that we could eventually move/share code around (e.g. we might decide that the kube-controller-manager should launch / manage / scale the minions).  I feel that I'm primarily doing an experiment into whether the idea of a program that gen

[2015-08-26 15:09] timothysc commented on #11793
IMHO I would much prefer a well thought out design-doc on the topic, and folks could hash over the enumerated design options.

Right now there appears to be a separation from submission + admission-control and scheduling.  But typically on other systems each elastic applications / schedulers performed their own resource requests or scheduling are up to the applications.  Their weight is based on t

[2015-08-26 15:17] JackChen255 opened #13210 "Pods doesn't run on another node after its node down"
I create a mysql pods which is running in Node3 172.24.18.125. But after I stop all kubernetes services in Node3, this pods disappears instead of running in Node1 or Node2. Why the kubernetes master doesn't reschedule the pods in another node?

[root@localhost pods]# kubectl get nodes
NAME            LABELS                                                STATUS
127.0.0.1       kubernetes.io/hostnam

[2015-08-26 15:50] swagiaal opened #13212 "Check for Partitions before formatting in SafeFormatAndMount"
'diskLooksUnformatted' in 'SafeFormatAndMount' (#8530) should check if disk is partitioned before formatting. So if a user mistakenly enters /dev/sdb instead of /dev/sdb1 we don't format the disk.

[2015-08-26 16:08] fgrzadkowski commented on #4869
Unfortunately ```mount --make-rshard /``` did not help :( I didn't check this carefully enough yesterday.

AFAIU namespace is created right before container is started as part of the initialization. If that's the case what namespace does it clone? I'd expect that docker daemon runs in the hosts main namespace and thus the newly created namespace should inherit any mounts from the moment of the nam

[2015-08-26 16:14] mbforbes commented on #5472
I love Python (really!), but I will note that we've found a lot of value in keeping the language choice the same across different sections of the project. Sharing code and data structures is one benefit; having language consistency is also just nice as a dev. And I imagine this code would be built and maintained by the Kubernetes contributors and community, which is already all in Go.

[2015-08-26 16:20] rootfs commented on #4869
@fgrzadkowski

* docker daemon creates a new mount namespace (NEWNS) for containers.
* container's rootfs is [rprivate](https://github.com/opencontainers/runc/blob/master/libcontainer/rootfs_linux.go#L407), [by default] https://github.com/docker/docker/blob/master/daemon/execdriver/driver_unix.go#L40. That's why even you bind mount `/:/host`, you still cannot propagate mount to host namespace.

[2015-08-26 16:26] zmerlynn commented on #5472
Also, keep in mind that "written in Go" really means "compiled and distributed as executable", in general, versus requiring an additional interpreter.

[2015-08-26 16:38] mikedanese commented on #11975
I suggest checking out https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/debugging-services.md

[2015-08-26 16:45] yujuhong commented on #13210
You need to a replication controller to manage your pod. See https://github.com/kubernetes/kubernetes/blob/master/docs/user-guide/replication-controller.md

[2015-08-26 16:46] yujuhong commented on #13190
cc @pires

[2015-08-26 16:47] aveshagarwal commented on #12740
I am wiling to help with this.

[2015-08-26 16:57] timothysc commented on #13152
Right now the kubernetes introspective service is kind of a weird hard coded thing and it doesn't actually append additional endpoints from the looks of things.  b/c there is a hardcoded MasterCount=1 in the code which doesn't actually feed out anywhere.  Anyway that can be fixed..

So in summary we want to do the following:
1. Fix to support appending, possibly expose mastercount.
2. Create Instr

[2015-08-26 16:58] roberthbailey commented on #5472
I think @justinsb hit the nail on the head:

This is the best reason to use Go. We are going to need to refactor the way that we interface with cloud providers, and having all of the code in a single language is going to significantly reduce the barriers to doing so. I'm hoping that we can start moving some of the launch/scale code into the master sooner rather than later (as an example).

[2015-08-26 17:03] aronchick commented on #1957
cc @jefferai

[2015-08-26 17:07] pires commented on #5472
Scripting is evil. Even more evil than flags. Scripting killed my father. Jokes aside, if we want Kubernetes to become self-sufficient in terms of provisioning (scaling included) we definitely need to follow a Go path. After all, Kubernetes is built in Go.

That said, thank you @justinsb! I'm very interested in seeing something like your solution, but with the option to add other providers as well

[2015-08-26 17:08] pires commented on #13190
@yujuhong this is not related to the ways I maintain but rather the official way of using `kube-up.sh`.

[2015-08-26 17:11] bkeroackdsc commented on #9178
DNS is a big deal since it's basically required for service discovery. I was having some issues getting it to work on CoreOS via the official docs pre-1.0. Haven't tried recently.

[2015-08-26 17:11] swagiaal commented on #12726
The idea of that health check is to ensure that the master schedules work to the name expected by the kubelet. Otherwise sometimes you end up in a situation where the master is scheduling work for IP and the kubelet is looking for work for 'hostname -f'; the node status says 'Ready' but no pods get started on that node. User's must use --hostname_override to correct the situation.

It has been a w

[2015-08-26 17:20] roberthbailey commented on #9623
The apiserver can already connect to services in the cluster.

AFAIK, right now the controller manager's only interaction with the cluster is through the apiserver (look at current state, try to make it match desired state). It seems like a major architectural change to have it reach out to things running inside the cluster.

How do the master components decide which cluster services to talk to? N

[2015-08-26 17:22] lavalamp commented on #12634
Can we unmake this decision? Fixing this seems like a lot of work with only marginal value.

[2015-08-26 17:23] derekwaynecarr commented on #11119
I will try and take a stab to investigate this more today.

[2015-08-26 17:24] lavalamp commented on #12726
@gmarek I don't think this is related to the proxy, I think your master has an incorrect node configuration, as @swagiaal says.

[2015-08-26 17:25] jaytaylor opened #13215 "K8s project layout"
How is it decided when to put a package in a /pkg/<package> directory vs. keeping it flat?

I'm trying to understand the rule being followed throughout this project.

[2015-08-26 17:28] karlkfi commented on #11908
Closing this issue. Moving conversation to #13216.

[2015-08-26 17:28] #11908 closed

[2015-08-26 17:30] jaytaylor opened #13217 "What is the K8s project layout methodology?"
How is it decided when a package goes into a  /pkg/<package> directory vs. keeping it flat?

I'd like to understand the rule being followed for the code structure throughout this project.

[2015-08-26 17:30] #13215 closed

[2015-08-26 17:33] timothysc commented on #13152
/cc @jayunit100

[2015-08-26 17:35] wojtek-t opened #13219 "e2e tests may fail if one of the nodes is unreachable"
In this Jenkins run:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/8226/consoleFull
there are 10 failed tests.
From the logs, it seems that at some point node e2e-gce-minion-gkwy became unreachable. After that, a bunch of tests failed.

I started looking into it and at least some of them may fail if a node is unreachable.
For example all PD tests will fail if first node returned from

[2015-08-26 17:36] wojtek-t commented on #13219
cc @quinton-hoole @kubernetes/goog-testing

[2015-08-26 17:36] lavalamp commented on #13152
In the current system, every master has to know this count at start up, and agree on its value.

The cert that the apiservers present to the world will need to be generated with the externally visible DNS name (or, shudder, IP address).

One extra detail: probably only kube-proxy needs to do this; kubelet can just remember the kubernetes service IP. Then kube-proxy will load balance for us.

[2015-08-26 17:37] pires commented on #9178
@bkeroackdsc after #13151 is merged, I'll add DNS integration.

[2015-08-26 17:39] xsamurai commented on #13190
Judging from the code in aws/utils.sh it assumes all supported distros are debian based, either templates get divided into templates/debian and templates/coreos or the code gets adjusted to take appropriate actions based on the value of KUBE_OS_DISTRIBUTION.  Also I consider myself a novice with coreos but coreos isnt really made to download packages off the net and install them, it is designed to

[2015-08-26 17:41] timothysc commented on #13152
/cc @smarterclayton fyi, next steps once the other PRs are in.

[2015-08-26 17:50] derekwaynecarr commented on #11119
@rajatchopra @mrunalp - looking to borrow some of your networking expertise.

see https://github.com/kubernetes/kubernetes/issues/11119#issuecomment-126960694

We are having trouble serving the kubernetes-ui through the proxy, it looks like network stalls, tips for debugging further?

[2015-08-26 17:56] derekwaynecarr commented on #11119
To add some more detail:

For me, the first time I invoke:

[code]

I always get back a full response, but I if I then immediately request the resource again in the same terminal window, I get back a partial response.

open a new terminal window, invoke command, get full response.

[2015-08-26 17:57] streamnsight opened #13221 "generateName / numeric container ID"
Is there an easy way to assign a unique numeric ID to a container?

Zookeeper, Kafka, and many other services require a unique ID to identify each other.
Using docker-compose I would assign a hostname with a unique id that I would parse inside the container to get its ID, but with Kubernetes even with the 'generateName' option there is no easy way to get a numeric ID.

Does anyone know of a way to

[2015-08-26 18:08] derekwaynecarr commented on #12892
I had thought the required patch when in the right release.  I will look to investigate this now.

Another alternative is to just clone the current master branch and kube-up from there since Vagrant is working fine in that environment.  It just appears to be an issue with 1.0.x tags.

[2015-08-26 18:13] smarterclayton commented on #13152
I think in all of our existing OpenShift customers will stick a load balancer (or two of them) either in IaaS or their own environments in front of the masters.  Our clients can't handle round robin DNS today on failures - that's an option as well for the future.

@lavalamp can we come up with another algorithm for endpoints that doesn't require a preconfigured # of masters?

[2015-08-26 18:16] lavalamp commented on #13152
@smarterclayton I'm sure we could hack something together using etcd... like each master creates a key (w/ short TTL) in a directory, and then to figure out how many there are, we count the keys.

[2015-08-26 18:18] evanphx commented on #13174
Another data point. I rebuilt the cluster using node types that don't have ephemeral storage to avoid the above issue.

Well, that just delayed the issue. I had a pod not start properly and spew logs on a continual basis while I worked on fixing it. Those logs were in turn sent to logstash and elasticsearch, resulting in ES filling up /:

[code]

With 2.9G from es:
[code]

I'm going to consider th

[2015-08-26 18:21] derekwaynecarr commented on #12892
Ok, see the issue, this PR needs to be back-ported into 1.0.x streams

[2015-08-26 18:22] smarterclayton commented on #13152
We don't do force time synchronization today, but each master could report
a time with its endpoints and other masters are free to purge it if it
expires.  It is unfortunate the masters have to write their endpoints
frequently.

On Wed, Aug 26, 2015 at 3:16 PM, Daniel Smith <notifications@github.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-26 18:27] fgrzadkowski commented on #4869
@rootfs Let's consider the following scenario:

1. Kubelet (running in container) mounts a device in host mount namespace using ```nsenter``` (does that work with rootfs propagation flag set to rprivate?)
2. Kubelet (running in container) starts another container
3. Docker creates mount namespace using clone(2) with CLONE_NEWNS (right?); all current mounts (including the new one from (1)) are visi

[2015-08-26 18:29] derekwaynecarr commented on #12854
I need to backport the following PR into 1.0.x branches:

https://github.com/kubernetes/kubernetes/pull/12514

Apologies to those that lost time to this problem.

The fix is merged at head, and vagrant is stable there if folks want to work from the master branch in the interim.

[2015-08-26 18:35] smarterclayton commented on #13136
There are two models at play:

1. Be able to use a specific NFS mount given all of the credentials
necessary to authenticate.
2. Have a fully implemented KDC/AD infrastructure.

This issue is about solving #1 - it should be possible to NFS mount without
requiring additional host infrastructure (like kerberos) if you have the
appropriate credentials to do so.  This is a delegation of connection
aut

[2015-08-26 18:35] jfchevrette commented on #12854
wow I was looking at that yaml file this morning and couldn't see what the issue was. Thanks @derekwaynecarr !

[2015-08-26 18:35] smarterclayton commented on #13136
We'd need to support two types of secrets - user/pass, and key tab.  The
simplest possible is user/pass at this point.

On Wed, Aug 26, 2015 at 3:35 PM, Clayton Coleman <ccoleman@redhat.com>
wrote:

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-26 18:41] rootfs commented on #4869
@fgrzadkowski that's a very tall test list :)

If you want to mount a filesystem and have mount helper in **host's** `/sbin/` (because you `nsenter` into host's mount namespace), these steps should work. But if these mount helpers are not on **host**, then you cannot mount the device in the first step.

[2015-08-26 18:43] yujuhong commented on #13190
Thanks for the clarification!

/cc @justinsb

[2015-08-26 18:53] rawlingsj commented on #12854
I'm not able to test master as it requires boot2docker which in turn causes me issues with incompatible docker client versions.  I'll probably have to wait for the next release but happy to close the issue if someone tests it ok.

[2015-08-26 19:09] smarterclayton commented on #11797
Graceful attempt 3 is #12963

[2015-08-26 19:14] evanphx opened #13225 "Flapping service handling"
This is more of a question and perhaps a feature request. Does Kubernetes have support to deal with flapping (starting and stoping very quickly) services specially so that their flapping doesn't have a negative effect on the cluster? And if not, should it?

A negative effect could be:
- high cpu burn
- log flooding
- resource hogging (quick claim and release cycles)

[2015-08-26 19:14] derekwaynecarr commented on #9733
Can you test if you are still having an issue from the master branch?

[2015-08-26 19:34] fgrzadkowski commented on #4869
@rootfs Thanks a lot for explanations!

@smarterclayton Based on the explanations from @rootfs my understanding is that mounting things like secrets should work (it's just tmpfs, so mount helpers are definitely in host's ```/sbin/```). However when I just run kubelet from the hyperkube (as instructed [here](http://kubernetes.io/v1.0/docs/getting-started-guides/docker.html)) mounting secrets does n

[2015-08-26 19:40] smarterclayton commented on #4869
Yes, the Kubelet needs the run containerized flag.

On Wed, Aug 26, 2015 at 4:34 PM, Filip Grzadkowski <notifications@github.com

--
Clayton Coleman | Lead Engineer, OpenShift

[2015-08-26 19:47] yujuhong commented on #11234
@nikhiljindal, @timstclair is working on separating probing from the kubelet sync period (#12866). You may want to coordinate with him.

[2015-08-26 19:48] timothysc commented on #13152
We explicitly listed in our installation steps on atomic host - https://access.redhat.com/articles/1353773

xref - https://github.com/kubernetes/kubernetes/pull/12124

[2015-08-26 20:10] davidopp commented on #13221
This is under active discussion. See #260. You can follow up with any questions there.

[2015-08-26 20:10] #13221 closed

[2015-08-26 20:13] roman-shuhov opened #13226 "Issue with livenessProbe"
Hi, i spot weird issue with livenessProbe. You can see pod description here https://gist.github.com/roman-shuhov/d5d6c230bb3b86b639be .

I tried to create this pod and it kept restarting, and kubectl describe showed the following error:

``
Liveness probe failed: Get http://website-example-a:80/watcher.html: dial tcp: lookup website-example-a: no such host
``

So, looks like if "host" value is spe

[2015-08-26 20:17] stuart-warren commented on #12854
@rawlingsj see #13095 or #12982 for docker-machine changes

[2015-08-26 20:26] kargakis commented on #13173
The resource builder is enough for creating the input object in the client without existing in the server - submitted a fix for this

[2015-08-26 20:32] #13208 closed

[2015-08-26 20:38] gmarek commented on #12726
@lavalamp - I checked this on @fgrzadkowski and @jszczepkowski clusters as well, with the same result. All of us were running default GCE configuration.

[2015-08-26 20:41] gmarek commented on #12634
I'd rather not. Especially that it's done and only waiting for reviews (well, actually it waits for me to have time to address comments, which will be on Friday at the earliest). @davidopp @wojtek-t

[2015-08-26 20:58] JimTravisGoog opened #13228 "Typo"
http://kubernetes.io/v1.0/docs/admin/kubelet.html

"echanisms" instead of "mechanisms".

[2015-08-26 21:00] #3207 closed

[2015-08-26 21:00] goltermann commented on #4914
It looks like all questions have been answered here.  Please reopen if needed.

[2015-08-26 21:00] #4914 closed

[2015-08-26 21:01] #6900 closed

[2015-08-26 21:03] #8109 closed

[2015-08-26 21:04] quinton-hoole commented on #13219
We should also figure out why the node is becoming unreachable.  I'm not a big fan of having the tests all pass if one of them causes a node to become forever unreachable.

[2015-08-26 21:04] goltermann commented on #8307
This appears fixed, please reopen if not.

[2015-08-26 21:04] #8307 closed

[2015-08-26 21:05] #8375 closed

[2015-08-26 21:07] #9212 closed

[2015-08-26 21:07] #9776 closed

[2015-08-26 21:09] mikedanese commented on #13217
See #4851

[2015-08-26 21:11] #10621 closed

[2015-08-26 21:11] thockin commented on #13225
We do not have any special handling for flapping that I know of.

On Wed, Aug 26, 2015 at 12:14 PM, Evan Phoenix <notifications@github.com>
wrote:

[2015-08-26 21:15] jaytaylor commented on #13217
Roger that, thank you @mikedanese !

[2015-08-26 21:15] #13217 closed

[2015-08-26 21:15] goltermann commented on #9573
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:15] #9573 closed

[2015-08-26 21:16] #9850 closed

[2015-08-26 21:17] goltermann commented on #9521
Now that we're on v1.x, I suspect this isn't a valid issue anymore.  Please reopen if you disagree.

[2015-08-26 21:17] #9521 closed

[2015-08-26 21:18] mikedanese commented on #13217
Feel free to comment or propose a reorg. It's put together pretty haphazardly at the moment but it's on our radar. Sorry we don't have a better answer!

[2015-08-26 21:20] goltermann commented on #11123
I think all questions have been answered for this issue.  Please reopen or ask on [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes) if you have any further questions.

[2015-08-26 21:20] #11123 closed

[2015-08-26 21:24] #12606 closed

[2015-08-26 21:24] #12580 closed

[2015-08-26 21:26] goltermann commented on #11926
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:26] #11926 closed

[2015-08-26 21:27] goltermann commented on #12579
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:27] #12579 closed

[2015-08-26 21:27] goltermann commented on #12269
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:27] #12269 closed

[2015-08-26 21:29] #11222 closed

[2015-08-26 21:30] goltermann commented on #12107
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:30] #12107 closed

[2015-08-26 21:35] #12573 closed

[2015-08-26 21:36] goltermann commented on #12567
Closing this support issue, I believe everything is covered in the linked proposal at #13010

[2015-08-26 21:36] #12567 closed

[2015-08-26 21:36] goltermann commented on #12194
We’re going through old support issues and asking everyone to direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and ho

[2015-08-26 21:37] #12197 closed

[2015-08-26 21:40] jayunit100 commented on #13160
please close after #8145 is merged.  If that doesn't happen soon ill create a patch specific for this.

[2015-08-26 21:43] lavalamp commented on #12726
That's very weird, I reproduce, too. But it has nothing to do with the proxy, rather it's the requested host (????!?):

[code]

So kubelet gives different answers depending on whether you refer to it as "localhost" or by its IP address.

[2015-08-26 21:53] devurandom commented on #12740
Maybe together we can improve the `scratch.md` guide? It seems to be the most central piece to understand how kubernetes is supposed to work.

I still have to write about the authentication part (#11000). Maybe you could have a look at the pod descriptions?

[2015-08-26 21:54] farcaller commented on #12194
Sorry but how is this a question? This is a UX **bug**.

[2015-08-26 21:54] lavalamp commented on #12726
If kubelet is doing the healthz check about the host in the HTTP request, then that's wrong. To be useful, it should be making an assertion about the Node object that represents it in the system.

[2015-08-26 22:05] goltermann commented on #12195
Looks like the questions here were answered.  Please reopen if not.

[2015-08-26 22:05] #12195 closed

[2015-08-26 22:10] yujuhong commented on #12726
To give more context, the change was introduced in #4497
I think @swagiaal was describing a situation where kubelet and master have discrepancy on what the node is. E.g., kubelet thinks it's node HOSTNAME, while master thinks the node is IP. In this case, kubelet wouldn't know which Node object to check.

@swagiaal, if I understand correctly, this should not happen now because
   - kubelet would n

[2015-08-26 22:11] lavalamp commented on #11852
Bumping this back down, since it seems the fire is out now?

[2015-08-26 22:12] stts commented on #11852
NAVER - http://www.naver.com/
--------------------------------------------

keliong@naver.com 님께 보내신 메일 <Re: [kubernetes] Building takes TOO much memory and fails (#11852)> 이 다음과 같은 이유로 전송 실패했습니다.

--------------------------------------------

받는 사람이 회원님의 메일을 수신차단 하였습니다.

--------------------------------------------

[2015-08-26 22:16] thockin commented on #13108
FWIW I am not AGAINST this idea (it's similar in form to what I called
storage equivalence pools).  If we have a use-case for this level of
equivalence AND that use-case does not need the identity aspect, THEN maybe
this (or something like it) is useful on its own.

On Tue, Aug 25, 2015 at 5:45 PM, Mark Turansky <notifications@github.com>
wrote:

[2015-08-26 22:17] goltermann commented on #12194
Apologies, I was doing some bulk edits on bugs with support labels.  Upon rereading, I agree, thanks for bringing it back up.

[2015-08-26 22:36] lavalamp commented on #12737
@vaikas What code did you expect? 404 doesn't seem right, since you're allowed to read from that URL, just not write to it.

[2015-08-26 22:46] lavalamp commented on #12258
Reducing priority, renaming.

[2015-08-26 22:50] lavalamp commented on #12231
The error you got (`invalid character ']' looking for beginning of value`) is actually the correct error to give when you give JSON a trailing `,` in a list. What error did you expect? The only thing I think it could have done better is to give a line number, but that's not so easy to get out of the parser we're using.

[2015-08-26 22:51] lavalamp commented on #12447
@smarterclayton Did you have someone in mind to implement this? I have no arguments with the proposal.

[2015-08-26 22:54] lavalamp commented on #11907
Except it prints for every RC in the system. This is really bad log spam if nothing else...

[2015-08-26 22:59] a-robinson commented on #13129
I take it you've deleted the VM/cluster? If not, I'd definitely appreciate an email to arrange SSH access.

[2015-08-26 23:03] lavalamp commented on #10351
I like @smarterclayton's approach. Adding an api exchange layer would take care of the reason why we haven't turned off basic auth yet.

[2015-08-26 23:03] davidopp commented on #11793
@timothysc IIUC you're contrasting the Mesos model with the Borg model?

In a nutshell, I think we want to support both models. Google has found a lot of success with the Borg model--in Borg, everything from user-facing front-ends, to data processing frameworks like MapReduce and MillWheel, to storage systems like MegaStore and Spanner, to infrastructure services are scheduled by the same schedule

[2015-08-26 23:05] yujuhong commented on #13210
For future reference, please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

W

[2015-08-26 23:05] #13210 closed

[2015-08-26 23:13] lavalamp commented on #10009
Assigning Chao for review, since he's working on this at the moment.

[2015-08-26 23:16] #6047 closed

[2015-08-26 23:18] caesarxuchao opened #13233 "[RFC] refactor testapi to support multiple groups"
Our tests depend on the package `testapi` and the `KUBE_API_VERSION` environment variable to get version and codec etc. As we introduce API groups, which may have individual versioning systems, we need to rethink how to set the test versions.

Here is my proposal:

* define a env var `KUBE_TEST_VERSIONS` to express what version of a group is going to be tested, e.g. KUBE_TEST_VERSIONS="v1,exprimen

[2015-08-26 23:32] lavalamp commented on #13233
Yeah, that sounds about right. Perhaps KUBE_TEST_API_GROUP_DEFAULTS or just KUBE_TEST_API_DEFAULTS for the env variable name?

[2015-08-26 23:33] davidopp commented on #2210
I like this idea a lot.

If I understand the proposal, the idea is
* when a controller C1 creates a Pod, it stamps it with `controllerRef = C1`
* if controller C1 wants to give up control over a Pod, it clears `controllerRef`
* if controller C2 wants to take over control of a Pod with un-set `controllerRef`, it sets `controllerRef = C2`

On the issue @sdminonne mentioned, IIUC the only use for the

[2015-08-26 23:41] caesarxuchao commented on #13233
I think DEFAULTS is misleading. The env variable is the only way to set which version to be test, so it's not DEFAULTS. Tests should not set versions, they should call testapi functions to figure out which version is being tested.

[2015-08-26 23:44] lavalamp commented on #9888
...Are you sure that that's not actually the contents of your log file? That's the only way that I can make sense of your pasted snippets. Please reopen if that's not the case.

[2015-08-26 23:44] #9888 closed

[2015-08-26 23:46] lavalamp commented on #9473
Considering that we may want to change this value at run time without restarting the container(s), it seems like the current downward API won't do the trick, since that's fixed at start-up.

[2015-08-27 00:10] ddysher opened #13234 "kubeproxy performance and best practice for running a site"
I'm running a website with multiple sub-domains on kubernetes (e.g. blog.mysite.com, get.mysite.com, etc).  However, I don't want to expose every subdomain as a external service (external loadbalancer), so the current setup is to only expose a nginx frontend service, and proxy to internal services, i.e.

request-> kube-proxy (locate nginx pods) -> nginx pods (locate service) -> kube-proxy (locate

[2015-08-27 00:10] bgrant0607 commented on #1702
I'm told it might be useful to look at Terraform (https://www.terraform.io/) for how it decides what resources need to be updated. Haven't had time to look.

[2015-08-27 00:16] karlkfi commented on #1627
Using docker-compose to launch kubernetes should already be possible with the existing command-line arguments. We're already doing that with the mesos/docker cluster. The only advantage Mesos has in that area is the ability to specify config as environment variables instead of params.

I've had on my TODO list to backport our mesos/docker cluster to vanilla k8s. It would be relatively easy, having

[2015-08-27 00:32] pmorie commented on #9473
@lavalamp when #5093 merges we can expose this via the volume plugin.
Agree that values that may change at runtime are not suitable for being
exposed as envs.

On Wednesday, August 26, 2015, Daniel Smith <notifications@github.com>
wrote:

[2015-08-27 00:43] pwais commented on #9623
@piosz thanks for that PR!  Looks like pretty much exactly what I tried (and what worked for me as of at least v1.0).

I could not get a private docker registry running in v0.17 (and I believe v1.0.0) w/out this change.  I'd run the registry as a k8s service and then try to start pods that would pull images from the service.  I was able to confirm that the nodes/minions could connect to the servic

[2015-08-27 00:53] lavalamp commented on #12634
I see, it does look like it's mostly done. I don't have objections to the change in flight.

[2015-08-27 01:02] dalanlan commented on #12194
So can we summarize it as (correct me if i'm wrong), for the pods whose source are is file (or maybe even the same for http/url, to be check though), no services could be binded.

[2015-08-27 01:12] hurf commented on #13178
Just noticed in [test-cmd.sh](https://github.com/kubernetes/kubernetes/blob/master/hack/test-cmd.sh#L668), does that mean `pod` is also a acceptable input for `expose`? In this case we should modify the document.

Still we should check the resouce first, though for other resources the command will return an error because they don't have label selector. But we don't need to go that far to get the e

[2015-08-27 01:17] rajnemani commented on #11916
I still have this issue.  I am trying to setup both master and minion on a ubuntu VM following this
http://kubernetes.io/v1.0/docs/getting-started-guides/ubuntu.html
getting stuck here

user@raj-hackfest-2:~/kubernetes/cluster$ KUBERNETES_PROVIDER=ubuntu ./kube-up.sh
... Starting cluster using provider: ubuntu
... calling verify-prereqs
Identity added: /home/user/.ssh/id_rsa (/home/user/.ssh/id_rs

[2015-08-27 01:28] hurf commented on #13173
@smarterclayton - I also looked these commands before, only got a feeling that `expose` should do so. The reason may be`expose` is creating something, `scale, label, annotate` are patching.

Anyway it's not a critical issue, and inconsistence is also a problem, so I'm okay not creating it first.

[2015-08-27 01:45] roberthbailey commented on #3579
@marekbiskup

[2015-08-27 01:48] roberthbailey commented on #236
Closing as obsolete.

[2015-08-27 01:48] #236 closed

[2015-08-27 01:50] smarterclayton commented on #12447
Not yet, but it might be me shortly, or someone else related to logs.

On Aug 26, 2015, at 7:51 PM, Daniel Smith <notifications@github.com> wrote:

@smarterclayton <https://github.com/smarterclayton> Did you have someone in
mind to implement this? I have no arguments with the proposal.

—
Reply to this email directly or view it on GitHub
<https://github.com/kubernetes/kubernetes/issues/12447#issue

[2015-08-27 01:54] roberthbailey commented on #1510
/cc @zmerlynn

Closing as obsolete. Please reopen if you feel strongly that this should still be fixed.

[2015-08-27 01:54] #1510 closed

[2015-08-27 01:55] bgrant0607 commented on #5472
I agree that shell scripts are evil, and that the mix of Salt, scripts, templating, etc. is inscrutable.

I am in favor of Go, for the reasons others mentioned.

In addition to #12245, #1553, and #1627, two more prerequisites for declarative self-hosting are underway: Deployment #1743 and Daemon #1518.

[2015-08-27 01:58] yujuhong opened #13236 "e2e: node stuck at recreating cbr0 and became not ready"
I've noticed that in some jenkin runs, a node would be stuck at configuring network half way through the e2e suite.
E.g.,
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/8231/consoleFull

[code]

Here are some snippets of the kubelet.log on node e2e-gce-minion-ywcb, showing it try to recreate cbr0 bridge but failed.
[code]

[code]

[code]

[2015-08-27 01:58] bgrant0607 commented on #5472
@jayunit100 More and more of our ops teams internally are switching from python to Go. Go provides a better foundation for incrementally improving the level of intelligence in the automation. What needs to be done manually today someone will want to automate in a quarter.

[2015-08-27 01:59] roberthbailey commented on #1749
Closing in favor of reworking the deployment CLI (https://github.com/kubernetes/kubernetes/issues/5472).

[2015-08-27 01:59] #1749 closed

[2015-08-27 02:01] roberthbailey commented on #2510
Closing in favor of https://github.com/kubernetes/kubernetes/issues/5472. In the mean time, users can select a zone by changing a config entry in `config-default.sh`.

[2015-08-27 02:01] #2510 closed

[2015-08-27 02:01] roberthbailey commented on #2890
/cc @erictune

[2015-08-27 02:02] yujuhong commented on #13236
I saw this around the MaxPod test, which pushed kubelet's limit by creating 100 pods per node. I also observed the same error by running the MaxPods test on my own e2e cluster.

[2015-08-27 02:04] roberthbailey commented on #3075
Closing as obsolete.

@loe We recently added configuration to run Kubernetes on Ubuntu trusty in GCE using cloud-init. It shouldn't be difficult to use the same cloud-init config on other cloud providers.

[2015-08-27 02:04] #3075 closed

[2015-08-27 02:05] roberthbailey commented on #3126
Closing as obsolete.

[2015-08-27 02:05] #3126 closed

[2015-08-27 02:13] roberthbailey commented on #3525
Closing in favor of #5472 (to consolidate the discussion in one place).

[2015-08-27 02:13] #3525 closed

[2015-08-27 02:15] roberthbailey commented on #3779
Closing as obsolete. Please reopen if this is still an issue that needs to be addressed.

[2015-08-27 02:15] #3779 closed

[2015-08-27 02:33] roberthbailey commented on #12925
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 02:33] #12925 closed

[2015-08-27 02:34] roberthbailey commented on #12818
@dchen1107 @zmerlynn

[2015-08-27 02:42] roberthbailey commented on #12273
@justinsb Any updates?

[2015-08-27 02:43] roberthbailey commented on #12249
Fixed by #12384.

[2015-08-27 02:43] #12249 closed

[2015-08-27 02:45] roberthbailey commented on #12048
Is there an existing issue tracking enabling privileged containers via admission controller?

[2015-08-27 02:50] roberthbailey commented on #12025
Where we you running the script that it broke? How difficult was it to use the older version?

[2015-08-27 02:51] roberthbailey commented on #11743
Looks like this was fixed by #11264. Please reopen if you are still having this issue.

[2015-08-27 02:51] #11743 closed

[2015-08-27 02:53] derekwaynecarr commented on #3585
I think this should be a topic for a discussion in next meetup.

After OSCON, I had recorded a few thoughts, but failed to capture them on the issue, so will do that now so it's not lost.

**Goals:**

1. Extend existing admission controller pattern to support delegation to a remote handler without forcing a recompilation of api-server.  This is useful when a handler needs to act based on the origi

[2015-08-27 02:55] roberthbailey commented on #11824
Fixed by https://github.com/kubernetes/kubernetes/pull/12872.

[2015-08-27 02:55] #11824 closed

[2015-08-27 02:56] roberthbailey commented on #11709
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 02:56] #11709 closed

[2015-08-27 02:57] roberthbailey commented on #11249
Closing to consolidate discussion on #5472. Please reopen if you think this is legitimately a separate issue.

[2015-08-27 02:57] #11249 closed

[2015-08-27 02:59] roberthbailey commented on #10675
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 02:59] #10675 closed

[2015-08-27 03:01] roberthbailey commented on #9925
@karlkfi Is this still a problem or have found a workaround in the last 2 months?

[2015-08-27 03:01] roberthbailey commented on #9819
Closing as fixed based on @erictune's last comment.

[2015-08-27 03:01] #9819 closed

[2015-08-27 03:02] roberthbailey commented on #9271
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 03:02] #9271 closed

[2015-08-27 03:04] roberthbailey commented on #9134
I'm not sure there is a general need for kube-halt. If it would be useful for vagrant we could add a special script to optimize that specific use case.

[2015-08-27 03:41] hurf opened #13239 "Display absolute time for event when using --watch"
We now display relative time for event as

    FIRSTSEEN   LASTSEEN
    14m         14m

But when using `kubectl get ev --watch` the relative time is caculated everytime when the event is printed, in this case for some event occured almost same time, the printed time may be different.

with wacth:

    18s       18s       1         nginx-controller-9pu4x   Pod
    19s       19s       1         ngi

[2015-08-27 03:53] sseago commented on #11626
@deads2k you said "Essentially, any openshift authorizer can be adapted to a kube authorizer, but not the other way around" -- does this mean the keystone plugin discussed here is not the right starting point for integrating keystone authentication and authorization into openshift, or is this a temporary concern that will be resolved if/when openshift authorization is fully upstreamed into kuberne

[2015-08-27 04:16] roberthbailey commented on #8919
This was fixed by @cjcullen in https://github.com/kubernetes/kubernetes/pull/12028.

[2015-08-27 04:16] #8919 closed

[2015-08-27 04:17] roberthbailey commented on #8798
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 04:18] roberthbailey commented on #8699
@juliaferraioli - no one has had a chance to fix this; do you think anyone from DevRel will have cycles in the near future?

[2015-08-27 04:25] roberthbailey commented on #7738
Fixed by https://github.com/kubernetes/kubernetes/pull/8224.

[2015-08-27 04:25] #7738 closed

[2015-08-27 04:27] roberthbailey commented on #7693
Fixed by https://github.com/kubernetes/kubernetes/pull/10344.

[2015-08-27 04:27] #7693 closed

[2015-08-27 04:29] roberthbailey commented on #7622
From what I can tell, this was fixed by #7794.

[2015-08-27 04:29] #7622 closed

[2015-08-27 04:29] roberthbailey commented on #7538
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 04:29] #7538 closed

[2015-08-27 04:30] bbirand commented on #7826
Thanks for looking into this, I am having the same issue.. :+1:

Maybe it might be interesting to have a sort of Jenkins test that regularly tries these kube-up scripts to make sure they return on time or so?

[2015-08-27 04:32] roberthbailey commented on #7398
https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/docker.md doesn't mention starting nginx as a front for the apiserver so I'm going to mark this as fixed.

/cc @brendandburns

[2015-08-27 04:32] #7398 closed

[2015-08-27 04:32] roberthbailey commented on #7397
@derekwaynecarr I'm pretty sure you finished this long ago, so marking as fixed. Feel free to add a link to the PR if you want to dig it up.

[2015-08-27 04:32] #7397 closed

[2015-08-27 04:33] roberthbailey commented on #7395
Fixed by https://github.com/kubernetes/kubernetes/pull/7678.

[2015-08-27 04:33] #7395 closed

[2015-08-27 04:34] roberthbailey commented on #7348
For GCE, we bake all of the packages we need into the container vm (and don't actually fetch them dynamically any longer).

[2015-08-27 04:36] roberthbailey commented on #7332
Based on the last update (over 2 months ago) this issue is resolved.

[2015-08-27 04:36] #7332 closed

[2015-08-27 04:38] roberthbailey commented on #6728
@juliaferraioli

[2015-08-27 04:38] roberthbailey commented on #6728
I bet this is still a point of friction with our shell scripts.

[2015-08-27 04:38] roberthbailey commented on #6657
Closing this in favor of consolidating efforts around https://github.com/kubernetes/kubernetes/issues/5472.

[2015-08-27 04:38] #6657 closed

[2015-08-27 04:40] roberthbailey commented on #6587
@smarterclayton Is there something we should do here?

[2015-08-27 04:41] roberthbailey commented on #6266
Looks like this was fixed by #6275.

[2015-08-27 04:41] #6266 closed

[2015-08-27 04:42] roberthbailey commented on #6180
Is this still an issue or can we close it?

[2015-08-27 04:43] roberthbailey commented on #6112
Please direct your questions to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 04:43] #6112 closed

[2015-08-27 04:46] roberthbailey commented on #5987
The etcd that is used by the master components is considered an implementation detail of the cluster and in most distributions is restricted to access on localhost. I'm going to mark this issue as obsolete but please reopen if you still have an interest in trying to secure etcd in your configuration.

[2015-08-27 04:46] #5987 closed

[2015-08-27 04:48] roberthbailey commented on #5582
/cc @mikedanese

Closing as a dupe of https://github.com/kubernetes/kubernetes/issues/12245.

[2015-08-27 04:48] #5582 closed

[2015-08-27 04:49] roberthbailey commented on #5449
/cc @juliaferraioli

[2015-08-27 06:08] davidopp commented on #3579
@marekbiskup doesn't work on Kubernetes anymore.

@mikedanese might be interested.

I can't I ever completely understood this issue, but it seems like it might be related to #7459

[2015-08-27 06:19] tobegit3hub commented on #8798
Thanks @roberthbailey for indicating the usage of stackoverflow. But this is not an question about "user guide" or "troubleshooting". It's the issue of kubernetes to deploy with systemd which is used in Ubuntu 15.04 or others.

I think @WIZARD-CXY is working on this. You're closing this directly without any work and please checkout the problem first.

[2015-08-27 06:51] resouer commented on #13228
An old typo, docs need to be re-generated

[2015-08-27 06:54] davidopp commented on #10009
I think the categories could be made more intuitive with a slight renaming and slight aggregation. How about compute, network, storage, collection, admin, experimental, extension? For example

**compute:** Pod, PodTemplate
**network:** Service, Endpoints, Route (does Route exist?)
**storage:** PersistentVolumeClaim, PersistentVolume
**collection:** ReplicationController, Deployment, Job, Scheduled

[2015-08-27 07:02] erez-rabih opened #13240 "Cross Availability Zone Cluster on AWS"
Hi,

I started using Kubernetes on AWS a few weeks ago and it works great.
We're in the process of developing our product but looking forward we will need features like High Availability / Disaster Recovery and Redundancy.

The common way to have these features on AWS is spreading your instances across different Availability Zones.

I couldn't find any documentation on how to implement this using

[2015-08-27 07:15] yugui opened #13241 "Preprocessing config files for kubectl"
I am wondering if it is possible to support [jsonnet](https://google.github.io/jsonnet/doc/) as a configuration file format for `kubectl`.  What do you think about supporting it?
# Background

I noticed that I have to manage similar but different configuration files for our dev, staging and production environments.  For example, some debug flags are enabled in dev environments; some monitoring stu

[2015-08-27 07:26] decker502 opened #13242 "Problem with replacing nodes"
When I run kubectl replace command follow [here](http://kubernetes.io/v1.0/docs/admin/cluster-management.html), I got the below error

[code]

[2015-08-27 07:27] HaiyangDING commented on #11793
+1 for one scheduler (maybe controller) per framework.

also, +1 for a design doc.

[2015-08-27 07:32] davidopp commented on #13240
See #13056

[2015-08-27 07:32] #13240 closed

[2015-08-27 07:37] kgrvamsi commented on #13019
@bgrant0607  here is the stackoverflow question raised on the same issue

http://stackoverflow.com/questions/32224046/minion-stopped-taking-the-pods-to-run-tmpfs-error

[2015-08-27 07:39] feihujiang commented on #10674
@bgrant0607 OK, thanks! And I want to know, why  team members of kubernetes/kubectl are private ? who is the member of kubernetes/kubectl?

[2015-08-27 08:16] wojtek-t commented on #13219
Definitely - this is equally important.

[2015-08-27 08:37] theosp opened #13244 "Dockerfile VOLUME inconsistent behavior"
Hello,

According to https://docs.docker.com/reference/builder/#volume , when a volume is declared in a Dockerfile, the content of the endpoint prior to the volume declaration, should be part of the created volume. Now, apparently it works only when the volume is a docker volume and not a host volume.

Example:
[code]

[code]

Host volume:
[code]

Docker volume:
[code]

Is this a bug? if not any r

[2015-08-27 08:37] erez-rabih opened #13245 "Failed Syncing Pods"
I am getting the following error message when trying to create a replication controller:
[code]
The instance itself has 25Gigs of HD:
[code]

Why is Kubernetes trying to download the images into that small 190M mounted volume and not use the main one?

[2015-08-27 08:39] #13244 closed

[2015-08-27 08:39] theosp commented on #13244
(Wrong repository... sorry)
https://github.com/docker/docker/issues/15883

[2015-08-27 08:39] farcaller commented on #12194
yes, the summary is correct.

[2015-08-27 09:35] bartekborek opened #13250 "N00b question - missing discovery token in yaml files"
Hi All,

Thanks for providing the code for us to work with, really appreciate that. I spun up some instances on AWS yesterday and noticed that there was no quorum formed between the instances, etcd2 wasn't happy and generally fleetctl failed?

How is this supposed to be used? As a separate cluster of ONLY kubernetes to manage a separate cluster of actual worker nodes in a quorum or am I missing so

[2015-08-27 09:56] bliss commented on #11011
Thank you for your reply!
here the fragment from 'kubectl -o json get pods ...' related to pod in question to make sure this is EBS volume on AWS EC2 instance setup
[code]
This is last log message from 'kubectl describe pods...' related to the pod:
[code]
As for me it's pretty strange to look for google safe_format_and_mount on EC2 instance, isn't it?

[2015-08-27 11:50] bliss commented on #11011
I found safe_format_and_mount script and placed it to required location. Thank God, on EBS without filesystem the pod started! Thank you!

[2015-08-27 12:17] piosz commented on #13048
cc @jszczepkowski @mwielgus @fgrzadkowski

[2015-08-27 12:41] freedev commented on #7826
+1 I have same issue

[2015-08-27 13:10] jayunit100 commented on #5472
Okay, now I think I  understand the reason why this decision is being made : it will help to prevent bitrot and tie all the code together in a type-safe, and machine automatable way.

[2015-08-27 13:16] justinsb commented on #11011
Ah, well glad this is solved.  That script should be installed for you if you're using kube-up.  How did you install?

This script actually presents problems on CoreOS as well, so we're thinking of just integrating its functionality into kubelet itself (so there would be no external dependency, even if that dependency should be satisfied for you by the installation routine...)

[2015-08-27 13:17] justinsb commented on #11011
In fact, it looks like #8530 which integrates the functionality has now been merged!  Hooray!

[2015-08-27 13:20] wojtek-t opened #13257 ""Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host" is flaky at head"
This test is failing pretty frequently at head. It fails with the following message:

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/pd.go:122
Expected
    <string>:
to equal
    <string>: 8434336239690371650

@kubernetes/goog-testing @quinton-hoole

[2015-08-27 13:22] wojtek-t opened #13258 "Node controller kills pods on a recently recovered node"
This test is failing pretty frequently at head. It fails with the following message:

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/resize_nodes.go:567
Expected error:
    <*errors.errorString | 0xc2088f40b0>: {
        s: "failed to wait for pods responding: pod with UID 3a70b8fa-4ca9-11e5-8a57-42010af00443 is no longer a member of the replica set.  Must have been

[2015-08-27 13:22] bliss commented on #11011
We install kubernetes from RPM packages and we have our deploy script for that because we use CentOS while kube-up primarily for Ubuntu-based setups.

[2015-08-27 13:24] wojtek-t commented on #13257
cc @saad-ali - who was looking into those tests some time ago

[2015-08-27 13:34] zmerlynn commented on #1511
Closing as wontfix, unless someone wants to take the time.

[2015-08-27 13:34] #1511 closed

[2015-08-27 13:35] zmerlynn commented on #1514
We've actually been a lot better about this. Closing as obsolete.

[2015-08-27 13:35] #1514 closed

[2015-08-27 13:37] zmerlynn commented on #7348
This is still a tiny issue if someone adds a new dep and we don't notice it. I keep meaning to spend an hour or two to write the package-differ test, but haven't gotten around to it.

[2015-08-27 13:46] simon3z opened #13260 "Add support for HostIPC in rkt"
Reference: https://github.com/kubernetes/kubernetes/pull/12470

[2015-08-27 14:34] wojtek-t commented on #13062
I think a huge number of tests may fail on cluster downsizing. The reason is that in many tests we are e.g. starting a pod and wait until this particular pod is running (and possibly running after we do something). And obviously downsizing the cluster can kill a pod running on a node that is being removed.

I agree that we should take advantage of replication controllers, but I think it's not easy

[2015-08-27 14:36] wojtek-t commented on #13219
Increasing the priority of it to P0.
We had a bunch of tests failing, because some Kubelet "stopped posting its status". This seems to be a very serious regression.

cc @dchen1107 @yujuhong

[2015-08-27 14:50] roberthbailey commented on #8798
@tobegit3hub -- thanks for responding. We have a huge backlog of issues that haven't been touched in months and are trying to reduce the open issues so that we can appropriately prioritize future work.

@WIZARD-CXY are you working on this or should I apply the "help-wanted" label?

[2015-08-27 14:56] WIZARD-CXY commented on #8798
I am not working on 15.04. I recommend using docker approach to deploy k8s if tobe really wants to deploy k8s on 15.04. It is good and easy to use too~

May the force be with you

[2015-08-27 15:00] asridharan commented on #12231
line number is exactly what I was expecting. The whole point of opening this issue is to highlight that the current JSON parser makes JSON configs pretty much unusable. The cryptic error messages makes triaging syntax errors in relatively large JSON files intractable. I assumed that's the reason this issue was kept open and tagged with priority 1. @lavalamp don't see the point of closing this issu

[2015-08-27 15:22] wojtek-t commented on #13219
To give more details, another example of node being down:
http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce/8237/

[2015-08-27 15:24] jcderr opened #13262 "kube-controller-manager no longer accepts --service-account-private-key-file"
In v1.1.0 alphas, the --service-account-private-key-file flag was removed from kube-controller-manager.

Building binaries from master and updating my CoreOS-based test cluster, kube-controller-manager will not start as a result.

[2015-08-27 15:30] jcderr opened #13264 "port clash between kube-controller-manager and kube-scheduler"
Beginning in the v1.1.0-alphas, when attempting to run `kube-controller-manager` and `kube-scheduler` together on a CoreOS machine, the two will port clash.

    Aug 27 15:29:15 master systemd[1]: Started Kubernetes Scheduler.
    Aug 27 15:29:15 master kube-scheduler[1928]: F0827 15:29:15.805946    1928 server.go:120] listen tcp 127.0.0.1:10251: bind: address already in use
    Aug 27 15:29:15 ma

[2015-08-27 15:35] zmerlynn commented on #13062
Counterproposal: We start balancing tests into job by a string hash, and
split the jobs up into e2e-1, e2e-2, etc. For bonus points, the salt of the
hash could change at an arbitrary (daily) period so the tests didn't always
run together.
On Aug 27, 2015 7:35 AM, "Wojciech Tyczynski" <notifications@github.com>
wrote:

[2015-08-27 15:49] mmilata opened #13266 "Default regular expression for long running requests does not match .../pods/.../log"
Followup for #9013 #9180 #10656

The default regular expression for long running requests defined here: https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-apiserver/app/server.go#L60 does not match paths such as `/api/v1/namespaces/myns/pods/mypod/log` - though it matches `.../logs` which is incorrect as the singular form seems to be used.

CC @csrwng

[2015-08-27 15:51] kamalmarhubi commented on #13225
Where would it make most sense to add this? A couple of options I can think of:

- a new pod restart policy `maxFailures` that is allowed to be used with a replication controller
  - the restart policy would need to become a map to express the value
  - the kubelet would restart the pod up to `maxFailures` times, then the pod would be permanently failed (perhaps a new pod phase?)
  - the replicati

[2015-08-27 15:51] pmorie commented on #10009
Has anyone thought about the changes necessary to existing components that might want to work with new versions of an existing API group?

[2015-08-27 15:54] aveshagarwal commented on #12740
https://github.com/kubernetes/kubernetes/pull/13220 to address this issue.

[2015-08-27 15:55] wojtek-t commented on #13062
@zmerlynn - I like this idea as long as this will be changing frequently (I think more than once a day).

[2015-08-27 15:57] wojtek-t commented on #13236
cc @kubernetes/goog-testing @quinton-hoole

This might be in fact what we wanted to debug as mentioned in https://github.com/kubernetes/kubernetes/issues/13219#issuecomment-135170004

[2015-08-27 16:02] cameronbrunner opened #13267 "Vagrant Cluster Provider uses deprecated -t option for kubectl get operation"
When running the Vagrant Cluster Provider with `kube-up.sh` the following deprecated message is displayed (with some context):

    Validating minion-1
    .........
    Waiting for each minion to be registered with cloud provider
    Flag shorthand -t has been deprecated, please use --template instead

Proposed Fix:  Simple, change -t to --template in cluster/vagrant/util.sh b/cluster/vagrant/uti

[2015-08-27 16:06] yujuhong commented on #13219
It seems to me that `should be able to delete nodes` test in resize.go deleted node `e2e-gce-minion-jpxm`, and didn't successfully restore the node to the healthy condition. It failed the after-test check.

[2015-08-27 16:08] thockin commented on #13225
I think it might be simpler to start with adding restart backoff to kubelet
(or do we have that already?) such that a pod which crashes more than X
times in Y seconds starts getting throttled.  Don;t even make it
configurable.  Second step could be to add a max-restarts parameter to
pod.spec, as a new field, not as a restart policy.  How many times you can
restart is actually orthogonal to restart

[2015-08-27 16:11] quinton-hoole commented on #13236
Thanks.  I can take a look.

[2015-08-27 16:16] smarterclayton commented on #6587
Sigh, wrong repo. Closing.

[2015-08-27 16:16] #6587 closed

[2015-08-27 16:17] zmerlynn commented on #13062
That's fine, but may slightly up the complexity. I was proposing daily
because each job can then just use the shell date command as the seed for
the hash, with just, say, the day. Using the hour might work similarly well
as long as the jobs are short enough.

(I'm imagining just a minor pull to gingko that would hash and select which
portion, based on command line flags.)
On Aug 27, 2015 8:56 AM,

[2015-08-27 16:18] smarterclayton commented on #11626
He's out this week but I believe it's the latter.  We expanded the
authorized interface slightly (which David was up streaming in another
pull) so that we could convey some extra context.  Once that lands I think
that concern goes away.  @liggitt is that crazy talk?

On Aug 27, 2015, at 12:53 AM, sseago <notifications@github.com> wrote:

@deads2k <https://github.com/deads2k> you said "Essentially,

[2015-08-27 16:21] jlowdermilk commented on #13178
I believe expose works for any of `pod|service|rc`. We should probably document that in the help text.

[2015-08-27 16:23] smarterclayton commented on #12048
The closest is the SCC work from @pweil- which applies a policy admission
controller which rejects pods that aren't under a service account that is
authorized to run privileged.  He's currently renaming it PodSecurityPolicy
in his pulls to better align it with the PodSecurityContext proposal.

If we made PSP a core Kube resource in expapi we'd have a much more
powerful story for restricting who ca

[2015-08-27 16:27] bgrant0607 commented on #12048
"That" being #12823 or #7893?

[2015-08-27 16:35] Smana opened #13269 "Calico: Network plugin "calico" failed init: exit status 255"
Hello,

I'm currently testing calico with kubernetes but i'm facing an issue.
I followed the documentation : https://github.com/kubernetes/kubernetes/blob/master/docs/getting-started-guides/ubuntu-calico.md

And calico seems to be happy :
[code]
The containers can talk each others from node to node.

Unfortunately when i start kubelet on nodes i get the following message :
[code]

Could you please

[2015-08-27 16:37] piosz commented on #13236
Is this still an issue? #13247 should have fixed that.

[2015-08-27 16:38] smarterclayton commented on #12048
Both, and https://github.com/openshift/origin/pull/4252was an attempt for
us to stop carrying the patch.  I'd like to take that last and have it
replace 7893 if we think the core idea is reasonable and we can agree on
12823.  That gives admins full control over who can escalate on nodes (and
guards against users exec'ing into privileged pods to escalate their
authority).

On Aug 27, 2015, at 1:28

[2015-08-27 16:39] pires commented on #561
/cc @mikedanese

https://github.com/kubernetes/contrib/tree/master/service-loadbalancer seems a nice project to fork and take further on to support other load-balancing solutions.

[2015-08-27 16:42] piosz commented on #13236
I'm probably wrong, sorry for the confusion.

[2015-08-27 16:43] mikedanese commented on #561
@bprashanth actually authored that package. I'm just git blamed since I moved it out of the main repo.

[2015-08-27 16:43] colorzhang opened #13270 "kube-proxy eats too much cpu"
Hello kubernauts,

I am running java/mysql application on single kubernetes node.
Kube-proxy eats too much cpu as shown in the snapshot.
any suggestion or idea to debug?

Thanks.
Winston

kubernetes 1.0.3
go1.4.2
Docker 1.8.1
Gentoo Linux latest

<img width="634" alt="screen shot 2015-08-28 at 00 38 00" src="https://cloud.githubusercontent.com/assets/919606/9526677/3ea3b8a0-4d1d-11e5-8106-c20208bd

[2015-08-27 16:49] quinton-hoole commented on #13062
I think that we need two types of test jobs:

1. Reproducible jobs (that run the same tests every time, possibly in the same order, and do not include tests that have a high probability of causing difficult-to-diagnose failures in other tests, like cluster resizes, machine and network failure simulations etc).  These are the primary regression canaries.
2. "Chaos" jobs, which mix tests up in diffe

[2015-08-27 16:50] #13083 closed

[2015-08-27 17:04] zmerlynn commented on #13062
What I just described fully meets #1 w.r.t. test order/selection. You'd print out the selection seed, ginkgo would still print out it's orderseed for test randomization, and it's all reproducible selection/ordering.

I'm not sure I necessarily agree, though, that if you're executing tests serially (but sharded across clusters, as proposed) that you can't execute the resize tests or things like tha

[2015-08-27 17:14] derekwaynecarr commented on #10009
I get why we want the API groups, but we do lose something today where each segment of our URL returns a result of some kind, so from /api/v1/namespaces/x/pods/foo, I can chop off a segment and get back a meaningful result that helps make the API sensible.  So in the new model here, where you would have /compute/v1/namespaces/x/pods/foo, does /compute/v1/namespaces/x still return a meaningful resu

[2015-08-27 17:17] yujuhong commented on #13236
It's quite likely that #13247 has fixed this problem, as this problem is very reproducible by running the MaxPods test. I will run locally to see if it's fixed.
 #13219 seems to exhibit a different symptom that was caused by the node resize test.

[2015-08-27 17:22] bprashanth commented on #13270
Thanks for the report. Please provide:
1. kube proxy logs (probably /var/log/kube-proxy.log)
2. iptables -t nat -L, kubectl get svc --all-namespaces, kubectl get ep --all-namespaces
3. kubectl describe svc <your mysql/java service>, describe pods

@kubernetes/goog-cluster

[2015-08-27 17:27] caesarxuchao commented on #10009
@derekwaynecarr @pmorie, let's move the talk to #12951, where we have a RFC proposal for API groups.

[2015-08-27 17:33] caesarxuchao commented on #10009
I think we should only expose namespaces at /admin. My concern is the version. Imagine we have compute/v1alpha3/namespaces/x/pods/foo, but v1alpha3 does not exist in the admin group, what should we return for compute/v1alpha3/namespaces/x?

[2015-08-27 17:33] nikhiljindal commented on #10009
@derekwaynecarr Here is what I think we can do for that:
You need to go to ```/admin/v1/namespaces/x``` to get the namespace x.
```/user/v1/namespaces/x``` returns all valid resources kinds that can be appended to that path, like:
[code]
We have talked about returning a ResourceList before for ```/api/v1```: https://github.com/kubernetes/kubernetes/pull/7883#issuecomment-99968066

[2015-08-27 17:41] colorzhang commented on #13270
1.
gentoo kube # more kube-proxy.log
E0827 23:28:19.044748    7694 event.go:195] Unable to write event: 'Post http://localhost:8080/api/v1/namespaces/default/events: dial tcp [::1]:8080: getsockopt: connection refused' (may retry after sle
eping)
E0827 23:28:19.278290    7694 proxier.go:211] Error removing pure-iptables proxy rule: error checking rule: exit status 2: iptables v1.4.21: Couldn't loa

[2015-08-27 17:44] caesarxuchao commented on #10009
I'm closing this issue. Let's continue the discussion in #12951.

[2015-08-27 17:44] #10009 closed

[2015-08-27 17:48] saad-ali commented on #13257
I'll take a look.

This test became unstable starting with Jenkins `kubernetes-e2e-gce` build `8229` which was started at `Aug 26, 2015 12:10:00 PM PST`. This build was "started by timer" and had no new changes. The previous build, `8228`, which was started at `Aug 26, 2015 11:44:28 AM PST` failed to run altogether and was triggered by the following changes:
* #13029 AWS: Add disk size/type defaul

[2015-08-27 17:55] yujuhong commented on #13236
I ran MaxPods 3 times and could not reproduce this problem anymore. I think the issue has been fixed by the revert(s). Closing this for now.

[2015-08-27 18:08] thockin commented on #13270
This is not unexpected under heavy heavy load.  The new (hopefully kube
v1.1) proxier uses iptables directly to avoid the userspace copies.  What
sort of load are you running through this?

On Thu, Aug 27, 2015 at 9:44 AM, Winston <notifications@github.com> wrote:

[2015-08-27 18:08] jiangyaoguo commented on #11912
@lavalamp  I agree with @fabioy that don't update event immediately when receive duplicate events. We can wait for a short time for possible incoming duplicate events in kubelet.

[2015-08-27 18:09] thockin commented on #13269
@symmetric @lxpollitt

[2015-08-27 18:14] bprashanth commented on #13269
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 18:19] bprashanth commented on #13264
hmm, controller manager should be using 10252

[2015-08-27 18:22] thockin commented on #13138
I have no problem with this idea, looking forward to the details

On Tue, Aug 25, 2015 at 7:14 AM, Huamin Chen <notifications@github.com>
wrote:

[2015-08-27 18:23] lavalamp commented on #12231
@asridharan OK, thanks for clarifying. I've changed the name of this issue to be more accurate. We will probably be changing the json parser we use eventually.

[2015-08-27 18:24] thockin commented on #13035
@a-robinson is this resolved now?

[2015-08-27 18:26] derekwaynecarr commented on #7397
Yes, nginx is no longer on Vagrant.  Thanks for closing.

[2015-08-27 18:28] bprashanth commented on #13250
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2015-08-27 18:28] #13250 closed

[2015-08-27 18:29] lxpollitt commented on #13269
@thockin, @bprashanth:  We are tracking and resolving this as a Calico related issue: https://github.com/projectcalico/calico-kubernetes/issues/27.

So I think this issue here can be closed.

[2015-08-27 18:32] RichieEscarez commented on #10750
That document was removed (#9178) and the link was fixed/also removed (#11038). Closing

[2015-08-27 18:32] #10750 closed

[2015-08-27 18:33] Smana commented on #13269
ok closing it. thanks

[2015-08-27 18:33] #13269 closed

[2015-08-27 18:36] finn0013 commented on #12892
That appears to fix this using 1.0.3. Thank you!

=========================

Validating master
Validating minion-1
Validating minion-2
........
Waiting for each minion to be registered with cloud provider
Validating we can run kubectl commands.
NAME      READY     STATUS    RESTARTS   AGE
Connection to 127.0.0.1 closed.

Kubernetes cluster is running.  The master is running at:

  https://10.245.1

[2015-08-27 18:40] a-robinson commented on #13035
We no longer require the prefix to be followed by a "-" and 5 characters (now it can be a "-" and any number of characters), but we still assume all the nodes are tagged with the prefix.

@kshelton - what would you propose doing differently? If we don't require tags, then we'll be opening firewalls to all the VMs in the user's network, which could be a real security issue in some cases.

We could

[2015-08-27 18:46] lavalamp commented on #8827
@JeanMertz I'd recommend not doing that, as it defeats the purpose of the rolling update. If you re-use "latest" when pushing a new container, you can no longer effectively roll back.

If you do want to always use latest, the way to do a rolling update would be to just slowly kill each pod, and let the RC make a new one. But that's not that convenient.

Is there still an issue here?

[2015-08-27 18:49] lavalamp commented on #9029
I believe this was fixed by the addition of --api-prefix to kubectl proxy, but never closed.

[2015-08-27 18:49] #9029 closed

[2015-08-27 18:49] derekwaynecarr commented on #12854
Closing issue as referenced PR was merged.  This will be available in 1.0.5 release.

[2015-08-27 18:49] #12854 closed

[2015-08-27 18:50] derekwaynecarr commented on #12892
Closing issue.  Referenced fix is merged, and will be available in 1.0.5 release.

[2015-08-27 18:50] #12892 closed

[2015-08-27 18:51] derekwaynecarr commented on #12773
The fix was merged in #12514 and will be available in release 1.0.5

[2015-08-27 18:51] #12773 closed

[2015-08-27 18:51] derekwaynecarr commented on #12614
The fix was merged in #12514 and will be available in release 1.0.5

[2015-08-27 18:51] #12614 closed

[2015-08-27 18:52] derekwaynecarr commented on #12184
The fix was merged in #12514 and will be available in release 1.0.5

[2015-08-27 18:52] #12184 closed

[2015-08-27 18:55] lavalamp commented on #3024
I would also like to see a name change, to help disambiguate the object in the system (currently replicationController) from the thing that makes the changes to the system (no official term; "replication controller manager" is probably clearest).

[2015-08-27 18:57] lavalamp commented on #7307
Let's fix this at the same time we do this: https://github.com/kubernetes/kubernetes/issues/10351#issuecomment-133247177

[2015-08-27 18:59] lavalamp commented on #7308
Pretty sure this is fixed now. Events can be either namespaced or non-namespaced, since you can have events about both types of objects.

[2015-08-27 18:59] #7308 closed

[2015-08-27 19:16] kshelton commented on #13035
@a-robinson So, this patch implies that if there is a tag that matches that is a prefix of the instance name, then that will be added to the fiw rule.  This allows the GKE case of auto tagging instances to still function and gives the user the option to tag their instances if they so desire, which allows this to function in GCE without the GKE naming/tagging convention.

As for the security concer

[2015-08-27 19:17] amygdala opened #13276 "Web UI/Dashboard does not allow viewing in other than the default namespace (?)"
Perhaps I'm missing something.  It seems like the k8s web UI doesn't expose any controls for viewing a namespace other than the default.

[2015-08-27 19:35] arun-gupta commented on #12614
@derekwaynecarr is there a CI build available somewhere?

[2015-08-27 20:30] mbforbes commented on #10858
I'm leaving the project, so reassigning to... @brendandburns! To multiplex off as desired.

[2015-08-27 20:31] mbforbes commented on #10826
I'm leaving the project, so reassigning to... @marekbiskup! Have fun!

[2015-08-27 20:32] mbforbes commented on #7256
I'm leaving the project, so reassigning to... @zmerlynn! The other upgrade czar!

[2015-08-27 20:32] mbforbes commented on #6084
I'm leaving the project, so reassigning to... @zmerlynn! The other upgrade czar!

[2015-08-27 20:33] mbforbes commented on #6079
I'm leaving the project, so reassigning to... @zmerlynn! The other upgrade czar!

[2015-08-27 20:41] derekwaynecarr commented on #9134
I agree that ```vagrant halt``` should work, but have not had the time to resolve the underlying issue.

We could then update kube-up and kube-push for vagrant to determine that the machines already existed.

PRs welcome.

[2015-08-27 21:00] derekwaynecarr commented on #2210
I like the idea of a controllerRef

Assume you would want this field to be in ObjectMeta and not be pod-specific?

[2015-08-27 21:12] derekwaynecarr commented on #9134
So I just tried the following:

[code]

The cluster comes back up quicker, and appears to be functional.

I would need to run the conformance suite before and after update to ensure networking has no unique issues anymore (I think things are better here now that provision-network.sh moved out of the Salt space).

Let me know if this flow works better for you, and if so we can just doc it.

[2015-08-27 21:14] pmorie commented on #10934
@quinton-hoole @ixdy We've started talking about where to store test results, and I wondered if we could use the GCS storage already being used for Google's internal jenkins results for the RH jenkins results as well.  Would that be possible?

[2015-08-27 21:34] liggitt commented on #11626
Yeah, basically the OpenShift `authorizer.Attributes` interface (and the proposed additions to the authorizer attributes in https://github.com/kubernetes/kubernetes/pull/12209/files#diff-a80bc00f0f154458f2f259c2e7e61e52R13) are more expressive than the current `authorizer.Attributes`

[2015-08-27 21:54] bprashanth commented on #13245
@kubernetes/goog-node showing disk in describe node would help with clarity

[2015-08-27 21:57] bprashanth commented on #13276
@preillyme

[2015-08-27 21:58] ghodss opened #13282 "Remove V(5) logging"
According to https://github.com/kubernetes/kubernetes/blob/master/docs/devel/logging.md, logging only goes up to level 4. However there are many log lines that log at level 5:

[code]

These should be mass search-and-replaced to V(4).

[2015-08-27 22:01] ghodss commented on #13282
Another nice thing to do here would be to add a comment to the kubectl --v flag indicating that the highest level is "4".

[2015-08-27 22:02] quinton-hoole commented on #10934
@pmorie I think that it would be preferable to have a separate GCS bucket for your test results (hence separate permissions, quota, billing etc). I'll chat to you offline on how best to achieve that.

[2015-08-27 22:06] bprashanth commented on #13234
This is actually 2 issues: kube-proxy performance and how to get around it. Performance of kube-proxy will get better in 1.1 (https://github.com/kubernetes/kubernetes/issues/3760). Recommend posting second part to stack overflow instead since that isn't really a bug.

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in r

[2015-08-27 22:06] #13234 closed

[2015-08-27 22:08] bprashanth commented on #13228
@JimTravisGoog @resouer please send pr

[2015-08-27 22:08] #13228 closed

[2015-08-27 22:14] yujuhong commented on #13245
This https://github.com/kubernetes/kubernetes/issues/12074#issuecomment-126713515 seems relevant. Why type of instance do you use?

[2015-08-27 22:19] bprashanth commented on #13282
@lavalamp generally has opinions and also https://github.com/kubernetes/kubernetes/pull/9274

[2015-08-27 22:22] pmorie commented on #10934
@quinton-hoole Cool, thanks.

[2015-08-27 22:24] ghodss commented on #13282
Ah. If there's a distinction as to what a user should ever see vs. what a developer might want to see while they're debugging, that might be okay, but the documentation at least should make note of that. Especially if we're making discontinuous leaps (like V(10)).

[2015-08-27 22:24] jcderr commented on #13262
attempting to repro this this evening, it works. i'd recreated my cloud-config, though, so perhaps I just didn't escape a character right somewhere.

[2015-08-27 22:24] #13262 closed

[2015-08-27 22:24] jcderr commented on #13264
There must've been gremlins in my servers earlier. I started looking at this again this afternoon and have been unable to reproduce.

[2015-08-27 22:24] #13264 closed

[2015-08-27 22:32] ghodss opened #13283 "kubectl version should print the client version before going to the server"
`kubectl version` used to print the client version before it attempted to get the server version, which means even if the server is unavailable you can still see the client version. That seems to be broken now, and instead you just get an error when the server is unavailable:

[code]

Instead, the client version should print before going to check the server version (which should still print an err

[2015-08-27 22:34] bprashanth commented on #13225
The first part should already work (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/dockertools/manager.go#L1719) we backoff based on the containers terminated time stamp (https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L796) and the maxContainerBackoff  (https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/kubelet.go#L84), so I think this boils d

[2015-08-27 22:41] yujuhong commented on #12691
#13003 has been merged. To sum up, it does two things:
 1. Use incremental update, handle ADD/UPDATE/REMOVE operation differently, and trigger each pod worker individually (`SyncPods` function has been removed completely).
 2. Create a separate goroutine to "kill" containers, so that it no longer blocks the sync loop. Note that this has gotten worse after the graceful termination period was introd

[2015-08-27 22:41] #12691 closed

[2015-08-27 22:48] bprashanth opened #13284 "Mesos TestExecutorStaticPods flaky"
https://app.shippable.com/builds/55df5cc04c1f700b00bad724

93 195 246 0 0 0 162 1 0 0 10 0 0 0 0 0 0 0 0 0 0 0 0 0 44 1 0 0 115 112 111 100 50 46 106 115 111 110 80 75 1 2 20 0 20 0 8 0 8 0 0 0 0 0 135 16 169 50 246 0 0 0 162 1 0 0 13 0 0 0 0 0 0 0 0 0 0 0 0 0 90 2 0 0 100 105 114 47 115 112 111 100 46 106 115 111 110 80 75 5 6 0 0 0 0 3 0 3 0 170 0 0 0 139 3 0 0 0 0],XXX_unrecognized:[],} of fram

[2015-08-27 22:57] bprashanth commented on #13117
Hijacking this bug to hasten the upgrade mentioned in (https://github.com/kubernetes/kubernetes/issues/11962#issuecomment-126202783), because this happened again:
https://app.shippable.com/builds/55dd86967577890c0081f737. Please close when you've upgraded.

==================
WARNING: DATA RACE
Write by goroutine 219:
  github.com/coreos/go-etcd/etcd.(*Cluster).failure()
      /root/workspace/src/

[2015-08-27 23:07] saad-ali commented on #13257
Looks like this this test was broken by PR #13003

The test `Pod Disks should schedule a pod w/ a RW PD, remove it, then schedule it on another host` fails for me locally at head. Once I revert PR #13003 locally the test starts passing.

I'll look to see if there is an easy fix, otherwise we can consider reverting that PR.

CC @yujuhong

[2015-08-27 23:22] yujuhong commented on #13257
Before the PR, kubelet performs cleanup (removing orphaned volumes/ pod directories, etc every 10s). Now these tasks would only be performed every 10s.
If this is considered not acceptable, I can instruct kubelet to perform the cleanup on every pod deletion. I will also run the test locally to verify this.

[2015-08-27 23:31] lavalamp commented on #13282
Yeah, we're somewhat inconsistent here. But I think V(big number) is useful for details that are definitely not wanted in logs when everything is working correctly.

[2015-08-27 23:33] bgrant0607 commented on #10674
@feihujiang I don't know how to make the members public outside the org.

[2015-08-27 23:36] xiang90 commented on #13117
/cc @yichengq

[2015-08-27 23:55] lavalamp commented on #7686
It would be awesome if something got the relevant error message into a termination message in the pod.

[2015-08-28 00:02] bgrant0607 commented on #2210
I agree with @davidopp's last comment: A controller should not continue to manage a pod whose labels do not match its selector. RCs should unset `controllerRef` if the labels no longer match its selector. This is similar to how Daemon (#10210, #13181) kills its pods on nodes no longer matching its template's nodeSelector.

I also agree with:
* when a controller C1 creates a Pod, it stamps it with

[2015-08-28 00:06] lavalamp commented on #7770
Please reopen if this is still an issue.

[2015-08-28 00:06] #7770 closed

[2015-08-28 00:08] bgrant0607 commented on #12298
See also the `controllerRef` proposal: https://github.com/kubernetes/kubernetes/issues/2210#issuecomment-134878215

I view that proposal as being complementary to this one.

[2015-08-28 00:13] lavalamp commented on #8070
Closing as this seems obsolete. Reopen if not.

[2015-08-28 00:13] #8070 closed

[2015-08-28 00:14] bgrant0607 commented on #12298
@davidopp

Re. "new namespace, new cluster": The scenario was that the user wanted to clone the resource. #13038

By "suffix", did you mean label value? Yes, timestamp would be reasonable for jobs. Or even resource name.

[2015-08-28 00:15] lavalamp commented on #8094
Seems from #8095 that we decided to just let CoreOS update their curl binary. Please reopen if this is still a problem.

[2015-08-28 00:15] #8094 closed

[2015-08-28 00:16] bgrant0607 commented on #2210
To be clear: I do not envision changing the role or behavior of the selector: The selector identifies the pods that should be managed by the controller.

[2015-08-28 00:16] lavalamp commented on #8229
@wojtek-t is doing some work that will eventually let us multiplex a few etcd watches instead of our current 1:1 behavior.

[2015-08-28 00:20] lavalamp commented on #1553
Can someone summarize the action items remaining on this issue?

[2015-08-28 00:23] lavalamp commented on #8493
I believe @mikedanese removed the testing flags from our binaries.

I updated the title of this issue; this should be automated.

[2015-08-28 00:24] bgrant0607 commented on #3585
@derekwaynecarr I might quibble about a couple details, but more or less agree with your brain dump.

Why would an initializer need to be able to delete a resource? Do you have an example use case?

[2015-08-28 00:24] lavalamp commented on #8625
Goal for reducing false conflicts is to split spec and status into separate resources (to be rejoined as needed for old clients).

[2015-08-28 00:27] davidopp commented on #2210
Unless/until we have an ACL scheme that prevents users from modifying `controllerRef`, the situation can definitely arise (not just as a race condition, but permanently) that the `controllerRef` points to controller C1 but the Pod's labels match the label selector for controller C2 (and not for C1). AFAICT we have only two choices in this situation:
(1) C1 is treated as the owner of the Pod
(2) C2

[2015-08-28 00:31] bgrant0607 commented on #3585
@derekwaynecarr Have you thought about how the synchronous delegation would work in any detail? We have at least 2 categories of cases where we need that:
1. Hooks: Admission control, scheduler extension #11470, cloud provider #10503
2. API federation (e.g., for API plugins)

[2015-08-28 00:34] pwittrock opened #13287 "Aggressively GC dead containers"
We currently keep dead containers around for several reasons:
1. To keep container logs and other data around
2. To keep a record of the container state
  * _It is possible for the container to be GCed before we no longer need this state_

We could address these in other ways by:
1. Storing records for dead containers elsewhere (perhaps the api server?)
2. Rotating log data to a permanent location

[2015-08-28 00:36] bgrant0607 commented on #13019
@kgrvamsi Thanks for your patience. Trying to find someone to help you.

[2015-08-28 00:45] bprashanth opened #13288 "E2e should not pull from docker hub"
e2e-gce/8241 failed a kubectl test which timed out getting the redis pod into running:
scheduler assigned redis-master-k6hgb to node .\*-dhly (.\*-128.243)
logs from kubelet on .\*-dhly
[code]

The test uses the guestbook example which has the stock redis image.

@mwielgus

[2015-08-28 01:01] dalanlan commented on #13287
/cc @dalanlan

[2015-08-28 01:07] yujuhong commented on #13257
I looked into the test more, and here is what I come up with:
  1. We now kill containers with a grace period, defaulting to 30 second if not set. The PD test uses a pod with the busybox image running a sleep command, which does not respond to the sigterm signal, and would only be sigkill'd after 30 seconds.
  2. Kubele might nuke the pod directory even when there are still running containers. Thi

[2015-08-28 01:11] saad-ali commented on #13257
Thanks for digging in to this @yujuhong

I'll work on 1

[2015-08-28 01:14] dalanlan commented on #13287
Just to mention, the logs stored elsewhere could be safely removed some time (those logs of a container corpse within a *deleted* pod, for example). The logs could take up space after all.

[2015-08-28 01:30] roberthbailey commented on #10351
Yes please. The main reason we still have basic auth turned on is because bearer token / client certs is considered too high a barrier for users that want to use browsers. If we supported OAuth, that would be just as easy for users and much, much more secure.

[2015-08-28 01:34] yujuhong commented on #13257
Thanks!

It'd be better if the container would not ignore sigterm for the test and/or the grace period is set to something smaller than the default.

In addition to that, it might be better to use a non-zero grace period in  https://github.com/kubernetes/kubernetes/blob/master/test/e2e/pd.go#L101, and then check the apiserver to make sure that kubelet has deleted the pod before moving to the next

[2015-08-28 01:46] liggitt commented on #10351
OAuth is just the mechanism for getting the token… it would still be used as a bearer token against the API

[2015-08-28 02:10] mikedanese commented on #8493
Fixed by #13018, cc @erictune

[2015-08-28 02:37] colorzhang commented on #13270
I load hundreds of thousands items into mysql database through java/jdbc. (do hybris initialization )
I also tested against kube git master. It was even worse with higher cpu.

Usually it takes 40m to finish. now it takes more than 6h to finish with kubernetes.

java web(hybris) service==>java web(hybris) rc==>mysql service ==>mysql rc

[2015-08-28 02:38] dalanlan commented on #11733
@pwittrock I could use some help here if you're available:)

[2015-08-28 02:48] bgrant0607 commented on #5774
Resource QoS has been implemented: #12182

[2015-08-28 03:07] brendandburns commented on #13257
We need to fix this in e2e asap.  Unless someone is directly working on fixing the test, I vote for reverting #13003 until there is a fix in place to make e2e pass.

[2015-08-28 03:07] #9997 closed

[2015-08-28 03:26] bgrant0607 commented on #7311
See also #12143 re. functionality that should move server-side.

[2015-08-28 03:46] a-robinson commented on #13129
Thanks again for reporting this!

I looked into the cluster, and it's due to the nodes being on version 0.21.4. Fluentd is running out of memory because there are an incredibly large number of log file symlinks laying around, and PR #10830 for garbage collecting the symlinks from old containers didn't make it into a release until 1.0.0. Fluentd pays a bit of memory for each file it tails, and tens

[2015-08-28 03:46] #13129 closed

[2015-08-28 03:48] #10571 closed

[2015-08-28 03:58] JimTravisGoog commented on #13228
No need for a PR, the docs are correct on GitHub. They just need to be
sync'ed up to the docs site.

On Thu, Aug 27, 2015 at 3:09 PM, Prashanth B <notifications@github.com>
wrote:

[2015-08-28 04:07] saad-ali commented on #13257
@yujuhong Regarding 1, now that I think about it, I'd rather leave the test as is: It was written when we noticed that users who were rapidly deleting and recreating a pod were running in to issues with GCE PDs. So by not wait for the volume to actually detach, the test is functioning as intended. Brenden merged #10651, hopefully that fixes the underlying bug.

[2015-08-28 04:18] elsonrodriguez commented on #13097
Having a similar issue with 1.0.1, but abac code hasn't changed for a while. Whenever namespace is restricted via ABAC policy, all calls with kubectl just fail.

This may also have gone un-noticed because in parts of the documentation the namespace key is said to be "ns", which is not read by the abac code, so people switching to the "ns" syntax vs "namespace" see success, but they don't test to s

[2015-08-28 04:31] erez-rabih commented on #13245
When I had the problem I used m3.medium instance type.
I changed to m4.large which is EBS backed only instance and the problem seems to be resolved.

I guess the problem exists in instances which have instance store disk.

[2015-08-28 05:05] bgrant0607 commented on #9473
I didn't mean to imply that we should use env vars, just that we give the user control over the format and the information provided.

[2015-08-28 05:09] bgrant0607 commented on #12828
@feihujiang Would you be interested in this issue?

[2015-08-28 05:12] bgrant0607 commented on #10527
See also #10495

[2015-08-28 05:35] feihujiang commented on #12828
@bgrant0607 Yes, I'd like to work on this.

[2015-08-28 05:35] brendandburns commented on #13102
For the master, we never need/use the CIDR that the second master assigns.  We should just disable the `--configure-cbr0` flag on the master kubelet.

The kubelet doesn't manage Docker health, it merely bounces it once, after it has configured the bridge.  Yes, it's sub-optimal that supervisord might also kill Docker in the same window, but it doesn't really matter...

--brendan

[2015-08-28 05:38] yujuhong commented on #13257
@brendandburns, the test was already in the flaky gce suite......shouldn't GKE jenkins exclude the flaky tests as well?

[2015-08-28 05:42] yujuhong commented on #13257
I am okay with keeping the test as it is, as long as it's clear that the test needs to wait a bit longer than usual. It currently takes ~190s to complete in the parallel-flaky suite.

[2015-08-28 06:00] thockin commented on #12459
Renaming this from "starting container "kube-proxy" fails with : mountpoint for cgroup not found" to something more appropriate.

[2015-08-28 06:18] asridharan commented on #12231
Thanks @lavalamp

[2015-08-28 06:21] wojtek-t commented on #13257
Thanks a lot for working on it @saad-ali and @yujuhong - good job in debugging it!

[2015-08-28 06:46] thockin commented on #260
On Fri, Aug 21, 2015 at 12:56 AM, Brian Grant <notifications@github.com> wrote:

Let's be clear - if we DON'T set subdomain, we can't let users provide
their own hostnames.  If we DO set subdomain, we have to do so in a
way that is unique-enough (in DNS space, which currently means across
the namespace).  Making the subdomain be the name of a Service is
unique enough.

Given some of the limitation

[2015-08-28 06:54] ixdy commented on #13257
gke-ci isn't using the configuration in `hack/jenkins/e2e.sh` yet. It should be, but the PR to move the various gke to e2e.sh jobs never got completed. (The result of this is that gke-ci's list of flaky tests is pretty far out of date.)

[2015-08-28 07:23] javapapo commented on #9134
Hello, for me on version 1.0.2 (with the vagrant script patch) vagrant halt works as expected, the vms are halted.
But when I try to do a kube-up.sh

The master is reported to be up and running, the minion seems to be runnig according to the virtual box console, but the kube-up script reports the following.

he user name and password to use is located in ~/.kubernetes_vagrant_auth.

... calling va

[2015-08-28 07:55] wojtek-t commented on #8229
Actually, we already enabled watch in apiserver (for pods, endpoints and nodes) 2 days ago. This means, that there is exactly one watch connection open to etcd for each of those resources, and the watch is handled completely in apiserver (not "transfered" to etcd).

[2015-08-28 07:59] 3cky commented on #12663
Working on this issue, have some questions about correct format for "container" manifest type for kubernetes v1. Currently I implemented it like this:
[code]
Not sure about `kind` value and `metadata` content.

[2015-08-28 08:28] piosz commented on #9623
@pwais sorry but I no longer need it and as @roberthbailey wrote in https://github.com/kubernetes/kubernetes/pull/13196#issuecomment-135113228 it won't work on hosted master, so I'm closing my PR. If you think it should be merged feel free to convince @thockin and I'd be happy to continue work on it.

[2015-08-28 09:11] FibHeap opened #13299 "sessionAffinity lost with GCE LoadBalancer when RC is recreated after service"
It seems like the sessionAffinity stops working if the rc is deleted and created again after the service was created.  (Cluster with two machines on GCE)

Steps to reproduce:

 - 1) Used following files:

ServerName.yaml

    apiVersion: v1
    kind: ReplicationController
    metadata:
      name: servername
      labels:
        name: servername
    spec:
      replicas: 10
      selector:

[2015-08-28 09:43] pwais commented on #9623
I guess I'll see if I can reproduce the docker registry service connection issues I saw in 0.17.  Or if somebody can reference evidence of a k8s using images from a cluster-hosted docker registry, that would help me personally and also probably warrant closing the issue altogether ^_^

[2015-08-28 10:50] smarterclayton commented on #260
We have several examples of pods being under two or three services, one for
spreading, one for exposure, and one for testing exposure.

On Aug 28, 2015, at 3:47 AM, Tim Hockin <notifications@github.com> wrote:

On Fri, Aug 21, 2015 at 12:56 AM, Brian Grant <notifications@github.com>
wrote:

targeted it,

requires more

would be

creation-

lean

scoping.

Let's be clear - if we DON'T set subdomain

[2015-08-28 12:27] sspeiche opened #13305 "Pod stuck on pending status due to hung docker daemon"
Kubernetes should detect that case when a node has a hung docker daemon and scheduler is infinitely waiting for pod to be launched.  It would be good to terminate the execution after some period of time and log an event/message. It would be better if it attempted to launch the pod on a different healthy node.

I hit this issue recently with an instance that had been running for about a month. Thin

[2015-08-28 12:35] hugecannon commented on #12025
If I remember correctly, it was when using `kube-up` on an aws/gce configured cluster.
So I was running the usual `cluster/kube-up.sh` from the kubernetes directory.

Im not sure what this is asking. Interpreting it as 'How difficult was it to switch to an older python version so you could continue to use the cluster tools?'

It was quite easy as I used pyenv.

[2015-08-28 13:03] f-higashi commented on #13097
I checked source code of kubectl.
I think it is the fail reason that kubectl calls client.NegotiateVersion(&config, version)
https://github.com/kubernetes/kubernetes/commit/f31191224bd9b555839e3aef2a49cbb3ccb73f69#diff-11e9bf777cb7b0498118f497a570f50cR61

from this commit (v0.20~), kubectl try to get version information and fail.

So It is needed to remove negotiating verion in kubectl or to allow

[2015-08-28 13:07] mariomarin commented on #12381
@justinsb I've followed these steps with my current k8s cluster:

- Attached *name: kubernetes-vpc* tag  to vpc.
- Attached *KubernetesCluster: foo* tag name to instances and security groups with cloudformation.
- Attached *KubernetesCluster: foo* tag name to subnets and vpc manually.
- Launch the service to create the ELB.

It didn't work, I got `InvalidConfigurationRequest: ELB cannot be attache

[2015-08-28 13:11] mariomarin commented on #9178
@pires Please don't delete the cloudformation template, I am working on it. Please take a look at #12346.

[2015-08-28 13:25] colorzhang commented on #13270
Thank you @thockin for hint
I switched to iptables proxy with --legacy-userspace-proxy=false. everything is ok now.

Thanks,
Winston

[2015-08-28 13:38] kelcecil commented on #12768
Does the work done in #13095 capture what you were looking for? I can add whatever else you might be looking for if you can provide some direction.

[2015-08-28 13:44] smarterclayton opened #13306 "Proposal: Record which user created an object"
Currently no creator information is recorded at the time an object is created. The creator may be:
- an end user calling the api (authenticated via the Authenticator interfaces)
- a controller calling the api (authenticated via Authenticator)
- a core controller locally invoking the storage interfaces (bypasses authentication)
- someone directly editing etcd (repair process or object created in th

[2015-08-28 13:44] smarterclayton commented on #13306
@liggitt @erictune @deads2k @jwforres @kubernetes/kube-api  @kubernetes/kube-iam

[2015-08-28 13:50] JeanMertz commented on #8827
@lavalamp good point.

Given that, this workflow should work as expected, right?

* initial deploy using `kubectl create -f rc.json`, pointing to `my/app:latest`, which is a pointer to `my/app:v1.0.0`
* rolling update using `kubectl rolling-update frontend --image=my/app:v1.1.0`
* after terrible infra-crash new "initial deploy" using `kubectl create -f rc.json`, pointing to `my/app:latest` (which

[2015-08-28 14:32] jcderr commented on #9178
If it's helpful, I'll have to tweak it a little, but I can provide an alternate CloudFormation intended for launching into an existing VPC, as well.

[2015-08-28 14:35] yichengq commented on #13117
agree with @wojtek-t . This happens because old client is not thread safe. The new client will resolve it.

[2015-08-28 14:41] wojtek-t commented on #13117
Yes - that's what it seemed to be.

Anyway, I'm planning to finish refactoring of different tests under pkg/registry (those are using go-etcd data structures in random places) by the middle of next week, and the next step is to try using the new etcd client (it should be relatively simple to change it).

[2015-08-28 14:48] swagiaal commented on #12726
Yeah the original patch in #4497 sent the host name presumed by master along with the request but we though the hostname from the header sufficed as we could not come up with a scenario where the two differ.  That can be changed back if needed.

It looks like the localhost bypass was added later in #5120

@gmarek in your cluster if you disable the health check do pods actually start on the node ?

[2015-08-28 14:54] pires commented on #9178
@mariomarin it has been deleted, so add it once more, if you're able to maintain it in the future.

[2015-08-28 15:00] derekwaynecarr commented on #9473
This came to my attention from another Red Hat employee via mail, but seemed pertinent to this issue discussion since it provides a mechanism for containers to inspect its own limits.

[2015-08-28 15:05] swagiaal commented on #12726
@yujuhong hmm... do you mean the master would not be able to reach the node if it has the incorrect name ? The hostname is correct it is just different from what the node uses. Say for example the host uses "example.com" and the node node knows itself as "93.184.216.34". The health check will pass because the node is reachable, but pods don't start because work no work is scheduled for "93.184.216

[2015-08-28 15:15] #13219 closed

[2015-08-28 15:30] mariomarin commented on #9178
@jcderr The CloudFormation template requires an existing VPC, that's why we are not using kube-up, because we want to use our current VPC. Please take a look at [this](https://github.com/mariomarin/kubernetes/blob/cloudformation-upgrade/docs/getting-started-guides/aws/cloudformation-template.json) and let me know what's the difference with the template you plan to provide.

[2015-08-28 15:35] kgrvamsi commented on #10323
+1

I tried this with the Softlayer Portable ip's by assigning the cluster ip range and then making the service get the elastic ip which can load balance but its not working as expected.