[2016-06-10 00:02] ryansavino commented on #25650
I've managed to get my cluster up. The issue turned out to be related to the proxy configuration; just a matter of setting http_proxy and no_proxy variables in the correct places for ubuntu, docker and kubernetes.

Thanks to all who assisted.

[2016-06-10 00:03] chrislovecnm commented on #27150
@anndyzheng0831 thanks. I have reproduced on GCE with alpha 5. Let me know if you have questions.

[2016-06-10 00:10] vishh commented on #27154
cc @kubectl

Appreciate the detailed summary @yujuhong.
One thing that I'd like to add is the lack of clarity around the *required* and *optional* features from a product UX standpoint. A user can switch to a different logging driver in docker today and `kubectl logs` will not work. So as it stands today, `kubectl logs` is an *optional* feature.

[2016-06-10 00:11] saad-ali opened #27159 "Refactor SELinux related volume code in kubelet"
Refactor SELinux related volume code in kubelet. For example the the code depends on being able to mutate the pod object.

[2016-06-10 00:20] bprashanth commented on #26135
Another option is to ditch salt and given the kubelet --network-plugin-source. I think this starts to get into node provisioning questions that we're addressing in 1.4 @mikedanese.

Either way something has to retry the download, and we should surface the failure to download as an unready node. The advantage with doing it through a kubelet flag is that it'll keep retrying the download. We need to

[2016-06-10 00:21] janetkuo commented on #27003
If you run `kubectl get deployments`, would the server prints error saying something like "this resource type isn't supported"? If so, it's off and you need to manually turn support for deployment on. Or you can upgrade it to >1.2 like @nikhiljindal recommended.

[2016-06-10 00:23] paralin opened #27161 "Iptables forwarding routes for ClusterIP services"
I have the following use case:

I need to route from non-kubernetes servers to Kubernetes ClusterIPs. I already have the routes set up properly to FORWARD to pod IP addresses, and this works perfectly (I can access pod IP addresses from outside the cluster). But nothing I've tried seems to get the service routing to work properly.

How can I set this up properly? Is this something that potentially

[2016-06-10 00:23] yujuhong commented on #27154
Thanks for pointing that out. I left it out by accident.

[2016-06-10 00:25] janetkuo commented on #26818
@kubernetes/deployment

[2016-06-10 00:27] girishkalele commented on #26135
@freehan Good find - we need automated log scanning to find these failures easily.

The previous failure was not due to bad salt, but due to the image pulling flake as in earlier tests. This salt tar fetch failure is new as far as I am aware...the networking was not functional that early in the VM boot sequence I am guessing.

[2016-06-10 00:28] janetkuo commented on #26818
I believe this is due to race. The configured deployment is configured again before the deployment controller observe the last change, and thus the change is overwritten/lost.

[2016-06-10 00:29] girishkalele commented on #26135
@bprashanth
Is this salt-based startupscript also the method with which minion nodes would be started by the cluster autoscaler ? In GKE too ?
We need to make the startupscript more resilient to GCS down if this is not just a test script but a key piece of cluster autoscaling.

[2016-06-10 00:30] janetkuo commented on #26673
@kubernetes/deployment

[2016-06-10 00:36] bprashanth commented on #26135
I don't think you have to convince anyone that downloading core binaries via salt is bad, talk to Mike if you want to help :)

That said, gcr.io is backend by GCS. There's only so much you can do in terms of reliability with these things before saying "lets just retry in a loop". We have the same problems with master setup: https://github.com/kubernetes/kubernetes/issues/22655

[2016-06-10 00:37] janetkuo commented on #26724
@ihmccreery the PR is lgtm'd but I can't get it merged

[2016-06-10 00:38] andyzheng0831 commented on #27150
Quick questions:
(1) where is the file gce.conf used? I search the code but only see very limited results.

(2) Is nodecontroller running in a pod or as a part of kubelet binary?

[2016-06-10 01:05] jlowdermilk commented on #27150
(1) gce.conf is loaded (or should be loaded) at https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L134. It's used to provide config to the gce cloudprovider plugin. See
https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/gce/gce.go#L92

(2) nodecontroller runs as part of the kube-controller-manager pod on the master.

[2016-06-10 01:07] metral opened #27164 "PersistentVolumeClaim doesn't bind to a volume when created again"
This is a dup of https://github.com/kubernetes/kubernetes/issues/20753 since the original filer hasn't reopened the issue.

I'm hitting this issue on v1.2.4 with NFS + PVC's.

**Kubernetes OS**: CoreOS 835.9.0
**NFS OS**: Ubuntu 16.04

Feel free to close this if https://github.com/kubernetes/kubernetes/issues/20753 gets reopened.

[2016-06-10 01:16] mqliang commented on #25563
@hongchaodeng You could reproduce it by reverting this PR: https://github.com/kubernetes/kubernetes/issues/25648. The problem here is: a large number of Sync events(produced by periodic resync) will saturate workqueue, see https://github.com/kubernetes/kubernetes/issues/24375 for more details.

To solve the fundamental problem, I propose to use multi-work queue: one workqueue for CRUD events(usual

[2016-06-10 01:32] #19774 closed

[2016-06-10 01:33] girishkalele commented on #22823
@javiercr

The DNS changes in 1.3 are still in Alpha.

Technically, if you want to test them out in a **test GKE cluster**, a little surgery is required - you should be able to edit the kubedns RC (kubectl edit rc --namespace kube-system kubedns-v11) and change it over to the new dns rc in HEAD. I don't recommend doing this yet.

[2016-06-10 01:46] yifan-gu commented on #27154
cc @kubernetes/rktnetes-maintainers @philips @jonboulle

[2016-06-10 01:57] yifan-gu commented on #27154
So for the rkt, the journal log file lives in `$pod_uuid/stage1/rootfs/var/log/journal/$rkt_uuid/system.journal`.

We could probably mount the file so that journal appears in `/var/log/pods/<POD_UID>`.
For `kubectl logs` to work with the journal, we could still go through the rkt runtime.

[2016-06-10 02:03] chrislovecnm commented on #27150
I was also getting an unset var for I think KUBE_MASTER.  @jlowdermilk were you getting that as well?

[2016-06-10 02:33] bprashanth commented on #26490
I've only actually been able to repro anything close to the 2 legitimate failures on this bug (https://github.com/kubernetes/kubernetes/issues/26490#issuecomment-224601851, https://github.com/kubernetes/kubernetes/issues/26490#issuecomment-223765348) by adding a TEE target to iptables, i.e something like:
`sudo iptables -t mangle -A PREROUTING -s pod-ip -j TEE --gateway pod-ip`

which will clone p

[2016-06-10 02:34] bprashanth commented on #26490
With the 2 best guesses being https://github.com/kubernetes/kubernetes/issues/27110 (matches timing, but doesn't make 100% sense unless there's a race I'm not seeing) and our use of a promiscious cbr0 (long standing issue which doesn't exactly match up with timing of failures)

[2016-06-10 02:42] AdoHe commented on #27161
Typically, services and pods have IPs only routable by the cluster network. IIUC you want to access services outside of cluster, this is what [Ingress](http://kubernetes.io/docs/user-guide/ingress/) do, ptal.

[2016-06-10 02:54] #27059 closed

[2016-06-10 02:55] euank commented on #26903
@derekwaynecarr and i did a little further investigation today (thanks for the help!), and I wanted to update with what I observed here:

With CPU/Mem accounting, the kubelet detects a cgroup slice of something like `/system.slice/system-sshd.slice/sshd@2532-10.240.0.15` when run via ssh (as in the node_e2e test). This differs slightly from the key in the [info map](https://github.com/kubernetes/k

[2016-06-10 02:57] paralin commented on #27161
@adohe I'm well familiar with ingress but it *should* be possible for other servers on the same private subnet as the cluster to route traffic to services.

As I mentioned before I already have pod routing working properly.

[2016-06-10 03:35] bgrant0607 commented on #27039
@lavalamp @wojtek-t @smarterclayton Yes, this was a timebomb, which we've known from the beginning. Internally we shard by 100-endpoint groups to avoid this problem.

This is related to pagination (#2349), but that's not applicable, since that's about list chunking. This is a single key in etcd. Additionally, etcd's single-value size limit puts an absolute cap on service size currently.

We need a

[2016-06-10 03:44] #27110 closed

[2016-06-10 03:46] osterman opened #27169 "Possible Bug: Garbage Collection Not Triggered"
## what
I’m struggling to trigger image garbage collection (GC) by the kubelet process by simulating disk usage. In short, I can’t get it to work and can’t figure out if it’s a bug or a misunderstanding.

## expectations
* Upon disk usage crossing the 90% threshold (default setting for `image-gc-high-threshold`) the kubelet will output messages to stdout or stderr indicating that it's vacuuming im

[2016-06-10 03:54] derekwaynecarr commented on #26903
I think we should update the e2e to run the service using systemd-run so
it's launched as a transient unit and can be reliably accounted under
something like kubernetes.slice.

I can see how easy or hard that is do to do in the current framework
tomorrow.

On Thursday, June 9, 2016, Euan Kemp <notifications@github.com> wrote:

[2016-06-10 03:59] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27170 "Run the Docker bootstrap instance under upstart"
Separating “bootstrap” instance of the Docker daemon for using flannel to set up networking between Docker daemons(source http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/).
But the bootstrap instance is missing after reboot.
It likely to run the bootstrap script under upstart.
If I need to add the bootstrap script to the /etc/init/docker.conf.

os : ubuntu 14.04
docker ver

[2016-06-10 04:24] mqliang commented on #27137
@yujuhong I volunteer myself to do it

[2016-06-10 04:26] #26540 closed

[2016-06-10 04:33] bgrant0607 commented on #25603
see also #3949

[2016-06-10 04:41] hongchaodeng commented on #25563
@mqliang Thanks for writing out the code. I would speak highly of this behavior and code is our best diplomat. Highly recommended!

Back to the issue.

Why do we need resync? Why RC needs to resync?
If we can fix informer to never lose events, can we get rid of resync? If so, we probably don't need to optimize it and it will have high performance gain as well.

[2016-06-10 04:56] bgrant0607 commented on #27074
@chrislovecnm Could we just use #24030 for this?

[2016-06-10 04:57] bgrant0607 commented on #24030
@chrislovecnm suggested in #27074:

Move the example from https://github.com/k8s-for-greeks/gpmr/tree/master/pet-race-devops into the examples in this code base.

[2016-06-10 04:57] #27074 closed

[2016-06-10 05:08] #27118 closed

[2016-06-10 05:12] chrislovecnm commented on #27074
@bgrant0607 that is fine, but I actually need another issue.  Working on a demo here: https://github.com/k8s-for-greeks/gpmr  will move in once it is documented :)

[2016-06-10 05:13] chrislovecnm commented on #24030
@bgrant0607 work in progress ;)

[2016-06-10 05:19] smsahu opened #27172 "Failed to start kubernetes API server in docker after system crash"
I am unable to start my existing kebernetes setup in local docker after a system crash.

smrutiranjans@smrutirn-ub:~$ docker ps
CONTAINER ID        IMAGE                                             COMMAND                  CREATED             STATUS              PORTS               NAMES
c70007d8bea6        gcr.io/google_containers/hyperkube-amd64:v1.2.4   "/setup-files.sh IP:1"   8 seconds ago

[2016-06-10 05:20] mqliang commented on #25563
@hongchaodeng

We want resync because it's able to handle delta store comparisons against an ***external*** resource.  I.e. if you have X external resources, and N internal resources, you want to verify X=N every
few minutes.(Note: informer was widely used by some external repo). Since we can not receive events about external resource, we need periodic check. For example, when ServiceController wa

[2016-06-10 05:28] smsahu commented on #27172
started using below command:--

export K8S_VERSION=v1.2.4
export ENABLE_DEPLOYMENTS=true
export ARCH=amd64
docker run -d \
    --volume=/:/rootfs:ro \
    --volume=/sys:/sys:rw \
    --volume=/var/lib/docker/:/var/lib/docker:rw \
    --volume=/var/lib/kubelet/:/var/lib/kubelet:rw \
    --volume=/var/run:/var/run:rw \
    --net=host \
    --pid=host \
    --privileged \
    gcr.io/google_containers

[2016-06-10 06:04] hongchaodeng commented on #25563
Without resync, there are two solutions for it:
- service controller can watch the LB changes
- There could be another worker thread that periodically iterate all services in local cache (from informer), and check whether corresponding LB still exists or not.

Either solution in above will help decouple the logic and help reduce complexity of each part. Informer will be simpler. Service controller

[2016-06-10 06:12] bgrant0607 commented on #27076
This needs to make its way into the release notes.
cc @david-mcmahon

[2016-06-10 06:20] andyzheng0831 commented on #27118
I debugged this issue and also tried the fix #27141. @dchen1107 @yujuhong @freehan hope the following information is useful for you.

The problem in the issue is that after a certain test case runs, etcd pods are done and api-server is down accordingly. Kubelet or etcd log does not tell what is wrong. The symptom in the serial tests is that after a certain test, all following tests fail due to api

[2016-06-10 06:31] #27039 closed

[2016-06-10 07:12] #26268 closed

[2016-06-10 07:14] wojtek-t commented on #25563
Yes - what @mqliang wrote is basically the reason. For RC ideally we don't need resync at all, but there are controllers which need to periodically scan all objects to ensure that everything is ok. LBs are one example, PV-controller is another one.

@hongchaodeng - regarding your suggestions:
- service controller cannot watch LB changes, because cloud providers don't implement watch in general (an

[2016-06-10 07:15] bgrant0607 commented on #3595
cc @kubernetes/sig-node

[2016-06-10 07:17] jmastr commented on #21397
@therc +1 Are there any updates about Route53 support? Thanks for the SSL ELB support btw.

[2016-06-10 07:56] jszczepkowski opened #27173 "kubectl logs does not return logs from master node"
If are getting logs from a pod running in kube-system namespace on a node, kubectl works fine, e.g.:
[code]
However, if we are getting logs from a pod running on master, operation fails, e.g.:
[code]

[2016-06-10 07:57] jszczepkowski commented on #27173
CC @fgrzadkowski @piosz @mwielgus

[2016-06-10 08:12] paralin opened #27174 "PetSet: pod scheduling failures or unbound PVCs results in an infinite loop of PVC creation"
I tried setting a PVC without a storage-class on a PetSet so that I could manually create the volumes:

[code]

This resulted in over 80 pvcs being created as the lower numbered ones could not be bound, so I assume it just made more without deleting the failed ones.

The expected behavior is that the petset just waits for the PVC to bind before continuing.

[2016-06-10 08:29] paralin commented on #27174
Client Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.5", GitCommit:"914163247d9a16b46921e83f7dbedb572859b3e4", GitTreeState:"clean", BuildDate:"2016-06-06T01:10:31Z", GoVersion:"go1.6.2", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.5", GitCommit:"914163247d9a16b46921e83f7dbedb572859b3e4", GitTreeState:"

[2016-06-10 08:30] paralin commented on #27067
probably same thing as #27174

@chrislovecnm how much $$ were you paying for all of that storage? o.O

[2016-06-10 08:34] kubum commented on #23535
I got the same issue on Google Cloud Platform. I doubt it is an AWS dependency.

[2016-06-10 08:40] chrislovecnm commented on #27174
@bprashanth @bgrant0607 guys this is a show stopper ...

[2016-06-10 08:42] ApsOps commented on #23597
I think the default history limit should be set to `2`.

[2016-06-10 08:42] chrislovecnm commented on #27067
Yah but that storage was actually meant to be created.  Yours was not :P  And it created the storage correctly....

[2016-06-10 08:54] #26997 closed

[2016-06-10 08:55] wojtek-t opened #27175 "Integration tests seem to not run"
When running integration tests yesterday I had:
[code]

Today I have:
[code]

It seems that we no longer running integration tests (I don't believe we speeded them up by 1500x)

@mikedanese @lavalamp @kubernetes/sig-testing

[2016-06-10 09:10] wojtek-t commented on #27175
@k8s-oncall - FYI

[2016-06-10 09:29] wojtek-t commented on #27175
And from Jenkins builder from a random PR:
[code]

Clearly something is really wrong:
http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/30014/consoleFull

[2016-06-10 09:36] wojtek-t commented on #27175
In particular, it seems we are only running a single test:
[code]

See e.g.:
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/12875/artifacts/?project=kubernetes-jenkins

[2016-06-10 09:47] pigmej commented on #26840
I will work on this issue.

[2016-06-10 09:48] wojtek-t commented on #27175
The first run in which it was broken is this one:
http://kubekins.dls.corp.google.com:8080/view/Critical%20Builds/job/kubernetes-test-go/12866/

[2016-06-10 09:49] wojtek-t commented on #27175
So most probably this was broken by:
https://github.com/kubernetes/kubernetes/pull/26188

[2016-06-10 09:49] wojtek-t commented on #27175
I'm going to try to revert that PR.

[2016-06-10 09:49] wojtek-t commented on #27175
@brendandburns @spxtr

[2016-06-10 09:55] idvoretskyi commented on #27076
Tracking to be added to Kubernetes-PM.

[2016-06-10 10:02] cheld opened #27177 "Name resolving not working in CNI plugin"
Problem:
The name resolving is not working when cni network plugin is used.

Steps:
1. setup cni configuration as described: https://github.com/containernetworking/cni
2. run kubelet with cni plugin. define one container in manifest
[code]

Remark:
It works when launching with docker-run script:
[code]

I am using Docker 1.10. According to https://docs.docker.com/engine/userguide/networking/config

[2016-06-10 10:15] piosz opened #27178 "No encoder for resource.Quantity"
When I'm running the new version of [addon-resizer](https://github.com/kubernetes/contrib/tree/master/addon-resizer) I see the following logs:

[code]

What did I wrong?

cc @smarterclayton @wojtek-t

[2016-06-10 10:40] cheld commented on #27177
Additional remark: network is setup correctly. ping with ip works

CC @zreigz

[2016-06-10 11:02] wojtek-t opened #27179 "integration flake: TestPersistentVolumeMultiPV"
[code]

https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27176/kubernetes-pull-test-unit-integration/30016/artifacts/

@jsafrane

[2016-06-10 11:05] wojtek-t commented on #27175
Reverting that PR helps. I'm going to merge it manually once tests are green.

[2016-06-10 11:48] #26343 closed

[2016-06-10 11:52] wojtek-t commented on #25940
What we should also do is to split tests from cmd/integration into single pieces and migrate them to test/integration. I already started doing it in my free cycles.
This will reduce the amount of code we are compiling, and once @mikedanese PR is in, it will help even more.

[2016-06-10 12:27] dims commented on #27173
@jszczepkowski : dumb question, if you run "`kubectl describe ds`" "`kubectl describe po`", do you see the pod/daemonset in the correct namespace?

[2016-06-10 12:43] jsafrane commented on #27179
That does not make any sense. `fake-pvc-57` should not exist at this point, it's from different integration test and `TestPersistentVolumeMultiPVs` starts with `deleteAllEtcdKeys()`.

@ixdy, Is it possible that that another test is running at this time? Each test basically starts with `deleteAllEtcdKeys()`, so parallelism is IMO not possible as the tests will delete keys of each other.

[2016-06-10 12:54] justinsb commented on #25602
@aarondav this is so that a network overlay (like flannel) can use the k8s API as a source of truth.  And then, yes, I did build a simple network overlay using GRE tunnels https://github.com/kopeio/kope-routing/tree/master/pkg/routecontroller/routingproviders

[2016-06-10 13:05] timothysc commented on #27076
Here is the current patch-set thus far ( https://github.com/docker/docker/compare/v1.10.3...runcom:docker-1.10.3-stable ) , we are still finding+fixing atm.

[2016-06-10 13:09] piosz commented on #27178
I had cluster in version `v1.3.0-alpha.5.313+f1edc31d526094` and addon-resizer in version 1.1 which uses client in version `release_1_2` from commit https://github.com/kubernetes/kubernetes/commit/7476d97781563b70e8b89a8bd3f99ea75ae6c290.

There were also other suspicious logs:
[code]

[2016-06-10 13:10] piosz commented on #27178
cc @fgrzadkowski @lavalamp

[2016-06-10 13:19] smsahu commented on #27172
Issue got fixed after I commented below 2 lines on startup script.
#        --cluster-dns=10.0.0.10 \
#        --cluster-domain=cluster.local \

But can any one let me know why it failed to work with dns without any system changes???

[2016-06-10 13:30] ncdc commented on #27154
cc @kubernetes/rh-ux

[2016-06-10 14:20] smarterclayton commented on #27178
This is a bug because something is using an internal version to encode a
value.  We've seen this for kubectl apply and a few other commands - if you
end up calling Marshal on an internal API object it will print these errors.

On Fri, Jun 10, 2016 at 9:10 AM, Piotr Szczesniak <notifications@github.com>
wrote:

[2016-06-10 14:21] smarterclayton commented on #27178
The issue for apply is https://github.com/kubernetes/kubernetes/issues/26840

On Fri, Jun 10, 2016 at 10:20 AM, Clayton Coleman <ccoleman@redhat.com> wrote:

[2016-06-10 14:39] maverick-racheal commented on #22639
Is there any workaround for this. I see this issue every time I try to bring up a RC/pod

[2016-06-10 14:39] VinayKumarbrsoft commented on #27149
Provisio-utils.sh had following code in the distribution:

` # Install salt binaries
    curl -sS -L --connect-timeout 20 --retry 6 --retry-delay 10 https://bootstrap.saltstack.com | sh -s`

Replaced it with the following and restarted the cluster to resolve the problem:

`# Install salt from official repositories
    # Need to enable testing-repos to get version of salt with fix for dnf-core-plug

[2016-06-10 14:40] #27149 closed

[2016-06-10 14:46] jsafrane commented on #27179
So, it looks like the tests are not running in parallel, however some volumes leak from one test to another one, even past `deleteAllEtcdKeys()`. I have no explanation for this, but I can reproduce it locally with logs I need.

I have gut feeling that there is something wrong in the way how controller stops - each test starts a new one and stops it in the end. `PV controller.Stop()` just closes so

[2016-06-10 15:56] aarondav commented on #25602
Got it, thanks, that's very interesting. It implies that flannel could operate in a read-only mode from the API server, without direct access to an etcd.

[2016-06-10 16:19] pwittrock commented on #27014
Fixed in #27057

[2016-06-10 16:19] #27014 closed

[2016-06-10 16:19] pwittrock commented on #26715
Looks like this is related to infrastructure.  We are adding some debug info in #27148.

[2016-06-10 16:23] hongchaodeng commented on #25563
It could be achieved very easily using a common routine.
From user's perspective and informer implementation perspective, we should separate such "iterating items" events from informer callbacks AddFunc, etc. Why are we coupling them inside informer? Decoupling them is good for debugging, maintaining.

Why wouldn't I write out the code and do some real comparison? I will submit some code shortly.

[2016-06-10 16:36] yujuhong commented on #27173
See https://github.com/kubernetes/kubernetes/issues/6428#issuecomment-221042992 and https://github.com/kubernetes/kubernetes/issues/6428#issuecomment-221044285

[2016-06-10 16:39] timothysc commented on #25563
OK, this issue is kind of conflated on a re-read-through.

- RC's don't really need a rsync (I think we can agree on that), however we've beaten on this with the latest code and we can see that with number of RC's it's not so bad anymore with the re-list removed.

Totally a +1 on setting resync interval to 0 there.

@mqliang are you testing the latest tip of master?
What else seems to be the conce

[2016-06-10 16:39] yujuhong commented on #27118
There are too many tests in the serial suite. I think it'd be a bit ineffective to run the entire suite. IIUC, daemonset test seems to be the one triggering the issue (i.e., it's the only test that schedules pods on the master node), so perhaps you can try running that one test to see how it goes. The better solution is to add a test for this case specifically, which is included in #27134.

[2016-06-10 16:40] dchen1107 commented on #26987
#27092 was merged, close the issue. Thanks!

[2016-06-10 16:40] #26987 closed

[2016-06-10 16:43] dims commented on #5875
@thockin Looks like port protocol etc are in there now. Can we close this?

[code]

[2016-06-10 16:49] #26726 closed

[2016-06-10 16:50] pwittrock commented on #26673
@osterman

triggering two back-to-back deployments in rapid succession.

What are the back-to-back deployments?  Is this just 2 `kubectl apply` calls?  Does the apply operation complete (return) before the second is started?

please apply your changes to the latest version and try again

This error message indicates that the deployment was updated between reading the deployment and writing it.  If

[2016-06-10 16:53] pmorie commented on #27159
The functionality in question is actually for attaching GIDs to volumes which can't be chowned, not SELinux.

[2016-06-10 16:56] dims commented on #4439
@ixdy Is there still something we need to do? (since the issue is very old)

[2016-06-10 16:58] pwittrock commented on #26673
Marking as P2 since this may already be addressed

[2016-06-10 16:59] bprashanth commented on #27174
You have 80 replicas so this sounds like WAI? You should still only have 1 pet, not 80, till you provision the pvs for each pvc. We create all 80 up front because the pv acquisition can happen parallel to pet bringup, and it takes a while for a dynamic provisioner to acquire a pv.

Were they in Pending?

Maybe I don't understand the request, are you asking that if you were to create 2 disks c1 and

[2016-06-10 17:00] dchen1107 commented on #26626
I raised the priority for this pr, since it is important to diagnose the network connectivity issue.

[2016-06-10 17:00] derekwaynecarr opened #27189 "Too much information in events when pods fail to find a fit"
If a pod fails to fit a node in the cluster, we create an event that explains why.  That is good.

My concern is that the event leaks potentially too much information or is just way too verbose for large clusters.

The event that is produced is like the following:

[code]

So if you have a large cluster size, but you create a pod that is larger than any node in that cluster, you get a really big e

[2016-06-10 17:00] dchen1107 commented on #26455
ping...

Can we have the image with docker 1.11.2 ready for testing today? Thanks!

[2016-06-10 17:01] pwittrock commented on #26808
Fixed in #26832

[2016-06-10 17:01] #26808 closed

[2016-06-10 17:03] pwittrock commented on #26834
Janet's PR looks good.  Should be merged soon.

[2016-06-10 17:05] AdoHe commented on #26840
@pigmej thanks very much. If you have any problem, please comment here, I would like to help.

[2016-06-10 17:11] smarterclayton commented on #27189
How much output is generated by a 2k node cluster when it fails to find a
fit?  Also a security attack vector (define impossible conditions and then
schedule, which causes events to get created that are way too big)?

On Fri, Jun 10, 2016 at 1:01 PM, Derek Carr <notifications@github.com>
wrote:

[2016-06-10 17:11] dims commented on #3573
/subscribe

[2016-06-10 17:11] derekwaynecarr commented on #27189
@smarterclayton - i didnt try on a huge cluster, but it would be a line per node.  so....

[2016-06-10 17:12] chrislovecnm commented on #27174
Front what i understood, he created volumes by hand. The PetSet mounted the first 3, then wigged out. It then created a bunch more itself.  But I will defer to the op.

[2016-06-10 17:13] derekwaynecarr commented on #27189
area we should think about changing:
https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/scheduler/generic_scheduler.go#L51

[2016-06-10 17:19] caesarxuchao commented on #26728
The logging issue in GKE is fixed, but there is no new occurrence of the flake since 7 days ago.

[2016-06-10 17:22] ncdc commented on #27156
The `https_proxy` test succeeded but `HTTPS_PROXY` failed. I assume this is transient. Is there any way to get the master logs from GKE?

[2016-06-10 17:23] girishkalele commented on #26135
Latest failure seems to be because of another image pull flake - kubelet reports a new error message **"Cancel pulling image because of no progress"**

Node: e2e-scalability-minion-group-169w

[code]

[2016-06-10 17:25] girishkalele opened #27191 "Salt should retry network resource fetching"
From salt failure in https://github.com/kubernetes/kubernetes/issues/26135, we see that if the resource fetch from GCS failed, salt failed to stage the CNI plugin tarball and did not retry.

Filing this issue to follow up if we can tweak salt to retry fetching of network resources.

**Unable to manage file: Error reading https://storage.googleapis.com/kubernetes-release/network-plugins/cni-c864f0e

[2016-06-10 17:25] adityakali commented on #26455
I am building one now.

[2016-06-10 17:32] yujuhong commented on #26135
This was introduced last week in #26677. kubelet will only cancel the pull request if it hasn't made any progress in 1 minute. This is more of a reliability fix to make sure the pod worker doesn't hang forever because of this one request.

[2016-06-10 17:35] lavalamp commented on #27175
thanks!

On Fri, Jun 10, 2016 at 4:05 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-06-10 17:39] yujuhong commented on #25277
This was fixed long ago.

Have we seen any more image pulling issues for test pods (i.e., non-kube-system pods)? If not, I think we can close this one since there are multiple issues tracking potential, long-term solutions already.

[2016-06-10 17:53] girishkalele commented on #26135
@yujuhong Yes, this is a good clear error message, much better than the indeterminate time hang previously.

[2016-06-10 17:57] euank commented on #26903
After a little further thought about the problem, note that the `/proc/pid/cgroup` file has the longer string and contains a ':'. I hunted down the runc code that `container_manager_linux` calls for this [here](https://github.com/opencontainers/runc/blob/e40e71f521f4fcc2c0ef817fa38161d72635b113/libcontainer/cgroups/utils.go#L265) and noticed that they Split on ':', not SplitN or such. That explain

[2016-06-10 17:57] yifan-gu commented on #26997
cc @pbx0 So as #27098 is merged, we don't need to bind mount the journalctl binary now :)

[2016-06-10 17:59] ixdy commented on #4439
I think supporting versions of docker that old is pretty unrealistic. :)

[2016-06-10 17:59] #4439 closed

[2016-06-10 18:01] chrislovecnm commented on #27174
@paralin can you provide step by step instructions on what you did?

1. created disk this way
2. created PV this way
3. launched petset

etc... THANKS!!

[2016-06-10 18:08] ixdy commented on #27179
The tests might be running in parallel - I think that's what `go test` does by default.

[2016-06-10 18:09] ixdy commented on #27179
though that parallelism may only be across separate test suites, so `test/integration` is probably not run in parallel.

[2016-06-10 18:10] freehan commented on #27177
Are you running stand alone kubelet?
It looks like kubelet pick configure the wrong dns for container. You can try to set your pod's dnsPolicy to Default. See if that helps.

[2016-06-10 18:13] saad-ali commented on #26662
So since it sounds like like expected behavior, I say the test is probably testing the wrong fields if we are breaking the behavior across versions. But just my 2c.

Removing @jingxu97 from assignees since it doesn't look like there's any further debugging needed here.

[2016-06-10 18:15] janetkuo commented on #23677
There's a fix #27160 ready

[2016-06-10 18:18] paralin commented on #27174
@bprashanth I had 3 replicas set, it just went out of control and spammed PVCs.

I'll put a step by step here shortly.

[2016-06-10 18:25] jingxu97 commented on #26662
For running cross-version tests, I have some steps listed in issue #27096 https://github.com/kubernetes/kubernetes/issues/27096

[2016-06-10 18:26] smarterclayton commented on #26896
Moving this out of 1.3

[2016-06-10 18:29] Random-Liu commented on #26135
Not sure why in this case image pulling is always stuck after successfully pulling or downloading an image layer:
[code]
[code]
After `Download` the next step should be `Extract` which doesn't really need network, IIUC.
Maybe docker has a deadlock before `Extract`? (Just a wild guess) https://github.com/docker/docker/blob/master/distribution/xfer/download.go#L249-L313

[2016-06-10 18:31] davidopp commented on #27189
ref/ #20064

[2016-06-10 18:35] davidopp commented on #27189
We should separate the security issue from the usability issue. The usability issue should be addressed by #20064 and is pretty easy. (It was supposed to be in 1.3 but didn't get it. We'll definitely have it in 1.4)

I'm not sure how to handle the other issue you mentioned. Some kind of flag that enables or disables how verbose the "why it won't schedule" information is, depending on the cluster s

[2016-06-10 18:37] smarterclayton commented on #25635
Nm, wrong one.

[2016-06-10 18:37] #25635 closed

[2016-06-10 18:42] andyzheng0831 commented on #27150
Status update:
1. I don't think this is an issue only in GCI. I tried with all instances on ContainerVM. I hit the same issue. The second group fails to join in the cluster. "kubectl get nodes --show-labels" only shows the first group. The kube-controller-manager log also shows "Deleting node (no longer present in cloud provider): kubernetes-minion-group-8cbd"

2. I got the same error as in @chris

[2016-06-10 18:42] yujuhong commented on #26135
Interestingly, docker.log shows other pull errors from the image prepull pod around the same period.
[code]

[2016-06-10 18:48] chrislovecnm commented on #27174
@paralin thanks!

[2016-06-10 18:48] luxas commented on #27177
/sub

[2016-06-10 18:50] chrislovecnm commented on #27150
@andyzheng0831 I am also noticing that my master is GCI (I think) an my nodes are debian ... And I selected GCI ...

[2016-06-10 18:50] jonmoter commented on #2203
@soltysh, any word on your PR?

[2016-06-10 18:51] quinton-hoole commented on #24476
I saw this again today.

[code]

https://00e9e64bac1bd6278563871399fd4cb81957a382258ab9b033-apidata.googleusercontent.com/download/storage/v1_internal/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F27166%2Fkubernetes-pull-build-test-e2e-gce%2F44155%2Fbuild-log.txt?qk=AD5uMEsvKenoYWy_Xqw3WkEAjmEVGzMcxN3Ayb0e10yZcE4UrIfKntrbIgL6dyZC5-0LDMlE-QhNYpFx79AYa5hkCtLfEYRYLT_botEeR2iEeGtrEqJRxk-6zhr5uJXlRE8pnjGadxn

[2016-06-10 18:52] ericchiang commented on #2203
@jonmoter https://github.com/kubernetes/kubernetes/pull/27087

[2016-06-10 18:54] andyzheng0831 commented on #27150
@chrislovecnm by default you will get a cluster with master on GCI and nodes on ContainerVM. But you have a way to explicitly set what distro you want to use. For example, I just tested the pure ContainerVM-based cluster by setting the following vars. Then your cluster will has nothing to do with GCI.

export KUBE_OS_DISTRIBUTION=debian
export KUBE_GCE_MASTER_IMAGE=container-vm-v20160321

I have a

[2016-06-10 18:56] chrislovecnm commented on #27150
@andyzheng0831 we that documented more :) Unless you can point me that direction.  Otherwise I will filed a separate ticket.

[2016-06-10 18:56] chrislovecnm commented on #27150
@andyzheng0831 appreciate the help a TON!!!!!

[2016-06-10 18:59] andyzheng0831 commented on #27150
@chrislovecnm what did you refer to "documented more"? There is a long discussion in issue #25977 about switch the default master from ContainerVM to GCI. And you can find more information about GCI in this README (https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/README.md). All GCI instance config is hosted in that dir also.

[2016-06-10 19:01] chrislovecnm commented on #27150
@andyzheng0831 sorry was not clear.  Full documentation on every damn ENV var in those awesome scripts.  What they do ...  I had to pick through them by hand.  Pretty clear, but if you don't know bash ...

[2016-06-10 19:01] hasbro17 opened #27194 "cAdvisor /stats/summary endpoint in kubelet returns incorrect cpu usage numbers"
### Environment
Kubernetes version: 1.2.3
Docker version: 1.10.3
3 node(c4.xLarge) cluster on AWS running CoreOS 1010.4.0.
### Issue
After facing an issue with incorrect metrics being reported by heapster kubernetes/heapster#1177 I tried querying the cadvisor /stats/summary endpoint directly to see if that would give me consistent values for node cpu usage.
I have one pod with cpu request=1000m an

[2016-06-10 19:03] andyzheng0831 commented on #27150
Oh, got you. You are talking about this file https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/config-default.sh. Yeah, it is not straightforward to see what is a var for. Typically, I have to grep the shell scripts in cluster/gce/ to see how to use them. So if you think this hurts, please go ahead with logging another issue

[2016-06-10 19:09] chrislovecnm commented on #27150
@andyzheng0831 yah ... you know documentation for that and other cloud providers .... lol

[2016-06-10 19:12] hongchaodeng commented on #27194
/cc @xiang90

[2016-06-10 19:12] luxas commented on #26515
I'll be fixed with the upcoming `v1.3` release.

[2016-06-10 19:12] #26515 closed

[2016-06-10 19:13] xiang90 commented on #27194
/cc @vishh

[2016-06-10 19:15] andyzheng0831 commented on #27150
Originally I thought the issue is due to the error about unbound var KUBE_MASTER when running kube-up.sh for the second node group. After I manually export this var to the master name, the issue still happens.

@jlowdermilk as I mentioned in https://github.com/kubernetes/kubernetes/issues/27150#issuecomment-225266309, this is not a GCI issue. It is a general problem for ContainerVM also. I am not

[2016-06-10 19:18] osterman commented on #26673
@pwittrock thanks for your response!

Yes, back-to-back `apply` calls, though we throw in an `annotate` after each `apply`.

That sounds very promising!

[2016-06-10 19:25] k8s-merge-robot opened #27195 "[k8s.io] Kubectl client [k8s.io] Proxy server should support proxy with --port 0 [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18471/

Failed: [k8s.io] Kubectl client [k8s.io] Proxy server should support proxy with --port 0 [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-10 19:25] k8s-merge-robot opened #27196 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8890/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] ReplicationController light Should scale from 2 pods to 1 pod {Kubernetes e2e suite}

[code]

[2016-06-10 19:33] pmorie opened #27197 "Supplemental groups on PVs mutate pod spec in kubelet"
#20490 added a beta feature which allows PVs to be annotated with a GID that owns them.  This is to facilitate volumes like NFS that cannot be safely chowned/chmoded from the client and thus do not work with FSGroup.  There are a couple issues with this PR that need to be sorted out:

1.  The pod spec should not be mutated.  We should formalize in the contract for volume plugins that the `api.Pod`

[2016-06-10 19:37] derekwaynecarr commented on #27197
@vishh - this is similar to some of the discussions we had where we should not mutate internal caches in kubelet.

[2016-06-10 19:40] david-mcmahon commented on #27076
We don't currently have any mechanism to track and scrape "known issues".  That has been one of the hand curated items of release notes.  This issue is a good start at least to keep them all in one place for 1.3.  If we can agree on this, or some other format, going forward we can build functionality to extract them in an automated fashion.

Maybe for ease (and less moving parts), we simply keep a

[2016-06-10 19:41] ixdy commented on #24476
The PR Jenkins master VM rebooted again, and the metadata cache server didn't start.

@kubernetes/goog-testing we need to figure out why this isn't starting on boot - P0.

[2016-06-10 19:41] pmorie commented on #27197
@pweil- touch point with security policy here.

[2016-06-10 19:51] vishh commented on #27197
@derekwaynecarr My main concern with the copy approach is that the kubelet code might become too complicated to understand/reason. That concern can be solved through code cleanup and clear abstractions I hope.

[2016-06-10 19:52] wojtek-t commented on #27175
BTW - it seems that I broke build in the meantime for few hours. But I think it was still a better solution than not running integration tests at all and risking breaking next test...

[2016-06-10 19:59] janetkuo commented on #24476
Again https://console.developers.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27012/kubernetes-pull-build-test-e2e-gce/44161/artifacts/

[2016-06-10 20:00] ixdy commented on #24476
yeah, the metadata cache keeps dying.

[2016-06-10 20:03] fejta commented on #24476
I set the master to 0 executors

[2016-06-10 20:03] #24476 closed

[2016-06-10 20:18] janetkuo commented on #25353
@isubuz you may just say so in the issue. However I don't think we should support json output in `describe`. Closing this as a dup of #25355 and we can continue the discussion there.

[2016-06-10 20:18] janetkuo commented on #25355
@kubernetes/kubectl

[2016-06-10 20:19] janetkuo commented on #27090
@kubernetes/kubectl

[2016-06-10 20:20] girishkalele commented on #22823
DNS Bench results against 1.3 DNS with 1 replica - 100 second run averaged ~ **1300 QPS, 99.69% queries successfully completed**.
Added DNS Perf container build and run assets into kubernetes/contrib

https://github.com/kubernetes/contrib/pull/1189

[code]

[2016-06-10 20:28] jnardiello commented on #25353
@janetkuo why saying so? Doesn't make much sense to me that some of the commands support `json` and other don't. I might be missing the point and would love to hear your point of view.
`describe` has some additional info if compared to `get` which people could need to access programmatically automating their infrastructure.

By saying "we should not support" you are forcing them to rely on parsing

[2016-06-10 20:37] markturansky opened #27198 "PVClaim deletion should be graceful wrt running pods"
The scheduler knows which pods are on which nodes. It figures out all volumes on a node by the sum of its pods.  It does this to enforce constraints in a cloud environment.

It is possible to delete a PVC while a pod is still running.  The pod will continue to function, the PV remains attached to a node.

When the scheduler attempts to place new pods on the node, it looks up all its existing PVs a

[2016-06-10 20:41] janetkuo commented on #25353
I'm saying that because `describe` is more human-readable than machine-readable (script-friendly). If we really want to supporting -o json in `describe` we need some standard scheme that maintains backward comparability.

Reopen since we don't have an agreement here. Also cc @kubernetes/kubectl

[2016-06-10 20:46] smarterclayton commented on #25353
I'm fairly concerned about making Describe a structured API that has to have version compatibility.  I do think it's valuable that some elements of it be consumable by machines, but I think that's a much larger discussion and good UX may trump good machine consumption.

[2016-06-10 20:47] smarterclayton commented on #25355
The output is calculated in a fairly intensive way across multiple APIs.  You're really asking to expose an API that can provide this info, which isn't unreasonable.

[2016-06-10 20:47] childsb commented on #27198
Mark, can you provide a recreate scenario for this?

[2016-06-10 20:48] markturansky commented on #27198
1.  Create a PVC in a cloud environment.
2.  Use it in a pod.  Watch your pod run successfully.
3.  Delete the PVC.  Your pod is still running.
4.  That's it.  All new pods will fail.

[2016-06-10 20:49] childsb commented on #27198
thanks we'll take a look at this

[2016-06-10 20:49] markturansky commented on #27198
We diagnosed this because the PVs were in Failed state with the error message ""Deletion error: error deleting EBS volumes: VolumeInUse: Volume vol-9dbdca38 is currently attached to i-0edeb841d8a2d3a77\n\tstatus code: 400, request id: "

We saw the PVC was missing and confirmed the pod using it was still running.

[2016-06-10 20:51] markturansky commented on #27198
Subsequent pods get an error event like this:

1:52:57 PM	notebook-3-6obzq	Pod	Warning	Failed scheduling 	PersistentVolumeClaim 'testproject/database' is not in cache

[2016-06-10 21:04] dims commented on #26996
Others are finding it too https://github.com/kubernetes/kubernetes/issues/26864

[2016-06-10 21:06] dims commented on #26943
being worked on in https://github.com/kubernetes/kubernetes/issues/26996 (Also see https://github.com/kubernetes/kubernetes/issues/26864)

[2016-06-10 21:10] dims commented on #26864
and of https://github.com/kubernetes/kubernetes/issues/26996

[2016-06-10 21:19] abhgupta commented on #27198
Possible approaches:

1. Continue to other nodes when scheduler returns an error with one node.
 - since the "broken" PV exists on a particular node, the pod should be able to be successfully scheduled on a different node
 - issue already exists --> https://github.com/kubernetes/kubernetes/issues/22554
2. Prevent the PVC from being deleted by the user
 - we could do this with an admission controll

[2016-06-10 21:23] pmorie commented on #27197
Discussed a fix for the pod mutation with @saad-ali here: https://github.com/kubernetes/kubernetes/pull/26801/files#r66683068

[2016-06-10 21:34] yujuhong commented on #27197
This could also cause performance issues if objects such as pods are copied on every call, even though most components in kubelet don't need to mutate the objects.

[2016-06-10 21:35] WeixuZhuang opened #27201 "Azure Resource Manager support for E2E Tests"
With a PR recently azure E2E support was re-instated in Kubernetes master repository. This is as referenced by the following issue -
https://github.com/kubernetes/kubernetes/pull/21207
The methodology used in the previous commits were the old way of using ASM Apis.

There was a request to support Azure E2E with ARM templates that use the new Azure Resource Manager APIs which are being support long

[2016-06-10 21:38] abhgupta commented on #27198
Had a discussion with @markturansky and @smarterclayton and I am going to submit a PR for option 3 listed in https://github.com/kubernetes/kubernetes/issues/27198#issuecomment-225298492

[2016-06-10 21:38] yifan-gu commented on #27173
subscribe.

[2016-06-10 21:42] derekwaynecarr commented on #26903
@euank  - nice detective work.

[2016-06-10 21:48] krousey commented on #26628
Seems to not have re-occurred. Any objections to closing this?

[2016-06-10 21:57] philips commented on #26903
Yes, nice work @euank!

[2016-06-10 21:59] dubstack opened #27204 "Adding support for QoS cgroup Hierarchy and Pod level resource management in Kubelet"
This PR adds support for pod level cgroups and is the first step towards improving Quality Of Service.
I plan to use this issue to track progress of the work on adding support for QoS Cgroup hierarchy.
### Short Introduction

We will have have a unified cgroup hierarchy with pod level cgroups for better resource management. The cgroup hierarchy would have top level cgroups for the three Quality of

[2016-06-10 22:01] four43 commented on #26707
I was having the DNS slowness issue, as referenced by [kube-aws #533](https://github.com/coreos/coreos-kubernetes/issues/533) above. We found that DNS performance on our cluster was limiting our requests. An estimate of 40,000 DNS requests/min I think would be a fair estimate for our usage and we had to scale our DNS pods out to use 600 CPU units (100/pod in our setup) in order to handle that load

[2016-06-10 22:05] david-mcmahon commented on #26798
Branch release-1.3 is now available for jenkins.

[2016-06-10 22:05] Random-Liu commented on #27204
@dubstack Good job~~ :)

[2016-06-10 22:07] dchen1107 commented on #27175
@fejta please triage and delegate to the engineer. Thanks!

[2016-06-10 22:07] pmorie commented on #27198
@abhgupta I'm not sure I get this phrase: Count the PV for limit calculation purposes resource if the PVC went missing

[2016-06-10 22:08] euank commented on #23765
I'll grab this issue, want to assign me @yifan-gu ?

[2016-06-10 22:15] thockin commented on #26707
This is a dup.  I am on vacation, but I know there's already a bug to
consider this - I updated it this week :)
On Jun 2, 2016 10:27 PM, "Justin Santa Barbara" <notifications@github.com>
wrote:

[2016-06-10 22:17] dchen1107 opened #27205 "Integration test is broken due to swagger-checker breakage"
Several prs are failed with integration tests, here is one of the examples: https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/27185/kubernetes-pull-test-unit-integration/30033/build-log.txt

[code]

I marked this as p0 since several 1.3 prs with lgtm are blocked by this. @caesarxuchao I don't think this is CSI issue, but please help with triage and re-assign. Thanks! cc/ @lavalamp

[2016-06-10 22:21] abhgupta commented on #27198
@pmorie reworded to --> Count the PV for limit calculation purposes if the PVC is deleted (not in the cache)

[2016-06-10 22:22] dchen1107 commented on #27205
Ok, I am taking over this one since jenkins job kubernetes-test-go is broken due to the same failure, which will block the merge queue completely.

[2016-06-10 22:24] markturansky commented on #27198
@abhgupta been thinking, your fix is appropriate and it *doesn't* actually overcount resources.   This happens only when the PV is still attached and in use by a pod, so counting it is correct.

[2016-06-10 22:25] dcbw commented on #27082
We probably want to update the salt binaries to the recent CNI 0.3 release anyway.  Then we can drop some workarounds in the kubenet plugin.

I'm not familiar with the procedure for getting the right binary bits uploaded, and where the binaries should come from.  Could anyone enlighten me on that?

[2016-06-10 22:27] dcbw commented on #27082
The CNI fix is probably https://github.com/containernetworking/cni/pull/195 I think.

But that is no longer relevant now that https://github.com/kubernetes/kubernetes/pull/27132 has landed.  So I think we can close this issue and upload newer CNI binaries after 1.3 lands?

[2016-06-10 22:31] freehan commented on #27082
@yifan-gu #27132 should have covered this.

@dcbw I am thinking pulling cni to vendor dir and build from there. Somehow similar to kube-proxy. I do not want to build/upload for every new release.

[2016-06-10 22:39] freehan opened #27211 "Add cni to release process"
Currently, cni plugin binary are build and uploaded to GCS beforehand. During deployment, salt will pull and put the binaries in place.

Need to consider a better way to build and manage cni plugins.

[2016-06-10 22:40] freehan commented on #27082
Closing this since it has been fixed.

Continue discussion on better CNI build process at #27211

[2016-06-10 22:40] #27082 closed

[2016-06-10 22:43] janetkuo opened #27212 "`kubectl get rs` should be ordered better and hide 0 replica ones by default"
Right now when you get RS with `kubectl get rs`, they're ordered alphabetically by their name. Since most RS will be created by deployments, it'd be `<deployment-name>-<pod-template-hash>` and the order will be totally random. We should order them better, for example, by number of current replicas, and hide the ones with 0 replicas by default.

@kubernetes/kubectl @kubernetes/deployment

[2016-06-10 22:50] abhgupta commented on #27198
@markturansky Sure, the PV is still around, but we can't be sure of the "type" (source) of the PV and each type of PV could have their own limits for a node. So, the "overcount" is in counting a PV of one type in the limit calculation of all PVs of a different type.

[2016-06-10 22:55] euank opened #27214 "e2e flake: no longer a configured node"
The internal link is: http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//44196

The other "not found" link is https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26759/kubernetes-pull-build-test-e2e-gce/44196/

Hopefully the internal link has some information, I can't view it to check.

[2016-06-10 22:59] Random-Liu commented on #26135
In https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18479/, kube-proxy keeps going up and down during the test, so it never become ready:
[code]

[2016-06-10 23:02] yifan-gu commented on #27082
@freehan Thanks! I will test the fix with rktnetes.

[2016-06-10 23:07] euank commented on #27214
Another occurrence: #27208, internal link http://goto.google.com/prkubekins/job/kubernetes-pull-build-test-e2e-gce//44198

[2016-06-10 23:23] ixdy commented on #24476
https://github.com/kubernetes/test-infra/pull/139 to hopefully help figure out why this keeps crashing.

[2016-06-10 23:24] dchen1107 commented on #27205
There are two issues mixing together which cause kubernetes-test-go failed

1) First issue same as the one I posted in the initial issue description, which decoding issue and invalidate token are red-herring. The failed tests are below:

--- FAIL: TestPersistentVolumeMultiPVs (10.16s)
	persistent_volumes_test.go:254: volumes created
	persistent_volumes_test.go:260: claim created
	persistent_volume

[2016-06-10 23:26] fejta opened #27216 "PR jenkins is unhappy"

[2016-06-10 23:30] spxtr commented on #27216
For the last few hours we've been trying to update a configuration on PR Jenkins. Unfortunately, it gets to the very last post-build step and freezes in the console, despite the logs saying it's finished and successful. Then, Jenkins crashes and we have to reboot the master, which makes everyone else's builds break.

Sorry for the disruption.

[2016-06-10 23:34] Random-Liu commented on #26135
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8700/ in https://github.com/kubernetes/kubernetes/issues/26135#issuecomment-224493240 is also a different issue.

In this case, heapster never became ready. Heapster keeps beening started and died:
[code]

[2016-06-10 23:52] dchen1107 commented on #27205
cc/ @david-mcmahon I think your commit cce9db3aa9555671c5ddf69549b46ed0fd7e472a completely breaks swagger-checker. Unfortunately there is no pr associated with it. Luckily only your commit cce9db3aa9555671c5ddf69549b46ed0fd7e472a is on the top of that. I manually reverted both of your commits to stop the bleeding for now.

[2016-06-10 23:53] #27205 closed

[2016-06-10 23:55] Random-Liu commented on #25543
Another occurrence: https://github.com/kubernetes/kubernetes/issues/26135#issuecomment-225315536

[2016-06-11 00:00] Random-Liu commented on #26135
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-scalability/8371/ in
https://github.com/kubernetes/kubernetes/issues/26135#issuecomment-225320234 is another image pulling failure.

Interestingly, the pattern is exactly the same with https://github.com/kubernetes/kubernetes/issues/26135#issuecomment-225260229:
1) First timeout with "a3ed95caeb02: Pull complete"
[

[2016-06-11 00:00] spxtr commented on #26798
Okay, the most important jobs are in. They'll fail their first run or two, but then they should go green.

[2016-06-11 00:01] spxtr commented on #26798
I need to know which feature jobs need to be created. For 1.2 this was a problem, so if someone doesn't definitively say what to do I'll bother people.

[2016-06-11 00:39] yifan-gu commented on #27211
subscribe

[2016-06-11 00:39] dchen1107 commented on #27179
I bumped the priority to P0 since it is the main cause for kubernetes-test-go now, which blocks merge queue.

[2016-06-11 00:44] dchen1107 opened #27219 "jenkins job kubernetes-e2e-gke* are completely broken"
Both kubernetes-e2e-gke and kubernetes-e2e-gke-slow are broken since 5:00pm.

Digging into ...

[2016-06-11 01:07] ihmccreery commented on #26594
#26643 takes care of the hang, but doesn't address the root problem; we should follow it up with a PR into `master` that makes the test more resilient to receiving nothing from `stdout` by adding a timeout somewhere.  But that can be post-`v1.3`.

[2016-06-11 01:08] ihmccreery opened #27224 "Add instructions for manually recreating upgrade tests"
Per https://github.com/kubernetes/kubernetes/issues/26662#issuecomment-224678472.

[2016-06-11 01:09] ihmccreery commented on #26662
Sorry about the delay.

I agree with @saad-ali; why are we checking ACLs at all; can we just remove that completely?

Currently, there are none.  I filed #27224 and will try to get to it asap.

[2016-06-11 01:10] ihmccreery commented on #26657
This is made obsolete by #26789.

[2016-06-11 01:10] #26657 closed

[2016-06-11 01:22] jlowdermilk commented on #27219
e2e-gke* tests are broken because we missed some config needed by GCI masters to run `v1.3.0-beta.0`. That fix is submitted and rolling out now.

[2016-06-11 01:22] dchen1107 commented on #27219
It turns out both gke* jenkins jobs were broken due to an internal issue which causes the image cannot be found. The issue was fixed, and the image is pushed by @jlowdermilk

#27144 and #27217 should fix pinned jobs. I revert-revert both prs.

[2016-06-11 01:33] dchen1107 commented on #27198
Are we sure we want to include a fix in v1.3? This issue has been here for a long time, at least existing for more than one releases.

[2016-06-11 01:34] dchen1107 commented on #27198
cc/ @matchstick

[2016-06-11 01:35] yifan-gu commented on #25581
I am getting back to this. Will try to have some results for the CPU/memory average usage soon.
Besides, another thing I want to get from this is to investigate why the startup time is slower than docker.

[2016-06-11 01:41] pwittrock commented on #27090
@smarterclayton Is there someone from RH working on upstreaming Templates or are you talking about something else?

[2016-06-11 02:03] euank opened #27228 "rkt: ServiceAccounts should mount an API token into pods [Conformance] failure"
This test has started failing under rkt 1.8.0 with the GetLogs API change.

An example failure can be seen in https://console.cloud.google.com/storage/browser/rktnetes-jenkins/logs/kubernetes-e2e-gce/2639/

I'm fairly confident the root cause is https://github.com/coreos/go-systemd/issues/172

cc @yifan-gu (and good work finding that issue :)

[2016-06-11 02:06] yifan-gu commented on #27228
cc @iaguis @alban @kubernetes/rktnetes-maintainers

[2016-06-11 02:06] derekwaynecarr commented on #27204
We need to ensure this is functional using both the systemd and cgroupfs
docker drivers.  They expect different input.

On Friday, June 10, 2016, Lantao Liu <notifications@github.com> wrote:

[2016-06-11 02:16] dchen1107 commented on #27219
Finally jenkins job: kubernetes-e2e-gke/8925 picks up the right config and the test cluster is up now!

[2016-06-11 02:17] dchen1107 commented on #27219
cc/ @jlowdermilk I am closing this one for now, but will continue monitoring the builds. :-)

[2016-06-11 02:17] #27219 closed

[2016-06-11 02:30] fejta commented on #27175
@wojtek-t fixed things here. http://kubekins.dls.corp.google.com:8081/job/kubernetes-pull-test-unit-integration/30140/consoleFull shows integration tests run again

[2016-06-11 02:30] #27175 closed

[2016-06-11 02:31] fejta commented on #27216
Please reactive and let me know if you see further problems in PR jenkins.

[2016-06-11 02:31] #27216 closed

[2016-06-11 04:12] fejta commented on #26184
Here is what I see:

* gcloud sends gce a list instance request and gets back an error code from gce.
* Every job uses list-resource.sh
* Only the kubemark job fails in this way

How does this test interact with gce? For example, does it create a large number of some kind of GCE resource -- routes, operations, etc -- that the gce control plane needs to process? If so it is likely that this consume

[2016-06-11 06:34] k8s-merge-robot opened #27232 "[k8s.io] Deployment RollingUpdateDeployment should scale up and down in the right order {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8936/

Failed: [k8s.io] Deployment RollingUpdateDeployment should scale up and down in the right order {Kubernetes e2e suite}

[code]

[2016-06-11 07:12] #23677 closed

[2016-06-11 07:19] #26966 closed

[2016-06-11 07:19] fejta commented on #26966
Added kind/flake label to #27004

[2016-06-11 07:21] fejta commented on #27004
Randomly assigning people per thread participating. Please correct assignees as necessary.

[2016-06-11 07:56] k8s-merge-robot opened #27233 "[k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1468/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]

[2016-06-11 10:09] mercuriete opened #27234 "make release-skip-tests dont work with user namespaces."
the isolation and permission that provides user namespaces make imposible to build kubernetes.

steps to reproduce:
1) run your docker daemon with
        ExecStart=/usr/bin/docker daemon --userns-remap=default -H fd://
2) check your /etc/subuid
    cat subuid
    dockremap:100000:65536
3) check your /etc/subgid
    cat subgid
    dockremap:100000:65536
4) check you are in docker group
5) clone ku

[2016-06-11 10:13] ncdc commented on #27195
Please don't assign anything to me right now. I won't be able to look at it
this week. Thanks!

On Saturday, June 11, 2016, Erick Fejta <notifications@github.com> wrote:

[2016-06-11 10:59] pracucci commented on #25353
I understand each point of view here. As an user, I would need (it's a real need, not just a wish) to get `describe` consumable by APIs, yet I understand it could be quite hide (and maybe limiting) to support its backward compatibility at this stage.

@janetkuo is an harder backward compatibility support the only reason why `describe` currently doesn't support `-o json` or there are other reasons?

[2016-06-11 11:34] kargakis commented on #25353
I don't think describe ever existed with the intention to make it programatically consumable. Agreed it's a part of a larger discussion and we should definitely provide programmatic access to all info, I am just not sure how to do it or if a simple -o json flag is the solution.

[2016-06-11 11:35] timothysc commented on #25275
xref: https://github.com/openshift/origin-metrics/issues/141#issuecomment-225294524

[2016-06-11 11:58] AdoHe commented on #27161
/cc @thockin

[2016-06-11 12:21] kargakis commented on #27154
@kubernetes/kubectl

[2016-06-11 13:12] rsabir commented on #23241
+1, Meet the same issue. @luguangzhen : For me, I have no proxy.

[2016-06-11 13:15] k8s-merge-robot opened #27235 "[k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8956/

Failed: [k8s.io] Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26960

[2016-06-11 14:03] #26610 closed

[2016-06-11 14:51] quinton-hoole opened #27236 "e2e failure: kubernetes-e2e-gce-federation fails consistently with 'yaml: line 17: mapping values are not allowed in this context'"
e.g. http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation/557/console

This failure started happening consistently between 16:40 and 17:17 PDT on Friday 6/10/16.  Pretty sure it's due to one of my PR's that merged around that time.  I'm going to revert it.

cc: @madhusudancs @nikhiljindal @mml @colhom @mfanjie FYI

[code]

[2016-06-11 15:34] derekwaynecarr commented on #25353
For context, what info about the node is available in describe that is not
available in get that you are trying to use?  Maybe there is an alternate
operation we can recommend to get the same data set.

On Saturday, June 11, 2016, Michail Kargakis <notifications@github.com>
wrote:

[2016-06-11 16:35] chrislovecnm commented on #25275
A work in progress here https://github.com/kubernetes/kubernetes/pull/26884#issuecomment-225190426

[2016-06-11 16:54] #26609 closed

[2016-06-11 18:15] chrislovecnm opened #27238 "Cassandra 3.0.1 and above - new Cassandra feature while deploying to k8s at scale"
Upon deploying C* in mass (around 30 nodes) on k8s 1.3 alpha I found an issue with a new feature added in C* 3.0.1 and above. Issue is open on C* jira, but I wanted to warn anyone that is deploying Casandra that you need to use >3.0.1 or remove the feature. I am currently testing the removal of the feature and will update accordingly. 2.2.x deploys like a rockstar ;)

The current Cassandra example

[2016-06-11 18:17] chrislovecnm commented on #27238
@bgrant0607 am I able to have the perms to label stuff like this?

[2016-06-11 18:18] chrislovecnm commented on #27238
cc @kubernetes/examples

[2016-06-11 18:18] #27068 closed

[2016-06-11 18:21] piosz commented on #21577
Last PR is merged #26775, so closing the issue.

@lavalamp is there any info that users need to run the upgrade script? AFAIR it was already specified in release notes for 1.2.

[2016-06-11 18:21] #21577 closed

[2016-06-11 18:38] #25703 closed

[2016-06-11 19:04] chrislovecnm commented on #27238
cc @paralin @mward29

[2016-06-11 19:19] chrislovecnm commented on #27067
@paralin ping ... 1.3 is REALLY soon, and would like to get this documented or address before then.  Might you provide step by step instructions?

[2016-06-11 19:23] chrislovecnm commented on #26246
@bobintornado can we please close?

[2016-06-11 19:24] chrislovecnm commented on #24550
Fixed in Head

[2016-06-11 19:24] #24550 closed

[2016-06-11 19:24] chrislovecnm commented on #22307
@andrejvanderzee ping ... otherwise can we close?

[2016-06-11 19:25] chrislovecnm commented on #17724
@palonsoro this is pretty much designed, tested, documented and done at scale.  Can we close?

[2016-06-11 19:26] chrislovecnm commented on #14963
PetSet addresses this nicely ... Is there some needs outside of what PetSet provides?

[2016-06-11 19:41] chrislovecnm opened #27239 "IP Networking between K8s deployments - Cassandra and other applications"
@paralin has some awesome ideas on a GCE specific setup.  This is a placeholder to document these thoughts.

 Requirements:
- 2 or more non-federated K8s deployments or possibly K8s Federated
- K8s deployment alpha - petset alpha is deployed
- K8s deployment beta - petset beta is deployed
- petset alpha and beta are applications that must communicate with every Pet ip address in K8s alpha and K8s

[2016-06-11 19:43] chrislovecnm commented on #27174
@paralin - would love to get this documented or address by 1.3 release.  When can you document??

[2016-06-11 19:45] paralin commented on #27239
I have joining networks over VPN working well and it's a huge priority for me right now to make sure that works. To be clear I'm joining a non kubernetes network and a k8s network such that everyone can see everyone else - you can hit pods from the remote network and the k8s network can hit the remote computers

This would work fine with multiple k8s locations if you set up a different pod CIDR be

[2016-06-11 19:49] chrislovecnm commented on #27239
@paralin you using GCE vpn or vpn pods inside of K8s.  I know there are some significant new capability with 1.2 networking, and I am not a guru to comment.  @bgrant0607 should be able to point us to the right people.

[2016-06-11 19:52] chrislovecnm commented on #27075
@bgrant0607 might you label and assign to me?  I will not start on this till after 1.3 product launch in July

[2016-06-11 19:57] chrislovecnm commented on #24290
@bgrant0607 you can assign this to me if you like.

I am adding SnitchProvider design to this document.

- GCE snitch provider needs testing
- EC2 snitch providers need testing (don't have environment yet)
- Kubernetes snitch provider needs design and implementation.

cc: @paralin @mward29

There are a few different challenges:

The seed provider is not DC aware. You need a seed in every DC, and a

[2016-06-11 20:00] chrislovecnm commented on #27239
@bprashanth / @smarterclayton any thoughts about specifying a range of ips for a PetSet?  That way we know the ip addresses of pet alpha-0, alpha-1, alpha-2 before we deploy?

[2016-06-11 20:08] quinton-hoole commented on #27236
I have somewhat inconclusively narrowed the cause of this down to one of three PRs:

Run 556 succeeded:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation/556/

Run 557, and all subsequent runs are failing consistently as above:

http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation/557/

The PR's that merged between these two are:

1. third time charm for #2714

[2016-06-11 20:23] paralin commented on #27239
@chrislovecnm VPN pods inside k8s. I'm not interested in using any cloud-provider specific features, although I am running on GCE. And it would also be wayy more expensive for me to use GCE VPNs, especially with the volume of connections / specific servers I'm running.

[2016-06-11 20:24] smarterclayton commented on #26967
The current work around would just be to do `kubectl exec POD -- env` (for those who see this issue).

The plan is indeed to make injecting those env vars explicit - user would say `env: name: FOO valueFrom: service <something to indicate you want a set>`.

[2016-06-11 20:25] paralin commented on #24290
So I'm doing this now by joining the networks of two locations and then manually setting the remote-datacenter IP addresses when bootstrapping the cluster. For the frequency I add datacenters (somewhat frequent) I'd like a way to do this automatically. But at the same time not all of the remote datacenters I'm adding are k8s-enabled.

A simple API to query for running k8s instances would be nice.

[2016-06-11 20:33] chrislovecnm commented on #24290
@paralin we already have a custom SeedProvider ... and I would like to have a custom Snitch.  I have already be told that we can get get both into the C* codebase.   The GoogleCloud Snitch should already work (have not tested).  That could be a good starting place.

Google Snitch https://github.com/apache/cassandra/blob/trunk/src/java/org/apache/cassandra/locator/GoogleCloudSnitch.java

K8s Seed P

[2016-06-11 20:35] chrislovecnm commented on #27239
@paralin wouldn't it be cool to have a DC in aws, a DC in gce, and a bare metal DC at a datacenter??  I completely agree with you in regards to multiple cloud DC's!

[2016-06-11 20:38] chrislovecnm commented on #27239
@mward29 is in production on AWS with k8s btw .. and is a C* guru.  That is why I dragged him in over here :)

What are u using for VPN?

[2016-06-11 20:38] paralin commented on #24290
I suppose having this even when you're not running in a k8s pod is fine assuming the k8s api is reachable.

Is the seed code only used at bootstrapping time? So what I'm wondering is, if I lost connectivity to the k8s cluster, could my "remote datacenter" still keep everything running locally?

[2016-06-11 20:39] paralin commented on #27239
OpenVPN. I use Babel for route redistribution, and since Babel can't talk over the GCE networks, I use Google Cloud Networking routes to define the IP CIDRs I have behind the VPN. However, in my "remote datacenter" babel gossip works so I have it running on all the nodes. It results in a very robust setup.

[2016-06-11 20:44] chrislovecnm commented on #27239
What amount of throughput have you tested with?

The only resource I could find on google quickly on babel gossip is a Chinese site ... Docs on Babel?

[2016-06-11 20:47] paralin commented on #27239
https://www.irif.univ-paris-diderot.fr/~jch/software/babel/

It's a really well known routing algorithm.

[2016-06-11 20:58] paralin commented on #27067
I was actually mistaken - I think replicas was set to 80 from @chrislovecnm testing.

Will try spinning up with 3 unbound PVCs.

[2016-06-11 21:05] chrislovecnm commented on #24290
@paralin seeds are used to bootstrap and when gossip goes ass over elbows.

use in:
Start-up / Bootstrap / Gossip / OMG the sky is falling and I cannot find my peers via gossip

You probably know this already, but good place to document:

1. Do not make every C* node a seed
2. replacing a seed is a pain (have not worked on how the hell to do that on on k8s ... manual intervention ... testing .. ma

[2016-06-11 21:06] paralin commented on #27067
Works now.

[2016-06-11 21:07] paralin commented on #27239
See #27161

[2016-06-11 21:07] paralin commented on #27174
Works.

[2016-06-11 21:07] #27174 closed

[2016-06-11 21:08] chrislovecnm commented on #24290
This needs to get into a PR, so that it can be a working document ...

[2016-06-11 21:09] paralin commented on #24290
I thought Cassandra was/is designed to be used for cross-locational replication? Like at Netflix, they replicate their cassandra data between AWS regions. If latency is such a killer, how does that work?

[2016-06-11 21:10] chrislovecnm commented on #27239
@paralin craps ... let me close this one .. will copy over comments

[2016-06-11 21:11] chrislovecnm commented on #27161
I forgot that @paralin opened this.

 Requirements:

- 2 or more non-federated K8s deployments or possibly K8s Federated
- K8s deployment alpha - petset alpha is deployed
- K8s deployment beta - petset beta is deployed
- petset alpha and beta are applications that must communicate with every Pet ip address in K8s alpha and K8s beta.
- Petsets distributed HA systems that are designed to provide mul

[2016-06-11 21:12] paralin commented on #27161
And if anyone here who is an amazing network guru wants to help me with my trivial little routing problem (unrelated to the Services routing)...

http://superuser.com/questions/1087888/ip-forwarding-from-one-server-through-default-route

[2016-06-11 21:12] chrislovecnm commented on #27161
Some notes from now closed: https://github.com/kubernetes/kubernetes/issues/27239

Per @paralin

OpenVPN. I use Babel for route redistribution, and since Babel can't talk over the GCE networks, I use Google Cloud Networking routes to define the IP CIDRs I have behind the VPN. However, in my "remote datacenter" babel gossip works so I have it running on all the nodes. It results in a very robust se

[2016-06-11 21:13] chrislovecnm commented on #27161
@thockin I have been meaning to pester you about this 😀   Might you give us your two cents.  I also know you are SUPER busy because of the 1.3 release...

[2016-06-11 21:14] chrislovecnm commented on #27239
Closed becaue of https://github.com/kubernetes/kubernetes/issues/27239

[2016-06-11 21:14] chrislovecnm commented on #24290
@paralin can be a pain :)  Just don't use a straw with thousands of nodes

[2016-06-11 21:18] chrislovecnm commented on #27067
So I need to NOT have 80 checked in .. I REALLY need to not check in 1000 ...

And for those who are wondering where is it 'checked in at' - https://github.com/k8s-for-greeks/gpmr/blob/80573d1d898bc783d431c5feb77597552f68a00f/pet-race-devops/k8s/cassandra/cassandra-petset-gce.yaml

Which I promise to @bprashanth and @smarterclayton will be moved into this repo, once it is stable, documented, and r

[2016-06-11 21:18] #27067 closed

[2016-06-11 21:26] quinton-hoole commented on #27236
PS:  It actually makes way more sense for #27158 to cause this failure, but that PR merged 4.5 hours before the failures started to occur, and unless I'm misreading the test logs, many and all test runs including #27158 (including some manual ones by myself), passed with flying colors.

[2016-06-11 21:42] kant111 opened #27240 "Unable to deploy kubernetes on local ubuntu machine (so one node)"
Below is my error trace. I am not sure if the following lines from the error trace below is the reason why I wasn't able to deploy kube-up.sh

**Error: 100: Key not found (/coreos.com) [1]
{"Network":"172.16.0.0/16", "Backend": {"Type": "vxlan"}}
{"Network":"172.16.0.0/16", "Backend": {"Type": "vxlan"}}**

---------------------------------------------------------------------------------
ERROR TRAC

[2016-06-11 22:03] thockin commented on #27161
Sorry, I'm, actually on vacation.

As of a few weeks ago (I forget the release but it was a 1.2.x where x != 0) (https://github.com/kubernetes/kubernetes/pull/24429) we fixed the routing such that any traffic that arrives at a node destined for a service IP will be handled as if it came to a node port.  This means you should be able to set yo static routes for your service cluster IP range to one

[2016-06-11 22:11] paralin commented on #27161
@thockin What if the source is from a node itself? Is it possible to create a static route to localhost?

[2016-06-11 22:16] thockin commented on #27161
When a node in the cluster accesses a cluster IP it is already captured.

On Sat, Jun 11, 2016 at 3:12 PM, Christian Stewart <notifications@github.com

[2016-06-11 22:16] andrejvanderzee commented on #22307
@chrislovecnm go ahead and close!

[2016-06-11 22:16] #22307 closed

[2016-06-11 22:17] paralin commented on #27161
@thockin The case I'm running into is, that I'm tunneling some remote traffic through a VPN, and I want cluster IPs to route through there properly. It seems that pod IPs route fine, but cluster IPs do not.

I'll do some more experimenting and get back to you if I can't figure it out still. Have a good vacation!

[2016-06-11 22:20] thockin commented on #27161
What we set up fro GCE customers is a static route for the whole service IP
range to each of the nodes (ECMP).  Traffic through the VPN is subject to
those routing rules, arrives at a random node, is recognized as coming from
"outside this cluster" and is proxied to the Service IP.

On Sat, Jun 11, 2016 at 3:18 PM, Christian Stewart <notifications@github.com

[2016-06-11 22:21] chrislovecnm commented on #27161
@thockin have a great vacation, don't let us interrupt yah!!

[2016-06-11 22:30] thockin commented on #27161
I'm on a crazy half-way timezone still, so we're up but the world around us
is not :)

On Sat, Jun 11, 2016 at 3:22 PM, Chris Love <notifications@github.com>
wrote:

[2016-06-11 22:36] chrislovecnm commented on #27161
@thockin lol - so what cloud independent solution would you recommend? Soup to nuts ;P

[2016-06-11 22:39] bprashanth commented on #27067
Yeah suggest defaulting it to something most people are going to find useful, like 3, when you make it an example

[2016-06-11 22:42] derekwaynecarr commented on #3595
Do those applications also require huge pages?

On Friday, June 10, 2016, Brian Grant <notifications@github.com> wrote:

[2016-06-11 22:44] paralin commented on #27161
@chrislovecnm Routing rules are not specific to GCE, he's just saying, route the traffic to the service IPs to any of the kubernetes nodes, and they will forward them properly. The problem I'm running into is that babel doesn't want to redistribute the route properly it seems.

[2016-06-11 22:45] chrislovecnm commented on #3595
Yep Cassandra and Elastic - jemalloc for Cassandra

[2016-06-11 22:45] chrislovecnm commented on #3595
Redis as well uses jemalloc

[2016-06-11 22:58] chrislovecnm commented on #27161
all I know is that I am staying outta this and letting you network gurus work it out :P

[2016-06-11 23:00] chrislovecnm commented on #27161
Just ELIF when you all work it out ;)

[2016-06-11 23:19] #25909 closed

[2016-06-11 23:20] k8s-merge-robot opened #27241 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1472/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-11 23:33] thockin commented on #27161
The problem is that networking is VERY customized to every site, so it's hard to have a soup-to-nuts *anything*.  Whatever your routing infrastructure is, you can set up static routes that way.  It might be a conf file that configures `ip route` in your cluster nodes, or it might be a BGP config, or it might be some other vendor-centric control plane.

[2016-06-11 23:42] thockin commented on #27161
For GCE *specifically*:

* ensure each k8s cluster has a unique service IP range
* create 3+ static routes for each cluster where range = service range, next-hop = some node in that cluster
* bob's your uncle

[2016-06-11 23:43] chrislovecnm commented on #27161
Encrypted?

[2016-06-11 23:43] chrislovecnm commented on #27161
I am guessing traffic will go Internet?

[2016-06-11 23:44] paralin commented on #27161
@chrislovecnm This is simple IP routing, and on GCE, you can route between network locations seamlessly, it's just about telling the nodes in one region how to get to the pods in the other. I can walk you through it.

[2016-06-11 23:44] thockin commented on #27161
Not encrypted, no internet.  It only affects traffic already inside the perimiter

[2016-06-11 23:46] derekwaynecarr commented on #3595
So it's fair to say you need both features supported on the node?

On Saturday, June 11, 2016, Chris Love <notifications@github.com> wrote:

[2016-06-11 23:56] chrislovecnm commented on #3595
:) Big want :)

Jvm huge pages with jemalloc and redis is in C with jemalloc

Does privelleged mode all for that now? I think we are actually at kernel / docker level, not k8s

[2016-06-11 23:56] chrislovecnm commented on #3595
Allow for that .. Github let me edit on mobile ...

[2016-06-12 00:21] admiralobvious opened #27244 "No GKE CPU usage for own containers on Stackdriver"
Hello,

I have noticed the GKE Container CPU Usage in Stackdriver dashboards only reports CPU usage for containers that are created by default (kube2ky, glbc, etcd, heapster and so on) when creating a container cluster on GCP but not for containers I have created for my own applications. This used to work back in Kubernetes 1.1.x. The GKE Container Memory, Disk usage and Page Faults graphs correct

[2016-06-12 00:26] HaiyangDING commented on #27189
CC @HaiyangDING

I will keep this in mind when implementing #20064

[2016-06-12 00:56] paralin commented on #27161
The solution (thanks @thockin !!)

Check the route on one of your nodes:

[code]

Add this route on your remote device, where tap0 is your device that can "see" the node, and the IP is the ip address of the node:

`ip route add 10.0.0.0/16 dev tap0 via 10.5.0.1 proto static`

Works great.

@chrislovecnm Sorry to do this to you but can you open your old issue again?

[2016-06-12 00:56] paralin commented on #27239
Re-open please, this one has a much larger scope than the other issue.

[2016-06-12 01:35] thockin commented on #27161
This was not exactly what I meant.  I meant to use GCE's static routing API
(when in GCE, obv).

On Sat, Jun 11, 2016 at 5:57 PM, Christian Stewart <notifications@github.com

[2016-06-12 01:39] chrislovecnm commented on #27161
@paralin lets reopen this amigo 😄

[2016-06-12 01:40] chrislovecnm commented on #27161
@thockin does get us backend traffic over google wire not internet?

[2016-06-12 01:41] chrislovecnm commented on #27244
Do you have the stackdriver agent installed?  Also you may want to post this on heapster issues.

[2016-06-12 01:46] chrislovecnm commented on #27150
@zmerlynn to be clear this is a huge blocker for me ... I need it fixed ASAP, and preferably in a release.  We are trying to get multiple zone and multiple DC Cassandra working.

cc: @bgrant0607 @thockin

[2016-06-12 01:48] chrislovecnm commented on #27150
cc: @paralin we cannot test racks until this is fixed.  We can do multiple DC, but racks in the same DC is currently broken in 1.3 alpha 5.

[2016-06-12 01:52] davidopp commented on #27093
I believe what you're requesting is what's usually called "data gravity." We plan to implement it as part of #7562.

[2016-06-12 01:54] k8s-merge-robot opened #27245 "[k8s.io] ConfigMap should be consumable from pods in volume as non-root [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke/8993/

Failed: [k8s.io] ConfigMap should be consumable from pods in volume as non-root [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-12 01:58] davidopp commented on #27150
cc/ @quinton-hoole

[2016-06-12 01:59] davidopp commented on #27044
This is marked as 1.3. Are you planning to do a cherrypick for this?

[2016-06-12 02:00] davidopp commented on #26800
ping @gmarek

[2016-06-12 02:00] #26453 closed

[2016-06-12 02:03] chrislovecnm commented on #27150
@davidopp much thanks

[2016-06-12 02:04] davidopp commented on #24404
Can you list what work remains to be done before you can move this issue to 1.4 milestone?

[2016-06-12 02:06] davidopp commented on #23848
ping @quinton-hoole - this is listed as 1.3 milestone, I see #26034 (and a related PR mentioned there) have merged, can we close this or move it to 1.4 milestone if there will be additional work in the next release?

[2016-06-12 02:07] davidopp commented on #23653
cc/ @mml (see https://github.com/kubernetes/kubernetes/issues/23653#issuecomment-224373590 )

[2016-06-12 02:29] thockin-cc commented on #27161
Yes, stays within GCE as long as same virtual Network.  No public anything,
unless I deeply misunderstand
On Jun 12, 2016 10:41 AM, "Chris Love" <notifications@github.com> wrote:

[2016-06-12 02:59] paralin commented on #27161
@chrislovecnm why reopen?
@thockin-cc I understand exactly what you're saying and will walk @chrislovecnm through it / document it down the line.

[2016-06-12 03:10] chrislovecnm commented on #27161
No worries I guess yah liked the other issue better

[2016-06-12 03:35] thockin-cc commented on #27161
Roger.  Thanks!
On Jun 12, 2016 12:00 PM, "Christian Stewart" <notifications@github.com>
wrote:

[2016-06-12 03:40] mqliang commented on #25563
@timothysc Ok, I am fine with setting resync interval as 0 for RC. But for ServiceController and PV-controller which we do need resync, the work queue saturation problem still exists.

[2016-06-12 03:46] harryge00 commented on #23794
really need this. [http://stackoverflow.com/questions/37761476/kafka-on-kubernetes-cannot-produce-consume-topics-closedchannelexception-error](http://stackoverflow.com/questions/37761476/kafka-on-kubernetes-cannot-produce-consume-topics-closedchannelexception-error)

[2016-06-12 04:45] chrislovecnm commented on #23794
@harryge00 PetSet it is out in alpha ... releasing end of june as alpha.  Was there something specially you are having problems with

[2016-06-12 05:36] piosz commented on #27044
I've started working on this but I'm not sure whether it's possible to easily do it. If yes I'll do a cherrypick.

[2016-06-12 05:39] piosz commented on #27044
I've started working on this but I'm not sure whether it's possible to easily do it. If yes I'll do a cherrypick.

[2016-06-12 05:45] piosz commented on #27244
cc @a-robinson @mwielgus

[2016-06-12 06:17] krmayankk opened #27247 "Limit the nodes on which NodePort is exposed"
For every Kubernetes service, the Nodeports are currently proxied into the service pods from every node. This is all good.
In the scenario if you wanted to run two or three different overlays in a single kubernetes cluster, just to segregate the cluster for security requirements, this presents a problem.

Suppose i have two overlays:-
1: overlay 1 on subnet 1
2: overlay 2 on subnet 2

A service cr

[2016-06-12 06:36] krmayankk opened #27248 "Watching an endpoints throws an error"
the client was 1.2.0 and server was 1.2.4

kc get endpoints shared-e2etest-0-phx --namespace test --watch
NAME                   ENDPOINTS                                                           AGE
shared-e2etest-0-phx   172.16.86.42:8080,172.16.86.43:8080,172.16.86.44:8080 + 3 more...   2d
Error from server: too old resource version: 1416148 (1585264)

[2016-06-12 06:58] a-robinson commented on #27244
To be precise, those default graphs show CPU *utilization*, not usage time. Utilization is only a meaningful metric for containers that have a CPU limit specified, since it's effectively `CPU usage time / reserved cores`. The system containers you list have a CPU limit attribute specified on them, while presumably your pods don't.

On 1.1.x, IIRC the system would use an arbitrary low number as the

[2016-06-12 06:58] #27244 closed

[2016-06-12 07:33] davidopp commented on #26062
@gmarek it seems worth investigating...

[2016-06-12 07:57] davidopp commented on #22272
We could do that, but see also
https://groups.google.com/d/msg/kubernetes-sig-scheduling/jz-IjaoLfm8/3JU7Exd5DAAJ

If we have bigger priority function values, that approach might not fit the total in an int64 (actually it might not fit even with 0-10 range for priority functions, if you have a large enough number of priority functions; I hadn't really thought about it.)

[2016-06-12 08:24] #27043 closed

[2016-06-12 08:25] #27170 closed

[2016-06-12 08:26] tobegit3hub commented on #11684
Same issue for CentOS 7.2.

[code]

[2016-06-12 08:26] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27249 "Run the Docker bootstrap instance under upstart"
Separating “bootstrap” instance of the Docker daemon for using flannel to set up networking between Docker daemons(source http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/).
But the bootstrap instance is missing after reboot.
It likely to run the bootstrap script under upstart.
If I need to add the bootstrap script to the /etc/init/docker.conf.

os : ubuntu 14.04
docker ver

[2016-06-12 09:14] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27251 "the official website docker-mutinode should be more details"
In this page http://kubernetes.io/docs/getting-started-guides/docker-multinode/master/, the forum of Setup Docker Bootstrap warm that '**_If you are running this on a long running system, rather than experimenting, you should run the bootstrap Docker instance under something like SysV init, upstart or systemd so that it is restarted across reboots and failures_**.'Expecting to add related links to

[2016-06-12 10:50] kant111 commented on #17205
@ziliu2020 can you please tell me how you solved the following error? I also filed a ticket in the link below.

Error:  100: Key not found (/coreos.com) [10]
{"Network":"172.19.0.0/16"}
{"Network":"172.19.0.0/16"}

https://github.com/kubernetes/kubernetes/issues/27240

[2016-06-12 11:14] ziliu2020 commented on #17205
i just reinstalled it as root and everything worked fine then.  no matter
you use --no-sync or not, it's not important.  these warning msgs are not
critical and can be ignored.

On Sun, Jun 12, 2016 at 6:51 AM, kant <notifications@github.com> wrote:

[2016-06-12 11:23] kant111 commented on #17205
reinstalled? I just downloaded the kubernetes binary release and changed some stuff in config-default.sh and got pretty far but unable to solve this error. so can give me more pointers?

[2016-06-12 13:19] djtm commented on #19464
In the case of cadvisor it was not compatible with the c library used inside alpine. Static glibc worked:
https://github.com/google/cadvisor/issues/1227
https://github.com/google/cadvisor/pull/1237

[2016-06-12 14:47] mmkonrad commented on #17205
@kant111 What exactly have you changed within `config-default.sh`?

From the error message it might look like you changed some of the flannel configuration.
Afaik Flannel gets its configuration from etcd under the key `/coreos.com/network/config`.

Another reason might be, that etcd has some misconfiguration..

Therefore further details of what you've changed could help to locate the problem...

[2016-06-12 15:26] bobintornado commented on #26246
@chrislovecnm yes please close this issue.

[2016-06-12 15:32] kant111 commented on #17205
@mmkonrad There you go. I am copying and pasting the values I changed in my config-default.sh.

export nodes="kant@192.168.245.251" #ip of my local ubuntu machine (so one node)

# Define all your nodes role: a(master) or i(minion) or ai(both master and minion),
# Roles must be the same order with the nodes.
#roles=${roles:-"ai i i"}
export roles="ai"

# If it practically impossible to set an array

[2016-06-12 17:45] bprashanth commented on #26135
@kubernetes/goog-testing looks like metadata server issues from yesterday?

[2016-06-12 18:01] chrislovecnm commented on #26246
You have the power for that not I ;)

[2016-06-12 18:37] smarterclayton commented on #27154
Ultimately having a way to associate / retrieve meaningful logs is important when dealing with apps in bulk, but specialized apps often don't need that flexibility.  Trying to find an LCD between access to logs and efficiency and flexibility probably doesn't require indexing, and I do think there is value in moving logging up the stack in terms of abstraction is good (perhaps by providing a higher

[2016-06-12 19:11] k8s-merge-robot opened #27254 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1478/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-12 19:20] colhom commented on #27236
@quinton-hoole I believe I've found the cause of the test failures.

[code]

This is from the latest federation-e2e logs. The latest run of federation-build produced this version string:

[code]

Root cause of error: federation-e2e job is pulling tarballs that weren't build by federation-build.

Pulling in tarballs built by the regular kubernetes build job (not the federated one), would produce th

[2016-06-12 19:49] jondubois commented on #24030
@chrislovecnm Fully agree with your earlier suggestion about Kubernetes supporting some sort of user-defined hook/script which it could run before draining a node (e.g. when down-scaling a service). I think the utility value of this goes beyond Cassandra and would be useful for any stateful service. I have a similar problem with Redis - When down-scaling, I need some way to allow K8s to run a scri

[2016-06-12 20:09] lavalamp commented on #27179
This issue is dropping our merge throughput by 60%...

[2016-06-12 20:17] lavalamp commented on #27179
I've made a quick patch which will at least test @jsafrane's theory. I'll post it shortly.

[2016-06-12 20:23] lavalamp commented on #22190
This doesn't appear to be something bad that merged, but testing took a huge turn for the worse about 8PM last night. Maybe something in jenkins needs to be restarted?

https://github.com/kubernetes/kubernetes/blob/master/test/e2e/e2e.go#L81

BeforeSuite

/go/src/k8s.io/kubernetes/_output/dockerized/go/src/k8s.io/kubernetes/test/e2e/e2e.go:157 Jun 11 21:18:09.857: Failed to setup provider config:

[2016-06-12 20:34] chrislovecnm commented on #24030
There is an issue open for sending signals HUP, etc, to pods. Don't have that handy since I am on my iPhone. Ping this ticket if you don't hear from me. The signal handling would allow us to script handlers to preform decomission.

Also we are looking at networking in multiple DC geos, without Federated / ubernetes. The last I knew that was not a good use case for redis, but that may have changed.

[2016-06-12 20:35] chrislovecnm commented on #24030
The key in my mind is to keep it simple and dumb. My mantral is to build toys that don't get me texted at 2 am ;)

[2016-06-12 20:37] chrislovecnm commented on #24030
Here: https://github.com/kubernetes/kubernetes/issues/27239#event-689568688 petsets in multiple Datacenters ;)

[2016-06-12 20:38] chrislovecnm commented on #24030
https://github.com/kubernetes/kubernetes/pull/26884

[2016-06-12 20:39] chrislovecnm commented on #24030
The pull above is signal handling. @github please give me edit on mobile ...

[2016-06-12 20:44] chrislovecnm commented on #23794
Also zookeeper yaml for PetSet is here https://github.com/kubernetes/contrib/blob/master/pets/zookeeper/zookeeper.yaml

@bprashanth put in some cool unit container stuff that could be replaced by a docker, if you wanted to make it simpler.

[2016-06-12 20:46] chrislovecnm commented on #23794
Oh and To be specific the latest alpha 1.3 version 5. There is a binary release. Please let me know if you test. Kafka is on my radar as well.

[2016-06-12 20:51] mattbates commented on #24030
@jondubois I know you asked about node-level hooks, but there appears to already be support for these types of hook at the _container_ level. See [PreStop hooks](http://kubernetes.io/docs/user-guide/container-environment/#container-hooks), with exec and HTTP handler implementations. Perhaps this might be worth exploring.

[2016-06-12 21:00] jondubois commented on #24030
@mattbates I didn't know about container hooks - That looks perfect for my use case. Thanks!

[2016-06-12 21:12] colhom commented on #27236
@quinton-hoole I've tracked this down and have a fix. https://github.com/kubernetes/test-infra/issues/145

[2016-06-12 21:21] admiralobvious commented on #27244
@a-robinson Thanks!

[2016-06-12 21:24] #25610 closed

[2016-06-12 21:36] justinsb opened #27256 "PetSets PVCs are not spread across Zones"
PVC volumes are currently created in a single zone, or at least not reliably spread across zones.  Presumably someone running a zookeeper PetSet on HA k8s wants zone-failure tolerance, so we should spread the created volumes across zones.

I'm going to work up a strawman approach to this, but wanted to record the issue separately.

cc @bprashanth

[2016-06-12 21:53] bprashanth commented on #27256
we should be able to express zone spreading through pod antiaffinity and the pvs should follow. Is this not the case?

[2016-06-12 21:57] justinsb commented on #27256
@bprashanth I don't believe so.  Volume creation is separate from pod creation.  Currently the volumes are all created in the "master zone".  It isn't clear what happens in multi-AZ scenarios, but if KCM is doing the volume creation then I expect they will still end up in one zone.  I don't think we have any reasonable hope of 3 volumes landing in 3 separate zones anyway, which is what I think we

[2016-06-12 21:59] bprashanth commented on #27256
Maybe not today, but in general, why would we not want them to simply follow the pods?

[2016-06-12 22:00] bprashanth commented on #27256
By default i mean, there are obviously scenarios where one might want to explicity specify the zone of a pv, and I still think that should be possible.

[2016-06-12 22:01] justinsb commented on #27256
Not sure I follow the first comment.  On GCE & AWS, volumes are created in a specific zone and can't be attached cross-zone and can't easily be moved.  The volume's zone will actually dictate the pod's zone.

My PoC doesn't do a lot, but it does let you specify a zone explicitly!  Stay tuned...

[2016-06-12 22:14] dims commented on #2843
@proppy @brendandburns - Looks like this PR to swarm (https://github.com/docker/swarm/pull/2084/commits) will help with this use case. So can we close out this issue?

[2016-06-12 22:21] dims commented on #4290
@vmarmol @roberthbailey - Is there something thing we need to do in kubernetes for this scenario? If not can we close this out please?

[2016-06-12 22:25] dims commented on #3204
@smarterclayton @vishh Can we please close this? (Looks like this was added in https://github.com/kubernetes/kubernetes/pull/3194/commits/3ef9e404c1408551ec4922ca401ce69193c6da6b)

[2016-06-12 22:27] dims commented on #3074
@dchen1107 Dawn, Is this still needed?

[2016-06-12 22:34] fejta commented on #22190
I'll take a look...

[2016-06-12 22:35] lavalamp commented on #27179
Hm, now I see a failure in integration.TestUnschedulableNodes-- will keep my eye on it

[2016-06-12 22:36] #26890 closed

[2016-06-12 22:42] smarterclayton commented on #25835
Fixed in https://github.com/kubernetes/kubernetes/pull/27258.

You add an alias

    // +protobuf.nullable=true
    type OptionalMap map[string]string

And will get the right generated output.  Lightly tested right now because test_apis can't be used from protobuf for lots of reasons.

[2016-06-12 22:44] smarterclayton commented on #25860
Protobuf has pretty strict rules on what sorts of names can be in package definitions (basically `[a-z0-9_]`.  We bypass this for `k8s.io` because our search path starts at `k8s.io/kubernetes`, but for nested paths we can't.  If we can't use the package name directly, we have to either put all the .protos in one package (possible) or we have to use only valid package names for folders.

If we put

[2016-06-12 23:01] fejta commented on #22190
I suspect it has something to do with the metadata-cache not working well with the drift-token.

I'm going to experiment with replacing a few large instances with a metadata-cache in favor of a larger numbers of smaller instances with no metadata-cache.

[2016-06-13 00:03] nikunjchapadia commented on #14642
+1

[2016-06-13 01:11] therc commented on #27212
I requested something similar for kubernetes-dashboard:

https://github.com/kubernetes/dashboard/issues/817#issuecomment-224580252

It would be nice for both interfaces to sort replicasets the same way, although the interfaces are obviously quite different.

[2016-06-13 01:21] therc commented on #27140
Maybe just use shared PID namespaces in Docker 1.12 (and rkt's equivalent, if/when it's there): https://github.com/docker/docker/issues/10163

You'd create a new container with a debug image (or one of many) and attach it to the existing pod.

[2016-06-13 01:43] smarterclayton opened #27259 "Cannot generate protobuf for map[string][]string, blocks authorization from being generated"
The proto serialization chosen for `map[string][]string` is incorrect (it treats `[]string` as `string`) which prevents the `authorization` API group from getting protobuf structs due to the `Extra` field.

[2016-06-13 02:12] smarterclayton commented on #27259
This is fixable with #27258

[2016-06-13 02:12] dalanlan commented on #27240
Seems flannel failed to rise up, nothing to do with etcd at the first glance.

[2016-06-13 02:16] #26246 closed

[2016-06-13 02:24] verb commented on #27140
Ah, that would be perfect! I see that #1615 exists for sharing a PID namespace in a pod, which also led me to discover this issue may very well be a dupe of #24957 (though @smarterclayton only mentions debugging as one of many possible uses).

Before I close this issue as a dupe, I just want to make sure I understand how it would work.  I see two possibilities --

1. We attach a new container to a

[2016-06-13 03:08] smarterclayton commented on #27140
Today, it's not possible to mutate a running pod.  Attach connects to an existing container (if the Stdin and/or TTY flags were set).

Another option beyond those you mention above would be to allow adhoc container execution inside of a pod that mounts the majority of the namespaces of another container.  I.e.:

1. Have pod 1 with containers A and B
2. Launch a **transient container C** that **att

[2016-06-13 03:40] kant111 commented on #27240
@dalanlan How so I fix it? any idea?

[2016-06-13 03:43] dalanlan commented on #27240
What does the log of flannel say?

[2016-06-13 03:49] roberthbailey commented on #4290
I'm ok closing this as long as @vmarmol isn't still seeing this issue.

[2016-06-13 03:49] kant111 commented on #27240
where are they located? I am new to all this..

[2016-06-13 04:04] fejta commented on #22190
Things seem back to normal

[2016-06-13 04:04] #22190 closed

[2016-06-13 04:24] fejta commented on #24538
Please reopen this the next time you see it

[2016-06-13 04:24] #24538 closed

[2016-06-13 04:25] Hui-Zhi commented on #27240
I think you need to ensure the flannel could connect to etcd first.

[2016-06-13 04:32] dalanlan commented on #27240
@kant111 `/var/log/upstart/flannel.log`, I guess.

[2016-06-13 04:38] kant111 commented on #27240
@dalanlan Thanks here is the copy of entire /var/log/upstart/flannel.log

I0612 20:29:30.065583 79263 main.go:292] Exiting...
I0612 20:29:51.650654 74619 main.go:275] Installing signal handlers
I0612 20:29:51.651944 74619 main.go:188] Using 192.168.245.237 as external interface
I0612 20:29:51.652257 74619 main.go:189] Using 192.168.245.237 as external endpoint
E0612 20:29:51.661936 74619 network.g

[2016-06-13 04:56] kanio-rakuten opened #27261 "Error: Cannot find module '/home/rakadmin/kubernetes/docs/getting-started-guides/coreos/azure/node_modules/azure-cli/bin/azure'"
When I am following the instructions here -http://kubernetes.io/docs/getting-started-guides/coreos/azure/ and specifically this line - "./azure-login.js -u <your_username>"  I got an error: " Cannot find module '/home/rakadmin/kubernetes/docs/getting-started-guides/coreos/azure/node_modules/azure-cli/bin/azure' "

If I check the repository there is no folder node_modules here "https://github.com/k

[2016-06-13 05:07] kanio-rakuten commented on #27261
I think I am just missing the npm packages. Closing the issue.

[2016-06-13 06:09] wojtek-t commented on #27179
There is an open issue for UnschedulableNodes - @mml FYI

[2016-06-13 06:16] bryk commented on #27212
We generally aim to make the UI show things the same way as CLI does, so similarity is what we aim for.

[2016-06-13 06:21] hongchaodeng commented on #27053
@rrati @timothysc
I can tell the relationship between RC and pods.
Can you share how you created "services" and "namespaces"? How are they related to RC and pods?

[2016-06-13 06:43] wojtek-t commented on #27004
I thought about it a bit and to be honest, I don't think we can do a smart small change to fix that.

I think that there are basically two options possible here:
1. spread some really complicated locking all over the code to lock the "knownObjects" (which is unfortunately not owned by the DeltaFIFO in most of cases
2. don't pass "knownObjects" to DeltaFIFO as an argument and instead store the own

[2016-06-13 06:45] gmarek commented on #26184
Kubemark jobs run relatively often - which may trigger the issue. Size of the clusters we start in kubemark jobs varies. For -5 it's literally 1 node cluster, for -500/-scale it's in the range of 10-20 something. Those are completely normal clusters started using common cluster startup code for all tests.

[2016-06-13 07:20] maklemenz commented on #12450
PetSets #18016 will cover the use cases I had in mind.

[2016-06-13 07:33] cheld commented on #27177
Thanks for commenting. I was mistaken. The behavior is not related to CNI network plugin

[2016-06-13 07:33] #27177 closed

[2016-06-13 07:34] gmarek commented on #26062
It's worth investigating, but do we want to block 1.3 on this?

[2016-06-13 07:35] davidopp commented on #26062
No.

[2016-06-13 07:52] jsafrane commented on #27179
@lavalamp, thanks for the PR. Did the test fail again after #27255 was merged?

[2016-06-13 07:55] kanio-rakuten commented on #27261
I missed npm install step. Closing the issue.

[2016-06-13 07:55] #27261 closed

[2016-06-13 08:06] nhlfr commented on #24957
@smarterclayton @thockin So, assuming that we'll define a `bump` notification in the definition of pod, then we'll have some API endpoint in which the name of notification will be provided? Something like _/v1/api/namespace/<ns>/pods/<pod>/notify_? Sorry if I misunderstood something.

[2016-06-13 08:17] thockin-cc commented on #24957
Something like that, yeah.  The persistence, acknowledgement, and
guarantees of the API are what become tricky
On Jun 13, 2016 5:07 PM, "Michal Rostecki" <notifications@github.com> wrote:

[2016-06-13 08:24] sttts opened #27264 "kubectl run -it loses some lines of the log"
When running a command via `kubectl run -it` that immediately prints something, we might lose some lines of the log due to a race of the execution of the container and the `kubectl attach` used by `kubectl run` to attach to the terminal (compare comment https://github.com/kubernetes/kubernetes/issues/16670#issuecomment-199017681).

As a workaround for running an interactive shell we have this ugly

[2016-06-13 08:38] sttts commented on #27156
@ncdc following the discussion in https://github.com/kubernetes/kubernetes/issues/26210 getting GKE logs seems to be hard.

[2016-06-13 08:48] gmarek commented on #27142
This is caused by the known problem of go GC using all available CPUs for >500ms.

[2016-06-13 08:54] sttts commented on #27235
The flake happens together with another network related test:

[code]

For the later there is https://github.com/kubernetes/kubernetes/issues/26210.

[2016-06-13 09:19] sttts commented on #27235
It looks like `nettest-cu7kh` was started on `kubelet gke-jenkins-e2e-default-pool-e12f4a1f-4bke`, but then disappeared (without further event visible in the logs).

[2016-06-13 09:28] sttts commented on #27235
Seems like there are not even node logs in the occurrence above. This makes it pretty hard to understand what is going one. Waiting for a new occurrence of the flake....

[2016-06-13 09:31] jszczepkowski commented on #27241
Should be fix by #27045.

[2016-06-13 09:40] sttts commented on #27156
The node logs look completely innocent around the test time.

[2016-06-13 09:53] AdoHe commented on #25106
@smarterclayton I thought this a bit, error here is because client side schema validation failed: `error validating data: found invalid field initContainers for v1.PodSpec; if you choose to ignore these errors, turn validation off with --validate=false`, but in #26840, I just got sever side validation error: `pod updates may not change fields other than`. I played with init containers, and can't g

[2016-06-13 09:54] piosz commented on #26834
failed once again, so re-opening

[2016-06-13 10:23] fejta opened #27266 "PR jenkins running out of PD quota"
Increased the quota, looking for e2e tests this failed.

You'll see an error like this:

[code]

[2016-06-13 10:29] fejta commented on #27266
Should be resolved but reactivate if you see an instance past this time.

[2016-06-13 10:29] #27266 closed

[2016-06-13 10:33] sputnik13 commented on #17324
I see that Ingress is very much an implementation of this idea where a user posts an Ingress (a claim) and the Ingress Controller asynchronously delivers on the claim.  While there are definite PROs to this, how can disparity in capabilities between cloud providers be communicated to the user?  For instance AWS and GCE have different capabilities in Load Balancers.  Specifically, GCE supports path

[2016-06-13 12:04] jsafrane commented on #25635
@ixdy, I've seen something similar today: https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26894/kubernetes-pull-build-test-e2e-gce/44447/

[code]

[2016-06-13 12:53] jsafrane commented on #27179
I still see some failures of `TestPersistentVolume*` on my machine, fixed by #27271

[2016-06-13 12:54] k8s-merge-robot opened #27272 "PrivilegedPod should test privileged pod {E2eNode Suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/4480/

Failed: PrivilegedPod should test privileged pod {E2eNode Suite}

[code]

Previous issues for this test: #26284 #26297

[2016-06-13 13:11] jsafrane opened #27273 "e2e flake: node condition "TestCondition" not found"
[Fail] [k8s.io] NodeProblemDetector [k8s.io] KernelMonitor [It] should generate event when temporary error happens

https://console.cloud.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26894/kubernetes-pull-build-test-e2e-gce/44457/

[code]

[2016-06-13 13:18] nebril opened #27274 "TODO: replace map[string]string with labels.LabelSet type"
pkg/api/types.go:133

[2016-06-13 13:34] wojtek-t opened #27276 "e2e flake: NodeProblemDetector [k8s.io] KernelMonitor [It] should generate default node condition after started"
[code]

https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/27268/kubernetes-pull-build-test-e2e-gce/44452/build-log.txt
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/27268/kubernetes-pull-build-test-e2e-gce/44452/

[2016-06-13 14:07] wojtek-t commented on #27273
Duplicate of #27276

[2016-06-13 14:07] #27273 closed

[2016-06-13 14:13] childsb commented on #27198
from email w/@saad-ali -- "... this is scheduler code--hasn't been touched in a long time so the bug existed for a long time."

[2016-06-13 14:23] justinsb commented on #17162
I found a workaround: call `goflag.CommandLine.Parse([]string{})`  This convinces goflags that we have called Parse, and suppresses the warning.

e.g.

[code]

[2016-06-13 14:24] smarterclayton commented on #27004
All accessors to the store are locked today, right?  So could we allow DeltaFIFO to start a critical section that also holds the lock?  That's *kind* of like 1, but doesn't DeltaFIFO have a relatively small critical section on the store it needs to borrow?

[2016-06-13 14:28] smarterclayton commented on #25106
If you want to report this, remove the JSON serializations from the internal types.  Then you'll also get failures.

[2016-06-13 14:28] smarterclayton commented on #25106
You should only have to remove the JSON struct tag from one or two fields under (for instance) `APIContainers` and regenerate the codecs.

[2016-06-13 14:30] smarterclayton commented on #24957
There's a question about whether signal delivery must be guaranteed -
whether even in the presence of a Kubelet crash we will be guaranteed to
execute it.  That might require storage of an actual field / object in etcd
(either on pod or off) that the kubelet consumes.

On Mon, Jun 13, 2016 at 4:18 AM, thockin-cc <notifications@github.com>
wrote:

[2016-06-13 14:30] wojtek-t commented on #27004
@smarterclayton - I'm not sure I understand.
The real issue here is "controller framework" is running "DeltaFIFO::Pop()" in a loop and processing what it gets by updating its internal storage (which is also knownKeys in DeltaFIFO).
So basically there is an inconsistency in state of "DeltaFIFO" and "knownKeys" during the period from "when Pop() is already called to the moment that information is ap

[2016-06-13 14:31] smarterclayton commented on #27198
Up until recently no one has been limiting PVs on AWS or GCE - so
effectively the bug has been here but now people are running realistic
production workloads that exercise it (running > 16 pods with PVs on a host
for GCE).  The failure mode for this bug is particularly severe.

On Mon, Jun 13, 2016 at 10:13 AM, bradley childs <notifications@github.com>
wrote:

[2016-06-13 14:42] smarterclayton commented on #27004
This is a perfect opportunity to use `PopLockAndDrop()` function... :)  Jokes aside, is there not a need for Pop to allow another caller to properly hold a lock anyway?  We've had this use case in a lot of places where we wanted:

[code]

that operates under the store lock.  The downside is that we'd have to provide to the function the store without locks (since they aren't reentrant):

[code]

Wo

[2016-06-13 15:29] DirectXMan12 commented on #27198
Something to consider for future work: it seems to me that a running pod referencing a deleted PVC is in an invalid state.  Perhaps we should mark or stop the pod somehow?  It seems like this could cause confusion and/or issues in the future.

[2016-06-13 15:33] rootfs opened #27281 "gcr/google_containers/kubelet no longer exists and local-up-cluster.sh silently fails"
refer to this line https://github.com/kubernetes/kubernetes/blob/master/hack/local-up-cluster.sh#L387

[code]

@jayunit100

[2016-06-13 15:43] zhouhaibing089 opened #27282 "SELinux label on the mounted volume"
There is a field named `SELinuxOptions` in `PodSecurityContext`, however this is only used for the running process in containers.

For example, the following spec:

[code]

What I am hoping is that the files under `/var/log/ubuntu3` would have type `svirt_sandbox_file_t`, however it was set on the process, not the volumes.

[code]

My question is: Is there a way to set selinux labels for the volum

[2016-06-13 15:43] pwittrock commented on #26834
Marking this as not a blocker for 1.3

[2016-06-13 15:45] nhlfr commented on #27248
I wasn't able to reproduce this on master - watching an endpoint works well (even with custom namespaces).

[2016-06-13 15:49] bgrant0607 commented on #27150
@bprashanth @erictune

[2016-06-13 15:50] zmerlynn commented on #27150
I'm not clear I have the bandwidth to work on this right now. Reassigning for triage to the Ubernetes team.

[2016-06-13 15:57] wojtek-t commented on #27004
Yeah - I think that passing a function to Pop() should work. And it should be a big change too.

[2016-06-13 16:02] #26730 closed

[2016-06-13 16:02] #27179 closed

[2016-06-13 16:07] mqliang commented on #9043
@davidopp May I ask what the benefit we can get from in-place rolling update? Is it about scheduling? IIRC, if we update pod.spec, kubelet will kill the pod and recreate, so we still "kill" the pod.

[2016-06-13 16:10] pskrzyns commented on #26081
Fixed with https://github.com/kubernetes/kubernetes/pull/27015

[2016-06-13 16:10] #26081 closed

[2016-06-13 16:11] chrislovecnm commented on #27150
@bgrant0607 we go anyone available to look at this?

[2016-06-13 16:14] goltermann commented on #26135
@lavalamp @fejta Is this one fixed, now that #22190 is fixed?

[2016-06-13 16:15] lavalamp commented on #27004
Back when I last thought about this problem, I was imagining having some
mechanism for Informer to get a Locker interface from the store passed in.
Then I think you just need a mechanism so the store doesn't double-lock
when Informer e.g. calls Add. I agree it's not a trivial change.

On Mon, Jun 13, 2016 at 8:57 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-06-13 16:16] lavalamp commented on #21577
They just need to run it, it should automatically do everything right.

On Sat, Jun 11, 2016 at 11:21 AM, Piotr Szczesniak <notifications@github.com

[2016-06-13 16:18] goltermann commented on #26797
@pwittrock #26922 looks merged, time to close this one?

[2016-06-13 16:19] goltermann commented on #26798
@spxtr, who do you need to ask?  Want to close this P0 asap.

[2016-06-13 16:21] nhlfr commented on #26591
I'm going to work on this, if nobody has anything against.

[2016-06-13 16:21] goltermann commented on #27197
This is a P0 with no assignee.  Anyone know who it should go to?

[2016-06-13 16:28] lavalamp commented on #26135
Nope, now we're back to "Error waiting for all pods to be running and ready". This one has multiple causes.

[2016-06-13 16:30] lavalamp commented on #26135
We could consider closing and letting a new one get opened, though.

[2016-06-13 16:30] wojtek-t commented on #27004
Sorry - I actually wanted to write that passing a function to Pop should NOT be a big change...

@lavalamp do you think it's a bad idea about passing a function to Pop()?
Your suggestion seems much more difficult (and would require much more work).

[2016-06-13 16:34] lavalamp commented on #27004
I guess I don't know that just changing Pop can fix this-- I thought the
problem was with putting stuff into the queue, not taking it out. If you
can fix it by passing a function into Pop then by all means go for it. I
think @hongchao has a repro test case you can use to see if it works.

On Mon, Jun 13, 2016 at 9:30 AM, Wojciech Tyczynski <
notifications@github.com> wrote:

[2016-06-13 16:34] bprashanth commented on #26135
I think this is various forms of docker pull lockup/network flake that results in the failure to pull a 400mb fluentd image (that we're *not* prepulling in the e2e-image-puller static pod, because it's a static pod itself). @girishkalele has a pr to detect the network flake. I don't think it's anything we haven't dealt with in past releases.

[2016-06-13 16:37] therc commented on #27060
Should the order be always LASTSEEN,FIRSTSEEN or just when using -w?
I have an ugly PR for the latter, but perhaps we should just go for the former.

[2016-06-13 16:41] mikedanese commented on #26591
Go for it! Thanks!

[2016-06-13 16:41] spxtr commented on #26798
I just need to know which feature jobs need to be created for 1.3. It looks like these are candidates:
* es-logging @freehan
* ingress @bprashanth
* petset @bprashanth
* proto ?

[2016-06-13 17:02] hongchaodeng commented on #27004
I have tried several alternatives to solve the problem, including all kinds of weird locking mechanisms. It only gets the codebase super complicated and coupling DeltaFIFO queue and store.

There is fundamental design flaw in current informer.
![informer 2](https://cloud.githubusercontent.com/assets/920884/16015724/f3f57e10-314b-11e6-9814-32c555988dc6.png)
As shown above, the controller gets event

[2016-06-13 17:07] girishkalele commented on #26135
In a majority of the failures, the suspicion is that either of docker/GCR/GCS is flaky or the instance had network connectivity issues. One of the failures above failed to pull a salt tarball from the GCS https endpoint with a 'Network is unreachable' error. Some of the others are just instances with chronically slow networking.
[code]

[2016-06-13 17:08] wonderfly commented on #27276
Another occurrence: http://pr-test.k8s.io/26813/kubernetes-pull-build-test-e2e-gce/44266/build-log.txt

[2016-06-13 17:09] girishkalele commented on #26135
@goltermann

This PR will add a network b/w measurement container to the image pre-pulled pod to get a b/w measurement (GET from GCS) at VM bringup.

https://github.com/kubernetes/kubernetes/pull/27019

[2016-06-13 17:11] dchen1107 commented on #27228
@yifan-gu I am assigning this to you since the issue with p0 and 1.3 milestone at this moment definitely requires an owner. Please triage and re-assign. Thanks!

[2016-06-13 17:11] saad-ali commented on #27159
Closing in favor of #27197

[2016-06-13 17:11] #27159 closed

[2016-06-13 17:11] bprashanth commented on #26798
Ingress needs a 1.3 branch, if we're dropping gke-ingress-1.2 we can reuse that project for gke-1.3. I'll need to allocate a new project for gce-ingress-1.3.

PetSet is in alpha so I think testing it at HEAD should suffice.

[2016-06-13 17:13] dchen1107 commented on #27062
@derekwaynecarr Is this one required for 1.3 release? There is a pending pr under review, but @vishh is out for vacation this week.

[2016-06-13 17:13] #15493 closed

[2016-06-13 17:14] bprashanth opened #27284 "e2e flake: can't open file gcloud.py: No such file or directory"
Bad jenkins slave?
[code]

[2016-06-13 17:14] bprashanth commented on #27284
https://pantheon.corp.google.com/storage/browser/kubernetes-jenkins/pr-logs/pull/26821/kubernetes-pull-build-test-e2e-gce/44355/

[2016-06-13 17:15] bprashanth commented on #26798
When're we branching so I know how to prioritize this? Fyi I'm adding a lot of ingress e2es in https://github.com/kubernetes/kubernetes/pull/26821

[2016-06-13 17:17] goltermann commented on #26798
We branched Friday.  We'll probably end code slush and start cherrypicking
today.

On Mon, Jun 13, 2016 at 10:16 AM, Prashanth B <notifications@github.com>
wrote:

--

-T.J. Goltermann

[2016-06-13 17:18] bprashanth opened #27285 "e2e integration test flake: scheduler test nil pointer"
If the node doesn't exist in the cache we can't deference it

[code]

[2016-06-13 17:19] dchen1107 commented on #27276
Bumping the priority to P0 since it caused several pr builder failures over the weekend. :-)

[2016-06-13 17:23] childsb commented on #27198
since this is scheduler and not volume/storage assigning to @DirectXMan12

[2016-06-13 17:24] Random-Liu commented on #27276
Will take a look now.

[2016-06-13 17:25] DirectXMan12 commented on #27198
@smarterclayton :+1: I like that idea

[2016-06-13 17:30] eparis commented on #27198
@smarterclayton or should PVC deletion just be an error entirely if it is is currently in use by a Pod? I think I like your method bettering since:

create PVC; create Pod; delete PVC; delete Pod;    works for you but not for errors on delete

[2016-06-13 17:36] erictune commented on #9076
This can be closed.

[2016-06-13 17:36] #9076 closed

[2016-06-13 17:40] bprashanth commented on #27150
I'm going to guess we're not actually mounting gce.conf in the container. We should have something like: https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/l7-gcp/glbc.manifest#L51 which should be coming in through https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-controller-manager/kube-controller-manager.manifest#L50. If that is happening, th

[2016-06-13 17:41] freehan commented on #26798
Nothing changes for es-logging in 1.3. It should just works.

Only problem I foreseen is GCI integration. That might cause some missing logs. But GCI has not been turned on yet on nodes.

I guess testing at HEAD should be good enough.

[2016-06-13 17:42] manaspatkar21 commented on #4914
I am also expierencing a similar issue as @vishvananda, Redis master to slave failover does not work.

I observed that the redis master does not record the origin ip of the slave, instead it records the flannel ip of the VM where the redis slave pod is running, resulting into the issue. Is there any solution for this ?

[2016-06-13 17:42] DirectXMan12 commented on #27198
@eparis: I discussed a bit with @pmorie, and he noted that erroring on delete makes the order of deletion important, which could make certain operations more difficult.

[2016-06-13 17:44] Random-Liu commented on #27276
The reason is that the 3 `It` items in the test all have expectation on `TestCondition`, but the 3 items are running concurrently, so there is a race.
I'll send a PR merge these 3 items to make it run serially.

@dchen1107

[2016-06-13 17:54] erictune commented on #7081
I'm not sure if anyone has tested HA master recently.  If that works, then the first two requirements from the first post must be done.

I think the third one is not done.  The kubernetes TLS client just checks that the master has a cert which has a known root, but it does not check that it is the right cluster, as opposed to an impostor cluster with a different name but the same root.  This feels

[2016-06-13 17:54] ericchiang commented on #27276
I'm seeing this on #26984 as well when I rebased off master.

[2016-06-13 18:06] bprashanth opened #27287 "e2e flake: serving limit exceeded"
I think this just means we're hitting the defautl 15 api qps limit, maybe we can bump it? But maybe something else is spamming the cloud api.
[code]
@kubernetes/goog-testing
https://github.com/kubernetes/kubernetes/pull/26821#issuecomment-225659546
http://pr-test.k8s.io/26821/kubernetes-pull-build-test-e2e-gce/44507/build-log.txt

[2016-06-13 18:08] roberthbailey commented on #27276
https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/26932/kubernetes-pull-build-test-e2e-gce/44340/build-log.txt shows an error that seems very similar:

[code]

[2016-06-13 18:08] #26797 closed

[2016-06-13 18:08] pwittrock commented on #26797
Yup.  Thanks.

[2016-06-13 18:10] pwittrock commented on #26724
Looks like the fix is merged.  Closing this issue.  Please re-open if it is still an issue.

[2016-06-13 18:10] #26724 closed

[2016-06-13 18:13] Random-Liu commented on #27276
#27286 Should fix this.

[2016-06-13 18:14] pwittrock commented on #26201
cc @kubernetes/docs

[2016-06-13 18:14] derekwaynecarr commented on #27062
@dchen1107 - i just lgtm-ed https://github.com/kubernetes/kubernetes/pull/27107  --- so assuming it merges, we should be good.

[2016-06-13 18:15] derekwaynecarr commented on #27062
(and yes, it should be required for 1.3)

[2016-06-13 18:19] Random-Liu commented on #27287
This is breaking more and more critical builds.
http://ci-test.k8s.io/kubernetes-e2e-gce/18631/
http://ci-test.k8s.io/kubernetes-e2e-gce-scalability/8466/
http://ci-test.k8s.io/kubernetes-e2e-gce-serial/1485/
http://ci-test.k8s.io/kubernetes-e2e-gce-slow/6568/
http://ci-test.k8s.io/kubernetes-e2e-gke/9110/

[2016-06-13 18:20] Random-Liu commented on #27287
@fejta

[2016-06-13 18:22] derekwaynecarr opened #27290 "integration flake: TestUnschedulableNodes has a panic"
[code]

seen on https://github.com/kubernetes/kubernetes/pull/26806

[2016-06-13 18:41] nikhiljindal commented on #26723
@quinton-hoole can you detail the steps that are required?
It will be good to get a PR ready.

[2016-06-13 18:51] quinton-hoole commented on #26723
@nikhiljindal I don't know the precise steps offhand, but in essence there are two parts:

1. the merge-bot configuration needs to be updated to to include the "kubernetes-e2e-gce-federation" test job as a merge-blocker.  That way, if that job is failing, automated merges will be blocked.
2. the per-PR merge bot needs to be updated to deploy the federation control plane into the e2e test cluster,

[2016-06-13 18:54] #26979 closed

[2016-06-13 18:54] #26431 closed

[2016-06-13 19:26] y2kenny commented on #26905
Looks like this was due to user (me) error.  The cluster was not able to reach outside network because I neglected to enable NAT in calico.  After that was fixed, things work again.

[2016-06-13 19:26] #26905 closed

[2016-06-13 19:49] fejta commented on #26184
We have some 70 jobs, many of which run >1x/hour. As I continue saying, I need to see this hit multiple jobs to consider this a test infra issue.

[2016-06-13 20:02] hongchaodeng commented on #26580
Is it "PATCH" for all api objects?

[2016-06-13 20:04] sputnik13 opened #27294 "Ingress - Dependent Resource Sharing"
Ingress may require additional resources that it depends on, like "public IPs", DNS hostnames, and TLS certs.  It would be good to have a complete design on how to address this.

[2016-06-13 20:05] sputnik13 commented on #24145
created https://github.com/kubernetes/kubernetes/issues/27294 to address sharing of IPs, hostnames, and other "things" in an Ingress

[2016-06-13 20:08] lavalamp commented on #27290
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/12997

[2016-06-13 20:09] erictune commented on #22188
I don't think Workqueue Jobs are a good fit.

[2016-06-13 20:09] #22188 closed

[2016-06-13 20:11] erictune commented on #23201
There are no issues I am aware of with the current dashboard and @bryk is aware of this issue for ongoing development.

[2016-06-13 20:11] #23201 closed

[2016-06-13 20:15] pmorie commented on #27197
downgrading to p1 from p0 after talking to @eparis and @saad-ali

[2016-06-13 20:16] k8s-merge-robot opened #27295 "[k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18635/

Failed: [k8s.io] MetricsGrabber should grab all metrics from a Kubelet. {Kubernetes e2e suite}

[code]

[2016-06-13 20:19] matchstick commented on #27197
@pmorie Making this a P1 means that we expect it to get done in 1.3 time frame. That means that someone will resolve it in the next two weeks. Do we have folks who can do that? I am not sure that @saad-ali can get to it in that time frame.

[2016-06-13 20:20] erictune commented on #23585
I am hoping that future authorizer development uses webhook where possible.  If that is not possible, I'd like to understand why before doing an executable-plugin type of model.

[2016-06-13 20:22] erictune commented on #27152
APIserver side was implemented in   https://github.com/kubernetes/kubernetes/pull/23549 but still need to have client side.

[2016-06-13 20:26] k8s-merge-robot opened #27296 "kubelet-gce-e2e-ci: Privileged pod test is failing"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubelet-gce-e2e-ci/4499/

Multiple broken tests:

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod gracefully deleted {E2eNode Suite}

[code]
Issues about this test specifically: #26282 #26295

Failed: MirrorPod when create a mirror pod  should be recreated when mirror pod forcibly deleted {E2eNode Suit

[2016-06-13 20:30] lavalamp commented on #27290
https://console.cloud.google.com/storage/browser/kubernetes-jenkins/logs/kubernetes-test-go/12998

[2016-06-13 20:30] caesarxuchao commented on #26580
@hongchaodeng yes, for all the objects that are already supported by the clientset.

[2016-06-13 20:41] derekwaynecarr commented on #27290
FYI - I could only reproduce this flake when I run that integration test in isolation.

[2016-06-13 20:43] wonderfly opened #27297 "e2e broken test run"
[code]
http://pr-test.k8s.io/26813/kubernetes-pull-build-test-e2e-gce/44505/build-log.txt

[2016-06-13 20:44] lavalamp commented on #27290
Seems to be happening every time right now?

[2016-06-13 20:44] philips commented on #27194
@xiang90 @vishh is on vacation. I am guessing @timstclair is taking over while he is out?

[2016-06-13 20:50] pmorie commented on #27197
@matchstick at this point I was lowering it because I don't think it should block the beta.

[2016-06-13 20:54] #26455 closed

[2016-06-13 20:58] bprashanth commented on #27297
https://github.com/kubernetes/kubernetes/issues/27287

[2016-06-13 20:58] #27297 closed

[2016-06-13 20:59] bprashanth commented on #26824
This is on now, forking an issue for the pd flakes

[2016-06-13 20:59] #26824 closed

[2016-06-13 21:01] bprashanth opened #27299 "[Feature:PetSet] Basic PetSet functionality should provide basic identity"
Eg: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-petset/116/
Suspect it's because of: https://github.com/kubernetes/kubernetes/issues/27058

[2016-06-13 21:09] andyzheng0831 commented on #27118
@dchen1107 @yujuhong @freehan I made a script to repeatedly run the serial tests on GCI cluster with both #27027 and #27141. The serial tests were run 10 times, among which 9 times were all passed and only one had a flaky case. From the verification I think #27141 really fixed the issue. Are you OK with putting the reverted #27027 back?

[2016-06-13 21:12] mwielgus commented on #27035
The suite is all green. The issues is obsolete/fixed.

[2016-06-13 21:12] #27035 closed

[2016-06-13 21:20] jlowdermilk commented on #27150
I just successfully created a multi-zone cluster with a CVM master using k8s from HEAD. So I think my original statement that this was broken for GCI still stands.
[code]

[2016-06-13 21:22] goltermann commented on #27197
To be super clear, @saad-ali and @pmorie - P2 means we don't think it needs to be fixed at all for v1.3 (but we'd fix it in 1.4).  Is that accurate?

[2016-06-13 21:23] andyzheng0831 commented on #27150
Can you list the detailed steps about your reproduction. I tried it before. The second group joined in but after a while it was removed by the master. Let me use your recipe to try again

[2016-06-13 21:25] eparis commented on #27197
I'd like to know what @dchen1107 thinks of what they are doing in the kubelet to a (supposedly) ro object. If she doesn't scream and rip our her hair, I think we could wait until 1.4 with little/reasonable negative affect for end users.

[2016-06-13 21:30] eparis commented on #27197
although @liggitt this is going to bite us for openshift.

[2016-06-13 21:45] jlowdermilk commented on #27150
Steps below. I built from head (`v1.3.0-alpha.5.446+0d02f8c0f6c0f5`)

[code]
Then did `kubectl get nodes --watch` until 2 new nodes joined. Output I pasted [above](https://github.com/kubernetes/kubernetes/issues/27150#issuecomment-225712166) was after the new nodes became Ready.

[2016-06-13 21:48] theothermike opened #27304 "httpsGet support for livenessProbe health checks"
Our app only runs on HTTPS since we're wanting to check client certificates.  It would be great if the livenessCheck supported https as well.  Currently using exec and curl.

It would also be handy to have a Certificate Authority check toggle, for dev environments where not using a real Cert

[2016-06-13 21:52] jlowdermilk commented on #27150
On cvm, the config appears to get plumbed through as expected. From `/var/log/kube-controller-manager.log`:
[code]
I have a gci cluster now with the same build, and one node each in us-central1-f, us-central1-b. It's missing the above log indicating config was loaded, and is deleting the us-central1-b node because it's in single-zone mode:
[code]

[2016-06-13 21:55] bprashanth commented on #26490
I think the last failure is a kubectl exec bug. The logs have:
[code]

so the test failed because we invoked strconv(""), when we really should've invoked it with the output of
[code]

Which we threw at the host-test-container-pod via kubectl-exec.
But kubectl-exec hung for a minute and returned no error, and no output, as you can see from:
[code]

Moreover, doing an internal query I saw no sign o

[2016-06-13 21:56] mikedanese commented on #23174
cc @pwittrock

[2016-06-13 21:57] fejta commented on #27287
Looks like this was a transient issue in GCE. Conversing with the GCE team on an internal issue.

[2016-06-13 21:57] #27287 closed

[2016-06-13 21:58] jlowdermilk commented on #27150
@bprashanth's suggestion is correct, gce.conf isn't showing up as a volume/mount in the manifest.
[code]

[2016-06-13 21:59] andyzheng0831 commented on #27150
I can see there is a bug in the GCI config, which missed the mounted volume. I made a fix and trying it.

[2016-06-13 22:00] #27276 closed

[2016-06-13 22:00] fejta commented on #26420
FYI I have the post-commit cpu intensive jobs (build/unit/integration) down to a single executor per VM. I'm now doing the same with the pre-commit PR jobs.

[2016-06-13 22:00] macb opened #27306 "multiple pods become stuck in ContainerCreating/Terminating state on single kubelet"
We've been encountering increasing number of issues where the `kubelet` seems to be in some sort of hung state while handling processing events (like creating or destroying a pod):

[code]

Getting on the `kubelet` where the container is hung, the logs seem to have a lot of transport errors (maybe our `kube-apiserver` crashed or disappeared):

`kubelet.log`:

[code]

Restarting the `kubelet` proce

[2016-06-13 22:02] janetkuo commented on #25353
If we want a programmatic way to get, say, allocated resources info from a node, we should probably expose that in node status, and thus that information can be retrieved with `get -o json`.

[2016-06-13 22:06] goltermann commented on #24254
@justinsb This one lacks a priority.  Think it's P1 (needs to be fixed for 1.3) or P2/P3 (can be fixed in 1.4)?

[2016-06-13 22:07] goltermann commented on #23476
Removing v1.3 milestone as this is a feature and won't make 1.3.

[2016-06-13 22:08] goltermann commented on #23416
Is this required for 1.3?  It doesn't have a priority applied.

[2016-06-13 22:11] goltermann commented on #26723
Applying P1 priority - adjust if that's not right.

[2016-06-13 22:13] goltermann commented on #22531
@justinsb No priority on this one - needed for 1.3?

[2016-06-13 22:15] goltermann commented on #23787
Removing v1.3 milestone, this won't be in on that timeline.

[2016-06-13 22:17] macb commented on #27306
After looking more closely at the log, you can see 2 different time stampts 11:01 and 15:34. To my knowledge after the 11:01 everything recovered as expected (we were only notified of a problem after the more recent event).

[2016-06-13 22:17] nikhiljindal commented on #26723
cc @lavalamp

[2016-06-13 22:19] matchstick commented on #27235
@kubernetes/goog-testing Any idea why there are no node logs? Was this part of a larger outage?

[2016-06-13 22:20] lavalamp opened #27307 "etcd 2: directory cleanup needed after namespace deletion?"
I came upon a cluster that had had the namespace code thoroughly exercised. No namespaces currently existed, but many had been created and deleted in the past. Its etcd had lots of empty directories under each resource that had held items when those namespaces were alive (secrets, serviceaccounts, pods...).

Do we need to be doing something to clean these empty directories up? It seems like this e

[2016-06-13 22:20] lavalamp commented on #27307
@xiang90 or @hongchaodeng might know the answer to this question.

[2016-06-13 22:21] goltermann commented on #22537
Adding P2 priority, removing from v1.3 milestone.  Adjust if that's not right.

[2016-06-13 22:21] andyzheng0831 commented on #27150
A question (may be stupid): two node groups in us-central1-f and us-central1-b can form a multi-zone cluster. But groups in us-central1-f and us-east1-b cannot?

I think this is why I cannot create a multi-zone cluster using ContainerVM master. I set two zones to us-central1-f and us-east1-b

[2016-06-13 22:25] jlowdermilk commented on #27150
@andyzheng0831, that would be multi-region. I don't think there's a functional reason we can't do it, but it wouldn't surprise me if controller manager doesn't allow cross-region, since it would incur network charges and have higher latency.

[2016-06-13 22:26] ixdy commented on #27235
It appears that the run timed out. We probably should be collecting logs in that case...

[2016-06-13 22:29] colemickens opened #27308 "Proposal: make `kubectl` respect KUBECTL_{CONTEXT,NAMESPACE} environment variables"
I'm curious if there is interest in creating some environment variables (`KUBECTL_CONTEXT` and `KUBECTL_NAMESPACE`) to make `kubectl` a bit easier to use when one has multiple clusters configured in `~/.kube/config`.

The alternative to these environment variables either require a lot of typing (specify `--context` and `--namespace` to all `kubectl` commands). Or as I've done so far, wrapper funct

[2016-06-13 22:31] roberthbailey commented on #27150
@andyzheng0831 all nodes for the cluster must be in the same region.

[2016-06-13 22:34] hongchaodeng commented on #27307
Right. We should delete them.
It might get tricky for concurrent cases like A checks if dir is empty, B creates, then A deletes it.
What does it look like currently in creating and deleting namespace?

[2016-06-13 22:34] goltermann commented on #26798
@smarterclayton for proto question above

[2016-06-13 22:37] goltermann commented on #22479
bringing a few P2 doc bugs back in the 1.3 milestone

[2016-06-13 22:37] goltermann commented on #26447
bringing a few P2 doc bugs back in the 1.3 milestone

[2016-06-13 22:37] goltermann commented on #17868
bringing a few P2 doc bugs back in the 1.3 milestone

[2016-06-13 22:37] matchstick commented on #26180
This is not a P0 but a P1 as it is a test infrastructure fix. @kubernetes/goog-testing. @girishkalele is on the case.

[2016-06-13 22:37] goltermann commented on #21225
bringing a few P2 doc bugs back in the 1.3 milestone

[2016-06-13 22:51] smarterclayton commented on #26798
Proto is a no, we flipped the default in master.  We may add another job in the future but this one can be skipped.

[2016-06-13 22:53] dchen1107 commented on #27197
Here are the reasons we decided to push the priority to p2 after talking to related parties:

1) In 1.2 release, a beta(?) feature called fsGroup (https://github.com/kubernetes/kubernetes/pull/15352, ...) that lets you specify a special supplemental group that will own a pod's volumes.
2) However, for NFS, you can't safely do a chown from the client for a number of reasons. Also, a lot of NFS volu

[2016-06-13 22:55] lavalamp commented on #27307
How much memory does a directory entry take? Does it really sound possible to run out of memory while snapshotting on account of too many empty directories?

[2016-06-13 22:59] ixdy commented on #25635
@fejta related to your work today?

[2016-06-13 23:05] zhouhaibing089 commented on #27282
I have no idea on who should I mention, so @erictune (security-related) and @saad-ali (volume-related), what do you think?

Extend this a little bit further, if the docker has selinux enabled, then all the containers already get a unique level settings with something like `system_u:system_r:svirt_lxc_net_t:s0:c152,c382`, and actually I feel the ability to set selinux labels on the volumes is more

[2016-06-13 23:06] fejta commented on #25635
Looks like a race condition where two instances were running gcloud update at the same time? Regardless, switching to 1 executor/VM resolves this. So basically a dup of https://github.com/kubernetes/kubernetes/issues/26420

[2016-06-13 23:14] lavalamp commented on #26723
You can only do this if it doesn't make the test take longer! Needs to stay under 30 minutes.

[2016-06-13 23:17] freehan commented on #27118
Let us revert it back and let it run in all CIs.

[2016-06-13 23:22] saad-ali commented on #27282
CC @pmorie

[2016-06-13 23:23] quinton-hoole commented on #26723
Agreed, that is part of what I meant by "more difficult" :-)

[2016-06-13 23:32] kfox1111 opened #27312 "Kubelet configmap manifest"
With kubelet in standalone mode, I can put pods in /etc/kubernetes/manifests and it works ok.
If it references a config map though, and I put the config map in /etc/kubernetes/manifests too, it doesn't work. but if I leave the pod in /etc/kubernetes/manifests and upload the config map through a server, it does work.

It would be nice, for those slowly transitioning from docker-compose to kubelet s

[2016-06-13 23:42] andyzheng0831 commented on #27150
The fix https://github.com/kubernetes/kubernetes/pull/27313 is sent out for review. The root cause of this bug: initially we only had one case of using /etc/gce.conf, and then more cases were added. But we did not update the condition at https://github.com/kubernetes/kubernetes/blob/master/cluster/gce/gci/configure-helper.sh#l476. As a result, the new usage cases of gce.conf, e.g., multizone, were

[2016-06-13 23:43] kfox1111 opened #27314 "gitRepo depth"
If your git repo has some largish entries in the past, cloning the whole repo can take a while. it would be nice if there was an option to specify history depth to speed up checkouts.

[2016-06-13 23:44] k8s-merge-robot opened #27315 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/3101/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-13 23:44] k8s-merge-robot opened #27316 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6004/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-13 23:44] k8s-merge-robot opened #27317 "Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/3097/

Failed: Horizontal pod autoscaling (scale resource: CPU) [Serial] [Slow] ReplicationController Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-13 23:44] k8s-merge-robot opened #27318 "KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6009/

Failed: KubeProxy should test kube-proxy [Slow] {Kubernetes e2e suite}

[code]

[2016-06-13 23:44] k8s-merge-robot opened #27319 "kubernetes-e2e-gke-test: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13032/

Multiple broken tests:

Failed: Nodes [Disruptive] Resize [Slow] should be able to delete nodes {Kubernetes e2e suite}

[code]

Failed: Services should be able to change the type and ports of a service {Kubernetes e2e suite}

[code]

Failed: Restart [Disruptive] should restart all nodes and ensure all

[2016-06-13 23:44] k8s-merge-robot opened #27320 "kubernetes-e2e-gce-serial: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1485/

Run so broken it didn't make JUnit output!

[2016-06-13 23:44] k8s-merge-robot opened #27321 "kubernetes-e2e-gke-subnet: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-subnet/3098/

Run so broken it didn't make JUnit output!

[2016-06-13 23:44] k8s-merge-robot opened #27322 "kubernetes-kubemark-500-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-500-gce/3614/

Run so broken it didn't make JUnit output!

[2016-06-13 23:44] k8s-merge-robot opened #27323 "kubernetes-test-go: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-test-go/12997/

Run so broken it didn't make JUnit output!

[2016-06-13 23:44] k8s-merge-robot opened #27324 "[k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1511/

Failed: [k8s.io] Nodes [Disruptive] [k8s.io] Network when a node becomes unreachable [replication controller] recreates pods scheduled on the unreachable node AND allows scheduling of pods on a node after it rejoins the cluster {Kubernetes e2e suite}

[code]

[2016-06-13 23:44] k8s-merge-robot opened #27325 "kubernetes-e2e-gce-examples: broken test run"
@janetkuo is fixing this in #27577

---

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-examples/11852/

Multiple broken tests:

Failed: [k8s.io] [Feature:Example] [k8s.io] Hazelcast should create and scale hazelcast {Kubernetes e2e suite}

[code]

Failed: [k8s.io] [Feature:Example] [k8s.io] Redis should create and stop redis servers {Kubernetes e2e suite}

[co

[2016-06-13 23:51] kant111 commented on #27240
@dalanlan any idea?

[2016-06-13 23:55] bprashanth commented on #23416
Ingress hasn't moved anywhere since 1.2, it's on hold. It will probably go GA in next-release at which time I'll do it. for now I'm just extending the existing e2es (https://github.com/kubernetes/kubernetes/pull/26821), removing milestone.

[2016-06-14 00:23] fejta commented on #23416
Presubmit ingress test sounds fabu

[2016-06-14 00:25] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27327 "Container command ‘/usr/local/bin/etcd’ not found or does not exist"
OS ubuntu 16.04
docker version 1.11.2
step :
1.add docker bootstrap :
<code>sudo sh -c 'docker daemon -H unix:///var/run/docker-bootstrap.sock -p /var/run/docker-bootstrap.pid --iptables=false --ip-masq=false --bridge=none --graph=/var/lib/docker-bootstrap 2> /var/log/docker-bootstrap.log 1> /dev/null &'</code>
2. Startup etcd for flannel and the API server to use :
<code>sudo docker -H unix:///va

[2016-06-14 00:27] bprashanth commented on #23416
The problem with that is it takes 15m for the GCE l7 to start responding to health checks. I'm planning to test the nginx controller instead of the gce controller in presumbit, because that starts up in seconds and gives us a good signal about any api level changes; but it needs some polishing.

[2016-06-14 00:28] Random-Liu commented on #27290
http://pr-test.k8s.io/27309/kubernetes-pull-test-unit-integration/30487/

[2016-06-14 00:32] #26178 closed

[2016-06-14 00:47] fejta commented on #23416
How about a fake L7LB for presubmit?

[2016-06-14 00:50] k8s-merge-robot opened #27328 "Kubectl client Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4156/

Failed: Kubectl client Kubectl rolling-update should support rolling-update to same image [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-14 00:51] bprashanth commented on #23416
That's what I meant by nginx controller (closes you'll get to something that is usable in the real world, vs something more like an integration test with a fake gce implementation watching apiserver).

[2016-06-14 00:57] fejta commented on #23416
I like it!

[2016-06-14 01:07] nikhiljindal commented on #26731
@madhusudancs Are you still seeing this?

[2016-06-14 01:08] nikhiljindal commented on #27236
I see that the test is green now, so fine to close this?

[2016-06-14 01:10] k8s-merge-robot opened #27329 "kubernetes-kubemark-5-gce: broken test run"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-kubemark-5-gce/6472/

Run so broken it didn't make JUnit output!

[2016-06-14 01:30] smarterclayton commented on #2502
I think this is resolved by pod security policy in #7893

[2016-06-14 01:30] #2502 closed

[2016-06-14 01:30] smarterclayton commented on #2502
All use cases described here have been implemented.

[2016-06-14 02:02] zilman commented on #19033
I'm actually chasing something else entirely it seems -- I'd like a proper local development flow with k8s.

I'd like to be able to build experimental docker images locally as part of my development flow and instead of pushing them to docker hub or a private repository hosted on/by google/amazon, which is obviously slow and depends on your wifi, I'd like to make them available to my local k8s clus

[2016-06-14 02:20] k8s-merge-robot opened #27334 "[k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce/18649/

Failed: [k8s.io] Kubectl client [k8s.io] Guestbook application should create and stop a working application [Conformance] {Kubernetes e2e suite}

[code]

Previous issues for this test: #26175 #26846

[2016-06-14 02:41] dalanlan commented on #27240
That's odd. Notice that I don't have any machines available for now to test, hence my best guess is

1. `E0612 20:29:51.661936 74619 network.go:53] Failed to retrieve network config: 100: Key not found (/coreos.com) [1]`
this is a timing thing, and it's resolved later.

2. It seems that you've already built up a flannel bridge before. Hence there is a conflict configuration. What's `ifconfig flann

[2016-06-14 02:43] jingxu97 commented on #26795
I think I found the cause of the test failure. The following are the main steps in the test
1. Create host0Pod, and wait for it running
2. Write a file to the host0Pod, and then delete it
3. Create host1Pod, and waiting for it running
4. Read the file from host1Pod, and then delete it
5. delete disk with deletePDWithRetry() function, which has 3 minutes timeout
6. In defer() function, clean up tes

[2016-06-14 03:00] zhouhaibing089 commented on #27282
It looks like setting the `selinuxOptions` would affect too many things, for example, almost all the files in the container(except the mounted volume) are all with type `svirt_sandbox_filt_t`, thus the process could not read any files.

So it is really confusing on why setting selinux for the process?? /cc @chengyli @ashw7n

[2016-06-14 03:07] lavalamp commented on #26184
This just started happening a bunch.

[2016-06-14 03:13] lavalamp commented on #26184
Four runs starting at 3616 had this happen, then it seems to have stopped.

[2016-06-14 03:15] lavalamp commented on #26184
e.g.

[code]

[2016-06-14 03:40] saad-ali commented on #24479
Reactivating. This appears to be happening again. See [log](https://00e9e64bac6aae30b4c4b20feee78fc85ad2b7668f8f36a240-apidata.googleusercontent.com/download/storage/v1/b/kubernetes-jenkins/o/pr-logs%2Fpull%2F26801%2Fnode-pull-build-e2e-test%2F10433%2Fbuild-log.txt?qk=AD5uMEvPr-o4I0znHdcwwLQDYYrNyayO7EHgysU9n3l1nVgylUKbvVkqrRfiTYUxCrv_Ck6xIryGtZ-HSZrXBhmj_15tyQ41b4IH43mtCTACpVyrTeYKAvlo0hdnxkoAH1Y

[2016-06-14 03:43] saad-ali commented on #24479
Looks like all recent PRs are hitting this: http://kubekins.dls.corp.google.com:8081/job/node-pull-build-e2e-test/

[2016-06-14 03:57] krmayankk commented on #27248
@nhlfr did you try client 1.2.0 with server 1.2.4 ?

[2016-06-14 04:04] lavalamp commented on #27307
@derekwaynecarr @liggitt @deads2k-- have you guys encountered this? I think you run with more namespaces than we do. But maybe yours are mostly populated?

[2016-06-14 04:07] madhusudancs commented on #26731
@nikhiljindal yes, I am still seeing this.

[2016-06-14 04:13] lavalamp commented on #27239
What is this issue asking for?

[2016-06-14 04:14] lavalamp commented on #27240
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-14 04:14] #27240 closed

[2016-06-14 04:17] lavalamp commented on #27248
@krmayankk Probably not going to look at this unless you can repro on master or there's a really good reason why that particular version combo needs to do what you want. :) Let me know...

[2016-06-14 04:18] lavalamp commented on #27249
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-14 04:18] #27249 closed

[2016-06-14 04:18] liggitt commented on #27307
Yes, we've seen it. c.f. https://github.com/openshift/origin/issues/7032

[2016-06-14 04:19] lavalamp commented on #27251
I can't understand what you're asking for, sorry.

[2016-06-14 04:19] #27251 closed

[2016-06-14 04:20] lavalamp commented on #27281
I think it's assuming that you've built locally first. It doesn't literally push that image to gcr.io.

[2016-06-14 04:21] liggitt commented on #27307
Approximate memory use we saw from empty dirs: https://github.com/openshift/origin/issues/7032#issuecomment-191352835

[2016-06-14 04:23] lavalamp commented on #27304
Consider listening on a separate, non-exposed port for serving your health info.

[2016-06-14 04:25] lavalamp commented on #27306
(personal note: your kubelet was having problems talking to your apiserver. (see: all the "dial tcp 10.0.0.1:6443: connection refused" messages.) I'd look and see if your apiserver restarted.)

Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we ca

[2016-06-14 04:27] k8s-merge-robot opened #27335 "Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging-parallel/4163/

Failed: Proxy version v1 should proxy through a service and a pod [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-14 04:28] lavalamp commented on #27327
Please re-post your question to [stackoverflow](http://stackoverflow.com/questions/tagged/kubernetes).

We are trying to consolidate the channels to which questions for help/support are posted so that we can improve our efficiency in responding to your requests, and to make it easier for you to find answers to frequently asked questions and how to address common use cases.

We regularly see messag

[2016-06-14 04:28] #27327 closed

[2016-06-14 04:29] erictune commented on #16741
@matchstick

[2016-06-14 04:47] paralin commented on #27239
@lavalamp I think it's intended as a central location for ideas / development direction around ubernetes-like concepts for linking multiple data centers in the networking layer and integrating for example petsets with that

[2016-06-14 04:56] fejta commented on #24479
@saad-ali any idea how I build this image?

[2016-06-14 05:03] fejta commented on #24479
Trying this out:

https://github.com/kubernetes/kubernetes/blob/master/docs/devel/e2e-node-tests.md

for i in {e2e-node-ubuntu-trusty-docker10-image,e2e-node-ubuntu-trusty-docker9-image,e2e-node-ubuntu-trusty-docker8-image,e2e-node-coreos-stable20160531-image,e2e-node-containervm-v20160321-image}; do test/e2e_node/jenkins/copy-e2e-image.sh $i kubernetes-node-e2e-images kubernetes-jenkins-pull; don

[2016-06-14 05:12] fejta commented on #26184
Looks like this job runs in the same project as kubernetes-e2e-gke-large-cluster. Please isolate jobs that stress GCE

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-e2e-gke.yaml#L129

https://github.com/kubernetes/test-infra/blob/master/jenkins/job-configs/kubernetes-jenkins/kubernetes-kubemark.yaml#L123

[2016-06-14 05:29] fejta commented on #24479
The images are back in the project and I went through and retested all the affected tests

[2016-06-14 05:29] #24479 closed

[2016-06-14 05:32] erictune opened #27337 "RBAC unusable due to oversight in validation code"
`clusterRoleBinding.subject[].apiVersion` is required, but no value is accepted by validation code for `kind: user` or `kind: group`.

[2016-06-14 05:33] erictune commented on #27337
This makes the entire feature unusable, so setting the priority to P0.

[2016-06-14 05:34] erictune commented on #27337
Fix in #26984 thanks to @ericchiang

[2016-06-14 05:53] zmerlynn commented on #26184
That script (the leak checking script) was disabled last I checked on those jobs for exactly that reason. We actually physically can't isolate some of them due to quota, though `kubemark` is light enough we should move it off at this point.

[2016-06-14 05:55] macb commented on #27306
Is stackoverflow the place to report bugs as well?

[2016-06-14 06:13] wojtek-t commented on #26184
We can probably isolate kubemark jobs, but we can't isolate all other jobs because of quota - they are not running all the time and we are using the spots when they are not running to run experiments.
It's simply impossible to have like 5 projects with thousands of cores quota each.

[2016-06-14 06:58] zhouhaibing089 commented on #27282
cc @derekwaynecarr

Atomic OS carries with kubernetes distro with selinux enabled by default, what's the way to ensure the volumes are accessible with SELinux enabled?

[2016-06-14 07:04] davidopp commented on #9043
I can't remember for sure, but I think the reason I suggested /inplaceupdate subresource was so that an update request could be rejected if there aren't enough free resources on the node to do the update successfully (if the update is increasing resource request, for example).

Example: 4G machine, running a (request) 1G container a (request) 3G container, then you update the 1G container to 2G. W

[2016-06-14 07:16] krmayankk commented on #27248
sure no big reason for me to support those two versions.

[2016-06-14 07:26] jszczepkowski commented on #27241
Fixed by #27045.

[2016-06-14 07:26] #27241 closed

[2016-06-14 07:39] cityofships opened #27339 "cluster/ubuntu scripts are not ready for Xenial"
Maybe more like a feature request but currently this method of k8s deployment only supports Trusty and is completely systemd unaware. Is this going to change in the near future?

[2016-06-14 07:50] zreigz opened #27340 "s"

[2016-06-14 08:09] AlbertoPeon commented on #25416
We are also seeing this happening from time to time.

In our case, it wasn't fixed in the next sync interval but it took actually a little bit more of 24 hours.

[2016-06-14 08:31] win-t opened #27343 "`kubectl get cs` problem with secured etcd2"
i am trying to setup simple kubernetes cluster, with 3 master, each master running etcd2 instance in HTTPS mode. But when i run `kubectl get cs` i got:

[code]

i already have specified

[code]

in apiserver command line, but it seem doesn't work.

btw, this is output from `etcdctl cluster-health`

[code]

[2016-06-14 08:43] kargakis commented on #9043
cc: @derekwaynecarr

[2016-06-14 08:47] wojtek-t opened #27344 "integration flake: TestUnschedulableNodes is flaky"
[code]

@davidopp @mml

[2016-06-14 08:48] k82 commented on #26930
@jdef any suggestion?

[2016-06-14 08:52] wojtek-t commented on #27344
@gmarek @kubernetes/goog-control-plane

[2016-06-14 08:54] wojtek-t commented on #27344
Actually - it was me, when I extended logging few days ago.
I will send out a fix shortly.

[2016-06-14 08:57] davidopp commented on #9043
I just realized that if you do this check in an admission controller like I described in the last paragraph above, you don't need a subresource (you would just have the admission controller intercept update to Pod). I guess if you used a subresource maybe you could have the API server delegate the handling of that subresource to the scheduler or something, instead of using an admission controller,

[2016-06-14 09:07] ChaiBapchya opened #27346 "Kubernetes installation - wget - breaks Python2.7"
In order to deploy kubernetes, following the link - http://kubernetes.io/docs/getting-started-guides/aws/

wget - Result - all other python libraries which used - twisted,awscli and other files (for e.g. scrapy,aws) became **defunct..**
Python 2.7 couldn't be reinstalled.
Entire distro (Fedora, Ubuntu) had to be re-installed.

export AWS_DEFAULT_PROFILE=admin
[root@localhost /]# export KUBERNETES_

[2016-06-14 09:11] jszczepkowski commented on #27254
This is a duplicate of #26998: network unreachable

Jun 12 11:32:52.869: INFO: At {2016-06-12 11:30:43 -0700 PDT} - event for rs-ctrl-359zi: {kubelet jenkins-e2e-minion-group-wvtu} FailedSync: Error syncing pod, skipping: failed to "StartContainer" for "rs-ctrl" with ErrImagePull: "Error pulling image (beta4) from gcr.io/google_containers/resource_consumer/controller, Get https://gcr.io/v1/images/

[2016-06-14 09:11] #27254 closed

[2016-06-14 09:13] simonswine opened #27347 "[AWS][1.3.0.beta0] node state is erroneously `NetworkUnavailable`"
I am currently trying `1.3.0-beta.0` on AWS. Everything works fine, but all worker kubelets are not schedulable, because of `NoRouteCreated`:

[code]

Node events:

[code]

Though `kubectl get nodes` output makes you think, everything is ok:

[code]

No pod can be scheduled:
[code]

I suspect it's maybe related to this new options for the controller-manager:

[code]

On my vagrant version of the s

[2016-06-14 09:13] #22797 closed

[2016-06-14 09:25] gmarek commented on #27095
The reason for this failure is (again) image prepulling. This time it seems that there's something strange going on. We wait for prepuller to finish when we start the cluster, and it finished successfully:
[code]

Then for some reason prepullers were restarted multiple times during the test:
[code]

[code]

During MaxPods:
[code]

This, of course, made MaxPods fail, as it assumed that those pods w

[2016-06-14 09:38] jszczepkowski commented on #26998
https://github.com/kubernetes/kubernetes/issues/26998#issuecomment-225740905 is duplicate of #23536

[2016-06-14 09:41] earthIsAPrisonIfYouNotAwareItCanNotOut opened #27348 "the hyperkube dockerfile error"
when use the /kubernetes/cluster/image/hyperkube/dockerfile, a error occurs:
[code]

[2016-06-14 09:44] jszczepkowski commented on #27196
It seems that get to api-server is failing due to timeout.

[2016-06-14 10:01] gmarek commented on #27115
First failure is a dupe of #27095. For second I need to wait for master logs.

[2016-06-14 10:02] zhouhaibing089 commented on #27282
Reading through the proposal here: https://github.com/kubernetes/kubernetes/blob/master/docs/proposals/selinux.md and issues and atomic issues here: https://github.com/projectatomic/adb-atomic-developer-bundle/issues/117.

It looks like the selinux support for volume is still incomplete. specifically, @pmorie I read through your proposal, the question in my mind is: should there be two `seLinuxOpt

[2016-06-14 10:05] wojtek-t commented on #27347
Route-controller is supposed to create routes:
https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/route/routecontroller.go#L125
If Route is not created for a node, the node is not available for scheduling.

If Route is not supposed to be created in that configuration anytime, then probably this condition is not correct:
https://github.com/kubernetes/kubernetes/blob/master/pkg/kube

[2016-06-14 10:07] wojtek-t commented on #27329
Tests finished successfully - something bad happened after:
[code]

[2016-06-14 10:10] wojtek-t commented on #27290
Closing as duplicate of #27344 - the fix is already in flight.

[2016-06-14 10:10] #27290 closed

[2016-06-14 10:10] wojtek-t commented on #27285
duplicate of #27344

[2016-06-14 10:10] #27285 closed

[2016-06-14 10:20] #27344 closed

[2016-06-14 10:26] craigwillis85 opened #27352 "Randomly upgraded to v1.1.0-beta3 - Deployments/DaemonSets no longer creating"
Hi

Yesterday, I was running `1.2.4` and I created a DaemonSet (DataDog) and I also updated the kubernetes dashboard to use `v1.1.0-beta3`

When I run `kubectl version`, I now get the following:

    Server Version: version.Info{Major:"1", Minor:"3+", GitVersion:"v1.3.0-alpha.4",

I'm not sure why this has happened and I haven't ran any other commands that would `upgrade` my version.

The problem

[2016-06-14 10:42] simonswine commented on #27347
@wojtek-t thanks for pointing out the involved code.

I am not too sure about the whole thing, but I think we only want to enable this if I am not running an overlay network myself. Do you have a clue how to disable the routes feature? Sure `--experimental-flannel-overlay` would disable it, but I control flannel with systemd.

- cloud provider get's called [here](https://github.com/kubernetes/kube

[2016-06-14 10:53] wsimmonds commented on #24084
@felipejfc: This issue is caused by the fact it's reading the environment variables from the master by SSH'ing in and downloading /etc/kubernetes/kube_env.yaml (get-master-env function in cluster/aws/util.sh):

ssh -oStrictHostKeyChecking=no -i "${AWS_SSH_KEY}" ${SSH_USER}@${KUBE_MASTER_IP} sudo cat /etc/kubernetes/kube_env.yaml

So if you didn't originally specify it (our case), it means setting

[2016-06-14 11:03] bfgoodrich commented on #10439
This would be very nice, we are planning on using vault for secrets management. It would be extremely helpful to have Kubernetes integrate with Vault for secrets.

[2016-06-14 11:13] liubin commented on #24687
The same error( in vagrant):

[code]

And the nfs-server error:

[code]

[2016-06-14 11:48] pangbingqiang opened #27354 "Error scheduling: No suitable offers for pod/task"
I run k8s in mesos, when i use ''kubectl' to creat a pod ,my yaml is as follow:
apiVersion: v1
kind: Pod
metadata:
  name: hello-world
spec:
  restartPolicy: Never
  containers:
    name: hello
    image: "ubuntu:14.04"
    command: ["/bin/echo","hello world"]
    imagePullPolicy: IfNotPresent
  it can't success ,error log is as follow:
`I0614 19:37:53.741166   11035 event.go:216] Event(api.Object

[2016-06-14 11:48] rootfs commented on #24687
Note, the image is updated per https://github.com/kubernetes/kubernetes/pull/22665.

The example works on GCE/GKE, AWS and Cinder.

[2016-06-14 11:57] pangbingqiang opened #27355 "Error scheduling: No suitable offers for pod/task"
I run k8s in mesos, when i use ''kubectl' to creat a pod ,my yaml is as follow:

it can't success ,error log is as follow:
`I0614 19:37:53.741166   11035 event.go:216] Event(api.ObjectReference{Kind:"Pod", Namespace:"default", Name:"hello-world", UID:"32ea6371-3224-11e6-bed4-90e2ba857fb8", APIVersion:"v1", ResourceVersion:"107", FieldPath:""}): type: 'Warning' reason: 'FailedScheduling' Error sche

[2016-06-14 11:59] pangbingqiang commented on #27355
I can see kubernets framework run success in mesos, but when i create a pod it will not success,the offer will not suitable

[2016-06-14 12:15] nhlfr commented on #24957
Can we consider the signal delivery guarantee as one of the future improvements? Of course it would be great to store information about signals in etcd and ensure that kubelet crash will not prevent signal sending, but IMO we should focus on that after the initial implementation. What do you think?

Of course I'm going to implement that etcd part as well, but I just want to keep it as a separate s

[2016-06-14 12:18] rootfs commented on #27281
@lavalamp kubelet image is not built by default https://github.com/kubernetes/kubernetes/blob/master/build/common.sh#L94

[2016-06-14 12:39] lukaszo commented on #26892
Ok, I decided to use the same approach as for normal containers. RESTARTS just shows sum of all init containers restarts.

[2016-06-14 12:41] wojtek-t commented on #27004
#27341 is supposed to fix this issue

[2016-06-14 12:41] #21126 closed

[2016-06-14 12:48] wojtek-t commented on #27347
I am not too sure about the whole thing, but I think we only want to enable this if I am not running an overlay network myself.

Yes - that is correct.

Do you have a clue how to disable the routes feature? Sure --experimental-flannel-overlay would disable it, but I control flannel with systemd.

I don't know - this may require some code changes.

[2016-06-14 12:52] jnardiello commented on #5640
No news on this? Guys, having a production ready monitoring system is absolutely critical to anyone willing to put k8s in prod. Current default solution with `influxdb` + `grafana` might be great for visualization but is completely lacking of alerting.

More specifically, I honestly think that Prometheus as of today is the most promising project to integrate.

[2016-06-14 12:58] k8s-merge-robot opened #27360 "[k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-slow/6591/

Failed: [k8s.io] Pods should have their auto-restart back-off timer reset on image update [Slow] {Kubernetes e2e suite}

[code]

[2016-06-14 13:22] wojtek-t commented on #27095
I took a quick look into it.
And I think that important fact here is that this test was running immediately after:
[code]

And for me it seems that restarting kubelet actually restarted this pod. On the other hand "DaemonRestart" test passed and it is supposed to check if any pods were restarted...

But looking into logs from kubelet it clearly looks like more things started happening about image

[2016-06-14 13:22] eyalev opened #27361 "Getting ImagePullBackOff when trying the redis example"
https://github.com/kubernetes/kubernetes/tree/master/examples/redis

I run `kubectl create -f examples/redis/redis-master.yaml`

Then `kubectl get pods` gives:

[code]

Could it be because `redis-master.yaml` has `image: kubernetes/redis:v2` which doesn't exists in `https://hub.docker.com/r/kubernetes/redis/tags/`?

[2016-06-14 13:29] wojtek-t commented on #27095
Actually looking into kubelet logs it looks exactly like that:
[code]

So it's pretty clear that restarting kubelet is causing restart of image-puller pod.

@dchen1107 @yujuhong @kubernetes/sig-node

[2016-06-14 13:29] wojtek-t commented on #27095
And restart test is passing, because it's looking only into "FailedContainers", whereas here we have succeeded container only...

[2016-06-14 13:49] wojtek-t commented on #27095
@dchen1107 @yujuhong - is that possible that kubelet on restart is restarting succeeded pods?

[2016-06-14 13:51] simonswine commented on #27347
@justinsb: maybe you can help on this?

[2016-06-14 14:01] smarterclayton commented on #27239
@kubernetes/sig-network @kubernetes/sig-cluster-federation

[2016-06-14 14:01] justinsb commented on #27256
I'm going to tag this for the 1.3 milestone, so it stays on the radar.  I think there are some options to fix this (as discussed in 27257).  I think the current behaviour will be very surprising / disappointing to people trying out PetSets in 1.3.

[2016-06-14 14:08] chbatey opened #27362 "Recreate deployments dont wait for pod termination"
The scenario is a single replica with an attached EBS.

The create seems to happen right after the delete not waiting for the pod to be terminated. This results in the two kubelets fighting over the EBS which generally results in AWS becoming unhappy meaning the EBS has to be force detached.

From the docs `All existing Pods are killed before new ones are created when .spec.strategy.type==Recreate

[2016-06-14 14:10] justinsb commented on #27347
Triaging as 1.3, P1.  My understanding is that it blocks all operation of k8s when used with flannel (or any networking provider other than the built-in ones?)  Verifying further.

My guess is that we just want to disable this check when `configure-cloud-routes=false` or when `experimental-flannel-overlay=false`

[2016-06-14 14:22] theothermike commented on #27304
@lavalamp we may very well do that once we have some more tooling in place.  Still a 'Ready For Business' check on the actual https connection is desirable

[2016-06-14 14:24] justinsb commented on #27347
Ah, so kubelet registers the node with routing status "broken", and it is the responsibility of the route controller to configure the node routing status to "healthy" once it has configured it.  That's nice, because it means we won't schedule pods to a node until the routing controller has configured it.  It also is a scalable way to add more required controllers.

In this case, that means flannel

[2016-06-14 14:46] justinsb opened #27363 "AWS in-place restore/upgrade fails to adopt existing ELBs"
When we do a upgrade/restore with no matching subnets, we get the following error:

[code]

[2016-06-14 15:07] jdef commented on #26930
how did `--km-path` work out? if you ran into problems .. what were they?

[2016-06-14 15:08] gmarek commented on #27095
Repro is easy: running
[code]
restarts image-puller. Changing the name, labels and assignees.

[2016-06-14 15:10] zhouhaibing089 commented on #27343
@win-t which version are you using? I believe it should be fixed with https://github.com/kubernetes/kubernetes/pull/23903

[2016-06-14 15:16] zhouhaibing089 commented on #27312
The files under `/etc/kubernetes/manifests` could only be pod spec(I believe you will hit this error: https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/config/file.go#L159). if you are given a configmap, how would kubelet know how to process it?

[2016-06-14 15:16] gmarek commented on #27095
Part of the problem is that `RestartCount` is not incremented by this restart.

[2016-06-14 15:18] jdef commented on #24516
closing out, please reopen if/when this becomes an issue in the future

[2016-06-14 15:18] #24516 closed

[2016-06-14 15:28] yujuhong commented on #27095
Thanks for triaging the issue!

The real problem is that kubelet is designed to sync the static pods even when the apiserver is not reachable (or kubelet in the standalone mode). It doesn't rely on the the status in the apiserver (i.e., the mirror pod) to sync the static pods. Normally, kubelet will cache the status in memory and avoid syncing a succeeded pod. However, after kubelet restarts, the

[2016-06-14 15:32] win-t commented on #27343
@zhouhaibing089 hyperkube v1.2.4 from quay.io,
hmm, so that patch was not applied in v1.2.4.
thanks, i will recompile the binary then

[2016-06-14 15:33] marun commented on #25485
cc: @rajatchopra

[2016-06-14 15:34] gmarek commented on #27095
Fix for the test is trivial - I'll send it tomorrow if you don't think it should be fixed.

[2016-06-14 15:38] win-t commented on #27343
i think i will close it after i try it

[2016-06-14 15:42] kfox1111 commented on #27312
Yeah. I believe it only is at the moment. Just wondering how hard it would be to make it support configmaps too.

[2016-06-14 15:45] win-t commented on #27343
oke, it is done, thanks @zhouhaibing089

[2016-06-14 15:50] simonswine commented on #27347
Thanks @justinsb for your support with that.

I was not aware of this `--experimental-flannel-overlay` flag before I hit that issue and I had to dig through the code.

It seems to me with enabling it, I have the exact same behaviour like I had before with versions 1.2.x, this should be part of upgrade notes. I am not too sure about how stable the route controller is. Maybe the default value for `-

[2016-06-14 15:56] lavalamp opened #27367 "Post submit builds should not silently succeed if binary is wrong version"
...I don't think this needs explanation. This just happened to us when we cut the 1.3 branch and it took days before we noticed.

[2016-06-14 16:00] lavalamp opened #27368 "Add a test of the 'git describe' tagging behavior"
We accidentally undid part of the git tag that the release script produces. We need a test (hack/verify-git-tag.sh?) that verifies that the tag is correct so we catch this immediately.

[2016-06-14 16:34] yujuhong commented on #27095
Hm...I tried reproducing this and to my surprise, even when the exited container still existed, kubelet tried restarting the pod. I'll dig deeper and see why.
[code]

[2016-06-14 16:35] bprashanth commented on #26490
Yeah this last one is again a kubectl exec <-> apiserver channel failure just like the last one, nothing to do with kubeproxy

[2016-06-14 16:36] k8s-merge-robot opened #27369 "Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-test/13038/

Failed: Networking should function for intra-pod communication [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-14 16:36] k8s-merge-robot opened #27370 "ServiceAccounts should mount an API token into pods [Conformance] {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-staging/6012/

Failed: ServiceAccounts should mount an API token into pods [Conformance] {Kubernetes e2e suite}

[code]

[2016-06-14 16:39] andyzheng0831 commented on #27150
The fix was merged into master branch and will be cherrypicked into release-1.3. Close this issue

[2016-06-14 16:44] pracucci commented on #25353
We currently use `describe nodes` to get info about resources (CPU and memory) allocated and free. It's the bases of our nodes autoscaler. Being able to get such resources with `get -o json` would solve our use case.

@jnardiello can you confirm?

[2016-06-14 16:45] jlowdermilk commented on #27150
Reopening to track updating the e2e test suite that should have caught this.

[2016-06-14 16:59] chrislovecnm commented on #27150
Anyone know when the next alpha or beta binary will be cut that will catch this?

[2016-06-14 17:04] jlowdermilk commented on #27150
I believe we're also waiting on a fix for #27197, but should be soon.

[2016-06-14 17:04] jlowdermilk opened #27372 "kubernetes-e2e-gce-ubernetes-lite should verify the cluster created is actually multi-zone"
Filing separate follow up from #27150. The issue should have been caught by http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-ubernetes-lite/ failing. The suite needs a specific feature test that e.g. looks at node labels to verify multiple zones are present.

cc @quinton-hoole

[2016-06-14 17:04] jlowdermilk commented on #27150
Opened #27372 to track updating tests to catch this issue. Closing again to not confuse other trackers.

[2016-06-14 17:04] #27150 closed

[2016-06-14 17:11] erictune commented on #27337
fixed by #26984

[2016-06-14 17:12] yujuhong opened #27373 "Spammy log messages in kubelet: metrics are not supported for MetricsNil Volumes"
These volumes don't support stats metrics, and yet the errors got printed out periodically for each pod.

[code]

[2016-06-14 17:18] dchen1107 opened #27374 "Investigate the soak test failures"
For last many runs, soak tests were red since the first build. We need to understand the soak test failures for 1.3 release. Yesterday, we just pushed a new soak-deploy package, and it looks better than previous many runs. Filed this issue for further tracking and investigation.

[2016-06-14 17:20] yujuhong commented on #27095
First of all, the log message is misleading -- it prints the message even when there is no visible, dead containers. (cc @Random-Liu)
Second, our garbage collector aggressively deletes the dead containers *before* kubelet examines the them. This is due to the ["deleting containers of removed pods"](https://github.com/kubernetes/kubernetes/blob/d3d98b372b461002cccdcc72ab0fd674a5f4aa0f/pkg/kubelet/d

[2016-06-14 17:24] ericchiang commented on #27337
@erictune should we close this now that #26984 is merged?

[2016-06-14 17:27] dchen1107 commented on #27361
@eyalev can you run kubectl describe pods redis-master, it will include the events of image pulling, which should indicate why pulling fail, and kubelet backoff the pulling.

[2016-06-14 17:28] strangemonad opened #27375 "security concerns creating an https ingress on GCE"
**Proposal**

Allow specifying an existing gcloud TLS cert (via annotations) in the ingress resource.

**Security Concern**

My current understanding of kubernetes secrets on GCE is that they are stored plaintext in etcd. Using a different secret backend (e.g. keywhiz) seems out of your control on a hosted kubernetes like  GCE.

Requiring the use of a secret resource in the ingress as the only way

[2016-06-14 17:30] dchen1107 commented on #27354
dup of #27355

[2016-06-14 17:30] #27354 closed

[2016-06-14 17:31] #27337 closed

[2016-06-14 17:37] nikhiljindal commented on #26762
These are the failures I see on jenkins: http://kubekins.dls.corp.google.com/job/kubernetes-e2e-gce-federation/

[code]

I had verified that apiserver test was passing yesterday evening. Maybe some recent PR broke it?

Also FEDERATION_NAME issue should have been fixed with https://github.com/kubernetes/kubernetes/pull/27333.

Am debugging

[2016-06-14 17:45] k8s-merge-robot opened #27377 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gce-serial/1491/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] Deployment Should scale from 5 pods to 3 pods and from 3 to 1 and verify decision stability {Kubernetes e2e suite}

[code]

[2016-06-14 17:45] david-mcmahon commented on #23347
@roberthbailey @eparis if we can capture the basic skeleton procedures here, I can product-ize a script that could be run more easily by more people and get @eparis out of the critical path for this.

[2016-06-14 17:51] rootfs opened #27378 "nsenter mount gets doesn't list the right mounts, causing containerized kubelet unable to detach cloud disk"
In nsenter_mounter, [List()](https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/nsenter_mount.go#L161) reads mounts from `/rootfs/proc/mounts`. Because `/proc/mounts` is sym link to `/proc/self/mounts` and the containerized kubelet usually bind mount host rootfs in slave mode, thus containerized kubelet's mounts is different from what host sees.

This causes kubelet unable to umou

[2016-06-14 17:59] caesarxuchao commented on #27004
@wojtek-t I think #27341 is solving a different problem from the one described by @hongchaodeng. The original problem reported in this issue is that some code in DeltaFIFO is written under the impression that DeltaFIFO.knownobjects is reflecting the latest watch events, but in fact, the DeltaFIFO.knownobjects only reflects the objects that have been [processed](https://github.com/kubernetes/kubern

[2016-06-14 18:04] nikhiljindal opened #27382 "Pushing public images of federation control plane on every release"
Right now, to start federation control plane, users first need to build and push the images (for federation-apiserver, federation-controller-manager) into a repository that their cluster can access.

We can eliminate this step by providing public images.
We can generate and push these images as part of our general release process.
Some of our tests (that are not testing the control plane binaries,

[2016-06-14 18:06] nikhiljindal commented on #27382
cc @lavalamp @kubernetes/release-maintainers

@david-mcmahon Do you know if we push public kubernetes images as part of our release?

[2016-06-14 18:10] euank opened #27383 "node e2e - Update CoreOS image"
#27208 will require Docker to be version 1.9+.

The current image, `e2e-node-coreos-stable20160531-image` is based on CoreOS 835.13.0 and thus has docker v1.8.3.

An update to the current stable or alpha CoreOS image should unblock #27208.

The process used to be roughly documented [here](https://github.com/kubernetes/kubernetes/blob/e94e1c6e3de9dc0515827ff0c38abd032baf0b90%5E/docs/devel/e2e-node-

[2016-06-14 18:15] nikhiljindal commented on #27382
cc @zmerlynn since he did a lot of release tooling

[2016-06-14 18:15] hongchaodeng commented on #27004
Here the interaction flow between the queue and store:
![informer store](https://cloud.githubusercontent.com/assets/920884/16054148/c7b1e69c-3220-11e6-8be9-8cbef5217987.png)

What @caesarxuchao is questioning are valid concerns. Basically, in Relist, Resync, there are still interactions (mostly getting).

[2016-06-14 18:15] k8s-merge-robot opened #27384 "[k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/kubernetes-e2e-gke-serial/1518/

Failed: [k8s.io] [HPA] Horizontal pod autoscaling (scale resource: CPU) [k8s.io] [Serial] [Slow] ReplicaSet Should scale from 1 pod to 3 pods and from 3 to 5 and verify decision stability {Kubernetes e2e suite}

[code]

Previous issues for this test: #27241

[2016-06-14 18:15] rrati opened #27385 "Density reports/receives pod status slowly"
Running density at 95 or 100 pods/node, possibly other densities, shows that pod states are reported or recognized slowly by the density test.  There will be a prolonged period of 0 pods running, and then slowly a few pods will be recognized as running until near the end of the test where the numbers jump quickly.  If you look at the kubelet while the test is running, you will be many more pods ru

[2016-06-14 18:16] Random-Liu commented on #27374
Quite a few soaking test were failing. One of the most significant reason is unready `monitoring-influxdb-grafana`:
[code]

[2016-06-14 18:16] timothysc commented on #27385
/cc @kubernetes/sig-scalability @kubernetes/sig-node

[2016-06-14 18:17] saad-ali commented on #24479
Thanks @fejta!

[2016-06-14 18:17] #27340 closed

[2016-06-14 18:17] timothysc commented on #27004
Having dredged through that code during our resync adventure, I'd give a +1 to @hongchaodeng's idea.  But I'm not in favor of making such a change until 1.4...

[2016-06-14 18:23] wojtek-t commented on #27385
@rrati - how to reproduce? One kubelet 100 pods?

How do you check what kubelet is running? Note that the pod is considered ready when "Ready' status is uploaded to apiserver (which may happen significantly after the container is actually started).

[2016-06-14 18:26] wojtek-t commented on #27004
@caesarxuchao - thanks for comments; those are valid points;
However, those issues are easy to fix - those can be easily fixed in the DeltaFIFO itself. I can send a second PR tomorrow (that will fix those two).

[2016-06-14 18:30] caesarxuchao commented on #27004
Thanks @wojtek-t!

[2016-06-14 18:31] rrati commented on #27385
@wojtek-t I am running on 2 node system, 1 is the apiserver/etcd and the other is the kubelet.  They are both pretty beefy vms (master: 8 core, kubelet: 16 core).

To check kubelet, I was just doing docker ps.  While it can take a while for the Ready status to get to the apiserver, it seemed to be taking far too long.  Here's an example:

Jun 14 14:28:19.585: INFO: Density Pods: 100 out of 100 cre

[2016-06-14 18:40] rrati commented on #27385
It gets even worse with the new "capacity" density test.  This kubelet is setup with --max-pods=250 --pods-per-core=10 on a 16 core system:

Jun 14 14:37:31.254: INFO: Density Pods: 160 out of 160 created, 0 running, 160 pending, 0 waiting, 0 inactive, 0 terminating, 0 unknown, 0 runningButNotReady
Jun 14 14:37:41.254: INFO: Density Pods: 160 out of 160 created, 0 running, 160 pending, 0 waiting,

[2016-06-14 18:42] timothysc commented on #27385
I think this is the root of the issue...

[2016-06-14 18:43] wojtek-t commented on #27385
Can you please curl apiserver to see how many of those pods are in Ready state at a given point in time. I really doubt it's watch. It's most probably that kubelet didn't yet reported pod as ready....

[2016-06-14 18:53] nikhiljindal commented on #24086
Sorry for sitting on this for so long.
I have a WIP PR here: https://github.com/kubernetes/kubernetes/pull/27386 which doesnt seem to be doing what it is supposed to do. I am still trying to figure out why.

[2016-06-14 19:00] rrati opened #27388 "Containers failing to start running density up to capacity"
Using the density test to run max-capacity pods on kubelets, containers get reported as failing to start by the kubelet.  I usually see between 1-5 containers reported they fail to start.

Additionally there appears to be a timeout in the streamwatcher on the apiserver (where the e2e.test is being run)

Density test errors:
...
Jun 14 14:37:31.254: INFO: Density Pods: 160 out of 160 created, 0 run

[2016-06-14 19:01] rrati commented on #27388
I also ran a separate test for docker running up to 250 containers and docker ps rarely took over 1s to respond.

[2016-06-14 19:03] timothysc commented on #27388
/cc @kubernetes/sig-node @wojtek-t different issues exposed when validation @ 250 pods/node.

[2016-06-14 19:04] yunshengb commented on #12278
I posted my yaml file in http://stackoverflow.com/questions/37819488/kubernetes-hostpath-volume-does-not-mount

Can anyone solve my issue there? I really do not know why my certificate files are not mounted into pod. Thanks!

[2016-06-14 19:06] wojtek-t commented on #27388
Which is expected, because we officially don't support more than 100 pods/node now...

[2016-06-14 19:06] wojtek-t commented on #27388
And thus we also don't test that.

[2016-06-14 19:09] rrati commented on #27388
This isn't really 250 pods/node.  It's --max-pods=250 but also pods-per-core=10 and running on a 16 core vm, so in reality it's testing 160 pods on this node.

[2016-06-14 19:11] wojtek-t commented on #27388
Which is still more than we officially support and test.

[2016-06-14 19:20] justinsb commented on #27363
There's a pretty painful ELB restriction; we can't remove a subnet if there's only one, and we can't add a subnet if it's in the same zone.  Checkmate.  Workaround will likely be to encourage multizone on AWS (at least for the nodes).

Even with manually adding another subnet in another zone, hit this error during the reconciliation loop:

[code]

[2016-06-14 19:37] rrati commented on #27385
I ran:

$  curl localhost:8080/api/v1/pods | grep "Running" | wc -l

and the results pretty much matched what the density test was reporting.

[2016-06-14 19:40] wojtek-t commented on #27385
Yeah - so that confirms that the problem is that kubelet is not updating the status of pods fast enough.

[2016-06-14 20:30] yujuhong commented on #27388
`context deadline exceeded" suggest that kubelet can't start containers within two minutes. Could you bump the [default timeout](https://github.com/kubernetes/kubernetes/blob/49c8683c24fad4f7e182d979a3bba606cad20f21/pkg/kubelet/dockertools/kube_docker_client.go#L60) to see if it helps? We should try to rate limit docker operations to avoid cases like this.

[2016-06-14 20:31] timothysc commented on #27388
It's our interaction that appears to be at the root.  Straight up spawning, and periodic monitoring does not show this behavior.

[2016-06-14 20:34] timothysc commented on #27385
/cc @yujuhong

[2016-06-14 20:36] nikhiljindal commented on #26723
Created a test-infra issue for the second item as per discussion with @ixdy
https://github.com/kubernetes/test-infra/issues/155

[2016-06-14 20:40] yujuhong commented on #27388
Care to elaborate, @timothysc?

[2016-06-14 20:42] mml commented on #26762
#27390 fixes one problem with the service tests.  The major problem is that the only paths that trigger `syncService()` are via service changes.  None, AFAICT, are via cluster changes, even after #27252.  (Maybe I'm misreading here?)

I can work on a PR for this, but it's definitely more involved, and I don't want to duplicate work if someone's already doing it, so I need an ACK.  From whom I'm no

[2016-06-14 20:43] #26594 closed

[2016-06-14 20:45] fejta opened #27393 "agent-pr-2 ran out of disk"
This agent is failing jobs whenever they run @pwittrock  with lots of errors like:

11:10:00 java.io.IOException: Failed to create a temp file on /var/lib/jenkins/workspace/kubernetes-e2e-gce
11:10:00 	at hudson.FilePath.createTextTempFile(FilePath.java:1410)
11:10:00 	at hudson.tasks.CommandInterpreter.createScriptFile(CommandInterpreter.java:142)
11:10:00 	at hudson.tasks.CommandInterpreter.perf

[2016-06-14 20:45] timothysc commented on #27388
We can easily spawn hundreds of containers through raw scripts and perform periodic monitoring in those scripts.  (no issues, no timeout)

It's when we try to push the kubelet to higher scales we see issues, even when these machines have ample resources.