[2017-08-11 19:34] dhilipkumars commented on #50477
@kow3ns will something like [this](https://github.com/kubernetes/kubernetes/pull/50533) work then?

[2017-08-11 19:35] aledbf commented on #48358
This is fixed in master. Please use the image `quay.io/aledbf/nginx-ingress-controller:0.179`

**Test the ingress:**
[code]

**Reference:**
[code]

**Test:**

In a different terminal I am running (test the config each 5 seconds)
[code]

**Start ab:**
[code]

[2017-08-11 19:36] aledbf commented on #48358
@maxlaverse if you see the same results please close the issue.

[2017-08-11 19:37] andrewsykim commented on #48690
@luxas just open sourced https://github.com/digitalocean/digitalocean-cloud-controller-manager, hoping it'll serve as a good example for cloud controller managers. It's currently in alpha, would love feedback :).

[2017-08-11 19:53] shyamjvs opened #50534 "Federation presubmit test failing on release-1.7, blocking merges"
It's continuously failing during the federation-up step, due to the following (seems like mismatch in the registered rbac group version):

[code]

Recently opened PRs are affected due to this:
https://github.com/kubernetes/kubernetes/pull/50458
https://github.com/kubernetes/kubernetes/pull/50459
https://github.com/kubernetes/kubernetes/pull/50513
https://github.com/kubernetes/kubernetes/pull/50517

[2017-08-11 19:56] #50301 closed

[2017-08-11 19:57] chrisferry commented on #49682
👍  Any movement on this?

[2017-08-11 20:34] shyamjvs commented on #50534
cc @fejta @krzyzacy

[2017-08-11 21:05] cmluciano commented on #21329
dup #31712

[2017-08-11 21:05] cmluciano commented on #21329
/close

[2017-08-11 21:05] #21329 closed

[2017-08-11 21:08] cmluciano commented on #46083
@dujun1990 @m1093782566 Are you still working on this? Looks like the PR was closed.

[2017-08-11 21:08] cmluciano commented on #47192
@mindprince Anymore progress on this?

[2017-08-11 21:09] StevenACoffman commented on #50449
Not sure if this is helpful, but you can download the keys manually like this:
`curl -s https://www.googleapis.com/oauth2/v1/certs | jq -r 'to_entries[0].value'`

[2017-08-11 21:13] #46935 closed

[2017-08-11 21:13] #47558 closed

[2017-08-11 21:14] #50472 closed

[2017-08-11 21:52] nikhiljindal commented on #50534
Am looking into this.

https://github.com/kubernetes/kubernetes/pull/50514 went through because its for master and not release-1.7

I know we had fixed the `Role` issue once before. (That was kubectl caching). Not sure if the same issue has resurfaced or this is different.

[2017-08-11 21:52] caesarxuchao commented on #49035
Sorry for the confusion. My proposal is only about the batch mode of these commands, e.g., `kubectl edit pods`. I failed to copy the words "batch mode" to my last comment.

[2017-08-11 21:55] caesarxuchao commented on #49035
@dixudx can we have different default value of `--include-uninitialized` for different commands? Or can we detect if user explicitly sets a flag?

[2017-08-11 21:56] caesarxuchao commented on #48893
I'm prototyping a refactor of the shared informer.

[2017-08-11 22:03] #50426 closed

[2017-08-11 22:15] shyamjvs commented on #50534
Coo!. Misread it because of 1.7 milestone on it.
Thanks for looking into it :)

[2017-08-11 22:31] nikhiljindal commented on #50534
@shyamjvs Can you point me to where you saw the `no Kind Role` error?

Looking at the build logs, I just see the following which doesnt provide any information:
[code]

Example build logs:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50458/pull-kubernetes-federation-e2e-gce/20329/?log#log

[2017-08-11 22:33] shyamjvs commented on #50534
It's in the full log - https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/50458/pull-kubernetes-federation-e2e-gce/20329/build-log.txt

[2017-08-11 22:41] spzala commented on #26481
@earthIsAPrisonIfYouNotAwareItCanNotOut  @mikedanese hi, it seems like we should move this question to https://stackoverflow.com/questions/ask/advice?tags=kubernetes and close this issue? Thanks!   (ref: https://github.com/kubernetes/community/blob/master/contributors/devel/issues.md#determine-if-its-a-support-request)

[2017-08-11 22:47] nikhiljindal commented on #50534
Thanks!
@madhusudancs pointed out that we are using clusters from HEAD in all release branch testing.
I see rbac.authorization.k8s.io was recently promoted to v1 in https://github.com/kubernetes/kubernetes/pull/49642, but I dont see any obvious reason why that would break.
cc @liggitt as FYI.

[2017-08-11 22:50] thockin commented on #50083
We can't add SRV records for unnamed ports.  That is why you don't see the log :)

So you can reach your services, but you can't resolve DNS by the DNS service IP.  Can you resolve DNS by the DNS pod's IP?  `nslookup hostnames 10.96.176.9` ?

[2017-08-11 23:19] thockin commented on #49978
Ugh.

If we have to solve this problem, could we make it simpler and more structural?

[code]

Or, if we REALLY think we have concrete use cases (please)

[code]

e.g.

[code]
https://play.golang.org/p/oMx0Ic2mwg

[2017-08-11 23:20] thockin commented on #49978
Benefit here is that we can enforce that "inner" rules are subsets of "outer" rules.

[2017-08-11 23:21] thockin commented on #49978
It's still confusing because "deny" doesn't mean deny.  It means "not under *this* rule", but another rule could allow it.

[2017-08-11 23:36] liggitt commented on #50534
looks like kubefed tries to speak whatever version of RBAC the server has, regardless of whether it knows about that version or not. the version discovery it does has to select a version both it and the server speak.

[2017-08-11 23:42] ahmetb commented on #49035
Got it, proposal LGTM.

[2017-08-11 23:57] nikhiljindal opened #50540 "kubefed should use an API version that both it and server uses"
Forked from https://github.com/kubernetes/kubernetes/issues/50534#issuecomment-321940562.

kubefed does API version discovery and then uses the preferred API group version that server supports. This breaks when server supports a newer version that the generated clientset that kubefed uses does not know about.
kubefed should choose the version that both server and it knows about.

https://github.co

[2017-08-12 00:00] nikhiljindal commented on #50534
Thanks for sending https://github.com/kubernetes/kubernetes/pull/50538 to fix this @liggitt
I have filed https://github.com/kubernetes/kubernetes/issues/50540 to fix the generic issue.

[2017-08-12 00:17] k8s-merge-robot opened #50541 "Failure cluster [5553b8...] failed 241 builds, 12 jobs, and 1 tests over 1 days"
### Failure cluster [5553b86556d49d77321d](https://go.k8s.io/triage#5553b86556d49d77321d)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    12 jobs failed,    241 builds failed.
Failure stats cover 1 day time range '10 Aug 2017 13:09 UTC' to '11 Aug 2017 13:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [sig-cli] Kubectl cli

[2017-08-12 00:17] k8s-merge-robot opened #50542 "Failure cluster [145704...] failed 129 builds, 25 jobs, and 1 tests over 1 days"
### Failure cluster [145704857a138152b65b](https://go.k8s.io/triage#145704857a138152b65b)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    25 jobs failed,    129 builds failed.
Failure stats cover 1 day time range '10 Aug 2017 13:09 UTC' to '11 Aug 2017 13:09 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| Test | 25 |

##### To

[2017-08-12 00:24] aledbf commented on #49614
@myaspm I used this guide https://kubernetes.io/docs/getting-started-guides/ubuntu/ as reference to reproduce the issue:

[code]

- select core
- select new provider -> localhost
- select template defaults

The issue here is that the installation uses an old version of the nginx ingress controller (14 months to be exact) where there was no update status of the Ingress rule/s
To fix this you can re

[2017-08-12 00:37] nikhiljindal opened #50543 "Do not leak GCE PD in federation tests"
Our ci tests started failing sometime yesterday (https://k8s-testgrid.appspot.com/sig-federation) with errors such as:
[code]

@madhusudancs pointed out that we have always been leaking the GCE PD provisioned using Dynamic provisioning, we probably updated our tests now to catch it.

ci tests on HEAD and all release branches are now failing.

cc @kubernetes/sig-federation-bugs

[2017-08-12 01:16] netroby opened #50544 "[RFC] support kubernetes Import/Export, Backup/Restore"
Hello, I am try to find solution to import/export data with kubernetes, and the Backup/restore full kubernetes.

The real production usage will be very often require to backup important data. kubernetes need backup .

Or if the machine down. the datacenter attacked by the earth quake. we will lost everything.

so we need back/restore, import/export.

[2017-08-12 01:30] nikhiljindal commented on #50540
As per discussion in https://github.com/kubernetes/kubernetes/pull/50537#discussion_r132804742, we do this only for RBAC. We should change that to match with what we do at other places (require the server to support a specific version, no discovery and preference required)

[2017-08-12 01:47] #43909 closed

[2017-08-12 01:59] dixudx commented on #49035
@caesarxuchao Yep, we can. Already revised PR #50497. PTAL. I think it's ready for review. Thanks.

Also for issue #49032 and #49035, @ahmetb they're somehow overlapped. Do we choose one of them? I've submitted PRs for them respectively. PTAL.

[2017-08-12 02:31] m1093782566 commented on #46083
@cmluciano

Yes, I am still working on it.

[2017-08-12 02:44] #50147 closed

[2017-08-12 03:13] xiangfeiz commented on #50446
Open an issue in gophercloud: https://github.com/gophercloud/gophercloud/issues/459

[2017-08-12 03:24] agol commented on #50227
Encountered the same issue with StatefulSets after nodes upgraded from 1.7.2 to 1.7.3 on GKE. Reverting back to 1.7.2 solved the issue.

[2017-08-12 03:37] #50498 closed

[2017-08-12 03:37] #50510 closed

[2017-08-12 05:18] myaspm commented on #49614
I will try this, thanks a lot!

[2017-08-12 05:28] dujun1990 commented on #46083
@sstarcher Please refer #46581

Do think this PR can fix this issue?

[2017-08-12 05:39] g1001p commented on #50465
Another moment I did not mention we power off vCenter to see how long kubernetes cluster could tolerate the disapirance of vCenter and I see that first two minutes after power off kubernetes has no issues . After two minutes passed the workers nodes becoming not ready one by one.
If exists such deep dependency from vCenter high availability then  we need   k8s toleration parameter to manage the do

[2017-08-12 05:42] m1093782566 commented on #46083
/kind bug

[2017-08-12 08:04] snowball77 commented on #43389
Sorry for the delay, I was quite busy the last days. I have created a fork of the kubernetes code at https://github.com/ISTE-RSS/kubernetes and pushed my adjustments to it. This config works for me and I hope you can at least learn from it by looking at my changes. But it will not work out of the box for you (see next paragraph).

I made several adjustments. In particular, I am not using tokens bu

[2017-08-12 08:51] #50524 closed

[2017-08-12 09:39] willis7 commented on #27928
I'm not actively using Kubernetes anymore, so I am happy for this to be closed.

[2017-08-12 09:39] #27928 closed

[2017-08-12 10:46] zjj2wry commented on #50248
```gvk, err = mapper.KindFor(groupResource.WithVersion(""))``` return ```no matches for {  all}```. how fix this?

[2017-08-12 12:11] m1093782566 opened #50552 "Apiserver run options have no validation"
See https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiserver/pkg/server/options/server_run_options.go

I think it's the last file that has no validation in pkg `k8s.io/apiserver/pkg/server/options`.

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-relea

[2017-08-12 12:12] m1093782566 commented on #50552
@sttts @deads2k

[2017-08-12 12:12] m1093782566 commented on #50552
/kind clean-up

[2017-08-12 12:12] m1093782566 commented on #50552
/sig apimachinery

[2017-08-12 13:16] ash2k commented on #43605
Opened a PR with a fix.

[2017-08-12 13:24] yastij opened #50556 "Iscsi disk manager should handle failed mounts"
The iscsi disk manager should handle failed mounts correctly see [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/iscsi/disk_manager.go)

/sig storage
/assign

[2017-08-12 14:18] Dmitry1987 commented on #44275
To me it seems like every next release of K8s will be more and more difficult to setup, maintain, and upgrade, for simple mortals who are not using hosted GKE or OpenShift versions. And it's totally ok, you know, people need to get paid for their work. Features are top priority, while 'ease of use' or "convenience" of those struggling with the open source version, are low priority. IMHO.

Same wit

[2017-08-12 14:23] x1957 commented on #50491
@thockin Hi Tim, please review the PR https://github.com/kubernetes/kubernetes/pull/50494

[2017-08-12 15:43] danwinship commented on #49978
You don't have to allow nesting "allow"s inside "deny"s, because you can always just hoist the inner "allow" into a separate NetworkPolicyPeer. Your second example could be expressed in the syntax of the first example as:

    from:
    - cidr:
      allow: 192.168.0.0/16
      except:
      - 192.168.8.0/24
      - 192.168.9.0/24
    - cidr:
      allow: 192.168.8.128/25
      except:
      - 192

[2017-08-12 15:55] lukaszo commented on #50313
@dmayo3 You need to enable RollingUpdate or manually delete the broken pods. There is no bug here. This behavior is expected.

[2017-08-12 16:44] xiangpengzhao commented on #50522
/sig storage

[2017-08-12 16:44] xiangpengzhao commented on #50493
/sig cluster-lifecycle

[2017-08-12 16:46] xiangpengzhao commented on #50465
/sig cluster-lifecycle

[2017-08-12 16:47] xiangpengzhao commented on #50433
/sig node
probably

[2017-08-12 16:49] xiangpengzhao commented on #50544
/sig storage

[2017-08-12 16:49] xiangpengzhao commented on #50552
/sig api-machinery

[2017-08-12 17:29] itskingori commented on #45626
@philipn @bcorijn @cooper667 @thegranddesign @BradErz @greenkiwi pavelhritonenko @andreychernih ... my thesis when I asked a bunch of you what the issue was (see https://github.com/kubernetes/kubernetes/issues/45626#issuecomment-319611102) is that part of the problem is with the `4.4.65-k8s` kernel. I've been running/testing `4.4.78-k8s` (see https://github.com/kopeio/kubernetes-kernel/pull/8) for

[2017-08-12 20:09] bhs commented on #46503
Regardless of OpenTracing (though @gmarek is right on the money with his assertions along those lines), if it's not possible to pass the Go `Context` across process boundaries, it will also be impossible to do cross-process tracing without either (a) adding a second Context-like parameter (which seems a little crazy) or (b) adding context information to the application-level data (which also seems

[2017-08-12 20:41] cblecker opened #50560 "kubectl zsh autocompletion isn't loaded on first tab by compinit"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig cli

**What happened**:
As reported in https://github.com/Homebrew/homebrew-core/pull/16507, the kubectl zsh autocompletion isn't autoloaded on it's first tab due to the way the function is written.

Adding a `#compdef kubectl` line to the start and a `_complete kubectl` to the end fixes this problem

[2017-08-12 21:12] spzala commented on #27928
@willis7 thanks for closing the issue!!

[2017-08-12 21:41] lxpollitt commented on #49978
A few thoughts on the `allow` `except` suggestion:
- I like the more structural approach.
- I prefer keeping it simple: so the `allow` `except` without the `deny`clauses.
- However, imagine a future where we decide to add `deny` as a general attribute of a policy rule (overriding the implicit `allow` of rules today) supporting the full set of selectors in the rule (pod, namespace, CIDRs).  i.e. Th

[2017-08-12 21:42] lxpollitt commented on #49978
I should add, I don't know if we every will decide to add `deny`, but it has come up in discussions many times, so I wouldn't want to rule it out!

[2017-08-12 22:10] #50360 closed

[2017-08-13 03:52] MikeSpreitzer opened #50564 "Sign error in comment on resource.ScaledValue"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I invoked `ScaledValue(-9)` on a resource.Quantity, and got a result that was multiplied by a factor of 10^9.

**What you expected to happen**:
I expected to get a value that was multiplied by a factor of 10^-9, because the comment says "ScaledValue returns the value of ceil(q * 10^scale)".

**How to reproduce it (as mini

[2017-08-13 03:54] MikeSpreitzer commented on #50564
@kubernetes/@sig-apimachinery-bugs

[2017-08-13 03:55] MikeSpreitzer commented on #50564
@kubernetes/sig-apimachinery-bugs

[2017-08-13 03:56] MikeSpreitzer commented on #50564
/sig apimachinery

[2017-08-13 05:29] m1093782566 commented on #48992
I am closing this PR.

[2017-08-13 05:31] #48992 closed

[2017-08-13 06:21] maxlaverse commented on #48358
@aledbf I'll rerun the tests when I'm back, the 21st or the week after.

[2017-08-13 08:22] netroby opened #50567 "[RFC] add prefight command for kubeadm check the sandbox image requirement"
The kubeadm need some sandbox image to setup the kubernetes

[code]

Can we add a command ```kubeadm prefight```

It will list the pre images

[code]

So the user can pre download these images , prepare for kubeadm .

If not download these images. kubeadm will not quick to set up kubernete.

And often hang up due to network problem.

[2017-08-13 08:26] netroby opened #50568 "[RFC] can we add CDN or mirror for sandbox images download? Or provided full images for offline install"
Download images from gcr.io very slow. can we add CDN/mirrors for kubernetes( I am using kubeadm)

Or can we release a full images tar.gz for offline download (install)

[code]

it take lot's time to waiting the download progress finish, and the kubeadm stuck . no response. always waiting. but user do not know what happened

[2017-08-13 08:52] gyliu513 opened #50569 "Time-Based Auto Scaling for Applications"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The Kubernetes only support auto scaling based on CPU and some other [customized metrics](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/run-application/horizontal-pod-autoscale.md#support-for-custom-metrics) now, the problem is that in a production environment, most customers do not want t

[2017-08-13 08:53] gyliu513 commented on #50569
@kubernetes/autoscaler-maintainers

[2017-08-13 09:04] humblec commented on #50463
I kind of tried to reproduce this issue and I could see:
[code]

In next iteration , it removed the `auto_unmount` and proceeded with a successful mount:

[code]

So, this is really version specific I believe, somewhere in older gluster client version, we are getting `invalid argument instead of expected `Invalid option auto_unmount`

[2017-08-13 09:05] olegs-codefresh commented on #15128
So nothing for now?
Was any progress made with this query?

[2017-08-13 09:14] xiangpengzhao commented on #49161
sig-ui: @bryk
sig-node: @derekwaynecarr
sig-storage: @saad-ali
sig-network: @bowei
sig-apps: @michelleN
sig-api-machinery: @deads2k
sig-federation: @quinton-hoole

Can folks confirm my comment https://github.com/kubernetes/kubernetes/issues/49161#issuecomment-320502371 above ? Thanks!

[2017-08-13 09:22] ijumps commented on #48866
This may due to bad `hostpath` mount. For now, all `hostpath` use private mount, when you run a pod use `hostpath` to mount `/` into container, any pod create before this pod may not umount secret successfully. In this case, a slave mount should be used.

You can check the path (e.g. `/var/lib/kubelet/pods/b1a82f2a-67a1-11e7-93d5-fa163e1a2c07/volumes/kubernetes.io~secret/default-token-cxhvh`) with

[2017-08-13 09:27] dixudx commented on #50564
@MikeSpreitzer I looked through all the testcases and found that it actually should means `ceil(q / 10^scale)`. Already fixed this in PR #50571. PTAL.

[2017-08-13 09:42] shiywang opened #50572 "kubectl apply set-last-applied -o json --dry-run should print a newline before print success"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug
 /sig-cli

**What happened**:
[code]
**What you expected to happen**:
[code]
**How to reproduce it (as minimally and precisely as possible)**:
kubectl apply set-last-applied -f ~/template/nginx1.yaml  -o json --dry-run

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or ha

[2017-08-13 09:42] shiywang commented on #50572
/assign

[2017-08-13 09:51] shiywang commented on #50572
/kind bug
/sig-cli

[2017-08-13 09:51] shiywang commented on #50572
/sig cli

[2017-08-13 10:45] dixudx commented on #50556
@yastij Found multiple `// TODO: handle failed mounts here`. Fixed in PR #50574. PTAL.

[2017-08-13 11:04] yastij commented on #50556
@dixudx - this is not what im pointing here im talking about `#mount()` that errors.

I'm taking care of it tomorrow.

[2017-08-13 11:05] sascha-coenen commented on #41711
please reopen this ticket

[2017-08-13 11:17] rgolangh commented on #33714
Got the same thing on k8 1.6.7 on fedora 26.
Blanking the admission control like mentioned by @bijujo  fixes the problem.

[2017-08-13 12:32] resouer commented on #48588
One thing I would like to add is HPA will actually report if we set DS as HPA's target,
[code]
that's because we can not get `Scale` from `DaemonSet`.

[code]

And after read thru all the comments here, I think we can close this issue actually. @thockin @DirectXMan12  @deads2k WDYT?

Since we have tell use this target is not scalable.

[2017-08-13 14:09] resouer commented on #50232
After looking it deeper, it seems that every call of flexvolume binary is a fresh new call, so initialization in init() actually make no sense here. Will close this issue if my guess is right.

[2017-08-13 14:11] gertcuykens commented on #28321
kubectl --namespace=default apply -f deployment/production/deployment.yaml
[code]
Don't know if this is same issue but this is what i get when i do the following lol :D
[code]
[code]
Not even a line number

[2017-08-13 14:14] jhorwit2 commented on #48690
Should kubernetes/kubernetes#49308 be considered a blocker for beta? It's pretty important to be able to reference what zone a node is in.

[2017-08-13 19:06] rbtcollins commented on #42164
We had the following symptoms : docker ps nonresponsive, this error reported in node status and  *workloads* not serviing responses, and a restart of docker restored service

[2017-08-13 19:43] ravisantoshgudimetla commented on #49190
/cc me

[2017-08-13 20:05] nikhiljindal commented on #46690
federation e2e tests are passing now

[2017-08-13 20:05] #46690 closed

[2017-08-13 21:50] zaghaghi commented on #50227
Having the same issue with StatefulSets with kubernetes 1.7.3 and mongo image

[2017-08-13 23:19] pwittrock commented on #48564
The current plan is to do as @lavalamp suggested - things that rely on specific compiled in types should pick a version and use the external client-go library.

[2017-08-14 00:19] k8s-merge-robot opened #50580 "Failure cluster [fdb61c...] failed 187 builds, 1 jobs, and 1 tests over 1 days"
### Failure cluster [fdb61c0214f47b3016b6](https://go.k8s.io/triage#fdb61c0214f47b3016b6)
##### Error text:
[code]
##### Failure cluster statistics:
1 tests failed,    1 jobs failed,    187 builds failed.
Failure stats cover 1 day time range '12 Aug 2017 17:37 UTC' to '13 Aug 2017 17:37 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| install_gcloud | 1 |

[2017-08-14 01:55] CaoShuFeng commented on #49921
@cblecker
I tried it, but it does not work.
Still the same error message.

[2017-08-14 02:14] zhangxiaoyu-zidif commented on #50521
PV's status change to "released" automatically without any operations?
Could you list more details about your problem, such as env. , PV config file, PVC config file, etc.

[2017-08-14 02:14] zhangxiaoyu-zidif commented on #50521
/help-wanted

[2017-08-14 02:49] WIZARD-CXY commented on #46984
@yujuhong any update on this?

[2017-08-14 03:02] zhangxiaoyu-zidif commented on #40643
Only kubectl has translations?
I think any component,e.g. kube-controller-manager, kube-scheduler, should have its own translations when execute --help. That would look great :)

[2017-08-14 03:14] fanhongli opened #50585 "ssh_exchange_identification One night later"
**Is this a BUG REPORT or FEATURE REQUEST?**: yes

**What happened**:  ssh_exchange_identification

**What you expected to happen**: no  ssh_exchange_identification

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**: centos7
- Kubernetes version (use `kubectl version`):

Client Version: version.Info{Major:"1", Minor:"7", GitVers

[2017-08-14 03:46] thockin commented on #49978
Dan, good point.  Much simpler.

Alex, Are you just arguing for more generic names than "allow" and "except" ?

Aside from that, we could repeat?

[code]

Better?  Worth the extra nesting?

[2017-08-14 03:47] zhangxiaoyu-zidif commented on #50024
/kind bug

[2017-08-14 03:48] zhangxiaoyu-zidif commented on #50024
The version is you build from master branch?
More details about env., config files are needed.
That would help reproduce it.=)

[2017-08-14 05:37] smarterclayton opened #50586 "Some DaemonSet e2e tests can fail on single node clusters"
Seen this fairly frequently on 1.7 1 node clusters when running e2e tests.

This code snippet:

[code]

isn't safe on a 1 node cluster, because `checkDaemonPodsImageAndAvailability` can exit while there are 0 pods available, leading to the next line

[code]

failing because `listDaemonPods` will error if zero pods are listed.

[code]

[2017-08-14 05:42] YitongFeng commented on #15108
Kubelet v1.7.1 set --register-node=false ----api_servers=""  that works for me

[2017-08-14 05:42] m-no-2017 commented on #50083
@thockin ok I didn't know this (should have looked into the sc from time to time, I'm sry =/ )

And yes, if i do something like "nslookup [any service name].[namespace].svc [DNS-POD-IP]" it works for every POD within the cluster. The only thing I just can't figure out is the non-existing connection between my DNS-Service and its POD.

[2017-08-14 06:02] spnzig commented on #50432
Yes I have. Is there a need to add the apiserver certificate and key?

[2017-08-14 06:09] CaoShuFeng commented on #49921
@cblecker
What about this?
https://github.com/kubernetes/kubernetes/pull/50587

[2017-08-14 06:09] m1093782566 opened #50588 "validate tokenReview body length"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-14 06:12] akgunjal commented on #50521
@zhangxiaoyu-zidif : Please find the details requested.
(1) ENV: Kubernetes 1.5.6
(2) We are using dynamic provisioner where the deletion of PVC will call our provisioner which will check if the state of PV is "Released" and then proceed with delete of the backend storage.
Sample PVC yaml:

_**kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvcname # user can choose any name as per ku

[2017-08-14 06:21] zhangxiaoyu-zidif commented on #50521
etcd is very important to Kubernetes. Actually, almost all data store in etcd. Maybe etcd restart result in PV's released. How much time does your etcd restart. If very transient, It should not. But I like to reproduce it in my env. =)
btw, how many PVs and PVCs you config?

[2017-08-14 06:32] akgunjal commented on #50521
The etcd restart is not very frequent and this issue we have got on some occasions. But we are not able to reproduce the problem yet. Can you provide a pointer if there is a way to reproduce this issue with snapshots enabled?

In what scenario etcd restart can change the PV to released as the PV was in bound state before restart?

We had around 80 PVs bound to PVCs when the issue happened. All PVs

[2017-08-14 06:42] xiangpengzhao opened #50590 "Add "gcr.io/google_containers/e2e-net-amd64:1.0" to white list"
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50198/pull-kubernetes-node-e2e/44899/ always fails.

Most of the test failures are as below:
[code]

[code]

We should add `gcr.io/google_containers/e2e-net-amd64:1.0` to white list to avoid timeout.

/sig network testing
/cc @bowei @Random-Liu
/assign

[2017-08-14 06:58] zhangxiaoyu-zidif opened #50592 "Unit test error message should follow go style"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Unit test error message match the conventional Go style:

https://github.com/golang/go/wiki/CodeReviewComments#useful-test-failures
For example:

if got, want := set.Status.Replicas, 3; got != want {
  t.Errorf("set.Status.Replicas = %v; want %v", got, want)
}

[2017-08-14 06:58] yguo0905 commented on #46984
The [`StatsProvider`](https://github.com/kubernetes/kubernetes/blob/b32639f9e7d47d0f69bb41b5535803ae4c9d835a/pkg/kubelet/server/stats/handler.go#L41) interface can be changed to accommodate both the cadvisor and the CRI stats, as below.

[code]

- The interface will use summary API's types (`statsapi`)
- The conversion between the cadvisor/CRI types to the summary API's types will be moved to `kub

[2017-08-14 06:59] #50588 closed

[2017-08-14 07:00] zhangxiaoyu-zidif commented on #50592
/sig test

[2017-08-14 07:05] zhangxiaoyu-zidif commented on #50592
/sig testing

[2017-08-14 07:10] zhangxiaoyu-zidif commented on #50521
Seems to be a very serious problem.
/cc @xiang90 @spiffxp @jingxu97

[2017-08-14 07:14] zhangxiaoyu-zidif commented on #50564
/sig api-machinery

[2017-08-14 07:15] zhangxiaoyu-zidif commented on #50592
/assign

[2017-08-14 07:17] k82cn opened #50594 "NodeConditionPredicates in DaemonSet should return OutOfDisk error."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**Description**:

In DaemonSet, `NodeConditionPredicates` should return `NodeOutOfDisk` after moved node condition check into a predicates.

[2017-08-14 07:17] k82cn commented on #50594
/sig apps

[2017-08-14 07:24] zhangxiaoyu-zidif commented on #50521
/sig api-machinery

[2017-08-14 07:26] zhangxiaoyu-zidif commented on #50567
/kind feature

[2017-08-14 07:53] zhangxiaoyu-zidif commented on #50592
/reopen

[2017-08-14 08:00] k82cn commented on #49798
makes sense :).

In https://github.com/kubernetes/kubernetes/issues/49798#issuecomment-318717760 , only `OutOfDisk` is never updated; can we make sure kubelet is not ready? Not sure how kubelet updated those status, and its kubelete's action; give me some time to check it. And propose how to handle it.

[2017-08-14 08:04] #45774 closed

[2017-08-14 08:07] k82cn opened #50598 "Add more test case for nodeShouldRunDaemonPod & Predicates of DaemonSet"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement
/sig apps

**Description**:

`nodeShouldRunDaemonPod` is a key function of DaemonSet; it's better to have more unit test case for it, e.g. node status, pod on the node. There's several test cases to the DaemonSet's finial decision, which are kind of integration test to me; prefer to provide more unit test case for this key function.

[2017-08-14 08:17] piosz opened #50599 "Addon resizer v2.0 significantly decreases resources for Heapster"
Resources assigned to Heapster on 1000 nodes cluster:

with version 1.7
765m
5.6G

with version 2.0
540m
4.6GB

Heapster tends to OOM from time to time with the latter parameters.

[2017-08-14 08:17] piosz commented on #50599
cc @mwielgus @fgrzadkowski

[2017-08-14 08:20] zhangxiaoyu-zidif commented on #47390
Problem solved.
/close

[2017-08-14 08:20] #47390 closed

[2017-08-14 08:22] zhangxiaoyu-zidif commented on #50526
/sig cli

[2017-08-14 08:23] zhangxiaoyu-zidif commented on #50567
/area kubeadm

[2017-08-14 08:26] zhangxiaoyu-zidif commented on #50567
/sig release

[2017-08-14 08:28] zhangxiaoyu-zidif commented on #50567
Seems to be valuable for China mainland.
Becasue of Great Wall Firewall.
/cc @cblecker @xiangpengzhao

[2017-08-14 08:35] mccormd commented on #50453
@thockin that's disappointing, the DNS selector feels like a more elegant way of solving the problem of creating rules to changing external services.  Adding in a HTTP proxy just adds yet more infrastructure and moves the problem on one step.  Let's assume I create the HTTP proxy within my kubernetes cluster, I use ha_proxy with it's cool dns backend feature, now how do I set the egress policy on

[2017-08-14 08:37] #50590 closed

[2017-08-14 08:46] dixudx opened #50601 "The aarch64 organization is deprecated in favor of the more-specific arm64v8 organization"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/area release-infra
/sig release

**What happened**:
As stated in [aarch64/debian on Docker Hub](https://hub.docker.com/r/aarch64/debian/)

**What you expected to happen**:
We should replace current `aarch64/*` Docker images to `arm64v8/*`.

[2017-08-14 08:50] zoidbergwill commented on #42868
Relevant issue in that repo: https://github.com/kubernetes/dns/issues/68

[2017-08-14 08:52] mccormd commented on #50451
Hi, I'm using Calico (Canal) as my CNI plugin.  Should kubernetes be flexible around the namespace model or should we be deploying each application into its own namespace as a shared pattern?

[2017-08-14 09:02] dixudx commented on #38067
@luxas `QEMU` version `v2.9.0` is not released. I use [`v2.9.1`](https://github.com/multiarch/qemu-user-static/releases/tag/v2.9.1) instead. PTAL #50597. Thanks.

[2017-08-14 09:07] fasaxc commented on #50048
@cjwagner I've now been added as a collaborator.

[2017-08-14 09:09] zhangxiaoyu-zidif commented on #49917
If no memory, how could Pod be assigned to that node. I feel confused. =(

[2017-08-14 09:10] zhangxiaoyu-zidif commented on #49917
/kind bug

[2017-08-14 09:10] amarts commented on #50463
Agree with @humblec. This feature made [it to release 3.11](https://github.com/gluster/glusterfs/commit/cd5c913ebc964c6a2907ef1c11aff1d2015a14b1) branch of [glusterfs](github.com/gluster/glusterfs) by 3.11.1 release. Hence if you try this option with any higher version, these logs wouldn't be seen.

But with any earlier versions, as the feature doesn't exist in glusterfs project, these logs would

[2017-08-14 09:14] shiywang commented on #50519
@smarterclayton @liggitt  not sure if i fully understand this issue, but according your comments, I guess the fix is like this, ptal, thanks

[2017-08-14 09:16] zhangxiaoyu-zidif commented on #49622
Is that a env. that's Kubernetes on kubernetes?

[2017-08-14 09:21] sttts opened #50604 "Switch storage version for networking.k8s.io/v1 and extensions/v1beta1's networking types to networking.k8s.io/v1"
This includes updating `hack/test-update-storage-objects.sh` with a test to switch off `extensions/v1beta1` in order to verify that `networking.k8s.io/v1` keeps working, compare https://github.com/kubernetes/kubernetes/pull/50327#discussion_r132570895.

[2017-08-14 09:22] sttts commented on #50604
/cc @caesarxuchao @thockin @danwinship

[2017-08-14 09:23] CaoShuFeng commented on #49622
No.
Only "kubectl" runs inside a pod, no other services like kube-apiserver, kube-scheduler.

[2017-08-14 09:23] WIZARD-CXY commented on #46984
let me have a closer look

[2017-08-14 09:24] kevin-wangzefeng commented on #49535
Found that there are still a lot of places currently using `clientSet.Core()`. Reopening this issue.

[2017-08-14 09:36] shiywang commented on #50519
@smarterclayton after test, seems this may not fix the problem, I would like to continue take a look if you think is ok.

[2017-08-14 09:43] #50323 closed

[2017-08-14 09:44] m-no-2017 commented on #50083
Hmh ok I fixed it! :D

RBAC is the devil himself, if you don't know every detail of it.

Summary:
- Kube-DNS POD is in a running state
- Kube-DNS Service has correct endpoints
- All of the Kube-DNS components are labeled correctly
- RBAC is enabled
- DNS resolving only works if you specify the Kube-DNS-POD-IP as nameserver (nslookup)

Solution:
- assign the "system:serviceaccount:kube-system:defau

[2017-08-14 10:02] zhangxiaoyu-zidif commented on #50585
you mean that you must use password to access from one node to anther by ssh.
And this situation occured after installing the cluster.
Some network env. or hostnames changed?

[2017-08-14 10:18] dohnto commented on #20567
Hello, encounter problem with iptables performance.

First, let me describe our setup:
 * 10 bare metal node cluster, 16 procs, 94 GB RAM, load is below 2
 * 380 pods
 * 492 services (we use **several services on single deployment**)
 * 3710 iptables lines

[code]
 * We use flanneld as a network plugin (0.7.0-0)
 * We run debian jessie

The problem is following:

We can see issues with slow iptabl

[2017-08-14 10:31] cb372 commented on #33483
I'm trying to set up a service with an ILB in a custom subnet. Is this possible?

Here's my service.yaml:

[code]

This fails with the following error:

[code]

Is there an annotation or something I can add to specify the subnet?

[2017-08-14 10:33] TinySong commented on #50312
same issue, kubernetes1.6.4

[2017-08-14 10:40] rtmie commented on #38923
@farcaller - thanks for that. All good now!

[2017-08-14 10:49] tamalsaha opened #50608 "Kubernetes fails to configure AWS ELB properly"
I am running a Kubernetes 1.7.0 cluster on aws managed by kops. I have seen at least 2 scenarios where listeners of an ELB created for a `LoadBalancer` type service is not configured properly.

case 1:
I have a LoadBalancer type service without any aws specific annotations. Then I apply the following annotations:
- "service.beta.kubernetes.io/aws-load-balancer-ssl-ports": "443",
- "service.beta.ku

[2017-08-14 10:50] tamalsaha commented on #50608
@kubernetes/sig-aws

[2017-08-14 10:53] shiywang commented on #50528
@sttts @ironcladlou do you think I can take a look at this ? if it's not a hard one and not urgent, thanks

[2017-08-14 10:58] sttts commented on #50528
@shiywang you mean this ^^? Sounds good. No idea how involved this is though.

[2017-08-14 11:09] voyalab commented on #13776
+1

[2017-08-14 11:32] sttts commented on #49497
To see whether we are on the same page:

Content-type negotiation means to introduce something like `Accept: application/json;export=true` or `Accept: application/json;format=export`. A client then can request just the export version passing `Accept: application/json;export=true` or `Accept: application/json;export=true, application/json` if it has a fallback for endpoints without the export imple

[2017-08-14 11:44] gtirloni commented on #48447
@dixudx that's exactly the issue I was having with minikube + VirtualBox on Linux. After sleeping the host, the guest would get out of sync by roughly 30sec. Starting/stopping the VM didn't help. I had to restart the host and then the minikube VM would get sync'ed correctly.

[2017-08-14 12:00] luxas commented on #38067
Thanks for the PR, I'll take a look

[2017-08-14 12:01] crassirostris opened #50610 "Kibana deployment is failing in some e2e tests"
Example:

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-es-logging/12482

It seems there's not enough CPU to start in time

[2017-08-14 12:04] luxas commented on #48690
@jhorwit2 Yes, I think so. We need to sync up as a group on this though, let's see if we can find a Zoom time for interested parties...

[2017-08-14 12:22] kevin-wangzefeng commented on #49535
/assign

[2017-08-14 12:39] acomagu opened #50612 "Change the places of the files under ~/.kube easily"
**Is this a BUG REPORT or FEATURE REQUEST?**: FEATURE REQUEST
/kind feature
/sig cli

**What happened**:
I want to move `$HOME/.kube` dir to another place, but I feel it's little troublesome because several configs must be set up.

**What you expected to happen**:
Something like `--home-dir` option or `KUBE_HOME` environment path can change the default places of schema, cache and config.

**Enviro

[2017-08-14 12:47] acomagu commented on #50612
/sig cli

[2017-08-14 12:49] m-no-2017 commented on #50083
Ok f*ck. It just worked for like 5min. Same state, nothing works.

[2017-08-14 13:15] juanvallejo commented on #50048
@cjwagner I am now an outside collaborator as well.

[2017-08-14 13:23] luxas commented on #26481
Support for this deployment has been deprecated for a year and it has been removed, so closing

[2017-08-14 13:23] #26481 closed

[2017-08-14 13:25] ironcladlou commented on #49801
These tests will build upon https://github.com/kubernetes/kubernetes/pull/50347.

[2017-08-14 13:27] spzala commented on #26481
@luxas Thanks!!

[2017-08-14 13:31] fabiand commented on #24430
Is somebody aware of an issue tracking the general topic of a mutable pod?

[2017-08-14 13:56] zxpower commented on #12715
It's still an issue in 1.6...

[2017-08-14 13:58] zhangxiaoyu-zidif commented on #50522
'''yaml
Name: testclaim
Namespace: default
StorageClass: fastrbd
Status: Pending
Volume:
Labels:
Annotations: kubectl.kubernetes.io/last-applied-configuration={"apiVersion":"v1","kind":"PersistentVolumeClaim","metadata":{"annotations":{},"name":"testclaim","namespace":"default"},"spec":{"accessModes":["ReadWr...
volume.beta.kubernetes.io/storage-class=fastrbd
volume.beta.kubernetes.io/storage-prov

[2017-08-14 14:01] zhangxiaoyu-zidif commented on #50521
@akgunjal
In order to avoid this problem, I suggest that you can setup a HA cluster, which has three masters and etcds.

[2017-08-14 14:09] luxas opened #50613 "Rename --experimental-bootstrap-token-auth to --enable-bootstrap-token-auth"
/kind feature

As part of https://github.com/kubernetes/features/issues/130, the `--experimental-bootstrap-token-auth` flag on the API server should be renamed to something like `--enable-bootstrap-token-auth`. We'll leave `experimental-bootstrap-token-auth` deprecated (should it be a no-op or not?) for v1.8.

Or we should consider adding an explicit `--authenticators` flag to the API server in th

[2017-08-14 14:30] irfanurrehman opened #50615 "[Federation] Kubefed docs should not have kubectl strings"
Referring https://kubernetes.io/docs/admin/kubefed_options/ and https://kubernetes.io/docs/admin/kubefed_version/; both have ```kubectl``` string in place of ```kubefed``` in section ***Example***. This needs to be corrected in kubefed docs autogeneration.
@kubernetes/sig-federation-bugs
cc @madhusudancs
also see https://github.com/kubernetes/kubernetes.github.io/pull/4852

[2017-08-14 14:32] irfanurrehman commented on #50615
/assign

[2017-08-14 14:37] dixudx opened #50618 "The armhf organization is deprecated in favor of the more-specific arm32v7 organizations"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug
/area release-infra
/sig release

**What happened**:
As stated in [armhf/debian on Docker Hub](https://hub.docker.com/r/armhf/debian/)

**What you expected to happen**:
We should replace current `armhf/*` Docker images to `arm32v7/*`

[2017-08-14 14:38] #50610 closed

[2017-08-14 14:39] k4k opened #50619 "kubectl --dry-run does not check spec.template.spec.containers.ports.name"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
`kubectl apply --dry-run` does not catch port names longer than 15 characters but `kubectl apply` without `--dry-run` will fail to deploy citing `spec.containers

[code]

**What you expected to happen**:
`kubectl apply --dry-run` should run all of the same checks as `kubectl apply` without `--dry-run`

**How to reproduce

[2017-08-14 14:44] zxpower commented on #47131
Similar problem (see log below).

In short - installing new K8S master node based on this guide: https://coreos.com/kubernetes/docs/latest/getting-started.html - when trying to start kubelet service on it - everything starts up, but the apiserver all the time crashes (?). Due to that worker node can't register it self as well master node isn't fully working.

etcd version: 3.2.5
kubernetes version

[2017-08-14 14:44] k4k commented on #50619
@kuberentes/sig-CLI

[2017-08-14 14:51] luxas commented on #50567
Please reopen in the kubeadm repo.

[2017-08-14 14:51] #50567 closed

[2017-08-14 14:52] ami-fairfly commented on #47725
Aaand we're back. This time on 1.6.7.

Some nodes are just causing 504, and I can't even tell which nodes.

Could really use some help here.

@nbutton23  - tried to raise the timeout, did not help.
@cmluciano any ideas?

[2017-08-14 15:09] xiangpengzhao commented on #50619
/sig cli

[2017-08-14 15:11] githubvick commented on #49389
Yes, finally able to get through the error and onto the next hurdle. It has something to do with availability sets. I'm starting to research a bit more about them.

[code]

[2017-08-14 15:11] himikof commented on #45487
Actually, reading [the credential provider code](https://github.com/kubernetes/kubernetes/blob/5e0a539cf116529607506379b2b4bf875191b2e3/pkg/credentialprovider/config.go#L121-L144), it seems that kubelet searches for the following files:

- .dockercfg: `${rootDirectory}/.dockercfg`, `$PWD/.dockercfg`, `$HOME/.dockercfg`, `/.dockercfg`
- .docker/config.json: `${rootDirectory}/config.json`, `$PWD/con

[2017-08-14 15:36] dixudx commented on #50415
@beyondli Dup of #50493?

Actually such error msg/code `code=exited, status=203/EXEC` is not brought by `apiserver`. It is `Systemd` that finds the unit file of `apiserver` will not function well.

Please check that `/usr/bin/kube-apiserver` does exist and is executable. Also the `KUBE_*` args are well formated.

[2017-08-14 15:36] xiangpengzhao commented on #50619
Similar with #42057

/cc @smarterclayton @adohe

[2017-08-14 15:51] cmluciano commented on #49978
I'm not sure what the alternative options are for  `` ipAddresses:`` . Is this more of a clarification type of thing?

[2017-08-14 16:02] prydie commented on #48690
We should probably also resolve https://github.com/kubernetes/kubernetes/issues/49836 pre-beta.

[2017-08-14 16:06] jhorwit2 commented on #48690
Agreed. We wouldn't be able to use the provider id zone solution without first being able to set the provider id. Right now those provider id methods are basically a noop (rancher's example doesn't use them).

[2017-08-14 16:18] micahhausler commented on #49682
@jimmycuadra The short answer is that Kubernetes does not support proxy protocol.

For enabling proxy-protocol on the ELB, use the [service annotation](https://github.com/kubernetes/kubernetes/blob/b86dd9af02409a5fa9b9eb605219932565b8e29e/pkg/cloudprovider/providers/aws/aws.go#L79)

[code]

I think your best bet is to bypass the `kube-proxy` and use an ingress controller that supports proxy-protoc

[2017-08-14 16:18] shyamjvs commented on #49673
Please note that any of the changes need to be cherry-picked to earlier release branches also. Otherwise presubmit tests will fail for PRs on those branches (unless you skip e2e tests for those branches which I don't think we want).

[2017-08-14 16:19] akgunjal commented on #50521
@zhangxiaoyu-zidif : As we dont know the cause of the issue, having changes in cluster is not sure will resolve the issue. Is there a known issue here with etcd?

[2017-08-14 16:27] thockin commented on #49978
In this sketch, ipAddresses was something like `[]IPAddressPolicyRule`
which was

[code]

Trying to satisfy Alex's naming concerns (no "allow", just "cidr") and the
"maybe it should be repeated" concern.

so:

[code]

But in writing it out, I think I like Dan Winship's better.  But the naming
gets weird.  "Allow" is natural, but if we care about future-safety we
might want:

[code]

or:

[code]

O

[2017-08-14 16:33] discordianfish opened #50622 "apiserver errors should include reason"
/kind feature

**What happened**:
Spend too much time figuring out that my apiserver didn't start because the etcd DNS name couldn't be resolved. I got the following error:
[code]
And even `--v=10` didn't provide any more context. This was very misleading and made me assume the issue is on application level.

**What you expected to happen**:
I expected the apiserver error to tell me that DNS resol

[2017-08-14 16:35] discordianfish commented on #50622
@kubernetes/sig-cluster-ops

[2017-08-14 16:37] nicksardo commented on #33483
https://github.com/kubernetes/kubernetes/issues/50034 GKE on K8s 1.7.4 will have this fixed.

[2017-08-14 16:42] ericchiang commented on #47820
The following tests are still failing on upgrade tests.

[code]

https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-gci-master-upgrade-cluster

Moving this issue to the 1.8 milestone.

/cc @kubernetes/sig-cluster-lifecycle-bugs

Can someone please fix the test setup?

[2017-08-14 16:49] shyamjvs opened #50624 "All release-1.5 jobs failing due to leaked resources (mainly master VM and network)"
More details in issue https://github.com/kubernetes/test-infra/issues/4059

In short, all jobs against 1.5 branch are failing to delete the master VM (and hence also the master-pd) and route for the master (and hence also the network). For e.g:

[code]

[code]

For ref - https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gci-gce-release-1-5/296

cc @kubernetes/test-

[2017-08-14 16:50] yguo0905 commented on #46984
Cool. BTW, I've sent you a message on slack.

[2017-08-14 16:52] cmluciano commented on #49978
Ah. Can we perhaps use a synonym for allow like admit or accept?

[2017-08-14 16:53] shyamjvs commented on #50624
Furthermore, it says that the route is deleted:

[code]

but later complaints with:

[code]

[2017-08-14 16:55] lxpollitt commented on #49978
Yes, that's the kind of thing I was thinking for the potential `deny` rule future proofing.

But if people don't like the `ipAddresses` then `ipBlock` that Tim suggested later also sounds fine to me.

[2017-08-14 17:11] shyamjvs commented on #50624
cc @k8s-mirror-cluster-lifecycle-bugs - Could someone PTAL?

[2017-08-14 17:12] caseydavenport commented on #49978
I'm happy with the `ipBlock` syntax.

I'd like to avoid including "action" words (allow, deny, etc) as keys, since like Alex says it ties our hands if we want to add additional actions later.

[2017-08-14 17:18] dmayo3 commented on #50313
Ok, thanks.

[2017-08-14 17:18] #50313 closed

[2017-08-14 17:19] krzyzacy commented on #50624
I think it is: gcloud has an issue that leaks entire master node, so we reverted gcloud back to 163.0.0 until very recent, but all 1.5 jobs still update gcloud to latest.

e2e jobs are using a different project each run and will be cleaned up right after a run finishes, so they are all fine. Kubemark job pins to a specific project so it's not going to recover.

[2017-08-14 17:21] krzyzacy commented on #50624
i.e. https://github.com/kubernetes/kubernetes/pull/36292 is not in 1.5

[2017-08-14 17:21] thockin commented on #49978
Are we converging on this?

[code]

This keeps the IPBlock struct simple (thanks Dan Winship).

@cmluciano - you have the ball, thoughts?

On Mon, Aug 14, 2017 at 10:13 AM, Casey Davenport <notifications@github.com>
wrote:

[2017-08-14 17:24] MrHohn commented on #48303
Took another look, tests are passing now. Closing this issue.

/close

[2017-08-14 17:24] #48303 closed

[2017-08-14 17:24] jingxu97 commented on #50521
@akgunjal could you provide some logs (controller-manager log) around that time?  Thanks!

[2017-08-14 17:24] jingxu97 commented on #50521
cc @jsafrane

[2017-08-14 17:26] shyamjvs commented on #50624
This still doesn't seem so clean as we're relying on something else for clean-up iiuc. Ideally, our cluster kube-down script should delete everything (as one would expect).

Can we do something to solve this? Unpin the kubemark-1.5 job or sth?

[2017-08-14 17:28] cmluciano commented on #49978
I'm cool with ipBlock if other CNI implementors are. I will update the PoC.

[2017-08-14 17:30] shyamjvs commented on #50624
Btw - I just checked from within the container for kubemark-1.5 job and it seems like it's also using 163.0.0 :

[code]

[2017-08-14 17:31] krzyzacy commented on #50624
Yes, before https://github.com/kubernetes/kubernetes/pull/36292, in the run it will upgrade gcloud to latest, that's the real issue :-)

[2017-08-14 17:33] krzyzacy commented on #50624
(Probably someone need to fix https://github.com/kubernetes/kubernetes/issues/49673)

[2017-08-14 17:33] shyamjvs commented on #50624
I see. Can we disable the upgrade somehow?

[2017-08-14 17:34] krzyzacy commented on #50624
Do you want to cherrypick #36292 to 1.5?

[2017-08-14 17:47] MikeSpreitzer commented on #50564
I see your PR and have given it LGTM.  It has not merged yet.  Thanks.

[2017-08-14 17:57] shyamjvs commented on #50624
Sent out the cherrypick PR. Hopefully fixes the issue.

[2017-08-14 18:12] sbezverk opened #50630 "Adding support for internal IP for e2e tests"
Currently IssueSSHComand in util.go only checks for External IP address
to ssh, this PR adds check for internal IP too.
/sig storage
/kind bug

[2017-08-14 18:14] ericchiang commented on #50432
@spnzig please attach your API server logs in this issue. The exact kubectl output would be helpful too.

I'm confused by the permission issues with the API server cert. What's trying to access it that can't?

[2017-08-14 18:31] discordianfish commented on #33714
Just ran into the same issue with 1.7.3 and bootkube generated but heavily modified manifests. Not sure though if I did something wrong but removing the admission-control flag from apiserver solves this for me.

[2017-08-14 18:32] githubvick commented on #49389
Finally got it working.... big thanks to @colemickens

[2017-08-14 18:32] #49389 closed

[2017-08-14 18:41] krzyzacy commented on #50624
On a side note, https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-canary/2315?log#log which uses cloud sdk staging bucket and is now passing, I would expect the issue to be fixed from gcloud side very soon. (when they push their next release?)

[2017-08-14 18:41] cblecker commented on #50560
/assign

[2017-08-14 19:00] chronidev commented on #36482
I'm using 1.7 and I get the same issue.

[2017-08-14 19:15] #49477 closed

[2017-08-14 19:15] #48397 closed

[2017-08-14 19:17] kellycampbell opened #50632 "Container with multiple processes not terminated when OOM"
/kind bug

**What happened**:

A pod container reached its memory limit. Then the oom-killer killed only one process within the container. This container has a uwsgi python server which gave this error in its logs:

[code]

The only errors I could find in k8s were in the syslog on the node:

[code]

**What you expected to happen**:

I expected the whole container/pod to be terminated (and then res

[2017-08-14 19:27] jingxu97 commented on #50521
@akgunjal Talk with @jsafrane offline about this issue. We believe etcd restart should not change the status of PV/PVC. Do you have any operations performed around that time?

[2017-08-14 19:43] jingxu97 opened #50634 "Current support with Containerized mounter with customer image"
"Containerized Mounter" feature #community/pull/589 is work-in-progress. Currently Kuberentes supports a temporary solution for containerized mounter, but only works for NFS and GlusterFS.
#37990 #41944

But based on the current mounter with chroot solution, we can also make other types of mount utilizes work in a quick way. The steps are listed as follows

1. Install the mount binaries in a docke

[2017-08-14 19:45] wongma7 commented on #50522
`rbd` binary must be installed on master & nodes e.g. via ceph-common package

[2017-08-14 19:58] jingxu97 commented on #50634
cc @kubernetes/sig-storage-misc

[2017-08-14 19:58] #47089 closed

[2017-08-14 19:58] #47498 closed

[2017-08-14 19:58] #47547 closed

[2017-08-14 19:59] #45030 closed

[2017-08-14 20:00] mikedanese opened #50635 "SAR approver for node server certs should verify SANs"
The current mechanism of trusting self reported IPs and hostnames is broken.

[2017-08-14 20:02] tpetr commented on #48327
Seeing this issue as well when upgrading from 1.6.4 to 1.7.3.

[2017-08-14 20:09] #50630 closed

[2017-08-14 20:22] sellers commented on #35890
Can someone verify that a valid way to remove this misleading message would be to ensure that the roleRef section looked like:

Leaving something with a warning and using --ignore-validation is a poor practice for anyone to get into.  It teaches poor behavior for users.

[code]

[2017-08-14 20:31] nicksardo commented on #36535
/unassign

[2017-08-14 20:57] mindprince commented on #47192
Thanks for the reminder. I just submitted an internal request for quota to run these tests. Once that is approved, I will add a PR in test-infra to run GPU tests on all k/k PRs. It will be non-blocking initially and then become blocking later on.

[2017-08-14 21:05] dims commented on #50632
@kellycampbell - Did you try the `die-on-term` option in uwsgi configuration?

https://github.com/unbit/uwsgi/issues/849#issuecomment-118853303

Thanks,
Dims

[2017-08-14 21:08] bbeaudreault commented on #48327
This was broken in https://github.com/kubernetes/kubernetes/pull/44137

[2017-08-14 21:12] zhangxiaoyu-zidif commented on #50567
@netroby
please reopen your issue in https://github.com/kubernetes/kubeadm/issues
you will get professional support. =)

[2017-08-14 21:15] bbeaudreault commented on #48327
cc @k82cn

[2017-08-14 21:15] zhangxiaoyu-zidif commented on #50622
/area api

[2017-08-14 21:15] zhangxiaoyu-zidif commented on #50622
/area apiserver

[2017-08-14 21:20] zhangxiaoyu-zidif commented on #19680
@bgrant0607
Your https://github.com/kubernetes/kubernetes/blob/master/docs/devel/api-conventions.md
return 404 error now

[2017-08-14 21:24] zhangxiaoyu-zidif commented on #35054
@ianchakeres
what does --v=10 mean?
many member conduct to use '--v=10' to check problem

[2017-08-14 21:25] enisoc commented on #48327
/assign @kow3ns @k82cn

[2017-08-14 21:25] kellycampbell commented on #50632
Yes, we already use die-on-term. This works when the main process (uwsgi) receives sigterm, e.g. during rolling update. This problem isn't a sigterm, and it is going to the child process (uwsgi-python worker).

Here's our uwsgi config if it helps:
[code]

[2017-08-14 21:28] phs commented on #50003
This would also be great for running development environments in a cluster, with each developer receiving a namespace for isolation.  If the ingress host is not abstracted in some way, then it becomes harder to source control the ingress resource yaml as each dev would need to customize it.

[2017-08-14 21:33] zhangxiaoyu-zidif commented on #19680
I found it in https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md
:)

[2017-08-14 21:33] kellycampbell commented on #50632
Only thing on the sig list which looks like applicable is resource-management.

/sig wg-resource-management

[2017-08-14 21:39] foxish commented on #42086
The only thing odd about some of those failing test runs appears to be:

[code]

which seems inordinately long.

[2017-08-14 21:56] kow3ns opened #50641 "Enable apps/v1beta2"
**FEATURE REQUEST**: Enable the apps/v1beta2 group version for integration prior to 1.8 release.

[2017-08-14 21:58] kow3ns commented on #50641
@kubernetes/api-reviewers
@kubernetes/api-approvers
@kubernetes/sig-apps-api-reviews

[2017-08-14 22:02] ahmetb commented on #49035
I started reviewing #50497, I need one more clarification:

`kubectl set`/`annotate`/`label` only work with individual resources by referring to them by their name (or through -f) and don't work in batch mode. So I think they SHOULD include uninitialized objects by default and they shouldn't need to accept an `--include-uninitialized` flag as it's obsolete and excluding uninitialized doesn't make

[2017-08-14 22:06] liggitt commented on #48327
Re: migration, there's no way to migrate from a beta annotation to a stable field and support both simultaneously without introducing significant issues affecting both server and client interpretation of data (see prior attempts at doing this with initContainers)

[2017-08-14 22:18] erictune commented on #50340
It turns out just a Delete returns immediately.  If you want to wait for the synchronous GC to complete, you have to watch for it to be deleted.

[2017-08-14 22:24] dmasters19 commented on #50199
I found a workaround from [#45487](https://github.com/kubernetes/kubernetes/issues/45487).  In your worker nodes, add a `.docker` directory to the `/root` directory.  Inside of it place a `config.json` file which will have the same contents as your `~/.docker/config.json` on your main machine (it will exist as long as you've run the `docker login` command at some point`.  Then edit the `kubelet.se

[2017-08-14 22:30] mengqiy opened #50644 "kubectl create return 0 when error"
Run `kubectl create` with no other argument should return non-zero exit code.
 Steps to reproduce:
[code]

Similar issue before: https://github.com/kubernetes/kubernetes/issues/42852

/assign @shiywang
Assign to you per https://github.com/kubernetes/kubernetes/pull/42999#issuecomment-286649323

[2017-08-14 22:30] mengqiy commented on #50644
/sig cli

[2017-08-14 22:30] dims commented on #50632
@kellycampbell i don't see any support in uwsgi for the parent to get notified when the child gets killed. i can see folks struggling with this with just docker - google for "oom-killer docker kill all processes"

Is `master=false` an option then?

[2017-08-14 22:31] mengqiy commented on #50644
cc: @apelisse

[2017-08-14 22:32] jingxu97 opened #50645 "Guideline for Checking Volume attached/detached Status through Cloudprovider"
In Kuberenetes volume attach/detach controller design, there is an in-memory cache of current actual state (which volume is attached to which instance). In order to make sure the cached state is in sync with the real world, there is a control loop to periodically check the volume attached/detached status through cloudprovider. However, there been some confusion about this checking and what results

[2017-08-14 22:33] jingxu97 commented on #50645
cc @kubernetes/sig-storage-misc

[2017-08-14 22:39] kellycampbell commented on #50632
uwsgi reaps the child process just fine, and restarts another worker in its place. The problem from my point of view is that this doesn't match the k8s documentation about memory limits as quoted in my first post, and doesn't surface the fact that the infrastructure is killing a process, e.g. in the events list for the pod or somewhere easy to notice.

Ideally, there would also be a way to gracefu

[2017-08-14 22:46] BaluDontu commented on #50645
A small correction on vsphere side. If node no longer exists (NotFound in the VC inventory) we will return the disks are not attached to the node without any error. On any other error case for example network connectivity etc. where its not able to get the node instance object, we would just return an error. In this case, the volume is still considered as attached in local cache.

There is a PR wh

[2017-08-14 23:15] WillBeebe commented on #44821
If you run into this and haven't upgrade kube, change this
[code]
to this
[code]

[2017-08-14 23:18] caesarxuchao commented on #49035
@ahmetb I didn't run the command, but according to the kubectl help text:
[code]

[code]
[code]

Such commands should have --include-unitialized=false by default, and allow users to set the flag to true.

[2017-08-14 23:26] smarterclayton commented on #49497
Export is already represented in the content type negotiation options in
`MediaTypeOptions`.  Right now that is done late - but fortunately, the
structure for the handling is already there in transformResponseObject in
response.go.  Export is a post transformation, so it belongs with that
method (some generalization of this method will be useful in the future,
but for now is kept deliberately simp

[2017-08-14 23:54] d-shi opened #50648 "dynamically provision EBS persistent volumes with XFS filesystem"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**: I would like to use PVCs to dynamically provision XFS volumes on AWS EBS. This example document implies that it would be possible to create a storage class using the aws-ebs provisioner that has fsType be xfs: https://github.com/kubernetes/examples/blob/master/staging/persistent-volume-provisioning/README.md

I tried

[2017-08-14 23:55] d-shi commented on #50648
/sig storage

[2017-08-15 00:26] pwittrock commented on #50466
@bowei Looks like this is only failing on GKE.  @liggitt suggested this might be due to the way the master / node network is setup on GKE.

[2017-08-15 00:27] pwittrock commented on #50466
cc
@kubernetes/sig-network-bugs
@kubernetes/sig-cli-bugs

[2017-08-15 00:27] pwittrock commented on #50466
/priority critical-soon

[2017-08-15 00:27] pwittrock commented on #50466
/priority critical-urgent

[2017-08-15 00:35] #36031 closed

[2017-08-15 00:41] ahmetb commented on #49035
@caesarxuchao thanks for correcting me. In this case, batch updates should NOT include uninitialized.

**Q1:** Do you think updates to individual resources i.e. `kubectl edit pods <name>` should include uninitialized or not? I think including it would be in line with the following:

-----

**Q2:** Can you also clarify does the proposal above work like the following?

If so, it seems inconsistent t

[2017-08-15 00:42] zhangxiaoyu-zidif commented on #50521
@jingxu97  If the etcd stay in-acive for a long time, and then restart. Is that possible?

[2017-08-15 00:55] caesarxuchao commented on #49035
@ahmetb

Yes. Commands that spell out instance names (either via stdin or in the config file) should always include uninitialized objects. `--include-uninitialized` shouldn't affect such commands at all.

The entire proposal is about commands that use the LIST verb. The apiserver only hides uninitialized objecs from LIST operaions. Only `listOptions` has the `includeUninitialized` option.

kubectl

[2017-08-15 01:00] innyso commented on #47959
+1 to @mccormd

Running k8 v1.6.2 Seeing similar behaviors when our statefulset ci-worker pod with a pvc get recreate and place in a different k8 minion. pvc volume will not get detach, have to force detach it from the aws console.

[2017-08-15 01:13] fanhongli commented on #50585
nothing changed , i have to restart machine

[2017-08-15 01:17] caesarxuchao commented on #49035
@pwittrock @smarterclayton @ahmetb @dixudx in my original proposal I missed a detail.

Unlike `kubect get pods` or `kubectl edit pods`, `kubectl set/label/annotate` only operate in batch mode if `--all` or `-l` is specified. How about this:
* `kubectl set/label/annotate <resource> --all`, include uninitialized objects by default, unless user explicitly sets `--include-uninitiazlied=false`. This is

[2017-08-15 01:21] jianzhangbjz commented on #49917
I think the memory he said, means the disk. Maybe this problem was caused by the container itself.

[2017-08-15 02:09] FengyunPan commented on #50645
@jingxu97 If you agree my method(https://github.com/kubernetes/kubernetes/pull/50239), I will do it for RackSpace.

[2017-08-15 02:49] #50272 closed

[2017-08-15 02:49] #50552 closed

[2017-08-15 03:04] xiangpengzhao opened #50653 "Remove redundant util helpers."
We have many util helpers which exist in two places. It's hard to maintain these helpers. It may also make developers confused by which one to use.

Most of the below helpers are almost the same in their two places. We should only keep one copy of them.

- [ ] [api/v1/endpoints](https://github.com/kubernetes/kubernetes/tree/master/pkg/api/v1/endpoints) **vs** [api/endpoints](https://github.com/kub

[2017-08-15 03:08] liggitt commented on #50653
Unfortunately, the apiserver deals with internal types, and controllers deal with external types. That means for many utilities, both a versioned and unversioned implementation are required.

[2017-08-15 03:13] dixudx commented on #50653
Agreed. GVK will convert between versioned and unversioned schema.

[2017-08-15 03:17] xiangpengzhao commented on #50653
@liggitt Thanks for clarity! I didn't notice the signature of the helpers. Yes they should be kept as-is...

[2017-08-15 03:17] #50653 closed

[2017-08-15 03:17] apelisse commented on #50644
I'm even more interested in knowing why the test didn't fail.

[2017-08-15 03:29] shiywang commented on #50644
working on it

[2017-08-15 03:31] xiangpengzhao opened #50655 "Remove deprecated init-container in annotations"
Init containers have already graduated to GA in 1.6, we should remove the annotations.

/sig api-machinery node
/assign

[2017-08-15 03:42] #50572 closed

[2017-08-15 03:42] #50615 closed

[2017-08-15 04:06] SuperNami commented on #41711
Am also looking for this specifically, without this feature I need to remember to run the kubectl command before deploying my application. Same with secrets.

[2017-08-15 04:25] jingxu97 commented on #50645
@BaluDontu my description is based on current implementation. After you make the change, I will change that too. btw I thought node not exist in vsphere means power off and volume is still attached? Or node not exist means that node is deleted and volume is already detached automatically?

[2017-08-15 04:35] jingxu97 commented on #50645
@FengyunPan I think there is still some misunderstanding. I added a comment there.

[2017-08-15 04:49] ConnorDoyle opened #50658 "Scheduler ignores requests for unknown fully-qualified resources."
/kind bug
/sig scheduling

**What happened**:

_Scenario A:_
* Create a pod that requires one `example.com/foo` resource.
* Observe that the pod is scheduled, despite there being no matching resources available in the cluster.

_Scenario B:_
* Create a pod that requires one `kubernetes.io/foo` resource.
* Observe that the pod is scheduled, despite there being no matching resources available in the

[2017-08-15 05:10] dixudx opened #50659 "Flake: not enough arguments in call to ds.getSecurityOpts"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind flake
/priority failing-test
/area test-infra

**What happened**:
[pull-kubernetes-cross](https://k8s-gubernator.appspot.com/builds/kubernetes-jenkins/pr-logs/directory/pull-kubernetes-cross/) job is failing

See
* https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/46317/pull-kubernetes-cross/3696/
* https://k8s-gubernator.a

[2017-08-15 05:11] dixudx commented on #50659
@kubernetes/sig-testing-test-failures

/assign @ixdy @fejta

[2017-08-15 05:22] WIZARD-CXY opened #50660 "panic in e2e test"
**Is this a BUG REPORT or FEATURE REQUEST?**:

 /kind bug

**What happened**:
e2e test panic in test
**What you expected to happen**:
no panic
**How to reproduce it (as minimally and precisely as possible)**:

start " [Feature:ManualPerformance] should be able to handle 3 pods per node" e2e test
on a 3-node cluster
**Anything else we need to know?**:
panic info :
![2017-08-15 11 18 07](https://use

[2017-08-15 05:24] WIZARD-CXY commented on #50660
/sig Testing

[2017-08-15 05:24] WIZARD-CXY commented on #50660
just add a sanity check is fine I think

[2017-08-15 05:38] FengyunPan commented on #50660
It seems that the count of pods is 0.

[2017-08-15 05:39] k82cn commented on #50594
/assign

[2017-08-15 05:39] FengyunPan commented on #50660
we should add codes to check 0 in rand.Int63n().

[2017-08-15 05:45] ConnorDoyle commented on #50658
/assign

[2017-08-15 05:59] thockin commented on #20567
1.7 includes a lot of changes to mitigate iptables performance.

On Mon, Aug 14, 2017 at 3:19 AM, Tomas Dohnalek <notifications@github.com>
wrote:

[2017-08-15 06:31] magicwang-cn commented on #50442
since this has already been [fixed](https://github.com/kubernetes/kubernetes/blob/v1.7.0/pkg/controller/resourcequota/resource_quota_controller.go#L249), i will close this issue.

[2017-08-15 06:31] #50442 closed

[2017-08-15 06:40] karlvlam opened #50661 "apiserver panic on 1.7.3 --admission-control=NamespaceLifecycle"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Trying to upgrade from 1.6.7 to 1.7.3, using hyperkube api-server with the same configuration hit this error:

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:
start apiserver with `NamespaceLifecycle`, it panic:
[code]

after removing `NamespaceLifecycle`, it wor

[2017-08-15 06:42] dixudx commented on #49035
ping @pwittrock @smarterclayton @ahmetb @caesarxuchao
Updated. PTAL. Thanks.

[2017-08-15 06:47] karlvlam commented on #50661
@kubernetes/sig-api-machinery-bugs

[2017-08-15 06:48] sttts commented on #50011
Any progress here? 1.8 is approaching.

[2017-08-15 06:48] sttts commented on #47426
Any progress here? 1.8 is approaching.

[2017-08-15 07:01] #49336 closed

[2017-08-15 07:33] m-no-2017 commented on #50083
Next anomaly:
- heapster (with influxdb and grafana) which is connected to the official kubernetes dashboard is **NOT** working if you specify the "spec.ports.name" field

So without the SRV record in the DNS-Logs it works somehow. It's driving me mad ...

[2017-08-15 07:34] WIZARD-CXY commented on #50660
pod count is not 0, is 9(3*3)

[2017-08-15 08:06] #45846 closed

[2017-08-15 08:12] mathspanda opened #50666 "make CloudNodeController Run stoppable"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**Description**:
I think we should make CloudNodeController in pkg/controller/node_controller.go stoppable, which is in consistence with other controllers.

[2017-08-15 08:33] #50262 closed

[2017-08-15 08:44] Devying commented on #43530
How did you solve the problem?

[2017-08-15 09:08] ybbaigo commented on #43800
same problem on 1.7.3

[2017-08-15 09:08] Devying commented on #43530
查看参数是否正确，比如命名空间是否存在，内存Mi是不是写成了mi

[2017-08-15 09:21] xiangpengzhao commented on #50658
@ConnorDoyle FYI:

I had an issue tracking this: https://github.com/kubernetes/kubernetes/issues/44331
There was also a PR waiting for your review: https://github.com/kubernetes/kubernetes/pull/44332

:)

[2017-08-15 09:33] aknuds1 commented on #50242
A solution here might be to base fluentd-es off an image with journald supporting XZ and LZ4 compression. I'm looking :)

[2017-08-15 09:59] PeiKevin commented on #30243
How about the status about this issue? I'm really want to use this feature, If  I want to run a job, I just want to know success or failure with no more try. if always retrying, it will always be failed.

[2017-08-15 10:17] #50083 closed

[2017-08-15 10:42] m-no-2017 commented on #50083
Everything necesary is in the first post. I cleaned up.

[2017-08-15 10:45] madegroot commented on #50375
I'm monitoring the same things and running into the same issue as @ut0mt8

For normal pods quickest way (hack) is to delete the pod.
But this doesn't work for the 'kube-scheduler', as the same pod(name) is used.

A way a reset these counters will be useful.

[2017-08-15 11:02] jstoja commented on #33527
Hi guys, any update on this?
From my tests with 1.7.3 it works like the OP, which I find enough.

If some core devs find it enough too, I guess we can close.

[2017-08-15 11:13] dgoodwin commented on #49497
Extremely helpful pointers thanks, I can start looking into this in ~2 weeks after vacation if it's still up for grabs.

Do we want to try to move away from just a boolean export=true and towards a configurable strategy or strategies as David suggested above? (optionally for a different cluster, different namespace, etc)

[2017-08-15 11:15] jstoja commented on #44200
Hi @anteyk,

Do you still have the issue? Have you tried with a more recent version of Kubernetes?
I'm not kernel expert, but `4.1.12` seem quite old, having a more recent version might help too.

[2017-08-15 11:29] jstoja commented on #24957
From my understanding, this feature is stalled until a proper design is layed out. I assume this is a pretty complex piece and as explained by @thockin it needs to be robust and reliable.
Is there any label to add for technical design needs?

[2017-08-15 11:30] luxas opened #50675 "The cross-build is broken"
[code]

seems to belong to sig node @kubernetes/sig-node-bugs PTAL and fix ASAP

[2017-08-15 11:32] fhemberger opened #50676 "Addon 'fluentd-elasticsearch': BufferQueueLimitError"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Deployed current version of https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/fluentd-elasticsearch, no logs get shipped by fluentd:

[code]

**What you expected to happen**:
fluentd should send logs successfully to Elasticsearch.

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]
- **

[2017-08-15 11:34] fhemberger commented on #50676
/sig instrumentation

[2017-08-15 11:37] zhangxiaoyu-zidif commented on #48985
I agree with it! That will be easy to find focused release. No need to scroll mouse for a long long time...

[2017-08-15 11:51] xiangpengzhao commented on #50675
/assign @feiskyer
as it seems like having something to do with https://github.com/kubernetes/kubernetes/pull/49178

[2017-08-15 11:53] heartlock opened #50677 "Flexvolume nfs volume unavailable for pod after reboot the node"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
Here is my deployment spec  deployment.yaml.
[code]
Then run deployment.yaml:
[code]
since file "luke"(in alicloud-nas) exist in var/lib, flexvolume nfs volume is available.

Next I reboot node  izbp1hf1zvue77szjqf15bz

[code]

After reboot node, flexvolume nfs volume become unavailable.

**What you expected to happen**:
I'm looking

[2017-08-15 11:57] #46626 closed

[2017-08-15 12:00] heartlock commented on #50677
/sig storage

[2017-08-15 13:02] hypnoglow commented on #23920
Solution for Weave CNI is described [here](https://github.com/weaveworks/weave/issues/3016#issuecomment-321337923)

[2017-08-15 13:06] g1001p commented on #50465
I also checked this issue in k8s 1.6.6. Indeed it is not reproducible.
Thank you very much for help.

[2017-08-15 13:06] #50465 closed

[2017-08-15 13:12] seh opened #50686 "ResourceQuota does not allow limiting the number of ReplicaSet objects in a namespace"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
It is not possible to express an object count constraint for _ReplicaSets_ in a _ResourceQuota_ object. At present, _ResourceQuota_ can [constrain the count of _ReplicationControllers_,](https://github.com/kubernetes/kubernetes/blob/788804142f1b3323523500c2932f511284b6eae9/pkg/quota/evaluator/core/replication_controllers.go#L28-L46)

[2017-08-15 13:17] mathspanda commented on #50666
/area nodecontroller
/area controller-manager

[2017-08-15 13:19] seh commented on #50686
@kubernetes/sig-apps-feature-requests
@kubernetes/sig-scheduling-feature-requests

[2017-08-15 13:31] crassirostris commented on #50676
Closing the issue, please reopen or create a new one with more details if you can't figure out what's wrong with the Elasticsearch deployment

[2017-08-15 13:31] #50676 closed

[2017-08-15 13:38] mtanino opened #50687 "pull-kubernetes-bazel test fails due to the change of pkg/generated/openapi/BUILD"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When I execute following commands after API changes, these two lines are always added to openapi/BUILD, however this causes pull-kubernetes-bazel test because there isn't  _output dir in the community tree.

- Auto code generation.
[code]

- diff of openapi/BUILD
[code]

- pull-kubernetes-bazel test
[code]

**What you ex

[2017-08-15 13:40] mtanino commented on #50687
/sig testing

[2017-08-15 13:47] xiangpengzhao commented on #50632
IIUC, the process which consumes the most memory will be oom-killed in this case. The container won't terminate unless the killed perocess is the main process within the container.

/sig node
@vishh

[2017-08-15 13:54] dixudx commented on #50666
/sig node

[2017-08-15 13:57] dixudx commented on #50608
/sig aws

[2017-08-15 13:57] prachetasp commented on #45234
Has anything become clearer on this issue? As of right now we are managing our load balancers manually via Terraform as a work around but would be much cleaner to be able to manage it through k8s itself.

[2017-08-15 14:07] rootfs commented on #48471
@BastiPaeltz do you have the controller master log to share?

[2017-08-15 14:07] resouer opened #50689 "[DaemonSet] Considering run-once DaemonSet (Job DaemonSet)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Currently, only restart=always is allowed for DaemonSet

**What you expected to happen**:
Run once DasemonSet is also vey useful, for example, install CNI or flexvolume binaries on every node.

Exit status can be used to determine its lifecycle. It's like a Job DaemonSet. But I am not sure if we should introduce a new

[2017-08-15 14:13] dixudx commented on #50580
/sig testing

[2017-08-15 14:15] dixudx commented on #50568
@netroby You can rebuild these docker images using Dockerfiles in kubernetes repo.

[2017-08-15 14:15] dixudx commented on #50568
/sig release

[2017-08-15 14:20] resouer commented on #50689
This is equivalent to adding dead loop to end of scritps:

[code]

[2017-08-15 14:48] #18735 closed

[2017-08-15 15:13] AnthonyWC commented on #40968
Is there any reason why it couldn't be `kubectl set ns`?  (well at least that's what i have alias it as..)

[2017-08-15 15:19] luxas commented on #48690
@jhorwit2 Can you contribute that feature? We need help here...

[2017-08-15 15:20] jsravn commented on #50245
This also happened in one of my clusters. Restarting kubelet doesn't seem to help. It also affects other things in the cluster - I see some scheduler errors about that particular node not existing, and pods stuck in Pending state.

[2017-08-15 15:26] harrissAvalon commented on #48388
@soltysh According to [Kubectl documentation](https://kubernetes.io/docs/user-guide/kubectl/v1.7/#-em-image-em-) a `job` is one of the resources listed as able to update a container image. Is that not the case?

[2017-08-15 15:27] pegerto commented on #50304
/sig scalability

[2017-08-15 15:31] thockin commented on #24957
There's no generic tag for "design needed".  The "feature request" in the title says that, to me.

[2017-08-15 15:31] MikeSpreitzer opened #50695 "e2e flake: pull-kubernetes-e2e-gce-etcd3 fails [sig-apps] Deployment and others with dial tcp (a node addr):10250: getsockopt: connection refused"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
A version of PR #47262 failed one run of pull-kubernetes-e2e-gce-etcd3 and passed another.  Earlier versions also got varied results.  See the whole testing history at https://k8s-gubernator.appspot.com/pr/47262 .

For the 9a64d880 commit, the failed run included this in the build log:
[code]

It is worth noting that the

[2017-08-15 15:33] MikeSpreitzer commented on #50695
/label kind/flake

[2017-08-15 15:36] MikeSpreitzer commented on #50695
/kind flake

[2017-08-15 15:36] MikeSpreitzer commented on #50695
/remove-kind bug

[2017-08-15 15:37] ironcladlou commented on #34120
This flake now primarily occurs in gke upgrade-cluster-new jobs:

https://storage.googleapis.com/k8s-gubernator/triage/index.html?pr=1&test=should%20delete%20RS%20created%20by%20deployment%20when%20not%20orphaning

Strangely, for each of these failed jobs, apiserver and controller artifacts are not available, making the issue impossible to debug.

[2017-08-15 15:42] nikhita commented on #38113
Proposal for SubResources of CustomResources: https://github.com/kubernetes/community/pull/913 :tada:

[2017-08-15 15:55] #47747 closed

[2017-08-15 15:58] bgrant0607 commented on #34363
@kargakis I actually want this one open. It's about a general API use case (clients that can't deal with eventual consistency) rather than for deployment specifically.

[2017-08-15 16:06] bgrant0607 commented on #34363
Example from our e2e tests:
https://github.com/kubernetes/kubernetes/blob/master/test/utils/deployment.go#L74

[2017-08-15 16:07] guangxuli commented on #50689
Reasonable. +1.
Not sure why the DaemonSet Proposal describe that kubelet reject DaemonSet objects with pod templates that don't have restartPolicy set to Always. May be i miss something.

[2017-08-15 16:15] xiangpengzhao commented on #50659
Dup of https://github.com/kubernetes/kubernetes/issues/50675 and will be fixed by #50694.

/cc @dims

[2017-08-15 16:17] yujuhong commented on #47853
Fixed by #48739

[2017-08-15 16:17] #47853 closed

[2017-08-15 16:20] chen-anders commented on #47990
Will this bugfix be cherry-picked/back-ported into 1.6.x or 1.7.x?

[2017-08-15 16:22] ncdc commented on #47990
@chen-anders it has to merge to master first. We can propose it for a cherry-pick, and if the 1.6 and 1.7 patch managers approve it, then it can be backported.

[2017-08-15 16:50] liyinan926 opened #50696 "Add ControllerRevision to apps/v1beta2"
API object `ControllerRevision` is currently in `apps/v1beta1`. As a prerequisite of moving the `ReplicaSet`, `Deployment`, `StatefulSet`, and `DaemonSet` controllers to use the `apps/v1beta2` APIs, we should move `ControllerRevision` to `apps/v1beta2`, like what we did to core controller API objects.

@kow3ns @janetkuo

[2017-08-15 16:50] liyinan926 commented on #50696
/assign @liyinan926

[2017-08-15 16:52] liyinan926 commented on #50696
/sig apps

[2017-08-15 16:53] wongma7 commented on #50648
the fstype parameters are only in 1.8. Not sure how to go about documenting that in the examples.

[2017-08-15 16:59] cjyar opened #50699 "PersistentVolumeLabel admission controller is undocumented"
**Is this a BUG REPORT or FEATURE REQUEST?**: BUG REPORT

/kind bug

**What happened**: https://kubernetes.io/docs/admin/admission-controllershttps://kubernetes.io/docs/admin/admission-controllers lists PersistentVolumeLabel as a recommended admission controller, but it doesn't describe what it does.

**What you expected to happen**: At least the recommended admission controllers should be documen

[2017-08-15 17:04] cjyar commented on #50699
/sig docs

[2017-08-15 17:11] caesarxuchao commented on #49038
It's useful if API server supports LIST/WATCH only uninitialized objects. It reduces traffic, especially when initializer controller runs in its own binary and cannot utilize the shared informer.

[2017-08-15 17:12] jhorwit2 commented on #49836
It should be safe to add since the kubelet will set the ProviderID on the node object when it's initially created. That means by the time the CCM gets the node object it will already contain a value, so as long as we keep the same `set only if empty` check as the kubelet then backwards compatibility should be kept.

[2017-08-15 17:16] MikeSpreitzer commented on #50695
@kubernetes/sig-apps-test-failures

[2017-08-15 17:19] jagosan commented on #50466
/assign @bowei

[2017-08-15 17:20] jagosan commented on #50466
@bowei can you please take a look at @pwittrock's comment and update / reassign if appropriate? Thanks!

[2017-08-15 17:26] bowei commented on #50466
I'll take a look

[2017-08-15 17:28] smarterclayton commented on #49756
Please describe what you mean by "zero-downtime".  If you have a statefulset of size 2, and do an update, only one stateful set pod should be down at any one time.

[2017-08-15 17:28] #50242 closed

[2017-08-15 17:31] bowei commented on #50466
If networking is at fault, it would result in all of the tests that traverse the SSH tunnel path to fail with a timeout, which I'm not seeing here.

[2017-08-15 17:33] jhorwit2 commented on #49308
It doesn't fit the style of the other functions, but should we also add

`GetZoneByNodeName(name type.NodeName) (cloudprovider.Zone, error)`

as well as

`GetZoneByProviderID(providerId string) (cloudprovider.Zone, error)`

so we keep support for both like we do other methods while keeping backwards compatibility on `GetZone()`.

[2017-08-15 17:41] cblecker commented on #50659
Duplicate of #50675
/close

[2017-08-15 17:41] cblecker commented on #50659
/assign

[2017-08-15 17:41] cblecker commented on #50659
/close

[2017-08-15 17:41] #50659 closed

[2017-08-15 17:48] ottoyiu opened #50703 "Disable Health Checks from Docker daemon to prevent conflict with liveliness probes."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
Currently, if a Docker image has a 'HEALTHCHECK' instruction defined in the Dockerfile, Docker daemon continues to do the healthcheck. Duplicated health checks are the result of having it conflict with Kubernetes' liveliness checks.

**What you expected to happen**:
`--no-healthcheck=true` is passed in, on creation of the

[2017-08-15 17:50] ottoyiu commented on #50703
/sig node

[2017-08-15 18:41] DirectXMan12 commented on #45581
this is not the place to ask for support.  Please try on StackOverflow, or, if you think there's a bug, in a new bug.

(since I'm already replying, I'll point you in the right direction: please read [the aggregated API server concepts documenation](https://github.com/kubernetes-incubator/apiserver-builder/tree/master/docs/concepts)).

[2017-08-15 18:42] DirectXMan12 commented on #50569
This should be @kubernetes/sig-autoscaling-feature-requests

[2017-08-15 18:43] cmluciano commented on #47192
Awesome, thanks!

[2017-08-15 18:43] DirectXMan12 commented on #50569
Option 3: Neither of the above.

Add an implementation of the custom metrics API for that provides the a fake "time-based" metric, and use the existing HPA.

[2017-08-15 18:44] DirectXMan12 commented on #48588
SGTM.

[2017-08-15 18:46] kargakis commented on #34363
@bgrant0607 isn't this case covered already by https://github.com/kubernetes/kubernetes/issues/1899?

[2017-08-15 18:56] yujuhong commented on #50703
@ottoyiu how does these checks interfere with kubernetes's liveness checks? Kubelet doesn't check the health status reported by docker.

ref: #25829

[2017-08-15 19:02] deads2k commented on #49161
I think is in in service of service catalog.

apimachinery owns the infrastructure for running the APIs, but doesn't own the behavior of the APIs themselves.  The one exception that comes to mind is the CustomResourceDefinition (CRD) API, which we do own entirely.

From your unknown set, we own the generated clientsets.

[2017-08-15 19:07] ottoyiu commented on #50703
@yujuhong It doubles the amount of health checks, which can lead to liveliness health checks to fail on applications that aren't as performant. Since the health status reported by Docker is not being consumed by Kubernetes, it's pretty useless.

[2017-08-15 19:12] MrHohn commented on #23225
A few updates, #50705 adds the option to run kube-proxy as a DaemonSet for GCE. That is the first step of the works, while some remaining tasks in my mind:
- [ ] Priority/preemption setup: put kube-proxy in [System Priority Class](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/pod-priority-api.md#system-priority-class-names).
- [ ] Use service account for kube-pr

[2017-08-15 19:18] #45147 closed

[2017-08-15 19:23] shyamjvs commented on #50534
Closing this issue as it's solved now.
Thanks for fixing @nikhiljindal @liggitt.

[2017-08-15 19:23] #50534 closed

[2017-08-15 19:34] pipejakob opened #50709 "kubelet regression: non-existent root directory causes error instead of autocreation"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When running `kubelet` on a new VM, I get the following error:

    error: failed to run Kubelet: rootDirectory "/var/lib/kubelet" does not exist

**What you expected to happen**:
Previously, if this root directory did not exist, kubelet would automatically create it with the appropriate permissions.

**How to reproduce it (as minim

[2017-08-15 19:34] shyamjvs commented on #49453
This issue has been fixed after cherry-pick PRs #50455 and #50458 of the above PR got merged. You can see that they're continuously passing now:
https://k8s-testgrid.appspot.com/google-gce-scale#gci-gce
https://k8s-testgrid.appspot.com/google-gce-scale#gci-gce-1.6
https://k8s-testgrid.appspot.com/google-gce-scale#gci-gce-1.7

There is still a flake I saw (https://k8s-gubernator.appspot.com/build/k

[2017-08-15 19:34] #49453 closed

[2017-08-15 19:35] pipejakob commented on #50709
/sig node

[2017-08-15 19:48] luxas commented on #50709
cc @kubernetes/sig-cluster-lifecycle-bugs

[2017-08-15 19:49] pipejakob commented on #50709
/kind bug
/area kubelet

[2017-08-15 20:18] PaulFurtado commented on #48327
Hey @liggitt you actually already supported both simultaneously for quite some time and the hostname/subdomain annotations have been deprecated for a while.

The problem is that even brand new StatefulSet pods on 1.6.8 were still using the annotations instead of the spec fields. See: https://github.com/kubernetes/kubernetes/blob/v1.6.8/pkg/controller/statefulset/stateful_set_utils.go#L182-L190

Ad

[2017-08-15 20:21] philipn commented on #49756
That statefulset update will result in downtime, unless the application being run does its own replication (e.g. MySQL). This is because each stateful pod is taken down before a replacement stateful pod (attached to the same volume) is brought up.

[2017-08-15 20:29] yujuhong commented on #50709
/cc @dixudx @jingxu97 @dashpole for #48487

[2017-08-15 20:40] bowei commented on #50466
This test does not seem to have ever passed, at least not in the testgrid history.

[2017-08-15 20:50] jingxu97 commented on #50709
I am sure about the sequence of this? When cadvisor checks the directory, should this directory already exist?

[2017-08-15 20:51] d-shi commented on #50648
OK, got it. I will try this again once 1.8 is released.

[2017-08-15 20:52] mbohlool commented on #50274
Can't find anything in the log explaining why it is not failing anymore. Only thing I can see from comparing two logs artifacts ([success](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/102/artifacts/), [failure](http://gcsweb.k8s.io/gcs/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/101/artifacts/)) is th

[2017-08-15 20:59] mbohlool commented on #50274
also comparing image list of nodes.yaml files of those two [success](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/102/artifacts/nodes.yaml), [failure](https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-gci-new-gci-master-upgrade-cluster/101/artifacts/nodes.yaml) cases, the success case has way less images

[2017-08-15 21:03] dims commented on #50709
@jingxu97 figured out where exactly we create the directories. please see the PR

[2017-08-15 21:05] alexandercampbell commented on #48738
@xingzhou sure, you can give this a shot. I don't think it's a trivial fix.

[2017-08-15 21:07] liggitt commented on #50466
I'm not sure we test any other websocket requests in e2e, so maybe not?

[2017-08-15 21:20] bbeaudreault commented on #48327
FYI @liggitt we used the above admission controller (https://github.com/HubSpot/kubernetes/pull/7) to safely migrate our few hundred statefulsets to the new fields before upgrading.  So I see no reason why @PaulFurtado's 1.6.9 suggestion wouldn't be possible. Is there some context we don't get?

[2017-08-15 21:28] #50675 closed

[2017-08-15 21:47] caesarxuchao opened #50714 "API support for partial orders among initializers"
### Current status
`metadata.initializers.pending` is a list of initializer names. Our [doc](https://kubernetes.io/docs/admin/extensible-admission-controllers/) says the initializer controller is triggered if its name matches `metadata.initializers.pending[0]`, that means initializers run in serial. The order is not enforced.

### Initializers need to run in parallel

Otherwise initialization is t

[2017-08-15 21:47] caesarxuchao commented on #49038
API support for partial orders among initializers: https://github.com/kubernetes/kubernetes/issues/50714

[2017-08-15 21:51] jagosan commented on #50466
/unassign @bowei
/assign @mengqiy
/remove-sig network

Thanks for looking @bowei. @mengqiy - any more insight to add here?

[2017-08-15 22:04] mengqiy opened #50715 "clusterrolebinding and rolebinding don't work when bind with same resource"
Version: 1.7.3

**How to reproduce it (as minimally and precisely as possible)**:
[code]
ssh to one pod that created by deployment test-deploy and do the following
[code]

I print the rule at https://github.com/kubernetes/kubernetes/blob/master/plugin/pkg/auth/authorizer/rbac/rbac.go#L59.
The following is the related log
[code]

/kind bug
@kubernetes/sig-auth-bugs

[2017-08-15 22:09] pwittrock commented on #50466
@liggitt

Should we be adding those tests?

[2017-08-15 22:15] mengqiy commented on #50715
cc: @seans3

[2017-08-15 22:35] gyliu513 opened #50716 "Enable `kubefed init` support nodeSelector"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:

The `kubefed init` will install federation control panel on worker node randomly, sometimes, the user have some requirement want to use `nodeSelector` to have some it run on some dedicate node.

The `kubefed init` cannot enable users specify `nodeSelector` for now, but only options as following:
[code]

**What you ex

[2017-08-15 22:37] gyliu513 commented on #50716
/sig federation

/cc @kubernetes/sig-federation-feature-requests

[2017-08-15 22:45] gyliu513 opened #50718 "Enable `kubefed init` support `ImagePullSecrets` and `imagePullPolicy`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The `kubefed init` can only specify the image but cannot specify the `ImagePullSecrets` and `imagePullPolicy`, this will cause issues if I want to use images from private registry.
[code]

**What you expected to happen**:
I can set `ImagePullSecrets` and `imagePullPolicy` for `kubefed init`.

**How to reproduce it (as

[2017-08-15 23:12] dims commented on #50699
@cjyar note it is moving to another location https://github.com/kubernetes/kubernetes/pull/44680 as part of this effort https://github.com/kubernetes/kubernetes/issues/48690

[2017-08-15 23:13] mbohlool commented on #47426
Closing this one in favor of #50011. If these are not duplicates, please reopen.

[2017-08-15 23:13] #47426 closed

[2017-08-15 23:29] mbohlool commented on #49878
My understanding is the chain goes like this

`apiExtensionsServer` -> `kubeAPIServer` (has v1, etc.) -> `aggregatorServer`

A controller looks into kubeAPIServer and register its API Groups to Aggregator API server, but the Aggregator API Server does not have access to apiExtensionsServer. What is the benefit of having this change, my proposal in this issue is to have them both register with aggr

[2017-08-15 23:40] BaluDontu commented on #50645
@jingxu97 we used a wrong name for the isExists() in current vSphere code. In current vsphere code, we use isExists() to check whether the node is powered on or off. Essentially the function name should be isActive().

@FengyunPan latest PR addresses that. Is node is NotFound it assumes that disks are already detached and for any other errors for node retrieval it will throw error.

[2017-08-15 23:50] gyliu513 commented on #50569
Thanks @DirectXMan12 , can you please show more detail about your option?

Do you mean as following:
1) The customer metrics API only get current time and treat time as metrics
2) Use existing HPA policy taking `time` as monitor metrics
3) Suppose the threshold is 8:00AM and 8:00PM, If time exceeds 8:00 AM, scale up; if time exceeds 8:00PM, scale down?

[2017-08-15 23:53] crimsonfaith91 opened #50720 "Remove CreatedByAnnotation in v1.9, in favor of ControllerRef"
`CreatedByAnnotation` will be [deprecated](https://github.com/kubernetes/kubernetes/issues/44407) in v1.8 and be removed in v1.9, in favor of `ControllerRef`.

[2017-08-15 23:53] crimsonfaith91 commented on #50720
/assign

[2017-08-15 23:59] yujuhong commented on #50703
Before we can properly support the HEALTHCHECK provided by docker images (discussed in #25829), I think it's reasonable to disable this by default.

/cc @yguo0905 for docker 1.13 validation

[2017-08-16 00:00] #50592 closed

[2017-08-16 00:03] liggitt commented on #50715
I'm not seeing the issue. You don't have a role that grants get permission bound in the new-ns namespace or clusterwide, right?

[2017-08-16 00:09] pwittrock commented on #49035
The changes SGTM

[2017-08-16 00:11] ericchiang commented on #50715
Your service account should have the ability to `list` and `watch` pods in any namespace:

[code]

Or `get` pods in the `test-ns`

[code]

Your service account can't `get` pods in `new-ns` since you never allowed that.

[code]

From what I can see this is working as intended.

[2017-08-16 00:21] #50715 closed

[2017-08-16 00:39] verult opened #50721 "Pod stuck in ContainerCreating with log message "Volume is not yet attached according to node""
**Is this a BUG REPORT or FEATURE REQUEST?**: bug

/kind bug

**What happened**:
* Deployment running with read-only GCE PD.
* A node containing one of the deployment pods is deleted and recreated soon after.
* New pod is scheduled to the same node, but is stuck in ContainerCreating state. The node's kubelet logs show continuous "Volume is not yet attached according to node" errors.

**What you ex

[2017-08-16 00:40] verult commented on #50721
/assign @verult

[2017-08-16 00:41] nikhildl12 commented on #19080
@combk8s: is there a proposal for a cluster scoped resource?

[2017-08-16 00:50] vishh commented on #19080
Assigning to myself since I have some ideas on how this issue can be resolved. I'll post a design proposal when I get some time.

[2017-08-16 01:12] hzxuzhonghu commented on #50245
@jsravn check your kubelet log, maybe there you can find something

[2017-08-16 01:16] yujuhong opened #50723 "gce-alpha-features flaky/broken"
It is almost completely red, with green runs few and far between.
https://k8s-testgrid.appspot.com/google-gce#gce-alpha-features

Examples:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features/14541
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gce-alpha-features/14540

failure signature:
[code]

The scheduling f

[2017-08-16 01:30] fanhongli commented on #50585
i think the dashboard have same thing wrong

yesterday i did not start   dashboard

nohup kubectl proxy --address='0.0.0.0' --accept-hosts='^*$' >> dashboard.out &

my machine no need to restart again .

[2017-08-16 01:37] xiangpengzhao commented on #49161
@deads2k Thanks! Task list updated.

@guangxuli are you interested in sending a PR to adding prefix to the tests which are confirmed by David ?

[2017-08-16 01:39] dixudx commented on #50709
For default `/var/lib/kubelet`, we may create it if needed. But what if a customized value?

[2017-08-16 02:07] baldeynz commented on #35637
Hi - has there been any update on this issue? any idea when its likely to be fixed?

[2017-08-16 02:14] zhouhaibing089 commented on #43605
@shenlanse In my understanding, `IndexFunc` should be deterministic, could you elaborate more how the IndexFunc implemented? If an object can not be called on this `IndexFunc`, then the question is, how could it exist in `Indices` at the first beginning?

[2017-08-16 02:24] dixudx commented on #50709
@pipejakob Thanks for the clarification.

Actually [`cadvisor.New`](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubelet/cadvisor/cadvisor_linux.go#L100-L128) is called before [`setupDataDirs`](https://github.com/kubernetes/kubernetes/blob/master/cmd/kubelet/app/server.go#L380). So @dims we may remove the duplicated `os.MkdirAll(kl.getRootDir(), 0750)` in `setupDataDirs`. WDYT?

[2017-08-16 02:46] dixudx commented on #50718
@gyliu513 If no one is working on this, I would like to take it.

[2017-08-16 02:51] rainard opened #50725 "Could not open library 'libsystemd.so.0': libgcrypt.so.11: cannot open shared object file: No such file or directory"
### Is this a BUG REPORT or FEATURE REQUEST?:

/kind bug

### What happened:

when I run kubectl  create -f fluentd-es-ds.yaml ,my pods  CrashLoopBackOff  .and I checked to get follow ,how can I fix it?

## [root@10 efk]#  kubectl    logs --namespace=kube-system   fluentd-es-7mpfd
[code]
## [root@10 efk]# find / -name "libsystemd.so"
## [root@10 efk]# find / -name "libsystemd.so.0"
[code]
### What

[2017-08-16 02:56] gyliu513 commented on #50718
@dixudx sure, go ahead, thanks!

[2017-08-16 02:56] FengyunPan opened #50726 "Get network id for openstack cloud provider automatically"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
If user don't specify subnet-id in openstack cloud provider config file, service controller can't create LoadBalancer service.
If user specify wrong subnet-id in openstack cloud provider config file, service controller will create a unsafe LoadBalancer service.
And subnet-id is unique for kubernetes cluster, we can get

[2017-08-16 02:56] FengyunPan commented on #50726
/sig openstack
/assign

[2017-08-16 03:13] shenlanse commented on #43605
@zhouhaibing089  threadSafeStore should tolerate some bad conditions and deal with it gracefully, instead  generating strange and confusing phenomenon.

ThreadSafeStore can contain mutiple index funcs. If one of them is not implemented very well, or one of objects we pass to it has something wrong,  STRANGE AND CONFUSING phenomenon happens, see what I said above.

[2017-08-16 03:32] dims commented on #50709
@dixudx i am not comfortable with the duplicate from setupDataDirs as someone can use Kubelet directly without using the code under cmd/kubelet/app/server.go (and without using cadvisor). So we should let it be

[2017-08-16 03:33] zhouhaibing089 commented on #43605
That's the point I would like to know more, the `IndexFunc` call on an object should succeed or fail unconditionally(deterministic).

[2017-08-16 03:36] dixudx commented on #50709
@dims SGTM. Thanks.

[2017-08-16 03:47] shenlanse commented on #43605
@zhouhaibing089  wechat 908910016

[2017-08-16 03:55] andrewsykim commented on #48690
I noticed we don't handle the case of existing nodes setting `--cloud-provider=external`. What's the plan going forward with that? Will it be the responsibility of the cluster admin to delete/create nodes or do we plan to add some logic in the kubelet to handle this?

[2017-08-16 04:03] #49999 closed

[2017-08-16 04:45] rainard commented on #50725
I modify  fluentd-es-ds.yaml  image:gcr.io/google-containers/fluentd-elasticsearch:v2.0.0  to  image: gcr.io/google-containers/fluentd-elasticsearch:v2.0.1 , it work

[2017-08-16 05:01] dcheney-atlassian commented on #15128
[code]
Returns

    2017/08/16 14:57:04 error listing nodes: field label not supported: status.podIP

With the 4.0.0.beta.0 client.

[2017-08-16 05:26] Shemeikka commented on #28241
At least for me this doesn't work using kubelet version:

[code]

For this to work, RegistryIds needs to be added to the request and currently the credentialprovider doesn't do this.

[Todo: fill in RegistryIds?](https://github.com/kubernetes/kubernetes/blob/master/pkg/credentialprovider/aws/aws_credentials.go#L176)

[2017-08-16 06:00] ichbinblau opened #50733 "Got "Peer's Certificate has expired" error when installing K8s components from yum repo."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind/support

**What happened**:
I met the "Peer's certificate has expired" error when installing Kubernetes components from the Yum repo (https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64).

Loaded plugins: fastestmirror
base

[2017-08-16 06:08] gyliu513 opened #50734 "Secure etcd for `kubefed init`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The `kubefed init` will install etcd, but the etcd is not secured, we should enable secure mode for etcd, checkout here for how to enable tls for etcd https://coreos.com/etcd/docs/latest/op-guide/security.html

[code]
/sig federation
/cc @kubernetes/sig-federation-feature-requests

**What you expected to happen**:

**

[2017-08-16 06:11] guangxuli opened #50735 "Update e2e_federation with specific sig prefix"
**Is this a BUG REPORT or FEATURE REQUEST?**:

Ref to https://github.com/kubernetes/kubernetes/issues/49161, e2e_federation still test use `k8s.io` prefix. Not sure if we could use `sig-federation` instead of `k8s.io`  just as https://github.com/kubernetes/kubernetes/issues/49161 described.

 i would be happy to send a PR to update it if we indeed need.

/cc @quinton-hoole @csbell

[2017-08-16 06:12] guangxuli commented on #50735
/sig federation

[2017-08-16 06:13] xiangpengzhao opened #50736 ""hack/update-bazel.sh" don't check if packages exist"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug
/sig contributor-experience

**What happened**:
1. If newly import a non-existing package and then run `hack/update-bazel.sh`, it doesn't give an error.

2. If the newly import package exists and then run `hack/update-bazel.sh`, it doesn't print out what BUILD files it updates.

**What you expected to happen**:
1. giving an error in case 1.

[2017-08-16 06:15] gyliu513 opened #50737 "Enable federation apiserver connect to external etcd"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
If I want to enable the federation control panel, then I need to use `kubefed init` to install etcd and control panel. For etcd, as the kubernetes already have etcd running, so I want to re-use the existing etcd in my kubernetes cluster and do not want to install a new etcd for federation only.

**What you expected to

[2017-08-16 06:31] ixdy commented on #50736
Can you please give more concrete examples of what you did for each case above?

[2017-08-16 06:34] enzian commented on #50449
@StevenACoffman: I'll give it another try. If it works though - it should not be neccessary ;-)

[2017-08-16 06:46] ichbinblau commented on #50733
/sig kind/support

[2017-08-16 06:50] ichbinblau commented on #50733
/kind support

[2017-08-16 07:05] crassirostris commented on #50725
Cool! :)

[2017-08-16 07:05] #50725 closed

[2017-08-16 07:06] crassirostris commented on #50242
Thanks @aknuds1!

[2017-08-16 07:09] sttts commented on #49878
What do you mean with `have access to apiExtensionsServer`? We can change the apiserver api surface in such a way that we get what we need. I don't see that we change the delegation chain design for this. It's merely just an implementation detail of "an ordered list of apiservers". Have to look another look at the current blocker for getting the aggregation right.

[2017-08-16 07:24] WIZARD-CXY commented on #50660
@FengyunPan
[code]
If totalPods less than throughput, in our case, totalPods is 9, throughput is 10, the creatingTime will be 0, which makes rand.Int63n panic

[2017-08-16 07:26] WIZARD-CXY commented on #50660
or throughput is getting from env LOAD_TEST_THROUGHPUT, safe to add a sanity check

[2017-08-16 07:30] FengyunPan commented on #50660
agree.

[2017-08-16 07:38] m1093782566 opened #50744 "[proxy] Move IsLocalIP() and ShouldSkipService() to pkg/proxy/util"
I find both iptables proxier and userspace proxier consume IsLocalIP(), see

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/iptables/proxier.go#L1668-L1683

https://github.com/kubernetes/kubernetes/blob/master/pkg/proxy/userspace/proxier.go#L835-L850

I think we can move IsLocalIP() to pkg/proxy/util package so that it can be consumed among different proxiers.

BTW, function [Shoul

[2017-08-16 07:38] harshal-shah opened #50745 "flexvolume drivers are not recognized on CentOS7"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
FlexVolume drivers do not get detected on CentOS7 with Kubernetes version 1.7.3.
Following error is seen:

[code]

**What you expected to happen**:
Flexvolume drivers to get detected and driver scripts should get executed and dummy volume should get mounted.

**How to reproduce it (as minimally and precisely as possible)*

[2017-08-16 07:40] liqlin2015 opened #50746 "Kubefed init should not fail if resource are already existed"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
When I run `kubefed init` to deploy federation control plane in host cluster, some error happened. After I fixed the error and run `kubefed init` again, it throws error like "Service account already exist" or "federation-system namespace already exist".

**What you expected to happen**:
`kubefed init` should continue if related reso

[2017-08-16 07:42] liqlin2015 commented on #50746
/sig federation

[2017-08-16 07:43] gyliu513 commented on #50746
/kind feature

[2017-08-16 07:50] ybbaigo opened #50748 "kubelet 1.7.3 not reading config file /etc/systemd/system/kubelet.service.d/10-kubeadm.conf"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:  failed to create kubelet: misconfiguration: kubelet cgroup driver: "cgroupfs" is different from docker cgroup driver: "systemd"

**What you expected to happen**: starting kubelet

**How to reproduce it (as minimally and precisely as possible)**:

* yum install -y docker-1.12.6
* systemctl enable docker && systemctl start

[2017-08-16 07:53] akgunjal commented on #50521
@jingxu97 : I am checking with @jsafrane offline. I have also seen etcd timeouts for during the time when issue occurred. Can that be one of the possible causes?

[2017-08-16 08:15] dixudx commented on #50748
@ybbaigo Please help check all the `drop-ins` of `kubelet.service` to see whether `KUBELET_CGROUP_ARGS` has been override. Also check cgroup driver settings in Docker.

[2017-08-16 08:26] huzhengchuan opened #50751 "Supports monitoring metrics for network/instance operations in openstack cloud provider"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
now I use openstack as a cloud provide to run kubernetes, through the monitoring metrics have optimized the stability of the kubernetes cluster and scalability. the volume operation metrics help mea lot, let me know the time to call openstack interface, why not add loadbalance and node operation metrics in openstack c

[2017-08-16 08:32] huzhengchuan commented on #50751
/sig openstack
/assign

[2017-08-16 08:35] iamzhout commented on #50748
Does [this way by dsever](https://github.com/kubernetes/kubernetes/issues/43805#issuecomment-290403262) helps to resolve your problem?

[2017-08-16 08:38] #49126 closed

[2017-08-16 08:38] karataliu opened #50752 "Standalone Azure cloud provider"
This issue is to track tasks for supporting out-of-tree cloud provider for Azure.

As mentioned in design proposal [Refactor Cloud Provider out of Kubernetes Core](https://github.com/kubernetes/community/blob/master/contributors/design-proposals/cloud-provider/cloud-provider-refactoring.md), all cloud provider specific code is planned to be removed from kubernetes repository.

# Work Items
## 1.8

[2017-08-16 08:38] karataliu commented on #50752
# Work Items Explained

## Setup standalone cloud provider repository for Azure
- Plan for issues and pull requests migration
    There are some ongoing issues and pull requests addressing the Azure cloud provider.

    During development of the standalone cloud provider, we will still be accepting issues and pull requests in kubernetes repository.

    If a related pull request got merged, it goe

[2017-08-16 08:39] karataliu commented on #50752
/sig azure

[2017-08-16 08:41] ybbaigo opened #50753 "kubeadm v1.6.1 is depending on kubectl v1.7.3 when installing with YUM"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

`yum install -y kubeadm-1.6.1` will automatically install kubectl-1.7.3 but kubectl-1.6.1

**What you expected to happen**:

`yum install -y kubeadm-1.6.1` should not reply on higher version kubectl.

**How to reproduce it (as minimally and precisely as possible)**:

`yum install -y kubeadm-1.6.1`

**Anything else we nee

[2017-08-16 08:43] karataliu commented on #50752
cc  @jdumars @wlan0 @brendanburns @kyliel

Please help review and I'll keep this updated.

[2017-08-16 08:46] karataliu commented on #50752
cc @brendandburns

[2017-08-16 08:52] xiangpengzhao commented on #50736
For the first case, on HEAD code, I add a newly importing package in a file, e.g.:
[code]

Note that the imported package is an invalid package. In this case, `hack/update-bazel.sh` doesn't give error message.

But on an earlier branch (which uses `gazel`), it gives error message for this case.
[code]

[2017-08-16 08:56] dixudx commented on #50753
/sig release

[2017-08-16 08:57] dixudx commented on #50745
/sig storage

[2017-08-16 08:59] luxas commented on #49308
@jhorwit2 Feel free to implement something like that and we'll see :)

[2017-08-16 09:01] gyliu513 commented on #50716
/assign @dixudx

Thanks @dixudx

[2017-08-16 09:06] xiangpengzhao commented on #50736
For the second case, on HEAD code, I add a newly importing package in a file, e.g.:

[code]

Note that the imported package is a **valid** package. In this case, hack/update-bazel.sh doesn't tell me what files it updates.

But on an earlier branch (which uses gazel), it gives what it does after finished.
[code]

Note that it told me that it `wrote "pkg/kubelet/BUILD"`

[2017-08-16 09:08] jsravn commented on #50245
@hzxuzhonghu It's same as the OP, kubelet says it registers itself, but then goes into error loop saying the node (of itself) doesn't exist. Really weird. I tried manually creating the node, which "fixed" it. But if I then delete the node and restart kubelet, the error comes back.

[2017-08-16 09:09] wojtek-t opened #50760 "DumpClusterLogs is failing for kubeadm e2es"
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-1.7
https://k8s-testgrid.appspot.com/release-1.7-blocking#gce-kubeadm-1.6-on-1.7

@luxas

[2017-08-16 09:25] anguslees commented on #50726
I just want to say, this is my favourite bug report / suggestion for 2017.  :+1:

[2017-08-16 09:26] wenlxie commented on #50689
If the DaemonSet can run pod in the node when:
1. Node just add to the cluster
2. Node restart.
That would be awesome

[2017-08-16 09:32] spacexnice commented on #50677
@chakri-nelluri Does flexvolume survive from node reboot?

[2017-08-16 09:38] pci commented on #50624
If it's helpful, I have a PR open for #49673: https://github.com/kubernetes/kubernetes/pull/50398

[2017-08-16 09:38] x1957 commented on #50745
What is your plugin dir after /usr/libexec/kubernetes/kubelet-plugins/volume/exec/ ?

[2017-08-16 09:41] gyliu513 opened #50761 "Enable coredns etcd secure mode"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The kubernetes federation has a provider of coreos, we cannot enable secure mode for etcd, it is better support secure mode for etcd.

[code]

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version

[2017-08-16 09:42] harshal-shah commented on #50745
Updated the original description, the directory is : `/usr/libexec/kubernetes/kubelet-plugins/volume/exec/example~flexvol/`

[2017-08-16 09:45] gyliu513 commented on #50716
/cc @liqlin2015

[2017-08-16 09:45] gyliu513 commented on #50761
/cc @liqlin2015

[2017-08-16 09:46] gyliu513 commented on #50737
/cc @liqlin2015

[2017-08-16 09:46] gyliu513 commented on #50734
/cc @liqlin2015

[2017-08-16 09:46] gyliu513 commented on #50718
/cc @liqlin2015

[2017-08-16 09:46] cofyc commented on #34137
@jingxu97
Any progress on this?

[2017-08-16 09:47] r00tjimmy commented on #7341
yes, i get the same problem like this,  how fix ????  thank you ..  @alexanderguzhva

[2017-08-16 09:48] shyamjvs commented on #50624
@pci Thanks for the PR, that should definitely be helpful. Also it should be cherry-picked to 1.6 and 1.7 later.

[2017-08-16 09:48] jbunce commented on #48924
Also present in 1.7.3:

[code]

[2017-08-16 09:50] #50660 closed

[2017-08-16 10:07] x1957 commented on #50745
The path seems ok,  do you have --volume-plugin-dir config for kubelet？

[2017-08-16 10:08] x1957 commented on #50745
The path seems ok,  do you have --volume-plugin-dir config for kubelet？

[2017-08-16 10:11] harshal-shah commented on #50745
No. Earlier, I had also tried by passing `--volume-plugin-dir` as `/etc/kubernetes/vol-plugins` and then kept my driver script in `/etc/kubernetes/vol-plugins/example~flexvol` and still for the same error.

[2017-08-16 11:18] dims commented on #50632
@xiangpengzhao yes, that's why i was looking at options for @kellycampbell where the main process is the only one in the container. Guess we need a big disclaimer about child process(es) being oom-killed

[2017-08-16 11:35] shyamjvs commented on #50760
I just looked into this. So apparently DumpClusterLogs was also failing before (when it was happening as part of e2e framework):

[code]

(ref: https://storage.googleapis.com/kubernetes-jenkins/logs/ci-kubernetes-e2e-kubeadm-gce-1-6-on-1-7/96/build-log.txt)

However it was silently skipped because e2e framework doesn't fail on failure of logdump. Now (after PR https://github.com/kubernetes/test-in

[2017-08-16 11:41] shyamjvs commented on #50760
It says exit status 127, which usually means some command doesn't exist. And since nothing is printed, seems like it failed even before reaching the first echo statement in log-dump.sh.
Which most likely means somewhere in the [setup() function](https://github.com/kubernetes/kubernetes/blob/release-1.7/cluster/log-dump/log-dump.sh#L250)
I'll add some debugging statements to the script.

[2017-08-16 11:42] shyamjvs commented on #50760
cc @kubernetes/test-infra-maintainers - Is some non-default bash version or sth used in kubeadm test?

[2017-08-16 11:49] vishal-sdl commented on #26453
Hello guys,
Any solution to fix the above problem and also @mkumatag commented earlier.
I'm also faced same problem which @mkumatag faced earlier.

[code]
After setting variables
[code]

[2017-08-16 12:16] dixudx commented on #50748
@ybbaigo run `systemctl status docker`, you will find something like this,

[code]

Found all your override settings in listed Drop-in.

[2017-08-16 12:22] jhorwit2 commented on #49308
:)

@luxas i'll let you know soon if I can.

[2017-08-16 12:30] rrati opened #50763 "Create patch unique to persistent volume label controller in cloud-controller-manager"
/kind bug

The persistent volume label controller in the cloud-controller-manager creates a patch to apply the labels to persistent volumes, but to create the patch goes through an awful lot of encoding and decoding.  It would be better if the controller could write its own patch.

[2017-08-16 12:41] ash2k commented on #43605
I also think index function must be a pure function. See my comment on the pr https://github.com/kubernetes/kubernetes/pull/50555#issuecomment-322757517

[2017-08-16 12:47] tcharding commented on #32600
I hacked together a tool to extract the constants recursively from a Go source tree. There are 236 duplicate constants in `pkg/`. Is the best way to broaden the discussion on this to put in a WIP PR adding `k8s.io/kubernetes/constants.go` and migrate a few constants there as an example? I'm new around here so I feel like this needs input from someone with more architectural knowledge.

You can fin

[2017-08-16 13:00] chakri-nelluri commented on #50677
@spacexnice Yes it does.
@heartlock NFS is typically not an attachable plugin. It is just mountable. ConstructVolumeSpec is not used by FlexVolume today. Ping me if you are still seeing the issue, I can help you debug the issue.

[2017-08-16 13:13] seh opened #50767 "RBAC: Application owners should be allowed to create PodDisruptionBudgets"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:
For a fresh cluster using the RBAC authorization plugin, with its "bootstrap" _ClusterRoles_ loaded, neither a user granted the ["admin"](https://github.com/kubernetes/kubernetes/blob/0cb8bae6ac6cc1d331052194e3e290d001e45dab/plugin/pkg/auth/authorizer/rbac/bootstrappolicy/testdata/cluster-roles.yaml#L3-L163) nor the ["edit"](https:/

[2017-08-16 13:15] dixudx commented on #50763
/sig storage

[2017-08-16 13:32] harshal-shah commented on #50745
Works fine with k8s 1.6.2 as well

[2017-08-16 14:35] heartlock commented on #50677
ping @chakri-nelluri   I still have the problem of reboot node. NFS is not attachable plugin but flexvolme type driver nfs is attachable plugin. ConstructVolumeSpec  will be used. Please have a try. Thx a lot.

[2017-08-16 14:41] huzhengchuan opened #50770 "kubelet set parameter --system-reserved work error."
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
In kubernetes 1.6.4, I configure kubelet with parameter ' --system-reserved=cpu=500m,memory=400Mi --system-reserved-cgroup=/system --enforce-node-allocatable=pods,system-reserved'. kubelet work failed, and output group /system not exist.
the output kublet log is:
kubelet.go:1246] Failed to start ContainerManager Failed to

[2017-08-16 14:46] huzhengchuan commented on #50770
/area kubelet
/sig node
/assign

[2017-08-16 14:52] LarsKumbier opened #50772 "Kubelet fails to delete glusterfs-volume"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

When using heketi and glusterfs to provision persistent volumes (PVs), the created pvs are not deleted despite a ReclaimPolicy of `Delete` and remain in the status `Failed`.

**What you expected to happen**:

The PVs to be deleted.

**How to reproduce it (as minimally and precisely as possible)**:

* Create a cluster wit

[2017-08-16 15:04] kellycampbell commented on #50632
I think maybe it's not clear how the resource limits are enforced. After troubleshooting this issue, I discovered my own misunderstanding of responsibilities for k8s vs the container runtime and linux cgroups.

I found this documentation helpful in understanding what is happening: https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Resource_Management_Guide/sec-memory.htm

[2017-08-16 15:15] bdshibly opened #50774 "Selenium containers in Kubernetes with browsermob"
We are trying to deploy the selenium containers in Kubernetes on AWS (we are using m4.xlarge for kubernetes nodes). We deployed browsermob on separate EC2 instance as browsermob opens a rang of ports. When we are running any test, the proxy test is taking long time to initiate. But when we are running the same test on selenium which are configured on EC2 instance, it is instantly initiating the pr

[2017-08-16 15:23] chakri-nelluri commented on #50677
are you using the latest example NFS driver? It is not attachable.

[code]

[2017-08-16 15:28] dixudx commented on #50772
/sig storage

[2017-08-16 15:28] bdshibly commented on #50774
/sig networking /sig node

[2017-08-16 15:32] FengyunPan commented on #50726
Thank you.

[2017-08-16 15:34] zxpower commented on #47131
Update to the situation - I solved my issue. Turns out that if you are running `etcd3` cluster with TLS then in `kube-apiserver.yaml` file you should add cert, key and CA file locations - otherwise API server isn't able to connect and store information in etcd. That I found out only by adding `--v=4` for verbose logging in `kube-apiserver.yaml` and then I discovered that all the URLs that kube-api

[2017-08-16 15:44] The-Loeki commented on #33508
Apparently there's a feature req going on here: https://github.com/kubernetes/features/issues/127

[2017-08-16 15:44] The-Loeki commented on #33508
Apparently there's a feature req going on here: https://github.com/kubernetes/features/issues/127

[2017-08-16 15:45] ianchakeres commented on #35054
@zhangxiaoyu-zidif Kubernetes uses glog. Here is a link to some glog documentation - https://godoc.org/github.com/golang/glog.

Generally log lines with lower log-level numbers mean that those log lines are more important, and higher log-level numbers are less important and more verbose.

When I did a simple `kubectl get po` with `--v=8` and `--v=10` I did not see any difference in the output.

I

[2017-08-16 15:57] dmytroleonenko commented on #27363
same on 1.6

[2017-08-16 15:57] thockin commented on #7341
The solution was posted above.  You'll have to provide more info, if that doesn't work for you.

[2017-08-16 16:11] jcbsmpsn opened #50778 "Add a metric tracking the remaining validity of kubelet certificates"
/kind feature

Kubelets have TLS certificates that are used to authenticate connections to the API server. With the new `--bootstrap-config` flag and kubelet client certificate rotation, these certificates can now be issued by the API server's Certificate Signing Request API. The `kube-controller-manager` has a flag, `--experimental-cluster-signing-duration` which can be used to change the duratio

[2017-08-16 16:14] heartlock commented on #50677
Thanks for your reply. Unfortunately I am using version 1.6.7 NFS driver. I will replace it with the latest version and try again.

[2017-08-16 16:16] rphillips commented on #22609
Thank you for the feedback.

## Proposal

Add an `kube-apiserver-endpoints` ConfigMap in the `kube-system` namespace.

Populate the ConfigMap with the following:

[code]

In the reconcile endpoints loop, expire the endpoint after a configured period of time (~1 minute?)

/cc @smarterclayton @liggitt

[2017-08-16 16:27] timothysc commented on #50632
/cc @kubernetes/sig-node-bugs

[2017-08-16 16:32] heartlock commented on #50677
@chakri-nelluri  Will it work if I replace NFS driver with a attachable driver？

[2017-08-16 16:36] quinton-hoole commented on #35637
@baldeynz No updates that I'm aware of.  Code submissions to fix the bug would be well received.

[2017-08-16 16:44] chakri-nelluri commented on #50677
@heartlock Lets take it on slack to avoid back & forth

[2017-08-16 16:44] krzyzacy commented on #50760
cc @pipejakob

[2017-08-16 16:45] ixdy commented on #50736
Thanks for the repro cases. I'll take a look.

/assign

[2017-08-16 16:54] mattmoyer commented on #50613
/assign

[2017-08-16 16:57] mattmoyer commented on #50613
Rough plan:
1. (1.8) Add `--enable-bootstrap-token-auth`
1. (1.8) Make it an error to specify both `--experimental-bootstrap-token-auth` and `--enable-bootstrap-token-auth` (so we don't have to decide on precedence)
1. (1.8) Add a warning if `--experimental-bootstrap-token-auth` is used.
1. (1.9) Drop `--experimental-bootstrap-token-auth`

[2017-08-16 16:58] ironcladlou commented on #49718
My vote is to refactor to a single kube client within the GC using alternate representations via Content-Type parameters once PartialObjectMetadata hits beta. In addition to being even more optimizing that we had hoped (given the server transform, serialization benefits, etc), the overall GC code will be simplified where clients are involved.

[2017-08-16 17:07] ironcladlou commented on #49718
Via Accept header parameters, rather

[2017-08-16 17:11] caesarxuchao commented on #49718
I agree we should use a client that utilize the Accept header parameters to only acquire the PartialObjectMetadata. We can use a restclient or a dynamic client, not sure which one will be more elegant.

[2017-08-16 17:19] #50778 closed

[2017-08-16 17:25] pipejakob commented on #50760
@shyamjvs You can see the image definition here: https://github.com/kubernetes/test-infra/blob/master/images/kubeadm/Dockerfile

It extends the normal kubekins-e2e image, so I would be surprised if it has a different version of bash or other inconsistencies (although one of the first steps in building the image is an `apt-get update`, so it's possible that it would pull in a newer version of bash

[2017-08-16 17:30] pipejakob commented on #50760
Something that immediately comes to mind: if our e2e framework assumes that `$CWD` is the root of the kubernetes/kubernetes repository and invokes `cluster/log-dump/log-dump.sh` as a relative target, it's entirely possible that our current working directory is different. We also clone/use the kubernetes-anywhere repository, and have had path problems in our jobs before (like https://github.com/kub

[2017-08-16 17:41] bzub commented on #46083
I'm seeing this also, running a [kubeadm-dind-cluster](https://github.com/Mirantis/kubeadm-dind-cluster) in a Travis CI Ubuntu Trusty VM.

[2017-08-16 17:41] luxas commented on #50613
3. That is: Mark `--experimental-bootstrap-token-auth` deprecated.

cc @ericchiang @jbeda @liggitt @mikedanese Approve?

[2017-08-16 17:47] crassirostris commented on #50026
https://github.com/kubernetes/kubernetes/pull/50439 by @sttts and https://github.com/kubernetes/kubernetes/pull/50577 by me mitigated most of the problem

The only thing thing left to do is stopping the http handler before shutting down audit logging. I'll file a separate issue for that

Thanks, @sttts!

[2017-08-16 17:47] #50026 closed

[2017-08-16 17:52] crassirostris opened #50781 "Shutdown http handlers before shutting down audit backend"
Follow-up of https://github.com/kubernetes/kubernetes/issues/50026

Currently, audit backend is shut down before http handlers stop processing requests, so some audit events can be dropped in case of batching webhook. As a solution, during a shutdown, apiserver should close and wait until all requests are finished before shutting down the audit logging. Note, that just not accepting new requests i

[2017-08-16 17:52] alexandercampbell commented on #17384
@smarterclayton
This issue is still referred to by a [TODO](https://github.com/kubernetes/kubernetes/blob/6bc0b295b59d85ffbd1ee2044d6eb2e2277d5d21/pkg/kubectl/run.go#L104-L105) in `pkg/kubectl/run.go`. Can I remove that TODO?

[2017-08-16 17:53] erictune commented on #50714
Can we just have a fixed set of stages, and everything is parallel within the stage, and we have advice about what behaviors each initializer can do in a given stage.
The stages I am thinking of are:

1. Adding: can add new repeated fields.  Example: anything that injects containers or volumes into containers.
2. Editing: can set unset fields to objects but not add repeated fields.  Example: thing

[2017-08-16 17:54] vishh commented on #50632
Containers are marked as OOM killed only when the init pid gets killed by the kernel OOM killer. There are apps that can tolerate OOM kills of non init processes and so we chose to not track non-init process OOM kills.

[2017-08-16 17:54] erictune commented on #50714
If we don't give some guidance about how to order things, it will be hard for users, and various initializers will be incompatible.

[2017-08-16 17:54] vishh commented on #50632
I'd say this is Working as Intended.

[2017-08-16 17:54] #50632 closed

[2017-08-16 18:00] dchen1107 commented on #50703
We need to disable docker's healthcheck before we figure out how to support it. Mark this for 1.8 milestone.

Since the health check was introduced in docker 1.12, we might have to patch Kubernetes 1.6, 1.7 if requires.

[2017-08-16 18:01] mattmoyer commented on #49306
cc @mikedanese I think the spirit of this feature overlaps a bit with the improvements to the CSR verification improvements you mentioned today.

[2017-08-16 18:06] jfreeland opened #50784 "TFTP and network card encryption support, voltage, and current"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:  If I'm not mistaken, the base image being pushed to a machine during PXE boot is done via unencrypted TFTP data transfer.  Theoretically, there could be a MITM sniffing that PXE boot process and they could (theoretically) snag a copy of your boot image.  Not clear to me if anyone cares about this, but some people may

[2017-08-16 18:08] jingxu97 commented on #34137
I have a proposal in the community https://github.com/kubernetes/community/pull/855
@vkamra is currently working on the feature.

[2017-08-16 18:09] nbutton23 commented on #50608
@tamalsaha when you make the changes do you see errors in the logs for kube-controller-manager or anything in the events for the service?  I have seen ELBs not get updated if there was an error.

[2017-08-16 18:13] tamalsaha commented on #50608
I checked the logs for controller manager . I did not see any errors.

[2017-08-16 18:21] jfreeland commented on #50784
/sig network

[2017-08-16 18:28] yujuhong commented on #49398
/sig node

See my reply in https://github.com/kubernetes/kubernetes/pull/50396#issuecomment-322858759

[2017-08-16 18:35] arpitjindal97 commented on #8305
For those who want to remove old containers created by `minikube` after every start

`docker ps -a | awk '/Exited/ {print $1}' | xargs docker rm`

[2017-08-16 18:36] ericchiang commented on #50767
I don't think "application owner" in the document is referring to a specific RBAC role, so I don't know if this is strictly a bug.

Naively, this seems more in line with an "admin" than the "edit" role since lets users set custom scheduling policies that might conflict with other namespaces or actively impact an admins action, like draining a node.

[2017-08-16 18:43] seh commented on #50767
I agree that it's not so much a defect as an omission, even if only an omission of guidance. I didn't mean to imply that that document was describing specific parts of RBAC; rather this is me trying to _implement_ that document's imagined world via RBAC.

In my multi-tenant clusters, the tenants in each namespace have the "edit" _ClusterRole_ bound, and that's how they manage their _Deployments_ a

[2017-08-16 18:50] mbohlool commented on #49878
I did not suggest this new design just for this feature. I think it is a slightly better design.

For the right design, I don't think we should have these layers at all. Aggregation should be just a handler in chan of kubeAPIServer handlers and do aggregation if APIService group is enabled. That would have been much easier design. @cheftako have some thoughts on this.

This issue is not a blocker

[2017-08-16 18:50] tpetr opened #50787 "zero-value settings for kube-proxy being overwritten by default values"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
We run instances of `kube-proxy` outside of our Kubernetes cluster to make cluster IPs work everywhere. Conntrack settings are already tuned on these machines, so we use the following args to ensure `kube-proxy` does not alter them:
- `--conntrack-max-per-core=0`
- `--conntrack-tcp-timeout-close-wait=0`
- `--conntrack-tcp

[2017-08-16 18:52] tpetr commented on #50787
/sig network

[2017-08-16 18:54] #11384 closed

[2017-08-16 19:07] ConnorDoyle commented on #26507
Is there anybody actively working on this at the moment?

[2017-08-16 19:08] nikhiljindal commented on #50076
Umm am sorry am a bit lost. Not sure which Audit header is being talked about here.

I can provide context on the discussion I had with @sttts:

When a federated kubernetes cluster receives a request from federation control plane today, the audit logs say that the request came from "federation-control-plane" service account. We do not get any information on which user triggered that request. (For

[2017-08-16 19:08] ericchiang commented on #50767
You can already add this power to your cluster's "edit" ClusterRole. The default ones are for _every_ kubernetes cluster, so it's probably best to be conservative when changing them.

Currently the only description for "admin" is:

The description for "edit" is:

It does not grant powers for "privileged" resources which are domain of the system: `/status`
subresources or `quota`/`limits` which are

[2017-08-16 19:21] seh commented on #50767
Yes, I understand and appreciate that freedom, but I figure that others will run into this omission and puzzle over it just as we have in my organization, so I'm trying to help everyone. It would take less effort to patch it locally than fixing it upstream. Doing so feels selfish, however expedient. I'm willing to create a PR, but I don't want to do so until we agree that it's a good idea.

Here's

[2017-08-16 19:27] woodlee commented on #44478
Though this doesn't place the specification directly in the `volumeClaimTemplate`, perhaps https://github.com/kubernetes/kubernetes/pull/45345 will get you what you need once it's available?

[2017-08-16 19:34] shyamjvs commented on #50760
@krzyzacy @pipejakob I don't think the issue is with the path because then it complains saying that the file or directory doesn't exist. Also the dir structure looks fine (I checked from within the container):

[code]

So kubernetes repo is at the same level as that of kubetest (from where we call the log-dump script).

[2017-08-16 19:46] shyamjvs commented on #50760
There are at least 2 things I find wrong here:

[code]

This is clearly wrong and I'm sure it's coming from the Dockerfile - https://github.com/kubernetes/test-infra/blob/master/jenkins/e2e-image/Dockerfile#L48
Though the build-log shows it to be set as the right value - `W0816 00:05:18.423] KUBE_GCE_INSTANCE_PREFIX=e2e-117`

Secondly, the local artifacts path being passed to the log-dump script i

[2017-08-16 19:50] davidopp commented on #50767
This is a tricky one.

My feeling is that you should be able to create a PDB if you can create a Deployment/ReplicaSet/whatever. Because really it's the app deployer who knows the data integrity semantics of their application. However, we probably need some kind of quota on PDB (which would only be configurable by a cluster admin) to prevent people from abusing PDB.

The PDB documentation [implies

[2017-08-16 19:56] rahanar opened #50790 "FilterLimitExceeded is returned from AWS while trying to create an external loadbalancer"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

While creating a new service with an external loadbalancer on AWS, we are getting the following error for AWS:

[code]
or
[code]
Our cluster has more than 200 nodes.

Seems like there was a similar issue with filters fixed [here](https://github.com/kubernetes/kubernetes/commit/ffa622f9c78ed2d9256fd9c8eed307e8c9e0687e), b

[2017-08-16 19:56] seh commented on #50767
I read that same paragraph several times this morning, @davidopp, before submitting this issue, and concluded that the separation of responsibilities it's trying to describe is as follows:
- Administrators impose _voluntary disruptions_ upon the cluster.
- Application owners express constraints on and tolerance for such disruptions.

It's the _PodDisruptionBudget_ by which the latter mediates the

[2017-08-16 19:58] davidopp commented on #50767
@seh I think you're right. The paragraph could be written more clearly, but that interpretation makes more sense.

[2017-08-16 20:00] shyamjvs commented on #50760
Oops - I guess I was looking at the wrong container. Prow led me to the wrong one when I did a `kubectl describe pods` on the prow cluster.

[2017-08-16 20:03] rahanar commented on #50790
/sig aws

[2017-08-16 20:11] mengqiy commented on #50466
/assign @apelisse
/unassign
@apelisse is taking over this issue and have potential fix.

[2017-08-16 20:11] crimsonfaith91 opened #50791 "Move selector immutability check to validation after v1beta1 retires"
The check for selector immutability is located at `PrepareForUpdate` functions of `deploymentStrategy`, `rsStrategy` and `daemonSetStrategy`. We are not able to have the check at validation before _v1beta1_ API version retires due to breaking change to some tests (discussed in this closed [PR](https://github.com/kubernetes/kubernetes/pull/50348)). Once _v1beta1_ retires, we should move the check t

[2017-08-16 20:13] ericchiang commented on #47820
/cc @kubernetes/kubernetes-release-managers

[2017-08-16 20:19] MrHohn commented on #50787
cc @ncdc

[2017-08-16 20:25] ericchiang opened #50793 "[upgrade test failure] Garbage collector should support cascading deletion of custom resources"
/cc @kubernetes/sig-api-machinery-bugs

This test is failing on several of the 1.7 to master upgrade tests

https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-cvm-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-gci-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-cvm-master-upgrade-cluster-new
https://k8s-testgri

[2017-08-16 20:26] vladimirvivien opened #50794 "The ScaleIO volume plugin is not applying `fsGroup` value properly"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
The ScaleIO volume plugin is not applying `fsGroup`  value properly.

**What you expected to happen**:
When `fsGroup` value is specified in the spec, the mounted volume does not reflect the expected value of the `fsGroup`.

**How to reproduce it (as minimally and precisely as possible)**:
Set fsGroup value in a spec:
[cod

[2017-08-16 20:28] jingxu97 commented on #49818
To reduce the confusion and complexity caused by multiple storage APIs design, we plan to only have one storage API to represent scratch space and only manage root partition ephemeral storage isolation. The main reasons include
- We want to support both overlay and scratch storage API and isolation mainly because the use case of devicemapper. However, it is not a common use case and it is hard to

[2017-08-16 20:29] ericchiang opened #50795 "[upgrade test failure] Basic StatefulSet functionality [StatefulSetBasic] should have a working scale subresource"
/cc @kubernetes/sig-apps-bugs

This test is failing on several of the 1.7 to master upgrade tests

https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-cvm-master-upgrade-cluster-new
https://k8s-testgrid.appspot.com/master-upgrade#gke-gci-1.7-cvm-master-upgrade-cluster-new

Example failure

https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-e2e-gke-cvm-new-cvm-ma

[2017-08-16 20:33] msau42 commented on #49911
@arunmk what was the version of K8s where you were able to specify 12E?

From the code, it looks like the quantity is limited to 63 bytes:
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity.go#L56

The API validation code can be updated to check for this max limit.

[2017-08-16 20:37] ncdc commented on #50787
I think that prior to the config file, the defaulting functions for things like `KubeProxyConfiguration.ConntrackMax` were not being invoked, which allowed the zero value to mean "don't change anything". This is just a guess as I haven't done a thorough audit of the code prior to my change going in for 1.7.

I can say with certainty that when the config file is loaded, we do execute the defaulting

[2017-08-16 20:38] ericchiang opened #50797 "[upgrade test failure] Restart [Disruptive] should restart all nodes and ensure all nodes and pods recover"
Opening this since this seems slightly different from https://github.com/kubernetes/kubernetes/issues/46651

/cc @kubernetes/sig-node-bugs

This tests has been consistently failing on a lot of the upgrade tests:

https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-gci-master-upgrade-master
https://k8s-testgrid.appspot.com/master-upgrade#gke-cvm-1.7-gci-master-upgrade-cluster
https://k8s-te

[2017-08-16 20:43] ericchiang commented on #47882
Adding to 1.8 since this is an ongoing issue with the current upgrade tests. https://github.com/kubernetes/kubernetes/issues/47820

cc @kubernetes/sig-cluster-lifecycle-bugs can we please find someone to tackle this issue? We're basically get no signal from a set of e2e tests in the upgrade setup today.

[2017-08-16 20:44] erictune opened #50798 "Should we deprecate status.conditions?"
I've surveyed kubernetes API types to see how Status Conditions are used, and evaluated their usability as well.

**Method**: Examine 54 kubernetes API types, spanning core types, incubator project, and operator (TPR/CRD) types.   [Detailed Data](https://docs.google.com/a/google.com/spreadsheets/d/e/2PACX-1vSu-KunrKl_aSH4cfufHbNUCuE-o-HKpMNQOSLVSu-hH9A0cxqT-O8CzjIoJYewCkGUinM9_dso-SYd/pubhtml).  D

[2017-08-16 20:46] erictune commented on #50798
/sig apps

@kubernetes/sig-apps-feature-requests Suggest we don't include Conditions in Deployment and ReplicaSet when moving them to GA.  Can express same information in plain status fields (or events for the times when things happened).

[2017-08-16 20:52] wojtek-t commented on #50797
https://github.com/kubernetes/test-infra/pull/4086#issuecomment-322895571 should fix this

[2017-08-16 20:52] wojtek-t commented on #50797
@krzyzacy - FYI

[2017-08-16 20:54] tpetr commented on #50787
@ncdc Thanks for the insight -- it seems like the best course of action is to update the docs to say "less than zero" instead of "equal to zero" (see: https://github.com/kubernetes/kubernetes/blob/v1.7.3/cmd/kube-proxy/app/server.go#L151-L162). Are we publishing documentation for KubeProxyConfiguration? I'm happy to open a PR.

[2017-08-16 20:58] ncdc commented on #50787
@tpetr I have some code I'm working on to get the docs for the config file included as part of `kube-proxy --help`. It's not finished yet, but it takes all of the comments from the fields in the structs and displays them in the help. So as long as we get those comments adjusted, they eventually will be in documentation.

[2017-08-16 21:02] aanm opened #50799 "kube-dns failed to list *v1.Endpoints: User "system:serviceaccount:kube-system:default" cannot list services"
/kind bug
/sig auth

**What happened**:
I've set up k8s with RBAC and it seems kube-dns is trying to list the endpoint and services at cluster scope under namespace default.

Accordingly with https://kubernetes.io/docs/admin/authorization/rbac/ it seems there should only be
a kube-dns account in the kube-system namespace. However there are some missing or mis-configured kube-dns options because I'

[2017-08-16 21:05] crimsonfaith91 commented on #50791
kind/bugs

[2017-08-16 21:05] crimsonfaith91 commented on #50791
/kind bugs

[2017-08-16 21:06] crimsonfaith91 commented on #50791
/kind bug

[2017-08-16 21:10] ncdc commented on #50787
We also could consider if we want the defaults at all. Someone would need to go back to the 1.5/1.6 code and see what happens when you specify 0 vs not specifying anything. Do defaults get applied in either case? I'm not a kube-proxy expert (I just happened to do the conversion from flags to the config file), so someone from @kubernetes/sig-network-misc would need to weigh in here for this option.

[2017-08-16 21:12] cmluciano commented on #17571
cc @kubernetes/sig-network-feature-requests

[2017-08-16 21:15] ixdy commented on #50736
OK, I understand the two cases now. I appreciate the thorough examples.

The change in functionality in both cases is because we're now using the official [`gazelle` tool](https://github.com/bazelbuild/rules_go/tree/master/go/tools/gazelle) to manage the go rules, rather than `gazel`/`kazel`. (We still run `kazel`, but it only handles kubernetes-specific things.)

## First case (invalid package)
I

[2017-08-16 21:19] ixdy commented on #50736
For reference, `gofmt` has a `-l` option which prints out the files needing update; combined with `-w` it seems to print the filenames and update the files.

[2017-08-16 21:19] ixdy commented on #50736
OTOH, we don't use `-l` in `hack/update-gofmt.sh`.

[2017-08-16 21:25] BaluDontu opened #50802 "vSphere Cloud Provider : Unable to format and mount vsphere volumes on nodes when a pod is created."
Is this a BUG REPORT or FEATURE REQUEST?:

Bug Report
/kind bug

What happened: I created a PVC using storageclass. The Pod which used the PVC fails to start. I see the disk was attached successfully to the node but the mount operation has failed.

[code]

What you expected to happen: The PV to mount, format and the Pod to start

How to reproduce it (as minimally and precisely as possible): Use th

[2017-08-16 21:25] BaluDontu commented on #50802
I see a similar sort of issue on azure - https://github.com/kubernetes/kubernetes/issues/50150.

[2017-08-16 21:25] BaluDontu commented on #50802
/sig storage

[2017-08-16 21:36] msau42 commented on #49911
Actually it looks like if a bigger quantity is specified, it should be capped at the max according to the comments.

But from this test case, it looks like it is allowing values beyond the max.
https://github.com/kubernetes/kubernetes/blame/master/staging/src/k8s.io/apimachinery/pkg/api/resource/quantity_test.go#L334

@smarterclayton, is this intentional or should it be changed to cap at maxAllowe

[2017-08-16 21:51] bgrant0607 commented on #8190
My plan for this is to eventually migrate all existing "core" v1 APIs to relevant groups and to deprecate v1. The first of these is actually ReplicationController/ReplicaSet. The second will likely be Events.

It's a required step towards the layered architectural model, as well as being necessary to move towards independent evolution of logical subparts of the API surface and to fix things that r

[2017-08-16 21:57] #50060 closed

[2017-08-16 21:57] crimsonfaith91 commented on #50791
/remove-kind feature

[2017-08-16 22:21] mbohlool commented on #47889
does this helps? https://github.com/rrati/kubernetes/blob/69e6e5aec73ceee82ddf0c6da95656beab61d481/staging/src/k8s.io/apimachinery/pkg/runtime/extension.go#L35

Look like we need to do MarshalJSON on non-pointers for it to work. I didn't get into the details but if that is the case then making Unstructured's MarshalJSON() receiver, a object instead of pointer should fix your problem, right?

[2017-08-16 22:23] mbohlool commented on #47372
@caesarxuchao The other PR is rather large, would you give me a little more specific renames that needs to happen here? is it ALL "io.k8s.kubernetes..." to "io.k8s.api..." models?

[2017-08-16 22:30] MrHohn commented on #50227
Humm...Checked a bit, didn't spot relevant changes on kube-dns side.

Seems like that random number came from `HashServiceRecord()`: https://github.com/kubernetes/dns/blob/1.14.4/pkg/dns/util/util.go#L61-L89 (example: https://play.golang.org/p/3CDC2Wz3tp).
[code]

That hash number is returned by `GetSkyMsg()` as endpointName, and would usually be overwritten by the endpoint hostname:
https://githu

[2017-08-16 22:35] erictune commented on #50798
@kubernetes/sig-architecture-api-reviews

[2017-08-16 22:51] enisoc commented on #50795
/assign @crimsonfaith91

[2017-08-16 22:51] caesarxuchao commented on #47372
In 1.7 openapi pod spec, you have pod definition with id "io.k8s.kubernetes.pkg.api.v1.Pod".
In mater, the id is "io.k8s.api.core.v1.pod".
That's because we have moved types:
* from `k8s.io/kubernetes/pkg/apis/<group>/<version>` to `k8s.io/api/<group>/<version>`
* from `k8s.io/kubernetes/pkg/api/v1` to `k8s.io/api/core/v1`

I don't know if we should keep the IDs unchanged.

[2017-08-16 23:02] krzyzacy commented on #50797
/assign

[2017-08-16 23:06] crimsonfaith91 commented on #50795
@ericchiang It may be due to the test is based on `apps/v1beta1`.
I think this failure will be resolved when `apps/v1beta2` is enabled, and i change the e2e test to depend on `apps/v1beta2`.

[2017-08-16 23:16] crimsonfaith91 opened #50808 "Controller selectors should be immutable after creation"
**Background**
As part of the greater controller GA effort, we have removed defaulting `spec.selector` to `spec.template.labels` values in `apps/v1beta2` as the defaulting operation is semantically broken. In this issue, we propose to make `spec.selector` immutable after API object creation.

**Motivation**

1. Changing selectors leads to undefined behaviors - users are not expected to change the

[2017-08-16 23:25] BaluDontu commented on #50802
It failed at line -
https://github.com/kubernetes/kubernetes/blob/master/pkg/util/mount/mount_linux.go#L460 when it tried to execute the mkfs.ext4 command to format the file system.

I tried to exec into the kubelet binary and I don't see the mkfs.ext4/mkfs.ext2 formatting tools available in kubelet binary.

[code]

But i tried to verify it against the hyperkube image which i got from the https://

[2017-08-16 23:26] BaluDontu commented on #50802
@jingxu97 @saad-ali

[2017-08-16 23:37] arunmk commented on #49911
@msau42 it was working on 1.4.4 and 1.6.2. We had the issue when we tried 1.7.2.

[2017-08-16 23:38] arunmk commented on #49911
@msau42, also you mean bits right? I expected it to be a signed 64-bit number which would indicate 2^63 - 1.

[2017-08-16 23:46] m1093782566 opened #50810 "pkg/kubectl/autoscale_test.go has no UTs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

**What happened**:

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`):
- Cloud provider or hardware configuration**:
- OS (e.g. from /etc/os-release):
- Kernel (e.g. `uname -a`):
- Install tools:
- Other

[2017-08-16 23:54] shashidharatd commented on #50734
+1 for this feature.
There's a todo item to separate out federation apiserver and etcd pods to their own. The only reason i could think of not to separate them is because apiserver and etcd were wired to talk over plain http.

[2017-08-16 23:59] vkamra commented on #34137
@cofyc @javefang  - Take a look at the proposal Jing linked above. I'm currently working on the first part of this which is adding PVC information to the kubelet stats summary. After that, we should be able to expose that via prometheus metrics.

There was some discussion in the last sig meeting whether the metric exposed needs to be indexed by PVC name or if PodName + Pod Volume Name is sufficien

[2017-08-17 00:03] yujuhong commented on #43234
For the record, relevant PRs:
https://github.com/kubernetes/kubernetes/pull/45667
https://github.com/kubernetes/kubernetes/pull/48742
https://github.com/kubernetes/kubernetes/pull/45314
https://github.com/kubernetes/kubernetes/pull/45299
https://github.com/kubernetes/kubernetes/pull/45307
https://github.com/kubernetes/kubernetes/pull/45292
https://github.com/kubernetes/kubernetes/pull/45199
https:

[2017-08-17 00:21] k8s-merge-robot opened #50812 "Failure cluster [8cd605...] failed 126 builds, 47 jobs, and 4 tests over 1 days"
### Failure cluster [8cd605aafc9d77600a03](https://go.k8s.io/triage#8cd605aafc9d77600a03)
##### Error text:
[code]
##### Failure cluster statistics:
4 tests failed,    47 jobs failed,    126 builds failed.
Failure stats cover 1 day time range '15 Aug 2017 23:07 UTC' to '16 Aug 2017 23:07 UTC'.
##### Top failed tests by jobs failed:

| Test Name | Jobs Failed |
| --- | --- |
| [k8s.io] Network Part

[2017-08-17 00:31] msau42 commented on #49911
Sorry yes, bits.  Is your volume actually that big?

[2017-08-17 00:41] borgesgabriel opened #50813 "Pod stays pending after node dies"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:
Some pods stay `Pending` after the nodes in which they were previously running dies.

**What you expected to happen**:
Pods to be assigned to another node and transition to `Running`.

**How to reproduce it (as minimally and precisely as possible)**:
* Create a replication controller with a replica of 1;
* Wait until the p

[2017-08-17 00:53] borgesgabriel commented on #50813
/sig scheduling

[2017-08-17 01:08] ash2k commented on #47889
Only if we don't fix the actual cause of the bug which I described above.

From the stack overflow question that is mentioned in the link you provided:
[code]
This code is buggy - to work it should be passing `&ms` into `Encode()` and into `Marshal()`. Yes, json package tries to take the address of the passed `ms` (so a pointer receiver should satisfy the interface check) but it cannot take an add

[2017-08-17 01:16] ash2k commented on #47889
I'm happy to take a stab at it and submit a PR but I don't want to spend my time if it is not going to get merged - if we could merge https://github.com/kubernetes/kubernetes/pull/43346 first to make sure people who can approve/lgtm are happy with the approach taken. I strongly believe it is the right thing to do - that is how standard library does it and, well, it is just logical and makes sense

[2017-08-17 01:25] wangzhuang1022 opened #50814 "Can`t set index "not_analyzed" in EFK K8S"
I installed EFK in K8S and got a problem when creating a New Visualization: es analyzed my container name automatic.
I created one deployment named "newview-backend-deployment" in k8s, and in kibana it has been split into three words: "newview", "backend" and "deployment". What I want is not splitting.
a screenshot in kibana is like this:

I enter the es container and find a template file in /elas

[2017-08-17 01:26] tengqm commented on #50569
#49931

[2017-08-17 01:27] #50814 closed

[2017-08-17 01:37] smarterclayton commented on #50466
The core bug here is that gke uses a different transport wrapper than normal gce installs and unwrapping the transport is required to upgrade passthrough proxies.

[2017-08-17 01:53] gyliu513 commented on #49931
The Kubernetes only support auto scaling based on CPU and some other [customized metrics](https://github.com/kubernetes/kubernetes.github.io/blob/master/docs/tasks/run-application/horizontal-pod-autoscale.md#support-for-custom-metrics) now, the problem is that in a production environment, most customers do not want to use metrics based autoscaling as it is not safe: Sometimes the high CPU/Memory u

[2017-08-17 01:53] gyliu513 commented on #49931
@kubernetes/sig-autoscaling-feature-requests

[2017-08-17 01:54] gyliu513 commented on #49931
From @DirectXMan12

[2017-08-17 01:55] gyliu513 commented on #49931
Thanks @DirectXMan12 , let us trace the time based auto scaling here:

Do you mean as following:

The customer metrics API only get current time and treat time as metrics
Use existing HPA policy taking time as monitor metrics
Suppose the threshold is 8:00AM and 8:00PM, If time exceeds 8:00 AM, scale up; if time exceeds 8:00PM, scale down?

[2017-08-17 01:55] gyliu513 commented on #50569
Thanks @tengqm , let's close this one and trace it in https://github.com/kubernetes/kubernetes/issues/49931

[2017-08-17 01:55] #50569 closed

[2017-08-17 02:10] gg7 commented on #48603
I also encountered the same issue today.

Environment:
* Kubernetes v1.6.6 (7 nodes, 3 of which masters)
* etcd: "gcr.io/google_containers/etcd:2.2.5", 3 servers (running on the master nodes)
* Ubuntu 16.04, 64 bit
* On-premise / bare-metal deployment, with custom deployment

At 13:46:43, master number 2 experienced a problem with its network driver:

    i40e 0000:02:00.0: TX driver issue detecte

[2017-08-17 02:14] smarterclayton commented on #50808
Removing defaulting is a breaking API change?  Can you link the issue where we removed it?

[2017-08-17 02:15] gyliu513 opened #50815 "Enable `kubefed init` support `tolerations`"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The `kubefed init` can not specify `tolerations`, this will cause that I cannot deploy my federation panel on node which has `taint`, it is better to enable the `kubefed init` can specify the `tolerations` so that I can deploy federation panel on node which have `taint` that the federation panel can tolerate.

**What

[2017-08-17 02:15] xiangpengzhao commented on #50736
@ixdy Thanks for the explanation! As this is just about small enhancement for contributor experience, both is ok to fix or not :)

[2017-08-17 02:16] xiangpengzhao commented on #50736
Feel free to close this issue when you think it's time to :)

[2017-08-17 02:25] crimsonfaith91 commented on #50808
@smarterclayton The server-side defaulting was removed for `apps/v1beta2` only.
The (closed) issue: https://github.com/kubernetes/kubernetes/issues/50339
The (merged) PR: https://github.com/kubernetes/kubernetes/pull/50164

[2017-08-17 02:28] gyliu513 opened #50817 "Enable `kubefed init` accept a file to set up the control panel"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
Now I need to use a complex command to for `kubefed init` to set up the federation control panel as following:

[code]

It would be great to enable `kubefed init` can accept a file just like what we do for `kubectl apply -f <filename>`, so that I can put all parameters in a file which is easy to maintain.

**What you

[2017-08-17 02:40] apelisse commented on #50466
And I think that's what I've addressed that in #50775 (making the GKE transport unwrappable), but as we can see, it fails for another reason. Any idea?

[2017-08-17 02:44] NickrenREN opened #50818 "Support a single local ephemeral storage type"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Now we support two types of local storage

**What you expected to happen**:
Support only one

**Anything else we need to know?**:
Have send PRs for quota,limitrange and downward api, but let us make the scheduler and eviction part checked in first.

I will work on it.

/assign @NickrenREN

/cc @jingxu97  @ddysher

[2017-08-17 02:44] NickrenREN commented on #50818
/sig storage

[2017-08-17 02:44] NickrenREN commented on #50818
/sig scheduling

[2017-08-17 02:50] #50473 closed

[2017-08-17 02:50] #36485 closed

[2017-08-17 03:05] liggitt commented on #50808
Both of those issues look like they were related to defaulting, not immutability.

[2017-08-17 03:11] liggitt commented on #50808
For that to work, you would also have to make the template labels immutable, which is another significant change (updating template labels is currently allowed).

I don't see a clear way to enforce immutability for the v1 API only, while staying compatible with the existing beta API.

[2017-08-17 03:13] hchenxa opened #50820 "The rescheduler can not be started up due to the stdout point to a directory"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
when create rescheduler resources with https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/rescheduler/rescheduler.manifest, find the pod started failed due to the rescheduler.log was a directory.

**What you expected to happen**:
The pod should be started and should use -logtostderr to output the l

[2017-08-17 03:14] DjangoPeng commented on #5607
@vishh Thanks! I'd like to follow up.

[2017-08-17 03:15] zjj2wry opened #50821 "kubectl set image report an error when always set same image"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
[code]
and i found error in ```return runtime.Encode(o.Encoder, info.Object)```

**What you expected to happen**:

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

**Environment**:
- Kubernetes version (use `kubectl version`): i use laster master kubectl
- Cloud provi

[2017-08-17 03:19] gyliu513 commented on #50820
/sig cluster-lifecycle

[2017-08-17 03:48] colindev commented on #12337
i have the same question on kube 1.7
my deployment need send REST api to a peering conn network at 10.5.x.x
but the API app need a host like [xxx.com]
so...
can i use a service
[code]
i try this, but it's not work

[2017-08-17 03:51] xiangpengzhao commented on #50821
/sig cli

[2017-08-17 03:52] xiangpengzhao commented on #50794
/sig storage

[2017-08-17 03:53] xiangpengzhao commented on #50622
maybe
/sig api-machinery
also.

[2017-08-17 04:06] rahanar commented on #50790
The issue is the same as #45050 and fixed in #47410

[2017-08-17 04:06] #50790 closed

[2017-08-17 04:23] liggitt commented on #50466
#50775 is necessary but not sufficient.

copied from https://github.com/kubernetes/kubernetes/pull/50775#issuecomment-322963183

the issue is with https://github.com/kubernetes/kubernetes/blob/4bfe9b1a568be137f72cf5dfc8bc2c1f13874548/staging/src/k8s.io/apimachinery/pkg/util/proxy/upgradeaware.go#L269-L282 that does not actually use the transport to handle the request, only to dial. That means that

[2017-08-17 04:47] liggitt commented on #50767
What cluster administrator actions would a PDB block (e.g. would it prevent a node drain from succeeding)? For the operations it would block, is there an ability for a cluster admin to override PDB if needed?

[2017-08-17 04:58] thockin commented on #50653
ugg, we need to get past this.  It's a ticking bomb.

[2017-08-17 05:13] caesarxuchao commented on #50714
Benchmark set up:
* on a gke 1.7.3 alpha cluster
* The cluster has 1 node, with 8 vCPUs
* 10 initializers running in serial.
* The initializer controllers were effectively no-op, they just patched the pod to remove the initializer from the pending list.
* The initializer controllers were deployed as 10 containers in a single pod.
* The cluster didn't have other workload.

Result:
* **The total cre

[2017-08-17 05:17] NickrenREN commented on #50246
cc @zjj2wry

[2017-08-17 05:20] liggitt commented on #50714
I don't disagree with exploring running initializers in parallel, but that SLO is being replaced by a better defined metric (see https://github.com/kubernetes/community/pull/881, which explicitly mentions initializer latencies)

[2017-08-17 05:25] mathspanda opened #50827 "add ut for pkg/api/toleration.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
There is no ut for pkg/api/toleration.go.

/sig testing

[2017-08-17 05:27] liggitt opened #50828 "Services with no backing pods result in frequent endpoints updates"
Currently, endpoints objects containing no subsets are decoded by the go client as subsets:[] (when requested individually) or as subsets:null (when requested in a list of endpoints).

Because the endpoints controller is fed via a lister/watcher, it gets the subsets:null version fed to it. The subsets computation then returns an empty slice, which fails reflect.DeepEqual, which triggers a write at

[2017-08-17 05:28] mathspanda opened #50829 "Add UT for pkg/kubectl/deployment.go"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind enhancement

**What happened**:
there is no UT for pkg/kubectl/deployment.go

/sig testing

[2017-08-17 05:28] mikedanese opened #50830 "race in mutation detector test"
[code]

[2017-08-17 05:32] smarterclayton commented on #50466
The transport that is used for upgrade needs to be invoked on the request
we use to dial the backend.  In theory we can use a capturing RoundTripper
to see the mutation (we use that in a few other places, and I needed it for
the websocket code).

On Thu, Aug 17, 2017 at 12:23 AM, Jordan Liggitt <notifications@github.com>
wrote:

[2017-08-17 05:34] #50666 closed

[2017-08-17 05:40] zjzhangkui commented on #49931
@gyliu513 Thanks for you proposal solution.
I had once considering treating time as metrics, but when I had checked the source code in kubernetes1.6,   the cusom metric value should be number value type to caculate usageRatio , time is not supported. Besides, the target replica count is caculated based on current replicas,  as the current replicas is not fixed value, may be have other scale metric

[2017-08-17 05:44] smarterclayton commented on #49911
Quantity should have always allowed > 2^63 - we have quite a bit of code to allow it.  The precision of the mantissa cannot go beyond 2^63 though.  There are a few subsystems in kube that chop that value to 63 bits though such as quota (for pod calculations).  In general, quantity should be able to exceed 2^63.

In this case... I'm surprised that you need to declare that much storage as being avai

[2017-08-17 06:37] tengqm opened #50833 "kube-apiserver admission control plugins registered too late"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

The current help message from kube-apiserver is wrong. It shows only the 'NamespaceLifecycle' plug-in is available, and the default value is `[AlwaysAdmit]`. Users cannot know what are the available plug-ins, and they get confused where `AlwaysAdmit` comes from.

[code]

**What you expected to happen**:

The correct outp

[2017-08-17 06:39] tengqm commented on #50661
related: #50833

[2017-08-17 06:42] tengqm commented on #50833
@kubernetes/sig-api-machinery-bugs

[2017-08-17 06:46] tengqm commented on #50699
Though not sure how far we are getting the plug-in migrated, I'm proposing a PR to the docs along with other plugins which were not documented:
https://github.com/kubernetes/kubernetes.github.io/pull/4751

[2017-08-17 07:01] spnzig commented on #50432
Currently i have to do a kubeadm reset. So logs are not available. However here is a snippet of log output that i was concerned about `Unable to authenticate the request due to an error: [invalid bearer token, [invalid bearer token, [crypto/rsa: verification error, invalid bearer token, oidc: JWT claims invalid: token is expired]]]
I0811 09:15:26.374799       7 compact.go:159] etcd: compacted rev

[2017-08-17 07:04] wojtek-t commented on #50714
Yes - exactly. That was our goal. If a user defines a custom initializer/webhook or sth we have completely no control over it, so we can't give any guarantees about it.
That said we decided to proceed with the approach that we guarantee the SLO only in a default setup. that if a users adds his own initializer, we can basically substract the time of it from the total latency.

However, if we are go

[2017-08-17 07:14] lidajia opened #50835 "job successed with pod not really successed, the pod's containers lifecycle postStart was error"
/kind bug

**What happened**:
I create a job witch podTemplate.spec.containers.lifecycle.postStart was defined error, such like exec <command not found>.  but the job status change to successed.

the pod created by the job with a status:
status.phase=Succeeded
status.Conditions.Initialized.status=True status.Conditions.Initialized.reason=PodCompleted
status.Conditions.Ready.status=False status.Con

[2017-08-17 07:31] CallMeFoxie commented on #50227
Could be related to #48327 - specifically the bottom comments related to DNS?

[2017-08-17 07:46] lidajia commented on #50835
@kubernetes/sig-Apps-bugs
@kubernetes/sig-contributor-experience-Apps

[2017-08-17 07:51] caesarxuchao commented on #50714
Thanks @liggitt @wojtek-t

That's my observation when debugging flaky e2e tests. The number is for the worst cases (otherwise the e2e test will pass).

RE. SLO, @erictune suggested the goal to be reducing the lower bound of initializers latency, e.g., assuming initializers are no-ops, how fast can 10 initializers finish. In this perspective, we might need to enable parallel initializers.

If watch

[2017-08-17 07:55] garethr commented on #24562
Just a note that exposing this information in the schema rather than the comment would be most useful for tools consuming that schema. For instance see this issue against kubeval https://github.com/garethr/kubeval/issues/18 which would be fixed with the addition of enums.

[2017-08-17 07:58] #47174 closed

[2017-08-17 08:07] cofyc commented on #34137
@vkamra

hi, what we plan to do in our production cluster are:

- monitor PVC status and capacity requested (we use [kube-state-metrics](https://github.com/kubernetes/kubernetes) to monitor PVC objects)
- monitor volume capacity (in bytes) (total and per volume) (1)
- monitor volume used (in bytes) (total and per volume) (2)
- monitor volume available (in bytes) (total and per volume) (3)
- monito

[2017-08-17 08:21] x13n commented on #50599
@piosz Version 1.7 had bigger buckets, so some difference is expected. What parameters are you invoking pod_nanny with? With the default ones (80mCPU + 0.5mCPU per node, 140Mi + 4Mi per node, acceptance offset 20%), current requirements are within bounds for 1k cluster:

80+(0.5*1000 - 20%) = 480 < 540mCPU
140+(4*1000 - 20%) = 3340 < 4.6GB

I can bump memory per node from 4Mi to 6Mi, in which case

[2017-08-17 08:30] crassirostris commented on #50820
All system components currently write logs in this fashion, see for example https://github.com/kubernetes/kubernetes/blob/master/cluster/saltbase/salt/kube-apiserver/kube-apiserver.manifest#L270

/cc @kubernetes/sig-storage-bugs @saad-ali

[2017-08-17 08:32] #38192 closed

[2017-08-17 08:32] #50828 closed

[2017-08-17 08:42] crassirostris commented on #50076
As far as I can see, there are actually two separate problems:

- Correlating audit events from the federation apiserver and the cluster apiserver
- Distinguishing the audit logs that came from the cluster apiserver, federation apiserver, kube-aggregator, etc.

If we're talking about the first one, in the [original proposal](https://github.com/kubernetes/community/blob/master/contributors/design-p

[2017-08-17 08:42] FengyunPan commented on #50726
After reading the codes of (https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack_loadbalancer.go#L606), I find another issuse.
if user enables  manage-security-groups, openstack cloud provider will recreate security group for service. We should check whether security group exist before creating it.
https://github.com/kubernetes/kubernetes/blob/master

[2017-08-17 08:52] kargakis commented on #50808
@mfojtik @tnozicka

[2017-08-17 08:53] gyliu513 commented on #49931
Thanks @zjzhangkui , I also have the same finding with you, @DirectXMan12 , what do you think for this?

[2017-08-17 09:28] iamzhout commented on #50748
@ybbaigo Have you tried `kubeadm init` to setup the cluster? I didn't see related steps in your description. Or if you can reproduce it exactly on another CentOS vm with the same steps you described?

[2017-08-17 09:32] gmarek commented on #26507
There was an effort to do so, and there's my old PR (#45962) that adds tracing to master-client communication, but I didn't have time to push it through. There's fundamental mismatch between kubernetes model and distributed tracing model (i.e. there's no notion of 'operation' in Kubernetes, hence there's no one 'thing' to which single span can be attached to).

[2017-08-17 09:45] tengqm commented on #50833
@guangxuli Thanks for confirming this. I'm already working on it. Will submit pr in minutes.

[2017-08-17 10:15] mikebryant commented on #25321
ref #45398

[2017-08-17 10:17] mikebryant commented on #45398
In particular, even updates to the `.metadata.labels` appear to be blocked, and the error message is wrong, as I'm not trying to update the `spec`

[code]

[2017-08-17 11:21] sstarcher commented on #46083
@dujun1990 I never dug into the issue so I don't know.

[2017-08-17 11:56] guangxuli commented on #50833
@tengqm  cool. :)

[2017-08-17 11:59] zjj2wry commented on #49695
@Firehed detaild report. thank you very much.

[2017-08-17 12:34] mykaul commented on #12400
Doesn't work for me: CentOS 7.3, bash-completion 2.1-6.el7, kubectl-1.7.3-1

[2017-08-17 12:51] bilalyasar opened #50844 "connection between services are failing in the first attempt"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind bug

**What happened**:

[code]
inside my cluster, one of the micro service calls the another one.. but always the first request is failing.. the others are success, I'm using golang http client.
I found that, if there is some time gap from the last request this error happens.
I suspect this might be kube-dns issue

**Environment**:
- Kubernetes

[2017-08-17 12:53] dorsegal commented on #40244
+1

[2017-08-17 12:55] alexbrand commented on #42926
EOL for docker 1.12 is 2017-11-14 according to their [maintenance lifecycle page](https://success.docker.com/Policies/Maintenance_Lifecycle). Is this issue still active, or is there another one that is tracking the validation of newer versions of docker engine?

[2017-08-17 12:59] bilalyasar commented on #50844
/sig network

[2017-08-17 13:00] bilalyasar commented on #50844
@kubernetes/sig-network

[2017-08-17 13:02] seh commented on #50767
It can block a node drain from proceeding, yes, per the documentation on [how PDBs work](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#how-disruption-budgets-work) and [the example](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/#pdb-example).

[The eviction API returns HTTP status code 429](https://kubernetes.io/docs/tasks/administer-cluster/safely-drain-node/#th

[2017-08-17 13:02] bilalyasar commented on #50844
@kubernetes/sig-network-bugs

[2017-08-17 13:06] tlbdk opened #50845 "fluentd gcp addon seems to have wrong max values"
**What happened**:

[code]

**What you expected to happen**:
My logs should show up in slackdriver

**How to reproduce it (as minimally and precisely as possible)**:
We are seeing this in a production system where we trigger this issue, but can't see why.

**Anything else we need to know?**:

Could it be that the default limits in the fluentd gcp image is wrong?

https://cloud.google.com/logging/q

[2017-08-17 13:09] crassirostris commented on #50845
@tlbdk From the message I see that fluentd fails to talk to Stackdriver. Do you see the failed requests in the API manger? Is there more information in the logs regarding e.g. the http status code?

[2017-08-17 13:49] denkensk opened #50847 "k8s 1.7.3 secret mount but can not find in container"
Is this a BUG REPORT or FEATURE REQUEST?:
/kind bug

**What happened**:
secret mount but can not find in container

-kubectl describe pods nginx-dm-81026071-drq05
![image](https://user-images.githubusercontent.com/8958057/29415333-4d022426-8395-11e7-9719-3c42524e6481.png)

-in vm, I can find secret in /var/lib/kubelet/pods/fdcbe17e-8351-11e7-9c67-fa163ea2f8ed/volumes/kubernetes.io~secret/default-t

[2017-08-17 13:53] denkensk commented on #50847
![image](https://user-images.githubusercontent.com/8958057/29415595-1d7dc524-8396-11e7-98ed-0969b51a37b7.png)

[2017-08-17 13:54] denkensk commented on #50847
![image](https://user-images.githubusercontent.com/8958057/29415780-af197cda-8396-11e7-82d3-53463f27f000.png)

[2017-08-17 13:55] denkensk commented on #50847
![image](https://user-images.githubusercontent.com/8958057/29415796-bdc0a8bc-8396-11e7-8606-f1a3eaace555.png)

[2017-08-17 13:56] denkensk commented on #50847
/sig bug

[2017-08-17 14:03] Raffo commented on #49966
This is probably only an improvement, but not a fix as I see the same test failing again: https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/48963/pull-kubernetes-e2e-gce-etcd3/47829/#sig-api-machinery-garbage-collector-should-not-delete-dependents-that-have-both-valid-owner-and-owner-thats-waiting-for-dependents-to-be-deleted

[2017-08-17 14:10] denkensk commented on #50847
/sig Auth

[2017-08-17 14:16] jenningsloy318 commented on #49281
This is is fixed by add `Delegate=yes` to kubelet.service file and we can set `--cgroup-root=/container.slice` in kubelet command line. so all pod will resize under `/container.slice/kubepods.slice`.

[2017-08-17 14:16] #49281 closed

[2017-08-17 14:17] #46774 closed

[2017-08-17 14:18] jenningsloy318 commented on #50770
@huzhengchuan

I encountered same error,  but I fixed it now. hope #49281 can help you.

[2017-08-17 14:23] ironcladlou commented on #49966
@Raffo

The flake you linked is https://github.com/kubernetes/kubernetes/issues/42086.

#50335 is intended to (and seems to have) have resolved the flake covered by this issue.

[2017-08-17 14:58] tlbdk commented on #50845
@crassirostris yes, I'm seeing 8081 http status 500 errors in the last day, is there a way to see that request or response that failed?

[2017-08-17 15:03] julia-stripe opened #50850 "Cronjobs with names longer than 52 characters fail to schedule jobs"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:

We have some cron jobs with longish names (~60 characters), and noticed that the corresponding jobs weren't being created by the cronjob controller because the name was too long.

Here's what happened: There's a 63-character limit on job names (because for some reason on job creation the name gets copied into a label, wh

[2017-08-17 15:03] FengyunPan opened #50851 "Support for specifying external LoadBalancerIP on openstack"
**Is this a BUG REPORT or FEATURE REQUEST?**:
/kind feature

**What happened**:
Currently openstack cloud provider just support for specifying internal LoadBalancerIP. I think that is unreasonable, actually user just use a floating ip to access a LoadBalancer service. So it is necessary to spport for specifying external LoadBalancerIP.

**What you expected to happen**:
Support for specifying exter

[2017-08-17 15:04] crassirostris commented on #50845
@igorpeshansky Could you please reference some docs for debugging this issue?

[2017-08-17 15:04] FengyunPan commented on #50851
/sig openstack
/assign
I'd like to work for it.

[2017-08-17 15:05] julia-stripe commented on #50850
/sig area/workload-api/cronjob

[2017-08-17 15:06] shyamjvs commented on #49673
I think this issue is becoming increasingly important, as I've been asked by at least 3 people by now why the kube-up/kube-down scripts are failing.
Could someone make sure it's fixed asap?

[2017-08-17 15:07] julia-stripe commented on #50850
/sig apps

[2017-08-17 15:08] julia-stripe commented on #50850
/area workload-api/cronjob

[2017-08-17 15:17] Ian-Rossi-aimtheory commented on #11994
I could really use this to get pod event data in JSON format.

[2017-08-17 15:59] sedatkestepe commented on #43800
I don't want to repeat. I already gave a thumbs up to @praving55 but I'll add one detail for the status of the service:

[root@bigdev1 ~]# systemctl status kubelet
● kubelet.service - kubelet: The Kubernetes Node Agent
   Loaded: loaded (/etc/systemd/system/kubelet.service; enabled; vendor preset: disabled)
  Drop-In: /etc/systemd/system/kubelet.service.d
           └─10-kubeadm.conf
   Active: ac

[2017-08-17 16:16] mwielgus commented on #47511
As we didn't manage to find anyone to fix Azure support we have to disable it / comment it out until the situation improves.
cc: @jdumars @brendanburns

[2017-08-17 16:19] wawastein commented on #48968
I can confirm that following works:

[code]
While `type: Recreate` **does not**.

It still feels clumsy: it does not prevent the situation from happening, but if I understand right, just recreates pod until it gets on "right" node, where the volume was mounted. I can see pod fail after deployment due to volume being stuck with another node, but after a restart or two pod starts working.

[2017-08-17 16:23] dfcowell commented on #48968
@wawastein are you saying that this gives a **faster recovery time** than `type: Recreate` or that `type: Recreate` just **doesn't work at all**?

I'm seeing a lot of success with `type: Recreate` bringing downtime from interminable (hours, in the worst test case) to 2-3 minutes downtime. If that configuration gives better performance than that I would definitely be interested.

[2017-08-17 16:31] yguo0905 commented on #42926
Yes, it's active and being tracked in this issue (if you see the attached PRs).

- The node/cluster e2e tests are running fine against the cos image with docker 1.13.
- The test for shared PID namespace has been added.
- The test for live-restore is in review and is expected to be merged today. https://github.com/kubernetes/kubernetes/pull/50277.
- The test for overlay2 is under development.
- We

[2017-08-17 17:05] MrHohn commented on #50227
@CallMeFoxie Thanks, that seems to be the cause.

[2017-08-17 17:07] shyamjvs opened #50854 "Kubemark-5000 flaking during hollow-node creation"
Some e.g runs that failed:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/563
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/567
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/logs/ci-kubernetes-kubemark-gce-scale/576

They all failed with the following error:

[code]

cc @kubernetes/

[2017-08-17 17:08] shyamjvs commented on #50854
The reason is that none of the kubelets even received the hollow-node pods, which in turn was due to scheduler not able to schedule them because of:

[code]

[2017-08-17 17:11] smarterclayton commented on #49911
Why are you making out the values?  It helps us to understand why you are
doing that.

On Thu, Aug 17, 2017 at 11:12 AM, Arun M. Krishnakumar <
notifications@github.com> wrote:

[2017-08-17 17:11] shyamjvs commented on #50854
And the reason why all the nodes had NodeNetworkUnavailable condition is because the route-controller failed to create routes for the nodes. And that was due to failing list routes call to GCE:

[code]

[2017-08-17 17:20] cberner commented on #50568
I've been experiencing a related issue, which is that `gcr.io` throttles our pulls of `gcr.io/google_containers/pause-amd64:3.0` with a `Quota Exceeded` error. Presumably this is because our Kube cluster is in Azure and therefore NAT'ing causes our requests to come from the same IP addresses as many other customers

[2017-08-17 17:27] enisoc commented on #50720
ref #50536

[2017-08-17 17:30] mtaufen opened #50855 "To global Scheme, or not to global Scheme"
This issue is for continuing the discussion here https://github.com/kubernetes/kubernetes/pull/50789#discussion_r133549650

on whether to have global schemes per API group, or to construct schemes as needed and plumb to usage sites.

[2017-08-17 17:33] bgrant0607 commented on #831
From today's community meeting: It would be great for someone to prototype this as a FlexVolume

[2017-08-17 17:38] bgrant0607 commented on #21925
Kubernetes has HorizontalPodAutoscaler now.

Cluster autoscaling also exists on many platforms, such as GKE.

Event-driven FaaS platforms under development may facilitate this.

I can't imagine we'd implement features for this specific use case.

[2017-08-17 17:38] #21925 closed

[2017-08-17 17:40] mtaufen commented on #50855
And of course, if you can live with multiple copies of a Scheme floating around, then local is the clear-winner.

[2017-08-17 17:46] kow3ns commented on #50808
@smarterclayton defaulting is removed only in apps/v1beta2 not in apps/v1beta1. As you say, that is a breaking change that we can't make to the existing group version.

@liggitt if we make the selector immutable, and require via validation (as we do now) that the labels match the provided selector for the object to be valid, we get the desired behavior. This is a less strict requirement than makin

[2017-08-17 17:51] ericchiang commented on #50432
This seems like your issue. Your token has expired.

You might want to consider using a refresh token. Per https://kubernetes.io/docs/admin/authentication/#using-kubectl

[2017-08-17 17:52] denkensk commented on #50847
/sig bug

[2017-08-17 17:54] kow3ns commented on #50808
@smarterclayton issue for defaulting #50339

[2017-08-17 17:56] wojtek-t commented on #50854
I would say to quickest fix for that is (and I think we should do that anyway):
[code]

This obviously is not fixing the problem itself, but it will mitigate the consequences (and I think that it should be running in a separate project anyway).

[2017-08-17 17:56] hobti01 commented on #2630
Thank you @antoineco for the suggestions that brought many hours of searching to an end.  It seems that this issue is focused on host directories, but there weren't any hints for "Using Persistent Volumes as non-root user" within the Persistent Volumes [Using](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#using) section.

I was successful with a simple addition to the Pod.spec us

[2017-08-17 17:58] andrewsykim commented on #49308
FYI after speaking with some people on slack, I've started work on this issue. Please let me know if there are design changes I should consider.

[2017-08-17 18:00] shyamjvs commented on #50854
Discussed offline with @ignacyk to unblock other tests.

[2017-08-17 18:02] jhorwit2 commented on #49308
Thanks @andrewsykim!

[2017-08-17 18:05] crimsonfaith91 commented on #50808
The PR implementing selector immutability for v1beta2 deployment, replicaset and daemonset prior update: https://github.com/kubernetes/kubernetes/pull/50719/

[2017-08-17 18:12] ericchiang commented on #50076
I think this would be like trying to correlate a request to create a replicaset with the follow up request to create a pod. This seems out of scope for the audit log, and should probably be addressed by annotations or ownerRef equivalent, right?

[2017-08-17 18:20] j-griffith commented on #50461
@mnaser Could you provide the log information for the failure and your config if you get a chance?  If a bsVersion isn't specified I believe the auto detection in openstack.go still works even with the new unified API endpoint names.  It does in fact call out to keystone to find the endpoints, so this should still work but I might be missing something.  I'll try and set up a fresh env today and ha

[2017-08-17 18:35] igorpeshansky commented on #50845
This is happening on the server side. You'll want to ask the backend team to find those 500s. I'm on vacation, so @qingling128 can point you at the right people to mention.
The only known (to me) 500 happens when the total request size is too big, but with gRPC, a 2M chunk should not produce anything close to the 10M limit when encoded.

[2017-08-17 18:38] jwendell opened #50857 "chunked response without the data size (http1)"
/kind bug
/sig api-machinery

kubernetes is sending a broken response when watching logs over HTTP 1.1. It sends a chunked response without sending the the size of the chunk first.

[Relevant RFC for reference.](https://tools.ietf.org/html/rfc7230#section-4.1)

Example:
[code]

**Environment**:
- Kubernetes version (use `kubectl version`):
[code]

[2017-08-17 18:43] shyamjvs commented on #50854
fyi @piosz - I guess you faced this issue earlier too.

[2017-08-17 18:47] jwendell commented on #50857
/sig api-machinery

[2017-08-17 18:55] rkamudhan commented on #49964
+1 for this feature, we are investigating numa awareness feature though SRIOV CNI

[2017-08-17 18:58] deads2k commented on #50855
@sttts and I had considered one scheme per process, but having used it a little more, I think I prefer plumbing a scheme to the places that need it.  The clients do this for you automatically, leaving mostly just the server-side of things to maintain and plumb into their storage methods.

[2017-08-17 19:17] qingling128 commented on #50845
@tlbdk Can you share the project id? Through email if needed.

[2017-08-17 19:18] #50696 closed

[2017-08-17 19:20] spzala commented on #26477
@clanstyles hi, seems like this is an user error. Can you please see if the solution provided by @cackharot works for you? If so, would you please close the issue?  https://stackoverflow.com/questions/ask/advice?tags=kubernetes is a good place to ask questions for a quick help. Thanks!

[2017-08-17 20:12] mbohlool opened #50863 "OpenAPI aggregation refresh"
Current implementation of OpenAPI aggregation assumes the specs are static. We need a way to update the aggregated spec when the specs changed. One simple solution could be refreshing specs periodically.

@sttts @deads2k

[2017-08-17 20:19] Ninja3047 opened #50865 "gcr.io/google_containers/pause-amd64:3.0 needs version update to support shared pids"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
pause does not reap zombie processes using the default pause container provided by gcr.io/google_containers/pause-amd64:3.0

**What you expected to happen**:
gcr.io/google_containers/pause-amd64:3.0 should include the up to date pause code to reap zombie processes when using docker >= 1.13.1 found here

https://github.com

[2017-08-17 20:32] Ninja3047 commented on #50865
@kubernetes/sig-node-bugs

[2017-08-17 20:41] #49883 closed

[2017-08-17 20:41] briangruber opened #50866 "websockets and sessionAffinity do not seem to be working in Google Container Engine (GKE)"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind bug

**What happened**:
I'm using Google Container Engine and the Node pool version is currently 1.7.0
I'm trying to get websockets to load balancer to the same pod. If I have a yaml file like below for a `LoadBalancer` then it does seem to send me to the same pod if I go directly to the loadBalancerIP using standard http(s). But as soon as webs

[2017-08-17 20:50] tlbdk commented on #50845
Our project id is connectedcars-147810

[2017-08-17 20:56] rickypai commented on #831
I'd be interested to work on this. It seems like FlexVolume is more like a generalized API to support third-party volumes? there's still the open question of how does the scheduler handle the containers used as volumes

[2017-08-17 21:00] mml commented on #50454
/assign

[2017-08-17 21:00] erictune commented on #50714
@liggitt clearly if the initializers are slow, we don't want to count that against the SLO.

On the other hand, if we end up shipping default initializers with Kubernetes, those need to fall under the SLO. I've heard people mention moving some things that are currently compiled in admission controllers to initializers.

[2017-08-17 21:02] mml commented on #50518
/assign @tallclair

[2017-08-17 21:03] rickypai commented on #12337
@colindev would this work for you? https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/

[2017-08-17 21:03] mml commented on #50519
cc @caesarxuchao

[2017-08-17 21:06] mml commented on #50528
/assign @caesarxuchao

[2017-08-17 21:06] wojtek-t commented on #50714
Correct - this is exactly what I wanted to express above saying:

[2017-08-17 21:07] mml commented on #50564
/assign @jpbetz

[2017-08-17 21:07] mml commented on #50564
cc @cheftako

[2017-08-17 21:08] erictune commented on #50714
Ah, sorry, Wojtek, yes, agree with what you already said.

[2017-08-17 21:09] mml commented on #50622
/assign @jpbetz cc @mml

[2017-08-17 21:09] erictune commented on #50714
@caesarxuchao do we have an estimate of how many initializers we expect to be default, a few versions from now?

[2017-08-17 21:13] mml commented on #50661
cc @mml

[2017-08-17 21:13] bgrant0607 commented on #7856
Updated from https://github.com/kubernetes/community/pull/606

Conditions were created as a way to wean contributors off of the idea of state machines with mutually exclusive states (called "phase").

Each condition should represent a non-orthogonal "state" of a resource -- is the resource in that state or not (or unknown).

Arbitrarily typed/structured status properties specific to a particular r

[2017-08-17 21:14] mml commented on #50781
/sig instrumentation
/assign @tallclair

[2017-08-17 21:15] caesarxuchao commented on #50793
cc @ironcladlou

[2017-08-17 21:18] mml commented on #50830
cc @mml @jpbetz

[2017-08-17 21:22] caesarxuchao commented on #50855
/sub

[2017-08-17 21:23] mml commented on #50857
/assign @mbohlool

[2017-08-17 21:23] mml commented on #50857
cc @jpbetz

[2017-08-17 21:26] pci commented on #49423
Here's another false negative in TestEtcdStoragePath:
https://k8s-gubernator.appspot.com/build/kubernetes-jenkins/pr-logs/pull/50398/pull-kubernetes-unit/47478/

[2017-08-17 21:29] mml commented on #46073
@justinsb Looking forward to seeing a design doc for this when it's ready.
/sig archictecture

[2017-08-17 21:33] crimsonfaith91 commented on #50795
I have sent out a PR that changes API version of statefulset scale subresource e2e test to `v1beta2`: https://github.com/kubernetes/kubernetes/pull/50861

[2017-08-17 21:37] tessiof opened #50868 "Documentation about required ports is lacking"
**Is this a BUG REPORT or FEATURE REQUEST?**:

/kind feature

**What happened**:
The [documentation](https://kubernetes.io/docs/setup/independent/install-kubeadm/) says I need to "check required ports", which is vague and don't convey much meaning.

**What you expected to happen**:
Specify the transport protocol (TCP or UDP) of each port, if I need to accept outgoing or incoming traffic, and to/fr